@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,600,700);

/* Icy Veins CSS Reset (taken from http://meyerweb.com/eric/tools/css/reset/) */
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

html {
  overflow-y:scroll;
  font-family: 'Open Sans', sans-serif;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em { font-style:italic; }

a {
  text-decoration:none;
  color:#78dcff;
}

a:hover {
  text-decoration:none;
  color:#bef0ff;
}

a:active {
  text-decoration:none;
  color:white;
}

b {
  font-weight:700;
}

.header, .shadowed_header {
  /* font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;
}

.shadowed_header {
  text-shadow:-1px -1px 1px rgba(0,0,0,0.8); 
}

.relative {
  position:relative;
}

.text_color {
  color:#cccccc;
}

body {
  background-color:black;
}

@media only screen and (min-device-width: 768px) {
body {
  line-height: 1;
  background-color:black;
  background-image:url('http://static.icy-veins.com/images/common/side-background.jpg'), url(http://static.icy-veins.com/images/common/footer.jpg);
  background-position:center top, center bottom;
  background-repeat:no-repeat;
}
}

body.force_desktop {
  line-height: 1;
  background-color:black;
  background-image:url('http://static.icy-veins.com/images/common/side-background.jpg'), url(http://static.icy-veins.com/images/common/footer.jpg);
  background-position:center top, center bottom;
  background-repeat:no-repeat;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 768px) and (min-device-pixel-ratio: 2) {
body,
body.force_desktop {
  background-image:url('http://static.icy-veins.com/images/common/side-background-retina.jpg'), url(http://static.icy-veins.com/images/common/footer-retina.jpg);
  background-size:2000px 1297px, 2000px 278px;
}
}

#main {
  width:100%;
}

.background {
  background-color:#162c44;
}

@media only screen and (min-device-width: 768px) {
#main {
  width: 768px;
  margin:0 auto;
}
}

@media only screen and (min-device-width: 1070px) {
#main {
  width:1070px;
  margin:0 auto;
}
}

body.force_desktop #main {
  width:1070px;
  margin:0 auto;
}

/* HEADER & FOOTER */

#header {
  width:100%;
  min-height:50px;
  position:relative;
  z-index:9000;
  background-image:url('http://static.icy-veins.com/images/common/header-background-mobile.jpg');
  background-repeat:no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
#header {
  background-image:url('http://static.icy-veins.com/images/common/header-background-mobile-retina.jpg');
  background-size:768px 50px;
}
}

@media only screen and (min-device-width: 1070px) {
#header {
  min-height:initial;
  height:130px;
  background-image:url('http://static.icy-veins.com/images/common/header-background-5-games.jpg');
}

#header.minified {
  width:1070px;
  height:50px;
  background-image:url('http://static.icy-veins.com/images/common/minified-navigation-5-games.jpg');
  position:fixed;
}

#header.minified #icy_veins_logo {
  display:none;
}
}

@media only screen and (min-device-width: 1070px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 1070px) and (min-device-pixel-ratio: 2) {
#header {
  background-image:url('http://static.icy-veins.com/images/common/header-background-5-games-retina.jpg');
  background-size:1070px 130px;
}

#header.minified {
  background-image:url('http://static.icy-veins.com/images/common/minified-navigation-5-games-retina.jpg');
  background-size:1070px 50px;
}
}

body.force_desktop #header {
  min-height:initial;
  height:130px;
  background-image:url('http://static.icy-veins.com/images/common/header-background-5-games.jpg');
}

body.force_desktop #header.minified {
  width:1070px;
  height:50px;
  background-image:url('http://static.icy-veins.com/images/common/minified-navigation-5-games.jpg');
  position:fixed;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
body.force_desktop #header {
  background-image:url('http://static.icy-veins.com/images/common/header-background-5-games-retina.jpg');
  background-size:1070px 130px;
}
body.force_desktop #header.minified {
  background-image:url('http://static.icy-veins.com/images/common/minified-navigation-5-games-retina.jpg');
  background-size:1070px 50px;
}
}

body.force_desktop #header.minified #icy_veins_logo {
  display:none;
}


#icy_veins_logo {
  display:none;
}

@media only screen and (min-device-width: 1070px) {
#icy_veins_logo, #header.minified #icy_veins_mobile_logo {
  display:block;
  height:90px;
  width:380px;
  position:absolute;
  left:0px;
  bottom:0px;
  box-shadow: 0 4px 5px 0px rgba(0,0,0,0.5);
}

#icy_veins_logo img {
  position:absolute;
  left:10px;
  bottom:7px;
  width:275px;
}
}

body.force_desktop #icy_veins_logo, #header.minified #icy_veins_mobile_logo {
  display:block;
  height:90px;
  width:380px;
  position:absolute;
  left:0px;
  bottom:0px;
  box-shadow: 0 4px 5px 0px rgba(0,0,0,0.5);
}

body.force_desktop #icy_veins_logo img {
  position:absolute;
  left:10px;
  bottom:7px;
  width:275px;
}

#icy_veins_mobile_logo {
  position:absolute;
  left:10px;
  top:10px;
}

#icy_veins_mobile_logo img {
  height:25px;
}

@media only screen and (min-device-width: 1070px) {
#icy_veins_mobile_logo {
  display:none;
}

#header.minified #icy_veins_mobile_logo {
  display:block;
  left:0px;
  top:0px;
  width:378px;
  height:50px;
}

#header.minified #icy_veins_mobile_logo img {
  position:absolute;
  left:40px;
  top:10px;
  height:25px;
}
}

body.force_desktop #icy_veins_mobile_logo {
  display:none;
}

body.force_desktop #header.minified #icy_veins_mobile_logo {
  display:block;
  left:0px;
  top:0px;
  width:378px;
  height:50px;
}

body.force_desktop #header.minified #icy_veins_mobile_logo img {
  position:absolute;
  left:40px;
  top:10px;
  height:25px;
}

#tagline {
  display:none;
  position:absolute;
  left:185px;
  top:20px;
  color:#e64632;
  font-size:12px;
  font-weight:700;
}

@media only screen and (min-device-width: 550px) {
#tagline {
  display:initial;
}
}

@media only screen and (min-device-width: 1070px) {
#tagline {
  left:125px;
  top:105px;
}

#header.minified #tagline {
  left:220px;
  top:21px;
}
}

body.force_desktop #tagline {
  display:initial;
  left:125px;
  top:105px;
}

body.force_desktop #header.minified #tagline {
  left:220px;
  top:21px;
}

.search_bar_active #tagline {
  display:none;
}

@media only screen and (min-device-width: 650px) {
.search_bar_active #tagline {
  display:initial;
}
}

#search_link, #shop_link, #forums_link {
  color:#78dcff;
  font-size:12px;
}

#search_link a:hover, #shop_link a:hover, #forums_link a:hover {
  text-decoration:none;
}

#forums_link {
  position:absolute;
  top:17px;
  right:130px;
}

#forums_link img { width:19px; }

#shop_link {
  position:absolute;
  top:17px;
  right:90px;
}

#shop_link img { width:17px; }

#search_link {
  position:absolute;
  top:19px;
  right:55px;
}

#search_link img { width:14px; }

#forums_link>a>span,
#shop_link>a>span,
#search_link>a>span {
  display:none;
  margin-left:5px;
  position:relative;
}

#forums_link>a>span { top:-5px; }
#shop_link>a>span { top:-3px; }
#search_link>a>span { top:-3px; }

@media only screen and (min-device-width: 450px) {
#forums_link { right:195px; }
#shop_link { right:126px; }

#forums_link>a>span,
#shop_link>a>span,
#search_link>a>span {
  display:initial;
}
}

body.force_desktop #forums_link>a>span,
body.force_desktop #shop_link>a>span,
body.force_desktop #search_link>a>span {
  display:initial;
}

.search_bar_active #forums_link { right:245px; }
.search_bar_active #shop_link { right:320px; }

.search_bar_active #search_header_container {
  width:180px;
  top:-4px;
  position:relative;
}

@media only screen and (min-device-width: 1070px) {
#forums_link { right:397px; top:12px; }
#shop_link { right:312px; top:12px; }
#search_link { right:226px; top:14px; }
.search_bar_active #search_header_container {
  width:300px;
  top:-3px;
}
.search_bar_active #search_link { top:11px; }
.search_bar_active #forums_link { right:535px; }
.search_bar_active #shop_link { right:630px; }
}

body.force_desktop #forums_link { right:342px; top:12px; }
body.force_desktop #shop_link { right:257px; top:12px; }
body.force_desktop #search_link { right:171px; top:14px; }
body.force_desktop .search_bar_active #search_header_container {
  width:300px;
  top:-3px;
}
body.force_desktop .search_bar_active #forums_link { right:505px; }
body.force_desktop .search_bar_active #shop_link { right:600px; }

.search_bar_active #search_link>a {
  display:none;
}

.search_bar_active .gsc-clear-button {
  display:none;
}

#header.minified #forums_link { display:none; }
#header.minified #shop_link { display:none; }
#header.minified #search_link { display:none; }

#mobile_menu_button {
  position: absolute;
  top:20px;
  right:16px;
  width:16px;
}

@media only screen and (min-device-width: 1070px) {
#mobile_menu_button {
  display:none;
}
}

body.force_desktop #mobile_menu_button {
  display:none;
}

#social_media {
  display:none;
  position:absolute;
  top:11px;
  right:17px;
}

@media only screen and (min-device-width: 1070px) {
#social_media {
  display:block;
}
}

body.force_desktop #social_media {
  display:block;
}

#header.minified #social_media {
  display:none;
}

span.sprite_social {
  width:20px;
  height:18px;
  background-image:url('http://static.icy-veins.com/sprites/common-social-icons-236dac3ec8d1567e1b48b6f4ce9fd273.png');
  display:inline-block;
  position:absolute;
  top:0px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
span.sprite_social {
  background-image:url('http://static.icy-veins.com/sprites/common-social-icons-retina-6caf36c7ab4e9b853891480a17f268b3.png');
  background-size:170px 18px;
}
}

span.sprite_social_facebook { background-position:-0px 0px; right:100px;}
span.sprite_social_facebook:hover { opacity:0.7; }
span.sprite_social_twitter { background-position:-25px 0px; right:75px; }
span.sprite_social_twitter:hover { opacity:0.7; }
span.sprite_social_feed { background-position:-75px 0px; right:25px;}
span.sprite_social_feed:hover { opacity:0.7; }
span.sprite_social_email { background-position:-100px 0px; right:0px;}
span.sprite_social_email:hover { opacity:0.7; }
span.sprite_social_youtube { background-position:-50px 0px; right:50px;}
span.sprite_social_youtube:hover { opacity:0.7; }
span.sprite_social_discord { background-position:-125px 0px; right:125px;}
span.sprite_social_discord:hover { opacity:0.7; }
span.sprite_social_twitch { background-position:-150px 0px; right:150px;}
span.sprite_social_twitch:hover { opacity:0.7; }

#footer {
  display:none;
}

@media only screen and (min-device-width: 1070px) {
#footer {
  display:block;
}
}

body.force_desktop  #footer {
  display:block;
}

#footer {
  width:870px;
  padding-left:100px;
  padding-right:100px;
  padding-top:40px;
}

#footer_content_links {
  width:100%;
}

#footer_content_links>div {
  display:inline-block;
  width:20%;
  vertical-align:top;
}

#footer_content_links>div>span {
  color:white;
  font-size:14px;
  font-weight:600;
}

#footer_content_links>div ul {
  margin-top:30px;
}

#footer_content_links>div li {
  font-size:12px;
  margin-bottom:7px;
}

#footer_divider {
  width:100%;
  margin-top:25px;
  text-align:center;
}

#footer_divider img {
  width:773px;
}

#footer_static_links_social_media {
  margin-top:15px;
  font-weight:600;
  font-size:14px;
  width:100%;
}

#footer_static_links_social_media>span {
  margin-right:30px;
}

#footer_social_media {
  display:inline-block;
  width:125px;
  height:14px;
  position:relative;
}

#copyright {
  display:block;
  text-align:center;
  width:100%;
  padding-top:35px;
  padding-bottom:50px;
  font-size:10px;
}

/* NAVIGATION */

#games {
  display:none;
  text-align:center;
  padding-top:46px;
}

#games>div {
  display:inline-block;
  width:20%;
  padding:3px 0px;
}

#games>div.selected {
  background-color:#1d364f;
}

@media only screen and (min-device-width: 1070px) {

#games>div.selected {
  box-shadow:inset 0 9px 5px -5px rgba(0,0,0,0.5);
  z-index:-1;
}

#games>div.not_selected {
  box-shadow: 0 4px 5px 0px rgba(0,0,0,0.5);
}
}

body.force_desktop #games>div.selected {
  box-shadow:inset 0 9px 5px -5px rgba(0,0,0,0.5);
  z-index:-1;
}

body.force_desktop #games>div.not_selected {
  box-shadow: 0 4px 5px 0px rgba(0,0,0,0.5);
}

span.sprite_games {
  width:50px;
  height:50px;
  background-image:url('http://static.icy-veins.com/sprites/common-game-icons-f59e96175932897e2e3db00c4c9869bf.png');
  display:inline-block;
}

span.sprite_games_wow { background-position:-0px 0px; }
span.sprite_games_hearthstone { background-position:-50px 0px; }
span.sprite_games_d3 { background-position:-100px 0px; }
span.sprite_games_heroes { background-position:-150px 0px; }
span.sprite_games_overwatch { background-position:-200px 0px; }
span.sprite_games_starcraft { background-position:-250px 0px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
span.sprite_games {
  background-image:url('http://static.icy-veins.com/sprites/common-game-icons-retina-8cd5b29249a9af56b94d8324df1d96fb.png');
  background-size:300px 50px;
}
}

#header.minified span.sprite_games, .box_switch span.sprite_games {
  width:30px;
  height:30px;
  background-image:url('http://static.icy-veins.com/sprites/common-game-icons-minified-594d3b75640e23a9000e68a4051601dd.png');
  display:inline-block;
}

#header.minified span.sprite_games_wow, .box_switch span.sprite_games_wow { background-position:-0px 0px; }
#header.minified span.sprite_games_hearthstone, .box_switch span.sprite_games_hearthstone { background-position:-30px 0px; }
#header.minified span.sprite_games_d3, .box_switch span.sprite_games_d3 { background-position:-60px 0px; }
#header.minified span.sprite_games_heroes, .box_switch span.sprite_games_heroes { background-position:-90px 0px; }
#header.minified span.sprite_games_overwatch, .box_switch span.sprite_games_overwatch { background-position:-120px 0px; }
#header.minified span.sprite_games_starcraft, .box_switch span.sprite_games_starcraft { background-position:-150px 0px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
#header.minified span.sprite_games, .box_switch span.sprite_games {
  background-image:url('http://static.icy-veins.com/sprites/common-game-icons-minified-retina-578a2d9dce8b722c11b01f68e584bbbf.png');
  background-size:180px 30px;
}
}

#games>div>a>span {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#games>div>a>span.game_name {
  display:none;
}

@media only screen and (min-device-width: 600px) {
#games>div>a>span.game_name {
  display:block;
}
}

body.force_desktop #games>div>a>span.game_name {
  display:block;
}

@media only screen and (min-device-width: 1070px) {
#games>div>a>span.game_name {
  margin-top:4px;
}

#header.minified #games>div>a>span.game_name {
  margin-top:0px;
}
}

body.force_desktop #games>div>a>span.game_name {
  margin-top:4px;
}

body.force_desktop #header.minified #games>div>a>span.game_name {
  margin-top:0px;
}

#games>div {
  font-size:16px;
  font-weight:700;
}

#games>div>a {
  color:white;
}

@media only screen and (min-device-width: 1070px) {
#games {
  display:block;
  position:relative;
  padding:0px;
}

#games>div {
  position:absolute;
  text-align:center;
  top:40px;
  height:90px;
  display:initial;
  padding:0px;
}

#header.minified #games>div {
  font-size:14px;
}

#header.minified #games>div {
  top:0px;
  height:50px;
}

#games>div>a {
  height:80px;
  padding-top:10px;
  display:block;
}

#header.minified #games>div>a {
  height:49px;
  padding:1px;
}

#games>div>a:hover {
  color:white;
}

#games>div#game_wow {
  left:379px;
  width:139px;
}

#header.minified #games>div#game_wow {
  left:378px;
}

#games>div#game_hearthstone {
  left:518px;
  width:138px;
}

#games>#game_d3 {
  left:656px;
  width:138px;
}

#games>#game_overwatch {
  left:793px;
  width:139px;
}

#games>#game_heroes {
  left:932px;
  width:138px;
}
}

body.force_desktop #games {
  display:block;
  position:relative;
  padding:0px;
}

body.force_desktop #games>div {
  position:absolute;
  text-align:center;
  top:40px;
  height:90px;
  display:initial;
  padding:0px;
}

body.force_desktop #header.minified #games>div {
  font-size:14px;
}

body.force_desktop #header.minified #games>div {
  top:0px;
  height:50px;
}

body.force_desktop #games>div>a {
  height:80px;
  padding-top:10px;
  display:block;
}

body.force_desktop #header.minified #games>div>a {
  height:49px;
  padding:1px;
}

body.force_desktop #games>div>a:hover {
  color:white;
}

body.force_desktop #games>div#game_wow {
  left:379px;
  width:139px;
}

body.force_desktop #header.minified #games>div#game_wow {
  left:378px;
}

body.force_desktop #games>div#game_hearthstone {
  left:518px;
  width:138px;
}

body.force_desktop #games>#game_d3 {
  left:656px;
  width:138px;
}

body.force_desktop #games>#game_overwatch {
  left:793px;
  width:139px;
}

body.force_desktop #games>#game_heroes {
  left:932px;
  width:138px;
}

#nav {
  display:none;
  background-color:#1d364f;
  padding-top:10px;
  padding-bottom:10px;
}

@media only screen and (min-device-width: 1070px) {
#nav {
  display:block;
  padding-top:5px;
  border-bottom:1px solid #2f465d;
  padding-bottom:0px;
  width:1070px;
}

#nav.minified {
  position:fixed;
  top:50px;
  z-index:1;
}
}

body.force_desktop #nav {
  display:block;
  padding-top:5px;
  border-bottom:1px solid #2f465d;
  padding-bottom:0px;
  width:1070px;
}

body.force_desktop #nav.minified {
  position:fixed;
  top:50px;
  z-index:1;
}

#nav .dk { color:#ce375f !important; }
#nav .dh { color:#a330c9 !important; }
#nav .druid { color:#f07c23 !important; }
#nav .hunter { color:#9bc175 !important; }
#nav .mage { color:#8bdefb !important; }
#nav .monk { color:#37a587 !important; }
#nav .paladin { color:#f292ac !important; }
#nav .rogue { color:#ffef70 !important; }
#nav .shaman { color:#2686df !important; }
#nav .warlock { color:#9860b7 !important; }
#nav .warrior { color:#af9074 !important; }


.nav_entry {
  margin:0px 0px 10px 10px;
} 

@media only screen and (min-device-width: 1070px) {
.nav_entry {
  display:inline-block;
  margin:0px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
}

#nav.minified .nav_entry {
  padding-top:7px;
  padding-bottom:7px;
}

.nav_entry:hover,
.nav_entry.nav_entry_active {
  background-color:#284a68;
}

}

body.force_desktop .nav_entry {
  display:inline-block;
  margin:0px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
}

body.force_desktop #nav.minified .nav_entry {
  padding-top:7px;
  padding-bottom:7px;
}

body.force_desktop .nav_entry:hover,
body.force_desktop .nav_entry.nav_entry_active {
  background-color:#284a68;
}

.nav_entry:last-child {
  margin-bottom:0px;
}

.nav_entry>a {
  color:white;
  font-size:15px;
  font-weight:bold;
  letter-spacing:0.5px;
}

.nav_entry>a>img {
  margin-left:5px;
  position:relative;
  top:-2px;
}

.nav_entry#nav_home>a>img {
  width:10px;
}

@media only screen and (min-device-width: 1070px) {
.nav_entry {
  position:relative;
}

.nav_entry#nav_home {
  padding-bottom:13px;
}

#nav.minified .nav_entry#nav_home {
  padding-bottom:10px;
}

.nav_entry#nav_home>a>img {
  margin-left:0px;
  top:1px;
}

.nav_entry:hover .nav_content {
  display:block;
}

.nav_entry.nav_entry_active .nav_content {
  display:block;
}

#nav .nav_content {
  width:720px;
  position:absolute;
  top:35px;
  left:0px;
  text-align:left;
  z-index:2147483647;
  background-color:#284a68;
  padding-bottom:10px;
  max-height:80vh;
  overflow:auto;
}

#nav.minified .nav_content {
  top:29px;
}
}

img.nav_indicator { width:9px; }

body.force_desktop .nav_entry {
  position:relative;
}

body.force_desktop .nav_entry#nav_home {
  padding-bottom:13px;
}

body.force_desktop #nav.minified .nav_entry#nav_home {
  padding-bottom:10px;
}

body.force_desktop .nav_entry#nav_home>a>img {
  margin-left:0px;
  top:1px;
}

body.force_desktop .nav_entry:hover .nav_content {
  display:block;
}

body.force_desktop .nav_entry.nav_entry_active .nav_content {
  display:block;
}

body.force_desktop #nav .nav_content {
  width:720px;
  position:absolute;
  top:35px;
  left:0px;
  text-align:left;
  z-index:2147483647;
  background-color:#284a68;
  padding-bottom:10px;
}

body.force_desktop #nav.minified .nav_content {
  top:29px;
}

.nav_content {
  display:none;
  padding-left:10px;
}

@media only screen and (min-device-width: 1070px) {
.nav_content {
  display:none;
}
}

body.force_desktop .nav_content {
  display:none;
}

.nav_content_block {
  display:inline-block;
  width:100%;
  vertical-align:top;
}

.nav_content_block.nav_content_block_whole_width {
  width:100%;
}

body.force_desktop .nav_content_block.nav_content_block_whole_width {
  width:100%;
}

@media only screen and (min-device-width: 384px) {
.nav_content_block {
  width:50%;
}
}

@media only screen and (min-device-width: 570px) {
.nav_content_block {
  width:33.33%;
}
}

@media only screen and (min-device-width: 760px) {
.nav_content_block {
  width:25%;
}
}

body.force_desktop .nav_content_block {
  width:25%;
}

.nav_content_block_title {
  font-size:16px;
  font-weight:bold;
  color:white;
  padding-top:25px;
  padding-bottom:5px;
}

.with_class_icons .nav_content_block {
  padding-top:10px;
}

.nav_content_block_wow_class .nav_content_block_title {
  position:relative;
}

.nav_content_block_wow_class .nav_content_block_title>span:nth-child(2) {
  padding-left:35px;
}

span.sprite_wow_class {
  width:40px;
  height:40px;
  background-image:url('http://static.icy-veins.com/sprites/wow-classes-cbbe9fbe472fe84c6a5610080a437e04.png');
  display:inline-block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
span.sprite_wow_class {
  background-image:url('http://static.icy-veins.com/sprites/wow-classes-retina-51faea61885693341b793bdb05beca63.png');
  background-size:480px 40px;
}
}

.nav_content span.sprite_wow_class {
  position:absolute;
  bottom:7px;
  left:0px;
}

span.sprite_wow_class_dk { background-position:-0px 0px; }
span.sprite_wow_class_druid { background-position:-40px 0px; }
span.sprite_wow_class_hunter { background-position:-80px 0px; }
span.sprite_wow_class_mage { background-position:-120px 0px; }
span.sprite_wow_class_monk { background-position:-160px 0px; }
span.sprite_wow_class_paladin { background-position:-200px 0px; }
span.sprite_wow_class_priest { background-position:-240px 0px; }
span.sprite_wow_class_rogue { background-position:-280px 0px; }
span.sprite_wow_class_shaman { background-position:-320px 0px; }
span.sprite_wow_class_warlock { background-position:-360px 0px; }
span.sprite_wow_class_warrior { background-position:-400px 0px; }
span.sprite_wow_class_dh { background-position:-440px 0px; }

.nav_content_block_entry {
  font-size:14px;
  padding-bottom:2px;
  padding-top:2px;
}

.nav_content_block_whole_width .nav_content_block_entry {
  width:100%;
  display:inline-block;
}

@media only screen and (min-device-width: 370px) {
.nav_content_block_whole_width .nav_content_block_entry {
  width:50%;
}
}

@media only screen and (min-device-width: 545px) {
.nav_content_block_whole_width .nav_content_block_entry {
  width:33.33%;
}
}

@media only screen and (min-device-width: 720px) {
.nav_content_block_whole_width .nav_content_block_entry {
  width:25%;
}
}

body.force_desktop .nav_content_block_whole_width .nav_content_block_entry {
  width:25%;
}

@media only screen and (min-device-width: 1070px) {
.nav_content_block_entry {
  font-size:14px;
  padding-bottom:4px;
  padding-top:4px;
}
}

body.force_desktop .nav_content_block_entry {
  font-size:14px;
  padding-bottom:4px;
  padding-top:4px;
}

.nav_content_block.nav_content_block_caption {
  width:100%;
  color:white;
  font-size:14px;
  text-align:center;
  padding-top:20px;
}

body.force_desktop .nav_content_block.nav_content_block_caption {
  width:100%;
}

/* ADS */

#top_plea_container {
  display:none;
}

.leaderboard_container {
  padding-top:20px;
  width:100%;
  text-align:center;
}

#bottom_leaderboard_container.leaderboard_container {
  padding-bottom:20px;
}

.leaderboard {
  width:320px;
  height:auto;;
  position:relative;
  margin:0 auto;
}

.rectangle {
  width:300px;
  height:auto;
  position:relative;
  margin:0 auto;
}

#news_container .rectangle {
  margin-top:10px;
}

@media only screen and (min-device-width: 1070px) {
.leaderboard {
  width:auto;
  height:auto;
  display:inline-block;
}
}

body.force_desktop .leaderboard {
  width:auto;
  height:auto;
  display:inline-block;
}

@media only screen and (min-device-width: 1070px) {
#news_container .rectangle {
  display:none;
} 
}

body.force_desktop #news_container .rectangle {
  display:none;
} 

.titlebar {
  background-color:transparent !important;
  padding-bottom:18px;
}

#plea_container {
  display:none;
  width:100%;
  padding-top:20px;
}

#plea {
  margin-left:10px;
  margin-right:10px;
}

#plea p {
  width:100%;
  line-height:16px;
  color:#bbbbbb;
  font-weight:600;
  font-size:12px;
}

#plea img {
  float:left;
  margin-right:10px;
  margin-bottom:10px;
  width:36px;
  height:36px;
}

@media only screen and (min-device-width: 748px) {
#plea {
  margin:0 auto;
  width:728px;
  height:90px;
}

#plea p {
  width:100%;
  line-height:18px;
  font-size:14px;
}
}

body.force_desktop #plea {
  margin:0 auto;
  width:728px;
  height:90px;
}

body.force_desktop #plea p {
  width:100%;
  line-height:18px;
  font-size:14px;
}

#right>div#store_promotion {
  display:none;
}

@media only screen and (min-device-width: 1070px) {
#store_promotion{
  display:none;
  width:300px;
  height:170px;
  background-color:blue;
}
}

.noscript_desktop {
  display:none;
}

@media only screen and (min-device-width: 1070px) {
.noscript_desktop {
  display:block;
}

.noscript_mobile {
display:none;
}
}

body.force_desktop .noscript_desktop {
  display:block;
}

body.force_desktop .noscript_mobile {
display:none;
}

#mobile_toc_ad_container {
  margin-bottom:15px;
}

/* CONTENT */

#center {
  width:auto;
  padding-top:20px;
  padding-bottom:20px;
}

@media only screen and (min-device-width: 360px) {
#center {
  padding:20px;
  padding-bottom:0px;
}
}

@media only screen and (min-device-width: 1070px) {
#center {
  width:700px;
  min-width:700px;
  max-width:700px;
  display:inline-block;
}
}

body.force_desktop #center {
  width:700px;
  min-width:700px;
  max-width:700px;
  display:inline-block;
}

/* SLIDESHOW */

#slideshow_container {
  width:auto;
  height:250px;
}

#slideshow {
  width:100%;
  margin:0 auto;
  position:relative;
}

.slide {
  width:auto;
  height:250px;
  position:relative;
}


.slide>a>span {
  overflow:hidden;
  width:auto;
  margin:0 auto;
  height:250px;
  text-align:center;
  display:block;
}

.slide>a>span>img {
  margin:0 -9999% 0 -9999%;
}

.slide>.slide_text {
  display:block;
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.slide>.slide_text>span.slide_text_title {
  margin-top:10px;
  padding:5px 10px;
  font-size:24px;
  display:block;
  font-weight:700;
}

.slide>.slide_text>span.slide_text_paragraph {
  display:block;
  font-size:14px;
  line-height:20px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:15px;
}

.slide>.slide_text a {
  color:white;
}

@media only screen and (min-device-width: 340px) {
#slideshow {
  width:100%;
  margin:0;
}
}

@media only screen and (min-device-width: 720px) {
#slideshow_container {
  padding-left:0px;
  padding-right:0px;
}

#slideshow {
  width:700px;
  margin:0 auto;
}

.slide {
  width:700px;
}
}

@media only screen and (min-device-width: 1070px) {
#slideshow {
  width:700px;
}

.slide {
  width:700px;
}
}

body.force_desktop #slideshow {
  width:700px;
  margin:0 auto;
}

body.force_desktop #slideshow_container {
  padding-left:0px;
  padding-right:0px;
}

body.force_desktop .slide {
  width:700px;
}

#slideshow_buttons {
  position:absolute;
  top:15px;
  right:15px;
}

.slideshow_button {
  width:14px;
  height:14px;
  margin-right:4px;
  margin-left:4px;
  display:inline-block;
  background-color:#25282f;
  border-radius:8px;
  border:2px solid #373a41;
  cursor:pointer;
}

.slideshow_button:hover {
  background-color:#bbbbbb;
}

.slideshow_button.active {
  background-color:white;
}

.slideshow_button.active:hover {
  background-color:white;
}

/* NEWS */

.news {
  margin-top:20px;
  width:100%;
  height:100px;
}

.news:hover {
  background-color:#4bbfe8;
}

.news a {
  display:block;
}

.news a>span {
  vertical-align:top;
}

.news .image_container {
  display:inline-block;
  width:30%;
  overflow:hidden;
  height:100px;
  text-align:center;
  position:relative;
}

.news .image_container img {
  height:100px;
  margin:0 -9999% 0 -9999%;
}

.news .text_container {
  display:inline-block;
  width:70%;
  height:100px;
  position:relative;
}

.news .news_about {
  display:block;
  position:absolute;
  color:#787878;
  bottom:2px;
  left:2%;
  width:98%;
}

.news_game {
  position:relative;
  top:2px;
}

.news .news_game_long, .news .news_game_short {
  font-weight:600;
  font-size:13px;
  color:#325a7d;
}

.news .news_game_long {
  display:none;
}

.news .news_game_short {
  display:none;
}

@media only screen and (min-device-width: 450px) {
.news .news_game_short {
  display:initial;
}
}

@media only screen and (min-device-width: 550px) {
.news .news_game_short {
  display:none;
}

.news .news_game_long {
  display:initial;
}
}

body.force_desktop .news .news_game_short {
  display:none;
}

body.force_desktop .news .news_game_long {
  display:initial;
}

.news .news_about_right {
  position:absolute;
  font-size:11px;
  font-weight:600;
  right:10px;
  bottom:0px;
}

.news .news_about_right>span>span {
  color:#78dcff;
}

.news:hover .news_about_right>span>span {
  color:white;
}

@media only screen and (min-device-width: 450px) {
.news .news_about_right { font-size:12px; }
.news .news_game_long, .news .news_game_short { font-size:15px; }
}

body.force_desktop .news .news_about_right { font-size:12px; }
body.force_desktop .news .news_game_long, .news .news_game_short { font-size:15px; }

.news .news_title {
  display:block;
  color:white;
  font-size:24px !important;
  line-height:30px !important;
  font-weight:600;
  padding-left:2%;
  width:98%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news:hover .news_title {
  color:#25282f;
}

.news .news_subtitle_container {
  display:flex;
  align-items:center;
  height:48px;
  margin-top:1px;
}

.news .news_subtitle {
  display:block;
  display:-webkit-box;
  font-size:12px;
  line-height:16px;
  max-height:48px;
  width:98%;
  vertical-align:bottom;
  overflow:hidden;
  text-overflow:ellipsis;
  padding-left:2%;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;
}

.news:hover .news_subtitle {
  color:#25282f;
}

.news .news_comments { display:none; }

@media only screen and (min-device-width: 700px) {
.news .news_comments {
  display:initial;
  font-size:12px;
  font-weight:bold;
  color:white;
  position:absolute;
  top:4px;
  right:50%;
}

.news:hover .news_comments {
  color:black;
}
}

#news_read_more {
  display:inline-block;
  width:100%;
  text-align:center;
  margin-top:30px;
  margin-bottom:30px;
  font-size:14px;
}

#news_read_more a {
  padding: 5px 20px;
  background-color: #78dcff;
  color: #162c44;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.5px;
  border-radius: 7px;
}

#news_read_more a:hover {
  color:white;
}

@media only screen and (min-device-width: 500px) {
#news_read_more {
  font-size:18px;
}
}

@media only screen and (min-device-width: 768px) {
#news_read_more {
  font-size:20px;
}
}

@media only screen and (min-device-width: 1070px) {
#news_read_more {
  font-size:24px;
}
}

body.force_desktop #news_read_more {
  font-size:24px;
}

.page_breadcrumbs {
  display:none;
  margin-bottom:40px;
}

@media only screen and (min-device-width: 1070px) {
.page_breadcrumbs {
  font-size:12px;
  display:block;
}

.page_breadcrumbs_separator {
  display:inline-block;
  width:6px;
  height:9px;
  background-image:url('http://static.icy-veins.com/images/common/breadcrumb-separator.png');
  background-size:6px 9px;
  margin-left:10px;
  margin-right:10px;
}
}

body.force_desktop .page_breadcrumbs {
  font-size:12px;
  display:block;
}

body.force_desktop .page_breadcrumbs_separator {
  display:inline-block;
  width:6px;
  height:9px;
  background-image:url('http://static.icy-veins.com/images/common/breadcrumb-separator.png');
  margin-left:10px;
  margin-right:10px;
}

.page_title {
  color:white;
  font-size:32px;
  font-weight:bold;
  margin-bottom:40px;
}

.page_content_header {
  font-size:13px;
  margin-top:-20px;
  margin-bottom:20px;
}

.page_content_header>span {
  display:block;
}

.page_content_header>span>span>span {
  color:#78dcff;
}

@media only screen and (min-device-width: 1070px) {
.page_content_header {
  position:relative;
  height:13px;
}

.page_content_header>span {
  position:absolute;
}

.page_content_header>span.page_author {
  left:0px;
}

.page_content_header>span.page_comments {
  right:0px;
}
}

body.force_desktop .page_content_header {
  position:relative;
  height:13px;
}

body.force_desktop .page_content_header>span {
  position:absolute;
}

body.force_desktop .page_content_header>span.page_author {
  left:0px;
}

body.force_desktop .page_content_header>span.page_comments {
  right:0px;
}

.page_content_footer {
  font-size:13px;
  padding-top:20px;
  padding-bottom:20px;
}

.page_content_footer>span {
  display:block;
}

@media only screen and (min-device-width: 1070px) {
.page_content_footer {
  position:relative;
  height:13px;
}

.page_content_footer .page_forum {
  position:absolute;
  left:0px;
}

.page_content_footer .page_comments {
  position:absolute;
  right:0px;
}
}

body.force_desktop .page_content_footer {
  position:relative;
  height:13px;
}

body.force_desktop .page_content_footer .page_forum {
  position:absolute;
  left:0px;
}

body.force_desktop .page_content_footer .page_comments {
  position:absolute;
  right:0px;
}

.page_content {
  font-size:13px;
  line-height:19px;
}

@media only screen and (min-device-width: 1070px) {
.page_content .toc_mobile {
  display:none;
}

.page_content .rectangle {
  display:none;
}
}

body.force_desktop .page_content .toc_mobile {
  display:none;
}

body.force_desktop .page_content .rectangle {
  display:none;
}

.page_content>*:last-child {
  margin-bottom:0px;
}

.page_content h2 {
  font-size:24px;
  line-height:26px;
  color:white;
  font-weight:bold;
  margin-top:20px;
  margin-bottom:20px;
}

.page_content h3 {
  font-size:20px;
  line-height:22px;
  color:white;
  font-weight:bold;
  margin-top:15px;
  margin-bottom:15px;
}

.page_content h4 {
  font-size:16px;
  line-height:18px;
  color:white;
  font-weight:bold;
  margin-top:10px;
  margin-bottom:10px;
}

.page_content p {
  margin-top:15px;
  margin-bottom:15px;
}

.page_content ul, .page_content ol {
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  padding-left:20px;
}

.page_content ul {
  list-style-type:disc;
}

.page_content ol {
  list-style-type:decimal;
}

.page_content ul ul, .page_content ul ol,
.page_content ol ul, .page_content ol ol {
  margin:0px;
}

.page_content ul ul,
.page_content ol ul {
  list-style-type:circle;
}

.page_content ul ul ul,
.page_content ul ol ul,
.page_content ol ul ul,
.page_content ol ol ul {
  list-style-type:square;
}

.page_content ul ul ul,
.page_content ul ol ul,
.page_content ol ul ul,
.page_content ol ol ul,
.page_content ul ul ol,
.page_content ul ol ol,
.page_content ol ul ol,
.page_content ol ol ol {
  margin:0px;
}

.page_content table {
  margin-top:15px;
  margin-bottom:15px;
  width:100%;
}

.page_content table th {
  background-color:#3480af;
  font-family: 'Open Sans Condensed', sans-serif;
  color:white;
  font-size:18px;
  padding:5px 5px;
  font-weight:bold;
  vertical-align:middle;
}

.page_content table tr:nth-child(odd) {
  background-color:#233b55;
}

.page_content table tr:nth-child(even) {
  background-color:#1d334c;
}

.page_content table td {
  padding:3px 5px;
}

.page_content table td ul {
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.page_content table td li { margin:5px 0; }
.page_content table td li:first-child { margin-top:0px; }
.page_content table td li:last-child { margin-bottom:0px; }

.page_content table.centered_td td {
  text-align:center;
}

.page_content .question {
  color:white;
}

.page_content .answer {
  font-style:italic;
}

.page_content img {
  max-width:100%;
}

.page_content ul.changelog li {
  font-family:Courier;
}

.page_content ul.changelog li b {
  font-weight:bold;
}

.page_content .code {
  font-family:Courier;
  font-size:12px;
}

.page_content p.code {
  overflow:scroll;
  border:1px solid #3d75aa;
  margin:0 auto;
  padding:10px 5px;
}

.page_content ul.code {
  margin-top:10px;
  margin-bottom:10px;
  list-style-type: none;
}

.page_content ul.code li {
  margin:0px;
}

.page_content .guide_prev_next {
  height:50px;
  margin-top:20px;
  margin-bottom:20px;
  font-size:14px;
  font-weight:bold;
  position:relative;
}

.page_content .guide_prev, .page_content .guide_next {
  position:absolute;
}

.page_content .guide_prev {
  left:0px;
  top:0px;
}

.page_content .guide_next {
  right:0px;
  bottom:0px;
}

@media only screen and (min-device-width: 720px) {
.page_content .guide_prev_next { height:19px; }
.page_content .guide_prev { top:auto; }
.page_content .guide_next { bottom:auto; }
}

body.force_desktop .page_content .guide_prev_next { height:19px; }
body.force_desktop .page_content .guide_prev { top:auto; }
body.force_desktop .page_content .guide_next { bottom:auto; }

.page_content .guide_prev_next.guide_prev_next_size_2 { height:45px; }
.page_content .guide_prev_next.guide_prev_next_size_2 .guide_prev:nth-child(1),
.page_content .guide_prev_next.guide_prev_next_size_2 .guide_next:nth-child(1) {
  top:0px;
}
.page_content .guide_prev_next.guide_prev_next_size_2 .guide_prev:nth-child(2),
.page_content .guide_prev_next.guide_prev_next_size_2 .guide_next:nth-child(2) {
  bottom:0px;
}

.page_content .guide_prev_next.guide_prev_next_size_3 { height:65px; }
.page_content .guide_prev_next.guide_prev_next_size_3 .guide_prev:nth-child(1),
.page_content .guide_prev_next.guide_prev_next_size_3 .guide_next:nth-child(1) {
  top:0px;
}
.page_content .guide_prev_next.guide_prev_next_size_3 .guide_prev:nth-child(2),
.page_content .guide_prev_next.guide_prev_next_size_3 .guide_next:nth-child(2) {
  top:22px;
}

.page_content .guide_prev_next.guide_prev_next_size_3 .guide_prev:nth-child(3),
.page_content .guide_prev_next.guide_prev_next_size_3 .guide_next:nth-child(3) {
  bottom:0px;
}

.page_content .guide_prev_next span  {
  display:inline-block;
  background-color:#325a7d;
  width:18px;
  height:20px;
  text-align:center;
  border-radius:10px;
  padding-left:2px;
  line-height:18px;
  position:relative;
  top:-1px;
  cursor:pointer;
}

.page_content .guide_prev_next a:hover span {
  background-color:#bef0ff;
  color:#162c44;
}

.page_content .guide_prev_next a:active span {
  background-color:white;
  color:#162c44;
}

.page_content .guide_next span {
  margin-left:5px;
}

.page_content .guide_prev span {
  margin-right:5px;
}

.page_content iframe {
  width:100% !important;
}

.centered img, table img, .map img {
  margin:0;
}

.centered {
  margin-top:10px;
  margin-bottom:10px;
  margin-right:0px;
  margin-left:0px;
  width:100%;
  text-align:center;
}

span.spell_icon_span, span.d3_icon_span {
  white-space:normal;
}

@media only screen and (min-device-width: 720px) {
span.spell_icon_span, span.d3_icon_span {
  white-space:nowrap;
}
}

body.force_desktop span.spell_icon_span, span.d3_icon_span {
  white-space:nowrap;
}

.ie9 span.spell_icon_span, .ie9 span.d3_icon_span {
  white-space:normal !important;
}

img.spell_icon,
img.d3_icon {
  position:relative;
  margin-right:1px;
  margin-left:1px;
  top:4px;
  margin-top:-3px;
  margin-bottom:0px;
  max-width:none;
}

img.spell_icon {
  border:1px solid #434445;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border-bottom-color:#2F3032;
  border-top-color:#B1B2B4;
  height:14px;
  width:14px;
}

img.d3_icon {
  height:16px;
  width:16px;
}

img.d3_item.d3_icon {
  border:1px solid #434445;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border-bottom-color:#2F3032;
  border-top-color:#B1B2B4;
}

/* Talent Table */

table.talent_table td.talent {
  height:64px;
  vertical-align:top;
  padding:3px;
  text-align:center;
}

@media only screen and (min-device-width: 700px) {
table.talent_table td.talent {
  text-align:left;
  vertical-align:middle;
  padding:0 0 0 3px;
}
}

body.force_desktop table.talent_table td.talent {
  text-align:left;
  vertical-align:middle;
  padding:0 0 0 3px;
}

table.talent_table td.talent:hover {
  background-color:#4bbfe8;
}

table.talent_table td.talent:hover a {
  color:white;
}

table.talent_table td.talent a {
  display:block;
}

@media only screen and (min-device-width: 700px) {
table.talent_table td.talent a {
  display:inline;
}
}

body.force_desktop table.talent_table td.talent a {
  display:inline;
}

table.talent_table td.talent_level {
  color:white;
  font-size:16px;
  font-weight:bold;
  vertical-align:middle;
  text-align:center;
}

span.talent_image_container {
  display:inline-block;
  width:58px;
  height:58px;
  position:relative;
}

img.talent_image {
  width:56px;
  height:56px;
  vertical-align:middle;
  border:1px solid #434445;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border-bottom-color:#2F3032;
  border-top-color:#B1B2B4;
  cursor:pointer;
}

span.talent_marker {
  position:absolute;
  bottom:0px;
  left:0px;
  font-size:35px;
  width:58px;
  height:58px;
  line-height:58px;
  cursor:pointer;
  text-align:center;
}

span.talent_marker_yes {
  color:lime;
  background-color:rgba(0,0,0,0.3);
}

span.talent_marker_no {
  color:red;
  background-color:rgba(0,0,0,0.75);
}

span.talent_marker_maybe {
  color:orange;
  background-color:rgba(0,0,0,0.50);
  font-weight:bold;
}

/* Google Search */

.gsc-control-cse {
  font-family:inherit !important;
  font-size:inherit !important;
  padding:0px !important;
  background-color:transparent !important;
  border:none !important;
}

.gsc-result-info {
  padding-left:0px !important;
  color:#A9A9A9 !important;
}

.gsc-results.gsc-webResult {
  padding:0px; !important;
  width:100% !important;
}

.gsc-webResult.gsc-result {
  background-color:transparent !important;
  border:none !important;
  padding:3px 5px !important;
}

.gsc-webResult.gsc-result:hover {
  background-color:#4bbfe8 !important;
}

.gsc-above-wrapper-area {
  border:none !important;
}

.gsc-control-cse table {
  margin:0px;
}

.gsc-control-cse table td {
  padding:0px;
}

.gsc-control-cse table tr {
  background-color:transparent !important;
}

.gs-title {
  display:block !important;
  color:white !important;
  font-size:24px !important;
  line-height:30px !important;
  font-weight:600 !important;
  text-decoration:none !important;
  font-family: 'Open Sans Condensed', sans-serif !important;;
}

.gsc-webResult.gsc-result:hover .gs-title {
  color:black !important;
}

.gs-title b {
  font-size:inherit !important;
  color:inherit !important;
  font-weight:inherit !important;
}

.gs-snippet {
  color:#A9A9A9 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  font-family: 'Open Sans', sans-serif !important;
}

.gsc-webResult.gsc-result:hover .gs-snippet {
  color:black !important;
}

.gsc-url-bottom>div {
  color:#78dcff !important;
}

.gsc-webResult.gsc-result:hover .gsc-url-bottom>div {
  color:white !important;
}

.gsc-cursor-box {
  text-align:center !important;
}

.gsc-cursor-page {
  font-size:14px !important;
  font-family: 'Open Sans Condensed', sans-serif !important;;
  color:#4bbfe8 !important;
  border:none !important;
  background-color:transparent !important;
  font-weight:bold !important;
  text-decoration:none !important;
  height:20px !important;
  width:20px !important;
  line-height:20px !important;
  text-align:center !important;
  display:inline-block !important
}

.gsc-cursor-page.gsc-cursor-current-page {
  color:#162c44 !important;
  background-color:#325a7d !important;
  border-radius:10px !important;
}

.gsc-cursor-page:hover {
  color:white !important;
}

.gsc-cursor-page.gsc-cursor-current-page:hover {
  color:#162c44 !important;
}

/* RIGHT */

#right {
  width:300px;
  display:inline-block;

  vertical-align:top;
  padding:20px;
  padding-left:10px;
  height:100%;
}

#right>div {
  display:none;
}

#right>div#box_changelog {
  display:block;
}

@media only screen and (min-device-width: 1070px) {
#right>div {
  display:inline-block;
}
}

body.force_desktop #right {
  display:inline-block;
}

#right>div {
  margin-bottom:20px;
}

#right>div:last-child {
  margin-bottom:0px;
}

#right .box {
  width:300px;
  font-size:12px;
  position:relative;
  padding-bottom:20px;
}

.box_title {
  font-size:18px;
  color:white;
  font-weight:600;
}

.box_title img {
  position:relative;
  margin-right:5px;
}

#box_icy_veins {
  background-color:#1d364f;
}

#box_icy_veins .box_title img {
  top:3px;
  width:21px;
}

#box_icy_veins .box_title {
  padding-left:20px;
  padding-top:10px;
}

#box_recent_posts .box_title img,
#box_popular_threads .box_title img,
#box_latest_news .box_title img,
#box_from_the_forums .box_title img {
  top:5px;
  width:21px;
}

#box_related_pages .box_title img {
  width:22px;
  height:22px;
  top:5px;
}

#box_table_of_contents .box_title img {
  width:22px;
  height:22px;
  top:5px;
}

#box_changelog .box_title img {
  width:21px;
  height:21px;
  top:4px;
}

#box_changelog ul.changelog {
  list-style-type:none;
  padding-left:0px;
}

#box_changelog ul.changelog>li {
  width:300px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

#box_changelog ul.changelog li ul {
  list-style-type:none;
  padding-left:15px;
  margin-top:0px;
}

#box_changelog ul.changelog li ul li {
  margin-top:0px;
  margin-bottom:0px;
  white-space:normal;
  overflow:visible;
  text-overflow:clip;
}

#box_changelog ul.changelog li ul li:before {
  content:"- ";
}

.box p {
  margin-top:10px;
  padding-left:20px;
  padding-right:20px;
}

.box ul {
  margin-top:10px;
  padding-left:30px;
  padding-right:0px;
  list-style-type:disc;
}

.box li {
  line-height:16px;
  margin-top:4px;
}

.box .box_divider {
  position:absolute;
  bottom:-15px;
  left:0px;
  width:300px;
}

.box_switch {
  margin-top:10px;
  width:100%;
  text-align:center;
}

.box_switch>span {
  cursor:pointer;
  padding:2px 2px;
  display:inline-block;
  color:white;
  margin-left:8px;
  margin-right:8px;
}

.box_switch img {
  height:30px;
}

.box_switch .selected {
  background-color:#3e5974;
  border-radius:18px;;
}

.box ul.not_selected {
  display:none;
}

.box .visit_forums {
  display:block;
  width:100%;
  margin-top:10px;
  text-align:right;
  font-weight:bold;
  font-size:14px;
}

.box .box_subtitle {
  font-size:14px;
  color:white;
  padding-left:10px;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
}

.sprite_box_arrow {
  display:inline-block;
  width:14px;
  height:12px;
  background-image:url('http://static.icy-veins.com/sprites/common-box-arrow-e933187bc6dccfb081cf7501bfc2e733.png');
  background-position:-0px -0px;
  position:relative;
  top:1px;
  margin-left:5px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
.sprite_box_arrow {
  background-image:url('http://static.icy-veins.com/sprites/common-box-arrow-retina-8264f3c6ca1153795cd6b25cfaac9189.png');
  background-size:14px 36px;
}
}

a:hover .sprite_box_arrow { background-position:-0px -12px; }
a:active .sprite_box_arrow { background-position:-0px -24px; }

/* Table of Contents */

ul.toc {
  list-style:none;
  margin-left:0px;
  padding-left:3px;
}

ul.toc ul {
  padding-left:10px;
  margin-top:0px;
}

.toc>li {
  position:relative;
}

.toc>li.toc_expandable>ul {
  display:none;
}

.toc>li.toc_expanded>ul {
  padding-left:32px;
}

.toc li>a {
  display:block;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  width:100%;
}

.toc>li>a {
  padding-left:22px;
  width:auto;
}

.toc>li>span {
  display:inline-block;
  width:14px;
  height:14px;
  position:absolute;
  left:0px;
}

.toc>li.toc_expandable>span, .toc>li.toc_expanded>span {
  border:1px solid white;
  color:#78dcff;
  border-radius:14px;
  cursor:pointer;
  text-align:center;
}

.toc>li.toc_expandable>span span, .toc>li.toc_expanded>span span {
  font-size:16px;
  line-height:14px;
  font-family:Courier;
}

.toc a.selected {
  color:white;
}

/* Page Top */

#page_top_container {
  width:100px;
  margin:0 auto;
  font-size:14px;
  font-weight:bold;
  position:relative;
}

a#page_top {
  display:none;
  width:100px;
  text-align:center;
}

a#page_top span {
  width:12px;
  height:20px;
  display:block;
  margin:0 auto;
  background-image:url('http://static.icy-veins.com/sprites/common-top-arrow-c61e734c020c7f3a6a6c359e91cc4ceb.png');
  background-position:-0px 0px;
  margin-bottom:3px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
a#page_top span {
  background-image:url('http://static.icy-veins.com/sprites/common-top-arrow-retina-2a4500816e7cb38d21f71db9ad526479.png');
  background-size:12px 60px;
}
}

a#page_top:hover span { background-position:-0px -20px; }
a#page_top:active span { background-position:-0px -40px; }

/* Misc */

.dk { color:#C41F3B !important; }
.dh { color:#a330c9 !important; }
.druid { color:#FF7D0A !important; }
.hunter { color:#ABD473 !important; }
.mage { color:#69CCF0 !important; }
.monk { color:#008467 !important; }
.paladin { color:#F58CBA !important; }
.priest { color:white !important; }
.rogue { color:#FFF569 !important; }
.shaman { color:#0070DE !important; }
.warlock { color:#9482C9 !important; }
.warrior { color:#C79C6E !important; }
.q0 { color:#9D9D9D !important; }
.page_content .q1, .q1 { color:white !important; }
.q2 { color:#1EFF00 !important; }
.q3 { color:#0070DD !important; }
.q4 { color:#A335EE !important; }
.q5 { color:#FF8000 !important; }
.q6 { color:#E5CC80 !important; }
.q7 { color:#E5CC80 !important; }
.spell { color:#72d5ff; }
.talent { color:#4e96f8; }
.glyph { color:#5fa7e1; }
.boa { color:#e6cc81; }
.npc { color:#ffd100; }
.currency { color:#ffffff; }
.quest { color:#ffff00; }
.achievement { color:#ffff00; }
.meta { color:#888888; }
.red { color:#FF0033; }
.blue { color:#0066ff; }
.yellow { color:#FFFF33; }
.hated { color:#cc2222; }
.hostile { color:red; }
.unfriendly { color:#ee6622; }
.neutral { color:yellow; }
.friendly { color:lime; }
.honored { color:#00ff88; }
.revered { color:#00ffcc; }
.exalted { color:cyan; }


img.currency {
  border:none;
  position:relative;
  top:2px;
}

.hide_on_mobile {
  display:none;
}

body.force_desktop .hide_on_mobile {
  display:initial;
}

@media only screen and (min-device-width: 1070px) {
.hide_on_mobile {
  display:initial;
}
}

.float_left { float:left; }
img.float_left, .float_left>img { margin-right:5px; }
.float_right { float:right; }
img.float_right, .float_right>img { margin-left:5px; }

.hidden_section_with_title_button {
  cursor:pointer;
  font-size:11px;
  padding-left:30px;
  font-family:Courier;
}

.flag {
  width: 16px;
  height: 11px;
  position:relative;
  top:1px;
  display:inline-block;
  background:url(http://static.icy-veins.com/images/common/flags.png) no-repeat
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tibet {background-position: -176px -143px}
.flag.flag-tj {background-position: -192px -143px}
.flag.flag-tk {background-position: -208px -143px}
.flag.flag-tl {background-position: -224px -143px}
.flag.flag-tm {background-position: -240px -143px}
.flag.flag-tn {background-position: 0 -154px}
.flag.flag-to {background-position: -16px -154px}
.flag.flag-tr {background-position: -32px -154px}
.flag.flag-tt {background-position: -48px -154px}
.flag.flag-tv {background-position: -64px -154px}
.flag.flag-tw {background-position: -80px -154px}
.flag.flag-tz {background-position: -96px -154px}
.flag.flag-ua {background-position: -112px -154px}
.flag.flag-ug {background-position: -128px -154px}
.flag.flag-um {background-position: -144px -154px}
.flag.flag-us {background-position: -160px -154px}
.flag.flag-uy {background-position: -176px -154px}
.flag.flag-uz {background-position: -192px -154px}
.flag.flag-va {background-position: -208px -154px}
.flag.flag-vc {background-position: -224px -154px}
.flag.flag-ve {background-position: -240px -154px}
.flag.flag-vg {background-position: 0 -165px}
.flag.flag-vi {background-position: -16px -165px}
.flag.flag-vn {background-position: -32px -165px}
.flag.flag-vu {background-position: -48px -165px}
.flag.flag-wales {background-position: -64px -165px}
.flag.flag-wf {background-position: -80px -165px}
.flag.flag-ws {background-position: -96px -165px}
.flag.flag-xk {background-position: -112px -165px}
.flag.flag-ye {background-position: -128px -165px}
.flag.flag-yt {background-position: -144px -165px}
.flag.flag-za {background-position: -160px -165px}
.flag.flag-zanzibar {background-position: -176px -165px}
.flag.flag-zm {background-position: -192px -165px}
.flag.flag-zw {background-position: -208px -165px}

#switch_mobile_desktop {
  color:#78dcff;
  width:100%;
  text-align:center;
}

#switch_to_desktop, #switch_to_mobile {
  padding-top:5px;
  cursor:pointer;
  padding-bottom:5px;
}

#switch_to_mobile {
  display:none;
}

body.force_desktop #switch_to_mobile {
  display:block;
}

@media only screen and (min-device-width: 1070px) {
#switch_to_desktop {
  display:none;
}
}

body.force_desktop #switch_to_desktop {
  display:none;
}
