/* General settings */

* {
  margin: 0;
  padding: 0;
  font-family:"Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size:14px;
  font-weight:400;
  /* Default color of the text on the website */
  color:black;
  border:none !important;
}

html {
  text-shadow: none !important;
}

/* Generic link styling */
a {
  text-decoration:none;
  color:purple;
}

body {
  /* Background color for the design */
  background-color:white;
  width:90%;
}

.heading {
  font-family:monaco, arial, monospace !important;
  font-weight:500 !important;
  /* Color for the headings */
  text-align:left;
  color:black;
}

.dk {
  color:#C41F3B;
}

.druid {
  color:#FF7D0A;
}

.hunter {
  color:#ABD473 !important;
}

.mage {
  color:#69CCF0 !important;
}

.paladin {
  color:#F58CBA !important;
}

.priest {
  color:gray;
}

.rogue {
  color:#FFF569;
}

.shaman {
  color:#0070DE !important;
}

.warlock {
  color:#9482C9;
}

.warrior {
  color:#C79C6E;
}

/* WoW links */

.spell {
  color:#72d5ff;
}

.talent {
  color:#4e96f8;
}

.glyph {
  color:#5fa7e1;
}

.boa {
  color:#e6cc81;
}

.npc {
  color:#ffd100;
}

.currency {
  color:gray;
}

.quest {
  color:#ffff00;
}

.achievement {
  color:#ffff00;
}

/* Gems */

.meta {
  color:#888888;
}

.red {
  color:#FF0033;
}

.blue {
  color:#0066ff;
}

.yellow {
  color:#FFFF33;
}

#header {
  display:none;
}

#logo {
  display:none;
}

.clear_left {
  clear:left;
  height:10px;
  width:100%;
}

/* Navigation */

#nav {
  display:none;
}

#top_panel {
  display:none;
}


div#center {
  width:90%;
margin-left:40px;
}

div#right {
  display:none;
}

div.article {
  margin-top:15px;
}

div.article_title {
  margin-left:10px;
  margin-right:10px;
}

.block_title {
  font-size:20px !important;
  font-weight:500 !important;
  letter-spacing:1.5px !important;
}

.article_title h1, .social_title h1 {
  width:100%;

  margin-left:5px;

  padding-top:5px;
  padding-bottom:5px;
}

p.author {
  text-align:right;
  margin-bottom:8px !important;
  margin-top:3px !important;
}

.article_content {
  padding-top:10px;
  padding-bottom:10px;
}

.article_content p {
  width:90%;
  margin-left:40px;
  margin-right:40px;
  margin-top:16px;
  margin-bottom:17px;
  line-height:19px;
}

.article_social:after {
  clear:left;
}

.article_social {
  display:none;
}


.article_links {
  margin-left:10px;
  margin-right:10px;
}

.article_links h2 {
  margin-left:25px;
  margin-top:5px;
  margin-bottom:5px;
}

.article_links ul {
  margin-left:60px;
  margin-bottom:10px;
}


.article_links li {
  margin-bottom:5px;
}

#footer {
  display:none;
}

/* Table of Content */
#toc {
  margin-top:20px;
  margin-bottom:20px;
}

ul.toc, .toc ul {
  list-style-type: none;
  margin-left:35px;
}


.article_content h1 {
  margin-left:10px;
  margin-right:10px;
  font-size:20px;
  padding-left:10px;
  margin-top:30px;
}

h1+span {
  display:none;
}

.article_content h2 {
  font-size:18px;
  padding-left:15px;
  margin-top:20px;
  margin-bottom:6px;
}

span+h2 {
  margin-top:3px !important;
}

.article_content h3 {
  font-size:16px;
  padding-left:20px;
  margin-top:10px;
  margin-bottom:3px;
}

.article_content ul,ol {
  margin-left:70px;
  margin-right:50px;
}

.article_content ul ul, .article_content ul ol,
.article_content ol ul, .article_content ol ol {
  margin-left:30px;
}

.article_content li {
  margin-top:3px;
  line-height:18px;
}


ul.code {
  margin-top:10px;
  margin-bottom:10px;
}

ul.code li {
  font-family:Courier;
  font-size:13px;
  list-style-type: none;
  margin:0px;

}

.article_content table {
  margin: 0 auto;
}

a.map:hover {
  border:none;
}

a.map:hover > img {
  border:1px solid #e6c945;
}

img.currency {
  position:relative;
  top:2px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:5px;
  padding:0px;
}

div.centered {
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
  text-align:center;
}

.archive {
  list-style:none;
  margin-left:30px !important;
  margin-top:5px;
}

.archive li {
  display:inline-block;
  float:left;
  margin-right:30px;
}

#comments {
  display:none;
}

p.question {
  margin-top:30px;
  font-weight:bold;
}

p.answer {
  font-style:italic;
}

#top_ad {
  display:none;
}

#bottom_ad {
  display:none;
}

#left, #social, #toc, #paypal, #related_articles, #facebook_like_box, #top_left_ad {
  display:none;
}

.banner_728_90 {
  display:none;
}

#right { display:none !important; }
.ad_728x90_container { display:none !important; }
#footer_container { display:none !important; }
