/*
--=.._/(        CoreLogic GLOBAL STYLES      )\_..=--
       */

/* 

--------- Notes -----------

* html {anything} addresses IE < 6 browser bugs
*+html {anything} addresses IE 7 browser bugs

------- typography ---------

font-sizes are set in em for resizable goodness.  Here's a basic guide for the stylesheet.
font-size: 0.5em;  (6px)
font-size: 0.583em; (7px)
font-size: 0.667em; (8px)
font-size: 0.75em; (9px)
font-size: 0.833em; (10px)
font-size: 0.917em; (11px)
font-size: 1em;  (12px)
font-size: 1.083em; (13px)
font-size: 1.167em; (14px)
font-size: 1.25em;  (15px)
font-size: 1.333em; (16px)
font-size: 1.417em; (17px)
font-size: 1.5em;  (18px)
font-size: 1.583em; (19px)
font-size: 1.667em; (20px)
font-size: 1.75em;  (21px)
font-size: 1.833em; (22px)
font-size: 1.917em; (23px)
font-size: 2em;  (24px)
font-size: 2.083em; (25px)
font-size: 2.167em; (26px)
font-size: 2.25em;  (27px)
font-size: 2.333em; (28px)
font-size: 2.417em; (29px)
font-size: 2.5em;  (30px)
font-size: 2.583em; (31px)

font colors:
base body color: #333333;
brown: #685745
red: #D42922

link colors:
main content a: #0000ff;
main content hover: #999999;

*/


/* Basic browser reset  */
body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dd,dt,blockquote,button,fieldset,legend,label,input,textarea,form { margin:0;padding:0;border:0; }
html,input,textarea,select { font-size: 100% } /*keep ie happy*/

body  { font: 75%/1.417 Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0 0 .25em 0;}
h2, h3 { margin-bottom: 0 }

h1 { font-size: 2em; line-height: 1.2em; }  /* 24px */
h2 { font-size: 1.665em; } /* 20px */
h3 { font-size: 1.25em; line-height: 1.2em; font-weight: bold; } /* 16px */
h4 { font-size: 1em; font-weight: bold; }  /* 12px */
h5 { font-size: 1em; }  /* 12px; */
h6 { font-size: .9175em; } /* 11px; */

p, dl { margin-bottom: 1.417em; }

input, textarea { border: 1px solid #242323; }
abbr,acronym { border-bottom: 1px dotted #D8D2CD; cursor: help; }
ul, ol  { margin: 0 0 1.417em 3em;}
table { border-collapse: collapse; }
td, th { border: 1px solid #ccc; padding: .5em;  }
th  { font-size: 1.1em; font-weight: bold; background-color: #dad7d0; }

sup {
position: relative;
top: -3px;
vertical-align: top;
font-size: 90%;
}

blockquote { padding-left: 1.55em; }

/* temp for layout purposes*/
/* #primary div { background-color: rgba(230,230,230, .8); border: 1px solid #aaa; border-width: 0px 0 1px 0;}  */
/* end temp for layout purposes*/



/*----------------------------------- Site Structure --------------------*/

body {
background: #fff url(/imgs/css/bg-page-wide.png)  center top repeat; /* { CP} background: #fff url('../img/css/bg-page-wide.png')  center top repeat; */
color: #85715b; 
}

body.thompson {
background-image: url(/imgs/css/bg-page-thompson.png); /* { CP}  background-image: url('../img/css/bg-page-thompson.png'); */
background-color: #F4F1EE;
}

#wrapper {
background-color: #dad7d0;
margin: auto;
overflow: hidden;
position: relative;
padding: 5px 0 23px 0;
    width: 984px;
z-index: 1;
}
/* * html #wrapper { width: 1000px; } */
#sub-wrapper {
background-color: #fff;
float: left;
padding: 0 22px 15px 22px;
width: 937px;
}


#header {
border-bottom: 2px dotted #D8D2CD;
    height: 142px;
float: left;
padding-bottom: 21px; /* make room for absolutley position nav */
position: relative;
width: 100%;
z-index: 10;
}
#content {
float: left;
padding: 16px 0;
width: 939px;
}

.page-home #header{
border-bottom: none;
padding-bottom: 11px;
}
.page-home #content {
padding-top: 0;
}

.page-home #home-welcome .col{width:100%;} /* JM */
.page-home #home-industries .col{width:100%;} /* JM */
.page-home #home-industries .cols-2{display:none;} /*JM*/

/* two col, secondary on left   */

#primary {
background-color: #f4f1ee;
display: inline;
float: left;
margin-left: 238px;
padding: 16px 21px;
width: 658px;
z-index: 10;
}

#primary.tabNav {
background-color: #fff; 
width: 700px; 
padding: 16px 0 16px 0;
}

#secondary {
background-color: #CAD5D0 !important;    
display: inline;
float: left;
margin-left: -938px;
padding: 16px 13px;
width: 194px !important;
}
* html .page-products #secondary {
        margin-left: -960px;
    }



.one-column #primary, .one-column #secondary, .page-event.one-column #primary {
background-color: transparent; /* tabs have the grey */
padding: 0 10px;
width: 940px;
margin: 0;
}

.one-column #banner, .page-event.one-column #banner 
{
    padding: 0 10px;
    width: 940px;    
}

/* added for events with premium content */
.page-event #primary.premium-event {
    padding: 0;
}
.page-event #primary.premium-event div.general-content  {
    background-color: #F4F1EE;
    margin-bottom: -16px;
    padding: 16px 21px;
}
.page-event #primary.premium-event div#ctl00_PageContent_FormSection0 {
    background-color: #F4F1EE;
    padding: 16px 21px;
}

/* end premium content event */
.page-home #primary, .page-product #primary, .landing-page #primary {
padding: 0;
}
.page-home #banner, .page-product #banner, .landing-page #banner {
padding: 0;    
} 

/* RT 61326 */
.spotlight {
  padding: 0 50px;
  width: 840px;
  height: 240px;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  display: table;
}

.spotlight img {
  position: absolute;
  left: 0px;
}

.spotlight .wrapper {
  position: absolute;
}

.spotlight .middle {
  height: 240px;
  display: table-cell;
  vertical-align: middle;
}

.spotlight .middle .inner h1 {
  color: #fff;
}

.spotlight .spotlight-copy {
  width: 500px;
  font-size: 15px;
  line-height: 25px;
}

/* END RT 61326 */

.page-home #primary { width: 935px}


* html .page-products #primary {}

.page-news-archive #primary, .page-event #primary { /* two col layout where primary is just tabs. if used more than twice, dp_class probably called for. */
background-color: transparent;
padding: 0 0;
width:700px;
    }

.columns .col h2, #lead h2.campusInfo {
    font-size: 1.665em;
    margin-bottom: 0.25em;
    border-bottom: none
}
#lead {
clear: both;
overflow: hidden;
}
.page-home #lead { margin-bottom: 13px;outline:none }
.page-news #lead { clear: none; overflow: hidden;}
* html  .page-home #lead { float: left; width: 935px; }

.page-products{}
.page-products #lead {
background: none;
}
.page-products #lead img {
float: left;
margin: 0 21px 15px 0; 
}
.page-products #primary .results li {
margin-top: 23px;
}
.page-products .results-wrap {
border: 1px solid #ccc;
width: 1316px;
}
.results { padding-bottom: 1.457em;}
.page-products .results-wrap .results{
float: left;
width: 658px;
}
.results a:visited { color: #e3805d; }
#primary .results h2 { margin: 1.457em 0 -3px 0;}
#primary .results h2:first-child {margin-top: 0;} 
#primary .results ul {margin-left: 1.5em;}

#footer { 
clear: both; 
/*  overflow: hidden;*/ 
/*padding: 26px 20px;*/ /* Removed */
position: relative;
}

* html iframe {
background-color: #f4f1ee;
}

/*----------------------------------- Type, Links and Lists----------*/

a, a:visited { color: #004052; text-decoration: none; } /* red = D42922 */

a:hover, a:focus  { color: #e23d28; text-decoration: underline; }

a.more {display: block;}
p a.more, li a.more { display: inline;}
.more span { display: block; position: absolute; left: -9999em; }

a.brand{
background:  transparent url(/imgs/css/bg_sprite4.png) 0 -84px no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png') 0 -84px no-repeat; */
background-position:0 -84px ;
display: block;
height: 135px;
overflow: hidden;
padding: 16px 0 0 0;
position: absolute;
text-indent: -9999px;
width: 170px;
}
#footer a.brand {
background:  #dad7d0 url(/imgs/css/bg_sprite4.png) -200px -150px no-repeat; /* {CP} background:  #dad7d0 url('../img/css/bg_sprite2.png') -200px -150px no-repeat; */
float: left;
height: 89px;
margin: 0 2em 0 237px;
padding: 0;
position: relative;
width: 119px;
}
     * html #footer a.brand { margin-left: 120px;}

.thompson #header h2 {
font-size: 3.08em;
color: #DAD3CE;
left: 237px;
position: relative;
top:58px;
width: 450px;
z-index:25;
}

/* not yet sure how these will be built so covering options here */
a.excel, a.doc, a.pdf {
display: block;
padding: 8px 0 8px 30px;
}
a.excel { background:  transparent url(/imgs/css/bg_sprite4.png) -450px -145px no-repeat;} /* {cp} background:  transparent url('../img/css/bg_sprite2.png') */
a.doc { background:  transparent url(/imgs/css/bg_sprite4.png) -450px -185px no-repeat; } /* {cp} background:  transparent url('../img/css/bg_sprite2.png') */
a.pdf { background:  transparent url(/imgs/css/bg_sprite4.png) -450px -225px no-repeat; } /* {cp} background:  transparent url('../img/css/bg_sprite2.png') */
.rightCol a.pdf {width: 170px;}



h1 {
color: #7d6a55;
font-size: 2.583em;
font-weight: normal;
}
.page-products #lead h1 {
color: #76a391;
}
.thompson h1 {margin-bottom: 0;}  

h2 {clear: left;}
.jump-list+h2 {clear: right;}
h1+h2 { margin-top: 0;}

#lead h2 {
border-bottom: 2px dotted #D8D2CD;
margin-bottom: .5em;
padding-bottom: .3em;
}

#secondary h2, #secondary h3 { 
color: #302921; 
border-bottom: 1px dashed #D9E3DF;
padding-bottom: .5em;
}


/* .results h2 { margin: 1em 0 1em 0; }
.results ul+h2 { margin-top: 2em; } */

/* Changes for artf137426 H2 to H1 changes on homepage - starts here*/
.page-home .tab h1 {
border-bottom: 1px dotted #D8D2CD;
margin-bottom: 8px;
}

.welcome-left h1 {
font-size: 1.8em;
margin-top: 24px;
}

.tab h1 {
font-size: 2em;
line-height: 1.192;
font-weight: normal;
}
/* Changes for artf137426 H2 to H1 changes on homepage - ends here*/

.tab h3 {
font-size: 1.25em;
font-weight: bold;
/*text-decoration:none;*/
}
/*
.tab h3 a {
color:#ffffff;
text-decoration:none;
}
.tab h3 a:hover {
color:#ffffff;
text-decoration:underline;
}
*/
.tab h2, .tab h3 {
color: #7d6855;
}
.tab h2{
font-size: 1.665em;
line-height: 1.192;
font-weight: normal;
}
.tab .col ul {
margin-left: 1.9em;
clear: left;
}
.page-home .tab h2 {
border-bottom: 1px dotted #D8D2CD;
margin-bottom: 8px;
}
.page-home .tab h3 {
font-size: 1.167em;
}
.tab #RequestMoreInfo {
/*margin-top: 1em;*/
}

/*.tab img { margin-bottom: 1em;} */

.welcome-left h2 { /* text based headers */
font-size:1.8em;
margin-top:24px;
}

.tab .col2 img {float: none}
.welcome-left{
padding-top: 2.1em;
}

.page-product .col2 .contact_us_button img  {
margin-bottom: 18px;
margin-top: 5px
}

.page-home .welcome-left h2:first-child {
margin-top: 0;
}

.jump-list {
clear: right;
list-style-type: none;
margin: 0;
padding: 0 0 1.417em 0;
} 
#content #primary .jump-header             { background:  transparent url(/imgs/css/bg_sprite4.png) -500px -133px no-repeat; border: none;}
.jump-header *             { display: inline; font-size: 1em; padding: 0 0 0 11px;}
.jump-list li             { display: inline; border-right: 1px solid #85715B; }
.jump-list a              { padding: 0 8px; }
li.jump-header              { border: none; }
.jump-list li:last-child { border: none; }
.jump-list li.last          { border: none; } /* separate line for IE8: */

.tab dt, #primary dt {
font-weight: bold;
margin-top: 1em;
vertical-align: top;
}


/* hcard formatting  */
#primary .vcard { margin-bottom: 1em;}
.country-name {}
#lead .org, .fn { font-weight: bold; } 
.page-contact #primary .columns h2 {margin-top: 1.417em;} 
.page-contact #primary .columns h3 {margin-top: 1.417em;} 

#primary ul{
clear: left;
} 
#primary ul li{
background: transparent url(/imgs/css/bullets.png) 0 0 no-repeat; /* {CP} background: transparent url('../img/css/bullets.png') 0 0 no-repeat; */
list-style-type: none;
margin-left: 0;
padding-left: 15px;
}
#primary li li{
background-position:  0 -300px;
}
#primary li li li{
background-position:  0 -600px;
}
#primary li li li li{
background-position:  0 -900px;
}
#primary ul ul {
margin: 0 0 0 1.5em;
} 
#primary ul.events li,  #primary ul.jump-list li, #primary .tabs li,  #primary .results li,
#primary .tools ul li, #primary .page-utility ul li, #primary fieldset li,
#primary .vcard li, #primary .dp-image-title li, #primary .no-bullets li, #primary ul.cols li {
background-image: none;
padding-left: 0;
}

li.honeyPot, li.elqFormName, li.elqFormId, li.sourceSystem, 
li.elqCustomerGUID, li.elqCookieWrite  {display: none }



#primary .no-bullets {margin-left: 0}

ol ol {margin-bottom: 0}

/* {CP} Number list nesting level [NEW] 
Note: support IE8, FF, Safari, Chrome

ol {
margin: 0px 0px 1.417em 2em;
list-style-type: none;
counter-reset: item;
}
ol li:before {
margin-right: 0.25em;
counter-increment: item;
content: counters(item, ".") ".  ";
}

ol#breadcrumbs {
counter-reset: none;
}
ol#breadcrumbs li:before  {
counter-increment: none;
content: counter( );
}
*/

/**
 * -------------------------------------------------------------- Image Replaced Headers
 * 
 */

.image-replace {
background: transparent url(/imgs/css/ir_headers.png) no-repeat; /* {CP} background: transparent url('../img/css/ir_headers.png') no-repeat;*/
overflow: hidden;
height: 25px;
text-indent: -9999px;
width: 435px;
}
.tab .image-replace, .tab p.lead{ margin-top: 24px;}
.page-home .col2 .image-replace { width: 379px; }

#hdr-prod-industry  { background-position: 0 0; }
#hdr-prod-business  { background-position: 0 -25px; }
#hdr-spotlight, 
#hdr-spotlight-2 { background-position: 0 -50px; }
#hdr-research-reports { background-position: 0 -75px; }
#hdr-key-trends { background-position: 0 -100px; }
#hdr-current-news { background-position: 0 -125px; }
#hdr-events { background-position: 0 -150px; }
#hdr-welcome-info { background-position: 0 -175px;}
#hdr-welcome-analytics { background-position: 0 -200px;}
#hdr-welcome-decisioning { background-position: 0 -225px;}

/* #secondary div headers*/
#secondary .image-replace { 
border-bottom: none; 
color: #302921; 
padding-bottom: 0;
width: 189px; 
}

#hdr-choose-industry { background-position: 0px -350px; }
#hdr-solutions { background-position: -203px -350px; }
#hdr-roles   { background-position: 0px -375px; }



/* -------------- Image left, headline, copy right pattern and overrides */
#primary ul.dp-image-title {
list-style-type: none;
margin: 0;
padding: 0;
}
.dp-image-title img {
border: 1px solid #D8D2CD;
border: 1px solid #c2b9b0;
float: left !important;
margin: 0 10px 10px 0;
}

.dp-image-title p, .dp-image-title p + a {padding-left: 172px;}

.dp-image-title a {
    display: block
    }
    
/*  .dp-image-title h3, .dp-image-title h4, .dp-image-title p, .dp-image-title .more {
margin-left: 110px;
} */
.dp-image-title li{
clear: left;
overflow: hidden;
padding-bottom: 1.5em;
}

* html .dp-image-title li {
float: left;
width: 100%;
        }


.spotlight .dp-image-title li {
border-bottom: 1px dotted #D8D2CD;
margin-bottom: 1em;
overflow: hidden;
padding-bottom: 1em;
}
.spotlight .dp-image-title li img {
margin: 0 16px 16px 0;
}

/* removed during creative review
  .tab .events .dp-image-title img{
float: none;
margin: 0;
}  */




dl.date-listing {
margin-bottom: 1.25em;
overflow: hidden;
}
.date-listing dt, .date-listing dd{
clear: both;
display: block;
float: left;
font-weight: normal;
margin-bottom: .5em;
margin-top: 0;
width: 12%;
}
.date-listing dd {
clear: none;
margin-left: 3%;
margin-top: 1em;
width: 82%;

}
* html .date-listing dt { width: 14%; }
* html .date-listing dd { margin-left: 4px;}

.page-customer-login ul { margin-bottom: 1.25em;}

#footer ul {
list-style-type: none;
float: left;
margin: 0;
padding: 0;
width: 525px;
width: 560px;
}

#footer ul li {
margin: 0 0 .25em 0;
padding: 0;
float: left;
width: 175px;
}

#footer  a { color: #85715b; }
#footer  a:hover {color: #e23d28 ;}
#footer .legal {
color: #aea7a1;
float: left;
margin-top: 23px;
}
*+html #footer .legal{ margin-top: -24px}
.thompson #footer .legal { font-size: .9em;}
#footer .top {
color: #85715b;
font-size: .833em;
position: absolute;
top: -22px;
right: 33px;
}
*+html #footer .top { top: -157px;}

ul.events {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.events p.date{ 
font-weight: bold;
margin-bottom: .5em;
}
#primary ul.events h2 { 
margin: 1.457em 0 -3px 0;
}


/*---------------------------------- Navigation --------------------*/

ul#nav, ul.nav, .results ul, #wrapper .downloads {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav {
height: 38px;
/*     overflow: hidden; */
position: absolute;
top: 118px;
left: 226px; /*to maintain spacing between menu items and search box {JM} */
z-index: 11;
}
#nav a, #nav li {
    display: block;
float: left;
padding: 0;
width: auto;
_position: relative;
}
#nav a:hover {
text-decoration: none;
}
#nav>li>a {
/*  background:  transparent url('../img/css/nav.png') 0 -39px no-repeat; */
/* background:  transparent url('../img/css/bg_sprite2.png') 0 0 no-repeat;*/
height: 39px;
text-indent: -999em;
}
#nav li a {
background:  transparent url(/imgs/css/bg_sprite4.png) 0 0 no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite.png') 0 0 no-repeat; */
/* background:  transparent url(/imgs/css/bg_sprite.png) 0 0 no-repeat; {JM} */ 
height: 39px;
text-indent: -999em;
position: relative;
    }
#nav li a:focus { overflow: hidden; }

/*global nav items*/
#nav .nav-products  { width: 122px; } /* {JM} Changed to Industries; OLD: width: 182px; */ 
#nav .nav-solutions { width:119px;} /* {JM}  */
#nav .nav-about    { width: 120px; } /* {JM} width:108px; */
/*#nav .nav-career  { width: 108px; } {JM} */
#nav .nav-investors  { width: 115px; } /* {JM} width:106 */

#nav .nav-products a  { background-position:    0px -340px; width: 122px; } /* {JM} Changed to Industries; OLD: background-position:    0px -340px; width: 182px;*/
#nav .nav-solutions a { background-position: -123px -340px; width:119px; }  /* {JM} */
#nav .nav-about a   { background-position: -243px -340px; width: 120px; }  /* {JM} background-position: -184px -340px; width: 106px;*/
/*#nav .nav-career a  { background-position: -295px -340px; width: 108px; } {JM} */
#nav .nav-investors a   { background-position: -364px -340px; width: 115px; }  /* {JM} background-position: -396px -340px; width: 106px;*/

/*
#nav .nav-products a:hover, #nav .nav-products.over a  { background-position:    0px -299px; } 
#nav .nav-industries a:hover, #nav .nav-industries.over a   { background-position: -184px -299px; }
#nav .nav-about a:hover, #nav .nav-about.over a  { background-position: -292px -299px; }
#nav .nav-investors a:hover, #nav .nav-investors.over a  { background-position: -398px -299px; }
*/

/* js moves the classname up to the ul#nav for ie6 since it can't handle .nav-products.over */
#nav .nav-products:hover a, #nav.nav-products .over a  { background-position:    0px -300px; } /* {JM} Changed to Industries; OLD: background-position:    0px -299px;*/
#nav .nav-solutions:hover a, #nav.nav-solutions .over a  { background-position:-123px -300px;} /* {JM} */
#nav .nav-about:hover a, #nav.nav-about .over a { background-position: -243px -300px; } /* {JM} background-position: -184px -299px; */
/*#nav .nav-career:hover a, #nav.nav-career .over a   { background-position: -295px -300px; } {JM} */
#nav .nav-investors:hover a, #nav.nav-investors .over a { background-position: -364px -300px; } /* {JM} background-position: -396px -299px; */
/**/

#wrapper #nav li.nav-products ul ul a {
    width: 155px;
}
#wrapper #nav li.nav-products ul ul, #wrapper #nav li.nav-products ul ul li {
    width: 175px !important;
}
#nav .nav-products ul.cols-3, #nav .nav-solutions ul.cols-3 { width: 525px;} /* {JM}*/

/* child selector hack for ie: http://drupal.org/node/49970 */
#nav ul{
list-style-type: none;
margin: 0;
padding: 0;
}

#nav ul.cols {
visibility: hidden;
background-color: #685745;
float: left;
overflow: hidden;

/* prevent subnav from causing triggers - it's still on the page. */
height: 1px;
        padding: 0;

}

* html #nav ul.cols {
position: absolute;
visibility: visible;
display: none;
left: 0;
top: 39px;
zoom: 1;
z-index: 15;
    }



#nav li.top:hover ul, #nav li.over ul.cols{
visibility: visible;
overflow: visible;

/* let it grow.*/
height: auto !important;
    padding: 16px 38px 28px 38px;
}

#nav li.top:hover ul.cols-1, #nav li.over ul.cols-1 {
padding: 16px 18px 28px 18px;
}


#nav ul.cols-2 { width: 350px; }
#nav ul.cols-3 { width: 405px; }
#nav ul.cols-4 { width: 540px; }
#nav ul.cols-5 { width: 675px; }
#nav .nav-career ul.cols-3 { width: 525px;}


#wrapper #nav li.top ul ul, #nav li.top ul ul li {
padding: 0;
width: 175px;
float: none;
}

#wrapper #nav .cols-description, #wrapper #nav .cols-description li{
color: #E1D9D1;
width: 200px;
font-weight: bold;
}

#wrapper #nav li.nav-career ul ul, #wrapper #nav li.career ul ul li {
width: 175px;
}
#wrapper #nav ul a{
background-color: none;
background-image: none;
color: #e1d9d1;
display: block;
float: none;
height: auto;
padding: 3px 10px 5px 10px;
text-indent: 0;
width: 155px;
}
#wrapper #nav li.nav-career ul ul a { width: 155px;}
#wrapper #nav ul ul a:hover{
background-color: #E1D9D1;
color: #685745;
}

#secondary .nav {}  
#secondary .nav li {
border-bottom: 1px dashed #d9e3df;
margin: 0;
padding: 5px 0;
}                                    
#secondary .nav li li { border-bottom: none; padding: 0;}
#secondary .nav a{
color: #30423B;  
}
#secondary .nav .parent a{

}
#secondary .nav .current { color: #fff !important; font-weight: bold; }
#secondary .nav span {

background:url(/imgs/css/bg_sprite4.png) no-repeat scroll -716px -120px #CAD5D0; 
/* {CP} background:url('../img/css/bg_sprite2.png') */
cursor: pointer;
display: inline-block;     
float: right;
height: 8px; 
margin-top: .4em;
width: 8px;
}
/*  #secondary .nav .active span {
background:  transparent url('../img/css/bg_sprite2.png') -175px -25px no-repeat;
}   */
#secondary .nav ul {
list-style-type: none;
margin: .75em 1.5em;
padding: 0;
}


ol#breadcrumbs, .pagination ol, .tools ul, .page-utility ul, ul.utility {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}
ol#breadcrumbs li, .tools ul li, .page-utility ul li {
display: inline;

}
ol#breadcrumbs li.active a, .pagination li.active a, .tools ul li.active a, .page-utility ul li.active a {color: #85715B;}
ol#breadcrumbs .home-crumb a {
background:  transparent url(/imgs/css/bg_sprite4.png) 0 0 no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite.png') 0 0 no-repeat; */
display: block;
float: left;
height: 13px;
text-indent: -999em;
width: 18px;
}

ol#breadcrumbs li {
background:  transparent url(/imgs/css/bg_sprite4.png) 0 -53px no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png') */
padding: 0 10px 0 17px;

}
ol#breadcrumbs li.home-crumb,  ol#breadcrumbs li.corporate-crumb { background-image: none; padding-left: 0px;}


ol#breadcrumbs {
float: left;
width: 70%;
}
.page-utility {
_float: left;
overflow: hidden;
padding-bottom: 16px;
_width: 100%;
}
.search-page ol#breadcrumbs { display: none;}
.one-column .page-utility {
border-bottom: 2px dotted #D8D2CD;
margin-bottom: 16px;
}

.page-about .page-utility {
    border-bottom: 2px dotted #D8D2CD;
    margin-bottom: 16px;
}
.page-home .page-utility {
display: none;
}
.page-utility ul {
float: right;
width: 230px;
} 
/*.thompson .page-utility ul { width: 130px;}*/

.page-utility ul li{
display: block;
float: right;
margin-left: 19px;
width: 17px;
}
.page-utility .print-this-page, .page-utility .send-to-friend {
width: 65px;
}
/*.thompson .page-utility .print-this-page , .thompson .page-utility .send-to-friend {
width: 17px;
}*/

.page-utility ul a/*, .thompson .page-utility .send-to-friend a*/ {
background:  transparent url(/imgs/css/bg_sprite4.png) -31px 0 no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png')  */
display: block;
float: left;
height: 14px;

text-indent: -999em;
width: 17px;
}
.page-utility .tear-sheet a  { background-position: -67px -25px; }
.page-utility .rss a  { background-position: -31px -25px; }
/*.thompson .page-utility .print-this-page a  { background-position: -67px 0; margin-right: 0; }*/ 
.page-utility .print-this-page a  { background-position: -96px -277px; width: 65px;}
.page-utility .send-to-friend a  { background-position: -2px -277px; margin-right: 0; width: 65px; }

#header .utility {
background:  transparent url(/imgs/css/bg_sprite4.png) -200px 0 no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png')  */
position: absolute;
left: 584px;
top: -5px;
padding-left: 206px;
padding-top: 26px;
width: 143px;
}
.thompson #header .utility { min-height: 60px; }
#header .utility a { color: #85715b;} 
#header .utility a:hover { color: #e23d28 ;}
#header .utility li { background-color: #fff; }/* to mask sprite on text only resize */
#header .utility .contact, #header .utility li:last-child { border-bottom: 2px dotted #D8D2CD; padding-bottom: 11px; }
.thompson #header .utility li:last-child {position: absolute; bottom: 0; }
.pagination {
background-color: #e3dfda;
clear: both;
margin-bottom: ;
padding: 3px 6px;
overflow: hidden;
}
* html .pagination { float: left; }
.pagination ol { float: right; width: auto;}
.pagination li, .pagination a {
display: block;
float: left;
margin-right: 9px;
width: 8px;
}
* html .pagination a { margin: 0;}
.pagination .prev a, .pagination .previous a, .pagination .next a {
background:  transparent url(/imgs/css/bg_sprite4.png) -100px 4px no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png')  */
height: 13px;
display: block;
float: left;
text-indent: -999em;
width: 8px;
}

.pagination .next a { background-position: -125px 4px;}

.pagination span span {
    display: block;
    float: left;
    margin-right: 9px;
    width: 8px;
    }
.pagination .previous {
    float: left;
    margin-right: 9px;
    margin-top: 5px;
    }
    
.pagination .next {
    float: left;
    }



.search-page .pagination .previous { margin-top: 0px;}

.tools {
background-color: #fff;
margin: -20px 0 20px -21px;
overflow: hidden;
padding: 2px 0 10px 0;
width: 700px;
}
* html .tools {
            width: 721px;
margin-right: -21px;
        }


.items-per-page {
float: right;
text-align: right;
width: 45%;
}
.items-per-page h5, .items-per-page ul {
display: inline;
}
.items-per-page li a { padding: 0 3px;}
.items-per-page li.active a { }
.tools p {
float: left;
width: 45%;
}
.tools p.filter {
clear: both;
margin-bottom: 0;
width: 100%;
}
.tools p.filter sup a{
background:  transparent url(/imgs/css/bg_sprite4.png) -447px -108px no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png')  */
display: inline-block;
height: 14px;
text-indent: -999em;
width: 13px;
}
.tools p.filter sup a:hover {
background-position: -447px -126px;
}

.tabs {
overflow: hidden; 
margin: 0 0 -11px 0;
padding: 0; 
list-style-type: none;
z-index: 20;

}
.page-home .tabs { margin-bottom: -10px; }
.page-about .tab { padding-right: 0px; padding-left: 0px; }/* Added this style for removing extra space*/

/* customer landing page */
#banner.noheader {
padding-top: 22px;
}

#banner img {
padding-bottom: 22px;
}

#banner.tabbedbanner img{
margin-bottom: 0px;
padding-bottom: 0px;
}

#top-banner {
width: 940px;
overflow: hidden;
}

#flashbanner {top: 0}

.page-about-hastabs #primary {
    background-color: transparent;
    padding: 0;
    width: 700px;
}
.page-about-hastabs #primary {
 
 }

.page-about-hastabs #primary .tabwrap .col {
    margin-right: 0;
    padding-right: 21px;
    padding-left: 21px;
    width: auto;
}


.tab {
background-color: #f4f1ee;
min-height: 200px;
overflow: hidden;
padding: 16px 21px;
z-index: 11;



/* offset hack for #hashed landings via bookmark or direct link */
margin-top: -100px;
padding-top: 116px;
}
* html .tab {
     clear: left;
float: left;
        margin-top: -8px;
padding-top: 16px;
    }
.page-news-archive .tab, .page-event .tab {
padding: 0 21px 0 21px;/* OLD padding-top:16px; */
margin-top: 0;
}
.page-event #primary.event .tab {padding-top:16px;}

* html .page-news-archive .tab{ margin-top: -8px; }
* html .page-event .tab{ margin-top: -8px; }
* html .page-news-archive .tabs li a{padding: 3px 20px 25px 20px;}
* html .page-event .tabs li a{padding: 3px 20px 25px 20px;}
.tabs li {
        float: left;
position: relative;
    }
.tabs-hide {display: none;}

.tabwrap {
overflow: hidden;
/*min-height: 500px;*/
}

/*----- Correct whitespace issue on new home pages {JM} ----*/
.page-home .tabwrap{
min-height:200px;
}

.tabs a {
/*background: transparent url(/imgs/css/bg_sprite2.png) right -50px no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png')  */
/*color: #D42922;*/
display: block;
float: left;
font-size: 1.25em;
margin-right: 3px;
padding: 3px 10px 25px 8px;
min-width: 75px;
text-align: center;
}
.tabs a.last {background-image: none;}
.tabs .active a {
background: url(/imgs/css/bg-tab.png) center bottom no-repeat; /* ie8 displays a rendering bug at certain zoom levels with the sprite. :( */ /* {CP} background:  transparent url('../img/css/bg-tab.png')  */
color: #fff;
text-decoration: none;
}
.tabs a:hover { text-decoration: none; }

.page-home .tabs a {
background:  transparent url(/imgs/css/bg_sprite4.png) 0 0 no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png')  */
border: none;
height: 52px;
margin: 0;
padding: 0;
text-indent: -999em;
}
/* OLD Home Page Tab Navigation
.tabs li#tab-industries a  { background-position:    0px -400px;  width: 231px;}
.tabs li#tab-research a  { background-position: -231px -400px;  width: 199px;}
.tabs li#tab-news a  { background-position: -430px -400px;  width: 172px;}
.tabs li#tab-welcome a  { background-position: -604px -400px;  width: 118px;}

.tabs li#tab-industries a:hover  { background-position:    0px -452px;  width: 231px;}
.tabs li#tab-research a:hover   { background-position: -231px -452px;  width: 199px;}
.tabs li#tab-news a:hover   { background-position: -430px -452px;  width: 172px;}
.tabs li#tab-welcome a:hover  { background-position: -604px -452px;  width: 118px;}


.tabs li#tab-industries.active a  { background-position:    0px -504px;  width: 231px;}
.tabs li#tab-research.active a   { background-position: -231px -504px;  width: 199px;}
.tabs li#tab-news.active a   { background-position: -430px -504px;  width: 172px;}
.tabs li#tab-welcome.active a  { background-position: -604px -504px;  width: 118px;}
*/

/* New home page Tab navigation {JM} */
.tabs li#tab-industries a  { background-position:    -1px -400px;  width: 171px;} /*Key Solutions*/
.tabs li#tab-research a  { background-position: -172px -400px;  width: 134px;} 
.tabs li#tab-news a  { background-position: -306px -400px;  width: 142px;} 
.tabs li#tab-welcome a  { background-position: -604px -400px;  width: 118px;} 

.tabs li#tab-industries a:hover  { background-position:    -1px -452px;  width: 171px;} /*Key Solutions*/
.tabs li#tab-research a:hover   { background-position: -172px -452px;  width: 134px;} 
.tabs li#tab-news a:hover   { background-position: -306px -452px;  width: 142px;} 
.tabs li#tab-welcome a:hover  { background-position: -604px -452px;  width: 118px;} 


.tabs li#tab-industries.active a  { background-position:    -1px -504px;  width: 171px;} /*Key Solutions*/
.tabs li#tab-research.active a   { background-position: -172px -504px;  width: 134px;} 
.tabs li#tab-news.active a   { background-position: -306px -504px;  width: 142px;} 
.tabs li#tab-welcome.active a  { background-position: -604px -504px;  width: 118px;} 

/* the overlayed element */
#zoom{
z-index:10000;
}
#zoom td {
border: none;
}

















/* search results */
.search-page ol.results {
border-top: 1px solid #d8d2cd;
list-style-type: none;
margin: 1em 0 0 0;
padding: 1em 0 0 0;
}
ol.results ol  {
list-style-type: none;
}
ol.indented-results{
margin: 0;
padding: 0;
}
.results p.snippet {
margin-bottom: 0;
color: #85715B;
}
.result-url {
color: #aaa;
margin: 0 0 2em 0;
padding-left: 50px;
}
.search-page #content fieldset {
padding-bottom: 1.5em;
}
fieldset.search input {
font-size: 1.1em;
padding: 5px 3px 3px 3px;
width: 30%;
}
#site-search-404 { 
margin: 1.33em 0;
}
.search-page .resultinfo {
float: right;
margin-top: -3.6em;
padding-right: 20px;
text-align: right;
width: 40%;
}
.search-page #zero-results {
clear: both;
}
.search-page #zero-results .resultinfo {
float: none;
margin: 0;
text-align: left;
}
.search-term {font-weight: bold;}


/*----------------------------------- Forms -------------------------*/

/* Style for auto complete drop down */

.yui-ac-container {
background-color:#567266;
-moz-opacity:0.95;
-khtml-opacity: 0.95;
opacity: 0.95;
position:absolute;
top:25px;  
left: 0;   
width: 208px; 
z-index: 1000;            
}

*+html .yui-ac-container { filter:alpha(opacity=95) }
* html .yui-ac-container { filter:alpha(opacity=95) }

.yui-ac-bd ul li {
border-bottom:1px dotted #CCD8D1;
margin-bottom:0;
padding:8px;
color:#fff; 
text-shadow: 1px 1px 1px #333;
line-height: 15px;
}

.yui-ac-bd ul li:hover {
background-color:#80A394;
cursor: pointer;
}

.yui-ac-bd ul li:last-child {
border-bottom: none;
border-bottom-color: 8px;
}

.yui-ac-highlight { background-color:#80A394;}

#wrapper fieldset ul {
    list-style-type: none;
margin: 0;
}
fieldset li { margin-bottom: 1.333em;}
fieldset li.check-radio-wrap {margin-bottom:10px}

fieldset li.hidden {
    margin: 0;
display: none;
}
input, select, textarea, label, button {
    display: block;
font: 1em ariel, helvetica, sans-serif;
line-height: 1;
}
fieldset label {margin-bottom:2px}
#wrapper input[type=hidden] { border: none;}

button, #wrapper a.button {
    background-color: #7CA295 ;
color: #fff;
cursor: pointer;
line-height: 1.4;
padding: 6px 21px 4px 21px;
padding: 6px 0 4px 0;
}

#wrapper button:hover, #wrapper button.over, #wrapper a.button:hover {background-color: #30423b; color:#fff text-decoration: none;}

* html button { line-height: 1; }
*+html button { line-height: 1.2; padding-bottom: 2px; }
* html #wrapper a.button { line-height: 1; }
*+html #wrapper a.button { line-height: 1.2; padding-bottom: 2px;  }

#wrapper #content button { padding-left: 4px; padding-right: 4px; }

.check-radio-wrap { overflow: hidden}

.check-radio-wrap label {
margin-bottom: 0em;
line-height:1.5em;
/* fix wrapping test */
display: block;
padding-left: 18px;
/*width:227px*/
}

.TabForm{
margin-bottom: 10px;
margin-top: 10px;
}


/* JJB */
.col .check-radio-wrap input {margin-top: 0;}
#AgentAchieveForm .checkbox-list li {margin-bottom: 0;}
#container-Full-width .col {width: 100%;}

#container-RequestMoreInformation {list-style-type: none;}
.narrower {width: 60%;}
/* end JJB */

.check-radio-wrap input{
float: left;
margin-right: 6px;
margin-top: -2px;
width: 15px;
border-width: 0;

/* fix wrapping test */
/*margin: -2px 0 0 -18px;*/
margin: -2px 0 20px -18px;
}
* html .check-radio-wrap input { border: none; margin-left: -9px; margin-top: -5px;}
    *+html .check-radio-wrap input { border: none; margin-top: -5px;}

label.disabled {
color: #777;
filter: alpha(opacity=50);
-khtml-opacity: 0.5;
-moz-opacity: .5;
opacity: .5;
}

#secondary .check-radio-wrap {
padding: 5px 0;
}
#secondary fieldset {
color: #30423b;
}
#secondary select {
color: #85715b;
margin: 0 0 5px 0;
padding: 3px;
width: 180px;
}

.col2 select {
border: 1px solid #D8D2CD;
padding: 4px 2px 3px 5px;
width: 100%;
}

#secondary fieldset.industry {
border-bottom: 2px solid #d7e0cc;
margin-bottom: 12px;
padding-bottom: 20px;
border-top: 1px solid #CAD5D0;
}
* html #secondary .industry { float: left;}
#secondary .industry button {
            width: 178px;
        }


li input, li textarea {
border: 1px solid #D8D2CD;
color: #333;
padding: 4px 5px 3px 5px ;
width: 250px;
}
li select {
border: 1px solid #D8D2CD;
color: #85715B;
padding: 4px 5px 3px 5px;
width: 262px;
}


li.error, #primary li.error {
background-color: #FDAEBF;
border: 1px solid #f40;
border-width: 1px 0;
padding: 7px 10px 12px 7px;
}

.col li.error,  li.error { width: 260px}
.col2 li.error { width: 217px }
.tab .layout-75-25 .col2 li.error { width: 215px }

li.error label{
color: #444;
}
li.error label.error {
font-weight: bold;
padding: 5px 0;
}
li.error input{
border-color: #f40;
}
fieldset h4, #container-RequestMoreInformation h4 { margin: 1em 0 1em 0;} /* OLD: margin: 4em 0 1em 0;*/
#container-RequestMoreInformation button {margin-bottom:1em;}


        .phone { float: left; margin-right: 10px; width: 190px; }
        .phone input { width: 180px; }
        .phone-ext { float: left; width: 50px; }
        .phone-ext input { width: 50px; } 
        
        
#site-search {
float: right;
margin-top: 4px;
position: absolute;
right: 0;
top: 111px;
width: 208px;
}

* html #site-search { width: 211px;}
* html #site-search input { margin-right: 0; padding-bottom: 4px}
*+html #site-search input { padding-bottom: 4px }

#header #site-search label {position: absolute; left: -9999em;}
#site-search input{
background:  #BFCCC5 url(/imgs/css/bg_sprite4.png) -525px -350px no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png')  */
border: none;
color: #5e8274;
float: left;
margin-right: 3px;
padding: 5px 11px 7px 11px;
width: 141px;

}
#primary fieldset.search input {
border-color: #667;
float: left; 
margin-right: 10px
} 
* html #primary fieldset.search input { margin-right: 5px}

#site-search button, #primary fieldset.search button{
background:  transparent url(/imgs/css/bg_sprite4.png) -527px -300px no-repeat; /* {CP} background:  transparent url('../img/css/bg_sprite2.png')  */
border: none;
height: 24px;
margin: 0;
padding: 0;
text-indent: -999em;
width: 42px;
}
#site-search button:hover, #primary fieldset.search button:hover, #site-search button.over, #primary fieldset.search button.over{
background-position: -527px -324px;
}
/*  #site-search button, #primary fieldset.search button{
display: block;
float: left;
text-align: center;
width: 17px;
width: 41px;
}
    * html #site-search button {
     width: 40px;
padding: 7px 0 5px 0;
border: none;
    }
*+html #site-search button {
     width: 40px;
padding: 7px 0 5px 0;
border: none;
    }
 */

/**
 * -------------------------------------------------------------- columns
 * 
 */

.columns{
overflow: hidden;
}
* html .columns {zoom:1}

.col {
float: left;
padding-right: 1.5%;
width: 48%;
overflow: hidden;
}

.columns ul {
list-style-type: none; 
margin-left: 0;
padding-left: 0;
}
.columns ul ul {margin: 0 0 0 1em;} /* only for site map at this point */

#primary ul.cols, #primary ul.cols ul {
list-style-type: none;
margin: 0;
overflow: hidden;
padding: 0 0 1em 0;
width: 100%;
}
#primary ul.cols li{
float: left;

}
#primary ul.cols li li {
float: none;
}

#primary ul.cols-2 li{
padding-right: 1.5%;
width: 48%;
}
#primary ul.cols-3 li{
padding-right: 2%;
width: 31%;
}
#primary ul.cols-2 li li, #primary ul.cols-3 li li{
padding-right: 0;
width: auto;
}

.col_info {
background-color: #FFFFFF;
margin-bottom: 20px;
padding: 23px 29px;
}


/* Added for Product Page Right Column Widgets */
.col_info.lgreen {
background: none repeat scroll 0 0 #D9E0DD!important;
}
.col_info.lblue {
background: none repeat scroll 0 0 #D9E2E5!important;
}
.col_info.beige {
background: none repeat scroll 0 0 #E8E6E2!important;
}
.col_info.none{
background: none repeat scroll 0 0 transparent!important;
}
.col_info h3{
margin-bottom: 0.25em;
}
.col_info ul {
margin: 0px !important;
}
.col_info ul li { 
background: none repeat scroll 0 0 transparent !important;  
margin-left: 0px !important;
padding-left: 0px !important;
} 
.col_info.research_box ul li {
margin-bottom: 7px;
margin-top: 10px; 
background: transparent url(/imgs/css/research-icon.png) no-repeat scroll 0 3px !important; 
padding-left: 25px !important;
}
.col_info.download_box ul li div.excel, 
.col_info.download_box ul li div.doc,
.col_info.download_box ul li div.pdf {
width: 30px;
height: 30px;
float: left; 
}
.col_info.download_box ul li div.pdf {background: transparent url(/imgs/css/bg_sprite4.png) -450px -225px no-repeat !important;}
.col_info.download_box ul li div.excel { background:  transparent url(/imgs/css/bg_sprite4.png) -450px -145px no-repeat !important;} 
.col_info.download_box ul li div.doc { background:  transparent url(/imgs/css/bg_sprite4.png) -450px -185px no-repeat !important; } 

.col_info.event_box ul li { clear: both; }
.col_info.event_box ul li img { float: left; }

/* End Added for Product Page Right Column Widgets  */



.col_info_form{
background-color: #FFFFFF;
margin-bottom: 20px;
padding: 23px 29px;
}

.col_info_form fieldset {
    padding: 3px 5px !important;
}
.col_info_form li input, li textarea {
    width: 201px;
}

.col_info_form li.check-radio-wrap input {
	width: 15px;
}

.form_instructions {/* add width here to control width of content above form on full width page */}

.col_info_merge {
    background-color: #FFFFFF;
    padding: 23px 29px;
    }

.tab .col2 fieldset {
padding: 23px 29px;
background-color: #fff;
}
 .tab .col2 fieldset {
margin-bottom:10px;
}


/* 75-25 Layout */ 
.tab .col {
margin-right: 23px;
padding-right: 30px;
width: 569px;
}

/* 75-25 Layout for about us page */ 
.tabNav .tab .col {
width:  399px;
}

.tabNav .tab .col2 {
width: 168px;
background-color: #fff;
padding: 23px 19px; 
}

.tab .col2 {
/*background-color: #fff;*/
padding: 0;
margin: 0;
width: 276px;
}

/* 25-75 Layout */ 
.tab-25-75 .col {
float: right;
margin-right: 5px;
padding-right: 0;
}

.tab-25-75 .col2 { float: left } 


/* 20-60-20 Layout */
.tab-25-50-25 .col {
width: 450px;
margin: 0 31px;
padding-right: 0;
}  

.tab-25-50-25 .col2 {
width: 193px;
margin: 0;
} 

/* {CP} ADDED FOR TAB FULL WIDTH LAYOUT 
Full width Layout */ 
.tab-full-with .col {
width:100%;
margin-right: 0px;
padding-right: 0px;
}

.page-home .col{
margin-right: 67px;
width: 435px;
padding-right: 0;
}
.page-home .col2 {
background-color: transparent;
margin-right: 0;
width: 379px;
padding: 0;
}
* html .page-about .tabwrap .col {margin-right: 40px}

.landing-page.one-column .col2 {
background-color: #fff;
  padding: 23px 19px;
  } 

.layout-25-50-25 .col{
width: 20%;
}
.layout-25-50-25 .col2{
padding: 0 4.9%;
width: 50%;
}
.layout-25-50-25 .col3{
width: 20%;
}

.layout-75-25 .col {
padding-right: 4.9%;
width: 65%;
}
.layout-75-25 .col2 {
padding-right: 2%;
width: 25%;
}
.tab .layout-75-25 .col {
margin-right: 0;
}
.tab .layout-75-25 .col2{
width: 25%;
padding: 23px 19px;
}



.layout-50-50 .col{
padding-right: 4.9%;
width: 47.5%;
}
.layout-50-50 .col2 {
padding-right: 0;
}

/*
.page-event #primary .tab .layout-75-25 .col, 
.page-event #primary .tab .layout-50-50 .col, 
.page-event #primary .tab .layout-25-50-25 .col {
padding: 0px;
} 
*/
.page-event .tab .layout-75-25 .col{
padding-right: 3.9%;
width: 67%;
}
.page-event .tab .layout-75-25 .col2 {
padding: 23px 2%;
width: 25%;
}

/* Landing Pages */ 
.landing-page #primary .layout-75-25, 
.landing-page #primary .layout-50-50, 
.landing-page #primary .layout-25-50-25 {
background-color: #f4f1ee;
float: left;
overflow: hidden;
padding: 23px;
}
.landing-page #primary .tab .layout-75-25, 
.landing-page #primary .tab .layout-50-50, 
.landing-page #primary .tab .layout-25-50-25 {
padding: 0px;
}

.landing-page .col2 li input, .landing-page .col2 li textarea {
width: 95%;
}

/* Pages without Tabs */

.page-event.page-about.one-column .layout-75-25 {
background-color: #F4F1EE;
overflow: hidden;
padding: 10px 21px;
}

.page-event.page-about.one-column .layout-75-25 .col2 {
background-color: #fff;
padding: 23px 19px;
}        

/* Landing Page Alternate Options - Added 8/18 CP/Ken Snyder */
.tab .alt  {
    width: 500px;
}
.tab .alt2 {
    width: 345px;
}
.tab .alt2 .noback {
    background: none repeat scroll 0 0 transparent !important;
}
.tab .noback  fieldset{
    background: none repeat scroll 0 0 transparent !important;
}

.tabwrap .noback, .tabwrap .noback fieldset {
    background: none repeat scroll 0 0 transparent !important;
}


/* Fraud (JJB) */

#primary #threeCol {overflow: hidden;}

#threeCol .leftCol {
display: inline;
float: left; 
padding-right: 15px;
width: 200px;
}

#threeCol .midCol {
background: #F4F1EE;
display: inline;
float: left; 
padding: 21px 21px 0px 21px;
width: 455px;
}

#threeCol .rightCol {
display: inline;
float: left;
padding-left: 15px;
}


/* Isolated Fraud styles */
.leftCol p.signature {
font-weight: bold;
text-align:right;
}

.leftCol blockquote {
font-style: italic;
padding: 15px 0;
}

.midCol p.landing {
background: url(/imgs/css/fraud_landing_page_header.jpg) no-repeat center top; /* this is getting replaced */
padding-top: 397px;
}

.rightCol ul {
list-style-type: none;
margin: 0;
}

.rightCol p {padding-bottom: 2em;}

.rightCol a.email span {/* background: url('../img/css/bg_sprite2.png') no-repeat scroll -31px 0 transparent;*/ }

/* end Fraud */ 



/**
 * -------------------------------------------------------------- Bits
 *
 */
.call-to-action {
display: block;
margin: 1.5em 0;
overflow: hidden;
width: 100%;
}
* html .call-to-action { float: left;  }

.tab .call-to-action img {
border: 1px solid #D8D2CD;
float: left;
margin: 0 20px 20px 0; 
}
.tab .call-to-action h2, .call-to-action h3 {
clear: none;
margin: 1em 0 .5em 0;
}

.callout {
background-color: #fff;
/* border: 1px solid #85715B; */
float: right;
margin: 0 0 1em 1.25em;
width: 250px;
clear:both;
} 

.page-news-archive .callout {
     margin-right: 20px;
    margin-top: 23px
}

.callout h2 {   
font-size: 2.167em;
}
.callout .inner{
padding: .71em 16px;
padding: 1.42em 23px;
}
.callout img { float: none; margin-bottom: 2.5em;}
.page-release .callout {border: none;}
.page-release .callout h2 {
background-color: transparent;
color: #85715B;
padding: 0;
text-align: left;
}

.calloutWrap {
    background-color: #F4F1EE;
    margin-bottom: 20px;
    padding: 20px 20px 61px;
    }

.dp-horizontal-box {
overflow: hidden;
margin-bottom: 2.5em;
width: 100%;
}
.dp-horizontal-box dl {
float: left;
margin-right: 1.5%;
width: 23%;
  }
.page-news .dp-horizontal-box dl {
margin-right: 36px;
width:137px;
}
.dp-horizontal-box dl.last {
margin-right: 0;
margin-left: -1px;
}
.dp-horizontal-box dl dt, .dp-horizontal-box dl dd {
display: block;
font-weight: normal;
margin-top: 0; /* override of general dl style */
}
.dp-horizontal-box img {
float: none;
margin: 0 0 1em 0;
max-width: 137px;
}
* html .dp-horizontal-box img{
width: 137px;
}



img {
float: left;
margin: 0 1.25em .4em 0;
} 
a img { border: none;}
img+ul  { margin-left: 15px;}

.page-product .col2 img  { float: none; margin-bottom: 1em; }
.dp-image-title img   { max-width: 159px; } /* CMS users can put in any size image they want */
* html .dp-image-title img  { width: 159px; } 
.news .dp-image-title img  { max-width: 117px; }
* html .dp-image-title img  { width: 117px;}


table.image{
/* using */
}
table.image td {
border: none;
}
table.image img{
float: none;
margin: 0;
}
.image-left{
float: left;
margin: 0 1.25em 0.4em 0;
}
img.image-left{
float: none;
} 
.image-right{
float: right;
margin: 0 0 0.4em 1.25em;
}
.image-right img{
float: right;
}
.image-center{
display: block;
float: none;
margin: 0 auto;
text-align: center;
}
.image-center img{
float: none;
}
table.image-left{
float: left;
margin: 0 1.25em 0.4em 0;
}

table.image-right,  #theHtmlTag img.image-right  {
float: right;
margin: 0 0 0.4em 1.25em;
}
table.image-center, #theHtmlTag img.image-center{
display: block; 
float: none;
margin: 0 auto;
text-align: center;
width: auto;
}
.caption{
clear: both;
font-size: .9em;
} 

.videocaption {

text-align: center;
font-size: 1.25em;
font-weight: bold;
}

image-right img, .image-center img{
float: none;
}


.rightAl, .centerAl  {
text-align: right;
display: block;
}

.centerAl {
text-align: center;
}

/* images with caption TABLE */
table.captionLeft, table.captionMid, table.captionRight {
font-size: .9em;
float: left;
margin: 0 10px 0 0;
}

table.captionRight {
float: right;
margin: 0 0 0 10px;
}

 table.captionMid {
  margin: 0 auto;
  float: none;
 }

table.captionLeft td, table.captionLeft tr,
table.captionMid td, table.captionMid tr,
table.captionRight td, table.captionRight tr   {
border: none;
margin:0;
} 

table.captionLeft img,
table.captionMid img,
table.captionRight img  {
margin: 0;
}

/* {CP} SECTION STYLE FOR IMAGE
MORE CONTROL WITH APPLYING SECTION
Image useing section [NEW] */
div.image-left {
float: left;
margin: 0 15px 6px 0; /*margin: 0 1.25em .4em 0;*/
overflow:inherit;
clear:left;
}
div.image-center {
display:block;
clear:both;
float:none;
padding:0;
margin: 0 auto 12px auto;
text-align: center;
}
div.image-right {
float:right;
margin:0 0 6px 15px; /*margin:0 0 0.4em 1.25em;*/
overflow:inherit;
clear:right;
}
div.image-left img,
div.image-center img,
div.image-right img {
margin:0;
float:none;
}

/* {CP} SECTION STYLE FOR IMAGES AND CAPTIONS
TABLE DOES NOT FLOAT LEFT, RIGHT, MIDDLE IN WYSIWYG 
images with caption DIV [NEW]  */
div.captionLeft {
float: left;
margin: 0 10px 12px 0;
overflow:inherit;
clear:left;
}
div.captionRight {
text-align: left;
float: right;
margin: 0 0 12px 10px;
overflow:inherit;
clear:right;
} 
div.captionMid {
margin: 0 auto 12px auto;
float: none;
text-align: center;
clear:both;
 }
#content div.captionLeft img,
#content div.captionMid img,
#content div.captionRight img {
margin:0;
float:none;
}
div.imgCaption {
width:100%;
font-size: .9em;
font-style: italic;
}

/*----------------------------------- Randoms/dev utility styles ---*/

.accessibility { height:0;left:-9999em;line-height:0;position:absolute;text-indent:-9999em; }
.column {
    float: left;
width: 45%;
margin-right: 2%;
}

.small  { width: 25%; }
.medium  { width: 48%; }
.large  { width: 90%; }
.error, .red  { color: red; }
.show { display: block; }
.hide { display: none; }

/* there's always a better way than using these. */
.hide { display: none; }
.left  { float: left; margin: 10px 5px 10px 0; }
* html .left  { margin-right: 0; }
.right  { float: right; }
.clear  { clear: both; }
.clearleft  { clear: left; }
.clearright  { clear: right; }



/*----------------------------------- Style for Events page sub tabs -------------------------*/

.eventWrap {
width: 700px;
overflow: hidden;
background-color:#f4F1ee;
}  

.colWrap .tab {
background-color:none;
padding:0;
width:491px;
}
  
.colWrap .col table {
margin:10px 0; 
background-color:#fff
} 

.colWrap .col table th {
font-size:1em; 
text-align:left
}

.eventWrap img {
border:1px solid #eee;
margin:20px 0 1px 20px;
}

.colWrap {
background:none repeat scroll 0 0 #f4F1ee;
overflow:hidden;
padding:20px 0 30px 0;
width:700px;
}

.colWrap .col {
margin-right:10px;
padding:0 0 0 20px;
width:491px;
overflow: hidden;
}

.colSide {
float: right;
width: 157px;
padding-right:6px
}

.eventWrap ul.tabs {
float: none;
margin:0 0 0 20px;
} 

.eventWrap .tabs li { border-right:1px solid #fff}

.eventWrap .tabs a {
font-size: 12px;
padding: 5px 5px 5px;
background-image:none;
background-color:#7D6A55;
color:#fff ;
margin-right:0
}

.eventWrap .tabs .active a {
background-color: #F4F1EE; 
color:#7D6A55
}

p a.externalLink {
background:url("/imgs/css/linkarrows.png") no-repeat scroll 0 0 transparent;
color:#fff;
display:block;
padding:3px 0 3px 9px;
margin-bottom:20px  
}

.colSide h3 {
background-color:#958376;
background-image:none;
color:#fff;
font-size:12px;
font-weight:normal;
line-height:18px;
padding:3px 0 3px 9px;
width:133px;
margin-bottom:5px
}

a.externalLink:hover, a.internallLink:hover,
a.externalLink:visited, a.internallLink:visited  {
color: #fff; text-decoration: none
}

.colSide a.pdf, .colSide a[href$=".pdf"] {
background:url("/imgs/css/pdf_icon_verysmall.gif") no-repeat scroll 0 9px transparent;
padding-left:20px;   
}

/*fixes for IE6*/
* html .colWrap .col {padding-top:5px}
* html .eventWrap ul.tabs { display:inline}
* html .eventWrap .tabs a { padding:5px 10px !important }  

/*Ipad*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

#site-search input {
background: none;
background-color: #BFCCC5;
padding: 5px 11px 6px;
}

p, .tabwrap ul li {
font-size: 120%;
}

.dp-image-title p,  #primary ul.cols ul li  {
font-size:  100%;
        }

        .navIndustryDropDown {
color: #474747 !important; 
font-size: 14px !important; 
background-color: #fff !important; 
border: 1px solid #648A7E !important; 
}

}

/*------------------------ New Home Page Styles {JM} ------------------------------*/
#home_welcome_left{background-color:#f4f1ee; width:604px !important; margin-right:60px; float:left; margin-top:25px;}
#home_welcome_left img{padding:0 !important; margin:25px 0 28px 0 !important; float:left;}
.home_replace{background:transparent url(/imgs/content/homepage/home_sprite.png) 0 0 no-repeat;text-indent:-9999px; overflow:hidden; height:25px;}
.home_replace #hr_welcome_left{width:604px; background-position:0 0;}

#home_welcome_right{width:218px; background-color:#f4f1ee; float:right; margin-top:25px;}
#hr_welcome_right {width:218px; height:25px; background-position:0 -25px; margin-bottom:none !important;}

.home_welcome-key_ul{list-style-type:none !important; padding:0 !important; margin:-8px 0 0 0 !important;}
.home_welcome-key_ul li {margin:0 !important; padding-left:0 !important; height:42px; width:218px; border-bottom:1px dotted #d8d2cd; clear:none; background:none !important;}
.home_welcome-key_ul li a{background:transparent url(/imgs/content/homepage/home_sprite.png) 0 -50px no-repeat; height:42px; width:203px; display:block; font-size:15px !important; line-height:42px !important; padding-left:15px !important;overflow:hidden;}

.home_welcome-key_ul li a:hover{background-position:-218px -50px;}

.home_key_gradient {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe6e1', endColorstr='#f4f1ee'); /* Internet Explorer */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebe6e1), to(#f4f1ee)); /* webkit */
	background: -moz-linear-gradient(top,  #ebe6e1,  #f4f1ee); /* firefox 3.6+ */ 
}
#home_key_wrap{width:100%; margin-top:25px;}
#home_key_left{ width:33%;float:left; margin-bottom:28px;}
#home_key_mid{width:33%; float:left; margin-left:5px; margin-bottom:28px;}
#home_key_right{width:33%; float:right; margin-bottom:28px;}

.home_keysol_list{list-style-type:none !important; padding:0 !important; margin:0 !important;}
.home_keysol_list li{width:264px;margin:0 15px !important; padding:0 !important; height:42px; border-bottom:1px dotted #d8d2cd; clear:none; background:none !important;}
.home_keysol_list li a{background:transparent url(/imgs/content/homepage/home_sprite.png) 0 -50px no-repeat; height:42px; width:203px; display:block; padding-left:15px; font-size:14px !important; line-height:42px !important; overflow:hidden;}
.home_keysol_list li a:hover{background-position: -218px -50px;}

#home_DATS_box{width:541px; height:88px; background:transparent url(/imgs/content/homepage/data-analytics-tech-serv_sprite_31612.png) -50px 0 no-repeat; position:relative; margin-bottom:28px;}
#home_DATS_list li{list-style-type:none; display:inline; float:left; height:84px; width:105px; position:absolute; top:0; background:none !important;padding-left:0 !important;}
#home_DATS_list li a{background:transparent url(/imgs/content/homepage/data-analytics-tech-serv_sprite_31612.png) 0 0 no-repeat; height:84px; width:105px; display:block;}

.DATS1{left:0; width:65px !important;}
.DATS2{left:120px;}
.DATS3{right:152px;}
.DATS4{right:0;}

#home_DATS_list .DATS1 a{background-position:-40px -88px; width:65px;}
#home_DATS_list .DATS2 a{background-position:-105px -88px;}
#home_DATS_list .DATS3 a{background-position:-210px -88px;}
#home_DATS_list .DATS4 a{background-position:-315px -88px;}

#home_DATS_list .DATS1 a:hover{background-position:-40px -173px; width:65px;}
#home_DATS_list .DATS2 a:hover{background-position:-105px -173px;}
#home_DATS_list .DATS3 a:hover{background-position:-210px -173px;}
#home_DATS_list .DATS4 a:hover{background-position:-315px -173px;}

.home_modal_DATS{width: 600px; border: 5px solid #ffffff; background-color: #f4f1ee; padding:20px !important; overflow:auto;}

/*------------------------- End New Home Page Styles ----------------------------*/

/*------------------------- Social Media Style ----------------------------------*/
.socialmedia img {
    float: none;
    margin: 0 0 1em;
}

/*------------------------- End Social Media Style ------------------------------*/

/*These extra divs/spans may be used as catch-alls to add extra imagery. */
#extraDiv1 {}
#extraDiv2 {}
#extraDiv3 {}
#extraDiv4 {}
#extraDiv5 {}
#extraDiv6 {}




/*-----------------------------------  Ephox test CP Yuki -------------------*/
p.testTitle {
border-bottom: 2px dotted #D8D2CD;
margin-bottom: 1em;
padding-bottom: 1em;
font-weight:bold;
font-size:16px;
}
#testWrapper.testArea p.testTitle {
border-bottom: 1px dotted #D8D2CD;
margin-bottom: 1em;
padding-bottom: 1em;
font-weight:bold;
font-size:16px;
ephox-visible: false;
}
#testWrapper.testArea p.noVisible-false {
border-bottom: 1px dotted #D8D2CD;
margin-bottom: 1em;
padding-bottom: 1em;
font-weight:bold;
font-size:16px;
}
/* end test */

/*----------- Research Page Social Links ------- */
.socialMediaPlugin{
/*display:inline-block;*/
/*margin-left: 8px; */
/*margin-left: 128px;*/
margin-left: 0px;
padding-top: 0px; 
padding-bottom: 5px;
}
.socialMediaPlugin label{
float: left; 
line-height: 19px;
margin-right: 4px;
}

.addthis_button_linkedin_counter{
background-color: #f4f1ee;
}

.addthis_button_tweet {
background-color: #f4f1ee;
overflow: hidden;
width: 58px;
}
.addthis_button_facebook_like {
background-color: #f4f1ee;
overflow: hidden;
width: 45px;
}
.addthis_button_google_plusone {
background-color: #f4f1ee;
overflow: hidden;
width: 34px;
}
.addthis_pill_style {
background-color: #f4f1ee;
overflow: hidden;
width: 50px !important;
}

/*----------- End Research Page Social Links ----- */


.event_title {
padding-bottom: 15px;
}
.banner_image {
padding-bottom: 7px !important;
}

.tab.research {
margin-top: 0px;
padding-top: 20px;
}
.tab.research div.c4{
margin-left: 0px;
}

p.largeFont {
line-height: 22px;
font-size: 16px;
}


/* Start Research Carousel */

.research_carousel h3 a
{
color: #ffffff;
text-decoration:none;
}
.research_carousel h3 a:hover {
color:#ffffff;
text-decoration:underline;
}

.research_carousel .carousel_title {
margin-bottom: 10px;
}

.research_carousel .jcarousel-container {
width: 600px;
margin-bottom: 10px;
}

.full-width .research_carousel .jcarousel-container {
width: 940px;
margin-bottom: 10px;
}

.research_carousel .jcarousel-clip {
width: 530px;
margin-left: 35px;
margin-right: 35px;
overflow: hidden;
}

.full-width .research_carousel .jcarousel-clip {
width: 865px;
margin-left: 35px;
margin-right: 35px;
overflow: hidden;
}

.research_carousel .product_carousel .jcarousel-item {
width: 176px;
}

.research_carousel .product_carousel .product_container 
{				
margin-left: 5px;
margin-right: 5px;
background: white;
padding: 10px 10px 0 10px;	
position: relative;				
}

.research_carousel .product_container .product_title {
margin-bottom: 5px;
}

.research_carousel .product_container .product_description {
padding-bottom: 15px;
}

.research_carousel .product_container .product_link {
position: absolute; 
bottom: 5px; 
right: 12px;
}

.research_carousel .product_carousel {				
list-style: none;
display: block;
}

.research_carousel .product_carousel li {
background: none !important;
padding: 0 !important;
list-style: none;				
display: block;
float: left;
} 

.research_carousel .jcarousel-container .jcarousel-prev-horizontal {
background: url("/imgs/homepage/sprite_home_01.png") no-repeat scroll -904px -152px transparent;
cursor: pointer;
display: none;
height: 43px;
left: 0px;
position: absolute;
top: 50px;
width: 32px;			
}			
.research_carousel .jcarousel-container .jcarousel-next-horizontal {
background: url("/imgs/homepage/sprite_home_01.png") no-repeat scroll -862px -383px transparent;
cursor: pointer;
display: none;
height: 43px;
position: absolute;
right: 0px;
top: 50px;
width: 34px;			
}

.research_carousel .product_title_container 
{
background-color: white;
height: 51px;
margin-left: 5px;
margin-right: 5px;
}
.research_carousel .product_title_container h3
{
padding: 5px 10px;
}
.research_carousel .product_title_container.blue h3
{
color: white;
padding: 5px 10px;

}
.research_carousel .product_title_container.blue h3 a
{
color: white;
text-decoration:none;
height:51px;
display:block
}

.research_carousel .product_title_container.blue
{
background: url("/imgs/carousel/rp-banner-blue1.png");
background-repeat: repeat-x;
}
.research_carousel .product_title_container.lightblue h3
{
color: white;
padding: 5px 10px;
}
.research_carousel .product_title_container.lightblue h3 a
{
color: white;
text-decoration:none;
height:51px;
display:block;
}
.research_carousel .product_title_container.lightblue
{
background: url("/imgs/carousel/rp-banner-blue2.png");
background-repeat: repeat-x;
}
.research_carousel .product_title_container.green h3
{
color: white;
padding: 5px 10px;
}
.research_carousel .product_title_container.green h3 a
{
color: white;
text-decoration:none;
height:51px;
display:block;
}
.research_carousel .product_title_container.green
{
background: url("/imgs/carousel/rp-banner-green.png");
background-repeat: repeat-x;
}
.research_carousel .product_title_container.orange h3
{
color: white;
padding: 5px 10px;
}
.research_carousel .product_title_container.orange h3 a
{
color: white;
text-decoration:none;
height:51px;
display:block;
}
.research_carousel .product_title_container.orange
{
color: white;
background: url("/imgs/carousel/rp-banner-orange.png");
background-repeat: repeat-x;
}
.research_carousel .product_title_container.purple h3
{
color: white;
padding: 5px 10px;
}
.research_carousel .product_title_container.purple h3 a
{
color: white;
text-decoration:none;
height:51px;
display:block;
}
.research_carousel .product_title_container.purple
{
background: url("/imgs/carousel/rp-banner-purple.png");
background-repeat: repeat-x;
}
.research_carousel .product_title_container.yellow h3
{
color: white;
padding: 5px 10px;
}
.research_carousel .product_title_container.yellow h3 a
{
color: white;
text-decoration:none;
height:51px;
display:block;
}
.research_carousel .product_title_container.yellow
{
color: white;
background: url("/imgs/carousel/rp-banner-yellow.png");
background-repeat: repeat-x;
}
/* End Research Carousel */

/* Start Download Page */
.research-header h1 {
width: 612px;
float: left;
}
.research-header .socialMediaPlugin {
float: right;
width: 276px;
margin-left: 0px;
}
.research-content {
background-color: white;
padding: 10px;
margin-bottom: 20px;
}
.research-content.expanded {
    /**position: absolute;
    left: 0;
    right: 0;**/
    /**margin-right: -3000px;
    padding-right: 3000px;
    margin-left: -3000px;
    padding-left: 3000px;
    background-color: #000;**/
}
.research-content .research-intro {
padding: 5px 10px;
}
.research-content .download-report {
width: 263px;
float: left;
margin-right: 15px;                                            
}
.research-content .download-report h3 {
padding-left: 10px;
margin-bottom: 5px;
}
.research-content .download-content {
background-color: #f5f5f5;
padding: 30px;
text-align: center;
height: 310px;
}								
.research-content .premium-content {
float: left;
}
.research-content .premium-content h3 {
padding-left: 10px;
margin-bottom: 5px;											
}
.research-content .premium-content img{
margin: 0px;
}
.research-content .premium-content p{
margin-bottom: 0px;
}	
.research-bottom .archive-section {
width: 284px;
float: left;
margin-right: 14px;
}
.research-bottom .archive-section .archive-header {
background: url('/imgs/content/research_pages/archives_top.jpg') no-repeat;
padding: 10px;
height: 43px;
}
.research-bottom .archive-section .archive-header  h3{
padding-top: 5px;
}
.research-bottom .archive-section .archive-content {
background-color: #f2f2f2;
border-left: 1px solid #d5d5d5;
border-right: 1px solid #d5d5d5;
border-bottom: 1px solid #d5d5d5;
padding: 0 10px 10px;
}
.research-bottom .archive-section .archive-content h3{
margin-bottom: 5px;
padding-top: 15px;
}
.research-bottom .archive-section .archive-content .archive-link {
background: url('/imgs/content/research_pages/report_icon.jpg') no-repeat scroll 0 4px;
padding-left: 31px;
height: 35px;
margin-bottom: 5px;
}
.research-bottom .archive-section .archive-content .archive-link a{
vertical-align: middle;
}
.research-bottom .carousel-section {
float: left;
}
/* End Download Page */

/* Segments - Accordions */
.segment {
width: 300px;
height: 150px;
float: left;
}
.segment.expandable {
width: auto;
height: auto;
float: none;	
}
.segment .header-arrow {
border-bottom: 1px solid #cccccc;
cursor: pointer;
overflow: hidden;
position: relative;
}
.segment .header-arrow h3 {
float: left;
margin: 4px 0px;
overflow: hidden;
padding-left: 20px;
width: 450px;
font-size: 14px;
font-weight: normal;
color: #006699;
}
.segment .header-arrow .expand {
background-color: none;
position: absolute;
width: 20px;
left: 0;
top: 1px;
}
.segment .header-arrow .expand .arrow {
background: url(/imgs/content/industry_solutions/arrow_closed.png);
background-repeat: no-repeat;
height: 22px;
}
.segment.active .header-arrow .expand .arrow {
background: url(/imgs/content/industry_solutions/arrow_open.png);
background-repeat: no-repeat;
height: 22px;
}
.segment .header-arrow-long {
border-bottom: 1px solid #cccccc;
cursor: pointer;
overflow: hidden;
position: relative;
}
.segment .header-arrow-long h3, .segment .header-arrow-long {
/*float: left;*/
margin: 4px 0px;
overflow: hidden;
padding-left: 20px;
font-size: 14px;
font-weight: normal;
color: #006699;
width: 100%;
}
.segment .header-arrow-long .expand {
background-color: none;
position: absolute;
width: 20px;
left: 0;
top: 1px;
}
.segment .header-arrow-long .expand .arrow {
background: url(/imgs/content/industry_solutions/arrow_closed.png);
background-repeat: no-repeat;
height: 22px;
}
.segment.active .header-arrow-long .expand .arrow {
background: url(/imgs/content/industry_solutions/arrow_open.png);
background-repeat: no-repeat;
height: 22px;
}
.segment.expandable {
margin-bottom:5px;
clear:both;
}
.segment .content {
display:none;
padding-top: 10px;
padding-left: 37px;
}
.segment .content.arrows {
display:none;
padding-top: 10px;
padding-bottom: 10px;  
padding-right: 15px;
padding-left: 15px;
background: white;    
}
.segment .content.arrows p {
margin-bottom: 0px;
}
.segment .content ul {margin-top:10px;}
.segment .content li {
list-style-type: disc;
margin-bottom: 5px;
padding-left: 0;
background: none;
}
.segment .content .section {
margin-bottom: 10px;
}
.segment .content .section.no-left-mrg {margin-left:-27px;}
.segment .content .col-section {
float: left;
margin-right: 20px;
width: 260px;
}
.segment p{line-height: 20px; margin-bottom: 10px;}
.segment .structured_image img{
width: 93px;
height: 93px;
border: 1px solid #dad7d0;
}
.tab-left-column .header, .full-width .header, .segment .header {
background: #ffffff;	
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjBlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU2ZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */    
border: 0px solid #CCCCCC;
overflow: hidden;
position: relative;
cursor:pointer;    
}
.tab-left-column .learnmore, .full-width .learnmore, .segment .learnmore {
float: right;
line-height: 26px;
margin-right: 10px;
font-size: 12px;
}
.tab-left-column .header a, .full-width .header a, .segment .header a{
z-index: 9999;
}
.tab-left-column .header h3, .full-width .header h3, .segment .header h3 {
text-indent:35px;
margin: 4px 0;
float: left;
overflow: hidden;    
font-weight: bold;
}
.tab-left-column .header h3 a, .full-width  .header h3 a, .segment .header h3 a {color:#7b7e82}
.tab-left-column .header .expand, .full-width .header .expand, .segment .header .expand {
background-color: #ffffff;
height: 100%;
width: 20px;
padding: 3px;
position: absolute;
text-align: center;
left:0;
}
.tab-left-column .header-noexpand, .full-width .header-noexpand, .segment .header-noexpand {
border: 0px solid #CCCCCC;
overflow: hidden;
position: relative;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjBlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU2ZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.tab-left-column .header-noexpand h3, .full-width .header-noexpand h3, .segment .header-noexpand h3 {
text-indent:35px;
margin: 4px 0;
float: left;
width: 500px;
overflow: hidden;
font-weight: bold;
}
.tab-left-column .header-noexpand h3 a, .full-width .header-noexpand h3 a, .segment .header-noexpand h3 a{color:#006699}
.tab-left-column .header-noexpand a:hover, .full-width .header-noexpand a:hover, .segment .header-noexpand a:hover {text-decoration: none; cursor: hand; color: #e23d28;}
.tab-left-column .header-noexpand .expand, .full-width .header-noexpand .expand, .segment .header-noexpand .expand {
background-color: #ffffff;
height: 100%;
width: 20px;
padding: 3px;
position: absolute;
text-align: center;
left:0;
}
.tab-spr {
background: url() no-repeat scroll 0 0 transparent;
display: inline-block;
height: 14px;
width: 14px;
vertical-align: middle;
}							
.tab-spr.plus {background-position: -15px 0;}
.tab-spr.minus {background-position: -28px 0;}

.segment .content h3 {
font-size: 15px;
font-weight: bold;
}
.segment .content {
font-size: 12px;
line-height: 17px;
}
.accordion-asset{
margin-left: 20px; 
margin-right: 20px;
margin-bottom: 15px;
}
.structured_image {
width: 108px;
float: left;
}
.structured_content {
margin-left: 108px;
}

/* Flyout Form */


#MOS_contact_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  background: #fff;
  display: none;
}
#MOS_contact_form {
  width: 225px;
  position: absolute;
  top: 50px;
  right: 43px;
  background: #6e6259;
  z-index: 1200;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: none;
}
#MOS_contact_form h1 {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  line-height: 130%;
  margin: 0 0 10px 0;
  padding: 0;
}
#MOS_contact_form p {
  font-size: 13px;
  color: #fff;
  font-weight: normal;
  line-height: 130%;
  margin: 0 0 20px 0;
  padding: 0;
}
#MOS_contact_form p.legal {
  font-size: 11px;
  margin: 20px 0 0 0;
}
#MOS_contact_form .placeholder {
color: #ddd;
font-weight: normal;
}
#MOS_contact_form ul {
margin: 0px;
}
#MOS_contact_form abbr {
border-bottom: none;
}

#MOS_contact_form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ddd;
  font-weight: normal;
}
#MOS_contact_form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ddd;
  font-weight: normal;
}
#MOS_contact_form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ddd;
  font-weight: normal;
}
#MOS_contact_form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ddd;
  font-weight: normal;
}
#MOS_contact_form input, #MOS_contact_form textarea, #MOS_contact_form select {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #9a918b;  
}
#MOS_contact_form input {
  border: 1px solid #544b44;
  outline: none;
  width: 203px;
  height: 16px;
  line-height: 16px;
  padding: 7px 10px 7px 10px;
  margin-bottom: 10px;
}
#MOS_contact_form input[type="submit"], #MOS_contact_form button {
  width: auto;
  height: 30px;
  padding: 0 10px 0 10px;
  line-height: 12px;
  text-align: center;
  background: #fff;
  color: #6e6259;
  cursor: pointer;
}
#MOS_contact_form .fullbutton input {
  width: 225px;
  padding: 0;
}
#MOS_contact_form textarea {
  border: 1px solid #544b44;
  outline: none;
  width: 203px;
  height: 48px;
  line-height: 16px;
  padding: 7px 10px 7px 10px;
  margin-bottom: 10px;
  resize: none;
}
#MOS_contact_form select {
  border: 1px solid #544b44;
  outline: none;
  width: 223px;
  
  line-height: 16px;
  padding: 7px 10px 7px 10px;
  margin-bottom: 10px;
  resize: none;
}
#MOS_contact_form .styled-select {
  width: 223px;
  height: 30px;
  overflow: hidden;
  background: url("/imgs/mos/ddd-arrow.png") no-repeat right #9a918b;
  border: 1px solid #544b44;
  margin-bottom: 10px;
}
#MOS_contact_form .styled-select select{
  background: transparent;
  width: 251px;
  padding: 7px 10px 7px 10px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 30px;
  -webkit-appearance: none;
  color: #fff;
  outline: none;
}
#MOS_contact_form .styled-select select.default {
  font-weight: normal;
  color: #ddd;
}
#MOS_contact_form .styled-select select.select-open {
  background: #9a918b;
}
#MOS_contact_form input[type="checkbox"] {
  display: none;
  border: none;
  outline: none;
  width: auto;
  height: auto;
  line-height: 30px;
  padding: 0;
  margin-bottom: 0;
}
#MOS_contact_form input[type="checkbox"] + label {
  display: inline-block;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  margin: 0 0 10px 0;
  padding: 0 20px 0 20px;
  background: url("/imgs/mos/checkboxes.png") no-repeat 0 0;
  cursor: pointer;
}
#MOS_contact_form input[type="checkbox"]:checked + label {
  background: url("/imgs/mos/checkboxes.png") no-repeat 0 -30px;
}
#MOS_contact_form li.error {
width: auto;
border: none;
background-color: inherit;
}
#MOS_contact_form li.error  label{ 
color: #f80a09;
} 
#MOS_contact_form li.error input, #MOS_contact_form li.error textarea, #MOS_contact_form li.error select {
  border: 1px solid #f80a09;
}
#MOS_contact_form .mos-form-complete {
  display: none;
}
#MOS_contact_form .mos-form-complete .close-button {
  height: 30px;
  padding: 0 10px 0 10px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  color: #6e6259;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}
#MOS_contact_form label {
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
}

#MOS_contact_form fieldset
{
	margin-top: 15px;
}

#MOS_contact_form li {
    margin: 0;
    padding: 0;
}
#MOS_contact_button {
  width: 42px;
  height: 182px;
  position: fixed;
  z-index: 2000;
  top: 140px;
  right: 0px;
  background: url("/imgs/mos/contact-button.png") no-repeat 0 0;
  cursor: pointer;
}

/* CSS table layouts for the insights area  */

.insightContainer{
		width: auto;
		margin: auto;
		border: none;
		border-color: red;
		padding:10px 0px 10px 0px
    }   

.insightTable{
    display: table;
		margin-left: auto;
		margin-right: auto;
		width: auto;
  	border-bottom: 1px solid #c9c7c8;     
		border-top: 1px solid #c9c7c8;		
    }

.insightRow{
        display: table-row;
    }
	

.insightCell{
    display: table-cell;
    border: none;
    border-width: 1px;
    border-color: #cccccc;
    padding:0px 30px 0px 30px;
    text-align: left;
    vertical-align: middle;
    }

.ctaImg{
    vertical-align:middle;
    padding: 0px 0px 0px 0px;
    }
/* CSS table layouts for the insights area END  */


/* CSS table layouts for video thumbs START  */

	.videotablesingleright
    {      
      float: right;
      border: none;
      border-width: 1px;
      border-color: #3399ff;
      display: table;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      padding: 0px 0px 0px 20px;

    }

		.videotablesingleleft
    {
 
      float: left;
      border: none;
      border-width: 1px;
      border-color: #3399ff;
      display: table;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      padding: 0px 20px 0px 0px;
    }	

	.videotable
    {
      display: table;
      border: none;
      border-width: 1px;
      border-color: #3399ff;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 100%;
      padding: 0px 0px 0px 0px;
    }
	
    .videorow
    {
      display: table-row;
      border: none;
      border-width: 1px;
      border-color: #cccccc;
			padding: 0px 0px 20px 0px;
    }
	

    .videocell
    {
      display: table-cell;
      border: none;
      border-width: 1px;
      border-color: #ff9900;
      padding: 0px 0px 0px 0px;
      text-align: center;
      vertical-align: top;
    }


    .videotext
    {
      border: none;
      border-width: 1px;
      border-color: #cccccc;
      padding: 0px 0px 20px 0px;
      text-align: left;
      margin: auto;
      max-width: 270px;
      font-size: 14px;
      font-weight: bold;
	
    }
	.videoheader
    {
      border: none;
      border-width: 1px;
      border-color: #cccccc;
      padding: 0px 0px 0px 0px;
      text-align: middle;
      font-size: 1.5em;
      font-weight: bold;
	   }

	.ctaimg
    {
      
      border: solid;
      border-width: 1px;
      border-color: #cccccc;
      padding: 0px 0px 0px 0px;
      margin-bottom: 0em;
	   }


/* CSS table layouts for video thumbs END  */

/* H2 Header with lines BEGIN  */
.headercontainer h2 {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

.headercontainer h2:before, 
.headercontainer h2:after {
  background: #85715b;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100px;
}

.headercontainer h2:before {
  right: 100%;
}

.headercontainer h2:after {
  left: 100%;
}

.headercontainer {
  overflow: hidden;
  text-align: center;
}

/* H2 Header with lines END  */
