/* start style.css */

body {padding: 0px; margin: 0px;}
a{outline:none;}

/*#bgImage {margin-top: 86px;}*/

.fullBg {position: absolute; top: 0; left: 0; overflow: hidden;}
#maincontent {position: absolute; top: 0; left: 0; z-index: 50; height: 100%; width: 100%;}
#header {height: 86px; background-image: url(/imgs/homepage/header_bg.jpg); background-repeat: repeat-x; width: 100%; display: block;}
#header	{z-index:9999; position:relative;}/*EMG addition*/
#header_inside {
width: 940px; 
padding-left: 42px;
padding-right: 42px;
margin-left: auto; 
margin-right: auto; 
position: relative;
}
.inside {
width: 940px;
padding-left: 42px; /* Added */
padding-right: 42px; /* Added */
margin: 0 auto; 
padding-bottom: 10px;
}
.main_area_outside {width: 984px; margin: 0 auto;}
#toplogo {background: url(/imgs/homepage/sprite_home_01.png) -617px -236px no-repeat; width: 165px; height: 48px; display: block;}

#nav_logo {width: 200px; margin-top: 15px; float: left;}
#nav_industries { font-family: arial; text-align: center; cursor: pointer; margin-top: 39px; background: url(/imgs/homepage/sprite_home_01.png) -710px -286px no-repeat; width: 86px; height: 47px; float: left; z-index: 2000;}
#nav_industries:hover {background: url(/imgs/homepage/sprite_home_01.png) -798px -286px no-repeat; width: 86px; height: 47px;}
#nav_solutions {font-family: arial; text-align: center; cursor: pointer; margin-top: 39px; background: url(/imgs/homepage/sprite_home_01.png) -352px -383px no-repeat; width: 83px; height: 47px; float: left; z-index: 2000;}
#nav_solutions:hover {background: url(/imgs/homepage/sprite_home_01.png) -437px -383px no-repeat; width: 83px; height: 47px;}
#nav_news {font-family: arial; text-align: center; cursor: pointer; margin-top: 39px; background: url(/imgs/homepage/sprite_home_01.png) -201px -471px no-repeat; width: 59px; height: 47px; float: left; z-index: 2000;}
#nav_news:hover {background: url(/imgs/homepage/sprite_home_01.png) -262px -471px no-repeat; width: 59px; height: 47px;}
#nav_research {ont-family: arial; text-align: center; cursor: pointer; margin-top: 39px; background: url(/imgs/homepage/sprite_home_01.png) -180px -383px no-repeat; width: 75px; height: 47px; float: left; z-index: 2000;}
#nav_research:hover {background: url(/imgs/homepage/sprite_home_01.png) -266px -383px no-repeat; width: 75px; height: 47px;}
#nav_aboutus { font-family: arial; text-align: center; cursor: pointer; margin-top: 39px; background: url(/imgs/homepage/sprite_home_01.png) -6px -383px no-repeat; width: 85px; height: 47px; float: left; z-index: 2000;}
#nav_aboutus:hover {background: url(/imgs/homepage/sprite_home_01.png) -93px -383px no-repeat; width: 85px; height: 47px;}
#nav_investors {font-family: arial; text-align: center; cursor: pointer; margin-top: 39px; background: url(/imgs/homepage/sprite_home_01.png) -522px -383px no-repeat; width: 82px; height: 47px; float: left; z-index: 2000;}
#nav_investors:hover {background: url(/imgs/homepage/sprite_home_01.png) -606px -383px no-repeat; width: 82px; height: 47px;}
#nav_right {width: 260px; float: left; position: relative;}
/*#nav_right_top {position: absolute; top: 0px; left: 0px; width: 260px; height: 40px;}*/
#nav_right_top {position: absolute; top: 0px; left: -200px; width: 300px !important; height: 40px; box-sizing: border-box;}
#nav_right_bottom {position: absolute; top: 40px; left: 0px; height: 260px; height: 40px;}
#nav_right_bottom div { display: inline; } /* ED Added */
.paddingtop {padding-top: 5px;}

#pnlSearch {margin-left: 25px; margin-top: 5px; border: none; background: url(/imgs/homepage/sprite_home_01.png) -784px -236px no-repeat; width: 137px; height: 18px; position: relative; float: left;}
.tbxSearch {border: 0px; outline: none; width: 115px; position: absolute; top: 1px; left: 5px; height: 16px; line-height: 16px; font-size: 11px; color: #736357;}
.iconSearch {display: block; position: absolute; right: 3px; top: 3px; background: url(/imgs/homepage/sprite_home_01.png) -929px -207px no-repeat; width: 11px; height: 11px;}
.iconSearch:hover {background: url(/imgs/homepage/sprite_home_01.png) -923px -236px no-repeat; display: inline-block; width: 11px; height: 11px;}
#icon_linkedin { background: url(/imgs/homepage/sprite_home_01.png) -869px -207px no-repeat; width: 18px; height: 18px; display: block; position: relative; float: left; margin-left: 15px; margin-top: 4px;}
#icon_linkedin:hover {background: url(/imgs/homepage/sprite_home_01.png) -889px -207px no-repeat; width: 18px; height: 18px;}
#icon_facebook {background: url(/imgs/homepage/sprite_home_01.png) -909px -207px no-repeat; width: 18px; height: 18px; position: relative; float: left; margin-left: 3px; margin-top: 4px;}
#icon_facebook:hover {background: url(/imgs/homepage/sprite_home_01.png) -784px -256px no-repeat; width: 18px; height: 18px;}
#icon_twitter {display: block; background: url(/imgs/homepage/sprite_home_01.png) -804px -256px no-repeat; width: 18px; height: 18px; position: relative; float: left; margin-left: 3px; margin-top: 4px;}
#icon_twitter:hover {background: url(/imgs/homepage/sprite_home_01.png) -824px -256px no-repeat; width: 18px; height: 18px;}
#icon_googleplus {background: url(/imgs/homepage/sprite_home_01.png) -844px -256px no-repeat; width: 18px; height: 18px; display: block; position: relative; float: left; margin-left: 3px; margin-top: 4px;}
#icon_googleplus:hover {background: url(/imgs/homepage/sprite_home_01.png) -864px -256px no-repeat; width: 18px; height: 18px;}

#nav_login {margin-top: 15px; margin-left: 8px; float: right; color: #736357; font-family: arial; font-size: 11px; text-decoration: none;}
#nav_login:hover {color: #443934;}
#nav_pipe {margin-top: 15px; margin-left: 8px; float: right; color: #736357; font-family: arial; font-size: 11px; text-decoration: none;}
#nav_contactus {margin-top: 15px; margin-left: 8px; float: right; color: #736357; font-family: arial; font-size: 11px; text-decoration: none;}
#nav_contactus:hover {color: #443934;}

.subnav {background:white; height: auto; width: auto; background-repeat: repeat-x; position: absolute; top: 86px; left: 0px; display: none; cursor: default; text-align: left;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
-khtml-border-radius: 0px 0px 10px 10px;
border-radius: 0px 0px 10px 10px;

-moz-box-shadow: 1px 1px 1px #000;
-webkit-box-shadow: 1px 1px 1px #000;
box-shadow: 1px 1px 1px #000;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

/*
-moz-box-shadow: 3px 3px 3px #444;
-webkit-box-shadow: 3px 3px 3px #444;
box-shadow: 2px 2px 2px #aaa;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#aaaaaa')\9";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#bbbbbb');
*/

padding: 15px 0px 25px 45px;
z-index: 2000;
}

#nav_research .subnav {
left: 230px;
}

.subnav_col {width: 250px; margin-right: 45px; float: left;}
.subnav_item {width: 250px; height: 27px; }
.subnav_item a { height: 27px; color: #6E6259;}
.subnav_item a:hover { color: #2b221e; text-decoration: none; }
.subnav_item:hover {background: url(/imgs/homepage/sprite_home_01.png) -617px -207px no-repeat; width: 250px; height: 27px;}
.subnav_item_text {padding-top: 8px; padding-bottom: 2px; display: block; padding-left: 10px; font-family: arial; color: #6e6259; font-size: 12px; text-decoration: none;}
.subnav_item_text:hover {color: #2b221e;}
.subnav_divider {width: 250px; margin-top: 2px; margin-bottom: 2px; height: 1px; background-color: #dad7d0; display: block;}
.clear {clear: both;}

.whitefade {width: 100%; background-image: url(/imgs/homepage/whitefade2.png); height: auto; background-repeat: repeat-x;}
.carousel_wrapper {
width: 940px; 
padding-left: 42px; /* Added */
padding-right: 42px; /* Added */
margin-left: auto; 
margin-right: auto; 
position: relative;
}
.slidebox {background: url(/imgs/homepage/sprite_home_01.png) -3px -207px no-repeat; width: 305px; height: 174px;}
.slidebox .opc img {opacity:0.7; filter:alpha(opacity=70); zoom:1;}
.slidebox:hover {background: url(/imgs/homepage/sprite_home_01.png) -310px -207px no-repeat; width: 305px; height: 174px;}
.slidebox_content {padding-left: 8px; padding-top: 7px; width: 289px; height: 129px; display: block;}
.slidebox_content_over {padding-left: 8px; padding-top: 7px; width: 289px; height: 129px; display: none;}
.slidebox-cover { 
display:none;
position:absolute;
width: 290px;
height: 130px;
background-color: rgba(255, 255, 255, 0.3);
margin: 6px 14px 14px 7px;
background:transparent\9; /* IE8 and below */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF)\9; /* IE8 and below */ 
zoom: 1\9; /* IE8 and below */
}

#arrow_left {background: url(/imgs/homepage/sprite_home_01.png) -904px -152px no-repeat; width: 32px; height: 43px; display: block; position: absolute; top: 50px; left: -40px;}
#arrow_left:hover {background: url(/imgs/homepage/sprite_home_01.png) -828px -383px no-repeat; width: 32px; height: 43px;}
#arrow_right {background: url(/imgs/homepage/sprite_home_01.png) -862px -383px no-repeat; width: 32px; height: 43px; display: block; position: absolute; top: 50px; right: -35px;}
#arrow_right:hover {background: url(/imgs/homepage/sprite_home_01.png) -896px -383px no-repeat; width: 32px; height: 43px;}
.ui-carousel > .wrapper {margin: 0px; padding: 0px; width: 9999px;}
.ui-carousel > .wrapper > * {border: 0; display: block; float: left; height: 174px; overflow: hidden; width: 315px;	}

.left_half {width: 465; margin-right: 5px; float: left;}
.right_half {width: 450; margin-left: 20px; float: left;}

.secondary_title {font-family:  'Avenir Next W10 Medium', 'Arial'; font-size: 14px; color: #003e51; font-weight: bold; margin-bottom: 15px;}
.item_bar {background: url(/imgs/homepage/sprite_home_01.png) 0px -152px no-repeat; width: 450px; height: 49px; line-height: 16px; display: block; position: relative; text-decoration: none; margin-top: 4px; cursor: pointer;}
.item_bar:hover {background: url(/imgs/homepage/sprite_home_01.png) -452px -152px no-repeat; width: 450px; height: 49px; text-decoration: none;}
.item_bar_date {position: absolute; left: 10px; top: 10px; font-family:  'Avenir Next W10 Medium', 'Arial'; font-size: 12px; color: #6e6259; }
.item_bar_text {position: absolute; left: 80px; top: 10px; font-family:  'Avenir Next W10 Medium', 'Arial'; font-size: 13px; color: #6e6259; }
.item_bar_test:hover { cursor: pointer; }
.secondary_title_more_link {padding: 5px; margin: 20px 10px 20px 10px; display: block; font-family: arial; color: #8c8279; font-size: 13px; text-decoration: none;}
.secondary_title_more_link:visited, .secondary_title_more_link:focus {color: #8c8279; } /*EMG addition*/
.secondary_title_more_link:hover {color: #003e51;text-decoration:none;} /*EMG change*/

.white_spacing {width: 100%; height: 7px; background-color: white; clear:both}  /* EMG change*/
.footer_bg {background-color: #dad7d0; width: 100%; height: auto;}
#footer {padding-top: 30px; padding-bottom: 30px; background: #dad7d0;}

.footer_col1 {width: 190px; float: left;}
.footer_col2 {width: 140px; float: left; margin-top: 10px;}
.footer_col3 {width: 170px; float: left; margin-top: 10px;}
.footer_col4 {width: 240px; float: left; margin-top: 10px;}
.footer_col5 {width: 190px; float: left; margin-top: 20px;}

.footer_link {font-family: arial; font-size: 12px; color: #8c8279; text-decoration: none; margin-top: 10px; margin-bottom: 10px; display: block;}
.footer_link:hover {color: #6e6259; text-decoration: underline;}
.footer_copy {font-family: arial; font-size: 11px; color: #8c8279;}

/*.main_area {height: 300px;}*/
/*.main_area { height: 315px; }*/
.main_area { height: 325px; }

.main_subtitle {color: white; font-family: 'Avenir Next W10 Medium','arial'; font-size: 16px; text-shadow: 1px 1px 1px #666; padding-top: 40px; padding-bottom: 10px;}
.main_seperator {background: url(/imgs/homepage/sprite_home_01.png) -3px -203px no-repeat; width: 380px; height: 2px;}
.icon_data {margin: 21px 11px 8px 10px; background: url(/imgs/homepage/sprite_home_01.png) -323px -471px no-repeat; width: 28px; height: 41px; display: block; float: left;}
.icon_data:hover {margin: 10px 0px 0px 0px; background: url(/imgs/homepage/sprite_home_01.png) -150px -471px no-repeat; width: 49px; height: 60px;}
.icon_data_selected {background: url(/imgs/homepage/sprite_home_01.png) -150px -471px no-repeat; width: 49px; height: 60px; display: block; margin-top: 10px; float: left;}
.icon_analytics {margin: 19px 9px 8px 7px; background: url(/imgs/homepage/sprite_home_01.png) -766px -383px no-repeat; width: 60px; height: 43px; display: block; float: left;}
.icon_analytics:hover {margin: 10px 0px 0px 0px; background: url(/imgs/homepage/sprite_home_01.png) -3px -471px no-repeat; width: 76px; height: 60px;}
.icon_analytics_selected {background: url(/imgs/homepage/sprite_home_01.png) -3px -471px no-repeat; width: 76px; height: 60px; display: block; margin-top: 10px; float: left;}
.icon_technology {margin: 18px 9px 8px 8px; background: url(/imgs/homepage/sprite_home_01.png) -690px -383px no-repeat; width: 74px; height: 44px; display: block; float: left;}
.icon_technology:hover {margin: 10px 0px 0px 0px; background: url(/imgs/homepage/sprite_home_01.png) -617px -286px no-repeat; width: 91px; height: 60px;}
.icon_technology_selected {background: url(/imgs/homepage/sprite_home_01.png) -617px -286px no-repeat; width: 91px; height: 60px; display: block; margin-top: 10px; float: left;}
.icon_services {margin: 17px 9px 8px 7px; background: url(/imgs/homepage/sprite_home_01.png) -886px -286px no-repeat; width: 52px; height: 45px; display: block; float: left;}
.icon_services:hover {margin: 10px 0px 0px 0px; background: url(/imgs/homepage/sprite_home_01.png) -81px -471px no-repeat; width: 68px; height: 60px;}
.icon_services_selected {background: url(/imgs/homepage/sprite_home_01.png) -81px -471px no-repeat; width: 68px; height: 60px; display: block; margin-top: 10px; float: left;}
.icon_video {margin: 17px 9px 8px 7px; background: url(/imgs/homepage/sprite_home_02.png) -352px -467px no-repeat; width: 73px; height: 45px; display: block; float: left;}
.icon_video:hover {margin: 10px 0px 0px 0px; background: url(/imgs/homepage/sprite_home_02.png) -424px -471px no-repeat; width: 84px; height: 60px;}
.icon_video_selected {background: url(/imgs/homepage/sprite_home_02.png) -352px -467px no-repeat; width: 73px; height: 60px; display: block; margin-top: 10px; float: left;}
.icon_plus { margin: 35px 12px 0px 12px; background: url(/imgs/homepage/sprite_home_01.png) -884px -256px no-repeat; width: 8px; height: 8px; float: left; }
.icon_blank { margin: 35px 12px 0px 12px; width: 8px; height: 8px; float: left; }

.main_area a:hover { cursor: pointer; }

.main_title {color: white; font-family: 'Avenir Next W10 Medium', 'Arial'; font-size: 41px; text-shadow: 1px 1px 1px #666; margin-top: 20px;}
.main_default_text  h1{color: white; font-family:  'Avenir Next W10 Medium', 'Arial'; font-size: 41px; text-shadow: 1px 1px 1px #666; margin-top: 30px; margin-bottom: 20px; display: block;}
.main_content_text {color: white; font-family:  'Avenir Next W10 Medium', 'Arial'; font-size: 23px; text-shadow: 1px 1px 1px #666; margin-top: 30px; margin-bottom: 20px; display: block;}
.homepage .main_content_text h2{color: white !important; font-family:  'Avenir Next W10 Medium', 'Arial'; font-size: 23px; text-shadow: 1px 1px 1px #666; margin-top: 30px; margin-bottom: 20px; display: block; border-bottom: 0px none !important;}
.main_content_go {padding: 10px; background-color: #3399ff; border: 1px solid #99ccff; color: white !important; font-family:  'Avenir Next W10 Medium', 'Arial'; font-size: 12px; text-decoration: none; display: inline-block; *display: inline; zoom: 1;}
.main_content_go:hover {background-color: #006699; border: 1px solid white; text-decoration: none;}
.hide {display: none;}

a img {border: none;}

.jcarousel-skin-corelogic .jcarousel-container { }
.jcarousel-skin-corelogic .jcarousel-direction-rtl { direction: rtl; }
.jcarousel-skin-corelogic .jcarousel-container-horizontal { width: 940px; padding: 0px; margin: 0px; }
.jcarousel-skin-corelogic .jcarousel-clip { overflow: hidden; }
.jcarousel-skin-corelogic .jcarousel-clip-horizontal { width:  940px; height: 174px; }
.jcarousel-skin-corelogic .jcarousel-item { width: 305px; height: 174px; }
.jcarousel-skin-corelogic .jcarousel-item-horizontal { margin-left: 0; margin-right: 10px; }
.jcarousel-skin-corelogic .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
.jcarousel-skin-corelogic .jcarousel-item-placeholder {  }
.jcarousel-skin-corelogic .jcarousel-next-horizontal { position: absolute; top: 50px; right: -35px; cursor: pointer; background: url(/imgs/homepage/sprite_home_01.png) -862px -383px no-repeat; width: 32px; height: 43px; display: none;}
.jcarousel-skin-corelogic .jcarousel-next-horizontal:hover { position: absolute; top: 50px; right: -35px; cursor: pointer; background: url(/imgs/homepage/sprite_home_01.png) -896px -383px no-repeat; width: 32px; height: 43px; }
.jcarousel-skin-corelogic .jcarousel-prev-horizontal { position: absolute; top: 50px; left: -40px; cursor: pointer; background: url(/imgs/homepage/sprite_home_01.png) -904px -152px no-repeat; width: 32px; height: 43px; display: none;}
.jcarousel-skin-corelogic .jcarousel-prev-horizontal:hover { position: absolute; top: 50px; left: -40px; cursor: pointer; background: url(/imgs/homepage/sprite_home_01.png) -828px -383px no-repeat; width: 32px; height: 43px; }

.icon_plus { background: url(/imgs/homepage/sprite_home_01.png) -884px -256px no-repeat; width: 8px; height: 8px;}
/*.whitefade { background: url(/imgs/homepage/sprite_home_01.png) 0px -203px no-repeat; width: 1px; height: 440px; }*/ /* EC Removed */



/*EMG Addition*/

#content.homepage {
	width: 100%;
	font: 75%/1.15 Arial,Helvetica,sans-serif;
    padding: 0px;
    position: relative;
  overflow: hidden;
}

/*
#bgImage {
	height: auto;
    position: absolute;
    width: 1405px;
    z-index: 1;
	margin-top: 0;
	left: 0;
}
*/

#bgImage {
clear: both; 
background-size: cover !important;
border: 0px none; 
width: 100%; 
position: absolute !important; 
min-height: 423px;
left: 0px;
}


#content.homepage > div {
	z-index: 999;
	position: relative;
}
/* end style.css */

/* start main.css */

*{-webkit-text-size-adjust:0 !important}

.slide-navigation { position:absolute; width:170px; top:15px; right:0px; z-index: 10 }
 
ul.slide-navigation {
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:175px !important;
	background:none;
	}

.slide-navigation li {
	position:relative;
	height:54px;
	overflow: hidden;
	margin-bottom:6px;
	margin-right:0px;
	width:175px !important;
	}
         
.slide-navigation li a span.link-container {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 5px;
	background:rgb(10,48,67);
	width:135px;
	float: right;
	text-decoration: none;
	display: block;
	float: right;
	font-size: 12px;
	text-align: left;
	text-decoration:none;
	height:54px;
	margin-top:-2px;
	}
	 
.slide-navigation li a span.link-container:hover {
	background:rgb(213,45,30);
	-moz-transition:    background .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out;
	text-decoration:none;
	}

.slide-navigation li.current a span.link-container {background:rgb(213,45,30); text-decoration: none;}
	

         
ul.slide-navigation li .header{
	color:white;
	font-size:12px;
	display: block;
	width:130px;
	font-family: arial; 
	font-weight:bold;
	margin-right:0px;
	}
	
ul.slide-navigation li .content{
	color:white;
	font-size:10px;
	display: block;
	/*width:120px;*/
    width: 130px;
	margin-right:0px;
	}
         
ul.slide-navigation a {
	padding:0px;
	width:170px;
	float:right;
	margin-right:0px;
	text-decoration:none;
	height:54px;
	} 

.slide-navigation li a span:hover {text-decoration:none; margin-right: 0px;}

.arrow {display:block;}

.current .arrow {
    border-bottom: 75px solid transparent;
    border-right: 41px solid #D52D1E;
    border-top: 75px solid transparent;
    height: 0;
    left: 20px;
    position: absolute;
    top: -47px;
    width: 0;
    z-index: -1;
	}
	
.current .arrow.show {display:block;}


#slides {width:935px; overflow: hidden; margin:auto; height:266px; margin-top:16px; margin-bottom: 13px; position:relative;}
#slides .slides {height:266px;}
#slides li {background: none !important; padding-left: 0px !important;}

.slide-content {position:relative;}
.slide-content span{display: block;}

.main-slider {position:relative; width:935px; height:266px; overflow: hidden; margin-top:16px;}

.content-container {left: 150px; position: absolute; top: 40px; width:300px;}
span.header { color: #222222; font-size: 32px; display: block; font-weight:normal;}
.snippet {color: #222222; padding-left: 50px; display: block;}

#slides .slides a {
    -moz-transition: background 0.5s ease-in-out 0s;
    background: none repeat scroll 0 0 #D52D1E;
    color: #E6CDBF;
    float: right;
    margin: 20px 75px 0 0;
    padding: 2px 12px;
    text-decoration: none;
}

/*
#slides .slides a {
    -moz-transition: background 0.5s ease-in-out 0s;
    background: none repeat scroll 0 0 #D52D1E;
    color: #E6CDBF;
    float: right;
    margin: 20px 0 0;
    padding: 2px 10px;
    text-decoration: none;
}
*/

#slides .slides a.link
{
-moz-transition:    background .5s ease-in-out;
-webkit-transition: background .5s ease-in-out;
}
#slides .slides a.link:hover
{
color:white;
background:rgb(255,56,38);
}

/* end main.css */


/********************
 * start style2.css *
 ********************/
 

/*
.tabwrap 
{
	background-color: #f4f1ee;
	width:935px;
	color:#85715B;
	padding:40px 22px 20px 22px;
	font-size:12px;
}
*/

#hdr-research-reports
{
 display:inline-block;
 margin-top:0;
 margin-bottom:10px;
 *margin-bottom:30px; 
 }
 
 .tabHeaderWrapper {
 position:relative;
 padding-top: 25px;
 }

.tabwrap a.arr-link
{
	right: 0;
	top: 25px;
	position: absolute;
	background-color: #6a9282;
	display: inline-block;
	font-size:18px;
	padding:7px 35px 7px 15px;
	color:#fff;
	position: absolute;
	text-decoration:none;
}


.tabwrap a.arr-link:hover
{
	background-color: #d82c12;
	text-decoration:none;
	color:#fff;
}
.gr-ar-rt
{
	background: url(/imgs/css/i/tri-rt-neg.png) no-repeat;
	display:inline-block;
	width:22px;
	height:41px;
	position:absolute;
	right:-1px;
	bottom:0;
}

/*Reports*/
.reports .tr{margin-top:20px;}
.reports .tr .report:first-child {padding-right:30px;}

.report
{
	width:428px;
	display:inline-block;
	vertical-align: top;
}
.report .text
{
	width:250px;
	display:inline-block;
}

.report img
{
	float: left;
	margin-right:15px;
	height:159px;
	width:159px;
	border: 1px solid #C2B9B0;
}

hr
{
	margin:10px 0;
	border:none;
	border-bottom:1px dotted #D8D2CD;
}
a
{
	color:#004052;
}

a:hover{color:#e23d28;}
.right{float:right;}


/*TEMP*/
.tmp {border:1px solid red;}

/*table sprite*/
.tab-spr {
	background:url(/imgs/css/i/table-sprite.png) no-repeat;
	display:inline-block;
	height:14px;
}

.tab-spr.tri, .tab-spr.plus, .tab-spr.minus {width:14px;}
.tab-spr.alpha-az, .tab-spr.alpha-za {width:17px;}
.tab-spr.ar-up, .tab-spr.ar-dn{width:9px}

.tab-spr.tri {background-position: 0 0;width:12px;}
.tab-spr.plus{background-position: -15px 0px;}
.tab-spr.minus{background-position: -28px 0px;}
.tab-spr.alpha-az{background-position: -43px 0px;}
.tab-spr.alpha-za{background-position: -63px 0px;}
.tab-spr.ar-up{background-position: -82px 0px;}
.tab-spr.ar-dn{background-position: -72px 0px;}
.tab-spr.tri-dn {background-position: -93px 0;width:14px;}



/*page specific*/
/*
.homepage h2 , .rt h1 
{ 
	border-bottom: 1px dotted #D8D2CD;
    margin-bottom: 8px;
	width:100%;
}
*/
 .homepage h2, .rt h1 {    
    border-bottom: 1px dotted #D8D2CD;    
    margin-bottom: 8px;    
    width: 100%;    
    color:#76232F !important;   
}

.homepage p, .rt p
{
	margin-bottom:5px;
} 




/*Research and Trends - specific*/
.rt
{
	background-color: #f4f1ee;
	padding: 20px;
}

/*
.featured h2 {margin-bottom:10px;}
*/
.featured h2 {      
    margin-top:20px;      
    margin-bottom:10px;   
}

.rt .sort{margin:10px 0;}

.allResRep .sort select
{
	display:inline-block;
	width:150px;
	margin-top: 0;
	margin-left:5px;
	background-color: #648A7E;
	border: 0 none;
	color: white;
	font-family: Arial;
	font-size: 12px;
	height: 25px;
	text-align: left;
	vertical-align: middle;
	padding: 4px 3px 4px 5px;
	
}

/*Table*/
#reportsTable {
	width:100%;
	text-align:center;

}
#reportsTable *{vertical-align:middle;}
#reportsTable .alignLeft{text-align:left;}

#reportsTable th
{
	background-color:#7e6a54;
	color:#fff;
}

#reportsTable th:first-child
{
	width:18px;
	background-color:#7b9b91;
}
#reportsTable th.name{text-align:left;}
#reportsTable th.name span{float:right;}

#reportsTable th:last-child {width:90px;}

#reportsTable td:first-child
{
	background-color:#d9e0dd;
}
#reportsTable tr.active{background-color:#fff;}

#reportsTable tr td:not(:last-child),
#reportsTable tr.extra,
#reportsTable tr th:not(:last-child)
{
	cursor:pointer;
}

	/*extra*/
#reportsTable td.rep-wrp 
{
	background-color:#fff;
	padding-top: 0px;
	padding-bottom: 0px;
}
	
#reportsTable td .report {width:100%}
#reportsTable td .report .text{width:650px}

#reportsTable tr.extra {display:none;}
#reportsTable div.report {display:none}
 

 
#reportsTable tr.extra td:first-child
{
	background-color:#F4F1EE;
    border: medium none;
}

#aaareportsTable tr.extra td
{
	border-top:0;
	border-bottom:0;
	padding:0;
}

#reportsTable tr.extra td .pad {padding :10px;}
#reportsTable tr.extra img {margin-bottom:8px;}
#reportsTable tr.extra td {padding:0;}

hr{clear:both;}

/****************
  end style2.css 
 ****************/
 
body { 
	background: none;
}
#header{
	height: 86px;
	border-bottom: none;
	padding-bottom: 0px;
	float: none;
}
img {
	float: none;
}
#wrapper {
	background-color: white;
    min-height: 592px;
}

/********************
Large Download Widget
********************/
ul.large-download h3
{
    padding-bottom: 15px;
    font-size: 18px;
}

ul.large-download li
{
    height: inherit;
}



ul.large-download .document-title
{
    font-weight: bold;
    font-size: 14px; 
    color: #004042;
    padding-bottom: 10px;
}

ul.large-download .document-title a,
ul.large-download .document-title a:hover,
ul.large-download .document-title a:visited{
    color: #004042;
    text-decoration: none !important;
}

ul.large-download .document-image
{
    float: left;
    width: 86px;
}

ul.large-download .document-content
{
    float: left; 
    width: 158px; 
    color: #000000;
}

ul.large-download .document-download
{
    margin-top: 15px;
    font-size: 12px;
    color: #ffffff;
	/*width: 103px;*/
	/*height: 20px;*/
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	display: inline-block;
	
}

ul.large-download .document-download a
{
	color: #ffffff;
	font-weight: bold;
	padding: 2px 8px;
	line-height: 20px;
}

ul.large-download .divider {
height: inherit; 
border-top: solid 1px #d7d6d9; 
height: 12px;
}

/********************
Large Download Widget for Blog Right Rail
********************/

ul.large-download-widget
{
    margin:0px;
}

ul.large-download-widget h3 {
	padding-bottom: 15px;
	font-size: 16px;
	color: #004052;
}

ul.large-download-widget li {
	list-style-type:none;
}

ul.large-download-widget .document-title {
font-weight:bold;
font-size:14px;
color:#004042;
padding-bottom:10px;
}

ul.large-download-widget .document-image {
float:left;
width:86px;
}

ul.large-download-widget .document-content {
color:#000;
}

ul.large-download-widget .document-download {
padding-top:15px;
}

/***********************************************************
Large Download Widget for Industry & Solutions full width.
************************************************************/


.full-largedownloads-box {
background-color: #FFFFFF;
margin-bottom: 16px;
padding: 20px;
width: 900px;
border-top: 2px dotted #F4F1EE;
border-bottom: 2px dotted #F4F1EE;
}

#primary .full-largedownloads-box ul {
margin: 0px;
}

#primary .full-largedownloads-box ul.large-download li {
float: left;
display: block;
background: none;
margin-left: 0px;
padding-left: 0px;
width: 270px;

}		

#primary .full-largedownloads-box ul.large-download .document-content {
width: 180px;
}

#primary .full-largedownloads-box ul.large-download li.divider {
border-top: none;
border-left: 2px solid #F4F1EE;
height: 120px;
margin-left: 20px;
margin-top: 5px;
width: 23px;
}


/***********************************************************
Large Download Widget for Industry & Solutions Two Column
************************************************************/

.twocol-largedownloads-box {
background-color: #FFFFFF;
margin-bottom: 16px;
padding: 20px;
width: 600px;
/*
border-top: 2px dotted #F4F1EE;
border-bottom: 2px dotted #F4F1EE;
*/
}

#primary .twocol-largedownloads-box ul {
margin: 0px;
}

#primary .twocol-largedownloads-box ul.large-download li {
float: left;
display: block;
background: none;
margin-left: 0px;
padding-left: 0px;
width: 258px;

}		

#primary .twocol-largedownloads-box ul.large-download li.divider {
border-top: none;
border-left: 1px solid #F4F1EE;
height: 120px;
margin-left: 20px;
margin-top: 5px;
width: 23px;
}







/* Start Pain Point Widget */
.point-container{
padding: 0px;
width: 100%;
margin-bottom: 16px;
}
.point-container.bkg{
width: 580px;
padding: 10px;
}
.point-container:after {
clear: both;
}	
.point-header-container  .point-space-left {
width: 80px; 
margin-right: 20px;
float: left;
}
.point-header-container  .point-space-right {
width: 80px; 
margin-left: 20px;
float: right;
}
.point-header-container {
margin-bottom: 20px;
}
.point-header-container hr {
border-style: none none solid;
margin-top: 16px;
}
.point-header-container  .point-header {
text-align: center;
}
.point-header-container  .point-header  h2{
font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 24px;
}
.point-container .point-header h2 {                                                                
color: #990066;                                                                
}
.point-container.orange .point-header h2 {
color: #ff6633;
}
.point-container.blue .point-header h2 {
color: #3399ff;
}
.point-container.green .point-header h2 {
color: #669933;
}
.point-container.purple .point-header h2 {
color: #660066;
}
.point-selector{
background: none repeat scroll 0 0 #FFFFFF;
float: left;
width: 186px;													
}
.point-item {
cursor: pointer;
font-size: 14px;
line-height: 17px;
padding: 16px 20px;
position: relative;												
}
.point-container .point-item:hover {
color: #990066;
}
.point-container.orange .point-item:hover {
color: #ff6633;
}
.point-container.blue .point-item:hover {
color: #3399ff;
}
.point-container.green .point-item:hover {
color: #669933;
}
.point-container.purple .point-item:hover {
color: #660066;
}
.point-container .point-item.active {
background: none repeat scroll 0 0 #990066;
color: #FFFFFF;												
}
.point-container.orange .point-item.active {
background: none repeat scroll 0 0 #ff6633;
}
.point-container.blue .point-item.active {
background: none repeat scroll 0 0 #3399ff;
}
.point-container.green .point-item.active {
background: none repeat scroll 0 0 #669933;
}
.point-container.purple .point-item.active {
background: none repeat scroll 0 0 #660066;
}
.point-container .point-item.active:hover {
background: none repeat scroll 0 0 #990066;
color: #FFFFFF;												
}
.point-container.orange .point-item.active:hover {
background: none repeat scroll 0 0 #ff6633;
}
.point-container.blue .point-item.active:hover {
background: none repeat scroll 0 0 #3399ff;
}
.point-container.green .point-item.active:hover {
background: none repeat scroll 0 0 #669933;
}
.point-container.purple .point-item.active:hover {
background: none repeat scroll 0 0 #660066;
}
.point-container .point-selector .point-item.active:after {
border-left-color: #990066;
}
.point-container.orange .point-selector .point-item.active:after {
border-left-color: #ff6633;
}
.point-container.blue .point-selector .point-item.active:after {
border-left-color: #3399ff;
}
.point-container.green .point-selector .point-item.active:after {
border-left-color: #669933;
}
.point-container.purple .point-selector .point-item.active:after {
border-left-color: #660066;
}
.point-item.active:after {													
border: 10px solid rgba(0, 0, 0, 0);
content: " ";
height: 0;
left: 100%;
margin-top: -10px;
pointer-events: none;
position: absolute;
top: 50%;
width: 0;													
}	
.point-panels {
float: right;
width: 370px;
}
.point-content{
display: none;
}
.point-content.active{
display: block;
}
.point-container .point-content h2 {                                                                
margin-bottom: 5px;
color: #990066;                                                                
}
.point-container.orange .point-content h2 {                                                                
color: #ff6633;                                                                
}
.point-container.blue .point-content h2 {                                                                
color: #3399ff;                                                                
}
.point-container.green .point-content h2 {                                                                
color: #669933;                                                                
}
.point-container.purple .point-content h2 {                                                                
color: #660066;                                                                
}
.point-content h3 {                                                                
margin-bottom: 5px;
color: #85715B;
font-weight: normal;
}
a.point-title-link:hover{
text-decoration: none;
}
.point-container .point-button {
margin-top: 10px;
background-color: #990066;
padding: 5px 15px;                                                                
display: inline-block;
}
.point-container.orange .point-button {
background-color: #ff6633;
}
.point-container.blue .point-button {
background-color: #3399ff;
}
.point-container.green .point-button {
background-color: #669933;
}
.point-container.purple .point-button {
background-color: #660066;
}
.point-button a {
color: white;
text-decoration: none;
font-weight: bold;                                                                
}
.point-text {
margin-top: 15px;
color: #555555;
font-size: 14px;
-webkit-text-size-adjust: none;
/*font-size: 1.17em !important;*/
}
.point-text p{ 
margin-bottom: 0px;
}
.point-container .point-subname{
color: #990066;
font-weight: 700;
}
.point-container.orange .point-subname{
color: #ff6633;
}
.point-container.blue .point-subname{
color: #3399ff;
}
.point-container.green .point-subname{
color: #669933;
}
.point-container.purple .point-subname{
color: #660066;
}
/* End Pain Point Widget */

/* Start Full Pain Point Widget */
.full-point-container{
padding: 20px;
width: 900px;
margin-bottom: 0px;
background-color: #F4F1EE;
margin-bottom: 16px;
}
.landing-page .full-point-container {
width: 100%;
padding: 0px;
}
.full-point-container:after {
clear: both;
}	
.full-point-header-container {
margin-bottom: 20px;
}
.full-point-header-container  .full-point-space-left {
width: 186px; 
margin-right: 20px;
float: left;
}
.full-point-header-container  .full-point-space-right {
width: 186px; 
margin-left: 20px;
float: right;
}
.full-point-header-container hr {
border-style: none none solid;
margin-top: 16px;
}
.full-point-header-container  .full-point-header {
text-align: center;
}
.full-point-header-container  .full-point-header  h2{
font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 26px;
display: inline;
}
.full-point-container .full-point-header h2 {                                                                
color: #990066;                                                                
}
.full-point-container.orange .full-point-header h2 {
color: #ff6633;
}
.full-point-container.blue .full-point-header h2 {
color: #3399ff;
}
.full-point-container.green .full-point-header h2 {
color: #669933;
}
.full-point-container.purple .full-point-header h2 {
color: #660066;
}
.full-point-selector{
background: none repeat scroll 0 0 #FFFFFF;
float: left;
width: 186px;													
}
.full-point-item {
cursor: pointer;
font-size: 14px;
line-height: 17px;
padding: 16px 20px;
position: relative;												
}
.full-point-container .full-point-item:hover {
color: #990066;
}
.full-point-container.orange .full-point-item:hover {
color: #ff6633;
}
.full-point-container.blue .full-point-item:hover {
color: #3399ff;
}
.full-point-container.green .full-point-item:hover {
color: #669933;
}
.full-point-container.purple .full-point-item:hover {
color: #660066;
}
.full-point-container .full-point-item.active {
background: none repeat scroll 0 0 #990066;
color: #FFFFFF;												
}
.full-point-container.orange .full-point-item.active {
background: none repeat scroll 0 0 #ff6633;				
}
.full-point-container.blue .full-point-item.active {
background: none repeat scroll 0 0 #3399ff;				
}
.full-point-container.green .full-point-item.active {
background: none repeat scroll 0 0 #669933;				
}
.full-point-container.purple .full-point-item.active {
background: none repeat scroll 0 0 #660066;											
}
.full-point-container .full-point-item.active:hover {
background: none repeat scroll 0 0 #990066;
color: #FFFFFF;												
}
.full-point-container.orange .full-point-item.active:hover {
background: none repeat scroll 0 0 #ff6633;				
}
.full-point-container.blue .full-point-item.active:hover {
background: none repeat scroll 0 0 #3399ff;				
}
.full-point-container.green .full-point-item.active:hover {
background: none repeat scroll 0 0 #669933;
}
.full-point-container.purple .full-point-item.active:hover {
background: none repeat scroll 0 0 #660066;											
}
.full-point-container .full-point-item.active:after {
border-left-color: #990066;
}
.full-point-container.orange .full-point-item.active:after {
border-left-color: #ff6633;
}
.full-point-container.blue .full-point-item.active:after {
border-left-color: #3399ff;
}
.full-point-container.green .full-point-item.active:after {
border-left-color: #669933;
}
.full-point-container.purple .full-point-item.active:after {
border-left-color: #660066;
}
.full-point-item.active:after {													
border: 10px solid rgba(0, 0, 0, 0);
content: " ";
height: 0;
left: 100%;
margin-top: -10px;
pointer-events: none;
position: absolute;
top: 50%;
width: 0;													
}	
.full-point-panels {
float: right;
width: 670px;
}
.full-point-content{
display: none;
}
.full-point-content.active{
display: block;
}
.full-point-content.active.wimage{
width: 670px;
}
.full-point-container .full-point-content h2 {                                                                
margin-bottom: 5px;
color: #990066;                                                                
}
.full-point-container.orange .full-point-content h2 {
color: #ff6633;
}
.full-point-container.blue .full-point-content h2 {
color: #3399ff;
}
.full-point-container.green .full-point-content h2 {
color: #669933;
}
.full-point-container.purple .full-point-content h2 {
color: #660066;
}
.full-point-content h3 {                                                                
margin-bottom: 5px;
color: #85715B;
font-weight: normal;
-webkit-text-size-adjust: none;
}
.full-point-container .full-point-button {
margin-top: 10px;
background-color: #990066;
padding: 5px 15px;                                                                
display: inline-block;
margin-bottom: 10px;
}
.full-point-container.orange .full-point-button {
background-color: #ff6633;
}
.full-point-container.blue .full-point-button {
background-color: #3399ff;
}
.full-point-container.green .full-point-button {
background-color: #669933;
}
.full-point-container.purple .full-point-button {
background-color: #660066;
}
.full-point-button a {
color: white;
text-decoration: none;
font-weight: bold;                                                                
}
.full-point-text {
margin-top: 15px;
color: #555555;
}
.full-point-text p {
margin-bottom: 0px;
}
.full-point-container .point-subname{
color: #990066;
font-weight: 700;
}
.full-point-container.orange .point-subname{
color: #ff6633;
}
.full-point-container.blue .point-subname{
color: #3399ff;
}
.full-point-container.green .point-subname{
color: #669933;
}
.full-point-container.purple .point-subname{
color: #660066;
}
.full-point-image{
float: right;
margin-left: 15px;
}
/* End Full Pain Point Widget */



/* Landing Page Header */
.top_page_title {
font-size: 22px; 
margin-top: -10px; 
margin-bottom: -10px;
}
.secondary_page_title {
font-size:2.583em; 
color: #7d6a55; 
font-weight: normal;
}
h2.top_page_title{
margin: 0;
display:block;
}
h1.secondary_page_title {
margin: 0;
display:inline-block;
float: left;
}
h1.sub-title {
float: left;
display: inline-block; 
font-size: 18px;"
}
.top_links {
float: right;
padding-top: 10px;
display:inline-block;
}
.top_links a {
display: block;
float: left;
line-height: 23px;
}
.top_links .divider {
float: left;
display: block;
line-height: 23px;
}
.top_links img {
margin-bottom: 0px;
margin-right: 0px;
}
.back-links {
	margin-bottom: 0px;
}

/* Top Links Contact */
.contact-info {
float: right;
}
.contact-info .cta {
font-size: 14px;
}
.contact-info .cta img {
margin: 0; 
vertical-align: bottom;
}
.contact-info .phone {
font-size: 18px;
font-weight: bold;
float: none;
margin-right: 0px;
}
/* End Top Links Contact */


.modal_form {
width: 300px;
padding-left: 12px;
}

.modal_form .TabForm {
padding-top: 5px;
}

.modal_form fieldset ul {
list-style-type: none;
margin: 0;
}
.modal_form button
{
padding-left: 4px;
padding-right: 4px;
margin-bottom: 10px;
}

/* CSS for PODS */
.pods {
width: 100%;  
}
.pod {
width: 265px;
height: 100px;
overflow: hidden;
background: #fff;
padding: 15px 0;
float: left;
margin: 10px 24px;
font-size: 12px;
line-height: 18px;
color: #444;
}
.pods_twocolumn_container .pod {
margin: 0px;
padding: 15px;
width: 270px;
}
.pod .pod-left {
float: left;
width: 60px;
}
.pod .pod-left:hover .download {
text-decoration: underline;
}
.pod .pod-left:hover .icon.white-paper {
background-position: 0 -400px;
}
.pod .pod-left:hover .icon.case-study {
background-position: -100px -400px;
}
.pod .pod-left:hover .icon.abstract-solution {
background-position: -200px -400px;
}
.pod .pod-left:hover .icon.fraud-report {
background-position: -300px -400px;
}
.pod .pod-left:hover .icon.testing {
background-position: -400px -400px;
}
.pod .pod-left:hover .icon.sales-sheet {
background-position: -500px -400px;
}
.pod .pod-text {
width: 183px;
float: right;
text-align: left;
}
.pods_twocolumn_container .pod .pod-text {
width: 195px;
}
.pod .pod-text .pod-title {
font-size: 14px;
font-weight: bold;
padding-bottom: 7px;
}
.pod .pod-text i {
font-style: italic;
}
.pod .pod-text b {
font-weight: bold;
}
.pod .icon {
width: 57px;
height: 68px;
background: url("/imgs/mos/mos-sprite.png") no-repeat 0 -200px;
}
.pod .download {
float: left;
text-transform: uppercase;
font-size: 10px;
line-height: 10px;
height: 10px;
font-weight: bold;
width: 57px;
text-align: center;
padding-top: 16px;
}
.pod .download-centered {
text-transform: uppercase;
font-size: 10px;
line-height: 10px;
height: 10px;
font-weight: bold;
width: 100%;
text-align: center;
padding-top: 16px;
color: #004052;
}
.pod .icon.white-paper {
background-position: 0 -200px;
}
.pod .icon.case-study {
background-position: -100px -200px;
}
.pod .icon.abstract-solution {
background-position: -200px -200px;
}
.pod .icon.fraud-report {
background-position: -300px -200px;
}
.pod .icon.testing {
background-position: -400px -200px;
}
.pod .icon.sales-sheet {
background-position: -500px -200px;
}
/* End CSS for Pods */

/* CSS for LandingPage Iframe */
.left-iframe-container {
width: 100%;
height: 120px;
margin-bottom: 16px;
overflow: hidden;
}
.left-iframe {
width: 100%;
height: 120px;
}
/* End CSS for LandingPage Iframe */

/* Rotating Banner for Landing Page */
.tabbedbanner #slides {
    height: 186px;
    margin: 0;
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;
    width: auto;
}
.tabbedbanner .slides_container {
    height: 186px;
}
.tabbedbanner .slides_container img {
    margin: 0;
}
.tabbedbanner .slides_container a {
    display: none;
}

.tabbedbanner .pagination {
    background-color: #ffffff;
    bottom: 0;
    float: right;
    height: 12px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    top: 186px;
    z-index: 101;
}
.tabbedbanner .pagination li {
    margin: 0 0 0 8px !important;
}
.tabbedbanner .pagination li a {
    background-image: url("/imgs/content/landing_pages/pagination.png");
    background-position: 0 0;
    display: block;
    float: right;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding-top: 12px;
    width: 12px;
}
.tabbedbanner .pagination li.current a {
    background-position: 0 -12px;
}
/* Search bar and result page rewrites */
.search-promotion { background-color: #dedede; margin-bottom: 20px !important; padding: 10px !important; }
.gsc-search-box { padding: 0 !important; margin: 0 !important; }
.gsc-search-box td { border: 0; padding: 0 !important; margin: 0 !important; }
.gsc-clear-button { display: none; }
table.gsc-search-box, .gsc-input { width: 290px !important; }
.gsc-input input { border: 1px solid #D9D2CD !important; margin-right: 0 !important; width: 100%; }
.gsc-search-button { border: 0 !important; cursor: pointer; margin-left: 20px !important; width: 100% !important; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; background-image: url(''); }
.gsc-search-button:hover input { background-color: #30423b; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; }
.gsc-completion-container span,
.gsc-completion-container .gsc-completion-promotion-table,
.gsc-completion-container .gsc-completion-title { color: #85715b !important; font-size: 12px !important; }
#pnlSearch .gsc-input { background-color: transparent !important; border: 0 !important; height: 12px !important; font-size: 11px !important; width: 105px !important; }
#pnlSearch .gsc-search-button { display: none; }
#pnlSearch table.gsc-search-box { width: 250px !important; }
#pnlSearch .gsc-control-searchbox-only { position: absolute; left: 0; top: 0; }
.result-url { cursor: pointer; }
.results li { margin-bottom: 20px; }
/* End of search bar and result page rewrites */

/* End Rotating Banner for Landing Page */

/* Start Country Dropdown */
div.lf_country-dd { float: right !important; margin-top: 13px !important; }
/* End Country Dropdown */