html, body {
	position: relative !important;
	/*zoom: 1 !important;*/
}

body {
	color: #696969 !important;
}

#maincontent {
position: relative !important;
}

#wrapper {
overflow: visible !important;
}

#sub-wrapper {
	float: inherit;
}

.page-home #primary h1, .page-product #primary h1, .landing-page #primary h1 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

h1, 
.tab h2, 
.tab h3 {
	color: #ffffff !important;
}

p {
	margin: 0 !important;
	padding: 0 !important;
}

#primary ul {
	clear: both;
	margin: 15px 20px !important;
}

#primary ul li {
	list-style: disc;
	margin-bottom: 10px;
}

#primary p {
	margin-bottom: 20px !important;
}

a {
	color: #2a2a2a !important;
	text-decoration: underline !important;
}

.TabForm {
	visibility: hidden;
}

#footer {
	display: none;
}

/* Navigation */
 
#nav_industries:after {
	content: "Industries";
}

#nav_solutions:after {
	content: "Solutions";
}

#nav_news:after {
	content: "News";
}

#nav_research:after {
	content: "Research";
}

#nav_aboutus:after {
	content: "About Us";
}

#nav_investors:after {
	content: "Investors";
}

#toplogo {
	margin-top: -10px;
	content: url('');
}

#bgImage {
	display: none;
}

.main_area {
	height: 285px;
}

.main_subtitle {
	color: #000;
	text-shadow: none;
}

.main_seperator {
	border-bottom: 1px solid #000;
}

.main_default_text h1 {
	color: #000;
	margin-bottom: 0px !important;
	text-shadow: none;
}

.subnav {
	display: none !important;
}

.icon_data {
	content: url('');	
}

.icon_analytics {
	content: url('');	
}

.icon_services {
	content: url('');	
}

.icon_technology {
	content: url('');	
}

.carousel_wrapper {
	margin-bottom: 30px;
}

.jcarousel-skin-corelogic .jcarousel-clip {
	overflow: visible;
}

.jcarousel-skin-corelogic .jcarousel-clip-horizontal {
	/*height: inherit !important;*/
	height: 308px !important;	
}

.jcarousel-prev,
.jcarousel-next {
	display: hidden !important;
	height: 0 !important;
	visibility: hidden !important; 
}

#pageclass.research .content-section .right ul.available-publications li a {
	height: inherit !important; 
}

#carousel {
	margin-bottom: 60px;
	overflow: inherit !important;
	width: 946px !important;
}

.slidebox {
	height: 124px;
}

#carousel li {
	margin-bottom: 30px;
	height: 124px;
}

/* Solutions */

ul.tabs {
	border-bottom: 1px solid #696969;
	display: inline;
	height: 45px !important;
	visibility: visible;    
    margin-bottom: 10px !important;
}

ul.tabs li {
	float: left;
	height: 45px !important;
	list-style: none !important;
	list-style-type: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

ul.tabs li a {
	color: #696969 !important;
	font-weight: normal;
}

.tabs a {
	display: block;
	float: left !important;
	font-size: 13px;
	margin: 8px 10px 0px 0px !important;
	min-width: 75px;
	padding: 5px !important;
	text-align: left;
}

ul.tabs li.active a {
	border: 1px solid #2a2a2a !important;
	color: #2a2a2a !important;
	font-size: 14px !important;
	font-weight: bold;
	margin: 7px 10px 0px 0px !important;
	padding: 5px !important;
	text-decoration: underline;
    height: 30px !important;
}

.tab,
.col,
.tabwrap {
	overflow: hidden;
	padding: 0px !important;
	margin-top: 10px !important;
	padding-top: 0px !important;
}

/*12-13-2013 - Added to fix the col's text so that the text doesn't get cut off on the right side */
.col {
    padding-right: 0px!important;
    width: auto !important;
}


.tab-right-column {
margin-top: 10px !important;
}

.tabwrap {
	clear: both !important;
}

.tabs-hide {
	/*visibility: hidden !important;*/
	display: block !important;	
}

/* Products with Spotlight and Accordian */
.spotlight {
	/*
	padding: 0px !important;
	height: auto !important;	
	*/
}

.spotlight img {
display: block !important;
}

.spotlight .inner{
*top: 30px !important;
}

.spotlight .middle .inner h1 {
color: #ffffff !important;
}

.spotlight .middle .inner .spotlight-copy {
color: #ffffff !important;
}

.tab-left-column .header {
	border: 0 !important;
}

.tab-left-column .header .expand,
.tab-left-column .header .learnmore {
	display: none !important;
}

.tab-left-column .segment .content {
	clear: both !important;
	display: block !important;
}

.tab-left-column .header-noexpand {
	border: 0px !important;
}

.tab-left-column .header-noexpand .expand,
.tab-left-column .header-noexpand .learnmore {
	display: none !important;
}

/* Research  */

#carousel li {
	display: none !important;
}

.homepage #carousel li {
	display: block !important;
}

#carousel li.jcarousel-item-1 {
	display: block !important;
}

.research-tabs li.active span {
	color: #2a2a2a !important;
}

.research-tabs li span {
	color: #696969 !important;
}

/* Careers */

.employee-speak {
	margin: 0 !important;
	padding: 0 !important;
}

.employee-speak li {
	list-style-type: none !important;
}

.socialMediaPlugin {
	display: none !important;
}

.iconSearch {
	display: none !important;
}

#wrapper ul.resources li { 
	padding-left: 0px !important;
}

#wrapper ul.resources li.cs-movie-asset {
	padding-left: 0px !important;
}

#tabwrap-content .tab-left-column {
	width: auto;
}