#progressBackgroundFilter{
    background-color: #F4F1EE;
    bottom: 0;
    left: 0;
    margin: 0;
    filter: alpha(opacity=50);
    opacity: 0.5;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    }
#processMessage {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    left: 43%;
    padding: 10px;
    position: fixed;
    top: 30%;
    width: 14%;
    z-index: 1001;}
.navContainer {
    background-color: #FFFFFF;
    display: inline;
    padding: 0 !important;
    width: 939px;
    z-index: 10
    }
.navContainer h2, .navContainer h3{
    clear: none;
    margin: 0 0 0.25em
    }
.navLeftColumn td, navLeftColumn th {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top
    }
.navLeftColumn {
    display: inline;
    float: left;
}
.navIndustrySelect {
    background-color: #CAD5D0;
    color: #85715B;
    margin: 0;
    padding: 16px 13px;
    width: 194px;
    }
.navSolutionSelect {
    background-color: #CAD5D0;
    color: #85715B;
    margin-top: 15px;
    padding: 5px;
    width: 210px;
    }
.navIndustryDropDown {
background-color: #648a7e;
border: 0 none;
color: White;
font-family: Arial;
font-size: 12px;
height: 25px;
margin-top: 5px;
text-align: left;
width: 100%;
vertical-align: middle;
padding: 4px 3px 4px 5px
}

*+html .navIndustryDropDown, * html .navIndustryDropDown  {background-color: #fff;}
*+html .navIndustryDropDown option, * html .navIndustryDropDown option {color: #474747;}

.navIndustryDropDown option {
    color: #fff;
    text-align: left;
    }
.navSelectTitle {
    color: #302921;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 0;
    width: 189px;
    }
.navLeftExpand {
    font-weight: normal;
    padding-left: 10px;
    width: 189px;
    }
.navRightColumn { margin-left: 238px;}

.navRightColumnProductSection {
    background-color: #F4F1EE;
    color: #85715B;
    margin: 0;
    padding: 16px 21px;
    }
.navRightColumnProductSection .pagination .next{
    padding-top: 5px;
    }    
    
.navRightColumnTopSection {
    float: none;
    overflow: hidden;
    padding: 2px 0 5px;
    width: 700px;
    }
.IndustryTitle {
    color: #76A391 !important;
    font-size: 2.583em;
    font-weight: normal;
    margin: 0 0 0.25em;
    }
.CategoryImage img {
    float: none;
    }
.IndustryDescription {
    float: left;
}
.ProductList {
    display: block;
    float: none;
}
.navPaginationCount {
    float: right;
    text-align: right;
    width: 45%;
}
.navItemsCount {
    display: inline;
}
.navBreadcrumbs {
    float: left;
    margin: 0 0;
    text-align: left;
    width: 500px;
}
.navBreadcrumbs a {
    margin: 0;
}

.navContainer  ol#breadcrumbs {
    width: 100%;
}
.navPager {
    padding: 25px 0 0;
    text-align: right;
    width: 695px;
}
.navTotalCount {
    border: 0 none;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 45%;
}
.navProdListCategoryTitle {
    font-size: 1.665em;
    font-weight: normal;
}
.navProdListCategoryDescription {
}
.navProdListProdItemtext {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 0.933;
}
.navProdListURL, .navProdListDescription {
    margin-left: 18px;
}
.navProdListDescription {
    margin-bottom: 1.417em;
}
a, a:visited {
    color: #004052;
    text-decoration: none;
}
.URLHashLabel {
    display: none;
}
.TreeViewDIV {
background-color: #CAD5D0;
    border: 0 none;
    color: #32423B;
    font-family: Arial;
    font-size: 12px;
    margin-left: 8px;
    padding: 0;
    white-space: normal;
    width: 194px;
}
.TreeViewDIV > Table {
 background-image: url("../imgs/Navigation/TreeMenuSkin/dotted_line.jpg");
    background-repeat: no-repeat;
    font-size: 14px;
}
.TreeViewDIV > Table:first-child {
    background-image: none;
    background-repeat: no-repeat;
}
.TreeViewDIV img {
    display: block;
}
.TreeViewDIV table {
    width: 100%;
}
.ItemDIVd
{
    background-color: Transparent;
    font-weight: normal;
    height: auto;
    padding: 3px 2px;
    width: 100%;
}
.ItemDIVe {
/*    background-image: url("../imgs/Navigation/TreeMenuSkin/bg_hovered_24.jpg");
    background-position: center center;
    background-repeat: repeat;*/
    /*background-color: #648a7e;*/
    color: White;
    cursor: pointer;
    font-weight: normal;
    height: auto;
    padding: 3px 2px 3px;
    width: 100%;
}
.ItemSelDIVd {
    border: 0 none;
    cursor: pointer;
    font-weight: bold;
    height: auto;
    padding: 3px 2px 3px;
    width: 100%;
}
.ItemSelDIVe {
/*    background-image: url("../imgs/Navigation/TreeMenuSkin/bg_hovered_24.jpg");
    background-position: center center;
    background-repeat: repeat;*/
   /* background-color: #648a7e;*/
    color: White;
    cursor: pointer;
    font-weight: bold;
    height: auto;
    padding: 3px 2px 3px;
    width: 100%;
}
.OpenCloseTD {
    text-align: center;
    width: 18px;
}
.OpenCloseTD img, .TreeViewDIV td img {
    margin: 0;
    padding-top: 2px;
}

.OpenCloseTD img {padding-left: 3px}

.TreeViewDIV > Table .OpenCloseTD img, .TreeViewDIV > Table td img {
    padding-top: 7px;
}

.TreeViewDIV > Table .ItemDIVd, .TreeViewDIV > Table .ItemDIVe, .TreeViewDIV > Table .ItemSelDIVd, .TreeViewDIV > Table .ItemSelDIVe {
    height: auto !important;
    padding: 5px 2px 5px;
    margin: 2px 0px 2px 0px;
    border-top: 2px;
}
.TreeViewDIV > Table .ItemDIVe, .TreeViewDIV > Table .ItemSelDIVe {
/*    background-image: url("../imgs/Navigation/TreeMenuSkin/bg_hovered.jpg");
    background-position: center center;
    background-repeat: repeat;*/
    /*background-color: #648a7e;*/
}


.TreeViewDIV tr:hover {
background-color: #648a7e;
color: #fff;
}
                 
.TreeViewDIV div > table td:first-child img, .TreeViewDIV div > table td:first-child pre { display: none }

.TreeViewDIV > div {margin-left: 20px}


