﻿@charset "utf-8";
/* CFGRID */
	.x-grid3-cell-inner, .x-grid-cell-inner  {
		white-space:normal;
	}


/*.x-panel .x-grid-body {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0
}	*/

/* CFGRID */

/* CFWINDOW */
	/* body */
	.x-window-mc {
		border:none;
	}




	.x-window-ml, .x-window-mr, .x-window-tl, .x-window-tr, .x-window-br, .x-window-bc, .x-window-b1 {
		background:none;
	}
	
	/* modal color (the dimness of the background) */
	/* if you start with black and change the opacity, it is much darker than starting with a gray, obviously */
	.x-dlg-mask {
		background-color: #CCC;
		opacity:0.60;
	}
	
	/* header bar */
	.x-window-tc {
		background:#C1CCD0 none;
	}
	/*.x-window-header {
		font: bold 12px Verdana,Arial,Helvetiva,sans-serif !important;
		color:#FFF !important;
	}*/
	
	
/* CFWINDOW */

/*
.x-window-body {
	background:#FFF none;
	border: 3px solid #C1CCD0;
	padding: 10px;
	font: 11px Verdana,Arial,Helvetiva,sans-serif;
}

*/
.x-window-body { 
	background-color: #fff;
	border: none;
	font: 11px Verdana,Arial,Helvetiva,sans-serif; /* window content default font size and font (this is needed for cf 9, not cf 11) */
	padding: 0;
}

/******************************/
/*   CF11 CFWINDOW STYLES     */
/******************************/
/*.x-window-header {
	background-color: #ccc;
	background-image: url('/includes/images/grey-gradient.gif');
	background-repeat: repeat-x;
	color: #666;
}*/

.x-window-header {
	background-color: #ccc; /* window header background color, if gradient does not load */
	background-image: url('/includes/images/grey-gradient.gif'); /* window header gradient background */
	background-repeat: repeat-x;
}

.x-window-header-text-container {
	height: 22px;
	margin: 0;
	padding-top: 2px;
	text-align: left;
}


/*

.x-window-header-text-default {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

*/

.x-window-header-text-default {
	color: #000; 
	font: bold 12px Verdana,Arial,Helvetiva,sans-serif; /* window header font size and font */
	/*letter-spacing: .5px;*/
	margin: 0;
	padding: 0;
}


.x-window-default {
	border: none;
	margin: 0;
	padding: 0;
}



/*
.x-panel-body {
	font: 11px Verdana,Arial,Helvetiva,sans-serif; 
	margin: 0;
	padding: 0;
}
.x-panel-body-default {
	border: none;
	margin: 10px;
}
*/



/* Colorbox Override */
	#colorbox #cboxContent {
		background:url(/cfimages/colorbox/gradient.jpg) bottom left repeat-x #fff;
		height:100% !important;
	}
	#colorbox #cboxClose {
		background: url("/cfimages/colorbox/close.png") no-repeat center #ccc;
		padding:2px;
		border:1px solid #666;
	}
	#colorbox {
		border:1px solid #666;
	}
	.colorbox_Title {
		width:100%; 
		background-color:#666; 
		color:#FFF; 
		padding:8px 0; 
		font-weight:bold;
	}
/* Colorbox Override */

/* Three Images with Mouseover Text */
	#contentb #mo_leftImageText  {/*#mo_TextContainer ul*/
		display:none;
	}
	#contentb #mo_centerImageText  {
		display:none;
	}
	#contentb #mo_rightImageText {
		display:none;
	}
	
	.threeImages {
		float:left;
		margin: 0px;
		padding: 0px;
		text-align:center;
		font-weight: bold;
		width: 130px;
		color: #787878;
	}
	
/* Mouseover Images with Text */

