﻿#videodemos {
    color: #333;
    font-size: 11px;
}
.videothumb {
    color: #333;
    font-size: 10px;
    padding:0 0 10px 0;
    margin-right:13px;
}
#boxs .videothumb {
    margin:auto;
    float:none;
}
.videotitle {
    height:4em;
    margin-top:10px;
    }
#videodemos .videoh3 {
    color: #369;
    font-size: 14px;
    font-weight: bold;
    padding-bottom:8px;
    border-bottom:1px solid #EFEFEF;
    margin-right: 13px;
}
#videodemos .viewall {
    font-weight: bold;
    text-align:right;
    padding:4px 0px 6px 0px;
    border-bottom:1px solid #EFEFEF;
    margin-right: 13px;
}
.videotimetext {
    color: #9E9E9E;
    font-size: 10px;
    margin:0 0 4px 5px;
    float: right;
}
#line2html {
    width: 901px;
    background: transparent url(/cfimages/css/sw/bg_videopodsgallery.jpg) repeat-x;
}
#line2ahtml {
    padding: 14px 14px 8px 14px;
}
#videohtml {
    margin:0 auto;
    width: 802px;
    height: 290px;
}
#videopods {
    float: left;
    color: #5E5E5E;
    font-size: 11px;
}
#videopods .videopod {
    color: #333;
    font-size: 10px;
    text-align: center;
    padding:13px 13px 13px 13px;
    _padding:5px;
    margin:13px 13px 0px 13px;
    _margin:10px 10px 0px 10px;    width:147px;
    height:255px;
    display: block;
    background-color:#FFFFFF;
    float:left;
}
#videopods .videopod .poddesc {
    height: 60px;
    display: block;
    padding: 5px 0 2px 0;
    overflow: hidden;
}
img.preview {
    position:relative;
    left:47px;
    top:-17px;
    z-index:1;
}
#butnPreview {
    position:relative;
    left:47px;
    top:-17px;
    z-index:1;
}
#butnPreview2 {
    position:relative;
    left:47px;
    top:-17px;
    z-index:1;
}
#butnPreview3 {
    position:relative;
    left:47px;
    top:-17px;
    z-index:1;
}
#butnPreview4 {
    position:relative;
    left:47px;
    top:-17px;
    z-index:1;
}
#videopods .categoryh3 {
    color: #5E5E5E;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 0 4px 0;
    border-bottom:1px solid #EFEFEF;
    margin: 0px 0 10px 0;
    text-transform:uppercase;
}
#videopods .viewall a {
    font-weight: bold;
    text-align:right;
    padding:4px 0px 6px 0px;
    margin-right: 13px;
}
#videopods .registertext a {
    color: #5E5E5E;
    font-size: 10px;
    font-weight: bold;
    line-height: 11px;
    padding: 10px 26px 0px 0px;
    border-top: 1px solid #EFEFEF;
    margin-top: 11px;
    text-decoration: none;
    display: block;
    background: transparent url(/cfimages/css/sw/butn_chevron.png) center right no-repeat;
}
#videopods .registertext a:hover {
    color: #F69F00;
    font-size: 10px;
    background: transparent url(/cfimages/css/sw/butn_chevron-over.png) center right no-repeat;
}