﻿/* HOME PAGE OVERRIDE */
    #wrap {
        padding: 0;
    }
    .TCACC_accord div {
        height:50px;
    }
    #HomeFlash {
        margin-bottom: -3px;
    }
    #content, #contentb {
        padding: 0;
        background-color: none;
    }
    .con1col {
        width:auto;
    }
    #modal {
        margin: 0;
        padding:0;
    }
    #content p {
        margin: 0;
        line-height: normal;
    }
    #FDivClear {
        display:none;
    }
/* HOME PAGE OVERRIDE */