form.JQForm label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	text-align:right;
	width: 159px;
	font-weight:bold;
}
form.JQForm label.error {
	font-size: 9px;
	color: #ff0000;
	text-align: left;
	margin-left: 166px;
	width: 460px;
	font-weight: normal;
}

form.JQForm input, form.JQForm select, form.JQForm textarea {
	border:solid 1px #7c9db9;
}

form.JQForm input {
	width: 210px;
	margin-right: 400px;
}

form.JQForm textarea {
	width: 460px;
	height: 156px;
}

form.JQForm select {
	width: 211px;
	margin: 0px 0px 2px 0px;
}

form.JQForm input.error, form.JQForm textarea.error, form.JQForm select.error  {
	border: 1px solid #F00;
	background-color: #FFC;
	color:#000;
}

form.JQForm p {
	list-style: none;
	padding: 1px 5px 1px 5px;
	margin: 0px;
}

form.JQForm .errorText {
	display: none;
	width: 820px;
	text-align: center;
	padding: 4px 0px 4px 0px;
	color: #F00;
	font-size:11px;
}
form.JQForm .asterik {
	color:#F00;
	
}