
.x-border-box, .x-border-box * {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/*************************/
/*     BUTTONS     */
/************************/
#contact-add-window-button .grey-button,
#contact-edit-window-button .grey-button,
#desktop-login-edit-window-buttons .grey-button,
#edit-add-desktop-login-buttons .grey-button {
	-moz-box-shadow: 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: 0px 1px 0px 0px #ffffff;
	box-shadow: 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fff;
	cursor:pointer;
}
#contact-add-window-button .grey-button:hover,
#contact-edit-window-button .grey-button:hover,
#desktop-login-edit-window-buttons .grey-button:hover,
#edit-add-desktop-login-buttons .grey-button:hover {
	background-color:#dfdfdf;
}
#contact-add-window-button .grey-button:active,
#contact-edit-window-button .grey-button:active,
#desktop-login-edit-window-buttons .grey-button:active,
#edit-add-desktop-login-buttons .grey-button:active {
	position:relative;
	top:1px;
}
#contact-add-window-button .grey-button,
#contact-edit-window-button .grey-button,
#desktop-login-edit-window-buttons .grey-button {
	width:75px;
}

#contact-add-window-button {
	margin:5px 0px 0px 115px;
}
#contact-edit-window-button {
	margin:5px 0px 0px 160px;	
}

#desktop-login-edit-window-buttons {
	margin:5px 0px 0px 60px;	
}
#edit-add-desktop-login-buttons {
	padding:0px 0px 0px 0px; 
	text-align:right;
	width:100%
}
#edit-add-desktop-login-buttons .grey-button {
	width:135px;
}


/*************************/
/*     POPUP WINDOWS     */
/************************/
#pDesk-Edit-Desktop-Login-Form {
	margin: 5px 0px 0px 0px;
	text-align:left;
}
#pDesk-Edit-Desktop-Login-Form .login-status {
	width:178px;	
}
#pDesk-Edit-Desktop-Login-Form .username, #pDesk-Edit-Desktop-Login-Form .password, #pDesk-Edit-Desktop-Login-Form .confirmation {
	width:175px;
}

#pDesk-Edit-Desktop-Login-Form .item {
	float:left;
	margin:0px 0px 4px 0px;
}
#pDesk-Edit-Desktop-Login-Form .label {
	float:left;
	width: 125px;
	margin-right:4px;
	text-align:right;
	font-weight:bold;
}
#pDesk-Edit-Desktop-Login-Form .content {
	float:right;
	width:100px;
}
#pDesk-Edit-Desktop-Login-Form input, #pDesk-Edit-Desktop-Login-Form select {
	color:#000;
	font-size:10px;
	border:1px solid #7c9db9;
}
#pDesk-Edit-Desktop-Login-Form .submitthis, #pDesk-Edit-Desktop-Login-Form .cancelthis {
	margin-top: 8px;
	width: 75px;
}
#popup-window-text {
	text-align:left;	
}

.popup-window-section-title {
	font-weight:bold;
	padding:5px 0px 5px 0px;
	text-align:left;
}


#partnerCompanyInfo  p {
	margin-bottom:8px;
}

#pApplications {
	color: #000000;
	width: 610px;
}

#pApplications .step_display {
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:100%; 
	text-align:right;
}

#pApplications input, #pApplications select, #pApplications textarea {
	color: #000000;
	font-size: 10px;
	border: 1px solid #7C9DB9;
	margin-bottom:2px;
}


#pApplications .btn {
	background-color: #707070;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: Verdana,Geneva,sans-serif;
	font-weight: bold; 
	height: 30px;
	padding-bottom:2px;
	width: 310px;
}

#pApplications .MainSame {
	border:none;
}

.p_disabledCompany {
	width:250px; 
}


#p_account_options {
	float:left;
	position: relative;
	margin-bottom: 15px;
	padding: 10px 10px 5px 10px;
	width: 450px;
	border: 1px solid #dddddd;
	background-color: #eeeeee;
}
#p_account_options .row {
	float:left;

}

#p_account_options .label, .value {
	margin: 0px 0px 4px 0px;
}

#p_account_options .label {
	float:left; 
	width:100px;
	text-align:right;
}

#p_account_options .value {
	float:right; 
	width:340px;
	text-align:left;
}

#p_account_options select {
	color: #000000;
	font-size: 10px;
	border: 1px solid #7C9DB9;
	width: 210px;
}

#form01 {
	width: 400px;
}
#form01 .s1 {
	height: 20px;
}
#form01 select, #form01 input,  #form01 textarea {
	color: #000000;
	font-size: 10px;
	border: 1px solid #7C9DB9;
}

#form01 input {
	width: 200px;
}

#form01 input, #form01 textarea {
	margin-bottom: 2px;
}

#form01 #item {
	float:left;
	margin-bottom:3px;
}
#form01 #item .label {
	float:left; 
	text-align:right; 
	margin-right: 4px;
	width: 150px;
}
#form01 #item .fieldtxt {
	float:right; 
	width: 205px;
}
#form .buttons {
	margin-top: 15px;
	border:none;
}
#form01 .submitthis, #form01 .cancelthis  {
	margin-top: 8px;
	width: 75px;
}
#form01 .req {
	color:#FF0000;
}

#form01 button.login {
	float: left;
	margin-left: 137px;
	width: 45px;
	height: 18px;
	background-image: url(/img/bt_login.gif);
	font-size: 0;
	text-indent: -9999px;
	border: 0;
}

#form01 .label {
	text-align:right;
	font-weight:bold;	

}

#desklogin input {
	color: #000000;
	font-size: 10px;
	border: 1px solid #7C9DB9;
	width:145px;
}


#gp-cam-upgrade-options-box {
	margin-bottom:10px; 
	width:470px;
}
#gp-cam-upgrade-options-box ul {
	margin-left:65px;
}
#gp-cam-upgrade-options-box .product-name {
	background-image:none;
	margin-left:8px;
}


#tc_div6 .ra-application-options, 
#tc_div6 .sp-application-options, 
#tc_div6 .gp-application-options {
	clear:both;	
	margin-top: 10px;
	overflow: auto;
}
#tc_div6 .sp-application-options .left-column, 
#tc_div6 .gp-application-options .left-column {
	float: left;
	width: 312px; 
}
#tc_div6 .sp-application-options .right-column, 
#tc_div6 .gp-application-options .right-column {
	float: right;
	margin-right:20px;
	width: 312px;  
}

#tc_div6 .sp-application-options .sp-options, 
#tc_div6 .sp-application-options .gold-options, 
#tc_div6 .sp-application-options .cam-options {
	margin: 5px 0 5px 0;
}

#tc_div6 .ra-application-options .ra-options li,
#tc_div6 .sp-application-options .sp-options li,
#tc_div6 .sp-application-options .gold-options li, 
#tc_div6 .sp-application-options .cam-options li, 
#tc_div6 .gp-application-options .sp-options li, 
#tc_div6 .gp-application-options .gold-options li, 
#tc_div6 .gp-application-options .cam-options li,
#tc_div6 .sasp-application-options .sasp-options li {
	background-image:url('/includes/partner/images/app.gif');
	background-repeat: no-repeat;
	background-position: 0 .4em;
	height: 20px;
	list-style:none;
	margin: 0px 0px 0px 10px;
	padding-left: 20px;
	padding-top:3px;
	vertical-align:middle;
}


#contentb .download-reference-pdf li {
	background-image: url("/includes/partner/images/doc.gif");
	background-position: 0 0.4em;
	background-repeat: no-repeat;
	height: 20px;
	list-style: none;
	margin: 0 0 0 10px;
	padding: 5px 0 5px 22px;
	vertical-align: middle;
}

#partnerlogincontent .invalid-login {
	color:#FF0000;
	display: block;
	font-size: 10px;
	padding: 2px 0 2px 0;
	text-align: center;
	width: 100%;
}



.agreement-page-loading {
	align:middle;
	background-color:#fff;
	display:none;
	filter:alpha(opacity=70);
	height:100%;
	left:0;
	opacity:0.8;
	position:fixed;
	top:0;
	width:100%;
	z-index:1000000;
}
.agreement-page-loading .wait {
	font-size: 15px;
	font-weight: bold;
	left:50%;
	padding:3px;
	position:absolute;
	text-align: center;
	top:30%;
	z-index:10001;
}

.agreement-window {
	border:1px solid #7c9db9;
	height:260px;
	padding:10px;
	overflow:auto;
	width:658px;
}
.agreement-export {
	text-align: right;
	width: 100%;
}
.agreement-export a {
	text-decoration: none;
}

.agreement-buttons {
	margin-top: 10px;
	text-align: center;
	width: 100%;
}
.agreement-export .export-button {
	-moz-border-right-radius: 8px;
	-moz-border-left-radius: 8px;
	-webkit-border-right-radius: 8px;
	-webkit-border-left-radius: 8px;
	background-color: #fff;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	cursor: pointer;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	margin-left: 180px;
	margin-top: 8px;
	padding-bottom: 2px;
	width: 170px;	
}
.agreement-buttons .submit-button {
	background-color: #707070;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 10px;
	height: 20px;
	margin-left: 180px;
	margin-top: 8px;
	padding-bottom: 2px;
	width: 120px;
}

.agreement-company-header {
	text-align:center;
	width: 100%; 
}