﻿/* HIDDEN OBJECTS */
    div#columnone, div#search, div#boxs, #main ul.more, span#HeadImage, address#phones, ul#navtop, ul#navheader, #footer, div#breadcrumb, #HeadImage  {
        display:none;
    }
/* HIDDEN OBJECTS */


/* ALTERED DISPLAY */
    body {
        background:none;
        /*width:210mm;*/
    }
    #modal {
        border-top:2px solid #A7A9AC;
    }
    #wrap, #modal, #container, #header, #footer, #main { /*We have to do each of these becuase each have been fixed width */
        width:auto; 
        background:none;
    }
    #header {
        height:auto;
        padding-bottom: 10px;
    }
    #content {
        float:none;
        width:auto;
        margin: 10px auto;
        font-size: 1.25em;
        /*line-height:2;*/
    }
    #container a {
        color:inherit;
        text-decoration:underline;
    }
    div.print {
        display:block;
        border-bottom:2px solid #A7A9AC;
        border-top:2px solid #A7A9AC;
        padding:10px;
    }
/* ALTERED DISPLAY */


div.box {
    margin-right:10px;
    float:left;
    width:205px;
}
#contentb p img {
    clear:left;
}

.noprint {
    display:none;
}