﻿/* GENERAL */
.x-body {

font: 11px Verdana,Arial,Helvetiva,sans-serif !important;
}
    * {
        margin: 0; 
        padding: 0;
        }
    table,fieldset,img,abbr,acronym {
        border: 0;
        }
    caption,th {
        text-align: left;
        }
    body {
        background: #FFF;
        text-align: center;
        color: #333;
        font: 11px Verdana,Arial,Helvetiva,sans-serif;
    }
    a {
        color: #369;
        text-decoration: none;
    }
    a:hover,a:focus {
        text-decoration: underline;
    }
    li {
        list-style-type: none;
    }
    h1,h2,h3,h4,h5,h6 {
        font-size: 100%;
        color: #525151;
        }
    h1 {
        /* margin-bottom: 26px; */
        font: 23px Verdana;
        clear:both;
    }
    h2 {
        margin-bottom: 10px;
        font-size: 12px;
    }
    h4, h4 a {
        margin-bottom: 5px;
    }
    input,select,textarea {
        background-color: #FFF; /* OK - used for buttons */
        border: 1px solid #010101;
    }
    strong {
        font-weight: bold !important;
    }
/* GENERAL */
/* MISC CLASSES */
    .clear {
        clear: both;
    }
    .txtcenter {
        text-align: center;
    }
    .hrnone hr {
        display: none /* QUESTIONABLE - extra hr should be removed if it's hidden */
    }
    .hr hr {
        display: none /* QUESTIONABLE - extra hr should be removed if it's hidden */
        }
    div.hr {
        background: transparent url(/cfimages/css/sw/bg_hrbox.gif) left center repeat-x;
    }
    div.hr,div.hrnone {
        clear: both;
        height: 17px;   
    }
    .cfdebug {
        text-align:left;
    }
    .cfdebuglge
     {
        text-align:left;
    }
    div.print {
        display:none;
    }
    #main .stdSubmitBtn {
        color: #000000;
        border: none;
        background-color: #707070;
        color: #ffffff;
        font-weight: bold;
        font-size: 10px;
        cursor:pointer;
        height:18px;
        padding-bottom:3px;
    }
    .box h3 {
        margin-bottom:10px;
        color:#666;
    }
    .noborder { /* for IE */
        background-color: transparent !important;
        border: 0 !important;
    }
    .shadedbg {
        background-color: #dadada;
        padding: 3px;
    }
    ul.grayarrow li {
        background: url(/cfimages/css/sw/gray_arrow.png) no-repeat 0 8px;
        padding-left: 8px;
    }
    .HeadingImage {
        display: block;
    }
    .c1margin {
        margin: 0 20px 0 0;
    }
    .c3margin {
        margin: 0 0 0 20px;
    }
    div.rss_Icon {
        float: right;
        padding-right: 6px;
    }
    div.rss_Icon a {
        padding-left: 22px;
        background: url(/cfimages/css/sw/ico_rss.gif) no-repeat;
        color: #E67B1B;
        font-weight: bold;
        line-height: 19px;
        display: block;
    }
/* MISC CLASSES */
/* SITE LAYOUT DIVS */
    #container,#main,#wrap, #footer {
        /* position: relative; */
        margin: 0 auto;
    }
    #container {
        text-align: left;
    }
    #main {
        width: 961px;
        background: transparent;
        position: relative;
    }
    #wrap {
        width: 961px;
    }
    #wrap {
        padding: 0 0 20px 0;
        background-color: #efefef;
    }
    #HeadingContent {
        background-color: #efefef;
    }
    #columnone {
        float: left;
        margin: 0 20px 0 0;
    }
    #columnthree {
        float: left;
        margin: 0 0 0 20px;
        width: 192px;
    }
    #modal {
        clear: both;
        padding: 10px 0 0 0;
        margin: 0 15px;
    }
    #columntwo {
        float: left;
    }
    #content {
        background-color:#fff;
        padding: 15px 0 0 0;
    }
    .con1col {
        width: 931px;
    }
    .con2collt {
        width: 725px;
    }
    .con2colrt {
        width: 715px;
    }
    .con3col {
        width: 500px;
    }
    #contentb {
        padding: 0 20px
    }
    #breadcrumb {
        margin: 0 0 8px 0;
        width: 695px;
        font-size: 10px;
        float: left;
    }
    #FL_Block {
        width: 961px;
        background: #5b5b5b url(/cfimages/css/sw/FooterGradientSlice.png) top left repeat-x;
    }
    #footer {
        width: 1045px;
        height: 44px;
    }
/* SITE LAYOUT DIVS */
/* HEADER NAVIGATION */
    #dsheader {
        margin: 0 auto;
        width: 966px;
    }
    #head_logo {
        float: left;
        height: 51px;
        width: 170px;
        margin: 15px 0 0 0;
    }
    #head_logo:hover {
        text-decoration: none;
    }
    #social {
        float: right;
    }
    #social img {
         margin: 5px 0 0 5px;
    }
    .head_shader {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color:#f0f7ff;
    }
    #globalheader {
        height:30px;
    }
    #swheader {
        height: 64px;
    }
    .head_wrap {
        margin: 0 auto;
        width: 960px;
    }
    #headerlinks {
        float: right;
    }
    #headerlinks form {
        background: url(/cfimages/css/sw/sprite.png) no-repeat 0 3px;
        height: 23px;
        width: 145px;
    }
    #headerlinks form input {
        border: none;
        background: transparent;
        position: relative;
        top: 6px;
        left: 5px;
        font-size:11px;
    }
    #headerlinks ul {
        margin: 0 20px 0 0;
    }
    #headerlinks li {
        float: left;
    } 
    #headerlinks li.contact {
        margin: 7px 10px 0 0;
    }
    #headerlinks li.searchform {
        margin: 0 20px 0 0;
    }
    #headerlinks li a {
        font-size: 11px;
        color: #369;
    }
    #navigation {
        float: right;
    }
    #compass {
        background: url(/cfimages/css/sw/Compass.png) no-repeat;
        height:90px;
        width:90px;
        float: right;
        margin: 2px 0 0 0;
    }
    #swLogo {
        float: left;
        margin: 5px 0 0 0;
        text-align: left;
    }
    .capBreadCrumb {
        margin:35px 0 0 0;
    }
    #swContact {
        color: #239DE8;
        float: right;
        font-size: 12px;
        margin: 5px 0 0;
        text-align: right;
    }
    #swContact address {
        font-style: normal;
    }
    /* SITE SEARCH IN TOP NAV */
    .DSSearchBox .txtsearch {
        background-color: transparent;
        border: medium none;
        color: #444444;
        font-size: 11px;
        font-weight: normal;
        height: 22px;
        left: 10px;
        line-height: 17px;
        margin: 0;
        padding: 0;
        top: 5px;
        width: 114px;
    }
    /* SITE SEARCH IN TOP NAV */
    /* MAIN NAVIGATION */
        #navigation {
            margin: 0 auto;
            /*height:92px;*/
        }
        ul#navheader {
            height: 30px;
            margin: 24px 4px 0 0;
        }
        ul#navheader li.SNH_Header {
            position: relative;
            float: left;
            margin: 0 18px 0 0;
            z-index: 8998; /* IE7: This is required because IE7 is intellectually challenged */
        } 
        ul#navheader .SNH_Header a {
            font-weight: bold;
            line-height: 20px;
            color: #142f44;
            text-transform: uppercase;
        }
        ul#navheader li.SNH_Header a:hover, ul#navheader li.SNH_Header a.current {
            color: #239de8;
        }
        ul#navheader li.SNH_Header.lastitem {
            margin-right:0px;
        }
    /* MAIN NAVIGATION */
    /* SUB NAVIGATION LINKS */
    .SNH_Menu {
        display: none;
        border-top: 7px solid #56798D;
        z-index: 8998;
        position:absolute;
        top: 30px;
        left: 0; /* IE7: This is required because IE7 is intellectually challenged */
        background: url(/cfimages/css/sw/DropDownMenu_Shadow.png) repeat-x bottom left;
        z-index: 8998; /* IE7: This is required because IE7 is intellectually challenged */
    }
    .SNH_Menu_Clear {
        background:#fff url(/cfimages/css/sw/DropDownMenu_leftGradient.png) bottom left repeat-x;
    }
    ul#navheader .SNH_Menu ul {
        height:auto;
        margin-bottom:14px;
    }
    ul#navheader .SNH_Menu li {
        display:block;
    }
    ul#navheader .SNH_Menu a {
        background: none repeat scroll 0 0 transparent;
        color: #336699;
        font-size:10px;
        line-height:24px;
        margin-left: 4px;
        font-weight: normal;
        text-decoration: none;
        border: 0 none;
        width: 168px;
        text-transform:none;
    }
    ul#navheader .SNH_Menu a:hover {
        color:#336699;
        background: none repeat scroll 0 0 transparent;
        text-decoration:underline;
        border: 0 none;
    }
    .hovering .SNH_Menu {
        display: block;
        text-align: left;
    }
    .SNH_Menu_Items {
        position:absolute;
        z-index:8999;
        top: 0;
        left: 0;
    }
    .SNH_Item {
        float:left;
        margin: 15px 0 15px 20px;
    }
    .SNH_Right {
        float: right;
        width: 175px;
        background-color:#638497;
        height:275px;
    }
    .SNH_RightInner {
        margin: 15px 20px 20px 15px;
        float: right;
    }
    ul#navheader .SNH_RightContent a  {
        line-height: 14px;
        width 120px;
        color:white;
    }
    ul#navheader .SNH_RightContent img {
        margin: 0 0 0 -10px;
    }
    .SNH_RightHeadline {
        color:#d9d7d8;
        font-size:11px;
        font-weight: bold;
        width:168px;
    }
    .SNH_RightList {
        margin: 0 0 45px 0;
    }
    .SNH_RightList li {
        margin: 0 0 8px 4px;
        padding: 3px 0 0 8px;
    }
    .SNH_RightCenter {
        padding: 0;
        text-align:center;
    }
    .SNH_RightCenter a{
        margin: -25px 0 0 0;
    }
    .SNH_HTBHead {
        border-bottom: 2px solid #aaa;
        padding-bottom: 3px;
        color:#666;
        font-weight:bold;
    }
    .SNH_LinkHead {
        color:#767676;
        font-size:11px;
        font-weight:bold;
    }
    .SNH_Item ul {
        margin-bottom:8px;
        position:relative; /* IE7: This is required because IE7 is intellectually challenged */
    }
    /* SUB NAVIGATION LINKS */
/* HEADER NAVIGATION */
/* LEFT NAVIGATION */
    #navbar {
        margin: 17px 0 0 0;
        width: 186px;
    }
    #navbar li {
        background: url(/cfimages/css/sw/leftNavbar_list_bg.gif) left bottom repeat-x;
        padding: 7px 0 10px 13px;
    }
    #navbar li a {
        color: #6D6E71;
        font-size: 10px;
        font-weight: bold;
    }
    #navbar a.SideNav_ActiveLink {
        color: #000;
    }
    #navbar .SideNav_Sub li {
        padding: 11px 0 0 13px;
        background: none;
    }
    #navbar li.SideNav_ActiveList {
        position: relative; /* required for style of #navbar img.nav_Bullet */
    }
    #navbar .SideNav_Sub li a {
        font-weight: normal;
    }
    #navbar img.nav_Bullet {
        left: 1px;
        position: absolute;
        top: 11px;
    }
    #navbar .SideNav_Sub li img.nav_Bullet {
        top: 15px;
    }
/* LEFT NAVIGATION */
/* CONTENT DIV STYLES */
    /* EMAIL AND PRINT PAGE LINKS */
        #main ul.more {
            clear: both;
            display: table;
            margin-top: 20px;
        }
        #main ul.more li {
            float: left;
            padding: 0 10px 4px 21px;
            background-repeat: no-repeat;
            list-style-type: none;
            margin-left:0;
        }
        #main ul.more li a {
            color: #9E9E9E;
            font-size: 10px
        }
        #main ul.more li.printpage {
            padding-left: 31px;
            background-position: 10px 2px;
            background-image: url(/cfimages/css/sw/ico_print.gif);
            border-right: 1px solid #9E9E9E;
        }
        #main ul.more li.emailpage {
            padding-left: 31px;
            background-position: 10px 4px;
            background-image: url(/cfimages/css/sw/ico_email.gif)
        }
    /* EMAIL AND PRINT PAGE LINKS */
    #content .img {
        float: left;
        padding-right: 10px
    }
    #content .txt {
        float: left;
        width: 335px /* teaser text */
    }
    #content p, #colorbox p, CC_Flex p {
        margin-bottom: 23px;
        line-height: 18px
    }
    #content #PageDescription {
        font: 14px/23px Verdana;
    }
/* CONTENT DIV STYLES */
/* SEARCH RESULTS */
    #navbarsearch {
        float: left;
        border: 1px solid #E1E1E1;
        width: 186px;
        margin: 34px 0 0 0;
    }
    #navbarsearch .search_refine {
        font-size:13px; 
        font-weight:bold; 
        margin: 10px 0 5px 10px;
    }
    #search_content {
        float: left;
        width: 690px;
        margin: 0 0 0 10px;
    }
    #navbarsearch h3 {
        margin: 0 0 2px 10px;
    }
    #navbarsearch ul.site_search_navlist li {
        list-style-type: none;
        margin: 0;
    }
    #navbarsearch ul li span {
        padding: 3px 0 0 25px;
        background: transparent url(/cfimages/css/sw/gray_arrow.png) 12px 9px no-repeat;
        display:block;
        margin: 0 0 7px 0;
    }
    #navbarsearch li a {
        font-size:10px;
        line-height:14px;
    }
    .sr_search h3 {
        font-size:12px;
    }
    #searchresults {
        width: 693px;
        border: 1px solid #E1E1E1;
        margin: 15px 0 0 0;
    }
    #site_search_form {
        width: 695px;
        background-color: #e1e1e1;
        border 1px solid #666;
        margin: 5px 0 0 0;
    }
    #site_search_form_contents {
         padding: 20px 0 0 15px;
    }
    #searchresults .sr_results {
        float: left;
        margin: 15px 0 0 15px;
    }
    #searchresults .sr_paging {
        float: right;
        margin:15px 15px 0 0;
    }
    .searchresult {
        width: 663px;
        margin-left: 15px
    }
    #content .searchresult .sr_search p {
        margin-bottom: 5px;
        font-size: 10px;
        line-height: 12px
    }
    #content .searchresult .sr_search p.type1 {
        color: #0b639f;
        padding-bottom: 20px;
    }
/* SEARCH RESULTS */
/* CONTENTB DIV STYLES */
    #contentb blockquote {    
        padding: 0 30px 10px 30px;
    }    
    #contentb .LGclear { /* clears floats for lead gen boxes in main content area */
        clear: both;
    }
    #contentb #LGskinny {
        background: transparent url(/cfimages/css/sw/box_LGskinny_bottom.gif) bottom left no-repeat;
        float: right;
        width: 137px;
    }
    #contentb .box {
        float: right;
        width: 205px
    }
    #contentb ol li {
        background: none;
        list-style-type:decimal;
        list-style-position:inside
    }
    #contentb li {
        line-height: 17px;
        padding-left: 5px;
        margin-left: 30px;
        list-style-type: disc;
    }
/* CONTENTB DIV STYLES */
/* COLUMNTHREE DIV STYLES */
    .RightColumnBox {
        margin-bottom: 13px;
        width: 192px;
        background-color: #FFF;
        border: 1px solid #e1e1e1;
    }
    .RightColumnBoxTitle {
        color: #666;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 10px;
    }
    .RightColumnBoxContent {
        margin: 6px 0 5px 13px;
    }
    .RightColumnBoxList li {
        padding: 0 10px 14px 0;
    }
    .RightColumnBoxList a {
        background: url(/cfimages/css/sw/icon_arrow_grey.gif) no-repeat left 4px;
        color: #003471;
        display: inline-block;
        font-size: 11px;
        padding-left: 14px; 
    }
    .HowToBuy {
        background: url(/cfimages/css/sw/HowToBuy_Internal.png) no-repeat;
        height: 160px;
        margin: 0 0 13px -8px;
        padding: 16px 0 0 20px;
        width: 182px;
    }
    .HowToBuyList {
        margin: 16px 0 0 0;
    }
    .HowToBuyList li {
        padding-bottom: 15px;
    }
    .HowToBuyList a {
        background: url(/cfimages/css/sw/ico_arrow_blue.gif) no-repeat scroll left 3px transparent;
        color: #636363;
        display: inline-block;
        font-size: 11px;
        padding: 0 0 0 15px;
    }
    .HowToBuyBottom {
        margin-right:15px;
    }
/* COLUMNTHREE DIV STYLES */
/* FORM STYLES */
    #contentb select, #contentb input {
        margin: 0 5px 4px 0;
        font-size: 10px;
        border: 1px solid #7C9DB9
    }
    #contentb input.noborder {
        margin:0px;
    }
/* FORM STYLES */
/* FOOTER */
    .FL_Links {
        width: 165px; 
        margin: 25px 0 25px 25px;
        float: left; 
        color: #fff;
        font-size 10px;
    }
    .FL_Links_Border {
        border-right: 1px solid #fff;
    }
    .FL_Links a {
        color: #ddd;
        line-height:20px;
    }
    .FL_Links li {
        list-style-type: none;
    }
    .FL_Links ul {
        margin-bottom: 7px;
    }
    #footer p,#footer li {
        margin-top: 10px;
        font-size: 10px;
    }
    #footer p {
        float: left;
        margin-left: 44px;
        color: #5b5b5b;
    }
    #footer ul {
        float: right;
        margin-right: 40px
    }
    #footer li {
        float: left;
        margin-right: 4px
    }
    #footer li,#footer li a {
        color: #5b5b5b;
        font-size: 9px
    }
/* FOOTER */

/* FOOTER Cookie Disclaimer */
#footer.cookies_disclaimer {
    height: 110px
}
#cookies_disclaimer {
    background: url("/includes/images/cookie_disclaimer/cookies_bkg.gif") repeat-x scroll 0 0 #000000;
    bottom: 0;
    color: #CECED5 !important;
    height: 59px;
    min-width: 961px;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100010;
    left:0;
}
#cookies_disclaimer p {
  color: #CECED5 !important;
}
#disclaimerInner #disclaimerClose a {
    color: #CECED5;
    display: block;
    font-size: 10px;
    font-weight: normal;
    height: 59px;
    line-height: 10px;
    min-height: 59px;
    padding: 3px 45px 13px 0
    /*13px 45px 13px 0*/
}
#disclaimerClose  {
    
    margin-right: -140px;
}
#footer #disclaimerInner p {        
    float:none
    }
div#disclaimerInner, #disclaimerInner a {
    font-size: 11px;
    line-height: 12px;
}

#disclaimerInner #disclaimerClose {
    background: url("/includes/images/cookie_disclaimer/button.jpg") no-repeat scroll right 0 transparent;
    height: 51px;
    min-height: 51px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width:129px;
}
#disclaimerInner {
    height: 59px;
    margin: 0 auto;
    position: relative;
    width: 670px;
}
#disclaimerInner p {
    padding: 5px 0 0;
    width: 610px;
}
/* FOOTER Cookie Disclaimer */



/* NEW HOME PAGE */
    #hp_QuickLinks {
        padding:15px;
    }
/* NEW HOME PAGE *
 
/* CONTENT CLASS STYLES */
    #content #CC_TextOverImage p {
        line-height:normal;
    }
    #content .CC_Flex hr {
        border-bottom: 1px solid #A7A9AC;
        margin-bottom: 3px;
    }
    #content .CC_Flex li {
        padding-bottom: 8px;
    }
    #content .CC_Flex h3 {
        padding-bottom: 5px;
        font-size: 12px;
    }
    #content .CC_Flex_Feed li {
        list-style-type: none;
        padding-bottom: 8px;
        margin: 0;
    }
    #content #hp_QLHead {
        font-weight: bold;
    }
    #content #hp_QLLinks {
        margin: 4px;
        line-height: 18px;
    }
    #pr_date {
        width: 124px;
        float: left;
        text-align: right;
        clear: both;
    }
    #pr_title {
        float: left;
        padding: 0 0 15px 3px;
        width: 331px;
    }
/* CONTENT CLASS STYLES */
/* PRODUCTS HEADER - Header for new products page layout */
/* Note: about 1/4 the styles used need to remain in the content class itself 
as there is a heavy use of background images that are going to be page specific. 
See Header Navigation content class for details. */
div#productContainer {
    margin-left:18px;
}
div#prodNavContainer {
    position:relative;
    float:left;
    margin-bottom:10px; 
    background-image: url('/cfimages/css/sw/DottedLine.jpg');
    background-repeat:no-repeat;
    background-position: center bottom; 
}
ul#productnav li {
    margin:20px 25px 2px 0;
    padding-bottom:5px;
    float:left;
    list-style-type:none;
    font-size:9px;
    text-align: center;
    background-repeat:no-repeat;
    background-position: center top;
    height:62px;
    cursor:pointer;
}
ul#productnav a {
    font-size:9px;
    color:#333333;
    text-decoration:none;
    cursor:pointer;
}
/* 
ul#productnav a:hover {
    text-decoration:underline;
}
*/
span#ProdNavText {
    z-index:2;
    position:relative;
    top:48px;
}
ul#tabbedNav li {
    float:left;
    margin:0 2px 0 0;
    padding: 7px 15px 7px 15px;
    list-style-type:none;
    display:block;
    background-image: url('/cfimages/css/sw/GreyButtonSlice.jpg');
    color:white;
    font-weight:bold;
    font-size: 13px;
}
ul#tabbedNav li.selected {
    background-image: url('/cfimages/css/sw/OrangeButtonSlice.jpg');
}
ul#tabbedNav li a{
    color:white;
    font-weight:bold;
    font-size: 13px;
}
h1#productHeader {
    margin: 0 0 0 0;
    font-size:24px;
    font-family:verdana;
    font-weight:normal;
}
div#transbox {
   width:550px;
    _width:549px; 
    height:150px;
    /* margin used to align right*/
    /* margin:0 0 0 100px; */
    background-color:#707070;
    border-top:none;
    border-right:2px solid #707070;
    border-bottom:2px solid #707070;
    border-left:2px solid #707070;    
    /* for IE */
    filter:alpha(opacity=70);
    /* CSS3 standard */
    opacity:0.7;
    background-image: url('/cfimages/css/sw/DropDownBackground.jpg');
}
div#thinline {
    width:554px;
    _width:552px;
    height:0px;
    left: -2px;
    border-top:2px solid #f16534;
    clear: both;
}
div#transnav  {
    z-index:3;
    position:relative;
   /* width:525px; */
    margin-top:-150px;
    margin-right:20px; 
}
ul#transnavimage  {
    float:left;
    z-index:4;
    position:relative;
    padding: 20px 30px 0 75px;
}
ul#transnavitems {
    float:left;
    z-index:5;
    position:relative;
}
ul#transnavitems li {
    font-weight:bold;
    color:#707070; 
    margin: 12px 0 12px 20px;
}
ul#transnavitems li a{
    text-decoration:none;
    font-weight:bold;
    color:#707070;
}
ul#transnavitems li a.selected{
    color:#f16534;
}
ul#transnavitems li a:hover, ul#transnavitems li a:active{
    color:#f16534;
}
/* new */
div#transnavitems {
    float:left;
    z-index:5;
    position:relative; 
   /* width:575px; */
}
div#transnavitems p {
    font-weight:bold;
    color:#707070; 
    margin: 5px 0 12px 12px;
}
div#transnavitems p a{
    text-decoration:none; 
    font-weight:bold;
    color:#707070;
}
div#transnavitems p a.selected{
    color:#f16534;
}
div#transnavitems p a:hover, div#transnavitems p a:active{
    color:#f16534;
}
/* end new */
ul#transnavitems2 {
    float:left;
    z-index:6;
    position:relative; 
}
ul#transnavitems2 li {
    font-weight:bold;
    color:#707070; 
    margin: 12px 5px; 12px 0;
    padding-left:10px;
}
ul#transnavitems2 li a{
    text-decoration:none; 
    font-weight:bold;
    color:#707070;
}
ul#transnavitems2 li a.selected{
    color:#f16534;
}
ul#transnavitems2 li a:hover, ul#transnavitems2 li a:active{
    color:#f16534;
}
/* PRODUCTS HEADER - Header for new products page layout */
/* FAQ CONTENT CLASS */
    .FAQ_QA_Box {
        margin: 0 0 7px 0;
    }
    .FAQ_Question {
        color: #F26522;
        font-size: 13px;
        border: 1px solid #a9a9a9;
        background: #e6e6e6;
        cursor: pointer;
        padding: 6px 10px;
    }
    .FAQ_Answer {
        display:none;
        border: 1px solid #a9a9a9;
        border-top: none;
        background: #FFF;
        padding: 15px 15px 2px 10px;
    }
    #main .FAQ_Question p {
        margin-bottom:0;
    }
/* FAQ CONTENT CLASS */



/* Enthink May 2012 */
.productContent #breadcrumb p { font-size:11px; }

.productContent #contentb p {
    font-size: 12px;
}

/* Header - Mask */
.headermask {
 z-index: 200; /*height: 230px;*/
}
.headermask .header-content {
    position: relative;
    display:inline-block;
    z-index:201;
}
.headermask .header-content img {
    margin:5px 0 0 20px;
}
.headermask .header-content .headlineimage {
    margin-top:50px;
}
.headermask .headerlinks .rd_Body img {
    margin-left:0px; 
    padding-left:0px; 
    padding-top:0px;
}
.headermask .headerlinks {
    position: absolute; 
    right: 0px;
}
/* Product -  Menu */
.breadcrumb {
    margin:13px 0 13px 0 !important;
    padding-top:5px;
}
.product-menu {
    
background: #2c2c2c; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#797979', endColorstr='#2c2c2c'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#797979), to(#2c2c2c)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #797979,  #2c2c2c); /* for firefox 3.6+ */ 
height:29px;
position:relative;
overflow:hidden;
}
.product-menu li {
    float:left; 
}
.product-menu li a {
    display:block;
    margin:0;
    padding:0 25px;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    color:#FFFFFF;
    line-height:29px;
}
.product-menu li a:hover, .product-menu li a.active {
    background: #fffcfc; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfc', endColorstr='#a8a8a8'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fffcfc), to(#a8a8a8)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fffcfc,  #a8a8a8); /* for firefox 3.6+ */ 
    text-decoration:none;
    color:#000;
    zoom: 1;
}
/* Product image containers */
.productContent .additional-video {width:117px; float:left; margin-right:15px;}
.productContent .additional-video-end {margin-right:0px;}
.productContent #video {width:385px;}
.productContent #content .videoDescription p {margin-bottom:0px;}
.img-right.video-image {
    overflow:visible;
    /*background-image:url(/cfimages/css/sw/video-side.jpg);     
    background-position:0 0; 
    background-repeat:repeat-y; */
    padding-left:15px;
}
.img-left.video-image {
    overflow:visible;
    /*background-image:url(/cfimages/css/sw/video-side-left.jpg);     */
    background-position:100% 0; 
    background-repeat:repeat-y; 
    padding-right:15px;
}
body #content .img-right {
    float:right; 
    display:block;
    text-align:right !important;
    margin: 0 20px 30px;    
    padding-left:40px;
}
body #content .img-left {
    display:block;
    text-align:left !important;
    margin-right:20px;
    padding-right:40px;
    float: left;
}
/* Product image containers  -  Text content */
body #content .img-right p , body #content .img-left p {
    font-family:Verdana, Geneva, sans-serif;
    font-size: 11px;
    color:#898989;
    float:none !important;
    text-align:left;
    
    max-width:80%;
    
    margin:0 10%;
}
.img-left p {
    display:block;
    clear:none;
    padding-left:10px;
}
.img-right p {
    display:block;
    clear:none;
    padding:0;
}
/* Main Content - Headings */
/*
h1 {
    display:block;
    clear:none;
}
*/
h2 {
    margin-top:20px;
    margin-bottom:0;
    font-family:Verdana, Geneva, sans-serif;
    font-size:17px;
    font-weight:normal;
    line-height:150%;/* */
    line-height:normal;
    padding-bottom:10px;
    color:#525151 !important;    
}
 h2.firsth2 {
    margin-top:0px !important;
}

/**/
/* Main Content - Lists */
div.img-left {
    float:left;
}
ul.product-list li  {
    display:block !important;
    list-style:none !important;    
    margin-left:21px !important;
    padding-left:16px !important;
    margin-bottom:9px;    
    
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    line-height:110%;
    background-image:url(/cfimages/css/sw/bullet.png) !important;
    background-position:0px 5px;
    background-repeat:no-repeat;/**/
}
ol.product-list li  {
    margin-left:21px !important;
    padding-left:16px !important;
    margin-bottom:9px;    
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    line-height:110%;
}
.img-left ul, .img-left h2 {
    display:block !important;
    float:none !important;
}
.img-right ul, .img-right h2 {
    display:block !important;
    float:none !important;
}
/* Main Content - Social Media */
.social-media {
    text-align:right;
    padding:15px 47px 25px 0;
    clear:both;    
}
/* Related/Capability Area */
.related-capability {
    background-image:url(/cfimages/css/sw/related-bg.jpg);
    background-position:left top;
    background-repeat:repeat-x;
    padding-top:15px;
    margin-bottom:10px;
    width:890px;
    zoom:1;
    clear:both;
}
.related-capability h3, .FCA_text h3 {
    font-family:Verdana, Geneva, sans-serif;
    font-size:14px;
    font-weight:normal;
    line-height:150%;
    color:$525151;
    margin-bottom:10px;
}
/* Related/Capability - Related */
.related {
    margin: 0 0 0 30px;
}
.related ul {
    display:block;
    /* width:175px; 
    width:600px;
    margin-left:23px;
    float:left;*/
    overflow:hidden;
}
.related ul:first-child {
    margin-left:0px;
}
#contentb .related ul li {
    font-size: 12px;
    list-style: none;
    margin: 0 10px 15px 0;
    padding: 0 30px 0 0;
    width: 245px;
    height: 25px;
    float: left;
}
#contentb ul.capability li {
    font-size: 12px;
    list-style: none;
    margin: 0 10px 15px 0;
    padding: 0 30px 0 0;
    width: 245px;
    /*float: left;*/
}


#contentb .related ul li {
    display: inline-block; 
}
.related ul li a {
    display:block;
    background-image:none;
    line-height:110%;
    margin:0 0 0 0;
    padding:0;
}
/* Related Content/Capability - Capability */
.capability {
    width:222px;
    /*float:left;*/
}
#contentb .CAP_lower .capability li {
    background: url("/cfimages/css/sw/CababilityBullet.png") no-repeat 0 5px;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    line-height: 110%;
    margin-bottom: 9px;
    padding-left: 16px;
}
/* Related Content/Capability - Capability  - Square colors */
.capability li.workgroup span { background-color:#828282; }
.capability li.enterprise span { background-color:#565656; }    
/* Main Content - Links */
a.redarrow {
    display:block;
    float:left;
    background-image:url(/cfimages/css/sw/link-bull.png);
    background-position:0 4px;
    background-repeat:no-repeat;
    
    padding:0 0 0 20px;
    margin:19px 20px 0 20px !important;
    
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    font-weight:bold;
    
    zoom:1;
}
/* Featured Content */
.featured-holder {
    display:inline;
}

.featured-content {
    position:relative;
    height:150px;
    background-color:#dedede;
    width:931px;
    margin-left:-20px;
    margin-top:10px;
    clear: both;
}
.featured-content img.headlineImage, .featured-content-static img.headlineImage {
    margin:10px 0 5px 20px;
}
.featured-content a.nav {
    position:absolute;
    display:block;
    background-image:url(/cfimages/css/sw/prev-horizontal_relatedvideos.png);
    background-position:left top;
    background-repeat:no-repeat;
    
    top:60px;
    left:-10px;
    
    width:32px;
    height:32px;
    overflow:hidden;
    
    z-index:2;
    outline: 0 !important;
}
.featured-content a.nav:hover, .featured-content a.nav:active, .featured-content a.nav:focus {
    outline: 0 !important;
}
.featured-content a.nav:hover {
    background-position:-33px top;
}
.featured-content a.nav.right {
    left:910px;
    background-image:url(/cfimages/css/sw/next-horizontal_relatedvideos.png);
}
.featured-content a.nav.right:hover {
    background-position:-32px top;
}
.featured-content div.slider-pane {
    position:absolute;
    height:105px;
    /*z-index:1; */
    
    left:20px;
}
.featured-content div.slider-pane-reddot { padding-left:20px; }
/* This screen wraps around the featured content items and and is set to overflow hidden,
this is so that the content in the inner div can slide freely but not bee seen */
.featured-content .screen {
    position:relative;
    overflow:hidden;
    height:125px;
    width:931px;
}
.featured-content h3 {
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    line-height:150%;
    clear:both;
}
/* The images for the left & right buttons */
.featured-content a img.carousel-buttons {
    position:absolute;
    top:50px;
    left:-35px;    
    z-index:2;
    background-image:none !important;
    
}
a img.carousel-buttons.carousel-right-button {
    left:875px;
    z-index:3;
    background-image:none !important;
}
/* The Featured Scroller Items  */
.featured-item a {
    position:relative !important;
    float:left;    
    width:259px !important;
    height:85px !important;
    
    margin-right:10px;
    
    background-color:#FFFFFF !important;
    
    padding:10px;
    clear:none;
    
    
    
   -moz-box-shadow:     5px 10px 10px #6c6c6c;
   -webkit-box-shadow:  5px 10px 10px #6c6c6c;
   box-shadow:          7px 7px 7px #CCCCCC;
    zoom: 1;
}
.featured-item img {
    position:relative;
    top:0;
    left:0;
    float:left;
    margin:0 10px 0 0;
}
.featured-item a:hover {
    text-decoration:none;
}
.featured-item a {
    background-color:#00FF00;
}
.featured-item span {
    background-image:none;
    width:auto;
    height:auto;
    margin:0;
    padding:0;
    
    font-weight:normal;
    
}
.featured-item a:hover span {
    text-decoration:underline;
}
.featured-item a:hover p span {
    text-decoration:none;
}
.featured-item h5 {
    display:block;
    clear: none;
    float: none;
    margin:0 !important;
    padding:0 0 5px 0 !important;
    
    text-align:left !important;
    font-size:10px;
    line-height:110%;
    color:#000000;
    font-weight:bold;
    text-transform:uppercase;    
}
.featured-item p {
    font-size:11px !important;
    line-height:normal !important; 
    margin-bottom:0px !important;
    
    color:#000000;
    font-weight:normal;
}
/* Featured Content - Static */
.featured-content-static {
    background-color:#efefef;
    padding:10px 0 0 0;
    margin-left:-20px;
    
}
.featured-content-static div.holder {
    background-color:#FFFFFF;
    padding:10px 0 5px 20px !important;
}
.featured-content-static div.holder .featured-item img.headlineImage {
    display:block;
    float:left;
    clear:both;
    margin-right:100%;
}
.featured-content-static .featured-item {
    float:left;
    background-image:none !important;
   /*
   -moz-box-shadow:    none;
   -webkit-box-shadow: none;
   box-shadow:         none;
   */
   padding-left:0 !important;
}
.featured-content-static .featured-item img {
    margin-right:9px;
    float:left !important;
}
.featured-content-static .featured-item p {
    margin-bottom:5px !important;
}
.featured-content-static .featured-item a {
    width:269px;
    padding-right:10px;
    
    box-shadow:none !important;
    
    display:block;
    font-weight:bold;
    
    outline:none;
}
.featured-content-static ul {
    float:left;
    display:block;
    width:135px;
    list-style:none;
    margin:30px 10px 0 0;
    padding:0;
    
    background-color:#FFFFFF;
}
.featured-content-static ul li { list-style:none !important; margin-left:0 !important;}
.featured-content-static ul li a {
    display:block;
    /* font-weight:bold; */
    margin-bottom:5px;
}
/* In Page Navigation */
.in-page-nav {
    height:35px;
    background-color:#FFF;
    padding:15px 5px 0 5px;
    
    width:921px;
    margin-left:-20px;
}
.in-page-nav a {
    display:block;
    background-color:#0F0;
}
.in-page-nav h3 {
    text-align:right;
    float:right;
    width:auto;
    color:#636363;
    font-weight:normal;
    font-size:14px;
}
.in-page-nav h3:hover {
    cursor:pointer;
    text-decoration:underline;
}
.in-page-nav a:first-child h3 {
    text-align:left;
    float:left;
}
/*.FCA_bottom-right-image {
    float: right;
    margin-top: 20px 2px 20px 20px;
    text-align: left !important;
    width:350px;
    }*/
.FCA_image {
    float:right; 
    width:335px;
}
.CAP_upper {
    background: url(/cfimages/css/sw/CapabilityContentClass_top.jpg) no-repeat;
    width:330px;
}
.CAP_lower {
    background: url(/cfimages/css/sw/CapabilityContentClass_bottom.jpg) no-repeat bottom left;
    padding:40px 0 20px 40px;
}
.CAP_lower h3 {
    font-weight: bold;
    color: #ee3129;
    font-size: 12px;
}
.FCA_text {
    width: 290px;
    margin: 0 0 0 20px;
    min-height: 279px;
}
.productContent #contentb .redarrow {
    display:block;
    float:left;  
    background-image:url(../img/link-bull.png);
    background-position:0 4px;
    background-repeat:no-repeat;
    padding:0 0 0 20px;
    margin:19px 20px 0 20px !important;
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    font-weight:bold;
    zoom:1;
}
.productContent #contentb ul.product-list {
    margin:-17px 0 12px 0;
    padding:0;
    display:block;
}
/* Enthink ends */
 