﻿@charset "utf-8";
/* TABS CONTENT */
	.TCACC_Tabs {
	    width: 695px;
	}
	.TCACC_Tabs .TCACC_subtabs .TCACC_tablist {
		height:32px;
		margin:0 0 0 0px;
		background-image:    Url('/includes/css/images/tab_gradient.png') repeat;
	}
	#content .TCACC_Tabs .TCACC_subtabs .TCACC_tablist li {
		background: url('/includes/css/images/tab_gradient.png') repeat-x scroll 0 0 transparent;
		padding-left:0px;
		background-color:#ffffff;  
		padding:0px 0px 2px 0px;  
		font-size:9px;  
		font-weight:bold;  
		text-transform:uppercase;  
		border-width:1px;
		border-style:solid;
		border-color:#d9d8d8;
		border-top-width:4px;
		border-top-style:solid;
		border-top-color:#d9d8d8;
		float:left;
		margin: 0 5px -1px 0;
		line-height: normal;
		list-style-type: none;
	}
	.TCACC_Tabs .TCACC_subtabs .TCACC_tablist li a {
		display:block;
		padding:10px 20px 4px 20px;
		color: #848484;
		font-weight: bold;
	}
	.TCACC_Tabs :focus {
		outline: none;
		text-decoration: none;
	}
	#content .TCACC_Tabs .TCACC_subtabs .TCACC_tablist li.TCACC_selected {
		border-top-color:#f6861f;
		border-top-width: 4px;
		border-bottom-color:#FFFFFF;
		background: #FFF none;
	}
	.TCACC_Tabs .TCACC_subtabs .TCACC_tablist li.TCACC_selected a {
		color: #666;
	}
	.TCACC_Tabs .TCACC_content {
		padding:22px 22px 22px 22px;
		display:none;
		border-width:1px;
		border-style:solid;
		border-color:#d9d8d8;
		background:#FFF;
	}
	.TCACC_Tabs .TCACC_visible {
		display:block;
	}
/* TABS CONTENT */

/* ACCORDION CONTENT */
	.TCACC_accord .arrow {
		float:left;
		margin-right: 5px;
	}
	#content .TCACC_accord h3 {
		background: url(/includes/images/grey-gradient.gif);
		padding: 7px 15px;
		font-size: 10px;
		cursor:pointer;
	}
	.TCACC_accord div {
		background: #FFFFFF;
		margin: 0;
		padding: 10px 15px 20px;
		border: 1px solid #c4c4c4;
		border-top: none;
	} 
/* ACCORDION CONTENT */

/* TABS CONTENT TCACC2 */
	.TCACC2_Tabs {
	    width: 695px;
	}
	.TCACC2_Tabs .TCACC2_subtabs .TCACC2_tablist {
		height:32px;
		margin:0 0 0 0px;
		background-image:    Url('/includes/css/images/tab_gradient.png') repeat;
	}
	#content .TCACC2_Tabs .TCACC2_subtabs .TCACC2_tablist li {
		background: url('/includes/css/images/tab_gradient.png') repeat-x scroll 0 0 transparent;
		padding-left:0px;
		background-color:#ffffff;  
		padding:0px 0px 2px 0px;  
		font-size:9px;  
		font-weight:bold;  
		text-transform:uppercase;  
		border-width:1px;
		border-style:solid;
		border-color:#d9d8d8;
		border-top-width:4px;
		border-top-style:solid;
		border-top-color:#d9d8d8;
		float:left;
		margin: 0 5px -1px 0;
		line-height: normal;
		list-style-type: none;
	}
	.TCACC2_Tabs .TCACC2_subtabs .TCACC2_tablist li a {
		display:block;
		padding:10px 20px 4px 20px;
		color: #848484;
		font-weight: bold;
	}
	.TCACC2_Tabs :focus {
		outline: none;
		text-decoration: none;
	}
	#content .TCACC2_Tabs .TCACC2_subtabs .TCACC2_tablist li.TCACC2_selected {
		border-top-color:#f6861f;
		border-top-width: 4px;
		border-bottom-color:#FFFFFF;
		background: #FFF none;
	}
	.TCACC2_Tabs .TCACC2_subtabs .TCACC2_tablist li.TCACC2_selected a {
		color: #666;
	}
	.TCACC2_Tabs .TCACC2_content {
		padding:22px 22px 22px 22px;
		display:none;
		border-width:1px;
		border-style:solid;
		border-color:#d9d8d8;
		background:#FFF;
	}
	.TCACC2_Tabs .TCACC2_visible {
		display:block;
	}
/* TABS CONTENT */

/* ACCORDION CONTENT */
	.TCACC2_accord .arrow {
		float:left;
		margin-right: 5px;
	}
	#content .TCACC2_accord h3 {
		background: url(/includes/images/grey-gradient.gif);
		padding: 7px 15px;
		font-size: 10px;
		cursor:pointer;
	}
	.TCACC2_accord div {
		background: #FFFFFF;
		margin: 0;
		padding: 10px 15px 20px;
		border: 1px solid #c4c4c4;
		border-top: none;
	} 
	
	.TCACC2_accord_accord div {
		background: #FFFFFF;
		margin: 0;
		padding: 10px 15px 20px;
		border: 1px solid #c4c4c4;
		border-top: none;
	} 
	
	.TCACC2_accord_accord div.CC_Flex {
	
		border:none;
		border-top: none;
	} 
/* ACCORDION CONTENT TCACC2 */

