﻿#tabpage {
    background:#fff url('/cfimages/css/sw/bg_gray.jpg') repeat-x;
    clear:both;
    width: 695px;
}
#subtabs #subtabs_tablist li {
    float: left;
    margin: 0 .2em -1px 0;
}
#subtabs #subtabs_tablist li a {
    display:block;
}
#subtabs {
    background:url('/cfimages/css/sw/tabs_content620_bg-white.png') no-repeat 0px 40px;
}
#subtabs #subtabs_tablist {
    background:url('/cfimages/css/sw/tabs_shadow.png') no-repeat right;
    height:40px;
    margin:0 0 0 10px;
}
#subtabs #subtabs_tablist li {
    background:url('/cfimages/css/sw/tabs_left-white.png') no-repeat 0 0;
    padding-left:10px;
    list-style-type: none;
}
#subtabs #subtabs_tablist li a {
    background:url('/cfimages/css/sw/tabs_right-white.png') no-repeat right top;
    padding:10px 10px 3px 0;
    line-height:27px;
}
#subtabs #subtabs_tablist a:link, #subtabs ul a:visited {
    color:#848484;
}
.containersub a:hover {
    text-decoration:none;
}
#subtabs #subtabs_tablist li.ui-tabs-selected a:link, #subtabs ul li.ui-tabs-selected a:visited {
    color:#666;
    font-weight:bold;
}
#subtabs #subtabs_tablist li.ui-tabs-selected {
    background-position:0 -40px;
}
#subtabs #subtabs_tablist li.ui-tabs-selected a {
    background-position:right -40px;
}
.stories-block {
    margin-top:20px;
    padding:10px 20px 10px 20px;
    display:none;
}
.tc_visible {
    display:block;
}
/****************************************/
/* TABBED PAGE STYLESHEET FOR EDRAWINGS */
/****************************************/
/* more reliable IE/PNG fix than .js */
 
   .ui-tabs-nav li,.ui-tabs-nav li a {
        behavior: url("/cfimages/css/sw/iepngfix.htc");
    } 
/*************************************/
/*       GALLERY LIST CONTENT        */
/*************************************/
#subtabs .gallery-list li {
    float:left;
    margin:0 36px 20px 0px;
    padding:0;
}
#subtabs .gallery-list p {
    color:#666666;
} 
#subtabs .stories-block {
    margin:20px 0 0 20px;
    padding:10px;
}
/**************************************/
/*    EDRAWINGS THUMBNAIL GALLERY     */
/**************************************/
#subtabs #gallery #slides {
    width:111px; 
    text-align:center;
    float:right;
    height:386px;
}
#subtabs #gallery #slides div ul li {
    /*  padding:6px 0; */
    background: none;
    /*Begin NEW (to accommodate new thumbnail text)*/
    float:left;
    padding:15px 0;
    width:105px;
    height:69px;
    /*end NEW*/
}
#subtabs #gallery #fullsize {
    /* width:530px; */
    /*Begin NEW*/
    width: 493px;
    height: 386px;
    overflow:hidden;
    /*end NEW*/    
}

#subtabs #gallery #slides div ul li a img {
    display:block; 
    width:99px; 
    height:63px; 
    border:1px solid #eee; 
    padding:3px;
}
#subtabs #gallery #slides div ul li a:hover img {
    border:1px solid #ffba00;
}
#subtabs #gallery #slides div ul li a:active img,#subtabs #gallery #slides div ul li a:focus img {
    border:1px solid #ffba00; 
    margin: 2px 0 0 2px;
}
#subtabs #gallery #fullsize div img {
    /* width:418px; */
    /*Begin NEW*/
    width:493px;
    height:368px;
    /*end NEW*/ 
}


/* SCREENCAST ICONS */
#screencasticons {
    /*Begin NEW*/
    width: 635px;
    height: 118px;
    margin: 0 auto;
    /*end NEW*/
    padding: 10px 0px; 
    border-top: 3px solid #333; 
    border-bottom: 1px solid #e1e1e1;
}
/*Begin NEW*/
#screencasticons a img { 
    margin: 0;
}/*end NEW*/
#screencasticons a:hover img {
    padding: 4px 0 0 0;
}
.screencasticontext {
    /*Begin NEW*/
    line-height: 11px;
    /*end NEW*/
    font-size: 9px; 
    font-weight: bold; 
    color: #999; 
    margin: 0 20px 0 18px;
    text-align:left;
}
#screencasticons a:hover {
    text-decoration: none;
}
 
 
/**************************************/
/*     NEW STYLES ADDED 11/23/10      */
/**************************************/
/*Begin NEW*/
.gallerylist-wide { /*centers 3-thumb row in expanded 75px format*/
    margin-left: 63px;
}
#subtabs #gallery { /*centers gallery area horizontally*/
    width:615px;
    height:416px;
    margin:0 auto;
}
#subtabs #gallery #slides div ul li p { /*added for new text beneath thumbs*/
    text-align: left;
    padding: 0;
    font-size: 9px;
    color: #848484;
    line-height: 9px;
}
/*end NEW*/