@font-face {
  font-family: 'Kameron';
  font-style: normal;
  font-weight: 400;
  src: local('Kameron'), url(http://fonts.gstatic.com/s/kameron/v7/95GnvnfbRizW_jyuT2zJug.ttf) format('truetype');
}
@font-face {
  font-family: 'Kameron';
  font-style: normal;
  font-weight: 700;
  src: local('Kameron Bold'), local('Kameron-Bold'), url(http://fonts.gstatic.com/s/kameron/v7/0Mk_Cjlc84dzSw97PDic4C3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
