@charset "utf-8";

/* Cross Browsing */
.billboardTab li {background:#888; letter-spacing:0px;}/* 2015-04-30 */ /*XOP-8290*/
.billboardTab li:hover,.billboardTab li.on {background:#333;}

/* 2015-04-15 UI 수정 및 IE8 크로스브라우징 : S */
.mainBan .ulNav1 li a {position:absolute; top:153px !important; z-index:1; width:38px; padding-top:50px; background:url(/img_11ia/main/sp_main_ver2.png);}
.mainBan .ulNav1 li.li_prev a {left:0; background-position:-140px 0px !important;}
.mainBan .ulNav1 li.li_next a {right:0; background-position:-185px 0px !important;}
.mainBan .ulNav1 li.li_prev a:hover {background-position:-140px -50px !important;}
.mainBan .ulNav1 li.li_next a:hover {background-position:-185px -50px !important;}
.mainHot .ulPos {position:absolute; top:8px;  right:0;  height:16px;}/* 추가 : S */
.mainHot .ulPos {position:absolute; bottom:36px;}
.mainHot .ulPos li {float:left; padding:0 1px;}
.mainHot .ulPos li a {display:block; background:url(/img_11ia/main/sp_main_ver2.png); width:16px; padding-top:16px; background-position:-80px -60px;}
.mainHot .ulPos li a:hover,
.mainHot .ulPos li.on a {background-position:-80px -80px;}/* 추가 : E */
.mainMd .metaNav .ulMeta li:first-child {width:88px;}
/*.mainFeatured .ulFeatured li p.spanOff1 {float:left; position:relative; top:3px !important; right:0px; z-index:1;}*/ /* XOP-10126 */
.mainBrand .ulNav li {position:absolute; top:210px !important; z-index:1;}
.mainSeller .ulSeller li .store{position:absolute; bottom:0; display:block; width:100%; height:40px; line-height:40px; background:#f3f3f3; font-family:helvetica; font-size:14px;}
/* 2015-04-15 UI 수정 및 IE8 크로스브라우징 : E */

/* container */
.contents.mainLayout {margin-top:0;}
.boxMain > div {position:relative;}
.boxMain1 {padding-bottom:30px;}
.boxMain1:last-child {padding-bottom:0;}
.spImg {display:block; overflow:hidden; height:0; background-repeat:no-repeat; font-size:0; line-height:100%; text-indent:-10000%;}

/* .boxMain .spImg, */
.mainCate .ulCate > li > a .spanIcon,
.spanOff1,
.spanOff2,
.boxMain .btnMore1 ,/* XSR-2370 */
.mainCate .ulEvent li,
.mainSeller .boxSeller2 .txt_seller em,
.mainDeals .ulDeals li p.soldOut h3 a, #footerInfo .btnMore1 {background-image:url(/img_11ia/main/sp_main_ver2.png); background-repeat:no-repeat;}/*XOP-4633*/

#topBanner {background-color: #d1ebe2; height: 60px; left: 0; position: absolute; top: 0; width: 100%; overflow: hidden;} /* XOP-10126 */

.ulMainList li a {color:#404040; font:12px/14px verdana; letter-spacing:0;} /*XOP-7960-300516*/
.ulMainList li a del,
.ulMainList li a span,
.ulMainList li a .txtProduct2 {display:inline-block; margin-top:4px; color:#999; letter-spacing:-0.08em; font-size: 11px;} /* XOP-10126 */
.ulMainList li a span {margin-left:3px;}
.ulMainList li a del + span {display:none;} /* XOP-1226 */
.ulMainList li a span strong {font-weight: normal; font: 11px/15px verdana; color: #404040; letter-spacing: -0.08em;} /* XSR-263 */
.ulMainList li a .txtProduct2 span {margin:0;}
.ulMainList li a strong {font:bold 12px tahoma; color:#404040; letter-spacing:-0.02em} /* XOP-10126 */
.ulMainList li .pImg {margin-bottom:10px; margin-right:20px;}
.ulMainList li a .txtProduct1 {font:12px/15px verdana; color:#010101;}

.boxMain img {vertical-align:top;}
/*.hid {position:absolute; left:-1000%; top:0; overflow:hidden; width:1px; height:1px; font-size:0; line-height:0; text-indent:-10000px;}*/ /* XOP-10126 */
.mainDeals .ulDeals li {-webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; -ms-transition:all 0.2s ease; transition:all 0.2s ease;}
.mainCate,
.mainDeals {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

.ulNav li a {width:25px; height:50px; padding-top:0; background:url(/img_11ia/main/sp_main_ver2.png); }
.ulNav li.li_prev a {background-position:-73px -107px; height:49px;} /* XBR-3337 */
.ulNav li.li_next a {background-position:-104px -107px; height:49px;} /* XBR-3337 */
.ulNav li.li_prev a:hover {background-position:-73px -157px;}
.ulNav li.li_next a:hover {background-position:-104px -157px;}
.ulNav1 li a {width:19px; padding-top:19px;}
.ulNav1 li.li_prev a {background-position: -76px -158px;}
.ulNav1 li.li_next a {background-position: -72px -183px;}

.boxMain .buH31 {background-position:-490px 0;}
.spanOff1 {width:54px; height:50px; padding-top:5px; background-position:-73px -300px; font:12px/16px tahoma; color:#fff; text-align:center;}
.spanOff1 .off1 {font-size:18px; font-weight:bold; color:#fff; letter-spacing:0.5px;}
.spanOff2 {width:45px; height:37px; padding:8px 0 0 0; background-position:-303px -82px; font:9px/21px tahoma; color:#fff; text-align:center;} /* 2014-02-19 Change Request */
.spanOff2.spanNew {background-position:-370px -80px;}
.spanOff2 .off1 {font-size:17px; font-weight:bold;} /* 2014-02-19 Change Request */
.spanOff2 .new {font-size:14px; font-weight:bold; line-height:31px;}

/* category */
.mainCate {float:left; position:relative; z-index:10; width:197px; border:1px solid #d9d9d9; border-top:0px none; /*-webkit-box-shadow:1px 1px 0 #d9d9d9; -moz-box-shadow:1px 1px 0 #d9d9d9; box-shadow:1px 1px 0 #d9d9d9;*/ background-color:#fff;}/*XSR-1697*/

.mainCate .span_current {position:absolute; top:10px; left:-7px; z-index:100; width:7px; padding-top:11px; background:url(/img_11ia/main/sp_main_ver2.png); background-position:-80px -240px;}
.mainCate .ulCate > li > a { display: block; position: relative; height: 43px; padding-left: 39px; border-bottom: 1px solid #e5e5e5; font: 13px/32px verdana; color: #3b3b3b; cursor: default; line-height: 43px; } /* XOP-10126 */
.mainCate .ulCate > li:last-child > a {border-bottom: none;}/*XSR-1697*/
.mainCate .ulCate > li > a .spanIcon {display:block; position:absolute; top:10px; left:10px; width:24px; height:22px; background-repeat:no-repeat; text-indent:-1000%;} /* XOP-10126 */
.mainCate .ulCate > li > a .spanSm {font-size:10px; font-weight:normal;}
.mainCate .ulCate > li.li_fashion a .spanIcon {background-position:0 -0;}
.mainCate .ulCate > li.li_beauty a .spanIcon {background-position:0 -30px;}
.mainCate .ulCate > li.li_baby a .spanIcon {background-position:0 -60px;}
.mainCate .ulCate > li.li_garden a .spanIcon {background-position:0 -90px;}
.mainCate .ulCate > li.li_gadget a .spanIcon {background-position:0 -120px;}
.mainCate .ulCate > li.li_elektronik a .spanIcon {background-position:0 -150px;}
.mainCate .ulCate > li.li_hobi a .spanIcon {background-position:0 -180px;}
.mainCate .ulCate > li.li_service a .spanIcon {background-position:0 -240px;}
.mainCate .ulCate > li.on > a,
.mainCate .ulCate > li > a:hover {-webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none; box-shadow:none; color:#ff7417;}
.mainCate .ulCate > li.on > a {background-color: #fff; margin-right: -1px; z-index:993;} /* XOP-8662 */
.mainCate .ulCate > li.li_fashion a:hover .spanIcon,
.mainCate .ulCate > li.on.li_fashion a .spanIcon {background-position:-30px -0;}
.mainCate .ulCate > li.li_beauty a:hover .spanIcon,
.mainCate .ulCate > li.on.li_beauty a .spanIcon {background-position:-30px -30px;}
.mainCate .ulCate > li.li_baby a:hover .spanIcon,
.mainCate .ulCate > li.on.li_baby a .spanIcon {background-position:-30px -60px;}
.mainCate .ulCate > li.li_garden a:hover .spanIcon,
.mainCate .ulCate > li.on.li_garden a .spanIcon {background-position:-30px -90px;}
.mainCate .ulCate > li.li_gadget a:hover .spanIcon,
.mainCate .ulCate > li.on.li_gadget a .spanIcon {background-position:-30px -120px;}
.mainCate .ulCate > li.li_elektronik a:hover .spanIcon,
.mainCate .ulCate > li.on.li_elektronik a .spanIcon {background-position:-30px -150px;}
.mainCate .ulCate > li.li_hobi a:hover .spanIcon,
.mainCate .ulCate > li.on.li_hobi a .spanIcon {background-position:-30px -180px;}
.mainCate .ulCate > li.li_service a:hover .spanIcon,
.mainCate .ulCate > li.on.li_service a .spanIcon {background-position:-30px -240px;}/* 2015-05-06 수정 */
.mainCate .ulEvent li {padding:0 0 6px 11px; background-position:-490px -17px;}
.mainCate .ulEvent li a {font:bold 11px/12px 'helvetica'; letter-spacing:0.75px; color:#404040;}/* 2015-04-30 */
.mainCate .ulEvent li a:hover {text-decoration:none;}
.mainCate .ulCate > li.li_all a .spanIcon {background-position:-30px -272px;}
.mainCate .ulCate > li.li_all {background:#404040;}
.mainCate .ulCate > li.li_all > a {color:#fff; height:34px; padding-top:1px; cursor:pointer;}
.mainCate .ulCate > li.li_all > a:hover {background-color:#404040;}

/* banner */
.mainBan {float:left; position:relative; width:555px; height:352px; margin:0px; padding:0;} /* XOP-10126 */
.mainBan .ulBanner {overflow:hidden; position:absolute; top:0; width:555px; height:325px;}
.mainBan .ulBanner li {display:none; position:absolute; top:0; left:0;}
.mainBan .ulBanner li.on {display:block;}
.mainBan .ulBanner li a {display:block; position:absolute; top:0;}
.mainBan .ulNav1 li a {position:absolute; top:140px; z-index:1; width:38px; padding-top:49px;} /* XOP-9939 */
.mainBan .ulNav1 li.li_prev a {left:0; background-position:-30px -240px;}
.mainBan .ulNav1 li.li_next a {right:0; background-position:-30px -300px;}
.mainBan .ulNav1 li.li_prev a:hover {background-position:-70px -240px;}
.mainBan .ulNav1 li.li_next a:hover {background-position:-70px -300px;}
.mainBan .ulPos {position:absolute; bottom:30px; text-align: center; white-space: nowrap;} /* XOP-10126 */
.mainBan .ulPos:before { margin-left: -100%; content: " "; } /* XOP-9939 */
.mainBan .ulPos.ulPos0:before, .mainBan .ulPos.ulPos0:after { margin-left: 0; margin-right: 0; } /* XOP-9939 */
.mainBan .ulPos:after { margin-right: -100%; content: ""; } /* XOP-9939 */
.mainBan .ulPos li { padding: 0 2px;display: inline-block; } /* XOP-9939 rev1 */
.mainBan .ulPos li a { display: block; background-color: #fff; border: 1px solid #c3c4c5; width: 12px; height: 12px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; } /* XOP-9939 rev1 */
.mainBan .ulPos li a:hover,
.mainBan .ulPos li.on a { background-color: #ff7d1d; border: 1px solid #ff7d1d; } /* XOP-9939 */

/*tabbed banner*/
.billboardTab{position:absolute;float:left;bottom:0;border-bottom: 1px solid #d9d9d9;}
.billboardTab li { float: left; width: 92.5px; background-color: #fff; font-size: 11px; text-align: center; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; height: 26px; overflow: hidden; line-height: 26px; } /* XOP-10126 */
.billboardTab li a{color:#808080; text-transform: capitalize;} /* XOP-10126 rev 3 */
.billboardTab li a:hover,.billboardTab li.on a{color:#fff;}/* XOP-3697 */ /*XOP-8290*/
.billboardTab li:first-child, .billboardTab li:last-child {/*width:73px;*/} /* XOP-9939 */

/* .boxMain1 */
.boxMain1 h3 {height:32px; line-height:24px; font-size:17px;}
.boxMain1 h2 {font-family:Helvetica; color:#000; letter-spacing:-0.5px;height:32px; line-height:24px; font-size:17px;}/* XOP-7942 */ /* XOP-7953*/
.boxMain1 h3 {font-family:Helvetica; color:#000; letter-spacing:-0.5px;}
.boxMain1 h3 a {color:#000; }/* XSR-2370 */
.btnMore1 {position:relative; width:20px; height:16px; display: inline-block; left:4px; top:2px; background-position:-75px -273px;}/* XSR-2370 */

/* top100 */
.mainTop100 {float:left; position:relative; width:752px; height:384px; border-bottom:1px solid #d9d9d9;} /* XOP-10126 */
.mainTop100 .ulNav li{position:absolute; top:160px; z-index:100;}
.mainTop100 .ulNav li.li_prev{left:0;}
.mainTop100 .ulNav li.li_next{right:0;}
.mainTop100 .metaTit {float:left; position:relative; width:75px;} /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .boxTopAll .metaTit {width:76px;} /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .boxTopAll .metaTit a {border-left:1px solid #d9d9d9;} /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .on .metaTit a, .mainTop100 .metaTit:hover a{padding-top:13px;}/* 2015-05-12 추가 */ /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .metaTit a {display:block; position:relative; width:100%; padding:14px 0; background-color:#f7f7f8; color:#606060; border:1px solid #d9d9d9; border-left:1px solid #ebebeb; border-right:0px none;} /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .on .metaTit a,
.mainTop100 .metaTit a:hover {z-index:10; border-top:2px solid #ff6000; border-right:1px solid #ebebeb; border-bottom:0px none; background-color:#fff; color:#ff7d1d;} /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 h4 {float:left; position:relative; width:75px;}
.mainTop100 .boxTopAll h4 {width:76px;}
.mainTop100 .boxTopAll .metaTit a {border-left:1px solid #d9d9d9;} /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .on .metaTit a, .mainTop100 .metaTit:hover a{padding-top:13px;}/* 2015-05-12 추가 */ /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .boxTopAll h4 a {border-left:1px solid #d9d9d9;}
.mainTop100 .on h4 a, .mainTop100 h4:hover a{padding-top:13px;}/* 2015-05-12 추가 */
.mainTop100 h4 a {display:block; position:relative; width:100%; padding:14px 0; background-color:#f7f7f8; color:#606060; border:1px solid #d9d9d9; border-left:1px solid #ebebeb; border-right:0px none;}
.mainTop100 .on h4 a,
.mainTop100 h4 a:hover {z-index:10; border-top:2px solid #ff6000; border-right:1px solid #ebebeb; border-bottom:0px none; background-color:#fff; color:#ff7d1d;}
.mainTop100 .on .metaTit a,
.mainTop100 .metaTit a:hover {z-index:10; border-top:2px solid #ff6000; border-right:1px solid #ebebeb; border-bottom:0px none; background-color:#fff; color:#ff7d1d;} /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .on h4 a span,
.mainTop100 .metaTit a:hover span {border-left:none; font-weight:bold;} /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .metaTit a span {display:block; width:100%; height:10px; font:12px/10px helvetica; text-align:center; text-transform: capitalize;}/* XOP-10126 rev 3 */ 
.mainTop100 h4 a:hover span {border-left:none; font-weight:bold;}
.mainTop100 h4 a span {display:block; width:100%; height:10px; font:12px/10px helvetica; text-align:center;}/* 2015-04-30 */
.mainTop100 .boxTop .ulMainList_wrap{border-left:1px solid #d9d9d9; width:721px; overflow:hidden; position:absolute; top:72px; left:0; padding:33px 15px 33px 16px; height: 247px} /* XOP-10126 */
.mainTop100 .boxTop ol {display:none; margin-bottom:20px;}/* 2015-05-12 zoom out 수정 */
.mainTop100 .boxTop.on ol {display:block;}
.mainTop100 .olTop {position:relative}
.mainTop100 .olTop li {float:left; position:relative; width:172px; margin:0 4px; text-align:center;}
/* .mainTop100 .olTop li:last-child{margin-right:0;}2015-05-07 zoom out 추가 */
.mainTop100 .olTop li .pImg {overflow:hidden; width:170px; height:170px; border:1px solid #fff;} /* XOP-7389 */
.ulMainList li .pImg img,
.mainHot .ulHot li a img {width:100%;}
.mainTop100 .olTop li .span_rank {background:url(/img_11ia/main/sp_main_ver2.png);background-position:-73px 0px;position:absolute; top:1px !important; left:1px !important; width:36px !important; height:36px !important; border:none !important; background-color:transparent !important; font:bold 12px/20px tahoma; color:#fff; text-align:left !important; text-indent:7px;}
.mainTop100 .boxTopTotal .metaTit a span {border-left:none;} /* XOP-7942 */ /* XOP-7953*/ 
.mainTop100 .boxTopTotal h4 a span {border-left:none;}
.mainTop100 .span_current {position:absolute; top:42px; left:37px; z-index:100; width:9px; padding-top:7px; background-position:-60px -160px;}

/* hot Promo */
.mainHot {float:right; position:relative; width:228px; height:382px;} /* XOP-8662 */
.mainHot h2 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}/* XOP-7942 */ /* XOP-7953*/
.mainHot h3 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}
.mainHot .ulHot {position:relative; border:1px solid #d9d9d9; height:351px;}/* XOP-10126 */ 
.mainHot .ulHot li {display:none;}
.mainHot .ulHot li a {display:block;}
.mainHot .ulHot li.on {display:block;}
.mainHot .ulNav li {position:absolute; top:160px; z-index:1;} /* XOP-2382 */
.mainHot .ulNav li.li_prev {left:0;} /* XOP-2382 */ 
.mainHot .ulNav li.li_prev a {background-position: -438px -340px;} /* XOP-2382 */ 
.mainHot .ulNav li.li_prev a:hover {background-position: -470px -340px;} /* XOP-2382 */
.mainHot .ulNav li.li_next {right:0;} /* XOP-2382 */
.mainHot .ulNav li.li_next a {background-position: -438px -389px;} /* XOP-2382 */
.mainHot .ulNav li.li_next a:hover {background-position: -470px -389px;} /* XOP-2382 */
.mainHot .ulNav li a {padding-top: 41px; width: 30px;} /* XOP-2382 */

/* XOP-3697 */
.slidea { position:absolute; top:0; left:0; }
.navigation { position:absolute; bottom:10px; z-index:1000; cursor: pointer;background: url(/img_11ia/mn/btn_wing.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
#next { right: 0; top:-25px; width:10px; height:10px;background-position: -10px 0; z-index:1;}
#previous { left: 178px; top:-25px;width:10px; height:10px; z-index:1;}
#counter { position:absolute; top:-29px; right:11px; width:30px; text-align:center; display: inline-block; font-family:tahoma; }/*XBR-3301*/
/* End XOP-3697 */

/* deals */
.mainDeals {float:right; position:relative; _margin-top:14px; width:228px; height:352px; border:1px solid #ddd; border-top:0px none;} /* XOP-10126 */
.mainDeals h2 {height:24px; margin:10px 0 0 10px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}/* XOP-7942 */ /* XOP-7953*/
.mainDeals h3 {height:24px; margin:10px 0 0 10px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}
.mainDeals h3 a {display:block; width:135px; color:#000;} /*XOP-558*/
.mainDeals .ulDeals {position:relative; width:216px; height:250px; margin:0 auto; text-align:left;} /* XOP-10126 */
.mainDeals .ulDeals li {display:none; width:200px; margin:0 auto;} /* XOP-10126 */
.mainDeals .ulDeals li.on {display:block;}
.mainDeals .ulDeals li .pImg {width:200px; height:200px; margin-top:17px;}
.mainDeals .ulDeals li .pTit { font-size: 13px; margin-bottom: 8px; height: 30px; line-height: 15px; } /* XOP-10126 */
.mainDeals .ulDeals li p.spanOff1 { position: absolute; z-index: 1; background: none; color: #ee2b2e; left: 8px; bottom: -34px; text-align: left; padding-top: 0; font-size: 16px; height: 36px; width: auto; } /* XOP-10126 */
.mainDeals .ulDeals li p.spanOff1 .off1 { color: #ee2b2e; font-size: 34px; font-weight: normal; line-height: 36px; } /* XOP-10126 */
.mainDeals .ulDeals li p.soldOut {position:absolute; top:70px; left:50%; z-index:1; margin-left:-63px; width:120px; height:27px; border:3px solid #474747; background-position:-300px -40px; font:bold 14px/25px verdana; color:#474747;}
.mainDeals .ulNav li, .mainFeatured .ulNav li {position:absolute; top:153px; z-index:1;}/*XOP-7618*/
.mainFeatured .ulNav li {top:210px;}/*XOP-7618*/
.mainDeals .ulNav li a, .mainFeatured .ulNav li a {width:25px; height:50px; padding-top:0; background:url("/img_11ia/main/sp_main_ver2.png");}/*XOP-7618*/
.mainDeals .ulNav li.li_prev, .mainFeatured .ulNav li.prev {left:0px;}/*XOP-7618*/ 
.mainDeals .ulNav li.li_next, .mainFeatured .ulNav li.next {right:0px;}/*XOP-7618*/ 
.mainDeals .ulNav li.li_prev a, .mainFeatured .ulNav li.prev a {background-position:-73px -107px; height:49px;}/*XOP-7618*/ /* XBR-3337 */
.mainDeals .ulNav li.li_next a, .mainFeatured .ulNav li.next a {background-position:-104px -107px; height:49px;}/*XOP-7618*/ /* XBR-3337 */
.mainDeals .ulNav li.li_prev a:hover, .mainFeatured .ulNav li.prev a:hover {background-position:-73px -157px;}/*XOP-7618*/
.mainDeals .ulNav li.li_next a:hover, .mainFeatured .ulNav li.next a:hover {background-position:-104px -157px;}/*XOP-7618*/
.mainDeals .ulMainList li a {font:14px/15px verdana;}
.mainDeals .ulMainList li a del { margin-left: 65px; font-size: 12px; margin-top: 0; line-height: 14px; } /* XOP-10126 */
.mainDeals .ulMainList li a span {padding-top:3px;}
.mainDeals .ulMainList li a strong { font: bold 16px tahoma; margin-left: 65px; color: #404040; } /* XOP-10126 */
.mainDeals .ulMainList li a span strong {font: 14px/15px verdana;}

/* md recommand */
.mainMd {position:relative; width:980px; margin-bottom:10px;}
.mainMd h3 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}
.mainMd .metaContainer {width:978px; height:480px; margin-top:39px; border:1px solid #d9d9d9; overflow: hidden;}
.mainMd .metaBanner {position:absolute; right:0px; width:398px; height:480px;}/* 2015-05-12 zoom out 수정 */
/* .mainMd .metaBanner {position:absolute; right:1px; width:397px; height:480px;} */
.mainMd .metaBanner dd img {float:left; position:relative; width:198px; height:240px;}/* XOP-3812 */ /* XOP-3697 */
.mainMd .metaBanner dt img {float:left; position:relative; width:198px; height:480px; border-right:1px solid #fff;}/* XOP-3812 */
.mainMd .metaNav {position:absolute; width:980px; z-index:9;}
.mainMd .metaNav .ulMeta {width: 978px; height:39px; border:1px solid #d9d9d9; border-bottom:0px none; overflow: hidden;}
.mainMd .metaNav .ulMeta li {float:left; position:relative; width:87px; padding-top:2px; line-height:34px; text-align:center;}
.mainMd .metaNav .ulMeta li:first-child {width:108px;}
.mainMd .metaNav .ulMeta li:last-child {width:87px;}
.mainMd .metaNav .ulMeta li a {color:#808080;}
.mainMd .metaNav .ulMeta li a span { font-size:12px; font-family:helvetica; text-transform: capitalize} /* XOP-10126 rev 3 */
.mainMd .metaNav .ulMeta li:hover,
.mainMd .metaNav .ulMeta .on {border-bottom:3px solid #ff6000;}
.mainMd .metaNav .ulMeta li:hover a,
.mainMd .metaNav .ulMeta .on a {font-weight:bold; color:#ff6000;}
.mainMd .boxMd {display:none; width:581px;} /* XOP-939 */
.mainMd .boxMd.on {display:block;}
.mainMd .ulMd {margin-left:5px;}
.mainMd h4, 
.mainMd .ulMd li {float:left; position:relative; width:170px; height:220px; margin:15px 10px 0 10px;}
.mainMd .ulMd li a {display:block; position:relative; text-align:center;}
.mainMd .ulMd li .spanImg {position:absolute; top:0; left:0; z-index:10; width:157px; padding-top:156px; background-position:-130px -180px; margin:0;}
.mainMd .ulMd li .pImg {overflow:hidden; width:170px; height:170px;}
.mainMd .ulMd li .pTit {height:16px !important; margin-bottom:5px;text-overflow: ellipsis;white-space: nowrap;}
.mainMd .ulMd li p.spanOff2 {position:absolute; top:0; left:0; z-index:11; text-indent:3px;}
.mainMd .ulNav li {position:absolute; top:274px; left:58px; z-index:1; width:34px; height:18px;}
.mainMd .ulNav li a {position:absolute; top:-2px; left:0; z-index:1; width:34px; padding-top:22px;}
.mainMd .ulNav li.li_prev {border-right:1px solid #e5e5e5;}
.mainMd .ulNav li.li_next {left:98px;}
.mainMd .ulNav li.li_prev a {margin-right:19px; background-position:-52px 0;}
.mainMd .ulNav li.li_next a {background-position:-82px 0;}
.mainMd .ulNav li.li_prev a:hover {background-position:-72px -100px;}
.mainMd .ulNav li.li_next a:hover {background-position:-72px -130px;}

/* featured */
.mainFeatured {float:left; position:relative; width:228px; height:500px; overflow: hidden;}/* XOP-10126 */
.mainFeatured h2 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}/* XOP-7942 */ /* XOP-7953*/
.mainFeatured h3 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}
.mainFeatured .ulFeatured {width:226px; height:466px; border:1px solid #d9d9d9; text-align: left;}/* XOP-10126 */
.mainFeatured .ulFeatured li {position:relative; padding:0 14px 11px 14px;}
.mainFeatured .ulFeatured li p.aTit {margin-top:30px;}
.mainFeatured .ulFeatured li a p.pImg {width:200px; height:200px; margin:30px 0;}
.mainFeatured .ulFeatured li a p.pTit { line-height: 15px; margin-bottom: 20px; font-size: 13px; height: 30px; overflow: hidden; } /* XOP-10126 */
.mainFeatured .ulFeatured li p.spanOff1 { position: absolute; z-index: 1; background: none; color: #ee2b2e; left: 14px; bottom: 12px; text-align: left; padding-top: 0; font-size: 16px; height: 36px; width: auto; } /* XOP-10126 */
.mainFeatured .ulFeatured li p.spanOff1 .off1 { color: #ee2b2e; font-size: 34px; font-weight: normal; line-height: 36px; } /* XOP-10126 */
.mainFeatured .ulFeatured li a del { margin-left: 65px; font-size: 12px; margin-top: 0; line-height: 14px; color: #999; } /* XOP-10126 */
.mainFeatured .ulFeatured li a span strong { font-size: 13px }
.mainFeatured .ulFeatured li a strong { font: bold 16px tahoma; margin-left: 65px; color: #404040; } /* XOP-10126 */

/* middle banner */
.mainMidbnnr {float:left; position:relative; width:980px; height:75px;}
.mainMidbnnr ul {display:none;}
.mainMidbnnr .on {display:block;}
.mainMidbnnr .midBnnr_x2 li {float:left; width:490px; height:75px;}
.mainMidbnnr .midBnnr_x1 li {float:left; width:980px; height:75px;}

/* brand avenue */
.mainBrand {float:left; position:relative; width:752px; height:500px;}
.mainBrand h2 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}/* XOP-7942 */ /* XOP-7953*/
.mainBrand h3 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}
.mainBrand .boxBrand {position:relative; height:466px; padding:0;}
.mainBrand .ulBrand {float:left; position:relative; overflow:hidden; width:194px; height:466px; text-align:center; border:1px solid #d9d9d9; border-right:0px none;}
.mainBrand .ulBrand li {display:none; float:left; padding:10px 35px;}
.mainBrand .ulBrand li:first-child {padding-top:31px;}
.mainBrand .ulBrand li.on {display:block;}
.mainBrand .ulBrand li a {display:block; padding:0 2px;}
.mainBrand .ulMainNav {float:left; position:relative; width:557px;}
.mainBrand .ulMainNav {}
.mainBrand .ulMainNav li {float:left; position:relative; width:139px; height:40px; line-height:38px; text-align:center; border:1px solid #d9d9d9; border-left:1px solid #ebebeb; border-right:0px none; background-color:#f3f3f3; box-sizing:border-box;}
.mainBrand .ulMainNav li span {font-size:12px; font-family:helvetica; text-transform: capitalize;}/* XOP-10126 rev 3 */
.mainBrand .ulMainNav li:first-child {width:140px; border-left:1px solid #d9d9d9;}
.mainBrand .ulMainNav .on,
.mainBrand .ulMainNav li:hover {background-color:#fff; border-top:3px solid #ff6000; border-bottom:0px none; line-height:35px;}/* 2015-05-12 수정 */
.mainBrand .ulMainNav .on a,
.mainBrand .ulMainNav li:hover a {font-weight:bold; color:#ff6000;}
.mainBrand .ulMainList {float:left; position:relative; width:534px; height:427px; padding:0 11px 0 11px; border:1px solid #d9d9d9; border-top:0px none; border-right:0px none;}
.mainBrand .ulMainList li {float:left; position:relative; width:148px; height:200px; margin:15px 15px 0;}
/*.mainBrand .ulMainList li:nth-child(n+4) {margin-top:10px;}*/
.mainBrand .ulMainList li a {display:block; position:relative; text-align:center;}
.mainBrand .ulMainList li .pImg {overflow:hidden; width:148px; height:148px; margin-bottom:5px;}
.mainBrand .ulMainList li .pTit {height:16px !important; margin-bottom:2px;text-overflow: ellipsis;white-space: nowrap;}
.mainBrand .ulMainList li p.spanOff2 {position:absolute; top:0; left:0; z-index:11; text-indent:3px;}
.mainBrand .ulNav1 li {position:absolute; top:34px; z-index:1;}
.mainBrand .ulNav1 li.li_prev {left:-1px;}
.mainBrand .ulNav1 li.li_next {right:1px;}
.mainBrand .ulNav li {position:absolute; top:192px; z-index:1;}
.mainBrand .ulNav li.li_prev {left:1px;}
.mainBrand .ulNav li.li_next {left:171px;}

/* brand Special */
.mainBrandspecial {float:left; position:relative; width:228px; height:466px;}
.mainBrandspecial h2 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}/*XOP-7953*/
.mainBrandspecial h3 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}
.mainBrandspecial .boxSpecial {position:relative; height:466px; padding:0; border:1px solid #d9d9d9;}

/* Korea avenue */
.mainKorea {float:left; position:relative; width:752px; height:500px;}/* 2015-05-07 zoom out 수정 */
.mainKorea .boxKorea {position:relative; height:466px; padding:0;}
.mainKorea .ulKorea {float:left; position:relative; overflow:hidden; width:194px; height:466px; text-align:center; border:1px solid #d9d9d9; border-right:0px none;}
.mainKorea .ulMainNav {float:left; position:relative; width:557px;}
.mainKorea .ulMainNav li {float:left; position:relative; width:111px; height:40px; line-height:38px; text-align:center; border:1px solid #d9d9d9; border-left:1px solid #ebebeb; border-right:0px none; background-color:#f3f3f3; box-sizing:border-box;}
.mainKorea .ulMainNav li span {font-size:12px; font-family:helvetica; text-transform: capitalize;}/* XOP-10126 rev 3 */
.mainKorea .ulMainNav li:first-child {width:113px; border-left:1px solid #d9d9d9;}
.mainKorea .ulMainNav .on,
.mainKorea .ulMainNav li:hover {background-color:#fff; border-top:3px solid #ff6000; border-bottom:0px none;}
.mainKorea .ulMainNav .on a,
.mainKorea .ulMainNav li:hover a {font-weight:bold; color:#ff6000;}
.mainKorea .ulMainList {float:left; position:relative; width:534px; height:427px; padding:0 11px 0 11px; border:1px solid #d9d9d9; border-top:0px none; border-right:0px none;}
.mainKorea .ulMainList li {float:left; position:relative; width:148px; height:200px; margin:15px 15px 0;}
/*.mainKorea .ulMainList li:nth-child(n+4) {margin-top:10px;}*/
.mainKorea .ulMainList li a {display:block; position:relative; text-align:center;}
.mainKorea .ulMainList li .pImg {overflow:hidden; width:148px; height:148px; margin-bottom:5px;}
.mainKorea .ulMainList li .pTit {height:16px !important; margin-bottom:2px; text-overflow: ellipsis;white-space: nowrap;}
.mainKorea .ulMainList li p.spanOff2 {position:absolute; top:0; left:0; z-index:11; text-indent:3px;}

/* Seller Store */
.mainSeller {position:relative; width:980px; height:737px;}								
.mainSeller .boxSeller {position:relative;}				
.mainSeller .boxSeller0 {position:relative; top:18px;}/* XOP-3697 */						
.mainSeller .boxSeller1 .boxSeller2 {display:none; width:100%;}
.mainSeller .boxSeller1.on .boxSeller2 {display:block;}
.mainSeller .boxSeller1 h5{float:left; position:relative; top:-35px; text-align:center; display:table; width:98px; height:40px;}/* 2015-05-12_#2 추가 */
.mainSeller .boxSeller1 h5{float:left; position:relative; top:-35px; text-align:center; display:table; height:40px;}
.mainSeller .boxSeller1 .listStore{float:left; position:relative; top:-35px; text-align:center; display:table; width:98px; height:40px;}/* 2015-05-12_#2 추가 */ /* XOP-7942 */ /* XOP-7953*/
.mainSeller .boxSeller1 .listStore{float:left; position:relative; top:-35px; text-align:center; display:table; height:40px;} /* XOP-7942 */ /* XOP-7953*/
.mainSeller .listStore a {position:relative; width:98px; display:table-cell; vertical-align:middle; color:#606060;}
.mainSeller .on .listStore a span,
.mainSeller .listStore a:hover span {border-left:none;}
.mainSeller .listStore a span {display:inline-block; font:11px/22px verdana; vertical-align:middle;}
.mainSeller .listStore a:hover span {font-size:10px;}
.mainSeller .listStore a .spImg{height:22px; width:25px; line-height:22px;}
.mainSeller .listStore a .spImg em{width:100%; padding:0; border:0; background:none; vertical-align:middle; display:inline-block; line-height:12px;}
.mainSeller .ulSeller {width:1020px; margin-left:-30px; position:absolute; top:5px; overflow:hidden;}/* 2015-05-12 수정 */
.mainSeller .ulSeller {margin-left: -5px; position:absolute; top:5px; overflow:hidden;} /*XOP-4383*/
.mainSeller .ulSeller li {position:relative; float:left; width:170px; height:260px; margin: 30px 0 0 20px; background-color:#fff; border:1px solid #e3e3e3; text-align:center; cursor:pointer;} /*XOP-4383*/
.mainSeller .ulSeller li:nth-child(5), .mainSeller .ulSeller li:nth-child(10){margin-left:30px;}/* 2015-05-12_#2 수정 */
.mainSeller .ulSeller li .pImg {width:170px; height:170px; margin-bottom:8px;} /*update css XOP-1708*/
.mainSeller .ulSeller li .pTit {height:16px; margin-bottom:5px; word-wrap:break-word; overflow:hidden;width: 88%;text-overflow: ellipsis;white-space: nowrap;margin: 0 auto;}
.mainSeller .plus , .ulMainList .plus{ position: absolute;top: -5px;left: -17px;width: 13px;height: 41px;background: url(/img_11ia/ico_prodType.png) no-repeat -110px -522px;overflow: hidden;text-indent: -999px;} /*XOP-4383*/

.mainSeller .ulSeller li .store{position:absolute; bottom:0; display:block; width:100%; height:40px; line-height:40px; background:#f3f3f3; word-wrap:break-word; overflow:hidden; width: 100%; text-overflow: ellipsis;}
.mainSeller .tab_seller {overflow:visible; height:80px; line-height:80px; vertical-align:middle;}
.mainSeller .tab_seller:after{content:''; display:block; width:100%; height:38px; border:1px solid #ececec; clear:both; box-sizing:border-box; border-top:0;}/* 2015-05-12 수정 */
.mainSeller .tab_seller a{display:block; position:relative; float:left; width:50%; border:1px solid #ececec; background:#f2f2f2; box-sizing:border-box; text-align:center; cursor:pointer;} /* XOP-7942 */ /* XOP-7953*/
.mainSeller .tab_seller h4{position:relative; float:left; width:50%; border:1px solid #ececec; background:#f2f2f2; box-sizing:border-box; text-align:center; cursor:pointer;}
.mainSeller .tab_seller span{background:url(/img_11ia/main/sellerStore_Tab.png); display:inline-block; height:46px; vertical-align:middle; text-indent:-9999px;}
.mainSeller .tab_seller .on{background:#fff;}
.mainSeller .tab_seller .on:before{content:''; display:block; position:absolute; top:-1px; width:100%; height:5px; background:#ff6000;}
.mainSeller span.best_seller{background-position:0 -55px; width:178px;}
.mainSeller span.new_seller{background-position:0 -165px; width:210px;}
.mainSeller .on span.best_seller{background-position:0 0;}
.mainSeller .on span.new_seller{background-position:0 -110px;}

/* Affiliate */
.mainAffiliate {position:relative;}
.mainAffiliate h2 {margin-top:-2px; height:34px; line-height:36px; font-family:helvetica; font-size:17px;}/* XOP-7942 */ /* XOP-7953*/
.mainAffiliate h3 {margin-top:-2px; height:34px; line-height:36px; font-family:helvetica; font-size:17px;}
.mainAffiliate .boxAffiliate{border:1px solid #ddd; border-right:0; overflow:hidden; width:979px; border-bottom: 0;}/* 2015-05-12_#2 수정 */
.mainAffiliate .ulAffiliate li:first-child {width:139px; height:50px; overflow:hidden; float:left;}
.mainAffiliate .ulAffiliate li {width:140px; height:50px; overflow:hidden; border-bottom: 1px solid #ddd; float:left;}/* 2015-05-12 수정 */
.mainAffiliate ul:last-child li img {border-bottom:0px none;}
.mainAffiliate ul li:last-child img{width:138px; border-right:1px solid #ddd;}/* 2015-05-12_#2 추가 */
.mainAffiliate .ulAffiliate li img {float:left; display:block; width:139px; height:100px; text-align:center; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5;}
.mainAffiliate .ulAffiliate li:first-child img {border-left:0px none;}
.mainAffiliate .ulNav li {position:absolute; top:153px;} /* XOP-1028 */
.mainAffiliate .ulNav li.li_prev {left:8px;}
.mainAffiliate .ulNav li.li_next {right:8px;}

/* icon */
.mainSeller .spImg {background-image:url(/img_11ia/main/sp_main_ver2.png); background-repeat:no-repeat;} /* XBR-2896 */
.mainIcon_all .spImg{background-position:0px -300px;}
.mainIcon_fashion .spImg{background-position:0 0;}
.mainIcon_beauty .spImg{background-position:0 -30px;}
.mainIcon_kids .spImg{background-position:0 -60px;}
.mainIcon_home .spImg{background-position:0 -90px;}
.mainIcon_gadget .spImg{background-position:0 -120px;}
.mainIcon_elektronik .spImg{background-position:0 -150px;}
.mainIcon_hobby .spImg{background-position:0 -180px;}
.mainIcon_service .spImg{background-position:0 -210px;}
.mainIcon_food .spImg{background-position:0 -240px;}

.on .mainIcon_all .spImg, .mainIcon_all:hover .spImg{background-position:0px -330px;}
.on .mainIcon_fashion .spImg, .mainIcon_fashion:hover .spImg{background-position:-30px 0;}
.on .mainIcon_beauty .spImg, .mainIcon_beauty:hover .spImg{background-position:-30px -30px;}
.on .mainIcon_kids .spImg, .mainIcon_kids:hover .spImg{background-position:-30px -60px;}
.on .mainIcon_home .spImg, .mainIcon_home:hover .spImg{background-position:-30px -90px;}
.on .mainIcon_gadget .spImg, .mainIcon_gadget:hover .spImg{background-position:-30px -120px;}
.on .mainIcon_elektronik .spImg, .mainIcon_elektronik:hover .spImg{background-position:-30px -150px;}
.on .mainIcon_hobby .spImg, .mainIcon_hobby:hover .spImg{background-position:-30px -180px;}
.on .mainIcon_service .spImg, .mainIcon_service:hover .spImg{background-position:-30px -210px;}
.on .mainIcon_food .spImg, .mainIcon_food:hover .spImg{background-position:-30px -240px;}
/* icon */

.clearfix:after {display:block; clear:both; visibility:hidden; height:0; content:'';}
.clearfix {*zoom:1;}

/* button */
a.btnStyle {display:inline-block; text-align:center; border-radius:2px;}
a.btnM {min-width:80px; padding:7px 9px 8px; font-size:11px; line-height:13px;}
a.btnGray, button.btnGray {border:1px solid #4b4d59; background-color:#777a87; color:#fff;}
a.btnGray, a.btnRed, a.btnWRed, a.btnWGray {border-bottom-width: 2px;}
.btnC {text-align:center; margin-top:20px;}
.btnC a {vertical-align:top;}
.pointCDOrg {color:#fc8f30 !important;}

/** popup layout **/
.openPopup {position:absolute; width:980px; background:#fff; z-index:99999999; box-shadow:#c3c5c4 2px 2px 5px;}
iframe {display:none; position:absolute; background:#fff; border:0; z-index:9999; box-shadow:#c3c5c4 2px 2px 5px;}
iframe.oLine {border:#fe882a 1px solid;}
iframe.shadowNone {box-shadow:#000 0px 0px 0px; border:none;}
iframe.bLine {border:#444 1px solid;}
.smallPop {width:450px; background:#fff;}
.smallPop .tableCol th, .smallPop .tableColB th {padding-left:10px;}
.openPopup .btnC, .smallPop .btnC, .layPopWrap .btnC {text-align:center;}
.openPopup .btnC a.btnClose, .smallPop .btnC a.btnClose, .layPopWrap .btnC a.btnClose {text-indent:0;}

.openPopup .tableCol th, .openPopup .tableColB th {width:auto;}
.openPopup .tableRow td.left {padding-left:10px;}

.openPopup .popupHead {position:relative; background-color:#fff; border-bottom: 1px solid #c3c4c5; padding:10px 0 10px 19px;} /* XOP-7942 */ /* XOP-7953*/
.openPopup .popupHead strong {color:#404040; /*text-shadow:#d07225 0 3px 3px;*/ font-size:16px;} /* XOP-7942 */ /* XOP-7953*/
.openPopup .popupHead .btnClose {position:absolute; top: 11px; right: 19px; width: 18px; height: 18px; text-indent:-999px; overflow:hidden; background:url(/img_11ia/btn_popup_close.png) no-repeat; background-position: -2px -42px;} /* XOP-7942 */ /* XOP-7953*/
.smallPop .popupHead {padding:10px 0 10px 14px;} /* XOP-7942 */ /* XOP-7953*/
.smallPop .popupHead .btnClose {top:9px; right:9px; width:18px; height:18px; background-position:0 -22px;} /* XOP-7942 */ /* XOP-7953*/

.openPopup hgroup {position:relative;  padding:22px 0 19px 19px; border-bottom:1px solid #c3c4c5;}/*EBRD-561*/ /*XOP-8301*/
.openPopup hgroup strong {color:#404040; font-size:16px;} /*XOP-8301*/
.openPopup hgroup .btnClose {position:absolute; top:20px; right:20px; display:block; width:22px; height:22px; text-indent:-999px; overflow:hidden; background-image:url(/img_11ia/btn_popup_close.png); background-repeat: no-repeat; background-position:-1px -39px;} /*XOP-8301*/
.smallPop hgroup {padding:10px 0 10px 14px;} /*XOP-8301*/
.smallPop hgroup .btnClose {top:9px; right:9px; width:18px; height:18px; background-position:-2px -42px} /*XOP-8301*/

.openPopup .popCon {padding:20px; border:#fe882a 1px solid;}
.smallPop .popCon {padding:30px 25px 25px;}
.openPopup .popCon .title {display:block; color:#010101; font-size:14px; margin-bottom:5px; font-weight:bold;}
.shadowNone {box-shadow:#000 0px 0px 0px;}
.shadowNone .popCon {border:none;}

.layerpopup {display:none;}
.popupBlock {display:block;}
.dimmed {position:fixed; top:0; left:0; width:100%; height:100%; background:#000; filter: alpha(opacity=60); opacity: 0.6; z-index:9999999;}
.overH {overflow:hidden;}

.popBoxGray {margin:20px; padding:20px 25px; border:#e5e5e5 1px solid; background:#f9f9f9; text-align:center;}

.ulMainList li .pTit,
.mainMd .ulMd li .pTit,
/*.mainFeatured .ulFeatured li .pTit,*/ /* XOP-10126 */
.mainKorea .ulKorea li .pTit,
.mainBrand .ulBrand1 li .pTit {overflow:hidden; height:29px; word-wrap:break-word;} /*XOP-7960-300516*/
.mainFeatured .ulFeatured li .txtProduct1,
.ulSpecial li .txtProduct1 {overflow:hidden; height:31px; word-wrap:break-word;}
.mainFeatured .ulFeatured li .txtProduct2,
.ulSpecial li .txtProduct2 {overflow:hidden; height:31px; word-wrap:break-word;}
.ulMainList li a del {height:12px;}

/* 2014-04-04 Change Request */
.mainShockingDeals {float:left; position:relative; width:598px; height:334px;} /* EBRD-314 */ /* 2015-05-07 zoom out 수정 */
.mainShockingDeals h3 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}
.mainShockingDeals .boxShockingDeals {position:relative; height:269px; padding:28px 11px 0;}
.mainShockingDeals .ulNavShocking li {position:absolute; top:143px; z-index:1;}
.mainShockingDeals .ulNavShocking li a {width:21px; padding-top:22px;}

.mainShockingDeals .ulNavShocking li.li_prev {left:6px;}
.mainShockingDeals .ulNavShocking li.li_next {right:6px;}
.mainShockingDeals .ulNavShocking li.li_prev a {background-position:-56px 0;}
.mainShockingDeals .ulNavShocking li.li_next a {background-position:-86px 0;}
.mainShockingDeals .ulNavShocking li.li_prev a:hover {background-position:-76px -100px;}
.mainShockingDeals .ulNavShocking li.li_next a:hover {background-position:-76px -130px;}
.mainShockingDeals .ulNav li {position:absolute; top:153px; z-index:1;}
.mainShockingDeals .ulNav li.li_prev {left:3px;}
.mainShockingDeals .ulNav li.li_next {right:3px;}

.mainShockingDeals .ulShockingDeals {position:relative; width:597px; height:302px; margin:0 auto; border:1px solid #d9d9d9; text-align:left;} /* XOP-10126 */
.mainShockingDeals .ulShockingDeals li {float:left; display:block; width:170px; margin:27px 14px; position: relative;} /* XOP-10126 */
.mainShockingDeals .ulShockingDeals li:first-child {margin-left:16px;}
.mainShockingDeals .ulShockingDeals li .pImg {width:170px; height:170px;}
.mainShockingDeals .ulShockingDeals li .pTit {margin-top:15px; margin-bottom: 5px;} /* XOP-10126 */
.mainShockingDeals .ulShockingDeals li p.spanOff1 { position: absolute; z-index: 1; background: none; color: #ee2b2e; left: 0; bottom: 0; text-align: left; padding-top: 0; font-size: 16px; height: 30px; width: auto; } /* XOP-10126 */
.mainShockingDeals .ulShockingDeals li p.spanOff1 .off1 { color: #ee2b2e; font-size: 30px; font-weight: normal; line-height: 30px; } /* XOP-10126 */
.mainShockingDeals .ulMainList li a del { margin-left: 60px; font-size: 11px; margin-top: 0; line-height: 13px; } /* XOP-10126 */
.mainShockingDeals .ulMainList li a strong { font: bold 12px tahoma; margin-left: 60px; color: #404040; } /* XOP-10126 */
.mainShockingDeals .ulShockingDeals li p.soldOut {position:absolute; top:70px; left:50%; z-index:1; margin-left:-63px; width:120px; height:27px; border:3px solid #474747; background-position:-300px -40px; font:bold 14px/25px verdana; color:#474747;}

.mainBrandDeals {float:left; position:relative;;} /* XOP-939 Adjust */
.mainBrandDeals h3 {height:32px; font-size:17px; font-family:Helvetica; letter-spacing:-0.5px;}
.mainBrandDeals .boxThemeDeals {width:380px; height:302px; border: 1px solid #d9d9d9; border-right:0px none; text-align: center;} /* XOP-647 */
.mainBrandDeals .boxBrandDeals .brandImg img {width:380px; height:302px; overflow: hidden;} /* 2014-06-09 Fix */
.mainBrandDeals .boxBrandDeals .pImg {margin: 0 0 8px 0;}
.mainBrandDeals .boxBrandDeals .pImg img {width: 170px; height: 170px;}
.mainBrandDeals .boxBrandDeals .promoText {font-size: 16px; line-height: 20px; height: 20px; overflow: hidden;}
.mainBrandDeals .boxBrandDeals .promoText strong {color: #ee2b2e;}
.mainBrandDeals .ulNav li{position:absolute;top:139px;z-index: 1}
.mainBrandDeals .ulNav li.li_prev {left:3px;}
.mainBrandDeals .ulNav li.li_next {right:3px;}

/* XOP-555 Installment Date Display */
.mainLayout li.inst a { outline: none; }
.mainLayout li .pInst { display: none; }
.mainLayout li:hover .pInst { display: block; }
.mainLayout li:hover .pInstPlan { padding-bottom: 2px; }
.mainLayout li:hover .pInstPlan strong { float: left; width: 25px; margin-right: 4px; font-weight: normal; line-height: 18px; font-size: 11px; font-family: inherit; letter-spacing: -0.1em; color: #404040; text-align: right;}
.mainLayout li:hover .pInstPlan em { float: left; width: 92px; line-height: 18px; font-size: 12px; font-family: inherit; letter-spacing: -0.1em; font-style: normal; color: #404040;}
.mainLayout li:hover .pInstRate { background-image: url(/img_11ia/main/sp_main_ver2.png); background-repeat: no-repeat; background-position: 0px -389px; color: #fff; font-size: 12px; line-height: 28px; height: 28px; padding-left: 3px; text-align: center; width: 25px; margin: 0 0 5px 103px;}
.mainLayout li:hover .pInstImg { position: static; z-index: 30px; display: block; margin: 0; text-align: center; padding-top: 6px;}
/* Top 100 */
.mainTop100 .olTop li.inst:hover { box-shadow: 0 0 2px #c3c4c5; margin: -5px 1px; padding: 5px;}
.mainTop100 .olTop li.inst:hover .span_rank { left: 5px; top: 5px;}
.mainTop100 .olTop li.inst:hover .pInstDimmed { background-color: #fff; opacity: 0.90; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; height: 132px; left: 5px; position: absolute; top: 5px; width: 132px; z-index: 10;}
.mainTop100 .olTop li.inst:hover .pInst { position: absolute; text-align: left; z-index: 20; color: #010101; width: 132px;}
.mainTop100 .olTop li:hover .pInstPlan { margin: 0 4px 0 4px}
.mainTop100 .olTop li:hover .pInstRate { margin: 0 0 5px 103px}

/* Partners */
.mainLayout li.inst .pInstImg em { display: inline-block; text-indent: -99999px; height: 13px; margin: 2px 5px; background-image: url(/img_11ia/mn/sp_inst_partners.png); background-repeat: no-repeat; outline: none;}
.mainLayout li.inst .pInstImg em.bca { width: 32px; background-position: 0 0;}
.mainLayout li.inst .pInstImg em.danamon { width: 33px; background-position: -40px 0;}
.mainLayout li.inst .pInstImg em.cimb { width: 47px; background-position: -81px 0;}
.mainLayout li.inst .pInstImg em.mega { width: 20px; background-position: -134px 0;}
.mainLayout li.inst .pInstImg em.scb { width: 29px; background-position: -160px 0;}
.mainLayout li.inst .pInstImg em.bii { width: 14px; background-position: -196px 0;}


/* product list mouseover box */
.ulMainList li{display:block; position:static; z-index:10;}
.ulMainList li .instl {margin-left:0px;position: relative; display: block; background-image: url(../img_11ia/main/sp_main_ver2.png); height:30px; line-height: 17px; background-position:-134px -114px; font-size: 8px; background-repeat: no-repeat;background-color:#fd982e; bottom:4px; left: 0; right: 0; color: #fff; z-index: 99; padding: 5px; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease;background-color:rgba(253,152,46,0.8);}/* 2015-04-30 */
.ulMainList li .instl span { display: block; text-align: left; margin-left:80px; font-family:verdana; font-weight:bold; font-size:14px; letter-spacing:0; margin-top:5px; color:#fff;}/* 2015-05-06 */
.ulMainList li .instl span sup{font-size:11px;}/* 2015-04-30 */
.ulMainList li:hover .instl { bottom: 44px;}/* 2015-04-30 */

/* Main page announcment XOP-4067*/
.customer .notice {border-color: #c3c5c4 #e3e3e3 #e3e3e3;
    border-style: solid;
    border-width: 3px 1px 1px; 
    overflow: auto;
    height: 73px}/*XOP-10126*/
.customer .notice li:first-child {border-left:none; width:308px;} /*XOP-10126*/
.customer .notice li:last-child {width:305px;} /*XOP-10126*/
.customer .notice li {
	line-height: 13px;padding: 10px;position: relative;width: 300px;float:left;border-left:1px solid #e3e3e3;height:53px;} /*XOP-10126*/
.customer .notice li span {color: #606060; display: inline-block;font-family: Tahoma;font-size: 11px;width: 50px;}
.customer .notice li span.new {background-color: #ff7d1d; display: inline-block; width: auto; font-weight: bold; color: #fff; padding: 0 8px; font-size: 9px; line-height: 15px; margin-right: 3px; border-radius: 2px;} /* XOP-7373 */
.customer .notice li em {border: 1px solid #757575;color: #606060;display: inline-block;font-family: Tahoma;font-size: 10px;font-weight: bold;height: 14px;line-height: 14px;margin-right: 12px;min-width: 42px;padding: 0 5px;text-align: center;white-space: nowrap;}
.customer .notice li a {color: #404040;display: inline-block;font-size: 11px;overflow: hidden;padding-right: 10px;text-overflow: ellipsis;padding-top: 5px;}/*XOP-4633*/
.customer .notice li i {color: #999;font-size: 11px;font-style: normal;right: 5px;}/*XOP-4633*/
.customer .notice li em.org {color:#ff7d1d;}
.customer .notice li em.red {color:#ee2b2e;}
.customer .noticeTop p.headingTitle {float: left; font-size: 14px; font-weight: bold;} /* XOP-7942 */ /* XOP-7953*/
.customer .noticeTop h3 {float: left;}
.headingTitle:first-child {margin-top: 0;}
.headingTitle { margin-top: 34px;margin-bottom:5px;}
/*.customer .noticeTop a {background-image: url("http://www.elevenia.co.id/img_11ia/center/bg_center.png");background-position: right 0;background-repeat: no-repeat;color: #606060;float: right;font-family: Tahoma;font-weight: bold;margin-right:22px; padding-right: 11px;}*/ /* XOP-10126 */
.customer .noticeTop a {background-image: url("/img_11ia/center/bg_center.png");background-position: right 0;background-repeat: no-repeat;color: #606060;float: right;font-family: Tahoma;font-weight: bold; padding-right: 11px;} /* XOP-7942 */ /* XOP-7953*/ 




/****************** PROJECT DATE 2015-05-12 S *********************/
/****************** (주)비원이즈 UX/UI팀 작성 *********************/
/****************** PROJECT DATE 201X.XX.XX E *********************/


/******************* MAIN : S *********************/
/* 메인 배너 */
.main_banner{width:980px; margin:0 auto; position:relative;}
.main_banner .ulBanner{overflow:hidden; overflow:hidden; width:980px; height:280px;}
.main_banner .ulBanner li{float:left;display:none}
.main_banner.ulNav{}
.main_banner .ulNav li a {position:absolute; top:112px; z-index:1; width:38px; height:50px; background:url(/img_tiket/main/sp_main.png) no-repeat;text-indent:-9999px;}
.main_banner .ulNav li.prev a {left:0; background-position:-95px 0;}
.main_banner .ulNav li.next a {right:0; background-position:-133px 0;}
.main_banner .ulBanner li.on{display:block;}

/* 티켓 */
.tiket_wrap{position:relative; width:794px; height:340px; margin-left:186px; border-radius:10px;}
.tiket_wrap .bg_hand{position:absolute; width:444px; height:440px; padding-bottom:72px; margin-top:-14px; margin-left:-381px; background:url(/img_tiket/main/bg_hand.png) no-repeat 0 bottom; text-align:right; z-index:10;}
.tiket_wrap .bg_hand p{display:inline-block; margin-right:87px; font-size:14px; text-align:center; color:#808080;}
.tiket_wrap .floatL{position:relative; width:562px; height:340px; border:1px solid #d9d9d9; border-right:0; border-radius:10px 0 0 10px; box-sizing:border-box;}
/* 티켓 검색 */
.search_ticket {padding:27px 27px 0 26px; text-align:left;}
.search_ticket .search_in {display:inline-block;zoom:1;*display:inline; margin:4px 0 0 2px;}
.search_ticket .trip_route {position:relative;float:left;height:46px; text-align:left; width:215px;}
.search_ticket .trip_route:first-child .flight_airport {text-align:right;}
.search_ticket .trip_route .flight_code {text-indent:0;}
.search_ticket .trip_route:first-child .flight_code{text-align:right; margin-right:20px;}
.search_ticket .rute{display:inline-block; width:30px; margin:0 18px 0 24px; height:50px; float:left; margin-top:5px; background:url(/img_tiket/main/sp_flight.png) no-repeat 0 0; }
.search_ticket .rute.round_trip{} 
.search_ticket .rute.one_way{background-position:0 -52px;} 

.main_airport {width:150px; height:auto !important; font-size:24px !important; font-weight:bold; text-align:right; border:0 none !important;}
.trip_route.start .main_airport{text-align:right; padding-right:20px;}
.trip_route.end .main_airport{text-align:left; padding-left:20px;}
.trip_route .flight_arrow{position:relative; display:inline-block;}
.trip_route .flight_arrow input{ background:url(/img_tiket/main/bg_area_select.png) no-repeat 100% 15px; width:200px; outline-width:0;}
.trip_route.end input{background-position:0 15px;}
.trip_route.start .flight_code{margin-right:22px;}
.trip_route.end .flight_code{margin-left:18px;}
.flight_arrow .flight_btn.btn_person{position:relative; z-index:10;}

.trip_route input::-webkit-input-placeholder {color:#a9a9a9 !important; line-height:30px;} 
.trip_route input:-ms-input-placeholder {color:#a9a9a9 !important; line-height:30px;} 

.trip_route .layer_region{top:35px;}
.trip_route.start .layer_region{margin-left:-29px;}
.trip_route.end .layer_region{margin-left:-316px;}

.search_ticket .flight_airport {position:relative;margin-bottom:7px;font-size:24px;}
.search_ticket .flight_airport a {display:block;position:relative;padding-right:19px; line-height:16px; padding-top:5px; padding-bottom:5px;}
.search_ticket .flight_input {display:none; width:153px;padding:9px 5px 6px 12px;margin-top:-5px; border:0; font-size:12px; line-height:16px; height:16px;}
.search_ticket .flight_code {font-weight:bold; width:200px;font-size:12px;color:#8a9aac;text-indent:3px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.search_ticket .btn_search{float:right; display:inline-block; min-width:84px; height:60px; background:#5e9eff; border-radius:3px; line-height:60px; color:#fff; text-align:center; font-weight:bold;}

.search_ticket .flight_option{display:block; padding:22px 0 17px;}
.search_ticket .flight_option .flight_arrow{width:204px;}
.search_ticket .flight_option:after {visibility:hidden;display:block;font-size:0;content:'';clear:both;height:0}
.search_ticket .flight_option_wrap {float:left;}
.search_ticket .flight_option_row {width:416px;}
.search_ticket .flight_option_row:first-child {z-index:20;}
.search_ticket .flight_select{float:right;}
.search_ticket .flight_select:first-child {float:left;}

.search_ticket .select_seat{height:28px; line-height:28px; width:204px; padding-left:3px;}
.search_ticket .select_seat input{margin-right:2px;}
.search_ticket .select_seat .one_way{display:inline-block; margin-right:8px;}


/* 항공사 선택 */
.airline_listWrap{position:absolute; bottom:0; width:100%;}
.airline_listWrap .font_red{margin-bottom:7px; text-align:center; letter-spacing:-0.5px; _font-weight:bold; font-size:11px;}
.airline_list{background:#f0f0f0; border-radius:0 0 0 10px; padding:10px 0 11px;}
.airline_list:after{display:block; content:''; clear:both;}
.airline_list ul{display:inline-block; float:right; margin-right:24px;}
.airline_list li{float:left; margin:3px 8px;  width:43px;  height:43px; background-color:#fff; border-radius:50%;}
.airline_list a{display:block; width:43px; height:35px; padding:0; margin:3px 0 5px;}
.airline_list li.all{width:95px; height:94px;  margin-top:-47px; margin:-47px 0 0 0; background:transparent;}
.airline_list li.all a{width:95px; height:94px; margin:0; background:url(/img_tiket/all_airline.png) no-repeat 50% 50%;}
.search_text{clear:both; padding:8px 0 0 0px; letter-spacing:-1px; color:#808080; text-align:center; font-size:11px;}

/* 선택된 항공사 */
.selected_airline{position:relative; float:right; width:232px; height:340px; border:1px solid #d9d9d9; border-radius:0 10px 10px 0; text-align:center; color:#fff; box-sizing:border-box;}
.selected_airline:after{position:absolute; top:0; left:-4px; width:7px; height:338px; display:block; content:''; background:url(/img_tiket/main/tiket_line_bg.png) repeat-y;}
.selected_airline, .selected_airline .logo{background:url(/img_tiket/main/airlines.png) no-repeat;}
.selected_airline .logo{display:block; height:150px; margin:29px 34px 15px 34px; border:6px solid #d9d9d9; border-radius:50%; text-indent:-9999px; background-color:#fff;}
.selected_airline img{border-radius:50%; display:block;}
.selected_airline .desc{line-height:16px; color:#fff}
.selected_airline .desc .font_red{color:#fff;}
.selected_airline.K3 .desc,
.selected_airline.K3 .desc .font_red,
.selected_airline.KD .desc,
.selected_airline.KD .desc .font_red,
.selected_airline.IN .desc,
.selected_airline.IN .desc .font_red,
.selected_airline.TR .desc,
.selected_airline.TR .desc .font_red{color:#404040}
.selected_airline button.sp_flight{position:absolute; right:19px; bottom:19px; width:191px; border-radius:5px; color:#ddf348; text-align:left; background-color:#2baae5; background-position:129px -382px;}
.selected_airline.DF .view_airline{display:none;}
.selected_airline.DF .logo{margin-top:85px;}
/* .selected_airline.DF button.sp_flight span{padding-left:34px; background:url(/img_tiket/main/sp_flight.png) no-repeat -32px -326px;} */
.selected_airline button span{padding:6px 8px 7px 14px; display:inline-block; line-height:18px;}
.selected_airline button b{display:block; color:#fff; font-weight:normal;}

/* logo */
.selected_airline .logo{background-position:-43px -30px;}
.selected_airline.GA .logo{background-position:-275px -30px;}
.selected_airline.ID .logo{background-position:-507px -30px;}
.selected_airline.SJ .logo{background-position:-739px -30px;} 
.selected_airline.JT .logo{background-position:-971px -30px;}
.selected_airline.QG .logo{background-position:-1203px -30px;}
.selected_airline.QZ .logo{background-position:-1435px -30px;}
.selected_airline.K3 .logo{background-position:-1667px -30px;}
.selected_airline.KD .logo{background-position:-1899px -30px;}
.selected_airline.IN .logo{background-position:-2131px -30px;}
.selected_airline.IW .logo{background-position:-2363px -30px;}
.selected_airline.XN .logo{background-position:-2595px -30px;}
.selected_airline.TR .logo{background-position:-2827px -30px;}
.selected_airline.SL .logo{background-position:-3059px -30px;}
.selected_airline.OD .logo{background-position:-3291px -30px;}
/* BG */
.selected_airline{background-position:0 -340px; color:#404040;}
.selected_airline.GA{background-position:-232px -340px;}
.selected_airline.ID{background-position:-464px -340px;}
.selected_airline.SJ{background-position:-696px -340px;}
.selected_airline.JT{background-position:-928px -340px;}
.selected_airline.QG{background-position:-1160px -340px;}
.selected_airline.QZ{background-position:-1392px -340px;}
.selected_airline.K3{background-position:-1624px -340px;}
.selected_airline.KD{background-position:-1856px -340px;}
.selected_airline.IN{background-position:-2088px -340px;}
.selected_airline.IW{background-position:-2320px -340px;}
.selected_airline.XN{background-position:-2552px -340px;}
.selected_airline.TR{background-position:-2784px -340px;}
.selected_airline.SL{background-position:-3016px -340px;}
.selected_airline.OD{background-position:-3248px -340px;}

/* FAQ link */
.link_go{font-size:14px; text-align:right; margin:12px 0;}
.link_go a{display:inline-block; padding:0 9px 0 10px; border-left:1px solid #9b8c87; color:#6b5047; line-height:14px;}
.link_go a:first-child{border-left:0;}


/* 구매해택_purchase_benefit */
.purchase_benefit{overflow:hidden; min-height:240px; height:410px;}
.purchase_benefit dl{float:left; width:245px; box-sizing:border-box; padding:0 22px;margin-top:33px; background:url(/img_tiket/main/bg_benefit.png) no-repeat;}
.purchase_benefit dt{margin-top:158px; margin-bottom:20px; font-size:18px; line-height:20px;}
.purchase_benefit dd{color:#808080;}
.purchase_benefit .benefit_1 {background-position: 0 0px;}
.purchase_benefit .benefit_2 {background-position: -245px 0;}
.purchase_benefit .benefit_3 {background-position: -490px 0;}
.purchase_benefit .benefit_4 {background-position: -735px 0;}
 

/* 탭메뉴 */
.trip_products .tabMenu{border-bottom: none;}
.trip_products .tabMenu:after{content:''; display:block; clear:both;}
.trip_products .tabMenu li{position:relative; float:left; width:327px; height:40px;line-height:36px; border:1px solid #d9d9d9;border-left:0; border-top:0; text-align:left; box-sizing:border-box; background: url(/img_tiket/main/tab_off_bg.gif) 0 0px repeat-x #f3f3f3;}

.trip_products .tabMenu li:first-child{border-left:1px solid #d9d9d9; width:326px;}
.trip_products .tabMenu li a,
.trip_products .tabMenu li.on a,
.trip_products .tabMenu li:hover a{background:url(/img_tiket/main/sp_main.png) no-repeat;}
.trip_products .tabMenu li a{display:block; font-size:14px; margin-top:-8px; padding-top:10px; background-position:-77px -59px; z-index:1; width:174px; float:left;}
.trip_products .tabMenu li.on,
.trip_products .tabMenu li:hover{background:url(/img_tiket/main/tab_on_bg.gif) #fff repeat-x; border-bottom:1px solid transparent;}
.trip_products .tabMenu li.on a,
.trip_products .tabMenu li:hover a{background-position:-77px -110px; color:#ff6000}
.trip_products .tabMenu .spanIcon{display:inline-block; width:30px; height:30px; background:url(/img_tiket/main/sp_main.png) no-repeat; margin-right:11px; margin-left:19px;}
.trip_products .tabMenu a.more{background:url(/img_tiket/main/bg_btnMore.png) no-repeat 10px 27px !important; float:right; width:37px; padding-left:35px; font-size:12px; letter-spacing:-1px;}
.trip_products .tabMenu li:hover a.more,
.trip_products .tabMenu li.on a.more{background-position:10px -42px !important;}

/* 탭메뉴_아이콘 */
.trip_products .tab_1 .spanIcon{background-position:0 -70px;}
.trip_products .tab_2 .spanIcon{background-position:0 0px;}
.trip_products .tab_3 .spanIcon{background-position:0 -245px;}
.trip_products .tab_4 .spanIcon{background-position:0 -105px;}
.trip_products .tab_5 .spanIcon{background-position:0 -140px;}
.trip_products .tab_1:hover .spanIcon,
.trip_products .tab_1.on .spanIcon{background-position:-35px -70px;}
.trip_products .tab_2:hover .spanIcon,
.trip_products .tab_2.on .spanIcon{background-position:-35px 0px;}
.trip_products .tab_3:hover .spanIcon,
.trip_products .tab_3.on .spanIcon{background-position:-35px -245px;}
.trip_products .tab_4:hover .spanIcon,
.trip_products .tab_4.on .spanIcon{background-position:-35px -105px;}
.trip_products .tab_5:hover .spanIcon,
.trip_products .tab_5.on .spanIcon{background-position:-35px -140px;}

/* FAQ */
.faq{margin-top:53px; background:url(/img_tiket/main/bg_faq_color.png) repeat-x 0 57px;}
.faq_con{ background:url(/img_tiket/main/bg_faq.png) no-repeat; padding-left:165px; padding-bottom:30px; margin-left:-72px;}
.faq h2{font-size:25px; color:#f06b6c; padding:10px 0 0 25px;}
.faq h2 span{color:#d14243;}
.faq dl{margin-top:52px; padding-right:70px;}
.faq dl dt {display:inline-block; height:25px; background:url(/img_tiket/main/faq_arrow.png); padding-right:22px;}
.faq dl dt span{display:inline-block; padding:3px 11px 4px 15px; color:#fff; font-weight:bold; margin-bottom:7px;}
.faq dl dd{margin-bottom:10px; padding-left:15px; color:#808080; margin-top:8px;}
.faq .link{float:right; font-size:14px;}
.faq .link a{display:inline-block; padding:0 9px 0 10px; border-left:1px solid #9b8c87; color:#6b5047; line-height:14px;}
.faq .link a:first-child{border-left:0;}
.faq .tit_1{background-position:right 0;}
.faq .tit_2{background-position:right -25px;}
.faq .tit_3{background-position:right -50px;}
.faq .tit_4{background-position:right -75px;}
.faq .tit_1 span{background:#f06b6c;}
.faq .tit_2 span{background:#fec200;}
.faq .tit_3 span{background:#4f8da4;}
.faq .tit_4 span{background:#85ba86;}

.tabProdList .prodListContainer{display:none;}
.tabProdList .prodListContainer.on{display:block;}
.prodListType .albumList{border-top:none !important;}

/* TVC XOP-6791 *//* XOP-6874 *//* XOP-7840 */
#tvc{display:block;position:fixed;z-index:10000;bottom:0}
#tvc .first{display:block;position:fixed;z-index:10000;bottom:0;width:250px;height:250px;background:url(https://image.elevenia.co.id/browsing/exhibition/2016/05/18/7554/2016051813521823454_383958_C.png);background-repeat:no-repeat;background-position:-79px -247px}
#tvc .second{display:none;position:fixed;z-index:10000;bottom:0;width:450px;height:250px;background:url(https://image.elevenia.co.id/browsing/exhibition/2016/05/18/7554/2016051813521823454_383958_C.png);background-repeat:no-repeat}
#tvc .replayBtn{width:20px;height:20px;position:absolute;top:30px;left:25px}
#tvc .closeBtn{width: 65px; height: 16px; position: absolute; top: 31px; right: 135px;} /* XOP-6874 */
#tvc .soundBtn{width:15px;height:12px;position:absolute;top:34px;left:53px;background:url(https://image.elevenia.co.id/browsing/exhibition/2016/05/18/7554/2016051813521823454_383958_C.png);background-repeat:no-repeat;background-position:-353px -314px}
#tvc iframe{display:block!important;position:absolute;top:61px;left:34px}
#tvc .img1{position:absolute;bottom:0;left:0;background:url(https://image.elevenia.co.id/browsing/exhibition/2016/05/18/7554/2016051813521823454_383958_C.png);background-repeat:no-repeat;z-index:10000;width:77px;height:76px;background-position:0 -250px}
#tvc .img2{position:absolute;bottom:0;right:0;background:url(https://image.elevenia.co.id/browsing/exhibition/2016/05/18/7554/2016051813521823454_383958_C.png);background-repeat:no-repeat;z-index:10000;width:152px;height:250px;background-position:-454px 0}
.ytplayer{position:relative}
.tvc-finish{animation:tvcAni linear 1s;animation-iteration-count:1;transform-origin:50% 50%;animation-fill-mode:forwards;-webkit-animation:tvcAni linear 1s;-webkit-animation-iteration-count:1;-webkit-transform-origin:50% 50%;-webkit-animation-fill-mode:forwards;-moz-animation:tvcAni linear 1s;-moz-animation-iteration-count:1;-moz-transform-origin:50% 50%;-moz-animation-fill-mode:forwards;-o-animation:tvcAni linear 1s;-o-animation-iteration-count:1;-o-transform-origin:50% 50%;-o-animation-fill-mode:forwards;-ms-animation:tvcAni linear 1s;-ms-animation-iteration-count:1;-ms-transform-origin:50% 50%;-ms-animation-fill-mode:forwards}@keyframes tvcAni{0%{transform:translate(0px,0px)}100%{transform:translate(-450px,0px)}}@-moz-keyframes tvcAni{0%{-moz-transform:translate(0px,0px)}100%{-moz-transform:translate(-450px,0px)}}@-webkit-keyframes tvcAni{0%{-webkit-transform:translate(0px,0px)}100%{-webkit-transform:translate(-450px,0px)}}@-o-keyframes tvcAni{0%{-o-transform:translate(0px,0px)}100%{-o-transform:translate(-450px,0px)}}@-ms-keyframes tvcAni{0%{-ms-transform:translate(0px,0px)}100%{-ms-transform:translate(-450px,0px)}}

.faqList {font-size: 12px !important;} /*XOP-7960-300516*/

/* Pulsa Widget XOP-10293 */
.pulsaWid{border: 1px solid #e5e5e5;height:100px; font-family:verdana; margin: -15px 0 30px 0; overflow: hidden;} /* XOP-10293 rev 1 */
.pulsaWid .pulsaWidCon, .pulsaWid .pulsaWidCon .pulsaList, .pulsaWid .pulsaWidCon .pulsaOpt, .pulsaWid .pulsaWidCon .dataOpt,  .pulsaWid .pulsaWidCon .plnOpt{float:left;}
.pulsaWid .pulsaWidCon .pulsaList {top:15px; position:relative;} /* XOP-10293 rev 1 */
.pulsaWidCon .pulsaOpt, .pulsaWidCon .dataOpt,  .pulsaWidCon .plnOpt{top:10px; position:relative; width:100%;} /* XOP-10293 rev 1 */
.pulsaWidCon .pulsaOpt a, .pulsaWidCon .dataOpt a,  .pulsaWidCon .plnOpt a{width:150px;height:30px;border-radius:3px;background-color: #999; font-size: 13px;font-weight: bold;color: #ffffff; text-align:center; line-height:30px;    margin-top: 10px;} /* XOP-11214 */
.pulsaWidCon .pulsaOpt a.active, .pulsaWidCon .dataOpt a.active,  .pulsaWidCon .plnOpt a.active {background-color: #FF7d1d;}
.pulsaWidCon .pulsaOpt .pulsaPrice, .pulsaWidCon .dataOpt .dataPrice,  .pulsaWidCon .plnOpt .plnPrice {display: inline-block; width: 160px; position: relative; top: 7px; left:10px;}
.pulsaWidCon .pulsaOpt .pulsaPrice span, .pulsaWidCon .dataOpt .dataPrice span,  .pulsaWidCon .plnOpt .plnPrice span {font-size: 12px; color: #888888;}
.pulsaWidCon .pulsaOpt .pulsaPrice strong,  .pulsaWidCon .dataOpt .dataPrice strong,  .pulsaWidCon .plnOpt  .plnPrice strong{font-size: 16px; color: #e5e5e5;}
.pulsaWidCon .pulsaOpt .pulsaPrice strong.active,  .pulsaWidCon .dataOpt .dataPrice  strong.active,  .pulsaWidCon .plnOpt  .plnPrice strong.active{font-size: 16px; color: #404040;}
.pulsaWid .pulsaWidCon{width:755px;}
.pulsaWid .pulsaWidCon.banner {width: 210px; height: 100%;}
.pulsaWid .pulsaWidCon li{float:left; width:120px; text-align:center; font-weight:bold; color:#606060; padding: 6px 0px 5px; cursor:pointer;}
.pulsaWid .pulsaWidCon li.active{width:118px; border:1px solid #ff7d1d; border-radius: 15px; padding: 5px 0px;color: #ff7d1d;}
.pulsaWid .pulsaWidCon input {outline:none; width:168px; height:28px; border: solid 1px #c3c4c5; padding: 0 40px 0 10px; background:url('/img_11ia/main/logo.png');  background-position: 158px 15px; background-repeat: no-repeat;}
.pulsaWid .pulsaWidCon input.xl {background-position: 158px -15px;} 
.pulsaWid .pulsaWidCon input.telkomsel {background-position: 158px -49px;}  
.pulsaWid .pulsaWidCon input.indosat {background-position: 158px -83px;} 
.pulsaWid .pulsaWidCon input.three {background-position: 158px -119px;}  
.pulsaWid .pulsaWidCon input.smartfren {background-position: 158px -153px;}  
.pulsaWid .pulsaWidCon input.bolt {background-position: 158px -192px;}  
.pulsaWid .pulsaWidCon input.pln {background-position: 164px -228px;}  
.pulsaWid .pulsaWidCon input.axis{background-position: 158px -265px;}
.pulsaWid .pulsaWidCon select{outline:none; width:198px; height:30px; border: solid 1px #c3c4c5; margin-left: 10px; padding: 0 10px;}
.redAlert{border: 1px solid #f00 !important;}
