.content .con_r .tab02{  width:100%; height:32px; z-index:0; overflow: hidden;/* border-bottom:1px solid #e5d8cf;*/}
.content .con_r .tab02 h2{ border-bottom: 0;}
.content .con_r .tab02 li{/* width:105px;*/ height:33px;float:left;  z-index:1;/* overflow:hidden;*/}
.content .con_r .tab02 li a{ margin-right:2px; padding:0 0.5em; display: inline-block; height:32px; color:#6b5c47; font:bold 16px/33px "Arial","微軟正黑體"; text-decoration:none; text-align: center; background:#f4efec; border:1px solid #e5d8cf; border-bottom:0;  -webkit-border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0; behavior:url(PIE.htc); }
.content .con_r .tab02 li.selected a, .content .con_r .tab02 li a:hover{ height:36px; background:#fff; z-index:1;}

.content .con_r .flt_move{ width:320px;}
.content .con_r img{ display: block;}


.con_r .poi_map{ text-align: left;}
.con_r .poi_map a{ text-decoration: underline;}
.con_r .poi_map a:hover{ text-decoration: none;}
.con_r .poi_map h2{ margin: 0; height: auto; border: 0;}
.con_r .poi_map .evaluation .number{font:bold 18px/1em arial;}
.con_r .poi_map .star{ margin-bottom:-4px;  width:100px; height:18px; background:url(../images/poi/common_pic_poi.png) no-repeat; display:inline-block;}
.con_r .poi_map .star_5_0{ background-position:0 0;}
.con_r .poi_map .star_4_0{ background-position:-20px 0;}
.con_r .poi_map .star_3_0{ background-position:-40px 0;}
.con_r .poi_map .star_2_0{ background-position:-60px 0;}
.con_r .poi_map .star_1_0{ background-position:-80px 0;}
.con_r .poi_map .star_0_0{ background-position:-100px 0;}
.con_r .poi_map .star_4_5{ background-position:0px -25px;}
.con_r .poi_map .star_3_5{ background-position:-20px -25px;}
.con_r .poi_map .star_2_5{ background-position:-40px -25px;}
.con_r .poi_map .star_1_5{ background-position:-60px -25px;}
.con_r .poi_map .star_0_5{ background-position:-80px -25px;}
.con_r .poi_map p dfn{ margin: 0 5px;}
.con_r .poi_map p a{ color: #000;}
.con_r .poi_map dl{ margin: 10px 0; font: bold 14px "arial", "微軟正黑體";}
.con_r .poi_map dt{ overflow: hidden;}
.con_r .poi_map dl dfn{ display: inline-block; width:24px; height: 21px; background: url(../images/poi/common_pic_poi.png) no-repeat; }
.con_r .poi_map dl .add dfn{ background-position: -345px 0px;}
.con_r .poi_map dl .tel dfn{ background-position: -380px 0px;}
.con_r .poi_map dl .notice{ padding-left: 2em;}
.con_r .poi_map .notice{ font: normal 11px "新細明體"; color: #938b8b;}
.con_r .poi_map .map{ width: 300px; height: 300px; overflow: hidden; position: relative;}
.con_r .poi_map .map .visual_icon{ position: absolute; left:0; top:0; z-index:10;}
.con_r .poi_map .map .visual_icon a{ margin-bottom: 5px; padding-top: 25px; display: block; width: 33px; height: 15px; overflow: hidden; background: url(../images/poi/common_pic_poi.png) no-repeat; color: #fff; font: bold 12px/1em "微軟正黑體"; text-align: center; filter:alpha(opacity=80); -moz-opacity:0.80; opacity:0.80; text-decoration: none; z-index:10; cursor: pointer;}
.con_r .poi_map .map .visual_icon a:hover{ filter:alpha(opacity=100); -moz-opacity:1.0; opacity:1.0;}
.con_r .poi_map .map .visual_icon a.pic{ background-position:-300px 0;}
.con_r .poi_map .map .visual_icon a.map{ background-position:-300px -45px;}
.con_r .poi_map .map .visual_icon a.street{ background-position:-300px -90px;}

.con_r .poi_map .operate{ margin: 5px 0 0 -5px; width: 312px; height: auto; position:relative; overflow: hidden;}
.con_r .poi_map .operate .icon{ margin: 0 0 5px 2px; width:76px; height:23px; line-height: 23px; font-size: 12px; background:url(../images/poi/common_pic_poi.png) no-repeat; float: left;}
.con_r .poi_map .operate .icon01{ background-position:0 -50px;}
.con_r .poi_map .operate .icon02{ background-position:0 -75px;}
.con_r .poi_map .operate .icon03{ background-position:0 -100px;}
.con_r .poi_map .operate .icon04{ background-position:0 -125px;}
.con_r .poi_map .operate .icon04_cancel{ background-position:-85px -125px;}
.con_r .poi_map .operate .icon05{ background-position:0 -150px; padding-left:20px; width:55px; color:#fff;}
.con_r .poi_map .operate .icon05_off{ background-position:-85px -150px; padding-left:20px; width:55px; color:#fff;}
.con_r .poi_map .operate .icon06{ background-position:0 -175px;}
.con_r .poi_map .operate .icon:hover{ position:relative; top:1px; left:1px;}

.con_r .photo_list ul{ overflow: hidden;}
.con_r .photo_list li{ margin:0 7px 10px 0; border: 1px solid #ccc; float:left;}
.con_r .photo_list li img{ display:block; width:50px; height:50px;}

.con_r .map{ position:relative;}
.con_r .map h3{ margin: 0; padding: 5px; width: 96%; background: #ff9000; color: #fff; -webkit-border-radius:10px 10px 0 0 ; -moz-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0; behavior:url(PIE.htc);}
.con_r .map h3 span{ color: #fff;}
.con_r .map h3 dfn{  width: 55px; height: 25px; background: url(../images/common_pic.png) no-repeat; float: right;}
.con_r .map h3 dfn.open{ background-position: 0 -225px;}
.con_r .map h3 dfn.close{ background-position: -65px -225px;}
.con_r .map .unit01{ height: 300px;}
.con_r .map .direction{ width:170px; font-size:12px; z-index:10; position:absolute; text-align: left; vertical-align: top;}
.con_r .map .direction ul{ margin:1em 0 0 0; overflow:hidden;}
.con_r .map .direction ul li{ float:left;}
.con_r .map .direction ul .dir{ width:32px;}
.con_r .map .direction ul .city{ width:120px;}
.con_r .map .direction dfn{ margin-right:0.5em; white-space:nowrap; z-index:11;}
.con_r .map .direction .sub{ display:block; text-align:center; width:21px; height:20px; line-height:20px; background:url(../images/common_pic.png) no-repeat -450px -30px; color:#fff;}
.con_r .map .direction .sub_on{ text-align:center; background-position:-423px -30px;}
.con_r .map .pic{ width:225px; height:295px; background:url(../images/map.png) no-repeat 0 0; position:absolute; right:0; z-index:1;}
.con_r .map .pic_01{ background-position:0 0;}
.con_r .map .pic_02{ background-position:0 -300px;}
.con_r .map .pic_03{ background-position:0 -600px;}
.con_r .map .pic_04{ background-position:0 -900px;}
.con_r .map .pic_05{ background-position:0 -1200px;}

.simplify_list li, .content .simplify_list02, .simplify_list03{ padding:5px 0; border-bottom:1px dotted #a6a6a6; text-align:left; overflow:hidden;}
.simplify_list li{ padding-left:15px; background:url(../images/common_pic.png) no-repeat -594px -27px;}
.simplify_list02 .pic{ float:left; }
.simplify_list02 .pic img{ width:70px; height:70px;}
.simplify_list02 .words{ float:right; width:220px; overflow:hidden; text-overflow:ellipsis;}
.simplify_list02 .words b{ font-weight:bold;}
.simplify_list02 h4{ font:normal 13px/1.5em "新細明體"; height:auto; overflow:hidden;}
.simplify_list02 p{ display: none; height:3em; overflow:hidden;}
.simplify_list03 h4{ padding-left:25px; margin-bottom:0.25em; height:1.5em; font:normal 15px/1.5em "新細明體", Arial; background:url(../images/common_pic.png) no-repeat -580px 3px;}
.simplify_list03 .words{ height:3em; overflow:hidden;}

.topic_complex{ text-align: left;}
.topic_complex .banner img{ width: 300px; height: 150px; margin: 5px 0; margin: auto;}
.topic_complex h4{ margin: 5px 0; max-height: 3em; overflow: hidden;}
.topic_complex .main{ padding: 5px 0;}
.topic_complex .main img{ margin-right: 10px; width:150px; height: 150px; float: left;}
.topic_complex .main p{ width: 10em; display: inline; float: left;}
.topic_complex ul{ margin: 10px 0; border-top: 1px solid #ccc;}
.topic_complex ul li{ border-bottom: 1px dotted #ccc;}
.topic_complex ul li a{ display: block; padding:0 5px; height: 30px; line-height: 30px; overflow: hidden; text-decoration: none; border-bottom: 1px solid #fff;}
.topic_complex ul li dfn{ margin-right: 5px; padding: 0 5px; font: bold 14px/20px "Arial"; color: #fff; background: #ff6700; border: 1px solid #ffbc8f;}
.topic_complex ul li a:hover, .topic_complex ul li .selected{ background: #ff6700; color: #fff;}
.topic_complex ul li a:hover dfn, .topic_complex ul li .selected dfn{ color: #ff6700; background: #fff;}

.ranking dl{ padding: 10px 0 5px 0; border-bottom: 1px dotted #ccc; overflow: hidden; position: relative; text-align: left;}
.ranking dl a{ text-decoration: underline;}
.ranking dl a:hover{ text-decoration: none;}
.ranking dl .pic{ margin-right: 10px; width: 70px; height: 70px; border: 1px solid #ccc; float: left;}
.ranking dl .pic img{ width: 70px; height: 70px;}
.ranking dl .info{ width: 210px; float: left;}
.ranking dl dt{ font-weight: bold; max-height: 3em; overflow: hidden; }
.ranking dl p{  max-height: 1.5em; overflow: hidden;}
.ranking dl .bar{ display: none; padding: 2px 0; width: 100%; height: 1.5em; overflow: hidden; position: absolute; left: 0; top: 65px; z-index: 10;  background:rgba(0,0,0,0.7); background:#000\9; filter:alpha(opacity=70); color:#fff;}
.ranking dl .bar .focus{ margin-left: 110px;}
.ranking dl .bar .pv a{ color: #fff;}
.ranking dl .bar .number{ padding: 0 0.5em; font-weight: bold; color: #ffff00;}
.ranking dl .bar .focus{ margin-left: 110px;}
.ranking dl .rank{ padding-right: 8px; width: 25px; height: 40px; font: bold 15px/43px "Arial"; text-align: center; color: #fff; background: url(../images/ranking/common_pic_ranking.png) no-repeat -100px -90px; position: absolute; top: 5px; left: 0px; z-index: 10;}
.ranking dl .rank01{ background-position: 0 -90px;}
.ranking dl .rank02{ background-position: -50px -90px;}

.content ul.news li{ padding:2px 0 3px 15px; height:2.35em; background:url(../images/common_pic.png) no-repeat -594px -29px; border-bottom:1px dotted #a6a6a6; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; text-align:left;}
.content ul.news li a{ line-height:2.35em;}

.menu{ margin-bottom:8px; border:1px solid #e5d8cf; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; behavior:url(PIE.htc);}
.menu li{ padding-left:25px; text-align:left; height:50px; background:#f2ece7; border-bottom:1px solid #dbdbdb;}
.menu li, .content .menu a{ display:block; font:bold 16px/50px 微軟正黑體; color:#000; text-decoration:none;}
.menu .selected, .content .menu li:hover{ background:#fff url(../images/common_pic.png) no-repeat -585px -170px;}

.article_hot li{ padding: 5px 0; border-bottom: 1px dotted #ccc; text-align: left;}
.article_hot li h4{ font:normal 13px/1.5em 新細明體; height:1.5em; overflow:hidden;}

#container{ margin-top:0.8em; width:279px; overflow:hidden; text-align:left;}
#container .content{ position: relative; left: 0; margin-left: 0;}
#container .controls{ margin-top:5px; height:23px;}
#container .controls a{ padding:5px;}
#container .ss-controls{ float:left;}
#container .nav-controls{ float:right;}
#container .slideshow-container,
#container .loader,
#container .slideshow a.advance-link { width:160px; /* This should be set to be at least the width of the largest image in the slideshow with padding */}
#container .slideshow a.advance-link img{border: 1px solid #ccc;}
#container .loader,
#container .slideshow a.advance-link,
#container .caption-container { height:150px; /* This should be set to be at least the height of the largest image in the slideshow with padding */ }
#container .slideshow-container{ clear:both; float:left; height:150px;}
#container .loader{ position:absolute; top:0; left:0; background-image:url('../images/loader.gif') no-repeat center;}
#container .slideshow span.image-wrapper { display:block; position:absolute; top:0px; left:0;}
#container .slideshow a.advance-link { display:block;
     /* text-align:center; line-height:150px;  This should be set to be at least the height of the largest image in the slideshow with padding */}
#container .slideshow a.advance-link:focus{ outline:none;}
#container .caption-container{ float:right; position:relative;}
#container span.image-caption{ display:block; position:absolute; top:0; left:0;}
#container .caption-container{ width:10em; height:12em;  position:relative; float:left;}
#container .image-caption{ display:block; position:absolute; top:0; left:0;}
#container .caption{ width:120px; height:11.5em; overflow:hidden;}
#container .caption .image-title{ height:1.5em; font:normal 15px/1.5em "新細明體", Arial; overflow:hidden;}
#container .caption .image-desc{ font:normal 12px/1.5em "新細明體", Arial;}
#container .photo-index{ position:absolute; bottom:0; left:0; padding:0 12px;}
#container .navigation-container{ float:left; position:relative; left:50%;}
#container .navigation{ float:left; position:relative; left:-50%;}
#container .navigation a.pageLink{ margin:2px 0; width:15px; height:47px; display:block; position:relative; float:left; background:url(../images/common_pic.png) no-repeat;}
#container .navigation a.pageLink:hover{top:1px; left:1px;}
#container .navigation a.prev{ visibility:hidden; background-position:-375px -53px;}
#container .navigation a.next{ visibility:hidden; background-position:-400px -53px;}
#container .thumbs{ width:240px; position:relative; min-height:60px; float:left;}
#container .thumbs li{ margin:0 1px; width:42px; height:50px; float:left; padding:6px 2px 4px 2px; display:block;}
#container .thumbs li.selected{ background:url(../images/common_pic.png) no-repeat -265px -65px}
#container .thumbs img{ width:40px; height:40px; border: 1px solid #ccc;}
#container .thumbs li.selected img{ border:none;}

.bulletin{ text-align:left}
.bulletin p{ margin-bottom:0.5em;}
.bulletin b{ font-weight:bold; color:#5d8800;}
.bulletin b.place{ color:#000;}
.bulletin li{ padding:5px 5px 0 5px; border-bottom: 1px dotted #ccc;}
.bulletin p a{ text-decoration:underline;}
.bulletin p a:hover{ text-decoration:none;}
