/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 *
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* ===============================================================
Basic Swiper Styles
================================================================*/
.swiper{ width: 100%; margin:0 auto; position:relative; z-index:1; overflow:hidden;}

.swiper-container-ie-main { height: 390px;}
.swiper-container-eat-n { height: 237px;}
.swiper-container-eat-m { height: 237px;}
.swiper-container-eat-s { height: 237px;}
.swiper-container-eat-e { height: 237px;}
.swiper-container-issue-topic  { height: 145px;}
.swiper-container-issue-travel { height: 145px;}
.swiper-container-walker { height: 145px;}
.swiper-container-elite { height: 210px;width: 97%;}
.swiper-container-poipay { height: 210px;width: 99%;margin-left: 13px}
.swiper-container-coupon { height: 395px;margin: 10px 19px 15px 19px;}
.swiper-container-try { height: 395px;margin: 10px 19px 15px 19px;}

.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide { float: left;}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch { display: inline-block; width: 8px; height: 8px; border-radius: 10px; background: #ddd; box-shadow: 0px 1px 2px #999 inset; margin: 0 4px; cursor: pointer;}
.swiper-active-switch { background: #f18b01; box-shadow:none; border:0;}
.swiper-visible-switch {    /* Specific visible button style: */}
.pagination, .pagination-pick { margin: 0 auto; margin-bottom: 20px; display: inline-block;}

.main_banner { text-align: center; width: 100%; position: relative;}
.swiper em{ display: inline-block; width: 30px; height: 200px; background: url(../images/arrow@2x.png) no-repeat 0 60px; background-size: contain; filter:alpha(opacity=50); -moz-opacity:0.50; opacity:0.50; z-index: 10; position: absolute;}
.swiper em.prev{ margin-top: -100px; top:50%; left: 0;}
.swiper em.next{ margin-top: -100px; top:50%; right: 0;
  -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: flipv; }


.content-slide {
  padding: 20px;
  color: #fff;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal { -ms-touch-action: pan-y;}
.swiper-wp8-vertical { -ms-touch-action: pan-x;}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
    /* Specify Swiper's Size: */

    /*width:200px;
    height: 100px;*/
}
.swiper-slide {
    /* Specify Slides's Size: */

    /*width: 100%;
    height: 100%;*/
}
.swiper-slide-active {
    /* Specific active slide styling: */

}
.swiper-slide-visible {
    /* Specific visible slide styling: */

}