@import url('common_right.css');
@font-face {
    font-family: "UnidreamLED";
    src: url(../font/UnidreamLED.ttf);
}
div, li, dl{ word-wrap: break-word; word-break: break-all}

.main_con{ margin: auto; width: 1200px; }
.unit{ margin-bottom: 30px; overflow: hidden; /*border-bottom:1px solid #000;*/}
.unit h2{ margin-bottom: 8px; font: italic 26px/40px "微軟正黑體"; color: #5b3219; height: 40px; overflow: hidden; background: url(../images/index/index_title.png) repeat-x;}
.unit h2 dfn{ display: inline-block; width: 30px; height: 40px; background: url(../images/index/index_title.png) no-repeat; float: left;}
.unit h2 span{ padding-left: 0.5em; font: normal 20px/40px "微軟正黑體"; color: #7c6759;}
.unit h2 a.more{ display: inline-block; padding-right: 15px; font: normal 16px/50px "微軟正黑體"; color: #7c6759; background: url(../images/index/index_title.png) no-repeat right -40px; float: right;}
.unit h4, .unit h4 a{ font: normal 15px/1.2em "新細明體"; color: #5b3219;}
.unit img{display: block;}
.unit .con_l{ width: 840px; float: left;}
.unit .con_r{ width: 340px; float: right;}
h4:hover{text-decoration: underline;}
/*.unit a:hover{ text-decoration: underline;}*/

.eat_play .tab, .unit .con_l .tab{ margin-bottom:15px; border-left: 2px solid #81614d; height: 20px;}
.eat_play .tab a, .unit .con_l .tab a{ font-size: 20px; display: inline-block; padding: 0 1em; height: 20px; color: #5b3219; line-height: 20px;}
.eat_play .tab h3, .unit .con_l .tab h3{ margin: 0; width: auto; font-weight: normal; height: 20px; border-right: 2px solid #81614d; overflow: visible; float: left;}
.eat_play .tab .area, .unit .con_l .tab .area{ border:0; float: right;}
.eat_play .tab .selected, .unit .con_l .tab .selected{ font-weight: bold; height: 30px; color: #dd6300; text-decoration: none; background: url(../images/index/index_pic.png) no-repeat center -330px;}
.unit .con_l .tab .new dfn{ margin: 2px 0 0 5px; padding: 0px 5px 2px 5px; display: inline-block; float: right; background: #a80303; color: #fff; font: normal 13px/1em "arial"; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px;}

.unit .con_r .tab{ border-bottom: 1px solid #d5d2cd; height: 45px; background: #f4f1eb;}
.unit .con_r .tab li{ border-bottom: 1px solid #d5d2cd; float: left; cursor: pointer;}
.unit .con_r .tab li h3{ display: inline; margin: 0; padding: 0 1em; font: normal 20px/45px "微軟正黑體"; color: #5b3219;}
.unit .con_r .tab li.selected{ border: 1px solid #d5d2cd; border-top:3px solid #65391f; border-bottom:1px solid #fff; background: #fff;}
.unit .con_r .tab li.selected h3{ line-height: 42px; font-weight: bold;}
.unit .con_r .tab li:hover{ background: #fff;}

.unit ul .prev a, .unit ul .next a{ display: block; width: 40px; height: 40px; margin-top: -40px; background: url(../images/com_icon.png) no-repeat; position: absolute; top: 50%; filter: alpha(opacity=60); -moz-opacity: 0.60; opacity: 0.60; z-index: 10;}
.unit ul .prev a{ background-position: 0 -90px; left: 0;}
.unit ul .next a{ background-position: 0 -130px; right: 0;}

.first_scr .con_l{ width: 780px;}
.first_scr .con_r{ width: 410px;}
.first_scr .topad{ width:780px; height:390px; overflow:hidden; position: relative; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%;}
.first_scr .topad dl{ width:780px; height:390px; position: relative;}
.first_scr .topad dl img{ width: 780px; height: 390px; z-index: 1;}
.first_scr .topad dl h4 { max-width: 100%; height: 1.5em; padding: 5px; text-align: left; position: absolute; left: 0; bottom: 0; background: rgba(255, 255, 255, 0.5); background: #fff\9; filter: alpha(opacity=70)\9; z-index: 2; overflow: hidden;}
.first_scr .topad dl h4 a{ font: bold 16px/1.5em "新細明體"; color: #333;}

.first_scr .recommend{ height: 293px; margin-bottom:5px; border:1px solid #d6d3ce; background: #fff; overflow: hidden; position: relative;}
.first_scr .mag{ padding: 5px 4px; text-align: left;}
.first_scr .mag img{ margin-right:10px; width: 150px; height: 200px; float: left;}
.first_scr .mag h4{ height: 2.4em; margin: 0.25em 0; overflow: hidden;}
.first_scr .mag p{ margin-bottom: 0.5em; height: 11.9em; overflow: hidden;}
.first_scr .mag .btn{  overflow: hidden;}
.first_scr .mag .btn li{ margin-right: 8px; padding-left: 45px; font: bold 15px/30px "新細明體"; display: block; width: 80px; height: 30px; text-decoration: none; float: left; background: #dad7d2 url(../images/index/index_pic.png) no-repeat; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.first_scr .mag .btn li:hover{ position: relative; left: 1px; top: 1px;}
.first_scr .mag li.mor{ background-position:10px -270px;}
.first_scr .mag li.buy{ background-position:10px -300px;}
.first_scr .mag li a{ text-decoration: none;}
.first_scr .editor{ background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%; padding: 5px 4px; position: relative;}
.first_scr .editor dl{ position: relative;}
.first_scr .editor dl .pic{ width: 400px; height: 237px; z-index: 1; position: relative; overflow: hidden;}
.first_scr .editor dl .pic img{ width: 400px; height: auto; position: absolute; left: 0; top: -81px;}
.first_scr .editor dl dd { width: 330px; height: 2.4em; padding: 5px 5px 8px 65px; text-align: left; position: absolute; left: 0; bottom: 0; background: rgba(255, 255, 255, 0.5); z-index: 2; overflow: hidden; background: #fff\9; filter: alpha(opacity=70)\9;}
.first_scr .editor dl dd h4{ height: 2.5em; overflow: hidden;}
.first_scr .editor dl dd a{ font: bold 16px/1.2em "新細明體"; color: #333;}
.first_scr .editor dl img.author{ width: 50px; height: 50px; -webkit-border-radius:150px; -moz-border-radius:150px; border-radius:150px; z-index: 3; border:2px solid #fff; position: absolute; left: 6px; bottom: 6px;}
.first_scr .editor .time{ width: 85px; height: 85px; padding-left: 3px; text-align: left; color: #fff; background: url(../images/index/index_pic.png) no-repeat 0 -180px; position: absolute; top: 5px; left: 4px; z-index: 4;}
.first_scr .editor .time dfn{ display: block; margin-right: 5px; font: normal 24px/1.2em "UnidreamLED";}
.first_scr .editor .time span{ margin-right: 5px; font-size: 13px;}
.first_scr .editor ul{ height: 237px; overflow: hidden;}
.first_scr .editor .area{ height: 50px; position: absolute; top: 5px; right: 4px; z-index: 10;}
.first_scr .editor .area li{ margin: 2px; background: rgba(0, 0, 0, 0.6); background: #000\9; filter: alpha(opacity=70)\9; border: 1px solid #444; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; float: left;}
.first_scr .editor .area li:hover, .first_scr .editor .area li.on{ background: rgba(170, 0, 0, 1.0); background: #a80303; filter: alpha(opacity=100)\9;}
.first_scr .editor .area li a{ display: block; padding: 0 7px; font: bold 15px/25px "新細明體";  text-decoration: none; color: #fff;}
.first_scr .ad img{ width: 410px; height: 90px;}

.eat_play{ padding-bottom: 10px; position: relative;}
.eat_play h2{ text-align: center;}
.eat_play h2 dfn{ margin: auto; width: 220px; background-position: 0 -80px; float: none;}
.eat_play .area{ height: 50px; position: absolute; top: 5px; right: 0; z-index: 10;}
.eat_play .area li{ margin: 2px; background: rgba(0, 0, 0, 0.6); background: #000\9; filter: alpha(opacity=70)\9; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; float: left;}
.eat_play .area li:hover, .eat_play .area li.on{  background: rgba(170, 0, 0, 1.0); background: #a80303; filter: alpha(opacity=100)\9;}
.eat_play .area li a{ display: block; padding: 0 7px; font: bold 15px/25px "新細明體"; color: #fff; text-decoration: none; color: #fff;}

.elite h2 dfn{ background-position: 0 -200px;}
.elite ul{ overflow: hidden; position: relative;}
.elite ul em.next{ right: 48px;}

.art_list{ width: 1248px;}
.art_list dl{ height: 215px; text-align: left; float: left; position: relative;}
.art_list dl dt{ width: 85px; height: 90px; position: absolute; left: 0; top: 0; z-index: 1;}
.art_list dl dt.new{ background: url(../images/index/index_pic.png) no-repeat 0 0;}
.art_list dl dt.hot{ background: url(../images/index/index_pic.png) no-repeat 0 -90px;}
.art_list dl .pic{ margin:4px 0 5px 5px; width: 200px; height: 150px; overflow: hidden; position: relative; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%;}
.art_list dl .pic img{ position: absolute; top: -25px; left: 0;}
.art_list dl img.author{ width: 50px; height: 50px; border:2px solid #fff; position: absolute; left: 155px; top: 105px; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px;}
.art_list dl h4, .art_list dl h5{ width: 200px; margin-bottom: 0; max-height: 2.4em; overflow: hidden; font: normal 15px/1.2em "新細明體"; color: #5b3219;}
.art_list dl h5, .art_list dl h5 a{ font-size: 13px; max-height: 1.2em; color: #9a9a9a;}
.eat_play .art_list dl{ margin: 0 44px 10px 0; width: 204px;}
ul.art_list .next a{ right: 48px;}

.sub_list{border:1px solid #d6d3ce; background: #fff;}
.sub_list .list{ margin:5px; text-align: left;}
.sub_list .list li.main{ height: auto;}
.sub_list .list li.main .pic_w{ margin: 10px; width: 300px; height: 300px; overflow: hidden; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%;}
.sub_list .list li.main img{ width: 300px; height: 300px;}
.sub_list .list li.main h4{ margin-bottom: 10px;}
.sub_list .list li.main h4 a{ font-weight: bold;}
.sub_list .list li.main .pic{ margin: 10px; width: 300px; height: 180px; overflow: hidden; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%;}
.sub_list .list li.main .pic img{ margin: 0; width: 300px; height: 180px;}
.sub_list .list li{ padding-left: 0.25em; line-height: 3em; height: 3em; overflow: hidden; border-bottom: 1px dotted #ddd8cf;}
.sub_list .list li dfn{ margin-right: 0.5em; padding: 0.25em 0.5em; background: #b7b1a6; color: #fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
.sub_list .list li:hover{ background: #f0eadf;}
.sub_list .list li.more a{ color: #498a09;}
.sub_list .list li.more dfn{ background: #aebb99;}
.sub_list .list02 li{ list-style: disc inside;}
.sub_list .list02 li.main{ list-style: none; height: auto;}
.sub_list .list02 li.main .pic_w{ width: 150px; height: 150px; background-size:contain; float: left;}
.sub_list .list02 li.main img{ width: 150px; height: 150px;}
.sub_list .list02 li.main h4{ margin-top: 10px; max-height: 3.6em; overflow: hidden;}
.sub_list .list02 li.main p{ line-height: 1.5em; max-height: 7.5em; overflow: hidden;}
.sub_list .list02 li dfn{ margin-right: 0.5em; padding: 0.25em 0.5em; background: #b7b1a6; color: #fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; behavior:url(PIE.htc);}
.sub_list .list02 li:hover{ background: #f0eadf;}

.cou_list{border:1px solid #d6d3ce; background: #fff;}
.cou_list .list{ margin:5px; text-align: left;}
.cou_list ul{ position: relative;}
.cou_list dl{ /*width: 300px; margin: 10px 19px 15px 19px;*/ margin:10px 0 ; position: relative;}
.cou_list dl .pic{ margin-bottom: 10px; width: 300px; height: 300px; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%;}
.cou_list dl img{ width: 300px; height: 300px;}
.cou_list dl dt{ position: absolute; top: 0; right: 33px; text-align: right; z-index: 1;}
.cou_list dl dt dfn{ margin-left: 5px; display: inline-block; background: url('../images/coupon/common_pic_coupon.png') no-repeat; padding-top: 22px; width: 65px; height: 32px; text-align: center; color: #fff; font: bold 26px/1em "arial","微軟正黑體"; z-index: 5}
.cou_list dl dt dfn.count { background-position: -70px -50px;}
.cou_list dl dt dfn.surplus { margin: 0; background-position: -140px -50px;}
.cou_list dl dd{ text-align: left;}
.cou_list dl dd dfn{ padding: 12px 12px 10px 13px; width: 45px; height: 40px; line-height: 1em; font-size: 18px; background: url('../images/coupon/common_pic_coupon.png') no-repeat 0 -50px; color: #fff; float: left;}
.cou_list dl dd h4 span{ display: inline-block; width:230px; font-weight: bold; line-height: 1.2em; height: 1.2em; overflow: hidden;}
.cou_list dl dd h4 ins{ display: inline-block; width:230px; line-height: 1.5em; height: 1.2em; font-size: 13px; color: #666; overflow: hidden; text-decoration: none;}
.cou_list .swiper-container-poipay { height: 395px;}

.issue h2 dfn{ background-position: 0 -120px;}
.issue ul, ul.issue{ position: relative;}
.issue dl{ position: relative; /*margin-right: 10px; width: 200px; */text-align: left; float: left;}
.issue dl img{ margin-bottom: 8px; width:200px; height:100px;}
.issue dl .pic{ margin-bottom: 8px; width:200px; height:100px; position: relative; overflow: hidden; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%;}
.issue dl .pic img{ width:200px; height:auto; position: absolute; left: 0; top: -50px;}
.issue dl dt{ width: 200px; height: 100px; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%;}
.issue dl h4, .issue dl h5{ width: 13em; max-height: 2.4em; overflow: hidden;}
.issue dl h5{ max-width: 140px; height: 3em; padding-left: 60px; font: normal 13px "新細明體"; color: #9a9a9a; overflow: hidden;}
.issue dl h5 a{ font: normal 13px "新細明體"; color: #9a9a9a;}
.issue dl img.author{ width: 50px; height: 50px; border:2px solid #fff; position: absolute; left: 0; top: 90px; -webkit-border-radius:150px; -moz-border-radius:150px; border-radius:150px;}
.issue .swiper-container-poipay { height: 145px;}

.week_spe h2 dfn{ background-position: 0 -160px;}
.week_spe div{ text-align: left;}
.week_spe .pic{ margin-bottom: 5px; width: 150px; height: 150px; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%; background-size:contain;}
.week_spe img{ width: 150px; height: 150px; border: 1px solid #ccc;}
.week_spe .main{ width: 300px; float: left;}
.week_spe .main .pic{ width: 300px; height: 300px; background-size: auto;}
.week_spe .main img{ width: 300px; height: 300px;}
.week_spe .main h4, .week_spe .main h4 a{ font-weight: bold; line-height: 1.5em; height: 1.5em; overflow: hidden;}
.week_spe .main p{ max-height: 5em; line-height: 1.8em; overflow: hidden; color: #666;}
.week_spe .sec{width: 535px; float: right;}
.week_spe .sec li{ margin: 0 0 10px 23px; width: 155px; float: left;}
.week_spe .sec h4{ height: 2.4em; overflow: hidden;}

.inner_ad{ overflow: hidden;}
.inner_ad div{ margin: 0 10px 0 0; width: 410px; height: 175px; float: left; overflow: hidden;}

.mouth_walker h2 dfn{ background-position: 0 -240px;}
.mouth_walker .main{ margin-bottom: 10px; text-align: left;}
.mouth_walker .main .pic{ width: 150px; height: 150px; margin-right: 10px; float: left; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%; background-size:contain;}
.mouth_walker .main img{ width: 150px; height: 150px; background-color: #f4f1eb;}
.mouth_walker .main h4{ margin: 0.25em 0; width: 680px; max-height: 3em; line-height: 1.5em; overflow: hidden; color: #5b3219}
.mouth_walker .main p{ line-height: 1.8em; max-height: 7.2em; overflow: hidden;}
.mouth_walker a .main p{ text-decoration: none;}

.rank{ /*margin-bottom: -35px;*/ width: 104%;}
.rank .art_rank, .rank .wal_rank, .rank .iss_rank, .rank .sub_rank{ width: 46%; margin: 0 4% 35px 0; float: left;}
.rank .art_rank h2 dfn{ background-position: 0 -280px;}
.rank .wal_rank h2 dfn{ background-position: 0 -240px;}
.rank .iss_rank h2 dfn{ background-position: 0 -120px;}
.rank .sub_rank h2 dfn{ background-position: 0 -320px;}
.rank ul li{ /*padding: 5px 0;*/ border-bottom: 1px dotted #bfbcb5; text-align: left; overflow: hidden; position: relative;}
.rank ul li *{ float: left;}
.rank ul li dfn{ margin: 10px 10px 0 0; width: 30px; text-align: center; background: #b7b1a6; color: #fff; font: normal 20px/30px "arial";}
.rank ul li h4{ margin: 10px 10px 0 0; width:270px; line-height: 1.5em; max-height: 3.6em; text-align: left; overflow: hidden;}
.rank ul li h4 span, .rank .iss_rank li span, .rank .sub_rank li span{ color: #9a9a9a; font-size: 13px; line-height: 1.5em; height: 3em; overflow: hidden; float: none; display: inherit;}
.rank .iss_rank li span, .rank .sub_rank li span{display: inline;}

.rank .iss_rank li, .rank .sub_rank li{ padding: 5px 0;}
.rank .art_rank li img, .rank .wal_rank li img{ width: 70px; height: 70px; margin: 6px 5px; -webkit-border-radius:150px; -moz-border-radius:150px; border-radius:150px;}
.rank .iss_rank li dfn, .rank .sub_rank li dfn{ margin:0; position: absolute; left: 0; top: 5px; z-index: 2; background: rgba(127, 123, 115, 0.7);}
.rank .iss_rank li .pic, .rank .sub_rank li .pic{ margin-right: 10px; width: 240px; height: 120px; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%;  background-size:contain;}
.rank .iss_rank li img, .rank .sub_rank li img{ width: 240px; height: 120px;}
.rank .iss_rank li h4{ margin: 0; width:150px;}
.rank .sub_rank li .pic, .rank .sub_rank li img{ width: 120px;}
.rank .sub_rank li h4{ margin: 0; width:270px;}

.store h2 dfn{ background-position: 0 -360px;}
.store ul{ position: relative;}
.store ul a{display: inherit;}
.store ul dl{ /*padding: 0 10.5px; width: 150px;*/ height: 220px; text-align: left; float: left;}
.store ul dl dt{ width: 150px; height: 150px; background: #fff url(../images/loader_logo.gif) no-repeat 50% 50%;}
.store ul dl img{ width: 150px; height: 150px;}
.store ul dl h4{ width: 150px; font: normal 13px "新細明體"; word-wrap:break-word; color: #666;}
.store .swiper-container-poipay, .art_list .swiper-container-poipay { height: 210px;}

.usr_social .google, .usr_social .facebook, .usr_social .list_walker{ width: 340px; float: left;}
.usr_social .google{ margin-right: 10px; width: 300px;}
.usr_social .facebook{ margin-right: 10px; width:540px;}

.list_walker .list{ border:1px solid #d6d3ce; padding:4px 7px;}
.list_walker .list h2{ font-size: 20px;}
.list_walker .list img{ width: 70px; height: 70px; margin: 5px; -webkit-border-radius:150px; -moz-border-radius:150px; border-radius:150px; float: left;}

.clear{ clear:both; display:block; overflow:hidden;}


/*
 border-bottom:1px solid #000;
 border:1px solid #D50000;
*/