@charset "UTF-8";
body > .container {background-color:#fff; position:relative; z-index:10;}
body > footer {z-index:10;}
.jl-wallpaper-wrapper, .jl-floater-wrapper {position: fixed !important; min-height: 0px !important; top:0; left:0; right:0; margin-left:auto; margin-right:auto; z-index:1;}
.jl-floater-wrapper {z-index:15;}
.jl-banner {z-index: 20;}
.jl-banner-space {text-align: center; margin: 20px auto 0px auto;}
.jl-banner-wrapper {margin-bottom: 10px; text-align:center; z-index: 999;}
.jl-banner-box {margin: 0px auto 10px auto; padding: 40px; text-align: center; background-color: #f9f8f6;}
.jl-pagebreak-wrapper {}
.jl-sticky-banner {position: -webkit-sticky; position: sticky; top: 0px;}
/*.jl-sticky-banner:before, .jl-sticky-banner:after {content: ''; display: table;}*/
.dfp-no-padding {padding-top: 0px !important; padding-bottom: 0px !important;}
.navbar.jl-has-banner, .row.jl-has-banner {margin-left: -20px; margin-right: -20px;}

.jl-margin-bottom {margin-bottom: 5px;}

@media all and (max-width: 766px) {
	.jl-banner-space {
	    margin-bottom: 20px;
	}
}
