﻿/*@font-face { */
/*  font-family: 'BYekan'; */
/*  src: url('../fonts/BYekan.eot?#') format('eot'), */ /* IE6–8 */
/*       url('../fonts/BYekan.woff') format('woff'), */ /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
/*       url('../fonts/BYekan.ttf') format('truetype'); */ /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
/*}*/
@font-face {
  font-family: 'BKoodakBold';
  src: url('../fonts/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'DastNevis';
  src: url('../fonts/DastNevis.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/DastNevis.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/DastNevis.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Yekan';
  src: url('../fonts/Yekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/Yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/Yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}