/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.5.1
*/
/*reset.css*/
html{color:#000;/*background:#FFF;*/}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/*font.css*/
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/*base.css*/
h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;} em{font-style:italic;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border: 0px; padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}
/*End of Yahoo Library*/

/*
Common css to be included on all screencast.com pages should be included after this.
Good examples of what to put here would be the header and footer styles
*/
html
{
   background: #f8f8f8 url(/img/default/bodybg.gif) repeat-x fixed right bottom;
}

body
{
   background: transparent url(/img/common/body-bg-lines.gif) no-repeat fixed right bottom !important;
   background-image: none;
}

/* IE textarea doesn't properly inherit the body font style set above. */
body textarea 
{
    font-family: arial,helvetica,clean,sans-serif;
}

.width
{
   width: 990px;
   margin: 0 auto;
}

/* STATIC PAGE STYLING 
#####################################################################*/

.left-content
{
   margin-left: 20px;
   min-height: 300px;
}

.center-content
{
   margin: 20px;  
}

.center-content .width
{
   width: 950px;
}

.left-content a, .left-content a:link,
.center-content a, .center-content a:link,
.standardLink
{
   color: #f47b20;
   text-decoration: underline;
   text-transform: none;
}

/* HEADER STYLING 
#####################################################################*/

div#header
{
   padding: 4px 0 4px 0;
}

/* Login Control styling */
#header div.signinControl
{
   float: right;
   margin-right: 22px;
}

#header #signinControlForm
{
   margin-left: 96px;
   text-align: right;
}

#signintable
{
   border: 0; 
   padding: 0;
   margin: 0;
}

#header form #emailAddress, #header form #password
{
   vertical-align: middle;
   height: 1.25em;
   border: 1px solid #c2c7cb;
   font-size: .9em;
   padding: 2px;
}

#header form #emailAddress
{
   float: right;
}

#header form #password
{
   float: right;
   width: 80px;
   margin-left: 4px;
}

#header #signInButton
{
   width: 58px;
   height: 16px;
   margin-left: 4px;
   padding-top: 0;
   margin-bottom: 14px;
}

#header form .forgotpass
{
   display: block;
   margin: 1px 0 0 0;
   padding: 0;
   margin-right: 64px;
   font-size: .85em;
}

.forgotpass a
{
   color: #ccc;
   margin: 0px;
   padding: 0px;
   text-transform: none;
   text-decoration: none;
}

.loggedIn
{
   color: #ccc;
   font-size: 9pt;
   text-align: right;
}

.loggedIn a:hover, #signinControlForm a:hover, .forgotpass a:hover
{
   color: #ccc;
}

.myLibraryLink
{
   padding-right: 5px;
   border-right: 1px solid #ccc;
}

#myAccount
{
   padding: 0 5px;
}

#signedInAs
{
   padding-left: 5px;
   border-left: 1px solid #ccc;
}

/* End of login control styling */

.highlight a
{
   color: #ef8300;
   text-decoration: underline;
   text-transform: none;
}

.highlight a:hover
{
   color: #ccc;
}

a.importantMenuItem
{
   color: #ef8300 !important;
   font-weight: normal;
}

a.importantMenuItem:hover
{
   color: #fff !important;
}

.headerDiv
{
   background: #484643 url(../../img/header/headerbg.gif) repeat-x left bottom;
   width: 100%;
   min-width: 990px;
}

#headerTable
{
   padding: 0px !important; 
   margin: 0px;
   padding-top: 10px !important;
   margin: auto;
   width: 100% !important;
   width: 990px;
   margin-bottom: -10px;
}

#headerTable tr td
{
   border: 0;
   padding: 0px !important;
   margin: 0px !important;
   vertical-align: bottom;
}

#headerLinks, #headerLinks li, .myLibrary, .myLibrary li
{
   list-style: none;
}

#headerLinks
{
   float: left;
   text-transform: uppercase;
   margin: 0 !important;
}

#headerLinks li
{
   font-size: .9em;
   margin: 0 15px 0 15px;
}

#headerLinks img, #headerLinks, #headerLinks li
{
   float: left;
}

#headerLinks
{
   padding-left: 5px;
   width: 300px;
}

#headerLinks a
{
   color: #ccc;
   text-decoration: none;
}

#headerLinks a:hover
{
   color: #fff;
}

#logoLink
{
   float: left;
   padding-left: 6px;
   margin-right: 15px;
}

.helpWidgetBox
{
   font-size: 1.0em;
   position: relative;
   float: right;
   margin-right: 15px;
   margin-top: 5px;
   padding: 3px;
}

.myLibrary
{
   float: right;
   padding-right: 20px;
}

#header br
{
   clear: both;
}

/* BREADCRUMB STYLING 
#####################################################################*/

.tabcrumbs
{
   background: #f47b20 url(../../img/common/navbarbg.png) repeat-x left top;
   min-width: 990px;
   width: 100%;
   margin: 0px;
   height: 28px;
   max-height: 28px;
   background-color: #d86027;
}

#views
{
   float: right;
   width: 58px;
   color: #000;
   margin-right: 6px; 
}

.tabcrumbs a#normalview, .tabcrumbs a#tileview
{
   display: block;
   float: left;
   width: 25px;
   background: url(../../img/breadcrumbs/normalview.gif) no-repeat;
   background-position: 0px 0px;
   margin-top: 2px;
   height: 25px;
}

.tabcrumbs a#normalview:hover, .tabcrumbs a#tileview:hover
{
   background-position: -25px 0px;
}

.tabcrumbs a#normalview.selected, .tabcrumbs a#tileview.selected
{
   background-position: -50px 0px;
}

.tabcrumbs a#detailsview
{
   display: block;
   float: right;
   width: 25px;
   background: url(../../img/breadcrumbs/detailsview.gif) no-repeat;
   background-position: 0px 0px;
   margin-top: 2px;
   height: 25px;
}

.tabcrumbs a#detailsview:hover
{
   background-position: -25px 0px;
}

.tabcrumbs a#detailsview.selected
{
   background-position: -50px 0px;
}

.crumbPadding
{
   padding: 0px 20px;
}

.tabItem
{
   float: left;
   height: 24px;
   margin-top: 4px;
   font-weight: normal;
   font-size: 1em;
   color: #FFF;
   border: 0;
}

.tabSeperator
{
   padding: 0px 10px;
}

.tabText, .tabSeperator
{
   vertical-align: 25%;
}

.tabItem a
{
   color: #FFF;
   vertical-align: 25%;
}

.tabItem a:hover
{
   text-decoration: underline;
}


/* FOOTER STYLING 
#####################################################################*/
.footerDiv
{
   border-top: 1px #7e7d7c solid;
   min-width: 990px;
   width: 100%;
   background-color: Transparent;
}

#footer
{
   clear: both;
   float: left;
   padding-left: 5px;
   text-transform: uppercase;
   margin: 0 !important;
   padding-bottom: 15px;
   padding-top: 8px;
   background-color: Transparent;
}

#footer, #footer li, #footerTsc, #footerTsc li
{
   list-style: none !important;
}

#footer li
{
   float: left;
}

#footer ul, #footerTsc ul
{
   margin-top: 0;
}

#footer li, #footer li, #footerTsc li
{
   margin: 0 15px 0 15px;
}

#footer a
{
   font-size: .9em;
   color: #333;
   text-decoration: none;
}

#footer a:hover
{
   color: #f47b20;
}

/* Indented UL "powered by TSC" image */
#footerTsc
{
   float: right;
   padding-right: 5px;
   margin: 0 !important;
   padding-top: 5px;
}

/* Begin help widget styles */
#helpWidgetLabel
{
   border: 1px solid #222 !important;
   color: #ccc; 
   padding: 2px 10px 2px 8px;
   margin-right: 3px;
   background: #444 url(/img/helpwidget/help-arrow-gray.gif) no-repeat right;
   cursor: default;
}

#helpWidgetPopup
{
   display: none;
   width: 250px;
   position: absolute;
   margin-left: -191px;
   top: 20px;
   background: #eaeaea;
   border: 1px solid #7e7e7e;
   text-transform: none;
   font-size: 1.0em;
   z-index: 1001;
}

#helpWidgetPopup a
{
   color: black;
   cursor: pointer;
}

#helpWidgetPopup ul
{
   margin: 0px;
   padding: 0px;
}

#helpWidgetPopup ul li
{
   list-style-type: none;
   margin: 0px;
}

#helpWidgetPopup ul li ol li
{
   list-style-type: decimal;
   display: list-item;
   vertical-align: top;
   margin: 0px;
   margin-bottom: 6px;
   padding: 0px;
}
#helpWidgetPopup ul li ul li
{
   list-style-type: disc;
   display: list-item;
   vertical-align: top;
   margin: 0px;
   margin-bottom: 6px;
   padding: 0px;
}

#helpWidgetPopup li
{
   width: 220px;
   padding-right: 10px;
   padding-left: 20px;
   padding-bottom: 6px;
   border-bottom: 1px solid #ccc;
   background-image: url(/img/helpwidget/unselected.gif);
   background-repeat: no-repeat;
   padding-top: 5px;
}

#helpWidgetPopup #helpLast
{
   background-color: white;
   background-image: none;
}

.helpAnswer
{
   background-color: white;
   width: 220px;
   margin-left: -20px;
   margin-top: 5px;
   padding: 10px;
   padding-left: 20px;
   padding-bottom: 6px;
   display: none;
   margin-bottom: -6px;
   border-top: 1px solid #ccc;
   color: black !important;
}

#helpWidgetLabel.helpSelected
{
   color: white !important;
   background: #FF7C1A url(/img/helpwidget/help-arrow-hover.gif) no-repeat right !important;
}

li.helpSelected
{
   background-color: #666;
}

#helpWidgetPopup .helpSelected
{
   background-image: url(/img/helpwidget/selected.gif) !important;
   background-repeat: no-repeat;
}

.helpSelected a
{
   color: white !important;
}

#helpLast a, .helpAnswer a
{
   color: #f47b20 !important;
   text-decoration: underline;
}

/* Fixing lists containted in the help widget */
.helpAnswer ol, .helpAnswer li ul
{
   padding-top: 0px;
   margin-top: 0px;
}

#helpWidgetPopup li ol li, #helpWidgetPopup li ul li
{
   width: 200px;
   padding-left: 20px;
   margin-left: 20px;
   background-image: none;
   border-bottom: 0px;
}
/* End help widget styles */

/* Begin help button styles */
#helpWidgetButton
{
   border: 1px solid #222 !important;
   color: #ccc; 
   padding: 2px 10px 2px 8px;
   margin-right: 3px;
   background: #444;
}
/* End help button styles */

/* Start Status Message Bar styles */
.errorMessage, .warningMessage, .statusMessage
{
   margin: 6px 10px 2px 10px;
   padding: 5px 10px 5px 10px;
   display: none;
   width: auto;
   font-weight: bolder;
   font-family: arial, sans-serif;
   font-size: 1.13em;
   border: solid 1px;
}

.errorMessage
{
   background-color: #fcc;
   border-color: #f66;
   color: #555;
}

.warningMessage
{
   background-color: #ffc;
   border-color: #868A38;
   color: #555;
}

.statusMessage
{
   background-color: #cee1f0;
   border-color: #9cb9d2;
   color: #555;
}

.errorMessage a, .errorMessage a:visited
{
   color: #555 !important;
   text-decoration: underline;
}

.warningMessage a, .warningMessage a:visited
{
   color: #555 !important;
   text-decoration: underline;
}

.statusMessage a, .statusMessage a:visited
{
   color: #555 !important;
   text-decoration: underline;
}

.errorMessage p, .statusMessage p, .warningMessage p
{
   margin: 0;
}

/* End Status Message Bar styles */

.invalidEntry 
{
   border: 2px solid #FB3E41;
}

/* BUTTON STYLING 
#####################################################################*/
.button
{
   display: block;
   padding: 0.2em 0 0.2em 0;
   width: 100%;
   border: 1px solid #ccc;
   font-size: 1.0em;
   color: #fff !important;
   cursor: pointer;
   text-align: center;
   text-decoration: none !important;
   background-repeat: repeat-x;
   background-image: url(../../img/common/buttondarkorangebackground.png);
   background-color: #f7941d;
   line-height: 1.4em;
}

button
{
   min-width: 80px;
}

.button:hover
{
   color: #fff !important;
   cursor: pointer;
   background-repeat: repeat-x;
   background-image: url(../../img/common/buttonorangebackground.png);
   background-color: #f7941d;
}

.style1
{
   background-image: none;
   background-color: #838383;
}

.style1:hover
{
   background-repeat: repeat-x;
   background-image: url(../../img/common/buttondarkorangebackground.png);
   background-color: #f7941d;
   color: #fff !important;
}

.disabledButton
{
   background-color: #838383;
   color: #CCCCCC !important;
   background-image: none;
}

.disabledButton:hover
{
   background-color: #838383 !important;
   color: #CCCCCC !important;
   background-image: none !important;
}

.style2
{
   border: 1px solid #e45311;
}

.style3
{
   color: #f47b20 !important;
   background: #f5d7b4;
   border: solid 1px #e45311;
}

.style3:hover
{
   color: #fff !important;
   background-repeat: repeat-x;
   background-image: url(../../img/common/buttonorangebackground.png);
   background-color: #f7941d;
}

.tablink
{
   color: #F7671D;
}

img 
{ 
   -ms-interpolation-mode: bicubic; 
}

textarea 
{
    resize: none;
}

a.tooltip
{
   color: #F47B20;
   text-decoration: none;
}

.button-special
{
   display: block;
   padding: 0.2em 0 0.2em 0;
   width: 100%;
   border: 1px solid #9ab15d;
   font-size: 13px !important;
   color: #fff !important;
   cursor: pointer;
   height: 30px;
   text-align: center;
   text-decoration: none !important;
   font-weight: bold !important;
   background-color: #a5ba66;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   line-height: 2.3em;
}

.button-special:hover
{
   background: #a9b867 url(../../img/tools/dl-button-hv-bg.png) repeat-x bottom left !important;
   /*width: 150px;
   height: 30px;
   display: block;*/
   background-image: none;
}

/* GetSatisfaction Widget styling */
a#fdbk_tab
{
   top: inherit !important;
   bottom: 76px !important;
   height: 102px !important;
}