/* @override http://www.screencast.localhost/inc/styles/default.css */

html
{
   background: #fff url( '/img/default/footer-background.gif' ) repeat-x right bottom;
}

body
{
   background-image: none !important;
}

#header
{
   width: 100%;
}

#container
{
   height: 1910px;
   overflow: hidden;min-width:960px;
}

#lines
{
   background: url(../../img/default/sc-lines.png) 0px 65px;
   height: 603px;
   display: block;
   background-repeat: no-repeat;
   margin: 0 auto;
}

/*make a graphic of the lines over the colors */

/*end undoing styles in master template */

/*Header of homepage------------------------*/

#background
{
   background: url(../../img/default/header-background.gif) repeat-x top left;
   height: 700px;
   position: relative;
   top: 0px;
   z-index: 0;
}

#wrapper
{
   
   
   width: 960px;
   margin: 0 auto;
   

}

#head-content
{
   display: block;
   width: 100%;
   height: 460px;
   padding: 0px 0 0px 0px;
   width: 960px;
   margin: 0px;
   position: relative;
   top: 0px;
   z-index: -1;
}

#head-content h1
{
   font-size: 1.8em;
   padding: 18px 0px 0px 0px !important;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   position: relative;
   top: -177px;
}

#head-content #topfeatures
{
   padding: 10px 0 0 30px;
   width: 500px;
   margin: 35px auto 0 auto;
   position: relative;
   top: -177px;
}

#head-content #topfeatures h2
{
   color: white;
   font-size: 1.9em;
   margin: 0px;
}

#head-content #topfeatures ul
{
   margin-top: 15px;
   margin-left: 0px;
   padding-left: 0px;
}

#head-content #topfeatures ul li
{
   list-style-image: url(../../img/default/check.gif);
   list-style-position: inside;
   color: white;
   font-size: 1.5em;
}

#head-content ul li span
{
   position: relative;
   top: -8px;
}

a.by-techsmith
{
   background: url(../../img/default/by-techsmith-flap.png) no-repeat top right;
   width: 255px;
   height: 51px;
   float: right;
   position: relative;
   top: 50px;
   display: block;
   z-index: 10;
}

/* end Header------------------------------- */

#stage
{
   height: 252px;
   width: 960px;
   margin-top: 0px;
   padding-top: 0px;
   clear: both !important;
   position: relative;
   top: 0px;
}

/*Overview video ----------------------*/

#stage #video
{
   background: url(../../img/default/video-screenshot.png) no-repeat;
   width: 450px;
   height: 281px;
   position: relative;
   top: -161px;
   float: left;
   margin-left: 0px;
}

#stage #video .play
{
   background-color: #000;
   opacity: .85;
   width: 250px;
   padding: 20px 15px 20px 15px;
   color: #fff;
   position: relative;
   top: 130px;
   left: 33px;
}

#stage #video .play a
{
   color: #f47b20;
   font-weight: bold;
   text-decoration: none;
   background-image: url(../../img/default/playbutton.gif);
   background-repeat: no-repeat;
   padding-left: 45px;
   height: 20px !important;
   display: block;
   padding-top: 2px;
}

#stage #video .play a:hover
{
   text-decoration: underline;
   background-image: url(../../img/default/playbutton-hv.gif);
   background-repeat: no-repeat;
}

/*end overview video------------------*/

/*Sign up box-------------------------*/

#stage #signupbox
{
   width: 460px;
   height: 280px;
   display: block;
   background-color: #CCC;
   opacity: .8;
   float: right;
   margin-right: 10px;
   border: #fff solid medium;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   position: relative;
   top: -155px;
}

#form-shadow
{
   background-image: url(../../img/default/form-shadow.png);
   background-repeat: no-repeat;
   width: 744px;
   height: 87px;
   position: relative;
   top: 530px;
   left: 346px;
}

#video-shadow
{
   background-image: url(../../img/default/video-shadow.png);
   background-repeat: no-repeat;
   width: 94px;
   height: 91px;
   position: relative;
   top: 400px;
   left: -56px;
}

#stage #signupform {
	width: 450px;
	display: block;
	color: #000;
	float: right !important;
	position: relative;
	top: -370px;
	left: 465px;
	clear: left;
}

.error
{
   background: url(/img/common/invalid.gif) no-repeat;
   color: red;
   padding-left: 20px;
   float: left;
   position: relative;
   top: 8px;
   min-width: 24px;
   min-height: 20px;
}

.valid
{
   background: url(/img/common/valid.gif) no-repeat;
   color: #177e3e;
   padding-left: 20px;
   float: left;
   position: relative;
   top: 10px;
   min-width: 24px;
   min-height: 24px;
}

.invalidEntry 
{
   border: 1px solid #FB3E41 !important;
}

#stage #signupform h3
{
   font-size: 1.7em;
   padding: 0px 0px 6px 0;
   margin: 0px;
   text-align: center;
}

#stage #signupform p
{
   text-align: center;
   font-size: 1.1em;
   line-height: 1.5em;
   margin-bottom: 0px;
   padding-bottom: 0px;
}

#stage #signupform p a
{
   color: #f47b20;
}

#stage #signupform p a:hover
{
   color: #333;
}

#stage #signupform label
{
   clear: both;
   float: left;
   margin: 10px 5px 10px 0;
   width: 100px;
   text-align: right;
}

#stage #signupform label.checkbox
{
   width: 380px;
   clear: none !important;
   margin: 20px 0 20px 0;
   padding: 0px;
   position: relative;
   left: 0px;
   float: left;
   position: relative;
   left: -10px;
   text-align: center;
}

#stage #signupform input.checkbox
{
   float: left;
   clear: left;
   width: 30px;
   margin: 20px 0 20px 10px;
   padding: 0px;
}

#stage #signupform input, #stage #signupform select
{
   float: left;
   margin: 7px 5px 10px 0;
   width: 70%;
   max-width: 220px;
}

#stage #signupform hr
{
   clear: both;
   margin: 0px 10px 0 10px !important;
   border: #999 solid thin;
}

#stage #signupform #legal
{
   margin-top: 10px;
}

#stage #signupform #legal p
{
   font-size: 1em;
   text-align: center;
}

#stage #signupform #legal p a
{
   color: #f47b20;
}

#stage #signupform #legal p a:hover
{
   color: #333;
}

#stage #signupform select
{
   width: 70%;
   max-width: 222px;
}

#stage .signupContainer {
    margin-top: 20px;
    height: 275px;
}

#stage .signup
{
   width: 150px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   padding: 0px 0 0 0;
   position: relative;
   left: 140px;
   cursor: pointer;
   background-color: #a5ba66;
   border: 1px solid #9ab15d;
   color: #fff !important;
   display: block;
   font-size: 13px !important;
   font-weight: bold !important;
   text-decoration: none !important;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

#stage .signup:hover
{
   background: #a9b867 url(../../img/tools/dl-button-hv-bg.png) repeat-x bottom left !important;
   width: 150px;
   height: 30px;
   display: block;
   background-image: none;
}

#key
{
   clear: both;
   
   position: absolute;
   top: 480px;
   left: 130px;text-align:right!important;
   margin-bottom: 10px;width:350px;
}

#key p
{
   font-size: 1em;
}

#key p a
{
   color: #f47b20;
}

#key p a:hover
{
   color: #333;
}

/*end signup box -----------------------------*/

/*Benefits section-------------------------*/

#benefits
{
   display: block;
   margin: 0px;
   padding: 0px;
   clear: both !important;
   margin-left: 30px;
   width: 970px;
   clear: both !important;
   position: relative;
   top: -470px;
}

#benefits h3
{
   font-size: 1.9em;
   font-weight: normal;
}

#benefits ul li
{
   display: block;
   float: left;
   width: 255px;
   background-color: #e2e2e2;
   margin: 0 25px 0 0;
   padding: 25px 15px 25px 15px;
   position: relative;
   left: -20px;
   font-size: 1.3em;
   text-align: center;
}

/*end Benefits section-----------------------*/

/*Product Tour section------------------------*/

#product-tour
{
   display: block;
   clear: both!important;
   margin-left: 30px;
   width: 1020px;
   position: relative;
   top: -425px;
}

#product-tour h3
{
   font-size: 1.9em;
   font-weight: normal;
}

#product-tour .feature
{
   display: block;
   width: 420px;
   float: left;
   margin: 0 90px 30px 0;
   clear: right;
   height: 120px;
}

#product-tour .feature img
{
   float: left;
   margin: 0 15px 0 0;
}

#product-tour .feature h4
{
   font-size: 1.3em;
   font-weight: normal;
   margin: 0 0 3px 0;
}

#product-tour .feature p
{
   font-size: 1 em;
}

/*end product tour-----------------------------*/

/*Pro upsell-----------------------------------*/

#upsell
{
   display: block;
   float: left;
   background-color: #e9e9e9;
   border: #fff medium solid;
   padding: 15px 5px 20px 20px;
   margin: 0 30px 0 15px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   width: 410px;
   position: relative;
   top: -445px;
}

#upsell h3
{
   font-size: 1.9em;
   font-weight: normal;
   margin: 0px;
}

#upsell p
{
   margin-top: 10px;
   font-size: 1em;
}

#upsell ul
{
   float: left;
   width: 160px;
   clear: none;
   margin: 0px 0px 10px 15px;
   display: inline;
}

#upsell ul li
{
   margin-bottom: 15px;
   font-size: 1em;
}

#upsell ul li ul li
{
   margin: 0px;
   font-size: 1em;
   list-style-type: circle;
}

#upsell ul li ul
{
   margin-top: 5px;
   width: 100%;
}

#upsell a.button
{
   width: 150px;
   padding: 5px 0 5px 0;
   position: relative;
   left: 125px;
   cursor: pointer;
   border: none;
   clear: both;
   text-align: center;
   background-color: #a5ba66 !important;
   background-image: none;
   border: 1px solid #9ab15d;
   color: #fff !important;
   display: block;
   font-size: 13px !important;
   font-weight: bold !important;
   text-decoration: none !important;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

#upsell a.button:hover
{
   background: #a9b867 url(../../img/tools/dl-button-hv-bg.png) repeat-x bottom left !important;
}

/*end upsell-----------------------------------*/

/*TSC product section---------------------------*/

#tsc-products
{
   display: block;
   width: 310px;
   float: left;
   min-width: 450px;
   position: relative;
   top: -450px;left:10px;
}

#tsc-products h3
{
   font-size: 1.4em;
   font-weight: normal;
   margin-bottom: 20px;
}

#tsc-products ul
{
   margin-left: 0px;
}

#tsc-products ul li
{
   display: block;
   width: 210px;
   float: left;
   height: 60px;
   color: #666;
   font-size: .85em;
   margin-right: 0px;
   margin-bottom:15px;
}

#tsc-products ul li span
{
   width: 100%;
   display: block;
}

#tsc-products a
{
   text-decoration: none;
   color: #777;
   cursor: pointer;
}

/*end TSC products-------------------------------*/

/*Footer Links------------------------------------*/

#footer-links
{
   clear: both !important;
   width: 100%;
   height: 30px;
   margin-left: 27%;
   position: relative;
   top: -410px;
}

#footer-links p
{
   font-size: 1.7em;
   float: left;
   margin-right: 30px;color: #f47b20!important;
}

#footer-links p input
{
   border-bottom:2px solid #f47b20;
   border-top:none;border-right:none;border-left:0px;
   color: #f47b20!important;
   background: none;
   cursor: pointer;
}

#footer-links p input:hover
{
   color: #333!important; border-bottom:2px solid #333;
   border-top:none;border-right:none;border-left:0px;
}

#footer-links p a
{
     border-bottom:2px solid #f47b20; color: #f47b20!important;
   border-top:none;border-right:none;border-left:0px;text-decoration:none;
}

#footer-links p a:hover
{
border-bottom:2px solid #333;color:#333!important;
   border-top:none;border-right:none;border-left:0px;text-decoration:none;

}

/* this will insert a pseduo element clears floats for an element containing floated content */

.selfclear:after
{
   clear: both;
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}

.footerDiv
{
   clear: both !important;
   position: relative;
   top: -380px;
   background: #f8f8f8 url( '/img/default/bodybg.gif' ) repeat-x fixed right bottom;
}

.signUpErrors
{
   margin: 0px 12px 0px 0px;
   padding: 3px 6px;
   display: none;
   background-color: #e2e2e2;
   border:solid thin #999;
}

.signUpErrors p
{
   text-align: center !important;
   font-size: 1em!important;
   line-height: 1.3em!important; 
   color: red;
}

