.thumbwrapper .highslide {
	outline: none;
}
.textwrapper .highslide {
	font-size: 11pt;
	display: block;
	text-align: center;
}
.highslide {
	outline: none;
	text-decoration: none;
}
.highslide-active-anchor img {
	visibility: hidden;
}
.gallery-examples .highslide-active-anchor img {
	visibility: visible;
	border-color: black;
}
.highslide img {
	/*border: 2px solid gray;*/
	/*cursor: url(/img/highslide/zoomin.cur), pointer;*/
    /*outline: none;*/
}
/*.highslide:hover img {
	border: 2px solid silver;
}*/

.highslide-image {
	/*border: 10px solid white;*/
}
.highslide-image-blur {

}
.highslide-heading {
	display: none;
	padding: 10px 10px 0 10px;
	font-size: 1.2em;
	font-weight: bold;
	cursor: default !important;
}
.highslide-caption {
    display: none;
    border-top: none;
    padding: 5px 10px 10px 10px;
    background-color: white;
    text-align: justify;
	
	color:#666;
	line-height:1.75em;
}
.highslide-dimming {
	background: black;
	position: absolute;
	width: 100%;
	visibility: hidden;
}
.highslide-loading {
    display: block;
	color: black;
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: bold;
    text-decoration: none;
	padding: 2px;
	border: 1px solid black;
    background-color: white;

    padding-left: 22px;
    background-image: url(/img/highslide/loader.white.gif);
    background-repeat: no-repeat;
    background-position: 3px 1px;
}
.control {
	float: right;
    display: block;
    /*position: relative;*/
	margin: 0 5px;
	font-size: 9pt;
    font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.control:hover {
	color: black !important;
}
.highslide-move {
    cursor: move;
}
.highslide-resize {
    cursor: nw-resize;
}
a.highslide-full-expand {
	background: url(/img/highslide/fullexpand.gif) no-repeat;
	display: block;
	margin: 0 10px 10px 0;
	width: 44px;
	height: 44px;
}
.highslide-overlay {
	display: none;
}
a.highslide-credits,
a.highslide-credits i {
    padding: 2px;
    color: silver;
    text-decoration: none;
	font-size: 10px;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
    color: white;
    background-color: gray;
}
.highslide-previous-next {
    text-align: center;
    padding-bottom: 5px;
}
.highslide-previous-next a {
	font-size: 7pt;
    font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
    color: white;
    padding: 0 20px;
}
.highslide-html {
	border: 1px solid white;
    background-color: white;
}
.highslide-html-blur {
    border: 1px solid silver;
}
.highslide-html-content {
	position: absolute;
    display: none;
}
.highslide-maincontent {
	display: none;
	
	color:#666;
	line-height:1.75em;
	width:100%;
}

/* Self rendering */
.highslide-wrapper {
	background-color: white;
}
.highslide-wrapper .highslide-html-content {
    width: 620px;
    padding: 0 5px 5px 5px;
}

body#camtasia-comparison .highslide-wrapper .highslide-html-content {width: 300px;}

.highslide-wrapper .highslide-header {
	padding-bottom: 5px;
}
.highslide-wrapper .highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.highslide-wrapper .highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.highslide-wrapper .highslide-header ul li.highslide-previous, .highslide-wrapper .highslide-header ul li.highslide-next {
	display: none;
}
.highslide-wrapper .highslide-header a {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}
.highslide-wrapper .highslide-header a:hover {
	color: black;
}
.highslide-wrapper .highslide-header .highslide-move a {
	cursor: move;
}
.highslide-wrapper .highslide-footer {
	height: 11px;
}
.highslide-wrapper .highslide-footer .highslide-resize {
	float: right;
	height: 11px;
	width: 11px;
	background: url(/img/highslide/resize.gif);
	position: relative;
	top: 0.5em;
	left: 0.5em;
}
.highslide-wrapper .highslide-body {
}

/* Individual CSS-classes: no border */
.highslide-no-border {
	background-color: gray;
}
.highslide-no-border .highslide-image {
	border: none;

}
.highslide-no-border .highslide-html {
	border: none;

}
.highslide-no-border .highslide-caption {
	border: none;
    border-bottom: 1px solid white;
	border-top: 1px solid white;
    background-color: gray;
	color: white;
}
.highslide-no-border .highslide-caption code {
    color: white;
}

/* Individual CSS-classes: white */
.highslide-white {
	background-color: white;
}
.highslide-white .highslide-image {
	border: 5px solid white;

}
.highslide-white .highslide-caption {
	background-color: white;
}
.highslide-white .control, .highslide-white .control * {
	color: #666;
}
.highslide-white .highslide-html {
    border: 2px solid white;
}

/* Individual CSS-classes: glossy-dark */
.glossy-dark {
	background-color: #101010;
}
.glossy-dark .highslide-image {
	border-width: 2px;
	border-style: solid;
	border-color: black black #202020 black;
}
.glossy-dark .highslide-caption {
	background: #101010;
	padding: 5px 0 5px 0;
}
.glossy-dark div {
	color: silver;
}

/* Individual CSS-classes: narrow border */
.highslide-narrow-border {
	background: white;
}
.highslide-narrow-border .highslide-image {
	border: 2px solid white;
}
.highslide-narrow-border .highslide-caption {
	background-color: white;
}

/* Individual CSS-classes: drag-header */
.drag-header .highslide-header {
	position: relative;
	border-bottom: 1px solid silver;
}
.drag-header .highslide-move {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 14px;
	width: 80%;
}
.drag-header .highslide-move span {
	display: none;
}
.drag-header .highslide-footer {
	display: none;
}

/* Individual CSS-classes: black border */
.highslide-black-border {
	background: white;
}
.highslide-black-border .highslide-image {
	border: 2px solid #655F2F;
}
.highslide-black-border .highslide-caption {
	border: 2px solid #655F2F;
	border-top: none;
	background-color: white;
	color: #333;
}

/* Individual CSS-classes: specified blur style */
.highslide-blur-example {
	background-color: white;
}
.highslide-blur-example .highslide-image-blur {
    border-color: silver;
}

.highslide-blur-example .highslide-caption-blur {
    border-color: silver;
}

.html-header {
	background-image: url(/img/highslide/header-background.gif);
	cursor: default;
	height: 18px;
	padding: 2px;
}
.highslide-html-blur #highslide-html-7-header {
	background-image: url(/img/highslide/header-background-blur.gif);
	height: 18px;
	padding: 2px;
}

.highslide-dimming {
	background-color: black;
}

/* Controlbar example */
.controlbar {
	background: url(/img/highslide/controlbar4.gif);
	width: 167px;
	height: 34px;
}
.controlbar a {
	display: block;
	float: left;
	/*margin: 0px 0 0 4px;*/
	height: 27px;
}
.controlbar a:hover {
	background-image: url(/img/highslide/controlbar4-hover.gif);
}
.controlbar .previous {
	width: 50px;
}
.controlbar .next {
	width: 40px;
	background-position: -50px 0;
}
.controlbar .highslide-move {
	width: 40px;
	background-position: -90px 0;
}
.controlbar .close {
	width: 36px;
	background-position: -130px 0;
}

/* Controlbar example */
.controlbar2 {
	margin-left: 60px;
	background: url(/img/highslide/controlbar2.gif);
	width: 210px;
	height: 32px;
}
.controlbar2 a {
	display: block;
	float: left;
	margin: 0 0 0 5px;
	height: 30px;
	width: 42px;
}

/* Controlbar example */
.controlbar5 {
	background: url(/img/highslide/controlbar5.gif);
	width: 83px;
	height: 18px;
	float:right;
}
.controlbar5 a {
	display: block;
	float: left;
	height: 18px;
}
.controlbar5 a:hover {
	background-image: url(/img/highslide/controlbar5-hover.gif);
}
.controlbar5 .previous {
	width: 20px;
}
.controlbar5 .next {
	width: 20px;
	background-position: -20px 0;
}
.controlbar5 .highslide-move {
	width: 20px;
	background-position: -40px 0;
}
.controlbar5 .close {
	width: 20px;
	background-position: -60px 0;
}

/* Mac-style close button */
.closebutton {
	position: relative;
	top: -15px;
	left: 15px;
	width: 30px;
	height: 30px;
	cursor: pointer; /* w3c */
	background: url(/img/highslide/close.png);
}


/* Controls. See http://www.google.com/search?q=css+sprites */
.highslide-controls {
    width: 195px;
    height: 40px;
    background: url(/img/highslide/controlbar-black-border.gif) 0 -90px no-repeat;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.highslide-controls ul {
	position: relative;
	left: 15px;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(/img/highslide/controlbar-black-border.gif) right -90px no-repeat;
}
.highslide-controls li {
    float: left;
    padding: 5px 0;
}
.highslide-controls a {
    background: url(/img/highslide/controlbar-black-border.gif);
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    outline: none;
}
.highslide-controls a.disabled {
    cursor: default;
}
.highslide-controls a span {
    /* hide the text for these graphic buttons */
    display: none;
}

/* The CSS sprites for the controlbar */
.highslide-controls .highslide-previous a {
    background-position: 0 0;
}
.highslide-controls .highslide-previous a:hover {
    background-position: 0 -30px;
}
.highslide-controls .highslide-previous a.disabled {
    background-position: 0 -60px !important;
}
.highslide-controls .highslide-play a {
    background-position: -30px 0;
}
.highslide-controls .highslide-play a:hover {
    background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
    background-position: -60px 0;
}
.highslide-controls .highslide-pause a:hover {
    background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
    background-position: -90px 0;
}
.highslide-controls .highslide-next a:hover {
    background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
    background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
    background-position: -120px 0;
}
.highslide-controls .highslide-move a:hover {
    background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
    background-position: -150px 0;
}
.highslide-controls .highslide-full-expand a:hover {
    background-position: -150px -30px;
}
.highslide-controls .highslide-full-expand a.disabled {
    background-position: -150px -60px !important;
}
.highslide-controls .highslide-close a {
    background-position: -180px 0;
}
.highslide-controls .highslide-close a:hover {
    background-position: -180px -30px;
}