﻿body
{
	margin:0px; font-size:12px; font-family:宋体;
	line-height:20px;color:#333;
}

* { font-size:12px; }

ul, li { list-style:none; margin:0px; padding:0px; }

 
/* begin Footer*/
#FooterNav{background: url(../images/bottom_bg.gif) #626262;height:30px;line-height:30px; width:950px;text-align:center;color:#ffffff;}
#FooterNav ul{list-style:none;margin:0px 0px 0px 0px;		}
#FooterNav li{float:left;line-height:30px;margin-left:4px;margin-right:4px;color:#ffffff;	}
#FooterNav li a:link {text-decoration: none; color:#ffffff} 
#FooterNav li a:visited  {text-decoration: none; color:#ffffff} 
#FooterNav li a:hover {text-decoration: none; color:Red}
/* end Footer*/




.appd_wrap_pop {display:block;z-index: 99998;left: 0;bottom: 0;width: 100%;height: 210px;position: fixed;overflow: hidden;}
.appd_wrap_pop_cnt {position: absolute;left: 0;bottom: 0;width: 100%;  background: url(../images/bg_mask.png) repeat-x 0 -18px;  _background: #451010;}
.appd_wrap_pop_box {position: relative;z-index: 1; left: 0;bottom: 0;width: 1000px;height: 188px;margin: 0 auto; color: #333;}
.appd_wrap_pop .appd_wrap_close {position: absolute; top: 30px;right: 0;font: normal 18px 宋体; color: #fff; outline: 0 none;filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
.appd_wrap_pop .appd_wrap_close span{ font-size:18px}
.appd_wrap_pop_pic{ position: absolute;top: -22px; left: 0;width: 930px;height: 210px; background:no-repeat center center;}
.appd_wrap_open {display: none;position: fixed;z-index: 99999;left: 0;bottom: 90px;width: 54px;height: 104px;_position: absolute;overflow: hidden;}
.appd_wrap_open_cnt {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: url(../images/bg_open.gif);_background: url(../images/bg_open.gif) no-repeat;}