﻿body
{
	margin:0px; font-size:12px; font-family:宋体;
	line-height:20px;
}

* { font-size:12px; }

ul, li { list-style:none; margin:0px; padding:0px; }

#top_bar a:link { color:#666; text-decoration:none; } 
#top_bar a:visited { color:#666; text-decoration:none; } 
#top_bar a:hover { color:red; text-decoration:none; } 
 
.FrameTable { width:950px; padding:0px; border:0px; margin:0px auto; }

#top_bar { background:url(../images/main_top_bg.jpg) repeat-x top; width:100%; height:31px; margin:0px auto; }

.version_left { background:url(../images/version_left.jpg) no-repeat; width:2px; height:27px; }
.version_bg { background:url(../images/version_focus.jpg) repeat-x; height:27px;  }
.version_right { background:url(../images/version_right.jpg) no-repeat; width:3px; height:27px; }
#common_navlink li { display:inline; color:#ccc;  margin-right:1px; margin-left:1px; }
.map_link { float:right; width:62px; text-align:center; line-height:20px; height:20px;#padding-top:4px;_padding-top:4px; }
.map_link_focus { border:solid 1px #ccc; background-color:White; text-align:center;  border-bottom:solid 1px white;float:right; width:62px;line-height:20px; height:20px;#padding-top:4px;_padding-top:4px;  }
a.map_link:link, a.map_link:visited, a.map_link:hover,a.map_link_focus:link, a.map_link_focus:visited, a.map_link_focus:hover { line-height:20px; height:20px; #padding-top:4px;_padding-top:4px; } 

#divNavList{background:#fff; width:191px;border:1px solid #ccc; border-top:none; display:none;position:absolute; padding:8px; line-height:22px;z-index:999;}
#divNavList hr { border:solid 1px #ccc;  width:100%; }


.mainlogo2 { float:left;background:url(../images/main_logo2.jpg) center; width:539px; height:85px;}
.mainlogo { float:left;background:url(../images/main_logo.gif) center; width:194px; height:80px;}
.mainlogo1 {float:left; background:url(../images/main_logo1.gif) center; width:158px; height:80px;}
.menubg { background:url(../images/main_menu_bg.gif) repeat-x; height:36px; }
.mainmenu { float:left;line-height:36px;color:White;width:93px;  font-size:14px; font-weight:bold;  }
.main_menu  li { display:inline;  list-style:none; float:left; text-align:center;  }
.MenuLi { width:93px;}

.main_menu a:link { font-size:14px; color:White; }
.main_menu a:visited { font-size:14px; color:White; }
.main_menu a:hover { font-size:14px; color:Yellow; }

.main_online{text-align:right;float:right;margin-right:10px; }
.mainMenu_Spacer{background:url(../images/main_menu_spit.gif) no-repeat; width:2px;height:36px;}
.MenuLeftspace{float:left;margin-left:20px;}
.MenuRightspace{width:1px;}

.CurMenu {float:left; background:url(../images/main_focusbg.jpg) no-repeat;color:black; text-align:center; height:36px; width:83px; line-height:36px;font-size:14px; font-weight:bold;  }
a.CurMenu:link { font-size:14px; color:#000000;}
a.CurMenu:visited { font-size:14px; color:#000000;}
a.CurMenu:hover { font-size:14px; color:red;} 

.curMenu_left {float:left; background:url(../images/main_curmenu_left.gif) no-repeat;width:4px;height:36px;}
.curMenu_right {float:left; background:url(../images/main_curmenu_right.gif) no-repeat;width:4px;height:36px;}
.curMenu_main {margin-top:0px;float:left; background:url(../images/main_curmenu_main.gif) repeat-x;color:black;   height:36px; width:80px; line-height:38px;font-size:14px; font-weight:bold;  }
.curMenu_main a:link { font-size:14px; color:#000000; }
.curMenu_main a:visited { font-size:14px; color:#000000; }
.curMenu_main a:hover { font-size:14px; color:red; } 

/*begin 二级菜单*/
.submenubg{height:32px;margin-top:0px; }
.submenubottom{background:url(../images/main_line.jpg) no-repeat bottom;height:14px;margin-top:0px;}
.sub_menu{ float:left;height:32px;width:950px;overflow:hidden;clear:both;margin:0px;}
.sub_menu ul li { display:inline; list-style:none;line-height:32px;overflow:hidden;color:#ccc;  float:left; margin-left:10px;  }
.sub_menu  .submenu_title{display:inline;color:#333333;margin-left:35px; font-weight:bold; }
.sub_menu  .submenu_title_small{display:inline;color:#ec2527;margin-left:5px; }
a.submenu:link {  color:#666; }
a.submenu:visited {  color:#666; }
a.submenu:hover {  color:red; }
a.selectSubMenu:link {  color:red; }
a.selectSubMenu:visited { color:red; }
a.selectSubMenu:hover {  color:red; }


a.selectSubMenu:link{color:Red;} 
a.selectSubMenu:visited{color:Red;} 
a.selectSubMenu:hover{color:Red;} 

.mainsearch{margin:0px;padding:0px;float:right;}
#search_type{height:21px;width:120px;padding-left:8px;  float:left; cursor:pointer;color:#666;top:4px;line-height:21px; background:url(../images/main_down_arrow.jpg) no-repeat 110px;border:1px solid #ccc; }
#SearchWord{width:320px;height:21px;padding-left:8px;float:left;  border:1px solid #ccc;border-right:none;line-height:21px; margin:0px; color:#666; top:4px;}

#search_type_list{width:129px;border:1px solid #ccc; color:#666; background-color:#fff; border-top:none; height:auto;display:none;position:absolute;}
#search_type_list ul{float:left;cursor:pointer;}
#search_type_list li{margin:4px auto 0px 8px;width:108px;}


#btn_search{height:25px;width:91px; cursor:pointer; border:none;background:url(../images/search_btn.jpg) no-repeat;margin:0px; }
select{ border: 1px solid #ccc; background-color:#fff;height:20px;width:120px; } 


/*begin 轮显图片*/
div#MainBanner{margin:0px;border:1px solid #ccc;float: left;overflow:hidden; position:inherit;}

#SlidePlayer{margin:0px;position:relative;float: left;overflow:hidden; }
.Slides li { float: left;list-style:none;display:inline;margin:0px;overflow:hidden;}
.Slides img{border:0;display: none;top: 0;left: 0;position: absolute;}

.SlideTriggers{z-index:999;margin: 0; float:right;right:8px;bottom:8px; position: absolute;line-height:17px;font-family:arial; font-size:12px;}
.SlideTriggers ul{list-style:none;color:#cc0000; height:10px;}
.SlideTriggers li{float:left;background-color:#222;margin: 0px 2px;font-size:10px;width:17px;cursor:pointer; text-align:center;list-style:none;color:#ffffff;}
.SlideTriggers li.current{background-color:#cc0000;color:#FFFFFF;width:17px;cursor:pointer;} 
/* end 轮显图片*/
 
