@charset "utf-8";
/* CSS Document */



/* basic setting */

html{
	background-color:#fff;
	color: #333;
}
br{
	letter-spacing: normal;
}
body{
	margin:0;
	padding:0;
	font-family:'Arial','Helvetica',sans-serif;
	font-size:12px;
	line-height:1.5;
}



h1,h2,h3,h4,h5,h6{
	font-size:100%;
	margin:0;
	padding:0;
}
ul,ol,li,dl,dt,dd{
	margin:0;
	padding:0;
	list-style: none;
}
div,pre,form,fieldset,input,textarea,p,th,td{
	margin:0;
	padding:0;
}
fieldset,img,a img{
	border:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	font-size:inherit;
	font:100%;
}
th{
	text-align:left;
	font-style:normal;
	font-weight:normal;
}
input,textarea,select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}



a,a:link{
	text-decoration: none;
	background-color: transparent;

}
a:visited{
	background-color: transparent;

}
a:hover,a:active{
	background-color: transparent;
	text-decoration:underline;
}



/* clearfix */
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
* html .clearfix{
	display:inline-table;
	/*\*/display:block;/**/
}



/* margin set */
.mt00{margin-top:0px !important;}
.mt05{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}

.ml00{margin-left:0px !important;}
.ml05{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml40{margin-left:40px !important;}
.ml45{margin-left:45px !important;}
.ml50{margin-left:50px !important;}
.ml55{margin-left:55px !important;}
.ml60{margin-left:60px !important;}

.mr00{margin-right:0px !important;}
.mr05{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr15{margin-right:15px !important;}
.mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mr50{margin-right:50px !important;}
.mr55{margin-right:55px !important;}
.mr60{margin-right:60px !important;}

.mb00{margin-bottom:0px !important;}
.mb05{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mb55{margin-bottom:55px !important;}
.mb60{margin-bottom:60px !important;}

/* negative margin set */
.mt-05{margin-top:-5px !important;}
.mt-10{margin-top:-10px !important;}
.mt-15{margin-top:-15px !important;}
.mt-20{margin-top:-20px !important;}
.mt-25{margin-top:-25px !important;}
.mt-30{margin-top:-30px !important;}
.mt-35{margin-top:-35px !important;}
.mt-40{margin-top:-40px !important;}
.mt-45{margin-top:-45px !important;}
.mt-50{margin-top:-50px !important;}
.mt-55{margin-top:-55px !important;}
.mt-60{margin-top:-60px !important;}

.ml-05{margin-left:-5px !important;}
.ml-10{margin-left:-10px !important;}
.ml-15{margin-left:-15px !important;}
.ml-20{margin-left:-20px !important;}
.ml-25{margin-left:-25px !important;}
.ml-30{margin-left:-30px !important;}
.ml-35{margin-left:-35px !important;}
.ml-40{margin-left:-40px !important;}
.ml-45{margin-left:-45px !important;}
.ml-50{margin-left:-50px !important;}
.ml-55{margin-left:-55px !important;}
.ml-60{margin-left:-60px !important;}

.mr-05{margin-right:-5px !important;}
.mr-10{margin-right:-10px !important;}
.mr-15{margin-right:-15px !important;}
.mr-20{margin-right:-20px !important;}
.mr-15{margin-right:-15px !important;}
.mr-30{margin-right:-30px !important;}
.mr-35{margin-right:-35px !important;}
.mr-40{margin-right:-40px !important;}
.mr-45{margin-right:-45px !important;}
.mr-50{margin-right:-50px !important;}
.mr-55{margin-right:-55px !important;}
.mr-60{margin-right:-60px !important;}

.mb-05{margin-bottom:-5px !important;}
.mb-10{margin-bottom:-10px !important;}
.mb-15{margin-bottom:-15px !important;}
.mb-20{margin-bottom:-20px !important;}
.mb-25{margin-bottom:-25px !important;}
.mb-30{margin-bottom:-30px !important;}
.mb-35{margin-bottom:-35px !important;}
.mb-40{margin-bottom:-40px !important;}
.mb-45{margin-bottom:-45px !important;}
.mb-50{margin-bottom:-50px !important;}
.mb-55{margin-bottom:-55px !important;}
.mb-60{margin-bottom:-60px !important;}

/* padding set */
.pt00{padding-top:0px !important;}
.pt05{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;}
.pt45{padding-top:45px !important;}
.pt50{padding-top:50px !important;}
.pt55{padding-top:55px !important;}
.pt60{padding-top:60px !important;}

.pl00{padding-left:0px !important;}
.pl05{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl35{padding-left:35px !important;}
.pl40{padding-left:40px !important;}
.pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;}
.pl55{padding-left:55px !important;}
.pl60{padding-left:60px !important;}

.pr00{padding-right:0px !important;}
.pr05{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pr35{padding-right:35px !important;}
.pr40{padding-right:40px !important;}
.pr45{padding-right:45px !important;}
.pr50{padding-right:50px !important;}
.pr55{padding-right:55px !important;}
.pr60{padding-right:60px !important;}

.pb00{padding-bottom:0px !important;}
.pb05{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}
.pb50{padding-bottom:50px !important;}
.pb55{padding-bottom:55px !important;}
.pb60{padding-bottom:60px !important;}