@charset "utf-8";
/* CSS Document */


html, 
body{
    height: 100%;
    margin: 0;
}
#container{
	display:table;
	min-height: 100%;
	width:950px;
	height: 100%;
	margin: 0 auto;
}



/*
header
--------------------------------------------------*/
#header{
	background: url(/top/images/bg.png) repeat-x;
	padding: 18px 0 18px 15px;
	margin-bottom: 20px;
}
#header p.logo{
	background: url(/top/images/logo.gif) no-repeat;
	text-indent: -9999px;
	width: 98px;
	height: 24px;
}



/*
contents
--------------------------------------------------*/
#contents{
    overflow:auto;
    padding-bottom: 42px;
} 

/*main*/
#contents #main{
	background: url(/top/images/main.jpg) no-repeat;
	width: 950px;
	height: 500px;
	margin-bottom: 21px;
}
#contents #main h1{
	text-indent: -9999px;
	height: 0;
}

/*menuArea*/
#contents .menuArea{
	margin-bottom: 50px;
	margin-left: 80px;
}
#contents .menuArea h2{
	font-size: 145%;
	margin-bottom: 6px;
}
#contents .menuArea .country{
	float: left;
	padding-right: 10px;
	width: 150px;
}
#contents .menuArea .other{
	padding-right: 0 !important;
	margin-top: 32px;
}
#contents .menuArea .country h3{
	background-color: #474747;
	font-size: 115%;
	color: #ffffff;
	padding: 4px 0 3px 10px;
	margin-bottom: 3px;
}
#contents .menuArea .country ul li{
	border-bottom: 1px #474747 dotted;
}
#contents .menuArea .country ul li a{
	color: #333333;
	text-decoration: none;
	display: block;
	width: 140px;
	padding: 3px 0 2px 10px;
}
#contents .menuArea .country ul li a:hover{
	color: #4b78c4;
}


/*
footer
--------------------------------------------------*/
#footer{
	background: #f2f2f2;
	clear:both;
	font-size: 83%;
	width: 950px;
    position: relative;
	padding: 14px 0 13px;
	margin: -42px auto 0; 
} 
#footer ul{
	float: left;
	padding-left: 10px;
}
#footer ul li{
	float: left;
	padding-right: 15px;
}
#footer ul li a{
	display: block;
	float: left;
	background: url(/top/images/allow_blank.gif) no-repeat;
	padding-left: 15px;
	color: #4b78c4;
}
#footer p.copyright{
	float: right;
	color: #666666;
	text-align: right;
	padding-right: 10px;
}









