@charset "utf-8";
/* CSS Document */
*:first-child+html .LifeMemberTopText {
	height: 46px;
	width: 680px;
	color: #4B2C12;
	font-family: "新細明體";
	font-size: 22px;
	font-weight: bold;
	line-height: 47px;
	float: left;
	margin-left: 30px;
	margin-top:-6px;
}
*:first-child+html .LifeMemberText{
	font-family:"新細明體";
}
*:first-child+html .LifeMemberText input{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 280px;
	height: 20px;
	background-color: #F3EDE2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #B9955E;
	border-right-color: #C4A577;
	border-bottom-color: #C4A577;
	border-left-color: #B9955E;
	text-indent: 5px;
	text-align: left;
	margin-bottom:-6px;
}
*:first-child+html .LifeMemberText select{
	font-family: "新細明體";
	font-size: 16px;
	color: #333;
	height: 25px;
	width: 100px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #B9955E;
	border-right-color: #C4A577;
	border-bottom-color: #C4A577;
	border-left-color: #B9955E;
	background-color: #F3EDE2;
	margin-bottom:-6px;
}
*:first-child+html .LMFShoppName{
	font-family: "新細明體";
	margin-left: 10px;
}
*:first-child+html .LMFShoppName input{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 85px;
	height: 22px;
	background-color: #F3EDE2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #B9955E;
	border-right-color: #C4A577;
	border-bottom-color: #C4A577;
	border-left-color: #B9955E;
	text-indent: 5px;
	text-align: left;
	margin-left: 6px;
	margin-bottom:-6px;
}
*:first-child+html  .LMFShoppPhone{
	font-family: "新細明體";
}
*:first-child+html  .LMFShoppPhone input{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 210px;
	height: 22px;
	background-color: #F3EDE2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #B9955E;
	border-right-color: #C4A577;
	border-bottom-color: #C4A577;
	border-left-color: #B9955E;
	text-indent: 5px;
	text-align: left;
	margin-left: 6px;
	margin-bottom:-6px;
}
*:first-child+html  .LMFShoppInvoice{
	font-family: "新細明體";
}
*:first-child+html  .LMFShoppInvoice select{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 24px;
	background-color: #F3EDE2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #B9955E;
	border-right-color: #C4A577;
	border-bottom-color: #C4A577;
	border-left-color: #B9955E;
	text-align: left;
	margin-left: 6px;
	width: 76px;
	margin-bottom:-6px;
}
*:first-child+html  .LMFShoppInvoice input{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 150px;
	height: 22px;
	background-color: #F3EDE2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #B9955E;
	border-right-color: #C4A577;
	border-bottom-color: #C4A577;
	border-left-color: #B9955E;
	text-align: left;
	margin-left: 6px;
	margin-bottom:-6px;
	padding-top:-6px;
}
*:first-child+html .LMFShoppTittle{
	letter-spacing: 0.3em;
	width: 94px;
	font-family: "新細明體";
	font-size:16px;
	color:#333;
	line-height:35px;
}
*:first-child+html .LifeMemberLoginText{
	font-family:"新細明體";
}
*:first-child+html .LifeMemberLoginText input{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 250px;
	height: 20px;
	background-color: #F3EDE2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #B9955E;
	border-right-color: #C4A577;
	border-bottom-color: #C4A577;
	border-left-color: #B9955E;
	text-indent: 5px;
	text-align: left;
	margin-bottom:-4px;
}
*:first-child+html.LMPasswordFrameText{
	font-family:"新細明體";
}
*:first-child+html .LMPasswordFrameText input{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 280px;
	height: 20px;
	background-color: #F3EDE2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #B9955E;
	border-right-color: #C4A577;
	border-bottom-color: #C4A577;
	border-left-color: #B9955E;
	text-indent: 5px;
	text-align: left;
	margin-bottom:-4px;
}
*:first-child+html .LMPasswordFrameText select{
	font-family: "新細明體";
	font-size: 16px;
	color: #333;
	height: 25px;
	width: 100px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-top-color: #B9955E;
	border-right-color: #C4A577;
	border-bottom-color: #C4A577;
	border-left-color: #B9955E;
	background-color: #F3EDE2;
	margin-bottom:-4px;
}
*:first-child+html .LifeMemberTXT2{
	font-family:"新細明體";
	font-size: 13px;
	color: #333;
	margin-right:-23px;
	margin-top:-50px;
	margin-bottom:20px;
}
*:first-child+html .LifeMemberTXT2 input{
	margin-left:20px;
	width:14px;
	height:14px;
	border:none;
	background-color:inherit;
	margin-top:-20px;
}