﻿@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* [disabled]border: 0; */
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}
strong { margin: 0; padding: 0; border: 0; font-size: 100%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select {
    vertical-align:middle;
}
input, input:active, input:focus{
    outline: 0;
    outline-style:none;
    outline-width:0;
}
/*17Life custom reset css*/
input[type="text"], input[type="password"], input.text, input.title, textarea, select { background: #FFFFFF; border:1px solid #CCC; }

html, body, /*#wrap {height: 100%;}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abs, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
	background:none repeat scroll 0 0 transparent;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-size:100%;
	margin:0;
	outline:0 none;
	padding:0;
}
/*html {overflow-y:scroll;}*/
body > #wrap {
	width: auto;
	height: auto;
	min-height: 100%;
	background: #F2F2F0 0 0 repeat;
	/*overflow: hidden;*/ /*解決網址加上#id後產生最上方被吃掉問題 20150629 by stan */

}
#wrap {
	height: 100%;
	margin: 0 auto;
	background: #F2F2F0;
	/*overflow: hidden;*/ /*解決網址加上#id後產生最上方被吃掉問題 20150629 by stan */
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}

.edm-keyin {
	width: 250px;
	padding: 6px;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="file"]:disabled::-webkit-file-upload-button, button:disabled, select:disabled, keygen:disabled, optgroup:disabled, option:disabled, select[disabled] > option {
color: #A2A297;
}

/* Hides from IE-mac \*/

* html .clearfix { height:100%;}
.clearfix {display: block;}
a:link { text-decoration: none; color: #333; }
a:visited { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; color: #333; }
a:active { text-decoration: none; color: #333; }
/* Hides from IE-mac \*/

/*MasterPage-Alan*/
#Headermiddle { display: none;}
.activity-top-block {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: #fff;
}
.activity-top-bn {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.activity-top-bn img { width: 100%; height: auto;}
.close-button {
	width: 17px;
	height: 16px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.function-menu-bar {
	width: 100%;
	height: 28px;
	padding-top: 3px;
	background: #e9e9e9;
}
.funtion-menu-block {
	width: 960px;
	margin: 0 auto;
	font: 12px/24px '微軟正黑體';
	color: #555555;
}
.left-menu {
	float:left;
}
.left-menu li {
	float:left;
	margin-left: 10px;
}
.right-menu {
	float:right;
}
.right-menu a:hover { color:#bf0000;}
.left-menu a:hover { color:#bf0000;}
.right-menu li {
	float: left;
	margin-right: 8px;
}
.right-menu li.gift {
	float: left;
	left:-2px;
	position: relative;
}
.right-menu li.gift a{
	color:#bf0000;
}
.right-menu li a.gift-cash {
	position: absolute;
	right:-80px;
	top:0px;
	padding: 0 5px;
	opacity: 0;
	color:#fff;
	border-radius: 5px;
	background: #bf0000;
}
.right-menu li a.gift-cash:before {
	border-color: transparent #bf0000 transparent transparent;
 	border-style: solid;
  	border-width: 3px 9px 3px 4px;
  	content: "";
  	left: -12px;
  	top:9px;
  	position: absolute;
  	z-index: 1;
  }

.coupon-number-line {
	border-left: 1px solid #555555;
	height: 15px;
	margin: 5px;
}
.coupon-number {
	color: #bf0000;
}
.search-block {
	height: 26px;
	margin-top: 4px;
	height: auto;
}
.search-bar {
	width: 90px;
	height: 24px;
	float: left;
	padding-left: 5px;
}
input.search-bar {
	border: 1px solid #a9a9a9;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	line-height: 17px;
}
.search-button {
	width: 40px;
	height: 28px;
	background: url(../images/search-button.png) #bf0000; 
	padding: 0;
	border: 0;
	float: left;
	margin-left: -1px;
}
.marketing-block {
	width: 97px;
	height: 35px;
}

.funtion-menu-block .mc { position: relative; padding: 0 5px;}
.funtion-menu-block .mc:hover { background: #fff; color: #bf0000; border-radius: 3px 3px 0 0;}
.funtion-menu-block .mc .dropdownlist { 
	display: none; 
	position: absolute; 
	top: 24px; 
	z-index: 9999; 
}
.mc:hover .dropdownlist { display: block; }

.funtion-menu-block .cc { position: relative; padding: 0 5px;}
.funtion-menu-block .cc:hover { background: #fff; color: #bf0000; border-radius: 3px 3px 0 0;}
.funtion-menu-block .cc .dropdownlist { 
	display: none; 
	position: absolute; 
	top: 24px; 
	z-index: 9999; 
}
.cc:hover .dropdownlist { display: block; }

.funtion-menu-block .dropdownlist.wide {
	width: 80px;
	height: 28px;
	text-align: center;
}
.funtion-menu-block .dropdownlist.wide li {
	width: 110px;
	height: 28px;
	text-align: center;
	font: 12px/28px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	background: #fff;
	padding: 3px 0;
	margin-left: -5px;
	color: #333;
}
.funtion-menu-block .dropdownlist.wide li a{
	display: block; /*201602 for stan*/
}
.funtion-menu-block .dropdownlist {
	width: 80px;
	height: 28px;
	text-align: center;
}
.funtion-menu-block .dropdownlist li {
	width: 110px;
	height: 28px;
	text-align: center;
	font: 12px/28px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	background: #fff;
	padding: 3px 0;
	margin-left: -5px;
}
.funtion-menu-block .dropdownlist li a{
	display: block; /*201602 for stan*/
}
.funtion-menu-block a {
	text-decoration: none;
}
.funtion-menu-block .dropdownlist a:hover {
	color: #bf0000;
}
.funtion-menu-block .dropdownlist li:hover {
	background: #dbdbdb;
	color: #bf0000;
}
/*2010823 功能選單-迷你購物車*/
.mini-cart-btn{
	position:relative;
	padding:0 5px;
	cursor:pointer;
}
.mini-cart-btn.mini-cart-btn-on{
	background: #fff;
    z-index: 999;
    color: #bf0000;
}
.mini-cart-wrap{
	display: none;
}
.mini-cart-btn.mini-cart-btn-on .mini-cart-wrap{
	display:block;
	background:#fff;
	position:absolute;
	top:24px;
	right:-40px;
	z-index:9999;
	width:325px;	
	box-shadow:0px 1px 5px #ccc;
	box-shadow:0 3px 8px rgba(0, 0, 0, .25);
}
.mini-cart-item-list{
	max-height: 381px;
	padding: 5px 0;
	overflow-x: hidden;
	overflow-y: auto;
	color: #333;
}
.mini-cart-item,.add-cart-success{
    margin: 0 ;
    padding: 10px 15px;
    height: 60px;
    border-bottom: 1px solid #ddd;
    width: 295px;
    float: left;
}
.add-cart-success-wrap{
	position:fixed;
	/* top:93px; */
	top:14px;
	left:50%;
	margin-left:124px;
	background-color:#fff;
	box-shadow:0 0 2px #ccc;
	z-index:15;
	display:none;
}
.add-cart-success-wrap:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #fff;
	border-width: 14px;
	margin-left: -14px;
}
.add-cart-success{
	width: 195px;
}
.add-cart-success-pic{
	width:60px;
	height:60px;
	float: left;

}
.add-cart-success-title{
	display: table;
  	font-size: 14px;
  	color: #666;
  	height:  60px;
  	padding: 0 10px;
  	width: 115px;
  	overflow: hidden;
}
.add-cart-success-title p{
  	display: table-cell;
  	vertical-align: middle;
  	line-height: 20px;
	
}
.mini-cart-item:last-child{
	border-bottom-width: 0;
}
.mini-cart-item:hover{
	background: #e2e2e2;
}
.mini-cart-item-pic{
	width:60px;
	height:60px;
	float: left;
}
.mini-cart-item-title{
  	display: table;
  	font-size: 14px;
  	color: #666;
  	height:  60px;
  	padding: 0 10px;
 	width: 215px;
  	overflow: hidden;

}
.mini-cart-item-title p{
  	display: table-cell;
  	vertical-align: middle;
  	line-height: 20px;
	
}
.mini-cart-checkout a{
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #08c;
    border-top: 1px solid #ccc;
    width: 325px;
    display: block;
    clear: both;
}
.mini-cart-checkout:hover a{
    color: #08c;
	text-decoration:underline;
}

/*201607 mgm 功能選單的禮物盒功能*/
.funtion-menu-block .giftinfo_btn{
	position:relative;
	padding:0 5px;
	cursor:pointer;
}
.funtion-menu-block .giftinfo_btn_on{
	background:#fff;
	z-index:999;
	color:#bf0000;
}
.funtion-menu-block .giftinfo_btn_on .giftinfo_wrap{
	display:block;
}

.funtion-menu-block .giftinfo_btn:hover{
	background:#fff;
}
.funtion-menu-block .giftinfo_wrap{
	display:none;
	background:#fff;
	position:absolute;
	top:24px;
	right:-40px;
	z-index:9999;
	width:480px;	
	box-shadow:0px 1px 5px #ccc;
	box-shadow:0 3px 8px rgba(0, 0, 0, .25);
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap ul{
	padding:10px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap li{
	/*width:25%; 頁籤4個時使用*/
	width: 33%;
	text-align:center;
	margin:0;
	line-height:30px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap li.tab_title a{
	text-decoration:none;
	border-bottom:none;
	padding: 5px 0 5px 0;
	border-bottom:1px solid #ccc;
	display:block;
	color:#666;
	position:relative;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap li.tab_title a:hover{
	color:#bf0000;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap li.ui-state-active a{
	border-bottom:1px solid #bf0000;
	color:#bf0000;
	
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap li.tab_title a .new_num{
	background:#BF0000;
	width:18px;
	height:18px;
	border-radius:20px;
	color:#fff;
	line-height:20px;
	font-size:12px;
	position:absolute;
	top:5px;
	/*right:15px; 4個頁籤時使用*/
	right: 30px; /*3個頁籤時使用*/
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content{
	clear:both;
	width:480px; /*20160722 修正 MGM禮物盒資訊欄位 超過可視範圍*/
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .gift_itme_wrap{
	max-height:340px;
	overflow:hidden;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .gift_itme{
	clear:both;
	margin-bottom:0px;	
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .gift_itme>a{
	display:block;
	clear:both;
	height:150px;
	padding:10px 10px;
	border-bottom:1px solid #eee;
	width:460px; /* 201608 解決禮物內容文字過短問題 */
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .gift_itme>a:hover{
	background:#e2e2e2;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .pic {
	float:left;
	position:relative;
	margin-right:10px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .pic span{
	position:absolute;
	bottom:10px;
	left:10px;
	color:#fff;
	background:rgba(0,0,0,0.7);
	padding:0 7px;
	border-radius:20px;
	line-height:20px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .pic img{
	width:150px;
	height:150px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .text{
	padding:0px 0 0 0px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .text h5{
	font-size:16px;
	color:#666;
	line-height:1.4;
	margin-bottom:5px;
	display:block;
	height:44px;
	overflow:hidden;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .text p{
	font-size:14px;
	color:#999;
	line-height:1.4;
	margin-bottom:15px;
	height:54px;
	overflow:hidden;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .link_more a{
	display:block;
	text-align:center;
	line-height:40px;
	font-size:14px;
	color:#08c;
	border-top:1px solid #ccc;
	min-width:470px; /* 201608 解決禮物內容文字過短問題 */
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .link_more a:hover{
	text-decoration:underline;
}
.funtion-menu-block .giftinfo_wrap .btn-primary-line{
	color:#bf0000;
	background:#fff;
	border-color:#666;
}
.funtion-menu-block .giftinfo_wrap .btnSN{
	display:inline-block;
	padding:5px 13px;
	font-size:12px;
	line-height:1.2;
	text-align:center;
	white-space:nowrap;
	cursor:pointer;
	-webkit-user-select:none;
	border:1px solid #666;
	border-radius:4px;
}
.funtion-menu-block .giftinfo_wrap .btn-primary-line:hover{
	color:#bf0000;
	background:#ffeded;
	border-color:#bf0000;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .text p.countdown{
	padding:5px 0 0 5px;
	color:#333;
	float:right;
	height:18px;
}
.funtion-menu-block .giftinfo_wrap .item_price_less{
	float:right;
	line-height:28px;
	font-size:14px;
	color:#666;
}
.funtion-menu-block .giftinfo_wrap .item_price_less:hover{
	color:#666;
}
.funtion-menu-block .giftinfo_wrap .item_price_less .price{
	font-size:16px;
	color:#bf0000;
}
/*gift_send_wrap 收禮*/
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .gift_get_wrap .text p{
	height:40px;
	overflow:hidden;
	margin-bottom:0px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .gift_get_wrap .text p.info{
	height:24px;
	line-height:24px;
	overflow:hidden;
	margin-bottom:5px;
	background:#eee;
}
/*card_item 卡片*/
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .card_item{
	height:68px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .card_item>a{
	height:48px;
	width:460px; /* 201608 解決禮物內容文字過短問題 */
}
.funtion-menu-block .giftinfo_wrap .card_item .pic{
	width:30px;
	height:30px;
	padding:5px 5px 10px 5px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .card_item .pic img{
	width:100%;
	height:auto;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .card_item .text h5{
	display:inline-block;
	height:24px;
	max-width:300px;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .card_item .text span{ 
	float:right; 
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .card_item>a:hover .text span{
	color:#666;
}
.funtion-menu-block .giftinfo_wrap .tabs_wrap .tab_content .card_item .text p{
	height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-bottom:0;
}
.funtion-menu-block .right-menu .giftinfo_card{
	font-size:10px;
	line-height:24px;
	margin-top:-2px;
}
.funtion-menu-block .right-menu .giftinfo_card a.gift-cash{
	margin-top:3px ;
}
.giftinfo_card .fa-envelope{
	color:#555;
}

.popup_bg{
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:0px;
	z-index:99;
	width:100%;
	height:100%;
}
/*icon左右動*/
.right-menu .icon_animate {
	float: left;
	top:5px;
	left:-2px;
	color:#bf0000;
	position: relative;
}
.giftinfo_card .icon_animate {
	float: left;
	top:9px;
	left:-2px;
	color:#bf0000;
	position: relative;
}


/*slide-bn-css*/
.slide-bn-block {
	height: 132px;
	background: rgba(180, 180, 180, 0.6);
	padding-top: 20px;
	text-align: center;
	position: relative;
    overflow: hidden; /* 解決網址加上#id後產生最上方被吃掉問題 20150629 by stan */
}
.slide-bn-block.m-browser {
	height: 132px;
	background: #b4b4b4;
	padding-top: 20px;
	text-align: center;
	position: relative;
}
.slide-m-browser {
	display: none;
}
.slide-bn-area {
	width: 310px;
	height: 133px;
	margin: 0 3px;
	background: url(../images/side-bn-bg.png);
	display: inline-block;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.slide-bn-area img { width:100%; height: auto;}

	.slide-bn-block:before {
		background-image: -moz-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
		background-image: -o-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
		background-image: -webkit-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
		background-image: linear-gradient(to right, #000000 50%,rgba(0,0,0,0));
		left: -160px;
		width: 360px;
		z-index: 11;
	}
	.slide-bn-block:after {
		background-image: -moz-linear-gradient(left, rgba(0,0,0,0),#000000);
		background-image: -o-linear-gradient(left, rgba(0,0,0,0),#000000);
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0),#000000);
		background-image: linear-gradient(to right, rgba(0,0,0,0),#000000);
		right: 0;
		width: 210px;
		z-index: 10;
	}
/*套件swiper3 修改css*/
	#pponnews.swiper-container {
		height: 110px;
		overflow: inherit;
	}
	#pponnews .swiper-button-prev {
		display: block;
    	background: url(../images/arrow-bg-left.png) no-repeat;
	    width: 43px;
	    height: 43px;
	    color: #fff;
	    position: absolute;
	    z-index: 20;
	    cursor: pointer;
	    opacity: 0.8;
	    text-align: center;
	    padding-top: 11px;
	    margin-left: -20px;
	    left: auto;
	    top: 54%;
	}
	#pponnews .swiper-button-next {
		display: block;
	    background: url(../images/arrow-bg-right.png) no-repeat;
	    width: 43px;
	    height: 43px;
	    color: #fff;
	    z-index: 21;
	    cursor: pointer;
	    opacity: 0.8;
	    position: absolute;
	    margin-left: 940px;
	    text-align: center;
	    padding-top: 11px;
	    right: auto;
	    top: 54%;
	}
	#pponnews .swiper-button-prev:hover {
    background: url(../images/arrow-bg-left-hover.png) no-repeat;
	}
	#pponnews .swiper-button-next:hover {
    background: url(../images/arrow-bg-right-hover.png) no-repeat;
	}
/*套件swiper3 修改css*/

/*搜尋結果-Alan*/

.search-result-get, .search-result-none {
	padding: 5px;
	border: 1px solid #999;
	background: #fff; 
	text-align: center;
	margin: 10px auto;
}
/* 搜尋結果頁需篩選 201605 by stanley */
.search-result-get{
	position:relative;
}
.result_filter{
	position:absolute;
	top:6px;
	right:10px;
}
.select_1{
	float:left;
	height:29px;
	border:1px solid #c70000;
	background:url(../images/icon_select_down.png) right no-repeat;
	background-color:#fff;
	border-radius:4px;
	overflow:hidden;
}
.select_1 select{
	height:29px;
	padding:0 30px 0 10px;
	background:transparent;
	-webkit-appearance:none;/*Removes default chrome and safari style*/
	-moz-appearance:none;/*Removes default style Firefox*/
	border:none;
	outline:none;
	font-size:14px;
	color:#666;
}
/*搜尋結果-Alan*/
.search-result-get i {
	color: #14a049;
}
.search-result-none i {
	color: #bf0000;
}

.search-result-none + h3 {
color: #bf0000;
font-size: 140%;
font-weight: bold;
margin: 30px 5px 0px 10px;
padding-bottom: 5px;
border-bottom: 2px solid #bf0000;
}

/*MasterPage*/
#PponLOGO {
	width: 170px;
	height: 96px;
	float: left;
	/*margin: 7px 0 0 0;
	background: url(../images/ppon-M1_LOGO.jpg) no-repeat;*/
}
.White{
	height: 30px;
	font-size: 13px;
	color: #333;
	text-align: right;
}
#Headermiddle {
	width: auto;
	height: 96px;
	margin: 0 auto;
	background: url(../images/ppon-M1_02.jpg) repeat center bottom;
	display: none;
}
#middle {
	width: 960px;
	height: 96px;
	margin: 0px auto;
	position: relative;
}
#EmailTitle {
	width: 420px;
	height: 96px;
	float: left;
}
#Email {
	width: 135px;
	height: 30px;
	padding-top: 45px;
	padding-left: 5px;
}
.HeaderEmail {
	width: 385px;
	height: 48px;
	margin-top: 5px;
	padding-left: 10px;
	font-size: 12px;
}
.HeaderEmail select {
	width: 90px;
	height: 26px;
	border-radius: 3px;
	padding: 3px;
}
.HeaderEmail input[type="text"] {
	width: 200px;
	height: 22px;
	border-radius: 3px;
	padding-left: 3px;
}
.HeaderEmailText {
	width: 150px;
	height: 20px;
	float: left;
	padding-top: 30px;
	padding-left: 10px;
	font-size: 16px;
	line-height: 16px;
	color: #BF0000;
}
.HeaderPrivacy {
	width: 170px;
	height: 20px;
	float: left;
	padding-top: 30px;
}
.HeaderPrivacy a {
	font-size: 12px;
	color: #333;
}

.EmailBTN {
	width: 54px;
	height: 30px;
	padding: 0;
	border: none !important;
	background: transparent url(ppon-M1_11.jpg) 0 1px no-repeat !important;
	box-shadow: none !important;
	display: inline;
}
.EmailBTN:hover {
	background: url(ppon-M1_11_hov.jpg) 0 1px no-repeat !important;
}
.LoginBox {
	width: 200px;
	text-align: right;
	float: right;
	margin: 14px 5px 0 0;
}
#Login {
	width: 100%;
	height: 40px;
	text-align: right;
	font-size: 16px;
	color: #333;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
#Login img { vertical-align: middle; margin-right: 10px; border: none; }
#Login a { line-height: 40px; vertical-align: middle; }
/*for piinlife*/
.mc-menu-btn{ display: none;}
.mc-menu-btn_HDmenu{ display: none;}
#middle-mc-menu-btn_HD{display: none;}/*17時 品生活選單隱藏*/
.mc-menu-btn_HD{ display: none;}
#PiinlifeLogo{ display: none;}
/*登入後*/
.LoginBoxAfter{
	width: 200px;
	text-align: right;
	float: right;
	margin: 14px 5px 0 0;
}
.MembernavList{ display: none;}
.member-name,.rd-hide{; height: 40px; line-height: 40px;}


#navi {
	width: auto;
	background: #323028;
	margin: 25px auto;
	border-bottom: 3px solid #bf0000;
    margin-bottom: 32px;
}
.logo-inline {
	width: 141px;
	height: 80px;
	float: left;
	margin-top: -20px;
	margin-right: 20px;
}
#navimain {
	width: 960px;
    font-size: 12px;
	height: 35px;
	margin: 0 auto;
	text-align: center;
}
#navimain a {
	color: #FFF;
	text-decoration: none;
}
#navimain li { float: left; border-right: 1px solid #434138; border-left: 1px solid #434138; margin-left: -1px;}
#navimain .fr { float: right; }
#navimain .lr { float: left; }
.NavAD_sp { 
	height: 35px;
	float: left;
	display: block;
}
.navbtn {
	width: 80px;
	height: 35px;
	float: left;
	display: block;
	font: 14px/35px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	color: #FFF;
}
.navbtn:hover {
	background: -webkit-linear-gradient( #DF0000, #BF0000);
 	background: -moz-linear-gradient( #DF0000, #BF0000);
	background: -ms-linear-gradient( #DF0000, #BF0000);
	background: -o-linear-gradient( #DF0000, #BF0000);
	background: linear-gradient( #DF0000, #BF0000);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DF0000', endColorstr='#BF0000',GradientType=0 ); 
	border: 0;
}
.mc { position: relative; }
.mc .dropdownlist { 
	display: none; 
	position: absolute; 
	top: 35px; 
	z-index: 9999; 
}
.mc:hover .dropdownlist { display: block; }
#navimain .dropdownlist, #navimain .dropdownlist li {
	width: 105px;
	height: 30px;
	text-align: center;
}
#navimain .dropdownlist li {
	width: 105px;
	height: 30px;
	text-align: center;
	font: 14px/30px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	background: #323028;
}
#navimain .dropdownlist li:hover {
	background: #BF0000;
}
#navimain li {
	position: relative;
	/*border-bottom: 3px solid #bf0000;*/ /*似乎引響搜尋欄位輸入文字後的狀態*/
}
#navimain li a.navbtn_inpage:after {
	border-color: #bf0000 transparent transparent;
	border-style: solid;
	border-width: 9px 5px 5px;
	content: "";
	left: 43%;
	position: absolute;
	z-index: 1000;
	bottom: -14px;
}
.navbtn_inpage{
	width: 80px;
	height: 35px;
	float: left;
	display: block;
	background: -webkit-linear-gradient( #DF0000, #BF0000);
 	background: -moz-linear-gradient( #DF0000, #BF0000);
	background: -ms-linear-gradient( #DF0000, #BF0000);
	background: -o-linear-gradient( #DF0000, #BF0000);
	background: linear-gradient( #DF0000, #BF0000);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DF0000', endColorstr='#BF0000',GradientType=0 ); 
	font: 14px/35px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	color: #FFF;
	border: 0;
	/*border-radius: 5px 5px 0 0;*/
}
.center {
	width: 960px\9;
	height: auto\9;
	display: block\9;
	margin: 10px auto\9;
}
.center {
	width: 960px;
	height: auto;
	display: block;
	margin: 10px auto;
}
#TOPBanner {
	width: 960px;
	height: auto;
	margin:0 auto 10px auto;
}
#TOPBanner>#newscontent>img{ display: none;} 
#MTOPBanner {
	width: 310px;
	height: auto;
	margin:0 auto 10px auto;
}
#Act-TOP {
	width: 960px;
	height: auto;
	margin:0 auto 10px auto;
	position: relative;
}

.ServiceImg1{
	padding: 0px;
	margin: 0 0 -4px 0;
}
#FacebookareaContent { margin: 0 auto; text-align: center; }

.sildeWrap{ display: none}/*for piinlife*/

/*17Life Ppon V3 Footer*/
.p3footer { width: 100%; margin: 0 auto; padding: 10px 0 30px 0; background: #31312C; }
.p3footer .footer_content { width: 960px; margin: 0 auto; }
.p3footer .contentblock_300 { width: 290px; float: left; padding-top: 25px;  padding-left: 10px; }
.p3footer .contentblock_180 { width: 170px; float: left; padding-top: 25px;  padding-left: 10px; }
.p3footer .footer_logo { width: 90px; height: 60px; /*background: url(../images/footer.png);*/float: none; }/*品生活footer 會有bug*/
.p3footer .TP_17life { width: 150px; height: 30px; background: url(../images/footer.png) 0 -100px; }
.p3footer .TP_PEZ { width: 150px; height: 30px; background: url(../images/footer.png) 0 -130px; }
.p3footer .TP_Certification { width: 150px; height: 30px; background: url(../images/footer.png) 0 -160px; }
.p3footer .TP_Service { width: 150px; height: 30px; background: url(../images/footer.png) 0 -190px; }
.p3footer .contentlist { border-left: 2px solid #666; margin-bottom: 10px; margin-left: 2px; padding-left: 5px; }
.p3footer .contentlist ul { list-style: none; padding: 0; margin: 0; }
.p3footer .contentlist li { line-height: 20px; font-size: 13px; color: #CCC; }
.p3footer .contentlist li a { font-size: 13px; text-decoration: none; color: #CCC; }
.p3footer .contentlist li a:hover { color: #FFF; }
.p3footer p.serviceTime{padding: 0 0 5px 0; line-height: 20px;}
.p3footer p { padding: 5px 0; font-size: 13px; color: #CCC; }
.p3footer p{ letter-spacing: -1px\0;}/*ie的公司地址換行處與chrome不符*/
.p3footer p.visaTitle_rwd{ display: none;}/*品生活rwd專屬標語 17life不顯示*/
.p3footer span.visaTitle{ display: none;}/*品生活專屬標語 17life不顯示*/
.p3footer .TP_twService{width: 150px; height: 30px; background: url(../images/footer.png) 0 -250px; margin-bottom: 5px;}
.p3footer .twService{/*background:url(twService_logo.png) no-repeat;*//**/ width: 100%; height: 80px; border-left: 2px #666 solid; padding: 0 15px 10px 5px; /*margin-top: 20px;*/}/*台灣服務logo*/
.p3footer .twService .twService-img{float: left; /*width: 86px; height: 80px;*/ width: 84px; height: 74px; margin-right: 10px; margin-left: 5px;  margin-top: 5px; }
.p3footer .twService p{float: left;  width: 150px;}
.clear { clear: both; }

/*for taishin masterpage*/
.fortaishin #PponLOGO {
	width: 400px;
	height: 96px;
	float: left;
	background: url(taishin_logo_for17.png) no-repeat;
}
.fortaishin #EmailTitle, .fortaishin .EmailBTN {
	display: none;
}
.fortaishin .provided {
	width: 182px;
	height: 96px;
	float: right;
	background: url(providedby17life.png) no-repeat;
}
.p3footer.fortaishin { padding: 0; background: #D9291A; }
.p3footer.fortaishin .contentblock_300, .p3footer.fortaishin .contentblock_180 { display: none; }
.tsprovided {
	width: 182px;
	height: 96px;
	float:none;
	margin: 0 auto;
	background: url(providedby17life.png) no-repeat;
}
.p3footer.fortaishin .footerlogo { width: 144px; height: 35px; float: right; background: url(Taishin_footer_logo.png) no-repeat; }

/*Module Form style*/
.grui-form { padding: 15px 20px; font-size: 15px; color:#333; }
.grui-form .form-tittle { margin-bottom: 5px; padding-bottom: 6px; border-bottom: 1px solid #F2F2F0; display: inline-block; width: 100%; } /*B1-Pay-Step1-Set-ariel*/
.grui-form .form-unit { margin-bottom: 5px; padding-top: 5px; border-bottom: 1px solid #F2F2F0; }
.grui-form .form-unit-valign { display:flex; align-items:center; }
.grui-form .form-unit.btn-align-center { text-align: center;}
.grui-form .form-unit.error { background: #FFDDD0; }
.grui-form .form-unit.disabled { background: #CDCDCD; }
.grui-form .form-unit .errormsg { color:#F00; }
.grui-form .form-unit.sublevel, .grui-form .form-unit.end-unit { border-bottom: none; }
.grui-form .form-unit .unit-label { float: left; width: 135px; padding-top: 5px; padding-bottom: 5px; text-align: right; }
.grui-form .form-unit .unit-label.account-label { width: 80px; text-align: left; }
.grui-form .form-unit.sublevel .unit-label { width: 135px; width: 91px; }
.grui-form .form-unit .unit-label.title { font-weight: 600; }
.grui-form .form-unit .unit-label-check:before{content: url(../images/check_btn_14x14.png); /*display: none;*/}/*手機號碼認證*/
.grui-form .form-unit .data-input { margin-left: 160px; }
.grui-form .form-unit .data-input-valign { margin-left: 25px; }
.grui-form .form-unit .data-input.account-input { margin-left: 80px;}
.grui-form .form-unit .data-input ul.login-way li{width: 240px;  line-height: 47px; border-bottom: 1px solid #e4e4e4; margin: 0 0 10px 0;}
.grui-form .form-unit .data-input ul.login-way li img{float: left;margin-top: 12px;  }
.grui-form .form-unit .data-input ul.login-way li span{ width: 60px; margin: 0 10px 0 10px; display:inline-block;}
.grui-form .form-unit .data-left { margin-left: 35px; }
.grui-form .form-unit.sublevel .data-input { margin-left: 100px; }
.grui-form .form-unit .data-input p, .grui-form .form-unit .data-input label,
.grui-form .form-unit .data-whole p { display: inline-block; *display: inline; vertical-align: top; margin-right: 10px; margin-bottom: 10px; padding-top: 5px; *padding-top: 0; }
.grui-form .form-unit .data-input label.second-label { margin-bottom: 0px;}
.grui-form .form-unit.sublevel .data-input p, .grui-form .form-unit.sublevel label { margin-right: 0; }
.grui-form .form-unit .data-input p.note { font-size: 12px; color:#666; }
.grui-form .form-unit .data-input p.login-note { font-size: 12px; color:#666; }
.grui-form .form-unit .data-input p.credit { margin-right: 0; }
.grui-form .form-unit .data-input label.data-input-label{ margin: 0; padding: 0;} /*20150323 用label把 inpyt和radio包起來*/
.grui-form .form-unit .data-input label.data-input-label p{ padding-top: 4px;} /*20150323 用label把 inpyt和radio包起來*/
.grui-form .form-unit .data-input label.data-input-label p.note{ padding-top: 6px; } /*20150323 用label把 inpyt和radio包起來*/
.grui-form .form-unit .data-input label.data-input-label p.blank{ line-height: 30px; padding: 0;} /*20150323 用label把 inpyt和radio包起來*/
.side_block_content .safelytext { color: #090; font-weight: 600; }
.side_block_content p.important { color: #BF0000; font-weight: 600; }
.grui-form .form-unit .data-input p.subnote { margin-left: 25px; display: block; font-size: 12px; color:#666; }
.grui-form .form-unit .data-input p.instalment { font-size: 12px; color:#666; }
.grui-form .form-unit .data-input p.login { display: block; font-size: 12px; color:#666; }
.grui-form .form-unit .data-input p.headnote { display: block; font-size: 12px; color:#666; }
.grui-form .form-unit .data-input p a { color:#08C; }
.grui-form .form-unit .data-input p.if-error { color:#BF0000; }
.grui-form .form-unit .data-input p.important { font-size: 15px; font-weight: 600; color:#BF0000; }
.grui-form .form-unit .data-input span.blank { line-height: 30px; }
.grui-form .form-unit .data-input select,
.grui-form .form-unit .data-input textarea,
.grui-form .form-unit .data-input input[type="text"],
.grui-form .form-unit .data-input input[type="password"],
.grui-form .form-unit .data-input input[type="tel"],
.grui-form .form-unit .data-input input[type="textarea"] {
  display: inline-block;
  height: 20px;
  padding: 3px 5px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.grui-form .form-unit .data-input input[type="checkbox"] ,
.grui-form .form-unit .data-input input[type="radio"] { width: auto; margin-top: 8px; padding: 3px 5px; vertical-align: top; border: none; }
/*LINE Pay Logo*/
.SelectedPayWay .linepay_logo{
    display: block;
    width: 91.92px;
    height: 26.4px;
    background-image: url(../images/2016_linepay_logo.jpg);
    background-position: -59.5px -51.2px; 
    background-size: 210.48px 148.4px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display:inline-block;
}

/*新光三越 索取好康 160225 開始*/
.grui-form .form-unit .mb10_skm{
	margin-bottom:10px;
}
.grui-form .form-unit .data-input input.chk_skm{
	margin-top:4px;
}
/*新光三越 索取好康 160225 結束*/

/*台新信用卡分期radio*/.credit-instalment { margin-left: 25px;}
.grui-form .form-unit .data-input label.data-input-label input[type="checkbox"] ,
.grui-form .form-unit .data-input label.data-input-label input[type="radio"] {} /*20150323 用label把 inpyt和radio包起來*/
.grui-form .form-unit .data-input select { width: 90%; height: 28px; margin-left: 0; line-height: 28px; }
.grui-form .form-unit .data-input .input-full { width: 60%; margin-right: 10px; }
.grui-form .form-unit .data-input .input-2over3 { width: 55%; margin-right: 10px; }
.grui-form .form-unit .data-input .input-50per { width: 50%; margin-right: 10px; }
.grui-form .form-unit .data-input .input-half { width: 30%; margin-right: 20px; }
.grui-form  .form-unit.sublevel .data-input .input-half { margin-right: 10px; }
.grui-form .form-unit .data-input .input-small { width: 20%; margin-right: 20px; }
.grui-form .form-unit .data-input .input-mini { width: 10%; margin-right: 20px; }
.grui-form .form-unit .data-input .input-credit  { width: 10%; }
.grui-form .form-unit .data-input.btn-center { margin: 0 auto;} 
.grui-form .form-unit .data-input .align-fix { margin-left: 5px; }
.grui-form .form-unit .data-input .select-wauto { width: auto; }
.grui-form .form-unit .data-input select,
.grui-form .form-unit .data-input textarea,
.grui-form .form-unit .data-input input[type="text"],
.grui-form .form-unit .data-input input[type="password"],
.grui-form .form-unit .data-input input[type="tel"],
.grui-form .form-unit .data-input input[type="textarea"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
.grui-form .form-unit .data-input textarea:focus,
.grui-form .form-unit .data-input input:focus,
.grui-form .form-unit .data-input select:focus { 
  border-color: rgba(191, 0, 0, 0.6);
  outline: 0;
}
/*201508 個人發票載具/資料管理 by stan */
.grui-form-row{ padding: 5px 20px 0px;} 
.grui-form-row .form-unit{ border: none; margin-bottom: 0;} 
.grui-form-row .form-unit .data-input select{ margin:0 20px 0 0;}

/*201503_現金券活動代碼領取功能*/
.discount_user_exchange_wrapper .form-unit{ border: none;} 
.discount_user_exchange_wrapper .discount_user_exchange .input-2column-long { width: 20%; margin-right: 0px; } 
.discount_user_exchange_wrapper .discount_user_exchange .input-2column-short { width: 15%; margin-right: 10px; }
.discount_user_exchange_wrapper .discount_user_exchange p.cancel-mr{ width: 30%; } 
.discount_user_exchange_wrapper .discount_user_exchange p.cancel-mr input{ width: 80%;} 
.discount_user_exchange_note p.important{ border-bottom: 1px solid #F2F2F0; margin-bottom: 5px;}
.discount_user_exchange_note ul li{  text-indent: -1.0em; margin-left:1.4em; font-size: 12px ; color: #666; line-height: 22px; }

/*20150224 未登入系統錯誤提示*/
.grui-form .form-unit .enter-error{line-height: 25px; height: 25px; margin-bottom:10px; }
.grui-form .form-unit .enter-error img{ float: left; margin:0px 5px 0 0;}
.grui-form .form-unit .enter-error p{ /*float: left;*/ display: block; padding: 0; font-size: 80%; color: #bf0000; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;}

.grui-form .warning-box { margin: 10px; line-height: 30px; text-align: center; color: #BF0000; border:1px solid #FFAAA0; border-radius: 5px; background: #FFDDD0; }
.grui-form .warning-box-login {  background: #FFDDD0; }/*20150224 高過金額 必須登入*/
.grui-form .btn-center {text-align: center;margin: 0 20px 20px;}
.grui-form .data-whole textarea{ width: 100%;}
.permutation li { float: left; }
/*20150910*信用卡付款新增promo圖片*/
.grui-form .visa-promo {
	margin-left: 25px;
	margin-bottom: 15px;
	margin-right: 10px;
	border: 3px solid #fff;
	box-shadow: 0px 0px 2px #ccc;
}
.grui-form .visa-promo a { display: block;}
/*Module Button Style Mod from bootstrap*/
.btn, .nobtn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(../images/btn_bk_ie.png);
  background-color: #d7d7c7;
  background-image: -moz-linear-gradient(top, #ffffff, #d7d7c7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d7d7c7));
  background-image: -webkit-linear-gradient(top, #ffffff, #d7d7c7);
  background-image: -o-linear-gradient(top, #ffffff, #d7d7c7);
  background-image: linear-gradient(to bottom, #ffffff, #d7d7c7);
  background-repeat: repeat-x;
  border: 1px solid #333;
  *border: 0;
  border-color: #333;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd7d7c7', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn + .btn { margin-left: 10px; }
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color: #333333;
  background-color: #d7d7c7;
  *background-color: #d9d9d9;
}
.btn:active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;

}
.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/*.btn-xlarge {
  padding: 15px 75px;
  font-size: 18px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}*/
.btn-large {
  padding: 12px 35px;
  font-size: 18px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.btn-mini.payment { margin-bottom: 10px;}
.btn-mini-wide {
  padding: 0 7px;
  font-size: 10.5px;
  margin-top: -2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: url(../images/btn_bk_pri_ie.png);
  background-color: #9f0000;
  background-image: -moz-linear-gradient(top, #df0000, #9f0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#df0000), to(#9f0000));
  background-image: -webkit-linear-gradient(top, #df0000, #9f0000);
  background-image: -o-linear-gradient(top, #df0000, #9f0000);
  background-image: linear-gradient(to bottom, #df0000, #9f0000);
  background-repeat: repeat-x;
  border-color: #9f0000;
  border-color: rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f#df0000', endColorstr='#ff9f0000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active
{
  color: #ffffff;
  background-color: #9f0000;
}
.btn-primary.btn-primary-flat{
	background: #bf0000;
	text-shadow:none;
	text-decoration: none;
	box-shadow: none;
	color: #fff;
}
.btn-primary.btn-primary-flat:hover{
    background: #9f0000;
}
.btn-primary.btn-primary-flat-HD{
	background: #f70;
	box-shadow: none;
}
.btn-primary.btn-primary-flat-HD:hover{
    background: #d86500;
}
.btn-primary.btn-primary-itemsize{
	width: 50px;
	height: 17px;
	font-size: 15px;
	border-radius: 5px;
}
.btn-primary-flat.disabled,.btn-primary-flat.disabled:hover{
	background-color: #999;
	cursor: not-allowed;
	color: #fff;
}
.btn-primary-flat.btn-large, .btn-default-flat.btn-large{
	width: 190px;
}
.btn-default.btn-default-flat{
	text-shadow:none;
	text-decoration: none;
	box-shadow: none;
	color: #bf0000;
	border: 1px solid #bf0000;
	background: #fff;
	
}
.btn-default.btn-default-flat:hover{
	background: #ffeded;
}
.btn-default.btn-default-flat-HD{
	color: #f70;
	border: 1px solid #f70;
}
.btn-default.btn-default-flat-HD:hover{
	background: #ffe3c8;
}
.btn-default.btn-default-flat.disabled{
	text-shadow:none;
	text-decoration: none;
	color: #999;
	border: 1px solid #999;
	background: #fff;
	
}
.btn-default.btn-default-flat.disabled:hover{
	cursor: not-allowed;
	background: #fff;
}
.btn-group-full-page-center{
	margin:auto;
	text-align:center;
	min-width: 320px;
    max-width: 400px;
}
.btn-green{
	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#36a805+0,008404+100 */
	background: #008404; /* Old browsers */
	background: -moz-linear-gradient(top, #36a805 0%, #008404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #36a805 0%,#008404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #36a805 0%,#008404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a805', endColorstr='#008404',GradientType=0 ); /* IE6-9 */
}
.btn-green:hover, .btn-green:focus, .btn-green:active
{
  color: #ffffff;
  background: #008404;
}
/* 新增購物車結帳頁用的藍按鈕 160922 by getter  */
.btn-blue.btn-blue-flat{
  background: #08c;
  box-shadow: none;
  border: 1px solid #08c;
  color: #fff;
}
.btn-blue.btn-blue-flat:hover{
  background: #0275b0;
}

.btn-dontclick {
  color: #ffffff;
  /*cursor: not-allowed;*/
  cursor:auto;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: url(../images/btn_bk_pri_ie.png);
  background-color: #353535;
  background-image: -moz-linear-gradient(top, #545454, #353535);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#353535));
  background-image: -webkit-linear-gradient(top, #545454, #353535);
  background-image: -o-linear-gradient(top, #545454, #353535);
  background-image: linear-gradient(to bottom, #545454, #353535);
  background-repeat: repeat-x;
  border-color: #353535;
  border-color: rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f#545454', endColorstr='#ff353535', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* 20160922 by getter */
.btn-small.btn-defult.btn-defult-flat{
  background: #fff;
  box-shadow: none;
}
.btn-small.btn-defult.btn-defult-flat:hover{
  background: #eee;
}



/*20152012 未登入系統disable 按鈕bug*/
.btn-dontclick:hover{
	background-position: 0;
	color: #fff;
	border-color: black;
	}

.form-inline-btn { margin-bottom: 11px; }
.super-coupon-btn { margin-bottom: 5px; display: inline-block;}
/*Module Pagination Style*/
.Pagination {
	margin: 10px auto 20px auto;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}
.Pagination a:link,
.Pagination a:hover,
.Pagination a:active,
.Pagination a:visited
 { color: #333 !important; }
.Pagination-arrow-previous {
	margin-right: 20px;
	padding-left: 20px; 
	background: url(../images/Pagination.png) 0 0 no-repeat;
}
.Pagination-arrow-previous:hover{
	background: url(../images/Pagination.png) 0 -70px no-repeat;
}
.Pagination-arrow-next {
	margin-right: 20px;
	padding-left: 20px;
	background: url(../images/Pagination.png) 0 -35px no-repeat;
}
.Pagination-arrow-next:hover{
	background: url(../images/Pagination.png) 0 -105px no-repeat;
}

.member-name {
	max-width: 90px;
	/*height: 40px;*/
	/*display: inline-block;*/
	text-align: right;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}

/*RWD initial state*/
.ch-itemdeli-mb, .ch-beauty-mb/*.ch-fami, .rd-mc*/ { display: none; }
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle{display: none; }
.rd-DisplayPanel, .rd-layout-switch, .mbe-nav-city, .mbe-menu-btn {display: none; }

/*Error Page*/
.error-text { color: #BF0000; display: inline-block; }

.errpage-bg {
	max-width: 100%;
	height: auto;
	background: url(../images/err_bg.jpg) top center no-repeat;
	background-size: cover;
	padding: 250px 0 150px;
}
.errpage-note {
	width: 500px;
	height: auto;
	padding-left: 25px;
	font-family:'Microsoft JhengHei';
	position: relative;
	left: 53%;		
}
.errpage-note h1 {
	font-size: 30px;
	line-height: 40px;
	letter-spacing: -1px;
	color: #333;
	font-weight: bold;
}
.errpage-note p {
	font-size: 15px;
	color: #000;
	line-height: 24px;
}
.errpage-note p.errpage-code {
	margin: 5px 0 30px;
	font-size: 13px;
	color: #CCC;
}
.errpage-note p.link, .errpage-note p.link a {
	font-size: 13px;
	color: #08C;
}
.errpage-note p.link a:hover {
	text-decoration: underline;
}
.errpage-footer { width: 100%; margin: 0 auto; padding: 10px 0; background: #31312C; }
.errpage-footer .footer_content { width: 960px; margin: 0 auto; }
.errpage-footer .footer_content p.copyright {
	float: left;
	font-size: 13px;
	color: #CCC;
	line-height: 100px;
}
.errpage-footer .footer_content .all-logo {
	width: 329px;
	height: 100px;
	float: right;
	text-indent: -19990px;
	background: url(../images/err_footer_logo.png) no-repeat;
}

/*for Hinet Hami*/

.toolbarMenu {
    height: 43px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #98bc1c), color-stop(1, #dde468));
    border-bottom: 1px solid #6da926;
}
a.backBtn {
	position: absolute;
	top: 8px;
	left: 6px;
	max-width: 60px;
	padding: 0 3px;
	width: auto;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	border-width: 0 8px 0 14px;
	-webkit-border-image: url(backButton.png) 0 8 0 14;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
}

/*for iphone5s event*/
.evt {
	width: 210px;
	height: 80px;
	position: absolute;
	top: 8px;
	left: 540px;
	font-weight: 600;
}
.evt.nlogin { background: url(iphone-state.png) 0 -85px no-repeat; }
.evt.login { background: url(iphone-state.png) 0 0 no-repeat; }
.evt-nlogin-content { 
	width: 150px;
	height: 60px;
	margin-top: 15px; 
	margin-left: 45px;
	font-size: 12px;
	color: #BF0000;
	text-align: center;
}
.evt-login-content { 
	width: 90px;
	height: 60px;
	margin-top: 5px; 
	margin-left: 5px;
	display: inline-block;
	font-size: 12px;
	text-align: center;
}
.evt-login-content .s-imp {
	font-size: 20px;
	color: #BF0000;
}
.pay-evt .s-imp {
	font-size: 26px;
	color: #BF0000;
}
.pay-evt-bg { background: url(../images/iphone-state-bg.jpg) no-repeat; }
.evt a { color: #0000FF; text-decoration: underline; }
.pay-evt { margin: 10px; font-size: 18px; font-weight: 600; color: #333; }
.pay-evt a { color: #08C; }

/* 20150224 首購送500購物金背景圖*/
.fistbuy-bg{   width: 100%; }
.fistbuy-bg >a{ display: block; background: #060a0f;}

/*增加手機輸入號碼下載app*/
#Headermiddle .White{display: none;}
/**/
.HeaderPhone input[type="text"]{ height: 22px; width: 122px; padding-left: 2px; border-radius:3px; font-size: 12px;}
#Headermiddle .HeaderPhone{ 
	display:block;
	width: 186px; 
	height: 30px; 
	padding-left: 25px; 
	background: url(../images/ppon-phone.jpg) 0 1px no-repeat !important;
	float: right; margin: 0px 0 0 0;
}
#Headermiddle .PhoneBTN{
	width: 54px;
	height: 30px;
	padding: 0;
	border: none !important;
	background: transparent url(ppon-pone_btn.jpg) 0 1px no-repeat !important;
	box-shadow: none !important;
	display: inline;
}
#Headermiddle .PhoneBTN:hover {
	background: url(ppon-pone_btn_hov.jpg) 0 1px no-repeat !important;
}

/*滑動選單*/
#mixedContent { display: none;}

/*overlay-channel*/
.overlay-channel{ 
	float: right; 
	margin: 5px 0px 5px 0; 
	padding: 0 15px 0 0;  
	line-height: 40px; 
	border-right:1px solid #cdcdcd;  
	font-size: 14px; 
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
.overlay-channel a{ text-decoration: none;}


/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: rgba(153,204,51,0.9);*/
	background: rgba(255,255,255,0.9);
	z-index: 50;/*解決 選擇好康頻道 被檔次遮蓋問題*/
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 34px;
	height: 34px;
	position: absolute;
	right: 10px;
	top: 5px;
	overflow: hidden;
	border: none;
	background: url(../images/overlay-channel-cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;/**/
	position: relative;
	/*top: 50px;*/
	top: 5px;
	/*height: 60%;
	-webkit-transform: translateY(-0%);
	transform: translateY(-0%);*/
	
}
.overlay nav h2{color: #666; text-align: left; margin-left: 2.5%; line-height: 40px; }

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0px auto;
	display: inline-block;
	height: 100%;
	width: 95%;
	position: relative;
	border: 1px solid #cdcdcd;
	border-bottom: none;
}

.overlay ul li {
	
	/*height: 20%;
	height: calc(100% / 5);
	min-height: 54px;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 0;

}

.overlay ul li a {
	/*font-size: 54px;*/
	line-height: 40px;	
	font-weight: 300;
	display: block;
	color: #676767;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	background: #fff;
	text-align: left;
	padding: 2px 8px 2px 8px;/*8px;*/
	border-bottom: 1px solid #cdcdcd;
	
}
.overlay ul li:last-child{border-bottom:none;}
.overlay .menu-ch-icon{ width: 40px; /*height: 56px;  background: pink;*/ float: left; margin-right: 10px; }
.overlay#menu-channel img{ width: 100%;}


/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}
.overlay-channel-icon{ height: 40px; display:table;}
.overlay-channel-icon{ width: 12px; float: right;   }
.overlay-channel-icon img{ width: 100%; padding: 13px 0 0 3px;}
.overlay-channel{display: none;}


/*201409 手機認證相關 by stan*/
.phone-approve .grui-form{ padding: 0;}
.phone-approve .grui-form .form-unit{ border-bottom: none;}
.phone-approve .grui-form .form-unit .data-input{ margin-left: 0; margin: 10px 0 0 0;}
.phone-approve .grui-form .form-unit .data-input .input-full{ width: 80%;}
.phone-approve .grui-form .form-unit .data-input .input-half{ width: 40%;}
.phone-approve .grui-form .form-unit .data-input input[type="text"]{ /*height: 30px; line-height: 30px;*/}
.phone-approve .mc-content { min-height: 150px;}


.phone-approve .grui-form .enter-error{ color: red; line-height: 25px; height: 25px; /*background: url(enter-error.png) no-repeat;*/}
.phone-approve .grui-form .enter-error img{ float: left; margin:2px 5px 0 0;}
.phone-approve .grui-form .enter-error p{ float: left; font-size: 90%; color: #bf0000; }

.phone-approve .mc-content .grui-form .info {padding: 0;}
.phone-approve .mc-content .fixwidth .btn-center{ margin: 0;}
.phone-approve .mc-content .fixwidth .btn{ margin: 0;}
.phone-approve .mc-content .input-fixwidth{ width: 60%; float: left;}
.phone-approve .mc-content .info { padding: 20px; font-size: 14px; }
.phone-approve .mc-content .btn-center { margin-bottom: 20px;  text-align: center; }

.phone-approve .fixwidth{ display: inline-block; float: left; color: #949494; }

.phone-approve .mc-content h1.success { color: #090; }
.phone-approve .mc-content .member_success { width: 200px; height: 200px; position: absolute; right: 0; top: 0; background: url(../images/payment_success.png) no-repeat; }
.phone-approve .mc-content.content-group {
    position: relative;
}
a.resent-mail{ color: blue; text-decoration: underline;}
/*20150112 新SlideBN 套件 修改CSS*/
.temp-banner-block .pagination { z-index: 5;}

/*新增RWD客服中心*/
.support_c {display:none;}


/*20150520新光三越好好集dropdownlist*/
#navimain .dropdown-mom { position: relative;}
#navimain ul.hhg-dropdown {
	width: 300px;
	position: absolute;
	top: 35px;
	left: -82px;
	z-index: 9997;
	border-top: 3px solid #bf0000;
	display: none;
}
#navimain ul.hhg-dropdown li {
	width: 80px;
	height: 31px;
	float: left;
	background: #fff;
	border: 1px solid #d1d1d1;
	border-top: 0px;
	color: #555555;
	line-height: 32px;
	cursor: pointer;
}
#navimain .dropdown-mom:hover > ul.hhg-dropdown { display: block;}
#navimain ul.hhg-dropdown li:hover { color: #bf0000;}
#navimain ul.hhg-dropdown li.hhg-background {
	background: #fff url(../images/hhg-logo-b.png) no-repeat center;
	position: relative;
}
#navimain ul.hhg-dropdown li.harrods-background {
	background: #fff url(harrods-logo-b.png) no-repeat center;
}
#navimain ul.hhg-dropdown li img {
	height: 100%;
	opacity: 0;
}
#navimain ul.hhg-dropdown li.hhg-background:hover >  img {
	opacity: 1;
}
#navimain ul.hhg-dropdown li.harrods-background:hover >  img {
	opacity: 1;
}
.hhg-background ul { display: none; position: absolute; top:32px;}
.hhg-background:hover > ul { display: block;}

/*20150525-新光三越檔次列表*/
.sk_content_box { 
	width: 460px;
	margin: 15px 9px;
	border: 1px solid #b5b5b5;
	position: relative;
}
.sk_deal_pic {
	width: 336px;
	cursor: pointer;
}
.sk_deal_right_block {
	float: left;
}
.sk_tag_location, .sk_tag_title, .sk_tag_subtitle {
	display: block;
}
.sk_tag_location {
	width: 80px;
	height: 18px;
	overflow: hidden; 
	text-align: center;
	margin: 5px 0;
	margin-left: 10px;
	background: #d9d9d9;
	color: #333;
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	font-size: 12px;
}
.sk_tag_title {
	width: 110px;
	height: 16px;
	margin: 5px 0;
	margin-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	line-height: 16px;
	overflow: hidden;
}
.sk_tag_subtitle {
	width: 110px;
	height: 34px;
	margin-left: 10px;
	font-size: 14px;
	color: #333;
	line-height: 16px;
	overflow: hidden;
}
.sk_deal_price {
	color: #f00000;
	font-size: 28px;
	margin-left: 10px;
}
.sk_oriprice {
	margin-top: -8px;
	margin-left: 10px;
	color: #333;
	font-size: 12px;
	text-decoration: line-through;
}
.sk_buy_btn {
	width: 115px;
	padding: 5px 0;
	padding-left: 10px;
	position: absolute;
	bottom: 8px;
	background: #333;
	color: #fff;
	cursor: pointer;
}
.sk_buy_btn.sk_sold_out {
	background: #ccc;
	cursor: default;
}
/*信用卡紅利折抵跳窗2015/06/29-Alan*/

.back-black {
	width: 100%;
  	background: #000;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}
.card-check-warning {
	padding: 10px;
    display: none;
	border: 3px solid #bf0000;
	background: #fff;
	text-align: left;
}
.card-check-warning p {
	margin-bottom: 5px;
}
.grui-form .form-unit .data-input .card-check-warning p {
	display: block;
	font-size: 14px;
}
.check-point { color: #bf0000;}
.font-weight { font-weight: bold;}
.grui-form .form-unit .data-input.rd-pay-span-ctr{
	position: relative;
}
.member.member_credit ul {
	padding: 0px 20px 10px 20px;
}
.member.member_credit li {
	list-style: none;
	font-size: 14px;
}
.member.member_credit p.cash-list {
	width: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}
#mc-table.order-detail td.CheckMode {   
	font-size: 14px;
	font-weight: bold;
	color: #333;
  	padding: 5px;
  	background-color: #eee;
  	border-right: 1px solid #cdcdcd;
}
#mc-table.order-detail td.DiscountMode {   
	font-size: 14px;
	font-weight: bold;
	color: #333;
  	padding: 5px;
  	background-color: #eee;
  	border-right: 1px solid #cdcdcd;
  	border-left: 1px solid #cdcdcd;
}
#mc-table.order-detail .DiscountMode-data tr:nth-child(even), #mc-table.order-detail tr.rd-C-Hide.line-top:nth-child(even) {
	background-color: #fff;
}
#mc-table.order-detail .DiscountMode-data td {
	line-height: 16px;
}
#mc-table.order-detail .fixtr td {
	width: 25%;
}
#mc-table.order-detail td.OrderPayTotal {
	font-size: 16px;
	font-weight: bold;
	color: #bf0000;
}
.line-top {
	border-top: 1px solid #cdcdcd;
}

/***
*
* 新M版 header_wrapper 跟屁蟲/正常選單共用
*
***/
.header_wrap {
  background: #fff;
  width: 100%;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
}
.header_wrap .header {
  border-bottom: 1px solid #ddd;
  height: 48px;
  line-height: 48px;
  padding: 0 10px 0 10px;
  font-size: 100%;
}
.header_wrap .header .header_logo {
  margin: 0 auto;
  width: 90px;
  height: 48px;
}
.header_wrap .header .header_logo img {
  width: 100%;
}
.header_wrap .header .header_left a {
  float: left;
  display: block;
  width: 44px;
  height: 48px;
  text-align: center;
}
.header_wrap .header .header_left span {
  line-height: 1;
  color: #999;
  font-size: 80%;
}
.header_wrap .header .header_left i {
  width: 38px;
  margin: 12px 0 0 0;
  margin-bottom: 7px;
}
.header_wrap .header .slider_btn {
  float: right;
}
.header_wrap .header:after {
  content: '';
  display: block;
  clear: both;
}
.header_wrap .nav {
  display: block;
  clear: both;
  font-size: 100%;
}
.header_wrap .nav li {
  float: left;
  width: 20%;
  height: 85px;
  text-align: center;
}
.header_wrap .nav li a {
  height: 85px;
  display: block;
  background: #fff;
  color: #666;
  position: relative;
}
.header_wrap .nav li img {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0px auto;
  padding-top: 10px;
}
.header_wrap .nav li span {
  text-align: center;
  line-height: 1.3;
  font-size: 80%;
}
.header_wrap .nav li span.tag_channel {
  line-height: 12px;
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 12px;
  color: white;
  background: #bf0000;
  /*border-radius: 20px;*/
  padding: 0;
  padding: 2px 4px 2px 4px;
  /*border:1px solid #fff;*/
  box-shadow: 0px 1px 1px #650000;
  /**/
}
.header_wrap .nav li .over_black {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  color: white;
  font-size: 100%;
  position: absolute;
  top: 0;
}
.header_wrap .nav li .over_black p {
  margin-top: 20px;
  line-height: 1.3;
}
.header_wrap .nav li .on {
  background: #ddd;
  padding: 0px 5px;
  border-radius: 20px;
  color: #666;
  color: #666;
}
.header_wrap .nav:after {
  content: '';
  display: block;
  clear: both;
}

/***
*
* 新M版 header_wrapper_slider 跟屁蟲選單
*
***/
.header_wrap_slider {
  position: fixed;
  z-index: 50;
  top: 0px;
  opacity: 0.95;
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  filter: alpha(opacity=95);
  box-shadow: 0px 0px 9px 0 #999;
  border-bottom: 1px solid #999;
}
/***
*
* 台新儲值支付跳窗
*
***/
.tk_jump_alert {
	width: 60%;
	padding: 2%;
	background: #fff;
	border: 3px solid #ccc;
	border-radius: 10px;
	display: none;
	position: relative;
}
.tk_jump_alert i {
	position: absolute;
	top: -10px;
	right: -10px;
	color: #bf0000;
	cursor: pointer;
}

.tk_jump_alert h1 {
	font-size: 24px;
    line-height: 36px;
    color: #BF0000;
    text-align: center;
}
.tk_jump_alert li {
	font-size: 14px;
    color: #666;
}
.tk_jump_alert .btn-center {
	text-align: center;
	margin-top: 10px;
}
/***
*
* 品牌大街下滑選單
*
***/
.brand-dropdown { 
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 999;
	width: 460px;
	padding: 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	display: none;
}
#navimain li:hover > .brand-dropdown {
	display: block;
	transition: all .5s;
}
.brand-dropdown-block {
	width: 220px;
	margin-right: 10px;
}
.brand-dropdown h3 {
	color: #BF0000;
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.brand-dropdown p {
	padding: 0 5px;
	line-height: 16px;
	cursor: pointer;
	text-align: center;
	margin-top: 3px;
}
.brand-dropdown p.tag {
	color: #666;
	border: 1px solid #666;
	border-radius: 20px;
	padding: 0 5px;
	line-height: 16px;
	float: right;
	cursor: pointer;
}
#navimain .brand-dropdown li {
	width: 100%;
	padding: 8px 0;
	border: none;
	font-size: 12px;
	text-align: left;
	float: none;
}
#navimain .brand-dropdown li a {
	color: #666;
	display: block;
}
#navimain .brand-dropdown li a:hover {
	transition: all .5s;
	color: #bf0000;
}
.brand-dropdown img {
	margin: 5px; 
	margin-top: 0;
}
.brand-dropdown-block-full {
	width: 100%;
	margin-top: 10px;
}
#navimain .brand-dropdown .brand-dropdown-block-full li {
	display: inline-block;
	width: auto;
	margin: 3px 9px;
}



/***
*
* 搜尋 2015/11新增
*
***/
#navimain li.fr{ border-bottom: none;} /*seach下面有異常border*/
.suggestionBox {
    position:absolute;
    top: 32px;
    left: 1px;
    width: 135px;
    background-color: #fff;
    border: 1px #545454;
    color: #666;
    overflow:hidden;
    z-index: 3;
    text-align:left; 
    -moz-box-shadow: 2px 2px 3px #545454;
    -webkit-box-shadow: 2px 2px 3px #545454;
    box-shadow: 2px 2px 3px #545454;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#545454')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#545454');
}
.suggestionList {
    margin: 0px;
    padding:0px 0px 0px 0px;
}
.suggestionList li {
    margin: 0px 0px 3px 0px;
    padding:7px 0px 7px 7px;
    cursor: pointer;
    width: 134px;
    font-size: 10pt;
}
.suggestionList li:hover, .suggestionList .active {
    background-color: #e0e0e0; /* #e0e0e0 #bf0000 */
    /*color: #FFFFFF;*/
}

/* 購物車結帳頁用的藍色flat checkbox 160922 by getter */

.magic-checkbox{
  display: none;
}
.magic-checkbox + label{
  position: relative;
  display: block;
  height: 16px;
  cursor: pointer;
  vertical-align: middle;
}
.magic-checkbox + label:before{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: '';
  border: 1px solid #999;
}
.magic-checkbox:checked + label:before{
  background: #08c;
  border: 1px solid #08c;
}
.magic-checkbox:disabled + label:before{
  background: #999;
  border-color: #999;
}
.magic-checkbox:checked + label:after{
  display: block;
}
.magic-checkbox + label:after{
  top: 1px;
  left: 5px;
  box-sizing: border-box;
  width: 7px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}
.magic-checkbox:disabled + label:after{
  border-color: #666;
}
.magic-checkbox + label:after{
  position: absolute;
  display: none;
  content: '';
}