.NOrderUI table tr { padding:5px 0; }
#Entry img, #Entry embed, #Entry object, #Entry video { max-width:100%; max-height:auto; }
.Publicwelfare .HKL_Over1K_Badge { display: none;}

.NaviCitySequence { float: none;}
.search-button {
	width: 40px;
	height: 28px;
	background: url(search-button.png) #bf0000;
	padding: 0;
	border: 0;
	float: left;
	margin-left: -1px;
}
.marketing-block {
	width: 97px;
  	height: 35px;
  	float: left;
}