@charset "utf-8";

.EDMun-full-block {
	width: 100% ;
	margin: 35px auto ;
	font-family: Arial, sans-serif, "微軟正黑體", "Microsoft JhengHei" ;
	font-size:13px ;
	color:#333 ;
}
.EDMun-content {
	padding: 15px ;
	padding-bottom: 20px ;
	border: 1px solid #cecece ;
	background: #fff ;
	margin-bottom: 20px ;
}

.EDMunsubscribeArea {
	width:900px;
	height:300px;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-image: url(EDMun.jpg);
	background-repeat: no-repeat;
}
.unsubscribeOK {
	width:900px;
	height:285px;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-image: url(EDMCancelOK.jpg);
	background-repeat: no-repeat;
}
.Emailtitle {
	width:500px;
	height:auto;
	z-index:1;
	left: 310px;
	top: 71px;
	font-size: 28px;
	font-weight: bold;
	color: #333333;
	position: relative;
	font-family: "微軟正黑體";
	text-align: center;
}
.Emailtitle2 {
	font-size: 22px;
	font-weight: bold;
	color: #333333;
	position: relative;
	font-family: "微軟正黑體"; 
}
.EmailCity {
	font-size: 28px;
	font-weight: bold;
	color: #bf0000;
	position: relative;
	font-family: "微軟正黑體";
}
.unsubscribeBTN {
	width:500px;
	height:auto;
	z-index:2;
	display: block;
	position: relative;
	top: 90px;
	left: 320px;
	text-align: center;
}
.unsubscribeBTNOK {
	width:480px;
	height:auto;
	z-index:2;
	display: block;
	position: relative;
	top: 80px;
	left: 310px;
	text-align: center;
}

/*
.BTNok {
	width:297px;
	height:56px;
	z-index:1;
	background-repeat: no-repeat;
	margin-left: 180px;
	float: left;
	display: block;
	text-indent: -9999px;
	margin-top: 10px;
	background-image: url(EDMCancel-1.jpg);
}
.BTNok:hover {
	background-repeat: no-repeat;
	background-image: url(EDMCancel-1Hov.jpg);
}
.BTNunsubscribe {
	width:214px;
	height:57px;
	z-index:1;
	background-repeat: no-repeat;
	float: left;
	display: block;
	text-indent: -9999px;
	background-image: url(EDMCancel-2.jpg);
	margin-left: 10px;
	margin-top: 10px;
}
.BTNunsubscribe:hover {
	background-repeat: no-repeat;
	background-image: url(EDMCancel-2Hov.jpg);
}
.BTNunsubscribe03 {
	width:255px;
	height:54px;
	z-index:1;
	background-repeat: no-repeat;
	float: left;
	display: block;
	text-indent: -9999px;
	background-image: url(EDMCancel-3.jpg);
	margin-left:305px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
}
.BTNunsubscribe03:hover {
	background-repeat: no-repeat;
	background-image: url(EDMCancel-3Hov.jpg);
}
.EmailCity {
	width:87px;
	height:auto;
	z-index:1;
	left: 490px;
	top: 47px;
	font-size: 36px;
	font-weight: bold;
	color: #FFF;
	position: relative;
	font-family: "微軟正黑體";
}

.BTNArea {
	width:750px;
	height:auto;
	z-index:2;
	margin-top: 85px;
	float: left;
	display: block;
	position: relative;
	top: 55px;
}
*/