﻿@charset "UTF-8";
/*screen device resolution width = 481px-767px for mobile landscape setting*/
@media screen and (min-width: 481px) and (max-width: 767px) {
#Headermiddle .HeaderPhone{display:none;} /*填手機收簡訊下載*/   
.mc-content h1.rd-C-Hide {display: none;} 
.center { width: 100%; margin-top: 0; float: left; }
.part-17life, .part-pez-cert, .part-serivce, #EmailTitle, .ch-todaydeal,
.ch-qa, .mc, .member-name, .White, #Login img, .outside_AD, .outside-topOptBox,
#TOPBanner, #Rightarea, .nc_deal_sort, .Encore, .dealsaletext, #HKL_Facebookarea,
.dealpricetext, .TimerTitleField .icon-clock-o, .HKL_MaindealTitle, .NEW-SoldOut-Block, .info_bar .share .link_btn, 
#MaindealFacebookarea, .EntryTitle.ET_4, .rd-guarantee, .Detail_buy_box .price,
#DialogBottom, .three-promise, .NavAD_sp, .outside_AD, .pop-confirm, 
.DealPriceInfo .buycounter .icon-user { display: none; }
.p3footer .footer_content, #middle, .HaokangList, .Maindeal,
.MaindealMiddle, #maincontent ,#Left, .info_bar, #FULL, #FULL > #maincontent
 { width: 100%; height: auto; }

#Login { font-size: 14px; }
.LoginBox { width: auto; margin: 5px 10px 5px 10px; }
.HKL_MainDealProductName, .HKL_MaindealTitle { width: auto; margin: 0 5px; }
#Headermiddle, #middle, .DealPriceInfo.deal-detail-overwrite { height: auto; }
.p3footer .footer_logo { margin: 0 auto; }
.p3footer .info-17life { width: 100%; padding: 0; text-align: center; }
a.rd-layout-switch { margin-top: 5px; display: block; font-size: 18px; color: #999; text-decoration: underline; }
#PponLOGO { width: 150px; height: 40px; float: left; margin: 5px; margin-left: 5px; /*background: url(../images/ppon-M1_LOGO.jpg) no-repeat;*/}
#PponLOGO img{height: 100%;}
#navi2  { height: 35px; border-bottom: 2px solid #BF0000; background: #333; }
#navimain ul { width: 100%; margin: 0 auto; }
#navimain2 li  { width: 100%; }
#navimain2 li { float: right;} 
#navimain2 a {
    color: #FFFFFF;
    text-decoration: none;
}
#navimain2 a:hover {
    height: auto;
}

#navimain2 li a{-moz-box-sizing:border-box; box-sizing:border-box; padding-right: 15px;}/*0710*/
#navimain2 .navbtn:hover{ 
    background: -webkit-linear-gradient( #DF0000, #BF0000);
    background: -moz-linear-gradient( #DF0000, #BF0000);
    background: -ms-linear-gradient( #DF0000, #BF0000);
    background: -o-linear-gradient( #DF0000, #BF0000);
    background: linear-gradient( #DF0000, #BF0000);}/*0710*/
.navbtn {width:100%;}
.navbtn_inpage{ width:100%;}
.ch-itemdeli, .ch-beauty { display: none; }
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb { display: block; }
.info_bar .share .line_btn, .info_bar .share .copy_btn { display: inline-block; }
#NaviCity a { padding: 0 20px; }
#navimain { width: 100%; text-align: center; }
.coupon-own-number {
    padding: 4px;
    border-radius: 5px;
    background: #bf0000;
    font-size: 12px;
    color:#fff;
    margin-right: 10px;
}
.NaviCityMain { width: 100%; height: auto; text-align: center; }
.NaviCityMain a { font-size: 16px; }
.Maindeal, #maincontent .forsdeal, #Entry, .NaviCityML { width: 95%; margin: 10px auto; padding-bottom: 0px; }
.HKL_MainDealProductName { font: 14px/20px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
.MaindealMiddle { padding-bottom: 0px; }
.SoldOut_Bar_480 { width: 100%; height: 100%; background-size: contain; background-repeat: repeat-x; }
.Over1K_Badge {  width: 82px; height: 82px; top: -8px; left: -8px; background-size: contain; }
#MainPic {clear: both; width: 480px; float: none; margin:0 auto 10px auto; border: 5px solid #D2D2CA; background-size: 100% auto;}
#MainPic:hover, #MainPic:active { border: 5px solid #E2E2DA; }
.TimerTitleField, .MaindealClosed, .MaindealTitle, .MainDealProductName, 
.dealtitle_box, #EntryContent, #Detailinner.Equity, #Detailinner, #AddressTitle,
#Addressinner, #Dialog, .deal-title, #Detailinner.Equity.deal-detail-overwrite,
.Equitylink { width: auto; }
.TimerTitleField { margin-top: 0px; padding-left: 40px; }
.DealPriceInfo { width: 100%; height: auto; float: none; }
.DealPriceInfo p.dealprice { padding-left: 40px; font:30px/40px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
.DealPriceInfo .discount { width: 60px; height: 35px; top: -1px; right: 40px; font: 16px/35px "Arial Bold", "微軟正黑體", sans-serif; background: url(../images/newdealdetail.png) -800px 0 no-repeat; }
.DealPriceInfo .buycounter { padding-left: 40px; background: none; width: 100%; }
.DealPriceInfo .buy_btn_box { width: auto; height: auto; margin-right: 40px; float: right; background: none; }
.DealPriceInfo .buy_btn.btn_normal{ width: 110px; height: 40px; line-height:40px; margin-right: 5px; font-size: 24px; padding-top: 10px;
    background-position: -480px -182px ;
    background-repeat: no-repeat;
}
.DealPriceInfo .buy_btn.btn_normal:hover { 
    background-position: -607px -182px ; background-repeat: no-repeat;}
.DealPriceInfo .buy_btn.btn_dontclick { width:120px; height:60px; margin-right: 5px; font-size: 24px; background:url(../images/newdealdetail.png) -740px -90px no-repeat;  cursor:default; }
.Detail_buy_box { width: auto; text-align: center; }
.Detail_buy_box .btn_normal { margin: 0; }
.MaindealTitle, .MainDealProductName { font-size: 16px;}
#Detailinner, #Detailinner.Equity { font-size: 13px; }
.EntryTitle.ET_1, .EntryTitle.ET_2, .EntryTitle.ET_3, .EntryTitle.ET_4 { font-size: 18px; }
#DialogTop { width: auto; height: auto; font-size: 18px; line-height: 2; border-bottom: 1px solid #BF0000; background: none; }
#Dialoginner { width: auto; margin: 10px 0; padding: 0; font-size: 13px; background: none; }
#AddressTitle { font-size: 16px; }
#Addressinner li { font-size: 13px; }
#Detailinner iframe { display: none; }
.deal-detail-left, .deal-detail-right { width: auto; float: none; }
.deal-title { font-size: 16px; line-height: 24px; }
.rd-detail-price { float: left; }
.rd-detail-btn { float: right; margin-top: -15px; margin-right: 15px; }
.backbtn { margin-top: 10px; }
.MainDealCityTitle { margin-top: 8px; }
.sildeWrap{ display: block; overflow: hidden; width: auto; height: 0;} /*0710*/
.sliderWrapMenber{ display: block; overflow: hidden; width: auto; height: 0;}/*0710*/

/*B1-Payment-by-alan*/
#Rightarea.rd-payment-qma, .rd-payment-words-hide, .grui-form .form-unit .data-input p.subnote.rd-payment-display, .grui-form .form-unit.rd-payment-form-unit-disappear { display:none;}
.TOPBanner, .safelycode {display:none;}
p.subnote.rd-payment-display-block { display: block;}
#Left { float: left; }
#Left.rd-payment-Left-width {width:100%; margin:0 auto;float: none;}
#maincontent.clearfix {width:auto; margin:0 auto;}
#maincontent .content-group.payment, #FULL > #maincontent .content-group.payment { width: auto; min-height: auto; margin-top: 0; padding: 15px; border: 0;}
h1.rd-payment-h1 {width:auto;}
#maincontent .content-group.payment h3 {width:auto; padding:5px 5%;}
hr.header_hr.rd-payment-width { width:auto;}
#maincontent .content-group.payment h2.rd-payment-h2 {width:auto; padding:5px 0;}
.form-unit {width:auto; float:none; text-align:left;}
.LMPasswordFrame.text-center .form-unit { text-align: center;}
.btn.btn-xlarge.btn-primary.rd-payment-xlarge-btn { padding:10px 30px;}
.btn.btn-large.btn-primary.rd-payment-large-btn {  text-align:center; padding:10px 30px; margin-left:1%; margin-bottom:10px;}
.btn.btn-large.rd-payment-large-btn {  text-align:center; padding:10px 30px; margin-left:1%;}
#maincontent .content-group.payment .mixitem .item-list {margin-left:5%;}
#maincontent .content-group.payment .mixitem .item-list .item-name { width:auto; margin:0; float: none;}
#maincontent .content-group.payment .mixitem .item-list .item-amount {width:auto; float:none; text-align: left;}
#maincontent .content-group.payment .mixitem .item-list .total-amount {width:auto;}
#maincontent .content-group.payment .mixitem .item-list .total-price { float: left; }
#maincontent .content-group.payment .info_bar {height:70px;}
#maincontent .content-group.payment .pay_success { background-size:contain; width:100px; height:100px; }
#maincontent .content-group.payment .pay_failed { background-size:contain; width:100px; height:100px; }
#maincontent .content-group.payment .info_bar.rd-payment-hide {display:none;}
#maincontent .content-group.payment h2.rd-fd-title { padding: 0; }
.grui-form {width:auto; text-align:left; padding:5px; }
.grui-form .form-unit .unit-label{ width:auto; float:none; text-align:left; line-height:32px;}
.grui-form .form-unit .data-input{ margin-left:0; width:auto;}
.grui-form .form-unit.sublevel .data-input{ margin-left:0; width:auto;}
.grui-form .form-unit .data-input .input-half { width: 82%; }
.select-list-block .grui-form .form-unit .data-input .input-small { width: 97%; margin-right:0;}
.select-list-block .grui-form .form-unit .data-input .input-half { width: 97%; margin-right:0;}
.select-list-block .grui-form .form-unit .data-input .input-full { width: 97%!important; }
.grui-form .form-unit.sublevel, .grui-form .form-unit.end-unit { width:auto; margin-left: 20px; }
.grui-form .form-unit .data-input p.subnote.rd-payment-margin-zero {margin: 5px 0 10px 10px;}
.grui-form .form-unit.rd-pay-margin {margin-left:8%;}
.grui-form .form-unit .data-input.rd-pay-margin {margin-left:5%;}
.grui-form .form-unit .data-input .input-credit { width:15%;}
.grui-form .form-unit .data-input .align-fix { margin: 0; }
.grui-form .form-unit.end-unit.rd-pay-pos-fix { margin-left: 0px; }
.grui-form .form-unit .data-input select.rd-fd-select { width: 100%; }
.grui-form .form-unit .data-input p.cancel-mr { margin-right: 0; }
.grui-form .form-unit .data-input.empty { height: 10px; }
.grui-form .form-unit .data-input p.login-note { display: block;}
.grui-form .form-unit .data-input .input-50per { width: 82%;}
.rd-fd-sn-text, .rd-fd-sn { display: block; }
.LifeMemberTopBlack.rd-fd-sn { display: block; width: 90%; margin: 0 auto; margin-top: 20px; padding: 0 1px;}
.btn.btn-mini.rd-margin { margin-left:5%;}
.rd-pay-span-ctr { text-align:center; }
.rd-letter-spacing {letter-spacing:-1px;}
.info_bar .share .share_text.rd-share-text {line-height:20px; margin-bottom:10px;}

/*201508 新增 "分期0利率"*/
.info_bar .payment_state{ display: none; }
.info_bar .price_installment_rwd{ display: block; float: right;} 
.info_bar .price_installment_rwd p{ color: #f60; font-weight: bold; line-height:30px; margin-right: 10px; }

/*新增地區多層選單 by GiGi*/
.city-box {
    width: 93%;
}

/*A2-multi-grade-by-TouNeko*/
.Multi-grade-Setting, .Multi-grade-Setting .mgs-boxtitle, .pop-window { width: 100%; box-sizing: border-box;}
.Multi-grade-Setting { border:none;}
.MGS-XX { width: 100%; height: auto; margin-bottom: 10px; position: static; text-align: center; background: none; }
.MGS-XX input { display: inline-block; }
.Multi-grade-Setting .mgs-item-box .mgs-content {
    float: left;
    padding: 5px 6px 5px 6px;
    width: 78%;
}

/*C1-MarberCenter-OrederList-by-ariel*/
.rd-C-Hide, .mc-content h1.rd-C-Hide {display: none;}
.rd-float-lft { float:left;} 
.rd-float-right { float:right;}
.mc-order-states #OrderSavearea {display:block; font-size:15px; width:100%;} 
.mc-order-states .RecentOrder {display:block; float:left;}
.mc-order-states .RecentOrder input {width:18px; height:18px; margin:0 5px 0 0;}  
.mc-order-states .Orderselectarea {display:block; float:right; } 
.OrderAmount, #mc-tableContentTitleRight,
.OrderNumber, .OrderTrustState, .OrderDetailSale , .OrderDetailSubTotal, .btn-return, .rd-page-dis, .CashCouponsDate, .CashCouponsUseDate, .CashCouponsEXP {display: none;}
.tag-visable { display: block; }
.OrderSerial:before { content:"訂單編號：";}
.center .mc-navbar { width: 100%; height:29px; margin-top: 0; display:inline-block; }
.center .mc-navbar .mc-navbtn { box-sizing: border-box; -moz-box-sizing: border-box; width: 33.3%; margin:0;border: 1px solid #CCC;border-radius: 5px 5px 0 0;border-bottom: #e4e4e4; border-left: 1px dotted #CCC; padding:0 1px;}
.center .mc-navbar .mc-navbtn a: {display:inline;}
.center .mc-content { width: auto; border: 0;}  
.center .mc-content .rd-smll{ font-size:15px;}
.center .mc-content p {font-size: 15px;}
#mc-table .rd-table{ width: 100%; }
#mc-table .mc-tableContentITEM:hover {background:#FFFAE4;}
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle{display:inline;}
#mc-table .rd-table td{text-align: left; padding: 0 5px;  border:none; color: #666666;}
#mc-table .rd-table .OrderSerial {display:none;}
#mc-table .rd-table .OrderDate, .OrderSerial, .OrderName, .OrderExp, .OrderCouponState, .OrderState { width: 100%; display : block;  }
#mc-table .rd-table .OrderDate {margin-top:8px;}
#mc-table .rd-table .OrderExp { color:#bf0000;}
#mc-table.order-detail td {width: 96%; padding: 5px 0;}
#mc-table .rd-table .OrderCouponState { width:97%;text-align:right;height:20px; margin-bottom:10px;} 
#mc-table .rd-table .OrderState { width:97%; text-align:right; height:20px; margin-bottom:15px; display:none;} 
#mc-table .rd-table .OrderState .LastDate { width: auto; display:none;}
#mc-table .OrderArrow_btn_box {display:block; padding-left: 18px; text-indent:-9999px; top:310px; right:0;}
#mc-table .rd-table .OrderCouponState .rd-c1-mcorbtn-mini{padding: 0 3px; font-size: 11px; display: none;}
#mc-table .rd-table .OrderCouponState br{display: none;}
#mc-table .rd-table .OrderName #mc-tableContentTitleLeft { margin:0 -2px 0 0; font-size:13px;}


/*C1-MarberCenter-OrederList-訂單/憑證列表-by-stan*/
.mc-tableContentITEM .OrderDate input.btn-mini{ display:inline-block; margin-top: -5px; }

/*C1-MarberCenter-AccountSetting-by-ariel*/
.rd-DisplayPanel{display:inline;}  .rd-redColor{ color:#bf0000;}
.grui-form .form-unit .rd-unit-label{ width:30%; float:none;display:inline;font-size:14px; font-weight: bold; }
.grui-form .form-unit .rd-data-input{ margin:5px 0; }
.grui-form .form-unit .data-input.account-input { margin:5px 0; }
.grui-form .form-unit .rd-data-input p{ margin:0;}
.grui-form .form-unit .rd-data-input p.rd-c-Cleartop{ padding-top:5px;  line-height: 32px;}
.grui-form .form-unit .rd-data-input .rd-c-br{display:block; }
.grui-form .form-unit .rd-data-input .rd-input-mini{ margin:0;}
.grui-form .form-unit .rd-data-input .rd-input-small{ margin:0;}
.grui-form .form-unit .rd-data-input .rd-mcacstbtn{ margin: 10px 0 15px 0; display:block; float:none;}
.mc-addressee-box { width: 96%; padding: 5px 10px; margin: 5px auto;}
.mc-addressee-box h2.rd-c-h2{ font-size:14px;margin:0;}
.mc-addressee-box .rd-grui-form{ padding: 5px 0 5px 0 ;}
.grui-form .form-unit .rd-data-input .btn-delete.rd-mcacstbtn { float: right;}
.unit-label.account-label.rd-unit-label { display: inline-block;}
.data-input.account-input.rd-data-input { display: inline;}

/*C1-MarberCenter-AccountSetting/orderdetail-by-ariel*/
#mc-table .rd-mcOrdetail{width:100%;} 
#mc-table .rd-mcOrdetail th{display:block; padding: 5px 0;}
#mc-table .rd-mcOrdetail .OrderItemName, .OrderSN, .OrderCode, .OrderEXP, .OrderPonState, 
.OrderAddressee, .OrderAddrPhone, .OrderAddrAdd, .OrderDeliverInfo,
.OrderDetailItemName, .OrderDetailPrice, .OrderDetailAmount, .OrderDetailTotal, .OrderPayTotal, .OrderReturnDate, .OrderReturnAmount, .OrderReturnCash, .OrderReturnProcess, .OrderPayPEZ, .OrderPayBonus,
.OrderPayUupon, .OrderPayCash, .OrderPayCredit, .OrderPayAtm, .OrderPayCoupon, .OrderGetPon, .OrderPaySuperCash, .OrderPaySuperCoupon {width: 100%; display : block;}
.OrderGetPon:before { color:#BF0000; content:"索取憑證:";}
.order-get-coupon-box { width: auto; margin: 5px; padding: 5px 0 0 0; }
.order-get-coupon-box a:first-child { display: none; }
.rd-text-rg { text-align:right; width:100%;display:block;}
#mc-table .rd-mcOrdetail .mc-tableContentITEM td{ width:96%;text-align:left; border:none;}
.mc-addressee-box .form-unit.end-unit { margin-left: 0px; }
.mc-cash-states { padding: 10px; }
.mc-cash-states { padding: 10px; }
.order-atm-info, .order-atm-header { padding: 10px 0;}


/*C1-MemberCenter-OrderList-Orderdetail-Karen*/
/*-------發票---Start----*/

.OrderDetailInvoice, .OrderDetailInvoiceInfor, .OrDetinvoicedetail {display:none;}
.m-order-table-title { width: 100%; height: 30px; margin-top: 30px; color: #FFF; background: #333; display: block;}
.order-table-title-invoice, .order-table-title-invoice h1  { display:none; }
.m-order-table-title h1 { margin-left: 10px; font-size: 16px; line-height: 30px; color: #FFF; }
.m-OrderDetailInvoice{ height:auto;clear: both; border: 1px solid #999;background-color: #FFFFFF ;padding-top: 15px;padding-bottom: 15px; display: block;  }
.m-OrDetElectricinvoice { width:100%; height:auto; display: block; }
.m-OrDetElectricinvoice ul { list-style-type: none;  }
.m-OrDetElectricinvoice li { font-size: 12px; margin:0 0 0 10px; padding:5px; }


/*-------發票--End-----*/


/*C5-MemberCenter-Collect-by-ariel*/
.mc-c5tdwe1{ width: 85%; } 
.mc-c5tdwe4{ width: 15%; }
.center .mc-navbar, .mc-c5tdwe0, .mc-plr-box-R, .mc-c5tdwe2, .mc-c5tdwe3{ display: none;}
.mc5-btnSpacing { display: inline-block;}
.mc-plr-box-L  { font-size: 13px;  margin-bottom: 15px;}
.mc5T { height: auto; padding-bottom: 5px;}
.rdl-mc-LoginBox-dis{ display: none;}

/*for nivo slider*/
#slider { width: auto; height: auto; }
#slider img { display: inline-block; opacity: 0; width: auto; }
#slider img:first-child { position: inherit; }
.nivo-slice { top: 0; width: 100%; position: absolute; }

/*H-17lifeMember.html-ariel*/
.HomepageHeader,.HomepageLine,.LifeMemberTopBlack{display: none;}/* */
.LifeMember17logo{ display: block; margin: 0px auto; padding-top: 20px;}
.LifeMember{ border: none; margin-top:0; }
.LifeMemberCenter{ width: 100%; /*background: #f3f4ef;*/ background: #f5f3f4; border:#f3f4ef 1px solid }
.LifeMemberLogFrame.posttype { width: 100%; height: auto;}
.post-wrap { width: 100%; height: auto;}
.post-content{ height: auto; overflow: inherit;}
.Cityarea, .CityTop, .HomepageMarketingBn, .HomePageCityBottom, .LifeMemberAgree br, .LifeMemberAgree .rwd-wh,
.LifeMemberTopText img, .LifeMemberLoginPicText, .LifeMemberLoginPic, .LifeMemberAgreeError br, .LifeMemberAgreeError .rwd-wh, .lmbeclogingBtn2, .lmbeclogFBPEZTi, .header_btn_box, .rdl-Tdis { display: none;} 
.LifeMemberNote, .LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText,
.LifeMemberInfo_f li, .LifeMemberAgree, .LifeMemberAgreeError, .meeaar, .LifeMemberFirstShopping, 
.Homepagemiddle, .Homepagecenter{ width: 100%; /*background: #f3f4ef;*/} /*註冊頁 拿掉文字註解底色*/
.Homepageconter{ width: 90%;}
.LifeMemberFrame, .LifeMember, .LifeMemberTop , .MemberCardFrame, .MemberCard { width: 99.8%; }
.MemberCardFrame .LifeMemberCenter{ background: #fff;} /* 20150224 未登入系統 認證成功rwd版本背景為白色 */
.LifeMemberFrame{margin-bottom: 0px;box-shadow: none;}
.LifeMemberFrame-RDL,.LifeMemberFrame-RDL .LifeMember ,.LifeMemberFrame-RDL ,.LifeMemberTop { width: 100%; }
.LifeMemberFrame-RDL .LifeMemberCenter .LifeMemberNote{background: #fff;}
.rdl-LMberCt-pad{ height: 560px;}
.HomepageLogin { width: 30%;}
.LifeMemberTopText { font-size: 18px; width: 100%; margin: 0 auto; text-align: center;}
.rdl-tittleText{ display: block;} 
.LMInfo ,.LMInfo ul.LifeMemberInfo, .LMFirstShopping, .LMFirstShopping ul.LMFShoppIn, .LifeMemberConfirmMessage, .LMPasswordFrame ul.LMPasswordIn, .LifeMemberConfirmRemarks, .PezFbFillInEmail,.PezFbFillInEmail ul { width: 100%; padding: 12px 0px 20px 0px;}
.LifeMemberInfo li, .LifeMemberInfo li:hover, .LMInfo li.LifeMemberInfoColor, .LMPasswordIn li, .LMPasswordIn li:hover, .LMPasswordFrame li.LMPasswordInColor, .LMPasswordFrame li.LMPasswordInColor:hover{ width: 94.2%; padding: 0 17px; }
.LMFShoppIn li, .LMFShoppIn li:hover, .LMFirstShopping li.LMFShoppInColor { width: 95.2%; padding: 5px 14px; height: auto; margin: 8px 0;}
.PezFbFillInEmail li, .PezFbFillInEmail li:hover, .PezFbFillInEmail li.PezFbFillInColor { width: 95.1%; padding: 5px 14px; height: auto; margin: 8px 0;}
.LifeMemberInfoTittle, .LifeMemberFirstShoppTittle, .LMFShoppTittle, .LMPasswordFrameTittle { width: 30%; font-size: 15px; letter-spacing: 0em;}
.LifeMemberText input, .LMPasswordFrameText input{ width: 33%; font-size: 14px;}
.LifeMemberText select{ width: 18.5%;  font-size: 14px;}
.LifeMemberNote, .LMFShoppNote, .LMPasswordFrameNote{ width: 100%; margin: 0 10px; font-size: 12px; color: #999;}
.LifeMemberTXT2{ margin-left: -14px;}
.LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText{ width: 91%; margin: 10px auto;}
.LifeMemberInfo_f li, .LifeMemberInfo_f li:hover, .LMInfo li.LifeMemberInfoColor_f{ width: 86%; padding: 17px 8px;margin: 10px auto; line-height: 23px; /*height: 70px;*/ height: auto;}  

.LifeMemberAgree, .LifeMemberAgreeError{ width: 100%; left: 0px; font-size: 12px; line-height: 20px; top: 0px; margin-bottom: 5px;} 
.LifeMemberVFCode{ width: 50%;margin-left: 65px;} .LifeMemberVFCodeText{ width: 30%;}
.meeaar{ margin-left: 0px;} .onlyRED{ margin: 0px; }

.LifeMemberFirstShopping{ padding: 30px 4px 0px 3px; width: 99%;}
.LifeMemberPEZOpenPassaPic, .LifeMemberConfirmMessage { display: block; margin: 0 auto; float: none;}
.LifeMemberPEZOpenPassText, .LifeMemberConfirmEPText { display: block; width: 95%; font-size: 15px; margin: 0 auto; float: none; }
.LifeMemberConfirmEPText { margin-top: 22px; }
.LifeMemberFirstShoppTittle { width: 15%; }
.rdl-FStittText { line-height: 22px; display: block; }
.LifeMemberFirstShoppMail{ width: 55%; } .rdl-FSpT{ letter-spacing:0.1em;}
.LMFShoppName, .LMFShoppGender{ font-size: 15px; } .LMFShoppNote{ margin-left:-10px; }
.LMFShoppName input{ width:12%; font-size: 14px;} .LMFShoppPhone input{ width:33%; font-size: 14px; }
.LMFShoppInvoice select{ width: 12% ;font-size: 13px; margin-left:0;}.LMFShoppInvoice input{ width: 163px; margin-left: 0;}
.rdl-redT, .rdl-redT2{color: #F00; margin-left: 17px; width: 100%;}
.LifeMemberLogFrame{ width: 95%; margin: 10px auto; height: 450px; padding-top: 0px; }
.lmbecOtloginfor, .lmbeclogiTi, .lmbelogGO, .LMPasswordFrame{ margin: 0 auto; height: auto;}  
.LMPasswordFrame{ width: 99.8%;} 
.LMPasswordFrame.rd-fd-sn { width: 90%; border: #cdcdcd 1px solid; margin: 0 auto; margin-top: -1px;   padding-bottom: 20px; background: #fff;} 
.lmbeclogiTi{ font-size: 12px; margin: 5px auto 0 auto; }
.lmbecloging{ /*margin: 5px auto;*/ height: auto;}
.lmbecloging input{ height: 33px;}
.lmbecloging li input[type=text]{ height: 33px;}
.lmbecloging li input[type=password]{ height: 33px;}
.lmbecOtloginfor img{ height: auto; max-width: 100%; margin: 0 auto;}
.LifeMemberOtherLoging2, .LifeMemberOtherLoging1{ border: none; height: auto; margin: 0 auto 10px auto;  width: 100%;box-shadow:none; background: none;} .lmbeclogingTEXT{ font-size: 13px; } 
.LifeMemberOtherLoging2{border-top: 1px dashed #999;padding-top: 3%; padding-left: 0px; }
.LifeMemberOtherLoging1 img.LifeMember17logo{ /*display: block;*/ display: none;}
.LifeMemberSubtitle{ display: none;}
.lmbeclogingBtn{ max-width: 100%; margin-top: 5px; background:url(../../../Themes/default/images/17Life/NewMember/memberBtnCH1.svg) no-repeat; }
.lmbeclogingBtn:hover{background:url(../../../Themes/default/images/17Life/NewMember/memberBtnCH1.svg) no-repeat;}
.lmbecFbBtn{background:url(../../../Themes/default/images/17Life/NewMember/FBlogoBig.svg) no-repeat;}
.lmbecPezBtn{background:url(../../../Themes/default/images/17Life/NewMember/PEZlogoBig.svg) no-repeat;}
.LifeMemberConfirmMessage{ font-size: 15px;} .rdl-cmsgT{ padding: 15px; width: 89%;} 
.LifeMemberConfirmRemarks{ margin-top: 10px; padding: 15px 0 0 0;}
.rdl-LMPawdFTe input{ width:34%; font-size:14px;} .rdl-LMPawdTit { margin-left: 14px;}
.LMPasswordFrameText select{ width: 29%; font-size: 15px; height: 21px; margin-top: -1px;}
.LifeMemberTXT2 input.rdl-typchk{ width: 15px; display: inline-block;} .rdl-redT3{ margin: 0; } .rdl-redT5{ margin-left: 15px;}
.LifeMemberBtn{ margin-top: 5px;}
.lmMemoryLog-box { width: 75%;}


/*A1-DealList_Normal-by-Alan*/
.NaviCityMP { width: 100%; margin: 0 auto; border: none; box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);  }
.NaviCitySelectArea { display: none; }
.NaviCityArea { width: auto; padding: 6px; border: none; text-align: center; }
.NaviCityArea li { display: inline-block; float: none; }
.NaviCityArea a { padding: 3px 15px; font-size: 13px; margin-left: 7px; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;}
.NaviCityW {width: 95%;}
.NaviCitySequence {width: 95%; margin: 0 auto; box-sizing: border-box; -moz-box-sizing: border-box;}
/*New Deal Label Setting by TouNeko*/
.Maintitle + .dts { margin: -10px auto 10px; }
/*Fix會員專區消失*/
.rd-mc { display: inline-block;}

/*A1-DealList_Normal-收藏區塊-Collect by ariel*/
#HKL_Collect, #HKL_Collect-ok, .HKL_juwindow{display: none;}
.rdl_Collect { 
    background-position: 363px -80px;
    margin-left: 3px;
 }
  .rdl_Collect-ok { 
    background-position: -740px -52px;
    margin-left: 0px;
    font-size: 13px;
  }
/*A3-event_1-6-活動頁*/
.ac-center { margin:0 auto;}
.ly-evn-pprule,.ly-e-cop-area-menubar , .skm-QrMessagefarm { display:none;}
#Act-TOP { width: 100%; margin:0;}
.rd-top-box {width: 100%; display: block;}
.evn-cop-tn-bar { width: 100%;}
.ly-e-cop-farme { margin: 0 auto; width: 95%; }
.st-e-cop-area-bar { width: 15%; margin: 0 5px;}
.evn-cop-buy-sf-box{ width: 100%; margin: 15px 0;}
.evn-cop-buy-pic{ float: left; margin: 10px; width: 40%; height: auto;}
.evn-cop-buy-sold-out-bar-290 { 
    width: 100%; 
    height: 100%:}
.evn-cop-buy-pic img{ max-width: 100%;}
.evn-cop-buytitle{ 
    display: block; 
    height: 26px; 
    margin: 4% 10px 0px 0; 
    width: auto;
    font-size: 15px;
    padding: 0 10px;
}
.evn-cpp-pinnlife-sold-out-bar,.evn-cpp-pinnlife-coming-bar{
     width: 100%; 
    height: 100%:
}
.evn-cop-minorange-title{ 
    display: block; margin: 5px 0x 10px 0; 
    height: 26px; line-height: 26px;
    width: auto; 
    padding: 0 10px;
    border-bottom: 1px dashed #CCCCCC;
}
.evn-cop-buytotle{ width: 40%; font-size: 30px; line-height: 30px;}
.evn-cop-buyinformation{ overflow: hidden; display: block;  height: 40px; margin: 0 10px 5px 0; width: auto;}
.activeLogo { width: 50%;}
.alo-l { width: 190px; } /*-首頁大圖壓字-*/
.rd-evn-BTbox{ width: auto;  overflow: hidden; margin: 14px 14px 3px;}
.st-e-cop-buybtn{ width: 80px; height: 27px;  line-height: 27px; font-size: 17px; margin-top: 1px;}

.rdl-list-box { 
    width:95%;
    margin:0 auto;
    height:auto;
    }
.rdl-Btn-box { width: 100%; border-bottom: 5px #D00000 solid;}
.rdl-list-Lbtn{ float:left; border-radius: 5px ; margin: 8px 0 ; }
.rdl-list-Rbtn{ float:right; border-radius: 5px ; margin: 8px  0; }
.rdl-list-Lbtn, .rdl-list-Rbtn{ 
    background: #24231D;
    width:48%;  
    line-height:50px;   
    font-size: 20px; 
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
    color: #fff;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.rdl-on, .rdl-list-Lbtn:hover, .rdl-list-Rbtn:hover { 
    background-color: #BF0000; color:#FFF; }
.rdl-list-downarrow{ width: 15px; height: 15px;}
.rdl-Subbox{ 
    width:100%; display: block; 
    margin: 10px auto 0 auto; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
}
.rdl-Subbox ul{ 
    width: 99.8%; display: inline-block; margin-top: -10px;
    border:#adadad 1px solid; 
    border-top:none; 

}
.rdl-Subbox li{ 
    background: #F3F3E9;
    border-bottom: 1px solid #dfdfdf;
    padding-left: 20px;
    line-height: 45px;
    cursor: pointer;
}
.rdl-Subbox li:hover { background:#ECECE2; }
.rdl-Subbox li.subbox-on {
    border-left: 2px solid #BF0000;
    color: #BF0000;
    background: #FDFDF7;
}
.rdl-Subbox li.subbox-on:hover {background:#FDFDF7 }
.rdl-Subbox li.inside{ 
    padding-left: 52px;
    list-style-image: url(../images/17life/G2/ac-rdl-icon.png);
    list-style-position: inside;
    font-size: 15px;
    line-height: 33px;
}

/*Piinlife M */

.rdl-list-box-piin { 
    width:95%;
    margin:0 auto;
    height:auto;
    display:none;
    }
.rdl-Btn-box-piin { width: 100%; border-bottom: 5px #281b11 solid;}
.rdl-list-Lbtn-piin{ float:left; border-radius: 5px ; margin: 8px 0 ; }
.rdl-list-Rbtn-piin{ float:right; border-radius: 5px ; margin: 8px  0; }
.rdl-list-Lbtn-piin, .rdl-list-Rbtn-piin{ 
    background: #7e664e;
    width:48%; 
    height:50px; 
    line-height:50px;   
    font-size: 20px; 
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
    color: #fff;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.rdl-on-piin, .rdl-list-Lbtn-piin:hover, .rdl-list-Rbtn-piin:hover { 
    background-color: #281b11; color:#FFF; }
.rdl-list-downarrow-piin{ width: 15px; height: 15px;}
.rdl-Subbox-piin{ 
    width:100%; display: block; 
    margin: 10px auto 0 auto;  
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
}
.rdl-Subbox-piin ul{ 
    width: 99.8%; display: inline-block; margin-top: -10px;
    border:#adadad 1px solid; 
    border-top:none; 

}
.rdl-Subbox-piin li{ 
    background: #F3F3E9;
    border-bottom: 1px solid  #adadad;
    padding-left: 20px;
    line-height: 45px;
    cursor: pointer;
}
.rdl-Subbox-piin li:hover { 
    background:#ECECE2; 
    color: #f60;
}
.rdl-Subbox-piin li.inside{ 
    padding-left: 52px;
    list-style-image: url(../images/17life/G2/ac-rdl-icon.png);
    list-style-position: inside;
    font-size: 15px;
    line-height: 33px;
}
.ly-e-cop-ppon{ font-size: 27px; width: 100%; height: 40px; margin: 5px 0 0 0;}
.evn-cop-acNotice{
    display: block;
    margin: 10px 10px 5px 0;
    overflow: hidden;
    width: auto;
    font-size:23px; 
    color: #BF0000;
    overflow: hidden;
    text-align: left;
}
.evn-cop-donationinfo {
    color: #FF6666;
    font-size: 23px;
    height: 61px;
    overflow: hidden;
    text-align: left;
    width: auto;
    margin: 10px 10px 5px 0;

}

/*活動頁子頁籤.scroll-tab by gigi*/
div.scrollWrapper
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
div.scrollableArea
{
    position: relative;
    width: auto;
    height: 100%;
}
.scroll-tab {
    width:100%;
    margin-top: 10px;
    height: 50px;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
}
.scroll-tab li{
    padding: 0 1em;
    height: 48px;
    position: relative;
    float: left;
    display: block;
    text-align: center;
}
.scroll-tab li a {    
    line-height: 50px;
}
.scroll-tab li.tab-on a, .scroll-tab li a:hover {
    color: #bf0000;
    text-decoration: none;
}
.scroll-tab li.tab-on {
    color: #bf0000;
    border-bottom: 2px solid #bf0000;
}

/*活動辦法*/
.rdl-evn-pprule {  
    width:100%; 
    margin:10px 0 20px 0; 
    background:#FFF; 
    display: inline-block;
    border: 1px solid #CCCCCC;
}
.rdl-ru-title{
    width:94%; 
    margin:0 auto; 
    padding-top:13px; 
    font-size:21px; 
    border-bottom:1px solid #666; 
}
.rdl-evn-pprule  .rdl-ru-content { 
    width:94%; 
    margin:0 auto; 
    padding:15px 0; 
}
.st-e-cop-optionsbn img{ 
    max-width: 100%;
    height: auto;   
}
.evn-cpp-pinnlife-box {
    margin: 10px 0;
    width: 100%;
}
.evn-cpp-pinnlife-pic-3column{
    width:96%;
    height:auto; 
    margin:10px auto;
    position: relative;
}
.evn-cpp-pinnlife-box-3column {
    margin: 10px 5px;
    width: 47%;
}
.evn-cpp-pinnlife-date-coming-bar{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(date_coming_bar_440.png);
    background-position: 50% 50%;
    background-size: 100% auto;}

.evn-cpp-pinnlife-date-coming-bar-3column{
    width:100%;
    height:100%; 
    background-position: 50% 50%;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top:0;
}
.date-coming-text-3column{
     width:100%;
     color:#FFF;
     font-size:20px;
     /*padding: 112px 0px;*/
     display:block;
     text-align: center;
     line-height: 5px;
}

.evn-cpp-pinnlife-sold-out-bar-3column,.evn-cpp-pinnlife-coming-bar-3column{
    width:100%;
    z-index: 5;
    left: 0;
    top: 0;
    position: absolute;
}

.date-coming-text{
   width: 100%;
   height: 45%;
   color: #FFF;
   font-size: 16px;
   padding: 54px 0px;
   display: block;
   text-align: center;
   line-height:15px;
}
.evn-cpp-pinnlife-pic {
    float: left;
    height: auto;
    margin: 10px;
    width: 40%;
}
.rdl-pl-show{
    display: block;
    height: 40px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    width: auto;
}

/*wvwnt6*/
.evn-copcafarm {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #CCCCCC;
}
.evn-copcadealname {  
    width: auto; 
    position: relative; 
    background: none; 
    color: #000; 
    text-align: left;
    margin: 23px 0 10px 0;
    font-size: 19px;
    word-break: normal;/*(自動換行英文斷行)*/
    height: 20px;
}
.rdl-p6-coupon-pic { 
    float: left;
    height: auto;
    margin: 10px;
    width: auto; 
}
.evn-copcafarm > a > img {
    height: 141px;
    margin-top: 0;
    max-width: 210px;
}
.evn-coptextinfo{ 
    text-align: left;
    float: left;
    font-size: 15px;
    height: auto;
    margin: 0 0 5px 0;
    padding: 0 0 0 5px;
    width: 55%;
 }
.evn-cop-ptext{ 
     width:100%; text-align: left; margin-bottom: 15px;  color: #f60;   height: 20px; overflow: hidden;
 }
.st-evncopca-col-btn{ display:  inline-block;}
.ly-e-cop-tab{ display: none;}

/*FAQ*/
.rdl-faqdis { display:block;}
.fq_box, .full_block, .full_block .bg { width: 100%; margin: 0 auto ; background:#fff;}
.fq-Rbox, .fq-topKeyword, .aside { display: none;}
.fq-Lbox { width: auto; float: none; padding: 10px;}
.service .form { width: auto; float: none; padding: 15px;}
.fq-questionBOX { width: auto; }
.fq-questionBOX img, .fq-phonebox{ display: none;}
 

.rdl-fqtitle-box{ 
    width: 100%;  
    height: 55px;
    background: #e7e6e1;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
 }

.rdl-fqtitle-box li{ 
    line-height: 50px;
    text-align: center;
    float: left; border-right: 1px solid #ccc;
       -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rdl-fqtitle-box li a:hover {text-decoration: none;}
.rdl-faqarrow-down .icon-chevron-faq:before {content: "\f078";}
.rdl-faqarrow-on .icon-chevron-faq:before {content: "\f077";}
.rdl-faqarrow-down span, .rdl-faqarrow-on span {padding-left: 0.3em;}


.rdl-faqcol-1-2 li {width: 50%; }
.rdl-faqcol-1-2 li:last-child {border-right: none;}
/*.rdl-faqcol-1-3 li:last-child {display: none;}*/
.rdl-iconshow{ display: block; float: right;}
.fq-qtitle { background: none; width: 100%; display: inline-block;}
.fq-questionBOX .icon-chevron-faq:before {content: "\f078";}
.fq-questionBOX-on .icon-chevron-faq:before {content: "\f077";}
.faqArea, .faqMail { width: 100%; background: #f5f5f5; display: none;}
.faqArea li, .faqMail li {width: 100%;}
.faqArea a, .faqMail a  { text-decoration: none; display: inline-block; width: 100%; 
   margin: 0;
   text-align: left;
   padding: 16px;
   border-bottom: 1px solid #e5e5e5;
   background: none;
   font-size: 15px;
   font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.faqArea a.on, .faqMail a.on { color: #bf0000; background: #fff; }
.faqArea a:hover, .faqMail a:hover { background: #f8f8f8;}
.service .form .col200 { width: 75px;}
.service .form .col50, .service .form .col60 { width: 85%; height: auto;} 
.service .form .col300, .service .form .col100nhm, .service .form .col100nh, .service .form .col100nh  { width: 100%;}
.service .rdl-seerror_msg { 
    display: block;
    text-align: left;
    padding-left: 0;
    line-height: 22px; }
.col100ser-textarea{ width: 99%; padding:0; }


/*客服中心*/
.mc-service-record .record-box .record-content, .mc-service-record .record-box.reply .record-content{ width: 90%;}
.mc-service-record .record-box .record-time { margin-top: 10px;  font-size: 14px;}
.mc-service-record .record-box.reply { margin: 0 0 0 40px; }
.center .mc-rd-fonesize p{ font-size: 14px;}
.mc-service-record .record-state p{ font-size: 14px;}


/*C5-Yahoo-collect*/

.grui-form .yc-tag{ width: 156px; margin-bottom: 10px;}
.grui-form .yc-tag ul{ }
.yc-tag li{ font-size:14px; float:left;}
.yc-tag li a:link { color:#333; text-decoration: none; padding:6px 21px 6px 22px; }
.yc-tag li a:hover { background:#bf0000; color:#ffffff; text-decoration: none; padding:6px 21px 6px 22px; }
.yc-tag li a.CouponSelect{ background:#bf0000; color:#ffffff;}

/*退貨頁面-GiGi*/

.ReturnCenter {padding: 20px 0;}
.error-bg {padding-left: 20px;}

/* Cash Voucher UX */

.voucherstatus_area { width: 100%; margin: 0 0 15px 0;}
.voucher_content {height: auto;margin: 10px auto 0px;text-align: center;border: 1px solid #999;clear: both;}
.voucher_content_status{background:#ffe1e1;padding: 30px 0px;}
.voucherselect_area{ display: block;text-align: left;float: left;}
.voucherselect_sbn{}
.voucher_sbn_area{ display: block;}
.Voucher_Pagination { display:block; clear:both; }
.voucher_ind { width:50px; }
.CouponQuestionIcon { margin-left: 0;}

/* Voucher w*/
#vc-table { border: none;}
.vc-tableContentITEM { border-top: 1px solid #757575; border-left: 1px solid #757575; border-right: 1px solid #757575;
                       background: url(../images/voucher.jpg) 0px 0px repeat; }
.vc-tableContentITEM.super-coupon { background: url(voucher-super.jpg) 0px 0px no-repeat;}                       
.vc-tableContentITEM td { border:0;}
#vc-table > table { border:none; width:100%; }
#vc-table th {display:none;}
#vc-table.order-detail th {color:#333;background-color: #CDCDCD;padding: 5px;}
#vc-table.order-detail td {padding: 5px;}
#vc-table p.info { margin: 10px; }
#vc-table tr {width: 100%; line-height: 25px; float: none; display: block; margin-bottom:30px;}
#vc-table td {padding:0 8px;font-size:13px;text-align:left; display:block; color: #570a0a;}
#vc-table .text-left { text-align: left; }
#vc-table .text-right { text-align: right; }
#vc-table tr:nth-child(even) { background-color: #eee; }
#vc-table.order-detail tr:nth-child(even) { background-color: #eee; }
.vc-tableContentITEM .OrderSerial input[type="submit"] { padding: 1px 5px; font-size: 11px; }
#vc-tableContentTitleLeft {height:auto;text-align: left;font-size: 15px;margin-right: auto;margin-left: auto;margin-top: 6px;}
#vc-tableContentTitleLeft img {float: left;height: 59px;width: 103px;}
#vc-tableContentTitleRight {height: 23px;margin: 0px auto 6px auto;text-align: left;font-size: 12;color:#666;clear: both;}
#vc-table tr td.CashCouponsDEN { width: auto; padding:10px; font-size: 32px; text-align: left;}
td.CashCouponsDEN:after { content:"現金券";color: #570a0a; font-size:20px;}
td.CashCouponsDEN:first-line { }
#vc-table tr td.CashCouponsSC { padding:5px 10px; font-size: 32px; text-align: center;}
td.CashCouponsSC:after { content:"超級現金券";color: #570a0a; font-size:20px;}
.CashCouponsChannelAll img {display:block;}
.CashCouponsChannel_L img {display:block;}
td.CashCouponsChannelAll:after { content:"可使用";}
/*td.CashCouponsChannel_L:before { content:"限定館別:";} */
td.CashCouponsLimited:before { content:"門檻:單筆訂單";}
#vc-table tr td.CashCouponsEXP { font-size: 9px; padding:0 10px; width:95%;}
td.CashCouponsEXP:before { content:"生效日期:"; display: block; font-size: 12px; }
#vc-table tr td.CashCouponsEFT { font-size: 9px; padding:0 10px; width:95%;}
td.CashCouponsEFT:before { content:"有效期限:"; display: block; font-size: 12px; }
#vc-table tr td.CashCouponsTitle{display: none;}
#vc-table tr td.CashCouponsUsed { background: #333; color: #fff; text-align: center;}
td.CashCouponsUsed:before { content:"已於"; font-size: 12px; }
td.CashCouponsUsed:after { content:"使用";  font-size: 12px; }
#vc-table tr td.CashCouponsExpired { background: #333; color: #fff; text-align: center;}
#vc-table tr td.CashCouponsSN {width: 100%; border-top: 1px solid #757575;border-bottom: 1px solid #757575; 
                  background: #333; color: #fff;  margin: 0 auto; padding: 0px; clear: both; text-align: center; font-size: 13px;}
#vc-table tr td.CashCouponsNumber {width: 100%; border-top: 1px solid #757575;border-bottom: 1px solid #757575; 
                  background: #333; color: #fff;  margin: 0 auto; padding: 0px; clear: both; text-align: center; font-size: 13px;}
#vc-table tr td.CashCouponsNumber .limited{color:#0F0;}/*201512 限定裝置現金券*/

/*首頁Header新版20141121--Alan*/
.function-menu-bar { display: none;}
/*M版Slide Top BN --Alan*/
.slide-bn-area { width: auto; height: auto;}
.slide-m-browser, .slide-bn-block.m-browser { display: block;}
.slide-bn-block { display: none;}
.activity-top-bn { width: 100%; height: auto;}
.slideBox2 .hd { left: 31%;}
#Headermiddle { display: block;}
/*Mail-subscribe-Page*/
.mail-subscribe-bg { margin-top: 0; background: #c72c2c;}
.edm-left-block { width: 80%; display: none;}
.edm-right-block { width: 90%; margin-left: 0;}
.edm-right-block h2 { font-size: 24px; line-height: 30px;}
.edm-right-block h3 { font-size: 16px;}
.edm-right-block li { margin-bottom: 10px; text-align: left;}
#navimain .logo-inline, #navimain .navbtn_inpage, #navimain .navbtn, .marketing-block { display: none;}
.search-block { margin-top: -39px; margin-left: -231px;}
#navimain { height: 0;}
#navi { margin: 0 auto;}

/*3Column page RWD*/
.tc_small_content_area { width: 100%; background: #F2F2F0 0 0 repeat;}
.tc_small_content_area .s_content_box { width: 47%; height: auto; margin: 10px 8px;}
.tc_small_content_area .s_content_box .title { width: 95%;padding: 2px;}
.tc_small_content_area .s_content_box .OrgMineT { width: 95%;padding: 2px; height: 30px;}
.tc_small_content_area .s_content_box .fb_like { margin: -10px 5px; width: 70px;}
.SoldOut_Bar_290 { width: 100%; height: 100%;}
.tc_small_content_area .s_content_box .bottom { width: 100%;background: #fff;}
.tc_small_content_area .s_content_box .smallprice .discount,.tc_small_content_area .s_content_box .smallprice .price { font-size: 20px;}
.tc_small_content_area .s_content_box .smallprice .ori { width: 40px;}
.b_content_box .dts, .s_content_box .dts { margin-bottom: 0;}
.tc_small_content_area .s_content_box .deal_pic { width: 100%; height: auto;}
.tc_small_content_area .s_content_box .deal_pic .deal_hover { width: 96%; padding: 0 2%;max-height: 150px;}

.search-result-get { width: 95%; margin-top: 0;}
.search-result-none { width: 95%;}
.NaviCitySort ul.floatleft { width: auto; height: auto; float: none; padding-top: 3px;}
/*超級現金券跳窗*/
.SC-window {
    width: 100%;
    height: auto;
    border: 0;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}
/*超級現金券結帳頁跳窗*/
.SC-couponW #mc-table .rd-table td { display: block;}
.SC-couponW {width: 90%; border: 0; margin-top: 0;}
.SC-couponW input { margin: 0;}
.SC-couponW th { display: none;}
.btn-mini.payment { margin: 0 0 10px 37px;}
.CashCouponsSN:before { content:"券別：";}
.CashCouponsNumber:before { content:"序號：";}
.CashCouponsDOL:before { content:"金額：";}
td.CashCouponsrule:before { content:"使用門檻：";}
td.CashCouponsEFD:before { content:"有效期限：";  font-size: 12px; }
.CashCouponschoose:before { content:"選擇：";}
.SC-couponW .Pagination { display: none;}
.prev { left:3%; }
.next { right:3%; }

/*低毛利判斷現金券顯示*/
.DealPrice_CouponLimited { font-size:12px; color:#999999; margin-left:0px;}


/*新增RWD客服中心*/
.support_c {display:block;}
.Support_center {display:block; width:90%;}

/*201503_現金券活動代碼領取功能*/
.discount_user_exchange_wrapper .discount_user_exchange{ width: 100%;  }
.discount_user_exchange_wrapper .discount_user_exchange .input-2column-long { width: 30%; margin-right: 0px; }
.discount_user_exchange_wrapper .discount_user_exchange .input-2column-short { width: 20%; margin-right: 10px; }
.discount_user_exchange_wrapper .discount_user_exchange p.cancel-mr{ width: 30%;}

/*201503_現金券選取 rwd顯示*/
.message_box_main p.conform-m {
    float: none;
    display: block;
}
#maincontent .content-group.payment .date { float: none;}
.message_box_MoneyTicket .message_box_main ul li a { padding: 10px 0 10px 15px;}

/*新光三越專區檔次列表*/
.swiper-top + .center { background: #fff;}
.sk_content_box { width: 100%; background: #fff; margin: 5px 0;}
.sk_deal_right_block { width: 44%;}
.sk_deal_pic { width: 56%;}
.sk_deal_pic img { width: 100%; max-width: auto;}
.sk_buy_btn { padding: 6px 0; padding-left:2%; width: 44%; font-size: 14px; bottom: 0px;}
.sk_tag_location { margin-left: 2%;}
.sk_tag_title { width: 95%; margin-left: 2%;}
.sk_tag_subtitle { width: 95%; margin-left: 2%; height: 16px;}

/*20150612 客服紀錄標題旁邊增加連結到 客服中心*/
.center .mc-content .rd-smll{font-size: 20px;}
.mc-content h1 {font-size: 20px;}
.mc-content h1 a.to_NewbieGuide {display: inline-block; font-size: 15px;}


/*****
*
*銀行專區 201506 by stan
*
*****/
.grid_bank { margin-bottom: 40px;}
.grid_bank .bank_item{ width: 80%; background: red; }
.grid_bank .bank_item:nth-child(even){ float: none; margin: 0 auto 15px auto;} 
.grid_bank .bank_item:nth-child(odd) { background: black; float: none; margin: 0 auto 15px auto;}

.bank_content_wrap{ width: 90%; margin: 25px auto; }
.bank_content_wrap .bnak_btn_wrap .btn_buy {width: 80%; }

/*信用卡專區-紅利折抵-2015/07/02-Alan*/
h2.toptitle { border-bottom: 15px solid #fff;}
.grid_bank th { display: none;}
.grid_bank td { display: block; border-bottom: 0;}
.grid_bank td.bank_M_logo { display: block; text-align: center;}
.grid_bank td.bank_name { background:#cdcdcd; text-align: center;}
.grid_bank td.bank_limit:before { content: "最高折抵上限(註1)：";}
.grid_bank td.bank_used:before { content: "消費限制(註2)：";}
.grid_bank td.bank_dot:before { content: "點數限制(註3)：";}
.grid_bank td.bank_proportion:before { content: "折抵比例(註4)：";}
.grid_bank td.bank_rules:before { content: "規則說明(註5)：";}
.bank_content_wrap h3 { padding-left: 15px;}
.grid_bank li { font-size: 70%; line-height: 140%;}
.grid_bank table.bank_information tr { border-bottom: 1px solid #cdcdcd;}
.grid_bank table.bank_information td { display: table-cell;}

/*****
*
*item for 3Column 201507 by stan
*
*****/
.item_search_result_wrap .result_title{ width:90%; }
.item_3col_wrap{ width:90%; margin: 10px auto 0;}

/* 搜尋結果頁篩選 201605 by stanley
.item_3col_wrap .item_3col{ width: 48.5%;}
.item_3col_wrap .item_3col:nth-child(odd){ float: left; margin:0 0 5% 0;}
.item_3col_wrap .item_3col:nth-child(even){ float: right; margin:0 0 5% 0;}
*/
.item_search_result_wrap .item_3col_wrap .item_3col {
    margin: 0 0.4% 5% 0.4%;
}


.item_3col .item_3col_price_less span.discount{ margin: 0 0px 0 0; padding-left: 5px;} 
.item_3col .item_3col_price_less span.price{ margin: 0 0px 0 0;}
.item_3col .item_3col_price_less span.oriprice{ margin: 0 0px 0 0;}
.item_3col .item_3col_price_less span.btn_buy{ padding:0 2px 0 2px;}


/******maincontent 主要內容(檔次列表)
*
***/
.maincontent .dealcard a .dealcard_left .left_img img {
    max-width: none;
}
.ly-e-cop-ppon.new-mobile-ppon { margin: 5px 0 0 5px;}

/***
*
* 策展子分類
*
***/
.visa-installment { display: none;}
.activity-banner p { display: none;}
#navi { display: none;} /*活動頁會出現funtion bar，768~1000px 先行隱藏*/
.Curatorial-Sort{ width: 95%; margin: 0 auto 10px; }
.Curatorial-Sort .NaviCityW{ width: 100%;}

/*憑證檔次商家網頁by Alan*/
.store-info .DealPriceInfo .discount { top: -1px; right: 5px;}
.store-info #MainPic { width: 100%; height: auto; border: 0px;}
.store-info #MainPic.picforsdeal span img { width: 100%; height: auto;}
.store-info .DealPriceInfo { width: 100%; padding-top: 15px; padding-left:0;}
.store-info .DealPriceInfo .tag_title { width: 80%;height: 21px;}
.store-info .DealPriceInfo .tag_subtitle { height: auto; margin-bottom: 5px; margin-left: 5px;}
.store-info .DealPriceInfo p.dealprice { padding-left: 0; margin-left: 5px;}
.store-info .TimerTitleField { padding-left: 0; margin: 0 0 0 5px; width: 70%; display: inline-block;}
.store-info .DealPriceInfo .tag_buycounter { width: 25%; display: inline-block; text-align: right;}
.store-info .icon-clock-o { display: block;}
.store-info .DealPriceInfo .tag_place { margin-left: 5px;}
/*憑證檔次商家網頁-piinlife deal*/
.store-info.pinn-info .DealPriceInfo { height: auto;}
.store-info.pinn-info .SoldOut_Bar_480 { height: 100%; background-size: inherit;}
.store-info.pinn-info .tag_title { margin-left: 5px;}
.store-info.pinn-info .tag_subtitle { margin-left: 5px;}
.store-info.pinn-info .DealPriceInfo .tag_title { width: 95%; margin-top: 0;}
.store-info.pinn-info .DealPriceInfo .tag_subtitle { width: 95%;}
/***
*
* 台新儲值支付跳窗
*
***/
.tk_jump_alert { width: 80%;}

}


@media screen and (max-width: 767px) {
/*開窗獨立公告byErica*/
.post-wrap {
    width: 100%;
    line-height: 1.5;
}
.post-content h1{font-size: 18px;line-height: 3;}
#Headermiddle .HeaderPhone{display:none;} /*填手機收簡訊下載*/       
.mgs-s-T,.ch-piinlife, .rd-hide{ display: none;}
#wrap { overflow: hidden; }
.mc-menu-btn {
    display: block;
    position: relative;
    top: 2px;
    left: 0;
    cursor: pointer;
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
    color: #BF0000;
    text-align: center;
    float: left;
}
.mc-menu-btn{ float: right; right: 0;} 
.mc-menu-btn:hover {
    color: #BF0000;
    text-decoration: none;
}
.mc-menu-btn:active {
}
.sildeWrap{ display: block; overflow: hidden; width: auto; height: 0;} /*0710*/
.sliderWrapMenber{ display: block; overflow: hidden; width: auto; height: 0;}/*0710*/
.mbe-menu {
    background: #f0f0f0;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.mbe-menu_show {
    width: 100%;
    float: left;
    margin-left: 0%;
    background: #333333;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.mbe-menu2 {
    width: 100%;
    float: right;
    margin-right: -100%;
    background: #333333;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.mbe-menu2_show {
    width: 100%;
    float: right;
    margin-right: 0%;
    background: #333333;
    border-top: 2px solid #BF0000;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#navimain2 li a{-moz-box-sizing:border-box; box-sizing:border-box; padding-right: 15px;}/*0710*/
#navimain2 .navbtn:hover{ 
    background: -webkit-linear-gradient( #DF0000, #BF0000);
    background: -moz-linear-gradient( #DF0000, #BF0000);
    background: -ms-linear-gradient( #DF0000, #BF0000);
    background: -o-linear-gradient( #DF0000, #BF0000);
    background: linear-gradient( #DF0000, #BF0000);}/*0710*/
.mbe-menu2 #navi2 { border-bottom: none; }
#navimain li  { width: 20%;}/*0729 滑動選單*/
#navimain li  { }/*0729 滑動選單*/
.mbe-menu2 #navimain2 li, .mbe-menu2_show #navimain2 li  { 
    text-align: right; 
    border-bottom: 1px solid #555;
}
#navimain li a { 
    padding: 0;/*美食‧生活會破版*/
    text-align: center;
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}
.coupon-own-number {
    padding: 4px;
    border-radius: 5px;
    background: #bf0000;
    font-size: 12px;
    color:#fff;
    margin-right: 10px;
}
.mbe-menu2_show #navimain2 li a { 
    padding: 0; 
    padding-right: 15px; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.mbe-nav-city { display: block; background: #444; }
.mbe-nav-city .mbe-city-title {
    padding-left: 10px;
    color: #FFF;
    font: 13px/32px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
    border-bottom: 1px solid #555; 
    background: #555;
}
#navimain .mbe-nav-city li.mbe-city-btn {
    width: 30%;
    height: 25px;
    margin: 5px;
    padding-left: 0;
    float: left;
    text-align: center;
    vertical-align: top;
    border: none;
}
#navimain .mbe-nav-city .mbe-city-link {
    width: 100%;
    padding-left: 0;
    display: inline-block;
    font: 13px/20px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
    color:#FFF;
}
#navimain .mbe-nav-city li.mbe-city-btn.on, 
#navimain .mbe-nav-city li.mbe-city-btn:hover {
    border-radius: 5px;
    background: #BF0000;
}

/*A1-DealList_Normal-收藏區塊-Collect by ariel*/
#HKL_Collect, #HKL_Collect-ok, .HKL_juwindow{display: none;}
.rdl_Collect { 
    background-position: -278px -199px ;
    font-size: 15px;
    margin-left: 5px;
  }
  #maincontent .m-collect a { display: inline-block;}
 .rdl_Collect-ok { 
    background-position: -278px -265px ;
    font-size: 15px;
    margin-left: 5px;
  }
  #HKL_Collect a, #HKL_Collect-ok a, .HKL_Collect a, .HKL_Collect-ok a {padding-left: 22px;}
 .ly-e-cop-tab{ display: none;}
.share-popW {
    width: 300px;
    position: relative;
    border: 10px solid #fff;
    background: #F7F7F7;
    display: block;
}
.share-popX {top: -10px;right: -10px;}
.evtbar { width: 95%; }
/*新光三越專區檔次列表*/
.swiper-top + .center { background: #fff;}
.sk_content_box { width: 100%; background: #fff; margin: 5px 0;}
.sk_deal_right_block { width: 44%;}
.sk_deal_pic { width: 56%;}
.sk_deal_pic img { width: 100%; max-width: auto;}
.sk_buy_btn { display: none;}
.sk_tag_location { margin-left: 2%;margin: 3px;}
.sk_tag_title { width: 95%; margin-left: 2%;  height: 12px;line-height: 12px;font-size: 12px;}
.sk_tag_subtitle { width: 95%; margin-left: 2%; height: 16px;}
.sk_deal_price {   font-size: 18px;line-height: 22px;margin-left: 2%;float: left;margin-right: 5px;}
.sk_oriprice { margin-left: 2%;float: left;margin-top: 3px;}

}


@media screen and (max-width:568px) {
/*wvwnt6*/
 .evn-coptextinfo{  width: 50%; padding: 0;  }
/*APP限定*/
.cnt-zone #MainPic {width: 100%;}

}

/* 檔次頁中的評價在解析度的為手機版時，要秀於不一樣的位置，原位則予以隱藏 20160606 by getter */
@media screen and (min-width: 481px) and (max-width: 600px) {
    
    .item_3col .rating .fa{
        margin-right:-4px;
        font-size:14px;
    }
    .item_3col .rating .rating_count{
        font-size:10px;
    }
}
