﻿/*****暫時存放區塊 要放到ppon.css******/
/**/
.NaviCitySequence{
	line-height: 20px;
	padding: 8px 0 0 0;
	position: relative;
}
/*ulSwitch*/
.NaviCitySequence #ulViewSwitch{
	float: right;
	border: 1px solid #ccc;
	border-radius: 20px;
}
.NaviCitySequence #ulViewSwitch li{
	cursor: pointer;
	margin: 0 ;
	padding: 0 5px
}
.NaviCitySequence #ulViewSwitch li:nth-child(1){
	border-right: 1px solid #ccc;
}
.NaviCitySequence #ulViewSwitch li.on{
	color: #bf0000;
}
.NaviCitySequence #ulViewSwitch li:hover{
	color: #bf0000;
}
.item_wrap_grid .item_pic{
	width: 340px;
	height: 189px;
}
.item_wrap_list .item_pic{
	width: 480px;
	height: 267px;
}

/*****1280px以下 浮動跟屁蟲躲到側邊欄位*****/
@media screen and (max-width: 1280px) {
	.outside_AD{ display: none; }
	#Rightarea .inside_AD{ display: block; }
}


/*****1024px以下 共用部分******/
@media screen and (max-width: 1024px) {
	/*排序*/
	.NaviCitySequence {
		line-height: 20px;
		padding:8px 0 0 0; 
	}	
	/*切換顯示*/
	#ulViewSwitch{
		display: none;
	}
	/*右邊欄位 廣告*/	
	#Rightarea .side_block_ad{
		padding: 0px;
		width: 100%;   
	    background: #fff;
	    box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
	}
	#Rightarea .side_block_ad img{
		width: 100%;
	}
}
/*****769px~1023px 使用雙欄位*****/
@media screen and (min-width: 769px) and (max-width: 1023px) {
	
	/*.LeftRight_wrap*/
	.LeftRight_wrap{
		background: green;
	}
	
	/*#Left*/
	#Left{
		width: 72%;/**/
		height: auto;
		float: left;
	}
	#Left .item_wrap{
		width: 48.5%;
	}
	#Left .item_wrap_grid .item_pic{ width: 100%; min-height: 139px;}
	#Left .item_wrap_grid .item_title ul{
		width: 55%;
	}
	#Left .item_wrap_grid .item_title .tag_title{ 
		width: 70%
	}

	/*#Rightarea*/	
	#Rightarea{
		width: 25%;
		height: auto;
		float: right;
		display: block;
	}
	#Rightarea .side_block{width: 100%;}
	#Rightarea .side_block_content{ width: 100%;}
	#Rightarea .side_block_content{ padding:0px; border: none; }
	#Rightarea .side_block_content #FacebookareaContent{padding: 8px;}
	#Rightarea .side_block_content #Shopareatitle ul{padding: 8px;}
	#Rightarea .side_item{
		width: 100%;
		/*background: pink;*/
	}
	#Rightarea .side_item .side_item_pic{ min-height: 132px; }


	
}

/*****768px以下使用單欄位******/
@media screen and (max-width: 768px) {
	/*.center*/
	.center{
		width: 100%;
		float: left;
		margin-top: 0;
	}
	/*.NaviCityML 地區/商圈 下拉式選單*/
	.NaviCityML{
		width: 95%;
		margin: 10px auto;
	}
	/*.NaviCityW  地區/商圈 選項*/	
	.NaviCityW{
		width: 95%;
	}
	/*排序*/
	.NaviCitySequence{
		width: 95%;
		margin: 0px auto;
	}

	/*.LeftRight_wrap*/
	.LeftRight_wrap{
		display: block;
		width: 95%;/**/ 
		height: auto;
		margin: 0 auto;
	}

	/*#Left*/
	#Left{
		width: 72%;/**/
		height: auto;
		float: left;
	}
	#Left .item_wrap{
		width: 100%;
	}
	#Left .item_wrap_grid .item_pic{
	width: 340px;
	height: 286px;
	}
	/**/#Left .item_wrap_grid .item_pic{ width: 100%;}
	#Left .item_wrap_grid .item_pic img{ width: 100%;}
	#Left .item_wrap_list .item_price_more{display: none;}

	/*#Rightarea*/	
	#Rightarea{
		width: 25%;
		height: auto;
		float: right;
		display: block;
	}
	#Rightarea .side_block{width: 100%;}
	#Rightarea .side_block_content{ width: 100%;}
	#Rightarea .side_block_content{ padding:0; border: none; }
	#Rightarea .side_item .side_item_pic{ min-height: 100px; }
	#Rightarea .side_block_content{ padding: 0px; }
	.side_block_content #Shopareatitle ul{padding: 8px;}
	#Rightarea .side_item .tag_buycounter{display: none;}
}