﻿@charset "UTF-8";
/*screen device resolution width <= 480px for mobile portrait setting*/
@media screen and (max-width: 480px) {
.mgs-s-T{ display: none;}
.center.ac-center { margin:0 auto;}
.rd-C-Hide, .rd-t-Disap, .mc-content h1.rd-C-Hide{display: none;}  
.rd-M-Hide {display: none;}
.rd-box {display: inline-block;}
.center { width: 100%;float: left;}
.part-17life, .part-pez-cert, .part-serivce, #EmailTitle, .ch-todaydeal,
.ch-qa, .mc, .member-name, .White, #Login img, .outside_AD, .outside-topOptBox,
#TOPBanner, #Rightarea, .nc_deal_sort, .Encore, .dealsaletext,
.dealpricetext, .TimerTitleField .icon-clock-o, .HKL_MaindealTitle, .NEW-SoldOut-Block, .EntryTitle.ET_4, .rd-guarantee, .Detail_buy_box .price,
#DialogBottom, .three-promise, .NavAD_sp, .outside_AD, .pop-confirm, #MaindealFacebookarea,
.HKL_MainDealCityTitle, .HKL_MainDealProductName, .HKL_MaindealTitle,.HKL_MainDealCityTOPTitle, #HKL_Facebookarea, 
.DealPriceInfo .buy_btn_box, .TimerTitleField.forlist, .DealPriceInfo p.dealpricetext { display: none; }
 #maincontent .Maindeal {padding-bottom: 8px;}
.Maintitle {
    width: 50%;
    margin-top: 20px;
    margin-right: 2%; 
    margin-left: 1.5%;
    float: right;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 8px;
}
.Maintitle + .dts {
    min-height: 22px;
    margin: 0;
    top: -3px;
    left: 5px;
}
#MainPic {
    width: 42%;    
    min-height: 70px;
    height: auto;    
    margin-left: 2%;
    border: 2px solid #eee;
    float: left;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ppon-M1_pic.jpg',sizingMethod='crop');
}
#MainPic:hover, #MainPic:active {border: 2px solid #E2E2DA;}
#MainPic .alo-l {
    width: 50%;
}
.p3footer .footer_content, #middle, .HaokangList, .Maindeal,
.MaindealMiddle, #maincontent ,#Left, .info_bar, #FULL, #FULL > #maincontent
 { width: 100%; height: auto; margin-top: 0;}
 .HaokangList {margin-bottom: 10px}
#Login { font-size: 14px; }
.LoginBox { width: auto; margin: 5px 10px 5px 10px; }
.LoginBoxAfter{ margin-top: 0px;}/*17life header in iphone size have strange heigh*/
.HKL_MainDealAppName { 
    height: 36px;
    display: block; 
    padding-right: 5px;
    overflow: hidden; 
    font: 14px/18px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; 
}
.HKL_MainDealAppName .tag-location{padding:0px 2px 0px 2px;}
#Headermiddle, #middle, .DealPriceInfo.deal-detail-overwrite { height: auto; }
.p3footer .footer_logo { margin: 0 auto; padding-top: 10px;}
.p3footer .info-17life { width: 100%; padding: 0; text-align: center; }
a.rd-layout-switch { margin-top: 5px; display: block; font-size: 18px; color: #999; text-decoration: underline; }

#PponLOGO { width: 100px; height: 40px; display: inline-block; margin: 5px; margin-left: 5px; /*background: url(../images/ppon-M1_LOGO.jpg) no-repeat;*/}
#PponLOGO img{height: 100%;}
#navi { border-bottom: 0;}
#navimain { width: auto; } /*0729滑動選單*/
#navimain ul { width: 100%; margin: 0 auto; }
#navimain2 li  { width: 100%; }
.navbtn, .navbtn_inpage {
    width:100%;
    font: 13px/35px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
}
#navimain2 .navbtn:hover/**/,#navimain2 .navbtn:active {background: #BF0000;}
#navimain2 .navbtn_inpage {border-radius: 0}
.ch-itemdeli, .ch-beauty { display: none; }
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb { display: block; }

#navimain{ width: 100%;  text-align: center; }
.NaviCityMain { width: 100%; height: auto; text-align: center; }
.NaviCityMain a { font-size: 14px; }
.Maindeal, #maincontent .forsdeal, #Entry { width: 95%; margin: 10px auto;}
.MaindealMiddle { padding-bottom: 0px; }
.SoldOut_Bar_480 { width: 100%; height: 100%; background-size: contain; background-repeat: repeat-x; }
.Over1K_Badge {  width: 82px; height: 82px; top: -8px; left: -8px; background-size: contain; }
.m-dealpic { width: 100%; height: auto; float: none; margin-left: -2px; position: relative; border: 2px solid #D2D2CA; background: none;}
.m-dealpic:hover, .m-dealpic:active { border: 2px solid #E2E2DA; }
.default-pic {
    width: 100%;
    height: 0;
    padding-bottom: 55.625%;
    display: block;
    background: url(../images/ppon-M1_pic.jpg) no-repeat; 
    background-size: contain;
    background-position: center;
}
.default-pic img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.TimerTitleField, .MaindealClosed, .MaindealTitle, .MainDealProductName, 
.dealtitle_box, #EntryContent, #Detailinner.Equity, #Detailinner, #AddressTitle,
#Addressinner, #Dialog, .deal-title, #Detailinner.Equity .deal-detail-overwrite,
.Equitylink { width: auto; }
.TimerTitleField { margin-top: 0px; }
.DealPriceInfo { 
    width: 53%; 
    height: auto;
    top: 5px;
    background: none;
    border: none;
    text-align: right;
}
.DealPriceInfo p.dealprice { 
    margin-right: 10px;
    display: inline-block;
    font:18px/30px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
     }
.DealPriceInfo .discount { 
    width: 60px; 
    height: 30px; 
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    border-right: 1px solid #ccc;
    font: 18px/30px "Arial", "微軟正黑體", sans-serif; 
    color: #BF0000;
    background: none;
}
.DealPriceInfo .smalltext, .m-priceZone .smalltext, .lineview-priceZone .smalltext {font-size: 14px;}
.DealPriceInfo .buycounter { 
    width: auto;
    padding-left: 10px; 
    font-size: 12px; 
    position: absolute;
    top: -80px;
    right: 5px;
    background: none;
    opacity: 0.6;
    filter: alpha(Opacity=60, Style=0);
    -moz-opacity: 0.6;
}
.DealPriceInfo .buycounter .people { 
    font-size: 12px;
    color: #333;
    font-weight: normal;
}
.m-priceInfo .buy_btn_box { width: auto; height: auto; float: right; background: none; }
.DealPriceInfo .buy_btn.btn_normal, .m-priceInfo .buy_btn.btn_normal { width: 110px; height: 60px; margin-right: 5px; font-size: 24px; 
    /*background: url(../images/newdealdetail.png) -480px -89px no-repeat;
    background: url(../images/newdealdetail.png) -480px -176px no-repeat;  */
    background-position: -480px -176px ;
    background-repeat: no-repeat;
}
.DealPriceInfo .buy_btn.btn_normal:hover { 
    background-position: -607px -176px ; background-repeat: no-repeat;
    /*background: url(../images/newdealdetail.png) -610px -89px no-repeat;*/ }
.DealPriceInfo .buy_btn.btn_dontclick { width:120px; height:60px; margin-right: 5px; font-size: 24px; background:url(../images/newdealdetail.png) -740px -90px no-repeat; cursor:default; }
.Detail_buy_box { width: auto; text-align: center; }
.Detail_buy_box .btn_normal { margin: 0; }
.MaindealTitle, .MainDealProductName { font-size: 16px; min-height: 48px; }
#Detailinner, #Detailinner.Equity { font-size: 13px; }
.EntryTitle.ET_1, .EntryTitle.ET_2, .EntryTitle.ET_3, .EntryTitle.ET_4 { font-size: 18px; }
#DialogTop { width: auto; height: auto; font-size: 18px; line-height: 1.3; border-bottom: 1px solid #BF0000;}
#Dialoginner { width: auto; margin: 10px 0; padding: 0; font-size: 13px; background: none; }
#AddressTitle { font-size: 16px; }
#Addressinner li { font-size: 13px; }
#Detailinner iframe { display: none; }
.deal-detail-left, .deal-detail-right { width: auto; float: none; }
.deal-title { font-size: 16px; line-height: 24px; }
.rd-detail-price { float: left; }
.rd-detail-btn { float: right; margin-top: -15px; margin-right: 15px; }
.backbtn { margin-top: 10px; }
.MainDealCityTitle { margin-top: 8px; }

/*B1-Payment-by-alan*/
#Rightarea.rd-payment-qma, .rd-payment-words-hide, .grui-form .form-unit .data-input p.subnote.rd-payment-display, .grui-form .form-unit.rd-payment-form-unit-disappear { display:none;}
.TOPBanner, .safelycode {display:none;}
#Left { float: left;}
#Left.rd-payment-Left-width {width:100%; margin:0 auto;float: none;}
h1.rd-payment-h1 {width:auto;}
hr.header_hr.rd-payment-width { width:auto;}
.form-unit {width:auto; float:none; text-align:left;}
.LMPasswordFrame.text-center .form-unit { text-align: center;}
.btn.btn-xlarge.btn-primary.rd-payment-xlarge-btn { padding:10px 30px;}
.btn.btn-large.btn-primary.rd-payment-large-btn {  text-align:center; padding:10px 30px; margin-left:1%; margin-bottom:10px;}
.btn.btn-large.rd-payment-large-btn {  text-align:center; padding:10px 30px; margin-left:1%;}
#maincontent.clearfix {width:auto; margin:0 auto;}
#maincontent .content-group.payment, #FULL > #maincontent .content-group.payment { 
    width: 95%; 
    min-height: auto; 
    margin: 0 auto 10px;
    margin-top: 15px;
    padding: 10px 2px;
    border: 2px solid #CCC;
    background: #FFF;
    display: block;  }
#maincontent .content-group.payment h3 {width:auto; padding:5px 5%;}
#maincontent .content-group.payment h2.rd-payment-h2 {width:auto; padding:5px;}
#maincontent .content-group.payment .important, #maincontent .content-group.payment .info { padding: 5px;}
#maincontent .content-group.payment .member .info{padding: 5px;} /* 20150224 0級1級一般會員*/
#maincontent .content-group.payment .member .important{padding: 5px;} /* 20150224 0級1級一般會員*/
#maincontent .content-group.payment .mixitem .item-list {margin-left:5%;}
#maincontent .content-group.payment .mixitem .item-list .item-name { width:auto; margin:0; float: none;}
#maincontent .content-group.payment .mixitem .item-list .item-amount {width:auto; float:none; text-align: left;}
#maincontent .content-group.payment .mixitem .item-list .total-amount {width:auto;}
#maincontent .content-group.payment .mixitem .item-list .total-price { float: left; }
#maincontent .content-group.payment .info_bar {height:70px;}
#maincontent .content-group.payment .pay_success { background-size:contain; width:100px; height:100px;}
#maincontent .content-group.payment .pay_failed { background-size:contain; width:100px; height:100px; }
.pop-window .text-center .btn:first-child { position: relative;}
.pop-window .MGS-XX .btn:first-child { position: relative;}
#maincontent .content-group.payment .info_bar.rd-payment-hide {display:none;}
#maincontent .content-group.payment h2.rd-fd-title { padding: 0; }
.grui-form {width:auto; text-align:left; padding:5px; }
.grui-form .form-unit .unit-label{ width:auto; float:none; text-align:left; line-height:32px;}
.grui-form .form-unit .data-input{ margin-left:0; width:auto;}
.grui-form .form-unit.sublevel .data-input{ margin-left:0; width:auto;}
.grui-form .form-unit .data-input .input-half { width: 65%; }
.grui-form .form-unit.sublevel, .grui-form .form-unit.end-unit { width:auto; margin-left: 20px; }
.msg-block .grui-form .form-unit.end-unit{ margin-left: 0;}
.grui-form .form-unit .data-input p.subnote.rd-payment-margin-zero {margin: 5px 0 10px 10px;}
.grui-form .form-unit.rd-pay-margin {margin-left:8%;}
.grui-form .form-unit .data-input.rd-pay-margin {margin-left:5%;}
.grui-form .form-unit .data-input .input-credit { width:15%;}
.grui-form .form-unit .data-input .align-fix { margin: 0; }
.grui-form .form-unit.end-unit.rd-pay-pos-fix { margin-left: 0px; }
.grui-form .form-unit .data-input select.rd-fd-select { width: 100%; }
.grui-form .form-unit .data-input p.cancel-mr { margin-right: 0; }
.grui-form .form-unit .data-input p.cancel-mr-width90{ width: 90%;} /*20150320 為了*/
.grui-form .form-unit .data-input.empty { height: 10px; }
.grui-form .form-unit .data-input p.login-note { display: block; }
.grui-form .form-unit .data-input .input-50per { width: 95%;}
.select-list-block .grui-form .form-unit .data-input .input-small { width: 96%; margin-right:0;}
.select-list-block .grui-form .form-unit .data-input .input-half { width: 96%; margin-right:0;}
.select-list-block .grui-form .form-unit .data-input .input-full { width: 96%!important; }
.unit-label.account-label.rd-unit-label { display: block;}
.data-input.account-input.rd-data-input { display: block;}
.grui-form .form-unit .data-input.account-input { margin-left: 0;}

.grui-form .form-unit .enter-error{margin-bottom:25px;} /* 20150224 .enter-error在480px時下方距離不夠 */

.rd-fd-sn-text, .rd-fd-sn { display: block; }
.rd-dis-s { display: none;}
.LifeMemberTopBlack.rd-fd-sn { display: block; width: 90%; margin: 0 auto; margin-top: 20px; padding: 0 1px;}
.rd-letter-spacing {letter-spacing:-1px;}
.btn.btn-mini.rd-margin { margin-left:5%;}
.rd-pay-span-ctr { text-align:center;}
.info_bar .share .share_text.rd-share-text {line-height:20px; margin-bottom:10px;}
.rd-payment-xlarge-btn + .rd-payment-xlarge-btn { margin-left: 0; margin-top: 15px; }
.rd-payment-xlarge-btn.nomargin + .rd-payment-xlarge-btn { margin-left: 0; margin-top: 0px;}
.btn.m-btn100 { width:100%; margin: 10px 0; }

/*A2-multi-grade-by-TouNeko*/
.Multi-grade-Setting, .Multi-grade-Setting .mgs-boxtitle, .pop-window { width: 100%; box-sizing: border-box;}
.Multi-grade-Setting { border:none;}
.MGS-XX { width: 100%; height: auto; margin-bottom: 10px; position: static; text-align: center; background: none; }
.MGS-XX input { display: inline-block; }


/*for nivo slider*/
#slider { width: auto; height: 0; }
#slider img { display: inline-block; opacity: 0; width: auto; }
#slider img:first-child { position: inherit; }
.nivo-slice { top: 0; width: 100%; position: absolute; }

/*C1-MarberCenter-OrederList-by-ariel*/
.rd-float-lft { float:left;} 
.rd-float-right { float:right;}
.mc-order-states #OrderSavearea {display:block; font-size:13px; width:100%;} 
.mc-order-states .RecentOrder {display:block; float:left;} 
.mc-order-states .RecentOrder input {width:18px; height:18px; margin:0 5px 0 0;}
.mc-order-states .Orderselectarea {display:block; float:left; } 
.OrderAmount, .rd-PastCustomer, .OrderNumber, .OrderTrustState, .OrderDetailSale , .OrderDetailSubTotal, .btn-return, .rd-page-dis, .CashCouponsDate, .CashCouponsUseDate, .CashCouponsEXP {display: none;}
.tag-visable { display: block !important; }
/*C1-MarberCenter-OrederList-訂單/憑證列表-by-stan*/
.mc-tableContentITEM .OrderDate input.btn-mini{ display:inline-block; margin-top: -5px; }

/*.OrderSerial:before { content:"訂單編號：";}*/ 
.OrderSerial a {display:none; overflow: hidden;}
.center .mc-navbar { width: 100%; height:29px; margin-top: 0; display:inline-block; }
.center .mc-navbar .mc-navbtn{ box-sizing: border-box; -moz-box-sizing: border-box; width:33.3%; margin:0; border: 1px solid #CCC; border-radius: 5px 5px 0 0; border-bottom: #e4e4e4; border-left: 1px dotted #CCC; padding:0 1px;}
.center .mc-navbar .mc-navbtn a: {display:inline;}
.center .mc-content { width: auto; border: 0;}  .center .mc-content .rd-smll{ font-size:15px; position: relative;}
.center .mc-content p {font-size: 15px;}
#mc-table .rd-table{ width: 100%; }
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle {display:inline;}
#mc-table .rd-table td{text-align: left; padding: 0 5px;  border:none; font-size: 12px; color:#666666;}
#mc-table .rd-table .OrderSerial {display:none;}
#mc-table .rd-table .OrderName {width:100%;}
#mc-table .rd-table .OrderDate, .OrderName, .OrderExp, .OrderCouponState, .OrderState { width: 80%; display : block; }
#mc-table .rd-table .OrderDate {margin-top:8px;}
#mc-table .rd-table .OrderExp { color:#bf0000; padding-bottom:3px; display:inline; float:left; width:100%;}
#mc-table .rd-table .OrderCouponState { width:80%;text-align:right;height:20px; margin-bottom:10px; display: block; color:#333333;} 
#mc-table .rd-table .OrderState { width:97%; height:20px; margin-bottom:15px; color:#333333; float:left; display: none;} 
#mc-table .rd-table .OrderState .LastDate { width: auto; display: none; }
#mc-table .OrderArrow_btn_box {display:block; text-indent:-9999px; top:310px; right:0; width: 30px; clear: both; float: right; margin-top: -30px;}
#mc-table .rd-table .OrderCouponState .rd-c1-mcorbtn-mini{padding: 0 3px;font-size: 11px; display:none;}
.LMPasswordFrame{ width: 99.8%;}
.LMPasswordFrame.rd-fd-sn { width: 90%; border: #cdcdcd 1px solid; margin: 0 auto; margin-top: -1px;   padding-bottom: 20px; background: #fff;}
#mc-table .rd-table .OrderCouponState br{display: none;}
#mc-table .rd-table .OrderName #mc-tableContentTitleLeft { margin: 0 -2px 0 0; font-size:15px; color:#333333;}
#mc-table .rd-table .OrderName #mc-tableContentTitleRight {width:100%; display:none;}
#mc-table.coupon-table td { text-align: left; border-bottom: none; }
#mc-table.coupon-table th { display: none; }
.CashCouponsTitle:before { content:"活動名稱：";}
.CashCouponsDEN:before { content:"金額：";}
.CashCouponsDOL:before { content:"金額：";}
.CashCouponsSN:before { content:"券別：";}
.CashCouponsNumber:before { content:"序號：";}
.CashCouponsUseState:before { content:"使用狀態：";}
.CashCouponschoose:before { content:"選擇：";}

.BonusDate:before { content:"異動日期：";}
.CashDate:before { content:"異動日期：";}
.PEZCashDate:before { content:"異動日期：";}
.BonusActive:before { content:"生效日期：";}
.BonusExp:before { content:"有效期限：";}
.PEZCashExp:before { content:"有效期限：";}
.BonusSummary:before { content:"摘要：";}
.CashSummary:before { content:"摘要：";}
.PEZCashSummary:before { content:"摘要：";}
.BonusIn:before { content:"存入：";}
.CashIn:before { content:"存入：";}
.CashOut:before { content:"支出：";}
.BonusOut:before { content:"支出：";}
.BonusBalance:before { content:"餘額：";}
.CashBalance:before { content:"餘額：";}
.CashNote:before { content:"備註：";}
.PEZCashIn:before { content:"存入：";}
.PEZCashOut:before { content:"支出：";}
.PEZCashBalance:before { content:"餘額：";}
.CashCouponsEXP:before { content:"有效期限：";}
.CashCouponsDate:before { content:"發送日期：";}
.CashCouponsUseDate:before { content:"使用日期：";}
#mc-tableContentTitleLeft:before { content:"好康名稱：";}
.OrderAmount:before { content:"數量：";}
/*.rd-float-lft:before { content:"憑證狀態：";}*/
/*.rd-mcOrdetail span.rd-float-lft:before { content:"";} */ /*20150623 RWD訂單憑證顯示異常bug by stan*/
#mc-table .rd-table td { display: block;}



/*C1-MarberCenter-AccountSetting-by-ariel*/
.rd-DisplayPanel{display:inline;}  .rd-redColor{ color:#bf0000;}
.grui-form .form-unit .rd-unit-label{ width:30%; float:none;display:inline;font-size:14px; font-weight: bold; }
.grui-form .form-unit .rd-data-input{ margin:5px 0; }
.grui-form .form-unit .rd-data-input p{ margin:0;}
.grui-form .form-unit .rd-data-input p.rd-c-Cleartop{ padding-top:0px;}
.grui-form .form-unit .rd-data-input .rd-c-br{display:block; }
.mc-addressee-box { width: 95%; margin: 5px auto; padding: 5px 10px;}
.mc-addressee-box h2.rd-c-h2{ font-size:14px;margin:0;}
.mc-addressee-box .rd-grui-form{ padding: 5px 0 5px 0 ;}
.grui-form .form-unit .rd-data-input .rd-input-mini { margin:0;}
.grui-form .form-unit .rd-data-input .rd-input-small { margin:0;}
.grui-form .form-unit .rd-data-input .rd-mcacstbtn { margin: 10px 0 15px 0; display:block; float:none;}

/*C1-MarberCenter-AccountSetting/orderdetail-by-ariel*/
#mc-table .rd-mcOrdetail { width:100%; } 
#mc-table .rd-mcOrdetail th { width:100%; display:block; }
#mc-table .rd-mcOrdetail .OrderItemName, .OrderSN, .OrderCode, .OrderEXP, .OrderPonState, 
.OrderAddressee, .OrderAddrPhone, .OrderAddrAdd, .OrderDeliverInfo,
.OrderDetailItemName, .OrderDetailPrice, .OrderDetailAmount, .OrderDetailTotal, .OrderPayTotal, .OrderReturnDate, .OrderReturnAmount, .OrderReturnCash, .OrderReturnProcess, .OrderPayPEZ, .OrderPayBonus,
.OrderPayUupon, .OrderPayCash, .OrderPayCredit, .OrderPayAtm, .OrderPayCoupon, .OrderGetPon, .CashCouponsTitle, .CashCouponsDEN, .CashCouponsSN, .CashCouponsNumber, .CashCouponsUsed, .CashCouponsExpired, .CashCouponsUseState, .OrderPaySuperCash, .OrderPaySuperCoupon {width: 96%; display : block; }
.OrderGetPon:before { color:#BF0000; content:"索取憑證："; }
.order-get-coupon-box { width: auto; margin: 5px; padding: 5px 0 0 0; }
.order-get-coupon-box a:first-child { display: none; }
.rd-text-rg { text-align:right; width:100%;display:block; }
#mc-table .rd-mcOrdetail .mc-tableContentITEM td { width:96%;text-align:left; border:none; }
.mc-addressee-box .form-unit.end-unit { margin-left: 0px; }
.mc-cash-states { padding: 10px; }
.order-atm-info, .order-atm-header { padding: 10px 0; }


/*C1-MemberCenter-OrderList-Orderdetail-Karen*/
/*-------發票---Start----*/

.OrderDetailInvoice, .OrderDetailInvoiceInfor, .OrDetinvoicedetail {display:none;}
.m-order-table-title { width: 100%; height: 30px; margin-top: 30px; color: #FFF; background: #333; display: block; }
.order-table-title-invoice, .order-table-title-invoice h1  { display:none; }
.m-order-table-title h1 { margin-left: 10px; font-size: 16px; line-height: 30px; color: #FFF; }
.m-OrderDetailInvoice{height:auto;clear: both; border: 1px solid #999;background-color: #FFFFFF ; padding-top: 15px; padding-bottom: 15px; display: block;}
.OrderDetailInvoiceInText {display:none;}
.m-OrDetElectricinvoice { width:100%; height:auto; display: block;}
.m-OrDetElectricinvoice ul { list-style-type: none;  }
.m-OrDetElectricinvoice li { font-size: 12px; margin:0 0 0 10px; padding:5px; }


/*-------發票--End-----*/

/*C5-MemberCenter-Collect-by-ariel*/
.mc-c5tdwe1{ width: 70%; } 
.mc-c5tdwe4{ width: 30%; }
.center .mc-navbar, .mc-plr-box-R, .mc-c5tdwe0, .mc-c5tdwe2, .mc-c5tdwe3, .mc-c5tdwe1, .mc-c5tdwe4 { display: none;}
.mc5-btnSpacing { display: inline-block; margin: 10px 15px;}
.mc-plr-box-L  { font-size: 13px; width: 100%; margin-bottom: 15px;}
.rd-Off-line{ display: inline-block; width: 100%;}
.mc-infoBox { margin: 3px; }
.mc5T { height: auto; padding-bottom: 5px; line-height: 20px;}
.mc5-dealpricetext, .mc5-Sold {display: inline; }
.mc5-dealpricetext {margin-right:10px;}
.rdl-mc-LoginBox-dis{ display: none;}


/*A2-multi-grade-by-TouNeko*/
.Multi-grade-Setting, .Multi-grade-Setting .mgs-boxtitle, .pop-window { width: 100%; box-sizing: border-box;}
.Multi-grade-Setting { border:none;}
.MGS-XX { width: 100%; height: auto; margin-bottom: 10px; position: static; text-align: center; background: none; }
.MGS-XX input { display: inline-block; }
.Multi-grade-Setting .mgs-item-box .mgs-content {
    float: left;
    padding: 5px 6px 5px 6px;
    width: 72%;
}
.Multi-grade-Setting .mgs-item-box .mgs-price-box { padding-right: 5px; width: 65px;}
.Multi-grade-Setting .mgs-item-box .mgs-price-box .mgs-price { font-size: 17px;margin-top: 15px;}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state .mgs-sale { margin-right: 3px;}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state { font-size: 12px;}

.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state .mgs-buyer { margin-left: 1px;}

/*H-17lifeMember.html-ariel*/
.HomepageHeader,.HomepageLine,.LifeMemberTopBlack {display: none;}/* */
.LifeMember17logo{ display: block; margin: 20px auto;}
.LifeMember{ border: none; margin-top:0; }
.LifeMemberCenter{ width: 100%; /*background: #f3f4ef;*/ background:#f5f3f4; border:#f3f4ef 1px solid }
.LifeMemberLogFrame.posttype { width: 100%; height: auto;}
.post-wrap { width: 100%; height: auto;}
.post-content{ height: auto; overflow: inherit; padding: 10px;}
.Cityarea, .CityTop, .HomepageMarketingBn, .HomePageCityBottom, .LifeMemberAgree br, .LifeMemberAgree .rwd-wh,
.LifeMemberTopText img, .rdl-Tdis, .LifeMemberLoginPicText, .LifeMemberLoginPic, .LifeMemberAgreeError br, .LifeMemberAgreeError .rwd-wh, .lmbeclogingBtn2, .lmbeclogFBPEZTi, .header_btn_box { display: none;} 
.LifeMemberNote, .LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText,
.LifeMemberInfo_f li, .LifeMemberAgree, .LifeMemberAgreeError, .meeaar, .LifeMemberFirstShopping, 
.LMFirstShopping, .LMFShoppNote, .LifeMemberOtherLoging1, .LifeMemberOtherLoging2, .LifeMemberOtherLoging1{ display: block; }
.Homepagemiddle, .Homepagecenter{ width: 100%; background: #f3f4ef;}
.Homepageconter{ width: 90%;}
.LifeMember , .LifeMemberTop { width: auto; }
.LifeMemberFrame{width: 100%;margin-bottom: 0px;box-shadow: none;}
.MemberCardFrame, .MemberCard { width: 99%; box-shadow: none; }
.MemberCardFrame .LifeMemberCenter{ background: #fff;} /* 20150224 未登入系統 認證成功rwd版本背景為白色 */
.LifeMemberLogFrame{padding-top: 0px;}
.HomepageLogin { width: 30%;}
.LifeMemberTopText { font-size: 15px; width: 100%; margin: 0 auto; text-align: center;}
.rdl-tittleText{ /*font-family: "新細明體";*/ font-family: "Trebuchet MS", Trebuchet, Calibri, Tahoma, Arial, sans-serif; display: block;} 
.LMInfo ,.LMInfo ul.LifeMemberInfo, .LMFirstShopping, .LMFirstShopping ul.LMFShoppIn, .LifeMemberConfirmMessage, .LMPasswordFrame ul.LMPasswordIn, .LifeMemberConfirmRemarks, .PezFbFillInEmail,.PezFbFillInEmail ul { width: 100%;}
 
.LifeMemberInfo li, .LifeMemberInfo li:hover, .LMInfo li.LifeMemberInfoColor, .LMPasswordIn li, .LMPasswordIn li:hover, .LMPasswordFrame li.LMPasswordInColor, .LMPasswordFrame li.LMPasswordInColor:hover{ width: 90%; padding: 0 14px; height: 63px;}
.LMFShoppIn li, .LMFShoppIn li:hover, .LMFirstShopping li.LMFShoppInColor, .PezFbFillInEmail li, .PezFbFillInEmail li:hover, .PezFbFillInEmail li.PezFbFillInColor { width: 90%; padding: 5px 14px; height: auto; margin: 8px 0;}

.LifeMemberInfoTittle, .LifeMemberFirstShoppTittle, .LMFShoppTittle, .LMPasswordFrameTittle { width: 30%; font-size: 15px; letter-spacing: 0em;}
.LifeMemberText input, .LMPasswordFrameText input{ width: 68%; font-size: 14px;}
.LifeMemberText select{ width: 30%;  font-size: 14px;}
.LifeMemberNote, .LMFShoppNote, .LMPasswordFrameNote{ width: 100%; margin: 0; font-size: 12px; color: #999;}
.LMPasswordFrameNote { display: inline-block;}
.LifeMemberTXT2{ margin-left: -14px;}
.LifeMemberVerification.LifeMemberVFCodeText{ width: 91%; margin: 10px auto;}
.LifeMemberVerification{ width: 91%; margin: 10px auto; height: 103px;}
.LifeMemberInfo_f li, .LifeMemberInfo_f li:hover, .LMInfo li.LifeMemberInfoColor_f{ width: 86%; /*height: 105px;*/ height: auto; padding: 5px 8px;margin: 10px auto;}  
.LMInfo li.LifeMemberInfoColor_f{ /*height: 160px; height: 100px;*/ height: 60px;} /*註冊頁錯誤欄位過高*/
.LifeMemberAgree, .LifeMemberAgreeError{ width: 100%; left: 0px; font-size: 12px;} 
.LifeMemberVFCode{ width: 100%; margin-left: 0px;}  .LifeMemberVFCodeText{ width: 100%; display: block; margin: 10px 0 5px 0; text-align: center;} 
.meeaar{ margin-left: 0px;} .onlyRED{ margin: 0px; display: block;}

.LifeMemberFirstShopping{ padding: 30px 4px 5px 3px; width: 98%;}
.LifeMemberPEZOpenPassaPic, .LifeMemberConfirmMessage { display: block; margin: 0 auto; float: none;}
.LifeMemberPEZOpenPassText, .LifeMemberConfirmEPText { display: block; width: 95%; font-size: 15px; margin: 0 auto; float: none; }
.LifeMemberConfirmEPText { margin-top: 22px; }
.LifeMemberFirstShoppTittle { width: 32%; }
.rdl-FStittText { line-height: 22px; display: block; } .LifeMemberFirstShoppMail{ width: 55%; } .rdl-FSpT{ letter-spacing:0.1em;}
.LMFShoppName, .LMFShoppGender{ font-size: 15px; } .LMFShoppNote{ margin-left:-17px; display: block; }
.LMFShoppName input{ width:23%; font-size: 14px;} .LMFShoppPhone input{ width:65%; font-size: 14px; }
.LMFShoppInvoice select{ width: 86px; font-size: 14px; margin-left:0;}.LMFShoppInvoice input{ width: 163px; margin-left: 0;}
.rdl-redT, .rdl-redT2{color: #F00; margin-left: 17px; width: 100%;}
.LifeMemberLogFrame{ width: 95%; margin: 10px auto; height: 450px;}
.lmbecOtloginfor, .lmbeclogiTi, .lmbelogGO, .LMPasswordFrame{ margin: 0 auto; height: auto;}  
.lmbeclogiTi{ font-size: 12px; margin: 5px auto 0 auto; width: 98%;}
.lmbecloging{width:100%; /*margin: 5px auto;*/ height: auto;}
.lmbecloging input{ height: 33px;}
.lmbecloging li input[type=text]{ height: 33px;}
.lmbecloging li input[type=password]{ height: 33px;}
.lmbecOtloginfor img{ height: auto; max-width: 100%; margin: 0 auto;}
.lmbeclogingProof{width: 285px;}
.LifeMemberOtherLoging2, .LifeMemberOtherLoging1, .member17 .LifeMemberOtherLoging1, .member17 .LifeMemberOtherLoging2 { border: none;  height: auto;  margin: 0 auto 10px auto; width: 100%;} .lmbeclogingTEXT{ font-size: 13px; } 
.LifeMemberOtherLoging2{border-top: 1px dashed #999;padding-top: 3%; }
.LifeMemberOtherLoging1 img.LifeMember17logo{ /*display: block;*/ display: none;}
.LifeMemberSubtitle{ display: none;}
.lmbeclogingBtn{ max-width: 100%; margin-top: 5px; background:url(../../../Themes/default/images/17Life/NewMember/memberBtnCH1.svg) no-repeat; }
.lmbeclogingBtn:hover{background:url(../../../Themes/default/images/17Life/NewMember/memberBtnCH1.svg) no-repeat;}
.lmbecFbBtn{background:url(../../../Themes/default/images/17Life/NewMember/FBlogoBig.svg) no-repeat;}
.lmbecPezBtn{background:url(../../../Themes/default/images/17Life/NewMember/PEZlogoBig.svg) no-repeat;}
.LifeMemberConfirmMessage{ font-size: 15px;} .rdl-cmsgT{ padding: 15px; width: 89%;} 
.LifeMemberConfirmRemarks{ margin-top: 10px; padding: 15px 0 0 0;}
.rdl-LMPawdFTe input{ width:60%; font-size:14px;} .rdl-LMPawdTit { margin-left: 14px;}
.rdl-LMAgree{ height: auto; margin: 5px auto 15px auto;} 
.LMPasswordFrameText select{ width: 29%; font-size: 15px; height: 21px; margin-top: -1px;}
.LifeMemberTXT2 input.rdl-typchk{ width: 15px; display: inline-block;} .rdl-redT3{ margin: 0; } .rdl-redT5{ display:block; }
.lmMemoryLog-box { width: 43%;}
/*Fix會員專區消失*/
.rd-mc { display: inline-block;}

/*A3-event_1-6-活動頁*/
.ly-evn-pprule{ display:none;}
.ly-e-cop-tab{ display: none;}
.evn-cop-buy-sold-out-bar-290 { width: 100%; height: auto;}
.evn-cpp-pinnlife-sold-out-bar,.evn-cpp-pinnlife-coming-bar{ width: 100%; height: 100%:}

/*Piinlife M */

.rdl-list-box-piin { 
    width:95%;
    margin:0 auto;
    height:auto;
    display:none;
}
.rdl-Btn-box-piin { width: 100%; border-bottom: 5px #281b11 solid;}
.rdl-list-Lbtn-piin{ float:left; border-radius: 5px ; margin: 8px 0 ; }
.rdl-list-Rbtn-piin{ float:right; border-radius: 5px ; margin: 8px  0; }
.rdl-list-Lbtn-piin, .rdl-list-Rbtn-piin{ 
    background: #7e664e;
    width:48%; 
    height:50px; 
    line-height:50px;   
    font-size: 20px; 
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
    color: #fff;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.rdl-on-piin, .rdl-list-Lbtn-piin:hover, .rdl-list-Rbtn-piin:hover { 
    background-color: #281b11; color:#FFF; }
.rdl-list-downarrow-piin{ width: 15px; height: 15px;}
.rdl-Subbox-piin{ 
    width:100%; display: block; 
    margin: 10px auto 0 auto;  
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
}
.rdl-Subbox-piin ul{ 
    width: 99.8%; display: inline-block; margin-top: -10px;
    border:#adadad 1px solid; 
    border-top:none; 

}
.rdl-Subbox-piin li{ 
    background: #F3F3E9;
    border-bottom: 1px solid  #adadad;
    padding-left: 20px;
    line-height: 45px;
    cursor: pointer;
}
.rdl-Subbox-piin li:hover { 
    background:#ECECE2; 
    color: #f60;
}
.rdl-Subbox-piin li.inside{ 
    padding-left: 52px;
    list-style-image: url(../images/17life/G2/ac-rdl-icon.png);
    list-style-position: inside;
    font-size: 15px;
    line-height: 33px;
}

.ly-e-cop-ppon{ font-size: 27px; width: 100%; height: 40px; margin: 5px 0 0 0;}

.evn-cop-acNotice{
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 5px auto;
    overflow: hidden;
    width: auto;
    font-size:19px; 
    padding-left: 5px;
    color: #BF0000;
    overflow: hidden;
}
.evn-cpp-pinnlife-date-coming-bar{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(date_coming_bar_440.png);
    background-position: 50% 50%;
    background-size: 100% auto;}

.date-coming-text{
    width: 100%;
    height: 45%;
    color: #FFF;
    font-size: 22px;
    padding: 100px 0px;
    display: block;
    text-align: center;
    line-height: 25px;
}
.evn-cpp-pinnlife-pic-3column{
    width:96%;
    height:auto; 
    margin:10px auto;
    position: relative;
}
.evn-cpp-pinnlife-date-coming-bar-3column{
    width:100%;
    height:auto; 
    background-position: 50% 50%;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top:0;
}
.date-coming-text-3column{
     width:100%;
     height:100%;
     color:#FFF;
     font-size:20px;
     padding: 68px 0px;
     display:block;
     text-align: center;
     line-height: 105px;
     
}

/*faq*/
.fq_box, .full_block, .full_block .bg { width: 100%; margin: 0 auto ; background:#fff;}
.fq-Rbox, .fq-topKeyword, .aside { display: none;}
.fq-Lbox { width: auto; float: none; padding: 0px;}
.service .form { width: auto; float: none; padding: 15px;}
.fq-questionBOX { width: auto; padding: 11px; }
.fq-questionBOX img, .fq-phonebox{ display: none;}


.rdl-fqtitle-box{ 
    width: 100%;  
    height: 55px;
    background: #e7e6e1;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
 }
.rdl-fqtitle-box li{ 
    line-height: 55px;
    text-align: center;
    float: left; border-right: 1px solid #ccc;
       -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rdl-fqtitle-box li a:hover {text-decoration: none;}
.rdl-faqarrow-down .icon-chevron-faq:before {content: "\f078";}
.rdl-faqarrow-on .icon-chevron-faq:before {content: "\f077";}
.rdl-faqarrow-down span, .rdl-faqarrow-on span {padding-left: 0.3em;}


.rdl-faqcol-1-2 li { width: 50%; }
.rdl-faqcol-1-2 li:last-child {border-right: none;}

.rdl-iconshow{ display: none; float: right;}
.fq-qtitle { background: none; width: 100%; display: inline-block;}
.qt-box { width: 90%; float: left;}
.fq-questionBOX .icon-chevron-faq:before {content: "\f078";}
.fq-questionBOX-on .icon-chevron-faq:before {content: "\f077";}
.faqArea, .faqMail { width: 100%; background: #f5f5f5; display: none;}
.faqArea li, .faqMail li { 
   width: 100%; 
}
.faqArea a, .faqMail a  { text-decoration: none; display: inline-block; width: 100%; 
   margin: 0;
   text-align: left;
   padding: 16px;
   border-bottom: 1px solid #e5e5e5;
   background: none;
   font-size: 15px;
   font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.faqArea a.on, .faqMail a.on { color: #bf0000; background: #fff; }
.faqArea a:hover, .faqMail a:hover { background: #f8f8f8;}
.service .form .col100 { padding-bottom: 10px; height: auto;}
.service .form .col200 { width: 68px;}
.service .form .col50, .service .form .col60 { width: 75%; height: auto;}
.service .form .col50 input, .service .form .col60 select  { width: 95%;}
.service .form .col300, .service .form .col100nhm, .service .form .col100nh, .service .form .col100nh  { width: 100%;}
.service .form .col100nh input { width: 100%;}
.service .rdl-seerror_msg { 
    display: block;
    text-align: left;
    padding-left: 0;
    line-height: 22px; }
.col100ser-textarea{ width: 99%; padding:0; }
.service .form .col100nh input.rdl-col1-bn { width: 110px;}


/*客服中心*/
.mc-service-record .record-box .record-content, .mc-service-record .record-box.reply .record-content{ width: 88%;}
.mc-service-record .record-box.reply .record-content p{  font-size: 14px;}
.mc-service-record .record-box .record-time { margin-top: 10px;  font-size: 14px;}
.mc-service-record .record-box .unreply-icon, .mc-service-record .record-box .reply-icon,
.mc-service-record .record-box .replier-icon{ margin: 10px 5px 10px 0; }
.mc-service-record .record-box.reply { margin: 0 0 0 40px; }
.center .mc-rd-fonesize p{ font-size: 14px;}
.mc-service-record .record-state p{ font-size: 13px;}

/*APP限定*/
.cnt-zone #MainPic {
    width: 100%;
    margin-left: -2px;
    border: 2px solid #D2D2CA;
}
.cnt-box {padding: 0;}
.cnt-title {padding: 20px 20px 0 20px;}
.cnt-zone {margin: 10px 0;}
.btn-android {margin-top: 10px}
.cnt-title h1 {font-size: 22px;}
.app-download-box h3 {font-size: 18px;}

/*Mail-subscribe-Page*/
.mail-subscribe-bg { margin-top: 0; background: #c72c2c;}
.edm-left-block { width: 80%; display: none;}
.edm-right-block { width: 90%; margin-left: 0; margin-top: 20px;}
.edm-right-block h2 { font-size: 24px; line-height: 30px;}
.edm-right-block h3 { font-size: 16px;}
.edm-right-block li { margin-bottom: 10px; text-align: left;}
.edm-right-block input.edm-keyin { width: 70%;}
/*M版Slide Top BN --Alan*/
.slide-m-browser, .slide-bn-block.m-browser { display: block;}
.slide-m-browser { margin-top: -5px;}
.slide-bn-block { display: none;}
.activity-top-bn { width: 100%; height: auto;}
.slide-bn-area { width: 100%; height: auto; margin: 0 auto;}
.slide-bn-block:before { left: -240px;}
.slide-bn-block:after { right: -85px;}
.slideBox2 .hd { left: 25%; bottom: -2px;}
.prev { left: 1%; top: 35%;}
.next { right: 1%; top: 35%;}
#navimain .logo-inline, #navimain .navbtn_inpage, #navimain .navbtn, .marketing-block { display: none;}
.search-block { width: 95%; text-align: center; height: 40px; margin: -25px auto 0 auto; z-index:1;}
.search-bar { width: 80%; display: inline-block; float: none;}
.search-button { display: inline-block; float: none; margin-left: -5px;}
#navimain { height: 0;}
#navimain li { border: none; width: 100%;}
#navimain .fr { width: 100%; height: 0;}
.w-deal {display: none;}
.m-deal {display: block;}
.rdl-iconshow{ display: none;}
/* 首頁M版分類-by-gigi */
.m-classify {
    width: 100%;
    height: 40px;
    float: none;
    display: block;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px ;
    margin-top: 5px;
    margin-bottom: 0px; /*20150424 塞選調整至bn下方 修改下方間距*/
}
.m-classify li {
    float: left;
    border-right: 1px solid #ccc;
       -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.col-1-4 li{ 
    width: 28%; 
    height: 40px; 
    overflow: hidden;
}
.col-1-3 li, .col-1-2 li { width: 42%;}
.col-1-3 li:first-child,.col-1-2 li:nth-child(2) { display: none;}
.col-1-4 li:last-child, .col-1-3 li:last-child,.col-1-2 li:last-child {width: 16%; border-right: none;}
.m-classify a {
    width: 100%;
    font-size: 14px;    
    text-align: center;
    line-height: 40px;
    color: #888;
    display: block;
}
.m-classify li a:hover {text-decoration: none;}
.arrow-down .icon-chevron:before {content: "\f078";}
.arrow-on .icon-chevron:before {content: "\f077";}
.arrow-down span, .arrow-on span {padding-left: 0.3em;}
.filter span {
    font-size: 24px;
    line-height: 40px;
}
.arrow-on a,  .filter-on a {color: #BF0000;background: #fff;}
.arrow-on .icon-chevron-up {color: #BF0000;}
.DealPriceInfo .buycounter .icon-user, .lineview-counter .icon-user {color: #666; font-size: 12px; padding-right: 3px;}
.icon-clock-o {float: left; margin: 8px 0 0 0; color: #666; font-size: 12px;}
.mbe-switch {
    width: 100%;
    float: left;
}
.NaviCityW {
    width:100%;
    margin-top: 0;
    display: none;
    border: none;
    border-radius: 0;
    background: #eeeded;
}
.NaviCityMP, #ulSort, #ulFilter, .NaviCityML { 
    width: 100%; 
    margin: 0 auto; 
    border: none;  
    background: #f5f5f5;
    display: none;
}
ul.sub-classify {display: none;}
.NaviCitySelectArea, .NaviCitySelectSort, .NaviCitySelectArea { display: none; }
.NaviCityArea { 
    width: 100%; 
    padding: 0; 
    border: none; 
    text-align: center; 
}
.NaviCityArea li,.NaviCitySequence li, .NaviCitySort li { 
    width: 100%; 
    margin: 0;
    float: none; 
    text-align: left;
}
.NaviCityArea a, .NaviCitySequence a, .NaviCitySortRank a, .NaviCitySortRank li > a { 
    width: 100%; 
    margin: 0;
    padding: 12px;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    background: #f5f5f5;
    border-radius: 0;
    font-size: 14px; 
    font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.NaviCityArea a:hover,.NaviCitySequence a:hover, .NaviCitySort a:hover { 
    width: 100%; 
    background: #f8f8f8; 
    color: inherit;
    border-radius: 0;
    text-decoration: none;
    }
.NaviCityArea a.on, .NaviCityArea a.on:hover, .NaviCitySequence a.on, .NaviCitySequence a.on:hover, .NaviCitySort li.on a, .NaviCitySort li.on:hover a {
    color: #BF0000;
    background: #fff;
}
.NaviCitySort a:hover .WordsGray, .on a:hover .WordsGray ,.NaviCitySort li.on .WordsGray{color: #ccc;}
.NaviCitySort, .NaviCitySortRank, .NaviCitySequence {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}
#ulSort, #ulFilter { width: 100%;float: left; }
#ulFilter li {border-bottom: 1px solid #e5e5e5;}
#ulFilter li.m-filter-btn {
    display: block;
    padding: 10px 0;
    border-bottom: none;
}
.ncs-filter { 
    margin: 1px 10px;
    position: relative;
}
input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].css-checkbox + label.css-label {
    width: 100%;
    padding-left: 20px;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
}
.ncs-filter input[type=checkbox]:checked + label span:first-child {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.ncs-filter input[type=checkbox] + label span:first-child {
    opacity: 0;
    margin-top: 3px;
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 12px;
    left: 0;
    border: 3px solid #BF0000;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.sliding-menu {
    position: relative;
}
.sliding-menu ul {
    float: left;
    margin: 0;
}
.NaviCitySortRank ul > li.sub-arrow > a:before, .NaviCitySortRank ul > li.sub-arrow > a:after,
.NaviCitySortRank ul > li.sub-arrow.on > a:before{
    border: none; position: inherit; top: 0;
}
.sliding-menu a.nav:before, .NaviCitySortRank ul > li.sub-arrow > a:before {
    content: '\3009';
    float: right;
    margin-left: 1em;    
}
.sliding-menu a.back:before {
    content: '\3008';
    float: left;
    margin-right: 1em;
}
.sliding-menu a.back{
    background: #999;
    color: #FFF;
}
.dts-label {text-shadow: none;}

/* A1-DealList_Normal.html / A1-DealList_3Column.html 分類 Start-NEW 20140505*/
.rdl-Aa-m-none{ display: none !important; }
.Area-menu {
   width: 100%;
}
.Area-menu a {  padding: 12px; display: block; font-size: 14px;}
.Area-menu ul { 
    display: block;   
 }
 .Area-menu li {
    white-space: normal;
    display: inline;
    width: 100%;
    background: none;
    border: none;
}
.Area-menu li:hover{
    background: #444;  
    color: #444;
 }

 .Area-menu li:link > a, .Area-menu li:hover > a { color: #444;}
.Area-menu ul li {
    display: block;
    background: none;
    border: 1px solid #E5E5E5;
    padding: 0;
    margin-bottom: -1px;
    position: relative;;
}
.Area-menu ul li a.on { 
    background: none repeat scroll 0 0 #FFFFFF;
    color: #BF0000;}

.Area-menu ul > li:hover { 
    background: none; 
    border: 1px solid #E5E5E5;
}
.Area-menu li > a:hover, .Area-menu ul > li a:hover, .Area-menu ul ul li:hover .allBox > a { color: #444; }

.Area-menu ul li.aam-pd:after, .Area-menu ul li.aam-pd:hover:after {
    border-color: transparent transparent transparent #444; 
    border: 5px solid transparent;
   border-top-color: #444;
   margin-top: 20px;
   top: 0;
}
.aam-w { display: block;}
.Area-menu ul, .Area-menu ul ul {
    box-shadow: none;
    position: inherit;
}
.Area-menu ul ul {
    left: 0;
    margin-left: 0;
    border: none;
}
.Area-menu ul ul.u2, .Area-menu ul ul.u3, .Area-menu ul ul.u4, .Area-menu ul ul.u5, .Area-menu ul ul.u6 { left: 0; margin-top: 0; border-top: 1px solid #E5E5E5;}
.Area-menu ul ul li {  border-top:none;  padding:0;}
.Area-menu ul ul li:hover {  width: 100%; border-top:none; background: none;}
.Area-menu ul ul li > .padin a { margin:  0; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;left: 0;}
.Area-menu ul ul li > .padin > a:hover { background: #f8f8f8; border-radius: 0px;}
.Area-menu ul ul li > .padin:last-child a { border-bottom: none;}
.Area-menu ul ul li > .padin, .allBox { padding:0; margin: 0;}
.Area-menu ul ul li > .padin, .allBox:last-child  { border-bottom: none;}
.up li {
    width: 100%;
}

/* 內頁M版-by-gigi */
.mobiledeal {
    width: 95%;
    margin: 10px auto;
    border: 2px solid #CCC;
    background: #FFF;
}


/*201508 新增 "分期0利率 by stan*/
.mobiledeal .info_bar .payment_state{ display: none;}
.mobiledeal .info_bar .price_installment_rwd{ display: block; float: right;} 
.mobiledeal .info_bar .price_installment_rwd p{ color: #f60; font-weight: bold; line-height:30px; margin-right: 10px;}

.m-tool {padding: 0px 10px;}
.m-dts {
    height: 36px;
    position: relative;
    top: 8px;
    z-index: 8;
    float: left;
}
.m-collect {
    position: relative;
    top: 8px;
    float: right;
}
.m-priceInfo {padding: 10px;}
.m-priceZone {
    padding-left: 10px;
    color: #BF0000;
}
.m-discount, .m-price {
    display: inline-block;
    font: 24px/40px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
.m-discount {
    margin-right: 6px;
    padding-right: 6px;
    border-right: 1px solid #ccc;
}
.m-buycounter {
    padding: 5px 10px;
    background: #FAFAF7;
}
.m-time {
    padding-left: 12px;
    float: left;
}
.m-time .TimeConDigit {
    width: auto;
    font-size: 14px;
}
.m-counter {
    margin-top: 5px;
    padding-left: 12px;
    float: right;
    font-size: 12px;
}
.m-counter .icon-user {padding-right: 3px;}
.m-share {
    width: 95%;
    margin: 0 auto 10px;
    padding: 10px 0 0;
    border: 2px solid #CCC;
    background: #FFF;
    display: block;
}
.m-share .share_text {
    margin: 5px auto;
    float: none;
    text-align: center;
}
.m-share .share_btn_box {
    margin-top: 5px;
    margin-right: 5px;
    float: none;
    display: inline-block;
    vertical-align: middle;
    display: none;
}
.mar-center {width: 285px; margin: 0 auto; text-align: center;}
.m-fbBtn,.m-lineBtn, .m-copyBtn {
    width: 45px;
    height:45px;
    display: inline-block;
    vertical-align: middle;
}
.m-fbBtn {
    background: url(../images/m_share_fb.png) no-repeat left center;
    margin: 0 5px;
}
.m-lineBtn {background: url(../images/m_share_line.png) no-repeat left center; margin: 0 5px;}
.m-copyBtn {background: url(../images/m_share_copy.png) no-repeat left center; margin: 0 5px;}
.share-tip {
    margin-top: 10px;
    padding: 5px 10px;
    color: #888;
    background: #FAFAF7;
    font-size: 12px;
    text-align: center;
}
.share-tip a { 
    display: block; 
    color: #888; 
    text-decoration: underline;
    font-size: 12px;
}
.m-buyBtnBig a{
    width: 95%;
    margin: 0 auto;
    padding: 7px 0;
    display: block;
}
.m-buyBtn.m-buyBtnSmall.m-buyBtnRed {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
.m-buyBtnSmall a{
    margin: 0 2%;
    padding: 5px 0;
    width: 45%;
    }   
.m-buyBtn a {
    font-size: 20px;
    color: #FFF;
    text-align: center;     
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}
.m-buyBtn a:hover {text-decoration: none;}
.m-buyBtnRed a {
    background-image:linear-gradient(top,#fc3030,#df1313);
    background-image:-moz-linear-gradient(top,#fc3030,#df1313);
    background-image:-webkit-linear-gradient(top,#fc3030,#df1313);
    background-image:-o-linear-gradient(top,#fc3030,#df1313);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3030', endColorstr='#df1313', GradientType=0);
    background-color: #EC1818;
    box-shadow: 0px 2px 2px rgba(0%, 0%, 0%, .3);
}
.m-buyBtnRed a.right-buy {
    background-image: -webkit-linear-gradient(#ff6300, #ff3800);
    background-image: -o-linear-gradient(#ff6300, #ff3800);
    background-image: linear-gradient(#ff6300, #ff3800);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6300', endColorstr='#ff3800', GradientType=0);
    background-color: #ff5300;
    box-shadow: 0px 2px 2px rgba(0%, 0%, 0%, .3);
}
.m-buyBtnRed a:hover {background: #fc3030;}
.m-buyBtnDisabled a {
    background-image:linear-gradient(top,#6f6f6f,#979797);
    background-image:-moz-linear-gradient(top,#6f6f6f,#979797);
    background-image:-webkit-linear-gradient(top,#6f6f6f,#979797);
    background-image:-o-linear-gradient(top,#6f6f6f,#979797);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f6f6f', endColorstr='#979797', GradientType=0);
    background-color: #888;
    cursor: default;
    -webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 6px rgba(0,0,0,0.25);
    box-shadow: inset 0 1px 6px rgba(0,0,0,0.25);
}
.m-buyBtn.m-buyBtnSmall.m-buyBtnDisabled {text-align: right;}/*無法購買時 按鈕可以自動置右*/
.m-buyinAPP a{padding: 10px 0;}

#EntryContent {padding: 0;}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-title {height: 48px;} 
.EntryTitle {
    margin-bottom: 0;
    font-size: 18px; 
    line-height: 1.3;
    padding: 10px;
    color: #BF0000; 
    border-bottom: 1px solid #ccc;
    background-color: #e5e5e5;
    background-image:linear-gradient(#f8f8f8 0%, #e5e5e5 100%);
    background-image:-webkit-linear-gradient(#f8f8f8 0%, #e5e5e5 100%); 
    background-image:-moz-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);    
    background-image:-o-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e5e5e5', GradientType=0);
    cursor: pointer;
}
.EntryZone {margin: 20px;}
#DialogTop {
    margin-top: 0;
    background-image:linear-gradient(#f8f8f8 0%, #e5e5e5 100%);
    background-image:-webkit-linear-gradient(#f8f8f8 0%, #e5e5e5 100%); 
    background-image:-moz-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);    
    background-image:-o-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e5e5e5', GradientType=0);
    background-color: #e5e5e5;
}
#DialogTop.EntryTitle {
    border-bottom: 1px solid #ccc;
}
.ui-accordion-header {position: relative;}
.ui-widget-content {background: #fff;}
.ui-icon {
    display: block;
    width: 15px;
    height: 11px;
    position: absolute;
    right: .5em;
    top: 50%;
    margin-top: -5px;
}

.ui-state-default .ui-icon {background: url(../images/arrow_black_down.png) no-repeat 95% center;}
.ui-state-active .ui-icon {background: url(../images/arrow_black_up.png) no-repeat 95% center;}
.lineview-buy {
    display: block;
    width: 95%;
    margin: 10px auto;
}
.lineview-buy h4 {
    width: 100%;
    height: 32px;
    margin: 20px 0 0 0;
    font-size: 18px;
    border-bottom: 1px solid #CCC;
    color: #333;
    line-height: 32px;
    display:table;
}
.lineview-buy h4 svg{ display:table-cell; /*vertical-align:middle;*/}
.lineview-buy-box {
    width: 100%;
    margin: 15px 0;
    border: 1px solid #CCC;
    background: #FFF;
    box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15);
}
.lineview-buy-box:hover {border-color: #d00000;}
.lineview-tool {margin: 3px 10px;}
.lineview-dts {
    position: relative;
    z-index: 99;
    top: 4px;
    float: left;
}
.lineview-counter {
    margin-top: 10px;
    padding-left: 12px;
    float: right;
    font-size: 12px;
    background: none;
    filter: alpha(Opacity=60, Style=0);
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.lineview-buy-pic {
    float: left;
    margin: 0 10px;
    width: 130px;
    height: 72px;
    position: relative;
    background: url(../images/ppon-M1_pic.jpg) no-repeat left top;
    background-size: 100%;
}
.evn-cop-buy-pic img {max-width: 100%;height: auto;}
.lineview-buy-sold-out {
    width: 100%;
    height: 162px;
    z-index: 5;
    left: 0px;
    top: 0px;
    position: absolute;
}
.lineview-buytitle{
    height: 36px;
    margin-right: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px dashed #CCCCCC;
    overflow: hidden;
}
.lineview-minorange-title {
    height: 18px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin: 0 auto 5px;
    font-size: 13px;
    line-height: 23px;
    
    overflow: hidden;
}
.lineview-minorange-title a {
    color: #f60;
    text-decoration: none;
}
.lineview-buyinformation {
    overflow: hidden;
    display: block;
    height: 28px;
    margin: 5px 10px;
    width: auto;
}
.lineview-priceZone {
    float: right;
    color: #BF0000;
    font-size: 18px; 
}
.lineview-discount {
    margin-right: 6px;
    padding-right: 6px;
    border-right: 1px solid #ccc;
    float: left
}
.lineview-price {float: right;}

.lineview-buy-pic .activeLogo img{width: 50%;}
#Detailinner.Equity.deal-detail-overwrite {
    width: 85%;
    margin: 20px;
}
.Equitylink .shop {display: none;}

.mgs-s-T{ display: none;}

#navimain2 a {
    color: #FFFFFF;
    text-decoration: none;
}
.mbe-menu2 #navimain2 li, .mbe-menu2_show #navimain2 li  { 
    text-align: right; 
    border-bottom: 1px solid #555;
}
#navimain2 li {
    float: right;
}
.pay-evt-bg { background: none; }
/*.fistbuy-bg >a{ display: none;}*/
.evtbar-content { font-size: 14px; }
.evn-cop-all-right {
    float: right;
    width: 48%;
}
.evn-cop-buytitle{ 
    display: block; 
    height: 19px; 
    margin: 4% 10px 0px 0; 
    width: auto;
    font-size: 15px;
    padding: 0 10px;
}
.evn-cop-minorange-title{ 
    display: block; margin: 5px 0px 5px 0px; 
    height: 26px; line-height: 26px;
    width: auto; 
    padding: 0 10px;
    border-bottom: 1px dashed #CCCCCC;
}
.evn-cop-discount { width: 25%;font-size:18px; margin-right: 5px;}
.evn-cop-discount .smalltext { font-size: 12px;}
.evn-cop-buytotle{ width: 45%; font-size: 18px; line-height: 30px;}
.st-e-cop-buybtn{ width: 41%; height: 27px;  line-height: 27px; font-size: 12px; margin-top: 1px;}

.evn-cop-buyinformation{ overflow: hidden; display: block;  height: 40px; margin: 0 10px 0px 0; width: auto;}
.rdl-pl-show{ display: none;}

.permutation li { float: none; }
.rd-mg10 { margin: 10px; }

/*A3-event_1-6-活動頁*/
#TOPBanner,.ly-e-cop-area-menubar, .skm-QrMessagefarm{ display: none;}
.evn-cop-tn-bar { width: 100%;}
.ly-e-cop-farme { margin: 0 auto; width: 95%; }
.st-e-cop-area-bar { width: 15%; margin: 0 5px;}
.evn-cop-buy-sf-box{ width: 100%; margin: 15px 0;}
.evn-cop-tn-bar { width: 100%;}
.ly-e-cop-farme { margin: 0 auto; width: 95%; }
.evn-cop-buy-sf-box{ width: 95%; margin: 15px auto; float: none;}
#Act-TOP{  width: 100%;}
#Act-smallTOP{ width: 100%; height: auto;}
.rdl-list-box { 
    width:95%;
    margin:0 auto;
    height:auto;;
    }
.rdl-Btn-box { width: 100%; border-bottom: 5px solid #9f0000;}
.rdl-list-Lbtn{ float:left; border-radius: 5px ; margin: 8px 0 ; }
.rdl-list-Rbtn{ float:right; border-radius: 5px ; margin: 8px  0; }
.rdl-list-Lbtn, .rdl-list-Rbtn{ 
    background: #24231D;
    width:48%; 
    line-height:50px;   
    font-size: 20px; 
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
    color: #fff;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.rdl-on, .rdl-list-Lbtn:hover, .rdl-list-Rbtn:hover { 
    background-color: #BF0000; color:#FFF; }
.rdl-Subbox{ 
    width:100%; display: block; 
    margin: 10px auto 0 auto;  
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
}
.rdl-Subbox ul{ 
    width: 99.8%; display: inline-block; margin-top: -10px;
    border:#adadad 1px solid; 
    border-top:none;
}
.rdl-Subbox li{ 
    background: #F3F3E9;
    border-bottom: 1px solid #dfdfdf;
    padding-left: 20px;
    line-height: 45px;
    cursor: pointer;
}
.rdl-Subbox li:hover { background:#ECECE2; }
.rdl-Subbox li.subbox-on {
    border-left: 2px solid #BF0000;
    color: #BF0000;
    background: #FDFDF7;
}
.rdl-Subbox li.subbox-on:hover {background:#FDFDF7 }
.rdl-Subbox li.inside{ 
    padding-left: 52px;
    list-style-image: url(../images/17life/G2/ac-rdl-icon.png);
    list-style-position: inside;
    font-size: 15px;
    line-height: 33px;
}
.ly-e-cop-ppon{ font-size: 27px; width: 100%; height: 40px; margin: 5px 0 0 0;}
.evn-cop-acNotice{
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 5px auto;
    overflow: hidden;
    width: auto;
    font-size:19px; 
    padding-left: 5px;
    color: #BF0000;
    overflow: hidden;
}

/*活動頁子頁籤.scroll-tab by gigi*/

.Curatorial-Sort.m-Curatorial {
    display: block;
    margin-bottom: 10px;
}
.Curatorial-Sort .rdl-list-box {
    width: 100%;
}
div.scrollWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
div.scrollableArea {
    position: relative;
    width: auto;
    height: 100%;
    display: block;  
}
.scroll-tab {
    width:100%;
    margin-top: 10px;
    height: 50px;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
}
.scroll-tab li {
    padding: 0 1em;
    height: 48px;
    position: relative;
    float: left;
    display: block;
    text-align: center;
}
.scroll-tab li a {    
    line-height: 50px;
}
.scroll-tab li.on a, .scroll-tab li a:hover {
    color: #bf0000;
    text-decoration: none;
}
.scroll-tab li.on {
    color: #bf0000;
    border-bottom: 2px solid #bf0000;
}


/*活動辦法*/
.rdl-evn-pprule {  
    width:100%; 
    margin:10px 0 20px 0; 
    background:#FFF; 
    display: inline-block;
    border: 1px solid #CCCCCC;
}
.rdl-ru-title{
    width:94%; 
    margin:0 auto; 
    padding-top:13px; 
    font-size:21px; 
    border-bottom:1px solid #666; 
}
.rdl-evn-pprule  .rdl-ru-content { 
    width:94%; 
    margin:0 auto; 
    padding:15px 0; 
}
.st-e-cop-optionsbn img{ 
    max-width: 100%;
    height: auto;   
}
.evn-cop-buy-pic{ float: left; margin: 10px; width: 45%; height: auto;}
.evn-cpp-pinnlife-box {
    margin: 10px 8px;
    width: 95%;
}
.evn-cpp-pinnlife-pic {
    float: none;
    height: auto;
    margin: 10px;
    width: auto; }

/*wvwnt6*/
.evn-copcafarm {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #CCCCCC;
}
.evn-copcadealname {  
    width: auto; 
    position: relative; 
    background: none; 
    color: #000; 
    text-align: left;
    margin: 15px 0 10px 0;
    font-size: 19px;
    word-break: normal;/*(自動換行英文斷行)*/
    height: 20px;
    padding-left: 0;
}
.rdl-p6-coupon-pic { 
    float: left;
    height: auto;
    margin: 10px;
    width: auto; 
}
 .evn-copcafarm > a > img {
    height: 121px;
    margin-top: 0;
    max-width: 180px;
}
 .evn-coptextinfo { 
    text-align: left;
    display: inline;
    font-size: 15px;
    height: auto;
    margin: 15px 0 5px;
    padding-right: 10px;
    width: 55%;
 }
 .evn-cop-ptext { 
     width:auto; text-align: left; margin-bottom: 15px; color: #f60;height: 20px; overflow: hidden; padding-right: 5px;
 }
 .st-evncopca-col-btn, .st-evncop-favoritetoo-btn{ float: left;}
/*導覽列加入new icon*/
.new_icon{ background-size:80%;}
.new_icon_in{ background-size:80%;}

/*退貨頁面-GiGi*/
.ReturnCenter {padding: 20px 0;}
.error-bg {padding-left: 20px;}
a.btn-link {display: block;margin-top: 20px;}
.evn-cpp-pinnlife-box-3column { margin: 10px auto; width: 100%;clear: both;}

/* Cash Voucher UX */
.voucherstatus_area { width: 100%; margin: 0 0 15px 0;}
.voucher_content {height: auto;margin: 10px auto 0px;text-align: center;border: 1px solid #999;clear: both;}
.voucher_content_status{background:#ffe1e1;padding: 30px 10px; font-size:15px;}
.voucherselect_area{ display: none;text-align: left;float: left;}
.voucherselect_sbn{padding-left: 28px; width: 100%;}
.voucher_sbn_area{ display: block; width: 70%;}
.Voucher_Pagination { display:block; clear:both; }
.voucher_ind { width:50px; }

/* Voucher w*/
#vc-table { border: none;}
.vc-tableContentITEM { border-top: 1px solid #757575; border-left: 1px solid #757575; border-right: 1px solid #757575;
                       background: url(../images/voucher.jpg) 0px 0px repeat; }
.vc-tableContentITEM.super-coupon {background: url(voucher-super.jpg) 0px 0px no-repeat; }
.vc-tableContentITEM td { border:0;}
#vc-table > table {border: none;width: 100%;margin: 10px auto; display: table; clear: both;}
#vc-table th {display:none;}
#vc-table.order-detail th {color:#333;background-color: #CDCDCD;padding: 5px;}
#vc-table.order-detail td {padding: 5px;}
#vc-table p.info { margin: 10px; }
#vc-table tr {float: none; display: inline-block; margin:10px auto; width:100%;}
#vc-table td { width: 69%; padding:2px 5px;font-size:13px;text-align:left; float: right; color: #570a0a;}
#vc-table .text-left { text-align: left; }
#vc-table .text-right { text-align: right; }
#vc-table tr:nth-child(even) { background-color: #eee; }
#vc-table.order-detail tr:nth-child(even) { background-color: #eee; }
.vc-tableContentITEM .OrderSerial input[type="submit"] { padding: 1px 5px; font-size: 11px; }
#vc-tableContentTitleLeft {height:auto;text-align: left;font-size: 15px;margin-right: auto;margin-left: auto;margin-top: 6px;}
#vc-tableContentTitleLeft img {float: left;height: 59px;width: 103px;}
#vc-tableContentTitleRight {height: 23px;margin: 0px auto 6px auto;text-align: left;font-size: 12;color:#666;clear: both;}
#vc-table tr.vc-tableContentITEM td.CashCouponsDEN:before{content:"";}
#vc-table tr td.CashCouponsDEN { width: 18%; margin:5px; font-size: 22px; text-align: center; float: left;}
td.CashCouponsDEN:after { content:"現金券";color: #570a0a; font-size:16px; display: block;  border-top: 1px solid #570a0a;}
td.CashCouponsDEN:first-line { }
#vc-table tr td.CashCouponsSC { padding:13px 0px 10px 10px; font-size: 32px; text-align: center;}
td.CashCouponsSC:after { content:"超級現金券";color: #570a0a; font-size:20px;}
.CashCouponsChannelAll img {display:block;}
.CashCouponsChannel_L img {display:block;}
td.CashCouponsChannelAll:before { content:"適用：";}
td.CashCouponsLimited:before { content:"門檻：單筆訂單";}
td.CashCouponsrule:before { content:"使用門檻：";}
#vc-table tr td.CashCouponsEXP { font-size: 9px; padding:0 10px; width:95%;}
td.CashCouponsEXP:before { content:"生效期限.voucherselect_area"; display: block; font-size: 12px; }
#vc-table tr td.CashCouponsEFT { font-size: 9px; padding:0 10px; width:95%;}
td.CashCouponsEFT:before { content:"有效日期"; display: block; font-size: 12px; }
td.CashCouponsEFD:before { content:"有效期限：";  font-size: 12px; }
#vc-table tr td.CashCouponsTitle{display: none;}
#vc-table tr td.CashCouponsUsed {width: 100%; border-top: 1px solid #757575;border-bottom: 1px solid #757575;float: none;
                  background: #333; color: #fff;  margin: 0 auto; padding: 0px; clear: both; text-align: center; font-size: 13px;}
td.CashCouponsUsed:before { content:"已於"; font-size: 12px; }
td.CashCouponsUsed:after { content:"使用";  font-size: 12px; }
#vc-table tr td.CashCouponsExpired {width: 100%; border-top: 1px solid #757575;border-bottom: 1px solid #757575;float: none;
                  background: #333; color: #fff;  margin: 0 auto; padding: 0px; clear: both; text-align: center; font-size: 13px;}
#vc-table tr td.CashCouponsSN {width: 100%; border-top: 1px solid #757575;border-bottom: 1px solid #757575; 
                  background: #333; color: #fff;  margin: 0 auto; padding: 0px; clear: both; text-align: center; font-size: 13px;}
#vc-table tr td.CashCouponsNumber {width: 100%; border-top: 1px solid #757575;border-bottom: 1px solid #757575;float: none;
                  background: #333; color: #fff;  margin: 0 auto; padding: 0px; clear: both; text-align: center; font-size: 13px; max-width: 100%;}                  
#vc-table tr td.CashCouponsNumber .limited{color:#0F0;}/*201512 限定裝置現金券*/
/* Voucher RWD*/  
.voucher_ind_wrap {width: 100%; margin: 10px auto; display:block; overflow:visible; clear:both;}
.voucher_ind_area { width:65%; margin: 20px auto; padding:0;}
.voucher_ind_wrap .voucher_ind { width:100%; border-top: 1px solid #cdcdcd; border-left: 1px solid #cdcdcd; border-right: 1px solid #cdcdcd;  
padding: 15px 10px 5px; margin:0 auto; background: url(../images/voucher.jpg) 0px 0 no-repeat;}
.voucher_ind tr {line-height:25px;}
.voucher_ind td {padding:1px;font-size:13px;text-align: left;}
.voucher_ind  .text-left { text-align: left; }
.voucher_ind  .text-right { text-align: right; }
.voucher_ind  th.voucher_indDEN { font-size: 30px; padding-bottom:10px; width: 30%;} 
.CashCouponsSN_Area {width: 100%;border: 1px solid #BF0000; background: url(../images/voucher.jpg) 0px 0 no-repeat;  margin: 0 auto; padding: 5px 10px; clear: both; }
.CashCouponsSN_Area_Used {width: 100%;border: 1px solid #757575; background: url(../images/voucher.jpg) 0px -2px no-repeat;  margin: 0 auto; padding: 5px 10px; clear: both; text-align: center; font-size: 13px;}
.CashCouponsSN_Area_Expired {width: 100%;border: 1px solid #BF0000; background: url(../images/voucher.jpg) 0px -2px no-repeat;margin: 0 auto; padding: 5px 10px; clear: both;  text-align: center; font-size: 13px;}
.voucher_ind  span.CashCouponsDateSNTitle { float:left; }  
.voucher_ind  span.CashCouponsDateSN  { float:left; } 
.Voucher_Pagination-arrow-previous {padding: 2px 6px; }
.Voucher_Pagination-arrow-next {padding: 2px 6px;}
.txtlistArea {display: none}
.txtlistArea_m { display:block; margin-top: 20px;}
.txtsteps_m { font-size:13px; line-height: 30px;}
.txtimg_m {padding:10px 0px 15px; width:100%; margin: 0 auto;}
.super-coupon-block { text-align: center;}
.center .mc-content .super-coupon-block .rd-smll { font-size: 13px;}
.super-coupon-btn { margin: 10px auto;}
.CouponQuestionIcon { margin-left: 0;}



/*首頁Header新版20141121--Alan*/
.function-menu-bar, .slide-bn-block, .activity-top-block { display: none;}
.activity-top-bn { width: 100%; height: auto;}
#Headermiddle { display: block;}
.Sort-basis { display: none;}
/*搜尋結果排序頁*/
.tc_small_content_area { width: 100%; background: #F2F2F0 0 0 repeat;}
.search-result-get, .search-result-none { width: 90%;}
.search-result-get { margin-top: 0px;}
.m-classify.col-1-4 { display: none;}
.tc_small_content_area { width: 100%;}

/*3Column page RWD*/
.tc_small_content_area .s_content_box { width: 98%; height: auto; margin: 10px 2px; float: none;}
.tc_small_content_area .s_content_box .title { width: 95%;padding: 2px;}
.tc_small_content_area .s_content_box .OrgMineT { width: 95%;padding: 2px; height: 30px;}
.tc_small_content_area .s_content_box .fb_like { margin: -10px 5px; width: 70px;}
.SoldOut_Bar_290 { width: 100%; height: 100%;}
.tc_small_content_area .s_content_box .bottom { width: 100%;background: #fff;}
.tc_small_content_area .s_content_box .smallprice .discount,.tc_small_content_area .s_content_box .smallprice .price { font-size: 20px;}
.tc_small_content_area .s_content_box .smallprice .ori { width: 40px;}
.b_content_box .dts, .s_content_box .dts { margin-bottom: 0;}
.tc_small_content_area .s_content_box .deal_pic { width: 100%; height: auto;}
.tc_small_content_area .s_content_box .deal_pic .deal_hover { width: 96%; padding: 0 2%;max-height: 150px;}

/*超級現金券跳窗*/
.SC-window {
    width: 100%;
    height: auto;
    border: 0;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}
.SC-window li { font-size: 12px;}
/*超級現金券M版欄位*/
#mc-table .rd-table td { display: block;}
/*超級現金券結帳頁跳窗*/
.SC-couponW {width: 90%; border: 0; margin-top: 0;}
.SC-couponW input { margin: 0;}
.SC-couponW th { display: none;}
.SC-couponW .Pagination { display: none;}
.btn-mini.payment { margin: 0 0 10px 37px;}

/*低毛利判斷現金券顯示*/
.DealPrice_CouponLimited { width: 97%; font-size: 12px;color: #999999; text-align: right; margin-left: 0px;}

/*新增RWD客服中心*/
.support_c {display:block;}
.Support_center {display:block; width:80%;}

/*201503_現金券活動代碼領取功能*/
.discount_user_exchange_wrapper .discount_user_exchange{ width: 50%;}
.discount_user_exchange_wrapper .discount_user_exchange .input-2column-long { width: 50%; margin-right: 0px; }
.discount_user_exchange_wrapper .discount_user_exchange .input-2column-short { width: 30%; margin-right: 0px; }
.discount_user_exchange_wrapper .discount_user_exchange p.cancel-mr{ width: 100%; text-align: center; }
.discount_user_exchange_wrapper .discount_user_exchange p.cancel-mr input{ width: 60%; padding: 10px; font-size: 130%;}
.discount_user_exchange_wrapper .form-unit .enter-error{ margin-left: 18%;}

/*201503_現金券選取 rwd顯示*/
.message_box_main p.conform-m {
    float: none;
    display: block;
}
#maincontent .content-group.payment .date { float: none;}
.message_box_MoneyTicket .message_box_main ul li a { padding: 10px 0 10px 15px;}

/*20150612 客服紀錄標題旁邊增加連結到 客服中心*/
.center .mc-content .rd-smll{font-size: 20px;}
.mc-content h1 {font-size: 20px;}
.mc-content h1 a.to_NewbieGuide {display: inline-block; font-size: 15px;}


/*****
*
*銀行專區 201506 by stan
*
*****/
.grid_bank { margin-bottom: 40px;}
.grid_bank .bank_item{ width: 90%; background: pink; }
.grid_bank .bank_item:nth-child(even){ float: none; margin: 0 auto 15px auto;} 
.grid_bank .bank_item:nth-child(odd) { background: black; float: none; margin: 0 auto 15px auto;}

.bank_content_wrap{ width: 90%; margin: 20px auto;}
.bank_content_wrap .bnak_btn_wrap .btn_buy {width: 80%; }

/*信用卡專區-紅利折抵-2015/07/02-Alan*/
h2.toptitle { border-bottom: 15px solid #fff;}
.grid_bank th { display: none;}
.grid_bank td { display: block; border-bottom: 0;}
.grid_bank td.bank_M_logo { display: block; text-align: center;}
.grid_bank td.bank_name { background:#cdcdcd; text-align: center;}
.grid_bank td.bank_limit:before { content: "最高折抵上限(註1)：";}
.grid_bank td.bank_used:before { content: "消費限制(註2)：";}
.grid_bank td.bank_dot:before { content: "點數限制(註3)：";}
.grid_bank td.bank_proportion:before { content: "折抵比例(註4)：";}
.grid_bank td.bank_rules:before { content: "規則說明(註5)：";}
.bank_content_wrap h3 { padding-left: 15px;}
.grid_bank li { font-size: 70%; line-height: 140%;}
.grid_bank table.bank_information tr { border-bottom: 1px solid #cdcdcd;}
.grid_bank table.bank_information td { display: table-cell; display: block;}
.grid_bank table.bank_information td.first_td { display: block; border-right: 0; border-bottom: 1px solid #cdcdcd;}
/*****
*
*item for 3Column 201507 by stan
*
*****/
.item_search_result_wrap{margin: 15px 0 0 0;}
.item_search_result_wrap .search-result-none{ margin: 0 auto;}
.item_3col_wrap{ width:90%; margin: 0 auto;}
.item_3col_wrap .item_3col{width: 100%;}

.item_3col_wrap .item_3col:nth-child(even){ /* float: left; */ margin:0 0 5% 0;}
.item_3col_wrap .item_3col:nth-child(odd){ /* float: right;  */margin:0 0 5% 0;}


/******maincontent 主要內容(檔次列表)
*
***/
.maincontent .dealcard a .dealcard_left .left_img img {
    max-width: none;
}
.ly-e-cop-ppon.new-mobile-ppon { margin: 5px 0 0 5px;}

/***
*
* 策展子分類
*
***/
.Curatorial-Sort { left: 0; width: 100%; position: inherit;}
.header_wrap { margin: 0 auto;}
.visa-installment { display: none;}
.activity-banner p { display: none;}

/*憑證檔次商家網頁by Alan*/
.store-info .DealPriceInfo .discount { position: initial; float: left;}
.store-info #MainPic { width: 100%; height: auto; border: 0px;}
.store-info #MainPic.picforsdeal span img { width: 100%; height: auto;}
.store-info .DealPriceInfo { width: 100%; padding-left:0; top: 0; padding-top: 5px;}
.store-info .DealPriceInfo .tag_title { width: 80%;height: 21px; text-align: left;}
.store-info .DealPriceInfo .tag_subtitle { width: 95%; height: auto; margin-bottom: 5px; margin-left: 5px; text-align: left;}
.store-info .DealPriceInfo p.dealprice { padding-left: 0; margin-left: 5px; float: left;}
.store-info .TimerTitleField { padding-left: 0; margin: 0 0 0 5px; width: 70%; display: none;}
.store-info .DealPriceInfo .tag_buycounter { width: 40%; float:right; margin-top: 8px;}
.store-info .icon-clock-o { display: block;}
.store-info .DealPriceInfo .tag_place { margin-left: 5px; margin-top: 0;}
/*憑證檔次商家網頁-piinlife deal*/
.store-info.pinn-info .DealPriceInfo { height: auto;}
.store-info.pinn-info .SoldOut_Bar_480 { height: 100%; background-size: inherit;}
.store-info.pinn-info .tag_title { margin-left: 5px;}
.store-info.pinn-info .tag_subtitle { margin-left: 5px;}
.store-info.pinn-info .DealPriceInfo .tag_title { width: 95%; margin-top: 0;}
.store-info.pinn-info .DealPriceInfo .tag_subtitle { width: 95%;}
.store-info.pinn-info .DealPriceInfo .tag_buycounter { padding-bottom: 10px;}
/***
*
* 台新儲值支付跳窗
*
***/
.tk_jump_alert { width: 90%;}
}

/*iphone event*/
@media screen and (min-width: 1001px) { 
.evtbar { display: none; } 
}
@media screen and (max-width: 1000px) {
.evt { display: none; }
.evtbar {
    width: 100%;
    margin: 10px auto;
    display: block;
    background: #FFF;
    border:3px solid #BF0000;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.evtbar a { color: #00F; text-decoration: underline; }
.evtbar .s-imp {
    font-size: 20px;
    color: #BF0000;
}
.evtbar-content {
    margin: 0 10px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
}
.evtbar-content.nlogin { color: #BF0000; }
.pop-download-app { margin:-7px auto 0 auto; }

}

@media screen and (max-width: 767px) {
/*開窗獨立公告byErica*/
.post-wrap {
    width: 100%;
    line-height: 1.5;
}
.post-content h1{font-size: 18px;line-height: 3;}
#Headermiddle .HeaderPhone{display:none;} /*填手機收簡訊下載*/       
.mgs-s-T,.ch-piinlife, .rd-hide{ display: none;}
#wrap { overflow: hidden; }
.mc-menu-btn {
    /*width: 40px;
    height: 36px;
    margin: 7px;*/
    display: block;
    position: relative;
    top: 2px;
    left: 0;
    cursor: pointer;
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
    color: #BF0000;
    text-align: center;
    /*border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);*/
    float: left;
}
.mc-menu-btn{ float: right; right: 0;} 
.mc-menu-btn:hover {
    color: #BF0000;
    text-decoration: none;
}
.mc-menu-btn:active {
    /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);*/
}
.sildeWrap{ display: block; overflow: hidden; width: auto; height: 0;} /*0710*/
.sliderWrapMenber{ display: block; overflow: hidden; width: auto; height: 0;}/*0710*/
.mbe-menu {
    /*width: 100%; 0729 for 滑動選單*/
    /*float: left;*/
    background: #f0f0f0;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    /*0729滑動選單
    height:45px;
    position: relative;
    display:block;*/
}
.mbe-menu_show {
    width: 100%;
    float: left;
    margin-left: 0%;
    background: #333333;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.mbe-menu2 {
    width: 100%;
    float: right;
    margin-right: -100%;
    background: #333333;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.mbe-menu2_show {
    width: 100%;
    float: right;
    margin-right: 0%;
    background: #333333;
    border-top: 2px solid #BF0000;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#navimain2 li a{-moz-box-sizing:border-box; box-sizing:border-box; padding-right: 15px;}/*0710*/
#navimain2 .navbtn:hover{ 
    background: -webkit-linear-gradient( #DF0000, #BF0000);
    background: -moz-linear-gradient( #DF0000, #BF0000);
    background: -ms-linear-gradient( #DF0000, #BF0000);
    background: -o-linear-gradient( #DF0000, #BF0000);
    background: linear-gradient( #DF0000, #BF0000);}/*0710*/
.mbe-menu2 #navi2 { border-bottom: none; }
#navimain li  { width: 20%;}/*0729 滑動選單*/
#navimain li  { }/*0729 滑動選單*/
.mbe-menu2 #navimain2 li, .mbe-menu2_show #navimain2 li  { 
    text-align: right; 
    border-bottom: 1px solid #555;
}
#navimain li a { 
    padding: 0;/*美食‧生活會破版*/
    text-align: center;
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}
.coupon-own-number {
    padding: 4px;
    border-radius: 5px;
    background: #bf0000;
    font-size: 12px;
    color:#fff;
    margin-right: 10px;
}
.mbe-menu2_show #navimain2 li a { 
    padding: 0; 
    padding-right: 15px; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.mbe-nav-city { display: block; background: #444; }
.mbe-nav-city .mbe-city-title {
    padding-left: 10px;
    color: #FFF;
    font: 13px/32px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
    border-bottom: 1px solid #555; 
    background: #555;
}
#navimain .mbe-nav-city li.mbe-city-btn {
    width: 30%;
    height: 25px;
    margin: 5px;
    padding-left: 0;
    float: left;
    text-align: center;
    vertical-align: top;
    border: none;
}
#navimain .mbe-nav-city .mbe-city-link {
    width: 100%;
    padding-left: 0;
    display: inline-block;
    font: 13px/20px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
    color:#FFF;
}
#navimain .mbe-nav-city li.mbe-city-btn.on, 
#navimain .mbe-nav-city li.mbe-city-btn:hover {
    border-radius: 5px;
    background: #BF0000;
}

/*A1-DealList_Normal-收藏區塊-Collect by ariel*/
#HKL_Collect, #HKL_Collect-ok, .HKL_juwindow{display: none;}
.rdl_Collect { 
    background-position: -278px -199px ;
    font-size: 15px;
    margin-left: 5px;
  }
  #maincontent .m-collect a { display: inline-block;}
 .rdl_Collect-ok { 
    background-position: -278px -265px ;
    font-size: 15px;
    margin-left: 5px;
  }
  #HKL_Collect a, #HKL_Collect-ok a, .HKL_Collect a, .HKL_Collect-ok a {padding-left: 22px;}
 .ly-e-cop-tab{ display: none;}
.share-popW {
    width: 300px;
    position: relative;
    border: 10px solid #fff;
    background: #F7F7F7;
    display: block;
}
.share-popX {top: -10px;right: -10px;}
.evtbar { width: 95%; }
/*新光三越專區檔次列表*/
.swiper-top + .center { background: #fff;}
.sk_content_box { width: 100%; background: #fff; margin: 5px 0;}
.sk_deal_right_block { width: 44%;}
.sk_deal_pic { width: 56%;}
.sk_deal_pic img { width: 100%; max-width: auto;}
.sk_buy_btn { display: none;}
.sk_tag_location { margin-left: 2%;margin: 3px;}
.sk_tag_title { width: 95%; margin-left: 2%;  height: 12px;line-height: 12px;font-size: 12px;}
.sk_tag_subtitle { width: 95%; margin-left: 2%; height: 16px;}
.sk_deal_price {   font-size: 18px;line-height: 22px;margin-left: 2%;float: left;margin-right: 5px;}
.sk_oriprice { margin-left: 2%;float: left;margin-top: 3px;}

}
/*@media screen and (max-width: 480px) {
#navimain2 a {
    color: #FFFFFF;
    text-decoration: none;
}
.mbe-menu2 #navimain2 li, .mbe-menu2_show #navimain2 li  { 
    text-align: right; 
    border-bottom: 1px solid #555;
}
#navimain2 li {
    float: right;
}
.pay-evt-bg { background: none; }
.evtbar-content { font-size: 14px; }
.evn-cop-buytitle{ 
    display: block; 
    font-size: 15px;
    width: 91%;
}
.evn-cop-minorange-title{ 
    display: block; 
    padding-bottom: 5px;
    width: 91%;
}
.rdl-pl-show{ display: none;}

}*/

@media screen and (max-width:568px) {
/*wvwnt6*/
 .evn-coptextinfo{  width: 50%; padding: 0;  }
/*APP限定*/
.cnt-zone #MainPic {width: 100%;}

}


@media screen and (min-width: 380px) and (max-width: 480px) {
.DealPriceInfo {top: 15px;}
.DealPriceInfo .buycounter {top: -90px;}
}

@media screen and (max-width: 350px) {
/*註冊頁 chrome在width小於340px firefox小於350px 文字註解會蓋到下一個欄位*/    
.LifeMemberInfo li { margin-bottom: 25px;} 
.LifeMemberInfo li:hover{ background: none; margin-bottom: 25px;}
.LMInfo li.LifeMemberInfoColor { margin-bottom: 25px;}
.LMInfo li.LifeMemberInfoColor:hover { background:#FFDFDF; margin-bottom: 25px;}
.LMInfo li.LifeMemberInfoColor_f:hover{ background:#FFDFDF; margin-bottom: 10px;}
}

@media screen and (max-width: 320px) {
.mgs-s-T{ display: none;}
/*A3-event_1-6-活動頁*/
.ac-center { margin:0 auto;}
.evn-cop-tn-bar { width: 100%;}
.ly-e-cop-farme { margin: 0 auto; width: 95%; }
.new-mobile-farme { margin: 0 auto; width: 100%; }
.st-e-cop-area-bar { width: 15%; margin: 0 5px;}
.skm-QrMessagefarm{ display: none;}
.evn-cop-buy-sf-box{ width: 100%; margin: 15px 0;}
#Act-TOP{  width: 100%;}
#Act-smallTOP{ width: 100%; }

/*首頁大圖背景*/
/*wvwnt6*/
.evn-copcafarm {
    margin: 15px auto;
    width: 210px;
    border: 1px solid #CCCCCC;
    float: none;
}
.evn-copcadealname { display: block;}
.rdl-p6-coupon-pic { 
    height: 141px;
    max-width: 210px;
    float: none;
    margin: 0
}
 .evn-copcafarm > a > img {
    height: 141px;
    margin-top: 35px;
    max-width: 210px;
}
 .evn-coptextinfo{ 
    display: inline-block;
    text-align:  center;
    font-size: 15px;
    height: auto;
    margin: 0;
    padding-right: 10px;
    width: 200px;
    padding: 10px 5px;
 }
 .evn-cop-ptext{ width:auto; text-align: center; margin-bottom: 15px;  }

 .st-evncopca-col-btn, .st-evncop-favoritetoo-btn{ float: none; }
 .alo-l { width: 130px; } /*-首頁大圖壓字-*/
 .evn-copcadealname {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 25px;
    left: 0;
    opacity: 0.65;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 200px;
    margin:0;
}

/*faq*/
.qt-box { width: 89%; float: left;}
.fq-questionBOX img, .fq-phonebox{ display: none;}

/*客服中心*/
.mc-service-record .record-box .record-content, .mc-service-record .record-box.reply .record-content{ width: 85%;}
.mc-service-record .record-box.reply .record-content p{  font-size: 14px;}
.mc-service-record .record-box .record-time { margin-top: 10px;  font-size: 14px;}
.mc-service-record .record-box .unreply-icon, .mc-service-record .record-box .reply-icon,
.mc-service-record .record-box .replier-icon { margin: 10px 5px 10px 0; }
.mc-service-record .record-box.reply { margin: 0 0 0 40px; }
.mc-rdl-sverOff-line { display: inline-block;}
.record-process, .record-recover { margin-left:0; font-size: 13px;}
.mc-service-record .record-state p{ font-size: 13px;}

/*C5-Yahoo-collect*/

.grui-form .yc-tag{ width: 156px; margin-bottom: 10px;}
.grui-form .yc-tag ul{ }
.yc-tag li{ font-size:14px; float:left;}
.yc-tag li a:link { color:#333; text-decoration: none; padding:6px 21px 6px 22px; }
.yc-tag li a:hover { background:#bf0000; color:#ffffff; text-decoration: none; padding:6px 21px 6px 22px; }
.yc-tag li a.CouponSelect{ background:#bf0000; color:#ffffff;}
/*New Header 控制按鈕*/
.slideBox2 .hd { left: 22%; bottom: -2px;}

.evn-cpp-pinnlife-date-coming-bar{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(date_coming_bar_440.png);
    background-position: 50% 50%;
    background-size: 100% auto;}

.date-coming-text{
    width: 100%;
    height: 45%;
    color: #FFF;
    font-size: 16px;
    padding: 64px 0px;
    display: block;
    line-height: 18px;
}
.evn-cpp-pinnlife-box-3column { margin: 10px auto; width: 100%;clear: both;}

.evn-cpp-pinnlife-pic-3column{
    width:96%;
    height:auto; 
    margin:10px auto;
    position: relative;
}
.evn-cpp-pinnlife-date-coming-bar-3column{
    width:100%;
    height:100%; 
    background-position: 50% 50%;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top:0;
}
.date-coming-text-3column{
     width:100%;
     color:#FFF;
     font-size:20px;
     /*padding: 112px 0px;*/
     display:block;
     text-align: center;
     line-height: 35px;
}
.LifeMemberCenter{ width: 100%; background: #f3f4ef; border:#f3f4ef 1px solid; }
.LifeMemberLogFrame.posttype { width: 100%; height: auto;}
.post-wrap { width: 100%; height: auto;}
.post-content{ height: auto; overflow: inherit; padding: 10px;}




}

/* 檔次頁中的評價在解析度的為手機版時，要秀於不一樣的位置，原位則予以隱藏 20160606 by getter */
@media screen and (max-width: 480px){
    #Dialog .rating{ 
        display:none;
    }
    .info_bar .rating{
        display:block;
        float:left;
        margin-top: 6px;
        margin-left:10px;
    }
    .info_bar .rating.insufficient{
        margin-top:10px;
    }
}

