
/*****rightside*****/
/**/
#Stickers{
    margin-bottom: 10px;
}

/*跟屁蟲廣告(裡面的)*/
#Rightarea .inside_AD{
    clear: both;
    margin-bottom: 10px;
}
#Rightarea .inside_AD ul li{
     float: left;
    width: 47%;
    margin-bottom: 10px;
}
#Rightarea .inside_AD ul li:nth-child(odd){
    float: right;
}
#Rightarea .inside_AD ul li a img{
    width: 100%;
}
#Rightarea .inside_AD:after {
  content: '';
  display: block;
  clear: both;
}

/*熱銷檔次*/
#Rightarea .side_block{
    width: 100%;
    margin-bottom: 30px;
}
#Rightarea .side_block_title{
    color: #333;
    width: 100%;
    /*border-bottom:1px solid #f60;*/
    border-bottom: 0;
    /*border-left: 6px solid #999;*/
    padding-left: 0px;
    line-height: 18px;
    margin:0px 0 8px 0;
}
#Rightarea .side_block_ad{
    padding: 9px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
    cursor: pointer;
}
#Rightarea .side_block .side_block_ad:hover{
    /*border-color:#bf0000;
    outline:#bf0000 solid 1px;*/
}
#Rightarea .side_block_ad img{
    width: 100%;
}
#Rightarea .side_block_content{
    padding: 9px;
}
#Rightarea .side_item_wrap{
    border-bottom: 1px solid #cdcdcd;
}

/*今日熱銷 檔次item*/
.side_item{
    border: 1px solid #cdcdcd;
    /*border-bottom: 0;
    border-bottom: 0;
    border-bottom: 1px solid #cdcdcd;*/
    /*margin-bottom: 5px;*/
    position: relative;
    border-bottom: none;
}
.side_item a{
    display: block;
    background: #fff;
    /*color: #999;*/
    color: #333;
}
.side_item a:hover{ 
    text-decoration: none;
    /*background: #F60;*/
    color: #fff;
    /*color: #F60;*/
    /*color: #bf0000;
    color: #f23082;*/
    outline:#f23082 solid 1px;
    background: #f23082;
    /*border-color:#F60;*/
    /*outline:#bf0000 solid 1px; */
}
/*今日熱銷 排行數字*/
.side_item .num_hot{ 
    /*background: #bf0000;*/
    background: #f23082; 
    color: #fff; 
    position: absolute; 
    top: 0; 
    z-index: 15; 
    width: 20px; 
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.side_item .side_item_pic{
    max-width: 238px;
    /*max-height: 132px;
    min-height: 120px;*/
    min-height: 132px;
    position: relative;
    background: url(../images/ppon-M1_pic.jpg) center;
    background-size: contain;    
}
.side_item .side_item_pic img{
    max-width: 100%;
    width: 100%;    
}
.side_item .side_item_soldout_wrap{
    width: 210px;
    height: 118px;
}
.side_item .side_item_soldout_wrap .item_soldout_220{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: blue;
    background: url(../images/soldout_bar_220.png) center;
}
.side_item .activeLogo{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}
.side_item .activeLogo img{
    width: 100%;
}
/*.side_item:after{
        content:'';
        display:block;
        clear: both;
}*/
.side_item .side_item_deal{ 
    width: 96%; 
    height: 40px;
    overflow: hidden;
    padding:3px 5px 0px 5px; 
    font-size: 14px;
    font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
.side_item .side_item_deal span.tag_place{
    float: left;
    font-size: 12px;
    line-height: 14px;
    border-radius: 20px;  
    background: #999;
    color: white;
    padding: 1px 7px;
    margin: 3px 5px 0 0;
}
.side_item .side_item_deal .tag_subtitle{
    line-height: 20px; 
}
.side_item_price{
    /*background: #e5e5e5;*/
    line-height: 20px;
    padding: 3px 0 13px 5px;
}
.side_item_price span.discount{
    margin-left: 3px;
    font-size: 14px;
    color: #999;/**/
}
.side_item_price span.price{
    margin-left: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #bf0000;
}
.side_item_price .oriprice{
    font-size: 14px;
    color: #999;/**/
}
/**/
.side_item_price .tag_buycounter{
    margin-right: 5px;
    line-height: 20px;
}
.side_item_price span.num_people{
    color: #999;
}
/*馬上看*/
.side_item_price span.btn_buy{
    float: right;
    padding: 1px 8px 1px 8px;
   display: none; /**/
}

/**/

#Shopareatitle {line-height: 1.5;}
