/* CSS Document */

.nota div.bajada {margin-bottom:11px; overflow:hidden; margin-top:5px; }

.nota h2.tituloM {overflow:hidden; margin-bottom:5px;}
.nota h1.tituloM {overflow:hidden; margin-bottom:5px;}

.sombra-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 24px 86px rgba(0,0,0,.75);
    -moz-box-shadow: inset 0 24px 86px rgba(0,0,0,.75);
    -o-box-shadow: inset 0 24px 86px rgba(0,0,0,.75);
    -webkit-box-shadow: inset 0 24px 86px rgba(0,0,0,.75);}

.borde-nota {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* ------------------------------------------------ */
/* ------------------ ZONA DARK ------------------- */
/* ------------------------------------------------ */

.col3.dark , .col3.gray {margin-top:0px; padding-bottom:20px}
.col3.dark .col3_cont , .col3.gray .col3_cont {background-color:transparent; border-color:transparent}

.col3.dark, 
.col3.dark	.titulo-separador h2,
.col3.dark 	.nota-titular,
.col3.dark  .volanta-breadcrumb
{background-color:#231f20}

.col3.dark  .titulo-separador h2{color:#E18A20}
.col3.dark  .titulo-separador::after{background-color:transparent;    background-image: url("/a/plantillas/1/p/70/imgs/titulo-separador-bg-dark.png");}

.col3.dark	a, 
.col3.gray 	a {color:#FFFFFF}

.col3.dark	p, 
.col3.gray	p {color:#c7c8ca}
.col3.dark 		.slide-tab.medium .nav-tabs li a{background-color:#3b3b3c;}
.col3.dark 		.slide-tab.medium .nav-tabs li a *	 {color:#848588}
.col3.dark  	.slide-tab.medium li a.current{background-color:#565759}
.col3.dark  	.slide-tab.medium li a.current *{color:#FFFFFF}
.col3.dark  	.slide-tab.medium .nav-tabs li a.current::after{border-color:#565759 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)}
.col3.dark .slide-tab .nota .titulo-y-resumen{background:-moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(11,9,10,1) 30%,rgba(25,22,23,1) 70%,rgba(35,31,32,1) 100%);background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(11,9,10,1) 30%,rgba(25,22,23,1) 70%,rgba(35,31,32,1) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(11,9,10,1) 30%,rgba(25,22,23,1) 70%,rgba(35,31,32,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#231f20',GradientType=0)}

/* ------------------------------------------------ */
/* ------------------ ZONA GRAY ------------------- */
/* ------------------------------------------------ */



.col3.gray, 
.col3.gray	.titulo-separador h2,
.col3.gray 	.nota-titular,
.col3.gray {background-color:#5a5b5d}
.col3.gray .volanta{color:#A6A1A1; border-color:#1E1E1E}

.col3.gray	.titulo-separador h2{color:#FFFFFF}
.col3.gray  .titulo-separador::after{background-color:transparent;    background-image: url("/a/plantillas/1/p/70/imgs/titulo-separador-bg-gray.png");}
.col3.gray  .titulo-separador h2::before {border-left: 1px solid #d1d3d4;border-right: 1px solid #d1d3d4;border-top: 1px solid #d1d3d4;}
.col3.gray  .titulo-separador::after{  border-bottom: 1px solid #d1d3d4;}
/*.col3.gray  .fotoNota img{border-width:1px; border-color:#000000; border-style:solid}*/

.nC {text-align:center}
.nN {font-weight:bold!important}
.nB {-webkit-box-shadow:inset 0px 0px 0px 1px black;-moz-box-shadow:inset 0px 0px 0px 1px black;box-shadow:inset 0px 0px 0px 1px black;} 
.nGray {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.mBlur {-webkit-filter: blur(10px)}
.tMay { text-transform:uppercase}



/* ------------------------------------------------ */
/* ------------- NOTA CON FOTO LATERAL ------------ */
/* ------------------------------------------------ */

.nota-foto-lateral  			.fotoNota {float:left; }
.nota-foto-lateral   			.col-izq{width:auto; margin-right:10px}
.nota-foto-lateral   			.col-der{border:0; margin:0; padding:0; width:220px;float:right}
.nota-foto-lateral.concolor		.col-der{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding-top:10px; padding-right:10px}

.nota-foto-lateral.derecha		.col-izq{width:220px; }

.nota-foto-lateral.concolor.derecha			.col-der{padding:0;}
.nota-foto-lateral.concolor.derecha			.col-izq{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding-top:10px; padding-left:10px}
.nota-foto-lateral .bajada {padding:0}
.nota-foto-lateral .m_tit {padding:0}



/* --------------------------------- */
/* ----------- OPINION ------------- */
/* --------------------------------- */

.box-opinion{width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:10px; text-align:center}
.box-opinion .foto-autor{ background-color: #f6f2ed; border-radius: 75px;  height: 100px;  margin: 9px auto auto;  overflow: hidden;    width: 100px; position:relative; margin-bottom:10px}
.box-opinion .foto-autor img{position: absolute;top: 0px;left: -100px;right: -100px;margin: auto;}
.box-opinion figure{padding:0; margin:0}
.box-opinion .autor p{display: block;width: 100%;font-family: Baskerville, "Century Schoolbook L","Georgia", "Times New Roman", serif;font-style: italic;font-size:12px; letter-spacing:1px;
	color:#646464;margin:0}
.box-opinion  strong.volanta{background-color:transparent; border:0; color:inherit; padding-left:0; margin-bottom:10px; display:block}
.box-opinion hgroup{border-bottom:solid 1px #CCCCCC; padding-bottom:10px; margin-bottom:10px}



/* --------------------------------- */
/* -------- Flotante Izq ----------- */
/* --------------------------------- */

.nota-flotante-izq, .nota-flotante-der{float:left; width:100%}
.nota-flotante-izq .fotoNota{float:left; margin-right:10px;}
.nota-flotante-izq h3, .nota-flotante-der h3{font-size:16px; line-height:1.2em; font-weight:700; margin-bottom:0.2em }

.nota-flotante-der .fotoNota{float:right; margin-left:10px;}
.nota-flotante-izq.concolor div.con_flotante  {padding:10px;}
.nota-flotante-der.concolor div.con_flotante  {padding:10px;}

.nota-flotante-izq div.bajada {padding-left:0px; padding-right:0px; padding-bottom:0px; margin-bottom:0px;}

.nota-flotante-der div.bajada {padding-left:0px; padding-right:0px; padding-bottom:0px; margin-bottom:0px;}

/* -------- Foto Arriba ----------- */

.fotoA .volanta { margin-top:3px;}




