﻿
/* ################################ firefox4-only.css ################################ */

:-moz-any(.getBigBIOResults) {
    width: 110px;
}
:-moz-any(.guideRecipeFinderTabContainer) {
    padding-top: 10px;
}
:-moz-any(.nRFGetResult) {
    margin-top:-27px;
}
:-moz-any(.getBigBIOResult, .bigBIOStartAgain) {
    margin-top: -30px;
}

:-moz-any(.tbnDescStarToolbar) {
    margin: 0 auto !important;
}

:-moz-any(.mTKG) {margin-top:-324px;}
:-moz-any(.mTKGBig) {margin-top:-347px;}
:-moz-any(.mTKBMI) {margin-top:-311px;}
:-moz-any(.mTKBMIBig) {margin-top:-333px;}
