@import url("css/comments.css");@import url("css/reset.css");@import url("man.css");@import url("css/featuredcats.css");@import url("aff.css");@import url("css/slide.css");@import url("css/layout.css");@import url("dfte.css");*{margin:0;padding:0;}html body{background-image:url(http://4.bp.blogspot.com/-4IM7OtJLpUw/VIqNz98nQRI/AAAAAAABckk/V8obB2_A9hs/s1600/Mangaku-background.jpg);background-attachment:fixed;center;background-repeat:repeat;font-size:10px;font-family:Arial,Verdana,Tahoma,Times New Roman;line-height:1.5em;color:#808080;width:100%;background-size:cover;}@font-face{font-family:'PTSansNarrowBold';src:url('fonts/PTN77F-webfont.eot');src:url('fonts/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/PTN77F-webfont.woff') format('woff'),url('fonts/PTN77F-webfont.ttf') format('truetype'),url('fonts/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');font-weight:normal;font-style:normal;}h1,h2,h3,h4,h5,h6{font-family:'PTSansNarrowBold';font-weight:normal;}#topwrap{width:100%;}#mainwrap{clear:both;margin:0 auto;width:1000px;}#header{width:1000px;height:85px;padding-top:45px;}#blogtitle{float:left;text-transform:uppercase;width:394px;}#blogtitle a,#blogtitle a:visited{color:#272727;font-size:30px;text-shadow:1px 0 1px #fff;}.description{color:#272727;font-size:11px;margin-top:25px;}.adv{float:right;margin:10px 3px 0;}#nav2{clear:both;height:45px;width:1000px;background:url(images/nav.png) no-repeat;margin-bottom:35px;overflow:hidden;}#nav2 li{float:left;line-height:45px;margin-right:1px;}#nav2 li a{float:left;display:block;color:#fff;text-decoration:none;padding:0px 22px;font-size:12px;text-transform:uppercase;font-family:'PTSansNarrowBold';text-shadow:1px 0 1px #000000;}#nav2 li.current-menu-item,#nav2 li:hover,#nav2 li.current-cat{background:url(images/navh.png) repeat-x;}#nav2 li.first a,#nav2 li.first a:hover,#nav2 li.firstac a{background:url(images/first-active.jpg) no-repeat scroll left!important;}#nav2 li li{display:none;}#top{width:1000px;height:43px;margin:0 auto;}#top li{float:left;line-height:40px;margin-right:35px;}#top li a{float:left;display:block;padding:0;color:#fff;text-shadow:1px 0 1px #000000;text-transform:uppercase;font-size:12px;font-family:'PTSansNarrowBold';}#top li li{display:none;}#s{width:300px;height:12px;padding:10px 0 9px 5px;color:#000000;font-size:11px;border:1px solid #000000;border-right:0;margin-right:-33px;}.widget_search{padding:0!important;width:320px!important;box-shadow:none!important;background:none!important;border:none!important;}.widget_search h3{display:none;}#contentwrap{clear:both;float:left;width:100%;}#sb-wrap{clear:both;width:100%;background:#000000;url(images/sb-top.jpg) repeat-x scroll top;}#footer1,#footer3,{width:300px;float:left;margin-right:28px;}#footer3{margin-right:0;float:left;width:400px;}.widget{margin-bottom:30px;overflow:hidden;color:#858585;}.widget a,.widget a:visited{color:#bfbfbf;}.widget a:hover{color:#bfbfbf;text-decoration:underline;}.widget ul li{padding:7px 0 7px 0px;margin-left:0;background:url(images/li.gif) repeat-x scroll bottom;}.widget li li{background-position:top;}.widget ul.children{margin:7px 0 -7px 0;}.last{background:none!important;}#sidebar2 .textwidget{line-height:22px;}#shiftdown{margin-bottom:83px;}#footerw{width:100%;height:36px;clear:both;background:#000000 url(images/footer.jpg) repeat-x;}#footer{width:1000px;padding:6px 0 0;overflow:hidden;margin:0 auto;font-size:11px;}#footer a,#footer a:visited{color:#ccc;}#footer a:hover{color:#ccc;text-decoration:underline;}@media only screen and (max-device-width: 600px), only screen and (device-width: 600px) and (device-height: 600px), only screen and (width: 600px) and (orientation: landscape), only screen and (device-width: 600px), only screen and (max-width: 600px) {}#content{margin:0 auto;width:100%;}h2.title{margin-bottom:10px;line-height:19px;font-size:16px;text-transform:uppercase;}h2.titles{margin-bottom:10px;line-height:21px;font-size:20px;text-transform:uppercase;}h2.title a,h2.title a:visited,h2.titles a,h2.titles a:visited{color:#444444;}.meta{background:#000000;padding:9px;width:300px;margin-left:-9px;margin-top:10px;}.comm{background:url() no-repeat scroll center;width:39px;height:34px;padding:0px;background:#000000;border:1px dotted #000000;margin:0 0 5px 0;text-align:center;text-shadow:1px 0 1px #00397f;font-family:'PTSansNarrowBold';position:relative;top:-28px;left:262px;}
}
a.comm, a.comm:visited {
  color: #ffff00;
  font-size: 15px;
}
.postmetadata {
  margin-top: 15px;
}
.leftpost {
  clear: both;
  float: left;
  width: 300px;
}
.rightpost {
  float: right;
  width: 300px;
}
.clearp {
  clear: both;
  margin-bottom: 20px;
}
.post, .page {
  margin-bottom: 15px;
  background: #000000;
  border: 1px solid ##000000;
  padding: 10px 12px 0;
  box-shadow: 0 2px 7px ##000000;
}
.singlep {
  padding: 20px;
  font-size: 14px;
}
.entry {
  margin-top: 10px;
  line-height: 21px;
}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
  margin-top: 15px;
}
.entry h2 {
  margin-bottom: 0.4em;
}
.entry p {
  margin-bottom: 15px;
}
.post_thumbnail {
  background: none;
  padding: 0;
  margin: 0 !important;
  border: 0;
}
.entry img {
  padding: 3px;
  border: 1px solid ##000000;
  background: ##000000;
}
.entry img, .post_thumbnail  {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

}
.entry th {
  padding: 0;
  margin-right: 2px;
}
.entry li {
  list-style: circle inside;
}
.entry ol li {
  list-style: decimal inside;
}
blockquote {
  border-left: 10px solid #666666;
  margin-left: 20px;
}
blockquote p {
  padding: 10px;
}
.alignleft {
  float: left;
  margin: 5px 10px 0px 0px;
}
.alignright {
  float: right;
  margin: 5px 0px 0px 10px;
}
img.aligncenter {
  display: block;
  margin: 0 auto 5px;
}
/***************END POST STYLES*************************/
table#wp-calendar {
  width: 100%;
}
#wp-calendar caption {
  background: #00a4df;
  color: #fff;
  margin-bottom: 10px;
}
#wp-calendar th {
font-style: normal;
text-transform: capitalize;
}
#wp-calendar th {
font-style: normal;
text-transform: capitalize;
}
#wp-calendar td {
letter-spacing: normal;
padding: 2px 0;
text-align: center;
}
#wp-calendar {
empty-cells: show;
font-size: 14px;
margin: 0;
width: 90%;
}
#wp-calendar a:hover {
  background: #00a4df;
  color: #fff;
}
#wp-calendar td:hover, #wp-calendar #today {
  background: #00a4df;
  color: #fff;
}
li.pagenav, li.categories, li.linkcat {
  list-style:none;
}
h2.pagetitle {
  margin: 40px 0px;
  font-size: 32px;
  text-align: center;
  color: #000;
}
p.center {
  margin: 10px 0;
}
/* -------- END WP STYLES -------- */



/* -------- TABLES -------- */
#contentwrap table{font-size:1.2em;margin:5px 0 25px 1px;}
#contentwrap table td{padding:8px;border: 1px solid #ccc;}
/* -------- END TABLES -------- */


/* -------- PAGE NAVIGATION -------- */

.wp-pagenavi{
  clear:both;
  margin:20px 0 20px;
  text-align:center;
}
.wp-pagenavi span.pages,.wp-pagenavi span.extend{
  background: #fff;
  border: 1px solid #d2d2d2;
  color:#828282;
  margin:2px;
  padding:3px 7px;
}
.wp-pagenavi a,.wp-pagenavi a:link,.wp-pagenavi a:visited{
  background: #fff;
  border: 1px solid #d2d2d2;
  color:#828282;
  margin:2px;
  padding:3px 7px;
  text-decoration:none;}
.wp-pagenavi span.current,.wp-pagenavi a:hover{
  background: #fff;
  border: 1px solid #d2d2d2;
  color:#00a4df;
  margin:2px;
  padding:3px 7px;
}
/* -------- END PAGE NAVIGATION -------- */
/*TABS*/
ul.tabs {
	margin: 0 0 0 -13px !important;
	padding: 0;
	float: left;
	list-style: none;
	width: 320px;
    background: #f1f1f1;
    font-family: 'PTSansNarrowBold';
}
ul.tabs li {
	float: left;
	margin: 0px 0px 0 0 !important;
	padding: 5px 15px 0 !important;
	line-height:44px;
	overflow: hidden;
    border-right: 1px solid #d2d2d2;
}
ul.tabs li a {
	text-decoration: none;
    color: #979797 !important;
	display: block;
	font-size: 12px;
    text-transform: uppercase;
	outline: none;
}
ul.tabs li.third {
  border-right: 0;
}
ul.tabs li a:hover {
    color: #fff !importnat;
    text-decoration: none !important;
}
html ul.tabs li.active, html ul.tabs li.active a:hover, html ul.tabs li.active a  {
    background: #fff !important;
    border-bottom: 0 !important;
    padding-bottom: 1px;
}
ul.tabs li.active {
    border-right: 1px solid #d2d2d2;
}


.tab_container {
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
}
.tab_content {
	padding: 20px 0 0 !important;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 17px 0px 0;
	padding: 0px;
}
.tab_content li {
  background: none !important;
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 13px  10px !important;
  width: 292px;
  margin: 0 0 10px -13px !important;
}
h4.ptitle {
  font-size: 12.5px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
.ptitle a, .ptitle a:visited {
  color: #444444;
}
.pmeta {
  color: #979797;
  font-size: 13px;
  margin: 8px 0 0;
  font-family: 'PTSansNarrowBold';
}
.tabber {
  border: 1px solid #d2d2d2;
  padding: 0 13px;
  width: 292px;
}
.tab_content li.last {
  margin-bottom: 0 !important;
}

/*END TABS*/
.flickr_badge_image { float: left; margin-bottom: 12px; }
.flickr_badge_image img { width: 47px; height: 48px; margin: 5px 9px -9px 0;  float: left;   border: 1px solid #000; background: #2e2e2e;  padding: 5px;}
#flickr_badge_image3 img, #flickr_badge_image6 img, #flickr_badge_image9, #flickr_badge_image12 {
  margin-right: 0;
}

#cba img{opacity:.2;filter:alpha(opacity=30);-o-transition: all 2s ease-in;-moz-transition: all 2s ease-in;-webkit-transition: all 2s ease-in;}
#cba img:hover{opacity:1.0;1.0;filter:alpha(opacity=100);}
.border img{width:145px;height:145px;padding:4px;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.5);-moz-box-shadow:0 0 8px rgba(0,0,0,0.5);box-shadow:0 0 8px rgba(0,0,0,0.5);margin:5px 5px 0px -1px}
.post h3 a:hover{background:none;text-decoration:none;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);transform:scale(1.1)}
.post h3{margin-top:10px;font-family:Special Elite, arial, serif;font-size:16px;letter-spacing:-1px;position:relative;line-height:.8em;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;background:#00C4FD;text-shadow:1px -1px 1px #fff, 2px -2px #fff;padding:15px}

#belowdesc{background-color:#FFC;border:1px solid #FC0;color:#000;margin-left:10px;margin-right:10px;margin-top:10px;padding:5px}


#mta_bar{background:rgba(5,213,255,0.8);border-top:2px solid #fff;z-index:100; -moz-box-shadow:0px 3px 10px #333333; -webkit-box-shadow:0px 3px 10px #333333; box-shadow:0px 3px 10px #333333; bottom:0;left:0; width:100%; height:20px; overflow:auto; position:fixed; margin:0; padding:0}
* html #mta_bar1,* html #mta_bar{position:absolute;width:expression(document.compatMode=="CSS1Compat"?document.documentElement.clientWidth+"px":body.clientWidth+"px")}
#left_bar1 a,#left_bar a{text-decoration:none;color:#0000; margin:0 0 0 10px}
#left_bar1 a:hover,#left_bar a:hover{text-decoration:none;color:#000}
.fn1{
background:transparent;
height:300px;
position:relative;
top:-500px;
margin-bottom:-368px;
width:600px;
left:10px;
z-index:10000;

padding:45px 0 0 0;
}

.fn1 iframe{
width:600px !important;
height:600px !important;

/*border:none;*/

}

.tutup {
background-color:transparent;
cursor: pointer; cursor: hand;
width: 230px;
height: 28px;
border-radius: 10%;
border: 0px solid #000;
display: block;
text-align: center;
color: white;
text-decoration: bold;
position: relative;
top:-6px;
		
			font-size: 15px;
			padding: 0px;
		}
.tutup:hover{
color :red;
}