
.gods-shopping-main .product .upper-left-corner{
 	background: url(/image/www/n-exclusive_vecb1ea1.png) no-repeat scroll center transparent;
 	background-size: contain; 
 	width: 78px;
 	height: 24px;
 	margin: 7px 0 0 -3px;
 }
 .prd-ct-gd-item a em.presale_img{
 	background: url(/image/www/n-presale_vbdffaf8.png) no-repeat;
 	background-size: contain;
 	width: 46px;
 	height: 46px;
 }
.style-gallery .style_gallery_bg{
 	background: url(/image/www/n-style-gallery_vbf26f41.png) center center no-repeat;
 	background-size: contain;
 }
 .attribute-shopcart .pre-icon-header{
 	background: url(/image/www/pre_sale_icon_v27c55f2.jpg) right 0 no-repeat;
 	background-size: contain;
 }
 .free-trail .free-banner{
    background: url(/image/www/free-trail-banner_va5de63a.jpg) no-repeat scroll;
}
.cart-list-details .cart-item-details .cart-item-details-info .pre-icon-check-bg .pre-icon-check{
	background: url(/image/www/pre_sale_icon_v27c55f2.jpg) right 0 no-repeat;
	width: 134px;
	height: 33px;
	background-size: contain;
}

.cart-order-summary .cart-checkout-coupon p {
    left: 350px;
    top: 20px;
}

.hd-nav-dy-ul{
	width: 160px;
}
.hd-nav-tred-ul{
	width: 159px;
}
.hd-nav-exclus-con{
	width: 340px;
}
.conbox-availabl-wrap .conbox-right{
    max-width: 158px;
}
