/*******************************************************************************
* page-home.layout.scss
*
* Styles for the Page Main layout.
******************************************************************************/
@font-face {
  font-family: "DIN Next UltraLight Italic";
  src: url('../../../fonts/din/06e964c1-d71a-48a5-b3fd-88c164e2b0fa.eot?#iefix');
  src: url('../../../fonts/din/06e964c1-d71a-48a5-b3fd-88c164e2b0fa.eot?#iefix') format("eot"), url('../../../fonts/din/9972265f-63aa-4e68-9eef-e571f0072395.woff2') format("woff2"), url('../../../fonts/din/04c0d1f1-0fdf-4866-a034-1b5d1ba44a94.woff') format("woff"), url('../../../fonts/din/a840f6fc-ef1f-44cd-a5fb-f68784b9bc1e.ttf') format("truetype"), url('../../../fonts/din/4032b83f-6bbc-40a1-bfb9-cafd86356a17.svg#4032b83f-6bbc-40a1-bfb9-cafd86356a17') format("svg");
  font-style: italic;
}

@font-face {
  font-family: "DIN Next UltraLight";
  src: url('../../../fonts/din/67ced202-4fbf-450a-91c0-5dfa71a2b70e.eot?#iefix');
  src: url('../../../fonts/din/67ced202-4fbf-450a-91c0-5dfa71a2b70e.eot?#iefix') format("eot"), url('../../../fonts/din/356e99d6-7e95-44af-af40-0334ac4dda2c.woff2') format("woff2"), url('../../../fonts/din/11143434-96a9-4740-a138-f16d49263f2f.woff') format("woff"), url('../../../fonts/din/3a7440b3-1b5c-4693-9280-9522f0c3006e.ttf') format("truetype"), url('../../../fonts/din/6230196d-2226-4a80-8915-110bc6710446.svg#6230196d-2226-4a80-8915-110bc6710446') format("svg");
}

@font-face {
  font-family: "DIN Next Light";
  src: url('../../../fonts/din/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix');
  src: url('../../../fonts/din/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix') format("eot"), url('../../../fonts/din/de1216be-00c2-43c0-9c45-3e7f925eb519.woff2') format("woff2"), url('../../../fonts/din/bc176270-17fa-4c78-a343-9fe52824e501.woff') format("woff"), url('../../../fonts/din/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf') format("truetype"), url('../../../fonts/din/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694') format("svg");
}

@font-face {
  font-family: "DIN Next Light Italic";
  src: url('../../../fonts/din/3ab2ca1d-35c8-4471-9c57-04cb66b9cffa.eot?#iefix');
  src: url('../../../fonts/din/3ab2ca1d-35c8-4471-9c57-04cb66b9cffa.eot?#iefix') format("eot"), url('../../../fonts/din/26f280d7-8bd0-4192-90f1-3c3cb4cde341.woff2') format("woff2"), url('../../../fonts/din/e1c997f3-fb27-4289-abc6-5ef059e51723.woff') format("woff"), url('../../../fonts/din/0b3b140c-bdbe-488f-8976-992b4104de0c.ttf') format("truetype"), url('../../../fonts/din/1fdd14a5-aaa2-4662-a7ae-ab0d4c3adb3c.svg#1fdd14a5-aaa2-4662-a7ae-ab0d4c3adb3c') format("svg");
  font-style: italic;
}

@font-face {
  font-family: "DIN Next Regular";
  src: url('../../../fonts/din/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix');
  src: url('../../../fonts/din/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix') format("eot"), url('../../../fonts/din/44e7b0fa-6c8d-43c2-b19e-f1e3ce9ea57c.woff2') format("woff2"), url('../../../fonts/din/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff') format("woff"), url('../../../fonts/din/868c94b5-ca49-46b7-b62b-297f8d861125.ttf') format("truetype"), url('../../../fonts/din/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a') format("svg");
}

@font-face {
  font-family: "DIN Next Regular Italic";
  src: url('../../../fonts/din/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix');
  src: url('../../../fonts/din/4393bcd9-65c9-4c71-b688-9a0c17e40ebf.eot?#iefix') format("eot"), url('../../../fonts/din/f37f8098-b16e-405f-ab24-bd595a5d5762.woff2') format("woff2"), url('../../../fonts/din/c5635d60-91fa-4e4b-8a51-41c97fc744c3.woff') format("woff"), url('../../../fonts/din/de34232f-b870-49c0-a6c0-24c25db73bc2.ttf') format("truetype"), url('../../../fonts/din/35916fb2-3ed3-4d39-bec8-74155a53b1f0.svg#35916fb2-3ed3-4d39-bec8-74155a53b1f0') format("svg");
  font-style: italic;
}

@font-face {
  font-family: "DIN Next Medium";
  src: url('../../../fonts/din/324dee78-6585-4c13-8ca3-5817cc600d84.eot?#iefix');
  src: url('../../../fonts/din/324dee78-6585-4c13-8ca3-5817cc600d84.eot?#iefix') format("eot"), url('../../../fonts/din/be607c9f-3c81-41b4-b7ad-17af005c80bb.woff2') format("woff2"), url('../../../fonts/din/4bf0ead4-e61b-4992-832b-6ff05828d99f.woff') format("woff"), url('../../../fonts/din/73713a0b-8f6a-4c4e-b8a8-7cf238e632f6.ttf') format("truetype"), url('../../../fonts/din/b90b6bdf-15e2-4544-9fe0-92c79fff0ecd.svg#b90b6bdf-15e2-4544-9fe0-92c79fff0ecd') format("svg");
}

@font-face {
  font-family: "DIN Next Medium Italic";
  src: url('../../../fonts/din/5fcbd4dd-6c02-47c1-9147-2c69cf4fe5fe.eot?#iefix');
  src: url('../../../fonts/din/5fcbd4dd-6c02-47c1-9147-2c69cf4fe5fe.eot?#iefix') format("eot"), url('../../../fonts/din/5e7b11e8-112d-42fe-a35c-edaca8e64677.woff2') format("woff2"), url('../../../fonts/din/00ebffbe-b1fe-4913-b8d8-50f0ba8af480.woff') format("woff"), url('../../../fonts/din/1d49e204-49b2-4d8e-a1d2-41d0c7ff55e1.ttf') format("truetype"), url('../../../fonts/din/4de17727-14b8-47ae-847a-2e088bba338a.svg#4de17727-14b8-47ae-847a-2e088bba338a') format("svg");
  font-style: italic;
}

@font-face {
  font-family: "DIN Next Bold";
  src: url('../../../fonts/din/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix');
  src: url('../../../fonts/din/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix') format("eot"), url('../../../fonts/din/121784c1-863c-4e49-b682-625ea7de55b0.woff2') format("woff2"), url('../../../fonts/din/9949035f-6226-4080-a14a-bf7d94ffb1e1.woff') format("woff"), url('../../../fonts/din/6241bd09-15c2-485e-9796-9db8d0aa6974.ttf') format("truetype"), url('../../../fonts/din/af94da3e-4232-416a-b6bc-f39f85dd5db6.svg#af94da3e-4232-416a-b6bc-f39f85dd5db6') format("svg");
}

@font-face {
  font-family: "DIN Next Bold Italic";
  src: url('../../../fonts/din/d7c339aa-46b7-4f31-8573-7ea230bfcbbb.eot?#iefix');
  src: url('../../../fonts/din/d7c339aa-46b7-4f31-8573-7ea230bfcbbb.eot?#iefix') format("eot"), url('../../../fonts/din/4e20348d-41a7-4295-94ab-2b1019e9d453.woff2') format("woff2"), url('../../../fonts/din/140a0a6f-f218-4071-8eb8-f2bc45ed5121.woff') format("woff"), url('../../../fonts/din/ecbfe302-4f46-4fef-b823-83eedbc353e7.ttf') format("truetype"), url('../../../fonts/din/58f54e11-a0ac-4cfa-852e-3c73b93d74a8.svg#58f54e11-a0ac-4cfa-852e-3c73b93d74a8') format("svg");
  font-style: italic;
}

@font-face {
  font-family: 'DINWeb';
  src: url('../../../fonts/din/DINWeb.woff') format("woff");
}

@font-face {
  font-family: 'DINWeb-Bold';
  src: url('../../../fonts/din/DINWeb-Bold.woff') format("woff");
}

@font-face {
  font-family: 'DINWeb-BoldItalic';
  src: url('../../../fonts/din/DINWeb-BoldItalic.woff') format("woff");
}

@font-face {
  font-family: 'DINWeb-Italic';
  src: url('../../../fonts/din/DINWeb-Italic.woff') format("woff");
}

@font-face {
  font-family: 'DINWeb-Light';
  src: url('../../../fonts/din/DINWeb-Light.woff') format("woff");
}

@font-face {
  font-family: 'DINWeb-LightItalic';
  src: url('../../../fonts/din/DINWeb-LightItalic.woff') format("woff");
}

@font-face {
  font-family: 'DINWeb-Medium';
  src: url('../../../fonts/din/DINWeb-Medium.woff') format("woff");
}

@font-face {
  font-family: 'DINWeb-MediumItalic';
  src: url('../../../fonts/din/DINWeb-MediumItalic.woff') format("woff");
}

@font-face {
  font-family: 'icomoon';
  src: url('../../../fonts/icomoon/fonts/icomoon.eot?x7vbam');
  src: url('../../../fonts/icomoon/fonts/icomoon.eot?x7vbam#iefix') format("embedded-opentype"), url('../../../fonts/icomoon/fonts/icomoon.ttf?x7vbam') format("truetype"), url('../../../fonts/icomoon/fonts/icomoon.woff?x7vbam') format("woff"), url('../../../fonts/icomoon/fonts/icomoon.svg?x7vbam#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

.icon-arrow-up:before {
  content: "\e903";
}

.icon-close:before {
  content: "\e904";
}

.icon-collapse:before {
  content: "\e905";
}

.icon-expand:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e907";
}

.icon-instagram:before {
  content: "\e908";
}

.icon-logo-full:before {
  content: "\e909";
}

.icon-logo:before {
  content: "\e90a";
}

.icon-menu:before {
  content: "\e90b";
}

.icon-person:before {
  content: "\e90c";
}

.icon-phone:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e90e";
}

.icon-twitter:before {
  content: "\e90f";
}

.icon-youtube:before {
  content: "\e910";
}

.wrap {
  margin: auto;
  max-width: 48rem;
}

.wrap--wide {
  max-width: 72rem;
}

.page-wrapper > .wrap.wrap--wide {
  padding-bottom: 2rem;
}

.notice {
  background: #3172ae;
  color: white;
  padding: 1rem;
  margin: 2rem 0;
  font-size: 2rem;
}
.notice a {
  color: white;
  font-size: 1rem;
}
@media (min-width: 64em) {
  .notice {
    padding: 2rem;
    margin: 2rem 1rem;
  }
}

.notice__heading {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.notice__link {
  display: inline-block;
  text-decoration: underline;
  padding: 0.5rem 1rem;
  vertical-align: bottom;
}
@media (min-width: 64em) {
  .notice__link {
    font-size: 1.5rem;
    vertical-align: top;
  }
}
.notice__link:hover {
  background: #315e88;
}

.news .view-footer {
  text-align: center;
}
.news .view-footer a {
  display: inline-block;
  margin: 1rem .5rem 0 .5rem;
}
.news .twitter__social {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  list-style: none;
  padding: 0 2rem 2rem;
}
.news .twitter__social:before, .news .twitter__social:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.news .twitter__social:after {
  clear: both;
}
@media (min-width: 64em) {
  .news .twitter__social {
    padding: 0;
    margin-left: 8rem;
  }
}
.news .twitter__social__item {
  float: left;
  margin-right: 1rem;
  margin-top: 0;
}
.news .twitter__social__link {
  display: block;
  width: 1.5rem;
  color: white;
  border-bottom: none;
}
@media (min-width: 64em) {
  .news .l-region--news {
    width: 75%;
    float: left;
  }
  .news .news__item {
    width: 33%;
  }
  .news .news__item .news__detail > span {
    display: block;
    margin-bottom: 1rem;
  }
  .news .news__item .news__detail a {
    font-size: 1.125rem;
  }
  .news .news__block {
    border-top: 0.5rem solid #6d6f72;
  }
  .news .l-region--news .view-footer a.button-a {
    margin-left: 20rem;
  }
}

.events {
  margin: 2rem 0;
  padding: 0 1rem;
  overflow: hidden;
  clear: both;
}
.events .view-footer {
  text-align: center;
}
.events .view-footer .button-a {
  display: block;
  margin-top: 1rem;
}
@media (min-width: 64em) {
  .events .view-footer .button-a {
    display: inline-block;
    margin: 1rem 0.5rem 0 0.5rem;
  }
}
