.page-manager-wrapper .audience,
.page-manager-wrapper .search,
.page-manager-wrapper .directory
 {
  width: auto !important;
  height: auto !important;
  left: auto !important;
}

.page-manager-wrapper .audience__close,
.page-manager-wrapper .search__close,
.page-manager-wrapper .directory__close {
  display: none;
}

.panels-layouts-checkboxes .form-checkboxes .form-item,
#panels-choose-layout .form-type-radio,
.panels-choose-layout .form-type-radio {
  width: 200px !important;
}

.panels-choose-layout {
  margin-bottom: 5rem;
}

#edit-field-layout-und .form-item-field-layout-und {
  float: left;
  margin-right: 1rem;
}

.form-item-field-layout-und .description {
  clear: both;
}

.page-manager-wrapper #edit-buttons {
  clear: both;
}
