@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
.tabs a {
  border-bottom: 0;
}

.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}
