#left_side,
#right_side,
#main-menu,
#search-account,
#nav-path,
#left-column,
#content-3c .top,
#content-2c .center-top,
#content-3c .bottom,
#footer-boxes,
#footer-logo-brands,
.content-corners-bottom,
.bottomHeader,
.fonts-size,
.lewe_bloczki,
#content-2c .see-also,
a.notifyFriend,
a.fancyPrint,
.addToCart,
#newEuro,
#medium-link,
.print-bar,
.errorLink,
#menu-product li,
#opinionFormAdd,
#medium-link-href,
.under-wrapper,
ul.li6,
.order_navigate,
#right-3-column,
#player,
#content-1c .center-top,
#content-1c .center-bottom2,
#zakonczenie,
.clipboard,
iframe,
.content-corners-top{display:none !important;}
#header{height: auto;}
#header > *{display:none !important;}
#header #logo{display:block !important;top:0;bottom:auto;position:static;}
.productTab{display:none}

#printButton{display:block !important;float:right;margin-right:30px;}
#printButton a{color:#0C4DA2;font-weight:bold;}

#content-1c .center-content,
#content-2c .center-content {border:none !important}
#menu-product li.current {display:block !important;}
.cart_summarize tr.small td {border-top:1px solid #D6D6D6 !important;}

.cart_summarize .last {border:1px solid #D6D6D6 !important;}

span.label-rates-S{background-image:none !important;background:none !important;text-indent:0px !important;font-size:11px;font-weight:bold;line-height:270px;text-align:right;}
span.label-rates  {background-image:none !important;background:none !important;text-indent:0px !important;font-size:14px;font-weight:bold;line-height:320px;text-align:right;}
span.label-shipping-S{background-image:none !important;background:none !important;text-indent:0px !important;font-size:11px;font-weight:bold;text-align:left;}
span.label-shipping {background-image:none !important;background:none !important;text-indent:0px !important;font-size:14px;font-weight:bold;}
.label-promotion-S{background-image:none !important;background:none !important;text-indent:0px !important;font-size:11px;font-weight:bold;text-align:left;}
.label-promotion{background-image:none !important;background:none !important;text-indent:0px !important;font-size:14px;font-weight:bold;}

#right_side1,#right_side2,#left_side1, #left_side2,
.banners{display:none;}


.bglightblue {background:none !important;}
#top #order_path .logo {float:left !important}
#content-2c .bg-grey{border:0 none !important;background:none !important;}
#content-2c .center-top-bar.black {background:none !important;}
#content-2c .center-top-bar.black h1 {font-size:16px;color:black !important;}
#content-2c .center-bottom {background:none !important;}
.seeAlsoBlock{display:none !important;}

.tech_details .tr1 td, .tech_details .tr1s td,.tech_details .tr1 td, .tech_details .tr1s td  {  background:#ffffff;}
.tech_details{width:100%}
.content {background:#ffffff !important;border-left:0 !important;border-right:0!important;}
#content-3c {float:none;width:auto !important;overflow:visible !important;}
#content-2c{float:none;width:auto !important;}
#content-3c .center {border:0 !important;}

#articleContent {
    padding-top: 5px;
    position: inherit;
    width: auto;
}
#articleHeader, #articleFooter, .articleButton, .article-column, .article-useful{display:none !important;}

#comparison{width:100%;}
.btn-show-diff, .photos2, .details2{display:none !important;}
.noPrint{display:none !important;}

.sh1, .sh2, .sh3, .sh4, .sh5{
	text-shadow:none !important;
}
#notifyCookie, #notifyCookieBot,#notifyCookieBot .wrapper, #ddd_right, #ddd_left{display:none !important;}

.accessories-wrap{width:680px !important;}
#content-3c {overflow: visible;}

#kredytLineSummary #orderItems{display:block !important}
#kredytLineSummary .moreInfo, #kredytLineSummary .lessInfo{display:none !important;}
