/* CLEARFIX
------------------------------------------------------------------------------*/

body > header:after,
#container:after,
#list_setting dl:after,
.article_list article:after,
.article_list ul:after,
article header ul:after {
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
}

/* HEADER
------------------------------------------------------------------------------*/

body > header {
	padding: 10px;
}

#logo {
	float: left;
	width: 143px;
	padding: 10px 0;
	margin-right: 20px;
}

#primary_message {
	float: left;
	width: auto;
	color: #777;
	font-size: 12px;
	font-weight: normal;
	line-height: 50px;
}

body > header form {
	float: right;
	width: auto;
}

body > header input,
body > header button {
	float: left;
	height: 50px;
	font-size: 16px;
}

body > header input {
	line-height: 20px;
	width: 300px;
	border: 1px solid #E1E1E1;
	border-right: none;
	padding: 0 15px;
}

body > header button {
	color: #FFF;
	line-height: 50px;
	background: #000;
	border: none;
	width: 50px;
	border: 1px solid #000;
	cursor: pointer;
}

body > header button:hover {
	color: #000;
	background: #FFF;
}

/* STRUCTURE
------------------------------------------------------------------------------*/

#container {
	padding: 0px 10px 20px 10px;
	border-bottom: 1px solid #E1E1E1;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
}

#side {
	position: absolute;
	float: left;
	width: 300px;
}

#content {
	min-height: 1000px;
	margin-left: 320px;
}

#main_video {
	float: left;
	width: 640px;
}

#sub_video {
	margin-left: 660px;
}

/* MY LIST
------------------------------------------------------------------------------*/

#mylist {
	border: 1px solid #E1E1E1;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
	margin-bottom: 20px;
}

#mylist a {
	display: block;
	padding: 15px;
}

#mylist a:hover {
	background: #F3F3F3;
}

#mylist h2 {
	margin-bottom: 10px;
}

#myList strong {
	font-size: 24px;
	margin-right: 5px;
}

/* TAG NAVIGATION
------------------------------------------------------------------------------*/

#nav_tag,
#nav_link {
	margin-bottom: 20px;
}

#nav_tag h2,
#nav_link h2 {
	background: #F3F3F3;
	padding: 15px;
}

#nav_tag li,
#nav_link li {
	padding: 5px 0;
	border-bottom: 1px solid #E1E1E1;
}

#nav_tag a,
#nav_link a {
	display: block;
	line-height: 30px;
	padding: 0 20px;
	height: 30px;
}

#nav_tag a:hover,
#nav_link a:hover {
	background: #F3F3F3;
}

#nav_tag .btn_more {
	display: block;
	line-height: 40px;
	text-align: center;
	padding: 0 25px;
	height: 40px;
	border-bottom: 1px solid #E1E1E1;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
	cursor: pointer;
}

#nav_tag .btn_more:hover {
	background: #F3F3F3;
}

/* ARTICLE LIST
------------------------------------------------------------------------------*/

.article_list.reco_list {
	border: 1px solid #E1E1E1;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
	margin-bottom: 20px;
}

.article_list h1,
.article_list h2,
#common_content h1 {
	font-size: 20px;
	line-height: 70px;
	height: 70px;
	background: #F3F3F3;
	padding: 0 15px;
	margin-bottom: 20px;
	position: relative;
}

.article_list h1:before,
.article_list h2:before {
	content: "\f002";
	font-family: FontAwesome;
	margin-right: 10px;
}

#btn_delete {
	font-size: 16px;
	font-weight: normal;
	line-height: 38px;
	height: 38px;
	border: 1px solid #000;
	padding: 0 15px;
	background: #FFF;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.1);
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

#btn_delete:hover {
	color: #FFF;
	background: #000;
}

.article_list.reco_list h2 {
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	background: none;
	padding: 20px;
	margin-bottom: 0;
}

#list_setting {
	border: 1px solid #E1E1E1;
	padding: 15px 15px 5px;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
	margin-bottom: 20px;
}

#list_setting dl {
	height: 30px;
	margin-bottom: 10px;
}

#list_setting dt,
#list_setting dd {
	line-height: 30px;
	height: 30px;
}

#list_setting dt {
	float: left;
	width: 100px;
	font-weight: bold;
}

#list_setting dd {
	float: left;
	width: auto;
	margin-right: 15px;
}

#list_setting dd a {
	display: block;
}

#list_setting dd a.current {
	background: #F3F3F3;
	padding: 0 10px;
}

#list_setting dd i {
	font-size: 20px;
	color: #E1E1E1;
}

#list_setting dd .current i {
	color: #000;
}

#result {
	text-align: center;
	margin-bottom: 20px;
}

#result strong {
	font-size: 24px;
	margin-right: 5px;
}

.article_list article {
	height: auto;
	padding: 20px 0;
	border-top: 1px solid #E1E1E1;
	position: relative;
}

.article_list article.added {
	background: #F3F3F3;
}

.article_list.reco_list article {
	padding: 10px 20px;
}

.article_list.reco_list article {
	height: 90px;
}

.article_list .thumb {
	float: left;
	width: 200px;
	height: 150px;
	position: relative;
}

.article_list.reco_list .thumb {
	width: 120px;
	height: 90px;
}

.article_list .btn_mylist {
	position: absolute;
	display: block;
	width: auto;
	color: #E1E1E1;
	font-size: 30px;
	top: 10px;
	right: 0;
	cursor: pointer;
}

.article_list .btn_mylist:hover,
.article_list .added .btn_mylist {
	color: #B4B4B4;
}

.article_list .duration,
.article_list .label {
	position: absolute;
	display: block;
	width: auto;
	padding: 5px 10px;
	color: #FFF;
	font-size: 12px;
	opacity: 0.7;
}

.article_list .duration {
	background: #000;
	right: 0;
	bottom: 0;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
}

.article_list .label {
	left: 0;
	top: 0;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}

.label_dmm {
	background: #E90000;
}

.article_list .article_content {
	margin-left: 220px;
}

.article_list.reco_list .article_content {
	margin-left: 130px;
}

.article_list time {
	font-size: 13px;
	margin-bottom: 10px;
}

.article_list h3 {
	margin-bottom: 10px;
}

.article_list h3 a {
	font-size: 20px;
	line-height: 1.5;
}

.article_list.reco_list h3 a {
	font-size: 14px;
	font-weight: normal;
}

.article_list h3 a:hover {
	border-bottom: 1px solid #000;
}

.article_list article li,
article header li {
	float: left;
	width: auto;
	margin: 0 10px 10px 0;
}

.article_list article li a,
article header li a {
	color: #000;
	font-size: 13px;
	line-height: 25px;
	height: 25px;
	display: block;
	padding: 0 15px 0 0;
	border: 1px solid #E1E1E1;
	background: #FFF;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
}

.article_list article li a:before,
article header li a:before {
	content: "\f02b";
	font-family: FontAwesome;
	color: #FFF;
	background: #E1E1E1;
	display: inline-block;
	vertical-align: top;
	height: 25px;
	padding: 0 7px;
	margin-right: 15px;
}

.article_list article li a:hover:before,
article header li a:hover:before {
	background: #000;
}

.article_list .btn_more {
	display: block;
	color: #FFF;
	text-align: center;
	background: #000;
	line-height: 50px;
	height: 50px;
	border: 1px solid #000;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
	margin-bottom: 20px;
}

.article_list .btn_more:hover {
	color: #000;
	background: #FFF;
}

/* PAGINATION
------------------------------------------------------------------------------*/

ol {
	text-align: center;
}

article ol {
	margin-bottom: 20px;
}

ol li {
	display: inline-block;
	line-height: 40px;
	text-align: center;
	height: 40px;
	width: 40px;
	margin: 0 2px;
}

ol li a {
	display: block;
	border: 1px solid #000;
	background: #FFF;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
}

ol li a:hover {
	color: #FFF;
	background: #000;
}

.article_list ol .current,
article .current a {
	color: #FFF;
	background: #000;
}

.article_list ol .current {
	border: 1px solid #000;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
}

/* ARTICLE
------------------------------------------------------------------------------*/

#main_video > article {
	margin-bottom: 20px;
}

article h1 {
	font-size: 30px;
	line-height: 1.5;
	background: #F3F3F3;
	padding: 15px;
	margin-bottom: 20px;
}

article header ul {
	margin-bottom: 10px;
}

.bx-viewport {
	margin-bottom: 20px;
}

.bx-wrapper {
	position: relative;
}

.bx-loading {
	background: url(/images/bx_loader.png) center center no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

article footer {
	text-align: center;
}

article footer .btn_mylist,
article footer ul,
article footer li {
	display: inline-block;
}

article footer .btn_mylist,
article footer li {
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	border: 1px solid #E1E1E1;
	padding: 0 20px 0 0;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
	margin: 0 5px;
	cursor: pointer;
}

article footer .btn_mylist:before,
article footer li:before {
	font-family: FontAwesome;
	color: #FFF;
	display: inline-block;
	vertical-align: top;
	height: 40px;
	padding: 0 15px;
	margin-right: 20px;
}

article footer .btn_mylist:before {
	content: "\f005";
	background: #C4C4C4;
}

article footer .btn_mylist:hover:before,
article footer .btn_mylist.added:before {
	background: #000;
}

article footer #btn_good {
	color: #FF1981;
}

article footer #btn_bad {
	color: #006ADD;
}

article footer .voted #btn_good,
article footer .voted #btn_bad {
	color: #000;
	background: #F3F3F3;
	cursor: inherit;
}

article footer #btn_good:before {
	content: "\f164";
	background: #FF1981;
}

article footer #btn_bad:before {
	content: "\f165";
	background: #006ADD;
}

article footer .voted #btn_good:before,
article footer .voted #btn_bad:before {
	background: #C4C4C4;
}

article footer #notice_voted {
	line-height: 42px;
	height: 42px;
	border: none;
	box-shadow: none;
	cursor: inherit;
	margin-left: 10px;
}

/* LINK LIST
------------------------------------------------------------------------------*/

.link_list {
	border: 1px solid #E1E1E1;
	box-shadow: 0 3px 0 rgba(8, 1, 2, 0.03);
	margin-bottom: 20px;
}

.link_list li {
	border-bottom: 1px solid #E1E1E1;
}

.link_list li:last-child {
	border-bottom: none;
}

.link_list a {
	display: block;
	line-height: 1.5;
	padding: 10px 15px;
}

.link_list a:hover {
	background: #F3F3F3;
}

/* FOOTER
------------------------------------------------------------------------------*/

body > footer ul {
	text-align: center;
	padding: 20px 0;
}

body > footer li {
	display: inline-block;
	margin: 0 5px;
}

body > footer li a {
	font-size: 12px;
}

body > footer li a:hover {
	text-decoration: underline;
}

#btn_top,
body > footer p {
	text-align: center;
	line-height: 40px;
	height: 40px;
}

#btn_top {
	display: block;
	background: #F3F3F3;
	cursor: pointer;
}

#btn_top:hover {
	color: #FFF;
	background: #000;
}

#copyright {
	font-size: 10px;
}

/* OTHERS
------------------------------------------------------------------------------*/

#policy_list li {
	list-style: disc inside;
	line-height: 1.5;
	margin-bottom: 30px;
}

#faq_list dt,
#faq_list dd {
	line-height: 1.5;
}

#faq_list dt {
	font-weight: bold;
	margin-bottom: 20px;
}

#faq_list dd {
	margin-bottom: 30px;
}