/** 
* additional.css 
* 
* Sets up different grid layouts.
* 
* @version      1
* @date        2013-26-9
* @author      Netcreators (Emile Blume)
* @project     DigiD
* @cssdoc      version 1.0-pre
*
*/

/* settings for homepage */
#home #nav-intro { background-image:url('../../../digid/afbeeldingen/digid_home.jpg');}
#intro_blok div.anythingSlider, #intro_blok div.anythingSlider * { border:0; padding:0; margin:0; }
#intro_block { overflow:hidden;}
#intro_blok .start-stop { display:none; }
#intro_blok .thumbNav {
  right:0; top:0; position:absolute;
  height:220px; width:193px;
}
#intro_blok li { position:relative; }
#intro_blok .thumbNav li a {
  display:block; clear:both; border:0;
  background:url(../images/nav-button.png) no-repeat 0 0;
  height:55px; line-height:55px; width:220px;
  font-family:Verdana, sans-serif; 
  font-size: 1.3em;
  
}
#intro_blok .thumbNav li a:hover { background-position:0 bottom; }
#intro_blok .thumbNav li a.cur { background-position:0 -56px; }
#intro_blok li .csc-textpic-text {
  height:40px; width:360px; padding:4px 15px;
  left:10px; bottom:10px; position:absolute;
  background:url(../images/trans.png);
}


h2 a:link { color: #000; text-decoration: none; }
h2 a:visited { color: #000; text-decoration: none; }
h2 a:hover, a:visited:hover, a:active { color:#000; text-decoration: none; }

h1 { line-height:1.2em; margin:0 0 12px 0; }


acronym, dfn, abbr, span.abbr { border-bottom:1px dotted black; cursor:help;}
table img, table td p, table th p { margin:0; padding:0; }
td { vertical-align:top; }
.align-right {text-align: right;}
.indent {margin-left: 1em;}
.hidden { left:0; top:-9999px; position:absolute;}
.content_add * { padding-right:0; }

div.csc-textpic.csc-textpic-center div.csc-textpic-imagewrap div.csc-textpic-image { float:none; }
div.csc-textpic-center div.csc-textpic-imagewrap .csc-textpic-image { text-align:center; }

.mail { background:url(accessibility/mail.png) no-repeat -2px 2px; padding-left:20px; }
.internal-link { background:url(accessibility/internal-link.png) no-repeat -2px 4px; padding-left:12px; }
.external-link, .external-link-new-window { background:url(accessibility/external-link.png) no-repeat -2px 2px; padding-left:20px; }
.external-link-new-window img { display:none; }
.huiswerk { display:block; }

.footer ul { list-style:none; margin:0; padding:0; }
.footer .internal-link { background:none; padding:0; }
.footer #footer-content { padding:0 36px 18px; overflow:auto; }

#leveltitle { 
  color:#e17000; 
  font-family:Arial,Verdana,sans-serif;
  font-size:2.2em;
  font-weight:normal;
  line-height:2;
  margin-bottom:0;
  margin-top:-12px;
}

#service_menu a.sel { background:none; }

#content .banner div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-image { margin:0; }
#content .banner img { width:auto; }
#content .banner p.margin-left {margin-left: 70px;}
#content .mod .csc-textpic-text { padding:10px 10px 0 0;  }
#content .mod {padding: 0;}
#content .service {padding: 8px 10px 5px 30px;}

#content .content_main { min-height:500px; height:auto !important; height:500px; }
.content ul li.csc-section { list-style:none; margin:0; padding:0; }

.content .csc-sitemap ul { /*list-style:none; */}
.content .csc-sitemap ul li a { font-weight:bold; }
.content .csc-sitemap ul ul { margin-bottom:11px; }
.content .csc-sitemap ul ul li a {font-weight:normal;}
.content .csc-sitemap ul ul ul li { background:transparent url(skin/arrow.png) no-repeat scroll left 6px; padding-left:11px; font-size:11px; }
.content .csc-sitemap ul ul ul { margin-bottom:0; }

#hoofd_content div.csc-textpic-center div.csc-textpic-imagecolumn,
#hoofd_content div.csc-textpic-center div.csc-textpic-imagewrap div.csc-textpic-image,
#hoofd_content div.csc-textpic-center div.csc-textpic-image { display:block; float:none; }
#hoofd_content div.csc-textpic-center div.csc-textpic-image { text-align:center; }

.csc-textpic-caption { color:#767676;}
.csc-frame-rulerBefore { border-top:3px solid #e17000; padding:0.9em 0 0;}
.csc-frame-rulerAfter { border-bottom:3px solid #e17000; padding:0 0 0.9em 0; }

/* frames ///////////////////////////////////////////////////////////////*/
.frame-01, .frame-02, .frame-03, .frame-04 { display:inline; float:left; width:30%; }

.frame.faq p, #home #left .frame.foldable p { margin-bottom:0.5em; }
.frame.faq a, #home #left .frame.foldable a { background:none; font-weight:bold; padding:0; }
.frame.faq ul, #home #left .frame.foldable ul { list-style:none; margin:0 0 1em 0; padding:0; }
.frame.faq ul li a, #home #left .frame.foldable ul li a { background:url(../images/svg/faq_icon.svg) no-repeat 0 0; display:block; font-weight:normal; margin:0 0 0.5em 0; padding:0 0 0 35px; text-decoration:underline;  }

/* Language + Lees voor /////////////////////////////////////////////////*/
#service_menu.func_links ul { margin-left:0; }
.func_links a { border-left:1px solid #cfb8a0; }
.func_links ul.language.right { margin-right:0; }
.func_links ul.language a { border:none; }
.func_links .leesvoor a:link { color:#000; }

#header-service { 
  display:block; height:20px; width:240px; 
  left:718px; top:162px; position:absolute; margin:0; padding:0;
}
#header-service ul, #header-service li { list-style:none; display:inline; margin:0; padding:0; line-height:1em; }
#header-service li a:link, #header-service li a:visited { color:#000; padding:0 10px 0 0; display:block; float:left; }
#header-service span { background:none; width:auto; position:inherit; top:auto; right:auto;}

/* Search ////////////////////////////////////////////////////////////////*/
.search {
  top:8px; right:20px; position:absolute;
  height:29px; width:193px;
}

.search form, .search * { margin:0; padding:0; text-align:left; }
.search fieldset { border:0; margin:0; padding:0; }

.search form input { 
  background:#fff; border:none;
  display:inline;  float:left;
  font-size:1em; text-indent:4px;
  height:29px; line-height:29px; width:135px;
}
.search form input.submit { 
  background:#f6d4b2 url(../images/svg/search-icon.svg) no-repeat 5px 8px; font-weight:normal;
  background-size:14px 14px;  border:none; text-indent:21px; padding:0; text-transform:capitalize; line-height:28px; width:58px; 
}
.search form input.submit:hover { color:#000; }

.search a { color:#fff; text-decoration:none; }

#tx-indexedsearch-selectbox-defop { margin-left:126px; }

.tx-indexedsearch-title, .tx-indexedsearch-descr { clear:both; display:block; width:100%; }
.tx-indexedsearch-title * { display:inline; float:left; margin:0 5px 0 0; }
.tx-indexedsearch-descr p { margin:0; }
.tx-indexedsearch-secHead p { display:none; }
label.wide { width:auto; }

/* Veel gestelde vragen ///////////////////////*/
.uni_node .uni_node_body {
  background:#f2f2f2; 
  border:1px solid #dddddd;
  margin:0 0 7px 0; padding:0px;
}
.uni_result.uni_result_menu_endnode .uni_node .uni_node_body { padding:2%; }
.uni_result.uni_result_menu_endnode .uni_node .uni_node_body ul { list-style-position:inside; }

.uni_result.uni_result_portal .uni_nodes { 
  /*
  column-count:2;
  -moz-column-count:2;
  -webkit-column-count:2; 
  */
}

.content .uni_node {/* float:none; width:99%; */  float:left; width:48%; margin-right:0%; }
.content .uni_node_even { /*clear:none; margin:0; */ margin-right:2%; }
.uni_node .uni_node_body { margin-top:3px; }
.uni_node ul { margin:0; }
.uni_node li { border-bottom:1px solid #ddd; margin:0; padding:4px; }

.uni_node .uni_node_text ul { margin-left:2.4em; margin-bottom:2.2em; }
.uni_node .uni_node_text li { border:none; padding:0; }

.container .uni_result_portal .uni_node a,
.container .uni_result_portal .uni_node a:link { background-position:-2px 4px; display:block; color:#000; font-weight:bold; padding-left:20px; text-decoration:none; }
.container .uni_result_portal .uni_node a:visited { color: #696969; }
.uni_result_portal .uni_node .uni_node_more a { font-weight:normal; }
.uni_node a:hover { text-decoration:underline; }
.uni_node .uni_node_more { background:#ddd; padding:4px; }
br.uni_br_clear { display:none; }
.uni_subnode_title { font-family:Arial,Verdana,sans-serif;}
/*
.uni_single h1 { 
  position: relative;   
  left:25%; 
 
}
*/
.uni_single .uni_result_menu_endnode { 
   float:left; position:relative;
  padding-right:20px; 
  left:25%; max-width:50%; width:100%; 
  height:500px; 
  height: auto !important;
  min-height: 500px;
}

.uni_single .uni_result_menu_endnode .uni_node_body { border:0; background:none; padding:0; }


/* T3M FAQ ////////////////////////////////////*/
.t3m_faq_foldout dt { cursor:pointer; padding-left:20px; font-weight:bold; font-size:1.1em; }
.t3m_faq_foldout dd { padding-left:20px; }
#t3m_faq_tab_container { border:1px solid #C3DBB6; padding:10px; margin:0px 0 10px 0; }
.t3m_faq_tab {
  background-color:#C3DBB6;
  border:1px solid #C3DBB6;
  border-bottom:0;
  color:#333;
  cursor:pointer;
  font-size:1.1em;
  padding:2px 5px;
}

.tx-t3mfaq-pi1 span.active { background:#e17000; color:#ffffff; }


/* Serviceberichten /////////////////////////////////////////////////////*/
.content .service, .content .alert, .powermail_mandatory_js, .tx-comments-required-error  {
  background:#FEF1BC url(../images/svg/message-info.svg) no-repeat 0.5em 0.5em;
  color:#000;
  padding:8px 10px 5px 34px;
}

.banner.service, .banner.alert { max-width:576px; }

.service *, .alert *, .content .service h3, .content .service h3 { color:#000; }

.content .alert, .powermail_mandatory_js, .tx-comments-required-error {
  background:#FAB2BD url(../images/svg/message-error.svg) no-repeat 0.5em 0.5em;
  margin-top:0.6em;
  display:block;
}

.questionNumber { margin-right:4px; display: none; }

/* Comments ///////////////////////////*/
.tx-comments-comment-form input.submit { margin-left:0; }
.tx-comments-pi1 { margin-top:1em; }


/* Begrippenlijst ////////////////////*/
ul.atozlist { padding-bottom:0.6em; border-bottom:3px solid #e17000; }
ul.atozlist li { list-style:none; display:inline; }
ul.atozlist li {
  border-right:0px solid #767676;
  line-height:1.2em;
  margin:0;
  padding:0.2em 0.2em 0.3em;
}

/* TT NEWS ////////////////////////////*/
.content_main .news-list-container, .content_main .tx-indexedsearch-res { 
  border-top:3px solid #e17000; 
  border-bottom:3px solid #e17000; 
  padding-top:0.6em; margin-bottom:0.6em; 
}

.content_main .news-list-container { border-bottom:0; }
.content ul.news-list-container, .content ul.news-list-container li { background:none; list-style:none; margin:0; padding:0;  }
.content ul.news-list-container li a {
  background: url(../images/svg/arrow-blue.svg) no-repeat scroll 0 10px;
  display:block;
  padding:0.3em 1em 0.3em 1.2em;
}

.content_add ul.news-list-container li a { width:188px; }

.news-date { color:#555555; font-size:1.1em; }
.news-more a, .news-back a { font-size:1.1em;  }
.news-latest-item, .news-list-item { margin-bottom:1.4545em; }
.news-latest-item p, .news-list-item p { margin-bottom:0; }

#content .orange .content_main .news-browse {  border-top:3px solid #E17000;  }
.news-browse { padding-top:0.6em; }
.news-browse ul {padding-left: 0;}
.news-browse li, ul.browsebox li { list-style:none; display:inline; }
.news-browse .browse-results { display:none; }
.news-browse li, ul.browsebox li,
.tx-indexedsearch-browsebox-SCell a { 
  background:none;
  border-right:1px solid #767676;
  text-decoration:none; 
  padding:0.2em 0.6em 0.3em;
}
.news-browse li:last-of-type { border:none; }

ul.browsebox, .tx-indexedsearch-browsebox-SCell { margin-bottom:0.6em; margin-left:0;}
.tx-indexedsearch-res .tx-indexedsearch-res { border:0; }
.tx-indexedsearch-info { display:none; }

.news-list-morelink { margin-left:0.3em; }
.news-single-additional-info { margin-bottom:1em; }








/* mailform properties ///////////////////////////////////////////////////////////////*/
/* form ul, form li, form dl, form dd {margin:0; padding:0; list-style:none; }*/
.tx-pbsurvey-pi1 label.radio { width:290px;}
.tx-pbsurvey-pi1 label.radio input { width: 50px; float: left;}
.tx-pbsurvey-pi1 .tx_powermail_pi1_fieldwrap_html { float:left; width:400px; }
.tx_powermail_pi1_fieldwrap_html {
  background:#F5F5F5; width:410px;
  clear:both; float:left; display:block;
  margin-bottom:0.3em; padding:0.4em 1em;
}

.tx-powermail-pi1 label, .tx-pbsurvey-pi1 label, .survey_item label {
  display:block; float:left;
  width: 120px;
  text-align: left;
}

.tx_powermail_pi1_fieldwrap_html_radio label,
.tx_powermail_pi1_fieldwrap_html_check label { padding-right:0; }
.powermail_radio_inner, .powermail_check_inner { margin-left:120px; padding-left:0.3em;}
.powermail_radio_inner label, .powermail_check_inner label { float:none; }
.powermail_radio_inner input, .powermail_check_inner input { width:20px; }

.tx-powermail-pi1 input.powermail_contact powermail_submit {
  background:#DEEBE3 none repeat scroll 0 0;
  border:1px solid #000000;
  color:#000000;
  cursor:pointer;
  font-weight:bold;
  margin-left:12.7em;
  padding:0.4em 1em;
}
.question { 
  font-weight: bold;
  margin-bottom: 10px;
}

/* DAM Frontend //////////////////////////////////////////////////////////////////*/
.tx-damfrontend-pi1 ul li { padding:0; }
.tx-damfrontend-pi1 img { margin:0; }
.tx-damfrontend-pi1 .title a { font-size:1.2em; font-weight:bold; text-decoration:none;  }
.tx-damfrontend-pi1 .label { color:#7B7B7B; display:block; float:left; width:150px; }
.tx-damfrontend-pi1 .filelist li { margin:0 0 1em 0; }

.tx-damfrontend-pi1 .browserresult { 
  clear:both; float:left; display:block;
  border-bottom:3px solid #046F96; 
  margin:0 0 1em 0; padding:4px 0; width:100%; 
}

.tx-damfrontend-pi1 .browserresult li { border-left: 0px solid #046F96; }
.tx-damfrontend-pi1 .browserresult li+li { border-left: 1px solid #046F96; padding-left:10px; }

/* Glossary  */
.gloss_title { font-weight:bold; }
.gloss_desc { margin-left:1em; }

/* Twitter feed  //////////////////////////////////////////////////////////////////*/
.twitter ul li { padding-bottom: 1.2em; }
.twitter ul li img { margin-bottom: -2px;padding: 0; }
.twitter .twitter_date { color: #767676;display:block; }

.wt_twitter_errors {
  background-color: #FBB19B; 
  padding: 5px 30px; 
  font-weight: bold; 
  border: 1px solid #DC4C42; 
  margin-bottom: 20px; 
  color: #444;
}
.wttwitter_feed { list-style-type: none; padding-left: 0;}
.wttwitter_feed li { padding: 10px 0 0 0; min-height: 40px; }

.wt_twitter_profile_image {
  float: left; 
  margin-right: 10px; 
  border: 0;
}
.twitter-end { clear:both; }
.retweet_icon {margin-bottom:0;}

/* Sitemap ul list ////////////////////////////////////////*/
.csc-menu-3 { margin-left: 0; }

/* Accordion multiple content ////////////////////////////////////////*/
.ui-accordion {
  margin-bottom: 1.5em;
  padding: 0!important;
  border: 1px solid #DDDDDD!important;
  border-top: 0px solid #DDDDDD!important;
}
.ui-accordion .ui-accordion-header {
  margin-top: 0px;
}
.ui-accordion .ui-accordion-content {
  top: 0;  
  line-height: 1.5em;
  padding: 4px 20px;
  margin-bottom: 0px;
}
ul.ui-accordion-content {
  list-style-position: outside!important;
  list-style-type: square!important;
}
.ui-accordion .ui-accordion-content li {
  margin-left: 13px!important;
}
.ui-accordion ui-widget {
}
h1.ui-accordion-header,
h2.ui-accordion-header,
h3.ui-accordion-header,
h4.ui-accordion-header {
  margin: 0;
  padding: 0px 0px 0px 10px!important;
  background-color: #F2F2F2!important;
  border: 0px solid #F2F2F2!important;
  border-top: 1px solid #DDDDDD!important;
  font-size: 1.1em;
}
h1.ui-accordion-header a,
h2.ui-accordion-header a,
h3.ui-accordion-header a,
h4.ui-accordion-header a {
  color: black;  
}
.ui-accordion .ui-accordion-header .ui-icon {
  margin-top: -12px;
  top: 50%;
}
.box.closed.grey {
  border: 1px solid #DDDDDD!important;  
}
.box.closed.grey h3 {
  
}
h1.ui-accordion-header:first-child,
h2.ui-accordion-header:first-child,
h3.ui-accordion-header:first-child,
h4.ui-accordion-header:first-child {
  border-top: 1px solid #DDDDDD!important;
}
.ui-accordion-header.ui-state-active a, .ui-accordion-header.ui-state-default a {
  background-color: #F2F2F2!important;
  padding-left: 8px;
  text-decoration: none;
}
.ui-accordion h3.ui-accordion-header.ui-state-default {
  background-image: url("skin/arrows.png")!important;
  background-position: 4px 8px!important;
  background-repeat: no-repeat!important;
}
.ui-accordion h3.ui-accordion-header.ui-state-active {
  background-image: url("skin/arrows.png")!important;
  background-position: 3px -82px!important;
  background-repeat: no-repeat!important;
}



#content .content_main .frame-01, 
#content .content_main .frame-02 { background:#fbead9; border: 1px solid #f6d4b2; margin-bottom: 20px; padding:2% 2% 4% 2%;  width: 43.8%; position: relative;  }
 
#content .content_main .frame-01, 
#content .content_main .frame-03 { margin-right:20px;}
 
#content .content_main .frame-01 h2, 
#content .content_main .frame-02 h2, 
#content .content_main .frame-03 h2,
#content .content_main .frame-04 h2{ font-size:1.5em; font-weight:bold; margin-top: 0.5em; }

#content .content_main .frame p:first-child { min-height: 5em; } 

#content .content_main .frame-03, #content .content_main .frame-04 { 
  background: #f3f5f6; border: 1px solid #ececec; margin-bottom: 20px; padding: 2% 2% 4% 2%; width: 43.8%; position: relative; }
 
#content .content_main .frame-01 p a, 
#content .content_main .frame-02 p a {
  background:#e17000 url(../images/svg/arrow-white.svg) no-repeat 12px 12px;
  color:#fff; font-family:Arial,Helvetica; font-weight:bold; font-size:1.167em;
  padding:4px 10px 4px 24px; right:0; bottom:0; position:absolute; text-decoration:none;
}
 
#content .content_main .frame-03 p a, #content .content_main .frame-04 p a { 
  background:#164273 url(../images/svg/arrow-white.svg) no-repeat 12px 12px;
  color:#fff; font-family:Arial,Helvetica; font-weight:bold; font-size:1.167em;
  padding:4px 10px 4px 24px; right:0; bottom:0; position:absolute; text-decoration:none;
}
 
#content .content_main .frame-01 p a:hover, 
#content .content_main .frame-02 p a:hover, 
#content .content_main .frame-03 p a:hover,
#content .content_main .frame-04 p a:hover{ text-decoration:underline; }


/* FAQ 2014 //////////////////////////////////*/
.tx-jfmulticontent-pi1 { margin-bottom:1.5em; padding:0; border:1px solid #DDD; border-top:0px solid #DDD; }
.tx-jfmulticontent-pi1 h3 {
    background:#F2F2F2 url("skin/arrows.png") no-repeat 4px 12px; border-top:1px solid #DDD;
    cursor:pointer; font-size:1.1em; line-height:1.3em; margin:0; padding:0 0 0 10px;
}
.tx-jfmulticontent-pi1 h3.open { background-position:3px -78px;}
.tx-jfmulticontent-pi1 h3 a { color:#000 !important; display:block; padding:.5em .5em .5em 8px; text-decoration:none; }
.tx-jfmulticontent-pi1 .csc-default { line-height: 1.5em; padding: 4px 20px; margin-bottom: 0px;}
.tx-jfmulticontent-pi1 .csc-default ul, .tx-jfmulticontent-pi1 .csc-default ol { font-size:1em; }

/* Banner //////////////////////////////////*/
 #t1,
 #t2,
 #t3 {  
      position: absolute;
   left:24px;
   top:90px;
   box-sizing: content-box;
 }
  #cta {
   display:block;
   position: absolute;
   left:24px;
   top:190px;
   width:117px;
   height:37px;
   background: url('../../../digid/afbeeldingen/banner_donorregistratie/cta.png') left top no-repeat;
 }
 #cta:hover {
   background-position: left -37px;
 }
  #t2,
 #t3,
 #cta {
   opacity:0;
 }


