/** 
 * intro.css 
 * 
 * Changes to styling homepage.
 * 
 * @version      0.2
 * @date      2009-09-28
 * @lastmodified  2014-09-30 (Michiel)
 * @author      Netcreators (Emile Blume)
 * @project      GBO.Overheid
 * @link      
 * @cssdoc      version 1.0-pre
 *
 */
 
#intro_blok, #home #hoofd_content  {
  margin-top:0px;
  padding:0;
  position:relative;
  clear:both;
  max-width:100%; 
  width:100%; 
}

#logo { left:20px; top:20px; position:absolute; z-index:10; }

#nav-intro, #intro-right  { display:inline; float:left; margin-right:2.2%; width:100%; }
#nav-intro {
  background-repeat:no-repeat;
  background-position:0 0;
  background-size:cover;
  min-height:455px;
  position:relative;
}
#nav-intro .frame { background:#fbead9; padding:2% 2% 2% 2%; width:26.66%; margin-right: -100%; position: absolute; bottom: 20px; }
#nav-intro .frame-01{ margin-left: 2%; }
#nav-intro .frame-02{ margin-left: 34.66%; }
#nav-intro .frame-03{ margin-left: 67.33%; }
#nav-intro .frame h2 { font-size:1.5em; font-weight:bold; }

/**#intro-right { margin-right:0; max-width:31.8%; }
*#intro-right .frame-03 { background:#f3f5f6; border:1px solid #ececec; margin-bottom:20px; padding:2% 2% 3%; width:96%; position:relative;  }
*#intro-right .frame-03 h2 { font-size:1.25em; font-weight:bold; }
*/
#nav-intro .frame p a, #intro-right .frame-03 p a { 
  background:#e17000 url(../images/svg/arrow-white.svg) no-repeat 12px 12px; 
  color:#fff; font-family:Arial,Helvetica; font-weight:bold; font-size:1.167em; 
  padding:4px 10px 4px 24px; right:0; bottom:0; position:absolute; text-decoration:none; 
}
#intro-right .frame-03 p a { background-color:#164273; background-position:12px 13px; }

#nav-intro .frame p a:hover, #intro-right .frame-03 p a:hover { text-decoration:underline; }
#nav-intro .frame p:first-child  { min-height: 5em; } 

#home .content { padding:180px 0 0 0;  }
#home #hoofd_content { margin-top:40px; }
.content_add, #subnavigatie { float:left; margin-right:4.4%; overflow:hidden; width:284px; }
#subnavigatie { margin-right:0px; width:282px; }

.content_main .news-list-container, .content_main .tx-indexedsearch-res { border:none; }
.news-browse { border-top:0;}

.colWrap { max-width:66%; margin-right:2.2%; float:left; width:100%;}
.colWrap #left, .colWrap #center, #right.content_add { border-top:3px solid #e17000;  float:left; padding-top:10px; max-width:47.8%; width:100%; }
.colWrap #center { margin:0; }
#right.content_add { float:right; margin:0; max-width:31.8%; }

#alert .service { background-color:#FEF1BC; max-width:545px; width:545px; padding-bottom:10px; }
