body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #333;
	font-size:11px;
	-webkit-text-size-adjust:100%;
}

.gray-text {color:#333;}

padding {0px;}

textarea, input { outline: none; }

optgroup{font-family:Verdana, Geneva, sans-serif; font-style:normal;}

option{font-family:Verdana, Geneva, sans-serif;}

.select {
    border: 1px solid #BDC7D8;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    padding: 2px;
	color:#333;
}

.select-group {
    border: 1px solid #BDC7D8;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    padding: 4px;
	color:#333;
	width:220px;
}

.select-result {
    border: 1px solid #BDC7D8;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
	font-weight:bold;
    padding: 2px;
}

a {
	text-decoration:none;
	color:#3D62E4;
	cursor:pointer;
}

a:hover {
	color:#EB1C22;
}

.text-bold-13px-red {
	font-size:13px;
	font-weight:bold;
	color:#F00;
}

h3 {
	font-size:14px;
	font-weight:bold;
	margin-top:0px;
}

li {margin:0px; padding:0px;}

.title-white {
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}

.title-white-11px {
	font-size:11px;
	font-weight:bold;
	color:#FFF;
}

.hyperlink {
	color: #3D62E4;
    font-weight: normal;
    text-decoration: none;
}

.hyperlink:hover {
	color: #EB1C22;
}

p {line-height:15px;}

.dotline {
	width:100%;
	border-top:1px #CCC dotted;
	padding:0px;
	margin:0px;
	height:1px;
}

.disclaimer {
	font-size:10px;
	color:#666;
	font-style:italic;
}

.yellow-box {
	padding:5px;
	border:1px dashed #CCC;
	background-color:#FFC;
	width:97%;
	margin-left:auto;
	margin-right:auto;
}

.button{

	background-image:url(../images/button-green.png);
	_background-color: #67a54b; *background-color: #67a54b;
    border: 1px solid rgba(0, 0, 0, 0.4); _border: 0px; *border: 0px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.4em;
    padding: 5px 6px; _padding: 4px 5px; *padding: 4px 5px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	*min-width:120px; min-width:70px; _min-width:120px;
}

.button:hover {
	color:#FF3;
}
.bttn-gray-small {
	border-radius: 2px 2px 2px 2px;
    background-image: url("../images/bttn-gray.png");
    border-color: #999999 #999999 #888888;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
	min-width:70px;
	color:#666;
}

#background-wrap {
	z-index: -999999;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0; 
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
} 

.left {
	float:left;
}

.right {
	float:right;
}

.brd-lft {
	border-left:1px #f2f2f2 solid;
}

.brd-rgt {
	border-right:1px #f2f2f2 solid;
}

.brd-top {
	border-top:1px #f2f2f2 solid;
}

.maroon-bar-hack {
	height:14px;
	background-color:#790009;
	position:absolute;
	top:0;
	right:0px;
	width:60%;
}

.bar-CI-cont {
	min-width:940px;
	background-color:#ec1c23;
	height:14px;
	padding:0px;
	margin:0px;	
}

.red-bar-CI {
	width:940px;
	background-image:url(../images/header.png);
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	height:14px;	
}

#header-cont {
	width:940px;
	height:131px;
	display:block;
}

.main-container {
	width:940px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.logo-container {
	width:100%;
	position:relative;
	height:60px;
}

.kwik {
	width:106px;
	position:absolute;
	height:81px;
	left: 530px;
	top: 13px;
	background-image:url(../images/evaGif02.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	z-index:99;
}

.kwik:hover {
	background-image:url(../images/evaGif02Hover.gif);
}

.logo {
	width:269px;
	position:absolute;
	height:68px;
	left: 660px;
	top: 7px;
	background-image:url(../images/clicks-octo.png);
	background-repeat:no-repeat;
}

.login-panel-cont {
	width:938px;
	height:37px;
	border-left:1px #c7c7c7 solid;
	border-right:1px #c7c7c7 solid;
	background-image:url(../images/top-grey-bg.png);
	background-color:#CCC;
}

.login-bttn {
	width:104px;
	height:28px;
	padding-left:28px;
}

.login-text {
	font-size:11px;
	color:#790009;
	float:left;
	padding-left:10px;
	font-weight:bold;
	padding:10px;
}

.dropdown-container {
	width:400px;
	position:absolute;
	height:auto;
	left: 532px;
	top: 60px;
	z-index:99;
}

.dropdown-country {
	font-size:11px;
	float:right;
	padding-top:6px;
	font-weight:bold;
	width:180px;
	display:none !important;
}

.dropdown-group {
	font-size:11px;
	float:right;
	padding-top:6px;
	font-weight:bold;
	width:250px;

}

.login-text a {
	font-size:11px;
	color:#790009;
	text-decoration:none;
}

.login-text a:hover {
	font-size:11px;
	color:#eb1c22;
	text-decoration:none;
}

.menu-cont {
	width:900px;
	height:34px;
	background-image:url(../images/nav-bg.png);
}

.menu-cont-shadow {
	width:20px;
	height:34px;
}

.solidblockmenu{
	margin: 0px;
	padding: 0px;
	float: left;
	font-size:11px;
	font-weight:bold;
	width:900px;
	overflow: hidden;
	border-width: 1px 0;
}

.solidblockmenu li{
	display: inline; 
}

.solidblockmenu li a{
	float: left;
	color: white;
	padding: 8px; 
	text-decoration: none;
	border-left:1px #7e1114 solid;
	height:18px; 

}

.solidblockmenu li a:visited{
	color: white; 
}

.solidblockmenu li a:hover, .solidblockmenu li .current{
	color: white;
	background: transparent url(../images/nav-bg-hover.png) center center repeat-x; 
}

.content-cont {
	width:882px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	height:auto;
	padding:8px;
	clear:both;
	background-color:#FFF;
}

#main-banner {
	width:625px;
	height:288px;
	position:relative;

}

.main-banner-sub {
	width:625px;
	height:191px;
	margin-bottom:8px;
	position:relative;
}

.main-banner-sub2 {
	width:625px;
	height:400px;
	margin-bottom:8px;
	position:relative;
}
.help-topic {
	background-color:#F4F4F4;
	border:1px #CCC solid;
	height:auto;
	width:auto;
	position:absolute;
	left: 304px;
	top: 147px;
	padding:8px;
}

.slot-left {
	position:absolute;
	top:-2px;
	left:-3px;
	width:31px;
	height:31px;
	background-image:url(../images/slot-left.png);
	background-repeat:no-repeat;
	z-index:9;
}

.slot-right {
	position:absolute;
	bottom:-2px;
	left:596px;
	width:31px;
	height:31px;
	background-image:url(../images/slot-right.png);
	background-repeat:no-repeat;
	z-index:9;
}

.lft-column {
	width:625px;
	height:auto;
	float:left;
}

.rgt-column {
	width:249px;
	height:auto;
	min-height:289px;
}

/*#right-panel {
	width:249px;
	height:auto;
	min-height:289px;
}*/

.more-billers {
	height:13px;
	width:49px;
	background-color:#fff;
	float:right;
	position: absolute;
	top:125px;
	right:7px;
	background-image:url(../images/more.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.more-billers:hover {
	background-image:url(../images/more-hover.png);
	background-repeat:no-repeat;
}

.latest-box {
	width:249px;
	height: 191px;
	background-image:url(../images/latest-news-box.png);
	background-repeat:no-repeat;
	margin-bottom:7px;
}

.latest-news {
	display:block;
	width:249px;
	height: 191px;
	padding-bottom:8px;
	background-image:url(../images/latest-news-box.png);
	background-repeat:no-repeat; margin-bottom:0px;
}

.special-banner {
	display:none;
	width:249px;
	height: auto;
	overflow:hidden;
	padding-bottom:8px;
}

.special-banenr img {
	border:0;
}

.latest-news-home {
	display:block;
	width:249px;
	height: 241px;
	padding-bottom:8px;
	background-image:url(../images/latest-news-box-home.png);
	background-repeat:no-repeat; margin-bottom:0px;
}

.latest-billers {
	display:block;
	width:249px;
	height: 142px;
	padding-bottom:8px;
	background-image:url(../images/billers-box.png);
	background-repeat:no-repeat; margin-bottom:0px;
}

.title-box {
	font-size:12px;
	font-weight:bold;
	color:#790009;
	width:249px;
	height:23px;
	padding-top:10px;
}

.title-box img {
	margin-left:10px;
	margin-right:7px;
}

.content-box-info {
	font-size:11px;
	font-weight:normal;
	color:#333;
	padding:8px;
	float:left;
	width:94%;
	line-height:15px;
}

.content-box-info a {
	color:#3d62e4;
	text-decoration:none;
	font-weight:normal;
}

.content-box-info a:hover {
	color:#eb1c22;
}

ul.latest{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-weight:bold;
	line-height: 14px;
}

ul.latest li{
	border-bottom-width: 1px;
	border-bottom-style:dotted;
	border-bottom-color: #E8E8E8;
	font-size: 11px;
	margin-left: 0px;
	padding-bottom:3px;
	padding-top:3px;
	line-height:12px;
}

ul.billers{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.billers li{
	border-bottom-width: 1px;
	border-bottom-style:dotted;
	border-bottom-color: #E8E8E8;
	font-size: 11px;
	margin: 0px;
	padding:5px;
	padding-left:0px;
}

#tools {
	height:auto;
	width:100%;
}

.tools-box {
	width:99%;
	height: auto;
	overflow:auto;
	margin-left:auto;
} 

.icon-tools {
	text-align:center;
	font-size:10px;
	cursor:pointer;
	padding:5px;
}

#footer-cont {
	height:98px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.footer {
	 width:892px;
	 height:49px;
	 margin-left:auto;
	 margin-right:auto;
	 font-size:11px;
	 background-color:#FFF;
	 padding-left:8px;
}

.footer-red-bar-CI {
	width:884px;
	height:49px;
	margin-left:auto;
	margin-right:auto;
	background-color:#ed1b24;
	padding-left:8px;
	padding-right:8px;
	font-weight:normal;
	font-size:11px;
	color:#FFFFFF;
	line-height:46px;
}

.footer-red-bar-CI a{
	color:#FFF;
	text-decoration:none;
}

.footer-red-bar-CI a:hover{
	color:#333;
}

.footer-logo-box {
	height:28px;
	display:block;
	padding-top:10px;
	float:left;
	text-decoration:none;
}

.footer-logo-box img {
	border:0px;
	margin-right:5px;
}

.footer-logo-box2 {
	height:28px;
	padding-top:15px;
	float:right;
	text-decoration:none;
	border:0px;
	color:#790009;
	width:110px;
}

.footer-logo-box2 img {
	height:16px;
	width:16px;
	border:0px;
}

.footer-logo-box2 a {
	color:#3d62e4;
	text-decoration:none;
}

.footer-logo-box2 a:hover {
	color:#eb1c22;
	text-decoration:none;
}

#ttp {
	position:absolute;
	background:#696969;
	display:none;color:#FFF;
	padding:5px;
	font-size:11px;
	z-index:99999;
	border:1px #999 solid;
	cursor:pointer;
}

/*Banner-Style*/

#navigation
{
  position:absolute;
  width:625px;
  top:74px;
  z-index:10;
}

#navigation a
{
  padding:10px;
  background:#d60c62;
  color:#FFFFFF;
  text-transform:uppercase;
  text-decoration:none;
}

#navigation a:hover
{
  background:#cc0035;
}

#navigation a.sexyslider-prev
{
  float:left;
}

#navigation a.sexyslider-next
{
  float:right;
}

#control {
	text-align:right;
	position:absolute;
	left: 13px;
	top: 258px;
	z-index:9;
	height:18px;
	background-repeat:no-repeat;
}

#control a {
	background-image:url(../images/indicator-bg.png);
	*background-image:url(../images/indicator-bg.png);
	display:block;
	width:18px;
	height:18px;
	text-indent:-99999px;
	border:0;
	float:left;
	margin-right:8px;
	text-decoration:none;
}

#control a.active {
	background-image:url(../images/indicator-point.png);
	*background-image:url(../images/indicator-point.png);

}

#control a span
{
  visibility:hidden;
}

/*TABS*/

.content-tabs{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 32px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
	background-color:#f7f7f7;
	width: 623px;

}

.content-tabs li{
	float: left;
	margin:0;
	padding:0;
	height: 32px;
	line-height: 30px;
	border-right: 1px solid #CCC;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
}

.content-tabs li a{
	text-decoration: none;
	display: block;
	font-size: 11px;
	padding: 0 8px;
	border: 1px solid #fff;
	outline: none;
	color:#333;
}

ul.tabs li a:hover {
	background: #fff;
	color:#eb1c22;
}

.content-tabs li a:hover{
	background: #fff;
	color:#eb1c22;
}

.content-tabs li a.selected{ 
	background-color: #fff;
	font-weight:bold;
	color:#eb1c22;  
}

.content-tabs li a.selected:hover{
	text-decoration: none;
}

.tab_container {
	border: 1px solid #CCC;
	width: 607px;
	background: #fff;
	padding: 8px;
	min-height:222px;
  	height:auto !important;
  	height:222px;
	
}

/*COIN-SLIDER*/

.coin-slider {
	overflow: hidden;
	zoom: 1;
	position: relative;
}

.coin-slider a{
	text-decoration: none;
	outline: none; border: none;
}
.cs-buttons {
	font-size: 0px;
	padding: 10px;
	float: left;
}

.cs-buttons a {
	height: 12px;
	width: 12px;
	float: left;
	background-image:url(../images/pagination.png);
	background-repeat:no-repeat;
	margin-left:2px;
}

.cs-active {
	background-position: right 0px;
}
.cs-title {
	width: 95.5%;
	padding: 10px;
	background-color: #000000;
	color: #FFFFFF;
	text-align:left;
}

.cs-prev, .cs-next {
	background-color: #000000;
	color: #FFFFFF;
	padding: 0px 10px;
}

/*ACCORDION*/

h2.acc_trigger {
	background: url(../images/arrow-square.gif) no-repeat left -56px;
	padding: 0 3px 10px;
	cursor: pointer;
	font-size:11px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	border-bottom: 1px dashed #ddd;
}

h2.acc_trigger a {
	text-decoration: none;
	display: block; height:auto;
	padding-left:15px;
	font-weight:normal;
	line-height:16px;
	margin:0px;
	
}
h2.acc_trigger a:hover {
	color:#EB1C22;
}
h2.active {	background-position: left 2px; }

.acc_container {
	overflow: hidden;
	width: 100%;
	clear: both;
	background: #ededed;
	border: 0px solid #d6d6d6;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px; 
	width:95%;
	margin-left:auto;
	margin-right:auto;
}
.acc_container .block {
	padding: 8px;
}
.acc_container .block p {
	padding: 5px 0;
}
.acc_container h3 {
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	border-bottom: 1px dashed #CCC;
}

.promo-cont {
	width:100%;
	height:auto;
	overflow:auto;
	padding-bottom:8px;
	border-bottom:1px #CCC dashed;
	padding-top:8px;

}

.promo-pic {
	padding:5px;
	padding-left:0px;
	width:80px;
	height:80px;
	float:left;
}

.promo-pic img {
	width:80px;
	height:80px;
}

.promo-title {
	font-weight:bold;
	font-size:12px;
	float:left;
	width:517px;
	height:25px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:8px;
}

.promo-desc {
	height:auto;
	width:400px;
	float:left;
	min-height:20px;
	padding-left:5px;
	padding-right:10px;
	padding-bottom:10px;
	border-right:1px solid #E6E6E6;
}

/*GO TO TOP*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:120px;
	right:150px;
	overflow:hidden;
	width:51px;
	height:68px;
	border:none;
	text-indent:100%;
	background:url(../images/gototop.png) no-repeat left top;
}

#toTopHover {
	background:url(../images/gototop-hover.png) no-repeat left top;
	width:51px;
	height:68px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}


/*PAGINATION*/

#paginate-top {
    font-size: 10px;
    margin: 0px;
    text-align: right;
    font-size: 10px;
}

.pagination{
margin: 0px;
clear: both;
}

.pagination ul{
margin: 0;
padding: 8px;
text-align: right;
font-size: 10px;
background-color:#FBFBFB;
height:12px;
}

.pagination li{
list-style-type: none;
display: inline;
}

*:first-child+html .pagination li a{ /*IE7 only CSS hack*/
margin-right: 4px; /*IE bug causes default spacing between links to disappear, so added it explicitly in IE7 */
}

* html .pagination li a{ /*IE6 and below CSS hack*/
margin-right: 4px; /*IE bug causes default spacing between links to disappear, so added it explicitly in IE6 and below browsers*/
}

.pagination a, .pagination a:visited, .pagination a:active{
padding: 2px 5px;
text-decoration: none; 
color: #999;
}

.pagination a:hover{
color: #ed1b24;
}

.pagination a.currentpage{ 
background-image:url(../images/table-bg-red.png);
color: #FFF !important;
font-weight: bold;
cursor: default;
}

.pagination a.disabled, .pagination a.disabled:hover{ 
cursor: default;
color: #CCC;
border-color: transparent;
}

.pagination a.prevnext{ 
font-weight: bold;
}


/*CIMB CARES*/

.ngo {
	width:500px;
	height:40px;
	background-color:#CCC;
	padding-top:35px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:25px;
}

/*CIMB SEARCH*/

#more {
	    background: url("../images/more-result.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 27px;
    margin: 10px auto;
    width: 127px;
}

#resultsDiv {/*backup if any :)*/}

.webResult {
	padding-bottom:10px;
	padding-top:8px;
}

.webResult h2 {
	font-size:11px;
	margin:0px;
	padding:0px;
}

.webResult a:hover {
	color:#EB1c22;
}

.clear{
	clear:both;
}

fieldset {
	border:0px;
	padding:10px;
	margin-bottom:20px;
	height:auto;
	overflow:hidden;
	border:1px dashed #CCC;
}

.search-title {
	padding:8px;
	float:left;
}

.search-box {
	height:auto;
	border:1px solid #CCC;
	overflow:hidden;
	padding:5px;
	float:left;
}


.search-textfield {
	border:0px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
	margin:0px;
	color:#333;
	width:390px;
	background-color:transparent;
	
}

.submit-search-cont {
	height:auto;
	overflow:hidden;
	float:right;
	text-align:center;
}

#resultsDiv {
	padding:8px;
}

.notFound {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
}

/*BILLER LIST*/

#button {
	width: 230px;
	font-size : 11px;
}

#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#button li {
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #fff;
	margin: 0;
	list-style: none;
	
}

#button li a {
	display: block;
	padding: 8px 5px 8px 8px;
	background-color: #FFF;
	border-right:1px solid #CCC;
	color: #333; text-decoration: none;
	width: 100%;
}
	
html>body #button li a {
	width: auto;
}

#button li a:hover {
	background-color: #FFF2F2;
	color: #333; }
	
#button li #active {
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: #fff;
}

.list-result {
	width:350px;
	height:auto;
	overflow:auto;
}

.payCC{
	background:url(../images/payviaCC.png) no-repeat center right;
	-webkit-appearance: none;
}

/* 5 Dec 2013 */

.titleTab{
	width:100%;
	height:auto;
	border-bottom:#EB1C22 solid 1px;
	float:left;
}
.title{
	width:20%;
	text-align:center;
	float:left;
	padding:10px 30px;
	width:auto;
}
.titleTab a{
	color:#000000;
	cursor:pointer;
}
.titleTab a:hover{
	color:#EB1C22;
	cursor:pointer;
}
.title:hover {
	float:left;
	padding:10px 30px 8px 30px;	
	border-bottom:#EB1C22 solid 2px;
}
.titleSelected {
	font-weight:bold;
	float:left;
	padding:10px 30px 6px 30px;	
	border-bottom:#EB1C22 solid 4px;
}
.titleSelected a{
	color:#000000;
}
.promocont {
    border-bottom: 1px dashed #CCCCCC;
    height: auto;
    overflow: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
}
.promopic {
    float: left;
    padding: 5px 5px 5px 0;
    width: 180px;
}
.promotitle {
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    padding-left: 5px;
    padding-top: 5px;
	width:410px;
	text-align:left;
}
.promodesc {
    float: right;
    height: auto;
    min-height: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
	width:400px;
	text-align:left;
}

/* End 5 Dec 2013 */

/* Start 22 Jul 2014 */
.mainKwikPopup{
	font-family:'Open Sans',Verdana;
	display:block;
	width:422px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}
.titleKwikPopup{
    font-size: 52px;
    font-family: 'Open Sans light',Verdana;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}
.dashed-lineKwikPopup{
	border-bottom:#ccc dashed 1px;
	height:0;
	margin-bottom:10px;
}
.content-leftKwikPopup{
	font-family:'Open Sans',Verdana;
	width:200px;
	float:left;
	line-height:28px;
	font-size:14px;
	margin-right:20px;
}
.content-rightKwikPopup{
	font-family:'Open Sans',Verdana;
	width:200px;
	float:left;
	line-height:28px;
	font-size:14px;
}
.separatorKwikPopup{
	border-left:#ccc dashed 1px;
	height:100px;
	width:0px;
	margin:0 10px;
	float:left;
}
.bottom-topKwikPopup{
	font-family:'Open Sans',Verdana;
	float:left;        
	margin-top: 15px;
	width:400px;
	padding:10px 10px 0 10px;
	background:#EC0000;
	color:#FFF;
	border-radius:8px 8px 0 0;
	font-weight:bold;
	cursor:pointer;
	font-size:14px;
}
.bottom-bottomKwikPopup{
	font-family:'Open Sans',Verdana;
	float:left;
	border-radius:0 0 8px 8px;
	background:#EC0000;
	padding-bottom:10px;
	width:420px;
}
.bottom-middleKwikPopup{
	font-family:'Open Sans',Verdana;
	width:390px;
	margin:2px 10px;
	padding:5px;
	float:left;    
	color:#fff;
	font-size:15px;
}
.bottom-middleKwikPopup:hover{
    background:#FF5151;
    cursor:pointer;
}
#resultKwikPopup{
	font-family:'Open Sans',Verdana;
    z-index:998; 
    margin-top:10px; 
    float:left; 
    width:420px;
    display:none;
}

/*-----

.mainKwikPopup{
	font-family:'Open Sans',Verdana;
	display:block;
	width:422px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}
.titleKwikPopup{
    font-size: 52px;
    font-family: 'Open Sans light',Verdana;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}
.dashed-lineKwikPopup{
	border-bottom:#ccc dashed 1px;
	height:0;
	margin-bottom:10px;
}
.content-leftKwikPopup{
	font-family:'Open Sans',Verdana;
	width:200px;
	float:left;
	line-height:28px;
	font-size:14px;
	margin-right:20px;
}
.content-rightKwikPopup{
	font-family:'Open Sans',Verdana;
	width:200px;
	float:left;
	line-height:28px;
	font-size:14px;
}
.separatorKwikPopup{
	border-left:#ccc dashed 1px;
	height:100px;
	width:0px;
	margin:0 10px;
	float:left;
}*/
.bottom-topKwikPopup1{
	font-family:'Open Sans',Verdana;
	float:left;        
	margin-top: 15px;
	width:400px;
	padding:10px 10px 0 10px;
	background:#EC0000;
	color:#FFF;
	border-radius:8px 8px 0 0;
	font-weight:bold;
	cursor:pointer;
	font-size:14px;
}
.bottom-bottomKwikPopup1{
	font-family:'Open Sans',Verdana;
	float:left;
	border-radius:0 0 8px 8px;
	background:#EC0000;
	padding-bottom:10px;
	width:420px;
}
.bottom-middleKwikPopup1{
	font-family:'Open Sans',Verdana;
	width:390px;
	margin:2px 10px;
	padding:5px;
	float:left;    
	color:#fff;
	font-size:15px;
}
.bottom-middleKwikPopup1:hover{
    background:#FF5151;
    cursor:pointer;
}
#resultKwikPopup1,
#resultKwikPopup2 {
	font-family:'Open Sans',Verdana;
    z-index:998; 
    margin-top:10px; 
    float:left; 
    width:420px;
    display:none;
}
/*-----*/
/*SIDE BANNER*/

#notice-container {
	background-color: #79020d;
	height: 100%;
	position: fixed;
	top: 0px;
	right: -575px;
	padding-right: 60px;
	padding-left: 60px;
	display: block;
	color: #FFFFFF;
	z-index:100;
}
.notice-middle {
	display: block;
	vertical-align: middle;
	width: 460px;
	margin-top:8%;
	*padding-top:100px;
	height:auto;
}
.notice-middle-div {
    margin-left: auto;
    margin-right: auto;
}
#notice-content {
	background-color: #FFFFFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	color: #000000;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	overflow: hidden;
}
#notice-intro {
	margin-top: 20px;
	margin-bottom: 20px;
}
#notice-header {
	font-size: 24px;
	font-weight: bold;
}
.notice-list {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}
.notice-img {
	float: left;
	margin-right: 15px;
	border: 1px solid #CCCCCC;
}
.notice-text {
	float: left;
}
.notice-list-title {
	font-weight: bold;
	margin-bottom: 5px;
	clear: right;
}
.notice-list-text {
	clear: both;
}
#notice-note {
	margin-top: 20px;
	margin-bottom: 30px;
}
.notice-text-container {
	float: left;
	width: 290px;
}
#notice-pull {
	height: 100%;
	*height: auto;
	width: 35px;
	position: absolute;
	top: 0px;
	*top: 30%;
	right: 578px;
	display: table;
}

#notice-pull-middle {
	vertical-align: middle;
	display: table-cell;
}
#pull-bar {
	background-image: url(../images/pull.png);
	background-repeat: no-repeat;
	height: 185px;
	width: 18px;
	position: absolute !important;
	top: -100px;
	*top: 50%;
	right: 0px;
	z-index: 9999;
	cursor:pointer;
}
#pull-bar-text {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	width: 185px;
	position: absolute;
	top: 35px;
	right: -88px;
	color: #FFFFFF;
}
#pull-octo {
	background-image: url(../images/octo.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 128px;
	width: 82px;
	position: absolute;
	top: -80px;
	*top: 10px;
	right: 0px;
	z-index:100;
	cursor:pointer;
}
#pull-bar-container {
	position: relative;
}
#security-notice {
	height: 100%;
	width: 665px;
	position: absolute;
	top: 0px;
	right: -574px;
}
#notice-close {
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
	cursor:pointer;
}
#notice-hide {
	background-image: url(../images/hide.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 5%;
	right: 60px;
	cursor:pointer;
}

#announcement a[href="#"] {
	pointer-events: none;
	color: #000;
}