@charset "utf-8";

/* common */
.algn_l {text-align:left;}
.algn_r {text-align:right;}
.algn_c {text-align:center;}
.fl_l {float:left;}
.fl_r {float:right;}
.cboth {clear:both;}
.blind {display:inline-block; position:absolute; width:1px; height:1px; overflow:hidden;}
.more {padding-right:7px; line-height:13px; color:#999; background:url(http://img.gomlab.com/img/web/common/bul_arr03.gif) no-repeat 100% 50%;}
.rq {position:relative; top:5px; font-size:18px; font-weight:bold; color:#f42929;}
.bul_help {padding-left:23px; background:url(http://img.gomlab.com/img/web/sub/ico_help.gif) no-repeat 0 2px;}
.bul_list li {padding-left:12px; background:url(http://img.gomlab.com/img/web/common/bul_dot04.gif) no-repeat 0 7px;}

a.link {color:#0696db;}
input.chk {margin:-2px 4px 0 0; width:14px; height:14px; vertical-align:middle;}
input.text {padding:2px 4px; height:24px; line-height:24px; border:1px solid #d9d9d9;}
textarea.texta {padding:4px; border:1px solid #d9d9d9;}
select.sel {padding:4px; height:30px; border:1px solid #d9d9d9;}
legend.blind {display:none;}

/* skip navigation */
#skipnav {position:absolute;}
#skipnav a {position:absolute; width:120px; left:0; top:-30px;}
#skipnav a:active, #skipnav a:focus {top:0; text-decoration:none; cursor:pointer; zoom:1;}
#skipnav span {display:inline-block; padding:5px 18px 5px 10px; color:#000; line-height:26px; background:url(http://img.gomlab.com/img/web/common/bul_arr01.gif) no-repeat 100% 3px}

/* header */
.lab_header {min-width:960px; border-bottom:1px solid #d9d9d9;}
.lab_header .header_inner {margin:0 auto; padding-top:15px; width:960px; height:54px;}
.lab_header .bi {float:left; display:inline-block; width:140px; height:40px; background:url(http://img.gomlab.com/img/web/common/bi_gomlab.png) no-repeat 0 0;}

.lab_header .topmenu {float:right; padding-top:5px;}
.lab_header .topmenu a {display:inline-block; margin-right:5px; -webkit-transition:background-color 0.15s linear; transition:background-color 0.15s linear;}
.topmenu .btn_log {float:left; padding:0 25px 0 20px; height:28px; line-height:28px; font-size:12px; color:#666; border:1px solid #d9d9d9; border-radius:15px; background:url(http://img.gomlab.com/img/web/common/bul_arr01.gif) no-repeat 100% 0;}
.topmenu .btn_log:hover {text-decoration:none; background:#e5e5e5 url(http://img.gomlab.com/img/web/common/bul_arr01.gif) no-repeat 100% 0;}
.topmenu .btn_sns {float:left; width:30px; height:30px;}
.topmenu .bt_fb {margin-left:10px; background:url(http://img.gomlab.com/img/web/common/ico_fb.png) no-repeat 0 0;}
.topmenu .bt_tw {background:url(http://img.gomlab.com/img/web/common/ico_tw.png) no-repeat 0 0;}
.topmenu .usermenu {_display:inline; float:left; margin:7px 5px 0 0;}
.topmenu .usermenu a {float:left; padding:0 5px 0 11px; color:#666; background:url(http://img.gomlab.com/img/web/common/bar_gr03.gif) no-repeat 0 50%;}
.topmenu .usermenu a:first-child {padding-left:0; background:none;}

.lab_header_n {min-width:960px; border-bottom:1px solid #d9d9d9;}
.lab_header_n .header_inner {margin:0 auto; padding:15px 0 10px; width:960px; min-height:44px; _height:44px;}
.lab_header_n .header_inner:after {display:block; clear:both; content:"";}
.lab_header_n .bi {float:left; display:inline-block; width:117px; height:40px; background:url(http://img.gomlab.com/img/web/common/bi_gomlab.png) no-repeat -14px 0;}
.lab_header_n .topmenu {float:right; padding-top:5px;}
.lab_header_n .topmenu a {display:inline-block; margin-right:5px; font-size:12px; transition:background-color 0.15s linear;}

.gnb {float:left; position:static; z-index:20;}
.gnb .btn_gnb {float:left; display:inline-block; width:46px; height:40px; background:url(http://img.gomlab.com/img/web/common/btn_gnb.png) no-repeat 0 0;}
.gnb .btn_gnb:hover {background-position:0 -40px;}
.gnb .btn_gnb.on {background-position:0 -80px;}
.gnb .dep1 {margin:14px 0 0 30px;}
.gnb .dep1>li {position:relative; float:left; background:url(http://img.gomlab.com/img/web/common/bar_gr04.gif) no-repeat 0 1px;}
.gnb .dep1>li:first-child {background:none;}
.gnb .dep1>li>a {display:block; margin:0 18px 0 19px; font-size:16px; font-weight:bold; color:#333; font-family:arial; transition:color .2s;}
.gnb .dep1>li>a:hover,
.gnb .dep1>li>a.on {color:#ff7700; text-decoration:none;}
.gnbmenu {position:absolute; top:27px; left:-38px; z-index:25; width:202px; padding:8px 7px 10px; border:1px solid #ccc; -webkit-box-shadow:0 3px 8px rgba(0,0,0,0.3); box-shadow:0 3px 8px rgba(0,0,0,0.3); background-color:#fff;}
.gnbmenu li {display:block; width:100%; line-height:1.05em; border-top:1px dotted #c7c7c7; background:url(http://img.gomlab.com/img/web/common/ico_prod_gnb_v3.png) no-repeat;}
.gnbmenu li:first-child {border-top:none;}
.gnbmenu li a {display:block; padding:18px 0 16px 50px; min-height:16px; _height:1%; line-height:16px; color:#333;}
.gnbmenu li a:hover {font-weight:bold; text-decoration:none;}
.gnbmenu li.gmp {background-position:16px 13px; border-top:none;}
.gnbmenu li.gvc {background-position:16px -42px;}
.gnbmenu li.gau {background-position:16px -98px;}
.gnbmenu li.grm,
.gnbmenu li.grm2 {background-position:16px -152px;}
.gnbmenu li.grc {background-position:16px -207px;}
.gnbmenu li.gst {background-position:16px -263px;}
.gnbmenu li.gcm {background-position:16px -317px;}

/* body */
.lab_body {margin:0 auto; width:960px; min-height:545px;}
.lab_body:after {display:block; clear:both; content:"";}
.lab_body.wide {width:100%;}
.lab_body.wide .sub_body {padding-top:0;}

.lnb {float:left; padding-top:20px; width:200px;}
.lnb .lnbtit {height:100px; line-height:102px; text-align:center; font-size:16px; color:#fff; background-color:#f87910;}
.lnbmenu {border:1px solid #d9d9d9; border-top:none;}
.lnbmenu li {border-top:1px dotted #c7c7c7;}
.lnbmenu li:first-child {border-top:none;}
.lnbmenu a {display:block; padding:12px 18px 12px; _height:1%; line-height:1.2em; color:#333;}
.lnbmenu a:hover {font-weight:bold; text-decoration:none;}
.lnbmenu a.on {font-weight:bold;}

.lnb_gmp .lnbtit {background:#f15a2b;}
.lnb_gmp .lnbmenu a.on {color:#f05a2b;}
.lnb_gvc .lnbtit {background:#ff8932;}
.lnb_gvc .lnbmenu a.on {color:#ff8835;}
.lnb_gau .lnbtit {background:#00bac3;}
.lnb_gau .lnbmenu a.on {color:#01b9c3;}
.lnb_grm .lnbtit,
.lnb_grm2 .lnbtit {background:#74564e;}
.lnb_grm .lnbmenu a.on,
.lnb_grm2 .lnbmenu a.on {color:#74564e;}
.lnb_grc .lnbtit {background:#ae376f;}
.lnb_grc .lnbmenu a.on {color:#ae376f;}
.lnb_myp .lnbtit {background:#f87910;}
.lnb_myp .lnbmenu a.on {color:#f87910;}
.lnb_gst .lnbtit {background:#fb7028;}
.lnb_gst .lnbmenu a.on {color:#fb7028;}
.lnb_gcm .lnbtit {background:#1aa4d9;}
.lnb_gcm .lnbmenu a.on {color:#1aa4d9;}

.lnbmenu .depth2 {margin:-8px 0 6px;}
.lnbmenu .depth2 li {border-top:none;}
.lnbmenu .depth2 a {padding:5px 0 5px 40px; color:#999; background:url(http://img.gomlab.com/img/web/common/bul_lnb.gif) no-repeat 30px 12px;}
.lnbmenu .depth2 a.on {color:#333; background-position:30px -20px;}

.lnb_sns {margin:15px 0 0 20px;}
.lnb_sns .fb {height:20px;}
.lnb_sns .gp {margin-top:10px; height:20px;}

.lnb_donation {margin-top:15px; padding:14px 19px 18px; line-height:18px; color:#999; border:1px solid #e6e6e6;}
.lnb_donation h2 {margin-bottom:8px; font-size:18px; font-weight:normal; color:#333;}
.lnb_donation .btn_donate {display:inline-block; margin-top:10px; padding:1px 12px 0; height:29px; line-height:29px; border-radius:15px; color:#fff; background-color:#ef667d; -webkit-transition:background 0.15s linear; transition:background 0.15s linear;}
.lnb_donation .btn_donate:hover {text-decoration:none; background-color:#cc576a;}
.lnb_donation .btn_donate span {display:inline-block; padding-left:18px; height:29px; background:url(http://img.gomlab.com/img/web/main/ico_btnset.png) no-repeat 0 -13px; cursor:pointer;}

.sub_body {position:relative; float:right; padding:20px 0 40px; width:740px; min-height:570px;}
.sub_body.full {float:none; width:100%;}

.pagetit {margin-bottom:30px; padding:2px 0 5px 10px; line-height:normal; font-size:32px; border-bottom:3px solid #f87910;}
.pagetit.noline {margin-bottom:0; border-bottom:none;}

/* table */
.tbl {width:100%; border-top:2px solid #757575; border-bottom:2px solid #757575;}
.tbl th {padding:14px 0 13px; text-align:center; word-wrap:break-word; word-break:break-all; background-color:#fbfbfb;}
.tbl thead th {vertical-align:middle; border-bottom:2px solid #757575;}
.tbl tbody th {border-top:1px solid #d9d9d9;}
.tbl td {padding:14px 0 14px; border-top:1px solid #d9d9d9;}
.tbl tbody tr:first-child th, .tbl tbody tr:first-child td {border-top:none;}

.tbl_frm {border-bottom:2px solid #757575;}
.tbl_frm th {padding:13px 5px 12px 20px; *padding-left:10px; text-align:left; border-right:1px solid #d9d9d9;}
.tbl_frm th .rq {margin:0 2px;}
.tbl_frm th .noti {display:inline-block; margin-top:9px; line-height:18px; font-weight:normal; color:#666;}
.tbl_frm th .noti + .noti {margin-top:18px;}
.tbl_frm th.pdzero {padding:13px 0 12px 0; *padding-left:0;}
.tbl_frm td {padding:7px 0 7px 10px;}
.tbl_frm td.caption {padding-bottom:15px;}
.tbl_frm td.caption p {margin:1px 0; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.tbl_frm td.caption .time {display:inline-block; width:60px;}
.tbl_frm td.editor {padding:0; height:242px; vertical-align:top;}
.tbl_frm td a {text-decoration:underline; color:#0696db;}
.tbl_frm td .btns {vertical-align:middle; text-decoration:none; color:#666;}
.tbl_frm label + label {margin-left:16px;}
.tbl_frm .text {width:97%;}
.tbl_frm .text + .btn {margin-left:1px;}
.tbl_frm .texta {width:97%;}
.tbl_frm .texta_file {min-height:106px; height:106px;}
.tbl_frm .texta_desc {min-height:196px; height:196px;}
.tbl_frm .sel {width:250px;}

/* button */
.btn {display:inline-block; padding:0 14px; height:30px; *height:32px; line-height:30px; font-weight:bold; color:#fff; border:none; border-radius:6px; background-color:#f87910;}
.btn:hover {background-color:#d3670e;}
.btn:hover, .btns:hover {text-decoration:none;}
.btns {display:inline-block; padding:0 14px; height:28px; *height:30px; line-height:28px; *line-height:26px; font-weight:bold; color:#666; box-sizing:content-box; border:1px solid #d0d0d0; border-radius:6px; background-color:#fff;}
.btns:hover {border-color:#bcbcbc; background-color:#d9d9d9;}
.btns_paging {margin-right:5px; display:inline-block;}
.btn_gr {background-color:#eaeaea;}
.btn_gr:hover {border-color:#bcbcbc; background-color:#c7c7c7;}
.btn_dgr {color:#fff; border-color:#9f9f9f; background-color:#9f9f9f;}
.btn_dgr:hover {border-color:#878787; background-color:#878787;}
.btn_dgr2 {font-weight:normal; color:#fff; border-color:#666; background-color:#666;}
.btn_dgr2:hover {border-color:#333; background-color:#333;}
.btn_wgr {font-weight:normal; color:#666; border-color:#ddd; background-color:#fbfbfb;}
.btn_wgr:hover {border-color:#ddd; background-color:#d9d9d9;}
.btn_bk {color:#fff; border-color:#666; background-color:#666;}
.btn_bk:hover {border-color:#333; background-color:#333;}
.btn_grn {color:#fff !important; border-color:#98bc30; background-color:#98bc30; font-weight:normal;} 
.btn_grn:hover {border-color:#789623; background-color:#789623;}
.disable {color:#fff !important; border-color:#e8e8e8 !important; background-color:#e8e8e8 !important; cursor:default;}
.disable:hover {border-color:#e8e8e8 !important; background-color:#e8e8e8 !important;}
.btn_dw span {padding-right:18px; background:url(http://img.gomlab.com/img/web/common/ico_down03.gif) no-repeat 100% 40%;}
.btn_like {padding:0 10px;}
.btn_like:hover {color:#fff; border-color:#f70; background-color:#f70;}
.btn_like span {padding:2px 0 0 23px; font-family:arial; font-weight:normal; background:url(http://img.gomlab.com/img/web/common/ico_like.png) no-repeat 0 0;}
.btn_like:hover span {background-position:0 100%;}
.btn_like.done {padding:1px 11px; border:none; background:none; cursor:default;}
.btn_like.done:hover {color:#666; border-color:#d0d0d0; background:none;}
.btn_like.done:hover span {background-position:0 0;}

.btngroup {margin-top:20px; _height:1%;}
.btngroup:after {display:block; clear:both; content:"";}
.btngroup .btn, .btngroup .btns {margin-right:1px; vertical-align:top;}
.btngroup.algn_r, .btngroup .fl_r {margin-right:-1px;}
.btngroup.topline {padding-top:20px; border-top:1px solid #d9d9d9;}
.btngroup_top {float:right; margin-top:-68px;}
.btngroup_top .btns {font-weight:normal;}

/* file upload */
input.file_ipt_text {_display:inline; float:left; margin-left:10px; height:26px; line-height:26px; border:none;}
.tbl_frm .file_ipt_text {width:450px;}
.file_ipt_div {float:left; position:relative; width:105px; height:30px; overflow:hidden;}
.file_ipt_btn {position:absolute; top:0; right:0; padding:0; width:103px;}
.file_ipt_div:hover .file_ipt_btn {border-color:#bcbcbc; background-color:#d9d9d9;}
.file_ipt_hide {position:absolute; top:0; right:0; height:30px; background:transparent; opacity:0; filter:alpha(opacity=0); cursor:pointer;}

/* paging */
.paging {margin-top:20px; text-align:center;}
.paging a {display:inline-block; margin-right:-1px; padding:0 7px; vertical-align:top; min-width:14px; height:28px; line-height:29px; color:#979797; border:1px solid #e6e6e6;}
.paging a:hover {text-decoration:none; border-color:#f87910;}
.paging a.on {color:#fff; border-color:#f87910; background-color:#f87910;}
.paging .pnav {padding:29px 0 0; width:30px; height:1px; overflow:hidden; border:none; background:url(http://img.gomlab.com/img/web/common/btn_page.gif) no-repeat;}
.paging .p_first {background-position:0 0;}
.paging .p_first:hover {background-position:100% 0;}
.paging .p_prev {margin-right:6px; background-position:0 -30px;}
.paging .p_prev:hover {margin-right:6px; background-position:100% -30px;}
.paging .p_next {margin-left:7px; background-position:0 -60px;}
.paging .p_next:hover {margin-left:7px; background-position:100% -60px;}
.paging .p_last {background-position:0 -90px;}
.paging .p_last:hover {background-position:100% -90px;}

/* footer */
.lab_footer {margin-top:40px; min-width:960px; width:100%; color:#fff; background-color:#4e4e4e;}
.lab_footer a {color:#fff;}

.sitemap {margin:0 auto; width:960px;}
.sitemap:after {display:block; clear:both; content:"";}
.sitemap a {color:#cacaca;}
.sitemap a:hover {text-decoration:underline;}
.sitemap .depth1 {display:inline; float:left; padding:26px 0 26px; width:160px;}
.sitemap .depth1 strong {font-size:14px;}
.sitemap .depth1 strong a {color:#fff;}
.sitemap ul {margin-top:6px; margin-right:30px; line-height:1.5em; word-wrap:break-word; word-break:break-all;}

.footer_btm {position:relative; margin:0 auto; padding:25px 0 20px; width:960px; min-height:45px; border-top:1px solid #606060;}
.footer_btm:after {display:block; clear:both; content:"";}

.copyright {width:100%; overflow:hidden;}
.copyright .logo {display:inline; float:left; margin:0 20px 24px 0; width:116px; height:21px;}
.copyright .copy {float:left; margin-bottom:4px; width:820px;}
.copyright .footmenu {float:left; width:820px; font-size:12px;}
.copyright .footmenu li {float:left; margin-bottom:2px; padding:0 9px; background:url(http://img.gomlab.com/img/web/common/bar_gr01.gif) no-repeat 0 50%;}
.copyright .footmenu li:first-child {padding-left:0; background:none;}

.language {float:right; position:relative; width:160px;}
.language .flag {display:inline-block; padding:1px 0 0;}
.language .flag.my {font-family:Zawgyi-One;}
.language .flag.hi, .language .flag.lo {font-family:Arial;} /* for safari */
.language .flag.km {font-family:"Hanuman";}

.language .lst_lang {position:absolute; bottom:42px; right:0; z-index:25; padding:7px 0; width:160px; border-radius:20px; background-color:#333;}
.language .lst_lang li {border-top:1px solid #2c2c2c;}
.language .lst_lang li:first-child {border-top:none;}
.language .lst_lang a {display:block; padding:6px 0 8px 15px; _height:1%; line-height:17px;}
.language .lst_lang a:hover span {font-weight:bold; text-decoration:underline;}
.language .lst_lang .cur a {font-weight:bold; color:#ffae00;}
.language .cur_lang a {display:inline-block; margin:0; padding:9px 0 0 15px; width:145px; height:31px; line-height:17px; border-radius:20px; background:#3e3e3e url(http://img.gomlab.com/img/web/common/bul_arr02.gif) no-repeat 136px 50%; -webkit-transition:background-color 0.15s linear; transition:background-color 0.15s linear;}

.topmenu .language {float:left; z-index:24; width:140px;}
.topmenu .language .lst_lang {top:33px; bottom:auto; padding:5px 0 4px; width:158px; border:1px solid #d9d9d9; border-radius:15px; background-color:#fff;}
.topmenu .language .lst_lang li {border-top:1px dotted #c7c7c7;}
.topmenu .language .lst_lang li:first-child {border-top:none;}
.topmenu .language .lst_lang a {margin:0; padding:6px 0 6px 15px; transition:none;}
.topmenu .language .lst_lang .cur a {color:#f87910;}
.topmenu .language .cur_lang a {padding:5px 0 0 11px; width:127px; height:23px; border:1px solid #d9d9d9; border-radius:15px; background:#fff url(http://img.gomlab.com/img/web/common/bul_arr04.gif) no-repeat 116px 11px;}

/* language select (wide) */
.topmenu .language .lst_lang_wide {width:480px; background:#fff url(http://img.gomlab.com/img/web/common/bg_dot_lang.gif) repeat-x;}
.topmenu .language .lst_lang_wide li {float:left; width:160px; height:31px; border:none;}
.topmenu .language .lst_lang_wide a {height:18px; line-height:15px;}

/* language select (grouping) */
.topmenu .language .lst_lang_group {padding:28px 0 25px 29px; width:510px; overflow:hidden; box-shadow:2px 3px 5px rgba(0,0,0,0.2);}
.topmenu .language .lst_lang_group .row {margin-bottom:17px; padding:0 0 14px; width:520px; *height:1%; background:url(http://img.gomlab.com/img/web/common/bg_dot_lang02.gif) no-repeat 0 100%;}
.topmenu .language .lst_lang_group .row:after {display:block; clear:both; content:"";}
.topmenu .language .lst_lang_group .col {float:left; overflow:hidden;}
.topmenu .language .lst_lang_group .col1 {width:130px;}
.topmenu .language .lst_lang_group .col2 {width:260px;}
.topmenu .language .lst_lang_group .col3 {width:390px;}
.topmenu .language .lst_lang_group .col4 {width:520px;}
.topmenu .language .lst_lang_group .last {margin-bottom:0; padding-bottom:0; background:none;}
.topmenu .language .lst_lang_group ul {margin-top:12px; width:520px;}
.topmenu .language .lst_lang_group li {float:left; margin-right:20px; width:110px; height:24px; border:none; overflow:hidden;}
.topmenu .language .lst_lang_group strong {font-size:14px; color:#000;}
.topmenu .language .lst_lang_group a {display:inline; padding:0;}

.snsbox {position:absolute; top:25px; right:-8px;}
.snsbox a {_display:inline; float:left; margin-left:1px; width:32px; height:26px; background:url(http://img.gomlab.com/img/web/common/ico_sns.gif) no-repeat;}
.snsbox a.fb {background-position:7px 5px;}
.snsbox a.tw {background-position:-26px 5px;}
.snsbox a.gp {background-position:-59px 5px;}
.snsbox a.ins {background-position:-92px 5px;}

/* top ribbon banner */
.ribbon_for_xp {width:100%; min-width:960px; font-size:14px; color:#444; background:#acdcff;}
.ribbon_for_xp .inner {position:relative; margin:0 auto; padding-left:112px; width:848px; height:60px; background:url(http://img.gomlab.com/img/web/common/bg_ribbon_xp.png) no-repeat 0 0;}
.ribbon_for_xp em {float:left; margin-top:23px;}
.ribbon_for_xp .more {float:left; margin:15px 0 0 9px; padding:0; width:92px; height:33px; text-align:center; line-height:31px; overflow:hidden; text-decoration:none; font-size:13px; color:#fff; background:url(http://img.gomlab.com/img/web/common/btn_bg_more.png) no-repeat;}
.ribbon_for_xp .more:hover {background-position:0 100%;}
.ribbon_for_xp .btn_close {float:right; margin-top:22px; padding-left:16px; height:16px; line-height:16px; text-decoration:underline; font-size:12px; color:#444; background:url(http://img.gomlab.com/img/web/common/bul_del.gif) no-repeat 0 50%;}

/* google adsense */
.adsense_sky {position:absolute; top:65px; right:-180px; width:160px; height:600px;}
.adsense_sky.type2 {top:20px;}
.adsense_sky.type3 {top:20px; left:50%; right:auto; margin-left:-770px; margin-right:0;}
.full .adsense_sky {right:50%; margin-right:-660px;}
.knwl_wrap + .adsense_sky {top:180px;}
.knwl_detail + .adsense_sky {top:340px;}
.adsense_leader + .knwl_main {margin-top:20px;}

.adsense_leader {margin:20px auto; width:728px; height:90px;}
.sub_myp .adsense_leader {margin:50px auto 20px;}
.pagetit + .adsense_leader {margin-top:-10px;}
.wordwrap + .adsense_leader {margin:50px auto 0;}

/* download birdge */
.bridge_header {padding:20px 0 0; text-align:center;}

.dw_bridge .header_inner {width:740px;}
.dw_bridge .lab_body {margin-bottom:40px; width:740px;}
.dw_bridge .adsense_sky {margin-right:-550px;}
.dw_bridge .adsense_sky.type3 {margin-left:-550px;}

.dw_promo .header_inner {width:920px;}
.dw_promo .lab_body {margin-bottom:40px; width:920px;}
.dw_promo .sub_body {float:left;}
.dw_promo .footer_btm {width:920px;}