@charset "utf-8";

h2.subtit {margin-bottom:6px; font-size:18px; font-weight:normal; color:#333;}

/* promotion */
.promotion {position:relative; min-width:960px; width:100%; height:300px; overflow:hidden; border-bottom:1px solid #d9d9d9;}
.promotion .lst_promo {height:300px; overflow:hidden;}
.promotion .lst_promo li {text-align:center; background-repeat:no-repeat; background-position:50% 0;}
.promotion .lst_promo a {display:block; height:300px;}
.promotion .ctrlbox {margin:-32px auto 0; width:300px; height:17px; text-align:center;}
.promotion .ctrlbox * {vertical-align:top;}
.promotion .page a {display:inline-block; padding:9px 8px 8px 9px; width:0; height:0; font-size:0; overflow:hidden; background:url(http://img.gomlab.com/img/web/main/btn_promo.png) no-repeat 3px 3px;}
.promotion .page a.on, .promotion .page a:hover {background-position:3px -18px;}
.promotion .btnset {margin-left:15px;}
.promotion .btnset button {display:inline-block; margin-left:4px; width:19px; height:17px; text-indent:-1000em; overflow:hidden; background:url(http://img.gomlab.com/img/web/main/btn_promo.png) no-repeat;}
.promotion .btnset .btn_back {background-position:-20px 0;}
.promotion .btnset .btn_pause {background-position:-46px 0;}
.promotion .btnset .btn_next {background-position:-71px 0;}

/* product module */
.gomprod {margin:14px 0 20px -6px; width:972px; overflow:hidden;}
.module {display:inline; float:left; position:relative; margin:6px; padding:24px; width:181px; height:130px; border:1px solid #e6e6e6; overflow:hidden;}
.module h3 {margin:-3px 0 8px; font-weight:normal; line-height:1em; font-size:20px;}
.module h3 a {color:#333;}
.module h3 a:hover {text-decoration:none;}
.module p {position:relative; z-index:2; margin-bottom:14px; line-height:1.4em; color:#666; /* word-wrap:break-word; word-break:break-all; white-space:pre; */}
.module .btn_down {display:table; position:relative; z-index:2; padding:5px 0; text-align:center; font-weight:normal; font-size:16px; color:#fff; border-radius:5px; background-color:#f1592a; -webkit-transition:background 0.15s linear; transition:background 0.15s linear;}
.module .btn_down:hover {text-decoration:none; background-color:#cc4c25;}
.module .btn_down span {display:table-cell; height:34px; vertical-align:middle; line-height:1.1; cursor:pointer; word-break:keep-all;}
.module .btn_down.btn_buy {background-color:#fb3543;}
.module .btn_down.btn_buy:hover {background-color:#e51726;}
.module .thumb {position:absolute; right:0; bottom:22px; width:229px;}
.module .thumb img {width:100%; vertical-align:bottom;}

/* module (size) */
.size2x2 {width:424px; height:322px;}
.size2x2 h3 {font-size:32px;}
.size2x2 .btngrp {overflow:hidden;}
.size2x2 .btngrp .btn_buy {margin-left:10px; width:180px;}
.size2x2 .btngrp .btn_down {float:left; width:180px;}
.size2x2 .btn_down {width:220px;}
.size2x2 .thumb {bottom:0; width:290px;}
.size1x2 {width:181px; height:322px; background-position:50% 220px;}
.size2x1 {width:424px; height:130px; background-position:100% 37px;}
.size2x1 p {width:220px;}
.size2x1 .btn_down {width:180px; padding:2px 0;}
.size2x1 .thumb {bottom:16px;}
.size1x1 {width:181px; height:130px;}
.size1x1 .thumb {display:none;}

/* module (name) */
.player h3 em {color:#f15a2b;}
.player .btn_down {background-color:#f1592a;}
.player .btn_down:hover {background-color:#cc4c25;}
.player .btn_down span {background-position:0 0;}
.player.size2x2 .btn_down span {background-position:0 0;}

.converter h3 em {color:#ff8932;}
.converter .btn_down {background-color:#ff8932;}
.converter .btn_down:hover {background-color:#da762b;}
.converter .btn_down span {background-position:0 -35px;}
.converter.size2x2 .btn_down span {background-position:0 -45px;}

.audio h3 em {color:#00bac3;}
.audio .btn_down {background-color:#00bac3;}
.audio .btn_down:hover {background-color:#00a0a8;}
.audio .btn_down span {background-position:0 -70px;}
.audio.size2x2 .btn_down span {background-position:0 -90px;}

.remote h3 em {color:#a0725e;}
.remote .btn_down {background-color:#a0725e;}
.remote .btn_down:hover {background-color:#795646;}
.remote .btn_down span {background-position:0 -105px;}
.remote.size2x2 .btn_down span {background-position:0 -135px;}

.recoder h3 em {color:#ae376f;}
.recoder .btn_down { background-color:#ae376f;}
.recoder .btn_down:hover {background-color:#952f5f;}
.recoder .btn_down span {background-position:0 -140px;}
.recoder.size2x2 .btn_down span {background-position:0 -180px;}

.studio h3 em {color:#fb7028;}
.studio .btn_down { background-color:#fb7028;}
.studio .btn_down:hover {background-color:#ce5c20;}
.studio .btn_down span {background-position:0 -140px;}
.studio.size2x2 .btn_down span {background-position:0 -180px;}

.cam h3 em {color:#1aa4d9;}
.cam .btn_down { background-color:#1aa4d9;}
.cam .btn_down:hover {background-color:#168cb9;}
.cam .btn_down span {background-position:0 -140px;}
.cam.size2x2 .btn_down span {background-position:0 -180px;}

.m_btmleft {float:left; width:474px;}

.m_btmleft2 {float:none; width:auto;}
.m_btmleft2 .announce {margin:0; padding:0; border:none; float: left; width:474px;}
.m_btmleft2 .support {float:right; margin-left:15px; width:321px;}

/* announcement */
.announce {margin-bottom:27px; padding-bottom:19px; border-bottom:1px solid #e6e6e6;}
.announce .subtit {float:left; margin:0 0 4px 6px;}
.announce .more {float:right; margin:5px 19px 0 0;}
.announce ul {clear:both; min-height:120px; overflow:hidden;}
.announce li {*float:left; padding:0 18px 0 30px; height:30px; line-height:30px; background:url(http://img.gomlab.com/img/web/main/ico_prod_announce_v4.png) no-repeat;}
.announce li.player {background-position:4px 4px;}
.announce li.cam {background-position:4px -26px;}
.announce li.audio {background-position:4px -56px;}
.announce li.remote {background-position:4px -86px;}
.announce li.studio {background-position:4px -116px;}
.announce li.converter {background-position:4px -146px;}
/* .announce li.converter {background-position:4px -26px;}
.announce li.audio {background-position:4px -56px;}
.announce li.remote {background-position:4px -86px;}
.announce li.recoder {background-position:4px -116px;} */
.announce li .subj {float:left; max-width:305px; _width:305px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#666;}
.announce li .date {float:right; width:80px; text-align:right; color:#999;}
.announce li .ico_new {display:inline-block; _display:none; margin:-2px 0 0 5px; width:27px; height:11px; vertical-align:middle; overflow:hidden; text-indent:-1000em; background:url(http://img.gomlab.com/img/web/common/ico_new.gif) no-repeat;}
.announce a:hover {font-weight:bold;}

/* support center */
.support {float:left; padding:0 150px 0 0; line-height:18px; color:#999; background:url(http://img.gomlab.com/img/web/main/bg_support02.png) no-repeat 348px 30px;}
.support .btn_go {display:inline-block; margin-top:14px; padding:1px 12px 0; height:29px; line-height:29px; border-radius:15px; font-weight:normal; color:#fff; background-color:#6dc9dc; -webkit-transition:background 0.15s linear; transition:background 0.15s linear;}
.support .btn_go:hover {text-decoration:none; background-color:#5eadbc;}
.support .btn_go span {display:inline-block; padding-left:18px; height:29px; background:url(http://img.gomlab.com/img/web/main/ico_btnset.png) no-repeat 0 9px; cursor:pointer;}

/* thanks to donors */
.donation {float:right; padding:0 31px 0 13px; width:198px; height:182px; line-height:18px; color:#999; border-left:1px solid #e6e6e6; background:url(http://img.gomlab.com/img/web/main/bg_donation.png) no-repeat 100% 100%;}
.donation .btn_donate {display:inline-block; margin-top:10px; padding:1px 12px 0; height:29px; line-height:29px; border-radius:15px; font-weight:normal; color:#fff; background-color:#ef667d; -webkit-transition:background 0.15s linear; transition:background 0.15s linear;}
.donation .btn_donate:hover {text-decoration:none; background-color:#cc576a;}
.donation .btn_donate span {display:inline-block; padding-left:18px; height:29px; background:url(http://img.gomlab.com/img/web/main/ico_btnset.png) no-repeat 0 -13px; cursor:pointer;}

.facebook {float:right; width:474px; height:375px;}
.fb_widget {margin-top:8px; width:472px; height:343px; border:1px solid #e6e6e6;}

/* event popup 20151117 */
.wrap_pop_layer {width:960px; position:relative; margin:0 auto;}
.pop_ptp {position:absolute; top:-200px; left:50%; z-index:250; width:729px; height:591px; margin-left:-365px; background:url(http://img.gomlab.com/img/web/event/20151117_knowledge/bg_event_pop_1.png) no-repeat 0 0;}
.pop_ptp .btn_close {position:absolute; top:38px; right:38px; width:23px; height:23px; background:url(http://img.gomlab.com/img/web/event/20151117_knowledge/btn_close.gif) no-repeat 0 0;}
.pop_ptp .cnt_ptp {text-align:center; margin-top:470px;}
.pop_ptp .cnt_ptp p {margin-top:5px;}
.pop_ptp .cnt_ptp p img {vertical-align:middle; margin-left:5px;}
.pop_prize {position:absolute; top:-200px; left:50%; z-index:250; width:433px; min-height:490px; margin-left:-245px; border-radius:5px; background:#262626; box-shadow:0 0 10px 4px rgba(0,0,0,0.5); text-align:center;}
.pop_prize .tit_prize {height:185px; background:url(http://img.gomlab.com/img/web/event/20151117_knowledge/tit_prize.png) no-repeat 50% 39px #236ddc; border-radius:5px 5px 0 0;}
.pop_prize .info_prize {padding:18px 0 5px 0;}
.pop_prize .cnt_mail input.input_email {width:316px; height:43px; padding:0 5px; margin-top:15px; font-family:'Malgun Gothic'; font-size:20px; font-weight:bold; color:#262626;}
.pop_prize .btn_prize {display:inline-block; margin-top:20px;}
.pop_prize .txt_today {margin:5px 0 40px 0;}
.pop_prize .txt_today img {vertical-align:middle; margin-left:5px;}
.pop_prize .btn_close {position:absolute; top:15px; right:15px; width:19px; height:19px; background:url(http://img.gomlab.com/img/web/event/20151117_knowledge/btn_close.gif) no-repeat -2px -2px;}