@charset "utf-8";
@import url('https://mmwebfonts.comquas.com/fonts/?font=zawgyi'); /* Myanmar */
@import url('https://fonts.googleapis.com/css?family=Hanuman'); /* Cambodia */

html, body, header, nav, section, article, main, aside, footer, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, pre, form, fieldset, legend, caption, p, blockquote, input, textarea, select, button {margin:0; padding:0;}
html {overflow-y:scroll;}
body {-webkit-text-size-adjust:none;}
body, input, select, textarea, button {font-size:13px; line-height:1.3em; font-family:Arial,Tahoma,Helvetica,Verdana,"Microsoft Yahei","맑은 고딕","돋움",Dotum,sans-serif,Zawgyi-One,Hanuman; color:#333;}
header, nav, section, article, main, aside, footer {display:block;}
fieldset, img {border:none;}
table {table-layout:fixed; border-collapse:collapse; border-spacing:0;}
:root table {border-collapse:separate;}
th {vertical-align:top;}
td {vertical-align:middle;}
em, address {font-style:normal;}
hr {display:none;}
ul, ol {list-style-type:none;}
input, select, textarea, button {vertical-align:middle;}
input::-ms-clear {display:none;}
textarea {resize:none;}
button {overflow:visible; border:none; background:none; cursor:pointer;}
input[type=button] {cursor:pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a {color:#666; text-decoration:none;}
a:hover {text-decoration:underline;}

/* ::selection {color:#fff; background:#f87910;}
::-moz-selection {color:#fff; background:#f87910;} */