.regger {
  margin: 25px auto 0;
  width: 200px;
  text-align: center;
}

.regger .btn:active,
.regger .btn.active {
  background-image: none;
}

.regger .btn.large div {
  height: 52px;
  line-height: 52px;
  font-size: 20px;
  display: block;
  float: left;
}
.regger .btn.small div {
  height: 42px;
  line-height: 42px;
  font-size: 15px;
  display: block;
  float: left;
}
.regger .btn.mini div {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  float: left;
  display: block;
}

.regger .name {
  padding: 0 7px;
}

.regger .img:hover {
  opacity: 0.9;
}

.regger .btn div img {
  height:100%;
}

.regger .btn {
  background-color: #c0c0c0;
  margin: 0 4px 15px;
  display: inline-block;
  cursor:pointer;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.regger .btn:hover {
  background-color: #e0e0e0;
  background-position: 0 -20px;
}


/*
 * Facebook
 */
.regger .btn-facebook {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-facebook:hover,
.regger .btn-facebook:focus,
.regger .btn-facebook:active,
.regger .btn-facebook.active,
.regger .btn-facebook.disabled,
.regger .btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.regger .btn-facebook:active,
.regger .btn-facebook.active {
  background-color: #0d2456 \9;
}

/*
 * Twitter
 */
.regger .btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
  *background-color: #0271bf;
  background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
  background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
  background-image: -o-linear-gradient(top, #2daddc, #0271bf);
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  background-repeat: repeat-x;
  border-color: #0271bf #0271bf #014473;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-twitter:hover,
.regger .btn-twitter:focus,
.regger .btn-twitter:active,
.regger .btn-twitter.active,
.regger .btn-twitter.disabled,
.regger .btn-twitter[disabled] {
  color: #ffffff;
  background-color: #0271bf;
  *background-color: #0262a6;
}

.regger .btn-twitter:active,
.regger .btn-twitter.active {
  background-color: #01538d \9;
}

/*
 * Github
 */
.regger .btn-github {
  color: #000000;
  text-shadow: 0 0.7px 0 rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: -o-linear-gradient(top, #fafafa, #e6e6e6);
  background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #c0c0c0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-github:hover,
.regger .btn-github:focus,
.regger .btn-github:active,
.regger .btn-github.active,
.regger .btn-github.disabled,
.regger .btn-github[disabled] {
  color: #000000;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.regger .btn-github:active,
.regger .btn-github.active {
  background-color: #cdcdcd \9;
}

/*
 * LinkedIn
 */
.regger .btn-linkedin {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #60a9ce;
  *background-color: #4393bb;
  background-image: -moz-linear-gradient(top, #73b8db, #4393bb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73b8db), to(#4393bb));
  background-image: -webkit-linear-gradient(top, #73b8db, #4393bb);
  background-image: -o-linear-gradient(top, #73b8db, #4393bb);
  background-image: linear-gradient(to bottom, #73b8db, #4393bb);
  background-repeat: repeat-x;
  border-color: #4393bb #4393bb #2f6783;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73b8db', endColorstr='#ff4393bb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-linkedin:hover,
.regger .btn-linkedin:focus,
.regger .btn-linkedin:active,
.regger .btn-linkedin.active,
.regger .btn-linkedin.disabled,
.regger .btn-linkedin[disabled] {
  color: #ffffff;
  background-color: #4393bb;
  *background-color: #3c84a8;
}

.regger .btn-linkedin:active,
.regger .btn-linkedin.active {
  background-color: #367595 \9;
}

/*
 * Google
 */
.regger .btn-google {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d34332;
  *background-color: #c53727;
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727));
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(to bottom, #dd4b39, #c53727);
  background-repeat: repeat-x;
  border-color: #c53727 #c53727 #85251a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffc53727', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-google:hover,
.regger .btn-google:focus,
.regger .btn-google:active,
.regger .btn-google.active,
.regger .btn-google.disabled,
.regger .btn-google[disabled] {
  color: #ffffff;
  background-color: #c53727;
  *background-color: #b03123;
}

.regger .btn-google:active,
.regger .btn-google.active {
  background-color: #9a2b1f \9;
}

/*
 * Instagram
 */
.regger .btn-instagram {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5c88ab;
  *background-color: #3f729b;
  background-image: -moz-linear-gradient(top, #6f97b6, #3f729b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6f97b6), to(#3f729b));
  background-image: -webkit-linear-gradient(top, #6f97b6, #3f729b);
  background-image: -o-linear-gradient(top, #6f97b6, #3f729b);
  background-image: linear-gradient(to bottom, #6f97b6, #3f729b);
  background-repeat: repeat-x;
  border-color: #3f729b #3f729b #294a65;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6f97b6', endColorstr='#ff3f729b', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-instagram:hover,
.regger .btn-instagram:focus,
.regger .btn-instagram:active,
.regger .btn-instagram.active,
.regger .btn-instagram.disabled,
.regger .btn-instagram[disabled] {
  color: #ffffff;
  background-color: #3f729b;
  *background-color: #386589;
}

.regger .btn-instagram:active,
.regger .btn-instagram.active {
  background-color: #305777 \9;
}

/*
 * Dropbox
 */
.regger .btn-dropbox {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2e95e0;
  *background-color: #2181cf;
  background-image: -moz-linear-gradient(top, #37a3eb, #2181cf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#37a3eb), to(#2181cf));
  background-image: -webkit-linear-gradient(top, #37a3eb, #2181cf);
  background-image: -o-linear-gradient(top, #37a3eb, #2181cf);
  background-image: linear-gradient(to bottom, #37a3eb, #2181cf);
  background-repeat: repeat-x;
  border-color: #2181cf #2181cf #16588d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37a3eb', endColorstr='#ff2181cf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-dropbox:hover,
.regger .btn-dropbox:focus,
.regger .btn-dropbox:active,
.regger .btn-dropbox.active,
.regger .btn-dropbox.disabled,
.regger .btn-dropbox[disabled] {
  color: #ffffff;
  background-color: #2181cf;
  *background-color: #1d73b9;
}

.regger .btn-dropbox:active,
.regger .btn-dropbox.active {
  background-color: #1a66a3 \9;
}

/*
 * Bitbucket
 */
.regger .btn-bitbucket {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #285991;
  *background-color: #205081;
  background-image: -moz-linear-gradient(top, #2d5f9c, #205081);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d5f9c), to(#205081));
  background-image: -webkit-linear-gradient(top, #2d5f9c, #205081);
  background-image: -o-linear-gradient(top, #2d5f9c, #205081);
  background-image: linear-gradient(to bottom, #2d5f9c, #205081);
  background-repeat: repeat-x;
  border-color: #205081 #205081 #112a44;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2d5f9c', endColorstr='#ff205081', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-bitbucket:hover,
.regger .btn-bitbucket:focus,
.regger .btn-bitbucket:active,
.regger .btn-bitbucket.active,
.regger .btn-bitbucket.disabled,
.regger .btn-bitbucket[disabled] {
  color: #ffffff;
  background-color: #205081;
  *background-color: #1b436d;
}

.regger .btn-bitbucket:active,
.regger .btn-bitbucket.active {
  background-color: #163758 \9;
}

/*
 * Flickr
 */
.regger .btn-flickr {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f63198;
  *background-color: #ff0084;
  background-image: -moz-linear-gradient(top, #f051a5, #ff0084);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f051a5), to(#ff0084));
  background-image: -webkit-linear-gradient(top, #f051a5, #ff0084);
  background-image: -o-linear-gradient(top, #f051a5, #ff0084);
  background-image: linear-gradient(to bottom, #f051a5, #ff0084);
  background-repeat: repeat-x;
  border-color: #ff0084 #ff0084 #b3005c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff051a5', endColorstr='#ffff0084', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-flickr:hover,
.regger .btn-flickr:focus,
.regger .btn-flickr:active,
.regger .btn-flickr.active,
.regger .btn-flickr.disabled,
.regger .btn-flickr[disabled] {
  color: #ffffff;
  background-color: #ff0084;
  *background-color: #e60077;
}

.regger .btn-flickr:active,
.regger .btn-flickr.active {
  background-color: #cc006a \9;
}

/*
 * Foursquare
 */
.regger .btn-foursquare {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #079dcd;
  *background-color: #0072b1;
  background-image: -moz-linear-gradient(top, #0cbadf, #0072b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0cbadf), to(#0072b1));
  background-image: -webkit-linear-gradient(top, #0cbadf, #0072b1);
  background-image: -o-linear-gradient(top, #0cbadf, #0072b1);
  background-image: linear-gradient(to bottom, #0cbadf, #0072b1);
  background-repeat: repeat-x;
  border-color: #0072b1 #0072b1 #004165;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0cbadf', endColorstr='#ff0072b1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-foursquare:hover,
.regger .btn-foursquare:focus,
.regger .btn-foursquare:active,
.regger .btn-foursquare.active,
.regger .btn-foursquare.disabled,
.regger .btn-foursquare[disabled] {
  color: #ffffff;
  background-color: #0072b1;
  *background-color: #006298;
}

.regger .btn-foursquare:active,
.regger .btn-foursquare.active {
  background-color: #00517e \9;
}

/*
 * Windows live
 */
.regger .btn-live {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #43bbe8;
  *background-color: #00aff0;
  background-image: -moz-linear-gradient(top, #70c3e2, #00aff0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70c3e2), to(#00aff0));
  background-image: -webkit-linear-gradient(top, #70c3e2, #00aff0);
  background-image: -o-linear-gradient(top, #70c3e2, #00aff0);
  background-image: linear-gradient(to bottom, #70c3e2, #00aff0);
  background-repeat: repeat-x;
  border-color: #00aff0 #00aff0 #0077a3;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff70c3e2', endColorstr='#ff00aff0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-live:hover,
.regger .btn-live:focus,
.regger .btn-live:active,
.regger .btn-live.active,
.regger .btn-live.disabled,
.regger .btn-live[disabled] {
  color: #ffffff;
  background-color: #00aff0;
  *background-color: #009cd7;
}

.regger .btn-live:active,
.regger .btn-live.active {
  background-color: #008abd \9;
}

/*
 * Tumblr
 */
.regger .btn-tumblr {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #34526e;
  *background-color: #2a4763;
  background-image: -moz-linear-gradient(top, #3a5976, #2a4763);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a5976), to(#2a4763));
  background-image: -webkit-linear-gradient(top, #3a5976, #2a4763);
  background-image: -o-linear-gradient(top, #3a5976, #2a4763);
  background-image: linear-gradient(to bottom, #3a5976, #2a4763);
  background-repeat: repeat-x;
  border-color: #2a4763 #2a4763 #13202d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3a5976', endColorstr='#ff2a4763', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-tumblr:hover,
.regger .btn-tumblr:focus,
.regger .btn-tumblr:active,
.regger .btn-tumblr.active,
.regger .btn-tumblr.disabled,
.regger .btn-tumblr[disabled] {
  color: #ffffff;
  background-color: #2a4763;
  *background-color: #223a51;
}

.regger .btn-tumblr:active,
.regger .btn-tumblr.active {
  background-color: #1b2d3f \9;
}

/*
 * Vkontakte
 */
.regger .btn-vk {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #50739a;
  *background-color: #426187;
  background-image: -moz-linear-gradient(top, #5a7fa6, #426187);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a7fa6), to(#426187));
  background-image: -webkit-linear-gradient(top, #5a7fa6, #426187);
  background-image: -o-linear-gradient(top, #5a7fa6, #426187);
  background-image: linear-gradient(to bottom, #5a7fa6, #426187);
  background-repeat: repeat-x;
  border-color: #426187 #426187 #293c54;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a7fa6', endColorstr='#ff426187', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-vk:hover,
.regger .btn-vk:focus,
.regger .btn-vk:active,
.regger .btn-vk.active,
.regger .btn-vk.disabled,
.regger .btn-vk[disabled] {
  color: #ffffff;
  background-color: #426187;
  *background-color: #3a5576;
}

.regger .btn-vk:active,
.regger .btn-vk.active {
  background-color: #314865 \9;
}

/*
 * Mail.ru
 */
.regger .btn-mail {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #000080;
  *background-color: #002091;
  background-image: -moz-linear-gradient(top, #002091, #000080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#002091), to(#000080));
  background-image: -webkit-linear-gradient(top, #002091, #000080);
  background-image: -o-linear-gradient(top, #002091, #000080);
  background-image: linear-gradient(to bottom, #002091, #000080);
  background-repeat: repeat-x;
  border-color: #6e0610 #002091 #000080;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd332d', endColorstr='#ff6e0610', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-mail:hover,
.regger .btn-mail:focus,
.regger .btn-mail:active,
.regger .btn-mail.active,
.regger .btn-mail.disabled,
.regger .btn-mail[disabled] {
  color: #ffffff;
  background-color: #000080;
  *background-color: #000080;
}

.regger .btn-mail:active,
.regger .btn-mail.active {
  background-color: #000080 \9;
}

/*
 * Yandex
 */
.regger .btn-yandex {
  color: #000000;
  background-color: #e6e6e6;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #e6e6e6, #c0c0c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#c0c0c0));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #c0c0c0);
  background-image: -o-linear-gradient(top, #e6e6e6, #c0c0c0);
  background-image: linear-gradient(to bottom, #e6e6e6, #c0c0c0);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #c0c0c0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd332d', endColorstr='#ff6e0610', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.regger .btn-yandex:hover,
.regger .btn-yandex:focus,
.regger .btn-yandex:active,
.regger .btn-yandex.active,
.regger .btn-yandex.disabled,
.regger .btn-yandex[disabled] {
  color: #000000;
  background-color: #c0c0c0;
  *background-color: #c0c0c0;
}

.regger .btn-yandex:active,
.regger .btn-yandex.active {
  background-color: #c0c0c0 \9;
}

/*
 * Odnoklassniki
 */
.regger .btn-odnoklassniki {
  color: #ffffff;
  background-color: #f7931e;
  *background-color: #f7931e;
  background-image: -moz-linear-gradient(top, #f7931e, #c40);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7931e), to(#c40));
  background-image: -webkit-linear-gradient(top, #f7931e, #c40);
  background-image: -o-linear-gradient(top, #f7931e, #c40);
  background-image: linear-gradient(to bottom, #f7931e, #c40);
  background-repeat: repeat-x;
}

.regger .btn-odnoklassniki:hover,
.regger .btn-odnoklassniki:focus,
.regger .btn-odnoklassniki:active,
.regger .btn-odnoklassniki.active,
.regger .btn-odnoklassniki.disabled,
.regger .btn-odnoklassniki[disabled] {
  color: #ffffff;
  background-color: #c40;
  *background-color: #c40;
}

.regger .btn-odnoklassniki:active,
.regger .btn-odnoklassniki.active {
  background-color: #c40 \9;
}

/*
 * Steam
 */
.regger .btn-steam {
  color: #ffffff;
  background-color: #000000;
  *background-color: #000000);
}

.regger .btn-steam:hover,
.regger .btn-steam:focus,
.regger .btn-steam:active,
.regger .btn-steam.active,
.regger .btn-steam.disabled,
.regger .btn-steam[disabled] {
  color: #ffffff;
  background-color: #778780;
  *background-color: #778780;
}

.regger .btn-steam:active,
.regger .btn-steam.active {
  background-color: #778780 \9;
}

/*
 * Qip
 */
.regger .btn-qip {
  color: #ffffff;
  background-color: #008000;
  *background-color: #008000);
}

.regger .btn-qip:hover,
.regger .btn-qip:focus,
.regger .btn-qip:active,
.regger .btn-qip.active,
.regger .btn-qip.disabled,
.regger .btn-qip[disabled] {
  color: #ffffff;
  background-color: #0f9124;
  *background-color: #0f9124;
}

.regger .btn-qip:active,
.regger .btn-qip.active {
  background-color: #0f9124 \9;
}


/*
 * Disqus
 */
.regger .btn-disqus {
  color: #ffffff;
  background-color: #1295bf;
  *background-color: #1295bf);
}

.regger .btn-disqus:hover,
.regger .btn-disqus:focus,
.regger .btn-disqus:active,
.regger .btn-disqus.active,
.regger .btn-disqus.disabled,
.regger .btn-disqus[disabled] {
  color: #ffffff;
  background-color: #2a6496;
  *background-color: #2a6496;
}

.regger .btn-disqus:active,
.regger .btn-disqus.active {
  background-color: #2a6496 \9;
}

/*
 * LastFM
 */
.regger .btn-lastfm {
  color: #ffffff;
  background-color: #9f191f;
  *background-color: #9f191f);
}

.regger .btn-lastfm:hover,
.regger .btn-lastfm:focus,
.regger .btn-lastfm:active,
.regger .btn-lastfm.active,
.regger .btn-lastfm.disabled,
.regger .btn-lastfm[disabled] {
  color: #ffffff;
  background-color: #cb2027;
  *background-color: #cb2027;
}

.regger .btn-lastfm:active,
.regger .btn-lastfm.active {
  background-color: #cb2027 \9;
}

/*
 * Wargaming
 */
.regger .btn-wargaming {
  color: #ffffff;
  background-color: #444;
  *background-color: #444);
}

.regger .btn-wargaming:hover,
.regger .btn-wargaming:focus,
.regger .btn-wargaming:active,
.regger .btn-wargaming.active,
.regger .btn-wargaming.disabled,
.regger .btn-wargaming[disabled] {
  color: #ffffff;
  background-color: #333;
  *background-color: #333;
}

.regger .btn-wargaming:active,
.regger .btn-wargaming.active {
  background-color: #333 \9;
}