.tab_calendar {
	/*width:430px; */
	height:auto; 
	padding-top:10px; 
	background:#ECF0F4;
	border-right:1px solid #D8D8D8; 
	border-bottom:1px solid #D8D8D8; 
	border-left:1px solid #D8D8D8;
}

.thead { 
	/*width:432px; */
	height:21px; 
	padding-top:6px; 
	background: #ECF0F4 url(/images/www/all/calendar_bg_top.gif) no-repeat;
}

.calendar-head {
	
}

.month_year_center {
	position: relative; 
	width: 84%; 
	margin:0px auto; 
	text-transform:uppercase; 
	font-size:13px; 
	color:#505050;
}

.month_year_center img { cursor:pointer;}

.month_year_center:after {
	content: '';
	display: block;
	clear: both;
}

.month_year_center_left { 
	position: relative; 
	right: 50%; 
	float: right; 
}

.month_year_center_right { 
	position: relative; 
	z-index: 1; right: -50%; 
}

.month_year_center_right a { text-decoration:underline; }
.month_year_center_right span a { text-decoration:none; }

.prev_month { width:7px; 
	height:11px; 
	float:left;
	margin-left:15px; 
	margin-top:2px;
}

.next_month { 
	width:7px; 
	height:11px; 
	float:right; 
	margin:2px 15px 0px 0px;
}

.select_month { 
	display: none; 
	position: absolute; 
	left:10px; 
	top:25px; 
	z-index:11; 
	width:70px; 
	padding:0px; 
	background:#f8f9fb;
	font-size:12px; 
	border:1px solid #DCDCDC; 
	text-transform: none;
}

.select_month span { 
	font-weight:normal; 
	display:block; margin:0px; 
	padding:3px 0px 3px 5px; 
	color:#003C80; 
	cursor:pointer;
}

#ugol_left { 
	display:block; 
	position:relative; 
	width:3px; 
	height:3px; 
	float:left; 
	margin-left:-1px; 
	margin-top:-1px;
}

#ugol_right { 
	display:block; 
	position:relative; 
	width:3px; 
	height:3px; 
	float:right; 
	margin-right:-1px; 
	margin-top:-1px;
}

.select_year { 
	display: none; 
	position: absolute; 
	right:15px; 
	top:25px; 
	z-index:11; width:45px; padding:0px; background:#f8f9fb;
	font-size:12px; 
	border:1px solid #DCDCDC; 
	text-transform: none;
}

.select_year span { 
	font-weight:normal; 
	display:block; 
	margin:0px; 
	padding:3px 0px; 
	color:#003C80; 
	cursor:pointer; 
	text-align:center;
}

#calendar { margin-bottom:10px;}

.calendar { 
	/*width:380px; */
	padding:0px; 
	border-collapse:collapse; 
	color:#7E7D7D;
}

.calendar td { 
	vertical-align:middle; 
	text-align:center; 
	font-size:14px; 
	padding:5px;
}

.calendar a { 
	color:#265699; 
	text-decoration:underline;
}

.calendar strong { font-weight:normal; color:#CF1E26;}

.tr_week td { padding:6px 6px 10px 6px;}

.td_day_hover { 
	height:26px;
	background: url(/images/content/calendar_td_hover.png) no-repeat center center;
}
						/* end kalendar */

						/* kalendar small */
.tab_calendar_small {
	/*width:298px; */
	height:auto; 
	padding-top:10px; 
	background:#ECF0F4;
	border-right:1px solid #D8D8D8; 
	border-bottom:1px solid #D8D8D8; 
	border-left:1px solid #D8D8D8;
}

.thead_small { 
	width:240px; 
	height:21px; 
	padding-top:6px; 
	background:#ECF0F4 url(/images/www/all/calendar_small_bg_top.gif) no-repeat 0 0;
}

.calendar_small_all { 
	margin-left:8px; 
	padding-top:5px;
}

.calendar_small { 
	width:240px;
	margin:0px 0px 10px 0px; 
	padding:0px; 
	border-collapse:collapse; 
	color:#7E7D7D;
}

.calendar_small td { 
	vertical-align:middle; 
	text-align:center; 
	font-size: 12px; 
	padding:3px;
}

.calendar_small a { 
	color:#265699; 
	text-decoration:underline;
}

.calendar_small strong { 
	font-weight:normal; 
	color:#CF1E26;
}

.tr_week_small td { padding:5px 5px 9px 5px;}

.next_month_small { 
	float:right; 
	z-index:10; 
	width:7px; 
	height:11px; 
	margin:2px 15px 0px 0px;
}

.im_menu_head_small {
	width: 240px; 
	height:29px; 
	border-top:1px solid #D7DBDF; 
	text-align:center; 
	text-transform:uppercase;
	color:#265699; 
	cursor:pointer;
}

.im_menu_head_small a:hover { text-decoration:none;}

.im_menu_head_small div { 
	float:left; 
	width:50%; 
	height:23px; 
	padding-top:6px; 
	font-size:12px;
	background:url(/images/www/main/im_menu_head_bg.jpg) repeat-x;
}

.menu_aktiv_small {
	/*background:#FFFFFF url(/images/www/all/menu_aktiv_small_bg.gif) repeat-y right/ !important; */
	color:#505050; 
	cursor: default;}
.im_menu_aktiv a {}
						/* end kalendar small */