/*WT-551 Mobiel | Linkjes van het actueel blok op mobiel zijn te klein*/
.mobile .s14-bt-listitem-container p a {font-size: 41.5px;}

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) {.mobile .s14-bt-listitem-container p a {font-size: 41.5px;}}

/* WT-554 Google+ uit footer */
.s14-footer .s14-footer-topbar li.googleplus { display: none;}

/* WT-540 Banknaam header past niet*/
div.page-header h2, div.page-header span.s14-heading-2 {width: 175%!important;}
.mobile div.page-header h2, .mobile div.page-header span.s14-heading-2 {margin-top: 0.25em;}
.mobile div.page-header span.s14-heading-2 {width: initial;}

/* WT-406 Mobile | Homepage serviceblok linkteksten te klein*/
.mobile .s14-block.s14-service-block .s14-service-block-list li a {font-size: 1.2em!important;}

/* WT-404 Mobile | Homepage panoramabanner linktekst optimalisatie*/
.mobile .s14-bt-banner-homepage .content p {text-shadow: 2px 2px 15px #666!important;}

/*401 teksten header teksten*/
.mobile .s14-block.s14-width-1.s14-height-1.s14--link.s14-bh-link.s14--melkwit .content a.s14-heading-3 {font-size: 1.66em;}

/*402 inlog tile*/
.mobile .s14-block.s14-tile-login .content p {font-size: 1.5em!important; top: -0.75em;}
.s14-block.s14-tile-login .content p {top: -1.15em;}



/*WT-400 Mobile | Uitlijning iconen blauwe balk*/
.mobile .icon-bold-search:before {margin-top:50%;}
.mobile .icon-bold-authentication:before, .mobile .icon-bold-menu:before {margin-top:.15em;}
.mobile div.page-header div.nav a.speaker:before {left:20%;}
.mobile div.page-header div.nav .s14-primaryicons input[type="text"].open { margin-top: .75em;}

/* WT-440 MIS - Footer*/
.s14-footer a:hover {color: #fd6400;}
.s14-footer a:active {color: #fd6400;}

/* WT-439 Hover */
ul.s14-primary-mobile li a:hover {background: #2859b5;}
div.page-header div.nav a.speaker:hover {background-color: #2859b5;}
div.page-header div.nav .s14-primaryicons a.open, div.page-header div.nav .s14-primaryicons a:hover {background: #2859b5;}
div.page-header div.nav div.readspeaker_button_wrapper {background-color: #009;}

/* WT-439 Active */
ul.s14-primary-mobile li a:active { background: #FFFFFF; color: #2859b5;}
div.page-header div.nav a.speaker:active {background-color: #FFFFFF; color: #2859b5;}
div.page-header div.nav .s14-primaryicons a.open, div.page-header div.nav .s14-primaryicons a:active {background: #FFFFFF; color: #2859b5;}

/*wt-403 Mobile | Rabobank logo optimalisatie*/
.mobile div.page-header div.top a.logo {width: 5.5em;height: 6.4em; margin: 1.5em 3.5em 2.1em 1.5em;}


/*wt-409 Mobile | Readspeaker optimalisatie*/
.mobile div.page-header div.nav div.readspeaker_button_wrapper {background: transparent;margin-right: 3em;}
.mobile div.page-header div.nav div.readspeaker_button_wrapper .rsbtn_play {margin-top: 0.5em;transform: scale(2.5,2.5);}
.mobile .rsbtn.rsexpanded .rsbtn_exp {transform: scale(2.5,2.5);margin-top: -0.55em}
.mobile div.page-header div.nav div.readspeaker_button_wrapper .rsbtn_pause {outline: none;}


/*WT-455 fix inzoom iphone 45*/

/*@media screen and (max-device-width: 320px) {*/
/*.mobile body{zoom:34%!important;}*/
/*}*/

/* Fix verspringen tegels*/

* {font-size: 100%;}


/* Fix panoramabanner witte vlak */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {.s14-bt-banner-homepage:after {-ms-transform: rotate(-169deg)!important; -webkit-transform: rotate(-169deg)!important; transform: rotate(-169deg)!important;}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {.s14-bt-banner-homepage:after {-ms-transform: rotate(-169deg)!important; -webkit-transform: rotate(-169deg)!important; transform: rotate(-169deg)!important;}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {.s14-bt-banner-homepage:after {-ms-transform: rotate(-169deg)!important; -webkit-transform: rotate(-169deg)!important; transform: rotate(-169deg)!important;}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {.s14-bt-banner-homepage:after {-ms-transform: rotate(-169deg)!important; -webkit-transform: rotate(-169deg)!important; transform: rotate(-169deg)!important;}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {.s14-bt-banner-homepage:after {-ms-transform: rotate(-169deg)!important; -webkit-transform: rotate(-169deg)!important; transform: rotate(-169deg)!important;}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {.s14-bt-banner-homepage:after {-ms-transform: rotate(-169deg)!important; -webkit-transform: rotate(-169deg)!important; transform: rotate(-169deg)!important;}}

    

/* Fix grijze lijnen homepages */
.s14-block.s14-contact.s14-width-1.s14-height-2.s14-secondary.s14-clear.s14-bh-contact .s14-border-top {display: none;}
.s14-block.s14-width-2.s14-height-1.s14-textbanner.s14--melkwit.s14--link .s14-border-top {display: none;}
.s14-col-primary .s14-block.s14-width-2.s14-height-1.s14-textbanner.s14--melkwit.s14--link {border-top: 1px solid #e3e3e3;}

/*WT-251 actueel block 1 px omhoog*/
.s14-textbanner, .s14-bh-contact, .s14-bt-listitem-container {top: -0.0em;}
@-moz-document url-prefix() {.s14-textbanner, .s14-bh-contact, .s14-bt-listitem-container {top: -0.0em;}}

/* hide readspeaker */
div.page-header div.nav a.speaker.rabospeaker {display: block!important;}
#read-speaker-home-page a.speaker {display:block;}

/*WT-221 | uitlijning segment en LB-naam in header*/
div.page-header div.middle{
        margin-left: 0.35%;
}

/* styling for "rabobank" bankname prefix in header */
div.page-header h2, div.page-header span.s14-heading-2 {float:left;width: 100%;color: #009;margin-top: 1em;font-family: 'Myriad SemiBold';font-size: 2.2em;}

/* bankname in header */
div.page-header h2 > span, div.page-header span.s14-heading-2 > span {font-family:'Myriad light';}


/*** Generic Improvements - implement through adjustments in senses14.css***/
.s14-bt-banner-homepage:before {
    display:none;
}

.ie .s14-block.s14-bt-banner-homepage .content a.icon::before {
    font-size: 1em!important;
}

.s14-bt-banner-homepage p {
margin-bottom: 0em;
line-height: 1.3em!important;
}

.s14-bt-banner-homepage a {
top: 1em;
}

.s14-bt-banner-homepage .content {
  margin-left: 64%;
}

.s14-bt-banner-homepage:after {
  margin-left: 64%;
}

/* WT-171: Linkfield BT Panorama */
.mobile .s14-bt-banner-homepage .content p {
   height: 1.2em!important;
}

.s14-bt-banner-homepage .content p {
    position: absolute!important;
    bottom: 0!important;
    width: 80%!important;
    margin-left: 0.7em!important;
}

.mobile .s14-bt-banner-homepage .content a {
    top: -2.6em!important;
    height: 2em;
}

/* WT-194: Fontsize linktext login */
.s14-block.s14-tile-login .content p {
    font-size: 1.05em!important;
}

/* WT-181: Footer */
.s14-footer {
    margin: 0 auto;
    min-width: 750px;
    max-width: 1100px;
    float: inherit!important;
    margin-top:1em!important;
}

/* mobile panoramabanner text  */
.mobile .s14-bt-banner-homepage .content p 
{
  padding-right: 2em!important;
  text-align: right!important;
  color: #fff!important;
  font-family: Myriad Regular,Verdana,Sans Serif!important;
  font-size: 1.6em!important;
  text-shadow: 0 0 5px #666;
  width: 100%!important;
  text-decoration: none!important;
  margin-left: -.9em!important;
  margin-top: 4.5em!important;
  font-weight: normal!important;
  line-height: 1.1em!important;
  display: inline-block!important;
  /*height: 5em!important;*/
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  overflow: hidden!important;
}

/* Button */
.mobile .s14-bt-banner-homepage .content a 
{
  top: -7.5em!important;
}

/* fix for firefox */
@-moz-document url-prefix() {
    .s14-home--search form fieldset {
        position: absolute;
        width: 28em;
    }
#read-speaker-home-page .readspeaker_button_wrapper {top:3.75em!important;}
#read-speaker-home-page a.speaker {top:3em;}
}



/* Fix voor IE */
/* Icons contactblok */
.ie .s14-bh-contact .content ul li::before
{
  font-size: .6em!important;
}

/* Icons service block */
.ie .s14-service-block.s14-block .s14-service-block-list li::before
{
  font-size: 1.5em!important;
}

/* Icons banners */
.ie .s14-banner .content h3:after, .ie .s14-banner .s14-block .content .s14-heading-3:after, .ie .s14-block .s14-banner .content .s14-heading-3:after, .ie .s14-banner .content .s14-heading-3:after, .ie .s14-banner .content a.s14-heading-3:after, .ie .s14-textbanner .content h3:after, .ie .s14-textbanner .s14-block .content .s14-heading-3:after, .ie .s14-block .s14-textbanner .content .s14-heading-3:after, .ie .s14-textbanner .content .s14-heading-3:after, .ie .s14-textbanner .content a.s14-heading-3:after
{
  font-size: 1.2em!important;
}

/* Icons listblock */
.ie .s14-bt-listitem-container .content a.icon::after {
  font-size: .6em!important;
}

/* no border on last div in primary or secondary */
.primary div:before:last-child, .secondary div:last-child::before {
display: none;
}

/* mobile banner */
.mobile .s14-textbanner, .mobile .s14-banner {
  width: 33.33333em;
}

.mobile .s14-primary-banner .s14-textbanner, .mobile .s14-primary-banner .s14-banner  {
    width: 66.67%;
}



/* tiles */
.s14-block .s14-icon {
    margin-bottom:.4em
}

.s14-block.s14-width-1.s14-height-1.s14--link .content p {
    font-size:.93em;
    margin-top:2em;
    line-height:1.3em
}

.mobile .s14-block.s14-height-1.s14-width-1 .content .s14-heading-3 {
    font-size: 1.55em;
}

/* fixes unneccesary border lines on empty tiles */
.homepage div.s14--empty > div.s14-border-left,.homepage div.s14--empty > div.s14-border-right,.homepage div.s14--empty > div.s14-border-top,.homepage div.s14--empty > div.s14-border-bottom {
    width:0!important;
    height:0!important
}

/* lowers z-index of empty tiles */
.homepage .s14--empty {
    z-index:1
}

/* login tile improvement */
.s14-block.s14-tile-login .content p:before {
      left: 0.02em!important;
}

/*** END Generic Improvements ***/


/*** Homepage HEADER & PAGE WIDTH ***/
/* reposition alignment orange right menu in header */
.homepage div.page-header div.top ul.rightmenu a div.icon:before,.homepage div.page-header div.top ul.rightmenu div div.icon:before {
    right:.38em
}

/* sets the correct width for header and large banner */
#wrapper.homepage {
    max-width:1920px
}

/* styling for "rabobank" bankname prefix in header */
div.page-header h2 {
    margin-top:1em;
   float: left;
    width: 100%;
    font-size: 2em!important;
    color: #009;
    margin-top: .5em!important;
    font-family: "Myriad Regular"!important;
}

/* bankname in header */
div.page-header h2 > span {
    font-family: "Myriad light"!important;
}

/* increase width box middle part of header */
.homepage div.middle {
    width:50em
}

/* centers the content of the header, from logo to right navigation */
.homepage div.page-header div.top {
        /*width:972px;*/
    margin:0 auto;
    min-width: 920px;
    max-width: 1100px;
}

/*  rabo logo adjustments in header */
.homepage div.page-header a.logo {
    width:67px;
    height:80px;
    background-repeat:no-repeat;
    margin:16px 100px 16px 16px!important
}

.mobile .rabobutton.yesbutton {
    margin-top: -2.2em!important;
    margin-left: 20.5em!important;
}

.mobile div.closeBar a.close{
    margin-top: 1em;
}

/* removes margin bottom of header */
.homepage div.page-header {
    margin-bottom:0!important;
    z-index:3;
    height:112px
}

/* to reposition the search icon in the header right search menu*/
.homepage div.page-header div.top ul.rightmenu form fieldset:before {
    top:0!important;
    float:right;
    position:relative
}

.homepage div.page-header ul.rightmenu li form input[type="text"] {
    margin-right:1.6em!important
}

.mobile .homepage #pa_topnav {
    display: none;
}

/*** END - Homepage HEADER & PAGE WIDTH ***/
/*** GRID ***/
/* fixes primary and secondary column positioning and width */
.homepage .s14-col-primary {
    swidth:66.66%;
    position:relative;
    float:left
}

.homepage .s14-col-secondary {
    width:33.3%;
    position:relative;
    float:left
}

.mobile .homepage .s14-col-secondary {
    width:100%!important
}

/*** END - GRID ***/

/*** S14 BT Components Markup ***/
/* s14 BT Homepage Banner */
.s14-bt-banner-homepage {
    position:absolute;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 0;

}

.mobile .s14-bt-banner-homepage {
    position: relative;
  height: 11.11111em;
padding-bottom: 0%;
}

.s14-bt-banner-homepage .content {
position: relative;
  z-index: 2;
  float: left;
  margin-left: 58.5%;
  top: -7.5em;
  height: 18em;
  width: 23em;
  cursor: pointer;
}

.s14-bt-banner-homepage:after {
  content: "";
  background-image: url(https://www.rabobank.nl/images/supercircle-large-white_29767984.svg);
  background-size: 23em;
  position: absolute;
  height: 20em;
  width: 23em;
  opacity: .8;
  float: left;
  margin-left: 58%;
  top: -5em;
  overflow: hidden;
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-169deg);
  display: block;
  background-repeat: no-repeat;
}

/* hide large home banner title and white overlay */

.mobile .s14-bt-banner-homepage .content {
    height: 100%;
    width: 100%;
    margin-left: 0;
    top: 0;
}
.mobile .s14-bt-banner-homepage .content a{
  position: relative;
  float: left;
  width: auto;
  //padding-right: 1.2em;//
  color: white;
  font-size: 1.2em;
  color: transparent;
  top:-7.9em!important;
  margin-left:5em!important;
  left:-1em;
}

.mobile .s14-bt-banner-homepage .content a.icon:before, .mobile .s14-bt-banner-homepage.s14-block .content a.icon:after {
    position: relative!important;
    float: right!important;
}
.mobile .s14-home--search #zoeken1 {
  background-size: 2.9em;
  width: 2.92em;
  height: 2.92em;

}
.mobile .s14-home--search input[placeholder] {
  font-size: 1.5em;
}
.mobile .s14-bt-banner-homepage .content a.icon:after {
  font-size: 1.65em!important;
  top: -.34em!important;
  left: 1.6em!important;
}

.mobile .s14-block.s14-width-6.s14-height-3.s14-bt-banner-homepage:before {
    z-index: 999;
    font-family: "";
    content: "";
    position: absolute!important;
    font-size: 2.5em!important;
    top: 3em!important;
    left: 92%;
    padding-left: 1em;
    padding-bottom: 1em;
    background-size: 0.8em;
    background-repeat: no-repeat;
    background-image: url(https://www.rabobank.nl/images/Icon_supercirkel_pijl_oranje_29758313.png);
    width: auto!important;
    height: auto!important;
}

.mobile .s14-bt-banner-homepage .content p {
display: none;
}
.mobile .s14-bt-banner-homepage:after {
    display: none;
}

.ie8 .s14-bt-banner-homepage:after {
    background-image:url(https://www.rabobank.nl/images/supercircle-large-white_29767983.png)
}

.s14-bt-banner-homepage p {
    color:#009!important;
    font-family:"Myriad SemiBold Italic"!important;
    font-size:2em!important;
    text-align:left!important;
    position:relative!important;
    margin-top:3.1em!important;
    width:85%!important;
    left:.9em!important;
    line-height:1.2em!important;
    margin-left: .1em!important;
}

.s14-bt-banner-homepage a {
    top:12em;
    right:-1.6em;
    font-size:1.3em;
    width:85%;
    display:block
}

.s14-bt-banner-homepage.s14-block .content a.icon {
    position: relative!important;
    padding-top: .4em!important;
    padding-left: 2em!important;
    text-decoration: none!important;
}

.s14-bt-banner-homepage a:hover {
    color:#009
}


.s14-bt-banner-homepage.s14-block .content a.icon:before {
  position: absolute;
  left: 0;
  font-family: "senses-icons";
  -webkit-font-smoothing: antialiased;
  content: "\f176";
  font-size: 1.55em;
    top: 0.1em;
    color: #fd6400;
}
.mobile .s14-bt-banner-homepage.s14-block .content a.icon:after {
  display:none!important;
}

.s14-bt-banner-homepage.s14-block .content a.icon:after {
    color:#fff;
  position: absolute;
 top: .7em;
  left: .22em;
  font-size: .85em;
  font-family: "senses-icons";
  -webkit-font-smoothing: antialiased;
  content: "\f16f";
}
.ie .s14-bt-banner-homepage.s14-block .content a.icon:after {
  font-size: .65em;
}

.s14-bt-banner-homepage.s14-block .content a.icon:hover::after {
    color:#fff;
}

.s14-bt-banner-homepage.s14-block .content a.icon:hover::before {
        color:#aaa;
}

/*s14 BT Linkblock*/

.mobile .s14-bt-listitem-container {
    height: auto;
    padding-bottom: 0%;
    width: 100%;
}


.mobile .s14-bt-listitem-container p {
      font-size: 1.4em;
}
.s14-bt-listitem-container {
  width: 100%;
}
.s14-bt-listitem-container h3 {
    font-size:2.1em;
    font-family:"Myriad Light"
}

.s14-bt-listitem-container p {
    margin-top: 0!important;
    margin-bottom: .7em!important;
}

.s14-bt-listitem-container .content a.icon:after {
      font-size: 1.72em;
}

.s14-bt-listitem-container .content a.icon:before {
      font-size: .95em;
        left: .21em!important;
          top: .2em;
}
.s14-bt-listitem-container .content a.icon {
      padding-left: 2.2em;
}

/* Border 2x1 blocks */
.s14-bt-listitem-container, .s14-height-1.s14-width-2 
{
  border-bottom: 1px solid #e3e3e3!important;
}

/* s14 BT small rectangular */
.s14-bt-banner-small-rectangular a {
    top:6.5em;
    font-size:1.3em
}
.mobile .s14-bt-banner-small-rectangular {
  width: 100%;
}

.s14-block.s14-width-2.s14-height-1.s14-textbanner .content p.s14-heading-1 { 
width: 100%!important; 
}

/* Kruimelheader legen */
.mobile .s14-primary-mobile a {
 pointer-events: none;
 color: #009;
}

/* font-size segmenten */
.mobile div.page-header div.top ul.customermenu a {
  font-size: 1.25em!important;
}

/* Fix voor servicelinks over twee regels in serviceblok */
.s14-block.s14-service-block .s14-service-block-list li
{
  float: left;
  position: relative;
  list-style: none;
  font-size: .95em;
  line-height: 1.1em;
  padding-top: 0.1em;
  width: 15.55556em;
}

.mobile .s14-bt-banner-homepage.s14-block .content a.icon:before {display:none!important;}

/* Inloggen zichtbaar op mobiel */
.mobile .s14-block.s14-tile-login.s14--link p 
{
  display: inline-block;
}

.mobile .s14-bt-banner-homepage .content a.icon:after 
{
  top: -1.05em!important;
  left: .01em!important;

}
/*** END - S14 BT Components Markup ***/

/* WT-166 Hightlight segment */
ul.customermenu li.current {
  font-weight: bold;
}
/* END: WT-166 Hightlight segment */

/* WT-174 Rabobank in titel geen cookie */
div.page-header .hidden { 
  display: block!important; 
  cursor: text; 
}
/* WT-174 Rabobank in titel geen cookie */

/* WT-242 Fix homepage breedte in firefox */
@-moz-document url-prefix() {
   #wrapper > div.s14-block.s14-width-6.s14-height-3.s14-bt-banner-homepage:before{
    left: 0%;
    }
}

.mobile .s14-bt-banner-homepage .content:before {
    position: relative!important;
    float: right!important;
    font-family: "senses-icons"!important;
    -webkit-font-smoothing: antialiased!important;
    content: url(https://www.rabobank.nl/images/Icon_supercirkel_pijl_oranje_29758313.png)!important;
    top: 6.3em!important;
    left: 0.4em!important;
}