@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}h1,h2,h3,h4,h5,h6,p,ul,li,ol,article,figure { margin: 0; padding: 0; }

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */fieldset,hr{border:0;padding:0}html{color:#222;font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border-top:1px solid #ccc;margin:1em 0}audio,canvas,iframe,img,svg,video{vertical-align:middle}fieldset{margin:0}textarea{resize:vertical}.browserupgrade{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0} a{ text-decoration: none; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { background-color: #d7d7d7; font-family: 'Open Sans', sans-serif; -webkit-font-smoothing: antialiased; }
header { height: 40px; position: relative; background-color: #fff; }
header.logo { background: #fff url(../images/logo.png) center center no-repeat; background-size: 320px 40px; }
header .menuBtn { position: absolute; left: 0; top: 0; height: 100%; width: 40px; background-color: #fff; }
header .menuBtn span { display: block; width: 20px; height: 3px; margin: 4px 10px; background-color: #cc222b; border-radius: 3px; }
header .menuBtn span:first-child { margin-top: 12px; }
header .title { width: 75%; height: 100%; margin: 0 auto; font: 600 20px/40px 'Open Sans', Arial; color: #cc222b; text-align: center; }
header .menuBtn.active, header .menuBtn:active, .sidebar { background-color: #626262; }

.wrapper { width: 100%; height: 100%; margin: 0 auto; padding: 0 5px 0 5px; box-sizing: border-box; position: relative; }

.overlay { background-color: rgba(0,0,0,0.7); position: absolute; left: -200%; top: 0; width: 100%; height: 100%; z-index: 10; opacity: 0; -webkit-transition: opacity 0.25s ease; }
.overlay.active { left: 0; opacity: 1; }

.sidebar { width: 220px; height: 100%; padding: 0 20px; position: absolute; left: -320px; top: 0; z-index: 11; -webkit-transition: all 0.25s ease; }
.sidebar.active { left: 0; }
.sidebar .buttons { padding: 10px 0 20px 0; overflow: hidden; }
.sidebar .buttons a { display: block; float: left; width: 50%; font-weight: 600; font-size: 16px; color: #fff; line-height: 40px; text-align: center; }
.sidebar .buttons a.active, .sidebar .buttons a.active:active { background-color: #f42739; }
.sidebar .buttons a:active { background-color: #444; }

.sidebar .menu { }
.sidebar .menu li { display: inline; }
.sidebar .menu li a { display: block; font-size: 16px; font-weight: 600; color: #fff; padding: 10px; border-bottom: solid 1px rgba(255,255,255,0.1); text-transform: uppercase; }
.sidebar .menu li a.active, .sidebar .menu li a:active { background-color: #444; }
.sidebar .menu li a.active { color: #f42739; }

.featured { padding: 12px 0; }
.featured h2 { font-weight: 600; font-size: 15px; text-transform: uppercase; color: #000; margin-bottom: 5px; }
.featured .imgWrap { width: 100%; position: relative; }
.featured .img, .featured .img img { width: 100%; }
.featured .imgWrap .name { position: absolute; bottom: 0; left: 0; width: 100%; padding: 10px; box-sizing: border-box; background-color: rgba(0,0,0,0.7); font-weight: 400; font-size: 15px; color: #fff; }

/*.list { margin-bottom: 12px; }
.list h2 { font-weight: 600; font-size: 16px; line-height: 35px; text-transform: uppercase; color: #fff; background-color: #cc222a; }
.list h2 span { padding: 0 10px; }
.list h2 a { display: block; color: #fff; background: url(../images/chevron.png) right center no-repeat; background-size: 20px 16px; padding: 0 10px; }
.list ul { background-color: #fff; }
.list li { display: inline; }
.list li a { display: block; color: #266cae; border-bottom: solid 1px #e6e6e6; padding: 10px; }
.list li:last-child a { border-bottom: 0; }*/

/* Start OF NEW CSS CODE for image*/
.list, .list2, .list3 { margin-bottom: 12px; }
.list h2, .list2 h2, .list3 h2 { font-weight: 600; font-size: 16px; line-height: 35px; text-transform: uppercase; color: #fff; background-color: #cc222a; }
.list h2 a, .list2 h2 a, .list3 h2 a { display: block; color: #fff; background: url(../images/chevron.png) right center no-repeat; background-size: 20px 16px; padding: 0 10px; }
.list ul, .list2 ul, .list3 ul { background-color: #fff; }
.list li, .list2 li, .list3 li { display: inline; }
.list li a, .list2 li a, .list3 li a { display: block; color: #266cae; border-bottom: solid 1px #e6e6e6; padding: 10px; }
.list li:last-child a, .list2 li:last-child a, .list3 li:last-child a { border-bottom: 0; }
.list2 li a, .list3 li a { overflow: hidden; }
.list2 li img { width: 90px; float: left; margin: 0 10px 0 0; }
.list3 li img { width: 90px; float: right; margin: 0 0 0 10px; } 
/* END OF NEW CSS CODE for image*/

.list.more { padding: 10px 0 60px 0; }
.list.more h2 { padding: 0 10px; }
.list.morenobottompadding { padding-bottom: 0; }

.list.links li { font-weight: 400; font-size: 15px; }

.list.reviews { }
.list.reviews li a { display: table; width: 100%; padding: 10px 10px 8px 10px; box-sizing: border-box; overflow: hidden; }
.list.reviews li a .left, .list.reviews li a .right { display: table-cell; vertical-align: top; }
.list.reviews li a .left{ width: 100px; }
.list.reviews li a .left.img img { width: 100%; }
.list.reviews li a .right { padding-left: 10px; }
.list.reviews li a .right span { display: block; margin-bottom: 3px; }
.list.reviews li a .name { font-weight: 600; font-size: 16px;  color: #cc222a; }
.list.reviews li a .rating { font-weight: 600; font-size: 14px;  color: #444; }
.list.reviews li a .date { font-weight: 400; font-size: 12px; font-style: italic;  color: #666666; }

.list.gallery ul { overflow: hidden; padding: 10px 0 0 0; }
.list.gallery li a { width: 30%; float: left; border-bottom: 0; padding: 0 0 10px 2.5%; }
.list.gallery li a span { display: block; }
.list.gallery li a .img, .list.gallery li a .img img { width: 100%; }
.list.gallery li a .name { font-weight: 600; font-size: 12px;  color: #444; min-height: 45px; }

.copy { text-align: center; font-weight: 400; font-size: 10px; color: #444; padding: 0 0 10px 0; }

.pagination { position: fixed; left: 0; bottom: 0; width: 100%; background-color: #fff; border-top: solid 1px #d7d7d7; z-index: 10; }
.pagination div { text-align: center; font-size: 16px; font-weight: 600; line-height: 40px; color: #444; }
.pagination a, .pagination2 a span { display: block; position: absolute; bottom: 0; width: 15%; height: 45px; line-height: 45px; 
background-color: #CC222A; /*#f42739;*/ color: #fff; text-align: center; font-weight: 600; font-size: 20px; }
.pagination a.prev { left: 0; }
.pagination a.next { right: 0; }
.pagination div span { display: inline-block; width: 100px; }
.pagination.style2 div { font-weight: 600; font-size: 14px; line-height: 20px; text-align: left; padding: 5px 10px; }
.pagination.style2 a { height: 60px; line-height: 60px; }

.pagination2 { border-top: solid 1px #d7d7d7; }
.pagination2 a { display: block; width: 66%; padding: 0 17%; margin-bottom: 5px; background-color: #fff; position: relative; font-weight: 600; font-size: 14px; line-height: 45px; color: #444; }
.pagination2 a.prev { text-align: left; }
.pagination2 a.next { text-align: right; }
.pagination2 a.prev span { left: 0; }
.pagination2 a.next span { right: 0; }


.main { padding-bottom: 50px; }
.main .spacer { height: 5px; }
article { font-family: 'Open Sans'; background-color: #fff; padding: 5px 10px 5px 10px; }
article .title { border-bottom: solid 2px #CC222A; margin-bottom: 10px; }
article .title .name { font-weight: 600; font-size: 24px; line-height: 40px; color: #dc4b37; margin: 3px 0; }
article .title .info { font-size: 12px; color: #666; margin-bottom: 5px; }
article .title .social-icons { }
article figure { margin-bottom: 10px; }
article figure img { width: 100%; }
article h4 { font-size: 16px; margin-bottom: 10px; }
article h4, article p b { color: #f00; font-weight: 400; }
article p { font-weight: 400; font-size: 15px; color: #222; margin-bottom: 20px; }
article p b { margin-right: 5px; }
article p.italic { font-style: italic; }

.social-icons { margin: 5px; height: 40px; }
.social-icons .ico { display: block; float: left; width: 32px; height: 32px; margin-right: 10px; background: url(../images/social.png) 0 0 no-repeat; text-indent: -999em; background-size: 100%; }
.social-icons .ico.fb { background-position: 0 0; }
.social-icons .ico.tw { background-position: 0 -33px; }
.social-icons .ico.ma { background-position: 0 -67px; }
.social-icons .ico.gp { background-position: 0 -100px; }
.social-icons .ico.in { background-position: 0 -134px; }
.social-icons .ico.ad { background-position: 0 -167px; }
.social-icons .ico.wa { background-position: 0 -201px; }

.tags { margin: 10px 0; padding: 10px 0; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; font-size: 16px; line-height: 30px; }
.tags span { font-weight: 600; }
.tags a { font-weight: 400; color: #266cae; margin-right: 5px; }
.tags a:after { content: ","; }

.galleryWrap { background-color: #fff; }
.galleryWrap .tabs { display: table; width: 100%; box-sizing: border-box; }
.galleryWrap .tabs a { display: table-cell; width: 20%; padding: 5px 0 10px 0; background-color: #999; text-align: center; font-size: 14px; font-weight: 600; color: #fff; border-right: solid 1px #d7d7d7; border-top: solid 3px #999; }
.galleryWrap .tabs a.active { border-top-color: #dc4b37; background-color: #fff; color: #dc4b37; }

.galleryWrap .gallery { padding: 20px 5px; }
.galleryWrap .gallery ul { overflow: hidden; list-style: none; }
.galleryWrap .gallery li a { width: 46%; float: left; border-bottom: 0; padding: 0 2% 10px 2%; }
.galleryWrap .gallery li a span { display: block; }
.galleryWrap .gallery li a .img, .galleryWrap .gallery li a .img img { width: 100%; }
.galleryWrap .gallery li a .name { font-weight: 400; font-size: 14px;  color: #222; min-height: 70px; }

.main.gal { position: relative; padding-bottom: 5px; }
.main.gal .pager { }
.main.gal .pager a { display: block; position: fixed; top: 50%; width: 15%; height: 50px; line-height: 50px; background-color: #fff; color: #f42739; text-align: center; font-weight: 600; font-size: 20px; box-shadow: 0 2px 5px rgba(0,0,0,0.3); }
.main.gal .pager a.prev { left: 0; }
.main.gal .pager a.next { right: 0; }

footer { margin-top: 30px; background-color: #707070; font-size: 12px; line-height: 30px; color: #e1e1e1; padding: 10px 20px 0 20px; position: relative; text-align: center; }
footer .links { border-top: solid 1px #777; border-bottom: solid 1px #777; padding: 5px 0; }
footer .links a { color: #fff; padding: 0 7px; }
footer .desktop { padding-bottom: 5px; }
footer .desktop a { color: #fff; }
footer .copy { font-size: 11px; color: #e1e1e1; padding-top: 5px; }
footer .btn_top { background-color: #222; border-radius: 40px; font-size: 20px; color:#fff; font-weight: bold; display: block; position: absolute; right: 20px; top: -20px; width: 40px; height: 40px; line-height: 35px; text-align: center; -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }

.urhere { text-align: left;padding: 8px 0; font-size:12px;}
div.urhere a{
  color: #cc222b;
  font-weight: 600;
}
div.urhere a:last-child {
  color: #626262;
  font-weight: 400;
}
.error{color: red;}

.adDisp {
    margin: 10px 0;
	text-align: center;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1000000; background: rgba(0,0,0,0.7); }
#popupWrap { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1000001; background: rgba(0,0,0,0.5); padding-top: 100px; }
#popupWrap .popup { width: 410px; margin: 0 auto; background-color: #000; border: solid 15px #000; border-radius: 12px; }
#popupWrap .popup .popupinner { background-color: #fff; border: solid 10px #fff; border-radius: 5px; }
.actionbar { text-align: right; padding-bottom: 10px; }
.actionbar a { display: inline-block; font: normal 16px/20px Arial; color: #444; padding: 0 24px 0 0; }
.actionbar a:hover { color: #dc4b37 }

/*
.telugu header .title,
.telugu .sidebar .buttons a,
.telugu .sidebar .menu li a,
.telugu .featured h2,
.telugu .featured .imgWrap .name,
.telugu .list h2,
.telugu .list.links li,
.telugu .list.reviews li a .name,
.telugu .list.reviews li a .rating,
.telugu .list.reviews li a .date,
.telugu .list.gallery li a .name,
.telugu .copy,
.telugu .pagination div,
.telugu .pagination a,
.telugu .pagination.style2 div,
.telugu article .title .info,
.telugu article p,
.telugu article .title .name,
.telugu article h4,
.telugu .tags,
.telugu .galleryWrap .tabs a,
.telugu .galleryWrap .gallery li a .name,
.telugu .main.gal .pager a
 { font-weight: normal!important; font-family: 'ramabhadra'; }

.telugu article .title .name { font-size: 28px; padding-top: 5px; }
.telugu article h4,
.telugu article p { font-weight: normal!important; font-family: 'newsview','mallanna'; font-size: 23px; color: #444; }

.telugu .featured .imgWrap .name { font-size: 18px; padding-bottom: 5px; }
.telugu .list h2 { font-size: 22px; }
.telugu .list h2 a, .telugu .list.more h2 { padding-top: 5px; }
.telugu .list.links li { font-size: 18px; }
.telugu .list li a { padding-bottom: 5px; }
.telugu .list.reviews li a .name { font-size: 20px; margin-bottom: 0; }*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden{display:none!important}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 470px) {
  .featured .imgWrap { display: table; width: 100%; position: relative; }
  .featured .img, .featured .name { display: table-cell; vertical-align: top; }
  .featured .img { width: 25%; }
  .featured .img img { width: 100%; }
  .featured .name { position: inherit!important; width: 75%; }

  .list h2 { line-height: 30px; }
  .list.gallery li a { width: 22%; padding: 0 0 10px 2.5%; }

  .galleryWrap .gallery li a { width: 30%; float: left; border-bottom: 0; padding: 0 0 10px 2.5%; }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print{blockquote,img,pre,tr{page-break-inside:avoid}*,:after,:before{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}
