@font-face {
    font-family: 'mandali';
    src: url('fonts/mandali.eot');
    src: url('fonts/mandali.eot?#iefix') format('embedded-opentype'),
         url('fonts/mandali.woff') format('woff'),
         url('fonts/mandali.ttf') format('truetype'),
         url('fonts/mandali.svg#mandali') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ramabhadra';
    src: url('fonts/ramabhadra.eot');
    src: url('fonts/ramabhadra.eot?#iefix') format('embedded-opentype'),
         url('fonts/ramabhadra.woff') format('woff'),
         url('fonts/ramabhadra.ttf') format('truetype'),
         url('fonts/ramabhadra.svg#ramabhadra') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mallanna';
    src: url('fonts/mallanna.eot');
    src: url('fonts/mallanna.eot?#iefix') format('embedded-opentype'),
         url('fonts/mallanna.woff') format('woff'),
         url('fonts/mallanna.ttf') format('truetype'),
         url('fonts/mallanna.svg#mallanna') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'newsview';
    src: url('fonts/newsview.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

header .title,
.sidebar .buttons a,
.sidebar .menu li a,
/*.featured h2,*/
.featured .imgWrap .name,
.list h2,
.list.links li,
.list.reviews li a .name,
/*.list.reviews li a .rating,
.list.reviews li a .date,
.list.gallery li a .name,
.copy,*/
/*.pagination div,
.pagination a,
.pagination.style2 div,
article .title .info,
article p,*/
article .title .name,
article h4,
.tags,
.galleryWrap .tabs a,
.galleryWrap .gallery li a .name,
.main.gal .pager a
 { font-weight: normal!important; font-family: 'ramabhadra'; }

article .title .name { font-size: 28px; padding-top: 5px; }
article h4,
article p { font-weight: normal!important; font-family: 'newsview','mallanna'; font-size: 23px; color: #444; }

.featured .imgWrap .name { font-size: 18px; padding-bottom: 5px; }
.list h2, .sidebar .menu li a { font-size: 22px; }
.list h2 a, .list.more h2 { padding-top: 5px; }
.list.links li { font-size: 18px; }
.list li a, .sidebar .menu li a { padding-bottom: 5px; }
.list.reviews li a .name { font-size: 20px; margin-bottom: 0; }


