@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/*------- Reset -------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}
.fr {float: right;}
.fl {float: left;}
.cb {clear: both;}
img {max-width: 100%; height: auto;}
/*------- Body -------*/
body {
	background: url(../images/zain_bg.jpg) repeat center center;
	background-size: cover;
	font: normal 14px 'Open Sans', Tahoma, sans-serif;
	height: 100%;
	position: relative;
	color: #FFF;
}
a, a:visited, a:active {
	text-decoration: none;
	color: #f9e700;
	display: inline-block;
}
label {cursor: pointer;}
a:hover {text-decoration: underline;}
section {
	margin-bottom: 20px;
}
h2 {
	font-size: 2.5em;
	color: #ffe200;
	margin-bottom: 15px;
	pointer-events: none;
}
header {
	height: 125px;
	margin-bottom: 20px;
}
header .top-banner {
	position: relative;
	overflow: hidden;
	text-align: center;
}
header a.logo {
	width: 71px;
	height: 100px;
	display: block;
	position: absolute;
	text-indent: -9999px;
	top: 13px;
	left: 30px;
	background: url(../images/logo.png) no-repeat;
}
/*------- Content -------*/
.arabic h2 {
	font-family: arial, tahoma, sans-serif;
}
.arabic p {
	font-family: tahoma, arial, sans-serif;
}
#welcome {padding-top: 20px;}
#welcome p {
	text-align: justify;
}
#welcome .arabic p {
	padding-top: 5px;
	padding-left: 20px;
}
#welcome .english p {
	padding-right: 20px;
}
.welcome-message {display: block;}
/*------- Form -------*/
hr.fancy-hr {
	border: 0;
	height: 1px;
	background: #F9E700;
	box-shadow: 0px 1px 0px #777;
	margin-bottom: 20px;
}
.select-form {
	width: 480px;
	margin: 10px auto;
}
.select-form .select-desc {margin-top: 15px;}
.select-form p.select-en {
	font-size: 13px;
	margin-bottom: 10px;
	width: 50%;
	float: left;
}
.select-form p.select-ar {
	direction: rtl;
	margin-bottom: 10px;
	font-family: tahoma, arial, sans-serif;
	width: 50%;
	float: right;
	padding-left: 10px;
}
/* Dropdown */
.dropdown dd {
	position: relative;
}
.dropdown a {
	color: #FFF;
	text-decoration: none;
}
.dropdown dt a {
	background: #d4e327 url(../images/dropdown-icon.png) no-repeat right center;
	display: block;
	border: 1px solid #a8d74f;
	padding-right: 35px;
	padding-left: 5px;
	border-radius: 4px;
	color: #00a773;
}
.dropdown dt a span {
	cursor: pointer;
	display: block;
	padding: 5px;
}
.dropdown dd ul {
	background: #FFF;
	border: 1px solid #d4e327;
	border-top: 0;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 0 0 4px 4px;
	padding: 5px 0;
	width: 100%;
	height: 160px;
	overflow-y: auto;
	overflow-x: hidden;
}
.dropdown span.value {
	display: none;
}
.dropdown dd ul li > a {
	padding: 5px 8px;
	display: block;
	color: #000;
	border-bottom: 1px solid #E5E5E5;
}
.dropdown dd ul li a:hover {
	background-color: #E5E5E5;
}
.dropdown span.ar-op {
	float: right;
	padding: 0;
	margin-right: 5px;
	white-space: nowrap;
}
.dropdown span.ar, .dropdown span.en {
	display: inline-block;
	padding: 0;
	margin-right: 5px;
}
#welcome .arabic h2, .dropdown span.ar {white-space: nowrap;}
.select-form ul.lnklist {
	width: 215px;
	margin: auto;
}
.select-form ul.lnklist li {
	float: left;
	margin: 6px 5px 0 10px;
}
.select-form ul.lnklist li a {
	text-decoration: underline;
	padding-right: 15px;
	background: url(../images/en-arrow.png) no-repeat right center;
}
/*.select-form [href*="ar"] {
	background: url(../images/ar-arrow.png) no-repeat left center !important;
	padding-right: 0 !important;
	padding-left: 15px;
}*/
.select-form .remember {margin-top: 5px; text-align: center;}
/* Carrers */
#carrers .english a {
	background: url(../images/en-arrow.png) no-repeat right center;
	padding-right: 20px;
}
#carrers .arabic a {
	background: url(../images/ar-arrow.png) no-repeat left center;
	padding-left: 20px;
}
/*------- Media Quires -------*/

/* 3rd */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	#carrers {position: static;}
}

@media only screen and (max-width: 767px) {
	hr.fancy-hr {display: none;}
	.container {padding: 0 20px;}
	header > .container {padding: 0;}
	.english, .arabic{text-align: center; position: relative;}
	.english {margin-bottom: 1em;}
	#welcome .english p, #welcome .arabic p {padding-right: 0;padding-left: 0;}
	.english p {text-align: left !important;}
	.arabic p {text-align: right !important;}
	#welcome .english h2, #welcome .arabic h2 {pointer-events: auto; cursor: pointer; display: inline-block; margin-bottom: 0;}
	#welcome .english h2 {
		background: url(../images/arrow.png) no-repeat right 25px;
		padding-right: 30px;
	}
	#welcome .arabic h2 {
		background: url(../images/arrow.png) no-repeat 0 18px;
		padding-left: 30px;
	}
	#welcome .english h2.arrow-up {
		background: url(../images/arrow-up.png) no-repeat right 22px;
	}
	#welcome .arabic h2.arrow-up {
		background: url(../images/arrow-up.png) no-repeat 0 15px;
	}
	#carrers .english a {
		border: 1px solid #F9E700;
		padding: 5px 20px 5px 5px;
		border-radius: 5px;
		margin-top: 5px;
		min-width: 200px;
		background-position: 98% center;
	}
	#carrers .arabic a {
		border: 1px solid #F9E700;
		padding: 5px 5px 5px 20px;
		border-radius: 5px;
		margin-top: 5px;
		min-width: 200px;
		background-position: 2% center;
	}
	.select-form {width: auto;max-width: 480px;}
	.welcome-message {
		position: absolute;
		left: 0;
		top: 60px;
		z-index: 1;
		width: 100%;
		background: #51b8e9;
		border-radius: 20px;
		padding: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, .2);
		font-size: 20px;
		display: none;
	}
}

/* 5th */
@media only screen and (max-width: 479px) {
	hr.fancy-hr {display: none;}
	.select-form {width: auto;max-width: 320px;}
	.select-form p.select-en, .select-form p.select-ar {width: 100%; float: none; text-align: center;}
}
/* Special */
@media only screen and (min-width: 767px) {
	.welcome-message {
		display: block !important;
	}
}
