@charset "utf-8";
/* CSS Document */
body{background:url(../images/bg.png) repeat;font-size:14px;}
.footer{background:none;}
a:hover{text-decoration:underline}
.index_header_box a:hover{text-decoration:none;}
/* -------------club_index begin --------------*/
/* head begin */
.club_head{height:70px;line-height:70px;position:relative;width:1170px; margin:0 auto;}
.club_head .club_logo_bg{position:absolute;z-index:100;top:0;left:0;width:176px;height:201px;background:url(../images/club_logo_bg.png) no-repeat;}
.club_head .club_logo_bg .club_logo{width:120px;height:120px;display:block;position:absolute;top:36px;left:28px;}
.club_head .club_logo_bg .logo_icon{height:40px;width:158px;z-index:1000;position:absolute; top:17px;right:20px;}
.club_head .club_logo_bg .logo_icon i{width:35px;height:35px;float:right;line-height:normal;overflow:hidden}
.club_head .club_logo_bg .logo_icon i img{width:35px;height:35px;}
.club_head .club_name{width:200px;padding-left: 190px;font-size: 22px;font-weight:bold;color:#fff; float:left;text-align: center;}
.club_head a:hover.club_name{text-decoration:none}
.club_head .head-nav{ float:left;}
.club_head .head-nav li{float:left;width:125px;text-align:center;}
.club_head .head-nav li a{font-size:16px;color:#fff;}
.club_head .login-out{float: right;text-align:right;}
.club_head .login-out a{color:#999; margin-left:10px;}
/* show-image begin */
.show_image{width:100%;overflow:hidden;position:relative;height:340px;text-align: center}
.show_image .pic{width:100%;height:340px;width:1920px;}
.show_image .show_image_box{position:absolute;bottom:40px;left:50%;width:1170px;margin-left:-585px;z-index:10}
.show_image .show_image_box .con{padding-left:35px;height:105px;float:right;background:url(../images/slogan_bg.png) repeat}
.show_image .show_image_box .con h1{font-size:36px;color:#fff;line-height:105px;padding-right:10px;float:left}
.show_image .show_image_box .con i{width:30px;height:30px;float:left;margin:40px 5px 0 0;}
.show_image .show_image_box .con i img{width:30px;}
.show_image .show_image_box .con a{width:105px;height:105px;background:url(../images/slogan_bg1.png) repeat;display:block;float: right;margin-left:15px;text-align:center}
.show_image .show_image_box .con a p{color:#fff;font-size:16px;line-height:36px;display:none;text-decoration:none}
.show_image .show_image_box .con a img{margin-top:40px;}
.show_image .show_image_box .con a:hover.jiaru{background:url(../images/slogan_bg2.png) repeat;text-decoration:none}
.show_image .show_image_box .con a:hover img{margin-top:30px;}
.show_image .show_image_box .con a:hover p{display:block;}
.show_image .show_image_box .con a:hover.tuichu{background:url(../images/slogan_bg3.png) repeat;text-decoration:none}

/* .show_image{width:100%;overflow:hidden;position:relative;height:340px;}
.show_image .pic{width:100%;height:340px;width:1920px;}
.show_image .show_image_box{position:absolute;bottom:0;right:10%;width:390px;z-index:10}
.show_image .slogan{width:390px;height:130px;margin-bottom:20px;}
.show_image .slogan p{line-height:63px;font-size:36px;color:#fff;font-weight:bold;}
.show_image .con{width:390px;height:100px;}
.show_image .con .label{height:60px;border-left:1px solid #99A3B4;overflow:hidden;float:left;}
.show_image .con .label li{width:60px; height:58px;border-bottom:1px solid #99A3B4;border-top:1px solid #99A3B4;border-right:1px solid #99A3B4;float:left;text-align:center;}
.show_image .con .label li img{margin-top:5px;}
.show_image .con a{width:60px;height:30px;display:inline-block;text-align:center;padding:30px 0 0 30px;line-height:30px;background:url("../images/gray_xin.png") no-repeat 47px 2px;color:#fff;}
.show_image .con a.select{background:url("../images/orange_xin.png") no-repeat 47px 2px;text-decoration:none} */

/* club_databar begin */
.club_databar{height:110px;overflow:hidden;margin-bottom:20px;}
.club_databar ul{width:1040px;height:110px; margin:0 auto;}
.club_databar ul li{width:220px;height:65px;float:left;padding:45px 0 0 40px;background:url("../images/club_data_bg.png") no-repeat top right;}
.club_databar ul li.last{background:none;}
.club_databar ul li i{width:40px;height:40px;float:left;margin-top:15px;background:url(../images/club_icon.png) 0 0 no-repeat;}
.club_databar ul li i.member{background-position:0 -85px;}
.club_databar ul li i.topic{background-position:0 -160px;}
.club_databar ul li i.follow{background-position:0 -230px;}
.club_databar ul li i.activity{background-position:0 -296px;}
.club_databar ul li .con{padding-left:20px;width:100px;float:left;color:#999;}
.club_databar ul li .con h2{font-size:26px;color:#bbb;}
/* club_link begin */
.club_link{overflow:hidden;margin-bottom:30px;}
.club_link ul{width:1170px;}
.club_link ul li{width:376px;height:280px;padding-right:21px;margin-bottom:20px;float:left;position:relative;}
.club_link ul li.last{padding-right:0;}
.club_link ul li img{width:376px;height:280px;}
.club_link ul li .shadebox{position:absolute;width:358px;height:72px;bottom:10px;left:9px;border:1px solid #B4BBC5;background-color:#ffffff;opacity:0.5;filter:alpha(opacity=50);z-index:1000}
.club_link ul li .infor{position:absolute;width:334px;height:48px;padding:12px;color:#000;bottom:10px;left:50%;margin-left:-179px;z-index:1001;}
.club_link ul li .infor .con{width:270px;float:left;}
.club_link ul li .infor .con a{font-size:22px;color:#000;display: block;}
.club_link ul li .infor .number{float:right;width:60px;font-size:26px;line-height:48px;}
/* club_activity begin */
.club_activity{overflow:hidden;margin-bottom:60px;*margin-bottom:10px;}
.club_activity .title,.club_hottopics .title{width:100%;height:15px;margin-bottom:50px;border-bottom:1px solid #444444;position:relative;+margin-top:20px;}
.club_activity .title h2,.club_hottopics .title h2{height:30px;width:200px;font-size:26px;font-weight:normal;color:#fff;background:url(../images/bg.png) repeat;line-height:30px;text-align:center;position:absolute;left:50%; margin-left:-100px;top:0;}
.club_activity .left_banner{width:200px;float:left;height:280px;}
.club_activity .left_banner a{width:198px;height:66px;padding-top:20px;border:1px solid #666;display:block;text-align:center;margin-bottom:8px;line-height:25px;font-size:16px;color:#fff;}
.club_activity .left_banner a span{line-height:45px; }
.club_activity .left_banner a:hover,.club_activity .left_banner a.current{background:#999;border:1px solid #999;text-decoration:none;}
.club_activity .right_infor{width:920px;height:280px;float:right;}
.club_activity .right_infor .pic{width:376px;height:280px;float:left;}
.club_activity .right_infor .con{width:470px;float:right;padding-right:30px;}
.club_activity .right_infor .con .tit{font-size:16px;font-weight:normal;line-height:30px;color:#fff;}
.club_activity .right_infor .con .div{margin:15px 0;height:60px;}
.club_activity .right_infor .con .div .price{line-height:60px;color:#f1a400;font-size:30px;font-weight:bold;float:right;}
.club_activity .right_infor .con .label{height:60px;border-left:1px solid #666;overflow:hidden;float:left;}
.club_activity .right_infor .con .label li{width:60px;height:58px;border-bottom:1px solid #666;border-top:1px solid #666;border-right:1px solid #666;float:left;text-align:center;}
.club_activity .right_infor .con .label li img{margin-top:15px;}
.club_activity .right_infor .con p{line-height:30px;color:#fff;padding-left:35px;}
.club_activity .right_infor .con p.address{background:url(../images/club_icon_address.png) 8px 8px no-repeat;}
.club_activity .right_infor .con p.time{background:url(../images/club_icon_time.png) 6px 8px no-repeat;}
.club_activity .right_infor .con .enroll{width:100%;padding-top:15px;}
.club_activity .right_infor .con .enroll .progress_bar{width:260px;height: 35px;float: left}
.club_activity .right_infor .con .enroll .progress_bar .bar{width:180px;height:35px;background:url(../images/progress_bar.png) 0 12px no-repeat;float:left}
.club_activity .right_infor .con .enroll .progress_bar .bar span{float:left;display:inline-block;}
.club_activity .right_infor .con .enroll .progress_bar .bar .bar_yellow{height:35px;background:url(../images/progress_bar.png) 0 -36px no-repeat;}
.club_activity .right_infor .con .enroll .progress_bar .bar .unmber_btn{width:35px;height:35px;border-radius:100%;background:#F1A400;color:#fff;text-align:center;line-height:35px;margin:1px 0 0 -5px;font-size:12px;}
.club_activity .right_infor .con .enroll .progress_bar .total_btn{width:80px;float:left;background:#F1A400;}
.club_activity .right_infor .con .enroll .btn{height:35px;text-align:center; line-height:35px;color:#fff;border-radius:10px;font-size:16px;}
.club_activity .right_infor .con .enroll .enroll_btn{float:right;width:110px;background:#219BD9}
.club_activity .right_infor .con .enroll a:hover.enroll_btn{background:#F1A400;text-decoration:none;}
    /* club_hottopics begin */
.club_hottopics{overflow:hidden;margin-bottom:30px;}
.club_hottopics ul{overflow:hidden;}
.club_hottopics li{width:376px;height:405px;float:left;background:#fff;margin:0 21px 20px 0; overflow:hidden}
.club_hottopics li.last{margin-right:0;}
.club_hottopics li .pic{width:376px;height:190px;overflow:hidden}
.club_hottopics li .topic_tit{padding:0 18px;margin:18px 0 10px;display:block;color:#333;font-size:16px;height:25px;line-height:25px;overflow:hidden}
.club_hottopics li p{line-height:24px;color:#666;padding:0 18px;height:48px;overflow:hidden}
.club_hottopics li .infor{width:356px;border-top:1px solid #eee;padding-top:12px; margin:10px auto;}
.club_hottopics li .infor .user_pic{width:80px;height:80px;border-radius:40px;margin:0 25px; float:left;}
.club_hottopics li .infor .detail{width:220px;float: left;}
.club_hottopics li .infor .detail p{line-height:40px;padding:0;height:40px;}
.club_hottopics li .infor .detail p .uname{color:#666;width:125px;display:inline-block;float:left;}
.club_hottopics li .infor .detail p .level{color:#f1a400;font-size:22px;}
.club_hottopics li .infor .detail p span,#focus ul li div p span{display:inline-block;margin-right: 15px;height:40px;float: left}
.club_hottopics li .infor .detail p i,#focus ul li div p i{display:inline-block;width:30px;height:40px;float: left;background:url(../images/club_icon.png) 0 0 no-repeat;}
.club_hottopics li .infor .detail p i.read,#focus ul li div p i.read{background-position:0 -427px;}
.club_hottopics li .infor .detail p i.comments,#focus ul li div p i.comments{background-position:-70px -427px;}
.club_hottopics li .infor .detail p i.dz,#focus ul li div p i.dz{background-position:-132px -427px;}
.club_hottopics .title a{height:40px;width:120px;font-size:16px;font-weight:normal;color:#fff;background:#219BD9;line-height:40px;text-align:center; display:block;border-radius:10px;position:absolute;left:50%;margin-left:-60px;top:-5px;}
.club_hottopics .title a:hover{background:#F1A400;text-decoration:none;}
/* club_btn begin */
.club_btn{width:auto; height:70px;margin:20px 0 45px;text-align:center}
.club_btn a{width:198px;height: 68px; border:1px solid #666;display: inline-block;margin:0 5px;color:#fff;font-size: 16px;line-height:70px;text-align:left}
.club_btn a i{background:url(../images/club_icon.png) 0 0 no-repeat;width:90px;height:68px;float:left;}
.club_btn a i.start_topic{background-position:15px -482px;}
.club_btn a i.start_activity{background-position:-100px -482px;}
.club_btn a i.sign{background-position:-215px -482px;}
.club_btn a:hover{color:#fff;background:#F1A400;border:1px solid #F1A400;text-decoration:none;}
/*.club_btn a:hover i.start_topic{background-position:15px -482px;}
.club_btn a:hover i.start_activity{background-position:-100px -482px;}
.club_btn a:hover i.sign{background-position:-215px -482px;}*/
/* club_aboutus begin */
.club_aboutus{background:#444;padding:20px 0 50px;color:#999;}
.club_aboutus h2{font-size:26px;font-weight:normal;text-align:center;margin:15px 0 38px;color:#ffffff;}
.club_aboutus .table{width:990px;}
.table{width:100%;margin:0 auto;border-left:1px solid #666;border-top:1px solid #666;color:#999}
.table td{border-right:1px solid #666;border-bottom:1px solid #666;height:60px; text-align:center; vertical-align:middle;}
.table .yellow{color:#f1a400;}
.table div{padding:20px 0 0 30px; height:140px;}
.table div .pic{width:140px;height:140px;border-radius:100%;float:left;}
.table div .detail{padding:0 0 0 25px; float:left;text-align:left}
.table div .detail .uname{font-size:20px; line-height:60px;}
.table div .detail p{line-height:30px;}
.table div .detail p span{margin-right:30px;}
.club_aboutus ul{width:1100px; margin:58px auto 0;}
ul.member{overflow:hidden;}
ul.member li{width:80px;height:130px;padding:0 15px;float:left;text-align:center;}
ul.member li .pic{width:80px;height:80px;border-radius:100%;margin-bottom:10px;}
ul.member li a{color:#999;}
.club_aboutus .bottom{height:40px;line-height:40px;padding-left:460px;margin:20px 0;}
.club_aboutus .bottom .total{height:40px;width:255px;font-size:20px;color:#999;background:#666;text-align:center;border-radius:10px;float:left;}
.club_aboutus .bottom .more{color:#f1a400; margin-left:40px;}
.club_aboutus .content{font-size: 14px;padding: 0 10px}

/* -------------club_member begin --------------*/
.club_left{width:775px;float:left;overflow:hidden;}
.clubtitle{height:25px;margin:20px 0 20px;color:#666;}
.clubtitle h2{font-size:20px;display:inline-block}
.clubtitle span{margin-left:20px;}
.clubtitle a{margin-left:20px;color:#666;float: right;}
.club_left div{overflow:hidden;}
.club_left .m_f{width:476px;height:70px;margin:0 auto;padding-bottom:20px;}
.club_left .m_f .bar{height:26px;background:url(../images/m-f.png) 0 0 no-repeat;padding:18px 45px 0;}
.club_left .m_f .bar span{height:10px;background:#219BD9;display:block;overflow:hidden}
.club_left .m_f p{line-height:26px;color:#999;}
.club_left .m_f p span{width:45px;display:block;text-align:center;}
.club_left .rank{margin:40px 0;}
.club_left .rank ul{float:left;overflow:hidden;}
.club_left .rank ul.grade{width:315px;}
.club_left .rank ul.coin{width:230px;}
.club_left .rank ul li{line-height:35px;height:35px;color:#999;}
.club_left .rank ul li.top{font-size:20px;margin-bottom:10px;}
.club_left .rank ul li a{color:#999;width:100px;}
.club_left .rank ul li .num{width:30px;}
.club_left .rank ul li span,.club_left .rank ul li a{display: block;float:left}

.club_right{width:300px;float:right;overflow:hidden;margin-bottom: 40px;}
.club_right ul.member li{padding:0 10px;}
.club_right .state{width:100%;overflow:hidden;margin-top:-20px;}
.club_right .state li{border-bottom:1px dashed #444;padding:10px 0;line-height:30px;color:#666;}
.club_right .state li .blue{color:#219bd9; margin-right:10px;}
.club_right .btn{width:256px;height:auto;margin:0;margin-top:30px;}
.club_right .btn a{width:136px; height:70px;line-height:70px;display:block;color:#fff;font-size:20px;padding-left:120px;background:url(../images/cs_coin.png) 45px center no-repeat #219BD9;border-radius:10px;margin-bottom:10px;}
.club_right .btn a.release{background:url(../images/cs_coin.png) 45px center no-repeat #219BD9;}
.club_right .btn a.exchange{background:url(../images/cs_coint.png) 45px center no-repeat #219BD9;}
.club_right .btn a:hover{background-color:#F1A400;text-decoration:none}

/* -----------club_topic begin---------- */
.club_topic_box{background:#333;border:1px solid #444;padding:15px 0;margin:10px 0 23px 0;}
.club_topic_box a{width:140px;height:45px;overflow:hidden;display:block;padding-left:14px;float:left;line-height:45px;color:#999;}
.club_topic_box li{width:100%;border-bottom:1px dashed #444;height:45px;}
.club_topic_box li.last{border-bottom:none}

.club_topic_btn{width:100%;height:30px;position:relative;margin-bottom: 30px;}
.club_topic_btn a{background:#fff;color:#999;border-radius:10px;padding:0 12px;text-align:center;float:left;display:block;position:relative;}
.club_topic_btn a.current,.club_topic_btn a:hover.current{background-color:#219BD9;color:#fff;}
.club_topic_btn a:hover{background:#f1a400;color:#fff;text-decoration: none;}
.club_topic_btn .fl{float:left;}
.club_topic_btn .fl a{height:30px;line-height:30px; margin-right:20px;}
.club_topic_btn .fr{float:right;}
.club_topic_btn .fr a{height:25px;line-height:25px;margin:2px 0 0 8px;}
.club_topic_btn .fr a.current{background:#219BD9;padding-right:20px;}
.club_topic_btn .fr a.current span{background:url(../images/c_icon04.png) no-repeat;width:10px; height:10px;position:absolute;top:8px;right:8px;}
.club_topic_btn .fr a.current span.desc{background:url(../images/c_icon_desc.png) no-repeat;}
.club_topic_btn .fr a.current span.asc{background:url(../images/c_icon_asc.png) no-repeat;}


.club_topic_btn .line{width:100%;border-bottom:1px solid #444;position:absolute;top:14px;left:0;z-index:-100;height:1px;}


/* -----------club_photo begin---------- */
.club_photo{overflow:hidden;width:100%;}
.club_photo li{width:176px;float:left; margin:0 12px 12px 0;overflow:hidden;position:relative;height: 99px;}
.club_photo li.last{height: 99px;}
.club_photo li a img{width:176px;height:99px;vertical-align: middle;position:absolute; top:50%;left:50%;transform:translate(-50%,-50%);}

/* -----------club_activity begin----------*/
.club_activity_list{overflow:hidden;margin-bottom:20px;}
.club_activity_list ul li{width:376px;height:auto;float:left;position: relative;margin:0 6px 20px 5px;background:#fff;padding-bottom: 15px;}
.club_activity_list ul li.right{margin-right:0;}
.club_activity_list ul li p.sign_bg{position:absolute;top:8px;right:-9px;width: 60px;height: 34px;color:#fff;font-size:14px;line-height:25px;text-align:center;background: url("../images/sign_bg.png") no-repeat;z-index: 999}
.club_activity_list ul li p.line_cover_bg{position: absolute;left:0;top:0;width: 100%;height:185px;background:#333;opacity:.3;filter:alpha(opacity=30);z-index: 99;display:none;}
.club_activity_list ul li p.line_cover_txt{position:absolute;left:0;top:0;width:100%;height:110px;color:#fff;text-align:center;z-index: 990;padding-top:65px;display:none;}
.club_activity_list ul li p.line_cover_txt span{display:block;margin:0 auto;width:160px;}
.club_activity_list ul li p.line_cover_txt span a{color:#fff;text-decoration: none;display:block;width:100%;font-size:20px;}
.club_activity_list ul li p.line_cover_txt span.line_entry_btn{height:35px;line-height:32px;border:2px solid #fff;border-radius:10px;margin-bottom: 10px;width:130px;}
.club_activity_list ul li p.line_cover_txt span.time{background:url(../images/club_icon_time.png) 0px 1px no-repeat;padding-left:18px;width:180px;}
.club_activity_list ul li p.line_cover_txt span.follow{width:60px;height:20px;line-height:20px;padding-top:30px;background:url(../images/aixin.png) 16px 0 no-repeat;color:#fff;margin-left:300px;}
.club_activity_list ul li a.index_line_title{display:block;color:#333;line-height:35px;font-size:16px;padding:5px 3%;width: 94%;overflow: hidden}
.club_activity_list ul li a.index_line_title:hover{color: #f1a400;}
.club_activity_list p.index_line_address{padding: 0px 15px;}
p.index_line_address .prise{font-size:28px;font-weight:bold;float:right}
p.index_line_address .location{padding-left:20px;background:url(../images/location_mark.png) no-repeat;display:inline-block;float: left;width:130px;height:30px;overflow:hidden;}
.club_activity_list ul li a.index_line_pic{display:block;height:185px;overflow:hidden}

/* -----------club_search begin---------- */
.show_image_bg{width:100%;background:url("../images/show_image_bg.jpg") no-repeat top center;background-size:100%;display:block;position:relative;padding:140px 0 40px 0;margin-top:-140px;margin-bottom:20px;}
.show_image_bg .sec_nav{line-height:40px;}
.show_image_bg .sec_nav a{color:#000;}
.club_recommend,.line_recommend{overflow: hidden;margin-bottom:20px;}
.club_recommend .line,.line_recommend .line{border-bottom:1px solid #eee; top:20px;}
.club_recommend .club_topic_btn,.line_recommend .club_topic_btn{padding:5px 0;}
.club_recommend .club_topic_btn a,.line_recommend .club_topic_btn a{background:#eee;}
.club_recommend .club_topic_btn a:hover,.line_recommend .club_topic_btn a:hover{background:#f1a400;}
.club_recommend .club_topic_btn a.current:hover,.line_recommend .club_topic_btn a.current:hover{background:#219BD9;}
.club_recommend .midspan,.line_recommend .midspan{width:210px;height:40px;background:#eee;color:#999;line-height:40px;text-align:center;position:absolute;left:50%;margin-left:-105px;top:0;border-radius:10px;}


.club_djr{overflow:hidden}
.club_djr ul li{height:340px;width:376px;background:#f4f4f4;float:left;margin:0 20px 20px 0;overflow:hidden;border-radius:10px;position:relative}
.club_djr ul li.last{margin-right:0;}
.club_djr ul li .tag{height:38px;width:95px;background:#999;line-height:38px;text-align:center;color:#fff;font-size:16px;position:absolute;top:0;left:0;border-top-left-radius:10px;border-bottom-right-radius:10px;}
.club_djr ul li .more{color:#999;line-height:38px;font-size:20px;position:absolute;top:0;right:10px;}
.club_djr ul li a:hover.more{text-decoration:none;color:#219BD9}
.club_djr ul li .con{width:315px;margin:45px auto 0;}
.club_djr ul li .tit{font-size:18px;color:#666;line-height:40px;}
.club_djr ul li p{line-height:28px;color:#666;}
.club_djr ul li p a{color:#666;}
.club_djr ul li .con .p{float:left;width:157px;}
.club_djr ul li .con p em{width:15px;height:15px;float:left;margin-right:10px;margin-top:5px;}
.club_djr ul li .con p em img{width:15px;height:15px;vertical-align:middle;}
.club_djr ul li .con .pic{width:315px;height:175px; margin-top:10px;}
.club_djr ul li .conlast{width:350px;margin:45px auto 0;}
.club_djr ul li .conlast .conmin{height:70px;border-bottom:1px dashed #dfdfdf;font-size: 16px;color: #666;line-height: 70px;}
.club_djr ul li .conlast .conmin img{margin:0 40px 0 15px}
.club_djr ul li .conlast .conmin .pic{width:80px;height:80px;border-radius:100%;float:left;margin:0;margin-top:10px;}
.club_djr ul li .conlast .conmin .conleft{width:260px;float:left;padding-left:10px;}
.club_djr ul li .conlast .conmin .conleft p{line-height:20px;}
.club_djr ul li.last a.btn_blue{margin: 20px auto}

/* -----------line_search begin---------- */
.club_search_box .line_left{float:left;width:910px;}
.line_search_box{width:1150px;margin:0 auto;height:auto;min-height:360px;height:360px;height:auto !important;}
.club_search_box .line_right{float:right;width:220px;padding-top:40px;}
.club_search_box .line_right a{width:205px;height:70px;display:block;margin-bottom:20px;}
.club_search_box p.more_line{height:30px;line-height:30px;padding-left:500px;}
.club_search_box p.more_line a.more_btn{width:140px;height:30px;display:block;text-align:center;}
.club_search_box p.more_line a.more_btn:hover{text-decoration:none;color:#F2A201}
ul.line_intro{overflow:hidden;}
ul.line_intro li{width:374px;border:1px solid #F4F4F4;}
ul.line_intro li a.index_line_pic{overflow:hidden;width:374px;}
ul.line_intro li a.index_line_pic img{width:100%}
.club_search_box .line_left .showhide{display:none}
div.list-empty{font-size: 14px;color: #666;text-align: center}
ul.state div.list-empty p{text-align: left;padding-left: 2px;line-height: 40px;}

.club_line_more a.title{display:block;line-height:40px;border-radius:10px;width:120px;height:40px;font-size:16px;color:#fff;background: #219BD9;margin:-20px auto 20px;text-align: center;}
.club_line_more a.title:hover{background:orange}

