@charset "utf-8";
/* CSS Document */
.fl{float:left;}
.fr{float:right;}
.clearfix{*zoom:1}
.clearfix:after{content:'';clear:both;height:0;display:block;overflow:hidden}
input,img,textarea{vertical-align:middle;font-family:'Microsoft YaHei';}
a,a:hover{text-decoration:none;outline: none}
.orange{color: #f1a400}
.black1{color: #333}
.black2{color: #666}
.gray{color: #999}
.bold{font-weight: bold}
input{outline: none}
hr{border:0px;border-bottom: 1px solid #eee;clear: both}


/*header begin*/
div.head{width: 100%;height: 70px;}
div.head_white{background: #fff;}
div.head_box{width: 1170px;height: 70px;margin: 0 auto;}
div.logo{width: 160px;height: 58px;float: left;background:url("../images/logo1.png") no-repeat;margin-top: 5px;}
div.club_box div.logo{width: 48px;height: 48px;float: left;background:url("../images/club_logo1.png") no-repeat;margin: 11px;}
div.head_white div.logo{background:url("../images/logo2.png") no-repeat;}
div.head_white div.club_box div.logo{background:none;}
div.menu{float: left;_width:463px;}
div.menu ul li{float: left;_width:86px;height: 70px;line-height: 70px;margin-left: 15px;_margin-left:0;}
div.menu ul li a{display:block;color: #fff;height: 64px;line-height: 64px;border-top: 3px solid rgba(255, 255, 255, 0);padding:0 15px;}
div.menu ul li a i{display:inline-block;width: 14px;height: 7px;background: url("../images/head_icon.png") no-repeat 6px -95px;overflow: hidden}
div.head_white div.menu ul li a{color: #000;font-size: 14px}
div.head_white div.menu ul li a i{display:inline-block;background: url("../images/head_icon.png") no-repeat 6px -78px;}
div.menu ul li.cur a,div.head_white div.menu ul li.cur a{background: #f1a400;color: #fff}
div.head_white div.menu ul li a:hover{border-bottom:3px solid #f1a400}
div.menu ul li.hide_bbs{position: relative;width: 86px;z-index: 3;}
div.menu ul li.hide_bbs a{border-left:1px solid rgba(255, 255, 255, 0);border-right:1px solid rgba(255, 255, 255, 0);}
div.head_white div.menu ul li.select a i{background: url("../images/head_icon.png") no-repeat 6px -86px;}
div.menu ul li.select a.select_arrow{position:absolute;border: 0px;height:68px;border-top:3px solid #f1a400;border-left:1px solid #eee;border-right:1px solid #eee;z-index: 2;background: #fff}
div.head_white div.menu ul li.select a:hover{border-bottom: 0px;}
div.head div.select_box{display:none;position:absolute;top:70px;width:120px;border: 1px solid #eee;z-index: 1;background: #fff}
div.menu ul li.select div.select_box{display: block}
div.menu ul li div.select_box a{display:block;height:40px;line-height:40px;font-size: 14px;text-align:left;padding:0 10px;color: #666;border:0px;}
div.menu ul li div.select_box a:hover{background: #eee}


div.search{float: right;position: relative;width: 130px;height: 36px;margin:18px 0px 0px 200px;z-index: 4}
div.search_box{position: absolute; right: 0; top: 0; width: 130px; height: 36px;border-radius: 5px; background: #efefef;-webkit-transition: width .5s ease 0s; transition: width .5s ease 0s;}
div.search_box input{position:absolute;right:0px;border: 1px solid #efefef;  background-color: #efefef;  width: 108px;  height: 34px;  padding: 0 10px;  line-height: 34px;  font-size: 14px;  color: #666;  border-radius: 5px; -webkit-transition: width .5s ease 0s; transition: width .5s ease 0s;text-align: center;}
div.search_box a.search_btn{position: absolute;  top: 8px;  right: 8px;  width: 21px;  height: 21px;  background: url("../images/head_icon.png") 0px -110px; overflow: hidden;}
div.long_search div.search_box{width: 252px;}
div.long_search input{width: 230px;background: #fff;border: 1px solid #f1a400;box-shadow: 0 0 3px #f1a400}
div.long_search a.search_btn{background: url("../images/head_icon.png") -36px -110px;}


div.user{float: right}
div.user ul li{float: left;line-height: 70px;margin-left: 20px;}
div.user ul li a{color: #f1a400}
div.user ul li a:hover{text-decoration: underline}
div.user ul li.sina a{display: block;width: 27px;height: 26px;margin-top:22px;background: url("../images/head_icon.png") no-repeat -4px -4px;}
div.user ul li.sina a:hover{background: url("../images/head_icon.png") no-repeat -4px -41px;}
div.user ul li.weixin a{display: block;width: 27px;height: 26px;margin-top:22px;background: url("../images/head_icon.png") no-repeat -39px -4px;}
div.user ul li.weixin a:hover{background: url("../images/head_icon.png") no-repeat -39px -41px;}

/*登录后的样式*/
div.user_login{float: right}
div.click_in,div.user_news,div.user_profile{float: left}
div.user_news,div.user_profile{margin-left: 20px;position: relative;height: 70px}
div.click_in a.book_in{display: inline-block;width: 55px;text-align:center;margin:0;margin-top:25px;font-size:12px;height: 20px;line-height: 20px;background: #219bda;border-radius: 5px;}
div.click_in a.book_in:hover{background: #f1a400}
div.click_in a{color: #fff;margin: 0 10px}
div.head_white div.click_in a{color: #333;line-height: 70px;}
div.head_white div.click_in a.book_in{color: #fff}

div.user_news a{font-size: 14px;color: #fff;line-height: 70px;}
div.head_white div.user_news a{color: #000}
div.user_news a span{display: block;position: absolute;top:25px;left:-5px;width: 6px;height: 6px;text-align:center;background: #ef523d;border-radius: 6px;}
div.head_white div.user_news a span{color: #fff}
div.user_news a i{display:inline-block;width: 14px;height: 7px;background: url("../images/head_icon.png") no-repeat 6px -95px;}
div.head_white div.user_news a i{background: url("../images/head_icon.png") no-repeat 6px -78px;}
div.head_white div.news_show a i{background: url("../images/head_icon.png") no-repeat 6px -86px;}
div.head div.news_show div.select_box{display: block;left: -30px;}
div.news_show div.select_box dl dd a{display:block;height: 40px;line-height: 40px;color: #666;padding: 0 10px;}
div.news_show div.select_box dl dd a em{font-style: normal;color:#f1a400;margin-left: 10px}
div.news_show div.select_box dl dd a:hover{background: #f1a400;color: #fff}
div.news_show div.select_box dl dd a:hover em{color: #fff}
div.user_profile a span{display: inline-block;width: 32px;height: 32px;border:2px solid #fff;border-radius: 32px;margin-top: 18px;}
div.profile_show a span{border:2px solid #f1a400}
div.user_profile a span img{width: 32px;height: 32px;border-radius: 32px;}
div.user_profile a i{display:inline-block;width: 14px;height: 7px;background: url("../images/head_icon.png") no-repeat 6px -95px;}
div.head_white div.user_profile a i{background: url("../images/head_icon.png") no-repeat 6px -78px;}
div.head_white div.profile_show a i{background: url("../images/head_icon.png") no-repeat 6px -86px;}
div.profile_show div.select_box{display: block;width:330px;right:0;box-shadow:1px 2px 2px #AEACAC}
div.select_box h4{color: #666;font-weight: normal;font-size: 16px;line-height: 40px;padding-left: 10px;background: #eee;clear: both}
div.profile_show div.select_box dl{float: left}
div.profile_show div.select_box dl dd a{font-size: 14px;width:98px;color: #000;display: block;height: 40px;line-height: 40px;padding-left: 10px;}
div.profile_show div.select_box dl dd a:hover{background: #f1a400;color: #fff}

div.profile_show div.select_box div.set_btn a{display: block;width: 170px;height: 40px;text-align: center;line-height: 40px;color: #fff;background: #219bda;border-radius: 5px;margin: 10px;}

div.profile_show div.select_box dl.user_info dd{float: left}
div.profile_show div.select_box div.set_btn a:hover{background:#f1a400;}
div.profile_show div.select_box dl.club_info dd a{width: 100%}
div.profile_show div.select_box dl.club_info dd a i{background: none;margin-left:10px;}
div.profile_show div.select_box dl.club_info dd a:hover{background: none;color: #f1a400;}
div.profile_show div.select_box dl.club_info dd a:hover i{display:inline-block;width: 20px;height: 20px;background: url("../images/setting.png") no-repeat;}


/*header end*/

/*footer*/
.footer{width:100%;background:#333; font-size:14px;clear: both;}
.footer a:hover{color: #f1a400;text-decoration: none;}
.index_footer{width:1200px; margin:0 auto; overflow:hidden;padding-top:55px;_position:relative;_left:50%;_margin-left:-600px;_height:500px;}
.footer_mid{width:700px;padding-left:95px; float:left;}
.footer_mid li{float:left; width:175px; overflow:hidden;}
.footer_mid li p{line-height:30px;color:#999;}
.footer_mid li a{line-height:30px;color:#666;font-size:13px;display:block}
.footer_right{width:290px; float:left; text-align:center}
.footer_right div{width:130px;}
.footer_right div i{width:130px; height:130px;display:block; background:url(../images/footer_icon.png) no-repeat;}
.footer_right div i.app{background-position:0 0;}
.footer_right div i.wx{background-position:-160px 0;}
.footer_right p{ line-height:40px;color:#666;font-size:13px;}
.footer .link{padding-top:50px;_padding-top:0px;clear:both; text-align:center}
.footer .link .line{width: 100%;height: 0px;_height:1px;overflow: hidden; border-bottom:1px solid #3C3C3C;border-top:1px solid #262626;}
.footer .link p{height:70px; line-height:70px;}
.footer .link p a{color:#666;font-size:13px;margin:0 5px;}
.footer .link p a:hover{text-decoration:none;color: #f1a400;}
.footer_logo{width:160px;height:70px;display:block;position:absolute;left:80px;top:0;}
.footer_logo img{width:160px;}
.footer_bottom{padding:0 0 10px 300px;color:#666;font-size:13px; line-height:24px;clear:both;position:relative}
.footer_bottom span{margin:0 5px;}
/*back top*/
.back_top{position:fixed;height:60px;width: 90px;bottom:-60px;left:50%;margin-left:-45px;z-index:9999;-webkit-transition:all 01s ease-in-out;transition:all 1s ease-in-out;}
.back_top.flip{ opacity:1; bottom:0px; -webkit-transition:all 1s ease-in-out;transition:all 1s ease-in-out;}
.back_top a{display:block}
.back_top a p{position:absolute;top:0px;width: 90px;height: 36px;background: url("../images/shanjian1.png") no-repeat}
.back_top a:hover p{background: url("../images/shanjian2.png") no-repeat;animation: myfirst 1s;-moz-animation: myfirst 1s;-webkit-animation: myfirst 1s;-o-animation: myfirst 1s;animation-iteration-count: infinite ; -webkit-animation-iteration-count: infinite;-o-animation-timing-function: linear;-moz-animation-iteration-count: infinite}
.back_top a div{position:absolute;top:26px;width: 90px;height: 36px;background: url("../images/shanding.png") no-repeat;}
@keyframes myfirst
{
    0%   {top:0px;}
    50%  {top:-3px;}
    100% {top:0px;}
}

@-moz-keyframes myfirst
{
    0%   {top:0px;}
    50%  {top:-3px;}
    100% {top:0px;}
}

@-webkit-keyframes myfirst
{
    0%   {top:0px;}
    50%  {top:-3px;}
    100% {top:0px;}
}

@-o-keyframes myfirst
{
    0%   {top:0px;}
    50%  {top:-3px;}
    100% {top:0px;}
}