@charset "utf-8";
/* CSS Document */

/*index banner*/
.slideBox{position:relative;width:100%;min-width:1280px;height:auto;}
.slideBox .hd{ height: 12px; overflow: hidden; position: absolute; bottom: 10px; z-index: 1; width: auto; margin-left: -46px; left: 50%; padding: 4px 0px 0px 11px; }
.slideBox .hd ul{ zoom: 1; }
.slideBox .hd ul li{ float: left; width: 12px; height: 12px; background:#fff; border-radius:12px;cursor: pointer; margin-right: 10px; }
.slideBox .hd ul li.on{ background: #333; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd ul,.slideBox .bd ul li{width:100%!important}
.slideBox .bd img{ width:100%; height:auto; display:block;  }

/*----------index content begin-----------*/
div.index_cont{width: 100%;}
div.index_line_box{_position:relative;_left:50%;_margin-left:-585px;}
/* hot line begin*/
#index_line_tab {margin-bottom:25px;overflow: hidden}
#index_line_tab .tab_title {width: 276px;float: left}
#index_line_tab .tab_title li {height: 68px;color: #666;border-radius: 10px;cursor: pointer}
#index_line_tab .tab_title li p{font-size: 18px;color: #666;padding-top: 8px}
#index_line_tab .tab_title li p span{display: block;font-size:14px;color:#999;line-height: 25px;}
#index_line_tab .tab_title li div img{margin:13px 10px 0px 15px;}

#index_line_tab .tab_title li img.img_before{display: none}
#index_line_tab .tab_title li.tab_current_title {background: #219bd9;}
#index_line_tab .tab_title li.tab_current_title p{color: #fff;}
#index_line_tab .tab_title li.tab_current_title p span{color: #fff}
#index_line_tab .tab_title li.tab_current_title img.img_after{display: none}
#index_line_tab .tab_title li.tab_current_title img.img_before{display: block}

#index_line_tab .tab_content {float:right;width: 1400px;margin-left: 600px;}
#index_line_tab .tab_content div {display:none;}
#index_line_tab .tab_content div ul{width:1400px;overflow: hidden;margin-right:8px;margin-left: 220px;}
#index_line_tab .tab_content div ul li{float: left;_width:275px;position: relative;margin:0 15px 10px 7px;height: 205px;}
#index_line_tab .tab_content div ul li p.line_cover_bg{display:none;position: absolute;left:0;top:0;width: 100%;height: 138px;background: #333;opacity:.7;filter:alpha(opacity=70);z-index: 99}
#index_line_tab .tab_content div ul li p.line_cover_bgs{display: block}
#index_line_tab .tab_content div ul li p.line_cover_txt{display:none;position: absolute;left:0;top:0;width: 275px;height: 98px;color:#fff;text-align: center;z-index: 990;padding-top: 40px;}
#index_line_tab .tab_content div ul li p.line_cover_txts{display: block;}
#index_line_tab .tab_content div ul li p.line_cover_txt span{display: block}
#index_line_tab .tab_content div ul li p.line_cover_txt span a{color: #fff;text-decoration: none;display: block;width: 100%;font-size: 16px;}
#index_line_tab .tab_content div ul li p.line_cover_txt span.line_entry_btn{width:135px;height:32px;line-height:32px;border:2px solid #fff;margin:0 auto;border-radius: 5px;margin-bottom: 10px;}
#index_line_tab .tab_content div ul li p.line_cover_txt span img{width: 20px;margin:-2px 5px 0 0}
.block{display: block;}
#index_line_tab .tab_content div ul li.center_list{margin: 0 21px;}
#index_line_tab .tab_content div ul li a.index_line_title{  display: block;
    color: #333;
    line-height: 35px;
    padding-left: 2px;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 276px;
}
#index_line_tab .tab_content div ul li .offical{ position:absolute;margin-left:86px;bottom:150px;z-index: 10;}
#index_line_tab .tab_content div ul li a.index_line_pic{display:block;width: 276px;height: 130px;background: red}
#index_line_tab .tab_content div ul li a:hover{color: #f1a400}
#index_line_tab .tab_content div ul li p.sign_bg{position:absolute;top:8px;right:-9px;width: 60px;height: 34px;color:#fff;font-size:14px;line-height:25px;text-align:center;background: url("../images/sign_bg.png") no-repeat;}
p.index_line_address{color:#999;font-size:14px;line-height:30px;height:30px;}
p.index_line_price{position:absolute;right:0;top:100px;width: 95px;height: 38px;text-align: center;line-height: 38px;}
p.index_line_price span{position:absolute;right:0;top:0px;display: block;;width: 95px;height: 38px;background: #333;opacity: .6;filter:alpha(opacity=60);}
p.index_line_price em{position:relative;font-style:normal;color: #fff;}
p.index_line_address{color: #999;font-size: 14px;}
.tab_content div.tab_current_cont{display: block}


/* club recommend begin*/
div.index_club_box{width:100%;background: #f4f4f4;overflow: hidden}
div.index_club_box div.wrap{_position:relative;_left:50%;_margin-left:-585px;}
div.index_title{display:block;height:40px;line-height:40px;color: #666;font-weight: normal;padding: 30px 0;}
div.index_title span{font-weight:bold;font-size: 26px;border-bottom:2px solid #1f9fdb;padding-bottom: 2px;}
div.index_title em{font-size:14px;font-style: normal;padding-left: 10px;}
div.index_title a{display: block;float: right;font-size:14px;color:#666;line-height: 38px;}
div.index_title a:hover{text-decoration: none;color: #f1a400;}
ul.index_club_list{padding-bottom:25px;overflow: hidden}
ul.index_club_list li{position:relative;width:233px;float: left;text-align: center;padding-bottom:10px;}
ul.index_club_list li.last_list{border:0;}
div.index_club_mark{position: absolute;right: 0;margin-right: 50px;}
div.index_club_mark img{margin-left:2px;width: 33px;}
div.index_club_logo{margin-top: 18px;}
ul.index_club_list h4{font-size:18px;padding:10px 0;font-weight:normal}
ul.index_club_list h4 a{color:#666;}
ul.index_club_list h4 a:hover{text-decoration: underline}
ul.index_club_list p{font-size: 14px;color:#666;}
div.index_club_member,div.index_club_topic{width:118px;height:25px;margin:0 auto;margin-top:10px;color:#999;font-size:12px;line-height:25px;border:1px solid #dedede;border-radius: 10px;}


/*hot place*/
div.index_place_list{width:100%;overflow: hidden;}
div.index_place_list div{float: left;}
div.index_place_list ul{margin-bottom:6px;_padding-bottom:6px;overflow: hidden}
div.index_place_list ul li{position:relative;float: left;width: 190px;height: 154px;overflow: hidden}
div.index_place_list ul li div{position:absolute;width:100%;height:154px;top:0;left:0;color: #fff;text-align: center;padding-top:40px;cursor: pointer}
div.index_place_list ul li div.place_cover_bg{background:#333;opacity: .3;filter:alpha(opacity=30);}
div.index_place_list ul li div h4{font-weight: normal;font-size:20px;line-height: 25px;}
div.index_place_list ul li div p{font-size: 14px;line-height: 25px;}
div.index_place_list ul li div p img{margin: -2px 5px 0 0;}
div.index_place_list ul li.center_list{margin:0 6px;}
div.index_place_list ul.index_place_list_big li{width: 582px;height: 154px;overflow: hidden}


/*interact*/
div.index_interact{_position:relative;_left:50%;_margin-left:-585px;}
div.index_interact_list ul{overflow: hidden;margin-bottom: 20px;border:1px solid #eee;padding: 17px 0 15px 14px;zoom: 1}
div.index_interact_list ul li{width: 190px;float: left;}
div.index_interact_list ul li a{display: block;width: 190px;height: 58px;_height:78px;color: #666;text-indent: 100px;padding-top: 20px;}
div.index_interact_list ul li a:hover{color: #fff;}
div.index_interact_list ul li.index_travel_note a{background: url("../images/interact_bg.png") no-repeat 0 0;}
div.index_interact_list ul li.index_travel_note a:hover{background: url("../images/interact_bg.png") no-repeat -200px 0;}

div.index_interact_list ul li.index_team_leader a{background: url("../images/interact_bg.png") no-repeat 0 -87px;}
div.index_interact_list ul li.index_team_leader a:hover{background: url("../images/interact_bg.png") no-repeat -200px -87px;}

div.index_interact_list ul li.index_equip_talk a{background: url("../images/interact_bg.png") no-repeat 0 -175px;}
div.index_interact_list ul li.index_equip_talk a:hover{background: url("../images/interact_bg.png") no-repeat -200px -175px;}

div.index_interact_list ul li.index_mountain_streams a{background: url("../images/interact_bg.png") no-repeat 0 -263px;}
div.index_interact_list ul li.index_mountain_streams a:hover{background: url("../images/interact_bg.png") no-repeat -200px -263px;}

div.index_interact_list ul li.index_walk_photo a{background: url("../images/interact_bg.png") no-repeat 0 -350px;}
div.index_interact_list ul li.index_walk_photo a:hover{background: url("../images/interact_bg.png") no-repeat -200px -350px;}

div.index_interact_list ul li.index_run a{background: url("../images/interact_bg.png") no-repeat 0 -437px;}
div.index_interact_list ul li.index_run a:hover{background: url("../images/interact_bg.png") no-repeat -200px -437px;}

div.index_interact_list ul li.index_climb_ice a{background: url("../images/interact_bg.png") no-repeat 0 -525px;}
div.index_interact_list ul li.index_climb_ice a:hover{background: url("../images/interact_bg.png") no-repeat -200px -525px;}

div.index_tour_pal{width: 100%;height: 460px;margin-top:20px;background: url("../images/tour_pal_bg.jpg") no-repeat;padding-top: 50px}
div.index_tour_pal div.wrap{position: relative;_left:50%;_margin-left:-585px;}
.tab_tle{position:relative; top:0; left:50%;width: 550px;margin-left: -275px;}
.tab_tle ul{margin-top: 30px;}
.tab_tle li{width:80px;text-align:center;margin-right:30px;_margin-right:25px;color:#666;float:left;font-size:14px;position:relative; top:0; left:0;z-index:2; cursor:pointer;}
.tab_tle li img{border: 2px solid #ccc}
.tab_tle li.now img{border:2px solid #f1a400}
.tab_tle li p{line-height: 30px;}
.movebg{background:url('../images/title_arrow_d.png') no-repeat; width:80px; position:absolute; top:-30px;+top:0; left:0px; height:30px;z-index:1;}

.tab_con{position:relative;top:0;left:0;border-bottom:2px solid #ccc;width:1170px; overflow:hidden;+width:1000000px;}
.tab_con ul{float:left;width:1170px;}
.tab_li{position:relative; top:0; left:0;width:1000000px;+width:1170px;+float:left;}

p.index_tour_lt{width: 38px;height: 28px;background: url("../images/index_icon.png") no-repeat -75px -461px;float: left;margin-top: 90px}
p.index_tour_rg{width: 38px;height: 28px;background: url("../images/index_icon.png") no-repeat -144px -461px;float: right;margin-top: 90px}
div.index_tour_cont {overflow: hidden;padding-bottom: 30px;zoom:1;+float:left}
div.index_tour_cont div {display:none;zoom:1;overflow: hidden}
.index_tour_cont_lt{width:495px;float: left;text-align: left;margin: 0 58px 0 60px;_margin: 0 28px 0 60px}
.index_tour_cont_rg{float: left;margin-top: 45px;}
.index_tour_cont_rg a{display: block;float: left;margin-left: 15px;}
div.index_tour_cont h4{padding-bottom: 15px;font-weight: normal}
div.index_tour_cont h4 a{font-size:24px;color: #333;}
div.index_tour_cont h4 a:hover{text-decoration: underline}
div.index_tour_cont p{overflow: hidden;font-size: 16px;line-height: 28px;}
p.index_tour_interact{margin-top: 10px;}
p.index_tour_interact span.index_tour_num{width:100px;float: left;font-size:14px;color:#666;padding-left:30px;background: url("../images/index_icon.png") no-repeat -11px -379px;margin-top:5px;}
p.index_tour_interact span.index_tour_recommend{width:100px;float: left;font-size:14px;color:#666;padding-left:30px;background: url("../images/index_icon.png") no-repeat -11px -415px;margin-top:5px;}
p.index_tour_interact a{display:block;width: 32px;height: 32px;float: right;background: url("../images/index_icon.png") no-repeat -6px -456px;text-indent: -9999px;}
/*index explain*/
div.index_explain{margin-top: 15px;_position:relative;_left:50%;_margin-left:-585px;}
/*----------index content end-----------*/

.tab_btn {
    position: absolute;
    top: 80px;
    left: 40px;
    width: 100%;
    height: auto;
}

.tab_btn .tab_prev {
    left: -40px;
    background: url("../images/arrow_btn.png") no-repeat -10px -16px;
}
.tab_btn a {
    display: block;
    width: 18px;
    height: 51px;
    position: absolute;
    top: 0;
}

.tab_btn .tab_next {
    right: 40px;
    background: url("../images/arrow_btn.png") no-repeat -55px -16px;
}


/*俱乐部热门路线*/
#club_index_line_tab {margin-bottom:25px;overflow: hidden}
#club_index_line_tab .tab_content {margin: 40px auto 0;width: 100%}
#club_index_line_tab .tab_content div ul li{float: left;width:275px;position: relative;margin:0 15px 10px 1px;}
#club_index_line_tab .tab_content div ul li p.line_cover_bg{display:none;position: absolute;left:0;top:0;width: 100%;height: 138px;background: #333;opacity:.7;filter:alpha(opacity=70);z-index: 2}
#club_index_line_tab .tab_content div ul li p.line_cover_txt{display:none;position: absolute;left:0;top:0;width: 275px;height: 98px;color:#fff;text-align: center;z-index: 3;padding-top: 40px;}
#club_index_line_tab .tab_content div ul li p.line_cover_txt span{display: block}
#club_index_line_tab .tab_content div ul li p.line_cover_txt span a{color: #fff;text-decoration: none;display: block;width: 100%;font-size: 16px;}
#club_index_line_tab .tab_content div ul li p.line_cover_txt span.line_entry_btn{width:135px;height:32px;line-height:32px;border:2px solid #fff;margin:0 auto;border-radius: 5px;margin-bottom: 10px;}
#club_index_line_tab .tab_content div ul li p.line_cover_txt span img{width: 20px;margin:-2px 5px 0 0}
.index_line_title{display:block;color: #333;line-height:35px;height:35px;padding-left: 2px;font-size: 16px;width: 100%;overflow: hidden}
#club_index_line_tab .tab_content div ul li p.sign_bg{position:absolute;top:8px;right:-9px;width: 60px;height: 34px;color:#fff;font-size:14px;line-height:25px;text-align:center;background: url("../images/sign_bg.png") no-repeat;z-index: 3}
p.index_line_address{color:#999;font-size:14px;line-height:30px;height:30px;}
p.index_line_price{position:absolute;right:0;top:100px;width: 95px;height: 38px;text-align: center;line-height: 38px;}
p.index_line_price span{position:absolute;right:0;top:0px;display: block;;width: 95px;height: 38px;background: #333;opacity: .6;filter:alpha(opacity=60);}
p.index_line_price em{position:relative;font-style:normal;color: #fff;}
p.index_line_address{color: #999;font-size: 14px;}
