@charset "utf-8";
/* CSS Document */
*{padding:0; margin: 0; border: 0; }
body,button {font-family:'Microsoft YaHei'; margin:0 auto;}
ul, ol, li, dl, dd, dt{margin:0;padding:0;list-style:none;}

.fl{float:left;}
.fr{float:right;}
.clearfix{*zoom:1}
.clearfix:after{content:'';clear:both;height:0;display:block;overflow:hidden}
input,img{vertical-align:middle;font-family:'Microsoft YaHei';}
a,a:hover{text-decoration:none;outline: none}
.orange{color: #f1a400}
.black1{color: #333}
.black2{color: #666}
.gray{color: #999}
.bold{font-weight: bold}
.hide{display: none;}
.show{display: block;}

/*按钮样式*/

a.btn_blue,button.btn_blue{cursor:pointer;display:block;width:178px;height:36px;background:#219BD9;text-align:center;line-height:36px;color:#fff;font-size:16px;}
a.btn_blue:hover{background: #f1a400}
a.btn_gray{display: block;width: 65px;border-radius: 10px;background: #ccc; height: 36px; line-height: 36px;  color: #fff; text-align: center;}
a.btn_gray:hover{background: #f1a400}
a.btn_short_blue{display:block;width:86px;height:36px;color:#fff;font-size:14px;background:#219BD9;border-radius:10px;text-align:center;line-height:36px;}
a.btn_short_blue:hover{background: #f1a400}

/*面包屑*/
div.user_guest_crumb{font-size: 14px;color: #999;overflow: hidden;margin-bottom: 10px;}
div.user_guest_crumb a{font-size: 14px;color: #999}
div.user_guest_crumb a:hover{text-decoration: underline}

/*优惠券*/
div.coupon_valid{background:#f1a400;color:#fff;width: 107px;margin:0 auto;height:53px;border-radius: 10px;text-align: center}
div.coupon_valid h4{height: 22px;font-weight:normal;border-bottom: 1px solid #ffae00;line-height: 22px;}
div.coupon_valid p{font-size: 24px;font-weight: bold;line-height: 30px;}
div.coupon_invalid{background: #ccc}
div.coupon_invalid h4{border-bottom: 1px solid #fff}

/*切换链接头部样式*/
ul.tab{overflow: hidden;  zoom: 1;}
ul.tab li{float: left;  color: #fff;  width: 160px;  height: 60px;  line-height: 60px;  background: #ccc;  text-align: center;  margin-right: 10px;}
ul.tab li a{display: block; width: 160px;  height: 60px; font-size: 20px;  color: #fff;}
ul.tab li.current a{background: #f1a400}
ul.tab li a:hover{background: #f1a400}

.wrap{width:1170px; margin:0 auto;overflow: hidden;padding-top: 20px;}


/*首页大头部公共样式*/
/*index top begin*/
div.index_top{position: relative;_height:140px;z-index: 99}

/*header*/
div.index_header_bg{width: 100%;height:140px;background:url("../images/alpha-50.png") repeat;z-index: 2999;}
div.index_header_box{position:relative;width:1170px;margin:0 auto;}
div.index_header_up{height: 95px;}
div.index_header_logo{float: left}
div.index_header_info{width:830px;float: right}
div.index_header_user{height: 42px;}
div.index_header_user a{display: block;font-size:12px;float: right;color: #333;margin-left:20px;line-height: 28px;margin-top: 16px;}
div.index_header_user a:hover{color: #f1a400}
div.index_header_user a.index_weibo{width:24px;height:19px;text-indent: -9999px;background: url("../images/index_icon.png") no-repeat 0 -70px;}
div.index_header_user a.index_weibo:hover{background: url("../images/index_icon.png") no-repeat -31px -70px;}

div.index_header_user div.index_phone a{width:12px;height:19px;text-indent: -9999px;background: url("../images/index_icon.png") no-repeat 0 0;}
div.index_header_user div.index_phone a:hover{background: url("../images/index_icon.png") no-repeat -32px 0;}
div.index_header_user div.index_phone div{margin-right: 85px}

div.index_header_user div.index_weixin a{width:23px;height:19px;text-indent: -9999px;background: url("../images/index_icon.png") no-repeat 0 -36px;}
div.index_header_user div.index_weixin a:hover{background: url("../images/index_icon.png") no-repeat -31px -36px;}
div.index_header_user div.index_weixin div{margin-right: 45px}

div.index_header_user div.code_select div{position: absolute;top:40px;right:0;display: none;z-index: 9999}
div.index_header_search{width:370px;height:36px;}
div.index_header_search input{background: #fff; float: left;width:295px;height: 36px;line-height: 36px;padding-left: 10px;}
div.index_header_search .index_serach_btn{display: block;float: left;width: 65px;height:36px;line-height:36px;text-align:center;background:#219bd9;color: #fff;}


/*index nav*/
div.nav_box{position: absolute;height: 45px;}
div.nav_box ul li{float: left;height: 45px;line-height: 45px;margin-right: 65px;_margin-right:30px;}
div.nav_box ul li.last{margin: 0}
div.nav_box ul li a{font-size: 16px;color: #000}
div.nav_box ul li a:hover{color:#219bd9 }
div.nav_box ul li.nav_all{width: 276px;}
div.nav_box ul li.nav_all a{display:block;width:276px;height:45px;color:#fff;line-height:45px;text-align:center;background: url("../images/index_icon.png") no-repeat 0 -113px;}
div.nav_box ul li.nav_select a{background: url("../images/index_icon.png") no-repeat 0 -186px;}
div.nav_box ul li.nav_all a:hover{color: #fff}

div.index_line_category{position:absolute;top:140px;width:1170px;color: #fff;overflow: hidden;display: none}
div.index_line_category ul li h4{font-weight: normal}
div.index_line_category ul li a{color: #fff}
div.index_line_category div.category_left{width:276px;float:left;height:369px;background: #22aded;overflow: hidden;zoom:1;display: block}
div.category_left ul li{padding: 3px 0;height: 117px;}
div.category_left ul li.index_subject_activity h4{background: url("../images/index_icon.png") no-repeat 18px -243px;padding: 10px 0 10px 70px;}
div.category_left ul li.index_special_activity h4{background: url("../images/index_icon.png") no-repeat 18px -283px;padding: 10px 0 10px 70px;}
div.category_left ul li.index_destination h4{background: url("../images/index_icon.png") no-repeat 18px -330px;padding: 10px 0 10px 70px;}
div.category_left ul li a{color: #fff;font-size: 14px;}
div.category_left ul li dl{height: 38px;line-height: 38px;margin-left: 28px;}
div.category_left ul li dl dd{float: left;margin-right: 15px}

div.index_line_category div.category_right{display:none;width:894px;height:369px;float: right;background: #219bd9;}

div.index_special_cont{overflow:hidden;padding:40px 19px;display: none}
div.index_special_cont div.index_special_cont_lt{float: left}
div.index_special_cont div.index_special_cont_lt dl{width: 520px;}
div.index_special_cont div.index_special_cont_lt dl dd{width:242px;height:88px;text-align:center;float: left;margin-right: 10px;margin-bottom: 10px;}
div.index_special_cont div.index_special_cont_lt dl dd a{color: #fff;display: block;height: 88px;border: 1px solid #fff}
div.index_special_cont div.index_special_cont_lt dl dd a:hover{background: #22aded;border: 1px solid #22aded}
div.index_special_cont div.index_special_cont_lt dl dd a:hover p{color: #fff}
div.index_special_cont div.index_special_cont_lt dl dd h4{font-weight: normal;padding-top: 20px;}
div.index_special_cont div.index_special_cont_lt dl dd p{font-size: 13px; color: #fff;line-height: 30px;}
div.index_special_cont div.index_special_cont_rg{float: right;width: 276px;}
div.index_special_cont div.index_special_cont_rg a{display:block;margin-bottom: 10px}

div.index_destination_cont{padding:20px 19px;display: none;_width:835px;}
div.index_destination_cont h4{font-size:14px;border-bottom:1px solid #fff;color:#fff;line-height: 35px;margin-bottom: 10px;overflow: hidden;zoom: 1}
div.index_destination_cont h4 span{display: block;float: left}
div.index_destination_cont h4 a{color:#fff;float: right}
div.index_destination_cont dl{width: 100%;padding-left: 10px;background:#219bd9 }
div.index_destination_cont dl dd{line-height: 30px;}
div.index_destination_cont dl dd span{font-size: 16px;margin-right: 30px;}
div.index_destination_cont dl dd a{font-size: 13px;margin-right: 15px;color:#fff}


div.index_subject_cont{overflow: hidden;padding:20px 19px;display: none}
div.index_subject_cont_lt{width:520px;float: left}
div.index_subject_cont_lt h4{font-size:14px;border-bottom:1px solid #fff;color:#fff;line-height: 35px;margin-bottom: 10px;overflow: hidden;zoom: 1}
div.index_subject_cont_lt h4 span{display: block; float: left;}
div.index_subject_cont_lt h4 a{color:#fff;float: right}
div.index_subject_cont_lt dl{overflow: hidden;border-left: 1px solid #fff;border-bottom: 1px solid #fff;margin:0 11px;}
div.index_subject_cont_lt dl dd{border:1px solid #fff;border-left:0;border-bottom:0;text-align: center;float: left}

div.index_subject_cont_lt dl dd a{color: #fff;display: block;padding: 5px 19px;}
div.index_subject_cont_rg{float: right;width: 276px;}
div.index_subject_cont_rg a{display:block;margin-bottom: 10px}
div.index_nav_holiday a{color: #fff;margin-right:15px;}

/*index top end*/


/*user&destination头部*/
div.site_top{position:relative;width: 100%;height:70px;}
div.site_header{width: 100%;height: 70px;background:url("../images/alpha-50.png") repeat;z-index: 2999;}
div.site_header_box{width: 1170px;margin: 0 auto;}
div.site_header_box div.logo{float: left}
div.site_header_box div.logo img{width: 140px;margin-top: 2px;}
div.site_header_box h4{float: left;font-size: 26px;font-weight:normal;color: #fff;line-height: 70px;margin-left: 20px;}
div.site_header_box div.menu{float: left;_width:956px;}
div.site_header_box div.menu ul li{float: left;height:70px;line-height:70px;margin-left: 55px;_width:100px;_margin-left:10px;}
div.site_header_box div.menu ul li a{color: #000; font-size: 16px;}
div.site_header_box div.menu ul li a:hover{color:#219bd9 }
div.site_header_box div.user{float: right;}
div.site_header_box div.user ul li{float: left; margin-left: 25px;}
div.site_header_box div.user ul li a{color: #000; font-size: 14px;}
div.site_header_box div.user ul li a:hover{color: #f1a400}

/*纯色的头部样式*/
/* head begin */
.head_nav_bg{width:100%;height:70px;background:#219BD9;}
.head_nav{width:1170px;margin:0 auto;}
.head_nav .head_logo{float: left}
.head_nav .head_logo img{width: 140px;margin-top: -4px;}
.head_nav .head_menu{float: left}
.head_nav .head_menu ul li{float: left;height:42px;line-height:42px;margin-left: 55px;margin-top: 12px;}
.head_nav .head_menu ul li a{color:#fff;font-size:16px;}
.head_nav .head_menu ul li a:hover{}
.head_user{float:right;}
.head_user ul li{ float:left;height:70px;line-height:70px;margin-left:25px;}
.head_user ul li a{color:#fff;font-size:14px;}
.head_user ul li a:hover{color:#f1a400}


div.site_header ul li{height: 70px;line-height: 70px;}

div.index_header_user div.user_login ul li div{top:30px;}
div.club_manage_box div.user_login ul li div{top:inherit}
div.destination_box div.user_login ul li div{top:35px;}
div.user_login ul li div{display:none;position: absolute;top:10px;left:-40px;width:120px;z-index: 99999}
div.user_login ul li.header{width:100px;overflow: hidden;  text-overflow: ellipsis;text-align: right; white-space: nowrap;}
div.user_login ul li div dl dt{text-align: center;line-height:-moz-block-height;}
div.user_login ul li div dl dt img{vertical-align: bottom}
div.user_login ul li div dl dd{display: block;text-align: left;background: #fff;}
div.user_login ul li div dl dd a{display:block;float: inherit;color:#333;height:35px;line-height:35px;padding-left: 10px;overflow: hidden}
div.user_login ul li div dl dd a span{color: #f1a400;background: none}
div.user_login ul li div dl dd a:hover{background: #f1a400;color: #fff;}
div.user_login ul li div dl dd a:hover span{color: #fff}
div.user_login ul li div.club{width: 135px;}
div.user_login ul li{float:left;position: relative;height:42px;line-height:42px;margin-left: 25px;margin-top: 12px;}
div.index_header_user div.user_login ul li a{margin: 0;font-size: 14px;}
div.user_login li a{color: #fff}
div.user_login1 li a{color: #000}
div.user_login li a span{font-size: 12px;padding: 2px 10px 2px 8px;background:#219bd9;border-radius: 10px;margin-left: 5px}
div.user_login li a:hover{color: #f1a400}
div.user_login li a:hover span{background: #f1a400;color: #fff}
div.community_box div.site_header{background: #219bd9}
div.community_box div.site_header ul li a{color: #fff}
div.community_box div.site_header ul li a:hover{color: #f1a400}
div.community_box div.site_header div.menu ul li a:hover{color: #fff}
div.community_box div.site_header div.user_login ul li.header img{width: 36px;height: 36px;border-radius: 36px;}
div.community_box div.site_header div.user-link ul li{height: 45px;line-height: 45px;text-align: center}
div.community_box div.site_header div.user-link ul li a{padding: 0;color: #999}
div.community_box .yp-header-user{padding-top:20px;padding-bottom: 15px;}
/*头部的标签说明*/
div.site_header_mark{width: 1170px;overflow:hidden;zoom:1;margin: 0 auto;margin-top: 300px;}
div.site_header_mark ul li{float: left;font-size: 14px;color: #fff;background: #219bd9;padding: 0 18px;}
div.site_header_mark div.fl h4{font-size: 50px;font-weight: normal;color: #fff;padding-left: 10px;margin-bottom: 30px;}
div.site_header_mark div.fl ul li{margin-right: 10px;height: 36px;line-height: 36px;border-radius: 36px;}
div.site_header_mark div.fl ul li img{width: 20px;margin-right: 10px;}
div.site_header_mark div.fl ul li a{color: #fff}

div.site_header_mark div.fr ul{border:1px solid #22aded;border-right: 0;margin-top: 64px;}
div.site_header_mark div.fr ul li{border-right: 1px solid #22aded;text-align: center;padding: 5px 10px;}
/*user&destination banner*/
div.banner_box{margin: auto;width: 1200px;}
div.banner_box img{margin: auto;}


/*表示活动强度样式*/
ul li.level_full{width:18px;height:24px;background:url("../images/line_icon.png") no-repeat -4px -32px;}
ul li.level_empty{width:18px;height:24px;background:url("../images/line_icon.png") no-repeat -4px -70px;}
.set_con dl.strength dd ul li{float: left;margin: 5px 2px 0 0;}
.set_con dl.strength dd ul li.level_empty{background:url("../images/line_icon.png") no-repeat -4px -316px;}

.set_con dl.enroll dd ul li{float: left;margin: 6px 10px 0 0;width:150px;height:20px;overflow:hidden}
.set_con dl.enroll dd ul li span{font-size: 16px;}
/*recommend club*/
.club_recommend ul{overflow:hidden}
.club_recommend ul li{height:140px;width:374px;border:1px solid #eee;background:#f4f4f4;float:left;margin:0 20px 20px 0;overflow:hidden;}
.club_recommend ul li.last{margin-right:0;}
.club_recommend ul li .logo{width:120px; height:120px; margin:10px;float:left;}
.club_recommend ul li .con{float:left;width:230px;color:#999;padding-top:10px;}
.club_recommend ul li .con .tit{font-size:18px;color:#666;line-height:40px;}
.club_recommend ul li .con .p{line-height:28px;color:#666;height:28px;}
.club_recommend ul li .con .p em{width:15px;height:15px;float:left;margin-right:2px;margin-top:6px;}
.club_recommend ul li .con .p em img{width:15px;height:15px;vertical-align:middle;}
.club_recommend ul li .con p{color:#999;line-height:50px;}
.club_recommend ul li .con p span{margin-right:15px;}

.club_topic_list{overflow:hidden;width:100%;}
.club_topic_list a{color:#999;}
.club_topic_list li{background:#333;width:100%;padding:15px 0;position:relative;margin-bottom:20px;overflow:hidden;}
.club_topic_list li .user{width:100px;float:left;padding:5px 20px;text-align:center}
.club_topic_list li .user img{width:100px; height:100px;border-radius:100%;margin-bottom:10px;}
.club_topic_list li .con{width:530px;float:left;overflow:hidden}
.club_topic_list li .con .tit{height:45px;line-height:45px;font-size:16px;}
.club_topic_list li .con .tit span{width:30px; height:16px;text-align:center;line-height:16px;color:#fff;display:inline-block;font-size:14px;margin-left:5px;}
.club_topic_list li .con .tit span.j{background:url(../images/c_icon05.png) 0 0 no-repeat}
.club_topic_list li .con .tit span.d{background:url(../images/c_icon05.png) -33px 0 no-repeat}
.club_topic_list li .con p{line-height:25px;color:#999;}
.club_topic_list li .con .p_b{line-height:20px;color:#666;margin-top:20px;}
.club_topic_list li .con .p_b a{color:#666;margin-right:10px;}
.club_topic_list li .con img{margin:10px 5px 0 0;}
.club_topic_list li .tag{position:absolute;width:80px;height:72px;padding-top:10px; background:url(../images/tag.png) no-repeat;top:0;right:10px;text-align:center;}
.club_topic_list li .tag span{color:#fff;font-size:16px;line-height:25px;}

/*结伴样式*/
.mate_list{overflow: hidden}
.mate_list li{width:275px;height:380px;overflow:hidden;margin:0 20px 40px 0;float:left;background:#F4F4F4;border:1px solid #F4F4F4;color:#999;position:relative}
.mate_list li.last{margin-right:0}
.mate_list li .img{height:138px;width:100%;overflow: hidden;}
.mate_list li .con{padding:0 15px;overflow:hidden;}
.mate_list li .con .tit{font-size:16px;color:#333;line-height:50px;}
.mate_list li .con a:hover.tit,.mate_list li .con p.p2 a:hover{color:#f1a400}
.mate_list li .con p.p1{line-height:25px;height:50px;overflow:hidden;margin-bottom:20px;}
.mate_list li .con .usercon{height:55px;width:100%;overflow:hidden; margin:10px;}
.mate_list li .con .usercon .userpic{width:55px;height:55px;position:relative;float:left}
.mate_list li .con .usercon .userpic .pic{width:48px;height:48px;border-radius:100%;}
.mate_list li .con .usercon .userpic .icon{width:20px;height:20px;position:absolute;bottom:2px;right:2px;}
.mate_list li .con p.p2{line-height:25px; float:left;width:170px;padding-left:10px;}
.mate_list li .con p.p2 a{color:#999;}
.mate_list li .con p.p2 em{width:15px;height:15px;float:left;margin-right:5px;}
.mate_list li .con p.p2 em img{width:15px;height:15px;vertical-align:middle;}
.mate_list li .con p.p3{padding-top:10px;border-top:1px solid #EEEEEE;text-align:center}
.mate_list li .con p.p3 span{color:#666;font-size:24px;font-weight:bold}
.mate_list li p.line_cover_bg{position: absolute;left:0;top:0;width: 100%;height:138px;background:#333;opacity:.3;filter:alpha(opacity=30);z-index: 99;display:none}
.mate_list li p.line_cover_txt{position:absolute;left:0;top:0;height:88px;width:100%;color:#fff;text-align:center;z-index:990;padding-top:50px;display:none}
.mate_list li p.line_cover_txt a.line_entry_btn{height:35px;width:130px;line-height:32px;border:2px solid #fff;border-radius:5px;margin:0 auto;text-align:center;display:block;color:#fff;font-size:20px;}

/* select*/
div.selectnav{position:relative;width:190px;background: #fff}
div.selectnav cite{display:block;font-size:14px;color:#999;font-style:normal;padding-left:10px;height:36px;line-height:36px;background:url(../images/jt.png) no-repeat 165px 9px;cursor:pointer;}
div.selectnav ul{position:absolute;top:36px;left: 0;height:144px;overflow-y:scroll;border:1px solid #f1a400; background:#fff; z-index:20000; display:none;}
div.selectnav ul li{line-height:34px;border-bottom: 1px dashed #f4f4f4}
div.selectnav ul li a{display:block;font-size:14px;color:#999;width: 162px;padding-left: 10px;}
div.selectnav ul li a:hover{background:#ccc;color:#666;}

/*切换样式*/
ul#tags{overflow: hidden;zoom: 1}
ul#tags li{float: left;width: 105px;height: 40px;margin-right: 1px;text-align: center}
ul#tags li a{display: block;width: 105px;height: 40px;font-size: 16px;color: #fff;line-height: 40px;background: #ccc}
ul#tags li.selectTag a{background: #f1a400}
div#tagContent div.tagContent{display: none}
div#tagContent div.selectTag{display: block}
div#tagContent div.tagContent textarea{width: 668px;height:280px;border: 1px solid #f1a400}

/* 翻页 */
div.page{overflow: hidden;float:right;margin:15px 0;}
div.page ul{float: right}
div.page ul li{width:45px;height:45px;line-height:45px;text-align:center;float: left;margin:0 10px 0 0;background: none;padding: 0}
div.page ul li a{display: block;font-size: 14px;color: #999;background: #f4f4f4;width: 45px;height: 45px;text-align: center;line-height: 45px;}
div.page ul li.current a{background:#219bd9;color: #fff }
div.page ul li.active span{background:#219bd9;color: #fff;display: inline-block;width:45px;height: 45px;line-height:45px;text-align: center;}
div.page ul li a:hover{background:#219bd9;color: #fff;text-decoration:none }


/*加载更多*/
div.user_comm_more a{display:block;width: 290px;height: 40px;margin:0 auto;text-align:center;font-size: 14px;color: #666;line-height: 40px;background: #fff;border-radius: 10px;margin-top: 20px;border: 1px solid #eee}
div.user_comm_more a:hover{background: #f1a400;color: #fff}

/* -----------club_activity_box,club_search_box,line_search_box---------- */
.club_search_box{width:1150px;padding:10px;background:#fff;color:#999;margin:0 auto;overflow:visible}
.club_activity_box{background:#333;border:1px solid #444;padding:15px 10px 5px;margin:10px 0 23px 0;color:#999;}
.club_activity_box a,.club_search_box a{color:#999;}
.club_activity_box dl,.club_search_box dl{border-bottom:1px dashed #444;overflow:hidden;margin-bottom:10px;padding:0 0 8px 90px;clear:both}
.club_activity_box dl dt,.club_search_box dl dt{float:left;width:80px;padding-left:10px; margin-left:-80px;display:inline}
.club_activity_box dl.theme ul{overflow: hidden;zoom: 1}

.club_search_box div.selectnav {  width: 160px;  height: 24px;  border: 1px solid #eee;  float: left;  margin: 0 5px;  z-index: 1;  }
.club_search_box div.selectnav h4 p{float:left;padding-left:5px;}
.club_search_box div.selectnav cite {  width: 125px; height: 20px;  line-height: 20px;  margin-top: 3px;  font-weight: normal;  float: left;  }
.club_search_box div.selectnav ul {  width: 158px;  top: 25px;  }
.club_search_box div.selectnav ul li a {  width: 130px;  }


.club_search_box dl.city{height: 26px;line-height:26px;overflow: visible}
.club_search_box dl.city span{display: block;float: left}
dl.selected{line-height:24px;color:#219bd9;}
dl.selected ul{overflow:hidden;}
dl.selected ul li{height:22px;border:1px dashed #219bd9;padding:0 8px;float:left; margin-right:8px;overflow:hidden;}

dl.selected ul li a{display:inline-block;width:10px;height:10px;margin:7px 0 0 5px;_margin:0 0 0 5px;background:url(../images/x.png) no-repeat;}
dl.selected ul li a:hover{background:url(../images/x.png) no-repeat #fff;}
dl.theme dt{line-height:70px}
dl.theme .all{line-height:70px;float: left;display: inline; margin-right:8px;}
dl.theme ul{margin-left: -8px;}
dl.theme ul li{text-align:center;float:left; margin:8px;}
dl.theme ul li .pic{margin:5px;}
dl.theme ul li span{display: block}
dl.time,dl.type,dl.destination{line-height:24px;}
dl.time .all,dl.type .all,dl.destination .all{float:left;display:inline; margin-right:8px;padding: 0 5px;}
dl.time .text{width:70px; height:24px;background:#fff;padding-left:35px;background:url(../images/date_icon.png) 6px center no-repeat #fff;}
dl.type .text{width:100px; height:24px;background:#fff;border:1px solid #eee;float:left;}
dl.type .text span{color:#ccc;border-right:1px solid #ccc; padding:0 3px;}
dl.type .text input{width:70px;color:#999;font-size:14px;margin:-3px 0 0 4px;}
dl.type .a{float: left}
dl.time .btn{width:50px;height:24px;text-align:center;color:#fff;background:#219BD9;display:inline-block;margin-left:10px;}
dl.destination a:hover{text-decoration:none;}
dl.destination .destination_tit{border-bottom:1px solid #eee;height:30px;}
dl.destination .destination_tit li{margin-right:20px;height:30px;display:block;float:left;cursor:pointer}
dl.destination .destination_tit li.currt{color:#F2A201;background:url(../images/currt_bg.jpg) no-repeat bottom center;margin-top:2px;line-height:20px;}
dl.destination .destination_con{padding:5px 0;}
dl.destination .destination_con div{display:none;overflow: hidden}
.club_search_box dl{border-bottom:1px dashed #EEEEEE;}
.club_search_box dl.theme ul li{text-align:center;background:#fff;}
.club_search_box dl.theme ul li a{height:90px;width:60px;display:block;color:#666;border:1px solid #fff;}
.club_search_box dl.theme ul li.select a{border:1px solid #F2A201}
.club_search_box dl a.yellow_btn,dl.destination .destination_con a{height:24px;padding:0 10px;text-align:center;display:inline-block;margin:0 10px 5px 0;}
.club_search_box dl a:hover.yellow_btn,.club_search_box dl a.current_yellow,dl.destination .destination_con a:hover,dl.destination .destination_con a.current{color:#fff;background:#F2A201;text-decoration:none;}

.club_search_box dl.club{line-height: 24px;height: 24px;}
.club_search_box dl.club .club_tab{width:200px;margin-left:15px;height:24px;border-radius: 3px;border: 1px solid #eee;}
.club_search_box dl.club .club_input{float:left;width:165px;height: 24px;line-height: 24px;padding: 0 5px;font-size: 14px;color: #999;text-align: center;}
.club_search_box dl.club .search_btn{cursor:pointer;margin-top:2px;width: 20px;height: 20px;display: inline-block; background: url("../images/head_icon.png") 0px -110px;overflow: hidden;}
/*首页底部*/
.footer{width:100%;background:#333; font-size:14px;clear: both}
.footer a:hover{text-decoration:underline;}
.footer .link{padding-top: 55px; clear:both; text-align:center}
.footer .link .line{width: 100%;height: 0px;overflow: hidden; border-bottom:1px solid #3C3C3C;border-top:1px solid #262626;}
.footer .link p{height:70px; line-height:70px;}
.footer .link p a{color:#666;font-size:13px;margin:0 5px;}
div.bbs_footer{background: #219bd9;margin-top: 10px;}
div.bbs_footer .footer_logo{width:240px; height:105px;background:url(../images/logo01.png) no-repeat; display:block; margin:0 auto 18px auto;}
div.bbs_footer .footer_left{color: #fff}
div.bbs_footer .tel a{color: #fff;background: url("../images/qq_w.png") no-repeat}
div.bbs_footer .small_footer .con{color: #fff}
div.bbs_footer .small_footer .con a{color: #fff}


/*除首页外底部*/
.small_footer{width:1170px; margin:0 auto; overflow:hidden;padding:45px 0 30px 0;}
.small_footer .con{width:750px;padding-left:70px; float:left; line-height:22px;color:#666;font-size:13px;}
.small_footer .con a{margin-right:25px;color:#999;}
.small_footer .marb30{margin-bottom: 30px;}
.small_footer span{margin:0 5px;}

.club_footer{width:1170px; margin:0 auto; overflow:hidden;padding:40px 0;}
.club_footer ul{padding-left: 100px;}
.club_footer ul li{float:left;width:180px;height:50px;padding-left:50px;background:url(../images/footer_icon_s.png) no-repeat;}
.club_footer ul li.mail{background-position:0 0;}
.club_footer ul li.qq{background-position:0 -60px;}
.club_footer ul li.telephone{background-position:0 -130px;}
.club_footer ul li.address{background-position:0 -190px; width:250px;}
.club_footer ul li a{color:#999; margin-bottom:15px;display:block}
.club_footer ul li span{color:#666;font-size:13px;}
.club_footer p{text-align:center; clear:both;color:#666;font-size:13px;padding-top:40px;}
.club_footer p span{margin-right:10px;}
.club_footer .link{padding-top:0;}

/*线路表单*/
div.line_form{width:740px;background: #fff;border: 1px solid #fff;}
div.line_form div.line_form_box{margin:10px;border: 1px solid #eee}
div.line_form_box h4{font-size: 14px;font-weight:normal;height: 40px;background: #f4f4f4;line-height: 40px;border-bottom: 1px solid #eee}
div.line_form_box h4 span{display: block;float: left;color: #666}
div.line_form_box h4 a{display:block;float:right;margin-right:10px;color: #219bd9}
div.line_form_box a:hover{color: #F2A201}
div.club_manage_right div.line_form_box div.set_con{margin-top:15px;}
div.line_form_box div.set_con input.date{width:128px;border: 1px solid #eee;}
div.line_form_box div.set_con span{margin: 0 10px;}
div.line_form_box div.set_con p{display: inline;margin-left: 10px;}
div.line_form_box table{float: left;border-left:1px solid #eee;border-bottom:1px solid #eee;margin-right: 10px;}
div.line_form_box table tr td{padding:5px;border-top:1px solid #eee;border-right: 1px solid #eee;text-align: center}
div.line_form_box table tr td a{font-size:14px;color: #219bd9;margin:0px 10px;}
div.line_form_box div.set_con a.btn_blue{width:87px;float: left;margin-top: 55px;}
div.line_form_box div.set_con a.btn_blue:hover{color: #fff;}

/*个人中心关于弹出层及弹出层内容的样式*/
div.user_cover_bg{display:none;position: absolute;width: 100%;height: 100%;background: #000;opacity:.8;filter:alpha(opacity=80);left: 0;top:0;z-index: 999}
div.code_sign,div.bind_success,div.modify_success,div.set_success{display:none;width: 400px;height: 300px;position: absolute;left:50%;margin-left: -200px;top:50%;margin-top: -150px;background: #fff;z-index: 1999;}
div.code_sign h4,div.bind_success h4,div.modify_success h4,div.set_success h4{overflow: hidden;zoom: 1;text-align: right}
div.code_cont,div.bind_success_cont{width:360px;text-align: center;}
div.code_cont p,div.bind_success_cont p{font-size: 14px;color: #999;padding: 20px 0;}
div.code_cont a,div.bind_success_cont a{margin: 0 auto;margin-top:25px;}

div.user_pw_cover{display: none}
div.user_pw_box h4{padding: 0 35px;font-size: 16px;color: #666;font-weight: normal;}
div.user_pw_box p{font-size: 14px;color: #999;padding: 0 35px;line-height: 40px;}
div.user_pw_box ul{padding: 0 35px;overflow: hidden;zoom: 1}
div.user_pw_box ul li{margin-bottom: 15px;}
div.user_pw_box ul li span{display:block;font-size:16px;color:#999;margin-right:10px;float:left;width:120px;text-align: right;}
div.user_pw_box ul li input{width: 217px;height: 34px;padding-left:10px;font-size: 16px;color: #999;line-height: 34px;border: 1px solid #ccc;}
div.delete_box{display:none;width: 400px;height: 300px;position: absolute;left:50%;margin-left: -200px;top:50%;margin-top: -150px;background: #fff;z-index: 1999;}
div.delete_box h4{overflow: hidden;zoom: 1;text-align: right}
div.delete_cont{width:360px;text-align: center;padding: 30px 0;}
div.delete_cont p{font-size: 14px;color: #999;padding: 0 35px;line-height: 40px;}
div.delete_cont div.btn{overflow: hidden;zoom: 1;width: 246px;margin: 30px auto}
div.delete_cont div.btn a{display: block;float: left;width: 118px;font-size:16px;color:#fff;border-radius:10px;height: 36px;text-align:center;line-height: 36px;}
div.delete_cont div.btn a.continue_btn{background:#219bd9 }
div.delete_cont div.btn a.cancel_btn{background: #ccc;float: right}
div.delete_cont div.btn a:hover{background: #f1a400}

div.trip_box{width: 480px;background: #fff;}
div.trip_cont h4{padding: 20px 35px;font-size: 16px;color: #666;font-weight: normal}
div.trip_cont p{font-size: 14px;color: #999;padding: 0 35px;line-height: 40px;}
div.trip_cont ul{padding: 0 35px;zoom: 1}
div.trip_cont ul li{margin-bottom: 15px;height: 36px;}
div.trip_cont ul li span{display:block;font-size:14px;color:#999;margin-right:10px;float:left;width:110px;text-align: right;line-height: 34px;}
div.trip_cont ul li span sup{color: #f1a400}
div.trip_cont ul li input{width: 210px;height: 34px;padding-left:10px;font-size: 16px;color: #999;line-height: 34px;border: 1px solid #ccc;}
div.trip_cont ul li div.selectnav{background: none;width:220px;float: left}
div.trip_cont ul li div.selectnav cite{height: 34px;line-height: 34px;border: 1px solid #ccc;}
div.trip_cont ul li div.selectnav ul{padding: 0;overflow-y:scroll;height: 105px;}
div.trip_cont ul li div.selectnav ul li{margin: 0;}
div.trip_cont ul li div#typeselect{width: 85px;margin-right: 5px;}
div.trip_cont ul li div.selectnav cite{background: url(../images/jt.png) no-repeat 199px 9px;}
div.trip_cont ul li div#typeselect cite{back-ground: url(../images/jt.png) no-repeat 64px 9px;}
div.trip_cont ul li div.selectnav ul li a{padding-left: 39px;}
div.trip_cont ul li div#typeselect ul li a{width: 56px;padding-left: 10px;}
div.trip_cont ul li.paper_id input{width: 120px;}
div.trip_cont a.btn_blue{margin: 0 auto;margin-bottom: 20px;}

/* focus */
#focus {width:300px; height:420px; overflow:hidden; position:relative;}
#focus ul {height:410px; position:absolute;}
#focus ul li {float:left; width:300px; height:410px; overflow:hidden;}
#focus ul li .pic{width:300px; height:225px;}
#focus ul li div{overflow:hidden;padding:10px;}
#focus ul li div .a{color:#fff;line-height:25px;}
#focus ul li div p{line-height:28px;color:#666;height:28px;}
#focus ul li div p em{width:15px;height:15px;float:left;margin-right:10px;margin-top:6px; *margin-top:5px;}
#focus ul li div p em img{width:15px;height:15px;vertical-align:middle;}
#focus ul li div p.last{line-height:40px;color:#999;}
#focus .btn {width:60px; height:10px; position:absolute; bottom:0;left:125px; }
#focus .btn span {display:inline-block; _display:inline; _zoom:1; background:#666; width:10px; height:10px;margin-right:10px; cursor:pointer;border-radius:100%;}
#focus .btn span.on {background:#fff;}

/* 创建俱乐部 */
.createclub
{
    width: 1170px;
    height: 300px;
    padding:0 0 40px 0;
    display:block;
    position:relative;
    /*left: 210px;*/
}
.createclub_div
{
    width: 380px;
    height: 350px;
    border-radius: 10px;
    float: right;
    background: #f2f2f2;
    z-index: -1;
}
.createclub_div .jiaobiao
{
    position: relative;
    right: 19px;
    float: left;
    bottom: 14px;
    z-index: 1;
}
.createclub_div .title
{
    position: absolute;
    color: white;
    padding-right: 50px;
    padding-left: 10px;
    top:10px;
    z-index: 3;
    font-size: 16px;
}
.createclub_div .edit
{
    position: absolute;
    margin-top: 60px;
    right:320px;
}
.createclub_div .wait
{
    position: absolute;
    margin-top: 135px;
    right:320px;
}
.createclub_div .ok
{
    position: absolute;
    margin-top: 200px;
    right:320px;
}
.createclub_div .edit_style
{
    color: #999999;
    position: absolute;
    z-index: 3;
    margin-left: 100px;
    margin-top: 75px;
    font-size: 16px;
}
.createclub_div .wait_style
{
    color: #999999;
    position: absolute;
    z-index: 3;
    margin-left: 100px;
    margin-top: 145px;
    font-size: 16px;
}
.createclub_div .ok_style
{
    color: #999999;
    position: absolute;
    z-index: 3;
    margin-left: 100px;
    margin-top: 218px;
    font-size: 16px;
}
.createclub_div .get_button
{
    width: 160px;
    height: 35px;
    border-radius: 8px;
    position: absolute;
    margin-top: 280px;
    right: 110px;
    border: 0;
    font-size: 14px;
    background-color: #1f9fdb;
    color: white;

}
.createclub_div button:hover {
    background: #f1a400;
}
/*新增logo样式*/
.lequ_logo{width:35px;height:35px;position:absolute;top:15px;right: 15px;}
.lequ_logo img{width:100%}