@charset "utf-8";
/* CSS Document */
body{background:#F4F4F4;font-size:14px;color:#666;}
input{border:none;margin:0;padding:0;}
.mrgB{margin-bottom:10px;}


.sec_nav{line-height:55px;color:#000;}
.sec_nav a{color:#000;}
.sec_nav a:hover{text-decoration:underline;}
.sec_nav span{margin:0 5px;}

.set_nav{height:60px; margin-bottom:30px;}
.set_nav ul.line li{width:280px;}
.set_nav ul.mate li{width:570px;}
.set_nav ul li{float:left;width:375px;height:60px;line-height:60px;text-align:center;color:#fff;font-size:20px;background:#CCCCCC;margin-right:10px;}
.set_nav ul li.current{background:#f1a400}
/* -------------club_step1 begin --------------*/
.set_con{padding-left:120px;}
.set_con .tit{width:1170px;margin:0 auto;height:30px;font-size:26px;margin-bottom:55px;}
.set_con .tit span{font-size:13px;margin-left:15px;color:#999;}
.set_con dl dd .span{font-size:13px;margin-left:15px;color:#999;}
.set_con dl{overflow:hidden;margin-bottom:20px;clear:both;padding-left:150px;}
.set_con dl.tt{margin-bottom:30px;}
.set_con dl.tt dt{font-size:20px;}
.set_con dl.tt dd{height:36px;line-height:36px;}
.set_con dl.city{min-height: 36px;_height:36px;overflow: inherit}
.set_con dl.type{min-height: 36px;_height:36px;overflow: inherit}
.set_con dl.type dd div.selectnav ul li a{width: 161px}
.set_con dl dt{float:left;width:140px;height:36px;line-height:36px;margin-left:-150px;display:inline;text-align:right;font-size:16px;}
.set_con dl dt span{color:#f1a400;}
div.club_manage_box .set_con dl.city dd{position: relative;height: 36px;z-index: 99999}
.set_con dl.city dd div.selectnav{width: 195px;float: left;margin-right: 10px;}
.set_con dl.city dd div.selectnav h4{width: 195px;height:36px;line-height:36px;overflow: hidden;font-size: 13px;font-weight: normal;color: #999;background: #fff;text-align: center;}
.set_con dl.city dd div.selectnav h4 p{float: left;height: 30px;line-height: 30px;margin-top: 3px;padding: 0 8px;border-right: 1px solid #eee;text-align: center;}
.set_con dl.city dd div.selectnav h4 cite{width:180px;padding-left:8px;text-align: center;}
.set_con dl dd span{margin-left: 10px;}
.set_con dl dd p{line-height: 30px;}
.set_con dl dd div.selectnav ul li{margin: 0}
.set_con dl dd div.selectnav ul li a{font-size:14px;background: #fff;width: 166px;color: #999;padding:0;padding-left:10px;margin: 0;}
.set_con dl dd div.selectnav ul li a:hover{background: #ccc;color: #666}
.set_con dl dd input,.set_con dl dd textarea{padding-left:10px; color:#666;font-size:14px;font-family: "Microsoft YaHei";resize: none}
.set_con dl dd .text{height:36px;width:220px;background:#fff;line-height:36px;}
.set_con dl dd .city{width:110px;padding-left:10px; height:36px;background:#fff;float:left;margin-right:10px;}
.set_con dl dd .city span{color:#ccc;border-right:1px solid #ccc; padding:0 3px;}
.set_con dl dd .city input{width:70px;height:36px;background:#fff;line-height:40px;}
.set_con dl dd .date{padding-left:35px;width:195px;background:url(../images/date_icon.png) 6px center no-repeat #fff;}
.set_con dl dd textarea{height:100px;width:440px;background:#fff;line-height:30px;}
/*.set_con dl.fast_cont{display: none}*/
.set_con dl.fast_cont dd textarea{width: 668px;  height: 280px;/*border: 1px solid #f1a400;*/}
.set_con dl dd .add_pic{width:120px;height:120px;background:url(../images/add_pic.png);display:inline-block;}
.set_con dl dd div.add_img{position:relative;float:left;margin-right: 10px}
.set_con dl dd div.add_img span{float:left;position:relative;}
.set_con dl dd div.add_img a{position: absolute;right: 0;top:0;display:block;width:24px;height:24px;background:#ccc;color:#fff;text-align: center;line-height: 24px;}
.set_con dl.arrow_select{overflow: inherit;}
.set_con dl.arrow_select p.people{line-height:36px;font-size:16px;}
.set_con dl.arrow_select div.selectnav{width: 230px;background: #fff;margin-bottom: 10px;}
.set_con dl.arrow_select dd div.selectnav ul li a{font-size:14px;background: #fff;width: 202px;color: #999;padding:0;padding-left:10px;margin: 0}

.set_con dl.arrow_select div.short{width: 110px;float: left;margin-right: 10px;z-index: 999}
.set_con dl.arrow_select div.selectnav cite{background: url(../images/jt.png) no-repeat 206px 9px;}
.set_con dl.arrow_select div.short cite{background: url(../images/jt.png) no-repeat 88px 9px;}
.set_con dl.arrow_select div.short ul{height: 70px;}
.set_con dl.arrow_select dd div.short ul li a{width: 82px;}
.set_con dl.arrow_select dd div.selectnav ul li a:hover{background: #ccc;color: #666}

.set_con dl.love{width:840px;height:auto}
.set_con dl.love ul{overflow:hidden;margin-left: -10px;}
.set_con dl.love dd ul li{text-align:center;float:left; margin:10px;background: #fff}
.set_con dl.love dd ul li a{height:74px;width:60px;display:block;color:#666;border:1px solid #F4F4F4;}
.set_con dl.love dd ul li a:hover{text-decoration: underline}
.set_con dl.love dd ul li .pic{padding: 2px 5px;}
.set_con dl.love dd ul li span{display: block;margin: 0}
.set_con dl.love dd ul li.select a{border:1px solid #F2A201}
/* -------------club_step2,club_step3 begin --------------*/
.set_con .set_box{width:380px; overflow:hidden;padding:0 0 50px 230px;text-align:center;}
.set_con .set_box .shalou{width:303px; height:303px;margin:0 auto 30px;}
.set_con .set_box p{font-size:20px;line-height:36px;color:#999;}
.set_con .set_box p a{color:#999;}
.set_con .set_box .club_infor{margin:50px auto;}
.set_con .set_box .qq{height:36px;width:100px;display:block;border:1px solid #CCC;line-height:36px;padding-left:80px;background:url(../images/qq.png) 46px center no-repeat;color:#999;margin:20px auto;text-align:left}
.set_con .set_box a:hover.qq {color:#FBB216}

/* -------------line setup --------------*/
.setup_con{padding-bottom:50px;}
.setup_con .tips{ height: 50px; line-height: 50px; clear: both; background: #fff; width: 75%; margin: 0 auto 10px auto; font-size: 18px;color: red;text-indent: 20px;}
.setup_con h4.enroll_title{width: 900px; height:60px;line-height:40px;font-size:20px; color:#F1A400;font-weight:normal;float: left;padding-bottom: 20px; padding-left: 100px;}
.setup_con h4.enroll_title span{color: #ccc;font-size: 14px;line-height:40px;}
p.p1{font-size:20px;line-height:46px;text-align:center;margin-bottom:60px;}
p.p2{font-size:20px;line-height:40px;text-align:center;color:#999;}
p.p3{font-size:16px;line-height:46px;text-align:center;color:#999;}
.setup_con .choosebtn{width:370px;height:35px;margin:10px auto 20px; text-align: center;}
.setup_con .choosebtn a{display:inline; padding:10px 20px;margin-right:8px;width:175px;height:33px;border:1px solid #CCC;color:#999;line-height:33px;text-align:center;}
.setup_con .choosebtn a:hover{background:#ccc;color:#fff}
.setup_con .table{width:1170px;border-top:1px solid #ccc;border-left:1px solid #ccc;color:#999}
.setup_con .table td{border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:center;}
.setup_con .table td .blue{line-height:25px;color:#219bd9;padding:0 10px;}
.setup_con .table td span{font-size:24px; font-weight:bold}
.setup_con .table .number{height:34px;width:162px;border:1px solid #eee;background:#F4F4F4;margin:0 auto;border-radius:3px;}
.setup_con .table .number span{width:45px;height:34px;display:block;cursor:pointer;line-height:34px;}
.setup_con .table .number input{width:70px;height:34px;border-left:1px solid #eee;border-right:1px solid #eee;background:#f4f4f4;text-align:center;}
.cxr_infor{line-height:36px;padding-left:10px;}
.cxr_infor label{margin:0 20px 0 5px; width: 70px; overflow: hidden;display: block;float: left;white-space:nowrap;}
.setup_con .trip_perpson{padding:0 0 30px 150px;overflow:hidden;}
.increase{clear:both;line-height:36px;height:36px;color:#999;padding:20px 0 30px;}
.increase a{width:36px;height:36px;background:url(../images/increase.png) no-repeat;display:block;margin-right:10px;float:left}
.increase a:hover{background:url(../images/increase_h.png) no-repeat;}
.increasegroup{clear:both;line-height:36px;height:36px;color:#999;padding:20px 0 30px;}
.increasegroup a{width:36px;height:36px;background:url(../images/increaseaddlist.png) no-repeat;display:block;margin-right:10px;float:left}

.setup_con .floatl{width:300px;float:left;}
.setup_con .floatl dl{padding-left:0;}
.setup_con .floatl .text{margin-bottom:10px;}
.setup_con .floatl dd textarea{width:220px;height:60px;}
.setup_con .floatr{width:340px;padding:20px 0;float:right;}
/*-------------------------pay--------------------------*/

.pay_method{height: auto !important;height: 68px;min-height: 68px;padding-top: 25px;}
hr{border-bottom: 1px solid #ccc;}
.pay_method_box{overflow: hidden;padding-bottom: 25px;}
.pay_method .selectnav{float: left;width: 51px;margin-top: 1px;}
.pay_method div.selectnav cite{background: url(../images/jt.png) no-repeat 30px 9px;padding: 0}
.pay_method div.selectnav ul{left: -169px;width: 218px;height: auto;}
.pay_left_info{overflow: hidden;zoom: 1}
.pay_left{width:400px;float:left;}
.pay_left dl{padding-left:150px;}
.pay_left dl dt{margin-left:-130px;float:left;_margin-left:-70px;width:110px;}
.pay_left dl dd{float:left}
.pay_left dl dd .ddtop{overflow:hidden;height:53px;}
.pay_left dl dd .ddtop p.p5{line-height:80px;float:left}
.pay_left dl dd .yhq{width:107px;height:53px;background:url(../images/yhq.png) no-repeat;color:#fff;text-align:center;float:left;margin-right:10px;}
.pay_left dl dd .yhq .span1{line-height:23px;display:block}
.pay_left dl dd .yhq .span2{line-height:30px;font-size:24px;font-weight:bold;}
p.p4{line-height:36px;font-size:16px;height:36px;}
p.p4 .jian{width:36px;height:36px;display:inline-block;background:url(../images/jian.png) no-repeat;line-height:36px;text-align:center;color:#fff;margin-right:8px;}
p.p5{font-size:13px;color:#999;line-height:50px;}
p.pay_pw_box{display:none;font-size: 14px;margin-left: 89px; margin-top: 10px;}
p.pay_pw_box input{width: 170px;height: 36px;margin-left: 12px;padding-left: 10px;border:1px solid #ddd}
.yellow{color:#f1a400;}
.bold{font-size:30px;font-weight:bold;}
.pay_right .line,.pay_left .line{border-bottom:1px solid #ccc;width:230px;height:1px;margin:10px 0;}
.pay_right{width:360px;float:right;}
.pay_tit{height:35px;line-height:35px;position:relative;_margin-bottom:20px;}
.pay_tit span{width:148px;height:35px;display:block;text-align:center;font-size:20px;margin:0 auto;background:#f4f4f4;}
.pay_tit .line{border-bottom:1px solid #ccc;height:1px;position:absolute;left:0;top:15px;width:100%;z-index:-100}
ul.pay_way_list{width:1000px;margin:0 auto;}
.pay_left input.coupon_txt{width: 160px;height: 36px;padding-left: 10px;margin-left: 10px;margin-top: -2px;}
div.pay_left div.coupon_name{width: 280px}
div.pay_left div.coupon_name div.coupon_valid{float:left}
div.pay_left div.coupon_name p{line-height: 30px;clear: both}
ul.pay_way_list li{width:215px; height:70px;padding:16px;float:left;text-align:center}
ul.pay_way_list li a,ul.pay_way_pt a{width:210px; height:66px;display:block;border: 2px solid #f4f4f4}
ul.pay_way_list li a:hover,ul.pay_way_pt a:hover{border:2px solid #F1A400}
ul.pay_way_list .select{border:2px solid #F1A400 !important;}
ul.pay_way_pt{width:600px;margin:20px auto;}
ul.pay_way_pt li{width:215px; height:70px;padding:16px;text-align:center}
ul.pay_way_pt li.fr{float: right}
.show_btn{width:27px;height:15px;display:block;margin:30px auto;font-size:40px;color:#999;background:url(../images/show_btn.png) no-repeat;}
.hide_btn{width:27px;height:15px;display:block;margin:30px auto;font-size:40px;color:#999;background:url(../images/hide_btn.png) no-repeat;}
p.p6{padding-left:380px;line-height:40px;margin:20px 0;}
p.pay_go_btn{text-align: center;padding: 0;}
p.p6 .back{color:#666;font-size:16px;margin-left:50px;}
p.p6 a:hover.back{color:#f1a400}
p.p6 a{display:inline-block;}
.pay_tip{border-bottom:1px solid #ccc;overflow:hidden;width:100%;margin-bottom:20px;}
p.pay{font-size:24px;line-height:100px;text-align:center}

.pay_wx{display:none;width:440px; margin:0 auto;text-align:center}
.pay_wx_left{width:170px;float:left}
.pay_wx_left .ewm{width:170px; height:170px;background:#fff;margin-bottom:10px;}
.pay_wx_left .ewm_infor{width:170px;line-height:25px;padding:4px 0;background:#F1A400;color:#fff;}
.pay_wx_right{width:200px;float:right}
p.p7{margin:40px auto; width:180px;}

.pay_line{border-top:1px solid #ccc;padding-top:30px;margin-left:-150px; clear:both}
p.p8{line-height:50px;height:50px;}

/*-------------------------mate start--------------------------*/
.mate_ewm{margin:20px auto;text-align:center}

.set_con dl dd label{line-height:36px;}
.set_con dl dd label span{margin:0 22px 0 5px;font-size:16px;}


div.pay_balance{padding: 10px 0 25px 0;border-bottom: 1px solid #ccc;margin-bottom: 25px;}
div.pay_balance h2{font-weight: normal;padding-bottom: 20px;border-bottom: 1px solid #ccc;margin-bottom: 20px;}
div.pay_balance div.pay_left p.f20{font-size: 20px;padding-bottom: 15px;}
div.pay_balance h2{font-weight: normal;padding-bottom: 20px;border-bottom: 1px solid #ccc;margin-bottom: 20px;}
div.pay_balance div.pay_left div.left{width: 170px;float: left;margin-left: 10px;}
div.pay_balance div.pay_left div.left input{width: 170px;padding-left:10px;height: 36px;border:1px solid #ddd}

div.pay_btn{width: 1170px;margin: 20px auto;border-top: 1px solid #ccc;overflow: hidden;zoom: 1}
div.pay_btn a{float: right;margin: 20px 0;}

div.manage_save{margin-left: 132px;}

/*-------------------------404 start--------------------------*/
.mistake_pic{width:444px;height:190px;margin:100px auto 30px;}
p.p9{font-size:24px;color:#333;text-align:center;margin-bottom:30px;}
p.p10{font-size:16px;line-height:35px;text-align:center;color:#999;margin-bottom:75px;}
.mistake .choosebtn{width:auto;text-align:center;height:35px;margin:10px auto 20px;}
.mistake .choosebtn a{display:inline;float:inherit;margin-right:8px;border:1px solid #CCC;color:#999;padding: 5px 10px;}
.mistake .choosebtn a:hover{background:#ccc;color:#fff}


/***loading***/
#loading{width:200px;text-align:center;margin: 10px 0;}

/*-------------------------enroll_new--------------------------*/
.enroll_table{width:800px;}
.enroll_table table{border-top:1px solid #eee;border-left:1px solid #eee;color:#999;background:#fff;}
.enroll_table table td{border-bottom:1px solid #eee;border-right:1px solid #eee;text-align:center;padding:15px 0;}
.enroll_table table td .blue{color:#219bd9; margin:0 5px;}
dl.cx{margin-top:50px;}
dl.lk{margin-top:-10px;}
.enroll_left{width:780px;float:left}
.enroll_right{width:200px;float:right;position:relative}
.enroll_box{position: fixed;width:170px;padding:0 10px 20px;background:#219BD9;top:285px;color:#fff;}
.enroll_box h2{border-bottom:1px solid #4DAFE1;font-size:20px;font-weight:normal;line-height:60px;margin-bottom:10px;text-align:center}
.enroll_box p{line-height:36px;font-size:16px;padding-left:5px;}
.enroll_box h1{line-height:65px;font-size:30px;text-align:center}
.enroll_box p.tip{line-height:25px;font-size:14px;}
.enroll_box p.tip .input{margin-right:5px;}
.enroll_box .btn{width:140px;height:35px;line-height:35px;text-align:center;color:#fff;background:#F1A400;margin:10px auto;display:block;border-radius:10px;}

div.agreement_btn{overflow: hidden;clear: both;margin-top: 30px;}


/*club album*/
div.club_manage_right div.album_box{margin-top: 0;}
div.album_box dl{margin-bottom: 10px;}
div.album_box dl dt{text-align: left}
div#club_add_album,div.club_add_album{width: 267px;height: 251px;border: 1px solid #ccc;padding-top:10px;text-align: center;margin-right: 6px;margin-bottom:6px;float: left}
div#club_add_album img,div.club_add_album img{width: 248px;height: 186px;}
div.club_add_album span.album_title{display: block;line-height: 36px;text-align: left;padding-left: 10px;color: #666}
div.club_add_album p{text-align: left;padding-left: 10px;}
div.club_add_album p span{cursor: pointer;color: #999;}

div.club_manage_right div.album_add{background: #fff;margin-top: 0;padding: 10px 10px 15px 10px;}
.album_box dl dd .text{width: 228px;height: 34px;border:1px solid #f4f4f4;line-height: 34px;}
.album_add dl dd .text{width: 228px;height: 34px;border:1px solid #f4f4f4;line-height: 34px;}
.album_add dl dt{text-align: left}
.album_add dl dd .add_pic{width: 97px;height: 36px;background: url("../images/album_add_btn.png") no-repeat;float: left}
.album_add dl dd div.add_img span{margin-right: 10px;margin-left: 0;}
.album_edit dl dd .add_pic{width: 97px;height: 36px;background: url("../images/album_add_btn.png") no-repeat;float: left}
.album_edit div.club_add_album{position:relative;width: auto;height: auto;border: 0px;padding: 0;margin-right: 25px;}
.album_edit div.club_add_album span#delAlubm{position:absolute;right:10px;bottom:28px;display: none;width: 36px;height: 36px;background: url("../images/album_delete.png") no-repeat;text-indent: -9999px;}
div.album_edit_bottom{clear:both;padding: 10px 0;}
div.album_edit_bottom div.fl{line-height: 45px;color: #666}
div.album_edit_bottom div.page ul li.current a{background: #e1e1e1;border:1px solid #e1e1e1;}
div.album_edit_bottom div.page{margin: 0;}
div.album_edit_bottom div.page ul li a{background: #fff;border:1px solid #d1d1d1;}