/*
Theme Name:
Theme URI:
Description:
License: 
License 
Version: 1.0.0
Author:
Author URI:
Tags:
*/

/*=====</

	[1.0] - Reset CSS
	[2.0] - Print CSS
	[3.0] - Megatemas CSS Framework 1.0
		| - [3.1] - Typography
		| - [3.2] - Forms
		| - [3.3] - Misc
	[4.0] - Font Awesome
	[5.0] - Fonts
	[6.0] - Backgrounds
	[7.0] - Colors
	[8.0] - Header
	[9.0] - Body
	[10.0] - Footer
	[11.0] - CSS - Widgets
	[12.0] - CSS - Plugins
	[13.0] - Internet Explorer 8/9
	[14.0] - Responsive Web Design

/>=====*/

/*=====<[1.0] - Reset CSS>=====*/
	*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;border:0}
	html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
	body,button,input,select,textarea{font-family:sans-serif;font-size:14px;line-height:20px}
	h1,h2,h3,h4,h5,h6,button,input,optgroup,select,textarea{font:inherit;color:inherit}
	article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
	a{text-decoration:none}
	b,strong,optgroup,dt{font-weight:bold}
	small{font-size:80%}
	code,kbd,pre,samp{font-family:monospace,monospace}
	button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
	button{overflow:visible}
	button,select{text-transform:none}
	button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
	button[disabled],html input[disabled]{cursor:default}
	input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
	input[type="search"]{-webkit-appearance:textfield;}
	input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
	textarea{resize:none}
	img{height:auto;max-width:100%;vertical-align:middle}
	em,i,dfn{font-style:italic}
	th{font-weight:normal}
	table{border-spacing:0;border-collapse:collapse;width:100%}
	caption,td,th{border:1px solid #ccc;text-align:center;padding:5px}
	caption{margin-bottom:-1px}
	dl{margin-bottom:20px}
	del{text-decoration:line-through}
	abbr[title]{cursor:help;border-bottom:1px dotted #777}
	blockquote{padding:10px 20px;border-left:5px solid #eee}
	blockquote :first-child{margin-top:0}
	hr{border:solid #f5f5f5;border-width:1px 0 0;margin:20px 0}
	ul,ol{padding-left:25px}
	nav ul,ul[class*="cntcls"],ul[class*="cntcls"] ul,ul[class*="lst-"],ul[class*="lst-"] ul{list-style:none;padding-left:0}
	nav ul{margin-bottom: 0;}
	:focus{outline:0}

/*=====<[2.0] - Print>=====*/
	@media print{*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;filter:none!important;}a,a:visited{text-decoration:underline}a[href]:after{content:"(" attr(href) ")"}abbr[title]:after{content:"(" attr(title) ")"}a[href^="javascript:"]:after, a[href^="#"]:after{content:""}pre, blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}select{background:#fff!important;}}

/*=====<[3.0] - Megatemas CSS Framework 1.0>=====*/
	.cont{margin:auto;padding:0 15px}
	.frmgro,.frmspr,.btnscn{margin-top:20px}
	[class*="cntcls"]{margin-right:-15px;margin-left:-15px}
	[class*="cols-"],[class*="cntcls-"]>div,[class*="cntcls-"]>li,[class*="cntcls-"]>section{padding:0 15px;position:relative}
	[class*="lstcl-100"]>:last-child,.cols-12{min-width:100%;clear:both}
	/*10px*/[class*="spr10"] .frmgro,[class*="spr10"] .frmspr,[class*="spr10"] .btnscn{margin-top:10px}
	[class*="spr10"][class*="cntcls"]{margin-right:-5px;margin-left:-5px}
	[class*="spr10"] [class*="cols-"],[class*="spr10"][class*="cntcls-"]>div,[class*="spr10"][class*="cntcls-"]>li,[class*="spr10"][class*="cntcls-"]>section{padding:0 5px}	
	/*20px*/[class*="spr20"] .frmgro,[class*="spr20"] .frmspr,[class*="spr20"] .btnscn{margin-top:20px}
	[class*="spr20"][class*="cntcls"]{margin-right:-10px;margin-left:-10px}
	[class*="spr20"] [class*="cols-"],[class*="spr20"][class*="cntcls-"]>div,[class*="spr20"][class*="cntcls-"]>li,[class*="spr20"][class*="cntcls-"]>section{padding:0 10px}

/*=====<[3.1] - Typography>=====*/	
	h1,h2,h3,h4,h5,h6,ul,ol,blockquote,table,p,p+p{margin-top:20px}
	:first-child{margin-top: 0;}
	h1,h2,h3{font-weight:700}
	h1{font-size:30px;line-height:40px}
	h2{font-size:20px;line-height:30px}
	h3{font-size:16px}	

/*=====<[3.2] - Forms>=====*/
	/*Labels*/
	label{display:inline-block;padding:10px 0;line-height:20px}
	/*Label-icon*/label[class*="_iconfrm"]{display:block}
	[class*="inp_iconfrm"]{padding:0}
	[class*="_iconfrm"]{position:relative}
	[class*="_iconfrm"][class*="iconb-"]:before,
	[class*="_iconfrm"][class*="icona-"]:after{position:absolute;top:0;line-height:40px;width:40px;height:40px;text-align:center}
	[class*="_iconfrm"][class*="iconb-"]:before{left:0}
	[class*="_iconfrm"][class*="icona-"]:after{right:0}
	[class*="_iconfrm"][class*="iconb-"]>*:first-child{padding-left:40px;display:block}
	[class*="_iconfrm"][class*="icona-"]>*:last-child{padding-right:40px;display:block}	
	/*Input text/textarea/select*/
	input[type="text"],input[type="password"],textarea,select,.mt-slct{width:100%;border:1px solid #eee;padding:9px 14px;min-height:40px;line-height:20px;border-radius:5px;}
	.mt-slct{padding: 0;}
	.mt-slct>span{padding: 9px 14px;}
	.slctbx{position:relative}
	.mt-slct,.mt-slctInner,.slctbx select{max-width:100%}
	.slctbx select{z-index: 2;}
	.mt-slct .mt-slctInner:before{position:absolute;right:0;top:0;bottom:0;margin:auto;width:38px;text-align:center;line-height:38px;background-color: #F7F8FA;border:1px solid #ECF0F3;border-radius:0 5px 5px 0;z-index: 1;}
	/*Focus*/input[type="text"]:focus,input[type="password"]:focus,textarea:focus,.mt-slctFocus{box-shadow:0 0 10px rgba(0,0,0,.05)}		
	/*Input radio/checkbox*/
	.picker-element{opacity:0;position:absolute;z-index:-1;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}
	.picker{cursor:pointer;position:relative;padding:0 25px;display:inline-block;vertical-align:top}
	.picker .picker-label{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
	.picker .picker-handle{border:1px solid #ccc;height:16px;margin:0 5px 0 0;width:16px;position:absolute;left:0;top:12px}
	.picker.picker-radio .picker-flag,.picker.picker-checkbox .picker-flag{background:#fff;display:block;height:8px;margin:3px;width:8px}
	/*Radio*/.picker.picker-radio .picker-handle{border-radius:8px}
	.picker.picker-radio .picker-flag{border-radius:4px}
	/*Checkbox*/.picker.picker-checkbox .picker-handle{border-radius:3px}
	.picker.picker-checkbox .picker-flag{border-radius:2px}
	/*Disabled*/.picker.disabled{opacity:.5}
	.picker.disabled,.picker.disabled .picker-label,.picker.disabled .picker-handle{cursor:default}	
	/*Buttons*/
	[class*="botn"],a[class*="botn"],button,input[type="reset"],input[type="submit"]{display:inline-block;vertical-align:top;margin-top:0;padding:5px 15px;line-height:30px;font-weight:700;text-align:center}
	/*Active*/[class*="botn"]:active,button:active,input[type="reset"]:active,input[type="submit"]:active{box-shadow:inset 0 2px 4px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.2)}

/*=====<[3.3] - Misc>=====*/
	/*Float*/
	.flol,.alignleft{float:left}
	.maau,.aligncenter{display:block;margin:auto}
	.flor,.alignright{float:right}
	/*Position*/
	[class*="pore"]{position:relative}
	[class*="poab"]{position:absolute}
	[class*="pofi"]{position:fixed}
	/*Icos*/
	[class*="icobg-"],[class*="icobga-"]:after,[class*="icobgb-"]:before,[class*="icona-"]:after,[class*="iconb-"]:before{display:inline-block;vertical-align:top;margin-top:0}
	[class*="icobga-"]:after,[class*="icobgb-"]:before,[class*="icona-"]:after,[class*="iconb-"]:before{content:""}
	span[class*="iconb-"]{font-size:0}span[class*="iconb-"]:before{font-size: 14px;}
	/*Clear fix*/
	.clfl:after,.cont:after,[class^="hdcn"]:after,[class^="bdcn"]:after,[class^="ftcn"]:after,article:after,article header:after,article section:after,article footer:after,.frmspr:after,.frmgro:after,[class*="cntcls"]:after,[class*="lst-"]:after,nav>ul:after{content:"";clear:both;display:table;font-size:0;height:0;line-height:0;visibility:hidden}
	/*Transition*/
	[class*="botn"],button,input,a,.picker-flag,.pelicn>figure,.pelicn>article{transition:all .2s}	
	/*Border-Radius*/
	[class*="rnd5"]{border-radius:5px}
	/*50%*/[class*="rnd50"]{border-radius:50%}
	/*Spin*/
	.spin:before,.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
	@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}
	@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}
	@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}
	@keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
	/*Transform*/
	[class*="rota-vert"],.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-moz-transform:scale(1, -1);-ms-transform:scale(1, -1);-o-transform:scale(1, -1);transform:scale(1, -1);}
	/*list*/
	[class*="lst-"],nav>ul{font-size: 0;}
	[class*="lst-"]>li,nav>ul>li{font-size: 14px;vertical-align: top;display: inline-block;text-align: center;}

/*=====<[4.0] - Font Awesome>=====*/
	/*! * Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)*/
	@font-face{font-family:'FontAwesome';font-weight:normal;font-style:normal;
	src:url('fonts/fontawesome-webfont.eot?v=4.2.0');
	src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), 
		url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
		url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
		url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg')}
	[class*="fa-"]:before,[class*="icona-"]:after,[class*="iconb-"]:before,.mt-slctInner:before,.wp-pagenavi a.previouspostslink:before,.wp-pagenavi a.nextpostslink:before{font-family:FontAwesome;font-weight:normal;font-style:normal;font-size:inherit;text-decoration:inherit;width:auto;height:auto;line-height:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}
	/*:before/:after*/.iconb-mail:before{content:"\f0e0"}
	.mt-slctInner:before,.iconb-ardw:before{content:"\f078"}
	.iconb-srch:before{content:"\f002"}
	.iconb-movi:before{content:"\f008"}
	.wp-pagenavi a.previouspostslink:before{content:"\f053"}
	.wp-pagenavi a.nextpostslink:before{content:"\f054"}
	.iconb-cate:before{content:"\f07c"}
	.iconb-face:before{content:"\f09a"}
	.iconb-gogl:before{content:"\f0d5"}
	.iconb-twit:before{content:"\f099"}
	.iconb-dets:before{content:"\f15c"}
	.iconb-desc:before{content:"\f019"}
	.iconb-comt:before{content:"\f086"}

/*=====<[5.0] - Fonts>=====*/
	body,button,input,select,textarea{font-family:'Open Sans', sans-serif}

/*=====<6.0] - Backgrounds>=====*/
	/*body*/
	body{background-color: #F7F8FA;}
	/*Sprite*/.bg,[class*="icobg-"],[class*="icobga-"]:after,[class*="icobgb-"]:before{background:url(img/bg.png) no-repeat}
	/*input[type="text"]*/input[type="text"],input[type="password"],textarea,.mt-slct,.blkbd{border:1px solid #ECF0F3}
	input[type="text"],input[type="password"],textarea,.mt-slct,.blkbd,.pelicn>article{background-color: #fff;}
	/*bginput-radio*/.picker.picker-radio.checked .picker-flag,/*bginput-checkbox*/.picker.picker-checkbox.checked .picker-flag,/*bgbtns*/[class*="botn"],a[class*="botn"],button,input[type="reset"],input[type="submit"],.menuhd,.ftcn,.wp-pagenavi a,.wp-pagenavi span{background-color:#2D3E58}
	/*:hover*/[class*="botn"]:hover,a[class*="botn"]:hover,button:hover,input[type="reset"]:hover,input[type="submit"]:hover,.menuhd>ul>li>a:hover,.mCSB_dragger,.wp-pagenavi a:hover,.wp-pagenavi span.current{background-color:#1AC4BB}	
	.blkhd,.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{background-color: #ECF0F3;}

/*=====<7.0] - Colors>=====*/
	/*Body*/body,input[type="text"],input[type="password"],textarea,.mt-slct,.blkhd[class*="iconb"]:before{color:#88A9B8}
	/*Links*/a,.srchbx button,.pelicn>article h2,.pstint>header h1,.pstint>header h2,.blkhd.iconb-comt+.blkbd{color:#2C3E58}
	a:hover,.srchbx button:hover,.logo a:before,.pelicn>figure>figcaption>a:hover{color: #1AC4BB;}
	/*bgbtns*/[class*="botn"],a[class*="botn"],button,input[type="reset"],input[type="submit"],.menuhd>ul>li>a,.pelicn>figure>figcaption>a,.ftcn,.ftcn a,.wp-pagenavi a,.wp-pagenavi span,.blkhd.iconb-gogl:before,.blkhd.iconb-face:before{color:#fff}

/*=====<[8.0] - Header>=====*/
	.hdcn{padding-top: 30px;}
	.hdcn,.hdcn1,.hdcn2{margin-bottom: 30px;}
	.hdcn1>div{margin-bottom: 10px;}
	.hdcn1>div+div{margin-bottom: 0;}
	.logo{padding-top: 10px;}
	.logo a{display: inline-block;line-height: 30px;font-size: 30px;letter-spacing: -1px;margin-left: -2px;}
	.logo+h1{font-size: 14px;line-height: 20px;font-weight: 400;margin: 0;}
	.lst-socl{margin-bottom: 10px;}
	.lst-socl>li{width: 120px;}
	.lst-socl>li+li{width: 110px;}
	.lst-socl>li+li+li{width: 90px;}
	.srchbx{position: relative;}
	.srchbx button,.srchbx button span,.srchbx button span:before{position: absolute;top: 0;right: 0;width: 40px;height: 40px;line-height: 40px;padding: 0;}
	.srchbx button{background-color: transparent;}
	.srchbx button:active{box-shadow: none;}
	.menuhd{border-radius:5px;border-bottom:5px solid #1AC4BB;padding: 0 15px;}
	.menuhd>ul>li{margin-right: 10px;}
	.menuhd>ul>li>a{font-weight: 700;display: inline-block;padding:20px 15px 15px;margin-top: -5px;border-radius:5px 5px 0 0;}

/*=====<[9.0] - Body>=====*/
	.blkhd{border-radius:5px 5px 0 0;font-weight: 700;padding: 15px;text-transform: uppercase;}
	.blkhd+.blkbd{border-radius:0 0 5px 5px;}
	.blkbd{padding: 15px;border-radius:5px;margin-bottom: 30px;}
	.hdcn3 .blkbd{margin-bottom: 0;}
	[class*="lst-pels"]{margin-left: -15px;}
	[class*="lst-pels"]>li{padding-left: 15px;width: 150px;}
	.lst-pels-rsp>li{margin-bottom: 15px;}
	.pelicn{position: relative;z-index: 1;overflow: hidden;}
	.pelicn:hover{z-index: 2;overflow: inherit;}
	.pelicn:hover article{height: auto;padding: 15px;border:1px solid #ECF0F3;box-shadow:0 0 5px 2px rgba(236,240,243,.5);opacity: 1;}
	.pelicn>figure{position: relative;overflow: hidden;padding-top: 146.42857142857142%;}
	.pelicn>figure img,.pelicn>figure>figcaption,.pelicn>figure>figcaption>a,.pelicn>figure>figcaption>a>span{position: absolute;}
	.pelicn>figure>img{left: 0;top: 0;width: 100%;height: 100%;border:5px solid #ECF0F3;}
	.pelicn>figure>figcaption{left: 0;bottom: 0;right: 0;top: 0;}
	.pelicn>figure>figcaption>a{background: -moz-linear-gradient(top,  rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);background: -o-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);background: -ms-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);background: linear-gradient(to bottom,  rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);position: absolute;left: 0;bottom: 0;right: 0;top: 0;border:5px solid #ECF0F3;}
	.pelicn>figure>figcaption>a:hover{border-color:#1AC4BB}
	.pelicn>figure>figcaption>a>span{left: 5px;bottom: 5px;right: 5px;text-align: center;font-weight: 700;}
	.pelicn>article{position: absolute;top: 0;height: 0;font-size: 12px;right: -220.5%;width: 210.5%;opacity: 0;display: none;}
	.pelicn>article:before,.pelicn>article:after{content: '';width: 0;height: 0;position: absolute;top: 20px;visibility: visible;}
	.pelicn>article:before{border-top: 5px solid transparent;border-right: 5px solid #ECF0F3;border-bottom: 5px solid transparent;left: -6px;}
	.pelicn>article:after{border-top: 5px solid transparent;border-right: 5px solid #fff;border-bottom: 5px solid transparent;left: -5px;}
	.pelicn>article h2{font-size: 14px;line-height: 20px;}
	/*sdbr*/.lst-cats>li{width: 50%;text-align: left;}
	.lst-cats>li>a{display: block;line-height: 30px;height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.blkhd[class*="iconb"]{position: relative;}
	.blkhd[class*="iconb"]:before{position: absolute;height: 50px;line-height: 50px;width: 50px;text-align: center;font-size: 20px;top: 0;right: 0;}
	.blkhd.iconb-gogl+.blkbd,.blkhd.iconb-face+.blkbd{padding: 5px;}
	.blkhd.iconb-gogl{background-color: #DD4B38;color: #fff;}
	.blkhd.iconb-face{background-color: #4864B4;color: #fff;}	
	.frmsrchadv button{width: 100%;border-radius:5px;}
	#fb-root{display:none}
	.fb_iframe_widget,.fb_iframe_widget span,.fb_iframe_widget span iframe[style]{width:100%!important}
	.goglbx{overflow: hidden;height: 104px;max-width: 288px;}
	.goglbx iframe{margin: -1px!important;}
	/*int*/.video{position: relative;padding-top: 60%;margin-bottom: 30px;}
	.video iframe,.video object,.video embed{position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;height: 100%;width: 100%;}	
	.lst-deta>li>strong,.lst-deta>li>span,.lst-deta>li>a{display: block;height: 25px;line-height: 25px;font-size: 12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.lst-deta>li{margin-top: 10px;display: block;text-align: left;}
	.pstint>header+div,.pstint .pelicn{margin-bottom: 15px;}
	.pstint>header{margin-bottom: 5px;}
	.pstint>header:before,.pstint>header+div:before{content: 'TITULO';font-weight: 700;display: block;line-height: 20px;font-size: 10px;}
	.pstint>header+div:before{content: 'SINOPSIS';}
	.pageint>header:before,.pageint>header+div:before{content: '';display: none;}
	.pstint>header h1,.pstint>header h2{font-size: 16px;line-height: 25px;}	
	.pstint .pelicn{max-width: 150px;margin-left: auto;margin-right: auto;}
	ul.lst-shrpst{border-top: 1px solid #ECF0F3;clear: both;margin-top: 0;padding: 0 7px;}
	.lst-shrpst>li{display: block;padding: 15px 7px;margin-bottom: -15px;text-align: left;}
	.lst-shrpst>li .shrbtn{background-color: #39579A;color: #39579A;}
	.lst-shrpst>li+li .shrbtn{background-color: #00ABF0;color: #00ABF0;}
	.lst-shrpst>li+li+li .shrbtn{background-color: #DF4A32;color: #DF4A32;}
	.shrbtn{position: relative;border-radius:10px 5px 5px 10px;padding: 10px 0 10px 60px;height: 40px;}
	.shrbtn:before{border-radius:5px 0 0 5px;background-color: #fff;width: 45px;height: 38px;line-height: 38px;border:1px solid #ECECFB;position: absolute;left: 0;top: 0;font-size: 20px;text-align: center;}
	.shrbtn:after{position: absolute;left: 46px;top: 0;bottom: 0;margin: auto 0;width: 0;height: 0;border-top: 5px solid transparent;border-left: 5px solid #fff;border-bottom: 5px solid transparent;content: '';}
	.pstrel>li{margin-bottom: 15px;width: 33.33333333%;}
	
/*=====<[10.0] - Footer>=====*/
	.ftcn{text-align: center;padding: 15px;border-radius:5px 5px 0 0;}
	.ftcn a{font-weight: 700;}
	.ftcn a:hover{text-decoration: underline;}

/*=====<[11.0] - CSS - Widgets>=====*/

/*=====<[12.0] - CSS - Plugins>=====*/
/*wp-pagenavi*/
	.wp-pagenavi{font-size: 0;}
	.wp-pagenavi a,.wp-pagenavi span{min-width: 30px;padding:0 10px;text-align: center;line-height:30px;display: inline-block;font-weight: 700;vertical-align: top;transition:all .2s;font-size: 14px;}
	.wp-pagenavi a.previouspostslink,.wp-pagenavi a.nextpostslink{font-size: 0;}
	.wp-pagenavi a.previouspostslink:before,.wp-pagenavi a.nextpostslink:before{vertical-align: top;font-size: 14px;}
/*mCSB*/
	.mt-tbcn .mCSB_horizontal>.mCSB_container{height:auto;overflow:hidden;width: 100%;}
	.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{width:100%;height:20px;right:auto;bottom:0;left:0;overflow:hidden;position:relative!important;padding-top: 15px;}
	.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:5px;}
	.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{width:30px;height:5px; cursor:move}
	.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:10px;}

/*=====<[13.0] - Internet Explorer 8/9>=====*/
	@-ms-viewport{width:device-width}
	[class^="ie-"] *{zoom:1}
	[class^="ie-"] a *{cursor:pointer}
	[class^="ie-"] img{-ms-interpolation-mode:bicubic;width:auto}
	/*ie8*/
	.ie8 .pelicn>figure>figcaption{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );}
	/*ie9*/
	.ie9 .pelicn>figure>figcaption{background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);}

/*=====<[14.0] - Responsive Web Design>=====*/
	@media screen and (max-width: 767px)
	{
	caption,table,thead,tfoot,tbody,th,td,tr{display:block;text-align:left;margin-bottom:-1px}
	thead tr{position:absolute;top:-9999px;left:-9999px}
	td{position:relative;padding-left:50%;white-space:normal}
	td:before{position:absolute;top:0;top:5px;left:5px;width:45%;padding-right:10px;white-space:nowrap;text-align:left;font-weight:bold;content: attr(data-title)}
	.lst-pels-rsp>li,.hdcn3 .lst-pels>li{width: 33.33333333%;}
	.hdcn3 .lst-pels>li:nth-last-child(n+4){display: none;}
	}
	@media screen and (max-width: 480px)
	{
	.lst-pels-rsp>li,.hdcn3 .lst-pels>li,.pstrel>li{width: 50%;}
	.hdcn3 .lst-pels>li:nth-last-child(n+3){display: none;}	
	}
	@media screen and (min-width: 768px)
	{
	.cont{width:750px}
	/*Label-left*/.frmgro .frmctr{margin-left:175px}
	.frmgro label{float:left;width:160px}
	.lst-pels-rsp>li{width: 25%;}
	.hdcn3 .lst-pels>li,.pstrel>li{width: 20%;}
	.hdcn3 .lst-pels>li:nth-last-child(n+6){display: none;}
	.pstrel>li{margin-bottom: 0;}
	}
	@media screen and (max-width: 1200px) and (min-width: 992px)
	{
	.lst-pels-rsp>li:nth-child(4n-5) .pelicn>article,.lst-pels-rsp>li:nth-child(4n) .pelicn>article{right: 110.5%;}
	.lst-pels-rsp>li:nth-child(4n-5) article:before,.lst-pels-rsp>li:nth-child(4n) article:before{border-right:0;border-left: 5px solid #ECF0F3;right: -6px;left: auto;}	
	.lst-pels-rsp>li:nth-child(4n-5) article:after,.lst-pels-rsp>li:nth-child(4n) article:after{border-right:0;border-left: 5px solid #fff;right: -5px;left: auto;}
	}
	@media screen and (min-width: 992px)
	{
	.cont{width:970px}
	[class*="cols-"],[class*="cntcls-"]>div,[class*="cntcls-"]>li,[class*="cntcls-"]>section{float:left}
	.cols-12,.cntcls-12>div,.cntcls-12>li,.cntcls-12>section{width:100%}
	.cols-11,.cntcls-11>div,.cntcls-11>li,.cntcls-11>section{width:91.66666667%}
	.cols-10,.cntcls-10>div,.cntcls-10>li,.cntcls-10>section{width:83.33333333%}
	.cols-9,.cntcls-9>div,.cntcls-9>li,.cntcls-9>section{width:75%}
	.cols-8,.cntcls-8>div,.cntcls-8>li,.cntcls-8>section{width:66.66666667%}
	.cols-7,.cntcls-7>div,.cntcls-7>li,.cntcls-7>section{width:58.33333333%}
	.cols-6,.cntcls-6>div,.cntcls-6>li,.cntcls-6>section{width:50%}
	.cols-5,.cntcls-5>div,.cntcls-5>li,.cntcls-5>section{width:41.66666667%}
	.cols-4,.cntcls-4>div,.cntcls-4>li,.cntcls-4>section{width:33.33333333%}
	.cols-3,.cntcls-3>div,.cntcls-3>li,.cntcls-3>section{width:25%}
	.cols-2,.cntcls-2>div,.cntcls-2>li,.cntcls-2>section{width:16.66666667%}
	.cols-1,.cntcls-1>div,.cntcls-1>li,.cntcls-1>section{width:8.33333333%}
	/*hd*/nav>ul>li,[class*="lst-"]>li{float: left;text-align: left;}
	.hdcn1>div{float: left;margin-bottom: 0;}
	.hdcn1>div+div{float: right;width: 320px;margin-bottom: 0;}
	.pelicn>article{display: block;}
	/*bd*/.bdcn>.cols-9{width: 700px;}
	.bdcn>.cols-3{width: 270px;}
	/*int*/.lst-deta.cntcls-4>li:nth-child(-n+3){margin-top: 0;}
	.lst-deta.cntcls-6>li:nth-child(-n+2){margin-top: 0;}
	.pstint header,.pstint header+div{overflow: hidden;}
	.pstint .pelicn{float: left;width: 150px;margin-right: 15px;}
	.hdcn3 .lst-pels>li{width:16.66666667%;}
	.hdcn3 .lst-pels>li:nth-last-child(n+6){display: block;}
	.hdcn3 .lst-pels>li:nth-last-child(n+7){display: none;}
	}
	@media screen and (min-width: 1200px)
	{
	.cont{width:1170px}
	/*bd*/.lst-pels-rsp>li{width: 20%;}
	.lst-pels-rsp>li:nth-child(5n-6) .pelicn>article,.lst-pels-rsp>li:nth-child(5n) .pelicn>article{right: 110.5%;}
	.lst-pels-rsp>li:nth-child(5n-6) article:before,.lst-pels-rsp>li:nth-child(5n) article:before{border-right:0;border-left: 5px solid #ECF0F3;right: -6px;left: auto;}
	.lst-pels-rsp>li:nth-child(5n-6) article:after,.lst-pels-rsp>li:nth-child(5n) article:after{border-right:0;border-left: 5px solid #fff;right: -5px;left: auto;}
	.bdcn>.cols-9{width: 840px;}
	.bdcn>.cols-3{width: 330px;}
	.hdcn3 .lst-pels>li{width: 12.5%;display: block !important;}
	}