/* =========================================================
 common
========================================================= */

/* ---------------------------------------------------------
 ページタイトル
--------------------------------------------------------- */

#page_title {
  height: 240px;
  position: relative;
  z-index: 10;
  margin: 81px 0 0;
}

@media only screen and (max-width: 1060px){
  #page_title {
    margin: 128px 0 0;
  }
}

@media only screen and (max-width: 768px){
  #page_title {
    margin: 127px 0 0;
  }
}

@media only screen and (max-width: 640px){
  #page_title {
    height: 180px;
    margin: 69px 0 0;
  }
}


/* ---------------------------------------------------------
 パンくず
--------------------------------------------------------- */

.pan {
  width: 1020px;
  margin: 0 auto;
  padding: 10px 0 0;
  font-size: 12px;
}

.pan_list {
  overflow: hidden;
}

.pan_list li {
  float: left;
  color: #bdbdbd;
}

.pan_list li a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 1020px){
  .pan {
    width: auto;
    padding: 10px 20px 0;
  }
}

@media only screen and (max-width: 640px){
  .pan {
    margin: 0 0 15px;
  }
}


/* ---------------------------------------------------------
 見出し
--------------------------------------------------------- */

/* heading_lv1
--------------------------------------------------------- */

.heading_lv1 {
  text-align: center;
  padding: 30px 0;
  letter-spacing: 2px;
}

.heading_lv1_txt {
  font-size: 30px;
  color: #fff;
  line-height: 2;
}

.heading_lv1_subtxt {
  font-size: 14px;
  color: #b3dee9;
}

@media only screen and (max-width: 640px){
  .heading_lv1 {
    text-align: center;
    padding: 5px 0 0;
  }

  .heading_lv1_txt{
    font-size: 26px;
    color: #fff;
    line-height: 1.4;
    margin: 0 0 10px;
  }

  .heading_lv1_subtxt {
    font-size: 13px;
    color: #b3dee9;
  }

}


/* heading_lv2
--------------------------------------------------------- */

.heading_lv2 {
  margin: -130px 0 50px;
  padding: 130px 0 0;
}

.heading_lv2_txt {
  font-size: 19px;
  color: #222;
  padding: 10px 10px 10px 20px;
  border-left: 3px #070707 solid;
}

@media only screen and (max-width: 1060px){
  .heading_lv2 {
    padding-top: 170px;
    margin-top: -170px;
  }
}

@media only screen and (max-width: 640px){
  .heading_lv2 {
    line-height: 1.5;
    margin-bottom: 25px;
    padding-top: 80px;
    margin-top: -80px;
  }

  .heading_lv2_txt {
    padding: 15px 10px 10px 15px;
  }
}


/* heading_lv3
--------------------------------------------------------- */

.heading_lv3 {
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
  margin: -130px 0 25px;
  padding: 130px 0 0;
}

.heading_lv3_txt {
  padding: 0 0 0 25px;
  color: #555;
}

.heading_lv3 span {
  display: inline-block;
  position: relative;
}

.heading_lv3 span:before {
  content: "";
  position: absolute;
  border-top: 1px solid #24d2ef;
  top: 9px;
  left: -25px;
  height: 4px;
  width: 18px;
}

@media only screen and (max-width: 1060px){
  .heading_lv3 {
    padding-top: 170px;
    margin-top: -170px;
  }
}

@media only screen and (max-width: 640px){
  .heading_lv3 {
    padding-top: 80px;
    margin-top: -80px;
  }
}



/* heading_lv4
--------------------------------------------------------- */

.heading_lv4 {
  padding: 7px 15px 6px 15px;
  margin: 0 0 15px;
  background: #f3f3f3;
}

.heading_lv4_txt {
  font-size: 13px;
  color: #222;
}


/* ---------------------------------------------------------
 clearfix
--------------------------------------------------------- */

.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}


/* ---------------------------------------------------------
 テーブル
--------------------------------------------------------- */

/* table_layout_001
--------------------------------------------------------- */

.table_layout_001 {
  background: #fff;
  word-break: break-all;
}

.table_layout_001 table {
  border-collapse: collapse;
  border: 1px solid #d6d6d6;
  width: 100%;
}

.table_layout_001 th,
.table_layout_001 td {
  border: 1px solid #d6d6d6;
  padding: 12px 12px;
  vertical-align: top;
  line-height: 1.4;
}

.table_layout_001 th {
  font-weight: normal;
  text-align: left;
  background: #0d3978;
  color: #fff;
  text-align: center;
  border: 1px solid #2d5792;
  position: relative;
}

.table_layout_001 .table_bgcolor {
  width: 30%;
  background: #f6f8fb;
  font-size: 12px;
}

@media only screen and (max-width: 640px){
  .table_layout_001 th,
  .table_layout_001 td {
    padding: 8px 5px;
  }
}



/* table_layout_002
--------------------------------------------------------- */

.table_layout_002 {
  background: #fff;
  word-break: break-all;
}

.table_layout_002 table {
  border-collapse: collapse;
  border: 1px solid #d6d6d6;
  width: 100%;
}

.table_layout_002 th,
.table_layout_002 td {
  border: 1px solid #d6d6d6;
  padding: 10px 12px;
  vertical-align: top;
}

.table_layout_002 th {
  width: 30%;
  font-weight: normal;
  text-align: left;
  background: #f6f8fb;
  text-align: left;
  font-size: 12px;
}

@media only screen and (max-width: 640px){
  .table_layout_002 th,
  .table_layout_002 td {
    padding: 12px 5px;
  }
}



/* ---------------------------------------------------------
 リスト
--------------------------------------------------------- */

/* indent_list
--------------------------------------------------------- */
.indent_list li {
  margin-left: 1.4em;
  text-indent: -1.4em;
  margin-bottom: 20px;
}

.indent_list li:last-child {
  margin-bottom: 0;
}

/* num_list
--------------------------------------------------------- */
.num_list li {
  margin-left: 1.4em;
  text-indent: -1.4em;
  margin-bottom: 20px;
}

.num_list li:last-child {
  margin-bottom: 0;
}

/* border_list
--------------------------------------------------------- */

.border_list li {
  margin-bottom: 5px;
  padding: 0 0 0 25px;
}

.border_list li:last-child {
  margin-bottom: 0;
}

.border_list li span {
  display: inline-block;
  position: relative;
}

.border_list li span:before {
  content: "";
  position: absolute;
  border-top: 1px solid #aeaeae;
  top: 11px;
  left: -25px;
  height: 4px;
  width: 18px;
}



/* ---------------------------------------------------------
 ページ内リンク
--------------------------------------------------------- */
.site_link_list {
  overflow: hidden;
  border: 5px #f0f0f0 solid;
  padding: 20px 0 15px 20px;
}

.site_link_list li {
  float: left;
  margin: 0 20px 5px 0;
}

@media only screen and (max-width: 640px){
  .site_link_list {
    padding: 15px 0 10px 15px;
  }

  .site_link_list li {
    float: left;
    margin: 0 15px 5px 0;
  }
}




/* ---------------------------------------------------------
 注意事項
--------------------------------------------------------- */

/* notes
--------------------------------------------------------- */
.notes {
  font-size: 12px;
  margin: 20px 0 0;
  color: #666;
}

.notes p {
  margin: 20px 0 0;
}

.notes_bg {
  background: #f3f3f3;
  padding: 20px;
  margin: 40px 0 0;
}

.notes_bg02 {
  background: #f0f7f8;
  padding: 20px;
  margin: 40px 0 0;
}

.notes_bg03 {
  background: #fcf5f5;
  padding: 20px;
  margin: 40px 0 0;
}

.notes_title {
  font-size: 13px;
  border-bottom: 1px #888 dotted;
  padding: 0 0 5px;
  margin: 0 0 10px;
}

.notes_box p {
  margin: 0;
}


/* notes_list
--------------------------------------------------------- */

.notes_list {
  margin: 20px 0 0;
}

.notes_list li {
  margin-left: 1.1em;
  text-indent: -1.1em;
}

.notes_num_list {
  margin: 20px 0 0;
}

.notes_num_list li {
  margin-left: 2.2em;
  text-indent: -2.2em;
}





/* ---------------------------------------------------------
 キャプション
--------------------------------------------------------- */

.caption {
  font-size: 12px;
  margin: 5px 0 0;
  text-align: right;
  color: #6a6a6a;
}


/* ---------------------------------------------------------
 改行
--------------------------------------------------------- */

/* pctb_br
--------------------------------------------------------- */

@media only screen and (max-width: 1020px){
  .pctb_br {
    display: none;
  }
}

/* sp_br
--------------------------------------------------------- */
.sp_br {
  display: none;
}

@media only screen and (max-width: 640px){
  .sp_br {
    display: block;
  }
}


/* ---------------------------------------------------------
 テキスト
--------------------------------------------------------- */

.txt_color_default {
  color: #333;
}

.txt_color_gray {
  color: #8a8989;
}

.txt_color_gray_size_s {
  font-size: 12px;
  color: #8a8989;
}

.txt_color_gray_size_ss {
  font-size: 11px;
  color: #8a8989;
}

.txt_color_red {
  color: #f01212;
}

.txt_color_point {
  color: #55ac59;
}

.txt_size_s {
  font-size: 12px;
}


/* ---------------------------------------------------------
 リンク
--------------------------------------------------------- */

.link_list {
  overflow: hidden;
  margin: 10px 0 0;
}

.link_list a {
  font-size: 12px;
}


/* ---------------------------------------------------------
 ボタン
--------------------------------------------------------- */

/* button
--------------------------------------------------------- */

.button {
  width: 100%;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 10px 0 10px 20px;
  border-radius: 17px;
  background: url(../../common/imgs/icon_signup.png) 13px 50% no-repeat #00b88b;
  background-size: 14px;
  line-height: 1.4;
}

.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button:hover {
  background: url(../../common/imgs/icon_signup.png) 13px 50% no-repeat #0cd9e0;
  background-size: 14px;
  text-decoration: none;
  color: #fff;
}

/* page_btn
--------------------------------------------------------- */

.page_btn {
  max-width: 400px;
  padding: 60px 0 0;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
}

.page_btn a {
  max-width: 400px;
  display: block;
  padding: 16px 0;
  border-left:1px solid #4ae59e;
  border-right:1px solid #7dd3f5;
  background: url(../../common/imgs/icon_arrow01.png) 20px 50% no-repeat;
  background-size: 10px;
  color: #0cc7c5;
  text-decoration: none;
  -webkit-transition: all .5s ease-out;
}

.page_btn:before,
.page_btn:after {
  content:"";
  display:block;
  height:1px;
  width:100%;
  background:-webkit-gradient(linear, left top, right bottom, from(#4ae59e), to(#7dd3f5));
  background:-moz-linear-gradient(left, #4ae59e, #7dd3f5);
  background:linear-gradient(left, #4ae59e, #7dd3f5);
}

.page_btn a:hover{
  color: #fff;
  background:url(../../common/imgs/icon_arrow02.png) 20px 50% no-repeat,-webkit-gradient(linear, left top, right bottom, from(#4ae59e), to(#7dd3f5));
  background:url(../../common/imgs/icon_arrow02.png) 20px 50% no-repeat,-moz-linear-gradient(left, #4ae59e, #7dd3f5);
  background:url(../../common/imgs/icon_arrow02.png) 20px 50% no-repeat,linear-gradient(left, #4ae59e, #7dd3f5);
  background-size: 10px 16px, 100% 100%;
}

@media only screen and (max-width: 640px){
  .page_btn {
    padding: 30px 10px 0;
  }
}
