/* =========================================================
 top
========================================================= */

/* ---------------------------------------------------------
 layout
--------------------------------------------------------- */

#container {
  background: #fff;
}

#contents {
  width: 100%;
  margin: 0;
  padding: 80px 0 0;
  overflow: hidden;
}

@media only screen and (max-width: 1020px){
  #contents {
    padding: 120px 0 0;
  }
}

@media only screen and (max-width: 640px){
  #contents {
    width: 100%;
    padding: 69px 0 0;
  }
}



/* =========================================================
 main
========================================================= */

.main {
  min-width: 100%;
  height: 600px;
  background: url(../../imgs/main_img.png) 0 center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.main_block {
  width: 1020px;
  margin: 0 auto;
}

.main_contents {
  padding: 56px 0 0 0;
}
.main_left {
  width: 560px;
  float: left;
  padding: 0 10px 0 0;
}

.main_center {
  float: left;
  padding: 40px 0 0;
}

.main_right {
  float: right;
}

.main_sub_copy {
  color: #fff;
  font-size: 15px;
  margin: 0;
}

.main_copy {
  color: #fff;
  font-size: 30px;
  letter-spacing: 0;
}

@media only screen and (max-width: 1020px){

  .main {
    height: auto;
  }

  .main_block {
    width: auto;
    padding: 0 20px 140px;
  }

  .main_left {
    width: 60%;
  }

  .main_center {
    width: 40%;
    padding: 0;
    text-align: center;
  }

  .main_info {
    display: none;
  }

  .main_sub_copy {
    line-height: 1.3;
    margin: 0 0 10px;
  }

  .main_copy {
    line-height: 1.4;
  }
}

@media only screen and (max-width: 640px){
  .main_block {
    padding: 0 10px 70px;
  }

  .main_contents {
    padding: 23px 0 0 0;
  }

  .main_left {
    width: 100%;
    padding: 0;
  }

  .main_center {
    width: 40%;
    display: none;
  }

  .main_info {
    display: none;
  }

  .main_sub_copy {
    line-height: 1.4;
  }

  .main_copy {
    line-height: 1.3;
  }
}

/* ---------------------------------------------------------
 main_list_feature
--------------------------------------------------------- */

.main_list_feature {
  overflow: hidden;
  margin: 10px 0 30px;
}

.main_list_feature li {
  float: left;
  color: #9fd9fa;
  font-size: 11px;
  padding: 0 0 0 19px;
  margin: 0 15px 0 0;
  background: url(../../imgs/icon_check.png) 0 2px no-repeat;
  background-size: 13px;
}

.main_list_feature li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1020px){
  .main_list_feature {
    overflow: hidden;
    margin: 10px 0 20px;
  }
}



/* ---------------------------------------------------------
 main_info
--------------------------------------------------------- */

.main_info {
  width: 215px;
  background: #fff;
  padding: 15px;
}

.main_info_title {
  font-size: 15px;
  border-bottom: 1px #e0e0e0 solid;
  padding: 0 0 10px;
  margin: 0 0 14px;
  text-align: center;
  color: #343434;
}

.main_info_txt {
  font-size: 12px;
  color: #787878;
  margin: 0 0 15px;
}

.main_info_signup {
  text-align: center;
  margin: 0 0 5px;
}

.main_info_login {
  text-align: center;
  color: #1dbec7;
  font-size: 11px;
}

.main_info_login a {
  color: #1dbec7;
}


/* ---------------------------------------------------------
 main_brand
--------------------------------------------------------- */

.main_brand {
  width: 470px;
  border: 1px #589fdd solid;
  color: #fff;
}

.main_brand_top {
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.main_brand_new {
  width: 60px;
  height: 27px;
  background: #fcff00;
  color: #000;
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  padding: 4px 5px 0;
  position: absolute;
  left: 0;
}

.main_brand_title {
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 4px;
}

.main_brand_title a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 3px 0px 0 5px;
  background: url(../../common/imgs/icon_arrow03.png) right 50% no-repeat #07aef4;
  background-size: 21px;
}
.main_brand_title a:hover {
  background: url(../../common/imgs/icon_arrow03.png) right 50% no-repeat #07caf4;
  background-size: 21px;
}

.main_brand_bottom {
  text-align: center;
  padding: 4px 5px;
}

.main_brand_txt {
  font-size: 12px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1020px){
  .main_brand {
    width: auto;
  }

  .main_brand_top {
    text-align: left;
  }

  .main_brand_new {
    width: 15%;
    float: left;
    text-align: center;
  }

  .main_brand_title {
    width: 85%;
    height: 30px;
    text-align: center;
    float: right;
    letter-spacing: 2px;
  }

  .main_brand_bottom {
  }
}

@media only screen and (max-width: 1020px){
  .main_brand {
    width: 100%;
    margin: 0 auto;
  }
}



/* ---------------------------------------------------------
 main_pickup
--------------------------------------------------------- */

.main_pickup {
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  background: #15386a;
  border-radius: 17px;
  margin: 20px 0 0;
}

.main_pickup_title {
  width: 15%;
  color: #fff;
  float: left;
  background: #15386a;
  border-radius: 17px 0 0 17px;
  padding: 8px 5px 5px;
  text-align: center;
  letter-spacing: 2px;
}

.main_pickup_box {
  width: 85%;
  color: #111;
  float: left;
  font-size: 13px;
  background: #fff;
  border-radius: 0 17px 17px 0;
  padding: 8px 20px 5px;
}

.main_pickup_day {
  width: 100px;
  color: #7e7e7e;
  float: left;
  letter-spacing: 0;
}

.main_pickup_txt {
  float: left;
  text-align: left;
  letter-spacing: -0.5px;
}

@media only screen and (max-width: 1020px){

  .main_pickup {
    border-radius: 3px;
  }
  .main_pickup_title {
    border-radius: 3px 0 0 3px;
  }

  .main_pickup_box {
    border-radius: 0 3px 3px 0;
  }

  .main_pickup_day {
    width: 20%;
  }

  .main_pickup_txt {
    width: 80%;
  }
}

@media only screen and (max-width: 640px){

  .main_pickup {
    width: 100%;
    border-radius: 3px;
  }

  .main_pickup_title {
    width: auto;
    float: none;
    border-radius: 3px 3px 0 0;
  }

  .main_pickup_box {
    width: auto;
    color: #111;
    float: left;
    font-size: 13px;
    background: #fff;
    border-radius: 0 0 3px 3px;
    padding: 8px 10px 5px;
  }

  .main_pickup_day {
    width: auto;
  }

  .main_pickup_txt {
    width: auto;
  }

  .main_pickup {
    margin: 25px 0 0;
  }
}


/* =========================================================
 main_plan
========================================================= */


.main_plan {
  width: 100%;
  background: #fff;
  position: relative;
}

.main_plan_block {
  padding: 0 0 70px;
  background: url(../../imgs/main_plan_bg.jpg) center bottom no-repeat;
}

.main_plan_inner {
  margin: -205px auto 0;
  width: 1020px;
  position: relative;
  z-index: 20;
  padding: 0 0 60px;
  background: url(../../imgs/shadow.png) center bottom no-repeat;
}

.main_plan_block .page_btn {
  padding: 0;
}

.main_plan_left {
  width: 740px;
  background: #fff;
  float: left;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(9,37,69,0.3);
  -moz-box-shadow: 0px 0px 25px 1px rgba(9,37,69,0.3);
  box-shadow: 0px 0px 25px 1px rgba(9,37,69,0.3);
}

.main_plan_right {
  width: 280px;
  float: right;
  margin: 30px 0 0;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(9,37,69,0.3);
  -moz-box-shadow: 0px 0px 25px 1px rgba(9,37,69,0.3);
  box-shadow: 0px 0px 25px 1px rgba(9,37,69,0.3);
  background-size: cover;
  background: url(../../imgs/main_xreamail_bg.png) center bottom no-repeat #112130;
  padding: 40px;
  min-height: 630px;
}

.main_xreafree {
  width: 310px;
  float: left;
  margin: 20px 0 0 0;
  position: relative;
}

.main_xreaplus {
  width: 350px;
  float: left;
  border: 4px #0d3978 solid;
  position: relative;
}

.main_xreamail {
  width: 200px;
  float: left;
}

@media only screen and (max-width: 1020px){
  .main_plan_block {
    padding: 0 0 50px;
  }

  .main_plan_inner {
    margin: -105px 0 0;
    width: auto;
    padding: 0 10px;
  }

  .main_plan_block .page_btn {
    padding: 30px 10px 0;
  }

  .main_plan_left {
    width: 70%;
    padding: 30px;
  }

  .main_plan_right {
    width: 30%;
    padding: 30px;
  }

  .main_xreafree {
    width: 45%;
  }

  .main_xreaplus {
    width: 55%;
  }

  .main_xreamail {
    width: 100%;
  }
}

@media only screen and (max-width: 640px){
  .main_plan_inner {
    margin: -75px 0 0;
    padding: 20px 10px 0;
  }

  .main_plan_left {
    width: 100%;
    padding: 20px;
  }

  .main_plan_right {
    width: 100%;
    padding: 20px;
    min-height: auto;
    background: #112130;
  }

  .main_xreafree {
    width: 100%;
    margin: 0 0 20px;
  }

  .main_xreaplus {
    width: 100%;
  }

  .main_xreamail {
    width: 100%;
  }
}


/* main_plan_title
--------------------------------------------------------- */

.main_plan_title {
  color: #fff;
  font-size: 22px;
  padding: 14px 20px 8px;
  text-align: center;
  height: 55px;
}

.main_plan_title_free {
  background: #1a6ec4;
}

.main_plan_title_plus {
  background: #0d3978;
  padding: 20px 20px 8px;
  height: 71px;
}

.main_plan_title_mail {
  background: #2e445f;
  padding: 11px 20px 8px;
  font-size: 17px;
  height: 44px;
}

.main_plan_title_txt {
  font-size: 13px;
  font-weight: normal;
}


@media only screen and (max-width: 1020px){
  .main_plan_title {
    padding: 14px 10px 8px;
    height: auto;
  }

  .main_plan_title_plus {
    padding: 20px 10px 8px;
    height: auto;
  }

  .main_plan_title_mail {
    padding: 11px 10px 8px;
    height: auto;
  }
}

/* main_plan_txt
--------------------------------------------------------- */

.main_plan_txt {
  color: #134d80;
  font-size: 12px;
  padding: 10px 30px;
  border-left: 1px #e1e1e1 solid;
}

.main_plan_txt_free {
  background: #e6f3fc;
  color: #185d7c;
}

.main_plan_txt_plus {
  background: #ecf4ff;
  color: #134d80;
}

.main_xreamail .main_plan_txt {
  background: none;
  color: #b9d2f0;
  padding: 10px 15px 2px;
  border-left: 1px #2e445f solid;
  border-right: 1px #2e445f solid;
}


@media only screen and (max-width: 1020px){
  .main_plan_txt {
    padding: 10px 10px;
  }

  .main_xreamail .main_plan_txt {
    padding: 10px 10px 2px;
  }
}


/* main_plan_info
--------------------------------------------------------- */

.main_plan_info {
  text-align: center;
  border-left: 1px #e1e1e1 solid;
  padding: 10px 20px;
}

.main_xreamail .main_plan_info {
  border-left: 1px #2e445f solid;
  border-right: 1px #2e445f solid;
  color: #fff;
  padding: 0 20px 7px;
}

.main_plan_info span {
  display: inline-block;
}

.main_plan_month {
  border: 1px #b4b4b4 solid;
  font-size: 12px;
  padding: 0 8px;
  color: #484848;
  margin: 0 5px 0 0;
}

.main_xreamail .main_plan_month {
  border: 1px #5d7d99 solid;
  color: #97b0c7;
}

.main_plan_price {
  font-size: 25px;
  color: #1d6fb6;
}

.main_xreamail .main_plan_price {
  font-size: 25px;
  color: #fff;
}

.main_plan_price_subtxt {
  font-size: 11px;
  color: #767676;
}

.main_xreamail .main_plan_price_subtxt {
  color: #97b0c7;
}

@media only screen and (max-width: 640px){
  .main_plan_info {
    border-right: 1px #e1e1e1 solid;
  }
}

/* main_plan_feature
--------------------------------------------------------- */

.main_plan_feature {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px #e1e1e1 solid;
  border-left: 1px #e1e1e1 solid;
}

.main_xreamail .main_plan_feature {
  border: 1px #2e445f solid;
}

.main_plan_feature th {
  color: #484848;
  font-size: 13px;
  text-align: left;
  border-top: 1px #e1e1e1 solid;
  padding: 10px 0 10px 40px;
  font-weight: normal;
}

.main_xreamail .main_plan_feature th {
  color: #b7cfe5;
  border-top: 1px #2e445f solid;
  padding: 10px 0 10px 15px;
  font-size: 12px;
}

.main_plan_feature td {
  color: #111;
  border-top: 1px #e1e1e1 solid;
  padding: 10px 20px 10px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.main_xreamail .main_plan_feature td {
  color: #fff;
  font-size: 13px;
  border-top: 1px #2e445f solid;
  padding: 10px 5px 10px 5px;
  font-weight: normal;
}

.main_plan_feature_bg {
  background: #f6f6f6;
}

.main_xreamail .main_plan_feature_bg {
  background: rgba(213,219,225,0.05);
}


@media only screen and (max-width: 1020px){

  .main_plan_feature th {
    padding: 10px 0 10px 10px;
  }

  .main_xreamail .main_plan_feature th {
    padding: 10px 0 10px 15px;
  }

  .main_plan_feature td {
    padding: 10px 10px 10px 10px;
  }
}


@media only screen and (max-width: 640px){
  .main_plan_feature {
    border-right: 1px #e1e1e1 solid;
  }
}

/* main_plan_signup
--------------------------------------------------------- */


.main_plan_signup {
  border-left: 1px #e1e1e1 solid;
  border-bottom: 1px #e1e1e1 solid;
  padding: 15px 20px;
  margin: 0 auto;
  text-align: center;
}

.main_xreamail .main_plan_signup {
  border-left: 1px #2e445f solid;
  border-right: 1px #2e445f solid;
  border-bottom: 1px #2e445f solid;
}

.main_plan_signup a {
  max-width: 170px;
}

@media only screen and (max-width: 1020px){
  .main_plan_signup {
    padding: 15px 10px;
  }
}

@media only screen and (max-width: 640px){

  .main_plan_signup {
    border-right: 1px #e1e1e1 solid;
  }
}


/* main_plan_pickup
--------------------------------------------------------- */

.main_plan_pickup {
  width: 72px;
  background: #fcff00;
  text-align: center;
  padding: 1px 5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  font-weight: bold;
}



/* =========================================================
 brandnew
========================================================= */

#brandnew {
  width: 100%;
  background: url(../../imgs/brandnew_bg.png) 0 0% no-repeat;
  background-size: cover;
  padding-top: 100px;
  margin-top: -100px;
}

@media only screen and (max-width: 1020px){
  #brandnew {
    padding-top: 140px;
    margin-top: -140px;
  }
}

@media only screen and (max-width: 640px){
  #brandnew {
    padding-top: 50px;
    margin-top: -50px;
  }
}

.brandnew_block {
  width: 1020px;
  margin: 0 auto;
  padding: 70px 0;
}

.brandnew_title {
  max-width: 367px;
  text-align: center;
  margin: 0 auto;
}

.brandnew_title_img img {
  margin: 0 0 10px;
}

.brandnew_title_txt {
  color: #b0c6db;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0 0 60px;
}

.brandnew_title_txt p {
  color: #b0c6db;
}

.brandnew_concept {
  font-size: 13px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 40px;
  line-height: 2;
}

@media only screen and (max-width: 1020px){

  .brandnew_block {
    width: auto;
    padding: 50px 10px;
  }

  .brandnew_title_txt {
    margin: 0 0 30px;
  }

  .brandnew_concept {
    text-align: left;
  }
}

@media only screen and (max-width: 640px){

  .brandnew_title_txt {
    margin: 0 0 15px;
  }
}


/* brandnew_point
--------------------------------------------------------- */

.brandnew_point {
  overflow: hidden;
  display: flex;
}

.brandnew_point > li {
  width: 338px;
  background: #fff;
  margin: 0 3px 0 0;
  padding: 30px;
}

.brandnew_point > li:last-child {
  margin: 0;
}

.brandnew_point_num {
  width: 56px;
  text-align: center;
  margin: 0 auto 15px;
}

.brandnew_point_img {
  min-height: 125px;
  text-align: center;
  margin: 0 0 10px;
}

.brandnew_point_img img {
  width: 50%;
}

.brandnew_point_title {
  font-size: 16px;
  color: #222;
  margin: 0 0 15px;
  line-height: 1.4;
}

.brandnew_point_title span {
  font-size: 12px;
  color: #7a7a7a;
  font-weight: normal;
}

.brandnew_point_txt {
  font-size: 13px;
  color: #6a6a6a;
}

@media only screen and (max-width: 1020px){
  .brandnew_point > li {
    width: 33%;
    padding: 15px;
  }
}

@media only screen and (max-width: 640px){
  .brandnew_point {
    display: block;
  }

  .brandnew_point > li {
    width: auto;
    padding: 10px;
    margin: 0 0 3px 0;
    padding: 20px 15px;
  }
}

/* brandnew_point
--------------------------------------------------------- */

.brandnew_subbox {
  background: rgba(0,82,146,0.3);
  padding: 30px;
  margin: 40px 0 0 0;
}

.brandnew_subbox_title {
  color: #b7d4e3;
  font-size: 16px;
  text-align: center;
  margin: 0 0 20px 0;
  letter-spacing: 4px;
}

.brandnew_basic_list {
  overflow: hidden;
}

.brandnew_basic_list li {
  width: 188px;
  min-height: 50px;
  float: left;
  margin: 0 3px 3px 0;
  padding: 18px 5px 0 50px;
  background-size: 24px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 1.4;
  overflow: hidden;
}

.brandnew_basic_list01 {background: url(../../imgs/brandnew_basic_list01.png) 10px 50% no-repeat #fff;}
.brandnew_basic_list02 {background: url(../../imgs/brandnew_basic_list02.png) 10px 50% no-repeat #fff;}
.brandnew_basic_list03 {background: url(../../imgs/brandnew_basic_list03.png) 10px 50% no-repeat #fff;}
.brandnew_basic_list04 {background: url(../../imgs/brandnew_basic_list04.png) 10px 50% no-repeat #fff;}
.brandnew_basic_list05 {background: url(../../imgs/brandnew_basic_list05.png) 10px 50% no-repeat #fff;}
.brandnew_basic_list06 {background: url(../../imgs/brandnew_basic_list06.png) 10px 50% no-repeat #fff;}
.brandnew_basic_list07 {background: url(../../imgs/brandnew_basic_list07.png) 10px 50% no-repeat #fff;}
.brandnew_basic_list08 {background: url(../../imgs/brandnew_basic_list08.png) 10px 50% no-repeat #fff;}
.brandnew_basic_list09 {background: url(../../imgs/brandnew_basic_list09.png) 10px 50% no-repeat #fff;}
.brandnew_basic_list10 {background: url(../../imgs/brandnew_basic_list10.png) 10px 50% no-repeat #fff;}


.brandnew_basic_list .brandnew_basic_list09 {
  padding: 8px 5px 0 50px;
}


@media only screen and (max-width: 1020px){
  .brandnew_basic_list li {
    width: 32.8%;
  }
}


@media only screen and (max-width: 640px){
  .brandnew_subbox {
    padding: 10px;
    margin: 20px 0 0 0;
  }
  .brandnew_basic_list {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
  }
  .brandnew_basic_list li {
    width: 49%;
    max-height: 60px;
    padding: 16px 5px 13px 50px;
  }
  .brandnew_basic_list li:nth-child(even) {
    margin: 0 0 3px 0;
    float: right;
  }

}



/* =========================================================
 feature
========================================================= */

.feature {
  width: 100%;
}

.feature_block {
  width: 1020px;
  padding: 70px 0;
  margin: 0 auto;
  overflow: hidden;
}

.feature_left {
  width: 50%;
  float: left;
}

.feature_right {
  width: 50%;
  float: right;
}

.feature_title {
  text-align: center;
  margin: 190px 0 0;
}

.feature_title_img {
  width: 52px;
  margin: 0 auto 25px;
}

.feature_title_txt {
  font-size: 19px;
  letter-spacing: 3px;
}

.feature_list_block {
  padding: 20px;
}

.feature_list_img {
  width: 46px;
  height: 55px;
  margin: 0 auto;
  padding: 0 0 15px;
}

.feature_list_title {
  font-size: 16px;
  color: #222;
  text-align: center;
  padding: 10px 0 15px;
}

.feature_list_txt {
  font-size: 13px;
  color: #6a6a6a;
}

.feature_list {
  overflow: hidden;
}

.feature_list > li {
  width: 250px;
  min-height: 290px;
  float: left;
  background: #fff;
  border: 1px #e5e5e5 solid;
  margin: 0 3px 3px 0;
}

.feature_list li:nth-child(even) {
  margin: 0 0 3px 0;
}

@media only screen and (max-width: 1020px){

  .feature_block {
    width: auto;
    padding: 40px 10px;
  }

  .feature_left {
    width: auto;
    float: none;
  }

  .feature_right {
    width: auto;
    float: none;
  }

  .feature_title {
    margin: 0 0 20px;
  }

  .feature_list {
    overflow: hidden;
    display: flex;
  }

  .feature_list > li {
    width: 24.5%;
    min-height: auto;
    margin: 0 3px 0 0;
  }

  .feature_list li:nth-child(even) {
    margin: 0 3px 0 0;
  }

  .feature_list li:last-child {
    margin: 0 0 0 0;
  }

}

@media only screen and (max-width: 640px){

  .feature_list_block {
    padding: 10px;
  }

  .feature_list {
    display: block;
  }

  .feature_list > li {
    width: auto;
    float: none;
    margin: 0 0 3px 0;
  }

  .feature_list li:nth-child(even) {
    margin: 0 0 3px 0;
  }

  .feature_list li:last-child {
    margin: 0;
  }

  .feature_list_img {
    padding: 5px 0 15px;
  }
}



/* =========================================================
 information
========================================================= */

.information {
  width: 100%;
  background: #f9f9f9;
}

.information_block {
  width: 1020px;
  padding: 0 0 70px;
  margin: 0 auto;
  overflow: hidden;
}

.information_left {
  width: 490px;
  float: left;
}

.information_right {
  width: 490px;
  float: right;
}

.information_title {
  border-left: 3px #070707 solid;
  padding: 50px 0 0 30px;
  font-size: 19px;
  color: #000;
  margin: 0 0 60px;
}

.information_list {
  overflow: hidden;
  font-size: 13px;
}

.information_list dt {
  width: 120px;
  clear: both;
  float: left;
  color: #6d6d6d;
  padding: 0 0 5px;
}

.information_list dd {
  width: 370px;
  float: left;
  padding: 0 0 5px;
}

.information_failure_list {
  font-size: 13px;
}


@media only screen and (max-width: 1020px){

  .information_block {
    width: auto;
    padding: 0 10px 40px;
  }

  .information_left {
    width: 48%;
  }

  .information_right {
    width: 48%;
  }

  .information_list dt {
    width: auto;
    float: none;
    line-height: 1;
  }

  .information_list dd {
    width: auto;
    float: none;
    padding: 0 0 15px;
  }

  .information_list dd:last-child {
    padding: 0 0 5px;
  }

}

@media only screen and (max-width: 640px){


  .information_left {
    width: auto;
    float: none;
    margin: 0 0 30px;
  }

  .information_right {
    width: auto;
    float: none;
  }

  .information_title {
    padding: 25px 0 0 15px;
    margin: 0 0 30px;
  }
}








