/*
 @TEMP
 @LAYOUT
 @FORM ELEMENTS
 @HEADER
 @FOOTER
 @LEFT NAV
 @BUTTONS
 @ERRORS
 @POP UP BLOCK
 @LOGIN MODAL
 @EMAIL TO FRIEND MODAL
 @SOCIAL BUTTONS
 @COMMON CATEGORY
 @COMMON PDP
 @COMMON CART
 @COMMON WISH-LIST
 @RADIUS SEARCH
 @COLORBOX

*/

/*--- @TEMP ---*/

/*  until move conversion code into GTM */
img[src*="doubleclick"] {
    display: none;
}

img[src*="ads.yahoo.com/pixel"] {
    display: none;
}

/* TODO : Clean up this coming from the CMS */
#bpText {
    clear: both;
    margin-top: 8px;
    padding-right: 10px;
    width: 725px;
    color: #919191;
}

#bpText * {
    color: #919191;
}

a#bpExpand, a#bpClose {
    font-size: 9px;
    clear: both;
    color: #919191;
    display: block;
    margin: 3px 0 0 0;
}

#bpExpand img, #bpClose img {
    display: none;
}

/* ============ @RESET ============= */
/* Eric Meyers Version http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1;
    font: 11px/1.35 "Arial", "Helvetica", sans-serif;
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    color: #9d9d9d;
    text-decoration: none
}

a:link, a:visited {
    color: #484848
}

a:hover, a:focus {
    outline: 0;
    color: #55b6e3
}


/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.3em;
}

sub {
    bottom: -0.25em;
}

em, i {
    font-style: italic
}

b, strong {
    font-weight: 600
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

p {
    margin: 4px 0
}


/*--- @LAYOUT ---*/

body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: auto;
}

body ul {
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    width: 996px;
    background-color: #fff;
}

.page {
    margin: 20px 20px 40px;
    width: 960px;
    display: inline-block;
}

.col-left {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
    width: 190px;
}

.col-main-2 {
    display: inline-block;
    width: 750px;
    margin-left: 20px;
    width: 746px;
}

ul.messages {
    width: 100%;
}

#animatedLoader {
    display: none;
    left: 50%;
    position: absolute;
    top: 150px;
    z-index: 1000
}

#ajaxLoading {
    background: url('../../../enterprise/zumiez/images/product/loadingAnimation.gif') no-repeat 0 0;
    display: block;
    height: 60px;
    left: 50%;
    position: fixed;
    top: 200px;
    width: 45px;
    z-index: 9999;
}

/*--- @FORM ELEMENTS ---*/

select {
    background: #fff url('//static.zumiez.com/skin/frontend/delorum/default/images/dd-arrow.gif') 90% / 12px no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    height: 36px;
    min-width: 65px;
    font-size: 14px;
    border-radius: 3px;
    border-color: #737373;
    font-family: "Open Sans Condensed", sans-serif;
}

select, option {
    padding-left: 10px;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.validation-advice {
    color: #D91A00;
    font-size: 11px;
    position: absolute;
}
#ship-to-store-container .validation-advice { position: absolute; }

.validation-failed {
    border: 1px solid #d91a00;
}

/*--- @HEADER ---*/

header {
    background-color: #FFFFFF;
    display: inline-block;
}

#pre_header_zone,
#header_top_zone,
#header_middle_zone,
#header_bottom_zone,
#post_header_zone {
    float: left;
    min-width: 960px;
}

.pre-header-wrapper img {
    display: block;
    width: 53px;
    margin: 0 auto;
}

header * {
    box-sizing: border-box;
    color: #2A2A2A;
    text-transform: uppercase;
}

header > div {
    width: 100%;
}

header > div div.header-center {
    text-align: right;
    margin: 0 auto;
    width: 980px;
}

#header_top_zone {
    background-color: #EAEAEA;
    border-bottom: 1px solid #E0E0E0;
    display: inline-block;
}

#header_top_zone div.header-center {
    font: 400 9px "Arial", sans-serif;
    vertical-align: middle;
}

#header_top_zone,
#header_top_zone div.header-center,
ul.customer-links {
    overflow: visible;
}

.customer-links {
    margin: 0;
}

ul.customer-links {
    float: right;
    height: 31px;
}

ul.customer-links li:first-child {
    position: relative;
}

ul.customer-links li:first-child #myaccount-sublinks {
    display: none;
    position: absolute;
    width: 120px;
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(224, 224, 224);
    top: 100%;
    left: -10px;
    padding: 8px 14px;
    margin: 0;
    text-align: left;
}

ul.customer-links li:first-child:hover #myaccount-sublinks {
    display: block;
}

ul.customer-links li {
    vertical-align: middle;
    float: left;
    margin: 0 0 0 23px;
    padding: 12px 0 11px;
}

ul.customer-links li a:hover,
ul.customer-links li a:active,
ul.customer-links li.radiussearch-selected-store a.store-name:link,
ul.customer-links li.radiussearch-selected-store a.store-name:visited,
ul.customer-links li.radiussearch-selected-store a.store-name:hover,
ul.customer-links li.radiussearch-selected-store a.store-name:active,
ul.customer-links li.switcher-language a.current {
    color: rgb(221, 89, 0);
}

#header_top_zone ul.customer-links ul {
    background-color: rgb(234, 234, 234);
    padding: 10px;
    position: absolute;
    left: -9999px;
    top: -9999px;
}

#header_top_zone ul.customer-links li:hover {
    position: relative;
}

#header_top_zone ul.customer-links li:hover ul {
    left: -15px;
    top: 23px;
    width: 170px;
}

#header_top_zone ul.customer-links li:hover ul li {
    height: 18px;
    margin: 0;
    padding: 0;
}

#header_top_zone ul.customer-links li:hover ul li a {
    height: 18px;
    display: block;
    width: 160px;
    line-height: 18px;
    text-align: left;
    text-indent: 5px;
    background-color: rgb(234, 234, 234);
}

#myaccount-sublinks li {
    margin: 0;
    padding: 0;
    display: block;
    float: none;
}

#myaccount-sublinks li a {
    display: block;
    float: none;
    padding: 6px 0;
}

#header_bottom_zone {
    background-color: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
    display: inline-block;
}

#header_bottom_zone div.header-center {
    text-align: left;
}

#header_bottom_zone div.header-center * {
    font: 400 11px "Arial", sans-serif;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

#global_search_form {
    display: inline-block;
    overflow: auto;
    margin: 30px 0 0;
}

#global_search_form input[type="text"] {
    font: 11px Arial, Helvetica, sans-serif;
}

#global_search_form * {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    float: left;
}

#global_search_form input[type="text"] {
    border-radius: 3px 0 0 3px;
    border-top: rgb(160, 160, 160) 1px solid;
    border-left: rgb(160, 160, 160) 1px solid;
    border-bottom: rgb(160, 160, 160) 1px solid;
    padding: 11px 12px 10px 0;
    text-indent: 12px;
    width: 325px;
    text-transform: none;
    font-style: italic;
}

#global_search_form input[type="submit"] {
    width: 50px;
    height: 36px;
    background: rgb(221, 89, 0) url("../images/header_assets/icon-search.png") no-repeat center center;
    border-radius: 0 3px 3px 0;
}

#global_search_form input[type="text"]:focus {
    font-style: normal;
}

#global_search_form input:first-child {
    -webkit-margin-before: 0;
}

header #header_before_bag {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin: 38px 0 0 30px;
    font-weight: 600;
}

header #header_before_bag span {
    float: right
}

header #header_bag_link {
    overflow: auto;
    margin: 15px 0 0;
    float: right;
}

header #header_bag_link #header_cart_qty {
    background: url("../images/header_assets/bag.png") no-repeat 8px center transparent;
    float: right;
    width: 47px;
    height: 63px;
    padding: 26px 0 0;
    font: 600 13px "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 0 30px;
}

#logo a img {
    width: 180px;
    height: auto;
}

#logo {
    float: left;
    margin: 29px 0;
    position: relative;
}

#env_label {
    background: #ff8c00;
    border: 1px solid #234C10;
    float: left;
    font-weight: 600;
    margin: -30px 0 0 -5px;
    padding: 1px 16px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 185px;
}

#header_before_customer_links {
    float: left;
    font: 600 11px "Arial", sans-serif;
    overflow: hidden;
    padding: 11px 0 0 0;
    width: auto;
}

#header_before_customer_links span, #header_before_bag span {
    color: rgb(221, 89, 0);
}

#header_top_zone div.header-center ul.customer-links li.radiussearch-selected-store a.change-store {
    font: 400 8px "Arial", sans-serif;
}

#header_before_customer_links a:hover, #header_before_customer_links a:visited, #header_before_bag a:hover, #header_before_bag a:visited {
    color: #484848
}

ul.customer-links li.radiussearch-selected-store a.change-store:hover,
ul.customer-links li.radiussearch-selected-store a.change-store:active {
    color: rgb(72, 72, 72);
}

ul.customer-links li.radiussearch-selected-store a.change-store span {
    color: rgb(21, 112, 166);
    text-transform: none;
    padding: 0 1px;
}

#header_stash_zone {
    display: inline-block;
    float: right;
    margin: 8px 0 0 40px;
    width: 140px;
}

#header_global_nav {
    float: left
}

#header_global_nav ul li {
    cursor: pointer;
    float: left;
}

#header_global_nav ul li a {
    float: left;
    padding: 11px 18px;
}

#header_global_nav ul li a:link,
#header_global_nav ul li a:visited {
    color: rgb(255, 255, 255);
}

#header_global_nav ul li.current a,
#header_global_nav ul li a:hover {
    background-color: rgb(221, 89, 0);
}

body[class*='categorypath-brands'] a.brands-top-nav,
body[class*='categorypath-shoes'] a.shoes-top-nav,
body[class*='categorypath-mens'] a.mens-top-nav,
body[class*='categorypath-womens'] a.womens-top-nav,
body[class*='categorypath-accessories'] a.accessories-top-nav,
body[class*='categorypath-room'] a.room-top-nav,
body[class*='categorypath-boys'] a.boys-top-nav,
body[class*='categorypath-skate'] a.skate-top-nav,
body[class*='categorypath-snow'] a.snow-top-nav,
body[class*='categorypath-sale'] a.sale-top-nav,
body[class*='categorypath-outlet-clothing'] a.outlet-clothing-top-nav,
body[class*='categorypath-outlet-shoes'] a.outlet-shoes-top-nav,
body[class*='categorypath-outlet-accessories'] a.outlet-accessories-top-nav,
body[class*='categorypath-outlet-snow'] a.outlet-snow-top-nav,
body.cms-shoes a.shoes-top-nav,
body.cms-mens a.mens-top-nav,
body.cms-womens a.womens-top-nav,
body.cms-accessories a.accessories-top-nav,
body.cms-room a.room-top-nav,
body.cms-boys a.boys-top-nav,
body.cms-skate a.skate-top-nav,
body.cms-snow a.snow-top-nav,
body.cms-sale a.sale-top-nav
{
    background-color: rgb(221, 89, 0);
}


/* Hide Outlet by default */
#header_global_nav ul:last-child {
    display: none;
}

/* hide zumiez nav */
body[class*='categorypath-outlet'] #header_global_nav ul:first-child {
    display: none;
}

/* show outlet */
body[class*='categorypath-outlet'] #header_global_nav ul:last-child {
    display: block;
}

/*--- @FOOTER ---*/

#site-pre-footer-block .second {
    margin-left: 20px;
}

#site-pre-footer-block .top-row img {
    margin-bottom: 20px;
}

.fixed_center {
    margin: 0 auto;
    width: 960px;
}

#pre-footer {
    width: 100%;
    float: left;
    background: #dfdfdf;
    padding: 50px 0;
}

#pre-footer h3 {
    color: #4d4d4d;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 5px;
    text-transform: uppercase;
}

#pre-footer li {
    float: left;
    margin-right: 20px;
}

#pre-footer li:last-child {
    margin-right: 0;
}

#site-pre-footer-block img {
    float: left;
}

/*hides footer banner on shop fronts */
body.cms-home #pre-footer, body.category-womens #pre-footer, body.category-shoes #pre-footer, body.category-mens #pre-footer, body.category-boys #pre-footer, body.category-skate #pre-footer, body.category-accessories #pre-footer, body.category-snow #pre-footer, body.category-pro #pre-footer, body.category-sale #pre-footer, body.cms-outlet #pre-footer, body.cms-deals #pre-footer, body.cms-holiday-gift-guide #pre-footer {
    display: none;
}

footer {
    background-color: #fff;
    float: left;
    width: 100%
}

#footer_top_zone {
    background-color: #3D3D3D;
    float: left;
    text-align: center;
    width: 100%;
}

#footer_middle_zone {
    background: #fff;
    float: left;
    padding: 0 0 50px;
    width: 100%;
}

#footer_bottom_zone {
    background: #000;
    float: left;
    height: 45px;
    padding: 0;
    width: 100%;
}

.footer_logo {
    padding: 15px 0 10px;
    margin: 0 auto;
}

.footer_column {
    float: left;
    width: 25%;
}

.footer_column:nth-child(1) {
    width: 290px;
}

.footer_column:nth-child(2) {
    width: 247px;
}

.footer_column:nth-child(3) {
    width: 193px;
}

.footer_column:nth-child(4) {
    width: 230px;
}

.footer_column h3 {
    color: #4c4c4c;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 50px 0 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 25px;
}

.footer_column ul {
    font-size: 12px;
}

.footer_column li {
    margin: 0;
    text-align: left
}

.footer_column li a:link, .footer_column li a:visited {
    color: #848484
}

.footer_column li a:hover {
    color: #df5c02;
}

.footer_bottom_right {
    float: none;
    margin: 0 auto;
    width: 960px;
}

.footer_column:nth-child(1) ul li a:link {
    color: #848484;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    line-height: 27px;
    height: 27px;
    display: block;
}

.footer_column:nth-child(1) ul li a span {
    background: url('//static.zumiez.com/skin/frontend/delorum/default/images/footer-icons-sprite-250x365.png') no-repeat;
    width: 27px;
    height: 27px;
    display: block;
    float: left;
    padding-right: 12px;
}

.footer_column:nth-child(2) ul li a:link {
    padding: 0;
    background: url('//static.zumiez.com/skin/frontend/delorum/default/images/footer-icons-sprite-250x365.png') no-repeat;
    display: block;
}

.footer_column:nth-child(3) ul li a:link, .footer_column:nth-child(4) li {
    color: #848484;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 26px
}

.footer_column:nth-child(1) ul li {
    margin: 20px 0;
}

.footer_column:nth-child(1) h3 {
    margin-bottom: 0;
}

h3#footer-store-locator {
    margin-bottom: 17px;
}

ul.footer-social {
    border-top: 3px solid #e4e4e4;
    width: 150px;
    height: 21px;
    margin-top: 25px;
    padding: 15px 0;
}

ul.footer-social li {
    float: left;
    margin-right: 22px;
}

ul.footer-social li:last-child {
    margin-right: 0;
}

.footer_column:nth-child(2) ul.footer-social li a:link {
    width: 21px;
    height: 21px;
}

#footer-track-order span {
    background-position: -129px -222px;
}

#footer-returns span {
    background-position: -188px -222px;
}

#footer-customer-service span {
    background-position: -25px -317px;
}

#footer-contact-us span {
    background-position: -79px -317px;
}

#footer-stash {
    width: 150px;
    height: 101px;
    background-position: -29px -26px;
}

#footer-facebook {
    background-position: -194px -272px;
}

#footer-twitter {
    background-position: -80px -225px;
}

#footer-pinterest {
    background-position: -25px -275px;
}

#footer-instagram {
    background-position: -194px -319px;
}

#footer-youtube {
    width: 150px;
    height: 25px;
    background-position: -25px -164px;
}

#footer-email-sign-up {
    display: block;
    background-color: #4C4C4C;
    color: #FFF;
    font-family: 'Open Sans condensed', sans-serif;
    font-size: 14px;
    padding: 5px 0;
    border-radius: 2px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    width: 158px;
    clear: both;
    position: relative;
    line-height: 28px;
    margin: 15px 0 20px 0;
}

#footer-store-locator::before {
    content: url('//static.zumiez.com/skin/frontend/delorum/default/images/orange-locator-pin-13x19.png');
    position: relative;
    top: 2px;
    left: -20px;
    padding-left: 25px;
}

#sub-footer {
    padding: 17px 0 16px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #b4b4b4;
    line-height: 12px;
}

#sub-footer li {
    padding: 0 10px;
    border-right: 1px solid #b4b4b4;
    float: left;
}

#sub-footer li a:link, #sub-footer li a:visited {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #b4b4b4;
    line-height: 12px;
}

#sub-footer li a:hover {
    color: #b4b4b4;
}

#sub-footer li:first-child {
    padding-left: 0;
}

#sub-footer li:last-child {
    border: none;
}

/* TOP SEARCH */

ul.topsearch-sublinks {
    background-color: #fff;
    border: 5px solid #e7e7e7;
    float: left;
    width: 370px;
    padding: 10px 20px;
    position: absolute;
    left: -9999px;
    top: -9999px;
}

li.topSearches {
    height: 20px
}

li.topSearches:hover {
    position: relative;
}

li.topSearches:hover ul {
    top: 20px;
    left: 80px;
}

ul.topsearch-sublinks li {
    float: left;
    margin: 4px 0;
    text-align: left;
    width: 150px;
}

div.topSearches {
    position: relative;
}

div.topSearches:hover ul {
    top: -160px;
    left: -20px;
    z-index: 1;
}

div.topSearches a {
    color: #848484;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 26px;
}

ul.topsearch-sublinks2 {
    background-color: #fff;
    border: 5px solid #e7e7e7;
    float: left;
    width: 370px;
    padding: 10px 20px;
    position: absolute;
    left: -9999px;
    top: -9999px;

}

ul.topsearch-sublinks2 li {
    float: left;
    margin: 4px 0;
    width: 50%;
    text-align: center;
}

/*--- @LEFT NAV ---*/

.sidebar {
    margin: 30px 0 0
}

.sidebar section {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
}

.sidebar section:last-of-type {
    border-bottom: 1px solid #cccccc;
    margin: 0 0 40px;
}

.sidebar h3 {
    border-top: 1px solid #cccccc;
    border-bottom: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    padding: 20px 0 15px;
    position: relative;
    text-transform: uppercase;
}

.sidebar h3:hover, .sidebar h3.open {
    color: #dd5900;
}

.sidebar section:first-child h3 {
    margin: 0
}

.left__section--togglable ul li a:first-child {
    padding: 0 0 15px;
}

.sidebar ul {
    letter-spacing: .5px;
    margin: 0 0 10px;
    max-height: 210px;
    overflow: auto;
}

.sidebar ul li a {
    display: block;
    padding: 15px 0;
}

.sidebar ul li a:first-child {
    padding: 0 0 15px;
}

.accordion-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
    width: 9px;
    height: 9px;
    stroke-width: 2;
    stroke: #9c9992;
    stroke-linecap: round;
    fill: none;
}

h3.open .accordion-icon-vertical {
    display: none;
}

.col2-left-layout {
    display: inline-block;
}

/*--- @BUTTONS ---*/

a.zumiez_lt_gray {
    padding: 8px 20px;
    border: 1px solid #767777;
    border-bottom: 1px solid #7B7C7C;
    border-radius: 3px;
    background-color: #DBDBDB;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EDEDED), color-stop(100%, #DBDBDB));
    background-image: -webkit-linear-gradient(top, #EDEDED, #DBDBDB);
    background-image: -moz-linear-gradient(top, #EDEDED, #DBDBDB);
    background-image: -ms-linear-gradient(top, #EDEDED, #DBDBDB);
    background-image: -o-linear-gradient(top, #EDEDED, #DBDBDB);
    background-image: linear-gradient(top, #EDEDED, #DBDBDB);
    color: #4C4C4C;
    text-align: center;
    font: 10px/1 Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a.zumiez_lt_gray:hover {
    background-color: #B2B2B2;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B2B2B2), color-stop(100%, #868889));
    background-image: -webkit-linear-gradient(top, #B2B2B2, #868889);
    background-image: -moz-linear-gradient(top, #B2B2B2, #868889);
    background-image: -ms-linear-gradient(top, #B2B2B2, #868889);
    background-image: -o-linear-gradient(top, #B2B2B2, #868889);
    background-image: linear-gradient(top, #B2B2B2, #868889);
    cursor: pointer;
}

#package_builder .zumiez_lt_gray,
#package_cart .zumiez_lt_gray {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    height: 16px;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e2e2e2));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e2e2e2);
    background-image: -moz-linear-gradient(top, #f9f9f9, #e2e2e2);
    background-image: -ms-linear-gradient(top, #f9f9f9, #e2e2e2);
    background-image: -o-linear-gradient(top, #f9f9f9, #e2e2e2);
    background-image: linear-gradient(top, #f9f9f9, #e2e2e2);
    -moz-box-shadow: 3px 3px 6px 0px #ccc;
    -webkit-box-shadow: 3px 3px 6px 0px #ccc;
    box-shadow: 3px 3px 6px 0px #ccc;
}

button.zumiez_green, span.zumiez_green {
    padding: 2px 0;
    border: 1px solid #32A030;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px; /*#4EC04D*/
    background-color: #4EC04D;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4EC04D), color-stop(100%, #32A030));
    background-image: -webkit-linear-gradient(top, #4EC04D, #32A030);
    background-image: -moz-linear-gradient(top, #4EC04D, #32A030);
    background-image: -ms-linear-gradient(top, #4EC04D, #32A030);
    background-image: -o-linear-gradient(top, #4EC04D, #32A030);
    background-image: linear-gradient(top, #4EC04D, #32A030);

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 #4c9021;
    font: 11px/1 Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button.zumiez_green:hover {
    background-color: #58D356;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #58D356), color-stop(100%, #3CB73A));
    background-image: -webkit-linear-gradient(top, #58D356, #3CB73A);
    background-image: -moz-linear-gradient(top, #58D356, #3CB73A);
    background-image: -ms-linear-gradient(top, #58D356, #3CB73A);
    background-image: -o-linear-gradient(top, #58D356, #3CB73A);
    background-image: linear-gradient(top, #58D356, #3CB73A);
    cursor: pointer;
}

button.zumiez_green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
}

button.zumiez_orange, .cart .shipping-form button, a.zumiez_orange, input.zumiez_orange, p.zumiez_orange {
    padding: 2px 5px;
    border: 1px solid #D68C1D;
    border-bottom: 1px solid #A06C1E;
    border-radius: 3px; /*#F3A428*/
    background-color: #F3A428;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3A428), color-stop(100%, #E59824));
    background-image: -webkit-linear-gradient(top, #F3A428, #E59824);
    background-image: -moz-linear-gradient(top, #F3A428, #E59824);
    background-image: -ms-linear-gradient(top, #F3A428, #E59824);
    background-image: -o-linear-gradient(top, #F3A428, #E59824);
    background-image: linear-gradient(top, #F3A428, #E59824);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 #c28f44;
    font: 13px/1 Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button.zumiez_orange:hover, .cart .shipping-form button:hover, a.zumiez_orange:hover, input.zumiez_orange:hover {
    background-color: #F4BA61;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F4BA61), color-stop(100%, #F3A428));
    background-image: -webkit-linear-gradient(top, #F4BA61, #F3A428);
    background-image: -moz-linear-gradient(top, #F4BA61, #F3A428);
    background-image: -ms-linear-gradient(top, #F4BA61, #F3A428);
    background-image: -o-linear-gradient(top, #F4BA61, #F3A428);
    background-image: linear-gradient(top, #F4BA61, #F3A428);
    cursor: pointer;
}

button.zumiez_orange:active, .cart .shipping-form button:active {
    border: 1px solid #D68C1D;
    border-bottom: 1px solid #D68C1D;
}

button.zumiez_gray, a.zumiez_gray, span.zumiez_gray {
    padding: 5px 0 8px;
    border: 1px solid #767777;
    border-bottom: 1px solid #7B7C7C;
    border-radius: 3px; /*#949699*/
    background-color: #F3A428;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #949699), color-stop(100%, #868889));
    background-image: -webkit-linear-gradient(top, #949699, #868889);
    background-image: -moz-linear-gradient(top, #949699, #868889);
    background-image: -ms-linear-gradient(top, #949699, #868889);
    background-image: -o-linear-gradient(top, #949699, #868889);
    background-image: linear-gradient(top, #949699, #868889);
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 #7B7C7C;
    font: 13px/1 Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.zumiez_flat_gray {
    background-image: none;
    background-color: #4d4d4d;
}

button.zumiez_gray:hover, a.zumiez_gray:hover {
    background-color: #B2B2B2;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B2B2B2), color-stop(100%, #868889));
    background-image: -webkit-linear-gradient(top, #B2B2B2, #868889);
    background-image: -moz-linear-gradient(top, #B2B2B2, #868889);
    background-image: -ms-linear-gradient(top, #B2B2B2, #868889);
    background-image: -o-linear-gradient(top, #B2B2B2, #868889);
    background-image: linear-gradient(top, #B2B2B2, #868889);
    cursor: pointer;
}

button.zumiez_orange:active {
    border: 1px solid #868889;
    border-bottom: 1px solid #868889;
}

.blueBtn {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #1570a6;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.55);
    text-align: center;
    color: #fff;
    font: 300 16px 'Open Sans Condensed', sans-serif;
    cursor: pointer;
}

.split-button,
.split-button * {
    box-sizing: border-box;
}

.split-button {
    position: relative;
}

.split-button a.change {
    display: block;
    padding: 8px 18px 8px 12px;
    border: solid 1px #737373;
    border-radius: 3px;
    color: #929292;
    text-overflow: ellipsis;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.split-button.active .change {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.split-button.active {
    z-index: 100;
}

.split-button strong {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    display: block;
    margin: 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0;
}

.split-button .list-container {
    display: none;
    float: left;
    max-width: 300px;
    min-width: 100%;
    padding: 0;
    top: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    right: auto;
    text-transform: uppercase;
    border-right: solid 1px #DADADA;
    border-bottom: solid 1px #DADADA;
    border-left: solid 1px #DADADA;
    border-radius: 0 0 3px 3px;
}

.checkout-cart-index .split-button .list-container .not-authenticated {
    background-color: #fff;
    padding: 5px 20px;
    text-align: left;
}

.split-button.active .list-container {
    display: block;
    background: #fff;
    overflow: hidden;
}

.split-button .list-container ul > li {
    white-space: nowrap;
}

.split-button .list-container li.new {
    background-color: #F2F2F2;
    border-top: solid 1px #DADADA;
}

.split-button .list-container li a,
.split-button .list-container li span {
    color: #737373;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 3px 0 3px 10px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.split-button .list-container li span.wishlist-item-count {
    font-style: italic;
    display: inline;
    padding: 7px 0 7px 4px;
}

/*--- @ERRORS ---*/

#messages_product_view li.error-msg {
    z-index: 9999;
    position: fixed;
    top: 340px;
    background: red;
    width: 100%;
    float: left;
    left: 0px;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    color: #fff;
}

#messages_product_view li.error-msg li:nth-child(2) {
    display: none
}

/* PAGE NOT FOUND */
#sorry-text {
    margin-bottom: 20px
}

h2.no-results, #sorry-content h2 {
    color: #333333;
    font: bold 14px Arial, sans-serif;
    margin-bottom: 10px;
    float: left;
    width: 100%
}

#sorry-content h2 {
    border-bottom: 1px solid #333;
}

#sorry-content ol li {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
}

#no-results-links {
    background: #ededed;
    border-bottom: 1px solid #000;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 30px;
    width: 100%;
}

#no-results-links ul {
    border-right: 1px solid #000;
    float: left;
    padding: 8px;
    width: 18%
}

#no-results-links ul:last-child {
    border: 0
}

#no-results-links li {
    padding: 3px 0 3px 20px;
    text-transform: uppercase;
}

#no-results-links a:link, #no-results-links a:visited {
    color: #333;
    font-size: 12px;
    text-decoration: none
}

#no-results-links a:hover {
    color: #31A8DF;
    font-size: 12px;
    text-decoration: underline
}

.pitaBoxTop {
    background: url('//static.zumiez.com/skin/frontend/delorum/default/images/http_pages/gray-link-box-top-repeat.jpg') repeat-x #D0D0D0;
    height: 39px;
}

.pitaBoxMid {
    background: url('//static.zumiez.com/skin/frontend/delorum/default/images/http_pages/gray-link-box-carrot.jpg') no-repeat #fff;
    height: 39px;
    width: 38px;
    margin: 0 auto;
}

#sorry-zone-3 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

#sorry-zone-3 h3 {
    color: #424242;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 2px;
    text-transform: uppercase;
}

#sorry-zone-3 p {
    font-size: 14px;
}

#sorry-zone-3 p a:link, #sorry-zone-3 p a:hover, #sorry-zone-3 p a:visited {
    font-size: 14px;
    color: #31A8DF;
    text-decoration: none;
}

.sorry-zone-3-left, .sorry-zone-3-right {
    background-color: #cccccc;
    float: left;
    margin: 6px 0;
    padding: 10px;
    width: 457px;
    text-align: center;
}

.sorry-zone-3-left {
    margin-right: 10px;
    padding-right: 10px;
}

.sorry-zone-3-right {
    float: right;
}

.ohCanada {
    margin-right: 8px;
}

/*--- @POP UP BLOCK (MAGENTO PROTOTYPE.JS DIALOG) ---*/

.window-overlay {
    top: 0;
    height: 0;
    opacity: 0;
    position: fixed;
    transition: opacity .25s ease-in-out;
    z-index: 999;
}

.window-overlay.active {
    background: none repeat scroll 0 0 #fff;
    opacity: 0.8;
    height: 100% !important;
    width: 100%;
    transition: opacity .25s ease-in-out;
}

.popup-block,
.popup-block * {
    box-sizing: border-box;
}

.popup-block.active {
    display: block;
    /*transition: opacity .25s ease-in-out;*/
    visibility: visible;
    opacity: 1;
}

.popup-block {
    width: 392px;
    margin: 0 0 0 -196px;
    padding: 35px;
    background: rgb(255, 255, 255);
    border: 1px solid #cfcfcf;
    left: 50%;
    top: 20%;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    display: none;
}

.popup-block .block-title {
    border-bottom: 5px solid #292929;
    padding-bottom: 8px
}

.popup-block .block-title strong {
    font-size: 24px;
    font-weight: normal;
}

.popup-block .block-content {
    margin-right: 35px;
    font-size: 14px;
    margin-top: 16px;
    color: #929292;
}

.popup-block .input-text {
    background: rgb(242, 242, 242);
    border: rgb(218, 218, 218) 1px solid;
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 12px 14px;
    margin: 0;
    font: 300 14px 'Open Sans Condensed', sans-serif;
    width: 320px;
}

.popup-block .block-content {
    margin: 16px 0 0 0;
    font-size: 14px;
    color: #929292;
}

.popup-block .block-content p {
    margin: 6px 0;
}

.popup-block .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0;
    line-height: 0;
}

.popup-block .btn-close:after {
    background: url("../../../enterprise/zumiez/images/btn-modal-close.png") no-repeat scroll 0 0 transparent;
    width: 20px;
    height: 20px;
    content: '';
    cursor: pointer;
    display: block;
}

.popup-block .form-list .validation-advice {
    clear: left;
    margin-bottom: 0;
}

.popup-block .form-list {
    margin-top: 16px;
}

.popup-block .buttons-set {
    clear: both;
    margin-right: 0;
}

.popup-block .buttons-set button {
    font: 300 18px 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 0;
    background: #016EA8;
    color: #fff;
    width: 150px;
    margin: 16px 20px 0 0;
    cursor: pointer;
}

/*-------- @LOGIN MODAL --------*/

.account-login-container {
    margin: 0 auto;
    padding: 30px 30px 0;
    position: relative;
    width: 550px;
}

.account-login-container form {
    margin: 0 0 20px;
    overflow: auto;
}

.account-login-container input,
.account-login-container button,
.account-login-container select {
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.account-login-container .blueBtn {
    text-transform: uppercase;
    padding: 10px 40px;
}

.account-login-container #account-registration-form .blueBtn {
    float: right;
    margin: 10px 30px 0 0;
}

.account-login-container h2 {
    color: #DD5900;
    font: 300 22px 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.switch-forms {
    background-color: #3D3D3D;
    color: #ffffff;
    height: 35px;
    margin-top: 10px;
    width: 100%;
}

.switch-forms p {
    font-style: italic;
    line-height: 35px;
    text-indent: 15px;
}

.switch-forms p a {
    margin-left: 8px
}

.switch-forms a:link,
.switch-forms a:hover,
.switch-forms a:visited {
    color: #FCAF17;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
}

.login-container {
    border-bottom: 1px solid #ebebeb;
    float: left;
    padding: 40px 0 15px;
    width: 100%;
}

.register-container {
    float: left;
    padding: 30px 0 0;
    width: 100%
}

.login-container input[type="checkbox"], .register-container input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
    margin: 0 10px 0 0;
    padding: 14px;
    border-radius: 3px;
    display: inline-block;
    outline: none;
    position: relative;
}

.login-container input[type="checkbox"]:active, .login-container input[type="checkbox"]:checked:active, .register-container input[type="checkbox"]:active, .register-container input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.login-container input[type="checkbox"]:checked, .register-container input[type="checkbox"]:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.login-container input[type="checkbox"]:checked:after, .register-container input[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: 3px;
    left: 6px;
    color: #99a1a7;
}

.login-container p, .account-login-password p, .register-container p, .register-container .name-firstname, .register-container .name-lastname {
    float: left;
    margin: 0 20px 10px 0;
    position: relative;
    width: 250px;
}

.account-remember, .account-marketing-signup {
    float: left;
    margin-bottom: 10px;
    width: 100%
}

.account-login-container label {
    color: #000;
    font: 300 13px Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.account-remember label, .account-marketing-signup label {
    line-height: 30px;
}

.login-container label.remember, .login-container label.marketing-signup {
    line-height: 30px;
}

.account-login-container input[type="text"],
.account-login-container input[type="password"] {
    background-color: rgb(242, 242, 242);
    border: rgb(218, 218, 218) 1px solid;
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0 0 25px;
    padding: 12px 14px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 14px;
    width: 100%;
}

.account-login-container .validation-advice {
    position: absolute;
    top: 65px;
}

.account-login-container ul.messages li.success-msg, #ajax-response {
    background: #DD5900;
    border: none;
    color: #fff;
    float: left;
    text-transform: uppercase;
    width: 100%;
}

#ajax-response .error-msg {    padding: 10px 20px;  }
.account-login-password {
    float: left;
    margin: 50px 0 0 0;
    padding: 0;
}

.account-login-password h3 {
    color: #DD5900;
    font: 300 16px 'Open Sans', sans-serif;
    margin: 0 0 30px;
    text-transform: uppercase;
}

.account-login-password button {
    margin: 20px 0 0 0 !important;
    float: left;
}

.account-login-container input[type="text"].no-label {
    margin-top: 20px
}

button.create-account {
    margin: 10px 0 0 266px;
    width: 200px;
}

.dob-container {
    float: left;
    margin: 0 0 40px;
    position: relative;
    width: 250px;
}

.dob-container label {
    width: 100%
}

#dob-validation {
    clear: both;
    font-size: 11px;
    padding: 3px 0 0;
    color: #d91a00;
    line-height: 12px;
}

.input-dob {
    height: 40px;
    width: 70px;
    margin: 0 8px 0 0;
}

/* For IE9 and 10 */
@media screen and (min-width: 0\0
) {
    .customer-dob select {
        background: none;
        padding: 5px;
    }
}

#account-registration-form #cboxLoadingGraphic {
    height: 80px;
    top: 260px;
}

/*-------- @EMAIL TO FRIEND MODAL --------*/

/* @TODO BEGIN QUESTIONABLE FILES FROM styles.css. ISOLATE AND REMOVE WHERE POSSIBLE */

.sender {
    float: left;
    font-size: 14px;
    margin: 10px 0 0;
    width: 100%;
}

.efLabel {
    font-size: 12px;
    width: 175px;
    float: left;
    color: #777777;
    margin: 0 0 4px;
}

.inputHolder {
    float: left;
    width: 100%;
}

.inputHolder input {
    float: left;
    margin: 0 8px 6px 0;
    width: 164px;
    font-size: 12px;
    border-color: #D1D1D1 #D1D1D1 #B8B8B8 #B8B8B8;
    border-style: solid;
    border-width: 1px;
}

.inputHolder input.validation-passed {
    float: left;
    margin: 0 8px 6px 0;
    width: 164px;
    font-size: 12px;
    border-color: #D1D1D1 #D1D1D1 #B8B8B8 #B8B8B8;
    border-style: solid;
    border-width: 1px;
}

.sender {
    float: left;
    font: 400 16px 'Open Sans', sans-serif;
    color: #38332f;
    margin: 10px 0;
    width: 100%;
    text-transform: uppercase;
}

.efLabel, .efInput {
    font-size: 12px;
    width: 267px;
    float: left;
    color: #777777;
    margin: 0 0 4px;
}

.efLabel.left {
    margin-right: 18px;
}

/*still need to show labels for browsers that don't support placeholder text*/
.shipping-form .form-list label.dstLabel,
label.efLabel,
label.msgLabel {
    font-size: 10px;
    margin-bottom: 0;
    font-style: normal;
    display: none;
    display: block \9; /*ie8*/
}

.inputHolder {
    float: left;
    width: 100%;
}

.inputHolder input {
    float: left;
    margin: 0 8px 6px 0;
    width: 164px;
    font-size: 12px;
    border-color: #D1D1D1 #D1D1D1 #B8B8B8 #B8B8B8;
    border-style: solid;
    border-width: 1px;
}

.inputHolder input.validation-passed {
    float: left;
    margin: 0 8px 6px 0;
    width: 277px;
    font-size: 12px;
    border-color: #D1D1D1 #D1D1D1 #B8B8B8 #B8B8B8;
    border-style: solid;
    border-width: 1px;
}

input .lastInput {
    margin: 0;
}

.msgLabel {
    float: left;
    margin: 0;
    width: 100%;
    font-size: 10px;
    color: #777777;
}

.friendMsg {
    background: #f2f2f2;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 525px;
    height: 60px;
    padding: 12px;
    margin: 0 0 13px 0;
}

#sending {
    font-size: 20px;
    text-align: center;
    color: #777777;
    width: 100%;
    margin: 2px 0 0;
}

.email-colorbox #cboxClose, .catalog-modal-colorbox #cboxClose {
    background: url('//static.zumiez.com/skin/frontend/delorum/default/images/close-whte-14x15.png');
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;
    top: 22px;
    right: 12px;
}

.email-colorbox #cboxLoadedContent {
    padding: 0px;
}

.email-sorry, .email-thanks {
    display: none;
}

.emailClose {
    padding: 4px 40px;
    letter-spacing: 1px;
    bottom: 65px;
    right: 40px;
    position: absolute;
}

/*iPad [portrait + landscape]*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .inputHolder input,
    .inputHolder input.validation-passed {
        margin: 0 6px 6px 0;
        width: 154px;
    }

    .friendMsg {
        height: 40px;
        width: 338px;
    }
}

/*iPhone [portrait + landscape]*/
@media only screen and (max-device-width: 480px) {
    .inputHolder input,
    .inputHolder input.validation-passed {
        margin: 0 6px 6px 0;
        width: 154px;
    }

    .friendMsg {
        height: 40px;
        width: 338px;
    }
}

/* @TODO END */

form#pdp_sendfriend,
form#cart_sendfriend,
form#pdp_sendfriend *,
form#cart_sendfriend * {
    box-sizing: border-box;
}

form#pdp_sendfriend,
form#cart_sendfriend,
.cart_friend,
.cart_friend .extraWrap,
#emailCartModal,
#emailCartModal iframe,
body.sendFriendLayout .page,
body.sendFriendLayout .page .main,
body.sendFriendLayout .page .col-main {
    overflow: auto;
    width: 422px;
    height: auto;
    float: none;
    margin: auto;
}

#emailCartModal iframe,
body.sendFriendLayout .page {
    height: 504px;
    float: none;
}

body.sendFriendLayout .page {
    padding: 19px 0 0;
}

form#pdp_sendfriend,
form#cart_sendfriend {
    margin: 19px;
}

body.sendFriendLayout form#cart_sendfriend {
    margin: 0;
}

body.sendFriendLayout {
    background-color: #fff;
}

h1.emailFriend {
    font: 400 22px 'Open Sans', sans-serif;
    color: #494949;
    margin: 0 0 20px 0;
    padding: 0 0 16px 0;
    border-bottom: rgb(0, 0, 0) 4px solid;
}

form#pdp_sendfriend fieldset,
form#cart_sendfriend fieldset {
    margin: 0 0 20px 0;
}

form#pdp_sendfriend input,
form#cart_sendfriend input,
form#pdp_sendfriend textarea,
form#cart_sendfriend textarea {
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form#pdp_sendfriend input,
form#cart_sendfriend input,
form#pdp_sendfriend textarea,
form#cart_sendfriend textarea {
    background: rgb(242, 242, 242);
    border: rgb(218, 218, 218) 1px solid;
    padding: 12px 14px;
    margin: 0;
    font: 400 14px "Open Sans Condensed", sans-serif;
    width: 100%;
    display: block;
    float: none;
}

form#pdp_sendfriend label,
form#cart_sendfriend label,
form#pdp_sendfriend legend,
form#cart_sendfriend legend {
    font-size: 14px;
    margin: 0 0 7px;
    font-weight: normal;
    color: rgb(84, 84, 84);
    display: block;
    float: none;
}

form#pdp_sendfriend .float-wrap,
form#cart_sendfriend .float-wrap {
    float: left;
    overflow: auto;
    width: 206px;
}

form#pdp_sendfriend .float-wrap.margin-right,
form#cart_sendfriend .float-wrap.margin-right {
    margin: 0 10px 0 0;
}

form#pdp_sendfriend textarea,
form#cart_sendfriend textarea {
    resize: none;
    height: 80px;
    margin: 0 0 18px 0;
}

form#pdp_sendfriend label#cc_myself_label,
form#cart_sendfriend label#cc_myself_label {
    margin: 0;
    padding: 0 0 11px 0;
    line-height: 22px;
    cursor: pointer;
}

form#pdp_sendfriend input#cc_myself,
form#cart_sendfriend input#cc_myself {
    margin: 0 7px 0 0;
    padding: 10px;
    display: inline-block;
    width: auto;
    position: relative;
}

form#pdp_sendfriend input#cc_myself:checked,
form#cart_sendfriend input#cc_myself:checked {
    background-color: #00AEFF;
    border: 1px solid #409CC7;
}

form#pdp_sendfriend input#cc_myself:checked:after,
form#cart_sendfriend input#cc_myself:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 4px;
    color: #FFFFFF;
}

form#pdp_sendfriend input[type="text"].validation-failed,
form#cart_sendfriend input[type="text"].validation-failed {
    border-color: #D91A00;
}

#shared_product {
    border-top: rgb(69, 69, 69) 1px dotted;
    margin: 4px 0 0 0;
    padding: 15px 0 0;
    overflow: auto;
}

#shared_product img {
    float: left;
    margin: 0 15px 0 0;
    width: 50px;
    height: auto;
    vertical-align: top;
}

#shared_product h4 {
    clear: none;
    vertical-align: top;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}

form#pdp_sendfriend button,
form#cart_sendfriend button {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    width: 144px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    margin: 10px 0 0 0;
    float: right;
}

.cart-email-friend-modal_close {
    background: url('../../../enterprise/zumiez/graphics/colorbox/pdp-modal-x-14x14.png');
    border: none;
    height: 14px;
    margin-right: 10px;
    position: absolute;
    text-indent: -9999px;
    top: 7px;
    right: 0;
    width: 14px;
    cursor: pointer;
}

span#ajax_response {
    position: relative;
    top: 20px;
}

span#ajax_response span.success-message {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #dd5900;
}

#pdp-cross-sell-banner {
    float: left;
    margin: 20px 0 0 -10px;
}

/*-------- @SOCIAL BUTTONS --------*/

.results-view {
    overflow: visible !important;
}

iframe {
    background: none !important;
}

.social-wrapper {
    float: right;
    margin: 0;
    overflow: visible;
}

.social-icon {
    background: url('//static.zumiez.com/skin/frontend/delorum/default/images/social-buttons.png') top left no-repeat;
    float: left;
    margin: 0 0 0 10px;
    cursor: pointer;
    height: 21px;
    width: 21px;
}

.social-icon-button {
    background: transparent;
    display: block;
    height: 21px;
    width: 21px;
}

.facebook-wrapper {
    background-position: 0 0;
}

.twitter-wrapper {
    background-position: -28px 0;
}

.google-wrapper {
    background-position: -85px 0;
}

.pinterest-wrapper {
    background-position: -113px 0;
}

/*-------- @COMMON CATEGORY --------*/

.catalog-category-view .google-wrapper,
.catalogsearch-result-index .google-wrapper,
.catalogsearch-result-index .social-wrapper,
.cms-page-view .google-wrapper {
    margin-right: 0;
}

.catalog-category-view .pinterest-wrapper,
.catalogsearch-result-index .pinterest-wrapper,
.cms-page-view .pinterest-wrapper,
.combo-index-view .pinterest-wrapper {
    display: none;
}

.catalog-product-view .social-wrapper,
.combo-index-view .social-wrapper {
    margin: 8px 0 10px 0;
}

/*-------- @COMMON PDP --------*/

#sizeChartTabber tbody, #sizeChartTabber td {
    vertical-align: top;
    position: relative;
}

.split-button {
    float: left;
    font-weight: normal;
    text-align: center;
    width: 240px;
}

.split-button:before {
    background: url('../images/email-wishlist-button-icons-2015.png') no-repeat -28px -1px;
    width: 24px;
    height: 21px;
    display: block;
    position: absolute;
    content: " ";
    top: 4px;
    left: 16px;
}

.split-button:after {
    background: url('../images/email-wishlist-button-icons-2015.png') no-repeat -27px -19px;
    width: 24px;
    height: 16px;
    display: block;
    position: absolute;
    content: " ";
    top: 7px;
    right: 9px;
}

.split-button a.change {
    padding: 6px 18px 6px 12px;
}

.split-button a.change:after {
    top: 10px;
}

.split-button .list-container li:hover a,
.split-button .list-container li:hover span,
.split-button .list-container li:hover {
    color: #fff;
    text-decoration: none;
    background-color: #DD5900;
}

.split-button .list-container ul li.not-authenticated a span {
    font-size: 14px;
    display: inline;
    padding: 0 4px;
    color: rgb(0, 157, 222);
}

.split-button .list-container li.not-authenticated:hover a,
.split-button .list-container li.not-authenticated:hover span,
.split-button .list-container li.not-authenticated:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}

.split-button .list-container ul li.not-authenticated a span:first-child {
    padding: 0 4px 0 0;
}

/*-------- @COMMON WISH-LIST --------*/

.popup-block .buttons-set button.btn-save,
.popup-block .buttons-set button.btn-delete,
.popup-block .buttons-set button.btn-confirm {
    margin-right: 0;
}

.popup-block.cart-item-move-confirm-dialog .wishlist-move-from-name,
.popup-block.cart-item-move-confirm-dialog .wishlist-move-to-name {
    color: #ff8c00;
}

.popup-block.wishlist-delete-confirm-dialog .wishlist-name {
    color: #ff8c00;
}

.wishlist-share-messages ul.messages li,
.manage-wishlist-messages ul.messages li {
    width: auto;
}

.popup-block.wishlist-item-added-dialog,
.popup-block.wishlist-item-to-bag-dialog,
.popup-block.wishlist-item-deleted-dialog {
    width: 550px;
    margin: 0 0 0 -275px;
}

.popup-block.wishlist-item-added-dialog h2,
.popup-block.wishlist-item-to-bag-dialog h2,
.popup-block.wishlist-item-deleted-dialog h2 {
    color: rgb(72, 72, 72);
    padding: 0 0 14px 0;
    border-bottom: rgb(0, 0, 0) 1px dotted;
    font-size: 13px;
}

.popup-block.wishlist-item-added-dialog h2 span,
.popup-block.wishlist-item-to-bag-dialog h2 span,
.popup-block.wishlist-item-deleted-dialog h2 span {
    color: rgb(221, 89, 0);
}

.popup-block.wishlist-item-added-dialog .item-info,
.popup-block.wishlist-item-to-bag-dialog .item-info,
.popup-block.wishlist-item-deleted-dialog .item-info {
    overflow: auto;
    margin: 20px 0 0 0;
}

.popup-block.wishlist-item-added-dialog .item-image,
.popup-block.wishlist-item-to-bag-dialog .item-image,
.popup-block.wishlist-item-deleted-dialog .item-image {
    float: left;
    width: 90px;
    height: 110px;
    margin: 0 20px 0 0;
}

.popup-block.wishlist-item-added-dialog .item-image img,
.popup-block.wishlist-item-to-bag-dialog .item-image img,
.popup-block.wishlist-item-deleted-dialog .item-image img {
    width: 100%;
    height: auto;
}

.popup-block.wishlist-item-added-dialog #add-to-wishlist-modal-content,
.popup-block.wishlist-item-to-bag-dialog #add-to-wishlist-modal-content,
.popup-block.wishlist-item-deleted-dialog #add-to-wishlist-modal-content {
    clear: both;
    margin-top: 15px;
}

.popup-block.wishlist-item-added-dialog .item-name,
.popup-block.wishlist-item-to-bag-dialog .item-name,
.popup-block.wishlist-item-deleted-dialog .item-name {
    margin: 10px 0 0 0;
    color: rgb(102, 102, 102);
    font-weight: bold;
}

.popup-block.wishlist-item-added-dialog .item-price,
.popup-block.wishlist-item-to-bag-dialog .item-price,
.popup-block.wishlist-item-deleted-dialog .item-price {
    font: 300 18px 'Lato', sans-serif;
}

.popup-block.wishlist-item-added-dialog a.wishlist-link,
.popup-block.wishlist-item-to-bag-dialog a.wishlist-link,
.popup-block.wishlist-item-deleted-dialog a.wishlist-link,
.popup-block.wishlist-item-deleted-dialog div.wishlist-link {
    float: right;
    font: 300 18px 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    background: #016EA8;
    color: #fff;
    width: 150px;
    margin: 16px 0 0 0;
    cursor: pointer;
}

.popup-block.wishlist-item-deleted-dialog div.wishlist-link {
    margin: 16px 20px 0 0;
}

/*-------- @RADIUS SEARCH --------*/

.storelocator-form {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #464646;
    height: 38px;
}

.storelocator-form .blueBtn,
#radiussearch-multiselect-button.blueBtn {
    font: 600 14px 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    padding: 2px 12px;
    min-height: 25px;
    font-size: 14px;
}

.storelocator-form-wrap h1 {
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #464646;
    line-height: 1;
    padding: 0 0 16px 0;
    border-bottom: 5px solid #292929;
    margin-bottom: 10px;
}

.storelocator-form-wrap h1 span {
    font-size: 14px;
    color: #b3b3b3;
    display: inline-block;
    margin-left: 30px;
}

.storelocator-form .col-1 {
    float: left;
}

.storelocator-form .col-2 {
    float: right;
    white-space: nowrap;
}

.storelocator-form input,
.storelocator-form select,
.storelocator-form label {
    float: none;
}

.storelocator-form select {
    min-width: 100px;
}

.storelocator-form .inputs,
.storelocator-form span {
    padding-right: 10px;
}

.storelocator-form .inputs {
    display: inline-block;
}

#radiussearch-multiselect-button.blueBtn:disabled {
    cursor: default;
    opacity: 0.3;
}

.storelocator-form input[type="text"],
.storelocator-form select {
    background-color: #F2F2F2;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    color: #666666;
    font: 300 14px 'Open Sans Condensed', sans-serif;
    height: 23px;
    padding: 0 4px;
}

.storelocator-form .label {
    color: #b3b3b3;
}

.dialog .storelocator-form-wrap {
    margin-top: 0;
}

#radiussearch-multiselect-button.button--blue:disabled {
    cursor: default;
    opacity: 0.3;
}

.storelocator-form .blueBtn, #radiussearch-multiselect-button.button--blue {
    font: 600 14px 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    padding: 2px 12px;
    min-height: 25px;
    font-size: 14px;
    float: right;
}

.findtable.stores {
    clear: both;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

.findtable.stores tr td {
    height: 60px;
    vertical-align: middle;
    padding: 0;
    font-size: 12px;
    color: #464646;
}

.findtable.stores td.marker {
    width: 35px;
    padding-right: 14px;
}

.findtable.stores td.marker img {
    display: block;
    margin-top: 12px;
}

.findtable.stores td.marker .storelocator-list-label {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    position: relative;
    text-align: center;
    top: -30px;
    width: 21px;
}

.findtable.stores td.store-name {
    width: 228px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.findtable.stores td.store-name a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.findtable.stores td.store-address {
    width: 354px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
}

.findtable.stores td.phone {
    width: 112px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
}

.findtable.stores td.is-snow,
.findtable.stores td.no-snow {
    width: 50px;
}

.findtable.stores td.is-snow,
p.is-snow {
    background: url(../images/icon_snow.png) left center no-repeat;
}

p.is-snow {
    padding: 8px 0 0 30px;
    min-height: 15px;
}

.findtable.stores td.is-snow,
.findtable.stores td.no-snow {
    width: 50px;
}

.findtable.stores td.is-snow,
p.is-snow {
    background: url(../images/icon_snow.png) left center no-repeat;
}

p.is-snow {
    padding: 8px 0 0 30px;
    min-height: 15px;
}

.findtable.stores td.make-mine {
    width: 161px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #dd5900;
}

.findtable.stores td.make-mine a {
    color: #1570a6;
}

.findtable.stores td.availability {
    width: 161px;
    text-transform: uppercase;
}

.findtable.stores td.availability .available {
    color: #1570a6;
}

.findtable.stores td.availability .limited {
    color: #dd5900;
}

.findtable.stores td.availability .none {
    color: #b3b3b3;
}

.radiussearch-wrapper span.popup-trigger {
    position: relative;
    top: -1px;
}

dt.radiussearch-title {
    background: url("../../../enterprise/zumiez/images/icon-map-marker-pdp2.png") left top no-repeat;
    background-size: 10px 15px;
    color: #dd5916;
    font-size: 12px;
    padding: 0 0 6px 16px;
    text-transform: uppercase;
}

.search_id_help {
    vertical-align: text-bottom;
}

#radiussearch-selected-store .storeHelp {
    position: relative;
    display: inline-block;
}

#radiussearch-selected-store .storeHelp .tooltip-container {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #464646;
    font-size: 12px;
    left: -340px;
    top: -20px;
    width: 330px;
}

#radiussearch-selected-store .storeHelp .tooltip-container:after {
    border: none;
}

#radiussearch-selected-store .storeHelp:hover .tooltip-container {
    visibility: visible;
}

/*--- TOOLTIP ---*/


/* helper tips */
.help-tip {
    color: #ccc;
    font: normal .9em/1.5em "Arial", Arial, sans-serif;
    vertical-align: top;
}

/*  css tooltips reference : https://www.viget.com/articles/css-pointer-events-and-a-pure-css3-animating-tooltip */
.tip-wrap {
    cursor: help;
    float: left;
    position: relative;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.tip-wrap .tip-text {
    background: #fff;
    bottom: 100%;
    color: #000;
    display: block;
    font-size: 1em;
    font-weight: normal;
    text-transform: none;
    left: -35px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 160px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.tip-wrap .tip-text:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.tip-wrap .tip-text:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #fff 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}
.tip-wrap:hover .tip-text {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}


.pop-tip {
    float: right;
    margin: 6px 0 0 0;
    position: relative;
    width: 20px
}

.pop-tip .pop-content {
    display: none;
}

.pop-tip:hover .pop-content {
    display: block;
    z-index: 10001
}

.pop-content {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.2);
    color: #666666;
    line-height: 1.3em;
    padding: 10px;
    position: absolute;
    text-align: left;
    z-index: 30;
}

.pop-content h2 {
    font-size: 14px;
    padding-bottom: 5px;
}

.tooltip-content {
    text-align: left;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.2);
    padding: 15px;
}

.tooltip-container {
    position: absolute;
    visibility: hidden;
    z-index: 9998;
    width: 330px; /* default width */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;
    text-transform: none;
    text-align: center;
    padding: 0 0 0 10px; /*padding left to offset the positioning */
}

.tooltip-container.open {
    visibility: visible;
}

#radiussearch-search-minimodal .col-1,
#radiussearch-search-minimodal .col-2 {
    float: none;
}

#radiussearch-search-minimodal .col-1 {
    padding: 7px 0 16px 0;
}

#radiussearch-search-minimodal .col-2 input,
#radiussearch-search-minimodal .col-2 .chosen-container-single {
    margin: 0;
}

#radiussearch-search-minimodal .storelocator-form .inputs {
    display: inline-block;
    float: left;
}

#product-attribute-specs-table.data-table td.label,
#product-attribute-specs-table.data-table th.label {
    display: none;
}

#product-attribute-specs-table.data-table tr td {
    border-bottom: none 0;
}

#product-attribute-specs-table.data-table tr.last.even {
    display: none;
}

#radiussearch-store-modal-content .table-wrap {
    max-height: 310px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

#radiussearch-store-modal-content p {
    margin-right: 270px;
    color: #464646;
}

#radiussearch-store-container {
    padding: 30px;
    text-align: center;
}

#radiussearch-store-container p {
    padding: 0;
    text-align: center;
}

#radiussearch-store-container p:first-child {
    margin: 0 0 10px 0;
    padding: 0;
}

#radiussearch-store-container p a {
    color: #1570a6;
}

#radiussearch-store-container ul {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    color: #535353;
    max-height: 260px;
    overflow-y: scroll;
}

#radiussearch-store-container ul li {
    padding: 2px 0 12px 28px;
    position: relative;
}

#radiussearch-store-container ul li input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
}

#radiussearch-store-container span {
    font-weight: normal;
    font-style: italic;
    color: #828282;
}

#radiussearch-store-container #zumiez-add-to-bag-pickup {
    display: inline-block;
    width: 270px;
    margin: 22px 0 0;
    font: 300 18px 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#radiussearch-store-container #zumiez-add-to-bag-pickup span {
    color: #fff;
    font-style: normal;
    display: inline-block;
    background: url("../../../enterprise/zumiez/images/icon-car.png") left center no-repeat;
    padding: 4px 0 4px 40px;
}

/*-------- @ADD TO BAG MODAL --------*/

.add-success-details {
    float: left;
    padding: 20px 10px 10px 0;
    width: 300px;
}

/*------ @POPUP TIPS -----*/

/* POPUP */
.popup-trigger img {
    vertical-align: middle;
}

.popup_hint {
    position: absolute;
    display: none;
    z-index: 9999;
    height: 110px;
    width: 360px;
    margin-top: -115px;
    padding: 10px 10px 30px 10px;
}

.stash_popup_hint {
    margin-left: -200px;
    margin-top: -135px;
}

.search_popup_hint {
    height: 115px;
    width: 260px;
    margin-left: 0;
    margin-top: -155px;
}

.search-category_popup_hint {
    height: 115px;
    width: 260px;
    margin-left: 115px;
    margin-top: -50px;
}

.marketing_popup_hint {
    height: 130px;
    margin-left: 0;
    margin-top: -165px;
}

.popup_text,
.package_popup_text {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.2);
    color: #666666;
    line-height: 1.3em;
    padding: 10px;
    text-align: left;
}

.popup_text h2,
.package_popup_text h2 {
    font-size: 14px;
    padding-bottom: 5px;
}

.stash_popup_join {
    text-align: left;
    text-decoration: none;
    font-size: 13px;
    color: #F3A428;
}

div.stash_popup_hints div.stash_popup_text span.stash_popup_join a {
    text-decoration: none;
    font-size: 13px;
    color: #F3A428;
}

/* ============ @COLORBOX ============= */

#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    background: #fff;
    overflow: auto;
    padding: 0;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    background: none repeat scroll 0 0 #FFFFFF;
}

#cboxOverlay {
    background: none repeat scroll 0 0 #fff;
}

#colorbox:focus {
    outline: none
}

#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight, #cboxMiddleLeft, #cboxMiddleRight {
    background-color: #D6D6D6;
    height: 2px;
    width: 2px;
}

#cboxContent {
    overflow: visible;
}

#cboxError {
    border: 1px solid #CCCCCC;
    padding: 50px;
}

#cboxLoadingGraphic {
    background: url('../images/colorbox/blue-spinner.gif') no-repeat center center;
}

#cboxTitle {
    bottom: -25px;
    color: #7C7C7C;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#cboxCurrent {
    bottom: -25px;
    color: #7C7C7C;
    font-weight: bold;
    left: 58px;
    position: absolute;
}

#cboxClose {
    background: url('../images/colorbox/pdp-modal-x-14x14.png');
    border: none;
    height: 14px;
    margin-right: 10px;
    position: absolute;
    text-indent: -9999px;
    top: 7px;
    right: 0px;
    width: 14px;
}

.white-x #cboxClose {
    background: url("//static.zumiez.com/skin/frontend/delorum/default/images/sold-modal-close-x-17x16.png") no-repeat;
    height: 16px;
    width: 18px;
}

/* ===================== MINI-CART ============================= */
#overlay {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}
.overlay-closed { display: none}

#mini-cart {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background: #fff;
    border-bottom: 10px solid #b8b8b8;
    padding: 50px 20px;
    overflow-y: hidden;
    height: 150px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255,255,255,0.8); /*dim the background*/
}

.load-spinner {
    position: fixed;
    margin-left: -100px;
    top: 40%;
    left: 50%;
    width: 100px;
    height: 100px;
    z-index: 9999;
    opacity: 0.8;
}
.mini-cart-closed {
    top: -260px;
}

.mini-cart-open {
    top: 0;
}

.close-mini-cart {
    display: inline-block;
    float: right;
    margin : -20px 30px 0 0;
    font-size: 40px;
    font-weight: 600;
    color: #535353;
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 40px;
}

.mini-cart-container {
    margin: 0 auto;
    width: 980px;
}

.bag-left, .bag-right {
    float: left;
    width: 50%;
}

.bag-right {
    border-left: 1px solid #e0e0e0;
    padding: 0 0 0 40px;
    box-sizing: border-box;
}

#mini-cart h3 {
    color: #2a2a2a;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
}

#mini-cart .bag-right h3 {
    text-align: left;
}

#mini-cart h3 span {
    color: #ad0000;
    margin-left: .5em;
}

#mini-cart h6 {
    color: #fcaf17;
    font-size: 1.4em;
    font-weight: bold;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.product-row {
    margin: 20px auto 0;
    width: 380px;
}

.product-info {
    float: left;
    font-size: 1.3em;
    margin: 0 0 0 20px;
    width: 270px;
}

#mini-cart img {
    float: left;
}

.quick-cart-price { color: #ad0000;}

/* TODO : When have style guide make this more universal */

#mini-cart button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font: normal 1.4em 'Raleway', sans-serif;
    text-transform: uppercase;
}

.button__blue {
    background: #1670a6;
    color: #ffffff;
}

.view-my-bag-button {
    float: left;
    height: 50px;
    margin: 30px 0 0;
    width: 180px;
}