   /* ==========================================================================
   reg
   ========================================================================== */

.regbox {
    padding: 20px;
    font-size: 16px;
}
.regbox .title{
    margin: 15px 0;
}

.regbox input{
    padding: 5px;
    width:350px;
}
.regbox textarea{
    padding: 5px;
    width:520px;
    height:260px;
}
   /* ==========================================================================
   header after login
   ========================================================================== */
.after_login_up{
  margin-top:14px;
}
.after_login_up.right{
  margin-left:0;
}
  .after_login_up img{
    width:28px;
    height:28px;
    border:#CCC 1px solid;


  }
  .after_login_up span{
    margin-left:10px;
    color:#705F4D;
  }
  .after_login_up span.arrow{
    padding-right:20px;
    background:url(/images/arrow.png) right no-repeat;
  }
  .after_login_up span.bookmark{
    padding-right:20px;
    background:url(/images/bookmark.png) right no-repeat;
  }
  .after_login_up span.post{
    padding-right:20px;
    background:url(/images/post.png) right no-repeat;
  }
  .after_login_up span a{
    text-decoration:underline;
    color:#705F4D;
  }


.after_login_down{
  margin-top:7px;
}
  .after_login_down img{
    width:28px;
    height:28px;
    border:#FFF 1px solid;


  }
  .after_login_down span{
    margin-left:10px;
    color:#FFF;
  }
  .after_login_down span.arrow{
    padding-right:20px;
    background:url(/images/arrow.png) right no-repeat;
  }
  .after_login_down span.bookmark{
    padding-right:20px;
    background:url(/images/bookmark.png) right no-repeat;
  }  
  .after_login_down span.post{
    padding-right:20px;
    background:url(/images/post.png) right no-repeat;
  }
  .after_login_down span a{
    text-decoration:underline;
    color:#FFF;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    padding:10px;
    width:120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    margin-top:5px;
    display: block;
}
.after_login_down .dropdown-content a{
    color:#333;
}
.after_login_up .dropdown-content a{
    color:#333;
}
.dropdown:hover .dropdown-content {
    display: block;
}

   /* ==========================================================================
   follow
   ========================================================================== */
.recipe .bighead{
  position:relative;
}
.recipe .follow{
    width:80px;
    height:29px;
    background:url(/images/act-btn.png) no-repeat;
    display: inline-block;
    float:right;
    margin-right: 20px;
    cursor: pointer;
    position: absolute;
    top:10px;
    left:5px;
    background-position:0 -28px;
}
    .recipe .follow:hover{
        opacity:0.8;
        background-position:-81px -28px;
    }
    .recipe .follow.active{
        opacity:1;
        background-position:-81px -28px;
    }
    .recipe .follow.active:hover{
        opacity:1;
        background-position:-81px -28px;
    }
.kitchen .bighead{
  position:relative;
}
.kitchen .follow{
    width:80px;
    height:29px;
    background:url(/images/act-btn.png) no-repeat;
    display: inline-block;
    float:right;
    margin-right: 20px;
    cursor: pointer;
    position: absolute;
    top:5px;
    left:0px;
    background-position:0 -28px;
}
    .kitchen .follow:hover{
        opacity:0.8;
        background-position:-81px -28px;
    }
    .kitchen .follow.active{
        opacity:1;
        background-position:-81px -28px;
    }

/* ----------------slideshow gallery-------------------- */
    .slideshowlite img {
        min-width:600px;
        }
/* ----------------dish-------------------- */
.dish .maincolumn .title{
    color:#EA5514;
    font-size:34px;
    font-weight:bold;
    display:block;
    /*letter-spacing: 2px;*/
    margin:10px;
    padding:8px 40px;
    background:url(/images/chef.png) no-repeat;
    background-position: 0 50%;
}
.dish .recipe_cell{
    display: block;
    clear:both;
    margin:0px 40px;
    border-bottom:#ccc 1px solid;
    height:150px;
    overflow:hidden;
}
.dish .recipe_cell .recipe_img{
    margin:10px 20px 10px 0;
    width:150px;
    height:130px;
    overflow:hidden;
    position:relative;
    display: block;
    float:left;
}
.dish .recipe_cell .subject a{
    color:#EA5514;
    font-weight: bold;
    text-decoration:none;
}

/*------------menu-------*/

.menu .content .maincolumn .columnbox{
    width:1240px;
    padding-left: 10px;
}

.menu .content_box h2{
    padding-left:25px;
    height:32px;
    background:url(/images/20.jpg) no-repeat;
    background-position: 0% 50%;
    font-weight:bold;
    font-size:24px;
    margin:5px;
    color:#889b00;
}

.menu .content_box .dish_name{
    border-bottom:#666 1px dashed;
    font-weight:bold;
    font-size:20px;
    margin:5px;
    text-align: center;
}

/*-----topic-----*/

.topic .sidebar .brief{
    max-height: 800px;
    overflow: scroll;
}

/*------welcome index-------*/
    .recipes  .index .sidebar .block .body .list .right  .name{
        color:#EA5514;
    }
    .recipes  .index .sidebar .block .body .list .right  .intro {
        color:#595757;
    }

/* .topic_content {width:960px;margin:auto;} */
.topic_content a{color:#027fea;}
.topic_content .bg01 {background:url(/images/topiccss/bg01.gif);width:100%;padding:30px 0;}
.topic_content .bg02 {background:url(/images/topiccss/bg02.png);width:100%;padding:30px 0;}
.topic_content .bg03 {background:url(/images/topiccss/bg03.jpg);width:100%;padding:30px 0;}
.topic_content .bg04 {background:url(/images/topiccss/bg04.png);width:100%;padding:30px 0;}
.topic_content .bg05 {background:url(/images/topiccss/bg05.jpg);width:100%;padding:30px 0;}
.topic_content .bg06 {background:url(/images/topiccss/bg06.gif);width:100%;padding:30px 0;}
.topic_content .bg07 {background:url(/images/topiccss/bg07.gif);width:100%;padding:30px 0;}
.topic_content .bg08 {background:url(/images/topiccss/bg08.gif);width:100%;padding:30px 0;}
.topic_content .bg09 {background:url(/images/topiccss/bg09.gif);width:100%;padding:30px 0;}
.topic_content .bg10 {background:url(/images/topiccss/bg10.jpg);width:100%;padding:30px 0;}
.topic_content .bg11 {background:url(/images/topiccss/bg11.jpg);width:100%;padding:30px 0;}
.topic_content .bg12 {background:url(/images/topiccss/bg12.png);width:100%;padding:30px 0;}
.topic_content .bg13 {background:url(/images/topiccss/bg13.png);width:100%;padding:30px 0;}
.topic_content .bg14 {background:url(/images/topiccss/bg14.png);width:100%;padding:30px 0;}
.topic_content .bg15 {background:url(/images/topiccss/bg15.png);width:100%;padding:30px 0;}
.topic_content .bg16 {background:url(/images/topiccss/bg16.png);width:100%;padding:30px 0;}
/*-----------image-----------------*/
/* .topic_content .imgborder_l {margin-right:20px; float:left;} */
.topic_content .imgborder_l {margin-right:20px; float:left; border:#FFF 10px solid; border-radius:10px; background-color:#FFF;text-align:center;font-size:12px;color:#666666;}
.topic_content .imgborder_l img{margin:2px;}

.topic_content .imgborder_r {margin-left:20px; float:right; border:#FFF 10px solid; border-radius:10px; background-color:#FFF;text-align:center;font-size:12px;color:#666666;}
.topic_content .imgborder_r img{margin:2px;}

/* .topic_content .imgborder_l img{border:#FFF 1px solid; background-color:#FFF; padding:10px; border-radius:10px;} */

/*-----------text--------------------*/
.topic_content .title01 {background:#FF6600; font-size:20px; padding:5px 15px; border-radius:10px; color:#FFF;}
.topic_content .txt {margin:10px 0; color:#333; font-size:12px;line-height:150%}
/*-----------banner--------------------*/
.topic_content .up_tag {background-color:#9D2610; font-size:16px; color:#FFF;float:right;padding:5px 15px;}
.topic_content .up_title01 {background-color:rgba(0,102,51,0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB006633,endColorstr=#CC006633); font-size:26px; color:#FFF;float:right;padding:10px 0;width:380px;text-align:center;margin:60px 0 10px 0;}
.topic_content .up_title02 {background-color:rgba(0,102,153,0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB006699,endColorstr=#006699); font-size:26px; color:#FFF;float:right;padding:10px 0;width:380px;text-align:center;margin:60px 0 10px 0;}
.topic_content .up_title03 {background-color:rgba(153,102,0,0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB996600,endColorstr=#CC996600); font-size:26px; color:#FFF;float:right;padding:10px 0;width:380px;text-align:center;margin:60px 0 10px 0;}
.topic_content .up_title04 {background-color:rgba(204,102,102,0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBcc6666,endColorstr=#CCcc6666); font-size:26px; color:#FFF;float:right;padding:10px 0;width:380px;text-align:center;margin:60px 0 10px 0;}
.topic_content .up_title05 {background-color:rgba(255,102,0,0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBff6600,endColorstr=#CCff6600); font-size:26px; color:#FFF;float:right;padding:10px 0;width:380px;text-align:center;margin:60px 0 10px 0;}
.topic_content .up_box {background-color:rgba(255,255,255,0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBffffff,endColorstr=#CCffffff); font-size:12px; color:#333;float:right;padding:10px;width:360px;text-align:left;max-height:100px;overflow:hidden;}

/*---------recipe---------*/

.test_btn_header{
    background: url(/images/testwork.png) top left no-repeat;
    background-size:20%; 
    padding:55px 0 30px 100px;
    margin-left:90px;
    margin-top:-50px;
}
    .test_btn_header .btn{
        background: #66CC99;
        color:#FFF;
        font-size:28px;
        text-align:center;
        padding:10px 0;
        width:430px;
        margin-left:40px; 
        cursor: pointer;
    }

    .test_btn_header .btn:hover{
        background: #FF6600;
    }

    .test_btn_header div{
        width:430px;
        font-size:11px;
        color:#999;
        margin-left:40px;
        margin-top:20px;
    }

.message_btn_header{
    background: url(/images/leave_message.png) top left no-repeat;
    background-size:20%;   
    padding:55px 0 30px 100px;    
    margin-left:90px;
    margin-top:-50px;
}
    .message_btn_header .btn{
        background: #66CC99;
        color:#FFF;
        font-size:28px;
        text-align:center;
        padding:10px 0;
        width:430px;
        margin-left:40px; 
        cursor: pointer;
    }
    .message_btn_header .btn:hover{
        background: #FF6600;
    }    