.content{
	width:1024px;
}
.footer{
    width:1000px;
    margin:30px auto 0 auto;
}
footer nav{
    padding-left:20px;border-top:#999 1px dashed;width:980px;
}
footer nav .logo{
    display: none;
}
.order{
    width:668px;
}
/* ===================recipes======================  */
.recipes .content{
	width:1020px;
}

/* ===================topic======================  */
.content.topic{
    width:1024px;
}
.content.topic .maincolumn{
    width:815px;
}
.content.topic .maincolumn .order{
    width:780px;
}
.recipes .content.topic .maincolumn .recipe_block{
    width:800px;
}
.recipes .content.topic .maincolumn .recipe_block .recipe_cell{
    margin:0 10px 0 25px;
}
/* ===================food======================  */
.content.food{
	width: 1024px;
}
.content.food .maincolumn{
	width: 700px;
}
    .content.food .maincolumn .order{
        width: 670px;
    }
    .content.food .maincolumn .recipe_cell{
        margin-right:10px;
    }
.food .sidebar.narrow{
    width: 1024px;
    height:140px;
    overflow: hidden;
    background:#FFF;
    margin-bottom:10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ded1b6;
    z-index: 40;
}
    .food .sidebar.narrow div{
    float:left;padding:10px 20px; width:120px;
    }
    .food .sidebar.narrow div img{
    width:120px; height:120px;
    }
    .food .sidebar.narrow .title {
        display:none;
        color:#FF6600;
        font-size:16px;
        font-weight:bold;
        width:120px;
        margin:0;
        padding:0;
    }
    .recipes .food .sidebar .menu1{
        padding-top:35px;
    }
    .recipes .food .sidebar .menu{
        background-image:none;
        display: inline-block;
        padding:0;
    }

    .recipes .food .sidebar ul{
        width:600px;
        margin:0;
        padding:0 10px;
        background:#FFF url();
        border-radius:0;
        box-shadow: none;
    }
    .recipes .food .sidebar ul li{
        height:18px;
        line-height:18px;
        list-style: none inside;
        margin:0 10px;
        padding:0;
        display:inline;
        text-indent:0;
        overflow:hidden;
        background:#FFF url();
        font-weight:bold;
        border:none;
    }
    .recipes .food .sidebar ul a li{
        text-align: left;
        text-decoration: underline;
        color:#7F4F21;
    }
    .recipes .food .sidebar ul a li:hover{
    background:transparent;
    font-size:12px;
}

/* ===================recipe======================  */

.recipe .maincolumn h1{
    max-width:480px;
}
.recipe .content{
	width:1020px;
}
.recipe .maincolumn{
	width:680px;
    margin-left:10px;
}
.recipe .sidebar.right{
    margin:0 10px 0 10px;
}
.recipe .maincolumn .summary .description{
	margin:15px 30px 15px 30px;
}
.recipe .ad_728{
    margin-left:-30px;
}
.CSrtA {
	width: 190px;
    height: 185px;
	margin:0 13px 20px 5px;
}
.SrtAk {
	width: 190px;
}
.Spma {
	width: 190px;
}
.CSrtB {
	margin:0 25px 20px 5px;
}
.SBpic {
	width: 230px;
}
.SBpma {
	width: 340px;
}

.recipe .recipe_cell{
	width:115px;
	height:170px;
	margin-right:9px;
}
.recipe .recipe_cell .recipe_img{
	width:115px;
	height:115px;
	padding:0;
	border:0px;
	border-radius:0px;
}
.recipe .recipe_cell .recipe_img img{
	width:115px;
	height:115px;
}
.recipe .testwork_cell{
	width:115px;
	min-height:150px;
	margin-right:10px;
	margin-bottom:20px;
	float:left;
}
.recipe .testwork_cell .food img{
	width:115px;
	height:115px;
	border-radius:3px;
}
.recipe .testwork_cell .upload{
	width:115px;
	height:115px;
}
.recipe .testwork_cell .upload .plus{
	left:40px;
}
.recipe .testwork_cell .upload .plus_word{
	width:110px;
}
.recipe .message_input form{
	width:600px;
}
.recipe .message_input form textarea{
	width:65%;
}
.recipe .message_list .ask{
	width:540px;
}
.recipe .message_list .message{
	width:530px;
}
.recipe .message_list .reply{
	width:540px;
}
.recipe .shortcut{
	display:none;
}
.recipe .description .SpBox .sign{
	width:390px;
}

/*---------recipe---------*/

.test_btn_header{
    background: url(/images/testwork.png) top left no-repeat;
    background-size:20%;
    padding:30px 0 30px 100px;
    margin-left:110px;
    margin-top:-35px;
}
    .test_btn_header .btn{
        background: #66CC99;
        color:#FFF;
        font-size:20px;
        text-align:center;
        padding:10px 0;
        width:330px;
        margin-left:0px;
        cursor: pointer;
    }

    .test_btn_header .btn:hover{
        background: #FF6600;
    }

    .test_btn_header div{
        width:330px;
        font-size:11px;
        color:#999;
        margin-left:0px;
        margin-top:20px;
    }

.message_btn_header{
    background: url(/images/leave_message.png) top left no-repeat;
    background-size:20%;
    padding:30px 0 30px 100px;
    margin-left:110px;
    margin-top:-35px;
}
    .message_btn_header .btn{
        background: #66CC99;
        color:#FFF;
        font-size:20px;
        text-align:center;
        padding:10px 0;
        width:330px;
        margin-left:0px;
        cursor: pointer;
    }
    .message_btn_header .btn:hover{
        background: #FF6600;
    }

/* ===================kitchen======================  */
.content.kitchen{
    width:1024px;
}
.kitchen .maincolumn{
    width:740px;
}
.kitchen .maincolumn .columnbox{
    width:735px;
    padding:0 10px;
	}
.kitchen .maincolumn .columnbox .block .order{
    width:710px;
}
.kitchen .chef .banner{
    width:804px;
}
.kitchen .testbox .info{
    width:560px;
}
.kitchen .messagebox .info{
    width:600px;
}
/* ===================dish======================  */
.dish .content{
    width:1024px;
}
.dish .maincolumn{
    width:690px;
}
.menu .content{
    width:1024px;
}
.menu .content .maincolumn{
    width:985px;
    margin-left: 10px;
}
.menu .content .maincolumn .columnbox{
    width:985px;
    padding-bottom: 10px;
}
.menu .content_box{
    display: inline-block;
    border: 1px solid #E0C084;
    margin: 10px 0px 0px 15px;
    overflow:hidden;
    width:300px;
    padding:5px 0 10px 0;
    }
/* ===================index======================  */
.recipes .content.index{
    width:1020px;
}
.recipes .index .maincolumn{
    width:680px;
    margin-left: 10px;
    margin-right:0;
}
.recipes .index .sidebar.right{
    margin-right: 10px;
    margin-left:0;
}
.recipes .index .recipe_cell{
    margin-right:0;
    margin-left:10px;
}
.FcsPic {
    padding: 0px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-top: 5px;
    height: 304px;
    width: 430px;
}
.cell_s{
    float: left;
    height: 65px;
    width: 220px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-bottom:#CCC 1px dotted;
}
.cell_s h3 {
    font-size: 16px;
    height: 20px;
    width:134px;
    color: #eb5314;
    margin:0;
    overflow: hidden;
}
.cell_s img {
    padding: 0;
    float: left;
    height: 65px;
    width: 65px;
    margin-right: 5px;
    border: 0;
}
.cell_s span {
    font-size: 13px;
    line-height: 1.7;
    color: #666;
    overflow: hidden;

}
    .recipes .index .maincolumn .category ul{
        background-size:680px;
        box-shadow: none;
    }
    .recipes .index .maincolumn .category ul li{
        width:92px;
        height:26px;
        line-height:26px;
        list-style: none inside;
        background:transparent;
        margin:0;
        padding:0;
        display:inline-block;
        text-indent:  -100%;
        overflow:hidden;
    }
    .recipes .index .maincolumn .category ul.bar1{

    }
    .recipes .index .maincolumn .category ul.bar2{
        background-position: 0 -32px;
    }
/*---1024 special----*/

.dish .sidebar.right{
    display: none;
}
.topic .sidebar.right{
    display: none;
}
.recipes .sidebar.category.wide.right{
    display: none;
}
.recipes .maincolumn.category{
    width:810px;
}
.recipes .maincolumn.category .recipe_block .recipe_cell {
    margin: 0 10px 0 25px;
}
.recipes .maincolumn.category .order {
    width: 780px;
}
.recipes .sidebar.left {
    margin-left:10px;
}

/*-----------Navigator----------------*/

  .after_login_up span{
    margin-left:2px;
  }
  .after_login_down span{
    margin-left:2px;
  }