.list_love_1 {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-image: url(/images/list_love_3.png);
    background-position: top;

    position: absolute;
    right: 10px;
    top: 25px;
}

.list_love_1:hover {
    background-position: bottom;
}

.list_love_2 {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-image: url(/images/list_love_4.png);
    background-position: top;

    position: absolute;
    right: 10px;
    top: 25px;
}

.list_love_2:hover {
    background-position: bottom;
}