/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 13px;
    line-height: 1.4;
    font-family: "微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

div{
    display:block;
}

p{
    border: 0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===================Main Layout======================= */

body{
    width:100%;
    padding:0;
}
#header{
    width:100%;
    z-index: 1000;
}
    #header a{
        text-decoration: none;
    }
     #header a:hover{
        text-decoration: underline;
    }
.container{
    width:100%;
    min-width: 1024px;
    background:url(/images/lghtmesh.png) fixed;
    padding:23px 0 30px 0;
}
.content{
    width:1280px;
    margin:0 auto;
    width:1250px;
}

.maincolumn{
    width:728px;
    float:left;
}

    .maincolumn .breadcrumb{
        width:100%;
    }
    .maincolumn .columnbox{
        width:100%;
        background: #FFF;
        border-radius:5px;
        box-shadow: 2px 2px 2px #ded1b6;
        min-height:600px;
    }

.sidebar .brief{
    background: #FFF;
    border-radius:3px;
    box-shadow: 2px 2px 2px #ded1b6;
    padding:10px 5px;
    margin:38px 0 20px 0;
}

.breadcrumb{
    color:#988972;
    margin:10px 0;
}
    .breadcrumb a{
        color:#988972;
    }

.order{
    padding: 10px 0;
    margin:10px 15px;
    display:block;
    border-top:#ccc 1px dotted;
    border-bottom:#ccc 1px dotted;
    width:698px;
}

.order a{
    line-height: 22px;
    color: #373737;
    background-color: #fbfbfb;
    text-align: center;
    display: inline-block;
    height: 22px;
    width: 110px;
    border: 1px solid #999999;
    margin:0 3px;
    text-decoration: none;
}

.order a.selected{
    color: #FFF;
    background-color: #454545;
    border: 1px solid #000;
}

.box{
    display: block;
    background: #FFF;
    padding:10px 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #ded1b6;
}

.footer{
    margin-top:30px;
    background:#FFF url(/images/dodo-footer.jpg) no-repeat;
    background-position: 0% 0%;
    /* background-size: cover; */
    height:470px;
    border-radius: 15px;

    /* opacity: 0.8; */
}

    footer nav{
        border-top:#999 1px dashed;width:100%;
    }
    footer nav .logo{
        width:200px;padding:40px 0 0 40px;float:left;
    }
    footer nav .box2{
        width:200px;color:#333;height:100px;float:left;margin-right:20px;
    }
    footer nav .box2 .title{
        margin:15px 0 10px 0;
    }
    footer nav .box2 .title span{
        font-size:12px;padding:3px 15px;border:#666 1px dotted;border-radius:10px;color:#666;
    }
    footer nav .box2 .list{
        margin-top:0;height:60px;padding-left:20px;
    }
    footer nav .box2 .list .item1{
        width:50%; float:left;
    }
    footer nav .box2 .list .item2{
        width:33%; float:left;
    }
    footer nav .box2 .list a{
        color:#666;
    }
/*-----------Ads Box ----------------*/
.sidebar .ads{
    margin-bottom:20px;
    width:100%;
    display: block;
}

.maincolumn .ads{
    margin:20px 0;
    width:100%;
}
.maincolumn .ads.top{
    margin:0;
    width:100%;
    overflow: hidden;
}
/*-----------Navigator----------------*/
#header nav{
    margin:0;float:left;position: relative; z-index: 100;
}
#header .logo{
    margin-top:5px;
}
#header input{
    padding:1px 0;
}
#header .login{
    background:#6D542F;
    color:#fff;
    padding:5px 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#header .login span{
    background:url(/images/arrow.png) no-repeat;
    padding-left:20px;
    margin-right: 10px;
}
#header .login a{
    background:url(/images/arrow.png) no-repeat;
    padding-left:20px;
    margin-right: 10px;
}
#header .login a{
    color:#fff;
}
#header .btn01{
    background: #C3330E url(/images/add_bookmark.png) no-repeat;
    background-size: 25px 50px;
    background-position: 55px 0px;
    color: #FFF;

    padding:3px 35px 8px 10px;

    border:#FFF 1px solid;
    border-radius:5px;
    margin-left: 10px;
    display: inline-block;
    text-align: left;
}
#header .btn01 a{color: #FFF;}
#header .btn02{
    background: #28B263 url(/images/add_bookmark.png) no-repeat;
    background-size: 25px 50px;
    background-position: 55px -25px;
    color: #FFF;

    padding:3px 35px 8px 10px;

    border:#FFF 1px solid;
    border-radius:5px;
    margin-left: 0px;
    display: inline-block;

    text-align: left;
}
#header .btn02 a{color: #FFF;}
#header .form{
    margin:10px 0 0 0;float:right;
}
    #header .form .dropdown{
        float:right;height:25px;
    }
    #header .search_btn{
        float:right;height:25px;margin:10px 10px 0 0;
    }
    #header .form .dropdown select{
        border:0;height:27px;font-size:15px;padding-top:3px;background:#f7f0f0;
    }
    #header .form .dropdown input{
        padding-left:3px;width:115px;height:100%;border:0;font-size:15px;transition: width 0.2s;
    }
#header .top{
    background:#FFF;
    width:100%;
    min-width: 1024px;
    display:block;
    height:54px;
    margin:0;
        z-index: 1000;
}

#header .bottom{
    background:#ea5514;
    height:44px;
    width:100%;
    min-width: 1024px;
    display:block;
    margin:0;
        z-index: 1000;
}

    #header.header2{
        position: fixed;
        top:0;
    }

    #header.header2 .top{
        display: none;
    }

    #header.header2 ul{
        display: none;
    }

    #header.header2 .form .dropdown input{
        width:320px;
        transition: width 0.2s;
    }

    #header.header2 #logo1{
        display: inline-block;
    }

    #header.header2 #login1{
        display: inline-block;
    }

    #header.header1{
    }

    #header.header1 .top{
        display: block;
    }

    #header.header1 #logo1{
        display: none;
    }

    #header.header1 #login1{
        display: none;
    }

#trans-nav { list-style-type: none; height: 44px; padding: 0; margin:0 0 0 0; }

    #trans-nav li {
    float: left;
    position: relative;
    line-height: 44px;
    background-position: 0 0;
    border-left:#e39979 1px solid;
    }
        #trans-nav li:hover {
        background: #C3330E;
        }
    #trans-nav:nth-last-child(1) {
    border-right:#e39979 1px solid;
    }

    #trans-nav li a { display: block; text-align:center;width:90px;  color:#fff; text-decoration: none;}
    #trans-nav li.active {
    color: #FFF;
    background: url(/images/header-selected-btn2.gif);
    }
    #trans-nav li ul {
    opacity: 0;
    position: absolute;
    top:-500px;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin:0;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #ded1b6;
    width:30em;
    }
    #trans-nav li ul a{color:#7F4F21;}
    #trans-nav li:hover ul { opacity: 1; top:44px; padding:2px;}
    #trans-nav li ul li {
    float: left;
    position: static;
    height: 0;
    line-height: 0;
    background: #EEE;
    border-left:#CCC 5px solid;
    }

    #trans-nav li:hover ul li {
    height: 36px;
    line-height: 36px;
    margin:1px;
    width: 9.4em;
    }
    #trans-nav li ul li a {
    background-color:transparent;
    font-size:11px;
    text-align: left;
    padding-left:10px;
    }
    #trans-nav li ul li:hover a { color:#FFF;}
    #trans-nav li ul li:hover { background: #BBB;}

    .searchbutton{
        float:right;height:25px;margin-top:10px;
    }

    .search_form{
        margin-top:10px;float:right;
    }

    .search_form .dropdown{
        float:right;height:25px;
    }

    .search_form .dropdown select{
        border:0;height:27px;font-size:15px;padding-top:3px;background:#f7f0f0;
    }
    .search_form .dropdown input{
        padding-left:3px;width:115px;height:100%;border:0;font-size:15px;
    }
/* ===================recipes======================  */

.recipes .content{
    width:1240px;
}

.recipes .sidebar .menu{
    display:block;
    min-height:50px;
    width:100%;
    padding-top:50px;
    background: url(/images/title-bg.png) no-repeat;
}
.recipes .sidebar ul{
    width:100%;
    margin:0;
    padding:0;
}
.recipes .sidebar ul li{
    width:100%;
    height:33px;
    line-height:33px;
    list-style: none inside;
    background: url(/images/icon-cate2.png) no-repeat;
    margin:0;
    padding:0;
    display:block;
    text-indent:  -100%;
    overflow:hidden;
}

.recipes .sub_category {
    margin:0px 15px 0 15px;
}
    .recipes .food .sub_category {
        margin:10px 0;
    }
    .recipes .kitchen .sub_category {
        margin:0 10px 25px 10px;
    }


.recipes a:nth-of-type(1) li{    background-position:0 -5px;}
.recipes a:nth-of-type(2) li{    background-position:0 -39px;}
.recipes a:nth-of-type(3) li{    background-position:0 -73px;}
.recipes a:nth-of-type(4) li{    background-position:0 -107px;}
.recipes a:nth-of-type(5) li{    background-position:0 -141px;}
.recipes a:nth-child(6) li{    background-position:0 -175px;}
.recipes a:nth-child(7) li{    background-position:0 -209px;}
.recipes a:nth-child(8) li{    background-position:0 -243px;}
.recipes a:nth-child(9) li{    background-position:0 -277px;}
.recipes a:nth-child(10) li{    background-position:0 -311px;}
.recipes a:nth-child(11) li{    background-position:0 -345px;}
.recipes a:nth-child(12) li{    background-position:0 -379px;}
.recipes a:nth-child(13) li{    background-position:0 -413px;}
.recipes a:nth-child(14) li{    background-position:0 -447px;}

.recipes a:hover li{background-position-x:-160px;}

.recipes .title {margin-top:20px;}
.recipes .title div{color:#ea5514;height:34px;font-size:24px;line-height:34px;display:inline-block;}
.recipes .title .c0{  width:65px;background: url(/images/icon-cate2.png) no-repeat;  background-position:0 -5px;}
.recipes .title .c1{  width:65px;background: url(/images/icon-cate2.png) no-repeat;  background-position:0 -39px;}
.recipes .title .c2{  width:65px;background: url(/images/icon-cate2.png) no-repeat;  background-position:0 -73px;}
.recipes .title .c3{ width:65px; background: url(/images/icon-cate2.png) no-repeat;  background-position:0 -107px;}
.recipes .title .c4{ width:65px; background: url(/images/icon-cate2.png) no-repeat;  background-position:0 -141px;}
.recipes .title .c5{width:65px; background: url(/images/icon-cate2.png) no-repeat;   background-position:0 -175px;}
.recipes .title .c6{ width:65px; background: url(/images/icon-cate2.png) no-repeat;  background-position:0 -209px;}
.recipes .title .c7{ width:65px; background: url(/images/icon-cate2.png) no-repeat;  background-position:0 -243px;}
.recipes .title .c8{  width:65px;background: url(/images/icon-cate2.png) no-repeat;  background-position:0 -277px;}
.recipes .title .c9{ width:65px;background: url(/images/icon-cate2.png) no-repeat;   background-position:0 -311px;}
.recipes .title .c10{width:65px; background: url(/images/icon-cate2.png) no-repeat;   background-position:0 -345px;}
.recipes .title .c11{ width:65px;background: url(/images/icon-cate2.png) no-repeat;   background-position:0 -379px;}
.recipes .title .c12{ width:65px;background: url(/images/icon-cate2.png) no-repeat;   background-position:0 -413px;}
.recipes .title .c13{ width:65px;background: url(/images/icon-cate2.png) no-repeat;   background-position:0 -447px;}

.recipes .recipe_block{
    margin:5px 0 5px 15px;
}
.recipes .recipe_cell{
    width:156px;
    height:270px;
    margin-right:19px;
    float: left;
    position: relative;
}

    .recipes .recipe_cell .recipe_img{
        width:150px;
        height:211px;
        background:#FFF;
        padding:2px;
-webkit-box-shadow: 0px 0px 5px 1px rgba(222,222,222,1);
-moz-box-shadow: 0px 0px 5px 1px rgba(222,222,222,1);
box-shadow: 0px 0px 5px 1px rgba(222,222,222,1);
/*-webkit-box-shadow: 1px 1px 5px 0px rgba(199,199,199,0.7);
-moz-box-shadow: 1px 1px 5px 0px rgba(199,199,199,0.7);
box-shadow: 1px 1px 5px 0px rgba(199,199,199,0.7);*/
        border-radius: 3px;
        position: relative;
    }

    .recipes .recipe_cell .recipe_img img{
        border-radius: 3px;
        width:150px;
        height:150px;
    }

    .recipes .recipe_cell .count{
        color:#C9BC9C;
        font-size:10px;
        display: inline-block;
        width:150px;
        text-align: right;
    }

    .recipes .recipe_cell .date{
        color:#C9BC9C;
        background:#FFF;
        font-size:10px;
/*        padding:0 5px;
        margin:2px 0; */
        display: inline-block;
    }

    .recipes .recipe_cell .subject{
        font-size:16px;
        height:40px;
        overflow:hidden;
        margin:2px 0;
        color:#685333;
        font-weight: bold;
    }

    .recipes .recipe_cell .subject a{
        color:#685333;
        text-decoration: none;
    }

    .recipes .recipe_cell .author {
        font-size:11px;
        text-align: left;
/*        border-top:#c8c5c4 1px solid; */
        width:100%;
        padding-top:5px;
/*        height:26px;  */
        overflow:hidden;
        vertical-align:middle;
    }
    .recipes .recipe_cell .name {
        width:115px;
        height:16px;
        line-height:16px;
        overflow:hidden;
        vertical-align:middle;
        float:left;
    }
    .recipes .recipe_cell .photo {
        width:30px;
        height:30px;
        margin:0 5px;
        float:left;

    }
    .recipes .recipe_cell .author img{
        width:30px;
        height:30px;
        border-radius:15px;
        vertical-align:middle;
        display: inline-block;
    }

    .recipes .recipe_cell .author a{
        color:#C9A063;
        text-decoration: none;
    }

/* ===================topic======================  */
.recipes .topic .menu{
    background: url(/images/tag-bg2.png) top right no-repeat;
    position: relative;
}
.recipes .topic .menu .title{
    font-size:20px;
    letter-spacing: 2px;
    color:#FFF;
    font-weight:bold;
    top:-17px;
    left:20px;
    position: absolute;
}
.recipes .topic .sidebar ul{
    width:100%;
    margin:0;
    padding:5px 0 10px 0;
    background:#FFF url();
    border-radius: 3px;
    box-shadow: 2px 2px 2px #ded1b6;
}
.recipes .topic .sidebar ul li{
    width:90%;
    height:33px;
    line-height:33px;
    list-style: none inside;
    margin:auto;
    padding:0;
    display:block;
    text-indent:0;
    overflow:hidden;
    background:#FFF url(http://dodocook.com/images/top/20.jpg) right no-repeat;
    border-bottom: #CCC 1px dashed;
    font-weight:bold;
}
.recipes .topic .sidebar ul a li{
    text-align: left;
    text-decoration: none;
    color:#7F4F21;
}
.recipes .topic .sidebar ul a li:hover{
    background:#EEE;
    font-size:16px;
}
.recipes .topic .sidebar a{
    text-decoration: none;
}
.recipes .topic .maincolumn .subject .title{
    display: inline-block;
}
.recipes .topic .maincolumn .subject .title h1{
    color:#FF6600;
    font-weight:bold;
}
.topic .subject .pic{
    background:#CCC;
    padding:5px;
    margin:20px 20px -10px 30px;
    display:inline-block;
}
.topic .subject .pic img{
    width:100px;
    height:100px;
    border:#FFF 2px solid;
}
.topic .banner {
    display:block;
    width:95%;
    margin:auto;
}
.topic .banner .tab{
    display:inline-block;
    background:#FFF;
    border-top:#EEE 3px solid;
    border-left:#EEE 3px solid;
    border-right:#EEE 3px solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding:5px 15px;
    margin-right:2px;
    float:right;
    color:#99CC33;
    font-weight:bold;
}
.topic .banner .tab:hover{
    background:#EEE;
}
.topic .banner .tab a{
    color:#99CC33;
    text-decoration: none;
}
.topic .banner .tab.active{
    background:#EEE;
    color:#000;
}
.topic .banner .tab.active a{
    color:#000;
}
.topic .banner .pic img{
    border-top:#EEE 20px solid;
    width:100%;
}
/* ===================search======================  */

.search .box p{
    color:#333;
    font-size:15px;
    font-weight:bold;
    margin:5px 0 0 0;
}
.search .box input{
    width:95%;
    font-size:16px;
    margin-top:5px;
    padding:0;
}
/* ===================food======================  */
.recipes .food .subject{
    padding:0 15px;
}
.food .instruction{
    font-size:15px;
    position:relative;
}
.food .instruction .brief{
    margin:0 15px 15px 15px;
}
.food .sidebar.narrow .title {
    background: url(/images/tag-bg2.png) top right no-repeat;
    display: block;
    color:#FFF;
    padding: 7px;
    font-size:16px;
    font-weight:bold;
}
.recipes .food .sidebar .menu{
    background-image:none;
    padding-top:20px;
}
.food .sidebar.narrow div img{
    width:160px;
    height:160px;
}
.food .CSrtA .SrtAk div img{
    width:200px;
    height:150px;
}
.food .CSrtA {
    float: left;
    width: 200px;
    margin: 0 15px 20px 15px;
    overflow: hidden;
}
.food .SrtAk {
    clear: both;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.food .Spma {
    clear: both;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    line-height: 22px;
}
.food .instruction .group{
    display: block;
    text-align: center;
    background: #F8EEDD;
    margin:20px auto;
    padding:5px;
    font-size:16px;
}
.recipes .food .sidebar ul{
    width:100%;
    margin:0;
    padding:5px 0 10px 0;
    background:#FFF url();
    border-radius: 3px;
    box-shadow: 2px 2px 2px #ded1b6;
}
.recipes .food .sidebar ul li{
    width:90%;
    height:33px;
    line-height:33px;
    list-style: none inside;
    margin:auto;
    padding:0;
    display:block;
    text-indent:0;
    overflow:hidden;
    background:#FFF url(http://dodocook.com/images/top/20.jpg) right no-repeat;
    border-bottom: #CCC 1px dashed;
    font-weight:bold;
}
.recipes .food .sidebar ul a li{
    text-align: left;
    text-decoration: none;
    color:#7F4F21;
}
.recipes .food .sidebar ul a li:hover{
    background:#EEE;
    font-size:16px;
}
.recipes .food .sidebar a{
    text-decoration: none;
}
.food .sidebar.wide .title{
    color:#FFF;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-align:center;
    letter-spacing: 2px;
    margin-bottom:-31px;
    margin-top:10px;
}
/* ===================recipe======================  */

.recipe .content{
    width:1240px;
}
.recipe .maincolumn{
    width:900px;
}

.recipe .breadcrumb{
    margin:5px;
}
.recipe .maincolumn .summary{
    margin:0;
    padding-bottom:20px;
    display:block;
    clear:both;
    position:relative;
    overflow:hidden;
}
.recipe .maincolumn .like{
    float:left;
    width:70px;
    line-height: 45px;
}
.recipe .maincolumn .summary .band{
    margin:0 35px;
    padding-top:3px;
    padding-bottom:8px;
    height:35px;
    /*background:url(/images/band.png) repeat-x;*/
    display:block;
    border-bottom:#FF6600 3px solid;
}

.recipe .maincolumn .summary .long_border{
    margin:auto;
    padding:10px;
    display:inline-block;
    color:#C9A68F;
    font-size:20px;
    font-weight:bold;
    letter-spacing: 2px;
}


.recipe .collect{
    width:80px;
    height:29px;
    background:url(/images/act-btn.png) no-repeat;
    display: inline-block;
    float:right;
    margin-right: 20px;
    cursor: pointer;
}
.recipe .collect:hover{
    opacity:0.8;
    background-position:-81px 0;
}
.recipe .collect.active{
    opacity:1;
    background-position:-81px 0;
}
.recipe .collect.active:hover{
    opacity:1;
    background-position:-0 0;
}

.recipe .print{
    width:80px;
    height:29px;
    background:url(/images/act-btn.png)  no-repeat;
    background-position:0 -57px;
    display: inline-block;
    float:right;
    margin-right: 5px;
    cursor: pointer;
}
    .recipe .print:hover{
        opacity:0.8;
        background-position:-81px -57px;
    }
    .recipe .print.active{
        opacity:1;
        background-position:-81px -57px;
    }
.recipe .maincolumn .summary .main_pic{
    text-align:center;
    margin:25px 0;
    width:100%;
}
.recipe .maincolumn .summary .main_pic img{
    /* border-radius:15px; */
    border: 10px solid #FFF;
    box-shadow: 0px 0px 10px #CCC;

}
.recipe .maincolumn .summary .description{
    text-align:left;
    font-size:16px;
    margin:30px 45px 15px 45px;
}
.recipe .maincolumn .summary .instruction{
    text-align:left;
    font-size:16px;
    margin:10px 25px 0 25px;
    display:block;
}
.recipe .maincolumn .summary .instruction .group{
    background:#fcf1dd;
    color:#000;
    padding:5px 20px;
    font-size:16px;
    margin:20px 0;
    border-radius:20px;
    display:inline-block;
    border:#c7a362 1px dotted;
}
.recipe .maincolumn .summary .instruction .steps{
    width:100%;
    display:inline-block;
}
.recipe .highlight{
    font-size: 13px;
    background: #EEE;
    padding: 10px;
    margin-top: 10px;
}
.recipe .highlight .section{
    float:left;
    margin-right:20px;
}
.recipe .highlight .section a{
    color:#3366CB;
}
.CSrtA {
    float: left;
    width: 230px;
    /*height: 215px;*/
    overflow: hidden;
    margin:0 25px 20px 25px;
    overflow: hidden;
}
.SrtAk {
    clear: both;
    width: 230px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.SrtAk img{
    border-radius: 10px;
}
.Sno {
    font-size: 24px;
    line-height: 36px;
    color: #FFF;
    background-color: #666;
    height: 36px;
    width: 36px;
    position: absolute;
    z-index: 3;
    text-align: center;
    background-color: rgba(88,88,88,0.5);
    top:0;
    left:0;
    border-radius:10px;
}
.Spma {
    clear: both;
    width: 230px;
    margin-right: auto;
    margin-left: auto;
    line-height: 22px;
}
.CSrtB {
/*    width: 780px; */
    clear: both;
    margin:0 25px 20px 25px;
    position: relative;
    overflow: hidden;
}
.CSrtB img{
    border-radius: 10px;
}
.SBpic {
    width: 230px;
    margin-right: 20px;
    float: left;
}
.SBpma {
    width: 540px;
    float: left;
    padding:0;
}
.CSrtC {
    clear: both;
    margin:0 30px 15px 30px;
    border-bottom:#ccc 1px dashed;
    overflow: hidden;
    position: relative;
    min-height:50px;
    text-align: center;
    display: block;
}
.CSrtC p{
    margin:10px 45px;
}
.CSrtC img{
max-width:500px;
max-height:500px;
border-radius:15px;
}


.recipe .recipe_cell{
    width:146px;
    height:210px;
    margin-right:18px;
    float:left;
}
.recipe .recipe_cell:nth-last-child(1){
    margin-right:0;
}

.recipe .recipe_cell .recipe_img{
    width:140px;
    height:140px;
    background:#FFF;
    padding:2px;
    border:#dedad5 1px solid;
    border-radius: 3px;
}

.recipe .recipe_cell .recipe_img img{
    width:140px;
    height:140px;
    border-radius: 3px;
}

.recipe .recipe_cell .data{
    color:#FFF;
    background:#C9BC9C;
    font-size:7px;
    padding:0 5px;
    margin:2px 0;
    display: inline-block;
}

.recipe .recipe_cell .subject{
    font-size:15px;
    height:40px;
    overflow:hidden;
}

.recipe .recipe_cell .subject a{
    color:#956134;
    text-decoration: none;
}

.recipe .testwork_cell{
    width:140px;
    overflow: hidden;
    margin:10px 25px 10px 0;
    float:left;
}
.recipe .testwork_cell:nth-last-child(1){
    margin-right:0;
}

.recipe .testwork_cell .food img{
    width:140px;
    height:140px;
    border-radius:3px;
}

.recipe .testwork_cell .upload{
    width:140px;
    height:140px;
    border:#EA5514 1px dashed;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;

}

.recipe .testwork_cell .upload:hover{
    background:#ffdcc5;
    cursor:pointer;
}

.recipe .testwork_cell .upload .plus{
    text-align: center;
    vertical-align: middle;
    color:#FFF;
    background:#EA5514;
    font-size:18px;
    width:30px;
    height:30px;
    line-height:30px;
    border-radius: 15px;
    display:block;
    margin: auto;
    position: absolute;
    top:40px;
    left:55px;
}
.recipe .testwork_cell .upload .plus_word{
    display:block;
    margin: auto;
    position: absolute;
    top:75px;
    left:0px;
    width:135px;
    color:#EA5514;
}
.recipe .testwork_cell .info{
        position: relative;
    display: block;
    margin:15px 0 0 0;
    border:#eee 1px solid;
    border-radius:3px;
    box-shadow:1px 1px 1px #EEE;
    font-size:11px;
}
.recipe .testwork_cell .info:after{
    content: "";
    position: absolute;
    top: -10px;
    left: 87px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}
.recipe .testwork_cell .info:before{
    content: "";
    position: absolute;
    top: -11px;
    left: 87px;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #eeeeee transparent;
    display: block;
    width: 0;
    z-index: 0;
}
.recipe .testwork_cell .info .name{
    display: block;
    color:#FF6600;
    padding:5px;
    border-bottom:#D6B78A 1px solid;
}
.recipe .testwork_cell .info .message{
    display: block;
    padding:5px 5px 0 5px;
}
.recipe .testwork_cell .info .date{
    display: block;
    padding:5px;
    text-align:right;
}
.recipe .message_input{
    margin:0px;
    display:block;
}
.recipe .message_input form{
    display:block;
    border-bottom:#CCC 1px dashed;
    width:100%;
    position:relative;
}
.recipe .message_input form textarea{
    width:70%;
    padding:30px 0px 15px 90px;
    color:#ccc;
    border:#CCC 1px solid;
    background:url(/images/talk.jpg) left no-repeat;
    background-position: 5% 50%;
}
.recipe .message_input form input{
    right:20px;
    top:20px;
    position:absolute;
}
.recipe .message_list{
    font-size:11px;
    margin-top:10px;
    display:block;
    min-height: 60px;
    border-bottom: #CCC 1px dashed;
    position:relative;
    padding-bottom:5px;
}
.recipe .message_list .bighead{
    width:50px;
    height:50px;
    float:left;
    position: relative;
}
.recipe .message_list .bighead img{
    width:50px;
    height:50px;
    border-radius:25px;
}
.recipe .message_list .ask{
    width:740px;
    display:block;
    float:right;
}
.recipe .message_list .name{
    color:#FF6600;
    float:left;
}
.recipe .message_list .date{
    float:right;
    color:#CCC;
}
.recipe .message_list .message{
    display:block;
    float:right;
    width:730px;
    background:#EEE;
    padding:5px;
    margin:5px 0;
}

.recipe .message_list .reply{
    width:740px;
    display:block;
    float:right;
}

.recipe .sidebar .author{
    background:#FFF;
    padding:5px;
    border-radius:5px;
    box-shadow: 2px 2px 2px #ded1b6;
    display:block;
    margin-bottom:20px;
    color:#7A6A56;
    font-size:20px;
    font-weight:bold;
}
.recipe .sidebar .author a{
    color: inherit;
}
.recipe .sidebar .author .name{
    margin:5px;
    text-align: center;
    display: block;
}
.recipe .sidebar .author .bighead{
    border:#ccc 1px dashed;
    padding:5px;
    display:block;
}
.recipe .sidebar .author .bighead img{
    width:278px;
    height:278px;
}
.recipe .sidebar .ingredient{
    display:block;
    margin-bottom:20px;
    color:#595757;
    font-size:13px;
    position: relative;
}

.recipe .sidebar .ingredient .head{
    display:block;
    margin-bottom:10px;
    padding:10px 0 5px 0;
    font-size:20px;
    font-weight:bold;
    text-align: center;
    background:#FFF url(/images/top-green.jpg) no-repeat;
    border-radius:5px;
    box-shadow: 2px 2px 2px #ded1b6;
}
.recipe .sidebar .ingredient .body{
    padding:10px;
    display:block;
    background:#FFF;
    border-radius:5px;
    box-shadow: 2px 2px 2px #ded1b6;
}
.recipe .sidebar .ingredient .body .group{
    display:block;
    background:#C0DD80;
    padding:5px;
    margin-top: 5px;
}
.recipe .sidebar .ingredient .body .list{
    padding:5px 0;
    display:block;
    border-bottom:#ccc 1px dashed;
}
.recipe .sidebar .ingredient .body .name{
    width:70%;
    float: left;
}
.recipe .sidebar .ingredient .body .count{
    width:30%;
    text-align:right;
    float: right;
}
.recipe .shortcut{
    z-index:500;
    border-radius:5px;
    display:block;
    position:fixed;
    left:10px;
    top:150px;
    width:70px;
    height:360px;
    background:url(/images/bg2.jpg) repeat;
    color:#000;
    box-shadow: 2px 2px 2px #ded1b6;
    text-align: center;
}
.recipe .shortcut a{
    color:#FFF;
    text-decoration: none;
}
.recipe .shortcut a:hover{
    color:#000;
    font-weight:bold;
}
.recipe .shortcut div{
    display:block;
    border-bottom:#FFF 1px dotted;
    padding:5px 0;
}
.recipe .description .SpBox{

}
    .recipe .description .SpBox .bighead{
        float:left;padding:5px;border:#ccc 1px dashed;
    }
    .recipe .description .SpBox .sign{
        width:590px; margin:0 10px; float:left;
    }
    .recipe .description .SpBox .like{
    float:right;width:70px;
    }
    .recipe .description .SpBox .sign .name{
        font-size:16px;
    }
        .recipe .description .SpBox .sign .name a{
            font-size:18px;color:#3366CB;text-decoration: underline;
        }
    .recipe .description .SpBox .sign .intro{
        font-size:16px;margin-top:6px;min-height:25px;
    }
    .recipe .description .SpBox .sign .intro .intro_collect{
        float:left;margin-right:8px;border-left:#8E2800 16px solid;padding-left:5px;
    }
    .recipe .description .SpBox .sign .intro .intro_subscribe{
        float:left;margin-right:8px;border-left:#FFB03A 16px solid;padding-left:5px;
    }
    .recipe .description .SpBox .sign .intro .intro_pageviews{
        float:left;margin-right:8px;border-left:#3C7F5B 16px solid;padding-left:5px;
    }
    .recipe .description .SpBox .sign .intro a{
        color:#656565;
    }
    .recipe .description .SpBox .sign .link{
        font-size:16px;margin-top:20px;display:block;
    }
    .recipe .description .SpBox .sign .link a{
        color:#3366CB;margin-right:10px;padding:8px 15px;background: #EEE;border-radius: 10px;
    }
    .recipe .description .SpBox .sign .link a:hover{
        font-weight:bold;
    }

.recipe h1{
    margin:0 5px 0 0px;
    font-size:28px;
    color:#5C7A1F;
    max-width: 570px;
    height:35px;
    overflow:hidden;
    font-weight: bold;
    float:left;
}

.recipe .loadmore{
    margin:15px 30px;
    width:100%;
    height:30px;
    text-align: center;
    clear:both;
}

.recipe .loadmore .previous{
    width:28px;
    height:30px;
    background:url(/images/page_button.png) left no-repeat;
    display: inline-block;
    cursor:pointer;
}
    .recipe .loadmore .previous:hover{
        opacity: 0.8;
    }
.recipe .loadmore .next{
    width:28px;
    height:30px;
    background:url(/images/page_button.png) right no-repeat;
    display: inline-block;
    cursor:pointer;
}
    .recipe .loadmore .next:hover{
        opacity: 0.8;
    }
/* ==========================================================================
   kitchen
   ========================================================================== */

.kitchen .maincolumn{
    width:990px;
    margin-top: 20px;
}

.kitchen .maincolumn .columnbox{
    width:910px;
    padding:0 40px;
}
.kitchen .maincolumn .columnbox .subject{
    display: block;
}
.kitchen .maincolumn .columnbox .subject .intro{
    display: block;
    margin:10px 0;
    font-size:16px;
}
.kitchen .maincolumn .columnbox .block .order{
    width:880px;
}
.kitchen .recipe_block{
    margin:5px 0 5px 15px;
}
.kitchen .maincolumn .columnbox .recipe_cell{
    position:relative;
}
.kitchen .maincolumn .columnbox .recipe_cell .remove{
    position:absolute;
    top:0;
    right:0;
}
.kitchen .maincolumn .columnbox .recipe_cell .highlight{
    position:absolute;
    top:127px;
    width:155px;
    display:block;
    padding:5px 0;
    background-color: rgba(88,88,88,0.5);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:3px;
    color:#FFF;
}
.kitchen .maincolumn .columnbox .recipe_cell .highlight span{
    margin-left:10px;
    margin-right: 5px;
}
.kitchen .chef{
    width:100%;
    height:220px;
}
    .kitchen .chef .bighead{
        width:220px;
        height:220px;
        display: block;
        float:left;
        position: relative;
    }

    .kitchen .chef .bighead img{
        width:220px;
        height:220px;
    }
    .kitchen .chef .banner{
        width:1020px;
        height:220px;
        background-size: cover;
        background-position:center center;
        display: block;
        float:right;
        position: relative;
    }
    .kitchen .chef .banner .intro{
            border-radius: 7px;
            background-color: rgba(88,88,88,0.5);
            position: absolute;
            z-index: 3;
            bottom: 20px;
            width: 500px;
            font-size: 15px;
            line-height: 24px;
            padding: 12px;
            display: block;
            color: #FFF;
            text-decoration: none;
            left: 20px;
    }
.kitchen .sidebar.moderate .title {
    background: url(/images/tag-bg2.png) top right no-repeat;
    display: block;
    color:#FFF;
    padding: 7px;
    font-size:16px;
    font-weight:bold;
}
.recipes .kitchen .sidebar .menu{
    background-image:none;
    padding-top:20px;
}
.kitchen .sidebar.moderate div img{
    width:160px;
    height:160px;
}
.recipes .kitchen .sidebar ul{
    width:100%;
    margin:0;
    padding:5px 0 10px 0;
    background:#FFF url();
    border-radius: 3px;
    box-shadow: 2px 2px 2px #ded1b6;
}
.recipes .kitchen .sidebar ul li{
    width:90%;
    height:33px;
    line-height:33px;
    list-style: none inside;
    margin:auto;
    padding:0;
    display:block;
    text-indent:0;
    overflow:hidden;
    background:#FFF url(http://dodocook.com/images/top/20.jpg) right no-repeat;
    border-bottom: #CCC 1px dashed;
    font-weight:bold;
}
.recipes .kitchen .sidebar ul a li{
    text-align: left;
    text-decoration: none;
    color:#7F4F21;
}
.recipes .kitchen .sidebar ul a li:hover{
    background:#EEE;
    font-size:16px;
}
.recipes .kitchen .sidebar ul a li{
    text-align: left;
    text-decoration: none;
    color:#7F4F21;
}
.recipes .kitchen .sidebar a{
    text-decoration: none;
}
.kitchen .testbox{
    padding-bottom:10px;
    border-bottom: #6D542F 1px dashed;
    margin:0 auto 10px auto;
    display:block;
}
    .kitchen .testbox .pic{
        width:170px;
        height:120px;
        display:block;
        float:left;
        overflow: hidden;
        vertical-align:center;
        position: relative;
    }
    .kitchen .testbox .pic img{
        position: absolute;
        top:-15px;
    }
    .kitchen .testbox .info{
        width:715px;
        display:block;
        float:left;
    }
    .kitchen .testbox .info .info_tilte{
        display:block;
        color:#333;
        font-size:16px;
    }
    .kitchen .testbox .info .info_tilte a{
        margin-left:10px;
        color:#66CC00;
        text-decoration:none;
    }
    .kitchen .testbox .info .info_time{
        display:block;
        text-align: right;
    }
    .kitchen .testbox .info .info_message{
        display:block;
        background:#EEE;
        margin:5px 0;
        padding:5px 10px;
    }
.kitchen .messagebox{
    padding-bottom:10px;
    border-bottom: #6D542F 1px dashed;
    margin:0 auto 10px auto;
    display:block;
}
    .kitchen .messagebox .pic{
        width:120px;
        height:100px;
        display:block;
        float:left;
        overflow: hidden;
        vertical-align:center;
        position: relative;
    }
    .kitchen .messagebox .pic img{
        position: absolute;
        top:0px;
    }
    .kitchen .messagebox .info{
        width:765px;
        display:block;
        float:left;
    }
    .kitchen .messagebox .info .info_tilte{
        display:block;
        color:#333;
        font-size:16px;
    }
    .kitchen .messagebox .info .info_tilte a{
        margin-left:10px;
        color:#66CC00;
        text-decoration:none;
    }
    .kitchen .messagebox .info .info_time{
        display:block;
        text-align: right;
    }
    .kitchen .messagebox .info .info_message{
        display:block;
        background:#EEE;
        margin:5px 0;
        padding:5px 10px;
    }
/* ==========================================================================
   index
   ========================================================================== */
.recipes .content.index{
    width:1240px;
}
.recipes .index .maincolumn{
    width:900px;
}
.recipes .index .maincolumn .description{
    margin-top:20px;
}
.recipes .index .recipe_cell{
    margin-right:0;
    margin-left:19px;
}
.recipes .index .maincolumn .category{
    margin-bottom:25px;
}
    .recipes .index .maincolumn .category .title{
        background: url(/images/quote.png) no-repeat;
        font-size:18px;
        font-weight:bold;
        width:128px;
        text-align: center;
        margin:10px 0 0 0;
    }
    .recipes .index .maincolumn .category ul{
        width:100%;
        margin:0 0 5px 0;
        padding:0;
        background: url(/images/index-cate.png) no-repeat;
        box-shadow: 2px 2px 2px #ded1b6;
    }
    .recipes .index .maincolumn .category ul.bar1{

    }
    .recipes .index .maincolumn .category ul.bar2{
        background-position: 0 -43px;
    }
    .recipes .index .maincolumn .category ul li{
        width:125px;
        height:33px;
        line-height:33px;
        list-style: none inside;
        background:transparent;
        margin:0;
        padding:0;
        display:inline-block;
        text-indent:  -100%;
        overflow:hidden;
    }

.recipes  .index .sidebar .block{
    margin-bottom:20px;
    color:#595757;
    font-size:13px;
    position: relative;
}

    .recipes  .index .sidebar .block .head{
        display:block;
        margin-bottom:10px;
        padding:10px 0 5px 0;
        font-size:20px;
        font-weight:bold;
        text-align: center;
        background:#FFF url(/images/top-green.jpg) no-repeat;
        border-radius:5px;
        box-shadow: 2px 2px 2px #ded1b6;
    }
    .recipes  .index .sidebar .block .body{
        padding:15px;
        display:block;
        background:#FFF;
        border-radius:5px;
        box-shadow: 2px 2px 2px #ded1b6;
    }
    .recipes  .index .sidebar .block .body .list{
        border-bottom:#ccc 1px dotted ;
        padding: 5px 0;
    }
    .recipes  .index .sidebar .block .body .list .left{
        width:70px;
        float:left;
                        margin:0;
    }
    .recipes  .index .sidebar .block .body .list .left img{
        width:70px;
        height:70px;
        border-radius: 5px ;
    }
    .recipes  .index .sidebar .block .body .list .right{
        width:190px;
                float:right;
                margin:0;
    }
    .recipes  .index .sidebar .block .body .list .right .name{
        font-size: 16px;
        height:20px;
        overflow: hidden;
        color:#EA5514;
    }
    .recipes  .index .sidebar .block .body .list .right .intro{
        height:50px;
        overflow: hidden;
    }

.FcsBox {
    clear: both;
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.FcsNAV {
    clear: both;
    height: 30px;
    margin-bottom: 12px;
}
.FcsNAV img.Ft {
    float: left;
}
.FcsNAV ul {
    float: right;
    width: 700px;
    list-style: none;
}
.FcsNAV ul li {
    float: right;
    width: 113px;
    list-style: none;
}
.FcsNAV ul li a {
    clear: both;
    float: right;
    height: 28px;
    width: 108px;
    font-size: 12px;
    line-height: 28px;
    color: #FFF;
    text-align: center;
    display: block;
    text-decoration: none;
    background:#EA5514;
}
.FcsNAV ul li a:hover {
    background:#C2330E;
}
.FcsNAV ul li a.current {
    background:#C2330E;
}
.FcsNAV ul li span {
    clear: both;
    float: right;
    height: 29px;
    width: 108px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #f47171;
    border-right-color: #f47171;
    border-left-color: #f47171;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 12px;
    line-height: 28px;
    color: #ae0006;
    text-align: center;
    display: block;
    text-decoration: none;
    border-top-width: 1px;
    background-image: url(/images/bg_fnavon.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.FcsPic {
    padding: 5px;
    float: left;
    height: 380px;
    width: 560px;
/*    border: 10px solid #e2e2e2; */
    position: relative;
    margin-right: 15px;
    margin-top: 7px;
}
.FcsPic img{
    width: 100%;
}

.rotatebox{
    background: #FFF;
    border:#ffffff 10px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ded1b6;
    position:relative;
}
.rotatebox .short_band{
    position:absolute;
    top:0;
    left:0;
    z-index:99;
}

.cell_s{
    float: left;
    height: 86px;
    width: 295px;
    padding-top: 7px;
    padding-bottom: 6px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-bottom:#CCC 1px dotted;
}

.cell_s h3 {
    font-size: 16px;
    line-height: 20px;
    color: #eb5314;
    margin:0 0 5px 0;
    overflow: hidden;
}

.cell_s span {
    font-size: 13px;
    line-height: 18px;
    color: #666;
}

.cell_s img {
    padding: 1px;
    float: left;
    height: 80px;
    width: 80px;
    margin-right: 15px;
 /*   border: 2px solid #CCC; */
}

.cell_s a{
    text-decoration: none;
    color:#eb5314;
    font-weight: bold;
}


   /* ==========================================================================
   dish
   ========================================================================== */
.dish .content{
    width:1240px;
}
.dish .sidebar .title{
    color:#FFF;
    font-size:20px;
    font-weight:bold;
    display:block;
    text-align:center;
    letter-spacing: 2px;
    margin-bottom:-31px;
    margin-top:10px;
}
.dish .maincolumn .title{
    color:#EA5514;
    font-size:20px;
    font-weight:bold;
    display:block;
    letter-spacing: 2px;
    margin:20px;
    padding:8px 40px;
    background:url(/images/chef.png) top left no-repeat;
}
.dish .recipe_block{
    display: block;
}
.dish .recipe_cell{
    display: block;
    clear:both;
    margin:0px 40px;
    border-bottom:#ccc 1px solid;
    height:120px;
    overflow:hidden;
}
.dish .recipe_cell .recipe_img{
    margin:10px 20px 10px 0;
    width:150px;
    height:100px;
    overflow:hidden;
    position:relative;
    display: block;
    float:left;
}
.dish .recipe_cell .recipe_img img{
    position:absolute;
    top:-25px;
}
.dish .recipe_cell .date{
    display: block;
    float:right;
    color:#999999;
}
.dish .recipe_cell .subject{
    color:#C9A063;
    display: block;
    font-size:20px;
    margin:5px 0;
}
.dish .recipe_cell .subject a{
    color:#C9A063;
    text-decoration:none;
}
.dish .recipe_cell .author{
    display: block;
    float:left;
}
.dish .recipe_cell .author a{
    color:#C9A063;
    text-decoration:none;
}
.dish .recipe_cell .brief{
    display: block;
    font-size:13px;
    border-bottom: #ccc 1px dashed;
    padding-bottom:5px;
    margin-bottom:5px;
    height:40px;
    overflow:hidden;
}
.menu .content{
    width:1240px;
}
.menu .content .maincolumn .columnbox{
    width:1240px;
}
.menu .content_box{
    display: inline-block;
    border: 1px solid #E0C084;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    width:300px;
    padding-bottom:5px 0 10px 0;
    }
.menu .content_box a{
    color:#555;
    text-decoration:none;
    }
.menu .content_box .name{
    width:140px; height:24px;line-height:1.5; overflow:hidden;float:left;margin-left:10px;font-size:15px;
}
.menu .content_box h2{
    padding-left:25px;
    height:24px;
    background:url(http://dodocook.com/images/top/20.jpg) no-repeat;
    font-weight:bold;
    font-size:24px;
    margin:5px;
    color:#889b00;
}
.menu .content_box .pic{
    margin:5px;
    width:290px;
    height:200px;
    overflow:hidden;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.visible {
    display: visible !important;
    visibility:visible;
}
.fixed {
position:fixed;z-index:100;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.crown{display:block;clear:both;height:35px;background:url(/images/crown.png) 50% 50% no-repeat;}
.left{float:left;margin-right:21px;}
.right{float:right;margin-left:21px;}
.center{text-align: center;display:block;}
.narrow{width:160px;}
.moderate{width:220px;}
.wide{width:300px;}
.weave{border-top:transparent 10px solid;border-bottom:transparent 10px solid;border-image: url(/images/tilt.png) 8 repeat;}
.weave-top{border-top:transparent 10px solid;border-bottom:0px;border-image: url(/images/tilt.png) 8 repeat;}
.weave-down{border-bottom:transparent 10px solid;border-top:0px;border-image: url(/images/tilt.png) 8 repeat;}
.short_band{
    margin:0;
    padding:3px 0 0 10px;
    height:35px;
    background:url(/images/tag-bg.png) no-repeat;
    display:block;
    width:200px;
    color:#FFF;
    font-size:20px;
    font-weight:bold;
    letter-spacing: 2px;
}
.long_band{
    margin:0;
    padding:3px 20px 0 10px;
    height:35px;
    background:url(/images/tag-bg2.png) right no-repeat;
    color:#FFF;
    font-size:20px;
    font-weight:bold;
    letter-spacing: 2px;
    display: inline-block;
}
.block {
    display: block;
}
.white{
    background: #FFF;
}
.clear{
    clear:both;display: block;
}

.anchor{height:10px;top:-50px;position:absolute;}

.sub_category .btn{
    border-radius: 4px;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    margin: 5px;
    color: #FFF;
/*    background: #66cc00;*/
    background: #A7CB31;
    padding: 4px 8px;
    display: inline-block;
}
    .sub_category .btn a{
        color: #FFF;
        text-decoration: none;
    }
    .sub_category .btn:hover{
        background: #ff6600;
    }
.sub_category .btn.selected{
    background: #ff6600;
}

/* ---------------- accordion -------------------- */

#accordion{
    margin-bottom:20px;
    width:100%;
    display:block;
    padding-top:40px;
    background:url(/images/tag-bg2.png) top right no-repeat;
}
#accordion a{
    text-decoration: none;
    color:#555555;
}
#accordion a:hover{
    font-size: 16px;
    background: #EEE;
}
#accordion a.current{
    font-size: 16px;
    background: #EEE;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0; /* support: IE7 */
    font-size: 100%;
}
.ui-accordion .ui-accordion-icons {
    padding-left: 2.2em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
    padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
    border-top: 0;
    overflow: auto;
    padding:10px 0 10px 10px;
    font-size:13px;
    background:#FFF;
}
.ui-accordion .ui-accordion-content div{
    width:130px;float:left;height:20px;overflow:hidden;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #fff;
    font-weight: normal;
    color: #555555;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border-bottom: 1px dashed #aaaaaa;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #ffffff;
    font-weight: normal;
    color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}
.ui-icon { width: 16px; height: 16px; background:url(/images/arrow.png);}
.ui-icon-triangle-1-s { background:url(/images/highlight.png); }
/* ----------------slideshow gallery-------------------- */
#slideshow{
    display:block;
    margin:auto;
}

    .slideshowlite {
        position: relative;
        overflow: hidden;
    }

    .slideshowlite a {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .slideshowlite img {
        position: absolute;
        border: none;
        top:0;
        left:0;
        }

/* pagination control */

.slideshowlite ul,
.slideshowlite ol {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 5px;
    right: 5px;
    z-index: 3;
}

    .slideshowlite ul li,
    .slideshowlite ol li {
        float: left;
        margin: 0 3px;
        width: 16px;
    }

    .slideshowlite ul li a {
        position: relative;
        display: block;
        width: 100%;
        height: 14px;
        padding-top: 2px;
        text-decoration: none;
        color: #666;
        background: #eee;
        border: 1px solid #666;
        text-align: center;
        font-size: 11px;
    }

    .slideshowlite ul li a.current {
        color: #111;
        font-weight: bold;
        border: 1px solid #111;
        background: #fff;
    }

    .slideshowlite ul li a:hover {
        color: #fff;
        background: #333;
    }

/* caption control */

.slideshowlite ol {
    top: 5px;
    position: relative;
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    color: #fff;
    background: #000;
    padding: 3px 10px;
}

    .slideshowlite ol li {
        width: 100%;
    }

/* ==========================================================================
   Print styles
   ========================================================================== */

@media only screen and (max-width: 1450px) {
.recipe .shortcut{
    display:none;
}


@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


