.pagebar {
    clear: both;
    height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    text-align:center;
    display: block;
}
.pagebar ul {
    display: inline-block;
    margin: 0;
}
.pagebar ul li {
    float: left;
    list-style: none;
}
.pagebar ul li a {
    font-size: 11px;
    color: #c9bc9c;
    text-align: center;
    display: block;
    padding: 3px 0;
    /*min-width: 30px;*/
    padding: 3px 12px 3px 12px;
    margin:0 3px;
    text-decoration: none;
    border: 1px solid #c9bc9c;
}
.pagebar ul li .selected{
    background:#c9bc9c;
    color: #FFF;
    border: 1px solid #c9bc9c;
}
.pagebar ul li a.btn {
    width: 65px;
}
.pagebar ul li a:hover {
    text-decoration: underline;
}