.dmmbox td{
    word-wrap: break-word;
}
.dmmbox_sample{
    height:600px;
}
.dmm_sample_title_sp{
    margin-bottom:2px;
    height:14px!important;
    line-height: 14px!important;
    overflow: hidden!important;
}

@media only screen and (orientation : landscape) { /*横向きの際に適用*/
    .dmmbox_sample_sp{
        height:490px;
    }
    .dmmbox_sp{
        margin: auto;
        max-width:300px;
        height:auto;
    }
}
@media only screen and (orientation : portrait) { /*縦向きの際に適用*/
    .dmmbox_sample_sp{
        height:350px;
    }
    .dmmbox_sp{
        margin: auto;
        max-width:300px;
        height:auto;
    }
}

.dmmbox_sp img{
    max-width:147px!important;
}
.parts_sp_css{
    border-collapse: collapse;
    border: 0px;
    padding:0px;
    max-width:300px;
}

.postmetadata {
    margin: 0px;
    font-size: 12px;
    //color: #666;
    line-height: 120%;
    height:43px;
    overflow: hidden;
    clear: both;
}
.partscss{
    border-collapse: collapse;
    border: 0px;
    padding:0px;
    width:100%;
}
.partscss td{
    border:0px;
    padding:5px;
    /* background: none repeat scroll 0% 0% #FFF!important; */
}
.partscss img {
    //width:90%;
    background: none repeat scroll 0% 0% #FFF!important;
    border: 0px solid #CCC!important;
    padding: 0px!important;
}
.partscss a { color: #666; }
.partscss a:hover { color: #666; text-decoration: none; }
img.samplesaisei{
    background: none repeat scroll 0% 0% #FFF;
    border: 0px solid #CCC;
    padding: 5px;
}
.partscss a img:hover { background: #fff; }

.slidedmm {
  list-style: none;
  overflow: hidden;
  position: relative;
  top: 10px;
}

.dmmmore, .dmmmore:focus {
    font-size:16px;
    display: block;
    margin: 10px auto 0px;
    padding: 8px 6px;
    width: 196px;
    outline: 0px none;
    border: 2px solid #CCC;
    border-radius: 4px;
    background: linear-gradient(to bottom, #FFF 0%, #E5E5E5 100%) repeat scroll 0% 0% transparent;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.dmmmore:hover {
    font-size:16px;
    width: 196px;
    border:2px solid #c00;
    color: #fff;
    background: #cf0404;
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
}

.dmmmore_sp, .dmmmore_sp:focus {
    font-size:16px;
    display: block;
    margin: 0px auto;
    padding: 5px 6px;
    width: 196px;
    outline: 0px none;
    border: 2px solid #CCC;
    border-radius: 4px;
    background: linear-gradient(to bottom, #FFF 0%, #E5E5E5 100%) repeat scroll 0% 0% transparent;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.dmmmore_sp:hover {
    font-size:16px;
    width: 196px;
    border:2px solid #c00;
    color: #fff;
    background: #cf0404;
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
}


.dmmparts_posts__h3{
    margin-top:10px;
    margin-bottom:0px;
}
