/*
Theme Name: freeinamillion
Theme URI: http://www.wpthemejp.com/
Description: <a href="http://www.tdhedengren.com">Thord Daniel Hedengren</a>がデザインした3カラムテーマです。
Version: 1.0-custom
Author: Thord Daniel Hedengren
Author URI: http://www.tdhedengren.com/
*/

/* ############################################################
   Element
   ############################################################ */

body
{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font: 10px/1.5 "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;

}
blockquote{
    font-size: 16px;
}
h1
{

}

h2
{
    margin: 15px 0 10px 0;
    padding: 0 0 3px 0;
    /* border-bottom: 1px solid #888; */
    color: #0db2ef;
    letter-spacing: -1px;
    font-size: 19px;
}

h3
{
    margin: 15px 0 10px 0;
    padding: 0 0 5px 0;
    color: #666;
    letter-spacing: -1px;
    font-size: 15px;
}

h2 a,
h3 a
{
    text-decoration: none;
}

p
{
    color: #222;
    font-size: 14px;
    line-height: 150%;
    margin: 5px 0px 0px 0px;
}

dl,
dt,
dd
{
    font-size: 12px;
}

form
{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='submit'],
textarea
{
    padding: 3px;
    border: 1px solid #ccc;
    background: #f8f3ea;
    color: #444;
    font-size: 14px;
    font-family: Georgia, Times, Times New Roman, Garamond, serif;
}

input[type='image'],
input[type='submit']
{
    margin: 5px 0;
}

input[type='image']:hover,
input[type='submit']:hover
{
    cursor: pointer;
}

input[type='image']
{
    border: 0;
}

input[type='submit']
{
    padding: 4px 8px;
}

iframe
{
    border: 0;
}

a
{
    color: #420;
}

a:focus,
a:hover,
a:active
{
    color: #f00;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: block;
    padding: 0;
    margin: 0;
}

img
{
    border: 0;
    vertical-align: bottom;
}

img.right
{
    float: right;
    margin: 0 0 10px 10px;
}

img.left
{
    float: left;
    margin: 0 10px 10px;
}

img.frame
{
    padding: 3px;
    border: 1px solid #aaa;
}

/* ############################################################
   Common Class
   ############################################################ */

.sampleList
{
    overflow: hidden;
    zoom: 1;
}

.sampleList li
{
    font-size: 12px;
    padding: 3px;
    border-bottom: 1px dashed #006599;
}

.sampleList li a
{
    text-decoration: none;
}

/* **************************************************
   Warning
   ************************************************** */

.warning
{
    text-align: left;
    padding: 0px 0px 0px 20px;
}

.warning *
{
    margin: 0;
    padding: 0;
    color: #eb0000;
    font-size: 12px;
}

/* **************************************************
   Heading
   ************************************************** */

.simple
{
    margin: 15px 0 10px 0;
    padding: 0 0 5px 0;
    color: #666;
    letter-spacing: -1px;
    font-size: 15px;
}

/* ############################################################
   Font Size
   ############################################################ */

.small
{
    font-size: 13px;
    letter-spacing: -0.1px;
}

/* ############################################################
   Layout
   ############################################################ */

#page
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#page-content
{
    position: relative;
    margin: 0 auto;
    width: 1040px;
}

#page-header
{
    clear: both;
    margin: 20px 0 0 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

#page-body
{
    position: relative;
    padding: 20px 0px 47px;
    border: 2px solid #c0b4a4;
    background: #fff url(img/box-bg.gif);
    text-align: left;
}

#content
{
    float: left;
    width: 550px;
    font-size:14px;
}

.menu_and_content
{
    width: 910px;
    margin: 0px auto;
}

#sidebar
{
    float: left;
    /*margin: 0 10px 0 5px;*/
    width: 210px;
    margin: 0px 17.5px;
}

#secondary-sidebar
{
    float: right;
    margin:0 15px 0 0 ;
    width: 250px;
}


/* ############################################################
   Header
   ############################################################ */

.site-title
{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 38px;
}

.site-title:before,
.site-title:after
{
    position: absolute;
    top: 0;
    display: block;
    width: 38px;
    height: 38px;
    content: ' ';
}

.site-title:before
{
    left: -4px;
    background: url(http://img.pps.pink/field/img/title-left.gif) no-repeat 0 50%;
    background-size: 100%;
}

.site-title:after
{
    right: -4px;
    background: url(http://img.pps.pink/field/img/title-right.gif) no-repeat 0 50%;
    background-size: 100%;
}

.site-name
{
    text-decoration: none;
}

.site-name
{
    margin: 0;
    padding: 0;
    color: #5d2e00;
    text-align: center;
    letter-spacing: -4px;
    font-weight: normal;
    font-size: 40px;
    font-family: Georgia, Times New Roman, Times, Geneva, serif;
    line-height: 100%;
}

/* ############################################################
   カウンター
   ############################################################ */

.ninja-counter
{
    position: absolute;
    right: 20px;
    bottom: 20px;
    float: right;
}

.counter-list
{
    margin: 4px 0 0;
    padding: 0;
    list-style: none;
}

.counter-list:before,
.counter-list:after
{
    display: table;
    content: ' ';
}

.counter-list:after
{
    clear: both;
}

.counter-list--item
{
    float: left;
    margin: 0 0 0 4px;
    padding: 0;
    list-style: none;
}

.counter-list--item:first-child
{
    margin-left: 0;
}

/* ############################################################
   Footer
   ############################################################ */

.colophon
{
    margin: 0;
    padding: 0;
    color: #420;
    letter-spacing: -1px;
    font-style: normal;
    font-size: 18px;
    font-family: Arial, Helvetica, Geneva, sans-serif;
}

.colophon:before,
.colophon:after
{
    display: table;
    content: ' ';
}

.colophon:after
{
    clear: both;
}

.colophon a,
.colophon a:visited
{
    text-decoration: underline;
    font-weight: bold;
}

.colophon a:focus,
.colophon a:hover,
.colophon a:active
{
    color: #f00;
    text-decoration: none;
}

.copyright
{
    font-size: 100%;
}

.copyright:before,
.copyright:after
{
    display: table;
    content: ' ';
}

.copyright:after
{
    clear: both;
}

.copyright--declaration,
.copyright--author
{
    padding: 10px 0;
}

.copyright--declaration
{
    float: left;
}

.copyright--author
{
    float: right;
}

/*--------------------------------------------
   フッターバー用
--------------------------------------------*/

#footbar_zone {
    width: 100%;
    }

#footbar_zone .rss .inner {
    margin:10px auto;
    }

#footbar_zone .rss .inner img{
    display:block;

    margin:auto;
    }

#footbar_zone h5{
    font-size:15px;
    font-weight: normal;

    margin:0;
    padding: 3px 0;

    text-align: center;

    color: rgb(255, 255, 255);
    background-color: rgb(175, 216, 110);
    }

.footbar_box {
    width: 220px;
    margin: 0 5px;
    padding:10px;

    background-color:#fff;
    }

li.footbar_box ul.archive_list li {
    font-size: 15px;
}

.footbar_top{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    padding: 0;

    list-style: outside none none;

    justify-content: space-between;
    }

.footbar_box .inner{
    padding:0;
    }


/* ############################################################
   Sidebar
   ############################################################ */

.sidebar
{
    font-size: 14px;
}

.sidebar > *
{
    margin-top: 20px;
}

.sidebar h2
{
    margin-bottom: 5px;
    color: #aaa;
    font-size: 18px;
}

.sidebar h3
{
    margin: 0 0 5px 0;
    padding: 0;
    border: 0;
    color: #aaa;
    font-size: 14px;
}

.sidebar p
{
    margin: 0 0 8px 0;
    padding: 0;
    color: #222;
    font-size: 12px;
    line-height: 130%;
}

.right_sidebar_whitebox
{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 0px;
    text-align: center;
    margin-top: -10px;
}
/*上記 margin-top: 10px; 一時停止 ttt*/

.sidebar ul
{
    margin: 5px 0px 0px 5px;
    padding: 0;
}

.sidebar ul ul
{
    margin: 5px 0 0 15px;
}

.sidebar ul li
{
    margin: 0;
    padding: 0 0 5px;
    list-style: none;
}

.sidebar .ctc-tag-cloud li,
.sidebar .list li
{
    list-style: none;
}

.sidebar .whitebox
{
    padding: 10px;
    background: #fff;
}

.sidebar .calendar
{
    padding: 5px;
    border: 1px solid #eee;
    background: #fff;
    font-size: 10px;
}

/* **************************************************
   Widget
   ************************************************** */

.sidebar .widget--title
{
    margin: 0 0 10px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #888;
    color: #aaa;
    letter-spacing: -1px;
    font-size: 18px;
}

/* ========================================
   検索フォーム
   ======================================== */

#sidebar .search-form:before,
#sidebar .search-form:after
{
    display: table;
    content: ' ';
}

#sidebar .search-form:after
{
    clear: both;
}

#sidebar .search-form--keyword
{
    float: left;
    box-sizing: border-box;
    width: 122px;
    line-height: 20px;
}

#sidebar .search-form--submit
{
    float: left;
    margin: 0 0 0 4px;
}

/* ========================================
   カテゴリ共通
   ======================================== */

.white_box{
	background-color:#ffffff;
	border-radius: 8px;
	margin:10px 0 0 0;
	padding: 5px 0px 10px 0;
	}

/* ========================================
   AV女優（年齢順）
   ======================================== */

.sidebar .actress-widget--body
{
    max-height: 700px;
}

#age{height:130px;margin: 0 auto;margin-bottom:10px;}
.age_up	{margin:0 0 10px 0px;}
/*#age_all {margin:0 0 0 35px;}*/
#age ul  {width:200px; margin:5px 0 10px 12px;}
#age ul li {
	width:90px;
	list-style: none;
	white-space:nowrap;
	line-height:150%;
	float:left;
	margin: 0px 5px 0px 0px;
}

/* ========================================
   話題のAV女優
   ======================================== */

#wadai{margin: 0 auto;}
#wadai ul  {width:200px; margin:0 0 10px 20px;}
#wadai ul li {
	width:90px;
	list-style: none;
	white-space:nowrap;
	line-height:150%;
	float:left;
	margin: 0px 5px 0px 0px;
}

/* ========================================
   ジャンルで探す
   ======================================== */

.sidebar .genre-widget--body
{
    max-height: 400px;
}

#genre{margin-bottom:10px;}
#genre_all {margin:0 0 0 35px;line-height:120%;}
#genre ul  {width:120px; margin:0 0 10px 10px;height:160px;}
#genre ul li {
	width:50px;
	list-style: none;
	white-space:nowrap;
	font-size:13px;
	line-height:120%;
	float:left;
	margin: 5px 10px 0px 0px;
	padding: 0;
}
/* ========================================
   author
   ======================================== */
   .author {
    display: none;
   }
/* ========================================
   フィード
   ======================================== */

.sidebar .feed-widget--body
{
    text-align: center;
}

/* ========================================
   広告
   ======================================== */

/*
.sidebar .ad-widget--body
{
    text-align: center;
}
*/

.sidebar .ad-widget--body iframe
{
    margin: auto;
}

.sidebar .ad-widget--body p
{
    text-align: left;
    font-size: 14px;
}

.sidebar .ad-widget--body .center
{
    text-align: center;
}

/* ############################################################
   コンテンツ
   ############################################################ */

.post,
#respond
{
    overflow: auto;
    margin: 0 0 10px 0;
    padding: 0px 20px 3px;
    height: 100%;
    background: #fff;
}

.more
{
    font-size: 15px;
}

.br1
{
    margin-bottom: 10px;
    font-size: 15px;
}

#alignleft
{
    float: left;
}

#alignright
{
    float: right;
}

/* **************************************************
   画像
   ************************************************** */

#content .post div.wp-caption
{
    overflow: hidden;
    margin: 10px;
    border: 1px solid #ccc;
    background: #ddd;
}

#content .post .wp-caption img
{
    display: block;
    margin: 5px auto;
    padding: 0;
    border: none;
}

#content .post .wp-caption-text
{
    margin: 5px;
    padding: 0;
    font-size: 11px;
    line-height: 1.3em;
}

#content .post div.alignnone
{
    display: block;
    margin: 10px 10px 10px 0;
}

#content .post img
{
    padding: 5px;
    border: 1px solid #ccc;
    background: #ddd;
}

#content .post a img:hover
{
    background: #fff;
}

#content .post img.alignleft
{
    float: left;
    clear: left;
    margin: 10px 10px 10px 0;
}

#content .post img.alignright
{
    float: right;
    clear: right;
    margin: 10px 0 10px 10px;
}

#content .post img.aligncenter
{
    display: block;
    float: none;
    clear: both;
    margin: 0 auto 10px auto;
}

#content .post div.alignleft
{
    float: left;
    margin-left: 0;
    text-align: left;
}

#content .post div.alignright
{
    float: right;
    margin-right: 0;
    text-align: right;
}

#content .post div.aligncenter
{
    margin: 0 auto 10px;
    text-align: center;
}

#content .post .gallery
{
    margin: auto auto 0;
}

#content .post .gallery img
{
    margin-bottom: 5px;
}

#content .post .gallery .gallery-item,
#content .post .gallery .gallery-icon
{
    clear: none;
    margin: 0;
}

#content .post .gallery .gallery-caption
{
    margin: 0 0 10px;
    text-align: left;
    font-size: 11px;
    line-height: 1.3em;
}

/* **************************************************
   メタ
   ************************************************** */

.meta-list
{
    margin: 8px 0 0;
    padding: 0;
    color: #666;
    list-style: none;
    font-size: 12px;
    line-height: 1.2;
}

.meta-list--item
{
    display: inline;
    margin: 0;
    padding: 0;
}

.meta-list--item:before
{
    display: inline;
    margin: 0 4px;
    color: #666;
    content: '|';
}

.meta-list--item:first-child:before
{
    content: normal;
}

.entry--header .meta-list
{
    margin: 5px 0px;
    color: #420;
    font-size: 12px;
}

/* ############################################################
   ページナビゲーション
   ############################################################ */

.pagigation
{
    margin: 15px 0;
    padding: 0;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
}

.wp-pagenavi span,
.wp-pagenavi a
{
    padding: 5px;
    background: #fff;
}

/* ############################################################
   コメント
   ############################################################ */

#feedback
{
    font-size: 12px;
}

#feedback a,
#feedback a:visited
{
    padding: 2px;
    background-color: #fff;
    color: #000;
    text-decoration: underline;
}

#feedback a:focus,
#feedback a:hover,
#feedback a:active
{
    padding: 2px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

#feedback ol
{
    margin: 0 6px 0 0;
    padding: 0;
}

.no-comments
{
    margin: 0;
    padding: 0;
    text-align: center;
}


/* ############################################################
   FC2 拍手
   ############################################################ */

/*
.fc2-clap
{
    float: left;
}
*/

.fc2-clap img {
    padding: 0px!important;
    position: relative;
    bottom: 6px;
}


#fc2clap_rank_table
{
    margin: 0 1px;
    width: 220px;
    border: 1px solid #000;
    /* 外枠 */
    border-collapse: collapse;
    color: #8e8e8e;
    table-layout: auto;
    vertical-align: baseline;
    font-size: small;
    font-family: 'Verdana', 'Impact', 'ＭＳ Ｐゴシック', 'Hiragino Kaku Gothic Pro', 'ヒラギノ Pro W3', 'Osaka', sans-serif;
}

#fc2clap_rank_table tr.fc2clap_rank
{
    padding: 3px 0;
    border: 1px solid #000;
    /* 上部拍手ランキングタイトル */
    background-color: #c9bbac;
    text-align: center;
}

#fc2clap_rank_table span.fc2clap_rank_main
{
    padding: 3px 0;
    /* 下部拍手ランキングタイトル */
    color: #fff;
    font-weight: bold;
    font-size: 11px;
}

#fc2clap_rank_table tr.fc2clap_rank_item
{
    padding: 3px 0;
    border: 1px solid #000;
    /* 見出し内 */
    background-color: #f1f1ef;
    color: #4d4d4d;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}

#fc2clap_rank_table td.fc2clap_rank_items_rank
{
    width: 16%;
    /* 見出し（順位） */
    border: 1px solid #000;
    font-size: 11px;
}

#fc2clap_rank_table td.fc2clap_rank_items_title
{
    width: 58%;
    /* 見出し（タイトル） */
    border: 1px solid #000;
    font-size: 11px;
}

#fc2clap_rank_table td.fc2clap_rank_items_clap
{
    width: 26%;
    /* 見出し（拍手数） */
    border: 1px solid #000;
    font-size: 11px;
}

#fc2clap_rank_table td.fc2clap_rank_items1
{
    /* 順位 */
    border: 1px solid #000;
    text-align: center;
    font-size: 11px;
}

#fc2clap_rank_table span.fc2clap_rank_namber
{
    /* 順位数文字色 */
    color: #000;
    font-weight: bold;
}

#fc2clap_rank_table tr.fc2clap_rank_form
{
    padding: 3px 0;
    border: 1px solid #000;
    /* 各順位横１行 */
    background-color: #fff;
}

#fc2clap_rank_table td.fc2clap_rank_clap
{
    width: 26%;
    border: 1px solid #000;
    /* 拍手数 */
    text-align: right;
    font-size: 11px;
}

#fc2clap_rank_table span.fc2clap_name
{
    /* 拍手数配色 */
    color: #f00;
    font-weight: bold;
}

#fc2clap_rank_table td.fc2clap_rank_items
{
    /* タイトル */
    border: 1px solid #000;
    font-size: 12px;
}

#fc2clap_rank_table span.fc2clap_rank_title a
{
    /* タイトル文字色 */
    color: #000;
}

/***************************************
	記事デザイン
****************************************/

.entry-title {
    border-bottom: 1px solid #888;
    font-size: 15px;
}
.entry-title a {
    text-decoration: none;
}

.entry--title {
    border-bottom: 1px solid #888;
    font-size: 15px;
}

/* ############################################################
   ランキング
   ############################################################ */

.ranking_top
{
    padding: 0px 20px;
    margin-bottom: 10px;
}

.ranking_lowest
{
    padding: 0px 20px;
}

.rankingtable
{
    width: 450px;
    border-collapse: collapse;
}

.rankingtable td
{
    padding: 6px;
    border: 1px solid #d9d9d9;
    font-size: 13px;
}

.rankingtable td:nth-child(2n+1)
{
    text-align: center;
}

div#acrr9_freeavdougasp table
{
    width: 100%;
    border-collapse: collapse;
}

div#acrr9_freeavdougasp td
{
    border: 1px solid #d9d9d9;
    font-size: 13px !important;
}

div#acrr9_freeavdougasp a
{
    color: #420 !important;
}

/* ############################################################
   その他
   ############################################################ */

.clear
{
    clear: both;
}

.clearfix:after
{
    content: "";
    clear: both;
    display: block;
}

.newkiji
{
    float: left;
    margin: 5px 50px 10px 5px;
    width: 200px;
    height: auto;
}

#npcatch .title
{
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px 5px;
    width: 235px;
    height: 33px;
    font-size: 14px;
}

#npcatch img
{
    margin: 0;
    padding: 0;
    height: 150px;
    width:225px;
}

#npcatch .date
{
    font-size: 20px;
}

#notofound
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.1;
}

.td_bgc
{
    background-color: #f3f3f3;
}

/* ############################################################
   Contact Form 7
   ############################################################ */

div.wpcf7-response-output
{
    margin: 1em 0;
    font-size: 14px;
}

.ajax-loader
{
    border: 0 !important;
    background: transparent !important;
}

/* ############################################################
   関連記事
   ############################################################ */

.related-posts-section
{
    margin-top: 40px;
}

.related_posts__h3
{
    margin: 10px 0 10px 0;
    padding: 10px;
    border-bottom: 1px solid #888;
    color: #0db2ef;
    letter-spacing: -1px;
    font-size: 14px;
}

.related-posts-section--title
{
    margin: 15px 0 10px 0;
    padding: 0 0 3px 0;
    border-bottom: 1px solid #888;
    color: #0db2ef;
    letter-spacing: -1px;
    font-size: 14px;
}

.related-posts-section--body
{
    margin-top: 20px;
}

/* **************************************************
   YARPP
   ************************************************** */

.related-posts--body
{
    position: relative;
    top: 0;
    overflow: hidden;
    height: 470px;
}

.related-posts--body .yarpp-related
{
    position: relative;
    top: 0;
}

.related-posts--row
{
    overflow: hidden;
}

.related-posts--row:before,
.related-posts--row:after
{
    display: table;
    content: ' ';
}

.related-posts--row:after
{
    clear: both;
}

.related-posts .related-post
{
    float: left;
    margin: 5px 0 10px 43px;
    width: 229px;
    height: auto;
}

.related-posts .related-post--thumbnail
{
    width: 237px;
    height: 162px;
}

.related-posts .related-post--thumbnail--none
{
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
}

.related-posts .related-post--thumbnail a
{
    display: block;
}

.related-posts .related-post--thumbnail--none a
{
    height: 150px;
    width: 225px;
f
    border: 5px solid #ddd;
}

.related-posts .related-post--thumbnail--none a:focus,
.related-posts .related-post--thumbnail--none a:hover,
.related-posts .related-post--thumbnail--none a:active
{
    border: 5px solid #fff;
}

.related-posts .related-post--thumbnail img
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 162px;
}

.related-posts .related-post--h1
{
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px 5px;
    width: 229px;
    height: 34px;
    font-size: 14px;
}

.related-posts--more,
.related-posts--more:focus
{
    display: block;
    margin: 10px auto;
    padding: 8px 6px;
    width: 196px;
    outline: 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: #f0f0f0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
    background:         linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
    color: #333;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.related-posts--more:hover
{
    border: 2px solid #c00;
    background: #cf0404;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
    background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background:         linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
    color: #fff;
}

.related-posts--loading .related-posts--body
{
    height: 470px;
}

.related-posts--no-more .related-posts--body
{
    height: auto;
}

.related-posts--loading .related-posts--more,
.related-posts--no-more .related-posts--more
{
    display: none;
}

iframe.twitter-share-button {
	width: 95px!important;
}


a.more-link{
    display:inline-block;
    padding:2px 15px 2px 15px;
    margin:0px 0px 0px0 px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    color:#fff !important;
    text-decoration:none;
    background:#9bcc12
}
a.more-link:hover
{color: #A37200;}

a.more-link:after
{font-family:FontAwesome}

a.more-link
{font-size:100%}

.avtag
{display:inline-block;padding:1px 13px 1px 13px;-webkit-border-radius:1px;-moz-border-radius:1px;-ms-border-radius:1px;-o-border-radius:1px;border-radius:1px;color:#fff !important;text-decoration:none;background:#ec7fb3;}

.avtag:after
{font-family:FontAwesome}

.avtag
{font-size:100%;}

h2.avtagside {
    text-decoration: none;
    color: #FFF !important;
    background:#f4515a;
    margin-bottom: 15px;
    display: inline;
    padding: 2px 15px;
    border-radius: 1px;
}

h2.avtagside:after
{font-family:FontAwesome}

h2.avtagside
{font-size:100%;}

.avcategory
{display:inline-block;padding:1px 15px 1px 15px;-webkit-border-radius:1px;-moz-border-radius:1px;-ms-border-radius:1px;-o-border-radius:1px;border-radius:1px;color:#fff !important;text-decoration:none;background:#f4515a;}

.avcategory:after
{font-family:FontAwesome}

.avcategory
{font-size:100%;}

h2.avcategoryside
{
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #EC7FB3;
    margin-bottom: 15px;
    display: inline;
    padding: 2px 15px;
    border-radius: 1px;
}

h2.avcategoryside:after
{font-family:FontAwesome}

h2.avcategoryside
{font-size:100%;}

h2.word_search
{
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #b9197f;
    margin-bottom: 15px;
    display: inline;
    padding: 2px 15px;
    border-radius: 1px;
    font-size:100%;
}

.search-widget--body
{
    margin-top: 10px;
}

h2.month_search
{
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #b9197f;
    margin-bottom: 15px;
    display: inline;
    padding: 2px 15px;
    border-radius: 1px;
    font-size:100%;
}

h2.another_menu
{
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #b9197f;
    margin-bottom: 15px;
    display: inline;
    padding: 2px 15px;
    border-radius: 1px;
    font-size:100%;
}

h2.sidebar_rss
{
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #e31168;
    margin-bottom: 15px;
    display: inline;
    padding: 2px 15px;
    border-radius: 1px;
    font-size:100%;
}

h2.sidebar_jobguide
{
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #e31168;
    margin-bottom: 15px;
    /*display: inline;*/
    padding: 2px 15px;
    border-radius: 1px;
    font-size:100%;
    text-align: center;
}

h2.sidebar_douga
{
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #e31168;
    margin-bottom: 15px;
    /*display: inline;*/
    padding: 2px 13px;
    border-radius: 1px;
    font-size:100%;
}

h2.sidebar_uso
{
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #e31168;
    margin-bottom: 15px;
    /*display: inline;*/
    padding: 2px 15px;
    border-radius: 1px;
    font-size:100%;
}

h2.sidebar_pr
{
    text-decoration: none;
    color: #FFF !important;
    background: none repeat scroll 0% 0% #e31168;
    margin-bottom: 15px;
    display: inline;
    padding: 2px 15px;
    border-radius: 1px;
    font-size:100%;
}

dt {
  float:left;
}
dd {
  margin-left:100px;
  line-height:200%
}

.ecom_top,.ecom
{
padding:14px;
line-height:1.8;
font-size:93%;
background:#F9F9F9;
position:relative
}.

ecom
{
margin:20px 0;
padding:20px 34px 24px 24px
}

.ecom:before{content:"\201D";
font-family:Georgia, serif;font-size:55px;
font-weight:bold;color:#959595;
position:absolute;
right:10px;
top:auto;
bottom:-38px
}


.blockquote    {   background: #C0C0C0 url(image/blockquote4-t.gif) no-repeat; }
.blockquote blockquote {
    background: url(image/blockquote4-c.gif) no-repeat bottom;
    padding: 10px 30px 5px 30px;
    color: #212121;
}
.blockquote p  {
    margin-bottom: 12px;
}
.blockquote p.origin   {
    background: url(image/blockquote4-b.gif) no-repeat left bottom;
    text-align: right;
    padding: 5px 20px;
    margin-bottom: 0px;
}
.blockquote p.origin a {
    background: url(image/origin1.gif) no-repeat 0 7px;
    padding-left: 15px;
    color: #999;
}


.movie_box_d {
	border: 1px solid #d5d5d5;
	width: 510px;
	background: #f5f5f5;
	font-size: 14px;
}

.movie_title_d {
	padding: 10px 10px 10px 60px;
	background: #f5f5f5 url("http://muryouav.avximg.com/img-free/dmm_bar_title.gif") no-repeat left center;
	border-bottom: 1px solid #d5d5d5;
}

.movie_cap_d {
	padding: 20px 0px;
	clear: both;
	border-bottom: 1px solid #D5D5D5;
	text-align: center;
	background: #FFF none repeat scroll 0% 0%;
}

.movie_comment_d {
	padding: 0 10px;
}

.abod{
	margin:10px 20px 10px 20px;
	}


/* ############################################################
   Comment
   ############################################################ */
#comments,
#respond
{
	margin: 0 0 20px;
	padding: 0 0 0 40px;
	height: 32px;
	background: url(http://img.pps.pink/field/img/respond_bg.jpg) no-repeat 0 50%;
	font-size: 16px;
	line-height: 32px;
}
.comments
{
	margin-top: 10px;
}
#respond
{
	margin-top: 10px;
}
.comment
{
	margin: 0 0 0 0px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	//background: none repeat scroll 0 0 #FF0000;
}

.commentwaku{
	margin: 0px 0px 20px 0px;
	padding: 5px 10px 10px 10px;
	border: 1px solid #ccc;
	background: none repeat scroll 0 0 #f7f7f7;
}
.avatar
{
	float: left;
	margin: 0 10px 0 0;
}
.comment__details
{
	margin: 0 0 10px;
}
.comment__text p
{
	margin: 0;
	padding: 0;
}
.comment_form label
{
	display: block;
	margin: 0 0 5px;
}

.pocket-btn {
width: 97px;
float: left;
display: inline;
}

.social a
{
	font-size:13px;
	text-decoration:none!important;
	position: relative;
	bottom: 5px;
}

.zenbun{
    text-align: right;
    font-size:13px;
    margin:20px 0px 0px 0px;
}

.fc2_clap_img {
	margin: 6px 8px 0 0;
	display: block;
	float: left;
}

#comment_s_title {
	margin: 0 5px 0 0;
	padding: 1px 5px 0px 5px;
	float: left;
	display: block;
	width: 70px;
	color: #444444;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #b9b9b9;
	background: #e4e4e4;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

#comment_s_count {
	margin: 0 0 0 2px;
	padding: 1px 4px 0px 4px;
	float: left;
	position: relative;
	display: block;
	color: #777777;
	background: #ffffff;
	border: 1px solid #b9b9b9;
	border-radius: 3px;
	font-size: 11px;
	text-align: center;
}

#comment_s_count:after,
#comment_s_count:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	right: 100%;
	position: absolute;
	width: 0;
}

#comment_s_count:after {
	border-width: 3px;
	border-right-color: #FFF;
	top: 6px;
}

#comment_s_count:before {
	border-width: 5px;
	border-right-color: #B0C1D8;
	top: 4px;
}

#comment_s_space {
	float: left;
	margin-right:8px
}

#comment_s_space a {
	text-decoration: none;
}


#content .post .fc2-clap img#comment_img {
	padding: 0;
	width: 18px;
	border: none;
	background: none;
	vertical-align: middle;
	top: 0;
}

#content .post .fc2-clap img#comment_img a img:hover {
	background: none;
}

.entry--date {
	padding: 3px 6px 0 0;
}

.pankuzu{
margin-bottom:15px;
margin-top:0px;
line-height:1.75;
background-color:#ffffff;
padding:10px
}

.pankuzu_archive{
margin-bottom:10px;
margin-top:10px;
line-height:1.75;
background-color:#ffffff;
padding:10px
}


ul.children{
    position: relative;
    right: 3px;
    font-size:14px;
    color:#555
}

ul.children a{
    position: relative;
    left: 1px;
    font-size:14px;
    color:#555
}

/* page.php */

#content_page_one {
	margin: 10px auto 0 auto;
	width: 98%;
	clear: both;
	text-align: left;
}

#content_page_one ul,
#content_page_one li {
	list-style: none;
	font-size: 15px;
}

#content_page_one li {
	padding: 20px 0 0 0;
	clear: both;
}

#content_page_one ul.children {
	margin: 0 0 20px 0;
	padding: 0;
	clear: both;
}

#content_page_one ul.children li {
	padding: 0;
	margin: 0 0 5px 0;
	float: left;
	clear: none;
	width:25%;
}

#content_page_one ul.ctc-tag-cloud,
#content_page_one li.ctc-tag-li {
	float: left;
	list-style: none;
	font-size: 15px;
}

#content_page_one li.ctc-tag-li {
	clear: none;
	width:25%;
}
.youyaku_area{
	border: 1px solid #D5D5D5;
	background-color: #F9F9F9;
	border-radius: 3px;
	padding: 8px;
        margin:10px 0px;
}

/***************************************
	管理人レビューのためのCSS
****************************************/

.review_zone{
  background-color: #F9F9F9;
  border-radius: 3px;
  border: 1px solid #D5D5D5;
  margin-top: 20px;
}

.review_zone .inner {
  width:100%;
}


.review_title{
	width:100%;
	height:40px;
	margin:5px 0px 10px 8px;
	position: relative;
}

.kodomo img {
	padding: 0px!important;
	border-style:none!important;
	float:left;
}

.review_title h2{
	position: absolute;
	left:45px;
}

.review_content{
	line-height:140% !important;
	border-top: 1px solid #D5D5D5;
}

.review_content p {
    padding: 0px 8px;
}

.review_zone .inner .review_content p {
	line-height: 140%;
	font-size: 14px;
	margin: 15px 0px 11px !important;;
	color: #222;
}
/***************************************
	動画詳細のためのCSS
****************************************/
.dmm-gazo2 {
    font-size: 13px;
    margin-left: -1px;
    position: relative;
    border-top: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    display: inline-block;
    padding: 1px 21px 1px 22px;
    border-radius: 1px;
    color: #000 !important;
    text-decoration: none;
    background: none repeat scroll 0% 0% #F5F5F5;
    top: 16px;
}

#movie_title_d {
    padding: 10px 10px 10px 60px;
    clear: both;
    background: url("http://muryouav.avximg.com/img-free/dmm_bar_title.gif") no-repeat scroll left center transparent;
    border-bottom: 1px solid #D5D5D5;
}

#movie_cap_d {
    padding: 20px 0px;
    clear: both;
    border-bottom: 1px solid #D5D5D5;
    text-align: center;
    background: none repeat scroll 0% 0% #FFF;
}

#movie_comment_d {
    margin: 0px;
    padding: 10px;
    clear: both;
}


.bold{font-weight: bold;
font-size:14px;}


/***************************************
	SNS用　アイコンフォント
****************************************/

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?41413843');
  src: url('font/fontello.eot?41413843#iefix') format('embedded-opentype'),
       url('font/fontello.woff?41413843') format('woff'),
       url('font/fontello.ttf?41413843') format('truetype'),
       url('font/fontello.svg?41413843#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sns_icon {font-family: "fontello";}

/* SNSボタン */

.sns_zone{margin-top:10px;margin-bottom:5px;}
.sns_clap {
    float: left;
    margin-right:7px;
}

.sns_clap img {
    padding: 0px !important;
    margin: 0px !important;
}

.sns_buttons {width:100%;}
.sns_buttons ul {
    margin : 0px auto;
    width: 345px;
    padding : 0px !important;
    list-style : none!important;
}

.sns_buttons li {
    float : left!important;
    margin : 0px!important;
    list-style-type:none!important;
}

.sns_buttons ul:after {content : "";
    display : block!important;
    clear : both!important;
}

/***************************************
関連動画&DMMカルーセル
****************************************/
.related-posts .related-post {
float: left;
width: 229px;
height: auto;
margin: 5px 10px 10px 11px;
}

.related-posts--row{
margin消す
}

.related-posts-section--title{
margin: 10px 0px 15px !important;
}

.related-posts-section {
margin-top: 40px;
width: 510px;
border: 1px solid #D5D5D5;
background-color: #F5F5F5;
}


.related-posts-section--title {
color: #0DB2EF;
font-size: 15px;
margin-top: 0px;
background: none repeat scroll 0% 0% #F5F5F5;
border-bottom: 1px solid #D5D5D5;
padding: 10px;
}

.related_posts__h3 {
margin: 15px 0px 10px;
padding: 0px 0px 3px;
border-bottom: 1px solid #D5D5D5;
color: #0DB2EF;
letter-spacing: -1px;
font-size: 14px;
}

.dmm_carousel{
border: 1px solid #D5D5D5;
background-color: #F5F5F5;
margin:20px 0px;
padding: 0px 0px 10px;
}
.related-posts--more, .related-posts--more:focus{
margin: 10px auto!inportant;
}
/*--------------------------------------------
   ranking_i_s
--------------------------------------------*/

i{
  color: red!important;
  font-weight: bold!important;
}
/*--------------------------------------------
   プレイヤーナンバー
--------------------------------------------*/
.pu {display:none;}


.dmm_event.banner {
  box-sizing:content-box;
  margin:10px 0px;
}
.dmm_event.banner.Avstar{
margin:10px 0px;
}
.dmm_event.banner.Avstar img {
  width:510px!important;

}
.dmm_event.banner img{
  width:100%;
  padding: 0px!important;
}
.dmm_event.banner img:hover{
  opacity: 0.8;
}
.ranking_ron .red{
  color: #F00;
}

/*------------------------------------------------
    タグクラウド
--------------------------------------------------*/

.tag_cloud_zone{
    padding: 0 20px;
    margin:10px 0px 10px;
}
.tag_cloud_zone ul{
    padding: 0 0 0 0px;
}
.tag_cloud{
    height: 40px;
}

.tag_cloud h2{
all: initial;
margin: 0px;
font-weight: normal;
}

.cloud_left{
    width: 850px;
    float: left;
}

.tab {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

.tab li {
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    list-style: outside none none;
    text-align: center;
    line-height: 38px;
}

.tab li a{
    font-size:13px;
    padding: 6px 8px 8px 8px;
    color:#420;
    text-decoration: none;
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 5px;
    transition:0.5s;
}

.tab li a:hover{
    background-color: #AFD86E;
    border:1px solid #AFD86E;
    border-radius: 5px;
}

.cloud_right {
    float: right;
    height:40px;
}

.cloud_right a {
    font-size: 13px;
    color: #FFF;
    text-decoration: none;
    background-color: #EC7676;
    border: 1px solid #EC7676;
    border-radius: 5px;
    padding: 6px 4px 8px;
}

.cloud_right a:hover{
    color: #EC7676;
    background-color: #fff;
    border:1px solid #EC7676;
    transition: 0.5s;
    text-decoration:none;
}

.cloud_right .atd_button a {
    color: #515151;
    font-size: 13px;
    border: 1px solid #D5D5D5;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 5px;
    opacity: 0.8;
    margin: 0px;
    padding: 6px 6px 8px 6px;
}

.cloud_right .atd_button i {
color: #FFCF46 !important;
margin-right:2px;
}
.cloud_right .atd_button a:hover {
opacity: 1;
background: #F2F2F2;
text-decoration: none;
transition: all 0.3s ease 0s;
}



.content_main {
    clear: both;
    overflow: scroll;;
    width: 100%;
    border: 1px solid #D5D5D5;
    background-color:#fff;
    padding: 0px 0px 10px 0px;
}


.tab-container .tab-list .tab {
    list-style: outside none none;
    text-align: center;
    line-height: 32px;
}

.content_main h2{
    font-size:18px;
}
.content_main p{
    font-size: 14px;
}
.content_main a{
    font-size: 14px;
}
.area {
    padding: 0 10px 15px 15px;
}
.area .list, .area .ctc-tag-cloud{
  margin:10px 0px 0px 10px;
}
.area .list li{
    width:150px;
    line-height: 22px;
    margin: 0px 0px 5px 0px;
}

#tab2 .list li {
    margin-right: 80px;
}

.area .ctc-tag-cloud li{
    width:189px;
    line-height: 22px;
    margin: 0px 0px 5px 0px;
}

.area li{
    float: left;
    list-style: none;
}
.active {
    background-color:#AFD86E!important;
}
#tab4 li{
    width:130px!important;
}
#tab4 a {
    display: block;
    width: 150px;
    float: left;
}
#tab5 li{
    width:170px!important;
}

.tag_series {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height:100%;
}.series1 li {
  float: none;
}

.tag_series section {
    margin: 5px 5px 0px 5px;
    border: 1px solid #D5D5D5;
    background-color: #F9F9F9;
    position: relative;
    flex: 1;
    -webkit-flex: 1;
}
.tag_series .series1 li {
  float: none;
}

.tag_series h2{
    font-size:15px;
    margin:0px;
    padding:1px 0px 0px 0px;
    text-align: center;
    background-color: #7DC5E0;
    color: #fff!important;
}

.tag_series ul li {
    padding: 0px 0px 0px 10px;
    line-height: 20px;
}

.un_text{
    bottom: 2px;
    position: absolute;
    padding:0px 0px 0px 10px;
}
.cloud_right li{
    float: left;
    list-style: outside none none;
    line-height: 38px;
}
.cloud_searchform {
    padding: 0px 0px 0px 0px;
    margin: 3px 0px 0px 30px;
}
.cloud_right ul{margin:0px;
}

.cloud_midasi {
    margin: 0px;
}

img.global_navi_panel_line {
    display: block;
    margin-top: 3px;
}

div.par_month_box {
    margin: 10px 0;
}

#submit{
    font-size: 13px;
    padding: 6px 8px 8px;
    color: #420;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 0px 0px 0px 7px;
    border-radius: 5px;
}
#submit:hover {
    color: #7DC5E0;
    background-color: #FFF;
    border: 1px solid #7DC5E0;
    transition: all 0.5s ease 0s;
    text-decoration: underline;
}
#searchform{
height:100%
margin: 3px 0px 0px;
}

.top_pankuzu {
 margin: 10px 0px 0px 20px;
}

.top_pankuzu span {
    background-color: #F5F0CE;
    padding: 6px;
    border-radius: 3px;
    font-size: 13px;
    color: #420;
}

.sub_title{
  margin:0px 0px 5px 0px ;
}

.sub_title2{
color:#eb0000;
font-size:12px;
margin:0px 0px 5px 0px ;
}

/*--------------------------------------------
    検索フォーム
---------------------------------------------*/
.cloud_searchform {
    border-radius: 3px;
    padding: 2px;
    background-color: #FFF;
    float: left;
    margin: 3px 25px 0px 0px;
}

.cloud_searchform input[type="text"] {
    padding: 6px 3px 3px;
    border: none;
    background: transparent;
}

.leftk {
	float: left;
	background-color: #FFF;
}

.h_input {
	all: initial;
	font-size: 14px;
	box-sizing: border-box;
	border: 0px none;
	vertical-align: middle;
	outline: medium none;
	padding: 4px 3px 3px;
}

.rightk {
	float: left;
	background-color: rgb(255, 255, 255);
}

#submit {
	font-size: 14px;
	margin: 0px 0px 0px 7px;
	padding: 3px;
	background-color: rgb(125, 197, 224);
	border: 1px solid rgb(125, 197, 224);
	border-radius: 3px;
	color: rgb(255, 255, 255);
}
/*--------------------------------------------
    ランキング
---------------------------------------------*/
.onmitu_box {
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;

    position: relative;
    }
.onmitu_box .massage_box{
    position: unset!important;

    height: 0!important;
    }
.massage_badge {
    position: absolute;
    top: 3px!important;
    right: 6px!important;

    text-align:right;

    opacity: 0;
    }
.onmitu_box:hover .massage_badge{

    transition: .4s ease 0s;

    opacity: 1;
    }
.onmitu_box:hover .setumei {
    transition: all .5s ease 0s;
    }

.onmitu_box a.small{
    position: absolute;
    top: 145px;

    width: 236px;
    margin: 0;
padding: 0 0 0 2px;
box-sizing: border-box;
overflow:hidden;
    text-decoration: none;

    color: #fff;
    background: rgba(0, 0, 0, .6) none repeat scroll 0 0;
    }
.onmitu_box strong.small{
    text-decoration: none;

    color: #fff;
    }
.onmitu_box .num_order{
    position: absolute;
    top: 4px;

    padding: 0 1px;

    color: #000;
    background: rgba(0, 0, 0, .6) none repeat scroll 0 0;
    }
.ranking_lowest .onmitu_box .num_order,.ranking_lowest .onmitu_box a.small{
  left: 4px;
}
/*デバイス*/
@media only screen and (max-width: 1020px) and (min-width: 768px){
.onmitu_box .massage_badge{
  opacity: 1;
  top:4px!important;
}
.onmitu_box .massage_badge a{
  display: inline-block;
  padding: 5px 8px;
}
}
/*--------------------------------------------
    グローバルメニュー
---------------------------------------------*/
.grobal_navi_zone {}
.menu_and_content {
    width: 960px;
    }
.grobalNavi {
    position: relative;

    float: left;

    width: 90px;
    margin: 0 15px;
    }
.grobalNavi .inner{
    font-size: 13px;

    box-sizing: border-box;
    width: 90px;

    text-align: center;

    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: #fff;
    }

.grobalNavi *{
    box-sizing: border-box;
    }
 .grobalNavi .fav_box{
  border-bottom: 2px solid rgb(243, 243, 243);
    margin: 0px 0px 1px;
}

.grobalNavi ul li:fast-child{
    border-bottom: 1px solid #e0e0e0;
    }
.grobalNavi ul li.button  {
    width: 77px;
    height: 77px;

    border: 1px solid #fff;
      margin: 5px;
    }

.grobalNavi ul li.button a {
    display:block;

    width: 100%;
    height: 100%;
    padding: 10px;

    transition-duration: .3s;
    text-decoration: none;

    border: 1px solid #fff;
    border-radius: 3px;
    color: #515151;
    }

.grobalNavi ul li.button a:hover {
    border: 1px solid #e0e0e0;
    background:#f0f0f0;
    }
.grobalNavi ul li.favorite_list {
    font-size: 12px;

    padding: 0px;

    opacity: .8;
    color: #515151;
    background: #fff none repeat scroll 0 0;
    }

.grobalNavi ul li.favorite_list .atd_emphasis_i {
    position: relative;

    width: 100%;
    height: 35px;
    }
.grobalNavi ul li.favorite_list:hover {
    transition-duration: .3s;

    border: 1px solid #e0e0e0;
    background: #f0f0f0 none repeat scroll 0 0;
    cursor: pointer;
    }
.grobalNavi ul li.favorite_list span.atd_emphasis {
    font-size: 15px;
    font-weight: bold;
    }

.grobalNavi ul li .icon_pack{
    margin: 5px 0 10px 0;
    }
.grobalNavi .sns_icon.atd{
    font-size:30px;

    position: absolute;
    right: 0;
    left: 0;

    margin: 0 auto;

    transition-duration: .3s;

    color:#ffcf46;
    }
.grobalNavi ul li .icon_pack.Gocomment {
    margin:0px;
    padding: 0px;
    boder:0px solid #fff;
}
.grobalNavi ul li .icon_pack .icon_Circle{
    position: relative;

    display: inline-block;

    width: 35px;
    height: 35px;
    padding: 10px;

    transition-duration: .3s;

    color: #36605f;
    border: 3px solid #36605f;
    border-radius: 30px;
    }
.grobalNavi ul li .icon_pack .icon_Circle .sns_icon {
    position: absolute;
    right: 0;
    left: 0;
    top: 5px;

    margin:0 auto;

    transition-duration: .3s;
    }
.grobalNavi ul li a:hover,.grobalNavi ul li a:active{
    color: #515151;
    }
.grobalNavi ul li a:hover .icon_pack.center .icon_Circle{
    width: 43px;
    }
.grobalNavi ul li.favorite_list:hover .sns_icon.atd{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    }
.grobalNavi ul li a:hover .icon_pack.up .icon_Circle .sns_icon{
    -webkit-transform: scale(1.2) translateY(-3px);
            transform: scale(1.2) translateY(-3px);
    }

.grobalNavi ul li a:hover .icon_pack.center .icon_Circle .sns_icon{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    }

.grobalNavi ul li a:hover .icon_pack.down .icon_Circle .sns_icon{
    -webkit-transform: scale(1.2) translateY(2px);
            transform: scale(1.2) translateY(2px);
    }

.grobalNavi ul li a:hover .icon_pack.search .icon_Circle .sns_icon{
    -webkit-transform: rotate(-30deg) scale(1.2);
            transform: rotate(-30deg) scale(1.2);
    }
.grobalNavi ul li a:hover .icon_pack.Gocomment .icon_Circle .sns_icon {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.grobalNavi ul li.button.sns button{
    padding: 0px;
}
.grobalNavi ul li.button.sns button,.grobalNavi ul li.button.sns a {
    display: block;
    width: 100%;
    height: 100%;
    transition-duration: .3s;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #515151;
    background: #fff;
}
.grobalNavi ul li.button.sns a {padding: 10px 10px 5px 10px;}
.grobalNavi ul li.button.sns button:hover,.grobalNavi ul li.button.sns a:hover {
    border: 1px solid #e0e0e0;
    background: #f0f0f0;
}
.grobalNavi ul li.button.sns button .sns_icon{
    font-size: 24px;
}
.grobalNavi ul li.button.sns a .sns_icon {
    font-size:21px;
}
.grobalNavi ul li.button.sns button .sns_icon,.grobalNavi ul li.button.sns a .sns_icon {
    color: #e0e0e0;
}
.grobalNavi ul li.button.sns button:hover .sns_icon {
    color: #ffcf46;
}
.grobalNavi ul li.button.sns a:hover .sns_icon {
    color: #EB2742;
}

/*--------------------------------------------
    後でみる
---------------------------------------------*/
.atd_list {display: none;!important;}
.atd-article {
    position: relative;
    }

.atd-article .atd_b{
    font-size: 14px;

    position: absolute;
    top:0;
    left:0;

    display: inline-block;

    padding: 3px 5px;

    opacity:1;
    color: #515151;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    background:#f9f9f9;
    }
.atd-article .atd_b:hover{
    opacity:.8;
    background: #e6e6e6 none repeat scroll 0 0;
    }

.atd-article .atd_b .fa-star {
    color:#ffcf46 !important;
    }

.atd_area{
    position:relative;

    width:100%;
    }

.atd_area .atd-bk-item{
    position:relative;

    display: inline-block;
    overflow: hidden;

    width:250px;
    height: 255px;
    margin:5px!important;
    padding:5px;

    border:1px solid #777;
    background:#f0f0f0;
    }

.atd_area .atd-bk-thumb img {
    width: 100%;
    height: 166.667px;
    }

.atd_area .atd-bk {
    display: block;

    padding:0 5%;
    }

.atd_area .atd-bk .atd-bk-title{
    font-size:18px;
    font-weight:bold;

    height: 55px;
    padding:5px;

    text-align: left;

    background: #fff;
    }

.atd_area  .atd-bk-del {
    font-size: 12px;
    font-weight: bold;

    position: absolute;
    right: 1px;
    bottom:1px;

    padding: 0 5px;

    color: #515151;
    border-radius: 3px;
    background:#fff;
    border: 1px solid #e0e0e0;
    }

.atd_area  .atd-bk-del a{
    margin:0;
    padding:0;

    text-decoration: none;

    color: #2c0b0b!important;
    background: #fff!important;
    }

.atd-bk-item .atd-bk-title a{
    font-size:14px;
    font-weight: normal;
    }

.atd_area .atd-footer {
    position: absolute;
    right: 0;
    bottom:0;
    }

.atd_area .atd-header {
    text-align: center;
    }

.atd_area .atd-header .atd-header-title {
    font-size:18px;
    font-weight:bold;
    }

.atd_area .atd-bk-del{
    background:#fff;
    border:1px solid #e0e0e0;
    padding: 0px!important;
    width: 25px!important;
    height: 25px!important;
    }
.atd_area .atd-bk-del:hover,.atd_area .atd-bk-del:active{
    background:#e0e0e0;
    }
.atd_area .atd-bk-del a{
    color: #2c0b0b;
    border-radius: 0px!important;
    padding: 0px 5px!important;

    }
.atd_area .atd-bk-del:hover a,.atd_area .atd-bk-del:active a{
    background:#e0e0e0!important;
}
.atd_area .atd-bk:after{
    display: block;
    clear: both;

    content: '';
    }
.atd_area .head{
    font-size: 18px;
    font-weight: bold;

    text-align:center;
    }

.atd_area .atd-header-title{
    display:none;
    }
.atd_area .atd-bk-thumb {
  display: block;
  width: 100%!important;
}
.atd_area .atd-bk-item .atd-bk-title {
  height: 65px!important;
}

.Stag_category {
  margin: 0px 0 10px 0px;
}

/*------------------------------------------------
    TagCategory
--------------------------------------------------*/
.TagCategory.zone.bottom {
    margin: 15px 0px 0px;
}
.TagCategory.zone a{
  margin:0px 2px;
}

/*Add-Advertisement*/
.Add-Advertisement{
    height: 100%;
    margin: 0 0 10px;
    padding: 20px;

    background:#fff;
    }
.Add-Advertisement .h2{
    font-size: 19px;

    margin: 15px 0 10px 0;
    padding: 0 0 3px 0;

    letter-spacing: -1px;

    color: #0db2ef;
    border-bottom: 1px solid #888;
    border-bottom: 1px solid #888;
    }
/*--------------------------------------------
    サイドバー
---------------------------------------------*/
.sidebar .blog_parts {
    position: relative;
    top: 0;
    width: 250px;
}
/*------------------------------------------------
        カテゴリーページ
--------------------------------------------------*/
.tweet_zone {
    width: 500px;
    margin: 20px 0 30px;
    padding: 10px 10px 5px 10px;

    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #f9f9f9;
    }
.tweet_zone .tweet_title {
    font-size: 17px;
    font-weight: bold;

    margin: 0 0 5px 0;

    color: #55acee;
    }

/*---- vine ---- */
.tweet_zone.vine {
    background:#f6f5f6;
    }
.tweet_zone.vine .tweet_title{
    color: #00bf8f;
    }
    .sns_buttons li a,.sns_buttons li button {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  margin: 0px 15px;
  text-decoration: none;
  padding: 5px 10px;
  background: #fff;
  display: block;
  text-align: center;
  font-size: 11px;
  border-radius: 3px;
  width: 85px;
  height: 48px;

}
.sns_buttons li a .sns_icon,.sns_buttons li button .sns_icon {
  display: block;
  font-size: 18px;
  height: 22px;
   color: #e0e0e0;
}
.sns_buttons li a:hover span {
    color: #420;
}
.sns_buttons li a:hover,.sns_buttons li button:hover{
background-image: -moz-linear-gradient(center top , #fff, #f9f9f9);
}
.sns_buttons li a:hover .sns_icon.co {
 color: #868686;
}
.sns_buttons li a:hover .sns_icon.po {
  color: #EB2742;
}
.sns_buttons li button:hover .sns_icon.atd {
color: #F4B266;
}

.alerts.zone{
  background: #F7F7F7 none repeat scroll 0px 0px;
border: 1px solid #DCDCDC;
  width: 550px;
  margin: 0 0 10px 38px;
  padding: 10px;
  box-sizing: border-box;
}

/* --------- 固定ページ　シリーズ & ジャンル --------- */
#series_list_box, #genre_list_box {
  margin: 10px 10px 0;
}

.tagcat_list .entry-content {
  background-color: #FFF;
  border: 1px solid #d1d1d1;
  padding: 10px 16px;
}

.go_top {
  background-color: #FFF;
  border: none;
  border-radius: none;
  text-decoration: none;
  margin: 0;
  width: auto;
  text-align: center;
}

.go_top a {
  background-color: #f9f9f9;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  width: 380px;
  border: 1px solid #e0e0e0;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#page_genrelist, #page_serieslist {
  width: 100%;
}

.tagcat_list table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

#page_genrelist td, #page_serieslist td {
  vertical-align: top;
  padding: 0 16px;
}

#page_genrelist ul, #page_serieslist ul {
  margin: 0;
  padding: 0 0 0 10px;
}

#page_genrelist ul li, #page_serieslist ul li {
  font-size: 12px;
  margin-bottom: 10px;
  list-style: none;
}

#page_genrelist ul li a, #page_serieslist ul li a {
  font-size: 13px;
  line-height: 1.3;
}

#page_genrelist h2, #page_serieslist h2 {
  font-size: 18px;
  font-weight: normal;
  padding: 10px 3px;
  border-bottom: 1px solid #d9d9d9;
  margin: 10px 0;
  letter-spacing: normal;
  line-height: 1.3;
  color: #E47911;
}
.bustup-avstar__plate {
  background: #fff;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  position: relative;
}
.bustup-avstar__plate .img{
  width: 90px;
  float: left;
		margin: 0 0 0 10px;
}
.bustup-avstar__plate .img img{
  width: 100%;
}
.bustup-avstar__plate .meta{
  padding: 0 0 0 90px;
}
.bustup-avstar__plate .meta h1{
  text-align: center;
  font-size: 26px;
  margin: 10px 0 0 0;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.75px;
}
.bustup-avstar__plate .meta h1 span{
  font-size: 18px;
  padding: 0 0 0 5px;
  color: #bdbdbd;
  font-weight: 300;
}
.bustup-avstar__plate p{
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  bottom:3px;
  margin: 0px;
}

.matome_zone {
  margin: 10px 0;
}
.matome_zone .inner {
  position: relative;
    height:122px;
  border: 1px solid #e0e0e0;
}
.matome_zone .inner a{
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
.matome_zone .inner a:hover{
  background: rgba(0, 0, 0, 0.3);
  display: block;
}
.matome_zone .inner .text{
  position: absolute;
display: -webkit-flex;
display: flex;
-webkit-align-items: center;
align-items: center;
-webkit-justify-content: center;
justify-content: center;
  height:122px;
  width: 100%;
  margin: 0px;
  flex-flow: column nowrap;
  z-index:999;
}
.matome_zone .inner .text h3 {
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: 21px;
  color: #FFF;
}
.matome_zone .inner .text b {
  display: block;
  color: #fff;
  font-weight: 300;
}
.matome_zone .inner .images{
  display: flex;

}
.matome_zone .inner .images img{
  height:92px;
  opacity: 0.8;
}
.matome_zone.dmm-event {
}
.matome_zone.dmm-event .inner {
  height: 100px;
  overflow: hidden;
  border: none;
}
.matome_zone.dmm-event .inner .text{
  height: 100px;
}
.matome_zone.dmm-event .inner .text h3,.matome_zone.dmm-event .inner .text b{
 color: #fff;
 border-bottom: 2px solid #ff5e5e;
 letter-spacing: 3px;
 background: rgba(51, 204, 255, 0.8);
}
.matome_zone.dmm-event .inner .text h3{
  margin: 0 0 5px 0;
}

.matome_zone.dmm-event .inner .text h3 span {
  color: #eac469;
  font-size: 24px;
}
.matome_zone.dmm-event .inner .text h3 span.yel{
    color: #FFFF00;
    font-size: 24px;
}
.matome_zone.dmm-event .inner .text h3 span.red{
    color: #ff5e5e;
    font-size: 24px;
}
.custom_button {
 margin:10px 0 0 0;
}
.custom_button a {
  display: block;
  color: #fff !important;
text-decoration: none;
background: #9bcc12;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
}
.custom_button a:hover{
  opacity: 0.8;
}

.custom_post.ranking{
  margin: 0 0 30px 0;
}
.custom_button {
 margin:10px 0 0 0;
}
.custom_button a {
  display: block;
  color: #fff !important;
text-decoration: none;
background: #9bcc12;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
}
.custom_button a:hover{
  opacity: 0.8;
}
.ranking-body a {
  text-decoration: none;
  display: block;
  border: 1px solid #fff;
}
.ranking-body a:hover {
  opacity: 0.7;
  border: 1px solid #e0e0e0;
}
#content .post .custom_post img {
  border: none;
  padding: 0;
  height: 170px;
}
.ranking_box {
  margin:10px 0 0 0 ;
}
.ranking-head {
 /*! padding: 5px; */
 text-align: center;
 padding: 10px 0 0 0;
}
.ranking-head .rank{
 padding: 3px 10px;
font-weight: 700;
font-size: 13px;
  border-radius: 3px;
}
.custom_post.ranking .rank_1 .rank{
background:#FFD853;
font-size: 18px;
}

.custom_post.ranking .rank_2 .rank{
background: #CBCBCC;
font-size: 18px;
}

.custom_post.ranking .rank_3 .rank{
background: #CD863C;
font-size: 18px;
}

.custom_post.ranking .rank_mob .rank{
    background: #9ad6ea;
}
.
.ranking-head h3{
 margin: 0px;
 font-size: 18px;
 padding: 0px;
}
.ranking-body {
  position: relative;
  height: 170px;
  background: #F8F8F8;
  padding: 0 0 3px 0;
}
.ranking-body .img{
  position: absolute;
}
.ranking-body .title{
  margin: 0 0 0 260px;
}
.ranking-body .title{
  margin: 0 0 0 260px;
 display: -webkit-flex;
 display: flex;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: center;
  height: 170px;
}
.ranking-body .title h2{
  margin: auto 0;
  font-size: 14px;
  color: #515151;
  font-weight: 300;
}
.area .list, .area .ctc-tag-cloud:after{
      content: "";
    clear: both;
    display: block;
}
.red{
 color: #F00;
}
.bold {
 font-weight: bold;
}
.article-images {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}
.article-images img {
    width: 100%;
    padding: 0px;
				margin: 10px 0;
}


/* DMMパーツ */
.dmmad
{
    margin-bottom: 20px;
}

.dmmad h1
{
    font-family: Georgia, Times New Roman, Times, Geneva, serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 130%;

    display: inline-block;

    margin: 0;
    padding: 0;
    padding-left: 10px;

    text-align: left;
    letter-spacing: 0;

    color: #5d2e00;
}

.dmmad .dmm_rental
{
    font-size: 11px;
    line-height: 30px;

    float: right;

    padding: 0 10px;

    text-decoration: none;
    letter-spacing: 1px;

    color: #fff;
    background: #6d6d6d;
}

.dmmad .dmm_rental:hover
{
    text-decoration: none;

    color: #fff;
    background: #545454;
}

.dmmad .aside-part
{
    width: 100%;
    margin: 0 0 10px 0;
}

.dmmad .aside
{
    position: relative;

    float: left;

    width: 32%;
}

.dmmad .aside:nth-child(2)
{
    margin: 0 2%;
}

.dmmad .rank
{
    font-size: 13px;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    padding: 1px 10px;

    color: #fff;
    background: rgba(233,0,0,1);
}

.dmmad .dmm_thumnail
{
    position: relative;
}

.dmmad .dmm_thumnail:hover .mask
{
    opacity: 1;
}

.dmmad .dmm_thumnail img
{
    max-height: 192px;

    vertical-align: bottom;
}

.dmmad .mask
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;

    opacity: 0;	/* マスクを表示しない */
    color: #fff;
    background-color: rgba(0,0,0,.5);	/* マスクは半透明 */
}

.dmmad .review_box:hover
{
    color: #fff;
}

.dmmad .review_box .review_title
{
    font-size: 13px;

    overflow: hidden;

    width: auto;
    max-width: 271px;
    height: auto;
    max-height: 18px;
    margin: 0;
    padding: 30px 10px 5px;
}

.dmmad .review_msg
{
    font-size: 12px;
    line-height: 1.7;

    padding: 5px 10px;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.dmmad .review_detail
{
    font-size: 11px;

    padding: 5px 10px 0 0;

    text-align: right;
}

.dmmad .title
{
    font-size: 13px;

    text-decoration: none;

    border-bottom: 1px solid #420;
}

.dmmad .title:hover
{
    text-decoration: none;

    border-bottom: none;
}

/* dmm-event-thumbnail&dmm-event_dmm-gazo2*/
#content .post .dmm-event-thumbnail img{
  background: #ea4651;
}
.dmm-event_dmm-gazo2 {
  background: #ea4651;
  padding: 10px;
  margin: 10px 0;
}
.dmm-event_dmm-gazo2 * {
  box-sizing: border-box;
}
.dmm-event_dmm-gazo2 .head-title h3{
 color: #fff;
 font-size: 28px;
 text-align: center;
 line-height: 1.25;
  margin: 0px;
}
.dmm-event_dmm-gazo2 .movie_title_d {
  text-align: center;
  background: none;
padding: 0;
}
.dmm-event_dmm-gazo2 .movie_comment_d {
  padding:10px;
  background: #fff;
  margin: 10px;
}
