/** TODO: r50: are these still necessary as a reset? */
li {
  list-style: none;
}

menu, ol, ul, h1 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size:100%;
  font-weight:normal;
}

/** TODO: end of r50 block */


/* Undo YUI reset of background: #FFF */
html{
  background: none;
}

/* In IE <8, some tags don't obey font-style:inherit */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  *font-style: normal;
  *font-weight: normal;
}

body {
  font: 13px Verdana, arial, helvetica, clean, sans-serif;
  background: #fff;
}

/************************************************************
   Override text-align:center from /yui2.9.0/grids/grids.css
   TODO: unnecessary when grids is no longer used
 ************************************************************/
body.ixl-skin {
  text-align: left;
}


.yui-t3 .yui-b {
  float: left;
  width: 18.0759em;
* width : 17.52 em;
}

.yui-t3 #yui-main .yui-b/*, .yui-t3 #yui-main .yui-g*/ {
  margin-left: 18.0759em;
* margin-left: 17.52em;
  margin-top: 0.75em;
}

.yui-t3 #yui-main .yui-g {
  margin-right: 1em;
}

.yui-t3 #yui-main{
  /* IE: preserve layout at narrow widths -- changed from -25em */
  margin-left:-19em;
}

.yui-t7 #yui-main .yui-b {
  margin: 0.75em;
}


.ixl-skin div.badge {
  background: transparent url(../images/badge.png) 0 0 no-repeat;
  width: 73px;
  height: 73px;
  float: right;
  position: relative;
}

.ixl-skin div.badge-small {
  background: transparent url(../images/badge_small.png) 0 0 no-repeat;
  width: 52px;
  height: 52px;
  position: relative;
}

/* Start of button styles (using YUI buttons) */

/* Generic button styles */
.yui-button {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: text-bottom;
}

.yui-button .first-child {
  display: block;
* display : inline-block;
}

.yui-button button, .yui-button a {
  display: block;
* display : inline-block;
  border: none;
  margin: 0;
}

.yui-button button {
  background-color: transparent;
* overflow : visible;
  cursor: pointer;
}

.yui-button a {
  text-decoration: none;
}

/* [end] Generic button styles */

/* IXL button skin */
.ixl-skin .yui-push-button, .ixl-skin .yui-link-button, .ixl-skin .yui-submit-button {
  background: transparent url(../images/button_sprite_v4.png) no-repeat right 0;
  padding-right: 10px;

  /* For the focus style for IE7 -
     add a transparent border so it doesn't shift when we change colors */
  *border: 1px dotted transparent;
  _border: none;
}

.ixl-skin .yui-push-button .first-child, .ixl-skin .yui-link-button .first-child, .ixl-skin .yui-submit-button .first-child {
  background: transparent url(../images/button_sprite_v4.png) no-repeat left 0;
  height: 32px;
}

.ixl-skin .yui-button-secondary {
  background-position: right -140px;
}

.ixl-skin .yui-button-secondary .first-child {
  background-position: left -140px;
}

.ixl-skin .yui-button-cancel {
  background-position: right -210px;
  /*background-position: right -140px;*/
}

.ixl-skin .yui-button-cancel .first-child {
  background-position: left -210px;
  /*background-position: left -140px;*/
}

.ixl-skin .yui-push-button button, .ixl-skin .yui-link-button a, .ixl-skin .yui-link-button a:hover, .ixl-skin .yui-submit-button button {
  padding: 0 5px 0 15px;
  font: bold 10px/3 Verdana, arial, helvetica, clean, sans-serif;
  color: #62830A;
}

.ixl-skin .yui-button-secondary button, .ixl-skin .yui-button-secondary a, .ixl-skin .yui-button-secondary a:hover {
  color: #db7543;
}

.ixl-skin .yui-button-cancel button, .ixl-skin .yui-button-cancel a, .ixl-skin .yui-button-cancel a:hover {
  color: #62830a;
  /*color: #db7543;*/
}

.ixl-skin .yui-push-button button, .ixl-skin .yui-submit-button button {
  height: 28px;
  /* Fixes the line-height for IE6, and makes the outline look better in IE6 and 7 */
  *height: auto;
}

/* Put the outline around the whole button, instead of just the push button */
.ixl-skin .yui-button-focus {
  outline: black dotted 1px;  /* Firefox */

  /* Use the webkit specific style so it uses the standard Safari look */
  outline: -webkit-focus-ring-color auto 3px;

  *border: 1px dotted black;  /* IE7 */
  _border: none;              /* IE6 - remove the border, it doesn't look right in IE6 */
}

/* Removes the outline from push buttons in Safari */
.ixl-skin .yui-button-focus button:focus {
  outline: none;
}

/* Removes the outline from push buttons in Firefox */
.ixl-skin .yui-button-focus button::-moz-focus-inner {
  border-color: transparent;
}

/* REMOVES OUTLINE FROM LINK BUTTONS */
.ixl-skin .yui-button-focus a:focus {
  outline: none;
}

/* Make the cursor a pointer when hovering over any part of the button */
.ixl-skin .yui-button-hover {
  cursor: pointer;
}

/* For link buttons, the image part can't be clicked, so set cursor to auto */
.ixl-skin .yui-link-button-hover {
  cursor: auto;
}

/* Buttons with images on them */
.ixl-skin .yui-button-img-forward {
  padding-right: 35px;
}

.ixl-skin .yui-button-img-check {
  background-position: right -35px;
  padding-right: 35px;
}

.ixl-skin .yui-button-img-send {
  background-position: right -70px;
  padding-right: 35px;
}

.ixl-skin .yui-button-img-exclamation {
  background-position: right -105px;
  padding-right: 25px;
}

.ixl-skin .yui-button-img-award {
  background-position: right -175px;
  padding-right: 35px;
}

.ixl-skin .yui-button-disabled {
  opacity: 0.50;
  /*filter: alpha(opacity=50);*/
}

/* End button styles */

/* Error message styles */

.errorMessage a,
.errorMessage {
  color:#fe3d01;
  /*float:right;*/
  /*margin-top:-20px;*/
  font-weight:bold;
  font-size:11px;
}

#errorHeader {
  color:#fe3d01;
  text-align:left;
  font-weight:bold;
  font-size:14px;
  background-image:url(../images/error_header.gif);
  background-repeat:no-repeat;
  height:40px;
}

#errorHeader span {
  margin-left:50px;
  margin-top:10px;
  position:absolute;
}

#errorHeader span#numErrors {
  margin-left:0;
  margin-top:0;
  position:relative;
}

.errorRow input, .errorRow select, .errorRow textarea {
  background-color:#FCD6CB;
}

.errorRow select {
  border-style: inset;
  border-width: 2px;
}

.errorRow .req_star {
  color:#fe3d01;
}

.errorMessage2 {
  display:block;
  float:none;
  margin-top:0;
}

.warningText {
  color:#fe3d01;
  text-align:left;
  font-size:14px;
  background-image:url(../images/error_header.gif);
  background-repeat:no-repeat;
  height:40px;
  padding: 0 0 1em 50px;
}

.noticeText {
  color:#D53211;
  text-align:left;
  font-size:18px;
  background-color:#FCEDEA;
  padding:5px;
  margin-right: 15px;
}

/* End error message styles */

.bulleted li {
  list-style-image: url(/static/math/images/listbullet.gif);
  padding-bottom: 5px;
}

.small-bullets li {
  list-style: none;
  background: transparent url(/static/math/images/listbullet-small.gif) no-repeat 0 2px;
  padding: 0 0 5px 18px;
}


.helpTopic {
  float:right;
  margin-right:5px;
  font-weight:bold;
}

body.internalError {
  background: #FFFFFF none;
}

.internalError h2 {
  font-family: Tahoma, Helvetica;
  font-size: 48px;
  font-weight: bold;
  color: #889406;
  font-style: oblique;
  margin: 1em 0;
}

.internalError div, .internalError form {
  width: 620px;
  margin: 0 auto;
}

.internalError .error1 {
  font-family: Tahoma, Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: #889406;
  font-style: oblique;
  padding-right: 0.3em;
}

.internalError .desc1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #666666;
}

.skillNumber {
	font-weight:bold;
	color: #138808;
}

/*
 * Generic styling
 *
 * simplePg
 * - mimicking yui-b yui-cinfo within yui-main
 *
 * clear split div
 * - bottom of roster page
 * - main of default landing of state standards
 *
 * */
.simpleDv {
  margin:0 10px;
  width:auto;
  position:static;
}
.simpleLayout {
  margin:0 18px;
  position:static;
  width:auto;
}
.split {
  position: relative;
  zoom: 1;
}
.split:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
.txL {
  text-align:left;
}
.txR {
  text-align:right;
}
.fL {
  float:left;
}
.fR {
  float:right;
}
.fL59 {
  float:left;
  width:59%;
}
.fR38 {
  float:right;
  width:38%;
}
h3.generic {
  color:#6E9407;
  font-size:20px;
  font-weight:normal;
}
ul.generic {
  margin:15px 30px;
  padding:0;
}
ul.generic li {
  padding:0 0 1em 0;
  list-style: disc outside;
}
p.generic {
  margin:0 0 1.5em 0;
  padding:0;
}
label.generic {
  font-weight:bold;
}
.formFinePrint{
  color:#6E9407;
  display:block;
  font:normal 9px Verdana,arial,helvetica,clean,sans-serif;
}
.formFinePrintLabel {
  color:#6E9407;
  display:block;
  font:normal 11px Verdana,arial,helvetica,clean,sans-serif;
  margin:5px 0 0 0;
}
.formFinePrintLabelInLine {
  color:#6E9407;
  font:normal 11px Verdana,arial,helvetica,clean,sans-serif;
  margin:5px 0 0 0;
}
label.lh25 {
  line-height:25px;
}
.h20 {
  height:20px;
}
.finePrintLabelInput {
  height:20px;
  padding:8px 0 0 0;
}

.stdsScoreMedal {
  color:#919191;
  white-space:nowrap;
}
.stdsScoreMedal img {
  height: 14px;
  width: 9px;
  vertical-align:middle;
}

.wbr:before {
  content: "\00200B";
}

wbr:after {
  content: "\00200B";
}

/* end Generic styling */

/*****************************************************************************
 *                      Styles for no-access allowed                         *
 *****************************************************************************/
#noaccess h1 {
  color: #d12b06;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  text-align:center;
}

#noaccess h1 img {
  vertical-align: top;
}

.noAccessMsg {
  padding: 20px 0;
  /*text-align: left;*/
}

#submitNotify {
  text-align: left;
}
#submitNotify input {
  margin-top: 5px;
}

#submitNotify .errorMessage {
  margin-top: 5px;
}

/**
 * 404 Error page
 */
#err404 {
  margin:60px auto 20px auto;
  width:464px;
}

#err404 #kids, #diagnosis #kids {
  height: 75px;
  width: 343px;
  margin: auto;
  background: url("/static/math/images/header_4kids_both.png") no-repeat;
  background-position: -343px 0;
}

#err404 #msg {
  background:url(/static/math/images/404box.png) no-repeat 0 0;
  height:193px;
  width:464px;
}

#err404 #msg h2 {
  color:#6d9207;
  font:bold 24px Verdana, sans-serif;
  padding:40px 0 20px 60px;
}

#err404 #msg p {
  font-size:10px;
  padding:0 0 8px 60px;
}

#err404 #msg p a {
  text-decoration:none;
}

#err404 #msg p em {
  font-size:12px;
  font-style: normal;
  text-decoration:underline;
}

/** static ErrorDocument pages */
#errDoc {
  background:none;
}

#errDoc #bd {
  border:0;
}

/*****************************************************************************/
#cPanel {
  background: #fcffc3;
  box-shadow: 0px 1px 4px 0px rgba(137, 138, 139, 0.59);
  color: #525252;
  border: 1px solid #f0ec88;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font: normal 11px Verdana, Arial, Helvetica, sans-serif;
  padding: 0 11px 0 0;
  text-align: center;
  overflow: hidden;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(137, 138, 139, 0.59);
  -moz-box-shadow: 0px 1px 4px 0px rgba(137, 138, 139, 0.59);
}


#cPanel .bd {
  background:none;
  height:auto;
  padding: 3px 6px 3px 14px;
}

#cPanel .bd a {
  color:#0782b0;
}

#cPanel .bd a:hover {
  color:#4b610e;
}

#cPanel .container-close {
  background:transparent url(../images/notification-x.png) no-repeat 0 0;
  color:transparent;
  display:inline-block;
  height:7px;
  right: 4px;
  text-decoration: none;
  text-indent:-999px;
  top: 4px;
  width:7px;
}

#cPanel .container-close:hover {
  background-image:url(../images/notification-x-hover.png);
}

/**
 *
 */
.dv-trial-ends-fun-start {
  background:transparent url(../images/pic-abc-book-love-ixl.png) 100% 0 no-repeat;
  box-sizing:border-box;
  color:#000;
  font:normal 15px/1.2em verdana, sans-serif;
  padding:0 300px 0 0;
  position:relative;
  -moz-box-sizing:border-box;
}

.dv-trial-ends-fun-start h2 {
  color:#d31313;
  font:normal 21px/1em "Trebuchet MS", sans-serif;
}

.dv-trial-ends-fun-start .dv-arrow-img {
  background:transparent url(../images/icon-arrow-abc-book-love-ixl.png) 0 0 no-repeat;
  height:37px;
  position:absolute;
  width:129px;
}

