BODY {
	margin: 5px 5px 10px 5px;
	SCROLLBAR-BASE-COLOR: #d5e5ee;
	SCROLLBAR-ARROW-COLOR: #000000;
	LIST-STYLE-TYPE: square
}
FONT { FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; }
.contenido1 {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: geneva,arial,Verdana,Helvetica;
	BORDER-BOTTOM: #e5e5e5 1px solid;
}
.contenido {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: geneva,arial,Verdana,Helvetica;
}
.contenido A {
	COLOR: #444444; TEXT-DECORATION: none; FONT-WEIGHT: bold;
}
.contenido A:hover {
	COLOR: #330099; TEXT-DECORATION: underline
}
.contenido_menu {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana,geneva,arial,Helvetica;
}
.contenido_menu A {
	COLOR: #444444; TEXT-DECORATION: none; FONT-WEIGHT: bold;
}
.contenido_menu A:hover {
	COLOR: #330099; TEXT-DECORATION: underline
}
.adcontenido {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Verdana, geneva,arial,Helvetica;
	cursor:pointer;cursor:hand
}
.adcontenido A {
	COLOR: #cc3300; TEXT-DECORATION: none; FONT-WEIGHT: bold;
}
.adcontenido A:hover {
	COLOR: #330099; TEXT-DECORATION: underline
}
.texto {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Arial,Verdana,Helvetica
}
.texto A {
	FONT-WEIGHT: bold; COLOR: #cc3300; TEXT-DECORATION: none
}
.texto A:hover {
	COLOR: #330099; TEXT-DECORATION: underline
}
.texto1 {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Arial,Verdana,Helvetica
}
.texto1 A {
	FONT-WEIGHT: normal; COLOR: #cc3300; TEXT-DECORATION: underline
}
.texto1 A:hover {
	COLOR: #330099; TEXT-DECORATION: underline
}
.miniyo {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana,Arial,Helvetica
}
.miniyo A {
	FONT-WEIGHT: bold; COLOR: #cc3300; TEXT-DECORATION: none
}
.miniyo A:hover {
	COLOR: #330099; TEXT-DECORATION: underline
}
.top2 {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial; TEXT-DECORATION: none
}
.top2 A:link {
	FONT-WEIGHT: bold; COLOR: #cc3300; TEXT-DECORATION: none
}
.top2 A:visited {
	COLOR: #cc3300; TEXT-DECORATION: none
}
.top2 A:hover {
	COLOR: #330099; TEXT-DECORATION: underline
}
.cat {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #777777; BORDER-BOTTOM: #e5e5e5 1px solid; FONT-FAMILY: geneva,arial,Verdana,Helvetica;
	color: #777777; backgroundColor: #F9F9F9; borderColor: #E5E5E5;
}
.caja {
	BORDER-RIGHT: #999999 2px solid; BORDER-TOP: #999999 2px solid; BORDER-LEFT: #999999 2px solid; BORDER-BOTTOM: #999999 2px solid
}
.cajastip {
	BORDER-RIGHT: #a5b5bb 1px dashed; BORDER-TOP: #a5b5bb 1px dashed; BACKGROUND: #ffffff; BORDER-LEFT: #a5b5bb 1px dashed; BORDER-BOTTOM: #a5b5bb 1px dashed
}
.cajasnews {
	BORDER-RIGHT: #cccccc 2px solid; BORDER-TOP: #cccccc 2px solid; BACKGROUND: #ffffff; BORDER-LEFT: #cccccc 2px solid; BORDER-BOTTOM: #cccccc 2px solid
}
.cajasprin {
	BORDER-RIGHT: #e5e5e5 1px solid; BORDER-TOP: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; BORDER-BOTTOM: #e5e5e5 1px solid
}
.cajascat {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
TEXTAREA, .bginput {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
	COLOR: #000000;
	BACKGROUND-COLOR: #F1F1F1;
}
A:link, A:visited, A:active {
	COLOR: #cc3300;
FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:hover {
COLOR: #330099;
TEXT-DECORATION: underline
}

.field { FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica; }
.button { background: #d1d1d1; font-size: 10pt; border-width: 1px solid; font-weight: bold; }

.cfield { background: #fafcff; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica;
border: solid #a1a1a1 1px;
-webkit-border-radius: 4;
-moz-border-radius: 4;
border-radius: 4px;
padding:2px 3px;
margin-right:4px;
}

.cbutton { background: #f5f5f5; font-size: 10pt; border-width: 1px solid; font-weight: bold;
border: solid #dddddd 1px;
-webkit-border-radius: 4;
-moz-border-radius: 4;
border-radius: 4px;
padding:2px 3px;
margin-right:4px;
}
.cbutton:hover {
  background: #e8e8e8;
  text-decoration: none;
}

.page
{
	background-color: #FFFFFF;
	color: #000000;
}


.fc2010 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #CC0000; FONT-FAMILY: geneva,arial,Verdana,Helvetica;
}
#infocookie{position:relative;width:100%;padding:4px 0;text-align:center;font-family:sans-serif;font-size:10px;border-bottom:1px solid #aaa;border-top:1px solid #aaa;color:#666;background:#f3f3f3;text-indent:-16px;margin-bottom:4px}
#infocookie img{vertical-align:middle;height:16px;width:16px;margin-top:-1px}
#infocookie_link{color:#666;text-decoration:underline;font-family:sans-serif;font-size:10px;}
#infocookie_close{position:absolute;top:3px;right:3px;width:16px;height:16px;background:url(//www.forocoches.com/info-close.png) no-repeat center}