@font-face {
	font-family: "yekan";
	src: url(webart_fonts/47.eot);
	src: url(webart_fonts/47.eot?#iefix) format("embedded-opentype"),
	url(webart_fonts/47.woff) format("woff"),
	url(webart_fonts/47.ttf) format("truetype"),
	url(webart_fonts/47.svg#BYekan) format("svg");
	font-weight: normal;
	font-style: normal
}
a{text-decoration:none;}
.clear{clear:both;}
body{
	font:13px/20px 'tahoma' !important;	
	cursor:default;
	position:relative;
}
.wrapper{
	overflow:hidden;
	margin:0 auto;
	width:980px;
	position:relative;
}
.main_menu{
	background:rgb(106, 106, 106);
	padding:5px 0;
	height:25px;
}
#menu{float:right;width:100%;position:relative;}
#menu > li{
	float:right;
	margin:0 5px;
	border-radius:5px 5px 0 0;-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
}
#menu > li:hover{background:#979595;}
#menu li a{
	font:13px/22px 'tahoma';
	color:#fff;
	display:block;
	padding:3px 5px;
	-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
}
#menu ul{
	background:#979595;
	width:100%;
	position:absolute;
	top:100%;
	right:0;
	display:none;
	z-index:99;
	padding:3px 0;
}
#menu ul li{float:right;margin:0 5px;}
#menu ul li:hover a{color:#2A2A29;}
#menu li:hover > ul{display:block;}
.slicknav_menu {
	display:none;
}
@media screen and (max-width:978px) {
.js #menu {display:none;}
.js .slicknav_menu {display:block;}
}
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {margin-top: 0.188em; }
.slicknav_menu {*zoom: 1; }
.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
.slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text {
    margin: 0; }
.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_menu:before {
    content: " ";
    display: table; }
.slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }
.slicknav_nav {clear: both; }
.slicknav_nav ul {display: block; }
.slicknav_nav li {display: block;overflow:hidden;}
.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin:0 5px;
	float:right;
}
.slicknav_arrow{
	-moz-transform: scaleX(-1) !important;
  -o-transform: scaleX(-1)!important;
  -webkit-transform: scaleX(-1)!important;
  transform: scaleX(-1)!important;
  filter: FlipH!important;
  -ms-filter: "FlipH"!important;
}
.slicknav_nav .slicknav_item {cursor: pointer; }
.slicknav_nav .slicknav_item a {display: inline; }
.slicknav_nav .slicknav_row {display: block; }
.slicknav_nav a {display: block; }
.slicknav_nav .slicknav_parent-link a {display: inline; }
.slicknav_brand {float: left; }
.slicknav_menu {background: #6A6A6A;padding:3px;margin: 0 5px;}
.slicknav_menu * {box-sizing: border-box; }
.slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
.slicknav_menu .slicknav_icon-bar {background-color: #fff; }
.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden; }
.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin:0 20px 0 0 ; }
.slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px;
	overflow:hidden;
}
.slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #fff; }
.slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff; }
.slicknav_nav a:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #222; }
.slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
.slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0;
	float:right;
}
.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }
.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }
/*--*/
.main_content{
	overflow:hidden;
	position:relative;
}
.content{
	overflow:hidden;
	width:71%;
	margin:0 142px 0 0;
	position:relative;
	float:right;
}
.content_right{
	overflow:hidden;
	float:right;
	width:65%;
}
.box_content_right,.box_left{
	overflow:hidden;
	margin:0px 0px;
	border: 1px solid #D3D3D3;
  border-radius: 4px;
  margin-top: 15px;
}
.title_box{
	display:block;
	background:rgb(139, 146, 160);
	font:bold 11px/20px 'tahoma';
	padding-right:5px;
	color:#fff;
}
.post_one{
	overflow:hidden;
	margin:10px 0;
}
.post_one h4 a{
	font:bold 11px/18px 'tahoma';
	color:#000080;
	display:block;
	padding: 0 5px;
}
.post_one img{
	float:right;
	margin:7px 8px 0 3px;
}
.post_one p{
	overflow:hidden;
	padding:5px;
}
.list_perchin{
	overflow:hidden;
	margin:0 10px;
	clear:both;
	margin-bottom:8px;
}
.list_perchin li{
	border-bottom:1px dotted #d3d3d3;
	padding:3px 0;
}
.list_perchin li a,.item li h3 a{
	font:11px/16px 'tahoma';
	color:#000080;
	display:block;
}
.list_perchin li:hover a,.item li h3 a:hover{color:#565656;}
.box_content_right h3 a{
	display:block;
	font:bold 11px/20px 'tahoma';
	color:#333;
	margin:20px;
}
.post_box{
	overflow:hidden;
	width:50%;
	float:right;
	height:160px;
	margin-top:5px;
}
.post_box h4 a{
	font:bold 11px/18px 'tahoma';
	color:#000080;
	padding:0 10px;
	display:block;
}
.post_box img{margin:10px;border:1px solid #828282;}
.post_box h4 a:hover{color:#990000;}
.content_left{
	overflow:hidden;
	width:34%;
	float:left;
}
.list_web{
	overflow:hidden;
	padding:10px 10px 5px 5px;
}
.list_web li{
	overflow:hidden;
	padding:3px 0;
	border-bottom:1px dotted #d3d3d3;
}
.list_web li img{float:right;margin-left:3px;}
.list_web li a,.box_news h4 a{
	font:bold 11px/15px 'tahoma';
	color:#000080;
	display:block;
}
.list_web2 li a,.box_news h4 a{
	font: 11px/15px 'tahoma';
	color:#000080;
	display:block;
}

.list_web2{
	overflow:hidden;
	padding:10px 10px 5px 5px;
}
.list_web2 li{
	overflow:hidden;
	padding:3px 0;
	border-bottom:1px dotted #d3d3d3;
}
.list_web2 li img{float:right;margin-left:3px;}


.list_web3 li a,.box_news h4 a{
	font: 11px/15px 'tahoma';
	color:#000080;
	display:block;
}

.list_web3{
	overflow:hidden;
	padding:10px 10px 5px 5px;
}
.list_web3 li{
	overflow:hidden;
	padding:3px 0;
	border-bottom:1px dotted #d3d3d3;
}
.list_web3 li img{float:right;margin-left:3px;}


.widg_news img{
	width:70px !important;
	height:50px !important;
}

.widg_news2 img{
	width:115px !important;
	height:50px !important;
}

.widg_news3 img{
	width:115px !important;
	height:50px !important;
}

.widg_news4 img{
	width:60px !important;
	height:30px !important;
}
.widg_news5 img{
	width:60px !important;
	height:35px !important;
}

.list_web li img{float:right;margin-left:3px;}
.list_web li a,.box_news h4 a{
	font:bold 11px/15px 'tahoma';
	color:#000080;
	display:block;
}
.box_news{overflow:hidden;padding:0 5px;}
.div_img{
	background:#F8F8F8;
	padding:10px 5px;
	display:block;
	margin:5px 0;
}
.box_news h4 a:hover{color:#990000;}
.box_banner{
	overflow:hidden;
	position:absolute;
	top:0;
	right:0;
	padding:10px 0;
	text-align:center;
	width:100%;
}
.box_banner img,.box_banner object{
	width:330px;
	height:64px;
	margin:5px;
	display:inline-block;
	max-width:100%;
}
.sidebar{width:135px;overflow:hidden;}
.side_right{
	position:absolute;
	right:0;
	top:0;
}
.side_left{float:left;}
.banner_sidebar a{background:rgb(243, 243, 243);display:block;}
.banner_sidebar img,.banner_sidebar object{margin:8px auto;display:block;}
.link_img{overflow:hidden;}
.link_img img{margin:3px auto;display:block}
.item span{
	display:block;
	background:rgb(200, 200, 200);
	font:bold 12px/25px 'tahoma';
	color:#fff;
	padding-right:4px;
	margin-bottom:10px;
}
.item{overflow:hidden;background:rgb(248, 248, 248);}
.item li{
	overflow:hidden;
	margin:0 7px;
	border-bottom:1px dotted #d3d3d3;
}
.item img{margin:10px auto;display:block;}
/*--footer*/
.footer{
	overflow:hidden;
	border:1px solid #E0E0E0;
	border-radius:5px;
	padding:10px;
	margin:20px 0 10px;
}
.footer ul{
	overflow:hidden;
	text-align:center;
	margin-bottom:10px;
}
.footer ul li{
	display:inline-block;
	border-left:1px solid #676767;
	padding:0 8px;
}
.footer li a{
	font:11px/18px 'tahoma';
	color:#676767;
}
.footer ul li:last-child{border-left:none;}
.footer p{float:right;}
.footer span{float:left;}


/*--midbanner*/
.midbanner{
	overflow:hidden;
	border:1px solid #E0E0E0;
    background: rgb(221, 221, 221);
	border-radius:5px;
	padding:6px;
	margin:10px 0 10px;
}
.midbanner ul{
	overflow:hidden;
	text-align:center;
	margin-bottom:7px;
}
.midbanner ul li{
	display:inline-block;
	border-left:1px solid #676767;
	padding:0 8px;
}
.midbanner li a{
	font:11px/18px 'tahoma';
	color:#676767;
}
.midbanner ul li:last-child{border-left:none;}
.midbanner p{float:right;}
.midbanner span{float:left;}





/*--main_banner*/
.main_banner{
	overflow: hidden;
  width:100%;
  position: absolute;
  top: 0;
}
.div_banner{
	overflow:hidden;
	background:#F0F0F0;
	border:1px solid #999;
	border-top:0;
	text-align:center;
	padding:7px;
}
.two_banner{
	overflow: hidden;
  background: #F0F0F0;
  border: 1px solid #999;
  border-top: 0;
  text-align: center;
  padding: 7px;
}
.two_banner img,.two_banner object{
	display:inline-block;
	margin:0 50px;
	width:360px;
	height:66px;
	max-width:100%;
}
.header{overflow:hidden;}
.logo{
	float:right;
	overflow:hidden;
	background:url(images/logo-persianv94.jpg) no-repeat;
	margin:15px;
	width:230px;
	height:85px;
}
.logo h1 a{
	display:block;
	width:230px;
	height:85px;
	text-indent:-9999px;
}
.header img,.header object{
	width:340px;
	height:68px;
	float:left;
	margin:20px 8px;
	max-width:100%;
}

}
.banner_sidebar {text-align:center;}
.text-matn-title{color: #F00;}
.text-matn-title-bold{color: #F00;font-weight: bold;}
.text-matn-title-black{font-weight: bold ; font-size: 0.9em ;}





.list_web4 li a,.box_news h4 a{
	font: 11px/15px 'tahoma';
	color:#000080;
	display:block;
}

.list_web4{
	overflow:hidden;
	padding:10px 10px 5px 5px;
}
.list_web4 li{
	overflow:hidden;
	padding:3px 0;
	border-bottom:1px dotted #d3d3d3;
}
.list_web4 li img{float:right;margin-left:3px;}




.widg_news4 img{
	width:60px !important;
	height:30px !important;
}



/*-----------------------------------screen_respansive-----------------------------------------*/
@media only screen and (min-width : 768px) and (max-width : 978px){
.content,.side_left{width:80%;float:left}
.post_one p{float:right;}
.post_box{height:180px;}
.side_right{float:right;width:18%;}
}
@media only screen and (min-width : 480px) and (max-width : 767px){
.content{width:auto;float:none;margin:10px 0;}
.post_one p{float:right;}
.post_box{height:180px;}
.side_right{position:relative;}
.sidebar{width:47%;margin:5px;float:right;}
}
@media only screen and (max-width : 767px){
.header{text-align:center;}
.logo{margin:10px auto;float:none;}
.header img, .header object{display:inline-block;float:none;}
}
@media only screen and (min-width : 320px) and (max-width : 479px){
.content{width:auto;float:none;margin:10px 0;}
.post_one p{float:right;}
.post_box{height:180px;}
.side_right{position:relative;}
.sidebar{width:46%;margin:5px;float:right;}
.content_right,.content_left{float:none;width:auto;}
.content_left{margin-top:10px !important;}
}
@media only screen and (max-width : 320px){
.content{width:auto;float:none;margin:10px 0;}
.post_one p{float:right;}
.post_box{height:180px;}
.side_right{position:relative;}
.sidebar{width:45%;margin:5px;float:right;}
.content_right,.content_left{float:none;width:auto;}
.content_left{margin-top:10px !important;}
}
@media only screen and (max-width : 978px){
.wrapper{width:99%;}
.main_menu{height:0;}
.two_banner img,.two_banner object,.box_banner img, .box_banner object{margin:5px 0;height:auto;}
.div_banner img,.div_banner object,.web_banner img,.web_banner object{max-width:100% !important;height:auto;}
.two_banner{padding:0;}
.header img, .header object{margin:5px;height:auto;}
.footer span{display:none;}
}









@media only screen and (min-width : 480px) and (max-width : 767px){
.box_economy, .box_other{float:none;width:auto;}
}
@media only screen and (max-width : 978px){
.banner_sidebar div{float:right;}
.banner_sidebar{overflow:hidden;}
iframe{height:auto;}
}
@media only screen and (max-width : 480px){
.right_box_economy, .right_box_other,.left_box_economy, .left_box_other{float:none;width:auto;}
.poat_right_economy img, .poat_right_other img{height:auto;width:auto;}
}


@media only screen and (max-width : 479px){
.banner_sid_desktop{display:none;}
.banner_sid_mob{display:block !important;}
.banner_sid_mob div a img,.banner_sid_mob div a object,.banner_sid_mob div a iframe{width:100% !important;margin:5px 0!important;display:block;}
iframe{height:60px;}
}

@media only screen and (max-width : 990px){
.banner_sid_mob{display:none;}
}
@media only screen and (min-width : 768px) and (max-width : 978px){
.banner_sid_mob{display:none;}
.banner_sidebar div{text-align:center;float:none;}
}
@media only screen and (min-width : 580px) and (max-width : 767px){
.banner_sid_mob{display:none;}
.banner_sidebar div{float:right;width:50%;text-align:center;}
}
@media only screen and (min-width : 480px) and (max-width : 580px){
.banner_sid_mob{display:none;}
.banner_sidebar div{text-align:center;}
}
@media only screen and (max-width : 480px){
.banner_sidebar div{text-align:center;}
.banner_sid_mob div > iframe{width:468px;max-width:100% !important;margin:5px 0;}
.box_economy, .box_other{float:none;width:auto;}
}


@media only screen and (min-width : 480px) and (max-width : 580px){
.banner_sid_mob{display:block !important;}
.banner_sid_mob div{text-align:center;float:none;}
.banner_sid_desktop{display:none;}
.banner_sid_mob div > iframe{width:468px;}
}

@only screen and (max-width: 580px){
  .div_banner,.box_banner{display:none;}
  .sidebar {float:none;width:auto;}
}

@media only screen and (max-width: 767px){
  .div_banner,.box_banner{display: none !important;}
  .sidebar {float:none;width:auto;}
}

@media only screen and (max-width: 767px){
  .div_banner,.box_banner{display: none !important;}
}
@media only screen and (max-width: 550px){
  .sidebar {float:none !important;width:auto !important;}
}