 @media(min-width: 1100px) and (max-width: 1410px){

        .header-med {
            padding: 0!important;
        }
        .header-med .logo {
            margin-left: 0 !important;
        }
         .header-med .logo img {
             width: 90% !important;
         }
         header .header-med .admin-old {
             margin-top: 0;
         }
         header .header-med .admin-old .item {
             float: right;
             padding: 0 10px;
             margin:0 !important;
         }

         header .old-nav a {
                 min-width: 94px;
                     font: 14px 'br';
         }

         .featured-area {
             padding-top: 5px;
         }
         .top-featured {
             margin-bottom:5px;
         }
         .top-featured .search {
             margin-bottom: 5px;
         }
         header .header-med .old-date {
            width: 580px !important;
        }

         header .header-med .old-date .date-cont {
             float:right;
         }
         .block .item-li {
    padding: 8px 10px;
}
         .block .item-li .img-cont {
            width: 122px;
        }

         .block .item-li .overlay {
    width: calc(100% - 122px);
}  
         .multi .item-bg .overlay {
             font-size: 16px;
         }

         footer .fnav {
             width:80%;
         }
         footer .fnav a {
             width: 143px;
         }

         footer .social {
            float: left;
            height: 32px;
            clear: both;
            margin-bottom: 15px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

         .block .item-li .overlay {
             max-height:68px;
         }

         .block .item-li .overlay h2 {
             font-size: 16px;
                 max-height: 70px;
         }

    }
    .tabbed .nav-tabs li a {
        font-size: 16px;
    }

    .block .item-li .overlay h2 {
        font-size:16px;
    }
    .photos .item {
            padding-bottom: 20px;
    padding-top: 6px;
    border-bottom: 1px solid #dcdcdc;
    }

     .photos .item:last-child {
         border-bottom:hidden;
     }

     .dropdown-menu > li > a {
        width: 100%;
        color: #000;
        text-align: right;
     }
     .dropdown-menu > li > a:hover {
         color:#fff;
        
     }





.adplace img,
.ad img,.ad-block img{
    max-width:100%;
}

.adplace{
    text-align:center;
}

.adplace img{
    margin-bottom:10px;
}

.


    .pagination > li > a, .pagination > li > span {
        float: left;
    }

    #fancybox-wrap{z-index: 999999999 !important;}
#fancybox-wrap, #fancybox-wrap *{box-sizing:content-box !important;}
/*--- order tool ---*/
a.order {float: left !important;display:none;width: 100px !important;height: 50px !important;background-image: url('/images/order.png') !important;position: absolute !important;z-index: 100 !important;}
div:hover>a.order{display:block}
.noorder a.order{visibility:hidden}



@media (min-width: 992px){
    header .header-med .adv728 {
            width: 680px;
            overflow:hidden;
    }

    .header-med .admin-old .title {
        font-size:11px;
    }


         
}


 .slider-sm .rsThumbs .rsThumb{
     width:105px;
 }


.post .mainImg img {
    max-width: 550px;
    display: block;
    float: none;
    margin: 0px auto;
}

.slider-sm .rsABlock, .slider-sm .rsSBlock {
    margin-top: -90px;
height: 90px;
}

.slider-sm .rsThumbs .rsThumb .img img{max-height:60px;}





@media (max-width: 481px){
   .featured-area, .top-featured{
       padding: 0px !important;
    margin: 0px !important;
   }

   .admin-old{
       float:left !important;

   }

   a.logo{
           float: right !important;
    width: auto !important ;
   }
}
