/*  -------------------- */
/*  -------------------- */
/*  -------------------- */
/*  ---     header   --- */
/*  -------------------- */
/*  -------------------- */
/*  -------------------- */
.mod_header .overlay{
	display:none;
	background-color:black;
	height:100%;
	-moz-opacity:.80;
	filter:alpha(opacity=80);
	opacity:.80;
	position:absolute;
	width:100%;
	z-index:100;
}
.mod_header .top{
	background:#181818;
	/*border-bottom:1px solid #666;*/
}
.mod_header .top .nav{
	border-right:1px solid #ccc;
	margin-top:8px;
	margin-bottom:6px;
	padding-right:15px;
}
.mod_header .top a{
	border-left:1px solid #ccc;
	color:#ccc;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-left: 20px;
	padding:2px 0 2px 15px;
	text-shadow:1px 1px #000;
}
.mod_header .top a:first-child{
	border:none;
}
.mod_header .top a:hover{
	color:#f90;
}
.mod_header .top .social{
    margin:5px 0 0 5px;
}
.mod_header .top .social a{
    background:url("../imgs/sprite-icons.png") no-repeat;
    border:medium none;
    height:20px;
    margin:0 0 0 5px;
    padding:0;
    text-indent:-5000px;
    width:20px;
}
.mod_header .top .social a.twitter  {background-position:center -3570px}
.mod_header .top .social a.facebook {background-position:center -3600px}
.mod_header .top .social a.plus     {background-position:center -3630px}
.mod_header .central{
	background:#000;
}
.mod_header .logo{
    float:left;
    margin:5px 30px 0 4px;
    overflow:hidden;
}
.mod_header .logo a{
	background:url("../imgs/atres_logo_2.png") no-repeat transparent;
	height:60px;
	text-indent:-5000px;
	width:148px;
}
.mod_header .central .nav{
	float:left;
	margin-top:14px;
}
.mod_header .central .nav a{
    background:#222;
    border-bottom:2px solid #222;
    color:#ccc;
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    font-weight:bold;
    margin:0;
    padding:15px 25px;
    text-transform:uppercase;
}
.mod_header .central .nav a:hover,
.mod_header .central .nav a.active{
	color:#fff;
	border-bottom:2px solid #f90;
}

/*.mod_header .central .nav a.neoxkidz {
  background: url("../imgs/neoxkidz_logo.png") no-repeat scroll 125px 9px #222;
  color: #ffd800;
  padding-right: 40px;
}*/


.mod_header .central .nav a.neoxkidz:hover, .mod_header .central .nav a.neoxkidz.active {
  border-bottom: 2px solid #f90;
  color: #fff;
}

.mod_header .actions{
	float:right;
	margin-top:18px;
}
.mod_header .actions > a{
	float:left;
	font-size:14px;
	margin:0 0 0 5px;
	padding:10px 5px;
	line-height: normal;
}
.mod_header .actions .nombre{
	background:url("../imgs/sprite-icons.png") no-repeat right -384px #222;
	padding:10px 23px 10px 10px;
}
.mod_header .actions .hazte{
	width:145px;
}
.mod_header .actions .hazte,
.mod_header .actions .nombre,
.mod_header .actions.user .entra,
.mod_header .actions.user .reg,
.mod_header .actions.premium .hazte,
.mod_header .actions.premium .reg,
.mod_header .actions.premium .entra	{display:none;}
.mod_header .actions.user .nombre,
.mod_header .actions.user .hazte,
.mod_header .actions.premium .nombre{display:block;}
.mod_header .actions .fn_tooltip_lay{
	position:absolute;
	right:0;
	top:35px;
	z-index:9999;
}
.mod_header .actions .fn_tooltip_lay .arrow_top{
	background:url("../imgs/sprite-icons.png") no-repeat center -3120px transparent;
	display:block;
	height:10px;
	position:absolute;
	right:10px;
	top:0;
	width:25px;
	z-index:100;
}
.mod_header .actions .fn_tooltip_lay .solid{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	box-shadow:3px 3px 5px rgba(0, 0, 0, 0.5);
	margin-top:9px;
	overflow:hidden;
}
.mod_header .actions .fn_tooltip_lay .solid a{
    background:#fff;
    border-top:1px solid #eee;
    color:#888;
    font-size:13px;
    line-height:14px;
    padding:11px 40px 14px 20px;
}
.mod_header .actions .fn_tooltip_lay .solid a:hover,
.mod_header .actions .fn_tooltip_lay .solid a.close{
	background-color:#e5e5e5;
	color:#555;
}
.mod_header .actions .fn_tooltip_lay .solid a.close:hover{
	background-color:#ccc;
}


.menu_atresplayer ul {
    float: left;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
	}
	
.menu_atresplayer ul li {
    float: left;
	}

.mod_header .top .menu_atresplayer a{
	margin-left:0px;
	padding-left: 10px;
	}


.menu_atresplayer ul li a {
    background: url("../imgs/logos_header.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    margin: 3px 5px 0 0;
    text-indent: -5000px;
    width: 20px;
	}


.mod_header .top .menu_atresplayer ul li a.a3 {
    color: #CCCCCC;
    height: 24px;
    line-height: 22px;
    padding: 0 0 0 33px;
    text-indent: 0;
    width: auto;
	}

.menu_atresplayer ul li a.a3 {
    background-position: 0px -10px;
	}

.menu_atresplayer ul li a.sexta {
    background-position: 0px -40px;
	}
.menu_atresplayer ul li a.neox {
    background-position: 0px -70px;
}
.menu_atresplayer ul li a.nova {
    background-position: 0px -100px;
}
.menu_atresplayer ul li a.nitro {
    background-position: 0px -130px;
	display: none;
}
.menu_atresplayer ul li a.xplora {
    background-position: 0px -160px;
}
.menu_atresplayer ul li a.onda {
    background-position: 0px -190px;
}
.menu_atresplayer ul li a.mega {
    background-position: 0px -312px;
}
.menu_atresplayer ul li a.europafm {
    background-position: 0px -220px;
}
.menu_atresplayer ul li a.melodia {
	background-position: 0 -282px;
}
.menu_atresplayer ul li a.nubeox {
    background-position: 0px -250px;
    width: 24px;
}
/*.menu_atresplayer ul li a.neoxkidz {
    display: none;
}
*/
.menu_atresplayer ul li a.neoxkidz {
	background-position: 0 -344px;
	width: 24px;
}

.menu_atresplayer ul li a.a3series {
	background-position: 0 -344px;
	width: 24px;
}

.mod_header .top .menu_atresplayer ul li a.a3:hover {
    background-position: 0px -10px;
	color:#f68b23;
}
.mod_header .top .menu_atresplayer ul li a.sexta:hover {
    background-position: 0px -40px;
	color:#41b449;
}
.menu_atresplayer ul li a.neox:hover {
    background-position: 0px -70px;
}
.menu_atresplayer ul li a.nova:hover {
    background-position: 0px -100px;
}
.menu_atresplayer ul li a.nitro:hover {
    background-position: 0px -130px;
}
.menu_atresplayer ul li a.xplora:hover {
    background-position: 0px -160px;
}
.menu_atresplayer ul li a.onda:hover {
    background-position: 0px -190px;
}
.menu_atresplayer ul li a.mega:hover {
    background-position: 0px -312px;
}
.menu_atresplayer ul li a.europafm:hover {
    background-position: 0px -220px;
}
.menu_atresplayer ul li a.melodia:hover {
	background-position: 0 -282px;
}
.menu_atresplayer ul li a.nubeox:hover {
    background-position: 0px -250px;
}
/*ocultar VIDEOCLUB en el menu*/
.mod_header .central .nav a[href^="http://peliculas-online.atresplayer.com"] {
	display: none;
}