.mod_crm {
	background: #181818;
	line-height: normal;
	overflow: hidden;
	font-family:'gotham_mediumregular', Arial, Helvetica;
}
.mod_crm h2.title {
	color: #FF9900;
    font-family: 'gotham_lightregular',Arial,Helvetica;
    font-size: 52px;
	font-weight: normal;
	line-height: 124px;
	text-align: center;
}
.mod_crm .wrapper {
	padding: 20px;
	overflow: hidden;
}
.mod_crm .wrapper > .left {
	background: #2d2d2d;
	width: 470px;
	padding: 20px 0;
}
.mod_crm .left .right {
	width: 217px;
	padding: 10px 10px 0 0;
}
.mod_crm .left h3 {
	color: #ff9900;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.mod_crm .left h4 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}
.mod_crm .left p {
	font-size: 14px;
	font-family:Arial, Helvetica;
}
.mod_crm .wrapper > .right {
	width: 460px;
	position: relative;
}
.mod_crm .right .center {
	margin: 0 auto;
    text-align: center;
    width: 275px;
}
.mod_crm .right form label {
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin: 20px 0 10px;
	float: left;
}
.mod_crm .right form input {
	background: #fff;
	border: 5px solid #555555;
	border-radius: 3px;
	line-height: 38px;
	width: 255px;
	height: 36px;
	padding: 0 5px;
	font-size: 14px;
	float: left;
}
.mod_crm .mod_reg .btn_orange {
	font-size: 22px;
	margin: 20px 54px;
	width: 166px;
	text-shadow: none;
	padding: 10px;
}
.mod_crm .remember {
	font-size: 14px;
}
.mod_crm .mod_reg .btn_gray {
	background: #6F6F6F;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
	font-size: 15px;
    font-weight: normal;
    line-height: 15px;
    padding: 8px 0;
	
	margin: 20px 75px;
	width: 120px;
	text-shadow: none;
}
.mod_crm .mod_reg .btn_gray:hover {
	background: #333;
	color: #fff;
}
.mod_crm .bottom {
	margin-top: 152px;
}
.mod_crm .premio {
	margin-left: 15px;
    width: 225px;
}
.mod_crm .bottom .right {
    background: none;
    margin-left: 8px;
	font-size: 14px;
    padding: 7px 8px;
	color: #5b5b5b;
}
/*publi fuer
#bannerTop {
	height: auto !important;
}
.shell .bg_fixed {
	background-image: none !important;
	background-color: transparent !important;
}
#bannerLeft, #bannerRight {
	cursor: default !important;
	z-index: -50;
}a*/