/*  -------------------- */
/*  -------------------- */
/*  -------------------- */
/*  ---     footer   --- */
/*  -------------------- */
/*  -------------------- */
/*  -------------------- */
.mod_footer .top{
	background:#000;
	border-bottom:1px solid #444;
}
.mod_footer .sub{
	background:#333333;
	background:-moz-linear-gradient(top, #333333 0%, #212121 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#212121));
	background:-webkit-linear-gradient(top, #333333 0%,#212121 100%);
	background:-o-linear-gradient(top, #333333 0%,#212121 100%);
	background:-ms-linear-gradient(top, #333333 0%,#212121 100%);
	background:linear-gradient(to bottom, #333333 0%,#212121 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#212121',GradientType=0 );
	border-bottom:3px solid #f90;
	padding:20px 0 0;
}
.mod_footer .sub .logo{
	background:url('../imgs/logo_footer.png') no-repeat;
	height:90px;
	/* margin:10px 0 0 10px; */
	margin:20px 0 0 10px;
	text-indent:-5000px;
	width:210px;
}
.mod_footer .sub .enlaces {
	float: right;
	width: 340px;
	padding-top: 25px;
}
.mod_footer .sub .enlaces li {
	float: left;
	display: inline;
	margin-right: 10px;
}
.mod_footer .sub .enlaces li:last-child {
	margin: 0;
}
.mod_footer .sub .grid_4 a, .mod_footer .sub .enlaces a{
	color:#ccc;
	font-size:11px;
	margin-bottom:12px;
}
.mod_footer .sub .grid_4 a:hover, .mod_footer .sub .enlaces a:hover{
	color:#fff;
	text-decoration:underline;
}
/**/.mod_footer .sub .grid_5 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mod_footer .sub .adr {
	font-family: arial;
    font-size: 11px;
    margin-top: 5px;
    text-align: right;
	color: #ccc;
}
.mod_footer .sub .adr span {
	margin: 5px 0;
}
.mod_footer .sub .grid_5 ul{
	overflow:hidden;
	padding:0 0 20px 0;
}
.mod_footer .sub .grid_5 li{
	float:left;
}
.mod_footer .sub .grid_5 a{
	background:url("http://www.antena3.com/static/images/footer_brands_rst.png") no-repeat;
	height:34px;
	text-indent:-5000px;
}
.mod_footer .sub .grid_5 .atres a			{background-position:-5px -40px;width:63px;}
.mod_footer .sub .grid_5 .atres a:hover 	{background-position:-5px 1px;}
.mod_footer .sub .grid_5 .lasexta a 		{background-position:-86px -41px;width:58px;}
.mod_footer .sub .grid_5 .lasexta a:hover 	{background-position:-86px 0;}
.mod_footer .sub .grid_5 .neox a 			{background-position:-146px -41px;width:80px;}
.mod_footer .sub .grid_5 .neox a:hover 		{background-position:-146px 1px;}
.mod_footer .sub .grid_5 .nova a 			{background-position:-234px -41px;width:80px;}
.mod_footer .sub .grid_5 .nova a:hover 		{background-position:-234px 1px;}

.mod_footer .sub .grid_5 .mega a 			{background-position: -862px -38px;
    width: 80px;}
.mod_footer .sub .grid_5 .mega a:hover 		{background-position: -862px 2px;}

.mod_footer .sub .grid_5 .nitro a 			{background-position:-319px -41px;width:70px;}
.mod_footer .sub .grid_5 .nitro a:hover 	{background-position:-319px 3px;}
.mod_footer .sub .grid_5 .xplora a 			{background-position:-326px -41px;width:70px;}
.mod_footer .sub .grid_5 .xplora a:hover 	{background-position:-326px 0;}
.mod_footer .sub .grid_5 .lasexta3 a 		{background-position:-475px -41px;width:70px;}
.mod_footer .sub .grid_5 .lasexta3 a:hover	{background-position:-475px 2px;}
.mod_footer .sub .grid_5 .ondacero a 		{background-position:-401px -41px;
    width:50px;}
.mod_footer .sub .grid_5 .ondacero a:hover	{background-position:-401px 0px;}
.mod_footer .sub .grid_5 .europafm a 		{background-position:-460px -41px;
    width:87px;}
.mod_footer .sub .grid_5 .europafm a:hover	{background-position:-460px 1px;}
.mod_footer .sub .grid_5 .melodiafm a 		{background-position:-546px -41px;
    width:60px;}
.mod_footer .sub .grid_5 .melodiafm a:hover	{background-position:-546px 1px;}
.mod_footer .sub .grid_5 .nubeox a			{background-position:-623px -41px;width:80px}
.mod_footer .sub .grid_5 .nubeox a:hover	{background-position:-623px 2px;}

.mod_footer .sub .grid_5 .atreseries a {background-position: -941px -39px;width: 50px;}
.mod_footer .sub .grid_5 .atreseries a:hover {background-position: -941px -2px;}

.mod_footer .sub .otros a{
	color:#ccc;
	background:none;
	font-size:11px;
	height:auto;
	margin-left:20px;
	text-indent:0;
}
.mod_footer .sub .otros a:hover{
	color:#fff;
	text-decoration:underline;
}
.mod_footer .corporativo{
	color:#ccc;
	padding:0 0 10px;
}
.mod_footer .corporativo span{
	line-height:16px;
}
.mod_footer .corporativo li{
	float:left;
}
.mod_footer .corporativo .omega{
	margin-top:20px;
}
.mod_footer .corporativo .omega li:first-child{
	margin-left:140px;
}
.mod_footer .corporativo .omega li{
	margin-left:20px;
}
.mod_footer .corporativo .omega li a{
	color:#ccc;
	float:left;
}
.mod_footer .corporativo .omega li a:hover{
	color:#fff;
	text-decoration:underline;
}

.mod_footer .sub .grid_5 .neoxkidz a {
    background-position: -813px -41px;
    width: 40px;
}
.mod_footer .sub .grid_5 .neoxkidz a:hover {
    background-position: -813px -1px;
}

.mod_footer .sub .grid_5 .atresplayer a {
    background-position: -723px -41px;
    width: 71px;
}
.mod_footer .sub .grid_5 .atresplayer a:hover {
    background-position: -723px -1px;
}



