/*  --------------------- */
/*  --------------------- */
/*  --------------------- */
/*  ---     mod_nav   --- */
/*  --------------------- */
/*  --------------------- */
/*  --------------------- */
.mod_nav{
	background:#181818;
	border-bottom:1px solid #282828;
	border-top:1px solid #282828;
}
.mod_nav .list{
	float:left;
}
.mod_nav .list a{
	border-bottom:2px solid #181818;
	color:#ccc;
	float:left;
	font-size:14px;
	margin-left:3px;
	padding:8px 15px;
	text-transform:uppercase;
}
.mod_nav .list a:hover,
.mod_nav .list a.active{
	color:#fff;
	border-bottom:2px solid #f90;
}