/*  --------------------------- */
/*  --------------------------- */
/*  --------------------------- */
/*  ---	mod_producto_social	--- */
/*  --------------------------- */
/*  --------------------------- */
/*  --------------------------- */
/*layer legal*/
@import url('mod_registro.css');
@import url('mod_crm.css');
.mod_producto_social {
	margin-bottom:10px;
	overflow:hidden;
	position: relative;
}
.mod_producto_social .btn_black.active .arrow{
	display:block;
}
.mod_producto_social .fn_comentarios_lay{
	overflow:hidden;
	padding:0 10px;
}
.mod_producto_social .fn_comentarios_lay .btn_gray{
	width:271px;
}
.mod_producto_social .fn_comentarios_lay .chapter{
	font-size:13px;
	margin:20px 0 0 40px;
}
.mod_producto_social .fn_comentarios_lay .list{
	font-size:14px;
	line-height:14px;
	margin:40px 0 0;
}
.mod_producto_social .fn_comentarios_lay .primera p{
	padding:0 0 10px 70px;
}
.mod_producto_social .fn_comentarios_lay .list .grid_8{
	line-height:21px;
}
.mod_producto_social .fn_comentarios_lay .list .grid_8 .orange{
	text-decoration:underline;
}
.mod_producto_social .fn_comentarios_lay .form_item {
	float:right;
}
.mod_producto_social .fn_comentarios_lay .form_item .btn_orange{
	width:120px;
}
.mod_producto_social .fn_sinopsis_lay, .mod_producto_social .fn_ayuda_lay{
	background:#000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	color:#efefef;
	font-size:14px;
	line-height:1.4;
	font-family: 'gotham_lightregular';
	margin-bottom:20px;
	padding: 20px;
}

.mod_producto_social .fn_ayuda_lay {
	font-family: 'gotham_mediumregular',arial,helvetica;
	font-size: 15px;
}
.mod_producto_social .fn_ayuda_lay .half {
	width: 220px;
}
.mod_producto_social .fn_ayuda_lay label, .mod_producto_social .fn_ayuda_lay textarea, .mod_producto_social .fn_ayuda_lay select, .mod_producto_social .fn_ayuda_lay input[type=text]{
	width:100%;
	border: 0px;
	display: block;
	clear: both;
	margin: 5px 0;
}
.mod_producto_social .fn_ayuda_lay select, .mod_producto_social .fn_ayuda_lay input[type=text] {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background: #fff;
	line-height: 18px;
	padding: 10px 2%;
}
.mod_producto_social .fn_ayuda_lay input[type=text] {
	padding: 10px 5px;
}
.mod_producto_social .fn_ayuda_lay select {
	width:230px;
}
.mod_producto_social .fn_ayuda_lay .no_clear {
	width: auto;
	vertical-align: top;
	margin: 0 0 0 10px;
	clear: none;
}
.mod_producto_social .form_incidencias .clearfix.mar-t_10{
	position:relative;
}
.mod_producto_social .form_incidencias .clearfix.mar-t_10 .error{
	left:30px;
	position:absolute;
	top:19px;
}
.mod_producto_social .form_incidencias .error{
	color:#d00;
}
.mod_producto_social .fn_ayuda_lay .txt {
	font-size: 12px;
	line-height: normal;
	padding: 0 10px;
	margin-bottom: 20px;
	color: #bbb;
}
.mod_producto_social .fn_ayuda_lay .txt ul{
	list-style: disc;
}
.mod_producto_social .fn_ayuda_lay .txt ul li{
	display: list-item;
	color: #bbb;
}
.mod_producto_social .fn_window_lay .reg_white {
	height: 575px;
}
.mod_producto_social .fn_window_lay .rollover {
	max-height: 500px;
}
.mod_producto_social .capadatosuser {
	background: #181818;
	border: 1px solid #757575;
	color: #f0f0f0;
	font-family: verdana;
	font-size: 12px;
	line-height: 150%;
	padding: 10px;
	width:50%;
	margin:20px auto 0 auto;
}
	
.mod_producto_social .paginador{
	font-size:14px;
	margin:0 0 20px 250px;
}
.mod_producto_social .paginador li{
	display:inline-block;
	margin-right:6px;
}
.mod_producto_social .paginador li span{
	display:inline-block;
	width:10px;
	height:10px;
	background:url("../imgs/sprite-icons.png") no-repeat;
	cursor:pointer;
}
.mod_producto_social .paginador li .first{
	background-position:-12px -2347px;
}
.mod_producto_social .paginador li .prev{
	background-position:-12px -2371px;
}
.mod_producto_social .paginador li .next{
	background-position:-12px -2394px;
}
.mod_producto_social .paginador li .last{
	background-position:-12px -2418px;
}
.mod_producto_social .paginador a{
	color:#ff9900;
	padding-bottom:3px;
}
.mod_producto_social .paginador a.on{
	color:#fff;
}


