/*  ----------------------- */
/*  ----------------------- */
/*  ----------------------- */
/*  ---		mod_promo	--- */
/*  ----------------------- */
/*  ----------------------- */
/*  ----------------------- */
.mod_promo{
	overflow:hidden;
	position:relative;
	margin-bottom:20px;
}
.mod_promo img{
    text-indent:-5000px;
    width:100%;
}
.grid_4 .mod_promo {
	height: 205px;
}
.alt_live .grid_4 .mod_promo {
	height: auto;
}
.grid_3 .mod_promo {
	height: 150px;
}
.mod_promo.distributiva_directos {
	height: auto;
}
/*
.mod_promo img{
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	text-indent: -5000px;
}
.grid_12 .mod_promo > a{width:976px;height:370px;}
.grid_8 .mod_promo > a {width:644px;height:430px;}
.grid_6 .mod_promo > a {width:478px;height:318px;}
.grid_4 .mod_promo > a {width:312px;height:205px;}
.grid_3 .mod_promo > a {width:229px;height:149px;}
*/

/*.grid_8 .mod_promo.distributiva_directos > a{width:644px;height:279px;}*/
/*.grid_6 .mod_promo.distributiva_directos > a{width:478px;height:198px;}*/
/*.grid_4 .mod_promo.distributiva_directos > a{width:312px;height:135px;}*/
/*.grid_3 .mod_promo.distributiva_directos > a{width:229px;height:99px;}*/
.mod_promo > a{
	background:#282828 url('../imgs/bg_img.gif') no-repeat center center;
	display:block;
}

/*--- iconos ---*/
.mod_promo .iconos{
	position:absolute;
	top:8px;
	right:8px;
	width:35px;
}
.mod_promo .iconos > p{
	width:35px;
	height: 35px;
	margin-bottom:5px;
	display:block;
	float:right;
	filter:alpha(opacity=50);
	-webkit-opacity:.5;
	-moz-opacity:.5;
	opacity:.5;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#000;
	background-image:url('../imgs/sprite-icons.png');
	background-position:0 0;
	background-repeat:no-repeat;
}
.mod_promo:hover .iconos > p{
	filter:alpha(opacity=90);
	-webkit-opacity:.9;
	-moz-opacity:.9;
	opacity:.9;
}
.mod_promo .iconos .cadena{
	font-size: 15px;
	height: 25px;
	line-height: 15px;
	padding: 10px 0 0 10px;
	text-indent:-5000px;
	text-transform: uppercase;
	width: 25px;
}
.mod_promo.directo .iconos .cadena{
	color:#f00;
	filter:alpha(opacity=90);
	-webkit-opacity:.9;
	-moz-opacity:.9;
	opacity:.9;
	text-indent:0;
	width: 115px;
	background-position: right 0;
}
.mod_promo.directo.sexta .iconos .cadena	{background-position:right -45px}
.mod_promo.directo.neox .iconos .cadena		{background-position:right -90px}
.mod_promo.directo.nova .iconos .cadena		{background-position:right -135px}
.mod_promo.directo.nitro .iconos .cadena	{background-position:right -742px}
.mod_promo.directo.xplora .iconos .cadena	{background-position:right -180px}
.mod_promo.directo.sexta3 .iconos .cadena	{background-position:right -775px}
.mod_promo.directo.oc .iconos .cadena		{background-position:right -851px}
.mod_promo.directo.om .iconos .cadena		{background-position:right -3535px}
.mod_promo.directo.atres .iconos .cadena	{background-position:right -3503px}
.mod_promo.directo.efm .iconos .cadena		{background-position:right -813px}
.mod_promo.directo:hover .iconos .cadena{
	color:#fff;
}
.mod_promo.distributiva_directos{
	width: auto;
}
.grid_6 > .mod_promo.distributiva_directos img{ 
	width: 100%;
	height: 208px;
}
.mod_promo .iconos .play{
	background-position:right -223px;
	overflow:hidden;
}
.mod_promo .iconos .play a,
.mod_promo .iconos .play span{
    float: right;
    font-size: 12px;
    padding: 0 35px 0 0;
	line-height: 35px;
	text-overflow: ellipsis;
    white-space: nowrap;
    width: 132px;
}
.mod_promo .iconos .play a:hover,
.mod_promo .iconos .play span:hover{
	color:#fff;
}
.mod_promo:hover .iconos .play		{padding-left:144px;}
.mod_promo .iconos .preestreno		{background-position:right -269px;}
.mod_promo .iconos .premium			{background-position:right -314px;}
.mod_promo .iconos .sitio-externo	{background-position:right -362px;}
.mod_promo .iconos .user	{background-position:right -3712px;}

/*--- info ---*/
.mod_promo .info{
	background:url("../imgs/opacity_2.png") repeat;
	/*bottom:-8px;*/
	bottom: 0;
	display:block;
	left:0;
	/*padding:5px 2% 20px;*/
	position:absolute;
	/*width:98%;*/
	width: 100%;
}
.mod_promo .info > h2, .mod_promo .info > a, .mod_promo .info > h3, .mod_video .info > h2, .mod_video .info > a, .mod_video .info > h3{
	margin: 8px 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mod_promo.distributiva_directos .info{
	/*height: 36px;*/
}
.mod_promo .info a{
	color:#f90;
    font-size:16px;
    font-weight:normal;
    line-height:18px;
    /*margin-bottom:3px;*/
	overflow: hidden;
    text-overflow: ellipsis;
}
.mod_promo .info > *:last-child {
	margin-bottom: 8px;
}
.mod_promo.antena3 .info a	{color:#F08A00;}
.mod_promo.sexta .info a	{color:#3FBD00}
.mod_promo.neox .info a		{color:#FFCF01}
.mod_promo.nova .info a		{color:#EE2B74}
.mod_promo.nitro .info a	{color:#fdde2c}
.mod_promo.xplora .info a	{color:#db000b}
.mod_promo.sexta3 .info a	{color:#0078CE}
.mod_promo.oc .info a		{color:#008108}
.mod_promo.om .info a		{color:#e87826}
.mod_promo.atres .info a	{color:#fe3600;}
.mod_promo.efm .info a		{color:#FD6D1C}
.mod_promo.nubeox .info a	{color:#fff}
.mod_promo.mega .info a	{color:#db000b;}
.mod_promo.atreseries .info a	{color:#ff4600;}
.mod_promo .info .segunda-linea{
	font-family: 'gotham_lightregular';
	font-size:14px;
    line-height: 14px;
	color:#fff;
	filter:alpha(opacity=60);
	-webkit-opacity:.6;
	-moz-opacity:.6;
	opacity:.6;
	
	display: block;
	margin: 2px 0 10px 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mod_promo.distributiva_directos .info a{
	text-transform: uppercase;
}
.mod_promo.distributiva_directos .hora {
	display: none;
}
.mod_promo:hover .info .segunda-linea{
    filter:alpha(opacity=100);
    -webkit-opacity:1;
    -moz-opacity:1;
    opacity:1;
}
/*.mod_promo:hover .info{
	bottom:0;
}
.grid_3 .mod_promo:hover .info{
	bottom:-4px;
}*/
.mod_promo .info,
.mod_promo .play,
.mod_promo .iconos p,
.mod_promo .info span{
	-moz-transition:all 0.4s;
	-o-transition:all 0.4s;
	transition:all 0.4s;
}
.mod_promo .iconos p {
	-webkit-transition-property:padding, background;
		-webkit-transition-duration:0.4s;
}

/*  ----------------------- */
/*  ----------------------- */
/*  ----------------------- */
/*  ---		mod_video	--- */
/*  ----------------------- */
/*  ----------------------- */
/*  ----------------------- */
.mod_video{
	overflow:hidden;
	position:relative;
	margin-bottom:20px;
}

/*
.mod_video img{
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
.grid_8 .mod_video > a{width:644px;height:430px;}
.grid_6 .mod_video > a{width:478px;height:318px;}
.grid_4 .mod_video > a{width:312px;height:205px;}
.grid_3 .mod_video > a{width:229px;height:149px;}
*/
.mod_video > a{
	background:#282828 url('../imgs/bg_img.gif') no-repeat center center;
	display:block;
}


/*--- iconos ---*/
.mod_video .iconos{
	position:absolute;
	left:134px;
	top:60px;
}
.mod_video .iconos a{
	background:#000 url('../imgs/sprite-icons.png') no-repeat center -218px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:block;
	height:45px;
	filter:alpha(opacity=60);
	-webkit-opacity:.6;
	-moz-opacity:.6;
	opacity:.6;
	overflow:hidden;
	text-indent:-5000px;
	width:45px;
}
.mod_video:hover .iconos a{
	filter:alpha(opacity=90);
	-webkit-opacity:.9;
	-moz-opacity:.9;
	opacity:.9;
}
.grid_8 .mod_video .iconos{
	left:287px;
	top:180px;
}
.grid_8 .mod_video .iconos a{
	background-position:center -3201px;
	height:70px;
	width:70px;
}

/*--- info ---*/
.mod_video .info{
	background:url("../imgs/opacity_2.png") repeat;	
	/*bottom:-8px;*/
	bottom: 0;
	display:block;
	left:0;
	/*padding:5px 2% 20px;*/
	position:absolute;
	/*width:98%;*/
	width: 100%;
}
.mod_video .info a{
    /*color:#f90;*/
    font-size:16px;
    font-weight:normal;
    line-height:18px;
    margin-bottom:3px;
}
.mod_video .info .segunda-linea{
    color:#fff;
	font-family: 'gotham_lightregular';
	font-size:14px;
	line-height: 14px;
	filter:alpha(opacity=60);
	-webkit-opacity:.6;
	-moz-opacity:.6;
	opacity:.6;
	
	display: block;
	margin: 2px 0 10px 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mod_video:hover .info .segunda-linea{
	filter:alpha(opacity=100);
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
}
/*.mod_video:hover .info{
	bottom:0;
}
.grid_3 .mod_video:hover .info{
	bottom:-4px;
}*/
.mod_video .info,
.mod_video .play,
.mod_video .iconos p,
.mod_video .info span{
	-moz-transition:all 0.4s;
	-o-transition:all 0.4s;
	transition:all 0.4s;
}
.mod_video .iconos p {
	-webkit-transition-property:padding, background;
		-webkit-transition-duration:0.4s;
}







