/*  --------------------------- */
/*  --------------------------- */
/*  --------------------------- */
/*  ---		mod_alfabeto	--- */
/*  --------------------------- */
/*  --------------------------- */
/*  --------------------------- */
.mod_alfabeto{
	background:#000;
}
.mod_alfabeto .chapter_b{
	margin-bottom:24px;
	font-size:19px;
}
.mod_alfabeto .letras{
	margin-bottom:22px;
}
.mod_alfabeto .letras a{
	font-size:17px;
	float:left;
	margin-right:20px;
	text-transform:uppercase;
}
.mod_alfabeto .letras a:last-child{
	margin-right:0;
}
.mod_alfabeto .list li{
	float:left;
	margin:0 10px 10px 0;
	width:312px;
}
.mod_alfabeto .list a{
	font-size:13px;
	line-height:15px;
}

/* wrapper */
.central .mod_alfabeto .content{
	margin-bottom:20px;
	padding:20px;
}
/* shell */
.central .shell .mod_alfabeto{
	border-bottom:solid #444 1px;
	position:relative;
	z-index:999;
}
.central .shell .mod_alfabeto .content{
	margin:0 auto;
	padding:20px;
	width:976px;
}



