/*  ------------------- */
/*  ------------------- */
/*  ------------------- */
/*  ---	mod_banner	--- */
/*  ------------------- */
/*  ------------------- */
/*  ------------------- */
.mod_banner{
	background:#000;
	padding:25px 20px 25px 0;
}
.mod_banner p{
	background:url("../imgs/sprite-icons-3.png") no-repeat transparent;
	float:left;
	margin-left:20px;
	padding:5px 0 10px 0;
	width:180px;
}
.mod_banner .item_1{background-position:0 3px; padding-left:75px;}
.mod_banner .item_2{background-position:0 -53px; padding-left:55px;}
.mod_banner .item_3{background-position:0 -114px; padding-left:60px;}
.mod_banner .btn_orange{padding:20px;}