/*	---------------------------------------	*/
/*	---------------------------------------	*/
/*	---------------------------------------	*/
/*	---		helpers no semanticos		---	*/
/*	--------------------------------------- */
/*	---------------------------------------	*/
/*	---------------------------------------	*/

/* temps */
	/*
	body{
		background:#222 url('../../../design/web/resources/AZ.png') center -10px no-repeat;
	}
	.black_13{
		background:none !important;
	}
	.central{
		min-height:2000px;
	}
	.grid{
		background:url('../../../design/web/resources/grid.png') center center repeat-y;
		height:5000px;
		overflow:hidden;
		position:absolute;
		text-indent:-5000px;
		width:100%;
		z-index:-1000;
	}
	*/

/* layout */
	body{
		background-color:#222;
	}

	.central.black{
		border-bottom:1px solid #444;
	}
	li, a{
		color:#fff;
		display:block;
		text-decoration:none;
	}
	strong {
		font-family: 'gotham_boldregular';
		font-weight: normal;
	}
	body a:hover{color:#f90;cursor:pointer;}
	body .shell{
		color:#fff;
		font:62.5% 'gotham_mediumregular', arial, helvetica;
		line-height:100%;
	}
	/*cookies*/
	.capa_cookies{
		background:url("../imgs/opacity_2.png") repeat;
		position:relative;
		top: 0;
		width:100%;
		z-index:9999;
		display: none;
	}
	.center_cookies {
		margin: 0 auto;
		padding: 20px;
		width: 1000px;
	}
	.center_cookies .left {
		font-family: arial, helvetica;
		font-size: 13px;
		line-height: normal;
		color: #ccc;
	}
	.center_cookies .left strong {
		font-family: arial, helvetica;
		font-weight: bold;
	}
	.center_cookies .chapter_f {
		font-size: 24px;
		line-height: 33px;
		margin-right: 25px;
	}
	

/* pantalla */
	.hide		{display:none;}
	.block		{display:block;}
	.inline 	{display:inline;}
	.absolute 	{position:absolute;}
	.relative 	{position:relative;}
	.over		{overflow:hidden;}

/* float */
	.left,
	.left_2,
	.left_3 	{float:left;}

	.right,
	.right_2,
	.right_3	{float:right;}
	
	.clear {clear: both;}
	.no_clear {clear: none;}

/* espacio */
	.pad_10		{padding:10px;}
	.pad_20		{padding:20px;}
	.pad-h_10	{padding-left:10px; padding-right:10px;}
	.pad-v_20	{padding-top:20px; padding-bottom:20px;}
	.pad-t_10	{padding-top:10px;}
	.pad-b_10	{padding-bottom:10px;}
	.pad-b_20	{padding-bottom:20px;}
	.mar-h_10	{margin-left:10px; margin-right:10px}
	.mar-h_5	{margin-left:5px; margin-right:5px}
	.mar-h_20	{margin-left:20px; margin-right:20px}
	.mar-v_10	{margin-top:10px; margin-bottom:10px}
	.mar-v_20	{margin-top:20px; margin-bottom:20px}
	.mar-v_50	{margin-top:50px; margin-bottom:50px}
	.mar-b_5	{margin-bottom:5px}
	.mar-b_10	{margin-bottom:10px}
	.mar-b_15	{margin-bottom:15px}
	.mar-b_20	{margin-bottom:20px}
	.mar-b_30	{margin-bottom:30px}
	.mar-b_40	{margin-bottom:40px}
	.mar-b_100	{margin-bottom:100px}
	.mar-l_10	{margin-left:10px}
	.mar-l_20	{margin-left:20px}
	.mar-l_80	{margin-left:80px}
	.mar-l_100	{margin-left:100px}
	.mar-r_5	{margin-right:5px}
	.mar-r_10	{margin-right:10px}
	.mar-r_20	{margin-right:20px}
	.mar-r_30	{margin-right:30px}
	.mar-r_50	{margin-right:50px}
	.mar-t_5	{margin-top:5px}
	.mar-t_10	{margin-top:10px}
	.mar-t_20	{margin-top:20px}


	.mar-b_5 a	{
		color: orange;
		display: inline;
	}
	
/* text */
	.center 		{text-align:center;}
	body .red,
	body .mod_reg .mensaje .red	{color:#d00;}
	body .white		{color:#fff;}
	body .orange	{color:#f90;}
	body .color_0	{color:#000;}
	body .color_1	{color:#111;}
	body .color_2	{color:#222;}
	body .color_3	{color:#333;}
	body .color_4	{color:#444;}
	body .color_5	{color:#555;}
	body .color_6	{color:#666;}
	body .color_7	{color:#777;}
	body .color_8	{color:#888;}
	body .color_9	{color:#999;}
	.arial			{font-family:Arial,Helvetica,sans-serif;}
	.chapter_a{
		color:#fff;
		font-size:28px;
		line-height:28px;
	}
	.chapter_b{
		color:#fff;
		font-size:14px;
		line-height:14px;
		text-transform:uppercase;
	}
	.chapter_c{
		color:#fff;
		font-size:18px;
		line-height:18px;
	}
	.chapter_d{
		color:#fff;
		font-size:14px;
		line-height:18px;
	}
	.chapter_d_2{
		color:#fff;
		font-size:13px;
		line-height:normal;
	}
	.chapter_d_light{
		color:#fff;
		font-family:'gotham_lightregular',arial,helvetica;
		font-size:13px;
		line-height:normal;
	}
	.chapter_e{
		color:#fff;
		font-size:18px;
		line-height:18px;
		text-transform:uppercase;
	}
	.chapter_f{
		color:#666;
		font-family:'gotham_lightregular',arial,helvetica;
		font-size:28px;
		line-height:28px;
	}
	.chapter_g{
		font-family:'gotham_boldregular',arial,helvetica;
		font-size:18px;
		line-height:18px;
		text-transform:uppercase;
	}
	.chapter_h,
	.mod_reg .mensaje .text.chapter_h{
		color:#f90;
		font-size:10px;
		line-height:10px;
	}
	.chapter_i{
		color:#000;
		font-family:'gotham_lightregular',arial,helvetica;
		font-size:28px;
		line-height:28px;
	}
        .chapter_info {
            background: url("../imgs/info.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
            color: #fff;
            font-size: 14px;
            line-height: 14px;
            padding-left: 25px;
        }

/* backgrounds */
	.black_13{
		background:#131313;
		padding-bottom:20px;		
		padding-top: 20px;
	}
	.container_12.black_13 {
		min-height: 500px;
	}
	.black{
		background:#000;
	}
	.bg_white{
		background:#fff;
	}
	/*Para estaticas con fondo blanco*/
	.static_white {
		color: #555;
		font-size:12px;
		background: #fff;
		line-height: normal;	
	}
	.static_white p {
		margin-bottom: 10px;
	}
	.static_white .chapter {
		font-weight: bold;
		font-size: 14px;
	}

/*  ----------------------- */
/*  ----------------------- */
/*  ----------------------- */
/*  ---     genericos   --- */
/*  ----------------------- */
/*  ----------------------- */
/*  ----------------------- */
	.full {
		width: 100%;
	}
	.separador{
		height:32px;
		background:url('../imgs/separador.png') no-repeat;
	}
	.separador_b{
		background:#111;
		box-shadow:0 1px 0 0 #333;
		clear:both;
		height:1px;
	}
	.loading{
		background:url("../imgs/opacity_2.png") repeat;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 500;
	}
	.central > .loading{
		left:0;
		position:fixed;
		top:0;
		z-index:700;
	}
	.loading p{
		background:url("../imgs/ajax-loader.gif") no-repeat center center #000;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		clear:both;
		float:right;
		height:150px;
		left:42.5%;
		overflow:hidden;
		position:absolute;
		text-indent:-5000px;
		top:36%;
		transition:all 0.4s ease 0s;
		-webkit-transition:all 0.4s ease 0s;
		-moz-transition:all 0.4s ease 0s;
		-ms-transition:all 0.4s ease 0s;
		-o-transition:all 0.4s ease 0s;
		transition:all 0.4s ease 0s;
		width:150px;
	}
	.grid_8 .loading p,
	.grid_6 .loading p,
	.grid_4 .loading p,
	.grid_3 .loading p{
		background-image:url("../imgs/ajax-loader_3.gif");
	}
	.grid_8 .loading p,
	.grid_6 .loading p{
		height:90px;
		width:90px;
	}
	.grid_4 .loading p{
		height:60px;
		left:40%;
		top:29%;
		width:60px;
	}
	.grid_3 .loading p{
		height:40px;
		top:47px;
		width:40px;
	}
	.mod_player .loading{
		background:none;
	}
	.mod_player .loading p{
		-moz-border-radius:14px;
		-webkit-border-radius:14px;
		border-radius:14px;
		height:160px;
		left:408px;
		top:195px;
		width:160px;
	}

/* btns */
	.btn_orange,
	input.btn_orange,
	.mod_reg .form_item .left input.btn_orange,
	.mod_reg .form_item.error .left input.btn_orange{
		background:#f90;
		border:none;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
		color:#fff;
		cursor:pointer;
		font-size:14px;
		font-weight:bold;
		padding:10px;
		text-align:center;
		text-shadow:1px 1px #888;
		text-transform:uppercase;
		width:100px;
		line-height: normal;
	}
	.btn_orange:hover{background:#fb0;color:#fff;}
	.btn_gray{
		background:url("../imgs/sprite-icons.png") no-repeat right -1010px #2c2c2c;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:none;
		color:#fff;
		cursor:pointer;
		font-size:16px;
		font-weight:bold;
		padding:17px;
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
		text-shadow:1px 1px #777;
	}
	.btn_orange.load_icon{
		background:#f90 url("../imgs/ajax-loader_2.gif") no-repeat center center;
		cursor:default;
		text-indent:-5000px;
	}
	.btn_gray:hover{background-position:right -1038px;}
	.btn_gray_off{
		background:#222;
		border:none;
		color:#fff;
		cursor:pointer;
		font-size:14px;
		padding:10px;
		text-align:center;
		text-transform:uppercase;
		text-shadow:1px 1px #777;
	}
	.btn_gray_off:hover{background:#000;color:#fff;}
	.btn_black{
		background:url("../imgs/sprite-icons.png") no-repeat right -1016px  #000;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:none;
		cursor:pointer;
		font-size:16px;
		padding:12px 35px 13px 15px;
		position:relative;
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
		/*text-shadow:1px 1px #777;*/
	}
	.btn_black:hover,
	.btn_black.active{background-position:right -1044px;color:#f90;}
	.btn_black .arrow{
		background:url("../imgs/sprite-icons.png") no-repeat center -1775px;
		height:6px;
		left:20px;
		position:absolute;
		top:100%;
		width:12px;
	}

/* tooltip */
	.white_box_link{
		position:relative;
	}
	.white_box{
		display:none;
		padding-top:10px;
		position:absolute;
		z-index:800;
	}
	.white_box .arrow_top{
		background:url("../imgs/sprite-icons.png") no-repeat right -563px transparent;
		display:block;
		height:10px;
		position:absolute;
		top:0;
		width:25px;
		z-index:100;
	}
	.white_box .solid{
		background:white;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		box-shadow:3px 3px 5px rgba(0, 0, 0, 0.5);
		color:#777;
		height:auto;
		position:absolute;
		width:100%;
	}
	.white_box .solid a{
		color:#f90;
		text-shadow:1px 1px #000;
	}

/* lightbox */
	.overlay{
		background:url("../imgs/opacity_1.png") repeat;
		height:100%;
		left:0;
		position:fixed;
		top:0;
		width:100%;
		z-index:1000;
	}
	.lightbox_lay .opacity{
		background:#fff;
		padding:10px;
		position:fixed;
		top:150px;
		z-index:1100;
	}
	.lightbox_lay .solid{
		background:white;
		color:#555;
		padding:10px;
	}
	.lightbox_lay .solid p{
		color:#555;
	}
	.lightbox_lay .orange:hover{
		color:#555;
	}
	.lightbox_lay .btn_gray,
	.lightbox_lay .btn_orange{
		border-radius:0;
		color:#fff;
		font-size:15px;
		line-height:15px;
		padding:11px 15px;
		text-align:center;
		text-shadow:1px 1px #777;
		text-transform:uppercase;
	}
	.lightbox_lay .btn_gray{
		background:#2c2c2c;
	}

/* iconos */
	.icon_35.cadena{
		background:#000 url('../imgs/sprite-icons.png') no-repeat;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		display:block;
		float:left;
		height:35px;
		margin:8px 8px 0 0;
		-moz-opacity:.40;
		filter:alpha(opacity=40);
		opacity:.40;
		text-indent:-5000px;
		transition:all 0.4s ease 0s;
		-webkit-transition:all 0.4s ease 0s;
		-moz-transition:all 0.4s ease 0s;
		-ms-transition:all 0.4s ease 0s;
		-o-transition:all 0.4s ease 0s;
		transition:all 0.4s ease 0s;
		width:35px;
	}
	.icon_35.cadena:hover{
		-moz-opacity:1;
		filter:alpha(opacity=100);
		opacity:1;
	}
	.sexta .iconos .cadena,
	.sexta .cadena			{background-position:0 -45px}
	.neox .iconos .cadena,
	.neox .cadena			{background-position:0 -90px}
	.nova .iconos .cadena,
	.nova .cadena			{background-position:0 -135px}
	.nitro .iconos .cadena,
	.nitro .cadena			{background-position:0 -742px}
	.xplora .iconos .cadena,
	.xplora .cadena			{background-position:0 -3917px}
	.sexta3 .iconos .cadena,
	.sexta3 .cadena			{background-position:0 -775px}
	.oc .iconos .cadena,
	.oc .cadena				{background-position:0 -851px}
	.om .iconos .cadena,
	.om .cadena				{background-position:0 -3535px}
	.atres .iconos .cadena,
	.atres .cadena			{background-position:0 -3503px}
	.efm .iconos .cadena,
	.efm .cadena			{background-position:0 -813px}
	.nubeox .iconos .cadena,
	.nubeox .cadena			{background-position:0 -883px}
	.mega .iconos .cadena,
	.mega .cadena			{background-position:0 -3917px}
	.atreseries .iconos .cadena,
	.atreseries .cadena			{background-position:0 -3961px}		
	.antena3:hover .iconos .cadena,
	.antena3:hover .cadena	{background-color:#FF9900}
	.sexta:hover .iconos .cadena,
	.sexta:hover .cadena	{background-color:#3FBD00}
	.neox:hover .iconos .cadena,
	.neox:hover .cadena		{background-color:#FFCF01}
	.nova:hover .iconos .cadena,
	.nova:hover .cadena		{background-color:#EE2B74}
	.nitro:hover .iconos .cadena,
	.nitro:hover .cadena	{background-color:#fdde2c}
	.sexta3:hover .iconos .cadena,
	.sexta3:hover .cadena	{background-color:#0078CE}
	.oc:hover .iconos .cadena,
	.oc:hover .cadena		{background-color:#008108}
	.om:hover .iconos .cadena,
	.om:hover .cadena		{background-color:#e87826}
	.atres:hover .iconos .cadena,
	.atres:hover .cadena	{background-color:#fe3600}
	.efm:hover .iconos .cadena,
	.efm:hover .cadena		{background-color:#FD6D1C}
	.nubeox:hover .iconos .cadena,
	.nubeox:hover .cadena	{background-color:#000}
	.xplora:hover .iconos .cadena,
	.xplora:hover .cadena,	/*{background-color:#105A9D}*/
	.mega:hover .iconos .cadena,
	.mega:hover .cadena	{background-color:#db000b}
	.atreseries:hover .iconos .cadena,
	.atreseries:hover .cadena {background-color:#ff4600}	
	.icon_35.social{
		background:#000 url('../imgs/sprite-icons.png') no-repeat;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		height:35px;
		text-indent:-5000px;
		transition:all 0.4s ease 0s;
		-webkit-transition:all 0.4s ease 0s;
		-moz-transition:all 0.4s ease 0s;
		-ms-transition:all 0.4s ease 0s;
		-o-transition:all 0.4s ease 0s;
		transition:all 0.4s ease 0s;
		width:35px;
	}
	.icon_35.twitter	{background-position:center -1337px;}
	.icon_35.facebook	{background-position:center -1375px;}
	.icon_35.plus		{background-position:center -1414px;}

	.icon_35.info{
		background:#000 url('../imgs/sprite-icons.png') no-repeat;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		display:block;
		float:left;
		height:35px;
		text-indent:-5000px;
		transition:all 0.4s ease 0s;
		-webkit-transition:all 0.4s ease 0s;
		-moz-transition:all 0.4s ease 0s;
		-ms-transition:all 0.4s ease 0s;
		-o-transition:all 0.4s ease 0s;
		transition:all 0.4s ease 0s;
		width:35px;
	}
	.icon_35.tfno			{background-position:0 -1454px}
	.icon_35.mail			{background-position:0 -1491px}
	.icon_35.url			{background-position:0 -2960px}
	.icon_35.micro			{background-position:0 -2999px}
	.icon_35.descarga		{background-position:0 -3038px}
	.icon_35.suscripcion	{background-position:0 -3314px}

/* forms */
	.form_item textarea{
		border:medium none;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		color:#666;
		font-family:'gotham_mediumregular',arial,helvetica;
		font-size:14px;
		line-height:21px;
		padding:5px;
	}

/*  ----------------- */
/*  ----------------- */
/*  ----------------- */
/*  ---	modulos   --- */
/*  ----------------- */
/*  ----------------- */
/*  ----------------- */

/* mod_registro */
	.mod_registro{
		background:url("../imgs/opacity_2.png") repeat;
		left:0;
		top:0;
		position:fixed;
		height:100%;
		width:100%;
		z-index:2100;
	}
	.mod_registro > .relative{
		margin-left:auto;
		margin-right:auto;
		top:10%;
		width:1024px;
	}
	.mod_registro > .relative iframe{
		width:1024px;
	}
	.mod_registro .close{
		background:url("../imgs/sprite-icons.png") no-repeat center -1866px;
		height:10px;
		position:absolute;
		right:15px;
		text-indent:-5000px;
		top:23px;
		width:10px;
	}

/*  ------------------------ */
/*  ------------------------ */
/*  ------------------------ */
/*  ---     publicidad   --- */
/*  ------------------------ */
/*  ------------------------ */
/*  ------------------------ */

	.container_12{
		position:static;
	}
	.mod_header .top .container_12{
		background:#181818;
		padding:0 10px;
	}
	.mod_header .central .container_12{
		background:#000;
		padding:0 10px 5px;
	}
	.mod_nav .container_12{
		background:#181818;
		border-bottom:1px solid #282828;
		border-top:1px solid #282828;
		padding:0 10px 0 10px;
		margin-bottom:-1px;
		margin-top:-1px;
		padding:0 10px;
	}
	.bg_fixed{
		height:100%;
		padding:0;
		position:relative;/*afecta al player deltatre*/
		width:100%;
		top: 0;
	}
	#bannerLeft{
		height:100%;
		left:0;
		position:absolute;
		top:0;
		width:50%;
	}
	#bannerRight{
		height:100%;
		right:0;
		position:absolute;
		top:0;
		width:50%;
	}
	#bannerTop{
		margin-left:auto;
		margin-right:auto;
		width:976px;
		min-height: 90px;
	}
	#bannerTop span.publi{
		background:url("../imgs/sprite-icons.png") no-repeat scroll -30px -3107px transparent;
		display:block;
		height:90px;
		left:-13px;
		position:absolute;
		text-indent:-5000px;
		width:8px;
	}
	#topClick{
	    cursor: pointer;
	    display: none;
	    height: 100px;
	    left: 0;
	    position:absolute;
	    top: 0;
	    width: 996px;
	}
	#sasIabBill{
		background:#131313;
		margin-left:auto;
		margin-right:auto;
		overflow:hidden;
		width:976px;
	}
	.central .shell.publi{
		background:none;
	}
	.central .shell.publi .mod_alfabeto{
		background:none;
		border:none;
	}
	.central .shell.publi .mod_alfabeto .content{
		border-bottom: 1px solid #444;
		background:#000;

	}
	.mod_footer.publi .sub{
		background:none;
		padding:0;
	}
	.mod_footer.publi .sub > .container_12{
		background:#333333;
		background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background:-moz-linear-gradient(top, #333333 0%, #212121 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#212121));
		background:-webkit-linear-gradient(top, #333333 0%,#212121 100%);
		background:-o-linear-gradient(top, #333333 0%,#212121 100%);
		background:-ms-linear-gradient(top, #333333 0%,#212121 100%);
		background:linear-gradient(to bottom, #333333 0%,#212121 100%);
		filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#212121',GradientType=0 );
		border-bottom:3px solid #f90;
		margin-bottom:-3px;
		padding:40px 10px 0;
	}
	.publi_shell object{
        display: block;
        margin-bottom: 20px;
	}
	.mod_player {
		background: #000;
		margin-bottom: 10px;
	}
	.publi_ret{
		z-index: 999;
		position: relative;
	}
	
	
        .grid_4 .mod_roba {
            background: #282828;
            margin: auto;
            padding-bottom: 10px;
            text-align: center;
        }
        .grid_4 .mod_roba .publi_horizontal {
            display: block;
            padding-left: 6px;
            text-align: left;
        }
	
	
/* Estilos contenido no disponible */	
        .internacional .contenido-no-disponible {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1111;
        }

/* Botón control parental */	
.btn_cp {
	border: medium none;
	border-radius: 5px;
	cursor: default;
	font-size: 16px;
	padding: 12px 15px 13px 15px;
	position: relative;
	transition: none 0s ease 0s;
	background-color: #000000;
	color: #ccc;
}
