﻿/*body{
	margin: 10px;
	padding: 10px;
}
.vjs-big-play-button{
	display: none !important;
}
.video-js.vjs-default-skin .vjs-big-play-button {
	display: none !important;
}
.vjs-paused .vjs-big-play-button {
	display: none !important;
}
.vjs-default-skin.vjs-paused .vjs-big-play-button {
	display: none !important;
}*/