@font-face{
	font-family:VideoJS;src:url(../fonts/vjs_atresp.eot);
	src:url(../fonts/vjs_atresp.eot?#iefix) format('embedded-opentype'),url(../fonts/vjs_atresp.woff) format('woff'),url(../fonts/vjs_atresp.ttf) format('truetype');
	font-weight:400;
	font-style:normal;
}
.videocontent{
	position:relative;
}
.vjs-atresplayer-skin {
    color: #AAAAAA;
}
.vjs-atresplayer-skin .vjs-control-bar {
    background-color: #000000;
	border:1px solid #333333;
}
.vjs-atresplayer-skin .vjs-control-bar {
    bottom: 0;
    height: 4em;
    left: 0;
    position: absolute;
    right: 0;
	padding:4px;
}

.vjs-atresplayer-skin .vjs-controls {
    color: #FFFFFF;
    height: 43px;
    opacity: 1;
    width: 90%;
    margin: 0 auto;
}

.vjs-atresplayer-skin .vjs-controls {
    -moz-border-radius: 0 0 0 0;
    -moz-box-shadow: none;
    -webkit-border-radius: 0 0 0 0;
    -webkit-box-shadow: none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    background: none;
    height: 40px;
    padding: 0;
    text-align: center;
    bottom: 3px;
    border: 0;
    border: 0px;
}

    .vjs-atresplayer-skin .vjs-controls > div {
        -moz-border-radius: 0 0 0 0;
        -moz-box-shadow: none;
        -webkit-border-radius: 0 0 0 0;
        -webkit-box-shadow: none;
        border-radius: 0 0 0 0;
        box-shadow: none;
        height: 40px;
        padding: 0;
        text-align: center;
        bottom: 0;
        border: 0px;
    }

/** Buttons
 * -------------------------------------------------------------------------------
 */
.vjs-atresplayer-skin .vjs-control:before {
    font-family: VideoJS;
    font-size: 2.5em;
    left: 0;
    line-height: 1.4;
    position: absolute;
    text-align: center;
	text-shadow: 0 0 0 none;
	-moz-text-shadow: 0 0 0 none;
	-webkit-text-shadow: 0 0 0 none;
    top: 4px;
    width: 100%;
	color:#AAAAAA;
	background-color:#252525;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: none;
	-webkit-border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: none;
	border-radius: 4px 4px 4px 4px;
	box-shadow: none;
	width:34px;
	height:34px;
	margin:0px;
}
.ie11 .vjs-atresplayer-skin .vjs-control:before {
    font-size: 0.7em;
}
.vjs-atresplayer-skin .vjs-control:focus:before, .vjs-atresplayer-skin .vjs-control:hover:before {
	color:#FFFFFF;
	text-shadow: 0 0 0 none;
	-moz-text-shadow: 0 0 0 none;
	-webkit-text-shadow: 0 0 0 none;
}
/** Progress
 * --------------------------------------------------------------------------------
 */
.vjs-atresplayer-skin div.vjs-progress-control {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
	background: none;
    height: 10px;
    top: 0;
    border: 0px;
}

.vjs-atresplayer-skin .vjs-progress-control .vjs-progress-holder {
    border: 0;
    height: 10px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    overflow: visible;
    z-index: 10;
    background: none;
	top:18px;
	left:50px;
	width: 55%;
	border:1px solid #CCCCCC;
}

/* Progress */
.vjs-atresplayer-skin .vjs-progress-control .vjs-play-progress {
    height: 10px;
    background: none;
	background-color: #AAAAAA;
    overflow: visible !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    filter: none;
}

/* Seek button */
.vjs-atresplayer-skin .vjs-progress-control .vjs-seek-handle {
    height: 0;
    width: 0;
    background: none;
    display: none;
    position: relative;
    left: -9px;
    top: 12px;
    -mox-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    -moz-box-radius: none;
    -webkit-box-radius: none;
}

.vjs-atresplayer-skin .vjs-progress-control .vjs-load-progress {
    height: 10px;
	background: none;
	background-color:#252525;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
/**/
/** Time Display
 * --------------------------------------------------------------------------------
 */

.vjs-atresplayer-skin .vjs-controls .vjs-time-controls {
    top: 0;
    background: none;
    border: 0px;
    height: 10px;
}

.vjs-atresplayer-skin .vjs-controls .vjs-current-time {
    cursor: default;
    text-align: center;
    background: none;
}

    .vjs-atresplayer-skin .vjs-controls .vjs-current-time .vjs-current-time-display {
        cursor: default;
        nowhitespace: afterproperty;
        display: block;
        height: 10px;
        line-height: 10px;
        padding: 0 0 0 12px;
        text-align: right;
    }

.vjs-atresplayer-skin .vjs-controls .vjs-remaining-time {
    cursor: default;
    text-align: center;
    background: none;
}

    .vjs-atresplayer-skin .vjs-controls .vjs-remaining-time .vjs-remaining-time-display {
        background: none;
        nowhitespace: afterproperty;
        cursor: default;
        display: block;
        height: 10px;
        line-height: 10px;
        padding: 0 0 0 13px;
        text-align: left;
    }
.vjs-atresplayer-skin .vjs-control {
    text-align: center;
}
.vjs-atresplayer-skin .vjs-time-controls, .vjs-atresplayer-skin .vjs-time-divider {
    font-size: 1.2em;
    line-height: 3.4em;
    float: right;
    cursor: context-menu;
	color: #CCCCCC;
	font-weight: bold;
}
/**/
/** Volume
 * --------------------------------------------------------------------------------
 */

.vjs-atresplayer-skin .vjs-volume-level {
    background: none;
	background-color:#AAAAAA;
    height: 0.5em;
    left: 0;
    position: absolute;
    top: 0;
}
.vjs-atresplayer-skin .vjs-slider {
    background-color: #000000;
    cursor: pointer;
    outline: 0 none;
    padding: 0;
    position: relative;
}
.vjs-atresplayer-skin .vjs-slider-handle:before {
    content: "";
}

/** Subtitle
 * --------------------------------------------------------------------------------
 */
.vjs-atresplayer-skin .vjs-menu-button ul li:focus, .vjs-atresplayer-skin .vjs-menu-button ul li:hover, .vjs-atresplayer-skin .vjs-menu-button ul li.vjs-selected:focus, .vjs-atresplayer-skin .vjs-menu-button ul li.vjs-selected:hover {
    background-color: #000000;
    box-shadow: 0 0 0 0;
    color: #FFFFFF;
    outline: none;
}
.video-js .vjs-text-track-display {
    bottom: 5em;
}

/** Big Play Button (at start)
 * ---------------------------------------------------------
 */
.vjs-atresplayer-skin:hover .vjs-big-play-button,
.vjs-atresplayer-skin .vjs-big-play-button:focus {
	outline: 0;
	border-color: #fff;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 1);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	/* transition */
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;

}
.vjs-atresplayer-skin .vjs-big-play-button {
	width: 4em;
	height: 4em;
	background-color: #07141e;
	background-color: rgba(7, 20, 30, 0.7);
	border: none;
	/* border-radius */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box-shadow */
	-webkit-box-shadow: 0px 0px 0em rgba(255, 255, 255, 0);
	-moz-box-shadow: 0px 0px 0em rgba(255, 255, 255, 0);
	box-shadow: 0px 0px 0em rgba(255, 255, 255, 0);
}
.vjs-atresplayer-skin.vjs-big-play-centered .vjs-big-play-button {
	/* Center it horizontally */
	left: 50%;
	margin-left: -1.8em;
	/* Center it vertically */
	top: 50%;
	margin-top: -1.8em;
}
.vjs-atresplayer-skin .vjs-big-play-button {
	/* In order to center the play icon vertically we need to set the line height
	to the same as the button height */
	background: url("../imgs/sprite-icons-5.png") no-repeat center -341px #000;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
	opacity:0.6;
	position: absolute;
	left: 15em;
    top: 6em;
	width: 4em;
	height: 4em;
}
.vjs-atresplayer-skin .vjs-big-play-button:before{
	content:"";
}
.vjs-atresplayer-skin:hover .vjs-big-play-button{
	transition:all 0.4s ease 0s;
	-webkit-transition:all 0.4s ease 0s;
	-moz-transition:all 0.4s ease 0s;
	-ms-transition:all 0.4s ease 0s;
	-o-transition:all 0.4s ease 0s;
	transition:all 0.4s ease 0s;
	-moz-opacity:1;
	filter:alpha(opacity=100);
	opacity:1;
}

/* LogoBug */
.vjs-watermark{
    margin: 5px;
}
