.vjs-current-time {	
	left: -140px;
}  
.vjs-time-divider > div{
  	left: -97px;
    position: relative;
}
.vjs-default-skin .vjs-duration {
	left: -50px;
}
.vjs-volume-menu-button.vjs-menu-button {
	left: 90px;		
}
.vjs-fullscreen-control {
	left: 95px;
}
.vjs-atresplayer-skin .vjs-progress-control .vjs-progress-holder {
	max-width: 75%;
	width: 100%;
}