.digest_control
{
	overflow:hidden;
	width:338px;
	height:16px;
}

.digest_control_left
{
	float:left;
	width:169px;
}

.digest_control_right
{
	float:left;
	width:169px;
	text-align:right;
	visibility: hidden;
}