.import_block, .import_block_inner
{
#	font-size:12px;
#	font-family: Tahoma,Sans-Serif,Arial;
#	line-height:1.5em;
font-family: Tahoma, Sans-Serif, Arial; 
color:#444444;
text-align:left
overflow:hidden;
}

.import_block_inner
{
padding-left:5px;

}

.import_block a, .import_block_inner a
{
font-size: 11px;
color:#6C6C6C;
line-height:1.5em;

}

.import_block table
{
}

.import_block td
{
}

.import_block th a
{
  color: #4C4C4C;
    font-family: Calibri,Tahoma,Sans-Serif,Arial;
    font-size: 13pt;  
 font-weight:normal;
line-height:1.2em;
}

.import_block th span
{
	
  color: #4C4C4C;
    font-family: Calibri,Tahoma,Sans-Serif,Arial;
    font-size: 13pt;  
 font-weight:normal;

font-size:9pt;
color:gray;
text-decoration:none;
}




.import_message
{
	margin:0 0 0 0px;
	padding:0 0 4px 0;
	
}

.import_message.end
{
	border-bottom:0px;
}

.import_block_inner .import_message
{
	height:auto;
}




.ltd .import_message
{
	margin-right:5px;
}


.import_message span
{
color:#444444;
font-weight:bold;
}

.import_message.odd, .group_message.odd td
{
background-color:#f0f0f0;
}


.import_message.end
{
	border-bottom:0px;
}


.import_message_info,.import_message_info a
{
	color: #828282;
#	font-size:10px;
}

.import_message_info a
{
color: #0C83A3;

}


.import_message_title a
{
	color:#0C83A3;
}

.import_message_title_gr a
{
	color:#6C6C6C;
	font-size:11px;
}

.import_message_prefix
{
	font-size:8pt;
line-height: 1em;
	color:#6C6C6C;

}

.import_message_consult a
{
	text-decoration:none;
}
