.diaporama{-webkit-transform: translateZ(0);position: relative;}
.diaporama a img{border:none;}
.diaporama ul{list-style: none;padding:0;margin:0;overflow: hidden;position: relative;}
.diaporama .viewer{float:left;position: relative;}
.diaporama .viewer li{position:absolute;top:0;left:0;width:494px;}
.diaporama .viewer li a{display:block;}
.diaporama .controls{float:right;}
.diaporama .controls li{display:block;overflow: hidden;position:absolute;top:0;left:0;}
.diaporama .arrow{background:url('../imgs/diaporama_arrow.png') no-repeat;width:18px;height:35px;position:absolute;left:484px;top:40px;z-index:40;}

.diaporama{width:670px;height:340px;background:#ffffff;padding:5px;box-shadow:0 1px 1px rgba(0,0,0,0.4);margin-bottom: 20px}
.diaporama .viewer{width:494px;height:330px;}
.diaporama .viewer li div{background:rgba(0,0,0,0.65);color:#ffffff;position: absolute;bottom:0;padding:10px;width:494px;min-height:4em;font-size:1.05em;
    font-weight: bold;}
.diaporama .controls{width:164px;height:330px;float:right;}
.diaporama .controls li{height:111px;padding-bottom:3px;}
.diaporama .controls li div { background: #404040; opacity: 0.8; -ms-filter: "alpha(opacity=80)"; color: #ffffff; position: absolute; bottom: 0; padding: 5px;
    width: 164px;
    font-size: 11px;
    line-height: 11px;
}

.diaporama .next{background:url('../imgs/diapo_next.png');width:39px;height:38px;position:absolute;top:154px;left:451px;z-index:41;cursor:pointer;opacity:0.8}
.diaporama .previous{background:url('../imgs/diapo_previous.png');width:39px;height:38px;position:absolute;top:154px;left:14px;z-index:42;cursor:pointer;opacity:0.8}