body {
margin: 0 auto; padding: 0;
background-color:#f5dfe5;
font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
font-size: 1em; line-height:1em; color:#42111b;
}
div,input,.titlebloc,.li_200 {box-sizing: border-box;}

a{ text-decoration:none; font-weight:bold; color:#610e1e; cursor:pointer;}
a:hover{ text-decoration:underline;color:#871e31;}

ul{ margin:0; padding:0; list-style:none; }
input,textarea,select{ font:100% Arial, Helvetica, sans-serif; vertical-align:middle;}
form,fieldset{ margin:0; padding:0; border-style:none;}
img{border:0;}
.main{margin:0 auto;padding:0px;width:100%;}

.head_ob {margin:0 auto;width:100%;
background-image: -ms-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: -moz-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: -o-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #610E1E), color-stop(1, #871E31));
background-image: -webkit-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: linear-gradient(to bottom, #610E1E 0%, #871E31 100%);
}
.head {margin:0 auto;padding:10px 0 0;height:84px;}
.logo{float:left;text-align:center;margin-top:6px;}
.logo a {color:#f5dfe5; background:#42111b;padding:10px 30px;font-size:1.8em;
-moz-border-radius:50px;
-webkit-border-radius:50px;
border-radius:50px;
border:3px solid #ab9a9e;text-transform:uppercase;text-decoration:none;}
.lgo3{float:right; height:70px;}
.abaut{ margin:0px;padding:0px;font-size:0.8em;float:left;text-align:center;color:#fff;}

.menu2 {	padding:0px; position:relative; float:left;margin-right:0px;top:0px;width:100%;background:#42111b;margin-bottom:2px;}
.nav2 { position:relative; margin:0 auto;}
.nav2 li {float:left; display:block;border-right:2px solid #f5dfe5;}
.nav2 li > a, .nav2 li  > a:visited {color:#ab9a9e; text-align:center; display:block;padding:10px 22px;text-transform: uppercase ;}
.nav2 li > a:hover, .nav2 li:hover > a, .nav li:hover > a:visited {text-decoration:none;color:#871e31;background:#f5dfe5;}
.nav2 .drop{ 
	overflow:hidden;
	position:absolute;
	left:-1px;
	display:none;
	padding:1px;
	z-index:200;
	top:36px;
	border:2px solid #f5dfe5;
	}
.nav2 li:hover .drop{
	display:block;
	color:#c5c99f;
	}
.nav2 .drop .holder{
	background:#736b5f;
	overflow:hidden;
	padding:0;
	}
.nav2 .drop{
	width:712px;
	}


.serch {height:24px;position:relative;float:right;font-size:12px;background:#ab9a9e;padding:1px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;}
.input {background:#42111b; border:0px solid #2a3740;margin:0;float:left;height:22px;color:#f5dfe5;float:left;
padding:0 10px;
-moz-border-radius:10px 0 0 10px;
-webkit-border-radius:10px 0 0 10px;
border-radius:10px 0 0 10px;}
.submitt {margin:0px; float:right;cursor:pointer; padding:3px 10px;background:none;border:none;
-moz-border-radius:0 10px 10px 0;
-webkit-border-radius:0 10px 10px 0;
border-radius:0 10px 10px 0;color:#fff;}
.serch p {color:#ab9a9e;font-size:10px;margin:0;}
.serch p a {color:#fff1f7;text-decoration:underline;font-weight:normal;}
.serch p a:hover {text-decoration:none;}

.serch1 {margin:0 auto;}
.serch1 p {text-align:left;}
.serch1 .input {width:75%;height:28px;}
.serch1 .submitt {width:25%;background:#ab9a9e;height:28px;}


.titlebloc { width:100%; height:26px; border-bottom:3px solid #871e31;background:#fff1f7;
font-weight: bold;text-transform: uppercase;font-size: 20px;margin:0 0 20px 0;
padding:4px 0px 24px 20px;text-align:left; line-height: 24px;color:#871e31;}

.right {width:100%; padding:0; margin:0 auto;overflow:hidden;text-align: center; }
.content{margin-top:10px; float: center;padding:2px;margin:auto;}

.thumb_new_oll {padding:0; margin:10px 0px;padding:6px 0;}
.thumb_new_oll p:not(.titlebloc) {text-align:left;width:96%;margin:0 auto;}
.thumb {margin: 0px;background:#fff1f7;
border: 1px solid #ab9a9e;
text-align:center;
display:inline-block;
*display:inline;oom:1;
margin-bottom:4px;}
.thumb:hover{border: 1px solid #42111b;background:rgba(255, 255, 255, 0.8);}
.thumb a img {margin: 1px;margin-bottom:-1px;}
.thumb1 {width: 204px;}
.thumb2 {width: 324px;}
.thumb3 {width: 154px;}
.thumb4 {width: 184px;}
.thumb5 {width: 244px;}
.thumb6 {width: 324px;}
.thumb7 {width: 184px;}
.thumb8 {width: 244px;}
.thumb9 {width: 174px;}
.thumb1 img{width:200px; height:260px;}
.thumb2 img{width:320px; height:240px;}
.thumb3 img{width:150px; height:200px;}
.thumb4 img{width:180px; height:135px;}
.thumb5 img{width:240px; height:320px;}
.thumb6 img{width:320px; height:240px;}
.thumb7 img{width:180px; height:240px;}
.thumb8 img{width:240px; height:363px;}
.thumb9 img{width:170px; height:255px;}

.c  p {text-align:center !important;line-height:1.6em;}
.c  a {text-decoration:underline;font-size:1.6em;}

.thumb5 .desc,.thumb2 .desc,.thumb6 .desc,.thumb3 .desc,.thumb4 .desc {text-align:center; font-weight:bold;}
.thumb3:hover a,.thumb4:hover a {text-decoration:underline;}
.trader a {color:#f5dfe5; background:#42111b;padding:2px 8px;line-height:1.8em;white-space: nowrap;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border:1px solid #ab9a9e;text-decoration:none;}
.trader a:hover {color:#fff1f7; background:#871e31;
border:1px solid #fff1f7;}

.descr,.spon {font-size: 11px;line-height: 10px;height: 18px;display: block;margin-right: 4px;margin-left: 4px;margin-top: 2px;text-align:left;}
.cats  {float: right;margin-bottom: 4px;margin-right: 6px;line-height: 14px;}
.r span, .spon span, .descr span{color:#fff;}
.desc {font-size: 13px;line-height: 15px;display: block;height: 22px;overflow: hidden;margin-right: 4px;margin-left: 4px;
margin-top: 2px;text-align:left;
white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.cats {background: rgba(171,154,158, 0.5); display: block; padding: 4px 5px; font-size: 12px; 
margin-left:1px;font-family: Arial, Helvetica, sans-serif;margin-bottom: 4px;line-height: 14px;
margin-top:-54px;
 color: #d9f4ff; position: relative;margin-left:2px;float: left;
-moz-border-radius:0 6px 6px 0;
-webkit-border-radius:0 6px 6px 0;
border-radius:0 6px 6px 0;}
.thumb:hover .cats {background: rgba(66,17,27, 0.5); }

.top_s,.friens {
padding:30px;
text-align:left;
column-gap: 40px;
-moz-column-gap: 40px;
-webkit-column-gap: 40px;
background:rgba(135, 30, 49, 0.4);
line-height:20px;
}
.friens {
column-count: 5;
-moz-column-count: 5;
-webkit-column-count: 5;
}
.top_s {color:#ab9a9e;
line-height:30px;
column-count: 4;
-moz-column-count: 4;
-webkit-column-count: 4;
}
.top_s span,.friens span {font-size: 18px; text-shadow: 1px 1px 3px #fff;}
.friens span {color:#42111b;}
.top_s span{color:#f5dfe5;}
.top_s span:before,.friens span:before {content: "\2026  ";  }
.friens a {font-weight: bold; text-decoration:none;color:#f5dfe5;
padding:0 16px 0 0;font-size:0.8em;
-moz-border-radius: 2px 12px 12px 2px;
-webkit-border-radius: 2px 12px 12px 2px;
border-radius: 2px 12px 12px 2px;}
.friens a:hover {text-decoration: underline;background:rgba(255, 255, 255, 0.6);color:#42111b;}

.top_s a {font-weight: bold; text-decoration:none;color:#f5dfe5 !important;background:none !important;font-size:18px;margin:0;padding:0;}
.top_s a:hover {text-decoration: underline;color:#fff1f7 !important;}

.tops:hover {background:rgba(66, 17, 27, 0.6);}
.tops a:hover {color:#871e31;}

.pages_list ul {  display:inline; margin:0px; padding:1px 3px;}
.pages_list ul li { display:inline;margin:0px;padding:0;font-size: 18px;margin-right:2px;
-moz-border-radius::0 0 6px 0;
-webkit-border-radius:0 0 6px 0;
border-radius:0 0 6px 0;}
.desk_link a,.pages_list ul li a{text-decoration:none; color:#42111b;font-size: 18px;
padding: 8px 14px;
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
border:1px solid #42111b;
}

.desk_link a:hover,.pages_list ul li a:hover{color:#fff;
background-image: -ms-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: -moz-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: -o-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #610E1E), color-stop(1, #871E31));
background-image: -webkit-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: linear-gradient(to bottom, #610E1E 0%, #871E31 100%);
}

.pages_list ul li.active{text-decoration:none;padding: 8px 14px;
color:#fff;-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
border:1px solid #42111b;
background-image: -ms-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: -moz-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: -o-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #610E1E), color-stop(1, #871E31));
background-image: -webkit-linear-gradient(top, #610E1E 0%, #871E31 100%);
background-image: linear-gradient(to bottom, #610E1E 0%, #871E31 100%);}

.footer  {clear:both; width: 100%;height:60px;color:#f5dfe5;border-top:6px solid #42111b;
background-image: -ms-linear-gradient(bottom, #610E1E 0%, #871E31 100%);
background-image: -moz-linear-gradient(bottom, #610E1E 0%, #871E31 100%);
background-image: -o-linear-gradient(bottom, #610E1E 0%, #871E31 100%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #610E1E), color-stop(1, #871E31));
background-image: -webkit-linear-gradient(bottom, #610E1E 0%, #871E31 100%);
background-image: linear-gradient(to top, #610E1E 0%, #871E31 100%);
}
.f_wap  {margin:0 auto;}
.disc {font-size:11px;line-height:12px;text-align:center;font-weight:bold; margin:0px; padding: 5px 0 0 ;}
.friends{font-size:12px;line-height:14px;text-align:center;font-weight:bold; margin:0px;padding: 5px 0 0 ;}

.footer a{padding-left:0px;font-size:12px; text-decoration: underline; font-weight:bold;color:#ab9a9e;}
.footer a:hover {text-decoration: none;}

#video_page{ float: center; padding:0 0 0 0; margin:0px auto;overflow:hidden;text-align: center; margin-bottom:20px;}
#video_page h2{display:block; padding:0px; text-align:center; margin:10px 0 5px 0; font-size:1.8em;font-weight:bold;line-height:1em;}
#video_page .player{-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px; border:1px solid #fff;line-height:32px;
background:rgba(255, 255, 255, 0.2); float:left;margin-right:10px; text-align:center; padding:6px 0 6px 0;margin-top:30px;}
#video_page .player span {font-weight:bold;}
#video_page a.visit{display:block; font-size:1.8em; padding:16px 0px 0px 0px; text-decoration: underline; font-weight:bold;line-height:1em;
border:none;}
#video_page a.visit:hover {text-decoration: none;}
.player a {padding:0 14px; font-size:20px;
border: 1px solid #42111b;
-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;}

#video_page .baners:not(.baner) img {padding:2px;border:1px solid #f6eee3;}

#video_page .baners{float:left;padding:0 0 0 0px;margin-top:28px;}

#embet_th {width:100%; float: center; padding:0 0 0 0; margin:0px auto;overflow:hidden;text-align: center;}

.rec { width: 100%;  text-align: center; position: relative; z-index: 1; margin:0 auto;}
.rec p { text-align: center; }
.rec img {margin:1px; border:1px solid #f6eee3;}

.moduletable_contacts li a span {z-index:100;
    display: block;
    width: 110px;
    height: 15px;
    transform: rotate(270deg);
    background:#871e31;
    color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #42111b;
    padding: 10px;
    position: fixed;
    top: 50%;
    right: -50px;
	text-align:center;
}
.moduletable_contacts li a span:hover {background:#ab9a9e;}

.trader .friens	{counter-reset: item;}

.trader .friens p { margin:16px 0 0;}
.trader .friens p:before {
 content: counter(item, decimal-leading-zero);
  counter-increment: item;
 background: #800000;
 color: #fff;
 padding: 0 5px;
 margin-right: 4px;
 font-size:14px;

 -moz-border-radius:25px 0 0 25px;
-webkit-border-radius:25px 0 0 25px;
border-radius:25px 0 0 25px;
}

/*galls*/

.layout { overflow: hidden;}
.gall {max-width:1280px; padding:0; margin:0 auto;overflow:hidden;text-align: center; }
.col1,.col3 {width: 254px; }
.col1 {float: left;}
.col3 {float: right; }
.col2 { margin:0 260px;margin-top:-16px;}

.desk_link p {text-align:center !important;}
.desk_link a {line-height:48px;}

.mwt {max-width:600px; margin:auto;}

@media only screen
 and (min-width: 280px) 
 and (max-width: 1280px) {
.col3 {display:none;}
.col2 { margin:0 0 0 320px;margin-top:-16px;}
}

@media only screen
 and (min-width: 280px) 
 and (max-width: 880px) {
.col1 {display:none;}
.col2 { margin:0;margin-top:-16px;}
}


/*galls*/

@media only screen
 and (min-width: 1100px) 
 and (max-width: 5400px) {

.head,
.nav2,
.f_wap,
#video_page
{width:1100px;}
.logo{width:300px;float:left;}
.lgo3{width:780px;}
.abaut{width:500px;}
.f_disc{width: 700px;}
.slog {width:500px;}

.li_200,.li_200 {width:200px;}
.serch {width:250px;}
.serch.input {width:160px;}
.li_r {width:270px;}
.sea  {width:270px;text-align:center;}

.small{width:1000px !important;}
#video_page .player{width:646px;}
#video_page .baners{width:312px;}
#video_page .baner{width:412px !important;}
.player iframe {width:640px; height:480px;}

.nav2 .drop {width:1002px;}
}

@media only screen
 and (min-width: 768px) 
 and (max-width: 1100px) {

.nav2 {  width:100%;}
.head {width:730px;}
.logo{width:300px;float:left;}
.lgo3{width:420px;}
.abaut{display:none;}
.f_wap  {width: 730px;}
.f_disc{width: 400px;}

.nav2 li {border-right:none;}
.li_200 {width:50%;}
.li_300 {width:33%;}
.serch {width:230px;}
.serch.input {width:145px;}
.hid1,.hid2 {visibility: hidden}

.hid1,.hid6,.hid4{display:none}

.top_s,.friens {
column-count: 3;
-moz-column-count: 3;
-webkit-column-count: 3;
}

#video_page{width:760px;}
#video_page .player{width:750px;}
#video_page .baners{width:750px;}
.player iframe {width:640px; height:480px;}

.nav2 .drop {width:90%;left:5%;}
.nav2 .drop2 {top:72px;}
}

@media only screen
 and (min-width: 480px) 
 and (max-width: 768px) {

.nav2 { width:100%;}
.head {width:470px;}
.logo{width:470px;float:left;}
.lgo3,.abaut,.f_wap  {width: 460px;}
.f_disc{width: 440px;}

.hid1,.hid2{visibility: hidden}
.hid1,.hid4,.hid6,.hid33{display:none}
.li_200 {width:50%;margin-bottom:1px;background-color:rgba(0, 0, 0, 0.3);}
.li_300 {width:33%;margin-bottom:1px;background-color:rgba(0, 0, 0, 0.3);}
.nav2 li {border-right:none;}

.top_s,.friens {
column-count: 2;
-moz-column-count: 2;
-webkit-column-count: 2;
}

#video_page{width:470px;}
#video_page .player{width:460px;}
#video_page .baners{width:470px;}
.player iframe {width:448px; height:336px;}

.nav2 .drop {width:90%;left:5%;}
.nav2 .drop2 {top:72px;}
}

@media only screen
 and (max-width: 480px) {

.head,.nav2 {width:100%;}
.logo{width:100%;float:left;}
.lgo3,.abaut,.f_disc{width: 290px;}

.hid1,.hid2{visibility: hidden}
.hid1,.hid4,.hid6,.hid33{display:none}
.serch {width:230px;}
.input {width:145px;}

#video_page{width:300px;}
#video_page .player{width:296px;}
#video_page .baners{width:300px;}
.player iframe {width:256px; height:192px;}

.li_300,.li_200 {width:100%;margin-bottom:1px;background-color:rgba(0, 0, 0, 0.3);}
.nav2 li {border-right:none;}

.friens {
column-count: 1;
-moz-column-count: 1;
-webkit-column-count: 1;
}

.trader .friens p { font-size:22px;}
.trader .friens p:before {
 font-size:18px;
}

.footer {height:100px;}

.nav2 li:hover .drop {display:none;}
}

@media only screen
 and (max-width: 300px) {

.rec img {width:100%;height:auto;}
}
/* inPlayer banner */
.pl_adv {
    position: absolute;
    z-index: 999;
}

.pl_adv .pl_adv1 {
    padding: 10px;
    background: rgba(177, 177, 177, 0.61);
    position: relative;
}

.pl_adv .banner {
    width: 300px;
    height: 250px;
}


.pl_adv .pl_close{
    cursor: pointer;
    display: block;
    margin-top: 10px;
    padding: 0 14px 0 7px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #bdbdbd;
    background: #fff;
    color: #6d6d6d;
    font-weight: bold;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pl_adv .pl_close:hover{

    color: #333;
    background-color: #e2e2e2;
}

.pl_adv .pl_title {
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: -31px;
    height: 31px;
    line-height: 31px;
    padding: 0 14px;
    background: rgba(177, 177, 177, 0.61);
    color: @background_color;
    font-weight: bold;
}

.pl_adv {
    margin-left: 170px;
    margin-top: 100px;
}
@media screen and (min-width: 800px) {
   iframe.headbanner {
       display: none;
   }
}



@media only screen and (max-width : 991px) {
.pl_adv .pl_adv1 {
    padding: 10px;
    background: rgba(177, 177, 177, 0.61);
    position: relative;
    left: -99px;
    top: -75px;
}

}

@media only screen and (max-width: 767px){
.pl_adv .pl_adv1 {
    padding: 10px;
    background: rgba(177, 177, 177, 0.61);
    position: relative;
    left: -181px;
    top: -75px;
}
}