<!--

body {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
background:#E5E5E5;
font-family:'Lucida Grande',"Meiryo", Osaka;
}

.style1 {color: #FF0000}

h1{
color:#000000;
font-size:10px;
line-height:13px;
font-weight:normal;
margin-left:0px;
margin-right:0px;
margin-bottom:6px;
margin-top:0px;
padding:2px 2px 2px 5px;
}
h2{
color:#FFFFFF;
font-size:12px;
line-height:15px;
font-weight:normal;
margin-left:3px;
margin-right:10px;
margin-bottom:3px;
margin-top:5px;
padding:3px 3px 3px 3px;
background:#BBBBBB;
}

a:link {
COLOR:#3F6A85;
TEXT-DECORATION:underline;
}
a:visited {
COLOR:#1C262F;
TEXT-DECORATION:underline;
}
a:hover {
color:#000000;
TEXT-DECORATION:underline;
}

#my_topper { margin: 0 auto; width : 100% ; height:90px; background-color:#FFFFFF;padding:5px 0px 0px 0px;}



#maincon

.posiline{
margin-left:0px;
margin-right:0px;
margin-bottom:3px;
margin-top:0px;
padding:0px 0px 0px 0px;
background:#000000;
}
.posiline2{
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
margin-top:3px;
padding:3px 7px 3px 7px;
background:#000000;
}
.text1{
color:#999999;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-left:8px;
margin-right:8px;
margin-bottom:10px;
margin-top:8px;
}



.text2{
color:#333333;
font-size:12px;
line-height:16px;
font-weight:normal;
margin-left:8px;
margin-right:8px;
margin-bottom:5px;
margin-top:5px;
}
.text3{
color:#333333;
font-size:10px;
line-height:15px;
font-weight:normal;
margin-left:8px;
margin-right:8px;
margin-bottom:5px;
margin-top:8px;
padding:5px 5px 5px 5px;
background:#FFFFFF;
border: 1px solid #EEEEEE;
}
.text4{
color:#333333;
font-size:12px;
line-height:16px;
font-weight:normal;
margin-left:8px;
margin-right:8px;
margin-bottom:5px;
margin-top:5px;
padding:5px 5px 5px 5px;
background:#FFFFFF;
border: 1px solid #CCCCCC;
}
.text5{
color:#666666;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-left:5px;
margin-right:3px;
margin-bottom:5px;
margin-top:6px;
padding:0px 0px 0px 3px;
border-left: 3px solid #CCCCCC;
}

.text5 A:link {
	COLOR:#FFFFFF;
	TEXT-DECORATION:underline;
}
.text5 A:visited {
	COLOR:#CCCCCC;
	TEXT-DECORATION:underline;
}
.text5 A:hover {
	color:#FF6666;
	TEXT-DECORATION:underline;
}



.text6{
color:#999999;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-left:8px;
margin-right:8px;
margin-bottom:10px;
margin-top:8px;
}

.text6 A:link {
	COLOR:#FFFFFF;
	TEXT-DECORATION:underline;
}
.text6 A:visited {
	COLOR:#CCCCCC;
	TEXT-DECORATION:underline;
}
.text6 A:hover {
	color:#FF6666;
	TEXT-DECORATION:underline;
}

.text7{
color:#333333;
font-size:10px;
line-height:15px;
font-weight:normal;
margin-left:8px;
margin-right:8px;
margin-bottom:5px;
margin-top:5px;
padding:5px 5px 5px 5px;
background:#FFFFFF;
border: 1px dotted #CCCCCC;
}
.text8{
color:#333333;
font-size:10px;
line-height:15px;
font-weight:normal;
margin-left:3px;
margin-right:3px;
margin-bottom:3px;
margin-top:3px;
padding:5px 5px 5px 5px;
background:#FFFFFF;
}
.text9{
color:#333333;
font-size:10px;
line-height:16px;
font-weight:normal;
margin-left:8px;
margin-right:8px;
margin-bottom:5px;
margin-top:5px;
}


.posi1{
color:#000000;
width:225px;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-left:0px;
margin-right:6px;
margin-bottom:5px;
margin-top:5px;
padding:10px 10px 10px 10px;
background:#FFFFFF;
float:left;
border-radius: 5px;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px;

-moz-box-shadow: 2px 2px 4px #aaaaaa;
-webkit-box-shadow: 2px 2px 4px #aaaaaa;
box-shadow: 2px 2px 4px #aaaaaa;
}

.posi1 img {
margin-bottom: 3px;
}

.posi2{
color:#000000;
width:226px;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-left:0px;
margin-right:6px;
margin-bottom:5px;
margin-top:5px;
padding:10px 10px 10px 10px;
background:#FFFFFF;
float:left;
border-radius: 5px;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px;

-moz-box-shadow: 2px 2px 4px #aaaaaa;
-webkit-box-shadow: 2px 2px 4px #aaaaaa;
box-shadow: 2px 2px 4px #aaaaaa;
}

.posi2 img {
margin-bottom: 3px;
}

.posi3{
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
margin-top:0px;
padding:5px 3px 0px 3px;
}

.posi3 img {
margin-left:0px;
margin-right:4px;
}

.posi4{
color:#0099CC;
font-size:12px;
line-height:15px;
font-weight:bolder;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
padding:10px 3px 10px 6px;
background:#000000;
border-bottom: 1px dotted #AAAAAA;
}
.posi5{
color:#0099CC;
font-size:12px;
line-height:15px;
font-weight:bolder;
margin-top:10px;
margin-left:0px;
margin-right:0px;
margin-bottom:20px;
}
.posi6{
color:#0099CC;
font-size:12px;
line-height:15px;
font-weight:bolder;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
padding:2px 2px 2px 2px;
border-right: 1px dotted #AAAAAA;
}
.posi7{
color:#0099CC;
font-size:12px;
line-height:15px;
font-weight:bolder;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
padding:2px 2px 2px 2px;
border-bottom: 1px dotted #AAAAAA;
}
.posi8{
margin-top:10px;
margin-left:25px;
margin-right:20px;
margin-bottom:20px;
background:#FFFFFF;
border: 5px solid #A3A9B1;
}
.posi9{
width:175px;
margin-top:5px;
margin-left:2px;
margin-right:3px;
margin-bottom:20px;
padding:3px 3px 3px 3px;
background:#000000;
}
.posi10{
color:#000000;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-top:10px;
margin-left:10px;
margin-right:0px;
margin-bottom:5px;
}
.posi11{
color:#000000;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-top:15px;
margin-left:0px;
margin-right:0px;
margin-bottom:10px;
}
.posi12{
color:#000000;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-top:10px;
margin-left:10px;
margin-right:0px;
margin-bottom:0px;
padding:5px 5px 5px 5px;
background:#FFF;
border: 1px dotted #999;
}
.posi13{
color:#000000;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:20px;
}
.posi14{
color:#C5C9CD;
font-size:12px;
line-height:15px;
font-weight:normal;
margin-top:0px;
margin-left:10px;
margin-right:10px;
margin-bottom:0px;
background:#1C303B;
padding:4px 4px 4px 4px;
}


.title2{
color:#FFFFFF;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-left:2px;
margin-right:3px;
margin-bottom:5px;
margin-top:18px;
padding:8px 3px 8px 3px;
background:#1C303B;
border-left: 5px solid #253E4D;
}

.title3{
color:#FFFFFF;
font-size:12px;
line-height:18px;
font-weight:normal;
margin-left:2px;
margin-right:3px;
margin-bottom:5px;
margin-top:13px;
padding:3px 3px 3px 3px;
background:#0099CC;
border-left: 5px solid #006699;
}

.title1{
color:#FFFFFF;
font-size:12px;
line-height:18px;
font-weight:bolder;
margin-left:2px;
margin-right:3px;
margin-bottom:10px;
margin-top:10px;
padding:6px 3px 6px 3px;
background-image:url(../img/tbg001.gif);
border-left: 5px solid #767262;
}
-->
