@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: "GE-Light";
    src:  url('fonts/GE-Light.otf') format('opentype');
}
@font-face {
    font-family: "GE-Bold";
    src:  url('fonts/GE-Bold.ttf') format('truetype');
}
@font-face {
	font-family: "HelveticaNeue";
	src: url("fonts/HelveticaNeueW23forSKY-Reg.eot");
	src: url("fonts/HelveticaNeueW23forSKY-Reg.eot?#iefix") format("embedded-opentype"), 
 
	url("fonts/HelveticaNeueW23forSKY-Reg.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body,td,th {
	color: #666;
	font-family: HelveticaNeue;
	font-size: 12px;
}
body {
	margin: 0px;
	background: #f2f2f2;
}
html {
	overflow-y: scroll;
}




a:link {
	color: #008de7;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #008DE7;
}
a:hover {
	text-decoration: none;
	color: #666;
}
a:active {
	text-decoration: none;
	color: #008DE7;
}
a:focus {
	outline: none;
}
h1 {
	font-size: 1em;
}
h2 {
	font-size: 1em;
}
h3 {
	display: block;
	margin: 5px 0px;
	padding: 5px 15px 5px 0px;
	direction: rtl;
	text-align: right;
	color: #358EC7;
	font-size: 1em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	background-image: url(images/bullet-orange.gif);
	background-repeat: no-repeat;
	background-position: right 7px;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 1em;
}

hr {
	background:#ddd;
	color:#ddd;
	clear:both;
	float:none;
	width:100%;
	height:.1em;
	margin:0 0 1.45em;
	border:none;
}
.hr-dotted {
	CLEAR: both; BACKGROUND: url(images/hr_dotted.gif) repeat-x; FLOAT: left; WIDTH: 100%; HEIGHT: 1px
}
.vr-dotted {
	BACKGROUND: url(images/vr_dotted.gif) repeat-y; FLOAT: left; WIDTH: 1px; MARGIN-RIGHT: 14px; HEIGHT: 340px
}
img {
	border-width: 0px;
	border-style: none;
}
.img-right {
	float: right;
}
.img-right10 {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.img-left {
	float: left;
	margin-right: 10px;
}

p.notes {
	border: 1px solid #FCDEA7;
	padding: 15px 40px 10px 10px;
	background: #FFFBF4 url(images/lttnote.png) no-repeat right top;
	color: #7A5C3F;
}
p.mobile {
	font-size: 1em;
	font-weight: bold;
	color: #666;
	background: url(images/ltticonmobile.gif) no-repeat right top;
	display: block;
	height: 20px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	direction: ltr;
	text-align: right;
}
p.phone {
	font-size: 1em;
	font-weight: bold;
	color: #666;
	background: url(images/ltticonphone.gif) no-repeat right top;
	display: block;
	height: 20px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	direction: ltr;
	text-align: right;
}
p.fax {
	font-size: 1em;
	font-weight: bold;
	color: #666;
	background: url(images/ltticonfax.gif) no-repeat right top;
	display: block;
	height: 20px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	direction: ltr;
	text-align: right;
}
p.blue {
	margin: 10px 0px 0px;
	padding: 10px 0px 0px;
	color: #4a99cc;
	float: left;
	display: block;
}
p.error {
	border: 1px solid #FBB;
	padding: 15px 40px 10px 10px;
	background: #FFF2F2 url(images/ltterror.png) no-repeat right top;
	color: #900;
	font-weight: bold;
}
#response {
	color: #000;
	width: 100%;
	float: left;
	padding: 0px;
}
button#go { 
   border: none;
   background-color: transparent;
}

#container {
	margin: 10px auto 0px;
	width: 950px;
	position: relative;
}
#header {
	float: left;
	height: 61px;
	width: 950px;
	background: url(images/v2-nav-bg-blue.gif) no-repeat;
	margin-bottom: 11px;
}
.divlogo {
	height: 56px;
	width: 155px;
	float: left;
}
.divsearch {
	float: left;
	height: 25px;
	padding-top: 16px;
	padding-bottom: 15px;
	width: 240px;
	padding-left: 10px;
}
.divsearch #query  {
	background: url(images/searchboxbg.gif) repeat-x;
	border-width: 0px;
	border-style: none;
	height: 25px;
	margin: 0px;
	padding: 5px 0px 0px;
	width: 150px;
	float: left;
	direction: rtl;
}
.divsearch .end {
	float: left;
	width: 11px;
	height: 25px;
	background: url(images/searchboxend.gif) no-repeat;
}
.divsearch .mid {
	float: left;
	height: 25px;
	width: 150px;
	margin: 0px;
	padding: 0px;
}
.divsearch .start {
	float: left;
	width: 11px;
	height: 25px;
	background: url(images/searchboxstart.gif);
}
.divsearch .button {
	float: left;
	height: 25px;
	width: 46px;
	margin-right: 8px;
}
.divnav {
	height: 56px;
	width: 540px;
	float: left;
}
#sitemap {
	background: #FFF;
	width: 950px;
	height: 140px;
	margin: 0px auto 10px;
	display: none;
}
#sitemap  .footer{
	height: 10px;
	width: 950px;
	float: left;
	background: url(images/v2-holder-footer-full.gif) no-repeat;
}
#sitemap  .contents{
	float: left;
	width: 948px;
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	height: 131px;
}
#sitemap li a {
	color: #999;
}
#sitemap li a:hover {
	color: #C60;
}


#footer {
	float: left;
	height: 50px;
	width: 950px;
	background-image: url(images/v2-footer-bg.gif);
	background-repeat: no-repeat;
	margin-bottom: 10px;
	margin-top: 2px;
}
#footer a:link {
	color: #666;
}
#footer a:hover {
	color: #0074B7;
}

#footer ul {
	list-style-type: none;
	display: block;
	float: right;
	height: 18px;
	margin: 15px 5px 5px;
	line-height: 18px;
}
#footer li {
	float: right;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #F0F0F0;
	padding-right: 10px;
	padding-left: 10px;
}
#footer li.icon {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left: 0px;
	padding-right: 5px;
}
.crumbs {
	background: url(images/v2-crumbs.gif);
	float: left;
	height: 43px;
	width: 930px;
	line-height: 43px;
	direction: rtl;
	padding: 1px 10px;
	margin-bottom: 10px;
	color: #FFF;
	font-weight: bold;
}
.crumbs img {
	float: right;
	margin-left: 10px;
}
.crumbs span {
	display: block;
	float: right;
	background: url(images/lttspan.gif) no-repeat;
	padding-left: 30px;
}
.cr {
	float: left;
	width: 950px;
	margin-bottom: 15px;
	height: 25px;
}


.cr img {
	margin-right: 5px;
	margin-left: 5px;
	height: 13px;
	width: 13px;
}
.cr p {
	margin: 0px 10px 0px 0px;
	float: left;
	line-height: 25px;
	display: block;
}
.cr .right {
	float: right;
}

.line930 {
	float: left;
	width: 930px;
	background: url(images/v2-h-line.gif) repeat-x left center;
	height: 30px;
}
.div10 {
	width: 10px;
	float: left;
	height: 10px;
}
.panel250 {
	float: left;
	width: 230px;
	padding: 10px;
	direction: rtl;
	margin-bottom: 10px;
}


.panel308 {
	float: left;
	width: 308px;
	padding: 0px;
	direction: rtl;
	margin-bottom: 10px;
}
.panel340 {
	float: left;
	width: 319px;
	padding: 10px;
	direction: rtl;
	margin-bottom: 10px;
}



.panel310 {
	float: left;
	width: 310px;
	padding: 0px;
	direction: rtl;
	margin-bottom: 10px;
}
.panel310  p {
	margin: 10px;
}
.panel310-top  {
	background: url(images/panel310-top.gif) no-repeat;
	float: left;
	height: 5px;
	width: 310px;
	line-height: 5px;
	font-size: 1px;
}
.panel310-body  {
	background: url(images/panel310-body.gif) repeat-y;
	float: left;
	width: 290px;
	height: 160px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.panel310-body2 {
	padding: 0px 10px;
	float: left;
	width: 290px;
}

.panel310-footer  {
	background: url(images/panel310-footer.gif) no-repeat bottom;
	float: left;
	height: 15px;
	width: 310px;
}
.panel178 {
	float: left;
	width: 178px;
	margin-right: 10px;
	height: 60px;
}
.panel178last {
	float: left;
	width: 178px;
	height: 60px;
}

.holder {
	float: left;
	width: 950px;
}


.holder  h2{
	text-align: right;
	font-weight: normal;
	margin: 0px 0px 10px;
	padding: 0px;
	color: #666;
}
.holder-full {
	float: left;
	width: 930px;
	padding: 10px 10px 0px;
	background: url(images/v2-holder-bg-full.gif) repeat-y;
}
.holder-full-top {
	background: url(images/holder-full-top-grey.gif) no-repeat;
	float: left;
	height: 42px;
	width: 950px;
	font-size: 1px;
}
.holder-full-top-narrow {
	background: url(images/holder-top.gif) no-repeat;
	float: left;
	height: 5px;
	width: 950px;
	font-size: 1px;
}

.holder-full-footer {
	background: url(images/v2-holder-footer-full2.gif) no-repeat;
	float: left;
	height: 18px;
	width: 950px;
	margin-bottom: 10px;
}


.holder-full  h2{
	text-align: right;
	font-weight: normal;
	margin: 0px 0px 10px;
	padding: 0px;
	color: #666;
}
p.heading {
	display: block;
	height: 20px;
	margin: 5px 10px 10px;
	padding: 5px 0px;
	direction: rtl;
	text-align: right;
	cursor: pointer;
	background: url(images/v2-h-line.gif) repeat-x left bottom;
	color: #358EC7;
	font: normal 1.1em Tahoma, Geneva, sans-serif;
}
.form310  {
	padding: 0px;
	direction: rtl;
	margin: 0px;
	float: right;
	width: 290px;
	display: block;
	text-align: right;
}
.form310 p {
	direction: rtl;
	text-align: right;
	margin: 3px;
	padding: 3px;
}
.imgbuttons  {
	float: right;
	height: 25px;
	width: 65px;
	background-image: url(images/v2-search-button.gif);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: .8em;
	line-height: 25px;
	color: #666;
	font-weight: bold;
}
.imgbuttonsleft {
	float: left;
	height: 25px;
	width: 65px;
	background-image: url(images/v2-search-button.gif);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: .8em;
	line-height: 25px;
	color: #666;
	margin-right: 10px;
	font-weight: bold;
}
.panel310 ul {
	margin: 2px;
	display: block;
	float: right;
	list-style: none;
	padding: 0px 5px;
}
.panel310 li {
	padding-right: 20px;
	background-image: url(images/bullet-orange.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

.form310 .selectsmall {
	height: 27px;
	padding: 0px;
	border: 1px solid #e2e2e2;
	float: right;
	direction: rtl;
	margin: 0px 0px 0px 10px;
	text-align: right;
}
.form310 input {
	float: right;
}

.form310 .text {
	float: left;
	height: 25px;
	margin: 0px;
	padding: 0px;
	width: 140px;
	border: 1px solid #e2e2e2;
}
.form310 .emails {
	float: right;
	height: 25px;
	margin: 0px;
	padding: 0px;
	width: 115px;
	border: 1px solid #e2e2e2;
}

.form310 label {


}



.holder .button {
	background: url(images/ltttablebg.gif) left top;
	border: 1px solid #9CCDFA;
	color: #5994B7;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	width: 60px;
	float: left;
}
#left {
	float: left;
	width: 700px;
	background-image: url(images/v2-holder-bg.gif);
	background-repeat: repeat-y;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.left-top {
	background: url(images/v2-holder-grey.gif) no-repeat;
	float: left;
	height: 42px;
	width: 660px;
	line-height: 42px;
	text-align: right;
	padding-right: 40px;
	padding-left: 10px;
	color: #939393;
}
.left-footer {
	background: url(images/v2-holder-footer.gif) no-repeat bottom;
	float: left;
	height: 15px;
	width: 710px;
	margin-bottom: 6px;
}
#full {
	float: left;
	width: 930px;
	background-image: url(images/full-body.gif);
	padding: 10px;
}
.full-top {
	background-image: url(images/full-top.gif);
	background-repeat: no-repeat;
	height: 42px;
	width: 930px;
	float: left;
	line-height: 42px;
	margin: 0px;
	padding-right: 20px;
	direction: rtl;
	font-weight: bold;
	color: #939393;
}
.full-footer {
	float: left;
	height: 10px;
	width: 950px;
	background-image: url(images/full-footer.gif);
	margin-bottom: 4px;
}







#right {
	float: right;
	width: 230px;
}


.menuright {
	float: left;
	width: 230px;
	margin-bottom: 5px;
}
.menurightheaders {
	float: left;
	width: 210px;
	line-height: 41px;
	height: 41px;
	direction: rtl;
	background-image: url(images/menu-right-header.gif);
	background-repeat: no-repeat;
	padding-right: 20px;
	font-weight: bold;
	color: #C1C1C1;
}
.menurightbody {
	float: left;
	width: 230px;
	padding: 5px 0px 0px;
	direction: rtl;
	background-image: url(images/menu-right-bg.gif);
}
.menurightbody ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.menurightbody li {
	display: block;
	margin-bottom: 3px;
	padding: 5px 20px 5px 0px;
}
.menurightbody li a {
	color: #5994B7;

}

.menurightbody li a:hover {
	color: #666;
	font-weight: normal;
}
.menuright p {
	margin: 10px;
}

.menurightfooter {
	background-image: url(images/menu-right-footer.gif);
	float: left;
	height: 23px;
	width: 230px;
	background-repeat: no-repeat;
}
#banner-browsers {
	background-image: url(images/div-browsers-bg.gif);
	background-repeat: no-repeat;
	float: left;
	height: 161px;
	width: 690px;
}
#banner-browsers .header {
	padding: 15px 20px 10px 10px;
	text-align: right;
	margin-bottom: 15px;
}
#banner-browsers .icon {
	height: 83px;
	width: 83px;
	float: left;
	margin-right: 27px;
	margin-left: 27px;
}


.outer {
	float: left;
	width: 690px;
	padding: 0px;
	margin-bottom: 10px;
}
.outer-header  {
	background-image: url(images/outer-header.gif);
	background-repeat: no-repeat;
	float: left;
	height: 10px;
	width: 690px;
}
.outer-body  {
	background-image: url(images/outer-bg.gif);
	background-repeat: repeat-y;
	float: left;
	width: 670px;
	padding: 10px;
}


.outer-footer  {
	background-image: url(images/outer-footer.gif);
	background-repeat: no-repeat;
	float: left;
	height: 10px;
	width: 690px;
}

.box223 {
	float: left;
	width: 223px;
	padding: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.box223-header  {
	background-image: url(images/box223-header.gif);
	background-repeat: no-repeat;
	float: left;
	height: 23px;
	width: 223px;
}
.box223-body  {
	background-image: url(images/box223-body.gif);
	background-repeat: repeat-y;
	float: left;
	width: 213px;
	text-align: center;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.box223-body p {
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F1F1F1;
}



.box223-footer  {
	background-image: url(images/box223-footer.gif);
	background-repeat: no-repeat;
	float: left;
	height: 11px;
	width: 223px;
}
.ul220 {
	list-style-type: none;
	direction: rtl;
	width: 200px;
	float: left;
	margin: 0px;
	padding: 0px 10px;
	display: block;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #CCC;
}

.ul220 li.header {
	font-weight: bold;
	color: #F60;
	margin-bottom: 10px;
	margin-top: 0px;
}

.no-border {
	border: 0px none #FFF;
}



#topper {
	width: 950px;
	margin-bottom: 10px;
	float: right;
	height: 25px;
}
#topper .btn-slide {
	background-image: url(images/v2-icon-myltt.gif);
	float: left;
	height: 25px;
	width: 77px;

}
#topper .icons {
	float: left;
}

#topper .active {
	background-image: url(images/v2-icon-mylttac.gif);
}
#topper .english {
	float: left;
	height: 25px;
	margin-right: 5px;
}


.banners {
	float: left;
	width: 950px;
	margin-bottom: 10px;
}
.left-ads {
	width: 230px;
	float: left;
	margin-bottom: 10px;
}
.linedottedright {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #CCC;
}
.linedottedleft {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #CCC;
}
#GoogleMap {
	float: left;
	height: 500px;
	width: 690px;
}
#footer a {
	color: #666;
}
#toolbar {
	float: left;
	width: 690px;
	background: url(images/toolbar-bg.gif);
	text-align: left;
	height: 34px;
	margin-top: 10px;
	margin-bottom: 0px;
}
#toolbar img {
	float: left;
	padding: 4px 0px 2px 8px;
}
#Lmap {
	float: left;
	width: 540px;
	height: 320px;
}
.news-ticker {
	background-image: url(images/ltt-news-ticker.gif);
	background-repeat: no-repeat;
	float: left;
	height: 41px;
	width: 950px;
	margin-bottom: 10px;
	font-size: 11px;
	line-height: 41px;
	overflow: hidden;
	text-align: right;

}
.news-ticker ul {
	height: 41px;
	width: 845px;
	display: block;
	direction: ltr;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.news-ticker li {
	margin: 0px 5px 0px 15px;
	padding: 0px;
	font-size: 1.1em;
	direction: rtl;
	list-style-type: none;
}
.news-ticker li span    {
	margin-left: 15px;
	font-size: 9px;
	color: #999;
}

.news-ticker .link {
	float: right;
	width: 101px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-right-10 {
	margin-right: 7px;
}
p.sub {
	display: block;
	padding-right: 20px;
	direction: rtl;
	margin: 0px;
	line-height: 20px;
	height: 20px;
}
.cr a:link {
	color: #666;
}
.cr a:hover {
	color: #0074B7;
}
.rtl {
	direction: rtl;
}
.ltr {
	direction: ltr;
}
.error404 {
	font-size: 2em;
}#topper ul {
	list-style-type: none;
	background-image: url(images/v2-topper-sides.gif);
	float: left;
	height: 25px;
	width: 132px;
	display: block;
	margin: 0px;
	padding: 0px 10px;
	line-height: 25px;
	direction: rtl;
}
#topper .left {
	float: left;
	height: 25px;
	margin-right: 5px;
}
.div10v {
	height: 15px;
}
