#nav {
	height:56px;
	width:540px;
	margin:0;
	text-align:center;
	clear: both;
}
#nav ul {
	list-style:none;
	height:56px;
	width:540px;
	margin:0;
	padding:0;
	position:relative;
	left:0px;
	top:0px;
	z-index:5000;
	text-align:center;
}
#nav ul li {
	float:left;
	height:56px;
	width:auto;
	margin:0;
	padding:0;
	position:relative;
}
#nav ul li a.main-link {
	background:url(images/nav-blue.gif) no-repeat;
	display:block;
	cursor:pointer;
	float:left;
	height:56px;
	width:auto;
	overflow:hidden;
	text-indent:-9999em;
}
#nav ul li a.main-link.current {
	position:relative;
	z-index:5100;
}
#nav ul li a:focus {
	outline:none;
}
#nav .dropdown-container {
	position:absolute;
	top:56px;
	left:2px;
	z-index:5000;
	width:785px;
}
#nav .music-link .dropdown-container {
	width:640px;
}
#nav .nav-dropdown {
	background:url(images/v2-drop-trans.png);
	border:1px solid #e2ecf0;
	float:left;
	height:auto;
	width:auto;
	margin:0;
	padding:8px 0 12px;
	top:0;
	left:5px;
}
#nav .flip .dropdown-container {
	position:absolute;
	left:auto;
	right:10px;
}
#nav .dropdown-container.offscreen-render, #nav .flip .dropdown-container.offscreen-render {
	position:absolute;
	left:-9999em;
}
#nav .flip .nav-dropdown {
	float:right;
}
#nav .nav-dropdown .col {
	clear:right;
	float:left;
	height:auto;
	width:124px;
	margin:0;
	padding:0 20px 0 4px;
}
#nav .nav-dropdown .col.last {
	border-right:none;
}
#nav .nav-dropdown .vr-line {
	background:#e2ecf0 repeat-y;
	width:1px;
	height:auto;
}
#nav .nav-dropdown .col ul {
	float:left;
	height:auto;
	width:100%;
	margin:0;
	padding:0;
	position:relative;
}
#nav .nav-dropdown .col ul.last {
	border-right:none;
}
#nav .nav-dropdown .col li {
	display:block;
	float:left;
	clear:both;
	height:auto;
	width:124px;
	margin:2px 0;
	padding:0;
}
#nav .nav-dropdown .col li.hr-dotted {
	height:1px;
	margin:0;
	padding:0;
	width:100%;
}
#nav .nav-dropdown .col li ul.sub-links {
	border:none;
	left:0;
	margin:0;
	width:124px;
	top:0;
}
#nav .nav-dropdown .col li ul.sub-links li {
	width:124px;
	cursor:pointer;
}
#nav .nav-dropdown .col li ul.sub-links li a {
	background:url(../imgs/nav/sublinks_icon.gif) no-repeat left 4px;
	text-indent:10px;
	cursor:pointer;
}
#nav .nav-dropdown .col li ul.sub-links li.hr-dotted {
	height:1px;
	width:124px;
	margin:0;
	padding:0;
}
#nav .nav-dropdown .col li.last {
	border-bottom:none;
	margin-top:-1px;
}
#nav .nav-dropdown ul li ul.sub-links li.last {
	border-bottom:none;
	margin:3px 0 0;
}
#nav .nav-dropdown .col ul li a {
	background:none;
	color:#404040;
	display:block;
	cursor:pointer;
	font-size:1.1em;
	font-weight:bold;
	margin:0;
	padding:0;
	text-align:right;
	width:124px;
}
#nav .nav-dropdown .col ul li a:hover {
	color:#d00000;
	background:none;
	padding:0;
	width:124px;
}
#nav .nav-dropdown .col li ul.sub-links li a {
	font-size:1.1em;
	font-weight:normal;
	cursor:pointer;
}
#nav .nav-dropdown .companies {
	border:none;
	clear:right;
	float:left;
	margin-top:18px;
	padding:0 8px 0 0;
	width:150px;
}
#nav .nav-dropdown .companies.first {
	margin-top:5px;
}
#nav .nav-dropdown .companies ul {
	clear:right;
	float:left;
	margin:0;
	width:150px;
}
#nav .nav-dropdown .companies ul li {
	border:none;
	cursor:pointer;
	width:150px;
}
#nav .nav-dropdown .companies ul li a {
	font-size:1.1em;
	font-weight:normal;
	cursor:pointer;
	width:150px;
	color: #333;
}
#nav .nav-dropdown .companies ul li a:hover {
	color:#EC8C01;
	text-decoration:none;
	width:150px;
}
#nav .nav-dropdown .companies h4 {
	cursor:default;
	color:#8c8c8c;
	float:right;
	font-size:1.1em;
	font-weight:bold;
	margin:0;
}
#nav ul li.agents-link a {
	background-position:-270px 0;
	width:90px;
}
#nav ul li.agents-link a:hover {
	background-position:-270px -56px;
	width:90px;
}
#nav ul li.agents-link a.current, #nav ul li.agents-link a:hover.current {
	background-position:-270px -56px;
	width:90px;
}
#nav ul li.account-link a {
	background-position:0px 0;
	width:90px;
}
#nav ul li.account-link a:hover {
	background-position:0px -56px;
	width:90px;
}
#nav ul li.account-link a.current, #nav ul li.account-link a:hover.current {
	background-position:0px -112px;
	width:90px;
}
#nav ul li.news-link a {
	width:90px;
	background-position: -90px 0;
}
#nav ul li.news-link a:hover {
	background-position:-90px -56px;
	width:90px;
}
#nav ul li.news-link a.current, #nav ul li.news-link a:hover.current {
	background-position:-90px -112px;
	width:90px;
}
#nav ul li.support-link a {
	background-position:-180px 0;
	width:90px;
}
#nav ul li.support-link a:hover {
	background-position:-180px -56px;
	width:90px;
}
#nav ul li.support-link a.current, #nav ul li.support-link a:hover.current {
	background-position:-180px -112px;
	width:90px;
}
#nav ul li.business-link a {
	background-position:-360px 0;
	width:90px;
}
#nav ul li.business-link a:hover {
	background-position:-360px -56px;
	width:90px;
}
#nav ul li.business-link a.current, #nav ul li.business-link a:hover.current {
	background-position:-360px -112px;
	width:90px;
}
#nav ul li.personal-link a {
	background-position:-450px 0;
	width:90px;
}
#nav ul li.personal-link a:hover {
	background-position:-450px -56px;
	width:90px;
}
#nav ul li.personal-link a.current, #nav ul li.personal-link a:hover.current {
	background-position:-450px -112px;
	width:90px;
}
.offscreen-render {
	position:absolute;
	left:-9999em;
}
#nav .nav-dropdown .homes {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2ecf0;
	margin-right: 10px;
	margin-left: 10px;
	text-align: right;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	font-weight: bold;
}
