#slider {
	float: left;
	width: 950px;
	margin-bottom: 15px;
}
.sliderwrapper{
	position: relative; /*leave as is*/
	overflow: hidden;
	width: 950px; /*width of featured content slider*/
	height: 300px;
}



.sliderwrapper .contentdiv{
	visibility: hidden; /*leave as is*/
	position: absolute; /*leave as is*/
	left: 0;  /*leave as is*/
	top: 0;  /*leave as is*/
	padding: 0px;
	width: 950px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
	height: 300%;



filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	background-color: #FFF;
}


.pagination{
	width: 95px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
	text-align: right;
	position: relative;
	z-index: 1000;
	top: 5%;
	margin-left: 15px;
}

.pagination a{
	padding: 0;
	text-decoration: none;
	color: #00007D;
}

.pagination a:hover, .pagination a.selected{
	color: #000;
}
.pagination img {
	padding: 0;
	text-decoration: none;
	color: #00007D;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
