.date {
	color: #a6a6a6;
	font-weight: normal;
}

.goal-info {
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
}

.goal-info span {
	color: #FE850C;
}

a.goal-info:hover {
	text-decoration: none;
}

.video-position {
	color: #df750b;
	float: left;
	font-family: Verdana;
	font-size: 32px;
	font-weight: bold;
	height: 35px;
	margin-right: 10px;
	line-height: 36px;
	padding: 0 0 0 5px;
	text-align: center;
	width: 40px;
}

.video-position:hover {
	text-decoration: none;
}

.video-wrapper {
	width: 298px;
	padding: 0 9px;
	background: #1a1a1a;
}

.video-wrapper tr td > img {
	margin: 0 16px 0 17px;
}

.video-box {
	border-bottom: 1px solid #333;
	height: 100%;
	position: relative;
	width: 90px;
	padding: 10px 0;
}


.video-box.active {
	background-color: #df750b;
}

.video-box img {
	border: none;
}

.video-box a {
	float: left;
}

.video-wrapper .goal-info {
	background-color: #1a1a1a;
	border-bottom: 1px solid #333333;
	padding: 6px 6px 7px 6px;
}
.video-wrapper .goal-info a {
	display: block;
}
.video-wrapper .goal-info a p.title {
	color: #FE850C;
}

.video-wrapper .goal-info a:hover {
	text-decoration: none;
}

.video-wrapper .vote {

}

.date_heading {
	background: #111;
	border-bottom: 1px solid #333;
	padding: 2px 0 2px 10px;
	display: block;
	font-weight: bold;
}

.date_heading:hover {
	text-decoration: none;
}
.gol_vote_btn {
	background: url('../images/gotw/gol_vote_btn.png') no-repeat 0 0;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	width: 232px;
	height: 60px;
	line-height: 56px;
	text-align: center;
	display: block;
	margin: 0 auto;
	text-shadow: 0 -1px 0 #333;
	-moz-text-shadow: 0 -1px 0 #333;
	-webkit-text-shadow: 0 -1px 0 #333;
}

.gol_vote_btn:hover {
	background-image: url('../images/gotw/gol_vote_btn_active.png');
	text-decoration: none;
}