/* ORL: start winter logo 

#logo img {
	display: none;
}

#logo {
	text-align: left;
}

#logo a {
	display: block;
	width: 234px;
	height: 123px;
	background-image: url('../brand_images/winter_logo.jpg');
	position: relative;
	left: 0px;
	top: -30px;
}

.head_nav {
	position: relative;
	z-index: 10000;
}

end winter logo */

/*
#anketa_box {
	background: #0e345d url(../brand_images/efbet_anketa_bg.jpg) repeat-y center 26px;
}
#anketa_box h4 {
	display:none;
}
#anketa_box #efbet_link {
	display:block !important;
	height:60px;
	background:url(../brand_images/efbet_anketa_logo.png) no-repeat 0 0;
	margin:20px 0 0 -5px;
	width:168px;
}
*/

