/*menu branding */

#sony_bravia {
    background-image: url('../brand_images/sony_bravia/sony_menu_logo.gif');
}
#sony_bravia:hover,
#sony_bravia.active_left_link,
#sony_bravia.active_left_link:hover {
    background-image: url('../brand_images/sony_bravia/sony_menu_logo_active.gif');
}
#sony_bravia span.active_bullet {
    background-color: #9bb2bf !important;
}
#second_left_nav #sony_bravia,
#second_left_nav #sony_bravia:hover {
    background-image: none;
}

/* next */
#raiffeisen {
    background-image: url('../brand_images/raiffeisen_2011/raiffeisen_menu_logo.gif');
}
#raiffeisen:hover,
#raiffeisen.active_left_link,
#raiffeisen.active_left_link:hover {
    color: black;
    background-image: url('../brand_images/raiffeisen_2011/raiffeisen_menu_logo_active.gif');
}
#raiffeisen_2011 span.active_bullet {
    background-color: #ffea00 !important;
}

#second_left_nav #raiffeisen,
#second_left_nav #raiffeisen:hover {
    background-image: none;
}*/

/* next */
#raiffeisen {
    background-image: url('../brand_images/raiffeisen_2011/raiffeisen_menu_logo.gif');
}
#raiffeisen:hover,
#raiffeisen.active_left_link,
#raiffeisen.active_left_link:hover {
    background-image: url('../brand_images/raiffeisen_2011/raiffeisen_menu_logo_active.gif');
    color:#000;
}
#raiffeisen span.active_bullet {
    background-color: #ffea00 !important;
}
#second_left_nav #raiffeisen,
#second_left_nav #raiffeisen:hover {
    background-image: none;
    color:#fff;
}

/* next */
#mercedes {
    background-image: url('../brand_images/mercedes/mercedes_menu_logo.gif');
}
#mercedes:hover,
#mercedes.active_left_link,
#mercedes.active_left_link:hover {
    background-image: url('../brand_images/mercedes/mercedes_menu_logo_active.gif');
}
#mercedes span.active_bullet {
    background-color: #3a5f5c !important;
}
#second_left_nav #mercedes,
#second_left_nav #mercedes:hover {
    background-image: none;
}

/* next */
#ariana_2011_amateur {
    background-image: url('../brand_images/ariana_2011_amateur/a2011a_menu_logo.gif');
}
#ariana_2011_amateur:hover,
#ariana_2011_amateur.active_left_link,
#ariana_2011_amateur.active_left_link:hover {
    background-image: url('../brand_images/ariana_2011_amateur/a2011a_menu_logo_active.gif');
}
#ariana_2011_amateur span.active_bullet {
    background-color: #ffd82b !important;
}
#second_left_nav #ariana_2011_amateur,
#second_left_nav #ariana_2011_amateur:hover {
    background-image: none;
}

/* next */
#schlaraffia {
    background-image: url('../brand_images/schlaraffia/menu_logo.gif');
}
#schlaraffia:hover,
#schlaraffia.active_left_link,
#schlaraffia.active_left_link:hover {
    background-image: url('../brand_images/schlaraffia/menu_logo_active.gif');
}
#schlaraffia span.active_bullet {
    background-color: #439bc6 !important;
}
#second_left_nav #schlaraffia,
#second_left_nav #schlaraffia:hover {
    background-image: none;
}

/* next */

#unibet_menu_button {
    background-image: url('../brand_images/unibet_cska_levski/unibet_menu_logo.gif');
}
#unibet_menu_button:hover,
#unibet_menu_button.active_left_link,
#unibet_menu_button.active_left_link:hover {
    background-image: url('../brand_images/unibet_cska_levski/unibet_menu_logo_active.gif');
}
#unibet_menu_button span.active_bullet {
    background-color: #55a900 !important;
}
#second_left_nav #unibet_menu_button,
#second_left_nav #unibet_menu_button_cska_levski:hover {
    background-image: none;
}

/* next */

#chipi {
    background-image: url('../brand_images/chipi/chipi_menu_logo.jpg');
}
#chipi:hover,
#chipi.active_left_link,
#chipi.active_left_link:hover {
    background-image: url('../brand_images/chipi/chipi_menu_logo_active.jpg');
}
#chipi span.active_bullet {
    background-color: #ffd400 !important;
}
#second_left_nav #chipi,
#second_left_nav #chipi:hover {
    background-image: none;
}
/* next */

#betfair_end_2010 {
    background-image: url('../brand_images/betfair_v2_menu_logo.gif');
}
#betfair_end_2010:hover,
#betfair_end_2010.active_left_link,
#betfair_end_2010.active_left_link:hover {
    color: #000000;
    background-image: url('../brand_images/betfair_v2_menu_logo_active.gif');
}
#betfair_end_2010 span.active_bullet {
    background-color: #ffffff !important;
}
#second_left_nav #betfair_end_2010,
#second_left_nav #betfair_end_2010:hover {
    color: white;
    background-image: none;
}
/* next */

#betfair_2011 {
    background-image: url('../brand_images/betfair_2011/betfair_menu_logo.gif');
}
#betfair_2011:hover,
#betfair_2011.active_left_link,
#betfair_2011.active_left_link:hover {
    color: #fff;
    background-image: url('../brand_images/betfair_2011/betfair_menu_logo_active.gif');
}
#betfair_2011 span.active_bullet {
    background-color: #feb80b !important;
}
#second_left_nav #betfair_2011,
#second_left_nav #betfair_2011:hover {
    color: white;
    background-image: none;
}
/* next */

#betfair_v2 {
    background-image: url('../brand_images/betfair_v2_menu_logo.gif');
}
#betfair_v2:hover,
#betfair_v2.active_left_link,
#betfair_v2.active_left_link:hover {
    color: #000000;
    background-image: url('../brand_images/betfair_v2_menu_logo_active.gif');
}
#betfair_v2 span.active_bullet {
    background-color: #ffffff !important;
}
#second_left_nav #betfair_v2,
#second_left_nav #betfair_v2:hover {
    color: white;
    background-image: none;
}
/* next */

#full_tilt_poker {
    background-image: url('../brand_images/full_tilt_poker/ftp_menu_logo.gif');
}
#full_tilt_poker:hover,
#full_tilt_poker.active_left_link,
#full_tilt_poker.active_left_link:hover {
    background-image: url('../brand_images/full_tilt_poker/ftp_menu_logo_active.gif');
}
#second_left_nav #full_tilt_poker,
#second_left_nav #full_tilt_poker:hover {
    background-image: none;
}
/* next */

#bet365_know {
    background-image: url('../brand_images/bet365_know/bet365_menu_logo.gif');
}
#bet365_know:hover,
#bet365_know.active_left_link,
#bet365_know.active_left_link:hover {
    background-image: url('../brand_images/bet365_know/bet365_menu_logo_active.gif');
}
#bet365_know span.active_bullet {
    background-color: #ffe517 !important;
}
#second_left_nav #bet365_know,
#second_left_nav #bet365_know:hover {
    background-image: none;
}
/* next */

#turkish_airlines {
    background-image: url('../brand_images/turkish_airlines/ta_menu_logo.gif');
}
#turkish_airlines:hover,
#turkish_airlines.active_left_link,
#turkish_airlines.active_left_link:hover {
    background-image: url('../brand_images/turkish_airlines/ta_menu_logo_active.gif');
}
#turkish_airlines span.active_bullet {
    background-color: #ee2e24 !important;
}
#second_left_nav #turkish_airlines,
#second_left_nav #turkish_airlines:hover {
    background-image: none;
}
/* next */

#max_telecom_f1 {
    background-image: url('../brand_images/max_telecom_volley/max_vol_menu_logo.gif');
}
#max_telecom_f1:hover,
#max_telecom_f1.active_left_link,
#max_telecom_f1.active_left_link:hover {
    background-image: url('../brand_images/max_telecom_volley/max_vol_menu_logo_active.gif');
}
#max_telecom_f1 span.active_bullet {
    background-color: #ed1c24 !important;
}
#second_left_nav #max_telecom_f1,
#second_left_nav #max_telecom_f1:hover {
    background-image: none;
}
/* next */

#unibet_cska_levski {
    background-image: url('../brand_images/unibet_cska_levski/unibet_menu_logo.gif');
}
#unibet_cska_levski:hover,
#unibet_cska_levski.active_left_link,
#unibet_cska_levski.active_left_link:hover {
    background-image: url('../brand_images/unibet_cska_levski/unibet_menu_logo_active.gif');
}
#unibet_cska_levski span.active_bullet {
    background-color: #55a900 !important;
}
#second_left_nav #unibet_cska_levski,
#second_left_nav #unibet_cska_levski:hover {
    background-image: none;
}
/* next */

#puma_running {
    background-image: url('../brand_images/puma_running/puma_running_menu_logo.gif');
}
#puma_running:hover,
#puma_running.active_left_link,
#puma_running.active_left_link:hover {
    background-image: url('../brand_images/puma_running/puma_running_menu_logo_active.gif');
}
#puma_running span.active_bullet {
    background-color: #d01f26 !important;
}
#second_left_nav #puma_running,
#second_left_nav #puma_running:hover {
    background-image: none;
}
/* next */

#pravetz {
    background-image: url('../brand_images/pravetz/pravetz_menu_logo.gif');
}
#pravetz:hover,
#pravetz.active_left_link,
#pravetz.active_left_link:hover {
    background-image: url('../brand_images/pravetz/pravetz_menu_logo_active.gif');
}
#pravetz span.active_bullet {
    background-color: #1c6d03 !important;
}
#second_left_nav #pravetz,
#second_left_nav #pravetz:hover {
    background-image: none;
}
/* next */

#kamenitza {
    background-image: url('../brand_images/kamenitza/kamenitza_menu_logo.gif');
}
#kamenitza:hover,
#kamenitza.active_left_link,
#kamenitza.active_left_link:hover {
    background-image: url('../brand_images/kamenitza/kamenitza_menu_logo_active.gif');
}
#kamenitza span.active_bullet {
    background-color: #009e59 !important;
}
#second_left_nav #kamenitza,
#second_left_nav #kamenitza:hover {
    background-image: none;
}
/* next */

/*
#nike {
        background-image: url('../brand_images/nike/nike_menu_logo.gif');
}

#nike:hover,
#nike.active_left_link,
#nike.active_left_link:hover {
        background-image: url('../brand_images/nike/nike_menu_logo_active.gif');
}

#nike span.active_bullet {
        background-color: #efd39f !important;
}

#second_left_nav #nike,
#second_left_nav #nike:hover {
        background-image: none;
}
*/

/* next */

#mondial_2010,
#mondial_2010:hover {
    background-image: url('../brand_images/mondial_2010_icon.gif');
}
/* next */

#max_telecom_volley {
    background-image: url('../brand_images/max_telecom_volley/max_vol_menu_logo.gif');
}
#max_telecom_volley:hover,
#max_telecom_volley.active_left_link,
#max_telecom_volley.active_left_link:hover {
    background-image: url('../brand_images/max_telecom_volley/max_vol_menu_logo_active.gif');
}
#max_telecom_volley span.active_bullet {
    background-color: #ed1c24 !important;
}
/* next */

#max_telecom {
    background-image: url('../brand_images/max_telecom/max_vol_menu_logo.gif');
}
#max_telecom:hover,
#max_telecom.active_left_link,
#max_telecom.active_left_link:hover {
    background-image: url('../brand_images/max_telecom/max_vol_menu_logo_active.gif');
}
#max_telecom span.active_bullet {
    background-color: #ed1c24 !important;
}
/* next */

#zagorka_2011_tennis {
    background-image: url('../brand_images/zagorka_tennis/zag_ten_menu_logo.gif');
}
#zagorka_2011_tennis:hover,
#zagorka_2011_tennis.active_left_link,
#zagorka_2011_tennis.active_left_link:hover {
    background-image: url('../brand_images/zagorka_tennis/zag_ten_menu_logo_active.gif');
}
#zagorka_2011_tennis span.active_bullet {
    background-color: #008c13 !important;
}
#second_left_nav #zagorka_2011_tennis,
#second_left_nav #zagorka_2011_tennis:hover {
    background-image: none;
}
/* next */

#moment_basket,
#moment_formula {
    background-image: url('../brand_images/moment/moment_menu_logo.gif');
}
#moment_basket:hover,
#moment_formula:hover {
    background-image: url('../brand_images/moment/moment_menu_logo_active.gif');
}
#second_left_nav #moment_formula,
#second_left_nav #moment_formula:hover,
#second_left_nav #moment_basket,
#second_left_nav #moment_basket:hover {
    background-image: none;
}
#ariana {
    background-image: url('../brand_images/ariana_menu_logo.gif');
}
#ariana:hover {
    background-image: url('../brand_images/ariana_menu_logo_active.gif');
    color: black;
}
#second_left_nav #ariana {
    background-image: url('../images/left_menu_right_border.png');
    _background-image: none;
    color: white;
}
#second_left_nav #ariana span {
    background-color: #262626 !important;
}
#ariana span.active_bullet,
#second_left_nav #ariana span.active_bullet {
    background-color: white !important;
}
#johnnie_wallker {
    background-image: url('../brand_images/johny_menu_logo.gif');
}
#johnnie_wallker:hover {
    background-image: url('../brand_images/johny_menu_logo_active.gif');
}
#second_left_nav #johnnie_wallker {
    background-image: url('../images/left_menu_right_border.png');
    color: white;
}
#second_left_nav #johnnie_wallker span {
    background-color: #262626 !important;
}
#johnnie_wallker span.active_bullet,
#second_left_nav #johnnie_wallker span.active_bullet {
    background-color: #F0CC00 !important;
}
#johnnie_wallker_v2 {
    background-image: url('../brand_images/johny_menu_logo.gif');
}
#johnnie_wallker_v2:hover {
    background-image: url('../brand_images/johny_menu_logo_active.gif');
}
#johnnie_wallker_v2 span.active_bullet {
    background-color: #ffcf06 !important;
}
#second_left_nav #johnnie_wallker_v2 {
    background-image: none;
}
#eko {
    background-image: url('../brand_images/eko_menu_logo.gif');
}
#eko:hover {
    background-image: url('../brand_images/eko_menu_logo_active.gif');
}
#second_left_nav #eko {
    background-image: url('../images/left_menu_right_border.png');
    _background-image: none;
    color: white;
}
#second_left_nav #eko span {
    background-color: #262626 !important;
}
#eko span.active_bullet,
#second_left_nav #eko span.active_bullet {
    background-color: red !important;
}
#sport_toto {
    background-image: url('../brand_images/sport_toto_menu_logo.gif');
}
#sport_toto:hover {
    background-image: url('../brand_images/sport_toto_menu_logo_active.gif');
}
#obb {
    background-image: url('../brand_images/obb_menu_logo.gif');
}
#obb:hover {
    background-image: url('../brand_images/obb_menu_logo_active.gif');
    color: black;
}
#betfair_forecasts {
    background-image: url('../brand_images/betfair_menu_logo.gif');
}
#betfair_forecasts:hover {
    background-image: url('../brand_images/betfair_menu_logo_active.gif');
}
#nescafe {
    background-image: url('../brand_images/nescafe_menu_logo.gif');
}
#nescafe:hover {
    background-image: url('../brand_images/nescafe_menu_logo_active.gif');
}
#milka {
    background-image: url('../brand_images/milka_menu_logo.gif');
}
#milka:hover {
    background-image: url('../brand_images/milka_menu_logo_active.gif');
}
#bwin {
    background-image: url('../brand_images/bwin_menu_logo.gif');
}
#second_left_nav #bwin span {
    background-color: #262626 !important;
}
#second_left_nav #bwin {
    background-image: url('../images/left_menu_right_border.png');
    _background-image: none;
    color: white;
}
#bwin span.active_bullet,
#second_left_nav #bwin span.active_bullet {
    background-color: #FFCC00 !important;
}
#bwin:hover {
    background-image: url('../brand_images/bwin_menu_logo_active.gif');
}
#bet365 {
    background-image: url('../brand_images/bet365_menu_logo.gif');
}
#bet365 span.active_bullet,
#second_left_nav #bet365 span.active_bullet {
    background-color: #FFE517 !important;
}
#second_left_nav #bet365 {
    background-image: url('../images/left_menu_right_border.png');
    _background-image: none;
    color: white;
}
#bet365:hover {
    background-image: url('../brand_images/bet365_menu_logo_active.gif');
}
#euro_shans {
    background-image: url('../brand_images/euro_shans_menu_logo.gif');
}
#euro_shans:hover {
    background-image: url('../brand_images/euro_shans_menu_logo_active.gif');
}
#sportingbet {
    background-image: url('../brand_images/sportingbet_menu_logo.gif');
}
#sportingbet:hover {
    background-image: url('../brand_images/sportingbet_menu_logo_active.gif');
}
#hot_tv {
    background-image: url('../brand_images/hottv_menu_logo.gif');
}
#hot_tv:hover {
    background-image: url('../brand_images/hottv_menu_logo_active.gif');
}
#zagorka_cup {
    background-image: url('../brand_images/zagorka_cup_menu_logo.gif');
}
#zagorka_cup:hover {
    background-image: url('../brand_images/zagorka_cup_menu_logo_active.gif');
}
#mpg {
    background-image: url('../brand_images/mpg_menu_logo.gif');
}
#mpg:hover {
    color: #15316f;
    background-image: url('../brand_images/mpg_menu_logo_active.gif');
}
#poker_heaven {
    background-image: url('../brand_images/poker_menu_logo.gif');
}
#poker_heaven:hover {
    color: black;
    background-image: url('../brand_images/poker_menu_logo_active.gif');
}
#poker_stars {
    background-image: url('../brand_images/pokerstars_menu_logo.gif');
}
#poker_stars:hover {
    color: black;
    background-image: url('../brand_images/pokerstars_menu_logo_active.gif');
}
#betfair_new {
    background-image: url('../brand_images/betfair_menu_logo.gif');
}
#betfair_new:hover {
    color: black;
    background-image: url('../brand_images/betfair_menu_logo_active.gif');
}
#nacra {
    background-image: url('../brand_images/nacra_menu_logo.gif');
}
#nacra:hover {
    color: black;
    background-image: url('../brand_images/nacra_menu_logo_active.gif');
}
#lime {
    background-image: url('../brand_images/lime_menu_logo.gif');
}
#lime:hover {
    background-image: url('../brand_images/lime_menu_logo_active.gif');
}
#second_left_nav #sportingbet {
    background-image: url('../images/left_menu_right_border.png');
    _background-image: none;
    color: white;
}
#omv {
    background-image: url('../brand_images/omv_menu_logo.gif');
}
#omv:hover {
    background-image: url('../brand_images/omv_menu_logo_active.gif');
}
#second_left_nav #omv {
    background-image: url('../images/left_menu_right_border.png');
    _background-image: none;
    color: white;
}
#euro2008 {
    background-image: url('../brand_images/euro2008_menu_logo.gif');
}
#euro2008 span {
    background-color: #407FFF !important;
}
#bet365_video {
    background-image: url('../brand_images/bet365_menu_logo.gif');
}
#bet365_video:hover {
    background-image: url('../brand_images/bet365_menu_logo_active.gif');
}
#zagorka {
    background-image: url('../brand_images/zagorka_menu_logo.gif');
}
#zagorka:hover {
    background-image: url('../brand_images/zagorka_menu_logo_active.gif');
}
#devin {
    background-image: url('../brand_images/devin_menu_logo.gif');
}
#devin:hover {
    background-image: url('../brand_images/devin_menu_logo_active.gif');
}
#golf {
    background-image: url('../brand_images/devin_menu_logo.gif');
}
#golf:hover {
    background-image: url('../brand_images/devin_menu_logo_active.gif');
}
#unibet {
    background-image: url('../brand_images/unibet_menu_logo.gif');
}
#unibet:hover {
    color: black;
    background-image: url('../brand_images/unibet_menu_logo_active.gif');
}
#unibet_2 {
    background-image: url('../brand_images/unibet_2/btn_1.jpg');
}




#unibet_2:hover,
#unibet_2.active_left_link,
#unibet_2.active_left_link:hover {
    background-image: url('../brand_images/unibet_2/btn_2.jpg');
}
#unibet_2 span.active_bullet {
    background-color: #55a900 !important;
}
#second_left_nav #unibet_2,
#second_left_nav #unibet_2:hover {
    background-image: none;
}





#devin_v2 {
    background-image: url('../brand_images/devin_menu_logo.gif');
}
#devin_v2:hover {
    background-image: url('../brand_images/devin_v2_menu_logo_active.gif');
}

/* fix */

#betathome {
    background: transparent url('../brand_images/betathome_menu_logo.gif') no-repeat right top;
}
#betathome:hover {
    background: transparent url('../brand_images/betathome_menu_logo_active.gif') no-repeat right top;
}
#second_left_nav #betathome,
#second_left_nav #betathome:hover {
    background-image: none;
}
#nescafe_v2 {
    background-image: url('../brand_images/nescafe_v2_menu_logo.gif');
}
#nescafe_v2:hover {
    color: #000000;
    background-image: url('../brand_images/nescafe_v2_menu_logo_active.gif');
}
#ariana_2 {
    background: url('../brand_images/ariana_2/menu_logo.gif') no-repeat right top;
}
#ariana_2:hover,
#ariana_2.active_left_link,
#ariana_2.active_left_link:hover {
    background: url('../brand_images/ariana_2/menu_logo_active.gif') no-repeat right top;
    color: black;
}
#ariana_2.active_left_link span.active_bullet {
    background-color: white!important;
}
#second_left_nav #ariana_2,
#second_left_nav #ariana_2:hover {
    background-image: none;
    color: #fff!important;
}
#marcopolo {
    background: url('../brand_images/marcopolo/btn.jpg') no-repeat right top;
}
#marcopolo:hover,
#marcopolo.active_left_link,
#marcopolo.active_left_link:hover {
    background: url('../brand_images/marcopolo/btn.jpg') no-repeat right bottom;
}
#ariana_4 {
    background: url('../brand_images/ariana_4/menu_logo.gif') no-repeat right top;
}
#ariana_4:hover,
#ariana_4.active_left_link,
#ariana_4.active_left_link:hover,
#ariana_4.active_second_nav_link,
#ariana_4.active_second_nav_link:hover {
    background: url('../brand_images/ariana_4/menu_logo_active.gif') no-repeat right top;
    color: black;
}
#ariana_4.active_left_link span.active_bullet,
#second_left_nav #ariana_4.active_second_nav_link span.active_bullet {
    background-color: white!important;
}
/*

#second_left_nav #ariana_4,
#second_left_nav #ariana_4:hover {
        background-image: none;
        color: #fff!important;
}

*/

#fitnes {
    background-image: url('../brand_images/fitnes/menu_logo.png');
}
#fitnes:hover,
#fitnes.active_left_link,
#fitnes.active_left_link:hover {
    background-image: url('../brand_images/fitnes/menu_logo_active.png');
}
#fitnes span.active_bullet {
    background-color: #ed1c24 !important;
}

/**/
#johnnie_walker_3 {
    background-image: url('../brand_images/johnnie_walker_3/btn.jpg');
}
#johnnie_walker_3:hover,
#johnnie_walker_3.active_left_link,
#johnnie_walker_3.active_left_link:hover {
    background-image: url('../brand_images/johnnie_walker_3/btn_active.png');
}
#johnnie_walker_3 span.active_bullet {
    background-color: #ffd400 !important;
}
#second_left_nav #johnnie_walker_3,
#second_left_nav #johnnie_walker_3:hover {
    background-image: none;
}
/**/
#nescafe_3 {
    background-image: url('../brand_images/nescafe_3/menu_logo.gif');
}
#nescafe_3:hover,
#nescafe_3.active_left_link {
    background-image: url('../brand_images/nescafe_3/menu_logo_active.gif');
}
#nescafe_3:hover span,
#nescafe_3.active_left_link span {
    background: url('../brand_images/nescafe_3/bulet.gif') repeat-y;
}

/**/
#playboy_2011 {
    background-image: url('../brand_images/playboy_2011/menu_logo.gif');
}
#playboy_2011:hover,
#playboy_2011.active_second_nav_link,
#playboy.active_second_nav_link:hover {
    background-image: url('../brand_images/playboy_2011/menu_logo_active.gif');
}

/**/
#zayo_bayo {
    background-image: url('../brand_images/zayo_bayo/menu_logo.gif');
}
#zayo_bayo:hover,
#zayo_bayo.active_left_link {
    background-image: url('../brand_images/zayo_bayo/menu_logo_active.gif');
}
#zayo_bayo:hover span,
#zayo_bayo.active_left_link span {
    background-color:#002769 !important;
}
#second_left_nav #zayo_bayo,
#second_left_nav #zayo_bayo:hover {
    background-image: none;
    color: #fff!important;
}

/**/
#andrews_fashion {
    background-image: url('../brand_images/andrews_fashion/menu_logo.gif');
}
#andrews_fashion:hover,
#andrews_fashion.active_left_link {
    background-image: url('../brand_images/andrews_fashion/menu_logo_active.gif');
}
#andrews_fashion:hover span,
#andrews_fashion.active_left_link span {
    background-color:#ed1c24 !important;
}




/*new*/
#carrefour {
    background-image: url('../brand_images/carrefour/menu_logo.gif');
}
#carrefour:hover,
#carrefour.active_left_link {
    background-image: url('../brand_images/carrefour/menu_logo_active.gif');
}
#carrefour:hover span,
#carrefour.active_left_link span {
    background-color:#63b6e5 !important;
}


/*new*/
#hyundai {
    background-image: url('../brand_images/hyundai/menu_logo.gif');
}
#hyundai:hover,
#hyundai.active_left_link {
    background-image: url('../brand_images/hyundai/menu_logo_active.gif');
}
#hyundai:hover span,
#hyundai.active_left_link span {
    background-color:#ce2027 !important;
}
#second_left_nav #hyundai,
#second_left_nav #hyundai:hover {
    background-image: none;
    color: #fff!important;
}

/* new */
#menu_365 {
    color: #ffdf0e !important;
}
#menu_365 {
    background-image: url('../brand_images/menu_365/menu_logo.gif');
    color: #ffdf0e !important;
}
#menu_365:hover,
#menu_365.active_left_link {
    background-image: url('../brand_images/menu_365/menu_logo_active.gif');
    color: #ffdf0e !important;
}
#menu_365:hover span,
#menu_365.active_left_link span {
    background-color:#37a583 !important;
}

/* new */
#poker {
    color: #fff !important;
}
#poker {
    background-image: url('../brand_images/menu_poker/menu_logo.gif');
}
#poker:hover,
#poker.active_left_link {
    background-image: url('../brand_images/menu_poker/menu_logo_active.gif');
}
#poker:hover span,
#poker.active_left_link span {
    background-color:#ee1c25 !important;
}


/* new */
#chevrolet_aveo_inner {
    color: #000 !important;
}
#chevrolet_aveo_inner {
    background-image: url('../brand_images/chevrolet/menu_logo.gif');
}
#chevrolet_aveo_inner:hover,
#chevrolet_aveo_inner.active_left_link {
    background-image: url('../brand_images/chevrolet/menu_logo_active.gif');
}
#chevrolet_aveo_inner:hover span,
#chevrolet_aveo_inner.active_left_link span {
    background-color:#fed20c !important;
}
#second_left_nav #chevrolet_aveo_inner,
#second_left_nav #chevrolet_aveo_inner:hover {
    background-image: none;
    color: #fff!important;
}

/* new */
#chevrolet_aveo_inner_2 {
    color: #000 !important;
}
#chevrolet_aveo_inner_2 {
    background-image: url('../brand_images/chevrolet/menu_logo.gif');
}
#chevrolet_aveo_inner_2:hover,
#chevrolet_aveo_inner_2.active_left_link {
    background-image: url('../brand_images/chevrolet/menu_logo_active.gif');
}
#chevrolet_aveo_inner_2:hover span,
#chevrolet_aveo_inner_2.active_left_link span {
    background-color:#fed20c !important;
}
#second_left_nav #chevrolet_aveo_inner_2,
#second_left_nav #chevrolet_aveo_inner_2:hover {
    background-image: none;
    color: #fff!important;
}

/* new */
#carlsberg_april {
    background-image: url('../brand_images/carlsberg_april/carlsberg_menu_logo.gif');
}
#carlsberg_april:hover,
#carlsberg_april.active_left_link {
    background-image: url('../brand_images/carlsberg_april/carlsberg_menu_logo_active.gif');
}
#carlsberg_april:hover span,
#carlsberg_april.active_left_link span {
    background-color:#009a3d !important;
}
#second_left_nav #carlsberg_april,
#second_left_nav #carlsberg_april:hover {
    background-image: none;
    color: #fff!important;
}

/* new */
#kamenitza_fancup_april {
    background-image: url('../brand_images/kamenitza_april/kamenitza_menu_logo.gif');
    text-align: right;
    padding-right: 10px;
    color: #000;
}
#kamenitza_fancup_april:hover,
#kamenitza_fancup_april.active_left_link {
    background-image: url('../brand_images/kamenitza_april/kamenitza_menu_logo_active.gif');
    color: #fbd500;
    text-align: right;
    padding-right: 10px;
}
#kamenitza_fancup_april.active_left_link span {
    background-color: #10c05a !important;
}
#second_left_nav #kamenitza_fancup_april,
#second_left_nav #kamenitza_fancup_april:hover {
    background-image: none;
    color: #FFDF0E !important;
}

/* next */
#ariana_2012_amateur {
    background-image: url('../brand_images/ariana_2012_amateur/a2012a_menu_logo.gif');
}
#ariana_2012_amateur:hover,
#ariana_2012_amateur.active_left_link,
#ariana_2012_amateur.active_left_link:hover {
    background-image: url('../brand_images/ariana_2012_amateur/a2012a_menu_logo_active.gif');
    color: #000 !important;
}
#ariana_2012_amateur span.active_bullet {
    background-color: #ffe055 !important;
}
#second_left_nav #ariana_2012_amateur,
#second_left_nav #ariana_2012_amateur:hover {
    background-image: none;
}

/* next */
#raiffeisen_2012 {
    background-image: url('../brand_images/raiffeisen_2012/raiffeisen_menu_logo.gif');
}
#raiffeisen_2012:hover,
#raiffeisen_2012.active_left_link,
#raiffeisen_2012.active_left_link:hover {
    color: black;
    background-image: url('../brand_images/raiffeisen_2012/raiffeisen_menu_logo_active.gif');
}
#raiffeisen_2012 span.active_bullet {
    background-color: #ffea00 !important;
}

#second_left_nav #raiffeisen_2012,
#second_left_nav #raiffeisen_2012:hover {
    background-image: none;
}*/

/* ----------------------------------

ARIANA Amatiorska Liga - Right Box

---------------------------------- */

.ariana-yellow .heading_title_container {
    background-image: url('../brand_images/ariana_amat_liga/heading_background.png');
}
.ariana-yellow .heading_title_container a {
    color: #000000;
}
.inner-box {
    background-color: #333333;
    margin: 5px auto;
    width: 290px;
}
.latest-article {
    border-top: 1px solid #000000;
    padding: 10px 5px
}
.latest-article-image {
    float: left;
}
.latest-article-info {
    float: right;
    width: 187px;
}
.latest-article-info a {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


/* Profit.bg - Sport & Business Full Branding */

/*#profitbg_sportbusiness {
    background-image: url('../brand_images/profitbg_sportbusiness/profitbg_menu_logo.gif');
    padding-right: 10px;
}
#profitbg_sportbusiness:hover,
#profitbg_sportbusiness.active_left_link {
    background-image: url('../brand_images/profitbg_sportbusiness/profitbg_menu_logo_hover.gif');
    color: #ffffff;
    padding-right: 10px;
}
#profitbg_sportbusiness span.active_bullet,
#profitbg_sportbusiness.active_left_link span {
    background-color: #00539a !important;
}*/

/* Champions League Sidebar Link Branding */

#champ_league {
    background-image: url('../brand_images/champ_league/champ_menu_logo.gif');
    padding-right: 10px;
}
#champ_league:hover,
#champ_league.active_left_link {
    background-image: url('../brand_images/champ_league/champ_menu_logo_hover.gif');
    color: #ffffff;
    padding-right: 10px;
}
#champ_league span.active_bullet,
#champ_league.active_left_link span {
    background-color: #fff !important;
}

/* next */
#vw {
    background-image: url('../brand_images/vw_menu_logo.gif');
}
#vw:hover,
#vw.active_left_link,
#vw.active_left_link:hover {
    color: white;
    background-image: url('../brand_images/vw_menu_logo_active.gif');
}
#vw span.active_bullet {
    background-color: #1067af !important;
}

#second_left_nav #vw,
#second_left_nav #vw:hover {
    background-image: none;
}

/* london 2012 */

#london_2012,
#london_2012:hover,
#london_2012.active_left_link,
#london_2012.active_left_link:hover {
    color: white;
    background-image: url('../brand_images/london2012/london2012.gif');
}

#london_2012 span.active_bullet {
    background-color: #ff8400 !important;
}

/* next */
#slivenska {
    background-image: url('../brand_images/slivenska_menu_logo.gif');
}
#slivenska:hover,
#slivenska.active_left_link,
#slivenska.active_left_link:hover {
    color: white;
    background-image: url('../brand_images/slivenska_menu_logo_active.gif');
}
#slivenska span.active_bullet {
    background-color: #71282b !important;
}

#second_left_nav #slivenska,
#second_left_nav #slivenska:hover {
    background-image: none;
}

/* MyBody */

#mybody {
    background-image: url('../brand_images/mybody/mybody.gif');
}

#mybody:hover,
#mybody.active_left_link,
#mybody.active_left_link:hover {
    color: white;
    background-image: url('../brand_images/mybody/mybody_active.gif');
}

#mybody span.active_bullet {
    background-color: #3ee4f5 !important;
}

/* Polaar */
#polaar {
    background-image: url('../brand_images/polaar/polaar_menu_logo.png');
}
#polaar:hover,
#polaar.active_left_link,
#polaar.active_left_link:hover {
    color: white;
    background-image: url('../brand_images/polaar/polaar_menu_logo_active.png');
}
#polaar span.active_bullet {
    background-color: #447893 !important;
}

#second_left_nav #polaar,
#second_left_nav #polaar:hover {
    background-image: none;
}

/* EUROFUTBALL */
#eufootball {
    background-image: url('../brand_images/eufootball_menu.png');
}
#eufootball:hover,
#eufootball.active_left_link,
#eufootball.active_left_link:hover {
    color: white;
    background-image: url('../brand_images/eufootball_menu_active.png');
}
#eufootball span.active_bullet {
    background-color: #f5db00 !important;
}

#second_left_nav #eufootball,
#second_left_nav #eufootball:hover {
    background-image: none;
}

/* Sochi 2014 */
#sochi2014 {
    background-image: url('../brand_images/sochi2014_button.png');
}
#sochi2014:hover,
#sochi2014.active_left_link,
#sochi2014.active_left_link:hover {
    color: white;
    background-image: url('../brand_images/sochi2014_button_active.png');
}
#sochi2014 span.active_bullet {
    background-color: #0072bd !important;
}

#second_left_nav #sochi2014,
#second_left_nav #sochi2014:hover {
    background-image: none;
}

/* Worldcup 2014 */
#worldcup2014 {
    background-image: url('../brand_images/worldcup2014_menu_logo_active.gif');
}
#worldcup2014:hover,
#worldcup2014.active_left_link,
#worldcup2014.active_left_link:hover {
    color: white;
    background-image: url('../brand_images/worldcup2014_menu_logo_active.gif');
}
#worldcup2014 span.active_bullet {
    background-color: #fff400 !important;
}

#second_left_nav #worldcup2014,
#second_left_nav #worldcup2014:hover {
/*    background-image: none; */
}

/* LIDL */
/*#lidl {
    background-image: url('../brand_images/lidl_menu_logo.png');
}
#lidl:hover,
#lidl.active_left_link,
#lidl.active_left_link:hover {
    color: white;
    background-image: url('../brand_images/lidl_menu_logo_hover.png');
}
#lidl span.active_bullet {
    background-color: #fff400 !important;
}

#second_left_nav #lidl,
#second_left_nav #lidl:hover {
    background-image: none; 
}*/

/* Worldcup 2014 */
#zagorka_plajna_liga {
    background: #333 url('../brand_images/zagorka_menu_logo.png') no-repeat 116px center;
    text-transform: uppercase;
}
#zagorka_plajna_liga:hover,
#zagorka_plajna_liga.active_left_link,
#zagorka_plajna_liga.active_left_link:hover {
    color: white;
    background: #333 url('../brand_images/zagorka_menu_logo_active.png') no-repeat 116px center;
    color: #0a8f16;
}
#zagorka_plajna_liga span.active_bullet {
    background-color: #fff400 !important;
}

#second_left_nav #zagorka_plajna_liga,
#second_left_nav #zagorka_plajna_liga:hover {
/*    background-image: none; */
}

/* Betfair 05.2016 */
#betfair {
    background: #333 url('../brand_images/betfair2016/betfair_logo_white.png') no-repeat 105px center;
}
#betfair:hover,
#betfair.active_left_link,
#betfair.active_left_link:hover {
    color: white;
    background: #ffb90c url('../brand_images/betfair2016/betfair_logo_black.png') no-repeat 105px center;
    color: #000;
}
#betfair span.active_bullet {
    background-color: #fff400 !important;
}

/* EURO 2016 */
#euro2016 {
    background: #09335b url('../brand_images/euro2016_logo.png') no-repeat 105px center;
}
#euro2016:hover,
#euro2016.active_left_link,
#euro2016.active_left_link:hover {
    color: white;
    background: #09335b url('../brand_images/euro2016_logo.png') no-repeat 105px center;
    color: #fff;
}

/* Kamenitza 2016 */
#kamenitza2016 {
    background: #333 url('../brand_images/kamenitza_menu/kamenitza_unactive.png') no-repeat 76px center;
}
#kamenitza2016:hover,
#kamenitza2016.active_left_link:hover {
    background: #333 url('../brand_images/kamenitza_menu/kamenitza_active.png') no-repeat 76px center;
    color: #0a8f16;
}
#kamenitza2016.active_left_link,
#kamenitza2016.active_left_link:hover {
    background: #0a8f16 url('../brand_images/kamenitza_menu/kamenitza_active.png') no-repeat 76px center;
    color: #fff;
}
/* Scania */
#scania {
    background: #fff url('../brand_images/scania/scania_menu_logo.png') no-repeat 80px; center;
}
#scania:hover {
    background: #fff url('../brand_images/scania/scania_menu_active.png') no-repeat center center;
    color: #fff;
}
#scania.active_second_nav_link,
#scania.active_second_nav_link:hover {
    background: url('../brand_images/scania/scania_menu_active.png') no-repeat center center;
    color: #fff;
}