.jcl-demo .carousel li, .jcl-demo .carousel2 li{
    width: 320px !important;
}
.jcl-demo .carousel li img, .jcl-demo .carousel2 li img{
    float: left;
    width: 100px;
}

.jcl-demo{
    position: relative;
    padding: 10px;
    margin-top: 10px;
    background: url('../img/hr_slider_bg.png') left top repeat-x;
}
.jcl-btn{
    position: absolute;
    top: 0px;
    z-index: 999;
}
.jcl-demo .prev{
    left: 0px;
}
.jcl-demo .next{
    right: 0px;
}


.jcl-demo .carousel, .jcl-demo .carousel2 {
    float: left;
    /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
    .jcl-demo .carousel>ul>li>img, .jcl-demo .carousel2>ul>li>img {
        width: 140px;
        height: 108px;
        vertical-align:middle;

        /* optional */
        margin: 10px 10px 10px 0;
        border-radius: 5px;
    }

    /* Styling for text based carousel content. Only width and height are mandatory */
    .jcl-demo .carousel>ul>li>p, .jcl-demo .carousel2>ul>li>p {
        font-size: 13px;
        color: #006BB9;
    }
    .jcl-demo .carousel>ul>li>a,.jcl-demo .carousel2>ul>li>a {
        font-size: 16px;
        margin-top: 10px;
        display: block;
        color: #16387c;
    }

/* Styles for PREV and NEXT anchor buttons */
.jcl-demo a.prev, .jcl-demo a.next, .jcl-demo a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;

    /*background-color: #333333;*/
    color: ghostwhite;
    text-decoration: none;
    font-size: 25px;

    float: left;
}
   
    .jcl-demo a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    .jcl-demo a.prev {
        margin: 43px -5px 0 -13px;
    }
    .jcl-demo a.next {
        margin: 43px -15px 0 0;
    }
       

/* Additional carousel styles for external controls, slider, widget, mid etc. */

.jcl-demo .externalControl button,
.jcl-demo .imageSliderExt button {
    margin: 5px 5px 0 0;
}
.jcl-demo .externalControl a.next, .jcl-demo .externalControl a.prev, .jcl-demo .externalControl a.go,
.jcl-demo .imageSliderExt a.next, .jcl-demo .imageSliderExt a.prev, .jcl-demo .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

.jcl-demo .widget img {
    cursor: pointer;
}
.jcl-demo .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
.jcl-demo .vertical {
    margin-left: 170px;
}

.jcl-demo .imageSlider .carousel>ul>li>img,
.jcl-demo .imageSliderExt .carousel>ul>li>img,
.jcl-demo .imageSlider .carousel2>ul>li>img,
.jcl-demo .imageSliderExt .carousel2>ul>li>img {
    width: 400px;
    height: 300px;
}
.jcl-demo .imageSlider .carousel>ul>li>p,
.jcl-demo .imageSliderExt .carousel>ul>li>p,
.jcl-demo .imageSlider .carousel2>ul>li>p,
.jcl-demo .imageSliderExt .carousel2>ul>li>p {
    width: 380px;
    height: 280px;
}

/* Other common styles */

.clear {
    clear: both;
}


.bottom_jcl{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e03839+0,7a1414+100 */
    background: #e03839; /* Old browsers */
    background: -moz-linear-gradient(top,  #e03839 0%, #7a1414 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e03839), color-stop(100%,#7a1414)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e03839 0%,#7a1414 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e03839 0%,#7a1414 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e03839 0%,#7a1414 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e03839 0%,#7a1414 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e03839', endColorstr='#7a1414',GradientType=0 ); /* IE6-9 */
}
.bottom_jcl .carousel li,.bottom_jcl .carousel2 li{
    margin-right: 10px;
    padding: 0px 5px 5px 5px;
    width: 307px !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db4d42+0,913025+100 */
    background: #db4d42; /* Old browsers */
    background: -moz-linear-gradient(top,  #db4d42 0%, #913025 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db4d42), color-stop(100%,#913025)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #db4d42 0%,#913025 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #db4d42 0%,#913025 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #db4d42 0%,#913025 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #db4d42 0%,#913025 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db4d42', endColorstr='#913025',GradientType=0 ); /* IE6-9 */
}

.bottom_jcl .carousel > ul > li > a,.bottom_jcl .carousel2 > ul > li > a{
    color: #ffdf00;
    display: block;
    margin-top: 10px;
}
.bottom_jcl .carousel > ul > li > p,.bottom_jcl .carousel2 > ul > li > p{
    color: #FFF;
}