@font-face {
    font-family: 'solaimanlipinormal';
    src: url('../fonts/solaimanlipi_29-05-06-webfont.eot');
    src: url('../fonts/solaimanlipi_29-05-06-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/solaimanlipi_29-05-06-webfont.woff2') format('woff2'),
         url('../fonts/solaimanlipi_29-05-06-webfont.woff') format('woff'),
         url('../fonts/solaimanlipi_29-05-06-webfont.ttf') format('truetype'),
         url('../fonts/solaimanlipi_29-05-06-webfont.svg#solaimanlipinormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*.smarticker1 ul, .breaking_news ul{*/
.smarticker1, .breaking_news ul{
	overflow: hidden;
	height: 30px;
}
#cse-search-results iframe{
	width: 100% !important;
}


body{
	background: #FAF9F9;
	font-family: 'solaimanlipi';
	font-size: 15px;
}
.hidden-class{
	display: none;
}
.home_popup{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.8);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
}
.home_popup .pop{
	width: 600px;
	margin: 7% auto 0 auto;
	background: #FFF;
	padding: 5px;
	position: relative;
}
.home_popup .pop img{
	width: 100%;
}
.home_popup .close{
	position: absolute;
	right: -9px;
    top: -9px;
	opacity: 1;
}
.home_popup .close img{
	width: 32px;
	height: 32px;
}

.body-ad{
	position: fixed;
	top: 30px;
	width: 160px;
	z-index: 2;
}
.body-ad .x-btn{
	position: absolute;
}
.body-ad .x-btn img{
	width: 18px;
}
.body-ad-left{
	left: 0;
}
.body-ad .x-btn{
	right: -6px;
	top: -12px;
}
.body-ad-right{
	right: 0px;
}
.body-ad-right .x-btn{
	left: -6px;
}
.body-ad .ad_cl{
	left: 0;
}
.body-ad .ad_cl img{
	width: auto;
}
.body-ad object{
	width: 100%;
}



.ad{
	padding-left: 0px;
	padding-right: 0px;
	margin:10px 0;
        text-align: center;
}
.ad > div{
	padding-left: 20px;
	padding-right: 0px;
}
.ad > div:first-child{
	padding-left: 0px;
}
.ad > div img, .ad > div object{
	width: 100%;
	height: 60px;
}
.right-add{
	background: #FAF9F9;
	border:1px solid #DDDDDD;
	padding:15px;
	margin-bottom: 10px;
}
.right-add img{
	width: 100%;
}
.app_link{
	margin: 20px 0;
}
.app_link a{
	margin-bottom: 10px;
	display: block;
}
.app_link a img{
	width: 100%;
}
.view_iframe{
	padding-top: 15px;
	padding-bottom: 15px;
}
.hot_jobs{
	width: 100% !important;
	height: 152px !important;
}
.hot_jobs ul{
	padding: 10px 0;
}
.hot_jobs ul li{
	list-style: none;
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.hot_jobs ul li div{
	padding-left: 0;
}
#polling_result #pool_vote{
	background: #555555;
	border:none;
	text-align: center;
	color: #FFF;
	line-height: 30px;
        width: 100%;
}
#polling_result #pool_result{
	background: #000000;
	text-align: center;
	color: #FFF;
	line-height: 30px;
        display: none;
}

@media all and (min-width: 1024px) {
  .container{
  	width: 1000px;
  	padding-left: 0;
  	padding-right: 0;
  }
}
header{
	background:url('../img/header.png') center top no-repeat #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	max-height: 219px;
	position: relative;
	overflow: hidden;
	z-index: 2;
}

header .header_ad{
	margin-bottom: 20px;
}
header .header_ad img{
	width: 100%;
}
header .logo{
	margin-bottom: 10px;
	float: left;
}
header p{
	font-size: 16px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#cse-search-box .search-query{
		width: 200px;
	}
	#polling_result #pool_result{
		line-height:32px;
	}
	.online_tab .online_summary .lead_news a{
		width: 100%;
	}
}

#custom-search-input {
	padding-left: 15px;
}
#custom-search-input .search-query{
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border: none;
}
#custom-search-input button {
	border: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 34px;
	margin-bottom: 0;
	color:#000;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.search-query:focus + button {
	z-index: 3;   
}
.polling-box{
    height: 310px;
}

nav{
	background:url('../img/menu_bg.png') left top repeat-x;
	height: 39px;
	display: block;
	width: 100%;
	position: relative;
	z-index: 2;
}
nav .nav_khela .lead_news img{
	width: 100%;
}
nav .nav_khela .lead_news_list img{
	width: 100%;
	margin-right: 10px;
}
nav .nav_khela .lead_news_list, nav .nav_khela .lead_news_list div{
	padding-right: 0;
}
nav .nav_khela .lead_news, nav .nav_khela .lead_news_list{
	padding: 0px;
}

nav .nav_khela .lead_news_list .col-xs-12{
	background: #F5F5F5;
	margin: 5px;
	padding: 5px;
}
nav .nav_khela .lead_news_list .col-xs-5{
	padding-left: 0px;
}
nav .nav_khela .lead_news_list .col-xs-7 a{
	font-size: 16px;
	line-height: 12px;
}


.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 10px;
  min-width: 300px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.navbar-top .navbar-default{
	color: #fff;
	background: none;
	border-color: #000;
	border: none;
}
.navbar-top .feature li{
	padding-bottom: 5px;
	min-height: 60px;
}
.yamm .dropdown ul.feature li{
	padding-bottom: 10px;
}
.navbar-top .navbar-nav > li > .dropdown-menu{
	border:5px solid #E6EEF4;
}
.navbar-top .navbar-nav > li > .dropdown-menu .todays_view img{
	width: 100%;
}
.navbar-top,.navbar-top .navbar-collapse,nav .container{
	padding: 0px 10px 0px 10px;
}
@media all and (min-width: 700px) {
	.navbar-top,.navbar-top .navbar-collapse,nav .container{
		padding: 0px 10px 0px 10px;
	}
}
.navbar-top .navbar{
	min-height: 38px;
}
.navbar-top .navbar-nav > li > a{
        padding: 8px 12px 5px 12px;
	font-size: 16px;
	color: #266BB9;
}
.navbar-top a{
	font-size: 17px;
}

.navbar-top .dropdown-menu li ul{
	padding-left: 20px;
}
.navbar-top .dropdown-menu li:first-child ul li{
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
.navbar-top li ul a span p{
	font-size: 12px;
	display: inline;
	padding-left: 5px;
	color: #DC0000;
}
.navbar-top .taday_newspaper .list ul li{
	width: 100%;
	float: left;
}
.navbar-top .taday_newspaper .list ul li img{
	margin-bottom: 10px;
}

.home-top-news{
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 20px;
}
.home-top-news h2{
	color:#16387c;
	font-size: 24px;
    line-height: 28px;
    margin:0px;
}
.home-top-news div{
	padding-left: 0px;
	padding-right: 0px;
}

.home-top-news div:nth-child(1) img{
	width: 100%;
	display: block;
	margin: 10px 0;
}
.home-top-news p{
	/*font-size: 14px;*/
}

.home-top-news .home-top-more-news{
	padding-left: 20px;
}
.home-top-more-news ul{
	padding: 0px;
}
.home-top-more-news ul li{
	display: block;
	list-style: none;
	border-bottom: 1px dashed #ccc;
	/*padding-bottom: 5px;*/
}
.home-top-more-news ul li .more_news{
	padding:0px;
	display: none;
	clear: both;
}
.home-top-more-news ul li:first-child .more_news{
	display: block;
}
.home-top-more-news ul li a{
	font-size: 17px;
	line-height: 20px;
	padding:8px 0;
	float: left;
	color: #16387C;
}
.home-top-more-news ul li p{
	float: left;
	width: 225px;
	font-size: 14px;
}
.home-top-more-news ul li img{
	width: 75px !important;
	height: 50px;
	float: right;
	margin-top: 0!important;
	margin-bottom: 5px!important;
}

.more_news_a{
	color: #08c;
	float: right;
	font-size: 14px;
	margin:0 10px;
}
.home-top-news .tab_news{
	padding-left: 20px;
}
.tab_news .nav-tabs{
	background: #f3f5ff;
}
.tab_news #myTabs a{
	color: #666;
}
.tab_news ul.news_list {
	padding:5px;
	margin:0px;
	height: 415px;
	border: 1px solid #D3DFED;
	border-top: none;
}
.tab_news ul.news_list li{
	list-style: none;
	display: block;
	clear: both;
	border-bottom: 1px solid #CCCCCC;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.tab_news ul.news_list li a{
	font-size: 14px;
	color: #000;
}
.tab_news ul.news_list img{
	width: 90px;
	height: 60px;
	float: left;
	margin: 0 10px 10px 0px;
}
.tab_news ul.news_list li small{
	display: block;
	color: #999;
	font-size: 14px;
}

.online_tab, .home_online {
	padding: 0px;
}
.online_tab{
	border:1px solid #d3dfed;
	margin-bottom: 10px;
}

.online_tab h2{
	background: url('../img/menu_title_bar.png') left top repeat-x;
	height: 40px;
	display: block;
	color:#000;
	font-size:20px;
	line-height: 40px;
	padding-left: 10px;
	margin-top: 0;
}
.online_tab ul{
	padding: 0px;
	/*background: #f3f5ff;*/
	width: 150px;
	float: left;
	border-bottom: 1px dashed #eee;
}
.online_tab ul li{
    border-bottom: 1px solid #fff;
    color: #006699;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 37px;
    padding: 0 14px;
    text-transform: uppercase;
    width: 150px;
    list-style: none;
}
.online_tab ul li.selected{
	background: url('../img/tab-ajax-active.png') left top no-repeat;
	color: #cc0000;
    width: 164px;
}

.online_tab .online_tab_summary{
	float: left;
	width: 492px;
}

.online_tab .online_tab_summary .carousel-indicators{
	bottom: -19px;
	right: 0px;
	margin-left:0px;
	width: 11%;
	left:90%;
}
.online_tab .online_tab_summary .carousel-indicators li{
	background: #006699;
	border-radius:0px;
}
.online_tab .online_tab_summary .carousel-indicators li.active{
	background: #cd0000;
}

.online_tab .online_tab_summary #ajax_news .item div{
	height: 285px;
	overflow: hidden;
}

.online_tab .nav-title{
	color: #000;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
}
.online_tab .up{
	background: url('../img/arraw.png') left top no-repeat;
	height: 16px;
	width: 16px;
	float: right;
	margin: 15px 10px 0 0;
}
.online_tab .online_summary{
	margin:0;
	padding: 0 0;
}
.online_summary .lead_news div{
	padding-left: 0;
}
.online_tab .online_summary .lead_news img{
	width: 96%;
	float: left;
	margin-right: 10px;
}
.online_tab .online_summary .lead_news a{
	float: left;
	margin-right: 10px;
	font-size: 14px;
	float: left;
	line-height: 22px;
}
.online_tab .online_summary .lead_news_list{
	padding: 0px;
}
.online_tab .online_summary .lead_news_list ul{
	padding: 0;
	margin: 0;
	width: auto;
}
.online_tab .online_summary .lead_news_list ul li{
	background: url('../img/li_arraw.png') left 10px no-repeat;
	width: auto;
	font-size: 14px;
	height: auto;
	line-height:17px;
	border-bottom:none;
	padding: 5px 0 5px 10px;
}
.khela_home .lead_news {
	position: relative;
	padding-right: 0;
}
.khela_home .lead_news img{
	/*height: 309px;*/
	width: 100%
}
.khela_home .lead_news a span{
	display: none;
	position: absolute;
	left:0;
	bottom: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	font-size: 16px;
	color: #FFF;
}
.khela_home .lead_news a:hover span{
	display: block;
}
.khela_home .more a{
	position: relative;
}
.khela_home .more a span{
	display: none;
	position: absolute;
	left:0;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 4px;
	font-size: 14px;
	color: #FFF;
}
.khela_home .more a:hover span{
	display: block;
}
.khela_home .more a{
	margin-bottom: 5px;
}
.khela_home .more a img{
	height: 100px;
	width: 100% !important;
}
.khela_home .lead_news_list img{
	width: 75px;
	height: 50px;
}
.khela_home .lead_news_list div{
	margin: 0;
	padding: 0;
}
.khela_home .lead_news_list ul li{
	background: #f5f5f5 !important;
	min-height: 60px;
	overflow: hidden;
	border-right: 1px solid #e6eef4;
	margin-bottom: 3px;
}

.home_tab2{
	padding: 0;
	border:1px solid #D3DFED;
	border-top: none;
}
.home_tab2 #myTabs2{
	background: url('../img/menu_title_bar.png') left top repeat-x;
	padding-left: 10px;
}
.home_tab2 #myTabs2 .active a{
	border-top: 4px solid #135cae;
}
.home_tab2 .nav-tabs{
	border:none;
}
.home_tab2 .nav > li > a{
	padding-bottom: 6px;
}
.home_tab2, .home_tab2 .lead_news_list ul, .home_tab2 .lead_news, .home_tab2 .lead_news_list{
	padding-left: 0px;
	padding-right: 0px;
}

.home_tab2 .lead_news_list ul li{
	background: url('../img/li_arraw.png') left 5px no-repeat;
	padding-left: 10px;
	list-style: none;
	color: #a0a0a4;
	display: block;
}
.home_tab2 .lead_news, .home_tab2 .online_summary{
	padding: 10px 0 10px 0;
}
.home_tab2 .lead_news img{
	width: 100%;
}

.right_container{
	padding-right: 0px;
}
.right_container .panel-title a{
	background: url('../img/arrow_open.png') right top no-repeat;
	display: block;
	color: #135cae;
	padding-right: 25px;
}
.right_container .panel-title .collapsed{
	background: url('../img/arrow_closed.png') right top no-repeat;
}
.right_container .right_tab{
	border:1px solid #ddd;
	border-top: none;
	border-bottom: none;
}

.content{
	overflow: auto;
	position: relative;
	max-height: 400px;
}

.right_container .right_tab h2, .right_container .right_tab h2 img{
	margin: 0px;
	width: 100%
}
.right_container .right_tab h2 img{
	height: 40px;
}
.right_container .right_tab .panel, .right_container .right_tab .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
}
.right_container .right_tab .panel-group .panel-heading+.panel-collapse>.panel-body{
	border-bottom:1px solid #ddd;
}
.right_container .right_tab .panel-body img{
	width: 100%;
        margin-bottom: 10px;
}
.right_container .right_tab .panel-body a{
	float: right;
	clear: both;
	margin: 10px 0 0 0;
}

.right_container .right_tab h3{
	background: url('../img/menu_title_bar.png') left top repeat-x;
	height: 33px;
	padding-left: 20px;
	line-height: 33px;
	margin-bottom: 0px;
}
.right_container .last_news .panel-heading{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d1ebf8+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #d1ebf8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d1ebf8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d1ebf8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d1ebf8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d1ebf8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#d1ebf8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1ebf8',GradientType=0 ); /* IE6-9 */
}
.right_container .last_news .panel, .right_container .last_news .panel-group .panel-heading+.panel-collapse>.panel-body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d1ebf8+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #d1ebf8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d1ebf8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d1ebf8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d1ebf8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d1ebf8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#d1ebf8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1ebf8',GradientType=0 ); /* IE6-9 */
}

.special_report{
	background: #eeeeee;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}
.special_report h2{
	background: url('../img/menu_title_bar.png') left top repeat-x;
	height: 33px;
	margin: 0 0 20px 0;
	padding-left: 20px;
	line-height: 33px;
	font-size: 20px;
}
.special_report div{
	margin-bottom: 20px;
	height: 170px;
	overflow: hidden;
}
.special_report img{
	width: 100%;
	margin-bottom: 10px;
}

footer{
	margin-top: 20px;
	position: relative;
	z-index: 9999;
	background:#FFF;
}
footer .photo_gallery{
	background: url('../img/footer1.png') left top no-repeat;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    overflow: hidden;
}
footer .photo_gallery .link{
	background: url('../img/home_pht_gallery_title_bar.png') left top repeat-x;
	color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding: 5px 0;
    text-align: center;
    display:block;
}
footer .photo_gallery .jcl-demo{
	background: none;
	padding-left: 26px;
}
footer .photo_gallery .jcl-demo .carousel li {
    background: #a5d2ea;
    float: left;
    margin-right: 10px;
    padding: 8px;
	height: 235px !important;
	/*max-height: 206px !important;
    min-height:235px !important;*/
    width: 229px !important;
    text-align: center;
    overflow: hidden;
}
footer .photo_gallery .jcl-demo .carousel > ul > li > img{
	width: auto;
	/*height: auto!important;*/
	height: 143px;
	/*display: block;*/
	float: none;
}
footer .photo_gallery .jcl-demo a.prev, footer .photo_gallery .jcl-demo a.next{
	margin-top: 88px;
}
footer .photo_gallery .jcl-demo .prev{
	left: -15px;
}
footer .photo_gallery .jcl-demo .carousel li a{
	color: #2a00aa;
	display: block;
	clear: both;
}
footer .footer2{
	background: url('../img/footer2.png') left top repeat-x;
	min-height: 141px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

footer .footer2 h2{
	border-bottom: 1px solid #a7d6ec;
	color: #d4dfaa;
	font-size: 17px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
footer .footer2 h2 a{
    color: #FFF;
}
footer .footer2 ul li{
    list-style: none;
    display: block;
	clear: both;
    color: #FFF;
}
footer .footer2 ul{
	margin: 0;
	padding: 0;
}
footer .footer2 ul li a{
    color: #FFF;
    display: block;
    font-size: 14px;
}
footer .footer2 li.footer_social a{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
footer .footer3{
	background: url('../img/footer3.png') left top repeat-x;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 10px;
	padding-bottom: 5px;
}
footer .copyright{
	display: block;
	text-align: center;
	color: #000;
	line-height: 40px;
}

.print_edition_left{
	padding:0;
}
.print_edition_left .top_news{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.print_edition_left, .print_edition_left .top_news, .print_edition_left .top_news .img{
	padding-left: 0;
}
.print_edition_left .top_news .img{
	padding: 0;
}
.print_edition_left .top_news .img-responsive{
	width: 100%;
}
.print_edition_left .top_news .summary a{
    font-size: 26px;
    line-height: 30px;
	color: #16387c;
}


.print_edition_left .mid_news{
	padding: 0 0 10px 0;
	margin-bottom: 10px;
}
.print_edition_left .mid_news hr{
	border-bottom: 1px solid #ddd;
	margin: 10px 0 10px 0;
	float: left;
	width: 100%;
	clear: both;
}
.print_edition_left, .print_edition_left .mid_news, .print_edition_left .mid_news .img, .print_edition_left .mid_news .n_row{
	padding-left: 0;
}

.print_edition_left .mid_news .img{
	padding: 0;
}
.print_edition_left .mid_news .img-responsive{
	width: 100%;
}
.print_edition_left .mid_news .title{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
	color: #16387c;
	display: block;
}
.print_edition_left .mid_news .summary{
	padding-right:0;
}

.print_edition_right .right_box{
    display: block;
    border: 1px solid #d3dfed;
    height: auto;
    margin-bottom: 15px;
    /*min-height: 254px;*/
    padding-bottom: 10px;
}
.print_edition_right .right_box{
	padding: 0;
	margin: 0 0 10px 0;
}
.home-notice .right_box{
    min-height: auto;
}

.print_edition_right .right_box h2{
	margin: 0;
	border-bottom: 1px solid #d3dfed;
    color: #666;
    font-size: 18px;
    font-weight: normal;
    height: auto;
    padding: 5px 5px 5px 13px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,ededed+100 */
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.print_edition_right .right_box .news_list, .print_edition_right .right_box .news_list .col-xs-4{
	margin: 0;
	padding: 0;
}
.print_edition_right .right_box .news_list{
	margin: 10px 0 0 0;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.print_edition_right .right_box .news_list .col-xs-8{
	padding-right: 0;
}
.print_edition_right .right_box .content .mCS_img_loaded{
	width: 100%;
	height: 57px;
}
.print_edition_right .right_box .news_list small{
	display: block;
}
.print_edition_right .ad img{
	width: 100%;
	margin-bottom: 10px;
	height: auto;
}


#slideshow { 
    position: relative;
    padding: 0;
    margin: 0;
}
#slideshow > div img{
	width: 100%;
	height: 200px;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.print_edition_right .tab_news{
	margin-bottom: 15px;
	padding-left: 0;
}

.horoscope_section ul{
	padding: 5px;
	margin: 0;
}
.horoscope_section ul li{
	list-style: none;
	float: left;
	margin: 4px;
}
.horoscope_section ul li a img{
	display:block;
	width: 37px;
	height: 37px;
}
.horoscope_section ul li a p{
	display: block;
	text-align: center;
	color: #333;
}
div.horoscope_section fieldset.horoDesc {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 5px;
}
div.horoscope_section legend {
    border-bottom: medium none;
    font-size: 18px;
    margin: 0;
    padding: 0 5px;
    width: auto;
}
div.horoscope_section .horo_summary{
	display: none;
}
div.horoscope_section .horo_active{
	display: block;
}







.details h2{
	display: block;
	color: #16387c;
	margin-top: 0;
}
.details h3.n_sol{
	color: #cd0000;
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
    text-align: left;
}
/*.details h4.n_sol{
	color: #cd0000;
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
    text-align: left;
}*/
.details .n_author{
	color: #7f7f7f;
}

.details .img{
	border:1px solid #ccc;
	padding: 2px;
	width: 100%;
}
.details .some-class-name2{
	text-align: justify;
	margin: 5px 0 40px 0;
}
@media all and (min-width: 981px) {
	.details .some-class-name2 img{
		max-width: 640px !important;
		height: auto !important;
	}
}
@media all and (max-width: 980px) {
	.details .some-class-name2 img{
		width: 100% !important;
		height: auto !important;
	}
        .details .some-class-name2 iframe {
		max-width: 100% !important;
		height: 450px!important;
	}
        #mid-ad iframe {
		max-width: 100% !important;
		height: 60px!important;
	}
}
.details .box{
	float: right;
	margin-top: 10px;
}
.top-social{
	padding: 0;
}
.top-social .fb-share-button{
	float: left;
}
.top-social a{
	float: right;
	margin-left: 10px;
	font-size: 16px;
}

.comments h2{
	border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 18px;
    margin: 15px 0 10px;
    padding-bottom: 5px;
    text-align: left;
}
.sharethis .stButton .stButton_gradient, .stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{
	height: 23px !important;
}

.jfontsize-button {
  padding: 5px;
  color: #000;
  font-size: 16px !important;
  border: solid 1px #ccc;
}

.jfontsize-button:hover {
  text-decoration: none;
  background: #cc0000;
  color: #fff;
  border: solid 1px #333;
}

.jfontsize-disabled, .jfontsize-disabled:hover {
  color: #aaa;
  border: solid 1px #eee;
  background: #eee;
}

.some-class-name {
  margin: 20px 0 0 0;
}


.feature .top_news{
	background: #DDDDDD;
	padding: 15px 5px 15px 17px;
}
.feature .top_news .lead_news{
	position: relative;
	padding: 0;
}
.feature .top_news .lead_news a{
	display: none;
}
.feature .top_news .lead_news .active{
	display: block;
}

.feature .top_news .lead_news a div{
	background-color: rgba(0, 0, 0, 0.8);
	padding: 5px;
	width: 100%;
	float: left;
	position: absolute;
	left: 0;
	bottom: 0;
}
.feature .top_news .lead_news a div h2{
	margin: 0 0 5px 0;
	color: #FFF;
	font-size: 20px;
}
.feature .top_news .lead_news a div p{
	color: #FFF;
}
.feature .top_news .lead_news .img-responsive{
	height: 288px;
}
.feature .feature_top_more a{
	margin-bottom: 3px;
	display: block;
}
.feature .feature_top_more img{
	height: 94px;
	width: 100%;
}

.galery{
	padding:0;
}
.galery .galery-home{
	padding: 10px 10px 10px 0;
	border-bottom: 1px dotted #ccc;
}
.galery .galery-home h3{
	padding-top: 5px;
}

.galery .galery-home h3{
	margin-top: 0px;
}
.galery .galery-home.large{
	height: 429px
        overflow: hidden;
}
.galery .galery-home.large img{
	width: 100%;
	height: 307px;
}
#itemContainer>div{
	padding:10px;
	background: #D6D6D6;
	text-align: center;
}
#itemContainer div.cat-home{
	padding: 0;
	background: none !important;
}
#itemContainer img{
	max-width: 100%;
	cursor: pointer;
}
#itemContainer p{
       padding:10px;
       font-size: 18px;
}
.g_gallery{
	position: relative;
}
.g_gallery .g_btn{
	position: absolute;
	top: 60%;
}
.g_gallery .g_next{
	right: 10px;
}
.g_gallery .g_previous{
	left: 10px;
}

.galery .galery-home.small{
	height: 290px;
	overflow: hidden;
}
.galery .galery-home.small img{
	width: 100%;
	height: 150px;
}

/*border-top*/
.border-top-primary {
	border-top: 2px solid #337ab7 !important;
}
.border-top-primary {
	border-top: 2px solid #337ab7 !important;
}
.border-top-success {
	border-top: 2px solid #5cb85c !important;
}
.border-top-info {
	border-top: 2px solid #5bc0de !important;
}
.border-top-warning {
	border-top: 2px solid #eea236 !important;
}
.border-top-green {
	border-top: 2px solid #00a65a !important;
}
.border-top-maroon {
	border-top: 2px solid #d81b60 !important;
}
.border-top-magenta {
	border-top: 2px solid #8B008B !important;
}
.border-top-pink {
	border-top: 2px solid #FF1493 !important;
}
.border-top-indigo {
	border-top: 2px solid #4B0082 !important;
}
.border-top-orange {
	border-top: 2px solid #FFA500 !important;
}
/*end border-top*/


.cat_home .lead_news img{
	width: 100%;
        height: 100%;
	max-height: 209px;
}
.cat_home .sub_news img{
	max-width: 105px;
	max-height: 70px;
}
.cat_home h2{
	border-bottom: 1px solid #006699;
	margin: 0 0 10px 0;
	display: block;
	padding: 7px 0;
}
.cat_home h2 a{
	font-size: 20px;
}
.cat_home, .cat_home .left, .cat_home .left .lead_news, .cat_home .sub_news, .cat_home .sub_news .img, .cat_home ul{
	padding: 0;
	margin: 0;
}
.cat_home .left .lead_news a{
	font-size: 24px;
	margin: 10px 0;
	display: block;
}
.cat_home .left .lead_news, .cat_home .sub_news{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.cat_home .sub_news a.title{
	font-size: 18px;
	display: block;
}
.cat_home ul li{
	display: block;
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}
.cat_home .print{
	padding-right: 20px;
	min-height: 870px;
}
.cat_home .pull-right a{
	color: #D92E2E;
	margin-top: 10px;
	float: right;
}


.all_headline, .headline{
	padding: 0;
}
.all_headline h2{
	border-bottom: 1px solid #D3DFED;
	display: block;
}
.all_headline h2 a{
	background: #d3dfed;
    color: #006699;
    display: inline-block;
    font-size: 18px;
    margin-bottom: -1px;
    padding: 6px 10px 5px;
    text-decoration: none;
    margin-left: 10px;
}

.headline ul{
	margin: 0;
	padding: 0;
}
.headline ul li{
	list-style: none;
	display: block;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left: 0;
}
.headline ul li a{
	border-left: 3px solid #d3dfed;
	border-bottom: 1px solid #ddd;
	display: block;
	color: #16387c;
    display: block;
    line-height: 19px;
    margin-bottom: 7px;
    padding: 3px 0 3px 10px;
}


/* only in google chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.navbar-nav{
		width: 100%;
	}
}
/* only in google safari */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media {
	.khela_home .online_summary .more a{
		display: block;
		float: none !important;
		background: #000;
	}
}}

.breadcrumb {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    list-style: outside none none;
    margin: 0;
    padding: 5px 15px;
}
.breadcrumb li {
    font-size: 15px;
}
.breadcrumb li a {
    color: #006699;
    text-decoration: none;
}
.breadcrumb li a:hover {
    color: #cd0000;
}
.breadcrumb > li > .divider {
    color: #ccc;
    padding: 0 5px;
}
.breadcrumb > .active {
    color: #999;
}

@media screen and (min-width: 1360px){
	.body-ad-left, .body-ad-right{
		display:block
	}
}
@media screen and (max-width: 1359px){
	.body-ad-left, .body-ad-right{
		display:none
	}
}	



/*mobile*/
.mobile_top_nav{
	display: block;
	background: #caebfc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:10px;
	margin-bottom: 10px;
	height: auto;
}
.mobile_top_nav ul li{
	float: left;
	list-style: none;
	margin: 0 10px;
	height: 35px;
}
.mobile_top_nav ul li a{
	float: left;
	font-size: 22px;
	color: #000;
	text-decoration: none;
}

.paginatorcustom {
    text-align: right;
}
.paginatorcustom a {
    background-color: #e7e7e7;
    font-size: 15px;
    padding: 5px 10px;
}
.paginatorcustom a:hover {
    background-color: #000000;
    color: #ffffff;
}
.paginatorcustom strong {
    background-color: #000000;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px;
}
.ad-padding-left{
	padding-left: 0px !important;
	text-align: left;
}

.ad-padding-right{
	padding-right: 0px !important;
	text-align: right;
}

.spacebottom10{
   margin-bottom: 10px !important;
}
.spacebottom15{
   margin-bottom: 15px !important;
}
.spacebottom20{
   margin-bottom: 20px !important;
}
.spacetop10{
   margin-top: 10px !important;
}
.spacetop15{
   margin-top: 15px !important;
}
.spacetop20{
   margin-top: 20px !important;
}

.body-ad-bottom{
	position: fixed;
	bottom:0;
	width: 1000px;
	z-index: 99999;
	/*overflow: hidden;*/
	text-align: center;
}
.mob-body-ad-bottom{
	position: fixed;
	bottom:0;
	width: 90%;
	z-index: 99999;
	overflow: hidden;
	text-align: center;
        left:0;
        right:0;
        margin: 0 auto;
}

.mob-body-ad-bottom .ad_cl img{
width:100%;
}

doesnotexist:-o-prefocus, .mob-body-ad-bottom{
  position:static;
	width: 100%;
margin:8px 0;
}


.body-ad-bottom .x-btn {
    position: absolute;
}
.body-ad-bottom .x-btn img {
    width: 18px;
}
.body-ad-bottom .x-btn {
    right: -4px;
    top: -11px;
    
}

.mob-body-ad-bottom .x-btn {
    position: absolute;
}
.mob-body-ad-bottom .x-btn img {
    width: 18px;
}
.mob-body-ad-bottom .x-btn {
    left: 0;
    top: -1px;   
}


.photo-grid{
	border: 1px solid #91D9F8;
	padding: 4px;
	display: block;
}
.photo-grid ul{
	padding: 0;
	margin: 0;
}
.photo-grid ul li{
	list-style: none;
	float: left;
}
.photo-grid ul li a{
	position: relative;
	width: 96px;
	float: left;
	margin: 3px;
	height: 59px;
}
.photo-grid ul li a img{
	width: 100%;
	height: auto;
	max-height: 59px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -o-transition: all 0.5s ease; /* IE 9 */
    -ms-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}
.photo-grid ul li a img:hover{
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;

    -webkit-transform:scale(1.50); /* Safari and Chrome */
    -moz-transform:scale(1.50); /* Firefox */
    -ms-transform:scale(1.50); /* IE 9 */
    -o-transform:scale(1.50); /* Opera */
     transform:scale(1.50);
     position: absolute;
     z-index: 9;
}

.sport-grid{
	border: 1px solid #91D9F8;
	padding: 4px;
	display: block;
}
.sport-grid ul{
	padding: 0;
	margin: 0;
}
.sport-grid ul li{
	list-style: none;
	float: left;
}
.sport-grid ul li a{
	margin: 5px;
	float: left;
	position: relative;
}
.css_zoom_image {
   height: 55px;
   width: 92px;
}
.sport-grid .img-zoom {
   position: absolute;
   left: -67px;
   top: 52px;
   width: 0px;
   -webkit-transition: width 0.3s linear 0s;
   -moz-transition: width 0.3s linear 0s;
   -ms-transition: width 0.3s linear 0s;
   -o-transition: width 0.3s linear 0s;
   transition: width 0.3s linear 0s;
   z-index: 10;
}
.sport-grid .css_zoom_image:hover + .img-zoom {
   width: 250px;
}


.banner-details-fixed-bottom{
 bottom: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    width: 1000px;
    z-index: 99999;
}
.banner-details-fixed-bottom .x-btn {
    right: 0;
    position: absolute;
}

.banner-mob-details-fixed-bottom{
	position: fixed;
	bottom:0;
	width: 90%;
	z-index: 99999;
	overflow: hidden;
	text-align: center;
}
doesnotexist:-o-prefocus, .banner-mob-details-fixed-bottom{
  position:static;
	width: 100%;
margin:8px 0;
}


.banner-mob-details-fixed-bottom .x-btn {
    left: 0;
    position: absolute;
}

.banner-mob-details-fixed-bottom .x-btn img, .banner-details-fixed-bottom .x-btn img {
    width: 18px;
}

.sports{
	width: 95% !important;
}


@media screen and (max-width: 768px) {
    .cat_home .right{padding: 0;}
       #adimg {
       width: 130px;
    }
}

.before-blueslide{margin:10px 0 5px 0;}