/*Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000;  font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #d4d4d4; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font:14px/20px Arial, sans-serif; *font-size:small;
background:#f5f5f5 }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; text-decoration:none }
a:hover { text-decoration:underline }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
button::-moz-focus-inner {
border: 0;
padding: 0;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
border-radius: 1px;
-moz-box-shadow: 0px 0px 5px red;
-webkit-box-shadow: 0px 0px 5px red;
box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
background-color: #f0dddd;
}

::selection { background:#FF44ae; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF44ae; }
button { width: auto; overflow: visible; -webkit-appearance: none }
.ie7 img { -ms-interpolation-mode: bicubic; }
body, select, input, textarea { color: #585858; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
html.no-js, .no-js body, .no-js .wrap { height: 100%; }
.no-js .main { min-height: 100%; height: auto !important; height: 100%; }
footer { clear:both; }
/*Opera Fix*/
body:before { content:""; height:100%; float:left; width:0; margin-top:-32767px; }
/*IE Fixes*/
.ie6 .wrap, .ie7 .wrap { display:table; height:100% }
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 { margin-left: auto; margin-right: auto; width: 960px; }
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { display:inline; float: left; position: relative; margin-left: 10px; margin-right: 10px; }
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 { width:60px; }
.container_12 .grid_2 { width:140px; }
.container_12 .grid_3 { width:220px; }
.container_12 .grid_4 { width:300px; }
.container_12 .grid_5 { width:380px; }
.container_12 .grid_6 { width:460px; }
.container_12 .grid_7 { width:540px; }
.container_12 .grid_8 { width:620px; }
.container_12 .grid_9 { width:700px; }
.container_12 .grid_10 { width:780px; }
.container_12 .grid_11 { width:860px; }
.container_12 .grid_12 { width:940px; }
/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_1 { padding-left:80px; }
.container_12 .prefix_2 { padding-left:160px; }
.container_12 .prefix_3 { padding-left:240px; }
.container_12 .prefix_4 { padding-left:320px; }
.container_12 .prefix_5 { padding-left:400px; }
.container_12 .prefix_6 { padding-left:480px; }
.container_12 .prefix_7 { padding-left:560px; }
.container_12 .prefix_8 { padding-left:640px; }
.container_12 .prefix_9 { padding-left:720px; }
.container_12 .prefix_10 { padding-left:800px; }
.container_12 .prefix_11 { padding-left:880px; }
/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_1 { padding-right:80px; }
.container_12 .suffix_2 { padding-right:160px; }
.container_12 .suffix_3 { padding-right:240px; }
.container_12 .suffix_4 { padding-right:320px; }
.container_12 .suffix_5 { padding-right:400px; }
.container_12 .suffix_6 { padding-right:480px; }
.container_12 .suffix_7 { padding-right:560px; }
.container_12 .suffix_8 { padding-right:640px; }
.container_12 .suffix_9 { padding-right:720px; }
.container_12 .suffix_10 { padding-right:800px; }
.container_12 .suffix_11 { padding-right:880px; }
/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .push_1 { left:80px; }
.container_12 .push_2 { left:160px; }
.container_12 .push_3 { left:240px; }
.container_12 .push_4 { left:320px; }
.container_12 .push_5 { left:400px; }
.container_12 .push_6 { left:480px; }
.container_12 .push_7 { left:560px; }
.container_12 .push_8 { left:640px; }
.container_12 .push_9 { left:720px; }
.container_12 .push_10 { left:800px; }
.container_12 .push_11 { left:880px; }
/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_1 { left:-80px; }
.container_12 .pull_2 { left:-160px; }
.container_12 .pull_3 { left:-240px; }
.container_12 .pull_4 { left:-320px; }
.container_12 .pull_5 { left:-400px; }
.container_12 .pull_6 { left:-480px; }
.container_12 .pull_7 { left:-560px; }
.container_12 .pull_8 { left:-640px; }
.container_12 .pull_9 { left:-720px; }
.container_12 .pull_10 { left:-800px; }
.container_12 .pull_11 { left:-880px; }
/* Heading styles */
.entry-content h1 { font-size:36px;  color:#434343; padding-bottom:7px; line-height:30px }
.entry-content h2 { font-size:30px;  color:#515151; padding-bottom:7px; line-height:26px }
.entry-content h3 { font-size:24px;  color:#515151; padding-bottom:28px; line-height:21px }
.entry-content h4 { font-size:18px; color:#424242; padding:15px 0; line-height:16px }
.entry-content h5 { font-size:16px; color:#424242; padding-bottom:7px; line-height:16px }
.entry-content h6 { font-size:14px; color:#2b2b2b; padding-bottom:7px; line-height:16px }
/* Header */
header { position:relative; padding-top:7px; }
.ie7 header { overflow:hidden }
.logo { padding:38px 0 34px; float:left; }
.logo a { text-decoration:none; color:#f7f7f7; font-size:34px; line-height:100%; display:inline-block }
.logo a img { display:block }
.main_menu { position:absolute; top:31px; }
.main_menu ul { position:absolute; right:0; }
/*** Menu STYLES ***/
.sf-menu, .sf-menu * { margin:			0; padding:		0; list-style:		none; }
.sf-menu { line-height:	1.0; }
.sf-menu ul { position:		absolute; top:			-999em; width:			194px; /* left offset of submenus need to match (see below) */ }
.sf-menu ul li { float:none }
.sf-menu li:hover { visibility:		inherit; /* fixes IE7 'sticky bug' */ }
.sf-menu li { float:			left; position:		relative; }
.sf-menu a { display:		block; position:		relative; }
.sf-menu>li:hover>ul, .sf-menu>li.sfHover>ul { left:			-27px; top:			49px; /* match top ul list item height */ z-index:		999; border-top:4px solid #fff }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top:			-999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left:			194px; /* match ul width */ top:			0; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top:			-999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left:			194px; /* match ul width */ top:			0; }
.sf-menu>li { padding:0; height:54px; margin:0; }
.sfHover a { z-index:15000 !important; position:relative !important; }
.sf-menu>li>a { padding: 18px 16px 19px; }
.ie7 .sf-menu>li>a { zoom: 1; position: relative; }
.sf-menu { float:			left; margin-bottom:	1em; }
.sf-menu a { text-decoration:none; font-size:14px; position:relative; z-index:5; font-style:normal; cursor:pointer }
.sf-menu a, .sf-menu a:visited { /* visited pseudo selector so IE6 applies text colour*/ color:			#fff; }
.sf-menu ul { background:		#211e1b; padding: 0; }
.sf-menu ul a { display:block; padding:14px 27px 13px 42px; color:#e9e9e9 !important; background: url(../images/i_arrow_menu.png) no-repeat 19px 15px; border-top:1px solid #272727; color:#838383 !important }
.ie7 .sf-menu ul a { zoom: 1; position: relative; }
.sf-menu ul a:hover, .sf-menu ul li.sfHover>a { color:#6b6b69 !important; background-color:#121212 !important; }
.sf-menu>li.current-menu-item>a .shover { background:#000; opacity:0.1 }
.sf-menu>li.dropdown:hover>a:hover, .sf-menu>li.dropdown.sfHover>a:hover, .sf-menu>li.dropdown:hover>a:focus, .sf-menu>li.dropdown.sfHover>a:focus, .sf-menu>li.dropdown:hover>a:active, .sf-menu>li.dropdown.sfHover>a:active, .sf-menu>li.dropdown.sfHover>a, .sf-menu>li.dropdown:hover>a { background:#211e1b; color:#fff; }
.shover { position: absolute; width: 100%; height: 49px; top: 0; left:0; z-index: 5; background: #211e1b; }
.sf-menu a span { /* visited pseudo selector so IE6 applies text colour*/ position:relative; z-index:10 }
/* footer */
footer { overflow:hidden }
footer .footer_light p { padding:16px 0 15px; float:left; color:#6e6d6b; font-family:"Times New Roman", Times, serif; }
footer .footer_light p a, footer .footer_light p a:active, footer .footer_light p a:visited, footer .footer_light p a:hover { text-decoration:none; color:#6e6d6b; }
footer .footer_light nav { position:absolute; top:10px; }
footer .footer_light nav ul { position:absolute; right:0; }
footer .footer_light nav ul li { float:left; padding:0; height:30px; margin:0 7px 0 2px; position:relative }
footer .footer_light nav ul li a, footer .footer_light nav ul li a:visited, footer .footer_light nav ul li a:active, footer .footer_light nav ul li a:hover { color:#6e6d6b; text-decoration:none; padding: 7px 10px 5px; margin-right:-5px; display:block; line-height:18px }
.ie7 footer .footer_light nav ul li a, .ie7 footer .footer_light nav ul li a:visited, .ie7 footer .footer_light nav ul li a:active, .ie7 footer .footer_light nav ul li a:hover { padding: 7px 10px 7px; zoom: 1; position: relative; color:#fff }
footer .footer_light nav ul li:hover { background:url(../images/bg_menu.png) no-repeat 0 0; }
footer .footer_light nav ul li:hover>a:hover, footer nav ul li:hover>a { background:url(../images/bg_menu.png) no-repeat 100% -30px; color:#fff; }
footer .footer_light nav ul ul { display:none }
.footer_widgets_gradient { padding-bottom:40px }
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; clear: both; }
/* Page title */
#pagetitle { background:url(../images/bg_slideshow.png) no-repeat 50% 0%; overflow:hidden }
.page_bottom { background:url(../images/title_bottom.png) repeat-x 0 100%; overflow:hidden }
.page_bottom .container_12 { background:url(../images/border_top.png) repeat-x 0% 0%; padding:26px 0 36px; overflow:hidden }
#pagetitle h1 { background:#211e1b; padding:13px 18px; line-height:30px; font-weight:bold !important; color:#fff !important; display:inline-block }
#pagetitle.tiny { min-height:10px; padding:0px 0 }
#pagetitle.tiny .page_bottom .container_12 { min-height:20px }
#pagetitle.tiny.Carousel, #pagetitle.tiny.jCycle { min-height:41px; padding:21px 0; display:none }
#pagetitle.Carousel, #pagetitle.jCycle { display:none }
#pagetitle h1, #pagetitle .title { font-size: 36px; font-weight: normal;  color:#474747 }
.cufon-loading h1.entry-title, .cufon-loading h2, .cufon-loading h3, .cufon-loading h4, .cufon-loading h5, .cufon-loading h6, .cufon-loading #pagetitle h1, .cufon-loading #pagetitle .title, .cufon-loading .teaser h3.entry-title, .cufon-loading article h1, .cufon-loading .cycle_content h3, .cufon-loading #footer_additional .widget_text .widgettitle { visibility: hidden !important; }
.extratitle { font-size:14px; line-height:18px; color:#fff; padding:13px 0 0 0 }
#contentarea { overflow:hidden; padding:35px 0; }
#contentarea h2.entry-title, #contentarea h2.entry-title a {  font-size:24px; color:#515151; padding-bottom:12px; text-decoration:none; line-height:100% }
#contentarea p { padding-bottom:10px }
.breath_button { border:none; background:none; display:inline-block; padding:0 !important }
.breath_button span { text-decoration:none; font-size:14px; color:#fff; border:0; padding:0 15px !important; height:47px; line-height:47px; display:block; text-align:center; margin:0 auto; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#footer_widgets .breath_button span { padding:0 0 !important; }
.breath_button:hover { text-decoration:none }
.breath_button:hover span { background:#211e1c; }
.map_frame iframe { padding:7px; margin-top:5px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.map_frame { padding-bottom:30px }
.breadcrumbs { padding-bottom:30px; overflow:hidden; color:#585858; }
.breadcrumbs a { color:#585858; }
#contactform { padding-bottom:30px }
#contactform label { display:block; padding:3px 0 2px }
#contactform p { position:relative }
#contactform label.error { background:url(../images/i_error.png) no-repeat 0 0; width:21px; height:21px; text-indent:-9999px; position:absolute; top:29px; right:2px }
input, textarea, select { border:1px solid #bebebe; background:#fff; outline:none; border:1px solid #dedede; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -moz-box-shadow:inset 2px 2px 8px #f1f1f1; -webkit-box-shadow:inset 2px 2px 8px #f1f1f1; box-shadow:inset 2px 2px 8px #f1f1f1; }
#contactform input, #contactform textarea { width:450px; padding:5px 5px 6px; font-size:14px; }
#contactform textarea { height:130px }
#contactform .loading { padding-left:20px; }
.Note { padding-bottom:30px; display:none }
.port_item { overflow:hidden; padding-bottom:45px }
.port_item.layout_big h2 { padding-bottom:5px !important }
.port_item.layout_big cite { padding-bottom:17px; display:block; font-style:normal }
.port_item.layout_big .descr { overflow:hidden; height:227px; }
.port_item .imgborder { padding:7px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.port_item .imgborder .loader { background:#515151; }
.loader img { display:none }
.no-js .loader img { display:block }
a.lightbox span { display:block; position:absolute; z-index:2; background: url(../images/magnify.png) no-repeat 50% 50%; cursor:pointer }
a.lightbox.autolink span { margin:7px; }
.loader a.flv span, .loader a.mp4 span, .loader a.avi span, .loader a.video span, .loader a.swf span { background: url(../images/video.png) no-repeat 50% 50%; }
.port_item.layout_big .imgborder { width:634px; height:248px; float:left; margin-right:20px }
.port_item.layout_medium .imgborder { width:284px; height:158px; margin-bottom:15px }
.port_item.layout_small .imgborder { width:204px; height:158px; margin-bottom:15px }
.sidebars .port_item.layout_small .imgborder { width:177px; height:158px; }
.sidebars .port_item.layout_big .imgborder { width:324px; height:248px; float:left; margin-right:20px }
.port_item.layout_big .imgborder .loader, .port_item.layout_big .imgborder .loader a span { width:634px; height:248px; }
.port_item.layout_medium .imgborder .loader, .port_item.layout_medium .imgborder .loader a span { width:284px; height:158px; }
.port_item.layout_small .imgborder .loader, .port_item.layout_small .imgborder .loader a span { width:204px; height:158px; }
.sidebars .port_item.layout_small .imgborder .loader, .sidebars .port_item.layout_small .imgborder .loader a span { width:177px; height:158px; }
.sidebars .port_item.layout_big .imgborder .loader, .sidebars .port_item.layout_big .imgborder .loader a span { width:324px; height:248px; }
.port_item.layout_medium { float:left; width:313px; }
.sidebars .port_item.layout_medium { width:310px; }
.port_item.layout_medium .descr, .port_item.layout_medium .portmeta { padding:0 8px }
.port_item.layout_medium .descr { height:172px; }
.port_item .descr .entry-content { display:none }
.no-js .port_item .descr .entry-content { display:block }
.no-js .port_item .descr { height:auto; }
.port_item.layout_small { float:left; width:235px; padding-bottom:0 !important; position:relative }
.sidebars .port_item.layout_small { float:left; width:206px; }
.port_item.layout_big { width:940px }
.sidebars .port_item.layout_big { width:620px }
.button_solid_dark { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display:inline-block; padding:0 0; color:#fff; margin:0 0 0 0; text-decoration:none; font-style:normal; height:35px; line-height:35px; display:inline-block; padding:0 15px; }
.button_solid_dark span { height:35px; line-height:35px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.button_solid_dark:hover { background:#171514; color:#fff; text-decoration:none }
.button_solid_light { background:#ededed; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display:inline-block; padding:7px 11px; color:#585858; margin:0 5px 5px 0; text-decoration:none; border:1px solid #c9c9c9 }
.button_solid_light:hover { background:#373737; color:#fff; border:1px solid #373737; text-decoration:none }
.button_solid_black { background:#373737; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display:inline-block; padding:7px 11px; color:#fff; margin:0 5px 5px 0; text-decoration:none; border:1px solid #373737 }
.button_solid_black:hover { background:#ededed; color:#585858; border:1px solid #c9c9c9; text-decoration:none;}
.pagination { border-top:1px solid #d4d4d4; padding:23px 8px 0 }
.page-numbers { list-style:none; margin:0; padding:0; overflow:hidden; }
.page-numbers li { float:left }
.page-numbers a, .page-numbers span { display:block; margin-right:2px; text-decoration:none; color:#585858; display:block; padding:5px 12px 4px; }
.page-numbers span.current { background:#ddd; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.page-numbers a.next, .page-numbers a.prev { text-indent:-9999px; width:31px; height:29px; padding:0 !important; background:url(../images/bg_pagination.png) no-repeat 0 0; }
.page-numbers a.next { background-position:-31px 0 }
.page-numbers a.prev { background-position:0 -29px }
.page-numbers a.next:hover { background-position:-31px -29px }
.page-numbers a.prev:hover { background-position:0 0px }
#respond { padding-top:30px; clear:both }
#respond p { position:relative; display:inline-block }
#respond p.comment-form-submit { display:block }
#respond h3 {  font-size:24px; color:#515151; font-weight:normal; text-decoration:none; line-height:100%; padding-bottom:10px }
#respond label { display:block; padding-bottom:3px }
#respond #submit { display:none }
#respond input, #respond textarea { width:604px; padding:5px 5px 6px; font-size:14px; }
#respond #cancel-comment-reply-link { text-decoration:none !important; font-size:16px; text-transform:lowercase; letter-spacing:0; }
#respond label.error { background:url(../images/i_error.png) no-repeat 0 0; width:21px; height:21px; text-indent:-9999px; position:absolute; top:27px; right:4px; z-index:2 }
/**** Isotope Filtering ****/

.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
/**** Isotope CSS3 transitions ****/

.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property:    -moz-transform, opacity; transition-property:         transform, opacity; }
/* End: Recommended Isotope styles */

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition, .isotope.no-transition .isotope-item { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; transition-duration: 0s; }
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; transition: none; }
#filters ul { overflow:hidden; list-style:none; margin:0; padding:0 0 30px 0; }
#filters li { margin-right:3px; float:left }
#filters a { display:block; padding:7px 12px; border:1px solid #171514; background:#171514; text-decoration:none; color:#fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#filters a.selected, #filters a:hover { background:#ededed; color:#585858; border:1px solid #c9c9c9 }
#filters span { display:block; padding:7px 6px 7px 0; }
.wp-caption { }
.wp-caption-text { }
.sticky { }
.gallery-caption { }
.bypostauthor { }
.alignright { float:right; margin:4px 0 15px 15px }
.alignleft { float:left; margin:4px 15px 10px 0 }
.aligncenter, .alignnone { margin-bottom:15px; margin-top:4px; }
.one_half, .one_third, .one_fourth, .two_third, .three_fourth { float:left; margin:0 40px 0 0; }
.one_half.last, .one_third.last, .one_fourth.last, .two_third.last, .three_fourth.last { margin:0 !important }
.grid_12 .one_half { width:460px }
.grid_12 .one_third { width:300px }
.grid_12 .one_fourth { width:220px }
.grid_12 .two_third { width:600px }
.grid_12 .three_fourth { width:700px }
.grid_8 .one_half { width:300px }
.grid_8 .one_third { width:190px }
.grid_8 .one_fourth { width:140px }
.grid_8 .two_third { width:410px }
.grid_8 .three_fourth { width:460px }
.single-th_portfolios .imgborder { padding:7px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom:20px; display:inline-block }
.single-th_portfolios .imgborder .loader { background:#515151; }
.single-th_portfolios .grid_12 .imgborder .loader { height:390px; width:924px; }
.single-th_portfolios .grid_8 .imgborder .loader { height:390px; width:604px; }
.single-th_portfolios .imgborder .loader img { display:none }
h1.entry-title {  font-size:24px; color:#515151; font-weight:normal; text-decoration:none; line-height:100% }
.postdate { padding-bottom:10px; font-size:11px; color:#999; }
.postmetadata { overflow:hidden; padding:15px 0 20px; clear:both }
.postmetadata a { padding-left:2px; text-decoration:none; }
.postmetadata a:hover { text-decoration:underline }
.postmetadata span { padding:0 5px; color:#a2a2a2 }
#authorbox { overflow:hidden; background:#ebebeb; padding:16px; margin-bottom:20px }
#authorbox .imgborder { padding:6px;  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; width:100px; height:100px; float:left; margin-right:15px; }
#authorbox .imgborder .loader { background:#515151; width:100px; height:100px; }
#authorbox .imgborder img { display:none }
#authorbox h6, #relatedposts h3, #popularposts h3, h2#comments {  font-size:24px; color:#515151; font-weight:normal; text-decoration:none; line-height:100%; padding-bottom:10px }
#relatedposts, #popularposts { padding-top:30px }
#relatedposts ul, #popularposts ul { list-style:none; margin:0; padding:0 0 20px 0; overflow:hidden }
#relatedposts h4, #popularposts h4 { font-weight:400; padding:5px 0 10px }
#relatedposts h4 a, #popularposts h4 a { text-decoration:none }
#relatedposts li, #popularposts li { overflow:hidden; padding-bottom:10px }
#relatedposts ul .imgborder, #popularposts ul .imgborder { padding:6px;  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float:left; margin-right:10px; }
#relatedposts ul .imgborder a, #popularposts ul .imgborder a { background:url(../images/noimage.png) no-repeat 50% 50%; width:75px; height:75px; display:block }
#relatedposts ul .imgborder .loader img, #popularposts ul .imgborder .loader img { display:none }
/* comments */
#comments { clear:both }
.commentlist li { padding:0; border:none; background-image:none; }
.commentlist, .commentlist .children { list-style:none; margin:0; overflow:hidden; padding:0 }
.commentlist li, .commentlist .children li { overflow:hidden; margin:0; text-indent:0; }
.commentlist ul.children { margin:0 0 0 30px !important; }
.comment-body { margin:0 0 10px; overflow:hidden; background:#ebebeb; padding:13px; }
.comment-body img.avatar { padding:6px;  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-right:15px }
.avatars { float:left; }
.avatars img { display:block }
.comment-meta { margin:0; padding:0; overflow:hidden; color:#999 }
.comment-body p { padding:10px 0; margin:0; }
.comment-text { overflow:hidden; padding:5px 0 0 0 }
.comment-reply-link { float:right; line-height:100%; background:#373737; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display:inline-block; padding:8px 12px; color:#fff; margin:0; text-decoration:none }
.comment-reply-link:hover { background:#ededed; color:#585858; border:1px solid #c9c9c9 }
.comment-meta cite, .comment-meta cite a { text-decoration:none; color:#626262; font-weight:700; display:block; font-style:normal }
.comment-meta span { padding:0 5px 0 0 }
.comment-date { text-decoration:none !important; color:#999 !important; margin:2px 30px 0 0 }
#pings, #comments { padding-top:40px }
.pinglist { list-style:none; margin-left:0; }
.pinglist li { margin-left:0; text-indent:0; padding:8px 0; overflow:hidden }
.pinglist li:before { content: ""; }
.pinglist li img { margin:0 10px 3px 3px; float:left; width:16px; height:16px; }
.pinglist li a { display:block; float:left }
img.imgborder { padding:7px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
article.blogitem { overflow:hidden; padding-bottom:47px; }
article.blogitem h2.entry-title, article.blogitem h2.entry-title a { margin:-3px 0 9px 0 !important; padding:0 !important }
article.blogitem .postdate { width:70px; height:70px; background:#312e2a; color:#fff; clear:both; text-align:center; padding:0; float:left; margin-right:20px }
article.blogitem .postdate strong { font-size:32px; display:block; padding:18px 0 3px }
article.blogitem .postdate cite { color:#9a9998; font-size:11px }
article.blogitem .imgborder { padding:7px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float:left; margin-bottom:18px; }
article.blogitem .imgborder .loader { background:#515151; width:924px; height:275px; }
article.blogitem.sidebar .imgborder .loader { background:#515151; width:604px; height:180px }
article.blogitem .postcontent { float:left; width:833px }
article.blogitem.sidebar .postcontent { float:left; width:513px }
article.blogitem .postmeta { padding-top:0px; padding-bottom:0 !important; }
article.blogitem .postmeta .button_solid_dark { margin-bottom:0 !important; }
article.blogitem .postmeta span { color:#cbcbca; padding:0 10px }
article.blogitem .comments { color:#312e2a; text-decoration:none; background:url(../images/i_comments.png) no-repeat 0 4px; padding-left:15px }
article.blogitem .separator_top { border-bottom:1px solid #e1e1e1; text-align:right; padding:20px 0 3px 0; clear:both; display:none }
.no-js article.blogitem .separator_top { display:block }
article.blogitem .separator_top a { color:#989898; text-decoration:none }
article.blogitem:last-child .separator_top { display:none !important; }
.search-excerpt { background:#e6e6e6; color:#000 }
aside h3.widgettitle, aside h3.widgettitle a {  font-size:18px; color:#515151; padding-bottom:18px; text-decoration:none; line-height:100% }
aside h3.widgettitle { padding:0 15px 10px }
aside .widget { overflow:hidden; padding-bottom:30px }
aside .widget ul { margin:0; }
aside .widget li { list-style:none; padding:1px 0; }
aside .widget li a { display:block; padding:6px 15px 5px; }
aside .widget li li a { display:block; }
aside .widget_search h3.widgettitle, aside .widget_feedburner h3.widgettitle { display:none }
aside .widget_search label { display:none }
aside .widget_search form, aside .widget_feedburner form { overflow:hidden; background:#efefef; padding:15px }
aside .widget_search #searchsubmit { background:url(../images/search.png) no-repeat 0 0; border:none; text-indent:-99999em; width:32px; height:29px; cursor:pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; }
aside .widget_search #searchsubmit:hover { background-color:#1C1917 }
.main aside .widget_search #s { width:213px; height:19px; border:1px solid #dedede; padding:4px 7px; margin-right:4px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -moz-box-shadow:inset 2px 2px 8px #f1f1f1; -webkit-box-shadow:inset 2px 2px 8px #f1f1f1; box-shadow:inset 2px 2px 8px #f1f1f1; }
aside #calendar_wrap { padding:0 15px }
aside #wp-calendar { width:270px }
aside #wp-calendar thead { background:#e6e6e6; }
aside #wp-calendar caption, aside #wp-calendar tfoot td { padding:0 0 10px;  }
aside #wp-calendar tbody td, aside #wp-calendar thead th { text-align:center; padding:5px 0 }
aside #recentcomments li { padding:6px 15px 5px !important; margin:1px 0; background:none !important }
aside #recentcomments li:hover, aside .widget_twitter li:hover { background:#e6e6e6; }
aside .recentcomments a { display:inline !important; padding:0 !important; }
aside .tagcloud, aside .textwidget, aside .twitter_follow { padding:0 15px }
aside .widget_feedburner input { width:168px; border:1px solid #dedede; padding:6px 7px; margin-right:4px; float:left; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -moz-box-shadow:inset 2px 2px 8px #f1f1f1; -webkit-box-shadow:inset 2px 2px 8px #f1f1f1; box-shadow:inset 2px 2px 8px #f1f1f1; }
aside .widget_feedburner button { margin:0 !important; float:right; padding:0 0px !important }
.main aside .widget_feedburner button { margin:0 !important; float:right; padding:0 10px !important; height:29px; line-height:29px; }
.main aside .widget_feedburner button span { height:29px; line-height:29px; }
aside .widget_flickr { background:#ebebeb; padding:15px 15px 10px; margin-bottom:30px }
aside .widget_flickr h3.widgettitle { padding:0 0 18px 10px!important }
aside .widget_flickr .flickr_badge_image { padding:6px;  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float:left; margin-bottom:15px; }
aside .widget_flickr .flickr_badge_image:nth-child(even) { margin-right:15px }
aside .widget_flickr .flickr_badge_image a, aside .widget_flickr .flickr_badge_image a img { display:block; float:left }
aside .widget_flickr .box { width:250px; margin:0 auto }
aside .widget_twitter a { padding:0 !important; display:inline !important }
aside .widget_twitter span { display:block }
aside .widget_twitter a.twitter-date { text-decoration:none; color:#959595; display:block }
aside .widget_twitter .twitter_follow { padding-top:8px !important }
aside .widget_contactform .Note { padding:0 15px 10px; display:none }
aside .widget_contactform form { padding:15px; }
aside .widget_contactform button { float:right }
aside .widget_contactform .loading { float:right; padding:23px 20px 0 0 }
aside .widget_contactform textarea { width:254px; float:right; padding:4px 7px; resize:none; height:90px }
aside .widget_contactform p { overflow:hidden; position:relative; padding-bottom:8px }
aside .widget_contactform label { float:left; display:block; padding-top:4px; padding-left:3px; color:#908f8e }
aside .widget_contactform input { float:right; padding:6px 7px; width:200px }
aside .widget_contactform label.error { background:url(../images/i_error.png) no-repeat 0 0; width:21px; height:21px; text-indent:-9999px; position:absolute; top:4px; right:1px; z-index:2 }
aside .widget_portfolio { background:#efefef; padding:16px 15px 15px 20px; margin-bottom:30px }
aside .widget_portfolio h3.widgettitle { padding:0 0 18px !important }
aside .widget_portfolio li .imgborder { padding:6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float:left; margin-bottom:15px; }
footer aside .widget_portfolio li .imgborder { padding:6px; background-color:#fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float:left; margin-bottom:15px; }
aside .widget_portfolio li .loader { width:110px; height:110px; background:#515151 }
aside .widget_portfolio li a { padding:0 !important; display:block; width:110px; height:110px; background:none !important }
aside .widget_portfolio li { margin-left:16px; float:left; padding:0 !important; background:none !important }
aside .widget_portfolio li.first { margin-left:0; }
aside .widget_portfolio a img { float:left }
#footer_widgets aside .widget { padding-top:74px; padding-bottom:0; margin:0 }
#footer_widgets aside .widget:first-child { padding-top:0 }
#footer_widgets h4 { font-weight:bold !important }
#footer_additional aside .widget { padding-bottom:74px }
#footer_additional aside.grid_12 .widget { padding-bottom:40px }
#footer_additional aside .widget.widget_tag_cloud { padding-bottom:40px }
#footer_widgets aside h4.widgettitle, #footer_widgets h4.widgettitle a, #footer_additional aside h4.widgettitle, #footer_additional h4.widgettitle a { font-size:18px; color:#fff; padding-bottom:20px; text-decoration:none; line-height:100%; text-transform:uppercase }
#footer_widgets aside h4.widgettitle, #footer_additional aside h4.widgettitle { padding:0 0 20px }
#footer_widgets, #footer_widgets a, #footer_additional, #footer_additional a { text-decoration:none }
#footer_widgets a:hover, #footer_additional a:hover { color:#fff; text-decoration:none }
#footer_additional .textwidget a { color:#fff; text-decoration:none }
#footer_widgets .textwidget a:hover { color:#fff; text-decoration:underline }
#footer_widgets .container_12 { padding-top:60px }
#footer_additional .container_12 { padding-top:17px }
#footer_additional .container_12 aside { padding-top:23px }
#footer_widgets .widget_contactform .Note, #footer_additional .widget_contactform .Note { padding:0 0 10px; }
#footer_widgets .widget_contactform form, #footer_additional .widget_contactform form { padding:0 0 15px 0; }
#footer_widgets input, #footer_widgets textarea { border:1px solid #171514; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color:#626262; padding:6px 7px; background:#1c1917; -moz-box-shadow:inset 1px 2px 4px #1a1719; -webkit-box-shadow:inset 1px 2px 4px #1a1719; box-shadow:inset 1px 2px 4px #1a1719; }
#footer_additional input, #footer_additional textarea { border:1px solid #141110; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color:#626262; padding:6px 7px; background:#171514; -moz-box-shadow:inset 1px 2px 4px #151311; -webkit-box-shadow:inset 1px 2px 4px #151311; box-shadow:inset 1px 2px 4px #151311; }
#footer_widgets .grid_12 .widget_contactform textarea, #footer_additional .grid_12 .widget_contactform textarea { width:924px; }
#footer_widgets .grid_12 .widget_contactform input, #footer_additional .grid_12 .widget_contactform input { width:860px }
#footer_widgets .grid_6 .widget_contactform textarea, #footer_additional .grid_6 .widget_contactform textarea { width:442px; }
#footer_widgets .grid_6 .widget_contactform input, #footer_additional .grid_6 .widget_contactform input { width:380px }
#footer_widgets .grid_4 .widget_contactform textarea, #footer_additional .grid_4 .widget_contactform textarea { width:285px; }
#footer_widgets .grid_4 .widget_contactform input, #footer_additional .grid_4 .widget_contactform input { width:220px }
#footer_widgets .grid_3 .widget_contactform textarea, #footer_additional .grid_3 .widget_contactform textarea { width:202px; }
#footer_widgets .grid_3 .widget_contactform input, #footer_additional .grid_3 .widget_contactform input { width:150px }
#footer_widgets .widget_contactform .loading, #footer_additional .widget_contactform .loading { float:right; padding:18px 20px 0 0; display:none !important }
#footer_widgets .breath_button, #footer_widgets .button_solid_dark, #footer_additional .breath_button, #footer_additional .button_solid_dark { margin-right:0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
#footer_widgets .breath_button span, #footer_widgets .button_solid_dark span, #footer_additional .breath_button span, #footer_additional .button_solid_dark span { width:inherit !important; display:block; padding:0 20px !important; overflow:hidden; font-size:14px;  }
#footer_widgets .widget_search form, #footer_widgets .widget_feedburner form, #footer_additional .widget_search form, #footer_additional .widget_feedburner form { overflow:hidden; background:none; padding:0 0 15px 0; }
#footer_widgets .grid_12 .widget_feedburner input, #footer_additional .grid_12 .widget_feedburner input { width:838px; margin: 0 7px 7px 0 }
#footer_widgets .grid_6 .widget_feedburner input, #footer_additional .grid_6 .widget_feedburner input { width:358px; margin: 0 7px 7px 0 }
#footer_widgets .grid_4 .widget_feedburner input, #footer_additional .grid_4 .widget_feedburner input { width:198px; margin: 0 7px 7px 0 }
#footer_widgets .grid_3 .widget_feedburner input, #footer_additional .grid_3 .widget_feedburner input { width:118px; margin: 0 7px 7px 0 }
#footer_widgets .widget_flickr, #footer_additional .widget_flickr { background:none; padding:15px 0 10px; margin:0; }
#footer_widgets .widget_flickr h4.widgettitle, #footer_additional .widget_flickr h4.widgettitle { padding:0 0 20px !important }
#footer_widgets .widget_flickr .flickr_badge_image, #footer_additional .widget_flickr .flickr_badge_image { margin:0 15px 15px 0; border-color:#fff }
#footer_widgets .grid_12 .widget_flickr .box, #footer_additional .grid_12 .widget_flickr .box { width:940px; }
#footer_widgets .grid_6 .widget_flickr .box, #footer_additional .grid_6 .widget_flickr .box { width:460px; }
#footer_widgets .grid_4 .widget_flickr .box, #footer_additional .grid_4 .widget_flickr .box { width:300px; }
#footer_widgets .grid_3 .widget_flickr .box, #footer_additional .grid_3 .widget_flickr .box { width:220px; }
#footer_widgets .widget_portfolio, #footer_additional .widget_portfolio { background:none; padding: 0 !important; }
#footer_widgets .widget_portfolio h4.widgettitle, #footer_additional .widget_portfolio h4.widgettitle { padding:0 0 20px !important }
#footer_widgets .widget_portfolio li, #footer_additional .widget_portfolio li { margin: 0 16px 0 0; float:left; padding:0 }
#footer_widgets .widget_portfolio li.first, #footer_additional .widget_portfolio li.first { margin-left:0; }
#footer_widgets .grid_3 .widget_portfolio li .loader, #footer_additional .grid_3 .widget_portfolio li .loader { width:78px; height:78px; }
#footer_widgets .grid_3 .widget_portfolio li .loader img, #footer_additional .grid_3 .widget_portfolio li .loader img { width:78px; height:78px }
#footer_widgets .grid_3 .widget_portfolio li a, #footer_additional .grid_3 .widget_portfolio li a { width:78px; height:78px; }
#footer_widgets .widget_portfolio li .imgborder, #footer_additional .widget_portfolio li .imgborder { }
#footer_widgets .widget li a, #footer_additional .widget li a { display:block; padding:5px 0 4px 0; }
#footer_widgets #recentcomments li, #footer_widgets .widget_twitter li, #footer_additional #recentcomments li, #footer_additional .widget_twitter li { padding:6px 0 5px !important; margin:1px 0; background:url(../images/bg_separator.png) repeat-x 0 100% !important }
#footer_widgets #recentcomments li a, #footer_widgets .widget_twitter li a, #footer_additional #recentcomments li a, #footer_additional .widget_twitter li a { padding:0; background:none }
#footer_widgets #recentcomments li:hover, #footer_widgets .widget_twitter li:hover, #footer_additional #recentcomments li:hover, #footer_additional .widget_twitter li:hover { background:none !important }
#footer_widgets .tagcloud, #footer_widgets .textwidget, #footer_widgets .twitter_follow, #footer_additional .tagcloud, #footer_additional .textwidget, #footer_additional .twitter_follow { padding:0 }
#footer_widgets #wp-calendar thead, #footer_additional #wp-calendar thead { background:none; }
#footer_widgets #calendar_wrap, #footer_additional #calendar_wrap { padding:0 }
#footer_widgets #wp-calendar, #footer_additional #wp-calendar { width:270px }
#footer_widgets .grid_3 #wp-calendar, #footer_additional .grid_3 #wp-calendar { width:220px }
#footer_widgets .textwidget a, #footer_additional .textwidget a { padding:0 !important; background:none !important; display:inline !important }
#footer_widgets .grid_12 .widget_search #s, #footer_additional .grid_12 .widget_search #s { width:880px; }
#footer_widgets .grid_6 .widget_search #s, #footer_additional .grid_6 .widget_search #s { width:400px; }
#footer_widgets .grid_4 .widget_search #s, #footer_additional .grid_4 .widget_search #s { width:240px; }
#footer_widgets .grid_3 .widget_search #s, #footer_additional .grid_3 .widget_search #s { width:160px; }
#footer_additional .grid_12 .widget_text .widgettitle { font-size:36px; line-height:100%;  float:left; padding: 0 30px 0 0; }
.textwidget { overflow:hidden; min-height:50px }
.grid_12 .textwidget { background:url(../images/bg_separator.png) repeat-y 0% 0; padding:0 0 0 30px !important; }
#teasers { padding:35px 0 35px 0 }
#teasers .teaser { background:#efefef }
#teasers h3.entry-title { padding:30px 20px; font-size:18px; color:#fff; text-decoration:none; line-height:100%; text-align:center; -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-radius: 2px 2px 0 0; }
#teasers .teaser div.entry-content { padding:22px 20px 22px 20px; text-align:left }
.teaser .breath_button_clean { height:15px; text-decoration:none; font-size:14px; color:#fff; border:0; padding:12px 0 15px !important; display:block; text-align:center; margin:0 auto 24px; width:148px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; font-style:normal;}
.teaser .breath_button_clean:hover { background:#211e1c; }
.breath_button_clean { background:url(../images/bg_button_clean.png) repeat-x 0% 0%; height:15px; text-decoration:none; font-size:14px; color:#fff; border:0; padding:15px 0 !important; display:block; text-align:center; margin:0 auto 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.breath_button_clean:hover { background:#211e1c; text-decoration:none }
.border_bottom_teaser { border-top:1px solid #e0dedd; padding:22px 0 0 0; margin:0 20px }
#totop { height:54px; background:url(../images/bg_totop.png) repeat-x 0 100%; }
#totop a { display:block; width:39px; height:39px; margin:0 auto; color:#919191; text-decoration:none; display:block; padding:0; background:  url(../images/i_arrow_top.png) no-repeat 100% 0%; }
#totop a:hover { background-color:#211e1c }
/********************
 * FEATURE CAROUSEL *
 ********************/
#slideshowinner .container_12 { overflow:hidden }
#carousel-placeholder { position:relative; overflow:hidden }
#carousel-container { position:absolute; z-index:2 }
#carousel { height:280px; width:940px; position:relative; }
#carousel .carousel-image { border:0; display:block; }
#carousel .carousel-feature { position:absolute; top:-1000px; left:-1000px; border:14px solid #fff; cursor:pointer; z-index:10; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#carousel .carousel-feature .carousel-caption { position:absolute; bottom:0; width:100%; background-color:#333; }
#carousel .carousel-feature .carousel-caption p { margin:0; padding:5px; font-weight:bold; font-size:12px; color:white; }
#jcycle { position:relative; z-index:2; float:none !important }
.no-js #jcycle { position:absolute; display:block; height:360px; z-index:2; overflow:hidden }
.jcycle { display:none }
#navcycle { text-align:center; height:59px }
#navcycle span { display:inline-block; margin:20px auto }
#navcycle a { text-indent:-9999px; margin:0 5px 0; display:block; width:8px; height:8px; float:left; background:url(../images/i_dot.png) no-repeat 0% 0%; }
#navcycle a:hover, #navcycle a.activeSlide { background:url(../images/i_dot_act.png) no-repeat 0% 0%; }
.hdark { background-color:#d6d6d6 }
hr { clear:both }
.th_notification { padding:20px 25px 10px 75px; margin-bottom:10px; min-height:52px }
.th_notification.notification_mark { border:1px solid #b5e4a0; background:#dceccf url(../images/i_successful.png) no-repeat 19px 19px; padding:20px 15px 15px 70px; margin-bottom:20px; color:#427625; clear:both; min-height:38px; }
.th_notification.notification_error { border:1px solid #d9c2ba; background:#f2e1d8 url(../images/i_errorn.png) no-repeat 19px 19px; padding:20px 15px 15px 70px; margin-bottom:20px; color:#872a06; clear:both; min-height:38px; }
.th_notification.notification_info { border:1px solid #cccccc; background:#e9e9e9 url(../images/i_info.png) no-repeat 19px 19px; padding:20px 15px 15px 70px; margin-bottom:20px; clear:both; min-height:38px; }
.th_notification.notification_warning { border:1px solid #eee3b1; background:#f6f0d9 url(../images/i_warning.png) no-repeat 19px 19px; padding:20px 15px 15px 70px; margin-bottom:20px; color:#a47607; clear:both; min-height:38px; }
.entry-content table { border-collapse:separate; border-spacing:0; }
.entry-content table thead tr { border-top:none; color:#c9c9c9; }
.entry-content table thead tr:hover { border-top:none; color:#c9c9c9; background:none }
.entry-content table thead { border-top:none; color:#c9c9c9; background:#373737; border-top:none; color:#c9c9c9; -moz-border-radius-bottomleft: 5px; -webkit-border--bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border--top-left-radius: 5px; border-top-left-radius: 5px; border: 1px solid #373737; }
.entry-content th { padding:12px 20px }
.entry-content table td { padding:12px 20px; border-top:1px solid #d4d4d4 }
.entry-content table tr:hover { background:#e6e6e6; }
.entry-content blockquote { padding:0 0 0 54px; color:#8d8d8d; background:url(../images/i_blockquote.png) no-repeat 0% 4px; margin:15px 0 18px 0 }
.entry-content li { padding:5px 0 }
.entry-content ol, .hentry ul { margin-bottom:20px }
.entry-content ol { counter-reset:li; /* Initiate a counter */ margin-left:0; /* Remove the default left margin */ padding-left:0; /* Remove the default left padding */ display:inline-block; }
.entry-content ol > li { position:relative; /* Create a positioning context */ margin:0; /* Give each list item a left margin to make room for the numbers */ padding:6px 8px 6px 23px; /* Add some spacing around the content */ list-style:none; /* Disable the normal item numbering */ }
.entry-content ol > li:before { content:counter(li)"."; /* Use the counter as content */ counter-increment:li; /* Increment the counter by 1 */ /* Position and style the number */ position:absolute; top:2px; left:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; width:23px; /* Some space between the number and the content in browsers that support       generated content but not positioning it (Camino 2 is one example) */ margin-right:8px; padding:4px; text-align:center; }
.entry-content ul { margin-left:0; /* Remove the default left margin */ padding-left:0; /* Remove the default left padding */ display:inline-block; }
.entry-content ul ul, .entry-content ol ol { display:block; margin-left:20px }
.entry-content ul > li { position:relative; /* Create a positioning context */ margin:0; /* Give each list item a left margin to make room for the numbers */ padding:6px 8px 6px 28px; /* Add some spacing around the content */ list-style:none; /* Disable the normal item numbering */ display:block; }
.entry-content li ol, .entry-content li ul { margin-top:6px; }
/*.entry-content ol>li:hover { background-color:#404040; color:#C9C9C9 }
.entry-content ol > li:hover:before { color:#C9C9C9 }*/
.entry-content cite { color:#9b9b9b }
.entry-content cite, .entry-content em { font-style:normal }
.cycle_content { color:#fff }
.cycle_content .entry-content { font-size:14px; line-height:18px }
.jcycle { width:100% !important; min-width:960px; }
#carousel-placeholder .nav div { width:960px; position:absolute }
.bgimage { margin:0 auto; }
.cycle_fixed .bgimage { width:940px }
.cycle_imagerepeatno .bgimage { background-repeat:no-repeat }
.cycle_imagerepeat .bgimage { background-repeat:repeat }
.cycle_imagerepeaty .bgimage { background-repeat:repeat-y }
.cycle_imagerepeatx .bgimage { background-repeat:repeat-x }
.cycle_imagepositionxl.cycle_imagepositionyt .bgimage { background-position:0 0; }
.cycle_imagepositionxl.cycle_imagepositionym .bgimage { background-position:0 50%; }
.cycle_imagepositionxl.cycle_imagepositionyb .bgimage { background-position:0 100%; }
.cycle_imagepositionxc.cycle_imagepositionyt .bgimage { background-position:50% 0; }
.cycle_imagepositionxc.cycle_imagepositionym .bgimage { background-position:50% 50%; }
.cycle_imagepositionxc.cycle_imagepositionyb .bgimage { background-position:50% 100%; }
.cycle_imagepositionxr.cycle_imagepositionyt .bgimage { background-position:100% 0; }
.cycle_imagepositionxr.cycle_imagepositionym .bgimage { background-position:100% 50%; }
.cycle_imagepositionxr.cycle_imagepositionyb .bgimage { background-position:100% 100%; }
.cycle_content { display:none; width:800px; margin:0 auto; }
.jcycle_content { overflow:hidden; width:300px; padding:20px 0 }
.cycle_right .jcycle_content { float:right }
.cycle_left .jcycle_content { float:left }
.cycle_content h3 { font-size:36px; color:#fff; padding-bottom:11px; font-weight:700; text-decoration:none; line-height:100%; }
.cycle_btn { display:inline-block; 0 padding:0 0 0 0;
font-size:12px; color:#fff; text-decoration:none; }
.cycle_btn span { padding:0 13px 0 13px; display:block; font-size:12px; color:#fff; height:34px; line-height:34px;  background:#292521 }
.cycle_btn:hover { text-decoration:none }
.jcycle .cycle_btn { margin:20px 0 0 }
#jcycle h3 { background:#211e1b; padding:11px 14px 13px; margin-bottom:20px; display:inline-block; font-weight:800; line-height:30px }
.cycle_content p { padding-left:14px; padding-right:72px }
#prev2 { position:absolute; top:0; left:0; height:72px; width:72px; z-index:150; background:url(../images/arrow.png) no-repeat -72px 0px; display:none }
#next2 { position:absolute; top:0; right:0; height:72px; width:72px; z-index:150; background:url(../images/arrow.png) no-repeat 0 0px; display:none }
#prev2:hover { background-position:-72px -72px }
#next2:hover { background-position:0 -72px }
#slideshow #carousel-placeholder .nav { background:url(../images/border_top.png) repeat-x 0% 0%; min-height:1px }
aside .twitter_follow a { background:#fff; padding:0 10px !important; display:inline-block !important; height:27px; line-height:27px; color:#312e2a; text-decoration:none; }
footer .twitter_follow a { background:none !important; padding:0 !important }
aside .twitter_follow a:hover { background:#292521 !important; color:#fff }
footer .twitter_follow a:hover { background:none !important; }
.teaser p { font-size:12px; line-height:18px; word-spacing:-1px; color:#8a8a8a }
aside .tagcloud a { display:block; float:left; font-size:12px !important; color:#8f8c89; margin:0 2px 2px 0; background:#fff; border:1px solid #e6e6e6; padding:2px 11px 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
aside .tagcloud a:hover { text-decoration:none; color:#fff; background:#312e2a; border:1px solid #312e2a }
footer .tagcloud a { color:#8f8c89 !important; background:#1d1918 !important; ; border:1px solid #1d1918 !important; }
footer .tagcloud a:hover { color:#6b6b6b !important; background:#fff !important; ; border:1px solid #fff !important; }
aside .widget_recent_posts li { padding:13px 0 !important; background:none !important; margin:0 15px!important; clear:both; border-top:1px solid #e8e8e8; line-height:15px; overflow:hidden }
aside .widget_recent_posts li a, aside .widget_recent_posts li p { padding:0 !important }
aside .widget_recent_posts li p { line-height:100%; padding:6px 0 0 20px !important; color:#a6a5a5; background:url(../images/i_date.png) no-repeat 0 6px }
aside .widget_recent_posts li:first-child { border:none }
aside .widget_recent_posts li .imgborder { float:left; width:70px; margin-right:15px; padding:5px; background-color:#312e2a; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
aside .widget_recent_posts li .imgborder .loader { width:70px; height:45px; background:#343434 url(../images/noimage_small.png) no-repeat 50% 50% }
aside .widget_recent_posts li .imgborder img { display:none }
.no-js aside .widget_recent_posts li .imgborder img { display:block }
aside .widget_recent_posts li .recent_txt { float:left; width:170px }
header, footer, #slideshow, #pagetitle, #teasers, #contentarea { min-width:960px }
li.twitter-item { margin:0 !important; line-height:18px; border-top:1px solid #e7e7e7; padding:11px 0 !important; margin:0 15px !important; background:none !important }
li.twitter-item:first-child { border:none !important; padding-top:7px }
footer li.twitter-item { line-height:20px !important; border:none !important }
#footer_widgets ul li, #footer_additional ul li { margin-left:0 !important; }
#footer_widgets .menu a, #footer_additional .menu a { color:#fff; display:inline-block !important }
#footer_widgets .tweet_list li:first-child, #footer_additional .tweet_list li:first-child { padding:0 0 5px 0 !important }
.widget_feedburner .button_solid_dark:hover, .widget_feedburner .button_solid_dark:hover span { background:#1c1917; border:none !important }
.widget_feedburner .button_solid_dark:hover span { border:none !important; background: none !important }
#footer_widgets .widget_feedburner .button_solid_dark, #footer_additional .widget_feedburner .button_solid_dark { height:29px; line-height:29px; }
#footer_widgets .widget_feedburner .button_solid_dark:hover, #footer_additional .widget_feedburner .button_solid_dark:hover { border:1px solid #141110 }
#footer_widgets .widget_feedburner .button_solid_dark span, #footer_additional .widget_feedburner .button_solid_dark span { width:inherit !important; display:block; padding:0 10px 2px !important; overflow:hidden; font-size:12px; text-transform:none; font-family:Arial, Helvetica, sans-serif !important; height:27px; line-height:27px }
h1 { font-style:normal }
.sitemap ul { padding:10px 0 10px 15px !important; margin:0 !important }
.sitemap h3 { padding:0 0 5px 0 }
.sitemap h2 { padding-top:10px !important }
.sitemap ul li { background:url(../images/i_dots.png) no-repeat 10px 12px !important }
.sitemap ul li.no_bg { background:none !important }
#stylechanger { position: fixed; width: 254px; top: 137px; left:-254px; background-color:#fff; color:#6b6b6b; z-index:100000 }
.shead { background-color:#292521; text-align:center; font-size: 18px; color: #fff; line-height: 20px;  padding:13px 0 }
#stylechanger form fieldset { padding:23px 28px 28px }
#stylechanger form label { float:left; line-height:14px; text-align:left; padding-top:12px; width:95px; }
#stylechanger form p span { color:#2e2828 }
#stylechanger form p { padding-bottom:5px }
ul.scolors { margin:5px 0 19px; padding:0; list-style:none; overflow:hidden }
ul.scolors li { width:36px; height:36px; margin:0 3px 3px 0; float:left; }
ul.scolors li span { width:36px; height:12px; margin:0; float:left; }
ul.scolors li a { width:36px; height:36px; display:block; cursor:pointer }
ul.scolors li a.scolor1 { background:#713ace }
ul.scolors li a.scolor2 { background:#be3ba1 }
ul.scolors li a.scolor3 { background:#e42d00 }
ul.scolors li a.scolor4 { background:#e49b00 }
ul.scolors li a.scolor5 { background:#c14e00 }
ul.scolors li a.scolor6 { background:#00a0c6 }
ul.scolors li a.scolor7 { background:#00688a }
ul.scolors li a.scolor8 { background:#17ced8 }
ul.scolors li a.scolor9 { background:#769e0e }
ul.scolors li a.scolor10 { background:#c8af91 }
input#customcolor, input#customcolor_light, input#customcolor_dark { width:68px; height:37px; border:none; -webkit-border-radius:0 !important; -moz-border-radius:0 !important; border-radius:0 !important; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; text-align:center; font-style:normal; margin-bottom:4px }
.mColorPickerTrigger { margin:12px 7px 0 8px; display:block; height:16px; float:right }
#customfont { padding:7px 9px; border-color:#c7c7c7; margin-top:5px }
.sfoot { background:#f3f3f3; padding:10px 33px; text-align:right }
.sfoot button { text-transform:uppercase }
#sreset { margin:-42px 0 0 33px; width:60px }
#sreset button { background:url(../images/i_reset.png) no-repeat 0 4px; border:0; padding-left:15px; font-style:normal; color:#211e1b; font-weight:700 }
.stoggle { display:block; width:38px; height:154px; float:right; margin-right:-38px; background:url(../images/bg_stoggle.png) no-repeat 0 0 }
.stoggle.shide { background-position:-38px 0 }
.stoggle.sshow { background-position:0 0 }
#commentform p.logged-in-as { width:400px }
pre { background:url(../images/bg_code.png) repeat 0 0; overflow-x:auto; line-height:21px !important; border:1px solid #eeeeee; padding:0 10px !important; border-bottom:none !important; margin-bottom:15px }
figure.gallery-item { float: left; margin: 0 15px 15px 0; position: relative; }
figure.gallery-item figcaption { display: none; }
.grid_12 .gallery-columns-1 .gallery-item { width:925px }
.grid_12 .gallery-columns-2 .gallery-item { width:455px }
.grid_12 .gallery-columns-3 .gallery-item { width:298px }
.grid_12 .gallery-columns-4 .gallery-item { width:220px }
.grid_12 .gallery-columns-5 .gallery-item, .grid_12 .gallery-columns-6 .gallery-item, .grid_12 .gallery-columns-7 .gallery-item, .grid_12 .gallery-columns-8 .gallery-item, .grid_12 .gallery-columns-9 .gallery-item { width:173px }
.grid_8 .gallery-columns-1 .gallery-item { width:605px }
.grid_8 .gallery-columns-2 .gallery-item { width:295px }
.grid_8 .gallery-columns-3 .gallery-item, .grid_8 .gallery-columns-4 .gallery-item, .grid_8 .gallery-columns-5 .gallery-item, .grid_8 .gallery-columns-6 .gallery-item, .grid_8 .gallery-columns-7 .gallery-item, .grid_8 .gallery-columns-8 .gallery-item, .grid_8 .gallery-columns-9 .gallery-item { width:191px }
/*toggle*/
h4.trigger {  padding:12px 12px 12px 40px; }
h4.trigger a { color:#515151 !important; text-decoration: none; display: block; }
.t_ico { display:block; margin-left:-40px; background: url(../images/toggle.png) no-repeat 0 0; width:25px; height:25px; float:left; margin-top:-4px; cursor:pointer }
h4.active .t_ico { background-position: 0 -25px; }
.toggle {overflow:hidden;margin-bottom:10px;clear:both}
.toggle-lines { border-bottom:1px solid #e1e1e1; border-top:1px solid #e1e1e1; }
.toggle-white { background-color: #fff; padding:2px 10px }
.toggle-gray { background-color: #eee; padding:2px 10px }
.toggle_container { overflow: hidden; display:none; padding:5px 10px 10px 40px; }
/*tabs*/
.tabgroup {display:none;}
.no-js .tabgroup {display:block}
.no-js .tabgroup div {clear:both}
.ui-tabs { position: relative; padding:0; zoom: 1;margin-bottom:15px; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding:0;display:block}
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative;  margin: 0 .2em 0 0;  padding: 0; white-space: nowrap;background-image:none }
.ui-tabs.light .ui-tabs-nav li {background-color:#eeeeee}
.ui-tabs.dark .ui-tabs-nav li {background-color:#111111}
.ui-tabs .ui-tabs-nav li:hover {background-image:none !important;background-color:transparent}
.ui-tabs .ui-tabs-nav li a { float: left; padding: 9px 17px; text-decoration: none;color:#a6a5a5 }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { background-color:#eeeeee !important }
.ui-tabs.light .ui-tabs-nav li.ui-tabs-selected { background-color:#fff !important }
.ui-tabs.dark .ui-tabs-nav li.ui-tabs-selected { background-color:#eeeeee !important }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {color:#312e2a}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; padding: 15px 18px 0; background-color: #eeeeee;margin:0;clear:both;color:#6b6b6b }
.ui-tabs.light .ui-tabs-panel {  background-color: #fff }
.ui-tabs.dark .ui-tabs-panel {  background-color: #eee }
.ui-tabs .ui-tabs-hide { display: none !important; }
h2.header {font-size:16px;border-bottom:1px solid #aaa;margin:10px 0;padding-bottom:0;}