
.ipsPageHeader h1
{ display: block;}

.ipsSubNavigation li:not( .ipsMenu_item ):not( .ipsMenu_sep ){
  font-size: 15px;
}


/** Tags **/
.ipsTags a, .ipsTag_prefix{
	background: #16a085;
  	color: rgba(255,255,255,1);  	
}

html[dir="ltr"] .ipsTags a:before, .ipsTag_prefix:before{
	border-color: transparent #16a085  transparent transparent;
}

.ipsTags a:hover, .ipsTag_prefix:hover{
	background: #e04547;  	
}

html[dir="ltr"] .ipsTags a:hover:before, .ipsTag_prefix:hover:before{
	border-color: transparent #e04547 transparent transparent;
}

/** Side Widgets **/
.ipsSideMenu_list
{
	color: rgba(0,0,0,0.87);
}

.ipsSideMenu_item + .ipsSideMenu_list .ipsSideMenu_item
{
	font-size: 14px;
}