/* 
Joomla.css
Template Specific Css rules 
Copyright (C) 2008 TemplatePlazza.com
All rights reserved.
 */ 

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul,ol,li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th {
	margin: 0;
	padding: 0;
	border: 0;
}
li {

	margin-left:20px;

	}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ######### GENERAL #######*/
form { 
	display:inline;
	margin:0; padding:0;
}
h1{
	font-weight:normal;
	font-size:18px;
	color:#666;
}
h2{	font-weight:normal;
	font-size:16px;
	color: #666;
}
h3{
	font-weight: normal;
	font-size:18px;
	color:#FF9715;
}
h4{
	font-weight:normal;
	font-size:13px;
}
h5{
	font-weight:normal;
	font-size:14px;
}
h6{
	font-size:12px;
	padding:0;
	margin:0;
}
img {
	border:none;
}
ol{
	margin-left:40px;
}
blockquote {
	margin: 10px;
}
blockquote div {
}
pre {
}
/* joomla - mambo css */
table.contenttoc{
	margin:10px;
	padding:3px;
	text-align:left;
	float:right;	
}
.contenttoc a {
	padding-left:0;
	font-weight:bold;
	font-size:80%;
	}
table.contenttoc td {
	text-align:left;
	}
.contentpane{
	text-align:left;
}
.contentpaneopen ul { 
	margin-left:20px;}
.contentpane ul { 
	margin-left:20px;}
table.contentpaneopen, table.contentpane,table.blog{
}
table.blog td {
}
.contentpaneopen fieldset{
	width:100%;
	border:none;
}
.contentpaneopen td {
}

td.buttonheading img{
	padding:0px;
	margin:0px;
	text-align:right;
}
td.contentdescription {
	width:100%;}
a.contentpagetitle:hover{
	text-decoration: none;
}
a.category{ 
	font-size:120%;
	line-height:140%;
	font-weight:700;
	}
.createdate, td.createdate{
	font-size:90%;
	font-weight:700;
	padding-bottom:10px;
	background: url(../images/bgdotted.gif) repeat-x bottom;
	margin-bottom:10px;
	}
span.article_seperator {}
.highlight { 
	background-color: #009900;
	color:#F9E5BB;
}
.mosimage {
	margin:5px;
	padding:5px;
}
.mosimage_caption {
	padding:3px 2px;
	color:#666;
	font-size:10px;
	border-top:1px solid #ccc;
}
.contentpaneopen img { margin:5px;}
.contentpane img { margin:5px;}
.inputbox{
	border:1px solid #ccc;
	color:#666;
	padding:4px 5px 2px 5px;
	margin:2px 0;
}
.inputbox:hover,
.inputbox:focus,
.inputbox:active{
	border:1px solid #999;}
#mod_login_remember{
	border:none;
	background:none;
}
div.search {
}
#mod_search_searchword {
border:none;
background:none;
margin-left:25px;
padding-top:3px;
}
#mod_search_searchword:hover,
#mod_search_searchword:focus {
}
td.sectiontableheader {
	font-weight:bold;
	padding:5px;
	background: url(../images/bgsectiontableheader.gif) repeat-x bottom #E4E4E4;
	color:#FFFFFF;
	}
td.sectiontableheader a {
	color:#FFFFFF;}
td.sectiontableentry1 {
	padding:5px;
	text-align:left;
	border-bottom:1px solid #f0f0f0;
}
td.sectiontableentry2 {
	padding:5px;
	text-align:left;
	border-bottom:1px solid #f0f0f0;
}
.sectiontableentry1 label{
	padding-left:5px;
	text-align:left;}
.sectiontableentry2 label {
	padding-left:5px;
	text-align:left;}
.latestnews a:hover {}
li.latestnews  a ,li.mostread  a{}
li.latestnews a:hover,li.mostread a:hover {}
li.latestnews a:visited,li.mostread a:visited{}
a.readon {
	display:block;
	font-weight:700;
	background:url(../images/readon.png) no-repeat 0 0;
	height:20px;
	width:70px;
	text-indent:-50000px;	
}
a.readon:hover {
	background:url(../images/readon.png) no-repeat  0 -20px;
}
.blog_more {
	padding:10px;
	}
.blog_more a {}
.blog_more a:hover {}
.blogsection {}
.blogsection:hover {
	border:none;}
span.pathway { 
	color:#666;
	padding-bottom:10px;
	font-size:11px;
	}
span.pathway a:link,
span.pathway a:visited { 
 	color:#666; 
	font-weight:bold;
}
ul#mainlevel li {
	list-style:none;
	list-style-image:none;
	margin-left:0;}
.contentpaneopen td,
.contentpaneopen td p,
.contentpaneopen td div,
.contentpaneopen a:link{
	text-align:left;
}

.pagenav {
	}
.pagenav,
.pagenav_next,
.pagenav_prev
 {
	text-align: center;
	color: #ccc;
	padding:2px 5px;
	font-size:11px;
	font-weight:bold;
}
.pagenav:hover,.pagenav_next:hover,.pagenav_prev:hover {}
.pagenav_next a:hover,
.pagenav_prev a:hover {
	text-decoration:underline;
}
.pagenavcounter {
	font-weight:bold;
}
a.pagenav, a.pagenav:visited {
	margin-top:10px;
}
a.pagenav:hover {
	text-decoration:underline;
}
.button{ 
	text-align: center;color: #666;	
	border:1px solid #ccc;
	margin:3px 0;
	font-size:11px;
	font-weight:700;
	background: url(../images/bgmenu.png) repeat-x;
	line-height:24px;
	height:24px;
	}
.button:hover , .button:focus {
	border:1px solid #333;
	line-height:24px;
	color: #333333;
	cursor: pointer;
}
.back_button  {
	text-align: center;
	padding:2px 5px;
	font-weight:bold;
}
.back_button a:hover { 	
	text-decoration:underline;
}
#login li {
	list-style:none;}	

.bannerheader {
	font-style:italic;}
.banneritem,
.banneritem-blue,
.banneritem-red,
.banneritem-yellow,
.banneritem_text {
	padding: 4px;
	font-size:90%;
}
.banneritem a,
.banneritem-blue a,
.banneritem-red a,
.banneritem-yellow a,
.banneritem_text a {
	font-weight:700;}
.bannerfooter,
.bannerfooter-blue,
.bannerfooter-red,
.bannerfooter-yellow,
.bannerfooter_text  {
	padding: 4px;
	font-size:80%;
	text-align: right;
}
.componentheading {
	font-size:120%;
	font-weight:700;
	color: #666;
	text-align:left;
	padding:7px 10px;
	margin-bottom:10px;
	width: auto;
	}
.contentheading,td.contentheading,
a.contentpagetitle:link,
a.contentpagetitle:visited {
	font-weight:600;
	color: #1C4D7E;
	text-align:left;
	font-size:14px;
	line-height:16px;
	}
ul#mainlevel {
	margin:0;
	padding:0;
}
a.mainlevel:link, a.mainlevel:visited {
	line-height:20px;	
	display:block;
	text-decoration:none;
	color: #666;
	font-weight:400;	}
a.mainlevel:hover,
a.mainlevel#active_menu {
	text-decoration:none;
	color:#ff0000;
}
a.mainlevel#active_menu {
	background:#FFFFFF;
	color:#666666;
	border-bottom:none;}
ul.menu li {
	list-style:none;
	margin-left:0;}
ul.menu li li {
	margin-left:0px;
}
ul.menu li li a {
	color: #666;
	padding-left:15px;
}
ul.menu ,
ul.menu ul,
ul.menu ul ul{
	margin:0;
	padding:0;
}
ul.menu li { list-style-image: none;}
ul.menu li a,
ul.menu li#current a{
	line-height:20px;	
	display:block;
	text-decoration:none;
	color: #666;
	font-weight:400;
	padding-right:8px;
}
ul.menu li#current a {
	color:#ff0000;}
ul.menu li a:hover {
	text-decoration:none;
	color:#3366ff;
	}
ul.menu li ul {
	margin-right:8px;
}
ul.menu li li a ,
ul.menu li#current li a
{
	background: url(../images/bgsubmenu.gif) no-repeat left;
}
ul.menu li li#current a {
	background: url(../images/bgsubmenu.gif) no-repeat left;
}
ul.menu li#current li a:active,
ul.menu li#current li a:hover,
ul.menu li li a:hover {
	background: url(../images/bgsubmenu.gif) no-repeat left;
	}
ul#mainlevel-nav {       
	list-style : none;
	margin:0;
	padding:0; 
}
ul#mainlevel-nav li {
	display:inline;
	font-weight : normal;
	text-align : right; 
	list-style : none;
	float:right;     
}
a:link {
	color: #666666;
	text-decoration:none;
}
a:visited {
	color: #666666;
	text-decoration:none;
}
a:hover{
	color: #3366ff;
	text-decoration:none;
}

.pagenav_next a {
}
.pagenav_prev a {
}
.back_button a {
}

span.modifydate,
td.modifydate{
	padding:5px 0 ;
	font-size:10px;
	font-weight:normal;
	display:block;
	width:100%;
	text-align:right;
}
ul.latestnews li,
ul.mostread li{
	padding:3px;
	margin-left:20px;
	text-align:left;
	list-style:none;
}
.sectiontableentry1 td {
	padding:5px 5px 10px 5px;
	text-align:left;
	background: #f0f0f0;
}
.sectiontableentry2 td{
	padding:5px 5px 10px 5px;
	text-align:left;
}
/* System Messages*/
#system-message li {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;}
#system-message    { margin-bottom: 10px; padding: 0;}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0; font-weight: bold; text-indent: 30px; }
#system-message dd ul { color: #ff0000; margin-left:0; padding-left:0;margin-bottom: 10px; list-style: none; padding: 10px;  list-style: none; }
#system-message dd ul li { list-style-image:none; margin-left:0;}
#system-message dt.message { display: none; }
#system-message dd.message {  color: #fff; background: #FFA300; }
#system-message dt.error { display: none; }
#system-message dd.error ul { color: #fff; background: #FFA300; }
#system-message dd.error ul li { list-style-image:none; margin-left:0;}
#system-message dt.notice { display: none; }
#system-message dd.notice ul { color: #fff; background: #FFA300; list-style: none;}
#system-message dd.notice ul li { list-style-image:none; margin-left:0;}
#system-debug     { color: #ccc; background-color: #fff; padding: 10px; margin: 10px; }
#system-debug div { font-size: 11px;}


