#maincpwrapper {
	}
#pagewrapper {
	margin:auto 0;
	}
.clrfix {
	clear:both;
	}
#wrp1 {
	margin-bottom:8px;
}
#wrp1_inner { padding-top:8px;
height:70px;}
#wrp1_inner2 {
	margin-top:10px;}
/* Top Logo and top menu */
#logos_left,
#logos_right {
	width:212px;
	height:101px;
	}
#logos_left {
	float:left;
	background: url(../images/gfxtra2.png) top left no-repeat;
	}
#logos_right {
	float:right;
	background: url(../images/gfxtra2.gif) top right no-repeat;
	}
#menuwrp_left {
	float:right;}
#menuwrp_right {
	float:left;}

.searchpanel {
	padding:0 5px 5px 5px;
	float:right;
	width:166px;
	overflow:hidden;	
	}
.topmenupanel {
	padding:5px 5px 5px 10px;
	float:left;
	height:35px;
	display:block;
	line-height:35px;
	}

div.search {
	width:170px;
	background: url(../images/bgsearch.png) 0 -23px no-repeat;
	height:23px;
}
div.search:hover,
div.search:focus {
	background: url(../images/bgsearch.png) 0 0 no-repeat;
	height:23px;}
#wrp3 {
}
#wrp3_inner {}


#wrp4_inner {
	padding:6px;}

#u11,#u12,#u13,#u14 {
	float:left;
	overflow:hidden;}
#mbody_left {
	float:right;
	overflow:hidden;}
#mbody_right {
	float:left;
	overflow:hidden;}
#mcontent {
	float:left;
	text-align:left;
	
	}


.advert {
	margin-bottom:6px;
	}


#rightbox_inner {
/*	padding:6px 6px 0px 6px;*/
}
#leftbox_left {
	width:206px;
	float:left;
	overflow:hidden;}
#leftbox_right {
	width:150px;
	float:right;
	overflow:hidden;}
div.contentpaneopen {
}


/* com_frontpege overriding */
td.cont_left * {
	text-align:right;}

td.cont_right {
	padding:0 10px 10px 10px;
}
td.cont_left .tpdate {
	font-size:11px;
	font-weight:700;
	text-align:right;}
td.cont_left .writtauth  {
	font-size:11px;
	text-align:right;
	 }
td.cont_left .tpautovatar img {
	float:right;
	margin:0 0 5px 0;}
/* footer setting */
#wrp5 {} 
#wrp5_inner1 {
	padding:10px 0;}	

#footer_left { 
	width:40%;
	float:left;
}
#footer_left img {
	margin-right:5px;}
#footer_right {
	width:60%;
	float:right;
	padding-top:0px;
	margin-right:0px;
	text-align:right;
	overflow:hidden;}
#footer_right * {
	font-size:11px;
	color:#999;}
#footer_right a:hover {
	color:#ff0000;
	text-decoration: underline;}
#scrollbot {
	width:50px;
	float:left;
}
.footimg {
	width:26px;
	float:left;}
#footer_left div {	font-size:11px;}
#footer_left div a {
	color:#ff0000;}

.ui-dialog
{
	border: 1px solid #CBCBCB;
	background: white;
	padding: 5px;

}



div.moduletable ul.authors li { float: left; width: 80px; text-align:left; background: #fff; margin: 0px 2px 3px 0px; padding: 4px; border: 0px solid #E1E1E1 }
