/* 
Module.css
Specific Css rules for Module layout 
Copyright (C) 2008 TemplatePlazza.com
All rights reserved.
 */ 

/* general moduletable setting */
div.moduletable,
div.moduletable-nobox,
div.moduletable_menu,
div.moduletable_text,
div.moduletable-blue ,
div.moduletable-green,
div.moduletable-red 
{
	text-align:left;
	margin:0;
	margin-bottom:6px;
	padding:0;

	}
div.moduletable li,
div.moduletable-nobox li,
div.moduletable_menu li,
div.moduletable_text li,
div.moduletable-blue li,
div.moduletable-green li,
div.moduletable-red li
{
	list-style:none;
	margin-left:0;}

.moduletable_inner {
	padding:10px;}


