td,p,div,tr{
  font-family:Arial,Tahoma,Verdana;
  line-height:150%;
}

td,p,div,tr, form, input{
  font-size:11px;
}

/*General*/
.bodies {
  font-weight:normal;
  color:#666666;  
  background:url(../images/style1/bgbody.png) repeat-x top #ededed;
  }
td,p,div,tr{
  color:#666666;
  }
/*joomla.css*/
.componentheading {
  background: #ECEBEB;
  }
/* custom.css */
#wrp2 {
  margin-top:8px;
  text-align: left;
  line-height:24px;
  margin-bottom:6px;
  background: #E2E6E9;
  height:40px;}
#wrp4{
  margin-top:6px;
  background: #ECEBEB;}
  
#mcontent_inner {
  background:#ECEBEB;
/*  padding:6px;*/
}
#rightbox {
  width:228px;
  float:right;
  overflow:hidden;
  background:#ECEBEB;
  }
.advert_inner {
  background:#ECEBEB;
  padding:6px 6px 1px 6px;}
div.contentpaneopen_inner {
  background:#ECEBEB;
  padding:6px;}

#brdcrmb {
  line-height:24px;
  height:24px;
  text-align:left;
  margin-bottom:6px;
  border-bottom:1px solid #CBCBCB;
  padding-left:0;}
  
#mcontent_inner_box {
  border:1px solid #CBCBCB;
  background:#FFFFFF;
  padding:1px;}
  
div.contentpaneopen_inner_box {
  border:1px solid #CBCBCB;
  background:#FFFFFF;
}
#wrp4_inner_box {
  background:#FFFFFF;
  padding:10px;
  border:1px solid #CBCBCB;}
td.cont_left {
  padding:10px 10px 10px 10px;
  border-right:1px solid #CBCBCB;
}
td.cont_left_bot{
  padding:5px 10px;
  border-top:1px solid #CBCBCB;
  border-right:1px solid #CBCBCB;
}
td.cont_right_bot {
  padding:5px 10px;
  border-top:1px solid #CBCBCB;
  text-align:right;}
#footer_wrapper {
  padding:6px 10px 6px 10px;
  height:18px;
  text-align:left;
  background:url(../images/bgmenubot.gif) repeat-x top #E4E4E4;
  margin-top:10px;
  border:1px solid #CBCBCB;
  margin-bottom:10px;
  border-top:none;
}
td.cont_right .contentheading,
.tpdate {
  padding:0 0 6px 0;
  border-bottom:1px solid #CBCBCB;
  line-height:16px;
  margin-bottom:8px;}

/*module.css*/
div.moduletable h3,
div.moduletable_menu h3,
div.moduletable_text h3,
div.moduletable-blue h3,
div.moduletable-green h3,
div.moduletable-red h3{
  line-height:28px;
  font-weight:700;
  margin:-10px -10px 10px -10px;
  padding-left:10px;
  color: #FF9715;
  font-size:11px;
  border-bottom:1px solid #CBCBCB;
  }
#leftbox_left div.moduletable h3,
#leftbox_left div.moduletable_menu h3,
#leftbox_left div.moduletable_text h3,
#leftbox_left div.moduletable-red h3,
#leftbox_left div.moduletable-blue h3,
#leftbox_left div.moduletable-green h3,
#leftbox_right div.moduletable-red h3,
#leftbox_right div.moduletable-blue h3,
#leftbox_right div.moduletable-green h3,

#leftbox_right div.moduletable h3,
#leftbox_right div.moduletable_menu h3,
#leftbox_right div.moduletable_text h3 {
/*  border-bottom:1px solid #CBCBCB;
  margin:0 0 6px 0;
  padding-left:0;*/

background: #FFF; border: 1px solid #CBCBCB; padding: 10px;

}

#leftbox_left div.moduletable {
 background:#FFFFFF;
  border:1px solid #CBCBCB;
  padding:10px;
}

#rightbox_inner div.moduletable,
.advert div.moduletable {
  background:#FFFFFF;
  border:1px solid #CBCBCB;
  padding:10px;}
#rightbox_inner div.moduletable-red,
#rightbox_inner div.moduletable-blue,
#rightbox_inner div.moduletable-green,
.advert div.moduletable-red {
  background:#FFFFFF;
  border:1px solid #CBCBCB;
  padding:10px;}
div.moduletable-nobox h3,
div.moduletable_text h3 {
  font-size:10px;
  text-align:right;
  text-transform:uppercase;
  color:#ccc;
  line-height:28px;
  margin: 5px 0 8px 0;
  padding:0;
}
div.moduletable-blue h3 {
  color:#133F6C;}
div.moduletable-red h3 {
  color:#ff0000;}
div.moduletable-green h3 {
  color: #669933;}
  
  
  
  
  
.detay {
  background:transparent url(../images/bgdotted.gif) repeat-x scroll center bottom;
  margin-bottom:5px;
  padding-bottom:5px;
}

.detay2 {
  background:transparent url(../images/bgdotted.gif) repeat-x scroll center top;
  padding:5px 5px 7px 5px;
  padding-bottom:15px;
}

.info {
  background:transparent url(../images/bgdotted.gif) repeat-x scroll center bottom;
  margin-bottom:5px;
  padding-bottom:5px;
  font-weight:bold;
  color: #1C4D7E;
  text-align:left;
  font-size:16px;
  line-height:19px;
}

.infoyazi {
  padding:0 5px 5px 5px;
  font-size:12px;
}

.detay2 img {
  margin-bottom:-4px;
}

.detayright {
  float:right;
  padding-bottom:5px;
}

.detayleft {
  float:left;
}

.baslik {
  font-weight:bold;
  color: #666666;
  text-align:left;
  font-size:16px;
  line-height:19px;
}

.baslik a:link, a:visited {
  color: #666666;
  text-decoration:none;
}

.baslik a:hover {
  color:#FF9715;
}

.aciklama {
  padding:5px;
}

.article {
  padding:20px;
}

.yorumheading {
  padding:0 0 9px 0;
  border-bottom:1px solid #CBCBCB;
  line-height:6px;
  margin-bottom:6px;
  font-weight:600;
  color: #1C4D7E;
  text-align:left;
  font-size:11px;
}

td.cont_left_bot .yorumtarih {
  text-align:right;
}

.yorumimg img {
  margin:0;
}

.editor_button img {
  margin:0px;
}

.editbclose img {
  margin:0px;
}

.editor_button_brk img {
  margin:0px;
}

.speedbar3 img{
  margin-bottom:3px;
  vertical-align:top;
}

div.anamenu tp, td{
  line-height:100%;
}

.navigation {
  color:#666; 
  border:0px;
}

.navigation a:link,
.navigation a:visited,
.navigation a:hover,
.navigation a:active {
  text-decoration:none;
  color: #636363;
  background:#F9F9F9;
  border:1px solid #E6E6E6;
  padding:3px 6px;
  font-size:11px
}

.navigation a:hover {
  background:#999999;
  color:#FFFFFF;
  border-color:#E6E6E6;
}

.navigation span {
  text-decoration:none;
  background:#fff;
  padding:3px 6px;
  border:1px solid #E6E6E6;
  color:#ccc;
  font-size:11px;
}

/*shortpic*/
h1.shortpic { float: left; padding: 0 0 0 11px; margin: 0 0 11px 0; font-size: 1em; font-weight: normal; }
h1.shortpic a, h1.shortpic a .blacklayer, h1.shortpic a .corner, div.shortpic .corner, div.shortpic { width: 167px; height: 167px; display: block; overflow: hidden; }
h1.shortpic a span, h1.shortpic a strong { cursor: pointer; }
h1.shortpic a, div.shortpic { position: relative; background-color: #bab3a6; color: #fff; }
h1.shortpic a:hover { background-color: #000; }
h1.shortpic a:hover img {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}

.shortpic .corner, h1.shortpic a .blacklayer { position: absolute; top: 0; left: 0; }
.shortpic .corner { background: url("../images/alpha_u.png") no-repeat 0 0; z-index: 1; }
h1.shortpic a .textlayer { display: none; cursor: pointer; margin: 0 12px; padding: 8px 0; line-height: 1.4em; }
h1.shortpic a:hover .textlayer { display: block; }
h1.shortpic a .textlayer strong { display: block; margin: 0 0 0.5em 0; }
*html .shortpic .corner { background: url("../images/noalpha_u.png") no-repeat 0 0; }

.shortpicinfo { margin: 0 0 9px 0; width: 167px; background: #f1efe8 url("../images/shortpicinfo.png") no-repeat 0 100%; }
.shortpicinfo ul { padding: 9px; }
.shortpicinfo ul li { text-align: center; color: #545452; }
.shortpicinfo a { color: #e75c54; }
.wmbox .shortpic .corner { background-position: -167px 0; }
*html .wmbox .shortpic .corner { background-position: -167px 0; }

.bthead { height: 15px; overflow: hidden; padding: 0 15px; }
.bthead b, .bthead strong { overflow: hidden; height: 15px; line-height: 50px; background-image: url("../images/heading_news.png"); }
.bthead b { float: right; width: 97px; background-position: -115px 0; }
.bthead strong { float: left; width: 111px; }
.blocktop { margin: 0 0 14px 0; background: #e0dcd5 url("../images/newsblock.png") no-repeat 0 0; overflow: hidden; }
.blocktop .dbtm { padding: 9px 0 11px 0; background: url("../images/newsblock.png") no-repeat -544px 100%; }
.blocktop .dcont { padding: 0 145px 0 15px; height: 78px; overflow: hidden; }
.blocktop .barchive { float: right; margin: 0 -130px 0 0; width: 130px; text-align: right; }
.blocktop .bnews { float: left; width: 100%; }
.blocktop a { color: #4b4b4b; }
.blocktop .bnews a strong { color: #e5372f; }
.blocktop .barchive #dle_news_archive_link { display: none; }

.wmbox, .wmboxfoot { width: 100%; }
.wmbox { padding: 9px 0 0; background: #fff url("../images/wmbox.png") no-repeat 0 0; overflow: hidden; }
.wmboxfoot { padding: 0 0 9px 0; background: url("../images/wmbox.png") no-repeat -544px 100%; }
.wmbox .dcont { margin: 0 9px; overflow: hidden; }

.wmbox, .errors { margin: 0 0 4px 0; }



