.search-block .form-wrapper input[type="text"] {
    padding-right: 27px;
}
.item-block span.image {
    overflow: hidden;
    display: block;
    padding-top: 68.72727%;
    position: relative;
}
.col {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: left;
}
.wrapper {
    width: 99%;
    max-width: 3470px;
    min-width: 315px;
}
main {
    padding-top: 5px;
}
section#friends {
    padding-bottom: 0;
}
.friend-item {
    margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
    .item-block {
        width: 50%;
    }
}

@media screen and (max-width: 420px) {
    /* .item-block { width: 100%; } */
    .logo-block{ width:60%;text-align:center }
	.i-navicon:before{ display: none; }
	.title-block{margin-bottom:5px}
}