#paymentMethod_extra input[id^="giftCardCode_"] {
    width: 130px;
}
#quickviewPDP #storepickup_msg span.red{
    display: none;
    visibility: hidden;
}
#quickviewPDP #storepickup_msg br{
    display: none;
    visibility: hidden;
}
.screen-reader-text {
    width: 1px;
    height: 1px;
    left: auto;
    top: auto;
    overflow: hidden;
    position: absolute;
    margin: 0px;
}

/*FIXES FOR myAccount header changes*/
#myaccount label{
    font-weight: normal;
    color: #2f2f2f;
}
#myaccount h2 {
    border-bottom: 1px solid #ddd;
    color: #d62d25;
    font-size: 13px;
    padding: 0 0 5px;
    text-transform: uppercase;
}
#myaccount h2 {margin:15px 0 10px;}

#new_account #billStreet2_hint, #myaccount #Address2_hint {
    display: block;
}