#mta-wrapper {
    background:#fff;
    position:absolute;
    top: 133px;
    z-index:99999;
    border: none;
    width: 100% !important;
    min-width: 966px;
    max-height: 600px;
    overflow-y: auto;
    box-shadow: none;
    left: 0;
    right: 0;
    border: solid #e6e6e6;
    border-width: 1px 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    scrollbar-base-color: #e6e6e6;
    scrollbar-track-color: #fff;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #fff;
}
body[data-header-size="small"] #mta-wrapper {
    top: 73px;
}
#mta-wrapper::-webkit-scrollbar {
    width: 15px;   
}
#mta-wrapper::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 50px;
    border: solid #fff;
    border-width: 2px 3px;
}
#mta-wrapper::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
#mta-typeahead, #mta-flyout {
    height: 600px;
    box-sizing: border-box;
    position: relative;
}
#mta-typeahead {
    background: #f2f2f2;
    padding: 30px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #666;
    text-transform: capitalize;
}
#mta-typeahead.ltr {
    border-right: 1px solid #e6e6e6;
}
#mta-typeahead.rtl {
    border-left: 1px solid #e6e6e6;
}
#mta-typeahead ul li {
    padding: 10px 20px;
    text-indent: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
#mta-typeahead ul li strong {
    color: #000;
}
#mta-typeahead ul li.mta-selected {
    background:#fff;
    border-color: #e6e6e6;
    position: relative;
}
#mta-typeahead li.mta-selected:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
}
#mta-typeahead.ltr li.mta-selected:after {
    right: -1px;
    border-right: 1px solid #fff;
}
#mta-typeahead.rtl li.mta-selected:after {
    left: -1px;
    border-left: 1px solid #fff;
}
#mta-flyout {
    width: 644px;
}
#mta-flyout a.fly-product {
    text-decoration:none;
    color:#000;
    display: block;
    padding: 20px;
}
#mta-flyout .short-desc {
    display: none;
    /*text-transform:capitalize;
    font-size:12px;*/
}
#mta-flyout .free-shipping {
    display: none;
    /*color:#0251a0;
    font-size:12px;
    text-transform:capitalize;*/
}
#mta-flyout .red {
    color: #e71836;
}
#flyout-prod-cartridge {
    overflow:hidden;
    padding: 20px;
}
#mta-flyout .prod-image, .prod-info-wrapper {
    display: inline-block;
}
#mta-flyout img {
    border:none;
    width: 120px !important;
    height: auto !important;
}

/** DEFAULT VERTICAL STYLES **/
.prod-vertical {
    display: inline-block;
    width: 50%;
}
.prod-vertical .prod-image {
    width: 120px;
    font-size: 0;
    padding-right: 15px;
    vertical-align: middle;
}
.prod-vertical .prod-image img {
    border:none;
}
.prod-vertical .prod-info-wrapper {
    width: calc(100% - 135px);
    vertical-align: top;
    line-height: 23px;
}
.prod-vertical .prod-info {
    display: block;
}
.prod-vertical .prod-info del {
    display:inline-block;
}
.prod-vertical span.red {
    display:inline-block;
    margin-left: 5px;
}
/** END VERTICAL STYLES **/

/** DEFAULT HORIZONTAL STYLES **/
.prod-horizontal {
    margin:0 0 10px 0;
    float:left;
    width:138px;
    min-height:206px;
    text-align:center;
}
.prod-horizontal, .prod-horizontal a {
    display:block;
    overflow:hidden;
}
.prod-horizontal .prod-image {
    width:100%;
}
.prod-horizontal .prod-image img {
    border:none;
}
.prod-horizontal .prod-info-wrapper {
    width:100%;
    height:auto;
    overflow:hidden;
}
.prod-horizontal .prod-info {
    width:100%;
    padding:0 5px;
    display:block;
}
.prod-horizontal .prod-info del {
    display:inline-block;
    margin:0 2px;
}
.prod-horizontal span.red {
    display:inline-block;
    margin:0 2px;
}
.prod-horizontal .ft_stars {
    display:inline-block;
    width:80%;
    margin:auto;
}
.prod-horizontal .ft_badge {
    display:inline-block;
    width:20%;
}
.record-listing-full-horizontal {
    bottom:15px;
    left:20px;
}
/** END HORIZONTAL STYLES **/

#mta-flyout a.shop-all-link {
    width: 210px;
    height: 40px;
    background: #000;
    line-height: 41px;
    border-radius: 3px;
    display: block;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 20px auto;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#mta-flyout a.shop-all-link:hover {
    background: #e71836;   
}
.black-arrow {
    display: none;
}
.mta-result-title {
    display: none;
    /* color:#000; */
    /* height:auto; */
    /* padding:0 0 5px 0; */
    /* font:normal 20px/20px 'BebasNeueRegular', Arial, sans-serif; */
}

/** DEFAULT CATEOGRY CARTRIDGES **/
.prod_slot {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 158px;
    padding: 0;
    margin: 0 10px 10px 0;
}
.prod_slot.end_slot {
    margin-right:0;
}
.prod_slot a {
    display: block;
    border: 1px solid #999;
    text-decoration: none;
}
.prod_slot a:hover {
    border-color: #000;
}
.prod_slot a:hover .prod_slot_title {
    background-color: #ffcc33;
    background-image: url('/ns/common/field-tested/images/arrow_right_black.png');
    color: #000;
}
.prod_slot a img {
    display: block;
    padding: 0;
    margin: 0 auto;
}
.prod_slot a .prod_slot_title {
    padding: 5px 0;
    background-color: #000;
    background-image: url('/ns/common/field-tested/images/arrow_right_yellow.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    color: #ffcc33;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* RATING STYLES */
#mta-wrapper .rating_stars {
    display: none;
}
#mta-wrapper .rating_stars .blank_rating {
    width: 20px;
    height: 32px;
    background: url('/ns/common/mta/images/fl/empty.png') center no-repeat;
}
#mta-wrapper .rating_stars .blank_rating .selected {
    width: 20px;
    height: 32px;
    background: url('/ns/common/mta/images/fl/full.png') left center no-repeat;
}