#mta-wrapper {
    width:287px;
    height:auto;
    overflow:hidden;
    display:none;
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    transition:all 300ms ease;
    -webkit-box-shadow: 3px 3px 4px #000;
    -moz-box-shadow: 3px 3px 4px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    border-left:#000 solid 1px;
    border-right:#000 solid 1px;
    border-bottom:#000 solid 1px;
}
#mta-typeahead {
    width:287px;
    height:450px;
}
#mta-typeahead.ltr { /** Left to Right **/
    float:left;
}
#mta-typeahead.rtl { /** Right to Left **/
    float:right;
}
#mta-typeahead ul {
    margin:0;
    padding:0;
}
#mta-typeahead ul li {
    list-style:none;
    display:block;
    margin:0;
    padding:5px;
    cursor:pointer;
    text-indent:10px;
}
#mta-typeahead ul li.mta-selected {
    background:#ccc;
}
#mta-flyout {
    width:371px;
    height:450px;
    position:relative;
    z-index:1;
}
#mta-flyout.ltr {
    float:left;
}
#mta-flyout.rtl {
    float:right;
}
#mta-flyout .red {
    color:red;
}