#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{ font-family: Arial, Helvetica, sans-serif; font-weight:bold;color:#FFF;}
#sb-container{position:absolute;margin:0;padding:0;top:0;left:0;z-index:9996;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;
	border: 1px solid #666;	
	background-color: #000;
	}
#sb-wrapper-inner{
	position:relative;
	overflow:hidden;
	height:100px;
	margin: 15px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url('loading.gif') no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#000;}
#sb-logo{display: none; margin: 5px 0 0 15px; height: 30px; width: 151px; background: url('fl-logo.jpg') no-repeat;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden; margin:5px 0 0 15px;}
#sb-title-inner{display:inline;height:26px;line-height:26px;}
#sb-title{display:none}
#sb-title-inner{ font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:0 15px 5px 0;width:45%; margin:-5px 0 0 0;}
#sb-nav a{display:block;float:right;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{color:#FFF;}
#sb-nav-next{}
#sb-nav-previous{}
#sb-nav-play{background-image:url('');}
#sb-nav-pause{background-image:url('');}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
