@charset "UTF-8";/* CSS Document */
a:hover{ text-decoration:none;}
.clearfix { display:block;*display:inline-block;}
.clearfix:after { content:".";display:block;height:0;clear:both;visibility:hidden;}
body{word-break:normal;}
/*header*/
.header,
.ad_top{ width:980px;margin:auto;margin-bottom:5px;line-height:0;}

.ad_728{ margin-right:2px;}
.header a.logo{ float:left;}
.logo{ display:inline-block;width: 240px;height:90px;background:url(logo.png) no-repeat;margin-right:12px;}
/*nav*/
/*.nav{ height:100px;background:url(x.png) repeat-x;}*/
.nav_menu{ width:980px;margin:auto;height:95px;background:url(x.png) repeat-x;}
.menu li{ float:left;font:normal 16px/26px "Microsoft YaHei";height:42px;}
.menu {padding-left: 5px;}
.nav_menu .menu a{ display:block;_display:inline-block;color:#fff;height:42px;line-height:42px;padding:0 8px;}
.nav_menu .menu ul li:last-first{ padding-left:40px;}
.menu .nav_more{ float:right;position:relative;width:50px;background:url(y.png) 17px -888px;z-index:2000}
.menu .nav_more:hover {background:#900 url(y.png) 17px -888px;}
.menu .nav_more a{width:20px;background:url(y.png) 15px -888px;}
.menu .nav_more a:hover{background:#900 url(y.png) 15px -888px;}
.menu a:hover{ text-decoration: none;background:#900}
.menu .parting{ width:12px;background:url( y.png) no-repeat 7px -980px;_width:2px;_background:url( y.png) no-repeat 0 -981px;}
.submenu{padding: 0 15px;}
.submenu ul{text-align: center ;display:table; margin:auto auto;}
.submenu li{ display: block;float: left;height: 32px;line-height: 32px; padding: 0 2px; *padding: 0 1px;}
.submenu a{ height:32px;padding:0 4px 0 5px;_padding:0 4px;}
.submenu .parting{ width:15px;background:url(y.png) 7px -1028px no-repeat;}
.nav_more_list{ position:absolute;background:#fff;border:4px #900 solid;right:0;top:43px;z-index:1000;padding:20px;width:465px;-moz-box-shadow: 0px 5px 8px #666;-webkit-box-shadow: 0px 5px 8px #666;box-shadow: 0px 5px 8px #666;}
.nav_more_list ul{ width:600px;}
.nav_more_list li{ width: 100px;float:left;margin-right:18px;height:auto;}
.nav_more_list li:last-child{ margin-right:0;}
.nav_more_list h4{ border-bottom:1px #333 solid;}
.nav_more .nav_more_list li a{ width:auto;background:none;color:#333;font-size:12px;line-height:30px;height:auto;padding:0;border-bottom:1px #ccc solid;}
.nav_more .nav_more_list li a:hover{ background:none;color:#c00;}
.nav_more .nav_more_list li a:last-child{ border-bottom:none;}
.nav_more_list a.arrow{ display:block;width: 42px;height: 43px;position: absolute;right:-4px;top:-47px;background:#fff url(y.png) 13px -937px;border:4px #900 solid;border-bottom:none;-moz-box-shadow: 0px 5px 8px #666;-webkit-box-shadow: 0px 5px 8px #666;box-shadow: 3px -2px 4px #ddd;padding: 0;}
.nav_more_list a.arrow:hover{background:#fff url(y.png) 13px -937px;}
/*content*/
.content{ width:980px;margin:0 auto;}
.box{ margin-bottom:20px;}
.box h2{ color:#c00;font:normal 18px/30px "Microsoft YaHei";border-bottom:2px #333 solid;margin-bottom:15px;}
.box h2 a{ color:#c00;}
.content dt{ font-weight:bold;font-size:14px;}
.content dd{ color:#888;}
/*sidebar*/
.sidebar{ width:300px;margin-left:15px;}
.slide-outer{
  width:300px;height:227px;overflow:hidden; margin-bottom:5px;position:relative;
}
.hot{ width:300px;height:200px;overflow:hidden;position:absolute;left:0;top:0;}
.hot .swapbox1,
.hot .swapbox2,
.hot .swapbox3,
.hot .swapbox4,
.hot .swapbox5,
.hot .swapbox6{position: absolute;left: 0;top:0;}
.hot a { position:absolute; }
.hot img{ width:300px;height:200px; }
/*.hot ul{width:110px;background:url(y.png) 0 -1130px no-repeat;position:absolute;bottom:5px;right:5px;padding:0 10px;}*/
.slide-outer ul{width:110px;position:absolute;bottom:5px;left:50%;margin-left:-60px;padding:0 10px; z-index: 111;}
.slide-outer ul li{ float:left;width:18px;height:20px;background:url(y.png) 0 -1100px no-repeat;cursor: pointer;}
.slide-outer ul li.current,
.slide-outer ul li.cur,
.slide-outer ul li:hover{ background-position:0 -1080px;}
.quick dt{ width:60px;float:left;font-size:12px;font-weight:bolder;color:#333;}
.quick dd{ float:right;width:240px;}
.quick dd a{ margin-right:10px;}

/*tmp*/
.tmp{}
.tmp dl {margin-bottom: 10px;border-bottom: 1px #ccc dotted;padding-bottom: 10px;}
.tmp dl:last-child {border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
.tmp dl .img{margin:0 auto 10px; width: 180px; height: 120px}
.tmp dl .img img{ width: 180px; height: 120px}
.tmp dl dt{margin-bottom: 5px;font-weight: bold;font-size: 14px;text-align: center;}
.tmp dl dd {color:#666; line-height: 20px; }


.book{}
.book dl{ margin-left:10px;_margin-left:0;float:right;width:170px;}
.book dd{margin-top:10px;}
.book_cover img{ width:120px;height:170px;}
.follow ul li{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.enterprise{}
.enterprise h4 {margin-bottom:5px; font-size:14px; font-weight:bold;}
.enterprise img{ float:left;margin-right:10px;width:90px;height:60px;}
.enterprise dd{ margin-bottom:10px;padding-bottom:10px;border-bottom:1px #ccc dotted;}
.enterprise ul li,
.share ul li{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.box .more{ color:#c00;font-size:12px;}
.job dd{ margin-bottom:10px;padding-bottom:10px;border-bottom:1px #ccc dotted;}
.job dd:last-child{ border:none;margin:0;padding:0;}
.activity h2{ background:url(y.png) 0 -1170px no-repeat;padding-left:20px;}
.activity h4{ font-size:16px;color:#666;margin-bottom:10px;padding-top: 10px;}
.activity h4 span{ margin-right:10px;}
.activity li{ font-size:14px;padding-bottom: 10px;border-bottom: 1px #ccc dotted;}
.activity li:nth-child(2n) {background-color: #f8f8f8;}
.share dt{ margin-bottom:10px;padding-bottom:10px;border-bottom:1px #ccc dotted;}
.share dt img{ float:left;margin-right:10px;width:150px;}
ul.club li{ border:1px #ccc solid;padding:1px;margin-bottom:20px; height:100px; overflow:hidden;}
ul.club li img{ float:right; margin-left:5px; width:100px; height:100px;}
ul.club li .tit{ display:block; padding:13px 10px;font:normal 16px/26px "Microsoft YaHei";}
/*main*/
.main{ width:650px;padding-right:14px;border-right:1px #ddd solid;overflow:hidden;}
.news{ margin-bottom:10px;padding-bottom:20px;border-bottom:1px #ddd solid;}
.news_left{ float:left;width:380px;margin-right:20px;font-size:14px;}
.news_left img{ width:380px;height:253px;}
.news_left dt{ font:normal 28px/36px "Microsoft YaHei";padding-bottom:10px;}
.news_left dd{ font-size:14px;padding-bottom:10px;margin-bottom:10px;border-bottom:1px #ddd solid;}
.news_left h4{ font-weight:bold;}
.news_left h4 .more{font-size:12px;}
.news_list{ width:250px;float:left;}
.news_list dt{ font:normal 16px/26px "Microsoft YaHei";height:52px;overflow:hidden;margin-bottom:4px;font-weight:bold;}
.news_list dd{margin-bottom:8px;padding-bottom:8px;border-bottom:1px #ccc dotted;height:49px;overflow:hidden}
.news_list dd:last-child{ padding:0;border:0;}
.news_list li{ font:normal 16px/24px "Microsoft YaHei"; margin-bottom:8px;padding-bottom:8px;border-bottom:1px #ccc dotted;overflow:hidden;}
.news_list .more{  background:#900 url(y.png) 35px -1200px;display:inline-block;padding:0 20px 0 10px;color:#fff;text-decoration:none;}
.news_list li:last-child{ padding:0;border:0;}
.news_list .more:hover{ background-color:#a00;}
.wrap{}
.wrap .left{ width:230px;float:left;margin-right:30px;}
.hot_news img{ display:block;margin-bottom:10px;width:230px;height:153px;}
.hot_news dt{ font-weight:inherit; font: normal 16px/22px "Microsoft YaHei";margin-bottom:10px;padding-bottom:10px;border-bottom:1px #ddd dotted;}
.hot_news dt:last-child{padding:0;margin:0;border-bottom:none;}
.hot_blog ul{ background:url(y.png) 5px -1270px no-repeat;padding-left:50px;}
.hot_blog li{ overflow:hidden;margin-bottom:20px;height:44px;font:normal 16px/22px "Microsoft YaHei";}
.special dt{ font-weight:inherit;font-size:16px;margin-bottom:10px;}
.special dd{padding-bottom:10px;margin-bottom:10px;border-bottom:1px #ddd dotted;}
.special dd:last-child{padding:0;margin:0;border-bottom:none;}
.special img{ width:230px; height:115px; display:block;}
.top_news dd img {display: block;height: 120px;margin: 0 auto;width: 180px;}
.flow{ margin-bottom:0;}
.flow h4{ font-size:12px;}
.flow h3{font:normal 18px/28px "Microsoft YaHei";margin-bottom:5px; font-weight:bold;}
.flow ul.develop li{ padding-bottom:6px; margin-bottom:6px; border-bottom: 1px #ddd dotted; font-size:14px; }
.flow ul.develop li:last-child{ border:none;padding:0;}
.flow ul.develop span{ display:inline-block; width:16px; height:16px; color:#666; margin-right:5px; background: url(http://my.csdn.net/images/ico_pub_blog.gif) no-repeat;background-position: 1px 0;}
.flow li{padding-bottom:13px;margin-bottom:13px;border-bottom:1px #ddd dotted;display:block;*display:inline-block;}
.flow li:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.flow li img{ float:left;margin-right:10px;width:120px;height:80px;padding-top:6px;}
.flow li .summary{ color:#666;margin-bottom:5px;}
.flow li .summary .image{ display:block;float:none;width:389px;height:195px;margin:0 auto;}
.flow li h5 a{ color:#666;margin-right:10px;}
.flow li h5 a:hover{ color:#c00;}
.flow .more{ width:100%;height:50px; margin-top:20px;background:none;border:none;cursor:pointer;font-size:20px;color:#999; line-height: 50px;}
.flow .more:hover{ color:#c00;}
.wrap .center{width:389px;float:left;}
/*ad*/
.ad_300_60{ width:300px;height:60px;overflow:hidden;}
.ad_news{ width: 660px;}
.ad_news .ad_322{ width:322px;height:90px;margin-right:5px;}
.ad_news .ad_650 {width: 650px;margin-right: 5px;}
.ad_160_600 {margin: 0 auto;width: 160px;height: 600px;margin-bottom: 30px;}
.ad_160_600 img{ width:160px;height:600px;}
.flow li.ad_flow_text{ border:1px #999 dotted;padding:1px;}
.flow li.ad_flow_text dl{ background:#f8f8f8;padding:10px 15px;}
/*footer_nav*/
.footer_nav{ width:980px;margin:0 auto;padding:10px 0;}
.footer_nav h4{font-size:14px;margin-bottom:5px;}
.classify a{ margin-right:20px;white-space:nowrap;}
.classify{ border-top:1px #ccc solid;border-bottom:1px #ccc dotted;padding:10px 0;margin:10px 0;}
.service{ margin:10px 0;}
.service a{ background:url(y.png) no-repeat;height:25px;padding-left:30px;margin-right:25px;display:block;float:left;font-size:14px;line-height:40px;}
.service a:last-child{ margin-right:0;}
a.icon_rss{ background-position:0 -75px;}
a.icon_activity{ background-position:0 -165px;}
a.icon_email{ background-position:0 -255px;}
a.icon_weibo{ background-position:0 -348px;}
a.icon_weixin{ background-position:0 -442px;}
a.icon_ipad{ background-position:0 -533px;}
a.icon_share{ background-position:0 -623px;}
a.icon_pongo{ background-position:0 -715px;}
a.icon_csto{ background-position:0 -807px;}
a.icon_rss:hover{ background-position:0 -120px;}
a.icon_activity:hover{ background-position:0 -210px;}
a.icon_email:hover{ background-position:0 -301px;}
a.icon_weibo:hover{ background-position:0 -394px;}
a.icon_weixin:hover{ background-position:0 -488px;}
a.icon_ipad:hover{ background-position:0 -578px;}
a.icon_share:hover{ background-position:0 -669px;}
a.icon_pongo:hover{ background-position:0 -761px;}
a.icon_csto:hover{ background-position:0 -852px;}
.box{ display:block;*display:inline-block;}
.box:after { content:".";display:block;height:0;clear:both;visibility:hidden;}
/*top notice*/
.pagetop_notice{ width:980px; margin:0 auto; height:28px; background:#fff; line-height:28px; text-align:left; text-align:right; margin-bottom:2px;}
.pagetop_notice{padding-bottom:3px\9;}
.pagetop_notice a{padding:0 6px; text-decoration:none;}
.pagetop_notice a:hover,
.pagetop_notice a:active{color:#f00;}
pagetop_notice div{padding-top:2px;}
.pagetop_notice span{margin:0;}
.pagetop_notice span.login{margin-right:6px; display:inline; color:#f00;}
.pagetop_notice span em{color:#f00; padding:0 6px 0 3px;margin-right: 20px;}
.pagetop_notice span a.notice_num{display:none; width:auto; height:11px; margin:0 20px 0 0; padding:2px 5px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -khtml-border-radius:3px; background:#ddd; color:#666 !important; line-height:11px; text-decoration:none;}
.pagetop_notice span a{padding:0 5px;}
.pagetop_notice span .red{color:#f00;}
.pagetop_notice img{margin:0 2px -3px;float:right;}
.pagetop_notice .search{width:170px; height:14px; margin:2px 0 2px 5px; padding:2px 3px; border:solid 1px #ccc; background:#fff url(http://c.csdnimg.cn/www/images/ico_sear_top.gif) no-repeat 160px 2px; color:#999; line-height:14px; vertical-align:middle;}
.pagetop_notice .search{margin-top:2px\9; margin-bottom:0\9;padding-top:2px\9;}

/*pub_footer*/
.pub_footer{display:block; clear:both; width:980px; margin:0 auto; padding:10px 0 0; color:#333; font:normal 12px/24px Helvetica, Tahoma, Arial, sans-serif; text-align:center;}
.pub_footer a:hover,
.pub_footer a:active{color:#f00 !important; text-decoration:none !important;}
.pub_footer dl{padding:0 0 3px; overflow:hidden; border-top:solid 1px #ccc;}
.pub_footer dd a{color:#333;}
.pub_footer dt {height:49px; padding:5px 0 10px; text-align:center;}
.pub_footer dt a{padding:0; margin:0 5px;}
.pub_footer dt a img{height:47px; /*width:115px; height:45px;*/ border:1px solid #ccc;}
.pub_footer dd.backblue{padding:8px 0 5px; /*border-top:solid 1px #ccc; background:#96c3ea;*/ color:#666;}
.pub_footer dd.backblue a{padding:0 10px; font-weight:normal; color:#333;}
.pub_footer dd.backblue a:link, .pub_footer dd.backblue a:visited, .pub_footer dd.backblue a:hover, .pub_footer dd.backblue a:active{font-weight:normal; color:#333;}
/* 增加客服联系方式 */
.pub_footer .qq,
.pub_footer .weibo,
.pub_footer .online,
.pub_footer .email,
.pub_footer .phone{margin-right:15px;}
.pub_footer .qq { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -17px -111px; display: inline-block; padding-left: 17px; }
.pub_footer .qq:hover { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -17px -138px; display: inline-block; padding-left: 17px; }
.pub_footer .weibo { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -14px -52px; display: inline-block; padding-left: 22px; }
.pub_footer .weibo:hover { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -13px -81px; display: inline-block; padding-left: 22px; }
.pub_footer .online { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -17px -165px; display: inline-block; padding-left: 20px; }
.pub_footer .online:hover { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -17px -193px; display: inline-block; padding-left: 20px; }
.pub_footer .email { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -17px -220px; display: inline-block; padding-left: 20px; }
.pub_footer .email:hover { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -17px -248px; display: inline-block; padding-left: 20px; }
.pub_footer .phone { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -17px 1px; display: inline-block; padding-left: 20px; }
.pub_footer .phone:hover { background: url( http://c.csdnimg.cn/www/images/pic_footer_icon.png ) no-repeat -17px -27px; display: inline-block; padding-left: 20px; }
.ad_text_01{padding-top:10px; margin-top:10px; border-top:1px #ccc dotted;}
.ad_text_01 li iframe {height: 24px;}
/* 最热博客文章 */
.hot_paper li{ font-weight:inherit; font: normal 16px/22px "Microsoft YaHei";margin-bottom:10px;padding-bottom:10px;border-bottom:1px #ddd dotted;_zoom: 1;}
.hot_paper li:last-child{padding:0;margin:0;border-bottom:none;}
.hot_paper li:after {content: ".";display: block;visibility: hidden;clear: both;height: 0px;}
.hot_paper li img{ float:left; margin-right:10px; width: 75px; height: 75px;}
.hot_paper li a{}
.top_arrow { border: 0 none; bottom: 150px; cursor: pointer; display: block; height: auto; margin: 0; opacity: 0.5; padding: 0; position: fixed; right: 40px; width: 35px; z-index: 2147483647;}

/* 知识库 */
  .lib-list{font-family:"Microsoft YaHei";}
  .lib-list a.lib-list-banner{display:block; clear:both; overflow:hidden;margin:-10px 0 10px;}
  .lib-list a.lib-list-banner img{width:300px; height:60px;margin:0;}
  .lib-list a.lib-list-banner img{width:300px; height:60px;}
  .lib-list dl dd.tracking-ad{clear:both;overflow:hidden;}
  .lib-list dl dd.tracking-ad img{width:60px; height:60px;border:1px solid #e9e9e9;}
  .lib-list dl dd.tracking-ad .lib-list-right{float:left; padding-top:5px;}
  .lib-list dl dd.tracking-ad .lib-list-right h4,.lib-list dl dd.tracking-ad .lib-list-right .lib-list-txt{clear:both;overflow:hidden;}
  .lib-list dl dd.tracking-ad .lib-list-right span{display:block;float:left;margin-right:5px;}
  .lib-list dl dd:hover .lib-list-right h4 a,.lib-list dl dd:hover .lib-list-right .lib-list-txt span.txt{color:#cc0000;}