body{margin:0px;padding:0px;zoom:1;background:#fff;color:#000;
font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS P Gothic",sans-serif;
font-size : 13px;line-height:1.5em;
_font-size : 81.6%;  /* for IE6 */
}
*+html body {font-size:81.6%;}  /* for IE7 */

div,dl,dt,dd,h1,h2,h3,h4,h5,h6,h7,pre,form,fieldset,p,blockquote,th,td,textarea,label{margin:0px;padding:0px;zoom:1;}
ul,ol,li,span{margin:0px;padding:0px;}
li{list-style-type:none}
img{margin:0px;padding:0px;border:0px;}
em{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:1em;}
select{margin:0px;}
input,textarea{margin:0px;}/* padding:0; */

a:link{color:#002CBD;}
a:hover{color:#d30;}
a.blk{color:#000 !important;}
a.blk:hover{color:#d30 !important;}

.hr{clear:both;margin:0px;padding:0px;line-height:0px;font-size:0px;height:0px;border-bottom:1px solid;}

/* radio&checkbox position */
input.rd,input.ckb{vertical-align:middle;margin-bottom:0.4em;margin-right:3px;}
*html input.rd,input.ckb{margin-bottom:0px;margin-right:0px; height: 1.25em;}
*+html input.rd,input.ckb{margin:0px; height: 1.25em;}

#header_top,
#contents_out,
#navi,
.footer_in{width:1000px; margin:0px auto 0px auto;}/*＊*/ 

#container{background:url(../img/base/baseset_x_pan.png) repeat-x 0 7.8em;}

/* base block icons 2012/04/27 */
.Pusr_inValid .pusr_type,
#pusr_logoff_i,#pusr_logon_i,
/*li.navL em.new,*/
#qsearch_new em,
#qsearch_sbmt,#qsearch_help
{ background:url(/com/img/base/baseset_block_v3.png?20150604) no-repeat 0 0;  }

/* shadow in input */
div.ekiin input,#qsearch_text{
	background:-webkit-gradient(linear,left top,left bottom,from(#eee),color-stop(10%,#fff),to(#fff));
	background:-moz-linear-gradient(#eee,#fff 10%,#fff);
	background:-o-linear-gradient(#eee,#fff 10%,#fff);
	background:linear-gradient(#eee,#fff 10%,#fff);}

/* header 2012/04/23 ------------------------------------------- */
#headline{width:1000px;border:1px solid #f00;margin:0px auto 0px auto;display:none;} /*＊*/
#header{font-size:13px;background:url(../img/base/header_normal_12.png) no-repeat center top #fff;}
#header_top{position:relative;height:4.85em;}

a#logo{position:absolute;top:17px;}
#header_catch{position:absolute;right:0;top:2px;width:420px;color:#299AD4;font-size:10.5px;line-height:1.6em;font-weight:normal;overflow:hidden;white-space:nowrap;text-align:right; }

#qsearch{position:absolute;left:220px;top:0;padding:0;width:495px;padding:19px 0 0 0;}
#qsearch_text{
	line-height:24px;height:24px;width:330px;margin:0;padding:0 5px;float:left;
	border-top:1px solid #989EA4;border-left:1px solid #AAB0B6;border-bottom:1px solid #BABFC5;border-right:none;}
#qsearch_sbmt,#qsearch_help{
	text-indent:-9999px;overflow:hidden;font-size: 0.01em;border:none;float:left;margin-top:0px !important;}
#qsearch_sbmt:hover,#qsearch_help:hover{opacity:0.85;-moz-opacity:0.85;filter: alpha(opacity=85);background-color:#fff;}
#qsearch_sbmt{width:107px;height:26px;cursor:pointer;background-position:-240px 0;}
#qsearch_help{width:25px;height:26px;background-position:-351px 0;margin-left:4px;}
#qsearch_new{display:block;color:#444;}
#qsearch_new a{text-decoration:none;}
#qsearch_new em{float:left;width:25px;height:14px;margin:4px 5px 0 0;background-position:-120px 0;}

#header_subnav{position:absolute;top:29px;right:3px;width:230px;text-align:right;}
#header_subnav li{display:inline;list-style:none;padding:0 0 0 1.2em;border-right:1px solid #fff;font-size:0.95em;}
#header_subnav li a{text-decoration:none;color:#494949;}
#header_subnav li a:hover{color:#d30;}

/* navi 2012/04/23 ---------------------------------------- */
#nav_bg{
	text-align:center;position:relative;background:#416EB4;
	background:-webkit-gradient(linear,left top,left bottom,from(#4977C0),to(#3864A6));
	background:-moz-linear-gradient(top,#4977C0,#3864A6);
	background:-o-linear-gradient(top,#4977C0,#3864A6);
	background:linear-gradient(#4977C0,#3864A6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4977C0',endColorstr='#3864A6');
}
#navi{clear:both;height:2.4em;}
li.navL{float:left;width:100px;line-height:1em;}
li.navR{float:right;height:2.4em;line-height:1em;color:#fff;border-left:1px solid #8baee5;}

a.navL_a,a.navR_a{ 
	display:block;position:relative;
	height:1.65em;color:#fff;text-align:center;text-decoration:none;}
a.navL_a{text-shadow: 0 1px 1px rgba(0,0,0,.3);width:100%;padding-top:0.75em;}
a.navR_a{font-size:0.9em;width:165px;padding-top:0.83em;padding-bottom:0.2em;}

a.navL_a:hover,
.navL:hover a.navL_a,
.Pusr_logOff a.navR_a:hover,
.Pusr_logOff .navR:hover a.navR_a{color:#fff !important;background:#1B54AA !important;}
a.navL_a:hover,
.navL:hover a.navL_a{padding-top:0.75em !important;top:0px !important;padding-bottom:0 !important;}
li.navL:hover ul.navL_in,
li.navR:hover ul.navR_in{display:block;}

ul.navL_in,
ul.navR_in{
	display:none;
	position:absolute;z-index:1000; /* yahooマップが999なので */
	top:2.3em;
	background:#1B54AA;
	width:100px;text-align:left;
	box-shadow: 1px 1px 3px #666;
	-moz-box-shadow: 1px 1px 3px #666; /* Firefox */  
	-webkit-box-shadow: 1px 1px 3px #666; /* Safari,Google Chrome */ 
}
ul.navR_in{width:165px;}

a.navL_s,
a.navR_s{
	display:block;
	padding:10px 0 10px 20px;
	border-top:1px solid #4775BD;
	color:#fff;text-decoration:none;}
a.navL_s:hover,
a.navR_s:hover{background:#043e95;}

li.nav_home{width:80px;}
li.nav_nori{}
li.nav_time{width:80px;}
li.nav_bus{width:70px;}
li.nav_live{width:140px;}
li.nav_unk{}
li.nav_eki{}
li.nav_world{width:120px;}

li.nav_nori .navL_in{width:120px;}
li.nav_time .navL_in{width:110px;}
li.nav_eki .navL_in{width:140px;}
li.nav_world .navL_in{width:130px;}

.Nav_home_On .nav_home a.navL_a,
.Nav_nori_On .nav_nori a.navL_a,
.Nav_time_On .nav_time a.navL_a,
.Nav_bus_On .nav_bus a.navL_a,
.Nav_live_On .nav_live a.navL_a,
.Nav_unk_On .nav_unk a.navL_a,
.Nav_eki_On .nav_eki a.navL_a,
.Nav_world_On .nav_world a.navL_a{
	top:3px;padding-top:0.5em;padding-bottom:1px;
	background:#fff;color:#1346AA;text-shadow:none;
border-top-left-radius: 2px;
-webkit-border-top-left-radius: 2px;
-moz-border-radius-topleft: 2px;
border-top-right-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topright: 2px;
}

/* newアイコン ジパング 2015/10/07 */
.form_tab_icon .i_new,
span.nav_zipang_new,
span.nav_nori_new{
	display:block;
	position:absolute;
	text-indent:-9999px;overflow:hidden;font-size:0.01em;
	width:23px;
	height:9px;
	padding:0;
	background-position:0 -40px;
}
.nav_zipang_new{left:2px;top:69px;}
.nav_nori_new{left:2px;top:0px;}
.Nav_nori_On .navL .nav_nori_new{top:-3px !important;}
.navL:hover .nav_nori_new{top:0px !important;}
.form_tab_icon{
	float:left;
	height:20px;
	position:relative;
}
.form_tab_icon .i_new{left:2px;top:-4px;}


/* navi login 2012/04/23 */
.Pusr_logOn li.navR{
	background:-webkit-gradient(linear,left top,left bottom,from(#444444),to(#393939));
	background:-moz-linear-gradient(top,#444444,#393939);
	background:-o-linear-gradient(top,#444444,#393939);
	background:linear-gradient(#444444,#393939);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444',endColorstr='#393939');	
	border-left:none;}

#pusr_logon_i{}

.pusr_logout_btn{display:none;}
#pusr_logoff,#pusr_logon{display:none;}
#pusr_logoff .navR_a{font-weight:bold;}
#pusr_logoff_i{
	display:inline-block;width:68px;height:19px;vertical-align:top;padding-right:3px;
	background-position: 2px 0;}
.Pusr_logOn li.navR:hover,
.Pusr_logOn ul.navR_in,
.Pusr_logOn ul.navR_a,
.Pusr_logOn li.navR:hover ul.navR_a{background:#2f2f2f !important;}
.Pusr_logOn a.navR_s{border-top:1px solid #444;}
.Pusr_logOn a.navR_s:hover{background:#181818;}
.Pusr_logOn #pusr_logon,
.Pusr_logOff #pusr_logoff{display:block;}

.Pusr_inValid .pusr_type{font-size:0.01em;
	position:relative;top:-3px;
	display:inline-block;vertical-align:top;
	width:15px;height:15px;
	background-position: -100px 0;}

/* news */
#news,#pan{padding:6px 0 1px 0;overflow:hidden;white-space:nowrap;line-height:1.2em;font-size:0.9em;}
#news{float:right;width:410px;text-align:right;}
#news a {zoom:1;text-decoration:none;background-position:0 -39px;} /* for IE6 */

/* pan */
#pan{float:left;width:530px;color:#888;word-break:keep-all;}
#pan b{font-weight:normal;}
#pan a{color:#888;}
#pan a:hover{color:#d30;}

/* footer ------------------------------------------- */
#footer{clear:both;background:#eee;padding:13px 0 23px 0;border-top:1px solid #BCBCBC;}
#footer:after{content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;}
#footer a{text-decoration:none;color:#0F69AD;}
#footer a:hover{text-decoration:underline;color:#DD3300 !important;}
#footer .ftr_l{border-bottom:1px solid #fff;margin-bottom:6px;}
#footer .ftr_l h5{display:block;border-bottom:1px solid #BCBCBC;font-size:1.1em;padding:5px 0 2px 0;}
#footer .ftr_l h5,#footer .ftr_l a {color:#474747;}

#footer ul{float:left;line-height:1.4em;color:#4488BC;margin-right:25px;}

#footer .footer_u1{width:12.5%;}
#footer .footer_u2{width:11.5%;}
#footer .footer_u3{width:19.5%;}
#footer .footer_u4{width:14%;margin-right:0px;}
#footer .footer_u5{width:300px;float:right;margin-right:0px;}

#footer .mb{float:right;width:282px;line-height:1.4em;padding:8px;margin-top:18px;
border:1px solid #BABABA;background:#FCFCFC;font-size:0.9em;}
#footer .mb img{float:left;margin-right:10px;}
#footer iframe{float:right;margin-top:20px;}

#footer_bottom{background:#474747;overflow:hidden;padding:2px 0;color:#fff;}
#copy{float:left;}
#copy_jr{float:right;}

/* contents ------------------------------------------- */
#contents{min-height:350px;height:auto !important;height:350px;clear:both;padding-top:27px;}
#contents:after{content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;}

/*  space  */
div.sp{font-size:0.01em;height:20px;width:98%;overflow:hidden;clear:both; }
div.sp0{font-size:0.01em;height:1px;width:98%;overflow:hidden;clear:both; }

/*  normal left */
div#left{float:left;width:685px;} /*＊*/

/*  normal right */
div#right{float:right;width:300px;} /*＊*/

.i_new,.to_top a
{background:url(/com/img/base/baseset_inline_v2.png) no-repeat 0 0;}
.i_new{padding-left:27px;background-position:0 -38px;}

/* to top */
.to_top {clear:both;padding:25px 0 10px 0;text-align: right; }
.to_top a{background-position:0 1px;padding-left:17px;color:#002CBD;}

/* 軽量化 ------------------------------------------- */
.LightW #header{background:none !important;}
.LightW #index_left .menu2 img{display:none;}
.LightW div.menu2 h4{background:none;}
.LightW div.menu2{background:#EBF5FA;}
.LightW #search .footer{background:none;}
.LightW ul.category li *{background:none !important;}
/* -------------------------------------------------- */

/*.h_2 b,.h_3 b,.h_3r b,.h_k18 b,*/
a.more,
.h_sc b
{background:url(/com/img/base/baseset_inline_v2.png) no-repeat 0;}

a.more{padding-left:14px;background-position: 0px -188px;}

.h_sc{
	overflow:hidden;padding:3px 0 1px 2px;border:1px solid #bbb;
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(30%,#fff),to(#F2F3F3));
	background:-moz-linear-gradient(#fff 30%,#F2F3F3);
	background:-o-linear-gradient(#fff 30%,#F2F3F3);
	background:linear-gradient(#fff 30%,#F2F3F3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F2F3F3');
}
.h_sc b{float:left;line-height:1em;padding:4px 0 4px 11px;background-position:1px -249px;}
.h_2  b{padding-left:11px;background-position:1px -249px;}
.h_3  b{padding-left:11px;background-position:1px -249px;}
.h_3r b{padding-left:11px;background-position:1px -279px;}
.h_k18 b{padding-left:24px;background-position:1px -99px;}

.h_sc a{text-decoration:none;}
.h_sc a:hover{text-decoration:underline;}
.h_sc a.link{float:right;font-weight:normal;margin-right:7px;text-decoration:underline;}
.h_sc a.more{background-position:1px -188px;}

.h_normal1 {font-size:1.4em;margin:11px 0 17px 0;padding:0 0 14px 12px;border-bottom:1px solid #c1c1c1;} /* for normal page*/

div.h_big{font-size:1.1em;line-height:1.1em;border-bottom:1px solid #eee;margin-bottom:5px;
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(30%,#fff),to(#F2F3F3));
	background:-moz-linear-gradient(#fff 30%,#F2F3F3);
	background:-o-linear-gradient(#fff 30%,#F2F3F3);
	background:linear-gradient(#fff 30%,#F2F3F3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F2F3F3');
}
div.h_big h3{padding:5px 10px 5px 17px;background:url(/com/img/base/baseset_inline_v2.png) no-repeat 5px -306px; border:1px solid #aaa;overflow:hidden;}
div.h_big h3 b{float:left;margin-right:30px;}
div.h_big h3 em{float:left;font-size:0.9em;}
div.h_big a{float:right;font-size:0.9em;}
div.h_big h3 a.faq{float:right;font-size:0.9em;margin-right:10px;}

/*  section  ＊未整理 */
div.section{padding:8px 5px 5px 10px; border:1px solid #bbb;border-top:0px;
/*background:url(/com/img/base/section_bg.gif) repeat-x top;*/ line-height:1.4;margin-bottom:10px;}
div.section:after{content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;}
div.section .footer{clear:both;padding:5px 0 0 0;text-align:right; }
div.section .footer_l{clear:both;padding:5px 0 0 0;text-align:left;}

div.section_none{padding:8px 10px 5px 10px;background:url(/com/img/base/section_bg.gif) repeat-x top; line-height:1.4;margin-bottom:17px;}
div.section_none:after{content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;}
div.section_none .footer{clear:both;padding:5px 0 0 0;text-align:right; }
div.section_none .footer_l{clear:both;padding:5px 0 0 0;text-align:left;}

div.section ul,div.section_none ul{list-style-type:none;}
div.section p,div.section_none p{padding-bottom:2px;}

div.blk_kouji{background:url(/com/img/base/bg_kouji.gif) no-repeat 0px 50% #FFE4E1;margin-bottom:10px;padding:4px 0 3px 0;}
div.blk_kouji ul{padding-left:73px;width:353px;overflow:hidden;}.blk_kouji ul li{font-size:0.9em;} .blk_kouji ul li a{white-space: nowrap;color:#dc1c00 !important;} 

div.sc_k18 ul{ background:#FFEDA8;padding:5px 10px;margin:3px 0;}

div.sc_eki {font-size:1.1em;}
div.sc_eki ul{float:left;}
div.sc_pack div{padding:3px 0 5px 4px;clear:both;}
div.sc_pack div img{float:left;}
div.sc_pack div p{float:left;padding-left:10px;line-height:1.1em;}
div.sc_pack div p a{line-height:1.9em;}

div.sc_ranking li{line-height:1.6em;clear:both;}
div.sc_ranking li b{padding-right:5px;color:#555;font-family:'Arial';}
div.sc_ranking .no1 b{color:#E12413;}
div.sc_ranking .no2 b{color:#E12413;}
div.sc_ranking .no3 b{color:#E12413;}

div.sc_onethird .bk{float:left; width:31.5%;margin-right:10px; }
div.sc_onesix .bk{float:left; width:15%;margin-right:10px;}

ul.gray li,ul li.gray {padding-left:11px;background:url(/com/img/base/ar_0.gif) no-repeat 0px 43%;}
ul.orange li,ul li.orange {padding-left:11px;background:url(/com/img/base/ar_1.gif) no-repeat 0px 43%;}
ul.yellow li,ul li.yellow {padding-left:11px;background:url(/com/img/base/ar_2.gif) no-repeat 0px 50%;}

/* ＊ msg  */
/* #FF7F00 オレンジ  */
.msg em {font-weight:bold;color:#E82000 !important;}
.msg_red {color:#E82000;}
p.msg_errorpage{font-size:20px;text-align:center;width:100%;padding-top:150px;font-weight:bold;}



div.bk_bnr1{padding:9px;overflow:hidden;background:#EBF5FA;margin-bottom:10px;font-size:0.91em;line-height:1.3;border:1px solid #81AFD4;}
div.bk_bnr1 .hr{border-color:#A5C7E1;height:6px;margin-bottom:6px;}
div.bk_bnr1 img{float:left;margin-right:8px;border:1px solid #81AFD4;}
div.bk_bnr1 a{}
div.bk_bnr1 b{line-height:1.7;}

a.bnr{display:block;margin-bottom:6px;}
a.bnr img{margin:0;border:0;}

/* ads */
div.ads_amatch_wG{padding:0 0 7px 20px;}
div.ads_amatch {margin-left:19px;}
div.ads_amatch table{margin-bottom:10px;}
div.ads_amatch_wR2{margin-left:0px;}

div.ads_amatch div.areamatch a{letter-spacing:-1px !important;line-height:1.25em;}
div.ads_amatch table table{padding:2px;line-height:1.1em;}
div.ads_amatch_wG span{padding-left:10px;color:#555;line-height:1.1em;}
div.ads_amatch_wG span.areamatch_link{display:block !important;padding:3px 0 0 3px;}

/* 20110829 */
div.sc_ads_rosen{padding:7px 3px 5px 0;}
.sc_ads_rosen table{border-collapse: collapse;}
.sc_ads_rosen table td{vertical-align:top;padding-left:5px;}
.sc_ads_rosen table a{text-decoration:none;font-size:0.9em;line-height:1.3em;}

/* 警告ブロック　2015/10/02
--------------------------------------------------------- */ 
.com_alert-blk{
	display:block;
	margin:0 0 8px 0;
	padding:8px 0 8px 38px;
	background:url(/com/img/base/alert_bg.gif) no-repeat 9px 50% #FFF1F1;
	border:1px solid #e33b3b;
	color:#c41500;
	line-height:1.3em;
}
.com_alert-blk a:link{color:#c41500;}
.com_alert-blk a:hover{color:#EE3300;}

/* 右カラム 駅情報枠
--------------------------------------------------------- */ 
.h_eki b{
	padding-left:24px;
	background:url(/com/img/base/icons3.gif) no-repeat 1px -57px;
}

div.sc_eki2,
div.sc_eki3{
	padding:0px 0px 5px 0px;
}

.sc_eki2 a{
	text-decoration:none;
}

.sc_eki2 a:hover{
	text-decoration:underline;
}

/* 駅情報リンク ----- */ 
.sc_eki2__clm1,
.sc_eki2__clm2,
.sc_eki2__clm3{
	float:left;
	font-size:1.1em;
	padding:10px 0 5px 0;
}

.sc_eki2__clm1{
	padding-left:13px;
	width:99px;
}

.sc_eki2__clm2{
	width:86px; /* リンク文字列が短いので狭くしています */
}

.sc_eki2__clm3{
	width:99px;
}

/* 記事共通 ----- */ 
.sc_eki2 .ct{ /* title */
	display:block;
	line-height:1.1em;
}

.sc_eki2 .cp{
	font-size:0.8em;
	line-height:1.1em;
	padding-top:1px;
	margin-bottom:10px;color:#333;
}

.sc_eki2 p.by {
	text-align:right;
	font-size:0.8em;
	margin-top:10px;
}

.sc_eki2 p.by a{
	color:#808080;
}


/* ジョルダンニュース ----- */ 
.sc_eki2 .jrdnews{
	padding:12px 10px 6px 13px;
	border-bottom:1px solid #bbb;
}

.sc_eki2 .jrdnews .ct{
	margin-bottom:8px;
	width: 275px;
	/* 長い文字列を切る */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}


/* 右カラム 沿線広告
--------------------------------------------------------- */ 
div.sc_ads_rosen{padding:7px 0px 7px 7px;}
.sc_ads_rosen table{border-collapse: collapse;}
.sc_ads_rosen table td{vertical-align:top;padding:0;}
.sc_ads_rosen table td img{margin-right:7px;}
.sc_ads_rosen table a{text-decoration:none;font-size:0.9em;line-height:1.3em;}


/* GoogleAds
--------------------------------------------------------- */ 
.ads_google200{margin-bottom:10px;}
div.ads_google_r{padding:0 0 10px 20px;}
div.ads_google_nrk{padding:0 0 10px 130px;}
div.ads_google_r2{padding:0 0 10px 0;}
div.ads_google_b{clear:both;}

#Ads_google_bottom_1{
	float:left;
	width:300px;
	margin-right:20px;
}
#Ads_google_bottom_2{
	float:left;
	width:300px;
}


/* ＊icons 
--------------------------------------------------------- */ 
a.faq,a.to_nori,a.to_time,a.to_eki,a.to_rosenzu,a.to_roseneki{background:url(/com/img/base/icons3.gif) no-repeat 0 0;}
a.faq{float:right;padding-left:14px;background-position:0 -718px;}
a.to_nori{float:right;padding-left:17px;background-position:0 -658px;}
a.to_time{float:right;padding-left:17px;background-position:0 -117px;}
a.to_eki,a.to_roseneki{float:right;padding-left:23px;background-position:0 -57px;}
a.to_rosenzu{float:right;padding-left:18px;background-position:0 -776px;}

/* common search v13 -------------------------------------------------- */
#search{border:4px solid #406DB3;border-top:none;}
#search .header{
	overflow:hidden;
	background:-webkit-gradient(linear,left top, left bottom, from(#4876BE), to(#406DB3));
	background:-moz-linear-gradient(#4876BE,#406DB3);
	background:-o-linear-gradient(#4876BE,#406DB3 );
	background:linear-gradient(#4876BE,#406DB3 );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4876BE', endColorstr='#406DB3');
}


#search .header .help{display:none;}
/* tab */
.search_norikae #search_tab,
.Nav_nori_On #search_tab{padding-left:58px;background:url(/com/img/search/search2_nori.png) no-repeat 3px 50%;}
.Nav_time_On #search_tab{padding-left:58px;background:url(/com/img/search/search2_time.png) no-repeat 3px 50%;}
.Nav_eki_On #search_tab{padding-left:58px;background:url(/com/img/search/search2_eki.png) no-repeat 3px 50%;}

#search_tab{float:left;padding-top:4px;}
#search_tab a,#search_tab div{
	float:left;
	margin-right:2px;line-height:1em;padding:8px 16px 7px 16px;
	background:#fff;text-align:center;text-decoration:none;
	cursor:pointer;text-decoration:none !important;
	border-radius:2px 2px 0 0/2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0/2px 2px 0 0;;
	-moz-border-radius:2px 2px 0 0/2px 2px 0 0;
	word-break:keep-all;white-space:nowrap;}
#search_tab a.on,#search_tab div{cursor:default;}
#search_tab a{
	background:-webkit-gradient(linear,left top,left bottom,from(#f3FaFF),color-stop(5%,#DDE9FC),color-stop(93%,#CBDCF9),to(#B3C9E7));
	background:-moz-linear-gradient(#f3FaFF 0%,#DDE9FC 5%,#CBDCF9 93%,#B3C9E7 100%);
	background:-o-linear-gradient(#f3FaFF 0%,#DDE9FC 5%,#CBDCF9 93%,#B3C9E7 100%);
	background:linear-gradient(#f3FaFF 0%,#DDE9FC 5%,#CBDCF9 93%,#B3C9E7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDE9FC',endColorstr='#CBDCF9');
	border-bottom:1px solid #91AEDC;
	color:#3068BE;}
#search_tab a:hover{filter:none;background:#E7F3FC;border-bottom-color:#A1BEEC;color:#2F67B3;}
#search_tab .on,
#search_tab a.on:hover{filter:none;background:#fff;border-bottom-color:#fff;color:#2A5393;}

#search_tab div{
	background:-webkit-gradient(linear,left top,left bottom,from(#eee),color-stop(5%,#ddd),color-stop(93%,#dadada),to(#ccc));
	background:-moz-linear-gradient(#eee 0%,#ddd 5%,#dadada 93%,#ccc 100%);
	background:-o-linear-gradient(#eee 0%,#ddd 5%,#dadada 93%,#ccc 100%);
	background:linear-gradient(#eee 0%,#ddd 5%,#dadada 93%,#ccc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD',endColorstr='#dadada');
	border-bottom:1px solid #bbb;
	color:#888;}
#search .body{
	clear:both;
	padding:7px 0 2px 0;
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(50%,#fff),to(#F4F4F4));
	background:-moz-linear-gradient(#fff,#fff 50%,#F4F4F4);
	background:-o-linear-gradient(top,#fff,#fff 50%,#F4F4F4);
	background:linear-gradient(#fff,#fff 50%,#F4F4F4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');}
#search .body:after{content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;}
#search .footer{display:none;}

/* sub option */
.search_subop{padding:2px 8px 1px 8px;overflow:hidden;line-height:1.2em;}
.search_subop a{text-decoration:none;}
a#rec_del{background:url(/com/img/base/baseset_inline_v2.png) no-repeat 0 -69px;margin-right:12px;padding-left:13px;}
a#rec_del:visited{color:#002CBD;}
#ck_sg input{margin-right:2px;}

#search div.body .none{font-size:0px;clear:both;height:5px;}/* shinkansen */

/* premium 2010-07-15 ＊------------------------------------------ */
.msg_sub{font-size:0.8em;color:#888;}
.msg_exp{color:#390;}
.msg_err{color:#E82000;}
div.sc_prm_u{background:#FFF6D0;padding-bottom:8px;}
.h_regi b{ background:url(/com/img/base/lg_msg.gif) no-repeat 1px 2px; padding-left:19px;}
/* ekiin+suggest */
div.ekiin:after{content: ".";display: block;visibility: hidden;height: 0.1px;font-size: 0.1em;line-height: 0;clear: both;} /*IE以外用 */
div.ekiin{width:316px; padding:0;position:relative;clear:both;}
div.ekiin input{float:left;margin:0;width:249px;height:19px;font-size:1em;padding:1px 0 1px 1px;border:1px solid #484848;/*line-height:1em;*/}
div.ekiin_err input{border:1px solid #E82000;background:#FFEDEE;}

@media not screen and (1){div.ekiin input{padding:4px 0 3px 1px;}}/* Opera */
div.ekiin .pop{position:absolute;z-index:404;left:0;top:22px;}
div.ekiin .sg_list{position:absolute;border:1px solid #000;}

/* form table  */
#search_msg{padding:0 0 0 12px;}
#search .fm1{float:left;display:inline;margin:5px 0 10px 10px;}
#search div.hr{padding:0px;font-size:0px;line-height:0px;border-top:1px solid #DDD;border-bottom:1px solid #fff;}
#search .sbmt{clear:both;text-align:center;padding-bottom:9px;font-size:0.01px;}
#search .sbmt input{margin-right:7px;}

/* ジパング検索 formロック */
fieldset#search .fm_body_lock{
	background:url(/norikae/img/nori_search_lock_zipang.png) no-repeat #ccc;
	height:358px;
	padding:0;
	overflow:hidden;
}

#search .fm_body_lock .msg_block{
	margin:43px auto 0 auto;
	width:530px;
	background:#fff;
	box-shadow: 2px 2px 3px #888;
	-moz-box-shadow: 2px 2px 3px #888;
	-webkit-box-shadow: 2px 2px 3px #888;
	-o-box-shadow: 2px 2px 3px #888;
	-ms-box-shadow: 2px 2px 3px #888;
}

#search .fm_body_lock .msg_block_header{
	overflow:hidden;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#464646',endColorstr='#3C3C3C'); /* ie */
	background:-webkit-gradient(linear,left top,left bottom,from(#464646),to(#3C3C3C)); /* chrome */
	background:-moz-linear-gradient(top,#464646,#3C3C3C); /* ff */
	background:-o-linear-gradient(top,#464646,#3C3C3C );
	background:linear-gradient(#464646,#3C3C3C);
}

#search .fm_body_lock .msg_block_header em{
	float:left;
	width:230px;
	height:34px;
	background:url(/com/img/base/indexset_block_v2.png) no-repeat -136px 0;
}

#search .fm_body_lock .msg_block_body{
	border:5px solid #3C3C3C;
	border-top:none;
	padding:10px 20px 10px 20px;
}

/*
#index_center #search .fm_body_lock{
	background:url(/norikae/img/home_search_lock_zipang.png) no-repeat #ccc;
	height:222px;
}

#index_center #search .fm_body_lock .msg_block{
	margin:35px auto;
	width:65%;
}*/

.fmT1 #chFromTo,.fmT1 #chFromToA,.fmT1 .recBtn,.fmT1 .recBtn_off,.intool,.intool a,.intool span{ /* ,.bk_result .header a.go,.bk_result td.pp a */
	text-indent:-9999px;font-size: 0.01em;overflow:hidden;
	background:url(/com/img/search/spr_prm_1_4.png?20130523) no-repeat 0 0;} /* block用 */
a.viabtn,.datasub a,a.again,.bk_result a.kuuseki,.bk_result a.routemap{ /* ,.bk_result a.teiki */
	background:url(/com/img/search/spr_prm_2.gif) no-repeat 0 0;} /* inline用 */

#search a.help{float:right;width:54px;height:16px;margin-top:6px;background-position:-350px -55px;}
a.again{float:right;padding-left:16px;font-weight:bold;background-position:0 -240px;}
a.again:visited{color:#002CBD;}

.fmT1{border-collapse:separate;border-spacing:0 4px;}
.fmT1 th{color:#2391E8;padding:0 5px 0 2px;border-right:3px solid #61ADE9;text-align:right;word-break:keep-all;white-space:nowrap; }
.fmT1 .recBtn,.fmT1 .recBtn_off{width:63px;height:23px;float:left;margin-left:0px;background-position:-20px 0px;border:0;cursor: pointer;}
.fmT1 .recBtn_off{opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.fmT1 #chFromTo,
.fmT1 #chFromToA{width:18px;height:50px;margin-left:5px;background-position:0 0;display:block;cursor:pointer;}
.fmT1 td.d1{padding:0 0 0 5px;}
.fmT1 tr.w_date2 td label{margin-right:7px;}
.fmT1 #IdJkIc label,
.fmT1 #IdJkZipangUntin label{margin-right:7px;}
.fmT1 #id_ctks{
	float:left;
	border-left:1px solid #ccc;
	margin-left:12px;
	padding-left:20px;
}
.fmT1 #id_ctks a.to_lp {
	background: url(/com/img/base/i_premium_s.png) no-repeat;
	padding-left: 16px;
	color: #002CBD;
}
.fmT1 #id_ctks input{margin-right:2px;}
body.premium .fmT1 tr.w_keiyu div.ekiin{margin-bottom:4px;}
body.premium .fmT1 .ViaOp{ padding-top:3px;}
.fmT1 a{text-decoration:none;}
.fmT1 a.viabtn{float:left;padding-left:15px;}
.fmT1 .ViaOp a.on{background-position:0px 4px;}
.fmT1 .ViaOp a.off{background-position:0px -36px;}
.fmT1 .ViaOp a:visited{color:#002cbd;}
.fmT1 #ViaCkb{float:right;}

.fmT1 tr.w_joken td.d1{background:#E7F1F9;padding-top:6px;padding-bottom:6px;padding-left:8px;}
.fmT1 tr.w_joken span.b1{float:left;}
.fmT1 tr.w_joken span.b2{float:left;}
.fmT1 tr.w_joken span div{float:left;clear:both;padding:1px 40px 2px 0;}
.fmT1 tr.w_jk1 label{float:left;width:4.5em;padding-top:2px;line-height:1.1em;}
.fmT1 tr.w_jk1 select{float:left;}
.fmT1  p.dc{font-weight:bold;font-size:1.1em;line-height:1.8em;}
.fmT1 tr.w_jk2 span{padding-right:20px;}

.fmT1 td.w_intool{vertical-align:top;width:285px;}
.intool{
	float:left;overflow:hidden;padding:8px 4px 8px 26px;
	text-indent:0 !important; /* これを付けないと横並びにならない */
	background-position:5px -55px;
}

.intool a,.intool span{
	float:left;width:59px;height:47px;margin-right:4px;
	cursor: pointer;
	box-shadow:0px 1px 0px #A3AD4B;
	-moz-box-shadow:0px 1px 0px #A3AD4B;
	-webkit-box-shadow:0px 1px 0px #A3AD4B;
	-o-box-shadow:0px 1px 0px #A3AD4B;
	-ms-box-shadow:0px 1px 0px #A3AD4B;

	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

.intool a:hover,.intool span:hover{
	box-shadow:0px 1px 4px #768044;
	-moz-box-shadow:0px 1px 4px #768044;
	-webkit-box-shadow:0px 1px 4px #768044;
	-o-box-shadow:0px 1px 4px #768044;
	-ms-box-shadow:0px 1px 4px #768044;
}
.intool .off,.intool .off:hover{
	cursor:default;
	opacity:0.50;-moz-opacity:0.50;filter: alpha(opacity=50);
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none
	-o-box-shadow:none;
	-ms-box-shadow:none;
}

.intool .rosen{background-position:0 -130px;}
.intool .mypoint{background-position:-126px -130px;}
.intool .myroot{background-position:-189px -130px;}
.intool .toolline{background-position:-63px -130px;}

.kouho .fmT1 th{width:440px;border:none;text-align:center;}
.kouho .fmT1 td {vertical-align:top;}
.kouho .fmT1 td.k_sp{width:17px;}
.kouho .fmT1 td select{width:100%;margin-top:1px;}
.kouho .fmT1 .k1 td{padding-bottom:15px;}
.kouho .fmT1 .k2 td{padding-bottom:5px;}
.kouho .sbmt{padding-bottom:10px;}
.kouho p.dc{padding-top:20px;text-align:center;}

/* norikae form  2013/05/24 */
#JK1 .exp_msg{float:left;clear:both;line-height:1.1em;padding:2px 0 4px 0;color:#280;font-size:0.75em;word-break:keep-all;white-space:nowrap;}
#JKofk .zipang_msg{float:left;clear:both;line-height:1.1em;padding:2px 0 4px 0;color:#280;font-size:0.75em;word-break:keep-all;white-space:nowrap;}
#IdJkZipangUntin .zipang_msg{line-height:1.1em;padding:2px 0 4px 0;color:#280;font-size:0.75em;word-break:keep-all;white-space:nowrap;}
.fmT1 tr.w_jk1 #JKt1 label{width:5.6em;}

/* 通常検索formの条件表示（固定） */
.fmmd_Normal #JKofk .zipang_msg,
.fmmd_Normal #IdJkZipangUntin,
.fmmd_Normal #JKt1{display:none;}

/* 18きっぷformの条件表示（固定） */
.fmmd_K18 #IdJkLine,
.fmmd_K18 #JK2,
.fmmd_K18 #JK3,
.fmmd_K18 #JK1,
.fmmd_K18 #JK4,
.fmmd_K18 #JK5,
.fmmd_K18 #JKofk,
.fmmd_K18 #JKofk .zipang_msg,
.fmmd_K18 #JKt1,
.fmmd_K18 #IdJkK,
.fmmd_K18 #id_ctks,	/* 定期精算 */
.fmmd_K18 #IdJkZipangUntin,
.fmmd_K18 #IdTk2Sbmt{display:none;}

/* ジパング検索formの条件表示（固定） */
.fmmd_Zipang #IdJkLine,
.fmmd_Zipang #JK2,
.fmmd_Zipang #JK3,
/*.fmmd_Zipang #JK1,*/
/*.fmmd_Zipang #JK4,*/
.fmmd_Zipang #JK5,
/*.fmmd_Zipang #JKofk,*/
.fmmd_Zipang #JKt1,
.fmmd_Zipang #IdJkK,
.fmmd_Zipang #IdJkIc,	/* IC/切符 */
.fmmd_Zipang #id_ctks,	/* 定期精算 */
.fmmd_Zipang #JK1 .exp_msg,
.fmmd_Zipang #IdTk2Sbmt{display:none;}

/* 定期代formの条件表示（固定） */
.fmmd_Teiki #ViaCkb,
.fmmd_Teiki #IdJkLine,
.fmmd_Teiki #slc_times,
.fmmd_Teiki #IdJkDate2,
.fmmd_Teiki #JK2,
.fmmd_Teiki #JK3,
.fmmd_Teiki #JK1,
.fmmd_Teiki #JK4,
.fmmd_Teiki #JK5,
.fmmd_Teiki #JK6,
.fmmd_Teiki #JKofk,
.fmmd_Teiki #JKofk .zipang_msg,
.fmmd_Teiki #IdK3,
.fmmd_Teiki #IdK4,
.fmmd_Teiki #IdJkIc,
.fmmd_Teiki #IdJkZipangUntin,
.fmmd_Teiki #IdTk2Sbmt{display:none;}

/* 便指定による条件表示切替 */
/* def:tr非表示 */
#IdJkLine{display:none;}
/* fmjk_LineName_offとfmjk_LineName_onでtr表示 */
.fmjk_LineName_off #IdJkLine,
.fmjk_LineName_on #IdJkLine{display:block;} /* for IE6 */
.fmjk_LineName_off #IdJkLine,
.fmjk_LineName_on #IdJkLine{display:table-row;}
.fmjk_LineName_off #IdJkLine td *{color:#bbb;} /* off カラー */
/* on時の条件表示 */
.fmjk_LineName_on #IdJkKeiyu,
.fmjk_LineName_on #IdJkDate1,
.fmjk_LineName_on #IdJkDate2,
.fmjk_LineName_on #JK2,
.fmjk_LineName_on #JK3,
.fmjk_LineName_on #JK1,
.fmjk_LineName_on #JK4,
.fmjk_LineName_on #JK5,
.fmjk_LineName_on #JK6,
.fmjk_LineName_on #JKofk .zipang_msg,
.fmjk_LineName_on #JKt1,
.fmjk_LineName_on #IdJkK,
.fmjk_LineName_on #IdJkZipangUntin,
.fmjk_LineName_on #IdTk2Sbmt{display:none;}


/* result */
div.heading{clear:both;overflow:hidden;margin-bottom:15px;}
div.heading h2{float:left;font-size:1.3em;line-height:25px;}

div.heading2{
	clear:both;overflow:hidden;margin-bottom:19px;padding:4px 0 4px 8px;
	border-left:6px solid #3F73C3;
}
div.heading2 strong{display:block;clear:both;line-height:1.05em;color:#3F73C3;padding-bottom:4px;}
div.heading2 h2{float:left;font-size:1.4em;line-height:1.1em;letter-spacing:1px;color:#222;}
div.heading2 a.to_eki,div.heading2 a.to_rosenzu,div.heading2 a.to_roseneki{margin-left:20px;}

/* タブ */
.ttab_w{border-bottom:4px solid #1F8AC5;overflow:hidden;margin-top:5px;}
.ttab_w a,.ttab_w b{float:left;background:url(/time/img/ttab_w.png) no-repeat;cursor: pointer;}
.ttab_w a{text-decoration:none;font-size:13px;margin-right:3px;color:#0C73AD;letter-spacing:1px;}
.ttab_w b{padding:5px 20px 1px 20px;background-position: right -30px;}
.ttab_w a.on{background-position: 0 -60px;}
.ttab_w a.on b{background-position: right -90px;color:#fff;}
.ttab_w span.msg{float:right;margin-top:4px;}

/* 路線一覧ブロック */
.bk_rosen_list{ padding-left:15px; }
.bk_rosen_list p.msg{padding-left:0px;margin-bottom:10px;font-size:1.1em;}
.bk_rosen_list ul{float:left;width:31%;margin-right:1%;line-height:1.7em;font-size:1.1em;}


/* ＊未 ------------------------------------------------------------ */ 

/* fm_sub */
.fm_sub{overflow:hidden;padding:3px 10px 3px 15px;margin-bottom:7px;background:#FFEDA8;line-height:1.7em;}
.fm_sub fieldset{float:left;border:0px;}
.fm_sub input,.fm_sub select{vertical-align:middle;}
.fm_sub .msg{float:right;}

/* unk */
table.nrb_unk{ width:100%;border-collapse: collapse;line-height:1.2em;margin:0 0 1px 0;}
table.nrb_unk th{width:98px;background:#e33b3b;color:#fff;font-weight:normal;padding:2px 0;text-align:center;}
table.nrb_unk td{background:#FADFDB;color:#DC1C00;padding:2px 10px;}
table.nrb_unk td a{color:#DC1C00;font-weight:bold;}
table.nrb_unk_live th{font-size:0.8em;background:#FF6600;}
table.nrb_unk_live td{background:#FCCCAC;color:#E63B00;}
table.nrb_unk_live td a{color:#E63B00;}

/* zipang tips */
table.nrb_zipang_tips{ width:100%;border-collapse: collapse;margin:0 0 1px 0;font-size:1.1em;}
table.nrb_zipang_tips th{width:120px;color:#fff;font-weight:normal;padding:6px 0 4px 18px;text-align:center;
	background:url(/com/img/base/i_megaphone.gif) no-repeat 10px 8px #50A200;
}
table.nrb_zipang_tips td{background:#50A200;padding:6px 0 4px 10px;}
table.nrb_zipang_tips td a{font-weight:bold;color:#FFF;margin-right:15px;letter-spacing:1px;}


#RecBox{position:absolute;z-index:1000;top:0px;left:0px;width:252px;}
#RecBox select{background:#ffffea;border:1px solid #000;width:252px;}
#RecBox optgroup{color:#397D4A;font-style:normal;}
#RecBox option{color:#000;}

/* Tool,Add,Pop */
#Tool{position:absolute;z-index:600;top:0;left:0;width:100%;min-width:1000px;height:1px;} /*＊*/
#ToolBg{position:absolute;z-index:600;width:100%;background:#666 0 0;opacity:0.5;filter:alpha(opacity=50);}
#Tool .min{width:1000px;height:0px;font-size:0.001em;clear:both;} /* for IE */
#Tool .win{position:absolute;top:0:left:0;background:#fff;border:1px solid;z-index:602;}
#Tool .win .header{overflow:hidden;padding:4px 6px 12px 17px;background:url(/com/img/search/bg_toolh.png) repeat-x bottom;}
#Tool .win h3{font-size:1.1em;float:left;padding-top:4px;color:#0875BD;}
#Tool .win .header input{float:right;}
#Tool .win .body{padding:7px 17px 17px 17px;}
#Tool .win .footer{padding:5px 0 15px 0;}
#Tool .win .footer .toedit{float:right;}
#Tool .win .pg em{color:#aaa;}

/* ,#TRecSet */
#TMrootSet{ background:#D0E9FB;}
#TMpoint .del input{margin:7px 0;width:8.4em;}
#Tool select.bg {background:#fff;color:#000;}

#Tool .del div{background:#D6D7D6;text-align:center;}
#Tool table .settd{vertical-align:top;padding-left:13px;}
#Tool table .settd .del {padding-top:5px;}
#Tool table .settd .del div{width:9.6em;border-bottom:1px solid #fff;}
#Tool table.setbl{margin:10px 0 0 0;border-collapse: collapse;}
#Tool table.setbl td{text-align:center;}
#Tool table.setbl td div{padding:5px 3px;border:0;}
#Tool table.setbl td.td1{padding-right:5px;}
#Tool .offS{background:#ddd;border-color:#ccc;}

#TRec,#TMroot{width:670px;}
#TMrootM select{width:625px;margin-top:10px;}
#TMrootM{padding-top:5px;}
#TMrootM table td.td2{padding-right:1px;}
#TMroot .del input{width:7em;}
#TMrootSet input{width:7em;}
#TMroot table.setbl{table-layout:fixed;width:97%;}
#TMroot table.setbl .td1{width:10em;}
#TMroot table.setbl .td2{text-align: right; }

/* POP 2011/12/16 */
#pBx_bg{
	background-color:#000;  
	position: fixed; top: 0pt; left: 0pt; width:100%; height: 100%;
	opacity: 0.3;filter:alpha(opacity=30);
}
#pBx_bg{ /position:absolute; }
#pBx_bg{ position:absolute\9; }
.pBxXy{ /* type XY */
	background-color:#fff; border:1px solid #666;
	position:absolute; overflow:auto; z-index:9999;
	-moz-box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
	-o-box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
	-ms-box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
}
.pBxIn{ /* type innerDIV (未使用) */
	background-color:#fff; border:1px solid #666;
	position:absolute; overflow:auto; z-index:9999;
}
.pBx_bg_nocolor{opacity: 0 !important;filter:alpha(opacity=0) !important;}
.pBx_bg2{background-color:#00f !important;}

.pwin .header{overflow:hidden;padding:4px 6px 12px 17px;background:url(/com/img/search/bg_toolh.png) repeat-x bottom;}
.pwin h3{font-size:1.1em;float:left;padding-top:4px;color:#0875BD;}
.pwin .header input{float:right;}
.pwin .body{padding:7px 17px 17px 17px;}
.pwin .footer{padding:5px 0 15px 0;}
.pwin .footer .toedit{float:right;}
.pwin .pg em{color:#aaa;}


/* POP MyPoint ＊＊ 2012/07/10追加 */
.pwin_myP{width:580px;}
.pwin_myP select{width:400px;}
.pwin_myP optgroup{font-style:normal;color:#459800;}
.pwin_myP option{color:#000;}
.pwin_myP .toedit{text-align: right; }
.pwin_myP .offS div{background:#ddd;border-color:#ccc;}
.pwin_myP table .settd{vertical-align:top;padding-left:13px;}
.pwin_myP table .settd .del {padding-top:5px;}
.pwin_myP table .settd .del div{width:9.6em;border-bottom:1px solid #fff;}
.pwin_myP_via{border-top:1px solid #fff;margin-top:5px;padding-top:10px;}
.pwin_myP_set{text-align:center;padding:10px 0px 5px 0;width:9.6em;background:#D0E9FB;}
.pwin_myP_set input{margin-bottom:5px;width:8.4em;}

/* ---- for PREMIUM  ----  */
/* calender */
a#CalB {margin-left:5px;}
a#CalB img{vertical-align:top;}
div#CalXY{ width:0;height:0;padding:0;margin-left:0em;position:relative;float:left;}
div#Cal{position:absolute;z-index:4;top:0;left:0;border:1px solid;width:203px;height:222px;}
/*div#Cal{background:url(/com/img/test/test_cal.png) no-repeat;}*/

/* Add */
#bk_AMp{width:470px;}
#bk_AMr{width:600px;}
#bk_ATk{width:500px;}
#bk_ATkM{ height:2.2em; text-align:center;}
#bk_ATkM input{height:2em; }
.Ad_tb1,.Ad_tb2{
  border-collapse: collapse;
  margin: 0;padding: 0;
  width:100%;
}
.Ad_tb1 td,.Ad_tb2 td{border-bottom:1px solid #e0e0e0;padding:2px 0;}
.Ad_tb1 td{height:2.2em;}
.Ad_tb1 .da{width:5em;background:#fff;padding-left:6px;}
.Ad_tb1 .da input{width:4em;}
.Ad_tb1 .d1,.Ad_tb2 .d1{width:21px;padding-left:5px;}
.Ad_scl{overflow:auto;height:200px;}
.Ad_noscl,.Ad_scl{border:1px solid #7F9DB9;}
.Ad_tb1 span{color:#999;}
.Ad_noscl{margin-bottom:15px;}
#bk_AMpM,#bk_AMrM,#bk_ATkM{padding-top:10px;}
.Ad_hh{clear:both;overflow:hidden;margin-bottom:3px;}
.Ad_hh h4{float:left;}
.Ad_hh a{float:right;margin-left:8px;}
.Ad_sbm{background:;text-align:right;margin:5px 0 0px 0;}
#bk_AMrM td{line-height:1.1em;padding-top:5px;padding-bottom:5px;}
#bk_AMrM .Ad_tb1 td{border:none;}
#bk_AMp .footer,#bk_AMr .footer{border-top:1px solid #bbb;padding:10px 15px;text-align: right; }
#bk_AMp .footer input,#bk_AMr .footer input{width:6em;}

/* sphone 2012/11/06 */
.btn_jrdview{clear:both;overflow:hidden;}
.btn_jrdview a{display:block;width:100%;color:#fff;text-decoration:none;
	text-align:center;font-size:40px;line-height:1em;padding:30px 0;
	background:-webkit-gradient(linear,left top,left bottom,from(#b3db61),to(#98c43b));
	background:-moz-linear-gradient(top,#b3db61,#98c43b);
	background:-o-linear-gradient(top,#b3db61,#98c43b );
	background:linear-gradient(#b3db61,#98c43b);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3db61',endColorstr='#98c43b');
	text-shadow: 0 2px 3px #3f580b;
}


/* 右カラム エリアから駅を探す */
.sc_search_area ul{
	padding:5px 0 6px 5px;
	clear:both;
	overflow:hidden !important;
}
.sc_search_area li{
	float:left;
	margin-right:20px;
	word-break:keep-all;
}

#right .sc_search_area .city_area{
	padding-top:0;
	border-bottom:1px solid #ddd;
}
#left .sc_search_area li{
	font-size:1.1em;
}


/* 右カラム 美味案内・雑誌ネット枠 2014/04/18
--------------------------------------------------------- */ 
.h_zassi b{padding-left:24px;background:url(/com/img/base/baseset_inline_v2.png) no-repeat 2px -418px;}
div.sc_zassi{padding-left:9px;}
.sc_zassi table{border-collapse:collapse;width:100%;}
.sc_zassi table.tbl2{margin-bottom:5px;}
.sc_zassi td.thmb{width:70px;padding-right:6px;}
.sc_zassi td{vertical-align:top;}
.sc_zassi .title{font-weight:bold;}
.sc_zassi .title em{font-size:0.8em;line-height:1.1em;}
.sc_zassi p.subt{font-size:0.8em;line-height:1.2em; font-weight:bold;padding-top:6px;}
.sc_zassi p.dtl{font-size:0.8em;line-height:1.2em;}
.sc_zassi .link{float:right;clear:both;font-size:0.8em;margin-top:6px;}
.sc_zassi .powered{float:right;clear:both;font-size:0.8em;color:#808080;}
.sc_zassi .book{clear:both;line-height:1.2em;font-size:0.85em;border-bottom:1px dotted #ccc;padding:3px 0 3px 0;overflow:hidden;}
.sc_zassi .book img{float:left;}
.sc_zassi .book p{float:left;padding:4px 0 0 4px;width:245px;overflow:hidden;height:28px;white-space:nowrap;}
.sc_zassi .book a{font-weight:bold;}
.sc_zassi .gpsub{border-bottom:1px dotted #ccc;padding:6px 0 1px 0 !important;}
.sc_zassi .gpsub p{line-height:1.1em;}
.sc_zassi .gpsub .title{font-weight:normal;}
.sc_zassi .noborder{border:none !important;}
/* 右カラム 美味案内枠　2015/05/15
--------------------------------------------------------- */ 
.h_gpia b{padding-left:24px;background:url(/com/img/base/baseset_inline_v2.png) no-repeat 3px -388px;}

/* 右カラム クーポン枠　2015/05/15
--------------------------------------------------------- */ 
.sc_icon_new,
.sc_icon_star,
.sc_icon_hot{
	background:url(/com/img/base/baseset_block_v3.png?20150604) no-repeat 0 40px;
	display:inline-block;
	width:18px;
	height:15px;
	vertical-align:text-top;
}
.sc_icon_star{ background-position:-40px -60px;}
.sc_icon_new{  background-position:-40px -77px;}
.sc_icon_hot{  background-position:-40px -97px;}

.sc_coupon_h b{
	background:none;
	padding-left:30px;
}
.sc_coupon_h_icon{
	background:url(/com/img/base/baseset_block_v3.png?20150604) no-repeat 0 40px;
	background-position: 0 -40px;
	display:block;
	height:36px;
	position:absolute;
	width:36px;
	z-index:1;
}
.sc_coupon_topart_title{
	font-size:1.1em;
	font-weight:bold;
}
.sc_coupon_topart_dsc{
	line-height:1.3em;
	padding-top:4px;
}
.sc_coupon_subart li{
	padding-bottom:3px;
}

.sc_coupon .powered{
	margin:2px 0 4px 0;
}

/* ジョルダンニュース
--------------------------------------------------------- */ 
#jrd_news .h_sc b{
	background-position:3px -359px;
	padding-left:23px;
}

#jrd_news_feed .hide{
	display:none;
}
#jrd_news_feed{
	padding:0;
}
#jrd_news_feed a{
	text-decoration:none;
}
#jrd_news_feed a:hover{
	text-decoration:underline;
}

#jrd_news_feed a:hover{
	text-decoration:underline;
}

#jrd_news_feed a:visited{
	color:#002CBD;
}

#jrd_news_feed .rssBody {
	padding:0px 0 8px 0;
}
#jrd_news_feed .rssBody ul{
	list-style:none;
	list-style-position:inside;
}
#jrd_news_feed .rssBody ul,
#jrd_news_feed .rssRow,
#jrd_news_feed .rssRow p{
	margin:0;
	padding:0;
}
#jrd_news_feed .rssRow {
	padding:4px 0 0 0;
}
#jrd_news_feed .rssRow h4{
	margin:0;
	padding:0;
	font-weight:normal;
	display:inline;
}
#jrd_news_feed .rssRow div{
	display:inline;
	font-size: 10px;
	color:#aaa;
}
#jrd_news_feed div.rssMedia{
	display:none;
}
#jrd_news_feed ul#jrd_news_tab{
	font-size:0px;
	padding-bottom:10px;
	word-break:keep-all;white-space:nowrap; 
	overflow:hidden;
}
#jrd_news_feed ul.news-item{
	margin-left:10px;
}
#jrd_news_tab li{
	background-color:#f0f0f0;
	cursor:pointer;
	text-align:center;
	font-size:12px;
	margin:0;
	padding:6px 0 6px;
	display:inline-block;
	width:58px;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
#jrd_news_feed #jrd_news_tab li:first-child{
	width:62px;
	border-left:none;
}
#jrd_news_tab li.selected{
	background-color:#fff;
	border-bottom:none;
}
#jrd_news_feed .rssFooter{
	margin:0 5px 6px;
	text-align:right;
}
#jrd_news_feed .rssFooter a.powered{
	font-size:0.81em;
	color:#808080;
}

#jrd_news_feed li.more{
	text-align:right;
	margin:4px 10px 0 0;
}


/* タブ スタイル（共通スタイル）2014/05/30 
--------------------------------------------------------- */ 
.tab_style_10{
	position:relative;
	border-bottom:1px solid #6993D5;
	background:#6F99DC;
}

.tab_style_10:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

.tab_style_10 .tab{
	float:left;
	padding:4px 10px 3px 10px;
	background:#5383D0;
	color:#fff;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}

.tab_style_10 .tab:hover{
	background:#86B7F3;
}

.tab_style_10 .on{
	position:relative;
	bottom:-1px;
	color:#3B6DBD !important;
	background:#fff !important;
	cursor:default;

}


/* ページ番号切替えボタン（共通スタイル）2014/05/30  */ /* ＊WIKI */
.page_button_10{
	float:right;
}

.page_button_10 select,
.page_button_10 span,
.page_button_10 a{
	
	/* ボタンとSELECTの高さをそろえます */
	vertical-align:top;
	display:inline-block;

	height:22px;
	line-height:22px;

	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;

	/* ボタン同士の余白 */
	margin-left:5px;
}

/* 次へ、前へボタン */
.page_button_10 span,
.page_button_10 a{
	width:22px;
	text-align:center;
	
	font-size:12px;
	font-weight:bold;
	font-family:'sans-serif';

	cursor:pointer;

	/* 色 */
	color:#444;
	border:1px solid #aaa;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#F2F2F2');
	background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#F2F2F2));
	background:-moz-linear-gradient(top,#ffffff,#F2F2F2);
	background:-o-linear-gradient(top,#ffffff,#F2F2F2 );
	background:linear-gradient(#ffffff,#F2F2F2);
	
	/* ボタン内テキストを選択させない */
	user-select:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

/* ボタンオーバー時 */
.page_button_10 span:hover,
.page_button_10 a:hover{
	background:#fff;
	border:1px solid #444;
	color:#222;
}

/* クリック時 */
.page_button_10 span:active,
.page_button_10 a:active{
	border-color:#2E95F7;
	color:#2E95F7;
}


/* 無効なボタン */
.page_button_10 span.off,
.page_button_10 a.off{

	/* visibility:hidden; で非表示もありかも */
	visibility:hidden;

	/* 色 */
	color:#bbb;
	background:#ddd;
	filter:none;
	border-color:#ccc;
	cursor:default;
}

/* ボタン（共通スタイル）2014/05/30 *//* ＊WIKI：ページボタンの前後ボタンと色設定記述部分共有  */
.button_style_10 span{
	float:right;

	user-select:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	cursor:pointer;	

	line-height:21px;
	padding:0 9px;

	text-decoration:none;
	white-space:nowrap;

	/*color:#002CBD;*/
	color:#333;
	border:1px solid #aaa;

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#F2F2F2');
	background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#F2F2F2));
	background:-moz-linear-gradient(top,#ffffff,#F2F2F2);
	background:-o-linear-gradient(top,#ffffff,#F2F2F2 );
	background:linear-gradient(#ffffff,#F2F2F2);

	border-radius: 2px;        
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

}

/* マウスオーバー */
.button_style_10 span:hover{
	color:#111;
	border-color:#555;
	background:#fff;
}

/* クリック */
.button_style_10 span:active{
	/*color:#1B68D7;*/
	color:#2E95F7;
	border-color:#2E95F7;
}

/* 無効時 */
.button_style_10 span.off{
	color:#ccc !important;
	cursor:default !important;
	filter:none;
	background:#eee;
	border-color:#ddd;
}


/* .pwin10 ポップアップ（共通スタイル）2014/05/30 ＊（共通）　2014/05/13 */
.pwin10 .header{
	padding:18px 20px 15px 20px;
	overflow:hidden;
}

.pwin10 .header h3{
	font-size:1.2em;
	font-weight:normal;
	float:left;
}

.pwin10 .header .close{
	float:right;
	cursor:pointer;
	font-size:26px;
	margin-right:-5px;

	color:#9C9D9E;
}
.pwin10 .header .close:hover{
	color:#333;
}

.pwin10 .body{
	padding:0 20px;
}
.pwin10 .footer{
	padding-bottom:20px;
}


/* 見出しスタイル（共通スタイル）2014/05/30　＊Wiki */
.h_style_10{
	border-top:2px solid #5787D4;
}

.h_style_10 h4{
	float:left;
	color:#3B6DBD;
	line-height:30px;
	padding-left:5px;
}


/* ジョルダンニュース枠 2016/03/17 */
.sc_news2 a{text-decoration:none;}
#jrd_news2_c .h_sc b{background-position: 3px -359px;padding-left: 23px;}
#jrd_news2_r .h_sc b{background-position: 3px -359px;padding-left: 23px;}
#news2_c_topart{float:left;width:120px;margin-right:10px;}
#news2_c_topart #title{padding-top:4px;width:120px;word-wrap:break-word;}
#news2_c_topart #title a{font-weight:bold;}
#news2_c_topart #title a:visited{color:#002CBD;}
#news2_c_topart #title a:hover{color:#d30;text-decoration:underline;}
#news2_c-t .rssRow{padding-top:4px;}
#news2_c-t .rssRow a{display:block;width:340px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#news2_c-t .rssRow a:visited{color:#002CBD;}
#news2_c-t .rssRow a:hover{color:#d30;text-decoration:underline;}
#news2_c-t .more{text-align:right;margin:4px 2px 0 0;background-position:0 -188px;}
#news2_c-t .more a:visited{color:#002CBD;}
#news2_c-t .more a:hover{color:#d30;}
#news2_r_topart img{width:120px;float:left;padding-right:6px;}
#news2_r_topart #title{width:140px;float:left;word-wrap:break-word;}
#news2_r_topart #title a{font-weight:bold;}
#news2_r_topart #title a:visited{color:#002CBD;}
#news2_r_topart #title a:hover{color:#d30;text-decoration:underline;}
#news2_r-t{padding-top:5px;float:left;}
#news2_r-t .rssRow{padding-top:4px;}
#news2_r-t .rssRow a{display:block;width:270px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#news2_r-t a:visited{color:#002CBD;}
#news2_r-t a:hover{color:#d30;text-decoration:underline;}
#news2_r-t .more{text-align:right;margin:4px 2px 0 0;background-position:0 -188px;}
.news2_c_rssBody{float:left;}

/* 右駅枠エリアマッチ 2016/05/13 */
.right_ads_goo{
	clear:both;
	padding-top:5px;
}
.right_ads_goo_title{
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;
	padding:5px;
	margin-bottom:10px;
	font-weight:bold;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(30%,#fff),to(#F2F3F3));
    background: -moz-linear-gradient(#fff 30%,#F2F3F3);
    background: -o-linear-gradient(#fff 30%,#F2F3F3);
    background: linear-gradient(#fff 30%,#F2F3F3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F2F3F3');
}
.right_ads_goo_art{
	overflow:hidden;
	padding:0 5px 15px 5px;
}
.right_ads_goo_art a{
	text-decoration:none !important;
}
.right_ads_goo_art .pict{
	float:left;
}
.right_ads_goo_art .title,
.right_ads_goo_art .cpt,
.right_ads_goo_art .url{
	margin:0 0 0 66px;
}
.right_ads_goo_art .cpt{
	font-size:0.9em;
	color:#666;
}
.right_ads_goo_art .url{
	color:#119108;
}
.right_ads_goo_by{
	text-align:right;
	padding-right:5px;
}
.right_ads_goo_by a{
	font-size:0.8em;
	color:#808080;
}

/* 旧エリアマッチ */ 
.ads_goo_e table{width:100%;border-collapse: collapse;}
.sc_eki2 .ads_goo_e table{border-bottom:1px solid #bbb;}
.ads_goo_e td{padding:12px 10px 6px 13px;text-align:left;}
.ads_goo_e .i{text-align:center;}
.ads_goo_e .i img{margin-bottom:6px;}
.ads_goo_e td.ag_2{padding-bottom:0px;}
.ads_goo_e td.ag_2 .cp{border-bottom:1px solid #ccc;padding-bottom:12px;margin-bottom:0;}
.ads_goo_e td.ag_3{padding-bottom:0px;}

/* 右カラム 駅情報レンタカーたびらいリンク 2016/10/20 */
.sc_eki2__tabirai{clear:both; font-size: 1.1em;padding: 0 0 5px 0;padding-left: 13px;width:140px;}
.sc_eki2__tabirai img{display:inline;vertical-align:bottom;}
