@charset "UTF-8";
/*base
------------------*/
body {
  background: #fff;
  color: #630;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HiraKakuPro-W3", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 62.5%;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, figure, footer, header, nav, section {
  display: block;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  height: auto;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, form, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.0em;
}

a {
  color: #630;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  color: #46978f;
}

button {
  background: none transparent;
  border: 0;
  border-radius: 0;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  font-size: 1.3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="number"] {
  text-align: right;
}

input[disabled] {
  background: none transparent;
  border: 0;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
  opacity: 1;
}

:-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

/*background
------------------*/
.bg_pale {
  background: #fff;
}

.bg_err {
  background: #fb6a4f;
  color: #fff;
}

.bg_primary {
  background: #fbf3e8;
}

.bg_tertiary {
  background: #daeae9;
}

/*button
------------------*/
.btn_default {
  background: #46978f;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.3em;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 100%;
}
.btn_default:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

/*form
------------------*/
.form_group {
  padding: 5px;
}
.form_group .tbl {
  display: table;
  width: 100%;
}
.form_group .label {
  font-size: 1.3em;
}
.form_group .header {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  margin-bottom: 5px;
  vertical-align: middle;
  width: 27%;
}
.form_group .content {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  text-align: right;
  vertical-align: middle;
  *vertical-align: baseline;
  width: 73%;
}
.form_group .notes {
  padding-top: 5px;
  text-align: right;
}

.input_wrapper {
  position: relative;
  /*  zoom: 1;*/
}
.input_wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.input_wrapper .main {
  float: left;
  margin-right: -20px;
  position: relative;
  width: 100%;
  *width: 90%;
}
.input_wrapper .main .inner {
  margin-right: 20px;
}
.input_wrapper .main .inner input {
  text-align: right;
}
.input_wrapper .aside {
  float: right;
  font-size: 1.3em;
  padding-top: 5px;
  text-align: right;
  width: 20px;
}
.input_wrapper input {
  background: #fff;
  border: 1px solid #630;
  border-radius: 4px;
  padding: 3px;
  *padding: 0;
  width: 100%;
  *width: 96%;
}
.input_wrapper input[readonly] {
  border: 0;
}

.label_wrapper {
  float: left;
  font-size: 1.3em;
  padding-top: 5px;
  text-align: left;
  width: 180px;
}
.label_wrapper + .input_wrapper {
  margin: 0 0 5px 180px;
}

.result {
  background: #f2556a;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
}
.result .header {
  width: 52%;
}
.result .content {
  position: relative;
  width: 48%;
}
.result .font_sm {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
}
.result .alert_wrapper {
  top: -55px;
}

/*grid
------------------*/
.pg_inner {
  margin: 0 auto;
  text-align: left;
  width: 300px;
}

/*typo
------------------*/
.font_lg {
  font-size: 2.2em;
}

.font_md {
  font-size: 1.6em;
}

.font_sm {
  font-size: 1.3em;
}

.font_xs {
  font-size: 1.1em;
}

.font_dark {
  color: #630;
}

.font_key {
  color: #fb6a4f;
}

.font_accent {
  color: #f2556a;
}

/*utility
------------------*/
.alert_wrapper {
  position: absolute;
  top: -35px;
  left: 0;
  text-align: right;
  width: 100%;
  z-index: 10;
}

.alert {
  background: #fb6a4f;
  color: #fff;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 1.3em;
  margin: 0 0 0 auto;
  padding: 5px;
  position: relative;
  text-align: center;
}
.alert:after {
  content: ' ';
  display: block;
  margin-left: -4px;
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #fb6a4f transparent transparent transparent;
}

.caret_right {
  position: relative;
  padding-right: 10px;
}
.caret_right::after {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 6px;
  height: 6px;
  margin-top: -5px;
  right: 0;
}

.link {
  font-size: 1.1em;
  padding: 5px;
  text-align: right;
}
.link a {
  border-bottom: 1px solid #630;
}
.link a:hover {
  border-bottom: 1px solid #46978f;
}

.msg {
  font-size: 1.3em;
  padding: 0 0 10px 0;
}

.notes {
  clear: both;
  font-size: 1.1em;
}

.ttl a {
  display: block;
}
.ttl + .notes {
  color: #46978f;
  padding: 5px 5px 0 0;
  text-align: right;
}

/*section
------------------*/
.section .ttl {
  text-align: center;
}
.section .ttl img {
  margin: 0 auto;
}

.lead {
  padding: 5px;
  text-align: left;
}
.lead .default {
  font-size: 1.3em;
}
.lead .icn {
  display: block;
  text-align: center;
}
.lead .icn img {
  margin: 0 auto;
  height: 35px;
}
