/**** Utility ****/
#cmd_catalognavigationsearchresultcmd #wrapper_content {
  float: none;
}

.isotopeBuilder .filters,
.isotopeBuilder .sortDirection {
  border-radius: 2px;
  border: 1px solid #ccc;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.isotopeBuilder .filters li,
.isotopeBuilder .sortDirection li {
  display: inline;
  margin: 15px;
}

.isotopeBuilder .imageMap {
  position: relative;
}

.isotopeBuilder .imageMapBlock {
  position: absolute;
}

.isotopeBuilder .social_feed_bar {
  width: 100%;
}

.isotopeBuilder .social_icons {
  float: none;
  position: static;
}


/**** Isotope Filtering ****/
.isotopeBuilder .isotope-item {
  z-index: 2;
}

.isotopeBuilder .isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


/**** Isotope CSS3 transitions ****/
.isotopeBuilder .isotope,
.isotopeBuilder .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotopeBuilder .isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotopeBuilder .isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


/**** disabling Isotope CSS3 transitions ****/
.isotopeBuilder .isotope.no-transition,
.isotopeBuilder .isotope.no-transition .isotope-item,
.isotopeBuilder .isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


/**** Isotope filtering ****/
.isotopeBuilder .isotope-item {
  z-index: 2;
}

.isotopeBuilder .isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


/**** Infinite Scroll loader ****/
.isotopeBuilder #infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.imageMapBlock{
  position:absolute;
}

.isotopeContent a.pdp_lightbox{
  float:left;
  outline:0;
}

#isotopeContainer{
  min-height:800px;
}

/**** Report Card ****/
.reportCard {
  background: #cccccc;
  padding: 20px;
  z-index: 9999;
}

.reportCard .wrapper p,
.reportCard .wrapper li { color: #444444; }

.reportCard #instructionsWrapper { display: none; }


/***** Isotope .item active state and overlays *****/
div.isotopeBuilder div.isotope-item.active { position: relative; }

div.isotopeBuilder div.isotope-item > div.overlay {
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease;
  top: 0;

  display: none\9; /* IE8 and below */
}

div.isotopeBuilder div.isotope-item.active > div.overlay {
  opacity: 1;  
  display: block\9; /* IE8 and below */
}


/***** Column Shift Layout *****/
.isotopeContent .shiftColClosed {
  overflow: hidden;
}

.isotopeContent .shiftCol .shift-col-open-trigger,
.isotopeContent .item.shiftColClosed .shift-col-close-trigger {
  display: none;
}

.isotopeContent .shiftCol .shift-col-close-trigger,
.isotopeContent .item.shiftColClosed .shift-col-open-trigger {
  display: block;
}


/***** Button styles *****/

/* Remove Firefox button inner spacing. */
.isotopeContent .shift-col-trigger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.isotopeContent .shift-col-trigger {
  background: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  padding: 6px 8px 8px 8px;
  position: absolute;
  right: 12px;
  text-transform: uppercase;
  top: 72px;
  width: auto;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
     -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
      -ms-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
       -o-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
          box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
}

.isotopeContent .shift-col-trigger:after {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  top: 3px;
}

.isotopeContent .shift-col-open-trigger:after {
  content: "+";
}

.isotopeContent .shift-col-close-trigger:after {
  content: "-";
  top: 3px;
}


/***** Fluid/responsive layout *****/
.isotope-fluid-responsive #wrapper_outer,
.isotope-fluid-responsive .isotopeBuilder {
    background-color: #f8f8f8;
}

.isotope-fluid-responsive #wrapper_page_body,
.isotope-fluid-responsive .isotopeBuilder .isotopeContent,
.isotope-fluid-responsive .isotopeBuilder .customContent .fullwidth,
.isotopeBuilder .customContent2 .iosSliderContent {
  max-width: 1200px;
  min-width: 990px;
  width: 100%;
}

.isotope-fluid-responsive .isotopeBuilder,
.isotope-fluid-responsive .isotopeBuilder .customContent {
  margin: 0 auto;
}

.isotope-fluid-responsive .isotopeBuilder img,
.isotope-fluid-responsive .isotopeBuilder video,
.isotope-fluid-responsive .isotopeBuilder .customContent .fullwidth img,
.isotope-fluid-responsive .isotopeBuilder .customContent .fullwidth video {
  height: auto;
  width: 100%;
}

/* Video containers for fluid/responsive layout */
.isotope-fluid-responsive .isotopeBuilder .vid_container,
.isotope-fluid-responsive .isotopeBuilder #video_Video {
  height: 100% !important;
  width: 100% !important;
}

/* Full-screen video corrections */
.isotope-fluid-responsive .isotopeBuilder .vjs-fullscreen {
  background: #000;
  z-index: 9999;
}

.isotope-fluid-responsive .isotopeBuilder .vjs-fullscreen video {
  height: 100%;
}

.isotope-fluid-responsive .vjs-full-window #top_nav_bg,
.isotope-fluid-responsive .vjs-full-window #navigation_bg,
.isotope-fluid-responsive .vjs-full-window #wrapper_header,
.isotope-fluid-responsive .vjs-full-window #wrapper_tactical_message .cycleBuilderContent {
  z-index: 1;
}

.isotope-fluid-responsive .vjs-full-window .isotope-item .imageMap {
  display: none;
}


/***** Tooltip *****/
#tool_tip{
  display:none;
  position:absolute;
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
  top:0;
  left:0;
  pointer-events:none;
  z-index:9;
  text-align:center;
  padding-bottom: 10px;
  max-width: 180px;
  min-width:120px;
}

#tool_tip_title{
  line-height:15px;
  display:block;
  font-weight:800;
  font-size:12px;
  text-transform:uppercase;
  margin: 0 10px;
}

#tool_tip_copy{
  display:block;
  margin:10px;
  font-size:12px;
}


/***** Flowtype.js - responsive live text *****/
.flowtype .isotopeBuilder,
.flowtype #tool_tip {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.flowtype .isotopeBuilder p {
  line-height: 1.1;
}

.flowtype .isotopeBuilder p {
  font-size: 0.475em;
  margin-bottom: 1.3em;
}

.flowtype .isotopeBuilder .flowtypetitle p {
  font-size: 7.40em;
  letter-spacing: 0.065em;
  line-height: 0.75em;
}

.flowtype .isotopeBuilder .flowtypetitle p,
.flowtype .isotopeBuilder p strong {
  text-transform: uppercase;
}

.flowtype .isotopeBuilder p strong {
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

.flowtype .isotopeBuilder p em {
  font-size: 1.35em;
  letter-spacing: 0.09em;
}


/***** Back to Top link *****/
.isotopeBuilder .backtotop {    
  color: #000;
  display: block;
  font-family: "Platform-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 105px;
  line-height: 14px;
  margin-right: 15px;
  margin: 0 !important;
  text-align: right;
  text-transform: uppercase;
}

.isotopeBuilder .backtotopwrapper p {
    margin-bottom: 0;
}

.isotopeBuilder .backtotop:after {
  border-bottom: 8px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";    
  display: inline-block;
  height: 0;
  margin-left: 5px;
  margin-top: 15px;
  margin-right: 10px;
  width: 0;
}

.isotopeBuilder .backtotop:hover {
  color: #c8c8c8;
  cursor: pointer;
}

.isotopeBuilder .backtotop:hover:after {
  border-bottom: 8px solid #c8c8c8;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";    
  display: inline-block;
  height: 0;
  margin-left: 5px;
  margin-top: 15px;
  margin-right: 10px;
  width: 0;
}

/***** For certain screen resolutions,
    we can get away with not rounding columns down slightly. *****/
@media only screen and (max-width: 990px), screen and (min-width: 1200px) {
  .isotope-fluid-responsive-cols-2 .isotopeBuilder .fluidcol1 { width: 50% !important; }
  .isotope-fluid-responsive-cols-2 .isotopeBuilder .fluidcol2 { width: 100% !important; }
}

/* Shop buttons - hide on desktop */
.isotopeBuilder .showonipad {
  display: none;
}


/***** iPad  *****/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

.isotope-fluid-responsive-cols-2 .isotopeBuilder .fluidcol1 { width: 50% !important; }
.isotope-fluid-responsive-cols-2 .isotopeBuilder .fluidcol2 { width: 100% !important; }

/* Video display fix */
.isotope-fluid-responsive-cols-2 .halfwidthvid #video_Video {
  height: 288px !important;
  width: 512px !important;
}

.isotope-fluid-responsive-cols-2 .fullwidthvid #video_Video {
  height: 576px !important;
  width: 1024px !important;
}

/* Hide tooltips */
.isotopeBuilder #tool_tip {
  display: none !important;
}

/* Shop buttons */
.isotopeBuilder .showonipad {
  display: block;
}

/* Custom shop now button */
.isotopeBuilder .shopnowbtn a {
    display: block;
    font-size: 0;
    text-indent: -9999px;
}

.isotopeBuilder .shopnowbtn a:before {
  -webkit-border-radius: 15px;
  background: #fff;
  border-radius: 15px;
  border: 2px solid #000;
  color: #000;
  content: "+";
  display: block;
  font-size: 24px;
  font-weight: normal;
  height: 26px;
  line-height: 22px;
  text-align: center;
  text-indent: 0;
  width: 26px;
}

}

@media only screen and (max-width: 990px) {

.isotope-fluid-responsive-cols #wrapper_outer {
  width: 990px;
}

}

/* Up until a 1200px-wide viewport, constrain slider to 990px width,
    and adjust other formatting as necessary. */
@media only screen and (max-width: 1200px) {

  .isotope-fluid-responsive .customContent .iosSliderContent {
    margin: 0 auto;
    width: 100%;
  }

  .isotope-fluid-responsive .customContent .iosSlider {
    margin: 0 auto;
    width: 912px !important;
  }

}

/***** Social Sharing *****/

[class^="fi-social-"], [class*=" fi-social-"],.social-share-links{
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fi-social-pinterest:before {
    content: "\e600";
}

.fi-social-google:before {
    content: "\ea88";
    margin-left: 2px;
}

.fi-social-facebook:before {
    content: "\ea8c";
    margin-left:-3px;
}

.fi-social-twitter:before {
    content: "\ea91";
    margin-left: 2px;
}

.fi-social-tumblr:before {
    content: "\eabb";
}

.fi-social-instagram:before{
    content: "\ea90";
}

.social-share-links{
    position:absolute;
    top:5px;
    right:0;
}

.social_bl .social-share-links{
    top:auto;
    right:auto;
    bottom:5px;
    left:5px;
}

.social_tl .social-share-links{
    left:5px;
    right:auto;
}

.social_br .social-share-links{
    top:auto;
    bottom:5px;
}

.social_hover .social-share-links{
    display:none;
}

.social_hover:hover .social-share-links{
    display:block;
}

.social-share-links ul{
    margin:0 5px 0 0;
    padding:0;
    float:left;
    border: 1px solid #ccc;
    border-top:0;
}

.social-share-links li{
    list-style-type: none;
    width:42px;
    height:42px;
}

.social-share-links li span{
    width:42px;
    height:42px;
    float:left;
    background-color: white;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
    color:#1b1b1b;
}

.social-share-links li span.fi-social-facebook{
    line-height:36px;
}

.social_click .social_button,
.social_click_hover .social_button{
    width: 42px;
    height: 42px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #ccc;
    color:#1b1b1b;
}

.social_click .social_button:before,
.social_click_hover .social_button:before{
    content: "\e603";
}

.social_click .social-share-links ul,
.social_click_hover .social-share-links ul {
    display:none;
}

.social_click .social-share-links .social_open ul,
.social_click_hover .social-share-links .social_open ul{
    display:block;
}

.social_click_hover .social-share-links{
    display:none;
}

.social_click_hover:hover .social-share-links{
    display:block;
}

ul.social_share_con{
    padding:0;
    margin: 10px 0 0 0;
    color: #1b1b1b;
}

li.social_icons_button,
li.share_insta{
    list-style-type:none;
    float:left;
    margin-right: 3px;
    cursor:pointer;
}

li.social_icons_button span,
li.share_insta a{
    font-size:20px;
    color:#1b1b1b;
}

.social_share_con .share_fb{
    margin-top:-2px;
}

.social-share-links li span:hover,
.social_click_hover .social_button:hover{
    color:#fff;
    background-color:#1a1a1a;
}

.social_copy{
    float: left;
    margin-right: 10px;
    line-height: 40px;
    color:#1b1b1b;
}

.social_click .social-share-links:hover ul{
    display:block;
}