/* -----------------------------------------------------------------------


 Blueprint CSS Framework 0.9
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

   * Arcadia Group
   * version __version__

----------------------------------------------------------------------- */

/* print.css */
body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
.container {background:none;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
a img {border:none;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:underline;}
.mousetrap {display: none;}

/*Thank you page*/

#wrapper_header {
	padding-bottom:30px;}

#wrapper_nav_utilities, #wrapper_nav_utilities .menu_inline li, p.musicplayer, #region_select, #wrapper_basket_summary, #wrapper_basket_summary a, #form_search, #inp_search_text, #btn_search_go, #wrapper_header_content, #nav_catalog_menu, #wrapper_tactical_message, #wrapper_footer {
	display:none;}

#wrapper_page_body, #checkout_body {
	min-height: auto;}
	
#cmd_orderokview #checkout_header h1 {
	float:none !important}

#cmd_orderokview #checkout_header ol#checkout_progress {
	position:absolute !important;
	top:20px !important;
	left:auto !important;
	right:40px !important;}

#cmd_orderokview .checkout_navigation {
	float:left !important;}
	
#cmd_orderokview .primary_checkout_column .order_store_details,
#cmd_orderokview .primary_checkout_column .checkout_navigation{
	float:left;
	display:inline-block;
	clear:both;
	width:484px;}
	
#cmd_orderokview a.btn_print_page chk_button_secondary, #cmd_orderokview a.btn_track_order, #cmd_orderokview a.btn_continue_shopping, #cmd_orderokview a.btn_print_page, #cmd_orderokview #product_recently_viewed_carousel ul {display:none !important;}
#cmd_orderokview .box_title h2 span.sIFR-alternate { display: block !important;}
