@font-face {
    font-family: "Currents-Regular-Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("https://themes.googleusercontent.com/static/fonts/opensans/v6/uYKcPVoh6c5R0NpdEY5A-Q.woff") format("woff");
}
@font-face {
    font-family: "Currents-Regular-Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://themes.googleusercontent.com/static/fonts/opensans/v6/O4NhV7_qs9r9seTo7fnsVD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Currents-Regular-Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzBsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
}
@font-face {
    font-family: "Currents-Regular-Sans";
    font-style: italic;
    font-weight: bold;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("https://themes.googleusercontent.com/static/fonts/opensans/v5/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff") format("woff");
}
 
body {
    font-family: "Currents-Regular-Sans";
    margin: 0;
}
a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
} 
li:hover a{
    transition:0.3s ease-out !important;
}
h1{
    margin:0;
}
.btn > img {
    position: relative;
    top:0px;
}
button {
    cursor: pointer;
    outline: medium none;
}
input[type="text"]:focus {
    outline: medium none;
}
    #wrap-abc {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  height: 331px;
  width: 300px;
  margin-top: 10px;
}
.bg-abc {
  background-image: url("../images/bg-abc-2.jpg");
  float: left;
  height: 297px;
  width: 300px;
}
.jdl-abc {
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    padding-left: 61px;
    padding-top: 17px;
    width: 240px;
}
.jdl-abc a {
  text-decoration: none;
  color: #3f628a;
}
.jdl-abc a:hover {
  color: #d70000;
  text-decoration: underline;
}
.date-abc {
    font-size: 12px;
    padding-left: 60px;
    padding-top: 16px;
}
.wrap-conten {
  float: left;
  height: 86px;
  width: 300px;
}

.foot1-a-wp {
    float: left;
    padding-right: 10px;
    width: 125px;
}
.fot1-a-subkanal {
    font-size: 12px;
    margin: 5px 0;
    text-transform: capitalize; 
}
.fot1-a-kanal {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}
.wp-footer {
    border-top: 2px solid #000;
    margin-top:40px;
}
.wp-footer-conten {
    margin: 12px;
    padding: 12px;
}
.foot1 {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.foot1-a {
    float: left;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 12px;
    padding-right: 17px;
    padding-top: 12px;
}
.foot1-b {
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
}
.foot1-c {
    float: right;
    font-size: 12px;
    padding-top: 15px;
}
.foot1-c .foot2-c {
    margin-right: 140px;
}
.foot2-c-a {
    margin-bottom: 10px;
}
.footer .plus-minus {
    margin-top: 20px;
}
.plus-minus button:hover {
    color: #d70000;
    font-weight: 600;
}
.btn-footer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-weight: 400;
}
.copyright {
    font-size: 11px;
    border-top: 1px solid #f2f2f2;
    padding:15px 0;
}
.logo img {
    height: auto;
    width:80%;
}
.tagging {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
}
.detail-terkait-1{
    width:320px;
    margin-right:40px;
    float:left;
}
.detail-terkait-2{
    width:300px;
    float:left;
}
.detail-terkait-2 h2 {
    border:none !important;
}
.detail-terkait ul li img{
    width:150px;
    object-fit:cover;
}
.detail-terkait ul li span {
    width:135px;
    float:right;
}
.detail-terkait .kop-judul{
    text-align:left;
}
.detail-terkait .kop-judul h2{
    font-weight:500;
    font-size:16px;
    padding:15px 20px;
}
.detail-terkait ul{
    list-style-type:none;
    padding:0;
    margin:0;
    color:#d70000;
}
.detail-terkait li {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
}
.detail-terkait li:last-child {
    border-bottom:none;
}
.wp-reset1 {
    float: right;
}
.reset {
    float: left;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
}
.set-nav {
    border-bottom: 1px solid #dedede;
    border-top:2px solid #d70000;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.set-nav ul {
    display: block;
    margin-top: 16px;
    padding: 0;
    text-align: center;
}
.set-nav li a {
    color: #000000;
    padding-bottom:20px;
    text-decoration: none;
}
.set-nav li.active{
    font-weight: bold;
}

.favicon {
   border-radius: 50%;
   display:block;
   float:left;
   width: 32px;
   height: 32px;
   padding: 0px !important;
   background-image: url("http://republika.co.id/files/images/home-icon.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size:16px;
   background-color: #d70000;
   margin: 10px 7px;
   cursor:pointer;
   position:absolute;
}
.set-nav li.active a {
    color:#d70000 !important;
    font-weight:bold;
}
.set-nav li.active:hover ul{
    display:none;
}
.set-nav ul li {
color: #000000;
display: inline;
font-family: Oswald,Current Sans,Arial,Sans Serif;
font-size: 16px;
font-weight: 300;
padding: 0 8px;
text-align: center;

    text-transform: uppercase;
}
.set-nav li ul {
    display: none;
    height:25px;
    position: absolute;
}
.set-nav li a:hover {
    color:#d70000 !important;   
    transition: 0.3s ease-out !important;
}
.set-nav li:hover{
    transition:0.3s ease-out !important;
}
.set-nav li:hover ul {
    background-color:#ffffff;
    color:#d70000 !important;   
    display: block;
    text-decoration: none;
    width: 100%;
    height:auto;
    padding:0 0 7px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    transition:0.3s ease-out !important;
}
.set-nav ul li ul li a {
    color: #000000 !important;
    font-size: 11px;
    font-weight:500;
    font-family:Open Sans, Current Sans, Arial, helvetica, sans serif !important;
}
.set-nav li ul li{
    padding: 0px 8px 6px;
}
.set-nav li ul li:hover{
    color:#d70000;
    padding-bottom:5px;
    border-bottom:2px solid #d70000;
}
.set-nav li ul li:hover a{
    color:#d70000 !important;
} 
.set-nav-2 {
    width: 100%;
    height:auto;
    border-top: 1px solid #dedede;
   }
.set-nav-2 ul {
    display: block;
    margin:0;
    padding:0 0 5px;
}
.set-nav-2 ul:hover{
    display: block;
    text-decoration: none;
    width: 100%; 
}
.set-nav-2 ul li{
    padding: 0px 8px 6px;
} 
.set-nav-2 li.active:first-child{
    border-radius:0% !important; 
    padding:0 5px 5px;
    border-bottom:2px solid #d70000;
}
.set-nav-2 li a {
    color: #000;
    font-size: 11px;
    font-weight:500;
    font-family:Open Sans, Current Sans, Arial, helvetica, sans serif !important;
    letter-spacing:-0.1px;
}
.set-nav-2 ul li:hover {
    font-size: 11px;
    font-weight: 400;
    border-bottom:2px solid #d70000;
    padding-bottom:5px;
    transition: 0.3s ease-out !important;

}
.set-nav-2 ul li a:hover{
    color:#d70000 !important;
}
.set-nav-2 ul li.active {
    font-size:11px;
    font-weight:bold;
    padding:0 5px 5px;
    border-bottom:2px solid #d70000;

}
.ads-160 {
    float: right;
    width: 120px;
    height: 600px;
/*    margin-right:20px;*/
   margin-left:20px;
    background-color:#f2f2f2;
}
.ads-300 {
    text-align: center;
}
#right-sticky-trigger {
    float: left;
    width:10px;
    height:10px;
}

.visit {
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    width: 150px;
}
.wp-visit span {
    color: rgb(0, 0, 0);
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 25px;
    text-align: center;
}
.wp-visit strong {
    color: #ccc;
    display: block;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.wp-visit {
    border: 1px solid #eeeeee;
    border-radius: 7px;
    float: left;
    margin: 11px;
    text-align: center;
    width: 95px;
}
.subtitle-detail {
    color: #d70000;
    font-size: 12px;
    padding-top: 8px;
}
.detail-berita p {
    font-size: 16px;
    line-height:26px;
    color:#333;
}
h3 {
    color: #000000;
    font-size:16px;
    font-weight:bold;
    line-height:23px;
    margin:0;
}
.img-video-big {
    width:593px;
}
.wrap-1 {
    width: 325px;
}
.wp-search {
    float: right;
    width: 200px;
}
.wp-search i{
    color:#888888;
}
.search {
    color: #bebebe;
    float: left;
    font-size: 11px;
    text-align: left;
}
.search input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #eeeeee;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #bebebe;
    text-align: left;
    transition: border 0.3s ease 0s;
    width: 170px;
}
.search input[type="text"]:focus {
    outline: medium none;
}
.search input[type="text"]:focus, .search input.focus[type="text"] {
    border-bottom: 1px solid #d70000;
    color: #888888;
}
.wp-login {
    float: left;
    margin-left: -15px;
    /*width: 110px;*/
}
.wp-login a {
    color: #888888;
}
.wp-login i {
    margin-right: 5px;
}
.txt-log {
    float: left;
    font-size: 11px;
    padding-right: 5px;
    text-transform:uppercase;
}
.navbar-fixed-top {
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
       -webkit-transition: all 0.3s ease-out 0s !important;
    -moz-transition: all 0.3s ease-out 0s !important;
    -ms-transition: all 0.3s ease-out 0s !important;
    -o-transition: all 0.3s ease-out 0s !important;
    transition: all 0.3 ease-out 0s !important;
} 
header {
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    padding: 1px 0;
    top: 0;
     -webkit-transition: all 0.1s ease-out 0s !important;
     -moz-transition: all 0.1s ease-out 0s !important;
     -ms-transition: all 0.1s ease-out 0s !important;
     -o-transition: all 0.1s ease-out 0s !important;
     transition: all 0.1 ease-out 0s !important;
      z-index: 9999;
}
.header-1-a-1 {
    float: left;
    font-size: 10px;
    padding-right: 5px;
}
.header-1-a-1 a {
    color:#888888;
}
.header1-b {
    float: left;
    width: 300px;
}
.header1-b .header-1-a-1 a {
    font-size: 15px;
    padding: 2px;
}
.header1-b .header-1-a-1 span {
    font-size: 12px;
    color:#888888;
}
a:hover .fa-twitter{
    color:#1dcaff;
}
a:hover .fa-facebook{
    color:#3b5998;
}
a:hover .fa-google-plus{
    color:#dd4b39;
}
a:hover .fa-envelope-o{
    color:#e74c3c;
}
a:hover .fa-whatsapp{
    color:#54b258;
}
a:hover .fa-link{
    color:#83C850;
}
a:hover .fa-instagram{
    color:#256189;
}
a:hover .fa-rss{
    color:#fe9900;
}
a:hover .fa-apple{
    color:#cccccc;
}
a:hover .fa-android{
    color:#a4c639;
}
.shrink {
    padding: 0;
}
.shrink .set-nav {
    width:1100px !important;
    position:inherit !important;
    margin-top:-3px;
}
.shrink .wp-set-all-header {
    display:none;
}
.burger button {
    background: rgba(0, 0, 0, 0) url("../images/icon-bar.png") no-repeat scroll 0 0;
    border: medium none !important;
    height: 25px;
    margin-right: 5px;
    position: relative;
    top: -4px;
    width: 25px;
}
 .cbp-spmenu {
    background: #000000 none repeat scroll 0 0;
    font-weight: 400;
    position: fixed;
    padding:20px 40px;
    font-family:Oswald, sans-serif;
}
.cbp-spmenu h3 {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    font-size:20px;
    font-weight:700;
    padding:20px 0;
    border-bottom: 1px solid #363636;
    text-transform: uppercase;
}
.cbp-spmenu a {
    color: #fff !important;
    display: block;
}
.cbp-spmenu a:hover {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.cbp-spmenu-vertical {
    top: 0;
    width:180px;    
    height:100%;
    overflow:scroll;
    z-index: 1000;
}
.cbp-spmenu-vertical::-webkit-scrollbar {
  width:5px;
  height:5px;
}
.cbp-spmenu-vertical::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.cbp-spmenu-vertical::-webkit-scrollbar-thumb {
  background: #d70000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.cbp-spmenu-vertical::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.cbp-spmenu-vertical::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.cbp-spmenu-vertical::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.cbp-spmenu-vertical::-webkit-scrollbar-track:hover {
  background: #666666;
}
.cbp-spmenu-vertical::-webkit-scrollbar-track:active {
  background: #333333;
}
.cbp-spmenu-vertical::-webkit-scrollbar-corner {
  background: transparent;
} 
.cbp-spmenu-vertical a {
    font-size:16px;
    font-weight:500;
}
.cbp-spmenu .collapse a{
    padding:0 !important;
}
.no-border {
    border: medium none !important;
}
.cbp-spmenu-a {
    font-size:13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 14px;
    line-height:36px;
}
.cbp-spmenu-b > a {
    color: #8e8e8e !important;
}
.cbp-spmenu-a i {
    font-size: 11px;
    margin-right: 5px;
}
.cbp-spmenu-b {
    font-size: 14px;
    letter-spacing:1px;
    text-transform: none;
    padding: 10px 0 50px;
    border-bottom:1px solid #2e2e2e;
}
.cbp-spmenu-b a {
    border:none;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.cbp-spmenu-left {
    left: -260px;
    transition: all 1s ease-in 0s;
    z-index: 9999;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0;
}
.cbp-spmenu-push {
    left: 0;
    overflow-x: hidden;
    position: relative;
}
.cbp-spmenu-push-toright {
    left: 240px;
}
.cbp-spmenu, .cbp-spmenu-push {
    transition: all 0.5s ease 0s;
}
 .cbp-spmenu-push-toright {
    left: 190px;
}
.cbp-spmenu .collapse{
    padding:0 !important;
}
.cbp-spmenu .collapse a{
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height:26px;
    border-top: 1px solid #2e2e2e !important;
    color: #a6abab !important;
}
.cbp-spmenu .panel {
    background-color: transparent;
    border-bottom: 1px solid #2e2e2e;
}
.cbp-spmenu .close {
    border-bottom: medium none !important;
    cursor:pointer;
    float:right;
    font-size:26px;
    padding:10px;
    font-weight: normal;
    opacity: 1;
}
.burger:hover #scrollbar .thumb {
    opacity: 1;
}
#scrollbar .viewport {
    overflow: hidden;
    position: relative;
    width: 10px;
}
#scrollbar .overview {
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
#scrollbar .scrollbar1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    float: right;
    position: relative;
    width: 8px;
}
#scrollbar .track {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 1px;
}
#scrollbar .thumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    left: -73px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: -17px;
    transition: opacity 0.5s ease-in-out 0s;
    width: 15px;
}
#scrollbar .thumb .end {
    background: rgba(255, 255, 255, 0.1) none no-repeat scroll 50% 0;
    height: 150px;
    overflow: hidden;
    width: 8px;
}
#scrollbar .disable {
    display: none;
}
.play-video {
    margin: 0 auto;
    transform: translate(42%, -80%);
}
.play-video .fa-play-circle {
    color: rgba(255, 255, 255, 0.7);
}
.box1 {
    background-color: #ffffff;
    float: left;
    margin: 0px auto;
    padding: 10px 20px;
    width: 260px;
}
.kop3-a {
    border-bottom: 2px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 20px;
    margin-bottom: 4px;
    margin-left: 63px;
    position: relative;
}
.img-box1{
    padding-top:10px;
    width:260px;
    height:150px;
    overflow:hidden;
}
.box1-wp-a1 {
    float: left;
    height: 60px;
    width: 100px;
}
.box1-wp-a2 {
    float: right;
    font-size: 13px;
    width: 138px;
}
.box1-wp {
    border-top: 1px solid #d8d8cb;
    margin: 5px;
    padding: 5px 0;
}
.box1-wp-a {
    padding-bottom: 5px;
    padding-top: 5px;
}
.wp-set-all {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}
.wp-kop2 {
    border-bottom: 1px solid #ccc;
    width: 300px;
}
.kop2 {
    border-bottom: 3px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 20px;
    margin-left: 75px;
}
span#loading-terkini {
    font-size: 14px;
    padding: 0 13px;
      font-weight: bold;
}

span#loading-terkini img {
    margin: 0 11px;
}
.wp-conten-terkini {
    border-bottom: 1px solid #eeeeee;
    padding-bottom:15px;
    padding-top:15px;
}
.img-ct {
    float: left;
    height: 110px;
    width: 195px;
    overflow:hidden;
    position:relative;
}
.img-ct img {
    width: 100%;
    height:auto;
}
.jdl-terkini span {
    color: #8e8e8e;
    float: left;
    font-size: 10px;
    padding-top: 5px;
}
.jdl-ct {
    float: right;
    width: 280px;
}
.wp-set-all-header {
    margin: 20px auto;
    transition: all 0.5s ease-out !important;
    width: 1100px;
}
.logo {
    font-weight:normal;
    letter-spacing: -2px;
}

.logo h1{
    margin-top:-5px;
    margin-bottom:-5px;
    font-size:38px;
    text-transform:uppercase;
    padding:0;
    font-weight:700 !important;
}
.logo h1 a{
    color:#d70000 !important;
}
.logo a:hover{
    text-decoration:none !important;
}
.date {
    font-size: 11px;
    margin:5px 0;
    color:#959595;
}
.logo-text {
    font-size: 13px;
    position: relative;
    top:0px;
}
.logo-text a{
    color:#959595;
}
.clear {
    clear: both;
}
.left {
    float: left;
}
.header1 {
    float: left;
    width: 300px;
}
.header2 {
    float: left;
    text-align: center;
    width:435px;
}
.header3 {
    float: right;
    margin-bottom: 3px;
    padding-bottom: 7px;
    padding-top: 19px;
    text-align: right;
    width: 325px;
}
.header1-a {
    float: left;
    padding-top: 15px;
    width: 300px;
}
.line-bottom {
    margin: 4px auto auto;
}

.wp-topikterhangat {
    display: none;
    padding-top:12px;
}
.topik {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: 33px;
    margin-right: 9px;
    padding-right: 5px;
}
.tag {
    float: left;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
}
.right {
    float: left;
}
.default-nav {
    background-color: #d70000;
    border-top: 2px solid #d70000;
    color: #ffffff !important;
    font-weight: bold;
    padding-bottom: 4px;
    padding-top: 5px;
}
.default-topikpilihan {
    border-bottom: 1px solid #555;
    color: #000000 !important;
    font-weight: bold;
    padding-bottom: 7px;
}
.top-conten {
    padding-top:180px;
}
.top-conten-detail {
    padding-top: 195px;
} 
.topline-ads{
    padding:21px 0 22px;
}

.wp-conten {
    position:relative;
}
.wp-conten-left {
    float: left;
    font-size: 20px;
    width: 190px;
}
.wp-conten-center {
    border: 1px solid #f2f2f2;
    float: left;
    padding: 5px 5px 60px;
    width: 594px;
}
.wp-conten-center-detail {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 660px;
}

.wp-sosmed-d {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 660px;
}
.blok-black h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: 30px;
}
.blok-black a {
    text-decoration: underline;
}
.blok-black {
    background: transparent linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.9) 50%) repeat scroll 0 0;
    bottom: 0;
    padding: 50px;
    position: absolute;
    width: 493px;
}
.wp-foto .blok-black {
    width: 100% !important;
}
.wp-video .blok-black {
    width: 100% !important;
}
.wp-video img {
   width:100%;
   height:auto;
}
.ih-item {
    position: relative;
    transition: all 0.35s ease-in-out 0s;
}
.ih-item, .ih-item * {
    box-sizing: border-box;
}
.ih-item a {
    color: #333;
}
.ih-item a:hover {
    text-decoration: none;
}
.ih-item img {
    width: 100%;
}
.ih-item.square {
    position: relative;
    width:600px;
    height:350px;
    overflow:hidden;
}
.ih-item.square.effect6 {
    overflow: hidden;
}
.ih-item.square.effect6 .img {
    transform: scale(1);
    transition: all 0.35s ease-in-out 0s;
}
.ih-item.square.effect6 a:hover .img {
    transform: scale(1.05);
}
.teaser-sub {
    color: #838383;
    font-size: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.img-video-big {
    position: relative;
    width: 593px;
}
.red {
    color: #9d9d9d;
    float: left;
    font-size: 12px;
}
.blok-video {
    background: transparent linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.9) 50%) repeat scroll 0 0;
    bottom: 0;
    padding: 50px;
    position: absolute;
    width: 493px;
}
.jdl-video {
    color: rgb(255, 255, 255);
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.jdl-video a{
    color:#fff !important;
}
.icon img {
    height: auto;
    width: 100%;
}
.img-video-big img {
    height:350px;
    object-fit: cover;
    width: 100%;
}
.wp-terkini-center {
    margin: auto;
    padding-bottom: 25px;
    width: 515px;
}
.read-more {
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    line-height: 10px;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.read-more a {
    background: #fff none repeat scroll 0 0;
    color: #000000;
    font-size: 14px;
    padding: 0 10px;
}
.read-more a:hover {
    font-weight: 700;
    text-decoration: none;
}
.kop-judul {
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}
.kop-judul h2 {
    border-bottom: 3px solid #d70000;
    display: inline-block;
    font-size: 16px;
    line-height: 10px;
    margin: 0 auto;
    padding: 10px 15px;
    text-transform: uppercase;
}
.kop-judul a {
    text-decoration: none;
}
.kop-terkini {
    border-bottom: 1px solid #ccc;
}
.kop-terkini-a {
    border-bottom: 3px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    margin-left: 61px;
    position: relative;
}
.kop1 {
    padding-bottom: 15px;
    padding-top:15px;
}
.kop1 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.kop-1-a {
    text-align: left;
}
.kop-1-a h2 {
    margin-left: 0px;
    width: 150px;
    text-align: center;
    line-height:20px;
}
.wp-kop1-a {
    border-bottom: 3px solid rgb(102, 102, 102);
    border-top: 1px solid rgb(207, 207, 207);
}
.nav-kop1-a-label {
    border-bottom: 2px solid rgb(102, 102, 102);
    border-top: 1px solid rgb(207, 207, 207);
    height: 15px;
    padding: 5px 80px 10px;
}
.nav-kop1-a ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    width: 515px;
}
.kop1-a {
    padding-bottom: 12px;
    font-size:16px;
    font-weight:700;
}
.nm {
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 20px;
    padding-top:8px;
    padding-right:10px;
    letter-spacing:-3px;
    font-style: italic;
 }
.jdl-terkini h3 {
    font-size:13px;
    font-weight:200;
    line-height:20px;
}
.jdl-terkini {
    border-bottom: 1px solid #f2f2f2;
    float: right;
    padding-bottom: 10px;
    padding-top: 10px;
    width:150px;
}
.nav-kop1-a ul li {
    display: inline;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}
.wp-conten-right {
    float: right;
    width: 300px;
}
.plus {
    position: relative;
}
.active-kop {
    border-bottom: 5px solid #d70000;
    color: #d70000;
}
.tagname {
    border-bottom: 1px solid #f7f7f7;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top:10px;
}
.wp-tag {
    float: left;
    padding-left:20px;
    padding-right:20px;
    width: 260px;
}
.plus {
    float: right;
    font-family: "Open Sans",sans-serif;
}
.hashtag{
    display:inline-block;
    float:left;
    margin-right:5px;
    /*
    border-radius:50%;
    background-color:#d70000;
    color:#ffffff;
    width:25px;
    height:25px;
    */
    line-height:25px;
    text-align:center;
}
.tagname-a {
    float:left;
}
.tagname-a:hover{
    text-decoration:underline;
}
.nm-kanal {
    font-size: 11px;
}
.nm-kanal a{
    color:#000;
    text-transform:uppercase;
}
.set-headline {
     border-bottom: 1px solid #eeeeee;
    height: 515px;
    margin-bottom: 25px;
    padding-bottom: 19px;
    width: 594px;
}
.set-headline li:hover {
    cursor: pointer;
}
.nm-headline {
    background-color: #d70000;
    bottom: 143px;
    font-size: 14px;
    left: 264px;
    padding: 3px 5px;
    position: absolute;
    text-align: center;
    z-index: 2000;
    display: none;
}
.nm-headline a {
    color: #ffffff;
}
.img-headline {
    height:350px;
    width: 600px;
    overflow:hidden;
}
.img-headline img {
 /*   height:auto;
    width: 100%;
    */
}
.right-ads {
    float: left;
    height: 250px;
    margin-bottom: 10px;
    width: 300px;
}
.img-box1 img {
    height:100%;
    object-fit: cover;
    width: 100%;
}
.box1-wp-a1 img {
    height: 60px;
    object-fit: cover;
    width: 100%;
}
h4 {
    font-size:14px;
    line-height:20px;
    margin: 0;
}
.box1-a {
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    float: left;
    padding: 20px;
    width: 260px;
}
.jdl-box1 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.kop2-a {
    border-bottom: 3px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 20px;
    margin-left: 115px;
}
.box1-a {
    background-color: #ffffff;
    float: left;
    padding: 20px;
    width: 260px;
}
.box1-a-b {
    background-color: #fff;
    float: left;
    margin-bottom: 10px;
    padding: 20px;
    width: 258px;
}
.kop3-a-b {
    border-bottom: 2px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 20px;
    margin-bottom: 4px;
    margin-left: 80px;
    position: relative;
}
.jdl-box1-jdl {
    border-top: 1px solid #ebebeb;
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height:20px;
}
.wp-topikterhangat-a {
    float: left;
    margin-top: 10px;
}
#div-wrap {
    width: 194px;
    height:10px;
}
#div-wrap-detail {
    width: 60px;
    height:10px;
}
#div-unggulan {
 background:#ffffff;
 z-index:1;     
   /* -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        */
}
#div-popular {
 background:#ffffff;
 z-index:1;   
 /*
   -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        */
}
.wp-kop2-unggulan {
    border-bottom: 1px solid #ccc;
    padding-top: 35px;
    width: 194px;
}
.kop2-a-unggulan {
    border-bottom: 3px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 20px;
    margin-left: 23px;
}
.box1-a-unggulan {
    background-color: #fff;
    float: left;
    padding: 5px;
    width: 184px;
}
.box1-wp-a1-unggulan {
    display: none;
    float: left;
    height: 84px;
    width: 182px;
}
.box1-wp-a1-unggulan img {
    height: 84px;
    width: 100%;
}
.box1-wp-a2-unggulan {
    float: left;
    font-size: 12px;
    padding-top: 7px;
    width: 181px;
}
.wp-resonansi {
    background-color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
    float:left;
}
.foto-resonansi img {
    border: 1px solid #dadada;
    border-radius: 90px;
    height: 111px;
    margin: 0 auto;
    object-fit: cover;
    padding: 3px;
    width: 111px;
}
.box2 {
    float: left;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.name-resonansi {
    font-size: 11px;
}
.jdl-resonansi h5 {
    font-size:14px;
    font-weight:700;
    margin: 0;
    padding:10px 0;
}
.wp-produk {
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    background-color:#fff;
    margin-bottom: 10px;
    margin-top: 40px;
    width: 300px;
    overflow:hidden;
}
.wp-produk-1 {
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
}
.wp-produk-left {
    float: left;
    width: 130px;
}
.wp-produk-left img {
    height: auto;
    width: 100%;
}
.wp-produk-right {
    float: right;
    width: 120px;
}
.img-khazanah {
    width: 160px;
}
.img-khazanah img {
    height: 80px;
    object-fit: cover;
    width: 100%;
}
.wp-kop2-khazanah {
    margin-bottom: 12px;
}
.wp-khazanah-conten > .kop-judul h2 {
    font-size:14px;
    line-height:20px;
    font-weight: 400;
    padding-top: 12px;
}
.wp-resonansi-khazanah > .kop-judul h2 {
    font-size: 12px;
    font-weight: 400;
    padding-top: 12px;
    line-height:20px;
}
.jdl-box1-jdl-khazanah {
    border-top: 1px solid #ebebeb;
    font-size: 12px;
    padding-bottom:5px;
    padding-top:5px;
    line-height:20px;
    text-align: left;
}
.jdl-produk {
    font-family: "Oswald",sans-serif;
    font-size: 20px;    
    margin-bottom: 10px;
}
.wp-khazanah {
    float: left;
    padding-bottom: 10px;
    padding-top: 25px;
    width: 593px;
}
.wp-khazanah-conten {
    float: left;
    padding:18px;
    width: 160px;
    height:370px;
}
.wp-resonansi-khazanah {
    background-color: #fff;
    float: left;
    padding: 15px;
    text-align: center;
    width: 167px;
}
.foto-resonansi-khazanah img {
    border: 1px solid #eeeeee;
    border-radius: 90px;
    height: 120px;
    margin: 0 auto;
    padding: 3px;
    width: 120px;
}
.foto-resonansi-khazanah {
}
.jdl-resonansi-khazanah h5 {
    font-size: 14px;
    font-weight: 400;
    line-height:22px;
    margin: 0;
    padding: 12px 12px 10px;
}
.kop2-a-resonansi-khazanah {
    border-bottom: 3px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 44px;
    padding-bottom: 4px;
    padding-top: 25px;
}
.teaser-produk {
    font-size: 11px;
    padding-bottom: 5px;
}
.foto-resonansi {
    padding-top: 20px;
}
.kop2-a-suplement {
    border-bottom: 3px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 20px;
    margin-left: 57px;
    padding-bottom: 4px;
    padding-top: 25px;
}
.kop2-a-resonansi {
    border-bottom: 3px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 20px;
    margin-left: 102px;
    padding-bottom: 4px;
    padding-top: 23px;
}
.kop2-a-fokus {
    border-bottom: 3px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 20px;
    margin-left: 121px;
    padding-bottom: 4px;
    padding-top: 25px;
}
.kop-terkini-a-unggulan {
    border-bottom: 3px solid #d70000;
    float: left;
    font-family: "Currents-Regular-Sans",sans-serif;
    margin-left: 48px;
    padding-top: 34px;
    position: relative;
}
.wp-conten-terkini:hover .overlay {
    display: block;
}
.wp-conten-terkini:hover .overlay a{
    font-size:12px;
    margin-right:10px;
    display:list-item;
    list-style-type:none;
}
.wp-conten-terkini:hover .overlay a i{
    font-size:14px;
    margin-bottom:20px;
} 
.overlay{ 
    display: none; 
    z-index: 2;  
    position: absolute;
    padding:0 10px;
    margin-left:200px;
}
.share-left {
    width: 60px;
}
#sticky-share {
    margin: 0 !important;
}
#sticky-share ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#sticky-share ul li {
    margin-bottom: 10px;
}
#sticky-share a {
    background: #333 none repeat scroll 0 0;
    color: #fff !important;
    display: block;
    font-size: 22px;
    height: 50px;
    line-height: 35px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 60px;
}
#sticky-share a:hover {
    text-decoration: none;
}
#sticky-share .facebook {
    background: #3b5998 none repeat scroll 0 0;
}
#sticky-share a.facebook:hover {
    background: #283c68 none repeat scroll 0 0;
}
#sticky-share .twitter {
    background: #1dcaff none repeat scroll 0 0;
}
#sticky-share a.twitter:hover {
    background: #1a9bc2 none repeat scroll 0 0;
}
#sticky-share .gPlus {
    background: #dd4b39 none repeat scroll 0 0;
}
#sticky-share a.gPlus:hover {
    background: #ad3b2d none repeat scroll 0 0;
}
#sticky-share .envelope {
    background: #cd1c1f none repeat scroll 0 0;
}
#sticky-share a.envelope:hover {
    background: #a11517 none repeat scroll 0 0;
}
#sticky-share .copyLink {
    background: #7cbf4b none repeat scroll 0 0;
}
#sticky-share a.copyLink:hover {
    background: #5a8a36 none repeat scroll 0 0;
}
#sticky-share .komentar {
    background:#BABABA none repeat scroll 0 0;
}
#sticky-share a.komentar:hover {
    background:#919191 none repeat scroll 0 0;
}
#sticky-share a span {
    display: block;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
}
.share-bottom {
    float: left;
    padding: 20px 0;
}
.share-bottom #sticky-share li {
    display: inline-block !important;
}
.share-bottom #sticky-share a {
    font-size: 16px;
    height: auto;
    padding: 0 10px;
    text-align: left;
}
.share-bottom #sticky-share a span {
    display: inline;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
}
.share-bottom .fa {
    margin-right: 10px;
}
.img-detail {
    max-height: 450px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    width: 660px;
}
.img-detail img {
    width: 100%;
}
.date-detail {
    font-size: 12px;
    padding-top:25px;
    color:#9d9d9d;
}
.wp-cap {
    border-bottom: 1px solid #eeeeee;
    float: left;
    margin-bottom: 19px;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 660px;
}
.caption {
    color: #333;
    float: left;
    font-size: 10px;
    width: 660px;
}
.cap-foto {
    background-color:rgba(0,0,0,.8);
    bottom: 0;
    color: #b1b1b1;
    float: right;
    font-size: 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    width:auto;
}
.subtitle {
    color: #d70000;
    font-size: 9px;
}
.active ul li a {
    color: #000 !important;
}
.jdl-detail h2 {
    font-family: "Currents-Regular-Sans",sans-serif;
    font-size: 35px;
    line-height:44px;
    margin: 0;
    padding-bottom:10px;
    padding-top:10px;
}
.breadcome {
    border-bottom: 1px solid #eeeeee;
    font-size: 12px;
    padding-bottom: 17px;
    text-transform:capitalize;
}
.wp-conten-left-detail {
    float: left;
    font-size: 20px;
    padding-right: 25px;
    width: 60px;
    position:relative;
}
.padTop-35 {
    padding-top: 35px;
}
.padTop-25 {
    padding-top: 25px;
}
.socmed-bottom {
    margin: -30px 0;
}
.socmed-bottom span {
    font-size: 14px;
}
.socmed-bottom a {
    font-size: 14px;
    padding: 0 5px;
}
.socmed-bottom a:hover {
    color: #d70000 !important;
}
.jadwal-sholat {
      /* background:url(../images/bg-jadsol.png); */
    color:#7a7a7a;
    border-radius: 6px 6px 0 0;
    color: #000000 !important;
    float: left;
    /* margin:10px auto; */
    width: 300px;
    height:250px;  
     margin-bottom: 10px;     
}
.jadwal-sholat a {
    text-decoration: none !important;
}
.jadwal-sholat .js-2 {
    padding:15px !important;
}
.wrap-js {
    color: #000000;
    margin:0;
    padding:25px 0 !important;
}
.date-js {
    font-size:12px;
    font-weight:300;
    padding-top:8px;
    text-align:left;
} 
.rep {
    float: left;
    font-size: 12px;
    font-weight: 400;
    padding-top: 8px;
    text-align: left;
}
.wp-wp-js a {
    color: #000000;
    font-size:10px;
    font-weight: 400;
}
.wp-wp-js a:hover {
    text-decoration: underline !important;
}
.box2-js2 {
    border-right: 1px solid #cecece;
    float: left;
    width:50px;
}
.box2-js2.last {
    border-right: medium none;
}
.box2-js2-a {
    border-bottom: 1px solid #cecece;
    font-size:12px;
    font-weight: bold;
    padding-top: 2px;
    color:#7a7a7a;
    text-align:center !important;
}
.js-down {
    float: right;
    margin-right: -65px;
    padding-top: 10px;
}
.wilayah-js {
    float: right;
    font-size: 11px;
    width:100px !important;
    color:#ffffff;
    
}
.embed-js2 {
    float: right;
    font-size: 11px;
    width: 70px;
}
.box2-js2-b {
    font-size: 12px;
    font-weight: normal;
    padding-bottom:4px;
    text-align: center;
    color:#7a7a7a;
}
.garis2 {
    background-color: #eeeeee;
    float: left;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 300px;
}
.kop-js {
    font-size:18px  !important;
    font-weight: 600;
    padding-left:20px;
    padding-top:14px;
    text-align: left;
    color:#7a7a7a;
}
.wp-wp-js {
    padding-left:15px;
    padding-right:15px;
}
.embed-js1 {
    font-size: 11px;
}
.embed-js1 input {
    border: 1px solid #c1c1c1;
    border-radius: 6px;
    color:#7a7a7a;
    font-size: 11px;
    font-weight:300;
    padding: 3px;
    width: 195px;
}
.embed-js {
    padding-top:15px;
}
.js-down > img {
    height: 13px;
    padding-top:24px;
    width: 15px;
}
.tabs {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.tabs nav {
    margin-bottom: 10px;
    text-align: center;
}
.tabs nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.tabs nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width:90px;
    z-index: 1;
}
.tabs nav a {
    display: block;
    overflow: hidden;
}
.tabs nav a span {
    color: #000000;
    font-size: 15px;
    vertical-align: middle;
}
.tabs nav li.tab-current a {
    color: #74777b;
}
.tabs nav a:focus {
    outline: medium none;
}
.tabs-style-linemove nav {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #f7f7f7;
}
.tabs-style-linemove nav li:last-child::before {
    background: #d70000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transition: transform 0.3s ease 0s;
    width: 100%;
}
.tabs-style-linemove nav li.tab-current:first-child ~ li:last-child::before {
    transform: translate3d(-400%, 0px, 0px);
}
.details .tabs-style-linemove nav li.tab-current:first-child ~ li:last-child::before {
    transform: translate3d(-100%, 0px, 0px);
}
.tabs-style-linemove nav li.tab-current:nth-child(2) ~ li:last-child::before {
    transform: translate3d(-300%, 0px, 0px);
}
.tabs-style-linemove nav li.tab-current:nth-child(3) ~ li:last-child::before {
    transform: translate3d(-200%, 0px, 0px);
}
.tabs-style-linemove nav li.tab-current:nth-child(4) ~ li:last-child::before {
    transform: translate3d(-100%, 0px, 0px);
}
.tabs-style-linemove nav a {
    color: #74777b;
    line-height: 1;
    padding: 10px 0;
    transition: color 0.3s ease 0s, transform 0.3s ease 0s;
}
.tabs-style-linemove nav li.tab-current a {
    color: #d70000;
    transform: translate3d(0px, 0px, 0px);
}
.tabs-style-linemove nav li a:hover {
    color: #d70000;
    text-decoration: none;
}
.content-wrap {
    font-weight: normal;
    position: relative;
    text-align: left;
    text-transform: none;
}
.content-wrap section {
    display: none;
    margin: 0 auto;
}
.content-wrap section.content-current {
    display: block;
}
section.content-current {
    transition: all 1s linear 0s;
}
.pagination{
  margin:20px auto;
  padding:10px 0;
  clear: both;
  /*
  border-top:1px solid #eeeeee;
  border-bottom:1px solid #eeeeee;
  */
}
.pagination ul{
  width:auto;
  margin:0;
  padding:0;
}
.pagination li {
    display:inline-block;
    margin:0 auto;
    padding:10px;
    color:#333;
    font-weight:700;
    margin:0 3px;
    cursor:pointer;
}
.wp-conten-detail .pagination li {
    display:inline-block;
    margin:0 auto;
    padding:10px;
    border: 1px solid #ddd;
    color:#333;
    font-weight:700;
    margin:5px;
    border-radius:50%;
    width: 20px;
    height: 20px;
}
.pagination a {

  display: inline-block;
    margin: 0 auto;
    padding: 13px;
    /* border: 1px #FFF solid; */
    /* left: 0px; */
    margin-left: -8px;
    margin-top: -13px;
}
.wp-conten-detail .pagination li.active{
    background-color:#333;
    border-color:transparent;
}
.wp-conten-detail .pagination li:hover{
    background-color:#333; 
    color:#fff !important;
}
.wp-conten-detail .pagination li:hover a{
    color:#fff !important;
}
.pagination li:hover a{
    color:#d70000 !important;
    font-weight:700; 
    text-decoration:none;
}
.pagination li.active a{
    color:#fff !important;
    font-weight:700; 
}
.pagination .fa-chevron-left{
    margin-right:10px;
}
.pagination .fa-chevron-right{
    margin-left: 5px;
    margin-top: 2px;
}
#div-unggulan:hover #scrollbar1 .thumb { opacity:0.7; }
#div-popular:hover #scrollbar2 .thumb { opacity:0.7; }
#scrollbar1, #scrollbar2 { width: 190px; margin:10px 0; }
#scrollbar1 .viewport ,#scrollbar2 .viewport { width: 182px; height: 500px; overflow: hidden; position: relative; }
#scrollbar1 .overview ,#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar,#scrollbar2 .scrollbar{ background: rgba(0, 0, 0, 0.0); position: relative; background-position: 0 0; float: right; width: 8px; }
#scrollbar1 .track,#scrollbar2 .track {/* background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px;*/ }
#scrollbar1 .thumb,#scrollbar2 .thumb { background: rgba(0, 0, 0, 0.2); height: 20px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0px; 
    opacity:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#scrollbar1 .thumb .end, #scrollbar2 .thumb .end { overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable ,#scrollbar2 .disable { display: none; }

/* ============================= css untuk ads ======================= */
#div-gpt-ad-1417075851550-0 {
    margin:10px auto !important;
}
 
.wrap-tab-widget {
    margin: 10px auto;
    float:left;
}
.details .wp-terkini-center {
    margin: auto;
    padding-bottom: 25px;
    width: 694px;
    float: left;
}
.details .jdl-ct {
    float: right;
    width:410px;
}
.details .overlay {
    display: none;
    z-index: 2;
    position: absolute;
    padding: 0 10px;
    margin-left:240px;
}
.details .img-ct{
    height: 115px !important;
    width: 225px !important;
    overflow: hidden !important;
}
.details .foto-resonansi img{
    width:300px;
    height:150px;
    border:none !important;
    border-radius:0 !important;
    padding:0 !important;
}
.details .jdl-resonansi h5{
    text-align:left;
}
.details .img-box1{
    width:300px;
}
.details .box1{
    width:300px;
    padding:0;
}
.details .box1-wp-a2{
    width: 150px;
}
.details .box1-wp-a1 {
    width: 110px;   
    height: 70px;
}
.details .pagination{
    text-align:center;
}
.content-detail{
    width:520px;
}
.content-detail p img{
    float: left;
    margin: 0 !important; 
    max-width: 520px;
}
.first-thumb{   
    width:100px;
    height:auto;
    padding-right:15px;
}
.content-detail p  a {
    text-decoration: underline;
    color: #1D8CFF;
}
.wp-conten-right .date {
    font-size: 11px;
    margin-top: 5px;
    color:#959595;
    display: none;
}
.wp-conten-right .img-ct {
    float: left; 
    width:110px !important;
    height:80px !important;
    overflow:hidden !important;
}
.wp-conten-right h3 {
    color: #000000;
    font-size: 13px !important;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
}
.wp-conten-right .nm-kanal {
    font-size: 11px;
    DISPLAY: NONE;
}
.wp-conten-right .jdl-ct-a {
    font-weight: normal;
    position: relative;
    text-align: left;
    text-transform: none;
    float: left;
    width: 150px !important;
    margin:0 0 0 20px !important;
}
.wp-conten-right .tabs nav ul li {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width:90px;
    z-index: 1;
}

/*Kanal Styles*/ 
.home .set-nav li.active{
    color: #d70000;
}

/*home*/

/*news*/
/*english*/
.news .set-nav-2{
    border-top: 1px solid #dedede;
}  
.news .set-nav-2 li.active{
    color:#d70000;
}
.news .set-nav-2 ul li.active{
    border-bottom:2px solid #d70000 !important;
}
.news .set-nav-2 li.active a{
    color:#d70000 !important;
}
.news .set-nav-2 li:hover{
    border-bottom:2px solid #d70000 !important;
}
.news .set-nav-2 li:hover a{
    color:#d70000 !important;
}
/*news*/
.selarung .set-nav-2{
    border-top: 1px solid #dedede;
}  
.selarung .set-nav-2 li.active{
    color:#d70000;
}
.selarung .set-nav-2 ul li.active{
    border-bottom:2px solid #d70000 !important;
}
.selarung .set-nav-2 li.active a{
    color:#d70000 !important;
}
.selarung .set-nav-2 li:hover{
    border-bottom:2px solid #d70000 !important;
}
.selarung .set-nav-2 li:hover a{
    color:#d70000 !important;
}
/*news*/
/*english*/
.english .favicon{
    background-color:#0075B2 !important;
}
.english .set-nav li.active a{
    color:#0075B2 !important;
}
.english .logo h1 a{
    color:#0075B2 !important;
}
.english .set-nav{
    border-top: 2px solid #0075B2; 
}
.english .set-nav-2{
    background-color:#0075B2;
}
.english .set-nav-2 li a {
    color:#ffffff !important;
} 
.english .set-nav-2 ul li.active{
    border-bottom:2px solid #ffea64 !important;
}
.english .set-nav-2 li.active a{
    color:#ffea64 !important;
} 
.english .set-nav-2 li:hover{
    border-bottom:2px solid #ffea64 !important;
}
.english .set-nav-2 li:hover a{
    color:#ffea64 !important;
}
.english .kop-judul h2{
    color:#0075B2 !important;
    border-bottom: 3px solid #0075B2;
}
.english .bx-wrapper .bx-pager.bx-default-pager a:hover, .english .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color:#0075B2 !important;
}
.english .bx-wrapper .bx-caption span{
    color:#0075B2 !important;
}
.english .nm{
    color:#0075B2 !important;
}
.english .bx-wrapper .bx-next{
    background: url(../images/controls-english.png) no-repeat -43px 0px;
}
.english .bx-wrapper .bx-prev {
    background: url(../images/controls-english.png) no-repeat 0 0px;
}
/*english*/

/*sepakbola*/
.sepakbola .favicon{
    background-color: #007000 !important;
}
.sepakbola .set-nav li.active a{
    color:#007000 !important;
}
.sepakbola .logo h1 a{
    color:#007000 !important;
}
.sepakbola .set-nav{
    border-top: 2px solid #007000;
}
.sepakbola .set-nav-2{
    background-color: #007000;
}
.sepakbola .set-nav-2 li a {
    color:#fff !important;
} 
.sepakbola .set-nav-2 ul li.active{
    border-bottom:2px solid #EFE800 !important;
}
.sepakbola .set-nav-2 li.active a{
    color:#EFE800 !important;
}
.sepakbola .set-nav-2 li:hover{
    color:#fff !important;
}
.sepakbola .set-nav-2 ul:hover{
    background-color:#007000;
}
.sepakbola .set-nav-2 li:hover{
    border-bottom:2px solid #EFE800 !important;
}
.sepakbola .set-nav-2 li:hover a{
     color:#EFE800 !important;
}
.sepakbola .kop-judul h2{
    color:#007000 !important;
    border-bottom:3px solid #007000;
}
.sepakbola .bx-wrapper .bx-pager.bx-default-pager a:hover, .sepakbola .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color:#007000 !important;
}
.sepakbola .bx-wrapper .bx-caption span{
    color:#007000 !important;
}
.sepakbola .nm{
    color:#007000 !important;
}
.sepakbola .bx-wrapper .bx-next{
    background: url(../images/controls-sepakbola.png) no-repeat -43px 0px;
}
.sepakbola .bx-wrapper .bx-prev {
    background: url(../images/controls-sepakbola.png) no-repeat 0 0px;
}
/*sepakbola*/

/*ekonomi*/
.ekonomi .favicon{
    background-color: #225e8a !important;
}
.ekonomi .set-nav li.active a{
    color:#225e8a !important;
}
.ekonomi .logo h1 a{
    color:#225e8a !important;
}
.ekonomi .set-nav{
    border-top: 2px solid #225e8a;
}
.ekonomi .set-nav-2{
    background-color: #225e8a;
}
.ekonomi .set-nav-2 li a {
    color:#ffffff !important;
}
.ekonomi .set-nav-2 li.active:first-child{
    color:#f1c40f !important;
}
.ekonomi .set-nav-2 ul li.active{
    border-bottom:2px solid #f1c40f !important;
}
.ekonomi .set-nav-2 li.active a{
    color:#f1c40f !important;
}
.ekonomi .set-nav-2 li:hover{
    border-bottom:2px solid #f1c40f !important;
} 
.ekonomi .set-nav-2 li:hover a{
    color:#f1c40f !important;
} 
.ekonomi .kop-judul h2{
    color:#225e8a !important;
    border-bottom: 3px solid #225e8a;
}
.ekonomi .bx-wrapper .bx-pager.bx-default-pager a:hover, .ekonomi .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color:#225e8a !important;
}
.ekonomi .bx-wrapper .bx-caption span{
    color:#225e8a !important;
}
.ekonomi .nm{
    color:#225e8a !important;
}
.ekonomi .bx-wrapper .bx-next{
    background: url(../images/controls-ekonomi.png) no-repeat -43px 0px;
}
.ekonomi .bx-wrapper .bx-prev {
    background: url(../images/controls-ekonomi.png) no-repeat 0 0px;
}
.ekonomi .jadwal-sholat{
    margin-bottom:20px;
}
.valas .sumber-valas{
    font-style:italic;
}
.valas h4.text2 {
    font-family:oswald;
    font-size: 22px;
    color: #225E8A;
    float: left;
}
.valas .kop-right-1{
    border-bottom:1px solid #dedede;
    padding:0 10px;
}
.valas .table-kurs th{
    padding: 10px 0;
    text-align: center; 
    width: 36%;
}
.valas .table-kurs td{
    text-align: center; 
}
.valas .table-kurs td h5{
    margin:5px 0;
    font-weight: bold;
}
/*ekonomi*/

/*ototek*/
.oto-tek .favicon{
    background-color: #4B4B4B !important;
}
.oto-tek .set-nav li.active a{
    color:#4B4B4B !important;
}
.oto-tek .logo h1 a{
    color:#4B4B4B !important;
}
.oto-tek .set-nav{
    border-top: 2px solid #4B4B4B;
}
.oto-tek .set-nav-2{
    background-color: #4B4B4B;
}
.oto-tek .set-nav-2 li.active:first-child{
    color:#19B5FE !important;
}
.oto-tek .set-nav-2 ul li.active{
    border-bottom:2px solid #19B5FE !important;
}
.oto-tek .set-nav-2 li.active a{
    color:#19B5FE !important;
}
.oto-tek .set-nav-2 li:hover a{
    color:#19B5FE !important;
}
.oto-tek .set-nav-2 li a {
    color:#ffffff !important;
} 
.oto-tek .set-nav-2 li:hover{
    border-bottom:2px solid #19B5FE !important;
}
.oto-tek .set-nav-2 li:hover a{
    color:#19B5FE !important;
}
.oto-tek .kop-judul h2{
    color:#4B4B4B !important;
    border-bottom: 3px solid #4B4B4B;
}
.oto-tek .bx-wrapper .bx-pager.bx-default-pager a:hover, .oto-tek .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color:#4B4B4B!important;
}
.oto-tek .bx-wrapper .bx-caption span{
    color:#4B4B4B !important;
}
.oto-tek .nm{
    color:#4B4B4B !important;
}
.oto-tek .bx-wrapper .bx-next{
    background: url(../images/controls-oto-tek.png) no-repeat -43px 0px;
}
.oto-tek .bx-wrapper .bx-prev {
    background: url(../images/controls-oto-tek.png) no-repeat 0 0px;
}

/*ototek*/

/*khazanah*/
.khazanah .favicon{
    background-color:#674172 !important;
}
.khazanah .set-nav li.active a{
    color:#674172 !important;
}
.khazanah .logo h1 a{
    color:#674172 !important;
}
.khazanah .set-nav{
    border-top: 2px solid #674172;
} 
.khazanah .set-nav-2{
    background-color: #674172;
}
.khazanah .set-nav-2 li.active:first-child{
    color:#89C4F4 !important;
}
.khazanah .set-nav-2 ul li.active{
    border-bottom:2px solid #89C4F4 !important;
}
.khazanah .set-nav-2 li.active a{
    color:#89C4F4 !important;
}
.khazanah .set-nav-2 li:hover{
    border-bottom:2px solid #89C4F4 !important;
}
.khazanah .set-nav-2 li:hover a{
    color:#89C4F4 !important;
}
.khazanah .set-nav-2 li a {
    color:#ffffff !important;
}  
.khazanah .kop-judul h2{
    color:#674172 !important;
    border-bottom: 3px solid #674172;
}
.khazanah .bx-wrapper .bx-pager.bx-default-pager a:hover, .khazanah .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color:#674172 !important;
}
.khazanah .bx-wrapper .bx-caption span{
    color:#674172 !important;
}
.khazanah .nm{
    color:#674172 !important;
}
.khazanah .bx-wrapper .bx-next{
    background: url(../images/controls-khazanah.png) no-repeat -43px 0px;
}
.khazanah .bx-wrapper .bx-prev {
    background: url(../images/controls-khazanah.png) no-repeat 0 0px;
}

/*khazanah*/

/*leisure*/
.leisure .favicon{
    background-color: #DB0A5B !important;
}
.leisure .set-nav li.active a{
    color:#DB0A5B !important;
}
.leisure .logo h1 a{
    color:#DB0A5B !important;
}
.leisure .set-nav{
    border-top: 2px solid #DB0A5B;
}
.leisure .set-nav-2{
    background-color: #DB0A5B;
} 
.leisure .set-nav-2 ul li.active{
    border-bottom:2px solid #FFC800 !important;
}
.leisure .set-nav-2 li.active a{
    color:#FFC800 !important;
}
.leisure .set-nav-2 li:hover a{
    color:#FFC800 !important;
}
.leisure .set-nav-2 li a {
    color:#ffffff !important;
} 
.leisure .set-nav-2 li:hover{
    border-bottom:2px solid #FFC800 !important;
}
.leisure .set-nav-2 li:hover a{
    color:#FFC800 !important;
}
.leisure .kop-judul h2{
    color:#DB0A5B !important;
    border-bottom: 3px solid #DB0A5B;
}
.leisure .bx-wrapper .bx-pager.bx-default-pager a:hover, .leisure .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color:#DB0A5B!important;
}
.leisure .bx-wrapper .bx-caption span{
    color:#DB0A5B !important;
}
.leisure .nm{
    color:#DB0A5B !important;
}
.leisure .bx-wrapper .bx-next{
    background: url(../images/controls-leisure.png) no-repeat -43px 0px;
}
.leisure .bx-wrapper .bx-prev {
    background: url(../images/controls-leisure.png) no-repeat 0 0px;
}

/*suara surat pembaca*/
.suara-anda-wrapform {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 13px solid #EDEDED;
    height: auto;
    margin: 10px 0;
    float:left;
    padding: 10px;
}
.suara-anda-wrapform p {
    color: #000000;
    font-size: 11px;
    padding-bottom: 10px;
}
.suara-anda-wrapform form {
    border-bottom: 1px dotted #eeeeee;
    border-top: 1px dashed #D6D6D6;
    color: #000000;
    font-size: 12px;
    margin: 5px 0;
}
.suara-anda-wrapform form ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.suara-anda-wrapform form li {
    margin-bottom: 1px;
    padding: 6px;
}
.suara-anda-wrapform form li#send {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 6px;
}
.suara-anda-wrapform form label {
    float: left;
    font-weight: bold;
    line-height: 23px;
    margin-right: 7px;
    text-align: left;
    width: 80px;
}
.suara-anda-wrapform form input, .suara-anda-wrapform form textarea {
    font: 13px Georgia,"Times New Roman",Times,serif;
    padding: 4px;
    width: 234px;
}
.suara-anda-wrapform form input:focus, .suara-anda-wrapform form textarea:focus {
    background: none repeat scroll 0 0 #E3F1F1;
    border: 1px solid #666666;
}
.suara-anda-wrapform form li#send button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #B9B9B9;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
    padding: 4px;
}
.suara-anda-wrapform form li#send button:hover {
    background-color: #D4D0C8;
}
 
.img-loading{
    width:32px !important;
    height:32px !important;
}
.search-button{
    cursor:pointer;
}
.readmore-popular{
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    text-transform:uppercase;
}

.details .photo-gallery {
    margin-left: -40px !important;
}
.details .photo-gallery img{
    overflow: hidden;
    width: 660px;
    max-height: 450px;
} 
.details .photo-gallery i{ 
    color: rgba(255,255,255,.8);
    line-height: 60px;
    font-size: 30px;
} 
.details .wrap-inpic-zoom{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.6);
    position: relative;
    top: 200px;
    left: 300px;
}

.details .photo-gallery .inpic-caption {
    padding: 10px 15px;
    background: #f2f2f2;
    color: #888888;
    font-size: 13px;
    font-style: italic;
    width: 630px;
    height: auto;
    line-height: 22px;
}.content-detail blockquote {
    margin:0;
    text-align:left;
}
.content-detail blockquote p {
    font-size: 13px !important;
    font-style: italic !important;
    clear: both;
    margin-top: -15px;
    padding: 0px 3px; 
    background: #f2f2f2;
}
/*black background*/
.content-img-wrap{
    max-width: 520px;
    position: relative;
    text-align: center;
    background: black;
    overflow: hidden;
}
.content-img-wrap img{
    margin: 0px !important; 
    display: inline-block;
    margin-bottom: 0px;
    vertical-align:middle;
    float:none !important;
}
.wp-conten-terkini-404 {
    display: inline-block;
    margin-right:20px;
}
.wp-conten-terkini-404:last-child{
    margin-right:0 !important;
}
.wp-conten-terkini-404 .img-ct{
    width:350px;
    height:210px;
    float:none;
    overflow: hidden;
    position: relative;
}
.wp-conten-terkini-404 .jdl-ct{
    width:350px;
    float:none;
    margin-top:10px;
}

.search-404 input{
    width: 98%;
    height: 50px;
    padding-left: 22px;
    margin-top: 20px;
    background:#f2f2f2;
    border: none; 
}
.search-404 input[type="text"]:focus, .search input.focus[type="text"] {
    background: #cccccc;
    color: #888888;
    transition: ease-in 0.2s;
}
.btn-404 {
    position: absolute;
    right: 135px;
    font-size: 20px;
    color: #8E8E8E;
    float: right;
    margin-top: -35px;
    
}
.image-404{
    margin:200px auto 0;
}
/*PETA IKLAN*/
#tab3 ul{
    margin-top:-35px;
}
#tab3 ul li{    list-style: none;
    display: inline !IMPORTANT;
    width: 245px;
    float: left;
    height: 453px;
    overflow: hidden;
    margin-left:10px;
    padding:10px;
  
}
#tab3 ul li h2{
    text-align: center;
    text-decoration: underline;

    
}
.content-detail li a {
    color: #0885C5;
}
/*Populer Detail*/
.panel-popular {
    display: table-cell;
    width: 130px;
    padding-right: 10px;
}
.panel-popular h4 {
    font-size: 12px;
    line-height: 1.2em;
    height: 60px;
    margin-top: 10px;
}
.panel-popular p {
    font-size: 12px;
}
.popular-bottom h2 {
    border-bottom: 3px solid #d70000;
    display: inline-block;
    font-size: 16px;
    line-height: 10px;
    margin: 0 auto;
    padding: 10px 15px;
    text-transform: uppercase;
}
.popular-bottom.kop-judul.kop-1-a {
    position: relative;
    margin-top: 20px;
}
.outside {
    position: absolute;
    top: 3.5em;
    z-index: 50;
    width: 100%;
}
.outside a {
    color: #333;
    font-size: 15px;
    background:  #fff;
    border: 0px solid #ccc;
    padding: 18px;
    font-weight: bold;
}
.popular-img {
    width: 135px;
    height: 90px;
}
.popular-img img {
    width: 100%;
    height: auto;
}
.outside {
    position: absolute;
}
#popular-prev a.bx-prev {
    left: 0;
    position: absolute;
    background: url('../../jadwal-sholat/images/controls.png') -97px 4px #FFF;
}
#popular-next a.bx-next {
    right: 0;
    position: absolute;
    background: url('../../jadwal-sholat/images/controls.png') -43px 4px #FFF;
}
.wp-terkini-center .bx-wrapper .bx-pager{
    display:none;
}
.detail-berita a {
    color: #0078C7;
    text-decoration: underline;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
  position: fixed;
  width: 230px;
  top: 14px;
  right: 27px;
  font-size: 13px;
  z-index: 92111;
}


.alert .dismiss {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.alert  .dismiss:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.alert .dismiss {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
