
.ilwidget *,
.ilwidget *:after,
.ilwidget *:before {
  box-sizing: border-box;
}

.ilwidget_margin-top-lg {
  margin-top: 20px;
}

.ilwidget_margin-bottom-xs {
  margin-bottom: 5px;
}

.ilwidget_margin-bottom-xs:last-child {
  margin-bottom: 0;
}

.ilwidget_padding-top {
  padding-top: 15px;
}

.ilwidget_padding-bottom {
  padding-bottom: 15px;
}

.ilwidget_hideLast:last-child {
  display: none;
}

.ilwidget_small {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.ilwidget_text-right {
    text-align: right;
}

a.ilwidget {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: #0066cc;
  text-decoration: none;
}

a.ilwidget:active,
a.ilwidget:hover {
  outline: 0;
  color: #0066cc;
  text-decoration: underline;
}

a.ilwidget:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ilwidget_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .ilwidget_container {
    width: 750px;
  }
}
@media (min-width: 1007px) {
  .ilwidget_container {
    width: 990px;
  }
}
@media (min-width: 1200px) {
  .ilwidget_container {
    width: 1000px;
  }
}

.ilwidget_row {
  margin-left: -15px;
  margin-right: -15px;
}

.ilwidget_container:before,
.ilwidget_container:after,
.ilwidget_row:before,
.ilwidget_row:after {
  content: " ";
  display: table;
}

.ilwidget_container:after,
.ilwidget_row:after {
  clear: both;
}

.ilwidget_col-lg-12,
.ilwidget_col-xs-12,
.ilwidget_col-sm-2,
.ilwidget_col-sm-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.ilwidget_col-xs-12 {
  float: left;
  width: 100%;
}

@media (min-width: 1200px) {
  .ilwidget_col-lg-12 {
    float: left;
  }

  .ilwidget_col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .ilwidget_col-sm-2, .ilwidget_col-sm-10 {
    float: left;
  }

  .ilwidget_col-sm-10 {
    width: 83.33333333%;
  }

  .ilwidget_col-sm-2 {
    width: 16.66666667%;
  }
}

@media (max-width: 767px) {
  .ilwidget_hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1006px) {
  .ilwidget_hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1007px) and (max-width: 1199px) {
  .ilwidget_hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .ilwidget_hidden-lg {
    display: none !important;
  }
}
