@font-face {
	font-family: 'pearson--illustration-glyphs';
	src:url('font/pearson--illustration-glyphs.eot?-li6hy0');
	src:url('font/pearson--illustration-glyphs.eot?#iefix-li6hy0') format('embedded-opentype'),
		url('font/pearson--illustration-glyphs.woff?-li6hy0') format('woff'),
		url('font/pearson--illustration-glyphs.ttf?-li6hy0') format('truetype'),
		url('font/pearson--illustration-glyphs.svg?-li6hy0#pearson--illustration-glyphs') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="glyph-"], [class*=" glyph-"] {
	font-family: 'pearson--illustration-glyphs';
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	white-space: nowrap;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyph-compass:before {
	content: "\e600";
}

.glyph-magic:before {
	content: "\e611";
}

.glyph-tools:before {
	content: "\e634";
}

.glyph-paper-plane:before {
	content: "\e646";
}

.glyph-presentation:before {
	content: "\e66a";
}

.glyph-users:before {
	content: "\e67a";
}

.glyph-cash:before {
	content: "\e683";
}

.glyph-map:before {
	content: "\e68d";
}

.glyph-lamp:before {
	content: "\e6a3";
}

.glyph-chart-growth:before {
	content: "\e6bd";
}

.glyph-rocket:before {
	content: "\e6dd";
}

.glyph-briefcase:before {
	content: "\e6e3";
}

.glyph-icons2:before {
	content: "\e6f5";
}

.glyph-sitemap:before {
	content: "\e6f7";
}

.glyph-earth:before {
	content: "\e6f8";
}

