/* #Responsive Styles
================================================== */

/*
* Swift Framework Responsive Stylesheet v1.0
* Responsive Stylesheet for Display on Devices
* Copyright 2014, Swift Ideas
*/

/* --------------------------------------------
	LARGE DISPLAYS
-------------------------------------------- */

@media only screen and (min-width: 1200px) {
		
	/* LAYOUT */
	#container.boxed-layout, .layout-boxed #super-search, body.layout-boxed > .sf-super-search {
		width: 1200px;
	}
	.alt-bg {
		padding-left: 210px;
		padding-right: 210px;
	}
	
	/* HEADER */
	.header-overlay .header-wrap {
		margin-left: -585px;
		max-width: 1170px;
	}
	/* nav.mega-menu li .sub-container {
		width: 1140px!important;
	}*/
	nav.mega-menu li .mega .sub, nav.mega-menu li .mega .sub > .row {
		width: 1140px!important;
	}
	#header .is-sticky .sticky-header {
		max-width: 1140px;
	}
	.boxed-layout #header-section #header .is-sticky .sticky-header {
		max-width: 1230px;
	}
	.boxed-layout #header-section.header-3 #header .is-sticky .sticky-header, .boxed-layout #header-section.header-4 #header .is-sticky .sticky-header, .boxed-layout #header-section.header-5 #header .is-sticky .sticky-header {
		max-width: 1140px;
	}
	.boxed-layout #header-section .is-sticky #main-nav.sticky-header, .boxed-layout #header-section.header-6 .is-sticky #header.sticky-header {
		width: 1230px;
	}
	
	/* SWIFT SLIDER */
	#swift-slider .slide-caption-container {
		width: 1170px;
		margin-right: -585px;
	}
	
	/* PORTFOLIO */
	.has-no-sidebar .filter-wrap .select {
		padding-left: 30px;
	}
	
	/* PRODUCTS */
	.woocommerce ul.products li.product {
		margin-left: 30px;
	}
	.carousel-wrap ul.products li.product {
		margin-left: 30px!important;
		margin-right: 0!important;
	}
	body .has-no-sidebar ul.products li.product {
		width: 262px;
	}
	body .has-one-sidebar .products-standard.span8 ul.products li.product {
		width: 236px;
	}
	body .has-one-sidebar ul.products li.product {
		width: 170px;
	}
	body .has-both-sidebars ul.products li.product {
		width: 270px;
	}
	body .has-no-sidebar .products-featured ul.products li.product {
		width: 170px;
	}
	body .has-one-sidebar .products-featured ul.products li.product {
		width: 170px;
	}
	body .has-both-sidebars .products-featured ul.products li.product {
		width: 170px;
	}
	body.woocommerce .has-no-sidebar ul.products li.product, body.woocommerce .has-no-sidebar .upsells.products ul.products li.product, body.woocommerce .has-no-sidebar .related.products ul.products li.product, body.woocommerce .has-one-sidebar ul.products li.product {
		width: 262px;
	}
	body.woocommerce .has-both-sidebars ul.products li.product, body.woocommerce .has-both-sidebars ul.products li.product {
		width: 252px;
	}
	body.woocommerce .has-one-sidebar .upsells.products ul.products li.product, body.woocommerce .has-one-sidebar .related.products ul.products li.product  {
		width: 165px;
	}
	
	/* WIDGETS */
	.caroufredsel_wrapper, .product-carousel .caroufredsel_wrapper {
		margin-left: -30px!important;
	}
	.carousel-wrap .carousel-items > li {
		margin-left: 30px;
	}
	.wpb_portfolio_carousel_widget.span12 .caroufredsel_wrapper {
		min-width: 1200px;
	}
	.client-item figure {
		height: 150px;
	}
}

@media only screen and (min-width: 1250px) {
	
	/* LAYOUT */
	#container.boxed-layout, .layout-boxed #super-search, body.layout-boxed > .sf-super-search {
		width: 1230px;
	}
	
}

@media only screen and (min-width: 1500px) {
	
	.alt-bg {
		margin-left: -410px!important;
		padding-left: 410px;
		padding-right: 410px;
	}
	
	/* BLOG */
	.blog-masonry-fw .col-sm-3 {
		width: 20%;
	}
}

@media only screen and (min-width: 1980px) {

	.alt-bg {
		margin-left: -750px!important;
		padding-left: 750px;
		padding-right: 750px;
	}

}

@media only screen and (min-width: 992px) {
	.mobile-menu-open #container {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	#mobile-menu-wrap {
		visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transition: none;
		transition: none;
		-webkit-transform: none;
		transform: none;
		display: none;
	}
}

/* --------------------------------------------
	iPAD/TABLET LANDSCAPE
-------------------------------------------- */

@media only screen and (max-width: 1024px) {
	
	/* HEADER */
	#header .sticky-wrapper {
		height: auto!important;
	}
	.header-overlay .header-wrap {
		margin-left: -485px;
		max-width: 970px;
	}
	.logo-right nav .menu > li > ul {
		left: 0!important;
	}
	.logo-left nav .menu > li > ul {
		right: 0!important;
		left: auto!important;
	}
	nav.mega-menu li .sub-container {
		width: auto!important;
	}
	
	/* GENERAL */
	#one-page-nav {
		display: none!important;
	}
	.page-heading.fancy-heading {
		padding-top: 80px;
		/* padding-bottom: 80px!important; Removed by LS*/
		background-attachment: scroll;
		background-size: cover;
		-webkit-background-size: cover;
		background-position: top center!important;
	}
	.fancy-heading .heading-text {
		opacity: 1!important;
		letter-spacing: 0px!important;
	}
	.carousel-wrap a.prev, .carousel-wrap a.next, .flex-direction-nav {
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=1);
		display: none!important;
	}
	.woocommerce ul.products li.product figure figcaption {
		display: none;
	}
	.woocommerce ul.products li.product figure figcaption {
		bottom: 0;
		display: block;
	}
	.woocommerce ul.products li.product figure figcaption .shop-actions > a {
		font-size: 11px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 75%;
	}
	.woocommerce .coupon {
		width: 100%;
	}
	.woocommerce .coupon input.input-text {
		width: 70%;
	}
	.woocommerce input[name="apply_coupon"] {
		width: 28%;
	}
	.sf-parallax-video video {
		top: 0!important;
	}
	.spb_parallax_asset {
		background-attachment: scroll!important;
		background-position: center center!important;
	}
	.team-member figcaption span {
		display: none;
	}
	.spb_parallax_asset {
		background-position: 50% 0!important;
	}
	/* .spb_parallax_asset .spb_content_wrapper {
		opacity: 1!important;
		top: 50%!important;
	}*/
	.mobile-browser iframe.fw-video {
		height: 90%;
	}
	
	/* BLOG */
	.blog-masonry-fw .col-sm-3 {
		width: 33.3%;
	}
}

/* --------------------------------------------
	iPAD/TABLET PORTRAIT
-------------------------------------------- */

@media only screen and (max-width: 991px) {
	
	/* LAYOUT */
	#container.boxed-layout {
		width: auto;
	}
	.layout-boxed #super-search, body.layout-boxed > .sf-super-search {
		width: 100%;
	}
	.alt-bg {
		margin-left: -130px!important;
		padding-left: 130px;
		padding-right: 130px;
	}
	.full-width-display-wrap figure.fw-media-wrap {
		margin-left: 0;
	}	
	
	/* HEADER */
	.header-overlay .header-wrap {
		margin-left: -375px;
		max-width: 750px;
	}
	#header .is-sticky .sticky-header {
		left: 0;
	}
	nav.mega-menu li .sub-container {
		width: 720px!important;
	}
	nav.mega-menu li .mega .sub, nav.mega-menu li .mega .sub > .row {
		width: 720px!important;
	}
	.header-1 #logo, .header-2 #logo {
		width: 100%;
	}
	.header-3 #logo, .header-4 #logo, .header-5 #logo {
		width: 100%;
		padding-right: 30px;
		position: relative;
	}
	.header-6 #logo, .header-7 #logo {
		width: 100%;
		padding: 0 15px;
		left: 0;
		height: auto;
		position: relative;
	}
	#logo img {
		height: auto!important;
		min-height: auto!important;
	}
	#header .header-container {
		height: auto;
		overflow: hidden;
		padding-bottom: 10px;
	}
	nav.search-nav {
		display: none;
	}
	#logo a {
		float: left;
	}
	#main-navigation {
		display: none;
	}
	.header-1 #main-nav, .header-1 #main-nav-sticky-wrapper, .header-1 .header-left, .header-1 .header-right, .header-2 .header-right, .header-2 #main-nav, .header-2 #main-nav-sticky-wrapper {
		display: none;
	}
	
	/* FOOTER */
	.footer-spacer {
		display: none;
	}
	#footer-wrap {
		position: relative;
	}
	#copyright {
		padding: 20px;
	}
	#copyright p {
		float: none;
		text-align: center;
	}
	#copyright nav .menu {
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	#copyright nav .menu li {
		float: none;
	}
	
	/* SWIFT SLIDER */
	#swift-slider .slide-caption-container {
		width: 724px;
		margin-right: -362px;
	}
	
	/* POSTS */
	.blog-masonry-fw .col-sm-3 {
		width: 50%;
	}
	.mini-items .blog-item figure {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	
	
	/* PRODUCTS */
	body .has-no-sidebar ul.products li.product {
		width: 165px;
	}
	body .has-one-sidebar ul.products li.product {
		width: 104px;
	}
	body .has-both-sidebars ul.products li.product {
		width: 166px;
	}
	body .has-one-sidebar .products-standard.span8 ul.products li.product {
		width: 145px;
	}
	body .has-no-sidebar .products-featured ul.products li.product {
		width: 220px;
	}
	body .has-one-sidebar .products-featured ul.products li.product {
		width: 220px;
	}
	body .has-both-sidebars .products-featured ul.products li.product {
		width: 220px;
	}
	body.woocommerce .has-no-sidebar ul.products li.product, body.woocommerce .has-no-sidebar .upsells.products ul.products li.product {
		width: 165px;
	}
	body.woocommerce .has-one-sidebar ul.products li.product {
		width: 164px;
	}
	body.woocommerce .has-one-sidebar .upsells.products ul.products li.product, body.woocommerce .has-one-sidebar .related.products ul.products li.product  {
		width: 102px;
	}
	body.woocommerce .has-both-sidebars ul.products li.product, body.woocommerce .has-both-sidebars ul.products li.product {
		width: 152px;
	}
	.woocommerce ul.products li.product figure figcaption .shop-actions > a {
		width: 50%;
		font-size: 16px;
		text-align: center;
	}
	.woocommerce ul.products li.product figure figcaption .shop-actions a > i {
		margin-right: 0;
	}
	.woocommerce ul.products li.product figure figcaption .shop-actions a > i.ss-info, .woocommerce ul.products li.product figure figcaption .shop-actions a > i.ss-sugarpackets {
		font-size: 18px;
	}
	.woocommerce ul.products li.product figure figcaption .shop-actions > a span {
		display: none;
	}
	.woocommerce ul.products li.product figure figcaption .yith-wcwl-add-to-wishlist {
		width: 50%;
	}
	.woocommerce ul.products li.product figure figcaption .yith-wcwl-add-to-wishlist a {
		width: 100%;
		padding: 10px 0;
		text-align: center;
		font-size: 16px;
	}
	.woocommerce ul.products li.product figure figcaption .shop-actions a {
		-webkit-transition: font-size 0s;
		-moz-transition: font-size 0s;
		-o-transition: font-size 0s;
		transition: font-size 0s;
	}
	.woocommerce ul.products li.product figure figcaption .shop-actions > a.product-added {
		font-size: 0;
	}
	.woocommerce ul.products li.product figure figcaption a.product-added:before {
		font-size: 16px;
	}
	ul.products li.product .product-details {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	ul.products li.product .price {
		float: none;
		text-align: center;
		display: block;
	}
	table.totals_table {
		width: 40%;
	}
	#order_review table.shop_table td.product-img {
		width: 15%;
	}
	#order_review table.shop_table td.product-description {
		width: 55%;
	}
	
	/* TEAM MEMBER */
	article.type-team .profile-image-wrap {
		float: none;
		width: 100%;
	}
	article.type-team .article-body-wrap {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-top: 20px;
	}
	
	/* WIDGETS */
	.widget_lip_most_loved_widget .loved-item > a {
		max-width: 60%;
	}
	.widget_sf_infocus_widget .infocus-item h5 {
		max-width: 70%;
	}
	
	/* SHORTCODES */
	.pricing-table-price {
		font-size: 26px;
	}
	.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
		width: 22.1%;
	}
	.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
		width: 30.3%;
	}
	.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
		width: 47%;
	}
	.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
		width: 97%;
	}
	.pricing-table-wrap.bordered .pricing-table-price {
		float: none;
		margin-top: 10px;
	}
	.cta_align_left .spb_call_text, .cta_align_right .spb_call_text {
		width: 76%;
	}
	.cta_align_right .sf-button, .cta_align_left .sf-button {
		max-width: 20%;
	}
	.client-item figure {
		height: 100px;
	}
	.portfolio-showcase-wrap ul[data-columns="4"] li {
		width: 50%!important;
	}
	.portfolio-showcase-wrap ul[data-columns="4"] li .main-image {
		left: 0!important;
		width: 100%!important;
	}
	.portfolio-showcase-wrap ul[data-columns="5"] li .item-info h4 {
		width: 50%;
	}
	.spb_gallery_widget .gallery-nav {
		display: none;
	}
	.gallery .gallery-item {
		min-width: 29.3%!important;
	}
	
	/* WOOCOMMERCE */
	ul.checkout-process li:after {
		display: none;
	}
	.woocommerce .help-bar {
		text-align: center;
	}
	.woocommerce .help-bar span {
		float: none;
	}
	.woocommerce .help-bar ul {
		float: none;
		text-align: center;
	}
	.woocommerce .help-bar ul li {
		display: inline-block;
		float: none;
		margin-top: 15px;
	}
	.woocommerce-cart .woocommerce .span9, .woocommerce-cart .woocommerce .span3 {
		width: 100%;
		float: none;
		padding-left: 10px;
		clear: both;
		height: auto;
		overflow: hidden;
		padding-right: 10px;
		margin-left: 0;
	}
	.woocommerce-cart .woocommerce .span3 {
		margin-top: 40px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {	
	
	.recent-posts-list li .recent-post-image {
		float: none;
	}
	.recent-posts-list li .recent-post-details {
		margin-left: 0;
		padding: 15px 0;
	}
	.sf-count-asset .count-number {
		font-size: 50px;
	}
	
	.header-1 #logo a.mobile-cart-link, .header-2 #logo a.mobile-cart-link, .header-1 #logo a.mobile-menu-show, .header-2 #logo a.mobile-menu-show {
		display: none;
	}
	
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		clear: none!important;
	}
	.woocommerce ul.products li.product.first, .woocommerce-page ul.products li.product.first {
		clear: both!important;
	}
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n) {
		float: left!important;
	}

}


/* --------------------------------------------
	iPHONE LANDSCAPE
-------------------------------------------- */

@media only screen and (max-width: 767px) {

	.mobile-browser div.fw-video-close.is-open {
		width: 100%;
		height: 40px;
		line-height: 36px;
		position: relative;
		top: 0;
		left: 0;
	}
	.mobile-browser iframe.fw-video {
		position: relative;
		z-index: 999;
	}
	
	/* LAYOUT */
	.boxed-layout .fw-row {
		padding: 0;
	}
	.blank_spacer {
		margin-bottom: 0!important;
	}
	.header-aux-open #container {
		-webkit-transform: rotateX(0deg) scale(1) translateY(0);
		transform: rotateX(0deg) scale(1) translateY(0);
		padding-top: 150px;
		-webkit-transition: padding 0.4s;
		transition: padding 0.4s;
	}
	.header-aux-closing #container {
		padding-top: 0;
	}
	#container.boxed-layout {
		width: 100%;
	}
	[class*="span"], .uneditable-input[class*="span"], .row [class*="span"] {
		margin-bottom: 20px;
	}
	.single .container .body-text > .container {
		margin-left: 0;
		padding: 0;
	}
	.inner-page-wrap {
		margin-top: 20px;
	}
	.has-both-sidebars article, .has-both-sidebars .type-page, .has-both-sidebars .archive-page, .has-both-sidebars > .type-product, .has-both-sidebars .page-content, aside.sidebar, .has-left-sidebar article, .has-left-sidebar .type-page, .has-left-sidebar .archive-page, .has-left-sidebar .push-right {
		float: none!important;
	}
	.page-heading h1 {
		word-wrap: normal;
		white-space: normal;
	}
	/* #page-wrap {
		padding: 0 5px;
	} */
	.alt-bg {
		margin-left: -5px!important;
		margin-right: -5px!important;
		padding-left: 35px;
		padding-right: 35px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	.alt-bg.spb_portfolio_showcase_widget {
		padding-left: 0;
		padding-right: 0;
	}
	.page-heading .heading-text {
		margin-left: 0;
	}
	#breadcrumbs {
		margin-right: 0;
	}
	#back-to-top {
		padding: 7px 10px 5px;
		opacity: 0.6!important;
	}
	h4.spb-center-heading {
		margin-top: 5px;
		margin-bottom: 25px;
	}
	.spb_text_column {
		margin-bottom: 30px;
	}
	.sf-super-search .search-go {
		position: relative;
		bottom: 0;
		width: 100%;
	}
	.sf-super-search .search-go .super-search-go {
		width: 100%;
		text-align: center;
	}
	
	/* GENERAL */
	.flexslider .flex-direction-nav, .wooslider .wooslider-direction-nav {
		display: none;
	}
	.tp-bullets, .rev_slider_wrapper > .tp-leftarrow, .rev_slider_wrapper > .tp-rightarrow {
		display: none!important;
	}
	.tp-caption a.sf-button {
		padding: 0% 14%!important;
	}
	.page-heading .heading-text {
		float: none;
	}
	#breadcrumbs {
		float: none;
		margin-top: 15px;
		display: none;
	}
	h4.spb-center-heading {
		max-width: 60%;
	}
	.sf-icon.sf-icon-large {
		line-height: 84px;
	}
	.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea, .wpcf7 select, .wpcf7 textarea {
		width: 100%;
		max-width: 100%;
	}
	.full-width-area.blog-masonry-fw {
		padding: 0 20px;
	}
	.spb_parallax_asset.parallax-window-height .spb_content_wrapper {
		top: 0!important;
		margin-top: 0!important;
	}
	
	/* HEADER */
	#top-header {
		display: none;
	}
	.tb-ss {
		display: block;
	}
	.header-overlay .header-wrap {
		margin-left: 0;
		max-width: 100%;
		left: 0;
		padding: 0;
		position: relative;
	}
	.header-overlay .page-heading {
		padding-top: 35px!important;
	}
	.page-heading.fancy-heading {
		padding-top: 80px!important;
	}
	#header .sticky-wrapper {
		height: auto!important;
	}
	#header .is-sticky .sticky-header {
		padding-top: 10px;
	}
	#header-section:before, #header .is-sticky .sticky-header, #header-section .is-sticky #main-nav.sticky-header, #header-section.header-6 .is-sticky #header.sticky-header, .ajax-search-wrap {
		top: 0!important;
	}
	#super-search {
		padding: 10px 0;
		overflow: hidden;
	}
	#super-search .search-options {
		padding: 0 20px;
		text-align: center;
	}
	#super-search .search-go {
		padding-right: 20px;
		text-align: center;
	}
	#top-bar {
		padding: 0 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	#top-bar .tb-left {
		float: left;
		width: auto;
		margin-bottom: 0;
	}
	#top-bar .tb-right {
		float: right;
		width: auto;
		margin-bottom: 0;
	}
	#top-bar .tb-left, #top-bar .tb-right {
		display: none;
	}
	#header-section #header, #header-section.header-4 #header, #header-section.header-5 #header {
		padding: 0;
	}
	#header-section.header-5 #header {
		padding: 15px 0 10px;
	}
	#header-section.header-5 {
		margin-top: 20px;
	}
	#header-section > #main-nav {
		border-top: 0;
	}
	#top-header .th-left, #top-header .th-right {
		margin-bottom: 0;
	}
	#top-header .th-left > nav, #top-header .th-right > nav,  {
		display: none;
	}
	
	/* SWIFT SLIDER */
	#swift-slider, #swift-slider ul.slides, #swift-slider ul.slides > li {
		min-height: 300px;
		max-height: 300px;
	}
	#swift-slider .slide-caption-container {
		width: 100%;
		margin-right: -50%;
	}
	#swift-slider .flex-caption.caption-right, #swift-slider .flex-caption.caption-left {
		width: 100%;
	}
	#swift-slider .flex-caption .flex-caption-headline {
		background: rgba(255,255,255,0.8)!important;
	}
	#swift-slider .flex-caption .flex-caption-details .caption-details-inner {
		display: none!important;
	}
	#swift-slider .flex-caption-large {
		margin: 6% 10% 0;
	}
	#swift-slider .flex-caption-large .excerpt {
		display: none;
	}
	
	/* FOOTER */
	#base-promo p {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	#base-promo p.footer-promo-text {
		margin-bottom: 0;
	}
	#base-promo a.sf-button {
		margin: 0;
	}
	#footer {
		/*padding: 10px;*/
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	#copyright nav .menu li {
		float: none;
		width: auto;
		border-top-width: 0;
	}
	
	/* POST */
	.standard-post-author {
		display: none;
	}
	.standard-post-details {
		margin-top: 20px;
	}
	.tags-link-wrap .comments-likes {
		float: none;
		margin-top: 20px;
		height: auto;
		overflow: hidden;
		display: block;
		text-align: left;
		width: 100%;	
	}
	.pagination-wrap.inf-scroll-pagination {
		display: block!important;
		visibility: visible!important;
	}
	.related-items li {
		width: 50%;
		float: left;
		min-height: 200px;
	}
	.blog-standard {
		padding: 0;
	}
	.timeline {
		left: 30px!important;
	}
	#infscr-loading {
		margin: -20px 15px 0;
	}
	.masonry-items .blog-item {
		width: 100%;
	}
	
	/* PORTFOLIO */
	.filterable-items .portfolio-item {
		width: 49%;
	}
	ul.portfolio-filter-tabs {
		padding-top: 1px;
	}
	ul.portfolio-filter-tabs li.all, ul.portfolio-filter-tabs li.has-items {
		width: 50%;
		margin-top: -1px;
	}
	ul.portfolio-filter-tabs li:first-child a, ul.portfolio-filter-tabs li:last-child a {
		border-radius: 0;
	}
	.has-no-sidebar .filter-wrap .select {
		padding-left: 0;
	}
	.portfolio-details-wrap .item-link {
		float: none;
		display: block;
		margin-top: 20px;
	}
	.full-width-display-wrap figure.fw-media-wrap {
		margin-left: -5px!important;
	}
	.portfolio-options-bar ul.pagination-wrap {
		width: 40%;
	}
	.full-width-display-wrap .portfolio-options-bar {
		position: relative;
		top: 0;
		height: auto;
		overflow: hidden;
		margin-top: 20px;
	}
	
	/* PRODUCTS */
	body .has-no-sidebar ul.products li.product {
		width: 21%;
		margin-left: 4%;
	}
	body .has-both-sidebars ul.products li.product {
		width: 274px;
	}
	body .has-no-sidebar .products-featured ul.products li.product {
		width: 170px;
	}
	body .has-one-sidebar .products-featured ul.products li.product {
		width: 170px;
	}
	body .has-both-sidebars .products-featured ul.products li.product {
		width: 180px;
	}
	body.woocommerce .has-no-sidebar ul.products li.product, body.woocommerce .has-no-sidebar .upsells.products ul.products li.product {
		width: 22%;
	}
	body.woocommerce .cart-collaterals .cross-sells ul.products li.product {
		width: 48%;
	}
	body.woocommerce .has-one-sidebar ul.products li.product {
		width: 30%;
		margin-left: 5%;
	}
	body.woocommerce .has-one-sidebar .upsells.products ul.products li.product, body.woocommerce .has-one-sidebar .related.products ul.products li.product  {
		width: 48%;
		margin-right: 2%;
		margin-left: 0;
	}
	body.woocommerce .has-both-sidebars ul.products li.product, body.woocommerce .has-both-sidebars ul.products li.product {
		width: 49%;
		margin-left: 2%;
	}
	body .product-carousel ul.products li.product {
		margin-left: 20px!important;
		margin-right: 10px!important;
	}
	body.woocommerce .has-one-sidebar ul.products li.product.first, body.woocommerce .has-no-sidebar ul.products li.product.first, body.woocommerce .has-both-sidebars ul.products li.product.first {
		margin-left: 0;
	}
	.woocommerce .woocommerce-message a.button {
		display: block;
	}
	#order_review table.shop_table td.product-img {
		width: 20%;
	}
	#order_review table.shop_table td.product-description {
		width: 50%;
	}
	#order-details { 
		padding-right: 15px;
	}
	.product-carousel ul.products li {
		float: left!important;
	}
	
	/* WIDGETS */
	.caroufredsel_wrapper, .product-carousel .caroufredsel_wrapper {
		margin-left: 0!important;
	}
	.carousel-wrap .carousel-items > li {
		margin-right: 30px;
		margin-left: 0!important;
	}
	.col-sm-12 .carousel-wrap .carousel-overflow {
		margin-right: -25px;
		margin-left: -15px;
		padding-left: 15px;
	}
	.alt-bg.col-sm-12 .carousel-wrap .carousel-overflow {
		margin-left: -15px;
	}
	.carousel-wrap .carousel-items > li:last-child {
		margin-right: 0;
	}
	.carousel-wrap.product-carousel {
		margin-left: -20px;
	}
	.carousel-wrap.clients-wrap .carousel-overflow {
		margin-left: -15px;
	}
	.post-info > span {
		display: inline-block;
		max-width: 70%;
	}
	.article-body-wrap .share-links .share-text {
		padding: 8px 12px;
	}
	.article-body-wrap .share-links ul li > a, .article-body-wrap .share-links ul li > div {
		padding: 8px 14px;
	}
	
	/* SHORTCODES */
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
		height: auto;
		overflow: hidden;
	}
	.impact-text-wrap {
		text-align: center;
	}
	.wpb_impact_text .wpb_call_text {
		width: 100%;
	}
	.wpb_impact_text .wpb_button {
		position: relative;
		display: inline-block;
		margin: 10px 0 0 0!important;
		float: none;
		max-width: 100%;
	}
	.wpb_featured_clients_widget h4 {
		text-align: center;
	}
	.tp-caption a.sf-button {
		font-size: inherit;
		padding: 4% 8%;
		line-height: auto;
	}
	.portfolio-grid {
		overflow: hidden;
	}
	.portfolio-grid .tooltip {
		display: none!important;
	}
	.columns-4 .pricing-table-column {
		width: 50%;
	}
	.pricing-table-wrap.bordered .pricing-table-price {
		float: right;
		margin-top: 0;
	}
	.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
		width: 45.3%;
		margin-bottom: 10px;
	}
	.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
		width: 95.5%;
		margin-bottom: 10px;
	}
	.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
		width: 45.3%;
	}
	.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
		width: 95.5%;
	}
	.labelled-pricing-table.columns-5 .pricing-table-column {
		width: 50%;
	}
	.labelled-pricing-table.columns-4 .pricing-table-column {
		width: 100%;
	}
	.labelled-pricing-table.columns-3 .pricing-table-column {
		width: 50%;
	}
	.labelled-pricing-table.columns-2 .pricing-table-column {
		width: 100%;
	}
	.labelled-pricing-table .label-column {
		display: none;
	}
	.labelled-pricing-table .pricing-table-label-row {
		display: block;
		padding-bottom: 0;
	}
	.spb_featured_clients_widget h4 {
		text-align: center;
	}
	.spb_tweets_slider_widget .text-large .tweet-text, .testimonials-slider .testimonial-text.text-large {
		font-size: 16px;
		line-height: 28px;
	}
	.spb_parallax_asset {
		background-attachment: scroll;
	}
	.cta_align_left .spb_call_text, .cta_align_right .spb_call_text {
		float: none;
		width: 100%;
	}
	.cta_align_right .sf-button, .cta_align_right .impact-text-arrow, .cta_align_left .sf-button, .cta_align_left .impact-text-arrow {
		position: relative;
		max-width: 100%;
		margin-top: 30px;
		right: 0;
	}
	.alt-bg .portfolio-showcase-wrap {
		width: 100%!important;
		margin-left: 0!important;
	}
	.portfolio-showcase-wrap ul {
		margin-right: 0!important;
		white-space: normal;
		margin-bottom: 0;
	}
	.portfolio-showcase-wrap ul[data-columns="4"] li, .portfolio-showcase-wrap ul[data-columns="5"] li {
		width: 100%!important;
		height: auto!important;
		display: block;
	}
	.portfolio-showcase-wrap ul[data-columns="4"] li .main-image, .portfolio-showcase-wrap ul[data-columns="5"] li .main-image {
		left: 0!important;
		width: 100%!important;
		top: 0!important;
		opacity: 1;
		position: relative;
		height: auto;
	}
	.portfolio-showcase-wrap ul li .item-info, .portfolio-showcase-wrap ul li .item-logo {
		display: none!important;
	}
	.team-member figcaption ul {
		float: none;
		text-align: center;
		width: 100%;
	}
	.team-member figcaption ul > li {
		float: none!important;
	}
	.caroufredsel_wrapper {
		min-width: 100%!important;
	}
	.spb_parallax_asset {
		width: auto;
	}
	.spb_impact_text .spb_call_text {
		border-left: 0;
		padding-left: 0;
	}
	.spb_impact_text .spb_call_text p {
		line-height: inherit;
	}
	.widget.flickr-widget ul {
		margin-right: 0;
	}
	.sf-image-banner > img {
		width: auto;
		height: auto;
	}
	.sf-image-banner > .image-banner-content {
		bottom: 50%!important;
	}
	.chart-shortcode {
		margin: 0 auto;
	}
	a.sf-button.sf-icon-reveal:hover i {
		display: none!important;
	}
	a.sf-button.sf-icon-reveal:hover span.text {
		padding: 18px 50px!important;
	}
	.testimonials-slider .testimonial-text {
		padding: 0 5%;
	}
	.gallery .gallery-item {
		min-width: 0;
		width: 46%!important;
	}
	
	/* WOOCOMMERCE */
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
		float: none!important;
		width: 100%!important;
	}
	.my-account-left {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}
	.my-account-right {
		float: none;
		width: 100%;
	}
	table.wishlist_table .product-price, table.wishlist_table .product-stock-status {
		display: none;
	}
	.woocommerce-cart .woocommerce .span9, .woocommerce-cart .woocommerce .span3 {
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.woocommerce table.shop_table, .woocommerce-page table.shop_table {
		margin-bottom: 30px;
		border-bottom: 0;
	}
	.woocommerce-page .cart-collaterals {
		margin-bottom: 30px;
	}
	.woocommerce table.shop_table .product-thumbnail, .woocommerce table.shop_table .product-unitprice, .woocommerce table.shop_table .product-price {
		display: none;
	}
	.woocommerce table.shop_table .product-name .price, .woocommerce-cart table.shop_table .product-name .amount {
		display: block;
	}
	.woocommerce .shipping-calc {
		float: none;
		width: 100%;
		height: auto;
	}
	.woocommerce .coupon {
		float: none;
		width: 100%;
		margin-left: 0;
		height: auto;
		overflow: hidden;
		margin-bottom: 40px;
		padding-top: 10px;
	}
	.woocommerce .help-bar {
		margin-bottom: 20px;
	}
	.woocommerce .help-bar ul li, .woocommerce .help-bar ul li:first-child {
		margin: 15px 7px 0;
	}
	.already-logged-in, .checkout-process, #billing .proceed {
		display: none;
	}
	.checkout-pane {
		display: block!important;
		margin-top: 40px;
	}
	#billing {
		margin-top:80px;
	}
	ul.checkout-process {
		display: none;
	}
	.woocommerce form #billing #shiptobilling {
		float: none;
		margin: 0;
	}
	.woocommerce span.onsale, .woocommerce .wc-new-badge, .woocommerce .out-of-stock-badge {
		display: none;
	}
	.woocommerce div.product form.cart div.quantity {
		float: none;
		margin-bottom: 20px;
	}
	.summary .product_meta .need-help, .summary .product_meta .leave-feedback {
		display: block;
		float: none;
		margin-bottom: 5px;
	}
	body .woocommerce-shop-page ul.products li.product, body .product_list_widget > div > ul.products li.product {
		width: 47.6%!important;
		margin-left: 0!important;
		margin-right: 20px!important;
		clear: none!important;
		margin-bottom: 2.992em;
	}
	body .woocommerce-shop-page ul.products li.product:nth-child(even), body .product_list_widget > div > ul.products li.product:nth-child(even) {
		margin-right: 0!important;
	}
	ul.products li.product .product-details {
		float: none;
		text-align: center;
		min-height: 40px;
	}
	.woocommerce ul.products li.product .price {
		text-align: center;
		float: none;
		margin-top: 10px;
		margin-bottom: 0;
	}
	#order_review table.shop_table {
		border-bottom: 1px solid #e3e3e3;
	}
	#order_review table.shop_table td.product-description {
		width: 40%;
	}
	#order_review table.shop_table td.product-unitprice, #order_review table.shop_table td.product-quantity, #order_review table.shop_table td.product-subtotal {
		width: 20%;
	}
	table.totals_table {
		width: 100%;
	}
	#commentform label[for="rating"] {
		display: block;
		float: none;
	}
	.woocommerce p.stars, .woocommerce-page p.stars {
		height: auto;
	}
	#commentform .woocommerce p.stars a, #commentform .woocommerce-page p.stars a {
		margin-bottom: 10px;
	}
	
	/* Prettyphoto */
	.pp_pic_holder.pp_default { width: 100%!important; left: 0!important; overflow: hidden; }
	div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
	div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
	.pp_content { width: 100%!important; height: auto!important; }
	.pp_fade { width: 100%!important; height: 100%!important; }
	a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
	#pp_full_res img { width: 100%!important; height: auto!important; }
	.pp_details { width: 100%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
	a.pp_close { right: 10px!important; top: 10px!important; }
	.pp_description {
		max-width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

/* --------------------------------------------
	iPHONE PORTRAIT
-------------------------------------------- */

@media only screen and (max-width: 479px) {

	/* GENERAL */
	a.sf-button {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	/* HEADER */
	#super-search-go {
		width: 69%;
	}
	#logo img, #logo img.retina {
		max-width: 200px;
		height: auto!important;
		min-height: 0!important;
	}
	
	/* FOOTER */
	#copyright nav .menu li {
		border-top-width: 1px;
		border-left: 0;
	}
	#copyright nav .menu li:first-child {
		border-top-width: 0;
	}
	
	/* SWIFT SLIDER */
	#swift-slider, #swift-slider ul.slides, #swift-slider ul.slides > li {
		min-height: 220px;
		max-height: 220px;
	}
	
	/* BLOG */
	.blog-aux-options li {
		display: block;
		margin-left: 0;
	}
	.blog-aux-options li form input {
		width: 100%;
	}
	.comment-meta-actions {
		position: relative;
		margin-bottom: 10px;
	}
	.comment-meta-actions .edit-link {
		margin-left: 0;
	}
	.article-body-wrap .share-links .share-text {
		display: none;
	}
	.article-body-wrap .share-links ul li > a, .article-body-wrap .share-links ul li > div {
		padding: 8px 10px;
	}
	.article-body-wrap .share-links ul li:first-child {
		border-left: 0;
	}
	.post-info > span {
		margin-bottom: 10px;
		max-width: 100%;
	}
	.masonry-items .blog-item {
		width: 100%;
	}
	.standard-post-content .quote-excerpt, .standard-post-content .link-excerpt {
		margin: 0 -30px 30px;
		padding: 0 30px 20px;
	}
	.standard-post-content .quote-excerpt:before, .standard-post-content .quote-excerpt:after {
		display: none;
	}
	.related-items li {
		min-height: 160px;
	}
	.related-item figure .img-holder {
		height: 86px;
		line-height: 10px;
	}
	.pagination-wrap li.prev, .pagination-wrap li.next {
		width: 25%;
	}
	.pagination-wrap li.prev a, .pagination-wrap li.next a {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	/* PORTFOLIO */
	.filterable-items .portfolio-item {
		width: 100%;
	}
	.portfolio-options-bar ul.pagination-wrap, .portfolio-options-bar .share-links ul.bar-styling {
		width: 100%;
		float: none;
		text-align: center;
	}
	.portfolio-options-bar ul.pagination-wrap {
		margin-bottom: 10px;
	}
	.portfolio-options-bar .share-links ul li>div {
		padding: 8px 12px 6px;
	}
	.portfolio-options-bar .share-links ul li>a {
		padding: 8px 12px;
	}
	
	
	/* SHORTCODES */
	.columns-3 .pricing-table-column {
		width: 100%;
		margin-bottom: 10px;
	}
	.columns-3 .pricing-table-column {
		border-left-width: 1px;
	}
	.columns-2 .pricing-table-column {
		width: 100%;
	}
	.bordered.columns-4 .pricing-table-column, .bordered_alt.columns-4 .pricing-table-column {
		width: 97%;
	}
	.bordered.columns-3 .pricing-table-column, .bordered_alt.columns-3 .pricing-table-column {
		width: 97%;
	}
	.bordered.columns-2 .pricing-table-column, .bordered_alt.columns-2 .pricing-table-column {
		width: 97%;
		margin-bottom: 10px;
	}
	.bordered.columns-1 .pricing-table-column, .bordered_alt.columns-1 .pricing-table-column {
		width: 97%;
	}
	.labelled-pricing-table.columns-4 .pricing-table-column, .labelled-pricing-table.columns-5 .pricing-table-column, .columns-4 .pricing-table-column {
		width: 100%;
	}
	.labelled-pricing-table.columns-5 .pricing-table-column {
		margin-top: 0;
		padding-left: 0;
	}
	.labelled-pricing-table.columns-5 .column-highlight .lpt-button-wrap {
		padding: 20px 10px;
	}
	.labelled-pricing-table.columns-5 .pricing-table-package {
		padding: 9px 5px 8px;
	}
	.carousel-wrap.product-carousel {
		margin-left: -10px;
	}
	.jobs > li > img {
		display: none;
	}
	.jobs > li .job-details.has-job-image {
		margin-left: 0;
	}
	h3.spb-center-heading, h4.spb-center-heading {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.nav-tabs>li {
		width: 50%;
	}
	.spb_tabs .nav-tabs li a {
		border-left-width: 1px;
	}
	.spb_tabs .nav-tabs li:first-child a, .spb_tabs .nav-tabs li:last-child a {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	a.sf-button.sf-icon-reveal i {
		display: none;
	}
	a.sf-button.sf-icon-reveal span.text {
		padding: 13px 20px;
		max-width: 100%;
	}
	a.sf-button.sf-icon-reveal:hover span.text {
		padding: 13px 20px;
	}
	.gallery-columns-3 .gallery-item {
		width: 100%!important;
		margin: 0 0 20px;
	}
	
	/* WOOCOMMERCE */
	.woocommerce-count-wrap {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: none;
		text-align: center;
		margin-bottom: 30px;
	}
	.woocommerce table.shop_table tr td.product-quantity .quantity {
		margin-right: 0;
		margin-left: 12px;
	}
	.woocommerce .quantity .minus, .woocommerce .quantity .plus {
		display: none;
	}
	.woocommerce .quantity input.qty {
		border-left-width: 0;
	}
	.woocommerce .summary .quantity .minus, .woocommerce .summary .quantity .plus {
		display: block;
	}
	.woocommerce .summary .quantity input.qty {
		border-left-width: 1px;
	}
	ul.checkout-process li {
		width: 50%;
	}
	.woocommerce form #billing .form-row label {
		float: none;
		width: 100%;
	}
	.woocommerce form #billing .form-row input {
		float: none;
		width: 100%;
	}
	.woocommerce-checkout .form-row .chzn-container {
		width: 100%!important;
	}
	.woocommerce form #billing .form-row textarea {
		float: none;
		width: 100%;
	}
	.change_password_form p.form-row {
		width: 100%;
		float: none;
	}
	table.shop_table.my_account_orders .order-date, table.shop_table.my_account_orders .order-amount {
		display: none;
	}
	table.wishlist_table .product-thumbnail {
		display: none;
	}
	.woocommerce .shipping-calculator-form .form-row-left {
		width: 100%;
		margin: 0 0 15px;
	}
	.woocommerce .shipping-calculator-form .update-totals-button {
		width: 100%;
	}
	.track_order p.form-row {
		width: 100%;
		float: none;
		margin-bottom: 25px;
	}
	.woocommerce #account_details .new-here-text {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.woocommerce #account_details .bag-buttons {
		width: 100%;
		float: none;
		margin-top: 20px;
	}
	.woocommerce div.product div.images {
		width: 100%;
		float: none;
		padding-bottom: 0;
		margin-bottom: 30px;
	}
	.woocommerce div.product div.summary {
		width: 100%;
		float: none;
	}
	body .product-carousel ul.products li.product {
		margin-left: 10px!important;
		margin-right: 0!important;
	}
	body .woocommerce-shop-page ul.products li.product,  body .product_list_widget > div > ul.products li.product {
		width: 46%!important;
	}
	#product-img-slider li a.zoom {
		display: none;
	}
	.woocommerce-info a.showcoupon {
		display: block;
	}
	#order_review table.shop_table th.product-img, #order_review table.shop_table td.product-img {
		display: none;
	}
	.woocommerce #payment #place_order {
		width: 100%;
		height: 60px;
		line-height: 60px;
	}
	.woocommerce .coupon input.input-text {
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.woocommerce input[name="apply_coupon"] {
		width: 100%;
	}
	.sf-icon-box.sf-icon-box-left-icon-alt > i {
		font-size: 24px;
		width: 24px;
	}
	.sf-icon-box.sf-icon-box-left-icon-alt .sf-icon-box-content-wrap {
		margin-left: 45px;
	}
}