@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v7/3SAE4NCzd9eXzwfAD3GpoQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v7/W3Ji6ZFVeO-qwRsEHAx9qQ.ttf) format('truetype');
}
