html, body{
	margin: 0px;
	padding: 0px;
}

.footer-internet-main{
	width: 100%;
	background: #3e3e40;	
	font-family:'Open Sans', Arial, Verdana, sans-serif;
	font-weight: 400;
	line-height: 18px;
	text-align: left !important;
}

.footer-internet-main .mb0{
	margin-bottom: 0px !important;
}

.footer-internet-main .pb0{
	padding-bottom: 0px !important;
}

.footer-internet-main a{
	outline: none !important;
}

.footer-internet{
	width: 1000px;
	overflow: hidden;
	margin: 0px auto;
}

.footer-internet-column {
	width:25%;
	float:left;
}

.cat-group {
	padding:20px;
}

.cat-group .cat-title {
	width:100%;
	display:block;
	margin:0 0 10px 0;
	font-family:'Open Sans', Arial, Verdana, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	text-transform:uppercase;
	color:#fff;
}

.cat-group .cat-title a, .cat-group .cat-title a:visited{
	color: #FFFFFF !important;	
	font-size: 18px;
	line-height: 18px;
}

.cat-group a, .cat-group a:visited {
	width:100%;
	display:block;
	margin:0 0 5px 0;
	font-size: 12px;
	color:#ababab !important;
	text-decoration: none;
}

.cat-group a:hover {
	text-decoration:underline;
}

#ibu_footer_container {
	width:100%;
	float:left;
	background: #3e3e40;
}

#ibu_traffic {
  width:100%;
  margin:0px auto 0px auto;
  text-align:center;
  background: #3e3e40;
}

/* specific relational values for various sites */
/* hmultiplex */
#main_page #ibu_footer_container{
	margin-bottom: 20px;
}
#main_page .cat-group a, #main_page .cat-group a:visited{
}
/* hmultiplex */