/* CSS Document 
Autor: Liviu Jurubita
juru@protv.ro 
copyright PRO TV S.A. 2011
*/
/*@import(droid.css);*/
/* RESET */
html{margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width:100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}body{font-size:10px; font-family:Verdana, Geneva, sans-serif;}ul,li{list-style:none;}
a{color:#275586; text-decoration:none;}
a:active{ outline:none;}
object, embed{outline:none;}
.clear, .clear0{float:none; clear:both;}
h1, h2, h3, h4, h5 {font-size:10px;}
/* END RESET */

/* ADMIN
-------------*/
#mb_center{font-size:14px;}

/* LAYOUT --------------------------------------*/
body{background-color:#f1f1f1;}
#centerWhite{  width:1000px; margin:0 auto} 
#bara_sus{position:relative; z-index:100; background:#ffffff}
.fake-bg{height:213px; position:absolute; width:100%; left:0px; background: transparent url(../img/bg/bg-header-2011.gif) repeat-x top}
.fake-bg td{background:transparent url(../img/bg/body-new.jpg) no-repeat center top; width:100%}
.header{background: url("../img/bg/body-new.jpg") repeat-x scroll center top transparent; height: 213px; overflow: hidden;}

.masterPositionContainer{width:1000px; margin:0 auto; position:relative; z-index:1;background:transparent url(../img/bg/white-1000.gif) repeat-y center;}
.containerNoPadding{width:1000px;margin:0 auto; clear:both; padding:0;}
.container{width:980px; margin:0 auto; clear:both; padding:10px; position:relative; z-index:100;}
.leftSide{width:718px; float:left; padding:5px 0; margin:0 10px;border:1px solid #dadada}
.rightSide{width:220px; padding:10px 10px 10px 15px; float:left;}
.leftGray{width:160px; padding:10px 0 10px 10px; float:left; clear:both; }
.centerCol{width:538px; margin-left:9px; border-left:1px solid #dadada; float:left;}

.newsArtWork{padding:15px 0; text-align:center;}
.newsLeft{float:left; width:300px; border-right:1px solid #dadada; padding:15px 10px}
.newsRight{float:right; width:197px; overflow:hidden;border-left:1px solid #dadada; margin-left:-1px;margin-left:-1px; padding:15px 10px; font-size:13px;}
.mainNews, .oneSmallMainNews, .lineNews{padding:15px 10px; font-size:13px;}


.ilikeit-top-template {width:502px; overflow:hidden; background:#000000 url(../img/bg/ilikeit-home.jpg) no-repeat top; padding:0px 18px 10px; position:relative}
.categorie-ilikeit{width:100%; height:85px; }
.ilikeit-top-template h1{position:absolute; bottom:-10px; width:200px;}
.ilikeit-top-template h1 a{color:#ffffff; font-family:'Droid Sans',Tahoma,Arial !important; font-size:16px; font-weight:normal; background:#3f9ec0; padding:40px 30px;}
.ilikeit-top-template img{width:500px; height:333px;}
.ilikeit-top-template a{display:block;}
.ilikeit-bottom-template{width:502px; overflow:hidden;background:#000000; padding:0px 18px 10px;}
.ilikeit-bottom-template a{display:block;}
.ilikeit-bottom-template a img{float:left}
.ilikeit-bottom-template h1 {width:201px; float:right;}
.ilikeit-bottom-template h1 a{color:#ffffff; font-family:'Droid Sans',Tahoma,Arial !important; font-size:16px; font-weight:normal; background:#1d81e8; padding:40px 30px;}
.ilikeit-top-template h1 a:hover{background-color:#48b5dc;}
.ilikeit-bottom-template h1 a:hover{background-color:#4299f2;}


.csid-meatless{background:#cbecfd url(../img/csid-meatless.jpg) no-repeat top; padding: 131px 0px 0px;}
.csid-meatless-content{background:#fff;  padding:14px; width:476px; margin:0 auto}
.csid-meatless-content h1{font-size:27px; line-height:27px; padding-bottom:18px;}
.csid-meatless-content h1 a:hover{color:#275586}

.w65{width:65px}
.w100{width:100px}
.w125{width:125px;}
.w130{width:130px;}
.w178{width:158px; padding-right:10px}
.w197 {width:197px; overflow:hidden;}
.w200{width:200px;}
.w218{width:218px;}
.w230{width:230px;}
.w295{width:295px;}
.w370{width:370px; padding-left:10px;}
.w430{width:430px;}
.w460{width:460px;}
.w600{width:600px; margin:0 0 0 30px;}
.miniVideo{margin:15px 10px; width:518px;}
.block {display:block;}

/* COLORS, BORDERS, PADDINGS, ALIGNMENTS ------------------*/
.bgWhite {background-color:#FFFFFF !important;}
.bgGray{background-color:#f0f0f0}
.gray2boxes{background:#FFF url(../img/bg/double-gray.gif) repeat-y;}
.txtWhite{color:#ffffff;}
.miniVideoHead{background:transparent url(../img/bg/blue-video-header.gif) repeat-x; height:30px; clear:both;}
.blueGradient{background:#2464a9 url(../img/bg/blue-video-main.gif) repeat-x top;}
.deschidereStire h1 a:hover, .deschidere2 h1 a:hover, .newsLeft h1 a:hover, .newsRight h1 a:hover, .mainNews h1 a:hover, .oneSmallMainNews h1 a:hover, .lineNews h1 a:hover, .teArInteresa .titles:hover, .results li h1 a:hover{color:#275586}

/*BORDERS--------------------------------*/
.borderGray{border:1px solid #dadada}
.bottomBorder{border-bottom:1px solid #dadada; clear:both;}

/*PADDINGS ------------------------------*/
.noPadding{padding:0px;}
.padding051010{margin:0 5px 10px 10px;}
.newsLeft .related, .newsRight .related, .mainNews .related, .oneSmallMainNews .related{padding-left:20px;}
.oneSmallMainNews .related{clear:both;}
.padding10000{margin:10px 0 0 0;}
.padding1010010{padding:10px 10px 0;}
.padding0101010{padding:0 10px 10px;}
.margin001010{margin: 0 0 10px 10px}
.padding010{padding:0 10px}
.padding10{padding:10px;}
.margin015150{margin:0 15px 15px 0;}
.margin00015{margin: 0 0 0 15px;}
.margin10{margin:10px;}

/*ALIGNMENTS----------------------------*/
.right{float:right;}
.left {float:left;}
.center {text-align:center;}

/*MISC --------------------------*/
.special{position:absolute; top:0; left:0;}
.relative {position:relative; display:block;}
.related{color:#da0000; list-style:outside;  padding-left:40px}
.related li{ padding:15px 0 0 0px;list-style-type:disc;}
.related a{font-family:Tahoma, Geneva, sans-serif; font-size:14px; color:#000; text-decoration:none; font-weight:normal;}
.related a:hover{text-decoration:none; color:#275586}
.redCategoryStatic{background:#fff url(../img/bg/arrow-breadcrumb.gif) no-repeat right; color:#275586; display:block; padding:0px 15px 0px 0px; font-family:Tahoma, Geneva, sans-serif; font-size:14px;  float:left; margin-bottom:10px; font-weight:bold; text-transform:uppercase}
.redCategoryStatic:hover {color:#000;}
.rightBox .redCategoryStatic {
    background: url("../img/bg/category-arrow.gif") no-repeat scroll right center #DA0000;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 15px 5px 5px;
    text-decoration: none;
}
.rightBox .redCategoryStatic:hover{background-color:#c31515; color:#fff;}
.date{color:#989898; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
#comments{width:460px; float:left; margin:10px;}


/* ALEGERI LOCALE ----------------------------*/
.mainNews .iconAlegeriLocale2012, .oneSmallMainNews .iconAlegeriLocale2012{display:block; height:34px; width:518px; background:transparent url(../img/icon-alegeri-2012.gif) 0 0px; padding:0px;}
.newsLeft .iconAlegeriLocale2012{display:block; height:34px; width:300px; background:transparent url(../img/icon-alegeri-2012.gif) 0 -34px; padding:0px;}
.newsRight .iconAlegeriLocale2012{display:block; height:34px; width:197px; background:transparent url(../img/icon-alegeri-2012.gif) 0 -68px; padding:0px;}
.deschidere2 .iconAlegeriLocale2012{display:block; height:34px; width:336px; background:transparent url(../img/icon-alegeri-2012.gif) -90px 0px; padding:0px;}
.deschidere1 .iconAlegeriLocale2012{display:block; height:34px; width:260px; background:transparent url(../img/icon-alegeri-2012.gif) -140px 0px; padding:0px;}
.iconAlegeriLocale2012 span{display:none;}
.threeNewsInRow{display:block; background:#083c6e url(../img/bg/pagina-alegeri.jpg) top no-repeat;  padding:80px 0 25px 0;}
.news3templates{float:left; width:200px; margin-left:30px;}
.news3templates h1 a{color:#f4f4f4; font-size:18px;font-family: 'Droid Sans', Tahoma, Arial;font-weight: 400; display:block; padding-top:10px;}
.news3templates h1 a:hover{color:#CCC}
.news3templates .playSmall {clip:rect(80px 42px 110px 0px);display:block;position:absolute;right:-110px;top:85px;}
.news3templates .playSmall:hover{clip:rect(110px 42px 140px 0px);top:55px;}


.newsDateRow{padding:15px 10px;}
.newsDateRow .date{float:left; width:100px; padding-right:10px;}
.newsDateRow h1{font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-weight:700; font-size:20px; line-height:24px; padding:0px 0 10px; clear:both;}
.newsDateRow h1 a:hover, .white3News .news3templates a:hover{color:#275586}
.newsDateRow .playSmall {clip:rect(80px 42px 110px 0px);display:block;position:absolute;right:-110px;top:35px;}
.nnewsDateRow .playSmall:hover{clip:rect(110px 42px 140px 0px);top:5px;}
.catFunny{font-size:20px; padding:20px; display:block;}
.white3News .news3templates a{color:#000;}

/* TEXT STYLES--------------------------------*/
.leftSide{font-family:Arial, Tahoma, Geneva, sans-serif; font-size:15px; font-weight:normal; color:#000;}
.deschidere2 h1{font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-weight: 700; font-size:20px; line-height:24px; letter-spacing:-0.5px; padding:10px 0 15px 0; }
.deschidereStire h1{font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-weight: 700; font-size:34px; line-height:35px; letter-spacing:-1px; padding:15px 0;}
.leftNews h1 a{display:block; font-family: 'Droid Sans', Tahoma, Arial !important; font-style:normal;  font-size:14px; line-height:17px; padding:15px 10px; background:#878787;  width:140px; }
.leftNews h1 a:hover{background:#777777; text-decoration:none}
h1{font-family:Tahoma, Geneva, sans-serif; font-weight:bold;}
h1 a{color:#000;}
.newsLeft h1 {font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-weight:700; font-size:20px; line-height:24px; letter-spacing:-0.5px; clear:both; padding:0px 0 15px}
.lineNews h1 {font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-weight:700; font-size:20px; line-height:24px; letter-spacing:-0.5px; clear:both;}
.newsRight h1, .oneNews h1{font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-size:18px; line-height:22px; clear:both; padding:10px 0; letter-spacing:-0.5px;color:#000;}
.mainNews h1{font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-weight:700; font-size:26px; line-height:27px; clear:both; padding:0px 0 15px;}
.oneSmallMainNews h1, .results li h1{font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-weight:700; font-size:20px; line-height:24px; padding:0px 0 10px; clear:both;}
.acum1an{font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-weight:700; font-size:18px; line-height:24px; padding:0px 0 10px; clear:both; border-bottom:1px solid #dadada}
.mainVideo h1 a{font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-weight:700; font-size:16px;  padding:10px 0;  color:#fff}
.mainVideo h1 a:hover, .miniVideo ul li a:hover{color:#d3ebff}
.miniVideo ul li a{font-size:13px; color:#fff}
.update{background:#F00; color:#FFF; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:0 5px; font-weight:bold}
.smallText{font-size:11px; padding:10px 0; border-bottom:1px solid #DADADA}
.teArInteresa .titles{font-family: 'Droid Sans', Tahoma, Arial !important; font-style: normal; font-size:15px; line-height:22px; clear:both; padding:10px 0; letter-spacing:-0.5px;color:#000;}


.center{text-align:center;}



/* HEADER
----------------------------*/
.logo{height:148px; width:199px; float:left; background:transparent url(../img/bg/logo-stirileprotv.png) no-repeat;}
.box_top_banner {float:right; padding:20px 20px 0 0; width:728px;}
.box_top_banner a.advertising {float:left;}
#top_banner2 {float:left; clear:left; position:relative;}
.banner728x90{float: right;  margin-right: 20px; margin-top: 12px; width: 728px; padding-top:0px;}
/*..banner728x90{position:absolute;  z-index:1000000 !important; top:-170px; left:240px;}*/
.banner728x90 .advertising{color:#FFF; text-decoration:underline; text-shadow:#275586 1px -1px 1px; display:block; padding-bottom:5px; width:150px;}
.banner728x90 .advertising:hover{color:#CCC;}
.banner300x250 .advertising{display:block; padding-bottom:5px; text-decoration:underline}
.banner300x250 .advertising:hover{color:#000;}
.home{display:block; height:111px; width:199px;}
.logoTime {color:#FFF; font-weight:bold; width:116px; height:20px; margin-left:25px; text-align:center;padding-top:10px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:11px;text-shadow:#900 1px -1px 3px;}
.menu{clear:both; width:1000px; height:65px; overflow:hidden; }
.menuLabels{float:left; border-left: 1px solid #0F72AE}
.menuLabels li.selected{background:transparent url(../img/bg/select-menu-top.gif) repeat-x;}
.menuLabels li{border-right:1px solid #0f72ae; float:left; height:37px; }
.menuLabels li a{padding:0 14px;padding-top:9px;font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFF; font-weight:bold; display:block; height:27px;text-shadow:#275586 1px -1px 3px;}
.menuLabels li a:hover, .menuLabels li:hover, .menuLabels li a.selected{background:transparent url(../img/bg/select-menu-top.gif) repeat-x;}
.menuLabels li a.STIRI {background:transparent url(../img/bg/home.gif) 10px 0px no-repeat; padding-left:30px;}
.search{float:right; text-align:right; padding-top:7px;}
.search .input{width:110px;}
.search .button, .videoSearchButton { background:url(../img/bg/red-buton.gif) repeat-x top #f93732;; color:#FFF; border:1px solid #cc3356; font-size:11px; font-weight:bold; font-family:Verdana, Geneva, sans-serif; padding:2px; cursor:pointer;}
#search_adv{float:left; margin-right: 10px;}
.translate{display: block;    float: left;   margin-top:4px;}
.subMenu{clear:both; background:transparent url(../img/bg/submenu-vertical-line.gif) no-repeat left; height:29px; width: 1010px;}
.subMenu li{float:left; background:transparent url(../img/bg/submenu-vertical-line.gif) no-repeat right;}
.subMenu li a{font-family:"Lucida Grande", sans-serif, arial; font-size:12px; color:#000; height:21px; display:block; padding:7px 8px 0 8px; }
.subMenu li a:hover{background:#FFF url(../img/bg/submenu-vertical-line.gif) no-repeat right;; border-bottom:1px solid #cccccc;}
.subMenu li a.selected{color:#2162a8; background:#FFF url(../img/bg/submenu-vertical-line.gif) no-repeat right;; border-bottom:1px solid #fff;}


/* Live Bar 
-----------------------------*/
#barUltimeleStiri{width:970px; margin:0 auto; padding: 0px; height:19px;  overflow:hidden;}
#ultimeleStiri{float:left; margin-left:10px; font-size:14px;  font-family:Arial, Helvetica, sans-serif; width:760px; overflow:hidden; height: 24px; color:#275586;}
#ultimeleStiri a{color:#275586; font-weight:bold;}
#ultimeleStiri a:hover{text-decoration:underline;}
.buttons{float:right;}
.prevScroll{width:19px; height:19px; background:url(../img/bg/sprite-stiri.png) 0px -303px; border:none; cursor:pointer;}
.prevScroll:hover{background:url(../img/bg/sprite-stiri.png) 0px -322px;}
.nextScroll{width:19px; height:19px; background:url(../img/bg/sprite-stiri.png) -19px -303px; border:none; cursor:pointer;}
.nextScroll:hover{background:url(../img/bg/sprite-stiri.png) -19px -322px;}
.liveBar{height:31px; background:#CCC url(../img/bg/live-bar.gif) repeat-x; border-bottom:1px solid #cccccc; font: bold 20px Arial, Helvetica, sans-serif; padding-top:8px; color:#F00}
.multiLive{ float:left; margin-right:30px;}
.liveBar a, .breakingNews{background-color:#F00; color:#FFF; padding:0 4px;}
.live{background:#FFF; color:#F00;}
.cursorChar {text-decoration: underline;font-weight: bold;color: #275586;}
.breakingNewsBg{background:#FFF url(../img/bg/breaking-news.gif) repeat-x bottom; text-align:center; padding:22px 0; font:bold 28px Tahoma, Geneva, sans-serif; color:#000; text-transform:uppercase; text-shadow:1px 1px 2px #bebdbd}
.nowLiveBg{background:#FFF url(../img/bg/breaking-news.gif) repeat-x bottom;padding:22px 0;font:bold 20px Tahoma, Geneva, sans-serif; color:#000; text-align:center;}
.nowLiveBg a{color:#000;}
.nowLiveBg .multiLive{background:transparent url(../img/bg/acum-live.gif) left top no-repeat; display:block; height:32px; padding-left:140px}
.nowLiveBg .multiLive:hover{background:transparent url(../img/bg/acum-live-over.gif) left top no-repeat; text-decoration:underline}


/*DESCHIDERE -----------------*/
.deschidere1{width:700px; margin:0 auto; padding:5px 4px 15px; border-bottom:5px solid #fff;}
.deschidere1 .labelBN, .deschidere2 .labelBN, .mainNews .labelBN{font-size:18px;  padding:3px; background:#DA0000; color:#ffffff;}
.labelBN{font-size:15px;  padding:0 1px; background:#DA0000; color:#ffffff;}



/* PAGINATION
------------------------*/
/* Comments pagination
----------------------------------------------*/
.pagination{text-align:center; font:12px Arial, Helvetica, sans-serif; padding:15px 15px 30px 15px;}
.pagination span{float:left; display:block;}
.pagination .selected{color:#000; background:#fff url(../img/bg/sprite-sidebar.jpg) -45px -582px; width:21px; height:18px; display:block; float:left; padding-top:3px; font-weight:bold;}
.pagination .normal {width:21px; height:18px; display:block; float:left; padding-top:3px;}
.pagination .next, .pagination .previous {display:block; height:18px; float:left; padding-top:3px; padding-left:10px; padding-right:10px; }

/* BRANDING
------------------------*/
.topBranding{width:1000px; margin:0 auto; position:relative; text-align:center; }


/* CROSS PROMO
------------------------*/
.crossPromo {padding:20px 0 0 0;background:url("http://d1.a4w.ro/protv/design/images/cross_promo.jpg") repeat-x 0 0 #fff; clear:both}
.crossPromoColumn1 {width:180px;float:left;padding:0px 32px 0px 32px;margin:0px 0px 20px 0px;border-right:1px solid #DFDFDF;}
.crossPromoColumn2 {width:180px;float:left;padding:0px 25px 0px 25px;margin:0px 0px 20px 0px;border-right:1px solid #DFDFDF;}
.crossPromoColumn3 {width:180px;float:left;padding:0px 25px 0px 25px;margin:0px 0px 20px 0px;border-right:1px solid #DFDFDF;}
.crossPromoColumn4 {width:180px;float:left;padding:0px 25px 0px 25px;margin:0px 0px 20px 0px;}
.crossPromoSite {width:180px;padding:0px 0px 5px 0px;margin:0px;text-align:left;font-size:1.4em;color:#000000;}
.crossPromoSite a {color:#000000;font-weight:normal;}
.crossPromoSite a:hover {color:#007BCC;font-weight:normal;}
.crossPromoImage {width:180px;height:100px;padding:0px;margin:0px;overflow:hidden;}
.crossPromoLink {font-size:0.9em;padding:5px 0px 5px 0px;border-bottom:dotted 1px #cccccc;}
.crossPromoLink a {color:#4c4c4c;font-weight:normal;text-decoration:none;}
.crossPromoLink a:hover {color:#4c4c4c;font-weight:normal;text-decoration:underline;background-color:transparent;}


/* LEFT NEWS
-------------------------*/
.leftNews a:hover{text-decoration:underline;}
.leftNews li{padding:10px 0;}
.leftNews li a{color:#fff; font:Tahoma, Geneva, sans-serif normal; }
.relativeImg{padding:10px 0; position:relative; display:block;text-shadow:#999 5px 5px 2px}
.leftNews li .relativeImg{padding-top:0px}
.leftNews p{font-size:1.1em}
.leftNews .playSmall {clip:rect(80px 42px 110px 0px);display:block;position:absolute;left:58px;top:-35px;}
.leftNews .playSmall:hover{clip:rect(110px 42px 140px 0px);top:-65px;}
.leftNews .img{float:none; padding:0;}


/* RIGHT SOCIAL BUTTONS
-------------------------*/
.socialButtons{float:right;margin-top:-26px;}
.socialButtonsNotArticle{margin-top:0px;}
.socialButtons li{float:left; margin-left:5px;}
.socialButtonsNotArticle a{ margin-right:5px; margin-left:5px;}
.print{display:block; width:52px; height:17px; background:#fff url(../img/bg/sprite-stiri.png) 0px -341px;}
.print:hover{background-position:0px -358px;}
.facebook{display:block; width:84px; height:17px; background:#fff url(../img/bg/sprite-stiri.png) -57px -341px;}
.facebook:hover{background-position:-57px -358px;}
.twitter{display:block; width:69px; height:17px; background:#fff url(../img/bg/sprite-stiri.png) 0px -375px;}
.twitter:hover{background-position:0px -392px;}
.email{display:block; width:71px; height:17px; background:#fff url(../img/bg/sprite-stiri.png) -74px -375px;}
.email:hover{background-position:-74px -392px;}
.rss{display:block; width:49px; height:17px; background:#fff url(../img/bg/sprite-stiri.png) -69px -408px;}
.rss:hover{background-position:-69px -425px;}
.Mobile{display:block; width:63px; height:17px; background:#fff url(../img/bg/sprite-stiri.png) 0px -408px;}
.Mobile:hover{background-position:0px -425px;}


/* VOYO MOVIE BOX
------------------------*/
.voyo-article {
	width:220px;
	height:330px;
	position:relative;
	margin:0 0 10px 0;
	padding:55px 0 0 0;
	background: url(../img/voyo-box-bg.jpg) no-repeat 0 0;
}

.voyo-movie {
	width:154px;
	float:left;
	position:relative;
	margin:0 9px 5px 33px;
}

.voyo-movie a.arrow {
	width:154px;
	height:219px;
	display:block;
	position:absolute;
	background: url(../img/arrow.png) no-repeat bottom center;
	text-decoration:none;
}

a.voyo-movie-image {
	width:152px;
	height:216px;
	float:left;
	text-decoration:none;
	overflow:hidden;
	border-top:solid 1px #e5e5e5;
	border-right:solid 1px #e5e5e5;
	border-bottom:solid 2px #e5e5e5;
	border-left:solid 1px #e5e5e5;
}

a.voyo-movie-tag {
	width:60px;
	height:63px;
	position:absolute;
	left:-10px;
	top:-10px;
	background: url(../img/voyo-box-tag.png) no-repeat 0 0;
}

a.voyo-movie-image img {
	border:solid 1px #fff;
}

a.voyo-movie-title {
	width:134px;
	height:34px;
	float:left;
	padding:7px 10px 7px 10px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	line-height:15px;
	text-transform:uppercase;
	text-align:left;
	color:#0e2d45;
	text-decoration:none;
	background: url(../img/voyo-title.jpg) no-repeat bottom center #fff;
}

a.voyo-movie-title span {
	width:134px;
	height:30px;
	float:left;
	display:block;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	line-height:15px;
	text-transform:uppercase;
	text-align:left;
	color:#0e2d45;
	text-decoration:none;
	overflow:hidden;
}

a.voyo-movie-vezi {
	width:154px;
	height:42px;
	float:left;
	display:block;
	margin:4px 0 0 0;
	background: url(../img/voyo-button.jpg) no-repeat 0 0;
	text-decoration:none;
}


/* PROTV News box */
a.protvnews_logo{
	width: 70px;
	height: 62px;
	margin: 0px 20px 0px 0px;
	display: block;
	float: left;
	
	background-image: url(../img/logo_protv_news.jpg);
	background-position: top left;	
	background-repeat: no-repeat;
	
}

/*
.protvnews-box-wrapper{
	width: 100%;
	min-height: 468px;
	font-family: 'Droid Sans', Arial, Verdana, sans-serif !important;
	font-size: 12px;
	font-weight: 400;	
}
*/
.protvnews-box-content{
	width: 100%;
	min-height: 468px;
	/* font-family: 'Droid Sans', Arial, Verdana, sans-serif !important; */
	font-size: 12px;
	font-weight: 400;	
}

.protvnews-box-content .protvnews-box-left{
	width: 100%;
	min-height: 500px;
	float: left;
	clear: both;
	
	background-color: #FFFFFF;
	background-image: url(../img/bg_box_protv_news2.jpg);
	background-position: top left;	
	background-repeat: no-repeat;
}

.protvnews-box-content .protvnews-box-left .box-header{
	padding: 0px 20px 0px 0px;
	float: left;
}

.protvnews-box-left p.main-title{
	width: 430px;
	margin: 20px 0px 0px 0px;
	padding: 0px 20px;
	
	color: #FFFFFF;
	font-size: 22px;
	font-weight: 700;	
}

.protvnews-box-left p.main-title span{
	color: #01ceff;
	font-size: 18px;
	font-weight: 400;
}


.protvnews-box-content .protvnews-box-left .box-content{
	float: left;
	padding: 10px;
	width:518px;
}

.protvnews-box-content .protvnews-box-left .pvn-image{
	width: 450px;
	position: relative;
}

.protvnews-box-content .protvnews-box-left .pvn-video{
	width: 450px;
	height: 278px;
	position: relative;
	margin:0 auto;
}

.protvnews-box-content .protvnews-box-left .pvn-image .pvn-image-link{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;

	background-image: url(../img/play_button_protvnews.png);
	background-position: center center;	
	background-repeat: no-repeat;
	
	z-index: 1200;	
}

.protvnews-box-content .protvnews-box-left .pvn-texts{
	width: 100%;
	margin: 10px 0px 0px 0px;	
}

.protvnews-box-content .protvnews-box-left .pvn-texts p.pvn-next{
	width: 70px;
	height: 25px;
	padding: 7px 10px 0px 10px;	
	margin: 0px;
	float: left;
	
	color: #FFFFFF;
	font-size: 16px;
	
	background-color: #d81c1a;
}

.protvnews-box-content .protvnews-box-left .pvn-texts p.pvn-nsection{
	width: 407px;
	height: 25px;
	padding: 7px 10px 0px 10px;	
	margin: 0px 0px 1px 0px;
	float: right;
	
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
	
	background-color: #1c326e;
}

.protvnews-box-content .protvnews-box-left .pvn-texts p.pvn-nsection span{
	margin: 0px 10px 0px 0px;
	font-weight: 400;
}

.protvnews-box-content .protvnews-box-left .box-footer{
	width: 518px;
	float: left;
	padding: 10px 10px 20px 10px;
	text-align: center;
}

.protvnews-box-content .protvnews-box-left .box-footer a{
	padding: 0px 0px 3px 0px;
	
	border-bottom: 1px solid #1c326e;
	
	color: #1c326e;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
}

.protvnews-box-content .protvnews-box-right{
	width: 200px;
	min-height: 500px;
	margin: 0px 20px;
	float: left;
	
	background-color: #FFFFFF;
}

.protvnews-box-content .protvnews-box-right .box-article{
	height: 468px;
	min-height: 480px;
	padding: 0px 1px 0px 0px;
	position: relative;
}

.protvnews-box-content .protvnews-box-right .box-article a.img{
	margin: 20px 0px 0px 0px;	
	display: inline-block
}

.protvnews-box-content .protvnews-box-right .box-article a.title{
	padding: 0px;
	margin: 10px 0px; 
	display: inline-block;
	color: #000000;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;	
	text-align: left;
}

.protvnews-box-content .protvnews-box-right .box-article p{
	padding: 0px;
	margin: 0px; 
	color: #000000;
	font-size: 15px !important;
	line-height: 15px !important;
	font-weight: 400;	
}

.logoSpecial{
	width: 198px;
	height: 53px;	
	
	position: absolute;
	bottom: -5px;
	left: -5px;
	z-index: 1203;
	
	background-image: url(../img/banda_special_protvnews.png);
	background-position: top left;	
	background-repeat: no-repeat;
	
}

.banner300x250Nou{
	width:300px;
	height:250px;
	margin:0px auto;
}

.protvnews-box-content .protvnews-box-right .box-article .deco{
	width: 200px;
	height: 80px;
	
	padding: 10px 20px;
	
	position: absolute;
	left: -21px;
	bottom: 0px;
	z-index: 1201;
	
	background-color: #f2f2f2;
	
	background-image: url(../img/play_button_black_10.png);
	background-position: 198px 22px;	
	background-repeat: no-repeat;
}

.protvnews-box-content .protvnews-box-right .DragdropBoxHeader{
	position: relative;
	top: 40px;
	width: 200px;
	height: 50px;
	z-index: 12340243;
} 

.protvnews-box-content .protvnews-box-right .box-article .deco a{
	display: inline-block;
	padding: 0px 40px 0px 0px;
	color: #1c326e;	
	font-size: 13px;
	font-weight: 400;
}
.deco{
	font-size:13px;
	font-style:italic;
	border-top:1px solid #c7c7c7;
	padding-top:15px;
}
.deco a{
	text-decoration:underline
}

/* PROTV News box */



.ibu_clear_it {
	clear:both;
}

#ibu_traffic {
  width:960px;
  margin:10px auto 0px auto;
  text-align:center;
}

/* New elements */
.lastNewsTop{
	border:1px solid #dadada;
	width:100%;
	overflow:hidden;
}
.lastNewsTop ul{
	width:3950px;
	position:absolute;
}

.lastNewsTop li{
	width:375px;
	height:45px;
    overflow: hidden;
    padding: 0 20px 0px 0px;
    vertical-align: middle;
	float:left;
}
.lastNewsTop li div{
	width:290px;
	height:45px;
	display: table-cell;
    vertical-align: middle;
}

.lastNewsTop li a{
	display:block;
	width:290px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:13px;
}
.lastNewsTop li a:hover{
	color:#275586;
}
.lastNewsTop li a.imagine{
	float:left;
	margin-right:20px;
	display:block;
	width:65px;
	height:45px;
}

.lastNewsTitleTop{
	width:120px;
	float:left;
	text-align:center;
	font-size:15px;
	color:#ff0000;
	font-family:'Droid Sans',Tahoma,Arial !important;
	padding-top:15px;
	display:block;
}
.lastNewsTitleTop:hover{
	text-decoration:underline;
}
.lastNewsArrowLeft, .lastNewsArrowLeft{
	width:35px;
	height:36px;
	text-align:center;
	cursor:pointer;
	float:left;
	background:#dfdfdf;
	font-size:16px;
	padding-top:10px;
}
.lastNewsArrowLeftDisabled{
	width:35px;
	height:36px;
	text-align:center;
	cursor:pointer;
	float:left;
	background:#f0efef;
	font-size:16px;
	padding-top:10px;
	color:#a5a5a5;
}
.lastNewsArrowLeft:hover, .lastNewsArrowRight:hover{
	background-color:#c2c2c2;
}
.lastNewsContent{
	float:left;
	width:790px;
	overflow:hidden;
	height:46px;
	position:relative;
}



.lastNewsTitle{
	background:#de0f00;
	color:#ffffff;
	padding:10px;
	font-family:'Droid Sans',Tahoma,Arial !important;
	font-size:15px;
	font-weight:bold;
	display:block;
}
.lastNewsTitle:hover{
	text-decoration:underline;
}
.lastNewsTitle span{
	float:right;
	font-size:13px;
	font-weight:normal;
	color:#ffc9c9;
}
.lastNewsScroller{
	height:440px;
	overflow-y:scroll;
	background:#ffffff;
	border-left:1px #bababa solid;
	border-right:1px #bababa solid;
	border-bottom:3px #000000 solid;
}
.lastNewsScroller li{
	margin: 0px 10px;
	border-bottom: 1px solid #cbcbcb;
	padding:6px 0px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#919191;
}
.lastNewsScroller li.finalLi{
	padding:5px;
}
.lastNewsScroller li a{
	color:#000000;
	font-size:13px;
	display:block;
	padding-bottom:4px;
}
.lastNewsScroller li a:hover{
	color:#275586;
}

/* HTC
---------------*/
.htc-last-news{
	background:#f4f4f4 url(../img/bg/htc-bg.gif);
	width:206px;
	height:380px;
	margin:15px auto;
	padding-top:45px;
}
.htc-last-news ul{
	width:165px;
	margin:0px auto;
	height: 320px;
	overflow-y:scroll;
}

.htc-last-news li{
	padding:12px 0px;
	border-bottom:1px solid #d6d6d6;
	font-size:1px;
	color:#fff;
}

.htc-last-news li a{
	font-size:12px;
	color:#000000;
}

.htc-last-news li a:hover{
	color:#275586;
}

.htc-last-news li img{
	float:left;
	margin:0px 10px 10px 0;
	width:56px;
	height:56px;
}


