#registration_box  {
	display: block;
	font-size: 11px;
	width: 450px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

#registration_box a:link {
        color: #000000;
        text-decoration: underline;
}

#registration_box a:visited {
        color: #000000;
        text-decoration: underline;
}

#registration_box a:active {
        color: #1d6bd8;
        text-decoration: underline;
}

#registration_box a:hover {
        color: #000000;
        text-decoration: none;
}

#registration_box .text_short {
       width: 15%;
}

/* START: Left box  */
.box_left {
	width:280px;
	float:left;
}
/* End: Left box  */


/* START: header */
#registration_box  #reg2_header  {
	display: block;
    font-size: 0px;
	width: 450px;
	height: 33px;
	background-image: url(/static/ro/shared/img/registration2/header_registration_background.gif);/* - header background image   */
	background-repeat: no-repeat;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
}

/* header - | vertical line space*/
#registration_box  #reg2_header .text {
	float: left;
	font-size: 11px;
	color: #8b8b8b;/* | - vertical line color */
	margin-top:15px;
	/*margin-right:3px;
	margin-left:3px;*/
	padding-left:120px; /* Header - menu text position */	
}

/* header - close button position */
#registration_box  #reg2_header .close {
	float: right;
	padding-top:12px;
	padding-right:12px;
	font-size:0px;
	margin:0px;
}

/* header - start: text link */
#registration_box  #reg2_header a:link {
        color: #8b8b8b;
        text-decoration: underline;
}

#registration_box  #reg2_header a:visited {
        color: #8b8b8b;
        text-decoration: underline;
}

#registration_box  #reg2_header a:active {
        color: #8b8b8b;
        text-decoration: underline;
}

#registration_box  #reg2_header a:hover {
        color: #8b8b8b;
        text-decoration: none;
}
/* end: text link */

/* END: header */


/* START: content */

/* content background */
#registration_box  #reg2_content {
	display: block; /*max-height: 680px;*/
        height:auto; /*expression(this.scrollHeight > 680? 680 : true); - ce bomo hoteli scroll*/
	width: 450px;
	background-image: url(/static/ro/shared/img/registration2/content_registration_background.gif);
	background-repeat: repeat-y;
	padding: 0px;/*odmik diva od roba boksa*/
	overflow: auto;
}

/*
.content_space {
	padding-top:10px;
}*/


#registration_box  #reg2_content .hline {
        margin: 10px auto 10px auto;
        padding: 0px;
        border-top: 10px solid #a7a7a7;
        font-size: 0px;
        width: 430px;
}

#registration_box  #reg2_content .left_content, #registration_box  #reg2_content .left_label {
	float: left;
	width: 130px;
	font-size: 11px;
	color: #1d6bd8;
	text-align: right;
	/*padding: 0px 0px 2px 0px;*/
	padding-left:7px;
	padding-right:7px;
}

#registration_box #settings_form .left_content {
        width: 64px;
}



#registration_box #settings_form #sex .left_content {
        width: 30px;
}

#registration_box #settings_form .left_label {
        width: 140px;
}

/* change password fild */
#registration_box #reg2_content .middle_content {
	float: left;
	width: 145px;
	color: #000000;
	padding-top:3px;
	margin:0;
	font-size:11px;
	font-weight:900;
}

/*odmik od zgornjega roba*/
/*.odmik {
	margin-top:100px;
}*/

/*#registration_box #reg2_content .level2 .middle_content {
       /* width: 145px;*//*sprememba z 165 na 145*//*
}*/

#registration_box  #reg2_content .feedback_error {
	float: right;
	width: 110px;
	margin-left:10px;
	color: #ca0000;
	padding: 0px 11px 11px 16px;
	background-color: transparent;
	background-image: url(/static/ro/shared/img/registration2/content_help_ico.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-x-position: left;
	background-y-position: top;
}

#registration_box  #reg2_content .help {/*.help*/
	display: none;
	/*background-image: url(/static/slo/shared/img/registration2/help_ico.gif);
	background-repeat: no-repeat;
	background-color: #9e9e9e;*/
	background-color:#FFFF99;
	font-size: 11px;
	color: #ffffff;
	float:right;
	width:420px;
	/*margin: 7px 2px 7px 2px;*//*odmiki boxsov za registracijo in odmik box z navodili od box-sov polj.*/
	padding-bottom:5px;
	padding-top:5px;
	margin:0 auto;
}

/*POZOR*/
/*#overview_help {
	display: none;
	background-image: url(/static/slo/shared/img/registration2/help_ico.gif);
	background-repeat: no-repeat;
	background-color: #9e9e9e;
	font-size: 11px;
	color: #ffffff;
	float:right;
	margin: 7px 2px 7px 2px;
	padding-bottom:5px;
	padding-top:5px;
}
/*#last_news_help {
	display: none;
	background-image: url(/static/slo/shared/img/registration2/help_ico.gif);
	background-repeat: no-repeat;
	background-color: #9e9e9e;
	font-size: 11px;
	color: #ffffff;
	float:right;
	margin: 7px 2px 7px 2px;
	padding-bottom:5px;
	padding-top:5px;
}
#htmlformat_help {
	display: none;
	background-image: url(/static/slo/shared/img/registration2/help_ico.gif);
	background-repeat: no-repeat;
	background-color: #9e9e9e;
	font-size: 11px;
	color: #ffffff;
	float:right;
	margin: 7px 2px 7px 2px;
	padding-bottom:5px;
	padding-top:5px;
}*/


#registration_box #reg2_content .instructions {
        margin: 0px 0px 0px 46px;
	padding-top:5px;
}


.level2 {
        margin: 0px 0px 0px 0px;
}


.left_content {
        width: 200px;
	padding-top:0px;/*////////spremenjeno sa 5 na 2 ///////////odmik med polji*/
	margin-top:2px;/*////////////DODANO/////////////////*/
}


#settings_form .right_content {
        margin: 0px 0px 0px 72px;
        padding: 0px;
	padding: 0px 11px 11px 16px;
	background-x-position: left;
	background-y-position: top;
     	font-size: 12px;
	color: #1d6bd8;
	font-weight: bold;
	text-align: left;
}

#settings_form #sex .sex {
        margin-left: 146px;
}

#settings_form #sex .right_content {
        margin: 0px 10px 0px 0px;
}

#registration_box  #reg2_content .feedback_success {
	float: right;
	width: 111px;
	color: #00a200;
	margin-left:10px;
	padding: 0px 11px 11px 16px;/*odmiki med box*/
	background-color: transparent;
	background-image: url(/static/ro/shared/img/registration2/content_sucess_ico.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-x-position: left;
	background-y-position: top;
}

#registration_box  #reg2_content .button_next, #registration_box #reg2_content .button_email, #registration_box #reg2_content .button_done{
	display: inline;
	float: left;
	height: 19px;
	color: #000000;
	padding: 3px 5px 0px 24px;
	margin: 7px 11px 9px 0px;
	background-color: transparent;
	background-image: url(/static/ro/shared/img/registration2/button_next.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	/*background-x-position: left;
	background-y-position: top;*/
}

#registration_box #reg2_content .button_done {
        background-image: url(/static/ro/shared/img/registration2/konec_registracije.gif);
}


/*box for button "NAPREJ"*/
#registration_box #reg2_content .button_email {
	margin: 7px 10px 9px 0px;
	float:right;
	padding-left:25px;
	text-align:left;
}

#registration_box  #reg2_content .terms_link {
       margin: 0px 10px 0px 0px;
}

#registration_box  #reg2_content .level2 .button_next {
        margin: 7px 142px 9px 0px;
}

#registration_box  #reg2_content .button_next a {
	color:#000000;
	text-decoration: underline;
}

#registration_box  #reg2_content .button_next a:hover {
	color:#000000;
	text-decoration: none;
}

#registration_box #reg2_content #passwords .button_next, #registration_box #reg2_content #gsmnum_form .button_next {
        margin-right: 200px;
}

#registration_box  #reg2_content .button_back {
	display: inline;
	width:60px;/* width:115px; */
	padding-left:25px;
	float: right;
	height: 22px;
	color: #000000;
	background-color:#33FFFF;
	background-color: transparent;
	background: url(/static/ro/shared/img/registration2/button_back.gif) no-repeat left top;
}

#registration_box  #reg2_content .button_back a {
	color:#000000;
	text-decoration: underline;
}

#registration_box  #reg2_content .button_back a:hover {
	color:#000000;
	text-decoration: none;
}

#registration_box  #reg2_content .warning {
	display: block;
	background-image: url(/static/ro/shared/img/registration2/warning_ico.gif);
	background-repeat: no-repeat;
	background-color: #ca0000;
	font-size: 11px;
	color: #ffffff;
	margin: 0px 11px 11px 11px;
	padding: 5px 5px 5px 25px;
}
#registration_box  #reg2_content .text {
	display: block;
	font-size: 11px;
	color: #000000;
	margin: 0px 11px 11px 11px;
	padding: 5px 0px 5px 0px;
}
/* END: content */

/* START: footer */
#reg2_footer {
	display: block;
	width: 434px;
	height: 30px;
	background-image: url(/static/ro/shared/img/registration2/footer_registration_background.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #8b8b8b;
	padding-top: 7px;
	padding-left: 16px;
}
#reg2_footer .quad_pass a {
	color: #ffffff;
	text-decoration: none;
	font-weight:900;
}
#reg2_footer .quad_pass {
	float: left;
	width: 19px;
	height: 17px;
	background-image: url(/static/ro/shared/img/registration2/quad_pass_background.gif);
	background-repeat: no-repeat;
	font-weight: 100;
	color: #ffffff;
	text-align: center;
	padding-top: 2px;
	margin-right:3px;
	font-weight:900;
}

#reg2_footer .quad_active a {
	color: #ffffff;
	text-decoration: none;
}
#reg2_footer .quad_active {
	float: left;
	width: 19px;
	height: 17px;
	background-image: url(/static/ro/shared/img/registration2/quad_active_background.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding-top: 2px;
}

#reg2_footer .quad_next a {
	color: #ffffff;
	text-decoration: none;
}
#reg2_footer .quad_next {
	float: left;
	width: 19px;
	height: 17px;
	background-image: url(/static/ro/shared/img/registration2/quad_next_background.gif);
	background-repeat: no-repeat;
	font-weight: 100;
	color: #ffffff;
	text-align: center;
	padding-top: 2px;
	margin-right:3px;
}

#reg2_footer .text {
	float: left;
	padding: 2px 10px 0px 5px;
}
/* END: footer */


#registration_box .success {
        font-weight: bold;
        color: green;
}



/*.gsm {
       width: 100px;
}
*/

.clear {
	clear: both;
}

/*
.right {
       float: right;
}*/

.left {
       float: left;
}

.inline {
      display: inline;
}

.hidden {
     display: none;
}

.visible {
     display: block;
}


.arrow {
    cursor: help;
}

.username {
	width:135px;
	margin-top:3px;
	border:1px #1D6BD8 solid;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size:12px;
    padding:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#bday_day {
	width:50px;
	margin-top:3px;
	border:1px #1D6BD8 solid;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size:12px;
    padding:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#bday_month {
	width:90px;
	margin-top:3px;
	border:1px #1D6BD8 solid;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size:12px;
    padding:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#bday_year {
	margin-top:3px;
	border:1px #1D6BD8 solid;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size:12px;
    padding:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.email_r {
	width:135px;
	margin-top:3px;
	border:1px #1D6BD8 solid;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size:12px;
    padding:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#sex_M {
	margin:7px 5px 0 0;
}

#sex_F {
	margin:7px 5px 0 0;
}

.label_bdayt_help {
	margin:7px 0 0 0;
	display:block;
	cursor:help;
}

.password {
	width:135px;
	margin-top:3px;
	border:1px #1D6BD8 solid;
	font-size:12px;
    color: #000000;
    padding:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}


.field_error{
	margin-top:3px;
	width:115px;
	/*border:1px #666666 solid;*/
    	font-family: Arial, Helvetica, sans-serif;
    	color: #999999;
	background-color:#efefef;
    	/*padding:1px 1px 1px 2px;*/
}
.field_error{
	width:115px;
	border:1px #666666 solid;
    	font-family: Arial, Helvetica, sans-serif;
    	color: #999999;
	background-color:#efefef;
    	/*padding:1px 1px 1px 2px;*/
}
.gsm{
	width:100px;
	display:inline;
	/*border:1px #666666 solid;
    	color: #000000;
	background-color:#efefef;
    	/*padding:1px 1px 1px 2px;*/
}
.box_box{
	width:100px;
	border:1px #666666 solid;
    	font-family: Arial, Helvetica, sans-serif;
    	color: #999999;
	background-color:#efefef;
    	/*padding:1px 1px 1px 2px;*/
}

.button_change{
	border:1px #c7111e solid;
    	font-family: Arial, Helvetica, sans-serif;
    	color: #999999;
	background-color:#c7111e;
	margin-left:20px;
	margin-top:3px;
	margin-bottom:3px;
	width:44px;
	height:20px;
    	/*padding:1px 1px 1px 2px;*/
}

.button_change_text{
	text-align:center;
	padding:2px;
	font-size:11px;
	color:#FFFFFF;
	text-decoration:underline;
	float:left;
}

.button_sms {
	margin: 5px 0px 0px 141px;
	font-size:11px;
	color:#000000;
}

.sms-row {
	padding:5px 30px;
	text-align:center;
}

.box_checkbox{
	width:auto;
        margin-top: 6px;
	padding-right:275px;
	float:right;
    	/*padding:1px 1px 1px 2px;*/
}

.middle_content_box{	
	float: left;
	width: 272px;
	color: #8b8b8b;
	padding-bottom:2px;/*padding-bottom:5px;*/
	margin:0px;
	margin-top:3px;
	
	}
.help_new {/*.help*/
	font-size: 12px;
	text-align:right;
	font-weight:900;
	color: #1d6bd8;
	float:right;
	padding:2px 20px 0 0;
	height:auto;
	width:135px;
	cursor: help;
	/*margin-left:15px;*/
}
.help_box {
	display:none;
	margin:0 auto;
	margin-left:10px;
		
}

.help_box_image{
	background-image: url(/static/ro/shared/img/help_ico.gif);
	background-repeat: no-repeat;
	float:left;
	background-color:#9e9e9e;
	background-x-position: left;
	background-y-position: top;
	margin-top:5px;
	margin-bottom:5px;
	width:418px;
}
.help_box_text{
	width:387px;
	font-size:11px;
	color:#FFFFFF;
	padding: 5px 5px 5px 25px;
	font-variant:100;
	float:left;
}
.level3{
padding-bottom:2px;
padding-top:2px;
}
.save {
	float: right;
	width: 111px;
	color: #00a200;
	margin-left:10px;
	padding: 0px 11px 11px 16px;/*odmiki med box*/
	background-color: transparent;
	background-image: url(/static/ro/shared/img/registration2/content_sucess_ico.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-x-position: left;
	background-y-position: top;
}
.box_space{
	padding-top:11px;
}
.close_buuton{
	float: left;
	width:50px;
	color: #ff9900;
	background-color:#6600CC;
	padding: 11px 11px 11px 11px;/*odmiki med box*0px */
	background: url(/static/slo/shared/img/registration2/konec_registracije.gif) no-repeat right center;
}
.close_text{
	width:60px;
	float:right;
	color:#ff9900;
	margin-right:5px;
	background: url(/static/slo/shared/img/registration2/konec_registracije.gif) right no-repeat;
	
}
#step_1{
margin-top:10px;
	
}
.space_box{
	padding-top:15px;
	
}
.box_label{
	padding-top:450px;
	display:inline;
	
}
.box_label_name{
	float:left
	width:140px;
	padding-left:0px;
	text-align:right;
	
}
.box_label_fild{
	width:290px;
	padding-left:0px;
	text-align:right;
	float:left;
	
}
.whid{
	margin:0;
	padding:0;
	height:auto;
	
}
.spacer{
	/*width:440px;*/
	height:auto;
	width:430px;
	float:right;
	
}
/*.close_registration {
background-color:#FF0000;
width:150px;
}*/
.close_step_2{
	display: inline;
	width:60px;/* width:115px; */
	padding-left:25px;
	float: right;
	height: 22px;
	color: #000000;
	background-color:#33FFFF;
	background-color: transparent;
	background: url(/static/slo/shared/img/registration2/konec_registracije.gif) no-repeat left top;
}

.go_to_voyo{
	display: inline;
	width:46px;/* width:115px; */
	padding-left:25px;
	margin:0 0 0 20px;
	float: right;
	height: 22px;
	color: #000000;
	background-color:#33FFFF;
	background-color: transparent;
	background: url(/static/ro/shared/img/registration2/konec_registracije.gif) no-repeat left top;
}


.text_step_2{
	width:100%;
	float:left;
	margin-left:0px;
	margin-top:3px;
	text-align:left;
	color:#1d6bd8;/*pop-tv rgb /#0e3ca0//dnevnik rgb #b8002b/*/
	font-weight:900;
	text-decoration:none;
}
.text_step_2 a{
	width:100%;
	float:left;
	margin-left:0px;
	margin-top:3px;
	text-align:left;
	color:#1d6bd8;/*pop-tv rgb /#0e3ca0//dnevnik rgb #b8002b/*/
	font-weight:900;
	text-decoration:none;
}
.text_step_2 a:hover{
	color:#1d6bd8;/*pop-tv rgb /#0e3ca0//dnevnik rgb #b8002b/*/
	font-weight:900;
	text-decoration:underline;
}
/* text fild in the left content */
.label_text{
	width:100%;
	float:right;
	margin-left:0px;
	margin-top:7px;/*align center its 5 px*/
	text-align:right;
	font-size:11px;
	font-weight:100;
}

/* position help */
.label_text_help{
	width:100%;
	float:right;
	margin-left:0px;
	margin-top:7px;
	text-align:right;
	cursor: help;
}

.label_text_new_password{
	width:100%;
	float:right;
	margin-left:0px;
	margin-top:7px;/*align center its 5 px*/
	text-align:right;
	font-size:11px;
	font-weight:100;
}


/*registration step 2 */
.align_text_registration_step_2{
	width:100%;
	float:left;
	margin-left:0px;
	margin-top:5px;
	text-align:left;
	margin-left:7px;/* 5px */
	font-size:11px;
	font-weight:900;
	color:#000000;
}

/*reject window - text information */
.reject_windows {
	width:415;
	margin-left:17px;
	margin-right:17px;
	font-size:12px;
	font-weight:100;
	color:#000000;
}

/*reject window - title information */
.reject_windows_alert {
	font-size:12px;
	font-weight:900;
	color:#ca0000;
}

/*end registration - box position */
#box_end_registration {
	/*width:100px;*/
	margin-left:300px;
}

/*.text {
	float: left;
	font-size: 11px;
	color: #8b8b8b;
	margin: 15px 0px 0px 123px;
	
}*/
/*
.position{
	float: left;
	font-size: 11px;
	color: #8b8b8b;
	margin-left:120px;
	
}/*
.header_align{
	margin-left:123px;
	float:left;
	
}*/
.sex {
	margin-top:5px;
}


#registration_box #settings_form .gsm_num_text {
	margin-left: 20px;
}


#MBOX_window{
	left: 50% !important;
	margin-left: -225px !important;
	top: 100px !important;
}

#MBOX_dragger{
	left: 50% !important;
	margin-left: -225px !important;
	top: 100px !important;
}

