body {
margin:0px;
padding:0px;
text-align:center;
font-family:Verdana;
background-image:url(http://blog.sakura.ne.jp/img/bg/simple_mossgreen/bg.gif);
background-repeat:repeat-y;
background-position:center;
background-color:#FFF;
}

#container{
margin:0px auto;
width:787px;
color:#4D4D4D;
font-size:12px;
font-family:Verdana;
text-align:center;
background-image:url(http://blog.sakura.ne.jp/img/bg/simple_mossgreen/header.gif);
background-repeat:no-repeat;
background-position:top center;
}
a{
color:#B58800;
text-decoration:none;
}
a:hover{
color:#B58800;
text-decoration:hover;
}
h1 {
margin:0px;
padding-top:10px;
font-weight:bolder;
font-size:24px;
font-family:Verdana;
}
h1 a{
color:#fff;
text-decoration: none;
font-weight:bolder;
}
h1 a:hover{
color:#fff;
text-decoration: none;
font-weight:bolder;
}

h2 {
margin:0px 0px 10px 0px;
padding: 0px 0px 10px 10px;
font-weight:bold;
text-align:left;
}

h3 {
font-size:12px;
font-weight:bolder;
padding: 20px 0px 15px 0px;
}

h3 a{
text-decoration: none;
color:#4D4D4D;
}

#banner{
margin:0px;
padding-left:20px;
padding-right:20px;
text-align:left;
height:86px;
margin-bottom:10px;
}

.description {
font-weight:bold;
padding:0px;
color:#fff;
}

.navi {
text-align:center;
}
#content {
margin:10px 0px 10px 10px;
_margin:10px 0px 10px 5px;
float:left;
width:514px;
}

.blog {
padding:0px 0px 0px 0px;
text-align:left;
margin-bottom:10px;
}

.blogbody {
font-weight:normal;
padding:0px 10px 0px 15px;
border:1px solid #ABBBA0;
background-color:#fff;
}

.date{
clear:left;
font-family:Verdana;
font-size:12px;
color:#5F7E3F;
background-image:url(http://blog.sakura.ne.jp/img/bg/simple_mossgreen/date.gif);
background-repeat:no-repeat;
background-position:bottom;
}

.title{
margin-top:0px;
margin-bottom:0px;
font-weight:bold;
}
.title a{
border:none;
}

.text{
padding:0px;
margin-top:0px;
line-height:1.8em;
font-family:Verdana;
}
.posted{ 
text-align: right;
margin-bottom:5px;
padding:10px 0px 10px 0px;
font-size:10px;
font-family:Verdana;
}
.posted a{ 
font-weight:bold;
}
#links-left {
}
#links {
font-weight:normal;
float:left;
width:253px;
padding-bottom:10px;
margin: 0px 0px 0px 10px;
text-align:left;
font-size:12px;
}

#calendar {
font-size:12px;
margin:0px;
padding-bottom:10px;
}
#calendar table {
padding-bottom:10px;
width:253px;
}
#calendar th {
font-weight:bold;
text-align:center;
}
.calendarhead {
background-image:url(http://blog.sakura.ne.jp/img/bg/simple_mossgreen/sidetitle.gif);
background-repeat:no-repeat;
background-position:left;
color:#fff;
padding:12px 0px 10px 0px;
text-align:center;
font-family:Verdana;
font-weight:bold;
font-size:12px;
}
.calendarhead a{
color:#fff;
text-decoration:none;
}
.calendarhead a:hover{
color:#fff;
text-decoration:none;
}
.calendarhead .calendarday a{
color:#fff;
text-decoration:none;
}
.calendarhead .calendarday a:hover{
color:#fff;
text-decoration:none;
}
.calendarhead .calendarday {
color:#fff;
text-decoration:none;
}


.calendarday {
padding:3px;
font-size:10px;
font-family:Verdana;
color:#4D4D4D;
text-align:center;
}
.calendarday a {
color:#B58800;
}

.sidetitle {
background-image:url(http://blog.sakura.ne.jp/img/bg/simple_mossgreen/sidetitle.gif);
background-repeat:no-repeat;
background-position:left;
color:#fff;
padding:12px 0px 10px 25px;
text-align:left;
font-family:Verdana;
font-weight:bold;
}

.side {
line-height:2em;
padding:5px 10px 10px 30px;
margin-bottom:10px;
font-size:10px;
text-align:left;
margin-bottom:10px;
font-family:Verdana;
}
.side  a{
font-size:12px;
}
.side-tag {
padding:5px 10px 10px 30px;
margin-bottom:10px;
font-size:10px;
text-align:left;
margin-bottom:10px;
font-family:Verdana;
}
.side-tag a{
font-size:12px;
}
input{
max-width:200px;
}
.input-submit{
margin-right:5px;
}
.powered {
padding:20px 0px 20px 0px;
text-align:center;
}

.syndicate {
margin-right:10px;
text-align:center;
font-size:10px;
}

#comments {
padding:10px 10px 10px 15px;
border:1px solid #ABBBA0;
background-color:#fff;
margin-bottom:30px;
margin-top:25px;
text-align:left;
font-family:Verdana;
}
#comments form {
margin:0px;
padding:0px 10px;
}
textarea{
width:370px;
margin-bottom:5px;
}
.comments-head{ 
font-weight:bold;
margin:0px;
padding: 0px 0px 10px 0px;
}
.comments-body {
margin:0px;
padding:0px;
}

.comments-post {
padding:10px;
text-align:right;
font-size:10px;
}
#trackback {
margin-bottom:30px;
margin-top:25px;
padding:10px 10px 10px 15px;
border:1px solid #ABBBA0;
background-color:#fff;
text-align:left;
font-family:Verdana;
}

#footer{
clear:left;
margin:0px 30px;
}
.copyright{
text-align:center;
}
.diet-content{
padding-left:10px;
}
#diet-foods{
padding-left:10px;
}
.food-title{
width:20%;
clear:left;
float:left;
}
.food-content{
width:75%;
padding-top:10px;
}
#diet-container{
border:1px solid #ABBBA0;
padding:5px;
margin-bottom:5px;
}
.diet-title{
padding:2px 10px 2px 5px;
margin-top:5px;
}
.diet-content{
padding-left:10px;
}
blockquote{
border:1px dashed #BEBEBE;
padding:5px;
margin:10px;
color:#7D7D7D;
}
.tag-word{
margin:20px 0px 0px 0px;
line-height:1.4em;
}
.tag{
margin-top:20px;
padding:10px;
}
#tag_cloud{
border:1px solid #ABBBA0;
padding:10px;
text-align:left;
position:relative;
}
#tag_cloud a {
padding:2px;
}
.tag-title{
font-size:16px;
font-weight:bold;
text-align:left;
}
.tag-body{
margin:10px 0px;
padding:10px 0px 0px 0px;
position:relative;
}
.tag-service{
text-align:left;
font-weight:bold;
border-bottom:1px solid #ABBBA0;
padding:0px 0px 5px 0px;
clear:left;
position:relative;
}
.tag-search{
text-align:right;
padding:5px 0px;
margin-bottom:10px;
font-weight:bold;
position:relative;
}
.tag-article{
padding:0px 10px 10px 10px;
text-align:left;
position:relative;
}
.tag-article-title{
text-align:left;
padding:0px 0px 5px 0px;
font-weight:bold;
position:relative;
}
.tag-article-posted{
font-weight:normal;
position:relative;
}
.tag-article-summary{
padding:0px 10px;
line-height:1.4em;
position:relative;
}
.tag-more{
text-align:right;
margin:10px 0px;
clear:left;
position:relative;
}
.tag-photos{
float:left;
margin:10px 5px;
position:relative;
width:140px;
height:200px;
}
.tag-photos-title{
line-height:1.4em;
padding:5px 0px;
text-align:left;
position:relative;
}
.tag-audios{
margin:5px;
position:relative;
}
.tag-audios-title{
text-align:left;
font-weight:bold;
padding:0px 0px 5px 0px;
position:relative;
}
.tag-audios-posted{
font-weight:normal;
position:relative;
}
.tag-videos{
float:left;
margin:8px 5px;
position:relative;
}
.tag-videos-title{
line-height:1.4em;
padding:5px 0px;
text-align:left;
position:relative;
}
.tag-navi{
clear:left;
text-align:center;
margin:10px 0px;
position:relative;
}

.listCategoryArticle{
margin-top:5px;
padding:5px;
border:solid 1px #FFE2E2;
}
.listCategoryArticle ul{
list-style:none;
padding:0;
margin:0 0 0 10px;
text-align:left;
list-style-position:outside;
}
.listCategoryArticle ul li{
margin:0;
background:url(http://blog.sakura.ne.jp/img/listCategoryArticle.gif) no-repeat 0 2px;
padding-left:12px;
line-height:1.4;
font-size:10px;
}

/* twitter quote */
.tweetBlockQuote{
 margin-bottom:10px;
 overflow:hidden;
 width:98%;
}
.tweetBlockQuote img{
 border:0;
}
.tweetBlockQuote .tweetImg{
 padding:0px;
 width:53px;
 text-align:left;
 overflow:hidden;
 vertical-align:top;
 float:left;
 margin-right:7px;
}
.tweetBlockQuote .tweetMain{
 padding:5px;
 border:solid 1px #ddd;
 background:#fff;
 color:#000;
 overflow:hidden;
 vertical-align:top;
 float:left;
 width:70%;
}
.tweetBlockQuote .tweetMain a.tweetOwner{
 color:#E86390;
 font-weight:bold;
 text-decoration:none;
}
.tweetBlockQuote .tweetMain a.tweetFriends{
 font-weight:bold;
 color:#26A6DC;
 text-decoration:none;
}
.tweetBlockQuote .tweetMain .tweetText{
 color:#000;
}
.tweetBlockQuote .tweetMain .tweetText a{
 color:#000;
 text-decoration:underline;
}
.tweetBlockQuote .tweetMain .tweetDate{
 color:#9C9C9C;
}
.tweetBlockQuote .tweetBoth{
 clear:both;
}
/* twitter quote */
