/** ** ** ** ** ** ** ** ** ** ** **/
/** NON-EMERGENCY                 **/
/** ** ** ** ** ** ** ** ** ** ** **/

#bu-alert-non-emergency {
	font-family: Arial, Helvetica, Verdana, sans-serif;

	background: #fffbcc url(http://www.bu.edu/common/bueas/graphics/icon-standard.gif) no-repeat 12px 14px; 
	border: 1px solid #e6db55;

	text-align: left;

	padding: 12px 12px 12px 80px;
	margin: 1em 0 18px 0;
}

#bu-alert-non-emergency h1 {
	padding: 0;
	margin: 0;

	font-size: 16px;
	line-height: 18px;

	color: #ea6e13;
	background: transparent;
}

#bu-alert-non-emergency p {
	padding: 0;
	margin: 0;

	font-size: 12px;
	line-height: 16px;
	color: #404448;
	font-weight: bold;
}

#bu-alert-non-emergency p.bu-alert-non-emergency-date {
	font-size: 9px;
	line-height: 12px;
	color: #777f88;
	font-weight: normal;

	margin: 0 0 12px 0;
}

#bu-alert-non-emergency p.bu-alert-non-emergency-signature {
	margin-top: 1em;
}

#bu-alert-non-emergency a {
	color: #4B8DAC !important;
	text-decoration: underline !important;
}

/** ** ** ** ** ** ** ** ** ** ** **/
/** EMERGENCY                     **/
/** ** ** ** ** ** ** ** ** ** ** **/

#bu-alert-emergency {
	width: 100%;

	margin: 0 !important;
	padding-top: 12pt;
	padding-bottom: 12pt;

	font-family: arial,helvetica,verdana,sans-serif !important; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	font-size: 12px !important;

	font-size-adjust: none; 
	font-stretch: normal; 
	-x-system-font: none; 

	text-align: left;

	background: white;
}

#bu-alert-emergency-inner {
	border-style: solid none; 
	border-color: #ECD127; /* Keep this in addition to below, for Safari compatibility */
	border-color: #ECD127 -moz-use-text-color;
	border-width: 3px medium; 

	padding: 15px 20px 15px 50px;

	background: #1e1e1f url(http://www.bu.edu/common/bueas/graphics/icon-severe-small.gif) no-repeat scroll 3px 1px; 
	

	-moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial; 

	min-height: 40px;
	_height: 55px;
}

#bu-alert-emergency-header {
	margin: 0; 
	padding: 0 10px 0 0; 
	padding-top: 5px;
	padding-right: 20px;

	font-size: 16px; 
	color: #ECD127; 

	float: left;
	display: block;
}
#bu-alert-emergency-message {
	display: block;
	padding-left: 180px;
	padding-bottom: 0.5em;
}

#bu-alert-emergency p {
	font-family: arial,helvetica,verdana,sans-serif !important; 
	font-variant: normal; 
	font-weight: bold; 
	font-size: 12px !important;

	font-size-adjust: none; 
	font-stretch: normal; 
	-x-system-font: none; 

	text-align: left;

	color: #cccccc;

	display: inline;
}

#bu-alert-emergency a,
#bu-alert-emergency a:link,
#bu-alert-emergency a:visited,
#bu-alert-emergency a:active,
#bu-alert-emergency a:hover {
	color: #4AA2CB;

	text-decoration: underline;
}


#emergency p {
	font-weight: bold;
}

@media only screen  and (max-width : 640px) {
	#bu-alert-emergency-message {
		clear: left;
		padding-left: 0;
		padding-top: 10px
	}
}

