/* reset --------------------------- */ /*arbitrary change*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;font:62.5%/120% arial,verdana,helvetica,sans-serif}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}input.input-text,textarea,select{font-family:inherit}


/* fonts --------------------------- */
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "BU-Default-Icons";
  src: url("https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.eot");
  src: url("https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.ttf") format("truetype"),
       url("https://www.bu.edu/cdn/fonts/icons/bu-default-icons/bu-default-icons.svg#bu-default-icons") format("svg");
  font-style: normal;
  font-weight: 400;
  // unicode-range:U+??????; /* Include all Unicode possiblities */
}










/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Body - not related to megamenu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.mobile-menu {
    font-size: 16px;
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
}

.mobile-menu * {
    box-sizing: border-box;
}

.mobile-menu a {
    color: #fff;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
    width: 80%;
    margin: 0 auto;
    background: #222;
}

.menu-mobile {
    display: none;
    padding: 0.75em;
}

.menu-mobile:before {
    content: "";
    position: relative;
    display: inline-block;
    background: url(../images/hamburger.png) no-repeat 0 0;
    width: 20px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: -2px;

}

.menu-dropdown-icon:before {
    content: "\002b";
    font-family: "BU-Default-Icons";
    display: none;
    cursor: pointer;
    background: #c00;
    color: #fff;
    position: absolute;
    right: 10px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    top: 20px;
    margin-top: -10px;
    font-weight: 600;
    border-radius: 30px;
    font-size: 6px;
    z-index: 9999;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    background: #333;
    padding: 0;
    margin: 0;
    position: relative;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 1.5em 3em;
    display: block;
    font-family: "Brandon-Text";
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    position: relative;
}

.menu > ul > li:hover {
    background: #555;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #444;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #bbb;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
    text-transform: none;
    font-family: helvetica,arial,sans-serif;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 0.5em 1em;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 0.5em 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 649px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
        text-decoration: none;
	    font-size: 14px;
	    text-transform: uppercase;
	    font-family: "Brandon-Text";
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1em;
        width: 85%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}













/* global --------------------------- */

html{overflow-y:scroll;background:#ebebeb url(../images/bg-body.jpg) repeat 0 0;}
body{background:transparent url(../images/bg-body-top.png) repeat-x 0 0;font-family:helvetica,arial,sans-serif;}
a{text-decoration:none;color:#4c9bc3;}
a:hover, a:active, a:focus{text-decoration:underline;}
p{font-size:1.2em;line-height:1.5em;margin-bottom:1.2em;}
#wrapper{
	min-width: 320px;
    max-width: 928px;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
#content{
	position:relative;
    overflow: visible;
    margin: 0 -5px;
}

/* header --------------------------- */

#header{
	text-align:right;
	padding-bottom:9px;
}
#header #masthead{
	float:left;
	text-align:left;
	padding: 20px 80px 0 0;
}
#header #masthead a{display:block;color:#fff;width:225px;height:30px;text-indent:-9000px;overflow:hidden;background:transparent url(../images/sprite.png) no-repeat -198px 0;}
#audience{
    position: relative;
    padding: 10px 0;
    float: right;
    z-index: 4;
}
#audience li{list-style:none;display:inline;}
#audience li a{display:block;width:auto;font-size:1.2em;color:#8A8F94;padding:4px 10px 4px 9px;float:left;text-align:center;background:transparent url(../images/sprite.png) no-repeat 100% -600px;text-shadow:0 1px 0 rgba(255, 255, 255, .5);}
#audience li a:hover, #audience li a:focus{color:#222;}
#audience li.campaign a{
	background:none;
}
#audience li:hover, #audience li:focus{background-color:#3089c2;}
#audience li:hover ul, #audience li:focus ul{left:0;}
#audience li a#alumni-menu{padding-right:21px;background:transparent url(../images/sprite.png) no-repeat 100% -643px;}
#audience li a#alumni-menu:hover, #audience li:hover a#alumni-menu, #audience li a#alumni-menu:focus, #audience li:focus a#alumni-menu{color:#fff;background-color:#4c9bc3;background-position:100% -668px;text-decoration:none;}
#audience li ul{
	position:absolute;
	margin:0;
	padding:5px 0 6px;
	width:114px;
	top:30px;
	left:-999em;
	z-index:4;
	background:#fff;
	box-shadow:0 1px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 1px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 1px 6px rgba(0, 0, 0, 0.3);
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-khtml-border-radius-bottomleft:5px;
	-khtml-border-radius-bottomleft:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	border-radius-bottomleft:5px;b
	order-radius-bottomright:5px;
}
#audience li li{width:100%;margin-right:0;}
#audience li li a, #audience li:hover li a, #audience li:focus li a{display:block;width:auto;float:none;font-size:1.1em;text-align:left;padding:4px 9px;background-color:#fff;height:auto;border:none;margin-bottom:0;}

/* nav --------------------------- */

#nav-bar{
	clear:both;
	text-align:left;
	padding:3px 3px 0 3px;
	border-bottom: 3px solid #fff;
	background: #fff;
	overflow:hidden;
	display:block;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
    		box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
	/*height: auto !important;*/
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-webkit-transition: max-height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	   -moz-transition: max-height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	     -o-transition: max-height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	        transition: max-height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
    -webkit-transition-delay: 0.1s;
       -moz-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
}
#primary-nav{
	max-height: 300px;
	float:left;
	width:100%;
    background: #333; 
    overflow: hidden;
    display: none;
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	-webkit-transition: max-height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	   -moz-transition: max-height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	     -o-transition: max-height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	        transition: max-height 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
    -webkit-transition-delay: 0.1s;
       -moz-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
}
#primary-nav:hover{
	max-height: 500px;
}
#primary-nav li{
	float:left;
	width: 33.3333333333%;
	display:block;
	position:relative;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

#primary-nav li:first-child{
    border-left: none;
}
#primary-nav li a{
	display:block;
	width:100%;
	color:#fff;
	font-size:1em;
	overflow:hidden;
    box-sizing: border-box;
    padding: 10px;
    line-height: 18px;
    height: 35px;
    position: relative;
    background: #222;
    text-transform: uppercase;
    font-family:"Brandon-Text";
}
#primary-nav li a:hover, #primary-nav li a:focus {
 	color: #59b;
 	text-decoration: none;
}
/* background images */
#primary-nav li#admissions a{
}
#primary-nav li#academics a{
}
#primary-nav li#research a{
}
#primary-nav li#global a{
}
#primary-nav li#campuslife a{
}
#primary-nav li#about a{
}
#primary-nav li#admissions a:hover, #primary-nav li#admissions a:focus, #primary-nav li#admissions a:active{background-position:-598px 13px;}
#primary-nav li#academics a:hover, #primary-nav li#academics a:focus, #primary-nav li#academics a:active{background-position:-598px -87px;}
#primary-nav li#research a:hover, #primary-nav li#research a:focus, #primary-nav li#research a:active{background-position:-598px -187px;}
#primary-nav li#global a:hover, #primary-nav li#global a:focus, #primary-nav li#global a:active{background-position:-598px -287px;}
#primary-nav li#campuslife a:hover, #primary-nav li#campuslife a:focus, #primary-nav li#campuslife a:active{background-position:-598px -387px;}
#primary-nav li#about a:hover, #primary-nav li#about a:focus, #primary-nav li#about a:active{background-position:-598px -487px;}
/* sub items */
#primary-nav li ul{
	width:100%;
	display: none;
	height: 100%;
    box-sizing: border-box;
    padding-top: 40px;
}
#primary-nav li ul li{
	width: 100%;
    border-left: none;
    box-sizing: border-box;
    height: auto;
}
#primary-nav li li{display:block;}
#primary-nav li li a,
#primary-nav li#admissions li a,
#primary-nav li#academics li a,
#primary-nav li#research li a,
#primary-nav li#global li a,
#primary-nav li#campuslife li a,
#primary-nav li#about li a{
	color:#ddd;
	overflow:visible;
	padding: 5px 10px;
	line-height: 10px;
	padding-right: 9px;
    position: relative;
    background: none;
    text-transform: none;
    font-family:helvetica,arial,sans-serif;
    letter-spacing: 0;
    height: auto;
}
#primary-nav li li a:hover, #primary-nav li li a:focus {
 	text-decoration: underline;
}

/* quicksearch --------------------------- */
#quicksearch {
    background: #222;
    display: block;
    float: right;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}
@media only screen and (max-width:767px) {
	#quicksearch {
		max-height: 30px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	#quicksearch.engaged {
		max-height: 90px;
	}
}
#quicksearch fieldset{
    background: #000;
    padding: 6px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
#quicksearch input.input-text{
	font-family: inherit;
	float: left;
	width: 100%;
	box-sizing: border-box;
	color: #c4c7ca;
	background: #474b4c;
	border: 0;
	border-right: 1px solid #3c3e3f;
	font-size: 1.1em;
	line-height: 23px;
	padding: 0 22px 0 6px;
	overflow: hidden;
	margin: 0;
    height: 23px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
#quicksearch input.button{border:0 none;
	float:left;
	height:23px;
	width:23px;
	text-indent:-9000px;
	overflow:hidden;
	background:transparent url(../images/sprite.png) 0 -200px;
	cursor:pointer;
	position: absolute;
	right: 6px;
}
#quicksearch input.input-text:active, #quicksearch input.input-text:focus{color:#fff;}
#quicksearch h3{
    font-size: 1.1em;
    color: #ebeff2;
    margin-top: 40px;
    padding: 5px 0px 0px 10px;
    display: inline-block;
}
#quicksearch ul{
    margin: 0 5px 5px 5px;
    display: inline;
}
#quicksearch li{
	display:inline;
}
#quicksearch li a{
    font-size: 1.1em;
    display: inline-block;
    width: auto;
    padding: 5px 5px;
    line-height: 10px;
}

/* feature --------------------------- */

#feature{
	position:relative;
	overflow:hidden;
	text-align:left;
	background:#fff;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
    		box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
	}
#feature img, #motion{
	position:relative;
	width: 100%;
	box-sizing: border-box;
	padding: 3px 3px 3px 3px;
}

#feature img, #feature .motion{
	position:relative;
	width: 100%;
	box-sizing: border-box;
	padding: 0px 3px 3px 3px;
}
#feature .motion{
    position: relative;
    padding-bottom: 40.88%;
    height: 0;
}
#feature .motion img{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
}
/* headline styles */
.headline{
	position:absolute;
	width:50%;
	left:23px;
    top: 0;
    height: 100%;
}
.headline h1{
	height:100%;
	display:table;
}
.headline h1 a{
	display:table-cell;
	vertical-align:middle;
	color:#fff;
	font-size:12px;
	line-height:12px;
	font-weight:normal;
	margin:0;
}
.headline h1 a:hover, .headline h1 a:focus, .headline h1 a:active{text-decoration:none;}
.headline h1 a span{display:inline-block; padding:4px 5px;background:transparent url(../images/sprite.png) 0 -1200px;}
.headline h1 a strong{font-size:26px;line-height:26px;font-weight:bold;}
.headline h1 a strong span{}
/* optional attributes */
#feature .semiwide{left:635px;width:266px;}
#feature .wide{}
#feature .extrawide{left:479px;width:422px;}
#feature .left{ }
#feature .center{left:30px;width:882px;text-align:center;}
#feature .center h1{width:882px;text-align:center;}
#feature .huge h1 a strong{font-size:50px;line-height:50px;}
#feature .huge h1 a strong span{height:50px;}
#feature .nobg h1 a span{background-image:none;}
#feature .black-90 h1 a span{background-position:0 -1000px;}
#feature .inverse h1 a, #feature .inverse-90 h1 a {color:#333;}
#feature .inverse h1 a span{background-position:0 -1600px;}

/* photo features */
#feature .caption{width:100%;position:absolute;bottom:12px;left:42px;padding-left:1px;}
#feature .caption p{color:#fff;font-size:1.2em;margin:0;}	
#feature .caption span{display:inline;padding:2px 5px;background:transparent url(../images/sprite.png) 0 -1200px;}
#feature .caption a{color:#7cd3ff;}
/* multi-panel feature */
.panel{position:absolute;display:block;width:220px;height:360px;text-indent:-9000px;}
#panel1{left:30px;background-position:0 0;}
#panel2{left:250px;background-position:-220px 0;}
#panel3{left:470px;background-position:-440px 0;}
#panel4{left:690px;background-position:-660px 0;width:222px;}
#panel1:hover, #panel1:focus, #panel1:active{background-position:0 -360px;}
#panel2:hover, #panel2:focus, #panel2:active{background-position:-220px -360px;}
#panel3:hover, #panel3:focus, #panel3:active{background-position:-440px -360px;}
#panel4:hover, #panel4:focus, #panel4:active{background-position:-660px -360px;}



@media only screen and (min-width:550px) {
    #feature .hide{display:none;}
}

@media only screen and (max-width:549px) {
    .headline {
        position: relative;
        left: 0;
        box-sizing: border-box;
        padding: 0px 3px 3px;
        width: 100%;
    }
    .headline h1 {
        margin: 8px 8px 30px;
    }
    .headline h1 a strong span {
        color:#222;
    }
    .headline h1 a span{
        background: none;
        color: #666b6c;
    }
}


/* browse --------------------------- */

#browse{
}
#browse.loading{background:transparent url(../images/snake-chasing-its-tail.gif) no-repeat 50%;}
#browse .item, #main, #sidebar {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
#browse .item div, #main .container, #sidebar .widget {
    overflow: hidden;
    position: relative;
    padding: 3px;
    background: #fff;
    margin: 0 5px;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
    		box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
}
#browse .item div {
    padding-bottom: 30px;
}
#browse h3{
	color:#fff;
	font-size:1.3em;
	background:#b9bdc0 url(../images/sprite.png) no-repeat 0 -800px;
	text-shadow:#a4abae -1px -1px 0;
}
#browse h3 a{display:block;padding:9px 9px 9px 39px;color:#fff;background:transparent url(../images/sprite.png) no-repeat 0 -900px;}
#browse h2{
	font-size:1.7em;
	line-height:1.2em;
}
#browse h2 a{
	color:#222;
}
#browse h2 a img{
	display:block;
	width: 100%;
}
#browse h2 a span {
    margin: 10px 10px 5px 10px;
    display: inline-block;
}
#browse p.subhead{
	color:#666b6c;
	margin:0 10px;
}
#browse p.source{
	position:absolute;
	box-sizing: border-box;
	bottom:0;
	left:0;
	width:100%;
	font-size:1.1em;
	line-height:1em;
	margin:0;
	padding:1em 10px;
	color:#868d90;
	background:#222;}
#browse p.source a{font-weight:bold;color:#e1e1e1;}
#browse p.source a.type{color:#8ab930;}

#browse #controls {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
    margin-bottom: 0;
}
@media only screen and (max-width: 949px) {
	#browse #controls a {
		color: #8a8f94;
	    display: block;
	    width: 100%;
	    line-height: 2.5em;
	    background: rgba(40,60,80,.1);
	    margin-bottom: 5px;
	}
	#browse #controls a:after {
		content: &raquo;
	}
	#browse #controls a:hover, #browse #controls a:focus {
	    text-decoration: none;
	    color: #5a5f64;
	    background: rgba(40,60,80,.15);
	}
	#browse #controls a:active {
	    background: rgba(40,60,80,.2);
	}
}
@media only screen and (min-width: 950px) {
	#browse a#previous, #browse a#more{
		display:block;
		position:absolute;
		height:29px;
		width:15px;
		top:155px;
		text-decoration:none;
		text-indent:-9000px;overflow:hidden;
	}
	#browse a#previous{
		left:-20px !important;
		background:transparent url(../images/sprite.png) no-repeat 0 -400px;
	}
	#browse a#more{
		right: -20px !important;
		background:transparent url(../images/sprite.png) no-repeat -100px -400px;
	}
	#browse a#previous:hover, #browse a#previous:focus, #browse a#previous:active{background-position:0 -429px;}
	#browse a#more:hover, #browse a#more:focus, #browse a#more:active{background-position:-100px -429px;}
}



#browse #controls a.disabled{display:none;}

/* BU Today box */
#browse .bu-today h2{font-size:1em;line-height:1em;margin:0 10px 10px 10px;padding:18px 0 10px 0;border-bottom:1px solid #d6d8da;}
#browse .bu-today h2 a{color:#abb0b2;text-decoration:none;}
#browse .bu-today h2 a strong{display:block;float:left;height:18px;width:80px;margin:-4px 0 0 0;text-indent:-9000px;overflow:hidden;background:transparent url(../images/sprite.png) no-repeat -200px -200px;}
#browse p.article{
	margin:0 10px;
}
#browse p.article a{display:block;color:#666b6c;}
#browse p.article a strong{display:block;color:#222;}
#browse p.article a:hover, #browse p.article a:focus, #browse p.article a:active{text-decoration:none;}
#browse p.article a:hover strong, #browse p.article a:focus strong, #browse p.article a:active strong{text-decoration:underline;}
/* sports */
#browse p.sports a strong{display:inline;}
#browse p.sports{padding:10px 0 0 0;border-top:1px solid #d6d8da;}

/* explore --------------------------- */



#main h1{
	color:#fff;
	font-size:1.3em;
	padding:9px;margin:0 0 3px 0;
	background:#b9bdc0 url(../images/sprite.png) no-repeat 0 -800px;
	text-shadow:#a4abae -1px -1px 0;
}
#main h1 strong{color:#333;}
.sub-feature{
	margin:10px;
	/*padding:10px;*/
	border-bottom:1px solid #d6d8da;
}
.sub-feature:last-child{
	border:0;
}
.sub-feature p{margin:0;color:#666666;}
.sub-feature img{
	float:left;
	margin:0 10px 10px 0;
	width: 100%;
}
.sub-feature h2 a strong{display:block;color:#000;font-weight:bold;font-size:2em;line-height:1em;padding:13px 0 10px 0;}
.sub-feature h2 a:hover strong, .sub-feature h2 a:focus strong, .sub-feature h2 a:active strong{text-decoration:underline;}
.sub-feature .source{
	color:#adb2b4;
	margin: 10px 0;
	font-size:1.1em;
	display: inline-block;
}
.sub-feature .source a{color:#3089c2;font-weight:bold;}
.sub-feature .source a .type{display:inline;font-size:1em;color:#80b81e;font-weight:bold;}

/* pagination --------------------------- */

#pagination{

}
#pagination div{
    margin: 0 -5px;
}
#pagination ul{
    width: 100%;
    display: table;
    background: rgba(40,60,80,.1);
    float: left;
    border: 5px solid #E9E9E9;
    border-width: 0 5px;
    box-sizing: border-box;
    text-align: center;
}
#pagination li{
    display: none;
    line-height: 30px;
    overflow: hidden;
    width: 8%;
}
#pagination li.next-li, #pagination li.prev-li {
    display: table-cell;
}
#pagination li a, #pagination li span{
    display: block;
    font-weight: bold;
    color: #8a8f94;
    font-size: 1.1em;
    text-align: center;
}
#pagination li a.prev, #pagination li a.next{
	text-indent:-5000px;
	position: relative;
}
#pagination li a.prev:before, #pagination li a.next:after{
    position: absolute;
    text-indent: 0;
    display: block;
    top: 0;
    left: 50%;
    margin-left: -0.25em;
    font-family: "Brandon-Text";
    font-size: 2em;
    font-weight: normal;
}
#pagination li a.prev:before {
    content: "\00ab";
}
#pagination li a.next:after {
    content: "\00bb";
}
#pagination li a.current{
	background-color:#2376b9;
	color: #fff;
}
#pagination li a.current:hover, #pagination li a.current:focus {
    background: #1E68A5;
}
#pagination li a:hover, #pagination li a:focus, #pagination li a:active{
	background-color: rgba(0,0,0,0.1);
	text-decoration:none;
}
#pagination li span{
	color:#7F8991;
}
#pagination p{
    float: left;
    width: 100%;
    color: #7f8991;
    border: 5px solid #E9E9E9;
    border-width: 0 5px;
    box-sizing: border-box;
    padding: 5px 0;
    text-align: center;
    background: rgba(40,60,80,.05);
}
#pagination a{font-weight:bold;}

/* sidebar --------------------------- */

.widget{padding-top:6px;}
.widget div{padding:18px;}
/* subnav */
#subnav h3{width:189px;color:#333;font-size:2em;padding-bottom:10px;text-transform:lowercase;}
#subnav h3 a{color:#333;text-decoration:none;}
#subnav ul{border-top:5px solid #cfd2d4;margin-bottom:0;}
#subnav li a{
	border-bottom:1px solid #cfd2d4;
	display:block;
	line-height:1em;
	padding:7px 0;
	color:#666;
	font-size:1.5em;
	font-weight:bold;
}
#subnav li a span{color:#a4abae;font-size:.7em;font-weight:normal;}
#subnav li a:hover, #subnav li a:focus, #subnav li a:active, #subnav li.current a, #subnav h3 a:hover, #subnav h3 a:focus, #subnav h3 a:active{text-decoration:none;color:#80B81E;}
#subnav li:last-child a{border:0;padding-bottom:4px;}
/* related */
.related h3{color:#fff;font-size:1.3em;margin:-15px -9px 3px -9px;padding:9px;background:#b9bdc0 url(../images/sprite.png) no-repeat 0 -800px;text-shadow:#a4abae -1px -1px 0;}
.related ul{margin:0;}
.related li a{border-top:1px solid #cfd2d4;display:block;padding:9px 0;color:#666;font-size:1.1em;line-height:1.4em;}
.related li a:hover, .related li a:focus, .related li a:active{color:#222;}
.related li:first-child a{border-top:none;}
.related li:last-child a{padding-bottom:0;}

/* footer --------------------------- */

#footer{
    position: relative;
	padding: 0px 0px 20px 130px;
    min-height: 50px;
    text-align: left;
    margin-top: 30px;
}
#footer #logo{
	float: left;
    display: block;
    width: 112px;
    height: 50px;
    margin: 0;
    position: absolute;
    left: 0;
}
#footer #logo a{display:block;width:112px;height:50px;text-decoration:none;text-indent:-9000px;overflow:hidden;background:transparent url(../images/sprite.png) 0 0;}
#footer li{
	list-style:none;
	display:inline-block;
}
#footer li a{
	font-size:1.2em;
	color:#8a8f94;
	padding:4px 10px 4px 9px;
	float:left;
	display:block;
	width:auto;
	background:transparent url(../images/sprite.png) 100% -700px;
	text-shadow:0 1px 0 rgba(255, 255, 255, .5);
}
#footer li a:hover, #footer li a:focus, #footer li a:active{color:#555f6a;}
#footer li.last a{background-image:none;}
#footer li.bu_switch_version{
	display: block;
}
#footer li.bu_switch_version a{
	background-image:none;
}
/* social media links */
#footer #social-media{
    font-size: 1.2em;
    color: #8a8f94;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    position: relative;
    padding: 0;
}
#footer #social-media a{display:inline-block;height:15px;width:15px;margin: 0 0 0 3px;text-indent:-9000px;overflow:hidden;vertical-align:middle;}
#footer #social-media a:first-child{margin-left:6px;}
#facebook{background:transparent url(../images/sprite.png) no-repeat 0 -600px;}
#twitter{background:transparent url(../images/sprite.png) no-repeat -100px -600px;}
#buniverse{background:transparent url(../images/sprite.png) no-repeat -200px -600px;}

/* clearer */
#nav-bar:after, #content:after, #main:after, #pagination div:after, .sub-feature:after, #browse:after, #browse .bu-today h2:after, #footer:after{display:block;clear:both;content:" ";height:0;overflow:hidden;}

/* BU emergency Alert */
#bu-alert-emergency{padding:0;}
#bu-alert-emergency-inner{border-top:0;}
#bu-alert-emergency-message{padding:7px 12px 7px 180px;}
#bu-alert-non-emergency{border:3px solid #eed98f;padding:12px 12px 12px 80px;margin:6px 27px;}











	#browse .item {
	    padding-bottom: 30px;
	}
	#browse .item div{
	    height: 100%;
        overflow: visible;
	}


/* Media Queries */
@media screen and (min-width: 400px) {
	#browse .item {
	    width: 50%;
	}
	.sub-feature img{
		width: 50%;
	}
}
@media screen and (min-width: 550px) {

	#audience li.last a,#audience li.parents a{
		background-image:none;
	}
	#audience li.campaign a{
		background:transparent url(../images/sprite.png) no-repeat 0 -700px;
		height:22px;
		width:123px;
		margin:0 6px;
		padding:0;
		text-indent:-500px;
		overflow:hidden;
	}
	#audience li.campaign a:hover{
		background-position:-200px -700px;
	}
	#primary-nav li{
		width: 16.6666666666%;
    	border-bottom: none;
	}
	#primary-nav li a{
	}
	#main {
	    width: 70%;
	}
	#pagination ul, #pagination p{
	    width: 70%;
	}
	#pagination li{
	    display: table-cell;
	}
	#sidebar {
	    width: 30%;
	}
}
@media screen and (min-width: 650px) {
	.mobile-menu {
		display: none;
	}
	#nav-bar{
		max-height: 500px;
	}
	#nav-bar:hover{
		max-height:500px;
	}
	#primary-nav {
		max-height: 25px;
	    padding-bottom: 10px;
	    display: block;
	}
	#primary-nav li a {
	    position: absolute;
		font-size: 1.1em;
		letter-spacing: 0.05em;
	}
		#primary-nav li ul {
	    display: inline-block;
	}
	.sub-feature img{
		width: 40%;
	}
}
@media screen and (min-width: 700px) {
	#browse .item {
	    width: 25%;
	}
}
@media screen and (min-width: 768px) {
	#wrapper {
	    padding: 0 20px;
	}
	#header #masthead{
		float:left;
		text-align:left;
		padding: 30px 0 18px 0;
	}
	#audience{
	    position: relative;
	    padding: 35px 0 25px 0;
	    float: right;
	    z-index: 4;
	}
	#audience li ul{
		top:55px;
	}
	#nav-bar{
		max-height: 35px;
	}
	#primary-nav {
		max-height: 500px;
	    width: 84%;
		border-radius: 7px 0px 0px 0px;
		-moz-border-radius: 7px 0px 0px 0px;
		-webkit-border-radius: 7px 0px 0px 0px;
	}
	#quicksearch{
	    width: 16%;
		border-radius: 0px 7px 0px 0px;
		-moz-border-radius: 0px 7px 0px 0px;
		-webkit-border-radius: 0px 7px 0px 0px;
	}
	#quicksearch h3{
	    padding-top: 10px;
	}
	#quicksearch ul {
	    display: block;
	}
	#quicksearch li {
	    display: block;
	}
	#footer{
		padding: 0px 130px 20px 130px;
	}
	#footer #social-media{
	    position: absolute;
	    padding: 0;
	    top: 0px;
    	right: 0px;
	}
	#footer #social-media:before{
	    content: "Follow Us:";
	}
}

@media screen and (max-width: 399px) {
	#footer {
		padding: 0;
		text-align: center;
	}
	#footer #logo {
		position: relative;
		margin: 0 auto 10px auto;
		float: none;
	}
	#footer ul {
		margin-bottom: 10px;
	}
}



#browse .item.bu-today .article {
    margin-bottom: 10px;
}




/*ie fixes*/
.no-video #wrapper {
    max-width: 888px;
}
