#header-print { display:block; }
#header-container { display:none; }
#cart-header { display:none; }
#content_wrap { margin-top:0; }
.print-email { display:none; }
a.button3 { display:none; }
.form div.summaryTerms {
width:auto;
height:auto;
border:none;
padding:0;
}
#cart h2 {
margin-top:50px;
}
.footer {
display:none;
}
#footer_wrap ul { display:none; }