@font-face {
    font-family: 'fonticon';
    src:
        url('/uploadedFiles/ecomm/fonts/fonticon.ttf?1o6a3e') format('truetype'),
        url('/uploadedFiles/ecomm/fonts/fonticon.woff?1o6a3e') format('woff'),
        url('/uploadedFiles/ecomm/fonts/fonticon.svg?1o6a3e#fonticon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ic-shaw-"], [class*=" ic-shaw-"] {
    /* use  to prevent issues with browser extensions that change fonts */
    font-family: 'fonticon' ;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-shaw-your-voice:before {
    content: "\e901";
}
.ic-shaw-info:before {
    content: "\e900";
}
.ic-shaw-bundle:before {
    content: "\e60f";
}
.ic-shaw-channellisting:before {
    content: "\e610";
}
.ic-shaw-tab-scc:before {
    content: "\e60e";
}
.ic-shaw-tab-apple:before {
    content: "\e60b";
}
.ic-shaw-tab-education:before {
    content: "\e60c";
}
.ic-shaw-tab-internet:before {
    content: "\e60d";
}
.ic-shaw-tv-support:before {
    content: "\e60a";
}
.ic-shaw-email-support:before {
    content: "\e608";
}
.ic-shaw-internet-support:before {
    content: "\e609";
}
.ic-shaw-twitter:before {
    content: "\f099";
}
.ic-shaw-facebook:before {
    content: "\f09a";
}
.ic-shaw-youtube:before {
    content: "\f167";
}
.ic-shaw-move:before {
    content: "\e602";
}
.ic-shaw-my_account:before {
    content: "\e603";
}
.ic-shaw-referral_rewards:before {
    content: "\e604";
}
.ic-shaw-shaw_friends:before {
    content: "\e605";
}
.ic-shaw-support_community:before {
    content: "\e606";
}
.ic-shaw-support_community_2:before {
    content: "\e607";
}
.ic-shaw-more-info:before {
    content: "\e601";
}
.ic-shaw-mapicon:before {
    content: "\e600";
}
.ic-shaw-doc:before {
    content: "\e700";
}
.ic-shaw-close:before {
    content: "\e701";
}
.ic-shaw-link:before {
    content: "\e702";
}
.ic-shaw-menu:before {
    content: "\e703";
}
.ic-shaw-left:before {
    content: "\e704";
}
.ic-shaw-right:before {
    content: "\e705";
}
.ic-shaw-question:before {
    content: "\e706";
}
.ic-shaw-check:before {
    content: "\e707";
}
.ic-shaw-expand:before {
    content: "\e708";
}
.ic-shaw-help:before {
    content: "\e709";
}
.ic-shaw-top:before {
    content: "\e70a";
}
.ic-shaw-closehelp:before {
    content: "\e70b";
}
.ic-shaw-user:before {
    content: "\e70c";
}
.ic-shaw-bill:before {
    content: "\e70d";
}
.ic-shaw-internet:before {
    content: "\e70e";
}
.ic-shaw-tv:before {
    content: "\e70f";
}
.ic-shaw-phone:before {
    content: "\e710";
}
.ic-shaw-exit:before {
    content: "\e711";
}
.ic-shaw-email:before {
    content: "\e712";
}
.ic-shaw-chat:before {
    content: "\e713";
}
.ic-shaw-phone2:before {
    content: "\e714";
}
.ic-shaw-add:before {
    content: "\e715";
}
.ic-shaw-plus:before {
    content: "\e716";
}
.ic-shaw-minus:before {
    content: "\e717";
}
.ic-shaw-channels:before {
    content: "\e718";
}
.ic-shaw-list:before {
    content: "\e719";
}
.ic-shaw-remote:before {
    content: "\e71a";
}
.ic-shaw-calendar:before {
    content: "\e71b";
}
.ic-shaw-vm:before {
    content: "\e71c";
}
.ic-shaw-data:before {
    content: "\e71d";
}
.ic-shaw-call:before {
    content: "\e71e";
}
.ic-shaw-blocked:before {
    content: "\e71f";
}
.ic-shaw-location:before {
    content: "\e720";
}
.ic-shaw-cart:before {
    content: "\e721";
}
.ic-shaw-webmail:before {
    content: "\e722";
}
.ic-shaw-contact:before {
    content: "\e723";
}
.ic-shaw-logo:before {
    content: "\e724";
}
.ic-shaw-search:before {
    content: "\e725";
}
.ic-shaw-gladiator:before {
    content: "\e726";
}
.ic-shaw-collapse:before {
    content: "\e727";
}
.ic-shaw-lock:before {
    content: "\e728";
}
.ic-shaw-next:before {
    content: "\e729";
}
.ic-shaw-success:before {
    content: "\e72a";
}
.ic-shaw-chat2:before {
    content: "\e730";
}
.ic-shaw-contact2:before {
    content: "\e731";
}
.ic-shaw-email2:before {
    content: "\e733";
}
.ic-shaw-support:before {
    content: "\e734";
}
.ic-shaw-tv-rating-c:before {
    content: "\e735";
}
.ic-shaw-tv-rating-c8:before {
    content: "\e736";
}
.ic-shaw-tv-rating-g:before {
    content: "\e737";
}
.ic-shaw-tv-rating-pg:before {
    content: "\e738";
}
.ic-shaw-tv-rating-14:before {
    content: "\e739";
}
.ic-shaw-tv-rating-18:before {
    content: "\e73a";
}
.ic-shaw-m-rating-g:before {
    content: "\e73b";
}
.ic-shaw-m-rating-pg:before {
    content: "\e73c";
}
.ic-shaw-m-rating-14:before {
    content: "\e73d";
}
.ic-shaw-m-raing-18:before {
    content: "\e73e";
}
.ic-shaw-m-rating-r:before {
    content: "\e73f";
}
.ic-shaw-m-rating-a:before {
    content: "\e740";
}
.ic-shaw-s-internet:before {
    content: "\e741";
}
.ic-shaw-s-tv:before {
    content: "\e742";
}
.ic-shaw-myAccount:before {
    content: "\e743";
}
.ic-shaw-search2:before {
    content: "\e744";
}
.ic-shaw-location2:before {
    content: "\e745";
}
.ic-shaw-home2:before {
    content: "\e746";
}
.ic-shaw-support2:before {
    content: "\e747";
}
.ic-shaw-reload:before {
    content: "\e748";
}
.ic-shaw-invoice:before {
    content: "\e749";
}
.ic-shaw-s-phone:before {
    content: "\e750";
}
.ic-shaw-shaw-tv:before {
    content: "\e74a";
}
.ic-shaw-shaw-step3:before {
    content: "\e74b";
}
.ic-shaw-shaw-step2:before {
    content: "\e74c";
}
.ic-shaw-shaw-step1:before {
    content: "\e74d";
}
.ic-shaw-shaw-show:before {
    content: "\e74e";
}
.ic-shaw-shaw-question:before {
    content: "\e74f";
}
.ic-shaw-shaw-prev:before {
    content: "\e752";
}
.ic-shaw-shaw-phone:before {
    content: "\e753";
}
.ic-shaw-shaw-next:before {
    content: "\e754";
}
.ic-shaw-shaw-logo:before {
    content: "\e755";
}
.ic-shaw-shaw-internet:before {
    content: "\e756";
}
.ic-shaw-shaw-indicator:before {
    content: "\e758";
}
.ic-shaw-shaw-forward:before {
    content: "\e759";
}
.ic-shaw-shaw-hide:before {
    content: "\e75a";
}
.ic-shaw-shaw-close:before {
    content: "\e75b";
}
.ic-shaw-shaw-calendar:before {
    content: "\e75c";
}
.ic-shaw-shaw-back:before {
    content: "\e75d";
}
.ic-shaw-shaw-arrow:before {
    content: "\e75e";
}
.ic-shaw-Shaw_Business:before {
    content: "\e75f";
}
.ic-shaw-RequestInfo:before {
    content: "\e760";
}
.ic-shaw-wifi:before {
    content: "\e751";
}
.ic-shaw-alert:before {
    content: "\e761";
}

@font-face {
  font-family: 'icoshaw';
  src:  url('/uploadedFiles/ecomm/fonts/icoshaw.eot?dxzihs');
  src:  url('/uploadedFiles/ecomm/fonts/icoshaw.eot?dxzihs#iefix') format('embedded-opentype'),
    url('/uploadedFiles/ecomm/fonts/icoshaw.ttf?dxzihs') format('truetype'),
    url('/uploadedFiles/ecomm/fonts/icoshaw.woff?dxzihs') format('woff'),
    url('/uploadedFiles/ecomm/fonts/icoshaw.svg?dxzihs#icoshaw') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icoshaw-"], [class*=" icoshaw-"] {
  /* use  to prevent issues with browser extensions that change fonts */
  font-family: 'icoshaw' ;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icoshaw-circle:before {
  content: "\e001";
}
.icoshaw-circle-alert:before {
  content: "\e002";
}
.icoshaw-circle-check:before {
  content: "\e003";
}
.icoshaw-co-browse:before {
  content: "\e010";
}
.icoshaw-radio-outline:before {
  content: "\e011";
}
.icoshaw-radio-fill:before {
  content: "\e012";
}
.icoshaw-radio-select:before {
  content: "\e013";
}
.icoshaw-check-outline:before {
  content: "\e016";
}
.icoshaw-check-fill:before {
  content: "\e017";
}
.icoshaw-check-select:before {
  content: "\e018";
}
.icoshaw-desktop:before {
  content: "\e030";
}
.icoshaw-laptop:before {
  content: "\e031";
}
.icoshaw-tablet:before {
  content: "\e032";
}
.icoshaw-phone:before {
  content: "\e033";
}
.icoshaw-tv:before {
  content: "\e034";
}
.icoshaw-tv-record:before {
  content: "\e035";
}
.icoshaw-wifi-modem:before {
  content: "\e036";
}
.icoshaw-wifi:before {
  content: "\e037";
}
.icoshaw-free-range:before {
  content: "\e038";
}
.icoshaw-pvr:before {
  content: "\e039";
}
.icoshaw-call:before {
  content: "\e041";
}
.icoshaw-call-display:before {
  content: "\e042";
}
.icoshaw-call-forward:before {
  content: "\e043";
}
.icoshaw-call-2-way:before {
  content: "\e049";
}
.icoshaw-call-3-way:before {
  content: "\e050";
}

