﻿/*@font-face {
    font-family: "Nassim";
    src: url("../fonts/nassim-regular.eot");
    src: local("ò+"), url("../fonts/nassim-regular.woff") format("woff"), url("../fonts/nassim-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nassim";
    src: url("../fonts/nassim-bold.eot");
    src: local("ò+"), url("../fonts/nassim-bold.woff") format("woff"), url("../fonts/nassim-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-Reg.eot");
    src: url("../fonts/HelveticaNeue-Reg.eot?#iefix") format("embedded-opentype"),url("../fonts/HelveticaNeue-Reg.woff") format("woff"),url("../fonts/HelveticaNeue-Reg.ttf") format("truetype"),url("../fonts/HelveticaNeue-Reg.svg#HelveticaNeueLTArabic55Roman") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-Bd.eot");
    src: url("../fonts/HelveticaNeue-Bd.eot?#iefix") format("embedded-opentype"),url("../fonts/HelveticaNeue-Bd.woff") format("woff"),url("../fonts/HelveticaNeue-Bd.ttf") format("truetype"),url("../fonts/HelveticaNeue-Bd.svg#HelveticaNeueLTArabic55Roman") format("svg");
    font-weight: 700;*/
}
/*@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot?#') format('eot'), url('../fonts/BYekan.ttf') format('truetype'), url('../fonts/BYekan.woff') format('woff');
}*/


@media (min-width: 1200px) {
    .container {
        width: 1960px;
    }
}

a:hover, a:focus {
    outline: 0;
    transition: all 0.3s ease 0s;
    color: #909090;
    text-decoration: none;
}


a {
    color: #333;
}

.no-padding > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.lead {
    margin-bottom: 2px;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.vcenter {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.ltr .vcenter {
    vertical-align: top;
}

.tasnim-red {
    color: #e84c3d;
}

body {
    font-family: 'Nassim';
}

    body.ur {
        font-family: 'Nassim';
    }

    body.ltr {
        font-family: 'Arial';
    }



    body.photos, body.graphic, body.videos {
        background: #232323 none repeat scroll 0 0;
    }

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.alignme {
    margin: 40px 0;
}

#header {
    position: relative;
    margin-bottom: 5px;
}

#print-header {
    display: none;
}

/*#header::after {
        background: rgba(0, 0, 0, 0) url("../img/shadow.png") no-repeat scroll center top;
        bottom: -61px;
        content: "";
        display: block;
        height: 64px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 299;
    }*/

.navbar-toggle {
    border: 1px solid #ffffff;
}

    .navbar-toggle .icon-bar {
        background: #ffffff;
    }

    .navbar-toggle .sr-only {
        display: block;
        color: red;
    }

.navbar-top {
    background-color: #a91f23;
    color: #ffffff;
    vertical-align: middle;
}

    /*.ar .navbar-top {
    background-color: #002b62;
}*/

    .navbar-top .container {
        overflow: hidden;
        line-height: 40px;
    }

    .navbar-top .today {
        float: left;
        font-size: 1em;
    }

.ltr .navbar-top .today {
    float: right;
}

.navbar-top .today div {
    float: right;
}

.navbar-top .today .local {
    padding-left: 10px;
}

.navbar-top .today .general {
    font-family: Arial;
    font-size: 0.78em;
}

#tasnim-navbar {
    min-height: 102px;
}

.ur #tasnim-navbar, .ltr #tasnim-navbar {
    min-height: 55px;
}

.ar #tasnim-navbar {
    min-height: 55px;
}

@media (max-width:768px ) {

    #tasnim-navbar {
        min-height: 28px;
    }
}

.navbar-top a {
    color: inherit;
}

.header-search, .navbar-top .languages, .navbar-top .icons {
    float: left;
    padding: 0;
    margin: 0;
}

.ltr .navbar-top .header-search, .ltr .navbar-top .languages, .ltr .navbar-top .icons {
    float: right;
}

.navbar-top .icons {
}

.navbar-top .header-search {
}

.navbar-top .languages {
    margin-right: 80px;
    float: right;
}

.ltr .navbar-top .languages {
    margin-left: 80px;
    float: left;
}

.header-search .form-group input {
    height: 25px;
    border-radius: 12px;
    font-size: 0.9em;
    border: 1px solid white;
    width: 140px;
    float: left;
    margin-top: 8px;
}

.navbar-top .icons li {
    margin: 0px 8px 0px 0px;
}

.header-search button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    float: right;
}

.navbar-middle {
    /*background-color: #ed1b24;*/
    background-color: #d71920;
    /*padding: 10px 0 10px 0;*/
}

/*.ar .navbar-middle {
    background-color: #0161d6;
}*/

.photos .navbar-middle {
    background-color: #787878;
}


.tasnim-logo {
    width: 90px;
    height: 70px;
    /*background-image: url('/Static/img/tasnim-main-logo.png');*/
    background-image: url('/Static/img/tasnimnews-logo.png');
    background-position: bottom;
    /*border: 1px solid #c5161d;*/
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-top: -25px;
}

/*.ar .tasnim-logo {
    background-image: url('/Static/img/tasnimnews-logo-ar.png');
}*/

footer .tasnim-logo {
    margin-top: 0;
    width: 55px;
    height: 51px;
}

.ltr footer .tasnim-logo {
    float: left;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bolder;
    line-break: strict;
    white-space: nowrap;
    letter-spacing: -1px;
    color: white;
}

.tasnim-phrase {
    background-image: url('/Static/img/tasnimnews-phrase.png');
    width: 185px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 12px;
    height: 41px;
}

.ltr .tasnim-phrase {
    width: 243px;
    background-image: url('/Static/img/tasnimnews-phrase-en.png');
    margin-left: 12px;
}


.tr .tasnim-phrase {
    margin-left: 12px;
    margin-right: 0px;
    width: 223px;
    background-image: url('/Static/img/tasnimnews-phrase-tr.png');
}

.ar .tasnim-phrase {
    width: 253px;
    background-image: url('/Static/img/tasnimnews-phrase-ar.png');
}

.ur .tasnim-phrase {
    width: 203px;
    height: 55px;
    background-image: url('/Static/img/tasnimnews-phrase-ur.png');
}

.ar footer .tasnim-phrase {
    width: 193px;
}

.tasnim-phrase-gray {
    background-image: url('/Static/img/tasnimnews-phrase-gray.png');
    width: 140px;
}

.ltr .tasnim-phrase-gray {
    width: 180px;
    background-image: url('/Static/img/tasnimnews-phrase-en-gray.png');
}

.tr .tasnim-phrase-gray {
    width: 180px;
    background-image: url('/Static/img/tasnimnews-phrase-tr-gray.png');
}

.ur .tasnim-phrase-gray {
    width: 180px;
    background-image: url('/Static/img/tasnimnews-phrase-ur-gray.png');
    height: 45px;
}

.ar .tasnim-phrase-gray {
    width: 180px;
    background-image: url('/Static/img/tasnimnews-phrase-ar-gray.png');
    height: 45px;
}

footer .navbar-brand {
    position: absolute;
    bottom: 0%;
    color: inherit;
    font-size: 22px;
}


footer .logo-container {
    position: relative;
    overflow: hidden;
}

footer {
    margin-top: 30px;
}

    footer .icons {
        float: left;
        font-size: 18px;
        line-height: 35px;
        margin-left: auto;
        margin-right: auto;
    }

        footer .icons a {
            color: inherit;
        }

        footer .icons li.rss-icon a:hover {
            color: #f50 !important;
        }

        footer .icons li.facebook-icon a:hover {
            color: #3e5b99 !important;
        }

        footer .icons li.twitter-icon a:hover {
            color: #659fcb !important;
        }

        footer .icons li.google-plus-icon a:hover {
            color: #da4835 !important;
        }

        footer .icons li.instagram-icon a:hover {
            color: #6b443d !important;
        }

        footer .icons li.telegram-icon {
            margin-left: 0px;
        }

            footer .icons li.telegram-icon a {
                border-radius: 100%;
                padding: 2px 6px 1px 6px;
                font-size: 0.8em;
            }

                footer .icons li.telegram-icon a:hover {
                    color: #ffffff !important;
                    background-color: #2ca5e0;
                }

        footer .icons li.bisphone-icon .bisphone-container {
            width: 25px;
            height: 35px;
            background-image: url('/static/img/bisphone-gray.png');
            background-size: contain;
            background-position: 5%;
            background-repeat: no-repeat;
        }

            footer .icons li.bisphone-icon .bisphone-container:hover {
                background-image: url('/static/img/bisphone.png');
            }




    footer .menu-cols {
        float: right;
        overflow: hidden;
        margin-top: 20px;
    }

        footer .menu-cols .menu-col {
            float: right;
            overflow: hidden;
            /*font-weight: bold;*/
        }

.ltr footer .menu-cols .menu-col {
    float: left;
}

footer .menu-cols .menu-col ul {
    padding-left: 40px;
    padding-right: 0;
    list-style-type: none;
}

.ltr footer .menu-cols .menu-col ul {
    padding-right: 40px;
    padding-left: 0;
    list-style-type: none;
}

footer .about-container {
    overflow: hidden;
}

footer .menu-cols .menu-col ul li {
    padding: 2px;
    /*min-width:100px;*/
}

    footer .menu-cols .menu-col ul li a {
        color: inherit;
    }

footer a:hover {
    text-decoration: none;
    color: #c1c3c6 !important;
}

.tasnim-logo-left {
    float: left;
    font-size: 23px;
    font-family: Arial;
    font-weight: bold;
    letter-spacing: 0px;
    direction: ltr;
    /*margin-left: 6%;*/
    padding-top: 5px;
    line-height: 20px;
    /*margin-left: 75px;*/
}

.ltr .tasnim-logo-left {
    float: right;
    left: auto;
    right: 0;
    display: none;
}

.ltr footer .tasnim-logo-left {
    display: block;
}

footer .footer-row {
    width: 100%;
    position: relative;
}

footer .gray-logo, footer .menu-cols {
    display: block;
    vertical-align: baseline;
    float: right;
}

.ltr footer .menu-cols {
    float: left;
}

footer .gray-logo {
    float: left;
    position: absolute;
    bottom: 00px;
    left: 0;
}

.ltr footer .gray-logo {
    float: right;
    right: 0;
    left: auto;
}

footer .tasnim-logo-left {
    /*margin-left: 0px;
    position: absolute;
    bottom: 20px;
    left: 0;*/
}

.tasnim-logo-left .tasnim {
    background-color: #ffffff;
    color: #ed1b24;
    border-radius: 5px;
    padding: 3px;
    float: left;
}

/*.ar header .tasnim-logo-left .tasnim {
    color: #1770de;
}*/

.photos .tasnim-logo-left .tasnim {
    color: #000000;
}

footer .tasnim-logo-left .tasnim {
    background-color: #757575;
    color: #0c0c0c;
}



footer .about-tasnim {
    float: left;
    font-size: 15px;
    line-height: 35px;
    margin: 0;
    margin-left: 00px;
}

    footer .about-tasnim a {
        color: inherit;
    }


footer .copyright {
    text-align: center;
    direction: ltr;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    padding: 10px 0 5px 0;
}

.tasnim-logo-left .news {
    float: left;
    padding: 3px;
    position: relative;
}

    .tasnim-logo-left .news span {
        position: absolute;
        font-size: 9px;
        right: 5px;
        bottom: -11px;
        float: left;
    }

.ltr .navbar-middle .tasnim-logo, .ltr .navbar-middle .navbar-brand {
    float: left;
}

.ltr .navbar-middle .tasnim-logo-left {
    float: right;
}

.ltr .navbar-middle .navbar-brand {
    font-family: 'Helvetica';
}

.navbar-middle .navbar-left .logo-left {
    width: 57px;
    height: 50px;
    background-image: url('../img/logo-left.png');
    background-repeat: no-repeat;
}

.navbar-middle {
    position: relative;
    color: white;
}

    .navbar-middle .container {
        background-image: url('/static/img/tasnim-header-back.png');
        background-repeat: no-repeat;
        background-position: 8% 35%;
        padding: 12px 0px 10px 0px;
    }

/*.ar .navbar-middle .container {
    background-image: url('/static/img/tasnim-header-back-ar.png');
}*/

.photos .navbar-middle .container {
    background-image: url('/static/img/tasnim-header-back-grey.png');
}

.ltr .navbar-middle .container {
    background-position: right;
}

.navbar-middle .mini-header {
    display: inline-block;
    word-break: keep-all;
    font-size: 1.7em;
    float: right;
    margin-right: 10px;
    color: #ebebeb;
}

.ltr .navbar-middle .mini-header {
    float: left;
}

.navbar-bottom {
    border-top: 1px solid #e3e3e3;
    background: white;
    border-bottom: 1px solid #e3e3e3;
    color: #7a7879;
}


    .navbar-bottom .navbar-nav {
        width: 100%;
    }

.navbar-nav li a {
    color: inherit;
    font-size: 16px;
    padding: 8px;
}

/*.ar .navbar-nav li a {
    font-size: 14px;
}*/

.navbar-bottom .main-menu li a {
    font-weight: 400;
}

.ltr .navbar-sub-menu, .ar .navbar-sub-menu, .ur .navbar-sub-menu {
    display: none;
}

.navbar-sub-menu {
    /*background-image: url("../img/sub-menu-pattern.png");
    background-color: #c42121;*/
    background-color: #eee;
    color: #7a7879;
    min-height: 33px;
}

    .navbar-sub-menu .sub-menu li a {
        font-size: 14px;
        padding: 6px;
        font-weight: normal;
    }

.sub-menu li a:focus, .sub-menu li a:hover {
    /*background: #860909;*/
    background: #cfcece;
}

.special-sub-menu {
    float: right;
}

    .special-sub-menu li {
        margin-left: 10px;
    }

        .special-sub-menu li a {
            font-weight: bold;
            color: #134785;
            font-size: 16px;
        }

        .special-sub-menu li#ssm-id-1362 a:before {
            content: "";
            display: block;
            background: url('/Static/img/uefa-2016-france.png') no-repeat;
            width: 50px;
            margin-left: 6px;
            height: 19px;
            float: right;
        }

        .special-sub-menu li#ssm-id-1360 a:before {
            content: "";
            display: block;
            background: url('/Static/img/rio-2016.png') no-repeat;
            width: 50px;
            margin-left: 6px;
            margin-top: 3px;
            height: 25px;
            float: right;
        }

        .special-sub-menu li#ssm-id-1385 a {
            color: #f22121;
        }

        .special-sub-menu li a:hover {
            color: #08213f;
            transition: all 0.3s ease 0s;
        }

        .special-sub-menu li a .fa {
            margin-left: 3px;
        }


.create:before {
}

.ltr .navbar-bottom .navbar-nav li a {
    font-size: 15px;
}

.main-menu li.active a {
    color: #e84c3d;
    padding-right: 20px;
    margin-right: 10px;
}

/*.ar .main-menu li.active a {
    color: #1770de;
}*/

.ltr .main-menu li.active a {
    padding-right: 5px;
    margin-right: 5px;
    padding-left: 20px;
    margin-left: 10px;
}

.photos .main-menu li.active a {
    color: #7a7879;
}

.sub-menu li.active a {
    padding-right: 20px;
    margin-right: 10px;
    color: #e84c3d !important;
    /*background: #860909;*/
}

.navbar-nav li.active a:after {
    font-family: FontAwesome;
    content: "\f053";
    color: inherit;
    font-size: 12px;
    position: absolute;
    right: 3px;
    bottom: 20%;
    margin-top: 1px;
}

.ltr .navbar-nav li.active a:after {
    right: auto;
    left: 3px;
    content: "\f054";
}

.sub-menu li.active a:after {
    font-family: FontAwesome;
    content: "\f053";
    color: inherit;
    font-size: 12px;
    position: absolute;
    right: 3px;
    margin-top: 1px;
}

.main-menu li a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    height: 50%;
    width: 1px;
    border-left: 1px solid #e3e3e3;
}

.ltr .main-menu li a:before {
    right: 0;
    left: auto;
}

.navbar-nav li.active a:before {
    content: "";
    border-left: none;
}



.fill {
    min-height: 100%;
    height: 100%;
}


.languages .navbar-nav li {
    font-size: 15px;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
}

section.news-container {
    margin-bottom: 15px;
}

section.mobile-container {
    margin-bottom: 20px;
}

.photos section.news-content {
    background-color: #323232;
}

.form-inline .form-group {
    margin: 10px;
}

section.news-container header {
    background: #cacaca url('../img/header-pattern.png') repeat scroll 0 0;
    margin-bottom: 20px;
    overflow: hidden;
}

.ltr section.news-container header {
    margin-bottom: 7px;
}

.ltr section.service section.news-container header {
    background: none;
    margin-bottom: 7px;
}

.ltr section.all-stories-box header {
    background: #cacaca url('../img/header-pattern.png') repeat scroll 0 0;
}

section.news-container header .slider {
    float: left;
    background: #ffffff none repeat scroll 0 0;
    padding-right: 20px;
    height: 25px;
}

    section.news-container header .slider ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;
        padding-top: 3px;
    }

        section.news-container header .slider ul li {
            float: left;
            padding-left: 20px;
        }

            section.news-container header .slider ul li a {
                color: #b1b1b1;
                display: block;
                float: left;
                font-size: 16px;
                opacity: 0.65;
                overflow: hidden;
                text-align: center;
                transition: all 0.3s ease 0s;
                width: 16px;
                z-index: 1;
            }

                section.news-container header .slider ul li a:hover {
                    color: #303030;
                }


section.news-container header .title {
    background: #ffffff none repeat scroll 0 0;
    float: right;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 19px;
    color: #e84c3d;
}

/*.ar .btn-danger {
    background-color: #0049a4;
    border-color: #0049a4;
}*/

/*.ar section.news-container header .title {
    color: #0049a4;
}*/

.ltr section.news-container header .title {
    float: left;
    padding-left: 0px;
    padding-right: 15px;
    font-size: 17px;
    line-height: 1.1em;
}

section.bordered {
}


section.videos-container {
    margin-bottom: 0px;
}



    section.videos-container section.content {
        background-color: #1a1a1a;
        padding: 0px;
    }

.main-slider article.first .title {
    font-size: 27px;
    line-height: 1.2em;
}

.ltr .main-slider article.first .title {
    font-size: 22px;
}

.ar .main-slider article.first .title {
    font-size: 23px;
}

.main-slider article.first .details {
    /*padding-right: 10px;*/
}

.main-slider figure {
    margin-bottom: 5px;
    padding-left: 0;
}

.main-slider article.first .lead, .main-slider article.first .over-title {
    font-size: 17px;
}

.ltr .main-slider article.first .lead, .ltr .main-slider article.first .over-title {
    font-size: 15px;
    text-align: justify;
}

.ar .main-slider article.first .lead, .ltr .main-slider article.first .over-title {
    font-size: 14px;
    text-align: justify;
}
/*.photos .ps-list {
    display: none !important;
}*/

.min-slides {
    margin-top: 2px;
}


article figure {
    position: relative;
}

    article figure img {
        margin-left: auto;
        margin-right: auto;
    }

article.mini-slide .caption {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    padding: 5px;
    color: #fff;
    position: absolute;
    width: 100%;
    max-height: 40%;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
}

article.mini-slide .title {
    font-size: 1.3em;
    line-height: 1.4em;
}

article.mini-slide a img {
    width: 100%;
}

.photos {
    color: white;
}

.main-slider article.left {
    margin-bottom: 10px;
}

    .main-slider article.left .title {
        font-size: 1.3em;
        line-height: 1.3;
    }

.main-slider article .details {
    padding-top: 7px;
}

article .details .service {
    color: #e84c3d;
}


article .details .comment {
    color: #ffffff;
    font-size: 12px;
    background-color: #e84c3d;
    padding: 1px 4px 1px 4px;
    border-radius: 6px;
}




article .over-title, article .lead, article time, article .reporter {
    /*color: #404040;*/
    color: #5a5a5a;
    font-weight: normal;
    font-size: 1em;
}

article .title {
    font-weight: bold;
    font-size: 1.7em;
    clear: both;
}

i.fa {
    vertical-align: middle;
}

article h1, article h2, article h3, article h4, article h5 {
    margin: 3px;
}

    article h1 a, article h2 a, article h3 a, article h4 a, article h5 a {
        color: inherit;
    }

article .title a {
    color: inherit;
    text-decoration: none;
}

    article .title a:hover {
        color: #909090;
    }

article.first time {
    float: left;
}

article.left time {
    float: right;
}

article.list-item {
    border-bottom: 1px solid #e3e3e3;
    margin-top: 5px;
    padding-top: 5px;
    overflow: hidden;
}

    article.list-item:last-child {
        border-bottom: none;
    }

    article.list-item figure {
        margin-left: 10px;
    }

.ltr article.list-item figure {
    margin-left: 0px;
    margin-right: 10px;
}

article.list-item .thumbnail {
}

article.list-item .title {
    font-size: 1.3em;
    margin-bottom: 15px;
}

.ltr article.list-item .title {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.ar article .title {
    line-height: 1.5em;
}

article.list-item .over-title {
}

article.list-item .over-title, article.list-item .lead {
    font-size: 1.1em;
}

.ltr article.list-item .over-title, .ltr article.list-item .lead {
    font-size: 0.9em;
    text-align: justify;
}

article.list-item .service {
    background-color: #acacac;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
    /*margin-left: 9px;*/
    margin-bottom: 5px;
    font-size: 1em;
    border-radius: 3px;
    display: inline-block;
}

article.list-item .service {
    background-color: #ec8379;
}

article.list-item time {
    margin-left: 2px;
    display: inline-block;
}

.ltr article.list-item time {
    margin-left: 0px;
    margin-right: 10px;
}

article.list-item time, article.list-item .service {
    float: left;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    font-size: 0.9em;
    min-width: 50px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.ltr article.list-item time, .ltr article.list-item .service {
    float: left;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 0.83em;
}

article .image-container {
    padding: 0px;
    /*margin-right: 2px;*/
}

article .text-container {
    padding: 0;
}

article.box-item .image-container {
    padding: 5px;
}

article.box-item .text-container {
    padding: 0;
}

article.box-item .title {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.25em;
}

.ar article.box-item .title {
    font-size: 1.08em;
    line-height: 1.3em;
}

.editor-choice article.box-item .title, .most-popular-box article.box-item .title {
    font-size: 1.1em;
    line-height: 1.1em;
}

.most-popular-box article.box-item .hit-num {
    font-size: 1.3em;
    margin-left: 10px;
}

.ltr article.box-item {
    margin-left: 8px;
}

.ar article.box-item {
    margin-right: 8px;
}

.ltr article.box-item .title {
    font-size: 0.98em;
}

.ltr section.all-stories-box .title, .ltr section.most-popular-box .title {
    font-weight: bold;
}

.ltr article.box-item .fa-circle {
    margin-left: -7px;
    margin-right: 2px;
}

article.box-item .thumbnail {
    margin-bottom: 1px;
}

article.box-item {
    /*border-bottom: 1px solid #e3e3e3;*/
    padding: 1px;
    font-size: 0.9em;
}

    article.box-item .fa-circle, article.service-item .fa-circle {
        color: #c5161d;
        margin-left: 3px;
        font-size: 0.4em;
    }

/*.ar article.box-item .fa-circle, article.service-item .fa-circle {
    color: #1770de;
}*/

article.service-item {
    margin-bottom: 15px;
}

    article.service-item .thumbnail {
        margin-bottom: 2px;
    }

article.service-first {
    margin-bottom: 15px;
}

    article.service-first .title {
    }

article.service-item .title {
    font-size: 1.2em;
    line-height: 1.28em;
    font-weight: bold;
}

.ltr article.service-item .title {
    font-size: 1.1em;
}

.ltr .service-bulleted .title {
    font-size: 0.95em !important;
}

article.service-bulleted .title {
    font-size: 1.15em;
    line-height: 1.3em;
    font-weight: 400;
}

    article.service-bulleted .title a {
        color: #1167a8;
    }

        article.service-bulleted .title a:hover {
            color: #053253;
        }

article .over-title .service:hover {
    color: #e3e3e3;
    text-decoration: none;
}
/*article.service-bulleted .title:before {
        color: #e84c3d;
        content: "•";
        font-size: 150%;
        margin-right: -7px;
        padding-left: 0px;
    }*/

article.top-service-item .title {
    font-size: 1.2em;
}

article.single-news .title {
    font-size: 3.2rem;
}

.ltr article.single-news > .title {
    font-size: 3rem;
}

article.single-news .footer {
    color: silver !important;
    font-size: 1.2em;
}

article.single-news .over-title {
    font-size: 1.3em;
}

article.about-news .title {
    font-size: 2.8em;
}

article.about-news figure {
    margin-top: 30px;
}

.attached-file {
    margin-bottom: 10px;
}

    .attached-file h3 {
        display: inline;
        vertical-align: top;
        font-size: 1.4em;
    }

    .attached-file .fa {
        font-size: 1.7em;
        color: #ce0a0c;
    }

    .attached-file .fa-file-pdf-o {
        color: #ce0a0c;
    }

    .attached-file a {
        font-weight: bold;
        margin-left: 5px;
        margin-top: 0px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        float: left;
        font-size: 1.2em;
        padding: 5px;
    }

.telegram-phrase {
    text-align: center;
    transition: all 0.5s ease;
    background: #6389a8;
    color: #ffffff;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #5b809e;
    line-height: 200%;
}

    .telegram-phrase:hover {
        color: #d6e5f0;
    }

    .telegram-phrase img {
        float: right;
        margin: 5px;
    }

.telegram-photos {
    float: left;
    margin-right: 10px;
}

    .telegram-photos .sm-icon .fa-paper-plane:hover {
        background: #1b8ac1;
        transition: all 0.3s ease 0s;
    }

.sitemap {
    overflow: hidden;
}

    .sitemap li.parent {
        margin-bottom: 5px;
    }

.sub-sitemap {
    display: inline-block;
    overflow: hidden;
    padding: 15px;
    float: none;
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0 0.125em 0 -0.45em;
}

article.single-news .print {
    float: left;
    display: inline-block;
    vertical-align: top;
    font-size: 1.2em;
    cursor: pointer;
    color: #5a5a5a;
}

.ltr article.single-news .print {
    float: right;
}

article.single-news .comment-count {
    float: left;
}

.ltr article.single-news .comment-count {
    float: right;
}

article.single-news .details-icon i {
    color: #5a5a5a !important;
    margin: 5px;
}

article.about-news img {
    width: 50%;
}

article.single-news .title, article.single-news .over-title {
    line-height: 1.30em;
    margin-bottom: 5px;
}

article.single-news figure {
    margin-top: 10px;
}

article.single-news {
    color: #000000;
}

    article.single-news time {
        font-size: 1.0em;
    }

    article.single-news .details {
        overflow: hidden;
        margin-top: 10px;
    }

        article.single-news .details .service span {
            margin-left: 5px;
            color: black;
            font-weight: normal;
        }

        article.single-news .details, article.single-news .details .service {
            font-size: 1.1em;
            font-weight: bold;
        }



    article.single-news .thumbnail {
        border: none;
    }

    article.single-news .lead {
        font-size: 1.28em;
        color: black;
        margin: 15px 0px 25px 0px;
        font-weight: bold;
        text-align: justify !important;
    }

.ltr article.single-news .lead {
    font-size: 1.3em;
}

article .story {
    font-size: 18px;
    line-height: 24px;
    color: #404040;
    font-weight: 400;
    width: 100%;
}

.ltr article .story {
    font-size: 16px;
}

.ar article .story {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

article.single-news .story p {
    text-align: justify;
    margin-bottom: 18px;
}

article.single-news .story img, article.single-news .story table {
    max-width: 100%;
    height: auto !important;
}


.story table {
    width: 100% !important;
}

    .story table td img {
        max-width: none;
        width: 100% !important;
    }

.story-inline-gallery {
    background: #000000;
    margin: 10px 0px 10px 0px;
}

    .story-inline-gallery .carousel-inner .item {
        margin: 0;
        padding: 2px;
    }

        .story-inline-gallery .carousel-inner .item .carousel-caption {
            background: #000000;
            width: 100%;
            bottom: 0px;
            left: 0px;
            right: 0px;
            padding: 2px;
            text-align: right;
        }

.ltr .story-inline-gallery .carousel-inner .item .carousel-caption {
    text-align: left;
}

.story-inline-gallery .thumbs {
    border-top: 1px solid #404040;
}

    .story-inline-gallery .thumbs .thumb-item {
        padding: 3px;
    }

        .story-inline-gallery .thumbs .thumb-item img {
            width: 100%;
        }

article.related {
    line-height: 1.8em;
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0 0.125em 0 -0.45em;
}

    article.related time {
        font-size: 0.9em;
    }

.ltr article.related {
    font-size: 0.9em;
}

.ltr article.related {
    margin: 0 -0.45em 0 0.125em;
}

article.related .title {
    font-size: 1.14em;
    font-weight: normal;
    line-height: 1.3em;
}

.ltr article.related .title {
    font-size: 1em;
}

.photos article.related .title, .videos article.related .title, .graphic article.related .title {
    color: #ffffff;
}

article.related-mini {
    margin-bottom: 10px;
}

    article.related-mini .title {
        font-size: 1.1em;
        margin: 2px;
        display: inline-block;
        font-weight: bold;
    }

    article.related-mini time {
        display: inline-block;
        margin-right: 10px;
    }

article.service-top figure {
    margin-bottom: 10px;
}

.comment-box {
    margin-top: 15px;
}

.comments-container form {
    overflow: hidden;
}


.comment-form .alert {
    display: none;
}

.comment-form .reply-name-container {
    margin-bottom: 5px;
    font-size: 1.3em;
    font-weight: normal;
    display: none;
}

    .comment-form .reply-name-container .cm-name {
        font-weight: bold;
    }

    .comment-form .reply-name-container .cm-text {
        font-size: 0.8em;
    }

.comment-box form .row {
    margin-right: -10px;
}

.comment-box form .form-group {
    margin-top: 5px;
}

.comment-box .refresh {
    overflow: hidden;
    line-height: 30px;
    color: #5a5a5a;
}

.captcha-group input, .captcha-group img, .captcha-group a {
    float: right;
}

.ltr .captcha-group input, .ltr .captcha-group img, .ltr .captcha-group a {
    float: left;
}

.captcha-group input {
    width: 180px;
}

.captcha-group img, .captcha-group a {
    margin-left: 5px;
    height: 33px;
}

.ltr .captcha-group img, .ltr .captcha-group a {
    margin-right: 5px;
}

.comments-container {
    display: block;
}

    .comments-container ul {
        padding: 0;
    }

        .comments-container ul li {
            list-style-type: none;
            border-radius: 3px;
            margin-bottom: 5px;
            /*background: #fcfcfc;*/
            overflow: hidden;
        }

    .comments-container .reply {
        float: left;
        margin-left: 10px;
        font-size: 10px;
        color: #5a5a5a;
    }

    .comments-container ul li .details {
        overflow: hidden;
        margin-bottom: 5px;
    }

    .comments-container ul li .name {
        color: #4a4a4a;
        color: #3b5998;
        font-size: 15px;
        font-weight: bold;
        margin-right: 5px;
    }

    .comments-container ul li .tasnim-name {
        color: #5cb85c !important;
    }

    .comments-container ul li .name, .comments-container ul li .time {
        float: right;
        padding-left: 10px;
        overflow: hidden;
        color: #5a5a5a;
    }

    .comments-container ul li .time {
        float: right;
        font-size: 12px;
        line-height: 20px;
    }

    .comments-container ul li .body {
        display: block;
        border: 1px solid #e3e3e3;
        padding: 10px;
        font-size: 1.12em;
        text-align: right;
        margin-bottom: 5px;
        border-radius: 6px;
        line-height: 1.4em;
        color: #404040;
    }

    .comments-container ul li ul {
        margin-right: 20px;
        margin-left: 20px;
    }

.photos .comments-container ul li .body, .graphic .comments-container ul li .body, .videos .comments-container ul li .body {
    border: 1px solid #363535;
    color: #ffffff;
}

time {
    display: block;
}

article.service-top .title {
    font-size: 1.3em;
}

article.service-top time {
    margin-bottom: 10px;
}

article.service-top .over-title {
}

article.service-top {
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

article.media .title {
    font-size: 2.0em;
}

article.media > * {
    line-height: 1.5em !important;
    font-size: 1.2em;
}

article.media .title a {
    color: white;
}


article.media .images {
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid #4a4a4a;
}

article.media .download {
    float: left;
    display: inline-block;
}

article.media time {
    display: inline-block;
}

article.single-photo-news a {
    color: inherit;
}

article.single-photo-news figure {
    text-align: center;
}

    article.single-photo-news figure img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        text-align: center;
    }

.videos .search-form-container, .photos .search-form-container, .graphic .search-form-container {
    display: none;
}

.search-form-container {
    margin-bottom: 10px;
}

    .search-form-container .form-group {
        margin-bottom: 2px;
    }

.videos article.media .images {
    padding-top: 0px;
    margin-top: 0px;
    border-top: none;
}

    .videos article.media .images .story {
        margin-top: 10px;
        font-size: 0.9em;
    }

    .videos article.media .images .title {
        margin-top: 20px;
        font-size: 2.0em;
        margin-bottom: 10px;
    }

.videos .video-qs {
    float: left;
    list-style-type: none;
    margin-top: -5px;
    display: none;
}

    .videos .video-qs li {
        display: inline-block;
        vertical-align: top;
        background-color: #464545;
        color: #959595;
        border-radius: 6px;
        font-size: 14px;
        margin: 5px;
        width: 40px;
        text-align: center;
    }

        .videos .video-qs li a {
            color: inherit;
        }

            .videos .video-qs li a:hover {
                color: #fff;
            }

.video-holder {
    height: 40px;
    float: left;
}

.videos .video-quality-item {
}

article.media .images .item {
    text-align: center;
    padding-bottom: 15px;
    overflow: hidden;
}

    article.media .images .item img {
        height: 150px;
        box-shadow: 2px 2px 13px black;
    }

article.media-sider {
    margin: 10px;
}

    article.media-sider .title {
        font-size: 1.3em;
        margin-top: -10px;
    }

.ltr article.media-sider .title {
    font-size: 1.1em;
}

article.media-sider-mini {
    float: right;
    padding: 3px;
}

    article.media-sider-mini .title {
        font-size: 1em;
    }


.graphic .photos-slider .mini-slide .title {
    font-size: 1.0em;
}

.pgwSlideshow .slider-title, .slider-description {
    font-size: 2.2em !important;
}

.rtl .pgwSlideshow .slider-title, .slider-description {
    direction: rtl;
}


.graphic article.media .title, .graphic .carousel-caption h2 {
    font-size: 1.6em;
}

.news-container .content {
    overflow: hidden;
}


.graphic .news-container header, .photos .news-container header, .videos .news-container header {
    font-size: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    background: none;
    /*border-bottom: 1px solid #4a4a4a;
    padding-bottom: 4px;*/
}

    .graphic .news-container header:after, .photos .news-container header:after, .videos .news-container header:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid #4a4a4a;
        width: 100%;
        height: 1em;
        display: inline;
        margin-left: 1em;
    }


    .graphic .news-container header .title {
        background: none;
        color: #fbac18;
    }

    .photos .news-container header .title {
        background: none;
        color: #a1c131;
    }

    .videos .news-container header .title {
        background: none;
        color: #e84c3d;
    }


    .graphic .news-container header .more {
        color: #fbac18;
    }

    .photos .news-container header .more {
        color: #a1c131;
    }

    .videos .news-container header .more {
        color: #e84c3d;
    }


.news-container header .more {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-right: 10px;
    background: #232323;
    z-index: 999;
    font-size: 18px;
}

.photos .news-container header .more {
    background: #323232;
}

section.service {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0 -0.125em;
}

article.media-item a {
    color: inherit;
    text-decoration: none;
}

article.media-item .reporter {
    float: right;
    padding: 3px;
}

article.media-item time {
    float: left;
    padding: 3px;
}

.photos article.media-item .details, .photos article.single-photo-news {
    background-color: #232323;
}

.photos article.single-photo-news {
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 16px #000;
    padding: 3px;
    font-size: 1.3em;
    margin-bottom: 10px;
}

    .photos article.single-photo-news time, .photos article.single-photo-news .title, .photos article.single-photo-news .lead, .photos article.single-photo-news .reporter {
        margin-bottom: 11px;
    }

    .photos article.single-photo-news .title {
        margin-top: 30px;
        font-size: 1.4em;
    }

article a:hover .title {
    color: #909090;
    transition: all 0.4s ease 0s;
    border: none;
}

section.headlines article a:hover .title, article.first a:hover .title {
    color: #1167a8;
}

article.media-item {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0 0.125em 0 -0.45em;
}

.ltr article.media-item {
    margin: 0 -0.45em 0 0.125em;
}

article.media-item .details {
    border-radius: 0 0 5px 5px;
    border: 1px solid #313131;
    border-top: 0px;
    /*box-shadow: 0 0 10px #000;*/
    padding-right: 5px;
    margin-bottom: 10px;
    line-height: 1.7em;
    overflow: hidden;
}

.photos article.media-item .details {
    border-radius: 0 0 3px 3px;
    border-top: 2px solid #313131;
    box-shadow: 0 0 16px #000;
    padding: 3px;
}

#download-image {
    float: left;
    line-height: 30px;
    font-size: 20px;
}

    #download-image:hover {
        color: #ffffff;
    }

.videos article.media-item .details {
}

article time i, article .reporter i {
    font-size: 1em;
    margin-left: 2px;
}

.ltr article time i, .ltr article.reporter i {
    font-size: 1em;
    margin-right: 1px;
    padding-bottom: 3px;
}

article.media-item .title {
    font-size: 1.1em;
    padding-top: 5px;
    line-height: 1.3em;
    margin: 0;
}

article.media-item figure img {
    max-height: 210px;
    max-width: 100%;
}

article.mobile-item figure img {
    max-height: none;
    width: 100%;
}

.graphic article.media-item figure img {
    max-height: 153px;
}

article.media-item figure {
    text-align: center !important;
    overflow: hidden;
    border: 1px solid #313131;
}

article.media-item i.fa {
    vertical-align: middle;
}

section.news-box section.content {
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.ltr section.news-box section.content {
    /*border-top: 1px solid #e3e3e3;*/
}

.ltr .time-empty-span {
    height: 8px;
}

.share-box {
    margin-top: 30px;
    overflow: hidden;
}

    .share-box header {
        font-size: 1.9em;
        display: inline-block;
        float: right;
        margin-left: 10px;
        margin-top: 3px;
    }

        .share-box header.mini {
            font-size: 1.3em;
        }

.sharer i.fa {
    color: #959595;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    text-align: center;
    line-height: 30px;
    background: #464545;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}

    .sharer i.fa:hover {
        color: #ffffff;
        transition: all 0.3s ease 0s;
    }

.sharer i.fa-facebook:hover {
    color: #3e5b99;
}

.sharer i.fa-twitter:hover {
    color: #659fcb;
}

.sharer i.fa-google-plus:hover {
    color: #da4835;
}


.ltr .share-box header {
    float: left;
    margin-left: 0px;
    margin-right: 10px;
    overflow: hidden;
}

.sharer {
    display: inline-block;
    /*float: right;*/
}

.ltr .sharer {
    /*float: left;*/
}

.short-url {
    display: block;
    margin-top: 10px;
}

.ltr .short-url span {
    float: left;
}

.short-url span {
    border: 2px solid #e3e3e3;
    padding: 4px;
    font-size: 1.2em;
    border-radius: 5px;
    float: right;
}

.photos .short-url span, .videos .short-url span, .graphic .short-url span {
    border-color: #464545;
    color: #959595;
}

.short-url .sh-ico {
    background-color: #e3e3e3;
    color: #d9534f;
    width: 38px;
    text-align: center;
}

.photos .short-url .sh-ico, .videos .short-url .sh-ico, .graphic .short-url .sh-ico {
    background-color: #464545;
}

.ltr .short-url .sh-ico {
    float: left;
}

.short-url .sh-url-co {
    margin-right: -7px;
    border-width: 2px;
    padding: 4px;
    padding-right: 15px;
}

.rtl .short-url .sh-url-co {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ltr .short-url .sh-url-co {
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.photos .sh-url-co a, .videos .sh-url-co a, .graphic .sh-url-co a {
    color: #ffffff;
    transition: all 0.4s ease 0s;
}

    .photos .sh-url-co a:hover, .videos .sh-url-co a:hover, .graphic .sh-url-co a:hover {
        color: #909090;
    }

.ltr .short-url .sh-url-co {
    padding-left: 15px;
    margin-left: -7px;
}

.keyword-rss {
    float: left;
    margin-right: 10px;
}

    .keyword-rss .news-count {
        color: #e84c3d;
        font-size: 25px;
        font-weight: bold;
        line-height: 100%;
    }

.rss-list {
    margin: 0;
    padding: 10px;
}

    .rss-list li {
        list-style-type: none;
        overflow: hidden;
        margin-bottom: 10px;
    }

        .rss-list li i, .keyword-rss i {
            color: #f50;
            font-size: 1.8em;
            float: right;
        }

        .rss-list li .service {
            float: right;
            font-size: 1.3em;
            margin-right: 10px;
        }

.ltr .rss-list li i {
    float: left;
}

.ltr .rss-list li .service {
    float: left;
    margin-left: 10px;
}

form.archive .services {
    font-size: 1.3em;
    height: 40px;
}

form.archive #date {
    width: auto;
}

form.archive #date-button {
    margin-right: 15px;
}

.ltr form.archive #date-button {
    margin-right: 0px;
    margin-left: 10px;
}

footer {
    background-color: #0c0c0c;
    color: #959595;
}

    footer .footer-container .header {
        color: #ffd60e;
        font-size: 1.6em;
        font-weight: bold;
    }

    footer .footer-container section.content {
        font-size: 1.2em;
    }

    footer .last-comments section.content .row {
        border-bottom: 1px solid #4a4a4a;
        font-size: 0.9em;
        padding-bottom: 10px;
    }

    footer .footer-container section.content .beside {
        display: inline-block;
        vertical-align: top;
    }

    footer .row {
        margin: 0px;
    }

    footer .footer-container section.content .row {
        margin: 1px 0px 15px 0px;
    }

    footer .footer-container section.content span,
    footer .footer-container section.content i {
        margin-left: 10px;
    }

    footer .footer-container section.content .fa-user {
        font-size: 2.8em;
        color: #bdbdbd;
    }


.video-playlist .row {
    padding: 0;
    margin: 0;
}

.jw-featured {
    display: none;
}

.jw-title-primary {
    float: right !important;
    text-align: right !important;
    font-family: "Nassim" !important;
    font-size: 1.8em !important;
    padding-top: 15px !important;
    margin-right: 5px !important;
}

.ltr .jw-title-primary {
    float: left !important;
    text-align: left !important;
}

.video-playlist {
    background: #333333;
    margin-bottom: 15px;
}

    .video-playlist .row {
        /*border: 1px solid #4a4a4a;*/
    }

.curent-item-details time {
    line-height: 30px;
}

.curent-item-details {
    overflow: hidden;
}

    .curent-item-details .title a {
        color: inherit;
    }

.ltr .curent-item-details .title a {
    font-size: 0.52em;
    margin-left: 10px;
}



.curent-item-details .lead {
    font-size: 15px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 580px) {
    .curent-item-details h3 {
        font-size: 17px;
    }
}

.title-container {
    color: #ffffff;
    height: 40px;
    padding-right: 20px;
    line-height: 40px;
    font-size: 1.5em;
}

.ltr .title-container {
    padding-left: 20px;
}

.title-container a {
    color: inherit;
}

    .title-container a:hover {
        text-decoration: none;
        color: #909090;
    }

.carousel-control {
    width: 2%;
}



    .carousel-control .fa {
        display: inline-block;
        position: absolute;
        top: 50%;
        z-index: 5;
        font-size: 30px;
        height: 30px;
        margin-top: -15px;
        width: 30px;
    }

.left .fa {
    margin-left: 0;
    margin-right: -30px;
}

.right .fa {
    margin-left: -30px;
}

.left {
}

.jw-controlbar {
    position: absolute !important;
    z-index: 1000000 !important;
}

.video-playlist .video-parent, .video-playlist .playlist {
    padding: 0;
    margin: 0;
    height: 440px;
}

.video-playlist .playlist {
    background-color: #333333;
    color: #ffffff;
    direction: ltr;
    text-align: right;
    /*border-left: 1px solid #4a4a4a;*/
}

    .video-playlist .playlist header {
        font-size: 1.6em;
        padding-right: 10px;
        border-bottom: 1px solid #4a4a4a;
        overflow: hidden;
        background-color: #333333;
        /*background: #000000;*/
    }

.ltr .video-playlist .playlist header {
    text-align: left;
    padding-left: 10px;
}

.video-playlist .playlist ol {
    margin: 0;
    padding: 0;
    background-color: #333333;
    bottom: 0;
    counter-reset: playlist-video-section;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 40px;
}

    .video-playlist .playlist ol li {
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        direction: rtl;
    }

.ltr .video-playlist .playlist ol li {
    direction: ltr;
    text-align: left;
}

.video-playlist .playlist ol li:hover, .video-playlist .playlist ol li.selected {
    background: #525252;
    color: #ffffff;
}

    .video-playlist .playlist ol li.selected h4 {
        color: #ffffff;
    }

.video-playlist .playlist ol li h4 {
    font-size: 1.1em;
}

.ltr .video-playlist .playlist ol li h4 {
    font-size: 0.9em;
    line-height: 1.2em;
}

.video-playlist .playlist ol li h4, .video-playlist .playlist ol li .index {
    color: #cacaca;
}

.video-playlist .playlist ol li .play-icon {
    color: #c03636;
    display: none;
    font-size: 0.7em !important;
}

.video-playlist .playlist ol li .index, video-playlist .playlist ol li .play-icon {
    float: right;
    font-size: 1em;
    line-height: 68px;
    margin: 0 2px;
    text-align: center;
    width: 20px;
}

.ltr .video-playlist .playlist ol li .index, video-playlist .playlist ol li .play-icon {
    float: left;
}

.video-playlist .playlist ol li a {
    display: block;
    position: relative;
    text-decoration: none;
}

article.media #video-container {
    border-top: 1px solid #4a4a4a;
    margin-top: 10px;
    padding-top: 20px;
}

.item-thumb {
    float: right;
    margin-right: 0;
    margin-left: 3px;
    position: relative;
    width: 80px;
    height: 66px;
    /*background: #f1f1f1 none repeat scroll 0 0;*/
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
}

.ltr .item-thumb {
    float: left;
}

.thumb-container {
    padding-bottom: 100%;
    display: block;
    height: auto;
}

.thumb-clip {
    bottom: -100px;
    left: -100px;
    position: absolute;
    right: -100px;
    text-align: center;
    top: -100px;
    white-space: nowrap;
    word-break: normal;
}

    .thumb-clip img {
        display: inline-block;
        vertical-align: middle;
    }


.vertical-align {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.item-description {
    overflow: hidden;
    position: relative;
    top: 6px;
    height: 66px;
}

.video-length {
    position: absolute;
    left: 0px;
    border-radius: 3px;
    bottom: 0px;
    font-size: 12px;
    background-color: #000;
    color: #fff !important;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    margin-right: 0;
    margin-top: 0;
    opacity: 0.75;
    padding: 0 4px;
    vertical-align: top;
}

.video-slider-box .playlist .description .title {
    font-weight: bold;
    font-size: 1.1em;
}

.current-video-details {
    margin-top: 10px;
}

.curent-item-details {
    margin-right: 5px;
    margin-top: 5px;
    overflow: hidden;
}

    .curent-item-details .title, .curent-item-details .lead {
        margin: 2px;
    }

    .curent-item-details time {
        float: left;
        margin-left: 5px;
    }

.ltr .curent-item-details time {
    float: right;
}

.curent-item-details time i {
    margin-left: 5px;
}

.ltr .curent-item-details time i {
    margin-right: 5px;
}

.current-video-details .details {
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

    .current-video-details .details time {
        margin-left: 15px;
    }

.current-video-details .body {
    font-size: 16px;
    text-align: justify;
}


.filter-bar {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    overflow: hidden;
    line-height: 32px;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 10px 0;
    color: inherit;
}

    .filter-bar .title {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        font-weight: normal;
        font-size: 1.5em;
        margin-left: 10px;
    }

.ltr .filter-bar .title {
    margin-left: 0;
    margin-right: 10px;
}

.filter-bar i {
    vertical-align: middle;
}

.filter-bar .services {
    vertical-align: top;
    display: inline-block;
    overflow: auto;
    padding: 0;
    margin: 0;
}

    .filter-bar .services a {
        color: inherit;
        font-weight: normal;
        width: 100%;
        height: 100%;
    }

    .filter-bar .services .selected a {
        border-radius: 5px;
        padding: 0px 10px 0px 10px;
        color: #ffffff !important;
    }

.filter-bar .search, .filter-bar .datepicker {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.ltr .filter-bar .search, .ltr .filter-bar .datepicker {
    float: right;
}

.filter-bar form {
    display: inline-block;
    margin-right: 5px;
}

.filter-bar i {
    cursor: pointer;
}

.filter-bar .search input {
    height: 30px;
    width: 100px;
    display: none;
    outline: none;
    background: transparent;
    border: none;
    z-index: 10000;
}

.filter-bar .datepicker input {
    background: transparent;
    width: 0px;
    height: 0px;
    border: none;
}

.filter-bar .datepicker .print {
    display: inline-block;
}

.filter-bar .selected input {
    display: inline-block;
}

.filter-bar .archive-title {
    margin-right: 3px;
    cursor: pointer;
    font-size: 0.9em;
}


.filter-bar .search-title {
    margin-right: 3px;
    cursor: pointer;
    font-size: 0.9em;
    float: right;
    padding-left: 4px;
}

.filter-bar .category-filter-1363 {
    color: #f22121;
}

    .filter-bar .category-filter-1363 a {
        font-weight: bold;
    }

.videos .filter-bar {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}


    .videos .filter-bar ul li.selected a {
        background-color: #e84c3d;
        color: white;
    }


    .videos .filter-bar .selected, .videos .filter-bar .selected input, .videos .filter-bar .selected .print,
    .videos .filter-bar .search-and-date .datepicker.selected,
    .videos .filter-bar .title {
        color: #e84c3d;
    }




.videos article.media-item .details .title {
}

.photos .pgwSlideshow, .photos .mini-sliders-container {
    /*max-width: 800px;*/
    margin-left: auto;
    margin-right: auto;
}

.photos .mini-sliders-container {
    margin-top: 10px;
}

.photos .slider-container {
    position: relative;
    z-index: 999;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.photos .photos-single-container a {
    color: inherit;
}

.photos .photos-slider-list {
    display: none;
}

.photos .slider-container .media-item figure, .photos .slider-container .media-item .details {
    background-color: #323232;
}
/*.photos .slider-container:before {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 60%;
        background-color: #848484;
        z-index: 0;
    }

    .photos .slider-container:after {
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        content: "";
        display: block;
        height: 50%;
        background-color: #323232;
        z-index: -1;
    }

    .photos .service-slider-container:before {
        height: 80%;
    }*/
.photos .filter-bar, .graphic .filter-bar, .videos .filter-bar {
    border-bottom: 1px solid #4a4a4a;
    border-top: 1px solid #4a4a4a;
}

.photos .filter-bar {
    /*background-color: #848484;*/
    position: relative;
}

    .photos .filter-bar ul li {
        position: relative;
    }

        .photos .filter-bar ul li.selected a {
            background-color: #a1c131;
        }

    /*.photos .filter-bar ul li a:before {
            border-left: 1px solid #232323;
            bottom: 25%;
            content: "";
            height: 40%;
            left: 0;
            position: absolute;
            width: 1px;
        }*/

    .photos .filter-bar .title, .photos .filter-bar .selected, .photos .filter-bar .selected input,
    .photos .filter-bar .selected .print, .photos .filter-bar .search-and-date .datepicker.selected {
        color: #a1c131;
    }

.photos article .over-title, .photos article .lead, .photos article time, .photos article .reporter,
.graphic article .over-title, .graphic article .lead, .graphic article time, .graphic article .reporter,
.videos article .over-title, .videos article .lead, .videos .story, .videos article time, .videos article .reporter, .photos .comment-box, .graphic .comment-box, .videos .comment-box {
    color: #d8d8d8;
    color: #727272;
}

    .graphic .comment-box input, .graphic .comment-box textarea, .videos .comment-box input, .videos .comment-box textarea, .photos .comment-box input, .photos .comment-box textarea {
        background: #464545;
        border: 1px solid #363535;
        color: #ffffff;
    }

.graphic .filter-bar ul li.selected a {
    background-color: #fbac18;
}

.graphic .filter-bar .search-and-date .datepicker.selected {
    color: #fbac18;
}

.items-container {
    float: left;
    overflow: hidden;
    border-right: 1px solid #313131;
    padding-right: 0;
}

    .items-container img {
        max-height: 380px !important;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

.slides-container {
}

    .slides-container img {
        vertical-align: baseline;
    }

#graphic-service-slider {
    /*background:black;*/
    border: 1px solid #313131;
    margin-bottom: 40px;
}

    #graphic-service-slider .row {
        overflow: hidden;
    }

    #graphic-service-slider .carousel-caption {
        width: 100%;
        right: 0%;
        text-align: right;
        bottom: 0px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    }

        #graphic-service-slider .carousel-caption a {
            color: inherit;
        }

        #graphic-service-slider .carousel-caption h2 {
            margin: 0;
        }

.graphic .filter-bar .title, .graphic .filter-bar .selected, .graphic .filter-bar .selected input, .graphic .filter-bar .selected .print {
    color: #fbac18;
}

.graphic .pgwSlideshow .ps-caption {
    /*background: #000000;*/
}

.graphic .pgwSlideshow .ps-current img {
}

.graphic .pgwSlideshow {
    margin-bottom: 15px;
}

.ltr .pgwSlideshow .ps-caption {
    text-align: left;
}

.video-item figure {
    position: relative;
}

    .video-item figure::before {
        content: "";
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 25%;
        left: 0;
        right: 0;
        width: 60px;
        height: 60px;
        z-index: 100;
        background: transparent url('/Static/img/play-button.png') no-repeat center;
        background-size: cover;
        pointer-events: none;
    }



.videos .media-item figure {
    position: relative;
}

    .videos .media-item figure::before {
        content: "";
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 37%;
        left: 0;
        right: 0;
        width: 50px;
        height: 50px;
        z-index: 100;
        background: transparent url('/Static/img/play-button.png') no-repeat center;
        background-size: cover;
        pointer-events: none;
    }

.photos-slider article figure {
    position: relative;
    overflow: hidden;
}

.photos-slider .first-slide {
    text-align: center;
    margin-bottom: 5px;
}

.photos-slider img {
    width: 100%;
    text-align: center;
}


.photos-slider .title {
    position: absolute;
    background: rgba(1, 1, 1, 0.9) none repeat scroll 0 0;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    margin: 0;
    color: white;
}

.photos-slider .first-slide .title {
    font-size: 1.4em;
}

.photos-slider .mini-slide .title {
    font-size: 1.2em;
}

.graphic, .videos {
    color: #ffffff;
}


.graphic-row {
    background: black;
    padding: 10px;
    margin-bottom: 10px;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

    .graphic-row img {
        max-height: 200px;
        max-width: 80%;
        display: inline-block;
        vertical-align: middle;
    }




.social-buttons {
    clear: both;
    padding-top: 40px;
}

    .social-buttons h3 {
        float: right;
    }

.actionBox .print-icon {
    padding-top: 5px;
    padding-right: 8px;
    display: inline;
    float: left;
}

.social-icon-mini {
    width: 20px;
    height: 20px;
    background: url(/Static/img/social-icons-mini.png);
    margin: 3px;
    float: left;
}


.social-icon-big {
    width: 40px;
    height: 40px;
    background: url(/Static/img/social-icons-big.png);
    margin: 3px;
    float: right;
}

    .social-icon-big:hover, .social-icon-mini:hover {
        box-shadow: 0 0 100px rgba(255,255,255,.2) inset;
    }

.ltr .social-icon-big {
    float: left;
}

.facebook-mini {
    background-position: 0 -40px;
}

.twitter-mini {
    background-position: 0 -60px;
}

.gplus-mini {
    background-position: 0 -100px;
}

.facebook-big, .mail-mini {
    background-position: 0 -80px;
}

.twitter-big {
    background-position: 0 -120px;
}

.gplus-big {
    background-position: 0 -200px;
}

.afsaran-big {
    background: url(/Static/img/afsaran.jpg);
}

.mail-big {
    background-position: 0 -160px;
}


.related-news {
    margin-top: 20px;
}

.pagination ul li a:focus, .pagination ul li a:hover {
    color: #005580;
}

.pagination {
    text-align: center;
}

    .pagination ul {
        border-radius: 4px;
        display: inline-block;
        padding: 0;
        float: right;
        margin-top: 20px;
    }

.ltr .pagination ul {
    float: left;
}

.pagination ul > li {
    display: inline;
    line-height: 20px;
    text-align: right;
}

    .pagination ul > li.previous, .pagination ul > li.previous {
        border-right-width: 1px;
        border-radius: 0 4px 4px 0;
        border-bottom-left-radius: 0 !important;
        border-left-width: 0 !important;
        border-top-left-radius: 0 !important;
    }

    .pagination ul > li.next, .pagination ul > li.next {
        border-bottom-left-radius: 4px;
        border-left-width: 1px;
        border-top-left-radius: 4px;
    }

.pagination ul > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFF;
    border-color: #DDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: right;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: 0;
    color: #08C;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

.ltr .pagination ul > li {
    float: left;
}

.graphic .pagination ul > li, .videos .pagination ul > li, .photos .pagination ul > li {
    background-color: transparent;
    border: 1px solid #4a4a4a;
    color: inherit;
}

.pagination ul > li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: inherit;
}


.pagination ul > .active, .pagination ul > .active {
    color: #999;
    cursor: default;
}

.pagination ul > .active, .pagination ul > .active, .pagination ul > li > a:focus, .pagination ul > li > a:hover {
    background-color: #F5F5F5;
}

.graphic .pagination ul > .active, .videos .pagination ul > .active, .photos .pagination ul > .active, .graphic .pagination ul > li > a:focus, .graphic .pagination ul > li > a:hover,
.photos .pagination ul > li > a:focus, .photos .pagination ul > li > a:hover, .videos .pagination ul > li > a:focus, .videos .pagination ul > li > a:hover {
    color: #ffffff;
    background-color: #4a4a4a;
}


.pagination ul > li:first-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ltr .pagination ul > li:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-left-width: 1px;
}

.pagination ul > li:last-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left: 1px solid #DDD;
}

.ltr .pagination ul > li:last-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 1px solid #DDD;
    border-left: none;
}

body.ltr.photos .pagination ul > li:last-child {
    border-right: 1px solid #4a4a4a;
}

.graphic .pagination ul > li:last-child, .videos .pagination ul > li:last-child, .photos .pagination ul > li:last-child {
    border-left: 1px solid #4a4a4a;
}


.photos .pagination {
}




form.search input, form.search button {
    height: 58px;
}

form.search button {
    width: 60px;
    font-size: 30px;
}

form.search input {
    font-size: 30px;
}

form.search .form-group {
    margin-top: 30px;
}

.search-details {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 8px;
}

    .search-details .item {
        display: inline-block;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 3px;
        font-size: 1.3em;
    }

.search-error {
    color: #d9534f;
    font-size: 1.5em;
}


.cars-container {
    direction: rtl;
    height: 100%;
    margin: 40px auto 0;
}

html, body {
    height: 100%;
}

.icons-row {
    display: block;
}

.icon-container {
    /*display: table-cell;*/
    padding: 1px;
    text-align: center;
}

    .icon-container img {
        /*width: 111px;*/
    }


.price-table {
    display: none;
    /*margin: -3px 3px 0;*/
    text-align: center;
}

    .price-table .header {
        background-color: #095cc0;
        color: white;
        font-size: 15px;
        text-align: center;
    }

    .price-table th {
        text-align: center;
        color: #ffffff;
        vertical-align: middle !important;
        padding: 1px !important;
    }

        .price-table th img {
            width: 35px;
        }

    .price-table .price-item {
        background-color: inherit;
        /*display: table-cell;*/
        text-align: center;
        /*width: 138px;*/
    }

    .price-table tbody tr td {
        font-size: 15px;
        padding: 3px;
    }

    .price-table tbody tr:nth-child(2n) {
        background: #f5f5f5 none repeat scroll 0 0;
    }

    .price-table tbody tr:nth-child(2n+1) {
        background: #fff none repeat scroll 0 0;
    }

    .price-table .price-row .price-item:first-child {
        border-right: 1px solid #e4e4e4;
    }

    .price-table .price-row .price-item {
        border-left: 1px solid #e4e4e4;
        font-size: 14px;
    }

.car-price-chart-modal .modal-header {
    padding: 5px;
}


.chart {
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

    .chart img {
        float: none !important;
        margin: 0 auto;
        text-align: center;
    }

.chart-table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e4e4e4 #e4e4e4;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    height: 170px;
}

    .chart-table .chart-holder {
        margin-top: 15px;
    }

.loading-container {
    height: 60px;
    margin: 0 auto;
    padding-top: 20px;
    vertical-align: bottom;
    width: 60px;
}

    .loading-container img {
        width: 18px;
    }

#gkSidebar {
    border-right: 1px solid #d2d0d0;
}

#gkContentCategory, #gkContent {
    border-left: medium none !important;
    position: relative;
}

.last-update-container {
    background: #480090 none repeat scroll 0 0;
    color: white;
    font-size: 14px;
    margin-top: -1px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 280px;
}

.services-group {
    display: none;
}

.table-container {
    margin-bottom: 50px;
}

    .table-container table {
        display: none;
        margin-top: -4px;
        text-align: center;
        margin: -3px auto !important;
        width: 99.4%;
        border: 1px solid #d2d0d0;
        border-top: none;
    }

        .table-container table tr th {
            text-align: center;
            color: white;
            padding: 5px;
            font-size: 15px;
        }

.leagues-table table tr th {
    padding: 1px;
}

#league_1 th, #league_6 th, #league_7 th {
    color: black;
}

.table-container table tr:hover td {
    background: #ebeaea;
}

.leagues-title {
    text-align: right;
    margin-bottom: -30px;
    margin-top: 10px;
    margin-right: 10px;
}

.table-container table tr td {
    padding: 4px;
    color: #595959;
    font-size: 12px;
}


    .table-container table tr td:nth-child(1) {
        width: 10px;
        font-family: Arial;
    }

    .table-container table tr td:nth-child(2) {
        font-size: 15px;
        font-weight: bold;
    }

    .table-container table tr td:nth-child(3) {
        font-family: Arial;
        width: 8%;
    }

    .table-container table tr td:nth-child(4) {
        font-family: Arial;
        width: 8%;
    }

    .table-container table tr td:nth-child(5) {
        font-family: Arial;
        width: 8%;
    }

    .table-container table tr td:nth-child(6) {
        font-family: Arial;
        width: 8%;
    }

    .table-container table tr td:nth-child(7) {
        font-family: Arial;
        width: 8%;
    }

    .table-container table tr td:nth-child(8) {
        font-family: Arial;
        width: 8%;
    }

    .table-container table tr td:nth-child(9) {
        font-family: Arial;
        width: 8%;
    }

    .table-container table tr td:nth-child(10) {
        font-family: Arial;
        width: 8%;
    }

    .table-container table tr td:nth-child(10) {
        font-weight: bold;
        font-family: Arial;
        width: 8%;
    }

.table-container table tr:nth-child(even) {
    background: #fbfbfb;
}

.table-container table tr:nth-child(odd) {
    background: #FFF;
}

.icon-container {
    cursor: pointer;
    margin: 0px 0px 5px 0px;
}

    .icon-container img {
        /*border-radius: 6px;*/
        /*border-top-right-radius: 6px;*/
        max-width: 120px;
        width: 100%;
    }


.coins-container {
    /*border: 1px solid #cac9c7;*/
}

.photos .widgets-icon, .graphic .widgets-icon, .videos .widgets-icon, .photos .published-books, .graphic .published-books, .videos .published-books {
    display: none;
}

.ltr .widgets-icon, .ar .widgets-icon, .ur .widgets-icon {
    display: none;
}

.widgets-icon {
    margin-bottom: 6px;
}

.widg-icon {
    padding: 5px;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    color: #d9534f;
    font-size: 1.2em;
    /*width: 38px;*/
    width: 32%;
    float: right;
    margin-left: 2%;
    border-radius: 5px;
}

    .widg-icon:hover {
        background-color: #d8d8d8;
    }

.sm-icon {
    width: 15%;
}

.sm-icon-l {
    margin-left: 0;
}

.sm-icon .fa-facebook {
    color: #3e5b99;
}

.sm-icon .fa-twitter {
    color: #659fcb;
}

.sm-icon .fa-google-plus {
    color: #da4835;
}

.sm-icon .fa-instagram {
    color: #D92E7F;
    font-size: 23px;
}

.sm-icon .fa-paper-plane {
    color: #ffffff;
    font-size: 12px;
    background: #2ca5e0;
    padding: 5px 6px 5px 5px;
    border-radius: 50%;
}

.sm-icon .bisphone {
    background-image: url('/static/img/bisphone.png');
    height: 23px;
    width: 23px;
    background-size: contain;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.icon-container a .last {
    margin-left: 0px;
}

.widg-icon:hover {
    color: #c33e3a;
    transition: all 0.3s ease 0s;
}

.modal-dialog {
    float: none !important;
}

.modal-content {
    height: 460px;
    overflow: auto;
}

.currency-modal .modal-title {
    color: #000000 !important;
}

.modal-header, .modal-content {
    padding: 5px;
    color: #000000;
}

.coins-table tr:hover {
    background: #cac9c7;
}

.coins-table .currency-last-update:hover {
    background: white;
}

.coins-table td {
    padding: 3px;
    margin: 0px;
    color: black;
    font-size: 11px;
    border-right: 1px solid #cac9c7;
    border-bottom: 1px solid #cac9c7 !important;
}

.more-curreny {
    font-size: 12px;
    font-weight: bold;
    padding: 2px 11px;
}

.coins-table td:last-child {
    border-right: none;
}

.coins-header td {
    background-color: #F6F6F6;
    font-size: 13px;
    height: 17px;
    line-height: 70%;
    color: #4a62a2;
    text-align: center;
    border-bottom: 1px solid #cac9c7 !important;
    border-right: none !important;
    margin: 0px;
    padding-bottom: 0px;
    color: #555555;
    vertical-align: top;
}

    .coins-header td:last-child {
        border-right: none;
    }

.coins-table {
    text-align: center;
    direction: ltr;
    margin: 0 auto;
    font-family: Tahoma;
    border-collapse: separate;
    width: 100%;
}

    .coins-table sup {
        vertical-align: super;
        font-size: 9px;
    }

section.ads .main-search-form {
    width: 135px;
}


section.ads .ad-item {
    /*margin: 0 -0.325em;*/
    vertical-align: top;
    float: none;
    display: inline-block;
    padding-top: 5px;
    text-align: center;
}

section.ads .ad-item {
    /*margin-top: 10px;*/
}

    section.ads .ad-item img {
        max-width: 100%;
    }

section.ads .two-c-ad {
    text-align: center;
}

    section.ads .two-c-ad img {
        max-width: 280px;
        width: 100%;
    }

@media print {
    #header {
        display: none;
    }

    article.single-news figure {
        display: none;
    }

    .news-container, footer, section.ads, .share-box {
        display: none;
    }

    .search-form-container, .widgets-icon, .telegram-phrase {
        display: none;
    }

    #print-header {
        display: block;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid gray;
        overflow: hidden;
    }

    div, section, body, html {
        width: 100% !important;
        display: block;
    }

    #print-header img {
        float: right;
        width: 100px;
    }

    .ltr #print-header img {
        float: left;
    }

    article.single-news .print {
        display: none;
    }

    article.single-news {
        width: 100%;
    }

        article.single-news .comment-count {
            display: none;
        }

        article.single-news .story img {
            width: auto;
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10px;
            text-align: center;
        }

    a[href]:after {
        content: none !important;
    }
}


.election-index {
    margin-bottom: 10px;
    display: none;
}

    .election-index img {
        max-width: 100%;
    }

header .election {
    background-image: url('/Static/img/election-header.png');
    background-repeat: no-repeat;
    height: 113px;
    width: 413px;
    z-index: 999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.published-books {
    max-width: 130px;
    margin: 0 auto;
}

    .published-books .persian-title {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 3px;
        background: #5b5b5b;
        color: #fff;
        font-size: 15px;
        font-weight: normal;
        border-radius: 4px 4px 0px 0px;
        text-align: right;
    }

    .published-books .carousel-control {
        position: relative;
        width: 20px;
        height: 20px;
        background: red;
        float: left;
    }

    .published-books .carousel-inner .item .carousel-caption {
        display: none;
        background: #000000;
        max-width: 130px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 1px;
        text-align: right;
    }

        /*.published-books .carousel-inner .item img {
        max-width: 130px;
    }*/

        .published-books .carousel-inner .item .carousel-caption h5 {
            padding: 3px;
            margin: 0;
        }

.book-item {
    text-align: center;
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0 -0.125em;
    line-height: 180%;
}

    .book-item figure {
        margin-bottom: 10px;
    }

    .book-item img {
        margin: 0 auto;
    }

    .book-item .author {
        font-weight: normal;
        color: #808080;
        font-size: 1.2em;
    }

    .book-item .title {
        font-weight: normal;
        font-size: 1.2em;
    }

    .book-item .price {
        font-weight: bold;
    }

.button-container {
    margin: 5px 0px 20px 0px;
}

    .button-container .button {
        border-radius: 18px;
        width: 60%;
        color: white;
        margin: 0 auto;
        padding: 3px;
        border: 0;
    }

    .button-container .add-button {
        background-color: #4caf50;
    }

        .button-container .add-button:hover {
            outline: 0;
            transition: all 0.3s ease 0s;
            background-color: #3e9342;
        }

    .button-container .soldout-button {
        background-color: #ff7272;
    }

    .button-container .button .fa {
        font-size: 1.5em;
    }

    .button-container .button .button-title {
        margin-right: 5px;
    }

.product-image {
    text-align: center;
}

    .product-image figure img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        margin: 0 auto;
    }

.product-details {
    margin-top: 1%;
    text-align: right;
}

    .product-details .product-title h1 {
        margin: 0;
        font-size: 2.2em;
        font-weight: bold;
    }

    .product-details .product-author {
        color: #4d4d4d;
    }

.product-price-container .not-available h3 {
    color: #ff5252;
    font-weight: bold;
}

.product-price-container .price-item {
    font-weight: normal;
    font-size: 1.1em;
}

.product-price-container .price-you-save .rial {
    color: #b52666;
}

.product-price-container .price-final {
    font-size: 2.0em;
    margin-top: 20px;
}

    .product-price-container .price-final .rial {
        color: #4caf50;
        font-weight: bold;
    }

.book-tabs {
    border-bottom: 3px solid #ddd;
    margin-bottom: 20px;
}

.nav-tabs > li {
    margin-left: 10px;
    font-size: 1.2em;
}

#book-description h4 {
    font-size: 16px;
    line-height: 150%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.book-details-table {
    font-size: 1.1em;
}

    .book-details-table .details-label {
        font-weight: bold;
    }
/*.nav-tabs > li > a {
    background-color: #eeeeee;
}*/

.product-price-container .book-tabs li {
}
/*.product-price-container .price-label{margin-left:10px;}*/
.product-price-container .price-rrp-discount .rial .num {
    text-decoration: line-through;
}

.product-price-container .price-rrp-discount .rial {
    color: #777;
}

.product-summary h3 {
    font-size: 17px;
    line-height: 150%;
}

.product-buy {
    margin-top: 5px;
}

    .product-buy .button-container {
        display: inline-block;
        margin: 0;
    }

        .product-buy .button-container .button {
            display: inline-block;
            float: right;
            width: auto;
            padding: 5px 20px;
        }

    .product-buy .qty-wrapper {
        font-size: 15px;
        color: #808080;
        display: inline-block;
        float: right;
    }



        .product-buy .qty-wrapper input {
            background: #fff;
            border: 1px solid #ddd;
            color: #888;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-border-radius: 0px;
            border-radius: 0px;
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 3.0em;
            text-align: center;
            height: 30px;
            font-size: 18px;
        }

.empty-basket-container {
    text-align: center;
}

    .empty-basket-container h3 {
        padding: 20px;
        border-radius: 6px;
        font-weight: bold;
    }

table.basket {
    border-radius: 6px;
}



    table.basket tr th, table.basket tr td {
        text-align: center;
        vertical-align: middle;
    }

        table.basket tr td .book-qty {
            width: 65px;
            margin: 0 auto;
            font-size: 15px;
            color: #4e4e4e;
            text-align: center;
        }

    table.basket tr th {
        background-color: #f7f9fa;
        font-size: 16px;
        height: 57px;
        color: #4e4e4e;
        vertical-align: middle;
    }

    table.basket tr td .book-pic {
        float: right;
    }

        table.basket tr td .book-pic img {
            width: 80px;
        }

    table.basket tr td .book-desc {
        vertical-align: middle;
        float: right;
        color: #4d4d4d;
        margin: 10px 30px;
    }

        table.basket tr td .book-desc .title {
            font-size: 19px;
            font-weight: bold;
        }

        table.basket tr td .book-desc .author {
            font-size: 16px;
        }

    table.basket tr td .book-price {
        font-size: 19px;
    }

    table.basket tr td .book-final-price {
        font-size: 22px;
        font-weight: bold;
        color: #4caf50;
    }

    table.basket tr td .unit {
        margin-right: 10px;
    }

    table.basket tr td .remove-item-button {
        font-size: 18px;
        color: #ff7272;
    }

    table.basket tr td.remove-butten-container {
        width: 10px;
        padding: 0;
    }

}


table.basket tr.total-price-row td {
    border-top-width: 5px;
    text-align: left;
    background-color: #ffffff !important;
}

    table.basket tr.total-price-row td:hover {
        background-color: #ffffff !important;
    }



    table.basket tr.total-price-row td .basket-sum {
        float: left;
        padding: 15px;
    }

        table.basket tr.total-price-row td .basket-sum .sum-title {
            margin-left: 15px;
            font-size: 25px;
            font-weight: bold;
        }

        table.basket tr.total-price-row td .basket-sum .sum-title, table.basket tr.total-price-row td .basket-sum .sum-number {
            float: left;
        }

        table.basket tr.total-price-row td .basket-sum .sum-number {
            font-size: 25px;
            font-weight: bold;
            color: #4caf50;
        }


.jw-icon-hd::before {
    font-family: FontAwesome;
    content: "\f013" !important;
}

.basket-top-button {
    height: 35px;
    padding: 4px;
    width: 100%;
    font-size: 1.4em;
    text-align: right;
    border-radius: 6px;
    background-color: #4caf50;
    float: left;
    padding: 10px;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
}

    .basket-top-button:hover {
        outline: 0;
        transition: all 0.3s ease 0s;
        background-color: #3e9342;
    }



    .basket-top-button i {
        float: right;
        margin-left: 0px;
    }

    .basket-top-button .title {
        float: left;
        font-size: 13px;
        line-height: 15px;
        margin-right: 2px;
    }

    .basket-top-button .num {
        float: right;
        color: #3e9342;
        text-transform: none;
        display: inline-block;
        background: #fff;
        font-weight: 700;
        width: 19px;
        height: 19px;
        line-height: 22px;
        text-align: center;
        border-radius: 30px;
        margin-right: 2px;
        font-size: 20px;
    }

    .basket-top-button a {
    }

.general-shop-button {
    text-align: right;
    margin: 15px;
    border-radius: 6px;
    line-height: 35px;
    background-color: #4caf50;
    float: right;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
}

    .general-shop-button:hover {
        transition: all 0.3s ease 0s;
        background-color: #3e9342;
    }

.return-to-shop {
    height: 35px;
    width: 120px;
    background-color: white;
    border: 1px solid #ddd;
    color: #333;
}

    .return-to-shop:hover {
        transition: all 0.3s ease 0s;
        background-color: #ddd;
    }

    .return-to-shop i {
        margin-left: 10px;
        margin-right: 2px;
    }

.final-shop-button {
    padding-right: 30px;
    padding-left: 30px;
}

    .final-shop-button i {
        float: left;
        margin-top: 10px;
        margin-right: 10px;
    }

.shop-spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.user-data-form .form-group {
    margin-left: 10px;
}

    .user-data-form .form-group label {
        margin-bottom: 5px;
        margin-right: 10px;
        font-size: 1.1em;
        font-weight: bold;
    }

.basket-container .shop-spinner {
    display: none;
}


.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce1 {
    background-color: #d71920;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    background-color: #a91f23;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
    }

    50% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


@media (min-width: 1300px) {
    .container {
        width: 1270px;
    }
}

.more-top-news h3 {
    font-size: 18px;
    text-align: center;
    color: #e84c3d;
    font-weight: bold;
}

#inline-images .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin-bottom: 20px;
}

.published-books .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin-bottom: 0px;
}

.keywords {
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}

    .keywords li.keyword-item {
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0;
        text-decoration: none;
        line-height: 40px;
    }

        .keywords li.keyword-item a {
            display: inline;
            padding: 5px 10px;
            margin-left: 10px;
            background-color: #e3e3e3;
            color: #d9534f;
            border-radius: 5px;
            text-align: center;
        }

 .keywords li.keyword-item a:hover {
    color: #c33e3a;
    transition: all 0.3s ease 0s;
}

.photos .keywords li.keyword-item a , .videos .keywords li.keyword-item a , .graphic .keywords li.keyword-item a {
    background-color: #464545;
    color: #ffffff;

}


.photos .keywords li.keyword-item a:hover, .videos .keywords li.keyword-item a:hover, .graphic .keywords li.keyword-item a:hover {
    color: #959595;
    transition: all 0.3s ease 0s;
}