@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
/*@font-face{font-family:'HacenTunisia';src:url('../fonts/HacenTunisia.eot?#iefix') format('embedded-opentype'),
url('../fonts/HacenTunisia.woff') format('woff'),
url('../fonts/HacenTunisia.ttf') format('truetype'),
url('../fonts/HacenTunisia.svg#HacenTunisia') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'HacenTunisiaBold';src:url('../fonts/HacenTunisiaBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/HacenTunisiaBold.woff') format('woff'),
url('../fonts/HacenTunisiaBold.ttf') format('truetype'),
url('../fonts/HacenTunisiaBold.svg#HacenTunisiaBold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'HacenTunisiaLt';src:url('../fonts/HacenTunisiaLt.eot?#iefix') format('embedded-opentype'),
url('../fonts/HacenTunisiaLt.woff') format('woff'),
url('../fonts/HacenTunisiaLt.ttf') format('truetype'),
url('../fonts/HacenTunisiaLt.svg#HacenTunisiaLt') format('svg');font-weight:normal;font-style:normal;}*/
::-webkit-scrollbar{width:12px;}
::-webkit-scrollbar-track{background-color:#eaeaea;border-right:1px solid #cecece;}
::-webkit-scrollbar-thumb{background-color:#cecece;}
::-webkit-scrollbar-thumb:hover{background-color:#aaa;}
::-webkit-scrollbar-track{border-radius:0;box-shadow:none;border:0;}
::-webkit-scrollbar-thumb{border-radius:0;box-shadow:none;border:0;}
body{font-family: 'Droid Arabic Kufi', sans-serif;background-color:#e7e7e7;direction:rtl;}
.wrap{background-color:#fff;position:relative;}
.top-ad a{display:inline-block;max-width:100%;}
.top-ad a img{max-width:100%;}
.main-cats{background-color:#f4f4f4;border-bottom:1px solid #ddd;padding:5px 0;}
.main-cats ul.list-inline{margin-bottom:0;}
.main-cats ul.list-inline a{font-size:12px;color:#333;display:inline-block;text-decoration:none;}
.main-cats ul.list-inline a:hover{color:#000;}
.main-cats ul.of-top-nav{right:0;left:auto;min-width:170px;background:#fff;position:absolute;border:none;box-shadow:5px 5px rgba(91, 91, 91, 0.2);text-transform:none;border-radius:0;padding:0;top:96%;}
.main-cats ul.of-top-nav>li>a{padding:8px 15px;color:#767f88;display:block;border-bottom:solid 1px #efefef;font-size:12px;}
.main-cats li.dropdown:hover ul.of-top-nav{display:block;}
.top-bar{border-top:1px solid #ddd;background-color:#f4f4f4;}
.head-bar{padding:10px 0;overflow:hidden;}
a.site-logo{display:inline-block;float:right;}
.top-ad{float:left;padding-top:5px;}
.ticker{padding-top:8px;position:relative;height:30px;overflow:hidden;}
.bar_t{color:#fff;background-color:#bd262b;display:inline-block;float:right;font-size:16px;margin:0;padding:0 5px;height:21px;}
ul.marquee{display:block;margin:0;padding:0;list-style:none;position:relative;overflow:hidden;height:20px;line-height:20px;}
ul.marquee li{position:absolute;top:-999em;right:0;display:block;white-space:nowrap;font-size:15px;}
.foobar-message{display:inline-block;line-height:20px;color:#333;font-size:12px;margin:0 8px;}
.foobar-message a{color:#777;text-decoration:none;background:none;}
ul.marquee li a i{margin-left:3px;}
.navbar-default{background:#232323;border:none;border-bottom:3px solid #bd262b;border-radius:0;min-height:0;margin-bottom:15px;}
.navbar-default .navbar-nav>li>a{margin-bottom:-3px;border-bottom:3px solid transparent;color:#fff;font-size:14px;font-weight:bold;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;padding:12px 15px;border-left:1px solid rgba(255,255,255,0.1);}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{color:#fff;background-color:#bd262b;}
.navbar-brand{margin-left:15px;padding:10px 15px 10px 0;}
.navbar-collapse{padding-right:0;padding-left:0;}
.navbar-default .navbar-toggle{z-index:999;}
ul.social{margin:0;padding:0;list-style:none;}
ul.social li{display:inline-block;margin:4px 0 4px 3px;}
ul.social li:last-child{margin:0;}
ul.social li a{display:block;width:30px;height:30px;line-height:30px;text-align:center;color:#fff;font-size:15px;border-radius:3px;}
ul.social li.fb a{background-color:#3b5998;}
ul.social li.tw a{background-color:#33ccff;}
ul.social li.yt a{background-color:#ff3333;}
ul.social li.rss a{background-color:#ff9900;}
#featured-slider{width:100%;clear:both;direction:ltr;}
#featured-slider.ms-skin-default .ms-thumb-list.ms-dir-h{bottom:0 !important;height:96px;padding:12px;background-color:rgba(0,0,0,0.75);}
#featured-slider .ms-thumb-frame{width:114px;height:72px;box-sizing:border-box;float:left;}
#featured-slider .ms-thumb-frame img{width:114px;height:72px;float:right;border:3px solid #222222 !important;box-sizing:border-box;}
#featured-slider .ms-skin-default .ms-thumb-frame-selected{opacity:1;background-color:#f6f6f6;}
#featured-slider .ms-slide .ms-layer{top:0 !important;left:0;}
#featured-slider .ms-slide .ms-layer a{font-size:15px;line-height:22px;color:#fff;font-weight:normal;background:rgba(222, 45, 53, 0.9);padding:8px 10px;text-decoration:none;display:inline-block;text-shadow:0px 1px 1px rgba(0,0,0,0.4);direction:rtl;}
.aside-widget{background-color:#313131;padding:5px;}
.aside-widget .this-ad{margin-bottom:5px;height:250px;}
.gplus-page{height:90px;overflow:hidden;}
.ttl{background:#313131;color:#fff;display:block!important;margin-bottom:2px;position:relative;}
.ttl .customNav{position:absolute;left:0;top:0;}
.ttl .customNav a{display:block;float:right;color:#fff;background:#ee1b2e;border-bottom:4px solid #d2001b;text-decoration:none;height:40px;line-height:40px;cursor:pointer;text-align:center;width:40px;font-size:35px;}
.ttl .customNav a:hover, .ttl .morebtn:hover{background:#eeeeee;border-bottom:4px solid #CCCCCC!important;color:#ee1b2e;}
.ttl h3{font-size:15px;margin:0;background:#333;height:40px;border-bottom:4px solid #212121;padding:10px 12px;}
.ttl h3 a{color:#fff;text-decoration:none;}
.ttl .morebtn{font-size:12px;display:block;color:#fff;background:#ee1b2e;border-bottom:4px solid #d2001b;text-decoration:none;height:40px;line-height:37px;position:absolute;top:0;left:0;text-align:center;width:50px;}
.ttl .ttl-link{position:absolute;left:10px;top:10px;font-size:12px;color:#fff;}
.block{margin-bottom:15px;}
.post-wide, .post-sm{background-color:#f4f4f4;border-bottom:2px solid #fff;}
a.thumb-wide, a.thumb-sm{display:block;overflow:hidden;}
a.thumb-wide img{width:100%;height:215px;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:scale(1.15);transform:scale(1.15);}
a.thumb-wide img:hover{-webkit-transform:scale(1);transform:scale(1);}
.post-sm{padding:8px;}
.post-sm p{font-size:11px;float:left;margin:5px 0 0 0;color:#777;}
a.thumb-sm{width:80px;height:65px;float:right;margin-left:10px;}
a.thumb-sm img{width:100%;height:100%;}
.post-wide h2{font-size:14px;margin:10px;line-height:22px;}
.post-sm:hover a.thumb-sm img{opacity:0.85;}
.post-sm h2{font-size:12px;margin:0;line-height:20px;}
.post-wide h2 a, .post-sm h2 a, .video h2 a{text-decoration:none;color:#333333;}
.post-wide h2 a:hover, .post-sm h2 a:hover, .video h2 a:hover{color:#bd262b;}
.col-md-me{width:14.285714%;position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.widgets{background-color:#222222;padding:30px 0;}
.widgets h3{color:#fff;font-size:15px;margin:0 0 18px 0;}
.widgets ul{margin:0;padding:0;list-style:none;}
.widgets ul li{margin-bottom:6px;line-height:22px;}
.widgets ul li:last-child{margin:0;}
.widgets ul li a{font-size:12px;color:#999999;text-decoration:none;}
.widgets ul li a:hover, .rights a:hover{color:#fff;}
.rights{background-color:#434343;padding:15px 0 5px 0;}
.rights p, .rights ul{margin-bottom:0;color:#999999;font-size:12px;}
.rights a{color:#999999;text-decoration:none; font-size: 12px;}
.sidebar, .right-side{padding-bottom:100px;}
.sidebar:before{content:'';position:absolute;right:0;width:10px;top:-15px;bottom:0;border-right:1px solid rgba(231,231,231,1.00);display:block;background:-moz-linear-gradient(left, rgba(240,240,240,1.0) 0%, rgba(255,255,255,1.0) 100%);background:-webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1.0)), color-stop(100%, rgba(255,255,255,1.0)));background:-webkit-linear-gradient(left, rgba(240,240,240,1.0) 0%, rgba(255,255,255,1.0) 100%);background:-o-linear-gradient(left, rgba(240,240,240,1.0) 0%, rgba(255,255,255,1.0) 100%);background:-ms-linear-gradient(left, rgba(240,240,240,1.0) 0%, rgba(255,255,255,1.0) 100%);background:linear-gradient(to left, rgba(240,240,240,1.0) 0%, rgba(255,255,255,1.0) 100%);}
.aside-tabs, .sidebar-ad{margin-bottom:15px;}
.menutabContainer{background:#333;height:40px;border-bottom:4px solid #212121;margin-bottom:2px;float:none;padding:0;width:100%;}
.menutabContainer>li{display:table-cell;width:1%;}
.menutabContainer>li>a{border:none;border-radius:0;color:#fff;font-size:15px;padding:8px;text-align:center;display:block;text-decoration:none;}
.nav-tabs.nav-justified>li>a:hover{background:none;}
.menutabContainer li.selected>a,
.menutabContainer li.selected>a:focus,
.menutabContainer li.selected>a:hover{border:none;background:#ee1b2e;border-bottom:4px solid #d2001b;height:40px;color:#fff;}
.carousel-wrap{direction:ltr;margin-right:-15px;margin-left:-15px;}
.carousel-wrap .item{padding-right:15px;padding-left:15px;}
.video{direction:rtl;background-color:#f4f4f4;overflow:hidden;}
.video h2{font-size:12px;margin:6px 10px;line-height:20px;height:39px;}
.video .vid-thumb{position:relative;display:block;background-color:#111;transition:0.5s;}
.video .vid-thumb span{position:absolute;right:10px;top:10px;display:inline-block;color:#fff;font-size:14px;background-color:#bd262b;padding:2px 5px;}
.video .vid-thumb img{max-width:100%;width:100%;transition:1s;height:165px;}
.video .vid-thumb .fa{position:absolute;left:50%;top:50%;width:50px;height:50px;line-height:50px;font-size:50px;text-align:center;margin:-25px 0 0 -25px;color:#fff;opacity:0;transition:0.5s;}
.video .vid-thumb:hover img{opacity:0.5;}
.video .vid-thumb:hover .fa{opacity:1;}
a.scrollToTop{width:30px;height:30px;line-height:30px;font-size:20px;text-align:center;background:#bd262b;color:#fff;text-decoration:none;position:fixed;bottom:55px;right:30px;display:none;}
.this-dropdown{position:absolute;top:0;left:0;}
.this-dropdown .dropdown-toggle{border-radius:0;outline:none;padding:9px 15px;background:none;border:none;color:#fff;font-size:20px;}
.of-search{left:0;right:auto;top:97%;min-width:355px;border:none;background-color:rgba(0,0,0,1.00);padding:15px;border-radius:0;z-index:99999;}
.of-search form{position:relative;width:100%;}
.of-search .form-control{border-radius:0;box-shadow:none;font-size:12px;border:2px solid rgba(68,68,68,1.0);background-color:transparent;height:40px;line-height: 29px;}
.of-search .form-control:focus{border-color:rgba(85,85,85,1.0);}
.of-search .input-group button{position:absolute;left:10px;top:9px;cursor:pointer;background-color:transparent;border:none;color:#fff;font-size:15px;z-index:5;}
.menu-widget{margin-bottom:15px;}
ul.menulist{list-style-type:none;padding:0;margin:0;}
ul.menulist li{background-color:#f4f4f4;border-bottom:2px solid #fff;display:block;font-size:14px;line-height:22px;overflow:hidden;padding:8px;}
ul.menulist li a{text-decoration:none;color:#333333;}
ul.menulist li a:hover{color:#bd262b;}
ul.menulist li img{float:right;height:55px;margin-left:10px;width:65px;}
ul.menulist li:hover img{opacity:0.85;}
#weathers{text-align:center;padding:10px 0;border-top:1px solid rgba(255,255,255,0.40);font-size:11px;background:#bd262b;color:#fff;}
#weathers a{color:#fff;}
.weatherFeed{background-color:#bd262b;color:#fff;}
.weatherFeed h3{font-size:15px;margin:0;padding:12px 15px;border-bottom:1px solid rgba(255,255,255,0.40);}
.weatherFeed .loading{background:url("../images/loading.gif") no-repeat center center;height:100%;}
.weatherFeed a{color:#fff;}
.weatherItem{background-repeat:no-repeat;padding:15px;text-align:right;}
.weatherDesc, .weatherCity{font-size:12px;}
.weatherDesc{margin:-10px 0 8px 0;}
.weatherTemp{font-size:35px;display:block;color:#242424;margin:-10px 0 5px 0;}
.weatherTemp span{display:none;}
.weatherRange, .weatherWind{font-size:11px;font-weight:bold;font-family:'Droid Arabic Naskh', serif;margin:2px 0 0 0;}
.foobar-container-right, .foobar-open-button-container{display:none;}
.bubble{height:18px;padding:0 5px;background-color:#777;color:#fff;vertical-align:middle;text-shadow:1px 1px 0 rgba(0, 0, 0, .2);text-align:center;font-size:9px;line-height:18px;box-shadow:inset 0 0 0 1px rgba(0, 0, 0, .17);-moz-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, .17);font-weight:bold;cursor:pointer;display:none;margin-right:3px;border-radius:3px;}
.bubble.show{display:block;}
.bubble.two{background-color:#fec151;}
.bubble.three{background-color:#7ad2f4;}
.menu-item a{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.bubble{-webkit-transition:all 0.1s ease;-moz-transition:all 0.1s ease;-o-transition:all 0.1s ease;transition:all 0.1s ease;}
.menu-widget .mainImage{position:relative;height:200px;overflow:hidden;}
.menu-widget .mainImage img{width:100%;height:200px;}
ul.grid{padding:0;overflow:hidden;list-style-type:none;margin:5px 0 0 0;}
ul.grid li{float:right;width:25%;padding:0 5px;}
ul.grid li a{position:relative;display:block;border:1px solid #C6C6C6;box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);}
ul.grid li img{width:100%;height:60px;}
ul.grid li span.play{position:absolute;top:50%;left:50%;margin:-10px 0 0 -10px;display:block;width:17px;height:16px;background:url(../../css/theme/smallplay.png) no-repeat;}
.mainImage{position:relative;display:block;}
.menu-widget .mainImage span.comments_balloon{position:absolute;top:8px;left:8px;width:31px;height:27px;background:url(../../css/theme/com_balloon.png) no-repeat;text-align:center;}
.menu-widget .mainImage span.play{position:absolute;top:50%;left:50%;margin:-30px 0 0 -40px;display:block;width:80px;height:60px;background:url(../../css/theme/play.png) no-repeat center center;}
.menu-widget .mainImage div.caption{position:absolute;bottom:0;width:100%;background:rgba(0,0,0,0.6);padding:7px;color:#fff;}
.breadcrumb{margin-bottom:15px; font-size: 12px;}
.breadcrumb>li>a{color:#333;}
.news-title{color:#bd262b;font-size:18px;line-height:28px;margin:0;}
.news-info{padding:5px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:7px 0 10px 0;}
.news-info span{color:#777;font-size:12px;display:inline-block;margin-left:10px;}
.news-info span i{margin-left:5px;}
.news-info span a{color:#777;}
.news-content{font-family:'Droid Arabic Naskh', serif;font-weight:bold;color:#777;font-size:13px;line-height:22px;margin-bottom:20px;}
.share-btns{float:left;}
.alert{padding:10px;border-radius:0;}
ul.pagination{font-family:'HacenTunisiaBold';font-weight:normal;font-style:normal;}
ul.pagination li{float:none;display:inline-block;}
ul.pagination li a{font-size:13px;line-height:20px;padding:3px 10px;display:inline-block;color:#bd262b;border-radius:5px;border:1px solid #e4e4e4;background:none;}
ul.pagination li a:hover{color:#fff;background-color:#bd262b;border-color:transparent;}
.cat-row{color:#aaa;font-size:14px;background-color:#f4f4f4;border-bottom:2px solid #fff;text-shadow:1px 1px 0px #fff;overflow:hidden;padding:15px 0;}
.cat-img a{display:block;overflow:hidden;}
.cat-img a img{width:100%;height:120px;}
.cat-content h2{font-size:15px;margin:0;line-height: 22px;}
.cat-content h2 a{color:#363636;text-decoration:none;}
.cat-content h2 a:hover{color:#000;}
.cat-content p{font-family:'Droid Arabic Naskh', serif;font-weight:bold;font-size:12px;line-height:19px;margin:0;}
#fancyBox .gallery{background:none;min-height:0;margin-bottom:15px;}
#fancyBox .gallery img{max-width:100%;height:auto;}
.player{max-width:100%;margin-bottom:15px;}
.account-ttl{font-size:18px;margin:0;color:#333;border-bottom:1px solid #ddd;padding-bottom:5px;margin-bottom:5px;}
.desc-txt{font-size:12px;color:#777;display:block;margin-bottom:15px;}
.itd{width:100%;margin:0;}
.itd label, label{display:block;width:100%;font-weight: normal;font-size: 12px;}
.input{border:1px solid #eaeaea;width:100%;padding:7px 4px;margin:5px 0;background:#fff;color:#333;outline:none;}
.input:focus{border:1px solid #ccc;box-shadow:none;}
.small_i .filename{width:256px;}
.box .head{font-size:15px;}
#map-outer, #map{width:100%;}
.address-wrapper{float:none;}
div#container{overflow:hidden;margin:0 auto !important;}
div#menu-bar{width:auto;height:53px;}
form#search #input-s{height:34px;}
ul#submenu{width:980px;overflow:hidden;margin:0 auto 10px auto;float:none;}
div#breadcrumbs{height:45px;width:980px;float:none;overflow:hidden;margin:0 auto;}
div.box-header-50{width:491px;height:48px;}
div.bulk-actions a{height:34px;line-height:23px;}
div.box-header-25, div.box-content-25{width:278px;}
div.box-header-25{height:47px;}
div.box-content-50{width:471px;}
div.set-row-2{margin:0;}
div.set-row-2 input.input-2, div.set-row-2 select.select, div.cmf-skinned-select{width:100%;height:34px;}
p.status{margin:0;}
.cb-enable, .cb-disable{width:auto;}
div.box-header{height:52px;width:998px;}
#fancyBox ul{overflow:hidden;}
#fancyBox ul li{float:none;display:inline-block;}
.am-wrapper span.title{font-size: 14px;font-weight: normal;}
.table{font-size: 12px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{vertical-align: middle;}
.box .content{font-size: 12px;line-height: 22px;}
@media (min-width:1200px){.container{width:1024px;}
}
@media (min-width:992px){.col-md-me{float:right;}
}
@media (max-width:992px){.col-md-me{width:100%;}
.widgets h3{margin:20px 0 10px 0;}
}
@media (max-width:768px){.top-bar .text-right, .rights .text-right{text-align:center;margin-top:8px;}
.rights p{text-align:center;}
.nav-tabs.nav-justified{height:auto;}
.nav-tabs.nav-justified>li>a{margin-bottom:0;}
.navbar-collapse{padding-right:15px;padding-left:15px;}
.head-bar{text-align:center;}
a.site-logo{margin-bottom:10px;}
a.site-logo, .top-ad{float:none;}
.this-dropdown{right:0;}
.this-dropdown .dropdown-toggle{padding:11px 15px;}
.of-search{min-width:100%;}
.main-cats{display: none;}
}