.ow-banner--medium,
.ow-banner--dark {
  color: #005bab; }
  .ow-banner--medium a,
  .ow-banner--dark a {
    color: #005bab;
    border-color: #ffffff; }
    .ow-banner--medium a:hover,
    .ow-banner--dark a:hover {
      border-color: transparent; }

.ow-banner--medium,
.ow-banner--dark {
  color: #ffffff; }
  .ow-banner--medium a:not(.btn),
  .ow-banner--dark a:not(.btn) {
    color: #ffffff;
    border-color: #ffffff; }
    .ow-banner--medium a:not(.btn):hover,
    .ow-banner--dark a:not(.btn):hover {
      border-color: transparent; }