.ow-banner--ink-toner {
    border: none;
    background-color: #8bc43e;
}

.ow-banner--ink-toner .ow-banner__content-wrapper {
    display: block;
}

@media (min-width: 640px) {
    .ow-banner--ink-toner .ow-banner__content-wrapper {
        display:table-cell;
    }
}

.ow-banner--ink-toner .ow-banner__image {
    display: none;
}

.ow-banner--ink-toner .ow-banner__image svg {
    fill: #fff;
}

.ow-banner--ink-toner .ow-banner__title {
    color: #fff;
    font-size: 26px;
    text-align: center;
}

.ow-banner--ink-toner .ow-banner__cta {
    text-align: center;
}

@media (min-width: 640px) {
    .ow-banner--ink-toner .ow-banner__title {
        text-align:left;
        padding-right: 20px;
    }
}

@media (min-width: 990px) {
    .ow-banner--ink-toner .ow-banner__content-wrapper>* {
        padding-right: 20px;
    }

    .ow-banner--ink-toner .ow-banner__cta {
        padding-right: 0;
    }

    .ow-banner--ink-toner .ow-banner__image {
        display: table-cell;
    }
}

@media only screen and (min-width: 640px) and (max-width:844px),(min-width:990px) and (max-width:1090px) {
    .ow-banner--ink-toner .ow-banner__title br {
        display:none;
    }
}

.ow-banner--giftcard {
    background: #005bab;
    background-size: cover;
}

.ow-banner--giftcard .ow-banner__title {
    color: #fff;
}

.ow-mega-menu__panel .ow-banner__content-wrapper {
    text-align: left;
}