iframe.calendar {
	z-index: 900;
	position: absolute;
	border: none;
	visibility: hidden;
}
#calendarDiv {
	position: absolute;
	z-index: 1000;
	visibility: hidden;
	width: 420px;
	border: solid 1px #bebaba;
	background-color: #FFF;
	font-family: arial;
	font-size: 12px;margin-top:-3px;
}
#calendarDiv .calendarContent {
	float: left;
	width: 209px;
	height:184px;
	border-right: solid 1px #CCC;
}
#calendarDiv .calendarContentRight {
	border: none;
}
#calendarDiv table {
	width: 100%;
	table-layout: fixed;
}
#calendarDiv td {
	cursor: default;
	text-align: center;
	font-family: arial;
	font-size: 12px;
}
#calendarDiv .topBar {
	color: #fff;
	line-height:27px;
	font-weight: bold;
	text-align: center;
	height: 27px;
}
#calendarDiv .topBar td {
	border-top: solid 1px #FFF;
	border-bottom: solid 1px #FFF;
}
#calendarDiv tbody tr {
	height: 20px;
}
#calendarDiv .topBar .arrowLeft {
	border-left: solid 1px #FFF;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	padding:5px 0;
	background:url(../images/left_a.png) no-repeat center center;text-indent:-9999px;
}
#calendarDiv .topBar .arrowRight {
	border-right: solid 1px #FFF;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;padding:5px 0;
	background:url(../images/right_a.png) no-repeat center center;text-indent:-9999px;
}
#calendarDiv .topBar .arrowLeftDisabled {
	border-left: solid 1px #FFF;
	cursor: default;
	font-weight: bold;
	font-size: 16px;
	color:#CCCCCC;
	padding:5px 0;background:url(../images/left_a.png) no-repeat center center;text-indent:-9999px;
}
#calendarDiv .topBar .arrowRightDisabled {
	border-right: solid 1px #FFF;
	cursor: default;
	font-weight: bold;
	font-size: 16px;
	color:#CCCCCC;
	padding:5px 0;
	background:url(../images/right_a.png) no-repeat center center;text-indent:-9999px;
}
#calendarDiv .daysBar {
	height: 20px;line-height:20px;font-size:14px;
	background-color: #fff;
	color:#4f5050;
}
#calendarDiv .daysBar th {
	font-weight: normal;
	font-family: arial;
	font-size: 12px;text-align:center;
}
#calendarDiv .borderLeft {
	border-left: solid 1px #FFF;
}
#calendarDiv .borderRight {
	border-right: solid 1px #FFF;
}
#calendarDiv .footer {
	background-color: #D7D0BD;
	font-weight: bold;
	height: 28px;
	padding: 0 10px;
	border-top: solid 1px #9D9789;
	clear: both;
}
#calendarDiv .footerRight {
	float: right;
	padding-top: 5px;
}
#calendarDiv .Day {
	color: #636464;
	cursor: pointer;
}
#calendarLeft {
	font-size:12px;background:url(../images/sj_tit.png) no-repeat 4px 6px;
	height:160px;
}
#calendarRight {background:url(../images/sj_tit.png) no-repeat 4px 6px;}
#calendarDiv .DayOver {
	color: #FFF;
	background-color: #a77bb2;
	cursor: pointer;
}
#calendarDiv .activeDay {
	color: #fff;
	cursor: pointer;
	background-color: #a77bb2;
}
#calendarDiv .activeDayOver {
	color: #fff;
	background-color: #a77bb2;
	cursor: pointer;
}
#calendarDiv .inActiveDay {
	color: #CCCCCC;
}
