/*** 
  the CSS on the centennial site is:
  main.css (new for centennial)
  compoments.css  (new for centennial)
  bootstrapOverrides.css (NPS bootstrap not used as base, so it has some overrides)
  ctExtraStyles.css - styles new to Centennial that weren't part of what comes from the design
***/

.galleryListTitle {
	font-weight:bold;
}

.super-header, h2.super-header {
	font-size:.8em;
	font-weight:bold;
	color:#7f7565;
	text-transform:uppercase;
}

.tinyMarginBottom {
	margin-bottom: 10px;
}
.webcamItem {
    padding:0;
}
  .webcamItem ul {
    padding-left: 17px;
    list-style-type:disc;
  }
@media (max-width: 767px) {
  .webcamItem {
    margin-top: 20px;
  }
}
.avItem {
    padding:0;
}
 
@media (max-width: 767px) {
  .avItem {
    margin-top: 20px;
  }
}
.avDescription {
  padding-left: 10px;
}

@media (min-width: 992px) {
  .avDescription {
    padding-left:30px;
  }
}

form li {
  list-style: none;
}



/* Listing Results */
/* Needed adjustments and additions for the listing results */
.ListingMeta li {
  padding:0;
}
.ListingList ul {
  margin:0 0 30px 0;
}
.ListingList-item {
  margin: 0 0 30px 0; 
}
.ListingEvent-time {
  font-weight: bold;
  font-size:smaller;
  color:#512627;
}
.ListingEvent-recurrence {
  font-style: italic;
}

/** We received a promo banner that had inline styles ... using this instead */
#PromoBannerImg {
  width:200px;
  margin: 0px 20px 0px 25px;
}

/* Teacher Mega-portal CSS Overrides */
/* Suggest putting these in the head of this page since this is a 'one-off' */
.portal-search-btn i {
    font-size: 32px;
    color: #ffffff;
}

.portal-search-btn {
    margin-top: 29px;
    border: none;
    background-color: #6C8C2E;
    color: #ffffff;
}
    
#Hero-strata .StrataSearchBar-label {
    font-size: 48px;
    color: #fff;
    font-family: Georgia,Times,Times New Roman,serif;
    font-weight: 400;
    text-transform: none;
}

.portal-search-btn a:hover {
    text-decoration:none;
}

p.portal-header-content {
  	font-size: 20px;
  	font-weight:bold;
    margin-bottom: 30px;
}

/* Home page search bar */

.AdvancedSearch a {
	color:#ffffff;
	text-decoration:underline;
	font-size: 12px;
}

/**** ADDED FOR CENTENNIAL - jwplayers weren't showing preview image ****/
.jw-preview { z-index:1; }
.jw-controls {z-index: 2; }
.jw-captions { z-index:3; }

/*** added for article detail pages so that right form input didn't break ***/
.ArticleSearch input  {
  width: 70% !important;
  height:33px;
}

/* Star Ratings */
.ratings-wrapper,
.ratings-wrapper-disabled {
	overflow: hidden;
	margin-bottom: 13px;
	width: 100%;
}
.ui-stars-cancel {
	display: none;
}
.ui-stars-star {
	float: left;
}
.ui-stars-star a {
	background: url(../images/icons/ratings-stars.png) no-repeat left -30px;
	direction: ltr;
	display: block !important; 
	height: 20px;
	margin: 0 !important;
	padding: 0 6px 0 0;
	overflow: hidden; 
	text-align: left;  
	text-indent: -99px;
	width: 20px;
}
.ui-stars-star-hover a,
.ui-stars-star-on a {
	background-position: left top;
}
.ratings-list h2 {
	background-color: #e2bf34;
}
.ratings-list li h3,
.ratings-list li h3 a {
	color: #b28000;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}
.ratings-list li p {
	font-size: 12px;
}
.ratings-list li .star-ratings {
	border-bottom: 1px dotted #bdbbb1;
	margin-bottom: 9px;
	overflow: hidden;
}
.ratings-list li .ratings-wrapper,
.display-list-view li .ratings-wrapper {
	float: left;
	margin: 0;
	padding-bottom: 9px;
	width: auto;
}
.ratings-list .ui-stars-star a,
.display-list-view li .ui-stars-star a {
	background: url(../images/icons/ratings-stars.png) no-repeat left -132px;
	height: 12px;
	padding: 0 6px 0 0;
	width: 12px;
}
.ratings-list .ui-stars-star-hover a,
.ratings-list .ui-stars-star-on a,
.display-list-view li .ui-stars-star-hover a,
.display-list-view li .ui-stars-star-on a {
	background-position: left -110px;
}
.ratings-list li .stars-cap,
.display-list-view li .stars-cap {
	color: #706d5f;
	display: block;
	float: left;
	font-size: 10px;
	font-weight: bold;
	line-height: 16px;
	margin-left: 2px;
	text-transform: uppercase;
}

.ratings-list li p a {
	font-size: 10px;
}

/**** ADDED FOR CENTENNIAL - story source needs margin bottom ****/
.story-source {
	margin-bottom:20px;
}

/**** ADDED FOR CENTENNIAL - restoring padding to table cells horizontally ****/
.ArticleTextGroup table td {
    padding: 0px 5px !important;
}
.ArticleTextGroup table th {
    padding: 0px 5px !important;
}

/**** ADDED FOR CENTENNIAL - hide alerts badge by default.  Show it with JS in placeAlerts in Global.js ****/
span.UtilityNav-badge {
	display:none;
}

/**** ADDED FOR CENTENNIAL - make font color of Formatted Text Blocks match with Text Wrapped Around An Image ****/
div.CS_Textblock_Text p {
    color: rgb(85,85,85);
}
div.CS_Textblock_Text a:not(.button):hover {
    cursor: pointer;
}
div.CS_Textblock_Text a:not(.button):focus, div.CS_Textblock_Text a:not(.button):hover {
    color: #0a3250;
    text-decoration: underline;
}
div.CS_Textblock_Text a:not(.button):visited {
    color: #0a3250;
}
div.CS_Textblock_Text a:not(.button):link {
    color: #0f4f7e;
    font-weight: 700;
	text-decoration: underline;
}

/**** ADDED FOR NPSWSD-2916, fixes inconsistent font sizes in Image with Caption and Credit element ****/
figure figcaption p.figcredit { 
	font-size: 12px; 
}
/**** ADDED FOR NPSWSD-2985, puts small margin on bottom of Fact Check and Text Call-Out elements ****/
aside.TextCallout.TextCallout--Info, aside.fact-check {
    margin-bottom: 10px;
}