
#multimedia-embeded-player {margin-bottom: 8px;}
/*#multimedia-meta-data-container, #multimedia-meta-data-left{border:solid 1px black;}*/
#multimedia-meta-data-container {width:100%; display: inline-block; margin-bottom:15px; }   
#multimedia-meta-data-left {display:inline-block; float:left; width: 42%}
#multimedia-meta-data-right {display:inline-block; float:left; width: 54%; border-left:dotted 1px #ccc; padding-left: 10px}

.multimedia-meta-data-label, .multimedia-meta-data-info {font-size: .85em;}
.multimedia-meta-data-label {font-size:.80em; color:#7F7565; text-transform: uppercase; font-weight: bold;}
.videoFPO { width:160px; height: auto; margin-bottom: 5px; text-decoration: none; }
.videoFPO img { border:4px solid #ccc; }
.related-multimedia {margin-top: 6px;}

#multimedia-ratings-social-media-container {
  display: inline-block;
  width: 99%; 
  margin:0px; 
  padding:10px 0px 5px 0px; 
  border-bottom: solid 1px #ccc; 
  border-top: solid 1px #ccc;
}
#ratings{display:inline-block; width:65%; float: left;}
#multimedia-social-media {display:inline; width:34%;  font-size:.85em; color:#646444; text-align: right; margin-top:2px; }
#multimedia-social-media ul {  margin:2px 0 3px 70px; }
#multimedia-social-media ul li { list-style-type:none; margin-right:0px; margin-left:10px; }
#multimedia-social-media ul .comments-icon {list-style-image:url('/common/commonspot/templates/images/icons/icon_comment.gif');}
#multimedia-social-media ul li a {color:#646444;}
.multimedia-social-last {margin-right: 0px;}

.transcript-control {border-bottom:solid 1px #ccc; padding-bottom:10px; font-size:.85em; }
.transcript {border-bottom:solid 1px #ccc; padding-bottom:10px;}

#multimedia-description {padding-top:5px; text-align: left;}
#multimedia-description h2 { /*margin:0px; */  }

#multimedia-show-all-park-multimedia {border-top:solid 1px #ccc; width: 99%; color:#646444; padding:10px 0px 10px; display: inline-block;}
#multimedia-show-all-park-multimedia p { margin-bottom:0px; }

.more-links .related-advanced-search {
  border-bottom: 1px dotted #BDBBB1;
  /* margin: 10px 0; */
  margin: 0px 10px;
  padding:14px 0 11px;
  
  /* background-image: url('/common/commonspot/templates/images/icons/icon_advanced_search.png'); */
    background-repeat: no-repeat;
  background-position: right 26px top 10px;
}
.more-links .related-advanced-search p {
  margin-bottom:0px;
}
.more-links .related-advanced-search p:last-child {
  font-size:.85em;  
}

#multimedia-tags {border-top:solid 1px #ccc; border-bottom:solid 1px #ccc; width: 99%; color:#646444; padding:5px 0px 7px; display: inline-block;}

.parentParkLink {margin:4px 0px 3px; padding:0; font-size:80%; width:95%; line-height: 13px; }
.avArea-thumb {border: solid 1px #dfdcdb; padding:2px;}
h1.page-title a.superTitleLink {font-size:12px; color:#B17F00; text-decoration:underline;font-family:arial, helvetica, sans-serif;}

