/*** this file was known as redesign.css in the RD system.  Removed much of it ***/

@media (max-width: 991px) {
  .table-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }
}


/* ----------------------*\
** Global Helper Classes (not sure where used)
\*----------------------
   ================================================== */
.hide-text {
  font-size: 0;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}
/* ---------------------------------------------------*\
** Carrot (not sure where used)
\*---------------------------------------------------
   ================================================== */
.carrot-end:after {
  content: "\203A";
  font-size: 110%;
  padding-left: 3px;
}
/* ---------------------------------------------------*\
** Arrow  (events?)
\*---------------------------------------------------
   ================================================== */
.arrow-down {
  position: relative
}
.arrow-down:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}
/* ---------------------------------------------------*\
** Table-cell 
\*---------------------------------------------------
   ================================================== */
.table-cell {
  display: table-cell
}

/* ---------------------------------------------------*\
** Display List View
\*---------------------------------------------------
   ================================================== */
.display-list-view {
  clear: both
}
    .display-list-view ul {
      margin-left: 0
    }
    .display-list-view li {
      border-top: 1px solid #d8d8d8;
      list-style-type: none;
      margin-bottom: 24px;
      padding-top: 20px;
      overflow: hidden;
    }
    .display-list-view .simple-list li {
      margin-bottom: 7px;
      padding-top: 7px;
    }
    .display-list-view li:first-child {
      border-top: none
    }
.section-summary-list li:first-child {
  padding-top: 0
}
.display-list-view .simple-list li:first-child {
  padding-top: 20px
}
.display-list-view li .subtitle,
.display-list-view li .subtitle a {
  /* REMoved for ct
  color: #647630;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  */
}
.display-list-view li h4 a:hover {
  color: #b28000;
  margin-bottom: 11px;
}
.display-list-view li .title {
  margin-bottom: 15px
}
.display-list-view li .date {
  color: #7f7565;
  display: inline-block;
  margin-bottom: 12px;
  margin-top: -5px;
}
.display-list-view li .partner-event {
  background-color: #f1f1ef;
  color: #804711;
  display: inline-block;
  margin: -5px 2px 12px 0;
  padding: 2px 4px 1px 4px;
  font: italic 12px Georgia, "Times New Roman", Times, serif;
}
/* REMOVED FOR CT
.display-list-view li h3 {
  color: #5e7630;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 10px;
}
    .display-list-view li h3 a:hover {
      color: #D39800
    }
*/    
.display-list-view li .wrapper {
  background: transparent url(../images/bg/display-list-view-dotted.png) repeat-y left top;
  overflow: hidden;
}
.display-list-view li img {
  float: left;
  margin: 4px 15px 10px 0;
}
.display-list-view li p {
  line-height: 20px;
  margin-bottom: 12px;
}
.display-list-view li .star-ratings p {
  clear: both;
  font-size: 12px;
  margin: -8px 0 5px 0;
}
.display-list-view .featured {
  border-top: 1px solid #D8D8D8;
  margin-left: -8px;
  margin-top: -1px;
  position: relative;
  width: 707px;
}
    .display-list-view .featured h3:first-child {
      background-color: #f4f1e7;
      color: #bab5a2;
      font-size: 10px;
      padding: 6px 8px;
      margin: 0px;
      text-transform: uppercase;
    }
    .display-list-view .featured ul {
      margin: 0px
    }
        .display-list-view .featured ul li:first-child {
          border-top: none
        }
        .display-list-view .featured ul li {
          background-color: #f9f7f1;
          border-top: 2px solid #FFFFFF;
          padding-left: 8px;
          padding-right: 8px;
        }

/* ---------------------------------------------------*\
** Fader
\*---------------------------------------------------
   ================================================== */
.fader {
  margin: 0 0 20px 0;
  padding: 0;
}
@media screen and (min-width: 768px) { 
  .fader {
    /* width: 688px  REMOVED FOR CT */
  }
}
@media screen and (min-width: 992px) { 
  .fader {
    width: auto
  }
}
/* ===[ Slick Overrides ]=== */
.fader.slick-slider {
  padding: 0;
  margin: 0 0 20px;
}
.fader .slick-slide {
  margin: 0
}
.fader .slick-dots {
  bottom: 20px;
  list-style: none;
  right: 10px;
  text-align: right;
  z-index: 1000;
  width: auto;
}
@media screen and (max-width: 768px) { 
  .fader .slick-dots {
    margin: 10px 0;
    position: static;
    text-align: center;
  }
}
.fader .slick-dots li {
  list-style: none;
  height: auto;
  width: auto;
}
    .fader .slick-dots li button {
      border: 1px solid #fff;
      font-size: 0;
      height: 5px;
      overflow: hidden;
      text-indent: 110%;
      white-space: nowrap;
      width: 5px;
    }
    .fader .slick-dots li.slick-active button,
    .fader .slick-dots li button:hover,
    .fader .slick-dots li button:focus {
      background-color: #fff;
      border-color: #ddd;
    }
@media screen and (max-width: 768px) { 
  .fader .slick-dots li.slick-active button,
  .fader .slick-dots li button:hover,
  .fader .slick-dots li button:focus {
    background-color: #000;
    border-color: #ddd;
  }
}
.fader .slick-dots li.slick-active button:focus {
  background-color: #ddd;
  border-color: #fff;
}
@media screen and (max-width: 768px) { 
  .fader .slick-dots li.slick-active button:focus {
    background-color: #ddd;
    border-color: #000;
  }
}
@media screen and (max-width: 768px) { 
  .fader .slick-dots li button {
    background-color: #999;
    border-color: #000;
    height: 15px;
    padding: 10px;
    width: 15px;
  }
}
.fader .slick-dots li button:before {
  content: none;
  display: none;
}
/* END Slick Overrides
   ================================================== */
.fader ul {
  margin: 0;
  padding: 0;
}
.fader h2 {
  color: #fff;
  font-size: 18px;
  padding: 0;
}
@media screen and (min-width: 768px) { 
  .fader h2 {
    font-size: 21px
  }
}
.fader.-with-description h2 {
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 768px) { 
  .fader.-with-description h2 {
    font-size: 29px
  }
}
.fader p {
  color: #ffffcc;
  padding: 10px 0 0;
  margin: 0;
}
@media screen and (min-width: 768px) { 
  .fader.-with-description p {
    font-size: 20px
  }
}
.fader a:link {
  text-decoration: none
}
.fader img {
  width: 100%
}
.fader .sub {
  background-color: #000;
  padding: 20px;
}
@media screen and (min-width: 768px) { 
  .fader .sub {
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    padding: 20px 120px 20px 20px;
    position: absolute;
    width: 100%;
  }
}
@media screen and (max-width: 768px) { 
  .fader .sub {
    display: block !important;
    opacity: 1 !important;
  }
}
.fader.-with-description .sub {
  font-family: "ArimoRegular", sans-serif
}
.fader .viewAll-link {
  bottom: 55px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 15px;
}
/* ---------------------------------------------------*\
** Gallery Listing
\*---------------------------------------------------
   ================================================== */
#gallery-listing {

}
    #gallery-listing #gallery-content {
      margin: 0;
      padding: 0;
    }
/* ---------------------------------------------------*\
** Info Micro Filter
\*---------------------------------------------------
   ================================================== */
.info-micro-filter {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding: 8px 0;
  margin: 10px 0 0;
  overflow: hidden;
}
    .info-micro-filter h4,
    .info-micro-filter h2 {
      float: left;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      margin-bottom: 0;
      padding-right: 20px;
    }
    .info-micro-filter .micro-filter,
    .sort-by {
      display: none
    }
    .info-micro-filter .micro-filter,
    .sort-by,
    .view-all {
      color: #737373;
      display: block;
      float: right;
      font-size: 12px;
      font-weight: bold;
    }
.view-all {
  color: #b28000;
  line-height: 20px;
}
.info-micro-filter .micro-filter label {
  color: #737373;
  display: inline;
  float: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
  margin: 0;
  width: auto;
}
.info-micro-filter h2 {
  color: #647630
}
.info-micro-filter h4 {
  margin: 0
}
.info-micro-filter p {
  height: 18px;
  margin-bottom: 0;
}
.sort-by label {
  /* color: #5e7630; removed for CT */ 
  font-size: 12px;
  line-height: 18px;
  margin-right: 5px;
  vertical-align: middle;
}
.info-micro-filter .micro-filter p {
  line-height: 20px;
  padding-top: 2px;
}
.info-micro-filter .micro-filter input {
  vertical-align: baseline
}
/* ---------------------------------------------------*\
** Photo Gallery
\*---------------------------------------------------
   ================================================== */
#galleryDescription {
  border-bottom: solid 1px #dfdcdb;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#gallery-content .description h4 {
  border-bottom: 1px dotted #D8D8D8;
  color: #706D5F;
  font-size: 10px;
  font-weight: normal;
  margin-top: 6px;
  padding-bottom: 9px;
  text-transform: uppercase;
  width: 100%;
}
#gallery-content .description p {
 /* font-size: 12px;
  line-height: 18px; */
}
.photo-gallery ul {
  padding: 0;
  list-style: none !important;
}
.photo-gallery li {
  margin-bottom: 20px
}
.photoCredit {
  font-size: 80%;
  margin: 0 0 3px 0;
  padding: 0;
}
#gallery-content {
  list-style: none !important
}
.gallery-content .image {
  border: solid #dfdcdb 1px;
  float: left;
  margin-bottom: 2px;
  padding: 2px;
}
.gallery-content .photoTitle {
  clear: both;
  float: left;
  font-size: 14px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) { 
  .gallery-content .photoTitle {
    font-size: 18px
  }
}
.gallery-content .photoData p {
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.photoData .galleryChooserDescription {
  font-size: 18px;
  margin-top: 8px;
}
.galleryChooserText {
  clear: both;
  padding-top: 8px;
}
@media screen and (max-width: 768px) { 
  .galleryChooserText {
    margin-bottom: 30px
  }
}
.numberOfPhotos {
  border-bottom: solid 1px #dfdcdb;
  font-size: 12px;
  padding-bottom: 8px;
}
@media screen and (max-width: 768px) { 
  .gallery-content .photoData {
    font-size: 15px
  }
}
.gallery-content .photoDescription {
  display: block
}
.gallery-content .photoDownload {
  border-top: solid 1px rgb(233, 220, 219);
  display: block;
  font-size: 11px;
  padding: 4px 0;
  margin-top: 10px;
}
@media screen and (max-width: 768px) { 
  .gallery-content .photoDownload {
    font-size: 13px
  }
}
.gallery-content .toggle {
  display: block;
  font-size: 11px;
  margin: 4px 0;
}

.related-advanced-search {
  margin-bottom: 20px
}
    .related-advanced-search p {
      margin-bottom: 0
    }


/* JBF - this is for mult-chooser photo gallery preview - copied over from old non-RD stylesheet*/
#galleryContentContainer  li {
  list-style:none;
  width:200px; 
  list-style:none; 
  padding:0px 25px 0px 0px;  
  margin:0px 0px 39px 0px; 
  vertical-align:top;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}
#galleryContentContainer {margin-left:-22px;} /* hack to get the gallery to align left */
#galleryContentContainer {margin-top:10px;} /* added with RD */
.galleryPreview img {border:solid #dfdcdb 1px; padding:2px;}


/* ---------------------------------------------------*\
** pagination-old
\*---------------------------------------------------
   ================================================== */
.pagination-old {
  background: url(../img/bg/gradient-line-divider.png) no-repeat center top;
  background-size: 100% auto;
  clear: both;
  font-size: 14px;
  line-height: 18px;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
}
.story-pagination-old {
  text-align: right
}
.pagination-old .all {
  font-size: 10px;
  left: 0px;
  position: absolute;
}
.pagination-old li,
.pagination-old .numeric,
.pagination-old .numeric ul {
  border: none !important;
  color: #706d5f;
  display: inline;
  border: none;
  margin: 0;
  padding: 0 !important;
}

.pagination-old div.numeric li {
  margin-left: 5px;
  margin-right: 4px;
   padding: 2px 4px; 
} /*AR*/

.pagination-old li {
  font-weight: bold
}
    .pagination-old li a,
    .pagination-old a.first-page,
    .pagination-old a.last-page {
      font-weight: normal;
      /*margin: 0 2px;
      padding: 2px 4px; AR*/
    }
	.pagination-old a.last-page {
	  margin-left:4px; /* AR */
	}
	
@media screen and (max-width: 400px) { 
  .pagination-old .numeric {
    visibility: hidden;
    height: 1;
    width: 1;
    overflow: hidden;
  }
}
.pagination-old a.prev {
  background: url(../img/controls/pagination.png) no-repeat 0 3px;
  /*margin-right: 20px;  AR */
  padding-left: 10px;
  margin-right: 4px;
}
.pagination-old a.next {
  background: url(../img/controls/pagination.png) no-repeat right 3px;
  margin-left: 10px;
  padding-right: 10px;
}
.pagination-old li a.active,
.pagination-old li a:hover,
.pagination-old a.first-page:hover,
.pagination-old a.last-page:hover {
  background-color: #f5f0dd;
  text-decoration: none;
}
/* ---------------------------------------------------*\
** More Links
\*---------------------------------------------------
   ================================================== */
.more-links h3 {
  background-color: #506429;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px 8px;
}
.more-links h4 {
  color: #5e7630;
  font-size: 11px;
  margin-top: 13px;
  text-transform: uppercase;
}
.more-links ul {
  border-bottom: 1px dotted #bdbbb1;
  padding: 0 0 8px;
}
.more-links ul.last {
  border: none
}
.more-links li {
  font-size: 13px;
  line-height: 18px;
  list-style: none outside none;
  padding-bottom: 5px;
}
.more-links a {
  color: #7f7565;
  font-weight: bold;
}
.more-links a.all {
  font-weight: normal
}
@media screen and (max-width: 450px) { 
  .more-links .col-xs-6 {
    width: 100%
  }
}
/* ---------------------------------------------------*\
** Multimedia Meta
\*---------------------------------------------------
   ================================================== */
#multimedia-description h2 {
  /* color: #5e7630; REMOVED FOR CT */
  padding-left: 0;
}
.usageInformation {
  font-size: 12px
}
/* ---------------------------------------------------*\
** Multimedia Social Media
\*---------------------------------------------------
   ================================================== */
#multimedia-social-media {
  display: block;
  float: none;
  width: auto;
}
    #multimedia-social-media ul {
      margin: 0;
      list-style:none;
    }
        #multimedia-social-media ul li {
          float: right
        }
    #multimedia-social-media iframe {
      border: none
    }
    .multimedia-social-last  {
      margin-right:10px;
    }

/* ---------------------------------------------------*\
** Results Detail
\*---------------------------------------------------
   ================================================== */
.result-details-container {
  border-left: dotted 1px #ddd
}
@media screen and (max-width: 768px) { 
  .result-details-container {
    border-left: none
  }
}
.result-details dt {
  color: #7f7565;
  clear: left;
  display: block;
  float: left;
  font-size: 10px;
  line-height: 15px;
  margin: 1px 0 0 0;
  padding-right: 5px;
  text-transform: uppercase;
}
.result-details dd {
  font-weight: normal;
  font-size: 12px;
  margin: 0 0 4px 0;
  line-height: 16px;
}
.js .result-details dd {
  /* display: inline REMOVED for cT */
}
/* ---------------------------------------------------*\
** Results
\*---------------------------------------------------
   ================================================== */
.results ul {
  padding: 0
}
.results h2 {
  color: #464646;
  float: left;
  font: 20px Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0;
  padding: 16px 0 12px 0;
}
.results .thumbPic {
  width: 100%;
  margin-bottom: 15px;
}

/* ---------------------------------------------------*\
** Video FPO
\*---------------------------------------------------
   ================================================== */
.videoFPO {
  width: 100%
}
    .videoFPO img {
      max-width: 100%
    }
/* ---------------------------------------------------*\
** Web Cam Gallery
\*---------------------------------------------------
   ================================================== */
.webcam-gallery #gallery-content h3 {
  border-bottom: 1px dotted #D8D8D8;
  margin-bottom: 13px;
  margin-top: 0px;
  padding-bottom: 8px;
}
#content .webcam-gallery ul {
  list-style: none
}
@media screen and (min-width: 992px) { 
  .webcam-gallery .description {
    margin: 0 0 0 20px;
  }
}
@media screen and (max-width: 768px) { 
  .webcam-gallery .description {
    margin: 0 0 0 20px;
  }
}
.webcam-gallery .description p {
  margin-bottom: 7px
}
.webcam-gallery #gallery-content li {
  margin-bottom: 17px
}
.webcam-gallery img {
  margin: 0
}
/* ---------------------------------------------------*\
** WebCam
\*---------------------------------------------------
   ================================================== */
#webcam {
  min-width: 0;
  min-width: 0;
}
    #webcam #main-container {
      background-image: none;
      background-color: #f9f7f1;
    }
    #webcam #header,
    #webcam #main,
    #webcam #main-content #content-container,
    #webcam #content-container #content {
      max-width: 940px;
      padding: 0;
      width: 100%;
    }
    #webcam #logo {
      padding: 15px 0 0 35px
    }
    #webcam #main {
      background-image: none;
      padding: 0;
    }
    #webcam #main-content {
      padding: 0
    }
        #webcam #main-content .content-container {
          margin: 24px 0 0 0
        }
    #webcam .content-container .content {
      background: transparent;
      padding: 0;
    }
        #webcam .content-container .content h1 {
          border: none;
          font-size: 20px;
          margin-bottom: 28px;
          padding: 0 0 0 35px;
        }
    #webcam .content-container .webcam-description {
      font-size: 16px;
      line-height: 22px;
      margin-top: 20px;
    }
    #webcam .content-container .webcam-image {
      -ms-interpolation-mode: bicubic; /* IE image re-size rendering fix */
      margin-bottom: 20px;
    }
/* ---------------------------------------------------*\
** URB 
\*---------------------------------------------------
   ================================================== */
.urb {
  margin-bottom: 20px
}
.urb-header {
  background-color: #5E7630;
  color: #fff;
  padding: 10px 15px;
}
h2.urb-header-title {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.urb-form {
  padding: 0 15px 0
}
.urb-inputContainer {
  background-color: #F9F7F1;
  border: solid 1px #D9D9D9;
}
.urb label {
  color: #5E7630;
  margin-top: 7px;
}
.urb .input-group-addon {
  background-color: #EFE7D1
}
.urb .form-group .form-control {
  margin: 0;
}
@media screen and (max-width: 768px) { 
  .urb .form-group .form-control {
    font-size: 16px
  }
}
.urb-submitBtn {
  background-color: #EFE7D1;
  border-radius: 0 0 4px 4px;
  border: solid 1px #D9D9D9;
  color: #B17F1A;
  font-size: 15px;
}
.urb-submitBtn:focus,
.urb-submitBtn:hover {
  background-color: #E7DAB6;
  border: solid 1px #D9D9D9;
  color: #B17F1A;
}
.urb-submitBtn:focus:after,
.urb-submitBtn:hover:after {
  border-top-color: #E7DAB6
}
.urb-submitBtn:after {
  border-top-color: #EFE7D1;
  position: absolute;
  left: 15px;
  top: 99%;
}

/* JBF - added for related content rows */
.noindent {
  margin-left:0px !important;
}

/* JBF - added to simplify A/V */
.avArea-thumb {
  padding-left:60px;
}

ul { 
  list-style: outside disc;
}