@font-face{
	font-family:'riy-bold';
	src:url("../fonts/nassim/NassimArabicWeb-Bold.eot") format('embedded-opentype'),
	url('../fonts/nassim/NassimArabicWeb-Bold.woff') format('woff2'),
	url('../fonts/nassim/NassimArabicWeb-Bold.woff') format('woff'),
	url('../fonts/nassim/NassimArabicWeb-Bold.ttf') format('truetype');
	}
	
@font-face{
	font-family:'riy-Semibold';
	src:url("../fonts/nassim/NassimArabicWeb-Semibold.eot") format('embedded-opentype'),
	url('../fonts/nassim/NassimArabicWeb-Semibold.woff') format('woff2'),
	url('../fonts/nassim/NassimArabicWeb-Semibold.woff') format('woff'),
	url('../fonts/nassim/NassimArabicWeb-Semibold.ttf') format('truetype');
	}

@media print {
	a[href]:after {
		content: none !important;
	}
  .no_print { display: none !important;}
}
.hide2 { display: none;}
body{
	background: #f3f6f8;
	font-family: 'riy-Semibold', serif;
}
h1, h2, h3, h4, h5{font-family: 'riy-bold', serif;}
a{color: #487894}
a:hover{color: #000; text-decoration: none;}
p{font-family: 'riy-Semibold', serif; }
h1{color: #487894;}
h4 {
	line-height: 22px;
}
.logo a{display: block;}
.navbar-riy {
    background-color: #d9e5ed;
    border-bottom: solid 3px #487894;
    font-size: 18px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #d9e5ed;
    background-color: #487894;
}


menu{
	zborder: solid 1px;
    background-color: #d9e5ed;
	margin: 0 !important;
	padding: 0 !important;
	zposition: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9e5ed+95,487894+95 */
	background: rgb(217,229,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(217,229,237,1) 95%, rgba(72,120,148,1) 95%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(217,229,237,1) 95%,rgba(72,120,148,1) 95%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(217,229,237,1) 95%,rgba(72,120,148,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e5ed', endColorstr='#487894',GradientType=0 ); /* IE6-9 */


}
.active{background: #487894;}
.active span{color: #d9e5ed !important;}
menu ul{
	margin: 0 ;
	padding: 0;
	zborder: solid 1px;
	zposition: absolute;
	font-size: 18px;
	overflow: hidden;
	height: 46px;
	xborder-bottom: solid 3px #487894;
    padding-right: 0px !important; 
}
menu li{
	zborder: solid 1px;
	float: right;
	list-style: none;
	xheight: 43px;
	zpadding: 12px 0 0 0;
	
}
menu li a{
	margin-bottom: 0 !important;
	display: block;
 	padding: 13px 18.4px 6px 18.4px ;
 	zmargin-top: 15px !important;
}
menu li a:hover{
    color: #d9e5ed !important;
    background: #487894 !important;
}
.menu-home{border-bottom: solid 3px #487894;}
.menu-home:hover{background:#487894;}

.menu-news{border-bottom: solid 3px #d17272;  }
.menu-news:hover{background:#487894;  }

.menu-main{border-bottom: solid 3px #97b5ca; }
.menu-main:hover{background: #487894 !important; }

.menu-local{border-bottom: solid 3px #3cb176;}
.menu-local:hover{background:#487894 !important;}

.menu-inter{border-bottom: solid 3px #beb743;}
.menu-inter:hover{background:#487894 !important;}

.menu-econ{border-bottom: solid 3px #d69949; }
.menu-econ:hover{background:#487894 !important; }

.menu-culture{border-bottom: solid 3px #d166b6;}
.menu-culture:hover{background:#487894 !important;}

.menu-columns{border-bottom: solid 3px #61b4d7;}
.menu-columns:hover{background:#487894 !important;}

.menu-sport{border-bottom: solid 3px #93bd41;}
.menu-sport:hover{background:#487894 !important;}

.menu-reports{border-bottom: solid 3px #607d8b;}
.menu-reports:hover{background:#487894 !important;}

.menu-comic{border-bottom: solid 3px #3f4f56;}
.menu-comic:hover{background:#487894 !important;}

.menu-misc{border-bottom: solid 3px #7f6e90;}
.menu-misc:hover{background:#487894 !important;}

.menu-photo{border-bottom: solid 3px #aa63a7;}
.menu-photo:hover{background:#487894 !important;}

.menu-graphicnews{border-bottom: solid 3px #61959c;}
.menu-graphicnews:hover{background:#487894 !important;}

.menu-last{border-bottom: solid 2px #acbac0;}
.menu-last:hover{background:#487894 !important;}

.burger_but{
	position: absolute;
	left: 0;
	zbackground: #487894;
	color: #d9e5ed;
    font-size: 18px;
    border-radius: 0px;
}
.burger_but2{
	position: absolute;
	left: 0;
	zbackground: #487894;
	color: #d9e5ed;
    font-size: 18px;
    border-radius: 0px;
}
.btn-all a{color: #d9e5ed;}

.burger-menu  {
	background: #487894;
	font-size: 18px;
	color: #adc4d4;	
	padding: 10px !important;
	display: none;
}
.burger-row{
	zborder: solid 1px #d9e5ed;
	overflow: hidden;
	padding: 10px 20px 0 0 !important;
}
.burger-menu ul{
	
	ztext-align: center;
}
.burger-menu li, .burger-menu2 li{
	padding: 5px 0;
	list-style: none;
	list-style: square;
}

.burger-menu li:hover, .burger-menu2 li:hover{
	list-style: square;
	color: white;
}
.burger-menu ul a, .burger-menu2 ul a{
	color: #d9e5ed;
	
}
.burger-menu li a, .burger-menu2 li a{
	color: #adc4d4;	
	display: block;
}
.burger-menu li a:hover, .burger-menu2 li a:hover{
	color: white;
}
.main-burger{
	background: #d9e5ed;
	overflow: hidden;
	padding: 10px;
}
.main-burger li{
	zfloat: right;
}
.main-burger a{
	color: #487894;	
	display: block;
}
/*  .burger-menu2 */
.burger-menu2{
	font-size: 18px;
	color: #d9e5ed;	
	padding: 10px !important;
	display: none;
	position: fixed !important;
	top: 35px;
	z-index: 1000;
	width: 100% !important;
}
.burger-menu2 .container{
	background: #487894;
	padding: 10px !important;

}


/*     mega_menu_econ      */
.mmsport {
	font-size: 18px;
	color: #d9e5ed;	
	display: none;
	
	position: absolute !important;
	top: 194px;
	z-index: 1000;
	width: 100% !important;
}
.mmsport a{
	color: white;
	}
.mmsport .container {
	background: #487894;
	xpadding: 10px !important;
	padding: 10px;
}


/*     mega_menu_econ      */
.mmmisc {
	font-size: 18px;
	color: #d9e5ed;	
	display: none;
	
	position: absolute !important;
	top: 194px;
	z-index: 1000;
	width: 100% !important;
}
.mmmisc a{
	color: white;
	}
.mmmisc .container {
	background: #487894;
	xpadding: 10px !important;
	padding: 10px;
}


/*     mega_menu_econ      */
.mmecon {
	font-size: 18px;
	color: #d9e5ed;	
	display: none;
	
	position: absolute !important;
	top: 194px;
	z-index: 1000;
	width: 100% !important;
}
.mmecon a{
	color: white;
	}
.mmecon .container {
	background: #487894;
	xpadding: 10px !important;
	padding: 10px;
}




/*     mega_menu_local      */
.mega_menu_local{
	font-size: 18px;
	color: #d9e5ed;	
	display: none;
	
	position: absolute !important;
	top: 194px;
	z-index: 1000;
	width: 100% !important;
}
.mega_menu_local a{
	color: white;
	}
.mega_menu_local .container {
	background: #487894;
	xpadding: 10px !important;
	padding: 10px;
}

/*     mega_menu_inter      */
.maga_menu_inter{
	font-size: 18px;
	color: #d9e5ed;	
	display: none;
	
	position: absolute !important;
	top: 194px;
	z-index: 1000;
	width: 100% !important;
}
.maga_menu_inter a{
	color: white;
	}
.maga_menu_inter .container {
	background: #487894;
	xpadding: 10px !important;
	padding: 10px;
	padding-bottom: 15px;
}



.mega-menu-div{
	zborder: solid 1px #d9e5ed;
	overflow: hidden;
	height: 90px;
	background: #fff;
	margin: 5px 0;
}
.mega-menu-div:hover{
	background: #f1f1f1;
}
.mega-menu-img{
	overflow: hidden;
	width: 130px;
	height: 90px;
	float: right;
	margin-left: 5px;
}
.mega-menu-img img{
	width: 100%;
	height: 100%;
}
.mega-menu-div h5{
	zmargin: 0;
	padding: 10px;
	text-align: right;
	line-height: 18px;
	
}
.mega-menu-div a{
	color: #666;
}
.sub-mega_menu{
	zborder: solid 1px;
	margin: 5px 0;
	padding: 10px;
}
.sub-mega_menu a{
	border-bottom: solid 1px;
	color: #e7e7e7;
}
.sub-mega_menu li{
	list-style: square;
	padding: 5px;
	padding-top: 10px;
	margin-right: 10px;
}
.sub-mega_menu li a{
	border-bottom: none !important;
	color: #fff;
}
.sub-mega_menu li a:hover{
	border-bottom: none !important;
	color: #000;
}
.fixed-menu{
	overflow: hidden; 
	clear: both; 
	position: fixed; 
	z-index: 1000; 
	top: 0; 
	display: none; 
	text-align: center; 
	width: 100%;
}
.fixed-container{
	background-color: #d9e5ed;
    zborder-bottom: solid 10px #d9e5ed;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.fixed-logo{
	float: right;
	zmargin-right: 10px;
	background-color: #f3f6f8;
	overflow: hidden;
	zborder: solid 1px ;
	padding: 10px;
    zborder-bottom: solid 3px #487894;
}

.menu-logo{ 
	zmargin: 5px !important;
	overflow: hidden;
	zborder: solid 1px;
}
.menu-logo a{ 
	background:url(../img/smalllogo.png) no-repeat center center;
	background-size: 50%;
	padding: 0px 16px 10px; 16px  !important;
	margin: 0 0 0 0 !important;
	height: 44px;
	width: 58px;
	zdisplay: block;
}
.menu-logo a:hover{ 
	background:url(../img/smalllogohover.png) no-repeat center center #487894 !important;
	background-size: 50% !important;
}
.zactive-logo a{ 
	background:url(../img/smalllogohover.png) no-repeat center center #487894;
	background-size: 50%;

}

.fixed-menu img{
	width: 100px;
	margin-top: -6px;
}

.logo{margin-top: 5px; }
time{color: #91989b; }
.time{margin-top: 5px;}
nav{zoverflow: hidden; background: #487894; height: 35px; }
.nav>li>a{color: #c5d5df; font-size: 16px;}

.nav>li>a:hover{color: #487894; background: #f3f6f8;}

.nav-right{float: right; width: 40%;}

.nav-right>li{float: right;}

.nav-left{float: left; width: 60%;}

.nav-left>li{float: left;}
.nav-right>li>a>p{ margin-right: 5px; float: left; }
.nav-left>li>a>p{ margin-right: 5px; float: left; }
.nav-right>li>a{ display: block; }
.nav-left>li>a{ display: block; }
.nav-right>li>span{ float: right; }
.nav-left>li>span{ float: left; }

.navbar {
    min-height: 43px;
}
.navbar-default .navbar-toggle {
    border-color: #d9e5ed;
}
.nav-left button{
    color: #d9e5ed;
    background-color: #487894;
    border-color: #487894;
    width: 100%;
}
.navbar-toggle {
    float: left;
    padding: 9px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    border: 0px solid transparent;
    border-radius: 0px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #cbd8e0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #487894;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
    
}
.main-page{
	background: #fff;
	zheight: 1000px;
	zmargin-top: -14px;
	border-right: solid 5px #d9e5ed;
	border-left: solid 5px #d9e5ed;
	padding: 0 10px !important;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}

/************* footer **************/
footer{
	background:  #f3f6f8;
	border-bottom: solid 10px #dfe8ec;
}
footer ul{
	zborder: solid 1px;
}
footer li{
	list-style: none;
	padding: 3px 0px;
}
footer h4{
	background: #dfe8ec;
	padding: 10px;
	margin-top: 0px;
	text-align: center;
	zcolor: #487894;
}
.button-up {
    background: #487894;
    font-size: 40px;
    color: #dfe8ec;
    overflow: hidden;
    height: 50px;
}
.button-up a{
    display: block;
    width: 100%;
    color: #dfe8ec;
    zborder: solid 1px;
    text-align: center;
    padding-top: 5px;
}
.footer-right, .footer-center, .footer-left{
	overflow: hidden;
	padding: 0;
	padding-left: 5px;
}
.footer-left{padding-left: 0px;}
.footer-first, .footer-second, .footer-third,
.footer-fourth, .footer-fifth, .footer-sixth{
	float: right;
	zpadding: 0px 15px ;
}

.footer-fourth, .footer-fifth, .footer-sixth{
	float: right;
	zpadding: 0px 20px ;

}
.emedia-logo {
	text-align: center;
	sborder: solid 1px;
	padding: 5px;
}
.emedia-logo a{
	width: 110px;
	height: 110px;
	zborder: solid 1px;
	background: url(../img/emedia-logo.png) no-repeat;
	display: block;
	background-size: 100%;
	text-align: center;
}
.emedia-logo a:hover{
	background: url(../img/emedia-logo.png) no-repeat;
	background-position-y: -110px;
	background-size: 100%;
}
.footer-left{
	text-align: center;
	line-height: 30px;
}
.footer-left h5{
	text-align: center;
	line-height: 20px;
	color: #97a0a5;
}
/************* end footer **************/
.main-page p{
	color: #91989b;
}
.latest-news{
	background: #d9e5ed;
	margin-right: -10px;
    margin-left: -10px;
	xheight: 500px;
	border-top: solid 1px #487894;
	border-bottom: solid 1px #487894;
	overflow: hidden;
	padding:0 5px;
	margin-bottom: 0px;
}
.section-latest-news{
	color: #487894;
	padding-right: 10px;
	border-right: solid 10px #487894;
    margin-right: -5px;
    margin-left: -10px;
    text-align: right;
	overflow: hidden;
	height: 32px;
	margin-bottom: 10px;
}
.more-latest-news{
	color: #487894;
	zpadding-left: 10px;
	zborder-left: solid 10px #487894;
    margin-left: 0px;
    margin-right: 5px;
	overflow: hidden;
	height: 30px;
	margin-top: 0px;

}
.more-latest-news h4{
	background:#487894;
	color: #fff;
	float: left;
	width: 120px;
	height: 100px;
	padding-top: 7px;
	margin: 0;
    margin-left: -5px;
	font-size: 14px;
	text-align: center;
}
.more-latest-news h4:hover{
	background:#fff;
	color: #487894;
}
.last-news{
	margin-top: 10px; 
	border-top:solid 1px #d5dcdf;
}
.news-boxs{
	padding-top: 10px;    
	padding-right: 0px;
    padding-left: 0px;
}

.section-name, .section-name-last, .section-name-issue, .section-name-main, .section-name-local, .section-name-econ, .section-name-sport, .section-name-inter, .section-name-misc, .section-hide, .section-name-opinion, .section-name-photo, .section-name-today-pic, .section-name-170, .section-name-169, .section-name-168, .section-name-167, .section-name-statistics, .section-name-27, .section-name-3, .section-name-12{
	padding-right: 10px;
    padding-left: 10px;
    text-align: center;
	overflow: hidden;
}
.section-hide{border-top:solid 2px #97a0a5; color: #97a0a5;}
.section-hide:hover{border-top:solid 2px #000;  color: #97a0a5;}

.section-hide a:hover{color: #000;}


.section-name{
	border-top:solid 3px #487894;
	color: #487894;
}
.section-name-last{
	border-top:solid 3px #d17272;
	color: #d17272;
}
.section-name-issue{
	border-top:solid 3px #487894;
	color: #487894;
}
.section-name-local{
	border-top:solid 3px #3cb176;
	color: #3cb176;
}
.section-name-local a{color: #3cb176;}
.section-name-local a:hover{color: #000;}


.section-name-155{
	border-top:solid 3px #607d8b;
	color: #607d8b;
}
.section-name-155 a{color: #607d8b;}
.section-name-155 a:hover{color: #000;}


.section-name-econ, .section-name-167, .section-name-27 {
	border-top:solid 3px #d69949;
	
}
.section-name-econ a, .section-name-167 a, .section-name-27 a{color: #d69949;}
.section-name-econ a:hover, .section-name-167 a:hover{color: #000;}

.section-name-sport, .section-name-169, .section-name-12{
	border-top:solid 3px #93bd41;
	color: #93bd41;
}
.section-name-sport a, .section-name-169 a, .section-name-12 a{color: #93bd41;}
.section-name-sport a:hover, .section-name-169 a:hover{color: #000;}

.section-name-inter, .section-name-168, .section-name-3{
	border-top:solid 3px #beb743;
	color: #beb743;
}
.section-name-inter a, .section-name-168 a, .section-name-3 a{color: #beb743;}
.section-name-inter a:hover, .section-name-168 a:hover{color: #000;}

.section-name-misc, .section-name-170, .section-name-7{
	border-top:solid 3px #7f6e90;
	color: #7f6e90;
}
.section-name-misc a, .section-name-170 a, .section-name-7 a{color: #7f6e90;}
.section-name-misc a:hover ,.section-name-170 a:hover{color: #000;}

.section-name-today-pic{
	border-top:solid 3px #aa63a7;
	color: #aa63a7;
}
.section-name-opinion{
	border-top:solid 3px #61b4d7;
	color: #61b4d7;
}
.section-name-opinion a{color: #61b4d7;}
.section-name-opinion a:hover{color: #000;}

.section-name-photo{
	border-top:solid 3px #aa63a7;
	color: #aa63a7;	
}
.section-name-statistics{
	border-top:solid 3px #97a0a5;
	color: #97a0a5;	

}
.twitter-section{
	color: #91989b;	
	zbottom: 1;
	zposition: absolute;
}
.section-more{
	
	padding: 5px;
}
.section-more button{
	text-align: center;
	background: #f3f6f8;
	width: 100%;
	padding-top: 10px;
	border: none;
	border-bottom: solid 1px #d5dcdf; 
	zfont-size: 16px;
}
.section-more button:hover{
	background: #d5dcdf;
	border-bottom: solid 1px #f3f6f8; 
}
.space-1170{ margin: 10px; overflow: hidden;}
.first-news, .other-news{
	background: #f3f6f8;
	border-bottom: solid 1px #d5dcdf;
	overflow: hidden;
	margin-bottom: 10px;
}

.space-300x250{
	background: #f3f6f8;
	border-bottom: solid 1px #d5dcdf;
	overflow: hidden;
	margin-bottom: 10px;
	zheight: 295px;
	padding: 15px 10px;
	color: #91989b;
	text-align: right;
	
}

.space-300x250 h4{ padding-top: 0px;}

.space-300x100{
	background: #f3f6f8;
	border-bottom: solid 1px #d5dcdf;
	overflow: hidden;
	margin-bottom: 10px;
	height: 170px;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
	color: #91989b;
	text-align: right;
	
}
.space-300x100 h4{ padding-top: 0px;}



.first-news-img{
	overflow: hidden;
	height: 315px;
}
.first-news-img img, .other-news-img img{
	width: 100%;
	
}

.first-news{
	zborder: solid 1px;
	overflow: hidden;
	position: relative;
}
.first-news-title{
	padding: 0 10px 10px 10px;
	background: rgba(0, 0, 0, 0.8);
	position: absolute; 
	bottom: 0px;
	width: 100%;
}
.first-news a{
	color: #fff;
}
.issue-news a{
	zcolor: #487894;
}
.first-news-title h2, .other-news-title h2, .other-news-title h3, .other-news-title h4{
	text-align: center;
	padding: 0 5px;
}
.first-news-desc, .other-news-desc{
	text-align: justify;
	padding: 5px 10px;
	zborder: solid 1px;
	zmax-height: 89px;
	overflow: hidden;
	margin-bottom: 5px;
	
}
.other-news{
	height: 285px;
	zborder: solid 1px;
	position: relative;

}

.news-small{
	height: 210px;
}
.news-small h4{font-size: 16px;}
.news-medium{
	height: 320px;
}
.news-no-pic{
	height: 100px;
	padding: 5px;
}
.headlines{
	height: 120px;
}
.special-files{
	height: 335px;
}
.photo{
	height: 250px;
}
.f03, .f04{
	padding-left: 0 !important;
	padding-right: 0 !important;
	
	}
.link{zheight: 110px; padding: 5px;}

.other-news-img{
	height: 200px;
	overflow: hidden;
	zborder: solid 1px;
	background: url(../img/background.png) no-repeat center center;
	background-size: 100%;
}
.img-medium{
	height: 150px;
	background: red;
	background: url(../img/background.png) no-repeat center center;
	background-size: 100%;

}
.img-medium img{
	height: 150px;
}

.news-custom{
	height: 260px;
}
.img-custom{
	height: 180px;
}
.img-custom img{
	height: 100%;
}
.img-small{
	height: 110px;
}
.img-small img{
	height: 100%;
	width: 100%;
}
.bottom-line{
	border-top:solid 1px #d5dcdf;
	overflow: hidden;
	zmargin-right: 5px;
	color: #7c8d99;
	height: 28px;
	position: absolute;
	bottom: -6px;
	right: 2%;
	width: 96%;
	background:#f3f6f8; 
	
}
.time-publish{
	zborder: solid 1px;
	float: right;
	padding: 0px;
	padding-right: 5px;
}
.time-publish h6{
	margin-top: 5px;
}
.social-ico{
	float: left;
	padding-left: 1px;
}
.social-ico a{
	font-size: 21px;
	color: #91989b;
}
.social-ico a:hover{
	color: #487894;
}
.social-ico-but{
	float:left;
	zborder: solid 1px;
	padding: 3px 5px 5px 3px;
	color: #ccc;
	
}
.social-ico-but:hover{
	color: #487894;
}

/**************** issue-news ******************/
.issue-news{
	height: 530px;
}
.issue-img{ height: 260px;}
.is01{
	padding: 0;
}
.pic-issue img{width: 100%;}



/**************** article & comment******************/


.article{
	zborder: solid 1px;
	margin-top: -9px;
}
.article-time{
	zborder: solid 1px;
	padding: 10px 0;
	padding-bottom: 0px;
	border-bottom: solid 1px #d5dcdf;
	
}
.article-time p{
	text-align: left;
	font-family: 'riy-Semibold', serif;
	
}
.article-time p a{
	font-family: 'riy-Semibold', serif;
}

.article-title {padding: 10px 0;}
.article-title h1 {
	text-align: center; 
	color: #487894;
	margin-top:10px; 
	margin-bottom: 10px;
}
.article-title h2 {
	font-size: 20px; 
	text-align: center; 
	color: #91989b; 
	margin-top:10px;
	margin-bottom: 10px;
}
.article-img {
	zborder: solid 1px;
	position: relative;
	overflow: hidden;
}
.article-img img{
	width: 100%;
}
.article-img-desc{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	padding: 2px;
	padding-right: 50px;
	color: #fff;
	width: 100%;
}
.portrait {
	width: 200px;
	xfloat: left;
	margin-bottom: 10px; 
	border: solid 1px #d5dcdf;
	xclear: both;
}
.img_number {
	font-size: 40px;
	xtext-align: left;
	color: #eee;
	margin-top: -48px;
	padding: 5px;
	position: absolute;
	z-index: 50;
}

.article-source{
	padding-top: 10px;
}
.article-source p{
	margin: 0px 0px 0px 0px !important;
}
.article-desc {
	margin-top: 0px;
	zborder: solid 1px;
	
}
blockquote {
    padding: 10px 20px;
    margin: 10px 10px 5px 0;
    font-size: 17.5px;
    border-right: 5px solid #487894;
    background:#f3f6f8;
    border-bottom: solid 1px #d5dcdf;
    width: 250px;
    float: left;
    color: #487894;
    
}


.article-desc img {
	max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}

.article-desc p{
	text-align: justify;
	color: #555;
	font-size: 18px;
	font-family: 'riy-Semibold', serif;
	line-height: 28px;
/*
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
*/
}
.article-desc h3{
	color: #487894;
}
.article-desc h4{
	color: #555;
	margin-top: 2px;
	padding: 0;
	text-align: center;
	
}
.article_share{
	zborder:  solid 1px;
	overflow: hidden;
	margin-top: 5px;
}
.twitter-share, .facebook-share, .facebook-like, .plus-share{
	float: left;
	overflow: hidden;
	margin-right: 5px;
	zborder: solid 1px;
}
.article_options{
	zborder: solid 1px;
	overflow: hidden;
	margin-top: 15px;
	
}
.article_options button{
	border: solid 0px #fff;
	background: #fff;
    border-bottom: solid 1px #dfe8ec;
    zborder-right: solid 2px #dfe8ec;
    color: #487894;
    margin-bottom: 5px;
    padding: 5px;
}
.article_options button:hover{
	color: #487894;
    background: #dfe8ec;
    zmargin-bottom: 5px;
}
.article_options .fa{
	zborder: solid 1px;
	float: right;
	padding-top: 3px;
	padding-right: 3px;
	font-size: 18px;
}
.tags{
	zborder: solid 1px #dfe8ec;
	margin: 25px 0;
	zborder-bottom: solid 1px #dfe8ec;
	overflow: hidden;
}
.tags i{
	font-size: 15px !important;
}
.tags h4{
	border-bottom: solid 1px #d5dcdf;
	color: #97a0a5;
}
.tags a{
	font-size: 16px;
	display: block;
	margin: 0 0 5px 5px !important;
	padding: 5px 10px 0 10px;
	background: #f3f6f8;
	border-right: solid 1px #d5dcdf;
	zborder-bottom: solid 1px #d5dcdf;
	float: right;
}
.tags a:hover{
	background: #487894;
	border-right: solid 1px #487894;
	color: #d9e5ed;
}
.twitter-article{color: #55acee;}
.fa-facebook-official{color: #38528a;}
.fa-whatsapp{color: green;}
.fa-heart{color: #dc766b;}
.quote-box{
	float: left;
	text-align: justify;
	color: #487894;
	border-bottom: solid 1px #d5dcdf;
	background: #f3f6f8;
	padding: 10px;
	margin: 0 10px 0px 0;

}
.rcode{
	border: solid 1px #dfe8ec;
}
.rcode img{
	width: 100%;
}
.rcode p{
	text-align: center; 
}

.comment{
	zborder: solid 1px #f3f6f8;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.comment-header{
	border-bottom: solid 1px #d5dcdf;
	background: #f3f6f8;
	padding: 10px;
	color:#487894; 
	overflow: hidden;
	margin-bottom: 10px;
}
.comment-header-right{
	overflow: hidden;
	border-left: solid 1px #d5dcdf;
	padding-left: 10px;
}
.comment-header-left{
	overflow: hidden;
	padding-right: 10px;
}

.comment-header h3{
	padding: 0px;
	margin-top: 0px;
    margin-bottom: 0px;
}
.comment-header p{
	font: normal 12px Arial;
	margin-top: 5px;
	text-align: justify;
}
.comment-header h4{
    margin-bottom: 20px;
    text-align: center;
}
.comment-header h5{
	padding: 0px;
	margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}
.comment-header button{
	border: solid 1px #f3f6f8;
    background: #dfe8ec;
    color: #487894;
    zmargin-bottom: 5px;
    padding: 3px;
    font: normal 12px Arial;
}
.comment-list{
	padding: 10px;
	zbackground: #f3f6f8;
}
.comment-box{
	zborder: solid 1px #f3f6f8;
	border-bottom: solid 1px #d5dcdf;
	zborder-left: solid 1px #d5dcdf;
	zbackground: #fff;
	zpadding: 10px;
	zcolor:#487894; 
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
}
.comment-box-right{
	xborder-left: solid 1px #d5dcdf;
	zbackground: #f3f6f8;
	padding: 10px;
	overflow: hidden;
	min-height: 100px;
}
.comment-box-right p{
	color: #487894;
}
.comment-box-right small{
	color: #999;
}
.comment-box-right h1{
	margin: 0;
	padding: 0;
	font-size: 46px;
	color: #d5dcdf;
}
.comment-box-left{
	zborder: solid 1px #d5dcdf;
	color:#d5dcdf; 
	overflow: hidden;
	text-align: center;
	padding: 10px;
	min-height: 100px;
}
.comment-box-left p{
	color:#555; 
	font-size: 16px;
	text-align: right;
}
.add-comment{
	border-bottom: solid 1px #d5dcdf;
    background: #f3f6f8;
    padding: 10px;
    color: #487894;
    overflow: hidden;
    margin-bottom: 10px;
}
.add-comment h3 {
    padding: 2px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: solid 1px #d5dcdf;
}
.input-group{
    margin-bottom: 10px;
}
.input-group input{
	border-radius: 0px;
	width: 100%;
    color: #487894;
    margin-bottom: 10px;
    border: 1px solid #d5dcdf;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon {
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #91989b;
    text-align: center;
    background-color: #f3f6f8;
    border: 1px solid #d5dcdf;
    border-radius: 0px;
    zwidth: 50px;
    
}
.add-comment textarea{
    border: 1px solid #d5dcdf;
	width: 100%;
	height: 100%;
	padding: 10px;
}
.add-comment button{
	width: 100%;
    border: 1px solid #d9e5ed;
	border-radius: 0px;
	color: #487894;
	background: #d9e5ed;
	zmargin-bottom: 5px;
}
.add-comment button:hover{
    border: 1px solid #487894;
	color: #fff;
	background: #487894;
}
.add-comment p{
	margin: 0 0 -10px;
}


.thumbs-up{opacity: 0.5; color: #27ae60;}
.thumbs-down{opacity: 0.5; color: #e74c3c;}
.thumbs-up:hover{opacity: 1; color: #27ae60;}
.thumbs-down:hover{opacity: 1; color: #e74c3c;}

.comment-box-bottom{
	opacity: 0.5;
	zborder: solid 1px;
	zborder-top: solid 1px #d5dcdf;
	padding: 11px 10px 0 10px;
	background: #fff;
	overflow: hidden;
	text-align: center;
}
.comment-box-bottom:hover{
	opacity: 1;
}

.comment-box-bottom p{
	font: normal 12px Arial;
}
.comment-box-bottom a:hover{
	color: #000;
}
/**************** row media-box ******************/
.media-box{
	zborder: solid 1px;
	padding: 0;
	margin: 0px 0px;
	background: #404b52;
	overflow: hidden;
}
.media-tabs{
	background: #515e67;
	padding: 0;
	overflow: hidden;
}
.media-tabs h3{
	text-align: center;
	color: #8595a1;
	font-size: 20px;
	padding: 10px;
	padding-top: 15px;
	margin: 0px;
}
.media-tabs-01{
	background: #404b52;
	
}
.media-tabs-01 h3{
	color: #fff;
	
}
.media-tabs-01, .media-tabs-02, .media-tabs-03 , .media-tabs-04{
	border-left: solid 2px #fff;
	cursor: pointer;
}
.media-tabs-04{
	border-left: none;
}
.media-content{
	padding: 10px;
}
.media-view{
	zborder: solid 1px;
	zmargin: 10px;
	max-height: 417px;
	overflow: hidden;
	padding: 0;
	position: relative;
}
.media-title, .thumb-title{
	position: absolute;
	bottom: 0;
	padding: 0 10px 10px 10px;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	color: #9aabb8;
}
.thumb-title{
	padding: 0 0px 0px 0px;
	text-align: center;
}
.media-view img{
	width: 100%;
}
.media-thumbnails{
	zborder: solid 1px;
	padding-left: 0;
	padding-right: 0px;
	margin-top: 5px;
	xmargin: 10px 0 0 0;
	zwidth: 350px;
}
.media-thumb {
	zborder: solid 2px #404b52;
	zmargin:0 0 10px 0px;
	overflow: hidden;
	height: 120px;
	padding-left: 0;
	padding-right: 5px;
	margin-bottom: 5px;
}
.margin-right{padding-right: 5px;}
.media-thumb img {
	width: 130%;
}
.media-moer{
	border-right: solid 5px #404b52;
	padding-left: 0;
	padding-right: 0;
}
.media-moer button{
	width: 100%;
	padding: 0px;
	background: #515e67;
	color: #8595a1;
	border: none;
}
.media-moer button:hover{
	background: #323b40;
	color: #8595a1;
}
/***********today-pic*********/
.today-pic{padding-bottom: 0px;}
.today-pic-imgdiv{
	position: relative;
	max-height: 425px;
	overflow: hidden;
}
.today-pic-imgdiv img{
	z-index: 50;
	width: 100%;
	height: 100%;
}
.today-pic-arrow{
	background:url(../img/arrow.png) no-repeat  ;
	position: absolute;
	bottom: 0;
	height: 28px;
	width: 60px;
	z-index: 100;
	margin-right: 30px;
}
.today-pic-des{
	overflow: hidden;	
	padding-bottom: 0px;
}
.today-pic-des2{
	background: #aa63a7;
	padding:0px 10px 0px 0px;
	overflow: hidden;
	margin-top: -5px;
	z-index: 100;
}


.today-pic-des h2{
	float: right;
	border-left: solid 1px #e5cae4;
	padding-left: 10px;
	margin-left: 10px;
	color: #e5cae4;
	padding-bottom: 0px;
}
.today-pic-des h4{
	overflow: hidden;
	line-height: 28px;
	padding-top: 10px;
	margin-bottom: 0;
	color: #fff;
	padding-bottom: 0px;
}
.services{
	background: #aa63a7;
	border-top: none;
	padding: 10px;
	padding-bottom: 0px;
}
.week-pic{
	overflow: hidden;
	padding: 0 15px 0 10px;
	zbackground: #aa63a7;
	zborder: solid 1px #fff;
}
.week-pic h3{
	padding: 10px;	
	padding-bottom: 5px;
	margin: 0;
	margin-bottom: 20px;
	border-bottom: solid 1px #744372;
	color: #744372;
}
.week-pic ul{
	padding: 0;	
}
.week-pic li{
	bzorder: solid 1px;
	list-style: none;
	width: 50%;
	float: right;
	padding: 0px;
	height: 123px;
	zmargin: 1px 0 1px 3px;
	overflow: hidden;
	
}
.week-pic li img{
	width: 100%;
	height: 100%;
	border: solid 6px #aa63a7;
	opacity: 0.6;
}
.week-pic li img:hover{
	opacity: 1;
}
.week-pic-more{
	text-align: left;
	color: #744372;
	zbackground:#744372;
	zborder: solid 1px;
	width: 100% !important;
	margin-top: 5px;
	height: 50px !important;
}

.week-pic-more a{
	color: #744372;
}
.week-pic-more a:hover{
	color: #e5cae4;
}
/*********** riyadh-word & special-files & pdf-pic & weather & stock $ comic *********/
.riyadh-word{
	height: 218px !important;
}
.riyadh-word-header{
	background: #dfe8ec;
	border-bottom: solid 10px #487894;
	overflow: hidden;
	padding: 10px;
	padding-bottom: 5px;
	zpadding-right: 52px;
	text-align: center;
}
.riyadh-word-header h4{
	zfloat: right;
	display: inline; 
	color: #487894;
	font-size: 35px;
	zborder:  solid 1px;
}
.riyadh-word-header img{
	zfloat: right;
	height: 50px;
}
.riyadh-word-desc{
	padding: 0 10px ;
	font-size: 16px;
	text-align: justify;
}
.lqaae-box{
	height: 250px;
}
.lqaae{
	background: #487894;
	border-bottom: solid 10px #dfe8ec;
	color: #dfe8ec;
	
}
.lqaae-right{
	
}
.lqaae-right img{
	width: 80px;
	margin-bottom: 10px;

}
.lqaae-left img{
	float: left;
	border: solid 3px #dfe8ec;
}
.lqaae-right h4{
	color: #dfe8ec;
}

/************** author *************/
.author-box{
	height: 100%;
}
.author{
	background: #487894;
	color: #dfe8ec;
	height: 100px;
	overflow: hidden;
}
.author-right{
	zborder: solid 1px;
	overflow: hidden;
	height: 100%;
}
.author-right img{
	width: 60px;
	margin:15px -15px 0 0 !important;
	float: right;
	zwidth: 30%;
}
.author-right h4{
	padding-top: 10px !important;
	float: right;
	font-size: 26px;
	zwidth: 60%;
}
.author-left {
	zborder: solid 1px;
	padding-left: 0;

}
.author-left img{
	float: left;
	border: solid 1px #dfe8ec;
	width:80px;
	height:80px;
}
.author-right h4{
	color: #dfe8ec;
}
.author-name{
	text-align: center;
	zmargin-top: -4px;
	color: #97a0a5;
	background: #dfe8ec;
	padding: 10px;
	color: #487894;
}
.author-name h3{
	padding: 0px;
	color: #487894;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}
.author-more{
	padding: 10px;
	border-bottom: solid 1px #dfe8ec;
}
.author-more li{
	padding: 2px;
	list-style: circle;
	color: #487894;;
}
.author-more p{
	text-align: center;
	padding: 0;
	margin: 0;
}


.opinion{
	height: 110px;
	overflow: hidden;
	
}
.opinion-img{
	width: 80px;
	height: 80px;
	zborder: solid 1px;
	float: right;
}
.opinion .bottom-line{
	bottom: 0px;
	float: right;
}
.writer-name{
	text-align: center;
	margin-top: -4px;
	color: #666;
	
}
.writer-name h6{
	font-size: 14px !important;
}
.writer-name a{
	color: #666;
}
.popular-opinion{
	height: 350px;
}
.popular-opinion-header{
	background: #d9e5ed;
	padding: 5px 10px 1px 0;
	border-right: solid 10px #487894;
	color: #487894;
}
.popular-opinion-content{
	overflow: hidden;
	padding: 10px;
}
.opinion-content-slide{
	overflow: hidden;
	height: 50px;
	border-bottom:  solid 2px #d9e5ed;
	margin-bottom: 11px;
}
.popular-opinion-img{
	float: right;
	overflow: hidden;
	width: 50px;
	height: 50px;
	zborder: solid 2px #d9e5ed;
}
.popular-opinion-img img{
	width: 100%;
	zheight: 100%;
}

.more-section-img{
	float: left;
	overflow: hidden;
	width: 80px;
	height: 80px;
	zborder: solid 2px #d9e5ed;
}
.more-section-img img{
	zwidth: 100%;
	height: 100%;
}

.popular-opinion-title{
	zborder: solid 1px #d9e5ed;
	float: right;
	padding: 7px;
	overflow: hidden;
	height: 29px;
	width: 80%; 
}
.popular-opinion-title h4{
	padding: 0;
	margin: 0;
}

.popular-opinion-name{
	float: right;
	background: #d9e5ed;
	zwidth: 80%; 
	height: 21px;
}
.popular-opinion-name h5{
	padding: 5px;
	margin: 0;
}
.popular-opinion-name a{
	color: #666;
}
.next-opinion button{
	height: 125px;
	border: solid 1px #fff;
	background: #dfe8ec;
	color: #487894;
	font-size: 25px;
}
.next-opinion button:hover{
	background: #487894;
	color: #dfe8ec;
}
.special-files{
	background: #dfe8ec;
	zborder-bottom: solid 2px #487894;
	
}
.special-files-header{
	background: #487894;
	border-bottom: solid 5px  #dfe8ec;
	padding: 5px 10px;
	color: #fff ;
}
.special-files-content{
	border: solid 5px #dfe8ec;
	padding: 0;
	background: #f3f6f8;
	zheight: 137px;
	overflow: hidden;
	padding: 5px;
}
.special-files-content h3{
	text-align: center;
	zfont-size: 100%;
	float: right;
}
.special-files-content img{
	width: 100px;
	height: 70px;
	float: left;
}
.pdf-box{
	height: 367px;
}
.pdf-box-full{
	height: 100%;
}
.pdf-img-full{
	height: 100%;
}
.pdf-img-full img{
	width: 100%;
	zheight: 180%;
}
.pdf-img {
	overflow: hidden;
	zborder: solid 1px;
	height: 295px;
}
.pdf-img img{
	width: 100%;
	zheight: 180%;
}
.weather{
	background: #f3f6f8;
	border-bottom: solid 1px #d5dcdf;
	padding: 10px;
	color: #487894;
}
.weather-content{
	overflow: hidden;
	border: solid 1px #D9E5F0;
	height: 120px;

}
.weather-content h1{
	float: right;
	font-size: 55px;
	margin:10px 10px 0 0 ;
}
.weather-content small{
	float: right;
	font-size: 25px;
	margin: 0px 15px 0 0 ;
}
.weather-content img{
	float: left;
	margin: 20px 0 0 20px;
	zborder: solid 1px;
	width: 110px;
}
.weather-content h2{
	float: right;
	font-size: 35px;
	margin:-20px 45px 0 0 ;
}
.other-weather{
	border-bottom: solid 1px #f3f6f8;
	overflow: hidden;
	width: 100%;
	background: #D9E5F0;
	height: 40px;
	padding: 10px;
}
.other-weather h4{
	float: right;
	zborder: solid 1px;
	margin: 0;
	padding: 0px 5px 0 0;
}
.other-weather img{
	float: left;
	width: 30px;
	zborder: solid 1px;
	margin-left: 10px;
}
.other-weather span{
	float: left;
	margin-left: 20px;
	text-align: right;
	width: 60px;
	zborder: solid 1px;
}
.other-weather span b{

	font-size: 18px;
}
wather2{
	zborder: solid 1px;
	float: left;
	overflow: hidden;
	margin-top: 5px;
	font-size: 40px;
}
.comic{
	zbackground: #404b52;
	height: 365px;
}
.comic-content{
	padding: 10px;
	text-align: center;
}
.comic-content img{
	width: 100%;
}
.popular{
	height: 100%;
	
}
.popular-content{
	padding: 10px;
	overflow: hidden;
}
.popular-div{
	border-bottom: solid 2px #dfe8ec;
	background: #f3f6f8;
	padding-top: 5px;
}
.popular-img{
	z-index: 100;
	margin-bottom: 5px;
}
.popular-content h3{
	float: right;
	margin-top: 0px;
	margin-left: 10px;
	color: #97a0a5;
	font-size: 36px;
}
.popular-content h5{
	margin-top: 5px;
	padding-right: 5px;
	font-size: 16px;
}
.
.currency{
	height: 320px;
}
.currency-table{
	padding: 0 10px;
	
}
.poll{height: 320px;}
.poll-content{
	padding: 10px;
}
.poll-title{
	padding: 5px;
	text-align: center;
	margin-top: 0px;
	line-height: 30px;
}
.options-poll {
	color: #97a0a5;
	padding: 10px;
	font-size: 18px;
}
.poll-article{
	zborder: solid 1px;
	background: #fff;
	border-bottom:none;
	padding: 10px;
}
.poll-article-header h4{
	text-align: right;
	border-bottom:solid 1px #d5dcdf;
	color: #97a0a5;
	padding: 0px;
	padding-right: 0px;
}
.poll-article-header i{
	font-size: 14px;
}
.progress {
    height: 10px;
    margin-bottom: 10px;
    background-color: #dfe8ec;
}
.poll-button button{
    border: solid 1px #f3f6f8;
    background: #dfe8ec;
    color: #487894;
}
.poll-button button:hover{
    border: solid 1px #f3f6f8;
    background: #487894;
    color: #dfe8ec;
}



.related{
	padding: 0 10px;
	height: 100%;
	
}
.related2{background: #fff;}
.related-header h3{
	text-align: right;
	border-bottom:solid 1px #d5dcdf;
	color: #487894;
	padding: 5px ;
	zpadding-right: 10px;
	margin-top: 10px;
}
.related-header i{
	font-size: 18px;
}
.related-content{
	overflow: hidden;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/********** input **********/
input::-webkit-input-placeholder {
color: #91989b !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #91989b !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #91989b !important;  
}
 
input:-ms-input-placeholder {  
color: #91989b !important;  
}

.form-control{
    color: #487894;
    background-color: #fff;
    background-image: none;
    border: 1px solid #D5DCDE;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/******************** search page ********************/
.search-page{
	margin-bottom: 10px;
	
}
.search-page h3, .archive-page h3,.signup-page h3{
	border-right: solid 5px #487894 ;
	color: #487894;
	font-size: 18px;
	padding-right: 10px;
}

.search-page button{
	width: 100%;
    border: 1px solid #d9e5ed;
	border-radius: 0px;
	color: #487894;
	background: #d9e5ed;
}
.search-page button:hover{
    border: 1px solid #487894;
	color: #fff;
	background: #487894;
}
.choose-date{
	zborder: solid 1px;
	padding: 10px 0;
}
.choose-date h4{
	padding-top: 0;
	padding-bottom: 0;
    margin-top: 3px;
    margin-bottom: 0px;
    color: #487894;
}
.choose-date select{
	padding: 10px;
    border: 1px solid #D5DCDE;
    color: #91989b;
    background-color: #fff;
	zwidth: 100%;
	float: right;
}


.archive-page h3{
	border-right: solid 5px #487894 ;
	color: #487894;
	font-size: 18px;
	padding-right: 10px;
}
.choose-issue{
	padding: 10px;
	background: #f3f6f8;
	margin-bottom: 3px;
	border: solid 3px #fff;
	border-bottom: solid 1px #d5dcdf;
}
.choose-issue img{
	width: 100%;
}
.choose-issue h5{
	text-align: center;
}
.choose-issue button{
	width: 100%;
    border: 1px solid #d9e5ed;
	border-radius: 0px;
	color: #487894;
	background: #d9e5ed;
	margin-bottom: 5px;
}
.choose-issue button:hover{
    border: 1px solid #487894;
	color: #fff;
	background: #487894;
}
.signup-page{
	zborder: solid 1px;
}
.signup-page small{
	color: #97a0a5;
	padding: 0px;
	padding-top: 0px;
	margin-right: 5px;
}
.signup-choose{
	margin: 10px 0;
	padding: 0px;
	zborder: solid 1px #d5dcdf;
	overflow: hidden;
	color: #487894;
}
.signup-choose button{
	width: 100%;
    border: 1px solid #d9e5ed;
	border-radius: 0px;
	color: #487894;
	background: #d9e5ed;
	margin-bottom: 5px;
	font-size: 18px;
	padding-top: 10px;
}
.signup-choose button:hover{
    border: 1px solid #487894;
	color: #fff;
	background: #487894;
}
.photo_body img{
	width: 100%;
}
.reset-btn button{
	background: #f3f6f8;
    border:none;
    border-bottom: 1px solid #d5dcdf;
}
.reset-btn button:hover{
	background: #d5dcdf;
    border:none;
    border-bottom: 1px solid #d5dcdf;
    color: #000;
}
/*
.opinion-img .other-news-img , .columns-section .other-news-img img {
	width: 150px;
}
*/
.breaking-news{
	overflow: hidden;
	margin-bottom: 10px;

}
.head-breaking-news{
	background: #C15151;
	border: solid 1px #C15151;
	text-align: center;
	color: #fff;
}
.body-breaking-news{
	background: #eee;
	border: solid 1px #eee; 
	color: #e74c3c;
}
.body-breaking-news a{
	color: #C15151;
}
.body-breaking-news a:hover{
	color: #000;
}
.body-breaking-news h4, .head-breaking-news h4{
	padding-top: 5px;
}
.article-img img[width='180'] {
    
    xborder: solid 2px red;
    
}

/******************* issue-page ***************/
.issue-page-min{
	zborder: solid 1px;
	overflow: hidden;
}
.issue-page-min-img{
	height: 200px;
	border: solid 1px #d5dcdf;
	overflow: hidden;
}
.issue-page-min-img img{
	width: 320px;
	height: 200px;
}
.issue-page-min-title{
	overflow: hidden;
	height:95px;
	zborder: solid 1px;
	padding: 5px 0;
}
.issue-page-min-title h3{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.issue-page-min-desc{
	zborder: solid 1px;
	overflow: hidden;
	height:80px;
	text-align: justify;
}
.issue-page{
	zborder: solid 1px;
	overflow: hidden;
	height: 82px;
	margin-bottom: 15px;
	zborder-bottom: solid 1px #d5dcdf;
	
}
.issue-page-img{
	float: right;
	overflow: hidden;
	border: solid 1px #d5dcdf;
	width: 100px;
	height: 80px;
	background: url(../img/background.png) no-repeat center center;
	background-size: 100%;
	margin-left: 5px;
}
.issue-page-img img{
	width: 100px;
	height: 80px;
}
.issue-page-title{
	zborder: solid 1px #d5dcdf;
	overflow: hidden;
}
.issue-page-title h3{
	font-size: 18px;
	margin-top: 2px !important;
	margin-bottom: 2px !important;

}
.issue-page-desc{
	zborder: solid 1px #d5dcdf;
	overflow: hidden;
	text-align: justify;
}
.issue-page-link ul{
	zborder: solid 1px;
	padding: 2px !important;
	padding-right: 20px !important;
	overflow: hidden;
	zbackground: #f1f1f1;
}
.issue-page-link li{
	zborder: solid 1px;
	list-style: square;
	margin: 0 !important;
	padding: 0px !important;
	margin-bottom: -5px !important;
}
.issue-page-link h4{
	zborder: solid 1px;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 16px !important;
}
/*********** most-popular **********/
.most-popular{
	zborder: solid 1px;
	overflow: hidden;
	color: #97a0a5;
	margin-bottom: 10px;
}
.most-popular ul{
	zborder: solid 1px;
	overflow: hidden;
	padding: 0px !important;
	margin: 0px !important;
	margin-top: 20px !important;
}
.most-popular li{
	overflow: hidden;
	padding: 25px 10px 10px 0;
	height: 70px;
	list-style: none;
	line-height: 22px !important;
	border-bottom: solid 1px #d5dcdf;
	float: right;
	zborder: solid 1px;
	width: 90%;
	
}

.most-popular a{
	font-size: 20px;
	line-height: 18px !important;
	
}

.most-popular li:hover{
	background: #d5dcdf;
}
.most-popular h3{
	font-size: 50px;
	width: 50px;
	float: right;
	background: #fff;
	padding: 0 10px;
	margin: 0;
	border-bottom: solid 2px #97a0a5;
	height: 70px;
	overflow: hidden;
	padding: 0;
	padding-top: 33px;
}
/************** Tag **************/

.tag-box{
	height: auto ;
	zpadding: 10px;
	zoverflow: hidden;
	text-align: center;
}
.img-frame  {
	position:absolute;
	zmargin: 5px 0 0 0;
	zborder: solid 1px red;
	width: 100%;
	height:200px;
	overflow: hidden ;
	background-color: zrgba(39,94,137,0.7);
	top:0;
	right: 0;	
}
.img-frame img { height: 100%;}	
.img-blur {
	-webkit-filter: blur(5px) grayscale(25%) opacity(0.5);
	width: 100%;
	height: 200px;
	margin:-1px;
	padding:1px;
}

.horizontal{
	overflow: hidden;
	zpadding: 10px;
	height: 105px;
	zborder-bottom: none;
	zborder-left: solid 1px #d5dcdf;
}
.horizontal .other-news-img{
	width: 160px;
	height: 105px;
	float: right;
	zborder: solid 1px;	
	margin-left: 10px;
	zborder: solid 1px;
	margin-top: -10px;
}

.horizontal .other-news-img img{
	height: 100%;
	width: auto;
}
.horizontal h4{text-align: right;}
.horizontal .other-news-desc{
	padding: 0px;
	margin-left: 10px;
}
.horizontal .bottom-line{
	zborder: solid 1px;
	float: left;
	width: 74%;
	left: 1%;
	right: auto;
}


/***************  */
.img-frame-news  {
	position:absolute;
	zmargin: 5px 0 0 0;
	zborder: solid 1px red;
	width: 100%;
	height: 105px;
	overflow: hidden ;
	background-color: zrgba(39,94,137,0.7);
	top:0;
	right: 0;	
}
.img-frame-news img { height: 100%;}	
.img-blur-news {
	-webkit-filter: blur(5px) grayscale(25%) opacity(0.5);
	width: 100%;
	height: 105px;
	margin:-1px;
	padding:1px;
}


/***************  */
	
.author-page{
	padding: 10px;
	max-height: 110px;
}
.author-page-box{
	height: auto;
	padding: 10px;
	overflow: hidden;
	
	
}
.author-page-name{
	float: right; 
	max-width: 50%;
	}
.author-page-box h1{
	margin-top: 0px !important;
	
}
.author-page-box img{
	height: 100%;
}
.author-page-img{
	float: left;
	width: 150px;
	height: 150px;
	border: solid 1px #d5dcdf;
	max-width: 50%;
	overflow: hidden;
}
.author-page-desc{
	float: right;
}

.pager{
	border: solid 1px #dfe8ec;
	overflow: hidden;
	margin: 0px 0;
	font-size: 18px;
	color: #487894;
}
.pager .next>a, .pager .next>span {
    float: left;
    display: inline-block;
    padding: 10px 14px 5px 14px;
    background-color: #dfe8ec;
    border: none;
    border-radius: 0px;
}
.pager .previous>a, .pager .previous>span {
    float: right;
    display: inline-block;
    padding: 10px 14px 5px 14px;
    background-color: #dfe8ec;
    border: none;
    border-radius: 0px;
}
.pager .previous>a:hover , .pager .next>a:hover{
    background-color: #487894;
    color: #fff;
}
.pager .numpager>a, .pager .numpager>span{
    display: inline-block;
    padding: 10px 14px 5px 14px;
    background-color: #fff;
    border: none;
    border-radius: 0px;
}


/************* .v2  ************/

.v2{
    zmargin-right: -10px;
    zmargin-left: -10px;
    zbackground-color: #d9e5ed;
}

.first-news2{
	zborder: solid 1px;
	overflow: hidden;
	text-align: center;
	zheight: 580px;
	zbackground: #487894;
    background: #f3f6f8;
    border-bottom: solid 1px #d5dcdf;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;	
}
.first-news2 h1{
	zcolor: #fff;
}
.first-news2 h3{
	color: #91989b;
}
.first-news2-img{
	zborder: solid 1px;
	position: relative;
	max-height: 400px;
	overflow: hidden;
}
.first-news2-img img{
	width: 98%;
}
.other-news2-desc{
	text-align: justify;
	overflow: hidden;
	padding: 10px;
	color: #d9e5ed;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 0;
	width: 98%;
	margin-right: 1%;
	max-height: 20%;
}
.other-news2-desc p{
	zcolor: #d9e5ed;
	font-size: 16px;
}
.other-news2{
	zborder: solid 1px;
	overflow: hidden;
	margin-bottom: 10px;
	background: #d9e5ed;
}
.other-news2-img{
	zborder: solid 1px;
	width: 120px;
	float: left;
}
.other-news2-img img{
	width: 100%;
}
.other-news2-title{
	padding: 5px;
}
/************** News 3 *******************/
.first-news3{
	zborder: solid 1px;
	overflow: hidden;
	text-align: center;
	zheight: 580px;
	background: #fff;
    zborder-bottom: solid 1px #d5dcdf;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;	
}
.first-news3 h1{
	padding: 0 5px;
	margin-bottom: 0px;
}
.first-news3 h3{
	color: #91989b;
	padding: 0 5px;
	
}
.first-news3-img{
	zborder: solid 1px;
	position: relative;
	max-height: 300px;
	overflow: hidden;
}
.first-news3-img img{
	width: 100%;
}
.other-news3-desc{
	text-align: justify;
	overflow: hidden;
	padding: 10px;
	padding-top: 0;
}
.other-news3-desc p{
	zcolor: #d9e5ed;
	font-size: 16px;
}
.other-news3{
	zborder: solid 1px;
	overflow: hidden;
	margin-bottom: 10px;
	background: #d9e5ed;
}
.other-news3-img{
	zborder: solid 1px;
	width: 120px;
	float: left;
}
.other-news3-img img{
	width: 100%;
}
.other-news3-title{
	padding: 5px;
}
.second-news3{
	background: #fff;
	overflow: hidden;
	margin-bottom: 10px;
	height: 242px;
}

.second-news3-img{
	overflow: hidden;
	height: 175px;
	zborder: solid 1px;
}
.second-news3-img img{
	width: 100%;
	height: 100%;
}
.second-news3-title{
	overflow: hidden;
	padding: 5px;
	text-align: center;
}
/************** News 3s *******************/
.first-news3s{
	zborder: solid 1px;
	overflow: hidden;
	text-align: center;
	height: 440px;
	background: #fff;
    zborder-bottom: solid 1px #d5dcdf;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;	
}
.first-news3s h2{
	padding:15px 10px 10px 10px;
	margin: 0px;
	color: #fff !important;
}
.first-news3s h2:hover{color: #487894 !important;}

.first-news3s-img{
	zborder: solid 1px;
	position: relative;
	height: 355px;
	overflow: hidden;
}
.first-news3s-img img{
	width: 100%;
}
.first-news3s-title{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	zheight: 80px;
	width: 100%;
	zpadding: 5px;
	text-align: center;
}
.other-news3s-desc{
	text-align: justify;
	padding: 10px;
}
.other-news3s-desc{
	text-align: justify;
	overflow: hidden;
	padding: 10px;
}
.other-news3s-desc p{
	zcolor: #d9e5ed;
	font-size: 16px;
}
.other-news3s{
	zborder: solid 1px;
	overflow: hidden;
	margin-bottom: 10px;
	background: #d9e5ed;
}
.other-news3s-img{
	zborder: solid 1px;
	width: 120px;
	float: left;
}
.other-news3s-img img{
	width: 100%;
}
.other-news3s-title{
	padding: 5px;
}
.second-news3s{
	background: #fff;
	overflow: hidden;
	margin-bottom: 10px;
	height: 215px;
}

.second-news3s-img{
	overflow: hidden;
	height: 155px;
	zborder: solid 1px;
}
.second-news3s-img img{
	width: 100%;
	height: 100%;
}
.second-news3s-title{
	overflow: hidden;
	padding: 5px;
	text-align: center;
}

/************** end News 3s *******************/






.color2{
    background: #f3f6f8;
    border-bottom: solid 1px #d5dcdf;
}
.color2 h4{
	zcolor: #d9e5ed;
	font-size: 22px;
}
.sport_talk{
	zheight: 350px;
	overflow: hidden;
	margin-bottom: 10px;
}
.sport_talk-header{
	background: #d9e5ed;
	padding: 5px 10px 1px 0;
	border-right: solid 10px #487894;
	color: #487894;
}
.sport_talk-content{
	border: solid 10px #d9e5ed;
	border-top: none;
	padding: 0;
	background: #f3f6f8;
	zheight: 137px;
	overflow: hidden;
	padding: 5px;
}
.sport_talk-content h4{
	text-align: right;
	color: #487894;
	margin-bottom: 5px;

}
.sport_talk-content h6{
	color: #91989b;
	zfloat: left;
	text-align: left;
	margin-top: 0;
	
}
.sport_talk-content h5{
	text-align: right;
	font-size: 16px;
	margin-top: 20px;
}
.sport_talk-content img{
	width: 70px;
	height: 100px;
	float: left;
	margin-right: 5px;
}

.info-page{
	margin-bottom: 20px;
}
.info-page h1{
	text-align: center;
	color: #487894;
}


.section-name-issue-second{
	background: #d9e5ed;
	padding: 10px;
	padding-bottom: 5px;
    border-right: solid 10px #487894;
    
    }
.section-name-issue-second h3{
	padding: 0;
	margin: 0;
}
.section-page-number{
	background: #f3f6f8;
	padding: 10px;
	padding-bottom: 5px;
    border-bottom: solid 1px #d5dcdf;

}
.section-page-number h5{
	padding: 0;
	margin: 0;
	color: #666;
}


.tag-menu{
	border-bottom: solid 1px #d5dcdf;
	zbackground: #f3f6f8;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 0px;
	padding: 0px;
	overflow: hidden;
	height: 30px;
}
.tag-menu h4{
	padding: 8px;
	margin: 0;
	float: right;
	width: 120px;
	background: #f3f6f8;
	color: #91989E;
	border-left: solid 1px #d5dcdf;
}
.tag-menu h4 i{
	font-size: 14px;
}
.tag-menu ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 89%;
	margin-top: 3px;
	zborder: solid 1px;
	float: right;
}
.tag-menu ul li{
	padding: 5px;
	margin: 0 10px;
	float: right;
	list-style: none;
	text-align: right;
}
.tag-menu ul a{
	color: #91989E; 
}
.tag-menu ul a:hover{
	color: #000; 
}
.tag-menu ul i{
	font-size: 11px;
	color: #d17272;
}


.social-box{
	height: 60px;
	overflow: hidden;
	padding: 10px;
}
.social-box-twitter, .social-box-facebook, .social-box-google-plus, .social-box-instagram, .social-box-youtube, .social-box-rss, .social-box-soundcloud{
	float: right;
	width: 14.2%;
	border: solid 1px #f3f6f8;
	text-align: center;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 2px;
	color: #91989b;
	font-size: 18px;
}
/*
.social-box-twitter{
	color: #1da1f2;
}
.social-box-facebook{
	color: #405d9b;
}
.social-box-google-plus{
	color: #e85542;
}
.social-box-instagram{
	color: #b09473;
}
.social-box-youtube{
	color: #d62424;
}
*/

.social-box-twitter:hover{
	color: #1da1f2;
}
.social-box-facebook:hover{
	color: #405d9b;
}
.social-box-google-plus:hover{
	color: #e85542;
}
.social-box-instagram:hover{
	color: #b09473;
}
.social-box-youtube:hover{
	color: #d62424;
}
.social-box-soundcloud:hover{
	color: #f50;
}
.social-box-rss:hover{
	color: #ff9900;
}

.archive-button{
	width: 100%;
	padding: 10px;
	padding-top: 15px;
	font-size: 20px;
	background: #487894;
	border: solid 1px #487894;
	color: #fff;
	margin-bottom: 10px;
}
.archive-button i{
	padding-left: 5px;
	font-size: 18px;
}

.archive-button:hover{
	background: #dfe8ec;
	border: solid 1px #dfe8ec;
	color: #487894;
}

.error404{
	text-align: center;
}
.error404 h1{
	font-size: 120px;
}


.pdf-list-old{
	border-bottom: solid 1px #dfe8ec;
	overflow: hidden;
	font-size: 18px;
	padding: 20px 0 5px 0;
	margin-bottom: 10px;
}
.pdf-list-old a{
	padding: 10px;
}



.reset_done p{
	padding: 50px 0;
	text-align: center;
	zborder: solid 1px;
	font-size: 22px;
	color: #55AA55;
}
.photo_today img{height: 400px;}


.search_results{
	overflow: hidden;
	
}
.search_results li{
	list-style: none;
	border-bottom: solid 1px #dfe8ec;
	padding-bottom: 10px;
	
}


.adv_sidel {
    position: absolute;
    top: 5px;
    margin-right: 1160px;
    display: none;
    }
.adv_sider {
    position: absolute;
    top: 5px;
    margin-right: -140px;
    display: none;
    }
.listen-asgatech{
	padding: 5px;
	margin: 5px 0;
	color: #999;
	text-align: center; 
	background: #f3f6f8;
	border-bottom: solid 1px #d5dcdf;
}
.listen-asgatech img{
	width: 100%;
}