@media (min-width: 1200px) {
.container {
    width: 1170px;
    zoverflow: hidden !important;
    zborder: solid 1px;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-nav-riy{
	width: 1170px; 
	margin-right: -15px !important; 
	height: 43px;
	overflow: hidden;
	}
.media-thumbnails{
	padding-right: 5px;
	margin-top: 0px;
}
.twitter-section{margin-top: 40px;}
.space600{
	height: 970px;
	overflow: hidden;
}
}

@media (max-width: 1024px) {
.section-name-issue{
	zborder: solid 1px;
}
.section-name-issue h4, .section-name-local h4, .section-name-167 h4, .section-name-opinion h4, .section-name-168 h4, .section-name-169 h4, .section-name-155 h4, .section-name-170 h4, .section-name-statistics h4{
	zborder: solid 1px;
	float: right;
	
}
.twitter-section{
	float: left;
}
.no-pad{padding-left: 0;padding-right: 0;}
}

@media (min-width: 992px) {
.space600{
	height: 970px;
	overflow: hidden;
}
.tag-menu ul{width: 80%;}
}
@media (max-width: 992px) {
.tag-menu ul{width: 80%;}
.first-news3s{height: auto;}
.first-news3s-title{max-height: 35%;}
.first-news3s h2{font-size: 150%;}
.first-news3s-img{height: 250px;}
.first-news3s-img img{width: 100%; height: 110%;}
}

@media (min-width: 768px) {

.media-moer{margin-bottom: 5px;}
.today-pic-des2{
	zwidth: 720px;
	
	}


}

@media (max-width: 480px) {
.nav-right{float: right; width: 40%;}
.nav-left{float: left; width: 60%;}
.nav-right>li{ width: 50%;text-align: center !important;}
.nav-left>li{ width: 33.33%;text-align: center !important;}
.nav-right>li>a>p{ display: none !important; }
.nav-left>li>a>p{ display: none !important;}
.comment-header-right{border-left: solid 0px #d5dcdf;padding-left: 0px;}
.comment-header-left{overflow: hidden;padding-right: 0px;}
.comment-header h4{margin-bottom: 10px;}
.comment-box-left h1{margin-top: 5px;margin-bottom: 5px;}
.comment-box-left h5{text-align: center;margin-top: 20px;margin-bottom: 0px;}
.comment-box-bottom{
	zborder: solid 1px;
	zborder-top: solid 1px #d5dcdf;
	padding: 10px 10px 0 10px;
	background: #dfe8ec;
	overflow: hidden;
	position: relative;
	width: 100%;
	bottom: 0px;
	text-align: center;
}
.menu-news{width: 100px;}
.logo img{width: 60%;}
.comment-box-right, .comment-box-left{zborder: solid 1px; min-height: 0px; padding: 0;}

.horizontal .bottom-line{
	width: 50%;
}

.horizontal{ height: 100px;}

.most-popular li{
	width: 80% ;
}

.tag-menu ul{width: 67%;}
.tag-menu ul li{padding:5px 2.5px;margin: 0 5px;}

.second-news3s{height: 190px;}
.second-news3s-img{height: 120px;}

.article-time{zborder: solid 1px;}
.second-news3s{height: 220px;}
.services {padding-bottom: 10px;}
.listen-asgatech img{width: 35%;}
}
@media (max-width: 320px) {
.tag-menu ul{width: 61%;}
.tag-menu ul li{padding:5px 1px;margin: 0 0px;}	
}
@media (min-width: 480px) {
	
	
}
