@media only screen and (max-width: 1024px){
	#nav-wrap .logo img{
	  max-width: 200px;
	}
	#nav-wrap .nav-search-btn {
  padding: 16px 15px;
}
.win-title-backgrand{position: relative;opacity: 1;}
}
@media only screen and (min-width: 768px) and (max-width: 1041px) {
	.change-password .input-name{
		line-height:inherit !important;
	}
	.publications-index .col-sm-8>.row{
		margin-bottom:20px;}
	.world-banner-text{
		padding-left:80px;}
}
/* mobile */
@media only screen and (max-width: 767px) {
    .container.quick-links .row .col-sm-3{margin-bottom:0px;}
  .video-bridge.press-box>.row>.col-sm-8>.row .col-sm-6{margin-bottom:0;width:100%;}
  .video-bridge .row > [class*=col-] {margin-top: 0px;}
.video-bridge .wookmark1 .col-sm-6:nth-last-child(2) > .bor-bottom{border-bottom: 2px solid #2ca8d2 !important;}
  .win-rightgray .col-sm-12.col-md-8 em{font-size:16px;color: #999;}
  .returns-prompt >.col-sm-6{ margin-left:0;}
  .win-rightgray .col-sm-12.col-md-8 h3{font-size:22px;margin-top: 10px;}
  .row.win-rightgray.win-rightgray-bg{margin-bottom: 20px;}
  .winwin-text .tx_txt em{padding-top:0;}
  .winwin-text .col-sm-4 a img{margin-bottom:10px;}
    .partner-banner .carousel-caption{margin-left:0;}
    .partner-domain .col-sm-2{width: auto;}
    	/*doc page 16-2-29*/
	 .classified-search ul li a{
		 padding: 0px 21px;
		 width: 155px;
		 } 
    .classified-search ul li{
		 display: list-item;}
    .doc-icon-ab{
		width:19px;
		height:10px; 
		background:url(/Assets/CBG/img/doc_icon_a.png) no-repeat; 
		position:absolute;
		top:17px; 
		left:144px;}
	.doc-bottom div{ float:none;}
    .doc-bottom p{float:none;}
	.nav-moblie-style .nav-next{ display:none; position:absolute; z-index:999; background:#666;left:0;top:40px;}
	.classified-search ul li a,.coverage{padding:0 21px;}
	.classified-search ul li a.active{ background:#999; color:#fff;}
	.classified-search ul li a:hover{background:#999; color:#fff;}
	/*doc page*/
    .per-process img{width:100%;}
    #Login .down_line i,#Jurisdiction .down_line i{
    float:none;
    display:inline-block;}
    #Permission,#Jurisdiction,#Login{min-width:1px;}
    #Subscribe_reg .foot-text{width:100%;max-width:100%;padding-left:6px;}
    .change-password .inputs-name {text-align:left;}
    .page-allEvents .symbol a p {padding-top:0;}
    .lt-img-rt-tx .container .col-sm-12 .row.text-center .col-sm-3 {
    width:auto;}
    .softcom .col-sm-5.pull-right{margin-left:0;}
    .softcom .col-sm-5 > img{width:100%;}
    .softcom .col-sm-5.pull-left{margin:0; float:none !important;}
    .solution_video_wrap .solution_video ul.video-list li{
		float:none;}
    .win-rightgray .col-md-8 p {
    display: block;}
	.solution-list ul li.download{
		text-align:left;}
    .solution-list ul li a:first-child{
		display:block;
		clear:both;
		float:none;}
	.solar-table {
        display: none;
    }
	.table-more {
        margin-bottom: 20px;
    }
	.mobile-margin .row {margin-bottom:0 !important;}
    .win-rightgray .col-xs-4 {
        padding-right: 15px;
    }
    .row.win-rightgray img {
        height: auto;
        width: 100% !important;
    }
    .col-sm-12 .js_checkable {
        margin-top: 0px;
    }
    .col-sm-10 .moreinfo .row .col-sm-12 .ver-code {
        width: 300px !important;
        margin-top: 0px;
    }
    .col-sm-10 .moreinfo .row .col-sm-12 {
        display: block;
        clear: both;
    }
    .page-allEvents .calendar {
        margin-bottom: 20px;
        display: block;
    }
    .row.win-rightgray img {
        width: 100%;
    }
    .win-gray .container h2 {
        padding-left: inherit;
    }
    .win-gray .container .row {
        padding-left: inherit;
    }
    .win-gray .publications .col-sm-3 img.img-responsive {
        max-height: none;
        max-width: none;
    }
    .win-gray .publications .col-sm-3 p {
        margin: 0;
    }
    .win-gray .publications .col-sm-3 h3 {
        max-width: none;
    }
    .win-gray .publications .col-sm-3 {
        width: 50%;
    }
    .container > .row > .col-sm-3 {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .winwin-text .wookmark .stamp1 {
        display: none;
    }
    .win-rightgray .col-xs-4 {
        width: 100%;
        margin-bottom: 15px;
    }
    .worldwide .col-sm-2 {
        width: 100%;
    }
    .worldwide-banner {
        background: url(/Assets/CBG/img/worldwide_banner.jpg) no-repeat left top;
    }
    .world-banner-text {
        text-align: center;
        padding-left: 0;
    }
    .winwin-text .col-sm-4:nth-last-child(2) > .bor-bottom, .winwin-text .col-sm-4:nth-last-child(3) > .bor-bottom {
        border-bottom: 2px solid #2ca8d2;
    }
    .stamp {
        width: 100% !important;
    }
    .stamp .img-responsive {
        width: auto;
    }
    .stamp img, .stamp h3 {
        margin-left: 0 !important;
        text-align: left !important;
    }
    .stamp a {
        margin-left: 0 !important;
    }
    .page-allEvents .symbol a {
        width: 160px;
        height: 120px;
        line-height: 13em;
    }
    .page-allEvents .text {
        padding-left: 0;
        margin-top: 12px;
    }
    .cloud_computing .pull-right {
        float: none !important;
    }
    .win-rightgray {
        margin-left: 0;
    }
    .comm-prompt > .col-sm-3 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .touxiang img.img-responsive {
        width: 195px;
    }
    h1.clr_topMn {
        margin-top: 0;
    }
    .tx_txt .tcont {
        display: none;
    }
    #nav-wrap .logo img {
        width: 100%;
        max-width: 150px;
    }
    body h1 {
        font-size: 28px;
    }
    body h2 {
        font-size: 24px;
    }
    body h3 {
        font-size: 20px;
    } 
	.select-text {
        float: none;
    }
	.query-contant{ background:#fff !important;}
	.selct-form-right{ padding-top:0;}
	.selectresult{ padding-bottom:20px;}
.csr-layout .col-sm-4,.csr-layout .col-sm-6,.csr-layout .col-sm-8 {
    float: none !important;
}
.sd-index .csr-layout >.row .col-sm-4:last-child .focus{margin-bottom:30px;}
.sd-index .focus{margin-bottom:0;}
.sd-index .focus a{height:auto;width:100%;}
.sd-index .focus img,.sd-index .focus a p{display:none;}
.sd-index .focus a h3{margin:12px; text-align:center;}
.sd-index .text-bg {
    position: relative;
	height:auto;
}
    .upload-btn {
        margin-left: 0;
    }
    .input-prompt {
        margin-left: 0;
        display: block;
        clear: both;
        height: auto;
    }
    .ver-code-img {
        display: block;
        padding-top: 0;
    }
    .login-info-cell .input-code >div{padding-top:0}
    .login-info-cell .infor-write .input-code a img {
    margin-top: 7px;
    }
    .select-text {
        margin-right: 10px;
    }
    .change-password .input-name {
        width: 100%;
        text-align: left;
        line-height: 42px !important;
        margin: 0;
        float: none;
    }
    .change-password .tishi {
        float: none;
        text-align: center;
    }
    .change-password .submit a {
        display: block;
        margin: 20px auto;
    }
    .change-password select,
    .change-password textarea,
    .change-password input {
        width: 100%;
    }
    .agreement input {
        width: 16px;
        float: left;
        margin-right: 5px;
    }
    .change-password ul li input {
        float: left;
    }
    .change-password P {
        padding: 0;
        float: none;
    }
    .change-password .submit a {
        float: none;
    }
    .contact-us .col-sm-3 {
        margin-top: 15px;
    }
    .img-responsive {
        width: 100%
    }
    .con-box {
        margin-top: 24px;
    }
    .studies-list ul li h3 {
        margin: 0;
        display: none;
    }
    .studies-list ul li div h3 {
        display: block;
    }
    .studies-list ul li div p {
        display: none;
    }
    .studies-list .tx_txt p {
        display: none;
    }
    .studies-list ul li div.col-sm-3 {
        width: 35%;
        padding: 0 0.7em 0 0;
        float: left;
    }
    .studies-list ul li div.col-sm-9 {
        width: 65%;
        padding: 0;
        float: left;
    }
    .mt36:nth-last-of-type(2),
    .mt36:last-child {
        margin-bottom: 36px;
    }
    .lt-img-rt-tx h1.h-title {
        text-align: center;
        margin: 1.1em 0 0.5em 0;
    }
    .studies-list ul li img {
        margin-top: 5px;
    }
    .no-bor {
        margin: 0;
    }
    #tab_top_nav {
        display: none;
    }
    #tab_main_nav ul {
        display: none;
    }
    #tab_main_nav_mobile {
        display: table-cell !important;
        vertical-align: middle;
        padding-right: 15px;
        padding-left: 15px;
        width: 6.5%;
    }
    html,
    body {
        -webkit-text-size-adjust: 100%;
    }
    html p,
    html .quick_links,
    html footer,
    body p,
    body .quick_links,
    body footer {
        line-height: 150%;
    }
    .container_inner {
        margin: 0;
    }
    .the_expert .details {
        padding-left: 10%;
        text-align: left;
        color: #6d6d6d;
    }
    #breadcrumb_nav {
        display: none;
    }
    .cloud_computing {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .cloud_computing .left,
    .cloud_computing .right {
        display: inline-block;
        width: 100%;
    }
    .cloud_computing .left h1,
    .cloud_computing .left h2 {
        text-align: center;
    }
    .cloud_computing .right {
        padding-top: 40px;
        text-align: center;
    }
    .cloud_computing .right img {
        min-width: 200px;
    }
    /* HUAWEI ADVANTAGE
  **********************/
    /* HUAWEI SOLUTIONS 
  **********************/    
    .lt-img-rt-tx h1,
    .lt-img-rt-tx h2 {
        margin-left: 0;
        margin-right: 0;
    }
    .lt-img-rt-tx .cell {
        display: table;
        border-top: 1px solid #eee;
    }
    .lt-img-rt-tx .cell div {
        display: table-cell;
        vertical-align: middle;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .lt-img-rt-tx .cell div img {
        width: 100%;
        height: auto;
    }
    .lt-img-rt-tx .cell div:first-child {
        width: 29%;
        vertical-align: middle;
        padding-left: 0;
    }
    .lt-img-rt-tx .cell div:first-child + div {
        width: 71%;
        text-align: left;
        padding-left: 10px;
        padding-right: 0;
    }
    .lt-img-rt-tx .cell div:first-child + div h3 {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .lt-img-rt-tx .cell p {
        padding: 0;
        margin: 0;
    }
    .lt-img-rt-tx .cell_spacer {
        display: none;
    }
    /* FOOTER NAV MOBILE
  **********************/
    /* FOOTER 
  **********************/    
    #footer .left,
    #footer .bottom_left {
        display: none;
    }
    #footer .right,
    #footer .bottom_right {
        display: block;
        width: auto;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    #footer .bottom_right {
        padding: 20px 0;
    }
    /* banner*/    
    #banner.group-index-banner {
        height: 360px !important;
        overflow: hidden;
    }
    .banner_list a.btn.next {
        right: 0px;
        background: url(/Assets/CBG/img/solution_video_btn_next.png) right center no-repeat;
        background-size: 60%;
    }
    .banner_list a.btn.prev {
        left: 0px;
        background: url(/Assets/CBG/img/solution_video_btn_prev.png) left center no-repeat;
        background-size: 60%;
    }
    .banner_list a.btn {
        display: block;
        top: 25%;
    }
    .banner_list li img {
        width: 100%;
        min-width: 0px;
    }
    .banner_list li .text {
        position: relative;
        padding: 0px;
        padding-top: 0;
    }
    .banner_list li .text span {
        text-align: center;
        color: #fff;
    }
    .banner_list li .text span.title {
        color: #000;
    }
    .banner_list li .text a {
        background: transparent;
        display: block;
        width: 150px;
        height: 36px;
        border-radius: 3px;
        padding: 0px;
        text-align: center;
        line-height: 36px;
        font-size: 18px;
        margin: 0px auto;
    }
    .banner_list li .text span.title {
        font-size: 48px;
    }
    .banner_list li .text span {
        margin-bottom: 20px;
        padding-top: 10px;
    }
    .banner_list p.point_btn {
        margin-top: 45%;
        top: 0;
    }
    .banner_list li {
        background-size: contain !important;
        padding-top: 56.25%;
    }
    .solution_video_wrap {
        overflow: hidden;
        padding-bottom:0;
    }
    /*.solution_video_wrap .solution_video_cont a.btn{top:20px;}*/    
    .solution_video_wrap .solution_video_cont a.btn.prev,.solution_video_wrap .solution_video_cont a.btn.next  {
        z-index: 9999;
    }
    .solution_video_wrap .solution_video_cont p.point_btn {
        display: none;
    }
    .solution_video_wrap .solution_video_cont p.video-num {
        position: absolute;
        bottom: -30px;
        right: 0px;
        height: 12px;
        z-index: 9;
        color: #fff;
        display: none;
    }
    .solution_video_wrap .solution_video_cont p.video-num span {
        display: block;
        width: 12px;
        height: 12px;
        background: url(/Assets/CBG/img/point_btn.png) left -12px;
        float: left;
        margin-right: 13px;
    }
    .solution_video_wrap .solution_video_cont p.video-num span.on {
        background: url(/Assets/CBG/img/point_btn.png) left 0px;
    }
    .solution_product_mobile {
        display: block;
    }
    .solCategorytitle h1 {
        text-align: left;
    }
    .solCategory h3.specal {
        display: none;
    }
    .solution-nav {
        display: none;
    }
    .solCategory .solution-mobilr-nav {
        display: block;
        background: #f4f4f4;
        padding: 15px 25px;
    }
    .solCategory .solution-mobilr-nav .title {
        background: #fff;
        line-height: 46px;
        color: #676767;
        position: relative;
        text-align: left;
    }
    .solCategory .solution-mobilr-nav .title i {
        padding-left: 48px;
        height: 46px;
        background: url(http://www.huawei.com/ucmf/groups/public/documents/webasset/hw_u_394888.png) center 18px no-repeat;
        position: absolute;
        right: 0px;
        top: 0px;
        border-left: 1px solid #bcbcbc;
        cursor: pointer;
    }
    .solCategory .solution-mobilr-nav .title i.on {
        background: url(http://www.huawei.com/ucmf/groups/public/documents/webasset/hw_u_394888.png) center -30px no-repeat;
    }
    .solCategory .solution-mobilr-nav .title span {
        display: block;
        padding-left: 13px;
        border: 1px solid #bcbcbc;
    }
    .solCategory .solution-mobilr-nav .title ul {
        position: absolute;
        top: 46px;
        left: 0px;
        width: 100%;
        z-index: 999;
        border: 1px solid #bcbcbc;
        box-shadow: 0px 1px 5px 1px #dcdcdc;
        display: none;
    }
    .solCategory .solution-mobilr-nav .title ul li {
        background: #fff;
        padding-left: 13px;
        border-bottom: 1px solid #efefef;
        font-weight: bold;
        color: #000;
    }
    .solCategory .solution-mobilr-nav .title ul li.link-wrap {
        padding-left: 0px;
    }
    .solCategory .solution-mobilr-nav .title ul li span.on {
        background: #eeeeee;
    }
    .solCategory .solution-mobilr-nav .title ul li span {
        border: none;
        padding-left: 25px;
    }
    .solCategory .solution-mobilr-nav .title ul li span a {
        color: #616161;
        font-weight: normal;
    }
    /*index-video*/    
    .index-video h2,
    .index-video h3 {
        color: #fff;
    }
    .index-video h2 {
        font-size: 36px;
        margin: 0px;
        line-height: 1.2em;
    }
    .index-video h3 {
        font-size: 20px;
        padding-top: 24px;
        line-height: 30px;
        max-width: 475px;
        margin: 0px auto;
    }
    .index-video .btn a {
        display: block;
        height: 101px;
        width: 100px;
        background: url(/Assets/CBG/img/index-btn.png) left center;
        background-size: 100%;
        margin: 0px auto;
        margin-top: 24px;
    }
    .index-other-part .cell {
        border: 0px;
    }
    .index-other-part .news li {
        margin-bottom: 20px;
    }
    .index-other-part .social-media {
        display: none;
    }
    .index-other-part .index-events {
        padding: 0px 15px;
    }
    #nav-cont {
        display: none;
    }
    #tab_main_nav {
        width: 35.25%;
    }
    #tab_main_nav_mobile_container ul .search div input {
        width: 83%;
    }
    .index--first-part {
        text-align: left;
        border: 0px;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 15px;
    }
    .index--first-part p {
        line-height: 150%;
    }
    .index-other-part h2 {
        margin-bottom: 0;
    }
    /* carrier*/    
    #banner ul.banner-list li.banner-img .container {
        background: #ccc;
        height: 300px;
    }
    #banner ul.banner-list li.banner-img {
        padding-top: 180px;
    }
    #banner ul.banner-list li.banner-img div .banner-text {
        background: none;
        width: 100%;
    }
    #banner ul.banner-list li.banner-img .container {
        background: #ccc;
        height: 100%;
    }
    #banner ul.banner-list .text {
        width: 100% !important;
        padding: 15px !important;
    }
    #banner ul.banner-list h2 {
        font-size: 32px !important;
        line-height: 150% !important;
        margin-bottom: 5px;
        color: #000;
        text-align: center !important;
    }
    #banner ul.banner-list .text {
        width: 100% !important;
        padding: 15px !important;
    }
    #banner a.switchingBtn.right {
        right: 0px;
        background-position: right center;
    }
    #banner a.switchingBtn.left {
        left: 0px;
    }
    #banner ul.banner-list li.banner-img {
        background-size: 100% auto !important;
        padding-top: 180px !important;
    }
    #banner a.switchingBtn {
        height: 180px !important;
        background-size: 60% !important;
    }
    #banner ul.banner-list li.banner-img a.btn {
        display: block;
        margin: 0px auto !important;
    }
    #banner ul.banner-list .banner-text h2 {
        margin-top: 0;
    }
    #banner .point-btn-wrap {
        top: 160px !important;
    }
    /* all products */    
    #banner {
        height: 360px;
    }
	#banner .container {
        padding: 0;
    }
    .group-index-banner .item, .fbb-index-banner .carousel-inner .item {
        height: auto !important;
        background: no-repeat center top;
        background-size: contain;
        padding-top: 22.25%;
    }
    .group-index-banner .no-swiper .item, .fbb-index-banner .no-swiper .carousel-inner .item {
        padding-top: 96.25%;
    }
    .group-index-banner .item .text p,
    .group-index-banner .item .text h3 {
        color: #fff;
        font-size: 16px;
        margin: 10px auto;
    }
    .group-index-banner .item .text h3 {
        font-size: 20px;
    }
    .group-index-banner .carousel-indicators {
        bottom: 0;
    }
    .group-index-banner .item .text a {
        background: transparent;
        display: inline;
        text-decoration: none;
        border-radius: 3px;
        padding: 0px;
        text-align: left;
        font-size: 18px;
        margin: 0px auto;
        color: #fff;
    }
    .group-index-banner:hover .carousel-control {
        background-size: 100%;
    }
    .group-index-banner .carousel-caption {
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 56.20%;
        right: 0;
        bottom: 0;
        z-index: 10;
        padding-bottom: 10px;
        color: #ffffff;
        text-align: left;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        padding-left: 0px;
    }
    .carousel-caption .text {
        padding-bottom: 100%;
    }
    .banner-btn {
        background: none;
        border: 0 solid #fff;
    }
    .group-index-banner .carousel-control {
        height: 0;
        padding-bottom: 56.25%;
        background-size: 100%;
    }
    #footer .bottom_right ul li {
        display: inline-block;
    }
	  #footer .right ul li {
        display: inline-block;
        margin-right: 10px;
        line-height: 50px;
    }
    #player_wrapper {
        height: auto !important;
        width: 100% !important;
        display: block;
    }
    #fancybox-outer {
        background: none;
    }
    #fancybox-content {
        width: 100% !important;
        height: auto !important;
    }
    /* share bof */    
    .share-box-mobile {
        width: 100%;
        margin: 0 auto;
        background-color: #f6f6f6;
        border-radius: 5px;
        border: 1px #dddddd solid;
    }
    .share-box-mobile-outer {
        padding: 0 15px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        z-index: 999;
    }
    .share-box .share-item {
        display: inline-block;
    }
    a {
        outline: none !important;
    }
    .icon-email {
        vertical-align: middle;
        width: 50px;
        height: 48px;
        background: url(/Assets/CBG/img/icon_mobile_share.png) no-repeat -180px center;
        position: relative;
        display: inline-block;
    }
    .icon-feedback {
        vertical-align: middle;
        width: 50px;
        height: 48px;
        background: url(/Assets/CBG/img/icon_mobile_share.png) no-repeat -125px center;
        position: relative;
        display: inline-block;
    }
    .icon-tel {
        vertical-align: middle;
        width: 50px;
        height: 48px;
        background: url(/Assets/CBG/img/icon_mobile_share.png) no-repeat -235px center;
        position: relative;
        display: inline-block;
    }
    .share-btn {
        background: url(/Assets/CBG/img/icon_mobile_share.png) no-repeat 0 center;
        border-radius: 5px;
        display: inline-block;
        line-height: 100%;
        width: 121px;
        height: 48px;
        vertical-align: middle;
        font-size: 20px;
        text-indent: 20px;
        line-height: 48px;
        text-decoration: none !important;
    }
    .share-btn-box {
        margin: 10px 0;
    }
    .share-btn-box a {
        margin: 10px 0;
        float: left;
        margin: 0 4px 0 0;
    }
    .share-box-mobile a {
        width: 100% !important;
        text-align: left !important;
        border-bottom: 1px #dddddd solid;
        background-position: 10px center !important;
        text-indent: 50px !important;
        font-size: 16px;
        vertical-align: middle;
        margin: 0 !important;
        line-height: 50px;
        height: 50px !important;
    }
    .share-box-mobile a:last-child {
        border-bottom: none;
    }
    .share-box-mobile a {
        float: none !important;
        background-repeat: no-repeat !important;
    }
    .share-list a {
        text-indent: 50px !important;
    }
    .share-box .share-item {
        background: url(/Assets/CBG/img/mobile_share_all.png) no-repeat !important;
    }
    .share-box-mobile .share-item-weibo {
        background-position: 0 -200px !important;
    }
    .share-box-mobile .share-item-weixin {
        display: none !important;
    }
    .share-box-mobile .share-item-print {
        display: none !important;
    }
    .share-box-mobile .share-item-email {
        display: none !important;
    }
    .share-box-mobile .share-item-linkedin {
        background-position: 0 -100px !important;
    }
    .share-box-mobile .share-item-twitter {
        background-position: 0 -50px !important;
    }
    .share-box-mobile .share-item-facebook {
        background-position: 0 0 !important;
    }
    .share-box-mobile .share-item-googleplus {
        background-position: 0 -150px !important;
    }
    .box_subscribe {
        width: 100%;
    }
    .box_subscribe input[type='text'],
    .box_subscribe textarea,
    .one_line .tel,
    .one_line .liuyanbox .liuyan,
    .one_line .userid {
        width: 93% !important;
    }
    .one_line li,
    .one_line .liuyanbox {
        float: none;
        margin: 5px 0;
    }
    .one_line {
        padding-bottom: 0px;
    }
    .tel_tanchu {
        padding: 20px;
        width: 90%;
        right: 5%;
        bottom: 60%;
        height: 160px;
    }
    .one_line .col-sm-5 {
        margin: 15px -10px 0 10px;
    }
    .studies-list .video_box a {
        background-size: 40px;
    }
	.s_directors .tx_txt .tcont{display:none;}
	.container .row .col-sm-3 .text {
        width: 70%;
        background-color: #fff;
    }
    .container .row .col-sm-2 .text {
        width: 70%;
        background-color: #fff;
    }
    .container .row .col-sm-9 .search-layout .search-bar .text_2 {
        width: 90%;
    }
    .col-sm-8>.tx_txt>p {
        margin-top: -8px !important;
    }	
    #fancybox-wrap {
        width: 96% !important;
        left: 2% !important;
    }
    .btn-more-botom {
        text-align: center;
        float: inherit;
        margin-top: 15px !important;
        height: 40px;
        clear: both;
        line-height: 40px;
        background-color: #eee;
    }
    .btn-more-botom a:hover {
        text-decoration: none;
        color: #333;
        background-color: #ddd;
    }
    .btn-more-botom a {
        background: none;
        display: block;
        width: 100%;
        line-height: 40px;
        height: 40px;
    }
    .lt-img-rt-tx .container > .row>.studies-list .row {
        margin-bottom: 0px;
    }
    .studies-list ul li div .download {
        display: block;
    }
    .lt-img-rt-tx .video_box a {
        background-size: 56px;
    }
    .lt-img-rt-tx .cell .video_box a {
        background-size: 40px;
    }
    .lt-img-rt-tx p,
    .product_case_studies p {
        margin: 0 auto 10px auto;
    }
    .cloud_computing .video_box {
        margin-bottom: 12px;
    }
    .lt-img-rt-tx .container > .row,
    .product_case_studies .container > .row {
        margin-bottom: 0;
    }
    .lt-img-rt-tx .container > .row .row,
    .product_case_studies .container > .row .row {
        margin-bottom: 36px;
    }
    .product_case_studies .container > .row > .col-sm-3 {
        margin-bottom: 36px;
    }
    .lt-img-rt-tx .col-sm-6>.row>.col-xs-7>p {
        margin-top: 0;
    }
    .ict_wz .col-xs-7>p {
        margin-top: 8px !important;
    }
    .mt_f5 {
        margin-top: -5px;
    }
    .mg_top_x5 {
        margin-top: -5px;
    }
    .videos-list .cell {
        margin-bottom: 0;
        display: block;
    }   
    .js-goto-top {
        display: block !important;
        position: fixed;
        bottom: 10%;
        right: 0;
        z-index: 99999;
    }
    .sm_tiele1 {
        display: block;
        margin: 0 auto 10px auto;
    }
    .sm_tiele {
        display: none;
    }
    .col-sm-12 .row .text-img {
        float: none !important;
        margin: auto !important;
    }
    .studies-list .video_box a {
        background-size: 40px;
    }
    .index--first-part .container .row .col-sm-9 .col-sm-8 p {
        margin-top: 10px;
    }
    .index--first-part .col-sm-9>.search-layout>.row {
        margin-bottom: 0;
    }
    .con-none {
        margin-bottom: 10px;
    }
    .container .row .floatright {
        float: inherit;
    }
    #down_tanchu {
        width: 100%;
        height: auto;
        padding: 30px 0 40px 0;
        max-width: 300px !important;
        min-width: 300px !important;
        background-color: #eee;
        border-radius: 8px;
        overflow: hidden;
    }
	.indiv-form {
        margin-left: 0;
    }
    .indiv-form label {
        width: 100%;
        min-width: 140px;
        display: block;
        text-align: left;
        margin: 5px 0;
        float: inherit;
    }
    .indiv-form input[type="text"],
    .indiv-form select {
        width: 100%;
    }
    .down_line {
        width: 88%;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
    }
    .gg_listtel ul {
        margin-top: 10px;
    }
    .gg_listtel ul li {
        list-style: none;
        float: left;
        padding-right: 4px;
        line-height: 24px;
    }
    .solCategory-v .videos-list {
        margin-bottom: 0;
    }
     .img-list ul {
        float: left;
        width: 100%;
        height: auto;
    }
    .sub-info {
        display: block !important;
    }
    .img-list ul li {
        padding: 0 15px;
        position: inherit;
        display: block;
    }
    .img-list ul li img {
        width: 100% !important;
        height: auto !important;
        max-width: 100%;
        max-height: 100%;
    }
    .col-xs-8>.tx_txt>p {
        margin-top: -10px;
    }
    .pd_b_15 {
        padding-bottom: 0;
    }
    .product_case_studies>.container>.row>.col-sm-6 .col-xs-8 p {
        margin-top: -5px !important;
    }
    h2.title {
        font-size: 28px;
        line-height: 130%;
    }
    .new_silder1 .carousel-inner .item {
        height: auto;
        padding-top: 68.25%;
    }
    .solution-nav {
        display: none!important;
    }
    .solCategory h3.specal {
        display: none !important;
    }
    .solCategory .collapse {
        visibility: visible;
    }
    .container .col-sm-9 .text-img {
        float: none;
        margin: 0;
    }
    .container .col-sm-9 .text-img img {
        margin: 0 auto;
    }
    .icon_top {
        cursor: pointer;
        width: 60px;
        height: 60px;
        background: url(/Assets/CBG/img/hw1_sprite.png) no-repeat -135px 0;
        position: relative;
    }
    .icon_top:hover {
        cursor: pointer;
        width: 60px;
        height: 60px;
        background: url(/Assets/CBG/img/hw1_sprite.png) no-repeat -135px 0;
        position: relative;
    }
    /* niefang 2015512 bof*/	
 .mobile-topbor{
		border-top:2px solid #3333ff;
		width:100%;
		border-bottom: 1px solid #ededed;}
	.mobile-imghover{
		margin-top:8px;
		display:none;}
	.mobile-imgnohover{
		margin-top:8px;
		display:block;}
	.mobile-consumer:hover img.mobile-imghover,.mobile-enterprise:hover img.mobile-imghover,.mobile-carrier:hover img.mobile-imghover{
		display:block;}	
	.mobile-consumer:hover img.mobile-imgnohover,.mobile-enterprise:hover img.mobile-imgnohover,.mobile-carrier:hover img.mobile-imgnohover{
		display:none;}				
	.mobile-consumer p,.mobile-enterprise p,.mobile-carrier p{
		color: #999;
		text-align: center;
		font-size: 14px;
		margin-top:0;
		margin-bottom:2px;
		}
	.mobile-consumer:hover p,.mobile-enterprise:hover p,.mobile-carrier:hover p{
		color: #fff;
		}	
	.a-blockposition{
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		right:0;
		background-image:url(about:blank);
		}		
	.mobile-consumer:hover{
		background-color:#3399ff;}	
	.mobile-enterprise:hover{
		background-color:#3399ff;}	
	.mobile-carrier:hover{
		background-color:#3399ff;}	
	/* niefang 2015512 eof */
	/* niefang 2015514 bof */
	.win-videobox{
		margin-bottom:20px;}
	.win-title-backgrand{
		display:none;}
.win-videobox h3{
	position: inherit;
	z-index: 999;
	color: #fff;
	padding: 15px 20px;
	line-height:inherit;
	height:inherit;
	background-color:#333;}	
	/* niefang 2015514 eof */
	/* niefang 2015519 bof */
	.winwin-footer .left{
	display:block !important;}	
	.winwin-footer .left_inner div{
	width: 100% !important;
	padding-bottom: 5px;
	margin-bottom: 5px;}
	#footer.winwin-footer .left_inner label {
 	font-weight: normal !important; 
 	padding-bottom: 5px;	
	border-bottom: 1px solid #535353;
    cursor: pointer;
	}
	#footer.winwin-footer .left_inner.row{
	margin-left: 0;
	margin-right: 0;
	}	
	.homepageicon{
	background:url(/Assets/CBG/img/winwin_home_icon.png) no-repeat 0 0;
	vertical-align: middle;
	margin-left: -25px;
	padding-right: 25px;}
	.no-border{
	border: none !important;}
	.win-foot-border-top{
	border-top: 1px solid #6e6e6e;}	
	.col-xs-12.no-border>a{
	position:relative;
	z-index:99;
	display:block;
	cursor: pointer !important;
	vertical-align:middle;}
	.col-xs-12.no-border>a>label{cursor: pointer !important;}
	/* niefang 2015519 eof*/
	/* niefang 2015525 bof*/
	.corporate-pb, .gallery-pic {
	padding-bottom: 0;
	}
	.table-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: 1px solid #ddd;}
	.table-responsive>.table>tbody>tr>td,
	.table-responsive>.table>tbody>tr>th,
	.table-responsive>.table>tfoot>tr>td,
	.table-responsive>.table>tfoot>tr>th,
	.table-responsive>.table>thead>tr>td,
	.table-responsive>.table>thead>tr>th{
		white-space: nowrap;}
	.table.security>tbody>tr>td,
	.table.security>tbody>tr>th,
	.table.security>thead>tr>th,
	.table.security>thead>tr>td{	
		padding: 8px;
		}
	.table.security>tbody>tr>td,
	.table.security>tbody>tr>th,	
	.table.security>thead>tr>td{
		word-wrap: break-word;
		word-break: break-all;
		}	
	/* niefang 2015525 eof*/	
    /* niefang 2015602 bof*/
	.js-contact-content{
		margin-bottom:20px;
	}
	.js-contact-form select{
		margin-bottom: 10px;	
	}
	/* niefang 2015602 eof*/
    .login-info-cell .infor-write .col-sm-4.input-check{padding-right:15px;}
    .login-info-cell .infor-write .col-sm-6{padding-left:15px;}
    .login-info-cell .custom-combobox{width:100%;}
	.login-info-cell .custom-combobox .ui-corner-left{width:90%;}
	.login-info-cell .custom-combobox .ui-corner-right{width:9.8%;}
    .login-info-cell .infor-write .input-check .fixed{width:100%;}
    .login-info-cell .infor-write{ margin-bottom:5px;}
	.login-info-cell .infor-write .name span.red{float:left;}
	.login-info-cell .infor-write .name span{float:left;}
	.login-info-cell .infor-write .name{float:none; display:inline-block;}
    .login-info-cell .expand-more a i{padding-left:0;}
    .login-info-cell .infor-write .input-check input.email{margin-bottom:0;}
    .login-info-cell .ver-code-img{float:left;}
    .login-info-cell .infor-write .col-sm-4.screen{padding-right: 15px;}
	.login-info-cell .field_message{padding-left:15px !important;}
    .login-info-cell .input-code >div{ clear:both; display:inline-block;padding-top:6px; }	
        .row.win-rightgray.win-rightgray-bg {
        background: none;
        border-bottom: 2px solid #2ca8d2;
    }
    .row.win-rightgray.win-rightgray-bg .col-sm-12.col-md-8 {
        padding: 0;
    }
    .row.win-rightgray.win-rightgray-bg .col-xs-4 {
        padding: 0;
    }
}
/* ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.win-rightgray h3{
		line-height: 24px;
		max-height: 48px;}
.press-rightgray .win-rightgray {
padding: 0.2em 0;
}	
	.press-rightgray .win-rightgray .col-sm-12{
		overflow:hidden;}	
    #tab_main_nav_mobile_container{
		width:54%;}
    #tab_main_nav_mobile_container ul li.hasmore i {
        /*position: absolute;
        left: 35%;*/
    }
    #container.mobile-menu-open,#footer.mobile-menu-open, .share_nullbox.mobile-menu-open {
        left: -54% !important;
    }
    .ipad-col-sm-12 {
        width: 100%;
        margin-top: 30px;
    }
    #tab_main_nav_mobile_container.mobile-menu-open,
    #tab_main_nav_mobile_next_container.mobile-menu-open {
        right: 0 !important;
        box-shadow: -5px 0px 10px rgba(0, 0, 0, .2);
    }
    .banner_list li {
        background-size: cover;
    }
    .news-item-box li {} .group-index-banner .item {
        height: 420px;
        background-size: auto 100%;
    }
    #tab_main_nav_mobile {
        display: table-cell !important;
        vertical-align: middle;
        text-align: center;
    }
	.change-password .input-name{
		height:inherit;
		font-size: 16px;}
	.input-prompt{
		line-height:inherit;}
	.group-news .row .col-xs-2 {
		padding-right: 0;
	}
	.group-news .row .col-xs-1 {
		padding-left:0;
	}
	/* niefang 2015512 bof*/	
 .mobile-topbor{
		border-top:2px solid #3333ff;
		width:100%;
		border-bottom: 1px solid #ededed;}
	.mobile-imghover{
		margin-top:8px;
		display:none;}
	.mobile-imgnohover{
		margin-top:8px;
		display:block;}
	.mobile-consumer:hover img.mobile-imghover,.mobile-enterprise:hover img.mobile-imghover,.mobile-carrier:hover img.mobile-imghover{
		display:block;}	
	.mobile-consumer:hover img.mobile-imgnohover,.mobile-enterprise:hover img.mobile-imgnohover,.mobile-carrier:hover img.mobile-imgnohover{
		display:none;}				
	.mobile-consumer p,.mobile-enterprise p,.mobile-carrier p{
		color: #999;
		text-align: center;
		font-size: 14px;
		margin-top:0;
		margin-bottom:2px;
		}
	.mobile-consumer:hover p,.mobile-enterprise:hover p,.mobile-carrier:hover p{
		color: #fff;
		}	
	.a-blockposition{
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		right:0;
		background-image:url(about:blank);
		}	
	.mobile-consumer:hover{
		background-color:#3399ff;}	
	.mobile-enterprise:hover{
		background-color:#3399ff;}	
	.mobile-carrier:hover{
		background-color:#3399ff;}		
	/* niefang 2015512 eof*/
}
@media (min-width: 361px) and (max-width: 767px) {
    .group-index-banner .item {
        height: auto !important;
        background: no-repeat center top;
        background-size: 100%;
        padding-top: 18.25%;
    }
}
/* lte ipad */
@media (max-width: 991px) {
.qr-code img,.qr-code p{display:none;}
.winwin-text .down-link{margin-bottom:12px;}
.winwin-text .qr-code{padding-left:15px;}
    #tab_main_nav_close_mobile {
        margin-top: 0;
        vertical-align: middle;
        z-index: 999;
        width: 20px;
        right: 25px;
        top: 10px;
		float:right;
    }
    .search-header {
        background: #999;
        overflow: hidden;
    }
    .search-header div {
        border: 1px solid #ededed;
        border-radius: 5px;
        text-align: right;
        background: #fff;
        margin: 8px 10px;
        padding-right: 15px;
    }
    .search-header div input {
        border-radius: 5px;
        width: 88%;
        outline: none;
        resize: none;
        height: 36px;
        border: none;
        padding-left: 5px;
    }
    .search-header div a {
        display: inline-block;
        height: 100%;
        padding-left: 5px;
        width: 10%;
    }
    #tab_main_nav_mobile_container ul li.search {
        height: 40px;
        padding: 0px 20px 0;
        margin-top: 10px;
    }
    .footer-icon-top img {
        margin: auto;
        width: auto;
    }
    #footer .bottom_right,
    #footer .right {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}
/*dwx272160 2015-1-15*/
@media (min-width: 768px) and (max-width: 991px) {
    #tab_main_nav_mobile {
        display: table-cell !important;
        vertical-align: middle;
        text-align: center;
        padding-left: 15px;
        width: 10%
    }
    .img-list ul {
        height: 170px;
    }
    .img-list ul li img {
        max-height: 130px;
        height: 100px;
    }
    .new_silder1 .carousel-inner .item {
        background-size: cover;
    }
    .pd_b_15 {
        padding-bottom: 0;
    }
    #footer .bottom_right ul li {
        margin-right: 3px;
    }
    #footer .bottom_right ul li:not(:last-child):after {
        content: '|';
        padding-left: 7px;
    }
}
@media only screen and (max-width: 480px) {
    .container .row .col-sm-9 span img {
        width: 35%;
        margin: 0 10px 0 0;
        padding-top: 6px;
    }
}
@media only screen and (max-width: 430px){
  .ver-code-img{padding-left:0}
  .login-info-cell .input-code >div{ padding-top:10px;}
}
/*end dwx272160*/
@media (min-width: 768px) {
    .lt-img-rt-tx .col-sm-6>.row>.col-xs-7>h3 {
        margin-bottom: 10px;
        font-size:16px;
        font-weight:bold;
    }
    .lt-img-rt-tx .col-sm-6>.row>.col-xs-7>p {
        margin-top: 0;
    }
    .mb24 .col-xs-7>h3 {
        margin-top: -5px;
    }
    .sm_tiele1 {
        display: none;
    }
    .sm_tiele {
        display: block;
        margin-top: 12px;
    }
}
@media only screen and (min-width: 1025px) {
    #nav-cont .nav-list ul li a,
    #nav-cont .nav-list ul li span {
        font-size: 16px !important;
    }
}
@media (min-width: 1200px) {
    .select-text {
        width: 235px !important;
    }
    #nav-cont .nav-list ul li a {
        display: block;
        float: left;
        margin-left: 33px;
        height: 52px;
    }
}
/*logo navigations bar*/
@media (min-width:992px){
.win-rightgray{padding:1.1em 0 .8em;}
.press-rightgray .win-rightgray {
padding: 0.56em 0;
}
	.win-rightgray h3{height:auto;line-height:28px;}
    #nav-wrap .logo{
        margin: 10px 0;
    }
    #nav-wrap .quicktools{
        margin-right: 15px;
        margin-top: 25px;
    }
    .container .row .col-sm-9 .search-layout .search-bar .text_2 {
        width: 92.5%;
    }
    .hirp-open-cate .sub-cate a {
        float: left;
    }
}
/*begin*/
@media (max-width: 767px) {
.banner {
    min-height: 680px;
}
.row > [class*=col-] {
margin-top: 15px;
}
.banner-bigfonts {
	font-size: 40px;
}
.banner-smallfonts {
	font-size: 24px;
}
.fonts-p {
	font-size: 18px;
}
}
/*==S approveuser*/
@media (max-width:768px){
.warranty_bar select{width:100%; margin-bottom:10px}
.warranty_bar input[type="text"]{ margin-left:0;width:88%}
}
@media (max-width:640px){
.moudle_con li{width:100%}
.warranty_bar input[type="text"]{width:75%}
.warranty_bar input[type="button"]{width:20%}
}
/*==E approveuser*/
/* end*/
@media only screen and (max-width:340px){
.partner-list-box .partner-list-title{font-size:18px;}
}
/*banner*/
@media (max-width: 767px) {
.group-index-banner .item, .fbb-index-banner .carousel-inner .item {
height: 640px !important;
padding-top: 0;
}
}
@media (max-width: 480px) {
.group-index-banner .item, .fbb-index-banner .carousel-inner .item {
height: 380px !important;
padding-top: 0;
}
}
@media (max-width: 320px) {
.group-index-banner .item, .fbb-index-banner .carousel-inner .item {
height: 360px !important;
padding-top: 0;
}
}