@font-face {font-family: "VO";src: url("../../fonts/ge-ss-two-medium.eot?") format("eot"), url("../../fonts/ge-ss-two-medium.woff") format("woff"), url("../../fonts/ge-ss-two-medium.ttf") format("truetype"), url("../../fonts/GE_SS_Two_Medium.svg#GESSTwoMedium-Medium") format("svg");font-weight: 700;font-style: normal}
* { margin: 0; padding: 0}
*,*:after,*:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;margin: 0}
a {padding: 0; margin: 0;transition: all 0.3s ease 0s;text-decoration: none;}
a:hover,a:focus,a:active { text-decoration: none; color: #fff; outline: 0}
a img {border: none;vertical-align: bottom;text-decoration: none}
h1,h2,h3,h4,h5,h6 {color: #4f4f4f;font-family: "VO", Helvetica, Arial, sans-serif; margin: 0}
a img {border: none}
ul,ol,dl {    margin-left: 30px}
ul,ol,dl { margin-bottom: 1.25em;font-family: "VO", Helvetica, Arial, sans-serif}
ul,ol { margin-left: 0}
ul.no-bullet,ol.no-bullet { margin-left: 0}
ul li ul,ul li ol {margin-left: 1.25em;margin-bottom: 0}
ol li ul,ol li ol {margin-left: 1.25em;margin-bottom: 0}
html {overflow-x: hidden;overflow-y: auto}
html,body {height: 100%}
div.body {height: 100%;width: 100%}
img {height: auto; max-width: 100%}
.alert {
    margin: 10px 0 0 0;
    text-align: right;
    direction: rtl
}
.alert h2 {
    font-size: 16px
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 15px
}
body {
    font-family: "VO", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    color: #656565;
    background:rgb(56, 34, 75);
    background: linear-gradient(0deg, rgba(56, 34, 75, 0.5), rgba(56, 34, 75, 0.5)), url('../images/bg.png');
    direction: rtl;
}
.boxVideos iframe,
.boxVideos video,
.boxVideos object {
    width: 100%;
    height: 100%;
    border: 0
}
.fRight {
    float: right
}
.fLeft {
    float: left
}
.boxRight,
.boxCenter,
.boxLeft {
    text-align: right;
    overflow: hidden
}
.boxRight {
    margin: 10px 0 10px -10px
}
.boxCenter,
.boxLeft {
    margin: 10px 0px 15px -10px
}
.boxAdLeft {
    position: relative;
    margin: 10px -10px 10px 0px;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.32);
    border-radius: 2px;
    background: rgba(53, 33, 70,.5);
}
.boxAdRight {
    position: relative;
    margin: 10px 0px 10px -10px;
    background: #333;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.32);
    border-radius: 2px;
    background: rgba(53, 33, 70,.5);
}
.boxAdCenter {
    background: rgba(53, 33, 70,.5);
    text-align: center;
    margin: 10px -6px 0 -6px;
    padding: 10px;
    border-radius: 2px;
    display: block;
    overflow: hidden
}
.boxAdTop {
    background: rgba(53, 33, 70,.9);
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    display: block;
    overflow: hidden
}
.boxFullWidth {
    background-color: #3e3e3e;
    border-radius: 2px;
    padding: 10px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 10px -6px 0 -6px
}
/****************************************
BEGIN NAV
*****************************************/
.artRow{
    position: relative;
}
.header{
    background: #433664;  
    background: rgba(67, 54, 100,.6);  
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden; 
    -webkit-animation: bgscroll 30s infinite linear;
    -moz-animation: bgscroll 30s infinite linear;
    -ms-animation: bgscroll 30s infinite linear;
    box-shadow: 0px 0px 10px rgba(79, 59, 120, 0.87);
} 
.headerRight{
    position: absolute;
    right:-10%;
    background: #4F3B78;
    padding:10px 100px 10px 0;
    width: 450px;
    height: 100%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(360px,0,0);
    transform: translate3d(360px,0,0);
}
.HR{
    -webkit-transform:translate3d(0,0,0) skew(-30deg);
    transform: translate3d(0,0,0) skew(-30deg);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.headerLeft{
    position: absolute;
    left:-10%;
    background: #4F3B78;
    width: 400px;
    height: 100%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-360px,0,0);
    transform: translate3d(-360px,0,0);
}
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: scale(1.1);
    transition: .3s all ease;
    display: inline-block;
    visibility: hidden;
    opacity: 0
}
#search.open {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1);
    opacity: 1;
    visibility: visible
}
#search .btn {
    height: 45px;
    padding: 0 25px
}
#search .input-group {
    direction: ltr;
    width: 50%;
    margin: 0 auto;
    margin-top: 20%
}
#search .input-group .form-control {
    height: 45px;
    text-align: right;
    font-size: 15px
}
#search .form-control {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: right;
    float: left;
    background-color: #f5f5f5;
    border: 1px solid #f1f1f1;
    font-size: 12px;
    direction: rtl
}
#search .form-control:focus {
    border-color: #fff
}
#search .btn-primary {
    background: #4F3B78 !important;
    border-color: #4F3B78 !important
}
.logo{
    position: relative;
    text-align: right;
    padding:40px 120px 10px 0;
}
.logo img {
    max-width: 200px;
    height: auto;
    transform: skew(30deg);
}
/****************************************
BEGIN SLIDE
*****************************************/
.slide,.seeAlso {
    max-height: 375px;
    min-height: 375px;
    margin: 0;
    padding: 10px 0 0 0;
    background: #342146;
    overflow: hidden;
    direction:ltr;
}
.slide .owl-prev,.seeAlso .owl-prev{
    left: 0
}
.slide .owl-next ,.seeAlso .owl-next{
    right: 0
}
.slide .owl-prev,
.slide .owl-next ,.seeAlso .owl-prev, .seeAlso .owl-next{
    position: absolute;
    top: 40%;
    height: 60px;
    width: 50px;
    text-align: center;
    font-size: 40px;
    background: #A81F6A;
    background: -webkit-linear-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);
    background: radial-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);
    color: #FFFFFF;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.87);
    padding-top: 5px
}
.slide .owl-prev i,
.slide .owl-next i, .seeAlso .owl-prev i, .seeAlso .owl-next i{
    margin-top: 5px
}
.boxSlide {
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    background: #000;
    max-width: 300px;
}
.boxSlide img {
    position: relative;
    height: 350px;
    width: 100%;
    transition: all ease-out 0.3s;
    transform: scale(1.15);
}
.boxSlide:hover img {
    opacity: 0.3;
    transition: all ease-out 0.3s;
    transform: scale(1);
}
.boxSlide .info {
    position: absolute;
    font-size: 13px;
    text-align: center;
    word-spacing: 0.1em;
    color: #fff;
    right: 0;
    top: 0;
    margin: 0;
    padding: 10px 10px 5px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: #AF2470;
    transform: translate(0,0) scale(0);
    transition:transform .2s ease 0s;
    overflow: hidden;
    z-index: 10
}
.boxSlide:hover .info {
    left: 0;
    opacity: 1;
    transform:translate(0,0) scale(1);
    transition: all 0.2s ease-in-out;
}
.boxSlide .cat {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    left:-40%;
    top: 25%;
    background: #4F3B78;
    margin: 0 3px 3px 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: 13px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .18);
    border-radius: 2px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0) ;
}
.boxSlide:hover .cat {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left:0;
    visibility: visible;
}
.boxSlide .views {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    right: 0;
    bottom: 30%;
    background: #AF2470;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .18);
    border-radius: 2px;
    transform: translate(0,0) scale(0);
    transition:transform .2s ease 0s;
}
.boxSlide:hover .views {
    visibility: visible;
    transform:translate(0,0) scale(1);
    transition:transform .2s ease .2s;
}
.boxSlide .desc {
    background-color: #4F3B78;
    border-top: 2px solid rgba(66, 66, 66, .95);
    position: absolute;
    color: #fff;
    font-size: 12px;
    text-align: center;
    z-index: 200;
    padding: 10px 5px;
    line-height: 27px;
    left: 0;
    right: 0;
    bottom: -240px;
    overflow: hidden;
    transition: .3s all ease
}
.boxSlide:hover .desc {
    bottom: 0
}
.desc .descraption {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 27px
}
.artItem {
    position: relative;
    min-height: 200px;
    overflow: hidden
}
.featured_title{
    width:150px;
    margin:20px 10px 0px 10px;
    padding: 10px 15px;
    font-size:20px;
    font-weight: bold;
    color: #fff;
    background: #4F3B78;
    border-radius: 2px;
    display: block;
    cursor: pointer;
}
.rec {
    position: relative;
    width: 100%;
    color: #fff;
    text-align: right;
    font-size: 14px;
    overflow: hidden;
    color: #fff;
    text-align: right;
    font-size: 14px;
    overflow: hidden;
   
}
.rec ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}
.rec ul li {
    float: right;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-radius: 4px;
    margin:15px 5px 5px 5px;
    padding: 12px 15px;
    background: #4F3B78;
}
.rec ul li.active,
.rec ul li:hover {
    color: #fff;
    background:#AF2571  ;
}
.rec ul li.active a,
.rec ul > li > a:hover {
    color: #fff;
    
}
.rec ul li a {
    width: 100%;
    display: block;
    line-height: 25px;
    font-size: 16px;
    color: #fff;
   
}
.cate {
    position: relative;
    display: block;
    float: right;
    padding: 15px 15px;
    margin: 10px 0 0 0;
    background: #A81F6A;
    background: -webkit-linear-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);
    background: radial-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);
    box-shadow: 3px 3px 6px #A81F6A inset;
    border-radius: 4px
}
.cate:hover {
    background: #4F3B78;
    box-shadow: 3px 3px 6px rgba(55, 43, 79,.6) inset
}
.cate a {
    color: #fff;
    font-size: 16px
}
#breadcrumbs {
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #fff;
    text-align: right;
    font-size: 14px;
    background: #413460;
    background: #5F4B92;
    background: -webkit-linear-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
    background: radial-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
    border-top: 2px solid #5F4B92;
    border-bottom: 2px solid #413460;
}
.breadcrumb {
    font-family: VO, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    overflow: hidden;
    padding:15px 0;
    border-radius: 0;
    margin: 0;
    position: relative;
    list-style: none;
    background: none
}
.breadcrumb > li > a {
    font-size: 15px;
    color: #f5f5f5
}
.breadcrumb > li + li::before {
    padding: 0 1px;
    color: #f5f5f5;
    content: ">"
}
.breadcrumb > .active a {
    color: #FFE37C;
    cursor: pointer
}
ol li a:hover,
.breadcrumb > .active a:hover {
    color: #F2C479
}
.cover {
    padding: 0;
    position: relative;
    overflow: hidden
}
.postCover {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(244, 242, 242, 0.5);
    background-position: 50% 30%;
    filter: brightness(20%) blur(5px);
    -moz-filter: brightness(20%) blur(5px);
    -webkit-filter: brightness(20%) blur(5px);
    -ms-filter: brightness(20%) blur(5px);
    -o-filter: brightness(20%) blur(5px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -30px;
    z-index: -1
}
.postImg {
    position: relative;
    cursor: pointer
}
.postImg img {
    width: 100%;
    height: 400px;
    min-height: 400px;
    border: 3px solid #ddd
}
.postImg .views {
    position: absolute;
    top: 3px;
    right: 3px;
    background: rgba(163, 23, 23, .99);
    padding: 8px 10px;
    font-size: 18px;
    color: #fff
}
.postImg .rate {
    position: absolute;
    bottom: 3px;
    right: 3px;
    left: 3px;
    height: 30px;
    display: block;
    background: #352146;
    margin-left: 0px;
    text-align: center;
    padding: 2px 10px
}
.postTitle {
    position: relative;
    overflow: hidden;
    border-radius: 2px
}
.postTitle h1 {
    font-size: 20px;
    color: #FFE37C;
    line-height: 35px
}
.postTitle h2 {
    padding-top: 10px;
    font-size: 16px;
    color: #fff;
    line-height: 35px
}
ul.details {
    list-style: none
}
ul.details li {
    display: inline-block;
    background: rgba(58, 71, 143, 0.9);
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    margin-left: 3px;
    padding: 5px 10px;
    margin-top: 5px
}
.heroes {
    color: #fff;
    font-size: 13px;
    padding: 10px 0
}
.heroes span:nth-of-type(1),
.postStory span:nth-of-type(1) {
    color: #FFE37C;
    display: block;
    font-size: 16px
}
.heroes span:nth-of-type(2) {
    display: block;
    padding-top:11px
}
.heroes span a {
    margin-left: 3px;
    padding: 4px 6px;
    color: #fff;
    box-shadow: inset 0px 0px 100px rgba(6, 5, 6, .3);
    border-radius: 2px;
    background: #AF2471;
    line-height: 35px;
    
}
.postStory {
    position: relative;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    padding: 10px 0 0 0;
    width: 95%
}
.postStory span:nth-of-type(1){
    color: #FFE37C;
    display: block;
    font-size: 15px
}
.postStory span:nth-of-type(2){
    color: #fff;
    display: block;
    font-size: 13px;
}
.direct_video button,
.serveDown {
    position: relative;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    margin: 0px 0 10px 20px;
    text-align: center;
    border-bottom: 10px solid rgba(0, 0, 0, .15);
    border: none;
    display: block;
    width:200px;
    height: 60px;
    line-height: 35px;
    float: right;
    cursor: pointer
}
.direct_video button {
    background: #cb2027
}
.serveDown {
    background: #4F3B78
}
.serveDown:hover {
    background: #352146
} 
.direct_video button:hover {
    background: #851C57
}
ul.blog-details {
    list-style: none;
    border-radius: 2px;
    height: 100%;
    margin-bottom: 0px;
    padding: 0px 0 10px 0
}
ul.blog-details li {
    margin-bottom: 5px;
    padding:8px 10px;
    box-shadow: inset 0px 0px 100px rgba(6, 5, 6, .3);
    border-radius: 2px;
    display: inline-block;
    background: #AF2471;
    margin-left:3px;
}
ul.blog-details li:last-child {
    margin-bottom: 0;
    padding-bottom: 5px
}
ul.blog-details li span {
    font-size: 14px;
    color: #DCC152
}
ul.blog-details li a {
    display: inline-block;
    color: #fff;
    line-height: 100%;
    padding:5px;
    font-size: 13px;
    background: #CE4492;
    box-shadow: inset 0px 0px 100px rgba(6, 5, 6, .3);
    border-radius: 2px;
}
.boxTags {
    position: relative;
    width: 100%;
    background: #342146;
    border-top: 2px solid #342146;
    list-style: none;
    padding-top: 8px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 120px;
}
ul.tags li {
    display: inline-block; 
    background:#AF2471;
    border-radius: 2px;
    margin-left: 5px;
    padding: 5px 8px;
    margin-top: 5px
}
ul.tags li:hover {
    background: #4F3B78;
}
ul.tags li a {
    color: #fff;
    font-size: 12px;
    text-align: center
} 
ul.download {
    position: relative;
    list-style: none;
    position: relative;
    text-align: center
}
ul.download li {
    background: #4F3B78;
    transition: .4s all ease;
    margin-left: 10px;
    padding: 8px 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .60);
    display: inline-block;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    min-width: 160px;
    border: 2px solid #fff
}
ul.download li:hover {
    border: 2px solid #fff;
    background: #AA206B;
}
ul.download li a {
    display: block;
    font-size: 16px;
    color: #fff;
    line-height: 35px;
    width: 100%
}
ul.download li i {
    padding-left: 5px;
    font-size: 22px;
    color: #fff
}
#popup { 
    position: relative;
    color: #111;
    overflow: hidden;
    padding: 20px 20px 0 20px;
    -moz-perspective: 300px;
    -webkit-perspective: 300px;
    perspective: 300px;
    background: #ECF0F1;
    border: 4px solid #BDC3C7;
    box-shadow: inset 0px 0px 100px #555;
} 
.b-close {
    position: absolute;
    background: #BDC3C7;
    left:-5px;
    text-align: center;
    top:-10px;
    padding-top:3px;
    cursor: pointer;
    color: #CC181E;
    width:25px;
    height:25px;
    border-radius: 50%;
    opacity: 1;
    font-size:16px;
    z-index: 20;
}
#downloadPopUp,#trailerPopUp {
    display: none
}
.boxes-popup {
    width:800px;
    background: #f1f1f1;
    margin: 0 auto
}
.popup-content,.popupContentVideo {
    padding: 8px 0;
    height: auto
}
.trailer{
    position: absolute;
    display: block;
    text-align: center;
    left:3px;
    bottom:50px;
    right:3px;
    top:3px;
    z-index: 15;
    cursor: pointer; 

}
.boxRight:hover .trailer {
    visibility: visible;
} 
.trailer i{
    padding:10px 10px 8px 20px; 
    margin-top:40%;
    color: #fff;
    font-size:80px;
    cursor: pointer;
} 
#popupVideo { 
    color: #111;
    overflow: hidden;
    padding:10px 10px 0 10px;
    -moz-perspective: 300px;
    -webkit-perspective: 300px;
    perspective: 300px;
    background: #ECF0F1;
    background: #000;
    border: 4px solid #BDC3C7;
    box-shadow: inset 0px 0px 100px #555;
    box-shadow: inset 0px 0px 100px #000
}

.PostRandom {
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 0px;
    display: inline-block;
    font-size:22px;
    color: #fff;
    line-height: 1.42857143;
    cursor: pointer;
    padding: 10px 40px;
    background: #342146;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
}
.PostRandom span:nth-of-type(1)  {
    content: "";
    background: transparent;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:2px solid #fff;
    position: absolute;
    display: block;
    left:20px;
    top:40%;
}
.PostRandom span:nth-of-type(2) {
    content: "";
    background: transparent;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    display: block;
    right:20px;
    top:40%;
}
.PostRandom:hover {
    color: #F2C07B;
}
.PostRandom div{
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #442D5B;
    padding: 10px 40px;
    border-radius: 4px;
}
.PostRandom div a{
    color: #fff;
}
.PostRandom div:hover{
    background: #A9206B;
    color: #F2C07B;
}
.PostRandom div.sub{
    background: #A9206B;
    color: #F2C07B;
}
.PostRandom div:hover a{
    color: #F2C07B;
}
.recommend {
    text-align: center;
}
.blog-details .social_position,
.blog-details .addthis {
    margin: 0;
    padding: 0;
    text-align: center;
}
.yfs{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-align: right;
    float: left;
    padding: 20px 10px;
}
 
.addthis_tag{
    float: left;
    margin: 10px 0 0 0;
    padding: 0;
}
.tagRow,.catRow,.serRow{
    background: rgba(53, 33, 70,.9);
}
.servers {
    position: relative;
    overflow: hidden;
    margin:10px 5px 0px 5px;
    padding: 0
}
.serverError {
    color: #B31B1B;
    font-size: 25px;
    line-height: 45px;
    border-radius: 2px;
    text-align: center;
    padding: 40px
}
.servers ul {
    padding: 10px 0 0 0;
    text-align: center;
    list-style: none;
    margin: 0
}
.servers ul li {
    background: #4F3B78;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .60);
    transition: .4s all ease;
    padding: 15px 0;
    min-width: 135px;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 8px
}
.servers ul li a {
    font-size: 16px;
    color: #fff
}
.servers ul li.selected {
    background: #A9206B;
    color: #fff
}
.fullWidth{
    width: 100%;
    padding: 0;
    margin: 0;
}
.boxVideos {
    background: rgba(53, 33, 70,.5);
    position: relative;
    margin: 10px 0px 10px 0;
    border: 10px solid  rgba(53, 33, 70,.5);
    position: relative;
    overflow: hidden;
    height: 520px;
    border-radius: 2px
}
.share {
    margin: 0;
    padding: 0;
    text-align: left;
    direction: rtl
}
.boxReport {
    position: relative;
    width: 100%;
    background: rgba(53, 33, 70,.5);
    border-bottom: 2px solid rgba(53, 33, 70,.5);
    border-top: 2px solid rgba(53, 33, 70,.5);
    list-style: none;
    padding: 10px;
    margin: 0px 0 10px 0;
    overflow: hidden;
    border-radius: 4px
}
.boxReport .rate {
    position: relative;
    float: left;
    display: block;
    background: rgba(79, 57, 102, 0.3);
    margin-left: 0px;
    text-align: left;
    padding: 10px;
    border-radius: 4px
}
.formReport {
    margin: 0px 10px 0 10px
}
.formReport button {
    float: right;
    background: #B31217;
    border-radius: 2px;
    text-align: center;
    moz-box-box-shadow: 0px 2px 3px RGBa(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 2px 3px RGBa(0, 0, 0, 0.55);
    box-shadow: 0px 2px 3px RGBa(0, 0, 0, 0.55);
    padding: 8px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-color: transparent;
    width: 150px
}
.formReport button:hover {
    background: #9C1515
}
.formSend {
    background: rgba(53, 33, 70,.5);
    text-align: right;
    margin: 10px 0 6px;
    padding: 10px 12px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    display: block
}
.formSend .form-control {
    border-radius: 2px;
    border: 1px solid #fff
}
.formSend input[type="text"],
.formSend input[type="email"] {
    height: 45px
}
.formSend label {
    padding-top: 10px;
    font-size: 14px;
    color: #fff
}
.formSend input[type="submit"],
.formSend input[type="reset"] {
    font-size: 16px;
    padding: 8px 25px;
    margin: 10px 0 10px 5px;
    border-radius: 2px;
    background: #5B4790;
    color: #fff;
    border: none;
    outline: 0 !important
}
.formSend input[type="reset"] {
    background: #A7236B
}
.episodes {
    background: rgba(52, 33, 68,.6);
    height: 520px;
    text-align: center;
    overflow: auto;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.32);
    border-radius: 2px
}
.episodes h2 {
    background: #4F3B78;
    color: #fff;
    font-size: 18px;
    line-height: 45px;
    border-radius: 2px
}
.episodes ul {
    list-style: none;
    padding: 10px 0 0 0;
    position: relative
}
.episodes ul li {
    background: #A9206B;
    font-size: 16px;
    color: #fffcfc;
    transition: .4s all ease;
    padding: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .60);
    display: inline-block;
    width: 100%;
    cursor: pointer;
    line-height: 35px;
    overflow: hidden;
    text-align: center;
    border-radius: 2px
}
.episodes ul li a {
    color: #fff
}
.episodes ul li.active a {
    color: #fff
}
.episodes ul li.active {
    background: #4F3B78;
}
.boxes,
.boxes5 {
    position: relative;
    background: #141414;
    overflow: hidden;
    -moz-box-box-shadow: 0px 1px 6px RGBa(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 1px 6px RGBa(0, 0, 0, 0.55);
    box-shadow: 0px 1px 6px RGBa(0, 0, 0, 0.55);
    margin: 15px -4px 3px -4px;
    border: 3px solid #fff;
    z-index: 100
}
.boxes .hover,.boxes5 .hover{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(65, 52, 96,.6);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.boxes:hover .hover, .boxes5:hover .hover{
    -webkit-animation: circle .75s;
    animation: circle .75s;
}
.boxes img {
    max-height: 370px;
    min-height: 370px;
    width: 100%;
    opacity: 0.95;
    transition: all ease-out 0.3s;
    transform: scale(1.15);
}
.boxes5 img {
    max-height: 350px;
    min-height: 350px;
    width: 100%;
    opacity: 0.95;
    transition: all ease-out 0.3s;
    transform: scale(1.15);
}
.boxes:hover img,
.boxes5:hover img {
    opacity: 0.2;
    transition: all ease-out 0.3s;
    transform: scale(1);
}
.boxes .info,
.boxes5 .info {
    position: absolute;
    padding: 10px 10px 10px 0;
    display: inline-block;
    text-align: right;
    color: #fff;
    font-size: 14px;
    background-color: #AE2470;
    z-index: 10;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-transform: perspective(600px) rotateX(-90deg);
    -moz-transform: perspective(600px) rotateX(-90deg);
    -ms-transform: perspective(600px) rotateX(-90deg);
    -o-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    opacity: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
 
.boxes:hover .info,
.boxes5:hover .info {
    opacity: 1;
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.boxes:hover .info::after,
.boxes5:hover .info::after {
    top: 100%
} 
.boxes:hover .pin,
.boxes5:hover .pin {
    visibility: hidden
}
.boxes .views,
.boxes5 .views {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    left: 0;
    border-radius: 2px;
    margin: 0 3px 3px 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    z-index: 12;
    transform: translate(0,0) scale(0);
    transition:transform .2s ease 0s;
}
.boxes:hover .views,
.boxes5:hover .views {
    transform:translate(0,0) scale(1);
    transition:transform .2s ease .2s;
    top: 2%;
    visibility: visible;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.boxes .desc,
.boxes5 .desc {
    position: absolute;
    padding: 10px ;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background-color: #4F3B78;
    z-index: 10;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: perspective(600px) rotateX(90deg);
    -moz-transform: perspective(600px) rotateX(90deg);
    -ms-transform: perspective(600px) rotateX(90deg);
    -o-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(90deg);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.boxes:hover .desc,
.boxes5:hover .desc {
    opacity: 1;
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.boxes .content p,
.boxes5 .content p {
    position: absolute;
    visibility: hidden;
    width: auto;
    border-radius: 2px;
    margin: 0 3px 3px 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: 13px;
    display: block
}
.boxes .content p:nth-of-type(1),
.boxes5 .content p:nth-of-type(1) {
    right: 0;
    background: #4F3B78;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    transform: translate(0,0) scale(0);
    transition:transform .2s ease 0s;
    text-align: center;
    z-index: 12
}
.boxes:hover .content p:nth-of-type(1),
.boxes5:hover .content p:nth-of-type(1) {
    -webkit-transition: .15s .8s all ease;
    -moz-transition: .15s .8s all ease;
    -o-transition: .15s .8s all ease;
    transition: .15s .8s all ease;
    transform:translate(0,0) scale(1);
    transition:transform .2s ease .2s;
    top: 50%;
    visibility: visible
}
.boxes .content p:nth-of-type(2),
.boxes5 .content p:nth-of-type(2) {
    left: 0; 
    background: #AE2470;
    webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    transform: translate(0,0) scale(0);
    transition:transform .2s ease 0s;
    text-align: center;
}
.boxes:hover .content p:nth-of-type(2),
.boxes5:hover .content p:nth-of-type(2) {
    --webkit-transition: .15s .8s all ease;
    -moz-transition: .15s .8s all ease;
    -o-transition: .15s .8s all ease;
    transition: .15s .8s all ease;
    transform:translate(0,0) scale(1);
    transition:transform .2s ease .2s;
    bottom: 52%;
    visibility: visible
} 
.pin {
    position: absolute;
    background: #D33E30;
    width: 430px;
    text-align: center;
    top: 12px;
    z-index: 5;
    left: -190px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    padding: 5px;
    transform: rotate(-45deg);
    -moz-transfrom: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.loadMore {
    position: relative;
    border: 2px solid #B12672;
    background: #B12672;
    width: 250px;
    font-size: 18px;
    margin: 10px auto;
    padding: 10px 0;
    display: block
}
.loadMore:hover,
.loadMore .btn-primary:hover {
    border: 2px solid #4F3B78;
    background: #4F3B78
}
/**************************************
  BEGIN SOCIAL
***************************************/
.boxSocialShare {
    position: relative;
    width: 100%;
    background: #4F3966;
    border-top: 1px solid #342146;
    border-bottom: 2px solid #4F3966;
    box-shadow:  0 0 10px #382C50;
    list-style: none;
    padding-top: 8px;
    margin: 0; 
}
.socialShare {
    color: rgb(126, 126, 126);
    display: block;
    height: auto;
    line-height:24px;
    margin-bottom: 10px;
    width: 100%;
    float:left;
    border: solid 0px #aaa;
    padding:0 ;
    text-align: left;
}
.socialShare i{
    text-align: left;
    float: left;
    font-size: 22px;
    line-height: 25px;
    padding-right: 5px;
}
.socialShare li { 
    display: inline-block;
    margin: 5px 0 5px 5px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.socialShare li a {
    text-decoration:none;
    display: block;
    padding-left: 20px;
    color: #FFFFFF !important;
    transition:background-color .3s; 
    overflow: hidden;
    font-size: 12px;
    border-radius: 2px;
}
.socialShare  .fb a {
    padding: 7px 10px 7px 15px;
    background: #3B5999 ; 
}
.socialShare  .tw a {
    padding: 7px 10px 7px 15px;
    background: #01BBF6 ;
}
.socialShare  .gplus a {
    padding: 7px 10px 7px 15px;
    background: #D54135 ;
}
.socialShare  .pinterest a {
    padding: 7px 10px 7px 15px;
    background: #CB2027 ;
}
.socialShare .fb a:hover {background-color: rgb(50, 75, 129);}
.socialShare .tw a:hover {background-color: rgb(1, 159, 211);}
.socialShare .gplus a:hover {background-color: rgb(191, 52, 40);}
.socialShare .pinterest a:hover {background-color: rgb(174, 28, 35);}
/****************************************
BEGIN LOADING
*****************************************/
#loading {
    position: relative;
    z-index: 1;
    text-align: center
}
#loading-center {
    width: 100%;
    height: 100%;
    position: relative
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 20px;
    width: 100px;
    margin-top: 100px;
    margin-left: -50px
}
.object {
    width: 20px;
    height: 20px;
    background: #fff;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    position: absolute
}
#object_one {
    -webkit-animation: object 2s linear infinite;
    animation: object 2s linear infinite
}
#object_two {
    -webkit-animation: object 2s linear infinite -.4s;
    animation: object 2s linear infinite -.4s
}
#object_three {
    -webkit-animation: object 2s linear infinite -.8s;
    animation: object 2s linear infinite -.8s
}
#object_four {
    -webkit-animation: object 2s linear infinite -1.2s;
    animation: object 2s linear infinite -1.2s
}
#object_five {
    -webkit-animation: object 2s linear infinite -1.6s;
    animation: object 2s linear infinite -1.6s
}
/****************************************
BEGIN REGISTER
*****************************************/
#register,#login{
    
}
#register,#login{
    position: relative;
    margin:20px 0 10px 0;
    border-radius: 4px;
    overflow: hidden;
    background: #F2F2F2;
    background: rgba(79, 59, 120,.3);
    padding:10px 15px;
   
}
#register h2,#login h2{
    font-size:20px;
    color: #fff;
    padding:20px 10px;
}
#register .form-control ,#login .form-control{
    border-radius: 2px;
    border: 1px solid rgba(53, 47, 66,.4)
}
#register input,#login input{
    height: 40px
}
#register label ,#login label{
    padding-top: 5px;
    font-size: 14px;
    color: #fff
}
#register input[type="submit"],#register input[type="reset"],#login input[type="submit"],#login input[type="reset"]{
    font-size: 16px;
    padding: 8px 25px;
    margin: 10px 0 10px 5px;
    border-radius: 2px;
    background: #d0312a;
    color: #fff;
    border: none;
    outline: 0 !important
}
#register input[type="submit"]:hover,#login input[type="submit"]:hover{
    background: #ed3838;
}
#register input[type="reset"],#login input[type="reset"]{
    background: #A01616
}

/****************************************
    BEGIN Menus
*****************************************/
button.btn-mobile {
    display: none; 
}
#right_main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0px;
    min-width: 5px;
    max-width: 60px;
    height: 100%;
    background: #5F4B92;
    background: -webkit-linear-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
    background: radial-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
    border-left: 2px solid #57438E;
    overflow: hidden;
    box-shadow:  0 0 10px rgba(126, 87, 194.3);
    z-index: 1000; 
    direction: rtl  ;
    text-align: right;

}
#main-content {
    position: absolute;
    top: 0px;
    left: 55px;
    right: 0px;
    height: 100%;
    padding: 10px;
}
#right_main ul {
    list-style: none;
    padding: 0px;  
}
#right_main ul li {
    white-space: nowrap;
    border-bottom:none;
    border-top: 1px solid rgba(120, 97, 183,.5);
}
#right_main ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    height: 45px;
    line-height: 45px;
    padding-left: 30px;
    width: 100%;
}
#right_main ul li a:before {
    display: inline-block;
    font-size:25px;
    color: #FFF;
    width: 60px;
    text-align: center;
    line-height: 45px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#right_main a.mainLogo{
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size:20px;
}
#right_main ul li:nth-of-type(1) a::before {
    content: "";
    background: url("../images/aflamonline.png") no-repeat;
    width:25px;
    height:25px;
    margin-top:2px;
    margin-right:18px;
    margin-left:18px;
}
#right_main ul li:nth-of-type(2) a::before{
    content: "\f015";
    font: normal normal normal 14px/1 FontAwesome;
    font-size:25px;
}

#right_main ul li:nth-of-type(4) a::before,
#right_main ul li:nth-of-type(7) a::before,
#right_main ul li:nth-of-type(9) a::before,
#right_main ul li:nth-of-type(12) a::before{
    content: "\f008";
    font: normal normal normal 14px/1 FontAwesome;
    font-size:20px;
}
#right_main ul li:nth-of-type(3) a::before,
#right_main ul li:nth-of-type(6) a::before,
#right_main ul li:nth-of-type(10) a::before,
#right_main ul li:nth-of-type(13) a::before{ 
    content: "\f03d";
    font: normal normal normal 14px/1 FontAwesome;
    font-size:20px;
}
#right_main ul li:nth-of-type(5) a::before,
#right_main ul li:nth-of-type(8) a::before,
#right_main ul li:nth-of-type(11) a::before,
#right_main ul li:nth-of-type(14) a::before{ 
    content: "\f16a";
    font: normal normal normal 14px/1 FontAwesome;
    font-size:20px;
}
#right_main ul li:last-of-type a::before{ 
    content: "\f0e0";
    font: normal normal normal 14px/1 FontAwesome;
    font-size:20px;
}

#right_main ul li a:hover {
    background-color: #CE4492;
    color: #fff;
}
#right_main ul li a:hover:before {
    color: #fff;
}
#right_main ul li a.active-tab {
    background-color: #FFF;
    color: #F80;
}
#right_main ul li a.active-tab:before {
    color: #F80;
}
#right_main:hover {
    max-width: 220px;
    box-shadow:  0 0 10px rgba(126, 87, 194.3);
}
.smenu {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transform: translate(0,0) scale(0);
    transition: transform .1s ease 0s;

}
.smenu.active {
    max-height: 100%;
    transform: translate(0,0) scale(1);
    transition: transform .1s ease .1s;

}
.smenu li {
    border-top: 1px solid rgba(120, 97, 183,.5);
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: none;
    background: #4F3B78;
}

#right_main ul li .smenu li a:before {
    display: inline-block;
    font-size:15px;
    color: #FFF;
    width: 60px;
    text-align: center;
    line-height: 45px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#right_main ul li .smenu li a::before{
    /*visibility: hidden;*/
    content: "\f008";
    background: none;
    margin: 0

}
.smenu li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0px ;
    height: 100%;
    width: 100%;
}

.slideGenre{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    max-height: 120px;
    overflow: hidden;
    float: left;
    background: #4F3966;
}
.slideGenre .prev {
    left: 0
}
.slideGenre .next {
    right: 5px
}
.slideGenre .prev,
.slideGenre .next {
    position: absolute;
    top: 30%;
    height: 50px;
    width: 40px;
    text-align: center;
    font-size: 40px;
    background: #4F3B78;
    color: #FFFFFF;
    z-index: 100;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.87);
    padding-top: 15px
}
 





.bgroup {
    margin:0 auto;
    width: 100%;
    float: left;
}
.bgroup .btt {
    border: none;
    width: 125px;
    padding:10px;
    display: inline-block;
    margin: 5px ;
    font-size: 14px;
    text-align: left;
    text-shadow:0 0 10px rgba(181, 26, 30, 0.4);
    color: #fff;
    border-radius: 2px;
    background:#B42875 ;
    box-shadow:  0px 0px 10px rgba(28, 28, 28, 0.3);
}
.bgroup .btt i {
    text-align: center;
    margin:10px 0 20px 0;
    display: block;
    color: #fff;
    font-size: 22px;
    text-shadow: none;
}
.bgroup .btt a {
    display: block;
    width: 100%;
    height: 100%;
    font-size:13px;
}
.bgroup .btt span {
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: none;
}
.bgroup .btt:hover {
    background: #5E4A91;
    color: #fff;
    box-shadow:inset  0px 0px 10px rgba(28, 28, 28, 0.3);
}







canvas {
    position:absolute;
}
.htop{
    content:'';
    position: absolute;
    left: 0;
    width: 100%;
    height: 39px;
    z-index: 10;
    background: url('../images/top.png') ; 
    -webkit-animation: headerTop 50s infinite linear;
    -moz-animation: headerTop 50s infinite linear;
    -ms-animation: headerTop 50s infinite linear;

}
.boxSearch{
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #A81F6A;
    background: -webkit-linear-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);
    background: radial-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);
    padding:10px 0;
    padding: 0;
}
.boxSearch .btn {
    height: 45px;
    padding: 0 25px; 
}
.boxSearch .input-group {
    direction: ltr;
    width:75%;
    float: right;
    margin: 0 30px 0 0;
}
.boxSearch .input-group .form-control {
    height: 45px;
    text-align: right;
    font-size: 15px
}
.boxSearch .form-control {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: right;
    float: left;
    background-color: rgba(245, 245, 245,.8) ;
    background-color: #f1f1f1 ;
    border: none;
    font-size: 12px; 
    direction: rtl;  
    color: #333;
}
.boxSearch .form-control:focus {
    border-color: #AE236F
}
.boxSearch .btn-primary {
    background: #4F3B78 !important;
    border-color: #4F3B78 !important
}
.social {
    position: relative;
    float: left; 
    list-style: none;
    margin: 0 0 0 20px;
    padding:7px;
}
.social .followUs {
    font-size:16px;
    color: #fff;
}
.social li {
    border-radius: 2px;
    margin-right: 1px;
    display: inline-block;
    padding: 0
}
.social li a {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 25px;
    padding: 0;
    line-height: 40px;
    color: #fff
}
.social li a i {
    padding-top: 6px
}
.rss {
    background: #F8991D
}
.facebook {
    background: #3C5A98
}
.youtube {
    background: #EA4D46
}
.google {
    background: #D54135
}
.twitter {
    background: #20B8FF
}
.search {
    background: #FFE37C;
    cursor: pointer
}
.search i {
    color: #171717
}
.facebook,
.twitter,
.youtube,
.google {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .1) !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1) !important
}
.facebook:hover i,
.facebook:hover,
.twitter:hover i,
.twitter:hover,
.youtube:hover i,
.youtube:hover,
.google:hover i,
.google:hover,
.rss:hover {
    background: #FFF
}
.facebook:hover i,
.facebook:hover {
    color: #3C5A98
}
.rss:hover i {
    color: #F8991D
}
.twitter:hover i,
.twitter:hover {
    color: #20B8FF
}
.youtube:hover i,
.google:hover {
    color: #EA4D46
}
.google:hover i,
.google:hover {
    color: #ED6F1A
}
.search:hover i,
.search:hover {
    color: #7F0000
}
#gSearch .cse .gsc-control-cse, #gSearch .gsc-control-cse{
    background: none;
    background-color: none;
    border: none;
    padding:3px 30px 0 0; 
}
#gSearch td.gsc-search-button{
    width: auto
}
#gSearch.cse .gsc-search-button input.gsc-search-button-v2, 
#gSearch input.gsc-search-button-v2{
    width: auto; 
    height: auto;
    min-height:35px;
    margin-top:6px;
    margin-right: -15px;
    background: #4F3B78 !important;
    border-color: #4F3B78 !important;
    padding:12px 35px; 
}
#gSearch.cse .gsc-search-button input.gsc-search-button-v2:hover, 
#gSearch input.gsc-search-button-v2:hover{
    background: #413360 !important;
    border-color: #413360 !important; 
}
.cse input.gsc-search-button, input.gsc-search-button{
    border-color: #4F3B78 !important;
}
#gSearch .gsc-input-box {
    border: 1px solid #D9D9D9;
    background: #fff;
    height:35px; 
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; 
} 
#gSearch input.gsc-input {
    font-size:16px;
    text-align: right; 
    padding: 4px 9px;
    border: 1px solid #D9D9D9;
    color: #333; 
}
#gSearch .gsib_a{
    padding: 10px 5px 0 0;
    font-size:12px;
}  
#gSearch form.gsc-search-box,#gSearch table.gsc-search-box{
    margin-bottom: 0;
} 
#gSearch input.gsc-input,#gSearch .gsc-input-box,#gSearch .gsc-input-box-hover,#gSearch .gsc-input-box-focus {
    border: none;
}
#gSearch input.gsc-search-button, #gSearch input.gsc-search-button:hover,#gSearch input.gsc-search-button:focus {
    border-color: #ffffff;
    background-color: #06492f;
    background-image: none;
}  
#gSearch .cse input.gsc-search-button,
#gSearch  input.gsc-search-button,
#gSearch  .cse input.gsc-search-button:focus,
#gSearch  input.gsc-search-button:focus{
    border: none;
}
.boxSlide{
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    float: left;
    margin-right: 5px;
    width: 100%; 
}
.carousel{
    visibility: hidden;
}
.list_carousel{
    position: relative;
    width: 100%;
    overflow: hidden;
    float: left;
    visibility: visible;
} 
.list_carousel .prev {
    left: 0
}
.list_carousel .next {
    right: 8px
}
.list_carousel .prev,
.list_carousel .next {
    position: absolute;
    top: 40%;
    height: 60px;
    width: 50px;
    text-align: center;
    font-size: 40px;
    background: #A81F6A;
    background: -webkit-linear-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);
    background: radial-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);
    color: #FFFFFF;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.87);
    padding-top: 15px
}
.listYears{
    position: relative;
    width: 100%;
    min-height: 57px;
    max-height:57px;
    overflow: hidden;
    float: left;
    visibility: visible;
    background: #4F3966
}
.year{
    position: relative;
    overflow: hidden;
    float: left;
    width:80px;
    display: inline-block;
    border-radius: 2px;
    text-align: center; 
    margin:8px 0 8px 3px;
    background: #A81F6A;
    background: -webkit-linear-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);
    background: radial-gradient(ellipse at top,#B52976,#A81F6A 80%,#A33471);

}
.year a{
    font-family: 'Catamaran', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 100%;
    padding:10px 10px 12px 10px;
}
.year:hover{
    background: #5F4B92;
    background: -webkit-linear-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
    background: radial-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
    box-shadow: inset 0px 0px 30px rgba(25, 24, 28, 0.9);

}
.boxSlide .hover{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(65, 52, 96,.6);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.boxSlide:hover .hover {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}
.aflamOnline {
    position: relative;
    text-align: center;
    font-size:16px;
    padding-top:20px;
    cursor: pointer;
}
.aflamOnline span {
    color: #df4a48;
    padding: 5px;
    text-decoration: none;
    position: relative;
    animation-name: blinkcolor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.aflamOnline span:hover {
    animation-play-state: paused;
}
.aflamOnline span:before {
    content: "\f178";
    font-family: fontawesome;
    position: absolute;
    left: -5%;
    animation-name: moveleft;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.aflamOnline span:after {
    content: "\f177";
    font-family: fontawesome;
    position: absolute;
    right: -5%;
    animation-name: moveright;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
/****************************************
BEGIN PAGINATIONS
*****************************************/
.pagination {
    padding: 0;
    margin: 10px 0 0
}
.pagination li a,
.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    margin-right: 5px;
    border: 1px solid #4F3966;
    background-color: #4F3966;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    direction: rtl
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:focus,
.pagination li.active a:hover {
    border: 1px solid #352146;
    background-color: #352146;
    color: #fff
}
.pagination li:first-child a:hover,
.pagination li:first-child a {
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important
}
.pagination li:last-child a:hover,
.pagination li:last-child a {
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important
}
.pagination > li > a,
.pagination > li > span {
    float: right
}
/****************************************
BEGIN FOOTER
*****************************************/
footer {
    position: relative;
    border-top: 2px solid #36204C;
    background: rgba(56, 34, 75,.8);
    width: 100%
}
footer .pull-right,footer .pull-left{
    margin: 20px 5px;
}
footer a {
    font-size: 15px;
    color: #fff
}
footer a:hover {
    color: #F2C479
}

.foBlock {
    position: relative;
    list-style: none;
    border-radius: 2px;
    height: 100%;
    margin-bottom: 0px;
}
.foBlock li {
    margin-bottom: 5px;
    padding:8px 10px;
    border-radius:4px;
    display:block;
    background: #4F3966;
    margin:5px 5px 0 0;
    float: right;
    min-width:205px;
    text-align: center;
}
.foBlock li:hover {
    background: #5F4B92;
}
 
.foBlock li a {
    display:block;
    color: #fff;
    line-height: 100%;
    padding: 4px 5px 4px;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

#toTop {
    background: #AB226D;
    font-size: 35px;
    line-height: 33px;
    color: #FFF;
    position: fixed;
    height: 35px;
    width: 45px;
    right: 15px;
    bottom: 62px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-decoration: none;
    display: none;
    z-index: 1000;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}
#toTop::before {
    font-family: "fontawesome";
    content: "\f106"
}
#toTop:hover {
    background: #382C50
}
.container-fluid{
    padding-right: 70px;
}
.container{
    width:100%;
    padding-right: 70px;
}
/****************************************
BEGIN COL
*****************************************/
.col-xs-5th,
.col-sm-5th,
.col-md-5th,
.col-lg-5th {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
    float: right
}
@media (min-width: 768px) {
    .col-sm-5th {
        width: 25%;
        float: right
    }
}
@media (min-width: 992px) {
    .col-md-5th {
        width: 25%;
        float: right
    }
}
@media (min-width: 1200px) {
    .col-lg-5th {
        width: 20%;
        float: right
    }
}
@media only screen and (max-width: 992px) {
    .col-md-5th {
        width: 100%;
        float: none;
        display: block
    }
    .col-md-5th.col-sm-5th {
        width: 25%;
        float: right
    }
}
@media only screen and (max-width: 769px) {
    .col-md-5th.col-sm-5th {
        width: 50%;
        display: block
    }
}
@media only screen and (max-width: 380px) {
    .col-md-5th.col-sm-5th {
        width: 100%;
        float: none;
        display: block
    }
}
.col-xs-4th,
.col-sm-4th,
.col-md-4th,
.col-lg-4th {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 25%;
    float: right
}
@media (min-width: 768px) {
    .col-sm-4th {
        width: 25%;
        float: right
    }
}
@media (min-width: 992px) {
    .col-md-4th {
        width: 25%;
        float: right
    }
}
@media (min-width: 1200px) {
    .col-lg-4th {
        width: 25%;
        float: right
    }
}
@media only screen and (min-width: 1200px) {
    
}
@media only screen and (max-width: 992px) {
    .foBlock li {
        display: block;
        margin: 5px 5px 0 0;
        float: left;
        min-width: 49%;
        width: 49%;
        text-align: center;
    }
    .aflamOnline{
        font-size: 14px;
    }
    .boxes-popup {
        width: 550px;
        background: #f1f1f1;
        border-radius: 4px;
        margin: 0 auto
    }
    .popup-content {
        padding: 5px;
        height: 250px
    }
    .trailer i {
        padding: 10px 10px 8px 20px;
        margin-top:70%;
        color: #fff;
        font-size: 80px;
        cursor: pointer;
    }
    ul.social {
        float: none !important;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    footer .pull-left,
    footer .pull-right {
        float: none !important;
        text-align: center;
        clear: both
    }
    footer a {
        text-align: center;
        font-size: 14px
    }
    .nav_left ul.social {
        margin-left: 20px
    }
    .boxCenter,
    .boxLeft {
        margin-left: 0;
        margin-right: 0
    }
    .episodes {
        height: 100%;
        max-height: 520px
    }
    ul.social {
        float: none !important;
        text-align: center;
    }
    .headerRight{
        padding: 10px 80px 10px 0;
    }
    .logo {
        padding: 40px 100px 10px 0;
    } 
    .foBlock li {
        display: block;
        margin: 5px 5px 0 0;
        float: left;
        min-width: 49%;
        width: 49%;
        text-align: center;
    }
    .aflamOnline{
        font-size: 12px;
    }
    .boxes-popup {
        width: 550px;
        background: #f1f1f1;
        border-radius: 4px;
        margin: 0 auto
    }
    .popup-content {
        padding: 5px;
        height: 250px
    }
    .trailer i {
        padding: 10px 10px 8px 20px;
        margin-top: 20%;
        color: #fff;
        font-size: 80px;
        cursor: pointer;
    }
    .bgroup .btt {
        width: 110px;
        padding:10px 5px;
        font-size: 13px;
    }
    ul.social {
        float: none !important;
        text-align: center;
    }
    .PostRandom div{
        display:block;
        font-size: 14px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 580px) {
    .boxAdCenter,
    .boxAdTop {
        display: none
    }
    .episodes {
        margin: 10px
    }
    .boxes-popup {
        width: 350px;
        background: #f1f1f1;
        border-radius: 4px;
        margin: 0 auto
    }
    .popup-content {
        padding: 5px;
        height: 250px
    }
    .boxCenter,
    .boxLeft {
        margin-left: 0;
        margin-right: 0
    }
    .episodes {
        height: 100%;
        max-height: 520px
    }
    ul.social {
        float: none !important;
        text-align: center;
    }
    .headerRight{
        padding: 10px 80px 10px 0;
        right:-15%;
    }
    .logo {
        padding: 40px 90px 10px 0;
    }
    .foBlock li {
        display: block;
        margin: 5px 0 0 0;
        float: none;
        min-width: 100%;
        width: 100%;
        text-align: center;
    }
    .aflamOnline{
        font-size: 12px;
    }
    .menu button.btn-mobile,
    .menu ul.nav > li:hover {
        background: #AB226D;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        color: #fff;
        padding: 6px 10px 4px 10px;
        margin-bottom: 5px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 4px;
        margin: 10px 15px;
        display: block; 
    }
    #right_main {
        position: relative;
        top: 0px;
        right: 0px;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
        background: #5F4B92;
        background: -webkit-linear-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
        background: radial-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
        border-left: 2px solid #57438E;
        overflow: hidden;
        box-shadow:  0 0 10px rgba(126, 87, 194.3);
        z-index: 1000; 
        direction: rtl  ;
        text-align: right;
    }
    #right_main ul,#right_main ul li:first-child{
        display: none;
    }
    .menu{
        position: relative;
        background: #5F4B92;
        background: -webkit-linear-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
        background: radial-gradient(ellipse at top,#57438E,#5F4B92 80%,#4F3B78);
        border-left: 2px solid #57438E;
        overflow: hidden;
    }
    #right_main ul li{
        display: block;
    }
    .container-fluid{
        padding-right: 15px;
    }
    .container{
        width:100%;
        padding-right: 15px;
    }
    .boxes .views,
    .boxes5 .views {
        position: absolute;
        z-index: 10;
        visibility: hidden;
        left: -5px;
        border-radius: 2px;
        margin: 0 3px 3px 3px;
        padding: 5px 10px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        z-index: 12;
        transform: translate(0,0) scale(0);
        transition:transform .2s ease 0s;
    }
    .boxes:hover .views,
    .boxes5:hover .views {
        background-color: #AE2470;
        transform:translate(0,0) scale(1);
        transition:transform .2s ease .2s;
        top: 10%;
        visibility: visible;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
    }
    .bgroup .btt {
        width: 110px;
        padding:10px 5px;
        font-size: 13px;
    }
}
@media only screen and (min-width: 240px) and (max-width: 480px) {
    .nav-pills > li {
        float: right;
        display: block;
        width: 100%;
        text-align: center
    }
    .nav-pills > li {
        float: right;
        display: block;
        width: 100%;
        text-align: center
    }
     ul.social {
        float: none !important;
        text-align: center;
    }
    .social li a {
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }
    ul.social li.rss{
        display: none
    }
    footer a {
        font-size: 12px
    }
    .breadcrumb {
        text-align: center
    }
    .breadcrumb b,
    .postInfo .pinterest,
    .postInfo .gplus {
        display: none
    }
    .breadcrumb > li {
        display: block;
        padding-bottom: 5px
    }
    .postTitle h1 {
        font-size: 14px;
        text-align: center
    }
    .postStory {
        font-size: 13px;
        text-align: center;
        line-height: 25px;
        padding: 10px 0 10px 0
    }
    .download ul li {
        padding: 5px 15px;
        display: block;
        min-width: 100%;
        width: 100%;
        margin: 5px 0 0 0
    }
    #search .input-group {
        width: 80%;
        margin-top: 50%
    }
    #search .input-group .form-control {
        font-size: 12px
    }
    .PostRandom,
    .selary {
        font-size: 14px
    }
    #search .form-control {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        text-align: right;
        float: left;
        background-color: #f5f5f5;
        border: 1px solid #f1f1f1;
        font-size: 12px;
        direction: rtl
    }
    #search .form-control:focus {
        border-color: #fff
    }
    #search .btn-primary {
        background: #840000 !important;
        border-color: #840000 !important;
    }
    .servers ul li,
    .socialShare li {
        display: block
    }
    .rec ul li{
        display: block;
        float: none !important;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        border-radius: 2px
    }
    
    .rec ul li.active a,
    .rec ul li a:hover {
        border-radius: 2px
    }
    .rec ul li.active a,
    .rec ul li a {
        text-align: center;
        padding: 0;
        font-size: 13px;
    }
    .boxes-popup {
        width: 250px;
        background: #f1f1f1;
        border-radius: 4px;
        margin: 0 auto
    }
    .popup-content {
        padding: 5px;
        height: 200px
    }
    .slide {
        display: none
    }
    .header{
        height: 150px;
    }
    .headerRight{
        background: none;
    }
    
    .logo {
        max-width: 200px;
        padding: 20px 10px 0 0;
        text-align: center;
    }
    .logo img{
        max-width:150px;
    }
    .breadcrumb > li + li::before {
        padding: 0 1px;
        color: #f5f5f5;
        content: "";
    }
    .direct_video button,
    .serveDown {
        width: 100%;
        display: block;
        margin:5px 0;
    }
    .boxCenter,
    .boxLeft{
        margin-left: 0;
        margin-right: 0
    }
    .heroes span:nth-of-type(2),
    .heroes span:nth-of-type(1) {
        text-align: center
    }
    .formReport button {
        display: block;
        width: 100%
    }
    .formReport button,
    .boxReport .rate {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        float: none;
        text-align: center
    }
    .formReport {
        margin: 0px
    }
    .popup-content {
        padding: 8px 0;
        height: 100%
    }
    .episodes {
        height: 100%;
        max-height: 520px
    }
    ul.blog-details li{
        display: block;
    }
    #gSearch,.tags,.foBlock,canvas,.top,.aflamOnline,.yfs{
        display: none;
    }
    .pagination > li > a, .pagination > li > span{
        padding:2px 4px;
        font-size: 12px;
    } 
    .PostRandom div{
        display:block;
        font-size: 12px;
        margin-bottom: 5px;
    }
}
@-webkit-keyframes circle {0% {opacity: 1;}40% {opacity: 1;}100% {width: 200%;height: 200%;opacity: 0;}}@keyframes circle {0% {opacity: 1;}40% {opacity: 1;}100% {width: 200%;height: 200%;opacity: 0;}}@keyframes blinkcolor {30%{color: #F2C479;}70%{color: #A9206B;}100%{color: #fff;}}@keyframes moveleft {0%{transform: translate(0px);}50%{transform: translate(20px);}100%{transform: translate(0px);}}@keyframes moveright { 0%{transform: translate(0px);}50%{transform: translate(-20px);}100%{ transform: translate(0px);}}@-webkit-keyframes headerTop {0%{ background-position: 5% 40px; }100%{ background-position: 95% 40px; }}@-moz-keyframes headerTop {0%{ background-position: 5% 40px; }100%{ background-position: 95% 40px; }}@-ms-keyframes headerTop {0%{ background-position: 5% 40px; }100%	{ background-position: 95% 40px; }}
@keyframes object {0% {left: 100px;top: 0}80% {left: 0; top: 0;} 85% {left: 0;top: -20px;width: 20px;height: 20px;}90% {width: 40px;height: 15px;}95% {left: 100px;top: -20px;width: 20px;height: 20px; }100% {left: 100px;top: 0;}}
 