* {

  font-family: Arial;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* keep cursor as mouse! */
  cursor: pointer;
}

html,
body,
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}
body {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;



}
div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* width: 50%; */
    -khtml-user-select: none;
}
/* make lists nicer */
ul {
  padding-left: 5px;
  margin: 8px;
}

#aSenseAd {
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 0 auto;
    text-align: center
}
#connecting {
    position: absolute;
    z-index: 100;
    display: block;
    right: 0;
    top: 38%;
    left: 0;
    box-sizing: border-box;
    width: 180px;
    height: 80px;
    margin: auto;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47)
}
#startMenuWrapper h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-bottom: : 10px;
    padding: 0;
    text-align: center;
    color: #fff
}

#nickInput {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 5px;
    border: solid 4px #1c9c25;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: none;
    background-color: #ffffff;
    font-size: 30px
}
#startButton:active,
#startButton:hover {
    top: 1px;
    outline: none;
    background: #16932A;
    -webkit-box-shadow: none;
    box-shadow: none
}
#startMenu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* margin-top: 20%; */
    width: 350px;
    height: 500px;
    /* padding: 13px 13px 13px 13px; */
    border-radius: 8px;
    z-index: 10;
    text-align: center;
    /* background-color: rgba(9, 153, 47, 0.66); */
}
#startMenuWrapper {
    /* position: inherit; */
    width: 100%;
    height: 100%;
    /*visibility: hidden; /* jquery will show it */
}
#connecting p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(255, 255, 255)
}
#startButton {
    font-size: large;
    position: inherit;
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    border-color: #09992f;
    border-bottom: 4px solid #116c17;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #0aa633;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    /* opacity: 0; */
    /* transition: opacity .25s ease-in-out; */
    -moz-transition: opacity .25s ease-in-out;
    /* -webkit-transition: opacity .25s ease-in-out; */
}
#fbButton {
    position: absolute;
    margin-bottom: 5px;
    left: 76px;
    bottom: 3px;
    /* margin: 0; */
    /* padding: 0; */
    display: inline-block;
}
#twitBut {
    position: absolute;
    left: 5px;
    bottom: 2px;
    display: inline-block;
    /* margin: 0; */
}
#gameAreaWrapper {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1.0
}
#feedBLink {
  z-index: 2;
  bottom: 26px;
  left: 10px;
  /* right: 0; */
  /* width: 180px; */
  position: absolute;
  /* margin: auto; */
  /* margin-bottom: 0; */
  display: block;
  /* font-size: 1px; */
}
#feedBLink p {
    font-size: 10px;
    font-weight: bold;
    background-color: rgba(9, 153, 47, 0.47);
    padding: 3px;
    color: rgba(255, 255, 255, 0.7);
}
#feedBLink a {
    font-size: 10px;
    font-weight: bold;
    color: #54dd6b;
}
#chatinput {
    pointer-events: all;
    box-sizing: border-box;
    width: 200px;
    height: 35px;
    padding: 8px;
    background: rgba(68, 159, 94, 0.8);
    border: none;
    border-top: 1px solid #DDD;
    outline: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    font-size: 25px;
    text-shadow: 1px 1px black;
    color: #F1C34C
}
#adsenseAd {
  margin-top: 40px;
margin-left: 20px;
left: 0;
right: 0;
}
#optionsDiv{
  background-color: rgba(9, 153, 47, 0.54);
  padding: 5px;
  margin-top: 5px;
}

#serverSelect {
    display: block;
    position: relative;
    width: 130px;
    right: 0px;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    font-size: small;
    color: rgba(255, 255, 255, 0.42);
    background: #3fba54;
    border-width: 3px;
    border-color: #1F9A1F;
}
#regionSelect {
    display: block;
    position: relative;
    width: 130px;
    right: 0px;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    font-size: small;
    color: rgba(255, 255, 255, 0.42);
    background: #3fba54;
    border-width: 3px;
    border-color: #1F9A1F;
}
#footerLeft {
  z-index: 2;
  width: 286px;
  height: 26px;
  /* margin-bottom: 5px; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px 10px;
  background-color: rgba(9, 153, 47, 0.77);
  left: 0;
  border-radius: 0 5px 0 0;
}
#spawnXpLabel{
  color: #FEC842;
  margin: auto;
  width: 100%;
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px #000000;
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  position: absolute;
}


#nickInputContainer{
  width: 250px;
  margin: auto;
}
#titleText{
  color: white;
  margin: 0;
  font-size: 75px;
  text-align: center;
  text-shadow: 3px 3px #000000;
  white-space: nowrap;
  overflow: visible;
  margin-top: -20px;
}
#updatesPopup{
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  /* left: 20px; */
  /* top: 140px; */
  /*overflow: scroll;*/
  padding: 10px;
  z-index: 1;
  width: 200px;
  /*max-height: 300px;*/

  font-size: 10px;
  background-color: rgba(9, 153, 47, 0.28);
  border-radius: 8px;
}
#updatesPopup p, li{
  font-size: 12px;
  color: #7fd18d;
  /* margin: 0; */
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.52); */
}
#updatesPopup h2{
  font-size: 12px;
  color: #8ed69a;
  margin: 0;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.51); */
}
#howToPlayPopup{
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  z-index: 1;
  width: 200px;
  font-size: 10px;
  background-color: rgba(8, 116, 37, 0.24);
  border-radius: 8px;
}
#howToPlayPopup p{
  font-size: 12px;
  color: #7fd18d;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.52); */
}
#howToPlayPopup h2{
  font-size: 12px;
  color: #8ed69a;
  margin: 0;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.51); */
}

#settingsButton{
  /*background:url(./img/settings.PNG) no-repeat;*/
  cursor:pointer;

  border: none;

    display: inline-block;
    position: absolute;
    right: 50px;
    margin-top: 3px;

}
#settingsButton:focus{outline:0;}
.settingsRadioButs{
  display: block;
}

#appAdIOS{
  position: absolute;
  right: 10px;
    bottom: 20px;
    z-index: 9;
}
#appAdIOS img:hover {
    opacity: .5;
}
#appAdAndroid{
  position: absolute;
  right: 10px;
    bottom: 78px;
    z-index: 9;
}
#appAdAndroid img:hover {
    opacity: .5;
}

#preroll {
    width: 960px;
    height: 580px;
    position: absolute;
    z-index: 999999;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.partyLinkBut {
  z-index: 3;
  /* position: absolute; */
  /*width: 60px;*/
  margin: auto;
  display: block;
  /* right: 0px; */
  font-size:13px;
  font-family:Arial;
  font-weight:normal;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  /*font-weight: bold; */
  border-color: #09992f;
  border-bottom: 2px solid #116c17;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:5px 12px;
  text-decoration:none;
  background-color:#0aa633;
  color: #b7edc0;
  display:inline-block;
}.partyLinkBut:hover {
	background-color:#16932A;;
}.partyLinkBut:active {
	position:relative;
	top:1px;
}

#partyLink{
  width: 110px;
  /* height: 100px; */
  position: absolute;
  top:0;
  right:0;
  margin-right: 10px;
  margin-top: 20px;
  padding: 5px;
  z-index: 1;
  font-size: 10px;
  background-color: rgba(8, 116, 37, 0.24);
  border-radius: 8px;
}
#partyLink p{
  font-size: 12px;
  color: #7fd18d;
  z-index: 1;
  margin: 0;
  margin-bottom: 6px;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.52); */
}



/* hide links on iphone */
@media all and (max-width: 720px) {
    #howToPlayPopup{width: 100px;}
    #updatesPopup{display:none;}
}
@media all and (max-width: 420px) {

    #feedBLink{display:none;}
    #howToPlayPopup{display: none;}
    #partyLink{display:none;}

}
@media (max-height: 520px) {

    #startMenu{margin-top: 20px;/* top: 0; */}
}
@media (max-height: 420px) {


    #adsenseAd{ display: none; }
}


.spinner {
    width: 70px;
    margin: auto;
    padding: 10px;
    text-align: center
}
.spinner > div {
    display: inline-block;
    width: 18px;
    height: 18px;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    border-radius: 100%;
    background-color: #fff
}
.spinner .bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}
.spinner .bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}
@-webkit-keyframes "sk-bouncedelay" {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}
@keyframes "sk-bouncedelay" {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
