﻿/*-----------------------------*/
/*.header-area {
	background: #000;
}
*/
.footer.grayLighter,
.footer.grayLighter .footer-bottom {
	background: #cee5e5;
}
/*
.footer.grayLighter .footer-sign-up,
.footer.grayLighter .footer-feedback-title a,
.footer.grayLighter .footer-nav .accordion-heading a,
.footer.grayLighter .footer-nav .accordion-heading strong,
.footer.grayLighter .footer-copyright,
.footer.grayLighter .footer-feedback,
.footer.grayLighter .footer-feedback a,
.footer.grayLighter .footer-nav-link,
.footer.grayLighter .footer-socials-title,
.footer.grayLighter .footer-sub-nav a {
	color: #fff;
}
*/
.header-nav-wrap,
.header-area:after {
	background: white !important;
}

.header-main-area,
.sticky-header {
	background: url(/media/Styles/ny-2016/topBG.png) no-repeat center white;
	background-size: cover;
}

.home .shop-service-list {
	background: white;
}

.home .shop-service-list .shop-service-item:first-child {
	padding-left: .5rem;
}


.mini-basket-block:hover .mini-basket-link.default,
.mini-basket-link.close-cart,
.home .block2211366 .listing-banner,
.home .block2211366 + .featured-article-section {
	background: transparent;
}

/*
.mini-basket-block .icon-trolley-cart,
.header-user-block,
.header-user-description,
.wishlist-block .icon-heart,
.header-nav-list .header-nav-item:hover .header-nav-item-text,
.js .header-nav.parent-active .header-nav-list .header-nav-item:hover .header-nav-item-text,
.gallery-header,
.home .mtube-heading h2,
.header-search-form-label .icon-zoom,
.header-menu-btn,
.offers-section + .shadow-top-inner h2,
.seo-text a,
.home .gallery-layout .view-all-base,
.sticky-header-product .product-title a,
.large-shop-services,
.large-shop-services a {
	color: #fff;
}*/

.header-area-left .header-user-block.parent-active .header-user-description span {
	color: #333;
	background: white;
}
.header-area-left .header-user-block.parent-active .header-user-description:hover span{
	color: red;
}
.header-area-left .header-user-description span {
	background: #e1410f;
	color: #fff;
	padding-left: .2rem;
	padding-right: .2rem;
}
.header-area-left .header-user-name {
	padding-bottom: 0rem;
	margin-bottom: .2rem;
}




.my-account-personal-photo-placeholder {
	background: url(/media/Styles/ny-2016/icon_1.png) no-repeat center;
	border: none;
	color: transparent;
	border-radius: 0;
}
/*
.header-user-block.parent-active .my-account-personal-photo-placeholder {
	background-color: #fff;
}*/

.header-search-form,
.header-user-block.parent-active,
.sticky-header-product .tabset {
	background: #fff;
}
.home .day-deal-section>h2,
.home .exclusive-section>h2 {
	display: none;
	color: white;
}
/*
.header-nav-item-link,
.wishlist-block .icon-heart,
.seo-text {
	color: #ccc;
}
*/
/*
.header-nav-item {
	border-color: #151515;
}

.header-menu-btn {
	background: url(/media/Styles/halloween/menu.png) no-repeat;
}
*/
.home .gallery-layout,
.home .mtube-section,
.home .listing-banner,
.seo-text,
.large-shop-services,
.home .featured-article-section,
.offers-section + .shadow-top-inner,
.home [data-retailrocket-markup-block],
.home .shadow-top-inner {
	background: url(/media/Styles/ny-2016/01.png) ;
}
/*
.home .rr-widget .retailrocket-items {
	margin-bottom: 0;
	padding-bottom: 3rem;
}

.home .rr-widget .retailrocket-widgettitle {
	color: #fff;
}

.home .rr-widget .retailrocket-items.slick-initialized.slick-slider,
.footer.grayLighter .footer-middle {
	border: none;
}
*/
.home .listing-banner {
	margin-bottom: 0;
	padding-bottom: 3rem
}

.home .offers-section,
.home .block2211366:after {
	background: url('/media/Styles/ny-2016/02.png') !important;
}

.home .offers-section .shadow-bottom-inner {
	box-shadow: none;
}
/*
nav.header-nav:before {
	content: '';
	background: #000;
	width: 1000%;
	height: 100%;
	display: block;
	position: absolute;
	line-height: 0;
	left: -50%;
	top: 0;
	z-index: -1;
}

.featured-articles h2:empty {
	display: none;
}

*/
.home .featured-articles h2 {
	color: black;
}/*

img[height="1"] {
	position:absolute;
	left: -999rem;
	top: -999rem;
}

@media only screen and (min-width: 1024px) {
	.header-login-option-link {
		color: #fff;
	}
}

@media only screen and (max-width: 1023px) {
	.header-user-description {
		color: #333;
	}

	.my-account-personal-photo-placeholder {
		background-color: #fff;
	}
}
*/
@media only screen and (max-width: 1023px) {	
	.header-area:after {
		background: transparent  !important;
	}
}
@media only screen and (max-width: 767px) {
	.home .shop-service-list .shop-service-item:first-child {
		padding-left: 0;
	}
	.header-area:after {
		background: transparent  !important;
	}
}
