
.parsi-ads-section a.link-ads-260426 ul:hover {
color: #ffffff;
background-color:#1e73be;
border-radius: 30px 0;
}

.parsi-ads-section a.link-ads-260425 ul:hover {
color: #ffffff;
background-color:#dd9933;
border-radius: 30px 0;
}

.parsi-ads-section a.link-ads-260423 ul:hover {
color: #ffffff;
background-color:#dd3333;
border-radius: 30px 0;
}

.ads-soft-title{
border-bottom: 1px solid  ;
color:  ;
font-size: px ;
margin-right: 0px;
padding-right: 3px;
padding-bottom: 8px;
margin-bottom: 8px;
}
