.text_ads-main *
{
	padding: 0 !important;
	margin: 0 !important;
}

.text_ads-main 
{
	width: 100%;
	display: block;
	clear: both;
}

.text_ads-main ul
{
	width: 100% !important;
	display: block !important;
}

.text_ads-main li
{
	width: 100% !important;
	display: block !important;
	padding: 10px !important;
	list-style: none !important;
}

.text_ads-main li a
{
	text-decoration: none !important;
	display: block !important;
}


.text_ads-main li .text_ads-name
{
	font: normal 14px/1.3 Tahoma !important;
	color: #0078ff !important;
	display: block !important;
}

.text_ads-main li a:hover .text_ads-name
{
	color: #005abf !important;
}


.text_ads-main li .text_ads-adre
{
	font: normal 12px/1.3 Arial !important;
	color: #039b18 !important;
	display: block !important;
	text-align: right !important;
	direction: ltr !important;
	margin: 10px 0 5px !important;
}


.text_ads-main li a:hover .text_ads-adre
{
	color: #027b13 !important;
}

.text_ads-main li .text_ads-desc
{
	font: normal 11px/1.3 Tahoma !important;
	color: #AAA !important;
	display: block !important;
	text-align: right !important;
	direction: ltr !important;
}

.text_ads-main li a:hover .text_ads-desc
{
	color: #777 !important;
}

/*custom css 2*/
.title-ads{

border-bottom: 1px solid #dddddd;

color: #a7b25a !important;

font-size: 16px !important;

margin-right: 0px;

padding-right: 3px;

padding-bottom: 8px;

margin-bottom: 8px;

}

.bmenu{

padding: 0px;

position: relative;

list-style: none;

}

.bmenu li{

display: block;

width: 100%;

}

.bmenu a ul {

display: block;

padding-right: 7px !important;

border-bottom: 1px solid #e1e1e1;

padding-bottom: 10px !important;

padding-top: 10px !important;

-webkit-transition: all 0.2s linear;

-moz-transition: all 0.2s linear;

-o-transition: all 0.2s linear;

-ms-transition: all 0.2s linear;

transition: all 0.2s linear;

}

.bmenu:hover a ul {

text-shadow: 0px 0px 10px #ccff00;

color: transparent;

}

.bmenu a ul:hover{

color: #96c63a;

text-shadow: 0px 0px 1px #ccff00;

}

li.text_ads-adre{
	direction:ltr !important;
}

/*custom css 2*/

.req_softname-desc{
margin-right: 55px;
margin-top: -54px;
margin-bottom: 10px;
}