.text_ads-main * {
    padding: 0 !important;
    margin: 0 !important;
}
.text_ads-main {
    width: 100%;
    display: block;
    clear: both;
}
.text_ads-main ul {
    width: 100% !important;
    display: block !important;
}
.text_ads-main li {
    width: 100% !important;
    display: block !important;
    padding: 10px !important;
    list-style: none !important;
}
.text_ads-main li a {
    text-decoration: none !important;
    display: block !important;
}
.text_ads-main li .text_ads-name {
    font: normal 14px/1.3 Tahoma !important;
    color: #0078ff !important;
    display: block !important;
}
.text_ads-main li a:hover .text_ads-name {
    color: #005abf !important;
}
.text_ads-main li .text_ads-adre {
    font: normal 12px/1.3 Arial !important;
    color: #039b18 !important;
    display: block !important;
    text-align: right !important;
    direction: ltr !important;
    margin: 10px 0 5px !important;
}
.text_ads-main li a:hover .text_ads-adre {
    color: #027b13 !important;
}
.text_ads-main li .text_ads-desc {
    font: normal 11px/1.3 Tahoma !important;
    color: #AAA !important;
    display: block !important;
    text-align: right !important;
    direction: ltr !important;
}
.text_ads-main li a:hover .text_ads-desc {
    color: #777 !important;
}

/*custom css 2*/

.title-ads {
    color: #333!important;
    font-size: 21px !important;
    margin-right: 0px;
    padding-right: 0px !important;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 8px;
}
.parsi-ads-section {
    position: relative;
    list-style: none;
}
aside#text-11 {
    padding-right: 0;
    padding-left: 0;
}
.parsi-ads-section li {
    display: block;
    padding-left:5px;
    color: inherit !important;
}
.parsi-ads-section a ul {
    background-color: #EDEDED;
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 10px !important;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.parsi-ads-section a {
    text-decoration: none !important;
    color: #666 !important;
}
.parsi-ads-section a ul.red:hover {
    color: #fff;
    border-radius: 20px 0px 20px 0px;
    background-color: #D64541;
}
.parsi-ads-section a ul.green:hover {
    color: #fff;
    border-radius: 20px 0px 20px 0px;
    background-color: #6E9000;
}
.parsi-ads-section a ul.orange:hover {
    color: #fff;
    border-radius: 20px 0px 20px 0px;
    background-color: #F38F00;
}
li.text_ads-adre {
    direction: ltr !important;
}

/*custom css 2*/
