article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video {
	display:block;
}
mark,rp,rt,ruby,summary,time {
	display: inline
}
body {
	background:#fff;
	font-family:'Lato',sans-serif;
	font-size:16px;
	line-height:1.375em;
	color:#343434;
	min-width:1000px;
	background:url('/images/body-bg.gif') top center repeat;
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
html,body {
	height:100%;
}
p {
	padding-top:16px;
}
a {
	color:#d52d00;
	outline:none;
	text-decoration:none;
}
a:hover {
	text-decoration: none;
}

.fleft {
	float:left;
}
.fright {
	float:right;
}
.clear {
	clear:both;
}
.col-1,.col-2,.col-3 {
	float:left;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.wrapper {
	width:100%;
	overflow: hidden;
}

input,select,textarea {
	font-size:1em;
	font-family:'Lato',sans-serif;
	vertical-align:middle;
	font-weight:normal;
}
input,textarea {
	color:#aeaeae;
	border-radius:5px;
	background:#fff;
	border:none;
	border:1px solid #e1e4e9;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	padding:8px 10px;
	outline:none;
}
input[type=radio].checkbox {
	display:none;
}
input[type=radio].checkbox+label.checkbox-label {
	padding-left:23px;
	height:18px !important;
	display:inline-block;
	line-height:18px;
	background-repeat:no-repeat;
	background-position:0 0;
	vertical-align:middle;
	cursor:pointer;
}
input[type=radio].checkbox:checked+label.checkbox-label {
	background-position:0 -18px;
}
label.checkbox-label {
	background-image:url(/images/cssradio.png);
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.dashboard_icons a{
	margin-bottom:20px;
}
#message_wrap {
	display:block;
	font-size:14px;
	margin:0px 10px 0px 10px;
}
#message_wrap .error {
	color:#ce2700;
	display:block;
	padding:8px 10px;
	background:#fbd3b1;
	border:1px solid #f5c69a;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#message_wrap .success {
	color:#6da827;
	display:block;
	padding:8px 10px;
	background:#e0f2cb;
	border:1px solid #ccebac;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#message_wrap .warning {
	color:#e79300;
	display:block;
	padding:8px 10px;
	background:#fff4cc;
	border:1px solid #f8e3ac;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#message_wrap .info {
	color:#2e74b2;
	display:block;
	padding:8px 10px;
	background:#e4edf5;
	border:1px solid #d8e1e9;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
}
.inside{
	background:#ffffff;
	padding:0px;
	border:1px solid #e6ebef;
	margin-top:20px;
	overflow:hidden;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.inside .heading{
	background:#ee4003;
	padding:10px;
	color:#ffffff;
	font-weight:bold;
}
.inside .content{
	min-height:300px;
	padding:10px;
}

.crumbs {  
	display: block;  
	margin-left: 10px;  
	padding: 0;  
	padding-top: 10px;  
	margin-top:15px;
}  
.crumbs li { display: inline; }  
.crumbs li a,  
.crumbs li a:link,  
.crumbs li a:visited {  
	color: #666;  
	display: block;  
	float: left;  
	font-size: 12px;  
	padding: 7px 16px 7px 19px;  
	position: relative;  
	text-decoration: none;  
	border: 1px solid #d9d9d9;  
	border-right-width: 0px;  
}  
.crumbs li a  {   
	background:#ffffff;
}   
.crumbs li a:hover{
	background:#f9f9f9;
}
.crumbs li.first a {  
	border-radius:5px 0px 0px 5px;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
}  
.crumbs li.last a {  
	border: 1px solid #d9d9d9;  
	border-radius:0px 5px 5px 0px;
	-moz-border-radius:0px 5px 5px 0px;
	-webkit-border-radius:0px 5px 5px 0px;
} 
.homepage-icon{
	width:120px;
	height:110px;
	border:1px solid #f1f1f1;
	display:block;
	text-align:center;
	float:left;
	padding:15px;
	margin-right:20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: #f9f9f9;
}
.homepage-icon:hover{
	color:#333333;
}
.img-indent {
	margin:0 20px 0 0;
	float:left;
}
.extra-wrap {
	width:100%;
}
h2 {
	font-weight:300;
	font-size:30px;
	padding:20px 0 28px 0;
}
.h-pad {
	padding-top:42px;
}
.h-pad1 {
	padding-top:50px;
}
.h-indent {
	padding-bottom:0px;
}
figure img {
	border-radius:5px;
	overflow:hidden;
}
.pad {
	padding-top: 30px;
}

header {
	min-height:82px;
	background:url('/images/header-bg.gif') left top repeat;
	border-bottom:3px solid #1c1e21;
	padding-top:25px;
}
.logo {
	display:block;
	text-indent:-5000px;
	width:306px;
	height:57px;
	background:url('/images/logo.png') left top no-repeat;
	float:left;
}
nav {
	float:right;
}
.menu {
	padding-top:20px;
}
.menu li {
	float:left;
	padding:0 15px 0 15px;
}
.menu li a {
	color:#999;
	text-decoration:none;
	text-transform:uppercase;
}
.menu li a:hover,.menu .active a {
	color: #fff;
}

#content {
}
#slider {
	height:367px;
	padding-top:40px;
}
.inner {
	background:#edf0f6;
	border-top:3px solid #fcfcfd;
	border-bottom:3px solid #fcfcfd;
	padding-bottom:44px;
}
.block {
	padding:40px 0 50px 0;
	background:url('/images/border-bg.gif') left bottom repeat-x;
	overflow:hidden;
}
.block-pad {
	padding:40px 0 40px 0;
}
.info-block {
	float:left;
	width:740px;
	text-transform:uppercase;
	font-weight:400;
}
.link {
	color:#ee4003;
	text-decoration:none;
}
.link:hover {
	text-decoration:underline;
}
.button,.button1 {
	margin-top:5px;
	float:right;
	display:inline-block;
	padding:18px 33px 18px 33px;
	color:#fff;
	background:#343434;
	border-radius:5px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:300;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	cursor:pointer;
}
.button {
	background:#ee4003;
}
.button:hover,.button1:hover {
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	background:#4f4f4f
}
.button:hover {
	background:#d83a03;
}
.button1 {
	float:none;
	padding:8px 28px;
	margin-top:24px;
}
.grid-inner {
	padding-right:61px;
}
.testimonial-block {
	background:#343434;
	border-radius:5px;
	color:#edf0f6;
	text-align:center;
	padding:37px 50px;
	position:relative;
}
.testimonial-block:before {
	position:absolute;
	width:39px;
	content:'';
	height:40px;
	background:url('/images/testimonials_bg.png') left top no-repeat;
	left:14px;
	top:14px;
}
.clients-list li {
	float:left;
	padding-left:76px;
}
.clients-list li:first-child {
	padding-left:0;
}
.camera_caption div {
	padding:0;
	background:none;
	color:#999999;
}
.camera_caption div h2 {
	color:#edf0f6;
	padding-bottom:35px;
}
.camera_caption .button {
	margin-top:18px;
	float:none;
	display:inline-block;
	padding:18px 35px 18px 35px;
	color:#000;
	background:#ee4003;
	border-radius:5px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:300;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
}
.camera_caption .button:hover {
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	background:#d83a03;
}
.carousel {
	width:940px !important;
	height:52px;
	margin-bottom:-10px;
}
.carousel li {
	padding:0 60px 0 0;
}
.prev,.next {
	position:absolute;
	display:block;
	width:39px;
	height:39px;
	opacity:1
}
.prev:hover,.next:hover {
	opacity:0.9;
}
.prev {
	background:url(/images/prev_bg.gif) left top no-repeat;
	right:48px;
	top:50px;
}
.next {
	background:url(/images/next_bg.gif) left top no-repeat;
	right:0;
	top:50px;
}
.title {
	display:block;
	padding:10px 0 10px 0;
}
.list {
	margin-top:-5px;
}
.list li {
	background:url('/images/li-bg.gif') left 13px no-repeat;
	line-height:30px;
	padding-left:15px;
}
.list li a {
	text-decoration:none;
	color:#343434;
}
.list li a:hover {
	color:#d52d00
}
#contact-form input,#signup-form input,#login-form input , #form input{
	padding-left:20px;
}
#contact-form textarea,#signup-form textarea {
	padding-left:20px;
	resize:none;
	height:128px;
}
#contact-form label,#signup-form label,#login-form label, #form label {
	height:49px;
	display:block;
}
#contact-form .button1,#signup-form .button1,#login-form .button1, #form .button1 {
	margin-right:10px;
	padding:8px 22px;
}
.contacts {
	padding-left:15px;
}
.contacts .title {
	padding:5px 0 20px 0;
}
.pad1 {
	padding-bottom:180px;
}
iframe {
	border-radius:5px;
}

footer {
	height:60px;
	color:#9a9a9a;
	font-weight:300;
	padding-top:20px;
}
footer a {
	text-decoration:none;
}
.social {
	padding-left:74px;
	line-height:30px;
}
.social a {
	display:inline-block;
	margin-left: 5px;
}
select.choose-trageting{
	padding:0px;
	height:30px;
}
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family:arial;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 23px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('/images/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/images/chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('/images/chosen-sprite.png') no-repeat 100% -20px;
  background: url('/images/chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('/images/chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('/images/chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('/images/chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('/images/chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

.chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 4px 0px;
	width: 100%;
	height: auto !important;
	height: 1%;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: 1px solid #e1e4e9;
	cursor: text;
	font-size: 1em;
	font-family: 'Lato',sans-serif;
	vertical-align: middle;
	font-weight: normal;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('/images/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('chosen-sprite.png') no-repeat -30px -20px;
  background: url('/images/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('/images/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('/images/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('/images/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('/images/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('/images/chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
table.tftable {font-size:13px;color:#333333;width:100%;border-width: 1px;border-color: #ddd;border-collapse: collapse;}
table.tftable th {font-size:12px;background-color:#eee;border-width: 1px;padding: 8px;border-style: solid;border-color: #ddd;text-align:left;}
table.tftable tr {background-color:#ffffff;}
table.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #ddd;}
table.tftable tfoot td{background:#ddd;font-weight:bold;}