@charset "utf-8"; /* CSS Document */

@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../fontface/font/playfairdisplay-italic-webfont.eot');
    src: url('../fontface/font/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/font/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fontface/font/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fontface/font/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fontface/font/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
.fa {
    font-family:  "Microsoft YaHei",FontAwesome,"Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

/*全局样式*/
* {margin:0;padding:0;border:0;}
a {text-decoration:none;}
ul li { list-style:none;}
.fl {float:left;}
.fr {float:right;}
.clr {clear:both;overflow: hidden;height: 0;line-height: 0;font-size: 0;}
i {font-style:normal;font-weight:bold;}
s {text-decoration:none;}
.w {width:1210px;min-width:1210px;margin:0 auto;}

body{background:#efefef; font-size:14px;}


/*top开始*/
#topkong{width: 100%;margin-bottom: 15px;}
#top{height: 48px;width: 100%;margin-bottom: 15px;margin-top: 15px;}
.topnei{height: 48px;width: 1000px;margin: 0 auto;position: relative;}
.topleft{float: left;height: 48px;width: 228px;background: url(../images/r2_c2.jpg) no-repeat;}
.topicon{float: right;height: 36px;width: 216px;position: absolute;bottom: 0px;right: 148px}

.topicon-1{background: url("../images/icon01.png") no-repeat;}
.topicon-2{background: url("../images/icon02.png") no-repeat;}
.topicon-3{background: url("../images/icon03.png") no-repeat;}
.topicon-4{background: url("../images/icon04.png") no-repeat;}
.topicon-1,.topicon-2,.topicon-3,.topicon-4{height: 36px;width: 36px;float: left; background-size:36px 36px;}
.topzi{float: right;
font-weight: 700;position: absolute;right: 374px;bottom: 8px;}
.topzi a{color: #005689; font-size:16px;}
.toppp{width: 36px;height: 36px;right: -26px;top:25px;background: url('../images/icon05.png') no-repeat; float:left;}
/*蓝条*/
#topblue{height: 20px;width: 100%;background-color: #2396CC;clear: both;margin-top: 10px;}
#topditu{width: 100%;height: 115px;background:#0a5da3;margin-bottom:30px;}
.bbba{height:0px; background:#fff; position:absolute; width:100%; top:0px; left:0px;}
.topditu-nei{width: 1000px; margin: 0 auto;position: relative;}
.topfangzi{float:left;padding: 47px;}
.topfangzi a{width: 20px;height: 20px;background:url('../images/fangzi.png') no-repeat; text-indent:-9999px;	display: block;}
.topditu-nei2{float: left;
	width: 800px;
	height: 115px;
	
}	
.topdaohang{
	color: #ffffff;	
	font-size: 20px;    
	text-align: center;
}
.topdaohang a{
	color: #ffffff;
	line-height:100%;
}
.topdaohang a:hover .chuxian-zida2,.topdaohang a:hover .chuxian-zida1,.topdaohang a:hover .chuxian-zi{
	color: #e7974e;
	
}
.huanse{
	width:74px;
	height:4px;
	
	position:relative;
	top:-81px;
	left:-25px;
   
   	-webkit-transition:all 0.35s,-webkit-transform 0.35s;
   	-moz-transition:all 0.35s,-moz-transform 0.35s;

}
.huanse2{
	width:74px;
	height:4px;
	
	position:relative;
	top:-54px;
	left:-25px;
  
   z-index:1100;
   	-webkit-transition:all 0.35s,-webkit-transform 0.35s;
   	-moz-transition:all 0.35s,-moz-transform 0.35s;

}
.pr{position:relative;}
.topdaohang-zi2 a:hover, .topdaohang-zi a:hover{color:#2396CC;}
.topdaohang-zi2 a:hover .huanse2,
.topdaohang-zi a:hover .huanse2,
.topdaohang-zi a:hover .huanse{
	background:#ea9852;
}

.chuxian,.chuxian1{
	display:none;
}
.topdaohang-zi23{ position:relative;}
.topdaohang-zi23 span{position:absolute;	line-height: 270%; width:20px; color:#fff; font-size:20px;top: 3px; left: 45px;}
.topdaohang-zi23:hover span{color:#2396CC; font-size:22px;}
.topdaohang-zi23:active span{color:#eb9852; }

.topdaohang-zi2:hover .chuxian{
	display:block;
}

.topdaohang-zi:hover .chuxian1{
	display:block;
}
.top-bigbanner-nei:hover{
   background:#eff4f8;
}

.top-san-zuo-zi a:hover{text-decoration:underline;}
.topdaohang-zi, .topdaohang-zi2{	
	float: left;		
	cursor:pointer;
}

.topdaohang-zi > a, .topdaohang-zi2 > a{padding: 15px 40px;
display: block;
height: 85px;
width: 30px;line-height: 140%;}
.topdaohang-zi:hover, .topdaohang-zi2:hover{background:#fff;}
.topdaohang-zi:hover > a, .topdaohang-zi2:hover > a{color:#2396CC; font-size:22px;}
.topdaohang-zi:hover > a:active , .topdaohang-zi2:hover > a:active {color:#eb9852; font-size:22px;}


.top-sousuo{
     width: 98px;
     height: 26px;
     margin-left: 5px;
	margin-top: 4px;
}
.top-sousuokuang{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 142px;
	height: 35px;
	background:url('../images/sousuo.png') no-repeat;
	background-size:100%;
}
.fangdajing{
	position: absolute;
	right: 9px;
	top: 5px;
	width: 25px;
}
.chuxian{
	width: 375px;
	background-color: #fff;
	border:1px solid #0a5da3;
	position:absolute;
	top: 114px;
	left: -129px; 
	z-index: 100;
	padding:5px;
}
.chuxian:before{content:""; background:url("../images/sj.png") no-repeat;  width:18px; height:9px; top: -8px;position: absolute;left: 178px;}

.chuxian1{
	width: 72px;
	background-color: #fff;
	border:1px solid #0a5da3;
	position:absolute;
	top: 114px;
	left: 3px; 
	z-index: 100;
	padding:10px 15px;
}
.chuxian1:before{content:""; background:url("../images/sj.png") no-repeat;  width:18px; height:9px; top: -8px;position: absolute;left: 42px;}
.chuxian-zi{color: #00507F;
	width: 12px;
	float: left;
	padding:0px 6px;
	font-size: 16px;
	


}
.chuxian-zida1{
	color: #00507F;
	width: 15px;
	float: left;
	margin-right: 7px;
	font-size: 18px;
	
	font-weight:900;
margin-left: 5px;
}
.chuxian-zi a{color: #00507F;}
/*end*/
.jianhui{

	width:320px;
	height:48px;
	position:absolute;
bottom: 0;
	z-index:-1;
	-webkit-transition:all 0.35s,-webkit-transform 0.35s;
	   	-moz-transition:all 0.35s,-moz-transform 0.35s;

	opacity:0;
}

.top-san-zhong a:hover .jianhui{
   background:#eee;
      opacity:1;
}
.top-san-you a:hover .jianhui{
   background:#eee;
   opacity:1;
}
.top-san-zuo a:hover .jianhui
{
   background:#eee;
   opacity:1;
}
.chuxian-zida2{
	width: 5px;
	float:left;
	font-size: 18px;
	
	color: #00507F;
	font-weight:900;

}
/*大图标*/
#top-bigbanner{
	width: 100%;
	margin-bottom:20px;
}
.top-bigbanner-nei{
	height: 505px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	background: #fff;
	box-shadow: 1px 1px 5px #999;
}
.top-bigbanner-nei > a{width:733px; height:412px; overflow:hidden; float:left;}
.top-bigbanner-nei > a img{width:100%; height:auto;}

/***
.top-banner{
	position: absolute;
	left: 6px;
	top: 28px;
	z-index:2;
}
***/
.top-banner-1{
	position:absolute;
	top:0;
	left:6px;
	z-index:1;
}
.top-bigzuo{
    text-indent:2em;
	width: 220px;
	height: 250px;
	position: absolute;
	right: 20px;
	top: 40px;
	
	line-height: 28px;
	font-size: 16px;
	color:#010101;
text-align: justify;
}
.top-bigzuoxia{
	width: 220px;
	height: 100px;
	position: absolute;
	right: 20px;
	bottom: 65px;
	
	
	

}
.top-bigzuoxia01{
	margin-bottom: 20px;
}
.top-bigzuoxia01 a:hover{
	text-decoration:underline;
	color:#0a5da3;
}
.top-bigzuoxia01 a:active{color:#000;}
.top-bigzuoxia02{
	font-size: 28px;
	font-weight: 700;
	color: #080808;
	position: absolute;
	left: 20px;
	bottom: 31px;
}
.top-bigzuoxia02 a:hover{color:#0a5da3;}
.top-bigzuoxia02 a:active{color:#000;}
#top-santu{width: 100%;    margin-bottom: 20px;}
.top-santu-nei{
	
	width: 1000px;
	margin: 0 auto;
	background: #fff;
	box-shadow:1px 1px 5px #999;
	overflow:hidden;
}
.top-santu-nei > div{width:31%; padding: 1.1%; float: left; position:relative;}
.top-santu-nei > div span{position:absolute; width:40px; height:40px; right:8%; bottom:25%;}
.top-santu-nei > div  img{width:310px; height:174px; }
.top-santu-nei > div  p{font-size:18px; font-weight:700; height:30px; line-height:30px; }

.top-san-zuo:hover,.top-san-you:hover,.top-san-zhong:hover{background-color:#eff4f8;}
.top-san-zuo:hover p,.top-san-you:hover p,.top-san-zhong:hover p{color:#0a5da3;}
.top-san-zuo:active p,.top-san-you:active p,.top-san-zhong:active p{color:#000;}
.top-san-zuo{	
	border-right:1px solid #ddd;
}
.top-san-zhong{
	border-right:1px solid #ddd;
}
.top-san-you{	

}

.top-san-zuo-zi{
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin-top: 10px;
}
/*footer*/
#footer{width: 1000px; margin:0px auto;}
.footer-nei{
	width: 1000px;height: 58px;margin: 0 auto;
	
	font-size: 12px;
	color: #999;

}
.footer-nei a{
	margin-right: 12px;
	line-height: 24px;
}

/*bottom-lin*/
#bottom-lin{
	height: 1px;
	width: 100%
}
.bottom-lin1{
	height: 1px;
	width: 1000px;
	margin: 0 auto;
	background-color: #999;
}
/*bottom*/
#bottom{
	width: 100%;
	height: 50px;
}

#bottom a{
	margin:0 10px;
	
	font-size: 14px;
	color: #7D97C6;
}
.bottom-b{
	
	font-size: 12px;
	color: #666;
	margin-top: 15px;
}
/*lunbo*/
.lunbotu{
	width: 308px;
	height: 475px;
	margin-left:30px;
	
}
/*粘粘*/
.zhuanban{
	width: 308px;	
	text-indent: 5px;
	margin-left:30px;
}
.zhuanban-top{
	height: 40px;
	width: 308px;
	background-color: #eee;
	line-height: 40px;
text-indent:5px;
font-size: 18px;

}
.zhuanban ul{padding:6px 0;background:#fff; overflow: hidden;}
.zhuanban ul li{margin:0px 6px; float:left;}
.zhuanban ul li a{
	line-height: 30px;
}



/**/

*{
	margin:0;
	padding:0;
	list-style:none;
font-family:Arial,Microsoft Yahei, "Helvetica Neue",Helvetica,sans-serif;
	
	list-style:none;
	text-decoration:none;
} 
a{
	color:#000;
}
span{
	font-size:14px;
	/*color:#1a97df;*/
}
i{
	text-decoration:none;
	font-style:normal;
		padding-left:5px;
		font-size:18px;

}


/**/



#hgroup{
	width:100%;
	margin-top:22px;
}
.section{       /*版心*/
	width:1000px;
	margin:0 auto 20px;
	overflow:hidden;
}
/*右边内容开始*/
.bankuai{
	width:664px;
	height:178px;
		position:relative;
		


}
.bankuai:hover{background-color:#eee;}
.bankuai:hover .right h1 a{color:#005689;}

.figure{
	width:665px;
	float:left;		
	position:relative;
	background:#fff;
}
.figure .left{
	width:240px;
	height:135px;
	float:left;
	overflow:hidden;

}
.left .bianse{
	width:100%;
	position:absolute;
	height:100%;
	z-index:-1; 
	-webkit-transition:all 0.35s,-webkit-transform 0.35s;
	   	-moz-transition:all 0.35s,-moz-transform 0.35s;

	opacity:0;
}
.left a{

	width:240px;
	height:135px;
	display:block;
	cursor: pointer;
  }
  .left a:hover h1,
  .left a:hover p{
      opacity:0.4;
  }
 .left a:hover .bianse {
	background:#eee;
	opacity:1;
	
}

.figure .figcaption {

    border-top:1px solid #ddd;

}
.figure .right{
	width:392px;
	float:right;
	margin:4px 16px 0px 16px;
}
.figure .right h1{
	margin-bottom:12px;
		letter-spacing:1px;
		font-size:18px;
		line-height:28px;

}

.figure .right p{
	font-size:14px;
	line-height:22px;
	color:#535353;
	text-indent:2em;

}

/*更多*/

.gengduo{
	width:640px;
	height:78px;
	background:url(../images/xia01.png) no-repeat center right;
	cursor:pointer;
}
.gengduo p{
	width:32px;
	float:right;
	line-height:78px;
	margin-right:12px;
	font-size:12px;
}
.dibian-tupian{
	width: 664px;
	height: 83px;
	background: url('../images/picture04.png') no-repeat;
	float: right;
}


/*right*/

.right-cebian{
	width:334px;	
	float:right;
}
.cenbian-yanlun{
	width:308px;
	margin-left: 28px; 

}
.cenbian-yanlun .jianbian{
	width:308px;
	padding-top: 1px;
}
.cenbian-yanlun .jianbian2{
	width:308px;
	   margin-bottom:32px;

}

 .cenbian{
	width:306px;
    height:422px;
    margin-left:28px;
    border:1px solid #999;
    overflow-y:auto;
    	    box-shadow:2px 8px 5px #999;
background: #fff;

}
/*右2*/
.ou{padding:10px 0px;  overflow: hidden;}
.ou .ou-1 p{
    font-size:12px;
    line-height:18px;
}
.ou .ou-1 h5{
	font-size:16px;
	padding-bottom:5px;
}
.ou img{
	margin:0px 0px 0px 4px;
	border-radius:50%;
}
.ou .ou-1 {
	width:207px;
	float:right;	
}

.ou-1 .titlen h2{font-size:14px; color:#666; margin-bottom:5px;}
.ou-1 .titlen p{color:#999;}


.cenbian2{
	border-top: 1px solid #e1e1e1;
	width:307px;
    height:80px;
    margin-left:28px;
  overflow:hidden;

  background:url(../images/bg_w01.png) no-repeat;
}
.bianqian{position:relative;}
.bianqian img{position:absolute;margin-left: 10px; top:-2px;}
.bianqian p{
	
	width:205px;
	line-height:24px;
margin-left:82px;
margin-top:8px;
 }
.bianqian a{
	font-family: "playfair_displayitalic";
	color:#1395df;

}

/*右3*/
.ou-logo{ position:absolute;top: -41px;
left: 27px;z-index: 12;}
.ou-xinwen{
	width:338px;
	height:420px;
	position:relative;
	behavior: url(ie-css3.htc);
	margin-bottom: 20px;
}
.ou-xinwen .ou-xinwen-1{
	margin-left:28px;
	width:310px;
	height:415px;
	margin-top:66px;
	box-shadow:1px 1px 5px #999;
}
.ou-xinwen-1-1{
	width:310px;
	height:82px;
	background:#fff;
	overflow:hidden;
	position: relative;
	border-bottom:1px solid #999;		
}
.ou-xinwen-1-1 p{	
	width:42px;
	font-size:20px;
	background:#00b9e7;
	text-align: center;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	height:82px;
	z-index:11;
	  color:#fff;
	-webkit-transition:all 1s,-webkit-transform 1s;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
		-moz-transition:all 1s,-moz-transform 1s;
	-moz-transform:translate3d(0,0,0);

	-ms-transition:all 1s,-ms-transform 1s;
	-ms-transform:translate3d(0,0,0);
}
.ou-xinwen-1-1 .shenghuo{
	padding-top:10px;
}
.go{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:20;
}
.ou-xinwen-1-1 .yidong{
	position:absolute;
	top:0;
	content:'';
	z-index:10;
	background:#fff;
	width:75%;
	height:100%;
	padding:16px 0px 0px 62px;
	-webkit-transition:all 1s,-webkit-transform 1s;
	-ms-transition:all 1s,-ms-transform 1s;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
			-moz-transition:all 1s,-moz-transform 1s;
			-ms-transition:all 1s,-ms-transform 1s;
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
}


.ou-xinwen-1-1 img{
   -webkit-transition:all 1s,-webkit-transform 1s;
   -ms-transition:all 1s,-ms-transform 1s;
	transform:translate3d(-100%,0,0);
	-ms-transform:translate3d(-100%,0,0);
			-moz-transition:all 1s,-moz-transform 1s;
	-moz-transform:translate3d(-100%,0,0);
}
.ou-xinwen-1-1:hover img{
		transform:translate3d(-10%,0,0);
		-moz-transform:translate3d(-10%,0,0)
		-ms-transform:translate3d(-10%,0,0);
		-ms-transform:translate3d(-10%,0,0)

}
.ou-xinwen-1-1:hover .yidong
{
		-moz-transform:translate3d(100%,0,0);
		transform:translate3d(100%,0,0);
		-ms-transform:translate3d(100%,0,0);
		-ms-transform:translate3d(100%,0,0);


}
.ou-xinwen-1-1:hover p{
		-moz-transform:translate3d(268px,0,0);
		transform:translate3d(268px,0,0);
		-ms-transform:translate3d(268px,0,0);
		-ms-transform:translate3d(268px,0,0);


}
.ou-zhuanglan{
	width:338px;	
	position:relative;
	margin-top:32px;
}
.ou-zhuanglan-1{
	margin-left:28px;
	width:310px;	
	
}
/*阴影*/
.ou-yinying01{
	width: 105px;
	height: 31px;
	background: url('../images/yinying1.gif') no-repeat;
	font-weight: 700;
	font-size: 18px;
	line-height: 31px;


}
.ou-yinying02{
	width: 308px;
	height: 303px;
	background: url('../images/yinying2.png') no-repeat;

}
.ou-yingyingzi{
	font-size: 20px;
	line-height: 45px;
	
	margin-left: 18px;
}
.ou-yingyingzi1{
	height: 45px;
	border-bottom: 1px #999 solid;
	background: url('../images/dian01.png') no-repeat;
	background-position: 0px 14px;
}
.ou-yingyingxiaozi{
	line-height: 30px;
	
	margin-left: 30px;
	margin-top: 10px;
}
.ou-yingyingzi1 a:hover {
	color: #7496a9;
	background: url('../images/dian02.png') no-repeat;


}

.ou-yingyingxiaozi a:hover{
	text-decoration:underline;
}
/*轮播页css*/
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{ width:308px; height:475px; position:absolute; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;width: 307px;}
#playBox .oUlplay li img{ width:307px; height:440px;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../images/l.png) no-repeat; position:absolute; top:190px; left:10px; z-index:10;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../images/r.png) no-repeat; position:absolute; top:190px; right:10px; z-index:10;}


/*footer*/
#zuizuixia{
	width: 100%;
	height: 60px;
	
	clear: both;

}
#bottom-lin{
	width: 100%;
	height: 1px;
	background-color: #999;
}
/**/
/*www.sucaijiayuan.com*/
.menu_list{width:311px;box-shadow:2px 3px 15px #999;position:relative;}
.menu_head{width:232px;height:44px;line-height:47px;padding-left:77px;font-size:24px;color:#0d0d0d;cursor:pointer;border:1px solid #e1e1e1;position:relative;font-weight:bold;background:#f1f1f1 url(../images/pro_left.png) center right no-repeat;margin:0;font-weight:100;}
.menu_list .current{background:#f1f1f1 url(../images/pro_down.png) center right no-repeat;}
.menu_body{width:310px;height:auto;overflow:hidden;line-height:38px;border-left:1px solid #e1e1e1;backguound:#fff;border-right:1px solid #e1e1e1;}
.menu_body a{display:block;width:223px;height:38px;line-height:38px;padding-left:38px;background:#fff;text-decoration:none;border-bottom:1px solid #e1e1e1;
font-size:16px;}
.menu_body ul li{
	list-style-type: disc ;
}
.kuai{
	width:47px;
	height:45px;
	position:absolute;
	background-color:#ececec;
	z-index:21;
}
.menu_list img {
	position:absolute;
     left:13px;
     top:15px;
     z-index:20;
     opacity:.7;
}
p.menu_head:hover {
	color:#4c7a95;
}

#top_s{position:fixed; right: 20px; bottom: 50px;cursor: pointer; width:50px; height:50px;}
#top_s img{width:100%;}


/***内容页***/
.figure-nr{border:0px;padding: 0px 15px 15px; width:636px;}
.nav-nr{width:100%; display:block; height:30px; line-height:30px; margin-bottom:20px;}
.nav-nr, .nav-nr a, .nav-nr strong{ color:#005689; font-size:16px;}

.content-nr{}
.bt-nr{border-bottom:1px solid #e1e1e1; margin-bottom:20px;}
.bt-nr h1{font-size:22px; color:#333; text-align:center; font-weight:100; line-height:140%; margin-bottom:20px;}
.info-nr{text-align:center; margin-bottom:20px;}
.info-nr em{font-style:normal; font-size:12px; color:#999;  margin:0px 8px;}
.info-nr em span{font-size:12px;}

.cont-nr p{text-indent:2em; color:#444; line-height:160%;/* text-align:left;*/ margin-bottom:20px;}
.cont-nr{/*text-align:center;*/}
.cont-nr img{max-width:500px; height:auto; display:block; margin:0px auto; margin-bottom:20px;}

.cont-info-bj{display:block; margin-bottom:20px; text-align:right; color:#444;}

.jiathis_style{width:100%; margin-bottom:20px;overflow: hidden; font-size:16px;}
.xgnews-nr{overflow: hidden; width:100%;margin-bottom:20px;}
.xgnews-nr h4{font-size:16px; color:#6988c0; border-bottom:1px solid #e1e1e1; height:40px; line-height:40px;}

.list-7{padding:10px 0px;}
.list-7 li {
    overflow: hidden;
    line-height: 26px;font-size:14px; overflow:hidden;
}
.list-7 li a{color:#444; }
.list-7 li a:hover{color:#2396CC;}
.list-7 li span{float:right;font-size:14px; color:#ccc;}

.review-nr{overflow: hidden; width:100%;margin-bottom:20px;padding-top: 20px;}
.review-nr h4{font-size:16px; color:#6988c0; border-bottom:1px solid #e1e1e1; height:40px; line-height:40px; overflow:hidden;}
.review-nr .rev-more{float:right; font-size:14px; }
.review-nr .rev-more a{color:#6988c0; font-weight:100;}

.want-rev{text-align:center;    overflow: hidden; padding:20px;}
.btn-rev{background:#6988c0; color:#fff; padding:5px 18px;}
.btn-rev:hover{color:#d9e6fc;}

/***文章评论列表***/
.content-rev{}
.rev-bt{margin-bottom:5px;}
.rev-bt em{font-style:normal; font-size:14px;color:#333;}
.rev-biaot{font-size:16px;color:#111; line-height:140%;}
.rev-biaot:hover{color:#005689;}
.btinfo-nr{text-align:left; margin-bottom:20px;}
.btinfo-nr em{font-style:normal; font-size:14px; color:#999;  margin-right:10px;}

.rev-sum{font-size:14px; font-weight:100; color:#555;}
.rev-sum i{font-style:normal; color:red;font-size:14px; font-weight:100; margin:0px 2px; padding:0;}

.rev-nr-info{ border-bottom:1px solid #e1e1e1; padding:10px 0;}
.rev-nr-info h5{ font-size:16px; margin-bottom:5px;}
.rev-nr-info .rev-xx{color:#444; font-size:14px; margin-bottom:10px;}
.rev-nr-info em{font-style:normal; color:#999; font-size:14px;}

#page{margin-bottom:10px;padding: 20px 0px; font-size:14px; text-align:center;}

.comment{padding: 15px 10px; background: #f1f4f7; border: 1px solid #d9e5f0; overflow:hidden;}
.comment h1{font-size:16px; font-weight:100; margin-bottom:15px;}
.comment span {float:right; color:#6988c0;}
.comment span a{ color:#6988c0; font-size:14px;}
.comment span a:hover{ color:#7d99ce;}
.comment-nr{width:96%; font-size:14px; padding:2%; margin-bottom:5px; border:1px solid #e1e1e1;}
.comment .yzm{ height:30px; line-height:30px; overflow:hidden; margin-bottom:20px;}
.yzm-input{float:left;}
.yzm-input em{margin-right:10px; font-style:normal;}
.input-yzm{border:1px solid #e1e1e1;}
.btn-yzm{padding:5px 10px; cursor:pointer;}
.niming{float:right;}
.com-txt{font-size:14px; color:#999;}

/*20160412首页言论*/
.yanlun{width:307px; margin-left:28px; margin-bottom: 20px;}
.yl_tou{position:relative; padding-top:20px;}
.yl_tou > span{position:absolute; width:112px; height:40px; top:0px;}
.yl_tou span img{width:100%;}

.yt_img{width:307px;background-color: #fff;}
.yt_img img{width:100%;display: block;}
.yt_img p{padding: 7px 20px;
background: #0890dc;
color: #fff;
font-size: 18px;
font-weight: 700;
line-height: 130%;}
.yt_img:hover p{ background:#82c6eb;}

.yl_other{background:#fff; padding:10px 10px 10px 20px;}
.yl_other ul{border-left:2px solid #078edf; padding-left: 10px; position:relative;}
.yl_other ul:after{content:""; display:block; position:absolute; background:url("../images/add.png") no-repeat; width:16px; height:24px; bottom:0px; left:-9px;}
.yl_other ul li{margin-bottom:10px;}
.yl_other ul li h3{color:#0890dc; margin-bottom:5px; font-size:16px;}
.yl_other ul li p{color:#898989; line-height:130%;}
.yl_other ul li:hover h3{color:#82c6eb;}
.yl_other ul li:hover p{color:#C0C0C0;}

/*专栏*/
.zl-i{width: 307px;margin-left: 28px;margin-bottom: 30px; position:relative;}
.zl-i-t{position:absolute; top:0px; left:0px;}
.zl-i-t h2{background:#0890dc; padding:4px 19px; position:relative; color:#fff; font-size:20px; font-weight:100; width:60px; text-align:center;}
.zl-i-t h2:after{content:""; display:block; position:absolute; background:url("../images/dsj.png") no-repeat bottom center; width:20px; height:8px; bottom: -7px;left: 39px;}
.zl-tou{padding-top:35px; }
.zl-tou img{display:block;}
.zl-t-info{background:#fff; padding:10px;}
.zl-t-info:hover{background:#eff4f8;}
.zl-t-info h3{font-size:18px; margin-bottom:5px;font-weight:100; color:#111;}
.zl-t-info p{ color:#898989; line-height:130%;}

.zl-other ul{ background:#fff;}
.zl-other li{cursor:pointer; padding:8px 5px;}
.zl-other li:hover{background:#eff4f8;}
.zl-other li img{width:120px; height:auto; margin-right:10px; float: left;}
.zl-other li h4{font-size:15px; line-height:120%; color:#111; font-weight:100; margin-bottom:5px;}
.zl-other li p{font-size:14px; color:#898989;line-height:120%;}

/*内容页——热门推荐*/
.hot-tj{background:#fff; margin-left:28px;}
.hot-tj h2{ border-bottom:2px solid #0890dc; position:relative; padding:10px; font-size:18px; }
.hot-tj h2:after{ content:""; display:block; position:absolute; background:url("../images/dsj.png") no-repeat bottom center; width:20px; height:8px; bottom: -8px;left: 35px;}

.hot-tj ul{padding:10px 15px;}
.hot-tj ul li{ line-height:130%; margin-bottom:5px;}
.hot-tj ul li a{color:#444;}
.hot-tj ul li a:hover{color:#2396CC;}


/*列表页 新闻列表*/
/*选项卡*/
.x-tag{width:665px; float:left;}
.xu-tag{height:40px;}
.xu-tag li{float:left; line-height:40px; background:#fff;  cursor:pointer; font-size:16px;}
.xu-tag li a{padding:0px 20px; display:block}
.xu-tag li:hover, .xu-tag .click{background:#0890dc; color:#fff; font-weight:700;}
.xu-tag li:hover a, .xu-tag .click a{ color:#fff;}

/*==新闻列表==*/
.f-news{display:none;}
.ul_news li{padding:15px; border-bottom:1px solid #ccc;overflow: hidden;}
.ul_news li:hover{background-color:#eff4f8;}
.ul_news li h3{font-size:18px;  margin-bottom: 8px; }
.ul_news li h3:hover{color:#0a5da3;}
.ul_news li h3:active{color:#000;}
.ul_news li div.n_img{float:left; margin-right:15px; width:240px; height:135px; position:relative;}
.ul_news li div.n_img span{position:absolute; width:40px; height:40px; bottom:10px; right:10px;}
.ul_news li div.n_img span img{width:100%; height: auto;}
.ul_news li div.n_img img{ width:240px; height:135px; object-fit:cover; }
.ul_news li .n_txt{font-size:14px; height: 48px; line-height: 24px; margin-bottom: 22px; color: #999;}
.ul_news li .n_a{overflow:hidden; }
.ul_news li .n_a span{float:left; margin-right:40px; color:#bbb;}
.n-more{ text-align:right; padding:15px;}
.n-more a{ color:#eb9751;  padding-right:20px; text-align:right; position:relative;}
.n-more a:after{content:""; display:block; position:absolute; background:url("../images/xia01.png") no-repeat; top: 3px;right: 0;width: 16px;height: 16px;}
.ad-list{width:654px; margin:0px auto; }

/*==视频内容==*/
.video-nr{position:relative; background:#fff;z-index: 99; padding-bottom: 10px;}
#swfplayer {position: relative; background:#777;}

/* 尺寸变化按钮 */
a.player-exp-btn {
    height: 100%;
    background: #777;
    z-index: 99;
    display: block;
    width: 6px;
}
a.pst-abs-t-r {
    position: absolute;
    right: -6px;
    top: 0;
}
a span.fa.fa-angle-double-right.fa-lg,a span.fa.fa-angle-double-left.fa-lg {
	top: 50%;
	position: absolute;
	margin-top: -23px;
	width: 16px;
	height: 40px;
	background: #777;
	text-align: center;
	line-height: 40px;
	border-radius: 0 5px 5px 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.fa-angle-double-right::before {
    content: ">";
}
.fa-angle-double-left::before {
    content: "<";
}
a span.fa.fa-angle-double-right.fa-lg, a span.fa.fa-angle-double-left.fa-lg {
    text-align: center;
    line-height: 40px;
	color:#000;
}
.fa {
    font-family: "Microsoft YaHei",FontAwesome,"Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB",  "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
 a:hover span.fa.fa-angle-double-right.fa-lg, a:hover span.fa.fa-angle-double-left.fa-lg, a.player-exp-btn:hover {
    background: #0055af;
    color: #fff;
}

.video-title{overflow:hidden;}
.video-title h1{float:left; width: 80%; margin-top: .5em; font-size:22px; color:#111; font-weight:100;}
.video-title p{float:right; margin-top: 12px;margin-right: 12px;}
.video-title p span{font-size: 22px; color: #0055af; margin-right: 4px; font-style: italic;}

/*视频信息*/
.video-info{margin-bottom:15px;}
.v-i-t{overflow:hidden;margin-bottom: 20px;}
.v-i-t-l{float:left;width: 240px;position: relative; margin-top: 10px; height: 65px;}
.v-i-t-l img{width: 65px;height: 65px;position: absolute;left: 0;top: 0;}

.username { margin-left: 80px;}
.username span{color:#777; font-size:14px;}
.username .user { color: #0055af; font-size: 16px; margin-right: 5px;}

.sufer-act-nav {padding-top: 5px; text-align: center; float:right;}
.sufer-act-nav li {display: inline-block;    *display: inline;    *zoom: 1;    margin-right: 20px;    line-height: 1.8;    cursor: pointer;}

/*收藏-分享-反馈-简介图标*/
.sufer-act-nav p{font-family: "Microsoft YaHei", FontAwesome,"Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif; color:#333;}

.v-share ,.v-report,.v-info,.v-up,.v-star{ font-size:32px; cursor:pointer;}
.sufer-act-nav li:hover p{color: #0055af;}
.selected { border-bottom:2px solid #0055af; display: block;}
.selected p{color: #0055af;}
.v-share:hover ,.v-report:hover,.v-info:hover,.v-up:hover,.v-star:hover{ color: #0055af;}
.v-share::before {content: "\f1e0"; }
.v-report::before { content: "\f129"; }
.v-info::before { content: "\f0f6";}
.v-up::before {content: "\f164";}
.v-star::before { content: "\f005";}

.sf-act-ct {
    display: block;
    clear: both;
    border-top: 1px solid #ccc;
    padding: 20px 0;
}
.sf-act-ct > div{float:left;}
.share-url {
    width: 300px;
    padding-right: 25px;
    margin-bottom: 30px;
    border-right: 1px solid #ccc;
}
.share-url h4 { font-size:14px; margin-bottom:20px;}
.share-url lable {
    width: 70px;display: inline-block;
}
textarea, input.t, select {
    background-color: #fafafa;
    border: 1px solid #CCC;
    border-color: #999 #CCC #CCC #999;
    color: #333;
    padding: 2px;
}
#tv-page textarea, #tv-page input[type="text"] {
    padding: 2px 4px;
    margin: 4px 0;
    font-size: 14px;
    vertical-align: middle;
    line-height: 1.4em;
    -webkit-box-shadow: 0 0 3px 1px #ccc inset;
    -moz-box-shadow: 0 0 3px 1px #ccc inset;
    box-shadow: 0 0 3px 1px #ccc inset;
    border: 0px solid #bbb;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn-pt {
    background: #333;
    color: #ddd;
    font-size: 12px;
    padding: .15em .6em;
    margin: 3px;
    border: none;
    cursor: pointer;
}
.share-url{
	width: 300px;
    padding-right: 25px;
    margin-bottom: 30px;
    border-right: 1px solid #ccc;
}
.share-so{
    margin-bottom: 20px;
    padding: 0 20px;
}
.share-so li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 35px;
    width: 35px;
    text-align: center;
    margin: 5px;
}
.share-so .fa-qq{
    font-size: 1.75em;
}
.share-qr {
	width: 120px;
    padding-left: 25px;
    border-left: 1px solid #ccc;
}
.share-so .bdshare-button-style2-16 a, .share-so .bdshare-button-style2-16 .bds_more{
    background-image: none;
    font-size: 24px;
    margin: 10px 0;
    width: 25px;
    float: none;
    color: #333;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
a.fa.fa-qq.fa-2x {
    font-size: 22px;
}
.share-so .bdshare-button-style2-16 .bds_more {
    text-align: left;
    padding: 1px 5px;
    color: #0055af;
    background-image: none;
    float: right;
    margin: 0;
    font-size: 14px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.share-so h4{
    display: inline-block;
    *display: inline;
    *zoom: 1;
	font-size: 14px;
	margin-bottom: 14px;
}
.share-so a:hover.bds_more, .share-so a:focus.bds_more{
    color: #fff;
    text-shadow: 0 0 2px #0055af;
}
.share-qr img{
    width: 120px;
    margin-top: 6px
}

a.fa.fa-qq.fa-2x,a.fa.fa-weibo.fa-2x,a.fa.fa-tencent-weibo.fa-2x,a.fa.fa-renren.fa-2x,a.fa.fa-twitter.fa-2x,a.fa.fa-facebook.fa-2x{
    color: #333;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
a:hover.fa.fa-qq.fa-2x, a:focus.fa.fa-qq.fa-2x{
    color: #0055af;
}
a:hover.fa.fa-weibo.fa-2x, a:focus.fa.fa-weibo.fa-2x{
    color: #c80000;
}
a:hover.fa.fa-tencent-weibo.fa-2x, a:focus.fa.fa-tencent-weibo.fa-2x{
    color: #41a88b;
}
a:hover.fa.fa-renren.fa-2x, a:focus.fa.fa-renren.fa-2x{
    color: #0064c8;
}
a:hover.fa.fa-twitter.fa-2x, a:focus.fa.fa-twitter.fa-2x{
    color: #4E95ED;
}
a:hover.fa.fa-facebook.fa-2x, a:focus.fa.fa-facebook.fa-2x{
    color: #3B5998;
} 

/*反馈*/
.va-report{width: 615px; max-width: 615px;padding: 10px;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;

}
.va-report:hover {
    -webkit-box-shadow: 0 0 6px 1px #0055af inset;
    -moz-box-shadow: 0 0 6px 1px #0055af inset;
    box-shadow: 0 0 6px 1px #0055af inset;
    padding: 10px;
    width: 615px;
    height: 150px;
}
.reply_btn a, input.tv-sub-btn {
    float: right;
    font-size: 12px;
    line-height: 2em;
    margin: 1em;
    padding: 0 1em;
    cursor: pointer;
    border: none;
    background: #333;
    color: #ddd;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*简介*/
#descrip {
	color: #555;
    overflow: hidden;
    position: relative;
    height: 100px;
    padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.des-btn {	   
    position: absolute;
    right: 0;
    width: 100%;
    bottom: -1px;
    height: 40px;
    * IE9 SVG, needs conditional override of 'filter' to 'none' */ background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(53%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.des-btn a {
    color: #333;
    right: 10px;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    padding: 0 20px 0 12px;
    background: #fff;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.des-btn a:hover{background: #0055af;color: #fff;}
.dis-no {display: none;}
.sf-act-ct {
    display: block;
    clear: both;
    border-top: 1px solid #ccc;   
    padding: 20px 0;
}

.mask_fff{background:#fff; width:340px; height:100px; position:absolute; top:-50px; right:0; display:none;}



/*160525首页导航修改*/
.top_nav > li{float:left; width:125px; position:relative;}
.top_nav > li:hover{background-color:#fff;}
.top_nav > li:hover a{color:#0a5da3;}
.top_nav > li > a{color:#fff; display:inline-block; text-align:center; font-size:22px; padding:27px 52px;}
ul.sub_n{display:none;  position: absolute; padding:10px; border:1px solid #0a5da3; z-index:999; background-color:#fff; overflow:hidden;}
.top_nav > li:first-child a{background:url("../images/fangzi.png") no-repeat center center; width:19px; height:61px; text-indent:-9999px; }
.top_nav > li:first-child:hover{background-color:transparent;}
.top_nav > li:first-child:hover:after{content:"";background-image:none;}
.top_nav > li:hover:after{content:""; position:absolute; background:url("../images/sj.png") no-repeat top center; display:block; width:18px; height:9px; bottom:-1px; left:43%; z-index:1000;}
ul.sub_n li{float:left; width:20px; margin-left: 8px; margin-right:2px; }
ul.sub_n li:first-child{margin-left: 0px;}
ul.sub_n li.sub_n_s {margin:0px;}
ul.sub_n li.sub_n_s a{font-size:14px;}
ul.sub_n li a{font-size:18px;}
ul.sub_n li a:hover{color:#e7974e;}
ul.n_ouzhou{width:142px; left:-20px;}
ul.n_ouzhong{left:27px;}
ul.n_qiaojie{ left: 27px;}
ul.n_zhongguo{ left: -6px; width: 115px; }
ul.n_yanlun{ left: 13px;}
ul.n_guoji{left: 27px; }
ul.n_more{left: -60px; width:232px;}
.top_nav > li:hover > ul.sub_n{display:block;}

/*160530列表页tag修改*/
.x-tag {
    width: 665px;
    float: left;
    overflow: hidden;
    position: relative;
    height: 40px;
}
.xu-tag {
    height: 40px;
    overflow: hidden;
    width: 1000px;
    position: absolute;
    left:0;
}
.x-t-yd{position:absolute; right:0px; height:40px; z-index:100; background:#fff;}
.x-t-yd span{width:30px; height:40px; line-height:40px;  display: inline-block; cursor:pointer; text-align:center; color: #0a5da3; font-family: arial;}
.x-t-yd span:hover{background-color:#f3f3f3;}

/*160612电子报列表*/
.white-bg, .main{width:1000px; margin:0px auto;}
#jgcsTable_body{overflow:hidden;}
#jgcsTable_body > div{margin:10px 0;overflow: hidden;}
#jgcsTable_body ul{float:left;width: 225px;margin-left: 20px;}
#jgcsTable_body ul li {    line-height: 20px;    text-align: center;    color: #6988c0;}
#jgcsTable_body ul li  img{ width: 225px;height: 332px;}

/*160616搜索页查询结果*/
div.sitemap{padding-top:20px;}
.tab_sort{margin-bottom:20px;}
.sear_ul{overflow:hidden;}
.sear_ul li{text-align:left; font-size:14px; color:#666; margin-bottom:5px;}
.sear_ul li:first-child a{font-size:16px; font-weight:600; color: #0a5da3;}
.sear_ul li:last-child span{font-size:14px; color: #c0c0c0;}
.list_s{margin-bottom:20px;}

/*160620首页增加*/
.top-bigzuoxia li{background:url('../images/docs.png') no-repeat left center; width: 196px;
padding-left: 10px;overflow: hidden;height: 20px;white-space: nowrap;text-overflow: ellipsis;}
.n-more a{    cursor: pointer;}

/*160713首页添加*/
.top-santu-nei > div p.p_txt{font-size: 14px; line-height: 140%; font-weight: normal; color: rgb(170, 170, 170); height: 60px;}

.ou-xinwen1 {   width: 307px;   height: 420px;   position: relative;   behavior: url(ie-css3.htc);   margin-bottom: 20px; margin-top: 66px;margin-left: 25px;}
.ou-logo1 { position: absolute;   top: -41px;   left: 0px;   z-index: 12;}
.tab-txt{position: absolute; right: 0px; top:-28px; }
.tab-txt ul{overflow:hidden;}
.tab-txt ul li{float:left; margin-left:15px; color:#3e3e3e; font-weight:bold;}
.tab-txt ul li.t-1{color:#00b4e5;}
.tab-txt ul li.t-2{color:#96c831;}
.tab-txt ul li.t-3{color:#7e62ea;}

.tab_kuang{overflow:hidden;  width:307px; height:416px;   position:relative; box-shadow: 1px 1px 5px #999;}
.ou-tab{position:absolute; }

.yd_kuang{float:left; width:307px; height:420px; position:relative; overflow:hidden;}
.yd_kuang li{ width:620px; height:82px; border-bottom:1px solid #999;  left:-310px; background-color:#fff; overflow:hidden;position:absolute;}
.no_k_img{ float:left;  width:307px; }
.no_k_txt{float:left; width:230px; height:53px; padding:15px; font-size:18px; border-left:40px #96c831 solid;}

#t1 .no_k_txt{border-left:40px #00b4e5 solid;}
#t2 .no_k_txt{border-left:40px #96c831 solid;}
#t3 .no_k_txt{border-left:40px #7e62ea solid;}

#ou-sider li{cursor:pointer;}

#changyan_floatbar_wrapper #bottombar-wrap-w #anonymous_fast > a{background:#0a5da3; color: #fff;  padding: 6px;  border-radius: 3px; }
#changyan_floatbar_wrapper #bottombar-wrap-w #anonymous_fast > a:hover{background:#82c6eb;}

/**160816 周报**/
.zhoubao{width: 307px;margin-left: 28px;margin-bottom: 20px;}
.ul_zhoub{ background-color:#fff; padding:24px 12px 0px; overflow: hidden;}
.ul_zhoub li{position:relative; overflow:hidden; height:63px; border-bottom:1px solid #ccc;}
.ul_zhoub li:last-child{border-bottom:0;}
.ul_zhoub li  > .zb_img{background-color:#fff; }
.ul_zhoub li  > .zb_img img{width:100%; height:159px; object-fit: cover;}
.ul_zhoub li  > .zb_title{position:absolute; width:100%; bottom:0; background-color:#fff; padding:12px 0px; height:39px; line-height:140%;}
.ul_zhoub li  > .zb_title a{font-size:16px;}
.ul_zhoub li  > .zb_title a:first-child{ color:#0890dc;}
.ul_zhoub li  > .zb_title a:last-child{ color:#464646;}
.ul_zhoub li  > .zb_title a:last-child:hover{ color:#82c6eb;}

.ul_zhoub li.on{/*height:214px;*/}
.ul_zhoub li.on  > .zb_img{/*display:block;*/}

/**160817 微信公众号**/
.wxgzh{position:relative; width: 307px;margin-left: 28px;margin-bottom: 20px;padding-top:34px; }
.wxgzh_logo{position:absolute; top:-10px; left:0; height:51px;}
.wx_nr{background-color:#fff; overflow:hidden; }
.wx_nr li{border-bottom:1px solid #ddd; padding:8px;clear: both; height:50px; overflow:hidden;}
.wx_nr li > img{width: 48px; height:48px; float:left; margin-right:10px;}
.wx_nr_i{width:230px;float:left;}
.wx_nr_i h1{font-size:16px; font-weight:normal; margin-top:12px;font-weight:bold;}
.wx_nr_i p{font-size:14px; line-height:140%; margin-top:25px;}
.wx_nr li.on{height:66px;}
.wx_nr li.on h1{margin-top:0px; font-weight:700; color:#0a5da3;}
.wx_nr li.on p{margin-top:8px;}

/**滚动新闻**/
.gd_news{	width:1000px;	margin:0 auto 0px;	overflow:hidden;}
.gd_kuang{background-color:#fff; border-left:6px solid #f05050; overflow:hidden;}
.gd_kuang h1{font-size:16px; font-weight:normal; color:#666; line-height:40px; height:40px; margin:0px 10px;float:left;}

#ticker-1 li {display: block; float: left; margin: 0 10px; padding: 0px 10px; line-height:40px;}
#ticker-1 li  a{font-size:20px;}
#ticker-1 li  a:hover{color:#82c6eb;}

/**首页言论修改160819**/
.yt_img span{padding: 0px 20px 7px;background: #0890dc;color: #fff;line-height: 130%;display: block;}
.yt_img:hover span{background:#82c6eb;}

/*首页左右悬浮广告AD*/
.ad_pr{position: relative;}
.ou_ad_l, .ou_ad_r{position:absolute; top:0px;width:353px; }
.ou_ad_l{ margin-left:530px; left:50%;}
.ou_ad_r{ margin-right:530px; right:50%; }
.ou_ad_l img, .ou_ad_r img{ width:353px; height:216px; background-color:#f2f2f2;}