
*{margin:0; padding:0;}
ul,li{display: list-item; list-style: none; text-align: match-parent;}
html{font-size:14px; font-family:Arial,Microsoft Yahei;}
body{background: #efefef;}
.ou-xinwen1 {
    width: 310px;
    height: 420px;
    position: relative;
    behavior: url(ie-css3.htc);
    margin-bottom: 20px;
	margin-top: 50px;
}
.ou-logo1 {
    position: absolute;
    top: -41px;
    left: 0px;
    z-index: 12;
}
.tab-txt{position: absolute; right: 0px; top:-28px; }
.tab-txt ul{overflow:hidden;}
.tab-txt ul li{float:left; margin-left:15px; color:#3e3e3e; font-weight:bold;}
.tab-txt ul li.t-1{color:#00b4e5;}
.tab-txt ul li.t-2{color:#96c831;}
.tab-txt ul li.t-3{color:#7e62ea;}

.tab_kuang{overflow:hidden;  width:310px; height:416px;   position:relative; box-shadow: 1px 1px 5px #999;}
.ou-tab{position:absolute; }

.yd_kuang{float:left; width:310px; height:420px; position:relative; overflow:hidden;}
.yd_kuang li{ width:620px; height:82px; border-bottom:1px solid #999;  left:-310px; background-color:#fff; overflow:hidden;position:absolute;}
.no_k_img{ float:left;  width:310px; }
.no_k_txt{float:left; width:230px; height:53px; padding:15px; font-size:18px;}

#t1 .no_k_txt{border-left:40px #00b4e5 solid;border-left-width:40px;border-left-style:solid;border-left-color:solid;rgb(0,180.229);}
#t2 .no_k_txt{border-left:40px #96c831 solid;}
#t3 .no_k_txt{border-left:40px #7e62ea solid;}

#ou-sider li{cursor:pointer;}

