﻿body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/index/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:1230px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1230px;
  height:603px;
  opacity:0.7;
}
#u0_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:1260px;
  height:633px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:66px;
  top:75px;
  width:64px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:77px;
  width:60px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:250px;
  top:77px;
  width:60px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:336px;
  top:73px;
  width:64px;
  height:64px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:426px;
  top:73px;
  width:64px;
  height:64px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:516px;
  top:73px;
  width:64px;
  height:64px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:185px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:160px;
  top:185px;
  width:64px;
  height:64px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u17 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:246px;
  top:185px;
  width:64px;
  height:64px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:336px;
  top:185px;
  width:64px;
  height:64px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u21 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:430px;
  top:185px;
  width:60px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:522px;
  top:185px;
  width:58px;
  height:58px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u25 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:3px;
  width:70px;
  height:86px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
#u27 {
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:25px;
  top:21px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:120px;
  top:28px;
  width:490px;
  height:10px;
  opacity:0.1;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:490px;
  height:1px;
}
#u31 {
  position:absolute;
  left:66px;
  top:341px;
  width:64px;
  height:64px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u32 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:160px;
  top:343px;
  width:60px;
  height:60px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:250px;
  top:343px;
  width:60px;
  height:60px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:336px;
  top:339px;
  width:64px;
  height:64px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u38 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:426px;
  top:339px;
  width:64px;
  height:64px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u40 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:516px;
  top:339px;
  width:64px;
  height:64px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u42 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:70px;
  top:451px;
  width:60px;
  height:60px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:160px;
  top:451px;
  width:64px;
  height:64px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u46 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:246px;
  top:451px;
  width:64px;
  height:64px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u48 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:336px;
  top:451px;
  width:64px;
  height:64px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u50 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:430px;
  top:451px;
  width:60px;
  height:60px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:522px;
  top:451px;
  width:58px;
  height:58px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u54 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:269px;
  width:70px;
  height:86px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
#u56 {
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:25px;
  top:287px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:120px;
  top:294px;
  width:490px;
  height:10px;
  opacity:0.1;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:490px;
  height:1px;
}
#u60 {
  position:absolute;
  left:630px;
  top:13px;
  width:10px;
  height:566px;
  opacity:0.1;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:549px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:566px;
}
#u61 {
  position:absolute;
  left:668px;
  top:106px;
  width:152px;
  height:95px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:95px;
}
#u62 {
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:838px;
  top:106px;
  width:152px;
  height:95px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:95px;
}
#u64 {
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1008px;
  top:106px;
  width:152px;
  height:95px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:95px;
}
#u66 {
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:668px;
  top:261px;
  width:152px;
  height:95px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:95px;
}
#u68 {
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:838px;
  top:261px;
  width:152px;
  height:95px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:95px;
}
#u70 {
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1008px;
  top:261px;
  width:152px;
  height:95px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:95px;
}
#u72 {
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:668px;
  top:419px;
  width:152px;
  height:95px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:95px;
}
#u74 {
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:838px;
  top:419px;
  width:152px;
  height:95px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:95px;
}
#u76 {
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1008px;
  top:419px;
  width:152px;
  height:95px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:95px;
}
#u78 {
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:637px;
  top:10px;
  width:70px;
  height:86px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
#u80 {
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:662px;
  top:28px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#009900;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:757px;
  top:35px;
  width:453px;
  height:10px;
  opacity:0.1;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:436px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:453px;
  height:1px;
}
#u84 {
  position:absolute;
  left:78px;
  top:147px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:166px;
  top:147px;
  width:55px;
  height:15px;
  font-size:12px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:258px;
  top:147px;
  width:45px;
  height:15px;
  font-size:12px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:346px;
  top:147px;
  width:45px;
  height:15px;
  font-size:12px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:439px;
  top:147px;
  width:38px;
  height:15px;
  font-size:12px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:536px;
  top:147px;
  width:27px;
  height:15px;
  font-size:12px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:72px;
  top:255px;
  width:54px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:174px;
  top:255px;
  width:34px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:253px;
  top:255px;
  width:48px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:356px;
  top:255px;
  width:26px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:444px;
  top:255px;
  width:33px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:528px;
  top:255px;
  width:50px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:76px;
  top:413px;
  width:45px;
  height:15px;
  font-size:12px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:176px;
  top:413px;
  width:28px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:74px;
  top:521px;
  width:54px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:171px;
  top:521px;
  width:37px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:265px;
  top:521px;
  width:24px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:356px;
  top:521px;
  width:24px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:434px;
  top:521px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:526px;
  top:521px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:256px;
  top:413px;
  width:47px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:355px;
  top:413px;
  width:32px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:445px;
  top:413px;
  width:33px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:538px;
  top:413px;
  width:23px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:708px;
  top:211px;
  width:71px;
  height:16px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:866px;
  top:211px;
  width:94px;
  height:16px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:1036px;
  top:211px;
  width:104px;
  height:16px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:707px;
  top:368px;
  width:73px;
  height:16px;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:866px;
  top:368px;
  width:95px;
  height:16px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:1036px;
  top:368px;
  width:104px;
  height:16px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:710px;
  top:528px;
  width:66px;
  height:16px;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:849px;
  top:528px;
  width:132px;
  height:16px;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1020px;
  top:528px;
  width:130px;
  height:16px;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
