
div.full-width {
	width: 100%;
	max-width: 1020px;
	position: relative;
	overflow: hidden;
	margin: 10px 0; 
	}
    
div.full-width h2 {
	margin: 10px 0 10px;
	font-size: 1.4em;
	color: inherit !important;
	}

div.full-width a {
	display: block;
	color: black;
	}
	
div.full-width a img {
	vertical-align: top;
	position: relative;
	max-width: 1020px;
	}
	
div.full-width a:hover {
	color: #951f60;
	}

div:hover.full-width {
	box-shadow: 0 0 15px #878889;
	}

div.wrapper {
    background-color: #fff;
    border-radius: 3px;
    bottom: 10px;
    font-weight: 100;
    left: 1%;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    width: 98%;
	}
	
	
	
	
@media screen and (max-width:1020px) {
	
div.full-width {
	width: auto;
	max-width: none;
	margin: 10px 1% 10px;
	}
	
div.full-width a img {
	vertical-align: top;
	position: relative;
	width: auto;
	  left: 50%;
	  margin-left: -510px;
	}
	
}

@media screen and (max-width:767px) {

div.full-width {
	height: 283px;
	}

div.full-width h2 {
	font-size: 1em;
	}


}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
div.full-width a img {
	max-width: inherit;
	}
}



