
div#links-home {
	max-width: 1020px;
	background-color: #f7f7f7; 
	padding: 30px 0; 
	border-radius: 3px; 
	text-align: center;
	margin: 10px auto;
	color: rgba(51,51,51,.4)
	}
	
div#links-home div#frame-links-home {
	width: 100%; 
	max-width: 840px; 
	margin: 0 auto; 
	width: 100%; 
	text-align: center;
	position: relative; 
	top: 0px; 
	padding-bottom: 5px;	
	}
	
div#links-home a {
	font-family: Arial, sans-serif; 
	font-size: .7em; 
	color: #434343;
	line-height: 150%; 
	font-weight: 900;
	}
	
div#links-home a:hover {
	color: #951f60;
	}
	
	
@media screen and (max-width:1020px) { 

div#links-home {
	margin: 10px 1%;
	padding: 30px 20px;
	}
	
}
	