@charset "utf-8";
/* CSS Document */
body {
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:12px;
	cursor:default;
	background-color:#FFFFFF
	background-image: url("/images/back.gif");
	background-repeat: repeat-x;
	background-color: #FFF;
	text-align: center;
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
	height:100%;
	margin-bottom:1px;
}
#container {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
#header {
	padding-top: 0px;
}
.spacer {
	width:100%;
	height:15px;
}
.hrred {
	border:0px;
	color:#ff0000;
	background-color:#ff0000;
	height: 1px;
	width: 100%;
	text-align: left;
}
.hrredb {
	border:0px;
	color:#ff0000;
	background-color:#ff0000;
	height: 1px;
	width: 100%;
	text-align: left;
	position:absolute;
	bottom:10px;
}

hr {
	border:0px;
	color:#CCCCCC;
	background-color:#aaaaaa;
	height: 1px;
	width: 100%;
	text-align: left;
}
#logo {
	width:230px;
	background-image: url(/images/logo_fire.png);
	background-position: left top;
	background-repeat: no-repeat;
}
#tyologo {
	width:230px;
	height:70px;
	background-image: url(/images/tyo_firestoragelogo.gif); 
	background-position: left; 
	background-repeat: no-repeat; 
}
#leslogo {
	width:230px;
	height:70px;
	background-image: url(/images/Lespace_LOGO_FS.jpg); 
	background-position: left; 
	background-repeat: no-repeat; 
}
#denlogo {
	padding: 30px 0px 0px 0px;
	margin-top: 15px;
	width:230px;
	height:70px;
	background-image: url(/images/denlogo.gif); 
	background-position: left top;
	background-repeat: no-repeat;
}
#sqexlogo {
	padding: 30px 0px 0px 0px;
	margin-top: 15px;
	width:230px;
	height:70px;
	background-image: url(/images/logo_sqex.gif); 
	background-position: left top;
	background-repeat: no-repeat;
}
#thinkalogo {
	padding: 30px 0px 0px 0px;
	margin-top: 15px;
	width:230px;
	height:70px;
	background-image: url(/images/thinka.gif); 
	background-position: left top;
	background-repeat: no-repeat;
}
#domalogo {
	padding: 43px 0px 0px 10px;
	margin-top: 15px;
	width:156px;
	height:41px;
	background-image: url(/images/logo_domani.gif); 
	background-position: left top;
	background-repeat: no-repeat;
}
#pfqlogo {
	padding: 43px 0px 0px 0px;
	margin-top: 15px;
	width:220px;
	height:27px;
	background-image: url(/images/pfq.gif); 
	background-position: left top;
	background-repeat: no-repeat;
}

#xfslogo {
	width:250px;
	height:75px;
	background-image: url(/images/xfs_logos.gif); 
	background-position: left; 
	background-repeat: no-repeat; 
}
.h1 {
	padding: 67px 0px 0px 8px;
	font-size:12px;
	color:gray;
	font-family:arial, verdana, helvetica, sans-serif;
	font-weight: normal; 
}
h1 {
	padding: 0px 0px 0px 0px;
	font-size:12px;
	color:gray;
	font-family:arial, verdana, helvetica, sans-serif;
	font-weight: normal; 
}
h2 {
	color:#cc0000;
	font-size:13px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
	background-color:#FFFFFF;
}
h3 {
	color:#cc0000;
	font-size:12px;
	text-align:left;
	font-weight:300;
	padding:5px;
}
#left {
	float:left;
	width:190px;
	background-color:#FFFFFF;
	color:black;
}
#main {
	margin	: 0px 5px 5px 195px;
	padding	: 0px 0px 0px 5px;
	border-left: 1px solid silver;
}
#mains { 
	margin	: 5px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 1048px;
	clear: both;
}
#main_d {
	margin	: 230px 0px 0px 0px;
	background-color:#999999;
	border-left: 1px solid silver;
}
#mainopen {
	margin	: 5px 5px 5px 5px;
	padding-top	: 15px;
}
#maino {
	margin	: 0px 0px 0px 310px;
	padding-left	: 15px;
	border-left: 1px solid silver;
}

#lefto {
	float:left;
	width:310px;
	background-color:#FFFFFF;
	color:black;
}
p {
	color:black;
	line-height:20px;
	padding:5px;
}
a {
	color:#cc0000;
	text-decoration:none;
}
a:hover {
	color:#18171C;
	text-decoration:underline;
}
#footer {
	clear:both;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.right {
	color:gray;
	background-color:#FFFFFF;
	float:right;
	font-size:100%;
	margin-top:5px;
}
.left {
	color:gray;
	background-color:#FFFFFF;
	float:left;
	font-size:100%;
	margin-top:5px;

}
.mikan{
	width: 500px;
	display:block;
	margin:0px auto;
}
.mikan *{
	display:block;
	height:1px;
	overflow:hidden;
	background:#E64934;
}
.mikan1{
	border-right:1px solid #f4b0a7;
	padding-right:1px;
	margin-right:3px;
	border-left:1px solid #f4b0a7;
	padding-left:1px;
	margin-left:3px;
	background:#ec7666;
}
.mikan2{
	border-right:1px solid #fcecea;
	border-left:1px solid #fcecea;
	padding:0px 1px;
	background:#ea6b5a;
	margin:0px 1px;
}
.mikan3{
	border-right:1px solid #ea6b5a;
	border-left:1px solid #ea6b5a;
	margin:0px 1px;
}
.mikan4{
	border-right:1px solid #f4b0a7;
	border-left:1px solid #f4b0a7;
}
.mikan5{
	border-right:1px solid #ec7666;
	border-left:1px solid #ec7666;
}
.mikan_content{
	color:#ffffff;
	padding:0px 5px;
	margin:0px auto;
	width: 490px;
	height: 170px;
	background:#E64934;
}
#uploads {
	padding:0px 0px;
	margin:0px auto;
	width: 500px;
	color:#ffffff;
	background:#ffffff;
	padding-top: 8px;
	background-image: url(/images/upwin.gif);
	background-repeat: no-repeat;
}
#uploads2 {
	padding:0px 0px;
	margin:0px auto;
	width: 500px;
	color:#ffffff;
	background:#eeeeee;
	padding-top: 8px;
	background-image: url(/images/upwin2.gif);
	background-repeat: no-repeat;
}

#uploads13 {
	padding:0px 0px;
	margin:0px auto;
	width: 550px;
	color:#ffffff;
	background:#ffffff;
	padding-top: 8px;
	background-image: url(/images/upwin13.jpg);
	background-repeat: no-repeat;
}





#uploadmember {
	position: absolute; 
	padding:0px 5px;
	margin:0px auto;
	width: 490px;
	height: 260px;
	color:#ffffff;
	background:#ffffff;
	padding-top: 8px;
	background-image: url(/images/uploadwinmember.gif);
	background-repeat: no-repeat;
}

#wrapper {
	padding:8px 5px 15px;
	margin:5px auto;
	
	background:#eeeeee;
}
#wrapper_member {
	padding:8px 5px 15px;
	width: 100%;
	background:#eeeeee;
}


select {
	margin:4px;
	width: 150px;
} 

#icon {
	margin-bottom:4px;
	text-align:left;
	font-size:12px;
}



#btnBrowse {
	cursor:pointer;
}





fieldset {
	margin: 5px;
}

legend {
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	color: Black;
}

fieldset.flash {
	width: 375px;
	margin: 10px 0px 10px 0px;
	border-color: #D9E4FF;
}

.progressWrapper {
	width: 480px;
	overflow: hidden;
}
.progressContainer {
	margin-bottom: 1em;
	background-color: #85B9E9;
	overflow: hidden;
}

.red /* Error */ {
	border: solid 1px #85B9E9;
}
.green /* Current */ {
	border: solid 1px #85B9E9;
}
.blue /* Complete */ {
	background-color: #85B9E9;
}

.curlycontainer{
	border: 1px solid #b8b8b8;
	margin-bottom: 1em;
	width: 300px;
}


.progressName {
	font-size: 8pt;
	font-weight: bold;
	color: #555555;
	width: 90%;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

/* bar */

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0px;
	width: 0%;
	height: 30px;
	background-color: red;
	margin-top: 2px;
	background: url(/images/bar.gif) repeat-x;

}
.progressBarComplete {
	width: 80%;
	background-color: green;
	visibility: hidden;
}
.progressBarError {
	width: 80%;
	background-color: red;
	visibility: hidden;
}
.progressBarStatus {
	margin-top: 2px;
	width: 80%;
	font-size: 10pt;
	font-family: Verdana;
	text-align: left;
	white-space: nowrap;
}
a.progressCancel,
a.progressCancel:link,
a.progressCancel:active,
a.progressCancel:visited,
a.progressCancel:hover {
	font-size: 0px;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(/images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}
a.progressCancel:hover {
	background-position: 0px 0px;
}


#uploadwindow {
	padding: 5px 0px 15px 0px; 
	width:95%;
	background-color: #85b9e9;
}
#uploadwindowBack {
	width:100%;
	background-color: #85b9e9;
}

#doctext {
	margin	: 5px 5px 15px 35px;
}
#doctext2 {
	margin	: 0px 0px 0px 15px;
}

#menutext {
	margin	: 15px;
}


#thumbnails {
	margin	: 0px 0px 0px 0px;
}

/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}



.spiffy{
display:block;
}
.spiffy *{
display:block;
height:1px;
overflow:hidden;
background:#85b9e9;
}
.spiffy1{
border-right:1px solid #c0d7eb;
padding-right:1px;
margin-right:3px;
border-left:1px solid #c0d7eb;
padding-left:1px;
margin-left:3px;
background:#9fc6ea;
}
.spiffy2{
border-right:1px solid #e3e8ed;
border-left:1px solid #e3e8ed;
padding:0px 1px;
background:#98c3e9;
margin:0px 1px;
}
.spiffy3{
border-right:1px solid #98c3e9;
border-left:1px solid #98c3e9;
margin:0px 1px;
}
.spiffy4{
border-right:1px solid #c0d7eb;
border-left:1px solid #c0d7eb;
}
.spiffy5{
border-right:1px solid #9fc6ea;
border-left:1px solid #9fc6ea;
}
.spiffy_content{
padding:0px 5px;
background:#85b9e9;
}

.expbox{
	display:block;
}
.expbox *{
	display:block;
	height:1px;
	overflow:hidden;
	background:#FE3015;
}
.expbox1{
	border-right:1px solid #fea59a;
	padding-right:1px;
	margin-right:3px;
	border-left:1px solid #fea59a;
	padding-left:1px;
	margin-left:3px;
	background:#fe634f;
}
.expbox2{
	border-right:1px solid #feeae7;
	border-left:1px solid #feeae7;
	padding:0px 1px;
	background:#fe5741;
	margin:0px 1px;
}
.expbox3{
	border-right:1px solid #fe5741;
	border-left:1px solid #fe5741;
	margin:0px 1px;
}
.expbox4{
	border-right:1px solid #fea59a;
	border-left:1px solid #fea59a;
}
.expbox5{
	border-right:1px solid #fe634f;
	border-left:1px solid #fe634f;
}
.expbox_content{
	padding:0px 5px;
	background:#EF3F28;
}

.img-shadow {
	float:left;
	background: url(/images/shadowAlpha.png) no-repeat bottom right !important;
	background: url(/images/shadow.gif) no-repeat bottom right;
	margin: 10px 0 0 10px !important;
	margin: 10px 0 0 5px;
}

.img-shadow img {
	display: block;
	position: relative;
	background-color: #fff;
	border: 1px solid #a9a9a9;
	margin: -6px 6px 6px -6px;
	padding: 4px;
} 

.img-shadow p {
	display: block;
	position: relative;
	background-color: #fff;
	border: 1px solid #a9a9a9;
	margin: -6px 6px 6px -6px;
	padding: 4px;
} 



.glayborder{
	display:block;
}
.glayborder *{
	display:block;
	height:1px;
	overflow:hidden;
	background:#EEEEEE;
}
.glayborder1{
	border-right:1px solid #f7f7f7;
	padding-right:1px;
	margin-right:3px;
	border-left:1px solid #f7f7f7;
	padding-left:1px;
	margin-left:3px;
	background:#f2f2f2;
}
.glayborder2{
	border-right:1px solid #fdfdfd;
	border-left:1px solid #fdfdfd;
	padding:0px 1px;
	background:#f1f1f1;
	margin:0px 1px;
}
.glayborder3{
	border-right:1px solid #f1f1f1;
	border-left:1px solid #f1f1f1;
	margin:0px 1px;
}
.glayborder4{
	border-right:1px solid #f7f7f7;
	border-left:1px solid #f7f7f7;
}
.glayborder5{
	border-right:1px solid #f2f2f2;
	border-left:1px solid #f2f2f2;
}
.glayborder_content{
	background:#EEEEEE;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
} 
.glayborder_content3{
	background:#EEEEEE;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	font-size: 14px;
} 

.formbutton{
	cursor:pointer;
	border:outset 1px #ccc;
	background:#999;
	color:#666;
	font-weight:bold;
	padding: 1px 2px;
	background:url(/images/formbg.gif) repeat-x left top;
}


.glaydd{
display:block;
}
.glaydd *{
display:block;
height:1px;
overflow:hidden;
background:#dddddd;
}
.glaydd1{
border-right:1px solid #f0f0f0;
padding-right:1px;
margin-right:3px;
border-left:1px solid #f0f0f0;
padding-left:1px;
margin-left:3px;
background:#e5e5e5;
}
.glaydd2{
border-right:1px solid #fbfbfb;
border-left:1px solid #fbfbfb;
padding:0px 1px;
background:#e3e3e3;
margin:0px 1px;
}
.glaydd3{
border-right:1px solid #e3e3e3;
border-left:1px solid #e3e3e3;
margin:0px 1px;
}
.glaydd4{
border-right:1px solid #f0f0f0;
border-left:1px solid #f0f0f0;
}
.glaydd5{
border-right:1px solid #e5e5e5;
border-left:1px solid #e5e5e5;
}
.glaydd_content{
padding:0px 5px;
background:#dddddd;
}


.sidebox {
	margin: 0 auto; /* center for now */
	width: 17em; /* ems so it will grow */
	background: url(/images/sbbody-r.gif) no-repeat bottom right;
	font-size: 100%;
}
.boxhead {
	background: url(/images/sbhead-r.gif) no-repeat top right;
	margin: 0;
	text-align: center;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}








.boxhead h2 {
	background: url(/images/sbhead-l.gif) no-repeat top left;
	margin: 0;
	padding: 22px 30px 5px;
	color: white; 
	font-weight: bold; 
	font-size: 1.2em; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.boxbody {
	background: url(/images/sbbody-l.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 30px 31px;
}

p.guestdoc {
	layout-grid: line fixed 30px 10px;
}



#table { font-family: Arial, sans-serif; font-size: 11px; -moz-user-select: none; -khtml-user-select: none; user-select: none; width: 98%; CURSOR: default; }
#table th#hoverTH { background: #555; }
#table th { TEXT-ALIGN: left; PADDING: 4px 0 4px 9px; BACKGROUND: #666; BORDER-BOTTOM: 1px solid #444; BORDER-TOP: 1px solid #444; BORDER-LEFT: 1px solid #555; COLOR: #FFF;}
#table th.cdd { TEXT-ALIGN: left; PADDING: 4px 0 4px 9px; BACKGROUND: #666; BORDER-BOTTOM: 1px solid #444; BORDER-TOP: 1px solid #444; BORDER-LEFT: 1px solid #555; COLOR: #FFF; CURSOR: pointer; }
#table tr#this td { background-color: #3d80df; color: #FFF; font-weight: bold; border-left: 1px solid #346DBE; border-bottom: 1px solid #3E6FB3; border-top: 1px solid #3E6FB3; BORDER-RIGHT: 1px solid #5886C7; }
#table tr#hover td { background-color: #777; color: #FFF; border-left: 1px solid #888; border-bottom: 1px solid #888; border-top: 1px solid #888; BORDER-RIGHT: 1px solid #777; }
#table tr td { padding: 3px 8px; border-left: 1px solid #D9D9D9; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; }
#table tr.even td { BACKGROUND: #edf3fe; BORDER-BOTTOM: 1px solid #E8F0FF; BORDER-TOP: 1px solid #E8F0FF; BORDER-RIGHT: 1px solid #FFF; }
#table tr.odd td { BACKGROUND: #FFF; BORDER-BOTTOM: 1px solid #FFF; BORDER-TOP: 1px solid #FFF; BORDER-RIGHT: 1px solid #FFF; }


.TableAttr {
	border:1px solid #2B2B2B;
	border-collapse:collapse;
	margin:3px 0pt;
}
.TableAttr th {
	background-color:#F0F0FF;
	border:1px solid #CCCCCC;
	padding:3px 10px;
	text-align:left;
	vertical-align:top;
	font-weight:normal;
	color: #666666; 
}
.TableAttr th span {
	font-weight:normal;
}
.TableAttr td {
	background-color:#F0F0FF;
	border:1px solid #CCCCCC;
	padding:3px 10px;
	color: #333333; 
}

#policy_boxs {
	width: 740px;
	margin : 10px;
	padding: 13px;
	background-color: #eeeeee;
 	border-width:  1px;
	border-style: solid; 
	border-color: #DDE0E6;
	text-align: left; 
	-moz-border-radius: 10px;
}
#policy_box {
	color: #000000;
	margin : 10px;
	padding: 13px;
	width : 550px;
 	border-width:  1px;
	border-style: solid; 
	border-color: #000000;
	background-color: #eeeeee;
	text-align: left; 
}
#table3 {
        color: #000000;
        margin-bottom: 30px;
        border: 1px solid #aaaaaa;
        border-collapse: separate;
        border-spacing: 1px;
}
#table3 th {
        font-size: 120%;
        padding: 9px;
        border-right: 1px solid #aaaaaa;
        border-bottom: 1px solid #999999;
        background-color: #aaaaaa;
}
#table3 td {
        color: #000000;
        padding: 5px;
        border-right: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
        background-color: #EEEEEE;
}
hr.line1 {
	border-style: dotted none none none;
	border-top-width: 1px;
	border-top-color: #DDE0E6;
	height: 1px; 
} 
#ad_code {
	background-color: #eeeeee;
}

#alink {
	color:#ffffff;
	text-decoration: none;
	border-bottom: 1px #ffffff dotted;
}
#alink:hover {
	color:#ffffff;
	background-color: #fea59a; 
}

#adlink {
	color:#000000;
	link:#000000;
	visited :#000000;
	active  :#000000;
	text-decoration: none;
	border-bottom: 1px #ffffff dotted;
}
#adlink:hover {
	text-decoration: underline;
	color:#555555;
	background-color: #ffffff; 
}


#downloadlink {
	color:#cc0000;
	text-decoration:none;
	border-bottom: 1px #cc0000 dotted;
}

.firebox {
	border-color: #cccccc; 
	border-width: 1px;
	border-style: solid;
	line-height: 1.5em; 
	overflow: hidden; 
} 
#d3box {
	cursor: pointer;
}

#boxspace {
	margin-top: 8px;
	margin-left: 8px;
}
#boxspace1 { padding: 2px; } 
#boxspace2 { padding: 1px; } 

#dothr {
	border-bottom:1px dotted #cccccc;
}

#messagewin {
	padding:0px 0px;
	margin:0px auto;
	color:#ffffff;
}



#dhtmlgoodies_colorPicker{
	position:absolute;
	width:224px;
	padding-bottom:1px;
	background-color:#FFF;
	border:1px solid #317082;
}

#dhtmlgoodies_colorPicker .colorPicker_topRow{
	height:16px;
	padding-bottom:1px;
	border-bottom:3px double #317082;
	background-color:#E2EBED;
	padding-left:2px;

	width: 224px;	/* IE 5.x */
	width/* */:/**/222px;	/* Other browsers */
	width: /**/222px;
	
	height: 20px;	/* IE 5.x */
	height/* */:/**/16px;	/* Other browsers */
	height: /**/16px;
	
	
		
}

#dhtmlgoodies_colorPicker .colorPicker_statusBar{
	height:13px;
	padding-bottom:2px;
	
	border-top:3px double #317082;	
	background-color:#E2EBED;
	padding-left:2px;
	clear:both;
	
	width: 224px;	/* IE 5.x */
	width/* */:/**/222px;	/* Other browsers */
	width: /**/222px;	
	
	height: 18px;	/* IE 5.x */
	height/* */:/**/13px;	/* Other browsers */
	height: /**/13px;		
}

#dhtmlgoodies_colorPicker .colorSquare{
	width:10px;
	height:10px;
	margin-left:1px;
	margin-bottom:1px;
	float:left;
	border:1px solid #000;
	cursor:pointer;
	
	width: 12px;	/* IE 5.x */
	width/* */:/**/10px;	/* Other browsers */
	width: /**/10px;			
}

.colorPickerTab_inactive,.colorPickerTab_active{

	height:17px;
	padding-left:4px;
	cursor:pointer;	
	
	
}
.colorPickerTab_inactive span{
	background-image:url('/images/tab_left_inactive.gif');
}

.colorPickerTab_active span{
	background-image:url('/images/tab_left_active.gif');

}
.colorPickerTab_inactive span, .colorPickerTab_active span{
	line-height:16px;
	font-weight:bold;
	font-family:arial;
	font-size:11px;
	padding-top:1px;
	vertical-align:middle;
	background-position:top left;
	background-repeat: no-repeat;	
	float:left;
	padding-left:6px;
	-moz-user-select:no;
}	
.colorPickerTab_inactive img,.colorPickerTab_active img{
	float:left;
}
.colorPickerCloseButton{
	text-align:center;
	line-height:10px;
	border:1px solid #317082;
	position:absolute;
	right:1px;
	font-size:12px;
	font-weight:bold;
	top:1px;
	padding:1px;
	cursor:pointer;	

	
	width: 13px;	/* IE 5.x */
	width/* */:/**/11px;	/* Other browsers */
	width: /**/11px;
	
	height: 13px;	/* IE 5.x */
	height/* */:/**/11px;	/* Other browsers */
	height: /**/11px;	
			
	
}
#colorPicker_statusBarTxt{
	font-size:11px;
	font-family:arial;
	vertical-align:top;
	line-height:13px;

}

table.table112 {
  margin-top: 0.2em;
  margin-bottom: 1em;
  border-collapse: collapse;
  border: solid 1px #999;
  font-size: 100%;
}

table.table111 {
  margin-top: 0.2em;
  margin-bottom: 1em;
  width: 700px;
  border-collapse: collapse;
  border: solid 1px #999;
  font-size: 100%;
}

table.table111 caption {
  margin-top: 1em;
  text-align: left;
}

table.table111 th,
table.table111 td {
  border: solid 1px #999;
  padding: 7px 6px;
}

table.table111 th {
  background: #E6E6E6;
  text-align: center;
  white-space: nowrap;
  color: #666;
}

table.table111 td.course {
  text-align: center;
  font-size: 200%;
  font-weight: bolder;
}

table.table111 td.time,
table.table111 td.fee {
  text-align: right;
  white-space: nowrap;
}

table.table111 tr.course-a {
  background: #FE3015;
}

table.table111 tr.course-b {
  background: #FFE6F3;
}

table.table111 tr.course-a {
  background: #FFD9EC;
}

table.table111 tr.course-sp {
  background: #FFCCE6;
}

table.table112 {
  margin-top: 0.2em;
  margin-bottom: 1em;
  width: 570px;
  border-collapse: collapse;
  border: solid 1px #999;
  font-size: 100%;
}

table.table112 caption {
  margin-top: 1em;
  text-align: left;
}

table.table112 th,
table.table112 td {
  border: solid 1px #999;
  padding: 7px 6px;
}

table.table112 th {
  background: #E6E6E6;
  text-align: center;
  white-space: nowrap;
  color: #666;
}

table.table112 td.course {
  text-align: center;
  font-size: 200%;
  font-weight: bolder;
}

table.table112 td.time,
table.table112 td.fee {
  text-align: right;
  white-space: nowrap;
}

table.table112 tr.course-a {
  background: #FE3015;
}

table.table112 tr.course-b {
  background: #FFE6F3;
}

table.table112 tr.course-a {
  background: #FFD9EC;
}

table.table112 tr.course-sp {
  background: #FFCCE6;
}


.graph {
	position		: relative; /* IE is dumb */
	padding			: 2px;
}


.graph .bar {
	display			: block;
	position		: relative;
	align			: left;
	background		: #B1D632;
	text-align		: center;
	color			: #333;
	height			: 1em;
	line-height		: 1em;
}

.graph2 .bar2 {
	display			: block;
	position		: relative;
	align			: left;
	background		: #FFD700;
	text-align		: center;
	color			: #333;
	height			: 1em;
	line-height		: 1em;
}

.graph .bar span { position: absolute; left: 1em; }

.graph2 .bar span { position: absolute; left: 1em; }


.numbox {
	background:url(/images/numbox.gif) 0 0 no-repeat;
	font-weight:bold;
	color:#ffffff;
	line-height:130%;
	padding:3px 15px 5px 7px;
}
.numbox2 {
	background:url(/images/numbox.gif) 0 0 no-repeat;
	font-weight:bold;
	color:#ffffff;
	line-height:120%;
	padding:3px 15px 5px 3px;
}

.p2 {
	padding-top:5px;
}

.minispace{
	height:5px;
}
.minispace2{
	height:10px;
}

.pic{
    top:0px;
    left:3px;
    width:128px;
    height:128px;
    text-align:center;
    overflow: hidden;
    background:center center no-repeat;
  border: solid 1px #999;
}
.pic:hover{
    text-decoration: none;
}

.tag{
    position:relative;
    top:0px;
    left:0px;
    width:120px;
    height:1px;
    overflow:hidden;
    text-align:left;
}


div.iconbox1 {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0px;
	left: 0px;
} 
div.iconbox2 {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0px;
	left: 16px;
}
div.iconbox3 {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0px;
	left: 32px;
}

/* rounded */

#nav {
        margin: 0;
        padding: 0 0 20px 10px;
        border-bottom: 1px solid #9FB1BC;
}

#nav li {
        margin: 0;
        padding: 0;
        display: inline;
        list-style-type: none;
}

#nav a:link, #nav a:visited {
        float: left;
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
        padding: 0 12px 6px 12px;
        text-decoration: none;
        color: #708491;
}

#nav a:link.active, #nav a:visited.active, #nav a:hover {
        color: #000;
        background: url(/images/tab/rounded.gif) no-repeat bottom center;
}

#yaya {
        font-size: 14px;
}

.bluebox{display:block}
.bluebox *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#B4DDF4}
.bluebox1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #def0fa;
  border-right:1px solid #def0fa;
  background:#c6e5f6}
.bluebox2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #f7fbfd;
  border-right:1px solid #f7fbfd;
  background:#c2e3f6}
.bluebox3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #c2e3f6;
  border-right:1px solid #c2e3f6;}
.bluebox4{
  border-left:1px solid #def0fa;
  border-right:1px solid #def0fa}
.bluebox5{
  border-left:1px solid #c6e5f6;
  border-right:1px solid #c6e5f6}
.blueboxfg{
  background:#B4DDF4}


#uploadb{
	width: 165px;
	height: 48px;
	background:url(/images/uploadb.gif) 0 0 no-repeat;
}

#uploadb:hover {
	cursor:pointer;

}
#uploadb:active {
	cursor:pointer;
	background-position: 0 -48px;
}

#uploading{
	width: 165px;
	height: 48px;
	background:url(/images/uploadb.gif) 0 0 no-repeat;
	background-position: 0 -144px;
}
.outer {
    margin: 0px 1px;
    background: #E4F2FF;
    border-top: 1px solid #B1C6D9;
    border-bottom: 1px solid #B1C6D9;
}
.inner {
    margin: 0px -1px;
    background: #E4F2FF;
    border-left: 1px solid #B1C6D9;
    border-right: 1px solid #B1C6D9;
    padding: 10px 10px 10px 20px;
}
.folderbox {
    width: 470px;
}
.adingo_keywords li {
    float:left;
    list-style-type:none;
    padding-left:10px;
    padding-right:10px;
    font-size:12px;
}
.adingo_keywords ul {
    _height: 1px;
    min-height: 1px;
    /*誰多促*//*/
    height: 1px;
    overflow: hidden;
    /**/
}
.adingo_keywords ul:after {
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
}
#result table {
	background-color: #f7f7f7;
	border: 1px solid #BABED1;
	padding-left: 15px;
	margin-top: 10px;
}
#result .cTime {
	color: #3A5998;
}


table.table_radius {
	margin-top: 0.2em;
	margin-bottom: 1em;
	width: 850px;
	border: 1px solid #C1C2CA;
	font-size: 100%;
}

.table_radius {
	border-radius: 7px;        /* CSS3草案 */
	-webkit-border-radius: 7px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 7px;   /* Firefox用 */
	
	
}
.table_radius .course-c td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C4C4CE;
}


table.table_radius caption {

  margin-top: 1em;

  text-align: left;

}



table.table_radius th {
	padding: 10px 10px;	
}

table.table_radius td {
	padding: 10px 10px;
	
	
}
.radiusR {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C1C2CA;	
	
}


table.table_radius th {

  background: #E6E6E6;

  text-align: center;

  white-space: nowrap;

  color: #666;

}



table.table_radius td.course {

  text-align: center;

  font-size: 200%;

  font-weight: bolder;

}



table.table_radius td.time,

table.table_radius td.fee {

  text-align: right;

  white-space: nowrap;

}



table.table_radius tr.course-a {

  background: #FE3015;

}



table.table_radius tr.course-b {
	background-color: #DAECFE;
}



table.table_radius tr.course-a {
	background-color: #DAECFE;
}



table.table_radius tr.course-sp {

  background: #FFCCE6;

}

.rounded-imgs {
	display: inline-block;
	border: solid 1px #444444;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}
.rounded-imgn {
	display: inline-block;
	border: solid 1px #444444;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#statusTB {
	font-size: 120%;
}


#boxheadS {
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 3px #000000;
	-webkit-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#464b4f', endColorstr = '#0a0a0a');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#464b4f', endColorstr = '#0a0a0a')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, #464b4f, #0a0a0a);
background-image: -ms-linear-gradient(top, #464b4f, #0a0a0a);
background-image: -o-linear-gradient(top, #464b4f, #0a0a0a);
background-image: -webkit-gradient(linear, center top, center bottom, from(#464b4f), to(#0a0a0a));
background-image: -webkit-linear-gradient(top, #464b4f, #0a0a0a);
background-image: linear-gradient(top, #464b4f, #0a0a0a);
/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 120%;
	color: #FFF;
	width: 500px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	font-weight: bold;

}
#boxtextS {
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 3px #000000;
	-webkit-box-shadow: 0px 0px 3px #000000;
box-shadow: 0px 0px 3px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e6e9e9');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e6e9e9')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, #ffffff, #e6e9e9);
background-image: -ms-linear-gradient(top, #ffffff, #e6e9e9);
background-image: -o-linear-gradient(top, #ffffff, #e6e9e9);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e6e9e9));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e9e9);
background-image: linear-gradient(top, #ffffff, #e6e9e9);
/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 120%;
	width: 500px;
	padding-left: 30px;
	padding-right: 30px;
line-height: 1.6em;
}
#boxOut {
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}


#non a {
	text-decoration: none;	
	
}

#non a:hover {
	text-decoration: none;	
	
}

#downloadlinkw {
    color:#ffffff;
    text-decoration:none;
}

#downloadlinkw:link {
    color:#ffffff;
}
#downloadlinkw:visited {
    color:#ffffff;
}
#downloadlinkw:visited {
    color:#ffffff;
}
#downloadlinkw:active {
    color:#ffffff;
}

.btnDL2014 {
 background-color: #EB8634;
 width: 210px;
 padding-top: 4px;
 padding-bottom: 1px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 padding-left: 5px;
}




#adminTop {
	clear: both;
	width: 1010px;
	padding-bottom: 17px;
	padding-top: 10px;
}
#adminTop  #left {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	width: 190px;
}


#adminTop  #right {
	float: left;
	width: 728px;
	margin-left: 5px;
}


#adminTop2 {
	clear: both;
	width: 1010px;
	padding-top: 10px;
}
#adminTop2  #left {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	width: 190px;

}


#adminTop2  #right {
	float: left;
	width: 728px;
	margin-left: 5px;
}


#adminTop3 {
	width: 1048px;
	padding-top: 5x;
	padding-left: 0px;
}
#adminTop3  #bAdLeft {
	float: left;
	width: 300px;

}


#adminTop3  #bAdRight {
	float: right;
	width: 728px;
}




#adTNew {
	padding-top: 10px;
}

#clearBox {
	clear: both;
	padding-top: 20px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	
}

#pr {
	padding-left: 5px;	
	width:1042px;
	
}

/*広告用CSS*/
.imobile_infeed_spot{
	width:450px !important;
        height:30px !important;
}
.imobile_infeed{
	width:450px !important;
        height:30px !important;
}
#imobspot_1_0_p{
        margin:0px 0px 0px 0px !important;
}
.imobile_infeed_img_container{
	display:none;
}
.imobile_infeed_body{
	width:450px !important;
        height:30px !important;
}
.imobile_infeed_title{
	display:none !important;
}
.imobile_infeed_description{
        color:#000000;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
}
.imobile_infeed_description:before{
         content: "[PR]";
}
.imobile_infeed_description {
	color: #CC0000;	
}




#uploads2015Top {
	background: #ffffff url("/images/upwin2015b.gif") no-repeat scroll 0 0;
	color: #ffffff;
	width: 500px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 8px;
	padding-right: 0;
	padding-bottom: 10;
	padding-left: 0;
}



/* ここからQR */




/* pc */
@media screen and (min-width: 550px)
{
	
	#pageQr {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

#qr {
	width: 250px;
	float: left;
	padding-top: 15px;
	background-color: #F0F0F0;
	padding-bottom: 26px;
	border-radius:5px;
}
#pageQr #qr div img {
	padding-bottom: 5px;
}
#qr p {
	padding-left: 20px;
}


#qr p a {
	color: #C6004D;
}

#qrAd {
	float: left;
	width: 300px;
	background-color: #F0F0F0;
	padding: 10px;
	margin-left: 20px;
	border-radius:5px;

}
#dlUrl {
	clear: left;
	text-align: left;
	padding-top: 10px;
	margin-top: 15px;
	margin-left: 5px;
	background-color: #F0F0F0;
	padding-bottom: 20px;
	width: 590px;
	height: 30px;
	border-radius:5px;

}
#dlUrl #textQrDl {
	padding-left: 30px;
}
}

/* smartphone */
@media screen and (max-width: 499px)
{

#qr {
	width: 300px;
	padding-top: 15px;
	background-color: #F0F0F0;
	padding-bottom: 10px;
	margin-right:auto;
	margin-left:auto;

}
#pageQr #qr div img {
	padding-bottom: 5px;
}
#qr p {
	padding-left: 20px;
}


#qr p a {
	color: #C6004D;
}

#qrAd {
	width: 300px;
	background-color: #F0F0F0;
}
#dlUrl {
	clear: left;
	text-align: left;
}
#dlUrl #textQrDl {
	padding-left: 0px;
}

#textQrDl {
	width: 300px;
	margin-right:auto;
	margin-left:auto;
}
#textQrDl input {
	width: 300px;
}

}

#uploadbtn a:hover {
	opacity:0.6;
}
#uploadbtn:hover {
	opacity:0.6;
}




/* スクリーンショットキャンペーン */



#pageSc {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 170px;
	padding-bottom: 40px;
}
#pageSc .banW {
	padding-bottom: 50px;
}




.scCBox {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	clear: left;
	width: 70%;
	background-color: #1DA79C;
	border-radius:5px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
	color: #FFF;
}

.scCBox h4 {
	font-size: 220%;
	font-weight: bold;
}
.scCBox dl dt {
	padding-top: 20px;
	font-size: 160%;
	font-weight: bold;
}
.scCBox dl dd {
	padding-top: 20px;
	font-size: 140%;
}

.scCBox2 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	clear: left;
	width: 70%;
	background-color: #34495E;
	border-radius:5px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-bottom: 30px;
	margin-top: 50px;
	color: #FFF;
}

.scCBox2 h4 {
	font-size: 220%;
	font-weight: bold;
}
.scCBox2 dl dt {
	padding-top: 20px;
	font-size: 160%;
	font-weight: bold;
}
.scCBox2 dl dd {
	padding-top: 20px;
	font-size: 140%;
}


a.scCBtn {
	position: relative;
	display: block;
	width: 35%;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align: center;
	background-position: left top;
	margin-top: 40px;
	border: 1px solid #2DB3D2;
	font-size: 130%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 13px;
	padding-left: 10px;
	background-color: #FD9902;
	box-shadow: rgba(10, 21, 36, 0.64) 0px 0px 2px 1px;
	-webkit-box-shadow: rgba(10, 21, 36, 0.64) 0px 0px 2px 1px;
	-moz-box-shadow: rgba(10, 21, 36, 0.64) 0px 0px 2px 1px;
}

a.scCBtn:hover {
	color: #2DB3D2;
	background-color: #FFF;
	border: 1px solid #2DB3D2;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all  0.5s ease;
}

/* 通常アイコン */
a.scCBtn:before,
a.scCBtn:after {
  content: "";
  position: absolute;
  top: 50%;
}

a.scCBtn:before {
  right: 10px;
  width: 18px;
  height: 18px;
  margin: -9px 0 0;
  background: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

a.scCBtn:after {
	right: 17px;
	width: 5px;
	height: 5px;
	margin: -4px 0 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-top-width: 2px;
	border-right-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #2DB3D2;
	border-right-color: #2DB3D2;
}

/* ハイライトアイコン */
a.scCBtn.highlight:hover:before,
a.scCBtn.highlight:hover:after {
  content: "";
  position: absolute;
  top: 50%;
}

a.scCBtn.highlight:hover:before {
	right: 10px;
	width: 18px;
	height: 18px;
	margin: -9px 0 0;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	background-color: #2DB3D2;
}

a.scCBtn.highlight:hover:after {
	right: 17px;
	width: 5px;
	height: 5px;
	margin: -4px 0 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-top-width: 2px;
	border-right-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #2DB3D2;
	border-right-color: #2DB3D2;
}









a.scCBtn2 {
	position: relative;
	display: block;
	width: 30%;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	text-align: center;
	background-position: left top;
	margin-top: 40px;
	border: 1px solid #666666;
	font-size: 130%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 13px;
	padding-left: 10px;
	background-color: #2DB3D2;
	box-shadow: rgba(10, 21, 36, 0.64) 0px 0px 2px 1px;
	-webkit-box-shadow: rgba(10, 21, 36, 0.64) 0px 0px 2px 1px;
	-moz-box-shadow: rgba(10, 21, 36, 0.64) 0px 0px 2px 1px;
}
a.scCBtn2:hover {
	color: #999999;
	background-color: #FFF;
	border: 1px solid #666666;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all  0.5s ease;
}
/* 通常アイコン */
a.scCBtn2:before,
a.scCBtn2:after {
  content: "";
  position: absolute;
  top: 50%;
}

a.scCBtn2:before {
  right: 10px;
  width: 18px;
  height: 18px;
  margin: -9px 0 0;
  background: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

a.scCBtn2:after {
	right: 17px;
	width: 5px;
	height: 5px;
	margin: -4px 0 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-top-width: 2px;
	border-right-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
}

/* ハイライトアイコン */
a.scCBtn2.highlight:hover:before,
a.scCBtn2.highlight:hover:after {
  content: "";
  position: absolute;
  top: 50%;
}

a.scCBtn2.highlight:hover:before {
	right: 10px;
	width: 18px;
	height: 18px;
	margin: -9px 0 0;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	background-color: #2DB3D2;
}

a.scCBtn2.highlight:hover:after {
	right: 17px;
	width: 5px;
	height: 5px;
	margin: -4px 0 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-top-width: 2px;
	border-right-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #2DB3D2;
	border-right-color: #2DB3D2;
}
#counterScOut #ad {
	padding-top: 20px;
	float: right;
	width: 300px;
}
#counterScOut {
	width: 800px;
}



#counterSc {
	padding-top: 65px;
	padding-bottom: 40px;
	margin-top: 20px;
	width: 478px;
	background-image: url(http://firestorage.jp/images/counter_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
}
#counterSc ul li {
	background-image: url(http://firestorage.jp/images/3.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 125px;
	width: 93px;
	float: left;
	margin-bottom: 20px;
}
#counterSc ul {
	margin-right: auto;
	margin-left: auto;
	width: 372px;
}
.trimming {
 width: 67px;
 height: 91px;
 overflow: hidden;
 }
#pageSc h1 {
	font-size: 200%;
	color: #1D1D1D;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
}
#pageSc h1 span {
	color: #E74C3C;
	font-weight: bold;
}

 #pageScOut {
	background-image: url(http://firestorage.jp/images/xmas2015b.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#pageScOut2 {
	background-image: url(http://firestorage.jp/images/backgroundw.png);
	background-repeat: repeat;
	background-position: left top;
	height: 100vh;
}

#commentBox {
	clear: both;
	padding-top: 10px;
}

.scCBox .btn {
	padding-top: 20px;
}
#pageSc #atten {
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
	width: 800px;
}
#atten #rank {
	width: 463px;
	float: left;
	padding-top: 10px;
}
#atten #atteBan {
	float: right;
	width: 300px;
}
#atteBan #atBox {
	padding-top: 15px;
}

#atteBan img:hover {
	opacity: 0.7 ;
	filter: alpha(opacity=70) ;	/* Ie用 */
		-webkit-transition: 0.6s ;
	transition: 0.6s ;
}


.scCBox .btn  a img:hover {
	opacity: 0.7 ;
	filter: alpha(opacity=70) ;	/* Ie用 */
		-webkit-transition: 0.6s ;
	transition: 0.6s ;
}





/* フォーム用CSS */

form .btn   {
	cursor:pointer;
}
form .btn1   {
	cursor:pointer;
}
.page {
	float: left;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.page .page-title {
	font-weight: bold;
	color: #44444f;
	font-size: 24px;
}
.terms {
	margin-left: -40px;
}



.page .contentsF {
	background-color: #FFF;
	padding: 20px;
	border-radius: .6em;
}


.page .contentsF p {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 16px;
}
#form2T {
	font-size: 140%;
	text-align: center;
	padding-bottom: 30px;
}
.formTD {
	font-size: 140%;
	line-height: 1.4em;
	padding-top: 20px;
}


ul {
	list-style-type: none;
}
.comTable .formT {
	padding-top: 20px;
	font-size: 16px;
}




select {
	width: 200px;
}

.tTitle {
	background-color: #F2F3F1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	width:120px;
	color: #333;
	font-size: 110%;
}

.tText {
	background-color: #DFE3DF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	width:300px;
	color: #333;
	font-size: 105%;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.btn1 {
	color: #FFF;
	background-color: #575C60;
	padding-right: 25px;
	padding-left: 25px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	border: 1px solid #575C60;
	border-radius: 5px;        /* CSS3草案 */
	-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 5px;   /* Firefox用 */
	font-size: 130%;
	margin-top: 40px;
}
#form .btnB {
	float: left;
	width: 150px;
}





.btnForm {
	color: #FFF;
	background-color: #29425F;
	padding-right: 25px;
	padding-left: 25px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	border: 1px solid #29425F;
	border-radius: 5px;        /* CSS3草案 */
	-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 5px;   /* Firefox用 */
	font-size: 130%;
	margin-top: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#form form .btnForm {
	text-align: center;
}


#form {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#form select {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 110%;
	padding-top: 3px;
	padding-bottom: 3px;
}

#form input {
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 110%;
}
#form input .btnForm {
	padding-top: 10px;
	padding-bottom: 10px;
}


.area{
	width:100%;
}

.area2{
	width:80%;
}

#campSns {
	padding-bottom: 20px;
	text-align: center;
	padding-top: 20px;
}



#conntact_form_end dt{
	font-size: 130%;
	padding-top: 10px;
	padding-bottom: 10px;
}


#campSns li {
	float: left;
	width: 120px;
	padding-bottom: 5px;
}
#counterScOut #screenNews {
	margin-top: 15px;
	background-repeat: repeat;
	background-position: left top;
	width: 260px;
	font-size: 110%;
	background-color: #EBEADE;
	height: 110px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	overflow: auto;
	font-family: "メイリオ", Meiryo, Osaka,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

 #screenNews li {
	font-size: 110%;
	padding-bottom: 3px;
 }


#screenNews::-webkit-scrollbar {
  width: 10px;
}

#screenNews::-webkit-scrollbar-thumb {
  background-color:#E85412;
  -webkit-border-radius: 5px;

  cursor: pointer;
}

#screenNews::-webkit-scrollbar-thumb:hover{
  background-color:#F17B49;
  cursor: pointer
}

#screenNews::-webkit-scrollbar-thumb:active {
  background-color: #E85412;
  cursor: pointer
}

#screenNews::-webkit-scrollbar-button:decrement ,
#screenNews::-webkit-scrollbar-button:increment {
  display: none
}




#screenNews ul #sNResult {
	font-size: 140%;
	color: #E85412;
	font-weight: bold;
	padding-bottom: 5px;
}
