@charset "UTF-8";

/* Reset
------------------------------------------------------------*/
body,ul,ol,dl,dt,dd,blockquote,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,th,td,address {
border: none;
list-style: none;
margin: 0;
padding: 0;
font-size: 100%;
font-weight: normal;
font-style: normal;
}
img {
border: none;
}
/* Clearfix
------------------------------------------------------------*/
.clearfix:after {
content: ".";
display: block;
visibility: hidden;
height: 0.1px;
font-size: 0.1em;
line-height: 0;
clear: both;
}
.clearfix {
zoom: 100%;
display: inline-block;
}

/* Fonts
------------------------------------------------------------*/
body {
font-size: 75%; 
}
html>/**/body {
font-size: 12px;
}