@charset "utf-8";
/* CSS Document */

body {
	background-image: url(/images/header_bg_new.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	text-align: center;
}
#page {
	width: 1058px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

#logo {
	float: left;
	width: 230px;
	padding-right:95px;
}
#adTop {
	float: right;
}

#adTop div iframe {margin:0px;}

#logo #fire {
	padding-top: 57px;
	font-size: 12px;
}
#header #hederTop {
	height: 105px;
	padding-top: 10px;

}
#header #hederTop table {
	padding-bottom: 3px;
}

#header #gNav {
	clear: both;
	height: 42px;
	background-image: url(//sakura1.firestorage.jp/images/gnav_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 1024px;

}
#gNav li  {
	
}
#gNav1  {
	width: 128px;
	float: left;
	text-align: center;
}
#gNav li a {
	
	height: 42px;
	line-height: 44px;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
}


#gNav li a:link,
#gNav li a:visited {
	color: #202020;	
}

#gNav li a:hover {
	color: #C4C2CB;  	
}

#gNav1 {
	font-size: 13px;
}

#gNav2 {
	font-size: 13px;
	float: left;
	width: 128px;
	text-align: center;

}
#gNav3  {
	font-size: 13px;
	width: 128px;
	float: left;
	text-align: center;
}

#gNav4  {
	font-size: 13px;
	width: 128px;
	float: left;
	text-align: center;
}

#gNav5  {
	font-size: 13px;
	width: 128px;
	float: left;
	text-align: center;
}

#gNav6  {
	font-size: 13px;
	width: 128px;
	float: left;
	text-align: center;
}

#gNav7  {
	font-size: 12px;
	width: 118px;
	float: left;
	text-align: center;
}

#gNav7_2  {
	font-size: 12px;
	width: 118px;
	float: left;
	text-align: center;
	padding-top: 10px;
}


#log  {
	width: 88px;
	float: left;
	text-align: center;
	font-size: 12px;
}


#regi  {

}
#footOut {
	background-repeat: repeat-x;
	background-position: left top;
	clear: both;
	background-image: url(//sakura1.firestorage.jp/images/footer_top.jpg);
	text-align: left;
	background-color: #2A2A2A;
	margin-top: 20px;
	

	
}


#footer2011 {
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
	
}

#footer2011 #fGnav {
	padding-top: 25px;
	padding-left: 3px;
	padding-bottom: 7px;
	font-size: 12px;
}
#footer2011 #fGnav li {
	display: inline;
	padding-left: 9px;

}
#footer2011 #fGnav li a {
	color: #CFCFD6;
}
#footer2011 #fGnav .line {
	color: #94979E;
}



#footer2011 #fGnavC {
	padding-top: 25px;
	padding-left: 3px;
	padding-bottom: 7px;
	font-size: 12px;
}
#footer2011 #fGnavC li {
	display: inline;
	padding-left: 30px;

}
#footer2011 #fGnavC li a {
	color: #CFCFD6;
}
#footer2011 #fGnavC .line {
	color: #94979E;
}




#footer2011 #footUnder {
	padding-top: 25px;
	padding-bottom: 0px;
	color: #CECED6;
}

#footer2011 #footUnder p {
	color: #CECED6;
}


#footer2011 #footUnder a {
	color: #CECED6;

}

#footer2011 #footUnder a:hover {
	color: #9A9AA3;
	text-decoration: none;
}


#footer2011 #footUnder .fContents  {
	font-size: 130%;
	font-weight: bold;
	color: #C97D21;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #53535C;
	margin-right: 0px;
	padding-bottom: 5px;
}
.underLine {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #252527;
	margin-bottom: 20px;
	margin-right: 40px;
}




#footer2011 #foot1 {
	width: 240px;
	float: left;
	padding-left: 20px;
	padding-bottom: 20px;
}
#footer2011 #foot1 #ftText  {
	width: 200px;
	padding-top: 10px;
}

#footer2011 #foot2 {
	width: 240px;
	float: left;
}
#foot2 #ft2 {
	text-align: left;
}
#foot2 #ft2 ul  {
	clear: left;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #373735;
	margin-right: 40px;
}
#ft2 ul .f2L {
	float: left;
	width: 38px;
}
#ft2 ul .f2R  {
	float: left;
	width: 140px;
	padding-left: 20px;
}
#foot2 #ft2 #ff2 {
	padding-top: 10px;
}

#foot2 #ft2 #ff3 {
	padding-top: 10px;
}

#foot2 #ft2 #ff4 {
	padding-top: 10px;
}


#footer2011 #foot3 {
	width: 400px;
	float: left;
}



#footer2011 #footUnder #foot3 #f3Left {
	float: left;
	width: 200px;
}

#footer2011 #foot4 {
	width: 200px;
	float: right;
}
#foot3  li {
	padding-left: 23px;
	margin-bottom: 9px;
}

#f3Left ul #f1 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf1.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#f3Left ul #f2 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf2.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#f3Left ul #f3 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf3.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#f3Left ul #f4 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf4.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#f3Left ul #f5 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf5.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#f3Left ul #f6 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf6.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

ul #f7 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf7.png);
	background-repeat: no-repeat;
	background-position: left center;
}


ul #f20 {
	background-image: url(//sakura1.firestorage.jp/images/camera_add.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#f3Left ul #f8 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf8.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

ul #f9 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf9.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
ul #f10 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf10.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
ul #f11 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf10.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
ul #f12 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf11.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
ul #f13 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf12.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
ul #f14 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf13.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
ul #f15 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf14.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
ul #f16 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf15.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
ul #f17 {
	background-image: url(//sakura1.firestorage.jp/images/footer/ftf17.gif);
	background-repeat: no-repeat;
	background-position: left center;
}


#footer2011 .under {
	clear: left;
	text-align: right;
	padding-bottom: 20px;
}

#copy a {
	color: #868697;
}

#copy {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #343430;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 150px;
	color: #BFC0C4;
	text-align: right;
}
#copy li{
	display: inline;
	padding-right: 40px;
	
}


#pr  {
	margin-top:10px;
	clear: both;
		
}
#pr a {
	
}

.faqText a {
		color: #18181B;	
}

.faqText a:hover {
		color: #AFAEB7;	
}

#privacyM {
	padding-left: 810px;	
}
.qBack li{
	display: inline;	
}
.faqLeft{
	padding-right: 15px;
}
.qBack a {
	color: #3E4146;		
}




#titleFaqs2 {
	background-image: url(//sakura1.firestorage.jp/images/faqs/bar_qa2.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	width: 1015px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #40404A;
	margin-top: 15px;
}

#titleFaqs3 {
	background-image: url(//sakura1.firestorage.jp/images/faqs/bar_delete.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	width: 1015px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #40404A;
}

#deleteText a {
	font-size: 15px;
	color: #38373E;
	text-decoration: underline;
}

#deleteText2 a {
	font-size: 13px;
	color: #53525C;
}
#help a {
	color: #3E4146;
	font-size: 15px;
}
#qaBox ul .boxText2 {
	background-image: url(//sakura1.firestorage.jp/images/faqs/circle_qa1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
#faqOld a{
	color: #333;
	font-size: 15px;
}
#policy_boxs2 {
	width: 980px;
	background-color: #FFFFFF;	
	
}
#help2 li {
	padding-top: 10px;
	padding-bottom: 10px;		
}


#help3 {
	text-align: center;
	clear: both;	
}
#help4 {
	font-size: 14px;
}
#qaBox ul {
	border: 2px solid #EAE9ED;
	margin-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
}
#qaBox ul li {
	font-size: 14px;
}
#qaBox ul .boxText {
	background-image: url(//sakura1.firestorage.jp/images/faqs/circle_qa1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin-top: 7px;
}


#qaBox #qaBorder {
	border: 2px solid #EAE9ED;
	margin-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
}
#qaBox p {
	font-size: 14px;
}
#qaBox #qaBorder .boxText {
	background-image: url(//sakura1.firestorage.jp/images/faqs/circle_qa1.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin-top: 7px;
}

#qaBox #qaBorder .dots {
	padding-top: 7px;
	padding-bottom: 4px;	
}


table.tableH {
	margin-top: 0.2em;
	margin-bottom: 1em;
	width: 960px;
	border-collapse: collapse;
	border: solid 1px #D7D6DC;
	font-size: 100%;
}
.tableH  a {
	color: #333;
	text-decoration: underline;
}

table.tableH caption {
  margin-top: 1em;
  text-align: left;
}

table.tableH th,
table.tableH td {
  border: solid 1px #D7D6DC;
  padding: 7px 6px;
}

table.tableH th {
  background: #E6E6E6;
  text-align: center;
  white-space: nowrap;
  color: #666;
}

table.tableH td.course {
  text-align: center;
  font-size: 200%;
  font-weight: bolder;
}

table.tableH td.time,
table.tableH td.fee {
  text-align: right;
  white-space: nowrap;
}

table.tableH tr.course-a {
  background: #FE3015;
}

table.tableH tr.course-b {
  background: #FFE6F3;
}

table.tableH tr.course-a {
	background-color: #F1F1F3;
}

table.tableH tr.course-sp {
  background: #FFCCE6;
}


.dots2 {
	margin-bottom: 4px;
	
}
.titleW {
	background-image: url(//sakura1.firestorage.jp/images/faqs/dots_w.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	font-size: 17px;
	margin-top: 15px;
	font-weight: bold;
}
.titleW a {
	color: #EB6116;
	text-decoration: underline;	
	
}
.listW {
	font-size: 15px;
	padding-top: 10px;	
}
.listW2 li{
	font-size: 15px;
	padding-top: 10px;	
}

.listW3 {
	font-size: 15px;
	padding: 10px;
	margin-top: 10px;
	border: 3px solid #E11E09;
	line-height: 1.5em;
	width: 750px;
}

#faqCategory {
	clear: both;	
}
#faqCategory a {
	color: #3E4146;
	font-size: 110%;

}
#policy_boxs3 {
	width: 980px;
	margin : 10px;
	padding: 13px;
	background-color: #eeeeee;
 	border-width:  1px;
	border-style: solid; 
	border-color: #DDE0E6;
	text-align: left; 
	-moz-border-radius: 10px;
}
#bigBox {
	background-image: url(//sakura1.firestorage.jp/images/me/bigbox_bg.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	padding-top: 20px;
	padding-left: 50px;
	font-size: 14px;
	line-height: 1.4em;
}
#bigBox #bBT {
	width: 930px;
}
.bBLine {
	padding-top: 15px;
	padding-bottom: 15px;
	clear: both;
}

/* ----------- me2012 ----------- */

#aboutFire {
	font-size: 27px;
	background-image: url(/images/me/logo_me.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 43px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}
.aboutTitle {
	font-size: 22px;
	color: #000000;
	background-image: url(//sakura1.firestorage.jp/images/me/black_c.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	margin-bottom: 10px;
}

.aboutFire a {
	font-size: 27px;
	background-image: url(/images/me/logo_me.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 43px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 20px;
	color: #262626;
	margin-top: 20px;
}
.aboutFire a:hover {
	color: #696969;	
}
.aboutTitle2 {
	font-size: 22px;
	color: #DF221C;
	background-image: url(//sakura1.firestorage.jp/images/me/red_c.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	margin-bottom: 10px;
}
.aboutTitle3 {
	font-size: 16px;
	color: #DF221C;
	background-image: url(//sakura1.firestorage.jp/images/exclamation.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.aboutTitle4 {
	font-size: 15px;
	color: #4F4F4F;
	background-image: url(//sakura1.firestorage.jp/images/me/black_c.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
	margin-top: 10px;
}
.aboutTitle5 {
	font-size: 20px;
	margin-top: 20px;
}
.aboutTitle6 {
	font-size: 15px;
	margin-top: 20px;
}
.aboutListMe li {
	padding-top: 5px;	
	
}
.aboutListMe2 li {
	padding-top: 5px;
	padding-left: 1em;
	padding-bottom: 15px;
}
.aboutListMe3 li {
	padding-top: 5px;
	padding-left: 1em;
}
.aboutST {
	padding-bottom: 8px;
	font-size: 120%;
}

#btnLang {
	text-align: right;
	padding-right: 40px;
	clear: both;
	padding-bottom: 20px;
}


#banArea01W {
	width: 1025px;		
}
#sBannerW {
	float: left;
	width: 234px;	
}

#banAcenterW {
	float: Right;
	width: 735px;		
}

#bBanner {
	clear: both;	
}

#planTable table {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #C8C8C8;
	border-bottom-color: #C8C8C8;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
#planTable table .pTBlue {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #C8C8C8;
	border-left-color: #C8C8C8;
	color: #FFF;
	background-color: #7ABCED;
	font-size: 18px;
	text-align: center;
}


#planTable2 table .pTGreen {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #C8C8C8;
	border-left-color: #C8C8C8;
	color: #1B1C1F;
	background-color: #E4FAEF;
	text-align: center;
}


#planTable table td {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #C8C8C8;
	border-left-color: #C8C8C8;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	background-color: #FFF;
}

#planTable table td a {
	color: #000;
	text-decoration: underline;
}


#planTable table .pTT{
	background-color: #FCFCEB;
}
#pCT {
	text-align: center;
}
table .pTT3 {
	background-color: #CCEAFB;
}

#planTable2 table {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #C8C8C8;
	border-bottom-color: #C8C8C8;
	width: 920px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	
}
#planTable2 table .pTBlue {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #C8C8C8;
	border-left-color: #C8C8C8;
	color: #302F35;
	background-color: #E9F4FE;
	font-size: 15px;
	text-align: center;
}

#planTable2 table td {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #C8C8C8;
	border-left-color: #C8C8C8;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	background-color: #FFF;
}

#planTable2 table td a {
	color: #000;
	text-decoration: underline;
}


#planTable2 table .pTT{
	background-color: #FCFCEB;
}
#pCT {
	text-align: center;
}
.helpT {
	padding-top: 15px;	
}
.helpT th a {
	font-size: 150%;
	font-weight: bold;
	color: #1B9FE7;
}


.helpT td {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 15px;
	background-image: url(//sakura1.firestorage.jp/images/dots_help.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

.helpT td a {
	font-size: 115%;
	line-height: 1.2em;
	color: #464651;
}



#supBox {
	line-height: 1.7em;
	padding-left: 10px;
}
.supLeft {
	float: left;
	width: 300px;	
}

.supRight {
	float: Right;
	width: 300px;	
}

.spEx {
	padding-top: 10px;	
}
.aColor a {
	color: #43424A;
	text-decoration: underline;
	padding: 10px;
}
span5 {
	color: #D71A0B;
	text-decoration: underline;	
}

span6 {
	font-size: 80%;	
}
.companytable{
	margin-top: 20px;
}
.companytable table{
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #B3B6BD;
	border-right-color: #B3B6BD;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #B3B6BD;
	border-right-style: solid;
}
.companytable th{
	background: #eee;
	text-align: center;
	padding-right: 1em;
	padding-left: 1em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B3B6BD;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #B3B6BD;
}
.companytable td{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B3B6BD;
}
.companytable th.t_top {
    border-top: #be1309 4px solid;
}
.companytable td.t_top {
	border-top: #b3b3b3 4px solid;
}
.companytable td span{
	color: #F00;
}
.fireTitleW {
	font-size: 27px;
	background-image: url(//sakura1.firestorage.jp/images/me/logo_me_w.jpg);
	background-repeat: no-repeat;
	background-position: left -2px;
	padding-left: 43px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.ftdown{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	}
.ftdown table{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	}
.ftdownST{
	font-size: 200%;
	margin-top: 40px;
	}
.ftdownText{
	font-size: 120%;
	line-height: 1.4em;
	margin-top: 10px;
	color: #797D86;
	}
.ftdownyes{
	font-size: 120%;
	font-weight: bold;
	color: #0088CC;
	}
.passArea{
	margin-top: 30px;
	}
.passArea dt{
	color: #474747;
	font-size: 180%;
	line-height: 1.4em;
	}
.passArea dd{
	color: #898989;
	font-size: 120%;
	line-height: 1.4em;
	margin-top: 5px;
	}
.passArea dd a{
	color: #0088CC;
	}
#STpass .table111 .course-a .passcell{
	color: #FFF;
	background-color: #0088CC;
}
#mainteBox {
	text-align: left;
	width: 900px;
	padding-top: 20px;
	padding-left: 40px;
	line-height: 1.5em;
}
#mainteBox a {
	color: #E96925;
}

#mainteT {
	font-size: 270%;
	color: #2375CF;
	padding-bottom: 30px;
}
.news .nText {
	line-height: 1.4em;
	padding-top: 5px;
}
	
.news h3 {
	font-size: 140%;
	color: #188DD3;
	padding-top:30px;
}

.news h4 {
	font-size: 130%;
	color: #F44E24;
	padding-top: 10px;
}

#guideTop {
	padding-bottom: 20px;
}
