@charset "utf-8";
/* CSS Document */



.uploads2 {
	padding: 0px 0px;
	margin: 0px auto;
	width: 600px;
	color: #ffffff;
	padding-top: 8px;
	background-repeat: no-repeat;
	background-color: #EF3F28;
	border-radius: 8px;        /* CSS3草案 */  
    -webkit-border-radius: 8px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 8px;   /* Firefox用 */  
}



.uploads2 input[type=radio],
.uploads2 input[type=checkbox] {
	display: inline-block;
	padding-left:10px;
    
}
.uploads2 input[type=radio] + label,
.uploads2 input[type=checkbox] + label {
    position: relative;
	padding-left:10px;
    display: inline-block;
         line-height: 30px;
     
    cursor: pointer;
}


#banArea01 #sBanner {
	float: left;
	width: 234px;
}

#banArea01 #banAcenter {
	padding-right: 24px;
	padding-left: 30px;
	float: left;
	width: 467px;
}
#banArea01 #regi {
	float: right;
	width: 257px;
}
#bBanner {
	clear: both;
	padding-top: 5px;
}


#conBox1 {
	padding-top: 10px;
	clear: both;
}

#conBox2 {
	padding-top: 5px ;
	width: 1024px;
	}


#conBox2 #bannerCB2 {
	float: left;
	width: 494px;
}
#conBox2 #con1 {
	float: right;
	width: 485px;
	border: 2px solid #DFDFE1;
}


#conBox2 #con1 ul li {
	display: inline;
	padding-left: 40px;
}

#conBox2 #con1 #function {
	padding-top: 15px;
}
#conBox2 #con1 #function li a {
	color: #323338;
}
#conBox2 #con1 #function #about1 {
	background-image: url(/images/fabi.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin-left: 20px;
}

#conBox2 #con1 #function #about2 {
	background-image: url(//sakura1.firestorage.jp/images/topimages/about2.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	margin-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}


#conBox2 #con1 #function #about3 {
	background-image: url(//sakura1.firestorage.jp/images/topimages/about3.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	margin-left: 20px;
}


#conBox2 #con1 #function #about4 {
	background-image: url(//sakura1.firestorage.jp/images/topimages/about4.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	margin-left: 20px;
}

#conBox2 #con1 #function #about5 {
	background-image: url(//sakura1.firestorage.jp/images/topimages/excite_logo.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	margin-left: 20px;
}
#conBox2 #con1 #function #about5 a {
	text-decoration: underline;	
}


#conBox2 #con1 #guide {
	background-image: url(//sakura1.firestorage.jp/images/topimages/guide.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 12px;
}

.boxTitle  {
	padding-top: 1px;
	padding-left: 1px;
}

#conBox3 {
	clear: both;
	padding-top: 20px;
	padding-left: 35px;
	width: 969px;	
	}
#conBox3 #bannerCB3 {
	float: left;
	width: 468px;
}
#conBox3 #bannerCB4 {
	float: right;
	width: 468px;
}

#conBox3 ul li {
	display: inline;
}

#conBox4 {
	padding-top: 15px;
	width: 1024px;
	clear: both;
}


#conBox4 #con2 {
	float: left;
	width: 346px;
	border: 2px solid #DFDFE1;
}
#conBox4 #con2 ul {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#conBox4 #con3 {
	float: left;
	width: 260px;
	border: 2px solid #DFDFE1;
	margin-left: 30px;
}

#conBox4 #con3 ul {
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#conBox4 #con3 ul li {
	padding-left: 30px;
	margin-top: 5px;
	margin-left: 10px;
}
#conBox4 #con3 ul #user1 {
	background-image: url(//sakura1.firestorage.jp/images/user.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#conBox4 #con3 ul #user2 {
	background-image: url(//sakura1.firestorage.jp/images/user_add.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#conBox4 #con3 ul #user3 {
	background-image: url(//sakura1.firestorage.jp/images/luser.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#conBox4 #con3 ul #user4 {
	background-image: url(//sakura1.firestorage.jp/images/user_suit.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#conBox4 #con3 ul #user5 {
	background-image: url(//sakura1.firestorage.jp/images/user_gray.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#conBox4 #con3 a {
	color: #000;
}

#conBox4 #con4 {
	float: right;
	width: 346px;
	border: 2px solid #DFDFE1;
}
#conBox4 #con4 a {
	color: #000;
}

#conBox4 #con4 ul {
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#conBox4 #con4 li {
	padding-left: 25px;
	margin-top: 5px;
}




#conBox4 #con4 #featLeft {
	float: left;
	width: 150px;
	margin-left: 5px;
}
#conBox4 #con4 #featRight {
	float: right;
	width: 150px;
	padding-right: 5px;
}
#conBox4 #con4 #featLeft #func0 {
	background-image: url(//sakura1.firestorage.jp/images/layout.png);
	background-repeat: no-repeat;
	background-position: left center;
}




#conBox4 #con4 #featLeft #func1 {
	background-image: url(//sakura1.firestorage.jp/images/drive_web.gif);
	background-repeat: no-repeat;
	background-position: left center;
}


#conBox4 #con4 #featLeft #func2 {
	background-image: url(//sakura1.firestorage.jp/images/filegl.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#conBox4 #con4 #featLeft #func3 {
	background-image: url(//sakura1.firestorage.jp/images/email.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#conBox4 #con4 #featLeft #func4 {
	background-image: url(//sakura1.firestorage.jp/images/add_logo.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}

#conBox4 #con4 #func5 {
	background-image: url(//sakura1.firestorage.jp/images/key_add.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#conBox4 #con4 #func6 {
	background-image: url(//sakura1.firestorage.jp/images/wrench.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#conBox4 #con4 #func7 {
	background-image: url(//sakura1.firestorage.jp/images/package_add.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
	
#conBox4 #con4 #func8 {
	background-image: url(//sakura1.firestorage.jp/images/package_go.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
#conBox4 #con4 #func9 {
	background-image: url(//sakura1.firestorage.jp/images/world_add.gif);
	background-repeat: no-repeat;
	background-position: left center;
}



#conBox5 {
	clear: both;
	padding-top: 20px;
}


#conBox5 #con5 {
	float: left;
	width: 639px;
	border: 2px solid #DFDFE1;
	margin-right: 30px;
}
#conBox5 #con5 li  {
	width: 180px;
}

#conBox5 #con5 #info1 {
	padding-top: 15px;
	padding-left: 35px;

}
#conBox5 #con5 #info2 {
	padding-top: 10px;
	padding-left: 35px;

}


#conBox5 #con5 #info1 li {
	float: left;
	width: 180px;
}
#conBox5 #con5 #info2 li {
	float: left;
	width: 180px;
}

#conBox5 #con5 #info2 {
	clear: left;
}

#more {
	clear: both;	
	
}

#conBox5 #con5 .con5C {
	padding-right: 20px;
	padding-left: 20px;
}

#conBox5 #banner3 {
	float: left;
	width: 336px;	
}








#conBox52012 {
	clear: both;
	padding-top: 20px;
	width: 1024px;
}

#conBox52012 #con5 {
	float: left;
	width: 639px;
	border: 2px solid #DFDFE1;
	margin-right: 30px;
}
#conBox52012 #con5 li  {
	width: 180px;
}

#conBox52012 #con5 #info1 {
	padding-top: 15px;
	padding-left: 35px;

}
#conBox52012 #con5 #info2 {
	padding-top: 10px;
	padding-left: 35px;

}


#conBox52012 #con5 #info1 li {
	float: left;
	width: 180px;
}
#conBox52012 #con5 #info2 li {
	float: left;
	width: 180px;
}

#conBox52012 #con5 #info2 {
	clear: left;
}
#conBox52012 #con5 .con5C {
	padding-right: 20px;
	padding-left: 20px;
}

#conBox52012 #banner3 {
	float: left;
	width: 300px;	
}
#conBox52012 #banner4 {
	float: right;
	width: 300px;
	padding-right: 50px;
}





ul .check {
	background-image: url(//sakura1.firestorage.jp/images/topimages/check.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 19px;
	margin-top: 5px;
}

#mains {
	padding-top: 15px;
}
#topText {
	font-size: 12px;
}
#topText h2 {
	width: 490px;
	float: left;
}
#topText h3 {
	float: left;
	width: 512px;
}

#ajaxForm_card {
	background-color: #F3F3F3;
	border: 1px solid #B8BABE;
	padding: 20px;
	width: 600px;
	
}


.fireTImg {
	padding-top: 10px;
	text-align: center;
}


.textCB1 {
	width: 250px;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-top: 8px;
}
.textCB2 {
	width: 310px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
}

a:link.link10{
  display:block;
  width:100px;
  height:100px;
  background-image:url(//sakura1.firestorage.jp/images/upbottom_off.gif);
  text-indent:-10000px;
  list-style:none;
}
a:hover.link10{
  display:block;
  width:100px;
  height:100px;
  background-image:url(//sakura1.firestorage.jp/images/upbottom_on.gif);
  text-indent:-10000px;
  list-style:none;
}
#topAttention {
	font-size: 110%;
	line-height: 1.3em;
	padding-bottom: 10px;
	text-align: center;
	padding-top: 0px;
	color: #E8740B;
	text-decoration: none;
}

#topAttention a:hover {
	color: #E8740B;
	text-decoration: underline;
}
