@charset "UTF-8";

* {word-break: break-all;}
html{overflow-y:scroll;}

/*** リセットCSS ***/
body,div,dl,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,textarea,th,td{margin:0;padding:0}
img{border:0;vertical-align:middle}
ul,li{list-style:none;}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
p{margin:7px 0;padding:0;line-height:1.4}

#header {display:none;}
body { 
line-height:1.3;
margin:0;
padding:0;
} 

#banner{
width:728px;
height:90px;
overflow: auto;
margin-bottom:10px;
}
#square{
width:320px;
height:250px;
overflow: auto;
}
#square_1{
width:320px;
height:253px;
margin-top:0px;
overflow: auto;
}
#side{
width:180px;
height:600px;
overflow: auto;
}
#side_1{
width:160px;
height:600px;
overflow: auto;
}
#ad-3{
margin-top:30px;
width:1010px;
height:250px;
overflow: auto;
text-align:center;
}

p.daily_count_free_area {
   display:none;
}

.sp_entryfix{
    display: none;
    margin-bottom:20px;
}

.t_h {
    font-weight: normal;
    font-size:12pt;
}

.t_b {
    font-size:13pt;
}

.image img
, .ently_text img {
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    padding: 1px;
}
.image a img:hover
, .ently_text a img:hover
, a.twSButton img:hover 
, a.hbSButton img:hover
, a.fbSButton img:hover 
, #header_navi a:hover
, .readmore a:hover {
    -moz-transition: all 0.2s ease-out 0s;
    border: 1px solid #d98687;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 8px #b85b5a;
}

/*** その他 ***/
.c-both { clear:both; } 
.readmore { margin-top: 10px; } 
.readclose { margin: 10px 0; } 
.page_navi { margin:30px 0; font-size:12pt; }
.waku{
height:330px;
padding: 5px 5px 5px 5px;
overflow:hidden
}


/******************************************* ▼ サイトの幅 ▼ */
#outline { 
   width:1240px;
   margin:0 auto;
   font-family: 'メイリオ',meiryo,'ＭＳ Ｐゴシック',arial,sans-serif;
}
#inner, #list_content {width:1220px;}

#inner { 
   margin:0 auto;
   border-radius: 5px 5px 5px 5px;
}
#list_content { 
position:relative;
}

.clearfix{zoom:1;}
.clearfix:after{
  height:0;
  display:block;
  content:'';
  clear:both;
}

#main { 
width:728px;                                          /* 中央 */
float:left; 
} 
#right { 
width:172px;                                            /* 左 */
float:right; 
} 
#left { 
width:310px;                                            /* 右 */
float:left; 
} 
#center-right {             /* 計算して設定してください ------ */
width:905px;              /* (全体-左-中央-右)/2 + 左 + 中央 */
float:right; 
} 
/******************************************* ▲ サイトの幅 ▲ */

/******************************************* ▼ 背景設定 ▼ */
body { 
background: url("http://asianews2ch.livedoor.biz/images/beige-bg.jpg") repeat scroll 0 0 #F7EFE0;
} 
#inner {
background: url("http://asianews2ch.livedoor.biz/images/content-bg.png") repeat scroll 0 0 #FCF7E9;
}
#outline { 
background: url("http://asianews2ch.livedoor.biz/images/inner-bg.png") repeat-y scroll 0 0 transparent;
}

.waku{
background: #ffffff;
}

#header_navi .all
, #header_navi .rss
, #header_navi .twitter
, #header_navi .facebook
, #header_navi .mail
, #header_navi .about
{
    background-image: url("http://asianews2ch.livedoor.biz/images/header_icon.png");
    background-repeat: no-repeat;
}
#header_navi .all{ background-position:0 12px;}
#header_navi .rss{ background-position:0 -35px;}
#header_navi .twitter{ background-position:0 -82px;}
#header_navi .facebook{ background-position:0 -129px;}
#header_navi .mail{ background-position:0 -176px;}
#header_navi .about{ background-position:0 -223px;}


.header_left{
    background: url("http://asianews2ch.livedoor.biz/images/header-bg.png") no-repeat scroll 0 0 transparent;
}

.headline_title { 
background-image: url("http://asianews2ch.livedoor.biz/images/headline_title.png");
} 
.headline_body { background-color: #ffffff; }

.headline_bottom_title { 
background-image: url("http://blog.livedoor.jp/toua2chdqn/back_ground/rss_bk.png");
} 
.headline_bottom_body { background-color:#ffffff; }

.top_menu_title {
    background-image: url("http://asianews2ch.livedoor.biz/images/label_main.jpg");
}
.article_title
, .archives-header {
    background-image: url("http://asianews2ch.livedoor.biz/images/title-bg.png");
}
.entry_articles_right_bottom {
    background: url("http://asianews2ch.livedoor.biz/images/post-info-bg.jpg") repeat-x scroll -195px 7px transparent;
}
#entry_articles .entry_articles_right_bottom,
.entry_articles_min .entry_articles_right_bottom {
    background: url("http://asianews2ch.livedoor.biz/images/post-info-bg.jpg") repeat-x scroll -10px 7px transparent;
}
div.lana {
    background: url("http://asianews2ch.livedoor.biz/images/Lana-.png") no-repeat scroll 0 0 transparent;
}
.lana_comment a {
    background: url("http://asianews2ch.livedoor.biz/images/fukidashi_c.png") no-repeat scroll 0 0 transparent;
}
#entry_articles div.lana,
.entry_articles_min div.lana {
    background: url("http://asianews2ch.livedoor.biz/images/Lana-.png") no-repeat scroll 0 0 transparent;
}
#entry_articles .lana_comment a,
.entry_articles_min .lana_comment a {
    background: url("http://asianews2ch.livedoor.biz/images/fukidashi_c.png") no-repeat scroll 0 0 transparent;
}

.ently_outline
, .ently_outline_more {
background: url("http://asianews2ch.livedoor.biz/images/beige-bg.jpg") repeat scroll 0 0 #F7EFE0;
} 
.ently_title { 
background-image: url("http://blog.livedoor.jp/toua2chdqn/back_ground/topmene_bk.png");
} 
.amzon_body { background-color:#ffffff; }

#top_pnav .current{ background-color:#efefef; }
#top_pnav a{ background-color:#FFFFFF; }
#top_pnav a:hover{ background-color:#b85b5a; }
#entry_page_navi .prev a {
    background: url("http://asianews2ch.livedoor.biz/images/pager.png") repeat scroll -5px center #F7EFE0;
}
#entry_page_navi .next a {
    background: url("http://asianews2ch.livedoor.biz/images/pager.png") repeat scroll 341px center #F7EFE0;
}

.related-articles h3 {
 	background: url("http://asianews2ch.livedoor.biz/images/category_line.png") no-repeat 0 0;
}
.related-articles ul li{
	background: url("http://blog.livedoor.jp/toua2chdqn/icon/arrow/arrow.gif") no-repeat -2px 3px;
}

.sidewrapper{
background: url("http://asianews2ch.livedoor.biz/images/content-bg.png") repeat scroll 0 0 #FCF7E9;
}
#left .side{
background: url("http://asianews2ch.livedoor.biz/images/inner-bg.png") repeat-y scroll right 0 transparent;
}
#left .sidetitlebody{
background: url("http://asianews2ch.livedoor.biz/images/inner-bg.png") repeat-y scroll right 0 transparent;
}

#right .side{
background: url("http://asianews2ch.livedoor.biz/images/inner-bg.png") repeat-y scroll left 0 transparent;
}

.sidetitle{
    background-image: url("http://asianews2ch.livedoor.biz/images/label.jpg");
}
.side{ background-color: #ffffff; }
.side .sidebody a{
    background: url("http://blog.livedoor.jp/toua2chdqn/icon/arrow/sidebar_arrow.gif") no-repeat scroll -2px 4px transparent;
}
#left .side_outer{
background: url("http://asianews2ch.livedoor.biz/images/side_shadow.png") no-repeat scroll right 0 transparent;
}
#right .side_outer{
background: url("http://asianews2ch.livedoor.biz/images/side_shadow.png") no-repeat scroll left 0 transparent;
}

.archive a{
    background:url("http://blog.livedoor.jp/toua2chdqn/icon/arrow/sidebar_arrow.gif") no-repeat scroll -2px 4px transparent;
}

#footer_body { 
background: url("http://asianews2ch.livedoor.biz/images/brown-bg.jpg") repeat scroll 0 0 #5D4E48;
} 
#footer_contents { 
background: url("http://asianews2ch.livedoor.biz/images/content-bg.png") repeat scroll 0 0 #F7EFE0;
} 
#footer_radius_top {
background: url("http://asianews2ch.livedoor.biz/images/footer-bg_radius.png") no-repeat scroll 0 0 transparent;
}
#footer_radius_bottom {
background: url("http://asianews2ch.livedoor.biz/images/footer-bg_radius.png") no-repeat scroll 0 -18px transparent;
}
/******************************************* ▲ 背景設定 ▲ */

/******************************************* ▼ カラー設定 ▼ */
/* リンク */
a:link    {color:#1111cc; text-decoration:none;}
a:active  {color:#4169e1; text-decoration:none;}
a:visited {color:#1111cc; text-decoration:none;}
a:hover   {color:#B85B5A; text-decoration:none;}

.page_navi { color:#808080; }

h1 a:link    { color:#1111cc; text-decoration:none; }
h1 a:active  { color:#4169e1; text-decoration:none; }
h1 a:visited { color:#1111cc; text-decoration:none; }
h1 a:hover   { color:#B85B5A; text-decoration:none; }

h2 a:link    { color:#1111cc; text-decoration:none; }
h2 a:active  { color:#4169e1; text-decoration:none; }
h2 a:visited { color:#1111cc; text-decoration:none; }
h2 a:hover   { color:#B85B5A; text-decoration:none; }

.red{color: #ff0000;}
.blue{color: #0066ff;}
.intro { color:#ffffff; }

#header_navi a:link
, #header_navi a:visited 
{ color:#121212; }
#header_navi a:hover{ color:#B85B5A; }

.headline_title { color:#124092; } 
.headline_body { color:#000000; }

.headline_bottom_title { color:#124092; } 
.headline_bottom_body { color:#000000; }

.lana_comment a { color: #B85B5A !important; }
.lana_comment a:hover { color: #9c3433 !important; }
dt.readmore a{ color: #B85B5A; }
dt.readmore a:hover{ color: #9c3433; }

#top_pnav .current{ color:#000 !important; }
#top_pnav a{ color:#000 !important; }
#top_pnav a:hover{ color:#fff !important }
.ently_navi { color:#999999; } 

.amzon_body { color:#000000; }

.comment_body { color:#000000; } 
li.comment-author { color:#000000; }

.related-articles h3 { color: #000000; }

.side{ color: #000000; }

#footer_body { color:#000000; } 
#ninki_permanent_1 a:link    {color:#1111cc; text-decoration:none;}
#ninki_permanent_1 a:active  {color:#4169e1; text-decoration:none;}
#ninki_permanent_1 a:visited {color:#1111cc; text-decoration:none;}
#ninki_permanent_1 a:hover   {color:#b8860b; text-decoration:none;}
/******************************************* ▲ カラー設定 ▲ */


/******************************************* ▼ ボーダー設定 ▼ */
.waku{ border: 0px double #ff0000; }

.headline_outline { border: #5d4e48 1px solid; }
.headline_outline_article {
    border-color: #5d4e48;
    border-style: solid;
    border-width: 1px 2px 2px 2px;
}
.headline_title { 
    border-color: #5d4e48;
    border-style: solid;
    border-width: 1px 1px 0 1px;
 } 

.headline_bottom_outline { border: #5d4e48 1px solid; }
.headline_bottom_title { border-bottom:#5d4e48 1px solid;}

.entry_articles{
    border-color: #d4cec0;
    border-style: solid;
    border-width: 0 3px 3px;
}
.entry_articles_outer{
    border-color: #d4cec0;
    border-style: solid;
    border-width: 3px 0 0;
}
.top_menu_title {
    border-color: #d4cec0;
    border-style: solid;
    border-width: 0 3px 0 0;
}
.article_title {
    border-color: #5d4e48;
    border-style: solid;
    border-width: 2px 2px 1px 2px;
}
.entry_articles_left {  }
.entry_articles_top{ border-bottom: 1px dashed #5d4e48; }
.entry_articles_topnavi{ border-bottom: 1px dashed #5d4e48; }

.ently_outline {
    border-color: #5d4e48;
    border-style: solid;
    border-width: 0 2px 0;
}
.ently_outline_more { border:#5d4e48 2px solid; }

.ently_title { border-bottom:#5d4e48 1px solid; } 

.amazon_outline { 
border-top:   #5d4e48 1px solid;
border-bottom:#5d4e48 1px solid;
} 

.comment_title { 
} 

#top_pnav .current{ border:2px solid #1111cc; }
#top_pnav a{ border:2px solid #CCCCCC; }
#top_pnav a:hover{ border:2px solid #5d4e48; }
#entry_page_navi a {
    border-color: #CCCCCC #5d4e48 #5d4e48 #CCCCCC;
    border-style: solid;
    border-width: 2px;
}
#entry_page_navi a:hover {
    border-color:#5d4e48 #CCCCCC #CCCCCC #5d4e48;
    border-style: solid;
    border-width: 2px;
}

#footer_contents .footer_parts{ border-right:1px solid #5D4E48; }
#ninki_permanent_1 td{ 
border-bottom: 2px dotted #5d4e48;
}

/******************************************* ▲ ボーダー設定 ▲ */

/********************************************* ▼ ヘッダー ▼ */
#header_outline {}
#header_body {} 
#header_outer {
margin:15px 0;
}

div.header_right {
    overflow: hidden;
    width: 728px;
}

#header_navi {
    float: left;
    height: 50px;
    margin: 0 0 5px;
    padding: 0;
    width: 721px;
}

#header_navi ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 744px;
}

#header_navi li {
    float: left;
    margin: 0;
    padding: 0;
}

#header_navi a {
    -moz-transition: all 0.4s ease-in-out 0s;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 32px;
    font-family: 'Hiragino Kaku Gothic Pro','Meiryo UI',Meiryo,Verdana,sans-serif !important;
outline:none;
overflow:hidden;
text-indent:150px;
    line-height: 150px;
    margin:11px 0;
}

#header_navi .all {width: 147px;margin-left: 8px;}
#header_navi .rss {width: 90px;}
#header_navi .twitter {width: 124px;}
#header_navi .facebook {width: 150px;}
#header_navi .mail {width: 87px;}
#header_navi .about {width: 112px;}

#header_navi .about a {
    margin-right: 0;
}

.header_ad {
}

.header_left{
    display: block;
    float: left;
    left: -16px;
    height: 145px;
    margin: 0;
    padding: 0 0 0 5px;
    position: relative;
    text-align: center;
    width: 471px;
}

#rheader_outer {
    margin-top: 5px;
    margin-left: -7px;
}
/********************************************* ▲ ヘッダー ▲ */

/*************************************** ▼ ブログタイトル ▼ */
.archives-header h2 { 
    font-size: 22pt;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 5px 0;
    text-align: center;
}
/*************************************** ▲ ブログタイトル ▲ */


/***************************************** ▼ サイト紹介文 ▼ */
.intro { 
text-align:left;
margin:0; 
}
/***************************************** ▲ サイト紹介文 ▲ */



/*************************** ▼ 上部RSSヘッドライン ▼ */
.headline_outline { 
margin-bottom: 5px;
overflow:hidden;
}
.entry_articles_main .headline_outline {
margin: -10px 0 10px;
}
.headline_outline_article {
margin: 0;
overflow:hidden;
}

.headline_title {
position:relative;
height: 30px;
}
.headline_title img{
    left: 5px;
    position: absolute;
    top: -8px;
}
 
.headline_body { 
font-size:10pt;
padding:5px 0; 
text-align: left;
}

#headline_top iframe{
	width:890px;
	height:322px;
margin:6px 6px 6px 7px;
}
#headline_main1 iframe{
	width:890px;
	height:600px;
margin:6px 6px 6px 7px;
}
#headline_main2{
	height:400px;
}
#headline_main2 iframe{
	width:726px;
	height:1120px;
}
#headline_main2 div {
    margin: -720px 0 0 0;
}

#headline_main3{
	padding: 5px;
}
#headline_main3 iframe{
	width: 1614px;
	height:745px;
}
#headline_main3 div {
    margin: 0 0 0 -900px;
}

/*************************** ▲ 上部RSSヘッドライン ▲ */

/*************************** ▼ ページ下部RSS ▼ */

#outline_1001 {
	overflow:hidden;
	width:704px;
	height:250px;
}
#outline_1001 iframe {
	width:1500px;
	height:250px;
}
#rand2 {
    margin: 0 0 0 -720px;
}

#recommend{
 margin:20px 0 10px;
 padding:5px 0 5px 5px;
}

.headline_bottom_outline { 
margin:0 0 5px 0;
}
.headline_bottom_title { 
font-size:11pt;
font-weight:bold;
text-align: left;
padding:0px 10px; 
} 
.headline_bottom_body { 
font-size:10pt; 
padding:5px 0; 
text-align: left;
}

#headline_bottom{
	overflow:hidden;
	height:770px;
}
#headline_bottom iframe{
	width:1626px;
	height:1565px;
}
#headline_bottom div {
    margin: -770px 0 0 -900px;
}

/*************************** ▲ ページ下部RSS ▲ */

/*************************** ▼ 画像ピックアップRSS ▼ */
.pickup_outline { 
margin: 0 0 10px;
} 
.pickup_outline_bottom { 
margin: 10px 0 10px 8px;
} 
#side_pickup {
	width:299px;
	height:2080px;
	overflow:hidden;
}
#side_pickup iframe{
	width:1000px;
	height:2530px;
}
.side_rd div{
    margin: 0;
}
#side_pickup div{
}
#side_pickup_sub {
	width:160px;
	height:616px;
	overflow:hidden;
margin-left:1px;
}
#side_pickup_sub iframe{
	width:1000px;
	height:2530px;
}
#side_pickup_sub div{
    margin: -1000px 0 0 -400px;
}

#top_pickup {
	width:728px;
	height:180px;
	overflow:hidden;
}
#top_pickup iframe{
	width:1100px;
	height:630px;
}
#top_pickup div{
    margin: -450px 0 0 -320px;
}

#bottom_pickup {
	width:690px;
	height:340px;
	overflow:hidden;
}
#bottom_pickup iframe{
	width:1100px;
	height:1000px;
}
#bottom_pickup div{
    margin: -640px 0 0 -320px;
}

/*************************** ▲ 画像ピックアップRSS ▲ */

/************************************************* ▼ トップ記事 ▼ */
.entry_articles_all{
padding:0 0 20px 0;
margin:0 0 20px 0;
}
.entry_articles_main{
}

.entry_articles{
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
#entry_articles, 
.entry_articles_min{
    height: 190px;
    width: 722px;
}
.entry_articles_inner{
    height: 190px;
    width: 722px;
}
.entry_articles_outer{
}

.top_menu_title {
    height: 27px;
    left: -10px;
    padding: 13px 0 10px 20px;
    position: relative;
    width: 715px;
    font-weight: bold;
}

.entry_articles h1{
    font-size: 22.5px;
    font-weight: bold;
    height: 110px;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
}
.entry_articles h1 a{
    display: block;
    margin: 5px 0 0;
    width: 385px;
    height: 110px;
}

.entry_articles h2{
    font-size: 22.5px;
    font-weight: bold;
    height: 163px;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
}
.entry_articles h2 a{
    display: block;
    margin: 5px 0 0;
    width: 385px;
}

.entry_articles h3{
    font-size: 22.5px;
    font-weight: bold;
    height: 110px;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
}
.entry_articles h3 a{
    display: block;
    margin: 5px 0 0;
    width: 385px;
    height: 110px;
}

.entry_articles_left {
    float: left;
    height: 190px;
    padding: 0;
    position: relative;
    width: 250px;
    z-index: 3;
}
.image{
margin:2px;
}
.entry_articles_right {
    height: 175px;
    padding: 8px 0 0;
    position: absolute;
    right: 0;
    width: 474px;
    line-height: 1.1;
}

.entry_articles_right_top {
text-align: left;
overflow: hidden;
height: 173px;
font-size: 11pt;
margin-left: 10px;
}
#entry_articles .entry_articles_right_top,
.entry_articles_min .entry_articles_right_top {
height: 127px;
}
.entry_articles_right_top a {
display: inline-block;
}

.entry_articles_right_middle {
margin-top:1px;
    border-top: 1px solid #d4cec0;
    font-size: 11pt;
    overflow: hidden;
    padding: 9px 15px 0;
    text-align: left;
}

.entry_articles_right_bottom {
    overflow: hidden;
    height: 55px;
    padding-left: 10px;
}

.entry_articles_right_bottom dl {
    overflow:hidden;
    padding: 17px 0;
}

.entry_articles_right_bottom dt {
    float: left;
    font-size: 10.5pt;
    height: 30px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.entry_articles_top{
margin-bottom:10px;
margin-top:10px;
height:170px;
width:726px;
text-align: right;
font-size:11pt;
}
.entry_articles_topnavi{
margin-bottom:10px;
margin-top:0px;
height:30px;
width:726px;
text-align: right;
font-size:11pt;
float:right; 
}

div.lana {
    display: block;
    height: 97px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 94px;
    width: 73px;
}
#entry_articles div.lana,
.entry_articles_min div.lana {
    top: 52px;
}
.lana- {
    display: block;
    height: 92px;
    width: 73px;
}
div.lana_comment {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 47px;
    z-index: 5;
}
#entry_articles div.lana_comment,
.entry_articles_min div.lana_comment{
    top: 5px;
}
.lana_comment a {
    height: 58px;
    width: 65px;
}

dt.readmore {
    float: right;
}
dt.readmore a{
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px;
    position: relative;
    top: -1px;
}

/* info_button */
table.twSBT,table.hbSBT,table.fbSBT {
 margin: 0 6px 0 0!important; padding: 0 !important;
 border: 0 none !important; background: none !important;
 border-collapse: collapse !important; border-spacing: 0 !important;
}
table.twSBT th, table.twSBT td,
table.hbSBT th, table.hbSBT td,
table.fbSBT th, table.fbSBT td {
 padding: 0 !important; border: 0 none !important;
 font-family: 'Trebuchet MS',arial,verdana;
 font-size: 15px !important; line-height:normal !important;
 background: none !important; vertical-align: middle;
}
table.twSBT img,
table.hbSBT img,
table.fbSBT img {
 margin: 0 !important;
 padding: 0 !important;
 border: 0 none !important;
 vertical-align: middle !important;
}
a.twSButton,
a.hbSButton,
a.fbSButton {
 margin: 0 4px 0 4px !important;
}
table.twSBT td,
table.hbSBT td,
table.fbSBT td {
 padding: 0 0 0 7px !important;
 background: url("http://asianews2ch.livedoor.biz/images/fukidashi.png") left -32px no-repeat !important;
}
a.twSCount,
a.hatebSCount,
a.facebSCount {
 padding: 0 12px 0 7px;
 display: block !important;
 height: 32px !important; line-height: 30px !important;
 color: #0a91eb !important;
 font-weight: bold !important;
 text-decoration: none !important;
 background: url("http://asianews2ch.livedoor.biz/images/fukidashi.png") right top no-repeat !important;
}
td > a.twSCount:hover,
td > a.hatebSCount:hover,
td > a.facebSCount:hover { background-position: right -64px !important; }
table.twSBT td:hover,
table.hbSBT td:hover,
table.fbSBT td:hover { background-position: left -96px !important; }


/************************************************* ▲ トップ記事 ▲ */

/************************************************* ▼ 記事 ▼ */
.article_title_bar {
    position: relative;
}
.article_title_bar img{
    left: -12px;
    position: absolute;
    top: -14px;
    z-index: 3;
}

.article_title {
    padding: 10px 10px 10px 45px;
    font-weight: bold;
}
.article_title h2 {
    font-size: 17pt;
    font-weight: bold;
    line-height: 1.2;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
}

.ently_outline
, .ently_outline_more { 
position: relative;
z-index: 1;
} 

.ently_body { 
padding:20px 10px 30px; 
position: relative;
z-index: 1;
} 
.ently_text {

text-align:left;
overflow: hidden;
}
.ently_navi { 
text-align:right;
margin:0px 10px 3px; 
} 

/* 引用部分 */
blockquote {
margin:10px 5px;
padding:10px;
background:#efefef;
border:#cccccc 3px dashed;
}

/* ツイート表示 */
#tweetlist{ margin:0 0px; }
#tl-content ul { max-height:400px !important; }

/************************************************* ▲ 記事 ▲ */

/********************************************* ▼ コメント ▼ */
#comments-list{
margin-left: 30px;
margin-bottom: 50px;
}
.comment_title {
    margin: 20px 0 10px;
    padding: 5px 0 5px 5px;
} 
.comment_body { 
font-size:10pt;
text-align:left;
margin:15px 0px 0 50px; 
} 
.commentttl { 
text-align:left;
margin:0px 0 0px 40px;
font-size:10pt;
}
.comment_text { 
text-align:left;
margin:0px 0 15px 53px;
font-size:10pt;
}
.comment_send { 
text-align:left;
    margin: 0 20px 10px;
}

#text{width: 350px;}
#button{
margin-top: 8px;
    height: 45px;
    width: 354px;
}
li.comment-set {
	font-size: 10pt;
        margin-bottom:20px;
}

ul.comment-info li.comment-author {
	display: inline;
}

ul.comment-info li.comment-date {
	display: inline;
}

ul.comment-info li {
	display: inline;
}

ul.comment-info li.comment-body {
	display: block;
	margin-top: 2px;
	margin-left: 40px;
}

ul.comment-info li.comment-body img.trackback-rating {}

#comment_info{
font-size: medium;
font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}
#comment_info_f{
font-size: 12pt;
font-weight: bold;
}

/* anchor_popup */
.popup {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 15px 10px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo UI',Meiryo,Verdana,sans-serif;
    text-align:left;
}
.popup a:link {
    color: #ff8000;
    text-decoration: none;
}

.popup li {
    margin: 10px 0 0!important;
    padding: 0!important;
}
.popup .comment-res {
    display: none;
}

/********************************************* ▲ コメント ▲ */

/******************* ▼ カテゴリ・検索・月別ナビゲーション ▼ */
.various_outline { 
border-top:#F0F8FF 2px solid;      /* 外枠の色/太さ/実線 (上) */
margin-bottom:20px; 
} 
.various_title {
font-size:10pt;                       /* 文字サイズ(タイトル) */
color:#ffffff;                        /* 文字色    (タイトル) */
font-weight:bold;                     /* 太字      (タイトル) */
background-color:#3668c5;             /* 背景色    (タイトル) */
text-align:left;                      /* 左寄せ    (タイトル) */
border:#3668c5 1px solid;             /* 枠        (タイトル) */
padding:5px 20px; 
margin:0; 
}
.various_body { 
font-size:10pt;                           /* 文字サイズ(本体) */
color:#808080;                            /* 文字色    (本体) */
background-color:#FFFFFF;                 /* 背景色    (本体) */
border-top:#F0F8FF 2px solid;             /* 飾り線(上)(本体) */
} 
.various_text {
text-align:left;                          /* 左寄せ    (本体) */
margin:10px 20px;
}
.various_navi { 
text-align:center;                        /* 中央寄せ  (矢印) */
margin:0px;
} 

.category_article{
margin-top: 25px;
}

.info_article{
margin:10px 0;
}


/* ▼ topページナビ ▼ */
#top_pnav{
display:block;
margin:0 auto;
padding-top: 2px;
font-size:85%;
text-align:center
}
#top_pnav .current{
font-weight:bold;
margin:0 2px;
padding:3px 6px !important;
text-decration:none !important;
vertical-align:top;
cursor:default;
display:inline-block;
}
* + html #top_pnav .current{
display:inline;
}
#top_pnav a{
cursor:pointer;
display:inline-block;
font-weight:400;
margin:0 2px;
padding:3px 6px !important;
text-decoration:none !important;
vertical-align:top
}
/* ▲ topページナビ ▲ */

/* ▼ ページナビ ▼ */
#entry_page_navi {
    display: block;
    margin: 15px 20px;
    text-align: center;
}
.ently_body #entry_page_navi {
    margin: 15px 9px;
}

#entry_page_navi .prev {
    float: left;
    text-align: left;
}
#entry_page_navi li {
    display: block !important;
}
#entry_page_navi li {
    display: inline;
}
#entry_page_navi .next {
    float: right;
    text-align: left;
}
#entry_page_navi a {
    display: inline-block;
    font-size: 108%;
    padding: 8px;
    overflow: hidden;
}

#entry_page_navi .prev a {
    padding-left: 36px;
    width: 290px !important;
}
#entry_page_navi .next a {
    padding-right: 36px;
    width: 290px !important;
}

/* ▲ ページナビ ▲ */

/* ▼ 同カテゴリ記事表示 ▼ */
.related-articles {}

.related-articles h3 {
font-size: 23px;
    height: 70px;
    line-height: 60px;
    margin: 20px 0 10px;
    padding: 0 75px;
}

.related-articles ul li{
	padding: 0 15px 0 12px;
	margin: 0 0 3px 5px;
}

.related-articles ul li a {
	padding-left: 8px;
	    font-size: 14pt;
display:block;
}
/* ▲ 同カテゴリ記事表示 ▲ */

#twhb{}
#twhb .tw{margin-left:30px;float:left;}
#twhb .hb{margin-right:30px;float:right;}

/******************* ▲ カテゴリ・検索・月別ナビゲーション ▲ */

/*************************** ▼ プラグイン ▼ */
.sidetitle{
    font-size: 13pt;
    font-weight: bold;
    height: 27px;
    padding: 13px 0 10px 20px;
    text-align: left;
}

#left .sidetitle{
    left: -10px;
    position: relative;
}

.side_left{
    text-align: left !important;
}

.side{
    padding: 5px 0 10px;
    line-height: 1.3;
    text-align: left;
    font-size: 11pt;
}
.side_outer{
height:9px;
}


#left .side {
    padding-right: 10px;
}
#right .side{
    padding-left: 10px;
}

.side .sidebody a{
    padding-left: 11px;
    display: block;
    font-size: 10pt;
    padding: 1px 0px 0px 10px;  
    margin-left: 5px;
}

.archive a{
    background:url("http://blog.livedoor.jp/toua2chdqn/icon/arrow/sidebar_arrow.gif") no-repeat scroll -2px 4px transparent;
    padding-left: 11px;
    display: block;
}

/*************************** ▲ プラグイン ▲ */

/*************************** ▼ 左サイドバーリンク集 ▼ */
.link_title { 
font-size:11pt;                       /* 文字サイズ(タイトル) */
font-weight:bold;                     /* 太字      (タイトル) */
color:#000000;                        /* 文字色    (タイトル) */
background-image: url("http://blog.livedoor.jp/toua2chdqn/back_ground/sidebar_bk.png");
border-top:   #87CEEB 1px solid;                /* 個別枠(上) */
border-right: #87CEEB 1px solid;                /* 個別枠(右) */
border-bottom:#87CEEB 1px solid;                /* 個別枠(下) */
border-left:  #87CEEB 1px solid;                /* 個別枠(左) */
padding:2px 0px 0px 10px; 
} 
.link_body { 
font-size:10pt;                           /* 文字サイズ(本体) */
color:#000000;                            /* 文字色    (本体) */
background-color:#ffffff;                 /* 背景色    (本体) */
border-right: #87CEEB 1px solid;          /* 枠(右)    (本体) */
border-bottom:#87CEEB 1px solid;          /* 枠(下)    (本体) */
padding:5px 5px 5px 4px;  
margin-bottom:10px; /* 次のプラグインまでの間隔 */
line-height:1.3;
text-align: left;
}
/*************************** ▲ 左サイドバーリンク集 ▲ */

/*************************** ▼ 左サイドバーインフォ ▼ */
.side_info { 
text-align:left;
background-image: url("http://asianews2ch.livedoor.biz/images/info_bg.png");
    background-repeat: no-repeat;
height: 210px;
padding: 10px 20px 20px 10px;
    margin: 20px 10px 20px 10px;
    position: relative;
}

.side_info_contents {
}

.side_info_twitter {
    position: absolute;
    left: 50px;
    top: 65px;
}
table.flSBT td {
    background: url("http://asianews2ch.livedoor.biz/images/follow_f.png") no-repeat scroll left 0 transparent !important;
    padding: 0 0 0 7px !important;
    text-align: center;
    width: 124px;
}
table.flSBT td a{
    color: #121212 !important;
    display: block;
    font-size: 23px;
    padding: 14px 0;
}

.side_info_social {
    height: 60px;
    overflow: hidden;
    position: absolute;
    top: 170px;
}
.side_info_hateb
, .side_info_facebook
, .side_info_google {float:left;margin-right:20px;}
* + html .side_info_hateb {margin-right:20px;}
* + html .side_info_facebook {margin-right:20px;}

.side_info_hateb {width: 80px;}
.side_info_facebook {width: 70px;}
.side_info_google {width: 50px;margin-right:0;}
/*************************** ▲ 右サイドバーインフォ ▲ */

/*************************** ▼ 広告 ▼ */

.fl {  
    position: fixed;
    top: 0;
    width: 310px;
}
.fr {  
    position: fixed;
    top: 0;
    width: 172px;
    overflow: hidden;
}

.btl {
    position: absolute;
    _position: static;
    bottom: 0;
    width: 310px;
}
.btr {
    position: absolute;
    _position: static;
    bottom: 0;
    width: 172px;
}


.ad{margin:5px 0;}
.ad_topress{margin:0 0 5px;}
.ad_article{margin-top: 25px;overflow:hidden;}
.ad_article6-7{margin: 0px 0;overflow:hidden;}
.ad_article8-9{margin: 15px 0;overflow:hidden;}
.ad_left{
    float: left;
    margin-left: 40px;
    margin-right: 30px;
}
.ad_right{}
.side_ad,.side_rd{margin-bottom:10px;text-align:center;}
.ad_article-1{margin-top: 0px;}
/*************************** ▲ 広告 ▲ */

/*************************** ▼ 上部メニュー(プラグイン３) ▼ */
.plugin3_outline { 
border-top:   #87CEEB 1px solid;                /* 個別枠(上) */
border-right: #87CEEB 1px solid;                /* 個別枠(右) */
border-bottom:#87CEEB 1px solid;                /* 個別枠(下) */
border-left:  #87CEEB 1px solid;                /* 個別枠(左) */
margin-bottom:10px;
} 
.plugin3_title { 
font-size:13pt;                       /* 文字サイズ(タイトル) */
text-align: left;
font-weight:bold;                     /* 太字      (タイトル) */
color:#124092;                        /* 文字色    (タイトル) */
background-image: url("http://blog-imgs-46.fc2.com/t/o/u/toua2chdqn/wig_bk_side_plugin3.png");
border-bottom: #87CEEB 1px solid;            /* 枠        (タイトル) */
padding:5px 20px; 
} 
.plugin3_body { 
font-size:10pt;                           /* 文字サイズ(本体) */
color:#808080;                            /* 文字色    (本体) */
background-color:#ffffff;                 /* 背景色    (本体) */
padding:5px 20px; 
}
/* プラグイン3説明(上部) */
.p3u_description {
margin-top:5px;
margin-bottom:5px;
}
/* プラグイン3説明(下部) */
.p3d_description {
margin-top:5px;
margin-bottom:5px;
}
/*************************** ▲ 上部メニュー(プラグイン３) ▲ */


/********************************************* ▼ アーカイブプラグイン ▼ */
.archive_outline { 
border-top:   #87CEEB 1px solid;                /* 個別枠(上) */
border-right: #87CEEB 1px solid;                /* 個別枠(右) */
border-bottom:#87CEEB 1px solid;                /* 個別枠(下) */
border-left:  #87CEEB 1px solid;                /* 個別枠(左) */
margin-top:5px;
margin-bottom:10px; /* 次のプラグインまでの間隔 */
} 
.archive_title { 
font-size:10pt;                       /* 文字サイズ(タイトル) */
font-weight:bold;                     /* 太字      (タイトル) */
color:#124092;                        /* 文字色    (タイトル) */
text-align:left;
background-image: url("http://resize.blogsys.jp/6ee80bbc8892bca43f7ceaf52d45af4397521bbe/resize2/8x5/http://livedoor.blogimg.jp/toua2chdqn/imgs/d/7/d7d22d44.gif");
border-bottom:#87CEEB 1px solid;                /* 個別枠(下) */
padding:2px 0px 3px 10px; 
} 
.archive_body { 
font-size:11pt;                           /* 文字サイズ(本体) */
color:#000000;                            /* 文字色    (本体) */
background-color:#ffffff;                 /* 背景色    (本体) */
padding:5px 5px 5px 5px; 
line-height:1.2;
}
/********************************************* ▲ アーカイブプラグイン ▲ */

/********************************************* ▼ フッター ▼ */
#footer_outline {
position: relative;
z-index: 1;
}
#footer_body { 
z-index: 1;
padding:50px 20px 35px;
} 
#footer_contents { 
padding:0;
} 
#footer_radius_top {
height:18px;
}
#footer_radius_bottom {
height:18px;
}

#footer_contents table{ 
width:1180px;
}

#footer_contents .footer_parts{
text-align:center;
width:250px;
vertical-align:top;
}
#footer_contents #twitter_parts{
margin-top:10px;
}

#footer_contents .footer_info{
text-align:left;
width:400px;
border-right:0 none;
}
#footer_contents .footer_info div{
font-size:9pt;
margin:10px 0 0 10px;
}

/* フッター人気記事ランク */
#ninki_permanent_1 {
line-height:1.1;
margin:10px 0 0 10px;
}

#ninki_permanent_1 td{ 
padding: 1px 0px;
}

/********************************************* ▲ フッター ▲ */
/* fix */
.popularArticleWithImage .image{
    margin: 0;
}
.popularArticleWithImage img{
  padding: 0;
}
/* リツイートランキング */
#rtcm_bar{
   margin: 10px 0 0;
    padding: 5px 0 5px 5px;
}
#rtcm{
    overflow: hidden;
    width: 708px;
}

#tweet_rank li 
, #tweet_rank li img {
    width: 166px;
    height: 144px;
}
#tweet_rank li .hover{
    width: 162px;
}

#tweet_rank {
float:left;
    list-style-type: none;
    margin: 5px 0 3px 2px;
    overflow: hidden;
    padding: 0;
    width: 352px;
}
#tweet_rank ul {
	margin:0;
	padding:0;
}
#tweet_rank li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #ccc;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    overflow: hidden;
    padding: 1px;
    position: relative;
    z-index: 1;
    font-size:13px;
}
#tweet_rank li:hover {
    border: 2px solid #b85b5a;
}

#tweet_rank li .hover {
    background: url("http://asianews2ch.livedoor.biz/images/twbg.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    height: 29px;
    line-height: 16px;
    overflow: hidden;
    padding: 4px 2px;
    position: absolute;
   bottom: 1px;
z-index:99;
}

#tweet_rank .twcm {
    background: url("http://asianews2ch.livedoor.biz/images/twcm.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 43px;
    line-height: 12px;
    padding-top: 4px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 45px;
    z-index: 0;
}
/* コメントランキング */
#comment_rank li 
, #comment_rank li img {
    width: 166px;
    height: 144px;
}
#comment_rank li .hover{
    width: 162px;
}

#comment_rank {
float:left;
    list-style-type: none;
    margin: 5px 0 3px 0;
    overflow: hidden;
    padding: 0;
    width: 352px;
}
#comment_rank ul {
	margin:0;
	padding:0;
}
#comment_rank li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #ccc;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    overflow: hidden;
    padding: 1px;
    position: relative;
    z-index: 1;
    font-size:13px;
}
#comment_rank li:hover {
    border: 2px solid #b85b5a;
}
#comment_rank li .hover {
    background: url("http://asianews2ch.livedoor.biz/images/cmbg.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    height: 29px;
    line-height: 16px;
    overflow: hidden;
    padding: 4px 2px;
    position: absolute;
   bottom: 1px;
z-index:99;
}
#comment_rank .cmcm {
    background: url("http://asianews2ch.livedoor.biz/images/cmcm.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 43px;
    line-height: 12px;
    padding-top: 4px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 45px;
    z-index: 0;
}

/* 新着記事サムネイル画像表示 */
.img_recent br {
clear:left;
}
.img_recent img {
float:left;
border: 0;
margin-right:5px; /* 画像の右余白 */
margin-bottom:5px; /* 画像の下余白 */
height:70px;
width: 55px; /* 画像表示サイズ */
}
/* 新着記事サムネイル画像表示 */

/* 人気記事ランク */
#ninki_permanent {
line-height:1.1;
margin:0px 0 0 0;
}
#ninki_permanent a:link    {color:#1111cc; text-decoration:none;}      /* 通常 */
#ninki_permanent a:active  {color:#4169e1; text-decoration:none;}      /*実行中*/
#ninki_permanent a:visited {color:#1111cc; text-decoration:none;}      /*訪問済*/
#ninki_permanent a:hover   {color:#b8860b; text-decoration:none;} /*マウス*/

#ninki_permanent td{ 
border-bottom: 1px dotted #5D4E48;
border-bottom-width:2px;
padding: 3px 0px;
}
/* 人気記事ランク */


/* 逆アク */
#access_top {
line-height:1.1;
margin:10px 0 0 10px;
}
#access_top a:link    {color:#1111cc; text-decoration:none;}      /* 通常 */
#access_top a:active  {color:#4169e1; text-decoration:none;}      /*実行中*/
#access_top a:visited {color:#1111cc; text-decoration:none;}      /*訪問済*/
#access_top a:hover   {color:#b8860b; text-decoration:none;} /*マウス*/

#access_top td{ 
border-bottom: 1px dotted #5D4E48;
border-bottom-width:2px;
padding: 1px 0px;
}
/* 逆アク */

/* ▼スクロール▼ */
#side_navi {
    padding: 0;
    list-style: none outside none;
    left: auto;
    bottom: 10px;
    text-align: center;
    z-index: 2;
    position: fixed;
    margin-left: 1228px;
}
.side_social_scroll{
width:50px;
margin-bottom: 10px;
}
#side_navi li a {
outline: none;
    margin: 6px;
    overflow: hidden;
    padding: 0;
    width: 39px;
    height: 41px;
    display: block;
}
#side_navi li a:hover {
    text-decoration:none !important;
}
#side_navi a.side_plus{height: 44px;}
#side_navi a.side_plus2{height: 59px;}

#side_top {
    background: url("http://asianews2ch.livedoor.biz/icon/scroll/sc_up1.png") no-repeat scroll 0 0 transparent;
}
#side_top:hover{
}

#side_bottom {
    background: url("http://asianews2ch.livedoor.biz/icon/scroll/sc_end1.png") no-repeat scroll 0 0 transparent;
}
#side_bottom:hover{
}

#side_home {
    background: url("http://asianews2ch.livedoor.biz/icon/scroll/HOME.png") no-repeat scroll 0 0 transparent;
}
#side_home:hover{
}

#side_clist {
    background: url("http://asianews2ch.livedoor.biz/icon/scroll/comment1.png") no-repeat scroll 0 0 transparent;
}
#side_clist:hover{
}


#side_comment {
    background: url("http://asianews2ch.livedoor.biz/icon/scroll/coment.png") no-repeat scroll 0 0 transparent;
}
#side_comment:hover{
}


#side_osusume {
    background: url("http://asianews2ch.livedoor.biz/icon/scroll/osusume.png") no-repeat scroll 0 0 transparent;
}
#side_osusume:hover{
}
/* ▲スクロール▲ */

/* ▼ サイトマップ ▼ */
#sitemap {
margin-top:5px; /* 上の余白 */
text-align:left;
}

#sitemap ul.sitemap_list {
margin-left:30px; /* 各記事リストの左余白 */
}

.display_no {
display:none;
}

/* カテゴリ一覧へ戻る */
.pgtop {
text-align:right; /* 右寄せ */
}
/* ▲ サイトマップ ▲ */

/* プラグインの文字配置 */
.ta_left { text-align: left }
.ta_right { text-align: right }
.ta_center { text-align: center }

/* プラグイン内の入力欄幅設定 */
.plugin1_body input[type="text"],
.plugin2_body input[type="text"],
.plugin1_body textarea,
.plugin2_body textarea {
width: 90%;
}

.pnavi {
border: 1px solid #cccccc;
padding:5px;
font-size:13pt; 
}

.kizi_body {
display:none;
font-size: 0px;
}

/* スライドショー */
#slide_show_wrapper {
width: 728px;
height: 410px;
}


#mix {
    background: url("http://asianews2ch.livedoor.biz/images/mix.png") no-repeat scroll 0 0 transparent;
width: 728px;
height: 410px;
    position: absolute;
}

* + html #mix {
    background: url("http://asianews2ch.livedoor.biz/images/mix_modern.png") no-repeat scroll 0 0 transparent;
}
html>/**/body #mix {
    background: url("http://asianews2ch.livedoor.biz/images/mix_modern.png") no-repeat scroll 0 0 transparent\9;
}
html:not(:target) #mix { 
    background: url("http://asianews2ch.livedoor.biz/images/mix.png") no-repeat scroll 0 0 transparent;}  


#slide_main {
    transform:rotate(355.8deg);
    -ms-transform: rotate(355.8deg);
    -webkit-transform: rotate(355.8deg);
    -moz-transform: rotate(355.8deg);
    -o-transform:rotate(355.8deg);
    margin: 100px 0 0 260px;
    position: absolute;
}

#slide_show li 
, #slide_show li img {
    height: 291px;
    width: 406px;
}
#slide_show li .hover{
    width: 390px;
}

#slide_show {
    font-family: 'Hiragino Kaku Gothic Pro','Meiryo UI',Meiryo,Verdana,sans-serif !important;
    padding: 0;
    margin: 0;
    width: 430px;
    height: 280px;
    list-style-type: none;
    overflow: hidden;
}
#slide_show li {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    position: absolute;
    z-index: 1;
}

#slide_show li .hover {
    background: url("http://asianews2ch.livedoor.biz/images/slbg.png") repeat scroll 0 0 transparent;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 22px;
font-weight:bold;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    padding: 11px 8px;
    position: absolute;
}

#slide_show li .slide_tweets
, #slide_show li .slide_comments {
    color: #555552;
    font-size: 38px;
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 158px;
    left: -170px;
   padding-top: 5px;
}
* + html #slide_show li .slide_tweets
, * + html #slide_show li .slide_comments {
    left: -172px;
}
html>/**/body #slide_show li .slide_tweets
, html>/**/body #slide_show li .slide_comments {
    left: -172px\9;
}
html:not(:target) #slide_show li .slide_tweets
, html:not(:target) #slide_show li .slide_comments { 
    left: -170px;
}

#slide_show li .slide_tweets {
    top:50px;
    background-color: #dfdfda;
}

#slide_show li .slide_comments {
    top:161px;
    background-color: #c4c4bd;
}

div.popularArticlesWithImage.A li div.image.noimage {
  background-image: url(" http://asianews2ch.jp/images/no_image_side.png");
  height: 180px;
  width: 270px;
}
div.popularArticlesWithImage.A div.title {
    bottom: 3px;
}