﻿.reg-btn {
    margin-left: 10px;
}
#login-submit {
    margin-bottom: 13px;
}

.left-column {
    position: relative;
    display: inline-block;
    width:720px;
}
.sidebar {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 255px;
}
#right_banner_wrapper {
    position: relative;
    display: block;
    text-align: right;
}
#right_banner_wrapper_1 {
    margin-left: 15px;
}
#fast-list-container {
    text-align:left;
    margin-left: -459px;
}

/*.content .sidebar #rontar_adplace_4222 {
    margin: 0 0 0 15px !important;
}*/

.content-wrapper 
{
    display: block;
    position: relative;
    min-height: 800px;
    background: #fff;
    margin:0;
}

.round-corner-wrapper
{
    border:1px solid #dddddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
}

/*******Верхнее меню*******/

.top-menu-panel-bg {
    background:url('../images/top_bg_menu.png') 0 0 repeat-x;
    width:100%;
    height:40px;
    position:relative;
    display:block;
}
.top-menu-panel {
    position: absolute;
    top: -91px;
    width:100%;
    z-index:999;
    zoom:1;
}

.right-top-panel {
    position:relative;
    display:inline-block;
    vertical-align:top;
}


/******** Шапка **********/

.header { 
    padding: 0;
    width:1000px;
    text-align: right;
    border-radius: 5px 5px 0 0;
    margin-top:50px;
} 
.logo {top: 48px; z-index:2;}
.logo span { left: 12px;top: 25px;}
a.login-btn { background:url('../images/outerlogin/user-icon.png') 10px center no-repeat; position: relative;display: inline-block;background-color: rgba(0,108,162,0.85);color: white;padding: 0px 16px 0px 25px;line-height:25px;margin: 8px 0 0 13px;vertical-align: top; font-family: Arial; min-width: 114px; text-align: left; float:right;}
    a.login-btn.enter {padding: 0px 13px 0px 13px; background:rgba(0,108,162,0.85); min-width:0; line-height:25px;}
a.login-btn-hover { background:#006ca2 url('../images/outerlogin/user-icon.png') 10px center no-repeat;}
a.add-video, span.fast-list {background:rgba(230,230,230, 0.85); vertical-align: top; margin-top: 8px; position: relative; padding:5px 8px; display: inline-block;float:left;}
    span.fast-list {margin: 8px 0px 0 13px;}

/*********** Навигация по поддоменам ************/

ul.first-level-menu { float: left;position: relative;display: inline-block;font-size: 14px;line-height: 39px;}
ul.first-level-menu li { position: relative;display: inline-block;background-color: transparent;padding: 0 14px;zoom: 1;margin: 0;float: left;}
ul.first-level-menu li.selected { background-color: #006ca2; }
ul.first-level-menu li a { display: block;color: white;}
    ul.first-level-menu li a span.myvi-icon {
        background:url('../images/myvi-icon.png') left center no-repeat;
        display:inline-block;
        position:relative;
        width:18px;
        height:19px;
        vertical-align: top;
        padding-right: 10px;
        margin-top: 9px;
    }
    ul.first-level-menu li.selected a span.myvi-icon {background-position:0 -19px;}
    ul.first-level-menu li a span.kino-icon,
    ul.first-level-menu li a span.anime-icon,
    ul.first-level-menu li a span.tv-icon
     {
        background:url('../images/kino-icon.png') 0 0 no-repeat;
        display:inline-block;
        position:relative;
        width:22px;
        height:20px;
        vertical-align: top;
        padding-right: 10px;
        margin-top: 9px;
    }
    ul.first-level-menu li a span.anime-icon {
        background:url('../images/anime-icon.png') 0 0 no-repeat;
        width:24px;
    }
    ul.first-level-menu li a span.tv-icon {
        background:url('../images/tv-icon.png') 0 0 no-repeat;
        width:18px;
    }

/*********** Меню пользователя ************/

ul.user-menu { position: absolute;display: none;right:0px; top:28px; z-index:2; background: #006ca2; padding:4px 0 0 6px; width: 149px; font-family: Arial; border-radius:0 0 5px 5px;}
ul.user-menu li { text-align: left; line-height:2; padding-left:6px;}
    ul.user-menu li a {color:#fff; display: block;}
    ul.user-menu li.exit {border-top:1px solid #73b0cf; margin: 2px 10px 0 0;}

/******** Социальные кнопки **********/

.social-button
{
    background-position: 2px 50% !important;
    background-repeat: no-repeat !important;
    display: block !important;
    height: 36px !important;
    margin: -55px 0 0 !important;
    padding: 0 !important;
    position: fixed !important;
    text-indent: -9000px;    
    width: 31px !important;
    z-index: 100001 !important;
    -moz-border-radius: 10px 0 0 10px;    
    right: 0;    
    top: 45% !important;
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translateZ(0);
}
#soc-fb
{
    top:230px !important;
    background-image: url("/content/images/social/fb-right-btn.png");
}
#soc-tw
{
    top:266px !important;
    background-image: url("/content/images/social/tw-right-btn.png")
}
#soc-vk
{
    top:302px !important;
    background-image: url("/content/images/social/vk-right-btn.png")
}
#soc-mm
{
    top:338px !important;
    background-image: url("/content/images/social/mail-right-btn.png")
}
#soc-ok
{
    top:374px !important;
    background-image: url("/content/images/social/ok-right-btn.png")
}
#soc-fb:hover,
#soc-tw:hover,
#soc-vk:hover,
#soc-mm:hover,
#soc-ok:hover
{width: 33px !important;}



/*********** Навигация по категориям ************/

.header .navigation
{
    padding: 0 9px 0 0;
    line-height: 54px;
    border-radius: 5px 5px 0 0;
    height: 54px;
    position: relative;
    display: block;
    background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa 2%, #e3e4e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#fafafa), color-stop(100%,#e3e4e4));
    background: -webkit-linear-gradient(top, #fafafa 2%,#e3e4e4 100%);
    background: -o-linear-gradient(top, #fafafa 2%,#e3e4e4 100%);
    background: -ms-linear-gradient(top, #fafafa 2%,#e3e4e4 100%);
    background: linear-gradient(to bottom, #fafafa 2%,#e3e4e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e3e4e4',GradientType=0 );
}
    .header .navigation a { padding: 0 11px; }
    .header .navigation a:hover
    {
        color: #016C9E;
        background: #fff;
    }
    .header .navigation a.search-button, .header .navigation a.search-button:hover
    {
        background-color: #60b9d9;
        line-height: 25px;
        margin: 14px 0 0 7px;
        padding: 0px 16px;
        font-size: 12px;
        color: white;
        display:inline-block;
    }
    .header .navigation li
    {
        font-size: 14px;
        color: #006ca2;
    }
        .header .navigation li a.first-elem {
            border-radius: 5px 0 0 0;
        }
        .header .navigation li.more-menu {
            margin-right:20px;
        }
    .header .navigation li.search-block,
    .header .navigation li.more-menu {
        float: right;
        position: relative;
        display: block;
    }
    
    .header .navigation .main-popup
    {
        top:-14px;
        right:75px;
        width: 210px;
        padding: 3px;
    }
    .header .navigation .main-popup-content
    {
        padding: 0;
    }
    .header .navigation-extend-menu
    {
        padding: 7px 0;
    }
    .header .navigation-extend-menu a
    {
        line-height: 17px;
        color: #006ca2;
        padding: 7px 16px;
    }
    .header .navigation-extend-menu a:hover
    {
        background-color: #dbebf1;
    }
    .header .navigation .more {
        left: 135px;
        top: 18px;
        margin: 0;
        z-index: 999999;
        text-align: left;
    }

#header_key_words_input
{
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);    
    height: 25px;
    width: 215px;
    margin: 0 0 0 0;
    padding-left:5px;
}

/*********** Быстрый список ************/

#fast-list-videos
{
    width:600px;
    height:220px;
}
#fast-list-videos .list
{
    margin-left: -25px;
}

#fast-list-videos .video-item
{
    width: 128px;
}
#fast-list-videos .v-item .thumb-wrapper
{
    padding:0;
}
#fast-list-videos .v-item .thumb-wrapper,
#fast-list-videos .v-item .thumb,
#fast-list-videos .thumb img
{
    width: 120px;
    height: 80px;
}

#fast-list-videos .videos span.play-button
{
    top: 18px;
    left: 32px;
}
#fast-list-videos .video-item .title,
#fast-list-videos .video-item .info
{
    font-size:11px;
}
#fast-list-videos .pager
{
    padding: 5px 15px 0px 0px;
    position: absolute;
    bottom:8px;
    right:0px;
}

/*************** Видео-элемент ****************/

.video-item
{
    position:relative;
    margin-left:25px;
}

.video-item .title,
.video-item .description,
.video-item .info
{
    line-height:135%;
}

.video-item .description
{
    margin-top:3px;
    color:Black;
    font-size: 11px;
}
.video-item .info
{
    font-size:11px;
    color:#7f7f7f;
}
.video-item .info .author
{
    color:#7a7a7a;
    margin-right:5px;
}         
.video-item .info .comments-count-icon img
{
    margin:0px 0px -3px 10px;
}
.video-item .info .views-count-val,
.video-item .info  .comments-count-val
{
    color: Black;
}

.video-item a:hover .play {
    background: url("/content/images/shared/bg-main-preview.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block !important;
    height: 44px;
    position: absolute;    
    width: 57px;
}

.video-item .preview-info
{
    position:absolute;
    margin-top:0px;
}

/*************** Популярное ****************/

#popular-video-list
{
    padding: 5px 10px 10px;
    margin:10px 0 0 14px;
}
.popular-video-item
{

}
.popular-video-item .info
{
    font-size: 11px;
    margin-left: 5px;
}
.popular-video-item .info .author
{
    padding-top: 3px;
}
.popular-video-item .videos .v-item
{
    width:90px
}
.popular-video-item .videos .v-item .thumb-wrapper
{
    padding:0px;
}


.shell-gray {
    cursor: pointer;
    overflow: hidden;
}

.shell-gray:hover {
    background: none repeat scroll 0 0 #fff;
    padding: 10px 15px;
}

.shell-gray .info .category
{
    color: #009FCC;
    font-size: 11px !important;
    margin: 3px 0 0 15px !important;
}

.shell-gray .info a.category:hover {
    text-decoration: underline;
}

.shell-gray .info .description {
    color: #606060;
    display: block;
    font-weight: normal;
    line-height: 130%;
    padding: 6px 0 1px 0px !important;
}

/******************* Попап предупржедения о эротическом контенте***********************/

.adult-warning-container
{
    background-color:White;
    width:750px;    
    padding:0px;
    position:absolute;
}

.adult-warning-content
{
    background-color:White;
    overflow:hidden;
    padding: 27px 34px;
    display:inline-block;
    vertical-align:top;
    width:505px;
}

.adult-warning-content div.block
{
    padding-top:10px;
    padding-bottom:5px;
}

.adult-warning-content a
{
    font-weight:bold;
}

.adult-warning-content h1
{
    margin-bottom:17px;
}

.adult-warning-content .btn
{
    margin-top:42px;
}

.adult-warning-content #older-that-18
{
    background-color:#60b9d9;
    color:White;
    margin-right:33px;
    border-radius:5px;
    padding:5px;
    text-decoration:none;
    padding-left:10px;
    padding-right:10px;
}

.adult-warning-container img
{
    display:inline-block;
    vertical-align:top;
    margin-left:34px;
    margin-top:44px;
    margin-right:26px;
}

#contest-link
{
    background:url('../images/contest/contest-lnk.png') 0 0 no-repeat;
    border-radius: 5px 5px 5px 5px;
    height: 22px;
    line-height: 20px;
    margin-top: 4px;
    position: relative;
}
    #contest-link:hover
    {
        background-position: 0px -23px;
    }


 .content {
    padding:5px 10px;
}
 .after-content {
    padding: 0 10px;
}
 .footer-wrapper {
    padding:20px 10px 10px;
}

 /*Кнопка Наверх*/

#up-btn {
    display: none;
    background: url('../images/up-btn-icon.png') 15px center no-repeat rgba(100,100,100,.75);
    padding: 8px 25px 7px 45px;
    border-radius: 5px;
    margin-left: 15px;
    position: fixed;
    bottom: 22px;
    left: 0;
    border: 1px solid #757575;
    z-index: 100;
    font-size: 13px;
    text-decoration: none;
    color:#fff;
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translateZ(0);
}
#up-btn:hover {
    background: url('../images/up-btn-icon.png') 15px center no-repeat rgba(100,100,100,.95);
}

/*HTML5 Player*/

#html5-play
{
    background: url('/content/images/shared/bg-main-preview.png') 50% 50% no-repeat;
}


#support-service {
    display: block;
    position: fixed;
    height: 153px;
    width: 28px;
    right: 0;
    top: 360px;
    background: url('/content/images/shared/support-service.png') 0 0 no-repeat;
    z-index:100001 !important;
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translateZ(0);
}

    #support-service:hover {
        width:31px;
        background-position: -28px 0;
    }


