﻿#carousel-block
{
	position:relative;
}


#carousel-block .pager .selected 
{
	color:Black !important;
}

#carousel-block .ajax-loader-mask
{
	position:absolute;
	height:540px;
	width:720px;
	z-index:15;	
	background: url("../images/shared/ajax-loader.gif") no-repeat 50% 50%;
	display:none;
}

.myvi-carousel 
{ 
    margin:10px 0px 5px 0px;
	zoom: 1; 
	width:700px;
	height:380px;
	padding:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);	
    position:relative;
}

.myvi-carousel .bg
{
    background-color:black;
    height:380px;
}

* html .myvi-carousel
{
	background-image: none;
    margin-top:10px;
}

.myvi-carousel .mc_imgs{
	position: absolute;
	top:10px;
	left:10px;
	width:700px;
	height:380px;
	overflow:hidden;
}

.myvi-carousel .mc_imgs a{
	color:transparent;
	display:none;
}

.myvi-carousel .mc_imgs img{
	top:0px;
	left:0px;
	border:none 0;
	width:700px;
	height: 380px;
	position:absolute;
}

.myvi-carousel a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

.myvi-carousel a.mc_next, 
.myvi-carousel a.mc_prev 
{
	position:absolute;
	display:none;
	top:50%;
	margin-top:-37px;
	z-index:6;
	height: 75px;
	width: 60px;
	background-image: url(../images/home/carousel/arrows.png);	
}

* html .myvi-carousel a.mc_next, 
* html .myvi-carousel a.mc_prev
{
	background-image: url(../images/home/carousel/arrows.gif);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.myvi-carousel a.mc_next{
	background-position: 100% 0; 
	right:10px;
}

.myvi-carousel a.mc_prev {
	left:10px;
	background-position: 0 0; 
}

* html .myvi-carousel a.mc_next,
* html .myvi-carousel a.mc_prev,
.myvi-carousel:hover a.mc_next, 
.myvi-carousel:hover a.mc_prev 
{
    display:block
}

.myvi-carousel .mc-title{
	z-index: 5;
	padding:10px 5px 10px 5px;	
    text-align: left;
    color:White;
    
    background-color: transparent !important;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#b2000000,endColorstr=#b2000000) !important;
    zoom: 1;    
    background-color: rgba(0, 0, 0, 0.3) !important;    	
}

.myvi-carousel .mc-title-bg
{
    position: absolute;
	bottom:10px;
	left: 10px;
	margin-right:10px;
	z-index: 0;
	width:700px;
}

.myvi-carousel .mc-title div
{
	padding-top:5px;
	font-size: 12px;
}

.myvi-carousel .mc-title a
{
    color:White;
}

.myvi-carousel .mc-title a:hover
{
    text-decoration:underline !important;
}

.myvi-carousel span.play-button
{
	top:170px;
	left: 322px;
	display:none;
}

#carousel-preview-list
{
    margin-left:-2px;
    overflow:hidden;
}

#carousel-preview-list .previews
{
    margin-left:6px;
    margin-bottom:7px;
    position:relative;
    overflow:hidden;
    padding-left:6px;
    height:83px;
    margin-top:5px;
}

#carousel-preview-list .previews a
{    
	text-indent:0;
	display:block;
	float:left;
	margin-left:-6px;
	padding-left:6px;
	
	padding-top:6px;    
	width:101px;
    height:76px;

}

#carousel-preview-list .previews a.selected
{
    margin-left:-6px; 

    padding-top:6px;    
    background-image: url("../images/home/carousel/carousel-preview-bg.gif");    
}

#carousel-preview-list .previews a img
{
    width:95px;
    height:70px;
}


#carousel-preview-list .carousel-paging
{
	margin-left:10px;
}
 
#carousel-preview-list .auto-play-video
{
    text-align:right;
    margin-top:7px;
}

#carousel-preview-list .auto-play-video span
{
    margin-left:10px;
    margin-right:20px;
}





#carousel-preview-list .previews a.mc_next, 
#carousel-preview-list .previews a.mc_prev 
{
	position:absolute;
	display:none;
	top:38px;
    margin-top: -16px;
	z-index:6;
    height: 32px;
	width: 20px;
	background-image: url(../images/home/carousel/arrows_small.png);
}

#carousel-preview-list .previews a.mc_next
{
	margin-right:9px;
}

*+html #carousel-preview-list .previews a.mc_next
{
	margin-right:-4px;
}

#carousel-preview-list .previews a.mc_prev 
{
	margin-left: -4px;
}

* html #carousel-preview-list .previews a.mc_next, 
* html #carousel-preview-list .previews a.mc_prev
{
	background-image: url(../images/home/carousel/arrows_small.gif);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

#carousel-preview-list .previews a.mc_next{
	background-position: 100% 0; 
	right:0;
}

#carousel-preview-list .previews a.mc_prev {
	left:10px;
	background-position: 0 0; 
}

* html #carousel-preview-list .previews a.mc_next,
* html #carousel-preview-list .previews a.mc_prev,
#carousel-preview-list .previews a.mc_next, 
#carousel-preview-list .previews a.mc_prev 
{
    display:none;
}

.myvi-carousel .mc_imgs:hover span.play-button
{
	display:block;
}