﻿.like-buttons {padding: 10px 0 20px 14px; height: 76px;}





#popular-video
{
    margin-bottom:10px;
}

.media-block
{
    margin-top:10px;
}


#random-video .v-item .thumb-wrapper,
#subscribe-video .v-item .thumb-wrapper,
#popular-video .v-item .thumb-wrapper
{
	padding:0px !important;
}

/*---------- Видео в подписках -------------*/
#subscribe-video
{
	overflow:hidden;	
}

#subscribe-video .ajax-loader-mask
{
	position:absolute;
	height:230px;
	width:720px;
	z-index:15;	
	background: url("../images/shared/ajax-loader.gif") no-repeat 50% 50%;
	display:none;
}

#subscribe-video .numeric-pager
{
	padding:0px;
	margin-right:10px;
}

#subscribe-video .pager .selected
{
	color:Black;
}

#subscribe-video .list
{
    margin-left:-20px;  
    height:210px;
}

#subscribe-video .video-item
{
	width:128px;
}
#subscribe-video .v-item .thumb-wrapper
{
    padding:0;
}
#subscribe-video .v-item .thumb-wrapper, 
#subscribe-video .v-item .thumb, 
#subscribe-video .thumb img
{
	width:120px;
	height:80px;
}

#subscribe-video .videos span.play-button
{
    top:18px;
    left:32px;	
}

#subscribe-video .videos span.play-button a:hover
{
	text-decoration:none;
}

/*---------- Видео в подписках -------------*/



/*---------- Популярное -------------*/
#popular-video
{
	overflow:hidden;
}

#popular-video .list
{
    margin-left:-24px;  
    margin-bottom:25px;
}

#popular-video .category_title
{
    
}

#popular-video .video-item
{
	width:222px;
	float:left !important;
	margin-left:25px;
}
#popular-video .v-item .thumb-wrapper
{
    padding:0;
}
#popular-video .v-item .thumb-wrapper, 
#popular-video .v-item .thumb, 
#popular-video .thumb img
{
	width:214px;
	height:120px;
}

#popular-video .videos span.play-button
{
    top:40px;
    left:80px;	
}

#popular-video .videos span.play-button a:hover
{
	text-decoration:none;	
}

/*---------- Популярное -------------*/

/*---------- Случайный ролик -------------*/
#random-video
{
    margin:10px 0 20px 14px;
}

#random-video .video-item
{
    margin-left:0px !important;
}

#random-video .video-item
{
	width:240px;
}
#random-video .v-item .thumb-wrapper
{
    padding:0;
}
#random-video .v-item .thumb-wrapper, 
#random-video .v-item .thumb, 
#random-video .thumb img
{
	width:232px;
	height:152px;
}

#random-video .videos span.play-button
{
    top:57px;
    left:90px;
}

/*---------- Случайный ролик -------------*/

#subscribe-video .video-item .title
{
    font-size:11px;
}

#subscribe-video .video-item {
    margin-left: 20px;
}
#subscribe-video .v-item .thumb-wrapper
{
    padding:0;
}
#carousel-preview-list .pager 
{
    padding-top:0px;
}

#subscribe-video
{
    /*margin-top:20px*/
}

/*************** Популярное ****************/

.popular-video-item .media-block
{
    margin-top: 0px;
}

#popular-serials 
{
    margin:10px 0 0 15px;
}
