﻿*
{
	padding: 0;
	margin: 0;
	border: 0;
    outline: 0;
}
html, body
{
	width: 100%;
	height: 100%;
}
body
{
    font-family: verdana,arial,eneva,helvetica,sans-serif;
    color: #606060;
    font-size: 12px;
}
h1
{
    letter-spacing: -1px;
    font-weight:normal;
    font-size: 22px;
    color:#000000;
}
h2
{
    letter-spacing: -1px;
    font-weight:normal;
    font-size: 18px;
    color:#000000;
    line-height:120%;
}
h3
{
    font-weight:normal;
    font-size: 16px;
    color:#000000;
}
h4
{
    font-weight:normal;
    font-size: 14px;
    color:#000000;
}
a
{
    color: #016C9E;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
ol, ul
{
    list-style: none;
}
wbr { display: inline-block; }

/*---------Общие---------*/
    .nodisplay { display: none; }
    .inline { display: inline; }
    .rel { position: relative; }
    .auto { margin: 0 auto }
    .none { float: none !important }
    .clear { clear: both }
    .left { float: left }
    .right { float: right }
    .right-i { float: right !important }
    .w100 { width: 100px }
    .w150 { width: 150px }
    .w240 { width: 240px }
    .w719 { width: 719px }
    .w730 { width: 730px }
    .m0 { margin:0 }
    .mt-5 { margin-top: -5px !important }
    .mt5 { margin-top: 5px !important }
    .mt10 { margin-top: 10px !important }
    .mt40 { margin-top: 40px !important }
    .mb2 { margin-bottom: 2px !important }
    .mb5 { margin-bottom: 5px !important }
    .mb10 { margin-bottom: 10px !important }
    .mb12 { margin-bottom: 12px !important }
    .mb20 { margin-bottom: 20px !important }
    .mb25 { margin-bottom: 25px !important }
    .ml250 { margin-left: 250px !important }
    .pt0 { padding-top: 0px !important }
    .pt2 { padding-top: 2px !important }
    .pt5 { padding-top: 5px !important } 
    .pt7 { padding-top: 7px !important }  
    .pb2 { padding-bottom: 2px !important }
    .pb10 { padding-bottom: 10px !important }  
    .hidden{display:none;}
    .bold{font-weight:bold !important;}    
/*-----------------------*/

/*-----------Кнопки---------*/

.grey-button
{
    color: #606060;
    background-color: #e6e6e6;
    padding: 4px 10px 6px 10px;
    text-decoration: none;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
a:hover.grey-button
{
    text-decoration: none;
    background-color: #62B9DD;
    color:White;
}
/*-----------------------*/

/*---------popup---------*/
.main-popup
{
    position:absolute;
    top: -7px;
    background-color:#60b9d9;
    padding:5px;
    z-index:10;
}
.main-popup-content
{
    background-color:#fff;
    padding:10px;
}
/*-----------------------*/
a.design
{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
}

.main-wrapper, .main 
{
    min-height: 100%;
	height: auto !important;
	height: 100%;
	/*border-top: 1px solid #FFF;
	margin-top: -1px;*/
}

.header 
{
    margin: 0 auto;
    position: relative;
    width: 980px;
    padding-top: 17px;
}
    .logo
    {
        position: absolute;
        top:0px;
        left:0px;
    }
        .logo span
        {
            position: absolute;
            top:18px;
            left:1px;
	        width: 110px;
	        height: 50px;
	        background: url("images/logo.png") 0px 0px no-repeat;
	        cursor: pointer;
        }
    .top
    {
        margin-left: 140px;
    }
        .header .top-panel
        {
            height: 38px;
            padding-right: 25px;
        }
            .header .top-panel dt
            {
                float: left;
                position: relative;
            }
            .header .top-panel dt .text
            {
                background-color: #e6e6e6;
                border: none;
                font-size: 18px;
                height: 25px;
                width: 220px;
                line-height: 25px;
                float: left;
                margin-right: 10px;
                padding: 0 3px;
            }
            .header .top-panel dt .add
            {
                float: left;
                line-height: 25px;
                text-decoration: none;
            }
            .header .top-panel dt .grey-button
            {
                float: left;
                margin-right: 15px;
                height:25px;
                line-height: 24px;
                padding: 0px 10px;
            }
            .header .top-panel dd
            {
                float: right;
                position:relative;
            }
            .header .top-panel ul li
            {
                float:left;
            }
            .header .top-panel li.anime-novelties
            {
                margin-right:20px;
                width:140px;
            }
            a.what-s-news-button
            {
                background-color: rgba(254, 255, 60, 0.75);
                border: 1px solid #AAAAAA;
                margin-top: -5px;
                padding: 4px;
            }
            span#novelties-count-val
            {
                font-weight:bold;
            }
            .header .top-panel li.fast-list div.animate-background
            {
                background-color:Yellow;
                position:absolute;
                width:84px;
                height:16px;
                padding:5px;
                z-index: -1;
                margin-top: -5px;
            }
            .header .top-panel li.fast-list
            {
                margin-right:20px;
                width:auto;
            }
             .header .top-panel li.fast-list .fast-list-title
            {
                padding-bottom:5px;
            }
            .header .top-panel li.fast-list a.fast-list-link
            {
                float:right;
            }
            .fast-list
            {
            	position:relative;
            }            
            .fast-list span.videos-count
            {
                background: url("images/add_video_to_fast_list.gif") no-repeat scroll 0 0 transparent;
                padding-left:20px;
                padding-bottom: 1px;
            }
            #fast-list-container
            {
                position:absolute;
                background-color:White;
                border: 1px solid #dddddd;
                margin-left: -310px;
                margin-top: -24px;
                padding: 14px 0px 0px 14px;
                z-index:10000;
            }
            #fast-list-container .close-fast-list-btn 
            {
                background: url("images/btn_close.gif") no-repeat scroll 0 0 transparent;
                width:16px;
                height:16px;
                position:absolute;
                top:0px;
                right:0px;
                cursor:pointer;
            }
            .header .top-panel li.login-enter
            {
                position:relative;
                margin-left:15px;
            }
            .header .bottom-panel
            {
                /*background: url("images/subdomains-menu-bgnd.gif") repeat scroll 0 0 transparent;*/
                background-color: #60b9d9; 
                line-height: 30px;
                padding: 0px 1ex;
                height: 30px;
                font-size: 14px;
              /*  position: absolute; */
                width: 824px; 
                right: 0;
            }
            .header .bottom-panel a
            {
                color: #fff;
                float: left;
                padding: 0 12px;
                position: relative; 
            }
            .header .bottom-panel a:hover
            {
                background-color:#54afd1;
                text-decoration:none;
            }        
            .header .bottom-panel a.selected
            {
                background-color: #016C9E;
                text-decoration:none;
                background: url("images/selected-menu-item.png") 0px 0px repeat;
            }
            .header .bottom-panel dt
            {
                float: left;
            }
            .header .bottom-panel dd
            {
                float: right;
            }
            .header .nav-1-tail
            {
                background:transparent url(images/nav_tail_1.png) no-repeat 0 0;
                position: absolute;
                width: 16px;
                height: 7px;
                left: 50%;
                top: 100%;
                margin-left: -8px;
            }
            .header .navigation
            {
                /*background-color: #fff;*/
                line-height: 30px;
                height: 30px;
                padding: 0 9px;
                zoom: 1;
            }
            .header .navigation a
            {
                display: block;
                padding: 0 9px;
                white-space:nowrap;
            }
            .header .navigation a:hover
            {
                background-color:#e6e6e6;
                text-decoration: none;
            }
            .header .navigation li
            {
                float: left;
                position: relative;
            }
            .header .navigation a.selected
            {
                color: #fff;
                background-color:#cccccc;
            }
            .header .navigation a div.nav-2-tail
            {
                background:transparent url(images/nav_tail_2.png) no-repeat 0 0;
                position: absolute;
                width: 16px;
                height: 7px;
                left: 50%;
                top: 100%;
                margin-left: -8px;
                display:none;
            }
            .header .navigation a.selected div.nav-2-tail
            {
                display:block;
            }
            .header .navigation-extend
            {
                float:right !important;
            }
            .header .navigation-extend-link
            {
                float:right;
                padding-right:25px !important;
                background:transparent url(images/row_down.png) no-repeat 100% 50%;
                text-decoration:none !important;
            }
            .header .navigation-extend-link-alt
            {
                padding-right:25px !important;
                margin-right:4px;
                background:transparent url(images/row_down.png) no-repeat 100% 50%;
                text-decoration:none !important;
                text-align:right;
                color:#606060;
                display:block;
            }
            .header a.navigation-extend-link-alt:hover
            {
                background-color:#fff !important;
            }
            .header .navigation-extend-menu
            {
                z-index:8;
            }
            .header .navigation-extend-menu a
            {
                display: block;
                color:#606060;   
                padding-top:10px;
            }
            .header .navigation .more
            {
                display: none; 
                /*float:right;*/
                margin-right:-9px;
                width:150px; 
                z-index: 9000;
                position:absolute;
                right:0px;
            }
.content-wrapper
{
    /*background-color: #F5F5F5;*/
    padding:0 0 10px 0;
    margin-top: 10px;
}
.content
{
    margin: 0 auto;
    width: 980px;
    position:relative;
}
.footer-wrapper
{
    padding: 20px 0 10px 0;
    font-size: 11px;
    height: 50px;
}
.footer
{
    margin: 0 auto;
    width: 980px;
}
    .footer .left
    {
        float:left;
        width:100px;
    }
    .footer .right
    {
        float:right;
        width:190px;
        text-align:right;
        line-height:31px;
        color:#606060;
    }
    .footer .center
    {
        margin: 0 200px 0 120px;
        line-height:31px;
    }
    .footer .center a
    {
        float:left;
        margin-right:3ex;
    }
    
/************************** АВТОРИЗАЦИЯ И РЕГИСТРАЦИЯ ********************************/    
    
/*-------- Старый авторизациный попап---------*/
#top-panel-right-block
{
    /*z-index:2;*/
    position:relative;
}
.login-form-wrapper
{
    background-color:#60b9d9;
    padding:5px;
}
#user-login-form-container
{
    width: 220px;
}
.login-form-content
{
    background-color:#fff;
    padding:10px;
}
#user-login-popup
{
    /*z-index:9;*/
    left: -15px;
    /*right: -57px;*/
}

#user-login-popup .close-button
{
    background:transparent url(images/close.png) no-repeat center;
    float:right;
    width:12px;
    height:12px;
    cursor: pointer;
}
#authorization-form .login-header
{
   /* word-spacing:15px; */
    word-spacing:11px;
    padding-bottom:10px;
}
#user-login-popup .user-login-popup-container
{
    width:220px;
}
#authorization-form .login,
#authorization-form .password
{
  border: 1px solid #E6E6E6;
  width: 100%;
}
#authorization-form #login-submit
{
    background:transparent url(images/enter.png) no-repeat center;
    width:20px;
    height:20px;
    background-color: #60b9d9;
    border:none;
    cursor:pointer;
    margin-left:5px;
}
#authorization-form .login-container
{
    padding-bottom:10px;
}
#authorization-form .submit-container
{
    float:right;
    padding-top:1px;
    margin-right: -2px;
}
#authorization-form .password-container
{
    /*margin-right:30px;*/
    position:relative;
    width:170px;
    float:left;
}
/*-----------------------*/

/*********************** Общие *******************************************/

.popup-wrapper
{
    position:fixed;
    z-index: 100006;
}
.white-box
{
    position: relative;
    padding:20px;
    color: #565656;
    background-color: #FFFFFF;
}
.close-form-button
{
    position:absolute;
    top: 5px;
    right: 5px;
    background: url("images/authorization/close.png") 0 0 no-repeat;
    width:12px;
    height:12px;
    z-index:1;
}
.white-box-title
{
    font-size: 17px;
    margin-bottom: 10px;
}
.border-bottom
{
    width:100%;
    height:1px;
    border-bottom: 1px solid #959595;
    margin-bottom: 20px;
}
.white-box-field-title
{
    font-size: 14px;
    margin-bottom: 10px;
}
input.text-box
{
    font-size: 18px;
    width:100%;
    height:30px;
    line-height:30px;
    border: 1px solid #565656;
    text-indent: 4px; 
}
.white-box-error-message
{
    background-color: #FFEBEC;
    color:Red;
    font-size: 10px;
    margin-top: 10px;
    padding: 5px;
}
.submit-button
{
    height:30px;
    line-height:30px;
    color:#FFFFFF;
    font-size:14px;
    padding-left:10px;
    display:block;
}
.submit-button:hover
{
    text-decoration:none;
}

/*********************Форма автоирзации через OLOGIN***********************/

#ologin-form {
    position:relative;
    background:transparent;
    width:660px;
    height:385px;

    z-index:400;
    display:block;
}
    #ologin-form a {
        color:red;
    }
.close-ologin-form-btn {
    position:absolute;
    top:8px;
    right:11px;
    background:url('images/ologin/close-login-popup.png') right top no-repeat;
    width:17px;
    height:17px;
    cursor:pointer;
    z-index:500
}
    .close-ologin-from-btn:hover {
        background-position:0 -17px;
    }

#ologin-form .left-side-login,
#ologin-form .right-side-login {
    background:#fff;
    position:relative;
    display:inline-block;
    margin-left:1px;
    height:385px;
    vertical-align:top;
}
    #ologin-form .left-side-login {
        width:218px;
        padding:30px 27px 0;
        height: 355px;
    }
    #ologin-form .right-side-login {
        width:381px;
    }
#ologin-form .left-side-login p {
    font-family:Verdana;
    font-size:18px;
    color:#6b6b6b;
    border-bottom:1px solid #b5b5b5;
    padding-bottom:10px;
}
#ologin-form .left-side-login .services-list {
    padding: 35px 22px 0;
}
    #ologin-form .left-side-login .services-list a.service-item {
        position:relative;
        display:inline-block;
        width:40px;
        height:40px;
        margin: 0 15px 15px 0;
    }
        #ologin-form .left-side-login .services-list a.service-item.vk {
            background:url('images/ologin/vk.png') 0 0 no-repeat;
        }
            #ologin-form .left-side-login .services-list a.service-item.vk:hover {
                background-position:0 -40px;
            }
        #ologin-form .left-side-login .services-list a.service-item.fb {
            background:url('images/ologin/fb.png') 0 0 no-repeat;
        }
            #ologin-form .left-side-login .services-list a.service-item.fb:hover {
                background-position:0 -40px;
            }
        #ologin-form .left-side-login .services-list a.service-item.ok {
            background:url('images/ologin/ok.png') 0 0 no-repeat;
        }
            #ologin-form .left-side-login .services-list a.service-item.ok:hover {
                background-position:0 -40px;
            }
        #ologin-form .left-side-login .services-list a.service-item.tw {
            background:url('images/ologin/tw.png') 0 0 no-repeat;
        }
            #ologin-form .left-side-login .services-list a.service-item.tw:hover {
                background-position:0 -40px;
            }
        #ologin-form .left-side-login .services-list a.service-item.ml {
            background:url('images/ologin/ml.png') 0 0 no-repeat;
        }
            #ologin-form .left-side-login .services-list a.service-item.ml:hover {
                background-position:0 -40px;
            }
        #ologin-form .left-side-login .services-list a.service-item.ggl {
            background:url('images/ologin/ggl.png') 0 0 no-repeat;
        }
            #ologin-form .left-side-login .services-list a.service-item.ggl:hover {
                background-position:0 -40px;
            }
        #ologin-form .left-side-login .services-list a.service-item.ya {
            background:url('images/ologin/ya.png') 0 0 no-repeat;
        }
            #ologin-form .left-side-login .services-list a.service-item.ya:hover {
                background-position:0 -40px;
            }
#ologin-form .left-side-login #status {
    display:none;
    color:#db2626;
    background: #e8e8e8 url('images/ologin/user_is_blocked_icon.png') 10px center no-repeat;
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
    font-family:Tahoma;
}
    #ologin-form .left-side-login #status.banned_user {
        padding-left: 25px;
        width: 200px;
        text-align:center;
    }
    #ologin-form .left-side-login #status.auth_error {
         background: #e8e8e8 url('images/ologin/authorization_error_icon.png') 10px center no-repeat;
         width: 210px;
         padding:0 5px 0 10px;
         text-align:right;
    }

#logged-in-box
{
    position:relative;
    background:transparent;
    display:block;
}
    #logged-in-box .logged-in-message
    {
        background:#fff;
        position:relative;
        display:inline-block;
        vertical-align:top;
        padding:30px 27px 0;
    }
        #logged-in-box .logged-in-message p
        {
            font-family: Verdana;
            font-size: 18px;
            color: #6b6b6b;
            padding-bottom: 30px;
        }

#logged-in-box
{
    position:relative;
    background:transparent;
    display:block;
}
    #logged-in-box .logged-in-message
    {
        background:#fff;
        position:relative;
        display:inline-block;
        vertical-align:top;
        padding:30px 27px 0;
    }
        #logged-in-box .logged-in-message p
        {
            font-family: Verdana;
            font-size: 18px;
            color: #6b6b6b;
            padding-bottom: 30px;
        }

#logged-in-box
{
    position:relative;
    background:transparent;
    display:block;
}
    #logged-in-box .logged-in-message
    {
        background:#fff;
        position:relative;
        display:inline-block;
        vertical-align:top;
        padding:30px 27px 0;
    }
        #logged-in-box .logged-in-message p
        {
            font-family: Verdana;
            font-size: 18px;
            color: #6b6b6b;
            padding-bottom: 30px;
        }

/*************************************************************************/

/*********************** Новая форма авторизации *************************/

#login-form
{
    width: 539px;
}
#services-login
{
    width:204px;
    height:326px;
}
.serv-box
{
    width: 68px;
    height: 54px;
    text-align:center;
}
.serv-lnk
{
    display:block;
    padding-top: 38px;
}
#vkontakte
{
    background: url("images/authorization/vkontakte.png") 50% 0px no-repeat;
}
#mailru
{
    background: url("images/authorization/mailru.png") 50% 0px no-repeat;
}
#facebook
{
    background: url("images/authorization/facebook.png") 50% 0px no-repeat;
}
#yandex
{
    background: url("images/authorization/yandex.png") 50% 0px no-repeat;
}
#twitter
{
    background: url("images/authorization/twitter.png") 50% 0px no-repeat;
}
#google
{
    background: url("images/authorization/google.png") 50% 0px no-repeat;
}
#myvi-login
{
    width:250px;
    height:326px;
    margin-left:5px;
}
#forgot-password-link
{
    width:100%;
    text-align:right;
    font-size:11px;
    font-family: Georgia;
    font-style: italic;
    margin-bottom: 10px;
}
#remember-me-checkbox
{
    margin: 0 10px 20px 0;
}
#remember-me-literal
{
    margin-top:-1px;
}
#login-submit
{
    background: url("images/authorization/submit_250.png") 0 50% no-repeat;
}

.after-content
{
    height: 80px;
}

/********************************************************************/

/****************** Форма связи пользователей **********************/

#user-bind-form
{
    height: 678px;
}
#bind-form-header.white-box
{
    padding: 10px 20px;
    margin-bottom: 5px;
    font-size: 17px;
}
#bind-form-header-literal
{
    margin-left:10px;
    line-height: 28px;
}
#bind-form-header-literal .user-name
{
    color: #0699c0;
}
#user-bind-form #myvi-login
{
    width: 270px;
    height: 678px;
}
#user-bind-form #login-submit
{
    background: url("images/authorization/submit_270.png") 0 50% no-repeat;
}
.bind-form-literal-big
{
    font-size: 14px;
    margin-bottom: 20px;
}
.bind-form-literal-small
{
    width: 258px;
    margin-left: 10px;
}
#myvi-reg
{
    width: 540px;
    height: 678px;
}
#myvi-reg .white-box-error-message
{
    margin: 0px 0px 0px 10px;
    padding: 1px 1px 1px 5px;
    width: 248px;
}
#myvi-reg #myvi-reg-error
{
    margin: 10px 0px 0px 0px;
    padding: 5px;
    width: 530px;
}
#reg-birthdate
{
    display:block;
}
#reg-birthdate #day,
#reg-birthdate #year
{
    width: 70px;
}
#reg-birthdate #month
{
    width:100px;
}
.date-selector
{
    border: solid 1px #565656;
    height:23px;
    margin-right:15px;
    padding:1px 1px 1px 3px;
}
#myvi-reg .text-box
{
    width: 270px;
    font-size: 17px;
}
#lic-agreement-checkbox
{
    margin: 0 10px 20px 0;
}
#lic-agreement-literal
{
    border: 1px solid #FFFFFF;
    margin-top: -2px;
}
#reg-submit
{
    background: url("images/authorization/submit_long.png") 0 50% no-repeat;
}

/*******************************************************************/

/****************** Форма регистрации пользователей *****************/

#registration-form #myvi-reg
{
    width: 540px;
    height: 580px;
}
#registration-form #reg-login
{
    margin-bottom:5px;
}
.reg-form-literal-small {
  margin-left: 10px;
  width: 258px;
}
#registration-form #free-user-names-box
{
    font-size: 11px;
    margin-bottom: 20px;
    visibility:hidden;
}
#registration-form #free-user-names-box div#free-user-names
{
    display:inline;
}
#registration-form #free-user-names-box a.free-user
{
    border-bottom:1px dashed #016c9e;
    text-decoration:none;
}
#registration-form #free-user-names-box a.free-user:hover
{
    text-decoration:none;
}
#captcha
{
    width:130px !important;
}
#captcha-image
{
    margin-left:10px;
}

/********************************************************************/



/******************************** Подтверждение e-mail ***********************************/

#confirm-email-form
{
    width: 270px;
    height: 410px;
}
#reg-code-submit
{
    background: url("images/authorization/submit_270.png") 0 50% no-repeat;
}

/******************************** Забыли пароль ******************************************/

#forgot-password-form
{
    width:250px;
    height:404px;
}
#forgot-password-success,
#change-password-success
{
    background-color: #99FF99;
    color:Green;
    font-size: 10px;
    margin-top: 10px;
    padding: 5px;    
}
#change-password-form
{
    width:250px;
    height:310px;
}
#forgot-password-submit,
#change-password-submit
{
    background: url("images/authorization/submit_250.png") 0 50% no-repeat;
}

/*--------Лайт-форма авторизации-------*/    /*    УСТАРЕЛО!!!!   */

#user-login-form .close-button
{
    background:transparent url(images/close.png) no-repeat center;
    width:12px;
    height:12px;
    cursor: pointer;
    padding-top:6px;
}
#user-login-form .login-header
{
    width:220px;
    padding-bottom:10px;
}
#user-login-form .user-login-form-container
{
    width:220px;
    background-color:#fff;
    padding:10px;
    margin: 0px auto;
}
#user-login-form .login
{
    width:220px;
    background-color:#e6e6e6;
    border: 1px solid #e6e6e6;
    height:20px;
    line-height:20px;
    text-indent:4px;
}
#user-login-form .password
{
    width:190px;
    background-color:#e6e6e6;
    border: 1px solid #e6e6e6;
    height:20px;
    line-height:20px;
    text-indent:4px;
}
#user-login-form #login-submit
{
    background:transparent url(images/enter.png) no-repeat center;
    width:20px;
    height:20px;
    background-color: #60b9d9;
    border:none;
    cursor:pointer;
    margin-left:8px;
}
#user-login-form .login-container
{
    padding-bottom:10px;
}
#user-login-form .submit-container
{

}
#user-login-form .password-container
{
   /* margin-right:30px;
      overflow:hidden;
      position:relative; */
}
.login-purpose
{
    background-color: #60b9d9;
}
.login-purpose div
{
    width:470px;
    font-size:14px;
    color:White;
    padding:10px;
    margin: 0px auto;
}
#error-message-box
{
    color:Red;
    font-weight:bold;
}
.red-border
{
    border: 1px solid red !important;
}

/*----------------------------*/

/*--Панель пользователя--*/
.user-tools
{
    margin-right:20px;
    position:relative;
}
#user-tools-popup
{
    z-index:10;
    right: 45px;
    top:-7px !important;
}
#user-tools-popup .user-name-alt
{
    display:block;
    text-align:right;
}
#user-tools-popup .user-tools-menu a
{
    display:block;
    padding-top:10px;
    white-space:nowrap;
    
}
/*-----------------------*/
/*--------Контролы---------*/
.mv-text
{
    border:none;
    background-color:#e6e6e6;
    height:20px;
    line-height:20px;
    text-indent:4px;
}
/*-----------------------*/
/*--------Уголки---------*/
.round-corner
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.round-corner-int
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/*-----------------------*/
/*-------Тени---------*/
.shadow
{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);	
}
/*-------Тени---------*/
/*-------Баннеры---------*/
    .mv-bnr .ctrl
{
    position: absolute;
    top: -14px;
    right: 0;
}
.mv-bnr .ctrl-b
{
    position: absolute;
    bottom: -10px;
    right: 0;
}
.mv-bnr .ctrl a, .mv-bnr .ctrl-b a 
{
    font-size: 10px;
    line-height:12px;
    color: #60b9d9;
}
/*-----------------------*/
/*--------Коробки--------*/
.mv-portlet
{
    padding:5px;
    /*background-color:#e6e6e6;*/
    background-color: rgba(228, 228, 228, 0.5) !important;
}
.mv-portlet td
{
    vertical-align:top;
}
.mv-portlet-header,
.mv-portlet-header .header
{
    font-size:16px !important;
}
.mv-portlet-header
{
    color:#606060;
    padding: 4px 0 7px 3px;    
}
.mv-portlet-footer
{
    color:#606060;
    padding: 10px 0 4px 3px;
    text-align:right;
}
.mv-portlet-header span
{
    float: right;
    margin-right: 1ex;
    font-weight: normal;
}
.mv-portlet-content
{
    padding: 1ex 0;
    /*background-color:#fff;*/
    background-color: rgba(255, 255, 255, 0.6) !important;
}
.mv-portlet-content-pad
{
    padding: 1ex;
    /*background-color:#fff;*/
    background-color: rgba(255, 255, 255, 0.6) !important;
}
.mv-portlet-content-b-pad
{
    padding: 1ex;
    /*background-color:#fff;*/
    background-color: rgba(228, 228, 228, 0.5) !important;
    margin-top:5px;
}
.mv-portlet .mv-pic-film, .mv-portlet .mv-pic-equal, .mv-portlet .mv-pic-cloud
{
    background:transparent url(images/header_pic.png) no-repeat;
    padding-left:23px;
}
.mv-portlet .mv-pic-film
{
    background-position: 0 3px;
}
.mv-portlet .mv-pic-equal
{
    background-position: 0 63px;
} 
.mv-portlet .mv-pic-cloud
{
    background-position: 2px -25px;
}
.mv-portlet .more-content
{
    text-align:right;
    padding:2px 2px 0 1ex;
}
.mv-portlet .more-content a
{
    color:#00bfdf;
}
.no-data
{
    padding:10px;
    margin:0px;
}
/*-----------------------*/
/*-------Тамбнейлы-------*/
.wide
{
    width: 193px !important;
    height: 109px !important;
}

.v-item
{
    width: 100px; 
    float:left;
}
.v-item .thumb-wrapper
{
    margin:0 auto;
    
    width:90px;
    height:67px;
    padding:4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.v-item .thumb-wrapper.selected
{
    background-color:#60b9d9;
}
.v-item .thumb
{
    width:90px;
    height:67px;
    position:relative;
   /* *position:inherit; */
}
.v-item .thumb img
{
    width: 90px;
    height: 67px;
}
.v-item .thumb-wide
{
    width:193px;
    height:109px;
    position:relative;
}
.v-item .thumb-wide img
{
    width: 193px;
    height: 109px;
}

/****************** PreviewInfo *************************/

/*.preview-info span
.v-item .dur span
{
    /*-webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    background-color:#60b9d9;
    padding: 0px 3px;
    *padding: 1px 3px;
    font-size:10px;
}*/
.preview-info, .v-item .dur
{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    background-color:#60b9d9;
    padding: 0px 3px;
    *padding: 1px 3px;
    font-size:10px;
    
    position:absolute;
    bottom: 0px;
    right: 0px; 
    color:#fff;
    text-align:right;
    clear:both;
}

/*---------------------------------------------*/

/************* PreviewActions ******************/ 

.videos span.play-button    /* В стилевике конечного поддомена указать TOP и LEFT для этого контейнера*/
{
    width:56px;
    height:44px;
    position: absolute; 
    background: url("images/bg-main-preview.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;  
}
.videos span.play-button a
{
    display:block;
    width:56px;
    height:44px;
}
#fast-list-btn     
{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:12px;
    font-weight:bold;
    background-color:#60b9d9;
}
#fast-list-btn a   
{
    color:White !important;
    text-decoration: none;
    padding: 0px 6px;
    *padding: 1px 6px;
}
#fast-list-btn a.remove-button 
{
    padding: 0px 9px 0px 8px;
    *padding: 1px 9px 1px 8px; 
}
.added-to-fast-list-message
{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:10px;
    font-weight:normal;
    color: White;
    padding: 1px 4px 2px 4px;
    background-color: rgba(96, 185, 217, 0.7);
}
#restore-in-fast-list-link
{
    font-weight:normal;
}
/*---------------------------------------------*/

.v-item .order
{
    margin-top:-17px;
    color:#fff;
    text-align:left;
    clear:both;
}
.v-item .order span
{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    background-color:#60b9d9;
    padding: 1px 3px;
    font-size:10px;
}
.v-item .desc
{
    padding-left:5px;
    line-height:1.1;
}
/*-----------------------*/

/*----------------------------------------------------*/
/*----------------Плеер-----------------------------*/
.video-element
{
    width:710px;
    background-color:#e6e6e6;
    padding:10px;
}
#video-container
{
    width: 980px;
    margin: 0 auto;
}
#video-container .v-title, .v-title
{
    padding-bottom:3px;
    font-size:18px;
    color: #000;
    margin-right:110px;
}
#video-container .v-title span, .v-title span
{
    font-size:18px;
}
#video-container .v-title-long, .v-title-long
{
    font-size:125%;
    line-height:1.3;
    padding:7px 0;
    text-indent:1em;
}
.size4x3 #video-container .v-title
{
    width: 540px;
}
.big-link
{
    font-size:14px !important;
}

#player
{
    position: absolute;
    z-index: 100;
}

#player-container
{
    width: 710px;
    height: 430px;
    position:relative;
}
.p-wide #player-container
{
    width: 960px;
    height: 530px;
}
.p-wide .video-element
{
    width: 960px;
}
.size4x3  #player-container
{
    width:573px;
    height:430px;
    margin-left:63px;
}
#video-main
{
    width: 980px;
    margin: 0 auto;
    padding-top: 12px;
}
#video-panel
{
    /*margin:0 250px;*/
}
.disable-banners #video-panel
{
    margin-left:0;
}
#video-panel .video-desc
{
    line-height:1.5;
}
#video-sidebar-left
{
    float:left;
    width:240px;
}
#video-sidebar
{
    float:right;
    width: 240px;
    margin-top:-530px;
}
.p-wide #sidebar
{
    float: right;
    margin-top: 0px;
    position: relative;
}
.player-area-ctrl
{
    height:20px;
    float:right;
    width:230px;
    padding-top:5px;
}
.player-area-ctrl a
{
    float:right;
    margin-left: 2ex;
}
.player-area-ctrl a.text
{
    padding-top: 4px;
    color: #00bfdf;
    text-decoration:none;
}
.player-area-ctrl a.text:hover
{
    color: #00bfdf;
}
#resize-rows
{
    width:40px;
    height:20px;
    background-image:url(images/player/all_btn.png);
    background-repeat:no-repeat;
}
#resize-rows
{
    background-position: -54px 6px;
    margin-left:0px !important;
}
#resize-rows:hover
{
    background-position: 12px 6px;
}
.p-wide #resize-rows
{
    background-position: -54px -15px;
}
.p-wide #resize-rows:hover
{
    background-position: 12px -15px;
}
.cinema-off,.cinema-on
{
    /*float:right;*/
    height:20px;
    background-image:url(images/player/all_btn.png);
    background-repeat:no-repeat;
    padding:0 0 0 0px;
    line-height:20px;
    height:20px;
    vertical-align:middle;
    text-decoration:none !important;
    cursor:pointer;
    z-index: 100003;
    position:relative;
}
.cinema-off span
{
    border-bottom: 1px dashed #aad7e7;
    color: #aad7e7;
}
.cinema-off
{
    background-position: -72px -42px;
    width:50px
}
.cinema-off:hover
{
    background-position: -5px -42px;
}
.cinema-off:hover span
{
    border-color: #60b9d9;
    color: #60b9d9;
}
.cinema-on
{
    background-position: -65px -64px;
    background-color: White;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    height:25px;
    margin-top:-3px;
    left:1px;
}
.cinema-on:hover
{
    background-position: 2px -64px;
    background-color: White;
}
.cinema-on div
{
    width:58px;
}
.cinema-on span
{
    border-bottom: 1px dashed White;
    color: White;
}

.first-letter:first-letter
{
    font-size:13px;
    font-weight:bold;
}


/*---------------- Vk авторизация --------------------*/

.vk
{
    background: url("images/vkontakte.gif") center center no-repeat;
    border: medium none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/*---------------- Vk авторизация --------------------*/


/*********************** Список видео (для всех поддоменов) **************************/

.previews a.next_page, 
.previews a.prev_page 
{
	position:absolute;
    height: 40px;
	width: 24px;
	background-image: url(images/videoList/arrows_small.png);
}
* html .previews a.next_page, 
* html .previews a.prev_page
{
	background-image: url(images/videoList/arrows_small.gif);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.previews a.next_page {
	background-position: 100% 0; 
}
.previews a.prev_page {
	background-position: 0 0; 
}
.video-list-error    
{
    text-align:center;
}

/*------- Пэйджинг старый общий -----------*/

.pager
{
    text-align:center;
    padding:10px 0px;
}
.pager a
{
    padding:0px 5px !important;
}
.pager .selected
{
    color:Black;
    font-size:18px !important;
}
/*------- Пэйджинг старый общий -----------*/

/*------- Цифровой пэйджинг -----------*/

.numeric-pager
{
    text-align:center;
    padding:10px 0px;
}
.numeric-pager a,
.numeric-pager span
{
    padding:0px 5px;
}
.numeric-pager .selected
{
    padding:0;
    color:Black;
    font-size:18px !important;
}
.numeric-pager .disabled-link
{
    color:Gray;
}
/*------- Цифровой пэйджинг -----------*/

/*------- Графический пэйджинг -----------*/

.graphic-pager
{
    margin: 0 auto;
    padding:10px;
    display: table;
    opacity: 0.2;
}
.graphic-pager a,
.graphic-pager span.selected
{
    background-color: #009FCC;
    margin:0px 3px;
    width:10px;
}
.graphic-pager a
{
    height: 10px;
    margin-top:5px;
    opacity: 0.6 !important;
}   
.graphic-pager .selected
{
    height:15px;
    opacity:1 !important;
}

/*------- Графический пэйджинг -----------*/
