﻿.main-wrapper 
{
    /*background: url("images/background/patternkino.jpg") 0px 0px repeat;*/
}
.main 
{
    /*background: #000 url("images/background/kinohead.png") center 0 no-repeat;*/
}
.header-wrapper
{
    /*height: 176px !important;*/
}
.logo
{
    /*top: 82px;*/
}
.top
{
    /*margin-top: 82px;
    *margin-top: 98px;*/
}
.opacity 
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 11;
}
.opacity_0
{
    background-color: rgba(255, 255, 255, 1) !important;
}
.opacity_1
{
    background-color: rgba(255, 255, 255, 1) !important;
}
.opacity_2
{
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.opacity_3
{
    background-color: rgba(228, 228, 228, 0.5) !important;
}

.no-background 
{
    background: none;
}
