
.flipping-card .flipping-card-img {
  height: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 67%;
  width: 100%;
}
.flipping-card .flipping-card-img img {
  bottom: 0;
  position: absolute;
}
.flipping-card .flipping-card-img-mask {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: top 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -moz-transition: top 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -ms-transition: top 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: top 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}
.flipping-card .flipping-card-content {
  background: rgba(0, 0, 0, 0.25);
  bottom: 0;
  left: 0;
  max-height: 100%;
  min-height: 25%;
  overflow: hidden;
  position: absolute;
  right: 0;
  -webkit-transition: min-height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -moz-transition: min-height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -ms-transition: min-height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: min-height 0.4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  /* overflow: auto; */

  /* display: block; */

}
.flipping-card .flipping-card-content-title {
  padding: 1em 5em 1em 1em;
  position: relative;
}
.flipping-card .flipping-card-content-title a {
  color: #fff;
}
.flipping-card .flipping-card-content-info {
  opacity: 1;
  position: absolute;
  right: 1em;
  bottom: 0;
  height: 100%;
}
.flipping-card .flipping-card-content-info div {
  display: table;
  height: 100%;
}
.flipping-card .flipping-card-content-info div:before {
  content: '';
  display: block;
  border-left: 1px solid #fff;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  height: 80%;
  position: absolute;
  left: -40%;
  top: 10%;
}
.flipping-card .flipping-card-content-info div i {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1;
  display: table-cell;
  vertical-align: middle;
}
.flipping-card .flipping-card-content-close {
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
}
.flipping-card .flipping-card-content-close i {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1;
}
.flipping-card .flipping-card-content-text {
  padding: 0 4em 0 1em;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  position: relative;
  -webkit-transition: max-height 0s cubic-bezier(.2,.3,.25,.9) 0.4s, opacity 0.4s cubic-bezier(.2,.3,.25,.9) 0.4s;
  -moz-transition: max-height 0s cubic-bezier(.2,.3,.25,.9) 0.4s, opacity 0.4s cubic-bezier(.2,.3,.25,.9) 0.4s;
  -ms-transition: max-height 0s cubic-bezier(.2,.3,.25,.9) 0.4s, opacity 0.4s cubic-bezier(.2,.3,.25,.9) 0.4s;
  -o-transition: max-height 0s cubic-bezier(.2,.3,.25,.9) 0.4s, opacity 0.4s cubic-bezier(.2,.3,.25,.9) 0.4s;
}
.card-flipped .flipping-card-img-mask {
  top: 0;
}
.card-flipped .flipping-card-content {
  min-height: 100%;
}
.card-flipped .flipping-card-content-text {
  max-height: 500px;
  opacity: 1;
}
.card-flipped .flipping-card-content-info {
  opacity: 0;
}
.card-flipped .flipping-card-content-close {
  opacity: 1;
}