body {
    color :#333;
}

.widgetContainer {
    margin:0;
    padding:15px;
    font:14px Helvetica, arial, freesans, clean, sans-serif;
    color:#656565;
    background:#eee;
    cursor:pointer;
}

.widgetContainer h2,
.widgetContainer p {
    margin:0 auto;
    font-weight:normal;
    line-height:1.3em;
    border:0;
    color:#666;
}

.widgetContainer h2 {
    margin-top:15px;
    color:#0696d7;
}

.widgetContainer p {
    margin-bottom:20px;
    clear:left;
}

iframe {
    border:0;
    display:inline-block;
}

.widgetIframe {
    margin:0;
    padding:0;
    overflow:hidden;
    cursor:pointer;
}

.widgetIframe img {
    margin:0 10px 0;
    float:left;
}

#widget-adsk-logo {
    width:137px;
    margin:0 0 10px;
}

#widget-drop-area {
    text-align:left;
    width:100%;
    height:100%;
    background:#fff;
    border:1px dashed #aaa;
    border-radius:3px;
    margin:0 auto;
    overflow:hidden;
    position:absolute;
    color:#666;
    padding:8px 16px;
    box-sizing:border-box;
}

#widget-drop-area.hide-dashes {
    border-color:#fff;
}

#widget-drop-area.dragging {
    border-color:#046d92;
}

#widget-drop-area .drop-zone {
    width:100%;
    height:100%;
    background:#fff;
}

#widget-drop-area .centered {
    display:inline-block;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}

/* Icon */
#widget-drop-area .drop-image {
    width:26px;
    height:26px;
    float:left;
    display:block;
    margin:0 8px 0 0;
    background:url('../../images/a360/widget-upload.png') no-repeat center top;
    background-size:100% auto;
}
#widget-drop-area:hover #background_13_ {
    background-position:center bottom;
}
@media screen and (min-height:105px) {
    #widget-drop-area .drop-image {
        width:40px;
        height:40px;
        margin:0 auto 6px;
        float:none;
    }
}
@media screen and (min-height:105px) and (min-width:194px) {
    #widget-drop-area .drop-image {
        float:left;
        margin:0 8px 0 0;
    }
}
@media screen and (min-height:105px) and (min-width:254px) {
    #widget-drop-area .drop-image {
        width:55px;
        height:55px;
    }
}

/* Text */
#widget-drop-area .text {
    font-size:11px;
    line-height:1.2em;
    display:block;
    padding-left:34px;
    position:relative;
    top:7px;
    max-width:190px;
}
@media screen and (min-height:105px) {
    #widget-drop-area .text {
        top:0;
        padding-left:0;
    }
}
@media screen and (min-height:105px) and (min-width:194px) {
    #widget-drop-area .text {
        position:relative;
        top:8px;
    }
}
@media screen and (min-height:105px) and (min-width:254px) {
    #widget-drop-area .text {
        font-size:14px;
        top:11px;
    }
}




.pick-files-container {
    font:14px Helvetica, arial, freesans, clean, sans-serif;
    color:#656565;
}

.pick-files-container #widget-files {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
    cursor:pointer;
    font-size:145px;
    overflow:hidden;
    filter:alpha(opacity=0);
    opacity:0;
    outline:none;
    background:white;
    display:block;
}

.pick-files-container .bigFont {
    font-size:14px;
}

.files-formats-container {
    text-align:center;
    margin:5px 0 10px 0;
}

.browser-not-supported {
    display:none;
}

.btn-file {
    position:relative;
    overflow:hidden;
    display:inline-block;
    padding:6px 20px;
    margin-bottom:0;
    font-size:14px;
    border-radius:3px;
    background:#0696d7;
    border:1px solid #0696d7;
    color:#FFF;    
    text-decoration:none;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.1);
    cursor:pointer;
    margin-top:3px;
}

.btn-file.smallContainer {
    margin-top:5px;
}

.iframeContainer {
    position:relative;
    overflow:hidden;
}

.iframeContainer iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.footer .container {
    padding:15px 10px 40px;
}