*{   box-sizing: border-box; }
body {
    background-color: #fff;  color: #333; font-size: 1em; line-height: 1.5;
    font-family: "Gill Sans","Gill Sans MT","Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif; padding:0; margin:0;
}
span,a{ display: inline-block; }
img{ vertical-align: middle; }

tb{ display: table; width: 100%; }
trow{ display: table-row; }
cell{ display: table-cell; vertical-align: middle; }


.cta{ 
	text-decoration: none; padding: 0; font-size: 20px; font-weight: 500; text-shadow: 0 0 3px #000; font-family: 'Catamaran', sans-serif;
	color: #fff!important; background: url(images7/cta_back.png) center center repeat-x #ba0417; border: 2px solid #ba0417; border-radius: 3px;
}
.cta div{ width: 100%; height: 100%; padding: 8px 12px; border: 1px solid rgba(255,255,255,0.25); }
.cta:hover{ background: #fff; color: #ba0417!important; }


.container {  width: 1070px; text-align: left; }
/*.header {  margin-left: -15px;   margin-right: -15px; }*/
.header {  padding: 12px; }
.header a{ margin-right: 12px; }
.header #wb{ float: right; font-size: 15px;  }
.header #wb font{ font-size: 15px; font-weight: bold; text-decoration: underline; color: #FC0000; }
.header #wb span{ vertical-align: middle; width: 190px; }
.header #wb img{ vertical-align: middle; margin: 8px 16px; }

.menu { clear: both; background: #5A92B5;  border-bottom: 1px solid #fff;   border-top: 1px solid #fff; }
.menu a { border-right: 1px solid #fff; color: #ffffff; padding: 24px 16px !important; text-decoration: none; text-transform: uppercase; text-align:center; font-size: 15.9px;  }
.menu a:last-child{ border-right: none; }
.menu a.in{ background: #4C7B99; }

.revelation{ font-size: 24px; font-weight: bold; border-bottom: 18px solid #980608; padding: 14px 0; margin:0; color: #5e5d5d;  text-transform: uppercase;  }
.revelation font{ color: #f00; }

.maintext{ width: 796px; text-align:justify; vertical-align: top; padding-right: 24px; }
.maintext a{ text-decoration: none; color: #428bca; }
.maintext .red{ color: #f00; }
.maintext h4{ font-size: 18px; font-weight: bold; line-height: 1.1; padding:0; margin: 12px 0; }

.news img{ width: 250px; float: left; padding: 16px 16px 16px 0; }
.news .nin{ width: calc( 100% - 250px ); width: -webkit-calc( 100% - 250px ); }
.news h2{ padding:0; margin: 16px 0; text-align: center; font-size: 12px; }

.toptitle{ margin: 12px 0; }
.toptitle span{ vertical-align: baseline; }
.toptitle .red{ color: #f00; }
.toptitle div{ font-family: Georgia,serif; font-size: 12px; color: #428bca; }

#tendances{ background: #fff;text-align: center; font-size: 11px; font-weight: bold; }
#tendances h4{ font-size: 12px; padding: 4px; background: #336699; color: #fff; margin: 0 4px; }
#tendances trow:last-child cell{ padding: 12px; }
green{ color: #063; }
red{ color: #f00; }


.newsteps{  background-color: #dcddde;  border: medium dashed #636161; font-size: 22px;  margin: 25px 0;  padding: 20px 15px;  width: 772px; text-align: justify; }

#comments h1{ font-size: 18px; border-bottom: 8px solid #B3070A; font-weight: bold; margin:0; padding: 0 0 8px 0; margin-bottom: 8px; }
/*#comments h1 div{ padding: 0 0 12px 0; border-bottom: 4px solid #ff0000; }*/

#comments .media{ margin: 16px 0; padding-bottom: 8px; border-bottom: 1px dotted #000; }
#comments .media h4{ font-weight: bold; font-size: 18px; margin: 0 0 4px 0; padding: 0; }
#comments .media span{ width: 686px; }
#comments .media span, #comments .media a, #comments .media img{ vertical-align: top; }
#comments .media a{ margin-right: 10px; }
#comments .media span div{ color: #00aeef; font-size: 13px;  margin: 4px 0; text-decoration: underline; }

#addComm{ line-height: 1.5; }
#addComm input,#addComm textarea,#addComm .send{
  width: 100%; font-size: 14px; height: 34px; line-height: 1.42857; padding: 6px 12px; margin: 8px 0; vertical-align: middle;
  color: #555;  background-color: #fff;   border: 1px solid #ccc;   border-radius: 4px;   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
#addComm textarea{ height: 6em; }
#addComm .send{ width: auto; font-size: 16px; font-weight: bold; color: #000; }

.lefttext{ width: 268px; background: #DCDDDE; vertical-align: top; font-size: 1.05em; padding: 8px; margin-top: 12px; }
.lefttext a{ text-decoration: none; color: #428bca; }
.lefttext .pf ul{ margin: 0; padding: 0 0 0 16px; }
.lefttext .pf li{ margin: 24px 0; }

.lefttext .etp ul{ margin: 0; padding: 0; list-style-type: none; line-height: 1.5; }
.lefttext .etp font{ background: #ff0; font-weight: bold; }
.lefttext .etp li{ margin: 24px 0; }

.lefttext .critik h2{ margin:0; }
.lefttext .critik .rev{ padding: 12px 5px; line-height: 1.5; }
.lefttext .critik .rev h4{ margin:0; font-size: 13px; }
.lefttext .critik .rev span{ width: calc( 100% - 76px); width: -webkit-calc( 100% - 76px); color: #2FA1EB; font-size: 13px; font-style: oblique; vertical-align: middle; }
.lefttext .critik .rev span img{ margin-top: 4px; }
.lefttext .critik .rev div{ color: #fff; background: #707070; padding: 5px; font-size: 12px;  font-style: oblique; }
/*.lefttext .critik .rev img{ border: 4px solid #fff; float: left; margin-right: 10px; }*/

.regs .cta{ margin:0; text-align: center;  }
.regs  iframe{ background: #fff; }


.footer{    background:  #ccc;  font-size: 12px;   margin: 15px 0;   padding: 15px; text-align: center; }
.disclaimer{ font-size: 11px;  padding: 8px 8px 24px 8px; text-align: justify; }
