/* RESET */

html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, blockquote, form, fieldset, legend, table, td, th { margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, table, font { font-size: 1em; font-style: normal; font-weight: normal;}
h1, h2, h3, h4, h5, h6 { font-family: Tahoma, Verdana, Arial, sans-serif; }
html, body {height: 100%;}

.fleft {float:left;}

.fright {float:right;}

table, tbody, tr, td {background-color:transparent; border:0;}

.italictec {font-style:italic}
.p10 {font-size:10px}
.p11 {font-size:11px}
.p12 {font-size:12px}
.p13 {font-size:13px}

/* rewres */
h1 { font-size: 12px; font-weight: bold; }
h2 { font-size: 12px; font-weight: bold; line-height: 18px; }
h3 { font-size: 1em; font-weight: bold; line-height: 16px; }
h4 { font-size: 10px; font-weight: bold; line-height: 15px; }
img { border: 0; }

/*links*/
a { color: #177ebb; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }

/*forms*/
input, textarea, select { 	font-size: 1em; font-family: Tahoma, Verdana, Arial, sans-serif;}

/*PAGE*/
body {height:auto; margin: 0; margin-top:40px; padding: 0;font-family: Tahoma, Verdana, Arial, sans-serif; background:#ddd;  
    /*background: url(/images/bg-halloween.jpg);*/
    background-repeat: repeat;
    background-attachment: fixed;
	font-size:12px; text-align: left;}

table, td  { color:#666; vertical-align:top; }
textarea, input  { border: 1px  solid #666; color:#666; padding: 1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; background-color: #fff; margin: 1px; overflow:hidden; }

hr  { height: 1px; border: 0px; color: #BAC4D7; background-color: #BAC4D7; }

img { border: 0; }

#navbar>ul>li>a { 
	padding: 15px 10px 15px;
}

.centeredtop {/*width:1040px;*/ max-width:1040px; height:auto; margin:auto; z-index: 20; position: relative;}
.centeres {/*width:1040px;*/ max-width:1040px; height:auto; margin:auto; padding:0 0 0 0px;  /*margin-top:148px; */ z-index: 10; /*position: relative;*/}
.clear {clear:both; height:0; margin:0; padding:0; font-size:0; border:0;}

#header {/*width:1040px;*/ max-width:1040px; height: 73px; padding:0; /*position:fixed;* margin:40px auto 0 auto;*/ margin:40px auto 0 auto; margin-top:0; background:#DDDDDD;  z-index:9999;}
	#header-1 {width: 370px; height: 73px; margin:0; padding:0;  float:left; margin-top: 5px;}
	#header-3 {width: 450px; height: 73px; margin:0; padding:0;  float:left;}
	#header-2 {width: 220px; height: 73px; margin:0; padding:0;  float:left;}
	#header-4 {width: 67px; height: 43px; margin:0; padding:28px 0 0 0; float:left;}
	#header-5 {width: 97px; height: 43px; margin:0; padding:28px 0 0 0; float:left;}
	#header-6 {width: 97px; height: 43px; margin:0; padding:14px 0 0 0; float:left;}

#menu  {width: 1040px; height: 38px; margin:0;  padding:0; background-color:#232323; /*position:fixed; margin:110px auto 0 auto; */ z-index:999; position:relative; }
#menu-top  {width: 1040px; height: 38px; margin:0; padding:0; background-color:#232323; float:left;}
#menu-top ul {/*width: 1040px;*/ margin:auto; padding:0 0 0 0; list-style-type:none; }
#menu-top ul li { margin:auto; padding:0 0 0 0;  float:left; }
#menu-top ul li a { margin:0; padding:0 15px 0 15px; text-transform:uppercase; display:block;  font-size:12px; text-decoration:none; color:#a3a3a3; height:38px; line-height:38px; text-align:center;/*  font-weight:bold; */ /* border-right:1px solid #d396a1; */}
#menu-top ul li a:hover { color:#D00019; background:url(../images/menu-background.jpg) no-repeat center top; }
#menu-top .active{ color:#D00019; background:url(../images/menu-background.jpg) no-repeat center top; }
#menu-top .login {color:#D00019;}

#search  {width: 270px; height: 48px; margin:0; padding:0; background-color:#232323;  line-height:48px; float:right;}
#search  input{width: 220px;}

.home-description {width: 1040px; height: 197px; margin:0; padding:0; background:#55ABCA url(../images/bk-bluenew.jpg) repeat-x top center; color:#fff;}
#home-description-left-1 {width: 33px; height: 197px; margin:0; padding:0; float:left; }
#home-description-left-2 {width: 621px; height: 197px; margin:0; padding:0; float:left; }
	#home-description-left-title {width: 728px; height: auto; margin:0; padding:15px 20px 0 20px; font-size:22px; }
	#home-description-left-line {width: 728px; margin:0; padding:0 0 0 0; border-bottom:1px solid #33a8c5;}
	#home-description-left-text {width: 728px; height: auto; margin:0; padding:14px 20px 20px 20px; font-size:12px; text-align:justify;}
#home-description-right {width: 346px; height: 197px; margin:0; padding:0; float:right; color:#fff;}
#home-description-right a{color:#fff; text-decoration: underline;}
#home-description-right a:hover{color:#ccc; text-decoration: underline;}
	#home-description-right-title {width: 278px; height: auto; margin:0; padding:25px 0 0 0; font-size:22px; }
	#home-description-right-line {width: 278px; margin:0; padding:0 0 0 0; border-bottom:1px solid #33a8c5;}
	#home-description-right-text {width: 278px; height: auto; margin:0; padding:7px 0 0 0; font-size:11px; text-align:justify;}
		#home-description-right-text-online {width: 278px; height: auto; margin:0; padding:0 0 0 0; font-size:12px; text-align:justify; clear:both;}
		#home-description-right-text-contact {width: 278px; height: auto; margin:0; padding:0 0 0 0; font-size:12px; text-align:justify; clear:both;}
.bk-grey {width: 1040px; height: 285px; margin:0; padding:0; background:#cacaca url(../images/bk-grey.jpg) repeat-x top center; }
.bk-grey-long {/*width: 1040px;*/ height: auto; margin:0; padding:0; background:#55ABCA url(../images/bk-bluenew.jpg) repeat-x top center; }
.bk-blue {width: 1040px; height: 285px; margin:0; padding:0; background:#55ABCA url(../images/bk-bluenew.jpg) repeat-x top center; }
.footer {width: 1040px; height: 80px; margin:0; padding:0; background:#0080AE; color:#fff; line-height:30px; text-align:center; padding-top:10px}
	.footer a{color:#E5911D; font-weight:bold;}
	.footer a:hover{color:#fff; font-weight:bold; text-decoration:none;}

.home-left {width: 333px; height: auto; margin:0; padding:21px 0 0 0; text-align:center; float:left;}
.home-middle {width: 333px; height: auto; margin:0; padding:21px 0 0 0; text-align:center; float:left;}
.home-right {width: 333px; height: auto; margin:0; padding:21px 0 0 0; text-align:center; float:left;}
	.div-home {width: 262px; height: auto; margin:auto; padding:0; text-align:left; }
	.div-home-title {width: 262px; height: 36px; margin:0; padding:0; font-size:18px; line-height:36px; text-align:left; border-bottom:1px solid #e5e5e5;}
	.div-home-inside {width: 262px; height: auto; margin:0; padding:10px 0 0 0; text-align:left; }
		.div-home-inside-left {width: 180px; height: auto; margin:0; padding:0; text-align:left; float:left; }
		.div-home-inside-left a{color:#6f6a6a;}
		.div-home-inside-left a:hover{color:#fff;}
		.div-home-inside-right {width: 82px; height: auto; margin:0; padding:0; text-align:left; float:right;}	
		
.div-home-2 {width: 262px; height: auto; margin:auto; padding:0; text-align:left; color:#efefef;}
	.div-home-title-2 {width: 262px; height: 36px; margin:0; padding:0; font-size:18px; line-height:36px; text-align:left; border-bottom:1px solid #e5e5e5;}
	.div-home-inside-2 {width: 262px; height: auto; margin:0; padding:10px 0 0 0; text-align:left; }
		.div-home-inside-left-2 {width: 180px; height: auto; margin:0; padding:0; text-align:left; float:left; }
		.div-home-inside-left-2 a{color:#efefef;}
		.div-home-inside-left-2 a:hover{color:#000;}
		.div-home-inside-right-2 {width: 82px; height: auto; margin:0; padding:0; text-align:left; float:right;}


.bg-bl{ background-image: url(../images/bl.png); background-position: left bottom; background-repeat: no-repeat; }
.bg-br{ background-image: url(../images/br.png); background-position: right bottom; background-repeat: no-repeat; }
.bg-casing{ background-image: url(../images/summary_bg-bottom.png); background-position: bottom; background-repeat: repeat-x; }
.bg-casing-bl{ background-image: url(../images/casing-bl.gif); background-position: left bottom; background-repeat: no-repeat; }
.bg-casing-br,.bg-casing-br-item{ background-image: url(../images/casing-br.gif); background-position: right bottom; background-repeat: no-repeat; }
.bg-casing-tl,.item-summary-tl{ background-image: url(../images/casing-tl-classic.gif); background-position: left top; background-repeat: no-repeat; }
.bg-casing-top{ background-image: url(../images/casing-home-top.png); background-position: top; background-color:#fff; background-repeat: repeat-x; min-height: 34em; }
.bg-casing-tr{/* background-color:#fff; */ background-image: url(../images/casing-tr-classic.gif); background-position: right top; background-repeat: no-repeat; color: #000000; min-height: 600px; padding-bottom: 0em; padding-left: 0.9em; padding-right: 0.9em; padding-top: 0.7em; }
.bg-left{ background-image: url(../images/left_side-classic.gif); background-position: left; background-repeat: repeat-y; }
.bg-mid{ background-image: url(../images/container-top-classic.png); background-repeat: repeat-x; }
.bg-mid-bottom{ background-image: url(../images/container_bottom_classic.png); background-position: bottom; background-repeat: repeat-x; }
.bgred{ background-color: #ffecec; }
.bg-right{ background-image: url(../images/left_side-classic.gif); background-position: right; background-repeat: repeat-y; }
.bg-right-sideblock{ background-image: url(../images/right-side-classic.gif); background-position: right; background-repeat: repeat-y; }
.bg-tl{ background-image: url(../images/tl.png); background-position: left top; background-repeat: no-repeat; }
.bg-tr{ background-image: url(../images/tr.png); background-position: right top; background-repeat: no-repeat; padding: 1em; }
.sp-sidetower{ float: right; margin-bottom: 0px; min-height: 600px; /*width: 160px;*/ text-align: center;}
.episode-wrap1{ background-image: url(../images/summary_bg-bottom.png); background-position: bottom; background-repeat: repeat-x; float: left; width: 100%; /*width: 69.8em;*/ }
.fullwrap{ min-height: 488px; }
h1.channel-title{ /*border-bottom-color: #315888; border-bottom-style: solid; border-bottom-width: 1px;*/margin-top:10px; font-size: 2em; padding-bottom: 0.2em; padding-top: 0em; }
h1.channel-title a { color:#000;}
h1.channel-title a:hover { text-decoration:none; color:#333;}
.pagination{ display: block; margin-bottom: 2em; margin-left: 0; margin-right: 0; margin-top: 2em; padding: 0; text-align: center; background-image: url(../images/casing-home-top.png); background-position: top; background-color:#fff; background-repeat: repeat-x;}
.pagination > li > a{ float: none; background-color: #ffffff; border: 1px solid #fff; color: #fff; font-size: 1em; margin-left: 0.2em; margin-right: 0.2em; padding-bottom: 4px; padding-left: 4px; padding-right: 4px; padding-top: 4px; text-decoration: none; background:#878787;}
.pagination > li > a:hover{ background-color: #ffffff; border-bottom-color: #666; border-left-color: #666; border-right-color: #666; border-top-color: #666; color: #666; text-decoration: none; }
.pagination > li > a b {color:#000;}
.pagination>li:first-child>a {margin: auto; border-radius: 0;}
.pagination>li:last-child>a {margin: auto; border-radius: 0;}
#mcontainer ul li,.pagination li{ display: inline; }
.listings{ font-size: .95em; margin-bottom: 1em; margin-left: auto; margin-right: auto; margin-top: 0em; padding: 0; }
.listings li{ border-bottom-color: #e8eef7; border-bottom-style: solid; border-bottom-width: 1px; border-right: #e8eef7 solid 1px; }
.listings li a,.channels li a,.search-lists li a,.partner-genres li a{ color: #222222; cursor: pointer; display: block; font-size: 1em; padding-bottom: .2em; padding-top: .2em; text-decoration: none; }
.listings li,.channels li,.search-lists li,.partner-genres li{ list-style: none; margin: 0em; padding: 0; }
.listings li:hover,.channels li:hover,.search-lists li:hover,.partner-genres li:hover{ background:#f1f1f1; }

#calendar {background-image: url(../images/casing-home-top.png); background-position: top; background-color:#fff; background-repeat: repeat-x;}
#calendar .listings li {width:177px; float:left; height:60px; overflow:hidden; }
#calendar .listings li:hover {background:#EEE;}
#calendar .listings li a:hover {color:#055975;}
#calendar .listings li img{width:35px; float:left; margin:0 5px 0px 5px ;}

.s-mpu-list{ /*background-image: url(../images/mpu-back.gif); background-repeat: repeat-x; */margin-bottom: 10px; padding-bottom: 10px; padding-top: 10px; text-align: center; }
#dyna-left .s-mpu-list{ margin-left: 2px; margin-top: 11px; width: 384px; }
.epnum,.front-sum{ color: #003e5b; font-style: italic; }
.epnum,.front-sum,.geo{ float: right; margin-top: 0; text-align: right; width: 90px; }
.epnum:hover,.leader p a:visited,.leader-r p a:visited, .channels .number { color: #0f0fc6; }
.sp-leader{ /*border: 1px solid #315888;*/ height: 90px; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; margin-top: 1em; padding: 0em; width: 728px; }
.sp-leader2{  height: 50px; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; margin-top: 1em; padding: 0em; width: 728px; }
.sp-leader-bottom{ border: 1px solid #315888; height: 90px; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; margin-top: 0em; padding: 0em; width: 728px; }
.sp-leader-home{ height: 90px; margin-bottom: 10px; margin-left: auto; margin-right: auto; margin-top: 10px; padding: 0em; width: 728px; }


#left,#right{ float: left; font-size: 1em; margin-top: 1em; width: 48.5%; }
#right,.floatright,#dyna-right{ float: right; }
h2.lists{ border-bottom-color: #315888; border-bottom-style: solid; border-bottom-width: 1px; font-size: 1.1em; font-weight: bold; margin-bottom: 0.4em; padding-bottom: .05em; }
.show-summary{ border-bottom-color: #315888; border-bottom-style: solid; border-bottom-width: 1px; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-bottom: 2px; padding-left: 0px; padding-right: 0px; padding-top: 5px; background-color:none; }
.show-summary h2,.episode-summary h2{ font-size: 16px; font-weight: bold; padding-bottom: 2px; }
.show-summary p{ padding-bottom: 5px; padding-top: 0px; }
.show-summary p,.top10 .listings a{ font-size: 11px; }
.episode-summary{ border-bottom-color: #315888; border-bottom-style: solid; border-bottom-width: 1px; margin: 0px; padding-bottom: 7px; padding-left: 0px; padding-right: 0px; padding-top: 7px; }
.linktable { font-size: 12px; margin-top: 0; }
.linktable .addrating { float: left; height: 12px; line-height: 12px; padding: 5px 0 0; width: 120px; }
.linktable .deadlink { cursor: pointer; float: left; height: 12px; line-height: 12px; padding: 5px 0; text-align: left; width: 130px; }
.linktable .geo { color: #0f0fc6; float: left; height: 15px; padding: 5px 0; text-align: left; text-decoration: underline; width: 40px; }
.counter{ float: right; margin-top: -1.5em; text-align: right; }
.linktable .poster { float: left; height: 12px; line-height: 12px; padding: 5px 0; text-align: left; width: 150px; }
.linktable .site { color: #000; float: left; height: 12px; line-height: 12px; padding: 5px 0; text-align: left; width: 130px; }
.linktable .sitelogo { float: left; padding: 5px 0; width: 80px; }
.linktable .siteparts { float: left; height: 12px; line-height: 12px; padding: 6px 0 4px; text-align: left; width: 280px; }
.linewrap { border-bottom-color: #315888; border-bottom-style: solid; border-bottom-width: 1px; overflow: hidden; padding: 0; }
.siteparts a,.siteparts a:visited,.siteexpand a { background: #FFF; border: 1px solid #315888; color: #000; padding: 1px 3px; text-decoration: none; }
.siteparts a:hover,.siteexpand a:hover { border: 1px solid #D70000; color: #000; cursor: pointer; text-decoration: none; }
.deadlink a:hover,.poster a:hover,.download a,.red { color: #d70000; }
.download { float: left; height: 12px; line-height: 12px; padding: 5px 0; text-align: left; width: 135px; }
.deadlink a:hover,.poster a:hover,.download a,.red { color: #d70000; }
a.npbutton{ background-color: #ffffff; border: 1px solid #315888; color: #000000; cursor: pointer; font-size: 13px; margin-bottom: 10px; margin-left: 4px; margin-right: 4px; margin-top: 8px; padding-bottom: 4px; padding-top: 4px; text-decoration: none; }
h2 a,h2 a:hover,h2 a:visited, .awrap a,a.npbutton:visited { color: #000000; text-decoration: none; }
.nextprev{ margin-bottom: 20px; margin-left: auto; margin-right: auto; margin-top: 20px; width: 300px; }
.button-next { background-image: url(../images/next.png); background-position: 87px 4px; background-repeat: no-repeat; padding-left: 7px; padding-right: 25px; }
.button-previous { background-image: url(../images/prev.png); background-position: 5px 4px; background-repeat: no-repeat; padding-left: 25px; padding-right: 6px; }
.linktable .geo { color:#0f0fc6; float:left; height:35px; text-align:left; text-decoration:underline; width:40px; padding:5px 0; }
.center_page {width: 1040px; height:auto; margin: auto; padding:0; background-color: #CACACA; }
#content {width:1040px; height: auto; margin: 0; padding:15px 0 0 0; border:0; }
#popup2-left {width:330px; height:270px; padding:0; margin:0; text-align:right;float:left;}
#popup2-middle  {width:150px; height:270px; padding:0; margin:0; text-align:center; float:left; border:0;}
#popup2-middle  input { border:0px none;}
#popup2-middle  a { font-weight: bold; color:#fff; text-decoration:none; border:0;}
#popup2-middle  a:hover{ font-weight: bold; color:#000; text-decoration:none; border:0;}
#popup2-right {width:330px; height:270px; padding:0; margin:0;text-align:left;  float:right;}
#content2 {width:1040px; height: auto; margin: 0; padding:15px 0 0 0; color:#fff; font-size:13px; font-weight: bold; text-align:center;}
#bann768x90 {width:1040px; height: auto; margin: 0; padding:15px 0 0 0; color:#666666; text-align:center;}
#bann768x90  img{width:768px; height: 90px; margin: 0; padding: 0; color:#666666; text-align:center;}
.reklama_300_250 {width:300px; height:250px; border:0; text-align:center; padding:5px; margin:0;}
.reklama_700_250 {width:700px; height:250px; border:0; text-align:center; padding:5px; margin:0;}
.reklama_300_250_popup {width:330px; height:250px; border:0; text-align:center; padding:0; margin:0;}
.reklama_300_250 img {width:300px; height:250px; border:0; text-align:center; padding:5px; margin:0;}
.reklama_300_250_popup img {width:300px; height:250px; border:0; text-align:center; padding:0; margin:0;}
#paranteza {width:1040px; height: 69px; margin: 0; padding:0; background:url(../images/watch-series-home_15.png) no-repeat left top; }
.no_link { color:#808080;}


.search-box, .main.blueprint-span-5 > div.search-box {
  margin:20px 0 0 0;
  width: 350px;
  height: 34px;
  margin-right: 12px;
  border: 6px solid #e0eff7;
  z-index:9999;
}

.search-box div {
  float: left;
}

.search-box input[type="text"] {
  width: 280px;
  height: 22px;
  border: none;
  border-top: 1px solid #a4a4a4;
  border-left: 1px solid #a4a4a4;
  margin: 0;
  padding: 3px 0 0 5px;
  float: left;
  z-index:9999;
}

.search-box input[type="text"]:focus {
  outline: none;
}

.search-box .submit-button {
  width: 57px;
  height: 22px;
  float: right;
  text-indent: -9999px;
  background: url(../images/search.jpg) top center no-repeat;
  border: none;
}

.search-box .submit-button:hover {
  cursor: pointer;
}

.login .sign-in {
  display: none;
}

.login.authenticated .sign-in.authenticated {
  display: block;
}

.login.anonymous .sign-in.anonymous {
  display: block;
}

.unsubscribe-container {
  padding: 20px;
  background-color: #EDEDEF;
  margin: 20px 0 20px 0;
}

.login span.user-handle{
  float: right;
  margin-bottom: 9px;
}
.login span.user-handle a{
  font-size: 14px;
  white-space: nowrap;
}

.login-form{
  position: absolute;
  top: 60px;
  right: 3px;
  width: 274px;
  border: 5px solid #00aad5;
  padding: 10px;
  background: #FFFFFF;
  z-index: 100000000;
}

.login-form p, .login-buttons p {
  float: right;
  font-size: 10px;
  color: #d5d5d5;
  margin-top: 12px;
}

.login-buttons {
  border-top: solid #00aad5 1px;
  border-bottom: solid #00aad5 1px;
  padding: 5px 0 3px 0;
  margin-bottom: 10px;
  width:275px;
  height: 25px;
}


.login-form h3{
  color: #00aad5;
  font-size: 16px;
}

.login-form label{
  font-size: 14px;
  margin: 0 0 5px 0;
  display: block;
  color: #505050;
}

.login-form #login-errors {
  display: none;
  margin-top: 5px;
  color: #af0000;
  font-size: 10px;
}

.login-form #login-errors a {
  color: #af0000;
  text-decoration: underline;
}


.form-bottom{
  margin-top: 5px;
}

.forgot-password{
  float: right;
  margin-top: 6px;
}

.forgot-password a, .header .forgot-password a:visited{
  font-size: 10px;
  color: #00aad5;
  text-decoration: none;
}

.login{
  width: 180px;
  padding-top: 9px;
}

.login span.sign-in {
  float: right;
  margin-top: 2px;
  margin-left: 15px;
}

.login span.sign-in.anonymous{
  margin-top: 14px;
}

.login span.sign-in a {
  color: #358eb1;
  font-size: 16px;
  text-decoration: none;
}

.login span span {
  padding-left: 10px;
}

.login span.logout{
  float: right;
}

.login span.user-handle{
  float: right;
  margin-bottom: 9px;
}
.login span.user-handle a{
  font-size: 14px;
  white-space: nowrap;
}

.login span.logout a{
  margin: 3px 3px 0 0;
  font-size: 12px;
}

.rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}



.sr-header {
  font-family: "Trebuchet MS", sans-serif;
}


.header-sub-sub-menu{
  background-color: #000;
   /*  display:none; */
  clear: both;
  height: 25px;
  width: 1040px;
}

.header-sub-sub-menu ul {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 1040px;
}

.header-sub-sub-menu ul li {
  padding: 0 8px;
  display: inline-block;
  height: 25px;
}

.header-sub-sub-menu ul li a {
  color: #FFFFFF;
  font-size: 12px;
  padding-top: 5px;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

.hidden {
  display: none;
}


/*---login---*/

.loginbox, .lvsep, .loginbtn, .lbn, .lbn b, .loginava, .lexit { float: left; list-style-type:none; }

.loginbox ul {list-style-type:none; }

.loginbox .loginbtn, .loginbox .loginava { position: relative; margin: 10px 20px 0 0; }

	.lbn, .lbn b { height: 43px;  }

		.lbn { z-index: 13; position: relative; line-height: 42px; color: #516168; font-size: 1.15em; }

			.lbn b { padding: 0 35px 0 10px; cursor: pointer; background-position: 100% -43px; }

		

		.lbn.selected { background-position: 0 -86px; }

			.lbn.selected b { background-position: 100% -129px; }



	.loginbox #logform { border: 1px solid #cbdfe8; padding: 10px; top: 32px; left: 0; z-index: 12; display: none; position: absolute; width: 180px; background-color: #fbfdfe;

		-moz-border-radius-topleft: 0;

		-webkit-border-top-left-radius: 0;

		border-top-left-radius: 0;

	}

	.loginbox #logform .lfield { margin-bottom: 1em; }

		.loginbox #logform .lfield label { display: block; margin-bottom: 0.2em; }

		.loginbox #logform .lfield input { width: 170px; padding: 4px; border: 1px solid #c0d4de; background: #fff url("/images/fields.png") repeat-x; }



	.loginbox #logform .lbtn { text-align: center; }

	.loginbox .lvsep { line-height: 24px; font-size: 1.15em; padding: 19px 0 0 21px; margin-right: 20px; height: 45px; background: url("/images/lvsep.png") no-repeat; }



	.loginbox .loginava { overflow: hidden; margin-right: 7px; }

		.loginbox .loginava img { width: 43px; }

		.loginbox .loginava b, .loginbox .loginava { height: 43px; width: 43px; }

			.loginbox .loginava b { z-index: 13; background: url("/images/loginava.png") no-repeat; position: absolute; left: 0; top: 0; }



	.loginbox .lvsep .radial { margin-right: 5px; background-color: #96c; color: #fff; float: left; padding: 0 8px; }

	.loginenter { border-top: 1px solid #dbe8ed; }

		.loginenter li a { display: block; width: 100%; padding: 5px 0; border-bottom: 1px solid #dbe8ed; }



	.lexit { width: 33px; padding-top: 43px; background: url("/images/lexit.png") no-repeat; }

		.lexit:hover { background-position: 0 -43px; }
		
		
ul#topnav {
	margin: 0; padding: 0;
	float: left;
	/*width: 1040px;*/
	list-style: none;
	position: relative;
	font-size: 1.2em;
	/*background: url(topnav_stretch.gif) repeat-x;*/
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	/* border-right: 1px solid #555; */
}
ul#topnav li a {
	padding: 0px 10px 0 10px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
}
ul#topnav li:hover { /* background: #1376c9 url(topnav_active.gif) repeat-x;  */}
ul#topnav li span {
	float: left;
	padding: 0px 0;
	height:35px;
	position: absolute;
	left: 0; top:35px;
	display: none;
	width: 1040px;
	background: #1376c9;
	color: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#topnav li:hover span { display: block; }
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: underline; background:none; color:#000;}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.myButton:active {
	position:relative;
	top:1px;
}


#myTable
{
	font-family: Tahoma;
	font-size: 12px;
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

#myTable td
{
	border-bottom: 1px solid #000000;
	color: #669;
	padding: 6px 8px;
}
#myTable tbody tr:hover td
{
	color: #009;
}
#myTable .buttonlink{
    font: 12px Tahoma;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #315888;
    color: #000000;
    padding: 1px 3px;
    text-decoration: none;
}
#myTable tr :hover .buttonlink{
    border-color: #D70000;
    color:black;
}
#myTable .freeEpisode{
    font: Tahoma;
    font-size:13px;
    border:0px;
    color:#D70000;
}
#myTable .fEp{
    font: Tahoma;
    font-size:13px;
    border:0px;
    color:#D70000;
}
#myTable span{
    color: black;
    font: Tahoma;
    font-size: 13px;
}
#myTable tr  :hover a{
    color: #D70000;
}

/*START TOP BAND*/

div#top-band{
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	background-color: #393939;
	color: #fff;
	z-index:9999999;
	min-width:1040px;
	background: url('../images/bg-top.jpg') repeat;
	margin:auto;
}

div#top-band a{
	color: #fff;
}
div#top-band-content{
	margin-left: auto;
	margin-right: auto;
	width: 1040px;
	padding: 5px 0px 0 0px;

}

.fbc-login-button{
	background: url('../images/fb.png') transparent no-repeat;
	width: 140px;
	height: 31px;
	border: 0;
	cursor: pointer;
}

.fbc-login-button-big{
	background: url('../images/facebook-big.png') transparent no-repeat;
	width: 302px;
	height: 37px;
	border: 0;
	cursor: pointer;
	display: block;
	margin:10px;
}

.twt-login-button-big{
	background: url('../images/twitter-big.png') transparent no-repeat;
	width: 302px;
	height: 37px;
	border: 0;
	cursor: pointer;
	display: block;
	margin:10px;
}


.google-login-button-big{
	background: url('../images/google-big.png') transparent no-repeat;
	width: 302px;
	height: 37px;
	border: 0;
	cursor: pointer;
	display: block;
	margin:10px;
}

.fbc-login-button-big:hover, .twt-login-button-big:hover, .google-login-button-big:hover {opacity:0.6;}

.fbc-login-button:hover{
	background: url('../images/fb-h.png') transparent no-repeat;
}
.twc-login-button{
	background: url('../images/twitter.png') transparent no-repeat;
	width: 140px;
	height: 31px;
	border: 0;
	cursor: pointer;

}
.twc-login-button:hover{
	background: url('../images/twitter-h.png') transparent no-repeat;
}
.glc-login-button{
	background: url('../images/google.png') transparent no-repeat;
	width: 140px;
	height: 31px;
	border: 0;
	cursor: pointer;

}
.glc-login-button:hover{
	background: url('../images/google-h.png') transparent no-repeat;
}


.sign_in {float:right; list-style-type: none; width:700px; margin-right:0px; list-style-type:none;}
.sign_in a{display:block; float:right; font-size:12px; font-weight:bold; color:#bfdfff; line-height:9px}
.sign_in a:hover{color:#fff}
.sign_in #login_link {width:89px; height:30px; background:url('../images/login-button.png') top center no-repeat; margin-top:-3px;}
.sign_in #login_link:hover {width:89px; height:30px; background:url('../images/login-button-h.png') top center no-repeat;}
.sign_in #signup_link {width:89px; height:30px; background:url('../images/join.png') top center no-repeat; margin-top:-3px;}
.sign_in #signup_link:hover {width:89px; height:30px; background:url('../images/join-h.png') top center no-repeat; }
.sign_in_profile {float:right; position:absolute; right:50%; margin-right:-525px; top:5px; font-size:16px; list-style-type:none; color:#00CCFF; font-size:12px; line-height:9px; font-family: Tahoma,Verdana,Arial,sans-serif;}
.sign_in_profile a{display:block;float:right;font-size:12px;font-weight:normal;color:#bfdfff;line-height:9px;}
.sign_in_profile a:hover{color:#00CCFF !important; text-decoration:none;}
.sign_in_profile li{float:left;height:11px;margin:9px 10px 18px 10px;padding-right:10px;border-left:0;border-right:1px dotted #528dc6}
.sign_in_profile li:first-child{padding-left:0;}
.sign_in li:first-child{margin-top:2px;padding-left:0;border:none}
.sign_in li:last-child{margin-top:2px;padding-left:0;border:none}


#tracked-tv-shows-options h2,#tracked-tv-shows-options .registration-container .bordered-text span,.registration-container .bordered-text #tracked-tv-shows-options span,.tracked-show-container .show-name a{font-family:Helvetica, Arial, sans-serif;font-size:16px; }
#tracked-tv-shows-options h2,#tracked-tv-shows-options .registration-container .bordered-text span,.registration-container .bordered-text #tracked-tv-shows-options span{padding:5px 10px}
#tracked-tv-shows-options h2.pipe,#tracked-tv-shows-options .registration-container .bordered-text span.pipe,.registration-container .bordered-text #tracked-tv-shows-options span.pipe{padding:5px 0}
#tracked-tv-shows-options a.user-show-list-picker,#tracked-tv-shows-options a.user-show-list-picker:visited,#tracked-tv-shows-options a.user-show-list-picker:active{text-decoration:none}
#tracked-tv-shows-options h2.tracked-shows-header,#tracked-tv-shows-options .registration-container .bordered-text span.tracked-shows-header,.registration-container .bordered-text #tracked-tv-shows-options span.tracked-shows-header{display:inline-block;margin-bottom:6px;padding-left:0;padding-right:17px}
#tracked-tv-shows-options .show-list h2.tracked-shows-header,#tracked-tv-shows-options .show-list .registration-container .bordered-text span.tracked-shows-header,.registration-container .bordered-text #tracked-tv-shows-options .show-list span.tracked-shows-header{color:#0080ae;cursor:pointer;cursor:hand}
#tracked-tv-shows-options .show-list .show-list-name{display:inline-block;margin-right:10px;max-width:465px}
#tracked-tv-shows-options .show-list .remove-list,#tracked-tv-shows-options .show-list .list-details{text-transform:uppercase;color:#55abca;font-size:12px;font-family:Helvetica, Arial, sans-serif}
#tracked-tv-shows-options .show-list .remove-list:hover,#tracked-tv-shows-options .show-list .remove-list:active,#tracked-tv-shows-options .show-list .remove-list:visited,#tracked-tv-shows-options .show-list .list-details:hover,#tracked-tv-shows-options .show-list .list-details:active,#tracked-tv-shows-options .show-list .list-details:visited{text-decoration:none}
#tracked-tv-shows-options .show-list .list-details{margin-right:10px}
#tracked-tv-shows-options .show-list .remove-list i{padding-right:3px}
#tracked-tv-shows-options hr{color:#efeeeb;margin:0}
#tracked-tv-shows-options .status-filters{margin-top:4px}
#tracked-tv-shows-options .status-filters a,#tracked-tv-shows-options .status-filters a:hover,#tracked-tv-shows-options .status-filters a:active,#tracked-tv-shows-options .status-filters a:visited{color:#0080ae}
#tracked-tv-shows-options a.tracker-status.selected{color:#505050;font-weight:bold}
#tracked-tv-shows-options a.tracker-status.selected:hover{color:#505050;text-decoration:none;cursor:default}
#tracked-tv-shows-options .filter-info{font-size:11px;padding:0.7em 0}
#tracked-tv-shows-options .filter-info .shows-count,#tracked-tv-shows-options .filter-info .hide-up-to-date{margin-top:0.3em}
#tracked-tv-shows-options .filter-info .shows-count{font-size:12px}
.tracked-show-container{background:#efeeeb;font-family:Arial, Helvetica, sans-serif;margin-bottom:3px;padding:10px;  padding-left:25px;}
.tracked-show-container .tracked-guide-content{position:relative}
.tracked-show-container .tracked-guide-content .friends-tracking-container{position:absolute;right:0px;top:0px}
.tracked-show-container .tracked-guide-content .show-list-actions{margin-top:10px;vertical-align:text-bottom;font-family:Helvetica, Arial, sans-serif}
.tracked-show-container .tracked-guide-content .show-list-actions i{color:#0080ae}
.tracked-show-container .tracked-guide-content .show-list-actions a{margin-right:20px;font-size:12px;color:#55abca;text-transform:uppercase}
.tracked-show-container .tracked-guide-content .show-list-actions a:hover,.tracked-show-container .tracked-guide-content .show-list-actions a:active{text-decoration:none;}
.tracked-show-container .show-image{height:65px;margin-right:20px;width:48px}
.tracked-show-container .show-image img{border:1px solid #0080AE;}
.tracked-show-container .show-name{display:inline-block}
.tracked-show-container .show-name a,.tracked-show-container .show-name a:hover,.tracked-show-container .show-name a:active,.tracked-show-container .show-name a:visited{color:#0080ae}
.tracked-show-container .show-actions{margin-top:10px}
.tracked-show-container .show-actions .icon-remove{color:#0080ae}
.tracked-show-container .show-actions .icon-remove a:hover,.tracked-show-container .show-actions .icon-remove a:active{text-decoration:none}
.tracked-show-container .status,.tracked-show-container .airs{display:inline-block;margin-top:10px}
.tracked-show-container .status{margin-right:10px}
.tracked-show-container .status .status-label{font-weight:bold}
.tracked-show-container .airs .airs-label{font-weight:bold}
.tracked-show-container .tracker-details{margin-top:10px;border-bottom:1px solid #cacbcd}
.tracked-show-container .tracker-details a.episodes-tab{background:#0080ae;color:white;display:inline-block;font-weight:bold;margin-right:5px;padding:5px 0;text-align:center;text-decoration:none;width:120px;border-bottom:1px solid #cacbcd;position:relative;top:1px}
.tracked-show-container .tracker-details a.episodes-tab.selected{top:2px;background:white;color:#505050;border:1px solid #cacbcd;border-bottom:none}
.tracked-show-container .tracker-details .next-content,.tracked-show-container .tracker-details .ep-guide-content{border-top:1px solid #cacbcd;border-right:1px solid #cacbcd;border-left:1px solid #cacbcd}
.tracked-show-container .tracker-details .next-content .episodes-up-to-date,.tracked-show-container .tracker-details .next-content .no-episodes,.tracked-show-container .tracker-details .ep-guide-content .episodes-up-to-date,.tracked-show-container .tracker-details .ep-guide-content .no-episodes{padding-bottom:10px}
.tracked-show-container .tracker-details .next-content{background:white;padding:15px 10px 10px 10px}
.tracked-show-container .tracker-details .next-content .episode-link{font-weight:bold}
.tracked-show-container .tracker-details .next-content .episode-link a,.tracked-show-container .tracker-details .next-content .episode-link a:hover,.tracked-show-container .tracker-details .next-content .episode-link a:active,.tracked-show-container .tracker-details .next-content .episode-link a:visited{color:#0080ae;text-decoration:none}
.tracked-show-container .tracker-details .next-content .episode-link a:hover {color:#cc0000;}
.tracked-show-container .tracker-details .next-content .air-date{font-size:11px;line-height:12px}
.tracked-show-container .tracker-details .next-content .watch-toggle{margin-top:-8px}
.tracked-show-container .tracker-details .ep-guide-content .no-episodes,.tracked-show-container .tracker-details .ep-guide-content .up-to-date{padding-top:5px;padding-bottom:17px}
.tracked-show-container .tracker-details .action-link{margin-right:33px;margin-top:10px}
.action-link .remove-tracker-show-link,.action-link .add-link-lightbox-action,.action-link .add-to-list-lightbox{color:#55abca;font-family:Helvetica, Arial, sans-serif;text-decoration:none;text-transform:uppercase}
.action-link .add-to-list-lightbox{margin-left:20px}
.action-link .icon-plus{color:#0080ae;vertical-align:inherit}
.episode-header {padding-left:30px;}
#tracked-tv-shows-container{padding-bottom:20px}
.row{line-height:15.5px;}
.push_button {
	position: relative;
	width:180px;
	height:30px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	line-height:30px;
	font-family:'Oswald', Helvetica;
	display: block;
	margin: 20px;
	font-size:14px;
}
.push_button:before {
	background:#f0f0f0;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	
	position: absolute;
	content: "";
	left: -6px; right: -6px;
	top: -6px; bottom: -10px;
	z-index: -1;
}

.push_button2 {
	position: relative;
	width:180px;
	height:30px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	line-height:30px;
	font-family:'Oswald', Helvetica;
	display: block;
	margin: 20px;
	font-size:14px;
}

.push_button:active {
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	top:5px;
}
.push_button:active:before{
	top: -11px;
	bottom: -5px;
	content: "";
}

.push_button_small {
	position: relative;
	width:130px;
	height:25px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	line-height:25px;
	font-family:'Oswald', Helvetica;
	display: block;
	margin: 20px;
	font-size:14px;
}
.push_button_small:before {
	background:#f0f0f0;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	
	position: absolute;
	content: "";
	left: -6px; right: -6px;
	top: -6px; bottom: -10px;
	z-index: -1;
}

.push_button_small:active {
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	top:5px;
}
.push_button_small:active:before{
	top: -11px;
	bottom: -5px;
	content: "";
}


.red {
	text-shadow:-1px -1px 0 #A84155;
	background: #D25068;
	border:1px solid #D25068;
	
	background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
	background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
	background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
	background-image:-o-linear-gradient(top, #F66C7B, #D25068);
	background-image:linear-gradient(to bottom, #F66C7B, #D25068);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.lightred {
	text-shadow:-1px -1px 0 #e93e1b;
	background: #f55432;
	border:1px solid #e93e1b;
	
	background-image:-webkit-linear-gradient(top, #f55432, #e93e1b);
	background-image:-moz-linear-gradient(top, #f55432, #e93e1b);
	background-image:-ms-linear-gradient(top, #f55432, #e93e1b);
	background-image:-o-linear-gradient(top, #f55432, #e93e1b);
	background-image:linear-gradient(to bottom, #f55432, #e93e1b);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.lightred2 {
	text-shadow:-1px -1px 0 #e93e1b;
	background: #f55432;
	border:1px solid #e93e1b;
	
	background-image:-webkit-linear-gradient(top, #f55432, #e93e1b);
	background-image:-moz-linear-gradient(top, #f55432, #e93e1b);
	background-image:-ms-linear-gradient(top, #f55432, #e93e1b);
	background-image:-o-linear-gradient(top, #f55432, #e93e1b);
	background-image:linear-gradient(to bottom, #f55432, #e93e1b);
	

	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.lightred2:hover {
	background: #F66C7B;
	background-image:-webkit-linear-gradient(top, #e93e1b, #f55432);
	background-image:-moz-linear-gradient(top, #e93e1b, #f55432);
	background-image:-ms-linear-gradient(top, #e93e1b, #f55432);
	background-image:-o-linear-gradient(top, #e93e1b, #f55432);
	background-image:linear-gradient(top, #e93e1b, #f55432);
	color:#000;
	text-decoration:none;
}


.lightred:hover {
	background: #F66C7B;
	background-image:-webkit-linear-gradient(top, #e93e1b, #f55432);
	background-image:-moz-linear-gradient(top, #e93e1b, #f55432);
	background-image:-ms-linear-gradient(top, #e93e1b, #f55432);
	background-image:-o-linear-gradient(top, #e93e1b, #f55432);
	background-image:linear-gradient(top, #e93e1b, #f55432);
	color:#000;
	text-decoration:none;
}

.red:hover {
	background: #F66C7B;
	background-image:-webkit-linear-gradient(top, #D25068, #F66C7B);
	background-image:-moz-linear-gradient(top, #D25068, #F66C7B);
	background-image:-ms-linear-gradient(top, #D25068, #F66C7B);
	background-image:-o-linear-gradient(top, #D25068, #F66C7B);
	background-image:linear-gradient(top, #D25068, #F66C7B);
	color:#E7E7E7;
	text-decoration:none;
}

.blue {
	text-shadow:-1px -1px 0 #2C7982;
	background: #3EACBA;
	border:1px solid #379AA4;
	background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:linear-gradient(top, #48C6D4, #3EACBA);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
	background: #48C6D4;
	background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:linear-gradient(top, #3EACBA, #48C6D4);
	color:#E7E7E7;
	text-decoration:none;	
}



.bluews {
	text-shadow:-1px -1px 0 #2C7982;
	background: #55ABCA;
	border:1px solid #2C8BAA;
	background-image:-webkit-linear-gradient(top, #55ABCA, #2C8BAA);
	background-image:-moz-linear-gradient(top, #55ABCA, #2C8BAA);
	background-image:-ms-linear-gradient(top, #55ABCA, #2C8BAA);
	background-image:-o-linear-gradient(top, #55ABCA, #2C8BAA);
	background-image:linear-gradient(top, #55ABCA, #2C8BAA);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #0D7293, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #0D7293, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #0D7293, 0 4px 2px rgba(0, 0, 0, .5);
}

.bluews:hover {
	background: #2C8BAA;
	background-image:-webkit-linear-gradient(top, #2C8BAA, #55ABCA);
	background-image:-moz-linear-gradient(top, #2C8BAA, #55ABCA);
	background-image:-ms-linear-gradient(top, #2C8BAA, #55ABCA);
	background-image:-o-linear-gradient(top, #2C8BAA, #55ABCA);
	background-image:linear-gradient(top, #2C8BAA, #55ABCA);
	color:#E7E7E7;
	text-decoration:none;
		
}


.calendars h1                  {text-align:center;padding:1em 1em 0;display:block;}
.calendars ol.calendar         {width:800px;margin:0 auto;display:block;}
.calendars li                  {list-style:none;}
.calendars p.link              {text-align:center;display:block;}

/*
 * Day styles
 -------------------------*/
.calendars li li               {width:12.5em;height:12.5em;float:left;margin:.1em;border:1px solid #444;padding:.2em;overflow:auto;}

/*
 * Day content (UL/OL & P)
 -------------------------*/
.calendars li li p             {font-size:12px;display:block; line-height:12px; margin:0; padding:0; clear:both;}
.calendars li li p a:hover     {color:#000; text-decoration:none;}
.calendars li li p b           {font-size:13px;display:block; margin:0px 0 2px 0; padding:7px 0 0 0; color:#000;}
.calendars li li p img         {width:33px; margin:3px; border:1px solid #0493BD}
.calendars li li ol            {width:auto;}
.calendars li li ul li,
.calendars li li ol li         {font-size:12px;display:block;height:auto;width:auto;margin:0;padding:.2em 0;float:none;border:0;border-bottom:1px solid #ddd;}

/*
 * Holiday class
 -------------------------*/
.calendars li li.today       {border:2px solid #0092B6; background-color:#9AEAFD;}

/*
 * Inactive months
 -------------------------*/
.calendars li#lastmonth li,
.calendars li#nextmonth li     {background:#f5f5f5;border:1px solid #999;}


.fixedepisodetopadd {position:fixed; float:right; margin-left:850px; }
.fixedepisodetop {position:fixed; width: 838px; background:url('../images/bgepisodes.jpg') repeat-x top center; padding:10px; margin-left:-11px; margin-top:-20px;}

.notify {position:relative; text-align:center; background-color:#fff; min-height: 30px; line-height:30px; /*height:30px; line-height:30px;*/ font-weight:bold; z-index:10;}

.rotating-item {
	display: none;
	position: relative;
	text-align:center;
	margin:auto;
}



label.custom-select {
    position: relative;
    display: inline-block;
}

    .custom-select select {
        display: inline-block;
        border: 2px solid #bbb;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font: inherit;
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background: #f8f8f8;
        
        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .custom-select select {
            padding-right:30px;    
        }
    }
    
    /* Since we removed the default focus styles, we have to add our own */
    .custom-select select:focus {
        -webkit-box-shadow: 0 0 3px 1px #c00;
        -moz-box-shadow: 0 0 3px 1px #c00;
        box-shadow: 0 0 3px 1px #c00;
    }
    
    /* Select arrow styling */
    .custom-select:after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: #bbb;
        color: white;
        
        pointer-events:none;
        
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0;
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }
    
    
.home-page {/*width: 1040px;*/ max-width: 1170px; height: 100%; margin:0; padding:0; color:#fff; background:#55ABCA url(../images/bk-white.jpg) repeat-x top center;}   
.home-page-left {/*width: 728px;*/ height: auto; background:#CACACA; float:left; color:#333; background:#fefefe url(../images/bk-white.jpg) repeat-x top center; background:#fff;}   
.home-page-right {/*width: 312px;*/ padding:15px 6px 0 6px; height: auto; float:right;  background:#55ABCA url(../images/bk-bluenew.jpg) repeat-x top center; }  

#u_0_1 {color:#fff!important;}
#u_0_3 {color:#fff!important;}

.block-right-home {width:300px; height:auto; /*margin:5px auto 10px auto;*/ margin: 0; color:#000;}
.block-right-home-title {
	height:40px;
	line-height:39px;
	padding-left:10px;
	color:#0092B6;
	background: #fff; 
	font-size:14px;
	border-bottom:2px solid #0092B6;
	/*background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); 
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); 
	background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); 
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); */

}
.block-right-home-inside {/*background:#EDEFF4;*/ background:#f1f1f1; /*border:2px solid #fff;*/}
.block-right-home-inside:hover {background:#fff;}
.block-right-home-inside-image{float:left; margin:5px 10px 5px 10px;}
.block-right-home-inside-text{float:left; width: 240px; margin-top:3px;}
.block-right-home-inside-line {clear:both; border-top:1px dotted #0092B6;}
.pam {background:#fff!important;}


.block-left-home {width:100%; height:auto; /*margin:5px auto 10px auto;*/ margin: 0; color:#000; border:1px solid #0092B6;}
.block-center {width:100%; height:auto; margin: 0; color:#000; border:1px solid #0092B6;}
.block-left-home-title {
	height:40px;
	line-height:39px;
	padding-left:10px;
	color:#fff;
	background: #55ABCA; 
	font-size:14px;
	border-bottom:2px solid #0092B6;
	/*background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); 
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); 
	background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); 
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); */

}
.block-left-home-inside {/*background:#EDEFF4;*/ /*background:#f1f1f1;*/ /*width:348px;*/ /*height:63px;*/ height:75px; float:left; border-right:1px solid #0092B6; border-bottom:1px solid #0092B6; overflow: hidden;}
.block-left-home-inside:hover {background:#f1f1f1;}
.block-left-home-inside-image{float:left; margin:5px 10px 5px 10px;}
.block-left-home-inside-text{/*float:left; width: 285px; margin-top:3px;*/ margin-top: 4px; height: 66px; overflow: hidden;}
.block-left-home-inside-line {}


.jcarousel-skin-tango .jcarousel-container-horizontal{width:683px;padding-left:43px}
.jcarousel-skin-tango .jcarousel-container-vertical{width:75px;height:245px;padding:40px 20px}
.jcarousel-skin-tango .jcarousel-clip-horizontal{width:640px;height:193px}
.jcarousel-skin-tango .jcarousel-clip-vertical{width:75px;height:245px}
.jcarousel-skin-tango .jcarousel-item{width:160px;height:185px}
.jcarousel-skin-tango .jcarousel-item-vertical{margin-bottom:10px}
.jcarousel-skin-tango .jcarousel-item-placeholder{background:#fff;color:#000}
.jcarousel-skin-tango .jcarousel-next-horizontal,.jcarousel-skin-tango .jcarousel-next-horizontal:hover,.jcarousel-skin-tango .jcarousel-next-horizontal:active{position:absolute;top:48px;right:3px;width:22px;height:35px;cursor:pointer;background:transparent url(../images/split.png) no-repeat -129px -674px}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active{background:transparent url(../images/split.png) no-repeat -153px -674px;cursor:default}
.jcarousel-skin-tango .jcarousel-prev-horizontal,.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,.jcarousel-skin-tango .jcarousel-prev-horizontal:hover{position:absolute;top:48px;left:8px;width:22px;height:35px;cursor:pointer;background:transparent url(../images/split.png) no-repeat -152px -637px}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active{cursor:default;background:transparent url(../images/split.png) no-repeat -129px -637px}.jcarousel-skin-tango .jcarousel-next-vertical{position:absolute;bottom:5px;left:43px;width:32px;height:32px;cursor:pointer;background:transparent url(next-vertical.png) no-repeat 0 0}.jcarousel-skin-tango .jcarousel-next-vertical:hover{background-position:0 -32px}.jcarousel-skin-tango .jcarousel-next-vertical:active{background-position:0 -64px}.jcarousel-skin-tango .jcarousel-next-disabled-vertical,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active{cursor:default;background-position:0 -96px}.jcarousel-skin-tango .jcarousel-prev-vertical{position:absolute;top:5px;left:43px;width:32px;height:32px;cursor:pointer;background:transparent url(prev-vertical.png) no-repeat 0 0}.jcarousel-skin-tango .jcarousel-prev-vertical:hover{background-position:0 -32px}.jcarousel-skin-tango .jcarousel-prev-vertical:active{background-position:0 -64px}.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active{cursor:default;background-position:0 -96px}

.calendar-font{font-family:Arial, sans-serif}
.calendar-outliner{border:1px solid #efeeeb;padding:5px 3px;margin-bottom:20px}
.calendar-wrapper{overflow:hidden;clear:both;margin-top:0;}
.calendar-wrapper .jcarousel-skin-tango .jcarousel-clip-horizontal,.calendar-wrapper .jcarousel-item{height:auto}
.calendar-wrapper .jcarousel-prev,.calendar-wrapper .jcarousel-next{width:2%;/*height:22px;*/font-size:2.25em;vertical-align:middle;color:#55abca}
.calendar-wrapper .jcarousel-prev:hover,.calendar-wrapper .jcarousel-next:hover{color:#0080ae}
.calendar-wrapper .jcarousel-next{text-align:right}
.calendar-wrapper .jcarousel-prev-disabled,.calendar-wrapper .jcarousel-next-disabled{color:#808285}
.calendar-wrapper .jcarousel-prev-disabled:hover,.calendar-wrapper .jcarousel-next-disabled:hover{color:#808285}.calendar-wrapper .calendar-header h2,.calendar-wrapper .calendar-header .registration-container .bordered-text span,.registration-container .bordered-text .calendar-wrapper .calendar-header span{font-size:14px;margin-left:2%}.calendar-wrapper .calendar-header h2 span,.calendar-wrapper .calendar-header .registration-container .bordered-text span span,.registration-container .bordered-text .calendar-wrapper .calendar-header span span{padding-left:10px}.calendar-wrapper .calendar-header .your-timezone{text-align:right;margin-right:2%}.calendar-wrapper .calendar-header .your-timezone .zone:after{content:'|';margin:0 4px 0 7px}.calendar-wrapper .calendar-header .your-timezone a{font-size:11px}.calendar-wrapper .calendar-header span{font-size:12px;font-weight:normal}.calendar-wrapper .calendar-header span.label{font-weight:bold}.calendar-wrapper li{height:auto}.calendar-wrapper li.jcarousel-item{width:142px}.calendar-wrapper li .calendar-day{padding:0 1px}.calendar-wrapper li .calendar-day h2,.calendar-wrapper li .calendar-day .registration-container .bordered-text span,.registration-container .bordered-text .calendar-wrapper li .calendar-day span{font-size:12px;text-align:center;height:27px;margin-bottom:3px;background-color:#55abca;color:white}.calendar-wrapper li .calendar-day h2 span,.calendar-wrapper li .calendar-day .registration-container .bordered-text span span,.registration-container .bordered-text .calendar-wrapper li .calendar-day span span{display:inline-block;margin:6px 0}.calendar-wrapper li.current h2.header,.calendar-wrapper li.current .registration-container .bordered-text span.header,.registration-container .bordered-text .calendar-wrapper li.current span.header{background-color:#0080ae}
.calendar-wrapper li.current .calendar-day-wrapper{border:solid 1px #0080ae;min-height:134px;position:relative}.calendar-wrapper li.current .calendar-day-wrapper.no-episodes{border:none}.calendar-wrapper li .calendar-entry:nth-child(odd){background-color:#efeeeb}.calendar-wrapper li .calendar-entry .calendar-entry-content{padding:5px 10px 3px 10px;overflow:hidden;min-height:42px;font-size:10px;font-weight:normal}.calendar-wrapper li .calendar-entry .calendar-entry-content a.show-title{font-size:12px;font-family:Arial, sans-serif}.calendar-wrapper li .calendar-entry .calendar-entry-content a.episode-title{color:#505050;font-family:Arial, sans-serif;font-size:11px}.calendar-wrapper li .calendar-entry .calendar-entry-content a.episode-title:after{padding-left:2px;content:"»"}.calendar-wrapper li .calendar-entry .calendar-entry-content .airing-info{color:#5a5d63;font-family:Arial, sans-serif;overflow-x:hidden}#calendar-container{width:100%;float:left;visibility:hidden}#calendar-container .jcarousel-clip{width:96%;overflow:hidden;float:left}#calendar-container ul{overflow:hidden;padding:0;margin:0;min-height:136px}.home-calendar .calendar-header h2,.home-calendar .calendar-header .registration-container .bordered-text span,.registration-container .bordered-text .home-calendar .calendar-header span{margin-left:3%}.home-calendar .calendar-header .tvlistings-links{margin-right:3%}
.home-calendar .calendar-header .full-calendar-link{margin-left:5px;padding-left:8px;font-family:Arial;border-left:solid 1px #cacbcd;vertical-align:middle}
.home-calendar #calendar-container{/*height:608px*/}
.home-calendar #calendar-container .show-ep-info{width:73%;float:left}
.home-calendar #calendar-container .airing-info{float:right;width:25%;font-size:11px;color:#505050}
.home-calendar #calendar-container .jcarousel-clip{width:675px;}
.home-calendar #calendar-container .jcarousel-clip li.jcarousel-item{width:225px}
.home-calendar #calendar-container .jcarousel-clip li.jcarousel-item .calendar-day-wrapper{min-height:550px}
.home-calendar #calendar-container .jcarousel-prev,.home-calendar #calendar-container .jcarousel-next{width:3%}.home-calendar #calendar-container li.current .calendar-day-wrapper{border:none}body.calendar.index .home-calendar #calendar-container{height:auto}body.calendar.index .home-calendar #calendar-container li.current .calendar-day-wrapper{border:solid 1px #0080ae}.profile.calendar-wrapper #calendar-container .jcarousel-clip{width:994px;overflow:hidden;float:left}.profile.calendar-wrapper #calendar-container .jcarousel-prev,.profile.calendar-wrapper #calendar-container .jcarousel-next{width:19px}.profile.calendar-wrapper li .calendar-entry .calendar-entry-content{min-height:0px}body.calendar.index .home-calendar li.current h2.header,body.calendar.index .home-calendar li.current .registration-container .bordered-text span.header,.registration-container .bordered-text body.calendar.index .home-calendar li.current span.header,body.calendar.index .home-calendar li.current .entries,.profile.calendar-wrapper li.current h2.header,.profile.calendar-wrapper li.current .registration-container .bordered-text span.header,.registration-container .bordered-text .profile.calendar-wrapper li.current span.header,.profile.calendar-wrapper li.current .entries{position:relative;top:-1px}body.calendar.index .home-calendar li.current .no-episodes h2.header,body.calendar.index .home-calendar li.current .no-episodes .registration-container .bordered-text span.header,.registration-container .bordered-text body.calendar.index .home-calendar li.current .no-episodes span.header,.profile.calendar-wrapper li.current .no-episodes h2.header,.profile.calendar-wrapper li.current .no-episodes .registration-container .bordered-text span.header,.registration-container .bordered-text .profile.calendar-wrapper li.current .no-episodes span.header{position:inherit}


.groundwork {background-image: url(../images/casing-home-top.png); background-position: top; background-color:#fff; background-repeat: repeat-x;}
.width180px {width:200px; }
.fontmoderation {font-size:18px; margin-left:15px;}
.height30px { height:70px; line-height:70px;}

.deletelinks a {background:#cc0000; width:30px; height:20px; display:block; color:#fff; line-height:16px; text-align:center; padding:0; border-radius: 2px; border: 2px solid #cc0000;}
.deletelinks:hover a i {background:#cc0000!imporant; color:#000;}


.title-series:hover {color:#55ABCA;}
.more-info-links:hover {color:#55ABCA;}


@media (max-width: 1080px) {
/*////////////////////////
// < 1080px
/////////////////////////*/
    .responsive-lg {
        width: 95%;
    }
    .responsive-lg-full {
        width: 100%;
    }

	.home-page-right {
		padding:0;
	}

	.home-page-left {
		width: 100%;
	}

	.home-calendar #calendar-container .jcarousel-clip {
		width: 100%;
	}

	.home-calendar #calendar-container .jcarousel-clip li.jcarousel-item {
		width: 100%;
	}

	.footer {
		width: 100%;
	}

	#menu, #menu-top, #header-2, .sign_in {
		display: none;
	}

	#logo-minimized {
		display: initial !important;
		font-size: 18px;
	}

	.search-box {
		margin: 0 auto;
	}
	.calendar-day h2 {
		text-align: left !important;
		padding-left:10px;
	}
	#header-3 {
		width: 100%;
		height: 45px;
	}

	#header-1 {
		width: 100%;
		margin:0;
		text-align: center;
	}

}

@media (min-width: 1081px) {
/*////////////////////////
// > 1080px
/////////////////////////*/

	.home-page-left {
		width: 828px;
		padding: 15px;
	}
}

@media (min-width: 1081px) and (max-width: 1200px) {
/*////////////////////////
// > 1080px
/////////////////////////*/

	.home-page-left {
		width: 628px;
		padding: 15px;
	}
}


@media (max-width: 500px) {
	/*.responsive-table-line td:before { content: attr(data-title); }*/
	.responsive-table-line table, 
	.responsive-table-line thead, 
	.responsive-table-line tbody, 
	.responsive-table-line th, 
	.responsive-table-line td, 
	.responsive-table-line tr { 
		display: block; 
		width: 100%;
	}
	 
	.responsive-table-line thead tr { 
		display:none;
	}
	.responsive-table-line td { 
		position: relative;
		border: 0px solid transparent;
		padding-left: 0 !important; 
		white-space: normal;
		text-align:right; 
	}
	 
	.responsive-table-line td:before { 
		position: absolute;
		top: 0px;
		left: 0px;
		width: 45%; 
		padding-right: 15px; 
		height:100%;
		white-space: nowrap;
		text-overflow: ellipsis !important;
		overflow:hidden !important;
		text-align:left;
		background-color:#f8f8f8;
		padding:2px;
	}

	#myTable td { 
		border: 0;
		text-align: left;
	}

	.responsive-table-line tbody tr {
		border-bottom: 1px solid #000000; */
	}


	.info {
		float:initial !important;
	}
}

.list-movies-li 
{
	padding-right: 10px !important;
	padding-left: 10px !important;
}


.download_now_mouseover {
	width: 145px;
	height: 35px;
	display: block;
	background-image: url(/images/download_button_hover.gif);
}
.download_now_mouseover:hover {
	width: 145px;
	height: 35px;
	background-image: url(/images/download_button_hover.gif);
	background-position: 0 -35px;
}

.dnmo {
	width: 145px;
	height: 35px;
	display: block;
	background-image: url(/images/download_button_hover.gif);
}
.dnmo:hover {
	width: 145px;
	height: 35px;
	background-image: url(/images/download_button_hover.gif);
	background-position: 0 -35px;
}

/*////
// Custom Google Calendar
////*/
.st-bg { background:black; }
.st-bg-today { background:yellow; border-left:1px solid yellow; border-right:1px solid yellow; }
.st-dtitle { background:white; }

.fb-like-header {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.no-padding {
	padding:0 !important;
	padding-left:0 !important;
	padding-right:0 !important;
}

.schedule-table {
	width: initial !important;
}
.schedule-table-title {
	height: initial !important;
}
.schedule-table-title a {
    display: block;
    padding: 10px;
    background-color: #55ABCA;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}
.schedule-table-title a:hover {
	background-color: #4FA0BB;
}
.schedule-table-title div {
    background: #85C6DE;
    border-color: #85C6DE;
}

.episode-buttons {
    position: relative;
    float: right;
    margin-top: -12px;
}
@media (max-width: 500px){
	.g-recaptcha
	{
		transform:scale(0.77);
		transform-origin:0;
		-webkit-transform:scale(0.77);
		transform:scale(0.77);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}

/*////
// Player box
////*/
#player {
	margin: 0;
	background: #fff;
}

#player .title {
	width: 100px;
	float: left;
	padding-top: 2px;
}

#player .title img {
	max-height: 100px;
	max-width: 100px;
}

#player .social-link {
	text-align:center;
}

#player .social-link a {
	color: #000;
	font-size: 11px;
}

#player .social-link a:hover {
	color: #FF5722;
	text-decoration: none;
}

#player .embed-player {
	margin: 0;
	padding: 0;
	margin-left: 100px;
}

.btn-blue {
    padding: 0;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #44BBC9;
    border: 0;
    border-bottom: 2px solid #27A0AD;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #27A0AD;
    box-shadow: inset 0 -2px #27A0AD;
    position: relative;
    width: 130px;
    height: 28px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 25px;
    font-family: 'Oswald', Helvetica;
    display: block;
    margin: 10px 20px 15px 20px;
    font-size: 14px;
}

.btn-blue {
    padding: 0;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #44BBC9;
    border: 0;
    border-bottom: 2px solid #27A0AD;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #27A0AD;
    box-shadow: inset 0 -2px #27A0AD;
}
.btn-red {
    padding: 0;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #e89200;
    border: 0;
    border-bottom: 2px solid #cd8100;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #cd8100;
    box-shadow: inset 0 -2px #cd8100;
}
.btn-small {
    position: relative;
    width: 130px;
    width: 90%;
    height: 28px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 25px;
    font-family: 'Oswald', Helvetica;
    display: block;
    margin: 6px 20px 4px 20px;
    font-size: 14px;
}

.video-footer {
	font-size:15px;
}
.video-footer a {
	color:#888;
}
.video-footer a:hover {
	color:#333;
	text-decoration: none;
}
@media (min-width: 768px){
	.form-horizontal .control-label {
	    text-align: right;
	}
}
@media (max-width: 500px){
	.watch-all-ep-tab {
		display:none!important;
	}
}
@media (max-width: 1199px){
	.submit-profile {
	    text-align: center;
	}
}

.fa-br {
	margin-right: 5px;
}





        body {
            display:none;
            margin-top:50px;
        }

        ul.dropdown-menu li {
            float:none;
        }

        .form-control {
            font-size: 11px;
        }

        .search-mobile {
            display:none;
        }
        .search-screen {
            display:block;
        }

        @media (min-width: 1129px) and (max-width: 1430px){
	        .search-mobile {
	            display:block;
	        }
	        .search-screen {
	            display:none;
	        }
        }

        @media (min-width: 1130px){
	        .search-mobile-add {
	            display:none;
	        }
        }

        @media (max-width: 1129px){
	        .search-mobile {
	            display:none;
	        }
	        .search-screen {
	            display:none;
	        }
        }
        @media (min-width: 1130px) and (max-width: 1190px){
			#navbar>ul>li>a {
			    padding: 15px 6px 15px;
			}
        }

        @media (max-width: 1129px){
            .nav-avatar {
                display: none;
            }
        }
        @media (min-width: 768px) and (max-width: 1129px){
            .navbar-form .form-control {
                width: 100%;
            }
        }

        b, q, blockquote, strong, .nav a, .nav a:visited, .nav button {
            font-weight: 900;
        }

        .serie-header {
            background:#fff;
            padding:0;
            margin:0;
        }

        .bg-tr {
            background:none;
            padding: 0;
        }


        /* Serie page */

        .header-img img {
            width:100%;
        }

        .extended-infos {
            padding: 5px;
            line-height: 25px;
            font-family: Antic;
            letter-spacing: 0.2px;
            font-family: 'Trebuchet MS', Verdana, Arial;
            font-size: 15px;
        }
        .extended-infos a {
            color:#000;
        }
        .extended-infos a:hover {
            color: #ccc;
            text-decoration: none;
        }
        .extended-infos span.type {
            color:#636363;
        }

        .poster img {
            position: absolute;
            top: -150px;
            max-height: 200px;
            margin-left: 10px;
            -webkit-box-shadow: 0 0 20px 0px #666666;
            box-shadow: 0 0 20px 0px #666666;
            border: 3px solid #fff;
        }

        /*////////////////*/
        
        #summary-wrapper, .summary-wrapper {
            background-color: black;
            background-size: cover;
            background-position: 50% 10%;
            transition: all .5s;
            height: 550px;
            color: white;
            position: relative;
        }

        .mobile-poster {
            display:none;
        }

        .shadow-base {
            height: 75px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
            background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
            background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#4D000000', GradientType=0);
        }
        #summary-wrapper .shadow-base, .summary-wrapper .shadow-base {
            height: 120px;
            bottom: 60px;
            background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
            background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
            background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
        }
        #summary-ratings-wrapper {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba(0,0,0,0.75);
        }
        #summary-ratings-wrapper .container {
            height: 60px;
            padding-top: 15px;
        }
        #summary-ratings-wrapper ul {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        #summary-ratings-wrapper ul li {
            display: inline-block;
            margin: 0 30px 0 0;
            padding: 0;
            min-width: 0px;
            transition: all .6s;
        }
        #summary-ratings-wrapper ul li .icon {
            float: left;
            font-size: 30px;
            vertical-align: top;
            text-shadow: 0 0 20px black;
            margin-right: 7px;
        }
        #summary-ratings-wrapper ul li .number {
            float: left;
            line-height: 1;
            color: #fff;
            text-shadow: 0 0 20px black;
        }
        #summary-ratings-wrapper ul li .number .rating {
            font-family: "Oswald";
            font-size: 18px;
        }
        #summary-ratings-wrapper ul li .number .votes {
            font-size: 12px;
            color: #aaa;
        }
        #summary-ratings-wrapper ul li .number .votes {
            font-size: 12px;
            color: #aaa;
        }

        #summary-ratings-wrapper ul li:last-child {
            margin-right: 0;
        }
        #summary-ratings-wrapper ul.stats {
            margin-left: 30px;
        }



        #summary-wrapper .summary, .summary-wrapper .summary {
            height: 100%;
            position: relative;
            bottom: 70px;
        }
        #summary-wrapper .summary .container, .summary-wrapper .summary .container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        #summary-wrapper .mobile-poster, .summary-wrapper .mobile-poster {
            display: none;
        }
        #summary-wrapper .summary .container h1, .summary-wrapper .summary .container h1 {
            margin: 0;
            text-shadow: 0 0 20px black;
            line-height: 1.2;
            font-family: Oswald;
            font-size: 35px;

            letter-spacing: 2px;
            text-transform: uppercase;
        }
        #summary-wrapper .summary .container h1 .year, .summary-wrapper .summary .container h1 .year {
            font-family: Oswald;
            font-size: 25px;
            color: #999999;
            margin-right: 10px;
        }
        .certification, #summary-wrapper .summary .container .certification, .summary-wrapper .summary .container .certification {
            display: inline-block;
            border: solid 1px #fff;
            font-size: 12px;
            padding: 2px 4px 1px 4px;
            border-radius: 2px;
            vertical-align: middle;
            font-family: Oswald;
            transition: all .5s;
            cursor: pointer;
        }
        .certification:hover, #summary-wrapper .summary .container .certification:hover, .summary-wrapper .summary .container .certification:hover {
            background-color: #fff;
            color: #000;
        }
        @media (max-width: 991px){
            .poster {
                display: none;
            }
        }


        .serie-tab li a, .ep-tab li a {
            color:#000;
            font-size: 14px;
        }

        .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
            border-top: 2px solid #00CEFF;
        }

        .accordion-heading {
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 5px;
            border-top: solid 2px #00CEFF;
            border-bottom: solid 2px #D6F7FF;
        }

        a.accordion-toggle {
            font-weight: 800;
            font-size: 13px;
            color: #00CEFF;
        }

        .table-link {
            color:#333;
        }

        /* END: Serie page */

        /* Main style */
        footer {
            width: 100%!important;
            height: 60px!important;
            background-color: #f5f5f5!important;
        }

        .footer a {
            color: #5BC0DE;
        }
        .footer a:hover {
            color: #333;
        }

        /* END: Main style */



        /* Episode page */

        .push_button {
            margin: 0;
        }
        .episode-buttons {
        	display:inline-block;
            float: none;
            width: 100%;
            text-align: right;
            margin-top: -35px;
        }

        .episode-buttons a {
            display: inline-block;
        }

        .nextprev a {
            min-width: 146px;
            margin-top: 5px;
        }
        .nextprev a:hover {
            color:#000;
        }

        .table-links td {
            font-size: 13px;
        }

        .fEp {
            color:red;
        }

        #linktable table a.buttonlink {
            font: 12px Tahoma;
            background: none repeat scroll 0 0 #fff;
            border: 1px solid #ccc;
            color: #000;
            padding: 5px 10px;
            border-radius: 3px;
            text-decoration: none;
        }
        #linktable table a.buttonlink:hover {
            background: none repeat scroll 0 0 #f1f1f1;
        }

        .tab-content #links {
            margin-top: 15px;
        }

        @media (max-width: 700px){
	        .episode-buttons a.btn {
	        	display:block;
	        	margin-bottom: 5px;
	        }
        }


        /* END: Episode page */


        /* Search BAR */

		#search {
		    position: fixed;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 100%;
		    background-color: rgba(0, 0, 0, 0.7);
		    
		    -webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;

		    -webkit-transform: translate(0px, -100%) scale(0, 0);
			-moz-transform: translate(0px, -100%) scale(0, 0);
			-o-transform: translate(0px, -100%) scale(0, 0);
			-ms-transform: translate(0px, -100%) scale(0, 0);
			transform: translate(0px, -100%) scale(0, 0);
		    
		    opacity: 0;
		}

		#search.open {
		    -webkit-transform: translate(0px, 0px) scale(1, 1);
		    -moz-transform: translate(0px, 0px) scale(1, 1);
			-o-transform: translate(0px, 0px) scale(1, 1);
			-ms-transform: translate(0px, 0px) scale(1, 1);
			transform: translate(0px, 0px) scale(1, 1); 
		    opacity: 1;
		}

		#search input[type="search"] {
		    position: absolute;
		    top: 50%;
		    width: 100%;
		    color: rgb(255, 255, 255);
		    background: rgba(0, 0, 0, 0);
		    font-size: 60px;
		    font-weight: 300;
		    text-align: center;
		    border: 0px;
		    margin: 0px auto;
		    margin-top: -51px;
		    padding-left: 30px;
		    padding-right: 30px;
		    outline: none;
		}
		#search .btn {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-top: 61px;
		    margin-left: -45px;
		}
		#search .close {
		    position: fixed;
		    top: 55px;
		    right: 15px;
		    color: #fff;
			background-color: #428bca;
			border-color: #357ebd;
			opacity: 1;
			padding: 10px 17px;
			font-size: 27px;
		}
        /* END: Search BAR */
