@font-face {
  font-family: 'Coustard';
  font-style: normal;
  font-weight: 900;
  src: local('Coustard-Black'), url(http://fonts.gstatic.com/s/coustard/v6/zZrOBKsm_2zXTCex2CMWjZ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
