
	.ring, .Banner_Top, .header .links_two, .header .search, .header .teaser, #popup_regions_button, .tabs_container, .partner1, .socialwrap, .banner_560_180, .comments, .mkform_comments, .comments-header, #commentsLoader, .info_footer, .footer_shadow, .article .content .tools, .menu, .left, .right, .Yandex_bottom, .news_more, a.mkblock, hr {
		display:none !important;
	}

	.header .links_one {
		float:right;
	}

	.article {
		width: 1000px;
		float:none;
	}

	.article .content {
		width: 800px;
		padding-left: 20px;
		padding-top: 20px;
	}
	#footer {
		border-top: 1px solid #e7e7e7;
		padding-top: 20px;
		margin-top: 20px;
	}
	.article_info {
		padding-left: 20px;
	}

a {
	color:inherit;
}
