@media (max-width: 767px) {
    .wrap {
        min-width: 320px;
        width: 100%;
    }

    .header .teaser {
        width: 225px;
    }

    .header .logo {
        width: 30%;
        padding-top: 7px;
    }

    .header .logo a {
        height: 70px;
        display: block;
        background: url('/media/img/mk.ru/____i-img/logo-mk-index.png') no-repeat center center;
        background-size: 100%;
    }

    .header .logo img {
        display: none;
    }

    .header .logo img {
        width: 100%;
    }

    .right, .left, .breaking-news, .article-footer, .info_footer, .footer_shadow, .Yandex_bottom,
    .main hr, .tools, .mk_main_shadow_left, .region_top_banner, .articles_top, .banner_560_180_main,
    .video_listing_container, .mkblock, .photorep_listing_main, .hor_block_projects, .mk_main_shadow_right,
    .partner_on_mainpage, .left_wide {
        display: none;
    }

    .footer_copy {
        width: 100%;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
    }

    .footer_shadow + hr {
        display: none;
    }

    .article {
        width: 100%;
    }

    .article .content {
        width: 100%;
    }

    .main {
        width: 100%;
        margin-top: 10px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .center_narrow {
        width: 100%;
    }

    .article .art_photo {
        width: 100%;
    }

    .article .art_photo .art_photo_img {
        max-width: 100%;
    }

    div[id^="video"] {
        width: 100% !important;
    }

    .partner1 {
        overflow: hidden;
        display: none;
    }

    .mkform_comments {
        overflow: hidden;
        margin-left: -10px;
    }

    ul.big_listing .big_listing_img {
        width: 100%;
        margin: 0 10px 5px 0;
    }

    ul.big_listing li:first-child, ul.big_listing li {
        padding-right: 0;
    }

    center {
        width: 100%;
        overflow: hidden;
    }

    .main .center {
        width: 100%;
    }

    .main .center h1 {
        margin-left: 0;
    }

    .mobile-banner {
        margin: 20px 0;
        display: block !important;
        text-align: center;
    }

    .reach-banners {
        display: none;
    }

    .mobile-top-links {
        height: 70px;
        margin-left: 5px;
        float: left;
        background: url('/media/img/mk.ru/mk_shadow_header.jpg') left 5px no-repeat;
        background-size: 17px 100%;
        overflow: hidden;
    }

    .mobile-top-links a {
        margin-left: 5px;
        padding: 0 7px;
        display: inline-block;
        font-size: 10px;
        /*font-weight: bold;*/
        color: #fff;
        letter-spacing: 1px;
        line-height: 1.6;
        text-transform: uppercase;
        text-shadow: #9D9898 1px 1px;
    }

    .mobile-top-links-news {
        background-color: rgba(190, 43, 46, 0.6);
        margin: 24px 0 5px;
    }

    .mobile-top-links-newspaper {
        background-color: rgba(40, 95, 150, 0.6);
    }

    ul.big_listing .big_listing_photoreport_img {
        width: 100%;
    }

    .photoreport_big table {
        width: 100%;
    }

    .gallery-table-ltcol, #gallery-info {
        display: none;
    }

    .photoreport_img_container {
        display: block;
    }

    .photoreport_img_stage {
        display: block;
        width: 100%;
        height: 100% !important;
    }

    .photoreport_next, .photoreport_prev {
        height: 100% !important;   
    }

    .photoreport_img {
        max-width: 90% !important;
        /*margin-top: 30px;*/
    }

    .xs_close_button {
        margin: 10px;
        padding: 5px 35px 5px 10px;
        position: relative;
        display: inline-block !important;
        float: right;
        background: url('/media/img/mk.ru/ico_close.gif') 70px 6px no-repeat;
        border: 1px solid rgb(53, 53, 53);
        text-decoration: none;
        color: gray;
        z-index: 1000;
    }

    .video_listing_top {
        padding-right: 0;
        margin-left: 0;
    }

    .videolist-item {
        width: 50%;
        margin-left: 0;
    }

    .videolist-item-video {
        width: 90%;
        height: 120px;
    }

    .videolist-item-info {
        width: 90%;
    }

    .video_big {
        width: 100%;
        margin-left: 0;
    }

    #jwPlayerBox_wrapper {
        width: 100% !important;
    }

    .mobile-switch-link {
        padding: 2px 0;
        display: block !important;
        color: grey;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1.7;
        text-align: center;
        background-color: rgba(210, 218, 210, 0.42);
    }

    .mobile-article-list {
        display: block !important;
    }

    .photorep_listing_main li:last-child {
        display: none;
    }

    .photorep_listing_main li {
        width: 100%;
    }

    .photorep_listing_main li p {
        margin: 5px 0 20px;
    }

    .photorep_listing_main li p a {
        font-size: 1.4em !important;
    }

    .photorep_listing_main {
        margin-left: 0 !important;
    }

    .week_themes2 {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .xs-top-video {
        width: 100%;
    }

    .video_container {
        width: 100%;
    }

    .xs-top-video .video_container {
        margin-left: 0;
    }

    .xs-top-video .video_today_info {
        padding-left: 0;
    }

    .xs-top-video p {
        margin-left: 0;
    }

    .mobile-article-photo .photorep_listing_main li {
        display: none;
    }

    .mobile-article-photo .photorep_listing_main li:first-child {
        display: block;
    }

    .mobile-banner-overflow {
        display: block !important;
        width: 100%;
        overflow: hidden;
    }

    .mobile-banner-direct-inner {
        display: none;
        margin-bottom: 12px;
    }

    .comments-header {
        /*margin-top: 15px;*/
    }

    ul.big_listing li:first-child .mkh2 {
        font-size: 1.4em;
    }

    .mobile-hotnews li {
        display: none;
    }

    .mobile-hotnews li:nth-child(-n+3){
        display: block;
    }

    .mobile-article-list .photorep_listing_main li {
        display: none;
    }

    .mobile-article-list .photorep_listing_main li:first-child {
        display: block;
    }

    .mobile-article-list .video_today_info, .mobile-article-list .photo_right_info {
        width: 100%;
        padding: 0;
        padding-top: 4px;
        margin-bottom: 0;
        background: none;
    }

    .mobile-article-list .video_today_info a, .mobile-article-list .photo_right_info a {
        color: #333;
        font-size: 1.4em;
        margin-bottom: 0;
    }

    .mobile-article-list .right_block {
        background: none;
    }

    .mobile-top-banner {
        overflow: hidden;
    }

    .comments-wrapper {
        display: none;
    }

    .mkform_comments_wrap {
        height: auto !important;
        margin-top: 15px;
    }

    .mkform_comments {
        box-sizing: border-box;
        padding: 15px;
    }

    .mkform_comments_floating {
        width: 100% !important;
    }

    .mobile-button {
        display: block !important;
        text-align: center;
        margin: -10px 0 10px;
        padding: 5px;
        background: #9dabb3;
        background: -webkit-gradient(linear, left top, left bottom, from(#a4b4bd), to(#859197));
        background: -webkit-linear-gradient(top, #a4b4bd, #859197);
        background: -moz-linear-gradient(top, #a4b4bd, #859197);
        background: -ms-linear-gradient(top, #a4b4bd, #859197);
        background: -o-linear-gradient(top, #a4b4bd, #859197);
        background-image: -ms-linear-gradient(top, #a4b4bd 0%, #859197 100%);
        color: white;
        text-shadow: 1px 1px 0px #6b777e;
        -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .load-news {
        margin-top: 5px;
    }

    .news_list_big li {
        display: none;
    }

    .news_list_big li:nth-child(-n+10) {
        display: block;
    }

    .news_list_big h2 {
        display: none;
    }

    .header .logo .region_in_logo {
        bottom: 0;
        top: 0;
        padding: 0 0 10px 3px;
        opacity: 0.9;
        position: relative;
        background: none;
        white-space: nowrap;
        text-align: left;
    }

    .i-storie-top {
        display: none;
    }

    .alt-list-item__img {
        width: 100% !important;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .alt-list-item__cnt {
        width: 100%;
    }

    .alt-list-item--special {
        width: 100%;
        padding: 0;
    }

    .alt-list-item--special .alt-list-item__cnt {
        width: 100%;
        padding: 0 10px 10px 10px;
        box-sizing: border-box;
    }
}

@media (max-width: 640px) {
    .header .logo .region_in_logo {
        font-size: 80%;
        margin-top: -5px;
    }
}

@media (max-width: 480px) {
    .header .logo .region_in_logo {
        margin-top: -15px;
    }

    html, body {
        max-width: 100%;
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.popup_first_regions {

}

.navbarxs {
    background-color: #444349;
    display: none;
}

.navbarxs-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 24px 10px 0 0;
    background-color: #444349;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    -moz-transition: all, 0.3s, ease-in;
    -o-transition: all, 0.3s, ease-in;
    -webkit-transition: all, 0.3s, ease-in;
    transition: all, 0.3s, ease-in;
    cursor: pointer;
}

.navbarxs-toggle:hover, .navbarxs-toggle.active {
    background-color: #2A2B2E;
}

.navbarxs-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}

.navbarxs-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbarxs-wrap {
    padding: 10px 0;
}

.navbarxs li:hover {
    background-color: #2A2B2E;
}

.navbarxs a {
    display: block;
    padding: 6px 0 6px 15px;
    font-size: 16px;
    color: #fff;
}

.navbarxs-submenu {
    display: none;
}

.navbarxs-submenu a {
    display: block;
    color: #fff;
    padding: 4px 0 4px 25px;
    font-size: 14px;
}

.navbarxs-search {
    padding: 5px 15px;
}

.navbarxs-search input {
    width: 100%;
    height: 26px;
    padding: 0 10px;
    font-size: 14px;
    color: #444349;
    border: 1px solid #444349;
    background: #F4F1F1;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbarxs li.sep {
    border-bottom: 1px dotted #736E6E;
    margin: 4px 15px 2px;
}

.regionsxs {
    position: fixed;
    width: 240px;
    padding: 20px;
    top: 50px;
    left: 50%;
    margin-left: -140px;
    z-index: 110;
    background: #fff;
}

.regionsxs-select {
    margin-bottom: 20px;
    width: 240px;
}

.regionsxs-controls {
    text-align: center;
}

.regionsxs-submit {
    padding: 15px 60px;
    display: block;
    margin: 0 auto 10px auto;
}

.resplinks {
    margin: -15px 0 20px 0;
    font-size: 110%;
}

.resplinks li {
    display: inline-block;
    vertical-align: top;
}

.resplinks li:before {
    display: inline-block;
    vertical-align: top;
    content: '/';
    margin: 0 10px;
}

.resplinks li:first-child:before {
    display: none;
}

/* Main styles for responsive design by Twitter Bootstrap */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }

    .visible-xs-block {
        display: block !important;
    }

    .visible-xs-inline {
        display: inline !important;
    }

    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }

    .visible-sm-block {
        display: block !important;
    }

    .visible-sm-inline {
        display: inline !important;
    }

    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }

    .visible-md-block {
        display: block !important;
    }

    .visible-md-inline {
        display: inline !important;
    }

    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }

    .visible-lg-inline {
        display: inline !important;
    }

    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }

    .hidden-print {
        display: none !important;
    }
}
