.photoreport_preview {
	margin: 0 auto;	
	ztop: 20px;
}	
.photoreport_preview .arrow-holder {
	height: 250px;
}		
.photoreport_preview .touchcarousel-item {
	width: 72px;
	height: 50px;
	text-align:left;
	/*margin-right: 1px;*/
}
.photoreport_preview .item-block {
	display: block;
}
.photoreport_preview .item-block img{
	width: 70px;
	height: 50px; 
	float: left;
	position: relative;
	display: block;
	margin: 0;			
	padding: 0;		
}

.photoreport_preview .item-block img.active {
	border-top:3px solid #45a8ce;
}

.photoreport_preview .item-block {
	text-decoration: none;
	color: inherit;			
}					

.photoreport_preview .scrollbar-holder {
	background: #CED7DB;
	bottom: 0;
	height: 1px;
	left: 0;
	right: 0;
}
.photoreport_preview .scrollbar {
	background-color: #45a8ce !important;
	bottom: 0;
}



.touchcarousel{position:relative;overflow:hidden; width:100%;}
.touchcarousel 
.touchcarousel-container{position:relative;margin:0;padding:0;list-style:none;left:0}
.touchcarousel .touchcarousel-wrapper{position:relative;overflow:hidden;width:100%;height:100%}
.touchcarousel .touchcarousel-item{margin:0;padding:0;float:left}
.touchcarousel .touchcarousel-item.last{margin-right:0!important}
.touchcarousel .arrow-holder{height:100%;width:45px;position:absolute;top:0;display:block;cursor:pointer;z-index:25}
.touchcarousel .arrow-holder.left{left:0}
.touchcarousel .arrow-holder.right{right:0}
.touchcarousel .arrow-icon{width:45px;height:90px;top:50%;margin-top:-45px;position:absolute;cursor:pointer}
.touchcarousel .arrow-holder.disabled{cursor:default}
.touchcarousel .arrow-holder.disabled .arrow-icon{cursor:default}
.touchcarousel .tc-paging-container{width:100%;overflow:hidden;position:absolute;margin-top:-20px;z-index:25}
.touchcarousel .tc-paging-centerer{float:left;position:relative;left:50%}
.touchcarousel .tc-paging-centerer-inside{float:left;position:relative;left:-50%}
.touchcarousel .tc-paging-item{float:left;cursor:pointer;position:relative;display:block;text-indent:-9999px}
.touchcarousel .scrollbar-holder{position:absolute;z-index:30;left:6px;right:6px;bottom:-10px;height:4px;overflow:hidden}
.touchcarousel .scrollbar{position:absolute;left:0;height:4px;bottom:0}
.touchcarousel .scrollbar.dark{background-color:#828282;background-color:rgba(0,0,0,0.5)}
.touchcarousel .scrollbar.light{background-color:#d2d2d2;background-color:rgba(255,255,255,0.5)}
.touchcarousel .grab-cursor li a {cursor:url('/media/img/design/grab.png') 8 8,move}
.touchcarousel .grabbing-cursor li a {cursor:url('/media/img/design/grabbing.png') 8 8,move}
.touchcarousel .auto-cursor{cursor:auto}
.touchcarousel.three-d .arrow-icon{top:0;background-image:url('sprite3d.png');background-repeat:no-repeat;width:19px;height:20px;margin-top:0}
.touchcarousel.three-d .arrow-holder{top:-23px;width:19px;height:20px;-moz-opacity:.8;-webkit-opacity:.8;opacity:.8}
.touchcarousel.three-d .arrow-holder.left{left:auto;right:26px}
.touchcarousel.three-d .arrow-holder.right{right:3px}
.touchcarousel.three-d .arrow-icon.left{left:0;background-position:-8px -14px}
.touchcarousel.three-d .arrow-icon.right{right:0;background-position:-173px -14px}
.touchcarousel.three-d .arrow-holder.disabled .arrow-icon.left{background-position:-43px -14px}
.touchcarousel.three-d .arrow-holder.disabled .arrow-icon.right{background-position:-138px -14px}
.touchcarousel.three-d .arrow-holder:hover{-moz-opacity:1;-webkit-opacity:1;opacity:1}
.touchcarousel.three-d .arrow-holder:active{-moz-opacity:.7;-webkit-opacity:.7;opacity:.7}
.touchcarousel.three-d .arrow-holder.disabled{-moz-opacity:1;-webkit-opacity:1;opacity:1}
.touchcarousel.three-d .tc-paging-container{width:auto;float:none;right:53px;margin-top:0;top:-21px}
.touchcarousel.three-d .tc-paging-centerer{float:none;position:relative;left:0}
.touchcarousel.three-d .tc-paging-centerer-inside{position:relative;left:0;float:none}
.touchcarousel.three-d .tc-paging-item{background:url('sprite3d.png') no-repeat -95px -4px;width:16px;height:16px;-moz-opacity:.8;-webkit-opacity:.8;opacity:.8}
.touchcarousel.three-d .tc-paging-item.current{background:url('sprite3d.png') no-repeat -95px -22px}
.touchcarousel.three-d .tc-paging-item:hover{-moz-opacity:1;-webkit-opacity:1;opacity:1}
.touchcarousel.minimal-light .arrow-icon{width:23px;height:28px;margin-top:-14px}
.touchcarousel.minimal-light .arrow-icon.left{left:5px;background:url('sprite-ml.png') no-repeat -6px -7px}
.touchcarousel.minimal-light .arrow-icon.right{right:5px;background:url('sprite-ml.png') no-repeat -173px -7px}
.touchcarousel.minimal-light .arrow-holder.disabled{-moz-opacity:1;-webkit-opacity:1;opacity:1}
.touchcarousel.minimal-light .arrow-holder.disabled .arrow-icon.left{background:url('sprite-ml.png') no-repeat -40px -7px}
.touchcarousel.minimal-light .arrow-holder.disabled .arrow-icon.right{background:url('sprite-ml.png') no-repeat -139px -7px}
.touchcarousel.minimal-light .arrow-holder{width:35px;-moz-opacity:.8;-webkit-opacity:.8;opacity:.8}
.touchcarousel.minimal-light .arrow-holder:hover{-moz-opacity:1;-webkit-opacity:1;opacity:1}
.touchcarousel.minimal-light .tc-paging-container{margin-top:-22px}
.touchcarousel.minimal-light .tc-paging-item{background:url('sprite-ml.png') no-repeat -95px -4px;width:16px;height:16px;-moz-opacity:.8;-webkit-opacity:.8;opacity:.8}
.touchcarousel.minimal-light .tc-paging-item.current{background:url('sprite-ml.png') no-repeat -95px -22px}
.touchcarousel.minimal-light .tc-paging-item:hover{-moz-opacity:1;-webkit-opacity:1;opacity:1}
.touchcarousel.grey-blue .arrow-icon{background-image:url('sprite-gb.png');background-repeat:no-repeat;width:11px;height:19px;margin-top:-9px}
.touchcarousel.grey-blue .arrow-holder{width:19px;height:100%;-moz-opacity:1;-webkit-opacity:1;opacity:1}
.touchcarousel.grey-blue .arrow-holder.left{left:-20px}
.touchcarousel.grey-blue .arrow-holder.right{right:-20px}
.touchcarousel.grey-blue .arrow-icon.left{left:0;background-position:-6px -15px}
.touchcarousel.grey-blue .arrow-icon.right{right:0;background-position:-186px -15px}
.touchcarousel.grey-blue .arrow-holder:hover .arrow-icon.left{background-position:-36px -15px}
.touchcarousel.grey-blue .arrow-holder:hover .arrow-icon.right{background-position:-156px -15px}
.touchcarousel.grey-blue .arrow-holder.disabled .arrow-icon.left{background-position:-66px -15px}
.touchcarousel.grey-blue .arrow-holder.disabled .arrow-icon.right{background-position:-126px -15px}
.touchcarousel.grey-blue .arrow-holder:hover{-moz-opacity:1;-webkit-opacity:1;opacity:1}
.touchcarousel.grey-blue .arrow-holder:active .arrow-icon{margin-top:-8px}.touchcarousel.grey-blue .arrow-holder.disabled{-moz-opacity:1;-webkit-opacity:1;opacity:1}.touchcarousel.grey-blue .tc-paging-item{background:url('sprite-gb.png') no-repeat -95px -4px;width:16px;height:16px;-moz-opacity:.8;-webkit-opacity:.8;opacity:.8}.touchcarousel.grey-blue .tc-paging-item.current{background:url('sprite-gb.png') no-repeat -95px -22px}.touchcarousel.grey-blue .tc-paging-item:hover{-moz-opacity:1;-webkit-opacity:1;opacity:1}.touchcarousel.black-and-white .arrow-icon{width:30px;height:30px;margin-top:-15px;background-image:url('sprite-bw.png');background-repeat:no-repeat;background-color:#323232;background-color:rgba(0,0,0,0.7);-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-opacity:.8;-webkit-opacity:.8;opacity:.8}.touchcarousel.black-and-white .arrow-holder{width:35px}.touchcarousel.black-and-white .arrow-holder:active .arrow-icon{-moz-opacity:.7!important;-webkit-opacity:.7!important;opacity:.7!important}.touchcarousel.black-and-white .arrow-icon.left{left:10px;background-position:-2px -6px}.touchcarousel.black-and-white .arrow-icon.right{right:10px;background-position:-175px -6px}.touchcarousel.black-and-white .arrow-holder:hover .arrow-icon{background-color:#1e1e1e;background-color:rgba(0,0,0,0.7);-moz-opacity:1;-webkit-opacity:1;opacity:1}
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.left{background-position:-39px -6px}
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.right{background-position:-138px -6px}
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.left,.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.right{background-color:#c8c8c8;background-color:rgba(0,0,0,0.3)}.touchcarousel.black-and-white .tc-paging-container{margin-top:-22px}.touchcarousel.black-and-white .tc-paging-item{background-image:url('sprite-bw.png');background-repeat:no-repeat;background-position:-95px -4px;width:16px;height:16px}.touchcarousel.black-and-white .tc-paging-item.current{background-position:-95px -22px}.touchcarousel.black-and-white .tc-paging-container{margin-top:-25px}.touchcarousel.black-and-white .tc-paging-centerer-inside{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-color:#323232;background-color:rgba(0,0,0,0.6);padding:2px 4px}