@charset "utf-8";
/*顶部*/
.top{ background-color:#f5f5f5; height:30px;line-height:30px; border-bottom:1px solid #ddd; width:100%;color:#999; }
.top a{padding:0 4px; display:inline-block;}
.top a:hover{color:#FF6600;}
.top a i{ width:7px; height:5px;background:url(../../../img/web/common/inico.png) no-repeat 0 -24px; display:inline-block; margin-left:4px}
.top span font{ position:absolute; background:#fff;border:1px solid #ccc; padding:4px; line-height:20px; width:90px; left:-6px; top:20px; z-index:999 }

.logo_box{height:88px;}
.logo_box a.logo{ float:left; margin-top:16px; margin-right:102px;}
.Search { float:left;height:36px; margin-top:18px; position:relative;}
.Search span{ background-color:#f5f5f5; height:37px; line-height:37px; width:68px; border-right:1px solid #e5e5e5; font-size:14px; text-align:center; cursor:pointer; float:left; display:inline-block; position:absolute; top:2px; left:2px;border-radius:4px 0 0 4px;}
.Search span:hover{ z-index:1;}
.Search span i{ width:7px; height:5px;background:url(../../../img/web/common/inico.png) no-repeat 0 -24px; display:inline-block; margin-left:4px}
.Search span font{ position:absolute; background:#f5f5f5;border:1px solid #ccc; border-top:0; padding:4px; line-height:20px; width:60px; left:-1px; top:36px; font-size:12px; z-index:1}

.Search input.ss_text{ width:350px; float:left; height:27px; line-height:27px; padding:5px 8px; border:2px solid #ff510c; font-size:12px; line-height:21px; color:#999; text-indent:70px;border-radius:4px 0 0 4px; }
.Search input.enter{ width:70px; border:none; height:41px; background-color:#FD6000; color:#fff; font-weight:bold; font-size:18px; cursor:pointer;float:left;border-radius:0 4px 4px 0; margin-right:5px;}
.Search input.enter01{ background:#1759c2; color:#fff; width:80px; float:left;border-radius:4px;}
.fabu{padding-top:17px}
.fabu a{float:left; height:34px; line-height:34px; padding:0 10px; font-size:14px; font-weight:bold; margin-top:3px;}
.fabu .enter{ background:#f2f2f2; color:#666; border:1px solid #e5e5e5;;border-radius:4px;}
.fabu .enter i{background: url(../../../img/web/common/ico.png) no-repeat -22px -259px; width:12px; height:14px; margin:9px 5px 0 0; float:left}
.fabu .enter:hover{text-decoration:underline; color:#000}
.fabu .enter01{ background:#f2f2f2; color:#666; border:1px solid #e5e5e5;border-radius:4px;}
.fabu .enter01:hover{text-decoration:underline;  color:#000}
.tougao{border:1px solid #ccc; padding:5px 15px; margin-top:12px; line-height:20px; height:40px}
/*顶部*/

/*底部*/
/*备注*/
.notes{ text-align:center; width:1190px; overflow:hidden; color:#666; padding:10px 0 10px 0; border-bottom:2px solid #ff7300;}
.notes p{padding:1px 0;}
.notes .one{margin:0 0 15px 0;height:24px; line-height:24px}
.notes .one a{ text-decoration:underline;color:#1D40A6}
/*footer*/
.footer{padding:8px 0; text-align:center; line-height:18px;}
.flot_no{float:none !important; margin:30px auto 0!important;}