a 	{
	color:			#ffffe8;
	}

a.s9a5308 {
	color:			#9a5308;
	}

td.s9a5308 {
	font-family:		"Times New Roman", Times, serif;
	font-size:		12px;
	font-weight:		normal;
	text-decoration:	none;
	text-align:		center;
	vertical-align:	middle;
	color:			#ffffe8;
	background-color:	#9a5308;
	}
td.s9a5308a {
	font-family:		"Times New Roman", Times, serif;
	font-size:		10px;
	font-weight:		normal;
	text-decoration:	none;
	vertical-align:	middle;
	color:			#ffffe8;
	background-color:	#9a5308;
	}

td.s9a5308b {
	font-family:		"Times New Roman", Times, serif;
	font-size:		16px;
	font-weight:		normal;
	text-decoration:	none;
	vertical-align:	middle;
	color:			#ffffe8;
	background-color:	#9a5308;
	}

td.s9a5308c {
	font-family:		"Times New Roman", Times, serif;
	font-size:		12px;
	font-weight:		normal;
	text-decoration:	none;
	vertical-align:	middle;
	color:			#ffffe8;
	background-color:	#9a5308;
	}

#alignleft {
	text-align:		left;
	}
#valigntop {
	vertical-align:	top;
	}
#size10px {
	font-size:		10px;
	}
td.ffdf94 {
	font-family:		"Times New Roman", Times, serif;
	font-size:		12px;
	font-weight:		normal;
	text-decoration:	none;
	text-align:		center;
	color:			#9a5308;
	background-color:	#ffdf94;
	}

td.ffdf94left {
	font-family:		"Times New Roman", Times, serif;
	font-size:		12px;
	font-weight:		normal;
	text-decoration:	none;
	text-align:		left;
	color:			#9a5308;
	background-color:	#ffdf94;
	}

td.ffffe8 {
	font-family:		"Times New Roman", Times, serif;
	font-size:		12px;
	font-weight:		normal;
	text-decoration:	none;
	text-align:		center;
	vertical-align:	middle;
	color:			#9a5308;
	background-color:	#ffffe8;
	}

td.ffffe8a {
	font-family:		"Times New Roman", Times, serif;
	font-size:		12px;
	font-weight:		normal;
	text-decoration:	none;
	text-align:		center;
	color:			#9a5308;
	background-color:	#ffffe8;
	}

.ffffe8b {
	font-family:		"Times New Roman", Times, serif;
	color:			#ffffe8;
	font-size:		10px;
	font-weight:		normal;
	}

;td font a {
	color:			#9a5308;
	}

tr td font a {
	color:			#9a5308;
	}