﻿@charset "utf-8";
a,
ins {
    text-decoration: none
}

a,
hr {
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
hr,
menu,
nav,
section {
    display: block
}

.SloganPage,
.btnLogo {
    position: absolute;
    left: 0
}
.HomeTop{ max-height:650px; overflow:hidden}
.HomeTop,
.h-265,
.w-155,
.w-300,
.w-690,
.w-820 {
    overflow: hidden
}

.CateTitle,
.CateTitleBG,
.MenuPage,
.t-u {
    text-transform: uppercase
}

.FBHeadTitle a,
.sd-0 {
    text-shadow: none!important
}

@font-face {
    font-family: Roboto;
    src: local('Roboto'), url(http://res.vietnamnet.vn/VietNamNet/Standard/v2015/css/fonts/robotor.woff) format('woff');
    font-family: RobotoB;
    src: local('RobotoB'), url(http://res.vietnamnet.vn/VietNamNet/Standard/v2015/css/fonts/robotob.woff) format('woff')
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    background: none;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

ins,
mark {
    background-color: #ff9;
    color: #000
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

a {
    background: none;
    font-size: 100%;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    color: #000
}

mark {
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 1px;
    margin: 1em 0
}

input,
select {
    outline: 0;
    vertical-align: middle
}

body {
    line-height: 1;
    background-color: #fff;
    font: 400 13px roboto, Arial, Helvetica, sans-serif
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

.clear {
    clear: both
}

a:hover {
    color: #ec0202
}

.left {
    float: left
}

.right {
    float: right!important
}

.p-10 {
    padding: 10px
}

.p-5 {
    padding: 5px
}

.p-15 {
    padding: 15px
}

.p-20 {
    padding: 20px
}

.p-t-20 {
    padding-top: 20px
}

.p-t-30 {
    padding-top: 30px
}

.p-b-10 {
    padding-bottom: 10px
}

.p-b-5 {
    padding-bottom: 5px
}

.m-10 {
    margin: 10px
}

.m-8-5 {
    margin: 8.5px
}

.m-r-5 {
    margin-right: 5px
}

.m-r-10,
.margin-right-10 {
    margin-right: 10px
}

.m-r-20 {
    margin-right: 20px
}

.m-b-5 {
    margin-bottom: 5px
}

.m-b-10,
.margin-bottom-10 {
    margin-bottom: 10px
}

.m-t-5,
.margin-top-5 {
    margin-top: 5px
}

.m-t-10 {
    margin-top: 10px
}

.m-t-20 {
    margin-top: 20px
}

.m-t-15 {
    margin-top: 15px
}

.m-l-5 {
    margin-left: 5px
}

.m-l-10 {
    margin-left: 10px
}

.bg-ed {
    background: #ededed
}

.f-11 {
    font-size: 11px
}

.f-12 {
    font-size: 12px!important
}

.f-13 {
    font-size: 13px!important
}

.f-14 {
    font-size: 14px
}

.f-15 {
    font-size: 15px
}

.f-16 {
    font-size: 16px
}

.f-18 {
    font-size: 18px
}

.f-19 {
    font-size: 19px
}

.f-20 {
    font-size: 20px
}

.f-21 {
    font-size: 21px
}

.b-bl {
    background-color: #036
}

.hidden {
    display: none
}

.highlight {
    background-color: #ff0
}

.a-r {
    text-align: right
}

.a-l {
    text-align: left
}

.a-c {
    text-align: center
}

.a-j {
    text-align: justify
}

.c-666 {
    color: #666
}

.c-888 {
    color: #888
}

li,
ul {
    list-style-type: none
}

.bor4 {
    border: 1px solid #e9e9e9
}

.bor1 {
    border: 1px solid #e7e7e7
}

.bor2 {
    border: 1px solid #666
}

.bor3 {
    border: 1px solid #9b0000
}
.bor4 {
    border: 1px solid #d3d3d3
}
.c-222 {
    color: #222!important
}

.c-444 {
    color: #444
}

.c-aaa {
    color: #a0a0a0!important
}

a.c-222:hover,
a.c-444:hover,
a.c-666:hover,
a.c-888:hover,
a.c-aaa:hover {
    color: #ec0202!important
}

.p-l-10 {
    padding-left: 10px
}

.w-1000 {
    margin: 0 auto;
    width: 1000px
}

.w-690 {
    width: 690px
}

.w-300 {
    width: 300px
}

.w-380 {
    width: 380px
}

.w-820 {
    width: 820px
}

.w-155 {
    width: 155px
}

.w-115 {
    width: 115px
}

.w-825 {
    width: 825px
}

.w-500 {
    width: 500px
}

.w-180 {
    width: 180px
}

.w-240 {
    width: 240px
}

.w-260 {
    width: 260px
}

.w-220 {
    width: 220px
}

.w-160 {
    width: 160px
}

.w-130 {
    width: 130px
}

.w-145 {
    width: 145px
}

.w-490 {
    width: 490px
}

.h-265 {
    height: 265px
}

.ListInfo .h-265 {
    height: 290px
}

.m-r-15 {
    margin-right: 15px
}

.ButtonImage {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle
}

.TQWeatherBoxInfoText a:hover,
.form_lienhe .btn_xoa,
.form_lienhe .txt_xoatrang,
.form_lienhe ul#thumbnails li .del_action a:hover {
    text-decoration: underline
}

.Blog300,
.Blog690,
.ListHaft li,
.ListHeight li .title,
.TitleHead {
    vertical-align: top
}

.ButtonImage span {
    display: none
}

.red {
    color: #ca1f25!important
}

.red:hover {
    color: #999
}

.gray {
    color: #908f8f
}

.orange {
    color: #ff6102!important
}

.bold,
.font-bold {
    font-weight: 700
}

.Main-Head {
    background-color: #eeeeee
}

.btnLogo {
    background: rgba(0, 0, 0, 0) url(../images/logovnn19tuoi.png)no-repeat left 2px/200px auto;
    height: 72px;
    top: 0;
    width: 260px
}

.SloganPage {
    top: 55px;
    font-size: 10px;
    color: #4a4848
}

.HeadRight {
    text-align: right
}

.Head-Top {
    position: relative;
    height: 72px
}

.TabBar {
    height: 20px
}

.HotLine {
    background: url(../images/icon-hotline.png) left 2px no-repeat rgba(0, 0, 0, 0);
    line-height: 22px;
    padding: 0 5px 0 20px;
    color: #000;
    margin-top: 4px;
	background-size:17px auto;
}
.UserNote{ margin-top:1px}
.UserNote a.item {
    background: url(../images/menu-line.png) right center no-repeat rgba(0, 0, 0, 0);
    padding: 0 8px;
    line-height: 16px;
    color: #666;
    font-size: 9px;
	text-transform:uppercase;
	display:inline-block;
}

.UserNote a.item:last-child {
    background: 0 0
}

.SearBox {
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 230px;
    margin: 4px 0;
    line-height: 16px;
    float: right
}

.SearchBoxButton {
    background: url(../images/icon-search.png) left 2px no-repeat rgba(0, 0, 0, 0);
    width: 15px;
    height: 16px
}

#SearchBoxKeyword {
    border: none;
    width: 200px;
    font-size: 11px;
    color: #888;
    height: 16px
}

.MenuPage {
    font-size: 11px;
    color: #444;
    margin-top: 8px
}

.Main-Menu,
.RSSButton {
    margin-top: 1px
}

.MenuPage a,
.MenuPage h1,
.MenuPage h2 {
    padding: 0 5px
}

.MenuPage a:first-child {
    padding-left: 0
}

.MenuPage a:last-child {
    padding-right: 0
}

.MenuCate ul.menu-top {
    height: 28px;
    list-style: none;
    position: relative;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #fff;
    background: -webkit-linear-gradient(#e8e8e8, #d6d6d6);
    background: -o-linear-gradient(#e8e8e8, #d6d6d6);
    background: -moz-linear-gradient(#e8e8e8, #d6d6d6);
    background: linear-gradient(#e8e8e8, #d6d6d6)
}

ul.menu-top li.item {
    background: url(../images/menu-line.png) right center no-repeat;
    float: left;
    padding: 1px 1px 0 0
}

ul.menu-top li.item:last-child {
    background: 0 0
}

ul.menu-top li.item a:hover,
ul.menu-top li.item.active a {
    border-color: #f00000;
    color: #c00000;
    background-color: #fff
}

ul.menu-top li.item a {
    font-size: 13px;
    color: #222;
    line-height: 27px;
    padding: 0 3.5px;
    display: inline-block;
    border-bottom: 2px solid #fff
}

ul.menu-top li.item a.icon-home {
    background: url(../images/icon-home.png) center -36px no-repeat;
    display: inline-block;
    font-size: 0;
    width: 23px;
    line-height: 26px
}

ul.menu-top li.item a.icon-home:hover,
ul.menu-top li.item.active a.icon-home {
    background-position: center 2px
}

.APPButton,
.FBButton,
.RSSButton,
.TDButton,
.BoTTTTButton {
    padding: 0 5px 0 14px;
    font-size: 10px;
    line-height: 12px;
    color: #666
}

.TimeUpdate {
    font-size: 10px;
    color: #666
}

.RSSButton {
    background: url(../images/icon-rss.png) left center no-repeat
}

.BoTTTTButton {
    background: url(../images/icon-botttt.png) left center no-repeat;
    margin: 1px 5px 0 0;
    line-height: 14px;
    padding-left: 16px;
}

.FBButton {
    background: url(../images/icon-facebook.png) left center no-repeat;
    margin: 1px 5px 0 0
}

.APPButton {
    background: url(../images/icon-app.png) left center no-repeat;
    margin-top: 1px
}

.TDButton {
    background: url(../images/icon-tuyendung.png) left center no-repeat;
    margin: 1px 5px 0 0
}

.Main-Footer {
    background-color: #eee
}

.Footer-Text {
    position: relative;
    padding: 0 0 10px;
    font-size: 12px;
    color: #444;
    line-height: 16px
}

.Footer-Text .btnLogo2 {
    background: rgba(0, 0, 0, 0) url(../images/logo-vnn.svg)no-repeat center 2px/130px auto;
    height: 52px;
    width: 130px;
	display:block;
}

.BottomContentBox {
    width: 560px;
    margin: 10px 10px 10px 10px;
}

.BottomADSBox p,
.BottomContentBox p {
    line-height: 22px
}

.BottomADSBox {
    width: 350px;
    margin: 15px 0
}

.adv {
    text-align: center;
    margin: 5px
}

.ListFour li {
    float: left
}

.MoreHotList{ padding:10px 22px}
.HomeTop .ListFour li {
    width: 105px;
    padding-right: 10px
}
.HomeTop .ListThree li {
    width: 140px;
    padding-right: 15px;
	margin:5px 0px;
	height:134px;
	overflow:hidden
}
.ListThree li {
    width: 140px;
    padding-right: 16px;
	margin:10px 0px 10px 0px;
	max-height:145px;
	float: left
}
.ListThree li:nth-child(3n) { padding-right:0px}

.HomeListCate li h5 a { font-weight:normal;}
.w-354{ width:354px}
.HotMoreList li { line-height:22px ; padding:5px 0px}
.HotMore .ListHaft li:nth-child(2n){ }
.HomeTop .ListFour.ListThree li:nth-child(3n){
	padding-right:0px;
}
.BoxLager .ListFour li {
    width: 115px;
    padding-right: 10px
}

.MenuChild {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    line-height: 30px;
    font-weight: 400
}

.MenuChild li {
    display: inline-block;
    padding-right: 2px;
    line-height: 26px;
    background: url(../images/menu-line.png) right center no-repeat
}

.MenuChild li a,
.MenuChild li span {
    display: inline-block;
    padding: 0 10px;
    line-height: 26px
}

.MenuChild li:first-child,
.MenuChild li:last-child {
    background: 0 0
}

.MenuChild li .active,
.MenuChild li a:hover {
    border-bottom: 1px solid #ca1f25;
    background-color: #fff;
    color: #ca1f25
}

.CateTitle,
.CateTitle a {
    color: #000
}
.CateTitle a.c-fff {
    color: #fff
}

.Blog690 {
    width: 690px;
    display: inline-block;
    float: left
}

.Blog300 {
    width: 300px;
    display: inline-block
}

.MenuProfile li {
    display: inline-block;
    line-height: 19px;
    border-bottom: 1px solid #d4d4d4;
    margin-right: 5px
}

.MenuProfile li a,
.MenuProfile li span {
    display: inline-block;
    padding: 0 10px;
    line-height: 20px;
    font-weight: 400;
    font-size: 11px;
    background: #eaeaea
}

.CateTitle,
.CateTitle2 {
    padding: 0 10px;
    display: inline-block
}
.HeadCateBG .subcate { font-size:20px; line-height:18px}
.HeadCateBG .subcate a { font-size:14px; padding-left:10px}
.MenuProfile li:last-child {
    background: 0 0
}

.MenuProfile li .active,
.MenuProfile li a:hover {
    border-bottom: 1px solid #ca1f25;
    color: #fff;
    background-color: #aaa
}

.CateTitleBG {
    background-color: #eee;
    line-height: 22px
}

.CateTitleBG2 {
    background: url(../images/bg-menu-top.png) center right repeat-x;
    line-height: 26px
}

.CateTitle {
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
	border-left:3px solid #ca1f25;
}

.MenuChild li .CateTitle a:hover {
    background: 0 0;
    border: none;
    color: #222
}

.CateTitle2,
.CateTitle:hover {
   border-left:3px solid #670306;
}

.CateTitle2 {
    line-height: 26px;
    font-size: 15px;
    color: #222
}

.HomeTopCenter,
.HomeTopLeft {
    padding-right: 15px;
    overflow: hidden
}

.TitleHead {
    font-size: 24px;
    display: inline-block;
    width: 600px;
    height: auto;
    text-transform: none;
    color: #333
}

.HomeTopLeft {
    width: 450px
}

.HomeTopCenter {
    width: 184px
}

.HomeTopRight {
    width: 336px;
    overflow: hidden
}

.TopArticle . {
    font-size: 22px
}

.Lead,
.lead {
    color: #666;
    line-height: 18px
}

.HotList li {
    padding: 4px 0
}
.BlokCate .HotList li { list-style-type:square; color:#999}

.CateTopCenter .HotList li:first-child,
.HomeTopCenter .HotList li:first-child,
.HotList li.item {
    padding-top: 0;
	list-style:none;
}

.HomeTopCenter .HotList li a.f-13 {
    font-size: 14px
}

.dotter {
    border-bottom: 1px dashed #dcdcdc
}

.HomeTopCenter .HotList li {
    border-bottom: 1px solid #dcdcdc;
    padding: 5px 0
}

.HotList li:last-child {
    background: 0 0;
    border-bottom: none
}

.HomeBlockLeft {
    width: 500px;
    padding-right: 20px
}

.HomeBlockCenter {
    width: 300px;
    padding-right: 20px
}

.HomeBlockRight {
    width: 160px
}

.HomeBlockLeft .BoxCate {
    margin-top: 10px
}

.HeadCateBG {
    background-color: #e4e4e4;
    line-height: 22px;
    position: relative;
    padding-right: 10px
}

.HeadCateTitle,
.HeadCateTitle2 {
    font-size: 13px;
    padding: 0 20px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    line-height: 22px;
    text-transform: uppercase;
	text-align:center
}
.HeadCateBG .HeadCateTitle h4{ margin:2px 0px}
.HeadCateTitle .NewTitle{ color:#c90000; text-transform:none}
.HeadCateTitle {
	border-top:2px solid #c20208;
 }

.HeadCateTitle2 {
    background: url(../images/titlebg-gray.png) center right no-repeat
}
.FBHeadTitle {
    background: url(../images/titlebg-fb.png) center right no-repeat
}

.BlokCate .HeadCateTitle .Name {
    color: #c2030a
}

.HeadCateMenu li {
    display: inline-block;
    padding-left: 5px;
    color: #222
}

.HeadCateMenu li a {
    color: #222;
	padding-right: 6px;
}

.HeadCateMenu li a:hover {
    color: #c00307
}

.HomeTopCate {
    width: 300px;
    padding-right: 10px
}

.HomeListCate {
    width: 180px
}

.SmallCate {
    width: 240px
}

.HomeBlockLeft .BlokCate {
    width: 100%;
    margin-top: 10px
}

.HomeBlockLeft .BlokCate:first-child,
.ListHeight li.m-t-10,
.ListHeight li:first-child {
    margin-top: 0
}

.ListHaft li {
    width: 48.5%;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 0
}

.ListHaft li:nth-child(2n) {
    margin-right: 0
}

.ListHaft li:last-child,
.ListHaft li:nth-last-child(2) {
    background: 0 0
}

.SmallCate .HotList li:first-child {
    padding-top: 5px
}

.btnTVN {
    background: url(../images/logos/tuanvietnam.png) center left no-repeat;
    height: 22px;
    width: 95px
}

.btnGNT {
    background: url(../images/logos/GNT2-icon.png) center left no-repeat;
    height: 26px;
    width: 100px
}

.btn2SAO {
    background: url(../images/logos/2sao.png) center left no-repeat;
    height: 22px;
    width: 46px
}

.btnTTOL {
    background: url(../images/logos/tintuconline.png) center left no-repeat;
    height: 22px;
    width: 64px
}

.btnGameSao,
.btnVef {
    height: 22px;
    width: 74px
}

.btnGameSao {
    background: url(../images/logos/gamesao.png) center left no-repeat
}

.btnVef {
    background: url(../images/logos/vef.png) center left no-repeat
}

.HeadGNT {
    background: url(../images/gnt-head.png) center left no-repeat;
    height: 30px;
    width: 125px
}

.btnEchip {
    background: url(../images/logos/echip.png) center left no-repeat;
    height: 22px;
    width: 117px
}

.CateTopCenter .ListHeight li {
    padding: 10px 0;
    position: relative
}

.CateTopCenter .ListHeight li:first-child {
    padding-top: 0!important
}

.ListHeight li {
    padding: 6px 0
}

.ListHeight li:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0
}

.HomeTopCenter .BoxTiny {
    padding-top: 8px;
    border-top: 1px solid #ddd
}

.bor-t1 {
    border-top: 1px solid #dcdcdc
}

.ListBlock {
    background-color: #f3f3f3
}

.ListBlock li {
    width: 150px;
    margin-right: 20px;
    float: left
}

.FullBox .ListBlock li {
    width: 150px
}

.FullBox .ListBlock li:nth-child(3n),
.ListBlock li:last-child {
    margin-right: 0
}

.FullBox .ListBlock.SixItem li {
    margin-right: 20px
}

.BoxMedium .ListBlock li:nth-child(2n),
.FullBox .ListBlock.SixItem li:last-child {
    margin-right: 0
}

.ListHeight li .thumb {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px
}

.ListHeight li .title {
    display: inline-block
}

.tb_giavang td,
.tb_giavang2 td {
    vertical-align: middle
}

.BoxMedium .ListHeight li .thumb {
    width: 140px
}

.BoxMedium .ListHeight li .title {
    width: 145px
}

.BoxMedium .HotList li a {
    font-size: 13px;
}

iframe .box-cp-mini .story {
    border: none!important
}

iframe .box-cp-mini li a {
    font-size: 13px!important;
    font-weight: 700!important;
    color: #333!important;
    border: none!important
}

.topReadAndComment-title li {
    line-height: 22px;
    width: 50%;
    text-align: center;
    float: left
}

.topReadAndComment-title li a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #888
}

.topReadAndComment-title li.active a {
    color: #fff
}

.topReadAndComment-title li:first-child {
    background: url(../images/titlebg-gray.png) center right no-repeat
}

.topReadAndComment-title li:last-child {
    background: url(../images/titlebg-gray-d.png) center left no-repeat
}

.topReadAndComment-title li:last-child.active {
    background: url(../images/titlebg-red-d.png) center left no-repeat
}

.topReadAndComment-title li.active {
    background: url(../images/titlebg-red.png) center right no-repeat;
    display: inline-block;
    color: #fff
}

.topReadAndComment-title {
    background-color: #e1e1e1
}

#topcomment ul li,
#topread ul li {
    padding: 4px 0;
    border-bottom: 1px dotted #dcdcdc;
    font-size: 13px
}

.topReadAndComment-item .p-10 {
    padding: 5px
}

#topcomment ul li:last-child,
#topread ul li:last-child {
    border: none
}

.BoxHT .head,
.DetailPage .BoxHT {
    text-align: center;
    line-height: 22px;
    background-color: #ddd;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2px
}

.height-250 {
    height: 250px;
    overflow: hidden
}

.BoxHT .HotList {
    padding: 0 10px
}

.vang-ngoaite {
    background-color: #eee;
    color: #020202;
    font-size: 90%;
    padding: 2px
}

.vang-ngoaite img {
    max-width: 158px
}

.VNNWeatherBox {
    display: none;
    margin-top: 5px;
    position: relative
}

.VNNWeatherBoxInfo {
    position: relative;
    height: 60px
}

.VNNWeatherBoxIcons {
    width: 38px;
    height: 38px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 38px 38px;
    position: absolute;
    top: 0;
    left: 0
}

.VNNWeatherBoxInfoText {
    margin-bottom: 5px
}

.VNNWeatherBoxInfoControl {
    position: absolute;
    right: 0;
    top: 10px
}

.VNNWeatherBoxTempe {
    left: 40px;
    position: absolute;
    top: 5px
}

.VNNWeatherBoxInfoText .text {
    position: absolute;
    top: 35px;
    left: 2px;
    color: #129281
}

.VNNWeatherBoxInfo .text>span {
    padding: 0 10px 0 0
}

.VNNWeatherBoxInfoControlLocation {
    font-size: 12px;
    font-weight: 700;
    width: 73px;
    text-transform: uppercase;
    color: #666;
    margin: 0;
    background: #f8f8f8;
    border: none;
    outline: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer
}

label.FixVNNWeatherBoxInfoControlLocation {
    position: relative
}

label.FixVNNWeatherBoxInfoControlLocation:after {
    content: '<>';
    font: 11px Consolas, monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none
}

label.FixVNNWeatherBoxInfoControlLocation:before {
    content: '';
    right: -1px;
    top: 0;
    height: 20px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block
}

.VNNWeatherBoxInfoText p {
    margin: 0;
    line-height: 14px;
    padding: 0;
    font-size: 11px;
    font-weight: 400;
    color: #222
}

.VNNWeatherBoxTempeHight {
    padding-bottom: 3px;
    border-bottom: 1px solid #666
}

.VNNWeatherBoxTempeHight,
.VNNWeatherBoxTempeLow {
    font-size: 12px;
    font-weight: 700;
    color: #129281;
    margin-bottom: 5px
}

.VNNWeatherBoxTempeHight sup,
.VNNWeatherBoxTempeLow sup {
    font-size: 10px;
    top: -2px;
    position: relative
}

.VNNWeatherBoxTempeCurrent {
    font-size: 20px;
    font-weight: 700;
    color: #129281;
    padding-right: 3px;
    margin-right: 3px;
    float: left
}

.VNNWeatherBoxTempeCurrent sup {
    font-size: 10px;
    top: -7px;
    position: relative
}

.VNNWeatherBoxTempeRanger {
    float: left;
    display: none
}

.VNNWeatherBoxInfoText a {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 400;
    color: #666
}

.vang-ngoaite .ngoaite-title,
.vang-ngoaite .vang-title {
    color: #222;
    font-size: 11px;
    height: 16px;
    padding: 2px 0 0 22px;
    text-transform: uppercase;
    font-weight: 700
}

.vang-ngoaite .vang-title {
    background: url(../images/tygiathoitiet/vang.png) no-repeat
}

.vang-ngoaite .ngoaite-title {
    background: url(../images/tygiathoitiet/ngoaite.png) no-repeat
}

.tb_giavang {
    margin: 0;
    padding: 0;
    text-align: center
}

.tb_giavang td {
    border-top: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    padding: 2px 0;
    text-align: center;
    font-size: 10px
}

.ngoaite-data tr td:first-child,
.tb_giavang tr td:first-child {
    border-left: none
}

.ngoaite-data tr td:first-child,
.tb_giavang tr td:last-child {
    border-right: none
}

.vang-data .tb_giavang tr:first-child td {
    border-top: none
}

.ngoaite-data {
    height: 38px;
    margin-bottom: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 10px
}

.vang-data {
    margin: 5px 0
}

.vang-sms {
    color: #000;
    font-size: 10px;
    padding-right: 5px;
    text-align: right
}

.Login-FMS li,
.t-c,
.tb_giavang2 td {
    text-align: center
}

.vang-sms span {
    color: #CD1F26;
    font-weight: 700
}

.gv_title {
    color: #656565;
    font-family: Tahoma;
    font-size: 10px;
    padding: 2px 1px
}

.vang-ngoaite .thoitiet-title {
    background: url(../images/tygiathoitiet/thoitiet.png) 0 12px no-repeat;
    color: #263788;
    font-size: 12px;
    font-weight: 700;
    height: 16px;
    padding: 10px 0 0 22px
}

.vang-ngoaite .combox-tt {
    float: right;
    font-size: 12px;
    padding: 0 0 0 10px;
    width: 95px
}

.TQWeatherBox {
    display: none;
    position: relative
}

.TQWeatherBoxIcons {
    background-position: 50% 0;
    background-repeat: no-repeat;
    float: left;
    height: 120px;
    width: 120px
}

.TQWeatherBoxInfo {
    float: left;
    width: 100px
}

.TQWeatherBoxInfoText {
    margin-bottom: 5px
}

.TQWeatherBoxInfoControlLocation {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px
}

.TQWeatherBoxInfoText p {
    color: #000;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
    padding: 0
}

.TQWeatherBoxTempeHight {
    border-bottom: 1px solid #666;
    padding-bottom: 3px
}

.TQWeatherBoxTempeHight,
.TQWeatherBoxTempeLow {
    color: #C13828;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px
}

.TQWeatherBoxTempeHight sup,
.TQWeatherBoxTempeLow sup {
    font-size: 10px;
    position: relative;
    top: -2px
}

.TQWeatherBoxTempeCurrent {
    border-right: 1px solid #666;
    color: #C13828;
    float: left;
    font-size: 30px;
    font-weight: 700;
    margin-right: 3px;
    padding-right: 3px
}

.TQWeatherBoxTempeCurrent sup {
    font-size: 20px;
    position: relative;
    top: -7px
}

.TQWeatherBoxTempeRanger {
    float: left
}

.TQWeatherBoxInfoText a {
    color: #DE2018;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    padding: 0
}

.TQWeatherIcons0 {
    background-image: url(../images/tygiathoitiet/icons/0.png)
}

.TQWeatherIcons1 {
    background-image: url(../images/tygiathoitiet/icons/1.png)
}

.TQWeatherIcons2 {
    background-image: url(../images/tygiathoitiet/icons/2.png)
}

.TQWeatherIcons3 {
    background-image: url(../images/tygiathoitiet/icons/3.png)
}

.TQWeatherIcons4 {
    background-image: url(../images/tygiathoitiet/icons/4.png)
}

.TQWeatherIcons5 {
    background-image: url(../images/tygiathoitiet/icons/5.png)
}

.TQWeatherIcons6 {
    background-image: url(../images/tygiathoitiet/icons/6.png)
}

.TQWeatherIcons7 {
    background-image: url(../images/tygiathoitiet/icons/7.png)
}

.TQWeatherIcons8 {
    background-image: url(../images/tygiathoitiet/icons/8.png)
}

.TQWeatherIcons9 {
    background-image: url(../images/tygiathoitiet/icons/9.png)
}

.TQWeatherIcons10 {
    background-image: url(../images/tygiathoitiet/icons/10.png)
}

.TQWeatherIcons11 {
    background-image: url(../images/tygiathoitiet/icons/11.png)
}

.TQWeatherIcons12 {
    background-image: url(../images/tygiathoitiet/icons/12.png)
}

.TQWeatherIcons13 {
    background-image: url(../images/tygiathoitiet/icons/13.png)
}

.TQWeatherIcons14 {
    background-image: url(../images/tygiathoitiet/icons/14.png)
}

.TQWeatherIcons15 {
    background-image: url(../images/tygiathoitiet/icons/15.png)
}

.TQWeatherIcons16 {
    background-image: url(../images/tygiathoitiet/icons/16.png)
}

.TQWeatherIcons17 {
    background-image: url(../images/tygiathoitiet/icons/17.png)
}

.TQWeatherIcons18 {
    background-image: url(../images/tygiathoitiet/icons/18.png)
}

.TQWeatherIcons19 {
    background-image: url(../images/tygiathoitiet/icons/19.png)
}

.TQWeatherIcons20 {
    background-image: url(../images/tygiathoitiet/icons/20.png)
}

.TQWeatherIcons21 {
    background-image: url(../images/tygiathoitiet/icons/21.png)
}

.TQWeatherIcons22 {
    background-image: url(../images/tygiathoitiet/icons/22.png)
}

.TQWeatherIcons23 {
    background-image: url(../images/tygiathoitiet/icons/23.png)
}

.TQWeatherIcons24 {
    background-image: url(../images/tygiathoitiet/icons/24.png)
}

.TQWeatherIcons25 {
    background-image: url(../images/tygiathoitiet/icons/25.png)
}

.TQWeatherIcons26 {
    background-image: url(../images/tygiathoitiet/icons/26.png)
}

.TQWeatherIcons27 {
    background-image: url(../images/tygiathoitiet/icons/27.png)
}

.TQWeatherIcons28 {
    background-image: url(../images/tygiathoitiet/icons/28.png)
}

.TQWeatherIcons29 {
    background-image: url(../images/tygiathoitiet/icons/29.png)
}

.TQWeatherIcons30 {
    background-image: url(../images/tygiathoitiet/icons/30.png)
}

.TQWeatherIcons31 {
    background-image: url(../images/tygiathoitiet/icons/31.png)
}

.TQWeatherIcons32 {
    background-image: url(../images/tygiathoitiet/icons/32.png)
}

.TQWeatherIcons33 {
    background-image: url(../images/tygiathoitiet/icons/33.png)
}

.TQWeatherIcons34 {
    background-image: url(../images/tygiathoitiet/icons/34.png)
}

.TQWeatherIcons35 {
    background-image: url(../images/tygiathoitiet/icons/35.png)
}

.TQWeatherIcons36 {
    background-image: url(../images/tygiathoitiet/icons/36.png)
}

.TQWeatherIcons37 {
    background-image: url(../images/tygiathoitiet/icons/37.png)
}

.TQWeatherIcons38 {
    background-image: url(../images/tygiathoitiet/icons/38.png)
}

.TQWeatherIcons39 {
    background-image: url(../images/tygiathoitiet/icons/39.png)
}

.TQWeatherIcons40 {
    background-image: url(../images/tygiathoitiet/icons/40.png)
}

.TQWeatherIcons41 {
    background-image: url(../images/tygiathoitiet/icons/41.png)
}

.TQWeatherIcons42 {
    background-image: url(../images/tygiathoitiet/icons/42.png)
}

.TQWeatherIcons43 {
    background-image: url(../images/tygiathoitiet/icons/43.png)
}

.TQWeatherIcons44 {
    background-image: url(../images/tygiathoitiet/icons/44.png)
}

.TQWeatherIcons45 {
    background-image: url(../images/tygiathoitiet/icons/45.png)
}

.TQWeatherIcons46 {
    background-image: url(../images/tygiathoitiet/icons/46.png)
}

.TQWeatherIcons47 {
    background-image: url(../images/tygiathoitiet/icons/47.png)
}

.BoxMedium .HeadCateTitle .Name {
    color: #000
}

#lienhe_page {
    margin-bottom: 20px;
    padding-bottom: 20px
}

.form_lienhe {
    float: left;
    padding: 20px 0 0;
    width: 99%
}

.form_lienhe p {
    display: block;
    margin-top: 10px;
    position: relative
}

.form_lienhe label {
    display: block;
    font-size: 14px;
    margin: 0 0 3px
}

.form_lienhe label span {
    color: #a5315a
}

.form_lienhe input {
    border: none
}

.form_lienhe input[type=text],
.form_lienhe select {
    border: 1px solid #ccc;
    font-size: 14px;
    height: 30px
}

.form_lienhe select {
    padding-top: 5px;
    width: 300px
}

.form_lienhe .txt_input {
    line-height: 30px
}

.form_lienhe .txt_input.tieude {
    padding: 0 1%;
    width: 97%
}

.form_lienhe .error {
    color: #a5315a;
    display: block;
    font-size: 11px;
    margin: 3px 0 0
}

.form_lienhe .note {
    color: #666;
    font-size: 11px;
    padding: 0 1% 0 0
}

.form_lienhe .txt_area.noidung {
    border: 1px solid #ccc;
    font: 400 14px arial;
    height: 150px;
    padding: 5px 0 0 1%;
    width: 98%
}

.form_lienhe .xacnhan {
    width: 120px
}

.form_lienhe .code a {
    margin-top: 20px
}

.form_lienhe .button {
    border-bottom: 1px dotted #999;
    margin: 10px 0;
    padding: 0 0 10px
}

.form_lienhe .btn_gui {
    background: #911111;
    color: #fff;
    cursor: pointer;
    font: 400 14px arial;
    height: 30px;
    margin: 0 10px 0 0;
    width: 65px
}

.form_lienhe .btn_xoa {
    font-size: 11px;
    margin: 0 0 0 10px
}

.form_lienhe .note2 {
    color: #666;
    float: left;
    font-size: 11px;
    margin: 0
}

.form_lienhe ul#thumbnails li {
    float: left;
    height: 120px;
    margin: 5px 3% 10px 0;
    overflow: hidden;
    width: 22%
}

.form_lienhe ul#thumbnails li .wrap {
    height: 100px;
    overflow: hidden
}

.form_lienhe ul#thumbnails li .del_action {
    float: right;
    line-height: 18px
}

#showCaptcha img {
    max-width: none
}

#lienhe_page .content {
    padding-top: 10px;
    font: 13px;
    padding-left: 5px
}

#lienhe_page .block_txt_right_rss .content p {
    line-height: 17px
}

#lienhe_page .fan_page {
    float: left;
    margin-top: 10px
}

.item_input_lienhe {
    margin-bottom: 10px
}

.width_common {
    float: left;
    width: 100%
}

#lienhe_page .content p {
    line-height: 19px;
    margin-bottom: 10px;
    padding-left: 5px
}

#lienhe_page .cate-name {
    border-left: 3px solid #900;
    padding-left: 10px;
    font-size: 14px;
    color: #555;
    font-weight: 700
}

.c-555 {
    color: #555
}

.CommentShow {
    background: rgba(0, 0, 0, 0) url(../images/icon-comment.svg) no-repeat left 2px/14px auto;
    padding-left: 16px;
    font-size: 11px;
    color: #e84444;
    font-weight: 400;
    margin-left: 3px;
    display: inline-block;
    line-height: 18px
}

.NameTag,
.SelectCate {
    font-weight: 700;
    text-transform: uppercase
}

.topNewsLastestFirst .CommentShow {
    line-height: 15px;
    font-size: 12px
}

.BtnHistory,
.BtnNotify {
    height: 24px;
    width: 24px;
    position: relative
}

.CommentShow.hidden {
    display: none
}

.color1 {
    color: #3d5102!important
}

.color2 {
    color: #cc6001!important
}

.color3 {
    color: #017e94!important
}

.color4 {
    color: #60001e!important
}

.color5 {
    color: #604b00!important
}

.Login-FMS {
    background: url(../images/menu-line.png) left center no-repeat
}

.Login-FMS li {
    float: left;
    padding: 0 10px;
    background: url(../images/menu-line.png) right center no-repeat;
    line-height: 24px
}

.BtnNotify {
    background: url(../images/icons-full.png) -4px -4px no-repeat rgba(0, 0, 0, 0)
}

.BtnHistory {
    background: url(../images/icons-full.png) -34px -4px no-repeat rgba(0, 0, 0, 0)
}

.BtnAvata {
    background: url(../images/avatar-s.png) left 50% no-repeat rgba(0, 0, 0, 0);
    height: 20px;
    padding-left: 24px
}

.BtnMenu {
    background: url(../images/icon-menu.png) 50% 50% no-repeat rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px
}

#BoxCP {
    width: 100%;
    min-height: 220px;
    overflow: hidden
}

.NameTag {
    font-size: 14px;
    color: #444
}

.LabelCate {
    position: relative
}

.SelectCate {
    font-size: 12px;
    width: 100px;
    color: #666;
    margin: 0;
    background: #f8f8f8;
    border: none;
    outline: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer
}

.LabelCate:after {
    content: '<>';
    font: 11px Consolas, monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 3px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none
}

.LabelCate:before {
    content: '';
    right: -1px;
    top: 0;
    width: 20px;
    height: 0;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block
}

.TitleTag {
    color: #cb010a;
    font-size: 22px;
    padding: 5px 0;
    text-transform: uppercase
}

.HotLink.active {
    font-weight: 700;
    color: #444;
    padding: 3px 0;
    border-bottom: 2px solid #c90000;
    font-size: 14px
}

.ShareTag {
    font-size: 12px;
    color: #444
}

.ListTag li h4 {
    margin: 3px 0
}

.ListRelated {
    color: #999
}
.ListArticle.NewStyle li.dotter{ padding:5px 0px 5px 27px; border-bottom:1px solid #ededed; background:rgba(0, 0, 0, 0) url("../images/bullet5.png") no-repeat scroll 15px 15px }

.ListRelated li {
    display: inline;
    font-size: 12px;
    font-weight: 700
}

.ListArticle li.item:first-child {
	padding-top:0px;
}
.ListArticle li.item:last-child {
    border: none
}

.ListArticle li.item .Lead {
    display: inline-block;
    width: 260px
}
.ListArticle.Small li.item .Lead { display:table; width:auto }
.ListArticle.Small li.item{ padding:10px 0px;border-bottom:1px solid #dcdcdc;}
.more{ text-align:center; padding:5px; background-color:#CCC; color:#000; font-size:16px; font-weight:normal; display:block}
.pos-rel { position:relative}
.w-100p{ width:100%}
.btn-play {
    background: rgba(0, 0, 0, 0) url("../images/iconplay1.png") no-repeat scroll center center;
    top: 105px;
    height: 47px;
    left: 240px;
    position: absolute;
    width: 47px;
	opacity:0.6
}
.p-t-10 {
    padding-top: 10px
}
.BottomADSBox .CateTitle {
    background: rgba(0, 0, 0, 0) url("../images/titlebg-red.png") no-repeat scroll right center;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
	display: inline-block;
    padding: 0 20px 0 10px;
	color:#fff
}
.c-red{ color:#9c0001}
.btn-play:hover{ opacity:1}
.time-publish { color:#999}
.com-number {  background: rgba(0, 0, 0, 0) url("../images/icon-comemnt.png") no-repeat scroll left center; padding-left:24px; margin-left:5px }
.share-number {  background: rgba(0, 0, 0, 0) url("../images/icon-share.png") no-repeat scroll left center; padding-left:24px }

#fb-root,
.fb_reset {
    height: 0
}

.Main-Menu .VnnAdsPos {
    margin-top: 4px;
}

#vnnfooter {
    margin-top: 10px
}

.bg-ddd {
    background-color: #ddd
}

.RelatestBox .ListHaft li.dotter {
    border: none;
    color: red
}

ul.menu-top li.item .submenu {
    list-style: none;
    position: absolute;
    top: 30px;
    visibility: hidden;
    width: 100%;
    left: 0!important;
    background-color: #e5e5e5;
    line-height: 23px z-index: 9999999
}

ul.menu-top li.item:hover .submenu {
    visibility: visible
}

ul.menu-top li.item .submenu li {
    color: #fff;
    display: inline-block;
    line-height: 23px;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 2px;
}

ul.menu-top li.item .submenu li:hover {
    background-color: #CCC
}

ul.menu-top li.item .submenu li a {
    font-size: 11px;
    font-weight: 400;
    border-bottom: none;
    color: #222;
    background: 0 0;
    line-height: 23px
}

ul.menu-top li.item .submenu li a:hover {
    color: #cc0202;
    background-color: #CCC
}

.t-l {
    text-align: left
}

.t-r {
    text-align: right
}

.InfoCate .ListInfo li.m-r-10 {
    margin-right: 22px!important
}

.InfoCate.m-t-15 {
    margin-top: 5px!important
}

.BoxMedium .ListBlock li {
    margin-right: 20px;
	width:140px
}

.d-ib {
    display: inline-block
}

.CateNewsSlider {
    max-height: 145px;
    overflow: hidden
}

.backtop-btn {
    background: url(../images/back-to-top.png) 50% 50% no-repeat rgba(0, 0, 0, 0);
    width: 20px;
    height: 27px
}

.BoxMedium .HotList .c-444,
.HomeListCate li .c-444 {
    color: #040404!important
}

.VnnBtnBackToTop {
    background: url(../images/back-to-top1.png) 50% 50% no-repeat rgba(0, 0, 0, 0)!important;
    height: 36px!important;
    opacity: .75;
    width: 36px!important
}

.VnnBtnBackToTop:hover {
    opacity: 1
}

.center {
    text-align: center;
    margin: auto
}

.menu-bottom {
    position: relative
}

.menu-bottom li.item {
    float: left;
    width: 139px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    font-weight: 700;
    overflow: hidden;
    line-height: 24px
}

.menu-bottom li.item:first-child,
.menu-bottom li.item:nth-child(8n) {
    width: 160px
}

.menu-bottom li.item a {
    padding-right: 10px;
    color: #000
}

.menu-bottom li .submenu {
    font-weight: 400;
    height: 100%
}

.menu-bottom li .submenu li {
    line-height: 20px
}

.menu-bottom li .submenu li a {
    color: #686868;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px
}

.menu-bottom li a:hover,
.menu-bottom li.item a:hover {
    color: #ec0202;
    text-decoration: underline
}

.menu-bottom .VnnBtnBackToTop {
    position: absolute;
    top: 0;
    right: 0
}

.full5 {
    width: 100%;
    padding: 6px 0;
    display: inline-block
}

.p-l-25 {
    padding-left: 25px
}

.ArticleContent img {
    max-width: 500px;
}

.logo-small {
    width: auto !important;
}

.ArticleContent table {
    max-width: 500px !important;
    overflow: auto
}

.LiveLayoutArticle .ArticleContent table {
    max-width:none !important;
    overflow: auto
}
.LiveLayoutArticle .ArticleContent table.image img {
    width: auto;
	max-width:580px !important;
}

.ArticleContent table.image img {
    width: auto;
	max-width:500px;
}

.Bg-botttt {
    background: url(../images/bg-botttt.png) 50% 50% repeat-x;
    line-height: 14px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 7px;
    text-align: center
}

.Fix105 {
    position: relative;
}

.bg-red {
    background-color: #ff0000;
}

.bg-red .Name {
    color: #fff;
    font-size: 12px;
    padding: 0 20px 0 10px;
}

.c-fff {
    color: #fff;
}

.rotate30 {
    transform: rotate(30deg);
    /* Xoay div theo góc 30 độ */
    -webkit-transform: rotate(30deg);
    /* dùng cho chrome và safari */
    -ms-transform: rotate(30deg);
    /* dùng cho IE 9 trở lên */
}

.pos-relative {
    position: relative
}

.arrowdow {
    position: absolute;
    right: 0px;
    top: 4px
}

.SelectSub {
    font: roboto;
    margin: 0;
    border: none;
    outline: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding-right: 15px;
    font-weight: 700 700x;
    background: url(../images/arrowsbot.png) right 7px no-repeat #ff0000;
}

.lh-16 {
    line-height: 16px;
}

.BorCircle60 {
    border: 1px solid #fff;
    border-radius: 30px;
}

.w-150 {
    width: 150px
}

.ListThuVien {
	background-color:#ededed; padding:10px}
.ListThuVien li.item {
    display: inline-flex;
    margin-right: 10px;
    padding: 5px 0;
    width: 230px;
	border:none;
}
.ListThuVien li.item:nth-child(2n){ margin-right:0px}
.ListThuVien li .title{ margin-left:5px}
.ListThuVien .item.dotter.clearfix > a {
    display: inline-block;
    height: 60x;
    width: 60px;
    cursor: pointer;
    overflow: hidden
}

.f-n {
    font-weight: normal
}

.btn-botttt {
    background-color: #0270ce;
}

.btn-botttt a {
    color: #fff;
}

.p-re {
    position: relative;
}

.BG-GNT {
    height: 18px !important
}

.BG-GNT .HeadGNT {
    position: absolute;
    top: -5px
}
.menu-bottom .btnMenuMobile {
    position: absolute;
    right: -62px;
    top: 0px;
}

.btnMenuMobile a.icon-mobile {
    background: url(../images/icon-mobile.png) center -36px no-repeat;
    display: inline-block;
    font-size: 0;
    width: 23px;
    line-height: 26px
}

.btnMenuMobile a.icon-mobile:hover {
    background-position: center 3px
}

.MenuSub {
    background: url(../images/body-bg.png) top center repeat-x rgba(0, 0, 0, 0);
    border-top: 1px solid #ddd;
    line-height: 24px
}

.UserInfoText h2 a.title {
    color: #fb5301
}

.Box-Euro {
    background: url(../images/euro-bg.png) center top no-repeat;
    color: #fff
}

.Box-Euro a {
    color: #fff
}

.Box-Euro .HomeListCate {
    width: 170px;
}

.btn-euro {
    background: url(../images/logo-euro.png) center top no-repeat;
    display: inline-block;
    font-size: 0;
    width: 170px;
    height: 60px
	
}
/* CSS cho SlideNew Dòng sự kiện nóng*/
	.HomeNewsSlider { position:relative; overflow:hidden; width:900px}
	.HomeNewsSlider-mask{width:860px;overflow:hidden; height:24px}
	.HomeNewsSlider-list{ width:3000px; text-align:left}
	.HomeNewsSlider-mask .HomeNewsSlider-item{ display:inline-block;background: url(../images/bullet7.png) 5px 7px no-repeat; padding:0px 20px 0px 14px; vertical-align:top; height:17px ; overflow:hidden; width:auto !important; line-height:17px;}
	.HomeNewsSlider-mask .HomeNewsSlider-item:nth-child(3n){ padding-right:500px}
	.HomeNewsSlider-item a.title{display:block;text-decoration:none; font-size:11px; color:#666}
	.HomeNewsSlider-item a.title:hover{ color:#e9333b }
	.HomeNewsSlider-button{top:0px;right:0px; position:absolute;}
	.HomeNewsSlider-button .btnPrev{}
	.HomeNewsSlider-button .btnNext{}
	.hot-list{ color:#e9333b; font-weight:bold}
	
	
.w-664{ width:664px}	
.List-commenttool a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ededed;
    color: #666;
    font-size: 12px;
    margin: 0 5px;
    padding: 2px 5px;
	text-transform:none
}
.List-commenttool .active {
    background-color: #ffff88;
    border: 1px solid #f9abaf;
    color: #ff4444;
}
.tagBoxContent ul{ list-style-type:none;}
.tagBoxContent ul li { display:inline-block; padding-right:5px;}
.tagBoxContent ul li:first-child{ text-transform:uppercase; color:#000; font-weight:bold}
.tagBoxContent ul li a{ color:#747474;}

.btn-G{background: rgba(0, 0, 0, 0) url("../images/btn-G+.png")  no-repeat scroll left center; width:75px; height:32px; display:inline-block }
.bor-number { background: rgba(0, 0, 0, 0) url("../images/bor-left.png")  no-repeat scroll left center; height:32px; padding:0px 0px 0px 10px ; display:inline-block}
.bor-number .bor-right{ background: rgba(0, 0, 0, 0) url("../images/bor-right.png")  no-repeat scroll right center; height:32px;  display:inline-block; padding:0px 17px 0px 16px }
.list-btn-detail{ line-height:32px}
.list-btn-detail li{ margin-right:20px}
.btn-C{ background-color:#3948ab; border-radius:2px; padding:4px 10px; text-align:center;  color:#FFF}
.head-comment{ color:#000; font-size:15px; font-weight:bold; line-height:32px;; height:32px;  position:relative; text-transform:uppercase; padding:0px 0px 0px 20px}
.bullet-cmt { background-color:#000;width:14px; height:8px; display:flex ;  position:absolute; top:11px; left:0px}
.Item-comments { list-style-type:none}
.Item-comments li{ padding:8px 0px;}
.Item-comments li ul{ padding-left:10px; border-left:4px solid #e0e0e0}
.Item-comments li ul li:last-child,.Item-comments li:last-child{ border:none}
.comment-actions .author { color:#333; font-weight:bold; font-size:12px; text-transform:uppercase}
.comment-actions .time{ font-size:12px; color:#868686; margin-left:10px}
.comment-content { color:#676767; font-size:13px; line-height:22px}
.fmsidWidgetBtnLike.inline{ vertical-align:top !important}
.fmsidWidgetBtnLike.inline .btn{background: rgba(0, 0, 0, 0) url("../images/like-icon.png")  no-repeat scroll left 0px !important; width:15px !important; height:17px !important; display:inline-block; font-size:0px; vertical-align:top !important; background-size:15px auto; margin-left:2px}
.fmsidWidgetBtnLike .num{ color:#ff3a3a; line-height:16px}
.btnReply { color:#676767; padding-left:20px; font-size:12px;background: rgba(0, 0, 0, 0) url("../images/reply-icon.png")  no-repeat scroll right center; padding-right:26px }
.btnLike{font-size:12px;color:#676767;}
.morecomment { 
    color: #9c0001;
    font-style: italic;
    padding: 10px 0;
    text-decoration: inherit;
	cursor:pointer
}
.text-cmt { border-radius:3px; width:97%; height:100px; border:1px solid #9c0001; overflow:visible; padding:3px 1%; font-size:1.1em; color:#747474; margin-top:5px; max-width:672px; font-family:roboto}
.info-cmt {border-radius:3px; width:97%; border:1px solid #b7b7b7;  padding:3px 5px;font-size:1.1em; color:#747474; margin-top:12px}
.d-table{ display:table}
.btnSubmit {
    background-color: #9c0001;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 110px;
	float:right
}
.btnSubmit:hover{ color:#f56a6b}
.relation-content{ background-color:#eeeeee; padding:10px; margin:10px 20px}
.relation-content p { margin:0px}
.relaion-list{
list-style-type:none;
margin:0% 10px}
.relaion-list li { list-style-type:square; color:#676767; line-height:22px; margin-left:25px; padding:0px}
.relaion-list li a{ color:#9c0001;}
.tagBox ul li:first-child{
	background: rgba(0, 0, 0, 0) url("../images/btn-tag.png")  no-repeat scroll left center !important;
	background-size:20px auto !important;
	text-transform:uppercase !important;
	padding-left:26px !important;
	}

.HomeBlockLager{ width:840px; overflow:hidden; float:left}
.MoreHotList.LagerBox{ width:818px; padding:0px}
.ListThree.Full{ padding-left:8	px;}
.ListThree.Full li{ padding:15px 10px; margin:0px}
.ListThree.Full li:first-child{ margin-left:8px}
.HotList li h4,.HotList li h5{ margin:0px; font-weight:normal}
.NumPage  li.shadow { color:#999; padding-right:20px}
.ListThree li.item3.w-150 { padding-right:0px !important}
.CateTitle a.Name{ text-transform:none;}
.btn-G {
    background: rgba(0, 0, 0, 0) url("../images/btn-G+.png") no-repeat scroll left center/ auto 22px;
    display: inline-block;
    height: 22px;
    width:50px;
}
.bor-number {
    background: rgba(0, 0, 0, 0) url("../images/bor-left.png") no-repeat scroll left center/ auto 22px;
    display: inline-block;
    height: 22px;
    padding: 0 0 0 10px;
}
.bor-number .bor-right {
    background: rgba(0, 0, 0, 0) url("../images/bor-right.png") no-repeat scroll right center / auto 22px;
    display: inline-block;
    height: 22px;
    padding: 0 13px 0 7px;
}
.list-btn-detail {
    line-height: 22px;
}
.btn-C {
    background-color: #3948ab;
    border-radius: 2px;
    color: #fff;
    padding: 1px 7px;
    text-align: center;
}
.SearchTool { background:#d8d8d8; padding:10px; line-height:24px }
.SearchTool .itemsearch{ font-size:16px; text-transform:uppercase; display:inline-block; margin-right:5px}
.SearchTool #SearchBoxKeywordSK{ 
	background-color: #fff;
    border: 1px solid #acacac;
    border-radius: 5px 0 0 5px;
    float: left;
    line-height: 25px;
    padding: 0 5px;
    width: 120px;}

.SearchBoxButtonSK {
    background: #cd2027 url("../images/icon-search.png") no-repeat scroll 50% 50%;
    border: 1px solid #cd2027;
    border-radius: 0 7px 7px 0;
    height: 25px;
    width: 31px;
}
.SucKhoe-Layout.ListArticle li.item { padding:15px 0px}
.SucKhoe-Layout.ListArticle li.item:first-child{ padding-top:0px}
.ListHot { padding:10px}
.ListHot .itembullet8{ 
	background: rgba(0, 0, 0, 0) url("../images/bullet8.png") no-repeat scroll 0px 7px;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    padding: 0 24px 0 10px;
    vertical-align: top;
    width: auto !important;}
	
	.ListHot .itembullet8:last-child{ padding-right:0px;}
.ListHeightSK{ text-transform:uppercase; border:1px solid #d8d8d8}
.ListHeightSK .name{ background:#d8d8d8; font-weight:bold; padding:5px 10px 5px 20px; font-size:14px}
.ListHeightSK .item{padding:16px 0px 16px 5px}
.ListHeightSK .item .itembullet9 { 
	background: rgba(0, 0, 0, 0) url("../images/bullet9.png") no-repeat scroll 0px 7px;
    overflow: hidden;
    padding: 0 0px 0 10px;
	display:table }
	
	

.BoxCateSK:nth-child(2n) {
    margin-right: 0;
}
.BoxCateSK {
    border: 1px solid #d8d8d8;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    max-height: 235px;
    overflow: hidden;
    width: 330px;
	vertical-align:top;
}

.bg-eee{ background-color:#eee}
.HeadCateTitle4.HeadCateTitle2{
    background: url(../images/titlebg-gray4.png) center right no-repeat
}
.BoxCateSK h4 { margin:0px}
.BoxCateSK .HotList li{ padding:6px 0px}
.bodder1 {    background:rgba(0, 0, 0, 0) url("../images/dot.png") repeat-x scroll left center; width:120px; display:inline-block}
.skchiso{ padding:10px ; background-color:#d8d8d8;}
.InputSK{ border: medium none;
    color: #666;
    font-size: 11px;
    line-height: 22px;
    width: 100px;
	padding:0px 5px}
	.haftline { border:1px solid #fff; border-radius:5px;background:#fff url("../images/menu-line.png") no-repeat scroll center center; height:26px; }
	.SKSent{ background-color:#cd2027; border-radius:5px; padding:5px 10px; text-align:center; border:1px solid #cd2027; color:#fff;}
	.SelectSK{
	border:medium none;
    color: #666;
    font-size: 11px;
    line-height: 26px;
    width: 100px;
	padding:0px 5px;
	height:27px;}
.ListHeightSK2{ }
.ListHeightSK2 .item{ display:inline-table; padding:10px}
.ListHeightSK2 .item .itembullet9 { 
	background: rgba(0, 0, 0, 0) url("../images/bullet9.png") no-repeat scroll 0px 7px;
    overflow: hidden;
    padding: 0 0px 0 10px;
	display:table }
.ListHot li { display:inline-block; padding:15px 10px 15px 0px; width:30%}
.italic{ font-style:italic}
#innerContent {
	background: #fff;
	padding: 10px;
	width: 480px;
	height: auto;
}
.ClosePopup .Close{ display:inline-block; width:15px; height:15px; background: rgba(0, 0, 0, 0) url("../images/btn-close.png") no-repeat scroll center center;}
.SentMailSK { border:1px solid #ccc; border-radius:3px; background: rgba(0, 0, 0, 0) url("../images/SentMail.png") no-repeat scroll 10px center; display:inline-block ; padding:5px 10px 5px 40px;}
.targets {  background:#FFF; position:absolute; left:0px; width:100%; z-index:9999}
.targets  li { padding:3px 5px;}
.targets  li a{ color:#666;}
.search-result { border-top:1px solid #666}
.SearchTool .itemsearch.active { color:#cd2027; border-bottom:1px solid #cd2027} 

/*CSS for Event Page*/
.HomeBlockLeft .EventBox.BlokCate{ margin-top:20px}
.EventList.ListArticle li.item { padding:15px 0px}
.ListArticle li.item .Lead.w-240{ width:240px}
.ListArticle li.item .Lead.w-300{ width:300px}
.EventBox.BlokCate .HeadCateBG{ height:auto; line-height:18px}
.EventBox.BlokCate .HeadCateBG { background-color:#d7d7d7; padding-top:3px}
.EventBox.BlokCate .HeadCateTitle{ background:#e4e4e4 url("../images/title-event.png") no-repeat scroll top right; height:45px; width:390px; border:none;text-align:left; text-transform:none;}
.EventBox.BlokCate .HeadCateTitle .a{ color:#000}
.p-t-5{ padding-top:5px}
.Pre-btn{background: rgba(0, 0, 0, 0) url("../images/raovat/prev.png") no-repeat scroll center center; width:20px; height:20px}
.Nex-btn{background: rgba(0, 0, 0, 0) url("../images/raovat/next.png") no-repeat scroll center center; width:20px; height:20px}
.EventSlide { line-height:30px}
.SelectEvent { width:100%; border:1px solid #888; border-radius:3px; padding:3px}
.HomeBoxSucKhoe { background-color:#c3be98; padding:5px 10px}
.HomeBoxSucKhoe label{ font-weight:bold;}
#SearchKeywordSK { width:300px;border:none; height:24px; font-size:13px; color:#666}
.SearchButtonSK {
    background: url("../images/icon-search.png") no-repeat scroll 50% 50%;
    height: 25px;
    width: 31px;
	
}
.SearchSK { line-height:24px}
.HomeBoxSucKhoe .ListHot { padding:10px 0px}
.BlogSerchSK { background-color:#fff; border-radius:3px; float:right; padding:0px 5px; position:relative}

.ArticleContent strong {
    font-weight: bold;
}
.Paging-goBack {
    border: medium none;
    color: #c90000;
    width: 100%;
    margin: 10px 0px;
	font-size:14px
}
.coms-images { margin:10px 0px auto}
.coms-images .coms-imgaes-des { padding:8px 0px; text-align:center; background:#e7e7e7;font-style:italic; color:#222}
.Box-USATT {
    background: url(../images/bg-boxttusa.jpg) center top no-repeat;
    color: #fff;
	background-color:#000e3b;
}

.Box-USATT a {
    color: #fff;
	text-shadow:1px 1px #000;
}

.Box-USATT .HomeListCate {
    width: 170px;
}
.Box-USATT.BlokCate .HotList li{ list-style-type:none}
.Box-USATT .HomeListCate li h5 a.bold{ font-weight:bold;}
.btn-usatt {
    display: inline-block;
    font-size:24px;
	text-transform:uppercase;
	font-weight:bold;
	line-height:60px;
    height: 60px;
	padding-left:80px;
	
}
/* CSS AFFCUP*/
.AFF2016 .HeadCateBG { background: url(../images/aff-bghead.png) center top no-repeat;
    color: #fff;
	background-color:#265c00;
	height:40px}
.AFF2016 .ListBlock li{ padding-right:10px; margin-right:0px}
.AFF2016 .HeadCateBG .AFFLG {background: url(../images/aff-logo2016.png) center center no-repeat; width:108px; height:38px; padding-left:10px}
.bg-265c00{ background-color:#265c00;}	
.c-eae000{ color:#eae000}
.p-l-6{ padding-left:6px;}
.c-133500{ color:#133500;}

	.AFFNewsSlider { position:relative; overflow:hidden; width:500px; height:30px}
	.AFFNewsSlider .HomeNewsSlider-mask{width:500px;overflow:hidden; height:30px}
	.AFFNewsSlider .HomeNewsSlider-list{ width:3000px; text-align:left}
	.AFFNewsSlider .HomeNewsSlider-mask .HomeNewsSlider-item{ display:inline-block;background: url(../images/bullet10.png) 5px 7px no-repeat; padding:0px 20px 0px 14px; vertical-align:top; height:17px ; overflow:hidden; width:auto !important; line-height:17px;}
	.AFFNewsSlider .HomeNewsSlider-item a.title{display:block;text-decoration:none; font-size:11px; color:#fff}
	.AFFNewsSlider .HomeNewsSlider-item a.title:hover{ color:#e9333b }
/*Fidel st */
.m-0{ margin:0px auto}
.f-22{ font-size:22px}
.f-26{ font-size:26px}
.p-0-20{ padding:0px 20px}
.m-t-30{ margin-top:30px}
.ListArticle .item { padding:10px 0px}
/* Fidel end*/
