a img
{
  border-width: 0;
}

a:active
{
  outline: none;
}

:focus
{
  -moz-outline-style: none;
}

#container
{
  width: 980px;
  margin: 10px auto;
}

#header_ads
{
  /*height: 90px;*/
}

.button_ad
{
  float: left;
  width: 120px;
  /*height: 90px;*/
  min-height: 1px;
  margin: 0;
}

#header_ads .left
{
  margin-right: 6px;
}

#header_ads .right
{
  margin-left: 6px;
}

.leaderboard_ad
{
  float: left;
  width: 728px;
  /*height: 90px;*/
  min-height: 1px;
  max-height: 90px;
  margin: 0;
  margin-bottom: 10px;
}

#div-gpt-ad-skyscraper, #div-gpt-ad-skyscraper2, .tower_ad, .tower_ad_second
{
  padding: 10px 0 30px 0;
}

#div-gpt-ad-rectangle, #div-gpt-ad-rectangle2, .rectangle_ad
{
  padding: 10px 0 30px 0;
}

#header
{
  clear: both;
  margin: 10px 0 10px 0;
  height: 116px;
  background: #373185 url('../images/header/straightdope_header.jpg') no-repeat top left;
}

#header .site_tagline
{
  float: left;
  padding: 0;
  margin: 0;
}

#header .site_tagline a
{
  display: block;
  width: 788px;
  height: 116px;
  text-indent: -2000px;
}

#header_navigation
{
  float: right;
}

#header_navigation a.button
{
  text-indent: -2000px;
  display: block;
}

#header_navigation #button_learn
{
  background: url('../images/header/header_button_learn.jpg') no-repeat top left;
  width: 192px;
  height: 45px;
}

#header_navigation #button_read
{
  background: url('../images/header/header_button_read.jpg') no-repeat top left;
  width: 192px;
  height: 38px;
}

#header_navigation #button_ask
{
  background: url('../images/header/header_button_ask.jpg') no-repeat top left;
  width: 192px;
  height: 33px;
}

#navigation_column
{
  float: left;
  margin: 0;
  width: 160px;
}

#content_column
{
  float: left;
  margin: 0 10px 10px 10px;
  padding: 0 10px;
  width: 480px;
}

#container.index #content_column
{
  width: 478px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#navigation_column a,
#content_column a,
#widgets_column a
{
  color: #000;
  text-decoration: none;
}

#navigation_column a:hover,
#content_column a:hover,
#widgets_column a:hover
{
  text-decoration: underline;
}

#widgets_column
{
  float: left;
  margin: 0;
  width: 300px;
}

#content_column,
.module
{
  font-family: Georgia, serif;
}

#content_column #column_one
{
  float: left;
  width: 231px;
  padding-right: 7px;
  margin-right: 2px;
  border-right: 1px solid #ccc;
}

#content_column #column_two
{
  float: left;
  width: 232px;
  margin-left: 5px;
}

#navigation a.button
{
  text-indent: -2000px;
  display: block;
  margin: 0 0 4px 0;
  width: 162px;
  height: 22px;
}

#navigation #nav_home { background-image: url('../images/nav/straightdope_nav_home.gif'); }

#navigation #nav_ask { background-image: url('../images/nav/straightdope_nav_ask.gif'); }

#navigation #nav_buy { background-image: url('../images/nav/straightdope_nav_buy.gif'); }

#navigation #nav_message { background-image: url('../images/nav/straightdope_nav_message.gif'); }

#navigation #nav_whois { background-image: url('../images/nav/straightdope_nav_whois.gif'); }

#navigation #nav_archive { background-image: url('../images/nav/straightdope_nav_archive.gif'); }

#navigation #nav_games { background-image: url('../images/nav/straightdope_nav_games.gif'); }

#navigation #nav_books { background-image: url('../images/nav/straightdope_nav_books.gif'); }

#navigation a.button:hover
{
  background-position: 0px 22px;
}

#search_box
{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#search_box form
{
  margin: 0;
}

#search_box form fieldset
{
  margin: 0;
  border-width: 0;
  padding: 0;
}

#search_box form fieldset legend
{
  display: none;
}

#search_box #query
{
  width: 350px;
  font-size: 11px;
  margin-top: 2px;
  padding: 2px 2px 4px 6px;
  border: 1px solid #000;
}

#search_box .submit
{
  width: 114px;
  font-size: 11px;
  margin-top: 1px;
  border-width: 1px;
  padding: 2px 2px 3px 2px;
  text-transform: uppercase;
}

#content_column h1,
#content_column h2
{
  margin: 3px 0 5px 0;
  font-size: 20px;
  color: #552bb7;
}

#content_column .teaser
{
  font-size: 16px;
  margin: 3px 0 5px 0;
}

#content_column .details
{
  font-size: 11px;
  font-style: italic;
  color: #666666;
}

#content_column .module h2
{
  font-size: 17px;
  margin: 3px 0 1px 0;
  color: #552bb7;
}

#content_column .module .teaser
{
  font-size: 14px;
}

#content_column #comment_link
{
  font-family: "Trebuchet MS";
  font-size: 12px;
  padding: 3px 0;
  text-transform: uppercase;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#content_column #comment_link a
{
  color: #552bb7;
}

#navigation_column .module h2,
#widgets_column .module h2
{
  font-size: 15px;
  margin: 3px 0 1px 0;
  color: #552bb7;
}

#navigation_column .module .teaser,
#widgets_column .module .teaser
{
  font-size: 12px;
}

#navigation_column .module .details,
#widgets_column .module .details
{
  font-size: 10px;
  font-style: italic;
  color: #666666;
}

#navigation_column .module .item,
#content_column .module .item,
#widgets_column .module .item
{
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

#navigation_column .module .featured.item,
#content_column .module .featured.item,
#widgets_column .module .featured.item
{
  border-width: 0;
  margin-bottom: 0;
  padding-bottom: 3px;
}

#content_column #todays_question
{
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

#content_column .section_link,
#navigation_column .section_link,
#widgets_column .section_link
{
  font-size: 10px;
  font-family: "Trebuchet MS";
  margin-bottom: 6px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}

#content_column .section_link a,
#navigation_column .section_link a,
#widgets_column .section_link a
{
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: #552bb7;
  margin: 3px 0;
}


#content_column .section_link a:hover,
#navigation_column .section_link a:hover,
#widgets_column .section_link a:hover
{
  text-decoration: underline;
}

#content_column .section_link .instructions,
#navigation_column .section_link .instructions,
#widgets_column .section_link .instructions
{
  margin-bottom: 3px;
}

#content_column .section_link .instructions a,
#navigation_column .section_link .instructions a,
#widgets_column .section_link .instructions a
{
  text-decoration: none;
  text-transform: none;
  display: inline;
  color: #552bb7;
}

#content_column .section_link .instructions a:hover,
#navigation_column .section_link .instructions a:hover,
#widgets_column .section_link .instructions a:hover
{
  text-decoration: underline;
}

#full_column
{
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 470px;
}

#full_column h1
{
  margin: 3px 0 5px 0;
  font-size: 20px;
  color: #552bb7;
}

#mailing_list_signup form
{
  margin: 8px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  font-family: "Trebuchet MS";
}

#mailing_list_signup form fieldset
{
  margin: 0;
  border-width: 0;
  padding: 0;
}

#mailing_list_signup form fieldset legend
{
  display: none;
}

#mailing_list_signup #email_address
{
  width: 130px;
  font-size: 11px;
  margin-top: 2px;
  padding: 2px 2px 4px 6px;
  border: 1px solid #000;
}

#mailing_list_signup .submit
{
  font-size: 11px;
  margin-top: 1px;
  border-width: 1px;
  padding: 2px 2px 3px 2px;
  width: 86px;
  text-transform: uppercase;
}

#mailing_list_form_extended
{
  margin: 6px 0;
}

#mailing_list_form_extended .radio_choice
{
  font-size: 11px;
}

#mailing_list_form_extended .radio_choice input
{
  clear: left;
  float: left;
  margin: 4px;
}


#mailing_list_form_extended .radio_choice label
{
  float: left;
  margin: 4px 0 0 2px;
  width: 200px;
}

#mailing_list_unsubscribe
{
  margin: 4px 0 6px 0;
  font-size: 10px;
}

#current_illustration
{
  width: 298px;
  overflow: hidden;
}

.index #current_illustration,
.search #current_illustration,
.links #current_illustration
{
  border: 1px solid #000;
}

#current_illustration .image_caption
{
  font-family: "Trebuchet MS";
  font-size: 11px;
  padding: 0px 4px 4px 4px;
  font-style: italic;
  text-align: center;
}

#fineprint
{
  font-size: 11px;
  font-family: "Trebuchet MS";
  color: #666666;
}

#fineprint a
{
  color: #552bb7;
}

#article #description
{
  font-family: "Trebuchet MS";
  font-size: 12px;
  padding: 3px 0;
  text-transform: uppercase;
}

#disclaimer
{
  font-family: "Trebuchet MS";
  font-size: 12px;
  padding: 3px 0;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#article sub,
#article sup
{
  line-height: 0;
}

#article h1
{
  margin: 10px 0;
  font-size: 20px;
}

#article h2
{
  margin: 6px 0;
  font-size: 16px;
}

#references h2
{
  margin: 18px 0 6px 0;
  font-size: 16px;
}

#article p,
#references p
{
  font-size: 14px;
  line-height: 18px;
}

#article li
{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 6px;
}

#article .date
{
  font-family: "Trebuchet MS";
  font-size: 12px;
  margin-bottom: 20px;
}

#article .question
{
  font-style: italic;
  margin-bottom: 20px;
}

#article .question em
{
  font-style: normal;
}

#article .answer
{
  
}

#article a,
#references a
{
  color: blue;
}

/*#page a:visited
{
  color: blue;
}*/

#page h1
{
  margin: 10px 0;
  font-size: 20px;
}

#page h2
{
  margin: 6px 0 0 0;
  font-size: 16px;
}

#page .content
{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

#page .content p
{
  margin: 5px 0 10px 0;
}

#page .content ol
{
  margin: 5px 0 10px 0;
  padding: 0 0 0 20px;
}

#page a
{
  color: blue;
}

#link_list
{
}

#link_list .link
{
  margin: 6px 3px;
  padding: 0 0 3px 0;
  border-bottom: 1px solid #ccc;
}

#link_list .link .submitted_by
{
  font-size: 11px;
  color: #666666;
}

.pagination_controls
{
  text-align: center;
  font-family: "Trebuchet MS";
}

.pagination_controls a
{
  border: 1px solid #ccc;
  padding: 2px 3px;
}

#content_column .boilerplate a
{
  color: blue;
}

#google-adsense-unit, #criteo-ad-unit
{
  margin-top: 26px; 
}
