/*reseter*/
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,	h1, h2, h3, h4, h5, h6, p, blockquote, pre,	a, abbr, acronym, address, big, cite, code,	del, dfn, em, font, img, ins, kbd, q, s, samp,	small, strike, strong, sub, sup, tt, var,	b, u, i, center,	dl, dt, dd, ol, ul, li,	fieldset, form, label, legend,	table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;		padding: 0;		border: 0;		outline: 0;		font-size: 100%;		vertical-align: baseline;		background: transparent;font-family: Calibri, 'Lucida Grande', Arial, Verdana, Helvetica;}
body {line-height: 1;  text-align:center;overflow:scroll;}
ul {list-style: none;}
input, select{ font-family: Calibri, 'Lucida Grande', Verdana, Arial, Helvetica; }
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';	content: none;}
:focus {outline: 0;}
#DOMWindow{-moz-border-radius: 6px;-webkit-border-radius: 6px;text-align:left;padding:0 !important;}
ins {text-decoration: none;} 

del {text-decoration: line-through;}
table {	border-collapse: collapse;	border-spacing: 0;}
/*HP*/
.C-3colsWrap{ width:936px;float:left;background:#f9f9f9;border:1px solid #d6d6d6;-moz-border-radius: 5px;border-radius: 5px;padding:0;box-shadow: 0px 1px 2px #ccc;} 
.C-3colsWrap .orderbtn{ float: none !important;
display: block;
height: 22px !important;
width: 175px !important;
margin: 10px auto 15px auto;
padding: 7px 0 0;
font-size: 13px; } 
.C-3colsWrap div{text-align:center}
.C-3colsWrap h2{margin:0 0 0px 0px !important; padding:5px 0 5px 10px !important;background:#e2e2e3 }
.C-3colsWrap h3{padding:10px 0 10px 0px; height:15px;margin:0 !important;font-weight:bold;color:#002f65;text-align:center; }

.orderbtn_sml:active, .orderbtn:active, .search-engine .orderbtn:active, .search-engine .button:active, .search-engine .orderbtn:active, .order1 .orderbtn:active, .order2 .orderbtn:active, .order3 .orderbtn:active, .button:active, .prev_online:active, .PromoBox .prev_online:active, .headerscrollint .prev_online:active, .headerscrollint .cnct:active, .call2 .prev_online:active {box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset,0 0 5px rgba(0, 0, 0, 0.05) inset;}

#green h3{background:url(../images/bgs_en.png) no-repeat 100px -779px;padding-top:60px;}
#red h3{background:url(../images/bgs_en.png) no-repeat -115px -779px;padding-top:60px;}
#blue h3{background:url(../images/bgs_en.png) no-repeat -360px -779px;padding-top:60px;}

sup {
position: relative;
top: -1px;
vertical-align: top;
font-size: 80%;
}
.notes {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  margin: 2px;
  margin-top: -3px;
}



.notes2 {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  margin: 35px;
  margin-top: -2px;
}
.notes3 {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  margin: 8px;
  margin-top: -2px;
}
.footnote {
  white-space: nowrap;
  display: block;
  vertical-align: top;
  text-decoration: none;
  padding-bottom:2px;
}


/* inizio validation engine css */ 

.formError {
      position:absolute;
      top:300px; left:300px;
      padding-bottom:13px;
      display:block;
      z-index:100000;
    }
.tip .tipContent {width: 360px;
font-size: 10px!important;}
.tip .tipContent ul {margin: 0!important;
padding: 0 0 0 15px;
line-height: 12px;}
.tip .tipContent ul li {background:none;list-style:initial;padding: 3px 0 3px 0px;list-style-type:disc;}
.tip {padding-bottom:13px;position:relative; float: left;
margin-left: 160px;margin-top:-130px;opacity:0.87;}
  .tipde {margin-top:-150px;}
  .tipes {margin-top:-120px;}
      #debugMode{
        background:#000;
        position:fixed;
        width:100%; height:200px;
        top:0; left:0;
        overflow:scroll;
        opacity:0.8;
        display:block;
        padding:10px;
        color:#fff;
        font-size:14px;
        z-index:100000;
      }
    
      .ajaxSubmit{ padding:20px; background:#55ea55;border:1px solid #999;display:none}
      .formError .formErrorContent, .tipContent {
        /*width:100%; */
        background:#B92227;
        color:#fff;
        width:230px;
        text-align:left;
       
        font-size:12px;
        border:2px solid #ddd;
        box-shadow: 0px 0px 6px #000;
        -moz-box-shadow: 0px 0px 6px #000;
        -webkit-box-shadow: 0px 0px 6px #000;
        padding:4px 10px 4px 10px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
      }
      .formError .formErrorContent a{
        color:#000;
      }
      .greenPopup .formErrorContent {background:#33be40;}
      .bluePopup .tipContent {background:#3399cc;}
      .blackPopup .formErrorContent {background:#393939;color:#FFF;}
      
      .formError .formErrorArrow, .bluePopup .tipArrow{
        position:absolute;
        bottom:0;left:20px;
        width:15px; height:15px;

        z-index:5001;
      }
      .formError .formErrorArrowBottom {top:0;margin:-6px;}
      
        .formError .formErrorArrow div, .bluePopup .tipArrow div{
          border-left:2px solid #ddd;
          border-right:2px solid #ddd;
          box-shadow: 0px 2px 3px #444;
          -moz-box-shadow: 0px 2px 3px #444;
          -webkit-box-shadow: 0px 2px 3px #444;
          font-size:0px; height:1px; background:#B92227;margin:0 auto;line-height:0px; font-size:0px; display:block;
        }
          .formError .formErrorArrowBottom div{
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
          }
          
        .greenPopup .formErrorArrow div{background:#33be40;}
        .blackPopup .formErrorArrow div{background:#393939;color:#FFF;}
        .bluePopup .tipArrow div{background:#3399cc;color:#FFF;}
        

        .formError .formErrorArrow .line10, .tip .tipArrow .line10 {width:15px;border:none;} 
        .formError .formErrorArrow .line9, .tip .tipArrow .line9 {width:13px;border:none;} 
        .formError .formErrorArrow .line8, .tip .tipArrow .line8 {width:11px;} 
        .formError .formErrorArrow .line7, .tip .tipArrow .line7 {width:9px;} 
        .formError .formErrorArrow .line6, .tip .tipArrow .line6 {width:7px;} 
        .formError .formErrorArrow .line5, .tip .tipArrow .line5 {width:5px;} 
        .formError .formErrorArrow .line4, .tip .tipArrow .line4 {width:3px;} 
        .formError .formErrorArrow .line3, .tip .tipArrow .line3 {width:1px;
          border-left:2px solid #ddd;
          border-right:2px solid #ddd;
          border-bottom:0px solid #ddd;} 
        .formError .formErrorArrow .line2, .tip .tipArrow .line2 {width:3px;border:none;background:#ddd;}
        .formError .formErrorArrow .line1, .tip .tipArrow .line1 {width:1px;border:none;background:#ddd;}  


/* fine validation engine */
.C-3colsWrap p{ margin-left:0px;padding:0 0px;height:30px;text-align:center;line-height:18px}
.C-3colsWrap a{ margin:10px 5px 0 0;border: 1px double #ccc;}
.C-nav{width:100%;margin-bottom:2px;float:left;}
.C-nav ul {  margin:0 0 0 0px!important;}
.C-nav ul li{ float:left;display:block; padding:5px 0px 5px 0px; font-size:14px; border-bottom:2px solid #ccc; color:#bcbec0; margin:0 0 0 2px;width:241px;text-align:center;}
.C-nav2 ul {  margin:0 0 0 0px!important;float:left;/*width:636px*/width:100%;}
.C-nav2 ul li{ float:left;display:block; padding:5px 0px 5px 0px; font-size:14px; border-bottom:2px solid #ccc; color:#bcbec0; margin:0 0 0 2px;width:241px;text-align:center; margin:0 0 0 2px;/*width:161px;*/width: 25.3%}
.C-nav2 .third{ /*width:306px !important; */width: 48%!important;}
.quoteMain{text-align:center;margin-top:10px;}
.webpr{ width:300px;float:right;}
.fullpaget #left-panel {display:none;}
.fullpaget #right-panel {width:100%!important;}
.fullpaget .preventivo4backToHome {margin-left: 330px!important;}
.preventivocont {
margin: 30px auto 50px auto;
overflow: hidden;
width: 650px;
border: 1px solid #ddd;
border-radius: 4px;
padding:25px 20px 5px 20px;
margin-top:20px;
}

.pricenow {
font-size: 40px!important;
color:#333132!important;
}

  .prev4 #big-text {color: #002F65;
margin: 15px 0 2px 0;
font-size: 50px;
}

.big-blu {color: #002F65;
margin-top: 15px!important;
font-size: 20px!important;s}


.big-blu span:first-child {
	background: #E0E0E0;
}

.big-blu span {
color: #002F65;
padding: 3px;
}

.preventivocont p {
padding: 5px 0 20px 0!important;
margin:0!important;
color: #666;
}
.pricenow span {
font-size: 20px;
}
.cannotpaynow p {
border: 1px solid #ccc;
border-left: 4px solid orange;
text-align: left;
width: auto;
margin: 20px 40px!important;
padding: 10px!important;
height: auto;
background: rgba(255, 176, 146, 0.13);
border-radius: 4px;
margin: 0;
background: rgba(255, 176, 146, 0.13) url(../images/alert.png) no-repeat;
background-size: 30px;
line-height: 30px;
background-position: 98% 45%;
}
.paynow.button {
float: none;
display: inline-block;
padding: 10px;
height: 27px;
font-size: 25px;
width: 240px;
margin: 5px 0 60px 0;
text-shadow: 0px 1px 1px #365a1e;
}
.loghi_payNow {
display: block;
width: 235px;
height: 20px;
margin-top: 25px;
background: url(../images/paynow.png) bottom center no-repeat;}

.preventivocont .prev_online {
width: 100px;
height: 40px;
}
.prev4 .internal {text-align:center;}
.green_bg, .green_bg:hover{ background:#CDDBE4 !important;color:#fff}
.green_bg2, .green_bg2:hover{ background:#A6C44B !important}
.green_bg2 td{border-bottom:0 !important}
.check{background:#fff;width:100%;display:block;text-align:center;padding:10px 0;}
.input2{ width:52%;}
.input3{ width:280px;}
#green,#red{ float:left; padding-right:5px; border-right:1px solid #ccc}
.left-img{width:286px;background:#CEDBE5;margin:0px 1px 5px 0;position:relative;-moz-border-radius: 3px;-webkit-border-radius: 3px;height:173px;padding:0 0px 0px 0;float:right;}
.left-img img, .ProgettiWrapper img{float:left;margin:0 10px 30px 0}
.left-img .button, .ProgettiWrapper .button{padding:5px 10px;position:absolute;right:0;bottom:0;width:auto;white-space: nowrap;margin:0px 10px 10px 195px;font-size:14px;font-weight:bold;text-decoration:none;text-shadow: 0px 1px 1px #365a1e;}
.ProgettiWrapper .numbers{margin-right:10px}
.numbers_uk{background:url(../images/bgs_en.png) no-repeat -746px -638px !important;}



.left-imgtext{padding:5px 15px 30px 125px;line-height:19px;color:#000;font-size:15px;background:#CEDBE5 url(../images/btns_2_b.jpg) 10px -56px no-repeat;}
.wrappertext{padding:0px 10px 10px 90px;font-size:14px;width:320px;line-height:19px}

.ProgettiWrapper{width:635px; position:relative;background:#CEDBE5 url(../images/btns_2_b.jpg) -312px 0px no-repeat;-moz-border-radius: 3px;-webkit-border-radius: 3px;  min-height:173px; margin-top:10px;float:left;}
.ProgettiWrapper .button{right:0;margin-right:10px !important}
/*text*/	
h1{ font-size:38px;}
h2{font-size:24px;margin:0 0 10px 0;color:#002F65;}
.search-engine h2, .ProgettiWrapper h2, .left-img h2{background:#517aae;color:#fff !important;margin:0;padding:5px 10px !important;border-top-left-radius:3px;
border-top-right-radius:3px;}
.left-img h2{margin-left:0px !important;border-top-left-radius:3px;
border-top-right-radius:3px;}
.search-engine h2{margin-bottom:-15px !important;border-top-left-radius:3px;
border-top-right-radius:3px;}

h3{font-size:19px;font-weight:normal;margin:10px 0 10px 15px;line-height:100%; }
.news h3{text-align:left;margin-bottom:-20px !important}
.ProgettiWrapper h2{margin-bottom:10px !Important}
.internal h2{font-size:28px !important;}
#left-panel h2{font-size:24px;margin:0 0 0px 10px;padding-top:10px;color:#002f65;}
.internal h3{font-size:18px !important;font-weight:bold;margin:10px 0 0px 0px !important; }
h4{ font-size:14px}
.internal h4 { font-size:16px;margin:-5px 0 10px 10px;color:#58595b;}
h5{font-size:22px;font-weight:bold}
h6{ font-size:19px; }
p{line-height:20px;}
p.study{line-height:20px; text-align:justify;}
a{text-decoration:underline; color: #114170}
a:hover{text-decoration:none;}
.C-nav a:hover,.navactive{border-bottom:2px solid #2A609C !important; color:#000 !important}
.search-engine{width:937px; -moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;
-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px; background:#B1C7D6;padding:0px 0 0px 0; float:left;position:relative; }
.left-engine{ width:300px; float:left;padding:32px 10px 15px 50px;}
.left-engine h2{ margin:-29px 0 0px -40px;padding:0 0 10px 0; white-space:nowrap;position:absolute;z-index:9;}
.left-engine h5,.right-engine{padding:0px 0 0 0;}
.left-engine label,.right-engine label{font-size:18px !important;margin-bottom:5px !important;}
#C-option,#A-option,#L-option{z-index:30; width:273px;margin-top:3px; }
.right-engine{ padding:32px 0 0 0;}
.NumParole a{ color:#003366;text-decoration:underline;width:185px;display:block;text-align:right;padding:5px 5px 15px 0}
.NumParole a:hover{ text-decoration:none; }
.NumParole{ width:185px;float:left;margin:-5px 0 0 0; }
.When{ width:200px;float:right;text-align:left;margin:0px 60px 0 0px; }
.Whenru .needBeforeDom{width:175px!important}
.right-engine .orderbtn, #countWordsClose .orderbtn { margin:10px 0 0 148px ;width:235px !important;text-align:center;padding-top:8px;height:22px;}
.paypalbtn {background:url(../images/paypalbutton.gif); width:149px; height:42px; padding: 0 0 0 0; text-align:center; margin-left:236px !important}
 #countWordsClose .orderbtn { margin:3px 10px 0 5px ;width:185px !important;padding:3px 0;height:33px;}
 input#forceDeliveryButtonCancel {
margin-right: 10px;
margin-top: 15px;
}
input#forceDeliveryButtonOk {
	margin-top: 15px;

}
#chooseTargetsButtons .orderbtn, #loginwindow .orderbtn, #countWordsClose .orderbtn{/*background:url(../images/btns.jpg) -382px 0  no-repeat ;*/border: 1px double #ADADAD;margin-right:10px;width:185px;text-align:center;padding-top:2px;height:36px;}
/*.right-engine .orderbtn:hover, #chooseTargetsButtons .orderbtn:hover{background-position: -382px -41px;}*/
.order1,.order2, .order3{float:left;width:310px;padding-top:10px;text-align:center;background:#fff;}
.order1{border-left:1px solid #ccc;}
.order3{width:313px;border-right:1px solid #ccc;}

.order2{border-left:1px solid #ccc;border-right:1px solid #ccc;background: url(../images/bgs_en.png) no-repeat 244px -314px;-moz-box-shadow: -5px -5px 5px #888;z-index:999;
-webkit-box-shadow: -5px -5px 5px #888;
box-shadow: 0px 0px 45px #ccc;}
.order1 .orderbtn, .order2 .orderbtn, .order3 .orderbtn{clear:both;margin:0 0 220px 60px}


.nop .price{color:#B92227;}
.nop .orderbtn{margin-top:-7px;}
.ProgettiWrapper p{font-size:15px; margin-left:10px}
.deliveryGreen{color:green}
.deliveryRed{color:red}
.contact-text{width:380px;}
.numbers{float:right;width:200px;margin:0;padding:0;font-size:14px;background:url(../images/bgs_en.png) no-repeat -500px -534px;}

.number-es{background:url(../images/bgs_en.png) no-repeat -500px -638px !Important;}

.PromoTxt {
  float: left;
  width: 62%;
}

.PromoVideo {
  float: left;
  width: 33%;
  margin: 2% 10px 4% -3px;
}

.VideoPage .PromoBox.servizi {
  height: auto;
    background: none!important;
}

.numbers li{padding:8px 0 8px 64px;text-align:right;font-weight:bold;}


.internal .numbers{margin:3px 10px 20px 20px;font-size:11px;background:url(../images/bgs_en.png) no-repeat  -518px -608px;}
.call2-3 .numbers{background:url(../images/bgs_en.png) no-repeat  -512px -633px;margin: 6px 45px 10px 45px;display: block;}
.internal .numbers_es {background:url(../images/bgs_en.png) no-repeat -518px -638px;}
.numbers_sv .numbers{background:url(../images/bgs_en.png) no-repeat -795px -607px;}
.internal .numbers li{padding:1px 0 12px 60px;text-align:right;font-weight:normal;background:none;}
.call2-3de .numbers li, .call2-3nl .numbers li{
padding: 0px 0 5px 20px;
text-align: center;
margin-top: 10px;
font-size: 18px;
}
.call2-3sv .numbers li{
padding: 1px 0 8px 103px;
text-align: center;
margin-top: 10px;
}

.call2-3sv {padding:0 10px!important;}

.call2-3de .numbers {
background: url(../images/bgs_en.png) no-repeat -512px -603px; margin: 6px 45px 10px 45px;}
.call2-3sv .numbers {
background: url(../images/bgs_en.png) no-repeat -518px -601px; margin: 6px 45px 10px 45px;}

.call2-3nl .numbers {
background: url(../images/bgs_en.png) no-repeat -512px -632px; margin: 6px 45px 10px 45px;}

/*sponsor HP*/

.img1{width:54px;background: url(../images/bgs_en.png) no-repeat 0 0;}
.img2{width:82px;background: url(../images/bgs_en.png) no-repeat -64px 0px;}
.img3{width:125px;background: url(../images/bgs_en.png) no-repeat -362px -544px;}
.img4{width:106px;background: url(../images/bgs_en.png) no-repeat -248px 0px;}
.img5{width:59px;background: url(../images/bgs_en.png) no-repeat -166px 0px;}
.img6{width:115px;background: url(../images/bgs_en.png) no-repeat -530px 0px;}
.img7{width:127px;background: url(../images/bgs_en.png) no-repeat -362px -671px;}
.img1:hover{background-position:0 -42px;}
.img2:hover{background-position:-64px -42px;}
.img3:hover{background-position:-362px -607px;}
.img4:hover{background-position:-248px -42px;}
.img5:hover{background-position:-166px -42px;}
.img6:hover{background-position: -530px -42px;}
.img7:hover{background-position: -362px -717px;}

.internal h3 img{ margin:15px 0 0px 0}
.sponsors, .sponsors2{ float:left;padding:0px 0 20px 0;width:930px;} /*complete row: 924px*/
.sponsors p, .sponsors2 p{ padding:10px 0 5px 0; font-size:24px; color:#002F65;font-weight:bold}
.sponsors a {height:42px;margin:5px 20px 0 15px;float:left;display:block;cursor:default !important;}
.sponsors img {padding:0 2px 0 7px}

.news{ height:105px;width:914px;padding-top:10px;padding-left:25px;margin-top:25px;border: 1px solid  #B1C7D6;-moz-border-radius: 5px; -webkit-border-radius: 5px ; background:#fff}
.news img {margin-top:12px}
#green,#red{width:280px;padding:0 15px; float:left; }
div.greenru,div.redru{height:121px !important}


.news-balloon{float:left;background:#f9f9f9;border:1px solid #ccc;
width:786px;-moz-border-radius: 5px;border-radius: 5px;padding:10px 10px 0 10px;
margin:0 0 20px 30px;box-shadow: 0px 1px 2px #ccc;
}

.news-balloon h3{font-weight:bold;margin-bottom:3px !important}
.news-balloon p{margin:0 15px 20px 15px;}

#green a,#red a,#blue a{ color:#114170;}
#green ul,#red ul,#blue ul{ padding:3px 0 0 10px}
#red ul{ padding:0px 0 0 10px}
#blue,#red{width:290px; min-height:110px;float:left; padding-left:3px;}
#blueNews {width:700px; min-height:50px;float:left; padding-left:3px;font-size:16px}
.news h3 {font-size:18px;color:#002F65}
.team{padding:0 10px 0 8px}
.team p{font-size:14px;width:200px;float:left;margin:5px 0px 10px 0px;padding-left:45px;}
.team h4{font-size:18px;margin:0 0 0px 0;color:#003366;padding:0 0 0 45px;}
.team .imgcontainer{width:230px;height:190px;background: url(../images/bgs_en.png) no-repeat -106px -534px;margin:0px 0 0 10px;padding:1px 10px 0 10px;}
.email{padding:0 0 10px 45px;margin-bottom:10px;display:block;width:240px;color:#666;border-bottom:1px solid #5078AB;} 
.team h5{font-weigth:normal; border-bottom:1px dotted #ccc;padding:0 0 5px 45px;font-size:14px;font-style:italic;color:#666;margin:3px 0 0px 0}
.team img{border:3px solid #fff; float:left;margin:5px 9px 0px 0;}
.order2 .needBeforeDom{background:url(../images/bgs_en.png) no-repeat 0 -165px;margin:3px 0 5px 10px;width:20px;height:17px;display:block;float:left;}
.When .needBeforeDom{padding:4px 20px 4px 5px ;cursor:pointer;width:175px;background:#fff url(../images/bgs_en.png) no-repeat 178px -160px;border:1px solid #ccc;font-size:14px;}
.boxuffici{ border:1px solid #ccc;float:left;background:url(../images/menubg-bodybg.jpg) repeat-x 0 -210px;width:196px; min-height:156px;margin:12px 0 0 10px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.boxuffici p{ margin-left:0 !important;}
.boxuffici img{ float:left;border:0 !important;position:absolute;margin:-20px 0px 0 150px !important;padding:0;}
.boxuffici:hover{background-image:none;}
.floatdx{ float:right !important }
h3 .floatdx{ margin:0px 0 0 0 !important }
.floatsx{ float:left}
.Perche{ font-size:13px !important;font-weight:normal !important;width:915px; height:20px; background:#114170; text-align:left; color:#fff;padding:2px 10px 0 10px;clear:both; }
.Perche a{ color:#fff}
.Perche2{ border:1px solid #ccc !important;border-left:0; width:925px; padding:0px 5px 5px 5px;
background:url(../images/bgs_en.png) -846px -196px no-repeat}
.full-container {width:936px}
.card { background: url(../images/bgs_en.png) no-repeat -350px -100px;margin:0px 0 0 0;float:right;display:block;width:100px;height:45px;}
.Perche2 p{ width:390px;float:left;font-size:14px;margin:7px 0 0 0px;}
.paghi{font-size:200%;float:left;font-weight:bold;padding:14px 20px 0 50px;}


/*menu nuovo */

.nav-bg .white, .nav-bg .white2,.nav-bg .white3, .nav-bg .white4, .white5, .white6{ display:block;width:1px;height:1px; background:#fff; position:absolute;margin:0 0 0 0px;}
.nav-bg .white2{ margin:41px 0 0 0px;}
.nav-bg .white3{ margin:0px 0 0 635px;}
.nav-bg .white4{ margin:41px 0 0 635px;}
.white5{ margin:0px 0 0 0px;}
.white6{ margin:47px 0 0 0px;}
.nav-bg{/*background: url(../images/menubg-bodybg.jpg) repeat-x 0 -157px; */
background: rgb(52,133,215); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzM0ODVkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Zjc5YWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(52,133,215,1) 1%, rgba(79,121,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(52,133,215,1)), color-stop(100%,rgba(79,121,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(52,133,215,1) 1%,rgba(79,121,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(52,133,215,1) 1%,rgba(79,121,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(52,133,215,1) 1%,rgba(79,121,171,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(52,133,215,1) 1%,rgba(79,121,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3485d7', endColorstr='#4f79ab',GradientType=0 ); /* IE6-8 */
display: table;
width: 636px;
height: 42px;
float: left;
margin: 10px 0 0 15px;
}
.nav-bg ul {display:table-row;}
.nav-bg ul li{/*white-space: nowrap;float:left; text-align:center !important;*/width: auto;
display: table-cell;
text-align: center !important;}
.nav-bg ul li a{ white-space: nowrap;padding: 0px 10px;/*23*/ height:42px;line-height:42px;color:#fff;font-size:15px; font-weight:bold;text-decoration:none;}
.nav-bg a{display:block;}
.nav-bg a:hover,.active{background:#5078AB; color:#fff;}
.optimized .nav1 {border-left:1px solid #81A2CF;}
.nav1,.nav1-es{/*width:90px;*/border-right:1px solid #276EBC;}
.nav2,.nav2-es{/*width:88px;*/white-space: nowrap;border-right:1px solid #276EBC;border-left:1px solid #81A2CF;}
.nav3,.nav3-es{/*width:99px;*/border-right:1px solid #276EBC;border-left:1px solid #81A2CF;}
.nav4,.nav4-es{/*width:145px;*/border-right:1px solid #276EBC;border-left:1px solid #81A2CF;}
.nav5,.nav5-es{/*width:105px;*/border-left:1px solid #81A2CF;}
.nav0,.nav0-es{/*width:105px;*/border-right:1px solid #276EBC;}
.nav-bg-es ul li a {padding: 0px 8px;}
.nav-bg-es {margin: 10px 0 0 15px;}

/*global css*/	
body{ margin:0 auto; padding:0px; font-size:12px;}
.gray{ color:#666;margin:0 0 5px 10px;}
.redb{ background:url(../images/bgs_en.png) -101px -415px no-repeat;}
.greenb{ background:url(../images/bgs_en.png) -101px -479px no-repeat;}
.internal .greenb {background:url(../images/greenb2x.png) no-repeat; background-size: 621px 4px;}
.greenbStudy{ background:url(../images/bgs_en.png) -101px -479px no-repeat;}
.blueb{ background:url(../images/bgs_en.png) -101px -355px no-repeat;}

.green{ color:#5b872f;background:url(../images/bgs_en.png) -101px -479px no-repeat;}

.red{ color:#b92227;background:url(../images/bgs_en.png) -101px -415px no-repeat;}

.lightblue{ color:#275D99;background:url(../images/bgs_en.png) -101px -355px no-repeat;}

#container{ margin:0 auto; padding:0px;width:945px;text-align:left;}

#top-right {margin: 0 auto;
/*overflow: hidden;height: 30px;*/}
#top-right ul li {float:right;font-size:12px; display:inline; padding:7px 5px 0 0}
.accedi{margin:5px 0 0 0 !important;padding:5px 5px 0 0 !important}
#top-right a:hover{ text-decoration:none}
.logo{float:left;width:286px;height:69px;clear:both;}
.noimg{ border:0 !important;margin:10px  0 -9px 10px !important}
#left-panel{float:left;width:296px;margin:13px 7px 0 0;}

.homep{float:right !important;}


#big-text{clear:left;font-weight:bold;color:#333132;padding:0 10px 0 0;margin:0;font-size:40px;}
#big-textstudy{clear:left;font-weight:bold;color:#333132;padding:0 13px 0 0;margin:0 30px 5px 0px;font-size:35px;}
.prev_online, .button{width:290px;text-align:center !important;text-decoration:none;background:#7eaf3e;background: -webkit-gradient(linear, left top, left bottom, from(#87b843), to(#618f2c));
	background: -moz-linear-gradient(top,  #87b843,  #618f2c);
	background: linear-gradient(top,  #87b843,  #618f2c);display:block;padding:20px 0;margin:0 0 20px 0;font-size:180%;-moz-border-radius: 3px;border-radius: 3px;-webkit-border-radius: 3px;color:#fff;box-shadow: 0px 1px 1px #333;}
.button{ padding:12px 10px;float:right;width:200px;margin:0px 0px 15px 35px;font-size:18px;font-weight:bold;}


.button_small{float:left;text-align:center;padding:2px;margin:5px 5px 10px 0 ; width:150px;height:20px;font-size:12px;font-weight:bold;background:#598627 url(../images/menubg-bodybg.jpg) repeat-x 0 0;display:block;-moz-border-radius: 3px;-webkit-border-radius: 3px;color:#fff;}
.prev_online:hover, .button:hover{color:#fff;}
.search-engine .rushLink{float:right}





.prev_online2 {background: url(../images/menubg-bodybg.jpg) repeat-x 0 -70px;}
.prev_online2:hover{background:#598627 url(../images/menubg-bodybg.jpg) repeat-x 0 0;}

.log{display:none;}
.big-img{padding-top:30px;}
.left-txt li {margin:0;padding:0 0 10px 0;width:296px;border-bottom:1px dotted #d2d3d5;background:url(../images/bgs_en.png) 285px -185px no-repeat;}
.left-txt li:hover {background-color:#CEDBE5;}
.left-txt li.tindex{background:url(../images/bgs_en.png) 124px -185px no-repeat!important;width:130px!important}
.left-txt{margin:0 0 20px 0;padding:0;}
.left-txt p{  font-weight:normal}
.left-txt a{width:288px;font-size:17px;display:block;line-height:100%;display:block;padding:10px 0 5px 8px;margin:0px 0 0 0px;text-decoration:none;text-decoration:underline;}
.left-txt a:hover{text-decoration:none;}
.margin{margin:0 0 20px 0;}
#left-panel h3{margin:10px 0 5px 8px;font-size:160%;font-weight:bold;color:#002F65}
.more a{ color:#114170;float:right;}
.visited{ margin:0px 0 0 10px;font-size:12px;color:#000 ; text-decoration:none }
.left-arrow{ padding:15px 0 0 20px}
.divform{width:286px;float:left;padding:10px 0 0 10px}
.textbox {font:inherit;}
.textbox, .select{ margin:0 0 10px 0;font-size:16px;width:270px;border:1px solid #7F9DB9}
.search-engine .select, .search-engine .textbox, .search-engine .textboxmax{font-size:18px;width:260px;}
.search-engine a{font-size:15px;}

.textbox{ padding:1px;}
.textbox:focus, .textarea:focus{border:1px solid #275D99}
.error{ border:1px solid #FF0000}
.errortext{ color:#FF0000;margin:-25px 0 5px 25px !important;padding:0;font-size:12px !important;clear:both;}
.uploadError{ margin-top:10px !important;}
.divform .errortext{ margin:-10px 0 5px 0 !important;}
#newCustomerAuthError{ float:left;width:370px;padding:20px 0 0 0 !important;font-size:12px !important;}
#newCustomerAuthError p{ margin:0 !important;line-height:16px;}
.internal2 .form{ margin:0 0 0 10px;font-size:125%;font-weight:normal;}
.textboxmax{ margin:0 0 10px 0;font-size:16px;width:292px;}
.textbox2{ padding-right:5px; margin:0 0 -3px 0;font-size:15px;width:175px;text-align:right;align:right;}
.divform h4{font-weight:bold; font-size:14px; padding:10px 0 10px 0 }
.extrabtn{float:right; padding:10px 15px 20px 0}
#right-panel{float:left; width:620px;padding:3px 0 0 0px;}
#right-panel3{float:left; width:900px;padding:0 0 0 0; margin:10px 30px 0 70px;}
#right-panel2{float:left; width:924px;padding:3px 0 0 0px}
.alpha { filter:alpha(opacity=40);-moz-opacity:0.4;	-khtml-opacity: 0.4;	opacity: 0.4; height:1%;}
.btncenter{display:block;padding-left:8px;}
.orderbtn, .orderbtn_sml, .discount_code_box .discount_code_button {/*background:url(../images/btns.jpg) no-repeat 0 3px;*/
border-radius: 4px;
border: 1px solid #ccc;
background: #fefefe;
background: -moz-linear-gradient(top, #fefefe 23%, #fefefe 35%, #cfcfcf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#fefefe), color-stop(35%,#fefefe), color-stop(100%,#cfcfcf));
background: -webkit-linear-gradient(top, #fefefe 23%,#fefefe 35%,#cfcfcf 100%);
background: -o-linear-gradient(top, #fefefe 23%,#fefefe 35%,#cfcfcf 100%);
background: -ms-linear-gradient(top, #fefefe 23%,#fefefe 35%,#cfcfcf 100%);
background: linear-gradient(to bottom, #fefefe 23%,#fefefe 35%,#cfcfcf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cfcfcf',GradientType=0 );
width:187px;height:36px; float:left;padding:5px 10px;font-weight:bold;font-size:15px ;text-align:center;text-decoration:none;cursor:pointer;color:#000 !important }
.orderbtn:hover , .orderbtn_sml:hover{background: #fefefe; /* Old browsers */
background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 80%, #e2e2e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#fefefe), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 80%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 80%,#e2e2e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 80%,#e2e2e2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 80%,#e2e2e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}
.title{padding:6px 5px 5px 5px;font-size:26px !important;display:block;font-weight:normal;color:#333;text-align:center;width:301px;margin-bottom:15px;}
.subtitle{padding:6px 25px 10px 25px;margin-bottom:5px;font-size:14px;font-weight:normal;border-bottom:1px solid #ccc; color:#333 !important;text-align:center;width:250px;}
.subtitle2{color:#666;font-size:140%;margin:0;padding:0px 10px 10px 5px;}
#posteditingUnavailable {padding-top:40px !important;height:120px;}
#posteditingUnavailable .price{font-size:22px;}
#posteditingUnavailable .big{font-size:14px !important;}
#revisioneUnavailable {padding-top:40px !important;height:120px;}
#revisioneUnavailable .price{font-size:22px;}
#revisioneUnavailable .big{font-size:14px !important;}
#traduzioneUnavailable {padding-top:40px !important;height:120px;}
#traduzioneUnavailable .price{font-size:22px;}
#traduzioneUnavailable .big{font-size:14px !important;}
.orderblock{height:170px;}
#jason, .OrderWrapper, .PromoWrapper{float:left;width:937px;}



.price{
	clear:both;
	font-size:40px;
	line-height:28px;
	text-align:center;
	letter-spacing: -1px;
}
.sugg{background:#b1c7d6;width:100%;padding:5px 0;}
.topsol{background:url(../images/top.png) no-repeat 0 0px;display:block;width:54px;height:55px;position:absolute;margin:0 0 0 256px}
.date { font-size:20px;font-weight:normal;text-align:center;line-height:23px}
.dateinput{ font-size:16px;width:130px;text-align:right;font-weight:normal;border:0;background:#a5b6ca;float:left;margin:8px 0 0 10px;}
.date input, .date select{width:70px;text-align:center;font-size:100%}
.date-small { font-size:11px;font-weight:normal;text-align:center;display:block;margin:-2px 0 -4px 0;}
.ordate,.orcal,.orlbl{margin:0 0 0 0px;border:0;text-decoration:none;}
.orcal{margin:5px 0 5px 0px;}
.ordate{width:50px;}
.orltxt{width:20px;float:left;border:1px solid #ccc;font:11px Arial, Helvetica, sans-serif;}
.ftxt,.fleft{float:left;}
.newfooter {padding:10px 0!important;}
.footcol1, .footcol2, .footcol3 {margin: 0 25px 0 0!important; float:left;text-align: left;}
.footcol1 {width:160px!important;}
.footcol2 {margin-top: 5px!important;width:220px!important;}
.footcol3 {width:190px!important;}
.newfooter ul {width:175px!important;margin:0!important;}
.newfooter ul li {display:block!important; float:none!important;line-height:20px!important; margin:0!important;}
.newfooter .ftxt {width: 650px;}
.footcol2 ul {-moz-column-count:2;-webkit-column-count:2; column-count:2;margin-top: 3px!important;width: 200px!important;}
.a-news-balloon-1 {background: url(../images/btns_2_b.jpg) -100px -348px no-repeat;}
.a-news-balloon-2 {background: url(../images/btns_2_b.jpg) 0 -348px no-repeat;}
.a-news-balloon-3 {background: url(../images/btns_2_b.jpg) -200px -348px no-repeat;}
.newfooter .tw {padding-left:18px; background:url(../images/btns_2_b.jpg) -795px -284px no-repeat}
.newfooter .fb {padding-left:18px; background:url(../images/btns_2_b.jpg) -795px -236px no-repeat}
.newfooter .gp {padding-left:18px; background:url(../images/btns_2_b.jpg) -795px -258px no-repeat}
.certs1 {background:url(../images/btns_2_b.jpg) -404px -300px no-repeat}
.certs2 {background:url(../images/btns_2_b.jpg) -324px -300px no-repeat}
.certs3 {background:url(../images/btns_2_b.jpg) -488px -300px no-repeat}
.cards-accepted {background:url(../images/btns_2_b.jpg) 0px -238px no-repeat}
#subfooter {padding: 10px 0 40px 0!important;border-top: 1px dotted #ddd!important;float: left;
width: 945px;}
#subfooter ul {width:auto!important;float:left;}
#subfooter ul li {display:inline!important; margin:10px 10px 0 0!important;}
#subfooter p {width:auto!important; float:right!important;margin-top:0px!important;}
#subfooter span {vertical-align:top; float: right;}
#subfooter span.cards-accepted {margin-left: 10px;width: 182px;height: 19px;}
#subfooter img {padding-top:2px;vertical-align:top;}
.certs{float:right;padding: 5px 0 40px 0px;}
.certs a {cursor:default;}
.certs a:first-child {margin-right:10px;}
.certs a:last-child {margin-left:10px;}
.certs img:last-child {padding-bottom: 15px;}
.small{ font-size:11px;line-height:14px;margin:0px 10px 0 0}
.order2Wrap{ text-align:center}
.or2{padding-left:18px;}
.or3{padding-left:16px;}
.desc{line-height:13px;display:block;padding-top:10px;}
.ordesc{text-align:left;margin:10px 0 0 0;padding: 7px 10px 25px 10px;line-height:14px;background:#f2f2f2;height:140px;color:#545556;position:absolute;left:0;bottom:0;line-height:14px;}
.desc-title{font-weight:bold;display:block;text-align:center;padding:5px 0 7px 0;font-size:15px}
.more-title {margin: 15px 0;text-align: center;font-weight: bold;display: block;}
#showimage {visibility:hidden;}
#details,#hiddenModalContent, #hiddenModalContent2, #forceDeliveryContainer, #chooseTargetContainer, caption, #lostpsw, #hiddenModalContent3, #hiddenModalContent4, #loading, #nightDom, #showLoader, #comefunziona,#noteDom,#forgotPassword, #loginContainerHid, #noFileContainer {display:none;}
#footer{ margin:20px auto 0px auto; padding:5px 0 40px 0; width:945px;clear:both; border-top:1px solid #ccc;}
#footer p{ float:left}
#footer ul { margin:3px 0 5px 0;}
#footer ul li{ float:left; display:inline;margin:2px 1px;}
#footer a{ color:#003366;}
.hide {display:none;}
/*#uploadedList li{background:url(../images/bgs_it.gif) no-repeat -882px -568px; padding:0 0 0 20px}*/
#uploadedList li{padding:3px 0 0 20px;font-size:16px}
/*popup lingue*/
#chooseTargetsButtons{ margin:-50px 0 0px 0;float:right}
.showallang #listLangContainer {padding-left:10px;}
.de .showallang {width: 965px;}
.languages1{ font-family:Calibri, 'Lucida Grande', Arial, Helvetica, sans-serif}
.showallang ul.listlang:first-child {margin-left: 0px;}
.titlewindow{ font-size:250%;margin:0px 0 10px 0px;color:#002f65;border-bottom:1px solid #ccc;padding:5px 0 8px 11px;background:#b1c7d6}
.languages1 h2{ float:left;font-size:150%;}
.showallang label {cursor:default!important;width: 100%!important;font-weight:400!important;}
.showallang .listlang li:hover {background:none!important;cursor:default!important;}
.languages1 h3{ float:left;font-size:150%;margin:0px 0 0px 10px;}
.listlang li{ /*height:19px;*/width:235px;padding:5px 0 3px 0;  min-height: 15px;overflow:hidden;border-bottom:1px dotted #ccc;}
ul.listlang:first-child {margin-left:8px;}
.listlang  {float:left;padding:0;margin:0 2px;width:232px;font-size:120%;}
.listlang label {display:block;float:left;width:210px;}
.listlang  label, .label, .OrderWrapper a, .right-engine a, a, .col_picker3 label {cursor:pointer}
.bg_languages{background:#000;position:fixed; left:0;top:0;width:100%;height:100%;display:block;z-index:1;}
.cl{ clear:both;}
.sublist li{ display:inline;}
.sublist {margin:-5px 0 5px 0px;font-size:140%;padding:4px 5px 8px 15px;border-bottom:1px solid #ccc;}
.col{ float:left;width:180px;padding:10px;text-align:center;}
.top20{color:#002F65;font-weight: bold!important;font-size: 105%;}
.listlang input{margin:1px 5px 0px 5px;float:left;} 
.listlang label {font-weight:normal;}
.listlang  li:hover, .listlang .on{ background:#e6e7e8; font-weight:bold;cursor:pointer}
.listlang .on, .listlang .on:hover{ background:#81b951;}
.col2{ width:600px;}
.col2 h3{ margin:0 0 10px 0;}
.translate{ margin:-8px 27px 0px 0px;width:260px;float:left;text-align:right;}
/*internal pages*/
.internal ul, .domlist, .internal ol{ margin:5px 0 15px 30px; padding:0 0 0 25px;line-height:160%;}
.internal ul li, .domlist li, .internal ol li, .asvc ul li{font-size:130%; margin:0 0 0px 0px; padding:3px 0 3px 15px; background:url(../images/bgs_en.png) -897px -273px no-repeat}
 .domlist{ margin:5px 0 15px 0px; }
.internal ol li{background:none;padding:3px 0 3px 0px;}
.internal ol { margin:0 0 0 25px;}
.internal .img { margin:0px 10px 10px 0;border:1px solid #ccc;padding:2px;}
.internal {margin:8px 0 0px 0px; padding:0 0 0 0px;}
.internal p{ margin:5px 0 15px 25px; font-size:130%; }
.internal h3{ margin:15px 0 10px 0px;padding-top:10px !important;color:#002F65;font-size:160%; }
.rightarrow{ margin:15px 0 0 0 ;background:url(../images/bgs_en.png) right -81px no-repeat; display:block;width:20px;height:20px;float:right;}
/*tables*/
.table td{ padding:5px 5px;text-align:center;	border-bottom:1px dotted #ccc;border-left:1px dotted #ccc;}
.table .tdRight{ border-right:1px dotted #ccc}

.tableStudy {border:0;width:800px;margin:10px 0 10px 5px;background:#fff;}
.tableStudy .tdStudy{ font-size:15px; padding:5px 5px; text-align:left;	border-bottom:1px dotted #ccc;border-left:1px dotted #ccc;}
.tableStudy .tdStudyC{ font-size:12px; padding:5px 5px; text-align:center;	border-bottom:1px dotted #ccc;border-left:1px dotted #ccc;border-right:1px dotted #ccc}
.tableStudy .tdStudyBg{ background:#ebf3f8; font-size:15px; font-weight: bold; padding:7px 7px;text-align:left;	border-bottom:1px dotted #ccc;border-left:1px dotted #ccc;}
.tableStudy .tdStudyBgC{ background:#ebf3f8; font-size:12px; padding:5px 3px;text-align:center;	border-bottom:1px dotted #ccc;border-left:1px dotted #ccc; border-right:1px dotted #ccc;}
.tableStudy .tdStudyBgIndex{ background:#ebf3f8; font-size:15px; font-weight:bold; padding:5px 5px;text-align:center;	border-bottom:1px dotted #ccc;border-left:1px dotted #ccc;}
.tableStudy .thStudy{ font-size:15px; font-weight:bold; padding:5px 0;text-align:center;	border-bottom:2px solid #275d99;vertical-align: bottom;}
.tableStudy  .thLanguages{width:240px}
.tableStudy  .thCountries{width:90px}
.tableStudy  .thLanguages2{width:90px}
.tableStudy  .thCountries2{width:230px}
.tableStudy  .thInternetPopulation{width:120px}
.tableStudy  .thCumulative{width:90px;}
.tableStudy  .thTindex{width:60px} /* for sv only */
/*.tableStudy .tdStudyRight{text-align:right !important;  padding-right:29px  }*/
.tableStudy .tdStudyRight{text-align:right !important;  }
.tableStudy .internal {font-size: 97%; font-style:italic}
.tableStudyInternal {border:0;width:100%;margin:0;background:#fff;}
.table .right{ border-right:1px dotted #ccc;text-align:right !important}
.table .left{text-align:left !important}
.table-asseverazioni {border:1px dotted #ccc; font-size:20px;}
.table.asseverazioni-table td {border-left:none!important; border-right:1px dotted #ccc;}
.table.asseverazioni-table td, .table.asseverazioni-table th {  padding: 6px;}
.table.asseverazioni-table {  font-size: 15px;  border: 1px dotted #ccc;  margin-left: 35px;  width: 93%;}
th.asseverazioni-col {  width: 40%;}
tfoot td{text-align:left !important; border: 0 !important;padding-top:10px!important}
.domfooter{background:#B1C7D6;height:40px; width:100%;position:absolute;padding:5px 0  0 0; bottom:0;float:left;margin:0 0 0 -10px}
.countwords{text-align:right;left:0;position:absolute;width:150px;margin:0px 0px 0 360px;font-size:140%;font-weight:bold;color:#002F65;}
#uploadButton{margin:0 0 0 35px;width:20%;padding:12px 0 12px 0;text-align:center;/*background: url(../images/btns.jpg) no-repeat -195px 3px; */width:150px !important;font-weight:bold;}
#uploadButtonNote{margin:0 0 0 35px; display: block}
.domfooter .orderbtn_sml{background: url(../images/btns.jpg) no-repeat -382px 2px; width:185px !important;}
.table tr:hover{ background:#e6e7e8}
.table .no_bg:hover{ background:#fff}
.table2 {margin:0 0 10px 10px;font-size:130%;width:100%;}
.table2 td{ padding:2px 5px;}
.file{ margin:0 0 3px 0}
.extlink{background:url(../images/bgs_en.png) right -140px no-repeat;padding-right:15px; }
.table th{	padding:5px 0;	text-align:center;	border-bottom:2px solid #275d99;vertical-align: middle;}
.table {border:0;width:97%;margin:10px 0 10px 5px;background:#fff;}
.popup_col2 .table{margin:-4px 0 10px 0px}
.popup_col2 .table .right{text-align:right;}
label{font-weight:bold;}
label.preventivo{clear:both;}
#numSelectedMain{font-size:18px;}
.table3 {margin:10px 20px 10px 20px; font-size:medium; width:100%; line-height:inherit;border-bottom:none;border-left:none;border-right:none;}
.table3 td {padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;text-align:left;vertical-align:top;border-bottom:1px solid #275d99;border-left:none;border-right:none;}
.table3 th {padding:10px 10px;text-align:left;color:#002F65;font-size:large;font-weight:normal;vertical-align:middle;border-bottom:1px solid #275d99;}
/* upload*/
.MultiFile-label{margin:2px 0 0 0}
.MultiFile-remove{background:url(../images/x.gif) 0 0 no-repeat;margin:4px 4px -4px 0;display:block;width:12px; height:12px;float:left;}
/* box aiuto */
#countWordsClose .orderbtn_sml{margin:0 0 10px 0  !important; float:left !important}
.bg_box span{display:block;float:left;width:16px;padding:0 0 0 18px;height:16px;margin:2px 8px}
.bg_box .word{background:url(../images/bgs_en.png) -112px -157px no-repeat;}
.bg_box .pdf{background:url(../images/bgs_en.png) -344px -157px no-repeat;}
.bg_box .html{background:url(../images/bgs_en.png) -435px -157px no-repeat;}
.bg_box .xliff{background:url(../images/bgs_en.png) -500px -157px no-repeat;}
.bg_box .txt{background:url(../images/bgs_en.png) -185px -157px no-repeat;}
.bg_box .rtf{background:url(../images/bgs_en.png) -257px -157px no-repeat;}
.bg_box .ppt{background:url(../images/bgs_en.png) -595px -157px no-repeat;}
.bg_box p{line-height:16px;margin:0px 0 0 0 !important}
.words{margin:0px 0 10px 0;font-size:210%;}
.formati{float:right;width:150px;}
.formati ul, .formati ul li{margin:0;padding:0;width:150px !important}
.big{font-size:130%;font-weight:bold !important}
.order1 .big{font-weight:normal !important}
.order2 .big{font-weight:normal !important}
.order3 .big{font-weight:normal !important}
.order1, .order2, .order3{height:420px;position:relative;}
.big2{font-size:160%;font-weight:bold !important}
.textarea{height:200px;width:515px;padding:5px;margin:0 0 10px 0;font-family: Calibri, 'Lucida Grande', Arial, Verdana, Helvetica;}
.internal .textarea{width:570px !important;padding:5px;margin:0 0 10px 0;font-family:  Calibri, 'Lucida Grande', Arial, Verdana, Helvetica;border:1px solid #7F9DB9}
.sections{text-align:right !important;margin:2px 0 5px 0 !important;padding:4px 15px 5px 0 !important;font-size:10px;background:#CEDBE5;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.sections li{margin:0 0px 0 0px !important;padding: 3px 7px 0px 14px !important;;display:inline;background:url(../images/bgs_en.png) no-repeat -98px -248px !important;}
.sections li a{color:#275D99;font-weight:bold;}
.sectionsTindex{text-align:left !important;margin:2px 0 5px 0 !important;padding:4px 15px 5px 0 !important;font-size:10px;background:#CEDBE5;-moz-border-radius: 3px; -webkit-border-radius: 3px}
.sectionsTindex li {margin:0 0px 0 0px !important;padding:0;display:inline;background:url(../images/bgs_en.png) no-repeat -98px -248px !important;}
.sectionsTindex li a{color:#275D99;font-weight:regular;}
#sectionsTindex{font-size:14px;}
.numverde{float:right;width:120px;padding:50px 0 0 0;margin:0 10px 10px 10px;background:url(../images/bgs_en.png) no-repeat right 0px;text-align:center;}
#countWordsLeftBox{border:1px solid #ccc;background:#B1C7D6 !important;-moz-border-radius: 3px;-webkit-border-radius: 3px;margin:10px 10px 0 10px;float:left;background:#CEDBE5;width:914px;padding:0 0 0 10px}
.bg_box{padding:10px;border:1px solid #ccc;margin:10px 0 0px 10px;background:#CEDBE5;-moz-border-radius: 3px;-webkit-border-radius: 3px; }
.small_bg{float:left;width:436px;height:110px;margin-bottom:20px }
.bg_box:hover{background-image:none}
#supportedFormats{float:right;margin:-10px 0 0 0;width:150px;}
.internal h2{margin:0px 0 5px 0;padding:10px 0 0 10px; }
.internal h3, .internal p{padding:0px 10px;}
.popup_col2{width:310px;float:right;margin:9px 0 0px 0;}
.orderbtn_sml, #uploadButton, .discount_code_box .discount_code_button {
border: 1px double #ccc;
border-radius: 4px;
background: #fefefe;
background: -moz-linear-gradient(top, #fefefe 23%, #fefefe 35%, #cfcfcf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#fefefe), color-stop(35%,#fefefe), color-stop(100%,#cfcfcf));
background: -webkit-linear-gradient(top, #fefefe 23%,#fefefe 35%,#cfcfcf 100%);
background: -o-linear-gradient(top, #fefefe 23%,#fefefe 35%,#cfcfcf 100%);
background: -ms-linear-gradient(top, #fefefe 23%,#fefefe 35%,#cfcfcf 100%);
background: linear-gradient(to bottom, #fefefe 23%,#fefefe 35%,#cfcfcf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cfcfcf',GradientType=0 );
}
.orderbtn_sml {
float:right;width:167px !important;margin:0; }
.ordernum{display:block;margin:0px 0px 10px 10px !important;padding:5px 0 5px 0 !important;text-align:center;width:603px;-moz-border-radius: 5px; -webkit-border-radius: 5px;} 
.psw{text-align:right;width:270px !important; display:block;margin:-10px 0 0 0;font-size:12px;} 
.tabcontent .psw{margin:-5px 0 5px 0 !important;} 
/*ajax pagination */
.shadetabs {padding-top:10px;float:left; }
.shadetabs  li{ float:left;}
.shadetabs li a{ font-size:14px; display:block; padding:5px 15px 5px 10px;}
.shadetabs{width:288px;float:left;display:inline;height:24px;width:296px;border-bottom:1px solid #ccc; margin:0px 5px 0 0px}
.shadetabs li a:visited{color: #003366;}
.shadetabs li a:hover{text-decoration: none;color: #003366;}
.selected{ border:1px solid #ccc;border-bottom-width:0;background:#fff; position:relative;z-index:9;margin:0px 0 -1px 0;text-decoration:none !important; color:#000 !important;}
.shadetabs li a.selected:hover{text-decoration: none;}
.nobrd{ border-top:none; !important}
/*datepicker */
.col_picker, .col_picker2{color:#999;float:left;width:276px;height:240px;margin:10px 10px 0px 0;font-family:Calibri, 'Lucida Grande', Arial, Helvetica, sans-serif}
.col_picker2{height:210px;margin:10px 0px 0px 0 !important;text-align:center;}
.col_picker select{	font-size:160%;}
.col_picker3{width:635px;height:auto;padding:10px;border:1px solid #ccc;margin:10px 10px 0px 10px;background:#CEDBE5;-moz-border-radius: 3px;-webkit-border-radius: 3px;font-family:Calibri, 'Lucida Grande', Arial, Helvetica, sans-serif}
.brd{background:#B1C7D6 !important;}
.col_picker3 p{color:#999 }
.brd .col_picker, .brd .col_picker2, .brd .col_picker3, .brd p{color:#000;}
.col_picker3  #date2 {	 filter:alpha(opacity=40);-moz-opacity:0.4;	-khtml-opacity: 0.4;	opacity: 0.4; height:1%}
.brd  #date2 {	 filter:alpha(opacity=100);-moz-opacity:1;	-khtml-opacity: 1;	opacity: 1; height:1%}
.centered{text-align:center;font-size:190%; margin:5px 0;}
.datepickerHidden {	display: none;}
.datepicker{width:0px;}
.datepicker table {	float:left;margin:0 0 0 10px;}
.datepicker a {	color: #000 !important;	font-size:130%;	text-decoration: none;	cursor: default;padding:2px 2px 4px 2px;	outline: none;}
.datepicker a:hover {	text-decoration: none;background:none;}
.datepicker table td {	text-align: right;	padding: 0;	margin: 0;}
.datepicker th {	text-align: center;			font-weight: normal;}
.datepicker tbody th {	text-align: right !important;}
.datepicker tbody th  a{text-decoration:none;color:#333 !important}
.datepicker tbody a {	display: block;}
.datepickerDays a {	width: 20px;	line-height: 16px;	height: 16px;margin:1px;border:1px solid #B1C7D6; background:#CEDBE4;	padding-right: 2px;}
.datepickerDays a:hover {	background:#fff;	padding-right: 2px;}
.datepickerYears a,.datepickerMonths a{	width: 44px;	line-height: 36px;	height: 36px;	text-align: center;}
td.datepickerNotInMonth a {display:none !important;}
.datepickerMonth {	font-size:110% !important}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {	background: #B1C7D6;color:#fff;}
tbody.datepickerYears td.datepickerSelected,tbody.datepickerMonths td.datepickerSelected{background: #000;color:#fff;}
.datepicker a:hover,.datepicker a:hover {	color:#fff; cursor:pointer;}
.datepicker td.datepickerNotInMonth a:hover {	color: #fff;text-decoration:none;}
.datepicker tbody th {	text-align: left;}
.datepickerSpace div {	width: 20px;}
.datepickerGoNext a,.datepickerGoPrev a,.datepickerMonth a {	text-align: center;	height: 20px;	line-height: 33px;}
.datepickerGoNext a {	float: right;	width: 20px;}
.datepickerGoPrev a {	float: left;	width: 20px;}
table.datepickerViewDays tbody.datepickerMonths,table.datepickerViewDays tbody.datepickerYears {display: none;}
table.datepickerViewMonths tbody.datepickerDays,table.datepickerViewMonths tbody.datepickerYears,table.datepickerViewMonths tr.datepickerDoW {display: none;}
table.datepickerViewYears tbody.datepickerDays,table.datepickerViewYears tbody.datepickerMonths,table.datepickerViewYears tr.datepickerDoW {	display: none;}
/* Color for disabled days */
td.datepickerDisabled a,td.datepickerDisabled.datepickerNotInMonth a{	color: #666 !important; text-decoration:none;background:none;cursor:text !important}
/* Color of the current day */
td.datepickerSpecial a, td.datepickerSpecial a:hover { border:1px solid #B1C7D6;color:#000 !important }
/* Color when the current day is also selected */
td.datepickerSpecial.datepickerSelected  a {	background: #fff; }
/* Color of the day selected by the user */
tbody.datepickerDays td.datepickerSelected{	background: #fff; }
tbody.datepickerDays td.datepickerSelected  a{	background: #fff !important; }
/*loading*/
.loadingbox img{ margin-left: 100px;}
.loadingbox  h2, .loadingbox  p{clear:both !important;text-align:center !important}
#loadingsml{width:25px;height:25px;display:none;float:right;margin:-3px 10px 0 0px;background: url(../images/loadingsml2.gif) 0 0 no-repeat !important}
#detailsTable, #tableinfo{ font-size:14px;}
#loadingsml2{display:none;width:25px;height:25px;position:absolute;right:25px;margin-top:13px;background:url(../images/loadingsml2.gif) 0 0 no-repeat}
#loadingsml3{display:none;width:25px;height:25px;position:absolute;margin:10px 0 0 400px !important;background:url(../images/loadingsml2.gif) 0 0 no-repeat}
#loadingsml-w{display:none;width:25px;height:25px;position:absolute;margin:16px 0 0 350px !important;background: url(../images/loadingsml.gif) 0 0 no-repeat}
#loadingsml-w2{display:none;width:25px;height:25px;position:absolute;margin:6px 0 0 389px !important;background:url(../images/loadingsml.gif) 0 0 no-repeat }
#loadingsml-contatti{display:none;width:25px;height:25px;position:absolute;margin:8px 0 0 400px !important;background:url(../images/loadingsml.gif) 0 0 no-repeat }
#deliveryTimeError {color:red; text-align:right; margin-right:52px;font-size:14px; margin-top:10px;}
.noteDom { margin:5px 0 0 0px; display:none }
#registeruser label{width:200px;display:block;}
label.registeruserru {width:400px!important}
#countGross{color:#FF0000;text-decoration: line-through; }
#forgotErrorEmptyValue{top: 190px; left: 70px; opacity: 0.87;}
#inlineForgotErrorContainer{top: 430px; left: 95px; opacity: 0.87;}
#forgotErrorContainer{top: 200px; left: 70px; opacity: 0.87;}
.preventivo4backToHome{margin-left :175px; width:280px;font-size:120%;padding-top:7px;padding-bottom:7px;}
#preventivo4OPid{padding-bottom:10px;text-align:center}
#contactSentOk{display:none;font-size:110% ;color:#002F65;font-weight:bold;margin-top:10px;text-align:right;float:right !important}
#contactSentOkPop{font-size: 160%;padding: 20px;}
#contactSentTwPop{font-size: 160%;padding: 20px;}
#contactSentOk2{display:none;color: #002F65;
font-size: 15px;
font-weight: bold;
text-align: center;}
#contactSentOk3{display:none;}
.disabled {color: #ccc!important;background-position: 0 -38px;}
.bigimg{margin-left:33px}
#percheContainer{margin-top:2px}
.redText{color:red;}
#linkToLoginContainer{font-weight:bold; font-size:15px;margin-bottom:5px}
.search-engine .orderbtn {
background:#7eaf3e;
border:0;
background: -webkit-gradient(linear, left top, left bottom, from(#87b843), to(#618f2c));	
background: -moz-linear-gradient(top,  #87b843,  #618f2c);
	background: linear-gradient(top,  #87b843,  #618f2c);
	width:238px;font-size:18px;color:#fff !important;padding:10px 0 6px 0;margin:7px 0 0 98px;box-shadow: 0px 1px 2px #000;border-radius:3px ;margin-top:10px;text-shadow: 0px 1px 1px #365a1e;/* For IE 8 */

-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000')";

/* For IE 5.5 - 7 */

filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000');}

.disablebtn .search-engine .orderbtn, .disablebtn .search-engine .orderbtn:hover {
background: #efeefe;	
background: -webkit-gradient(linear, left top, left bottom, from(#efeefe), to(#d3d3d3)) !Important;	
background: -moz-linear-gradient(top,  #efeefe,  #d3d3d3) !Important;
	background: linear-gradient(top,  #efeefe,  #d3d3d3) !Important;width:238px;font-size:18px;color:#bcbec0 !important;box-shadow: 0px 1px 2px #757575;cursor:default;text-shadow:none;
	/* For IE 8 */

-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=190, Color='#757575')";

/* For IE 5.5 - 7 */

filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=190, Color='#757575');
	
	
	}


.order1 .orderbtn, .order2 .orderbtn, .order3 .orderbtn{background:#7eaf3e;
background: -webkit-gradient(linear, left top, left bottom, from(#87b843), to(#618f2c));
	background: -moz-linear-gradient(top,  #87b843,  #618f2c);
	background: linear-gradient(top,  #87b843,  #618f2c);
	border: 0;
	color:#fff !important;box-shadow: 0px 1px 2px #000;border-radius:3px ;height:30px !important;margin-top:8px
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000');
	}
	
	
	 .search-engine .button:hover, .search-engine .orderbtn:hover, .order1 .orderbtn:hover, .order2 .orderbtn:hover, .order3 .orderbtn:hover, .button:hover, .prev_online:hover {
		background:#8fbb4c;
		background: -webkit-gradient(linear, left top, left bottom, from(#a4c660), to(#86b743));
	background: -moz-linear-gradient(top,  #a4c660,  #86b743);
	background: linear-gradient(top,  #a4c660,  #86b743);
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000')";

/* For IE 5.5 - 7 */

filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000');
	
	}
	


 .superscript{font-size:small; vertical-align:top }
 .notestudy {font-size:9px; font-weight:normal; line-height:8px;}
 .center {text-align:center !important}

.tooltip {display:none;background:#FFFF99; font-size:12px; padding:5px; color:#000; font-weight:bold;width:330px}
.tooltip2 {display:none;background:#FFFF99; font-size:12px; padding:5px; color:#000; font-weight:bold;width:230px}
.tooltip3 {display:none;background:#FFFF99; font-size:12px; padding:5px; color:#000; font-weight:bold;width:230px}
#censorship_map , #t-index_map{margin:auto;margin-top:10px;margin-bottom:30px;}

#socialMediaBox{-moz-border-radius:3px ;-webkit-border-radius: 3px;position:absolute; top:2px; padding-bottom: 10px;padding-top: 10px; padding-left:0px; border: 1px solid #DDDDDD; left: -155px; width: 82px; }
#socialMediaBox2{-moz-border-radius:3px ;-webkit-border-radius: 3px; padding: 10px 0; text-align:center; border: 1px solid #DDDDDD; /*border: 0;*/ margin: 0 0 0 15px ; width:100px;}
#socialMediaBox  div, #socialMediaBox2  div { }
#socialMediaBox  .tw, #socialMediaBox2  .tw{padding-left:0px;margin-top:15px}
#socialMediaBox  .fb, #socialMediaBox2  .fb{padding-left:0px;}

.our-services {
    margin: 50px 0 40px 0;
    float: left;
    border: 1px solid #e2e2e2;
    background: #f9f9f9;
    width: 100%;
    font-size: 15px;
    border-radius: 4px;   
}

.homepage .our-services {
    margin: 10px 0;
    float: left;
    border: 1px solid #e2e2e2;
    background: #f9f9f9;
    width: 100%;
    font-size: 15px;
    border-radius: 4px;   
}


.our-services h4 {
  font-size: 20px;
  color:#002f65;
  margin: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.our-services ul {
   -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin:15px;
}

.our-services ul li {
  line-height: 24px;
}

#left-panel .our-services {
  background:transparent;
  border:none;
  margin:0;
  font-size:inherit;
}

#left-panel .our-services ul {
   -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin:0;
}


@font-face {
    font-family: 'Calibri';
    src: local('Calibri'),
         url('calibri-webfont.eot'),
         url('calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibri-webfont.woff') format('woff'),
         url('calibri-webfont.ttf') format('truetype'),
         url('calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;

}

@font-face {
    font-family: 'Calibri';
    src: local('Calibri'),
         url('calibri_bold-webfont-webfont.eot'),
         url('calibri_bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibri_bold-webfont-webfont.woff') format('woff'),
         url('calibri_bold-webfont-webfont.ttf') format('truetype'),
         url('calibri_bold-webfont-webfont.svg#calibribold') format('svg');
    font-weight: bold;

}

@font-face {
	font-family: 'klingon_fontregular';
	src: url('klingon-font-webfont.eot');
	src: url('klingon-font-webfont.eot?#iefix') format('embedded-opentype'),
	url('klingon-font-webfont.woff2') format('woff2'),
	url('klingon-font-webfont.woff') format('woff'),
	url('klingon-font-webfont.ttf') format('truetype'),
	url('klingon-font-webfont.svg#klingon_fontregular') format('svg');
	font-weight: normal;
	font-style: normal;

}



.internal.tutorial span,  .internal.tutorial ol li {
  font-size: 16px!important;
}

.tutorial .notes a {
  word-break: break-all;
  display: inline-block;
  margin-top: 20px;
}

.tutorial sup {
  top:-6px;
}

.internal.tutorial ul {
  padding: 5px 0 0 20px;
}

.internal.tutorial ul li {
  list-style: disc;
  background: none;
  padding: 0 5px 5px;
}


.tutorial img {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ccc;
}

.tutorial pre {
  background: #FBFBFB;
  padding: 5px 10px;
  border: 1px dashed #ccc;
    font-family: monospace;
  font-size: 14px;
  color: #666;
}

.tutorial pre strong {
    font-family: monospace;
}


/* nuova pagina servizi */
.PromoBox {
float: left;
padding-left:7px;
margin-top: -17px;}

.PromoBox.servizi {background: url(../images/sfondo-servizi.jpg) top right no-repeat;background-size: 637px 240px;height: 239px;
}
.asseverazioni .PromoBox {background: url(../images/sfondo-ass.jpg) bottom right no-repeat;padding-bottom: 180px; background-size:485px 182px;
}
.asseverazioni .PromoBox h1 {margin-top:32px;}
.PromoBox.full {width:930px;}

.PromoBox h1 {margin-top: 40px;padding: 0px 10px 5px 5px;
font-size: 39px!important;}

.VideoPage .PromoBox h1 {
  font-size:37px!important;
}

.serviziru h1 {font-size:36px!important;}

.PromoBox.servizi-de h1 {margin-top: 25px;}

.PromoBox .subtitle2 {font-size: 20px;line-height:24px;}
.PromoBox .prev_online, .call2 .prev_online, .headerscrollint .prev_online, .asseverazioni .orderbtn, .cnct
 {padding: 10px;
min-width: 210px;
font-weight: 600;
margin-top: 0px;
text-decoration: none;
margin-left: 5px;
font-size: 20px;


background:#7eaf3e;
background: -webkit-gradient(linear, left top, left bottom, from(#87b843), to(#618f2c));	
background: -moz-linear-gradient(top,  #87b843,  #618f2c);
	background: linear-gradient(top,  #87b843,  #618f2c);
	box-shadow: 0px 1px 2px #000;border-radius:3px ;text-shadow: 0px 1px 1px #365a1e;/* For IE 8 */

-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000')";

/* For IE 5.5 - 7 */

filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000');


border-radius: 3px;
-webkit-border-radius: 3px;
color: #fff;
box-shadow: 0px 1px 1px #333;}
.PromoBox .prev_online:hover, .call2 .prev_online:hover, .headerscrollint .prev_online:hover, .asseverazioni .orderbtn:hover
 
{
		background:#8fbb4c;
		background: -webkit-gradient(linear, left top, left bottom, from(#a4c660), to(#86b743));
	background: -moz-linear-gradient(top,  #a4c660,  #86b743);
	background: linear-gradient(top,  #a4c660,  #86b743);
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000')";

/* For IE 5.5 - 7 */

filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=190, Color='#000000');
	
	}
.PromoWrapper {margin-bottom:20px;}




.Promo {border: 1px solid #ccc;float:left;background: #fff;}
.Promo .int {padding:10px;}
.Promo p {font-size:16px;}
.Promo h2 {font-size:26px; font-weight:bold; padding:10px 10px 0px 10px;}
.ser1 h2 {color:#c0312b;}
.ser2 h2, .ser4 h2, .ser5 h2 {color:#497896;}
.ser3 h2 {color:#578022;}
.ser1de .spec {
padding: 10px 4px 15px 4px;
width: 135px;
margin: 10px 3px 5px 6px;
}
.ser1de .spec1, .ser1de .spec2 {
width: 155px;
}
.ser1, .ser2, .ser3 {min-height:370px; width:311px; -webkit-box-shadow:  0px 4px 9px 0px rgba(204,204,204,0.29);
-moz-box-shadow:  0px 4px 9px 0px rgba(204,204,204,0.29);
box-shadow:  0px 4px 9px 0px rgba(204,204,204,0.29);}
.ser4 {width: 60%;margin-right: 2.5%;}
.ser5 {width:37%;}
.ser4, .ser5 {border:1px solid #ccc; }
.ser1 .int {padding:0}
.ser1 p {padding:10px;}
.ser1 {margin-right: -1px;}
.ser3 {margin-left: -1px;}
.ser2, .asvc{-webkit-box-shadow: 0px 6px 18px rgba(204,204,204, 0.5);
-moz-box-shadow:    0px 6px 18px rgba(204,204,204, 0.5);
box-shadow:         0px 6px 18px rgba(204,204,204, 0.5);}
.ser2 li {padding: 10px 5px 26px 0;
height: 30px;}
.ser4 p {padding-left:75px; background: url(../images/sprite-servizi.png) -177px 1px no-repeat;}
.ser2 p {letter-spacing: -0.2px;}
.ser5 p {padding-left:75px; background: url(../images/sprite-servizi.png) -179px -78px no-repeat;}
.ser4 p, .ser5 p {background-size:282px 840px; min-height:80px;} 
.ser2 {margin-top: -15px;min-height: 385px;}
.call2 {width: 942px;
margin: 0 auto;
overflow: hidden;
min-height: 105px;
background: #f4f4f4;
border: 1px solid #ddd; margin-top:20px;}
.call2 .prev_online {margin: 0 auto;
overflow: hidden;margin-left: 30px;
width:210px;
margin-bottom: 10px;}
.Promo .redb, .Promo .blueb, .Promo .greenb {height:2px;}
.discovermore {
font-size: 15px;
float: right;
margin: 10px 0;
}
.sponsors2 {padding:0;}
.sponsors2a, .sponsors2b {
height: 132px;
padding-bottom: 0;}
.sponsors2a {
background: url(../images/clientlist1.jpg) no-repeat;
}
.sponsors2b {
background: url(../images/clientlist2.jpg) no-repeat;
}
.spec1, .spec2  {margin: 0 auto;
overflow: hidden;
float: left;
width: 150px; margin-bottom:15px;}
.spec {background: #fafafa;
border: 1px solid #e1e1e1;
height: 45px;
width: 128px;
overflow:hidden;
float: left;
padding: 10px 3px 15px 7px;
color: #666666;
line-height: 19px;
margin: 12px 0px 5px 10px;}
.spec li {display:inline;}
.spec h3 {font-size:16px; color:#333132; font-weight:bold; margin: 0 0 3px 0;}
.viewall, .exps2, .reds2  {float: right;
margin: 10px;
font-size: 15px;
clear:left;
}

.exps, .exps2 {background: url(../images/sprite-servizi.png) -185px -187px no-repeat;padding-left: 25px;
}

.reds, .reds2 {background: url(../images/sprite-servizi.png) -188px -200px no-repeat;padding-left: 20px;
}

.lingue1, .lingue2{padding-left: 35px;
width: 110px;
float: left;
margin: 10px 0;
font-size: 16px;
line-height: 36px;}

.servizi1, .servizi2 {
padding-left: 35px;
width: 110px;
float: left;
margin: 10px 0 0px 0;
font-size: 16px;
}

.servizi1 {
background: url(../images/sprite-servizi.png) 0px -508px no-repeat;
}

.servizi2 {
background: url(../images/sprite-servizi.png) -165px -508px no-repeat;
}


.lingue1 {background: url(../images/sprite-servizi.png) 2px 9px no-repeat;}
.lingue2 {background: url(../images/sprite-servizi.png) 5px -250px no-repeat;}
.call2 div {width: 294px;
padding: 20px 10px;
text-align: center;
min-height: 65px;
float: left;
font-size: 15px;}

.mailto {
display: block;
background: url(../images/sprite-servizi.png) -218px -144px no-repeat; color:#002f65; font-size:18px;width: 200px;
margin: 0 auto;
width: 155px;
color: #002f65;
height: 20px;
padding: 15px 15px 15px 50px;
font-size: 18px;}

.headerscroll {
position: fixed;
height: 90px;
width: 100%;
background: #fff;
-webkit-box-shadow: 0px 6px 9px 0px rgba(204,204,204,0.29);
-moz-box-shadow: 0px 6px 9px 0px rgba(204,204,204,0.29);
box-shadow: 0px 6px 9px 0px rgba(204,204,204,0.29);
}

.headerscrollint {margin: 0 auto;
overflow: hidden;
padding-top: 12px;
width: 950px;}

.headerscrollint .prev_online, .headerscrollint .cnct {
margin: 10px 0 0 30px;
float: right;
}

.headerscrollint .prev_online {min-width: 210px;
width: auto;}

.numv {
height: 50px;
display: block;background: url(../images/sprite-servizi.png) -78px -213px no-repeat;}

.asseverazioni .PromoBox ul h4 {font-size:24px;font-weight:bold;}
.asseverazioni .PromoBox ul span {font-size:16px;color:#666;}
.asseverazioni .PromoBox ul {margin-top:15px;}
.asseverazioni .PromoBox ul li {
line-height: 24px;
padding-left: 50px;
margin-bottom: 20px;
}

.asseverazioni .PromoBox h1, .asseverazioni .PromoBox .subtitle2 {
padding: 2px;
line-height: 30px;
}

.asseverazioni .orderbtn {width: 250px;
height: 43px;
margin: 20px 10px 10px 10px;color: #fff!important;}


.asseverazioni #left-panel4 {clear: left;
float: left;
width: 600px;
margin: 13px 7px 0 0;}
.asseverazioni #right-panel4 {width:330px;float: left;
padding: 3px 0 0 0px;}

.asseverazioni #uploadButton, .fright {float:right;}

.firstasv {background: url(../images/sprite-servizi.png) -160px -302px no-repeat;}
.secondasv {background: url(../images/sprite-servizi.png) -158px -372px no-repeat;}
.thirdasv {background: url(../images/sprite-servizi.png) -160px -440px no-repeat;}

.asvc {width: 310px;
float: right; border-radius:4px;height: auto;}

#loadingsml-contatti2 {position:absolute; }

.asvc h2 {background: #517aae;
color: #fff;
margin: 0;
padding: 10px 20px;font-size: 24px;}

.asvc .int {
padding: 10px 20px;
}

.asvc #uploadButtonNote {text-align:right;}

.PromoStep {width: 937px;
margin-bottom:20px;
float: left; border:1px solid #eeeeee; border-radius:4px;
background: rgb(252,252,252); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(246,246,246,1) 50%, rgba(252,252,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(50%,rgba(246,246,246,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(246,246,246,1) 50%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(246,246,246,1) 50%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(246,246,246,1) 50%,rgba(252,252,252,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(246,246,246,1) 50%,rgba(252,252,252,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-8 */


}

.PromoStep h4 {font-size:20px; text-transform:uppercase;color:#666666;font-weight: normal; margin-bottom:5px;margin-left: -5px;}
.PromoStep p {font-size: 14px;
color: #666;
line-height: 18px;
padding-left: 35px;}
.PromoStep span {width: 10px;
height: 20px;
display: block;
float: left;
margin-top: -5px;
margin-right: 10px;
border-radius: 60px;
background: #666666;
color: #fff;
font-weight: bold;
padding: 5px 10px;}
.step3 {padding: 20px 10px 0 20px;
width: 245px;}
.step3 img {padding:10px 0;}
.step1, .step2 {background: url(../images/step-next.png) right top no-repeat; width: 295px;}
.step1 {
padding: 25px 20px 35px 20px;
}
.step2 {
padding: 25px 10px 35px 10px;
}
.block {display:block;}


.contact-box span {background: url(../images/sprite-servizi.png) -166px -215px no-repeat;
display: block;
float: left;
height: 50px;
width: 120px;
margin-right: 10px;}

#right-panel4 .contact-box {border: none;
padding: 15px 0 5px 0;
border-radius: 0;
width: 270px;
box-shadow: inset 0px 7px 7px -6px #ccc;
-webkit-box-shadow: inset 0px 7px 7px -6px #ccc;
box-shadow: inset 0px 7px 7px -6px #ccc;}

.contact-box, .left-box {border-radius: 4px;
border: 1px solid #eeeeee;
padding: 12px;
width: 265px;
font-size: 15px;}

.left-box ul li {
margin: 0 0 0px 0px;
padding: 6px 0 12px 15px;
background: url(../images/bgs_it.png) -897px -273px no-repeat;}

.contact-box h3, .left-box h3 {font-size:24px!important; color:#666!important;margin:0 0 10px 0!important;}

.zipinfo {
cursor:help;
border-bottom: 1px dashed #000;
text-decoration: none;
}
#contactSentOkPopInt {text-align:center;}
#contactSentOkPopInt p {font-size:20px;line-height: 34px;}
#contactSentTwPopInt {text-align:center;}
#contactSentTwPopInt p {font-size:20px;line-height: 34px;}


.boxc {
border: 1px solid #eee;
height: 210px;
float: left;
margin: 0 10px 10px 0;
}

 .refbig .boxc {
	 height: 240px!important;
padding: 30px 10px 0;
	 }
	 
	  .refmed .boxc {
	 height: 230px!important;
padding: 30px 10px 0;
	 }

.col-2-3 {
width: 388px;
}

.col-1-3 {
width: 178px;
}

.col-1-2 {
width: 283px;
}

.last {
margin: 0;
}

br.clear {
clear: both;
}

.boxc div {height: inherit;
width: inherit;}
.row {
margin: 0 auto;
overflow: hidden;
width: 100%;
}
.boxc.half .retro {
top: -74px;
}
.half {height:79px!important; }

.google {background:url(../images/google.png) center center no-repeat;}
.hp {	background:url(../images/hp.png) center center no-repeat;}
.ibm{	background:url(../images/ibm.png) center center no-repeat;}
.who{	background:url(../images/who.png) center center no-repeat;}
.expedia{	background:url(../images/expedia.png) center center no-repeat;}
.ue{	background:url(../images/ue.png) center center no-repeat;}
.laprairie{	background:url(../images/laprairie.png) center center no-repeat;}
.lefigaro{	background:url(../images/lefigaro.png) center center no-repeat;}
.benetton{	background:url(../images/benetton.png) center center no-repeat;}
.deg{	background:url(../images/deg.png) center center no-repeat;}
.euc{	background:url(../images/euc.png) center center no-repeat;}
.enel{	background:url(../images/enel.png) center center no-repeat;}
.bem{	background:url(../images/bem.png) center center no-repeat;}
.alitalia{	background:url(../images/alitalia.png) center center no-repeat;}
.ooyala{	background:url(../images/ooyala.png) center center no-repeat;}
.jej{	background:url(../images/jej.png) center center no-repeat;}
.huawei{	background:url(../images/huawei.png) center center no-repeat;}


.front {opacity:1;}
.bgimg {
height: 120px!important;
}

.half .bgimg {height:80px!important;}
.boxc .retro {opacity: 0;
top: 0;
position: relative;
top: -210px;
width: inherit;
left: 0;
height: inherit;
}

.refbig .boxc .retro {top: -250px!important;}
.refmed .boxc .retro {top: -240px!important;}
.boxc .front a {text-decoration:none; font-weight:bold;}


.retro .extlink {
position: absolute;
right: 0;
width: 20px;
height: 20px;
margin-top: -10px;
margin-right: -5px;
}

.boxc h4 {font-size: 1.4em;
line-height: 18px;}

.boxc {padding:10px;}
.boxc h3, .boxc h4 {
	font-weight:normal;
padding: 5px 0 !important;
margin: 0!important;
}

.boxc h3 {
padding: 0!important;
}

.boxc p {padding: 0 0 10px 0;
font-size: 16px;
margin: 0;
line-height: 17px;}

.activec .front {opacity: 0;}
.activec .retro {opacity: 1;}

.hidedesktop {display: none;}

.a-news-balloon-1,
.a-news-balloon-2,
.a-news-balloon-3 {
    width: 100px;
    float: left;
    height: 100px;
}

.certs1,
.certs2,
.certs3 {
  width: 82px;
  height: 135px;
  float: left;
      margin-left: 15px;
}


.notes2.privacy_acceptance {
  text-align: right;
  width: 93%;
}

.notes2.privacy_acceptance a {
    text-decoration: none;
}

.privacy-notification {
    color: #003366;
    margin-top: 10px;
    position: absolute;
    width: 380px;
    font-weight: normal;
}





/********** PRIVACY POLICY  **************/
#privacy-policy {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #cedbe5;
  padding: 10px 0;
  display: none;
  z-index: 10000;
  text-align: center;
}

.privacy-policy-accept > a {
  font-size: 14px;
  color: #fff !important;
  text-decoration: none;
  padding: 4px 10px;
  margin-left: 30px;
  box-shadow: 0px 1px 2px #000;
  border-radius: 3px;
  text-shadow: 0px 1px 1px #365a1e;
  border: 0;
  background: #8fbb4c;
  background: -webkit-gradient(linear, left top, left bottom, from(#87b843), to(#618f2c));
  background: -moz-gradient(linear, left top, left bottom, from(#87b843), to(#618f2c));
  background: transparent -moz-linear-gradient(center top , #87B843, #618F2C) repeat scroll 0% 0%
}
/*****************************************/


.footcol2 ul select {
  display: none;
}


/* retina display query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2/1),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (in-resolution: 2dppx) { 
.logo img {display:none;}
.logo {background: url(../images/translated-logo_2x.png)  3px 3px no-repeat; background-size:274px 61px;}
.card  {background: url(../images/bgs_it_2x.png) -350px -100px no-repeat!important;}
.Perche2 {background: url(../images/bgs_en_2x.png) -846px -196px no-repeat!important;}
.img1 {background: url(../images/bgs_it_2x.png) 0 0 no-repeat!important;}
.img1:hover {background: url(../images/bgs_it_2x.png) 0 -42px no-repeat!important;}
.img2 {background: url(../images/bgs_it_2x.png) -64px 0 no-repeat!important;}
.img2:hover {background: url(../images/bgs_it_2x.png) -64px -42px no-repeat!important;}
.img3 {background: url(../images/bgs_it_2x.png) -362px -544px no-repeat!important;}
.img3:hover {background: url(../images/bgs_it_2x.png) -362px -607px no-repeat!important;}
.img4 {background: url(../images/bgs_it_2x.png) -248px 0 no-repeat!important;}
.img4:hover {background: url(../images/bgs_it_2x.png) -248px -42px no-repeat!important;}
.img5 {background: url(../images/bgs_it_2x.png) -166px 0 no-repeat!important;}
.img5:hover {background: url(../images/bgs_it_2x.png) -166px -42px no-repeat!important;}
.img6 {background: url(../images/bgs_it_2x.png) -530px 0 no-repeat!important;}
.img6:hover {background: url(../images/bgs_it_2x.png) -530px -42px no-repeat!important;}
.img7 {background: url(../images/bgs_it_2x.png) -362px -671px no-repeat!important;}
.img7:hover {background: url(../images/bgs_it_2x.png) -362px -717px no-repeat!important;}
.order2 {background: url(../images/bgs_en_2x.png) no-repeat 244px -314px!important;}
.numverde {background: url(../images/bgs_it_2x.png) no-repeat right 0px!important;}
#green h3 {background: url(../images/bgs_it_2x.png) no-repeat 100px -779px!important;}
#red h3 {background: url(../images/bgs_it_2x.png) no-repeat -115px -779px!important;}
#blue h3 {background: url(../images/bgs_it_2x.png) no-repeat -360px -779px!important;}
.ProgettiWrapper {background: #CEDBE5 url(../images/btns_2_2x.jpg) -312px 0px no-repeat;}
.left-imgtext {background: url(../images/btns_2_2x.jpg) 10px -56px no-repeat;}
.sections li {background: url(../images/bgs_it_2x.png) no-repeat -98px -248px !important;}
.rightarrow {background: url(../images/bgs_it_2x.png) right -81px no-repeat!important;}
.numbers {background:url(../images/bgs_en_2x.png) no-repeat -500px -534px;}
.call2-3 .numbers {background: url(../images/bgs_en_2x.png) no-repeat -512px -636px;}
.call2-3de .numbers {background: url(../images/bgs_en_2x.png) no-repeat -512px -603px;}
.call2-3nl .numbers {background: url(../images/bgs_en_2x.png) no-repeat -512px -632px;}
.call2-3sv .numbers {background: url(../images/bgs_en_2x.png) no-repeat -518px -601px;}
.internal .numbers {background: url(../images/bgs_en_2x.png) no-repeat -518px -609px;}
.internal .numbers_es {background: url(../images/bgs_en_2x.png) no-repeat -518px -639px;}
.numbers_uk {background: url(../images/bgs_en_2x.png) no-repeat -746px -638px !important;}
.number-es {background: url(../images/bgs_en_2x.png) no-repeat -500px -638px !Important;}
.numbers_sv .numbers {background: url(../images/bgs_en_2x.png) no-repeat -795px -607px;}
.When .needBeforeDom {background: #fff url(../images/bgs_en_2x.png) no-repeat 178px -160px;}
.left-txt li {background: url(../images//bgs_en_2x.png) 285px -185px no-repeat;}
/*.internal ul li {background: url(../images/bgs_en_2x.png) -897px -273px no-repeat!important;}*/

.ProgettiWrapper,.left-imgtext,.a-news-balloon-1,.a-news-balloon-2,.a-news-balloon-3,.newfooter .tw,.newfooter .fb,.newfooter .gp, .certs1,.certs2,.certs3,.cards-accepted {background-size: 809px 420px!important;}
.card, .Perche2, .img1,.img1:hover, .img2, .img2:hover, .img3, .img3:hover, .img4, .img4:hover, .img5, .img5:hover, .img6, .img6:hover, .img7, .img7:hover, .order2, .numverde, #green h3, #red h3, #blue h3, .sections li, .rightarrow, .numbers, .internal .numbers, .internal ul li , .internal .numbers_es, .numbers_uk,.number-es, .call-2-3 .numbers, .call2-3de .numbers, .call2-3nl .numbers, .call2-3sv .numbers, .When .needBeforeDom, .left-txt li {background-size: 900px 838px!important;}

.PromoBox {background: url(../images/sfondo-servizi2x.jpg) top right no-repeat!important;background-size: 637px 240px!important;}
.asseverazioni .PromoBox {background: url(../images/sfondo-ass-2x.jpg) bottom center no-repeat!important;padding-bottom: 170px!important; background-size:485px 182px!important;}
.servizi1 {background: url(../images/sprite-servizi2x.png) 0px -508px no-repeat!important;background-size: 282px 840px!important;}
.servizi2 {background: url(../images/sprite-servizi2x.png) -165px -508px no-repeat!important;background-size: 282px 840px!important;}
.ser4 p {background: url(../images/sprite-servizi2x.png) -177px 1px no-repeat!important;background-size: 282px 840px!important;}
.ser5 p {background: url(../images/sprite-servizi2x.png) -179px -78px no-repeat!important;background-size: 282px 840px!important;}
.lingue1 {background: url(../images/sprite-servizi2x.png) 2px 9px no-repeat!important;background-size: 282px 840px!important;}
.lingue2 {background: url(../images/sprite-servizi2x.png) 5px -250px no-repeat!important;background-size: 282px 840px!important;}
.numv {background: url(../images/sprite-servizi2x.png) -78px -213px no-repeat!important;background-size: 282px 840px!important;}
.mailto {background: url(../images/sprite-servizi2x.png) -218px -144px no-repeat!important;background-size: 282px 840px!important;}

.a-news-balloon-1 {background: url(../images/btns_2_2x.jpg) -100px -348px no-repeat;}
.a-news-balloon-2 {background: url(../images/btns_2_2x.jpg) 0 -348px no-repeat;}
.a-news-balloon-3 {background: url(../images/btns_2_2x.jpg) -200px -348px no-repeat;}
.newfooter .tw {background:url(../images/btns_2_2x.jpg) -795px -284px no-repeat}
.newfooter .fb {background:url(../images/btns_2_2x.jpg) -795px -236px no-repeat}
.newfooter .gp {background:url(../images/btns_2_2x.jpg) -795px -258px no-repeat}
.certs1 {background:url(../images/btns_2_2x.jpg) -404px -300px no-repeat}
.certs2 {background:url(../images/btns_2_2x.jpg) -324px -300px no-repeat}
.certs3 {background:url(../images/btns_2_2x.jpg) -488px -300px no-repeat}
.cards-accepted {background:url(../images/btns_2_2x.jpg) 0px -238px no-repeat}

}

.footcol2 select {
  display: none;
}

.footcol2 ul {
  display: block!important;
}

/********** STILE SMARTPHONE *****************/

@media only screen and (max-device-width: 767px) {

.our-services{
  width:80%;
  margin-right:5%;
  margin-left:5%;
}

.our-services ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top: 10px;
}

.formError {
  left:100px !important;
}

#left-panel .our-services{  
    width:100%;
    margin:0;
}

body.homepage {  font-size: 16px;  min-width: 320px; padding-bottom: 80px;}
.hidedesktop {display: block;}
.hidemobile {display: none;}

.t-index a.button_small {
    width: auto;
    padding:2px 4px;
}

.tableStudy .tdStudyBgC {
    padding: 4px 2px;
}

.tableStudy .thLanguages2 {
    padding: 4px 10px;
}

.logo img {display:none;}
.logo {background: url(../images/translated-logo_2x.png)  3px 3px no-repeat; background-size:274px 61px;}

.logo {
  padding: 10px 2%;
  background-position: center center;
  background-size: 178px;
  position: relative;
  height: 42px;
  width: 94%!important;
  margin-top:2px;
}

body.homepage .logo {
  padding: 1% 3%;
  margin-top: 1px;
background-size: 178px;
}

.homepage .reveal-menu,
.homepage .logo,
.homepage .nav-bg{
  position: relative;
}


div#DOMWindow {
    width: 100%!important;
    left: 0;
    top: 0!important;
    height: 100%;
    position: fixed!important;
    z-index: 100000000000000!important;
}

h1.titlewindow {
    position: fixed;
    width: 100%;
}

.showallang #listLangContainer {
    padding-top: 55px;
    padding-bottom: 155px;
    margin: 0 auto;
    overflow: hidden;
}

#chooseTargetsButtons {
    float: right;
    position: fixed;
    float: none;
    margin: 0;
    left: 74%;
    top: 5px;
}

#chooseTargetsButtons .orderbtn {
  width: 75px;
}

.footcol2 ul     { display: none; }
.footcol2 select { display: inline-block; }

.homepage .reveal-menu {
    width: 14px;
    margin-top: -15px;
    margin-left: 1px;
    padding: 5px 7px 5px 11px;

}

.landing-page .btf,
.landing-page .our-services,
.landing-page .contact-box,
.VideoPage .call2 {
    margin: 10px 2% 40px 2%!important;
    width: 89%!important;
    padding: 3%!important;
}

.landing-page .call2 div,
.VideoPage .call2 div {
  padding: 20px 0;
}

.VideoPage .PromoBox.servizi {
  padding: 0;
}

.PromoBox {
    background: none!important;
    padding-bottom: 20px;
    overflow: hidden;
        height: auto!important;
}

.refbig .boxc {
  height: 100%!important;
}

.front, .retro,.refbig .boxc .retro {
    height: 100%!important;
    /* float: left; */
    position: relative;
    display: inline-block;
    left: initial!important;
    top: initial!important;
    right: initial;
}

.landing-page .our-services ul {
    -webkit-column-count: 1!important;
        -moz-column-count: 1!important;
    column-count: 1!important;
}

.homepage .nav-bg {
     margin-top:-100px;
}

.homepage #currencySelect,
.homepage .accedi,
.homepage .subtitle2,
.homepage .left-engine,
.homepage .right-engine,
.homepage #left-panel,
.homepage #right-panel,
.homepage .newfooter,
.homepage .C-3colsWrap,
.homepage .Perche2 p,
.homepage #snapengage-button,
.homepage .SnapABug_Button,
.homepage .img2,
.homepage .img6,
.activec,
.homepage .OrderWrapper,
.landing-page #quoteform,
.landing-page #paghidopo,
.footcol2 ul,
.nav-bg .white, 
.nav-bg .white2, 
.nav-bg .white3, 
.nav-bg .white4, 
.white5, .white6 {
  display: none!important;

}

.internal img {
  width: 100%;
}

.homepage #container,
.homepage .search-engine,
.homepage #footer,
.homepage .sponsors,
.homepage .sponsors2,
.homepage .full-container,
.homepage .contatti,
.homepage .Perche2,
.homepage .txt-box,
.table3 img {
  width: 100%;
}

.right-panel-landing,
.landing-page .Perche2,
.landing-page .full-container,
.landing-page .Perche2 p {
  width: 100%!important;
}

.landing-page .reason-why span {
    height: 100px!important;
}

.left-panel-landing {
    padding: 2%;
    width: 96%!important;
}

.newfooter {
    padding: 10px 0 0!important;
}

.homepage .search-engine {
  background: transparent;
}

.mobilequote, #quoteform, #paghidopo {
      width: 94%;
    margin: 0 3%;
}



.left-panel-landing {
  margin: 0!important;
}
.landing-page #quoteform  {
  margin-left: 2%;
}

.homepage .search-engine h2 {
  text-align: center;
    font-size: 22px;
  padding: 7px 5px;
}

.homepage #container {
  height: 100%;
    display: block;
  position: relative;
}

.homepage select#langSelect {
  position: absolute;
  display: block!important;
  bottom: 0;
  top: 100%;
  left: 27%;
  height: 20px;
  margin: 4%;
}

.homepage .sponsors,
.desktopversion {
  text-align: center;
}

.homepage .card {
  zoom: 0.7;
}

.homepage hr {
  border-top: 1px solid #ccc;
}

.homepage .mobilequote .txt-box {
  line-height: 22px;
  box-shadow: inset 0px 1px 1px #222222;
  margin: 0 auto;
  background-color: #fff;
}

.homepage .Perche2 {
    box-shadow: 0px 2px 3px #EAEAEA;
      width: 96%;
  padding: 7px 2%;
  border: 0!important;
}


.homepage #paghidopo {
  box-shadow: inset 0px 0px 1px #222222;
}
.homepage #quoteform {
  min-height: 30px;
}

.homepage #big-text {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 10px;
  padding: 0;
}

.homepage .paghi {
    padding: 7px 0px 7px 10%;
  margin: 0!important;
  float: left;
  font-size: 16px;
}

.homepage .contatti {
    text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

img.example {
  margin: 20px 0;
    width: 90%;
      max-width: 240px;
}

.homepage .txt-box h2 {
  font-size: 20px;
  color:#002F65;
  line-height: 24px;
    margin: 0;
}

.homepage .txt-box h3 {
  color: #114170;
  font-size: 18px;
  margin: 10px 0 5px;
  font-weight: bold;
}
.homepage .txt-box-internal {
  padding: 10px 7px;
    text-align: center;
}
.homepage .mobilequote .txt-box p {
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}
.homepage .mail-mobile {
/*  background:#f4f4f4 url(../img/copypaste.png) 98% 3% no-repeat;
  background-size:24px;*/
  background: #FAFAFA;
  padding: 8px 30px;
  margin: 10px 5px;
  border-radius: 4px;
  text-align: center;
  font-size: 21px;
    color: #000;
  text-decoration: none!important;
  width: 74%;
  display: inline-block;
  border: 1px dotted #114170;
}


.homepage .sponsors h2, .homepage .contatti h2 {
  margin: 15px;
  font-size: 22px;
  color: #114170;
}

.homepage .sponsors img {
  width: 90%;
}

.homepage .sponsors a {
    zoom: 0.5;
      display: inline-block;
  float: none;
      margin: 5px 10px 0 10px!important;
}
.homepage .sponsors p {
  padding: 15px 0 10px 0;
}
.homepage .contatti p {
  line-height: 24px;
  padding: 0 10px;
  margin: 0 0 5px;
}
.phone1, .phone2, .mail {
  border-radius: 4px;
  border: 1px solid #ccc;
  text-decoration: none;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom:15px;
  display: inline-block;
  background-color: #f4f4f4;
  box-shadow: 0px 2px 3px #EAEAEA;
}
.phone1 span, .phone2 span, .mail span {
  display: inline-block;
  margin: 10px;
  float: right;
  font-size: 18px;
    padding: 2px 0 5px 30px;
}

.phone1 span, .phone2 span {
    background: url(../images/bgs_nl_2x.png) no-repeat -518px -639px;
}

.homepage .mail span {
    background: url(../images/bgs_nl_2x.png) no-repeat -518px -668px;
}

.homepage .img1 {
  background: url(../images/bgs_it_2x.png) 0 -42px no-repeat!important;
}
.homepage .img3 {
  background: url(../images/bgs_it_2x.png) -362px -607px no-repeat!important;
}
.homepage .img4 {
  background: url(../images/bgs_it_2x.png) -248px -42px no-repeat!important;
}
.homepage .img5 {
  background: url(../images/bgs_it_2x.png) -166px -42px no-repeat!important;
}
.homepage .img6 {
  background: url(../images/bgs_it_2x.png) -530px 0 no-repeat!important;
}
.homepage .img7 {
  background: url(../images/bgs_it_2x.png) -362px -717px no-repeat!important;
}
.homepage .img1,.homepage .img3,.homepage .img4,.homepage .img5,.homepage .img6,.homepage .img7,.homepage .phone1 span,.homepage .phone2 span,.homepage .mail span {
  background-size: 900px 838px!important;
}
.homepage .Perche2 {  background-size: 800px 700px!important;
  background-position: -752px -164px!important;}

/* responsiveness sito */
#container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}



#left-panel {
  width: 96%!important;
  margin: 2%;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

#right-panel {
    width: 100%!important;
  padding: 3px 0 0 0px;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

#footer {
    width: 100%;
  padding: 3px 0 0 0px;
  background-color: #f4f4f4;
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
  padding: 5%;
  margin-bottom: 10%;
}

.footcol2 {
  margin-bottom:20px;
}

#subfooter p {
  float: none!important;
  margin-top:55px!important;
}

.internal h2 {
    padding: 8px 0 0 10px;
    font-size: 26px !important;
}


.left-txt a,
.left-txt li {
  width: 100%;
  background: none;
}

.col-2-3,
.col-1-3,
.col-1-2 {
  height: auto;
  width: 92%;
  margin: 2%;
}

.table3 {
    margin: 2%;
    width: 96%;
        font-size: 1em;
}

.visualization-container {
    overflow-x: auto;
    display: block;
    width: 100%;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    overflow-x: auto;
}

.tableStudy {
      width: 100%;
    max-width: 100%;
}

.tableStudy, #visualization {
      overflow-x: auto;
    display: block;
}

#socialMediaBox2 {
  position: relative!important;
}

#censorship_map svg,
#visualization svg,
#censorship_map div div,
#visualization div div
 {
    width: 100%!important;
}
.table3 th {
  padding: 0;
    font-size: 1em;
}

.tableStudy .clickable {
  width: 15px;
  height: 15px;
}

#container,
.nav-bg,
.PromoBox.full,
.boxc div,
#jason, 
.OrderWrapper, 
.PromoWrapper,
.sponsors, 
.sponsors2,
.PromoTxt,
.call2,
.PromoVideo,
.ser1, .ser2, .ser3,
.ser4, .ser5, .call2 div,
.call2 .prev_online,
#google-visualization-geomap-embed-0 {
  width: 100%;
}

.ser1, .ser2, .ser3,.ser4, .ser5  {
  margin-bottom: 20px;
      width: 98%;
    margin-left: 2%;
}

.VideoPage #DOMWindow {
    width: 100%!important;
    top: 0!important;
}

.boxc .retro {
    opacity: 1;
    top:0;
        z-index: -100;
        margin-top:20px;
}

.footcol1, .footcol2, .footcol3
 {
  padding: 0 5%;
  float: none;
  width: 80%!important;
}

.call2 div {
  min-height: initial;
}

.footcol2 {
  margin-bottom:20px!important;
}

.sponsors2a, .sponsors2b {
  background-size: 100%;
  height:50px;
}

.certs {
  float: none;
  background: #fff;
  padding: 5% 5%;
      margin: 5% auto 0 auto;
    overflow: hidden;
  border-top: 1px solid #ccc;
}

.certs1, .certs2, .certs3 {
      margin: 0 7px;
}

.logo
{
  z-index: 11;
}

.nav-bg {
  z-index: 12;
}

.reveal-menu {
  z-index: 10000;
  top:15px;
  left: 3%;
}

.logo,
a.reveal-menu, 
.nav-bg  {
  position: fixed;
}

.nav-bg {
  top:60px;
  background: none!important;
  margin: 0;
  height: 0;
}

.nav-bg ul li a {
    /* background: url(../images/menubg-bodybg.jpg) repeat-x 0 -157px; */
  background: #517aae;
  text-align: left;
  padding: 0 4%;
  border:none;
  border-bottom: 1px solid #386399;
}

body.homepage .nav-bg ul {
       position: absolute;
    top: 45px;
}

a.prev_online {
  margin: 0 auto 30px auto;
}

.homepage #top-right {
  position: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 0;
}

#top-right {
  margin: 0 auto;
  background-color: #fff;
  height: 60px;
  position: fixed;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(204,204,204,0.29);
  -moz-box-shadow: 0px 3px 9px 0px rgba(204,204,204,0.29);
  box-shadow: 0px 3px 8px 0px rgba(204,204,204,0.29);
  width: 100%;
    z-index: 10;
  border-bottom: 1px solid #EAEAEA;
}



.nav-bg ul {
  display: none;
      width: 100%;
}

#SnapABug_Button,
#SnapABug_W,
.footcol1,
#subfooter,
.white1,
.white2,
.white3,
.white4,
#currencySelect,
.sections,
.accedi,
.headerscroll,
.call2 .prev_online {
  display: none!important;
}

select#langSelect {
  display: none;
}
a.prev_online {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 96%;
    left: 0;
    padding: 15px 2%;
    max-height: 50px;
    z-index: 100000;
}

iframe:not(.visualization-iframe),
.tableStudy,
.bigimg {
  width: 100%!important;
}

.bigimg {
  margin-left: 0;
}

.nav-bg ul li {
  display: inline;
}

a {
  word-break: break-word;
}

.table.asseverazioni-table {
  margin-left: 0;
}

#big-text, #big-textstudy {
  font-size: 32px;
  width: 94%;
  margin: 70px 3% 10px 3%;
}

body.homepage #big-text {
  margin:60px 3% 10px 3%!important;
  width: 94%;
}

a.reveal-menu {
  background: #517aae;
  color: #fff;
  padding: 5px 10px 5px 11px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 22px;
}

body.homepage .call-us {
  display: none;
}

body:not(.homepage) .call-us {
    position: fixed;
    top: 15px;
    right: 10px;
}


.numbers{
  float:none;
}

.call2-1{
  display:none;
}

.call-us {
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.call-us img {
    width: 20px;
    height: 20px;
}

.PromoBox h1 {
    margin-top: 90px;
}

.optimized .nav1 {
  border-left: 0px;
}


}/* \\smartphone end

/********** SMARTPHONE GRANDI  




@media only screen and (min-device-width: 500px) and (max-device-width : 767px) {

.homepage .sponsors a {
  zoom: 0.7!important;
}
}

**************/
/********** IPAD E TABLET  **************/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) { 

.homepage .left-engine,
.homepage .right-engine,
.hidedesktop.mobilequote .contatti,
.OrderWrapper {
  display: none;
}
.hidedesktop.mobilequote {display: block!important;}
.homepage .txt-box-internal {
  width: 915px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: inline-block;
  padding: 10px;
  text-align: center;
}
#quoteform {
  height: 34px;
}
.example {
  max-width: 300px;
  margin-top: 20px;
}
.mail-mobile {
/*  background:#f4f4f4 url(../img/copypaste.png) 98% 3% no-repeat;
  background-size:24px;*/
  background: #FAFAFA;
  padding: 8px 30px;
  margin: 10px 5px;
  text-decoration: none!important;
  border-radius: 4px;
  text-align: center;
  font-size: 21px;
  width: 40%;
  display: inline-block;
  border: 1px dotted #114170;
}
.homepage .txt-box h3 {
  color: #114170;
  font-size: 18px;
  margin: 10px 0 5px;
  font-weight: bold;
}
.mobilequote .txt-box p {
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}
.homepage .search-engine h2 {
  text-align: center;
}
} 

/* discount box */

.discount_code_box .textbox {
        margin-top: 10px;
    color: #666;
    padding: 5px;
    margin-right: 10px;
}

input#discount:disabled {
    background: #f7f7f7;
    border: 1px solid #ccc;
}

.discount_code_box {
    display: none;
    padding: 0 10px;
    margin-top: 10px;
    background: #f9f9f9;
        position: relative;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    box-shadow: 0px 1px 2px #ccc;
}

.discount_code_box .discount_code_button {
  float: none;
}

.discount_code_box p {
    padding: 5px 0 0!important;
    margin: 0!important;
    font-size: 16px;
        color: #002f65;
}

.discount_box_close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #666;
    cursor: pointer;
}

.discount_box_close:hover {
  color:#002f65;
}

.discount_notify {
    display: none;
    padding: 0!important;
    margin: 10px 0 0!important;
    font-size: 16px!important;
}

.discount_notify_error {
  color: red!important;
}

.discount_notify_success {
  color: green!important;
}


.customerTotalDiscounted, .customerTotalDiscountedEuro {
    margin-left: 10px;
}

.t-index .highlight {
    border: 1px solid #CEDBE5;
    padding: 10px!important;
    border-radius: 3px;
    background: rgba(206, 219, 229, 0.16);
}

.t-index .internal .greenb {
      background-size: 100% 4px;
}

.t-index td.tdStudyBgC.tdStudyRight:last-child {
    width: 100px;
}

.t-index .button_small {
  text-decoration: none!important;
}

.t-index .button_small:hover {
  text-decoration: underline!important;
}

.t-index #socialMediaBox2.fixed {
    position: fixed;
    top: 10px;
}
