@charset "utf-8";
/* CSS Document */
body{ padding:0; margin:0}
.indleft{width:300px;float:left;}
.indcenter{width:398px;float:left; margin:0px 10px; border:1px solid #ddd; overflow:hidden;}
.title{height:64px; background:url(../images/newtbg.gif) repeat-x;}
.title dl dt{text-align:center; width:398px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:keep-all; height:29px; margin-top:3px;}
.title dl dt a{color:#cc0000;font-size:14px; font-weight:bold; line-height:29px;}
.title dl dt a:hover,.title dl dd a:hover{text-decoration:underline;}
.title dl dd{width:189px; float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:keep-all; line-height:24px; height:24px;}
.title dl dd a{height:24px; line-height:24px;}
.title dl dd.lr5{width:10px; text-align:center;}
.indcenter ul,.new ul,.new2 ul{padding:5px 8px;*padding:11px 8px;_padding:11px 8px;}

.indcenter ul li a,.new ul li a,.new2 ul li a{line-height:24px;color:#333;}
.indcenter ul li a:hover,.dongtai ul li a:hover, .new ul li a:hover,.new2 ul li a:hover{color:#cc0000; text-decoration:underline;}
.indcenter ul li ,.new ul li ,.new2 ul li { height:24px;background:url(../images/icon_43.gif) no-repeat 3px 10px; padding-left:12px;}

.dongtai ul li { height:25px;}
.dongtai ul li span{background:url(../images/icon_43.gif) no-repeat 9px 10px; line-height:27px ;padding-left:15px; display:block}
.dongtai ul li span a{ line-height:27px;}

.lp10{padding-left:10px; text-align:right;}
.indright{width:280px;float:left;}
.tu{width:300px; height:222px; background:url(../images/tu.gif) no-repeat;}
.tuan{border:1px solid #ddd;}
.tuan h1{font-size:14px; line-height:29px; height:29px; background:url(../images/tuanbg.gif) repeat-x; border-bottom:1px solid #ddd; padding-left:18px; color:#333; font-weight:bold;}
.p10{padding-left:10px;}
.red{color:#fb0606;}
.green{color:#bbd047;}
.hui{color:#bcbbbb}
.tuan table{ margin:8px;}
.tuan table td{height:20px;}
.white{width:20px; height:25px; display:block; background:url(../images/icotuan.gif) 6px 0px no-repeat; color:#ffffff;}
.hei{width:20px; height:25px; display:block; background:url(../images/icotuan.gif) 6px -20px no-repeat; color:#333;}
.bomor{border-bottom:1px dotted #ddd;}
.dongtai{border:1px solid #ddd;}
.dongtai h1{height:29px; line-height:29px; background:url(../images/dongtaibg.gif) repeat-x;border-bottom:1px solid #ddd; padding-left:18px; color:#333; font-weight:bold; font-size:14px;}
 
.4sdian{}
.hdianc{background:url(../images/hongc.gif) repeat-x; height:30px; float:left; width:968px; padding-left:20px;}
.hdianct{ float:left; height:30px; width:110px;line-height:30px; font-size:14px; color:#fff; font-weight:bold;}
.hdiancitem{ width:81px; float:left; background: url(../images/4snav_03.gif) bottom;height:30px; text-align:center;}
.hdiancitem a{ line-height:30px; color:#333}
.hdiancitem1{ width:85px; height:30px; float:left; background:url(../images/4snav_05.gif) no-repeat right; text-align:center; }
.hdiancitem1 a{color:#fff ;line-height:30px;}
.hdianl{width:8px; height:30px; background:url(../images/hongl.gif) no-repeat; display:block;float:left;}
.hdianr{width:4px; height:30px; background:url(../images/hongr.gif) no-repeat; display:block;float:left;}
.diantuijian,.chetui{border:1px solid #ddd; float:left; width:998px;}
.renwu{border:1px solid #ddd;}
.dtjborder{ border-top:0}
.dianhang{padding:15px 0; display:none;}
.dianhang dl{width:130px; text-align:center; float:left; margin-left:10px;_margin-left:9px;}
.dianhang dl dt img{border:1px solid #ccc;padding:1px;}
.dianhang dl dd{line-height:24px;width:130px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:keep-all;}
.ad10{margin-top:4px; width:1000px; height:95px; float:left}


.chel{width:8px; height:30px; background:url(../images/huil.gif) no-repeat; display:block;float:left;}
.cher{width:4px; height:30px; background:url(../images/huir.gif) no-repeat; display:block;float:left;}
.chec{background:url(../images/huic.gif) repeat-x; height:30px; float:left; width:968px; padding-left:20px; line-height:30px; font-size:14px; color:#fff; font-weight:bold;}
.chelann{ float:left; line-height:30px; font-size:14px; color:#fff; font-weight:bold; float:left}
.chelanm{ float:left; line-height:30px; color:#fff; float:right; padding-right:10px;}
.chehang img{border:5px solid #dee3e7; padding:1px;}
.chehang table td{height:20px;}

.baojia{ border:1px solid #e0e0e0;}
.baojia h1{width:988px; height:28px; line-height:28px; background:url(../images/baojiabg.gif) repeat-x; color:#333; font-weight:bold; font-size:14px; padding-left:10px;}
.baojia table td{height:24px;}

.xinche{}
.xinche h1{padding-left:30px; width:970px; background:url(../images/bglan.gif) no-repeat -1px 0; height:40px;}
.h1name{ float:left; font-size:14px; font-weight:bold; color:#fff; line-height:40px;}
.h1more{ float: right; padding-right:15px; color:#fff; font-size:12px; font-weight:normal; line-height:40px;}
.shangshi{ overflow:hidden; width:1000px;}
.dong{width:300px; height:200px; border:1px solid #ccc; float:left; margin-top:14px; }
.new{width:340px;margin-left:10px; float:right; padding:4px 0;}
.new315s{width:690px; padding:4px 0;}
.new4sdian{width:990px; padding:4px 0; margin-left:15px;}
.ershuchecs{width:990px; padding:4px 0; margin-left:15px;}
.ershucheqg{width:990px; padding:4px 0; margin-left:15px;}
.new2{width:340px;float:right;padding:4px 0;}
.newall{border-bottom:1px dashed #ccc; float:left; width:690px; margin-left:8px;}

.mainhuan{width:1000px; height:auto;}
.huanleft{width:324px; border:1px solid #dee3e7; float:left; height:205px;}
.huancenter{width:324px; float:left; margin:0px 10px;border:1px solid #dee3e7; height:205px;}
.huanright{width:324px; float:left;border:1px solid #dee3e7; height:205px;}
.huanleft h1,.huancenter h1,.huanright h1{height:26px; padding-left:15px; line-height:26px; background:url(../images/chemingcibglan.gif) repeat-x; border-bottom:1px solid #dee3e7; font-size:14px;}
.huanleft h1 font,.huancenter h1 font,.huanright h1 font{width:13px; height:13px; background:url(../images/ico.gif) no-repeat; display:block; float:left; margin-top:6px; margin-right:5px;}
.huanleft h1 span,.huancenter h1 span,.huanright h1 span{float:right; margin-right:8px;line-height:26px;}
.huanleft h1 span a,.huancenter h1 span a,.huanright h1 span a{line-height:26px; color:#1d5d9a; font-size:14px;}
.huanleft ul,.huancenter ul,.huanright ul{padding:8px;}
.huanleft ul li a,.huancenter ul li a,.huanright ul li a{ line-height:22px; border-bottom:1px dashed #ccc;  padding-left:20px; height:22px; display:block; background:url(../images/icoli.gif) no-repeat 5px 7px;white-space:nowrap;text-overflow:ellipsis;word-break:keep-all;}
.huanleft ul li a,.huanright ul li a{width:262px;}
.huancenter ul li a{width:260px;}
.renwu img{border:1px solid #ccc; padding:2px;}

.chehang{ width:998px; float:left; padding-bottom:0px; background-image:url(../images/nav01_03.gif); background-repeat:repeat-x; background-position:top; background-color:#f7f7f7;}
.dtjborder{ border-top:0}