gc_main@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, p, div, form, img,ol, dl, dt, dd, label{margin:0;padding:0; list-style:none;}
ul,li{ padding:0; margin:0; list-style:none}
* {padding:0;margin:0;font-size:12px;color:#454545;line-height:18px;font-family: 宋体, Arial;}
input{margin:0;padding:0;font-style:normal;font-size:12px; }
img{border:none;}
a{text-decoration: none;}
h2{color:#085c97}
.space{clear:both;line-height:0;font-size:0;}/*clear floater*/
.all{width:1000px; margin:0 auto;}
.toprig{height:33px; background:url(../images/topbg.gif) repeat-x; line-height:33px; padding:0 8px;}
.toprig span{float:left;text-align:center; line-height:33px;}
.toprig span{line-height:33px; float:left; padding-right:5px}
.toprig span.w60{width:55px; display:block;}
.w61{ float:left;  }
.w61 a{color:red}
.toprig a{ line-height:33px;}
.toprig ul{float:right; line-height:33px; width:470px;display:block; height:33px;}
.toprig ul li{line-height:33px; width:366px; display:block; height:33px; float:left; _padding-top:5px;}
.toprig ul li.w200{width:100px;}
.shurukuang{width:100px; height:18px; border:1px solid #CCC; line-height:18px;}
.mar5{margin-top:5px;_margin-top:0px; width:40px; height:20px; display:block; float:left; margin-right:3px;}
.mart8{margin-top:0px;}
.mart101{ margin-bottom:8px;}
.toplo{height:70px; overflow:hidden;}
.toplo dl{}
.toplo dl dt{width:214px; height:70px; display:block; float:left;}
.toplo dl dd{width:382px; height:70px; float:left;display:block; margin-left:11px;}
.navleft{width:3px; height:87px; background:url(../images/navl.jpg) no-repeat -1px 0; float:left;}
.navcenter{ width:990px; height:87px; background:url(../images/navc.jpg) repeat-x; float:left;}
.navcenter dl{float:left; background:url(../images/jiange.jpg) right no-repeat; height:87px; display:block; padding-left:4px;}
.navcenter dl.d1{width:210px;}
.navcenter dl.d2{width:248px;}
.navcenter dl.d3{width:206px;}
.navcenter dl.d4{width:189px;}
.navcenter dl.d5{width:110px;}
.navcenter dl dt{display:block;margin-top:9px; float:left;}
.navcenter dl.d1 dt{width:50px; height:58px;}
.navcenter dl.d2 dt{width:50px; height:58px;}
.navcenter dl.d3 dt{width:50px; height:58px;}
.navcenter dl.d4 dt{width:50px; height:58px;}
.navcenter dl.d5 dt{width:50px; height:58px;}
.navcenter dl dd{height:80px; float:left; margin-top:18px; display:block;padding-left:9px;}
.navcenter dl dd a{float:left;color:#fff; margin-right:5px; line-height:22px; display:block;word-wrap:break-word;}
.navcenter dl.d1 dd{width:126px;}
.navcenter dl.d2 dd{width:184px;}
.navcenter dl.d3 dd{width:138px;}
.navcenter dl.d4 dd{width:120px;}
.navcenter dl.d5 dd{width:34px;}
.navcenter dl.d1 dd a{}
.navright{width:7px; height:87px; background:url(../images/navr.jpg) no-repeat; float:left;}
.ad ul li{width:325px; height:90px; display:block; float:left;}
.marlr{margin-left:12px; margin-right:13px;}
.submit_btn_1 {	border-style: none;
    border-color: inherit;
    border-width: 0px;
    vertical-align:middle;font-size:12px;font-family:Tahoma, "宋体"; color:#fff; background-image: url('../images/sousuo.gif'); 
    width:41px; line-height:20px;_line-height:14px;cursor: pointer;padding-top:1px;
}
.submit_btn_1112 {	vertical-align:middle;border:0px;font-size:12px;font-family:Tahoma, "宋体"; color:#fff; background-image: url(../images/sousuo1.gif); width:38px; height: 20px;line-height:20px;_line-height:20px;cursor: pointer;}
.input {vertical-align:middle; background:#fff; font-family: Tahoma, "宋体"; color:#666; font-size:12px; padding:3px 4px;}
a.lhong{color:#fb0606; font-weight:bold;}
.jkborder{ background:url(../images/nav01_030.gif) repeat-y right; float:left; margin-top:20px; display:inline;}
.jkbg{ background:none}
a.stol{ color:#085c97}
a.cs{ color:#666}
.kuangjia{ width:1000px; float:left;height:380px; _height:380px;}
.kjfooter{ width:1000px; float:left; height:220px; overflow:hidden;}


.youqing{border:1px solid #e0e0e0; overflow:hidden; float:left;  width:998px; background:url(../images/ctx_title_14.gif) bottom repeat-x}
.youqing h2{ height:29px; line-height:29px; font-size:14px; background: url(../images/dongtaibg.gif) repeat-x; padding-left:16px;}
.youqing ul{padding:6px 6px 6px 5px; display:block; overflow:hidden;}
.youqing ul li{width:93px;height:34px; line-height:24px; float:left; text-align:center;}
.about{text-align:center; float:left;  width:1000px;background:#3763A2}
.about ul{text-align:center; width:500px; margin:0px auto;}
.about ul li{width:80px;float:left; height:28px; line-height:28px;}
.about ul li a{ color:#000; padding-right: 12px;}
.about ul li span{ height:30px; line-height:30px;}
.copyright{text-align:center; line-height:22px; float:left; width:1000px;}
.wz_map{ float:left; width:992px; background: url(../images/ctx_nav_03.gif);line-height:29px; margin-bottom:3px ; padding-left:8px;}
.wz_map img{ padding-right:5px;}
.wz_mapa{ color:#ff6600}

/*车天下*/
.ctx{ overflow:hidden; float:left; width:1000px;}
.cx_left{ width:354px; float:left;}
.cx_left_img{ height:197px; border:1px solid #dee3e7; padding:1px; float:left}
.cx_left_hot{ margin-top:8px; float:left; display:inline }
.cx_left_title{ height:31px; width:322px; background-image: url(../images/ctx_title_14.gif); border:1px solid #dee3e7; line-height:31px; padding:0 15px;}
.cx_hotimg{ padding:15px 0 5px 0; border:1px #dee3e7 solid; border-top:0; overflow:hidden; height:100%;}
.cx_hotimg ul{ float:left; list-style:none;}
.cx_hotimg ul li{ float: left; width:90px; padding-left:20px; text-align:center}
.cx_hotimg ul li p{ padding-top:5px;}
.cx_hotimg ul li a{ line-height:18px; }

.cxspan1{ float:left;color:#375a91;font-size:14px;line-height:31px; font-weight:bold; display:block}
.cxspan2{ float:right;line-height:31px; display:block; color:#777 }

.cx_right{ width:634px; float:left; border:1px solid #dee3e7;margin-left:10px; height:362px;}

.cx_rightmenu{ height:31px; background-image: url(../images/ctx_title_14.gif); line-height:31px; border-bottom:1px solid #dee3e7}
.span00{ width:70px; float:left; text-align:center; line-height:31px; background-position:right; background: url(../images/cxnav_07.gif) no-repeat; color:#375a91}
.span01{ width:70px; float:left; text-align:center; line-height:31px; margin-top:1px; border-right:1px solid #dee3e7; color:#375a91; font-weight:bold; background-color:#fff; cursor:pointer}
.cx_huizong{ float: left; display:none}
.cx_huizong_tu{text-align:center; width:634px; padding:8px 0 5px 0; float:left;}
.cx_huizong_tu li{ width:134px; float:left; list-style:none; padding-left:20px;}
.cx_tu{ float:left; width:130px; border:1px solid #dee3e7; padding:1px}
.cx_huizong_pp{ width:634px; float:left; padding-top:4px;}
.cx_huizong_pp li{ width:120px; float:left;margin-left:20px; display:inline;  background:url(../images/icoli.gif) left no-repeat;  padding-left:14px; border-top:1px solid #dee3e7}
.pal{ float:left;height:26px; line-height:26px;color:#375a91; }
.par{ float:right;height:26px; line-height:26px;}
.cx_name{ line-height:22px; width:134px; float:left}
.cx_cs{ width:134px; float:left;}
.cx_cx{ margin-right:4px; display: inline;color:#085c97}

.shipl,.cheshi{ overflow:hidden; padding-top:8px; float:left; width:1000px;}
.sp,.gn{width:354px; float:left; height:330px; }
.sp_title{ background-image:url(../images/ctx_title02_24.gif); height:33px; border-left:1px solid #dee3e7;border-right:1px solid #dee3e7; padding:0 15px; float:left; width:322px;}
.spmain{ float:left;border:1px solid #dee3e7;padding:9px 8px 8px 15px; width:329px; overflow:hidden}
.spmain dl{}
.spmain dt{ float:left}
.spmain dd{ float:left; width:216px; padding-left:15px; line-height:22px;}
.spul{ float:left;padding-right:15px;padding-top:8px;}
.spul li{ line-height:26px; float:left; width:324px; border-top:1px dotted #d1d1d1;  }
.spleft{ float:left; color:#333;line-height:28px;}
.spright{ float:right;line-height:28px;}
.spspan1{float:left;color:#fff;font-size:14px;line-height:31px; font-weight:bold; display:block; background:url(../images/ctx_title01_22.gif) no-repeat; width:103px; text-align:center}
.ers{width:635px; float:left;margin-left:10px; border-right:1px solid #dee3e7; display: inline}
.ersnews{ float:left; width:316px;height:330px;border-left:1px solid #dee3e7; border-right:1px solid #fff; border-top:1px solid #dee3e7; height:330px;}
.erstitle{ width:286px; background-image: url(../images/bgtitblue.png); float:left; line-height:31px; padding:0 15px;}
.gainian{ float:left; width:316px;height:330px;border-left:1px solid #dee3e7; border-top:1px solid #dee3e7}
.gntitle{ width:286px; background-image: url(../images/bgtitblue.png); float:left; line-height:31px; padding:0 15px;}

.zixunul{ float: left; padding:8px; width:278px;}
.zixunul li{ float:left; width:263px; padding-left:15px; background:url(../images/icon_43.gif) no-repeat 5px 11px; height:26px; overflow:hidden }
.zixunul li a{line-height:26px; }
.pinpai{ float:left; margin-bottom:8px; display:inline; overflow:hidden}
.pinpaimain,.guonei,.guowai{float:left;border:1px solid #dee3e7;padding:20px 8px 7px 15px; width:329px; overflow:hidden}
.pinpaimain img{ border:1px solid #d2deee; margin-left:9px; display:inline; margin-bottom:20px;}

.xinche{ float:left;border:1px solid #dee3e7; width:996px; padding:1px; overflow:hidden; margin-bottom:0px; display:inline}
.xinctitle{ width:961px; height:36px; background-image:url(../images/nav00_03.gif); line-height:36px; color:#fff; font-weight:bold; font-size:14px;padding-left:35px;}
.xinchemain{  float:left; overflow:hiden; margin-bottom:8px; display:inline; width:985px; padding:15px 0 8px 15px;}
.xcleft{ width:300px; float:left;}
.xctu{ width:294px; height:196px; float:left; padding:2px; border:1px solid #dee3e7;}
.xcname{ margin-top:10px; background:#e7edf5; text-align:center; line-height:36px; display:block; width:300px;height:36px; float: left}
.xcright{ width:670px; float:left; margin-left:15px; display:inline }
.xcp{ width:142px; float:left; margin-right:16px; display:inline; margin-bottom:20px;}
.xcrtu{ width:136px; height:91px; float:left; padding:2px;border:1px solid #dee3e7 }
.xcrname{ width:142px; height:24px; line-height:24px; text-align:center; float:left; display:block;background:#e7edf5;margin-top:3px; }

.tuku{ float:left; width:1000px;margin-bottom:8px; display:inline}
.tukumain{border:1px solid #dee3e7; float:left; border-top:0}
.tukuleft{ width:354px; float:left; overflow:hidden}
.tukutu{float:left;padding:20px 8px 7px 12px; width:332px; overflow:hidden;border-right:1px solid #dee3e7;}
.tu_title{ background-image:url(../images/ctx_title02_24.gif); height:33px;padding:0 15px; float:left; width:968px; overflow:hidden}
.slt{ float:left; padding-top:7px;}
.slt01{ width:97px; height:65px; float:left; border:1px solid #dee3e7; padding:2px; margin-right:7px; display:inline}
.tukuright{ width:633px;float:left; height:100%; padding:20px 0 0 10px}

.xinwen{ float:left; width:1000px;margin-bottom:8px; display:inline; height:260px; border-bottom:1px solid #dee3e7;}
.jinxiao{width:333px; float:left; overflow:hidden;}
.jxtitle{background-image: url(../images/bgtitblue.png);height:36px;width:303px; float:left; border:1px solid #dee3e7; border-bottom:0; padding:0 15px;}
.jxmain{float:left; border:1px solid #dee3e7;width:313px; padding:0 10px; border-top:0; border-bottom:0; height:223px;}
.jxmain1{float:left; border:1px solid #dee3e7;width:313px; padding:10px; border-top:0; border-bottom:0; height:203px;}
.jxtu{ width:120px; height:86px; float:left; border:1px solid #dee3e7; padding:2px;}
.jxitem{ float:left; padding-bottom:10px;}
.jxdetail{ width:182px; height:86px; float:left; padding-left:5px;}
.jxdetail a{ color:#375a91}
.maichang{ width:332px; float:left;}
.mctitle{background-image: url(../images/bgtitblue.png);height:36px;width:302px; float:left; border:1px solid #dee3e7; border-bottom:0; padding:0 15px;}
.mcmain{float:left; border:1px solid #dee3e7;width:312px; padding:0 10px; border-top:0; border-bottom:0; height:223px; }


/*社区*/
.sc{  border:1px solid #dee3e7; padding:1px; float:left; width:350px;}
.youping{ overflow:hidden}
.yptitle{width:322px;height:26px; float:left; border-bottom:1px solid #dee3e7;padding:6px 15px 0 15px}
.yp{color:#085c97; width:80px;float:left;line-height:26px;  text-align:center; background-color:#fff; border:1px solid #dee3e7;border-bottom:0;font-size:14px; font-weight:bold; margin-left:6px; cursor:pointer}
.luntai{color:#085c97; width:80px;float:left; line-height:26px; text-align:center; font-size:14px;background-image: url(../images/ctx_title_14.gif); border:1px solid #dee3e7; border-bottom:0; margin-left:6px; display:inline;}
.scul{ padding:10px 15px; float:left; display:none }
.scul li{ float:left; height:24px; line-height:24px;width:312px; background:url(../images/icon_43.gif) no-repeat 0px 12px; padding-left:8px}
.sqright{ float:left;border-bottom:1px solid #dee3e7; width:646px;}
.sqct,.sqrt{width:313px; float:left; padding-left:10px;}
.byul{ float:left; width:344px; padding:0 5px; }
.byul li{ width:336px; float:left; height:28px; line-height:28px;background:url(../images/icon_43.gif) no-repeat 0px 12px; padding-left:8px}
.byleft{ float:left; color:#333;line-height:28px; width:250px;}
.byleft a{line-height:28px;}
.byright{ float:right;line-height:28px; width:86px; text-align:right}
.sq_search{ border:1px solid　#dee3e7; width:278px; float:left}
.sq_title{ border-bottom:1px solid　#dee3e7; height:29px; float:left; width:278px  }
.titlename{ width:50px; height:30px; text-align:center; background-color:#fff; line-height:30px; border-right:1px solid #dee3e7; display:block; float:left; color:#085c97; cursor:pointer; font-weight:bold}
.titlename01{width:50px; height:29px;text-align:center; line-height:29px;background-image: url(../images/ctx_title_14.gif); border-right:1px solid #dee3e7; display:block; float:left; color:#085c97 }
.sqtext{ float:left; height:24px; padding:15px 15px; width:248px; display:none}
.search_l{ float:left; width:180px; height:21px;}
.search_r{ float:right; width:68px; height:21px;}
.sequ_right{ float:left; width:280px;margin-left:6px; display:inline;}
.retie{ border:1px solid　#dee3e7; width:278px; float:left; margin-top:8px;}
.rt_title{ float:left; width:276px; padding:1px; border-bottom:1px solid　#dee3e7; height:29px;  }
.ltname01{color:#085c97; float:left; width:91px;   text-align:center; line-height:29px; border-right:1px solid #dee3e7;background-image: url(../images/ctx_title_14.gif)}
.ltname02{ color:#085c97;float:left; width:91px;height:31px; display:block;text-align:center; border-right:1px solid #dee3e7;line-height:31px; background-color:#fff; font-weight:bold;cursor:pointer;}
.ltul{ float:left;width:256px; padding: 10px; display:none}
.ltul li{ float:left; border-bottom:1px dotted #dee3e7; padding:2px 0}
.lticon{ float:left; width:19px; padding-left:4px;height:25px; background:url(../images/icotuan.gif) 0px 4px  no-repeat; line-height:25px; color:#ffffff; }
.lticon01{ background:url(../images/icotuan.gif) 0px -17px no-repeat;float:left; width:19px; padding-left:4px;height:25px; color:#333; line-height:25px;}
.ltdetail{ float:left; width:227px; display:block; padding-left:6px; line-height:28px}
.huanbao{overflow:hidden; padding-top:8px; float:left; width:1000px;}
.chaxun{ float:left; width:254px; padding:14px 12px 4px 12px; }
.cx_select{ width:170px;float:left}
.select0{ width:170px; height:22px;}
.select1{width:170px;height:22px; margin-top:7px;display:inline;}
.cx_btn{ width:74px; float:left; margin-left:10px; background-color:#ff6600; height:51px; line-height:51px; text-align:center; color:#fff; font-size:14px; font-weight:bold}
.tishi{ padding-top:8px; display:block; width:254px; float:left}
.tishi font{ color:red}
.lushi{ float:left; border:1px solid #dee3e7; border-left:0; border-right:0; font-size:14px; line-height:28px; width:263px; padding-left:15px; margin-top:8px; display: inline}
.ls_dl{ width:248px; float: left; padding:11px 15px }
.ls_dl dt{ float: left; width:79px;}
.ls_name{ width:79px; float:left; background-color:#e7edf5; line-height:22px; height:22px; display:block; text-align:center; margin-top:2px;color:#085c97}
.ls_dl dd{ float:left; width:161px; line-height:18px; padding-left:8px;}
.ls_dl dd font{ color:#787878}
.baobei{width:998px;border:1px solid #dee3e7;border-top:0; margin-top:8px; float:left; display:inline}
.bb_main{ float:left; padding:12px 0;  width:998px;}
.bb_item{ float:left; margin-left:16px; width:106px;}
.bb_tu{ border:1px solid #ccc; padding:1px ; float:left}
.bb_name{background-color:#e7edf5; width:106px; float:left; line-height:24px; text-align:center; color:#085c97; margin-top:1px; display:inline}


/*资讯*/
.gnul{ width:329px; float:left; padding:6px 0}
.gnul li{ float:left;background:url(../images/icon_43.gif) no-repeat 0px 11px; height:24px; padding-left:10px; width:319px}
.gnul li a{line-height:24px; }

.gw{width:354px; float:left; margin-left:6px; display: inline}
.falu{width:255px; float:left; padding:4px 7px 8px 12px}
.falu li{ float:left; border-bottom:1px  dotted #ccc; width:245px; height:26px;background:url(../images/icoli.gif) no-repeat 0 11px; padding-left:10px; }
.falu li a{ line-height:26px;}

.zx{overflow:hidden; float:left; width:1000px;}
.zcleft{  border:1px solid #dee3e7; float:left; width:340px; padding:6px;}
.zxtitle{width:322px;height:26px; float:left; border-bottom:1px solid #dee3e7;padding:6px 15px 0 15px}
.zx_center{ width:354px; float:left; margin-left:6px; display:inline;}
.zx_ct_title{ width:339px; float:left; border-bottom:1px solid #dee3e7; line-height:30px; padding-left:15px; font-size:14px; }
.zx_ct_main{ float:left; width:354px; padding-top:8px}
.zx_ct_main h3{ font-size:14px; color:#ff6600; height:26px; line-height:26px; text-align:center}
.zx_ct_mainitem{ margin-bottom:8px; border-bottom:1px dotted #ccc; padding-bottom:8px;}

.zx_ctul{float:left; padding:0 0 8px 0; border-bottom:1px solid #dee3e7 }
.zx_ctul li{ float:left;width:340px;padding-left:14px; line-height:24px; background:url(../images/icon_43.gif) no-repeat 5px 11px}
.zx_right{ float:left; width:278px;margin-left:6px; display:inline;border:1px solid #dee3e7;}
.zx_rt_title{ background-image: url(../images/bgtitblue.png);height:35px;width:264px; line-height:31px; padding-left:14px; float:left; font-size:14px}
.zx_rtul{ width:259px; float:left; padding:8px 7px 8px 12px}
.zx_rt_red{width:20px; float:left; height:24px; display:block; background:url(../images/icotuan.gif) -2px 5px no-repeat; color:#fff; text-align:center;line-height:28px;}
.zx_rt_grey{width:20px; float:left; height:24px; display:block; background:url(../images/icotuan.gif) -2px -16px no-repeat; color:#333; text-align:center;line-height:28px;}
.zx_rt_liitem{ width:234px; float:left;line-height:28px; padding-left:5px;}
.zx_rtul li{ float:left; border-bottom:1px  dotted #ccc; width:259px; }

.xcss{ float:left; border:1px solid #dee3e7; border-top:0; margin-top:8px; display: inline}
.xcss_main{ float:left; width:968PX; padding:8px 15px;}
.guonei dl{ height:69px;border-bottom:1px  dotted #ccc; float:left;}
.guonei dd{ float:left; width:227px; padding-left:8px; line-height:22px; }
.guonei dd font{ color:#333}
.guonei dt{ float:left;width:94px; height:69px;}

.faluitem{ width:100px; float:left; padding:15px 0px 3px 27px;}
.falu_img{ float:left; padding:0 5px; width:90px;}
.faluname{ padding-top:5px; float: left; width:100px;}

.youhui{ border:1px solid #dee3e7; border-top:0; float:left; margin-top:8px; display:inline; overflow:hidden}
.yh_mian{ padding:15px 0 0 15px; float: left; width:983px;}
.yhtj{ float:left; width:339px; border-right:1px  dotted #ccc; margin-right:6px; display: inline　}
.yhdl{ float: left; margin-bottom:12px;}
.yhdl font{ color:#333;}
.yhdl dt{ width:106px; float:left; border:1px solid #dee3e7; padding:2px}
.yhdl dd{ width:209px; float: left; padding-left:8px; display: inline; line-height:20px; margin-bottom:3px; color:#787878}
.yh_ct{ width:309px; float:left;border-right:1px  dotted #ccc; padding-left:5px;}
.yh_ct li{ width:297px;float:left; background:url(../images/icon_43.gif) no-repeat 5px 11px; padding-left:12px;}
.yh_ct_item{ float:left;line-height:26px; width:210px; padding-right:5px; }
.yh_ct_date{ float:left;line-height:26px; width:82px;}

/*活动*/
.tuangou{ float:left}
.tg_mian{  float:left; padding:5px 0;}
.tg_item{ line-height:28px;width:160px; float:left;}
.tg_name{ float:left;line-height:28px; width:83px;color:#085c97;}
.tg_date{line-height:28px; width:75px; float:left; color:#666;}
.tg_mian li{  float:left;width:325px; background:url(../images/icon_43.gif) no-repeat 5px 11px; padding-left:12px; border-bottom:1px dotted #ccc}
.hd_p{ text-align:center; padding-top:5px;}
.hd_a{ margin-right:8px;color:#085c97}
.cswhd_title{background-image: url(../images/bgtitblue.png);height:35px;width:340px; text-align:left; line-height:31px; padding-left:14px; float:left; font-size:14px}
.cz_dl{ padding:15px 0 15px 0; float:left; border-bottom:1px dotted #ccc}
.cz_dl dt{ width:137px; height:90px; margin-right:8px; float:left; display:inline}
.cz_dl dd{ float:left; width:209px;}
.cz_dl dd font{ color:#085c97}
.cy{ float:left; width:262px; padding:14px 8px 4px 8px; }
.cy dt{ width:90px; height:63px; float:left; margin-right:5px;}
.cy dd{ float:left; width:167px;}
.cyul{ width:262px; float:left;padding:8px;}
.cyul li{ float:left; width:250px; padding-left:12px;background:url(../images/icon_43.gif) no-repeat 2px 11px;  }
.hd_item{ height:24px; line-height:24px; width:210px; float:left}
.hd_date{ height:24px; line-height:24px; width:40px; float:left; color:#787878}
.csh{ width:263px; height:35px; line-height:35px; padding-left:15px;background-image: url(../images/bgtitblue.png); float:left; font-size:14px; margin-top:3px; display:inline}
.dn{float:left;border:1px solid #dee3e7;padding:20px 8px 3px 15px; width:329px;}
.diannei{width:329px; float: left;}
.dn_a{color:#085c97}
.diannei dt{ width:106px; height:80px; float:left;}
.diannei dd{ width:215px; float:left;line-height:20px; padding-left:8px; color:#787878;}
.biaoti{ color:#085c97}
.chez{ width:312px; float:left; padding:0 10px ;}
.cz_img{ width:120px; float:left; height:80px;}
.cz_name{ width:120px;float:left; line-height:30px; height:30px; text-align:center; background:#e7edf5; margin-top:3px; color:#085c97;  display:block}
.chez dt{ float: left; width:120px;}
.chez dd{ float:left; width:177px; padding-left:15px; background:url(../images/icon_43.gif) no-repeat 7px 11px; line-height:24px; display: inline}
.chez dd a{line-height:24px;}
.cz_main{ float:left; overflow:hidden; width:998px; padding:15px 0}
.jlcz{float: left;border:1px solid #dee3e7; border-top:0; width:998px;margin-top:8px; display:inline}

/*新车*/
.rd_p{ width:94px; float:left; margin:5px 0 8px 18px; display:inline}
.rd_p_img{ width:90px; float:left; height:60px; border:1px solid #dee3e7; padding:1px}
.rd_p_name{ float:left; line-height:20px; width:90px; text-align:center}
.hz_main{ float:left; width:998PX; padding-top:10px; display:none}
.hzp{ width:142px; float:left; margin-left:20px; display:inline; margin-bottom:20px;}
.cxmin{width:142px; height:24px; line-height:24px; text-align:center; float:left;background:#e7edf5;}
.jiage{width:140px; height:24px; line-height:24px; text-align:center; float:left; color:#085c97; border:1px solid #dee3e7; border-top:0}
.hzspan01{ width:80px; float:left; text-align:center; line-height:33px; margin-top:1px; background:url(../images/nav_03.gif) no-repeat;color:#085c97; font-size:14px; font-weight:bold;cursor:pointer;}
.hzspan011s{ width:100px; float:left; text-align:center; line-height:33px; margin-top:1px; background:url(../images/nav_033.gif) no-repeat;color:#085c97; font-size:14px; font-weight:bold;cursor:pointer;}
.hzspan00{ width:80px; float:left; text-align:center; line-height:33px; background: url(../images/cxnav_07.gif) no-repeat  78px 1px; color:#085c97}
.rd_name{ float:left; width:126px; line-height:28px; padding-left:8px; font-family:\5b8b\4f53,Arial;}
.rd_jiage{ float:left; width:100px; line-height:28px; color:#ff0000;font-family:\5b8b\4f53,Arial;}
.zxl{ width:1000px; float:left; margin-top:8px;}
.xczx_left{ float:left; width:714px; border-top:1px solid #dee3e7}
.gc_title{ height:29px; border-left:1px solid #dee3e7;border-right:1px solid #dee3e7; padding:0 15px; float:left; width:682px;  background-image: url(../images/ctx_nav_03.gif);}
.gc_main{ float:left; padding:8px 5px; border:1px solid #dee3e7;}
.gc_main li,.zxsubUl li{width:682px; float:left; }
.gc_item{ float:left;line-height:26px;font-size:14px; width:400px;}
.gc_date{ float: right; line-height:26px; text-align:left; color:#666;}
.jjss_right{ float:left; width:278px; margin-left:6px; display:inline;border:1px solid #dee3e7; overflow:hidden}
.jjss_mian{ float:left; padding-bottom:5px; }
.jjss_mian dl{ border-bottom:1px dotted #ccc; float:left; width:258px; padding: 11px 10px 12px 10px; margin-bottom:8px; display:inline}
.jjss_mian dl dt{ width:90px; float:left; height:60px;}
.jjss_mian dl dd{ float:left; width:160px; padding-left:8px; color:#787878}
.jjss_mian ul{ float:left;width:258px; padding:0 5px 0px 10px;}
.jjss_mian ul li{ float:left; line-height:25px;width:258px;}
.gcspan1{ float:left;color:#375a91;font-size:14px;line-height:31px; font-weight:bold; display:block}
.gcspan2{ float:right;line-height:31px; display:block; cursor:pointer }
.bj_mian{float: left; width:998px; display:none}
.bj_biaoge td{ height:28px; line-height:28px; border-top:1px dotted #ccc; text-align:center}
.bj_biaoge td font{ color:#ff0000}
.bj_biaoti{ background: url(../images/location_03.gif); height:30px; line-height:30px; border:0}
.zx_sub{ width:1000px; float:left;}
.pageNav{ float:left; width:682px; padding:5px 15px 15px 15px;}
.pageNav a{ float:left; display:block; padding:0 8px; line-height:22px; margin-right:5px; display:inline; border:1px solid #dee3e7;color:#085c97}
.zxsub_main{ float:left; width:712px; border:1px solid #dee3e7; border-top:0;  min-height:676px;}
.zxsub_title{ height:33px; padding:0 15px; float:left; width:682px;  background-image:url(../images/ctx_title02_24.gif);}
.zxsubUl{ float:left; padding:8px 15px;width:682px;}
.rdph{ line-height:28px; padding-left:5px; }
.cxtj{ width:112px; float:left; margin:10px 0 0 17px; display:inline; text-align:center}
.cxtj_tu{ width:106px; border:1px solid #dee3e7; padding:2px; float:left; height:80px;}
.cxtj_ming{ float:left; line-height:24px; width:112px}
.scxq{ border-bottom:1px dotted #ccc; line-height:18px; color:#666; }
.xq_tu{ width:682px;margin:0 auto;  padding:10px 0}
.xq_tu img{border:1px solid #ccc ; padding:3px;}
.lb_main{ float:left; width:682px; border:1px solid #dee3e7; padding:15px;}
.lb_main h1{font-size:18px; color:#ff0000; text-align:center; line-height:36px;}
.lb_main h4{font-weight:normal; color:#085c97; line-height:26px;}
.lb_main h3{ font-size:14px;padding-bottom:5px; color:#085c97; display:block}
.lb_main p{ line-height:20px; padding-bottom:8px;font-size:14px; display:block}
.nav{ height:1px; border-bottom:1px dotted #ccc}
.lbleft{ float:left; width:714px;}
.fenxiang{ line-height:36px; border:1px dashed #ccc; overflow:hidden }
.fx_text{ float:left; line-height:36px; padding:0 6px 0 3px;}
.weibo{ background: url(../images/share.gif) no-repeat 0 -165px; padding-left:25px;color:#085c97; line-height:36px;display:block; width:50px; float:left}
.renren{ background: url(../images/share.gif) no-repeat 0 -70px;  padding-left:25px;color:#085c97; line-height:36px;display:block; width:50px; float:left}
.xiangguan{ font-size:14px; line-height:36px; border-bottom:1px dotted #ccc}
.xgul{ float:left; padding:8px 0 5px 0}
.xgul li{ line-height:26px; font-size:14px;color:#085c97}
.xgul li font{ font-size:12px; color:#666}
.pinglun{ float:left; width:712px; border:1px solid #dee3e7; margin:8px 0; display:inline }
.pl_title{ line-height:29px;padding:0 15px; width:682px;color:#085c97; font-size:14px; font-weight:bold; float:left;background-image: url(../images/ctx_nav_03.gif);}
.pl_main{ float:left; overflow:hidden}
.comment{ float:left;}
.comment font{ color:#666}
.pl_name{ width:152px; vertical-align:top}
.pl_cotent{width:530px;line-height:24px; font-size:14px;}
.pl_date{ float:left;}
.pl_hf{ float:right; text-align:left; padding-right:8px;}
.pl_nr{ font-size:14px;}
.plkuan{border-top:1px dotted #ccc; padding:8px 15px; }
.quanbu{ line-height:30px; width:682px;  border:1px dotted #ccc; border-left:0; border-right:0; text-align:right; padding-right:30px; margin-bottom:8px;}


/*经销商*/
.jxs01{float:left;border:1px solid #dee3e7; border-top:0; overflow:hidden}
.jxs_main{ float:left; width:998PX; }
.jsLeft{ float:left; width:197px; border:1px solid #dee3e7; border-bottom:0; border-left:0;}
.zimu{ line-height:26px; padding:0 4px; border:1px solid #dee3e7; font-size:16px; font-family: Arial;color:#085c97}
.jiansuo{ float:left; border-bottom:1px solid #dee3e7; background:url(../images/ctx_title_14.gif) repeat-x bottom; padding:5px 10px 8px 10px; width:177px; }

.jspp{ float:left;height:660px; overflow-y: scroll; padding:5px 0}
.jspp ul{ float:left; width:160px;_width:177px; overflow:hidden;padding:0 10px; }
.jspp ul li{ float:left; width:100%; padding-TOP:3PX; list-style:none}
.jsZimu{ background:red ;width:18px; line-height:18px;text-align:center;color:#fff; display:block; float:left; margin-right:5px;}
.jian{ float:left; cursor:pointer; font-weight:normal; width:135px; height:26px; background:url(../images/jian_03.gif) no-repeat; padding-left:25px}
.jia{ float:left; cursor:pointer;  font-weight:normal;width:135px; height:26px; background: url(../images/jia_06.gif)  no-repeat; padding-left:25px}
.jsdl{ display:NONE}
.jsdl dt{ float:left;padding-left:23px; width:137px;background: url(../images/js1_03.gif) no-repeat 8px 5px; padding-top:4px;}
.jsdl dd{ float:left;padding-left:46px; width:114px;color:#085c97; line-height:26px; background:url(../images/js_05.gif) no-repeat 24px 3px}


.jsright{ width:790px; margin:10px 5px 10px 5px; display:inline; float:left;}

/*图库*/
.tuku_item{ width:148px; float:left; margin:23px  0 0  38px; text-align:center; display:inline}
.tkTitle{ line-height:24px; font-size:14px;color:#085c97; border-bottom:1px dotted #ccc; display:inline; margin-bottom:5px;}
.tkIMG{background:url(../images/biankuang_02.gif) no-repeat; display:block;padding:4px 6px 6px 4px;}
.tkName{ display:block; float:left; width:148px; line-height:24px;color:#085c97}
.tkDate{ float:left;width:148px; color:#787878}

/*汽车品牌*/
.ppJs{ float:left; border-bottom:1px solid #dee3e7; background:url(../images/ctx_title_14.gif) repeat-x bottom; padding:3px 10px 2px 15px; width:973px;}
.ppItem{ float:left; width:998px; margin-top:5px; display:inline; border:1px solid #dee3e7; border-bottom:0;}
.ppITitle{ float:left; width:968px; display:block;background:url(../images/ppicon_07.gif) no-repeat;  padding:0 15px; border-bottom:1px solid #dee3e7; }
.ppIMain{ float:left; width:100%; border-bottom:1px solid #dee3e7}
.ppIMleft{ float:left; width:177px;padding:10px 0;}
.ppIMRight{ float:left; width:804px; padding:8px;border-left:1px solid #dee3e7;}
.ppIMRight div{ float:left; width:100%;border:1px solid #dee3e7; border-left:0; border-bottom:0}
.ppcsborder{ border-bottom:0}
.ppcanshu{ float:left; width:268px; line-height:26px; color:#085c97;border-bottom:1px solid #dee3e7;}
.ppcanshu1{float:left; width:536px; line-height:26px; color:#085c97;border-bottom:1px solid #dee3e7; }
.ppcanshu span,.ppcanshu1 span{ float:left; width:80px; background: url(../images/sellbg_03.gif) repeat-x; line-height:26px; text-align:center; margin-right:5px; display:inline;border:1px solid #dee3e7; border-bottom:0; border-top:0}
.ppjj{ float:left; line-height:20px; width:100%; padding-top:8px; color:#555}
.ppjjname{ width:80px; float:left;  font-weight:bold; font-size:14px;color:#085c97;}
.ppName{ float:left; line-height:34px; font-size:14px; width:100%}
.ppLei{ width:100%;}
.ppLei li{ float:left; padding-bottom:12px; width:197px;}
.ppLei li a{ float:left; width:100%; line-height:22px;}
.ppLei li font{color:#085c97; font-weight: bold}
.hr1{border:1px dashed #ccc; border-bottom:0; border-left:0; border-right:0; float: left;}

.pptu{width:90px;border:1px solid #dee3e7; padding:1px; margin:0 auto; overflow:hidden;text-align:center}
.ppImg{ float:left; margin:0 auto; width:90px;}
.pptuA{ float:left; width:90px; line-height:22px; background:#f0f0f0; display:block;}
.ppBorder{ border-left:1px solid #dee3e7; border-right:1px solid #dee3e7}
.pZimu{ float:left;font-family: Arial;color:#085c97;height:30px; line-height:30px; font-size:16px;}
.fanhui{ float:right; color:#ff6600;line-height:30px; font-weight:normal}

/*二手车*/
.ershou_left{ float:left; width:714px;}
.ershouJD{ width:344px; float:left}
.ershouJD_title{ width:334px; padding:0 4px; height:29px; background:url(../images/location_03.gif); font-weight:bold; border:1px solid #dee3e7}
.JDtitlename{ line-height:29px; font-size:14px;color:#085c97;}
.ared{ width:15px; height:15px; line-height:15px; text-align:center; background:red; color:#fff; display:block; font-weight:normal; float:left; font-family:Arial; margin:7px 5px 0 0 ;}
.agrey{ width:15px; height:15px; text-align:center; background:#aaa; color:#fff; display:block; font-weight:normal; float:left; font-family:Arial; margin:7px 5px 0 0 ;}
.l1{ margin:0;}
.qgbk{ border:none; width:1000px; margin-top:8px; float:left}
.ershouZX{ float:left; padding-left:10px; width:360px;}
.esh3{ color:#ff6600; text-align:center; font-size:14px; line-height:24px; padding-top:6px;}
.eszxp{ padding-bottom:5px;}
.eszxul{ border-top:1px dashed #ccc; border-bottom:1px solid #dee3e7; overflow:hidden;padding:5px 0;}
.eszxul li{ overflow:hidden; height:23px;}
.esZXa{ float:left; width:280px; line-height:23px;}
.esZXspan{ float:left; width:80px;color:#787878; line-height:23px;}
.RM_main{ float:left; padding-bottom:8px; width:278px;}
.remenPP{ width:120px; float:left; overflow:hidden; margin:5px 0 0 12px; display:inline}
.remenPP dt{ float:left; width:50px;}
.remenPP dd{ float:left; width:65px; border-bottom:1px dashed #ccc; height:20px; padding-top:9px; margin-left:5px; display:inline;}
.remenPP dd a{color:#085c97;}
.qgleft{ width:712px; float:left; border:1px solid #dee3e7; border-top:0; position:relative;}
.qgleft .more{ position:absolute; left:680px; top:10px;}
.cyborder{ border-right:1px dotted #ccc; border:0}
.qg_mian{float: left; width:712px; display:none;}

.qg_mian td{ text-align:center; line-height:28px; border-top:1px dotted #ccc}
.qg_mian td font{ color:#ff0000}
.qg_mian th{line-height:28px; border-top:1px dotted #ccc; text-align:right; padding-right:20px; font-weight:normal;color:#085c97;}
.qg_title{ background-image:url(../images/ctx_title02_24.gif); height:33px;padding:0 15px; float:left; width:682px; overflow:hidden}
.jxs{ padding:8px 10px 8px 10px; width:258px; border-bottom:1px dashed #ccc}
.jxs dt{color:#085c97}
.pinggu{ width:125px; float:left; margin:10px 0 0 14px;}
.pinggu dt{ float:left}
.pinggu dd{ float:left; text-align:center; width:125px;}
.pgmargin{ margin-bottom:8px}
.dayi{ width:258px; padding:1px 10px 10px 10px;}
.dayi li{ float:left; width:258px; line-height:24px; color:#555}
.esleft{ width:714px; float:left}

/*汽车视频*/
.shipin{ border-top:1px dotted #ccc; border-bottom:1px solid #dee3e7; overflow:hidden;padding:6px 0; margin-top:5px;}
.shipin a{font-size:14px;color:#085c97;}
.sph3{ text-align:center; font-size:14px; color:red; line-height:28px;}
.spa{ color:#787878;}
.spph{ width:258px; float:left; padding:0px 10px }
.spph li{ float:left; width:258px; border-bottom:1px dashed #ccc; padding:5px 0;}
.spred{ background:url(../images/icotuan.gif) no-repeat -2px 0px; width:19px; height:18px; padding-right:10px; color:#fff; display:block; text-align:center; float:left}
.spgrey{ background:url(../images/icotuan.gif) no-repeat -2px -21px; width:19px; height:18px; padding-right:10px; color:#333; display:block; text-align:center; float:left}
.spphdl{ float:right; width:229px;}
.spphdl dt{ float:left; width:90px;}
.spphdl dd{ float:left; width:131px; padding-left:8px; line-height:20px;}
.zxsc_item{ float:left; width:712px; padding-top:8px;}
.zxsc_item li img{ border:1px solid #dee3e7; padding:2px;}
.zxsc_item li{ width:146px; float:left; margin:10px 0 0 25px; display:inline}
.sp_item{ float:left; width:998px; padding-bottom:5px;}
.sp_item li{ width:146px; float:left; margin:10px 0 0 17px; display:inline; }
.sp_item li img{ border:1px solid #dee3e7; padding:2px;}
.sp_name{ float:left; width:146px; line-height:24px; text-align:center}
.jctj{ width:258px; padding:1px 10px 0px 10px;}
.jctj li{ padding:2px 0; height:22px;border-bottom:1px dashed #ccc}
.jctjA{ float:left; width:160px;}
.jctjR{ float:left; width:69px; text-align:right; color:#787878}

/*车型对比*/
.duibi{ width:1000px; float:left}
.duibiMain{width:998px; float:left; margin-top:8px; display:inline}
.dbtable{ border:1px solid #dee3e7; border-right:0; }
.duibi td{ padding:5px; border-right:1px solid #dee3e7}
.dbCX1{padding:0 15px; }
.dbCX{ padding:0 15px; text-align:center}
.tjcx{ text-align:center; font-weight:bold; line-height:26px;}
.tjSlelect{width:160px; margin-bottom:15px; height:20px;}
.tjBtn{ padding:15px 0px; text-align:center}
.cansuSearch{width:998px; border:1px solid #dee3e7; margin-top:8px; display:inline; float:left; padding-bottom:12px; padding-top:6px;}
.cansuSearch a:hover{width:81px; float:left;height:25px; background: url(../images/btn_03.gif); color:#fff; line-height:25px; display:block; text-align:center; margin-left:17px; margin-top:6px; cursor:pointer}
.csBtn{ width:81px; float:left;height:25px; background: url(../images/icon001_03.gif); color:#333; line-height:25px; display:block; text-align:center; margin-left:17px; margin-top:6px;color:#085c97;}
.csxq{width:999px; border:1px solid #dee3e7; border-bottom:0; border-right:0; margin-top:8px; display:inline; float:left;text-align:center;}
.canshuTitle{background-color:#f1f1f1;}

.subtitle{ text-align:left;color:#ff6600; font-size:14px;padding-left:15px; height:30px; line-height:30px; background: url(../images/ppicon_07.gif) no-repeat left top}
.csxq th{font-weight:normal;border-bottom:1px solid #dee3e7; border-right:1px solid #dee3e7; line-height:32px; text-align:right;color:#085c97;}
.csxq td{ border-bottom:1px solid #dee3e7; border-right:1px solid #dee3e7;height:30px; line-height:32px; margin:0; padding:0}
.duibiBack{ float:right; color:#ff6600;line-height:36px; font-weight:normal; width:70px;}
.tt{ float:left; width:120px; text-align:left; padding-left:15px; color:#085c97; font-weight:bold; font-size:14px; line-height:36px; }
.dbtitle{background-image:url(../images/ctx_title02_24.gif); height:33px;padding:0 15px; float:left; width:968px; border:1px solid #dee3e7; border-bottom:0; border-top:0; overflow:hidden}
.tuxiangqing{ margin-top:8px; display:inline; border-left:1px solid #dee3e7; border-top:1px solid #dee3e7}
.tuxiangqing td{border-bottom:1px solid #dee3e7; border-right:1px solid #dee3e7; padding:10px; line-height:24px; text-align:center}
.txqWenzi{ float:left; width:100%; display:block;color:#085c97;}
.tpdb{width:1000px;margin-top:8px; display:inline; float:left;}

/*汽车团购*/
.tgL{float:left; width:714px;}
.tgLeft{float:left; width:710px; border:1px solid #dee3e7; padding:1px;}
.tgLeftLei{float:left; width:713px; border-left:1px solid #dee3e7;}
.tgTable{}
.tgTable ul{ padding-left:18px; padding-top:12px;}
.tgTable ul li{ width:175px; float:left; margin: 0px 12px 10px 0; display:inline}
.tgTable ul li font{ color:red}
.tgName{ color:#085c97; font-size:14px; font-weight:bold; line-height:28px;}
.tgTable td{border-bottom:1px solid #dee3e7; border-right:1px solid #dee3e7; }
.tgTable th{border-bottom:1px solid #dee3e7; border-right:1px solid #dee3e7; background-color:#f5f5f5; padding:15px 0 ; vertical-align:top}
.liuc{ width:17px; height:15px; text-align:center; line-height:15px; background-color:red; color:#fff; float:left; display:block; margin:5px 8px 0 0 ;}
.tglc{ float:left;width:258px; padding:5px 5px 5px 10px;}
.tglc li{float:left; line-height:25px;width:246px; background:url(../images/icoli.gif) no-repeat 0 9px ; padding-left:12px; }
.tglc li a{ line-height:25px;color:#085c97;}
.dzb{line-height:28px; padding-left:5px; float:left}
.zhekou{ float:right; display:block;line-height:28px;}
.zhekou font{ color:red}
.tgleftL{ width:344px; float:left;}
.tgFX{ background:#f5f7f9;display:block; float:left; width:320px; padding:0 12px;}
.tgleftC{ float:left; width:365px; padding-left:1px;}
.shoujia{ height:90px; background-color:#085c97; padding:20px;}
.shoujia p{ padding-bottom:5px;}
.shoujia span{ color:#fff}
.sqjg{ font-size:26px; font-weight:bold}
.tgcx{ float:left; background-color:#e2eaf0; height:45px; width:340px; line-height:45px;border-bottom:1px dashed #cfcfcf; padding-left:25px;}
.ghcxspan{ font-size:16px; font-weight:bold; color:#085c97}
.tgcanshu{ float:left; padding:15px; width:335px; background-color:#f5f7f9}
.tgcsL{ float:left; width:60px; text-align:right}
.tgcsR{ float:left; width:275px; color:#000}
.tgcsshuxing{ background-color:#eef2f5; line-height:35px; padding-left:20px; float:left; width:345px;color:#085c97;}
.tgcsshuxing a{color:#085c97; padding:0 7px}
.shuoming{float:left; width:712px; margin-top:8px; display:inline; border:1px solid #dee3e7; border-top:0 }
.smMain{ float:left; width:682px; padding:15px; line-height:22px;}
.smMain h2{ border-bottom:1px dotted #ccc; font-size:14px; line-height:26px; margin:5px 0; display: block}
.xuzhi{background-color:#f5f7f9;}
.xuzhi p{color:#666; line-height:22px;} 

/*汽车宝贝*/
.babyL{float:left; width:712px; border:1px solid #dee3e7; border-top:0 }
.babyMain{ float:left; width:697px; padding:15px 0 0 15px;}
.babydl{  width:166px; float:left; padding-top:3px ; border:1px solidhuodongL; text-align:center; margin:0 5px 12px 0; display:inline}
.babydl dd{ width:164px; float:left;background:#e7edf5; margin:3px 1px 1px 1px; display:inline}
.babyname{ width:164px; float:left; line-height:20px; color:#085c97;}
.fenlei{width:251px; height:26px; line-height:26px; background:url(../images/icoli.gif) no-repeat 0 9px ; padding-left:10px;display: block; border-bottom:1px dotted #ccc; color:#085c97}
.bbsubleft{ float:left; width:714px;}

/*车市网活动*/
.tgLeftLei0{float:left; width:714px;}
.huodongL{ float:left; width:712px; border:1px solid #dee3e7;}
.hdUl{ width:682px; padding:0 15px 15px 15px;}
.hdUl li{ border-bottom:1px dotted #ccc; padding:17px 0; height:90px;}
.hdUlitem{}
.hdUlitem dt{ float:left}
.hdUlitem dd{ float:left; padding-left:10px;}
.hdname{ line-height:27px;color:#085c97; font-weight: bold; font-size:14px; display:block}
.hdp{ height:40px; width:522px; overflow:hidden; color:#666; line-height:20px;}
.hdmore{ line-height:20px;width:522px; display:block}
.hdmorel{ float:left; line-height:20px;color:#085c97; padding-top:5px;}
.hdmorer{ float:right}
.hdmoreBTN{ border:0; color:#fff; background:#085c97;line-height:20px;padding:0 10px;display:block;}
.jphdR{ width:278px; float:left}
.jphd{ padding:1px;}
.jphd li{ background:url(../images/hd_nav_03.gif) repeat-x;width:276px; float:left; border-top:1px dotted #ccc;}
.jphd li a{line-height:35px;display:block}
.jphd li h4{ font-size:12px; font-weight:normal ; padding-left:15px; float:left; width:261px}
.jphd li h4 a:hover{ color:#085c97; cursor:pointer}
.jpactive{ width:276px;padding:15px 0 8px 0; overflow:hidden; float:left; display:none}
.jpactive dt{ float:left; text-align:center; width:276px;}
.jpactive dd{ float:left; text-align:center;color:#085c97; width:276px; line-height:24px;}
.jinqi{ margin-top:6px;float:left; width:278px; margin-left:6px; display:inline;border:1px solid #dee3e7;}
.jqul{ width:278px;float:left; padding-top:5px;}
.jqdl{ float:left; width:278px;}
.jqdl dt{ width:278px; float:left; text-align:center; padding-top:5px;}
.jqdl dd{ width:278px; float:left; text-align: center; padding-top:5px;color:#085c97}
.jqul li{ width:261px;float:left;  padding-left:15px; border-top:1px dotted #ccc ;}
.jqul li a{line-height:30px; display:block}
.jqul li font{ color:#085c97}

/*新车上市*/
.csdt{ width:259px; float:left; padding:8px 7px 8px 12px}
.csdt li{ float:left; width:259px; height:30px; border-bottom:1px dotted #ccc; overflow: hidden}
.csdt li font{ color:#085c97; padding-right:5px; line-height:30px;}

/*律师*/
.lstable{ float:left; width:712px; text-align:center; margin-bottom:8px; display:inline; font-size:14px;}
.lstitle{ background:url(../images/location_03.gif) repeat-x; height:30px; line-height:30px; border-right:1px solid #fff; border-left:1px solid #ebebeb}
.lstable td{ border-bottom:1px dotted #ccc; line-height:30px; height:30px; vertical-align:middle}
.lstable td font{ color:red; line-height:30px; }
.lsitem{ background-image: url(../images/bgtitblue.png);height:31px;width:264px; line-height:31px; padding-left:14px; float:left; font-size:14px}
.lsmain{ float:left; padding:12px 15px; width:682px;}
.lsxxImg{ border:1px solid #dee3e7;padding:3px;width:150px; text-align:center;}
.lsxxtable{ margin-bottom:8px; display: inline}
.lsxxtable td{ border-bottom:1px dotted #ccc; line-height:26px}
.lsxxtitle{ line-height:29px; width:667px; padding-left:15px;color:#085c97; font-size:14px; font-weight:bold; float:left;background-image: url(../images/ctx_nav_03.gif); border-bottom:1px dotted #ccc;}
.lsxxP{line-height:20px; padding:8px 0;display:block; float:left; width:682px; }

/*车型详情*/
.cxDleft{ width:710px; float:left; border:1px solid #dee3e7;padding:1px;}
.cxDetail_h1{line-height:36px; display:block; font-size:24px;color:#085c97; border-bottom:1px solid #eee; font-weight:bold; background-color:#f4f4f4; padding-left:8px;}
.cxDetail_table{ margin:8px 8px 0 4px;width:698px;}
.cxDetail_table td{ line-height:31px; border-bottom:1px dotted #ccc}
.cxDetail_table td font{ color:red; font-size:18px; font-weight:bold}
.cxdetailP{ margin:8px 8px 0 4px;width:698px; line-height:30px; display:block;color:#085c97;background-color:#eef2f5;}
.cxmenubtn{ background:url(../images/duibi_05.gif) no-repeat; width:84px; height:20px; line-height:20px; text-align:center; color:#fff; font-size:12px; font-weight:bold; border:0}
.cxdetailP a{ padding:0 8px;color:#085c97; }
.cxDul{ width:251px; float:left; padding:0px 7px 5px 12px}
.cxDul li{ line-height:28px; height:28px; border-bottom:1px dashed #ccc;width:251px;}
.cxDulA{float:left; width:161px; line-height:28px; display:block;color:#085c97;}
.cxDulspan{ float:left; width:90px; line-height:28px; color:red; display:block}
.cxleft{ width:714px; float:left; overflow:hidden}
.cxgg{ float:left; margin-top:8px; display:inline; width:712px; border:1px solid #dee3e7; border-top:0}
.cxsc{ float:left; width:712px; display:none}
.scdl{ float:left; width:330px; padding:15px 11px 0 15px; overflow:hidden}
.scdl dt{ float:left;width:290px;}
.scdl dd{ float:left; width:32px; padding-left:8px; }
.scdlp1{ font-size:14px; color:#085c97; font-weight:bold;line-height:30px; background-color:#eef2f5; width:285px; padding-left:5px; margin-bottom:15px;}

.sekuai{ width:24px; height:8px; display:block; background:#aaa; float:left;cursor:pointer; margin-bottom:3px;}
.sekuai1{ width:24px; height:8px; display:block; background:#333; float:left;cursor:pointer; margin-bottom:3px;}
.sekuai2{ width:24px; height:8px; display:block; background:#ff0000; float:left;cursor:pointer; margin-bottom:3px;}
.sekuai3{ width:24px; height:8px; display:block; background:#000; float:left;cursor:pointer; margin-bottom:3px;}

.jsx_tc{margin:0px 8px 0 4px;width:658px; padding:18px 15px 8px 15px;  float:left; margin-top:2px; display:inline; border:5px solid #eef2f5;}
.jsx_tc dl{ width:100%}
.jsx_tc dl dt{ width:120px; height:86px; float: left}
.jsx_tc dl dd{ width:530px; padding-left:8px; float:left; height:86px; overflow:hidden}
.jsx_tc dl h3{ height:26px}
.jsx_tc dl h3 a{line-height:26px;font-size:14px; font-weight:bold; color:red}
.jsx_tc dl p{ line-height:20px; height:60px; overflow:hidden; color:#085c97}
.jsx_tc ul{ float:left; width:100%;padding-top:5px; margin-top:12px; display:inline;background:url(../images/nav01_03.gif) repeat-x}
.jsx_tc ul li{ width:210px; float:left; height:26px;background:url(../images/icon_43.gif) no-repeat 0 13px; padding-left:9px;}
.jsx_tc ul li a{ line-height:26px; }

/*车型图片*/
.cxggtable{}
.cxggtable th{ background-color:#f1f1f1; line-height:34px; padding-left:15px; text-align:left; font-size:14px; color:#085c97}
.cxggtable td{ line-height:28px; border-top:1px solid #dee3e7; padding-left:15px;}
.cxggtitle{ background: url(../images/ppicon_07.jpg) no-repeat;color:#000; font-size:14px;padding-left:20px; font-weight:bold}
.dengjia{ text-align:center}
.dengjia td{ line-height:30px; border-top:1px dotted #ccc}
.tdleft{ text-align:left; padding-left:15px; }
.tdleft a{color:#085c97;}
.cxDxg{float:left; width:251px; line-height:28px; display:block;color:#085c97;}

/*费用计算*/
.fy{ float:left; width:100%}
.fymain{ float:left; width:100%}
.fymaintop{ border:1px solid #dee3e7; float:left; width:968px; padding:15px; border-top:0}
.fymaintop p{ padding:5px 0;}
.p1{ float:left; width:818px;margin-left:150px; line-height:40px; color:#666;}
.p2{ float:left; width:100%; border:1px solid #dee3e7;color:#085c97; text-align:center; font-size:14px; line-height:30px; background:#f5f7f9}
.p2 span,.zongji span{ color:red; font-weight:bold}
.tyspan1{ float:left; width:150px; line-height:22px; height:22px; text-align:right; display:block; font-size:14px}
.tyspan2{ float:left; width:818px; height:22px; display:block;}
.fymainbot{ float:left; width:100%; border-left:1px solid #dee3e7;text-align:center}
.fymainbot th{ border-bottom:1px solid #dee3e7; border-right:1px solid #dee3e7; text-align:left; line-height:30px; height:30px; font-size:14px; color:#085c97; padding-left:14px; width:804px;}
.fymainbot td{ border-bottom:1px solid #dee3e7; border-right:1px solid #dee3e7; line-height:38px; height:38px;}
.fytitle{ text-align:right; padding-right:10px;}
.tdtext{width:140px; height:20px; margin-right:5px}
.zongji{color:#085c97; text-align:center; font-size:14px; line-height:30px; }
.fyselect{ background:#ecf3f9; line-height:20px; padding:5px 0}
/*.feiyong{}
.feiyong th{ line-height:36px; height:36px; font-size:22px;color:#085c97; background-color:#f4f4f4; border-right:1px solid #dee3e7; }
.feiyong td{ line-height:30px; border-top:1px solid #dee3e7; border-right:1px solid #dee3e7; padding-left:15px;}
.feiyong td input{ margin-right:5px; display:inline; color:red; padding:2px 3px;}
.feiyong td font{ color:#666;}
.fy_biaoti{ background: url(../images/location_03.gif); height:30px; line-height:30px; border:0; text-align:center;color:#085c97; }
.fs{ width:75px; float:left;line-height:34px; height:34px; display: block}
.fy_title{ background-color:#f5f5f5; color:red; }
.fyxiang{ color:#085c97; height:34px; line-height:34px;}*/

/*试驾申请*/
.sq_main{ float:left; overflow:hidden; width:973px; padding:25px 0 5px 15px; border:5px solid #f3f3f3}
.sq_main input{ padding:3px; line-height:10px;}
.sq_main p{ width:998px; float:left; padding-bottom:10px;}
.sq_main font{ color:red;}
.sq_span1{ width:90px; display:block; float:left; height:22px; line-height:22px; text-align:right; color:#666}
.sq_span2{ float:left; line-height:22px;}
.sq_span3{float:left; font-size:14px; font-weight:bold; line-height:22px; color:red}
.bmkang{ border-top:1px solid #aaa;border-left:1px solid #aaa; border-bottom:1px solid #eee; border-right:1px solid #eee}
.bmBtn{ background:#085c97; border:0; color:#fff;width:100px; height:26px}

/*4s店*/
.sis_main{ float:left; padding:10px 15px 5px 15px;}
.sis{ width:968px;}
.sisp{width:968px; margin-top:8px; float:left}
.sisp p{font-size:14px; line-height:20px; padding-bottom:10px;}
.sis font{ color:#085c97; font-size:14px; display:block;line-height:26px; }
.submenu{}
.submenu a{color:#085c97; display:block; border-right:1px solid #085c97; float:left; padding: 0 6px; height:14px; line-height:14px;  }
.xing{ color:red}
.yewu{ line-height:30px; width:958px; background: url(../images/location_03.gif) repeat-x;border-bottom:1px solid #dee3e7; height:30px; color:red; font-weight:bold; font-size:14px; padding-left:10px; margin-bottom:15px;}
.lx{width:958px; float:left}
.lx p{ float:left; line-height:28px; font-size:14px; width:958px; background:url(../images/nav01_03.gif) repeat-x bottom;}
.lx p font{ color:#085c97; font-size:14px; line-height:28px;}
.sis td{ background:url(../images/nav01_03.gif) repeat-x bottom;line-height:27px; font-size:14px;}
.sqHeader{ width:960px; float:left; background:url(../images/headerbg_03.jpg) no-repeat; height:150px; padding:12px 20px; border:0; margin-top:5px; display:inline}
.sis th{ line-height:28px; text-align:center; font-weight:normal}
.sqDianming{ float:left;width:960px; text-align:center}
.dmp{ line-height:20px; font-size:12px; color:#666;}
.dmp2 { line-height:40px; font-size:12px; color:#666;}
.dmp2 a{ color:red; font-size:12px;}
.dmp font{ color:red; font-weight:bold; font-size:16px;}
.sqDianming h1{ font-size:18px; font-weight:bold; color:#085c97; line-height:32px; }
.cxbj{}
.cxbj font{ color:red}
.cxbj th{ font-weight:normal; color:#666}
.cxbj td{ line-height:30px; background:url(../images/nav01_03.gif) repeat-x top; text-align:center}
.gwdl{ float:left; width:240px; margin-left:7px; padding-top:15px; display:inline}
.gwdl dt{ width:125px; float:left; height:150px;}
.gwdl dd{ float:left; width:110px; margin-left:5px; color:#787878; color:#085c97; display:inline; line-height:26px;}
.gwdl dd p{ float:left; width:100%; line-height:28px;background:url(../images/nav01_03.gif) repeat-x bottom }
.jxs_padding{ padding-top:8px}
.jxs_sisname{ line-height:30px; float:left;color:#085c97;}
.gwdl dd font{ color:red}
.jxs_gw_title{ background-image: url(../images/bgtitblue.png);height:35px; width:100%;float:left; }
.jxs_gwA{ margin-left:14px; float:left;font-size:14px;line-height:31px;color:#085c97;}
.jxs_gw_more{ float:right; padding-right:15px; font-weight:normal;line-height:31px; }
.jxs_gw_more a{ line-height:31px; color:#666}
.jxs_gw{width:998px;border:1px solid #dee3e7;margin-top:8px; float:left; display:inline}
.jxs_gw_main{ padding-bottom:15px; float:left; width:100%}
.sis_zhaopin{ float:left; width:100%; padding-bottom:10px;}
.sis_zhaopin li{ float:left; height:26px;background:url(../images/nav01_03.gif) repeat-x bottom; width:258px; margin:0 10px; display:inline; color:#666; overflow:hidden}
.sis_zhaopin li a{ color:#444; line-height:26px; padding-right:8px;}
.sis_zixun{ float:left; width:242px;background-image: url(../images/bgtitblue.png); height:29px;border-right:1px solid #dee3e7;}
.sis_zx_main{ float:left; width:1000px; margin-top:8px; display: inline; }
.sis_zx_item{ float:left; width:242px; border:1px solid #dee3e7; overflow: hidden}
.sis_zx_left{ margin-left:8px; display:inline}
.sis_zx_ul{ float:left; width:100%; padding:8px 0;}
.sis_zx_ul li{ float:left; width:220px; margin:0 10px; display: inline;background:url(../images/nav01_03.gif) repeat-x bottom; overflow:hidden}
.sis_zx_ul li a{ line-height:26px;}
.sis_zx_a{float:left;font-size:14px;line-height:31px;color:#085c97; background:url(../images/ico.gif) no-repeat 6px 8px; padding-left:24px;}

/*4s店人才招聘*/
.zp_border{ margin:0}
.zhaopin{ float:left; width:998px;}
.zp_table{ float:left; width:968px; padding:15px; }
.zp_table p{ float:left; width:100%;}
.zp_spanl{ float:left; width:70px;}
.zp_spanr{ float:left; width:150px;}
.zp_btn_main{ float:left; padding:8px 0; width:100%; margin-top:12px; display:inline; background:url(../images/nav01_03.gif) repeat-x top}
.zp_btn{ background: url(../images/button_03.gif) no-repeat; color:#fff; font-size:14px; width:75px; height:23px; line-height:25px; border:0; font-weight:bold}
.rczp_title{ float:left; width:953px; line-height:30px; font-size:14px; font-weight:bold; background-color:#f3f3f3; border-bottom:1px solid #dee3e7; padding-left:15px; margin-bottom:15px; display:inline;color:#085c97;}
.rczpul{ width:100%; float:left; background:url(../images/nav01_03.gif) bottom repeat-x; padding-bottom:15px;}
.rczpul li{ width:242px; float:left;padding:3px 0; overflow: hidden}
.gwtable{ float:left; width:100%; text-align:center; margin-bottom:8px; display:inline; font-size:14px;}
.jltable{ float:left; width:968px;}
.jltable td{ padding:5px 0 5px 15px; border-bottom:1px solid #dee3e7;}
.jltable th{ background:#f5f5f5; padding-left:15px; font-weight:normal; text-align:left; line-height:28px; border-bottom:1px solid #dee3e7}
.jltable th font{ color:red; padding-right:5px;}
.jltitle{ float:left; background:#f3f3f3;color:#085c97; width:953px; border-bottom:1px solid #dee3e7; font-weight:bold; font-size:14px; }
.jl_btn_main{ float:left; padding:8px 0; width:100%; margin-top:12px; display:inline; background:url(../images/nav01_03.gif) repeat-x top; text-align:center}

/* 在线订车*/
.dingche,.wzchaxun{ float:left; padding:15px 15px 25px 15px; width:968px; background:url(../images/location_03.gif) repeat-x bottom}
.dcleft{ float:left; width:285px; padding-right:15px;}
.dcleft p{ width:285px;}
.dcjilu{ width:285px; padding-bottom:10px;background:url(../images/nav01_03.gif) repeat-x bottom; color:#666;}
.dcjilu a{ color:#085c97; text-decoration:underline; font-weight:bold}
.dc_title{padding:8px 0; background-color:#085c97; color:#fff; text-align:center}
.dc_title  a{font-size:18px; font-weight:bold; color:#fff}
.ccxx{background:url(../images/nav01_03.gif) repeat-x bottom; line-height:30px;background-color:#f3f3f3; color:#085c97; font-weight:bold; font-size:14px; margin-bottom:5px;}
.dcName{ width:80px; float:left; line-height:26px; color:#085c97}
.dcleft font{ font-size:14px; font-weight:bold; color:red; line-height:26px; display:block}
.dcDetail{ width:205px; float:left; line-height:26px;}


.dcP{line-height:30px; color:#666; margin-bottom:8px; background-color:#f3f3f3; border-bottom:1px solid #dee3e7; font-size:14px; font-weight:bold; color:#085c97}
.dcright{ float:left; width:646px; padding-left:20px; border-left:1px solid #dee3e7 }
.dcright p{ width:646px; float:left;display:block;background:url(../images/nav01_03.gif) repeat-x bottom}
.dcRname{ width:80px; float:left; padding:4px 0;display:block; color:#000}
.dcRmain{ width:566px; float:left;padding:4px 0;display:block}
.dcRmainfont{ width:566px; padding:5px 0 5px 80px; float:left;line-height:18px; display:block;color:#666;}
.dcRmainfont font{ color:red}
.dcRmain span{padding:4px 15px 0 0;}
.dcRmain span input{ margin-right:3px;}
.dcColor{width:150px; display:block; float:left;padding:4px 0;}
.dcImg{width:150px; display:block; float:left; margin:4px 0 0 15px;padding:1px; border:1px solid #dee3e7}
.dcbtn{ width:646px; float:left; text-align:center; padding:5px 0; height:26px;}
.dcbtn input{ margin-right:5px}

/*用户注册*/
.zhuce{border:1px solid #dee3e7;float:left; width:998px;}
.zhucemain{width:968px; padding:3px 15px 25px 15px; float:left}
.zhuce h1{ border-bottom:1px solid #dee3e7; margin-bottom:10px; background-color:#f3f3f3;padding-left:15px; width:983px; height:31px}
.zhucep{ font-size:18px; font-weight:bold; color:#ff6600; line-height:42px;border-bottom:1px solid #dee3e7;margin-bottom:25px;}
.zhucetitle{ width:120px; float:left; color:#085c97; background-color:#fff; font-size:14px; line-height:32px; border-left:1px solid #dee3e7;border-right:1px solid #dee3e7; text-align:center}
.zhucetitle1{width:120px; float:left; font-size:14px; font-weight:normal;color:#085c97; line-height:31px;border-right:1px solid #dee3e7; text-align:center}
.zctable{ float:left; width:678px; margin-right:10px;}
.zctablefsz{ float:left; width:678px; margin-right:10px;}
.zctable p{ width:678px; float:left; padding-bottom:5px}
.zcspan01{ width:150px; float:left; color:#085c97; text-align:right}
.zcspan02{ width:190px; float:left}
.zcspan03{ width:338px; float:left; color:#787878}
.zcspan03 font{ color:red; padding-right:6px;}
.zcspan04{ width:528px; float:left}
.zcspan04 font{ color:red; padding-left:15px;}
.zch3{ width:528px; padding-left:150px; float:left; font-weight:normal; padding-bottom:5px; }
.zch3 font{ color:red}
.zhucebtn{width:528px; padding-left:150px; float:left; }
.hhdy{ width:280px; background-color:#fefbec; border:1px solid #ffeee0; padding:5px 0 15px 0}
.hhdy td{ line-height:24px; padding:0px 10px; color:#666;}
.hhdy th{ font-size:14px; font-weight:bold; line-height:30px; color:#ff6600;}
.hhdy th a{ color:#085c97; font-size:14px; text-decoration:underline}

/*违章查询*/
.wzchaxun dl{ width:968px; float:left; background:url(../images/nav01_03.gif) repeat-x bottom; padding:8px 0}
.wzchaxun dl dt{ float:left; padding-right:38px; padding-left:10px; font-weight:bold;font-size:14px; color:#666; line-height:24px}
.wzchaxun dl dd{ float:left; width:850px; }
.wzchaxun dl dd a{line-height:24px; color:#085c97; font-size:14px; width:70px; display:block; float:left}

/*新闻搜索页*/
.newsSum{width:998px; float:left; line-height:34px; font-size:14px;display:inline; border:1px solid #e6e6e6; color:#888}
.newsSum font{ color:red; padding:0 5px;}
.newsSum span{ float:left; width:80px; border-right:1px solid #e6e6e6; line-height:34px; font-size:14px;color:#085c97; text-align:center; margin-right:15px; font-weight:bold; }
.newsul{ float:left; width:100%; padding:10px 0;}
.newsul li{ float:left; width:100%; line-height:26px;}
.newsul li a{font-size:14px; width:700px; padding-left:10px; float:left;color:#085c97; height:26px; line-height:26px; overflow:hidden ; padding-right:15px;}
.newsul li span{ float:left; height:26px; line-height:26px;color:#888; font-size:14px;}
.pagemain{ float:left; width:100%; padding:12px 0;}
.pagemain a{ float:left; display:block; padding:0 8px; line-height:22px; margin-right:5px; display:inline; border:1px solid #dee3e7;color:#085c97}
.pagemaincsw{ float:left; width:100%; padding:12px 0;}
.pagemaincsw a{ height:50px; padding:4px 8px; line-height:22px; margin-right:5px; display:inline; border:1px solid #dee3e7;color:#085c97}

/*车型搜索页*/
.carul{ float:left; width:998px; border:1px solid #dee3e7;}
.carttable{ float:left; width:100%; text-align:center;}
.carttable td{ padding:15px 0; background:url(../images/nav01_03.gif) repeat-x top; color:#085c97;}
.carttable th{ font-weight:normal; text-align:right; padding-right:20px; background-color:#f5f5f5; height:32px;}
.carttable th a{ padding-left:15px; color:#333 ;line-height:32px;}
.carttable th span{ padding-left:25px; color:#777;line-height:32px;}
.carttable th span font{ color:666}
.cartitle{ float:left; width:100%; background-color:#f3f3f3; height:30px;margin-top:1px;}
.cartitle span{ text-align:center; line-height:30px; height:30px; display:block; float:left; border-right:1px solid #fff; border-left:1px solid　#e6e6e6; color:#666}
.cartj{ width:998px; float:left; border:1px solid #dee3e7; margin-top:8px; border-top:0}
.cartj h2{ float:left; background:url(../images/ctx_title02_24.gif) repeat-x; height:33px; padding-left:15px; width:983px;}
.cartj_main{ float:left; width:100%;}
.cartj_main ul{ float:left; border:4px solid #f0f0f0; padding:15px 0}
.cartj_main ul li{ float:left; width:310px; padding-left:20px; background:url(../images/icon_43.gif) no-repeat 13px 11px; height:30px; overflow:hidden}
.cartj_main ul li a{ line-height:30px; color:#085c97; font-size:14px;}

/*4s店列表页*/
.tborder{ border-left:1px solid #dee3e7; border-right:1px solid #dee3e7}
.sismain{ width:100%; float:left;}
.sisppr{line-height:31px; float:right; text-align: right}
.sispp{ width:100%; line-height:30px; float:left;}
.sislist{ float:left;width:998px; margin-bottom:5px; display:inline; padding-bottom:1px ; border:1px solid #dee3e7 ;  }
.sislistp{ float:left;width:998px;background-color:#f3f3f3;border-bottom:1px solid #dee3e7; height:28px; }
.sislistp a{width:37px; display: block; float:left; text-align:center; line-height:28px; font-size:14px; font-weight:bold; font-family:Arial; border-right:1px solid #dee3e7; cursor:pointer }
.silover{ background-color:#fff; color:red; height:29px; line-height:29px;}
.SisListMain{ float:left;width:968px;line-height:30px;padding:5px 15px; display:none;}
.SisListMain a{line-height:30px; padding-right:25px;color:#085c97;}
.siplist{ float:left;width:998px;}
.siplist dl{ width:968px; float:left;padding:10px 15px 10px 15px;background:url(../images/nav01_03.gif) repeat-x top;}
.siplist dl dt{ width:120px; float:left;}
.siplist dl dd{ float:left; padding-left:12px; width:836px;}
.siplist dl dd div{ float:left; width:100%; line-height:20px;}
.sipspanl{ float:left; width:418px;}
.sipspanr{ float:left;width:298px; line-height:20px;color:#085c97;}
.sipname{ float:left; width:85px; color:#777;line-height:20px;}
.jxsname{ width:998px; height:30px; background-color:#f5f5f5; border-top:1px solid #e6e6e6}
.jxsname span{ float:right; line-height:30px; padding-right:15px; color:#777}
.jxsname span font{ color:red}
.jxsname a{ padding-left:15px; font-size:14px; font-weight:bold; color:#085c97; line-height:30px; float:left}
.sisldetail{width:968px; margin:0 5px 5px 5px; float:left; display:inline; background:#f5f5f5; padding:5px 10px; color:#333; line-height:18px;}
.sislbottom{width:998px; float:left; border:1px solid #dee3e7; margin-bottom:8px; }
.spp{width:998px; float:left;background: url(../images/ctx_nav_03.gif) repeat-x bottom;}
.spp a{ padding-left:15px; font-size:14px; font-weight:bold; color:red; line-height:30px; background: url(../images/ppicon_07.gif) no-repeat; display:block}

/*视频列表页*/
.vidiopage{ float:left;padding:18px 0 18px 20px; width:978px}
.vidiopage a{ float:left; display:block; padding:0 8px; line-height:22px; margin-left:5px; display:inline; border:1px solid #dee3e7;color:#085c97}
.video{ float:left; width:998px; border:1px solid #dee3e7;}
.vul{ width:998px; float:left; }
.vul li{ float:left; width:449px; padding:28px 15px 0 25px; }
.vul li dl{ float:left; width:449px; height:99px; overflow:hidden}
.vul li dl dt{ float:left; width:146px;}
.vul li dl dt img{ border:1px solid #dee3e7; padding:2px;}
.vul li dl dd{ float:left; width:293px; padding-left:10px}
.vul li dl dd p{ line-height:18px; display:block}
.vul li dl dd p span{ padding-right:15px; color:#888}
.vul li dl dd p span font{ color:red}
.vDltitle{ color:#085c97; font-size:14px;}
.vmiaoshu{ padding:8px 0; height:32px; display:block; overflow:hidden}
.videomain{ width:682px;margin:0 auto; text-align:center; padding:10px 0}
.videodetail{ width:682px;margin:0 auto;padding:10px 0 20px 0; font-size:14px; line-height:22px;}
.videoplay{ width:564px; height:486px; margin:15px auto; background-color:#000 }

/*销售顾问提问*/
.sellsl{width:200px; border-right:1px solid #dee3e7; float:left;padding-bottom:15px; background:url(../images/sellbg_03.gif) bottom repeat-x}
.sellsltitle{width:100%; float:left; background:url(../images/dongtaibg.gif) repeat-x;height:29px; }
.sellsltitle a{line-height:29px; color:#085c97; padding-left:15px; font-size:14px; font-weight:bold}
.sellimg{ width:100%; text-align:center; float:left; padding:20px 0 10px 0}
.sell img{ margin:0 auto;}
.sellitem{ float:left;line-height:20px; padding-left:35px; width:165px}
.sellitem font{ color:red; padding:0 5px;}
.sellr{ width:795px; float:left;padding:1px;}
.sellrTitle{ float:left; width:100%; height:28px; background-color:#f5f5f5; border-bottom:1px solid #e6e6e6;}
.sellrTitle a{ line-height:28px; color:#085c97; font-size:14px; font-weight:bold; padding-left:15px;}
.sellrmain{ width:765px; padding: 15px; float:left}
.sellrmain p{ float:left; width:100%}
.sellrname{ float:left; width:80px; padding:5px 0; height:20px; line-height:20px; color:#555; text-align:right}
.sellrr{ float:left; padding:5px 0; line-height:20px; width:684px}
.sellrr font{ color:#888; line-height:20px;}
.sellzhu{ color:#085c97}
.sellrimg{border:1px solid #aaa; border-bottom:1px solid #eee; border-right:1px solid #eee; margin-right:8px;}
.sellinput{ width:220px; float:left; height:20px; border:1px solid #aaa; border-bottom:1px solid #eee; border-right:1px solid #eee; margin-right:8px;}
.fabiao{ background:#085c97; width:80px; height:24px; color:white; border:0}
.ljzc{ color:red}
.tiwenmain{ margin-top:8px;float:left; width:968px; border:1px solid #dee3e7; padding:0 15px 10px 15px;background:url(../images/ppicon_07.gif) no-repeat;}
.tiwenitem{ float:left; background:url(../images/nav01_03.gif) repeat-x bottom;width:100%; margin-bottom:10px; display:inline}
.tiwenitem span{line-height:30px; padding-right:15px; display:block; height:30px; float:left;}
.wen{ float:left;  line-height:18px; width:100%; padding-bottom:3px;}
.wenl{background:url(../images/sellicon_03.gif) no-repeat 0 5px ; padding-left:20px; height:24px; line-height:24px; float: left; width:48px;}
.wenr{ float:left; line-height:24px; width:720px;}
.huifu{ background:url(../images/sellicon_06.gif) no-repeat 0 5px; padding-left:20px; height:24px; line-height:24px; float: left; width:48px;}
.tiwenspan{ padding-right:15px; float:left}

/*车展活动*/
.chezhanmain{ width:998px; border:1px solid #dee3e7; float:left; margin-bottom:8px; margin-right:1px; display: inline}

.chezhanitem{ float: left; width:498px; border-right:1px solid #e6e6e6; padding-bottom:12px}
.chezhanitemr{ float: left; width:498px; margin-left:1px; padding-bottom:12px;}
.chezhanitem h3,.chezhanitemr h3{ font-weight:normal; background:url(../images/sellbg_03.gif) repeat-x bottom; border-bottom:1px solid #e6e6e6; height:30px; float:left; width:100%}
.chezhanitem dl,.chezhanitemr dl{ width:478px; float:left; padding:10px 10px 0 10px; height:90px;}
.chezhanitem dl dt,.chezhanitemr dl dt{ width:137px; float:left}
.chezhanitem dl dd,.chezhanitemr dl dd{ float:left; width:333px; padding-left:8px;}
.chezhantitle{ width:100%; font-weight:bold; height:20px; overflow:hidden;}
.czmore{ float:left; width:100%; color:red;}
.czdetail1{ float:left; width:100%; height:74px; overflow:hidden; color:#787878}
.chezhanAl{ padding-left:15px; color:#085c97; line-height:30px; float:left; font-size:14px; font-weight:bold; background:url(../images/ppicon_07.gif) no-repeat}
.chezhanAr{ float:right; line-height:30px; color:#888; padding-right:10px;}
.chezhanlist{ padding:10px 10px 15px 10px;width:478px; float:left}
.chezhanlist p{ float:left; background:url(../images/nav01_03.gif) bottom repeat-x; width:100%}
.chezhanlist p a{line-height:28px; background:url(../images/icoli.gif) no-repeat 0 10px; float:left; padding-left:15px; color:#085c97}
.czdetail{ width:100%;float:left; border-bottom:1px solid #dee3e7; background:#f5f5f5; text-align:center; height:30px; line-height:30px;font-size:14px;color:#085c97}
.zzpp{ float:left; width:100%; padding:8px 0;}
.zzpp p{ width:62px; float:left;}
.zzpp p a{ line-height:24px;}
.zzpp p img{ border:1px solid #dee3e7;}
.czsub{ width:148px; float:left; text-align:center; border:1px solid #dee3e7; padding-top:6px; margin:0 13px 12px 0; display:inline}
.czsub p{ float:left; width:100%;}
.czsubname{ background:#f5f5f5; margin-top:3px; display: block; padding:3px 0}
.czsubname a{ color:#085c97;}
.cssubmain{ width:998px; float:left; border:1px solid #dee3e7}
.cssubmain h3{font-weight:normal; background:url(../images/sellbg_03.gif) repeat-x bottom; border-bottom:1px solid #e6e6e6; height:30px; float:left; width:100%}
.czxiangqing{ width:986px; float:left; padding:12px 0 10px 12px;}
.czjianjie{ float:left; width:968px; padding-right:15px; margin-bottom:15px; display:inline}
.czjianjie p{ line-height:20px; color:#666}
.czjjtitle{ line-height:30px; font-size:16px; font-weight:bold; text-align:center; color:red}
.lijie{background:url(../images/sellbg_03.gif) repeat-x bottom; border:1px solid #e6e6e6; height:30px; float:left; width:933px; padding:0 15px; line-height:30px; font-size:14px; font-weight:bold; color:#085c97; margin-bottom:12px; display:inline}

/*试乘试驾*/
.shijia{ float:left; width:998px;margin-top:8px; display:inline; border:1px solid #dee3e7; border-top:0}
.sjbottoml{ width:712px; float:left}
.sjleft{ width:983px; float:left; padding:15px 0 0 15px;}
.sjdl{ float:left; width:185px; border:1px solid #dee3e7; margin:0 8px 12px 0}
.sjdl dt{ float:left; width:100%; text-align:center; padding:5px 0}
.sjdl dd{ float:left; width:100%; padding-bottom:6px;background:#f5f5f5;}
.sjtitle{ width:100%; float:left; line-height:26px; text-align:center; border-bottom:1px solid #e6e6e6; height:26px;overflow:hidden;color:#085c97;background-color:#fff}
.sjdetail{ float:left;  line-height:18px; width:165px; padding:3px 5px 0 15px;}
.sjtopl{float:left; width:350px;}
.sjtopr{ float:left; width:642px; border-bottom:1px solid #dee3e7; height:250px; overflow:hidden; margin-left:8px; display: inline;}
.sjtoprmain{ width:100%; float:left}
.sjtoprmain h3{ text-align:center;float:left; width:100%; padding-top:6px;}
.sjtoprmain h3 a{ line-height:26px; font-size:14px; color:red; }
.sjtoprmain p{ float:left; width:612px; padding:0 15px 8px 15px; background:url(../images/nav01_03.gif) repeat-x bottom}
.sjtoprmain ul{ float:left; width:100%; padding:7px 0;}
.sjtoprmain ul li{ width:300px; float:left; padding:0 10px;}
.sjtoprmain ul li a{line-height:26px; height:26px; overflow:hidden;color:#085c97;}
.sjtopr_title{ height:30px; padding:0 15px; float:left; width:612px; background-color:#f5f5f5; border-bottom:1px solid #e6e6e6}
.ttmain{color:#085c97; font-size:14px; font-weight:bold; line-height:30px; float:left;}
.ttbtn{ border:0; background:url(../images/icon001_03.gif) no-repeat; color:#ff6600; width:81px; height:25px; font-weight:bold}

/*汽车租赁*/
.zlmain{float:left; width:968px; padding:15px;}
.zulin{ width:100%; float:left; text-align:center; padding-bottom:8px;}
.zulin th{ background: url(../images/location_03.gif); height:30px; line-height:30px; border:0; font-weight:normal; color:#085c97;}
.zulin td{ padding:8px; background:url(../images/nav01_03.gif) repeat-x top}
.zulinBtn{ background:url(../images/icon02_05.gif) no-repeat; width:60px; height:21px; border:0; color:red;}
.zuchedl{ width:100%; float:left}
.zuchedl dt{ width:350px; float:left; }
.zuchedl dd{ float:left; width:609px; padding-left:9px;}
.zuchedl dd h2{ font-size:14px; width:100%; float:left; line-height:30px;color:red; margin-bottom:8px; background:#f5f5f5; border-bottom:1px solid #e6e6e6;}
.zuchedl dd div{ width:100%; float:left}
.zcbottom{ width:100%; float:left;margin-top:8px;  display:inline}
.zuchespan{ float:left; width:203px;  line-height:25px; color:#666}
.zuchedl dd p{ width:100%; float:left; line-height:20px;  color:#085c97}
.zcbottom p{ float:left; width:100%; display:block; padding-bottom:5px}
.zlspan1{ float:left; width:80px; line-height:28px; text-align: right;color:#085c97; background-color:#f7f7f7}
.zlspan2{ float:left; line-height:28px;width:888px;}
.zlspan2 font{ line-height:28px; color:red; padding-left:8px;}
.zlspan3{ float:left; width:600px;}
.zlspan4{ float:left; width:288px; color:#787878}
.zctitle{ line-height:35px; width:953px; padding-left:15px; color:#085c97; font-size:14px; font-weight:bold; margin-bottom:15px;background-image: url(../images/bgtitblue.png)}
.zlBtn{ padding-left:80px; float:left; width:888px; line-height:28px;padding-top:8px;}
.zlbutton{ width:80px; height:26px; background:#085c97; border:0; color:#fff; font-weight:bold }

/*汽车赛事*/
.saishiltop{ float:left; width:100%; height:250px; margin-bottom:8px;}
.saishiitem{ float:left; width:100%;margin-bottom:8px;}
.saishil{ float:left; width:710px; }
.saishic { float:left; width:350px; margin-left:8px; display: inline; height:250px; overflow:hidden;border-bottom:1px solid #dee3e7}
.saishic ul{ float:left; width:100%;}
.saishic ul h2{ float:left; width:100%; text-align:center; height:30px;border-bottom:1px solid #dee3e7}
.saishic ul h2 a{ line-height:30px; font-size:14px; font-weight:bold; color:#085c97; }
.saishic ul li{ width:340px; padding-right:8px;  height:26px; overflow:hidden; float:left}
.saishic ul li a{line-height:26px;}
.saishir{ float:left; width:280px; margin-left:8px; display: inline; border:1px solid #dee3e7; border-top:0}
.saishirtitle{ float:left; width:100%; height:30px; background:url(../images/sellbg_03.gif) repeat-x bottom; border-bottom:1px solid #dee3e7;border-top:1px solid #dee3e7}
.jiqi{ width:225px; float:left; margin-right:8px;}
.jiqimaint{ width:703px; border:1px solid #dee3e7; border-top:0; float:left; padding:8px 0 8px 5px}
.jiqititle{ width:695px; float:left; line-height:30px; background:#f5f5f5; border-bottom:1px solid #e6e6e6; font-size:14px; font-weight:bold; color:#085c97; display:inline; padding-left:15px;}
.jiqiname{ width:100%; float:left; line-height:26px; background-color:#085c97; text-align:center; font-weight:bold; font-size:14px; font-family:"微软雅黑","宋体", Arial; color:#fff; margin-top:2px; display:inline}
.saishi_title{ background-image:url(../images/ctx_title02_24.gif); height:33px;padding:0 15px; float:left; width:668px; overflow:hidden; border:1px solid #dee3e7; border-bottom:0; border-top:0}
.jiqimain{ width:678px; border:1px solid #dee3e7; float:left;padding:0 15px 15px 15px; }
.jiqimain dl{ width:100%; float: left; padding:15px 0; background:url(../images/nav01_03.gif) repeat-x bottom}
.jiqimain dl dt{ width:180px; float:left}
.jiqimain dl dd{ width:486px; float:left; padding-left:8px}
.jiqimain dl dd p{ float:left; width:100%; color:#787878}
.jiqimain dl dd h3{ float: left; width:100%; }
.jiqimain dl dd h3 a{line-height:30px; color:#085c97; font-size:14px; font-weight:bold }
.guoneiss{ float:left; width:708px;  height:30px; border:1px solid #dee3e7; border-bottom:0; background:url(../images/sellbg_03.gif) repeat-x bottom}
.guoneiss a,.saishirtitle a{ height:30px; padding-left:15px; line-height:30px; font-size:14px; font-weight:bold;color:#085c97; float:left}
.saishiul{ float:left; width:100%; padding-bottom:15px;}
.saishiul li{ float: left; width:270px;overflow:hidden; padding-right:10px; height:30px;background:url(../images/nav01_03.gif) repeat-x bottom}
.saishiul li a{ float:left;line-height:30px; width:242px;}
.ssspan{ width:13px; height:13px; background:red; color:#fff; text-align:center; line-height:15px; float:left; margin:8px 7px 0 8px;}
.ssspan1{ width:13px; height:13px; background:#999; color:#fff; text-align:center; line-height:15px; float:left; margin:8px 7px 0 8px;}

/*概念车*/
.gaint{ float:left; width:350px; margin-left:8px; display: inline; height:250px; overflow:hidden;border-bottom:1px solid #dee3e7}
.gaint ul{ float:left; width:100%;}
.gaint ul li{ float:left;height:26px; width:100%}
.gaint ul li a{ line-height:26px; width:275px; float:left;  height:26px; overflow:hidden; padding-left:5px;}
.gaint ul li a font{ color:#085c97; padding-right:6px;}
.gnspan1{ float:right; line-height:26px; color:#787878}
.gaint ul h2{ float:left; width:100%;height:30px;border-bottom:1px solid #dee3e7; margin-bottom:8px; display: inline; background:#f5f5f5}
.gaint ul h2 a{ float:left; line-height:30px;color:#085c97; font-size:14px; font-weight:bold; padding-left:10px; }
.gnshipin{ float:left; width:708px;border:1px solid #dee3e7; padding-top:15px}
.gnspDl{ float:left; width:146px; margin:0 0 10px 24px;}
.gnspDl dt{ float:left; width:146px;}
.gnspDl dt img{ border:1px solid #dee3e7; padding:2px;}
.gnspDl dd{ float:left; width:146px;}
.gnspDl dd p{ text-align:center; color:#787878 ;}
.dnspname a{line-height:24px; color:#085c97;}
.xgnul{ float:left; width:100%; padding-bottom:5px;}
.xgnuldl{ float:left; width:260px; padding:15px 10px 15px 10px; height:60px; overflow:hidden}
.xgnuldl dt{ width:90px; float:left; height:60px;}
.xgnuldl dd{ width:160px; padding-left:10px; float:left}
.xgnul li{ float: left; width:270px;overflow:hidden; padding-right:10px; height:30px;background:url(../images/nav01_03.gif) repeat-x top}
.xgnul li a{ float:left;line-height:30px; width:242px; padding-left:15px;color:#085c97;}
.gnctitle{ width:100%; float:left; line-height:30px; background:#f5f5f5; border-bottom:1px solid #e6e6e6; font-size:14px; font-weight:bold; color:#085c97; display:inline;}
.gncmain{ float:left; width:998px; border:1px solid #dee3e7; border-top:0; padding-bottom:15px;}
.gncp{ width:136px; float:left; border:1px solid #dee3e7; padding:1px; text-align:center; margin:15px 0 0 22px; display: inline}
.gncp a{ width:100%; float:left; background:#f5f5f5}
.gnc_title{background:url(../images/sellbg_03.gif) repeat-x bottom; height:30px;padding:0 15px; float:left; width:968px; overflow:hidden; border:1px solid #dee3e7}
.gncspan{ float:left; line-height:30px; color:#085c97; font-size:14px; font-weight:bold}
.gncsp{ float:left; width:678px;  height:33px; border:1px solid #dee3e7; border-bottom:0; background-image:url(../images/ctx_title02_24.gif); border-top:0; padding:0 15px}

/*汽车卖场*/
.maichangmain{width:998px; float:left; border:1px solid #dee3e7; margin-bottom:8px; border-top:0; border-bottom:0; display:none}
.maichangp{ float:left;width:998px;background-color:#f3f3f3;border-bottom:1px solid #dee3e7; height:28px; }
.maichangp a{width:100px; display: block; float:left; text-align:center; line-height:28px; font-size:14px; font-weight:bold; font-family:Arial; border-right:1px solid #dee3e7; cursor:pointer }
.mcborder{ border-left:1px solid #dee3e7; border-right:1px solid #dee3e7;}
.maictitle{width:998px; float:left;background: url(../images/sellbg_03.gif) repeat-x bottom; height:33px; border-bottom:1px solid #dee3e7}
.maictitle a{padding-left:15px; font-size:14px; font-weight:bold; color:#ff6600; line-height:33px; background: url(../images/ppicon_07.gif) no-repeat; display:block; float:left}
.maictitle span{ float:right; line-height:33px; padding-right:15px;color:#888}
.maictitle span font{ color:red }
.maiclist{ float:left;width:998px; }
.maiclist dl{ width:968px; float:left;padding:15px;background:url(../images/nav01_03.gif) repeat-x bottom;}
.maiclist dl dt{ width:120px; float:left;}
.maiclist dl dd{ float:left; padding-left:12px; width:836px;}
.maiclist dl dd div{ float:left; width:100%; line-height:20px;}


/*汽车商城*/
.sqleft,.sqright{ width:228px; float:left;border:1px solid #dee3e7; border-top:0}
.sqleft_con{ float:left; width:100%;}
.sqleft_con h3{ background:url(../images/btn_on.gif) no-repeat 10px 7px ; height:30px; }
.sqleft_con h3 a{ margin-left:30px;line-height:30px; display:inline}
.sqleft_con p{ padding:0 10px 5px 10px; width:208px; color:#666}
.sqleft_con p a{ line-height:20px;color:#085c97;}
.sqcenter{ width:524px; margin:0 8px; display:inline; float:left;}
.sqctlist{ float:left; width:522px; margin-bottom:8px; display:inline;border:1px solid #dee3e7; border-top:0 }
.sqct_title{ background-image:url(../images/ctx_title02_24.gif); height:33px; float:left; width:508px; padding-left:14px;}
.sqctlist_con{ width:522px; float:left; padding-top:15px}
.sqctdl{ width:120px; float:left; margin:0 0 10px 8px; display:inline}
.sqctdl dt{ float:left; width:100%; text-align:center;}
.sqctdl dd{ float:left; width:100%;text-align:center;}
.sqctdl dd a{ line-height:24px; color:#333; }
.sqctdl dd  font{ color:red; font-weight:bold}
.sqbtn{ width:35px; background:#085c97; color:#fff; border:0; height:25px;}
.sqright_title{ background-image: url(../images/bgtitblue.png);height:35px;width:213px; line-height:31px; padding-left:15px; float:left; font-size:14px; border-top:1px solid #dee3e7}
.sqrt_list{ float:left; width:100%; margin-bottom:8px}
.sqrtmargin{ margin:0}
.sqrtborder{ border-bottom:1px solid #dee3e7}
.sqrtul{ float:left; width:100%}
.sqrtul li{ float:left; width:228px; height:24px; overflow:hidden;}
.sqrtul li a{ line-height:24px; float:left}
.sqpm{ background:red;width:18px; height:14px; line-height:14px; text-align:center; color:#fff; font-weight:bold; display:block; float:left; margin:3px 8px 0 10px;}
.sqpm1{ background:#ccc;width:18px; height:14px; line-height:14px; text-align:center; color:#fff; font-weight:bold; display:block; float:left; margin:3px 5px 0 10px;}
.sqrtdl{ float:left; width:200px; padding:8px 14px; background:url(../images/nav01_03.gif) repeat-x bottom;}
.sqrtdl dt{ float:left; width:60px; border:1px solid #dee3d7}
.sqrtdl dd{ float:left; width:128px; padding-left:10px;}
.sqtptitle{ width:200px; float:left; line-height:26px; font-weight:bold; padding:0 14px; overflow:hidden}
.sqright p{ float:left; width:213px; padding-left:15px; line-height:24px;}
.sqrtrd{ margin-right:5px;}
.sqrtbtn{ background:url(../images/button_03.gif) no-repeat; width:75px; height:23px; line-height:23px; border:0; color:#fff; margin:5px 5px 5px 0;}
.spsearch{ float:left; width:1000px;height:30px; margin-bottom:6px; display:inline; background-color:#f0f0f0;}
.spsearch label{ line-height:30px; color:#085c97; font-weight:bold; padding-left:8px;}
.spsc_st{ height:19px; width:100px;vertical-align:middle; }
.spsc_it{ height:15px; width:150px;vertical-align:middle; }
.spsc_btn{ background:url(../images/search_10.gif) no-repeat; width:58px; height:21px; border:0; margin-left:8px;vertical-align:middle; }

