/*
	Theme Name: MLBTR 2015
	Theme URI: http://my.studiopress.com/themes/magazine/
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/

	Version: 20160928.01

	Tags: black, white, one-column, responsive-layout, custom-background, custom-header, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, premise-landing-page

	Template: genesis
	Template Version: 2.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php 
*/


/* Table of Contents
	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Gallery
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Search Form
		- Titles
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Genesis Responsive Slider
		- Jetpack
		- Simple Social Icons
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
		- Responsive Menu
	- Content Area
		- Entries
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Color Styles
		- Magazine Pro Blue
		- Magazine Pro Green
		- Magazine Pro Red
	- Media Queries
		- max-width: 1139px
		- max-width: 1023px
		- max-width: 767px

*/


/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
	normalize.css v2.1.2 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#222}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry-content:before,
.entry:before,
.featured-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before,
.content-sidebar-wrap:before,
.prev-next-navigation:before,
.sidebar-primary .widget:before,
.fv_tc_comment_sorting:before {
	content: " ";
	display: table;
}
.author-box:after,
.clearfix:after,
.entry-content:after,
.entry:after,
.featured-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after,
.content-sidebar-wrap:after,
.prev-next-navigation:after,
.sidebar-primary .widget:after,
.fv_tc_comment_sorting:after {
	clear: both;
	content: " ";
	display: table;
}


/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	background: #f9f9f9 url("images/body-bg.jpg") no-repeat center 42px;
	background-size: contain;
	color: #444;
	font-family: Georgia, Times, serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
}
body.magazine-landing {
	background-color: #222;
}
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}
::-moz-selection {
	background-color: #222;
	color: #fff;
}
::selection {
	background-color: #222;
	color: #fff;
}
a {
	background-color: inherit;
	color: #222;
	font-weight: 300;
	text-decoration: none;
}
a:hover {
	color: #cc0033;
}
p {
	margin: 0 0 24px;
	padding: 0;
}
p:empty {
	margin-bottom: 0;	
}
strong,
strong a {
	font-weight: 700;
}
ol,
ul {
	margin: 0;
	padding: 0;
}
.page-template-page_archive .entry-content ul {
	list-style: none;
}
.page-template-page_archive .entry-content ul > li {
	list-style-type: none;
}
blockquote,
blockquote::before {
	color: #888;
}
blockquote {
	margin: 40px;
}
blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}
cite {
	font-style: normal;
}
.center {
	text-align: center;	
}
.topspace {
	padding-top: 12px;	
}
.hidden {
	visibility: hidden !important; /* Override and force layout */
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 16px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}
img {
	height: auto;
}
.featured-content img,
.gallery img {
 	width: auto;
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
	margin-bottom: 28px;
}
.gallery-item {
	float: left;
	margin: 0;
	padding: 0 4px;
	text-align: center;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-3 .gallery-item {
	width: 33%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery-columns-5 .gallery-item {
	width: 20%;
}
.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}
.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}
.gallery-columns-8 .gallery-item {
	width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}
.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}
.gallery .gallery-item img {
	border: none;
	height: auto;
	margin: 0;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #222;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}
input:focus,
textarea:focus {
	border: 1px solid #888;
	outline: none;
}
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}
::-moz-placeholder {
	color: #222;
	font-family: 'Raleway', sans-serif;
	opacity: 1;
}
::-webkit-input-placeholder {
	color: #222;
	font-family: 'Raleway', sans-serif;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
	background-color: #222;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
}
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover {
	color: #fff;
	background-color: #cc0033;
}
.entry-content .button:hover {
	color: #fff;
}
.button {
	display: inline-block;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}
tbody {
	border-bottom: 1px solid #ddd;
}
th,
td {
	text-align: left;
}
th {
	font-weight: bold;
	text-transform: uppercase;
}
td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.content {
	padding-bottom: 60px;
	position: relative;	
}
.home .content,
.archive .content,
.search .content {
	padding-bottom: 100px;
}
.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 990px;
}
.site-inner {
	clear: both;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 3px #ccc;
	-moz-box-shadow: 	0 2px 3px #ccc;
	box-shadow: 		0 2px 3px #ccc;
	position: relative;
}
.site-inner .widecolumn {
	padding: 10px;	
}
.site-inner .widecolumn p {
	max-width: 600px;
}
.magazine-home .site-inner {
	padding-bottom: 10px;
}
.magazine-landing .site-inner,
.magazine-landing .wrap {
	max-width: 800px;
}
.magazine-landing .site-inner {
	padding-bottom: 40px;
}


/* Column Widths and Positions
--------------------------------------------- */

/* Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 930px;
}
.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* Content */

.content {
	float: right;
	width: 660px;
}
.magazine-landing .content {
	background-color: #fff;
	padding: 50px 60px 24px;
}
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 540px;
}
.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 330px;
	padding-top: 20px;
	position: relative;
	z-index: 2;
}
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}
.content-sidebar-wrap:after {
	content: "";
	display: block;
	width: 330px;
	height: 100%;
	position: absolute;
	z-index: 1;
	border-left: 1px dotted #ddd;
	background-color: #FAFAFA;
	top: 0;
	bottom: 0;
	right: 0;
}

/* Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}
.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}
.site-inner .content-sidebar-wrap {
}

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}
.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}
.one-third,
.two-sixths {
	width: 31.623931623931625%;
}
.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}
.one-fourth {
	width: 23.076923076923077%;
}
.three-fourths {
	width: 74.35897435897436%;
}
.one-sixth {
	width: 14.52991452991453%;
}
.five-sixths {
	width: 82.90598290598291%;
}
.first {
	clear: both;
	margin-left: 0;
}

/* Nav Arrows */
.site-container {
	position: relative;	
}
.nav-arrow {
	position: fixed;
	top: 45%;
	width: 146px;
	height: 275px;
	overflow: hidden;
}
.nav-arrow:before {
	display: block;
	content: "\f341";
	position: absolute;
	top: 0;
	left: -99px;
	z-index: 10;
	width: 146px;
	height: 275px;
	font-size: 380px;
	line-height: 280px;
	color: #ebebeb;
	font-family: dashicons;
}
.nav-arrow.nav-arrow_left {
	left: 50%;	
	text-align: right;
	margin-left: -665px;
}
.nav-arrow.nav-arrow_right {
	right: 50%;
	margin-right: -665px;
}
.nav-arrow.nav-arrow_right:before {
	content: "\f345";
	left: -135px;
}
.nav-arrow a {
	text-shadow: 0 1px 1px #fff;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 22px;
	font-family: "Raleway",sans-serif;
	line-height: 1.1;
	z-index: 11;
	position: relative;
	top: 50%;
	width: 125px;
	-webkit-transform: 	translateY(-50%);	
	-moz-transform: 	translateY(-50%);	
	transform: 			translateY(-50%);	
	display: block;
}
.nav-arrow.nav-arrow_left a {
	right: 0;
	float: right;
}
.nav-arrow span {
	color: #cc0033;
	font-size: 16px;
	display: block;
}
.nav-arrow a:hover {
	color: #000;
}

/* Anchor position fix when a fixed header is covering up jump to text */
span[id^="more-"] {
  display: block;
  height: 42px; 
  margin-top: -68px; 
  visibility: hidden;
}

/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */



.avatar {
	float: left;
}
.alignleft .avatar {
	margin-right: 24px;
}
.alignright .avatar {
	margin-left: 24px;
}
.author-box .avatar {
	height: 70px;
	margin-right: 30px;
	width: 70px;
}
.comment .avatar {
	height: 48px;
	margin: 0 16px 0 0;
	width: 48px;
}
.div-avatar {
  background-size: contain;
  background-repeat: no-repeat;
}
.sticky {
}
.entry-content img {
	border: 2px solid gray; 
	margin: 15px;	
	padding: 3px;	
}
a.aligncenter img {
	display: block;
	margin: 0 auto;
}
img.centered,
.aligncenter,
.entry-content img.no-border.aligncenter {
	display: block;
	margin: 0 auto 24px;
}
img.alignnone,
.entry-content img.alignnone.no-border {
	margin-bottom: 12px;
}
.alignleft {
	float: left;
	text-align: left;
}
.alignright {
	float: right;
	text-align: right;
}
a.alignleft,
a.alignright {
	max-width: 100%;
}
a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}
a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}
.entry-content img.alignleft.no-border,
.entry-content img.alignright.no-border {
	margin: 15px;
}
.entry-content .wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}
.gallery-caption,
.entry-content .gallery-caption {
	margin: 0 0 10px;
}
.widget_calendar table {
	width: 100%;
}
.widget_calendar td,
.widget_calendar th {
	text-align: center;
}
.entry-content .no-border {
	border: 0; 
	margin: 0;	
	padding: 0; 
}


/* Genesis
--------------------------------------------- */

.breadcrumb {
	border-bottom: 1px dotted #888;
	margin-bottom: 40px;
	padding-bottom: 10px;
}
.archive-description,
.author-box {
	margin-bottom: 20px;
	padding: 30px 20px 10px;
}
.author-box {
	background-color: #f5f5f5;
}
.archive-description p:last-child,
.author-box p:last-child,
.search-results .archive-description h1 {
	margin-bottom: 0;
}
.author-box-title {
	color: #222;
	font-family: Georgia, Times, serif;
	font-size: 16px;
	margin-bottom: 4px;
}
.author-box p {
	margin-bottom: 0;
}


/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
}
.entry-content .search-form {
	width: 60%;
}
.entry-content .search-form input[type="search"],
.entry-content .search-form input[type="text"] {
	width: 70%;
}
.site-header .search-form {
	float: right;
	margin-top: 24px;
}
.footer-widgets .search-form input {
	border: none;
}
.genesis-nav-menu .search-form input {
	background: url("images/mlb-sharing-icons.png") no-repeat 98% -122px;
	background-color: #383838;
	border: none;
	color: #fff;
	width: 185px;
	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
	padding: 7px 24px 7px 7px;
}
.genesis-nav-menu .search-form input:focus {
	background-color: #6a6a6a;
}
.genesis-nav-menu .search-form ::-moz-placeholder {
	color: #cfcfcf;
}
.genesis-nav-menu .search-form ::-webkit-input-placeholder {
	color: #cfcfcf;
}
.genesis-nav-menu .search-form input:focus {
	border: none;
}
.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}
.entry-content .search-form input[type="submit"] {
	border: 1px solid #222;
}
.search-results .entry-content img.alignleft {
	margin-top: 7px;
}
.search-results .entry-content a + p {
	padding-left: 325px;
}

/* Titles
--------------------------------------------- */

.entry-title {
	font-size: 36px;
	line-height: 1;
}
.error404 .entry-title {
	padding: 30px 20px 10px;	
}
.entry-title a,
.sidebar .widget-title a {
	color: #cc0033;
	font-weight: 500;
}
.entry-title a:hover {
	color: #cc0033;
}
.widget-title {
	clear: both;
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 24px;
	text-transform: uppercase;
}
.sidebar-primary .widget-title {
	display: none;	
}
.magazine-home .content .widget-title,
.sidebar .widget-title {
	background-color: #222;
	color: #fff;
	padding: 10px;
}
.sidebar .enews .widget-title {
	background: none;
	padding: 0;
}
.footer-widgets .widget-title {
	color: #fff;
	margin-bottom: 15px;
}
.archive-title {
	font-size: 20px;
	margin-bottom: 24px;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

.widget,
.widget li {
	word-wrap: break-word;
}

.widget li {
 	list-style-type: none;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: none;
	margin: 0 0 0 30px;
	padding-bottom: 0;
}

.widget ul > li:last-child {
	margin-bottom: 0;
}

.widget .genesis-nav-menu li li {
	margin: 0;
	padding: 0;
}

/* Featured Content
--------------------------------------------- */

.featured-content {
	clear: both;
	overflow: hidden;
}
.home-middle .featured-content a,
.home-top .featured-content a {
	position: relative;
}
.featured-content .entry {
 	margin-bottom: 30px;
}
.content .home-middle .featured-content .entry,
.content .home-top .featured-content .entry {
	border: none;
	float: left;
	max-width: 100%;
}
.home-middle .featured-content .entry {
	width: 360px;
}
.content .home-bottom .featured-content .entry,
.sidebar .featured-content .entry {
	border-bottom: 2px solid #eee;
}
.sidebar .featured-content .entry:last-child {
	border-bottom: none;
}
.home-middle .featured-content .entry-content p:last-child,
.home-top .featured-content .entry-content p:last-child,
.sidebar .featured-content .entry:last-child {
	margin-bottom: 0;
}
.home-middle .featured-content .entry:nth-of-type(2n+1) {
	clear: left;
	margin-right: 30px;
}
.featured-content .entry-title {
	border: none;
	font-size: 24px;
	line-height: 1.2;
}
.sidebar .featured-content .entry-title {
	font-size: 20px;
}
.featured-content .entry-title a {
	border: none;
}
.featured-content a.alignnone {
	display: inline-block;
	margin-bottom: 20px;
	max-width: 100%
}
.featured-content .entry-header .entry-meta {
	margin-bottom: 10px;
}
.js .content .home-middle a .entry-time, 
.js .content .home-top a .entry-time {
	background-color: #cc0033;
	bottom: 24px;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 10px;
	position: absolute;
	right: 0;
}
.js .home-middle a.alignleft,
.js .home-top a.alignleft {
	margin: 0 24px 24px 0;
}
.js .home-middle a.alignright,
.js .home-top a.alignright {
	margin: 0 0 24px 24px;
}
.js .home-middle a.alignleft img,
.js .home-middle a.alignright img,
.js .home-top a.alignleft img,
.js .home-top a.alignright img {
	margin: 0;
}
.home-middle a.more-link,
.home-top a.more-link {
	background-color: #eee;
	clear: both;
	color: #222;
	display: block;
	font-size: 14px;
	margin-top: 20px;
	padding: 8px 10px;
	text-align: center;
}
.home-middle a.more-link:hover,
.home-top a.more-link:hover {
	background-color: #cc0033;
	color: #fff;
}
.featured-content ul {
	clear: both;
	margin-bottom: 30px;
}
.featured-content li {
	list-style-type: none;
}


/*
Plugins
---------------------------------------------------------------------------------------------------- */


/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}



/*
Site Header
---------------------------------------------------------------------------------------------------- */

.primary-nav .site-header {
	padding-top: 64px;
}
.site-header .wrap {
	padding: 30px 0;
}

/* Headlines Bar */

.headlines-bar {
	background-color: #000;
	width: 100%;
	height: 42px;
	line-height: 30px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	position: fixed;
	overflow: hidden;
	z-index: 9999;
}

.news-slider {
	float: left;
	width: 600px;
	position: relative;
}
.news-slider:before {
	content: "";
	display: block;
	height: 42px;
	background-color: #cc0033;
	position: absolute;
	z-index: 5;
	width: 990px;
	top: 0;
	right: 50%;
	margin-right: 300px;
}
.news-slider h3 {
	font-size: 14px;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-right: 10px;
	padding-right: 28px;
	line-height: 42px;
	background: #cc0033 url("images/red-rectangle.png") no-repeat right center;
	clear: none;
	float: left;
	height: 42px;
	display: inline-block;
}
.news-slider .flexslider {
	display: inline-block;
	position: absolute !important;
	max-width: 500px;
	max-height: 42px;
	left: 115px;
	top: 0;
	background: transparent;
	line-height: 42px;
}
.news-slider .flexslider .slides {
	left: 48px;
	list-style: none;
	max-width: 450px;
}
.news-slider .flexslider .slides a {
	color: #fff;
	font-size: 14px;
	max-width: 450px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden;
}
.news-slider .flexslider .slides a:hover {
	color: #cc0033;
}
.news-slider .flexslider .flex-control-nav {
	display: none;	
}
.news-slider .flexslider .flex-direction-nav {
	position: absolute;
	top: 8px;
	width: 38px;
}
.news-slider .flex-direction-nav li a {
	background: url("images/top-socials.png") no-repeat;
	width: 16px;
	height: 16px;
	top: 5px;
	margin-top: 0;
}
.news-slider .flex-direction-nav li a.prev {
	background-position: -139px center;
	left: 0;
}
.news-slider .flex-direction-nav li a.next {
	background-position: -184px center;
	right: 0;
}

.linked-sites {
	float: right;
	font-family: 'Oswald', sans-serif;
}
.linked-sites ul {
	list-style: none;
	margin-top: 10px;
}
.linked-sites ul li {
	display: inline-block;
	float: left;
	margin-right: 6px;
	padding-right: 6px;
	border-right: 1px solid #666;
}
.linked-sites a {
	font-size: 10px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #fff;
	display: block;
	text-align: center;
	width: 85px;
	font-weight: 700;
}
.linked-sites .shorter a {
	width: 60px;
}
.linked-sites a:hover {
	color: #ccc;
}
.linked-sites a span {
	dislay: block;
}

.top-socials {
	float: right;
	padding-top: 8px;
}
.top-socials #pretty-social-profiles > div > a {
	background: transparent url("images/top-socials.png") no-repeat;
}
.top-socials #pretty-social-profiles.grey .twitter-profile a {
	background-position: 0 0;
}
.top-socials #pretty-social-profiles.grey .fb-profile a {
	background-position: -37px 0;
}
.top-socials #pretty-social-profiles.grey .instagram-profile a {
	background-position: -74px 0;
}
.top-socials #pretty-social-profiles > div > a:hover {
	opacity: 0.7;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: right;
	padding-top: 30px;
	width: 690px;
}
.header-image .title-area {
	padding: 0;
}
.site-title {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	line-height: 1;
	margin-bottom: 0;
}
.site-title a,
.site-title a:hover {
	color: #222;
	font-weight: 900;
}
.site-description {
	display: block;
	height: 0;
	margin-bottom: 0;
	text-indent: -9999px;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}
.header-image .site-description,
.header-image .site-title a {
	display: block;
	height: 0;
	margin-bottom: 0;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-header .wrap {
	padding: 42px 0 0;
}
.header-image .site-title a {
	background-position: right center !important;
	background-size: contain !important;
	float: left;
	display: block;
	min-height: 100px;
	text-indent: -9999px;
	width: 100%;
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 728px;
}
.header-image .site-header .title-area {
	padding: 25px 0 0;
}
.header-image .site-header .widget-area {
	padding: 10px 0;
	margin-bottom: 0;
}
.site-header .widget-area p {
	margin-bottom: 0;
}


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #fff;
	background-color: #000;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	font-weight: 800;
	line-height: 1;
	text-transform: uppercase;
	width: 100%;
	position: relative;
}
.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}
.genesis-nav-menu a {
	border: none;
	color: #fff;
	display: block;
	padding: 13px 19px;
	position: relative;
	font-weight: 800;
}
.genesis-nav-menu > li:hover,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #fff;
	background-color: #cc0033;
}
.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 190px;
	z-index: 99;
	background-color: #000;
}
.genesis-nav-menu .sub-menu li {
	border-bottom: 1px dotted #666;	
}
.genesis-nav-menu .sub-menu a {
	background-color: #000;
	border-top: none;
	color: #fff;
	font-size: 13px;
	padding: 12px;
	position: relative;
	text-transform: none;
	width: 190px;
	font-weight: 600;
}
.genesis-nav-menu .sub-menu a:hover {
	background-color: #333;
}
.genesis-nav-menu .teams-item .sub-menu {
    width: 630px;
}
.genesis-nav-menu .sub-menu .sub-menu {
	margin: -53px 0 0 189px;
}
.genesis-nav-menu .teams-item .sub-menu .sub-menu {
	margin: 0;
	position: relative;
	left: 0;
	opacity: 1;
	width: 210px;
}
.teams-item .sub-menu .sub-menu li {
	float: none;
	display: block;
	border-bottom: none;
}
.genesis-nav-menu .menu-item:hover {
	position: static;
}
.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}
.genesis-nav-menu > .first > a {
	padding-left: 0;
}
.genesis-nav-menu > .last > a {
	padding-right: 0;
}
.genesis-nav-menu > .right {
	color: #fff;
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 25px 0;
	text-transform: uppercase;
}
.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}
.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}
.genesis-nav-menu > .search {
	margin-right: 8px;
	padding: 4px 0 0;
}
.genesis-nav-menu > .search:hover {
	background-color: transparent;
}
.teams-item .sub-menu li {
	display: inline-block;
	float: left;
	width: 210px;
}
.teams-item .sub-menu li:nth-of-type(n+1) {
	border-right: 1px dotted #666;
}
.teams-item .sub-menu > li > a {
	display: inline-block;
	width: auto;
}
.teams-item > .sub-menu > li > a {
	color: #999;
}
.teams-item .sub-menu > li > a:hover {
	background-color: #000;
	opacity: 0.7;
}
.teams-item .sub-menu li a.meta-link {
	width: 24px;
	height: 24px;
	padding: 0;
	display: inline-block;
	float: right;
	overflow: hidden;
	padding: 8px 2px;
}
.teams-item .sub-menu li a.meta-link:before {
	font-family: "dashicons";
	color: #fff;
	font-weight: 400;
	line-height: 1;
	font-size: 18px;
}
.teams-item .sub-menu li a[href*="facebook"]:before {
	content: "\f305";
}
.teams-item .sub-menu li a[href*="twitter"]:before {
	content: "\f301";
}
.teams-item .sub-menu li a[href*="feed"]:before {
	content: "\f303";
}
.teams-item .sub-menu li a.meta-link span {
	text-indent: 9999em;
	display: block;
}


/* Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid #222;
}
.site-header .sub-menu .sub-menu {
	margin-top: -54px;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #222;
	color: #fff;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.admin-bar .nav-primary {
	top: 32px;
}
.nav-primary a {
	color: #fff;
}
.nav-primary a:hover,
.nav-primary .sub-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a {
	color: #cc0033;
}
.nav-primary .genesis-nav-menu .sub-menu a {
	background-color: #222;
	border: 1px solid #fff;
	border-top: none;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary .wrap {

}

/* Responsive Menu
--------------------------------------------- */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
	margin-bottom: -1px;
	text-align: center;
}
.responsive-menu-icon::before {
	content: "\f333";
	display: inline-block;
	font: normal 20px/1 'dashicons';
	margin: 0 auto;
	padding: 10px;
	color: #fff;
}
.site-header .responsive-menu-icon::before {
	padding: 0;
}


/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.archive .content .entry,
.home .content .entry,
.page-template-page_blog-php .content .entry,
.content .entry .entry-header {
	border-bottom: 1px dotted #ddd;
}
.entry-content,
.entry-footer,
.entry .fv_sharing_round {
	padding: 10px 20px 0;
}
.entry-footer {
	padding-top: 0;	
}
.entry-content a {
	color: #cc0033;
	text-decoration: underline;
}
.entry-content a:hover {
	color: #222;
	text-decoration: underline;
}
.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}
.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
}
.entry-content ol,
.entry-content ul {
	margin-left: 40px;
}
.entry-content ol > li {
	list-style-type: decimal;
}
.entry-content ul > li {
	list-style-type: disc;
}
.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}
.entry-meta {
	font-size: 14px;
	margin-bottom: 10px;
}
.entry-header {
	margin-bottom: 15px;
	padding: 30px 20px 10px;
}
.entry-content .more-link {
    background-color: #cc0033;
    color: #fff;
    display: block;
    font-family: "Raleway", sans-serif;
    line-height: 1;
	font-weight: 400;
    margin: 12px auto 0;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 151px;	
}
.entry-header .entry-meta {
	margin-bottom: 10px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}
.entry-header .entry-meta .entry-author-link {
	color: #cc0033;
	font-weight: 600;
}
.entry-footer {
	position: relative;
}
.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}
.entry-categories,
.entry-tags {
	display: block;
}
.entry-categories a,
.entry-footer .comments-button a {
	background-color: #cfcfcf;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	display: inline-block;
	margin: 0 3px 3px 0;
	padding: 0 5px;
}
.entry-categories a:hover {
	background-color: #777;
}
.entry-footer .comments-button {
	position: absolute;
	top: 10px;
	left: 488px;
	line-height: 1;
}
.entry-footer .comments-button a {
	min-width: 151px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: #aaa;
}
.entry-footer .comments-button a:hover {
	background-color: #999;
}

#comments #wpcomm .wc-comment-title {
	text-align: left;
	font-family: "Raleway", sans-serif;
	padding: 10px 0;
}
#comments #wpcomm .wc-comment-author {
	color: #CC0033;	
}
#comments #wpcomm .wc-comment-text {
	font-size: 14px;	
}
#comments #wpcomm .wc-must-login {
	padding: 5px;	
}
#comments .wc-form-wrapper .button {
	padding: 8px 20px;
	background-color: #cc0033;
	font-weight: 600;
}
#comments .wc-form-wrapper .button:hover {
	background-color: #999;
}
#comments #wpcomm .login-box {
	background-color: #F9F9F9;
	padding: 10px;
}
#comments #wpcomm .login-box form,
.mu_register #setupform {
	max-width: 200px;
	margin: 0 auto;
	text-align: center;
	font-family: "Raleway", sans-serif;
}
#comments #wpcomm .login-box form p {
	margin-bottom: 12px;	
}
#comments #wpcomm .login-box form label {
	font-size: 14px;
	font-weight: 600;
}
#comments #wpcomm .login-box form input,
.entry-content .mu_register #setupform input {
	padding: 8px;
	font-size: 16px;
}
#comments #wpcomm .login-box form input[type="submit"],
.entry-content .mu_register #setupform input[type="submit"] {
	font-weight: 600;
	width: auto;
}
.entry-content .mu_register #setupform {
	max-width: 400px;
	margin: 0 auto;
	font-size: 12px;
}
.entry-content .mu_register #setupform label {
	margin-bottom: 0;
}
.entry-content .mu_register #setupform input[type="submit"] {
	font-size: 14px;
	padding: 8px 20px;
}


/* After Entry
--------------------------------------------- */

.after-entry {
	border-bottom: 1px solid #222;
	border-top: 2px solid #222;
	margin-top: 40px;
	padding: 30px 0;
}
.after-entry p:last-child {
	margin-bottom: 0;
}
.after-entry .widget {
	margin-bottom: 30px;
}
.after-entry .widget:last-child {
	margin-bottom: 0;
}

/* Custom Sharing Buttons */
.entry .fv_sharing_round,
.entry-footer .fv_sharing_round {
	margin-left: 0;
	margin-right: 0;
	padding: 10px 0 0;
}
.entry .fv_sharing_round > span {
	min-width: 151px;
	width: auto;
	margin: 0 5px 5px 0;
}
.entry .fv_sharing_round span > span {
	width: auto;	
	float: left;
	display: inline-block;
	line-height: 24px;
	font-size: 11px;
	color: #fff;
	opacity: 0.65;
}
.entry .fv_sharing_round span a {
	width: auto !important;
	margin: 0;
	padding: 0 0 0 30px !important;
	background: url("images/mlb-sharing-icons.png") no-repeat;
}

.entry .fv_sharing_classic span a, 
.entry .fv_sharing_small span a, 
.entry .fv_sharing_round span a, 
.entry .fv_sharing_round_big span a {
	text-indent: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 5px;
}
.entry .fv_sharing_round,
.entry .fv_sharing_round_big span a,
.entry .fv_sharing_round span span {
	font-family: "Raleway", sans-serif !important;
}
.entry .fv_sharing_round span a span {
	font-weight: 800;	
}
.entry .fv_sharing_round > span.fvfacebook_share {
	background-color: #375FAE;
}
.entry .fv_sharing_round > span.fvfacebook_share a {
	background-position: 0 0;
}
.entry .fv_sharing_round > span.fvretweet {
	background-color: #64ACD1;
}
.entry .fv_sharing_round > span.fvretweet a {
	background-position: 2px -42px;
}
.entry .fv_sharing_round > span.fvemail {
	background-color: #de010d;
}
.entry .fv_sharing_round > span.fvemail a {
	background-position: 3px -80px;
}


/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	font-size: 14px;
	margin: 40px 0;
	padding: 0 20px;
}
.archive-pagination li {
	display: inline;
}
.archive-pagination li a {
	background-color: #222;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}
.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #cc0033;
}
.entry-pagination a {
	border-bottom: 1px solid #ddd;
}
.archive-pagination a,
.entry-pagination a {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}
.archive-pagination a:hover,
.entry-pagination a:hover {
	color: #cc0033;
}

/* Prev-Next navigation */
.prev-next-navigation {
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	line-height: 1.2;
	margin: 0 -20px 10px;
	padding: 15px 20px 0;
	border-bottom: 1px dotted #ddd;
}
.prev-next-navigation a {
	margin-bottom: 10px;
	display: inline-block;
}
.prev-next-navigation a[rel="prev"] {
	float: left;
	width: 43%;
	padding-left: 20px;
}
.prev-next-navigation a[rel="next"] {
	float: right;
	width: 43%;
	text-align: right;
	padding-right: 20px;
}
.prev-next-navigation .main-link {
	text-align: center;
	width: 12%;
	margin: 0 1%;
	float: left;
	border-left: 1px dotted #ddd;
	border-right: 1px dotted #ddd;
	line-height: 3.1;
}
.prev-next-navigation a:before {
	font-family: "dashicons";
	line-height: 1.5;
	font-size: 20px;
	display: inline-block;
}
.prev-next-navigation a[rel="prev"]:before {
	content: "\f341";
	float: left;
	margin-left: -20px;
}
.prev-next-navigation a[rel="next"]:before {
	content: "\f345";
	float: right;
	margin-right: -20px;
}

/* Load More button */
.loading {
	text-align: center;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	margin: 0 auto 20px;
}
.loading img {
	display: block;
	margin: 0 auto;
	width: 24px;
}
.pagination {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.pagination-next.alignright {
	float: none;
	text-align: center;
}
.archive-pagination a {
	padding: 8px 20px;
	background-color: #CC0033;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}
.archive-pagination a:hover {
	color: #fff;
	background-color: #333;
}


/* Comments
--------------------------------------------- */

.comments-area,
.entry-comments,
.comment-respond,
.fv_tc_comment_sorting,
#fv_tc_ticker {
	padding: 0 20px;	
}
.entry-comments {
	margin-top: -30px;	
}
.entry-comments #wc-comment-header {
	padding-top: 10px;
}
.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: 50px;
}
.comment-content {
	font-size: 15px;
	line-height: 1.35;
	padding-bottom: 10px;
	margin-top: -20px;
	margin-left: 65px;
	max-width: 460px;
}
#fv_user_profiles_comments .comment-content {
	margin-top: 5px;
}
.entry-content #fv_user_profiles_comments ul {
	margin-left: 0;	
}
.entry-content #fv_user_profiles_comments ul > li {
	list-style-type: none;
	min-height: 48px;
	margin-bottom: 5px;
}
.entry-content #fv_user_profiles_comments ul > li > span {
	margin-bottom: 5px;
	font-size: 18px;
}
.entry-content #fv_user_profiles_comments a {
	text-decoration: none;
}
.entry-content #fv_user_profiles_comments .comment-count {
	font-style: normal;	
	font-family: "Raleway", sans-serif;
	color: #ccc;
	font-size: 14px;
}
.entry-content #fv_user_profiles_comments .comment-count:before {
	font-family: "dashicons";
	content: "\f101";
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-size: 16px;
}
.entry-content #fv_user_profiles_comments .comment-author {
	font-size: 12px;
	color: #999;	
}
.entry-content #fv_user_profiles_comments img {
	border: none;
	padding: 0;
}
.comment-content p {
	margin-bottom: 18px;
}
.comment-list .children li .comment-content {

}
.entry-comments .comment-author {
	margin-bottom: 0;
}
.entry-comments .comment-author span {
	display: inline-block;
	float: left;
	margin-right: 6px;
	font-weight: 600;
	color: #bf0000;
	font-size: 12px;
}
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}
.comment-respond #loginform input[type="text"] {
	width: 100%;
}
.comment-respond label {
	display: block;
	margin-right: 12px;
}
.comment-list {
	margin: 0 -20px;
}
.comment-list li,
.ping-list li {
	list-style-type: none;
}
.comment-list li {
	margin-top: 24px;
	padding: 32px;
}
.comment-list li.comment {
/*	border-top: 1px dotted #ccc;*/
	margin-top: 0;
	padding: 10px 25px 0;
}
.comment-content p:last-child {
	margin-bottom: 0;	
}
.comment-list li:last-child {
	border-bottom: none;	
}
.comment-list .children li {
/*	border-left: 1px solid #ccc; */
}
.comment-list li li {
	margin-right: -25px;
}
li.comment {
	
}
.comment-list .comment > article {
	padding: 8px;
}
.comment-list .comment.even > article {
	background-color: #fcfcfc;
}
.comment-list .comment.odd > article {
	background-color: #f5f5f5;
}
.comment-list .comment-author-admin > article,
.comment-list .bypostauthor.comment > article {
	background-color: #FFFAED;
}
.comment-list .comment-author-admin.odd > article,
.comment-list .bypostauthor.odd > article {
	background-color: #FCF6E3;
}
.comment-list .comment.fv_cp_new > article {
	background-color: #f7fde3;
}

.entry-pings .reply {
	display: none;
}
.bypostauthor {
}
.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}
.comment-header {
	min-height: 42px;
}
.comment-meta {
	font-size: 12px;	
	line-height: 1;
	margin-bottom: 0;
	margin-right: 6px;
	float: left;
	display: inline-block;
}
.comment-meta a {
	color: #999;
	font-weight: 500;
}
.comment-reply {
	text-align: right;
	margin-top: -6px;	
	margin-bottom: -6px;
}
.comment .tc-frontend {
	margin-bottom: 12px;		
}
.says {
	display: none;
}

.fv_tc_voting_box {
	float: left;
	font-family: "Raleway", sans-serif;
}



/*
 *  FV Thoughtful Comments 2015/12/03
 */
.fv_tc_comment_sorting,
#fv_tc_ticker {
	text-align: right;	
}
#fv_tc_ticker {
	margin-bottom: 4px;

}
.comment-reply-login.button {
	padding: 0;
	background-color: transparent;
	font-size: 11px;
}
.comment-reply-login.button:hover {
	color: #666;
}
.fv_tc_comment_sorting span,
.fv_tc_comment_sorting a {
	display: inline-block;
	margin-left: 1px;
	padding: 2px 6px;
	background-color: #aaa;
	color: #fff;
	float: right;
	width: 75px;
	text-align: center;
}
.fv_tc_comment_sorting span {
	-webkit-border-radius: 	2px 0 0 2px;
	-moz-border-radius: 	2px 0 0 2px;
	border-radius: 			2px 0 0 2px;
}
.fv_tc_comment_sorting a {
	background-color: #e4e4e4;	
	font-weight: 500;
	color: #acacac;
	-webkit-border-radius: 	0 2px 2px 0;
	-moz-border-radius: 	0 2px 2px 0;
	border-radius: 			0 2px 2px 0;
}
.fv_tc_comment_sorting a:hover {
	background-color: #f1f1f1;
	color: #999;
}
#loginform {
	max-width: 320px;	
	padding: 10px 20px;
	background-color: #f8f8f8;
	text-align: left;
}
#cancel-comment-reply-link {
	font-size: 14px;
	color: #999;
}
.fv-cp-comment-show,
.comment-reply-link,
.comment-report-link,
.comment-author,
.comment-meta,
.comment-edit-link {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 11px;
}
.comment-edit-link {
	float: left;
	display: inline-block;
}
.comment-author .comment-author-link,
.comment-reply-link,
.comment-report-link,
.comment-reply-login {
	color: #cc0033;	
	font-weight: 500;
}
.comment-reply-link,
.comment-report-link {
	text-transform: uppercase;
}
#fv-comments-pink-toggle {
	background: #ccc;
	padding: 3px 6px;
	color: #fff;
	-webkit-border-radius: 	2px;
	-moz-border-radius: 	2px;
	border-radius: 			2px;	
	width: 151px;
	display: inline-block;
	text-align: center;
}
.floating #fv-comments-pink-toggle {
	background: transparent;
	padding: 0;
	width: auto;
}
#fv_tc_ticker.floating {
	background: #ccc;
	margin: 80px 0 0 0;
	padding: 10px 15px;
	width: 660px;
	font-size: 15px;
	text-align: center;
	z-index: 100;
	font-family: "Raleway", sans-serif;
	line-height: 1;
}
#fv_tc_ticker.floating a {
	color: #fff;
	font-weight: 400;
}
li.fv_cp_new_comment {
	background: #f8f8f8;
}
.fv_cp_hidden > .comment-reply,
.fv_cp_hidden > article > .comment-reply {
	display: none;
}
.fv_cp_hidden_previously .comment-reply {
	display: block;
}
.fv-cp-comment-show {
	font-weight: 600;
	font-size: 12px;
	color: #aaa;
}
#fv_tc_reload {
	margin-top: 5px;
	color: #cc0033;	
	font-weight: 500;
}


/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-family: "Raleway", sans-serif;	
}
.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}
.sidebar .featured-content p:last-child {
	margin-bottom: 24px;
}
.sidebar li {
	border-bottom: 1px dotted #ddd;
	margin-bottom: 6px;
	padding-bottom: 6px;
}
.sidebar .widget {
	margin-bottom: 40px;
}
.sidebar .tagcloud a,
.sidebar .tagcloud a:visited {
	background-color: #eee;
	color: #222;
	cursor: pointer;
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px 10px;
}
.sidebar .tagcloud a:hover {
	background-color: #cc0033;
	color: #fff;
}
.sidebar .widget .textwidget,
.sidebar .widget .execphpwidget {
	padding: 0 20px;
	font-size: 14px;
}
#execphp-3 {
	margin-bottom: 20px;
}
#execphp-3 .aligncenter {
	margin-bottom: 1px;
}

/* Tabbed widget */
.d4p-tabber-widget div.d4p-st-tab {
	border: none;
	background-color: #FAFAFA;
}
.d4p-tabber-widget ul.d4p-tabber-header {
	border-top: 3px solid #CC0033;
	padding: 0 20px;
}
.d4p-tabber-widget ul.d4p-tabber-header li a.selected {
	background: #CC0033;
	color: #fff;
	border: none !important;
	font-weight: 800;
}
.d4p-tabber-widget ul.d4p-tabber-header li a {
	background: #979998;
	color: #fff;
	border: none !important;
	margin: 0 2px;
	text-transform: uppercase;
	font-weight: 800;
}
.d4p-tabber-widget ul.d4p-tabber-header li a:hover {
	background: #666;
}
.d4p-st-tab .entry {
	margin-bottom: 0;
}
.d4p-st-tab .entry-header {
	margin: 0;
	padding: 0 12px;
}
.d4p-st-tab .entry:last-child .entry-title {
	border-bottom: none;
}
.d4p-st-tab .entry-title {
	font-size: 14px;
	margin: 0 0 10px;
	padding: 0 0 10px;
	font-weight: 600;
	border-bottom: 1px dotted #ddd;
}
.d4p-st-tab .entry-title a {
	color: #000;
	font-weight: 800;
}
.d4p-st-tab .entry-title a:hover {
	color: #CC0033;
}
.sidebar .center {
	margin: 0 -10px;	
}
.sidebar .center > div {
	margin: 0 auto;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */



.before-footer {
	width: 100%;
	padding: 10px;
	display: block;
	clear: both;
	text-align: center;
	background-color: #222;
	position: relative;
	z-index: 97;
}
.before-footer > div {
	margin: 0 auto;	
}

.footer-widgets {
	color: #aaa;
	clear: both;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;	
	position: relative;
	z-index: 98;
}
.footer-widgets .wrap {
	background-color: #222;
	padding: 20px 150px 10px;
}
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 210px;
	text-align: center;
}
.footer-widgets-1,
.footer-widgets-2 {
	margin-right: 30px;
}
.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}
.footer-widgets-3 {
	float: right;
}
.footer-widgets a {
	color: #fff;
	font-weight: 300;
}
.footer-widgets a:hover {
	color: #ccc;
}
.footer-widgets p:last-child {
	margin-bottom: 0;
}
.footer-widgets .widget {
	margin-bottom: 15px;
}
.footer-widgets li {
	margin-bottom: 2px;
}
.footer-widgets .enews-widget {
	padding: 0;
}
.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
	background-color: #eee;
	color: #222;
}
.footer-widgets button:hover,
.footer-widgets input[type="button"]:hover,
.footer-widgets input[type="reset"]:hover,
.footer-widgets input[type="submit"]:hover,
.footer-widgets .button:hover {
	background-color: #fff;
	color: #222;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	text-align: center;
	position: relative;
	z-index: 99;
}
.site-footer .wrap {
	background-color: #222;	
	border-top: 1px solid #444;
	padding: 20px 0;
	position: relative;
}
.site-footer,
.site-footer a {
	color: #aaa;
}
.site-footer a:hover {
	color: #fff;
}
.site-footer p {
	margin-bottom: 0;
}
.to-top-button {
	position: absolute;	
	top: -60px;
	right: 20px;
}
.to-top-button:before {
	display: block;
	content: "\f343";
	font-family: "dashicons";
	line-height: 1;
	font-size: 24px;
	color: #999;
	margin-bottom: -5px;
}
.to-top-button:hover:before,
.hide-arrows:hover:before,
.hide-arrows:hover:after {
	color: #fff;
}
.fox-badge {
	position: absolute;
	right: 10px;
	top: -148px;
}
.hide-arrows {
	position: absolute;	
	top: -60px;
	left: 20px;
	padding-top: 20px;
}
.hide-arrows:before,
.hide-arrows:after {
	display: block;
	content: "\f341";
	font-family: "dashicons";
	line-height: 1;
	font-size: 24px;
	color: #999;
	margin-bottom: -5px;
	position: absolute;
	left: 12px;
	top: 0;
}
.hide-arrows:after {
	content: "\f345";
	right: 12px;
	left: auto;
}




/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1500px) {
	body {
		background-size: auto;	
	}
}


@media only screen and (max-width: 1300px) {

	.genesis-nav-menu a {
		padding: 13px 17px;		
	}
	.nav-arrow {
		width: 100px;
		height: 190px;
	}
	.nav-arrow.nav-arrow_left {
		margin-left: -605px;	
	}
	.nav-arrow.nav-arrow_right {
		margin-right: -605px;	
	}
	.nav-arrow a {
		font-size: 17px;
		width: 100px;
	}
	.nav-arrow span {
		font-size: 14px;	
	}
	.nav-arrow:before {
		font-size: 260px;
		line-height: 200px;
		width: 100px;
		height: 190px;
		left: -68px;
	}
	.nav-arrow.nav-arrow_right:before {
		left: -92px;
	}
	.entry-footer .comments-button a {
		min-width: 130px;
	}
	#fv_tc_ticker.floating {
		margin-left: -85px;
		font-size: 14px;
		max-width: 100px;
	}

}

@media only screen and (max-width: 1139px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}
	.title-area {
		width: 68%;
	}
	.news-slider {
		width: 500px;	
	}
	.news-slider:before {
		margin-right: 250px;
	}
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 780px;
	}
	.content {
		width: 630px;
	}
	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content {
		width: 450px;
	}
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.home-middle .featured-content .entry {
		width: 200px;
	}
	.sidebar-secondary {
		width: 150px;
	}
	.genesis-nav-menu a {
		padding: 13px 15px;	
	}
	.nav-arrow {
		display: none;
	}
	.search-results .entry-content a + p {
		padding-left: 0;
	}
	#fv_tc_ticker.floating {
		margin-left: 0;
		max-width: 160px;
		border: 1px solid #c1c1c1;
		border-left: none;
	}

}

@media only screen and (max-width: 1023px) {
	body {
		background-size: 170% auto;	
	}
	.site-inner,
	.wrap {
		max-width: 750px;
	}
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.home-middle .featured-content .entry,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}
	.content {
		width: 420px;	
	}
	.sidebar-primary {
		width: 330px;	
	}
	.genesis-nav-menu,
	.site-header .title-area,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}
	.genesis-nav-menu {
		min-height: 38px;		
	}
	.genesis-nav-menu .search-form input {
		width: 125px;
	}
	.nav-primary {
		position: static;
	}
	.featured-content .entry,
	.site-header .search-form,
	.site-title {
		float: none;
	}
	.primary-nav .site-header,
	.title-area {
		padding-top: 0;
	}
	.title-area {
		padding-bottom: 20px;
		width: 70%;
		margin-right: 20px;
	}
	.header-image .site-title a {
		min-height: 80px;	
	}
	.header-image .site-header .title-area {
		padding-top: 10px;
		padding-bottom: 0;
	}
	.genesis-nav-menu .menu-item {
		float: left;	
	}
	.genesis-nav-menu a {
		line-height: 12px;
		padding: 13px 11px;
	}
	.entry .fv_sharing_round, .entry-footer .fv_sharing_round {
		max-width: 312px;
	}
	.entry-footer .comments-button {
		left: 176px;
		top: 40px;
	}
	.entry-footer .comments-button a {
		min-width: 151px;
	}
	.footer-widgets .wrap {
		padding: 20px 0 60px;	
	}
	.footer-widgets-1, .footer-widgets-2, .footer-widgets-3 {
		width: 32%;	
	}
	.footer-widgets-1, .footer-widgets-2 {
		margin-right: 2%;
	}
	.genesis-nav-menu > .search {
		padding-top: 3px;	
	}
	.search-results .entry-content img.alignleft {
		float: none;
	}
	.footer-widgets .wrap {
		padding-bottom: 70px;
	}
	.fox-badge {
		left: 50%;
		right: auto;
		top: -60px;
		margin-left: -50px;
	}
	.genesis-nav-menu > .search {
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 3px;
		z-index: 9999;
		min-width: 30px;
		min-height: 24px;
		display: block;
		float: none;
		cursor: pointer;
	}
	.genesis-nav-menu .search-form {
		min-width: 30px;
		display: block;
		overflow: visible;
		position: relative;
	}
	.genesis-nav-menu .search-form input {
		width: 30px;
		height: 32px;
		background-color: transparent;
		-webkit-appearance: none;
		display: block;
		position: relative;
	}
	.genesis-nav-menu .search-form input:focus {
		width: 150px;
	}	
	.linked-sites {
		display: none;
	}

}

@media only screen and (max-width: 768px) {
	body {
		background-size: 190% auto;	
		background-position: -280px 42px;
	}
	.header-image .site-title a {
		float: right;
	}
	.nav-secondary {
		background-color: #000;	
	}
	.genesis-nav-menu > .first > a {
		padding-left: 20px;
	}
	.genesis-nav-menu a {
		padding: 13px 8px;
	}
	.home-bottom .featured-content .entry,
	.home-middle .featured-content .entry {
		padding-bottom: 20px;
	}
	.archive-pagination li a {
		margin-bottom: 4px;
	}
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	.content,
	.sidebar-primary {
		width: 100%;
	}
	.sidebar-primary {
		background-color: #fafafa;	
	}
	.news-slider {
		width: 75%;
		overflow: hidden;
	}
	.news-slider .flexslider {
		left: 120px;	
	}
	.news-slider:before {
		display: none;	
	}
	.news-slider h3 {
		padding-left: 10px;	
	}
	#mc_embed_signup {
		max-width: 400px !important;	
	}
	.sidebar-primary iframe {
		margin: 0 auto;	
		display: block;
	}
	.d4p-tabber-widget ul.d4p-tabber-header li {
		display: inline-block;
		float: none;
		max-width: 140px;
		margin-top: -1px;
	}
	.d4p-tabber-widget ul.d4p-tabber-header li a {
		font-size: 15px;	
	}
	#text-5 .textwidget {
		max-width: 400px;
		margin: 0 auto;
	}
	#execphp-2 ul li {
		width: 33.3333333%;
		float: left;
		display: inline-block;
		text-align: center;
	}
	.entry .fv_sharing_round, .entry-footer .fv_sharing_round {
		max-width: 100%;	
	}
	.entry-footer .comments-button {
		left: 488px;
		top: 10px;
	}
	.entry .fv_sharing_round > span,
	.entry-footer .comments-button a {
		min-width: 151px;	
	}
	.entry .fv_sharing_round span > span {
		font-size: 10px;	
	}

	.search-results .entry-content img.alignleft {
		float: left;
		max-width: 200px;
		margin-bottom: 2px;
	}
	.content-sidebar-wrap:after {
		display: none;
	}
	
}


@media only screen and (max-width: 738px) {
/*	.genesis-nav-menu a {
		font-size: 11px;
	}*/

}


@media only screen and (max-width: 700px) {
	body {
		background-size: 210% auto;	
		background-position: -290px 42px;
	}
	.news-slider .flexslider .slides a {
		font-size: 12px;
		line-height: 1;
	}	

}


@media only screen and (max-width: 643px) {
	
	.footer-widgets,
	.nav-secondary,
	.site-footer,
	.site-header,
	.site-inner {
		padding-left: 5%;
		padding-right: 5%;
	}
	.content,
	.sidebar-primary,
	.sidebar-secondary,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		width: 100%;	
	}
	
	.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
	.genesis-nav-menu.responsive-menu {
		display: none;
	}
	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}
	.genesis-nav-menu.responsive-menu .menu-item {
		margin: 0;
		float: none;
	}
	.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}
	.genesis-nav-menu a {
		line-height: 1;
		padding: 18px 20px;
	}
	.genesis-nav-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;	
	}
	.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}
	.genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		content: "\f347";
		float: right;
		font: normal 16px/1 'dashicons';
		height: 16px;
		padding: 16px 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
	}
	.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}
	.nav-primary .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		color: #fff;
	}
	.genesis-nav-menu.responsive-menu .sub-menu {
		background-color: rgba(0, 0, 0, 0.05);
		border: none;
		left: auto;
		opacity: 1;
		position: relative;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 100%;
		z-index: 99;
		padding-left: 20px;
	}
	.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
		background-color: transparent;
		margin: 0;
		padding-left: 25px;
	}
	.genesis-nav-menu.responsive-menu .sub-menu li a,
	.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
		background: none;
		border: none;
		padding: 14px 20px;
		position: relative;
		width: 100%;
	}
	.genesis-nav-menu > .right {
		display: none;
	}
	.genesis-nav-menu.responsive-menu .teams-item .sub-menu {
		padding-left: 0;
	}
	.teams-item.menu-open .sub-menu li {
		width: 49.9%;
	}
	.genesis-nav-menu.responsive-menu .teams-item .sub-menu > li > a, 
	.genesis-nav-menu.responsive-menu .teams-item .sub-menu > li > a:hover {
		width: auto;
		display: inline-block;
	}
	.genesis-nav-menu.responsive-menu .teams-item .sub-menu > li > a.meta-link, 
	.genesis-nav-menu.responsive-menu .teams-item .sub-menu > li > a.meta-link:hover {
		width: 24px;
		height: 32px;
	}	
	.teams-item .sub-menu {
		width: 540px;	
	}
	.teams-item .sub-menu li,
	.genesis-nav-menu .teams-item .sub-menu .sub-menu {
		width: 180px;	
	}
	.footer-widgets .widget-title {
		margin-bottom: 4px;	
	}
	.entry .fv_sharing_round, .entry-footer .fv_sharing_round {
		max-width: 312px;	
	}
	.entry-footer .comments-button {
		left: 176px;
		top: 40px;
	}
}