/* FV Sharing Stylesheet */




/* Classic Style */

.fv_sharing_classic,
.fv_sharing_small,
.fv_sharing_round,
.fv_sharing_round_big {
	list-style: none;
	margin: 0 -5px 12px -5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}


.fv_sharing_classic:before,
.fv_sharing_classic:after,
.fv_sharing_small:before,
.fv_sharing_small:after,
.fv_sharing_round:before,
.fv_sharing_round:after,
.fv_sharing_round_big:before,
.fv_sharing_round_big:after {
	content: "";
	display: table;
}

.fv_sharing_classic:after,
.fv_sharing_small:after,
.fv_sharing_round:after,
.fv_sharing_round_big:after {
	clear: both;
}

.fv_sharing_classic span,
.fv_sharing_small span,
.fv_sharing_round span,
.fv_sharing_round_big span {
	list-style: none;
	float: left;
	display: inline-block;
	margin: 0 5px;
	padding: 0;
}

.fv_sharing_classic span span,
.fv_sharing_small span span,
.fv_sharing_round span span,
.fv_sharing_round_big span span {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	line-height: 2;
}

.fv_sharing_classic span a,
.fv_sharing_small span a,
.fv_sharing_round span a,
.fv_sharing_round_big span a {
	display: block;
	background: url("images/social-sprites-new.png") no-repeat scroll;
	height: 20px;
	margin: 0px 3px 5px 3px;
	float: left;
	line-height: 1;
	text-indent: -9999em;
	transition-duration: 0s;
}

.fv_sharing_classic .fvretweet a {
	width: 55px;
}

.fv_sharing_classic .fvretweet a:hover,
.fv_sharing_small .fvretweet a:hover {
	width: 55px;
	background-position: 0 -20px;
}

.fv_sharing_classic .fvfacebook_add a,
.fv_sharing_small .fvfacebook_add a,
.fv_sharing_round .fvfacebook_add a,
.fv_sharing_round_big .fvfacebook_add a {
	width: 46px;
	background-position: 0 -360px;
}

.fv_sharing_classic .fvfacebook_add a:hover,
.fv_sharing_small .fvfacebook_add a:hover {
	width: 46px;
	background-position: 0 -380px;
}

.fv_sharing_classic .fvfacebook_share a,
.fv_sharing_small .fvfacebook_share a,
.fv_sharing_round .fvfacebook_share a,
.fv_sharing_round_big .fvfacebook_share a {
	width: 38px;
	background-position: 0 -400px;
}

.fv_sharing_classic .fvfacebook_share a:hover,
.fv_sharing_small .fvfacebook_share a:hover {
	width: 38px;
	background-position: 0 -420px;
}

.fv_sharing_classic .fvgoogleplusone a,
.fv_sharing_small .fvgoogleplusone a,
.fv_sharing_round .fvgoogleplusone a,
.fv_sharing_round_big .fvgoogleplusone a {
	width: 32px;
	background-position: 0 -200px;
}

.fv_sharing_classic .fvgoogleplusone a:hover,
.fv_sharing_small .fvgoogleplusone a:hover {
	width: 32px;
	background-position: 0 -220px;
}

.fv_sharing_classic .fvgoogleshare a,
.fv_sharing_small .fvgoogleshare a,
.fv_sharing_round .fvgoogleshare a,
.fv_sharing_round_big .fvgoogleshare a {
	width: 58px;
	background-position: 0 -240px;
}

.fv_sharing_classic .fvgoogleshare a:hover,
.fv_sharing_small .fvgoogleshare a:hover {
	width: 58px;
	background-position: 0 -260px;
}

.fv_sharing_classic .fvlinkedin a,
.fv_sharing_small .fvlinkedin a,
.fv_sharing_round .fvlinkedin a,
.fv_sharing_round_big .fvlinkedin a {
	width: 58px;
	background-position: 0 -280px;
}

.fv_sharing_classic .fvlinkedin a:hover,
.fv_sharing_small .fvlinkedin a:hover {
	width: 58px;
	background-position: 0 -300px;
}

.fv_sharing_classic .fvstumbleuppon a,
.fv_sharing_small .fvstumbleuppon a,
.fv_sharing_round .fvstumbleuppon a,
.fv_sharing_round_big .fvstumbleuppon a {
	width: 20px;
	background-position: 0 -40px;
}

.fv_sharing_classic .fvstumbleuppon a:hover,
.fv_sharing_small .fvstumbleuppon a:hover {
	width: 20px;
	background-position: 0 -60px;
}

.fv_sharing_classic .fvreddit a,
.fv_sharing_small .fvreddit a,
.fv_sharing_round .fvreddit a,
.fv_sharing_round_big .fvreddit a {
	width: 70px;
	background-position: 0 -80px;
}

.fv_sharing_classic .fvreddit a,
.fv_sharing_small .fvreddit a {
	width: 70px;
	background-position: 0 -100px;
}

.fv_sharing_classic .fvpinterest_pinit a,
.fv_sharing_small .fvpinterest_pinit a,
.fv_sharing_round .fvpinterest_pinit a,
.fv_sharing_round_big .fvpinterest_pinit a {
	width: 39px;
	background-position: 0 -320px;
}

.fv_sharing_classic .fvpinterest_pinit a:hover,
.fv_sharing_small .fvpinterest_pinit a:hover {
	width: 39px;
	background-position: 0 -340px;
}

.fv_sharing_classic .fvfb_print a,
.fv_sharing_small .fvfb_print a,
.fv_sharing_round .fvfb_print a,
.fv_sharing_round_big .fvfb_print a {
	width: 50px;
	background-position: 0 -120px;
}

.fv_sharing_classic .fvfb_print a:hover,
.fv_sharing_small  .fvfb_print a:hover {
	width: 50px;
	background-position: 0 -140px;
}

.fv_sharing_classic .fvemail a,
.fv_sharing_small .fvemail a,
.fv_sharing_round .fvemail a,
.fv_sharing_round_big .fvemail a {
	width: 50px;
	background-position: 0 -160px;
}

.fv_sharing_classic .fvprint a,
.fv_sharing_small .fvprint a,
.fv_sharing_round .fvprint a,
.fv_sharing_round_big .fvprint a {
	width: 28px;
	background-position: 0 -120px;
}

.fv_sharing_classic .fvbubble a,
.fv_sharing_small .fvbubble a,
.fv_sharing_round .fvbubble a,
.fv_sharing_round_big .fvbubble a {
	width: 28px;
	background-position: 0 -437px;
}

.fv_sharing_classic .fvdribbble a,
.fv_sharing_small .fvdribbble a,
.fv_sharing_round .fvdribbble a,
.fv_sharing_round_big .fvdribbble a {
	width: 28px;
	background-position: 0 -480px;
}

.fv_sharing_classic .fvyoutube a,
.fv_sharing_small .fvyoutube a,
.fv_sharing_round .fvyoutube a,
.fv_sharing_round_big .fvyoutube a {
	width: 28px;
	background-position: 0 -520px;
}

.fv_sharing_classic .fvvimeo a,
.fv_sharing_small .fvvimeo a,
.fv_sharing_round .fvvimeo a,
.fv_sharing_round_big .fvvimeo a {
	width: 28px;
	background-position: 0 -560px;
}

.fv_sharing_classic .fvflickr a,
.fv_sharing_small .fvflickr a,
.fv_sharing_round .fvflickr a,
.fv_sharing_round_big .fvflickr a {
	width: 28px;
	background-position: 0 -600px;
}

.fv_sharing_classic .fvyelp a,
.fv_sharing_small .fvyelp a,
.fv_sharing_round .fvyelp a,
.fv_sharing_round_big .fvyelp a {
	width: 28px;
	background-position: 0 -640px;
}

.fv_sharing_classic .fvrss a,
.fv_sharing_small .fvrss a,
.fv_sharing_round .fvrss a,
.fv_sharing_round_big .fvrss a {
	width: 28px;
	background-position: 0 -680px;
}

.fv_sharing_classic .fvemail a:hover,
.fv_sharing_small .fvemail a:hover {
	width: 50px;
	background-position: 0 -180px;
}

.sharing-invisible {
	left: -10000px !important;
}
.sharing_display_none {
	display: none !important;
}
.fb_iframe_widget iframe {
	position: relative !important;
}

/* Small Style */

.fv_sharing_small span a {
	display: block;
	background: url("images/social-sprites-small.png") no-repeat;
	transition-duration: 0s;
}

.fv_sharing_small .fvretweet a, 
.fv_sharing_small .fvretweet a:hover, 
.fv_sharing_small .fvgoogleshare a, 
.fv_sharing_small .fvgoogleshare a:hover {
	width: 21px;
}

.fv_sharing_small .fvfacebook_add a, 
.fv_sharing_small .fvfacebook_add a:hover, 
.fv_sharing_small .fvpinterest_pinit a, 
.fv_sharing_small .fvpinterest_pinit a:hover {
	width: 31px;
}

.fv_sharing_small .fvfacebook_share a, 
.fv_sharing_small .fvfacebook_share a:hover  {
	width: 38px;
}

.fv_sharing_small .fvgoogleplusone a, 
.fv_sharing_small .fvgoogleplusone a:hover {
	width: 32px;
}

.fv_sharing_small .fvlinkedin a, 
.fv_sharing_small .fvlinkedin a:hover, 
.fv_sharing_small .fvstumbleuppon a, 
.fv_sharing_small .fvstumbleuppon a:hover {
	width: 20px;
}

.fv_sharing_small .fvreddit a, 
.fv_sharing_small .fvreddit a:hover, 
.fv_sharing_small .fvemail a, 
.fv_sharing_small .fvemail a:hover {
	width: 24px;
}


.fv_sharing_small .fvfb_print a, 
.fv_sharing_small .fvfb_print a:hover {
	width: 22px;
}



/* Round Style */

.fv_sharing_round > span {
	width: 30px;
}

.fv_sharing_round span a {
	background: url("images/social-sprites-round.png") no-repeat;
	height: 25px;
	width: 24px;
	transition-duration: 0s;
}

.fv_sharing_round span a:hover {
	opacity:0.8;
}

.fv_sharing_round .fvretweet a,
.fv_sharing_round .fvfacebook_add a,
.fv_sharing_round .fvfacebook_share a,
.fv_sharing_round .fvgoogleplusone a,
.fv_sharing_round .fvgoogleshare a,
.fv_sharing_round .fvlinkedin a,
.fv_sharing_round .fvstumbleuppon a,
.fv_sharing_round .fvpinterest_pinit a,
.fv_sharing_round .fvreddit a,
.fv_sharing_round .fvemail a,
.fv_sharing_round .fvfb_print a {
	width: 24px;
}


.fv_sharing_round span > span {
	line-height: 10px;
	float: none;
	text-align: center;
	display: block;
}


/* Round big Style */

.fv_sharing_round_big > span {
	width: 34px;
    margin-bottom:10px;
}

.fv_sharing_round_big span a {
	background: url("images/social-sprites-round-big.png") no-repeat;
	height: 28px;
	width: 28px;
	transition-duration: 0s;
}

.fv_sharing_round_big span a:hover {
	opacity:0.8;
}

.fv_sharing_round_big .fvretweet a,
.fv_sharing_round_big .fvfacebook_add a,
.fv_sharing_round_big .fvfacebook_share a,
.fv_sharing_round_big .fvgoogleplusone a,
.fv_sharing_round_big .fvgoogleshare a,
.fv_sharing_round_big .fvlinkedin a,
.fv_sharing_round_big .fvstumbleuppon a,
.fv_sharing_round_big .fvpinterest_pinit a,
.fv_sharing_round_big .fvreddit a,
.fv_sharing_round_big .fvemail a,
.fv_sharing_round_big .fvfb_print a {
	width: 28px;
}


.fv_sharing_round_big span > span {
	line-height: 10px;
	float: none;
	text-align: center;
	display: block;
}


/* FV Cache services */
.fv_fblikebox { 
	/*border: 1px solid #AAAAAA; */
	background: #fff;
}
.fv_fblikebox_title { 
	padding: 8px 10px 7px 10px; 
	background-color: #EDEFF4; 
	border-bottom: 1px solid #C6CEDD; 
	color: #333333; 
	font-size: 13px; 
	font-weight: bold; 
	line-height: 14px; 
}
.fv_fblikebox_logo { 
	padding: 10px; 
	clear: both; 
}
.fv_fblikebox_logo img { 
	padding-right: 10px; 
	float: left; 
}
.fv_fblikebox_logo a { 
	color: #3B5998; 
	text-decoration: none; 
	font-size: 14px; 
	font-weight: bold; 
	line-height: 15px; 
	display: block; 
}
.fv_fblikebox_logo a.like { 
	padding: 0; 
	margin-top: 5px; 
	font-size: 10px; 
	display: inline-block; 
	width: 56px; 
	height: 23px; 
	background: url("images/f-like.png") top left no-repeat; 
}
.fv_fblikebox_logo a.like:hover {
	background-position: bottom left;
}
.fv_fblikebox_logo a.like span { 
	position: absolute; 
	left: -9999px; 
}
.fv_fblikebox_text { 
	margin: 0px 6px 0px 6px; 
	clear: both; 
	padding: 4px 2px; 
	border-top: 1px solid #D8DFEA; 
	font-size: 11px; 
	color: #333333; 
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif; 
	line-height: 13px; 
}
.fv_fblikebox_clear { 
	clear: both; 
}
.fv_fblikebox_items { 
	padding: 0 0 12px 8px;
}
.fv_fblikebox_items .grid_item { 
	padding: 0 5px 5px 0; 
	float: left; 
}
.fv_fblikebox_items .grid_item .name { 
	color: #808080; 
	font-size: 9px; 
	text-align: center; 
}
.fv_fblikebox_text .hidden_elem { 
	display: none; 
}


/* PROFILE LINKS //riso */

.pretty-social-profiles > div{
	display: block;
	float: left;
	width: 32px;
	margin: 0px 3px;
	position: relative;
}

.pretty-social-profiles > div > span{
	display: block;
	float: left;
	color: #444;
	width: 100%;
	text-align: center;
	font-size: 12px;
}
.pretty-social-profiles > div > a {
    background: url("images/social-sprite.png") no-repeat scroll 0 0 ;
    display: block;
    float: left;
    line-height: normal;
    padding: 0 0 2px;
    position: relative;
    z-index: 99;
}

.pretty-social-profiles ul.badge{
	list-style: none;
	display: block;
	background: #EEE;
	border: solid 1px #666;
	border-radius: 4px;
	padding: 10px;
	position: absolute;
	top: 40px;
	left: 0px;
	z-index: 199;
}
.sharing_invisible{
	left: -10000px !important;
}
.sharing_display_none{
	display: none !important;
}
.fb_iframe_widget iframe{
	position: relative !important;
}

/*** Blue plastic***/
.pretty-social-profiles.blue_plastic > div > a {
    background: url("images/social-sprite.png") no-repeat scroll 0 0 ;
    height: 32px;
    width: 32px;
}
.pretty-social-profiles.blue_plastic .google-profile a {
    background-position: 0 0;
}
.pretty-social-profiles.blue_plastic .youtube-profile a {
    background-position: 0 -39px;
}
.pretty-social-profiles.blue_plastic .fb-profile a {
    background-position: 0 -121px;
}
.pretty-social-profiles.blue_plastic .twitter-profile a {
    background-position: 0 -160px;
}
.pretty-social-profiles.blue_plastic .linkedin-profile a {
    background-position: 0 -80px;
}
.pretty-social-profiles.blue_plastic .feed-rss a {
    background-position: 0 -201px;
}


/*** Blue flat ***/
.pretty-social-profiles.blue_flat > div > span{
    width: 29px;
    color: #012d57;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pretty-social-profiles.blue_flat > div > a {
    background: url("images/social_blue_flat.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 29px;
    width: 29px;
}
.pretty-social-profiles.blue_flat .google-profile a{
    background-position: 0 -74px;
}
.pretty-social-profiles.blue_flat .twitter-profile a {
    background-position: 0 -37px;
}
.pretty-social-profiles.blue_flat .linkedin-profile a{
    background-position: 0 -111px;
}
.pretty-social-profiles.blue_flat .youtube-profile a{
    background-position: 0 -185px;
}
.pretty-social-profiles.blue_flat .feed-rss a  {
    background-position: 0 -148px;
}

/*** Grey ***/
.pretty-social-profiles.grey > div{
  	width: 29px;
}

.pretty-social-profiles.grey > div > span{
	font-size: 11px;
	color: #919191;
}

.pretty-social-profiles.grey > div > a {
	background: url("images/social_grey.png") no-repeat 0 0;
	width: 29px;
	height: 29px;
}

.pretty-social-profiles.grey  .google-profile a {
	background-position: -34px 0;
}

.pretty-social-profiles.grey .twitter-profile a {
	background-position: -68px 0;
}

.pretty-social-profiles.grey .linkedin-profile a {
	background-position: -102px 0;
}

.pretty-social-profiles.grey .youtube-profile a {
	background-position: -202px 0;
}

.pretty-social-profiles.grey .feed-rss a  {
	background-position: -136px 0;
}

.pretty-social-profiles.grey  .feedburner a {
	background-position: -169px 0;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
    #cboxTopLeft{width:14px; height:14px; background:url(images/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px}
    #cboxTopRight{width:14px; height:14px; background:url(images/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(images/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px}
    #cboxBottomRight{width:14px; height:43px; background:url(images/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(images/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(images/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        /*#cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}*/
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-28px; left:0; text-align:center; width:100%; font-size: 12px; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}
        

       
        
        
/* Media Queries */

@media screen and (min-width: 300px) and (max-width: 560px) {
	#cboxTitle {
		width: 56%;
		left: 100px;
		font-size: 10px;
		line-height: 1.2;
	}
}


/* Lightbox Styling */


#cboxMiddleLeft,
#cboxMiddleRight,
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomRight,
#cboxBottomCenter {
	background: #fff;	
}

#cboxSlideshow, 
#cboxClose {
	background-image: url("images/controls.png");
	background-repeat: no-repeat;
}

#cboxClose {
	background-image: url("images/closelabel.gif");
	background-position: center center;
	width: 66px;
}

#cboxClose:hover {
	background-position: center center;
}

#cboxMiddleLeft,
#cboxMiddleRight,
#cboxTopLeft,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomRight {
	width: 10px;	
}

#cboxTopCenter,
#cboxTopLeft,
#cboxTopRight {
	height: 10px;	
}

#cboxBottomLeft,
#cboxBottomRight,
#cboxBottomCenter {
	height: 38px;	
}

#cboxTitle,
#cboxCurrent {
	font-weight: normal;	
}

#cboxLoadedContent {
	position: relative;
	display: inline-block;
	z-index: 99998;
}

#cboxCurrent {
	left: 0;
}

#cboxPrevious,
#cboxNext {
	background: none;
	width: 25%;
	height: 60%;
	top: 20%;
	display: block;
	z-index: 99999;
}

#cboxPrevious {
	left: 0;
	background: url("images/prevlabel.gif") no-repeat -999em center;
}

#cboxNext {
	right: -1px;
	left: 75%;
	background: url("images/nextlabel.gif") no-repeat 999em center;
}

#cboxPrevious:hover {
	background-position: -4px center;
}

#cboxNext:hover {
	background-position: right center;
}