@charset "utf-8";

/*
=Index========
Layout
==============
*/
/*==============================================================
Layout
==============================================================*/

#wrapper{
position: relative;
min-width:950px;
}

#wrapper dl.errorText{
padding:10px;
margin: 10px;
text-align:center;
border:2px solid #ff0000;
background-color:#fff;
}

#wrapper dl.errorText dt{
margin-bottom:5px;
color:#ff0000;
font-weight:bold;
}

#wrapper dl.errorText dd{
font-size:85%;
}

#contents{
position:relative;
overflow:hidden;
}

.mainVisualWrapperBox{
height:650px;
position:relative;
}

.mainVisualWrapper{
position:absolute;
width:100%;
height:650px;
top:0;
}

.mainVisualWrapper.mv01{
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest01_bg_mv_01.jpg) no-repeat center top ;
z-index: 100;
}

.mainVisualWrapper.mv02{
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest01_bg_mv_02.jpg) no-repeat center top ;
z-index: 90;
}
.mainVisualWrapper.mv03{
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest01_bg_mv_03.jpg) no-repeat center top ;
z-index: 80;
}

.mainVisualInner {
position:relative;
width:950px;
height:650px;
margin:0 auto;
}

.mainVisualWrapper.mv01 .mvHeadTxt{
position:absolute;
width:229px;
height:46px;
left:5px;
top:85px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest01_img_headTxt_01.png) 0 0 no-repeat ;
text-indent:-9999px;
}

.mainVisualWrapper.mv01 .mvLeadTxt{
position:absolute;
width:295px;
height:50px;
left:5px;
top:170px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest01_img_leadTxt_01.png) 0 0 no-repeat ;
text-indent:-9999px;
}

.mainVisualWrapper.mv02 .mvHeadTxt{
position:absolute;
width:248px;
height:46px;
left:5px;
top:85px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest01_img_headTxt_02.png) 0 0 no-repeat ;
text-indent:-9999px;
}

.mainVisualWrapper.mv02 .mvLeadTxt{
position:absolute;
width:292px;
height:50px;
left:5px;
top:170px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest01_img_leadTxt_02.png) 0 0 no-repeat ;
text-indent:-9999px;
}

.mainVisualWrapper.mv03 .mvHeadTxt{
position:absolute;
width:248px;
height:46px;
left:5px;
top:85px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest01_img_headTxt_03.png) 0 0 no-repeat ;
text-indent:-9999px;
}

.mainVisualWrapper.mv03 .mvLeadTxt{
position:absolute;
width:292px;
height:50px;
left:5px;
top:170px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest01_img_leadTxt_03.png) 0 0 no-repeat ;
text-indent:-9999px;
}

#openTopWrapper {
position: relative;
width:950px;
height:150px;
margin:-150px auto 0;
z-index:200;
}

#openTopWrapper .openInfoTxt{
position: absolute;
right: 30px;
font-size: 120%;
bottom: 100px;
color: #fff;
}

#openTopWrapper .basicBtn{
position: absolute;
width: 360px;
padding: 20px 0 18px;
right: 90px;
bottom: 25px;
font-size:120%;
}

#openTopWrapper.logout .basicBtn{
position: absolute;
width: 360px;
padding: 20px 0 18px;
right: 90px;
bottom: 35px;
font-size:120%;
}

#openTopWrapper.logout .getYidLink{
position: absolute;
width: 360px;
right: 90px;
font-size: 85%;
text-align: center;
bottom: 5px;
text-decoration: underline;
color: #fff;
}

#geoInfoWrapper{
background:#393f47;
}
#geoInfoInner{
width:950px;
margin:0 auto;
}

#geoIntroWrapper{
float:left;
width:290px;
padding:20px 0;
margin-right:30px;
background:#2f343b;
}

#geoIntroWrapper .geoTtlTxt{
margin:0 0 10px 35px;
font-size:125%;
color:#cfd8e5;
}

#geoIntroWrapper .geoLeadTxt{
margin:0 0 10px 35px;
color:#98a3b2;
}

#geoIntroWrapper .socialButton {
margin-left:35px;
}

#geoIntroWrapper .socialButton ul li {
float: left;
display: inline-block;
line-height:1;
margin-right:10px;
}

#geoReccomendWrapper{
float:left;
}

#geoReccomendWrapper .geoReccomendHeadTxt {
margin: 20px 0 10px;
font-size:115%;
color:#dadfe5;
}

#geoReccomendWrapper #geoReccomendItemWrapper li{
float:left;
margin-left:20px;
}

#geoReccomendWrapper #geoReccomendItemWrapper li:first-child{
margin-left:0;
}

#geoReccomendWrapper #geoReccomendItemWrapper li a.geoReccomendItemLink{
display:block;
width:225px;
padding:5px 10px 10px 70px;
font-size:85%;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}

#geoReccomendWrapper #geoReccomendItemWrapper li.mystore a.geoReccomendItemLink{
background: url(../images/top_guest00_icon_mystore_01.png) 10px 10px no-repeat #393f47;
}

#geoReccomendWrapper #geoReccomendItemWrapper li.geoInfo a.geoReccomendItemLink{
background: url(../images/top_guest00_icon_info_01.png) 10px 10px no-repeat #393f47;
}

#geoReccomendWrapper #geoReccomendItemWrapper li a.geoReccomendItemLink:hover{
background-color:#525861;
}

#geoReccomendWrapper #geoReccomendItemWrapper li a.geoReccomendItemLink .geoReccomendItemHeadTxt{
color:#dadfe5;
}

#geoReccomendWrapper #geoReccomendItemWrapper li a.geoReccomendItemLink .geoReccomendItemLeadTxt{
color:#98a3b2;
}

#planInfoWrapper{
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_bg_planPtn_01.png) 0 0 repeat ;
}

#planInfoWrapper #planInfoInner{
width:950px;
padding:50px 0 20px 0;
margin:0 auto;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_bg_toPlanArrow_01.png) center 0 no-repeat ;
}

#planInfoWrapper #planInfoInner #planInfoHdrTxt{
width:950px;
height:32px;
margin:0 auto 25px;
text-indent:-9999px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_img_planTtl_01.png) center 0 no-repeat ;
}

#planInfoWrapper #planInfoInner #planInfoLeadTxt{
width:800px;
margin:0 auto 25px;
}

#planListWrapper {
position:relative;
width:855px;
height:555px;
margin:0 auto 10px;
}

#planListWrapper #planListItem,
#planListWrapper #plus,
#planListWrapper #light,
#planListWrapper #ybb,
#planListWrapper #free{
position:absolute;
}

#planListWrapper #planListItem{
left:0;
top:0;
}

#planListWrapper #plus{
left:180px;
top:0;
z-index:10;
}

#planListWrapper #light{
left:366px;
top:0;
z-index:5;
}


#planListWrapper #ybb{
left:529px;
top:0;
z-index:5;
}

#planListWrapper #free{
left:692px;
top:0;
z-index:5;
}

#planListWrapper #planListItem{
width:180px;
}

#planListWrapper #plus{
width:186px;
-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}


#planListWrapper #light,
#planListWrapper #ybb,
#planListWrapper #free{
width:163px;
}

#planListWrapper #planListItem .planName{
width:160px;
height:61px;
padding-left:20px;
margin-top:20px;
background: #d9d9d9 ;
line-height:61px;
}

#planListWrapper #plus .planName{
width:186px;
height:81px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_bg_plusTtl_01.png) 0 0 no-repeat ;
text-align:center;
line-height:91px;
font-size:135%;
}

#planListWrapper #light .planName,
#planListWrapper #ybb .planName,
#planListWrapper #free .planName{
width:162px;
height:61px;
margin-top:20px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_bg_othersTtl_01.png) 0 0 repeat-x ;
text-align:center;
line-height:66px;
font-size:115%;
color:#fff;
border-right:1px solid #9ca1a6;
}

#planListWrapper #free .planName{
width:163px;
border-right:none;
border-radius:0 2px 0 0 ;
-webkit-border-radius:0 2px 0 0 ;
-moz-border-radius:0 2px 0 0 ;
}

#planListWrapper .apply,
#planListWrapper .strageOp,
#planListWrapper .adOp,
#planListWrapper .sellOp,
#planListWrapper .domainOp,
#planListWrapper .mystoreOp,
#planListWrapper .cgiOp{
height:50px;
}

#planListWrapper .apply,
#planListWrapper .adOp,
#planListWrapper .domainOp,
#planListWrapper .cgiOp{
background:#fff;
}


#planListWrapper .strageOp,
#planListWrapper .sellOp,
#planListWrapper .mystoreOp{
background:#fafafa;
}

#planListWrapper #planListItem .price{
height:70px;
}

#planListWrapper #plus .price{
height:55px;
padding-top:15px;
background:#baab5d;
color:#fff;
font-size:125%;
font-weight:bold;
text-align:center;
}

#planListWrapper #light .price,
#planListWrapper #ybb .price,
#planListWrapper #free .price{
width:162px;
height:55px;
padding-top:15px;
background:#595e61;
color:#fff;
font-size:115%;
font-weight:bold;
text-align:center;
border-right:1px solid #9ca1a6;
}

#planListWrapper #free .price{
height:45px;
padding-top:25px;
}

#planListWrapper .price{
line-height:1.2;
}

#planListWrapper .price span.taxPrice{
font-size:70%;
font-weight:normal;
}

#planListWrapper .price span.copyTxt{
font-size:80%;
font-weight:normal;
}

#planListWrapper span.notesNumber{
font-size:60%;
vertical-align:top;
font-weight:normal;
}

#planListWrapper #planListItem .apply{
height:84px;
line-height:84px;
}

#planListWrapper #plus .apply{
height:84px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_bg_applyArrowPlus_01.png) center top no-repeat #fff;
}

#planListWrapper #plus .apply{
height:84px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_bg_applyArrowPlus_01.png) center top no-repeat #fff;
}

#planListWrapper #light .apply,
#planListWrapper #ybb .apply,
#planListWrapper #free .apply{
height:84px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_bg_applyArrowOther_01.png) center top no-repeat #fff;
}



#planListWrapper #planListItem .price,
#planListWrapper #planListItem .apply,
#planListWrapper #planListItem .strageOp,
#planListWrapper #planListItem .adOp,
#planListWrapper #planListItem .sellOp,
#planListWrapper #planListItem .domainOp,
#planListWrapper #planListItem .mystoreOp{
width:159px;
padding-left:20px;
line-height:50px;
border-left:1px solid #d9d9d9;
}


#planListWrapper #planListItem .apply{
line-height:84px;
}

#planListWrapper #planListItem .price{
line-height:70px;
}

#planListWrapper #planListItem .cgiOp{
width:179px;
padding-left:20px;
line-height:50px;
border-left:1px solid #d9d9d9;
border-bottom:1px solid #d9d9d9;
}

#planListWrapper #plus .strageOp{
font-size:125%;
font-weight:bold;
}

#planListWrapper #plus .apply,
#planListWrapper #plus .strageOp{
width:184px;
text-align:center;
border-right:1px solid #d9d9d9;
border-left:1px solid #d9d9d9;
}

#planListWrapper #plus .apply .chargeBtn{
width:144px;
padding:13px 0 11px;
margin-top:20px;
}

#planListWrapper #light .apply .chargeBtn,
#planListWrapper #light .apply .basicBtn,
#planListWrapper #light .apply .cancelBtn,
#planListWrapper #light .apply .outBtn,
#planListWrapper #ybb .apply .chargeBtn,
#planListWrapper #ybb .apply .basicBtn,
#planListWrapper #ybb .apply .cancelBtn,
#planListWrapper #ybb .apply .outBtn,
#planListWrapper #free .apply .chargeBtn,
#planListWrapper #free .apply .basicBtn,
#planListWrapper #free .apply .cancelBtn,
#planListWrapper #free .apply .outBtn{
width:129px;
padding:13px 0 11px;
margin-top:20px;
}


#planListWrapper #plus .adOp,
#planListWrapper #plus .sellOp,
#planListWrapper #plus .domainOp,
#planListWrapper #plus .mystoreOp,
#planListWrapper #plus .cgiOp{
width:184px;
border-right:1px solid #d9d9d9;
border-left:1px solid #d9d9d9;
text-indent:-9999px;
}

#planListWrapper #light .apply,
#planListWrapper #light .strageOp,
#planListWrapper #ybb .apply,
#planListWrapper #ybb .strageOp,
#planListWrapper #free .apply,
#planListWrapper #free .strageOp{
width:162px;
text-align:center;
border-right:1px solid #d9d9d9;
}

#planListWrapper #plus .strageOp,
#planListWrapper #light .strageOp,
#planListWrapper #ybb .strageOp,
#planListWrapper #free .strageOp{
line-height:50px;
}

#planListWrapper #light .adOp,
#planListWrapper #light .sellOp,
#planListWrapper #light .domainOp,
#planListWrapper #light .mystoreOp,
#planListWrapper #light .cgiOp,
#planListWrapper #ybb .adOp,
#planListWrapper #ybb .sellOp,
#planListWrapper #ybb .domainOp,
#planListWrapper #ybb .mystoreOp,
#planListWrapper #ybb .cgiOp,
#planListWrapper #free .adOp,
#planListWrapper #free .sellOp,
#planListWrapper #free .domainOp,
#planListWrapper #free .mystoreOp,
#planListWrapper #free .cgiOp{
text-indent:-9999px;
width:162px;
border-right:1px solid #d9d9d9;
}

#planListWrapper #light .cgiOp,
#planListWrapper #ybb .cgiOp,
#planListWrapper #free .cgiOp{
height:49px;
border-bottom:1px solid #d9d9d9;
}

#planListWrapper #plus .cgiOp{
height:69px;
border-bottom:1px solid #d9d9d9;
border-radius: 0 0 2px 2px;
-webkit-border-radius: 0 0 2px 2px;
-moz-border-radius: 0 0 2px 2px;
}

#planListWrapper #plus .adOp.on,
#planListWrapper #plus .sellOp.on,
#planListWrapper #plus .domainOp.on,
#planListWrapper #plus .mystoreOp.on{
background-image: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_icon_checkPlus_01.png) ;
background-position: center center;
background-repeat: no-repeat;
}

#planListWrapper #plus .cgiOp.on{
background-image: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_icon_checkPlus_01.png) ;
background-position: center 15px;
background-repeat: no-repeat;
}

#planListWrapper .adOp.on,
#planListWrapper .sellOp.on,
#planListWrapper .domainOp.on,
#planListWrapper .mystoreOp.on,
#planListWrapper .cgiOp.on{
background-image: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_icon_checkOther_01.png) ;
background-position: center center;
background-repeat: no-repeat;
}

#planListWrapper .adOp.off,
#planListWrapper .sellOp.off,
#planListWrapper .domainOp.off,
#planListWrapper .mystoreOp.off,
#planListWrapper .cgiOp.off{
background-image: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_icon_checkNone_01.png) ;
background-position: center center;
background-repeat: no-repeat;
}

#serviceInfoLink{
width:855px;
margin:0 auto;
text-align:right;

}

#serviceInfoLink .subInfoLink{
display:inline-block;
height:40px;
line-height:42px;
padding:0 30px 0 20px ;
margin:0 auto 10px;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/common_icon_arrowRightSmall_01.png) 96% 11px no-repeat #fff;
border-radius:20px;
-webkit-border-radius:20px;
-moz-border-radius:20px;
*display:inline;
*zoom:1;
}

#notesTxtWrapper{
width:855px;
margin:0 auto 10px;
}

#notesTxtWrapper li{
margin:0 0 5px 3em;
font-size:85%;
text-indent:-3em;
}

#notesTxtWrapper li .notesNumber{
margin-right:1em;
}

#openBtmWrapper{
background: #393f47;
background: url(http://i.yimg.jp/images/geo/contents/v1/images/top_guest00_bg_toBtmBtn_01.png) center top no-repeat #393f47;
border-bottom:4px solid #25292e;
}

#openBtmWrapper #openBtmInner{
width:950px;
padding:30px 0 20px;
margin:0 auto;
}


#openBtmWrapper .openBtmTxt{
text-align:center;
font-size:125%;
color:#dadfe5;
margin-bottom:10px;
}

#openBtmWrapper .openBtmBtn{
text-align:center;
}

#openBtmWrapper .openBtmBtn .basicBtn{
width: 360px;
padding: 20px 0 18px;
font-size: 120%;
}

#openBtmWrapper .getYidLink{
text-align: center;
margin-top:10px;
}

#openBtmWrapper .getYidLink a{
font-size: 85%;
text-decoration: underline;
color: #fff;
}