@charset "utf-8";

/*
=Index========
Layout
==============
*/
/*==============================================================
Layout
==============================================================*/

#wrapper{
position: relative;
}

#wrapper dl.errorText,
#wrapper dl.maintenanceText{
padding:10px;
margin: 10px;
border:2px solid #ff0000;
background-color:#fff;
}

#wrapper dl.errorText dt,
#wrapper dl.maintenanceText dt{
text-align:center;
margin-bottom:5px;
color:#ff0000;
font-weight:bold;
}

#wrapper dl.errorText dd,
#wrapper dl.maintenanceText dd{
font-size:85%;
}

img#contentsBg {
/* Set rules to fill background */
min-height: 100%;
min-width: 1024px;

/* Set up proportionate scaling */
width: 100%;
height: auto;

/* Set up positioning */
position: fixed;
top: 0;
left: 0;
}
		
@media screen and (max-width: 1024px){
	img#contentsBg {
		left: 50%;
		margin-left: -512px; }
}

a{
color:#0055ff;
text-decoration:none;
}

#footer{
width:100%;
background:#fff;
padding-top:30px;
}

#ultInfoModule{
width:950px;
margin:0 auto 20px;
text-align:left;
}

#adModuleBtm{
width:950px;
margin:30px auto 0 ;
}

/* radioBtn */

input[type='radio']{
filter: alpha(opacity=0);
-moz-opacity:0;
opacity:0;
position: absolute;
}

.radioWrapper,
.radioWrapper.checked{
background:url(http://i.yimg.jp/images/geo/contents/v1/images/common_icon_radiobtn_01.png) no-repeat;
}

.radioWrapper{
background-position:0 -44px ;
display: inline-block;
padding: 5px 0 5px 30px;
margin-right:20px;
vertical-align: middle;
cursor: pointer;
overflow: hidden;
*display: inline;
*zoom: 1;
}

.radioWrapper.checked{
background-position: 0 7px;
}

/* checkBox */

input[type='checkbox']{
filter: alpha(opacity=0);
-moz-opacity:0;
opacity:0;
position: absolute;
}

.chkbxWrapper{
background:url(http://i.yimg.jp/images/geo/contents/v1/images/common_icon_chkbox_01.png) 0 -47px no-repeat;
display: inline-block;
padding-left: 25px;
vertical-align: middle;
cursor: pointer;
overflow: hidden;
*display: inline;
*zoom: 1;
}

.chkbxWrapper.checked{
background-position:0 3px ;
}

/* btns */
.outBtn{
display: inline-block;
padding:10px 0 8px;
border: 1px solid #f2f2f2;
color:#808080;
background:#f2f2f2;
font-weight:normal;
line-height:1;
*line-height:1.2;
text-align:center;
text-decoration:none;
*display:inline;
*zoom:1;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
}

.cancelBtn{
width:300px;
display: inline-block;
padding:10px 0 8px;
border: 1px solid #d5dae0;
color:#595959;
font-weight:normal;
line-height:1;
*line-height:1.2;
text-align:center;
text-decoration:none;
cursor: pointer;
*display:inline;
*zoom:1;
background: #f7fafc; /* Old browsers */
background: -moz-linear-gradient(top,  #f7fafc 0%, #e9edf2 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top,  #f7fafc 0%,#e9edf2 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to bottom,  #f7fafc 0%,#e9edf2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fafc', endColorstr='#e9edf2',GradientType=0 ); /* IE6-9 */
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-webkit-box-shadow:inset 0 -1px 1px 0px rgba(0,0,0,0.1);
box-shadow:inset 0 -1px 1px 0px rgba(0,0,0,0.1);
}

.cancelBtn:hover{
background: #f7fafc;
}

.linkBtn{
width:300px;
display: inline-block;
padding:10px 0 8px;
color:#4c0000;
border: 1px solid #eddb13;
line-height:1;
*line-height:1.2;
text-align:center;
text-decoration:none;
cursor: pointer;
*display:inline;
*zoom:1;
background: #ffea80; /* Old browsers */
background: -moz-linear-gradient(top,  #ffea80 0%, #ffe14c 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top,  #ffea80 0%,#ffe14c 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to bottom,  #ffea80 0%,#ffe14c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea80', endColorstr='#ffe14c',GradientType=0 ); /* IE6-9 */
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-webkit-box-shadow:inset 0 -1px 1px 0px rgba(0,0,0,0.1);
box-shadow:inset 0 -1px 1px 0px rgba(0,0,0,0.1);
}

.linkBtn:hover{
background: #ffea80;
}

.basicBtn{
width:300px;
display: inline-block;
padding:10px 0 8px;
color:#fff;
border: 1px solid #1375ed;
line-height:1;
*line-height:1.2;
text-align:center;
text-decoration:none;
cursor: pointer;
*display:inline;
*zoom:1;
background: -moz-linear-gradient(top,  #3990fa 0%, #2b82ed 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top,  #3990fa 0%,#2b82ed 100%); /* Chrome10+,Safari5.1+ */
background: -ms-linear-gradient(top,  #3990fa 0%,#2b82ed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3990fa 0%,#2b82ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3990fa', endColorstr='#2b82ed',GradientType=0 ); /* IE6-9 */

border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-webkit-box-shadow:inset 0 -1px 1px 0px rgba(0,0,0,0.2);
box-shadow:inset 0 -1px 1px 0px rgba(0,0,0,0.2);
}

.basicBtn:hover{
border: 1px solid #3789ed;
background: #3990fa;
}

.chargeBtn{
width:300px;
display: inline-block;
padding:10px 0 8px;
color:#fff;
border: 1px solid #ff405c;
line-height:1;
*line-height:1.2;
text-align:center;
text-decoration:none;
cursor: pointer;
*display:inline;
*zoom:1;
background: -moz-linear-gradient(top,  #ff6975 0%, #ff5967 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top,  #ff6975 0%,#ff5967 100%); /* Chrome10+,Safari5.1+ */
background: -ms-linear-gradient(top,  #ff6975 0%,#ff5967 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff6975 0%,#ff5967 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6975', endColorstr='#ff5967',GradientType=0 ); /* IE6-9 */

border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-webkit-box-shadow:inset 0 -1px 1px 0px rgba(217,0,36,0.2);
box-shadow:inset 0 -1px 1px 0px rgba(217,0,36,0.2);
text-shadow: -1px -1px 0 #bf3e53;
}

.chargeBtn:hover{
border: 1px solid #ff264a;
background: #ff6975;
}

/* inputDecoration */

#searchDomain input[type="button"],#searchDomain input[type="submit"] {
-webkit-appearance: none;
}

#searchDomain input::-moz-placeholder {
color: #808080;
}

.questionsWrapper textarea::-moz-placeholder { 
color: #808080; 
}

.tipped {color: #b3b3b3;}

#contents #searchDomain input[type="text"]{
border:1px solid #a6a6a6;
padding:8px 5px 5px;
margin-right:10px;
background:#fff;
border-radius:2px;
-webkit-border-radius:2px;
-moz-border-radius:2px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

#contents .formError #searchDomain input[type="text"] {
background-color: #ffeded;
}

#contents #searchDomain input[type="text"]:focus {
background-color: #fffdeb;
}


/* textAreaDecoration */

.questionsWrapper textarea{
font-family:'qMmpS Pro W3','Hiragino Kaku Gothic Pro','CI',Meiryo,'lr oSVbN',sans-serif;
}

.questionsWrapper textarea{
width:480px;
border:1px solid #a6a6a6;
padding:8px 5px 5px;
margin-right:10px;
background:#fff;
border-radius:2px;
-webkit-border-radius:2px;
-moz-border-radius:2px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.questionsWrapper .formError textarea{
background-color: #ffeded;
}

.questionsWrapper textarea:focus {
background-color: #fffdeb;
}
