.dhx_combo_img{
	position:absolute;
	top:0px;
	right:0px;
	width:23px;
	height:21px;
}


.dhx_combo_option_img{
	position:relative;
	top:1px;
	margin-left:2px;
	left:0px;
	width:18px;
	height:18px;
}
.dhx_combo_input{
	color:#000000;
	background-color: transparent;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	border:0px;
	padding:3px 2px 2px 2px;
	position:absolute;
	top:0px;
	padding-left:7px;
	font-weight: bold;
	cursor: default;
}
.dhx_combo_box{
	position:relative;
	text-align:left;
	border:none;
	height:21px;
	_height:22px;
	overflow:hidden;
   background-color: transparent;
}

.dhx_combo_list{
   position:absolute;
   z-index:230;
   overflow-y:auto;
   overflow-x:hidden;
   border:1px solid black;
   height:160px;
   font-family: Verdana, sans-serif;
	font-size: 12px;
   background-color: #5e5e5e;
   color:white;
}


.dhx_combo_list div{
	cursor:default;
	padding:2px 2px 2px 2px;
}
.dhx_selected_option{
	background-color:navy;
	color:white;
}


.dhx_combo_img_rtl{
	position:absolute;
	top:0px;
	left:1px;
	width:17px;
	height:20px;
}
.dhx_combo_option_img_rtl{
	float:right;
	margin-right :0px;
	width:18px; height:18px;
}

.dhx_combo_list_rtl{
	direction: rtl;
	unicode-bidi : bidi-override;
   position:absolute;
   z-index:230;
   overflow-y:auto;
   overflow-x:hidden;
   border:1px solid black;
   height:100px;
   font-family: Arial;
   font-size: 9pt;
   background-color: white;
}
.dhx_combo_list_rtl div{
	direction: rtl;
	unicode-bidi : bidi-override;
	padding:2px 2px 2px 2px;
}
.dhx_combo_list_rtl div div{
	float :right !important;
	cursor:default;
	
}
.dhx_combo_list_rtl div img{
	float :right !important;
}
.dhx_combo_list_rtl div input{
	float :right !important;
}
