@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/l/font?kit=vvGPU5vEEH2slm31DQKab2SOUHwiSvbM-t80cQ9gV826Obgr55Vkdq8dWHzf1Rico1N3L7iqQIihMCBNs0Z5426pof1ayxXsTArZc4TqcdM&skey=11ce8ad5f54705ca&v=v15) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/l/font?kit=Cz85jSqyIjShCgKGNzuVHaMc2z3SecJ4mIP4cJh0JHIlDVtwWiDWhiSptYdXoExr6TMu0t-E2O7euEkpxJohTO2w0J-avqcUChVUvGkjwhk&skey=a0a0114a1dcab3ac&v=v15) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/l/font?kit=Y8Rv35GsLEv86YMg7xdxNGSOUHwiSvbM-t80cQ9gV826Obgr55Vkdq8dWHzf1Rico1N3L7iqQIihMCBNs0Z5426pof1ayxXsTArZc4TqcdM&skey=ee881451c540fdec&v=v15) format('truetype');
}
