 *,html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
 margin:0 auto;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 list-style:none;
 }

 body { 
   margin: 0 auto; 
   padding: 0px; 
   color: #000000; 
   font:bold 15px Arial; 
   direction:rtl; 
   background-color:none;
   overflow:hidden;
   }
a { 
  color: #000000; 
  text-decoration: none; 
  }
a:hover { 
color: #c60017; 
text-decoration: none; 
}
p { 
 margin: 0px; padding: 0; }
img { border: none; }

ul { margin: 0 auto;
 padding: 0; 
 }
ul li { 
margin: 0 auto; 
padding: 0;
}
html {
overflow-x: hidden;
}
.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.float_l { float: left; }
.float_r { float: right; }

.btn_more a { display: block; width: 82px; height: 22px; padding-top: 1px; color: #492545; text-align: center; text-decoration: none; background: url(images/btn_more.png) no-repeat; }
.btn_more a:hover { color: #fff; }

#templatemo_body_top { width: 100%; margin: 0 auto; }
#templatemo_body_bottom { 
      width: 100%; 
	  background-color:#fff;
	  margin: 0 auto;
	  }

#templatemo_wrapper { 
    width: 1000px; 
	margin: 0 auto;
    border:2px solid #ccc;
    box-shadow:0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	 }
	 
#templatemo_header { 
      height: 150px; 
	  width: 1000px; 
	  text-align: center;
	  background: #fff;
	  }
#site_title { padding-top: 10px; }
#site_title h1 { margin: 0; padding: 0; }
#site_title a { margin: 0px; padding: 0px; font:normal 40px arial, Arial; color: #371233; text-decoration: none; }
#site_title a strong { color: #fff; }
#site_title a span { display: block; font:normal 14px Arial,arial; color: #fff; font-weight: normal; margin-top: 10px; }
#site_title img { 
   border:none; 
   float:right;
   padding:0px 20px 0px 0px;
   }



#templatemo_menu {
 clear: both; 
 width: 1000px; 
 height:auto; 
 padding: 0px; 
 background-color: #FFFFFF;
 }

#templatemo_main_wrapper_01 { background: url(images/templatemo-content-top.png) no-repeat top; }
#templatemo_main_wrapper_02 { 
     padding-bottom: 0px; 
	 background:none; 
	 }
#templatemo_main_wrapper_03 { 
     width: 1000px;
	 margin: 0px auto;
	 background: #fff; 
	 }

#templatemo_main p { margin-bottom: 0px; }

#templatemo_main .right { width: 200px; margin: 0 auto; padding: 0; float:right; }
#templatemo_main .left { width: 200px; margin: 0 auto; padding: 0; float:left; }
#templatemo_main .center { width: 500px; margin: 0 auto; padding: 0; }

#templatemo_main .rightcategory {
     width: 300px; 
	 margin:0 auto; 
	 padding: 1px 0px 0 5px; 
	 float:left;
	 }
#templatemo_main .blockiframe {
	 border:2px solid #dddddd;
     width: 120px; 
	 margin:0 2px; 
	 padding: 0 0px 0 11px; 
	 float:right;
	 text-align:center;
	 }	 
#templatemo_main .leftcategory { 
      width: 685px; 
	  margin: 0; 
	  padding: 1px 0px 0px 5px;  
	  float:left; 
	  }

#templatemo_main .righthome1 { 
     width: 300px; 
	 margin: 0 auto; 
	 padding: 0 2px 0 0; 
	 float:right;
	 }
#templatemo_main .righthome2 {  
     width: 300px; 
	 margin: 2px auto; 
	 padding: 0 0px 0 5px; 
	 float:left;
	 }
#templatemo_main .lefthome { 
     width: 690px; 
	 margin: 2px auto;
     padding: 0px; 
	 float:left;

	 }


#templatemo_footer {
      clear: both; 
	  width: 1000px; 
	  text-align: center; 
	  color: #fff; 
	  margin: 0 auto;
	  background-color: #c60017; 
	  }
#templatemo_footer a { 
     color: #fff;
	 font: bold 16px Arial;
	 }
.fixNavigation{
	z-index: 9999;
	position: fixed; 
	top: 0; 
	width: 1000px; 	
} 
#navigation{ 
 height: 41px;
 }	
	 
.fotmil{
clear: both; 
width: 1000px; 
text-align: center;
}

.fott{
clear: both; 
width: 990px;
text-align: center;
}
.fott ul li  {
   padding:6px;
  display:inline;
  border-radius:5px;
  border:1px solid #fff;
 
}

.fott a:hover{
    text-decoration:none;
}

select,input,textarea { padding: 7px; margin: 3px; border:1px solid #e5e1e3; font: normal 12px Arial, sans-serif; color:#333333; background-color: #f8f7f7; }
input.button { margin: 0; font: normal 12px Arial; border: 1px solid #889BBC; background: #FFF; padding: 3px 2px; margin: 5px 0 3px 0;	color: #333; }

.xtable { width:100%; padding: 1px; font: normal 12px Arial, Sans-Serif; color: #333; border: 1px solid #e5e1e3; border-collapse: collapse; }
.xtr { border: 1px solid #e5e1e3; margin: 5px; padding: 5px; background-color: #f8f7f7; }
.xtr input.checkbox { float:right; border: none; margin-left: 5px; padding: 0px; }
.xtd { border: 1px solid #e5e1e3; margin: 5px;	padding: 5px; background: #FFF; text-align:right; }
.xtd span { font: normal 10px Arial, Sans-Serif; }
td:hover.xtd { background: #fff; }

/* start menu.htm */
.menu_x { 
     width: 300px; 
	 margin: 0 0 7px 0;
	 padding: 0;
	 }
.menu_x h1{ 
     
	background-color: #FFFFFF;
    border-bottom: 2px solid #C60017;
    font: bold 18px arial;
	color:#C60017;
    padding: 10px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
	overflow: hidden;
	text-align:center;
	box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	}
.menu_x div.text { 
      border-bottom-left-radius: 5px; 
	  border-bottom-right-radius: 5px;
	  font: normal 12px Arial; 
	  background-color:#fff; 
	  color: #505050; 
	  border-top:none;
	  margin: 0; 
	  padding: 3px; 
	  line-height:18px; 
	  box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	  }
.menu_x a {	color:#000000; font: bold 15px Arial, Sans-Serif; }
.menu_x a:hover { text-decoration: none; color:#C60017; }
.menu_x ul {
     clear: both; 
	 line-height: 1.7;
	 padding-bottom: 10px;
	 margin:0; 
	 }
.menu_x ul li { 
      list-style-type: none;
	  margin: 2px 2px 2px 2px;
	  }
.menu_x ul ul { margin: 0; padding: 0 0 1px 0; border-top: none; }
.menu_x ul ul li { border: none; margin-right: 15px; }
.menu_x select { width:185px; padding:5px; margin:0; }
/* end menu.htm */


/* start table.htm */
.menu_xt { margin: 0; padding: 0; }
.menu_xt h1{ 
	 background-color: #fff;
    border-bottom: 2px solid #C60017;
    font: bold 16px arial;
	color:#C60017;
    padding: 10px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
	overflow: hidden;
	box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	text-align:right;
	margin-top:2px;
	 }
.menu_xt h1 a{ color: #fff; }
.menu_xt a { color:#606060; font: normal 12px Arial, Sans-Serif; }
.menu_xt a:hover { 
  text-decoration: none; 
  color:#505050; 
  }

.menu_xt ul { 
    line-height: 1.7; 
	padding-bottom: 2px; 
	margin: 5px; 
	list-style-image: url(images/list.png);
	}
.menu_xt ul li { 
     list-style-type: none; 
	 margin: 5px 20px 5px 3px; 
	 }
.menu_xt ul ul { margin: 0; padding: 0 0 1px 0; border-top: none; }
.menu_xt ul ul li { border: none; margin-right: 15px; }


.divv { 
      border-bottom-left-radius: 5px; 
	  border-bottom-right-radius: 5px;
	  background-color:#fff; 
	  color: #000000; 
	  border-top:none;
	  margin: 0 0 7px 0;
	  padding: 10px; 
	  text-align:justify; 
	  font: bold 15px Arial; 
	  line-height:20px;
	  box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	  }

	
.divv ul li { 
    line-height: 1.7; 
	padding-bottom: 2px; 
	margin: 5px; 
	list-style-image: url(images/list.png);
	}	
.divv ul li a { 
	font:bold 15px arial;
    color:#000000;
	}	
	
.divv p{ 
       
	  color: #505050; 	   
	  text-align:center; 
	  font: bold 15px Arial; 
	  }
.divv p a{ 
       
	  color: #c60017; 	   
	  text-align:center; 
	  font: bold 15px Arial; 
	  }	  
.tt { text-decoration: none; font: normal 12px Arial; }

.detailsinfo { 
      padding: 0; 
	  margin: 0; 
	  text-align:center;

	  }
/* end table.htm */

/* Start News View */
.articles { 
       margin: 0px ; 
	   padding: 0px; 
	   border-bottom:1px dashed #c60017;
	   height:150px;
	   }
.articles h2 { 
       padding:9px 0 8px 0; 
	   margin: 0 0 3px 0;
	   font: bold 16px Arial; 
	   color: #080888;
	   }
.articles h2 a { 
       padding:9px 0 8px 0; 
	   margin: 0 0 3px 0; 
	   font: bold 16px Arial; 
	   color: #080888;
	   }
.articles a { 
       color: #c60017; 
	   font: bold 15px arial; 
	   }
.articles a:hover { 
       text-decoration: none; 
	   color:#ef1c1c; 
	   }
.articles div.text { 
       padding:0px; 
	   margin:0px; 
	   color: #000000; 
	   font: bold 15px arial ;
	   text-align:justify;
	   
	   }
	   
.articles div.text h2 {
  color:#333333;
  font-family:Arial;
  font-size:18px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:normal;
  margin:0 210px 3px 0;
  padding:9px 0 8px;
}	   
.articles div.details {
  font:bold 15px arial;
  padding:0 210px 0 0;
}	   
.articles div.info { 
       width:415px; 
	   padding:0 0 5px 0; 
	   margin-bottom:10px; 
	   color: #000000; 
	   font: bold 15px arial; 
	   }
.articles img.thumb { 
          width:200px; 
		  height:132px;
		  padding: 4px 0px 0px 0px;
		  margin:4px 0px 0px 0px;
		  border: none; 
		  float:right; 
		  }
.buttong {
cursor:pointer;
color: #C60017;
background: #CCCCCC;
border-radius:0px;
height:40px;
font:bold 16px arial;
text-align:center;
}
.buttong :hover{
color: #fff;
background: #c60017;
text-shadow:1px 1px 0 #c60017;
}

.news { margin: 0; padding: 0; }
.news h2 { padding:5px 0 10px 0; margin: 0 0 3px 0; font: bold 15px Arial; color: #C60017; }
.news p {
     font:bold 17px arial;
	 color:#000000;
	 width:100%;
	 padding:0;
	 margin: 0px 0px 5px 0px;
	 direction: rtl; 
	 line-height: 150%;
	 text-align: justify;
	 text-indent: 8px;
	 }

.news a { 
   color: #c60017; 
   font: bold 15px arial ;

   }
.news a:hover { text-decoration: none; color:#000000; }

.news div.text { 
   padding:5px; 
   margin:0; 
   color: #505050; 
   font: bold 15px  Arial; 
   line-height:22px; 
   text-align:justify; 
   }


.news div.info { 
	   padding:0 0 5px 0; 
	   margin:20px 0px 30px 0px; 
	   color: #000000; 
	   font: bold 17px Arial;
	   text-align:center;

	   }

.news div.image4details img {
  border:1px solid #CCCCCC;
  height:280px;
  width:500px;
  padding:6px;
}
.sourceimg{
  height:20px;
  width:450px;
  color:#fff;
  font:18px/15px Droid Arabic Kufi;
  position:absolute;
  top:664px; 
  margin-right:90px;
}
.new_fem_border {
      border:1px solid #dddddd; 
	  background-color:#f1f1f1;
	  width:120px;
	  }
.new_femme {
      width:110px;
	  padding: 1px; 
	  margin: 2px;
	  float:center; 
	  }
.new_femme h2 {padding-bottom: 5px;margin-top: 5px;text-align: center;}
.new_femme h2 a {font-family: "Simplified Arabic",arial,"Times New Roman",sans-serif; line-height: 130%; font-size: 15px;font-weight: bold; color: #040404; }
.new_femme h2 a :hover {color:#FFAC1F}
.new_femme img.image {
      width:110px; 
	  height:90px;
	  padding: 1px; 
	  margin:1px; 
	  border: none;
	  float:center;
	  }

.more{
     float:left;
	 padding-left:20px;
	 margin-top:-30px
	 }
.more a{
     color:red;
	 font-size:15px;
	 font-weight: bold;
	 }
.more :hover{
     color:#c60017;
	 
	 }	 
.mainspost {
     margin:3px;
	 width: 669px;
	 overflow: hidden;
	 text-align:justify;
	 }	 
.mainspost h3 {
     font: bold 14pt arial;
	 margin: 10px 0 0 0;
	 padding-right:10px
	 }
.mainspost p {
   font: bold 13pt arial; 
   color: #040404;	
   margin:0;
   line-height: 150%;
   text-align:justify;
	 }
.mainspost img {
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }
.mainspost:hover{
   background-color:#F0F0F0;
}	 
.boxx0 {

    padding: 0px ;
	width: 678px;
	border-radius:5px;
	overflow: hidden;
	box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	
}

.boxx0 h2 {
     font: bold 15pt arial;
     width:190px;
     text-align: center;
     padding: 10px 0px ;	
	 margin:0px;
    }
.boxx0 h2 a{
color: #c60017;  
}
.boxx0 h3 a{color: #c60017;}
.boxxx0 {
  border-top: 2px solid #c60017;
  
  }
.boxitbleu h2 {
     font: bold 15pt arial;
     background: #c60017;
     width:120px;
     text-align: center;
     padding: 3px 0;
	 color: #fff;
    }

.mainspost0 {
     margin:3px;
	 width: 537px;
	 overflow: hidden;
	 border-bottom: 1px dashed #c60017;
	 text-align:justify;

	 }
.mainspost0 h3 {
     font: bold 15pt arial;
	 margin: 10px 0 0 0;
	 padding-right:10px
	 }
.mainspost0 p {
    font: bold 13pt arial; 
   color: #040404;	
   margin:0;
   line-height: 150%;
   }
.mainspost0 img {
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }	 
.boxx1 {

     padding: 0px;
	 width: 678px;
	 overflow: hidden;
	 border-radius:5px;
	 margin-top:10px;
	 box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	 }

.boxx1 h2 {
     font: bold 15pt arial;
     width:190px;
     text-align: center;
     padding: 10px 30px 10px 0px;
	 display:inline-block;
	 text-align:center;
	 margin:0px;
    }
	
.boxx1 h2 a{color: #c60017;}
.boxx1 h3 a{
color: #000;
font:bold 15px arial;

}
.boxxx1 {
  border-top: 2px solid #c60017;
  
  }
.boxitred h2 {
     font: bold 15pt arial;
     background: #f01d1d;
     width:120px;
     text-align: center;
     padding: 3px 0;
	 color: #fff;
    }
.mainspost1 {
     margin:3px;
	 width: 218px;
	 overflow: hidden;
	 text-align:justify;
	 }
.mainspost1 h3 a:hover {
    color:#c60017;
	
	 }	 
.mainspost1 h3 {
     font: bold 15pt arial;
	 margin: 10px 0 0 0;
	 padding-right:10px
	 }
 
.mainspost1 p {
    font: bold 13pt arial; 
   color: #040404;	
   margin:0;
   line-height: 150%;
   }	
.mainspost1 img {
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }   
/* begin box slide */	 
.boxslide {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
  -moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	 
	 }
.boxslide h2 {
     font: bold 15pt arial;
     background: #09acb2;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxslide h2 a{color: #fff;}
.boslide {

}
/* end box slide */	 
.tube {
     padding: 0px;
	 width: 995px;
	 overflow: hidden;
	 border-radius:5px;
	 margin-top:10px;
	 box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
}
.boxx3 {
     padding: 0px;
	 width: 678px;
	 overflow: hidden;
	 border-radius:5px;
	 margin-top:10px;
	 box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	 }
.boxx3 h2 {
     font: bold 15pt arial;
     width:190px;
     text-align: center;
     padding: 10px 0;
	 margin:0px;
	 }
.boxx3 h2 a{color: #c60017}
.boxx3 h3 a{color: #c60017}
.boxxx3 {
	   border-top: 2px solid #c60017;
	  
	  }
.itemspost3 {
     float: right;
	 text-align:center;
	 width: 135px;
	 height:auto;
	 padding:12px;
	 margin:0px 3px 3px 3px;
	 cursor:pointer;
	 }
.itemspost3 img {
     
	 width: 135px;
	 height:90px;
	 
	 }	 
.itemspost3:hover {
     background-color: #F0F0F0;
	 }
.itemspost3 h3{
     margin-bottom: 5px;
	 margin-top: 5px;
	 text-align: center;
	 }
.itemspost3 h3 a{
      font: bold 15px arial; 
	  line-height: 130%; 
	  color:#000; 
	  }
	  
.boxx5{
     padding: 5px 0px 5px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx5 h2 {
     font: bold 15pt arial;
     background: #15446f;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0px;
	 }
.boxx5 h2 a{color:#fff;}
.boxx5 h3 a{color:#15446f;}
.boxxx5 {
     border:1px solid #15446f;
	 }
.mainspost5 {
     margin:3px;
	 width: 325px;
	 overflow: hidden;
	 
	 }	
 

.mainspost5 h3 {
     font: bold 11pt arial;
	 margin: 5px 0 0 0;
	 padding-right:100px;
	 }
.mainspost5 p {
     font: bold 15px arial;
	 margin:0;
	 line-height: 140%;
	 color: #040404;
	 padding-right:100px;
	text-align:justify;

	 }
.mainspost5 img {
     float: right;
	 width: 135px;
	 height:90px;
	 margin: 4px;
	 border: 0px solid #C5C5C5;
	 }	 
.itemspost5 {
     float: right;
	 text-align:center;
	 width: 120px;
	 height:auto;
	 padding:5px;
	 margin:0px 3px 3px 3px;
	 cursor:pointer;
 
	}
.itemspost5:hover {
     background-color: none;
	 }
.itemspost5 h3{
     margin-bottom: 5px;
	 margin-top: 5px;
	 text-align: center;
	 }
.itemspost5 h3 a{
      font: bold 15px arial; 
	  line-height: 130%; 
	  color:#000; 
	  }
.mainspost11 {
     margin:3px;
     width:667px;
	 overflow:hidden;
	 text-align:justify;
     border:1px dashed #999;
	 background-color: #F0F0F0;
	 }
	 
.mainspost11 h3 {
     font: bold 18px arial;
	 margin: 10px 0 0 0;
	 padding-right:210px;
	 text-align:justify;

	 }
.mainspost11 p {
     font: bold 16px arial;
	 margin:0;
	 line-height: 150%;
	 color: #040404;
	 }
.mainspost11 img {
     float: right;
	 border: 1px solid #C5C5C5;
	 margin:5px;
	 }

.boxx6 {
     padding: 0px;
	 width: 678px;
	 overflow: hidden;
	 border-radius:5px;
	 margin-top:10px;
	 box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	 }
.boxx6 h2 {
     font: bold 15pt arial;
     width:190px;
     text-align: center;
     padding: 10px 0px ;
	 margin:0px;
    }
.boxx6 h2 a{color: #c60017;}
.boxx6 h3 a{color: #000000;}
.boxx6 h3 a:hover{color: #c60017;}
.boxxx6 {
  border-top: 2px solid #c60017;
  
  }
.itemspost6 {
     float: right;
	 text-align:center;
	 width: 135px;
	 height:auto;
	 padding:12px;
	 margin:0px 3px 3px 3px;
	 cursor:pointer;
	 }
.itemspost6 img {
	 width: 135px;
	 height:90px; 
	 }	 
.itemspost6:hover {
     background-color: #c60017;
	 }
.itemspost6 h3{
     margin-bottom: 5px;
	 margin-top: 5px;
	 text-align: center;
	 }
.itemspost6 h3 a{
      font: bold 15px arial; 
	  line-height: 130%; 
	  color:#000; 
	  }	 
.itemspost6 h3 a:hover{
      font: bold 15px arial; 
	  line-height: 130%; 
	  color:#fff; 
	  }	  
.mainspost6 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 border-bottom:1px dashed #ddd;
	 }	
 
.mainspost6 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px
	 }

.mainspost6 img {
     width:100px;
     height:60px;
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }
	 
.boxx7 {
     padding: 0px;
	 width: 678px;
	 overflow: hidden;
	 border-radius:5px;
	 margin-top:10px;
	 box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	 }
.boxx7 h2 {
     font: bold 15pt arial;
     width:190px;
     text-align: center;
     padding: 10px 0px ;
	 margin:0px;
    }
.boxx7 h2 a{color: #c60017;}
.boxx7 h3 a{color: #000000;}
.boxx7 h3 a:hover{color: #c60017;}
.boxxx7 {
  border-top: 2px solid #c60017;
  
  }	  
.mainspost7 {
	 padding:0px ;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 border-bottom:1px dashed #ccc;
	 }	
 
	 
.mainspost7 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px
	 }

.mainspost7 img {
     width:100px;
     height:60px;
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }	
.mainspost77 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 }	
 
	 
.mainspost77 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px;
	 text-align:center;
	 }

.mainspost77 img {
     width:300px;
     height:200px;
     float: right;
	 margin: 9px 10px 9px 0px;
	 border: 1px solid #C5C5C5;
	 }	 
.mainspost77 p {
     font: bold 15px arial;
	 line-height: 150%;
	 text-align:justify;
	 padding:10px 10px 10px 0px;
	}
.boxx8 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx8 h2 {
     font: bold 15pt arial;
     background: #ec520e;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0px;
	 }
.boxx8 h2 a{color: #fff;}
.boxx8 h3 a{color: #ec520e;}
.boxxx8 {
	  border:1px solid #ec520e;
}
.mainspost8 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 }	
 
	 
.mainspost8 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px;
	 text-align:center;
	 }

.mainspost8 img {
     width:300px;
     height:200px;
     float: right;
	 margin: 9px 10px 9px 0px;
	 border: 1px solid #C5C5C5;
	 }
.box8ul ul li {
     width:300px;
	 margin: 10px 10px 10px 0px;
	 text-align:jutify;
	 font: bold 13pt arial;
	 line-height: 110%; 
	 }	
.morecat {
     width:300px;
	 text-align:center;
     margin: 10px 10px 10px 10px;
	 background: #ec520e;
	 border-radius:6px;
	 cursor:pointer;
}	
.morecat:hover {
     width:300px;
	 text-align:center;
     margin: 10px 10px 10px 10px;
	 background: #c60017;
	 border-radius:6px;
	 cursor:pointer;

}
.morecat a {
	 font: bold 15pt arial;
     color:#fff;
}

.boxx9 {
     padding: 0px;
	 width: 678px;
	 overflow: hidden;
	 border-radius:5px;
	 margin-top:10px;
	 box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-moz-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
-webkit-box-shadow: 0px 0px 1px 1px rgba(214, 210, 210, 0.5);
	 }
.boxx9 h2 {
     font: bold 15pt arial;
     width:190px;
     text-align: center;
     padding: 10px 0px ;
	 margin:0px;
    }
.boxx9 h2 a{color: #c60017;}
.boxx9 h3 a{color: #000000;}
.boxx9 h3 a:hover{color: #c60017;}
.boxxx9 {
  border-top: 2px solid #c60017;
  
  }
  
.itemspost9 {
     float: right;
	 text-align:center;
	 width: 135px;
	 height:auto;
	 padding:12px;
	 margin:0px 3px 3px 3px;
	 cursor:pointer;
	 }
.itemspost9 img {
     
	 width: 135px;
	 height:90px;
	 
	 }	 
.itemspost9:hover {
     background-color: #F0F0F0;
	 }
.itemspost9 h3{
     margin-bottom: 5px;
	 margin-top: 5px;
	 text-align: center;
	 }
.itemspost9 h3 a{
      font: bold 15px arial; 
	  line-height: 130%; 
	  color:#000; 
	  }	 
.mainspost9 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 border-bottom:1px dashed #ddd;
	 }	
 
	 
.mainspost9 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px
	 }

.mainspost9 img {
     width:100px;
     height:60px;
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }	
.boxx10 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx10 h2 {
     font: bold 15pt arial;
     background: #434543;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0px;

	 }
.boxx10 h2 a{color: #fff;}
.boxx10 h3 a{color: #434543;}
.boxxx10 {
	  border:1px solid #434543;
	  background-color:#949599;
	  
	  }	 
	  
	  




.boxx11 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx11 h2 {
     font: bold 15pt arial;
     background: #006D80;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
    margin:0px;

	 }
.boxx11 h2 a{color: #fff;}
.boxx11 h3 a{color: #006D80;}
.boxxx11 {
	  border:1px solid #006D80;
}
.mainspost111 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 }	
 
	 
.mainspost111 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px;
	 text-align:center;
	 }

.mainspost111 img {
     width:300px;
     height:200px;
     float: right;
	 margin: 9px 10px 9px 0px;
	 border: 1px solid #C5C5C5;
	 }
	
.morecat11 {
     width:300px;
	 text-align:center;
     margin: 10px 10px 10px 10px;
	 background: #006D80;
	 border-radius:6px;
	 cursor:pointer;
}	
.morecat11:hover {
     width:300px;
	 text-align:center;
     margin: 10px 10px 10px 10px;
	 background: #C9001A;
	 border-radius:6px;
	 cursor:pointer;

}
.morecat11 a {
	 font: bold 15pt arial;
     color:#fff;
}





	  
	  
.new_videos.play 	{
    background-image:url(images/play.png) no-repeat scroll 0pt ;
 
}	  
.new_videos {
      width:136px; 
	  height:145px; 
	  padding: 0; 
	  margin: 0px 4px 5px 4px;
	  float:right; 
	  }
.new_videos:hover {
     background-color: none;
}
.new_videos h2 {
    
	 text-align: center;
	 }
.new_videos h2 a {
      font: bold 15px arial; 
	  line-height: 130%; 
	  color: #040404; 
	  }
.new_videos img.image {
  
      height:90px;
      width:135px;
	  padding: 0px; 
	  border: none;
	  }
.new_videos img.play {
  
      height:40px;
      width:50px;
	  border: none;
      margin:-70px 50px 30px;
     padding:0px;
	  }	 

.new_videos img.play2 {
  
      height:77px;
      width:77px;
	  border: none;
      margin:-89px 35px 12px;
     padding:0px;
	 opacity:0.4;
     filter:alpha(opacity=40);

	  }	
.new_videos img.play2:hover {
	 opacity:1.0;
     filter:alpha(opacity=100)
	  }	  
.sidebarr {
     min-height: 70px;
	 font: bold 15px Arial; 
	 border: 1px solid #ccc;
	 list-style-type: none;
	 padding:1px;
	 text-align:justify;
     margin:0 auto;
	 width:285px;	
	 }
.sidebarr img {
      float: right; 
	  padding-left:8px;
	  }	  

.sidebarr.link {
     padding-right:10px;
	 }
.link img {
    float:right;
   margin:1px 1px 2px 2px;
	 }	 
	 
.sidebarr2 {
     min-height: 80px;
	 font: bold 15px Arial; 
	 border: 1px solid #999999;
	 background-color:#f0f0f0;
	 list-style-type: none;
	 padding:2px 4px 0px 0px;
	 text-align:justify;
	 width:282px;
	 }
.sidebarr2 img {
      float: right; 
	  padding-left:8px;
	  }

.sidebarr2.link {
     padding-right:10px;
	 }
 
	 
.fb-like {
	margin:0px 130px 2px 0px;
	padding:2px;
	text-align:center;
}
	  
/* End News View */

/* Start comment */
.box { 
     margin:10px 0 0 0; 
	 padding:10px 0 10px 0; 
	 background-color: #FFF; 
	 border:none; 
	 text-align:center; 
	 }
.box h2 { margin:0; padding:3px 5px 10px 0; font: bold 20px arial; }
.box input.xxx { 
     padding: 6px; 
	 margin: 4px; 
	 border:1px solid #c60017; 
	 width:400px; 
	 font: bold 15px Arial; 
	border-radius:6px;
	background-color:#fff;

	 }
.box textarea { 
       padding: 6px; 
	   margin: 4px; 
	   border:1px solid #c60017;
	   width:400px; 
	   font: bold 15px Arial;
	   border-radius:6px;
	   	background-color:#fff;

	   }
.box input.bbb { 
     padding: 6px;
	 margin: 4px; 
	 width:60px; 
	 border:1px solid #c60017;
	 font: bold 15px Arial; 
	 background-color: #FFF; 
	 }
	 .box input.bbb:hover { 
	 border:1px solid #c60017;
	 font: bold 15px Arial;
     color:#fff;	 
	 background-color: #c60017; 
	 }
.box input.sss { 
     padding: 6px;
	 margin: 4px ; 
	 border:1px solid #c60017; 
	 width:90px; 
	 font: bold 15px Arial;
	 background-color:#fff;

	 }

.comment { 
    font: bold 15px Arial; 
	color: #000000; 
	margin: 0;
	padding: 10px 0 0 0; 
	line-height:21px; 

	}
.comment h2 { margin:0; padding:10px 0 15px 0; font: bold 20px arial; text-align:center;}
.commenttext { 
     border:1px solid #00C4AA;
	 margin: 0 0 15px 0; 
	 padding: 0px; 
	 border-radius:5px;
	overflow: hidden;
	}
.commenttext h3 { 
      border-bottom:1px solid #00C4AA; 
	  height:32px; 
	  font: bold 14px Arial;
	  color: #000000; 
	  padding:4px;
	  margin: 0px; 
	  
	  }
.commenttext h3 span { padding:0 50px; margin:0; line-height:30px; }
.commenttext span.num {
    padding:0px; 
    color:red; 
    margin:0px; 
   width:1px;
   height:32px;
    position:absolute;
 }
 .commenttext span.num { padding:0 20px; color:red; margin:0px; line-height:30px; position:absolute; }

.commenttext span.date { float:left; font: bold 13px Arial; padding:5px 0 0 0; margin:0; }
.commenttext div { 
       color: #000000; 
	   padding:10px; 
	   margin:4px;
	   text-align:justify;
	   }


.reply { 
	 
	 border-radius:6px;
	 margin: 0px 20px 8px 20px; 
	 padding: 0; 
	 border:1px solid #c60017;
	 }
.reply h3 { 
      border-bottom:1px dashed #c60017; 
	  height:32px; 
	  font: bold 14px Arial;
	  color: #000000; 
	  padding:4px;
	 margin: 3px; 
	  
	  }
.reply h3 span { padding:0 50px; margin:0; line-height:30px; }
.reply span.num {
    padding:0px; 
    margin:0px; 
    border-radius:100%;
   width:1px;
   height:32px;
    position:absolute;
 }
 .reply span.num { padding:0 20px; color:#c60017; margin:0px; line-height:30px; position:absolute; }

.reply span.date { float:left; font: bold 13px Arial; padding:5px 0 0 0; margin:0; }
.reply div { 
       color: #000000; 
	   padding:10px; 
	   margin:0;
	   text-align:justify;
	   }
/* End comment */

/* start contact.php */
#contact { 
      margin:0px; 
	  padding:0px; 
	  color:#000000; 
	  text-align:center;
	  }
#contact input.txt { 
       padding: 7px; 
	   margin: 0px; 
	   margin-bottom:15px; 
	   border:1px solid #c60017;
	   border-radius:6px;
	   width:400px; 
	   font:bold 15px arial;
	  	background-color:#fff;
	   

	   }
#contact textarea.txt { 
       padding: 7px; 
	   margin: 0px 0px 6px 0px; 
	   border:1px solid #c60017;
	   font:bold 15px arial;	   
	   border-radius:6px;	   
	   width:400px;
	   background-color:#fff;
	   
	   }
#contact input.sec { 
        padding: 6px; 
		margin: 10px 0px 40px 0px;
		border:1px solid #c60017;
		font:bold 15px arial;	   
		background-color: #FFF;
		}
#contact input.send { 
       padding: 6px; 
	   margin: 4px 8px;
	   border:1px solid #c60017;
       font:bold 15px arial;	   
	   background-color: #FFF; 
	   }
#contact input.send:hover{ 
       padding: 6px; 
	   margin: 4px 8px;
	   border:1px solid #c60017;
       font:bold 15px arial;	   
	   background-color: #c60017;
       color:#fff;	   
	   }	   
/* end contact.php */

/* Start pagination */
div.pagination { 
      padding: 30px;
	  margin: 30px; 
	  text-align:center;
	  padding-bottom:10px;
	  padding-top:10px; 
	  direction:rtl;
	  margin-top:-50px;
	  }
div.pagination a { 
  background:#fff;
  border-radius:50%;
  cursor:pointer;
  display:inline-block;
  height:13px;
  margin:2px;
  position:relative;
  width:8px;
  border:2px solid #ccc;
}
	  
div.pagination a:hover, div.pagination a:active { 
       
  background:#c60017;
  border-radius:50%;
  cursor:pointer;
  display:inline-block;
  height:13px;
  margin:2px;
  position:relative;
  width:8px;
  border:2px solid #ccc;
	   }
div.pagination span.current { 
  background:#c60017;
  border-radius:50%;
  cursor:pointer;
  display:inline-block;
  height:13px;
  margin:2px;
  position:relative;
  width:8px;
  border:2px solid #ccc;
	   }
div.pagination span.disabled { 
  background:#fff;
  border-radius:50%;
  cursor:pointer;
  display:inline-block;
  height:13px;
  margin:2px;
  position:relative;
  width:8px;
  border:2px solid #ccc; 
	  }
/* End pagination */

/* Rating Start */
.hover {
    width:32px; 
	height:32px; 
	background: url('img/star.png');
	z-index: 1000;
	}
.rating_v { 
    display: block;	
	margin: 10px 0 5px 0;
	position:relative; 
	left:0; 
	top:2px; 
	line-height:20px; 
	text-align:center;
	font: bold 16px arial; 
	color:#000000; 


	}
.rating_v img { 
      width:32px; 
	  height:32px; 
	  }
.rating_v span { 
    cursor: pointer; 
	width:32px;
	}

.rating_ok { 
    font: bold 16px arial; 
	color: #c60017; 
	text-align:center; 
	}
.rating_error {	
   font: bold 16px arial; 
   color: #F01D1D; 
   text-align:center; 
   }
.error {
  text-align:center;
  padding:100px;
  color: #c60017; 

}
/* Rating End */

/* Start Add Post */
.add { margin: 0; padding-bottom:8px; padding-top:8px; text-align:center; }
.add img { border:none; }
.formadd { margin: 0; padding-bottom:8px; font: normal 12px Arial; text-align:right; }
/* End Add Post */

/* Start BBCODE Editor */
.button { border: 1px solid #e5e1e3; margin: 1px; padding: 2px; }
.button:hover { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); -moz-opacity: 0.6; }
/* End BBCODE Editor */

/* Start Poll */
.poll { 
    margin: 0;  
	padding-bottom:2px;
	text-align:right; 
	
	}
.poll p.d1 { 
   margin: 5px 0px; 
   padding:5px; 
   font: bold 15px Arial;
  color:#040404;
  border:1px solid #e4e4e4;
  background:#f2f2f2;
   }
.poll img { border: none; height:10px; }
.poll input { 
   border:none;
   padding:10px;
   margin:5px;
   font: bold 17px Arial;
   color:#fff;
   background-color:transparent;

   }
 
.pollsub {
   text-align:center;
   border-radius:5px;  
   background-color:#c60017;
   margin-top:10px;
   width:294px;
   height:50px;

}  
.pollsub:hover{
  text-align:center;
   border-radius:5px;  
  background-color:#00698C;
} 
   
.polltitle { 
  font: bold 15px Arial;
  color:#C9001A;
   margin: 0;  
   padding:10px 0px 10px 0px; 
   text-align:center; 
   }
/* End Poll */

.codx {	direction: ltr; text-align: left; border: 1px solid #551507; margin: 0; padding: 5px; background-color: #FCFEF4; display: block; overflow: auto; font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace; }
.quote { border: 1px solid #551507; margin: 0; padding: 5px; background-color: #FCFEF4; }

/* Start text sections */
.sectiontext { 
     padding:0; 
	 margin:0; 
}
.sectiontext .readmorelink { margin:0; text-align:center;  padding:5px 0 10px 0; }
.sectiontext .readmorelink h4 a { color: #505050; font: bold 20px arial, Arial; }
/* End text sections */

/* Start search form */
#search { margin:0; padding:10px; text-align:center; }
#search input.textinput { 
    width:170px; 
	padding: 4px; 
	margin: 0 0 10px 0; 
	border:1px solid #c60017;
	font: bold 15px Arial; 
	color:#000000;
	background-color:#fff;
	}
#search input.submit { 
      width:32px; 
	  height:32px; 
	  padding: 0; 
	  margin: 0; 
	  border:0px solid #cccccc;
	  font: normal 12px Arial; 
	  color:#000000; 
	  background: url(images/search.png) no-repeat;
	  cursor:pointer;
	  }
/* End search form */

.iconstypefile {border:none; }
.searchlinks { margin:0; text-align:center; padding:5px 0 15px 0; }
.searchlinks span { color:red; }


/* news ticker */

.news_title a{
  cursor: pointer;
  text-decoration: none;
  font:bold 16px arial;
  float:right;
  color:#000;
  margin:0px 10px 0px 0px;
}
.news_title a:hover{
  
  color:#c60017;
  
}

.hotnews a{
  cursor: pointer;
  text-decoration: none;
  font:bold 18px arial;
  float:right;
  color:#F01D1D;
  margin:0px 10px 0px 0px;
}
/* end news ticker */
/* footer */

/* comment vote */
#header-ad {
display:block;
float:left;
width:728px;
height:90px;
margin:30px 0 0 20px;
border:none;
}
.entry {
	width: 150px;
	-moz-border-radius:8px;
	text-align:left;
}

.entry span{
    font:bold 14px arial;
	color:#c60017;
	margin:0px 0px 0px -20px;
}

span.link a {
	font-size:150%;
	color: #000000;
	text-decoration:none;
}

a.vote_up, a.vote_down {
	display: block;
	float: left;	
	background: #fff;
	text-decoration: none;
	background-image: url(img/sprite.png);
	background-repeat: no-repeat;
	font-weight: bold;
	margin-top:0px;
}

a.vote_up {
	background-repeat: no-repeat;
	background-position: 0 0;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	border-left: solid 1px #aaa;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	padding: 3px 10px 0 35px;
	height: 21px;
	font:bold 14px arial;
	color:#c60017;
}

a.vote_down {
	background-position: 0 -48px;
	border: solid 1px #aaa;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 3px 10px 0 35px;
	height: 21px;
	font:bold 14px arial;
	color:#c60017;
}
a.vote_up:hover, a.vote_up.active {
	background-position: 0 -24px;
}
a.vote_down:hover,a.vote_down.active {
	background-position: 0 -72px;
}

/* end comment vote */



#ayoub_press {

width:100%;
position:relative; 
z-index:100;
}


#like, #dislike {
cursor: pointer;
direction:rt;
}

.centrer_site {
	 margin:auto;
   padding:auto;
}

/*    box comment */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


.content {
   width:100%;
   overflow:hidden;
   position: relative;
}
.habillageright {
   overflow: hidden; 
   position: absolute; 
   right:-8px; 
   top: 0px; 
   width: 135px; 
   height: 3000px;
   z-index:2;
   border: 3px solid #000000;
}

.habillageleft {
   border: 3px solid #000000;

   overflow: hidden; 
   position: absolute; 
   left:-8px; 
   top: 0px; 
   width: 135px; 
   height: 3000px;
   z-index:2;
}


#templatemo_footer_wrapper {
 height:200px;
width:1000px;
padding:0px;
margin:0px auto;
background-color: #3E3E3E ;
font:bold 16px arial;
clear:both;
	  }
#templatemo_footer {
	 padding:0px;
	 border-top:1px solid #ABABAB;
	 border-bottom:1px solid #ABABAB;
	 }
.footer_item,
.footer_item a,
.footer_item a:link,
.footer_item a:visited,
.footer_item a:active{
    font: bold 15px arial;
    color:#F1F1F1;
    padding-right:10px;
    text-decoration:none;
    text-align:right;
}
.footer_item a:hover{
    text-decoration:underline;
    text-align:right;
}
.footer_item  li{
    margin:0px;
    padding-bottom:2px;
    padding-right:10px;
    color:#1C5101;
    font: bold 15px arial;
    background-image: url(images/bulits.jpg);
    background-repeat:no-repeat;
    background-position:100% 8px;
	list-style-type:none;
}	 
.footer_vline {
    border-right: 1px dashed #7B7B7B;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
}
.cleaner { 
clear: both;
 width: 100%;
 height: 0px; 
 font-size: 0px;
 }
 
.ptitle{
 height:41px;
 padding:0px 11px;  
 float:right;
 background:#c60017;
 border-radius:37px 2px 2px 0px;
 width:135px;
 color:#fff;
 font:bold 17px/40px arial;

 }
 #last-topics{
border-radius:2px;
 width:985px;
height:41px;
margin:6px auto 8px auto;
padding:0;  
background:#fff;
-webkit-box-shadow:0 0 5px rgba(0,0,0,0.1);
-moz-box-shadow:0 0 5px rgba(0,0,0,0.1);
box-shadow:0 0 5px rgba(0,0,0,0.1)
 }
 
 .post-tools{
overflow:hidden;
padding:5px;
border-top:1px dashed #ddd;
border-bottom:1px dashed #ddd;
margin-bottom:10px;
height:30px;
text-align:center;
}





.block_3_bit_odd{
background-color:#fafafa;
border-top-width:0px;
border-top-style:solid;
border-top-color:#f4f4f4;
border-right-width:0px;
border-right-style:solid;
border-right-color:#f4f4f4;
border-bottom-width:0px;
border-bottom-style:solid;
border-bottom-color:#f4f4f4;
border-left-width:0px;
border-left-style:solid;
border-left-color:#f4f4f4;
float:right;display:block;
margin-bottom:3px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
border-radius:0px
}

.block_3_bit_odd:hover{
}

.block_3_container .bit_frame{
width:159px;
margin:3px;
padding:4px
}

.block_3_container .btitle{
padding:2px;
height:68px;
font-family:"Tahoma";
font-size:12px;
font-weight:normal;
text-align:center;
line-height:1.3
}
.block_3_container .bcontent{
padding:0px;
font-family:"Tahoma";
font-size:6px;
font-weight:bold;
text-align:right;
line-height:0.5
}

.block_3_container img{
padding:1px;margin:0px;
border-width:1px;
}

.block_3_container img.first{
padding:0px;
margin:0px;
border-width:0px;
border-color:transparent;
border-style:none
}

.block_3_bit_odd:hover{
background-color:#c60017
}

.block_3_bit_odd .btitle a{
color:#111111;
font:bold 16px arial;
}

.block_3_bit_odd .btitle a:hover{
color:#FFFFFF
}

.block_3_bit_odd .bcontent{
color:transparent
}

.block_3_bit_odd .bcontent:hover{
color:transparent
}

.block_3_bit_odd:hover .btitle a{
color:#FFFFFF
}

.block_3_bit_odd:hover .bcontent{
color:transparent
}


/*------- block_80 -------*/

.block_80_bit_odd{
background-color:#fafafa;
border-top-width:0px;
border-top-style:solid;
border-top-color:#f4f4f4;
border-right-width:0px;
border-right-style:solid;
border-right-color:#f4f4f4;
border-bottom-width:0px;
border-bottom-style:solid;
border-bottom-color:#f4f4f4;
border-left-width:0px;
border-left-style:solid;
border-left-color:#f4f4f4;
margin-bottom:3px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
border-radius:0px
}

.block_80_bit_odd:hover{}
.block_80_bit_even{
background-color:transparent;
border-top-width:0px;
border-top-style:none;
border-top-color:transparent;
border-right-width:0px;
border-right-style:none;
border-right-color:transparent;
border-bottom-width:0px;
border-bottom-style:none;
border-bottom-color:transparent;
border-left-width:0px;
border-left-style:none;
border-left-color:transparent
}

.block_80_container .bit_frame{
width:305px;
margin:0px;
padding:0px;
}

.block_80_container .btitle{
padding:2px;
font-family:"Tahoma";
font-size:12px;
font-weight:normal;
text-align:right;
line-height:1.3
}

.block_80_container .bcontent{
padding:0px;
font-family:"Tahoma";
font-size:6px;
font-weight:bold;
text-align:right;
line-height:0.5
}

.block_80_container img{
padding:1px;
margin:4px;
border-width:1px;
border-radius:0px
}

.block_80_container img.first{
padding:0px;
margin:0px;
border-width:0px;
border-color:transparent;
border-style:none;
}

.block_80_bit_odd:hover{
background-color:#c60017
}

.block_80_bit_odd .btitle a{
color:#111111;
font:bold 16px arial;

}

.block_80_bit_odd .btitle a:hover{
color:#FFFFFF;
}

.block_80_bit_odd .bcontent{
color:transparent
}

.block_80_bit_odd .bcontent:hover{
color:transparent
}

.block_80_bit_odd:hover .btitle a{
color:#FFFFFF
}

.block_80_bit_odd:hover .bcontent{
color:transparent
}

.block_85_bit_odd{
background-color:transparent;
border-top-width:0px;
border-top-style:none;
border-top-color:transparent;
border-right-width:0px;
border-right-style:none;
border-right-color:transparent;
border-bottom-width:0px;
border-bottom-style:none;
border-bottom-color:transparent;
border-left-width:0px;
border-left-style:none;
border-left-color:transparent
}

/* -----------  block_1_container ---------- */

.block_1_container{}
.block_1_bit_odd{
background-color:#fafafa;
border-top-width:0px;
border-top-style:solid;
border-top-color:#f4f4f4;
border-right-width:0px;
border-right-style:solid;
border-right-color:#f4f4f4;
border-bottom-width:0px;
border-bottom-style:solid;
border-bottom-color:#f4f4f4;
border-left-width:0px;
border-left-style:solid;
border-left-color:#f4f4f4;
float:right;
display:block;
margin-bottom:3px;
border-radius:0px
}
.block_1_bit_even:hover{
}
.block_1_container .bit_frame{
width:161px;
height:160px;
margin:3px;
padding:0px
}
.block_1_container .btitle{
height:50px;
font:bold 12px arial;
text-align:center;
line-height:1.3;
padding:5px
}
.block_1_container .bcontent{
padding:0px;
font-family:"Tahoma";
font-size:6px; 
text-align:right;
line-height:0.5
}
.block_1_container img{
padding:0px;
margin:0px;
border-width:0px;
border-radius:0px 0px 0 0
}
.block_1_container img.first{
padding:0px;
margin:0px;
border-width:0px;
border-color:transparent;
border-style:none
}
.block_1_container .last_bit_frame{
}
.block_1_bit_odd:hover{
background-color:#c60017
} 
.block_1_bit_odd .btitle a{ 
color:#111111;
font:bold 16px arial;

}
.block_1_bit_odd .btitle a:hover{
color:#fff
}
.block_1_bit_odd .bcontent{
color:transparent
}
.block_1_bit_odd .bcontent:hover{
color:transparent
}
.block_1_bit_odd:hover .btitle a{
color:#fff;

}
.block_1_bit_odd:hover .bcontent{
color:transparent
}

.post-box{
overflow:hidden;
font:bold 14px arial;
padding:11px 0;
border-top:1px dashed #ddd;
border-bottom:1px dashed #ddd;
margin-bottom:10px;
height:20px;
} 
.post-source{
overflow:hidden;
font:bold 14px arial;
padding:11px 0;
border-top:1px dashed #ddd;
border-bottom:1px dashed #ddd;
margin-bottom:10px;
margin-top:10px;
height:20px;
color:#C60017;
}
.post-tools{
overflow:hidden;
padding:5px;
border-top:1px dashed #ddd;
border-bottom:1px dashed #ddd;
margin-bottom:10px;
height:30px;
text-align:center;
} 
.post-tools span{
font:bold 16px arial;
float:right;
color:#C60017;
padding:5px;
}
#articletitle{
width:90%;
text-align:center;
color:#C60017;
font: bold 16px arial;
margin-bottom:10px;
padding:11px 0;
margin-right:29px
}
/* -----------  newstab ---------- */
#newstab {
margin-top:10px;
}
#newstab .newstab-inside{
background:#fff;
overflow:hidden;
border-top:0px solid #c60017; 
border-top-left-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
-webkit-box-shadow:0 0 5px rgba(0,0,0,0.1);
-moz-box-shadow:0 0 5px rgba(0,0,0,0.1);
box-shadow:0 0 5px rgba(0,0,0,0.1);
padding:5px;
width:670px;

}
#newstab ul.idTabs{
overflow:hidden;
height:40px;
line-height:40px
}
#newstab ul.idTabs li{
float:right;
font-family:'Droid Arabic Kufi Bold';
font-size:13px;
font-weight:bold;
border-top-left-radius:3px;
border-top-right-radius:3px
}
#newstab ul.idTabs li a{
float:right;
margin:5px 5px 0 0;
height:35px;
color:#FFF; 
padding:0 8px 0 8px;
min-width:15%;
background:#c60017;
border-top-left-radius:3px;
border-top-right-radius:3px; 
cursor:default;
text-align:center;font:bold 17px/36px arial;
}
/* end tab */
/*  video slider ****/
 .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av
            {
                background: url(images/b03.png) no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb03 div { background-position: -5px -4px; }
            .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
            .jssorb03 .av { background-position: -65px -4px; }
            .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
			
.closeButton { 
background-image: url(images/close.png); }
.closeButton:hover { background-position: -30px 0px; }	
	/*  end slider ****/
	
/* slider home page */


.pagination a {
    color: #FFF;
    font: bold 0px arial;
    padding: 5px 5px 0;
    text-decoration: none;
}
.pagination a:hover {
    background-color: #0084b4;
    color: #ffffff;
}
.pagination a.selected {
    background-color: #c60017;
    color: #ffffff;
}
.contentdiv img {
    border: 1px solid #dddddd;
    height: 300px;
    padding: 2px;
    width: 537px;
}
.contentdiv p {
    color: #303030;
    font: bold 17px/150% arial;
    padding: 10px 10px 0 0;
    text-align: justify;
    text-decoration: none;
}
.contentdiv a {
    color: #c60017;
}
.contentdiv a:hover {
    color: #c60017;
}
.titleme{
	
	width:530px;
	font:bold 18px arial;
	height:30px;
}
.title a {
    color: #c60017;
    font: bold 20px Arial;
    text-decoration: none;
}
.title a:hover {
    color: #c60017;
    text-decoration: underline;
}
#slider1 {
    width: 640px;
}
#paginate-slider1 {
    direction: rtl;
}
/* end slide home page */		

/*slider javascript */
#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper {width:506px; margin:50px auto; display:none}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:500px; height:300px; padding:2px; background:#000}
#information {position:absolute; bottom:0; width:500px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
#information h3 {padding:4px 8px 3px; font-size:20px; float:right;color:#fff}
#information p {padding:8px 8px 0;float:right}
#image {width:500px}
#image img {position:absolute; z-index:25; width:500px; height:300px}
.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(images/left.gif) left center no-repeat}
#imgnext {right:0; background:url(images/right.gif) right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(images/link.gif) center center no-repeat}
#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:81px; background:url(images/scroll-left.gif) center center no-repeat; background-color:#222}
#slideleft:hover {background-color:#333}
#slideright {float:right; width:20px; height:81px; background:#222 url(images/scroll-right.gif) center center no-repeat}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:456px; margin-left:5px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px; width:120px; height:75px}

/* end javascript slide */	
/* slider le 08/10/2015 */
 /
/* end slider */	

/* catégorie sur image */

.catname {
    background: #BB0000;
    color: #FFFFFF;
    font-family: arial;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-right: 50px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 645px;
    width: 526px;
    z-index: 1200;
}

/* end catégorie sur image */


