.fluid-container{width:980px;margin:0 auto;background-color:#FFF;clear:both}
.box-live-score{width:100%;height:50px;background-color:#eee;border-bottom:1px solid #ccc;border-top:.8px solid #FFF;overflow:hidden;padding:8px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.box-live-score ul{list-style:none}
.box-live-score .box-match{
	width:96px;
	height:40px;
	margin-top:-5px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ccc;
	-webkit-box-shadow:0 0 5px -2px #777;
	box-shadow:0 0 5px -2px #777;
	background-color:#fff;
	display:block;
	float:right;
	margin-right:12px;
	}
	
	
	
.box-live-score .box-match:hover{-webkit-box-shadow:0 0 10px -3px #555;box-shadow:0 0 10px -3px #555;-webkit-transition:all .4s ease-out;transition:all .4s ease-out}
.box-live-score .box-match a{display:block;padding:5px;color:#55e074;font-family:Helvetica;font-size:14px;font-style:normal;color:black;width:90px;height:25px;text-decoration:none}
.box-live-score .box-match a .team1{display:block;float:right;width:20px}
.box-live-score .box-match a .team2{display:block;float:left;width:20px}
.box-live-score .box-match img{width:20px;height:20px}
.box-live-score .box-match .info{display:block;width:44px;height:35px;font-size:10px;margin-top:-4px;float:right}
.box-live-score .box-match .time{display:block;margin:0 auto;height:10px;width:25px;text-align:center}
.box-live-score .box-match .score{-webkit-border-radius:3px;border-radius:3px;background-color:#333;color:#FFF;padding:1px 2px;font-size:12px;height:15px;display:block;width:34px;margin:0 auto;margin-top:2px;text-align:center}
.clearfix{display:block}


div.box-live-score.box-match{
    width: 96px;
    height: 40px;
    background-color: #fff;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.4s;
	animation-iteration-count: infinite;
}

/*  ****************************/
.box-live-score .box-match1{
	width:96px;
	height:40px;
	margin-top:-5px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ccc;
	-webkit-box-shadow:0 0 5px -2px #777;
	box-shadow:0 0 5px -2px #777;
	background-color:#00FF00;
	display:block;
	float:right;
	margin-right:12px;
	}
	
	
	
.box-live-score .box-match1:hover{-webkit-box-shadow:0 0 10px -3px #555;box-shadow:0 0 10px -3px #555;-webkit-transition:all .4s ease-out;transition:all .4s ease-out}
.box-live-score .box-match1 a{display:block;padding:5px;color:#55e074;font-family:Helvetica;font-size:14px;font-style:normal;color:black;width:90px;height:25px;text-decoration:none}
.box-live-score .box-match1 a .team1{display:block;float:right;width:20px}
.box-live-score .box-match1 a .team2{display:block;float:left;width:20px}
.box-live-score .box-match1 img{width:20px;height:20px}
.box-live-score .box-match1 .info{display:block;width:44px;height:35px;font-size:10px;margin-top:-4px;float:right}
.box-live-score .box-match1 .time{display:block;margin:0 auto;height:10px;width:25px;text-align:center}
.box-live-score .box-match1 .score{-webkit-border-radius:3px;border-radius:3px;background-color:#333;color:#FFF;padding:1px 2px;font-size:12px;height:15px;display:block;width:34px;margin:0 auto;margin-top:2px;text-align:center}
.clearfix{display:block}


div.box-live-score.box-match1{
    width: 96px;
    height: 40px;
    background-color: #00FF00;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.4s;
	animation-iteration-count: infinite;
}


/***********************************/

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {background-color:#fff;}
    to {background-color:#00D96C;}
}

/* Standard syntax */
@keyframes example {
    from {background-color:#fff;}
    to {background-color:#00D96C;}
}


.clignoter {
-webkit-animation-name: blinker;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-moz-animation-name: blinker;
-moz-animation-duration: 1s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;
animation-name: blinker;
animation-duration: 1s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
0% { opacity: 1.0; }
50% { opacity: 0.0; }
100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
0% { opacity: 1.0; }
50% { opacity: 0.0; }
100% { opacity: 1.0; }
}
@keyframes blinker {
0% { opacity: 1.0; }
50% { opacity: 0.0; }
100% { opacity: 1.0; }

}
