#wrapper_content {
width:960px;
-webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
-moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
box-shadow:0 0 20px rgba(0,0,0,0.4);
position:relative;
margin:0 auto;
}

.show_more {
padding-left:5px;
}

.show_more a {
font-weight:700;
float:left;
width:52px;
}

#featured .tabcontents .items_titre ul li#show_more {
float:left;
padding:4px;
}

#featured {
position:relative;
height:376px;
width:990px;
overflow:hidden;
margin:1px 4px;
}

.block-body {
width:990px;
margin:0 2px 0 0;
}

#all_content_tabs {
width:990px;
}

.time {
font-size:10px;
height:18px;
}

.time strong {
background-color:#C60017;
color:#FFF;
margin-left:6px;
border-radius:6px 3px;
padding:1px 2px;
}

ul.tabs li.selected .left {
width:10px;
height:43px;
background:url(images/side_bar.png)no-repeat -21px -116px;
}

ul.tabs li.selected .right {
width:10px;
height:43px;
background:url(images/side_bar.png)no-repeat 0 -165px;
}

ul.tabs li.selected .midle {
background:url(images/bar_bg.png) repeat-x;
background-position:0 -268px;
padding:13px 0;
}

ul.tabs li.selected a span {
display:block;
float:right;
}

ul.tabs {
font-size:0;
list-style-type:none;
text-align:right;
background-color:#e7e7e7;
background-position:0 4px;
height:40px;
width:590px;
border-bottom:3px solid #C60017;
padding-right:11px;
z-index:999;
margin:0;
}

ul.tabs li {
display:inline;
list-style:none;
float:right;
padding-top:12px;
padding-left:15px;
}

ul.tabs li.selected {
padding-top:0;
}

ul.tabs li a {
text-decoration:none;
position:relative;
color:#000;
font:bold 19px arial;
padding:11px 0;
}

ul.tabs li.selected a,ul.tabs li.selected a:hover {
position:relative;
top:0;
font:bold 19px arial;
color:#FFF;
height:66px;
}

div.tabcontents {
height:333px;
width:995px;
}

#featured .tabcontents .items_titre ul {
z-index:10;
left:9px;
width:375px;
height:376px;
position:absolute;
background:url(images/slider.png) no-repeat #0a0a0a;
top:0;
padding:0 5px;
}

#featured .tabcontents .items_titre ul li {
border-bottom:1px dotted #4a4a4a;
list-style:none;
padding:9px 0;
}

#featured .tabcontents .items_titre ul li:last-child {
border-bottom:none;
}

#featured .tabcontents .items_titre ul li .time_date {
font-size:11px;
color:#fff;
font-weight:700;
font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#featured .tabcontents .items_titre ul li.no_bord {
border:none;
}

#featured .tabcontents .items_titre ul li a {
color:#fff;
font:bold 15px arial;
line-height:1.4;
text-decoration:none;
}

#featured .tabcontents .zoom {
position:relative;
}

#featured .tabcontents .zoom a img {
width:601px;
height:334px;
}

#featured .tabcontents .zoom h3 a {
font:bold 19px arial;
color:#fff;
text-decoration:none;
}

#featured .tabcontents .tab_type {
position:relative;
width:995px;
}

#featured .tabcontents .zoom h3 {
right:0;
position:absolute;
padding-right:10px;
background:rgba(7,52,81,.8);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#990000,endColorstr=#990000);
zoom:1;
height:30px;
overflow:hidden;
width:591px;
bottom:4px;
line-height:1.2;
}

ul.tabs li.selected a:hover,#featured .tabcontents a:hover {
text-decoration:none;
}

#featured .tabcontents .items_titre ul li a:hover,#featured .tabcontents .zoom h3 a:hover {
color:#2E85EC;
}