html{zoom:1;overflow-y:scroll;overflow-x:hidden;}html *{outline:0;zoom:1;}
body{color:#252525;font-family:"宋体";font-size:14px;background:#fff;text-align:left;background-color:#FDFDF3;}
body,div,ul,li,a,h1,h2,h3,h4,h5,h6,font,strong,span,p,form,input,i,br,em,b{margin:0;padding:0;}
ul{list-style:none;}li{list-style-type:none;overflow:hidden;float:left;}
h1,h2,h3,h4,h5,.zmhall-ul,.zmyoung-span,.zmvideo-title,.zmbgt-ul-title,.zmbaby-con-a span{word-wrap:break-word;overflow:hidden;font-family:'微软雅黑','Microsoft Yahei';}
p{font-size:12px;color:#7e7e7e;line-height:20px;}
img{border:0;vertical-align:top;overflow:hidden;}
a{color:#000;text-decoration:none;cursor:pointer;}
a:hover{color:#CC1B1B;text-decoration:underline;cursor:pointer;}
.searchnow{color:#CC1B1B;text-decoration:none;cursor:pointer;}
/*top*/
.w_top,.w_header{ width:1000px; margin:5px auto; overflow:hidden; font-family:"微软雅黑";}
.w_header_left{ float:left; width:500px; overflow:hidden;}
.w_header_left li{ margin-right:20px;}
.w_header_center{width: 300px;float: left;}
.w_header_right{ float:right;  width:200px; overflow:hidden;}
.w_header_right li{ margin-right:20px;}
.swsy{ background:url(../images/ico_swsy.jpg) no-repeat  5px; padding-left:23px;}
.line{ border-bottom:1px #DEDED4 solid; width:100%;}
.w_top_l{ width:715px; height:100px; overflow:hidden; float:left;}
.w_top_r{ width:260px; height:95px; overflow:hidden; float:right; margin-top:5px; background:url(../images/line2.jpg) no-repeat;}
.w_wx{ width:70px; float:left; margin-left:40px;}
.w_wx2{ width:70px; float:left; margin-left:40px;}
.w_wx2 p,.w_wx p{ margin-top:0px; text-align:center; font-size:14px;width:70px;}
.w_wx2 a,.w_wx a{ color:#0386B4;}
.w_top_nav{ width:715px; font-size:17px;}
.w_top_nav li{ float:left; margin-right:12px;}
.w_top_nav li a{ color:#0386B4;}
.w_top_logo{ width:715px; margin-bottom:1px;}
.w-top-logo{ width:156px; height:66px; margin-right:55px; float:left; }
.w_top_ss{ width:485px; height:90px; overflow:hidden; margin-top: 10px;}
.w_ss_link { width:485px; overflow:hidden; height:24px;}
.w_ss_link li{ margin-right:10px;}
.zmhead-search{width:485px;height:40px;float:left;overflow:hidden; position:relative;z-index:1; margin-top:10px; margin-bottom:5px;}
.zmhead-search-text{border:1px solid #ddd;width:384px;height:36px;color:#bcbcbc;line-height:30px;text-indent:8px; background-color:#FDFDF3; float:left;overflow:hidden;}
.zmhead-search-btn{;border:0 none;cursor:pointer;width:94px;height:38px; float:left;overflow:hidden;float:left;overflow:hidden; background-image:url(../images/btn_ss.jpg);background-repeat:no-repeat;}
.w_ss_down{ width:385px; overflow:hidden; font-size:12px; float:left;}
.w_ss_down li a{ float:left; margin-right:10px; color:#AFAFA7;}
/*w_link*/
.w_link{ border:1px solid #F3F3E9; width:974px; height:34px; overflow:hidden; margin:2px auto; padding:5px 10px; font-size:12px; font-family:"微软雅黑";  }
.w_link a{ color:#343434;}
.w_zu{ font-weight:bold;}
.w_link_6{ width:960px; overflow:hidden; float:left; margin-top:5px;}
.w_link_6 li{ float:left; margin-right:15px; margin-bottom:7px;}
.w_link_5{ width:170px; overflow:hidden; float:left; margin-top:5px;;}
.w_link_5 li{ float:left; margin-right:15px; margin-bottom:7px;}
.w_link_3{ width:360px; overflow:hidden; float:left; margin-top:5px;}
.w_link_3 li{ float:left; margin-right:15px; margin-bottom:7px;}
.w_link_33{ width:110px; overflow:hidden; float:left; margin-top:5px;}
.w_link_33 li{ float:left; margin-right:5px; margin-bottom:7px;}
.w_line_you{ float:left; width:3px; overflow:hidden; margin-left:7px; margin-right:10px;}
/*banner*/
.w_banner{ width:1000px; margin:15px auto; overflow:hidden;}
/*w_jlhot*/
.w_jlhot{ width:1000px; overflow:hidden; margin:0 auto;}
.w_jlhot_l{ width:407px; height:690px; overflow:hidden; float:left; margin-right:22px;}
.w_jlhot_r{ width:570px; height:690px; overflow:hidden;}
.zmnews-title{height:20px;line-height:20px; width:407px;overflow:hidden;}
.zmnews-title h2{ float:left; width:80px; overflow:hidden; font-family:"微软雅黑"; font-size:18px; color:#0086B5; font-weight:normal;}
.zmnews-title a{float:right;overflow:hidden;font-size:12px;color:#C1C1B9;}
.hot_tu{ margin-top:5px; width:11px; float:left;}
.w_jlhot_line{ width:407px; height:2px; margin-top:10px; margin-bottom:10px;}
.zmnews{ width:407px; }
.zmnews li{ background-image:url(../images/dian.jpg);background-repeat:no-repeat;background-position:left 10px;height:30px;line-height:30px; width:407px;padding-left:15px; float:left;}
.zmnews li a{ float:left; width:330px; overflow:hidden;}
.zmnews li span{ float:right; overflow:hidden; color:#C1C1B9; font-size:12px; margin-right:15px;}
.news_zu{ margin-top:9px;}
.news_zu a{ color:#01266C; font-weight:bold;}
.w_hd{ width:571px; height:330px; overflow:hidden; margin-bottom:20px;}
.w_toutiao{ width:407px; float:left; overflow:hidden; font-size:18px; font-weight:bold; height:30px;line-height:30px; font-family:"微软雅黑";}
.w_toutiao a{ color:#01266C;}
.w_nwslink{ width:571px; height:360px; overflow:hidden;}
.w_newlink_l{ width:304px; height:360px; overflow:hidden; float:left;  border-right:1px #DADAD2 solid; padding-right:10px;}
.w_newlink_r{ width:245px; height:344px; overflow:hidden; float:left; margin-left:10px;}
.w_newsbt{ border-bottom:1px #DADAD2 solid;overflow:hidden; width:300px; height:29px;}
.w_newsbt2{ border-bottom:1px #DADAD2 solid;overflow:hidden; width:338px; height:29px; margin-top:20px;}
.w_newsbt span,.w_newsbt2 span,.w_newsbt3 span{ float:left; width:73px; background-color:#7BB5DA; height:29px; font-size:16px; color:#FFFFFF;  font-family:"微软雅黑"; padding-left:5px; padding-top:3px;}
.w_newsbt a,.w_newsbt2 a{ float:right; font-size:12px; color:#C1C1B9; padding-top:10px;}
.w_newsbt3 a{ float:right; font-size:12px; color:#C1C1B9; padding-top:10px; padding-right:5px;}
.w_newsnr{ overflow:hidden; width:300px; margin-top:18px; }
.w_newslb{ width:140px; overflow:hidden; font-size:12px; height:135px; float:left;}
.w_newslb2{ width:140px; overflow:hidden; font-size:12px; height:135px; float:left; margin-left:20px; margin-right:0px;}
.w_newslb img,.w_newslb2 img{ margin-bottom:7px;}
.w_newslb span a,.w_newslb2 span a{ height:40px; line-height:35px; overflow:hidden; }
.w_newsbt3{ border-bottom:1px #DADAD2 solid;overflow:hidden; width:245px; height:29px;}
.w_nws_rzu{ width:245px; height:33px; line-height:33px; font-weight:bold; overflow:hidden; font-size:14px; margin-top:12px;}
.w_news_tuwen{ width:245px; height:97px; font-size:12px; margin-bottom:20px;margin-top: 8px;overflow: hidden;}
.w_news_tuwen img{ float:left; margin-right:10px;}
.w_news_tuwen a{ color:#878684; line-height:23px;}
.w_news_yl{ width:122px;  overflow:hidden; float: left;}
.w_news_yl li{ background-image:url(../images/dian2.jpg);background-repeat:no-repeat;background-position:left 11px;height:28px;line-height:28px; width:105px;padding-left:15px; float:left;}
.w_news_yl li a{ font-size:12px;}
/*content*/
.w_content{ width:1000px; margin:10px auto; overflow:hidden;}
.w_content_l{ float:left; width:665px; overflow:hidden;}
.w_content_r{ float:right; width:320px; overflow:hidden;}
.w_content_dabt{ width:645px; height:26px; overflow:hidden; background:url(../images/nav_bg.jpg) no-repeat; padding-top:12px; padding-left:15px; }
.w_content_dabt span{ font-weight:bold; color:#545452;}
.w_content_dabt a{ float:right; color:#81827C; margin-right:10px;}
.w_content_link{ width:660px; overflow:hidden; margin-bottom:8px;}
.w_content_link_l{ float:left; width:320px; overflow:hidden; float:left;}
.w_content_link_r{ float:right; width:320px; overflow:hidden; float:right;}
.w_content_tuwen{ width:320px; overflow:hidden; float:left; height:110px; margin-bottom:7px;}
/*pic*/

.pic_wenzi{position:relative;z-index:1;overflow:hidden;font-size:12px;overflow:hidden;top:-25px;text-align:center; background:url(../images/zmtou.png) repeat-x; width:150px;}
.pic_wenzi span{ height:30px;line-height:30px; padding-top:3px; padding-bottom:5px; padding-left:3px; padding-right:3px; color:#FFFFFF;}
.zmbar-con span a,.zmbar-con a{color:#fff;}
.zmbar-con span a:hover,.zmbar-con a:hover{color:#fff;text-decoration:underline;}
.zmbar-con,.zmbar-con a{width:150px;float:left; height:110px;}
.zmbar-con2{width:150px;float:left; height:110px; margin-left:20px;}
.zmbar-con2  a:hover{ color:#FFFFFF;text-decoration:underline;}
.zmbar-con3{width:149px;float:left; height:145px; }
.zmbar-con3  a:hover{ color:#FFFFFF;text-decoration:underline;}
.pic_wenzi2{position:relative;z-index:1;overflow:hidden;font-size:12px;overflow:hidden;top:-25px;text-align:center; background:url(../images/zmtou.png) repeat-x; width:149px; height:25px;}
.pic_wenzi2 span{ line-height:30px; padding-top:3px;  padding-left:3px; padding-right:3px; color:#FFFFFF;}
.zmbar-con4{width:149px;float:left; height:145px; margin-left:21px;}
.zmbar-con4  a:hover{ color:#FFFFFF;text-decoration:underline;}
/*pic*/
.tuwen_link{ width:159px; float:left; height:100px; overflow:hidden; margin-left:8px;}
.tuwen_link li{  background-image:url(../images/dian3.jpg);background-repeat:no-repeat;background-position:left 11px;height:23px;line-height:23px; width:149px;padding-left:10px; float:left;}
.tuwen_link li a{ font-size:12px; color:#323232;}
.tuwen_line{ width:321px;} 
.wnews{ width:320px; }
.wnews li{ height:30px;line-height:30px; width:305px;padding-left:0px; float:left;}
.wnews li a{ float:left; width:300px; overflow:hidden;}
.wnews_r{ width:320px; }
.wnews_r li{ background-image:url(../images/dian.jpg);background-repeat:no-repeat;background-position:left 10px;height:30px;line-height:30px; width:305px;padding-left:15px; float:left;}
.wnews_r li a{ float:left; width:300px; overflow:hidden;}
.news_zu2{ margin-top:9px;}

.k_link{
	font-size: 12px;
	width:150px;
	height:110px;
	float:left;
}
.k_img{ width:150px; height:110px; float:left; overflow:hidden;}
.k_txt{ background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5); background-color:#000000; color:#FFFFFF;filter:alpha(opacity=80); bottom:0; left:0; height:15px; line-height:15px; overflow:hidden; position:absolute; top:92px; width:150px; overflow:hidden; z-index:100;}

.w_content_xbt{ width:305px; height:26px; overflow:hidden; background:url(../images/nav_bg2.jpg) no-repeat; padding-top:12px; padding-left:15px; }
.w_content_xbt span{ font-weight:bold; color:#940404;}
.w_content_xbt a{ float:right; color:#81827C; margin-right:10px;}

.w_content_xbtls{ width:305px; height:26px; overflow:hidden; background:url(../images/nav_bg3.jpg) no-repeat; padding-top:12px; padding-left:15px; margin-bottom:10px; }
.w_content_xbtls span{ font-weight:bold; color:#555651;}
.w_content_xbtls a{ float:right; color:#81827C; margin-right:10px;}

.w_congten_ylist{ border-left:1px #ECECE2 solid; border-right:1px #ECECE2 solid;border-bottom:1px #ECECE2 solid; width:298px; padding:10px; height:125px;}
.w_congten_ylist2{ border-left:1px #ECECE2 solid; border-right:1px #ECECE2 solid; width:298px; padding:10px; height:125px; border-bottom:1px #ECECE2 solid;}
.w_congten_ylist3{ border-left:1px #ECECE2 solid; border-right:1px #ECECE2 solid; width:298px; padding:10px; height:87px; border-bottom:1px #ECECE2 solid;}
.w_congten_rzu{ width:200px; height:30px; line-height:30px; font-weight:bold; overflow:hidden; font-size:14px;}
.w_congten_tuwen{ width:320px; height:95px; font-size:12px; margin-bottom:9px;margin-top:10px;overflow:hidden;}
.w_congten_tuwen img{ float:left; margin-right:10px;}
.w_congten_tuwen .zy_lvp{ color:#878684; line-height:23px;}
.banner_you{ width:298px; height:150px; border:1px #ECECE2 solid; padding:10px; margin-top:10px; margin-bottom:10px;overflow:hidden;}
.banner_you2{ width:298px; height:150px; border:1px #ECECE2 solid; padding:10px; margin-top:10px; margin-bottom:10px;overflow:hidden;}

.tuwen2_link{ width:300px; float:left; height:110px; overflow:hidden; margin-left:10px;}
.tuwen2_link li{  background-image:url(../images/dian3.jpg);background-repeat:no-repeat;background-position:left 11px;height:23px;line-height:23px; width:300px;padding-left:10px; float:left;}
.tuwen2_link li a{ font-size:12px; color:#323232;}

/*pic*/
.content_pic{ width:1000px; height:196px; overflow:hidden; margin:0 auto;}
.content_pic_link{ width:1000px; float:left; background-color:#f5f5ea; height:27px; padding-bottom:5px; margin-bottom:10px;}
.img_link{ /*background:url(../images/pic_bg.jpg) no-repeat;*/ height:21px; padding:7px; font-weight:bold; float:left; margin-right:10px; font-size:12px;}
.img_link a{ float:left; color:#989792;}
.img_link span{ float:right; color:#C5BFB1; margin-right:5px;}
.img_link2{ /*background:url(../images/pic_bg2.jpg) no-repeat;*/ height:21px; padding:7px; font-weight:bold; float:left; margin-right:10px; font-size:12px;}
.img_link2 a{ float:left; font-family: "微软雅黑"; color:#666666;}
.img_link2 span{ float:right; color:#C5BFB1; margin-right:5px;}
.img_link3{ /*background:url(../images/pic_bg3.jpg) no-repeat;*/ height:21px; padding:7px; font-weight:bold; float:left; margin-right:10px; font-size:12px;}
.img_link3 a{ float:left; color:#989792;}
.img_link3 span{ float:right; color:#C5BFB1; margin-right:5px;}

.w_footter{ background-color:#565654; width:100%; height:286px;}
.w_bottom{ width:1000px; margin:0 auto; font-family:"微软雅黑"; font-size:16px; padding:30px 0; }
.w_bottom li a{ color:#B8BCAE; margin-right:20px;}
.bottom_line{ background:url(../images/footer_line.jpg) repeat-x; height:4px; width:100%; background-position:center; margin-top:30px;}
.b_list{ width:292px; float:left;}
.b_list li{ width:292px; float:left; color:#888983; font-size:14px; font-family:"微软雅黑";}
.bottom_list{ width:1000px; margin:20px auto; line-height:30px;}
.b_list li a{ color:#888983; font-size:14px; font-family:"微软雅黑";}
.shuline{ width:4px; margin-left:10px; margin-right:10px; float:left;}
.shuline img{ float:left;}

/*hzhb*/
.hzhb{ background:url(../images/bgg.jpg) no-repeat;width:1000px; overflow:hidden; margin:20px auto; height:223px;}
/*main*/
.indexLink{clear:both; width:980px; margin:28px auto 0 auto;}
.indexLink ol{height:23px;line-height:23px;text-align:right;color:#4a4a4a;overflow:hidden;padding-right:24px;}
.indexLink ol h2{float:left;_display:inline;font-size:18px;font-weight:normal;height:22px;padding-top:1px;overflow:hidden;margin-right:4px;width:78px;text-align:center;color:#077fa9;cursor:pointer;}
.indexLink ol h2.curr{font-weight:bold;}
.indexLink ul{clear:both;padding:12px 15px 5px;line-height:20px;overflow:hidden;zoom:1;}
.indexLink ul span {display:block;float:left;white-space:nowrap;color:#a8a8a8;width:18px;text-align:center;}
.indexLink ul a {display:block;float:left;white-space:nowrap;color:#4a4a4a;}
.indexLink div,.indexLink div p,.indexLink div dl{height:5px;line-height:5px;font-size:1px;overflow:hidden;background: url(../images/bg02.gif) no-repeat 0 0;}
.indexLink div{background-repeat:repeat-x;background-position:0 -12px;position:relative;}
.indexLink div p{position:absolute;left:0;top:0;width:5px;}
.indexLink div dl{position:absolute;right:0;top:0;width:5px;background-position:right -6px;}
.fhFod h3.curr{font-size:12px;color:#fff;font-weight:bold}
.loginwrap a.link01{padding:1px 0 0 16px;}
.loginwrap a.link02{padding-left:16px;}
.mainnavwrap div a.link03,.mainnavwrap div a.link03:hover{width:55px;}

/*焦点图*/
.focus{ position:relative; width:571px; height:330px; background-color: #000; float: left;}  
.focus img{ width: 571px; height: 330px;} 
.focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus .fPic{ position:absolute; left:0px; top:0px; }  
.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:80px; line-height: 80px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
.focus .shadow a{ text-decoration:none; color:#fff; font-size:20px; overflow:hidden; margin-left:10px; font-family: "\5FAE\8F6F\96C5\9ED1";}  
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus .fcon img{ display:block; }  
.focus .fbg{bottom:25px; right:40px; position:absolute; height:21px; text-align:center; z-index: 200; }  
.focus .fbg div{margin:25px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}    
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    
.focus .prev,.focus .next{position:absolute;width:40px;height:74px;background: url(../images/focus_btn.png) no-repeat;}
.focus .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
.focus .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
.focus .prev:hover{  background-position:0 0; }  
.focus .next:hover{  background-position:-40px 0;}  

.zm_tladb1{width:140px;float:left;overflow:hidden;}
.zm_tladb3{width:704px;float:left;overflow:hidden; margin-left:8px;margin-right:8px;}
.zm_tladb2{width:140px;float:left;overflow:hidden;}

/*hilink*/
.zm-wrap{width:1000px;margin-left:auto;margin-right:auto;overflow:hidden;}
.zm-link{ padding-top:10px; }
.zmlink-ul{margin-left:10px;margin-right:10px;overflow:hidden;color:#b00404;}
.zmlink-ul a{line-height:20px;word-wrap:break-word;}

/*改版*/
.yh_z{font-family:"微软雅黑"; font-size:13px; line-height:24px; font-weight:bold}
.yh_b{font-family:"微软雅黑"; font-size:13px; line-height:24px; }
.yh_nws_rzu{ width:159px; height:48px; line-height:24px; font-weight:bold; overflow:hidden; font-size:14px;}
.yh_news_tuwen{ width:245px; height:108px; font-size:12px; margin-bottom:9px; margin-top:8px}
.yh_news_tuwen img{ float:left; margin-right:10px;}
.yh_news_tuwen a{ color:#878684; line-height:23px;}

.w_conyh{ width:1000px; margin:0px auto; overflow:hidden;}
.w_content_link_l1 {float:left; width:320px; overflow:hidden; float:left;}
.w_content_link_r1 {float:right; width:320px; overflow:hidden; float:right;}
.w_content_r1 {float:right; width:320px; overflow:hidden;}
.zmbar-con1 {width:150px;float:left; height:110px;}

.blue_link4 a{font-size:12px;  color: #666666; line-height:18px; text-decoration:none}
.blue_link4 a:hover{font-size:12px; color: #666666;line-height:18px; text-decoration: underline}
.bot{ width:1000px; height:199px; margin:15px auto; background-image:url(../images/bot.jpg);}
.bot_a{ width:207px; height:182px; margin-left:60px; margin-top:8px; padding-top:2px;float:left}
.bot_b{ width:727px; height:182px; margin-left:5px; margin-top:8px; float:left}
.bot_b ul{padding:0 0 0 5px}
.bot_b li{ width:140px; height:89px; margin:2px; list-style-type:none; float:left}