* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    background: #909090;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #fff;
}
img {
    border: none;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.alignleft {
    float: left;
}
.aligntight {
    float: right;
}
.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.clear {*min-height: 1px;}
    /*----- Start header -----*/
#header {
    height: 83px;
    position: relative;
    min-width:1255px;
    background: #f3f2f2;
}
.logo{
    float: left;
    margin: 5px 0 0 10px;
}
.navigation{
    background: #fff;
    height: 40px;
    line-height: 40px;
    margin-top: 22px;
    float: right;
}
.social {
    float: right;
    margin: 4px 0 0 10px;
}
.social a {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 0;
}
/*----- Start menu -----*/
/*------- Begin menu -------*/
.menu {
    height: 40px;
    float: left;
}
.menu ul{
    float: left;
}
.menu li {
    float: left;
}
.menu li.parent{
    background: url(images/menu_parrent.png) no-repeat right center;
    position: relative;
}
.menu li a {
    height: 40px;
    line-height: 40px;
    padding: 0 22px;
    display: block;
    text-decoration: none;   
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}
.menu li a:hover,.menu li:hover.parent a {
    background: #ff5955;
    color: #fff;
    text-shadow: 1px 1px 0 #9c2c2a;
}
/*--- выпадающее меню ---*/
.menu ul li .child{
    width: 500px;
    background: rgba(255,89,85,.9);
    position: absolute;
    display: none;
    left: 0;
    z-index: 100;
}
.menu ul li:hover .child{
    display: block;
}
.menu li ul{
    float: left;
    height: auto;
    padding: 10px 0;
    text-transform: none;
    width: 33%;
}
.menu li ul li{
    float: none;
    background: none;
    padding: 0;
    text-align: left;
}
.menu li ul li a,.menu li.parent ul li a{
    height: 14px;
    line-height: 14px;
    text-transform: none;
    background: none !important;
    font-size: 11px;
    color: #fff !important;
    text-shadow: 1px 1px 1px #ff5955 !important;
}
.menu li ul li a:hover,.menu li.parent ul li a:hover{
    background: none;
    color: #000 !important;
}
/*------- End menu -------*/

/*------- Begin search -------*/
.search {
    width: 250px;
    height: 29px;
    display: block;
    float: right;
    margin: 5px 7px 0 5px;
    background: url(images/search_bg.png) no-repeat;
}
.search input {
    width: 205px;
    height: 29px;
    line-height: 29px;
    padding: 0 5px 0 10px;
    background: none;
    border: none;
    outline: none;
    font-size: 11px;
    color: #fff;
    text-shadow: 1px 1px 0 #3b3b3d;
    float: left;
}
.search input.bttn {
    width: 30px;
    height: 29px;
    cursor: pointer;
    padding: 0;
}
.search input.bttn:hover{
    background: rgba(0,0,0,.4);
}
/*------- End search -------*/
/*----- End menu -----*/
/*----- End header -----*/
/*----- Start content -----*/
/*----- Start title -----*/
.title {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
}
.title img {
    position: absolute;
    top: 8px;
    left: 10px;
}
.title h2 {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #3e3e3e;
    text-shadow: 1px 1px 0 #fff;
    padding-left: 40px;
    text-transform: capitalize;
    float: left;
}
/*----- End title -----*/
/*----- Start thumb -----*/
.thumbs{
    text-align: center;
    font-size: 0;
}
.thumb {
    width: 302px;
    padding: 2px 2px 5px;
    background: #fff;
    margin: 1px;
    display: inline-block;
    position: relative;
}
.thumb img {
    width: 300px;
    height: 225px;
    overflow: hidden;
    border: 1px solid #000;
}
.thumb img:hover,.thumb_sm img:hover{
    border: 1px dotted #000;
}
.thumb img:first-child {
    display: block;
    margin-bottom: 3px;
}
.thumb_count_video{
    position: absolute;
    top: 210px;
    left: 3px;
    width: 300px;
    height: 18px;
    line-height: 18px;
    background: rgba(0,0,0,.5);
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #474445;
}
.thumb a {
    font: bold 17px Arial, sans-serif;
    color: #ff5b55;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}
.thumb a:hover {
    color: #3e3e3e;
}
/*----- End thumb -----*/

.list,.list_two {
    margin: 10px 10px 8px;
    padding: 0 0 10px;
    background: #fff;
}
.list ul,.list_two ul {
    width: 20%;
    float: left;
    margin-bottom: 15px;
    list-style: none;
}
.list ul:last-child {
    margin-right: 0;
}
.list li.first_category{
    background: #ff5b55;
    padding: 0;
    height: 36px;
    line-height: 36px;
    border-radius:50%;
    width: 36px;
    margin: 3px 0 7px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #b42c27;
}
.list li,.list_two li {
    font: 12px Arial, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    padding-left: 10px;
    line-height: 20px;
    margin-left: 20px;
    background: url(images/bullet.png) no-repeat 0 7px;
}
.list li a,.list_two li a {
    font:12px Arial, sans-serif;
    color: #000;
    text-decoration: none;
    padding-left: 2px;
}
.list li a:hover,.list_two li a:hover {
    color: #ff5b55;
}
.list_two ul{
    margin-bottom: 0;
}
.list_two li{
    color: #ff5b55;
    background: none;
    font-weight: bold;
}
/*----- End list -----*/
/*------- Begin thumb_sm -------*/
.thumbs_sm{
    background: #fff;
    padding-bottom: 20px;
    margin: 0 10px;
}
.thumb_sm{
    width: 182px;
    padding: 8px 8px 3px 8px;
    margin: 0 1px 1px 0;
    background: #e7e6e6;
    display: inline-block;
}
.thumb_sm img{
    width: 180px;
    height: 135px;
    display: block;
    border: 1px solid #000;
}
.thumb_sm a{
    display: block;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #f2f2f2;
}
.thumb_sm a:hover{
    color: #ff5b55;
}
/*------- End thumb_sm -------*/
/*----- End content -----*/
/*----- Start footer -----*/
 #footer {
    height: 170px;
    margin-top: 25px;
    background: #f3f2f2;
    position: relative;
    overflow: hidden;
}
.footer_logo{
    position: absolute;
    right: 15px;
    top: 43px;
}
.description_site{
    height: 94px;
    display: inline-block;
    overflow: hidden;
    margin: 15px 0 0 20px;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    font-family: Arial, sans-serif;
    line-height: 14px;
}
.description_site p{
    margin-bottom: 10px;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    padding-right: 320px;
    float: left;
}
.description_site p span{
    color: #ff5b55;
    font-weight: bold;
}
.footer_nav{
    display: inline-block;
    margin: 10px 0 0 5px;
}
.footer_nav li{
    list-style: none;
    float: left;
    background: url(images/footer_nav_delim.png) no-repeat right center;
    padding: 0 17px;
}
.footer_nav li:last-child{
    background: none;
}
.footer_nav li a{
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #ff5b55;
    text-shadow: 1px 1px 0 #fff;
}
.footer_nav li a:hover{
    color: #000;
}
 /*End footer*/
 /*------- Begin page_two -------*/
 
.wrap_category_tags{
    background: #f3f2f2;
    height: 60px;
    padding: 10px;
    margin: 5px 10px 5px;
}
.category_tags{
    height: 60px;
    line-height: 20px;
    overflow: hidden;
}
.category_tags span{
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 fff;
    margin-right: 10px;
}
.category_tags a{
    font-size: 12px;
    background: url(images/category_tags.png) no-repeat;
    font-family: Arial, sans-serif;
    display: inline-block;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    padding: 0 15px 0 17px;
}
.category_tags a:hover{
    text-decoration: underline;
}
.title_two,.title_video{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.title_two h2{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #4a4a4c;
    float: left;
    margin-left: 12px;
}
.inxy-paginator{
    float: right;
    margin-right:10px;
}
.inxy-paginator li{
    float: left;
    margin-right: 2px;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #fff;
}
p.pages_pagin{
    float: right;
    margin-right: 3px;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #585858;
}
.inxy-paginator a{
    display: inline-block;
    height: 27px;
    line-height: 27px;
    padding: 0 9px;
    background: #e3e3e3;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}
.inxy-paginator a:hover{
    background: #ff5955;
    color: #fff;
    text-shadow: 1px 1px 0 #ac1b18;
}
.thumb_time{
    position: absolute;
    top: 221px;
    right: 3px;
    width: 48px;
    height: 22px;
    line-height: 22px;
    background: rgba(0,0,0,.5);
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #f2f2f2;
    text-shadow: 1px 1px 0 #000;
}
.thumb_time_video{
    position: absolute;
    top: 221px;
    left: 3px;
    padding: 0 7px;
    height: 22px;
    line-height: 22px;
    background: rgba(0,0,0,.5);
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #f2f2f2;
    text-shadow: 1px 1px 0 #000;
}
.thumb_two a{
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    text-transform: none;
    font-family: Arial, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.thumb_two a:hover{
    color: #000;
}
.thumb_tags{
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    margin-top: 3px;
    font-family: Arial, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}
.thumb_tags a{
    display: inline;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 11px;
    text-align: left;
    font-family: Arial, sans-serif;
    color: #ff5955;
}
.thumb_tags a:hover{
    color: #000;
}
/*------- End page_two -------*/
/*------- Begin video.html -------*/
.video_wrap{
    width: 1256px;
    margin: 5px auto 5px;
}
.video_left{
    padding: 10px 25px;
    margin-right: 3px;
    float: left;
    width: 855px;
    background: #fff;
}
.video{
    display: inline-block;
    width: 855px;
    height: 510px;
    background: url(images/video.jpg) no-repeat;
}

#player iframe {width:860px !important; height:510px !important;}

.video_add,.video_tags{
    font-weight: bold;
    margin-top: 3px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}
.video_add span{
    font-weight: normal;
}
.video_tags a{
    color: #ff5b55;
    font-weight: normal;
}
.video_tags a:hover{
    text-decoration: underline;
}
.title_video{
    line-height: 37px;
    margin-bottom: 5px;
}
.title_video h2{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color: #fff !important;
    text-shadow: 1px 1px 0 #4a4a4c;
    float: left;
    margin-left: 10px;
}
.title_video_1 h2{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color: #000 !important;
    text-shadow: 1px 1px 0 #fff;
    float: left;
}
.video_right{
    float: right;
    width: 300px;
    padding: 45px 23px;
    background: #fff;
}
.video_right a{
    display: block;
    margin-bottom: 7px;
}
/*------- End video.html -------*/