﻿.legende_enquete {
	text-align: right;
}

#nb_reponses {
	font-weight:bold;
	font-size:130%;
	color:#EB820C;
	padding-left:20px;
	margin: 10px 0px;
}

.reponses_cadre_question_reponse {
	margin-left: 20px;
}
.reponses_cadre_question {
	margin:0px 5px 3px 0px;
}
.reponses_numero_question {
	font-weight: bold;
	font-size: 110%;
}
.reponses_question {
	margin-top: 5px;
}
.reponses_cadre_reponse_1, .reponses_cadre_reponse_2, .reponses_cadre_reponse_3, .reponses_cadre_reponse_4,
.reponses_cadre_reponse_5, .reponses_cadre_reponse_6, .reponses_cadre_reponse_7,
.reponses_cadre_reponse_8, .reponses_cadre_reponse_9, .reponses_cadre_reponse_10 {
	margin:15px 0px 3px 10px;
}
.reponses_cadre_reponse_1 div, .reponses_cadre_reponse_2 div, .reponses_cadre_reponse_3 div, .reponses_cadre_reponse_4 div,
.reponses_cadre_reponse_5 div, .reponses_cadre_reponse_6 div, .reponses_cadre_reponse_7 div,
.reponses_cadre_reponse_8 div, .reponses_cadre_reponse_9 div, .reponses_cadre_reponse_10 div {
	margin:0px 0px 5px 0px;
	width:400px;
	overflow: hidden;
}
.reponses_cadre_reponse_1 input, .reponses_cadre_reponse_2 input, .reponses_cadre_reponse_3 input, .reponses_cadre_reponse_4 input,
.reponses_cadre_reponse_5 input, .reponses_cadre_reponse_6 input, .reponses_cadre_reponse_7 input,
.reponses_cadre_reponse_8 input, .reponses_cadre_reponse_9 input, .reponses_cadre_reponse_10 input {
	margin: 0px 0px 1px 0px;
}
.reponses_cadre_reponse_1 span, .reponses_cadre_reponse_2 span, .reponses_cadre_reponse_3 span, .reponses_cadre_reponse_4 span,
.reponses_cadre_reponse_5 span, .reponses_cadre_reponse_6 span, .reponses_cadre_reponse_7 span,
.reponses_cadre_reponse_8 span, .reponses_cadre_reponse_9 span, .reponses_cadre_reponse_10 span {
	/*float: right;*/
}
.reponses_cadre_reponse div img {
	vertical-align: middle;
}
.reponse_correct {
	color: green;
}
.reponse_incorrect {
	color: red;
}
.reponse_resultat {
	float: right;
}
.reponses_commentaire_reponse {
	margin:15px 0px 3px 30px;
}
.reponses_commentaire_reponse_correct {
	color: green;
}
.reponses_commentaire_reponse_incorrect {
	color: red;
}
.reponses_separation {
	margin: 0px 0px 5px 20px;
	border-bottom: 1px solid #CCCCCC;
}


/*********/
/* Jnice */
/*********/
/* -------------
 * Buttons
 * ------------- */
button {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	overflow: visible;
}

*:first-child+html button[type]{width: 1;} /* IE7 */

button span {
	background: transparent url(../images/jNice/btn_right.gif) no-repeat scroll right top;
	display: block;
	float: left;
	padding: 0px 4px 0px 0px; /* sliding doors padding */
	margin: 0px;
}

button span span {
	background: transparent url(../images/jNice/btn_left.gif) no-repeat;
	color: #FFFFFF;
	padding: 0px 4px 0px 8px;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	text-transform: lowercase;
	display: block;
	text-decoration: none;
}

/* -------------
 * Inputs
 * ------------- */
.jNiceInputWrapper {
	background: transparent url(../images/jNice/input_left.gif) no-repeat left top;
	height: 23px;
	padding: 0px;

}

.jNiceInputInner {
	background: transparent url(../images/jNice/input_right.gif) no-repeat right top;
	padding: 2px 4px 2px 0px;
	margin: 0px 0px 0px 4px;
}

.jNiceInputInner div {
	height: 19px;
}

.jNiceInputInner input {
	line-height: 18px;
	vertical-align: middle;
	height: 17px;
	color:#404040;	
	border: 0;
	padding: 0px;
	margin: 2px 0px 0px;
}

.jNiceSafari .jNiceInputInner div {
	position: relative;
	overflow: hidden;
}

.jNiceSafari input {
	background-color: transparent;
	position: absolute;
	top: -2px;
	left: -4px;
	height: 26px; 
}

/* -------------
 * Radios
 * ------------- */
.jRadioWrapper {float: left;}
.jNiceRadio {
	background: transparent url(../images/jNice/radio.gif) no-repeat center top;
	vertical-align: middle;
	height: 18px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}


/* -------------
 * Checkboxes
 * ------------- */
.jCheckBoxWrapper {float: left;}
.jNiceCheckbox {
	background: transparent url(../images/jNice/checkbox.gif) no-repeat center top;
	vertical-align: middle;
	height: 18px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
.jNiceChecked { background-position: center bottom;}


/* -------------
 * Selects
 * ------------- */
.jNiceSelectWrapper {
	width: 132px;
	position:relative;
	height: 17px;
}

.jNiceSelectWrapper div span {
	float: none;
	position: absolute;
	width: 104px;
	height: 15px;
	line-height: 15px;
	padding: 0px 3px;
	overflow: hidden;
	border: 1px solid #CCCCCC;
	border-right: none;
}

.jNiceSelectWrapper div a {
	display: block;
	position: absolute;
	right: 0px;
	width: 21px;
	height: 17px;
	background: url(../images/jNice/select_right.gif) no-repeat center center;
}

.jNiceSelectWrapper ul {
	position: absolute;
	width: 150px;
	top: 16px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:100;
}

.jNiceSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#0099CC;
	background-color: #FFF;
}

.jNiceSelectWrapper ul a:hover { background:#E1F5FF; }
.jNiceSelectWrapper ul a.selected {background: #EDEDED;}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jNiceHidden {display: none;}
