
#pop {
	position: absolute;
	display: block;
	border: 1px double #000;
	background-color: white;
	z-index: 500;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#popup_content {
	margin: 0;
	padding: 5px;
	width:97%;
}

#popup_content p {
	margin: 0;
}

#popup_close {
	vertical-align : top;
	float : right;
	margin : 1px 1px 1px 1px;
	cursor: pointer;
}

.pop1 {
	left: 40%;
	top: 40%;
	width: 250px;
	height: 250px;
}

.pop2 {
	left: 40%;
	top: 40%;
	width: 180px;
	height: 150px;
}

.pop3 {
	left: 30%;
	top: 40%;
	width: 468px;
	height: 60px;
}

.pop4 {
	left: 20%;
	top: 40%;
	width: 728px;
	height: 90px;
}
.pop5 {
    left: 20%;
	top: 20%;
	width: 790px;
	height: 400px;
}
