* {-webkit-box-sizing: border-box;box-sizing: border-box; }
*, html, body {
    line-height: 140% !important;
}
/*HEADER*/

.header-top{width: 100%;height: 60px;position: relative;background: #26262b !important; z-index:99999; margin-bottom:15px; display: inline-block;}    
.header-top .header-dark{height: 25px;background: #ebebeb;}
.header-top .header-left{width: 304px;float: left}
.header-top .haberler-content-menu{width: calc(100% - 669px);float: left;margin-top: 25px;}
.header-top .haberler-content-menu .haberler-menu-list{max-height: 35px;overflow: hidden;display: block;list-style: none}
.header-top .haberler-content-menu .haberler-menu-list li{display: block;float: left;margin-right: 18px; height:35px;}
.header-top .haberler-content-menu .haberler-menu-list li a{color:#ffffff;font-size: 14px !important;text-decoration: none; font-weight:normal !important; display: block; height: 35px; padding-top: 8px; box-sizing: border-box;}
.header-top .haberler-content-menu .haberler-menu-list li a:hover{font-weight:normal !important;}
.header-top .haberler-content-menu .haberler-menu-list .sondakika a{color:#F7DC38}
.header-top .haberler-right-menu{float: left;margin-top: 25px;width: 360px;height: 35px;}
.header-top .haberler-right-menu .tumu{position: absolute; cursor:pointer; right: 305px;width: 50px;margin-right: 0;color:#fff;text-decoration: none;height: 26px; padding:0 0 0 10px; font-size:14px;-webkit-box-sizing: initial;box-sizing: initial;}
.header-top .haberler-right-menu .tumu a{color:#fff;text-decoration: none;font-weight:normal;display: block; height: 35px; padding-top: 8px; box-sizing: border-box;}
.header-top .haberler-right-menu .tumu a:hover {font-size:14px}
.header-top .haberler-right-menu .haberler-search{position: absolute;right: 5px;}
.header-top .haberler-right-menu .haberler-search input{font-size:12px;width: 255px;height: 23px;background: #d4d4d5;border:0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;outline: 0;margin-top: 5px;padding-left: 30px;-webkit-box-sizing: initial;box-sizing: initial;}
.header-top .haberler-right-menu .haberler-search .search-button{position: absolute;z-index: 1;margin-top: 10px;margin-left: 5px;}
.header-top .haberler-right-menu .haberler-search ::-webkit-input-placeholder { color:#000000; }
.header-top .haberler-right-menu .haberler-search ::-moz-placeholder { color:#000000; } 
.header-top .haberler-right-menu .haberler-search :-ms-input-placeholder { color:#000000; }
.header-top .haberler-right-menu .haberler-search input:-moz-placeholder { color:#000000; }
.header-top .header-logo-href{overflow: hidden;width: 254px;height: 45px;display: block;margin-left: 20px;margin-top: 15px;}
.header-top .header-logo{overflow: hidden;width: 253px;height:45px;}
.header-top .haberler-menu{height: 49px;width: 100%;margin-top: -49px;}
.header-top .haberler-search-title{position: absolute;color: black;font-size: 12px;height: 15px;top: 7px;right: 8px; }
.header-top .haberler-search-title span{float:left;margin-right: 2px;}
.header-top .haberler-search-title h1{float:left;font-size: 12px;margin-right: 2px;font-weight: normal;color: #000;}
.tum-bolumler{cursor: pointer}
.tumu .haberler-tumu-menu{margin: 0;padding: 0;background: #959595;position: fixed;left: 0;width: 100%;padding-top: 35px;padding-left: 39px;list-style: none;padding-bottom: 30px;display: none}
.tumu .haberler-tumu-menu .haberler-tumu-menu-li{width: 20%;overflow: hidden;float: left}
.tumu .haberler-tumu-menu .haberler-tumu-menu-li li{width: 100%;overflow: hidden;float: left;margin-bottom:10px}
.tumu .haberler-tumu-menu li a{}
.tumu .haberler-tumu-menu li a:hover{font-weight:normal}
.tumu .haberler-tumu-menu li a span{float: left;font-size: 16px;margin-top: -10px;padding-left: 10px;}
.tumu .haberler-tumu-menu li a .haberler-menu-icon {width: 25px;height: 25px;float: left;}
.tumu .sprite {background-image: url(/static/images/spritesheet_v1.png);background-repeat: no-repeat;display: block;float: left}
.tumu .sprite-anne-cocuk {width: 23px;height: 21px;background-position: -5px -2px;}
.tumu .sprite-araba {width: 19px;height: 15px;background-position: -38px -5px;}
.tumu .sprite-ask-iliskileri {width: 19px;height: 21px;background-position: -67px -2px;}
.tumu .sprite-bilgi-yarismasi {width: 19px;height: 16px;background-position: -96px -5px;}
.tumu .sprite-borsa {width: 18px;height: 19px;background-position: -125px -5px;}
.tumu .sprite-burclar {width: 21px;height: 21px;background-position: -153px -5px;}
.tumu .sprite-dekorasyon {width: 16px;height: 20px;background-position: -184px -5px;}
.tumu .sprite-dini-bilgiler {    width: 20px;height: 20px;background-position: -3px -33px;}
.tumu .sprite-diziler {width: 18px;height: 20px; background-position: -28px -31px;}
.tumu .sprite-doviz-kuru {width: 19px;height: 19px;background-position: -54px -35px;}
.tumu .sprite-dunya {width: 19px;height: 19px;background-position: -83px -35px;}
.tumu .sprite-e-bulten {width: 16px;height: 18px;background-position: -112px -35px;}
.tumu .sprite-editorlerin-sectikleri {width: 19px;height: 18px;background-position: -184px -35px;}
.tumu .sprite-egitim {width: 20px; height: 20px; background-position: -3px -60px;}
.tumu .sprite-ekonomi {width: 18px;height: 19px;background-position: -112px -63px;}
.tumu .sprite-emlak {width: 17px;height: 17px;background-position: -140px -63px;}
.tumu .sprite-en-cok-okunanlar {width: 16px;height: 18px;background-position: -167px -63px;}
.tumu .sprite-en-cok-paylasilanlar { width: 20px;height: 20px;background-position: -27px -61px;}
.tumu .sprite-en-cok-yorumlananlar {width: 23px;height: 17px;background-position: -138px -36px;}
.tumu .sprite-etkinlikler {width: 15px;height: 17px;background-position: -5px -91px;}
.tumu .sprite-finans {width: 18px;height: 19px;background-position: -30px -91px;}
.tumu .sprite-fotogaleri {width: 18px;height: 18px;background-position: -58px -91px;}
.tumu .sprite-gazeteler {width: 20px;height: 20px;background-position: -138px -87px;}
.tumu .sprite-guncel {width: 19px;height: 20px;background-position: -167px -91px;}
.tumu .sprite-gundemdeki-kisiler { width: 19px;height: 20px;background-position: -6px -118px;}
.tumu .sprite-guzellik {width: 21px;height: 20px;background-position: -34px -117px;}
.tumu .sprite-haber-arsivi {width: 19px;height: 20px;background-position: -65px -118px;}
.tumu .sprite-hava-durumu { width: 17px;height: 20px;background-position: -94px -119px;}
.tumu .sprite-imsakiye {width: 19px;height: 21px;background-position: -121px -121px;}
.tumu .sprite-iphone-haberler {width: 20px;height: 20px;background-position: -146px -121px;}
.tumu .sprite-is-ilanlari {width: 15px;height: 16px;background-position: -86px -91px;}
.tumu .sprite-kadin {width: 20px;height: 20px;background-position: -170px -113px;}
.tumu .sprite-komik-haberler {width: 19px;height: 19px;background-position: -172px -139px;}
.tumu .sprite-kredi-hesaplama {width: 20px;height: 20px;background-position: -5px -168px;}
.tumu .sprite-kultur-sanat {width: 18px;height: 20px; background-position: -189px -61px;}
.tumu .sprite-lezzet {width: 19px;height: 15px;background-position: -35px -168px;}
.tumu .sprite-mac-sonuclari {width: 19px;height: 19px;background-position: -64px -168px;}
.tumu .sprite-magazin {width: 19px;height: 20px;background-position: -93px -164px;}
.tumu .sprite-mansetler { width: 23px;height: 20px;background-position: -121px -164px;}
.tumu .sprite-moda {width: 20px;height: 20px; background-position: -151px -163px;}
.tumu .sprite-namaz-vakitleri {width: 19px;height: 21px;background-position: -181px -168px;}
.tumu .sprite-otomobil { width: 22px;height: 19px;background-position: -210px -1px;}
.tumu .sprite-oyunlar {width: 18px;height: 18px;background-position: -213px -30px;}
.tumu .sprite-politika { width: 22px;height: 20px;background-position: -212px -53px;}
.tumu .sprite-rss-servisi {width: 17px;height: 17px;background-position: -213px -81px;}
.tumu .sprite-saglik {width: 18px;height: 22px;background-position: -201px -108px;}
.tumu .sprite-saglik-ansiklopedisi {width: 16px;height: 18px;background-position: -201px -140px;}
.tumu .sprite-sans-oyunlari {width: 14px;height: 18px;background-position: -210px -168px;}
.tumu .sprite-secim {width: 20px;height: 18px;background-position: -93px -196px;}
.tumu .sprite-sinema {width: 20px;height: 20px;background-position: -123px -192px;}
.tumu .sprite-sitene-ekle {    width: 20px;height: 20px;background-position: -31px -192px;}
.tumu .sprite-sivil-toplum-kuruluslari {width: 23px;height: 20px;background-position: -210px -192px;}
.tumu .sprite-sondakika {width: 19px;height: 19px;background-position: -241px -5px;}
.tumu .sprite-spor {width: 19px;height: 19px;background-position: -245px -34px;}
.tumu .sprite-teknoloji {width: 12px;height: 19px;background-position: -245px -63px;}
.tumu .sprite-trendler {width: 20px; height: 20px;background-position: -109px -88px;}
.tumu .sprite-tv-yayin-akisi {width: 20px;height: 20px;background-position: -239px -87px;}
.tumu .sprite-universiteler {    width: 20px;height: 20px; background-position: -229px -112px;}
.tumu .sprite-video {width: 20px;height: 20px;background-position: -227px -137px;}
.tumu .sprite-yerel-haberler {width: 18px;height: 20px;background-position: -249px -138px;}
.bgspor{background:#358C2E !important;}

@media only screen and (max-width: 768px) {
    .header-top .haberler-right-menu .haberler-search .search-button {display:none !important;}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
        .header-top .haberler-right-menu .haberler-search input{height:19px;}
    .tumu .haberler-tumu-menu li a span {font-size:14px}
}

@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 600px)  { 
        .header-top .haberler-right-menu .haberler-search input{height:19px;}
        .tumu .haberler-tumu-menu li a span {font-size:14px !important}
}

@media screen and (max-width: 680px) {
   .header-top .haberler-right-menu .tumu{display: none}
   .header-top .haberler-right-menu{width: 290px;}
}
@media screen and (max-width: 610px) {
   .header-top .haberler-search-title{display: none}
   .header-top .haberler-right-menu{margin-top: 0px;width: 100%;}
   .header-top .header-left{margin: auto;float: none;margin-top: -15px;}
   .header-top .header-logo-href{padding-top: 6px;}
   .header-top .haberler-right-menu .haberler-search input{margin-top: 17px;}
   .header-top .haberler-right-menu .haberler-search{right: 0;left: 15px;margin-right: 15px;}
   .header-top .haberler-right-menu .haberler-search input{width: 94%}
}

/*HEADER END*/


/*---------L3-Default_mtrx--------------------------------*/

#header .headerRight {margin-left: 0px;}
footer {display:block;margin:0 auto;width: 100%;font-family: roboto, helvatica, arial, sans-serif; }
footer > div {width: 100%; float:left;}
.full-width {width:100%;margin:0 auto;padding: 0 10px;box-sizing: border-box;}
#f-redline {float: left;height: 40px; box-sizing: border-box;overflow: hidden; background-color:#808080; border-bottom: 6px solid #565656;}
#f-logo {display:inline-block;float:left; width: 200px !important; margin-right: 10px; margin-top:9px;}
#f-redline .links {float:left;margin-right: 0px; }
#f-redline .links > a {color: white;font-size: 16px;text-decoration: none;padding: 9px 12px; font-weight:normal; display:inline-block;}
#f-redline .social-links {float:left; position:relative;}
#f-redline .social-links > a {display: inline-block;color: #FFF;font-size: 18px;text-decoration: none;padding: 10px 6px 0 6px;}
#f-links {padding: 0 20px 20px 20px;background-color: #F5F5F5;height: 200px;overflow: hidden;box-sizing: border-box;}
#f-links > ul {display: block;float: left;width: 180px;color:#4C5153;margin:20px 20px 50px 0;padding: 0;list-style: none;}
#f-links > ul > li {padding-top:3px;}
#f-links > ul > li.header {font-weight: bold;font-size: 14px;}
#f-links > ul > li > a {text-decoration: none;font-size:14px;color:#4C5153; font-weight:normal;}
#f-links > ul > li > a:hover {color: #B20000;}
#f-copyright {font-size:12px;color:#4C5153;text-align: left;display:block;background-color: #F0F0F0; padding:6px 20px;-moz-box-sizing: border-box; box-sizing: border-box; font-weight:normal;}
.container { margin-bottom: 0;   }
.fwnrml {font-weight:normal!important;}
.facebookbegen {width:150px; height:30px;margin: 9px 0 0 10px;float:left;}
.footer-links {float:left; margin-top:20px; margin-left:15px;}
.fl-wrapper {width:100%; margin: auto;}
.menuTumu {background: url("/static/images/tumu_menu_bg2.png") no-repeat right 0; width:980px; height:405px; margin:0px 0 50px 0; float:left;}
.menuTumu .part {width: 196px;height: 335px; float:left; padding-top:6px;}
.menuTumu .part a{font-size: 14px;color: #000;margin: 11px 0 2px 40px;text-decoration: none;float: left;width: 196px;font-weight: normal;height: 18px;}
.menuTumu .part a:hover{ text-decoration: underline; }
.footer-links-top {float:left; width:100%; margin-bottom: 50px; padding-bottom:15px;}
.footer-links-top li {float:left; width:110px; margin:3px 0; list-style:none;}
.footer-links-top a {font-size: 12px; color: #605858; font-weight: bold;} 
.flt-coloum-1 {width:340px; height:400px; float:left; margin-right:20px; margin-bottom:30px; border-right:1px solid #dedede; margin-left:20px;}
.flt-coloum-2 {float:left; height:400px; margin-right:20px; margin-bottom: 30px; width:600px; border-right:1px solid #dedede; color: #000;}
.flt-coloum-3 {float:left; width:600px; height:400px; margin-bottom: 30px; color: #000;}
.flt-coloum-1 ul {width:110px; float:left;}
.flt-coloum-2 ul {width:99px; float:left;}
.flt-coloum-2 li {width:90px !important;}
.flt-coloum-3 li {width:150px !important;}
.flt-coloum-3 ul {width:150px; float:left;}
.report {margin-bottom: 60px !important;}
.clear {clear:both;}

@media screen and (max-width: 1090px) {
    #f-redline .links > a {font-size:15px;padding: 0 8px;}
    #f-redline .social-links > a {padding: 10px 0px 0 6px;}
}


/*-----------------------------------------*/


/*------L1---ust_ince_menu--------------------------------*/

.ust_ince_men {width: 980px;}
.ust_ince_men .ince_menu_topNav{margin:0 auto;}
.ust_ince_men .ince_menu_topNav{background:#666; height:24px; margin-bottom:1px;}
.ust_ince_men .ince_menu_topNav a{color:#fff;display:block; float:left; text-decoration:none; position:relative;height:24px; font-size: 12px; font-family: Arial, Helvetica, sans-serif; padding-top: 5px; box-sizing: border-box; font-weight: normal;}
.ust_ince_men .ince_menu_topNav a:hover {text-decoration:none;}

.ust_ince_men .ince_menu_topNav .ust_banner {padding: 6px 15px 0px 10px;}
.ust_ince_men .ince_menu_topNav a span{ padding:0 8px 0 8px; height:24px;}
.ust_ince_men .ince_menu_topNav a .u_active{display:inline-block;}

.ust_ince_men .ince_menu_topNav .u_kirmizi:hover,
.ust_ince_men .ince_menu_topNav .u_kirmizi .u_active{background:#fe0002;}

.ust_ince_men .ince_menu_topNav .u_kirmiziTon:hover,
.ust_ince_men.ince_menu_topNav .u_kirmiziTon .u_active{background:#ef6649;}

.ust_ince_men .ince_menu_topNav .u_kirmiziTon1:hover,
.ust_ince_men .ince_menu_topNav .u_kirmiziTon1 .u_active{background:#A92B6D;}

.ust_ince_men .ince_menu_topNav .u_mor:hover,
.ust_ince_men .ince_menu_topNav .u_mor .u_active{background:#800080;}

.ust_ince_men .ince_menu_topNav .u_maviTon:hover,
.ust_ince_men.ince_menu_topNav .u_maviTon .u_active{background:#00cfff;}

.ust_ince_men .ince_menu_topNav .u_yesil:hover,
.ust_ince_men .ince_menu_topNav .u_yesil .u_active{background:#99cc00;}

.ust_ince_men .ince_menu_topNav .u_sari:hover,
.ust_ince_men .ince_menu_topNav .u_sari .u_active{background:#ffcc01;}

.ust_ince_men .ince_menu_topNav .u_turuncu:hover,
.ust_ince_men .ince_menu_topNav .u_turuncu .u_active{background:#e67e22;}

.ust_ince_men .ince_menu_topNav .u_pembe:hover,
.ust_ince_men .ince_menu_topNav .u_pembe .u_active{background:#D894C3;}

.general {float: left;height: auto;margin: 0;min-height: 10px;padding: 0;}
/*-----L1--inc_ust_kayan_haberler----------------------------------*/

@media screen and (max-device-width: 768px){
    #f-logo {
        width: 130px !important;
        margin-top: 12px;
    }
    #f-logo  img {
        width: 130px !important;
    }
    .links a:nth-of-type(2) {
        display: none;
    }
    #f-redline .links > a {
        padding: 10px 6px 0 6px;
    } 
    .links {
        margin-left: 5px;
    }
}