/* 
    Created on : 24.Ara.2015, 18:00:10
    Author     : ismail hakki eren
*/

/******* clearfix **********/

.clr:before,
.clr:after {
    content: "";
    display: table;
}
.clr:after {
    clear: both;
}
.clr {
    zoom: 1;
    display: inline-block;
}
/******* clearfix **********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {margin: 0;padding: 0;font-family: 'Roboto', sans-serif;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
input:focus {outline:0;}
a{text-decoration: none}
b, strong, th {font-weight: bold;}
input, textarea, keygen, select, button {font: 13.3333px Roboto;}


* {-webkit-box-sizing: border-box;box-sizing: border-box;}
a{text-decoration: none}
.clear{clear:both;}
.divider{height: 20px;}
body{font-family: Roboto , sans-serif;}
.grey{background: #f4f4f4;}


/*Haberler Sprite Picture*/
.sprite {background-image: url(/static/new-images/haberler-sprite.png);background-repeat: no-repeat;display: block;}
.sprite-btn-ara {width: 65px;height: 30px;background-position: -5px -5px;}
.sprite-dislike {width: 14px;height: 13px;background-position: -80px -5px;}
.sprite-footer-logo {width: 200px;height: 21px;background-position: -104px -5px;}
.sprite-haberler {width: 340px;height: 36px;background-position: -5px -45px;}
.sprite-like {width: 14px;height: 13px;background-position: -314px -5px;}
.sprite-social-facebook {width: 20px;height: 20px;background-position: -5px -91px;}
.sprite-social-google {width: 20px;height: 20px;background-position: -35px -91px;}
.sprite-social-instagram {width: 20px;height: 20px;background-position: -65px -91px;}
.sprite-social-twitter {width: 20px;height: 20px;background-position: -95px -91px;}
.sprite-yorum2 {width: 14px;height: 11px;background-position: -125px -91px;}
/*Haberler Sprite Picture END*/

/*GENEL*/
.wrapper{margin: auto;display: block;overflow: hidden;width: 1261px;}
.wrapper .haberler-top{width: 100%;overflow: hidden; margin-top:17px;}
.wrapper .haberler-top .haberler-top-left{width: 940px;float: left;}
.wrapper .haberler-top .haberler-top-right{width: 300px;float: left;margin-left: 20px;}
.wrapper .haberler-bottom{width: 100%;overflow: hidden;min-width: 940px; margin:17px 0 50px 0;}
.wrapper-detay{margin: auto;display: block;overflow: hidden;width: 1003px;}
.wrapper-detay .detay-left{float: left;width: 640px;}
.wrapper-detay .detay-right{float: left;width: 300px;margin-left: 60px}
.clear {clear:both;}
/*GENEL END*/

/*Ana Slider Yanı Haber Listesi*/
.wrapper .haberler-list{float:left;width: 240px;height: 395px;background: #fff;margin-left: 20px;padding-top: 20px;}
.wrapper .haberler-list li{overflow: hidden;margin-bottom: 33px;}
.wrapper .haberler-list li a{color:#000000;}
.wrapper .haberler-list li a:hover{font-weight:normal; font-size:16px;}
.wrapper .haberler-list .haber-sayi{float:left;width: 40px;text-align: center;font-size: 18px;color:#26262b;font-weight: 100;}
.wrapper .haberler-list .haber-yazi{float:left;width: 200px;padding-right: 5px;}
/*Ana Slider Yanı Haber Listesi END*/

/*Alt Manşetler*/
.alt-mansetler .solkutu{height: 30px;color:#fff;font-size: 15px;position: absolute;padding: 6px 11px 0px 10px; z-index:1;}
.alt-mansetler .magazin{background: #279bd7;}
.alt-mansetler .magazin-wrapper{width: 460px;height: 276px;float: left;}
.alt-mansetler .bx-wrapper .bx-viewport{moz-box-shadow: 0 0 0px #ccc;-webkit-box-shadow: 0 0 0px #ccc;box-shadow: 0 0 0px #ccc;border: 0px solid #fff;left: 0px;background: #fff;-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform: translatez(0);transform: translatez(0);}
.alt-mansetler #magazin-pager {overflow:hidden;height:35px;}
.alt-mansetler #magazin-pager ul {width:100%;}
.alt-mansetler #magazin-pager li {float: left;width: 30.66px;text-align: center;height:100%;}
.alt-mansetler #magazin-pager li a{color:#000000;font-size:15px;height: 35px;display: block;height:35px;background:#279bd7; padding-top:7px;}
.alt-mansetler #magazin-pager li a:hover{font-weight:normal;}
.alt-mansetler #magazin-pager li a.active{background:#094a6c;color:#fff;}
.alt-mansetler .sporM{background: #2db26c;}
.alt-mansetler .spor-wrapperM{width: 460px;height: 276px;float:left;margin-left: 20px}
.alt-mansetler #spor-pagerM {overflow:hidden;height:35px;}
.alt-mansetler #spor-pagerM ul {width:100%;}
.alt-mansetler #spor-pagerM li {float: left;width: 30.66px;text-align: center;height:100%;}
.alt-mansetler #spor-pagerM li a{color:#000000;font-size:15px;height: 35px;display: block;height:35px;background:#2db26c;padding-top: 7px;}
.alt-mansetler #spor-pagerM li a:hover{font-weight:normal;}
.alt-mansetler #spor-pagerM li a.active{background:#085a2f;color:#fff;}
.alt-mansetler .reklam{float:left;margin-left: 20px}
@media screen and (max-width: 1261px) {
    .alt-mansetler .reklam{display: none}
}
/*Alt Manşetler END*/


/*Haberler Grid System*/
.wrapper .haberler-bottom .haberler-grids {margin-top: 17px;}
.wrapper .haberler-bottom .grid:after {content: '';display: block;clear: both;}
.wrapper .haberler-bottom .grid2 {margin-top: 15px;}
.wrapper .haberler-bottom .haberler-item {width: 300px;height: 250px;float: left;overflow: hidden;background: #ffffff;margin-bottom:0px !important}
.wrapper .haberler-bottom .haberler-title{font-size: 18px;padding-left: 10px;padding-right: 10px;margin-top: 5px;color:#000000;}
/*.wrapper .haberler-bottom .haberler-grid-img{width: 100%;}*/
.wrapper .haberler-bottom .haberler-item .haberler-grid-div{max-height: 151px;overflow:hidden; width: 300px; margin-bottom: 5px}
.wrapper .haberler-bottom .vertical { width: 620px; }
.wrapper .haberler-bottom .vertical .spot {font-size: 14px;padding: 10px;color: #666;float: right;max-width: 250px;padding-left: 15px;padding-right: 2px;}
.wrapper .haberler-bottom .vertical .haberler-title{float: right;max-width: 245px;padding-left: 10px;margin-top: 20px;padding-right: 2px;}
.wrapper .haberler-bottom .vertical .haberler-grid-div{max-height:300px;height: 300px;max-width: 373px;overflow:hidden;float: left !important;}
.wrapper .haberler-bottom .vertical .haberler-grid-img{max-height: 100%;width: 100%;}
.wrapper .haberler-bottom .horizontal { height: 520px; }
.wrapper .haberler-bottom .horizontal .spot {font-size: 14px;padding: 10px;color: #666;}
.wrapper .haberler-bottom .horizontal .haberler-title{font-size: 21px;padding-left: 10px;padding-right: 5px;margin-top: 15px;color:#000000;}
.wrapper .haberler-bottom .horizontal .haberler-grid-div{width: 300px;max-height:390px;overflow:hidden}
.wrapper .haberler-bottom .horizontal .haberler-grid-div .haberler-grid-img{width: 300px;}
.wrapper .haberler-bottom a, .wrapper .haberler-bottom a:active, .wrapper .haberler-bottom a:visited {color: none;cursor: pointer ;font-weight: normal;text-decoration: none;font-size:21px;}

/*Haberler Grid System END*/

/*Haber Detay*/
.wrapper-detay .detay-left h1{font-size: 46px;margin-top: 30px;}
.wrapper-detay .detay-left h2{font-size: 36px;margin-top: 20px;}
.wrapper-detay .detay-left h3{font-size: 26px;margin-top: 45px;font-weight: bold;}
.wrapper-detay .detay-left .detay-date{font-size: 16px;margin-top: 30px;}
.wrapper-detay .detay-left .detay-content{font-size: 22px;margin-top: 60px;}
.wrapper-detay .detay-left .detay-image{}
.wrapper-detay .detay-left .detay-video{margin-top: 55px;}
.wrapper-detay .detay-left .detay-list{font-size: 22px;margin-top: 25px;list-style-type:disc;margin-left: 23px;}
.wrapper-detay .detay-left .detay-slider{margin-top: 55px;}
.wrapper-detay .detay-left .bx-wrapper .bx-viewport{background: #3f3f3f;moz-box-shadow: 0 0 0px #ccc;-webkit-box-shadow: 0 0 0px #ccc;box-shadow: 0 0 0px #ccc;border: 0px solid #fff;left: 0px;background: #fff;-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform: translatez(0);transform: translatez(0);}
.wrapper-detay .detay-left .bx-wrapper .bx-viewport li{background:#3f3f3f;}
.wrapper-detay .detay-left .bx-wrapper .bx-viewport img{margin: auto;}
.wrapper-detay .detay-left .bx-wrapper .bx-pager.bx-default-pager a{background: #c5c5c5;}
.wrapper-detay .detay-left .bx-wrapper .bx-pager.bx-default-pager a:hover, .wrapper-detay .detay-left .bx-wrapper .bx-pager.bx-default-pager a.active{background: #3f3f3f;}
.wrapper-detay .detay-left .detay-news{width: 100%;background: #26262b;color:#ffffff;font-size: 26px;position: relative;margin-top: 150px;}
.wrapper-detay .detay-left .detay-news .detay-news-title{text-align: center;font-size: 16px;padding-top: 19px;z-index: 1;display: block;position: inherit;background: #26262b;width: 150px;margin: auto;}
.wrapper-detay .detay-left .hr{border: 0;border-top: 2px solid #3b3b40;position: absolute;margin-top: -9px;height: 2px;width: 100%;}
.wrapper-detay .detay-left .detay-news-list{padding-left: 46px;padding-right: 5px;overflow: hidden;padding-bottom: 25px;margin-top: 38px;}
.wrapper-detay .detay-left .detay-news-list li {clear: both;margin-bottom: 25px;display: block;overflow: hidden;}
.wrapper-detay .detay-left .detay-news-list .detay-news-list-image{float: left;width: 93px;}
.wrapper-detay .detay-left .detay-news-list .detay-news-list-content{float: left;width: calc(100% - 111px); color:#ffffff;margin-left: 18px;margin-top: 20px;}
.wrapper-detay .detay-image-after{border-left:4px solid #c40812;padding: 10px 5px 15px 10px;color:#5a5a5a;font-size: 18px;margin-top: -2px;}
.wrapper-detay .detay-right .detay-list-news{overflow: hidden;}
.wrapper-detay .detay-right .detay-list-news li{position: relative;margin-bottom: 42px;}
.wrapper-detay .detay-right .detay-list-news li a{min-height: 235px;display: block;}
.wrapper-detay .detay-right .detay-list-news .detay-dark{width: 276px;min-height: 99px;overflow: hidden;text-overflow: ellipsis;background-color: rgba(0, 0, 0, 0.7);position: absolute;margin-top: -22px;color: #fff;padding: 13px 10px;font-size: 20px;margin-left: 10px;}
/*Haber Detay END*/

/*Comment*/
.comment{padding:15px;background-color: #ebebeb; border-radius: 5px;margin-top: 89px;padding-bottom: 30px;}
.comment input, .comment textarea{outline: none;}
.comment .comment-count{font-size: 22px;padding-top: 11px;padding-bottom: 28px;}
.comment .comment-form{}
.comment .comment-textarea{width: 99%;min-height: 65px;border-radius: 5px;padding: 5px;border:1px solid #e1e1e1;}
.comment .comment-input{width: calc(100% - 170px);border:1px solid #e1e1e1;height: 41px;border-radius: 5px;padding-left: 11px;}
.comment .comment-button{width: 149px;border: 1px solid #e1e1e1;background: #c30712;border-radius: 5px;height: 41px;padding: 3px;font-size: 15px;color: #fff;margin: 9px 0px 0px 11px;}
.comment .comment-notification{margin-top: 20px;font-size: 13px;}
.comment .comment-notification .succes{background:#b9f0bd;padding: 5px;border-radius: 5px;}
.comment .comment-notification .alert{background:#c30712;color:#ffffff;padding: 5px;border-radius: 5px;}
.comment .comment-reply{margin:0px 0 0px 72px;border-left: 3px solid #E1E1E1;width:auto;padding:10px 10px;clear: left;margin-top: 20px;}
.comment .comment-panel{margin: 7px 10px 2px 20px;height: 20px;}
.comment .comment-list li{margin-bottom: 10px;margin-top: 35px;}
.comment .comment-list .comment-content{color:#494949;margin-top: 8px;display: block;}
.comment .comment-right{float:right;}
.comment .comment-right .answer-link{width:68px;height:16px;cursor:pointer;float:left;padding:1px 1px 8px 0px;color: #6d6d6d;font-size: 13px;}
.comment .comment-right .like{padding: 0px 1px 2px 26px;margin:2px 5px 0 20px;float:left;font-weight:normal; font-size: 13px;color: #6d6d6d;text-decoration: none;}
.comment .comment-right .dislike{padding: 0px 1px 2px 23px;margin:2px 0 0 10px;float:left;font-weight:normal; font-size:14px;color: #6d6d6d;text-decoration: none;}
.comment .comment-right .complaint{width:92px;height:16px;cursor:pointer;float:left;padding:3px 0px 0px 0px;color: #6d6d6d;font-size: 12px;text-align:right;margin-left: 10px;}
.comment .commen-info{font-size: 12px;font-weight: normal;color: #777777;margin-top: 20px;display: block;}
/*Comment END*/

/*Footer*/
.footer{margin-top: 10px}
.footer .footer-logo{float: left;width: 248px;margin-top: 9px;margin-left: 20px;}
.footer .footer-logo img{margin-left: 10px;}
.footer .footer-first-bar{height: 40px;box-sizing: border-box;overflow: hidden;background-color: #808080;border-bottom: 6px solid #565656;}
.footer .footer-first-bar .links{float: left;margin-right: 40px;}
.footer .footer-first-bar .links a{color: white;font-size: 16px;padding: 0 12px;font-weight: normal;}
.footer .footer-first-bar .social-links a{display: inline-block;color: #FFF;font-size: 18px;padding: 10px 6px 0 6px;}
.footer .footer-second-bar{padding: 0 20px 20px 20px;background-color: #F5F5F5;height: 200px;overflow: hidden;box-sizing: border-box;}
.footer .footer-second-bar > ul{display: block;float: left;width: 180px;color: #4C5153;margin: 20px 20px 50px 0;padding: 0;list-style: none;}
.footer .footer-second-bar > ul > li > a {text-decoration: none;font-size: 14px;color: #4C5153;font-weight: normal;}
.footer .footer-second-bar > ul > li.footer-header {font-weight: bold;font-size: 14px;}
.footer .footer-second-bar > ul > li > a:hover {color: #B20000;}
.footer .footer-third-bar{font-size: 12px;color: #4C5153;text-align: left;display: block;background-color: #F0F0F0;padding: 6px 20px;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: normal;}
/*Footer END*/

/*ÇOK OKUNAN SLİDER*/
.bxslider-wrap2 {width: 940px;margin-top:20px;margin:auto;}
.wrapper .haberler-bottom ul{list-style: none;margin: 0;padding: 0;}
.wrapper .haberler-bottom .bx-wrapper .bx-viewport{-moz-box-shadow: 0 0 0px #ccc;-webkit-box-shadow: 0 0 0px #ccc;box-shadow: 0 0 0px #ccc;border: 0px solid #fff;left: 0px;background: #c8c8c8;-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform: translatez(0);transform: translatez(0);}
.wrapper .haberler-bottom .bx-viewport{padding-bottom: 9px;}
.wrapper .haberler-bottom .bx-wrapper .haberler-news{overflow: hidden}
.wrapper .haberler-bottom .bx-wrapper .haberler-news li{float:left;position: relative}
.wrapper .haberler-bottom .slider-opacity{width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.6);position: absolute;}
.wrapper .haberler-bottom .bx-wrapper .haberler-news li img{height: 360px;}
.wrapper .haberler-bottom .bx-wrapper .haberler-news .first-news{width: 110px;height: 360px;overflow: hidden;}
.wrapper .haberler-bottom .bx-wrapper .haberler-news .first-news img{max-width: none;float: right;}
.wrapper .haberler-bottom .bx-wrapper .haberler-news .second-news{width: 680px;margin-left: 20px;margin-right: 20px;}
.wrapper .haberler-bottom .bx-wrapper .haberler-news .second-news img{width: 680px;}
.wrapper .haberler-bottom .bx-wrapper .haberler-news .third-news{width: 110px;height:360px;}
.wrapper .haberler-bottom .bx-wrapper .haberler-news .third-news img{max-width: none;}
.wrapper .live-news{background: #ffea00;height: 51px;max-width: 100%;text-align: center;margin-bottom: -7px;}
.wrapper .live-news span{color:#26262b;font-size: 26px;}
.wrapper .live-news a {color:#26262b;}
.wrapper .live-news a:hover {color:#26262b;font-size: 26px;font-weight:normal;text-decoration:underline}
.wrapper .haberler-bottom .bxslider-wrap2 .bx-wrapper .bx-controls-direction a {width: 110px;height: 360px;top: 0;margin-top: 0;}
.wrapper .haberler-bottom .bxslider-wrap2 .bx-wrapper .bx-controls-direction .bx-prev {left:0;background: url("/static/new-images/slider-left.png") no-repeat}
.wrapper .haberler-bottom .bxslider-wrap2 .bx-wrapper .bx-controls-direction .bx-next {right:0;background: url("/static/new-images/slider-right.png") no-repeat}
.wrapper .haberler-bottom #cok-okunan-pager {overflow:hidden;height:32px;}
.wrapper .haberler-bottom #cok-okunan-pager ul {width:100%;}
.wrapper .haberler-bottom #cok-okunan-pager li {float: left;width: 31.33px;text-align: center;height:100%;}
.wrapper .haberler-bottom #cok-okunan-pager li a{color:#000000;font-size:16px;display: block; padding-top:4px; height:29px;background:#fff;}
.wrapper .haberler-bottom #cok-okunan-pager li a:hover{font-weight:normal;}
.wrapper .haberler-bottom #cok-okunan-pager li a.active{background:#fb0d1b;color:#fff;}
/*ÇOK OKUNAN SLİDER END*/

/*Arama Otomatik Tamamlama*/
#terim-popup{width:284px;z-index:9999;}
.autocomplete{position:absolute;color:#000000;background-color:#ffffff;border:thin outset #c6c6c6;visibility:hidden;font-size:11px;font-family:"Roboto" Arial;width:288px;}
.autocomplete ul{padding:0;margin:0;}
.autocomplete li{display:block;cursor:pointer;margin:1px;padding-left:5px;padding-right:5px;list-style:none;text-align:left;}
.autocomplete li.selected{background-color:#3399ff;color:#fff;list-style:none;text-align:left;}


/* En alttaki Widget*/
.widget-item {display: block;width: 300px;height: 194px;float: left;margin-right: 0px;margin-bottom: 30px;box-sizing: border-box;margin-top: 10px;}
.widget-header {height: 46px; padding: 9px 6px; 0px}
.widget-header > a.head {float:left;font-size:20px;color: #111;text-decoration: none;font-weight:normal!important;}
.widget-header > a.detail {float:right;font-size:12px;color: #D80000;text-decoration: none;font-weight:normal!important;}
.div20 {height:20px;}
.div40 {height:40px;}
.mtgww{margin:20px 10px 0 5px;}

/* Astroloji */
.widget-header.bg-astroloji {background: url("http://static.haberler.com/static/images/stripe-astroloji.jpg") no-repeat bottom;}
ul.astroloji-row > li {display: block;list-style: none;float:left;width: 16.66%;border-right: 1px solid #fff;box-sizing: border-box;background: #FCFCFC;}
ul.astroloji-row > li:hover {background: #e9e9e9;}
ul.astroloji-row > li:last-child {border:0;}
ul.astroloji-row > li > a {color:#000;text-decoration: none;}
span.burclar-sprite {background-image: url("http://static.haberler.com/static/images/burclar-sprite.png");background-repeat: no-repeat;display: block;width:100%;height: 56px;}
span.burc-title{display:block;background: #d7d7d7;font-size:11px;height:18px; padding-top:3px; center;display:block;text-decoration: none;}
span.burclar-sprite.koc {background-position: 9px 5px; }
span.burclar-sprite.boga {background-position: -204px -65px;}
span.burclar-sprite.ikizler {background-position: -149px 5px;}
span.burclar-sprite.yengec {background-position: -151px -65px;}
span.burclar-sprite.aslan {background-position: -205px 5px}
span.burclar-sprite.basak {background-position: 7px -66px;}
span.burclar-sprite.terazi {background-position: -47px -65px;}
span.burclar-sprite.akrep {background-position: -254px 5px;}
span.burclar-sprite.yay {background-position: -98px -67px;}
span.burclar-sprite.oglak {background-position: -98px 5px;}
span.burclar-sprite.kova {background-position:-253px -65px;}
span.burclar-sprite.balik {background-position: -44px 5px;}
/* Astroloji END */

/* Şans Oyunları */
.widget-header.bg-sansoyunlari {background: url("http://static.haberler.com/static/images/stripe-sansoyunlari.jpg") no-repeat bottom;}
.widget-body.bg-sansoyunlari { background: #FFFCF2;}
table.sansoyunlari {border-collapse: collapse; text-align:center;}
table.sansoyunlari tr {border-bottom:1px solid #D7D7D7;}
table.sansoyunlari tr:last-child { border:0;}
table.sansoyunlari tr td:first-of-type {padding:5px 10px 0px;}
table.sansoyunlari tr td:nth-of-type(2n){width: 80%;padding: 10px 0;vertical-align: middle;}
table.sansoyunlari td:last-child {border: 0;}
table.sansoyunlari span.smaller {font-size: 11px; display:block;text-align:center; padding:5px 0;}
    table.sansoyunlari tr:nth-of-type(4) td:nth-of-type(2) {
    padding: 2px;
    }
/* Şans Oyunları END */

/* Hava durumu */
.widget-header.bg-havadurumu {background: url("http://static.haberler.com/static/images/stripe-havadurumu.jpg") no-repeat bottom;}
.widget-body.havadurumu {background: url("http://static.haberler.com/static/images/bg-havadurumu.jpg") no-repeat center;height: 194px;background-size: cover;}
.havadurumu > .left {position: relative;width: 137px;float: left;margin-right: 8px;text-align: center;padding-top: 10px;}
.havadurumu > .left > a {font-size:12px;text-decoration: none;color:#111;display: inline-block;font-weight:normal;text-decoration:underline;}
.havadurumu > .left img {margin-bottom:5px;}
.havadurumu > .right {position: relative;width: 145px;float: left; padding-top: 12px;}
.havadurumu > .right > span {display:block;}
.havadurumu > .right > span.wid-type1 {font-size:16px;color:#E70E0E; margin: 0 0 2px 0}
.havadurumu > .right > span.wid-type2 {color:#E70E0E;font-sizE:34px;font-weight: bold;}
.havadurumu > .right > span.wid-type3 {font-size: 14px; color: #000; padding-top:4px;}

/* Hava durumu END */

/* Namaz vakitleri */
.widget-header.bg-namazvakitleri {background: url("http://static.haberler.com/static/images/stripe-namazvakitleri.jpg") no-repeat bottom;}
.widget-body.namazvakitleri { background: #FCFCFC; margin-top:15px;}
.widget-body.namazvakitleri > .left {position:relative;width: 114px;float: left;margin-right: 2px;text-align: center;padding-top: 10px;}
.widget-body.namazvakitleri > .right {position: relative;width: 178px;float: right;padding-top: 4px;padding-right: 2px;box-sizing: border-box;}
.namazvakitleri .nv-group {border-radius: 5px;background-color: #F1F1F1;height: 24px; margin-bottom:4px; padding: 3px 4px; width:155px;}
.nv-group > span:nth-of-type(1) {display: inline-block;width: 60px;float:left;text-indent: 4px;}
.nv-group > span:nth-of-type(2) {display: inline-block;width: 15px;padding: 0 4px;float:left;text-align: center;}
.nv-group > span:nth-of-type(3) {display: inline-block;width: 50px;text-align: right;float:left;}
/* Namaz vakitleri END*/

/* Döviz Bilgileri */
.widget-header.bg-dovizbilgileri {background: url("http://static.haberler.com/static/images/stripe-doviz.png") no-repeat bottom;}
.widget-body.dovizbilgileri { background: #FCFCFC; overflow: hidden;}
.dovizbilgileri > table {border-collapse: collapse;width:100%;}
.dovizbilgileri > table thead tr {background: url("http://static.haberler.com/static/images/bg-doviz-table.png") repeat-x;height: 25px;border-bottom: 1px solid #dfdfdf;}
.dovizbilgileri > table thead tr td {font-size:12px;font-weight: bold;padding:5px 0 0 6px; border-right: 1px solid #dfdfdf; text-align: center}
.dovizbilgileri > table thead tr td:last-child {border: 0;}
.dovizbilgileri > table tbody tr {border-bottom: 1px solid #dfdfdf;}
.dovizbilgileri > table tbody tr:nth-of-type(even) {background-color: #f8f8f8;}
.dovizbilgileri > table tbody tr:last-child {border-bottom: 0;}
.dovizbilgileri > table tbody tr td {font-size:14px; padding: 8px 0 8px 6px; border-right: 1px solid #dfdfdf;}
.dovizbilgileri > table tbody tr td a {text-decoration: none;color:#000;font-weight:normal;}
.dovizbilgileri > table tbody tr td:last-child {border:0;}
.dovizbilgileri > table tbody tr td.text-right {text-align:right;padding-right: 6px;}
.dovizbilgileri > table tbody tr td.yon {text-align:center;padding-right: 6px;}
.dovizbilgileri > table tbody tr td.red {color: red;}
.dovizbilgileri > table tbody tr td.green {color: #00b600;}
.dovizbilgileri > table thead tr td:nth-of-type(2) {padding: 0;}
.dovizbilgileri > table thead tr td:nth-of-type(1) {text-align: left;}
/* Döviz Bilgileri END */

/* Yayın akışı */
.widget-header.bg-yayinakisi {background: url("http://static.haberler.com/static/images/stripe-yayinakisi.png") no-repeat bottom;}
.widget-body.yayinakisi { background: #FCFCFC; overflow: hidden;}
.yayinakisi ul {display: block;margin:0;padding:0;height: 77px;}
.yayinakisi > ul.border {border-bottom: 1px solid #fff;box-sizing:border-box;}
.yayinakisi > ul > li {display: block;list-style: none;float:left;width: 25%;border-right: 1px solid #fff;box-sizing: border-box;background: #FCFCFC;}
.yayinakisi > ul > li:hover {background: #e9e9e9;}
.yayinakisi > ul > li:last-child {border:0;}
.yayinakisi > ul > li > a {color:#000;text-decoration: none;}
/* Yayın akışı END */
/* En alttaki Widget END*/

/*Kategori Sayfaları*/
.hbrListLink {color: #000;}
.divlinkA {font-size: 19px!important;margin-top: 5px;padding: 10px;display: block;font-weight: normal;}
.divboximgA {overflow: hidden;width: 300px;height: 150px;float: left;text-align: center;margin-bottom: 10px;box-sizing: border-box;float: none !important;border: 0 !important;}
.divboximgA > img {width: 300px}
.divboximgB {overflow: hidden;width: 300px;max-height: 390px;float: left;margin-bottom: 10px;border: 3px solid #fff;box-sizing: border-box;float: none !important;border: 0 !important;}
.divlinkB {font-size: 19px!important;margin-top: 5px;padding: 10px;display: block;font-weight: normal;}
.divboximgB > img {width: 300px;}
.spotlink {font-size: 14px!important;padding: 0 10px 10px 10px;color: #666 !important;display: block;font-weight: normal;}
/*Kategori Sayfaları End*/

/* Gazeteler */
.newspaperThumbs3 ul li {width: 134px;margin-right: 15px;float: left;margin-left: 10px;height:200px; margin-top:12px;}
.tpblm {width: 250px;float: left;color: #000;}
.gazeteler {width:100%; margin:auto;}
.gazeteler .box {overflow: hidden; height: 265px; margin: 30px 0px 0 0px;}
.newspaperThumbs3 ul {width: 100%;height: 200px;overflow: hidden;}
.gazeteler h2 {float:left; margin-bottom:10px; margin-left:20px;}
/*Gazeteler END*/

/* REKLAM */
#mustheadAdd {width: 960px;height: 275px;margin:0 auto 10px auto;padding-bottom: 10px;}
/* REKLAM END*/


/*ÇOK OKUNAN SLİDER*/
.bxslider-wrap3 {width: 940px;margin-top:20px;margin:auto;}
 ul{list-style: none;margin: 0;padding: 0;}
 .bx-wrapper .bx-viewport{-moz-box-shadow: 0 0 0px #ccc;-webkit-box-shadow: 0 0 0px #ccc;box-shadow: 0 0 0px #ccc;border: 0px solid #fff;left: 0px;background: #c8c8c8;-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform: translatez(0);transform: translatez(0);}
 .bx-viewport{padding-bottom: 9px;}
 .bx-wrapper .haberler-news{overflow: hidden}
 .bx-wrapper .haberler-news li{float:left;position: relative}
 .slider-opacity{width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.6);position: absolute;}
 .bx-wrapper .haberler-news li img{height: 360px;}
 .bx-wrapper .haberler-news .first-news{width: 110px;height: 360px;overflow: hidden;}
 .bx-wrapper .haberler-news .first-news img{max-width: none;float: right;}
 .bx-wrapper .haberler-news .second-news{width: 680px;margin-left: 20px;margin-right: 20px;}
 .bx-wrapper .haberler-news .second-news img{width: 680px; max-width: none;}
 .bx-wrapper .haberler-news .third-news{width: 110px;height:360px;}
 .bx-wrapper .haberler-news .third-news img{max-width: none;}
.wrapper .live-news{background: #ffea00;height: 51px;max-width: 100%;text-align: center;margin-bottom: -7px;}
.wrapper .live-news span{color:#26262b;font-size: 26px;}
.wrapper .live-news a {color:#26262b;}
.wrapper .live-news a:hover {color:#26262b;font-size: 26px;font-weight:normal;text-decoration:underline}
 .bxslider-wrap3 .bx-wrapper .bx-controls-direction a {width: 110px;height: 360px;top: 0;margin-top: 0;}
 .bxslider-wrap3 .bx-wrapper .bx-controls-direction .bx-prev {left:0;background: url("/static/new-images/slider-left.png") no-repeat}
 .bxslider-wrap3 .bx-wrapper .bx-controls-direction .bx-next {right:0;background: url("/static/new-images/slider-right.png") no-repeat}
 #manset-big-pager {overflow:hidden;height:29px;}
 #manset-big-pager ul {width:100%;}
 #manset-big-pager li {float: left;width: 31.33px;text-align: center;height:100%;}
 #manset-big-pager li a{color:#000000; font-size:16px; height: 32px; display: block; padding-top:4px; background:#fff;}
 #manset-big-pager li a:hover{font-weight:normal;}
 #manset-big-pager li a.active{background:#fb0d1b;color:#fff;}

.wrapper .haberler-top .live-news2{background: #ffea00;height: 125px;max-width: 950px;text-align: center;margin-top: 17px;padding: 16px;text-align: left;}
.wrapper .haberler-top .live-news2 span{color:#26262b;font-size: 20px;font-weight: bold}
.wrapper .haberler-top .live-news2 span a:hover{color:#26262b;font-size: 20px;font-weight: bold}
/*ÇOK OKUNAN SLİDER END*/


/*Footer Ezme*/
.imgThumb.thumb124x183_v2 img {left:0;top:0;}
footer .header {min-height: 0;width: 100%;background: transparent;}
.tpblm a, a:hover {font-size: 12px;color: #605858;font-weight: bold;}
.inner h2 a{color: #000;font-weight:bold;font-size: 15px;}
.inner h2 a:hover{color: #c00;}
#kapatButonu span {font-size: 12px;}
.widget-item a {font-size: 14px !important;}
/*Footer Ezme END*/

/*RESPONSIVE*/
@media screen and (max-width: 1261px) {
    .wrapper{width: 100%;padding-left:15px}
    .haberler-top-right{display: none}
}
@media screen and (max-width: 1003px) {
    .wrapper-detay{width: 100%;}
    .wrapper-detay .detay-right{display: none;}
    .wrapper-detay .detay-left{width: 98%;margin-left: 15px;margin-right: 5px}
}
@media screen and (max-width: 880px) {
   .header .search-div{margin-right: 5px;}
   .header .search-div .search-bar{width: 250px;}
}

@media screen and (max-width: 650px) {
    .wrapper-detay img{width: 100%}
    .wrapper-detay .detay-left{margin-left: 5px;margin-right: 5px}
    .wrapper-detay .detay-left h1{font-size: 30px;}
    .wrapper-detay .detay-left h2{font-size: 20px}
    .wrapper-detay .detay-left h3{font-size: 18px;}
    .wrapper-detay .detay-left .detay-content{font-size: 16px;}
    .wrapper-detay .detay-left .detay-list{font-size: 16px;}
    .wrapper-detay .detay-left .detay-news-list .detay-news-list-content{font-size:16px;}
}
@media screen and (max-width: 350px) { 
    .sprite-haberler{background-size: 100%;width: 90%;background-position: -5px -31px;}
}
/*RESPONSIVE END*/

.araclar strong {
    font-weight: normal!important;
}
 
.bollsag strong {
    color: inherit !important;
    text-decoration: none !important;
}


.bollsag {
    margin: 11px;
    float: left;
}
 
.araclar{
    float: right;
    margin: 0 0 10px 0;
}
.araclar strong {
    font-weight: normal!important;
}
.konuaraclari {
    background: url('/static/images/rss-sitene-ekle.png') no-repeat;
    float: right;
    margin-top: 7px;
}
.konuaraclari a.rss {
    width: 72px;
    height: 22px;
    float: left;
    display: block;
}
.konuaraclari a.sitene-ekle {
    width: 102px;
    height: 22px;
    float: left;
    display: block;
    margin-left: 7px;
}
.w98 {width:98px !important;}
.bollsag {
    margin: 5px 15px 0 0 ;
    float: right;
}

h1, h1 a, h1 a:active, h1 a:visited {
    color: #c00;
    font-size: 29px;
}

.araclar-row {
    width: 100%;
    display: inline-block;
}
.nav1, a:link.nav1, a:visited.nav1{font-size:10pt;color:#666;font-family:"Roboto" Arial;text-decoration:none;font-weight:normal;}

.bollsag strong{color:inherit !important; text-decoration:none !important;}

.bollalt {
 
} 
.bollsolalt {

float:left;
width:370px;
margin-top:15px;
}


.bollsagalt {
position:relative;
height:90px;
float:right;
width:250px;
}

	
#contentTop { 
	margin: 10px 0;
    height:auto;  
    width:100%;
    float:left;
}

#contentTop h1 {
    float: left;
    height: 42px;
    font-weight:bold;
}

.videoSocialShare {
  float: right;   
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
    #contentTop {
        width: 940px;
    }
}

/****anasayfa canlı******/

.canliBox {
    background: #ffea00;
    height: 50px;
    width: 970px; 
    margin:10px auto 0 auto;  
}

.canliBox .canli_text {
  color: #26262b; 
  font-size: 22px; 
  font-weight: bold; 
  padding:12px 10px 0 10px; 
  display:block; 
  float:left
}
.canliBox .canli_img {
    float:left; 
    margin-right:10px
}

.canliBox .canli_a{ 
    color: #26262b;
    font-weight: 500;
    font-size: 22px;
    padding: 11px 0 0 10px;
    display: block;
}
.canliBox .canli_a:hover{
    text-decoration:underline !important; 
    color:#26262b;
    font-weight: 500 !important;
    font-size: 22px !important;
}