@charset "utf-8";
/* Reset
------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
	font-size: 100%;
}
@media screen and (max-width: 760px){
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	img{
		width: 100%;
		height: auto;
		line-height:1;
	}
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}
html{
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
}
blockquote,q{
	quotes: none;
}
blockquote:before,blockquote:after,
q:before,q:after{
	content: '';
	content: none;
}
input,textarea{
	margin: 0;
	padding: 0;
}
ol,ul{
	list-style:none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
caption,th{
	text-align: left;
}
a:focus{
	outline: none;
}
/* Basic
------------------------------------------------------*/
body{
	height:100%;
	line-height:1.6;
	color:#333333;
	font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	font-size: 100%;
}

/* Link
------------------------------------------------------*/
a{
	color:#1179a1;
	text-decoration:none;
}
a:hover{/*
	text-decoration:none;*/
}
/* clearfix
------------------------------------------------------*/
.clearfix:after,
.clearfix:before{content:"";display:block}
.clearfix:after{clear:both}
.clearfix{zoom:1}