@charset "utf-8";
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Layout（ワイヤー要素、ブロック要素）
(ex).box...
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* wrapper
------------------------------------------------------*/
@media screen and (max-width: 760px){
	#wrapper{
		background: #fff;
	}
}
/* Header
------------------------------------------------------*/
.gheader{
	padding: 20px 20px 0 20px;
	z-index:100;
}
@media screen and (max-width: 760px){
	.gheader,.siteTop .gheader{
		padding: 8px 0 10px;
	}
}
/*　パンくず
------------------------------------------------------*/
.siteTop #breadC{ display: none; }
/* Footer
------------------------------------------------------*/
footer{ background: #fff; }
@media screen and (max-width: 760px){
	footer{
		background: #f9f9f9;
	}
}
/* gnav
------------------------------------------------------*/
.gnav{float: right;}
@media screen and (max-width: 760px){
	.gnav{float: none;}
}
/* sideNav
------------------------------------------------------*/
.sideNav{
	position: fixed;
	z-index: 100;
	left: -113px;
	top: 105px;
}
@media screen and (max-width: 760px){
	.sideNav{position: static;}
}
#breadC{
	margin: 82px auto 0;
	width: 960px;
	height: 34px;
	background: #f0f0f0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@media screen and (max-width: 760px){
	#breadC{display:none;}
}
#breadC li{
	float:left;
	padding: 0 18px 0 14px;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	background: url(/common/img/icon/arrow_right_bc_bg.png) center right no-repeat;
}
#breadC li:last-child{
	background:none;
}
/* contentWrap
------------------------------------------------------*/
#contentWrap{
	position: relative;
	padding-bottom: 44px;

}
.theme01 #contentWrap{
	background: none;
}
@media screen and (max-width: 760px){
	#contentWrap{
		padding-bottom: 0;
	}
}
/* connectionSite
------------------------------------------------------*/
.connectionSite{
	position: absolute;
	bottom: 0;
	width: 100%;
	clear: both;
}
@media screen and (max-width: 760px){
	.connectionSite{
		position: static;
	}
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Element（Layout要素を構成するオブジェクト）
(ex).boxLeft , .boxRight ...
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* Header
------------------------------------------------------*/
.headLogo{
	float: left;
}
@media screen and (max-width: 760px){
	.headLogo{
		float: none;
		width: 47px;
		margin: 0 auto;
	}
}
/* Footer
------------------------------------------------------*/
.footer_rightCont{
	float: right;
}
.footer_logo{
	float: left;
	margin-top: 23px;
}
.footer_menuWrap{
	float: left;
}
.footer_pmark{
	float: left;
	padding: 6px 10px 7px 12px;
}
.footer_menu{
	float: left;
	margin-top: 56px;
}
.footer_menu li{
	float: left;
	line-height: 1;
}
.footer_menuLine{
	border-right: #7f7c7d dotted 1px;
	padding: 0 14px;
	margin-right: 14px;
}
.footer_lang{
	border-right: none;
	margin-left: 10px;
}
@media screen and (max-width: 760px){
	.footer_rightCont{
		float: none;
	}
	.footer_logo{
		margin: 7px 0 5px 10px;
	}
	.footer_logoImg{
		width: 38px;
	}
	.footer_menuWrap{
		float: none;
		padding: 14px 0;
		border-bottom: #dedede solid 1px;
	}
	.footer_menuWrap::after{
		border-bottom: #ffffff solid 1px;
		width: 100%;
	}
	.footer_pmark{
		clear: both;
		float: right;
		width: 35px;
		margin: 5px 10px 5px 0;
		padding: 0;
	}
	.footer_lang{
		margin-top: 0;
	}
	.footer_menu{
		float: none;
		margin-top: 0;
		font-size: 9px;
		text-align: center;
	}
	.footer_menu li{
		float: none;
		display: inline-block;
	}
	.footer_menu a{
		color: #3a3a3a;
	}
}
/* gnav
------------------------------------------------------*/
.gnavBtn{
	text-align: right;
	margin-bottom: 10px;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	right: 20px;
	width: 66px;
}
.gnavBtn.switchOpen img{
	text-indent: 9999px;
	background: url(/common/img/txt/menu_on.png) left center no-repeat;
}
.gnavMenu{
	position:relative;
	top: 35px;
	z-index:99;
}
.gnavMenu li{
	float: left;
	line-height: 1;
	border-right: #7f7c7d dotted 1px;
	padding: 0 6px;
	font-size:12px;
	margin-bottom: 10px;
}
.gnavMenu .last{
	border-right: none;
	padding-right: 0;
}
.gnavMenu a{
	color:#000;
	padding: 3px 6px 2px;
}
.gnavMenu li:last-child a{
	padding: 3px 6px 4px 6px;
}
.gnavMenu a.on{
	background:#00aaeb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.on{
	color:#FFF !important;
	background:#00aaeb;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
@media screen and (max-width: 760px){
	.gnavBtn{
		text-align: center;
		width: 40px;
		height: 40px;
		margin: -40px 0 0 0;
		padding-top: 25px;
		float: right;
		background: #4d4d4d url(/common/img/icon/menu_hamburger.png) center 7px no-repeat;
		background-size: 20px auto;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		font-weight: bold;
		font-size: 9px;
		color: #fff;
		-webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	         -o-box-sizing: border-box;
	        -ms-box-sizing: border-box;
	            box-sizing: border-box;
	    right:3%;
	}
	.gnavBtn.switchOpen{
		background: #00aaeb url(/common/img/icon/close.png) center 7px no-repeat;
		background-size: 20px auto;
	}
	.gnavMenu{
		position: absolute;
		top: 55px;
		width: 100%;
		z-index: 100;
		font-size: 14px;
	}
	.gnavMenu li{
		background: #404040;
		float: none;
		line-height: inherit;
		border-right: none;
		border-top: #646464 solid 1px;
		border-bottom: #323232 solid 1px;
		padding:0;
		margin-bottom:0;
	}
	.gnavMenu .last{
		padding-right: inherit;
	}
	.gnavMenu a{
		color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		padding: 13px 16px;
	}
	.gnavMenu li:last-child a{
		padding: 13px 16px;
	}
}
/* newsInfoArea
------------------------------------------------------*/
.newsInfoArea{
	display: none;
}
/* connectionSite
------------------------------------------------------*/
.connectionSite_title{
	background: #333333;
	text-align: center;
	padding: 10px 0 9px;
	color: #fff;
}
.connectionSite_menu{
	background: #2d2d2d;
	font-size: 70%;
	padding-bottom: 3px;
}
.connectionSite_menu a{
	color: #fff;
}
.connectionSite_menu dl{
	padding-top: 15px;
}
.connectionSite_menu dt{
	color: #00abeb;
	border-bottom: #00abeb dotted 1px;
	margin-bottom: 3px;
}
.connectionSite_menu dd{
	margin-bottom: 2px;
}
@media screen and (max-width: 760px){
	.connectionSite_title{
		font-size: 11px;
		padding: 14px 0 13px;
	}
	.connectionSite_title .icon01{
		background: url(/common/img/icon/arrow_right_white_m.png) left center no-repeat;
		background-size: 8px auto;
		padding: 0 0 0 15px;
	}
	.connectionSite_title.switchOpen .icon01{
		background: url(/common/img/icon/arrow_right_white_m.png) left center no-repeat;
		background-size: 8px auto;
	}
}
/*
------------------------------------------------------*/
.copy{
	margin: 40px 0 0 10px;
}
.contBox{
	background: #fff;
	padding: 17px 20px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
	border: #e0e1e2 solid 1px;
}
@media screen and (max-width: 760px){
	.copy{
		width: 142px;
		margin-top: 21px;
	}
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Module（再利用可能オブジェクト）
(ex).box_txt , .box_title ...
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.content{
	width: 960px;
	margin: 0 auto;
}
.contBox_title{
	border-bottom: #827f80 dotted 1px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.titleLink{
	float: right;
	margin-top: -25px;
}
.clearBoth{clear: both;}
@media screen and (max-width: 760px){
	.content{
		width: 100%;
	}
	.dataLabel::before{
		content: attr(data-label);
	}
	.dataLabel .dataLabel_pc{display: none;}
}
/* column
------------------------------------------------------*/
.col3{
	float: left;
	width: 30.333%;
	margin-right: 3%;
}
.col_last{
	margin-right: 0;
}
/* btn
------------------------------------------------------*/
.btn_gray{
	background: #e3e3e3 url(/common/img/icon/arrow_right_gray_s.png) 10px center no-repeat;
	padding: 1px 13px 1px 22px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
@media screen and (max-width: 760px){
	.btn_gray{
		padding: 5px 13px 5px 22px;
	}
}
/* icon
------------------------------------------------------*/
.icon01{background: url(/common/img/icon/plus_blue.png) right center no-repeat; padding-right: 21px;}
.switchOpen .icon01{background: url(/common/img/icon/minus_blue.png) right center no-repeat;}
.icon02{background: url(/common/img/icon/plus_black.png) right center no-repeat; padding-right: 17px;}
.switchOpen .icon02{background: url(/common/img/icon/minus_blue.png) right center no-repeat;}
.icon_close{
	background: url(/common/img/icon/close.png) left center no-repeat;
	background-size: 17px auto;
	padding: 0 0 0 23px;
}
.blank{
	background: url(/common/img/icon/icon_target_blank.png) right center no-repeat;
	padding-right: 12px;
}
/* margin padding
------------------------------------------------------*/
.mb0 {margin-bottom: 0;}
.mb5 {margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb38{margin-bottom: 38px;}
.mb39{margin-bottom: 39px;}
.mb40{margin-bottom: 40px;}
.mb45{margin-bottom: 45px;}
.mb50{margin-bottom: 50px;}
.mb55{margin-bottom: 55px;}
.mb60{margin-bottom: 60px;}
@media screen and (max-width: 760px){
	.mb10{margin-bottom: 5px;}
	.mb20{margin-bottom: 10px;}
	.mb25{margin-bottom: 1rem;}
	.mb30{margin-bottom: 1.3px;}
	.mb40{margin-bottom: 20px;}
	.mb50,.mb2r{margin-bottom: 25px;}
	.mb60{margin-bottom: 30px;}
}
.mt0 {margin-top: 0;}
.mt5 {margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt45{margin-top: 45px;}
.mt50{margin-top: 50px;}
.mt55{margin-top: 55px;}

.mr0 {margin-right: 0;}
.mr5 {margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mr30{margin-right: 30px;}
.mr35{margin-right: 35px;}
.mr40{margin-right: 40px;}
.mr45{margin-right: 45px;}
.mr50{margin-right: 50px;}
.mr55{margin-right: 55px;}

.ml0 {margin-left: 0;}
.ml5 {margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}
.ml30{margin-left: 30px;}
.ml35{margin-left: 35px;}
.ml40{margin-left: 40px;}
.ml45{margin-left: 45px;}
.ml50{margin-left: 50px;}
.ml55{margin-left: 55px;}

.pb0 {padding-bottom: 0;}
.pb5 {padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb45{padding-bottom: 45px;}
.pb50{padding-bottom: 50px;}
.pb55{padding-bottom: 55px;}

.pt0 {padding-top: 0 !important;}
.pt5 {padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}
.pt45{padding-top: 45px;}
.pt50{padding-top: 50px;}
.pt55{padding-top: 55px;}

.pr0 {padding-right: 0;}
.pr5 {padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr25{padding-right: 25px;}
.pr30{padding-right: 30px;}
.pr35{padding-right: 35px;}
.pr40{padding-right: 40px;}
.pr45{padding-right: 45px;}
.pr50{padding-right: 50px;}
.pr55{padding-right: 55px;}

.pl0 {padding-left: 0;}
.pl5 {padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl25{padding-left: 25px;}
.pl30{padding-left: 30px;}
.pl35{padding-left: 35px;}
.pl40{padding-left: 40px;}
.pl45{padding-left: 45px;}
.pl50{padding-left: 50px;}
.pl55{padding-left: 55px;}

/* 汎用 class
------------------------------------------------------*/
.bluSq{
	background:url(/common/img/icon/square_lblue.png) no-repeat;
	background-position:0 50%;
	padding-left:25px;
	margin-bottom:20px;
	border-bottom:2px solid #dddddd;
	font-size:22px;
}
@media screen and (max-width: 760px){
	.bluSq{
		font-size:15px;
		margin-bottom: 0.7rem;
	}
}
.ti1{text-indent: 1em;}
.center{
	text-align: center;
	width: 100%;
}
.bold{font-weight:bold;}
.dottedTU{
	border-top:#9b9999 1px dotted;
	border-bottom:#9b9999 1px dotted;
}
.Areatb20{
	border-top:#9b9999 1px dotted;
	border-bottom:#9b9999 1px dotted;
	padding:20px 0;
}
.backArrow{
	background: url(/common/img/icon/arrow_left.png) no-repeat;
	background-position: 2px 2px;
	background-size: 9px auto;
	padding-left: 17px;
	font-size: 13px;
	display:inline-block;
}
.baArea{
	margin:30px 0 50px;
}
@media screen and (max-width: 760px){
	.baArea{
		margin: 2em 0 3rem;
		font-size: 12px;
	}
}
.fr{
	float:right;
}

/* javascript class
------------------------------------------------------*/
.js_switchBtn{
	cursor: pointer;
}
.js_switchCont{
	display: none;
}

/* move to top
------------------------------------------------------*/
.mttCont{
	width: 960px;
	margin:0 auto;
}
.mttCont img{
	position: relative;
	left: 910px;
	bottom: 20px;
	cursor: pointer;
}
.mttCont .sp{
	display: none;
}
#js_movetoTop{
	width:50px;
	display: none;
}
@media screen and (max-width: 760px){
	.mttCont .pc{
		display: none;
	}
	.mttCont .sp{
		display: block;
	}
	#js_movetoTop {
		width: 30px;
		float: right;
		margin: 2rem 0 0 0;
		position:relative;
		right:3%;
	}
	.mttCont{
		width: 100%;
	}
	.mttCont img{
		position: relative;
		left: inherit;
	}
}

/* SPnavi　CLOSEボタン
------------------------------------------------------*/
.Nav_close{
	display: none;
}
@media screen and (max-width: 760px){
	.Nav_close {
		background: #404040;
		clear: both;
		display: block;
		color: #fff;
		text-align: center;
		padding: 5px 0 5px;
		cursor: pointer;
		border-top: #646464 solid 1px;
		border-bottom: #323232 solid 1px;
	}
}

/*下層
-------------------------------------------------------*/
.title1{
	border: 1px solid #dddddd;
	height: 98px;
	line-height: 98px;
	vertical-align: middle;
	margin: 30px 0;
	padding: 0;
}
.title1Text{
	font-size: 34px;
	border-left: #00aaeb 6px solid;
	height: 44px;
	line-height: 52px;
	display: inline-block;
	padding-left: 22px;
}
.categoryName{
	font-size: 18px;
	float: right;
	padding:3px 20px 0;
}
@media screen and (max-width: 760px){
	.categoryName{
		font-size:18px;
		float:none;
		padding:0;
	}
}
.rowt1{
	position: relative;
	top: -1.25rem;
}
.rowt2{
	position: relative;
	top: -2.4rem;
}
@media screen and (max-width: 760px){
	.title1{
		border: none;
		height: 43px;
		line-height: 41px;
		border-top: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
		font-size: 17px;
		padding: 0 4.69% 0 0;
		margin: 8px 0 0;
	}
	.title1 .fs12{
		font-size:12px;
	}
	.rowt1{top: -0.7rem;}
	.rowt2{top: -1.5rem;}
	.title1Text{
		font-size: 17px;
		border-left: #00aaeb 4px solid;
		padding-left:6px;
		height: 25px;
		line-height: 27px;
	}
	.title1Text.row2{
		line-height: 2.5rem;
		width:87%;
	}
	.categoryName.row2{
		float: none;
		margin-left:4px;
		padding:0 0 0 6px;
		font-size: 11px;
		position: absolute;
		left:0;
		top: -0.5rem;
	}
	.submitBtn{
		background:#4d4d4d;
		color:#FFF;
		width:85px;
		height:30px;
		border:none;
		margin:1rem 0 2rem;
	 	-webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.mtr1{margin-top: 1rem;}
}
/*.contTitle {
	background: url(/common/img/icon/square_blue.png) no-repeat;
	background-position: 0 50%;
	text-indent: 25px;
	font-size: 22px;
	border-bottom: #dddddd 2px solid;
}*/
.contTitle {
	background: url(/common/img/icon/square_blue.png) no-repeat;
	background-position: 0 50%;
	text-indent: 0;
	font-size: 22px;
	border-bottom: #dddddd 2px solid;
	padding: 0 0 0 25px;
}
@media screen and (max-width: 760px){
	.contTitle {
		background: url(/common/img/icon/sp_square_blue.png) no-repeat;
		background-position: 0 50%;
		background-size:15px auto;
		font-size: 22px;
	}
}
.wClose{
	display:inline-block;
	border:none;
	background:#4d4d4d url(/common/img/icon/icon_x.png) no-repeat;
	background-position:9px 50%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#FFF;
	width:90px;
	height:30px;
	line-height: 30px;
	font-size:13px;
	text-indent:0.7em;
}
@media screen and (max-width: 760px){
	.wClose{
		background:#4d4d4d url(/common/img/icon/sp_icon_x.png) no-repeat;
		background-position:9px 50%;
		background-size:12px auto;
	}
}
.enText{
	color:#00aaeb;
	font-size: 10px;
	margin-left: 7px;
}
@media screen and (max-width: 760px){
	.enText{display: none;}
}

/*MAC用
------------------------*/
.vat{
	vertical-align:top;
}

/*切り替え
------------------------*/
.pc{display: block;}
.sp{display: none;}
@media screen and (max-width: 760px){
	.pc{display: none;}
	.sp{display: block;}
}