@charset "utf-8";


/* header
------------------------------------------------------*/
.siteTop header .gnavBtn{display: none;}
.gheader {
	top: 0;
	right: 0;
	padding:11px 20px 17px;
	display: block;
}
.gnavMenu {
	position: relative;
	top: 28px;
	z-index: 99;
}
@media screen and (max-width: 760px){
	.siteTop header .gnavBtn{display: block;}
}
/* footer
------------------------------------------------------*/
footer{
	bottom: 0;
	z-index:9999;
}
/* content
------------------------------------------------------*/
.content{
	width: 100%;
}
.serviceCateArea{
	width: 960px;
	margin:0 auto;
}

.content .newsInfoArea{
	margin-bottom: 30px;
	background: #f1f1f1;
}
.content .newsInfoArea .date{
	color:#000000;
}
.content .newsInfoArea .newsInner{
	width: 960px;
	margin:0 auto;
}
.connectionSite_menu .content{
	width: 960px;
}

/*
mv
-------------------------------------*/
.mv{
	width:960px;
	margin:0 auto 34px;
}
.mv .bx-wrapper .bx-viewport{
	max-height: 282px;
	overflow: hidden;
	border:1px solid #e2e2e2;
	left:0;
	border-radius: 1px;
}
.mv .mvSlider{
	width: 960px;
	height: 280px;
	overflow: hidden;
}
.mv .bx-wrapper{
	margin:0 auto;
}
.mv .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: -23px;
}
.mv .bx-wrapper .bx-pager.bx-default-pager a {
	background: url(/src/top/img/main/slide_pager_off.gif) no-repeat;
	text-indent: -9999px;
	display: block;
	width: 20px;
	height: 6px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.mv .bx-wrapper .bx-pager.bx-default-pager a:hover,
.mv .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: url(/src/top/img/main/slide_pager_on.gif) no-repeat;
}
.mv .bx-wrapper .bx-controls-direction a{
	position: absolute;
	top: 50%;
	margin-top: -23px;
	outline: 0;
	width: 30px;
	height: 47px;
	text-indent: -9999px;
	z-index: 9999;
}
.mv .bx-wrapper .bx-prev{
	left: 10px;
	background: url(/src/top/img/main/slide_prev.png) no-repeat;
}
.mv .bx-wrapper .bx-next {
	right: 10px;
	background: url(/src/top/img/main/slide_next.png) no-repeat;
}
.mv .bx-wrapper .bx-next:hover {
	background-position:0;
}
/*フッターに入ってる方*/
.connectionSite .newsInfoArea{
	display: none;
}

/*バナーエリア
-----------------------------------*/
.bnrArea{
	display: block;
	margin-bottom:70px;
}
.bnrArea ul{
	text-align: center;
}
.bnrArea li{
	display: inline-block;
}
.bnrArea li.bnr2,.bnrArea li.bnr3{
	margin-left:30px;
}
/* topicsArea
------------------------------------------------------*/
.topicsArea{
	background: #fff;
	width: 940px;
	padding: 4px 10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:rgba(222, 224, 226, 0.74902) 0px 0px 2px 2px;
	-moz-box-shadow:rgba(222, 224, 226, 0.74902) 0px 0px 2px 2px;
	box-shadow:rgba(222, 224, 226, 0.74902) 0px 0px 2px 2px;
	font-size: 75%;
	margin:0 auto 30px;
	position: relative;

}
.topicsArea dt{
	float: left;
	width: 168px;
	padding: 3px 0 3px;
}
.topicsArea dd{
	margin-left: 168px;
	padding: 4px 0 2px 11px;
	width: 685px;
	border-left: #cbcbcb solid 1px;
}
.topicsArea .date{
	font-weight: bold;
	margin-right: 1em;
}
.topicsArea .moreBtn{
	float: right;
	padding-top: 2px;
}
/* cateNavi
------------------------------------------------------*/

.ttl20{
	font-size: 20px;
}
.cateNavi{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size: 75%;
	margin-bottom: 20px;
}
.cateNavi li{
	float: left;
	color: #252525;
	line-height: 1;
	cursor: pointer;
	margin-left:2px;
}
.cateNavi li:first-child{
	margin-left:0;
}
.cateNavi li span{
	width: 94px;
	height: 84px;
	line-height: 84px;
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.cateNavi .cur span{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.cateNavi .cur{
	color: #fff;
}

.cateNavi li span:hover{
	color:#ffffff;
}

.cateNavi li.all{
	background:#e8e8e8 url(/src/top/img/catenavi/all_off.jpg) no-repeat;
}
.cateNavi li.all.cur,
.cateNavi li.all:hover{
	background: #00aaeb;
}
.cateNavi li.shinro{
	background: url(/src/top/img/catenavi/shinro_off.jpg) no-repeat;
}
.cateNavi li.shinro:hover,
.cateNavi li.shinro.cur{
	background: url(/src/top/img/catenavi/shinro_on.jpg) no-repeat;
}
.cateNavi li.gakusei{
	background: url(/src/top/img/catenavi/gakusei_off.jpg) no-repeat;
}
.cateNavi li.gakusei:hover,
.cateNavi li.gakusei.cur{
	background: url(/src/top/img/catenavi/gakusei_on.jpg) no-repeat;
}
.cateNavi li.shusyoku{
	background: url(/src/top/img/catenavi/shusyoku_off.jpg) no-repeat;
}
.cateNavi li.shusyoku:hover,
.cateNavi li.shusyoku.cur{
	background: url(/src/top/img/catenavi/shusyoku_on.jpg) no-repeat;
}
.cateNavi li.heya{
	background: url(/src/top/img/catenavi/heya_off.jpg) no-repeat;
}
.cateNavi li.heya:hover,
.cateNavi li.heya.cur{
	background: url(/src/top/img/catenavi/heya_on.jpg) no-repeat;
}
.cateNavi li.syakaijin{
	background: url(/src/top/img/catenavi/syakaijin_off.jpg) no-repeat;
}
.cateNavi li.syakaijin:hover,
.cateNavi li.syakaijin.cur{
	background: url(/src/top/img/catenavi/syakaijin_on.jpg) no-repeat;
}
.cateNavi li.shigoto{
	background: url(/src/top/img/catenavi/shigoto_off.jpg) no-repeat;
}
.cateNavi li.shigoto:hover,
.cateNavi li.shigoto.cur{
	background: url(/src/top/img/catenavi/shigoto_on.jpg) no-repeat;
}
.cateNavi li.kekkon{
	background: url(/src/top/img/catenavi/kekkon_off.jpg) no-repeat;
}
.cateNavi li.kekkon:hover,
.cateNavi li.kekkon.cur{
	background: url(/src/top/img/catenavi/kekkon_on.jpg) no-repeat;
}
.cateNavi li.tenshoku{
	background: url(/src/top/img/catenavi/tenshoku_off.jpg) no-repeat;
}
.cateNavi li.tenshoku:hover,
.cateNavi li.tenshoku.cur{
	background: url(/src/top/img/catenavi/tenshoku_on.jpg) no-repeat;
}
.cateNavi li.houjin{
	background: url(/src/top/img/catenavi/houjin_off.jpg) no-repeat;
}
.cateNavi li.houjin:hover,
.cateNavi li.houjin.cur{
	background: url(/src/top/img/catenavi/houjin_on.jpg) no-repeat;
}

/* cateList
------------------------------------------------------*/
.cateList ul{
	width: 300px;
	float: left;
	padding-right: 14px;
	margin: 0 15px 35px 0;
	border-right: #827f80 dotted 1px;
}
.cateList ul li:first-child img{border-top:0;}
.cateList ul.last{
	padding-right: 0;
	margin-right: 0;
	border-right: none;
}
.cateList li img{
	padding-top: 15px;
	border-top: #827f80 dotted 1px;
}
.cateList .first img{
	padding-top: 0;
	border-top: none;
}
/* newsInfoArea
------------------------------------------------------*/
.newsInfoArea{
	display: block;
	width: 100%;
	background: #5f5f5f;
	color: #fff;
	font-size: 75%;
	padding:20px 0;
}
.newsInfoArea .news,
.newsInfoArea .info{
	width: 461px;
}
.newsInfoArea .news{float: left;}
.newsInfoArea .info{float: right;}
.newsInfoArea dt{
	border-bottom: #afafaf solid 2px;
	padding: 9px 0 6px;
	color:#4c4c4c;
	font-size: 20px;
	line-height: 1;
}
.newsInfoArea dt span{
	color:#52b9ec;
	margin-left:10px;
	font-size: 10px;
	display: inline-block;
	vertical-align: bottom;
}
.newsInfoArea dd{
	padding-bottom:7px;
	background: url(/src/top/img/dotline.png) top repeat-x;
	line-height: 1;
	padding: 15px 0;
}
.newsInfoArea dd.bgnone{
	background: none;
}
.newsInfoArea .more{float: right;}
.newsInfoArea .date{
	font-weight: bold;
	float: left;
	width: 7.5em;
	display: block;
}
.newsInfoArea .txt{
	margin-left: 7.5em;
	display: block;
}
.newsInfoArea .txt a{
	display: block;
	height: 1em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.topicsSlide{
	position: relative;
	overflow: hidden;
	height: 25px;
}
.topicsSlide dd{
	position: absolute;
	top: -20;
	left: 0;
}
.topicsSlide dd{display: none;}
.topicsSlide dd:first-child{display: block;}
#jsNewsF, #jsInfoF{
	position: relative;
	overflow: hidden;
	min-height: auto;
}
.theme01 #jsNewsF, .theme01 #jsInfoF{
	position: relative;
	overflow: hidden;
	min-height: 85px;
}
.theme01 #jsNewsF dd, .theme01 #jsInfoF dd{position: absolute;}
.theme01 #jsNewsF dd, .theme01 #jsInfoF dd{
	display: none;
	position: absolute;
}



/*serviceListContena1
---------------------------------------*/
.serviceListContena1{
	width: 960px;
	margin:0 auto;
	height: 230px;
	overflow: hidden;
}
.serviceListRow{
	width: 100%;
}
.serviceListRow li{
	width: 215px;
	height: 230px;
	float:left;
	margin:0 0 29px;
	padding:0 12px;
	position: relative;
	background: url(/src/top/img/dotbar_v.jpg) left 15px no-repeat;
}
.serviceListRow li.bgnone{
	background: none;
}
.serviceListRow li:first-child{
	background: none;
}
.ttllogo{
	text-align: center;
}
.ttllogo img{
	max-width: 100%;
	height: auto;
}
.listText1{
	font-size: 16px;
	line-height: 1.5;
	height: 50px;
	overflow: hidden;
	color:#757575;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	position: absolute;
	max-width: 215px;
	top: 70px;
	font-weight: bold;
}
.listText2{
	font-size: 13px;
	line-height: 1.5;
	height: 39px;
	color:#757575;
	max-width: 215px;
	position: absolute;
	top: 130px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.btnMore{
	position: absolute;
	bottom:20px;
	left: 50%;
	margin-left: -45px;
}



/* serviceListContena2
-----------------------------------------*/
.serviceListContena2{
	display: none;
}
.serviceListContena2 .serviceListRow{
	border-bottom:1px;
	display: none;
}
.serviceListContena2 .serviceListRow.active{
	display: block;
}
.serviceListContena2 a{
	display: block;
	width: 100%;
	height:100%;
}

.serviceListContena2 .serviceListRow li.bgnone{
	background: none;
}
.serviceListContena2 .serviceListRow li a{
	background: url(/src/top/img/dotbar_x.jpg) bottom repeat-x;
}
.serviceListContena2 .serviceListRow li a.bgnone{
	background: none;
}


/* popup
------------------------------------------------------*/
.popupStyle {padding: 30px;}
.popupStyle a{text-decoration: underline;}
.popupStyle .title{
	background: url(/common/img/icon/square_blue.png) left center no-repeat;
	font-size: 110%;
	margin-bottom: 15px;
	padding: 0 0 3px 30px;
	border-bottom: #dddddd 2px solid;
}
.popupStyle .leadTitle{font-size: 140%;}
.popupStyle .leadTxt{
	font-size: 90%;
	margin-bottom: 15px;
}
.popupStyle .logoLinkArea{
	font-size: 80%;
	text-align: center;
	margin-bottom: 20px;
}
.popupStyle .logoLinkArea .logo{margin-bottom: 20px;}
.popupStyle .txtArea{
	font-size: 80%;
	margin-bottom: 25px;
}
.popupStyle .txtArea p{margin-bottom: 1em;}
.popupStyle .txtArea .arrow{
	background: url(/common/img/icon/arrow_right_blue_m.png) left 3px no-repeat;
	padding-left: 10px;
}
.popupStyle .btnArea{text-align: center;}
.popupStyle .btnArea li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 2px;
	border-radius: 3px;
}
.popupStyle .btnArea a{
	display: block;
	padding: 3px 0 2px;
	width: 120px;
}
.popupStyle .btnArea .sns a{background: url(/common/img/icon/icon_target_blank_white.png) 90% center no-repeat;}
.popupStyle .btnArea .fb{background: #3a5898;}
.popupStyle .btnArea .tw{background: #0facef;}
.popupStyle .btnArea .gp{background: #da5637;}
.popupStyle .btnArea .close{
	background: #4d4d4d;
	margin-top: 30px;
	color: #fff;
}
.popupStyle .btnArea .close a{
	background: url(/common/img/icon/icon_x.png) 10% center no-repeat;
	color: #fff;
	width: 90px;
	text-align: center;
	text-decoration: none;
	font-size: 80%;
	padding: 5px 0;
}

/* スクロール
------------------------------------------------------*/


#js_movetoTop{
	position: fixed;
	bottom: 10px;
}

/*サービス一覧*/

.serviceListRow:after,
header:after,
.topicsArea:after,
.cateNavi:after,
.serviceCateArea:after,
.bnrArea ul:after,
.newsInfoArea .content:after{
	content:"";
	display: block;
	width: 1px;
	height: 1px;
	visibility: hidden;
	clear: both;
}

/* modify popup 22-02-16 */
#cboxWrapper .popupStyle .logoLinkArea img{
	max-width: 100%;
}