@import url("style-base.css");
::-webkit-input-placeholder {color: #ccc;}
:-moz-placeholder {color: #ccc;}
::-moz-placeholder {color: #ccc;}
:-ms-input-placeholder {color: #ccc;}
body {color: #a0a0a0; background: #31241b;}
a {color: #ccc;}
a:hover {color: #e66648;}
/* header */
div.header {height: 120px;}
ul.topmenu li a {color: #bbb;}
ul.topmenu li a:hover {color: #fff;}
/* search field */
div.search {background: #010100; border-color: #110c09; border-bottom-color: #423125; top: 48px; border-radius: 4px;}
div.search input.sf {color: #ddd;}
div.search button.sb:after {color: #e66648;}
.autocomplete-suggestions {border-color: #423125; background:#110c09; border-radius: 0 0 3px 3px;}
.autocomplete-suggestion {color: #ccc;}
.autocomplete-selected {background: #333; color: #fff;}
.autocomplete-suggestions strong {color: #e66648;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-w.png") no-repeat 100% 50%;}
#lngselect strong {color: #fff;}
#lngselect.down:after {border-bottom-color: #4d392b;}
#lngselect ul {background-color: #201712; border-color: #4d392b; border-radius: 3px;}
/* headers */
h1,h2,div.h {color: #fff; background: #261c15; border-bottom: 1px solid #3c2c21; border-radius: 3px;}
h1,h2 {font-size: 24px; font-weight: 400; padding: 0 10px;}
div.h h1, div.h h2 {border: none; background: none;}
div.tbookshare {right: -5px;}
/* buttons */
div.sort a, div.durgrp a, div.timerange a, div.pages a {background:#473528; color: #ddd; border-radius: 3px;}
div.sort a:hover, div.durgrp a:hover, div.timerange a:hover, div.pages a:hover {background: #604736; color: #fff;}
div.sort a.current, div.durgrp a.current, div.timerange a.current, div.pages a.current {background:#c85638; color:#fff;}
/* content and thumb categories */
ul.content li, ul.tcats li, ul.relatedthumbs li {border-color: #1d1510; background: #1d1510; border-bottom-color: #3c2c21; border-radius: 4px;}
ul.content li img, ul.tcats li img {border-radius: 3px 3px 0 0;}
ul.content li h3 {background-color: #0f0b08; border-bottom: 1px solid #281d16;}
ul.content li span.tl {border-top: 1px solid #281d16;}
ul.content li span.src a {color: #a0a0a0;}
ul.content li span.src a:hover {color: #e66648;}
ul.content li span.tl span {color: #6d6a69;}
ul.content li span.tl a {color: #ccc;}
ul.content li span.tl a:hover {color: #e66648;}
ul.content li span.tl a.c {}
ul.content li span.hdlabel {background: #dc3e14; border-radius: 0 3px 0 0;}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, div.related a:after, ul.relatedthumbs li h3:after {color: #c85638;}
div.az ul li:after, div.related a:after {color: #c85638;}
/* text categories */
div.az ul li.letter {background: #271d15; color: #eee; border-radius: 3px; border-bottom: 1px solid #37281e;}
/* back to top button */
#back_to_top a#back-to-top {background: #c15133;}
/* banners */
.ads3b {border-color: #1d1510; background: #1d1510; border-bottom-color: #3c2c21;}



@media all and (max-width: 1000px) {
	h1,h2 {font-size: 20px;}
	ul.content li, ul.tcats li, ul.relatedthumbs li, ul.content li:hover, ul.tcats li:hover, ul.relatedthumbs li:hover {border-color: #31241b; box-shadow: inset 0 0 1px #99633e;}
}
@media all and (max-width: 767px) {
	div.header {height: 100px; background: none;}
	div.search {top:auto;}
	div.logo {top: 5px;}
	ul.content li a.report {color: #d04723;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px;}
}

