@font-face {
    font-family: 'PT Sans';
    src: url("/fonts/ptsans_regular/PTS55F-webfont.eot");
    src: url("/fonts/ptsans_regular/PTS55F-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/ptsans_regular/PTS55F-webfont.woff") format('woff'), url("/fonts/ptsans_regular/PTS55F-webfont.ttf") format('truetype'), url("/fonts/ptsans_regular/PTS55F-webfont.svg#pt_sansregular") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Humanist';
    src: url("/fonts/humanist/2C0A57_1_0.eot");
    src: url("/fonts/humanist/2C0A57_1_0.eot?#iefix") format('embedded-opentype'), url("/fonts/humanist/2C0A57_1_0.woff") format('woff'), url("/fonts/humanist/2C0A57_1_0.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Humanist Italic';
    src: url("/fonts/humanist/2C0A57_5_0.eot");
    src: url("/fonts/humanist/2C0A57_5_0.eot?#iefix") format('embedded-opentype'), url("/fonts/humanist/2C0A57_5_0.woff") format('woff'), url("/fonts/humanist/2C0A57_5_0.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Humanist Bold';
    src: url("/fonts/humanist/2C0A57_6_0.eot");
    src: url("/fonts/humanist/2C0A57_6_0.eot?#iefix") format('embedded-opentype'), url("/fonts/humanist/2C0A57_6_0.woff") format('woff'), url("/fonts/humanist/2C0A57_6_0.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}