.genre {
	width:47%;
	margin-bottom:20px;
}

.genre h2 {
	background:#D7F0F9 url(http://xxx.asg.to/vegas/images/icon_folder.gif) no-repeat 5px center;
	padding:3px 3px 3px 20px;
	color:#4AA2F4;
	font-size:110%;
	line-height:125%;
}

.genre ul {
	width:43%;
	float:left;
	margin:10px 5px 0px 5px;
	padding:0px;
	list-style:none;
}

.genre ul li {
	margin:0px;
	padding:0px;
}
.shift-left {
    float:left;
}

.shift-right {
    float:right;
}

.avrank h2 {
    background:url(http://xxx.asg.to/vegas/images/icon_func.gif) no-repeat 3px center;
}

.avrank li {
    list-style:none;
    padding:2px 0px !important;
    margin:0px 0px 0px 15px!important;
}

.ranking li {
    list-style:none;
    padding:2px 0px !important;
    margin:0px 0px 0px 5px!important;
}

#search .word {
    width:335px;
    ime-mode: active;
}

#MoreOptionsClosed, #MoreOptionsOpened {
    color: #0000fc;
    cursor:pointer;
}

#searchForm {
    background-color:#D7F0F9;
}

#SearchParams{
    background: url(/images/bg-searchparams.png);
    border: 1px solid #86A2AE;
    margin-top: 2px;
    padding: 5px 10px 10px;
    width: 558px;
    height: 120px;
    position: relative;
}

#SearchParams span {
    margin-right: 10px;
}

.panelOpen #SearchParams {
    display: block;
}

.panelOpen #MoreOptionsClosed,
.panelClose #MoreOptionsOpened,
.panelClose #SearchParams{
    display: none;
}

.panelOpen #MoreOptionsOpened,
.panelClose #MoreOptionsClosed {
    display: inline-block;
    margin-left: 10px;
}


#searchForm select {
    width: 134px;
}

#SearchParamCategory {
    margin-top: 3px;
}

#SearchVideoPhoto {
    margin-bottom: 3px;
}


.internal-movie h3 {
	/*text-indent: 15px;*/
	background-image:url(../img/point_movie.png);
	background-repeat:no-repeat;
	font-size:16px;
}

.photo_album h3 {
	/*text-indent:30px;*/
	background-image:url(../img/point_photo.png);
	background-repeat:no-repeat;
	background-position:5px left;
	color:#669900;
	font-size:16px;
}

.internal-movie h3 a,
.photo_album h3 a {
    padding-left: 30px;
}

.photo_album h3 a{
	color:#669900;
}

.photo_album h3 a:link{
	color:#669900;
}

.photo_album h3 a:hover{
	color:#66CC00;
}

.photo_album h3 a:visited{
	color:#669900;
}
