@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.hcsb_container,
.hcsb_content,
.hcsb_outer,
.hcsb_content fieldset,
.hcsb_roomsConfig{
	background:#eee!important;
	border-radius:0!important;
}
.hcsb_container{
	height:auto!important;
	padding:0 5px!important;	
	margin-bottom:15px!important;
}
.hcsb_container input,
.hcsb_container select{
	border:0!important;
}
.hcsb_topTitle{
	background:transparent url('https://media.datahc.com/Affiliates/143290/Brands/Image/independenthotels-sb.png') no-repeat scroll right center!important;
	border-radius:0!important;
	border-bottom:1px solid #333!important;
	color:#42b4e6!important;	
	text-shadow:none!important;	
}
.hcsb_topTitle,
.hcsb_citySearchLabel,
.hcsb_checkinDateLabel,
.hcsb_checkoutDateLabel,
.hcsb_guestsLabel,
.hcsb_noDatesLabel,
.hcsb_rcAdultLabel,
.hcsb_rcRoomLabel,
.hcsb_rcChildrenLabel,
.hcsb_rcChildrenAgeLabel,
.hcsb_addNewRoom,
.hcsb_removeRoom{
	color:#333!important;
}

.hcsb_content{
	border:0!important;
	padding-left:0!important;
	padding-right:0!important;
}
.hcsb_outer{
	border:0!important;
	padding:0 10px!important;
}
.hcsb_container input,
.hcsb_container select,
.hcsb_noDatesLabel{
	box-sizing:border-box!important;
	font-size:13px!important;
}
.hcsb_citySearch{
	width:100%!important;
}
.hcsb_checkinMonth,
.hcsb_checkoutMonth{
	margin-left:10px!important;
}
.hcsb_noDatesWrapper{
	padding-bottom:15px!important;
}
.hcsb_guests{
	padding:9px 2px!important;
}
.hcsb_rcChildrenAgeInputWrapper input{
width:2em!important;
}
.hcsb_poweredBy{
	display:none!important;
	right:0!important;
	top:5px!important;
}
.hcsb_searchButton{
	background:#41b6e6!important;
	border-radius:3px!important;
	color:#fff!important;
	text-shadow:none!important;}

.hcsb_searchButton:hover{	
	background:#14a4df!important;	
}
#hcsb_bodyElements .ui-datepicker td span, #hcsb_bodyElements .ui-datepicker td a{
	text-align:center;
}
#hcsb_bodyElements .ui-state-hover,
#hcsb_bodyElements .ui-widget-content .ui-state-hover,
#hcsb_bodyElements .ui-widget-header .ui-state-hover,
#hcsb_bodyElements .ui-state-focus,
#hcsb_bodyElements .ui-widget-content .ui-state-focus,
#hcsb_bodyElements .ui-widget-header .ui-state-focus{
	background:#42b4e6!important;
}
#hcsb_bodyElements  .ui-datepicker-today a{
	background:#e01440!important;
	border:0!important;
	color:#fff!important;
	font-weight:bold!important;
} 
#hcsb_bodyElements .ui-datepicker  .hc_cal_date_lower a,
#hcsb_bodyElements  .ui-datepicker  .hc_cal_date_upper a,
#hcsb_bodyElements .ui-datepicker  .hc_cal_date_lower a.ui-state-active,
#hcsb_bodyElements  .ui-datepicker  .hc_cal_date_upper a.ui-state-active{
	background:#ff6c00!important;
	border:0!important;
	color:#fff!important;
}
 
#hcsb_bodyElements .ui-datepicker  .hc_cal_date_lower a.ui-state-default,
#hcsb_bodyElements .ui-datepicker  .hc_cal_date_upper a.ui-state-default{
 color:#fff!important;
}