/************************************************/
/********************* Reset ********************/
/************************************************/
.m_global * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html {
	font-size:62.5%;
}
body {
	font-size:1.4em;
	color:#000000;
	line-height:1.5;
}
html, body, p, ul, li, form, input {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
ul {
	position:relative;
}
ul, li {
	list-style:none;
}
img {
	vertical-align:middle;
	border:0;
}
svg:not(:root) {
	overflow:hidden;
}

/************************************************/
/********************* Global *******************/
/************************************************/
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400italic);
body, .m_global .m_contenu, .m_global .m_footer {
	background:#f1f3f2;
	position:relative;
}

/** Bloc forum **/
.m_forum_bloc_q {
	margin: 5px 0 3px 15px;
	width: 295px;
	float: left;
	text-align:left;
	font-size:11px;
}
.m_forum_bloc_q a img {
	position: relative;
	bottom: 3px;
	margin-right:10px;
}

.m_forum_bloc_q > a:hover {
	color: #333; 
}
.m_forum_bloc_q > img {
	float: left;
	margin-right:10px;
}
.m_forum_title_q a {
font-size: 13px;
color: #333;
}

.m_forum_bloc_q  .m_forum_title_group{
	color: #F47321;
	text-decoration: none;
	font-size: 11px;
}
.m_forum_thereis {
color: #808080;
}

.m_forum_separator {
clear: both;
margin: 0 auto;
width: 295px;
height: 1px;
border-bottom: 1px dashed #E8E8E8;
}

/************************************************/
/******************* Recherche ******************/
/************************************************/
.m_bloc_recherche {
	position:relative;
	height:320px;
}
.m_bloc_recherche a {
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.m_contenu_accroche {
	position:absolute;
	width:100%;
	z-index:2;
}
.m_image_accroche {
	width:100%;
	height:320px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	background-color:transparent;
}
#m_temp_image {
	width:100%;
	height:320px;
	position:absolute;
	z-index:1;
}
.m_recherche {
	width:60%;
	max-width:668px;
	margin:55px auto 10px auto;
}
.m_titre_recherche {
	text-align:center;
	font-size:23px;
	color:#ffffff;
	font-weight:bold;
	text-shadow:3px 3px 5px rgba(0,0,0,0.5);
	margin:0 0 10px 0;
	min-width:420px;
}
.m_contour_recherche {
	background: rgba(0,0,0,.15);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3fffffff, endColorstr=#3fffffff);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3fffffff, endColorstr=#3fffffff)";
	padding:14px;
}
.m_fond_recherche {
	background-image:url(../images/sprite_icones.png);
	background-image:url(../images/sprite_icones.svg), none;
	background-size:218px 1342px;
	background-color:#ffffff;
	background-repeat:no-repeat;
	background-position:right 10px;
	height:40px;
	overflow:hidden;
}
.m_type_recheche {
	text-align:right;
	margin:12px 0;
	overflow:auto;
}
.m_type_recheche a {
	display:block;
	background-image:url(../images/sprite_icones.png);
	background-image:url(../images/sprite_icones.svg), none;
	background-size:218px 1342px;
	background-repeat:no-repeat;
	background-position:0 -25px;
	float:right;
	color:#ffffff;
	font-size:14px;
	margin-left:5%;
	padding-left:3.5%;
	text-decoration:none;
	-webkit-filter:grayscale(100%);
	/*text-shadow:0px 2px 1px rgba(0,0,0,0.65);*/
	text-shadow:1px 1px 2px rgba(0, 0, 0, 0.8);
}
.m_type_recheche a:hover {
	text-decoration:underline;
}
.m_fond_recherche input{
	outline: none;
	border-radius: 0;
}
.m_fond_recherche input[type=text] {
	border:0;
	border-right:1px solid #d5d5d6;
	font-size:15px;
	line-height:20px;
	margin:9px 12px;
	width:90%;
	height:22px;
}
.m_nom_recette {
	font-size: 14px;
	width: 380px;
	overflow: hidden;
	height: 50px;
	float: right;
	margin: 0 80px;
}
.m_nom_recette, .m_nom_recette .m_carre_titre, .m_nom_recette .m_lien_nom_recette div, .m_nom_recette a  {
	-webkit-transition:All .5s linear;
	-moz-transition:All .5s linear;
	-ms-transition:All .5s linear;
	-o-transition:All .5s linear;
	transition:All .5s linear;
}
.m_nom_recette a {
	color:#ffffff;
	text-decoration:none;
	margin-left:26px;
	opacity:0;
	text-shadow:1px 1px 2px rgba(0, 0, 0, 0.8);
}
.m_nom_recette a:last-of-type {
	font-style:italic;
}
.m_nom_recette a:hover {
	text-decoration:underline;
}
.m_bloc_recherche:hover a {
	opacity:1;
}
.m_carre_titre {
	background:rgba(255,255,255,0);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0fffffff, endColorstr=#0fffffff);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0fffffff, endColorstr=#0fffffff)";
	border:1px solid rgba(255,255,255,.5);
	width:25px;
	height:25px;
	-webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
	float:left;
	margin:11px 0 0 8px;
	cursor:pointer;
}
.m_bloc_recherche:hover .m_carre_titre {
	-webkit-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	transform:rotate(135deg);
	background:#ffffff;
}
.m_lien_nom_recette {
	float:left;
	width:85%;/*255px*/
	margin-left:4px;
}
.m_lien_nom_recette div {
	height:1px;
	background:rgba(255,255,255,.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff)";
	width:10%;
	margin:2px 0;
}
.m_bloc_recherche:hover .m_lien_nom_recette div {
	width:230px;
}

/* Style pour les skins */
div.m_bloc_recherche.skin_in {
	background:#f1f3f2;
    height:auto;
    margin:0 auto;
    width:100%;
	max-width:1060px;
	padding-top:30px;
	
}
div.m_bloc_recherche.skin_in .m_image_accroche {
	margin:0 auto;
    width:100%;
	max-width:940px;
}
div.m_bloc_recherche.skin_in #m_temp_image {
    width:940px;
}

.m_contenu_bloc_flottant .m_inscription_newsletter_submit{
	margin:0 -4px;
}