/***** Menu *****/
.m_header_global ul {list-style-type: none;}

.m_header_global .m_nav {
	background-color: #fff;
	text-align: center;
}

.m_header_global .m_nav ul {
	display: inline-block;
	background: #ffffff;
	height: 32px;
	padding-top: 5px;
	width: auto;
	margin: 0px auto 0 auto;
}

.m_header_global .m_nav a, .m_header_global .m_sub_nav_act a, .m_nav3 a {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	-webkit-font-smoothing: auto !important;
	-moz-osx-font-smoothing: auto !important;
	text-decoration: none;
}

.m_header_global .m_nav ul > li, .m_header_global .m_sub_nav_act ul > li, .m_header_global .m_nav3 ul > li {
	float: left;
	height: 32px;
	margin-top: -5px;
	font-size: 13px;
	color: #808285;
	position: relative;
	padding: 2px 0;
	cursor: pointer;
}

.m_header_global .m_nav ul li div:first-child {
	padding: 6px 0;
    line-height: 18px;
}

.m_header_global .m_nav ul > li a::before {
	display: block;
	float: left;
	content: "|";
	font-size: 10px !important;
	color: #808285;
}

.m_header_global .m_nav ul>li:first-child a::before {display: none;}

.m_header_global .m_nav ul li a {
	padding-left: 18px;
	padding-right: 18px;
	color: #808285;
	height: 28px;
}

.m_header_global .m_nav ul li a:hover {text-decoration: none;}

/***** Sous-Menu *****/
.m_header_global .m_sub_nav {
	display: none;
	width: 530px;
	position: absolute;
	border: 1px solid #ED6B06;
	z-index: 998;
	height: auto;
	background-color: #fff;
	padding-top: 11px;
	padding-bottom: 10px;
	border-radius: 0 0 5px 5px;
	line-height: 1.55;
}

.m_header_global .m_sub_nav_r {margin-left: 1px;}

.m_header_global .m_sub_nav_l {
	right: 0;
	margin-right: -4px;
}

.m_header_global .m_nav ul li:hover > .m_sub_nav {display: block;}

.m_header_global .m_sub_nav ul {
	padding-top: 0;
	padding-left: 0;
	display: block;
	margin: 0;
	width: 530px;
	list-style-type: none;
	height: auto;
}

.m_header_global .m_sub_nav ul li {
	display: block;
	float: left;
	width: 150px;
	padding: 0;
	border-bottom: 1px solid #bcbebf;
	margin: 0 10px;
	text-align: left;
	height: auto;
}

.m_header_global .m_sub_nav ul li:hover {
	background-color: #ED6B06;
	cursor: pointer;
}

.m_header_global .m_sub_nav ul li:hover a {color: #fff;}

.m_header_global .m_nav .m_sub_nav ul li a {
	display: block;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 0;
	width: 100%;
	height: 100%;
}

.m_header_global A.m_nav_link2 {
	margin: 0 0 0 -1px;
}

.m_header_global .m_nav .m_nav_link2 {
	position: relative;
	border: 1px solid #ED6B06;
	border-bottom: 0 none;
	background-color: #fff;
	margin-top: -44px;
	padding-top: 6px;
	height: 33px !important;
}

.m_header_global .m_sub_nav_l .m_nav_link2 {
	float: right;
	margin-right: -1px;
	padding-right: 21px !important;
	padding-left: 19px !important;
}

.m_header_global .m_sub_nav_r .m_nav_link2 {
	float: left;
	padding-left: 19px !important;
	padding-right: 19px !important;
}

.m_header_global .m_nav ul > li:first-child .m_nav_link2 {padding-left: 16px !important;padding-right: 20px;}

.m_nav .m_sub_nav a::before {display: none !important;}

.m_header_global .m_sub_nav_teaser li {
	margin-top: 30px !important;
	height: auto;
	text-align: center !important;
	border: 0 none !important;
	padding-bottom: 0 !important;
}

.m_header_global .m_nav .m_sub_nav .m_sub_nav_teaser li:hover {background-color: #fff !important;}

.m_header_global .m_nav .m_sub_nav .m_sub_nav_teaser li:hover a {color: #808285 !important;}

.m_header_global .m_sub_nav_teaser li img {
	display: block;
	margin: 0 auto;
}

/***** Onglet avec "New" *****/
.m_header_global .m_nav .m_nav_link2.icon-m_new{
	padding-top: 5px;
}
.m_header_global .icon-m_new {
	line-height: 1.5;
}
.m_header_global .m_nav ul li:hover .icon-m_new:before{}

.m_header_global .icon-m_new:before{
	position: absolute;
    right: 3px;
    top: 0px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: 999;
}
.m_header_global .m_sub_nav .icon-m_new:before {
	right: 6px;
}
.m_header_global .m_sub_nav_r .icon-m_new:before {
	right: 4px;
}
.m_header_global .m_nav_recettes .icon-m_new:before, .m_header_global .m_recettes .icon-m_new:before {color: #d15a5c;}
.m_header_global .m_nav_tendances .icon-m_new:before, .m_header_global .m_tendances .icon-m_new:before  {color: #885f85;}
.m_header_global .m_nav_ingredients .icon-m_new:before, .m_header_global .m_ingredients .icon-m_new:before  {color: #cde087;}
.m_header_global .m_nav_videos .icon-m_new:before, .m_header_global .m_videos .icon-m_new:before  {color: #fcc05a;}
.m_header_global .m_nav_forum .icon-m_new:before, .m_header_global .m_forum .icon-m_new:before  {color: #617b94;}
.m_header_global .m_nav_restos .icon-m_new:before, .m_header_global .m_restos .icon-m_new:before  {color: #f8a264;}
.m_header_global .m_nav_communaute .icon-m_new:before, .m_header_global .m_communaute .icon-m_new:before  {color: #ef6d22;}
.m_header_global .m_nav_outils .icon-m_new:before, .m_header_global .m_outils .icon-m_new:before  {color: #9e4666;}
.m_header_global .m_nav_photos .icon-m_new:before, .m_header_global .m_photos .icon-m_new:before  {color: #f7a395;}
.m_header_global .m_nav_mobile .icon-m_new:before, .m_header_global .m_mobile .icon-m_new:before  {color: #48bc95;}
.m_header_global .m_nav_marmiton-mag .icon-m_new:before, .m_header_global .m_marmiton-mag .icon-m_new:before  {color: #95b884;}
.m_header_global .dropdown-list .icon-m_new:before {color: #4dba95;}

.m_header_global .m_sub_nav ul li:hover .icon-m_new:before,
.m_header_global .m_sub_nav_act ul li:hover .icon-m_new:before,
.m_header_global .m_sub_nav_active .icon-m_new:before {
	color: #fff;
}

/*** Sous-Menu et Sous-sous-Menu ***/
.m_header_global .m_sub_nav_act, .m_header_global .m_nav3 {
	background-color: #fff;
	background-color: #ED6B06;
	text-align: center;
}

.m_header_global .m_sub_nav_act ul, .m_header_global .m_nav3 ul {
	width:auto;
	display: inline-block;
	margin: 0 auto;
	background: #fff;
	padding-top: 5px;
	background-color: #ED6B06;
	overflow: hidden;
}

.m_header_global .m_sub_nav_act ul > li, .m_header_global .m_nav3 ul > li {
	border-left: 1px solid #d1d1d1;
}

.m_header_global .m_sub_nav_act ul > li:first-child, .m_header_global .m_nav3 ul > li:first-child {
	border-left: 0;
}

/** Sous-Menu **/
.m_header_global .m_sub_nav_act ul > li a {
	color: #5F6062;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	display: block;
	margin-top: -1px;
	height: 32px;
	width: 100%;
}

/** Sous-Sous-Menu **/
.m_header_global .m_nav3 ul > li {
	padding-top: 7px;
}

.m_header_global .m_nav3 ul > li a {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	display:block;
}

.m_header_global .m_nav3 ul > li a:hover {text-decoration: underline;}

/***** Menu Déroulant *****/
.m_header_global .m_nav ul > li.m_nav_menu_deroulant {margin-top: 0;}
.m_header_global .m_nav .m_nav_menu_deroulant, .m_header_global .m_nav .m_nav_menu_deroulant .m_nav_link2 {
	width: 40px;
	height: 23px;
	background-image:url(../images/sprite_icones.png);
	background-image:url(../images/sprite_icones.svg), none;
	background-repeat:no-repeat;
	background-position:10px -1062px;
	background-size:218px 1342px;
	background-color:#ffffff;
}
.m_header_global .m_nav .m_nav_menu_deroulant .m_nav_link2 {
	background-position:12px -1057px;
	margin-top: -33px;
}
.m_header_global .m_nav .m_nav_menu_deroulant .dropdown-list {
	width: auto;
	margin-top: 6px;
	margin-right: 1px;
	padding: 0;
}
.m_header_global .m_nav .m_nav_menu_deroulant .dropdown-list ul {
	width: 100%;
}
.m_header_global .m_nav .m_nav_menu_deroulant .dropdown-list ul li {
	float: none;
	border: none;
	margin: 0;
}
.m_header_global .m_nav .m_nav_menu_deroulant .dropdown-list ul li:hover {
	background-color: #4dba95 !important;
}
.m_header_global .m_nav .m_nav_menu_deroulant div:first-child {
	padding: 0;
}

/***** Couleurs des onglets (bordure, background, sous-menu, sous-sous-menu) *****/
/** Recettes **/
.m_header_global .m_nav .m_nav_recettes .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_recettes .m_sub_nav {
	border-color: #d15a5c;
}
.m_header_global .m_nav_recettes .m_sub_nav ul li:hover, .m_header_global .m_recettes .m_sub_nav_active, .m_header_global .m_recettes li:hover, .m_header_global .m_nav3.m_recettes, .m_header_global .m_nav3.m_recettes ul {
	background-color: #d15a5c !important;
}
.m_header_global .m_nav ul .m_nav_recettes.m_nav_active, .m_header_global .m_recettes, .m_header_global .m_recettes ul {
	background-color: #edd3d6 !important;
}
.m_header_global .m_recettes .m_sub_nav_active a, .m_header_global .m_recettes li:hover a {
	color: #fff;
	text-decoration: none;
}

/** Tendances **/
.m_header_global .m_nav .m_nav_tendances .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_tendances .m_sub_nav {
	border-color: #885f85;
}
.m_header_global .m_nav_tendances .m_sub_nav ul li:hover, .m_header_global .m_tendances .m_sub_nav_active, .m_header_global .m_tendances li:hover, .m_header_global .m_nav3.m_tendances, .m_header_global .m_nav3.m_tendances ul {
	background-color: #885f85 !important;
}
.m_header_global .m_nav ul .m_nav_tendances.m_nav_active, .m_header_global .m_tendances, .m_header_global .m_tendances ul {
	background-color: #f4e4f4 !important;
}
.m_header_global .m_tendances .m_sub_nav_active a, .m_header_global .m_tendances li:hover a {
	color: #fff;
	text-decoration: none;
}

/** Ingrédients **/
.m_header_global .m_nav .m_nav_ingredients .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_ingredients .m_sub_nav {
	border-color: #cde087;
}
.m_header_global .m_nav_ingredients .m_sub_nav ul li:hover, .m_header_global .m_ingredients .m_sub_nav_active, .m_header_global .m_ingredients li:hover, .m_header_global .m_nav3.m_ingredients, .m_header_global .m_nav3.m_ingredients ul {
	background-color: #cde087 !important;
}
.m_header_global .m_nav ul .m_nav_ingredients.m_nav_active, .m_header_global .m_ingredients, .m_header_global .m_ingredients ul {
	background-color: #f0f4df !important;
}
.m_header_global .m_ingredients .m_sub_nav_active a, .m_header_global .m_ingredients li:hover a {
	color: #fff;
	text-decoration: none;
}

/** Vidéos **/
.m_header_global .m_nav .m_nav_videos .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_videos .m_sub_nav {
	border-color: #fcc05a;
}
.m_header_global .m_nav_videos .m_sub_nav ul li:hover, .m_header_global .m_videos .m_sub_nav_active, .m_header_global .m_videos li:hover, .m_header_global .m_nav3.m_videos, .m_header_global .m_nav3.m_videos ul {
	background-color: #fcc05a !important;
}
.m_header_global .m_nav ul .m_nav_videos.m_nav_active, .m_header_global .m_videos, .m_header_global .m_videos ul {
	background-color: #f7ecdc !important;
}
.m_header_global .m_videos .m_sub_nav_active a, .m_header_global .m_videos li:hover a {
	color: #fff;
	text-decoration: none;
}

/** Forum **/
.m_header_global .m_nav .m_nav_forum .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_forum .m_sub_nav {
	border-color: #617b94;
}
.m_header_global .m_nav_forum .m_sub_nav ul li:hover, .m_header_global .m_forum .m_sub_nav_active, .m_header_global .m_forum li:hover, .m_header_global .m_nav3.m_forum, .m_header_global .m_nav3.m_forum ul {
	background-color: #617b94 !important;
}
.m_header_global .m_nav ul .m_nav_forum.m_nav_active, .m_header_global .m_forum, .m_forum ul {
	background-color: #e7eff7 !important;
}
.m_header_global .m_forum .m_sub_nav_active a, .m_header_global .m_forum li:hover a {
	color: #fff;
	text-decoration: none;
}

/** Restos **/
.m_header_global .m_nav .m_nav_restos .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_restos .m_sub_nav {
	border-color: #f8a264;
}
.m_header_global .m_nav_restos .m_sub_nav ul li:hover, .m_header_global .m_restos .m_sub_nav_active, .m_header_global .m_restos li:hover, .m_header_global .m_nav3.m_restos, .m_header_global .m_nav3.m_restos ul {
	background-color: #f8a264 !important;
}
.m_header_global .m_nav ul .m_nav_restos.m_nav_active, .m_header_global .m_restos, .m_header_global .m_restos ul {
	background-color: #f7e9e2 !important;
}
.m_header_global .m_restos .m_sub_nav_active a, .m_header_global .m_restos li:hover a {
	color: #fff;
	text-decoration: none;
}

/** Communauté **/
.m_header_global .m_nav .m_nav_communaute .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_communaute .m_sub_nav {
	border-color: #ef6d22;
}
.m_header_global .m_nav_communaute .m_sub_nav ul li:hover, .m_header_global .m_communaute .m_sub_nav_active, .m_header_global .m_communaute li:hover, .m_header_global .m_nav3.m_communaute, .m_header_global .m_nav3.m_communaute ul {
	background-color: #ef6d22 !important;
}
.m_header_global .m_nav ul .m_nav_communaute.m_nav_active, .m_header_global .m_communaute, .m_header_global .m_communaute ul {
	background-color: #f4ebe6 !important;
}
.m_header_global .m_communaute .m_sub_nav_active a, .m_header_global .m_communaute li:hover a {
	color: #fff;
	text-decoration: none;
}

/** Outils **/
.m_header_global .m_nav .m_nav_outils .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_outils .m_sub_nav {
	border-color: #9e4666;
}
.m_header_global .m_nav_outils .m_sub_nav ul li:hover, .m_header_global .m_outils .m_sub_nav_active, .m_header_global .m_outils li:hover, .m_header_global .m_nav3.m_outils, .m_header_global .m_nav3.m_outils ul {
	background-color: #9e4666 !important;
}
.m_header_global .m_nav ul .m_nav_outils.m_nav_active, .m_header_global .m_outils, .m_header_global .m_outils ul {
	background-color: #e5dce0 !important;
}
.m_header_global .m_outils .m_sub_nav_active a, .m_header_global .m_outils li:hover a {
	color: #fff;
	text-decoration: none;
}

/** Photos **/
.m_header_global .m_nav .m_nav_photos .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_photos .m_sub_nav {
	border-color: #f7a395;
}
.m_header_global .m_nav_photos .m_sub_nav ul li:hover, .m_header_global .m_photos .m_sub_nav_active, .m_header_global .m_photos li:hover, .m_header_global .m_nav3.m_photos, .m_header_global .m_nav3.m_photos ul {
	background-color: #f7a395 !important;
}
.m_header_global .m_nav ul .m_nav_photos.m_nav_active, .m_header_global .m_photos, .m_header_global .m_photos ul {
	background-color:#f4e7e6 !important;
}
.m_header_global .m_photos .m_sub_nav_active a, .m_header_global .m_photos li:hover a {
	color: #fff;
	text-decoration: none;
}

/** Mobile **/
.m_header_global .m_nav .m_nav_mobile .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_mobile .m_sub_nav {
	border-color: #48bc95;
}
.m_header_global .m_nav_mobile .m_sub_nav ul li:hover, .m_header_global .m_mobile .m_sub_nav_active, .m_header_global .m_mobile li:hover, .m_header_global .m_nav3.m_mobile, .m_header_global .m_nav3.m_mobile ul {
	background-color: #48bc95 !important;
}
.m_header_global .m_nav ul .m_nav_mobile.m_nav_active, .m_header_global .m_mobile, .m_header_global .m_mobile ul {
	background-color:#dfefe9 !important;
}

/** Marmiton Mag **/
.m_header_global .m_nav .m_nav_marmiton-mag .m_sub_nav .m_nav_link2, .m_header_global .m_nav .m_nav_marmiton-mag .m_sub_nav {
	border-color: #95b884;
}
.m_header_global .m_nav_marmiton-mag .m_sub_nav ul li:hover, .m_header_global .m_marmiton-mag .m_sub_nav_active, .m_header_global .m_marmiton-mag li:hover, .m_header_global .m_nav3.m_marmiton-mag, .m_header_global .m_nav3.m_marmiton-mag ul {
	background-color: #95b884 !important;
}
.m_header_global .m_nav ul .m_nav_marmiton-mag.m_nav_active, .m_header_global .m_marmiton-mag, .m_header_global .m_marmiton-mag ul {
	background-color:#e6ede2 !important;
}
.m_header_global .m_marmiton-mag .m_sub_nav_active a, .m_header_global .m_marmiton-mag li:hover a {
	color: #fff;
	text-decoration: none;
}

/***** Onglets Spéciaux *****/

/* 
**	Changer les données du background pour chaque onglets 
**	et le padding-right du lien pour faire apparaitre le logo 
*/

/** Chandeleur **/
.m_header_global .m_nav ul .m_nav_chandeleur {
	width: auto;
	background:#fff;
	background-image:url(../images/chandeleur/onglet_crepes.png);
	background-size: 27px 65px;
	background-repeat: no-repeat;
	background-position: right 5px top 4px;
}

.m_header_global .m_nav ul .m_nav_chandeleur a {
	padding-right: 32px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 15px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#ce7f0f !important;
}

.m_header_global .m_nav ul .m_nav_chandeleur:hover {
	background-position: right 5px top -26px;
}

/** Mardi Gras **/
.m_header_global .m_nav ul .m_nav_mardi-gras {
	width: auto;
	background:#fff;
	background-image:url(../images/chandeleur/onglet_crepes.png);
	background-size: 27px 65px;
	background-repeat: no-repeat;
	background-position: right 5px top 4px;
}

.m_header_global .m_nav ul .m_nav_mardi-gras a {
	padding-right: 30px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 12px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#ce7f0f !important;
}

.m_header_global .m_nav ul .m_nav_mardi-gras:hover {
	background-position: right 5px top -26px;
}

/** Saint Valentin **/
.m_header_global .m_nav ul .m_nav_st-valentin {
	width: auto;
	background:#fff;
	background-image:url(../images/valentin/onglet_valentin.png);
	background-size: 136px 60px;
	background-repeat: no-repeat;
	background-position: 6px 0;
}

.m_header_global .m_nav ul .m_nav_st-valentin a {
	padding-right: 28px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 23px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#c94b72 !important;
}

.m_header_global .m_nav ul .m_nav_st-valentin:hover {
	background-position: 6px -30px;
}

/** Paques **/
.m_header_global .m_nav ul .m_nav_paques {
	width: auto;
	background:#fff;
	background-image:url(../images/paques/onglet_paques.png);
	background-size: 18px 55px;
	background-repeat: no-repeat;
	background-position: right 5px top 2px;
}

.m_header_global .m_nav ul .m_nav_paques a {
	padding-right: 30px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#904c42 !important;
}

.m_header_global .m_nav ul .m_nav_paques:hover {
	background-position: right 5px top -28px;
}

/** Berbecue **/
.m_header_global .m_nav ul .m_nav_barbecue {
	width: auto;
	background:#fff;
	background-image:url(../images/barbecue/onglet_barbecue.png);
	background-size: 58px 55px;
	background-repeat: no-repeat;
	background-position: right 5px top;
}

.m_header_global .m_nav ul .m_nav_barbecue a {
	padding-right: 25px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#D41E21 !important;
}

.m_header_global .m_nav ul .m_nav_barbecue:hover {
	background-position: right 5px top -30px;
}

/** Apéro **/
.m_header_global .m_nav ul .m_nav_apero {
	width: auto;
	background:#fff;
	background-image:url(../images/apero/onglet_apero.png);
	background-size: 20px 55px;
	background-repeat: no-repeat;
	background-position: right 5px top 3px;
}

.m_header_global .m_nav ul .m_nav_apero a {
	padding-right: 25px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#EF9900 !important;
}

.m_header_global .m_nav ul .m_nav_apero:hover {
	background-position: right 5px top -27px;
}

/** Fete-des-meres **/
.m_header_global .m_nav ul .m_nav_fete-des-meres {
	width: auto;
	background:#fff;
	background-image:url(../images/fete-des-meres/onglet_fete-des-meres.png);
	background-size: 16px 53px;
	background-repeat: no-repeat;
	background-position: right 5px top 4px;
}

.m_header_global .m_nav ul .m_nav_fete-des-meres a {
	padding-right: 25px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#4eb58f !important;
}

.m_header_global .m_nav ul .m_nav_fete-des-meres:hover {
	background-position: right 5px top -26px;
}

/** Petit Déjeuner **/
.m_header_global .m_nav ul .m_nav_petit-dejeuner {
	width: auto;
	background:#fff;
	background-image:url(../images/petit_dejeuner/onglet_petit_dejeuner.png);
	background-size: 24px 58px;
	background-repeat: no-repeat;
	background-position: right 5px top;
}

.m_header_global .m_nav ul .m_nav_petit-dejeuner a {
	padding-right: 35px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#96550f !important;
}

.m_header_global .m_nav ul .m_nav_petit-dejeuner:hover {
	background-position: right 5px top -30px;
}

/** Recetttes Tradition **/
.m_header_global .m_nav ul .m_nav_recettes-tradition {
	width: auto;
	background:#fff;
	background-image:url(../images/recettes_tradition/onglet_recettes_tradition-new.png);
	background-size: 36.17px 60px;
	background-repeat: no-repeat;
	background-position: right 5px top;
}

.m_header_global .m_nav ul .m_nav_recettes-tradition a {
	padding-right: 45px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#D7654E !important;
}

.m_header_global .m_nav ul .m_nav_recettes-tradition:hover {
	background-position: right 5px top -30px;
}

/** Travel **/
.m_header_global .m_nav ul .m_nav_travel {
	width: auto;
	background:#fff;
	background-image:url(../images/travel/onglet_travel.png);
	background-size: 39px 59px;
	background-repeat: no-repeat;
	background-position: right 4px top 2px;
}

.m_header_global .m_nav ul .m_nav_travel a {
	padding-right: 35px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#3c6f85 !important;
}

.m_header_global .m_nav ul .m_nav_travel:hover {
	background-position: right 4px top -28px;
}

/** Halloween **/
.m_header_global .m_nav ul .m_nav_halloween {
	width: auto;
	background:#fff;
	background-image:url(../images/halloween/onglet_halloween.png);
	background-size: 61px 60px;
	background-repeat: no-repeat;
	background-position: right 10px top 2px;
}

.m_header_global .m_nav ul .m_nav_halloween a {
	padding-right: 45px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#e8640b !important;
}

.m_header_global .m_nav ul .m_nav_halloween:hover a {color: #000000 !important;}

.m_header_global .m_nav ul .m_nav_halloween:hover {
	background-position: right 10px top -28px;
}

/** Noel **/
.m_header_global .m_nav ul .m_nav_noel {
	width: auto;
	background:#fff;
	background-image:url(../images/noel/onglet_noel.png);
	background-size: 59px 33px;
	background-repeat: no-repeat;
	background-position: 5px 0;
}

.m_header_global .m_nav ul .m_nav_noel a {
	padding-right: 16px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 17px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#d71421 !important;
}

.m_header_global .m_nav ul .m_nav_noel:hover {
	background-image:url(../images/noel/onglet_noel_hover.png);
	background-position: 4.5px 0;
}

/** Galette **/
.m_header_global .m_nav ul .m_nav_galette {
	width: auto;
	background:#fff;
	background-image:url(../images/galette/couronne.png);
	background-size: 26px 30px;
	background-repeat: no-repeat;
	background-position: left 15px top 3px;
}

.m_header_global .m_nav ul .m_nav_galette a {
	padding-right: 16px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#d71421 !important;
}

/** Recettte au hasard **/
.m_header_global .m_nav ul .m_nav_recette-au-hasard {
	width: auto;
	background:#fff;
	color: #F47321;
}

.m_header_global .m_nav ul .m_nav_recette-au-hasard div a:after {
	font-family: 'icon_marmiton';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e910";
    font-size: 25px;
    position: absolute;
    margin: -7px 5px;
}

.m_header_global .m_nav ul .m_nav_recette-au-hasard:hover div a:after {
	transform: rotate(360deg);
	transition: 2s;
    z-index: 10001;
}

.m_header_global .m_nav ul .m_nav_recette-au-hasard a {
	padding-right: 18px; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: 700;
	color:#F47321 !important;
}

.m_header_global .m_nav ul .m_nav_recette-au-hasard a:before {font-weight: 400;}

/** Noël de Coca-Cola **/
.m_header_global .m_nav ul .m_nav_noel-coca {
	width: auto;
	background: #fff;
	background-image: url(../images/noel-coca/onglet_coke.png);
	background-size: 36px 57px;
	background-repeat: no-repeat;
	background-position: right 2px top 5px;
}

.m_header_global .m_nav ul .m_nav_noel-coca a {
	padding-right: 38px !important;
	padding-left: 10px;
	font-weight: bold;
	font-size: 1.1em !important;
	color: #E3051B !important;
}

.m_header_global .m_nav ul .m_nav_noel-coca:hover {
	background-position: right 2px top -25px;
}

.m_header_global .m_nav ul .m_nav_noel-coca:hover a {
	color: #B0191A !important;
}

.m_header_global .m_sub_nav ul li:hover:before {
    color: white;
}
/** Burgers **/
.m_header_global .m_nav ul .m_nav_burgers {
	width: auto;
	background:#fff;
	background-image:url(../images/burgers/onglet-burgers.png);
	background-size: 27px 57px;
	background-repeat: no-repeat;
	background-position: right 5px top 4px;
}

.m_header_global .m_nav ul .m_nav_burgers a {
	padding-right: 35px !important; /* Donner un décalage suivant le background affiché pour agrandir la largeur */
	padding-left: 18px;
	font-weight: bold;
	font-size: 1.1em !important;
	color:#e39860 !important;
}

.m_header_global .m_nav ul .m_nav_burgers:hover {
	background-position: right 5px top -30px;
	color:#c43a40 !important;
}

a#ctl00_m_CtrlNavigation_rptNav2_ctl09_hl_nav2:before {
    font-family: icon_marmiton;
    top: -3px;
    right: 0px;
}




/***** Media Queries *****/
@media screen and (max-width: 920px) {
	.m_header_global .m_nav, .m_header_global .m_sub_nav_act, .m_header_global .m_nav3 {
		display:none;
	}
}

/***** Pour navigateurs Chrome et Safari *****/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.m_header_global .m_nav .m_nav_link2.icon-m_new{padding-top: 6px;}
}