﻿/*-General-----------------------------------------------*/

html
{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

form
{
    display: inline;
    margin: 0px;
    padding: 0px;
}

a:link, a:visited, a:active
{
    color: #F47321;
    text-decoration: none;
}
a:hover
{
    color: #F47321;
    text-decoration: underline;
}

a img
{
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, div
{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
}
td, tr, table
{
    font-size: 100%;
	border-width: 0px; /* pour la recherche sous Opera */
}


.right
{
    float: right;
}

.left
{
    float: left;
}

.clear
{
    clear: both;
}

.texte, .normal
{
    font-size: 8pt;
    color: #6B6B6B;
    text-align: left;
}

.stdtxt7
{
    font-size: 7pt;
    color: #575757;
}

.stdtxt8
{
    font-size: 8pt;
    color: #575757;
}

.stdtxt9
{
    font-size: 9pt;
    color: #575757;
}

.stdtxt10
{
    font-size: 10pt;
    color: #575757;
}

.titreblanc
{
    font-size: 9pt;
    font-weight: bold;
    color: #FFFFFF;
}

.texteblanc, .texteblanc a
{
    color: #FFFFFF;
}

/* */

#mrm_info_title
{
    text-align: center;
}

.mrm_info_summary
{
    margin-top: 19px;
    margin-bottom: 19px;
}


.HomePanel
{
    padding: 0px 0px 10px 0px;
    margin: 0px;
    color: #696967;
    text-align: left;
}

.HomePanel table tr td img
{
    vertical-align: top;
}

.HomePanel a
{
    color: #696967;
}

.diaporamabasetitle
{
    text-align: center;
}
.diaporamabasetitle a, .diaporamabasetitle a:active, .diaporamabasetitle a:hover, .diaporamabasetitle a:link, .diaporamabasetitle a:visited
{
    text-decoration: none;
    color: #712F0F;
    font-size: 14pt;
    font-weight: bold;
}

.diaporamapagetitle
{
    color: #3F3F3F;
    font-size: 10pt;
    font-weight: bold;
}

.ErrorMessageBlock
{
    display: block;
    color: #4f0000;
    border: solid 1px #a60000;
    margin: 15px 0px 15px 0px;
    background-image: url(../tango/32x32/status/dialog-warning.png);
    background-position: 8px center;
    background-repeat: no-repeat;
    background-color: #ffe1e1;
    padding: 10px 5px 10px 52px;
    min-height: 18px;
    font-size: 10px;
    font-weight: bold;
}

.InfoMessageBlock
{
    display: block;
    color: #1c3853;
    border: solid 1px #4d8fc6;
    margin: 15px 0px 15px 0px;
    background-image: url(../tango/32x32/status/dialog-information.png);
    background-position: 8px center;
    background-repeat: no-repeat;
    background-color: #eff4fa;
    padding: 10px 5px 10px 52px;
    min-height: 18px;
    font-size: 10px;
    font-weight: bold;
}

.NewsMessageBlock
{
    color: #336600;
    border: solid 1px #1B3600;
    padding: 5px;
    display: block;
}

/* Image Wall */
.ImageWallHeaderLeft
{
    padding-left: 10px;
    background-image: url(../img/cadre_haut_g.gif);
    background-position: top left;
    background-repeat: no-repeat;
}
.ImageWallHeaderRight
{
    padding-right: 10px;
    background-image: url(../img/cadre_haut_d.gif);
    background-position: top right;
    background-repeat: no-repeat;
}
.ImageWallHeaderCenter
{
    height: 20px;
    background-color: #94BD21;
    text-align: left;
}
.ImageWallHeaderContainer
{
    font-size: 10pt;
    font-weight: bold;
    color: white;
}
.ImageWallFooterLeft
{
    padding-left: 10px;
    background-image: url(../img/cadre_bas_g.gif);
    background-position: top left;
    background-repeat: no-repeat;
}
.ImageWallFooterRight
{
    padding-right: 10px;
    background-image: url(../img/cadre_bas_d.gif);
    background-position: top right;
    background-repeat: no-repeat;
}
.ImageWallFooterCenter
{
    height: 12px;
    background-color: #F0FCBC;
}
.ImageWallCenter
{
    padding: 7px 0px 0px 0px;
    background-color: #F0FCBC;
}

.ImageWallCenter div
{
    text-align:left;
}

/* Default Table of Content */

.ToCContainer{}
.ToCItemContainer
{
    position: relative; margin-bottom: 5px
}
.ToCItemImage
{
    float: left; margin-right: 10px; margin-bottom: 5px;
}
.ToCItemTitle
{
    font-weight: bold; font-size: 10pt
}
.ToCItemForewords{}
.ToCItemSeparator
{
    clear: both; 
    text-align: center; 
    margin-bottom: 10px; 
    border-bottom: 1px solid #BEBEBE
}
.ToCPagingContainer
{
    text-align: center
}

/* autocomplete */
.ac_results {
	padding: 0px;
	border: 1px solid #999999;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../img/ajax-loader.gif') right center no-repeat;
}

.ac_odd {
	background-color: #ffffff;
}

.ac_over {
	background-color: #E6EFB3;
}
