@font-face {
	src: url("../fonts/Rouble/rouble.eot");
	font-family: 'roubleArialRegular';
	src:  url("../fonts/Rouble/rouble.woff") format('woff'),
	url("../fonts/Rouble/rouble.ttf") format('truetype'),
	url("../fonts/Rouble/rouble.otf") format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), 
  url('../fonts/OpenSans/OpenSans.otf') format('opentype'),
  url("../fonts/OpenSans/OpenSans.woff2") format('woff2'),
  url('../fonts/OpenSans/OpenSans.ttf') format('truetype');
}
@font-face {
  font-family: 'FuturaNew';
  font-weight: 400;
  src: url("../fonts/FuturaNewBook/FuturaNewBook.woff2") format('woff2'),
  url("../fonts/FuturaNewBook/FuturaNewBook.woff") format('woff');
}
@font-face {
  font-family: 'FuturaNew';
  font-weight: 700;
  src: url("../fonts/FuturaNewDemi/FuturaNewDemi.woff2") format('woff2'), url("../fonts/FuturaNewDemi/FuturaNewDemi.woff") format('woff');
}
@font-face {
  font-family: 'FuturaNew';
  font-weight: 500;
  src: url("../fonts/FuturaNewMedium/FuturaNewMedium.woff2") format('woff2'), url("../fonts/FuturaNewMedium/FuturaNewMedium.woff") format('woff');
}
@font-face {
  font-family: 'MyriadPro';
  font-weight: 400;
  src: url("../fonts/MyriadPro/MyriadProRegular.woff2") format('woff2'), url("../fonts/MyriadPro/MyriadProRegular.woff") format('woff');
}
@font-face {
    font-family: 'GothamProReg';
    src: url('../fonts/GothamProReg/GothamProReg.eot');
    src: local('GothamProReg'), url('../fonts/GothamProReg/GothamProReg.woff') format('woff'), url('../fonts/GothamProReg/GothamProReg.ttf') format('truetype'), url('../fonts/GothamProReg/GothamProReg.otf') format('opentype'), url('../fonts/GothamProReg/GothamProReg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
