html {
  -webkit-text-size-adjust: none;
  min-height: 100%;
}
body {
  font-size: 13px;
  line-height: 16px;
  min-width: 1000px;
  min-height: 100%;
  background: #e0e0e0;
  background-size: 256px 256px;
}
body,
input,
textarea {
  font-family: 'FuturaNew';
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: 300;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-weight: 300;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-weight: 300;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-weight: 300;
}
*:focus {
  outline: none;
}
a {
  transition: color 0.2s;
  text-decoration: none;
}
.base_col {
  width: 100%;
  max-width: 1380px;
  min-width: 1000px;
  margin: 0 auto;
}
.base_col-2 {
  max-width: 1150px;
  padding-left: 26px;
  margin: 0 auto;
}
label {
  cursor: pointer;
}
#overlay {
  background: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 50px;
  line-height: 50px;
  /*letter-spacing: 1px;*/
  color: #052332;
}
.payeer_logo b {
  font-weight: inherit;
  color: #052332;
}
.payeer_logo em {
  font-style: inherit;
  color: #2c97de;
}
.payeer_logo .copyright {
  font-size: 0.4em;
  color: #000;
}
.payeer_logo.-white b,
.payeer_logo.-white .copyright {
  color: #fff;
}
.-hide {
  display: none;
}
#wrapper {
  width: 100%;
  min-width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
#wrapper {
  width: 100%;
  max-width: 2880px;
}
#header {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 750px;
  /*margin-bottom: 55px;*/
}
#header #videobg {
  margin-left: -60px;
  margin-left: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#header #imagebg {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/content/imagebg.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1.2s;
  will-change: opacity;
}
#header #imagebg.-hideOpacity {
  opacity: 0;
}

#header .overlay {
  background: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#header .overlay2 {
  background: #004275;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#header .overlay_blue {
  background: #00a8c6; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00a8c6 0%, #0288cd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.6 !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#header .content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
#header .content .header {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  padding: 30px;
  box-sizing: border-box;
}
#header .content .header.-personal {
  background-color: transparent;
}
#header .content .header #logo {
  display: block;
  float: left;
  width: 126px;
  height: 26px;
  background: url("../images/content/logo.png");
  margin-right: 24px;
}
#header .content .header .logo_description {
  display: block;
  float: left;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.5);
  line-height: 16px;
  position: relative;
  top: -2px;
}
#header .content .header .service_type {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#header .content .header .service_type li {
  display: inline-block;
}
#header .content .header .service_type li a {
  font-size: 16px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 0 16px;
  padding-top: 40px;
  padding-bottom: 30px;
  opacity: 0.5;
  transition: opacity 0.2s;
}
#header .content .header .service_type li a:hover {
  opacity: 1;
}
#header .content .header .service_type li a.active {
  opacity: 1;
  border-bottom: 3px solid #fff;
}
#header .content .header .language,
#header .content .header .contacts,
#header .content .header .link {
  float: right;
  position: relative;
  margin-top: 8px;
  margin-left: 50px;
  padding-bottom: 3px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
#header .content .header .language:before,
#header .content .header .contacts:before,
#header .content .header .link:before {
  /*transition: all 0.2s;*/
}
#header .content .header .language:hover,
#header .content .header .contacts:hover,
#header .content .header .link:hover {
  color: #3c0;
  border-bottom: 1px solid rgba(51,204,0,0.5);
}
#header .content .header .contacts {
  margin-left: 80px;
}
#header .content .header .contacts,
#header .content .header .link {
    transition: none;
}
#header .content .header .contacts:before {
  content: '';
  display: block;
  position: absolute;
  left: -35px;
  margin-top: -3px;
  background: url("../images/content/menu-fc.png") 0 -29px no-repeat;
  width: 26px;
  height: 22px;
}
#header .content .header .contacts:hover:before {
  background: url("../images/content/menu-fc.png")  -36px -29px no-repeat;
}
#header .content .header .link {
  margin-left: 80px;
}
#header .content .header .link:before {
    content: '';
    display: block;
    position: absolute;
    left: -35px;
    margin-top: -3px;
    background: url("../images/content/menu-fc.png");
    width: 27px;
    height: 25px;
}
#header .content .header .link:hover:before {
  background: url("../images/content/menu-fc.png")  -36px 0 no-repeat;
}
#header .content .header .language {
  margin-left: 60px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
#header .content .header .language:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  right: -13px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
#header .content .header .language:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
#header .content .header .language:hover:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
#header .content .header .language:hover .submenu {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#header .content .header .language.-eng:before,
#header .content .header .language:before {
  content: '';
  display: block;
  position: absolute;
  left: -22px;
  top: 3px;
  background: url("../images/content/eng.png") no-repeat;
  width: 16px;
  height: 11px;
}
#header .content .header .language.-ru:before {
    background: url("../images/content/rus.png") no-repeat;
}
#header .content .header .language.-ge:before {
    background: url("../images/content/Georgia.png") no-repeat;
}
#header .content .header .language.-es:before {
    background: url("../images/content/Spain.png") no-repeat;
}
#header .content .header .language.-fr:before {
    background: url("../images/content/France.png") no-repeat;
}
#header .content .header .language.-ch:before {
    background: url("../images/content/China.png") no-repeat;
    height: 16px;
    width: 16px;
    top: 1px;
}
#header .content .header .language .submenu {
  padding: 12px 0;
  position: absolute;
  width: 100px;
  opacity: 0;
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear;
}
#header .content .header .language .submenu a {
  display: block;
  position: relative;
  padding: 6px 0 6px 22px;
  margin-left: -22px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
#header .content .header .language .submenu a:hover {
  color: #3c0;
}
#header .content .header .language .submenu li a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background: url("../images/content/eng.png") no-repeat;
  width: 16px;
  height: 16px;
}
#header .content .header .language .submenu a.-eng:before {

}
#header .content .header .language .submenu a.-rus:before {
  background: url("../images/content/rus.png") no-repeat;
}
#header .content .header .language .submenu a.-geo:before {
	background: url("../images/content/Georgia.png") no-repeat 0 -1px;
}
#header .content .header .language .submenu a.-esp:before {
	background: url("../images/content/Spain.png") no-repeat 0 -1px;
}
#header .content .header .language .submenu a.-fra:before {
	background: url("../images/content/France.png") no-repeat 0 -2px;
}
#header .content .header .language .submenu a.-chi:before {
    background: url("../images/content/China.png") no-repeat 0 -2px;
}
#header .content .description_bussiness {
  margin: 140px 0 0 0;
  text-align: center;
}
#header .content .description_bussiness h1 {
  font-weight: 500;
  color: #fff;
  margin-bottom: 24px;
  /*line-height: 40px;*/
}
#header .content .description_bussiness h1 span {
  font-size: 20px;
}
#header .content .description_bussiness p.text {
  width: 750px;
  font-size: 26px;
  line-height: 32px;
  margin: 0 auto 40px;
  color: #fff;
}
#header .content .description_bussiness p .button {
  margin-right: 18px;
}
#header .content .description_bussiness.-hideLeft {
  -webkit-transform: translate(-1500px, 0);
          transform: translate(-1500px, 0);
}
#header .content .description_personal {
  margin: 80px 0 0 0;
  text-align: center;
}
#header .content .description_personal h1 {
  font-weight: 500;
  color: #fff;
  margin-bottom: 24px;
  line-height: 50px;
}
#header .content .description_personal h1 span {
  font-size: 20px;
}
#header .content .description_personal p.text {
  width: 1150px;
  font-size: 26px;
  line-height: 32px;
  margin: 0 auto 40px;
  color: #fff;
}
#header .content .description_personal p .button {
  margin-right: 18px;
}
#header .content .description_personal.-hideRight {
  -webkit-transform: translate(1500px, 0);
          transform: translate(1500px, 0);
}
#header .content .-version_2 {
  border-bottom: none;
  background: none;
}
#header .header_info {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(4,35,50,0.45);
  padding: 34px 0;
}
#header .header_info ul {
  font-size: 0;
  width: 980px;
  margin: 0 auto;
}
#header .header_info ul li {
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
  box-sizing: border-box;
}
#header .header_info ul li:last-child {
  padding-right: 0;
}
#header .header_info ul li h3 {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 8px;
}
#header .header_info ul li p {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  opacity: 0.5;
  font-family: 'OpenSans';
}
#header.-green {
  height: 750px;
}
#header.-green .overlay {
  background: #00a8c6; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00a8c6 0%, #0288cd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.6 !important;
}
#header.-green .description_bussiness {
  margin-top: 80px;
}
#header.-green #imagebg {
  background-size: cover;
}
#header.policy {
  background: url("../images/content/bg2.png");
  height: 275px;
}
#header.policy .header {
  background: none;
}
#header.merchant {
  background: url("../images/content/bg3.png");
  background-size: cover;
  height: 274px;
}
#header.merchant .header {
  background: none;
}
#header.contacts {
  background: url("../images/content/bg2v2.jpg");
  background-size: cover;
  height: 460px;
  position: relative;
}
#header.contacts .header {
  background: none;
}
#header.contacts .contacts--header {
  color: #fff;
  padding-top: 66px;
  text-transform: capitalize;
  font-weight: 500 !important;
}
#header.contacts .contacts--header img {
  padding-left: 20px;
}
#header.contacts .contacts_info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;
  padding: 65px 0;
  box-sizing: border-box;
  background: rgba(0,35,50,0.45);
}
#header.contacts .contacts_info .contacts_info_col {
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 24px;
  margin: 0 auto;
}
#header.contacts .contacts_info .contacts_info_col:after {
  content: "";
  display: table;
  clear: both;
}
#header.contacts .contacts_info .login_buttons {
  float: right;
}
#header.contacts .contacts_info .login_buttons a {
  margin-left: 18px;
}
#header.contacts .contacts_info .contacts_phone {
  position: relative;
  float: left;
  display: inline-block;
  padding-left: 44px;
  padding-top: 5px;
}
#header.contacts .contacts_info .contacts_phone:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
  background: url("../images/content/phone.png");
  width: 28px;
  height: 48px;
}
#header.contacts .contacts_info .contacts_phone a {
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding-bottom: 15px;
}
#header.contacts .contacts_info .contacts_phone p {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.5);
}
#header.contacts .contacts_info .write_to_us {
  position: relative;
  float: left;
  display: inline-block;
  padding-top: 5px;
  padding-left: 70px;
  margin-left: 40px;
}
#header.contacts .contacts_info .write_to_us:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  background: url("../images/content/dialog.png");
  width: 57px;
  height: 48px;
  transition: opacity 0.2s;
}
#header.contacts .contacts_info .write_to_us em {
  font-style: normal;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed rgba(255,255,255,0.5);
  transition: opacity 0.2s;
}
#header.contacts .contacts_info .write_to_us .status {
  display: block;
  font-size: 16px;
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
  color: rgba(255,255,255,0.5);
}
#header.contacts .contacts_info .write_to_us .status:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
}
#header.contacts .contacts_info .write_to_us .status.-online:before {
  background: #3c0;
}
#header.contacts .contacts_info .write_to_us .status.-offline:before {
  background: #f00;
}
#header.contacts .contacts_info .write_to_us:hover:before,
#header.contacts .contacts_info .write_to_us:hover em {
  opacity: 0.6;
}
@media (max-width: 1200px) {
  #header .content .header #logo {
    margin-right: 12px;
  }
  #header .content .header .logo_description {
    font-size: 10px;
  }
  #header .content .header .service_type {
    left: 350px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  #header .content .header .contacts {
    margin-left: 30px;
  }
  #header .content .header .language {
    margin-left: 50px;
  }
  #header .content .header .contacts:before,
  #header .content .header .link:before {
    display: none;
  }
}
@media (max-width: 1100px) {
  #header.contacts .contacts_info .contacts_phone a {
    font-size: 24px;
  }
  #header.contacts .contacts_info .contacts_phone p {
    letter-spacing: 0;
    font-size: 15px;
  }
  #header.contacts .contacts_info .write_to_us a {
    font-size: 24px;
  }
  #header.contacts .contacts_info .write_to_us .status {
    padding-left: 18px;
  }
  #header.contacts .contacts_info .login_buttons a {
    font-size: 16px;
  }
  #header.contacts .contacts_info .login_buttons a.button.-login {
    padding-left: 60px;
    padding-right: 24px;
  }
  #header.contacts .contacts_info .login_buttons a.button.-login:before {
    left: 18px;
  }
  #header.contacts .contacts_info .login_buttons a.button.-cash {
    padding-left: 56px;
    padding-right: 24px;
  }
  #header.contacts .contacts_info .login_buttons a.button.-cash:before {
    left: 22px;
  }
}
@media (min-height: 801px) {
  #header,
  #header.-green {
    height: 850px;
  }
  #header .header_info,
  #header.-green .header_info {
    padding: 50px 0;
  }
  #header .description_bussiness,
  #header.-green .description_bussiness,
  #header .description_personal,
  #header.-green .description_personal {
    margin-top: 100px;
  }
}
@media (max-height: 800px) {
  #header,
  #header.-green {
    height: 790px;
  }
  #header .header_info,
  #header.-green .header_info {
    padding: 36px 0;
  }
}
@media (max-height: 730px) {
  #header,
  #header.-green {
    height: 704px;
  }
  #header #videobg,
  #header.-green #videobg {
    margin-left: -145px;
    margin-top: -50px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-left: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  #header .header_info,
  #header.-green .header_info {
    padding: 26px 0;
  }
  #header .description_personal,
  #header.-green .description_personal {
    margin-top: 30px;
  }
  #header .description_bussiness,
  #header.-green .description_bussiness {
    margin-top: 60px;
  }
  #header .description_bussiness h1,
  #header.-green .description_bussiness h1 {
    font-size: 46px;
    /*line-height: 32px;*/
  }
  #header .description_bussiness .text,
  #header.-green .description_bussiness .text {
    font-size: 24px;
    line-height: 28px;
  }
}
.policy--header {
  color: #fff;
  padding-top: 66px;
  text-transform: capitalize;
  font-weight: 500 !important;
  float: left;
}
.policy--header img {
  padding-left: 20px;
}
.base_col-2 .login_buttons {
    padding-top: 66px;
    float: right;
}
.base_col-2 .login_buttons a {
    margin-left: 18px;
}
.section {
  padding: 40px 0;
}
.section h2 {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #052332;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
}
.section h2 a {
  color: #0099de;
}
.section h2 a:hover {
  color: #000;
}
.section h2 span {
  color: #dedede;
}
.section h2:after {
  content: '';
  display: block;
  width: 44px;
  height: 1px;
  background: #24c10a;
  margin: 12px auto 0;
}
.section.-mc-cards h2:after {
    width: 86px;
}
.section.-mc-cards {
    height: 600px;
    background: url("../images/content/page_card/fon_selected.jpg") no-repeat;
    background-size: cover;
    background-color: #c3c2c0;
}
.-mc-cards h2 {
    margin-top: 40px;
    font-family: 'FuturaNew';
    font-weight: 600;
}
.-mc-cards-body {
    width: 1000px;
    margin: 80px auto 0;
    font-family: 'FuturaNew';
    font-weight: 600;
    font-size: 26px;
}
.-mc-cards-body > div {
    float: left;
    text-align: center;
}
.-mc-cards-white,
.-mc-cards-black {
    margin-top: 30px;
}
.-mc-cards-body .-mc-cards-business {
    padding: 0 60px;
}
.-mc-cards-body .button {
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: normal;
}
.-mc-cards-body > div img {
    display: block;
    margin-bottom: 20px;
    width: 264px;
    height: 206px;
}
.-mc-cards-body .-mc-cards-h {
    margin-bottom: 25px;
}
.-mc-cards-body .-mc-cards-business .-mc-cards-h {
    margin-bottom: 30px;
}
.-mc-cards-body .-mc-cards-business img {
    width: 350px;
    height: 259px;
}
.btns {
  margin: 40px 0 30px;
}
.strong-header {
  font-weight: 500;
  /*padding-bottom: 12px;*/
}
.strong-header .-privacy {
  padding-top: 70px;
}
.strong-header span {
  color: #d9d9d9;
}
.payeer--info {
  display: inline-block;
  /*padding: 70px 40px 50px 40px;*/
  padding: 70px 0 50px;
  margin-bottom: 48px;
  width: 620px;
  position: relative;
}
.payeer--info:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 540px;
  height: 1px;
  background: #cbd9e0;
}
.info--header {
  padding: 18px 0 10px;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  color: #0f3745;
}
.payeer--list {
  font-size: 0;
}
.list-item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: calc(100% / 3);
}
.list-item:first-child {
  margin-left: 0;
}
.list-item:last-child {
  margin-right: 0;
}
.payeer--description {
  font-family: 'OpenSans';
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  padding: 6px 0 6px 0;
}
.payeer--description.-strong {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 0;
}
.payeer--description li {
  padding: 4px 0 4px 12px;
  position: relative;
}
ol {
  list-style: decimal;
}
.payeer--explain {
  font-family: 'OpenSans';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.logo_color {
  display: block;
  float: left;
  width: 168px;
  height: 35px;
  background: url("../images/content/logo_color.png") no-repeat;
  margin-right: 24px;
  margin-top: 8px;
}
.payeer--img {
  width: calc(100% - 640px);
  min-width: 880px;
  overflow-x: hidden;
  position: absolute;
  left: 50%;
  top: -10px;
  transition: top 1s;
}
@media (max-width: 1170px) {
  .payeer--img {
    left: 640px;
  }
}
.-plans {
  overflow: hidden;
}
.-plans .description {
  background: #0099de;
  padding: 15px 0;
  opacity: 0.95;
  box-shadow: 0px 10px 20px #68bfd5;
  color: #fff;
  width: 110%;
  margin-left: -5%;
  box-sizing: border-box;
}
.-plans .description:after {
  content: "";
  display: table;
  clear: both;
}
.-plans .description h3 {
  width: 100%;
  font-size: 16px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.-plans .description p {
  float: left;
  width: 50%;
  text-align: center;
}
.-plans .description p em {
  font-size: 26px;
  display: block;
  padding-bottom: 4px;
}
.-plans .description p span {
  font-size: 16px;
  color: #0d6386;
}
.-plans .plans_description {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
}
.-plans .plans_description h3 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 18px;
  color: #052332;
}
.-plans .plans_description p {
  font-size: 18px;
  font-family: 'OpenSans';
  line-height: 30px;
}
.-plans .plans_buttons {
  text-align: center;
  padding: 30px 0 20px;
}
.-plans .plans_buttons a {
  margin-right: 18px;
}
.plans_list {
  width: calc(100% - 72px);
  margin: 50px 36px 0;
  position: relative;
  font-size: 0;
  height: 180px;
}
.plans_list li {
  width: calc(100% / 5);
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  height: 60px;
}
.plans_list li .description {
  position: absolute;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
  will-change: transform;
  transition: all 0.3s;
}
.plans_list li:hover .description {
  opacity: 0.95;
  -webkit-transform: translate(0, -80px);
          transform: translate(0, -80px);
}

.PS_list {
    width: 960px;
    margin: 0 auto;
    display: block;
}
.PS_list li {
    width: 155px;
    height: 98px;
    float: left;
    margin: 13px 12px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 -4px 14px #fff, 0 3px 9px #c1c0c0;
}
.PS_list li a {
    line-height: 98px;

}
.PS_list li a img {
    vertical-align: middle;
}
/*
.PS_list li .description {
    opacity: 0;
    position: absolute;
    top: 0;
    border-radius: 10px;
    padding: 13px 0;
    margin: 0;
    width: 100%;
}

.PS_list li:hover .description {
    opacity: 0.95;
}
.PS_list li .description h3.long {
    padding-bottom: 5px;
}
*/
.-bussiness {
  background: #f3f8f9;
  font-weight: 500;
  text-align: center;
  box-shadow: inset 0px 0px 20px 0px #e2f1f7;
}
.-bussiness p {
  font-size: 26px;
  line-height: 32px;
  width: 580px;
  color: #0f3745;
  margin: 0 auto;
  padding-top: 22px;
}
.bussiness_select {
  font-size: 0;
  padding: 46px 24px 20px;
}
.bussiness_select a {
  background: #fff;
  display: inline-block;
  position: relative;
  width: calc(100% / 3 - 35px);
  min-height: 186px;
  margin: 0 24px;
  vertical-align: top;
  font-size: 40px;
  line-height: 36px;
  color: #0099de;
  box-sizing: border-box;
  box-shadow: 0 10px 20px #dde7ea;
}
.bussiness_select a:first-child {
  margin-left: 0;
}
.bussiness_select a:last-child {
  margin-right: 0;
}
.bussiness_select a:hover {
  color: #fff;
  background: #0099de;
}
.bussiness_select a div {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.-merchant {
  position: relative;
  padding-bottom: 50px;
}
.section.bussinesShow.-merchant {
    margin-top: 60px;
}
.section.bussinesShow.-merchant .payeer--info {
    padding: 170px 0 50px;
}
.merchant--img {
  top: -67px;
}
.purse_possibilities {
  margin: 0 40px;
}
.purse_pos-list li {
  width: calc(100% / 3);
  padding: 24px 36px;
  box-sizing: border-box;
}
.purse_pos-list li:nth-child(3n + 1) {
  padding-left: 0;
}
.purse_pos-list li:nth-child(3n) {
  padding-right: 0;
}
.purse_pos-list li img {
  vertical-align: middle;
}
.purse_pos-list li .credit_cards--icons {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  min-height: 50px;
}
.credit_cards img {
  margin-right: 24px;
}
.paying_systems img {
  width: 40px;
  height: 40px;
  margin-right: 4px;
}
.banking_systems img {
  margin-right: 18px;
}
.cash img {
  margin-right: 18px;
}
.pay_world-ico {
  width: 50px;
  height: 50px;
}
.-mass_payments {
  background: #f3f8f9;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px #e2f1f7;
  padding-bottom: 120px;
}
.-mass_payments .payeer--explain {
  padding-right: 60px;
}
.-mass_payments .payeer--info {
    padding: 180px 0 70px;
}
.payment_methods {
  padding: 20px 40px 0;
}
.payment_methods .info--header {
  padding-bottom: 60px;
}
.payment_methods .payeer--list li {
  margin-right: 30px;
  width: calc(100% / 3 - 20px);
}
.payment_methods .payeer--list li:last-child {
  margin-right: 0;
}
.payments--logo {
  height: 70px;
}
.payments--logo img {
  display: inline-block;
  vertical-align: middle;
}
.swift-ico {
  height: 66px;
  width: 66px;
}
.master-ico {
  height: 55px;
  width: 90px;
}
.visa-ico {
  height: 26px;
  width: 86px;
  padding-right: 14px;
}
.-platinum {
  position: relative;
  padding-bottom: 70px;
}
.-platinum .info--header {
  padding-bottom: 4px;
}
.-platinum .payeer--info {
  padding: 70px 0 50px 40px;
  width: 700px;
}
.-platinum .payeer--info p {
  padding-right: 10px;
}
.payeer_rates {
  padding: 0 40px;
}
.percent {
  font-weight: 300;
  color: #0099de;
  font-size: 100px;
  line-height: 25px;
  padding: 70px 0 40px;
}
.-payeer_statistics {
  position: relative;
  text-align: center;
  color: #fff;
}
.-payeer_statistics h2 {
  color: #fff;
  margin-bottom: 25px;
}
.-payeer_statistics h2:after {
  background: #fff;
}
.period {
  padding: 40px 0 70px;
}
.period a {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  padding: 0px 15px 3px;
  border-radius: 20px;
  color: #fff;
  position: relative;
  transition: color 0.15s linear;
}
.period a:hover {
  color: rgba(255,255,255,0.5);
}
.period a.active {
  background: #fff;
  color: #0099de;
}
.period a.active:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}
.statistics--list {
  font-size: 0;
  width: 970px;
  margin: 0 auto 24px;
}
.statistics--list li {
  display: inline-block;
  vertical-align: top;
  width: calc(100% / 3);
  box-sizing: border-box;
  position: relative;
  text-align: left;
}
.statistics--list li:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
}
.statistics--list li p {
  color: rgba(255,255,255,0.6);
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  padding: 8px 0;
}
.statistics--list li span {
  font-family: 'OpenSans';
  font-weight: 300;
  font-size: 50px;
  line-height: 34px;
}
.include {
  padding-left: 80px;
  padding-right: 20px;
}
.include:before {
  background: url("../images/content/earth.png") no-repeat;
  width: 60px;
  height: 60px;
  top: -12px;
}
.operations {
  padding-left: 72px;
}
.operations:before {
  background: url("../images/content/money.png") no-repeat;
  width: 57px;
  height: 68px;
  top: -18px;
}
.registrations {
  padding-left: 84px;
  top: -6px;
}
.registrations:before {
  background: url("../images/content/key.png") no-repeat;
  width: 71px;
  height: 36px;
}
.-privacy_policy {
  width: 100%;
  background: #fff;
}
.-privacy_policy .privacy_item {
  padding: 20px 0;
}
.privacy--description {
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  padding: 50px 0 40px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.privacy--description span {
  color: #0099de;
}
.privacy--description span em {
  font-size: 13px;
}
.privacy--menu {
  line-height: 26px;
  margin-bottom: 30px;
  display: inline-block;
}
.privacy--menu li a {
  color: #09c;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: block;
  padding: 4px 0 4px 12px;
}
.privacy--menu li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  width: 6px;
  height: 6px;
  background: #09c;
  border-radius: 50%;
}
.privacy--menu li a:hover {
  color: #000;
}
.privacy--menu li a:hover:before {
  color: #000;
}
.privacy--menu li a:active {
  color: #000;
}
.privacy--menu li a:active:before {
  background: #000;
}
.privacy--list {
  line-height: 26px;
  margin-bottom: 30px;
  display: inline-block;
}
.privacy--list li .link {
  color: #09c;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: block;
  padding: 4px 0 4px 12px;
}
.privacy--list li .link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  width: 6px;
  height: 6px;
  background: #09c;
  border-radius: 50%;
}
.privacy--list li .link:hover {
  color: #000;
}
.privacy--list li .link:hover:before {
  color: #000;
}
.privacy--list li .link:active {
  color: #000;
}
.privacy--list li .link:active:before {
  background: #000;
}
.privacy--list li .merchant--category li {
  padding-bottom: 7px;
}
.privacy--list li .merchant--category li a {
  font-size: 18px;
  color: #c4c4c4;
  border-bottom: 1px solid #b2b2b2;
  font-family: 'OpenSans';
  font-weight: 300;
}
.privacy--list li .merchant--category li a:hover {
  color: #09c;
  border-bottom: none;
}
.privacy--list li .merchant--category li a:hover span {
  color: #09c;
}
.privacy--list li .merchant--category li a.active {
  font-weight: 600;
  border-bottom: none;
}
#map {
  width: 100%;
  position: absolute;
  right: 0;
  height: 575px;
  margin-top: 40px;
}
.-map {
  position: relative;
  height: 800px;
  padding-bottom: 0;
  background-color: #fff;
}
.-map .map_contacts {
  /*width: 1000px;
  margin: 0 auto;*/
  position: relative;
  padding-left: 30px;
}
.-map .map_contacts .map_contacts--content {
  position: absolute;
  background: #fff;
  z-index: 88;
  top: 130px;
  left: 200px;
  width: 720px;
  box-sizing: border-box;
  border-left: 8px solid #0099de;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  padding: 50px;
}
.-map .map_contacts .map_contacts--content .map_contacts--headline {
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  right: 50px;
  top: 20px;
}
.-map .map_contacts .map_contacts--content .map_contacts--headline .description {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #999;
  padding-top: 10px;
  letter-spacing: 1px;
}
.-map .map_contacts .map_contacts--content .map_contacts--info {
  /*padding-top: 36px;*/
  overflow: hidden;
}
.-map .map_contacts .map_contacts--content .map_contacts--info > div {
    margin-bottom: 10px;
}
.-map .map_contacts .map_contacts--content .map_contacts--info .info--payeer {
  float: left;
  text-transform: uppercase;
  color: #0099de;
  font-size: 16px;
}
.-map .map_contacts .map_contacts--content .map_contacts--info .info--address {
  clear: left;
  float: left;
  font-size: 18px;
  font-family: 'OpenSans';
  line-height: 28px;
}
.-map .map_contacts .map_contacts--content .map_contacts--info .quest {
  float: right;
}
.-map .map_contacts .map_contacts--content .map_contacts--certificat {
  font-size: 18px;
  color: #000;
  position: relative;
  padding-top: 6px;
  padding-left: 80px;
  line-height: 24px;
  margin-top: 40px;
}
.-map .map_contacts .map_contacts--content .map_contacts--certificat .external {
  margin-top: 30px;
  display: inline-block;
}
.-map .map_contacts .map_contacts--content .map_contacts--certificat:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/content/certificat.png");
  width: 63px;
  height: 63px;
}
.report {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 40px 0 30px;
}
.report .rep-col {
    max-width: 1150px;
    margin: 0 auto;
}
.report .rep-col .rep-text {
    float: left;
}
.report .rep-col .rep-text > div {
    color: #0099de;
    font-size: 16px;
    text-transform: uppercase;
}
.report .rep-col .rep-text > p {
    position: relative;
    font-size: 22px;
    padding: 5px 0;
    line-height: 1.1;
}
/*
.report .rep-col .rep-text > p:before {
    content: "";
    position: absolute;
    display: block;
    top: -14px;
    left: -85px;
    background: url("../images/content/support.jpg");
    width: 65px;
    height: 65px;
    background-size: 100%;
}
*/
.report .rep-col .rep-but {
    float: right;
    padding-top: 7px;
}
.report .rep-col .rep-but a {
    text-transform: uppercase;
}
.-feedback .feedback--description {
  font-size: 22px;
  width: 650px;
  text-align: center;
  line-height: 20px;
  margin: 46px auto 0;
}
.-feedback .feedback--form {
  width: 720px;
  margin: 50px auto 0;
  position: relative;
}
.-feedback .feedback--form:after {
  content: "";
  display: table;
  clear: both;
}
.-feedback .feedback--form:after {
  content: "";
  position: absolute;
  display: block;
  top: -110px;
  right: -240px;
  background: url("../images/content/pen.png");
  width: 236px;
  height: 644px;
}
.-feedback .feedback--form .label {
  display: block;
  padding-bottom: 14px;
}
.-feedback .feedback--form .input {
  width: 100%;
}
.-feedback .feedback--form .form--half {
  width: 50%;
  float: left;
  min-height: 120px;
  padding-right: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.-feedback .feedback--form .form--full {
  width: calc(100% - 20px);
  padding-bottom: 30px;
  clear: both;
}
.-feedback .feedback--form .form--full:after {
  content: "";
  display: table;
  clear: both;
}
.-feedback .feedback--form .form--full textarea {
  height: 140px;
}
.-feedback .feedback--form .security_code {
  float: left;
  width: 400px;
}
.-feedback .feedback--form .security_code:after {
  content: "";
  display: table;
  clear: both;
}
.-feedback .feedback--form .security_code .security_code--input {
  float: left;
  width: 180px;
}
.-feedback .feedback--form .security_code .security_code--image {
  float: left;
  width: 170px;
  margin-left: 30px;
  margin-top: 40px;
}
.-feedback .feedback--form .security_code .security_code--image .refresh {
  margin-top: 20px;
}
.-feedback .feedback--form .sendForm {
  float: right;
  margin-top: 29px;
  text-transform: uppercase;
}
.footer {
  text-align: center;
  background: url("../images/content/footer.jpg");
  background-size: cover !important;
}
.footer.contacts {
    background: url("../images/content/bg2v2.jpg");
}
.footer p {
  color: #c2bdb8;
  font-size: 12px;
  line-height: 32px;
}
.footer.-blue {
  background: rgba(0,16,25,0.4);
}
.footer .footer--bottom {
  background: rgba(0,0,0,0.4);
  padding: 44px 0 30px;
}
.footer .footer--bottom > img {
	width: 126px;
	height: 26px;
}
.footer .footer--bottom .footer--bottom_description {
  font-weight: 500;
  color: #fff;
  font-size: 17px;
  padding-top: 24px;
}
.footer .footer--bottom .footer--bottom_text {
  line-height: 20px;
  font-size: 13px;
  color: #89969e;
  padding-top: 8px;
}
.footer.-blue_bg .-blue {
  background: rgba(1,148,202,0.7);
}
.footer.contacts.-blue_bg .-blue {
  background: rgba(1, 148, 202, 0.34);
}
.footer .footer_links {
  margin-top: 24px;
  border-top: 1px solid rgba(255,255,255,0.3);
}
.footer .footer_links ul {
  padding-top: 22px;
}
.footer .footer_links ul li {
  display: inline-block;
  padding-left: 18px;
}
.footer .footer_links ul li a {
  color: rgba(255,255,255,0.6);
  position: relative;
  padding-left: 24px;
  transition: all 0.2s;
}
.footer .footer_links ul li a span {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.footer .footer_links ul li a:before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(255,255,255,0.3);
}
.footer .footer_links ul li a:hover {
  color: #fff;
}
.footer .footer_links ul li a:hover span {
  border-bottom: 1px solid #fff;
}
.footer .footer_links ul li:first-child a:before {
  display: none;
}
.button {
  font-size: 18px;
  display: inline-block;
  position: relative;
  color: #fff;
  padding: 20px 31px 22px;
  border-radius: 36px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: background 0.15s;
  text-transform: uppercase;
}
.button.-green {
  border-top: 1px solid #52e752;
  box-shadow: 1px 1px 2px #2d7d2c;
  background: #00ca00;
  background: linear-gradient(to bottom, #4bd609 0%, #02cb00 100%);
  transition: background 0.25s;
}
.button.-green:hover {
  background: #00ca00;
  background: linear-gradient(to bottom, #4bd609 0%, #0ab408 100%);
}
.button.-green.-connect {
  padding: 20px 50px 22px;
}
.button.-transparent {
  padding: 19px 30px 21px;
  border: 2px solid #fff;
}
.button.-transparent:hover {
  background: #fff;
  color: #000;
}
.button.-green_border {
  padding: 20px 30px 20px;
  border: 2px solid #00ca00;
}
.button.-green_border:hover {
  background: #fff;
  color: #000;
}
.button.-gray_border {
  padding: 19px 30px 21px;
  border: 2px solid #ccc;
  letter-spacing: 0;
  color: #666;
}
.button.-gray_border:hover {
  background: #ddd;
  color: #000;
}
.button.-blue {
  padding: 17px 40px 19px;
  color: #000;
  background: #fff;
  border: 2px solid #0099de;
  margin-left: 20px;
}
.button.-blue:hover {
  background: #0099de;
  color: #fff;
}
.button.-cash {
  position: relative;
  padding-left: 64px;
}
.button.-cash:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 26px;
  display: inline-block;
  width: 25px;
  height: 30px;
  background: url("../images/content/cash.png");
}
.button.-cash span {
  position: absolute;
  display: block;
  bottom: -30px;
  left: -6px;
  width: 250px;
  font-style: italic;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  letter-spacing: 0;
  color: #e6eb5b;
}
.button.-cash span:before {
  content: '';
  position: absolute;
  left: -23px;
  top: -40px;
  background: url("../images/content/arrow.png");
  width: 42px;
  height: 52px;
}
.button.-login {
  position: relative;
  padding-left: 70px;
}
.button.-login:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 26px;
  display: inline-block;
  width: 30px;
  height: 15px;
  background: url("../images/content/login.png");
}
.button.-login.-login_white {
  border-color: #fff;
}
.button.-login.-login_white:before {
  background: url("../images/content/login_white.png");
}
.button.-login.-login_white:hover {
  background: rgba(255,255,255,0.2);
  color: #fff;
}
.button:active {
  top: 1px;
}
.quest {
  position: relative;
  padding-left: 36px;
  color: #999;
  font-size: 16px;
  transition: all 0.2s;
}
.quest:hover {
  color: #333;
}
.quest:hover span {
  border-color: #333;
}
.quest:hover:before {
  border-color: #333;
  color: #333;
}
.quest span {
  display: block;
  padding-bottom: 4px;
  border-bottom: 1px dotted #999;
}
.quest:before {
  content: '?';
  position: absolute;
  left: 0;
  margin-top: -4px;
  display: block;
  border: 1px solid #cdcdcd;
  width: 24px;
  height: 24px;
  text-align: center;
  padding-top: 4px;
  color: #999;
  font-size: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all 0.2s;
}
.external {
  /*color: #0099de;*/
  color: #000;
  font-size: 16px;
  /*text-decoration: underline;*/
  cursor: default;
}
/*
.external:after {
  content: '';
  display: inline-block;
  margin-left: 12px;
  background: url("../images/content/external.png");
  width: 15px;
  height: 13px;
}
.external:hover {
  color: #000;
}
*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  text-indent: -300px;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  text-indent: -300px;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  text-indent: -300px;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  text-indent: -300px;
}
.input {
  border: 1px solid #ccc;
  font-size: 18px;
  color: #3d3d3d;
  line-height: 26px;
  border-radius: 4px;
  padding: 12px 18px;
  height: 60px;
  font-family: 'OpenSans';
  box-sizing: border-box;
}
.input:hover {
  border-color: #aaa;
}
.input:focus,
.input:active {
  border: 2px solid #0099de;
}
.input.-no_focus {
  border: none;
}
.input.-no_focus:hover,
.input.-no_focus:focus {
  border: none;
  padding: 15px 11px 13px;
}
.input.-error {
  border: 2px solid #f00;
  padding: 13px 10px 12px;
}
textarea.input {
  height: auto;
}
textarea.input:focus,
textarea.input:active {
  padding: 11px 18px;
}
.label {
  color: #3d3d3d;
  font-size: 18px;
  font-family: 'OpenSans';
}
.label:after {
  content: "";
  display: table;
  clear: both;
}
.label .required {
  color: #36c;
  position: relative;
  top: 1px;
}
.label .label--info {
  float: right;
  color: #999;
  font-size: 15px;
}
.refresh {
  color: #0099de;
  position: relative;
  font-family: 'OpenSans';
  display: block;
  padding-left: 18px;
  font-size: 13px;
}
.refresh:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background: url("../images/content/refresh.png");
  width: 12px;
  height: 14px;
}
.refresh span {
  display: inline-block;
  border-bottom: 1px dotted #0099de;
}
.refresh:hover {
  color: #000;
}
.refresh:hover:before {
  background: url("../images/content/refresh_hover.png");
}
.refresh:hover span {
  border-bottom: 1px dotted #000;
}
.select2 {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  height: 59px !important;
  border: 1px solid #ccc;
}
.select2-container--default .select2-selection--single:hover {
  border-color: #aaa;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 59px !important;
  line-height: 55px !important;
  font-size: 18px;
  font-family: 'OpenSans';
  padding-left: 18px !important;
}
.select2-container--open {
  font-size: 18px;
}
.select2-container--default .select2-results__option {
  padding: 18px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 19px;
  right: 8px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #2e2e2e;
  border-left: 2px solid #2e2e2e;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.select2-container--open .select2-selection__arrow {
  top: 26px !important;
}
.select2-container--open .select2-selection__arrow:after {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}
.merchant--list {
  font-size: 0;
  width: 100%;
  max-width: 1200px;
  min-width: 1000px;
  margin: 0 auto 0;
}
.merchant--list .merchant--category a {
  display: block;
  font-family: 'OpenSans';
  color: #c4c4c4;
  font-weight: 300;
  line-height: 25px;
  padding-bottom: 4px;
}
.merchant--list .merchant--category a:before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 12px;
}
.merchant--list .merchant--category a span {
  color: #000;
  border-bottom: 1px #c4c4c4 solid;
}
.merchant--list .merchant--category a:hover {
  border: none;
  color: #0099de;
}
.merchant--list .merchant--category a:hover span {
  color: #0099de;
}
.merchant--list .merchant--category a:active {
  font-weight: 600;
  color: #000;
  border: none;
}
.merchant--list .merchant--category a:active:before {
  display: none;
}
.merchant--list .li {
  display: inline-block;
  width: calc(100% / 3 - 20px);
  position: relative;
  padding-left: 40px;
  margin: 0 30px 40px 0;
  vertical-align: top;
  box-sizing: border-box;
}
.merchant--list .li h1 {
  font-size: 46px;
}
.merchant--list .li:first-child {
  margin-left: 0;
}
.merchant--list .li:last-child {
  margin-right: 0;
}
.merchant--list .li:nth-child(3n + 3) {
  margin-right: 0;
}
.merchant--list .li:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
}
.merchant--list .-internet:before {
  width: 30px;
  height: 34px;
  background: url("../images/content/internet-ico.png") no-repeat;
  top: 8px;
}
.merchant--list .-digital:before {
  width: 28px;
  height: 29px;
  background: url("../images/content/digital-ico.png") no-repeat;
  top: 11px;
}
.merchant--list .-pay:before {
  width: 38px;
  height: 26px;
  background: url("../images/content/pay-ico.png") no-repeat;
  top: 12px;
  left: -5px;
}
.merchant--list .-design:before {
  width: 23px;
  height: 31px;
  background: url("../images/content/design-ico.png") no-repeat;
  top: 8px;
}
.merchant--list .-shopping:before {
  width: 29px;
  height: 32px;
  background: url("../images/content/shopping-ico.png") no-repeat;
  top: 8px;
}
.merchant--list .-education:before {
  width: 28px;
  height: 29px;
  background: url("../images/content/edu-ico.png") no-repeat;
  top: 10px;
}
.merchant--list .-finance:before {
  width: 39px;
  height: 31px;
  background: url("../images/content/finance-ico.png") no-repeat;
  top: 8px;
  left: -5px;
}
.merchant--list .-games:before {
  width: 37px;
  height: 27px;
  background: url("../images/content/games-ico.png") no-repeat;
  top: 8px;
  left: -5px;
}
.merchant--list .-travel:before {
  width: 31px;
  height: 26px;
  background: url("../images/content/travel-ico.png") no-repeat;
  top: 10px;
}
.merchant--category {
  font-size: 17px;
  position: relative;
}
.merchant--category li {
  position: relative;
  padding-left: 15px;
  padding-bottom: 3px;
}
.merchant--category li a.link {
  display: block;
  font-family: 'OpenSans';
  color: #c4c4c4;
  font-weight: 300;
  line-height: 25px;
  padding-bottom: 4px;
}
.merchant--category li a.link:before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 12px;
}
.merchant--category li a.link span {
  color: #000;
  border-bottom: 1px #c4c4c4 solid;
}
.merchant--category li a.link span:hover {
  border: none;
  color: #0099de;
}
.merchant--category li a.link:active {
  font-weight: 600;
  color: #000;
  border: none;
}
.merchant--category li a.link:active:before {
  display: none;
}
.-connect_web {
  position: relative;
  background: #f4f8f9;
  padding: 50px 0;
  box-shadow: inset 0px 5px 29px 0px rgba(92,188,232,0.2);
}
.number {
  font-size: 100px;
  line-height: 24px;
  color: #0099de;
  display: inline-block;
  position: absolute;
  top: 80px;
}
.number--text {
  font-family: 'FuturaNew';
  font-size: 34px;
  line-height: 43px;
  display: inline-block;
  padding-left: 312px;
  width: 412px;
  vertical-align: top;
}
.number--text .payeer_brand span {
  color: #0099de;
}
.btn-connect {
  display: inline-block;
  padding-left: 100px;
  position: relative;
  top: 15px;
}
.-merchant--list_category {
  position: relative;
  vertical-align: top;
  margin-top: 35px;
}
.-merchant--list_category .link {
  position: relative;
}
.-merchant--list_category .link:after {
  display: inline-block;
  content: '';
  position: relative;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #0099de;
  top: -4px;
  right: -4px;
}
.-merchant--list_category .link:active:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.-merchant--list_category .link:hover:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
}
.-merchant--list_category li .merchant--category {
  display: none;
  margin-bottom: 10px;
}
.-merchant--list_category li .merchant--category a {
  color: #c4c4c4;
}
.-merchant--list_category li .merchant--category a span {
  color: #000;
}
.-merchant--list_category li.active .merchant--category {
  display: block;
}
.-merchant--list_category li.active .link {
  color: #000;
}
.-merchant--list_category li.active .link:before {
  background: #000;
}
.-merchant--list_category li.active .link:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.hosting {
  display: inline-block;
  width: 720px;
  position: relative;
  padding-left: 90px;
  margin-top: 35px;
}
.hosting div {
  padding: 6px 0 40px;
  position: relative;
}
.hosting div:after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  margin-top: 40px;
}
.hosting p {
  padding-left: 120px;
  vertical-align: top;
}
.hosting ol {
  padding-left: 140px;
  list-style: decimal;
}
.hosting img {
  position: absolute;
  top: 10px;
  box-shadow: 0px 10px 20px #e8e8e8;
}
.hosting--name {
  color: #0099de;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  padding-bottom: 0;
}
.hosting--name a {
  color: #0099de;
  font-weight: 500;
}
.hosting--name a span {
  font-weight: 300;
  color: #d9d9d9;
  transition: color 0.2s;
}
.hosting--name a:hover {
  color: #000;
}
.hosting--name a:hover span {
  color: #aaa;
}
.pagination {
  padding-left: 375px;
}
.pagination a {
  font-family: 'OpenSans';
  color: #0099de;
  font-size: 18px;
  line-height: 30px;
}
.pagination .previous {
  padding-right: 86px;
  position: relative;
  top: -7px;
}
.pagination .previous:before {
  display: inline-block;
  content: '';
  width: 17px;
  height: 11px;
  background: url("../images/content/pointer_page.png") no-repeat;
  position: relative;
  padding-right: 10px;
}
.pagination .next {
  position: relative;
  padding-left: 86px;
  top: -7px;
}
.pagination .next:after {
  display: inline-block;
  content: '';
  width: 17px;
  height: 11px;
  background: url("../images/content/pointer_page.png") no-repeat;
  position: absolute;
  right: -28px;
  top: 9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pagination .count_page {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  margin: 0 6px;
/*
    &:after
      display block
      content ''
      width 100%
      height 1px
      background #e8e8e8
*/
}
.pagination .count_page span {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.pagination .count_page:hover {
  background: #09c;
  color: #fff;
}

#videobg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%,-50%) !important;
}
.table-wrap {
  padding-left: 25px;
}
.live-table {
  text-align: left;
  margin: 0 auto;
  min-width: 975px;
  max-width: 1200px;
}
.live-table .thead td {
  opacity: 0.5;
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  padding-bottom: 27px;
}
.live-table .tbody td {
  color: #FFF;
  vertical-align: top;
  padding-top: 26px;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 22px;
  border-bottom: 1px solid #fff;
  border-color: rgba(255,255,255,0.2);
}
.live-table p {
  margin: 10px 0 0 0;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
.live-table .thead {
  border-bottom: 2px solid #fff;
  border-color: rgba(255,255,255,0.4);
}
.live-table .date {
  /*width: 160px;*/
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}
.live-table .tbody .date {
  opacity: 0.5;
}
.live-table .id {
 /* width: 100px;*/
  padding-left: 33px;
  font-weight: lighter;
  letter-spacing: 5px;
}
.live-table .info {
  /*width: 15%;*/
  padding-left: 40px;
  font-weight: lighter;
}
.live-table .tbody .info {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}
.live-table .sender {
 /* width: 225px;*/
  padding-left: 34px;
  font-weight: normal;
}
.live-table .receive {
 /* width: 199px;*/
}
.live-table .tbody td:last-child {
  padding-top: 0;
}
.live-table .money {
  padding-left: 53px;
  font-weight: 700;
  margin-top: 30px;
  text-align: left;
  padding-left: 0;
}
.live-table .tbody .money {
  min-width: 95px;
}
.live-table .money .color {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  padding: 4px 6px;
  padding-right: 14px;
  border-radius: 1px;
}
.live-table .money .color--dollar {
  background-color: #71C767;
}
.live-table .money .color--euro {
  background-color: #25bdf4;
}
.live-table .money .color--bit {
  background-color: #f68b34;
}
.live-table .money .color--rub {
  background-color: #f6b031;
}
.live-table .money .currency {
  color: #000;
  opacity: 0.35;
}
.live-table .money .currency--rub {
  text-transform: uppercase;
  position: relative;
}
.live-table .money .currency--rub:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 2px;
  opacity: 0.7;
  background-color: #000;
  bottom: 6px;
  left: 0;
}
.live-table .money-small {
  font-size: 10px;
  color: #000;
  opacity: 0.35;
  display: inline-block;
  vertical-align: top;
  margin-top: -3px;
}

.section.-payeer_statistics{
	/*min-height: 810px;*/
    height: 725px;
    padding: 80px 0;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}


.reg-popup {
	width: 100%;
	height: 100%;
	position: fixed;
	/*position: absolute;*/
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: #0099de;
  overflow-y: auto;
}

.reg-popup .win {
	width: 960px;
	padding: 111px 50px 48px 50px;
	background: url(/bitrix/templates/difiz/img/reg/logo.png) no-repeat 50px 43px #ffffff;
	position: relative;
	margin: 0 auto 100px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.reg-popup .pop-title {
	font-size: 28px;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #424242;
	margin-bottom: 33px;
}

.reg-popup .pop-title:after {
	content: "";
	display: block;
	width: 146px;
	height: 2px;
	background-color: #424242;
	margin-top: 12px;
}

.reg-popup p {
	font-family: "GothamProReg";
	font-size: 14px;
	line-height: 16px;
	color: #424242;
	margin-bottom: 29px;
	/*white-space: nowrap;*/
}

.reg-popup .bottom-string {
	width: 100%;
	position: absolute;
	bottom: -43px;
	left: 0;
	/*
	position: relative;
	top:90px;
	*/
	text-align: center;
	color: #9bd0ef;
	font-family: "GothamProReg";
	font-size: 14px;
	line-height: 16px;
}

.reg-popup .bottom-string a {
	display: inline-block;
	font-family: "FuturaNewMedium";
	color: #9bd0ef;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	border-bottom: 1px dotted #9bd0ef;
	margin-left: 6px;
	text-decoration: none;
}

.reg-popup .bottom-string a:hover {
	color: #9bd0ef;
	text-decoration: none;
	border-bottom-style: solid;
}

.reg-form {
	font-family: "GothamProReg";
	font-size: 14px;
	line-height: 16px;
}
.reg-form button {
	margin-top: 31px;
}
.reg-form .inp-block {
	margin-bottom: 21px;
}

.reg-form .inp-block label
{
	background: url('/images/a/pb11.ico') no-repeat scroll -9999px -9999px rgba(0, 0, 0, 0);
	display: block;
	color: #808080;
	margin-bottom: 8px;
}

.reg-form .inp-err label {
	color: #fc476f;
}

.reg-form .inp-err input[type="text"] {
	border-color: #fc4870;
}

.reg-form input[type="text"],
.reg-form input[type="password"]
 {
	display: block;
	width: 346px;
	height: 47px;
	padding-left: 15px;
	background-color: #ffffff;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 2px solid #cecece;
	font-family: "GothamProReg";
	color: #333333;
	font-size: 16px;
}

.reg-form .captcha {
	display: block;
	float: left;
	width: 161px;
	height: 47px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 2px solid #cecece;
	margin-right: 14px;
}

.reg-form .secur input[type="text"] {
	width: 171px;
}

.reg-form .confirm {
	font-size: 12px;
	line-height: 18px;
	color: #a6a6a6;
	margin-top: 13px;
}
.reg-form .confirm .label_rules
{
	display: inline-table;
	max-width: 320px;
}
.reg-form .confirm a {
	display: inline-block;
	font-family: "FuturaNewDemi";
	color: #5b889b;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	border-bottom: 1px dotted #a6a6a6;
	text-decoration: none;
}

.reg-form .confirm a:hover {
	text-decoration: none;
	color: #5b889b;
	border-bottom-style: solid;
}
.reg-form .secur + input[type="submit"] {
	margin-top: 36px;
}
.reg-form .jq-checkbox
{
	border: 2px solid #769DAC;
}
.reg-form .jq-checkbox.checked .jq-checkbox__div
{
	margin: 2px 0 0 1px;
	background: url(/bitrix/templates/difiz/img/reg/icon-confirm.png) top left no-repeat;
}
table.balance
{
	float: right;
	width: 690px;
}
ul.balance_menu
{
	margin: 0;
	padding: 9px 0 0;
	float: right;
}
ul.balance_menu li {
	float: left;
	font-family: FuturaNewMedium;
	font-size: 18px;
	list-style: none;
	margin-left: 30px;
}
.balance_menu li .b_curr
{
	color: #399bdc;
}
#restorePass_a
{
	position: absolute;
	width: 20px;
	height: 30px;
	right: 260px;
	top: 5px;
}


@media(max-width: 1100px) {
	.section.-payeer_statistics{
		/*min-height: 900px;*/
		height: 860px;
	}
}

.pop-close
{
   position: absolute;
   right: 11px;
   top: 10px;
}
.pop-close a:link,
.pop-close a:active,
.pop-close a:visited,
.pop-close a:hover
{
   color: #0099de;
   font-size: 20px;
   text-decoration: none;
}
