body,table{
    font-family: sans-serif;
    text-align: left;
    width: 100%;
    margin:0px;
    font-size: 13px;
    color:#333;
}
.main {
    max-width: 98%;
    border: 1px solid silver;
    background-color: white;
}

.footer div { padding: 0 0 5px 0; }
a:link
{
   color: #1E90FF;
   text-decoration: none;
   font-size: 13px;
}
a:visited
{
   color: #1E90FF;
   text-decoration: none;
   font-size: 13px;
}
a:active
{
   color: #1E90FF;
   text-decoration: none;
   font-size: 13px;
}
a:hover
{
   color: #1584E8;
   text-decoration: underline;
   font-size: 13px;
}

a.bk:link
{
   color: black;
   text-decoration: none;
   font-size: 13px;
}
a.bk:visited
{
   color: black;
   text-decoration: none;
   font-size: 13px;
}
a.bk:active
{
   color: black;
   text-decoration: none;
   font-size: 13px;
}
a.bk:hover
{
   color: black;
   text-decoration: underline;
   font-size: 13px;
}



        a.pink:link
{
   color: #FF0066;
   text-decoration: none;
}
a.pink:visited
{
   color: #FF0066;
   text-decoration: none;
}
a.pink:active
{
   color: #FF0066;
   text-decoration: none;
}
a.pink:hover
{
   color: #FF0000;
   text-decoration: underline;
}

a.db:link
{
   color: #0B81BF;
   text-decoration: none;
   font-size: 13px;
}
a.db:visited
{
   color: #0B81BF;
   text-decoration: none;
   font-size: 13px;
}
a.db:active
{
   color: #0B81BF;
   text-decoration: none;
   font-size: 13px;
}
a.db:hover
{
   color: #0A72A9;
   text-decoration: underline;
   font-size: 13px;
}
.pg {
    height:8px;
    padding-left:4px;
    padding-right:4px;
    background-color: #024AA2;
    color:white;
    border:1px solid #004A88;
}

.curpg {
    height:8px;
    padding-left:4px;
    padding-right:4px;
    background-color: #F2F2F2;
    color:black;
    border:1px solid #A8A8A8;
}

a:hover.pg,a:hover.curpg {
    text-decoration: none;
}


.line {
    background:#285F94 url('http://www.tamilrockers.in/hdx.png');
    background-repeat:repeat-x;
    color:#DFF4FF;
    padding:5px;
}

.hdgrn {
    background-color: #005E00; color: #E8FFE8;padding:3px;
}

.hdred {
    background-color: #B90000; color: #FFDFDF;padding:3px;
}

.lnlt {
    background-color:#6495ED; color:white;padding:3px;
    
}

.blnk {
padding:1px;
}

.dln {
    border-bottom:1px dotted #E9E9E9;
    padding:4px;
}

.lnbl {
    text-align: left;
    background-color: #EEF5FB;
    padding:5px;
}
.ln {
    border: 1px solid #EDF5FF;
}
.slv {
    background-color:#F4F4F4;padding:4px;text-align: left;
}
.lnbl1{
    text-align: left;
    background-color: #EBF4FA;
vertical-align:middle;




}

.dvbl {
text-align: left;
width:100%;
background-color: #EBF4FA;
vertical-align:middle;
 
padding:5px; 
border-bottom:1px dotted #D3ECFE;
}

.dvwt {
text-align: left;
width:100%;
background-color: white;
vertical-align:middle;

padding:5px; 
border-bottom:1px dotted #D3ECFE;
}

.lnbl1 td ,.lnwt td {
border-bottom:1px dotted #D3ECFE;

    height:15px;
    padding:5px; 
}

.lnwt{
    text-align: left;
    background-color: white;
vertical-align:middle;




}

.bul {
width:5px; text-align:center;
}
.bulful {
    width:100%;
}


.serhd {
    background-color: #F8F0FF;padding:5px;
}

.lnsml {
    text-align: left;
    background-color: white;
    padding:3px;

}

.note {
    background: #FFFFF4;
    border-bottom:1px solid #FBEAB5;
    padding:5px;

}


 .bookmark   {padding:2px;text-align:center; color:#f00; background:lightyellow; border: 4px double #fc0 }


.hrwt {
    border-bottom:1px solid white;
}

.done{
    
   background-color: #E7FEED;
   padding: 3px;
    color:green;
    font-size: 13px;
    border: 1px dotted green;
    font-weight: bold;
   width: 100%;
}
.pagerw {
    padding:4px;font-weight: bold;text-align: center;
    margin:2px;
    background: #FFFCEC;
}

.prob{
   background-color: #FFEAEA;
   padding: 2px;
    color:red;
    font-size: 13px;
    border: 1px dotted #CA0000;
    font-weight: bold;
    width: 100%;
}

 .blk{text-align:center;
 background-color:black;
 font-weight:bold;margin:0px;
 padding:2px;padding-left:10px; 
 color:#ffffff;border-bottom:1px solid #ABCDEF;}
 .blk a{color:#ffffff;}
.n1{padding:4px;border-bottom:1px solid #e6e6e6;}.n1 img{vertical-align:middle;}.ad{font-weight:bold;}

