﻿body {
	color: #403f3f;
	background: #fff url(../images/bg.jpg) repeat-x;
	background-position: center 100px;
	font-size: 12px;
	font-family: Arial;
}
a {
	text-decoration: none;
}
.header_container_ad {
	width: 100%;
	height: 100px;
	overflow: hidden;
	margin: 0 0 27px 0;
}

.header_container {
	width: 100%;
	background: #686000;
	height: 100px;
	overflow: hidden;
	margin: 0 0 27px 0;
}
.header_container h1 {
	display: block;
	margin: 20px 0 0 0;
	line-height: 55px;
	width: 150px;
	height: 55px;
	float: left;
	border-right: 1px solid #414141;
}
.header_container h1 a {
	color: #FFFF00;
	font-size: 36px;
}
.header_container .slogan {
	display: block;
	float: left;
	color: #fff;
	height: 55px;
	line-height: 55px;
	margin: 20px 0 0 15px;
}
.header_container .menu {
	float: right;
	display: block;
	font-size: 13px;
	font-weight: bold;
}
.header_container .menu a {
	color: #9e9e9e;
	display: block;
	float: left;
	height: 100px;
	line-height: 100px;
	padding: 0 18px;
	margin: 0 0 0 5px;
}
.header_container .menu a:hover, .header_container .menu a.active {
	background: #282828;
	color: #fff;
	border-top: 4px solid #e0cf39;
	height: 96px;
	line-height: 92px;
}
.container_12 .left_column {
	width: 500px;
	margin-right: 5px;
}

.container_12 .right_columns {
	position: absolute;
	float: right;
    top: 255px;
    right: 30px;
    width: 460px;
	height: 600px;
}

.container_12 .left_column .slider {
	background: url(../images/slider.png) no-repeat bottom center;
	width: 470px;
	height: 286px;
	margin: 0 0 34px 0;
}
.slides_container {
	width:460px;
	height: 239px;
	display: none;
	border: 5px solid #fff;
}
.slides_container div {
	width: 460px;
	height: 239px;
	display: block;
}
.pagination {
	list-style: none;
	display: block;
	padding: 0;
	margin: 26px 0 0 216px;
	float: left;
	width: 60px;
}
.pagination li {
	float: left;
	margin: 0;
	padding: 0;
}
.pagination li a {
	height: 10px;
	width: 10px;
	float: left;
	text-indent: -10000px;
	background: url(../images/slider_bullets.png) no-repeat;
	background-position: -15px center;
	margin: 0 5px 0 0;
}
.pagination li a:hover {
	background-position: 0px center;
}
.pagination .current a {
	background-position: 0px center;
}
.container_12 .left_column .features_item {
	width: 240px;
	float: left;
}
.container_12 .left_column .features_item.with_margin {
	margin-left: 20px;
}
.container_12 .left_column .features_item h3 {
	font-size: 14px;
	margin: 0 0 5px 0;
	line-height: 32px;
}
.container_12 .left_column .features_item h3 img {
	float: left;
	margin: 0 30px 0 0;
}
.container_12 .left_column .features_item p {
	line-height: 30px;
	text-align: justify;
}

.container_12 .right_column {
	width: 404px;
	padding: 0 0 0 10px;
	margin-left: 5px;
}
.container_12 .right_column h2 {
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 18px 0;
}
.container_12 .right_column p {
	line-height: 24px;
	margin: 0 0 40px 0;
}
.container_12 .right_column .free_trial_button {
	background: url(../images/buttons_form_bg.png) no-repeat;
	background-position: -26px 0px;
	height: 56px;
	width: 160px;
	float: left;
	text-indent: -10000px;
	margin: 0 20px 0 0;
}
.container_12 .right_column .purchase_now_button {
	background: url(../images/buttons_form_bg.png) no-repeat;
	background-position: -206px 0px;
	height: 56px;
	width: 160px;
	float: left;
	text-indent: -10000px;
}
.container_12 .right_column .newsletter {
	background-position: 0px -63px;
	height: 150
	width: 403px;
	padding: 0 0 0 25px;
	margin: 0 0 29px -25px;
	clear: both;
}

.container_12 .right_column .newsletter input[type=text] {
	width: 305px;
	height: 20px;
	line-height: 20px;
}
.container_12 .right_column .newsletter input[type=text].name {
	margin-bottom: 14px;
	margin-left: 82px;
}
.container_12 .right_column .newsletter input[type=text].email {
	margin-left: 86px;
}
.container_12 .right_column .newsletter p {
	font-family: Georgia;
	line-height: 30px;
	text-align: justify;
	margin: 40px 14px 0 18px;
}
.container_12 .right_column h3 {
	font-size: 14px;
	line-height: 28px;
	border-bottom: 1px dotted #666666;
	margin: 0 0 5px 0;
}
.container_12 .right_column p.about_us {
	line-height: 30px;
	text-align: justify;
}
.footer {
	width: 100%;
	height: 215px;
	background: #282828;
	color: #d9d9d9;
	padding: 28px 0 0 0;
}
.footer .container_12 h3 {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 20px 0;
}
.footer .container_12 p {
	text-align: justify;
	line-height: 18px;
	border-bottom: 1px dotted #666666;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}
.footer .container_12 p.connected {
	border: 0px none;
}
.footer .container_12 p span {
	color: #e0cf39;
	font-size: 10px;
}
.footer .container_12 a {
	margin: 0 8px 0 0;
}
.copyright_links {
	width: 100%;
	height: 32px;
	background: #191919;
	color: #9e9e9e;
	line-height: 32px;
	font-size: 11px;
}
.copyright_links .container_12 .grid_4 {
	text-align: left;
}
.copyright_links .container_12 .grid_8 {
	text-align: right;
}
.copyright_links .container_12 .grid_8 a {
	color: #9e9e9e;
	margin: 0 0 0 15px;
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton1 {
	background-color:#0B3861;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton1:hover {
	background-color:#045FB4;
}
.myButton1:active {
	position:relative;
	top:1px;
}