@media (max-width: 600px) {
  div#bs-example-navbar-collapse-1 {
      background: white !important;
  }
}

#contact-section #ninja_forms_field_4 {
    background: #000!important;
    border: 2px solid #fff!important;
    color: #fff!important;
    text-transform: uppercase;
    height: 50px;
    width: 50%;
}


input#ninja_forms_field_2 {
    border-radius: 2px;
    height: 33px;
}


textarea#ninja_forms_field_3 {
    height: 120px !important;
    border-radius: 2px !important;
}
input {
    color: black !important;
}



@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
#page-header-container, #about-section-gallery, #contact-section {
           height: 100%;
        min-height: 100vh;
        background-attachment: local !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
}



.g-recaptcha {
    margin: 0 auto !important;
    text-align: center !important;
    display: -webkit-inline-box;
    vertical-align: middle;
}
