@media screen and (max-width: 980px) {

	.slicknav_menu {
    display: block;
}
    .row-1 {
    display: none;
}

.row-2 {
    width: 100%;
    overflow: hidden;
    background: url(../images/row2.png) no-repeat center 0px;
    height: 704px;
}

.row-2_main {
    width: 98%;
    margin: 0 auto;
}

.row-2_block {
    width: 98%;
    margin: 0 auto;
    margin-top: 108px;
    height: 100%;
    background: url(../images/row-2_block.png);
    overflow: hidden;
}

.slogan {
    font-size: 36px;
}

.slogan-mini {
    margin-bottom: 40px;
}

.row-3_main {
    width: 98%;
}

.row-4_main {
    width: 98%;
}

.row-5_main {
    width: 98%;
}

.row-6_main {
    width: 98%;
}

.row-7_main {
    width: 98%;
}

.row-8_main {
    width: 98%;
}

.row-9_main {
    width: 98%;
}

.pub {
    float: none;
    margin: 0 auto;
    margin-top: 34px;
}

div#pub4 {
    float: none;
    margin: 0 auto;
    margin-top: 34px;
}

.adv {
    float: none;
    margin: 0 auto;
    margin-top: 50px;
}

.block-1 {
    float: none;
    width: 100%;
    text-align: center;
}

.numb-1 {
    margin-top: 25px;
}

span.big {
    font-size: 50px;
}

.block-2 {
    float: none;
    width: 100%;
}

.button2 {
    margin-top: 75px;
}

.quest {
    text-align: center;
}
.answer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.cont {
    margin-top: 40px;
}

.line-1 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.line-2 {
    margin: 0 auto;
}

.copy {
    text-align: center;
}

.logo1 {
    display: block;
    position: absolute;
    top: 26px;
    left: 11px;
}

.logo1 img {
    width: 80%;
}

#scrollup {
    display: block;
}
.slicknav_nav a {
    font-size: 27px;
}



}