/********************************************* Fonts */

@font-face {
    font-family: 'Numberplate-Round';
    src:url("../fonts/lineto-numberplate-switzerlandrounded.eot");
    src:url("../fonts/lineto-numberplate-switzerlandrounded.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-numberplate-switzerlandrounded.woff") format("woff"),
        url("../fonts/lineto-numberplate-switzerlandrounded.ttf") format("truetype"),
        url("../fonts/lineto-numberplate-switzerlandrounded.svg#lineto-numberplate-switzerlandrounded") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
  
		src:url("../fonts/lineto-circular-book.eot");
    src:url("../fonts/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-book.woff") format("woff"),
        url("../fonts/lineto-circular-book.ttf") format("truetype"),
        url("../fonts/lineto-circular-book.svg#lineto-circular-book") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
		src:url("../fonts/lineto-circular-bold.eot");
    src:url("../fonts/lineto-circular-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-bold.woff") format("woff"),
        url("../fonts/lineto-circular-bold.ttf") format("truetype"),
        url("../fonts/lineto-circular-bold.svg#lineto-circular-bold") format("svg"); src: url('../fonts/lineto-circular-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/********************************************* Body */
.home-2015 .marginator { max-width: 1100px !important; min-width: 310px !important;  }
.home-2015  #home-wrapper {
	padding-bottom: 0;
	background:none;
}








/**********************************************
**********************************************
RESPONSIVE STYLES
**********************************************
**********************************************/

/*********************************************************************/
/* smaller than desktop */
/* and (min-width: 1px) and (max-width: 939px) */
@media only screen and (min-width: 0.1em) and (max-width: 58.6875em) {
	
}
/* all screens except for handheld and amazon kindle  */
/* and (min-width: 481px) and (max-width: 99999px) */
@media screen and (min-width:30.0625em) and (max-width: 999em) {

}
/*********************************************************************/
/* average and large desktop  */
/* and (min-width: 940px) and (max-width: 99999px) */
@media only screen and (min-width: 58.75em) and (max-width: 999em) {

}

/*********************************************************************/
/* smaller than desktop, larger than handheld  */
/* and (min-width: 481px) and (max-width: 939px) */
@media only screen and (min-width: 30.0625em) and (max-width: 58.6875em) {

}
/*********************************************************************/
/* small desktop  */
/* and (min-width: 801px) and (max-width: 939px) */
@media only screen and (min-width: 50.0625em) and (max-width: 58.6875em) {

}
/*********************************************************************/
/* tablet/ipad - portrait */
/* and (min-width: 768px) and (max-width: 800px) */
@media only screen and (min-width: 48em) and (max-width: 50em) {
	
}
/*********************************************************************/
/* amazon kindle and larger */
/* and (min-width: 600px) and (max-width: 99999px) */
@media only screen and (min-width: 37.5em) and (max-width: 9999em) {

}
/*********************************************************************/
/* larger than amazon kindle, smaller than desktop */
/* and (min-width: 600px) and (max-width: 939px) */
@media only screen and (min-width: 37.5em) and (max-width: 58.6875em) {

}
/*********************************************************************/
/* ipad portrait and larger */
/* and (min-width: 768px) */
@media only screen and (min-width: 48em) {

}
/*********************************************************************/
/* amazon kindle fire only */
/* and (min-width: 600px) and (max-width: 767px) */
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {

}
/*********************************************************************/
/* other smallScreen, including amazon kindle fire */
/* and  (min-width: 481px) and (max-width: 767px) */
@media only screen and (min-width: 30.0625em) and (max-width: 47.9375em) {

}
/*********************************************************************/
/* handheld - small screen - landscape  */
/* and (min-width: 361px) and (max-width: 480px) */
@media screen and (min-width: 22.5625em) and (max-width: 30em) {
}
/*********************************************************************/
/* samsung s3, samsung s4*/
/* and (min-width: 321px) and and (width: 360px) */
@media screen and (min-width: 20.0625em) and (max-width: 22.5em) {
}
/*********************************************************************/
/* all smallscreen handheld  */
/* and (min-width: 0px) and (max-width: 480px) */
@media screen and (min-width: 0em) and (max-width: 30em) {
}
/*********************************************************************/
/* smallscreen portrait  */
/* and (min-width: 0px) and (max-width: 320px) */
@media screen and (min-width: 0em) and (max-width: 20em) {


}
/*********************************************************************/
/* Retina Images */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
}