/* $Id: frontpage.css 2350 2016-11-01 14:08:55Z jspurr $ */

/******************************************************************************
* Brown University Frontpage Screen Styles 2014 Pawtuxet revamp, a revision of Pawtucket, which is a revision of Ursa Minor
*
* em calculations based on default font size of 16px; and a 21px baseline
* paragraph copy is .875em (14px) and leading is 1.5em (21px).
* 
* @author Jeremy Spurr <Jeremy_Spurr@brown.edu>
*******************************************************************************/





/****************************** Mobile Quick Links ******************************/

#block-block-47 .content ul {
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
	list-style-type:none;
}
#block-block-47 .content ul li {
	padding: 0 0 0 0;
	margin: 0 0 0 0;	
	border-bottom: 1px solid #2f2a20;
	position: relative;
}
#block-block-47 .content ul li a {
	font-size: 1.25em;
	display: block;
	padding: 15px 0 15px 46px;
	background-repeat: no-repeat;
	color: #2f2a20 !important;
	text-transform: uppercase;
}
#block-block-47 .content ul li a {
	background-image: url(../img/icons/mobile-small-academic.png);
	background-image: url(../img/icons/mobile-small-academic.svg);
	background-position: 0 9px;
	background-size: 38px 30px;
	background-repeat:no-repeat;
	
}
#block-block-47 .content ul li#apply a {	
	background-image: url(../img/icons/mobile-small-check.png);
	background-image: url(../img/icons/mobile-small-check.svg);
}
#block-block-47 .content ul li#campus-map a {
	background-image: url(../img/icons/mobile-small-map.png);
	background-image: url(../img/icons/mobile-small-map.svg);
}
#block-block-47 .content ul li#directions a {
	background-image: url(../img/icons/mobile-small-directions.png);
	background-image: url(../img/icons/mobile-small-directions.svg);
}
#block-block-47 .content ul li a:hover, #block-block-47 .content ul li a:active {
	background-color: #ccc6b7;
}

/****************************** Mobile Search on Front ******************************/
#block-block-48 {
	background-color: #ffcc00;
	padding: 12px;
	margin: 18px 0 0 0 ;
}
#block-block-48 .content {
	line-height: 0;
	margin-bottom: 0;
}
#block-block-48 form .search-field {
	padding: 6px 6px 3px 6px;
	width: 80%;
	width: calc(100% - 48px);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #CCC;
	font-size: 18px;
	font-family: 'Vitesse A', 'Vitesse B', Georgia, serif;
	font-weight: 700;
	float: left;
}
#block-block-48 form .mobile-search-button {
	float: left;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	vertical-align:bottom;
}
/****************************** Secondary Stories ******************************/
#secondary-features ul li#secondary-feature-4,
#secondary-features ul li#secondary-feature-5,
#secondary-features ul li#secondary-feature-6,
#secondary-features ul li#secondary-feature-7,
#secondary-features ul li#secondary-feature-8,
#secondary-features ul li#secondary-feature-9,
#secondary-features ul li#secondary-feature-10 {
	display: none;
}
/****************************** News Slider ******************************/
#secondary-features ul h2 a {
	font-family: 'Vitesse A', 'Vitesse B', Georgia, serif;
	font-weight: 700;
	font-size: 0.95em;
}
/****************************** Main Image ******************************/
#feature a:link, #feature a:hover {
	color: #ffcc00;
}
#feature a:link, #feature a:visited {
	text-decoration: none;
	color: #ffcc00;
}
#feature a:hover {
	text-decoration: underline;
}
/****************************** Reminder ******************************/
.frontpage-reminder {
	background-color: #ffcc00 !important;
	margin: 15px auto !important;
	width: 80%;
	padding: .5em 0.5em 0 2.625em !important;
	height: 1%;
	background: #ffcc00 url(../img/icon-frontpage-alert.png) 0 50% no-repeat !important;
}
.frontpage-reminder a:link, .frontpage-reminder a:visited {
	color: #c00404 !important;
	text-decoration: none;
}
.frontpage-reminder a:hover {
	color: #000 !important;
	text-decoration: underline;
}
/****************************************************************************************************************************************************************
RESPONSIVE STYLES
****************************************************************************************************************************************************************/


/* all screens except for handheld and amazon kindle  */
/* and (min-width: 481px) and (max-width: 99999px) */
@media screen and (min-width:30.0625em) and (max-width: 999em) {
/****************************** Mobile Search on Front ******************************/
#block-block-48 {
	display: none;
}
}
/*********************************************************************/
/* average and large desktop  */
/* and (min-width: 940px) and (max-width: 99999px) */
@media only screen and (min-width: 58.75em) and (max-width: 999em) {
/****************************** Main Image ******************************/
#feature {
	display: block;
	margin: 1.25em 0;
}

#feature .primary {
	position: relative;
	width: 45em;
	height: 32.3125em;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;
}
.feature-video {
	height: 32.3125em;
	background-color: #000;
}
#feature .primary .text-content {
	background: transparent url(../img/black70.png) 0 0 repeat;
	position: absolute;
	bottom: 0;
	width: 95%;
	padding: 1% 2.5% 0;
}
.eyebrow {
	font-style: normal;
	text-transform: uppercase;
}
#feature .primary .text-content h6 {
	font-family: "LucidaSans-Demi", "Lucida Sans Demibold Roman", "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	color: #fff;
	font-size: .75em;
	line-height: 1;
}
#feature .primary .text-content h1 {
	margin-bottom: 6px;
	font-size: 2em;
	color: #ffcc00;
	line-height: 1.2;
	font-family: 'Vitesse A', 'Vitesse B', Georgia, serif;
	font-weight: 700;
}
#feature .primary .text-content h1 a {
	color: #ffcc00;
}
#feature .primary .text-content p {
	color: #fff;
	margin-bottom: 0;
	font-size: .75em;
	line-height: 1.5em;
}
#feature .primary .text-content .teaser {
	margin-top: -.75em;
	margin-bottom: .625em;
	position: relative;
	z-index: 10;
}
#secondary-features ul, #secondary-features ul li, #secondary-features h2 {
	font-size: 1em; /* override the default ul font-size */
	margin: 0; /* override the default ul bottom margin */
}
#secondary-features {
	width: 13.75em;
	margin: 0 0 0 45em;
	padding: 0;
	height: 32.3125em;
	position: relative;
	overflow: hidden;
}
#secondary-features .feature-nav {
	position: relative;
	z-index: 10;
}
#secondary-features ul {
	position: relative;
	z-index: 5;
	list-style: none;
	height: 29.5625em;
}
#feature .secondary {
	position: relative;
	margin: 0;
	padding: 0;
}
#feature .secondary h2 {
	background: transparent url(../img/black70.png) 0 0 repeat;
	position: absolute;
	bottom: 0;
	width: 90%;
	padding: 5%;
	text-align: center;
}
#feature .secondary h2.sIFR-replaced {
	padding-bottom: 0;
}
#secondary-features li {
	position: relative;
	height: 9.875em;
}
#secondary-features .feature-nav {
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: repeat;
	height: 22px;
	width: 100%;
	display: block;
	text-indent: -999em;
	outline: 0;
}
#secondary-features .arrow-up {
	background-image: url(../img/feature-arrow-up.png);
}
#secondary-features .arrow-down {
	background-image: url(../img/feature-arrow-down.png);
}
#secondary-features .arrow-up:hover, .secondary-features-arrow-up-hover {
	background-image: url(../img/feature-arrow-up-hover.png);
}
#secondary-features .arrow-down:hover, .secondary-features-arrow-down-hover {
	background-image: url(../img/feature-arrow-down-hover.png);
}
#secondary-features .disabled, #secondary-features .disabled:hover {
	background-image: none;
	background-color: #000;
	cursor: default;
}
#slideshow {
	position: relative;
	float: left;
	width: 33.75em;
	height: 20.3125em;
}
#slideshow * {
	margin: 0 !important;
}
#slideshow .content {
	font-size: 1em;
	margin-bottom: 0;
}
.frontpage-slideshow-image {
}
.frontpage-slideshow-caption {
	font-size: .75em;
	position: absolute;
	display: block;
	bottom: .5em;
	right: 0;
	width: 25em;
	padding: .4125em 1em .425em;
	font-style: italic;
	text-align: right;
	background: transparent url(../img/black70.png) 0 0 repeat;
	color: #fff;
}
#announcements {
	float: left;
	margin: 0;
	padding: 0;
	height: 20.3125em;
}
#announcements * {
	margin: 0;
	padding: 0;
}
#second-tier {
	clear: left;
	position: relative;
	margin: 0;
}
#second-tier div {
	float: left;
}
#second-tier div div {
	float: none;
}
#second-tier #block-block-3 {
	position: relative;
	margin: -2.0625em 0 0;
	z-index: 200;
}
#second-tier #block-block-3 * {
	margin-bottom: 0;
}
#highlights {
	width: 44em;
	margin: 2em 0 0 1em;
	padding: 0;
}
#highlights h2 {
	font-size: 1em;
	text-transform: uppercase;
	border-bottom: .0625em solid #7f7f7f;
}
/****************************** Main Image ******************************/
#secondary-features ul li#secondary-feature-4,
#secondary-features ul li#secondary-feature-5,
#secondary-features ul li#secondary-feature-6,
#secondary-features ul li#secondary-feature-7,
#secondary-features ul li#secondary-feature-8,
#secondary-features ul li#secondary-feature-9,
#secondary-features ul li#secondary-feature-10 {
	display: block;
}
}

/*********************************************************************/
/* smaller than desktop  */
/* and (min-width: 1px) and (max-width: 939px) */
@media only screen and (min-width: 0em) and (max-width: 58.6875em) {
/****************************** Main Image ******************************/
.primary {
	position: relative;
	line-height: 0;
}
.primary a {
}
.primary img {
	width: 100%;
	height: auto;
}
.text-content {
	background: transparent url(../img/black70.png) 0 0 repeat;
	position: absolute;
	bottom: 0px;
	width: 94%;
	padding: 3% 3% 3% 3%;
	z-index: 66;
}
#body-content .text-content h6.eyebrow {
	font-family: "LucidaSans-Demi", "Lucida Sans Demibold Roman", "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	color: #fff;
	font-size: 0.7em;
}
#body-content .text-content h1 {
	margin-bottom: 0.1em;
	line-height: 1.1;
}
.text-content h1 a {
	color: #ffcc00;
	font-family: 'Vitesse A', 'Vitesse B', Georgia, serif;
	font-weight: 700;
	font-size: 1em;
}
.text-content h1 a:hover, .text-content h1 a:active {
	color: #ccc6b7;
	-webkit-transition: .3s linear;
	transition: .3s linear;
}
.text-content .teaser p {
	margin-bottom: 0;
	color: #fff;
	font-size: .75em;
	line-height: 1.5em;
	display: none;
}
.text-content:hover p {
	display: block;
}

#secondary-features {
	margin: 0 0 12px 0;
	display: inline-block;
}
/****************************** News Slider ******************************/

a#secondary-nav-up, a#secondary-nav-down {
	display: none;
}
#secondary-features {
}
#secondary-features ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#secondary-features ul li {
	list-style-type: none;
	list-style-image: none;
	margin: 0 5% 12px 0;
	padding: 0 0 0 0;
	position: relative;
	width: 47.5%;
	float: left;
	overflow: hidden;
	line-height: 0;
}
#secondary-features ul li:nth-child(even) {
	margin: 0 0 12px 0;
	width: 47.5%;
}
#secondary-features ul h2 {
	line-height: 1.2;
}
#secondary-features ul h2 a {
	background: transparent url(../img/black70.png) 0 0 repeat;
	position: absolute;
	bottom: 0;
	width: 90%;
	padding: 5%;
	text-align: center;
	color: #ffcc00;
	font-family: 'Vitesse A', 'Vitesse B', Georgia, serif;
	font-weight: 700;
	font-size: 14px;
}
#secondary-features ul li:hover h2 a, #secondary-features ul h2 a:active {
	color: #FFF;
	background-image: none;
	background-color: #c00404;
}
#secondary-features ul a.secondary-feature-image-link img {
	width: 100%;
	height: auto;
}
}
/*********************************************************************/
/* tablet/ipad - portrait */
/* and (min-width: 768px) and (max-width: 800px) */
@media only screen and (min-width: 48em) and (max-width: 50em) {
}
/*********************************************************************/
/* amazon kindle and larger */
/* and (min-width: 600px) and (max-width: 99999px) */
@media only screen and (min-width: 37.5em) and (max-width: 9999em) {
/****************************** Mobile Quick Links ******************************/
#block-block-47 {
	display: none;
}
}


/*********************************************************************/
/* and (min-width: 1px) and (max-width: 767px) */
@media only screen and (min-width: 0em) and (max-width: 47.9375em) {
}
/*********************************************************************/
/* and (min-width: 481px) and (max-width: 599px) */
@media only screen and (min-width: 30.0625em) and (max-width: 37.4375em) {
#block-block-47 .content ul {
	display: inline-block;
	width: 100%;
}
#block-block-47 .content ul li {
	float: left;
	width:48%;
	margin: 0 4% 0 0;
	text-align:center;
	border-bottom: 1px dotted #b78080;
}
#block-block-47 .content ul li a {
	background-image:none !important;
}
#block-block-47 .content ul li:nth-of-type(even) {
	margin: 0 0 0 0;
}
#block-block-47 .content ul li#apply {
	border-top: 1px dotted #b78080;
}
#block-block-47 .content ul li#academic-calendar {
	border-top: 1px dotted #b78080;
}
#block-block-47 .content ul li a {
	font-size: 1.25em;
	display: block;
	padding: 11px 0 11px 0;
	background-repeat: no-repeat;
	color: #c00404 !important;
	vertical-align: text-bottom;
}
#block-block-47 .content ul li a:before {
	content: url(../img/icons/mobile-menu-calendar.png);
	padding: 0 6px 0 0;
	position: relative;
	top: auto;
	left: auto;
}
#block-block-47 .content ul li#apply a:before {
	content: url(../img/icons/mobile-menu-apply.png);
}
#block-block-47 .content ul li#campus-map a:before {
	content: url(../img/icons/mobile-menu-campus-map.png);
}
#block-block-47 .content ul li#directions a:before {
	content: url(../img/icons/mobile-menu-directions.png);
}
#block-block-47 .content ul li a:hover, #block-block-47 .content ul li a:active {
	background-color: #ccc6b7;
}
.primary .feature-video {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  margin-bottom: 25px;
}
.primary .feature-video iframe, .primary .feature-video object, .primary .feature-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: 33;
}
}
/*********************************************************************/
/* larger than amazon kindle, smaller than desktop */
/* and (min-width: 600px) and (max-width: 939px) */
@media only screen and (min-width: 37.5em) and (max-width: 58.6875em) {
/****************************** Main Image ******************************/
.primary {
	margin: 8px 0;
	overflow: hidden;
}
.primary a {
	line-height: 0;
}
.primary .feature-video {
	width: 50%;
	height: auto;
}
.primary .feature-video iframe, .primary .feature-video object, .primary .feature-video embed {
	width: 100% !important;
	height: auto !important;
	min-height: 260px !important;
}
.primary img {
	width: 50%;
	height: auto;
}
.text-content {
	background: none;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	bottom: auto;
	top: 0;
	right: 0;
	width: 44%;
	height: 100%;
	padding: 3% 3% 1% 3%;
}
.text-content:hover {
	background-color: #c00404;
	-webkit-transition: .3s linear;
	transition: .3s linear;
}
#body-content .text-content h6.eyebrow {
	margin: 0 0 12px 0;
}
#body-content .text-content h1 {
	line-height: 1.5;
	display: block;
}
.text-content h1 a {
	font-size: 1.75em;
}
.text-content .teaser p {
	display: block;
}


/****************************** News Slider ******************************/

#secondary-features ul li {
	margin: 0 2% 8px 0;
	width: 32%;
}
#secondary-features ul li:nth-child(even) {
	width: 32%;
	margin: 0 2% 8px 0;
}
#secondary-features ul li:nth-of-type(3n+3) {
	width: 32%;
	margin: 0 0 8px 0;
}
#secondary-features ul li#secondary-feature-3,
#secondary-features ul li#secondary-feature-4,
#secondary-features ul li#secondary-feature-5,
#secondary-features ul li#secondary-feature-6,
#secondary-features ul li#secondary-feature-7,
#secondary-features ul li#secondary-feature-8,
#secondary-features ul li#secondary-feature-9 {
	display: none;
}
#secondary-features ul h2 a {
	font-size: 1em;
}
}
/*********************************************************************/
/* amazon kindle fire only */
/* and (min-width: 600px) and (max-width: 767px) */
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
/****************************** Main Image ******************************/
#body-content .text-content h6.eyebrow {
 margin: 0 0 4px 0;
}
.text-content {
 padding: 2% 2% 1% 2%;
 width: 56%;
}
#body-content .text-content h1 {
 line-height: 1;
}
.text-content h1 a {
 font-size: 1.15em;
}
.text-content .teaser p {
 line-height: 1.25;
}
.primary img {
 width: 40%;
}
.primary .feature-video {
	width: 40%;
	height: auto;
}
.primary .feature-video iframe, .primary .feature-video object, .primary .feature-video embed {
	width: 100% !important;
	height: auto !important;
	min-height: 169px !important;
}
}
/*********************************************************************/
/* handheld - small screen - landscape  */
/* and (min-width: 361px) and (max-width: 480px) */
@media screen and (min-width: 22.5625em) and (max-width: 30em) {
}
/*********************************************************************/
/* samsung s3, samsung s4 */
/* and (min-width: 321px) and and (max-width: 360px) */
@media screen and (min-width: 20.0625em) and (max-width: 22.5em) {
}
/*********************************************************************/
/* all smallscreen handheld  */
/* and (min-width: 0px) and (max-width: 480px) */
@media screen and (min-width: 0em) and (max-width: 30em) {
.primary .feature-video {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  margin-bottom: 25px;
}
.primary .feature-video iframe, .primary .feature-video object, .primary .feature-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: 33;
}

}

/*********************************************************************/
/* smallscreen portrait  */
/* and (min-width: 0px) and (max-width: 320px) */
@media screen and (min-width: 0em) and (max-width: 20em) {
#secondary-features ul h2 a {
	font-size: 11px;
}
.brown-youtube {
	width: 310px;	
}
}
/*********************************************************************/
/* small desktop  */
/* and (min-width: 801px) and (max-width: 939px) */
@media only screen and (min-width: 50.0625em) and (max-width: 58.6875em) {
#secondary-features ul h2 a {
	font-size: 1.25em;
}
}
/*********************************************************************/
/* and (min-width: 718px) and (max-width: 939px) */
@media only screen and (min-width: 44.875em) and (max-width: 58.6875em) {
#secondary-features ul h2 a {
	font-size: 1.05em;
}
#secondary-features ul li#secondary-feature-3 {
	display: block;
	width: 23.5%;
	margin: 0 0 8px 0;
}
#secondary-features ul li, #secondary-features ul li:nth-child(even) {
	width: 23.5%;
	margin: 0 2% 8px 0;
}
#secondary-features ul li:nth-of-type(3n+3) {
	width: 23.5%;
	margin: 0 2% 8px 0;
}
}
/*********************************************************************/
/* Retina Images */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
}



