/* $Id: headlines.css 2350 2011-11-01 14:08:55Z jspurr $ */

/******************************************************************************
* Brown University Frontpage Headlines Screen Styles 2014 Pawtuxet revamp, a revision of Pawtucket, which is a revision of Ursa Minor
*
* em calculations based on default font size of 16px; and a 21px baseline
* paragraph copy is .875em (14px) and leading is 1.5em (21px).
* 
* @author Jeremy Spurr <Jeremy_Spurr@brown.edu>
*******************************************************************************/

#headlines-content .date-time {
	width: 100%;
	margin: 0 0 4px 0;
	display: block;
}

#headlines-content .location {
	width: 100%;
	margin: 4px 0 4px 0;
	display: block;
	text-transform: uppercase;
}
#headlines-content img.loader {
	width: 50px;
	height: 50px;
	height: auto;
	margin: 12px auto;
	display: block;
	text-align: center;
}
#headlines-content, #headlines-content ul {
	width: 100%;
}

/****************************************************************************************************************************************************************
RESPONSIVE STYLES
****************************************************************************************************************************************************************/

/* and (min-width: 1px) and (max-width: 599px) */
@media screen and (min-width:0.1em) and (max-width: 37.4375em) {
#headlines #headlines-content li:nth-of-type(5) {
		display: none;
}
}
/*********************************************************************/
/* average and large desktop  */
/* and (min-width: 940px) and (max-width: 99999px) */
@media only screen and (min-width: 58.75em) and (max-width: 999em) {

#headlines {
	background-color: #fff;
	clear: left;
}
#headlines ul {
	font-size: 16px; /* override default ul */
	line-height: inherit; /* override default ul */
	margin: 0; /* override default ul */
}

.homepage-headlines {
	background-color: #fff;
	overflow: auto;
}

#headline-types {
	background-color: #ccc6b7;
	height: 3em;
	margin-bottom: 1em;
	font-size: 16px;
}
#headline-types ul {
	position: relative;
}
#headline-types li {
	display: inline;
	list-style: none;
}
#headline-types li a {
	display: block;
	float: left;
	line-height: 2.125em;
	margin: 1em .125em 1em 0;
	padding: 0 1em;
	font-size: .75em;
	text-decoration: none;
	border-radius: .25em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
}
#headline-types li a:link {
	color: #625f58;
	display: block;
}
#headline-types li a:hover {
	background-color: #989283;
	color: #fff;
 	-webkit-transition: .3s linear;
  transition: .3s linear;
}
#headline-types li a.active {
	background-color: #989283;
	color: #fff;
}
#more-news-button {
	position: absolute;
	right: 0;
}
#more-news-button a {
	width: 7em;
	background: #645e50 url(../img/more-news.png) 50% 50% no-repeat;
	border-radius: .25em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	display: block;
	text-indent: -999em;
}

h2.headlines-sans-nav {
	border-bottom: 4px solid #ccc6b7;
	width: 100%;
	margin-bottom: 1em;
}
h2.headlines-sans-nav span { /* clever way to hiding part of the bottom border */
	position: relative;
	background: #fff;
	bottom: -.625em;
	padding-right: 1em;
}
#headlines-content {
	display:inline-block;
	min-height: 200px;
}
#headlines-content ul {
	padding: 0 0 0 0;
}
#headlines-content li {
	display: block;
	float: left;
	width: 20%;
	margin: 0; 
	padding: 0 0 0 0;
	color: #252525;
}
#headlines-content li.headlines-nav {
	font-size: 1em;
	width: 2.5%;
	margin: 0; padding: 0;
}
#headlines-content li.headlines-nav a {
	display: block;
	text-indent: -999em;
	height: 10.25em;
}
#headlines-content li.arrow-left a {
	background: #fff url(../img/arrow-news-left.png) 50% 50% no-repeat;
	border-right: 1px solid #d7d7d7;
}
#headlines-content li.arrow-right a {
	background: #fff url(../img/arrow-news-right.png) 50% 50% no-repeat;
	border-left: 1px solid #d7d7d7;
}
#headlines-content li.arrow-left a:hover {
	background: #c00404 url(../img/arrow-news-left-hover.png) 50% 50% no-repeat;
}
#headlines-content li.arrow-right a:hover {
	background: #c00404 url(../img/arrow-news-right-hover.png) 50% 50% no-repeat;
}

#headlines-content li h4 {
	font-family: "LucidaSans-Demi","Lucida Sans Demibold Roman","Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
	font-size: .625em;
	font-weight: 500;
	letter-spacing: .025em;
	color: #363636;
	padding: 0 12px 0 0;
}
#headlines-content li .teaser {
	font-size: .75em;
	font-weight: normal;
}
#headlines-content p.teaser {
	margin: 4px 12px 4px 0;
	line-height: 1.2;
}
#headlines-content p.teaser a:link {
	font-size: 1em;
	margin: 0 0 6px 0;
	text-decoration: none;
}
#headlines-content a:hover {
	text-decoration: underline;
}
}

/*********************************************************************/
/* smaller than desktop, larger than handheld  */
/* and (min-width: 481px) and (max-width: 939px) */
@media only screen and (min-width: 30.0625em) and (max-width: 58.6875em) {

}
/*********************************************************************/
/* tablet/ipad - portrait */
/* and (min-width: 768px) and (max-width: 800px) */
@media only screen and (min-width: 48em) and (max-width: 50em) {

}
/*********************************************************************/
/* amazon kindle and larger */
/* and (min-width: 600px) and (max-width: 99999px) */
@media only screen and (min-width: 37.5em) and (max-width: 9999em) {

}
/*********************************************************************/
/* amazon kindle fire only */
/* and (min-width: 600px) and (max-width: 767px) */
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {


}
/*********************************************************************/
/* other smallScreen, including amazon kindle fire */
/* and (min-width: 481px) and (max-width: 767px) */
@media only screen and (min-width: 30.0625em) and (max-width: 47.9375em) {


}
/*********************************************************************/
/* handheld - small screen - landscape  */
/* and (min-width: 361px) and (max-width: 480px) */
@media screen and (min-width: 22.5625em) and (max-width: 30em) {

}
/*********************************************************************/
/* and (min-width: 1px) and and (max-width: 360px) */
@media screen and (min-width: 0.1em) and (max-width: 22.5em) {
#headline-types li#more-news-button {
	display: none;
}
}
/*********************************************************************/
/* all smallscreen handheld  */
/* and (min-width: 0px) and (max-width: 939px) */
@media screen and (min-width: 0em) and (max-width: 58.6875em) {
#home-wrapper {
	margin-bottom: -18px;
}
#headlines {
	background-color: #ccc6b7;
	padding: 0 0 24px 0;
	display:inline-block;
	width: 100%;
}
#block-block-5 .content {
	margin-bottom: 0;
}
#headlines ul {
	list-style-type: none;
	list-style-image: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
#headlines ul li {
	list-style-type: none;
	list-style-image: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
#headline-types {
	width: 100%;
	min-height: 30px;
}
#headline-types li {
	float: left;
}
#headline-types a {
	display: block;
	float: left;
	line-height: 2.125em;
	margin: 0.75em 0 0.75em 0;
	padding: 0 1em;
	font-size: 1em;
	text-decoration: none;
	border-radius: .25em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
}
#headline-types a.active {
	background-color: #989283;
	color: #fff;
}
#headline-types li#more-news-button {
	float: right;
}
#headline-types li#more-news-button a {
	display: block;
	float: right;
	line-height: 2.125em;
	margin: 8px 0 0 0;
	padding: 0 22px 0 8px;
	font-size: 1em;
	text-decoration: none;
	border-radius: .25em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	font-family: 'Vitesse SSm A', 'Vitesse SSm B', Georgia, serif; 
	color: #FFF;
	font-weight: 700;
	background-image:url(../img/icons/button-arrow.png) !important;
	background-repeat:no-repeat;
	background-position: 92% 50%;
	width: auto !important;
	background-color: #c00404;
}
#headline-types li#more-news-button a:hover {
	background-color: #c00404;
}
#headlines-content-wrapper {
	clear: both;
}
#headlines #headlines-content li {
	list-style-type: none;
	list-style-image: none;
	margin: 0 5% 18px 0;
	padding: 0 0 0 0;
	position: relative;
	width: 47.5%;
	float: left;
	overflow: hidden;
	line-height:0;	
}
#headlines #headlines-content li:nth-child(even) {
	margin: 0 0 12px 0;
	width: 47.5%;
}
#headlines-content img {
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
}

#headlines-content h4.eyebrow {
	font-size:  0.75em;
	line-height: 1.2;
	margin: 4px 0 0 0;
	letter-spacing: .025em;	
}
#headlines-content p.teaser {
	margin: 4px 0 4px 0;	
	line-height: 1.2;
}
#headlines-content p.teaser a {
	font-size: 1.25em;
	margin: 0 0 6px 0;
}
#headlines-content .date-time {
	width: 100%;
	margin: 0 0 4px 0;
	display: block;
}
#headlines-content .location {
	width: 100%;
	margin: 4px 0 4px 0;
	display: block;
	text-transform: uppercase;
}
}
/*********************************************************************/
/* larger than amazon kindle, smaller than desktop */
/* and (min-width: 600px) and (max-width: 939px) */
@media only screen and (min-width: 37.5em) and (max-width: 58.6875em) {
#headlines {
	background-color: #FFF;
}
#headlines #headlines-content li {
	margin: 0 2% 16px 0;
	width: 32%;
}
#headlines #headlines-content li:nth-child(even) {
	margin: 0 2% 16px 0;
	width: 32%;
}
#headlines #headlines-content li:nth-of-type(3n+3) {
	width: 32%;
	margin: 0 0 16px 0;
}

#headlines #headlines-content li:nth-of-type(4) {
		clear: left;
}
#headlines-content h4.eyebrow {
	font-size: 0.75em;
	line-height: 1.2;
	margin: 8px 0 0 0;
}
#headlines-content p.teaser a {
	font-size: 1em;
	margin: 0 0 6px 0;
}
}
/*********************************************************************/
/* small desktop  */
/* and (min-width: 801px) and (max-width: 939px) */
@media only screen and (min-width: 50.0625em) and (max-width: 58.6875em) {
#headlines #headlines-content li {
	margin: 0 2% 16px 0;
	width: 23.5%;
}
#headlines #headlines-content li:nth-child(even), #headlines #headlines-content li:nth-of-type(3n+3) {
	margin: 0 2% 16px 0;
	width: 23.5%;
}
#headlines #headlines-content li:nth-of-type(4n+4) {
	width: 23.5%;
	margin: 0 0 16px 0;
}
#headlines #headlines-content li:nth-child(5), #headlines #headlines-content li:nth-child(6), #headlines #headlines-content li:nth-child(7) {
	display: none;
}
#headlines #headlines-content li:nth-of-type(4) {
		clear: none;
}
#headlines-content .location {
	margin: 8px 0 0 0;
}
}
/*********************************************************************/
/* Retina Images */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}

