/*
Theme Name: 	NewsDesk Child Theme
Theme URI: 	http://themeforest.net/item/newsgamer-wordpress-news-magazine-theme/14521155
Description: 	Child Theme Made by MipThemes
Version:        1.1
Author:         MipThemes
Author URI: 	http://themeforest.net/user/mip/portfolio
Template:       newsdesk
*/

@import url("../newsdesk/style.css");

/* ==========================================================================
   Your custom styles
   ========================================================================== */

#header-navigation ul li.soc-media a {
    font-size: 0.9em !important;
}


.home-latest-section header {
    margin: 0 -25px !important;
    padding-top: 10px !important;
}

article.def div.text {
    line-height: 24px;
}

.module-timeline article span.published {
    top: -4px;
}

.module-ga-timeline article .cnt {
    padding-top: 0px;
}

.module-reviews .entry-views {
    display: none;
}


.ga-tabs {
    margin: 0 -25px !important;
}
.ga-tabs .articles {
    padding: 0 15px !important;
}
.ga-tabs .vc_tta-tabs-container {
    padding: 0 25px;
    border-bottom: 1px solid #e9e9e9;
}
.ga-tabs .vc_tta-panels {
    background: #fff !important;
    border-color: #fff !important;
}
.ga-tabs .vc_tta-tabs-container .vc_tta-tab {
    width: 49.8%;
    padding: 0;
}
.ga-tabs .vc_tta-tabs-container .vc_tta-tab a {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 !important;
    background-color: #eee !important;
    border-color: #fff !important;
}
.ga-tabs .vc_tta-tabs-container .vc_active a {
    background: #fff !important;
    border-color: #fff !important;
}
.vc-block-border .ga-tabs .shadow-top-left {
    padding-top: 0px !important;
}
.vc-block-border .ga-tabs .shadow-ver-right {
    border-right: none !important;
}
.ga-tabs .col-sm-4 {
    padding: 15px !important;
}
.ga-tabs .vc_tta-tabs-list .vc_tta-tab a{
    position: relative;
	color: #bbb !important;
	padding: 0px 20px !important;
}
.ga-tabs .vc_tta-tabs-list .vc_tta-tab.vc_active a{
	color: #222 !important;
	padding: 0px !important;
}
.ga-tabs .vc_tta-tabs-list .vc_tta-tab.vc_active:nth-child(2) a{
	padding: 0px 20px !important;
}
.ga-tabs .vc_tta-tabs-list .vc_tta-tab {
	position: relative !important;
}
.ga-tabs .vc_tta-tabs-list .vc_tta-tab.vc_active:after {
    left: 0px;
    bottom: 0px;
    width: 40px;
    height: 3px;
    background-color: #000;
    content: '';
    position: absolute !important;
}
.ga-tabs .vc_tta-tabs-list .vc_tta-tab.vc_active:nth-child(2):after {
    left: 20px;
}

@media (max-width: 768px) {

body .vc_tta.vc_tta-tabs.ga-tabs .vc_tta-tabs-container { display: block !important; }
body .vc_tta.vc_general.ga-tabs .vc_tta-panel-heading { display: none !important; }

.ga-tabs .vc_tta-tabs-container .vc_tta-tab a {
    font-size: 13px !important;
}

.ga-tabs .vc_tta-tabs-container .vc_tta-tab {
    width: 48%;
}

}
