@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.carousel { position: relative; margin-bottom: 20px; line-height: 1; }

.carousel-inner { overflow: hidden; width: 100%; position: relative; }

.carousel-inner > .item { display: none; position: relative; -webkit-transition: 0.6s ease-in-out left; -moz-transition: 0.6s ease-in-out left; -o-transition: 0.6s ease-in-out left; transition: 0.6s ease-in-out left; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; line-height: 1; }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0; }
.carousel-inner > .next, .carousel-inner > .prev { position: absolute; top: 0; width: 100%; }
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.left, .carousel-inner > .prev.right { left: 0; }
.carousel-inner > .active.left { left: -100%; }
.carousel-inner > .active.right { left: 100%; }

.carousel-control { position: absolute; top: 40%; left: 15px; width: 40px; height: 40px; margin-top: -20px; font-size: 60px; font-weight: 100; line-height: 30px; color: white; text-align: center; background: #222222; border: 3px solid white; -webkit-border-radius: 23px; -moz-border-radius: 23px; border-radius: 23px; }
.carousel-control.right { left: auto; right: 15px; }
.carousel-control:hover, .carousel-control:focus { color: white; text-decoration: none; opacity: 1; filter: alpha(opacity=100); }

.carousel-indicators { position: absolute; top: 15px; right: 15px; z-index: 5; margin: 0; list-style: none; }
.carousel-indicators li { display: block; float: left; width: 10px; height: 10px; margin-left: 5px; text-indent: -999px; background-color: #ccc; background-color: rgba(255, 255, 255, 0.25); border-radius: 5px; }
.carousel-indicators .active { background-color: #fff; }

.carousel-caption { position: absolute; left: 0; right: 0; bottom: 0; padding: 15px; background: #333333; background: rgba(0, 0, 0, 0.75); }

.carousel-caption h4, .carousel-caption p { color: white; line-height: 20px; }

.carousel-caption h4 { margin: 0 0 5px; }

.carousel-caption p { margin-bottom: 0; }

#main.col_1 .main_content, #main.col_1 .aside, #main .main.col_2_left, #main .main.col_2_left .main_content, #main .main.col_2_left .aside, #main .main.col_2_right, #main .main.col_2_right .main_content, #main .main.col_2_right .aside, #header .header_content, .md, .themes.col_1, .themes.col_1 .col_main, .themes.col_1 .col_aside, .themes.col_2_left, .themes.col_2_left .col_main, .themes.col_2_left .col_aside, .article.part2 { display: block; }
#main.col_1 .main_content:after, #main.col_1 .aside:after, #main .main.col_2_left:after, #main .main.col_2_left .main_content:after, #main .main.col_2_left .aside:after, #main .main.col_2_right:after, #main .main.col_2_right .main_content:after, #main .main.col_2_right .aside:after, #header .header_content:after, .md:after, .themes.col_1:after, .themes.col_1 .col_main:after, .themes.col_1 .col_aside:after, .themes.col_2_left:after, .themes.col_2_left .col_main:after, .themes.col_2_left .col_aside:after, .article.part2:after { content: '.'; display: block; clear: both; visibility: hidden; overflow: hidden; line-height: 0; height: 0; }

.price dfn, .price strong { font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei'; }

body { font-family: Arial, Helvetica, sans-serif, '\65b0\7d30\660e\9ad4'; }

.txt_justify { text-align: justify; text-justify: distribute-all-lines; text-align-last: justify; -moz-text-align-last: justify; -webkit-text-align-last: justify; max-height: 23px; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { .txt_justify:after { content: "."; display: inline-block; width: 100%; overflow: hidden; height: 0; line-height: 0; } }

.a_href_global { text-decoration: underline; }
.a_href_global:hover { text-decoration: none; }

.tips a { color: #e10500; text-decoration: underline; }
.tips a:hover { text-decoration: none; }

/*
Copyright (c) 2013 Lion Travel/Lion Technology. All rights reserved.
version: 1.2.0
Last Updated: 2013-01-02
*/
body { font-size: 13px; color: #444444; background-color: white; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td { margin: 0; padding: 0; }

pre { white-space: pre-wrap; *word-wrap: break-word; font-size: 13px; line-height: 20px; font-family: '\7d30\660e\9ad4'; }

table { border-collapse: collapse; empty-cells: show; border-spacing: 0; }

fieldset, img { border: none; }

address, button, cite, code, dfn, input, option, select, textarea, var { font: inherit; }

ul, ol { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

a { text-decoration: none; }

a, button { outline: none; behavior: expression(this.onFocus=this.blur()); cursor: pointer; }

input[type=button], input[type=submit], input[type=reset] { cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type=text], input[type=password], input[type=tel], input[type=email], select { vertical-align: middle; outline: none; padding: 2px 3px; border: 1px solid #7f9db9; }

input:focus { background: #f2f2f2; }

textarea { resize: none; outline: none; color: #444444; padding: 2px 3px; border: 1px solid #7f9db9; }

.watermark { color: #888; }

input::-webkit-input-placeholder { color: #888; }

input:-moz-placeholder { color: #888; }

abbr, acronym { border: 1px solid black; font-variant: normal; cursor: help; }

hr { display: block; margin: 15px 0; padding: 0; border: none; height: 1px; border-top: 1px solid #dddddd; }

del { text-decoration: line-through; }

ins { text-decoration: none; color: #f00; }

legend { color: #000; }

i { font-style: normal; }

q:before, q:after { content: ''; }

[class*="col"] { box-sizing: border-box; }

.row { margin-left: 0px; margin-right: 0px; *zoom: 1; }
.row:before, .row:after { display: table; content: ""; line-height: 0; }
.row:after { clear: both; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { position: relative; min-height: 1px; padding-left: 5px; padding-right: 5px; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { float: left; }

.col1 { width: 8.33333%; }

.col2 { width: 16.66667%; }

.col3 { width: 25%; }

.col4 { width: 33.33333%; }

.col5 { width: 41.66667%; }

.col6 { width: 50%; }

.col7 { width: 58.33333%; }

.col8 { width: 66.66667%; }

.col9 { width: 75%; }

.col10 { width: 83.33333%; }

.col11 { width: 91.66667%; }

.col12 { width: 100%; }

@media screen and (min-width: 320px) and (max-width: 640px) { .themes .bd > *[class*="col"] { width: 100%; }
  [class*="col"] { width: 100%; }
  .col1_s, .col2_s, .col3_s, .col4_s, .col5_s, .col6_s, .col7_s, .col8_s, .col9_s, .col10_s, .col11_s, .col12_s { position: relative; min-height: 1px; padding-left: 5px; padding-right: 5px; }
  .col1_s, .col2_s, .col3_s, .col4_s, .col5_s, .col6_s, .col7_s, .col8_s, .col9_s, .col10_s, .col11_s, .col12_s { float: left; }
  .col1_s { width: 8.33333%; }
  .col2_s { width: 16.66667%; }
  .col3_s { width: 25%; }
  .col4_s { width: 33.33333%; }
  .col5_s { width: 41.66667%; }
  .col6_s { width: 50%; }
  .col7_s { width: 58.33333%; }
  .col8_s { width: 66.66667%; }
  .col9_s { width: 75%; }
  .col10_s { width: 83.33333%; }
  .col11_s { width: 91.66667%; }
  .col12_s { width: 100%; } }
@media screen and (min-width: 641px) and (max-width: 1023px) { .themes .bd > *[class*="col"] { width: 100%; }
  .col1_m, .col2_m, .col3_m, .col4_m, .col5_m, .col6_m, .col7_m, .col8_m, .col9_m, .col10_m, .col11_m, .col12_m { position: relative; min-height: 1px; padding-left: 5px; padding-right: 5px; }
  .col1_m, .col2_m, .col3_m, .col4_m, .col5_m, .col6_m, .col7_m, .col8_m, .col9_m, .col10_m, .col11_m, .col12_m { float: left; }
  .col1_m { width: 8.33333%; }
  .col2_m { width: 16.66667%; }
  .col3_m { width: 25%; }
  .col4_m { width: 33.33333%; }
  .col5_m { width: 41.66667%; }
  .col6_m { width: 50%; }
  .col7_m { width: 58.33333%; }
  .col8_m { width: 66.66667%; }
  .col9_m { width: 75%; }
  .col10_m { width: 83.33333%; }
  .col11_m { width: 91.66667%; }
  .col12_m { width: 100%; } }
.mobile_hidden { display: inline-block !important; }

.mobile_show { display: none !important; }

body { font-size: 12px; color: #333333; }

strong { font-weight: bold !important; }

.mainpage { position: relative; z-index: 2; }

#main { position: relative; min-height: 600px; margin: 0px 0px 20px 0px; }
#main.col_1 .main_content { padding: 0px; margin: 0px auto; }
#main.col_1 .aside { padding: 0px; margin: 0px auto; }
#main .main.col_2_left { display: block; width: 1200px; margin: 0 auto; }
#main .main.col_2_left .main_content { float: left; padding: 0px; width: 800px; margin: 0px; }
#main .main.col_2_left .aside { float: right; padding: 0px; width: 300px; margin: 0px; }
#main .main.col_2_right { display: block; width: 1200px; margin: 0 auto; }
#main .main.col_2_right .main_content { float: right; padding: 0px; width: 800px; margin: 0px; }
#main .main.col_2_right .aside { float: left; padding: 0px; width: 300px; margin: 0px; }

.toolbar { position: absolute; top: 0px; left: 0px; z-index: 101; width: 40px; height: 120%; z-index: 1001; }
.toolbar.fixed { position: fixed; }
.toolbar .func { position: absolute; top: 0px; left: 0px; z-index: 102; background: #000; height: 100%; }
.toolbar .func .nav_toggle { display: block; width: 40px; height: 40px; text-indent: -5000px; background: url(../images/nav_toggle.png) no-repeat center center red; }
.toolbar .func .nav_toggle.active { background: url(../images/nav_toggle_close.png) no-repeat center center red; }
.toolbar .func ul li { text-align: center; padding: 10px 0px; }
.toolbar .func ul li a { display: inline-block; width: 20px; height: 20px; text-indent: -5000px; cursor: pointer; transition: all 1s; background: url(../images/icon_share.png) no-repeat; }
.toolbar .func ul li a:hover { opacity: 1; }
.toolbar .func ul li.fb a { background-position: 0px 0px; }
.toolbar .func ul li.album a { background-position: 0px -42px; }
.toolbar .func ul li.member a { background-position: 0px -79px; }
.toolbar .func ul li.rss a { background-position: 0px -122px; }
.toolbar .func ul li.search a { background-position: 0px -162px; }
.toolbar .nav { position: absolute; top: 0px; left: -600px; z-index: -1; transition: all 1s; width: 180px; height: 100%; }
.toolbar .nav.active { left: 40px; z-index: 101; }
.toolbar .nav .nav_all { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 101; background-color: whitesmoke; overflow-y: auto; }
.toolbar .nav .nav_all .magazine { padding: 20px 20px 0px 20px; text-align: center; height: 130px; overflow: hidden; border-bottom: 1px solid #fff; background: url(../images/shadow_1.png) no-repeat center bottom; }
.toolbar .nav .nav_all .nav_main { font-size: 18px; font-family: Century Gothic,Microsoft Jhenghei; text-align: center; }
.toolbar .nav .nav_all .nav_main li.active a { background-color: #e2e2e2; }
.toolbar .nav .nav_all .nav_main li a { display: block; padding: 10px 30px; color: #000; text-align: left; border-bottom: 1px solid #fff; }
.toolbar .nav .nav_all .nav_main li a:hover { background-color: #e2e2e2; }
.toolbar .nav .nav_all .nav_main li .subnav { background: url(../images/shadow_2.png) no-repeat center bottom; border-bottom: 1px solid #fff; }
.toolbar .nav .nav_all .nav_main li .subnav a { color: #333; font-weight: normal; font-size: 16px; background-color: #e9e9e9; border: none; }
.toolbar .nav .nav_all .nav_main li .subnav a:hover { color: #000; font-weight: bold; }
.toolbar .nav .nav_all .search_box { padding: 10px 0px 10px 30px; }
.toolbar .nav .nav_all .search_box.top { display: none; }
.toolbar .nav .nav_all .search_box .input_item { display: inline-block; }
.toolbar .nav .nav_all .search_box .input_item input { padding: 5px 5px; border: none; width: 100px; background: url(../images/icon_search.png) no-repeat 10px center #cccccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.toolbar .nav .nav_all .search_box .input_item input:focus { background: #cccccc; }
.toolbar .nav .preview { width: 0px; padding: 10px 0px; transition: all 1s; position: absolute; top: 0px; left: 180px; overflow-y: auto; z-index: 1; background-color: #e2e2e2; box-sizing: border-box; }
.toolbar .nav .preview.active { width: 260px; padding: 10px; }
.toolbar .nav .preview .article .section { border-bottom: 1px solid #fff; }
.toolbar .nav .preview .article .section:nth-child(1), .toolbar .nav .preview .article .section:nth-child(2) { border-bottom: noneno; }
.toolbar .nav .preview .article .section .figure { width: 95%; text-align: center; margin: 0px auto; }
.toolbar .nav .preview .article .section .figure img { width: 100%; }
.toolbar .nav .preview .article .section .word { width: 95%; text-align: center; margin: 10px auto; font-family: Microsoft JhengHei, verdana; line-height: 250%; }
.toolbar .nav .preview .article .section .word .title { font-size: 15px; text-align: left; line-height: 150%; }
.toolbar .nav .preview .article .section .word .title a { color: #000; }
.toolbar .nav .preview .article .section .word .title a:hover { color: #f00; }
.toolbar .nav .preview .article .buttons .btn.more { color: #333; display: inline-block; padding: 10px 20px 10px 5px; background: url(../images/btn_right_arrow.png) no-repeat right center; }

.cinemaAD { position: absolute; top: 0px; left: 0px; width: 250px; height: 250px; }
.cinemaAD img { width: 100%; }

#header .header_content .kanban img { width: 100%; }

.md .md_hd { padding: 30px 0px; }
.md .md_hd h4 { padding: 30px 0px; }
.md .md_hd h4 .title { font-family: BellMt; font-size: 48px; text-align: center; }
.md .md_hd .desc { font-size: 30px; text-align: center; }
.md.main_carousel { display: block; width: 1200px; margin: 0 auto; }
.md.whats_hot { display: block; width: 1200px; margin: 0 auto; }
.md.style_labs { display: block; width: 1200px; margin: 0 auto; }
.md.gallery { display: block; width: 1200px; margin: 0 auto; }
.md.channel_topic { display: block; width: 1200px; margin: 0 auto; }

.logo { text-align: center; padding: 70px 0px 75px 0px; }

.page_title { text-align: center; padding: 60px 0px 20px; position: relative; }
.page_title .old_title { font-size: 150px; font-family: Microsoft Yi Baiti; -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))); }
.page_title .logo { position: relative; padding: 0px; max-width: 178px; }

.themes.col_1 { display: block; width: 1200px; margin: 0 auto; }
.themes.col_1 .col_main { padding: 0px; width: 100%; margin: 0px; }
.themes.col_1 .col_aside { padding: 0px; width: 100%; margin: 0px; }
.themes.col_2_left { display: block; width: 1200px; margin: 0 auto; }
.themes.col_2_left .col_main { float: left; padding: 0px; width: 800px; margin: 0px; }
.themes.col_2_left .col_aside { float: right; padding: 0px; width: 300px; margin: 0px; }

@media screen and (min-width: 1200px) and (max-width: 1300px) { .themes { margin: 0px 0px 0px 50px; }
  .themes.col_2_left { margin: 0px 0px 0px 50px; } }
#footer { background-color: white; }
#footer .footer_content { display: block; width: 1200px; margin: 0 auto; position: relative; color: #666666; padding: 90px 0px; font-family: Microsoft JhengHei, verdana; }
#footer .footer_content a { color: #333; }
#footer .footer_content a:hover { color: #F00; }
#footer .footer_content p { line-height: 1.8; }
#footer .footer_content span { margin: 0px 10px; }
#footer .footer_content .magazines { text-align: center; }
#footer .footer_content .magazines .book { display: inline-block; margin: 0px 5px; }
#footer .footer_content .magazines .book.pad { position: relative; }
#footer .footer_content .magazines .book.pad img { height: 99px; }
#footer .footer_content .magazines .book.pad .mask { position: absolute; top: 0px; left: 0px; margin: 0px; display: block; width: 79px; height: 99px; background: url(../images/pad_frame.png) no-repeat 0px 0px; }
#footer .footer_content .logo { text-align: center; padding: 30px 0px 20px 0px; }
#footer .footer_content .language { line-height: 200%; }
#footer .footer_content .language ul { text-align: center; }
#footer .footer_content .language ul li { display: inline-block; }
#footer .footer_content .language ul li:after { content: "|"; margin: 0px 10px; }
#footer .footer_content .language ul li:last-child:after { content: ""; }
#footer .footer_content .contentinfo { line-height: 200%; }
#footer .footer_content .contentinfo ul { text-align: center; }
#footer .footer_content .contentinfo ul li { display: inline-block; }
#footer .footer_content .contentinfo ul li:after { content: "|"; margin: 0px 10px; }
#footer .footer_content .contentinfo ul li:last-child:after { content: ""; }
#footer .footer_content .copyright { clear: both; font-size: 12px; text-align: center; padding: 10px 0px; }
#footer .gototop { width: 40px; height: 40px; position: absolute; right: 10px; top: -70px; display: none; }

#main.col_1 .main_content, #main.col_1 .aside, #main .main.col_2_left, #main .main.col_2_left .main_content, #main .main.col_2_left .aside, #main .main.col_2_right, #main .main.col_2_right .main_content, #main .main.col_2_right .aside, #header .header_content, .md, .themes.col_1, .themes.col_1 .col_main, .themes.col_1 .col_aside, .themes.col_2_left, .themes.col_2_left .col_main, .themes.col_2_left .col_aside, .article.part2 { display: block; }
#main.col_1 .main_content:after, #main.col_1 .aside:after, #main .main.col_2_left:after, #main .main.col_2_left .main_content:after, #main .main.col_2_left .aside:after, #main .main.col_2_right:after, #main .main.col_2_right .main_content:after, #main .main.col_2_right .aside:after, #header .header_content:after, .md:after, .themes.col_1:after, .themes.col_1 .col_main:after, .themes.col_1 .col_aside:after, .themes.col_2_left:after, .themes.col_2_left .col_main:after, .themes.col_2_left .col_aside:after, .article.part2:after { content: '.'; display: block; clear: both; visibility: hidden; overflow: hidden; line-height: 0; height: 0; }

.price dfn, .price strong { font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei'; }

body { font-family: Arial, Helvetica, sans-serif, '\65b0\7d30\660e\9ad4'; }

.txt_justify { text-align: justify; text-justify: distribute-all-lines; text-align-last: justify; -moz-text-align-last: justify; -webkit-text-align-last: justify; max-height: 23px; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { .txt_justify:after { content: "."; display: inline-block; width: 100%; overflow: hidden; height: 0; line-height: 0; } }

.a_href_global { text-decoration: underline; }
.a_href_global:hover { text-decoration: none; }

.tips a { color: #e10500; text-decoration: underline; }
.tips a:hover { text-decoration: none; }

[class*="col"] { box-sizing: border-box; }

.row { margin-left: 0px; margin-right: 0px; *zoom: 1; }
.row:before, .row:after { display: table; content: ""; line-height: 0; }
.row:after { clear: both; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { position: relative; min-height: 1px; padding-left: 5px; padding-right: 5px; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { float: left; }

.col1 { width: 8.33333%; }

.col2 { width: 16.66667%; }

.col3 { width: 25%; }

.col4 { width: 33.33333%; }

.col5 { width: 41.66667%; }

.col6 { width: 50%; }

.col7 { width: 58.33333%; }

.col8 { width: 66.66667%; }

.col9 { width: 75%; }

.col10 { width: 83.33333%; }

.col11 { width: 91.66667%; }

.col12 { width: 100%; }

@media screen and (min-width: 320px) and (max-width: 640px) { .themes .bd > *[class*="col"] { width: 100%; }
  [class*="col"] { width: 100%; }
  .col1_s, .col2_s, .col3_s, .col4_s, .col5_s, .col6_s, .col7_s, .col8_s, .col9_s, .col10_s, .col11_s, .col12_s { position: relative; min-height: 1px; padding-left: 5px; padding-right: 5px; }
  .col1_s, .col2_s, .col3_s, .col4_s, .col5_s, .col6_s, .col7_s, .col8_s, .col9_s, .col10_s, .col11_s, .col12_s { float: left; }
  .col1_s { width: 8.33333%; }
  .col2_s { width: 16.66667%; }
  .col3_s { width: 25%; }
  .col4_s { width: 33.33333%; }
  .col5_s { width: 41.66667%; }
  .col6_s { width: 50%; }
  .col7_s { width: 58.33333%; }
  .col8_s { width: 66.66667%; }
  .col9_s { width: 75%; }
  .col10_s { width: 83.33333%; }
  .col11_s { width: 91.66667%; }
  .col12_s { width: 100%; } }
@media screen and (min-width: 641px) and (max-width: 1023px) { .themes .bd > *[class*="col"] { width: 100%; }
  .col1_m, .col2_m, .col3_m, .col4_m, .col5_m, .col6_m, .col7_m, .col8_m, .col9_m, .col10_m, .col11_m, .col12_m { position: relative; min-height: 1px; padding-left: 5px; padding-right: 5px; }
  .col1_m, .col2_m, .col3_m, .col4_m, .col5_m, .col6_m, .col7_m, .col8_m, .col9_m, .col10_m, .col11_m, .col12_m { float: left; }
  .col1_m { width: 8.33333%; }
  .col2_m { width: 16.66667%; }
  .col3_m { width: 25%; }
  .col4_m { width: 33.33333%; }
  .col5_m { width: 41.66667%; }
  .col6_m { width: 50%; }
  .col7_m { width: 58.33333%; }
  .col8_m { width: 66.66667%; }
  .col9_m { width: 75%; }
  .col10_m { width: 83.33333%; }
  .col11_m { width: 91.66667%; }
  .col12_m { width: 100%; } }
.themes { margin: 10px auto; width: 1200px; clear: both; }

/*********************** md
***********************/
.md.breadcrumb { text-align: center; padding: 0px 0px 30px 0px; width:auto; }
.md.breadcrumb .title { font-size: 30px; font-family: Microsoft JhengHei, verdana; font-weight: bold; line-height: 150%; padding: 0px 0px 20px 0px; }
.md.breadcrumb ul { text-align: center; }
.md.breadcrumb ul li { display: inline-block; font-size: 18px; font-family: Microsoft JhengHei, verdana; }
.md.breadcrumb ul li:after { content: ""; margin: 0px 5px; display: inline-block; width: 8px; height: 15px; background: url(../images/seperator.png) no-repeat 0px 0px; }
.md.breadcrumb ul li:last-child:after { content: ""; margin: 0px; display: none; }
.md.breadcrumb ul li.active a { color: #ed1b23; }
.md.breadcrumb ul li a { color: #666; }
.md.breadcrumb ul li a:hover { color: #ed1b23; }

.md.main_carousel .carousel-inner .item img { width: 100%; }
.md.main_carousel .carousel-control { text-indent: -5000px; }
.md.main_carousel .carousel-control.left { background: url(../images/btn_pre_2.png) no-repeat left 0px; }
.md.main_carousel .carousel-control.right { background: url(../images/btn_next_2.png) no-repeat right 0px; }

.md.topicCarousel { background-color: #eeeeee; padding: 90px 0px 50px 0px; }
.mobile.md.topicCarousel { display: none; }
.md.topicCarousel .carousel-inner { display: block; width: 1200px; margin: 0 auto; }
.md.topicCarousel .carousel-indicators { display: block; width: 500px; margin: 0 auto; margin: 20px auto; position: relative; z-index: 2; top: 15px; }
.md.topicCarousel .buttons { display: block; width: 1200px; margin: 0 auto; padding: 10px 0px; margin: 20px auto; position: relative; top: -15px; }
.md.topicCarousel .buttons .carousel-control { text-indent: -5000px; }
.md.topicCarousel .buttons .carousel-control.left { background: url(../images/btn_pre.png) no-repeat 0px 0px; }
.md.topicCarousel .buttons .carousel-control.right { background: url(../images/btn_next.png) no-repeat 0px 0px; }

.md.pic_carousel { border-top: 1px solid #ccc; padding: 80px 0px 20px 0px; }
.md.pic_carousel .carousel-inner .item img { width: 100%; box-sizing: border-box; border: 1px solid #ccc; }
.md.pic_carousel .carousel-inner .item iframe { width: 100%; height: 786px; }
.md.pic_carousel .carousel-indicators { position: absolute; top: 35px; right: auto; width: 100%; text-align: center; margin: 0px; }
.md.pic_carousel .carousel-indicators li { background-color: #999; border: 1px solid #999; }
.md.pic_carousel .carousel-indicators li.active { background-color: #333; border: 1px solid #333; }
.md.pic_carousel .carousel-control { text-indent: -5000px; top: 45px; }
.md.pic_carousel .carousel-control.left { background: url(../images/btn_pre_4.png) no-repeat left 0px; left: 0px; }
.md.pic_carousel .carousel-control.right { background: url(../images/btn_next_4.png) no-repeat right 0px; right: 0px; }

.md.whats_hot { padding: 40px 0px 100px 0px; }
.md.whats_hot .md_hd h4 { padding: 20px 0px 10px 0px; }
.md.whats_hot .md_bd .article.part2 .section .word .title { line-height: 180%; }

.md.style_labs { padding: 20px 0px 50px 0px; }
.md.style_labs .md_hd .desc { font-family: BellMt; }
.md.style_labs .md_bd .article .section .figure img { width: 100%; }
.md.style_labs .md_bd .article .section .word .title { font-size: 24px; color: #333; }
.md.style_labs .md_bd .article .section .word .desc { padding: 20px 0px 0px 0px; }
.md.style_labs .md_bd .article .section .word .buttons.border-right .btn { width: 180px; font-size: 18px; margin: 0px 30px 5px 30px; }

.md.masters { background: url(../images/master_bg.png) repeat; }
.md.masters .md_hd { display: block; width: 1200px; margin: 0 auto; padding: 30px 0px 0px 0px; }
.md.masters .md_bd { display: block; width: 1200px; margin: 0 auto; }
.md.masters .md_bd .pic_list ul { text-align: center; }
.md.masters .md_bd .pic_list ul li { display: inline-block; width: 20%; margin: 30px 10px; box-sizing: border-box; }
.md.masters .md_bd .pic_list ul li .figure img { -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; width: 100%; max-width: 200px; }

.md.gallery { padding: 40px 0px 0px 0px; }
.md.gallery .md_hd { padding: 30px 0px 20px 0px; }
.md.gallery .md_bd .pic_list ul { text-align: center; }
.md.gallery .md_bd .pic_list ul li { display: inline-block; width: 23%; margin: 0px 10px 20px; box-sizing: border-box; }
.md.gallery .md_bd .pic_list ul li .figure img { width: 100%; }
.md.gallery .md_bd .pic_list .buttons { padding: 30px 0px 80px 0px; }
.md.gallery .md_bd .pic_list .buttons .btn.album { display: inline-block; width: 70px; height: 70px; padding: 0px 0px; text-indent: -5000px; opacity: 1; transition: all 1s; background: url(../images/btn_photo.png) no-repeat center center; border: 10px solid #ccc; -webkit-border-radius: 60px; -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; }
.md.gallery .md_bd .pic_list .buttons .btn.album:hover { opacity: 0.5; }

.md.channel_topic { padding: 0px 0px 80px 0px; }
.md.channel_topic .article .section .word .desc { padding: 20px 0px 0px 0px; }

.md.channel_subject { padding: 100px 0px; background-color: #eeeeee; }
.md.channel_subject .article { display: block; width: 1200px; margin: 0 auto; }
.md.channel_subject .article .section { margin: 14px 14px; }
.md.channel_subject .article .section .word .desc { padding: 0px 0px 0px 0px; height: 30px; overflow: hidden; }
.md.channel_subject .buttons { padding: 30px 0px 0px 0px; }

.md.content_carousel .hd_title { font-size: 20px; line-height: 160%; padding: 40px 30px 20px 20px; color: #cc0000; font-family: Arial, Microsoft JhengHei, Microsoft YaHei, Heiti TC, LiHei Pro, sans-serif, verdana; border-bottom: 1px solid #ccc; }
.md.content_carousel .hd_title .title { position: relative; }
.md.content_carousel .hd_title .corner { display: inline-block; width: 20px; height: 20px; position: absolute; }
.md.content_carousel .hd_title .corner:nth-child(1) { top: -18px; left: -20px; background: url(../images/promo_start.png) no-repeat 0px 0px; }
.md.content_carousel .hd_title .corner:nth-child(2) { bottom: 0px; right: -20px; background: url(../images/promo_end.png) no-repeat 0px 0px; }
.md.content_carousel .slide { position: relative; }
.md.content_carousel .carousel-inner { position: relative; z-index: 2; background-color: #fff; }
.md.content_carousel .carousel-inner .item .figure { width: 100%; height: 450px; overflow: hidden; text-align: center; background-color: #eee; border: 1px solid #ccc; box-sizing: border-box; }
.md.content_carousel .carousel-inner .item .figure img { width: auto; margin: 0px auto; height: 450px; }
.md.content_carousel .carousel-inner .item .word { font-family: Microsoft JhengHei, verdana; line-height: 150%; }
.md.content_carousel .carousel-inner .item .word .title { font-size: 20px; padding: 20px 0px 10px 0px; font-weight: bold; line-height: 150%; }
.md.content_carousel .carousel-inner .item .word .desc { font-size: 18px; line-height: 180%; }
.md.content_carousel .carousel-indicators { text-align: left; }
.md.content_carousel .carousel-indicators li { text-indent: 0px; width: auto; height: auto; border: none; margin: 0px 5px 5px 0px; border-bottom: 5px solid #ffffff; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
.md.content_carousel .carousel-indicators li.active { background-color: transparent; border-bottom: 5px solid #ff0000; }
.md.content_carousel .carousel-indicators li img { width: 100%; }
.md.content_carousel .carousel-control { top: 215px; text-indent: -5000px; z-index: 10; width: 60px; height: 60px; background-color: rgba(51, 51, 51, 0.5); background-repeat: no-repeat; background-position: center; -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; -webkit-background-size: 50% 80%; -moz-background-size: 50% 80%; -o-background-size: 50% 80%; background-size: 50% 80%; }
.md.content_carousel .carousel-control.left { background-image: url(../images/btn_pre_3.png); }
.md.content_carousel .carousel-control.right { background-image: url(../images/btn_next_3.png); }
.md.content_carousel .article { padding: 20px 0px 20px 0px; line-height: 180%; background: url(../images/border_bg.png) repeat-x 0px 0px; margin: 20px 0px 0px 0px; text-align: left; font-size: 20px; font-family: Arial, Microsoft JhengHei, Microsoft YaHei, Heiti TC, LiHei Pro, sans-serif, verdana; }
.md.content_carousel .article p { padding: 20px 0px 0px 0px; }
.md.content_carousel .copyright { line-height: 160%; font-size: 15px; font-family: Microsoft JhengHei, verdana; }
.md.content_carousel .copyright ul li { display: inline-block; }
.md.content_carousel .copyright ul li:after { content: "|"; margin: 0px 5px 0px 5px; }
.md.content_carousel .copyright ul li:last-child:after { content: ""; }
.md.content_carousel .social.fb { text-align: left; }

.md.video_all iframe { width: 100%; height: 675px; }

.md.video_info .article { padding: 20px 0px 20px 0px; margin: 0px 0px 0px 0px; font-size: 20px; line-height: 150%; font-family: Microsoft JhengHei, verdana; text-align: left; }
.md.video_info .article p { padding: 20px 0px 0px 0px; }
.md.video_info .copyright { font-size: 15px; line-height: 150%; font-family: Microsoft JhengHei, verdana; }
.md.video_info .copyright ul li { display: inline-block; }
.md.video_info .copyright ul li:after { content: "|"; margin: 0px 5px 0px 5px; }
.md.video_info .copyright ul li:last-child:after { content: ""; }
.md.video_info .social { text-align: left; padding: 10px 0px 10px 0px; }
.md.video_info .social .fb-like { display: inline-block; vertical-align: top; width: 80px; }
.md.video_info .social .g-ytsubscribe { display: inline-block; vertical-align: top; }
.md.video_info .social .subscription { display: inline-block; vertical-align: top; font-size: 15px; color: #ff0000; font-family: Microsoft JhengHei, verdana; padding: 3px 0px 0px 3px; }
.md.video_info .social .subscription:hover { text-decoration: underline; }

.md.content_author { background: #eeeeee; padding: 10px; }
.md.content_author .figure { display: inline-block; vertical-align: top; }
.md.content_author .word { display: inline-block; vertical-align: top; width: 670px; }
.md.content_author .word .info { padding: 0px 10px; font-size: 15px; font-family: Microsoft JhengHei, verdana; line-height: 150%; }
.md.content_author .word .info .name { font-weight: bold; margin: 0px 10px 0px 0px; }
.md.content_author .word .info .desc { display: block; }
.md.content_author .word .social { padding: 0px 10px; }
.md.content_author .word .social ul li { display: inline-block; padding: 5px 0px; }
.md.content_author .word .social ul li a { display: block; width: 30px; height: 30px; text-indent: -5000px; background-color: #ccc; background-repeat: no-repeat; background-position: center; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.md.content_author .word .social ul li a:hover { background-color: #333; }
.md.content_author .word .social ul li.fb a { background-image: url(../images/icon_fb.png); }
.md.content_author .word .social ul li.ig a { background-image: url(../images/icon_ig.png); }
.md.content_author .word .social ul li.web a { background-image: url(../images/icon_home.png); }
.md.content_author .word .social ul li.weibo a { background-image: url(../images/icon_weibo.png); }

.md.share_buttons { padding: 10px 0px; }
.md.share_buttons .social { display: inline-block; position: relative; top: 13px; }
.md.share_buttons a { display: inline-block; color: #fff; padding: 10px; text-align: center; font-size: 15px; font-family: Microsoft JhengHei, verdana; line-height: 150%; width: 370px; margin: 0px 0px 10px 0px; }
.md.share_buttons a.fb { margin: 0px 10px 10px 0px; background-color: #4965b5; }
.md.share_buttons a.line { background-color: #5ad613; }

.md.responses .fb-comments span { width: 100% !important; }
.md.responses .fb-comments iframe { width: 100% !important; left: 0px !important; height: 190px !important; }

.md.further_reading { font-size: 18px; font-family: Microsoft JhengHei, verdana; line-height: 150%; margin: 0px 0px 100px 0px; }
.md.further_reading .hd { color: #cc0000; padding: 30px 0 20px; }
.md.further_reading .bd .list_all { padding: 0px 0px 0px 25px; line-height: 30px; }
.md.further_reading .bd .list_all li { list-style: disc; }
.md.further_reading .bd .list_all li a { color: #333; }
.md.further_reading .bd .list_all li a:hover { color: #ff0000; }
.md.further_reading .bd .list_all li .date { color: #999999; font-size: 12px; }
.md.further_reading .bd .tag_all .tag_item { display: inline-block; color: #333; padding: 5px 10px; font-size: 18px !important; margin: 5px 5px; background-color: #eeeeee; border-radius: 0px; }
.md.further_reading .bd .tag_all .tag_item:hover { background-color: #000000; color: #FFF; }

.md.ad { margin: 140px 0px 0px 0px; width: 300px; display: inline-block; vertical-align: top; }
.md.ad a { margin: 0px 0px 10px 0px; }

.md.must_read { width: 300px; display: inline-block; vertical-align: top; }
.md.must_read .md_hd { padding: 0px; }
.md.must_read .md_hd h4 { padding: 50px 0px 50px 0px; }
.md.must_read .md_hd h4 .title { font-size: 36px; }
.md.must_read .md_bd .article.bordered .section { margin: 0px 0px 20px 0px; }
.md.must_read .md_bd .article.bordered .section .word { line-height: 180%; }
.md.must_read .md_bd .article.bordered .section .word .title { font-size: 15px; line-height: 160%; height: 50px; overflow: hidden; }
.md.must_read .md_bd .article.bordered .section .word .desc { font-size: 12px; color: #999999; }

.md.whats_more { padding: 50px 0px 100px 0px; background-color: #eeeeee; }
.md.whats_more .article { display: block; width: 1200px; margin: 0 auto; }
.md.whats_more .article .section { margin: 14px 14px; }
.md.whats_more .article .section .word .desc { padding: 0px 0px 0px 0px; height: 30px; overflow: hidden; }
.md.whats_more .buttons { padding: 30px 0px 0px 0px; }

/*********************** func
***********************/
.pagenation { text-align: center; padding: 20px 10px; }
.pagenation ul { display: inline-block; }
.pagenation ul li { display: inline-block; }
.pagenation ul li.active a { color: #fff; background: #319499; }
.pagenation ul li a { color: #999; padding: 5px 10px; display: block; }
.pagenation ul li a:hover { color: #fff; background: #319499; }
.pagenation .note { display: inline-block; }

ul.item_list { padding: 0px 0px 20px 0px; margin: 10px; background: url(../images/border_bg.png) repeat-x left bottom; }
ul.item_list:last-child { background: none; }
ul.item_list li { display: inline-block; margin: 3px; }
ul.item_list li .product { position: relative; margin: 20px 0px 0px 0px; padding: 20px 0px 0px 0px; width: 210px; border: 5px solid #8b1414; background: #fff; }
ul.item_list li .product .title { position: absolute; top: -15px; left: 20px; width: 168px; font-weight: bold; border: 1px solid #8b1414; color: #fff; padding: 10px 5px; text-align: center; background: #000; -webkit-box-shadow: 1px 1px 1px black; -moz-box-shadow: 1px 1px 1px black; box-shadow: 1px 1px 1px black; }
ul.item_list li .product .figure { text-align: center; padding: 10px; margin: 0px 5px; background: url(../images/border_bg.png) repeat-x left bottom; }
ul.item_list li .product .word ul li { display: block; margin: 0px 5px; border-bottom: 1px dashed #ccc; padding: 5px 0px; text-align: left; }
ul.item_list li .product .word ul li .note { float: right; margin: 10px 0px 0px 0px; font-weight: bold; }
ul.item_list li .product .word ul li .note .num { color: #ff0000; }
ul.item_list li .product .word .price_note { padding: 5px; color: #812626; }
ul.item_list li .product .word .price_note .price { font-size: 24px; font-family: verdana; font-weight: bold; vertical-align: baseline; }
ul.item_list li .product .word .price_note .btn.buy { position: relative; top: 3px; float: right; }
ul.item_list li .curator { position: relative; box-sizing: border-box; width: 175px; margin: 40px 0px 0px 0px; color: #9d9d9d; border: 1px solid #c7c7c7; -webkit-box-shadow: 5px 5px 0px #c7c7c7; -moz-box-shadow: 5px 5px 0px #c7c7c7; box-shadow: 5px 5px 0px #c7c7c7; }
ul.item_list li .curator .title { position: absolute; top: -43px; font-family: Georgia; font-style: italic; font-size: 24px; padding: 8px 0px 0px 115px; height: 23px; background: url(../images/top5_title_bg.png) no-repeat 0px bottom; }
ul.item_list li .curator .title .icon_crown { position: absolute; top: 0px; left: 0px; display: block; width: 30px; height: 20px; background: url(../images/icon_crown.png) no-repeat 0px 0px; }
ul.item_list li .curator .figure { padding: 5px 0px 5px 0px; text-align: center; }
ul.item_list li .curator .word { text-align: left; padding: 0px 10px 5px 5px; }
ul.item_list li .curator .word .position { color: #414040; }
ul.item_list li .curator .word .vote { font-size: 14px; font-family: Microsoft JhengHei, verdana; padding: 0px 0px 10px 0px; background: url(../images/border_bg.png) repeat-x left bottom; }
ul.item_list li .curator .word .vote .num { color: #df0000; font-size: 22px; }
ul.item_list li .curator .word .desc { color: #414040; font-size: 12px; padding: 5px 0px 10px 0px; background: url(../images/border_bg.png) repeat-x left bottom; }

.article { text-align: center; }
.article.part2 { position: relative; }
.article.part2 .seperator { position: absolute; left: 50%; margin: 0px auto; display: inline-block; width: 1px; height: 100%; background: #ccc; }
.article.part2 .section { display: inline-block; width: 46%; padding: 10px 0px; position: relative; box-sizing: border-box; }
.article.part2 .section.left { float: left; }
.article.part2 .section.right { float: right; }
.article.part2 .section .figure { width: 100%; }
.article.part2 .section .word .title { font-size: 24px; }
.article.part2 .section .word .desc { font-size: 14px; color: #999999; }
.article.part3 .section { display: inline-block; width: 33%; float: left; padding: 10px 10px; box-sizing: border-box; }
.article.part3 .section .word .title { font-size: 18px; height: 60px; overflow: hidden; }
.article.part3 .section .word .desc { font-size: 12px; color: #999999; }
.article.bordered.part3 .section { margin: 10px 14px; width: 31%; }
.article.bordered.part3 .section .word .title { font-size: 18px; }
.article.bordered.part3 .section .word .desc { font-size: 12px; color: #999999; }
.article.bordered .section { border: 1px solid #ddd; padding: 10px 10px; background-color: #fff; }
.article.bordered .section .figure { width: 100%; text-align: center; margin: 0px auto; }
.article.bordered .section .figure img { width: 100%; }
.article.bordered .section .word { width: 95%; text-align: center; margin: 10px auto; font-family: Microsoft JhengHei, verdana; line-height: 250%; }
.article.bordered .section .word .title { font-size: 24px; }
.article.bordered .section .word .title a { color: #333; }
.article.bordered .section .word .title a:hover { color: #f00; }
.article.bordered .section .word .desc { font-size: 15px; }
.article .section { vertical-align: top; }
.article .section .figure { width: 100%; text-align: center; margin: 0px auto; }
.article .section .figure img { width: 100%; }
.article .section .word { width: 95%; text-align: center; margin: 30px auto 10px auto; font-family: Microsoft JhengHei, verdana; line-height: 250%; }
.article .section .word .title { font-size: 24px; }
.article .section .word .title a { color: #333; }
.article .section .word .title a:hover { color: #f00; }
.article .section .word .desc { font-size: 15px; }

.pic_list ul { text-align: center; }
.pic_list ul li { display: inline-block; }
.pic_list ul li .figure img { width: 100%; }
.pic_list ul li .word { padding: 20px 0px; }
.pic_list ul li .word .name { font-size: 18px; font-family: Microsoft JhengHei, verdana; }
.pic_list .buttons { padding: 0px 0px 100px 0px; }

.carousel { position: relative; margin: 0px 0px 10px 0px; }
.carousel .carousel-indicators { position: static; text-align: center; margin: 30px 0px 0px 0px; }
.carousel .carousel-indicators li { display: inline-block; float: none; width: 8px; height: 8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; cursor: pointer; background-color: #fff; border: 1px solid #666; }
.carousel .carousel-indicators li.active { background-color: #666; }
.carousel .carousel-control { border: none; text-decoration: none; height: 45px; top: 45%; z-index: 301; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; background: none; }
.carousel .carousel-control.left { left: 30px; }
.carousel .carousel-control.right { right: 30px; }

/* content block 1 */
.customScrollBox { position: relative; height: 100%; overflow: hidden; }
.customScrollBox .container { position: relative; width: 180px; top: 0; float: left; }
.customScrollBox .content { clear: both; }
.customScrollBox .content p { padding: 0 5px; margin: 10px 0; color: #fff; font-family: Verdana, Geneva, sans-serif; font-size: 13px; line-height: 20px; }
.customScrollBox .content p.alt { padding: 10px 5px; margin: 10px 0; color: #fff; font-family: Georgia, "Times New Roman", Times, serif; font-size: 17px; line-height: 19px; color: #999; }

.dragger_container { position: absolute; width: 2px; height: 80%; top: 10px; right: 15px; margin: 40px 0 0 10px; background: #000; cursor: pointer; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

.dragger { position: absolute; width: 2px; height: 60px; background: #999; text-align: center; line-height: 60px; color: #666; overflow: hidden; cursor: pointer; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

.dragger_pressed { position: absolute; width: 4px; margin-left: -1px; height: 60px; background: #999; text-align: center; line-height: 60px; color: #666; overflow: hidden; cursor: s-resize; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

.scrollUpBtn, .scrollDownBtn { position: absolute; display: inline-block; width: 14px; height: 15px; margin-right: 10px; text-decoration: none; right: 0; opacity: 0.20; }

.scrollUpBtn { top: 16px; background: url(../images/mcs_btnUp.png) center center no-repeat; }

.scrollDownBtn { bottom: 12px; background: url(../images/mcs_btnDown.png) center center no-repeat; }

.scrollUpBtn:hover, .scrollDownBtn:hover { opacity: 0.60; }

.mobile_show { display: none; }

.mobile_hidden { display: inline-block; }

.mobile_hidden_block { display: block; }

.red { color: #e10500; }

.gray { color: #444444; }

.orange { color: #fe7200; }

.txt_left { text-align: left; }

.txt_right { text-align: right; }

.txt_center { text-align: center; }

input.w1, .btn.w1, select.w1 { width: 30px; }
input.w2, .btn.w2, select.w2 { width: 50px; }
input.w3, .btn.w3, select.w3 { width: 85px; }
input.w4, .btn.w4, select.w4 { width: 105px; }
input.w5, .btn.w5, select.w5 { width: 160px; }
input.w6, .btn.w6, select.w6 { width: 220px; }
input.w7, .btn.w7, select.w7 { width: 400px; }

input[type=text] { font-family: Microsoft JhengHei, verdana; }
input[type="checkbox"] { display: none; }
input[type="checkbox"] + label { cursor: pointer; }
input[type="checkbox"] + label span { display: inline-block; width: 19px; height: 19px; margin: 0px 10px 3px 0px; cursor: pointer; vertical-align: middle; border: 2px solid #666; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
input[type="checkbox"]:checked + label span { border: 2px solid #000; background: url(../images/checked.png) no-repeat center center black; }
input[type="radio"] { display: none; }
input[type="radio"] + label { cursor: pointer; }
input[type="radio"] + label span { display: inline-block; width: 22px; height: 22px; margin: 0px 10px 3px 0px; cursor: pointer; vertical-align: middle; background: url(../images/checked_1_off.png) no-repeat center center; }
input[type="radio"]:checked + label span { background: url(../images/checked_1.png) no-repeat center center; }
input[type="date"] { padding: 3px 5px; }

textarea { min-width: 80%; padding: 5px; font-family: Microsoft JhengHei, verdana; }

.price { display: inline-block; vertical-align: middle; line-height: 1.5; }
.price dfn, .price strong { font-weight: bold; color: #e10500; }
.price dfn { font-size: 15px; }
.price strong { font-size: 18px; }
.price del { text-decoration: line-through; color: #888888; font-size: 12px; display: block; }
.price ins { display: block; color: #666666; }

.buttons { position: relative; font-size: 13px; padding: 5px 0; clear: both; }
.buttons.t-left { text-align: left; }
.buttons.t-center { text-align: center; }
.buttons.t-right { text-align: right; }
.buttons.border-right { padding: 30px 0px; }
.buttons.border-right .btn { position: relative; margin: 0px 30px; }
.buttons.border-right .btn:after { content: ""; display: block; width: 1px; height: 70px; position: absolute; right: -32px; bottom: 0px; background-color: #999999; }
.buttons.border-right .btn:last-child:after { display: none; }

.btn { color: #fff; padding: 5px 10px; display: inline-block; font-style: 12px; -webkit-text-size-adjust: 100%; vertical-align: middle; text-align: center; text-decoration: none; margin: 3px 3px; background-color: #000000; transition: all 1s; }
.btn:hover { background: #666; }
.btn.normal { padding: 5px 30px; }
.btn.circle { display: inline-block; width: 50px; height: 20px; padding: 25px 10px; font-size: 18px; border: 10px solid #ccc; -webkit-border-radius: 60px; -moz-border-radius: 60px; -ms-border-radius: 60px; -o-border-radius: 60px; border-radius: 60px; }
.btn.cancel:hover { background: #ccc; color: #000; }
.btn.submit { background: #e10500; }
.btn.submit:hover { background: #ccc; color: #000; }
.btn.disabled { background: #ccc; color: #000; }
.btn.disabled:hover { background: #e10500; color: #fff; }

.tips { padding: 10px 0; text-align: center; }
.tips input { vertical-align: middle; }

[class^='icon_'] { display: inline-block; vertical-align: middle; *display: inline; *zoom: 1; background-repeat: no-repeat; background-position: 0 0; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; }

.icon_member { background-image: url("../images/icon_member.png"); width: 17px; height: 17px; position: relative; bottom: 1px; margin: 0px 5px 0px 0px; }

.icon_share { background-image: url("../images/icon_share_2.png"); width: 17px; height: 17px; position: relative; bottom: 1px; margin: 0px 5px 0px 0px; }

[class^='tag_'] { display: inline-block !important; vertical-align: middle; *display: inline; *zoom: 1; margin: 0 3px; color: white; padding: 10px 0px; font-size: 13px !important; font-weight: bold !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.tag_brown { background-color: #754122; }

.tag_orange { background-color: #e99003; }

.modal { position: fixed; top: 20%; left: 50%; margin-left: -250px; border: none; outline: none; z-index: 9999999999; display: none; }
.modal.small { width: 400px; margin-left: -200px; }
.modal.medium { width: 690px; margin-left: -345px; }
.modal.large { width: 900px; margin-left: -450px; }
.modal .close { position: absolute; right: -15px; top: -15px; z-index: 1; font-size: 30px; line-height: 20px; text-align: center; width: 30px; height: 30px; background-color: black; color: white; border: 2px solid white; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.modal.fade { -webkit-transition: opacity 0.3s linear, top 0.3s ease-out; -moz-transition: opacity 0.3s linear, top 0.3s ease-out; -o-transition: opacity 0.3s linear, top 0.3s ease-out; transition: opacity 0.3s linear, top 0.3s ease-out; top: 20%; }
.modal.fade.in { top: 20%; }
.modal.active { display: block; }
.modal .modal_content { position: relative; }
.modal .modal_content .ft { position: static; }

.modal_content { position: relative; z-index: 2001; }
.modal_content iframe { border: none; }
.modal_content .hd { border-bottom: 1px solid #eee; }
.modal_content .hd h4 { padding: 10px; font-size: 20px; font-weight: bold; font-family: Microsoft JhengHei, verdana; color: #333; }
.modal_content .bd { min-height: 100px; padding: 5px; line-height: 150%; font-family: Microsoft JhengHei, verdana; max-height: 390px; overflow: auto; }
.modal_content .bd p { font-size: 15px; }
.modal_content .ft { position: fixed; bottom: 0px; width: 100%; height: 50px; border-top: 1px solid #ccc; }

.modal_backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 2000; background-color: black; }
.modal_backdrop.fade { opacity: 0; }

.fade { opacity: 0; -webkit-transition: opacity 0.08s linear; -moz-transition: opacity 0.08s linear; -o-transition: opacity 0.08s linear; transition: opacity 0.08s linear; }
.fade.in { opacity: 1; }

.modal_backdrop, .modal_backdrop.fade.in { opacity: 0.8; filter: alpha(opacity=80); }

.tab .tab_menu ul { border-bottom: 1px solid #ccc; text-align: center; }
.tab .tab_menu ul li { display: inline-block; cursor: pointer; font-size: 16px; font-weight: bold; padding: 5px; color: #999; border-top: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #eee; -webkit-border-radius: 5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -ms-border-radius: 5px 5px 0px 0px; -o-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; }
.tab .tab_menu ul li.active, .tab .tab_menu ul li:hover { color: #333; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; background: #eee; }
.tab .tab_content ul li.tab_c { display: none; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.tab .tab_content ul li.tab_c.active { display: block; }

.social.fb { position: relative; text-align: left; padding: 20px 0px 0px 0px; height: 25px; }

.fb-like { position: static !important; display: inline-block; text-align: left; width: 100px; height: 30px; overflow: hidden; }
.fb-like span { overflow: visible !important; }
.fb-like iframe { width: auto !important; height: auto !important; overflow: visible !important; }

.form.basic .form_list ul li .item_name { min-width: 120px; }

.index #footer .footer_content { border-top: 1px solid #ccc; }

.content .page_title, .content_scroll_pic .page_title { text-align: left; padding: 50px 0px 20px; }
.content .breadcrumb, .content_scroll_pic .breadcrumb { text-align: left; }
.content .breadcrumb ul, .content_scroll_pic .breadcrumb ul { text-align: left; }

.content_video .page_title { text-align: left; padding: 50px 0px 20px; }
.content_video .breadcrumb { text-align: left; }
.content_video .breadcrumb ul { text-align: left; }
.content_video .must_read { padding: 50px 0px 0px 0px; }
.content_video .must_read .md_hd { display: none; }
