@charset "UTF-8";
#main .main.col_2_left, #main .main.col_2_right { display: block; }
#main .main.col_2_left:after, #main .main.col_2_right:after { content: '.'; display: block; clear: both; visibility: hidden; overflow: hidden; line-height: 0; height: 0; }

[class*="col"] { box-sizing: border-box; }

.row { margin-left: 0px; margin-right: 0px; *zoom: 1; }
.row:before, .row:after { display: table; content: ""; line-height: 0; }
.row:after { clear: both; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { position: relative; min-height: 1px; padding-left: 5px; padding-right: 5px; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { float: left; }

.col1 { width: 8.33333%; }

.col2 { width: 16.66667%; }

.col3 { width: 25%; }

.col4 { width: 33.33333%; }

.col5 { width: 41.66667%; }

.col6 { width: 50%; }

.col7 { width: 58.33333%; }

.col8 { width: 66.66667%; }

.col9 { width: 75%; }

.col10 { width: 83.33333%; }

.col11 { width: 91.66667%; }

.col12 { width: 100%; }

@media screen and (min-width: 320px) and (max-width: 640px) { .themes .bd > *[class*="col"] { width: 100%; }
  [class*="col"] { width: 100%; }
  .col1_s, .col2_s, .col3_s, .col4_s, .col5_s, .col6_s, .col7_s, .col8_s, .col9_s, .col10_s, .col11_s, .col12_s { position: relative; min-height: 1px; padding-left: 5px; padding-right: 5px; }
  .col1_s, .col2_s, .col3_s, .col4_s, .col5_s, .col6_s, .col7_s, .col8_s, .col9_s, .col10_s, .col11_s, .col12_s { float: left; }
  .col1_s { width: 8.33333%; }
  .col2_s { width: 16.66667%; }
  .col3_s { width: 25%; }
  .col4_s { width: 33.33333%; }
  .col5_s { width: 41.66667%; }
  .col6_s { width: 50%; }
  .col7_s { width: 58.33333%; }
  .col8_s { width: 66.66667%; }
  .col9_s { width: 75%; }
  .col10_s { width: 83.33333%; }
  .col11_s { width: 91.66667%; }
  .col12_s { width: 100%; } }
@media screen and (min-width: 641px) and (max-width: 1023px) { .themes .bd > *[class*="col"] { width: 100%; }
  .col1_m, .col2_m, .col3_m, .col4_m, .col5_m, .col6_m, .col7_m, .col8_m, .col9_m, .col10_m, .col11_m, .col12_m { position: relative; min-height: 1px; padding-left: 5px; padding-right: 5px; }
  .col1_m, .col2_m, .col3_m, .col4_m, .col5_m, .col6_m, .col7_m, .col8_m, .col9_m, .col10_m, .col11_m, .col12_m { float: left; }
  .col1_m { width: 8.33333%; }
  .col2_m { width: 16.66667%; }
  .col3_m { width: 25%; }
  .col4_m { width: 33.33333%; }
  .col5_m { width: 41.66667%; }
  .col6_m { width: 50%; }
  .col7_m { width: 58.33333%; }
  .col8_m { width: 66.66667%; }
  .col9_m { width: 75%; }
  .col10_m { width: 83.33333%; }
  .col11_m { width: 91.66667%; }
  .col12_m { width: 100%; } }
input[type=date] { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; }

#main.col_1 { width: 100%; padding: 0px 0px; box-sizing: border-box; min-height: 0px; }
#main.col_1 .main_content { width: 100%; margin: 0; padding: 0; }
#main.col_1 .aside { width: 100%; margin: 0; padding: 0; }
#main .main.col_2_left { display: block; width: 90%; margin: 0 auto; }
#main .main.col_2_left .main_content { width: 100%; margin: 0; padding: 0; }
#main .main.col_2_left .aside { width: 100%; margin: 0; padding: 0; }
#main .main.col_2_right { display: block; width: 90%; margin: 0 auto; }
#main .main.col_2_right .main_content { width: 100%; margin: 0; padding: 0; }
#main .main.col_2_right .aside { width: 100%; margin: 0; padding: 0; }

.themes.col_2_left { display: block; width: 85% !important; margin: 0 auto; }
.themes.col_2_left .col_main { float: none; width: 100%; }
.themes.col_2_left .col_aside { float: none; width: 100%; text-align: center; }

@media screen and (max-width: 767px) { .mobile_hidden { display: none !important; }
  .mobile_hidden_block { display: none !important; }
  .mobile_show { display: inline-block !important; }
  .fb_iframe_widget iframe { width: 100% !important; }
  .fb_iframe_widget span { width: 320px !important; }
  .toolbar { position: relative; left: -40px; }
  .toolbar.fixed { position: relative; }
  .toolbar .func { background: none; }
  .toolbar .func .nav_toggle { position: fixed; top: 20px; left: 20px; transition: all 1s; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; z-index:9999; }
  .toolbar .func .nav_toggle.active { opacity: 0; top: -60px; background: url(../images/nav_toggle.png) no-repeat center center red; }
  .toolbar .func ul { display: none; }
  .toolbar .nav { position: fixed; }
  .toolbar .nav.active { left: 0px; }
  .toolbar .nav .nav_all { padding: 0px 0px 0px 0px; background-color: whitesmoke; }
  .toolbar .nav .nav_all .search_box.top { display: block; margin: 20px 0px 0px 0px; }
  .toolbar .nav .nav_all .search_box.bottom { display: none; }
  .toolbar .nav .nav_all .nav_main { margin: 0px 0px 60px 0px; }
  .toolbar .nav .preview { display: none; }
  .themes { width: 100%; }
  .themes.col_1 { width: 100%; }
  .md { width: 100%; }
  .md .md_hd h4 .title { font-size: 38px; font-family: Times; }
  .md.breadcrumb { display: block; width: 90%; margin: 0 auto; padding: 0px 0px 20px 0px; }
  .md.breadcrumb .title { font-size: 24px; line-height: 160%; }
  .md.main_carousel { display: block; width: 100%; margin: 0 auto; }
  .md.topicCarousel { display: block; width: 100%; margin: 0 auto; padding: 30px 0px 0px 0px; display: none; }
  .md.topicCarousel.mobile { display: block; }
  .md.topicCarousel .carousel-inner { width: 95%; }
  .md.topicCarousel .carousel-indicators { width: 95%; margin: 20px auto; top: 15px; }
  .md.topicCarousel .buttons { width: 90%; }
  .md.pic_carousel { display: block; width: 90%; margin: 0 auto; }
  .md.pic_carousel .carousel-inner .item iframe { height: 300px; }
  .md.pic_carousel .carousel-indicators { position: absolute; top: 35px; right: auto; width: 100%; text-align: center; margin: 0px; }
  .md.pic_carousel .carousel-control { top: 45px; }
  .md.whats_hot { display: block; width: 100%; margin: 0 auto; padding: 0px 0px 30px 0px; }
  .md.style_labs { display: block; width: 100%; margin: 0 auto; padding: 0px 0px 10px 0px; }
  .md.style_labs .buttons.border-right .btn:after { display: none; }
  .md.masters .md_hd { display: block; width: 100%; margin: 0 auto; }
  .md.masters .md_bd { display: block; width: 100%; margin: 0 auto; }
  .md.masters .md_bd .pic_list ul { text-align: center; }
  .md.masters .md_bd .pic_list ul li { display: inline-block; width: 35%; margin: 30px 10px; }
  .md.masters .md_bd .pic_list ul li .figure img { width: 100%; }
  .md.masters .md_bd .pic_list .buttons { padding: 0px 0px 20px 0px; }
  .md.gallery { display: block; width: 100%; margin: 0 auto; padding: 0px 0px 0px 0px; }
  .md.gallery .md_bd .pic_list ul { text-align: center; }
  .md.gallery .md_bd .pic_list ul li { display: block; width: 95%; margin: 20px 5px; }
  .md.gallery .md_bd .pic_list ul li .figure img { width: auto; }
  .md.gallery .md_bd .pic_list .buttons { padding: 30px 0px 30px 0px; }
  .md.channel_topic { display: block; width: 100%; margin: 0 auto; }
  .md.channel_topic .article .section .word .desc { padding: 0px 0px 0px 0px; }
  .md.channel_subject { padding: 50px 0px; }
  .md.channel_subject .article { display: block; width: 100%; margin: 0 auto; }
  .md.content_carousel .hd_title { font-size: 18px; padding: 30px 30px 30px 30px; }
  .md.content_carousel .carousel-inner .item .figure { height: 240px; }
  .md.content_carousel .carousel-inner .item .figure img { height: 242px; }
  .md.content_carousel .carousel-inner .item .word .title { font-size: 18px; }
  .md.content_carousel .carousel-inner .item .word .desc { font-size: 15px; }
  .md.content_carousel .carousel-indicators li { width: 45px; margin: 0px 3px 5px 0px; }
  .md.content_carousel .carousel-indicators li img { width: 100%; }
  .md.content_carousel .carousel-control { top: 125px; width: 40px; height: 40px; -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; -webkit-background-size: 50% 80%; -moz-background-size: 50% 80%; -o-background-size: 50% 80%; background-size: 50% 80%; }
  .md.content_carousel .carousel-control.left { left: 10px; }
  .md.content_carousel .carousel-control.right { right: 10px; }
  .md.content_author { width: auto; text-align: center; }
  .md.content_author .word { width: auto; }
  .md.content_author .word .info { text-align: left; }
  .md.share_buttons { text-align: center; }
  .md.share_buttons .social { top: 0px; }
  .md.share_buttons a { width: 250px; }
  .md.share_buttons a.fb { margin: 0px 0px 10px 0px; }
  .md.responses { text-align: center; }
  .md.responses .fb-comments iframe { position: static; margin: 0px auto; }
  .md.ad { display: block; width: 100%; margin: 0 auto; margin: 0px 0px 0px 0px; }
  .md.ad img { width: 100%; max-width: 280px; }
  .md.must_read { display: block; width: 100%; margin: 0 auto; }
  .md.must_read .article .section .word .title { height: 50px; }
  .md.whats_more { padding: 50px 0px; }
  .md.whats_more .article { display: block; width: 100%; margin: 0 auto; }
  .md.video_all iframe { height: 200px; }
  .article.part2 .seperator { display: none; }
  .article.part2 .section { width: auto; float: none; display: block; }
  .article.part2 .section.left { float: none; }
  .article.part2 .section.right { float: none; }
  .article.part2 .section .figure { width: 95%; }
  .article.part2 .section .word .title { font-size: 15px; }
  .article.part2 .section .word .desc { font-size: 12px; }
  .article.part3 .section { display: inline-block; width: auto; float: none; }
  .article.part3 .section .word .title { font-size: 18px; height: 60px; }
  .article.part3 .section .word .desc { font-size: 12px; color: #999999; }
  .article.bordered.part3 .section { margin: 10px; width: 90%; }
  .article.bordered .section { max-width: 380px; display: inline-block; border: 1px solid #ddd; background-color: #fff; }
  .article.bordered .section .word .title { font-size: 15px; }
  .article.bordered .section .word .title a { color: #333; }
  .article.bordered .section .word .title a:hover { color: #f00; }
  .article.bordered .section .word .desc { font-size: 12px; color: #999; }
  .article .section .word .title { font-size: 18px; height: 60px; overflow: hidden; }
  .article .section .word .title a { color: #333; font-size: 18px; }
  .article .section .word .title a:hover { color: #f00; }
  .article .section .word .desc { font-size: 15px; }
  .page_title { padding: 20px 0px 20px 0px !important; }
  #header .header_content { width: 100%; }
  #header .header_content .kanban { display: none; }
  .logo { display: block; width: 50%; margin: 0 auto; padding: 30px 0px 30px 0px; }
  .logo img { width: 100%; }
  #footer { padding: 15px 0; }
  #footer .footer_content { width: auto; padding: 20 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  #footer .footer_content .logo img { width: auto; } }
@media screen and (min-width: 768px) and (max-width: 1240px) { .mobile_hidden { display: none !important; }
  .mobile_hidden_block { display: none !important; }
  .mobile_show { display: inline-block !important; }
  .fb_iframe_widget iframe { width: 100% !important; }
  .fb_iframe_widget span { width: 320px !important; }
  .themes { width: 100% !important; }
  .md { width: 100%; }
  .md.main_carousel { display: block; width: 85%; margin: 0 auto; }
  .md.topicCarousel { display: block; width: 100%; margin: 0 auto; display: block; }
  .md.topicCarousel.mobile { display: none; }
  .md.topicCarousel .carousel-inner { width: 95%; }
  .md.topicCarousel .buttons { width: 90%; }
  .md.pic_carousel { display: block; width: 90%; margin: 0 auto; }
  .md.pic_carousel .carousel-inner .item iframe { height: 300px; }
  .md.pic_carousel .carousel-indicators { position: absolute; top: 15px; right: auto; width: 100%; text-align: center; margin: 0px; }
  .md.pic_carousel .carousel-control { top: 25px; }
  .md.whats_hot { display: block; width: 85%; margin: 0 auto; }
  .md.style_labs { display: block; width: 90%; margin: 0 auto; }
  .md.masters .md_hd { display: block; width: 90%; margin: 0 auto; }
  .md.masters .md_bd { display: block; width: 90%; margin: 0 auto; }
  .md.masters .md_bd .pic_list ul { text-align: center; }
  .md.masters .md_bd .pic_list ul li { margin: 30px 10px; }
  .md.masters .md_bd .pic_list ul li .figure img { width: 100%; }
  .md.gallery { display: block; width: 90%; margin: 0 auto; }
  .md.gallery .md_bd .pic_list ul li { width: 21%; }
  .md.channel_topic { display: block; width: 90%; margin: 0 auto; }
  .md.channel_subject .article { display: block; width: 95%; margin: 0 auto; }
  .md.channel_subject .article .section { margin: 10px 5px; }
  .md.content_carousel .carousel-inner .item .figure { height: 400px; }
  .md.content_carousel .carousel-inner .item .figure img { height: 403px; }
  .md.content_carousel .carousel-control { top: 185px; }
  .md.content_author { text-align: center; }
  .md.content_author .word { width: auto; }
  .md.content_author .word .info { text-indent: left; }
  .md.share_buttons { text-align: center; }
  .md.share_buttons a.fb { margin: 0px 0px 10px 0px; }
  .md.responses { text-align: center; }
  .md.responses .fb-comments iframe { position: static; margin: 0px auto; }
  .md.ad { margin: 0px 10px 0px 0px; }
  .md.must_read .md_hd h4 { padding: 0px 0px 20px 0px; }
  .md.whats_more .article { display: block; width: 95%; margin: 0 auto; }
  .md.whats_more .article .section { margin: 10px 5px; }
  .md.video_all iframe { height: 550px; }
  .article.part2 .section { width: 45%; }
  .article.part2 .section .word .title { font-size: 15px; }
  .article.part2 .section .word .desc { font-size: 12px; }
  .article.part3 .section { display: inline-block; width: 30%; float: none; }
  .article.part3 .section .word .title { font-size: 14px; height: 60px; }
  .article.part3 .section .word .desc { font-size: 12px; color: #999999; }
  .article.bordered.part3 .section { margin: 5px; width: 30%; min-width: 210px; }
  .article.bordered.part3 .section .word .title { font-size: 14px; height: 45px; line-height: 150%; }
  .article.bordered.part3 .section .word .desc { font-size: 12px; color: #999999; }
  .article.bordered .section { border: 1px solid #ddd; background-color: #fff; }
  .article.bordered .section .word .title { font-size: 15px; }
  .article.bordered .section .word .title a { color: #333; }
  .article.bordered .section .word .title a:hover { color: #f00; }
  .article.bordered .section .word .desc { font-size: 12px; }
  .article .section .word .title { font-size: 15px; line-height: 150%; }
  .article .section .word .title a { color: #333; }
  .article .section .word .title a:hover { color: #f00; }
  .article .section .word .desc { font-size: 12px; }
  .pic_list ul li .word .name { font-size: 15px; }
  .page_title { padding: 50px 0px 20px 0px; }
  #header .header_content { width: 100%; }
  #header .logo { display: none; }
  #footer { padding: 15px 0; }
  #footer .footer_content { width: 80%; padding: 20px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  #footer .footer_content .logo img { width: auto; } }
@media screen and (min-width: 481px) and (max-width: 767px) { .themes { width: 100%; }
  .md { width: 100%; }
  .md .md_hd h4 .title { font-size: 38px; }
  .md.main_carousel { display: block; width: 100%; margin: 0 auto; }
  .md.topicCarousel { display: block; width: 100%; margin: 0 auto; display: none; }
  .md.topicCarousel.mobile { display: block; }
  .md.topicCarousel .carousel-inner { width: 95%; }
  .md.topicCarousel .carousel-indicators { width: 95%; margin: 20px auto; }
  .md.topicCarousel .buttons { width: 90%; }
  .md.whats_hot { display: block; width: 100%; margin: 0 auto; }
  .md.style_labs { display: block; width: 100%; margin: 0 auto; }
  .md.masters .md_hd { display: block; width: 100%; margin: 0 auto; }
  .md.masters .md_bd { display: block; width: 100%; margin: 0 auto; }
  .md.masters .md_bd .pic_list ul { text-align: center; }
  .md.masters .md_bd .pic_list ul li { display: inline-block; width: 35%; margin: 30px 10px; }
  .md.masters .md_bd .pic_list ul li .figure img { width: 100%; }
  .md.gallery { display: block; width: 100%; margin: 0 auto; }
  .md.gallery .md_bd .pic_list ul { text-align: center; }
  .md.gallery .md_bd .pic_list ul li { display: block; width: 95%; margin: 20px 5px; }
  .md.channel_topic { display: block; width: 100%; margin: 0 auto; }
  .md.channel_subject .article { display: block; width: 100%; margin: 0 auto; }
  .md.content_author { width: auto; }
  .md.content_author .word { width: auto; }
  .md.content_carousel .carousel-inner .item .figure { height: 230px; }
  .md.content_carousel .carousel-inner .item .figure img { height: 233px; }
  .md.content_carousel .carousel-control { top: 115px; }
  .md.video_all iframe { height: 375px; }
  .article.part2 .seperator { display: inline-block; }
  .article.part2 .section { width: 45%; display: inline-block; border-bottom: none; }
  .article.part2 .section.left { float: none; }
  .article.part2 .section.right { float: none; }
  .article.part2 .section .figure { width: 95%; }
  .article.part2 .section .figure img { width: 100%; }
  .article.part2 .section .word .title { font-size: 15px; }
  .article.part2 .section .word .desc { font-size: 12px; }
  .article.part3 .section { display: inline-block; width: auto; float: none; }
  .article.part3 .section .word .title { font-size: 18px; height: 60px; }
  .article.part3 .section .word .desc { font-size: 12px; color: #999999; }
  .article.bordered.part3 .section { margin: 10px; width: 95%; }
  .article.bordered .section .figure img { width: 100%; }
  .article .section .figure img { width: auto; }
  .article .section .word .title { font-size: 15px; }
  .article .section .word .desc { font-size: 12px; }
  .pic_list ul li .word .name { font-size: 15px; }
  .page_title { padding: 50px 0px 20px 0px; } }
