.kanban div{
	text-align: center;
	background-color:#CCC;
	padding: 20px;
}

.fb-comments, .fb-comments iframe[style] {width: 100% !important;}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.toolbar .func ul li.youtube a {
    background-position: 0px -38px;
}

.toolbar .func ul li.album a {
    background-position: 0px -79px;
}

.toolbar .func ul li.member a {
    background-position: 0px -117px;
}

.toolbar .func ul li.rss a {
    background-position: 0px -158px;
}

.toolbar .func ul li.search a {
    background-position: 0px -198px;
}