@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Open+Sans:400,300,600,700|Dosis:300,400|Roboto+Slab:400);

body.modal-open {
    overflow: hidden;
}

body, input, textarea, select, button, .normal {
  font-family: "Open Sans", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  font-size: 14px;
  color: #3f464c;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizelegibility;
}

body {
	background-color: #f9f9f9;
	position: relative;
	z-index: 0;
}

/* ====== MISC ====== */

.translation-feedback-banner {
  padding: 20px 0;
  background-color: #4b5159;
  color: #fff;
  position: relative;
  z-index: 300;
}

.couponbox .title {
    display: inline-block;
    font: 24px/18px 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin: 0 35px 0 10px;
    padding: 0;
}

.mini-nav-show {
	display: none;
}

.mini-nav .iconic {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.none {
	display: none !important;
}

.center {
	text-align: center;
}

input.small {
	font-size: 12px;
	padding: 5px;
	margin-bottom: 0;
}

::selection {
    background-color: #48C2D6;
    color: #fff;
    text-shadow: none;
}

input:focus,
textarea:focus {
	background-color: #fff;
	border-color: #a2ce30;
	box-shadow: none;
	outline: none;
}

.inner_right {
	display: none;
}

.map {
	display: none;
}

.border {
	border-bottom: 1px solid #fff;
}

.border-dot {
	border-bottom: 1px solid #eaeaea;
}

.nomarg {
	margin: 0 !important;
}

.halfmarg-bot {
	margin-bottom: 10px;
}

.row.stagger {
	padding-top: 60px;
	padding-bottom: 60px;
}

.unselectable {
	-khtml-user-select: none;
	  -moz-user-select: none;
	       user-select: none;
}

.noborder {
	border: none !important;
}

table td {
	font-weight: 400;
}

.wired-promo {
	background-color: #4b5159 !important;
}

.wired-promo p {
	color: #fff;
	padding-top: 3px;
}

input,
textarea {
  -webkit-font-smoothing: antialiased;
}

/* ====== Buttons ====== */

a.mini.btn {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	color: #71747b;
	font-size: 13px;
	font-weight: 600;
	box-shadow: none;
	padding: 4px 12px 5px;
	margin-right: 10px;
	float: right;
	border: 2px solid #71747b;
}

a.mini.btn.green {
	color: #fff;
	background-color: #a2ce30;
	border-color: #a2ce30;
}

a.mini.btn.green:hover {
	background-color: #95be2a !important;
	border-color: #95be2a;
	color: #fff;
}

a.mini.btn:hover {
	color: #fff;
	background-color: #71747b;
	border-color: #71747b;
	text-decoration: none !important;
}

a.button,
.button,
button {
	background-color: #48C2D6;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
	clear: both;
	display: inline-block;
	padding: 10px 20px;
	border: none;
}

a.button {
  font-weight: 700 !important;
}

.button:hover,
.button.hover {
	color: #fff;
	background-color: #35ABBD;
	text-decoration: none !important;
}

.button.green {
	background-color: #a2ce30;
	color: #fff;
}

.button.green:hover {
	background-color: #95be2a;
	color: #fff;
}

.button.orange {
	background-color: #f8ab10;
	text-shadow: none;
	color: #fff;
}

.button.orange:hover {
	background-color: #eba10c;
	color: #fff;
}

.button.white {
	background-color: #fff;
	color: #3f464c;
	text-shadow: none;
	font-weight: 600;
}

.button.white:hover {
	background-color: #f1f1f1;
}

.button.grey {
	background-color: #f1f1f1;
	color: #888;
	text-shadow: none;
}

.button.grey:hover {
	background-color: #eaeaea;
}

.button.big {
  font-size: 16px;
	padding: 15px 40px !important;
}

.button.small {
	font-size: 14px;
	padding: 5px 15px 6px !important;
}

.button.small.inline {
	padding: 0 10px !important;
}

.button.mini {
	font-size: 13px !important;
	margin-top: 10px;
	padding: 2px 10px !important;
}

.button.center {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.button.light {
	background-color: rgba(255,255,255,0.3);
	color: #206166;
	text-shadow: none;
	font-size: 14px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.button.light:hover {
	background-color: #fff;
}

.button.calloutbtn {
	font-size: 18px;
	padding: 15px 40px 17px;
	margin-top: 25px;
}

.button.callout {
	padding: 15px 80px 15px;
}

a.button:disabled,
a.button.disabled,
button:disabled,
button.disabled {
	pointer-events: none;
	cursor: default;
	background-color: #f1f1f1 !important;
	text-shadow: none !important;
	color: #ddd;
	border-color: #f1f1f1 !important;
}

.button:last-child {
	margin-right: 0 !important;
}

/* === Bordered Buttons === */

.button.border {
	background-color: transparent;
	border: 2px solid #f9f9f9;
	padding: 13px 28px;
	text-shadow: none;
}

.button.border:hover {
	color: #ddd;
	border-color: #ddd;
}

.button.bordered {
	color: #48C2D6;
	background-color: transparent;
	border: 2px solid #48C2D6;
	padding: 13px 28px;
	text-shadow: none;
	margin-right: 10px;
}

.button.bordered:hover {
	color: #fff !important;
	background-color: #48C2D6;
	border-color: #48C2D6;
}

.button.bordered.solid {
	color: #fff;
	background-color: #48C2D6;
	border: 2px solid #48C2D6;
	padding: 13px 28px;
	margin-right: 10px;
}

.button.bordered.solid:hover {
	color: #fff !important;
	background-color: #35ABBD;
	border-color: #35ABBD;
}

.button.bordered.grey {
	color: #71747b;
	background-color: transparent;
	border: 2px solid #71747b;
	padding: 13px 28px;
	text-shadow: none;
}

.button.bordered.grey:hover {
	background-color: #71747b;
	color: #fff;
	border-color: #71747b;
}

.button.bordered.white {
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	padding: 13px 28px;
	text-shadow: none;
	font-weight: 600;
}

.button.bordered.white:hover {
	background-color: #fff;
	color: #3f464c !important;
	border-color: #fff;
}

.button.bordered.green {
	color: #fff;
	background-color: #a2ce30;
	border: 2px solid #a2ce30;
	padding: 13px 28px;
	text-shadow: #8eba0d 0 -1px 0;
	font-size: 15px;
}

.button.bordered.green:hover {
	background-color: #95be2a;
	color: #fff;
	border-color: #95be2a;
}

.button.bordered.thin {
  border: 2px solid #9da0a3;
  color: #74787c;
  padding: 8px 20px;
  font-weight: 400;
  //margin: 10px 0 0;
  margin-left: 5px;
}

.button.bordered.thin:hover {
  background-color: #74787c;
  color: #fff;
}

/* ====== Typography ====== */

a {
	font-weight: 600;
	color: #48C2D6;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition:all .1s ease-in;
	   -moz-transition:all .1s ease-in;
	     -o-transition:all .1s ease-in;
	        transition:all .1s ease-in;
}

a:hover,
a:focus {
	color: #35ABBD;
}


a.green {
	color: #a2ce30;
}

a.green:hover {
	color: #95be2a;
}

a.orange {
	color: #f8ab10;
}

a.orange:hover {
	color: #e39b09;
}

strong a {
  font-weight: 600;
}

a.blue {
	color: #48C2D6;
}

a.blue:hover {
	color: #35ABBD;
}

a.darkblue {
	color: #4b5159;
}

a.darkblue:hover {
	color: #3b4046;
	text-decoration: underline;
}

a.white {
	color: #fff;
}

a.white:hover {
	opacity: .8;
}

p {
	color: #3f464c;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	margin-top: 0;
	margin-bottom: 30px;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

p:last-child {
	margin-bottom: 0 ;
}

@media (max-width: 767px) {
	p:last-child {
		margin-bottom: 20px;
	}
}

p strong,
p b {
	font-weight: 600 !important;
	color: #3f464c;
}

p.white {
  font-weight: 600;
}

p.white strong {
	color: #fff;
}

span.light-weight {
	font-weight: 300;
}

p small {
	font-size: 13px;
}

p small strong {
	font-weight: 700;
}

p.big {
	font-size: 16px;
	line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
	margin-top: 0 !important;
	color: #3d464d;
	-webkit-font-smoothing: antialiased;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 600 !important;
}

.light {
	font-weight: 300;
}

h1 {
	line-height: 36px;
}

h1 small {
  font-size: 24px;
}

h1.blue {
	text-shadow: none;
	color: #48C2D6;
	margin-bottom: 15px !important;
}

h1.blue.nomarg {
	text-shadow: none;
	color: #48C2D6;
	margin-bottom: 0px !important;
}

h2 {
  font-size: 22px;
	line-height: 32px;
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	h2 {
		font-size: 24px !important;
	}
}

h2.big {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 20px;
}

h2 small {
  font-size: 17.5px;
}

h2.section {
	padding-bottom: 10px;
	padding-top: 30px;
}

h1 span.price {
	color: #fff;
	font-size: 16px;
}

h3 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 16px;
	-webkit-font-smoothing: antialiased;
}

h3 > strong {
  font-weight: 600 !important;
}

h3.big {
	font-size: 24px;
}

h3 small {
  font-size: 14px;
}

h3.legal {
	font-size: 18px;
	text-transform: capitalize;
}

h4 {
	color: #8d9199;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	h4 {
		font-size: 18px !important;
	}
}

h4 small {
  font-size: 12px;
}

.alert h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

h5 {
  font-size: 15px;
  margin-bottom: 0;
  line-height: 25px;
  font-weight: 600;
}

h6 {
  font-size: 14px;
}

.white {
	color: #fff;
}

.blue {
	color: #48C2D6 !important;
}

.darkblue {
	color: #4b5159 !important;
}

.green {
	color: #a2ce30;
}

.grey {
	color: #71747b;
}

.lightgrey {
	color: #96999b;
}

.darkgrey {
	color: #555;
}

.orange {
	color: #f8ab10;
}

.red {
	color: #dd514c;
}

.lightred {
	color: #ea9794;
}

.justify {
	text-align: justify;
}

.separator {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 30px;
	padding-top: 20px;
}

.separator:first-child {
	padding-top: 0 !important;
}

/* ====== List Styles ====== */

ul li {
	color: #3f464c;
}

li strong {
  font-weight: 600 !important;
}

ul.bullets {
	margin-bottom: 25px;
}

ul.bullets li {
	margin-bottom: 5px;
	list-style-type: circle;
	list-style-position: inside;
	line-height: 24px;
	font-weight: 400;
	font-size: 14px;
}

.steps li {
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
}

/* ====== Top Nav ====== */

.top-nav-icon {
  height: 40px;
  border-left: 1px solid #eaeaea;
  margin-left: 0 !important;
}

.top-nav-icon:nth-child(1) {
  border-right: 1px solid #eaeaea;
}

.top-nav-icon:nth-child(3) {
  margin-left: 20px !important;
}

.top-nav-icon a {
  padding: 0 20px !important;
}

.top-nav-icon a svg {
  width: 13px !important;
  height: 13px !important;
  margin-top: 14px;
  margin-right: 5px;
  display: inline-block;
  float: left;
}

.top-nav ul .cart svg {
  width: 15px !important;
  height: 15px !important;
  margin-top: 13px;
  position: relative;
  left: 7px;
}

.top-nav ul li a:hover {
	opacity: .7;
}

.badge-cart-items {
	background-color: #48C2D6;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 600 !important;
	line-height: 12px;
	position: relative;
	top: -6px;
	padding: 0 3px 1px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
}

.badge-cart-items.way {
	font-size: 12px;
	padding: 0 3px 2px !important;
}

.top-nav ul .iconic-cart,
.top-nav ul .iconic-basket {
	width: 13px;
	margin: 2px 5px 0 -5px;
}

#way-nav .iconic-cart,
#way-nav .iconic-basket {
	width: 15px;
	margin: 2px 7px 0 -5px;
}

#top-nav-wrap {
  position: relative;
  z-index: 300;
}

.top-nav {
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
	position: relative;
	background-color: #f9f9f9;
}

h1.top {
	font-size: 11px !important;
	font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
	font-style: normal;
	float: left;
	margin: 0;
	line-height: 40px;
	color: #71747b;
}

h1.top span,
h1.top-landing span {
	color: #48C2D6;
	font-weight: bold;
	font-size: 12px !important;
}

.top-nav ulsf,
.top-nav ul {
	float: right;
	margin: 0;
	height: 40px;
}

.top-nav ul li {
	float: right;
	list-style: none;
	margin-left: 20px;
	height: 40px;
	-webkit-transition:all .1s ease-in;
	   -moz-transition:all .1s ease-in;
	     -o-transition:all .1s ease-in;
	        transition:all .1s ease-in;
}

li.login a,
.top-nav ul li a {
  line-height: 40px;
	color: #454d54;
	display: inline-block;
	list-style: none;
	font-size: 11px;
	font-weight: 600;
	padding-left: 0;
	height: 40px;
  -webkit-font-smoothing: antialiased;
}

li.login a:hover,
.top-nav ul li a:hover,
#way-nav a:hover {
	color: #5b6268;
	text-decoration: none;
}

li.login a,
.top-nav ul li a.outline {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-transition:all .1s ease-in;
	   -moz-transition:all .1s ease-in;
	     -o-transition:all .1s ease-in;
	        transition:all .1s ease-in;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid #8e959b;
	font-weight: 600 !important;
}

.top-nav ul li a.outline:hover {
	background-color: #3e444c;
	color: #fff !important;
	border-color: #3e444c;
}

#topnav li a.user:hover {
	color: #48C2D6;
}

/* ====== Way Nav ====== */

#way-header-wrap {
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	        transform: translateY(0%);
	-webkit-transition: all 0.3s ease-in;
	   -moz-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
	z-index: 250;
	position: fixed;
	background-color: #fff;
}

.way-header-hide {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.way-header-show {
	position: fixed !important;
	background-color: #fff;
	z-index: 100;
	margin-top: 0 !important;
	top: 0;
	visibility: visible;
	opacity: 1;
}

#way-nav {
	text-align: right;
	display: block;
}

#way-nav a {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
	display: inline-block;
	color: #454d54;
	list-style: none;
	font-size: 15px;
	font-weight: 600;
	padding-left: 0;
	margin-top: 0;
	margin-left: 20px;
  -webkit-font-smoothing: antialiased;
	vertical-align: middle !important;
	line-height: 50px;
}

#way-nav a:hover {
  color: #74787c;
}

#way-nav a.signup {
	color: #95be2a !important;
	border: 2px solid #95be2a;
	text-shadow: none;
	padding: 5px 15px !important;
	background-color: transparent;
	line-height: inherit;
}

#way-nav a.signup.grey {
  color: #50555d !important;
  border-color: #50555d;
  margin-right: -10px;
  margin-left: 5px;
}

.badge-cart-items.way {
  left: -10px;
  top: -10px;
}

#way-nav .iconic-cart {
  top: 2px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 979px) {
  #way-nav a.signup.grey {
    display: none;
  }  
  #way-nav a,
  #nav a {
    margin-left: 20px !important;
  }
}

#way-nav a.signup.grey:hover {
  background-color: #50555d;
}

#way-nav a.signup:hover {
	color: #ffffff !important;
	background-color: #95be2a;
}

#way-nav a.signup.cart {
	color: #888 !important;
	border: 1px solid #bbb !important;
	margin-right: -23px;
	margin-top: 12px !important;
	padding: 6px 15px 7px 15px;
}

#way-nav a.signup.cart:hover {
	color: #ffffff !important;
	background-color: #bbb;
}

#way-nav .badge-cart-items {
	padding: 2px 4px 3px;
	background-color: #48C2D6;
}

#logo.way-logo {
	margin: 0 !important;

}

#way-nav .dropdown {
  display: inline;
  text-align: left;
}

#way-nav .dropdown-menu {
  padding-top: 17px;
  background-color: #fff;
  margin-left: 0;
  -webkit-border-radius: 0 0 3px 3px !important;
     -moz-border-radius: 0 0 3px 3px !important;
          border-radius: 0 0 3px 3px !important;
}

#way-nav .dropdown-menu a {
  line-height: 21px;
}

/* ====== Navigation ====== */

#navigation {
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	        transform: translateY(0%);
	-webkit-transition: all 0.3s ease-in;
	   -moz-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	position: relative;
	width: 100%;
	opacity: 1;
	padding: 5px 0;
}

.signup {
  display: inline-block;
  position: relative;
  color: #ffffff !important;
  padding: 8px 20px !important;
  background-color: #a2ce30;
  text-shadow: 0 -1px #87b00e;
	font-weight: 600 !important;
	line-height: 20px !important;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.signup:hover,
.signup:focus,
.signup:active,
.signup.active,
.signup.disabled,
.signup[disabled] {
	color: #ffffff !important;
	background-color: #95be2a;
}

#nav {
	float: right;
	position: relative;
	display: block;
	height: 52px;
}

#nav a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
	font-weight: 400;
	color: #454d54;
	margin-left: 15px;
	line-height: 52px;
}

.dropdown-menu {
  margin-left: -4px;
}

.dropdown-menu > li > a {
	line-height: 20px !important;
	margin-left: 0;
}

.nav-link.dropdown {
  display: inline;
}

.dropdown-toggle {
  position: relative !important;
  display: inline !important;
}

#nav a:hover, #nav a.active {
	color: #74787c;
	text-decoration: none;
}

#top-nav-mini {
	display: none;
}

.language-mini-nav {
  background: #fff;
}

@media (max-width: 767px) {
	#nav a {
	  line-height: 20px;
	}
}

/*
#navigation nav:hover > .nav-link {
  opacity: 0.7;
}

#navigation nav:hover > .nav-link:hover {
  opacity: 1.0;
}
/*

/* ====== Logged In ====== */

#logged-in.dropdown-menu {
	background-color: #fff;
	padding: 20px;
}

/* ====== Logos ====== */

a#logo {
	width: 129px;
	height: 50px;
	float: left;
	background: url(../img/2013/logo-flat.png) left top;
	clear: left;
	margin-top: 2px;
}

a#logo.grey {
	background: url(../img/2013/logo-grey.png) right top;
	width: 74px;
}

#logo-icon {
	width: 50px;
	height: 50px;
	background: url(../img/2013/logo-flat.png) left top;
	text-align: center;
	margin: 2px auto 30px;
}

#logo-mini {
	display: none;
	background: url(../img/2013/logo-grey.png) right top;
	width: 74px;
	height: 40px;
	margin-top: -11px;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    	a#logo {
			background: url(../img/2013/logo-flat@2x.png) no-repeat 0 center !important;
			background-size: 129px 50px !important;
			-moz-background-size: 129px 50px !important;
		}

		#logo-icon {
			width: 50px;
			height: 50px;
			background: url(../img/2013/logo-flat@2x.png) no-repeat left top !important;
			background-size: 129px 50px !important;
			-moz-background-size: 129px 50px !important;
		}

		a#logo.grey {
			background: url(../img/2013/logo-grey@2x.png) right top !important;
			background-size: 129px 50px !important;
			-moz-background-size: 129px 50px !important;
		}

		a#logo-mini {
			background: url(../img/2013/logo-grey@2x.png) right top !important;
			background-size: 129px 50px !important;
			-moz-background-size: 129px 50px !important;
		}

		#logo-footer {
			background: url(../img/2013/logo-footer-grey@2x.png) no-repeat 0 center !important;
			background-size: 56px 25px !important;
			-moz-background-size: 56px 25px !important;
		}

		#footer.slim #logo-footer {
			background: url(../img/2013/logo-footer-grey@2x.png) no-repeat 0 center !important;
			background-size: 56px 25px !important;
			-moz-background-size: 56px 25px !important;
		}
}

/* ====== Content Section ====== */

section#content {
	background-color: #fefefe;
	position: relative;
}

/* ====== Features ====== */

.center-img {
	text-align: center;
	position: relative;
	margin: 60px auto -80px;
}

/* ====== Support Crew ====== */

.support-rep {
	-webkit-border-radius: 300px;
	   -moz-border-radius: 300px;
	     -o-border-radius: 300px;
	        border-radius: 300px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	text-align: center;
}

/* ====== Wrappers / Color Rows ====== */

#content-wrap,.content-wrap,#services-wrap,#section-wrap,.section-wrap,#left {
	padding-top: 80px;
	padding-bottom: 80px;
}

.topmarg {
	margin-top: 80px !important;
}

.topmarg-half {
	margin-top: 30px !important;
}

.topmarg-small {
	margin-top: 15px;
}

.botmarg {
	margin-bottom: 30px !important;
}

.border-grey {
  border-top: 1px solid #eaeaea;
}

.top-border,
.topborder,
.bordertop {
	border-top: 1px solid #f1f1f1;
}

.whitewrap {
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
}

.whitewrap p.darkgrey {
	color: #555 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.extra-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}

.greywrap {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: -1px;
}

.darkgreywrap {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #ddd;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: -1px;
}

.greywrap h1, #content h1 {
	margin-bottom: 20px;
}

.bluewrap {
	background-color: #48C2D6;
	padding-top: 80px;
	padding-bottom: 80px;
}

.greenwrap {
	background-color: #a2ce30;
	padding-top: 80px;
	padding-bottom: 80px;
}

.bluewrap h1 {
	color: #fff;
	text-shadow: none !important;
	margin-bottom: 80px !important;
}

.orangewrap {
	background-color: #f8bb42;
	padding-top: 60px;
	padding-bottom: 60px;
}

.orangewrap h2 {
	color: #fff;
	text-shadow: 1px 1px #d89a1f;
}

.orangewrap p {
	font-weight: 400;
}

.darkwrap {
	background-color: #232c35;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #fff;
}

.darkwrap.iconbg {
	background: #232c35 url(../img/2013/bg-icons.jpg) repeat fixed;
}

.blackwrap {
	background-color: #2b2b2b;
	padding-top: 60px;
	padding-bottom: 60px;
	color: #fff;
}

.whitewrap.header,
.greywrap.header,
.darkwrap.header,
.darkwrap.texture {
	background: #232c35 url(../img/2013/bg-texture.png) repeat fixed;
	padding-top: 60px;
	padding-bottom: 60px;
}

.darkwrap.header p,
.whitewrap.header p,
.greywrap.header p {
	color: #fff;
}

/* ====== Quotes ====== */

#quotes {
	text-align: center;
}

p.quote {
	color: #71747b;
	font: 400 24px/40px 'Roboto Slab', serif;
}

p.name {
	color: #48C2D6;
}

/* ====== Modal Styles ====== */

.modal-close-no-head {
 right: -10px;
 top: -15px;
 position: relative; 
}

.modal-header .close {
  right: -10px;
  top: -9px;
  position: relative; 
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
	font-size: 16px;
	font-weight: 400;
}

.modal-body h3 {
  margin-bottom: 5px;
}

.modal-form {
  margin-bottom: 0;
}

/* === Sign In / Login Modal === */

#loginModal.modal,
#downloadModal.modal {
 	max-width: 300px;
	margin-left: -150px;
	position: fixed;
	top: 5% !important;
}

#signin.modal-body {
	padding: 20px;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	      border-radius: 3px;
}

#loginModal a.login-link {
	font-size: 12px;
	font-weight: 400;
	color: #999;
	float: left;
	clear: left;
	margin-top: 3px;
}

#loginModal a:hover {
	text-decoration: underline;
}

#loginModal.modal,
#localizationModal.modal {
  top: 10% !important;
}

#loginModal input {

}

#forgotpwModal.modal {
 	max-width: 600px;
	margin-left: -300px;
}

/* === Add Domain Modal === */

#addDomainModal.modal,
#localizationModal.modal {
 	max-width: 560px;
	margin-left: -280px;
}

input.add-domain {
  padding: 16px 40px 16px 20px;
  font-size: 16px;
}

.add-domain-dom-list {
  color: #888b8e;
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin: 1px 0 30px;
}

.add-domain-body {
  overflow: scroll;
}

.add-domain-body p {
  margin-bottom: 10px;
}

.checking-availability {
  display: block;
}

.checking-availability.hide {
  display: none;
}

.checking-availability .backdrop {
  display: block;
  height: 458px;
  width: 560px;
  background-color: #3c424a;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: fixed;
  z-index: 999;
}

.checking-availability .message {
  display: block;
  background-color: #fff;
  width: 200px;
  position: absolute;
  z-index: 9999 !important;
  top: 180px;
  left: 150px;
  padding: 30px;
  text-align: center;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  	-webkit-border-radius: 3px;
  	   -moz-border-radius: 3px;
  	        border-radius: 3px;
}

.is-available {
  padding: 60px 0 30px;
}

.is-not-available {
  padding: 20px 0 30px;
}

.is-available span,
.is-not-available span {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #3f464c;  
  /* -webkit-font-smoothing: antialiased; */
}

.add-private-registration {
  padding-bottom: 60px;
}

.add-private-registration input,
.search-again input {
  margin-top: -2px;
  margin-right: 2px;
}

.already-own-checkbox {
  margin-top: 5px;
}

.already-own-checkbox input {
  margin-top: -2px;
}

.add-private-registration a {
  font-size: 10px;
}

.is-not-available-input-icon {
  position: absolute;
  right: 40px;
  top: 173px;
}

.available-domains {
  padding: 0 0 10px 0;
}

.available-domains ul {
  padding: 15px 0 0 0;
  max-height: 220px;
  overflow: hidden;
}

.available-domains li {
  padding-top: 10px;
}

.available-domains label a {
  color: #3f464c;
  font-weight: 400;
}

.available-domains li span {
  padding-left: 10px;
  margin-right: 5px !important;
}

.available-domains li span .iconic {
  width: 12px !important;
}

.available-domains input {
  margin: 0 5px 0 1px;
}

.add-domain-button {
  width: 100%;
  text-align: center;
  padding: 15px 0 !important;
}

@media (max-width: 767px) {
	#addDomainModal.modal,
	#localizationModal.modal {
	 	margin-left: 0;
	}
	.is-not-available-input-icon {
	  display: none;
	}
}

/* === Localization Modal === */

.localization-modal ul {
	padding: 0;
	margin-bottom: 30px;
	display: inline-block;
}

.localization-modal .button {
  margin-bottom: 0 !important;
}

.localization-modal li {
	font-weight: 400;
	display: inline-block;
	margin-right: 10px;
}

.localization-modal li:nth-last-child(odd) {
	margin-bottom: 0;
}

.localization-modal li img {
	margin-right: 10px;
	top: -3px;
	position: relative;
	opacity: 0.8;
}

/* === Cart Modal === */

#cart-modal {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-color: #fbfbfb;
	overflow: hidden;
	max-height: 600px;
}

.close-cart {
	position: absolute;
	right: 0;
	margin-right: 7px;
	margin-top: 2px;
}

#cart-modal h3 {
	font-weight: 400;
	margin-bottom: 10px;
}

#cart-modal h3 span.cart {
	color: #48C2D6;
}

#cart-modal p {
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 24px;
	font-size: 14px;
}

#cart-items-header {
	display: block;
	background-color: #fff;
	padding: 20px 20px 10px;
}

#cart-items p {
	margin-bottom: 15px;
}

.cart-items-wrapper {
	width: 55%;
	float: right;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#cart-items {
	background-color: #fff;
	border-left: 1px solid #eee;
	margin-left: -1px;
	overflow: auto;
	height: 431px;
	padding-bottom: 90px;
	padding-left: 20px;
	padding-right: 20px;
}

#cart.services {
	max-height: 360px;
	overflow: auto;
}

#cart.services li {
	display: inline-block;
	width: 100%;
	padding: 20px 0;
}

#add-service .services li {
  padding: 25px 0 !important;
}

.add-domain-cart-wrap {
    clear: left;
    display: block;
    margin-top: 20px;
    margin-bottom: -5px;
}

.product-options {
	padding-left: 0 !important;
}

@media (max-width: 768px) {
	.product-options input {
	  
	}
	.cart-product-title {
	  float: left;
	  display: inline-block;
	}
	.js-product-option {
	  
	}
	li.js-mobile-product span.price {
	  clear: both;
	  float: left !important;
	  margin-bottom: 20px;
	}
	.product-options .input-add {
		margin-top: 0 !important;
	}
}

.product-options #select-box-wrap {
  margin-bottom: 15px;
  width: 100%;
}

.product-options #select-box-wrap select {
  display: block;
  width: 100%;
  float: left;
}

.product-options .input-add {
	display: inline-block;
}

.add-product {
  text-align: center;
}

input#domain-search-cart, input#add-domain-cart {
	padding: 10px 10px 10px 45px;
}

input#domain-search-cart:focus, input#add-domain-cart:focus {
	background-color: #fff !important;
}

label.private-reg-checkbox {
	font-size: 12px;
	margin-top: 5px;
}

label.private-reg-checkbox input {
	float: left;
	margin-right: 5px;
}

label.private-reg-checkbox span {
	font-weight: 400;
	color: #6f777d;
}

span.www.cart {
	top: 10px;
	font-weight: 300;
	font-size: 14px;
}

a.additional-host {
	clear: left;
	float: left;
	color: #b1b1b1;
	font-size: 12px;
	margin-top: 5px;
}

a.remove-domain {
	color: #fdc0c1;
	font-size: 12px;
	margin-left: 5px;
	float: left;
	margin-top: 3px;
}

a.remove-domain:hover {
	color: #fd9596;
}

a.additional-host:hover {
	color: #555;
}

.add-domain-cart-wrap.muted {
	color: #48C2D6;
	font-size: 12px;
	margin-top: 5px !important;
}

/* === Mobile Cart Styles === */

li.js-mobile-product {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: #f9f9f9;
	padding-left: 10px;
	padding-right: 10px;
}

li.js-mobile-product input#domain-search-cart {
	//margin-top: -100px;
}

/* === Add Services To Cart === */

.add-service-wrapper {
	width: 45%;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	float: left;
	padding-left: 20px;
}

#add-service {
	padding: 20px;
	border-right: 1px solid #eee;
}

#product-wrapper {
	overflow: auto;
	height: 450px;
}

#services-wrapper {
	overflow: hidden;
}

ul.services {
	border-bottom: 1px solid #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	display: non;
}

ul.services li {
	border-top: 1px solid #ddd;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 400;
	font-size: 16px;
	display: block;
}

a.button.cart {
	font-size: 16px;
	padding: 5px 15px !important;
	float: right;
	margin-top: -5px;
	margin-bottom: 0;
}

#mini-plus-button {
	margin-top: 2px;
	margin-right: 10px;
	padding: 0px 7px !important;
}

#cart.services li a.cart {
	background-color: #fdcbcc;
	text-shadow: none;
	color: #fff;
	padding: 0 8px 2px 8px !important;
	margin-top: 0;
}

#cart.services li a.cart:hover {
	background-color: #fd9596;
}

/* === Cart Buttons / Total === */

.cart-button-wrapper {
	position: absolute;
	bottom: 0;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 20px;
	padding-top: 20px;
	width: 445px;
}

.cart-button-wrapper a.button {
	float: right;
	clear: none;
	margin-right: 0 !important;
	margin-left: 10px;
}

#cart-modal p.cart-total {
	font-size: 18px;
	font-weight: 600;
	color: #f8ab10;
	float: left;
	display: inline-block;
	margin-top: 5px;
}

#cart-modal p.cart-total strong {
	color: #aeaeae;
}

.disabled {
	pointer-events: none;
	cursor: default;
	background-color: #f1f1f1 !important;
	text-shadow: none !important;
	border-color: #f1f1f1 !important;
}

.services li span.price {
	color: #71747b;
	float: right;
	margin-right: 30px;
}

span.peryear {
	font-size: 12px;
	font-weight: 400;
	color: #bbb;
}

.services li span.quantity {
	margin-left: 10px;
	color: #777;
	float: right;
	margin-right: 30px;
}

span.quantity select {
	font-weight: 400;
	font-size: 12px !important;
	position: relative !important;
	top: -1px !important;
	margin-right: 5px;
}

#add-service .nav-tabs {
	margin: 20px 0;
}

.nav-tabs li {
	display: inline-block;
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;

}

.nav-tabs li a {
	color: #888;
	font-weight: 400;
	display: inline-block;
	padding: 5px 20px;
	font-size: 14px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	-webkit-transition:background-color .1s linear;
	   -moz-transition:background-color .1s linear;
	     -o-transition:background-color .1s linear;
	        transition:background-color .1s linear;
}

.nav-tabs li:hover, .nav-tabs li.active a, .nav-tabs li a:hover, .nav-tabs li.active {
	background-color: #48C2D6 !important;
	color: #fff !important;
	text-shadow: #209198 0 -1px 0;
}

/* ====== Sub Navigation ======

.subnavwrap {
	background-color: #f9f9f9;
}

ul.subnav {
	text-align: right;
}

.subnav li {
	float: right;
}

.subnav li a {
	font-weight: 400;
	color: #7d848f;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 30px;
	display: inline;
	float: right;
}

.subnav li a:hover {
	color: #2b3747;
}

.subnav li a.active {
	color: #48C2D6;
	font-weight: 600 !important;
	background: url(../img/2013/arrow-white-subnav.png) no-repeat center 50px;
}

*/

/* ====== Callout Wrappers ====== */

#whyus-callout-wrapper {
	padding-top: 20px;
	padding-bottom: 18px;
}

#whyus-callout-wrapper p.nomarg {
	display: inline-block;
	position: relative;
	top: -4px;
}

#whyus-callout-wrapper .icon-network-1 {
	display: inline-block;
}

#small-callout-wrapper {
	padding: 40px 0;
}

#tiny-callout-wrapper,
.tiny-callout-wrapper {
	padding: 20px 0;
}

#bitcoin-logo {
	margin-top: 5px;
}

.priority-support-callout {
  background: url(../img/2013/bg-texture.png) repeat fixed;
}

/* ====== Video ====== */

#video-container {
    position: relative;
    padding-bottom: 24.1%;
    padding-top: 30px;
    height: 0 !important;
    overflow: hidden;
}

#video-container iframe,
#video-container object,
#video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ====== AstroPay Styles ====== */

.callout-flag {
	margin-right: 10px;
}

.bank-icon {
	margin-left: 10px;
}

/* ====== Footer ====== */

#footer {
  height: 370px;
	padding-top: 80px;
	padding-bottom: 50px;
	position: relative;
	z-index: -2;
	margin-bottom: -20px;
	background-color: #f9f9f9;
	-webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) and (max-width: 979px) {
  #footer {
    height: 430px;
  }
}

@media (max-width: 767px) {
  
  #footer {
    height: inherit;
  }
  
  .footer-wrap {
    position: relative !important;
  }

}

.footer-wrap {
  position: fixed;
  width: 100%;
  bottom:0;
  padding-bottom: 60px;
  z-index:-1;
}

#footer h2 {
	color: #fff;
	font-weight: 200 !important;
}

#footer h2 span {
	color: #48C2D6;
}

#what-is-dns {
	border-bottom: 1px solid #1e252d;
}

.sitemap li a {
	color: #3f464c;
	font-size: 13px;
	font-weight: 400;
	line-height: 25px;
}

.sitemap li a:hover {
	color: #767e84;
}

.sitemap .header {
	color: #3f464c;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 15px;
}

#google_translate_element {
	display: inline-block;
}

#google_translate_element span {
	color: #888 !important;
	background-color: #fff;
	padding: 2px !important;
	border-radius: 3px;
	font-size: 11px;
}

#google_translate_element .goog-te-gadget {
	color: #888 !important;
	padding: 1px !important;
	border-radius: 3px;
	border: none !important;
	display: inline-block;
}

.goog-te-combo {
  height: 30px;
  padding: 0;
}

/* ====== Footer Domain Reg ====== */

ul#footer-reg-noform {
	display: none;
}

.sitemap li.newsletter-form {
	margin-top: 20px;
}

#domreg-footer input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #dadbdd;
	font-size: 14px;
	color: #83868c;
	display: inline-block;
	padding: 15px 10px;
}

.footer-domreg-select {
	top: -8px;
	right: -4px;
}

#domreg-footer button:hover {
	background-color: #48C2D6;
	position: relative;
}

#domreg-footer input:-moz-placeholder {
  color: #8e949b;
}

#domreg-footer input:-ms-input-placeholder {
  color: #8e949b;
}

#domreg-footer input::-webkit-input-placeholder {
  color: #8e949b;
}

#logo-footer {
	width: 56px;
	height: 25px;
	background: url(../img/2013/logo-footer-grey.png) left top no-repeat;
	float: left;
}

#social-links {
	margin-top: 20px;
}

.fb-like {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.gplus {
	float: left;
}

.twitter-follow-button {
	clear: left;
	float: left;
}

/* === Social Icons === */

.social-icons {
	margin-top: 20px;
	clear: left;

	float: left;
}

.social-icon {
	width: 26px;
	height: 25px;
	float: left;
	margin-right: 5px;
	background-image: url(../img/2013/social-icons.png);
	-moz-background-size: 104px 25px !important;
	     background-size: 104px 25px !important;
	display: inline-block;
}

.social-icon:hover {
	background-image: url(../img/2013/social-icons-blue.png);
}

#twitter-icon {
	background-position: -26px top;
}

#twitter-icon:hover {
	background-position: -26px top;
}

#gplus-icon {
	background-position: -52px top;
}

#gplus-icon:hover {
	background-position: -52px top;
}

#youtube-icon {
	background-position: -78px top;
}

#youtube-icon:hover {
	background-position: -78px top;
}

/* ====== Copyright ====== */

#copyright {
	margin-top: 80px;
	color: #71747b;
}

#copyright p {
  font-size: 12px;
}

#copyright a, #footer.slim a {
	color: #3f464c;
	font-weight: 600;
}

#copyright a:hover, #footer.slim a:hover {
	color: #48C2D6;
}

#footer p a.orange {
  color: #f8ab10;
}

#footer p a.orange:hover {
  color: #eba10c;
}

/* ====== IE FIXES ====== */

.placeholder, #inputPassword {
	color: #555 !important;
}

/* === IE 9&10 === */
@media screen and (min-width:0\0) {
    #select-box-newuser {
        float: right !important;
        position: relative;
        right: 4px !important;
        top: -65px !important;
    }
    .ribbon {
    	display: none !important;
    }
    body {
	    /* IE8*/
	    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2013/bg-signup-4.jpg', sizingMethod='scale');;
	    /* Pre IE8*/
	    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2013/bg-signup-4.jpg', sizingMethod='scale');
    }
    #select-box-newuser .icon-down-open-big:before, #select-box-wrap .icon-down-open-big:before, #select-box-footer .icon-down-open-big:before {
    	display: none !important;
    }
}

/* === IE 6,7&8 === */
@media \0screen\,screen\9 {
	input[type="password"] {
	    font-family: sans-serif;
	    color: #aaa !important;
	}
    #way-header-wrap.way-header {
    	display: none !important;
    }
    .ribbon {
    	display: none !important;
    }
    .social-icon {
    	background-image: url(../img/2013/social-icons-1x.png);
    }
    .social-icon:hover {
    	background-image: url(../img/2013/social-icons-blue-1x.png);
    }
    span.quantity select {
    	padding: 0 0 0 5px !important;
    	float: left !important;
    	font-size: 12px !important;
    }
    #select-box-wrap.select-box-domreg-footer {
        margin-top: -65px;
        margin-right: 7px;
    }
    .select-box-domreg {
        margin-left: -102px !important;
    }
    body {
	    /* IE8*/
	    -ms-filter: &quot;progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2013/bg-signup-4.jpg', sizingMethod='scale')&quot;;
	    /* Pre IE8*/
	    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/2013/bg-signup-4.jpg', sizingMethod='scale');
    }
    #select-box-newuser .icon-down-open-big:before, #select-box-wrap .icon-down-open-big:before, #select-box-footer .icon-down-open-big:before {
    	display: none !important;
    }
}

/* ====== / IE FIXES ====== */

/* ====== DUMBASS POS FIREFOX FIXES ====== */

@-moz-document url-prefix() {

	label.nohost {
		margin-top: -50px !important;
	}
	.select-box-domreg {
		margin-left: -85px !important;
	}
	select#domain-search-sel {
		width: 75px;
	}
	span.quantity select {
		padding: 0 0 0 5px !important;
		float: left !important;
		font-size: 12px !important;
	}
    .icon-down-open-big:before {
    	display: none !important;
    }
    .badge-cart-items {
    	padding: 2px 4px;
    }
    #cart-items {
    	padding-bottom: 90px !important;
    }

}

/* ====== / DUMBASS POS FIREFOX FIXES ====== */

/* ====== Landing Pages ====== */

a#logo.grey.home.landing {
	background: url(../img/2013/logo-grey.png) right top;
	width: 129px;
}

#top-nav-mini h1.top-landing {
	margin-top: -7px !important;
}

h1.top-landing {
	font-size: 11px !important;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	font-style: normal;
	float: left;
	margin: 0;
	line-height: 50px;
	color: #71747b;
}

.landing-header {
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	        transform: translateY(0%);
	-webkit-transition: all 0.3s ease-in;
	   -moz-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	z-index: 999;
	position: relative;
	padding: 20px 0;
	width: 100%;
	opacity: 1;
	background-color: #f9f9f9;
}

p span.bold {
	font-size: 18px;
	font-weight: 600;
	text-shadow: 1px 1px #d89a1f;
}

#top-nav-wrap.landing {
	display: none;
}

p.indented {
	margin-top: -10px !important;
	padding-left: 37px;
}

.button.landing {
	padding: 20px 60px;
}

#footer.slim {
	padding-top: 20px;
	padding-bottom: 20px;
	background: none;
	background-color: #fff;
	height: inherit;
}

@media (max-width: 767px) {
	#footer.slim p {
	  text-align: center;
	}
	#footer.slim #logo-footer {
	  text-align: center;
	  float: none !important;
	  margin: 10px auto 0;
	}
}

#footer.slim p,
#footer.slim a {
	color: #999;
	font-size: 12px;
}

#footer.slim p {
  display: block;
  clear: left;
}

#footer.slim #logo-footer {
	width: 56px;
	height: 25px;
	background: url(../img/2013/logo-footer-grey.png) left top no-repeat;
	float: right;
	display: block;
}

#footer.slim #google_translate_element {
	display: inline-block;
	float: left !important;
}

#footer.slim #google_translate_element span {
	color: #888 !important;
	background-color: #eaeaea;
	padding: 2px !important;
	border-radius: 3px;
	font-size: 11px;
}

#footer.slim #google_translate_element .goog-te-gadget-simple {
	color: #888 !important;
	background-color: #eaeaea;
	padding: 1px !important;
	border-radius: 3px;
	border: none !important;
}

#oem-integrate-peeps {
	margin-top: -100px;
	margin-bottom: -101px;
}

.landing-flag {
  margin-left: 20px;
  display: block;
  padding: 13px 0;
}

/* ======  / Landing Pages ====== */

/* ====== ICONIC ====== */

.iconic * {
  fill: #3d4350;
  stroke: #363c47;
}

.iconic.green * {
  fill: #a2ce30;
  stroke: #a2ce30;
}

.iconic.blue * {
  fill: #48C2D6;
  stroke: #48C2D6;
}

.iconic.orange * {
  fill: #f8ab10;
  stroke: #f8ab10;
}

.iconic.white * {
  fill: #fff;
  stroke: #fff;
}

.iconic.grey * {
  fill: #bbb;
  stroke: #bbb;
}

.iconic.lightgrey * {
  fill: #96999b;
  stroke: #96999b;
}

.iconic.darkgrey * {
  fill: #3f464c;
  stroke: #3f464c;
}

.iconic.red * {
  fill: #dd514c;
  stroke: #dd514c;
}

.iconic.lightred * {
  fill: #ea9794;
  stroke: #ea9794;
}

.iconic.fb * {
  fill: #4a669e;
  stroke: #4a669e;
}

.iconic-property-accent {
  fill: #000;
  stroke: #363c47;
}

h3 .iconic {
	fill: #48C2D6;
	stroke: #48C2D6;
	width: 18px;
	height: 18px;
}

.page-title-icon .iconic {
	margin-bottom: 24px;
}

.iconic-top-small {
	margin-bottom: 15px;
	display: block;
}

a .iconic-chevron {
	width: 8px !important;
	height: 8px;
	margin-left: 8px;
	position: relative;
	top: 3px;
}

.icon-circled {
  display: inline-block;
  margin-left: 0 !important;
  background-color: #c2c4c5;
  padding: 3px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 300px;
     -moz-border-radius: 300px;
          border-radius: 300px;
}

.icon-circled .iconic {
  display: block;
  width: 10px !important;
  height: 10px !important;
}

.buorg {
  width:100%;
  position: absolute;
  top:0px;
  left:0px;
  border-bottom:1px solid #A29330;
  text-align:center;
  cursor:pointer;
  font-family: Arial,Helvetica,sans-serif; color:#000;
  font-size: 20px;
  padding: 15px 0;
}

.buorg div {
  padding:5px 36px 5px 40px;
  text-align:center;
}

.buorg a {
  color:#E25600;
}

#buorgclose {
  position: absolute;
  text-align:center;
  right: .5em;
  top:.2em;
  height: 40px;
  width: 12px;
  font-weight: bold;
  font-size:14px;
  padding:0;
}

.media-comment {
  max-height: 350px;
  overflow: auto;
}
