.has-error {
  border: 1px solid #dd514c !important;
}

.hero-signup-error,
#host-error,
.hostinfo {
  font-size: 12px;
  color: #ed2d26;
  clear: both;
  margin-top: 15px;
}

.hero-signup-warning {
  font-size: 12px;
  color: #f8ab10;
  margin-top: 10px;
  display: block;
  clear: both;
  font-weight: 300;
}

.custom-error-message,
.rangelength,
.type {
  text-align: left !important;
}

.hero-signup-form {
  text-align: center !important;
}

/* ====== Icons ====== */

.iconic-lock-locked-body-top {
	fill: #f8ab10;
}

.iconic-lock-locked-body-main {
	fill: #4a4a4a;
}

.iconic-lock-locked-body-bottom {
	fill: #353535;
}

.iconic-lock-locked-loop {
	fill: #666;
	stroke: #666;
}

.iconic-game-controller-body {
	fill: #353535;
}

.iconic-game-controller-analog-stick {
  fill: #48C2D6;
}

.back-layer.iconic-globe {
	fill: #eaeaea;
	stroke: #eaeaea;
	display: block;
	position: absolute;
}

@media (max-width: 767px) {
	.back-layer {
		display: none !important;
	}
}

.iconic-compass-needle {
  fill: #a2ce30;
  stroke: #48C2D6;
}

.iconic-compass-needle-axis,
.iconic-compass-direction {
  fill: gray;
  stroke: gray;
}

.iconic-compass-body {
  fill: #353535;
  stroke: #353535;
}

#dns-matters .iconic {
	fill: #48C2D6;
	stroke: #48C2D6;
}

.stay-connected-icon .iconic {
	border-bottom: 2px solid #eff0f3;
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: relative;
	z-index: 10;
}

.stay-connected-icon .top-layer.iconic {
	width: 80px !important;
}

.iconic-globe.back-layer.iconic * {
	fill: #f1f1f1;
	stroke: #f1f1f1;
}

.iconic-globe.back-layer.iconic {
	position: relative;
	left: 90px;
	margin-bottom: -160px;
	z-index: 1;
}

/* ====== Misc ====== */

/*#message h1, #message h2, #message a {
	display: none;
}

.message {
	display: none;
}*/

/*.header-container {
	height: 99vh;
}*/

header#header {
	background: url(../img/2013/hero/hero-green-sweater.jpg) center top no-repeat scroll #222930;
	background-color: #4b5159;
	background-size: cover;
	height: 95vh;
  position: relative;
  min-height: 640px;
}

header#header.header-pt {
	background-image: url(../img/2013/hero/brazil-bridge.jpg) !important;
}

@media (min-width: 980px) and (max-width: 1200px) {
  #header {
    min-height: 690px !important;
  }
}

@media (max-width: 767px) {
	#header {
	  min-height: inherit !important;
	}
}

/*@media (min-width: 1200px) {

	header#header {
		height: 672px;
	}

}*/

.whitewrap,
.greywrap {
	padding-top: 100px;
	padding-bottom: 100px;
}

.home-transparent-wrap {
	background-color: rgba(22, 28, 37, 0.6);
	margin-bottom: -100px;
	margin-top: 100px;
	padding-bottom: 80px;
	padding-top: 1px;
}

/* ====== Top Nav ====== */

#top-nav-wrap {
	background-color: #fff;
	border: none;
}

.icon-basket-alt:before,
.icon-user:before {
  color: #eaeaea !important;
  font-size: 12px !important;
}

li.login a,
#topnav li a {
	font-weight: 600;
}

/* ====== Navigation ====== */

.signup.home {
	margin-top: 10px !important;
	background-color: rgba(0, 0, 0, 0.3);
	text-shadow: none;
	font-weight: 400 !important;
	//border: 2px solid #3e4247;
}

.signup.home:hover {
	background-color: #95be2a;
}

.signup:hover,
.signup:focus,
.signup:active,
.signup.active,
.signup.disabled,
.signup[disabled] {
	color: #ffffff !important;
	background-color: #98c611;
}

#navigation {
	padding: 60px 0;
	position: relative;
	z-index: 400;
}

#nav {
	float: right;
	height: 55px;
}

@media (max-width: 767px) {
	#nav {
	  margin-top: -30px;
	}
}

#nav a {
	font-size: 16px;
	color: #fff;
	margin-top: 17px;
	margin-top: 2px;
}

#nav a:hover {
	color: #d8dce0;
	text-decoration: none;
}

.dropdown-menu {
	background: transparent;
	padding-top: 5px;
	width: 120px;
	padding-left: 10px;
	margin-left: 0;
}

.dropdown-menu > li {
	display: block;
}

.dropdown-menu > li > a {
	margin-left: 0;
	float: none !important;
	display: block;
	padding: 4px 10px !important;
	font-size: 14px !important;
	line-height: 20px !important;
}

/* ====== Logos ====== */

a#logo.home {
	background: url(../img/2013/logo-flat.png) right top;
	width: 129px;
}

@media (min-width: 768px) and (max-width: 979px) {
  a#logo.home {
  	background: url(../img/2013/logo-flat.png) right top;
  	width: 74px;
  }
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {		
		a#logo.home {
			background: url(../img/2013/logo-flat@2x.png) right top !important;
			     background-size: 129px 50px !important;
			-moz-background-size: 129px 50px !important;
		}
}

/* ====== Fade In ====== */

@-webkit-keyframes fadeIn{0%{opacity:0}
}
@-moz-keyframes fadeIn{0%{opacity:0}
}
@-o-keyframes fadeIn{0%{opacity:0}
}
@keyframes fadeIn{0%{opacity:0}
}
.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn}

/* ====== Hero / Slider ====== */

.hero-dom-reg {
	padding: 20px 0;
	background-color: rgba(0, 0, 0, 0.4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#4cffffff'); /* IE */
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
}

.home-scroll-arrow {
  text-align: center;
  position: relative;
  display: block;
}

.home-scroll-arrow span {
  border: 2px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  display: inline-block;
  margin: 20px auto 0;
  opacity: .6;
  padding: 6px;
  -webkit-border-radius: 200px;
     -moz-border-radius: 200px;
       -o-border-radius: 200px;
          border-radius: 200px;
}

.home-scroll-arrow .iconic {
  width: 20px !important;
  height: 13px !important;
  margin-bottom: -2px;
}

.hero-dom-reg h4 {
	color: #fff;
	margin-bottom: 20px !important;
	font-size: 14px;
	font-weight: 400;
}

.hero-dom-reg input {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-weight: 400;
	vertical-align: middle;
	color: #60656f;
	float: left;
	padding: 9px;
	padding-left: 12px;
}

.hero-dom-reg #domain-search::-webkit-input-placeholder {
	color: #5a6167;
}

.hero-sign-up button {
  width: 100%;
  display: block;
}

#hero {
  width: 100%;
	display: block;
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.message .hero-mobile-btn {
  display: none;
}

@media (min-width: 980px) and (max-width: 1200px) {
  #hero {
  	margin-bottom: 30px;
  	margin-top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #hero {
  	margin-bottom: 0;
  	margin-top: 0;
  }
}

@media (max-width: 767px) {
	#hero {
		margin: 40px 0 !important;
		position: relative !important;
		top: 0%;
		-webkit-transform: translateY(0%);
		   -moz-transform: translateY(0%);
		        transform: translateY(0%);
	}
	#dom-search {
		width: 100%;
	}
	.message .hero-mobile-btn {
	  display: inline-block;
	  text-align: center;
	  padding: 15px 80px 15px;
	  margin-top: 30px;
	}
}

.slide {
	color: #fff;
	font-weight: 300;
	margin-top: 30px;
	margin-bottom: 40px;
}

#message-wrapper {
}

.slide h1 {
	color: #fff;
	font-size: 20px !important;
	font-weight: 400;
	line-height: 18px;
	margin: 0 0 20px;
}

.slide h1 span {
	color: #fff;
	font-weight: 600;
	letter-spacing: -1px;
}

.slide h2 {
	color: #fff;
	font-size: 64px;
	line-height: 70px;
	font-weight: 600;
	letter-spacing: -3px;
	margin: 0 0 10px;
}

.slide h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
}

.slide p {
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 40px;
	color: #fff;
}

.slide a.button {
	margin-right: 10px;
}

.slide a.white {
	font-weight: 300;
}

@media (min-width: 768px) and (max-width: 979px) {
  .slide h2 {
    font-size: 42px !important;
    line-height: 48px;
    letter-spacing: -1px;
  }
}

@media (max-width: 767px) {
  .slide h2 {
    font-size: 34px !important;
    line-height: 48px;
    letter-spacing: -1px;
  }
	.slide h1 {
		font-weight: 300 !important;
		line-height: 24px !important;
	}
	.hero-dom-reg {
	  display: none;
	}
}

.host-name {
  color: #3f464c !important;
}

.hero-select-wrap {
	background-color: #fff;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.hero-select {
	background: transparent !important;
	border: none;
	color: #3f464c !important;
	cursor: pointer;
	height: 39px;
	position: relative;
	width: 100%;
	z-index: 2;
	-webkit-appearance: none;
}

.hero-select-wrap .icon-down-open-big:before {
  color: #888;
  font-size: 12px;
  display: inline-block;
  position: relative;
  top: 10px;
  right: 10px;
  margin-left: -21px !important;    
}

/* ====== Marketing Sections ====== */

.home-features {
	background: url(../img/2013/page-titles/server-guy.jpg) center top no-repeat scroll #222930;
	background-size: cover;
}

/* ====== Why Us ====== */

#common-uses {
	background: url(../img/2013/bg-cables-2.jpg) no-repeat fixed left center #000000;
}

#snotty-ron {
	background: url(../img/2013/bg-snottyron-5.jpg) left center repeat fixed #000000;
}

#whyuswrap {
	padding-top: 60px;
	padding-bottom: 60px;
}

#users figure, #support figure {
	margin-top: -90px;
}

#users {
	padding-top: 80px;
	padding-bottom: 80px;
}

.service-row {
	margin-top: 80px;
}

/* ====== Services ====== */

#services-list {
	
}

#services-list li {
/*	-webkit-box-shadow: 0 0 5px #238a96; */
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	text-align: left;
	background-color: #fff;
	margin-bottom: 30px;
	-webkit-transition:background-color .1s ease-in;
}

#services-list li a {
	padding: 30px;
	display: inline-block;
}

#services-list li:hover {
	background-color: #f9f9f9;
}

#services-list li h1 {
	font-weight: 300;
	margin-bottom: 0px !important;
}

#services-list li h3 {
	margin-top: -5px !important;
}

#services-list li p {
	color: ;
	font-weight: 400;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 0;
}

#services-list li p span {
	color: #48C2D6;
}

#services-list-nav li a:active {
	
}

.service-icon {
	float: left;
	border: 10px solid #fff;
	height: 250px;
	width: 250px;
	-webkit-border-radius: 170px;
	   -moz-border-radius: 170px;
	     -o-border-radius: 170px;
	        border-radius: 170px;
}

/* ====== Filter ====== */

#filter {
	padding-top: 15px;
}

#filter li {
	display: inline-block;
	float: right;
	margin-left: 5px;
}

#filter li a {
	display: inline-block;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	padding: 5px 20px;
}

#filter li a.selected {
	background-color: #feffff;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	color: #48C2D6;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* ====== Callouts ====== */

#free-callout-wrapper-home {
  background: url(../img/2013/bg-texture.png) repeat fixed;
	padding: 100px 0;
	border-top: none;
}

.half-page {
	background-color: #f9f9f9;
	float: left;
	width: 50%;
	padding: 80px 80px 80px 0;
	text-align: right;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;	
	-webkit-transition:all .2s ease-in;
	   -moz-transition:all .2s ease-in;
	     -o-transition:all .2s ease-in;
	        transition:all .2s ease-in;
}

.half-page:hover {
	padding-right: 90px;
}

.half-page.right {
	background-color: #48C2D6;
	color: #fff;
	padding-right: 0px;
	padding-left: 80px;
	text-align: left;
}

.half-page.right:hover {
	padding-left: 90px;
}

@media (max-width: 767px) {

	.half-page {
		clear: left;
		text-align: left;
		width: 100%;
		padding: 30px !important;
	}

}

.happy-person {
  display: block;
  height: 200px;
}

.happy-person .circle {
  width: 90px;
  height: 90px;
  background-color: #71747b;
  -webkit-border-radius: 300px;
     -moz-border-radius: 300px;
       -o-border-radius: 300px;
          border-radius: 300px;
}












