@charset "UTF-8";

@font-face {
    font-family: 'entypo';
    src: url("font/entypo.eot?39631871");
    src: url("font/entypo.eot?39631871#iefix") format('embedded-opentype'), url("font/entypo.woff?39631871") format('woff'), url("font/entypo.ttf?39631871") format('truetype'), url("font/entypo.svg?39631871#entypo") format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('../font/entypo.svg?39631871#entypo') format('svg');
  }
}
*/

/* MISC */

[class^="icon-"]:before .blue,
[class*=" icon-"]:before {
	color: #48C2D6 !important;
}

.icon-row {
	height: 20px;
	margin-bottom: 15px;
	display: block;
}

.icon-twitter-1:before {
	color: #fff !important;
	font-size: 20px !important;
	position: relative;
	top: 3px;
	width: 18px !important;
}

.icon-circle span {
	-webkit-border-radius: 300px;
	   -moz-border-radius: 300px;
	        border-radius: 300px;
	margin: 0 auto 30px;
	background-color: #48C2D6;
	padding: 30px;
	display: inline-block;
	color: #fff;
	font-weight: 500;
}

.icon-circle span h3 {
	margin: 0;
	color: #fff;
	font-weight: 400;
}

.icon-circle span svg {
	width: 80px;
	height: 80px;
}

.icon-circle span svg path.iconic-property-fill {
	background-color: #ffffff;
	background: #ffffff;
	color: #ffffff;
}

.iconic-container {
	background: #fff;
}

.icon-circle span#ip {
	background-color: #35ABBD !important;
}

.icon-circle span#load-website {
	background-color: #279DAD !important;
}

.icon-circle span [class*=" icon-"]:before {
	color: #fff !important;
	font-size: 33px !important;
	width: 25px;
}

.icon-layout:before {
	width: 20px !important;
}

.footer-social-icons .icon-facebook-circled:before,
.footer-social-icons .icon-gplus-circled:before,
.footer-social-icons .icon-twitter-circled:before {
    color: #fff;
    font-size: 30px;
    margin-top: -5px;
}

.top .icon-user-1:before {
    color: #999 !important;
    font-size: 11px !important;
    margin-right: 10px;
}

.icon-right-circle:before {
    font-size: 12px !important;
    margin-right: 5px !important;
    position: relative;
    top: 1px;
}

a.download-btn .icon-download-alt:before {
    color: #fff !important;
    font-size: 20px !important;
    padding-left: 10px;
}

#services-list li [class^="icon-"]:before,
#services-list li [class*=" icon-"]:before {
    color: #48C2D6 !important;
    line-height: 20px !important;
    font-size: 18px !important;
    margin: 0 0 20px 0 !important;
    padding: 0 !important;
    position: relative;
    top: 1px;
    margin-right: 3px !important;
}

#select-box-newuser .icon-down-open-big:before,
#select-box-wrap .icon-down-open-big:before,
#select-box-footer .icon-down-open-big:before,
#select-box-wrap.select-box-enhanced-cart .icon-down-open-big:before,
#region-picker .icon-down-open-big:before {
    color: #888 !important;
    font-size: 12px !important;
    display: inline-block;
    position: relative;
    top: 3px;
    right: 1px;
    margin-left: -21px !important;    
}

.show-more .icon-down-open-big:before {
    color: #999 !important;
    font-size: 14px !important;
    display: inline-block;
    position: relative; 
}

#select-box-cart .icon-down-open-big:before {
    color: #888 !important;
    font-size: 12px !important;
    margin-left: -20px;
    display: inline-block;
    position: relative;
    top: 1px;
    right: -5px;
}

.icon-basket-alt:before,
.icon-user:before {
    color: #71777d;
    font-size: 12px !important;
}

.icon-spin5:before {
    color: #71777d !important;
    font-size: 18px !important;
    width: 7px !important;
    height: 24px !important;
}

#dom-search .icon-spin5:before {
    color: #ffffff !important;
    font-size: 20px !important;
    width: 10px !important;
    height: 19px !important;
    
}

.icon-eye:before,
.icon-fire:before,
.icon-group:before,
.icon-cogs:before,
.icon-cloud:before,
.icon-github-1:before, {
    color: #bbb !important;
    line-height: 50px !important;
    font-size: 70px !important;
    margin: 3px 0 0 0 !important;
    padding: 0 !important;
}

/* Priority Support */
.icon-attention-3:before,
.icon-phone:before,
.icon-gauge:before,
.icon-gauge-1:before,
.icon-cog-alt:before,
.icon-arrows-cw:before {
    color: #fff !important;
    line-height: 50px !important;
    font-size: 33px;
    margin: 3px 0 0 0 !important;
    padding: 0 !important;
    position: relative !important;
    left: 5px !important;
}

/* Bitcoin */
.icon-cw-1:before,
.icon-ok-circled:before,
.icon-shuffle:before,
.icon-hourglass:before {
    color: #48C2D6 !important;
    line-height: 50px !important;
    font-size: 33px !important;
    margin: 3px 0 0 0 !important;
    padding: 0 !important;
    position: relative;
    right: -6px;
}

.icon-hourglass:before{
	left: 12px;
}

.grey.icon-attention-3:before,
.grey.icon-phone:before,
.grey.icon-users:before {
    color: #ddd !important;
}

.icon-flow-branch:before,
.icon-flow-cascade:before,
.icon-flow-line:before {
    color: #bbb;
    line-height: 50px !important;
    font-size: 33px !important;
    margin: 3px 0 0 0 !important;
    padding: 0 !important;
}

.icon-menu:before {
    font-size: 34px !important;
    position: relative;
    top: -2px;
    left: 10px;
    color: #71747b !important;
}

.icon-ok:before {
    color: #acd90e !important;
    font-size: 14px !important;
}

.icon-cancel:before {
    color: #dd514c !important;
    font-size: 16px !important;
}

.icon-cancel-circle:before {
    color: #dd514c !important;
    font-size: 14px !important;
    margin-right: 3px !important;
    position: relative;
    top: 8px;
    float: left;
}

h1 .icon-email:before,
h1 .icon-search-4:before,
h1 .icon-appstore:before,
h1 .icon-network:before,
h1 .icon-windows:before,
h1 .icon-plancast:before,
h1 .icon-map:before,
h1 .icon-archive:before,
h1 .icon-lock:before,
h1 .icon-buffer:before,
h1 .icon-basket-alt:before,
h1 .icon-hdd:before,
h1 .icon-award:before,
h1 .icon-doc-text-inv:before,
h1 .icon-user-add:before,
h1 .icon-mail-2:before,
h1 .icon-user-1:before,
h1 .icon-glasses:before,
h1 .icon-ok:before,
h1 .icon-location:before,
h1 .icon-group:before,
h1 .icon-cw:before,
h1 .icon-post:before,
h1 .icon-link:before,
h1 .icon-tags:before,
h1 .icon-credit-card:before {
    color: #48C2D6 !important;
    font-size: 33px !important;
    margin-top: -5px;
    position: relative;
}

h4 .icon-email:before,
h4 .icon-search-2:before,
h4 .icon-appstore:before,
h4 .icon-network:before,
h4 .icon-network-1:before,
h4 .icon-windows:before,
h4 .icon-plancast:before,
h4 .icon-map:before,
h4 .icon-archive:before,
h4 .icon-lock:before,
h4 .icon-buffer:before,
h4 .icon-basket-alt:before,
h4 .icon-hdd:before,
h4 .icon-award:before,
h4 .icon-doc-text-inv:before,
h4 .icon-user-add:before,
h4 .icon-mail-2:before,
h4 .icon-mail:before,
h4 .icon-user-1:before,
h4 .icon-glasses:before,
h4 .icon-ok:before,
h4 .icon-location:before,
h4 .icon-group:before,
h4 .icon-asl:before,
h4 .icon-cw:before,
h4 .icon-post:before,
h4 .icon-lightbulb:before,
h4 .icon-comment-alt:before,
h4 .icon-search:before,
h4 .icon-cogs:before,
h4 .icon-desktop:before,
h4 .icon-laptop:before,
h4 .icon-wrench-1:before,
h4 .icon-tasks:before,
h4 .icon-monitor:before,
h4 .icon-basket-1:before,
h4 .icon-book:before,
h4 .icon-link:before,
h4 .icon-credit-card:before {
    color: #48C2D6 !important;
    font-size: 33px !important;
    margin-top: -5px;
    margin-right: -1px !important;
    position: relative;
}

h3 .icon-money-1:before,
h3 .icon-globe-1:before,
h3 .icon-search-3:before,
h3 .icon-cog-4:before,
h3 .icon-cloud-3:before,
h3 .icon-lock-1:before,
h3 .icon-note:before {
    color: #48C2D6 !important;
    font-size: 18px !important;
}

h4 .icon-award:before {
	left: 6px;
}

h2 .blue.icon-lightbulb:before,
h2 .blue.icon-cog-1:before,
h2 .blue.icon-users:before,
{
    color: #48C2D6 !important;
    font-size: 25px !important;
}

h3 .icon-flash:before {
    color: #f8ab10 !important;
    font-size: 23px !important;
    width: 10px !important;
    margin-right: 7px !important;
    margin-top: 5px !important;
}

h4 .icon-flash:before,
h4 .icon-bitcoin:before,
h4 .icon-bitcoin-1:before {
    color: #f8ab10 !important;
    font-size: 33px !important;
    margin-top: 3px !important;
    margin-right: 3px !important;
}

.payment-method-icon .icon-bitcoin:before {
    color: #f8ab10 !important;
    margin-top: 3px !important;
    width: .3em !important;
}

.icon-flash-1:before,
.icon-flash:before {
    color: #f8ab10 !important;
    font-size: 25px !important;
    position: relative;
    top: 5px;
    width: 15px !important;
}

#cart .icon-flash-1:before {
    margin-left: -5px !important;
    top: 0px;
}

h1 .icon-ok:before {
    color: #acd90e !important;
    font-size: 33px !important;
    position: relative;
    left: 5px;
}

h1 .icon-cancel:before {
    color: #fb392a;
    font-size: 33px !important;
    position: relative;
    left: 5px;
}

.cart-icon:before {
    color: #bbb;
}

.cart-icon.icon-flash-1 {
    margin-left: 10px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: inherit !important;
	text-align: left !important;
	text-transform: none;
	margin: -1px 10px 0 0 !important;
	color: #bbb;
	font: normal normal normal 25px 'entypo';
	height: 1em;
}

.big [class^="icon-"]:before,
.big [class*=" icon-"]:before {
	size: 40px !important;
}

.service [class^="icon-"]:before,
.service [class*=" icon-"]:before {
    margin-top: 2px !important;
    margin-left: -2px;
    margin-right: 10px;
}

#cart [class^="icon-"]:before,
#cart [class*=" icon-"]:before {
    font-size: 20px !important;
    margin-top: 0 !important;
    margin-right: 5px;
    color: #bbb !important;
}

#product-wrapper [class^="icon-"]:before,
#product-wrapper [class*=" icon-"]:before {
    font-size: 20px !important;
    margin-top: 0 !important;
    margin-right: 5px;
}

.icon-spin5:before { content: '\e838'; } /* '' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-music:before { content: '\e832'; } /* '' */
.icon-mail:before { content: '\e834'; } /* '' */
.icon-mail-alt:before { content: '\e833'; } /* '' */
.icon-heart:before { content: '\e835'; } /* '' */
.icon-heart-empty:before { content: '\e815'; } /* '' */
.icon-star-1:before { content: '\e816'; } /* '' */
.icon-star-empty:before { content: '\e817'; } /* '' */
.icon-male:before { content: '\e818'; } /* '' */
.icon-female:before { content: '\e819'; } /* '' */
.icon-videocam:before { content: '\e81a'; } /* '' */
.icon-picture:before { content: '\e81c'; } /* '' */
.icon-camera:before { content: '\e81b'; } /* '' */
.icon-camera-alt:before { content: '\e81e'; } /* '' */
.icon-ok-circled:before { content: '\e83e'; } /* '' */
.icon-ok-circled2:before { content: '\e83d'; } /* '' */
.icon-cancel-1:before { content: '\e837'; } /* '' */
.icon-cancel-circled-1:before { content: '\e836'; } /* '' */
.icon-cancel-circled2:before { content: '\e839'; } /* '' */
.icon-plus-4:before { content: '\e83a'; } /* '' */
.icon-plus-circled-1:before { content: '\e83b'; } /* '' */
.icon-plus-squared:before { content: '\e83c'; } /* '' */
.icon-attach:before { content: '\e814'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e82e'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e82b'; } /* '' */
.icon-download-cloud:before { content: '\e82f'; } /* '' */
.icon-upload-cloud:before { content: '\e830'; } /* '' */
.icon-keyboard:before { content: '\e829'; } /* '' */
.icon-gamepad:before { content: '\e82a'; } /* '' */
.icon-comment-2:before { content: '\e884'; } /* '' */
.icon-chat-1:before { content: '\e883'; } /* '' */
.icon-comment-empty:before { content: '\e882'; } /* '' */
.icon-chat-empty:before { content: '\e881'; } /* '' */
.icon-bell:before { content: '\e880'; } /* '' */
.icon-bell-alt:before { content: '\e87f'; } /* '' */
.icon-attention-2:before { content: '\e81f'; } /* '' */
.icon-location-2:before { content: '\e820'; } /* '' */
.icon-doc-text:before { content: '\e827'; } /* '' */
.icon-doc-inv:before { content: '\e826'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e825'; } /* '' */
.icon-folder:before { content: '\e824'; } /* '' */
.icon-folder-open:before { content: '\e823'; } /* '' */
.icon-folder-empty:before { content: '\e822'; } /* '' */
.icon-folder-open-empty:before { content: '\e821'; } /* '' */
.icon-phone:before { content: '\e813'; } /* '' */
.icon-cog-3:before { content: '\e885'; } /* '' */
.icon-cog-alt:before { content: '\e888'; } /* '' */
.icon-wrench-3:before { content: '\e886'; } /* '' */
.icon-basket-2:before { content: '\e887'; } /* '' */
.icon-calendar:before { content: '\e889'; } /* '' */
.icon-mic:before { content: '\e88a'; } /* '' */
.icon-mute:before { content: '\e88b'; } /* '' */
.icon-volume-off:before { content: '\e88c'; } /* '' */
.icon-volume-down:before { content: '\e88d'; } /* '' */
.icon-volume-up:before { content: '\e88e'; } /* '' */
.icon-down-open:before { content: '\e89e'; } /* '' */
.icon-left-open:before { content: '\e89f'; } /* '' */
.icon-right-open:before { content: '\e8a0'; } /* '' */
.icon-up-open:before { content: '\e8a1'; } /* '' */
.icon-angle-left:before { content: '\e8a2'; } /* '' */
.icon-angle-right:before { content: '\e8a3'; } /* '' */
.icon-angle-up:before { content: '\e8a4'; } /* '' */
.icon-angle-down:before { content: '\e8a5'; } /* '' */
.icon-down-big:before { content: '\e89a'; } /* '' */
.icon-left-big:before { content: '\e89b'; } /* '' */
.icon-right-big:before { content: '\e89d'; } /* '' */
.icon-up-big:before { content: '\e89c'; } /* '' */
.icon-arrows-cw:before { content: '\e88f'; } /* '' */
.icon-signal-2:before { content: '\e87b'; } /* '' */
.icon-award-1:before { content: '\e899'; } /* '' */
.icon-desktop-1:before { content: '\e898'; } /* '' */
.icon-laptop-1:before { content: '\e897'; } /* '' */
.icon-tablet:before { content: '\e896'; } /* '' */
.icon-mobile-1:before { content: '\e895'; } /* '' */
.icon-sun:before { content: '\e893'; } /* '' */
.icon-cloud-2:before { content: '\e894'; } /* '' */
.icon-flash-2:before { content: '\e890'; } /* '' */
.icon-moon:before { content: '\e892'; } /* '' */
.icon-umbrella:before { content: '\e891'; } /* '' */
.icon-align-left:before { content: '\e847'; } /* '' */
.icon-align-right:before { content: '\e845'; } /* '' */
.icon-list:before { content: '\e844'; } /* '' */
.icon-paste:before { content: '\e848'; } /* '' */
.icon-briefcase:before { content: '\e849'; } /* '' */
.icon-off:before { content: '\e83f'; } /* '' */
.icon-chart-bar:before { content: '\e84b'; } /* '' */
.icon-ticket:before { content: '\e84a'; } /* '' */
.icon-credit-card:before { content: '\e84c'; } /* '' */
.icon-bug:before { content: '\e87c'; } /* '' */
.icon-beaker:before { content: '\e84d'; } /* '' */
.icon-magic:before { content: '\e84e'; } /* '' */
.icon-money:before { content: '\e8a6'; } /* '' */
.icon-euro:before { content: '\e8a7'; } /* '' */
.icon-dollar:before { content: '\e8aa'; } /* '' */
.icon-rupee:before { content: '\e8ab'; } /* '' */
.icon-yen:before { content: '\e8ac'; } /* '' */
.icon-rouble:before { content: '\e8ad'; } /* '' */
.icon-try:before { content: '\e8ae'; } /* '' */
.icon-won:before { content: '\e8af'; } /* '' */
.icon-bitcoin:before { content: '\e87d'; } /* '' */
.icon-gauge:before { content: '\e8b0'; } /* '' */
.icon-sitemap:before { content: '\e8b1'; } /* '' */
.icon-coffee:before { content: '\e8a8'; } /* '' */
.icon-food:before { content: '\e8a9'; } /* '' */
.icon-bullseye:before { content: '\e8b2'; } /* '' */
.icon-twitter-squared:before { content: '\e8b3'; } /* '' */
.icon-twitter-1:before { content: '\e8b4'; } /* '' */
.icon-weibo:before { content: '\e8b5'; } /* '' */
.icon-windows-1:before { content: '\e8b6'; } /* '' */
.icon-xing:before { content: '\e8b7'; } /* '' */
.icon-xing-squared:before { content: '\e8b8'; } /* '' */
.icon-youtube-1:before { content: '\e8b9'; } /* '' */
.icon-youtube-squared:before { content: '\e8ba'; } /* '' */
.icon-youtube-play:before { content: '\e8bb'; } /* '' */
.icon-blank:before { content: '\e8bc'; } /* '' */
.icon-lemon:before { content: '\e8bd'; } /* '' */
.icon-note-1:before { content: '\e903'; } /* '' */
.icon-note-beamed:before { content: '\e904'; } /* '' */
.icon-search-4:before { content: '\e905'; } /* '' */
.icon-flashlight:before { content: '\e906'; } /* '' */
.icon-heart-3:before { content: '\e907'; } /* '' */
.icon-heart-empty-1:before { content: '\e908'; } /* '' */
.icon-star-4:before { content: '\e909'; } /* '' */
.icon-star-empty-1:before { content: '\e90a'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-layout:before { content: '\268f'; } /* '⚏' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-minus-circled:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-link-2:before { content: '\e901'; } /* '' */
.icon-attach-3:before { content: '\e902'; } /* '' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-bookmarks:before { content: '📑'; } /* '\1f4d1' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-attention-3:before { content: '\e851'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-map:before { content: '\e727'; } /* '' */
.icon-doc:before { content: '\e730'; } /* '' */
.icon-doc-landscape:before { content: '\e737'; } /* '' */
.icon-doc-text-inv:before { content: '\e731'; } /* '' */
.icon-newspaper:before { content: '📰'; } /* '\1f4f0' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-box:before { content: '📦'; } /* '\1f4e6' */
.icon-rss-2:before { content: '\e850'; } /* '' */
.icon-phone-1:before { content: '\e84f'; } /* '' */
.icon-cog-1:before { content: '\e806'; } /* '' */
.icon-basket-1:before { content: '\e73d'; } /* '' */
.icon-hourglass:before { content: '\e90d'; } /* '' */
.icon-block:before { content: '🚫'; } /* '\1f6ab' */
.icon-left-open-mini:before { content: '\e761'; } /* '' */
.icon-right-open-mini:before { content: '\e762'; } /* '' */
.icon-down-open-big:before { content: '\e764'; } /* '' */
.icon-left-open-big:before { content: '\e765'; } /* '' */
.icon-right-open-big:before { content: '\e766'; } /* '' */
.icon-up-open-big:before { content: '\e767'; } /* '' */
.icon-down:before { content: '\e855'; } /* '' */
.icon-left:before { content: '\e856'; } /* '' */
.icon-right:before { content: '\e857'; } /* '' */
.icon-up:before { content: '\e858'; } /* '' */
.icon-down-dir:before { content: '\e859'; } /* '' */
.icon-left-dir:before { content: '\e85a'; } /* '' */
.icon-right-dir:before { content: '\e85b'; } /* '' */
.icon-up-dir:before { content: '\e85c'; } /* '' */
.icon-ccw:before { content: '\e854'; } /* '' */
.icon-cw-1:before { content: '\e853'; } /* '' */
.icon-shuffle:before { content: '\e852'; } /* '' */
.icon-play:before { content: '\e864'; } /* '' */
.icon-stop-1:before { content: '\e863'; } /* '' */
.icon-pause:before { content: '\e862'; } /* '' */
.icon-record:before { content: '\e861'; } /* '' */
.icon-to-end:before { content: '\e860'; } /* '' */
.icon-to-start:before { content: '\e85f'; } /* '' */
.icon-fast-forward:before { content: '\e85e'; } /* '' */
.icon-fast-backward:before { content: '\e85d'; } /* '' */
.icon-list-add:before { content: '\e003'; } /* '' */
.icon-signal:before { content: '\e867'; } /* '' */
.icon-battery:before { content: '\e868'; } /* '' */
.icon-monitor-1:before { content: '\e866'; } /* '' */
.icon-mobile:before { content: '\e865'; } /* '' */
.icon-glass:before { content: '\e831'; } /* '' */
.icon-cloud-1:before { content: '\e86a'; } /* '' */
.icon-cloud-thunder:before { content: '\e869'; } /* '' */
.icon-flash:before { content: '\e86f'; } /* '' */
.icon-moon-1:before { content: '\e90b'; } /* '' */
.icon-brush:before { content: '\e90c'; } /* '' */
.icon-chart-pie:before { content: '\e86e'; } /* '' */
.icon-chart-line:before { content: '\e86b'; } /* '' */
.icon-chart-bar-2:before { content: '\e86c'; } /* '' */
.icon-chart-area:before { content: '\e86d'; } /* '' */
.icon-graduation-cap:before { content: '\e8c4'; } /* '' */
.icon-ticket-1:before { content: '\e8c3'; } /* '' */
.icon-water:before { content: '\e8c2'; } /* '' */
.icon-air:before { content: '\e8c6'; } /* '' */
.icon-credit-card-1:before { content: '\e8c5'; } /* '' */
.icon-floppy:before { content: '\e8c7'; } /* '' */
.icon-flow-cascade:before { content: '\e790'; } /* '' */
.icon-flow-branch:before { content: '\e791'; } /* '' */
.icon-flow-tree:before { content: '\e792'; } /* '' */
.icon-flow-line:before { content: '\e793'; } /* '' */
.icon-rocket:before { content: '\e8bf'; } /* '' */
.icon-gauge-1:before { content: '\e8c0'; } /* '' */
.icon-traffic-cone:before { content: '\e8c1'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-paypal-1:before { content: '\e8be'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e808'; } /* '' */
.icon-plus-2:before { content: '\e80c'; } /* '' */
.icon-home-1:before { content: '\e810'; } /* '' */
.icon-link-1:before { content: '\e811'; } /* '' */
.icon-export-1:before { content: '\e81d'; } /* '' */
.icon-cog-2:before { content: '\e828'; } /* '' */
.icon-wrench-2:before { content: '\e80d'; } /* '' */
.icon-block-1:before { content: '\e82d'; } /* '' */
.icon-flash-1:before { content: '\e840'; } /* '' */
.icon-chart:before { content: '\e841'; } /* '' */
.icon-chart-bar-1:before { content: '\e842'; } /* '' */
.icon-chart-pie-1:before { content: '\e843'; } /* '' */
.icon-doc-inv-alt:before { content: '\e8fc'; } /* '' */
.icon-flash-3:before { content: '\e8fb'; } /* '' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-videocam-1:before { content: '\e870'; } /* '' */
.icon-th-1:before { content: '\e802'; } /* '' */
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-plus-3:before { content: '\e809'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-tag-2:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-article:before { content: '\e734'; } /* '' */
.icon-rss-1:before { content: '\e80a'; } /* '' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
.icon-basket-alt:before { content: '\e7ae'; } /* '' */
.icon-stop:before { content: '\e7b3'; } /* '' */
.icon-signal-1:before { content: '\e871'; } /* '' */
.icon-award:before { content: '🏉'; } /* '\1f3c9' */
.icon-globe:before { content: '🌐'; } /* '\1f310' */
.icon-chart-1:before { content: '\e8fd'; } /* '' */
.icon-at:before { content: '\40'; } /* '@' */
.icon-clouds-flash-alt:before { content: '\e8ff'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e900'; } /* '' */
.icon-fog:before { content: '\4d'; } /* 'M' */
.icon-clouds-flash:before { content: '\e8fe'; } /* '' */
.icon-search-2:before { content: '\f50d'; } /* '' */
.icon-mail-2:before { content: '\e846'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-plus-1:before { content: '\e807'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-attach-1:before { content: '\e872'; } /* '' */
.icon-chat-2:before { content: '\f03d'; } /* '' */
.icon-doc-1:before { content: '\f04a'; } /* '' */
.icon-monitor:before { content: '\f032'; } /* '' */
.icon-coverflow:before { content: '\f00c'; } /* '' */
.icon-coverflow-empty:before { content: '\f00d'; } /* '' */
.icon-airport:before { content: '\e873'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-paypal:before { content: '\e874'; } /* '' */
.icon-android:before { content: '\e875'; } /* '' */
.icon-bitcoin-1:before { content: '\e87e'; } /* '' */
.icon-reddit-1:before { content: '\e876'; } /* '' */
.icon-appstore:before { content: '\41'; } /* 'A' */
.icon-plancast:before { content: '\50'; } /* 'P' */
.icon-windows:before { content: '\57'; } /* 'W' */
.icon-email:before { content: '\5d'; } /* ']' */
.icon-facebook-1:before { content: '\e878'; } /* '' */
.icon-soundcloud:before { content: '\e877'; } /* '' */
.icon-acrobat:before { content: '\e3'; } /* 'ã' */
.icon-buffer:before { content: '\e5'; } /* 'å' */
.icon-user-1:before { content: '\e013'; } /* '' */
.icon-group:before { content: '\e091'; } /* '' */
.icon-th-large:before { content: '\e023'; } /* '' */
.icon-tag-1:before { content: '\e029'; } /* '' */
.icon-tags:before { content: '\e028'; } /* '' */
.icon-bookmark:before { content: '\e0f4'; } /* '' */
.icon-download-alt:before { content: '\e0c3'; } /* '' */
.icon-comment-1:before { content: '\e106'; } /* '' */
.icon-comment-alt:before { content: '\e0a3'; } /* '' */
.icon-cogs:before { content: '\e107'; } /* '' */
.icon-wrench-1:before { content: '\e004'; } /* '' */
.icon-basket:before { content: '\e03a'; } /* '' */
.icon-lightbulb:before { content: '\e0de'; } /* '' */
.icon-cw:before { content: '\e04b'; } /* '' */
.icon-desktop:before { content: '\e041'; } /* '' */
.icon-laptop:before { content: '\e084'; } /* '' */
.icon-network-1:before { content: '\e072'; } /* '' */
.icon-book:before { content: '\e0f5'; } /* '' */
.icon-fire:before { content: '\e0e7'; } /* '' */
.icon-hdd:before { content: '\e0b4'; } /* '' */
.icon-certificate:before { content: '\e0a7'; } /* '' */
.icon-tasks:before { content: '\e027'; } /* '' */
.icon-smiley-circled:before { content: '\e034'; } /* '' */
.icon-asl:before { content: '\e0ad'; } /* '' */
.icon-glasses:before { content: '\e0e3'; } /* '' */
.icon-facebook:before { content: '\e09c'; } /* '' */
.icon-github:before { content: '\e0b6'; } /* '' */
.icon-reddit:before { content: '\e050'; } /* '' */
.icon-twitter:before { content: '\e018'; } /* '' */
.icon-youtube:before { content: '\e002'; } /* '' */
.icon-music-1:before { content: '\e8c8'; } /* '' */
.icon-search-3:before { content: '\e8c9'; } /* '' */
.icon-mail-1:before { content: '\e8ca'; } /* '' */
.icon-heart-1:before { content: '\e8cb'; } /* '' */
.icon-star-2:before { content: '\e8cc'; } /* '' */
.icon-user-2:before { content: '\e8cd'; } /* '' */
.icon-videocam-2:before { content: '\e8ce'; } /* '' */
.icon-camera-1:before { content: '\e8cf'; } /* '' */
.icon-photo:before { content: '\e8d0'; } /* '' */
.icon-attach-2:before { content: '\e8d1'; } /* '' */
.icon-lock-1:before { content: '\e8d2'; } /* '' */
.icon-eye-1:before { content: '\e8d3'; } /* '' */
.icon-tag-4:before { content: '\e8e1'; } /* '' */
.icon-thumbs-up:before { content: '\e8d4'; } /* '' */
.icon-pencil-1:before { content: '\e8d5'; } /* '' */
.icon-comment-3:before { content: '\e8d6'; } /* '' */
.icon-location-3:before { content: '\e8d7'; } /* '' */
.icon-cup:before { content: '\e8d8'; } /* '' */
.icon-trash:before { content: '\e8d9'; } /* '' */
.icon-doc-2:before { content: '\e8da'; } /* '' */
.icon-note:before { content: '\e8f3'; } /* '' */
.icon-cog-4:before { content: '\e8f2'; } /* '' */
.icon-params:before { content: '\e8ef'; } /* '' */
.icon-calendar-1:before { content: '\e8f5'; } /* '' */
.icon-sound:before { content: '\e8ec'; } /* '' */
.icon-clock:before { content: '\e8eb'; } /* '' */
.icon-lightbulb-1:before { content: '\e8e8'; } /* '' */
.icon-tv:before { content: '\e8e7'; } /* '' */
.icon-desktop-2:before { content: '\e8e6'; } /* '' */
.icon-mobile-2:before { content: '\e8e5'; } /* '' */
.icon-cd:before { content: '\e8e4'; } /* '' */
.icon-inbox:before { content: '\e8e2'; } /* '' */
.icon-globe-1:before { content: '\e8e0'; } /* '' */
.icon-cloud-3:before { content: '\e8e3'; } /* '' */
.icon-paper-plane:before { content: '\e87a'; } /* '' */
.icon-fire-1:before { content: '\e8df'; } /* '' */
.icon-graduation-cap-1:before { content: '\e8de'; } /* '' */
.icon-megaphone:before { content: '\e8dd'; } /* '' */
.icon-database:before { content: '\e8dc'; } /* '' */
.icon-key:before { content: '\e8db'; } /* '' */
.icon-beaker-1:before { content: '\e8f4'; } /* '' */
.icon-truck:before { content: '\e8f1'; } /* '' */
.icon-money-1:before { content: '\e8f0'; } /* '' */
.icon-food-1:before { content: '\e8ee'; } /* '' */
.icon-shop:before { content: '\e8ed'; } /* '' */
.icon-diamond:before { content: '\e879'; } /* '' */
.icon-t-shirt:before { content: '\e8e9'; } /* '' */
.icon-wallet:before { content: '\e8ea'; } /* '' */
.icon-heart-2:before { content: '\e8f7'; } /* '' */
.icon-star-3:before { content: '\e8f6'; } /* '' */
.icon-picture-1:before { content: '\e8f8'; } /* '' */
.icon-ok-circle:before { content: '\e8f9'; } /* '' */
.icon-cancel-2:before { content: '\e8fa'; } /* '' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-tag-3:before { content: '\e812'; } /* '' */
.icon-attention-1:before { content: '\e80f'; } /* '' */
.icon-location-1:before { content: '\e80e'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-down-circle:before { content: '\e4a4'; } /* '' */
.icon-left-circle:before { content: '\e4a1'; } /* '' */
.icon-right-circle:before { content: '\e4a2'; } /* '' */
.icon-up-circle:before { content: '\e4a3'; } /* '' */
.icon-cw-circle:before { content: '\e7a9'; } /* '' */
.icon-network:before { content: '\e776'; } /* '' */

/*
   Animation example, for spinners
*/
.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

