.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

ul.dropdown-menu:hover {
	display: block;
}

.dropdown-menu {
	background-color: #fff;
	margin-top: -1px;
	width: 120px;
	left: -4px !important;
	padding: 10px 15px 15px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
}

.dropdown-menu > li {
	display: block;
}

.dropdown-menu > li > a {
	margin: 0 !important;
	float: none !important;
	display: block;
	padding: 5px 10px !important;
	font-size: 14px !important;
}

/* ====== Misc Styles ====== */

.form-opt-out input {
  display: inline-block;
  padding-bottom: 30px !important;
  float: left;
}

.form-opt-out label span {
  display: block;
  padding-left: 20px;
}

.form-opt-out label span strong {
  font-weight: 600 !important;
}

.border-left {
  border-left: 2px solid #fff;
  background:;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
	.border-left {
		border-left: none;
		border-top: 2px solid #fff;
		padding-left: 0;
		padding-top: 40px;
		margin-top: 40px;
	}
}

#dan {
	width: 180px;
	margin: 0 auto 20px !important;
}

.auto-renew {
	background: #f1f1f1;
	border: 1px solid #eaeaea;
	padding: 4px 3px 13px 10px !important;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.auto-renew input {
	margin-top: 5px;
}

.auto-renew span {
	font-size: 12px;
	font-weight: 400;
	position: relative;
	top: 4px;
	padding-left: 5px;
}

#integrated-device {
	margin-bottom: -60px;
}

#integrated-logos {
	padding: 40px 0;
}

#integrated-logos img {
	margin-right: 35px;
}

#dynalert {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px 0;
	margin-bottom: -38px;
	position: relative;
}

#dynalert h4 {
	color: #ffdc24;
	font-weight: 300;
}

#dynalert h4 span {
	font-weight: 400;
}

#dynalert a {
	color: #ffdc24;
	text-decoration: underline;
}

.security-interests legend {
	font-size: 16px;
	font-weight: 400;
	color: #555;
	margin-bottom: 15px;
}

.security-interests input {
	margin: -5px 5px 0 0;
}

.security-interests span {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #777;
}

.oem-app-browser {
	margin-top: -167px;
	margin-right: -25px;
}

/* ====== Managed Access Overview ====== */

.add-device,
.your-devices {
  margin-bottom: -80px;
}

@media (max-width: 767px) {
	.your-devices {
	  margin-bottom: -30px;
	}
}

/* ====== What Is DNS ====== */

#ip-address {
	background: #2b323b;
	overflow: hidden;
}

#domain-name-system img {
	margin-top: -40px;
}

#ip-map {
	position: relative;
	display: block;
}

#ip-map img {
	position: absolute;
	left: -200px;
	top: -140px;
	z-index: 1;
}

#ip-copy {
	position: relative;
	z-index: 999 !important;
}

/* ====== Minimal Styles ====== */

body#minimal {
	background-color: #f9f9f9;
	background-image: none;
}

header#minimal {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

header#header {
	background-color: #fff;
	position: relative;
	z-index: 200;
}

h1.top.minimal {
	position: relative;
	top: 5px !important;
	display: block;
}

body#minimal .header {
	padding: 40px 0 !important;
}

footer#minimal {
	background-color: #f9f9f9;
	padding-top: 30px;
	border-top: 1px solid #f1f1f1;
	margin-bottom: 10px;
}

footer#minimal p {
	font-size: 12px;
	color: #777;
}

#checkout-badges {
	margin-top: 10px;
	text-align: center;
}

#checkout-badges a:last-child {
	margin-right: 0 !important;
}

#checkout-badges a {
	margin-right: 10px;
}

/* ====== Page Titles ====== */

#page-title h1.big {
	font-size: 45px;
	letter-spacing: -1px;
	line-height: 50px;
	font-weight: 400;
}

#page-title h1 {
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
}

#page-title h2 {
	margin-bottom: 0 !important;
	color: #b2b2b2;
	text-shadow: none;
	font-weight: 300;
	padding-top: 13px;
	font-size: 20px;
	padding-left: 10px;
}

@media (max-width: 767px) {
	#page-title h1.big {
		font-size: 38px;
		line-height: 50px;
	}
}

#page-title {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #232c35;
	-webkit-background-size: cover !important;
	   -moz-background-size: cover !important;
	     -o-background-size: cover !important;
	        background-size: cover !important;
}

@media (max-width: 767px) {
	#page-title {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

#page-title p {
	font-size: 15px;
	line-height: 28px;
}

#page-title.slim {
	padding-top: 60px;
	padding-bottom: 60px;
}

#page-title h2 {
	margin-bottom: 0 !important;
	color: #b2b2b2;
	text-shadow: none;
	font-weight: 300;
	padding-top: 13px;
	font-size: 20px;
	padding-left: 10px;
}

.press-overview {
	background: url(../img/2013/headers/dev-room.jpg) center top / contain no-repeat scroll #3c4149 !important;
	padding: 100px 0 !important;
}

.dns-overview {	
	background: #2a3644 url(../img/2013/page-titles/server.jpg) no-repeat scroll center top !important;
}

.server-monitoring-overview {	
	background: #2a3644 url(../img/2013/page-titles/server-upward.jpg) no-repeat scroll center top !important;
}

.ssl-certificates-overview {	
	background: #2a3644 url(../img/2013/page-titles/secure-server.jpg) no-repeat scroll center top !important;
}

.isc-west-overview {	
	background: #2a3644 url(../img/2013/page-titles/vegas-skyline.jpg) no-repeat scroll center top !important;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover !important;
}

.domains-overview,
.domreg-overview,
.activate-account-overview {
  background-color: #232c35;
	padding: 80px 0 !important;
	background: #2a3644 url(../img/2013/bg-texture.png) repeat fixed center top !important;
}

.mail-overview {
	background: #3c4149 url(../img/2013/page-titles/standing-laptop.jpg) no-repeat scroll center top !important;
}

.about-overview {
	background: #2a3644 url(../img/2013/headers/noip-lounge.jpg) no-repeat scroll center top !important;
	padding: 80px 0 !important;
}

.careers-overview {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/2013/headers/office-maestro-header.jpg) no-repeat scroll center top !important;
	padding: 80px 0 !important;
}

.remote-access-overview {
	background: #2a3644 url(../img/2013/page-titles/coffee-bar.jpg) no-repeat scroll center top !important;
}

.whyus-overview {
	background: #3c4149 url(../img/2013/headers/why-us-overview-blue.jpg) no-repeat fixed center top !important;
}

.what-is-dns-overview {
	background: #3c4149 url(../img/2013/headers/why-us-overview.jpg) no-repeat fixed center top !important;
}

.priority-support-overview {
	background: #2a3644 url(../img/2013/bg-texture.png) repeat fixed center top !important;
	padding: 100px 0;
}

.integration-overview {
	background: #3c4149 url(../img/2013/bg-integration.jpg) no-repeat fixed center top !important;
	background-color: #000;
	padding-top: 90px !important;
}

.payment-methods-overview {
	background: #3c4149 url(../img/2013/payment-methods-overview.jpg) no-repeat fixed center top !important;
}

.managed-access-overview {
	background: #3c4149 url(../img/2013/page-titles/it-guy.jpg) no-repeat scroll center top !important;
}

.persona-questionaire-overview {
	background: #3c4149 url(../img/2013/page-titles/people-table.jpg) no-repeat scroll center top !important;
	padding: 255px 0px !important;
}

.hostactivate-upsell {
	background: url(../img/2013/bg-texture.png) repeat fixed center top !important;
}

/* ====== Sub Page Styles ====== */

.border-white {
	border-bottom: 1px solid #fff;
	margin-bottom: 60px;
	margin-top: -1px;
	height: 1px;
}

.right-justify {
	text-align: right;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 30px;
}

.bottom-row {
	margin-top: 80px;
}

/* ====== Aside Navigation ====== */

#side-navigation li a {
	font-size: 14px;
	padding: 10px 30px !important;
	display: block;
	color: #555;
	font-weight: 300;
	text-align: right;
	margin-right: -30px;
	margin-bottom: 1px;
}

#side-navigation li a:hover {
	background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#f9f9f9), to(#fff));
	background-image: -webkit-linear-gradient(right, #f9f9f9, #fff); 
	background-image:    -moz-linear-gradient(right, #f9f9f9, #fff); 
	background-image:     -ms-linear-gradient(right, #f9f9f9, #fff); 
	background-image:      -o-linear-gradient(right, #f9f9f9, #fff); 
}

#side-navigation li a.active {
	font-weight: 400;
	color: #48C2D6;
	background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#f9f9f9), to(#fff));
	background-image: -webkit-linear-gradient(right, #f9f9f9, #fff); 
	background-image:    -moz-linear-gradient(right, #f9f9f9, #fff); 
	background-image:     -ms-linear-gradient(right, #f9f9f9, #fff); 
	background-image:      -o-linear-gradient(right, #f9f9f9, #fff); 
}

#legal-doc-wrap {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border-left: 1px solid #eee;
	margin-top: -60px;
	margin-bottom: -60px;
	padding: 80px 0 80px 30px;
}

#legal-doc-wrap p {
	font-size: 14px;
}

#legal-doc-wrap li {
	font-size: 14px;
}

/* ====== Checkout ====== */

/* === Misc === */
tr td label {
	padding: 5px 0;
}

tr td label input {
	margin: 0 5px 3px 0 !important;	
}

#payment-method {
	background: #fff;
	border: 1px solid #eaeaea;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 20px;
	border-radius: 3px;
}

#payment-method a.payment-option {
	font-weight: 400;
    color: #777;
}

#saved-cards {
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eaeaea;	
	border-top: 1px solid #eaeaea;
	padding: 15px 0 10px;
}

#saved-cards input {
	margin-right: 5px;
}

#saved-cards label {
	padding-top: 2px;
}

td.years select.years-sel,
select.small {
	height: 21px;
	font-size: 13px !important;
	padding: 0 !important;
}

label.cc {
	cursor: pointer;
	padding-left: 20px;
	padding-top: 8px;
	margin-top: -25px;
}

.radio3sel {
	margin-left: 10px;
	position: relative;
	left: 10px;
}
#checkout-terms {
	border-top: 1px dotted #ddd;
	margin-top: 30px;
	padding-top: 20px;
}

#set_cc h3 {
	margin-bottom: 5px;
}

#review-sign-in-wrap,
#review-sign-up-wrap,
#form-box-wrap,
.form-box-wrap,
#bitcoin-converter-wrap,
.captcha-wrap {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	padding: 30px;
	background-color: #f9f9f9;
	border: 1px solid #eaeaea;
}

#bitcoin-converter-wrap {
	background-color: #ffffff;
}

#footer-payment-icons a img {
	margin-right: 10px;
}

/* === / Misc === */

.checkout-step {
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
	        border-radius: 30px;
	background-color: #fff;
	border: 2px solid #f1f1f1;
	text-align: center;
	float: left;
	color: #ddd;
	width: 46px;
	height: 33px;
	padding-top: 13px;
	margin-left: 10px;
}

.checkout-step.active {
	font-weight: 600;
	color: #a2ce30;
	border-color: #a2ce30;
}

.checkout-step.visited {
	font-weight: 600;
	color: #ccc !important;
	border-color: #ddd;
}

.row-fluid select {
	font-size: 14px !important;
}

table#review-order {
background-color: #fff;
}

table#review-order select {
	font-size: 12px;
}

a.update-cart {
	color: #71747b;
	font-size: 12px;
	font-weight: 400;
	margin-top: 5px;
	margin-left: 5px;
}

a.update-cart:hover {
	text-decoration: underline;
}

a.remove {
	color: #dd514c;
	font-size: 12px;
}

td.total, p.total {
	color: #f8ab10;
	font-weight: 600;
	font-size: 18px;
}

#alert-table {
	margin-bottom: 30px;
}

/* === Select Payment Method === */

#payment-type {
	margin-top: 30px;
	margin-bottom: 30px !important;
}

#payment-type a input {
	display: none;
}

.payment-option {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition:all .1s ease-in;
	   -moz-transition:all .1s ease-in;
	     -o-transition:all .1s ease-in;
	        transition:all .1s ease-in;
	background: #f9f9f9;
	border: 2px solid #eaeaea;
	padding: 20px !important;
	opacity: .7;
	-webkit-filter: grayscale(70%);
	margin-bottom: 0;
}

.payment-option-arrow {
    width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;	
	border-top: 8px solid #a2ce30;
	display: none;
	clear: both;
	margin: 0 auto -8px auto;
	position: relative;
	bottom: -22px;
}

.payment-option-arrow.fill {	
	border-top: 8px solid #fff;
	bottom: -19px;
	z-index: 99;
}

.show-arrow {
	display: block;
}

#astropay-wrap {
	min-height: 122px;
}

.payment-option:hover,
.payment-option.active {
	border-color: #a2ce30;
	opacity: 1;
	cursor: pointer;
	-webkit-filter: grayscale(0%);
}

.payment-option.active {
	background-color: #fff;
}

.payment-option.active:hover {
	border-color: #a2ce30;
}

.payment-option:hover {
	border-color: #48C2D6;
}

.payment-option span.credit-card img {
	margin: 0 5px 0 0;
	display: inline;
	float: left !important;
	clear: none !important;
}

.payment-option span.credit-card.astro:nth-child(even) {
	margin-right: 0px !important;
}

#credit-card-wrap {
	text-align: center;
}

.credit-card {
	width: 58px;
	height: 33px;
	display: inline-block;
}

.credit-card.astro img {
	width: 58px;
}

#paypal {
	margin: 0 !important;
}

#big-paypal-logo {
	margin-top: 10px;	
  margin-bottom: 9px;
}

.select-region {
	float: right;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 400;
	color: #999;
	text-transform: capitalize;
	padding-top: 7px;
}

.bank-icons-wrap  {
	margin: 0 !important;
	float: left;
	height: 78px;
	width: 100% !important;
	
}

.bank-icons-wrap img {
	margin: 0 2px 4px 0;
	width: 56px;
}

.intl {
	font-size: 12px;
	font-weight: 400;
	color: #999;
	margin-top: -26px;
	clear: left;
	float: left;
	position: relative;
	left: 50px;
	z-index: 9;
}

.astropay-message {
	font-size: 14px;
	font-weight: 400;
	width: 170px;
}

.astropay-message strong {
	font-size: 16px;
	font-weight: 600 !important;
}

#region-picker {
	display: inline-block;
}

#region-sel {
	height: 30px;
}

#region-sel:active {
	border-color: none;
}

#region-picker img {
	width: 32px;
}

.regional-payment-logo {
  margin-top: 13px;
  margin-bottom: 14px;
	float: right;
}

.regional-payment-logo .sofort-logo {
	margin-top: 6px;
	margin-bottom: 4px;
	width: 120px;
}

.checkout-payment-types img {
	width: 40px;
	height: auto;
}

/* DD SLICK Select Box */

.dd-container {
    position: relative;
}

.dd-select {
	background: transparent !important;
	border: none !important;
}

.dd-selected {
    overflow: hidden;
    display: block;
    padding: 5px 0;
    font-weight: bold;
}

.dd-options li {
	width: 180px;
}

.dd-select {
    border-radius: 2px;
    border: solid 1px #ccc;
    position: relative;
    cursor: pointer;
}

.dd-desc {
    color: #aaa;
    display: block;
    overflow: hidden;
    font-weight: normal;
    line-height: 1.4em;
}

.dd-pointer {
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
}

.dd-pointer-down {
    border: solid 5px transparent;
    border-top: solid 5px #999;
}

.dd-pointer-up {
    border: solid 5px transparent !important;
    border-bottom: solid 5px #999 !important;
    margin-top: -8px;
}

.dd-options {
	border: 1px solid #eaeaea !important;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-color: #fff !important;
	max-height: 360px;
	right: 0px;
	width: 180px !important;
}

.dd-options {
    border: solid 1px #ccc;
    border-top: none;
    list-style: none;
    box-shadow: 0px 1px 5px #ddd;
    display: none;
    position: absolute;
    z-index: 2000;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: auto;
}

.dd-option {
	height: 20px;
    padding: 10px;
    display: block;
    border-bottom: solid 1px #ddd;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

.dd-option-text {
	display: inline-block;
	line-height: 10px !important;
}

.dd-selected-text {
	display: none;
	overflow: visible;
	width: 110px;
	text-align: right;
	display: ;
	line-height: 10px;
}

.dd-option:hover {
    background: #eaeaea;
    color: #000;
}

.dd-selected-description-truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dd-option-selected {
    background: #f6f6f6;
}

.dd-option-image {
    vertical-align: middle;
    float: left;
    margin-right: 8px;
    position: relative;
}

.dd-selected-image {
    float: right;
    margin-right: 25px !important;
    position: relative;
}

.dd-image-right {
    float: right;
    margin-right: 15px;
    margin-left: 5px;
}

.dd-selected-text {
    font-weight: bold;
}​

/* / DD SLICK Select Box */

/* bank icons */

#brazil {	
	background: url(../img/2013/astropay/flags/brazil.png) no-repeat;
}

#itau {	
	background: url(../img/2013/astropay/bank-icons/itau.png) no-repeat;
}

#bancodobrazil {	
	background: url(../img/2013/astropay/bank-icons/bancodobrazil.png) no-repeat;
}

#hsbc {	
	background: url(../img/2013/astropay/bank-icons/hsbc.png) no-repeat;
}

#boleto {	
	background: url(../img/2013/astropay/bank-icons/boleto.png) no-repeat;
}

#caixa {	
	background: url(../img/2013/astropay/bank-icons/caixa.png) no-repeat;
}

#santander {	
	background: url(../img/2013/astropay/bank-icons/santander.png) no-repeat;
}

#bradesco {	
	background: url(../img/2013/astropay/bank-icons/bradesco.png) no-repeat;
}

#dineromail {	
	background: url(../img/2013/astropay/bank-icons/dineromail.png) no-repeat;
}

#cobro {	
	background: url(../img/2013/astropay/bank-icons/cobro.png) no-repeat;
}

#ripsa {	
	background: url(../img/2013/astropay/bank-icons/ripsa.png) no-repeat;
}

#webpay {	
	background: url(../img/2013/astropay/bank-icons/webpay.png) no-repeat;
}

#redcompra {	
	background: url(../img/2013/astropay/bank-icons/redcompra.png) no-repeat;
}

#bbva {	
	background: url(../img/2013/astropay/bank-icons/bbva.png) no-repeat;
}

#banamex {	
	background: url(../img/2013/astropay/bank-icons/banamex.png) no-repeat;
}

#oxxo {	
	background: url(../img/2013/astropay/bank-icons/oxxo.png) no-repeat;
}

#payu {	
	background: url(../img/2013/astropay/bank-icons/payu.png) no-repeat;
}

#interbank {	
	background: url(../img/2013/astropay/bank-icons/interbank.png) no-repeat;
}

#redpagos {	
	background: url(../img/2013/astropay/bank-icons/redpagos.png) no-repeat;
}

#sofort {	
	background: url(../img/2013/astropay/bank-icons/sofort.png) no-repeat;
}

#giropay {	
	background: url(../img/2013/astropay/bank-icons/giropay.png) no-repeat;
}

/* / bank icons */

/* === / Select Payment Method === */

/* ====== Sign Up Form ====== */

form#review-sign-up .parsley-error-list {
	
}

.parsley-container {
	float: left;
	clear: color: #ff2603;
	font-size: 12px;
	font-weight: 400;
	margin-left: 5px !important;
	margin-bottom: 15px;left;
	width: 200px;
	height: 20px;
	background-color: #dcdc67;
}

.control-group {
	margin-bottom: 0px;
}

/* ====== Services Overview ====== */

.service-row,
.rowmarg {
	margin-top: 60px;
}

.service-row.cart-review-row {
	margin-top: 10px !important;
}

.service {
	text-align: left;
}

.service.center {
	text-align: center;
}

.service ul {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	margin-left: 0;
	margin-bottom: 30px;
}

.service ul li {
	clear: left;
	font-weight: 400;
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: capitalize;
	color: #555;
}

.service-callout {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	border-right: 1px solid #f1f1f1;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 30px;
	margin-top: -80px;
	margin-bottom: -80px;
}

.service-callout:last-child {
	border-right: none;
	padding-right: 0px;
}

/*#service-callout {
	background-color: #a2ce30;
	color: #fff !important;
	-webkit-border-radius: 300px;
	   -moz-border-radius: 300px;
	        border-radius: 300px;
	margin-left: auto;
	text-align: center;
	-webkit-transition:background-color .1s linear;  
	 -moz-transition:background-color .1s linear; 
	   -o-transition:background-color .1s linear;
	      transition:background-color .1s linear;
	display: block;
	margin-right: auto;
	width: 160px;
	height: 160px;
	padding: 60px;
	margin-top: 30px;
}

#service-callout:hover {
	background-color: #98c611;
}

#service-callout h2 {
	margin-bottom: 10px;
}

#service-callout p {
	color: #fff;
	margin-bottom: 10px;
	line-height: 24px;
}

.link {
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}*/

/* ====== Feature List ====== */

.feature {
	
}

.feature p {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.feature h3 {
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 10px;
	margin-bottom: 0;
	color: #555;
}

/* ====== Service Icon ====== */

.service-icon-wrapper  {
	margin-left: 0;
	display: none;
}

.service-icon-sub {
	-webkit-border-radius: 300px;
	   -moz-border-radius: 300px;
	        border-radius: 300px;
	float: left;
	border: 10px solid #fff;
	height: 300px;
	margin-bottom: 30px;
	margin-left: 25px;
	width: 300px;
}

/* ====== Why Us ====== */

#why-us-peeps {
	margin-bottom: -80px;
}

#common-questions {
	background: url(../img/2013/bg-cables-2.jpg) center top repeat fixed !important;
}

#why-us-overview {
	padding-top: 80px;
	padding-bottom: 80px;
}

#uptime {
	padding-top: 80px;
	padding-bottom: 80px;
}

/* ====== Outage ====== */

#outage {
	padding-top: 80px;
	padding-bottom: 80px;
}

#outage-img {
	height: 600px;
	background-color: #f2f2f2;
}

/* ====== Downloads ====== */

#download-box {
	
}

.download-btn {
	font-size: 24px !important;
	display: block !important;
	text-align: center;
	margin-top: 0px;
	line-height: 60px;
}

/* ====== Ticket Modal ====== */

#ticketModal {
  z-index: 9999;
  position: fixed;
}

.button.ticket {
	margin-top: 20px;
}

.parsley-error-list li {
	color: #ff2600;
	font-size: 12px;
	float: left;
	margin-bottom: 15px;
}

.parsley-error {
	border-color: #ff2600 !important;
	background-color: #fff4f5;
	color: #ff2600;
}

.custom-error-message {
	width: 100%;
	border: none !important;
	color: #ff2603;
	font-size: 12px !important;
	margin-bottom: 0 !important;
	padding: 0 0 15px 0 !important;
}

#search-result {
	display: block;
	margin-top: 30px;
	border-top: 1px solid #ececec;
	margin-bottom: 30px;
}

#search-result li {
	display: block;
	border-bottom: 1px solid #ececec;
}

#search-result li a:hover {
	background-color: #f7f7f7;
}

#search-result li a {
	display: block;
	color: #737373;
	text-decoration: none;
	font-size: 14px;
	background: url(http://www.noip.com/support/wp-content/themes/supportdesk/images/kb-small.png) no-repeat 5px center;
	padding: 15px 15px 15px 35px;
	-webkit-transition:background-color .1s ease-in;  
	   -moz-transition:background-color .1s ease-in;  
	     -o-transition:background-color .1s ease-in;  
	        transition:background-color .1s ease-in; 
}

#search-result li.nothing-here {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #ff2600;
	background-color: #fff4f5;
}

/* ====== Sitemap ====== */

#sitemap-wrap {
	
}

#sitemap-wrap h3 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

#sitemap-wrap ul {
	margin-bottom: 30px;
}

#sitemap-wrap ul li {
	margin-bottom: 7px;
}

#sitemap-wrap ul li a {
	color: #50555d !important;
	font-size: 13px;
	font-weight: 400;
}

#sitemap-wrap ul li a:hover {
	color: #48C2D6 !important;
}

/* ====== Sign In Page ====== */

#sign-in-wrap {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 60px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#sign-in-container {
	margin-bottom: 80px;
}

.oem-signin-logo {
	margin: 5px 0 15px;
}

/* ====== Domain Registration ====== */

#domreg-wrap {
	padding-top: 80px;
	padding-bottom: 80px;
}

input#domain-search {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-weight: 400;
	vertical-align: middle;
	color: #60656f;
	float: left;
	font-size: 20px;
	padding: 15px;
}

input#domain-search::-webkit-input-placeholder {
	color: #83868c;
}

span.www {
	float: left;
	position: relative;
	z-index: 137;
	color: #bbb;
	margin-right: -50px;
	left: 10px;
	top: 13px;
	font-size: 18px;
}

.dom-list {
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
	padding-left: 3px;
}

#dom-error {
	margin-bottom: 10px;
}

.domreg-btn {
	font-size: 20px !important;
	text-align: center;
	padding: 16px 0;
	width: 100%;
}

#dom-search-results-wrapper label {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 10px;
	background-color: #f9f9f9;
}

#dom-search-results-wrapper label input {
	margin-top: -5px;
	margin-right: 5px;
}

#dom-search-results-wrapper ul {
	margin-bottom: 30px;
}

#dom-search-results-wrapper ul.show-more {
	margin-top: -30px;
	position: relative;
	z-index: 999;
}

.show-more li a {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	display: block;
	background-color: #f9f9f9;
	padding: 10px;
}

#dom-search-results-wrapper ul li {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	margin-left: 0 !important;
}

#dom-suggestions {
	display: inline-block;
}

#dom-available label {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.domain-price {
  float: right;
  display: block;
}

.domain-with-plus {
  padding-left: 20px;
  font-size: 12px;
}

label.with-plus {
	background-color: #48C2D6 !important;
	color: #fff !important;
}

#add-domains-to-cart {
	width: 100%;
}

/* ====== Host Activate ====== */

#recaptcha_block {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
}
#recaptcha_image {
	float: right;
	height:95px !important;
}

#recaptcha_controls {
	font-size: 12px;
	width:128px;
	float:left;
	color: #2C3034;
	margin-left: 0;
}

#recaptcha_controls a {
	color: #48C2D6;
}

#recaptcha_controls a:hover {
	color: #a2ce30;
}

#recaptcha_controls p {
	padding:0;
}

#recaptcha_controls ul {
	list-style:none;
}

#recaptcha_powered {
	font-size:9px;
}

/* ====== / Domain Registration ====== */

/* ====== Select Box Styles ====== */

#select-box-newuser {
	right: -11px;
}

#select-box-wrap {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-color: #f1f1f1;
	position: relative;
	display: inline-block;
	padding-left: 5px;
}

.select-box-domreg {
	margin-left: -78px;
	margin-top: 4px;
}

.select-box-domreg-footer {
	float: right;
	margin-top: -59px;
	margin-right: 3px;
}

.select-box-enhanced-cart {
	width: 228px;
	padding: 5px 0;
}

#enhanced-tiers {
	width: 223px;
	outline: none !important;
	padding: 5px !important;
}

#domain-search-sel,
#enhanced-tiers {
	-webkit-appearance: none;
	   -moz-appearance: none;
	background: transparent !important;
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

/* ====== Modal Misc ====== */

.done {
	color: #ddd;
	text-decoration: line-through;
}

.modal-list {
	margin-top: -1px;
}

.modal-list li span {
	clear: left;
	font-size: 12px;
	display: block;
}

.modal-list li a {
	font-weight: 400;
	font-size: 14px;
}

#host-create-modal-body {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 20px;
}

::-moz-placeholder {
	padding-top: 10px;
}

:-ms-input-placeholder {
	padding-top: 10px;
}

input:-moz-placeholder {
	padding-top: 10px;
}

/* ====== Bitcoin Page ====== */

.bitcoin-converter {
	
}

#bitcoin-converter-wrap {
	background-color: #ffffff;
}

.bitcoin-converter input {
	background: none !important;
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	font-size: 70px;
	font-weight: 300;
	padding: 0;
}

.bitcoin-converter input.smalltext {
	font-size: 30px;
	font-weight: 300;
}

.bitcoin-converter #usd {
	color: #a2ce30;
	padding-left: 15px;
}

#dollar-sign {
	color: #ddd;
	font-size: 30px;
	font-weight: 200;
	margin-bottom: -90px;
	position: relative;
	top: -1px;
}

#equals-sign {
	color: #ddd;
	font-size: 30px;
	margin-bottom: -100px;
	position: relative;
	top: -60px;
}

.info {
	color: #bbb;
	font-size: 12px;
	margin: -10px 0;
}

.bitcoin-converter input.smalltext::-webkit-input-placeholder {
	font-weight: 300;	
}

.bitcoin-converter input.smalltext:-moz-placeholder {
	font-weight: 300;	
}

.bitcoin-converter input.smalltext:-ms-input-placeholder {
	font-weight: 300;	
}

input#usd:-moz-placeholder {
  color: #a2ce30;
}

input#usd:-ms-input-placeholder {
  color: #a2ce30 !important;
}

input#usd::-webkit-input-placeholder {
  color: #a2ce30;
}

#payment-address {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-color: #f9f9f9;
	border: 1px solid #eaeaea;
	padding: 30px;
}

h4.conversion-step {
	margin-top: -30px !important;
	padding-bottom: 30px !important;
}

/* ====== / Bitcoin Page ====== */

/* ====== Payment Methods Page ====== */

.payment-country span img {
	position: relative;
	bottom: 3px;
}

.bank-row {
	padding-bottom: 20px;
}

.bank-row span {
	margin-bottom: 10px;
	display: block;
}

/* ====== / Payment Methods Page ====== */

/* ====== Press Page ====== */

#press-coverage {
	
}

#press-coverage a {
	color: inherit;
}

#press-coverage article {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: -1px;
	padding: 20px 10px;
	-webkit-transition:all .1s ease-in;
	   -moz-transition:all .1s ease-in;
	     -o-transition:all .1s ease-in;
	        transition:all .1s ease-in;
}

#press-coverage article:hover {
	background-color: #f9f9f9;
}

#press-coverage .meta {
	font-weight: 400;
	font-size: 15px;
}

#press-coverage .meta span {
	color: #999;
	font-size: 11px;
	padding-left: 10px;
}

#press-articles {
	/*max-height: 246px !important;
	overflow: scroll;*/
	padding-right: 30px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* ====== / Press Page ====== */

/* ====== Responsive Youtube ====== */

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ====== Accordion ====== */

.accordion-toggle,
.accordion-inner {
	background-color: #fff;
}

/* ====== / Accordion ====== */

/* ====== Host Activate ====== */

.host-upsell-buttons {
  margin-top: 15px;
}

.host-upsell-buttons a {
  color: #ddd;
  font-size: 13px;
  font-weight: 400;
  display: block;
  clear: right;
}

.host-upsell-buttons a:hover {
  text-decoration: underline;
}

#sign-up-compare {
	margin-bottom: 30px;
	margin-left: 0 !important;
	background-color: #fff;
	border-left: none;
	color: #666;
}

#sign-up-compare td {
	text-align: center;
	border-left: 1px solid #eee;
	padding: 10px;
}

.button-wrap {
	text-align: right;
}

td.title {
	border-left: none;
	font-size: 14px;
	font-weight: 400;
	text-align: left !important;
	cursor: crosshair;
}

td.check {
	color: #48C2D6;
	font-weight: 400;
	text-align: center;
}

td.x {
	color: #ff2603;
	font-weight: bold;
}

/* ====== / Host Activate ====== */

/* ====== Product Containers ====== */

.product-container {
  border-top: 3px solid #a2ce30;
	background-color: #ffffff;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.product-container.blue {
  border-top-color: #48C2D6;
}

.product-container.grey {
  border-top-color: #96999b;
}

.product-container.darkblue {
  border-top-color: #4b5159;
}

.product-header {
	padding: 50px 30px 40px;
}

.product-header h2 {
  font-size: 24px;
}

.product-container ul li.header span {
	color: #3d4350;
}

.product-container a {
	margin-top: 20px;
	margin-bottom: 20px;
}

.product-container ul {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
	padding: 30px;
}

.product-container ul li {
	padding: 10px 0;
	color: #74787c;
	text-transform: capitalize;
	padding-left: 30px;
}

.product-container ul.centered {
  padding: 0;
}

.product-container ul.centered li {
  padding: 20px 30px;
}

.product-container ul.centered li:nth-child(odd) {
  background-color: #fafafa;
}

.product-container ul li span,
.available-domains ul li span {
  position: relative;
  top: 3px;
  margin-left: -30px;
  margin-right: 10px;
}

.product-container ul li strong {
  font-weight: 600 !important;
  color: #3f464c;
}

.product-container ul li.highlight {
	background-color: #f9f9f9;
}

.product-container ul li p {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-transform: none;
}

.product-container ul li.service {
	text-align: right;
}

.product-container ul li.service span {
	margin-left: 20px;
	float: right;
	width: 100px;
	text-align: left;
	margin-right: 150px;
}

.product-container .price {
	font-weight: 300;
	font-size: 56px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-family: "Source Sans Pro", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

.product-container .price span {
  font-size: 16px;
	font-weight: 200;
	color: #9da0a3;
	text-transform: lowercase;
}

.product-container ul li span.tip {
	color: #555;
	cursor: pointer;
}

.product-container .button.big {
	text-align: center;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	display: block !important;
	line-height: 40px;
	font-size: 20px;
	margin: 0;
	padding: 30px 0;
}

.product-container.grey .button.big {
  background-color: #96999b;
  text-shadow: none;
}

.product-container.darkblue .button.big {
  background-color: #4b5159;
  text-shadow: none;
}

.product-container.darkblue .button.big:hover {
  background-color: #3b4046;
  text-shadow: none;
}

/* @group Sub Nav */

.sub-nav {
  background-color: #fff;
}

@media (max-width: 767px) {
	.sub-nav .container {
	  padding: 0;
	}
	.sub-nav .scroll {
	  display: none;
	}
}

@media (max-width: 320px) {
	.sub-nav ul li a {
	  padding-right: 15px !important;
	  padding-left: 15px !important;
	}
}

.sub-nav ul {
  margin: 0;
}

.sub-nav ul li {
  display: inline-block;
  border-right: 1px solid #f1f1f1;
  margin-right: -4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sub-nav ul li:nth-child(1) {
  border-left: 1px solid #f1f1f1;
}

.sub-nav ul li a {
  color: #74787c;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 30px;
  /*border-top: 3px solid #fff;*/
}

.sub-nav ul li a:hover,
.sub-nav ul li.active a {
  color: #4b5159;
  background-color: #f9f9f9;
}

.sub-nav ul li.active a {
  border-top-color: #48C2D6;
}

/* ======  Bottom / Use Case Tabs  ====== */

.sub-nav.bottom ul:nth-child(1) {
  border-left: none !important;
}

.sub-nav .iconic-top-small {
  margin-bottom: 2px;
}

.sub-nav.bottom ul li.active a {
  position: relative;
  //top: 1px;
}

.sub-nav.bottom .iconic *  {
  fill: #96999b;
  stroke: #96999b;
}

.sub-nav ul li.active a .iconic * {
  fill: #48C2D6;
  stroke: #48C2D6;
}

.under-button-link {
  margin-top: 10px;
  display: block;
}

@media (max-width: 767px) {
	.sub-nav.bottom ul li {
	  border: none;
	  border-bottom: 1px solid #eaeaea;
	  display: block;
	  float: left !important;
	  margin-right: 0;
	  width: 50%;
	}
	.sub-nav.bottom ul li a {
	  padding: 15px;
	}
	.sub-nav.bottom ul li:nth-child(odd) {
	  border-right: 1px solid #eaeaea;
	}
	.sub-nav.bottom ul li:nth-child(5) {
	  display: none !important;
	}
}

/* @end */

.ribbon {
	background: url(../img/2013/ribbon.png) no-repeat right;
	width: 76px;
	height: 76px;
	position: absolute;
	margin-top: -8px;
	margin-left: -5px;
}

.ribbon-text {
	position: absolute;
	border: none;
	color: #fff;
	font-weight: 600;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	           filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	width: 76px;
	height: 76px;
	font-size: 11px;
	padding-top: 14px;
	padding-left: 16px;
}

/* ====== / Product Containers ====== */

/* ====== Pricing Tables ====== */

.price-table {
	background-color: #f9f9f9;
	margin-bottom: 20px;
}

.price-table.white {
	background-color: #fff !important;
	position: relative;
}

.price-table.white ul li:nth-child(odd) {
	background-color: #fdfdfd;
}

.price-table ul li.header {
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #3d4350;
}

.price-table ul li.header span {
	color: #3d4350;
}

.price-table a {
	margin-top: 20px;
	margin-bottom: 20px;
}

.price-table ul {
	text-align: center;
	border: 1px solid #e9e9e9;
}

.price-table ul li {
	padding: 20px;
	border-bottom: 1px solid #e9e9e9;
	font-weight: 400;
	color: #71747b;
	text-transform: capitalize;
}

.price-table ul li.highlight {
	background-color: #f9f9f9;
}

.price-table ul li p {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-transform: none;
}

.price-table ul li.service {
	text-align: right;
}

.price-table ul li.service span {
	margin-left: 20px;
	float: right;
	width: 100px;
	text-align: left;
	margin-right: 150px;
}

.price-table ul li.price {
	font-weight: 400;
	font-size: 24px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.price-table ul li.price span {
	font-weight: 200;
	color: #bbb;
	text-transform: lowercase;
}

.price-table ul li span {
	font-weight: 400;
	color: #2b3747;
}

.price-table ul li span.tip {
	color: #555;
	cursor: pointer;
}

.button.price-table {
	text-align: center;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	margin-bottom: -20px;
	display: block !important;
	line-height: 40px;
	font-size: 20px;
	margin-top: -2px;
}

.button.price-table.green {
	background-color: #a2ce30;
}

.button.price-table.green:hover {
	background-color: #98c611;
}

.button.price-table#free {
	background-color: #e9e9e9;
	color: #aaa;
	text-shadow: none;
}

.price-table ul li.header.light {
	color: #a4a4a4;
}

.price-table ul li.expire {
	color: #fd9596 !important;
}

/* @group dns compare chart */

#dns-compare-chart {
	margin-left: 0 !important;
	border-left: none;
	color: #666;
	/* margin-top: -177px; */
	border-right: 1px solid #f1f1f1;
}

#dns-compare-chart td {
	text-align: center;
	border-left: 1px solid #eee;
	background-color: #fff;
	padding: 18px;
}

#dns-compare-chart td:nth-child(even) {
	background-color: #fbfbfb !important;
}

#dns-compare-chart td:nth-child(1) {
	border-left: none;
}

#dns-compare-chart td.transparent {
	background: transparent !important;
}

#dns-compare-chart td.title.free {
	border-top: 2px solid #9da0a3;
}

#dns-compare-chart td.title.enhanced {
	border-top: 2px solid #a2ce30;
}

#dns-compare-chart td.title.plus {
	border-top: 2px solid #48C2D6;
}

#dns-compare-chart td.title.managed-access {
	border-top: 2px solid #4b5159;
}

#dns-compare-chart td.title span {
	text-align: center;
	color: #999;
	font-size: 12px;
	margin-top: -30px;
	display: block;
	position: relative;
	z-index: 1;
}

#dns-compare-chart td.title a {
	font-size: 20px;
	color: inherit;
	padding: 27px 30px;
	display: block;
	position: relative;
	z-index: 10;
	font-weight: 400;
}

#dns-compare-chart td a {
	text-align: center;
}

#remote-access-compare td.price {
	font-size: 16px;
}

#dns-compare-chart td.enhanced.price {
	color: #98c611;
}

#dns-compare-chart td.plus.price {
	color: #48C2D6;
}

#dns-compare-chart td.title.free a:hover {
	color: #333;
}

#dns-compare-chart td.title.enhanced a:hover {
	color: #98c611;
}

#dns-compare-chart td.title.plus a:hover {
	color: #48C2D6;
}

#dns-compare-chart td.title.bottom {
	border-top: none !important;
}

#dns-compare-chart td.title.free.bottom a {
  background-color: #96999b;
	border-bottom: 2px solid #808487;
	color: #fff;
}

#dns-compare-chart td.title.enhanced.bottom a {
	background-color: #a2ce30 !important;
	border-bottom: 2px solid #96bc38;
	color: #fff;
}

#dns-compare-chart td.title.enhanced.bottom a:hover {
	background-color: #96bc38 !important;
}

#dns-compare-chart td.title.plus.bottom a {
	background-color: #48C2D6 !important;
	border-bottom: 2px solid #00a7b3;
	color: #fff;
}

#dns-compare-chart td.title.plus.bottom a:hover {
	background-color: #00a7b3 !important;
}

#dns-compare-chart td.title.managed-access.bottom a {
	background-color: #4b5159 !important;
	border-bottom: 2px solid #3b4046;
	color: #fff;
}

#dns-compare-chart td.title.managed-access.bottom a:hover {
	background-color: #3b4046 !important;
}

.button-wrap {
	text-align: right;
}

#dns-compare-chart td.title {
	font-size: 18px;
	font-weight: 400;
	padding: 0 !important;
}

#dns-compare-chart td.title.bottom {
	border-left: none;
}

#dns-compare-chart td.feature {
	text-align: left !important;
	border-left: 1px solid #f1f1f1;
}

#dns-compare-chart td.check {
	color: #98c611;
	font-weight: 400;
	text-align: center;
}

#dns-compare-chart td.x {
	color: #ff2603;
	font-weight: bold;
}

/* @end */

/* ====== Product Containers ====== */

.product {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.product-title {
  border-bottom: 2px solid #a3cc3f;
	padding-bottom: 25px;
}

.product-title h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.product-title.blue {
  border-bottom-color: #48C2D6;
}

.product-title.grey {
  border-bottom-color: #96999b;
}

.product-title.darkblue {
  border-bottom-color: #4b5159;
}

.product ul li.header span {
	color: #3d4350;
}

.product a {
	margin-top: 20px;
	margin-bottom: 20px;
}

.product ul {
	padding: 0 0 30px 18px;
}

.product ul li {
	padding: 5px 0;
	color: #3f464c;
	text-transform: capitalize;
	list-style: circle;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.product ul.centered {
  padding: 0;
}

.product ul.centered li {
  text-align: center;
  padding: 20px 0;
}

.product ul.centered li:nth-child(odd) {
  background-color: #f9f9f9;
}

.product ul li span {
  position: relative;
  top: 3px;
  margin-left: -30px;
  margin-right: 10px;
}

.product ul li strong {
  font-weight: 600 !important;
  color: #3f464c;
}

.product ul li.highlight {
	background-color: #f9f9f9;
}

.product ul li p {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-transform: none;
}

.product ul li.service {
	text-align: right;
}

.product ul li.service span {
	margin-left: 20px;
	float: right;
	width: 100px;
	text-align: left;
	margin-right: 150px;
}

.product .price {
	font-weight: 300;
	font-size: 56px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Source Sans Pro", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

.product .price span {
  font-size: 16px;
	font-weight: 200;
	color: #9da0a3;
	text-transform: lowercase;
}

.product ul li span.tip {
	color: #555;
	cursor: pointer;
}

.product .button {
margin: 0;
}

.product.grey .button {
  background-color: #96999b;
  text-shadow: none;
}

.product.darkblue .button {
  background-color: #4b5159;
  text-shadow: none;
}

.product.darkblue .button:hover {
  background-color: #3b4046;
  text-shadow: none;
}

@media (max-width: 767px) {
	.product {
	  margin-bottom: 60px;
	}
	.product:last-child {
		margin-bottom: 0 ;
	}
	.hide-mobile {
	  display: none;
	}
	.topmarg {
	  margin-top: 30px !important;
	}
}


/* ====== Activate Use Cases ====== */


.tile {
  background-color: #fff;
  border: 1px solid #eaeaea;
  display: block;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}

.tile:hover {
  border-color: #48C2D6;
}

.tile .details {
  padding: 30px;
}
