body{
	background-color:white;text-align: center;margin: 0 ;padding: 0;
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
}
#topdiv{
	padding-left: 10px;padding-right: 10px;
}
#feedbacktext{
	float: left;height: 17px;margin-top: 15px;
}
#downloadapptext{
	margin: 0 auto;font-size: 8px;color: white;float: right;background-color: black;
	width:60px;height: 25px;border-radius: 2px;text-align: center;line-height: 25px;margin-top: 12px;
	
}
#posterapp{
	float: right;text-align: right;margin-top: 6px;margin-right: 4px;
}
#posterapptext1{
	font-size: 12px;color: #7c808d;
}
#posterapptext2{
	font-size: 11px;color: #b1b4ba;margin-top: -6px;
}
#logo{
	margin: 0 auto;margin-top:49px;margin-bottom:40px;height: 56px;
}
#selectordiv{
	margin: 0 auto;font-size: 12px;font-weight: bold;width: 220px;
}
#tobrowsediv{
	float: left;text-decoration: underline;color: #55a8fd;
}
#totopdiv{
	float: right;text-decoration: underline;color: #55a8fd;
}
#searchimg{
	height: 42px; float: right;position: absolute;right: 0;margin-right: 3%;margin-top: 15px;
}
#input{
	border: solid 1px #d7dce1;padding-left: 15px;width: 94%;border-radius: 3px;outline: none;
	left: 0;font-size: 16px;color: #817c6a;margin: 0 auto;height:42px;-webkit-appearance: none;
	background-color: transparent;margin-top: 15px;text-align: left;
}
#slogan{
	padding-top:1.3%;padding-left: 7.8%;
}
#sloganimg{
	float: left;width:8px;margin-top: 7px;
}
#slogantext{
	float: left;font-size: 10px;color: #b0b5bc;padding-left: 4px;margin-top: 2px;
}
#tagdiv{
	width: 94%;margin-left: 3%;margin-right: 3%;
}
.tag{
	width:47%;border: solid 1px #d8dde3;height: 32px;border-radius: 1px;
	font-size: 14px;line-height: 34px;color: #9ea3ab;margin-top:26px;overflow: hidden;padding-left: 2%;padding-right: 2%;
	text-overflow: ellipsis;white-space: nowrap;
}
#tag0{
	float: left;
}
#tag1{
	float: right;
}
#tag2{
	float: left;
}
#tag3{
	float: right;
}
#morediv{
	width: 70px;height: 26px;background-color: #94c6fa;line-height: 26px;border-radius: 1px;
	margin: 0 auto;margin-top: 22px;font-size: 12px;color: white;text-align: center;
}
#moretext{
	float: left;padding-left: 15px;
}
#moreimg{
	float: left;height: 8px;margin-top: 9px;margin-left: 3px;
}
#bottondiv{
	text-align: center;width: 22%;margin: 0 auto;margin-top:90px;padding-bottom: 20%;
}
#facebook{
	float: left;
}
#twitter{
	float: right;
}
#facebookimg{
	height:25px;
}
#twitterimg{
	height:25px ;
}
