body{
	font: 1.0em Trebuchet, Arial, Helvetica, sans-serif;
	margin:0;
	line-height: 1.35em;
	color: #001320;
    BACKGROUND-COLOR: #fdfeff;
	text-align:justify;

}

.maintable { width:100%; }
#fx2
{
	padding-left:1%; padding-right:1%; position:fixed;top:0px; left: 0px; width: 100%; height: 38px; background-color:#bfe6ff; z-index:2;
	 box-shadow: 0px 0px 0px #0099ff;  box-shadow: 0px 0px 0px #003355, -0px 0px 0px #003355;
 }.maintable3 { width:100%;  }
.maintable2 { margin-left:30px; margin-right:30px; }
         #rightbox
        {      display: none;
	position: relative;	padding-left:10px; padding-right:0px; padding-top:0px; padding-bottom:0px;
width: 130px; float:left;

        }


        #rightbox4
        {      display: none;
	position: relative; 	padding-left:100px; padding-top:0px; padding-bottom:0px; float:left;
width: 130px;
 
        }


		
        #leftbox
        {
	float:left;			padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
width: 100%;
	text-align:justify;

        }

        #centbox
        {
	float:left;			padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
width: 41%;
	text-align:justify;

        }
#bot { text-align:center; width:100%;}

  #topheading
        { 

	text-align:center;
	font: 1.4em Verdana, Arial, Helvetica, sans-serif;
	font-weight:700;
	color:#552200;
padding-top:13px;
         
        }
		

		.hometable {width:100%;}

.lft {width:50%; float:left;}
.cent {width:50%; float:left;}
.rt {width:100%; float:left;  }

.lft2 {width:50%; float:left; text-align:left; margin-bottom:15px;}
.cent2 {width:3%; float:left; text-align:right; margin-top: 3px; font-size:1.1em;}
.rt2 {width:47%; float:left; text-align:right; margin-top: 3px; margin-bottom:15px; font-size:1.1em;}
