
.slider {
    z-index: 9;
    width: 728px;
    height: 110px;
    overflow: hidden;
    margin: 0 0 1px;
    position: relative;
    border:0px solid red;
}
.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.slider ul {
    width: 9999px;
}
.slider ul li {
    list-style-type: none;
    float: left;
    width: 728px;
    height: 90px;
}
.slider .nav {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.slider .nav span {
    opacity: 0.9;
    background: #eeeeee;
    margin: 0 8px 0 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    border:1px solid #aaaaaa;
   /*box-shadow: 0 0px 2px #000;*/
}
.slider .nav span.on {
    background: #8c8c8c;
}
