﻿	
	
	
	.btn-medium {
		margin-left: 20px;
		padding: 5px 14px;
		font-size: 15px;
	}
	
	.tile-holder {
        margin-left:5px;
	}
	
	.tile-holder .span2 {
		min-width: 170px;
	}
	
	.tile-holder .span2 .thumbnail {
		padding:0;
		border:none;
	}
	
	.tile-holder .span2 div.thumbnail {
		opacity: .5;
	}
	
	.tile-holder .span2 a.thumbnail:hover,
	.tile-holder .span2 a.thumbnail:focus {
              text-decoration: none !important;
  		border-color: #0088cc;
  		-webkit-box-shadow: 0 5px 10px rgba(0, 105, 214, 0.3);
     		-moz-box-shadow: 0 5px 10px rgba(0, 105, 214, 0.3);
          	box-shadow: 0 5px 10px rgba(0, 105, 214, 0.3);
	}
	
	.tile-holder .span2 a.thumbnail.active {
		-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0, .6);
		-moz-box-shadow: 0 0 10px rgba(0,0,0, .6);
        box-shadow: 0 0 10px rgba(0,0,0, .6);
        opacity: 1.0;
        border: 1px solid rgba(0, 0, 0, 0.4);
	}
	
	.tile-holder .span2 table {
		margin-bottom:0;
        min-height:155px;
	}

	.tile-holder .span2 a.thumbnail:hover table,
	.tile-holder .span2 a.thumbnail:focus table,
	.tile-holder .span2 a.thumbnail.active table {
  		-webkit-box-shadow: none;
     		-moz-box-shadow: none;
          	box-shadow: none;
	}
	
    .tall {
        height:240px !important;
    }
	
	.tile-holder .span2 h3 {
		text-align:center;
		color:#333;
	}
	
	.tile-holder .span2 a h3 {
		color:#333;
		margin:5px 0;
		/*font-size:14px;*/
	}
	
	.tile-holder .span2 a h3 img {
		margin-right: 5px;
		width: 25px;
	}
	
	.tile-holder .span2 a h3 .badge-success {
		background-color: #5BB75B;
	}
	
	.tile-holder .span2 a h3 .badge-important {
		background-color: #DA4F49;
	}
	.tile-holder .span2 a div.results-grid {
		text-align:left
	}
	.tile-holder .span2 a div.results-grid img{
		margin-left:40px;
	}
	
	.tile-holder .span2 a div.results-grid hr {
		margin:3px 0;
	}
	
	.tile-holder .span2 a span i {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-top: 1px;
        margin-left:40px;
        padding-right: 5px;
        line-height: 20px;
        vertical-align: text-top;
        background-repeat: no-repeat;
        position:relative;
        top:-2px;
	}
    
	.tile-holder .span2 a span.text-error {
		color:#777;
	}
	.tile-holder .span2 a.active span.text-error {
		color:#DA4F49;
	}
	
	.tile-holder .span2 a span.text-error i {
        background-image: url('../images/StatusIcons/problem-gray.png');
	}
	.tile-holder .span2 a.active span.text-error i {
        background-image: url('../images/StatusIcons/problem.png');
	}
	
	.tile-holder .span2 a span.text-warning i {
        background-image: url('../images/StatusIcons/warning-gray.png');
	}
	.tile-holder .span2 a.active span.text-warning i {
        background-image: url('../images/StatusIcons/warning.png');
	}

	.tile-holder .span2 a span.totals i {
        background-image: url('../images/StatusIcons/ok-gray.png');
	}
	.tile-holder .span2 a.active span.totals i {
        background-image: url('../images/StatusIcons/ok.png');
	}
	
	.tile-holder .span2 a span.text-warning {
		color:#777;
	}
	.tile-holder .span2 a.active span.text-warning {
		color:#FAA732;
	}
	
	.tile-holder .span2 a span.totals {
		color:#777;
	}
	
	.tile-holder .span2 .accordion {
		margin-bottom:0;
	}
	
	.tile-holder .span2 .accordion-group {
		border:none;
		-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
	}
	
	.tile-holder .span2 .accordion-heading .accordion-toggle {
		padding:0;
	}

    .tile-holder .header {
        height:10px;
    }

    .tile-holder .status-color {
        height:10px;
    }
	
	.tile-holder .span2 a.thumbnail.active .status-color td {
		padding:6px 5px;
	}
	
	.active-content {
		background: url(images/active-content-down.jpg) no-repeat center top;
		padding:40px 0 0;
	}
	
	.active-content-up {
		background: url(images/active-content-up.jpg) no-repeat center bottom;
		min-height: 250px;
	}
	
	.active-content h3 {
		color:#0088cc;
	}
	
	.section-container {
		position: relative;
		margin: 15px 0;
		padding: 20px 20px 0;
		background-color: #fff;
		border: 1px solid #ddd;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
	.section-container .active {
		min-height:230px;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
	}
	
	.section-container h4 {
		padding:0;
		margin:0 0 10px 0;
		line-height:24px;
	}
    
	.section-container h2 {
		padding:0 0 5px 0;
		margin:0;
		line-height:24px;
	}
	
	.section-container hr {
		border-bottom: 4px solid #EEE;
	}
		
        #divRunning
        {
            position: absolute;
            bottom: 50%;
            right: 40%;
            z-index: 1000;
            height: 175px;
            padding: 20px;
            margin: auto;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
        }

            #divRunning h1
            {
                line-height: 24px;
            }