#bandeau { background-color: #000; font-weight: bold; font-family: arial, tahoma, arial; font-size: 11px; font-style: italic; color: #fff; text-transform: uppercase; }
#bandeau .largeur { margin: 0px auto; width: 1000px; background-color: #4b4b4d; }
#bandeau img { width: 16px; height: 16px; vertical-align: middle; margin: -2px 5px 0px 0px; }
#bandeau a { float: left; padding: 5px 10px 4px 10px; background-color: #333; color: #fff; }
#bandeau a:hover { background-color: #555; }
#bandeau .sel { color: #000; background-color: #fff; }
#bandeau .sel:hover { background-color: #fff; }
#bandeau .social { float: right; }

.titre_player_perform { background: url("/bibliotheque/image/commun/fond-titre-player.png") no-repeat 0px 0px; font-size: 11px; width: 290px; padding: 3px 0px 4px 10px; color: #fff; margin-bottom: 1px; }
.titre_player_perform, x:-moz-any-link { padding: 2px 6px 3px 6px; }
.titre_player_perform a { color: #fff; }
.titre_player_perform a:hover { color: #fff; }
.titre_player_perform b { font-weight: normal; color: #4ccdff; }

.bloc_player_perform5 { display: block; width: 300px; height: 262px; margin-bottom: 10px; }

.titre_player_perform5 { display: block; border: 1px solid #dadada; background-color: #f2f2f2; text-align: right; padding-right: 5px; }
.titre_player_perform5 a { color: #424242; font-size: 10px; font-family: arial, tahoma, verdana; font-weight: bold; padding: 0px 11px 1px 0px; background:url("/image/commun/info-fled.gif") no-repeat right center; display: block; }
.titre_player_perform5 a:hover { color: #3399cc; }

#pubcoldroite { font-family: arial, tahoma; font-weight: bold; width: 298px; border: 1px solid #174e8f; background-color: #ebf2fb; }
#pubcoldroite a { text-decoration: none; }
#pubcoldroite .txtsite { color: #174e8f; font-size: 17px; padding: 4px 0px 0px 7px; float: left; }
#pubcoldroite .txtbonus { color: #666; font-size: 10px; float: right; width: 80px; text-align: center; padding: 1px 0px 2px 0px; border-left: 1px dashed #ccc; }
#pubcoldroite .book { border-top: 1px solid #ccc; height: 43px; width: 298px; background-color: #fff; }
#pubcoldroite .book .logo { float: left; width: 137px; padding-left: 7px; height: 43px; }
#pubcoldroite .book .logo img { padding: 2px 0px; }
#pubcoldroite .book .txtmontant { float: right; color: #333; font-size: 26px; border-left: 1px dashed #ccc; height: 43px; line-height: 43px; width: 80px; text-align: center; }
#pubcoldroite .book .codepromo { float: left; color: #333333; font-size: 12px; height: 27px; padding-top: 5px; width: 59px; }
#pubcoldroite .book .codepromo b { color: #f00; }
#pubcoldroite .concours { float: left; width: 137px; padding: 6px 0px 0px 7px; height: 37px; font-size: 13px; font-style: italic; }
#pubcoldroite .txt1n2 { float: left; color: #000 ! important; text-align: center ! important; }
#pubcoldroite .book .txtpariez { float: left; background-color: #ddd; margin-top: 12px; font-weight: normal; padding: 1px 6px; border-radius: 4px; color: #333; font-family: arial, verdana, tahoma;  font-size: 13px; font-weight: bold; text-transform: uppercase; }
#pubcoldroite .book:hover .txtpariez { background-color: #333; color: #fff; }
#pubcoldroite .book:hover { background-color: #ebf2fb; cursor: pointer; }

/* --- POPUP JQUERY --- DEBUT --------------*/
#poplight {
	background: #fff;
	padding: 2px;
	border-radius: 8px;
	float: left;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
}
#poplight_fond {
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 9999;
}
.poplight_bloc { display: none; }
.poplight_titre {
	color: #fff;
	background: #444;
	text-align: center;
	text-transform: uppercase;
	padding: 3px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	display: block;
	font-family: arial, tahoma, verdana;
	font-size: 13px;
	font-weight: bold;
	clear: both;
}
/* Pour IE6 */
*html #poplight_fond { position: absolute; }
*html .poplight_bloc { position: absolute; }
/* --- POPUP JQUERY --- FIN ----------------*/

#pubpoplight table td { padding: 10px 0px; font-family: arial, tahoma; border-bottom: 1px solid #ccc; }
#pubpoplight table .c1 { padding-left: 10px; width: 80px; }
#pubpoplight table .c2 { padding-left: 10px; width: 80px; }
#pubpoplight table .c3 { padding-left: 10px; width: 220px; }
#pubpoplight table .c4 { width: 140px; text-align: center; }
#pubpoplight .date { color: #999; font-size: 13px; }
#pubpoplight .match { color: #000; font-size: 17px; font-weight: bold; }
#pubpoplight .btnpariez { background-color: #008000; color: #fff; border-radius: 20px; padding: 10px; font-size: 20px; font-weight; bold; }
#pubpoplight .btnpariez:hover { background-color: #000; }
#pubpoplight .mention1 { font-family: arial, tahoma; font-size: 10px; color: #eee; line-height: 12px; text-align: center; padding: 5px 0px; background-color: #444; }
#pubpoplight .mention2 { font-family: arial, tahoma; font-size: 10px; color: #666; line-height: 12px; text-align: center; padding: 5px 0px; }

.multipage { line-height: 15px; color: #000; }
.multipage { font-family: arial, tahoma, verdana; font-size: 11px; }
.multipage a { color: #000 ! important; text-decoration: none ! important; height: 15px; display: inline-block; border: 1px solid #aaa; border-radius: 4px; }
.multipage .prec { background: url("/bibliotheque/image/sprite/generique.png") no-repeat left -1px, linear-gradient(to bottom, #f2f2f2, #cfcfcf);  padding: 0px 5px 0px 14px; margin: 5px 0px; }
.multipage .suiv { background: url("/bibliotheque/image/sprite/generique.png") no-repeat right -21px, linear-gradient(to bottom, #f2f2f2, #cfcfcf); padding: 0px 14px 0px 5px; margin: 5px 0px; }
.multipage .dern { background: url("/bibliotheque/image/sprite/generique.png") no-repeat center -61px, linear-gradient(to bottom, #f2f2f2, #cfcfcf); float: right; width: 20px; margin: 5px; }
.multipage .prem { background: url("/bibliotheque/image/sprite/generique.png") no-repeat center -41px, linear-gradient(to bottom, #f2f2f2, #cfcfcf); float: left; width: 20px; margin: 5px; }
.multipage .prec:hover { background: url("/bibliotheque/image/sprite/generique.png") no-repeat left -1px, linear-gradient(to bottom, #ebf2fb, #99ccff); }
.multipage .suiv:hover { background: url("/bibliotheque/image/sprite/generique.png") no-repeat right -21px, linear-gradient(to bottom, #ebf2fb, #99ccff); }
.multipage .dern:hover { background: url("/bibliotheque/image/sprite/generique.png") no-repeat center -61px, linear-gradient(to bottom, #ebf2fb, #99ccff); }
.multipage .prem:hover { background: url("/bibliotheque/image/sprite/generique.png") no-repeat center -41px, linear-gradient(to bottom, #ebf2fb, #99ccff); }