	
	/* ---------------------------------------- */
	/* ---------------------------------------- */
	/* ---- CSS+xHTML written by tehorionx ---- */
	/* --------- tehorionx@gmail.com ---------- */
	/* ---------------------------------------- */
	/* --------------- CSS3 ------------------- */


@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin,latin-ext);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, b, u, i, ins, dl, dt, dd, ol, ul, li, abbr, fieldset, form, label, legend, input, textarea, select {margin:0px; padding:0px; border:0px; outline:0px; text-decoration:none;}
ol, ul, li {list-style:none;}
input, textarea, select {background:none;}
textarea {resize:none; overflow:auto;}
body {
	line-height:1; font-family:'Oswald';
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}
a {text-decoration:none; outline:none;}
a:focus {background-color:transparent;}
a:active {background-color:transparent;}
.pull-left { float: left }
.pull-right { float: right }
.fx {clear:both; font-size:0px; line-height:0px; line-height:0%;}
.clearfix:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}
.clearfix{ display:inline-block; }
html[xmlns] .clearfix{ display:block; }
* html .clearfix{ height:1%; }
.line-shd { height: 1px; background-color: #eaeaea; box-shadow: 0 1px 3px #eee }
.ad { margin-bottom: 20px; text-align: center; }
/*WRAPPER*/
.wrap {width:980px; margin:0px auto; position: relative; background-color: #fff; z-index: 4}
.wrap abbr.sd {width:1px; height:100%; background:#ebebeb; top:0px; right:320px; position:absolute;}

.PageskinSticy { position: absolute; top: 0; right: -10px; z-index: 3 }
.PageskinSticy .BannerCode { position: fixed; }

/*HEADER*/
.headr { position: relative; background-color: #fff }
.headr .task {width:980px; height:34px; margin:0px auto; position:relative; z-index: 3}
.headr .task .m {float:left; height:34px; overflow: hidden; line-height:34px;}
.headr .task .m li {float:left; margin-right:30px; font-weight:300; font-size:13px;}
.headr .task .m li:last-child {margin:0px;}
.headr .task .m a {display:block; color:#666; line-height:34px; position:relative;}
.headr .task .m a:hover { color: #000; }
.headr .task .m a.c0 {color:#f90018;}
.headr .task .m a.c1 {color:#4db4da;}
.headr .task .m a.c2 {color:#fa0000;}
.headr .task .m a.c3 {color:#e70000;}
.headr .task .m a.c4 {color:#fb7f23;}
.headr .task .m a i {float:right; width:9px; height:9px; background:url(s.png?v=2) no-repeat;}
.headr .task .m a.i1 i {background-position:-195px -154px; margin:12px 0px 0px 1px;}
.headr .task .m a.i2 i {background-position:-205px -154px; margin:12px 0px 0px 4px;}
.headr .task .m a b {width:0; height:0; margin-left:-5px; left:50%; bottom:0px; position:absolute;}
.headr .task .m a.act b {border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #e70000;}
.headr .task .u {float:right; width:90px; height:34px; line-height:34px; overflow:hidden;}
.headr .task .u a.bt {display:block; height:34px; line-height:34px; padding-right:15px; text-align:right; font-weight:300; font-size:13px; color:#8fa8ca; position:relative;}
.headr .task .u a.bt i {width:11px; height:6px; background:url(s.png?v=2) -183px -154px no-repeat; position:absolute; right:0px; top:14px;}
.headr .task .p {display:none; width:117px; padding:6px 0px 6px 11px; border:1px solid #4a70a5; background:#fff; right:0px; top:30px; z-index:6; position:absolute;}
.headr .task .p span {display:block; font-weight:300; font-size:13px;}
.headr .task .p a {display:block; padding:5px 0px 5px 0px; color:#666;}
.headr .task .p i {float:left; width:14px; height:14px; margin:0px 8px 0px 0px; background:url(s.png?v=2) no-repeat;}
.headr .task .p .i1 i {background-position:-286px -330px;}
.headr .task .p .i2 i {background-position:-286px -344px;}
.headr .task .p .i3 i {background-position:-286px -358px;}
.headr .task .p .i4 i {width:12px; height:12px; margin-top:1px; background-position:-255px -412px;}
.headr .task .p .i5 i {width:12px; height:12px; margin-top:1px; background-position:-268px -412px;}
.headr .task .w {padding:10px; border:1px solid #4a70a5; background:#fff; right:0px; top:30px; position:absolute;}
.headr .task .w.f1 {display:none; z-index:7;}
.headr .task .w.f2 {display:none; z-index:9;}
.headr .task .w.f3 {display:none; z-index:8;}
.headr .task .w ins {font-size:0px; font-weight:300; text-indent:-35px; line-height:6px; color:#999; width:9px; height:9px; background:url(s.png?v=2) -176px -161px no-repeat; cursor:pointer; right:15px; top:15px; z-index:5; position:absolute;}
.headr .task .w ins:hover {font-size:11px;}
.headr .task .w p {width:224px; margin:0px auto; padding:30px 0px; text-align:center; font-weight:300; font-size:18px; color:#999;}
.headr .task .w p i {display:block; width:224px; height:36px; background:url(s.png?v=2) 0px -82px no-repeat;}
.headr .task .w p small {display:block; padding:30px 15px 0px 15px; line-height:18px; font-size:15px; color:#666;}
.headr .task .w span {display:block; position:relative;}
.headr .task .w span i {background:url(s.png?v=2) no-repeat; position:absolute; z-index:3;}
.headr .task .w input {height:28px; font-family:'Oswald'; font-weight:300; font-size:15px; color:#ccc; border:1px solid #ddd; border-radius:4px;}
.headr .task .w input:focus {color:#222; border-color:#00baff;}
.headr .task .w input.bt {height:auto; border:0px; padding:3px 20px 1px 20px; font-size:15px; color:#fff; background:#00baff; cursor:pointer;}
.headr .task .w label {display:block; margin-bottom:20px; text-align:center; font-weight:300; font-size:15px; color:#999;}
.headr .task .w label a {color:#ed1c24;}
.headr .task .w label input {width:auto; height:auto; border:0px;}
.headr .task .w abbr {display:block; font-weight:300; font-size:15px; color:#999;}
.headr .task .w abbr a {margin-left:5px; color:#00baff;}
.headr .task .w.f1 div {width:224px; margin:0px auto 30px auto;}
.headr .task .w.f1 span {width:224px; margin-bottom:12px;}
.headr .task .w.f1 span b {font-weight:300; font-size:15px; color:#ccc; line-height:28px; left:8px; position:absolute;}
.headr .task .w.f1 span i {width:12px; height:12px; left:8px; top:9px;}
.headr .task .w.f1 span i.i1 {background-position:-175px -170px;}
.headr .task .w.f1 span i.i2 {width:13px; background-position:-281px -412px; left:55px;}
.headr .task .w.f1 span input {width:190px; padding:0px 8px 0px 28px; text-align:right;}
.headr .task .w.f1 span input.x2 {width:130px; padding:0px 8px 0px 88px; text-align:right;}
.headr .task .w.f1 label {text-align:left;}
.headr .task .w.f2 div {width:280px; margin:0px auto 20px auto;}
.headr .task .w.f2 span {width:280px; margin-bottom:14px;}
.headr .task .w.f2 span b {font-weight:300; font-size:15px; color:#ccc; line-height:30px; left:8px; position:absolute;}
.headr .task .w.f2 span i {width:13px; height:12px; left:70px; top:9px; background-position:-281px -412px;}
.headr .task .w.f2 span i.a {width:5px; height:28px; left:95px; top:1px; background-position:-295px -372px;}
.headr .task .w.f2 span input {width:270px; padding-left:8px;}
.headr .task .w.f2 span input.a1 {width:127px;}
.headr .task .w.f2 span input.a2 {width:127px; margin-left:6px;}
.headr .task .w.f2 span input.a4 {width:170px; padding-left:108px;}
.headr .task .w.f2 label {text-align:left; padding-top:20px;}
.headr .task .w.f2 div.c {width:312px; font-size:12px; text-align:center;}
.headr .task .w.f2 input.bt {display:block; margin-left:49px;}
.headr .task .w.f3 div {width:230px; margin:0px auto 50px auto;}
.headr .task .w.f3 span {width:230px; margin-bottom:20px;}
.headr .task .w.f3 span i {width:12px; height:12px; left:8px; top:9px; background-position:-175px -170px;}
.headr .task .w.f3 span input {width:190px; padding:0px 8px 0px 30px; text-align:right;}
.headr .task .w.f3 input.bt {display:block; margin:0px auto;}
.headr .naviwrp { height: 54px; padding-bottom: 20px }
.headr .navi {position:relative;height:54px; background:#e70000; width: 100%; z-index: 7 }
.headr .navi .wrp {width:980px; margin:0px auto; height:54px; position:relative; z-index: 5}
.headr .navi .s {float:left; width:250px; height:47px; padding-top:7px;}
.headr .navi .s .hlogo {width:250px; height:41px; background:url(s.png?v=2) no-repeat; position:relative;}
.headr .navi .s .hlogo a {display:block; font-size:0px; height:41px;}
.headr .navi .s .hlogo b {font-weight:700; font-size:48px; color:#ff7e00; right:-69px; top:-1px; position:absolute;}
.headr .navi .s small {float:right; margin-top:-9px; font-size:11px; color:#fc9191;}
.headr .navi .m {float:right; height:54px;}
.headr .navi .m ol > li {float:left; height:54px; padding-left:20px; font-weight:400; font-size:15px;}
.headr .navi .m ol > li > a {display:block; line-height:54px; color:#fff; position:relative;}
.headr .navi .m ol > li > a.h {font-size:0px; width:17px; height:16px; margin-top:19px; background:url(s.png?v=2) -215px -147px no-repeat;}
.headr .navi .m ol > li > a.h.act i {bottom:-19px;}
.headr .navi .m ol > li > a > b {float:right; width:0; height:0; margin:25px 0px 0px 5px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #ff8989;}
.headr .navi .m ol > li > a > i {width:0; height:0; margin-left:-5px; left:50%; bottom:0px; position:absolute;}
.headr .navi .m ol > li > a:hover {color:#fff;}
.headr .navi .m ol > li > a:hover b {border-top:5px solid #fff;}
.headr .navi .m ol > li > a.act {color:#fff;}
.headr .navi .m ol > li > a.act b {border-top:5px solid #fff;}
.headr .navi .m ol > li > a.act i {border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #fff;}
.headr .navi .m ol > li.icon_p > a { padding-left: 20px; color: #ffc600 }
.headr .navi .m ol > li.icon_p > a > i { top: 18px; left: 0; display: inline-block; width: 19px; height: 16px; margin-right: 5px; background: url(s.png?v=2) -281px -445px no-repeat; }
.headr .navi .m ol > li.icon_v > a { padding-left: 20px; color: #333333 }
.headr .navi .m ol > li.icon_v > a > i { top: 20px; left: 0; display: inline-block; width: 19px; height: 15px; margin-right: 5px; background: url(s.png?v=2) -262px -446px no-repeat; }
.headr .navi .m .iftar-counter { position: absolute; top: -7px; right:150px; width:570px; height:74px; background: url("hdr_rmz.png?v=1") no-repeat; }
.headr .navi .m .iftar-counter h2 { position: absolute; top: 17px; left: 0px; width:126px; text-align: center; font-size: 20px; }
.headr .navi .m .iftar-counter h2 span { display:block; font-size: 14px;}
.headr .navi .m .iftar-counter ul { position: absolute; left: 150px; top: 14px; }
.headr .navi .m .iftar-counter ul li { float: left; height: 74px; }
.headr .navi .m .iftar-counter ul li .saat,
.headr .navi .m .iftar-counter ul li .dakika,
.headr .navi .m .iftar-counter ul li .saniye { float: left; font-size: 40px; margin-right: 5px; }
.headr .navi .m .iftar-counter ul li .timeLabel { float: left; font-size: 12px; margin-top: 16px; margin-right: 30px; }
.headr .navi .m .iftar-counter .all { position:absolute; right: 40px; top: 22px; font-size: 14px; color: #000; }
.headr .navi .m .iftar-counter .sel-city { position:absolute; top: 25px; right:40px; }
.headr .navi .m .iftar-counter .sel-city span { cursor: pointer; }
.headr .navi .m .iftar-counter .sel-city-lst { display:none; position: absolute; left: -20px; top: 25px; width: 116px; height: 200px; padding: 5px; box-shadow: 0 0 5px #999; background-color: #fff; overflow-y:auto; }
.headr .navi .m .iftar-counter .sel-city-lst span { display: block; font-family: Arial; font-size: 12px; font-weight: 400; padding: 1px 5px; cursor:pointer; }
.headr .navi .m .iftar-counter .sel-city-lst span:hover { background-color: #eaeaea;  }


.headr .navi .sm {display:none; width:978px; border:1px solid #e70000; border-top:0px; background:#fff; left:0px; top:54px; z-index:8; position:absolute;}
.headr .navi .sm ul { padding-top:14px; margin-right:4px; margin-left:39px; }
.headr .navi .sm li {float:left; width:175px; margin-bottom:14px; font-weight:300; font-size:14px;}
.headr .navi .sm a {color:#666;}
.headr .navi .sm a.c1 {color:#4db4da;}
.headr .navi .sm a.c2 {color:#fa0000;}
.headr .navi .sm a.c3 {color:#e70000;}
.headr .navi .sm a strong {font-weight:300; color:#000;}
.headr .navi .sm a.c1 strong {color:#4db4da;}
.headr .navi .sm a.c2 strong {color:#fa0000;}
.headr .navi .sm a.c3 strong {color:#e70000;}
.headr .navi .sm a:hover {text-decoration:underline;}
.headr .navi .other em { display: inline-block; background: url(s.png?v=2) no-repeat; width: 20px !important; height: 16px !important; background-position: -128px -456px }
.headr .tags {width:980px; height:40px; margin:0px auto;}
.headr .tags .m {float:left; width:920px; height:40px; margin-right:20px; overflow:hidden;}
.headr .tags .m dl {width:980px; line-height:40px; font-weight:300; font-size:15px; color:#e70000;}
.headr .tags .m dt {float:left; height:40px; margin-right:20px; position:relative;}
.headr .tags .m dt a {color:#e70000;}
.headr .tags .m dt i {width:0; height:0; margin-left:-5px; left:50%; bottom:0px; position:absolute;}
.headr .tags .m dt.act i {border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #e70000;}
.headr .navi li .s {float:left; width:38px; height:40px; position:relative; right:-1px;}
.headr .navi li .s.s2 {right:0px;}
.headr .navi li .s ins {display:block; width:38px; height:40px; cursor:pointer; background:url(s.png?v=2) -255px -372px no-repeat;}
.headr .navi li .s ins.act {background:url(b.png) -286px -638px no-repeat;}
.headr .navi li .s span {display:none; width:260px; height:34px; padding-top:6px; background:#fff; right:38px; top:7px; z-index:6; position:absolute;}
.headr .navi li .s input {display:inline-block; float:left; text-align:center; color:#666;}
.headr .navi li .s .tx {width:190px; height:28px; margin-left:7px; padding:0px 5px; border:1px solid #ddd; background:#fff;}
.headr .navi li .s .bt {width:45px; height:30px; padding-top:1px; font-weight:700; font-size:12px; color:#fff; background:#e70000; cursor:pointer;}
.headr .fbar {height:100px; background:#252525;}
.headr .fbar .wrp {width:980px; margin:0px auto; height:100px; position:relative;}
.headr .fbar h1 {float:left; width:212px; height:41px; margin-top:30px; background:url(s.png?v=2) 0px -233px no-repeat;}
.headr .fbar h1 a {display:block; font-size:0px; height:41px;}
.headr .fbar .ads {float:right; width:728px; height:90px; margin-top:5px;}

.hdr-pht { width: 980px; height: 50px; margin: auto auto 20px auto; position: relative; }
.hdr-pht .logo { display: block; position: absolute; top: 10px; width: 224px; font-size: 11px; text-align: right; color: #999; }
.hdr-pht .logo em { display: block; width: 224px; height: 36px; background: url(s.png?v=2) 0 -83px no-repeat; }
.hdr-pht nav { display: block; position: absolute; top: 25px; left: 350px }
.hdr-pht nav a { font-size: 16px; font-weight: 300; color: #666; }
.hdr-pht nav a.home { display: inline-block; margin-right: 10px; font-size: 0; width: 17px; height: 16px; background: url(s.png?v=2) -183px -580px no-repeat }
.hdr-pht nav i { display: inline-block; width: 0; height: 0; margin-right: 10px; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid #666 }
.hdr-pht .hsrch { position: absolute; top: 20px; right: 50px }
.hdr-pht .hsrch .itxt { width: 220px; height: 10px; padding: 10px; font-size: 12px; font-weight: 400; border: 1px solid #ccc; }
.hdr-pht .hsrch i { display: block; position: absolute; right: 6px; top: 6px; width: 18px; height: 18px; background: url(s.png?v=2) -209px -579px no-repeat }
.hdr-pht .menu { display: block; height: 40px; float: right; margin: 26px 0 0 0 }
.hdr-pht .menu .mn {  }
.hdr-pht .menu .mn em { display: block; width: 20px; height: 16px; background: url(s.png?v=2) -230px -579px no-repeat }
.hdr-pht .menu .sm {display:none; width:980px;background:#f1f1f1; left:0px; top:62px; z-index:8; position:absolute }
.hdr-pht .menu .sm ul { padding-top:14px; margin-right:4px; margin-left:39px; }
.hdr-pht .menu .sm li {float:left; width:112px; margin-bottom:14px; font-weight:300; font-size:14px;}
.hdr-pht .menu .sm a {color:#666;}
.hdr-pht .menu .sm a strong { font-weight: 300 }
.hdr-pht .menu .sm a:hover { text-decoration: underline; }

/*SON DAKIKA*/
.nwslm {height:80px; overflow: hidden; margin-bottom: 20px; background:#ffc322;}
.nwslm h2 {float:left; width:175px; height:80px; line-height:80px; text-align:center; font-weight:400; font-size:30px; color:#fff; background:#000;}
.nwslm h2 span {}
.nwslm i {float:left; width:0; height:0; margin:32px 35px 0px 0px; border-top:8px solid transparent; border-bottom:8px solid transparent; border-left:8px solid #000;}
.nwslm .nwslmcnt { width: 750px; overflow: hidden; }
.nwslm ul { padding: 0; list-style: none }
.nwslm ul li { display: block; padding:0 56px 0px 0px; height: 80px; overflow: hidden; line-height:34px; font-weight:300; font-size:26px; color:#000; }
.nwslm ul li a {color:#000;}
.nwslm ul li span {color:#ef0000;}
.nwslm ul li p { display: table-cell; vertical-align: middle; height: 80px }

/*MAIN SLIDER*/
.flash {width:980px; height:240px; background:#f5f6f9; overflow:hidden;}
.fsldr {height:240px; overflow:hidden;}
.shwcs {background:#f0f0f0; position:relative;}
.shwcs ins {width:34px; height:69px; cursor:pointer; position:absolute; background:url(s.png?v=2) no-repeat; z-index:2;}
.shwcs .prv {background-position:-230px -479px; left:0px; top: 85px}
.shwcs .nxt {background-position:-196px -479px; right:0px; top: 85px}
.shwcs .cnt {width:980px; height: 240px; margin-left:0; overflow:hidden;}
.shwcs .cnt ul {width:980px; height: 240px}
.shwcs .cnt li {float:left; width: 980px; height: 240px; margin-right:0;}
.shwcs .cnt li a {display:block;}
.shwcs .cnt li img {display:block;}
.shwcs .cnt li span {display:block; padding:0px 13px; line-height:24px; font-size:20px; font-weight:300; color:#010202;}
.shwcs .cnt li b {display:block; font-weight:300; color:#eb0000;}

.shwcs .cnt li.s1 { width: 980px; margin-right: 0 }

.shwcs .cnt li.s5 {width:180px; height:210px; margin-top: 15px; margin-left: 13px; background-color: #fff}
.shwcs .cnt li.s5 img {width:180px; height:120px; margin-bottom:5px;}
.shwcs .cnt li.s5 span {display:block;}

.shwcs .cnt li.s4 {width:220px; height:210px; margin-top: 15px; margin-left: 20px; background-color: #fff}
.shwcs .cnt li.s4 img {width:220px; height:147px; margin-bottom:5px;}
.shwcs .cnt li.s4 span {display:block;}

.shwcs .cnt li.s3 {width:300px; height:195px; margin-top: 24px; margin-left: 20px; background-color: #fff}
.shwcs .cnt li.s3 img {width:300px; height:155px; margin-bottom:5px;}
.shwcs .cnt li.s3 span {display:block; height: 24px; overflow: hidden; font-size: 18px}

.shwcs .cnt li.s2 {width:460px; height:193px; margin-top: 22px; margin-left: 20px; background-color: #fff}
.shwcs .cnt li.s2 img {width:460px; height:193px; margin-bottom:5px;}
.shwcs .cnt li.s2 span {display:block;}

.ftsldr { position: relative; width: 980px; height: 240px }
.ftsldr .fts-pag { position: absolute; top: 10px; right: 10px }
.ftsldr .fts-pag a { display: inline-block; width: 25px; height: 21px; padding-top: 4px; margin-right: 10px; border-radius: 50%; background-color: #fff; box-shadow: 0 1px 0 #aaa; text-align: center; color: #aaa; }
.ftsldr .fts-pag a.selected { background-color: #d20c0c; color: #fff; box-shadow: inset 0 2px 5px rgba(0,0,0,0.50); }

/*SIZED SLIDER*/
.szsld {margin-bottom:30px; height:386px }
.szsld .sldr {position: relative; float:left; width:660px; height:350px; padding:19px 0 }
.szsld .sldr .cnt {width:660px; height:340px; overflow:hidden;}
.szsld .sldr .cnt p {width:660px; height:340px; position:relative; float: left}
.szsld .sldr .cnt span {width:22px; font-size:0px; left:0px; top:35px; z-index:3; position:absolute;}
.szsld .sldr .cnt span a {display:block; width:22px; height:22px; background:url(s.png?v=2) no-repeat;}
.szsld .sldr .cnt a.tw {background-position:-150px -183px;}
.szsld .sldr .cnt a.fb {background-position:-196px -183px;}
.szsld .sldr .cnt a.gp {background-position:-173px -183px;}
.szsld .sldr .nav {position: relative; width:658px; height:35px; border: 1px solid #f3f3f3; border-top: 0; line-height:35px; text-align:center; font-size:13px;}
.szsld .sldr .nav span {  }
.szsld .sldr .nav a i {display:block; width:8px; height:18px; margin:8px auto; background:url(s.png?v=2) no-repeat;}
.szsld .sldr .nav a {float:left; width:24px; height:35px; color:#999999; background:#fff;}
.szsld .sldr .nav a.prv {margin:0px; width:27px;}
.szsld .sldr .nav a.prv i {background-position:-249px -135px;}
.szsld .sldr .nav a.nxt {width:27px;}
.szsld .sldr .nav a.nxt i {background-position:-258px -135px;}
.szsld .sldr .nav a.all {position: absolute; right: 0; width:58px; color:#999999; background:#fff;}
.szsld .sldr .nav a.selected {color:#999999; background:#ececec;}

.szsld .sldr .prv,
.szsld .sldr .nxt {width:34px; height:69px; cursor:pointer; position:absolute; background:url(s.png?v=2) no-repeat; z-index:99999;}
.szsld .sldr .prv {background-position:-230px -479px; left:0px; top: 160px}
.szsld .sldr .nxt {background-position:-196px -479px; right:0px; top: 160px}

.szsld .advr {float:right; width:300px; padding-top: 19px }
.szsld .advr small {display:block; height:44px; line-height:44px; font-size:14px; font-weight:300; color:#acbad9;}
.szsld .advr span {display:block; height:250px;}
/*TAB SLIDER*/
.tbsld {margin-bottom:30px;}
.tbsld .task {height:22px; margin-bottom:30px; border-bottom:1px solid #ebebeb;}
.tbsld .task h2 {float:left; line-height:16px; color:#ec0000; font-size:24px; font-weight:400;}
.tbsld .task a {float:right; height:22px; line-height:22px; padding:0px 10px; margin-left:2px; font-weight:300; font-size:14px; color:#ec0000; background:#e2e2e2;}
.tbsld .task a.all {color:#fff; background:#c6cbdb;}
.tbsld .news {height:84px;}
.tbsld .news ins {float:left; width:45px; height:84px;}
.tbsld .news ins i {display:block; width:14px; height:28px; margin:28px auto; cursor:pointer; background:url(s.png?v=2) no-repeat;}
.tbsld .news ins.prv i {background-position:-219px -118px;}
.tbsld .news ins.nxt i {background-position:-234px -118px;}
.tbsld .news .cnt {float:left; width:890px; height:84px; overflow:hidden;}
.tbsld .news .cnt ul {width:920px;}
.tbsld .news .cnt li {float:left; width:200px; height:84px; margin-right:30px;}
/*PIN NEWSBOX*/
.pnbox {padding-top:15px; border:1px solid #ebebeb; position:relative;}
.pnbox h3 {padding-bottom:8px; margin:0px 32px 25px 32px; color:#ec0000; font-size:24px; font-weight:400; border-bottom:1px solid #ebebeb;}
.pnbox h5 {padding:0 0px 8px 0px; margin:0px 32px 25px 32px; color:#ec0000; font-size:24px; font-weight:400; border-bottom:1px solid #ebebeb; position:relative;}
.pnbox abbr {width:1px; height:100%; background:#ebebeb; top:0px; position:absolute;}
.pnbox abbr.a {left:324px;}
.pnbox abbr.b {right:324px;}
.pnbox .news {float:left; width:324px; margin-right:1px;}
.pnbox .news ul {width:260px; margin-left:32px;}
.pnbox .news li {margin-bottom:25px; border-bottom:2px solid #f1f3f8;}
.pnbox .news li p {margin:0px 0px 5px 125px; font-size:13px; color:#999;}
.pnbox .news li p a { font-weight: 300; color:#999;}
.pnbox .news li span {display:block; height:100px; line-height:22px; font-size:19px; font-weight:300;}
.pnbox .news li span a {color:#010202;}
.pnbox .news li span img {float:left; margin:-16px 10px 0px 0px;}
.pnbox .news li span i {display:none; width:40px; height:40px; right:0px; bottom:0px; background:url(s.png?v=2) no-repeat; position:absolute;}
.pnbox .news li.fea {padding-bottom:25px;}
.pnbox .news li.fea p {margin:10px 0px;}
.pnbox .news li.fea span {height:auto; position:relative;}
.pnbox .news li.fea span img {float:none; margin:0px; display:block;}
.pnbox .news li.fea.vo span i {display:block; background-position:-219px -165px;}
.pnbox .news li.fea.po span i {display:block; background-position:-260px -165px;}
.pnbox .news li:last-child {border-bottom:0px;}
.pnbox .stry {float:left; width:328px;}
.pnbox .stry h3 a {float:right; line-height:30px; color:#333; font-size:18px; font-weight:300;}
.pnbox .stry h5 a {float:right; line-height:30px; color:#333; font-size:18px; font-weight:300;}
.pnbox .stry h5 i {width:328px; height:1px; background:#ebebeb; left:-32px; top:0px; position:absolute;}
.pnbox .stry ul {margin:0px 32px;}
.pnbox .stry li {margin-bottom:30px;}
.pnbox .stry li p {margin-bottom:30px; line-height:16px; font-size:15px; color:#666; font-weight: 300}
.pnbox .stry li p a {color:#666;}
.pnbox .stry li p img {display:block; margin-top:10px;}
.pnbox .stry li p strong {display:block; margin-bottom:5px; line-height:20px; font-family:'Oswald'; font-size:19px; font-weight:300; color:#010202;}
.pnbox .stry li p em { display: block; font-style: normal; height: 60px; overflow: hidden; line-height: 20px }
.pnbox .stry li span {display:block; height:55px; border-bottom:1px solid #ebebeb;}
.pnbox .stry li span img { float:left; margin-right:11px; border:1px solid #ddd; border-radius: 50% }
.pnbox .stry li span b {display:block; padding:4px 0px; font-size:16px; font-weight:400; color:#000;}
.pnbox .stry li span small { font-size:14px; font-weight:300; color:#999;}
.pnbox .stry li:last-child {margin-bottom:0px;}
.pnbox .stry li:last-child span {border-bottom:0px;}
.pnbox .most {float:left; width:324px; margin-left:1px;}
.pnbox .most ul {width:260px; margin-left:32px;}
.pnbox .most li {margin-bottom:20px; border-bottom:1px solid #e8ebf4;}
.pnbox .most li span {display:block; margin-bottom:10px;}
.pnbox .most li p { font-size:13px; color:#999; margin-bottom:5px;}
.pnbox .most li p a { font-weight: 300; color:#999;}
.pnbox .most li strong {display:block; margin-bottom:25px; line-height:24px; font-size:20px; font-weight:300; color:#333;}
.pnbox .most li strong a {color:#333;}
.pnbox .most li:last-child {border-bottom:0px;}
.pnbox .most .soc {margin:-15px 0px 35px 0px;}
.pnbox .rfms { float:left; width:324px; margin-left:1px; }
.pnbox .rfms h5 { margin: 0 0 25px 0; }
.pnbox .rfms h5 a {float:right; line-height:30px; color:#333; font-size:18px; font-weight:300;}
.pnbox .interview { width: 260px; height: 310px; overflow: hidden; margin: auto }
.pnbox .interview ul {  }
.pnbox .interview ul li { float: left; width: 260px; height: 227px }
.pnbox .interview ul li a { display: block; color: #333; }
.pnbox .interview ul li a img { width: 260px; height: 173px; margin-bottom: 10px }
.pnbox .interview ul li a span { display: block; font-size: 18px; line-height: 22px; font-weight: 300 }
.pnbox .interview .intr-pag { margin-top: 10px; text-align: center; }
.pnbox .interview .intr-pag a { display: inline-block; width: 9px; height: 9px; border-radius: 50%; margin-left: 5px; margin-right: 5px; overflow: hidden; text-indent: -9999px; background-color: #ccc }
.pnbox .interview .intr-pag a.selected { background-color: #ff0000 }


/*CATEGORY NEWSBOX*/
.cgbox {margin-bottom:30px; padding:30px 0; border-top:0px;}
.cgbox h4 {margin-bottom:12px; color:#ec0000; font-size:24px; font-weight:400;}
.cgbox .fnws {float:left; width:660px; height:340px; margin-bottom:25px;}
.cgbox .awgt {float:right; width:300px; height:260px; margin-bottom:25px; background:url(b.png) -11px -268px no-repeat;}
.cgbox .awgt a {display:block; font-size:0px; width:276px; height:173px; margin:50px auto 0px auto; background:url(b.png) 0px -530px no-repeat;}
.cgbox .bnnr {float:right; width:300px; height:250px; margin-bottom:25px;}
.cgbox .onws {width:980px; height:204px; overflow:hidden;}
.cgbox .onws a {color:#010202;}
.cgbox .onws ul {width:980px; font-weight:300; font-size:20px;}
.cgbox .onws li {float:left; width:220px; margin-right:33px; line-height:24px;}
.cgbox .onws li:last-child { margin-right: 0 }
.cgbox .onws img {display:block; margin-bottom:7px;}
.cgbox .onws span {display:block; color:#eb0000;}
/*REGIONAL NEWSBOX*/
.rgnws {margin-bottom:30px;}
.rgnws .task {height:32px;}
.rgnws .task h5 {float:left; padding-left:20px; color:#ec0000; font-size:24px; font-weight:400;}
.rgnws .task select {float:right; margin-right:10px; padding:0px 10px 3px 10px; background:#ec0000; color:#fff;}
.rgnws .news {padding:15px 0px; border:1px solid #d9deec;}
.rgnws .news ins {float:left; width:41px; height:170px; padding:100px 0px 0px 18px;}
.rgnws .news ins i {display:block; width:23px; height:44px; cursor:pointer; background:url(s.png?v=2) no-repeat;}
.rgnws .news ins.prv i {background-position:-253px 0px;}
.rgnws .news ins.nxt i {background-position:-277px 0px;}
.rgnws .news .cnt {float:left; width:860px; height:270px; overflow:hidden;}
.rgnws .news ul {width:880px; height:270px;}
.rgnws .news li {float:left; width:200px; height:270px; margin-right:20px;}
.rgnws .news p {height:200px; padding:25px 20px 15px 20px; line-height:16px; font-size:13px; border:1px solid #f1f5fe;}
.rgnws .news p a {color:#999;}
.rgnws .news strong {display:block; margin-bottom:15px; color:#666; line-height:22px; font-size:18px; font-weight:300; font-family:'Oswald';}
.rgnws .news span {display:block; height:28px; line-height:30px; text-align:center; background:#97a0c2;}
.rgnws .news span a {display:block; color:#fff;}
/*WHOIS BOX*/
.wsbox {margin-bottom:30px;}
.wsbox h6 {height:32px; padding:0px 20px; color:#ec0000; font-size:24px; font-weight:400;}
.wsbox h6 a {float:right; line-height:30px; color:#333; font-size:16px; font-weight:300;}
.wsbox ul {height:120px; padding:15px 0px 15px 3px; border:1px solid #d9deec;}
.wsbox li {float:left; width:115px; margin-left:21px; line-height:16px; font-size:13px;}
.wsbox li a {color:#333;}
.wsbox img {display:block; margin-bottom:11px;}
/*PHOTO GALLERY SLIDER*/
.pgsld {height:474px; padding:9px 9px 0px 9px; margin-bottom:40px; border:1px solid #ebebeb;}
.pgsld .sld {width:960px; height:403px; overflow:hidden;}
.pgsld .nav {height:71px;}
.pgsld .nav ins {float:left; width:10px; height:71px;}
.pgsld .nav ins i {display:block; width:8px; height:18px; margin-top:27px; cursor:pointer; background:url(s.png?v=2) no-repeat;}
.pgsld .nav ins.prv i {margin-left:-2px; background-position:-249px -135px;}
.pgsld .nav ins.nxt i {margin-left:4px; background-position:-258px -135px;}
.pgsld .nav span {float:left; height:71px;}
.pgsld .nav span a {float:left; width:80px; height:53px; padding:9px 7px;}
.pgsld .nav span a.selected {background:#cc0000;}
/*VIDEO GALLERY SLIDER*/
.vgsld {width:100%; height:398px; margin-bottom:40px; overflow: hidden}
.vgsld .nav {width:980px; height:0px; margin:0px auto; position:relative; background:#ddd;}
.vgsld .nav ins {width:45px; height:372px; cursor:pointer; top:0px; z-index:5; position:absolute}
.vgsld .nav ins.prv {left: 100px;}
.vgsld .nav ins.nxt {right:100px;}
.vgsld .nav ins i {display:block; width:23px; height:43px; margin:147px 0px 0px 10px; background:url(s.png?v=2) no-repeat;}
.vgsld .nav ins.prv i {background-position:0 -632px;}
.vgsld .nav ins.nxt i {background-position:-34px -632px;}
.vgsld .itm {float:left; width:437px; height:332px; position:relative;}
.vgsld .itm ins {float:left; width:437px; height:332px; position:relative;}
.vgsld .itm ins b {width:437px; height:332px; left:0px; top:0px; z-index:2; position:absolute; background:url(o2.png) repeat;}
.vgsld .itm ins a {display:block; height:332px; position:relative;}
.vgsld .itm ins a img {display:block;}
.vgsld .itm ins a i {display:none; width:40px; height:40px; left:0px; bottom:0px; background:url(s.png?v=2) -219px -165px no-repeat; position:absolute;}
.vgsld .itm ins a span { display: none; position: absolute; left: 40px; bottom:0; height: 16px; background-color: #fff; padding: 12px; font-size: 14px; font-weight: 300; color: #333; }
.vgsld .itm.selected ins b {display:none;}
.vgsld .itm.selected ins a i {display:block;}
.vgsld .itm.selected ins a span {display:block;}
.vgsld .itm.selected p {display:block;}
.vgsld.po .itm ins a i {background-position:-260px -165px;}
.vgsld-title { padding: 20px; font-size: 26px; font-weight: 300; text-align: center; }
/*SLIDER NEWSBOX*/
.slnws {height:290px; margin-bottom:30px; background:#eee; position: relative;}
.slnws ins { width:42px; height:290px;}
.slnws ins i {display:block; width:34px; height:69px; margin:110px auto 0px auto; cursor:pointer; background:url(s.png?v=2) no-repeat;}
.slnws ins.prv { position: absolute; top:0; left:-4px; z-index: 2 }
.slnws ins.nxt { position: absolute; top: 0; right: -4px; z-index: 2 }
.slnws ins.prv i {background-position:-230px -479px;}
.slnws ins.nxt i {background-position:-196px -479px;}
.slnws .cnt, .slnws .cnt_ns { width:940px; height:290px; margin-left: 22px; overflow:hidden;}
.slnws .cnt p, .slnws .cnt_ns p {height:60px; line-height:60px; font-size:24px; color:#666;}
.slnws .cnt p a, .slnws .cnt_ns p a {float:right; font-size:18px; font-weight:300; color:#333;}
.slnws .cnt ul, .slnws .cnt_ns ul {width:960px; height:210px;}
.slnws .cnt li, .slnws .cnt_ns li {float:left; width:220px; height:215px; margin-right:20px;}
.slnws .cnt li img, .slnws .cnt_ns li img {margin-bottom:10px;}
.slnws .cnt li a, .slnws .cnt_ns li a {display:block; line-height:24px; font-size:20px; font-weight:300; color:#010202; position:relative;}
.slnws .cnt li span, .slnws .cnt_ns li span {display:block; color:#eb0000;}
.slnws .cnt li i, .slnws .cnt_ns li i {width:30px; height:30px; left:0px; top:117px; z-index:3; position:absolute;}
.slnws .cnt li a span, .slnws .cnt_ns li a span { display: block; height: 60px; padding: 6px 10px; background-color: #fff; font-size: 18px; line-height: 20px; color: #333; }
.slnws .cnt_ns li p { margin-bottom: 0; margin-top: 20px; height: auto; padding-bottom: 19px; background-color: #fff }
.slnws .cnt_ns li p a { float: none; font-weight: 400; font-size: 24px; color: #666 }

.slnws.s2 {height:288px; background:#fff; border:1px solid #ebebeb;}
.slnws.s2 ins {width:29px; height:288px;}
.slnws.s2 .cnt {height:288px;}
.slnws.s2 p { color: #e70000; }
.slnws.s2 ins.nxt { right: 0 }
.slnws.s2 ins.prv { left: -1px }
.slnws.vo .cnt li i, .slnws.vo .cnt_ns li i {background:url(s.png?v=2) -259px -238px no-repeat;}
.slnws.po .cnt li i, .slnws.po .cnt_ns li i {background:url(s.png?v=2) -259px -269px no-repeat;}
/*GALERY NEWSBOX*/
.grnws {padding:20px; margin-bottom:30px;}
.grnws p {margin-bottom:19px; font-size:24px; color:#666;}
.grnws p a {float:right; line-height:24px; font-size:18px; font-weight:300; color:#333;}
.grnws .cnt {width:940px; overflow:hidden;}
.grnws li {float:left; background:#fff;}
.grnws li img {margin-bottom:5px;}
.grnws li span {display:block; padding-left:15px; line-height:26px; font-size:20px; font-weight:300;}
.grnws li a {display:block; color:#010202; position:relative;}
.grnws li b {display:block; font-weight:300; color:#eb0000;}
.grnws li i {width:30px; height:30px; left:0px; z-index:3; position:absolute;}
.grnws ul.n1 {width:966px; height:260px; margin-bottom:26px;}
.grnws ul.n1 li {width:296px; height:260px; margin-right:26px;}
.grnws ul.n1 li i {top:167px;}
.grnws ul.n2 {width:960px; height:210px;}
.grnws ul.n2 li {width:220px; height:210px; margin-right:20px; overflow: hidden }
.grnws ul.n2 li i {top:117px;}
.grnws ul.n3 {width:960px; height:255px;}
.grnws ul.n3 li {width:220px; height:255px; margin-right:20px; overflow: hidden; }
.grnws ul.n3 li p { margin-bottom: 0; padding-bottom: 19px; background-color: #eee }
.grnws ul.n3 li p a { float: none; font-weight: 400; font-size: 24px; color: #666 }
.grnws ul.n3 li i {top:117px;}
.grnws.c1 {background:#eee;}
.grnws.c2 {background:#eee;}
.grnws.vo li i {background:url(s.png?v=2) -259px -238px no-repeat;}
.grnws.po li i {background:url(s.png?v=2) -259px -269px no-repeat;}
/*COMMON SOC*/
.pnbox .most .soc, .side .soc {height:220px; padding-top:45px; margin-bottom: 20px; text-align:center; font-size:18px; font-weight:300; color:#666; background:url(b.png) no-repeat;}
.pnbox .most .soc b, .side .soc b {display:block; padding-top:3px; font-size:28px; font-weight:400; color:#080606;}
.pnbox .most .soc span, .side .soc span {display:block; height:76px; margin:20px 0px 20px 35px;}
.pnbox .most .soc span a, .side .soc span a {float:left; width:56px; height:56px; margin-right:10px; font-size:0px; background:url(s.png?v=2) no-repeat;}
.pnbox .most .soc a.tw, .side .soc a.tw {background-position:0px -274px;}
.pnbox .most .soc a.gp, .side .soc a.gp {background-position:-57px -274px;}
.pnbox .most .soc a.fb, .side .soc a.fb {background-position:-114px -274px;}
.pnbox .most .soc a.rs, .side .soc a.rs {background-position:-171px -274px;}
.pnbox .most .soc ins, .side .soc ins {display:block; font-size:0px; width:175px; height:29px; margin:0px auto; background:url(s.png?v=2) 0px -153px no-repeat;}
/*CONTENT*/
.cont {float:left; width:660px;}
/*SIDEBAR*/
.side {float:left; width:320px;}
.side h3 {padding-bottom:8px; margin:0px 32px 25px 32px; line-height:28px; color:#ec0000; font-size:24px; font-weight:400; border-bottom:1px solid #ebebeb;}
.side .ads {width:300px; padding:0px 10px; margin-bottom:25px; background:#f8fafb;}
.side .ads small {display:block; height:44px; line-height:44px; text-align:center; font-size:14px; font-weight:300; color:#acbad9;}
.side .ads span {display:block; height:250px;}
.side .ads.s1 {background:none; border-bottom:1px solid #ebebeb;}
.side .ads.s2 {border-top:1px solid #ebebeb; margin-bottom:0px;}
.side .ads.s3 {border-bottom:1px solid #ebebeb; margin:-15px 0px 15px 0px; padding:10px;}
.side .ads.s3 small {height:18px; line-height:28px;}
.side .ads.s4 {border-bottom:1px solid #ebebeb; margin-bottom:15px; padding:10px;}
.side .ads.s4 small {height:18px; line-height:28px;}
.side .nws {margin-bottom:40px;}
.side .nws ul {width:260px; margin-left:30px;}
.side .nws li {margin-bottom:20px; border-bottom:1px solid #e8ebf4;}
.side .nws li span {display:block; margin-bottom:10px;}
.side .nws li p { font-size:13px; font-weight: 300; color:#999; margin-bottom:2px;}
.side .nws li p a {color:#999;}
.side .nws li strong {display:block; margin-bottom:25px; line-height:24px; font-size:20px; font-weight:300; color:#333;}
.side .nws li strong a {color:#333;}
.side .nws li:last-child {border-bottom:0px;}
.side .wgt {padding-top:55px; margin-bottom: 20px; height:210px; background:url(b.png) 0px -265px no-repeat;}
.side .wgt a {display:block; font-size:0px; width:276px; height:173px; margin:0px auto; background:url(b.png) 0px -530px no-repeat;}
.side .str {margin-bottom:10px;}
.side .str h3 a {float:right; line-height:30px; color:#ec0000; font-size:18px; font-weight:300;}
.side .str dl {margin:0px 30px 25px 30px;}
.side .str dt {font-size:16px; color:#000; border-bottom:1px solid #f1f5fe; position:relative;}
.side .str dt b {display:block; font-weight:400; font-size:22px; color:#ec0000; padding:5px 0px;}
.side .str dt img {position:absolute; right:0px; bottom:0px;}
.side .str dd {padding-top:5px; font-weight:300; font-size:18px; color:#737da0;}
.side .str dd a {color:#737da0;}
.side .str dd a i {float:right; width:0; height:0; margin:5px 208px 0px 5px; border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:8px solid #737da0;}
.side .str p span {margin-bottom:30px;}
.side .str p span a {margin-bottom:30px;}
.side .str ul {margin:0px 30px 30px 30px;}
.side .str li {margin-bottom:30px;}
.side .str li p {margin-bottom:30px; line-height:16px; font-size:15px; color:#666; font-weight: 300}
.side .str li p a {color:#666;}
.side .str li p img {display:block; margin-top: 10px; margin-bottom:10px;}
.side .str li p strong {display:block; margin-bottom:5px; line-height:20px; font-family:'Oswald'; font-size:19px; font-weight:300; color:#010202;}
.side .str li p em { display: block; font-style: normal; height: 60px; overflow: hidden; line-height: 20px }
.side .str li span {display:block; height:60px; border-bottom:1px solid #ebebeb;}
.side .str li span img {float:left; margin-right:11px; border:1px solid #ddd; border-radius: 50%}
.side .str li span b {display:block; padding:4px 0px; font-size:16px; font-weight:400; color:#000;}
.side .str li span small { font-size:14px; font-weight:300; color:#999;}
.side .str li:last-child {margin-bottom:0px;}
.side .str li:last-child span {border-bottom:0px;}
.side .who {margin:0px 30px 25px 30px;}
.side .who h5 {margin-bottom:20px; font-weight:400; font-size:24px; color:#ec0000;}
.side .who h6 {margin-bottom:20px; font-weight:400; font-size:16px; color:#000;}
.side .who img {display:block; margin-bottom:20px;}
.side .who p {margin-bottom:10px; line-height:16px; font-size:13px; color:#333;}
.side .who span {display:block; width:124px; line-height:24px; padding-top:20px; font-size:12px;}
.side .who span a {display:block; height:24px; padding-left:10px; color:#fff; background:#324f77;}
/*COMMON COMMENTS*/
.cmnt {width:530px; margin-top: 20px; margin-bottom: 20px; padding:20px 25px 40px 25px;}
.cmnt .wrt {margin-bottom:20px;}
.cmnt .wrt p {margin-bottom:10px; ont-size:14px; color:#999;}
.cmnt .wrt p b {display:block; height:50px; font-weight:400; font-size:24px; color:#333;}
.cmnt .wrt p a {color:#333;}
.cmnt .wrt fieldset {display:block; height:120px; padding:5px; border:1px solid #ebebeb;}
.cmnt .wrt textarea {height:100%; width:100%; font-size:16px; color:#555;}
.cmnt .wrt span {height:60px; padding-top:8px; color:#999;}
.cmnt .wrt span small {display:block; width:170px; padding-top:6px; font-size:11px; clear:both;}
.cmnt .wrt span a {float:left; font-size:0px; width:30px; height:30px; margin-right:10px; background:url(s.png?v=2) no-repeat;}
.cmnt .wrt span a.tw {background-position:-228px -238px;}
.cmnt .wrt span a.gp {background-position:-228px -269px;}
.cmnt .wrt span a.fb {background-position:-228px -300px;}
.cmnt .wrt span a.ih {background-position:-259px -300px;}
.cmnt .wrt span input {float:left; height:28px; line-height:28px; background:#f1f5fe; font-family:'Oswald'; font-size:11px; color:#333;}
.cmnt .wrt span input.tx {width:158px; padding:0px 5px; margin-right:10px; border:1px solid #ebebeb;}
.cmnt .wrt span input.bt {width:78px; height:30px; background:#e70000; font-size:14px; color:#fff; cursor:pointer;}
.cmnt .wrt span.si {float:left;}
.cmnt .wrt span.sn {float:right;}
.cmnt .bar {height:25px; font-size:18px; color:#999;}
.cmnt .bar span {float:right;}
.cmnt .bar span i {float:left; width:16px; height:16px; margin:1px 7px 0px 0px; background:url(s.png?v=2) -274px -424px no-repeat;}
.cmnt .tsk {height:20px; padding-left:12px;}
.cmnt .tsk span {float:left; width:135px; height:19px; line-height:18px; margin:0px 30px; font-size:18px;}
.cmnt .tsk ins {float:left; width:155px; height:19px; background:url(b.png) 0px -705px no-repeat;}
.cmnt .tsk a {color:#333;}
.cmnt .tsk i {float:right; width:0; height:0; margin:2px 0px 0px 10px; border-top:7px solid transparent; border-bottom:7px solid transparent; border-left:10px solid #cfcfcf;}
.cmnt .rea {margin-bottom:20px;}
.cmnt .rea li {padding:30px 0px 15px 0px; border-top:1px solid #f1f5fe;}
.cmnt .rea li p {padding:0px 0px 27px 65px; position:relative;}
.cmnt .rea li p i {width:48px; height:48px; border:1px solid #ccc; left:5px; top:0px; position:absolute; background:url(b.png) -276px -540px no-repeat;}
.cmnt .rea li p b {float:left; font-weight:400; font-size:11px; color:#6699cc;}
.cmnt .rea li p ins {clear:both; display:block; padding-top:9px; line-height:22px; font-weight: 300; font-size:16px; color:#333;}
.cmnt .rea li p small {float:right; font-size:12px; color:#ccc;}
.cmnt .rea li span {display:block; height:20px; line-height:20px; font-size:12px; font-weight:300; color:#666;}
.cmnt .rea li span a {float:right; height:20px; margin-left:20px; border-left:1px solid #cfcfcf; color:#666;}
.cmnt .rea li span a.act {color:#e00000;}
.cmnt .rea li span i {float:left; width:16px; height:16px; margin:2px 10px; background:url(s.png?v=2) no-repeat;}
.cmnt .rea li span a.b4 {border-left:0px;}
.cmnt .rea li span a.b1 i {background-position:-257px -424px; margin-top:3px;}
.cmnt .rea li span a.b2 i {background-position:-240px -424px;}
.cmnt .rea li span a.b3 i {background-position:-223px -424px;}
.cmnt .rea li span a.b4 i {background-position:-206px -424px;}
.cmnt .rea li abbr {display:none; height:30px; padding:8px 81px 0px 0px; font-size:0px;}
.cmnt .rea li abbr a {float:right; font-size:0px; width:30px; height:30px; margin-left:1px; background:url(s.png?v=2) no-repeat;}
.cmnt .rea li abbr a.tw {background-position:-228px -238px;}
.cmnt .rea li abbr a.gp {background-position:-228px -269px;}
.cmnt .rea li abbr a.fb {background-position:-228px -300px;}
.cmnt .rea li fieldset {display:none; width:453px; height:30px; padding:5px; margin:0px 0px 5px 65px; border:1px solid #cfcfcf;}
.cmnt .rea li textarea {display:block; width:100%; height:100%; font-size:12px; color:#555;}
.cmnt .rea li input {height:20px; margin:5px 0px 0px -6px; padding:0px 5px; font-weight:700; font-size:12px; color:#fff; background:#999; cursor:pointer;}
.cmnt .rea li.re {margin-left:65px;}
.cmnt .rea li.re p {padding-left:60px;}
.cmnt .rea li.re p i {left:0px;}
.cmnt .rea li.re fieldset {width:393px; height:25px; margin:0px 0px 5px 60px;}
/*COMMON TSRB*/
.tsbr {height:50px; line-height:50px; padding-left:20px; font-size:24px; color:#ec0000;}
.tsbr span {float:right; height:50px; position:relative;}
.tsbr span a {float:left; width:44px; height:33px; padding-top:17px; border-left:1px solid #ebebeb;}
.tsbr span a i {display:block; width:15px; height:17px; margin:0px auto; background:url(s.png?v=2) no-repeat;}
.tsbr span a.i1 i {background-position:-187px -164px;}
.tsbr span a.i2 i {background-position:-203px -164px;}
.tsbr span a.i3 i {background-position:-266px -383px; width:16px;}
.tsbr span a.i3.act i {background:url(b.png) -297px -650px no-repeat;}
.tsbr span fieldset {display:none; width:252px; height:50px; line-height:normal; padding:0px 10px; right:45px; top:0px; background:#fff; position:absolute;}
.tsbr span fieldset label {float: left; color:#444; line-height:normal; font-size:14px; font-weight:300; margin-top: 14px; margin-right: 5px}
.tsbr span fieldset form { float: left }
.tsbr span fieldset input {; background:#fff; border:1px solid #ccc;}
.tsbr span fieldset input.tx {width:140px; padding:2px 5px 3px 5px; color:#ec0000;}
.tsbr span fieldset input.bt {padding:3px 5px 2px 5px; color:#fff; font-size:12px; font-weight:700; background:#b1bfd7; cursor:pointer;}
/*GENERAL COMMON*/
.onebx {height:240px; margin-bottom:30px;}
.titi {height:44px; line-height:44px; padding-left:10px; font-size:24px; color:#e70000; border-bottom:1px solid #ebebeb; background:#fff; position:relative; z-index:3;}
.socs {float:left; width:58px; padding:10px; margin-top:-45px; background:#fff; position:relative; z-index:5; min-height:500px;}
.socs ins {width:1px; height:45px; background:#ebebeb; right:-1px; top:0px; position:absolute;}
.socs {word-wrap:break-word; text-align:center;}
.pags {width:451px; margin:10px auto; padding:12px 0px; position:relative;}
.pags abbr {width:1px; height:100%; border-left:1px dotted #ccc; top:0px; left:225px; position:absolute;}
.pags span {float:left; width:200px;}
.pags span a {display:block;}
.pags b {display:block; font-weight:400; margin-bottom:7px; padding-bottom:7px; font-size:20px; color:#497d1f; border-bottom:1px solid #ccc;}
.pags b i {display:inline-block; width:0; height:0; top:-4px; position:relative;}
.pags small {display:block; padding-bottom:7px; line-height:16px; font-size:13px; color:#666; border-bottom:1px dotted #ccc;}
.pags span.lt {text-align:right; margin-right:51px;}
.pags span.lt b i {right:20px; border-top:5px solid transparent; border-bottom:5px solid transparent; border-right:8px solid #497d1f;}
.pags span.lt small {padding-left:7px;}
.pags span.rt {text-align:left;}
.pags span.rt b i {left:20px; border-top:5px solid transparent; border-bottom:5px solid transparent; border-left:8px solid #497d1f;}
.pags span.rt small {padding-right:7px;}
/*PAGE NAV*/
.pnav {height:35px; line-height:35px; text-align:right; font-size:13px; background-color: #eee}
.pnav a {display: inline-block; padding:0px 8px; color:#666; border-left:1px solid #fff; background:#eee;}
.pnav a:hover {color:#e70000;}
.pnav a.act {color:#fff; background:#e70000; cursor:default;}
.pnav i {width:8px; height:18px; margin:8px 6px; background:url(s.png?v=2) no-repeat;}
.pnav a#prv {padding:0px 13px 0px 0px; margin:0px;}
.pnav a#prv i {float:left; background-position:-249px -135px;}
.pnav a#nxt {padding:0px 0px 0px 13px;}
.pnav a#nxt i {float:right; background-position:-258px -135px;}
.pnav a#all {color:#fff; background:#b1bfd7; margin:0px; padding:0px 9px;}
.pnav a.dis {color:#d9e1ed; cursor:default;}
.pnav a.dis i {opacity:0.3; cursor:default;}
.pnav.abc {margin-left:0px; width: 658px}
.pnav.abc a { margin-left: -3px }
.pnav.s2 { margin:20px auto; text-align: center }
/*WHIC*/
.whc { position: relative; z-index: 2; width:980px; height:30px; margin:0px auto; line-height:30px; font-size:13px; font-weight:300; color:#999 }
.whc a {float:left; color:#999;}
.whc a:hover {color:#222;}
.whc b {float:left; font-weight:300; font-size:16px; line-height:24px; margin:2px 10px;}
/*CATEGORY*/
.ctgry {width: 978px;border:1px solid #ebebeb; position:relative;}
.ctgry .cont { width: 658px }
.ctgry .szsld {margin-bottom:0px; height:338px; border:0px; border-bottom:1px solid #ebebeb;}
.ctgry .szsld .sldr {float:none; width:630px; height:300px; padding:19px 15px;}
.ctgry .list {margin:0px 20px;}
.ctgry .list li {height:150px; padding:17px 17px 17px 0px; border-bottom:1px solid #ebebeb;}
.ctgry .list li:last-child {border-bottom:0px;}
.ctgry .list img {float:left; margin-right:25px;}
.ctgry .list p {padding-top:7px; margin-bottom:10px; font-weight:300; font-size:14px; color:#999;}
.ctgry .list p a {color:#999;}
.ctgry .list p b {margin:0px 12px;}
.ctgry .list p small {font-size:14px;}
.ctgry .list span {line-height:22px; font-size:18px; font-weight:300; color:#000;}
.ctgry .list span a {color:#000;}
.ctgry .list span strong {display:block; font-weight:400; margin-bottom:7px;}
/*NEWS DETAIL*/
.newsd { width: 978px; border:1px solid #ebebeb; position:relative;}
.newsd .cont { width: 658px }
.newsd .cmnt {border:1px solid #ebebeb; margin:20px auto;}
.newsd .pags {margin:10px auto 40px auto;}
.newsd .shr {height:40px; line-height:40px; margin-bottom:30px;}
.newsd .shr ins {float:left; height:40px; font-size:20px; color:#666; cursor:pointer;}
.newsd .shr ins i {float:left; width:40px; height:40px; background:url(s.png?v=2) -164px -331px no-repeat;}
.newsd .shr ins b {float:left; width:70px; height:40px; text-align:center; font-weight:300; background:#d9d9d9;}
.newsd .shr span {display:block; float:left; height:40px;}
.newsd .shr a {float:left; font-size:0px; width:40px; height:40px; margin-left:1px; background:url(s.png?v=2) no-repeat;}
.newsd .shr a.tw {background-position:0px -331px;}
.newsd .shr a.fb {background-position:-82px -331px;}
.newsd .shr a.gp {background-position:-41px -331px;}
.newsd .end ins {display:block; height:1px; margin-bottom:30px; background:#ebebeb;}
.newsd .end ins em {display:block; width:15px; height:1px; padding:0px 60px; margin:0px auto; background:#fff;}
.newsd .end ins em i {display:block; width:15px; height:15px; top:-7px; position:relative; background:url(s.png?v=2) -233px -149px no-repeat;}
.newsd .task {padding:5px 30px; height:35px;}
.newsd .task .whc {float:left; width:auto; margin:0px; border-top:0px;}
.newsd .task .bar {float:right; font-size:0px; padding-top:5px; position: relative}
.newsd .task .bar i {float:left; width:1px; height:19px; margin:-2px 10px 0px 10px; background:#999;}
.newsd .task .bar a {float:left; width:16px; height:15px; background:url(s.png?v=2) no-repeat;}
.newsd .task .bar a.b1 {background-position:-167px -410px}
.newsd .task .bar a.b2 {background-position:-184px -410px;}
.newsd .task .bar a.b3 {background-position:-167px -425px; width:21px;}
.newsd .task .bar a.b4 {background-position:-189px -425px;}
.newsd .news {padding:0px 30px;}
.newsd .news h1 {width:530px; margin-bottom:20px; padding-top:20px; line-height:38px; font-size:34px; font-weight:400; color:#000;}
.newsd .news h2 {padding-right:20px; margin-bottom:40px; line-height:32px; font-size:22px; font-weight:300; color:#000;}
.newsd .news img {float:left; margin-bottom:20px; margin-right:20px;}
.newsd .news p {padding-bottom:40px; line-height:26px; font-weight:700; font-size:18px; color:#333;}
.newsd .news .rpt {height:auto; margin-bottom:20px; font-size:12px; color:#aaa; font-weight: 300}
.newsd .news .rpt img {float:left; margin:0px 10px 0px 0px; border: 1px solid #eee; border-radius: 50% }
.newsd .news .rpt span {display:block; height:60px; color:#78b6ea; font-size: 16px}
.newsd .news .rpt span em { float: left; margin-top: 18px; font-style: normal }
.newsd .news .rpt span em b { font-weight: 300; color: #aaa }
.newsd .news .rpt small {float:right; line-height:normal; padding-top:40px; font-size:12px;}
.newsd .news .rpt small a {color:#aaa;}
.newsd .news .rpt ins {clear:both; display:block; padding:5px 0 0px 0px; text-align:right; border-top:1px solid #eee;font-size:12px;}
.newsd .news .rpt ins span { display: inline; color: #aaa; font-size: 12px }

.newsd .time {width:580px; padding:0px 0px 20px 30px; font-family:'Oswald'; font-weight: 300; font-size: 20px; line-height: 28px }
.newsd .time .ads {float:left; width:336px; height:280px; margin:10px 20px 20px 0px;}
.newsd .time h1 {font-family: 'Oswald'; margin-bottom:20px; font-size:22px; font-weight:400;}
.newsd .time h2 {font-family: 'Oswald'; margin-bottom:20px; font-size:20px; font-weight:400;}
.newsd .time h3 {font-family: 'Oswald'; margin-bottom:20px; font-size:20px; font-weight:400;}
.newsd .time h4, .newsd .time h5, .newsd .time h6 {font-family: 'Oswald'; margin-bottom:20px; font-size:18px; font-weight:400;}
.newsd .time p {padding-bottom:20px; line-height:26px; font-family: Helvetica,Arial,sans-serif; font-size:18px; font-weight: 300; color:#333;}
.newsd .time p strong { font-weight: 600 }
.newsd .time .whn {height:40px; line-height:40px; margin-bottom:20px;}
.newsd .time .whn b {float:left; width:70px; height:40px; text-align:center; font-weight:400; font-size:24px; color:#333; background:#ffcc01;}
.newsd .time .whn strong {display: block; float:left; font-weight:400; max-width: 460px; min-height:40px; padding:0px 35px 0px 15px; font-size:22px; color:#fff; background:#fe0000;}
.newsd .time .whn ins {float:left; width:40px; height:40px; margin-left:1px; cursor:pointer; background:url(s.png?v=2) -164px -331px no-repeat;}
.newsd .time .whn span {display:none; float:left; height:40px;}
.newsd .time .whn a {float:left; font-size:0px; width:40px; height:40px; margin-left:1px; background:url(s.png?v=2) no-repeat;}
.newsd .time .whn a.tw {background-position:0px -331px;}
.newsd .time .whn a.fb {background-position:-82px -331px;}
.newsd .time .whn a.gp {background-position:-41px -331px;}
.newsd .time .vdo {width:580px; height:370px; background:#000; font-family:'Oswald'; color:#fff;}

.newsd .time .pho { display: inline-block; margin: auto; margin-bottom: 20px; font-family:Arial; font-size:16px;}
.newsd .time .pho img { display: block }
.newsd .time .pho figcaption {display:block; padding:10px 15px; line-height:20px; background:#efefef;}


.newsd .time .rtx {float:left; width:180px; margin:10px 30px 20px -30px; padding:10px 60px; line-height:28px; text-align:right; font-family:'Oswald'; font-size:22px; color:#666; border-top:1px solid #cacaca; border-bottom:1px solid #cacaca;}
.newsd .time .rtx em {display:block; font-weight:700; color:#333;}
.newsd .time .rtx i {display:block; width:43px; height:37px; background:url(s.png?v=2) no-repeat;}
.newsd .time .rtx i.a {margin:0px 0px 35px 135px; background-position:-167px -372px;}
.newsd .time .rtx i.b {margin:35px 0px 0px 135px; background-position:-211px -372px;}

.newsd .time .rbx {float:left; width:250px; margin:3px 30px 20px 0;}
.newsd .time .rbx a {display:block;}
.newsd .time .rbx img {display:block;}
.newsd .time .rbx span {display:block; padding:20px; line-height:26px; font-family:'Oswald'; font-size:18px; color:#fff;}
.newsd .time .rbx b {display:block; line-height:26px; font-size:22px; padding-bottom:5px; font-weight: 400}
.newsd .time .rbx.red {background:#ef0e0e;}
.newsd .time .rbx.grn {background:#7dad1d;}
.newsd .time .rbx.aqua { background:#39cdde;}
.newsd .time .rbx.blue { background:#326cb3;}
.newsd .time .rbx.purple { background:#b55bd6;}
.newsd .time .rbx.yellow { background:#fac024;}
.newsd .time .rbx.orange { background:#ff7800;}
.newsd .time .rbx.hrz { float: none; position: relative; width: 580px; height: 122px; margin: 3px 30px 20px 0; overflow: hidden; background-color: #efefef }
.newsd .time .rbx.hrz a { display: table-cell; height: 122px; vertical-align: middle; }
.newsd .time .rbx.hrz img { position: absolute; top:0; left: 0 }
.newsd .time .rbx.hrz span { margin-left: 181px; padding: 0; color: #666 }
.newsd .time .rbx.hrz b { line-height: 30px; font-size: 22px; font-weight: 300; padding-bottom: 0 }

.newsd .time .tags { text-align: center; border-top: 1px solid #eee; border-bottom: 1px solid #eee; font-size: 14px }
.newsd .time .tags li { display: inline-block; margin: 6px; }
.newsd .time .tags li a { display: block; background-color: #eee; padding: 2px 6px 2px 6px; color: #666; }

.newsd .time iframe { max-width: 100% }

.news-dtl-pag { margin-bottom: 30px; text-align: center; }
.news-dtl-pag ul { padding: 0; margin: 0; list-style: none }
.news-dtl-pag ul li { display: inline-block; }
.news-dtl-pag ul li a, .news-dtl-pag ul li.disabled span { display: block; width: 30px; height: 30px; border: 1px solid #eee; background-color: #fff; color: black }
.news-dtl-pag ul li.active span { display: block; width: 30px; height: 30px; border: 1px solid #ddd; background-color: #ddd; color: black }
.news-dtl-pag ul li.disabled span { color: #666 }

/*VIDEO DETAIL*/
.vodtl h2 {padding:15px 20px; font-weight:300; font-size:28px; color:#111; text-align: center;}
.vodtl .vdcnt { padding: 20px; margin-top: 10px; margin-bottom:10px; border:1px solid #ebebeb;}
.vodtl .vdcnt .ad { float: right; width: 300px; height: 250px; }
.vodtl .vdcnt .vdtxt { margin-bottom: 30px; font-weight: 300; font-size: 24px; line-height: 30px }
.vodtl .vdcnt .vdtxt div.con-conn { height: 60px; margin-bottom: 10px; overflow: hidden; }
.vodtl .vdcnt .vdtxt a.continue { display: block; font-size: 18px; text-align: center; color: #666 }
.vodtl .vdcnt .vdtxt a.continue b {
	display: inline-block;
	position: relative;
	top: -3px;
	width: 0;
    height: 0;
    margin: 0 0px 0px 5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #999;
}
.vodtl .task {float: left; width: 514px }
.vodtl .task li {height:40px; line-height:40px; margin-bottom:20px;}
.vodtl .task span {float:left; width:110px; height:40px; font-size:12px; color:#111;}
.vodtl .task span i {float:left; width:12px; height:12px; margin:13px 7px 0px 0px; background:url(s.png?v=2) no-repeat;}
.vodtl .task .add span i {background-position:-213px -234px;}
.vodtl .task .shr span i {background-position:-213px -247px;}
.vodtl .task .tag span i {background-position:-213px -260px;}
.vodtl .task .ctg small {float:left; color:#999; font-size:11px;}
.vodtl .task .ctg a {float:left; color:#999; font-size:11px;}
.vodtl .task .ctg b {float:left; width:1px; height:20px; margin:10px 15px; background:#cfcfcf;}
.vodtl .task .ctg a i {float:left; width:13px; height:11px; margin:15px 5px 0px 0px; background:url(s.png?v=2) no-repeat;}
.vodtl .task .ctg a.up i {background-position:-225px -82px;}
.vodtl .task .ctg a.dw i {background-position:-239px -82px;}
.vodtl .task .ctg span a {width:90px; height:30px; line-height:30px; margin-top:5px; text-align:center; color:#fff; font-size:12px; background:#38369d;}
.vodtl .task .add textarea {width:382px; height:40px; line-height:40px; padding:0px 10px; background:#d3d3d3; overflow:hidden; white-space:nowrap}
.vodtl .task .shr a {float:left; font-size:0px; width:40px; height:40px; margin-right:15px; background:url(s.png?v=2) no-repeat;}
.vodtl .task .shr a.fb {background-position:-82px -331px;}
.vodtl .task .shr a.tw {background-position:0px -331px;}
.vodtl .task .shr a.gp {background-position:-41px -331px;}
.vodtl .task .shr a.tb {background-position:-246px -331px;}
.vodtl .task .shr a.pn {background-position:-205px -331px;}
.vodtl .task .shr a.rs {background-position:-123px -331px;}
.vodtl .task .tag {font-size:13px;}
.vodtl .task .tag a {color:#2f5dbb;}
.vodtl .plyr {height:600px; margin-bottom: 20px; background:#666; color:#fff;}
.vodtl .slnws {margin-bottom:10px;}
.vodtl .cmnt {border:1px solid #ebebeb; border-bottom:0px;}
/*PHOTO DETAIL*/
.podtl {width:982px;}
h1.po {padding:25px 0px; margin-bottom: 20px; font-weight:300; line-height:38px; text-align:center; font-size:34px; color:#666; border-bottom:1px solid #ddd;}
.podtl .slnws {margin-bottom:10px;}
.podtl .cmnt {border:1px solid #ebebeb; border-bottom:0px;}
.podtl .pnav {height:30px; overflow: hidden; line-height:30px; text-align:center; font-size:15px; font-weight:300; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.podtl .pnav a {float:left; padding:0px; margin:0px; width:32px; color:#999; background:#fff;}
.podtl .pnav a:hover {color:#666; background:#e2e2e2;}
.podtl .pnav a.act {color:#f94545; background:#eee;}
.podtl .pnav a#prv {padding:0px; margin:0px; width:100px; height: 30px; border-right:1px solid #ddd; background:#fff;}
.podtl .pnav a#nxt {padding:0px; width:100px; height: 30px; border-left:1px solid #ddd; background:#fff;}
.podtl .pnav a.dis {color:#e1e1e1;}
.podtl .pnav a#bck {width:135px; color:#707595; background:#fff; margin:0px; text-align:left; border-left:1px solid #ddd;}
.podtl .pnav a#bck i {width:8px; height:18px; margin:6px 10px 6px 20px; background:url(s.png?v=2) no-repeat;}
.podtl .pnav a#bck i {float:left; background-position:-249px -135px;}
.podtl .glry {height:450px; margin-bottom:10px; border:1px solid #ddd;}
.podtl .glry .lt {float:left; width:640px; height:450px;}
.podtl .glry .rt {float:left; width:300px; height:412px; padding:19px 20px;}
.podtl .glry .rt h3 { margin-bottom:22px; line-height:24px; font-weight:300; font-size:18px; color:#333; overflow:hidden;}
.podtl .glry .rt span {display:block; width:300px; height:250px;}
.podtl .glry .posld {width:640px; height:450px; position:relative; overflow:hidden;}
.podtl .glry .posld .bt {width:22px; height:49px; margin-top:-24px; top:50%; z-index:9; position:absolute; background:url(s.png?v=2) no-repeat;}
.podtl .glry .posld .prv {left:20px; background-position:-255px -45px;}
.podtl .glry .posld .nxt {right:20px; background-position:-278px -45px;}
.podtl .glry .posld .cnt {width:640px; height:450px; overflow:hidden }
.podtl .glry .posld .cnt p {width:640px; height:450px; position:relative; float:left; text-align: center }
.podtl .glry .posld .cnt img { max-width: 640px; max-height: 450px }
.podtl .glry .posld .cnt span {width:22px; font-size:0px; left:0px; top:35px; z-index:3; position:absolute;}
.podtl .glry .posld .cnt span a {display:block; width:22px; height:22px; background:url(s.png?v=2) no-repeat;}
.podtl .glry .posld .cnt a.tw {background-position:-150px -183px;}
.podtl .glry .posld .cnt a.fb {background-position:-196px -183px;}
.podtl .glry .posld .cnt a.gp {background-position:-173px -183px;}
.podtl .glry.big {height:auto;}
.podtl .glry.big .posld {width:980px; height:auto;}
.podtl .glry.big .posld .cnt {width:980px; height:auto; text-align: center; vertical-align: middle }
.podtl .glry.big .posld .cnt p {width:980px; height:auto }
.podtl .glry.big .posld .cnt img { max-width: 980px; max-height: 689px }
/*COMMON AUTHOR-WHOIS*/
.authr .info, .whois .info {height:95px; padding:40px 0px 0px 10px; border-top:1px solid #d9deec;}
.authr .info img, .whois .info img {float:left; margin-right:95px;}
.authr .info p, .whois .info p {float:left; width:400px; padding-top:25px; font-size:20px; color:#ec0000;}
.authr .info span, .whois .info span {float:left; padding:30px 20px 0px 0px; font-size:13px; color:#a3b0c2;}
.authr .info span a, .whois .info span a {float:left; line-height:10px; margin-right:15px; color:#a3b0c2;}
.authr .info span a i, .whois .info span a i {float:left; width:16px; height:12px; margin-right:5px; background:url(s.png?v=2) no-repeat;}
.authr .info span a.i1 i, .whois .info span a.i1 i {background-position:-250px -153px;}
.authr .info span a.i2 i, .whois .info span a.i2 i {background-position:-267px -153px;}
.authr .info span a.i3 i, .whois .info span a.i3 i {background-position:-284px -153px;}
.authr .info span a.i3, .whois .info span a.i3 {margin-right:5px;}

.authr {width: 978px; border:1px solid #ebebeb; position:relative;}
.authr .cont { width: 658px }
.authr .cmnt {border:1px solid #ebebeb; margin:0px auto;}
.authr .pags {margin:10px auto 40px auto;}
.authr .shr {height:40px; line-height:40px; margin-bottom:30px;}
.authr .shr ins {float:left; height:40px; font-size:20px; color:#666; cursor:pointer;}
.authr .shr ins i {float:left; width:40px; height:40px; background:url(s.png?v=2) -164px -331px no-repeat;}
.authr .shr ins b {float:left; width:70px; height:40px; text-align:center; font-weight:300; background:#d9d9d9;}
.authr .shr span {display:block; float:left; height:40px;}
.authr .shr a {float:left; font-size:0px; width:40px; height:40px; margin-left:1px; background:url(s.png?v=2) no-repeat;}
.authr .shr a.tw {background-position:0px -331px;}
.authr .shr a.fb {background-position:-82px -331px;}
.authr .shr a.gp {background-position:-41px -331px;}
.authr .end ins {display:block; height:1px; margin-bottom:30px; background:#ebebeb;}
.authr .end ins em {display:block; width:15px; height:1px; padding:0px 60px; margin:0px auto; background:#fff;}
.authr .end ins em i {display:block; width:15px; height:15px; top:-7px; position:relative; background:url(s.png?v=2) -233px -149px no-repeat;}
.authr .task {padding:5px 30px; height:35px;}
.authr .task .whc {float:left; width:auto; margin:0px; border-top:0px;}
.authr .task .bar {float:right; font-size:0px; padding-top:5px;}
.authr .task .bar i {float:left; width:1px; height:19px; margin:-2px 10px 0px 10px; background:#999;}
.authr .task .bar a {float:left; width:16px; height:15px; background:url(s.png?v=2) no-repeat;}
.authr .task .bar a.b1 {background-position:-167px -410px;}
.authr .task .bar a.b2 {background-position:-184px -410px;}
.authr .task .bar a.b3 {background-position:-167px -425px; width:21px;}
.authr .task .bar a.b4 {background-position:-189px -425px;}
.authr .time {width:580px; padding:0px 0px 30px 30px; font-family:'Oswald'; font-weight: 300; font-size: 20px; line-height: 28px }
.authr .time .ads { width:300px; height:250px; margin:auto;}
.authr .time h2 {margin-bottom:20px; font-size:22px; font-weight:400;}
.authr .time li {padding-bottom:40px; margin-bottom:20px; border-bottom:1px solid #ffcc01;}
.authr .time li:last-child {padding-bottom:0px; margin-bottom:0px; border-bottom:0px;}
.authr .time h1 {font-family: 'Oswald'; margin-bottom:20px; font-size:22px; font-weight:400;}
.authr .time h2 {font-family: 'Oswald'; margin-bottom:20px; font-size:20px; font-weight:400;}
.authr .time h3 {font-family: 'Oswald'; margin-bottom:20px; font-size:20px; font-weight:400;}
.newsd .time h4, .newsd .time h5, .newsd .time h6 {font-family: 'Oswald'; margin-bottom:20px; font-size:18px; font-weight:400;}
.authr .time p {padding-bottom:20px; line-height:26px; font-family:Helvetica,Arial,sans-serif; font-size:18px; font-weight: 300; color:#333;}
.authr .time p strong { font-weight: 600 }
.authr .time .whn {height:40px; line-height:40px; margin-bottom:20px;}
.authr .time .whn b {float:left; width:70px; height:40px; text-align:center; font-weight:400; font-size:24px; color:#333; background:#ffcc01;}
.authr .time .whn strong {float:left; font-weight:400; height:40px; padding:0px 35px 0px 15px; font-size:22px; color:#fff; background:#fe0000;}
.authr .time .whn ins {float:left; width:40px; height:40px; margin-left:1px; cursor:pointer; background:url(s.png?v=2) -164px -331px no-repeat;}
.authr .time .whn span {display:none; float:left; height:40px;}
.authr .time .whn a {float:left; font-size:0px; width:40px; height:40px; margin-left:1px; background:url(s.png?v=2) no-repeat;}
.authr .time .whn a.tw {background-position:0px -331px;}
.authr .time .whn a.fb {background-position:-82px -331px;}
.authr .time .whn a.gp {background-position:-41px -331px;}
.authr .time .vdo {width:580px; height:370px; background:#000; color:#fff;}

.authr .time .pho { display: inline-block; margin: auto; margin-bottom: 20px; font-family:Arial; font-size:16px;}
.authr .time .pho img { display: block }
.authr .time .pho figcaption {display:block; padding:10px 15px; line-height:20px; background:#efefef;}

.authr .time .rtx {float:left; width:180px; margin:10px 30px 20px -30px; padding:10px 60px; line-height:28px; text-align:right; font-size:22px; color:#666; border-top:1px solid #cacaca; border-bottom:1px solid #cacaca;}
.authr .time .rtx em {display:block; font-weight:700; color:#333;}
.authr .time .rtx i {display:block; width:43px; height:37px; background:url(s.png?v=2) no-repeat;}
.authr .time .rtx i.a {margin:0px 0px 35px 135px; background-position:-167px -372px;}
.authr .time .rtx i.b {margin:35px 0px 0px 135px; background-position:-211px -372px;}

.authr .time .rbx {float:left; width:250px; margin:3px 30px 20px 0;}
.authr .time .rbx a {display:block;}
.authr .time .rbx img {display:block;}
.authr .time .rbx span {display:block; padding:20px; line-height:18px; font-size:14px; color:#fff;}
.authr .time .rbx b {display:block; line-height:22px; font-size:18px; padding-bottom:5px;}
.authr .time .rbx.red {background:#ef0e0e;}
.authr .time .rbx.grn {background:#7dad1d;}
.authr .time .rbx.aqua { background:#39cdde;}
.authr .time .rbx.blue { background:#326cb3;}
.authr .time .rbx.purple { background:#b55bd6;}
.authr .time .rbx.yellow { background:#fac024;}
.authr .time .rbx.orange { background:#ff7800;}
.authr .time .rbx.hrz { float: none; position: relative; width: 580px; height: 122px; margin: 3px 30px 20px 0; overflow: hidden; background-color: #efefef }
.authr .time .rbx.hrz a { display: table-cell; height: 122px; vertical-align: middle; }
.authr .time .rbx.hrz img { position: absolute; top:0; left: 0 }
.authr .time .rbx.hrz span { margin-left: 181px; padding: 0; color: #666 }
.authr .time .rbx.hrz b { line-height: 30px; font-size: 22px; font-weight: 300; padding-bottom: 0 }

/*AUTHORS*/
.authr {border:1px solid #ebebeb; position:relative;}
.authr .list {margin-bottom:40px;}
.authr .list li {padding-top:40px;}
.authr .list li > a { display: block; width: 180px; height:145px; overflow: hidden; float:left; margin-right:30px; text-align: center }
.authr .list img {  }
.authr .list strong {display:block; height:40px; font-weight:400; font-size:22px; color:#ec0000;}
.authr .list strong a {color:#ec0000;}
.authr .list p {height:85px; padding-right:100px; font-size:17px; color:#666;}
.authr .list p a {color:#666;}
.authr .list small {display:block; height:20px; font-size:11px; color:#999;}
.authr .list span {display:block; height:18px; line-height:18px; background:#ebebeb;}
.authr .list b {float:left; width:294px; margin-left:180px; padding-left:29px; font-weight:400; font-size:12px; color:#333; border-left:1px solid #fff;}
.authr .list b a {color:#333;}
.authr .list em {float:left; width:88px; text-align:center; font-style:normal; font-size:12px; color:#fff; background:#b1bfd7;}
.authr .list em a {color:#fff;}
.authr .list ins {float:left; width:30px; height:18px; border-left:1px solid #fff; background:url(s.png?v=2) -270px -135px no-repeat;}
.authr .list abbr {float:left; width: 35px; text-align:center; font-size:10px; color:#fff; background:#ec0000;}
.authr .post {margin-bottom:1px;}
.authr .post li {height:58px; padding:60px 0px; border-bottom:1px solid #d9deec;}
.authr .post li a {display:block; height:58px;}
.authr .post small {float:left; width:255px; height:58px; line-height:56px; text-align:center; font-size:11px; color:#999;}
.authr .post strong {float:left; width:380px; height:58px; line-height:28px; font-weight:300; font-size:24px; color:#333;}
.authr .side {padding-top:15px;}
/*WHOIS*/
.whois {width: 978px; border:1px solid #ebebeb; position:relative;}
.whois .cont { width: 658px }
.whois .list {padding:0px 21px; margin-bottom:20px; overflow:hidden;}
.whois .list p {height:42px; padding-top:30px; font-size:24px; color:#ec0000;}
.whois .list ul {width:644px; font-weight:300; font-size:16px;}
.whois .list li {float:left; width:135px; height:145px; margin-right:26px;}
.whois .list li img {display:block; margin-bottom:3px;}
.whois .list li strong {display:block; color:#010202;}
.whois .list span {display:block; clear:both; height:20px; font-weight:300; font-size:16px;}
.whois .list.s1 p, .whois .list.s1 span a {color:#ee3009;}
.whois .list.s2 p, .whois .list.s2 span a {color:#2968a3;}
.whois .list.s3 p, .whois .list.s3 span a {color:#d333a0;}
.whois .list.s4 p, .whois .list.s4 span a {color:#ff8a00;}
.whois .list.s5 p, .whois .list.s5 span a {color:#4a9422;}
.whois .desc {height:297px; padding:20px; border-bottom:1px solid #ebebeb; color:#333;}
.whois .desc img {float:left; width:220px; height:290px; margin-right:20px;}
.whois .desc h2 {font-weight:400; padding-bottom:10px; font-size:18px;}
.whois .desc p {font-weight:300; padding:0px 10px 10px 0px; font-size:17px; line-height:22px;}
.whois .desc span {font-size:17px;}
.whois .desc span a {color:#556393;}
.whois .news h3 {padding:10px 20px; color:#ec0000; font-size:24px; font-weight:400;}
.whois .news ul {margin:0px 20px;}
.whois .news li {height:150px; padding:17px 17px 17px 0px; border-top:1px solid #ebebeb;}
.whois .news li img {float:left; margin-right:25px;}
.whois .news li p {padding-top:7px; margin-bottom:10px; font-weight:300; font-size:14px; color:#999;}
.whois .news li p a {color:#999;}
.whois .news li p b {margin:0px 12px;}
.whois .news li p small {font-size:14px;}
.whois .news li span {line-height:22px; font-size:18px; font-weight:300; color:#000;}
	.whois .news li span a { color: #000 }
	.whois .news li span a:hover { text-decoration: underline }
	.whois .news li span strong {display:block; font-weight:400; margin-bottom:7px;}

.whois .text {border-bottom:0px;}
h2.wo {width:980px; margin:0px auto; padding:10px 0px; font-weight:400; line-height:30px; font-size:24px; color:#ec0000; border-top:1px solid #ebebeb;}
/*CONT STYLE2*/
.cont.c2s {width:658px; padding-bottom:15px;}
.cont.c2s .info {height:155px; padding:20px 0px 55px 10px; border-top:0px;}
.cont.c2s .info img {margin-right:27px;}
.cont.c2s .info p {float:none; width:auto; padding-top:25px;}
.cont.c2s .info span {padding:30px 20px 0px 0px;}
.cont.c2s .info ins {clear:both; display:block; padding:6px 0px 0px 170px; border-top:1px solid #f1f5fe; font-weight:300; font-size:13px; color:#ccc;}
/*FOOTER*/
.footr {background:#f8f8f8; border-top:33px solid #e70000; font-weight:300; font-size:14px;}
.footr .wrap { position: relative; z-index: 2; background-color: transparent; }
.footr a {color:#666;}
.footr a:hover {text-decoration:underline;}
.footr p {height:30px; font-weight:400; font-size:15px; color:#000;}
.footr .bgn {height:33px; margin:-33px 0px 27px 0px;}
.footr .bgn h5 {float:left; width:150px; height:24px; margin-top:8px; font-size:0px; background:url(s.png?v=2) 0px -182px no-repeat;}
.footr .bgn h5 a {display:block; height:24px;}
.footr .bgn h6 {float:right; width:296px; height:27px; margin-top:4px; font-size:0px; background:url(s.png?v=2) 0px -206px no-repeat;}
.footr .tag {margin-bottom:30px; padding-bottom:15px; border-bottom:1px solid #ebebeb;}
.footr .tag dd {float:left; width:230px; margin:0px 15px 15px 0px;}
.footr .ctg {margin-bottom:30px; padding-bottom:15px; border-bottom:1px solid #ebebeb;}
.footr .ctg ol { }
.footr .ctg ol:first-of-type {  }
.footr .ctg strong {font-weight:300; color:#000;}
.footr .ctg li {float:left; width:112px; margin-right:10px; margin-bottom:15px;}
.footr .mob {height:84px; margin-bottom:25px; border-bottom:1px solid #ebebeb;}
.footr .mob a {margin-right:230px;}
.footr .mob i {float:right; width:113px; height:68px; margin:-14px 35px 0px 0px; background:url(s.png?v=2) 0px -372px no-repeat;}
.footr .end {padding-bottom:40px; text-align:center; color:#999;}
.footr .end ul {height:30px; font-size:12px; display:inline-block;}
.footr .end li {float:left; height:14px; padding:0px 15px; border-left:1px solid #838383;}
.footr .end li:first-child {border:0px;}
.footr .end span {font-weight:400; font-size:13px;}
.footr .end small {display:block; line-height:16px; font-size:12px;}
/* 404 PAGE */
.hdr4s {height:70px; padding-top:30px;}
.hdr4s h1 {float:left; width:250px; height:41px; background:url(s.png?v=2) 0px -41px no-repeat;}
.hdr4s h1 a {display:block; font-size:0px; height:41px;}
.hdr4s span {float:right; width:390px; height:40px; background:#ebebeb;}
.hdr4s input.tx {float:left; width:349px; height:40px; border-right:1px solid #fff; text-indent:14px; font-family:'Oswald'; font-weight:300; font-size:20px; color:#fff;}
.hdr4s input.tx:focus {color:#536680;}
.hdr4s input.bt {float:left; width:40px; height:40px; font-size:0px; cursor:pointer; background:url(b.png) -284px -593px no-repeat;}
.mnu4s {margin-bottom:30px; font-weight:300; font-size:18px;}
.mnu4s a {color:#e70000;}
.mnu4s a:hover {text-decoration:underline;}
.mnu4s i {display:inline-block; width:1px; height:22px; margin:0px 20px; background:#e70000; top:2px; position:relative;}
.mnu4s i:first-of-type {display:none;}
.icn4s {height:277px; background:#e8ebf4;}
.icn4s i {float:left; width:488px; height:277px; background:url(404.jpg) no-repeat;}
.icn4s span {float:right; width:490px; padding:90px 0px; text-align:center; font-weight:300; font-size:24px; color:#ec0000;}
.icn4s span b {display:block; font-weight:300; font-size:48px; padding-bottom:8px;}
.tag4s {padding:70px; font-weight:300; font-size:15px; text-align:center; line-height:40px;}
.tag4s a {color:#e70000;}
.tag4s a:hover {text-decoration:underline;}
.tag4s i {display:inline-block; width:1px; height:19px; margin:0px 23px; background:#e70000; top:2px; position:relative;}
.tag4s i:first-of-type {display:none;}
/*COMMON HOVER*/
.headr .tags .m dt a:hover, .side .str li p a:hover, .pnbox a:hover, .cgbox .onws a:hover, .ctgry .list span a:hover, .wsbox li a:hover, .rgnws .news p a:hover, .authr .post li a:hover strong, .authr .list p a:hover, .side .nws li strong a:hover {text-decoration:underline;}
.pnbox .stry li span a:hover {text-decoration:none;}

.msg { padding: 10px; margin-top: 10px; font-family: 'Oswald'; font-size: 14px }
.danger { background-color: #cc0000; color: #fff }
.success { background-color: #497d1f; color: #fff }

.cvds ul.n2 li { margin-bottom: 10px }

.hdls { text-align: center }
.hdls li { display: inline-block; margin: 5px }
.hdls li a { display: block }

.btn-gm { display: block; margin-top: 34px }

.tc { display: block; text-align: center }

.arch {  }
	.arch > li { float: left; width: 188px; height: 295px; padding: 10px; margin: 5px 5px 20px 5px }
	.arch > li > h5 { margin-bottom: 10px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; line-height: 28px; color: #ec0000 }
	.arch > li > ul > li { margin-bottom: 12px; font-size: 12px }
	.arch > li > ul > li > a { color: #333 }
	.arch > li > ul > li > a:hover { text-decoration: underline }

	.sndfrn { position: absolute; width: 250px; right:-20px; top: 22px; padding: 10px; background-color:rgba(255, 255, 255, 0.98); border: 1px solid #ebebeb; font-size: 14px }
	.sndfrn strong { display: block; margin-bottom: 10px; font-size: 16px; font-weight: 400; color: #ec0000 }
	.sndfrn .itxt { width: 236px; padding: 6px; margin-bottom: 5px; border: 1px solid #ccc; font-family: 'Oswald'; font-size: 14px; font-weight: 300 }
	.sndfrn .txt { width: 236px; height: 100px; padding: 6px; margin-bottom: 5px; border: 1px solid #ccc; font-family: 'Oswald'; font-size: 14px; font-weight: 300 }
	.sndfrn button { background-color: #e70000; padding: 6px; border-radius: 2px; border:0; outline: none; cursor: pointer; font-family: 'Oswald'; font-size: 13px; font-weight: 300; color: #fff }
	.sndfrn button.but { background-color: #cc0000 }

.widgetsHead {
	background-color: #f2f2f2;
	color: #666666;
	padding: 10px 0;
	margin-bottom: 30px;
	text-align: center;
}

.widgets {  }
.widgets .widget1, .widgets .widget2 { display: block; margin-bottom: 10px }
.widgets .widget1 textarea { width: 280px; height: 302px; padding: 10px; border: 1px solid #eee; color: #666; text-align: left; font-size: 14px; line-height: 20px }
.widgets .widget2 textarea { width: 250px; height: 180px; padding: 10px; border: 1px solid #eee; color: #666; text-align: left; font-size: 14px; line-height: 20px }
.widgets .widget2 .frm { margin-bottom: 10px }

.currency { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 25px 32px 25px 32px; margin: 20px 0 20px 0 }
.currency ul { height: 104px; overflow: hidden; }
.currency ul li { float: left; width: 130px; height: 40px; position: relative; margin-bottom: 24px }
.currency ul li span.icon { display: block; position: absolute; left: 0; top: 0; width: 40px; height: 40px; background: url(s.png?v=2) no-repeat; }
.currency ul li span.icon.usd { background-position: 0 -568px }
.currency ul li span.icon.euro { background-position: -42px -568px }
.currency ul li span.icon.gold { background-position: -84px -568px }
.currency ul li span.icon.bist { background-position: -126px -568px }
.currency ul li span i.up { position: absolute; bottom: 2px; right: 2px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #3eca18; }
.currency ul li span i.down { position: absolute; bottom: 2px; right: 2px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #ff0000; }
.currency ul li span i.updown { position: absolute; display: block; bottom: 2px; right: 2px; width: 6px; height: 6px; background-color: #0fd1e8; border-radius: 50% }
.currency ul li p { margin-left: 50px }
.currency ul li p strong { display: block; margin-bottom: 7px; font-weight: 300; color: #999; }
.currency ul li p em { display: block; font-weight: 400; color: #333; font-style: normal }

.weather { border-bottom: 1px solid #ccc; padding: 0 32px 25px 32px; margin: 20px 0 20px 0 }
.weather ul {  }
.weather li { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #eee }
.weather li span { display: inline-block; width: 140px; font-weight: 300 }
.weather li i { display: inline-block; width: 25px; margin-right: 50px }
.weather li b { display: inline-block; font-weight: 400 }

.day-headlines { width: 312px; height: 1150px; position: relative; padding: 0 0 25px 0; margin: 0 auto 20px auto }
.day-headlines h5 { margin: 0 25px 0 25px !important }
.day-headlines .dhcnt { padding: 0 25px 0 25px; height: 1100px; overflow: hidden; }
.day-headlines ul { font-weight: 300 }
.day-headlines ul li { position: relative; height: 56px; padding-top: 14px; border-bottom: 1px solid #f0f6e8; overflow: hidden; }
.day-headlines ul li:last-child { border:0; }
.day-headlines ul li a { display: block; height: 46px; line-height: 22px; overflow: hidden; margin-left: 50px; font-size: 18px; color: #333; }
.day-headlines ul li span { position: absolute; left: 0; top: 17px; color: #666; }
.day-headlines .up { position: absolute; bottom: 0; left: 0; width: 155px; height: 42px; background-color: #b2b2b2; color: white; text-align: center; }
.day-headlines .down { position: absolute; bottom: 0; right: 0; width: 155px; height: 42px; background-color: #b2b2b2; color: white; text-align: center; }
.day-headlines .down b { display: inline-block; width: 0; height: 0; margin: 17px 0px 0px 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #fff }
.day-headlines .up b { display: inline-block; width: 0; height: 0; margin: 16px 0px 0px 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff }
.day-headlines .ad { height: 157px }
.day-headlines .ad .dhad { width: 262px; height: 157px }

.bottom-headlines { width: 980px; height: 240px; margin-bottom: 20px; background-color: #f0f0f0 }
.bottom-headlines ul {  }
.bottom-headlines ul li { float: left; width:220px; height:210px; margin-top: 15px; margin-left: 20px; background-color: #fff }
.bottom-headlines ul li a { display: block }
.bottom-headlines ul li a img { width:220px; height:147px; margin-bottom:5px; }
.bottom-headlines ul li a span { display:block; padding:0px 13px; line-height:24px; font-size:20px; font-weight:300; color:#010202; }


.todayNews { font-size: 18px; font-weight: 300 }
.todayNews li { margin: 20px }
.todayNews li a { color: #333; }
.todayNews li a:hover { text-decoration: underline; }
.todayNews li a samp { display: inline-block; width: 50px; font-family: Oswald; color: #999; }

.wrap.ctgry h1 { margin: 20px 20px 40px 20px; font-size: 24px; font-weight: 400; color: #ec0000 }

.smlbnr { margin-top: 20px }
.smlbnr.issc { margin-bottom: 20px; position: relative; }
.smlbnr.issc a { display: block; position: absolute; top: 13px; width: 46px; height: 46px; overflow: hidden}
.smlbnr.issc a.fb { right: 59px }
.smlbnr.issc a.tw { right: 105px; }
.smlbnr.issc a.gp { right: 13px }

.similars { width: 542px; padding: 20px; margin: 10px auto 20px auto; background-color: #e4e6ed }
.similars h3 { margin-bottom: 20px; font-size: 20px; font-weight: 400; color: #727da2; }
.similars ul {  }
.similars ul li { display: block; float: left; width: 176px; height: 210px; margin: 2px; background-color: #a5a9b8 }
.similars ul li a { display: block; width: 140px; height: 193px; padding: 17px 18px 0 18px; color: #fff; }
.similars ul li a:hover { background-color: #e70000 }
.similars ul li img { margin-bottom: 10px; }
.similars ul li strong { display: block; font-size: 18px; font-weight: 300 }

.special_news { position: fixed; z-index: 5; bottom: 20px; right: -459px; width: 415px; height: 260px; background-color: #212121 }
.special_news .close { display: block; position: absolute; top: 0; left: -34px; width: 34px; height: 34px; background-color: #ec2700; color: white; text-align: center; }
.special_news .close b { font-size: 30px; font-weight: 400 }
.special_news h3 { height: 14px; padding: 10px; background-color: #ec2700; font-size: 15px; font-weight: 400; color: white  }
.special_news ul { padding: 0 20px 0 20px; list-style: none }
.special_news ul li { height: 75px; padding: 20px 0 20px 0; border-bottom: 1px solid #383838 }
.special_news ul li:last-child { border: 0 }
.special_news ul li a { display: block; height: 75px; position: relative; color: white }
.special_news ul li img { position: absolute; top:0; left: 0 }
.special_news ul li strong { display: block; margin-left: 110px; font-size: 17px; font-weight: 300 }

.wrap-fullpageskin { position: relative; width: 100%; overflow: hidden; }
.fullpageskin { position: fixed; top:0; width: 1920px; left: 50%; margin: 0 0 0 -960px; text-align: center; }

.masthead { width: 980px; margin: 10px auto; text-align: center; position: relative }
.custom-masthead { position: relative; min-height: 20px; margin-bottom: 20px; text-align: center }
.custom-masthead .closing { position: absolute; top:0; right: 0; display: block; width: 100px; height: 18px; font-size: 16px; line-height: 1.1; font-weight: bold; padding: 6px; color: #fff; background-color: #cc0000; text-align: center; z-index: 999 }


#prestitial {  }
#prestitial .prestitial { position: absolute; top:0; left:0; z-index: 10; width: 100%; height: 100%; background-color: #000; text-align: center; color: #fff }
#prestitial .prestitial_top { padding: 6px; background-color: #ccc; color: #000 }
#prestitial .prestitial_top a { color: red }

.ads500 { width: 500px; margin: auto; text-align: center; }
.ads300 { width: 300px; margin: auto; text-align: center; }
.ads728 { width: 728px; margin: auto auto 20px auto; text-align: center; }
.ads300_150 { width: 300px; margin: auto auto 20px auto; text-align: center; }

.srch-not { margin: 20px; font-size: 26px; font-weight: 300; line-height: 32px; text-align: center; }
.srch { position: relative; width: 554px; height: 31px; margin: auto auto 30px auto }
.srch .tx { width: 500px; padding: 6px; height: 17px; border: 1px solid #eee; font-size: 13px; font-weight: 300; color: #666 }
.srch .bt { position: absolute; right: 0; top: 0; width: 50px; height: 31px; padding: 9px; background-color: #ccc; color: white }

.spc-inf { width: 940px; padding: 20px; background-color: #e9e9e9 }
.spc-inf .spc-inf-cnt { font-size: 20px; font-weight: 300; line-height: 26px }
.spc-inf .spc-inf-cnt h1,
.spc-inf .spc-inf-cnt h2,
.spc-inf .spc-inf-cnt h3,
.spc-inf .spc-inf-cnt h4,
.spc-inf .spc-inf-cnt h5,
.spc-inf .spc-inf-cnt h6 { margin-bottom: 20px; font-weight: normal; font-size: 26px }
.spc-inf .spc-inf-cnt p { margin-bottom: 20px }
.spc-inf .spc-inf-cnt ul.spc-rlt { margin:0; padding: 0; list-style: none; text-align: right; }
.spc-inf .spc-inf-cnt ul.spc-rlt li { display: inline-block; margin-right: 10px }
.spc-inf .spc-inf-cnt a, .spc-inf .spc-inf-cnt a:visited { color: #666 }
.spc-inf .spc-inf-cnt a:hover { text-decoration: underline; }

.PageskinWrap{position:absolute;top:108px;left:0;width:100%;height:100%;z-index:1; overflow: hidden;}
.Pageskin{z-index:2;width:49%;height:100%;margin-top:0}
.PsSol{float:left}
.PsSol .BannerCode{padding-right:480px;text-align:right;display:block;float:right}
.PsSag{float:right;position: fixed;right: 0}
.PsSag .BannerCode{padding-left:490px;text-align:left;display:block}

.sc-all {  }
.sc-all li { float: left; width: 220px; padding: 8px; font-weight: 300; }
.sc-all li a { color: #666 }

.adv-dtl { position: relative; width: 100%; height: 40px; background-color: #d30909 }
.adv-dtl span { position: absolute; display: block; left:0; top: 0; width: 50px; height: 30px; padding-top: 10px; text-align: center; background-color: #000; color: #fff; font-size: 18px }
.adv-dtl a { display: block; padding-top: 11px; height: 29px; margin-left: 60px; color: #fff; font-size: 16px }

#glryhst {  }
#glryhst .glryitem { text-align: center; margin-bottom: 80px }
#glryhst .glryitem img { max-width: 100%; margin-bottom: 20px }
#glryhst .glryitem p { width: 623px; margin:auto auto 60px auto; font-size: 20px; font-weight: 300; line-height: 28px; color: #333 }
#glryhst .glryitem .btns { position: relative; border-bottom: 1px solid #ddd }
#glryhst .glryitem .btns ul { position: absolute; left: 50%; top:-20px; margin-left: -65px; padding: 0 20px 0 20px; list-style: none; background-color: #fff }
#glryhst .glryitem .btns ul li { display: inline-block; }
#glryhst .glryitem .btns ul li a {float:left; font-size:0px; width:40px; height:40px; margin-left:1px; background:url(s.png?v=2) no-repeat;}
#glryhst .glryitem .btns ul li a.tw {background-position:0px -331px;}
#glryhst .glryitem .btns ul li a.fb {background-position:-82px -331px;}
#glryhst .glryitem .btns ul li a.gp {background-position:-41px -331px;}
#glryhst .glryitem .num { position: absolute; top: -50px; right: 0; width: 80px; height: 90px; padding: 10px 0 0 20px; background-color: #cccccc; font-size: 70px; font-weight: 300; font-style: italic; text-align: left; color: #ececec }
#glryhst .glryitem .num span { position: absolute; right: 0; bottom:0; background-color: #fff; padding: 4px; font-size: 13px; font-style: normal; color: #333 }
#glryhst .mst {  margin-bottom: 30px }
#glryhst .glryitem .glrsml {  float: left; width: 640px; }
#glryhst .glryitem .glrad {  float: right; width: 336px; }
#glryhst .nextglr { display: block; padding: 20px; margin-top: 20px; background-color: #cccccc; font-size: 26px; font-weight: 300; text-align: center; color: #7c7074 }

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.2s infinite ease-in-out;
  animation: load7 1.2s infinite ease-in-out;
}
.loader {
  font-size: 10px;
  margin: 0 auto 60px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -2.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 2.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ccc;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ccc;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ccc;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ccc;
  }
}

.ramazan { background: url(ramazan_bg.png) }
.ramazan .headr { background-color: transparent }
.ramazan .headr .navi { background-color: #f4951a }
.ramazan .headr .navi .wrp { background: url(ramazan_bg_2.png) 50px 0 no-repeat }
.ramazan .headr .navi .m { width: 650px }
.ramazan .headr .navi .m ol > li:last-child { float: right }
.ramazan .headr .navi .s small { color: #fff }
.ramazan .wrap { background-color: transparent }

.nws-vd { position: relative; width: 582px; height:340px }
.nws-vd .nws-vd-cnt .cls { position: absolute; top: -30px; right: 0; display: none; padding: 6px; background-color: #000; color: #fff; text-align: center; vertical-align: middle; font-size: 18px }
.vdfix { position: fixed; right: 50%; top: 140px; margin-right: -489px; width: 320px }

.text-links { margin-bottom: 30px; }
.text-links a { display: block; margin-bottom: 5px }

.ctv-bx { margin-top: 20px; margin-bottom: 20px }
    .ctv-bx.clearfix { display: block }
    .ctv-bx .ctv { float: left; width: 614px; height: 644px; overflow: hidden; padding: 23px; background-color: #fece00; color: #000 }
    .ctv-bx .ctv h3 { position: relative; margin-bottom: 20px; font-weight: 400; font-size: 22px }
    .ctv-bx .ctv h3 a { position: absolute; right: 0; font-size: 16px; color:#000 }
    .ctv-bx .ctv .ctv-sld { position: relative; margin-bottom: 20px }
    .ctv-bx .ctv .ctv-sld ul { margin-bottom: 10px }
    .ctv-bx .ctv .ctv-sld li { float: left; width: 612px; height: 390px }
    .ctv-bx .ctv .ctv-sld li a { display: block; color:#000 }
    .ctv-bx .ctv .ctv-sld li a img { width: 612px; height: 344px; margin-bottom: 15px }
    .ctv-bx .ctv .ctv-sld li a strong { display: block; padding: 0 40px; font-weight: 300; font-size: 24px; text-align: center }
    .ctv-bx .ctv .ctv-sld .pgn { text-align: center }
    .ctv-bx .ctv .ctv-sld .pgn a { display: inline-block; width: 10px; height: 10px; margin-right: 10px; overflow: hidden; text-indent: -9999px; background-color: #f2a813; border-radius: 50% }
    .ctv-bx .ctv .ctv-sld .pgn a.selected { background-color: #ff5000 }
    .ctv-bx .ctv .ctv-sld .prv,
    .ctv-bx .ctv .ctv-sld .nxt { position: absolute; bottom: 25px; font-size: 28px; color:#000; background-color: #fece00 }
    .ctv-bx .ctv .ctv-sld .nxt { right: 0 }
    .ctv-bx .ctv .ctv-sld .prv { left: 0 }

    .ctv-bx .ctv-lst {  }
    .ctv-bx .ctv-lst article { float: left; width: 193px; margin-right: 15px }
    .ctv-bx .ctv-lst article:last-child { margin-right: 0 }
    .ctv-bx .ctv-lst article a { display: block }
    .ctv-bx .ctv-lst article a img { width: 193px; height: 109px; margin-bottom: 10px }
    .ctv-bx .ctv-lst article a strong { display: block; font-size: 18px; font-weight: 300; line-height: 20px; color: #000 }

