#shop_xiaoshuxiong .icon{position: absolute; right: 0; top: 0; width: 29px; height: 13px; background: url(//static.mama.cn/mama/images/special_nav_icon.png) no-repeat 0 -400px;}

#special_Login{font-size: 14px; line-height: 34px;}
#special_Login li{float: left;}
#special_Login .sLog{position: relative;}
#special_Login .sLog .mainA{padding-right:37px; background: url(//static.mama.cn/mama/images/special_nav_icon.png) no-repeat 38px -243px;}
#special_Login .sLog .mainA:hover{background-position: 38px -293px;}
#special_Login .sLog dl{
    z-index: 999;
    width: 125px;
    border: 1px solid #cdcccd;
    background: #fff;
    position: absolute;
    left: -48px;
    display: none;
}
#special_Login .sLog dl dd{
    background: url(//static.mama.cn/mama/images/special_nav_icon.png) no-repeat;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f1f1f1;
    }
#special_Login .sLog dl dd a{display: block;
    padding-left: 42px;}
#special_Login .sLog dl .topIcon{width: 12px;height: 10px;position: absolute; background-position: 0 -200px; border-bottom: 0 none; top: -10px; left: 50%; margin-left: -6px;}
#special_Login .sLog dl .slog1{background-position: 13px 9px;}
#special_Login .sLog dl .slog2{background-position: 13px -39px;}
#special_Login .sLog dl .slog3{background-position: 13px -90px;}
#special_Login .sLog dl .slog4{background-position: 13px -140px; border: none;}
#special_Login .sReg{padding-left: 23px; background: url(//static.mama.cn/mama/images/special_nav_icon.png) no-repeat 0 -340px;}


#special_user_info{}
#special_user_info .uh1{cursor: pointer; float: left; width: 25px; height: 25px; overflow: hidden; border-radius: 50%; margin:5px 10px 0 0; *display: inline;}
#special_user_info .uh1 img{width: 25px; height: 25px; border-radius: 50%; display: block; border: 0 none;}
#special_user_info .uin{float: left; position: relative;}
#special_user_info .mainSpan{cursor: pointer; line-height: 34px; padding-right: 16px; position: relative; margin-right: 12px; display: block;
overflow: hidden; white-space: nowrap; text-overflow:ellipsis; max-width: 80px; *width:80px; font-family: arial, microsoft yahei;}
#special_user_info .mainSpan i{position: absolute; width: 6px; height: 5px; background: url(//static.mama.cn/mama/images/special_nav_icon.png) no-repeat 0 -450px; right: 0; top: 15px;}
#special_user_info .msgCount{cursor: pointer; margin: 5px 0 0; float: left; width: 24px; height: 24px; line-height: 24px; font-size: 11px; color: #fff; text-align: center; background: #ff7398; border-radius: 50%; font-family: arial;}


#sui_drop{display: none; z-index: 999; left: 50%; margin-left: -138px; padding: 12px 15px; width: 190px; background: #fff; border: 1px solid #cdcccd; position: absolute;}
#sui_drop .topIcon{width: 12px;height: 10px;position: absolute; background: url(//static.mama.cn/mama/images/special_nav_icon.png) no-repeat 0 -200px; border-bottom: 0 none; top: -10px; left: 50%; margin-left: -6px;}
#sui_drop  .topBox {padding-bottom: 11px; border-bottom: 1px solid #f1f1f1;}
#sui_drop  .topBox img{float: left; width: 56px; height: 56px; border: 0 none; margin: 0 13px 0 0;}
#sui_drop  .topBox h3{color: #020202; font-family: arial, microsoft yahei; font-size: 14px; font-weight: normal; line-height: 24px; padding: 5px 0 0; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
#sui_drop  .topBox p{color: #020202; font-size: 12px; line-height: 22px;}
#sui_drop  .topBox h3 a, #sui_drop  .topBox p a{color: #020202;}
#sui_drop ul{margin: 7px 0 0;}
#sui_drop ul li{width: 50%; float: left; font-size: 12px; line-height: 30px;}
#sui_drop ul li a{color: #020202;}
#sui_drop ul li .msgCount2{margin: 3px 0 0 7px; display: inline-block; vertical-align: top; width: 24px; height: 24px; line-height: 24px; font-size: 11px; color: #fff; text-align: center; background: #ff7398; border-radius: 50%; font-family: arial;}


#nav .menu li{background: none; padding-left: 0;}
#nav .menu li.noDot{margin-right: 20px;}
#nav .menu li#nav_lib_li,
#nav .menu li#nav_ask_li,
#nav .menu li#nav_z_li{margin-right: 20px;}
#nav .menu li.drop span.noLink{padding-right: 30px;}
#nav .menu li#shop_xiaoshuxiong {margin-left: 0;}

#allNav{overflow: visible;}