.e1-top-bar-cover {
    position: relative;
    z-index: 99;
}
.e1-top-bar {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: normal;
    left: auto;
    margin: 0;
    max-width: 1400px;
    min-width: 1223px;
    padding: 0;
    width: 100%;
}

.e1-top-bar__content {
    display: block;
}
.e1-top-bar__projects {
    display: block;
    margin: 0;
    white-space: nowrap;
    position: relative;
}
.e1-nav-cover {
    white-space: nowrap;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    white-space: nowrap;
    display: table;
    background: #444 none repeat scroll 0 0;
    border-bottom: 1px solid #545454;
}
.e1-nav {
    margin: 0;
    padding: 0;
    font-size: 0;
    font-size: 0;
    display: table-row;
}
.e1-nav__item {
    margin: 0;
    vertical-align: top;
    height: 19px;
    position: relative;
    font-size: 0;
    padding: 0 19px;
    text-align: left;
    display: table-cell;
}
.e1-nav__item_center{
    text-align: center;
}
.e1-nav__item_open{
}
a.e1-nav__link, span.e1-nav__link {
    color: #ffffff;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    text-decoration: none;
    width: 100%;
    line-height: 20px;

}
span.e1-nav__link{
    line-height: 20px;
}
a.e1-nav__link:hover {
    color: #FF5200;
    transition: background 0.3s ease 0s, color 0.3s ease 0s;
}

.e1-nav__else {
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 0;
    position: relative;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    height: 20px;
}
.e1-nav__else:hover{
    color: #FF5200;
}

.e1-nav__triangle{
    border-color: #fff #434343 #434343;
    border-style: solid;
    border-width: 4px 4px 0;
    display: inline-block;
    margin-left: 0;
    vertical-align: 2px;
    width: 0;
}
.e1-nav__else:hover .e1-nav__triangle{
    border-color: #FF5200 #434343 #434343;
}
.e1-nav_vertical.e1-nav_vertical{
    background-color: #434343;
    display: none;
    left: 0;
    margin: 1px 0 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.e1-nav_vertical .e1-nav__item{
    height: 20px;
    border-bottom: 1px solid #545454;
    line-height: 18px;
    list-style: outside none none;
    display: block;
    width: auto;
    padding: 0;
    text-align: center;

}
.e1-nav_vertical a.e1-nav-submenu__link{
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.e1-nav_vertical a.e1-nav-submenu__link:hover {
    color: #FF5200;
    transition: background 0.3s ease 0s, color 0.3s ease 0s;
}
.e1-nav-adv-cover{  }
.e1-nav-adv{
    margin: 0;
    padding: 0;
    height: 19px;
    display: block;
    white-space: nowrap;
    font-size: 0;
    background-color: #ff5200;
    overflow: hidden;
}
.e1-nav-adv__item{
    display: inline-block;
    list-style: none;
    font-size: 0;
    text-align: center;
    border-bottom: 1px solid #ff5200;
}

.e1-nav-adv__item_blue{
    border-right: 1px solid #2bafe4;
    border-bottom: 1px solid #23ace3;
    background-color: #23ace3;
}
.e1-nav-adv__item_gray{
    border-right: 1px solid #adadad;
    border-bottom: 1px solid #aaaaaa;
    background-color: #aaaaaa;
}
.e1-nav-adv__item_red{
    border-right: 1px solid #e94e35;
    border-bottom: 1px solid #e74227;
    background-color: #e74227;
}

a.e1-nav-adv__link {
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 0 19px;
    height: 19px;
    display: block;
    line-height: 19px;
}
.e1-nav-adv__link:hover{
    transition: background 0.1s ease 0s, color 0.1s ease 0s;
    color: #434343;
}