.slide_date {
    width: 380px;
}
.slide_name_td {
    width: 100%;
    height: 38px;
}
.slide_name {
    width: 100%;
    height: 38px;
    overflow: hidden;
}
.slider_main_table {
    height: 300px;
}
.slider_relative {
    position: relative;
}
.slider_prev_div {
    position: absolute;
    z-index: 10;
    top: 140px;
    left: 0;
}
.slider_main_td {
    background-color: #B5B5B5;
    max-width: 547px;
    height: 300px;
}
.slider_main_foto {
    border: 1px #B5B5B5 solid;
}
.slider_main_img {
    width: 100%;
    border: 0;
}
.slider_next_container {
    position: absolute;
    z-index: 10;
    top: 140px;
    left: -13px;
}
.slider_mini_prev_div {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 1px;
}
.slider_mini_next_div {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: -14px;
}
.slider_mini_date {
    font-size: 10px;
    color: #646464;
}

.slider_mini_td {
    font-size: 11px;
    color: #4b4b4b;
    height: 61px;
    width: 140px;
    overflow: hidden;
}

.slider_mini_img {
    width: 140px;
    border: 0;
}

.slider_mini_div {
    border: 2px #e1e1e1 solid;
    width: 140px;
    height: 77px;
    overflow: hidden;
}
.slider_mini_div_active {
    border: 2px #828282 solid;
    width: 140px;
    height: 77px;
    overflow: hidden;
}