body, *{font-family:Arial, helvetica, Sans-Serif; color:#000;}
a{text-decoration:underline;color:#1F61A2;}

/* Global */
div#src-wrapper-nav,
div#src-wrapper-footer,
div#src_wrapNav,
div.src_wrapPied,
div#src_divisionDroite,
td.src_divisionGauche,
div.srcPubBg,
div#src_col-1024,
span#btnCommentaire,
div#commentNav,
div#pluckForm-0,
div#infoAdd,
div.txtLegalElection,
div#pluckComments-0,
div.infoAdd,
a.inscrivez_vous,
p.note,
div.enteteSecondaire,
div.plFull,
div.plCompact,
div.title-section,
/* Nouvelles */
div.rss,
div.srcBoContainer,
div#EPSSMenu,
div#commentAbuse,
div.commentRecommendation,
table#navInfo,
div.absBottom,
div.onglets,
/* Sports */
div.src_colDroite,
div#blockFlash,
div#src_EntetePage,
/* Region */
ul.srcNo_listeSdn,
/* Ppage */
div#coffee-machine-block,
div#src-include-bottom,
.link-see-more,
.comments-link,
div#more-lineup,
#src-header
{display:none;}

/* sujets */
#src-sujets ul li.document{
    clear:both;
    overflow:hidden;
    padding-bottom:10px;
}

#src-sujets ul li.document h2{margin:0 0 5px 0;}

#src-sujets ul li.document div.lead{width:520px;}

div#src-right-col{display:none;}
/*********/

/* Ppage */
div.credit {font-size: 11px;}

h1.title-top-story, h1.title-top-story a,
h1 {
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
    margin:0;
}

div#fidelity-news div.tilte-block a {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
}

div#fidelity-news div.tilte-block {margin-bottom: 7px;}

div#top-story {margin-bottom:14px;}

h2 {margin:0;}

h4{margin:0 0 4px 0;}

div#fidelity-news div.double-block div.left-content {margin-bottom:15px;}

div.news-block{margin:20px 0;}

ul#lineup-news li,
div#liveevent-wrapper,
ul#featured-stories li,
ul.lineup-news li,
ul#lineup-dossiers li{margin-bottom:20px;}

/*************************/

ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

div.comment{border-bottom:1px dotted #ccc;}

.src_colCentre h1 {
	margin: 0 0 10px 0;
	font-size: 18pt;
}

.src_colCentre .surtitre {margin: 30pt 0 0;}

.src_colCentre .dateMod {margin: 0 0 10pt;}

.flag {
	background-color: #333333;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-size: 14pt;
}

.contentImgTable {border: 1px solid #ccc;}

.contentImgTable .legende, .contentImgTable .credit {
	width: 354pt;
	margin: 0 auto;
	font-size: 8pt;
}

.src_colCentre .imgGauche {
	float:left;
	margin-right: 10pt;
}

.src_colCentre .imgDroite {
	float:right;
	margin-left: 10pt;
}

div.commentAuthor{font-size:11px;}

.src_colCentre .auteur {margin: 10pt 0 10pt;}

.src_colCentre .auteur img{
	margin-right: 10pt;
}

.src_colCentre .auteur .bio {
	vertical-align: bottom;
}

.src_colCentre .auteur .bio p {
	margin: 0;
	padding: 5px;
	border: 1px solid #ccc;
}

.src_colCentre .intro{
	padding: 5px;
	border: 1px solid #ccc;
}

.src_colCentre .agence{	font-size:11px;}

.commentPosted{font-size:10px;}

.srcNo_3eUne img {
    float: left;
	margin: 0 10px 10px 0;
}

p.SurTitre{
	font-size:11px;
	margin:0;
}

h3{margin:0 0 5px 0;}

div.src_logoPrint{
    display:block;
    background:url(/_img/logo/logo-nav-radio-canada.gif) left top no-repeat;
    width:302px;
    height:54px;
    margin-bottom:10px;
}