/* Webfont: Rubrik-Light */
@font-face {
    font-family: 'RubrikLt';
    font-style: normal;
    font-weight: normal;
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Light.eot'); /* IE9 Compat Modes */
    src: url('http://www.r-c.ca/_font/Rubrik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://www.r-c.ca/_font/Rubrik/Rubrik-Light.woff') format('woff'), /* Modern Browsers */
         url('http://www.r-c.ca/_font/Rubrik/Rubrik-Light.svg#Rubrik-Light') format('svg'), /* Legacy iOS */
         url('http://www.r-c.ca/_font/Rubrik/Rubrik-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

