/* Webfont: Rubrik-Medium */
@font-face {
    font-family: 'RubrikMd';
    font-style: normal;
    font-weight: normal;
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.eot'); /* IE9 Compat Modes */
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.woff') format('woff'), /* Modern Browsers */
         url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.svg#Rubrik-Medium') format('svg'), /* Legacy iOS */
         url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

