/* Webfont: Rubrik-Regular */
@font-face {
    font-family: 'Rubrik';
    font-style: normal;
    font-weight: normal;
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Regular.eot'); /* IE9 Compat Modes */
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://www.r-c.ca/_font/Rubrik/Rubrik-Regular.svg#Rubrik-Regular') format('svg'), /* Legacy iOS */
         url('http://www.r-c.ca/_font/Rubrik/Rubrik-Regular.woff') format('woff'), /* Modern Browsers */
         url('http://www.r-c.ca/_font/Rubrik/Rubrik-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'Rubrik';
		src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Regular.svg') format('svg');
	}
}

/* Ray tel: 5278 */