@charset "utf-8";

body { margin:0; padding:0; background-color:#fff; color:#919191; font:normal 12px 굴림,Gulim,Verdana,Arial,AppleGothic,San-Serif; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,blockquote { margin:0; padding:0; }
form, fieldset, iframe { margin:0; padding:0; }
hr { clear:both; display:none; }
img { border:0; vertical-align:middle; }
dt,dl,dd,ul,li,ol,form,p { list-style:none; margin:0; padding:0; }
legend, caption { display:none; }
select, input, textarea { color:#b4b4b4; font:normal 12px 굴림,Gulim,Verdana,Arial,AppleGothic,San-Serif; vertical-align:middle; }
fieldset, blockquote, iframe { border:none; }
button { border:none; vertical-align:middle; cursor:pointer; }
button span { display:block; text-indent:-1000em; }
a, a:visited, a:active { text-decoration:none; }
input[type="button"], input[type="submit"], input[type="text"], input[type="password"] { -webkit-appearance:none; -webkit-border-radius:0; }
a:hover { color:#4facdd; }
em, i { font-style:normal; }
.text_ellipsis { white-space:nowrap; overflow:hidden; }
.clear { clear:both; float:none; width:0; height:0; padding:0; font:0/0 Arial; line-height:0; }
.f_clear:after { content: ""; height: 0; display: block; visibility: hidden; clear: both; }
* html .f_clear { height: 1px; }
.f_clear { display: block;min-height:1px; }
.blind{visibility:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden}

/* Layout */
#wrap{ overflow:hidden; height:100%; width:980px; margin:0 auto; padding:0 20px; }
#header{ position:relative; width:100%; height:131px;background:url('http://md.egloos.com/img/www/index/bg_header_line.gif') repeat-x bottom; z-index:999; }/*vista*/
#container{position:relative;clear:both; width:100%;border-bottom:3px solid #333}
#footer{ clear:both; padding:28px 0 30px; text-align:center;width:980px;margin:0 auto}
#footer ul li{display:inline;margin:0 5px 0 0; padding:0 0 0 7px; background:url('http://md.egloos.com/img/www/bg_sbar.gif') no-repeat left 2px; }
#footer ul li.li_start{ display:inline; padding:0; background:none; }
#footer ul li strong{ font-weight:normal; }
#footer ul li a{ font:normal 8pt 돋움,dotum,verdana,sans-serif; letter-spacing:-1px; }
#footer a:link,#footer  a:visited,#footer  a:hover,#footer  a:active{ color:#7c8188; }
#footer a:hover{ text-decoration:underline; }
#footer p{font-family:Tahoma;font-size:11px;color:#c6c9cd;font-weight:bold;padding-top:15px;}
#footer p em{ display:inline; font-style:normal; font-size:9pt; }
#footer p span.co_sk{ font-weight:bold; color:#e31937;}
#footer p span.co_comms{ font-weight:bold; color:#f58025; }
#footer p .zum{color:#c6c9cd}
.section_top{}
.section_bottom{padding-top:21px}
.section_bottom:after{display:block;clear:both;content:".";width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden}
.col_left{float:left;width:735px}
.col_right{float:left;width:243px;border-left:1px solid #cbcbcb;border-right:1px solid #dddddf;}

/* 밸리 실시간 인기글 */
.valley_real_popular{height:337px;border-bottom:2px solid #616571;font-family:"돋움", dotum;}
.valley_real_popular .top_area{height:44px;border-bottom:1px solid #dee7e6;padding-left:20px;}
.valley_real_popular .top_area h2{float:left;display:block;width:96px;height:15px;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat 0 0;margin-right:9px;margin-top:15px;}
.valley_real_popular .top_area .btn_more{float:left;height:14px;line-height:14px;color:#747474;letter-spacing:-1px;text-decoration:underline;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat right -173px;padding-right:7px;margin-top:16px;}
.valley_real_popular .top_area .valleyreader {float:right;width:82px;height:23px;background:url(http://md.egloos.com/img/www/spr_main.png) -218px -26px no-repeat;margin:12px 20px 0 0;overflow: hidden;}
.valley_real_popular .valley_list li{width:245px;height:292px;float:left;zoom:1;}
.valley_real_popular .valley_list li:hover dt a{color:#3cb5ee;text-decoration:underline;}
.valley_real_popular .valley_list li:hover dd a{color:#474747;text-decoration:none}
.valley_real_popular .valley_list li dd a:hover{text-decoration:underline}
.valley_real_popular .valley_list li:hover .info_user .cate{color:#96969b}
.valley_real_popular .valley_list li:hover .info_user .time{color:#adadad}
.valley_real_popular .valley_list li .valley_list_wrap{height:258px;border-left:1px solid #e3e3e3;padding:20px 20px 0;_padding:20px 15px 0}
.valley_real_popular .valley_list li:first-child .valley_list_wrap{border:0 none;}
.valley_real_popular .valley_list li .over{display:none;position:absolute;width:242px;height:291px;border:2px solid #3cb5ee;margin:-21px 0 0 -21px}
.valley_real_popular .valley_list li:hover .over{display:block;}
.valley_real_popular .valley_list .thumb_photo{position:relative;display:block;}
.valley_real_popular .valley_list .thumb_photo img{width:205px;height:125px;}
.valley_real_popular .valley_list .thumb_photo .img_border{display:block;position: absolute;top: 0;left: 0;width: 203px;height: 123px;border:1px solid #656565;opacity:0.2;filter: alpha(opacity=20);}
.valley_real_popular .valley_list dl{position:relative}
.valley_real_popular .valley_list dt{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#000;font-size:14px;font-weight:bold;letter-spacing:-1px;padding:15px 0 10px;}
.valley_real_popular .valley_list dt a{color:#000;}
.valley_real_popular .valley_list dd{overflow:hidden;color:#999;height:38px;line-height:19px;font-family:"굴림"}
.valley_real_popular .valley_list dd a{color:#999}
.valley_real_popular .valley_list .no_img dt{padding-top:5px;}
.valley_real_popular .valley_list .no_img dd{height:auto;height:168px;line-height:21px;padding-top:9px;margin-bottom:-5px;}
.valley_real_popular .valley_list .info_user{position:relative;color:#ebebeb;font-size:11px;letter-spacing:-1px;padding-top:24px;vertical-align:middle}
.valley_real_popular .valley_list .info_user a:hover{text-decoration:underline}
.valley_real_popular .valley_list .info_user .thumb_user img{border-radius:50%;width:30px;height:30px;vertical-align:top}
.valley_real_popular .valley_list .info_user .bg_circle{position:absolute;left:0;top:24px;width:30px;height:30px;;display:block;background:url(http://md.egloos.com/img/www/bg_circle1.png) no-repeat}
.valley_real_popular .valley_list .info_user .user_id{display:inline-block;color:#9ab2d5;letter-spacing:-1px;max-width:52px;_width:52px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:top;margin-top:8px;*margin-top:10px;}
.valley_real_popular .valley_list .info_user .cate{display:inline-block;color:#b2b2b2;vertical-align:top;margin-top:8px;*margin-top:10px;}
.valley_real_popular .valley_list .info_user .time{position:absolute;top:25px;*top:27px;right:0;color:#c7c7c7;padding-top:7px;zoom:1;display:block}
.valley_real_popular .valley_list .info_user small{position:relative;top:8px;*top:10px;color:#ebebeb;font-size:11px}

/* 광고 영역 */
.main_banner_wrap1{width:728px;height:90px;margin:0 0 31px;}
.main_banner_wrap2{width:243px;height:158px;border-top:1px solid #e0e0e0;margin-top:140px}

/* 밸리 테마별 인기글 */
.valley_theme_popular{position:relative;padding-bottom:58px;}
.valley_theme_popular .top_area{position:relative;padding-bottom:25px;padding-left:20px;}
.valley_theme_popular .top_area h2{float:left;display:block;width:79px;height:16px;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat 0 -17px;vertical-align:middle;margin-right:5px;margin-top:3px;}
.valley_theme_popular .top_area .cate{overflow:hidden;height:23px;padding-left:2px}
.valley_theme_popular .top_area .cate li{zoom:1;float:left;line-height:16px;color:#d8d8d8;font-size:11px;}
.valley_theme_popular .top_area .cate li a{position:relative;display:inline-block;*display:inline;zoom:1;color:#000;font-size:12px;height:21px;line-height:22px;margin:0 5px;*position:relative;*left:5px;}
.valley_theme_popular .top_area .cate li.on a{zoom:1;color:#fff;background:#42bbf8;border-radius:2px;letter-spacing:-1px;font-weight:bold;padding:0 7px;margin:0 -2px;*position:relative;*left:-2px;}
.valley_theme_popular .top_area .cate li a:hover{border-bottom:2px solid #2eb0ee;height:19px;line-height:22px;}
.valley_theme_popular .top_area .cate li.on a:hover{border-bottom:0;height:21px;}
.valley_theme_popular .top_area .theme_setting {position:absolute;top:-2px;right:16px;width:91px;height:24px;background:url(http://md.egloos.com/img/www/spr_main.png) -209px 0 no-repeat;margin:0px 20px 0 0}
/* 관심테마 설정 */
.config_my_theme_list{z-index:9999999;position:absolute;margin-top:-17px;right:36px;width:637px;height:313px;background:#f6f6f6;border:1px solid #b5b8bf;padding:20px;}
.config_my_theme_list h3{color:#000;font-size:12px;letter-spacing:-1px}
.config_my_theme_list .txt01{color:#000;line-height:18px;border-bottom:1px solid #dde1e2;padding:15px 0 10px;}
.config_my_theme_list .txt01 strong{color:#f17979;}
.config_my_theme_list ul{overflow:hidden;padding-top:15px;}
.config_my_theme_list li{float:left;width:90px;line-height:29px;letter-spacing:-1px;padding-left:16px}
.config_my_theme_list li.noselect{width:100%;border-top:1px dotted #ddd;margin-top:15px;padding-top:3px}
.config_my_theme_list li label:hover, .config_my_theme_list li.checked label{font-weight:bold;color:#000;letter-spacing:-2px;*margin-left:-2px;}
.config_my_theme_list .theme_btn{text-align:right;position:relative;}
.config_my_theme_list .theme_btn a{position:absolute;bottom:-2px;display:inline-block;width:49px;height:20px;line-height:22px;background:#fff;text-align:center;font-weight:bold;font-size:11px;}
.config_my_theme_list .theme_btn .save{right:54px;border:1px solid #aeadb6;color:#737373}
.config_my_theme_list .theme_btn .cancel{right:0px;border:1px solid #d5d4d9;color:#a6a6a6;}
/* 테마별 인기글 밸리 리스트 */
.valley_theme_popular .hidden {display:none}
.valley_theme_popular .valley_list{overflow:hidden;width:680px;font-family:"돋움";margin-top:0;padding-left:20px;}
.valley_theme_popular .valley_list a:hover{text-decoration:underline;}
.valley_theme_popular .valley_list li{width:214px;height:255px;float:left;border-left:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;padding-left:36px;padding-top:30px;}
.valley_theme_popular .valley_list li.top{padding-top:0;}
.valley_theme_popular .valley_list li.left{border-left:0 none;padding-left:0;}
.valley_theme_popular .valley_list li.right{width:177px;}
.valley_theme_popular .valley_list li.bottom{border-bottom:0 none;height:229px;}
.valley_theme_popular .valley_list li .valley_list_wrap{width:177px;padding:0;}
.valley_theme_popular .valley_list li:first-child .valley_list_wrap{border:0 none;}
.valley_theme_popular .valley_list li .over{display:none;position:absolute;width:242px;height:291px;border:2px solid #3cb5ee;margin:-21px 0 0 -21px;}
.valley_theme_popular .valley_list li:hover .over{display:block;}
.valley_theme_popular .valley_list li:hover dt a{color:#000;text-decoration:underline}
.valley_theme_popular .valley_list li:hover dd a{color:#262728;text-decoration:none}
.valley_theme_popular .valley_list li dd a:hover{text-decoration:underline}
.valley_theme_popular .valley_list .thumb_photo{position:relative;_position:static;display:block;margin-bottom:13px;}
.valley_theme_popular .valley_list .thumb_photo img{width:177px;height:120px;}
.valley_theme_popular .valley_list .thumb_photo .img_border{display:block;_display:none;position: absolute;top: 0;left: 0;width:175px;height:118px;border:1px solid #656565;opacity:0.2;filter: alpha(opacity=20);}
.valley_theme_popular .valley_list dt{display:block;overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap;color:#000;font-size:14px;line-height:20px;overflow:hidden;font-weight:bold;letter-spacing:-1px;margin:0px 0 10px;}
.valley_theme_popular .valley_list dt a{color:#55595c}
.valley_theme_popular .valley_list dd{overflow:hidden;color:#999;height:38px;line-height:19px;font-size:11px;letter-spacing:-1px}
.valley_theme_popular .valley_list dd a{color:#999}
.valley_theme_popular .valley_list .no_img dt{margin-top:-3px}
.valley_theme_popular .valley_list .no_img dd{height:auto;max-height:180px;line-height:20px}
.valley_theme_popular .valley_list .no_img .info_user{padding-top:9px;}
.valley_theme_popular .valley_list .info_user{color:#b2b2b2;font-size:11px;padding-top:14px;}
.valley_theme_popular .valley_list .info_user .user_id{display:inline-block;color:#9ab2d5;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle}
.valley_theme_popular .btn_more{position:absolute;right:35px;bottom:12px;height:14px;line-height:14px;color:#747474;font-family:"돋움";letter-spacing:-1px;text-decoration:underline;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat right -221px;padding-right:9px}

/* sitemap */
.sitemap{overflow:hidden;font-family:"돋움";font-size:11px;color:#858a8c;padding:0 35px 0 20px;}
.sitemap_wrap{border-top:1px solid #cbcbcb;height:110px;padding-top:22px;}
.sitemap ul{float:left;width:96px;border-right:1px solid #ddd;}
.sitemap ul.last{border:0 none;}
.sitemap li{line-height:23px;padding-left:17px;}
.sitemap ul.first-child li{padding-left:0;}
.sitemap li a{color:#858a8c;}
.sitemap li a:hover{color:#858a8c;font-weight:bold;letter-spacing:-1px;}

/* 탑버튼 */
.scrollUp{position:absolute;bottom:10px;right:280px}
.scrollUp a{color:#96969b;font-size:11px;font-family:"돋움";letter-spacing:-1px;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat right -212px;padding-right:9px;}

/* 로그인 */
.col_right .login_wrap .login{display:block}
.col_right .login_wrap .logout{display:none;}
.col_right.log_in .login_wrap .login{display:none;}
.col_right.log_in .login_wrap .logout{display:block;}
.col_right.log_in .main_banner_wrap2{margin-top:30px;}

.login_wrap {overflow:hidden;width:243px;background:#f2f3f5}
/*로그인 된 상태*/
.login_wrap .logout{border-top:1px solid #b1b3b7;}
.login_wrap .logout .info_area{padding:19px 12px 7px 13px}
.login_wrap .logout .myinfo{position:relative;padding-left:4px;}
.login_wrap .logout .myinfo .thumb_user{padding-right:5px;}
.login_wrap .logout .myinfo .thumb_user img{border-radius:50%;width:30px;height:30px;}
.login_wrap .logout .myinfo .thumb_user .bg_circle{position:absolute;left:4px;top:0;width:30px;height:30px;display:block;background:url(http://md.egloos.com/img/www/bg_circle2.png) no-repeat}
.login_wrap .logout .myinfo .nick{color:#1c9ad7;font-weight:bold;letter-spacing:-1px;white-space:nowrap;}
.login_wrap .logout .myinfo .nick:hover{text-decoration:underline}
.login_wrap .logout .mypost_button a{background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat}
.login_wrap .logout .mypost_button .btn_post_write{display:block;width:217px;height:38px;background-position:right -99px;margin:12px 0 4px;}
.login_wrap .logout .mypost_button .btn_myegloo{display:inline-block;*display:inline;zoom:1;width:106px;height:31px;background-position:-83px -141px;margin-right: 1px}
.login_wrap .logout .mypost_button .btn_myreader{display:inline-block;*display:inline;zoom:1;width:106px;height:31px;background-position:-194px -141px}
.login_wrap .logout .mypost_info{font-family:"돋움";font-size:11px;line-height:12px;letter-spacing:-1px;padding:9px 0 11px}
.login_wrap .logout .mypost_info span{color:#787878}
.login_wrap .logout .mypost_info span a{color:#f17979;font-family:Tahoma;font-weight:bold}
.login_wrap .logout .mypost_info span a:hover{text-decoration:underline}
.login_wrap .logout .mypost_info i{position:relative;top:-3px;color:#f17979;font-family:Tahoma;font-weight:bold}
.login_wrap .logout .mypost_info small{color:#cbced2;padding:0 5px}
.login_wrap .logout .myinfo_setting{position:relative;font-family:"돋움";font-size:11px;line-height:19px;letter-spacing:-1px;}
.login_wrap .logout .myinfo_setting a{color:#9e9e9e;}
.login_wrap .logout .myinfo_setting a:hover{color:#787878;text-decoration:underline}
.login_wrap .logout .myinfo_setting small{color:#cbced2;padding:0 3px}
.login_wrap .logout .myinfo_setting .btn_logout{position:absolute;right:1px;top:0px;*top:-5px;display:block;width:48px;height:17px;line-height:19px;border:1px solid #d5d4d9;text-align:center;color:#737373;background:#fff}
.login_wrap .logout .myinfo_setting .btn_logout:hover{color:#737373;text-decoration:none}
.login_wrap .logout .newpost_area{position:relative;height:173px;border-top:1px solid #dcdcde;border-bottom:1px solid #b1b3b7;background:#f9f9f9;padding:0 10px;}
.login_wrap .logout .newpost_area .title{overflow:hidden;border-top:1px solid #fff;padding:17px 0 9px;}
.login_wrap .logout .newpost_area .title h2{display:block;float:left;width:87px;height:12px;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat 0 -35px}
.login_wrap .logout .newpost_area .btn_allview{float:right;font-family:"돋움";font-size:11px;letter-spacing:-1px;color:#a6a6a6;text-decoration:underline;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat right -185px;padding-right:5px;margin-right:9px;}
.login_wrap .logout .newpost_area ul{padding-left:2px;}
.login_wrap .logout .newpost_area li a{display:inline-block;color:#787878;line-height:23px;width:118px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;vertical-align:middle}
.login_wrap .logout .newpost_area li a:hover{text-decoration:underline}
.login_wrap .logout .newpost_area li .dot{display:inline-block;width:2px;height:2px;background:#a4a9af;vertical-align:middle;margin-right:9px;}
.login_wrap .logout .newpost_area li .user_id{font-family:"돋움";font-size:11px;color:#b2b2b2;padding-left:5px;position:relative;top:-2px}
.login_wrap .logout .newpost_area li .user_id a{color:#9ab2d5;max-width:65px;width:auto;}
.login_wrap .logout .newpost_area li.no_data{color:#9e9e9e;text-align:center;padding-top:45px;}

/*로그아웃 상태*/
.login_wrap .login{border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;font-family:"돋움"}
.login_wrap .login .mod_login {border-bottom:1px solid #d6d6d6;padding:10px 10px 17px 10px;}
.input_login_wrap {float:left;}
.input_login_wrap input{display:block;height:27px;line-height:26px;padding:2px 0 1px 3px;border:1px solid #C1C1C1;border-right:1px solid #babcbf; border-bottom:1px solid #D8D8D8; background:#fff;color:#4a4a4f;font-size:11px}
.input_login_wrap label{position:absolute;display:block;margin-left:5px;margin-top:-21px;*margin-top:-19px;color:#96969b;font-size:11px;letter-spacing:-1px}
.login_wrap .login .login_egloos .input_login_wrap { width:150px; margin:0; }
.login_wrap .login .login_egloos .input_login_wrap input { width:146px; margin:0;position:relative;margin-bottom:-1px;*margin-bottom:-3px;}/*qa login*/
.login_wrap .login .login_egloos .btn_login_wrap {z-index:999;float:right; width:73px; margin:0; padding:0; }
.login_wrap .login .login_egloos .btn_login_wrap button{display:block; width:73px; height:64px;background:#f9f9f9 url(http://md.egloos.com/img/www/spr_main.png) no-repeat 0 -99px;text-indent:-9999px;*margin-top:1px;}
.login_wrap .login .txt_wrap { clear:both; padding-top:6px;*padding-top:2px;margin-left:-3px;}
.login_wrap .login .txt_wrap a, .login_wrap .login .txt_wrap label{ font-size:11px;color:#787878; letter-spacing:-1px;}
.login_wrap .login .txt_wrap a:hover { text-decoration:underline; }
.login_wrap .login .txt_wrap small{color:#bbb;padding:0 4px;}

.login_wrap .login .signup_wrap {padding:14px 6px 17px 10px;border-top:1px solid #fff;}
.login_wrap .login .signup_wrap .btn_signup{display:block; width:226px; height:45px;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat right -51px;margin-bottom:7px;}
.login_wrap .login .signup_wrap .btn_help{font-size:11px; color:#787878;letter-spacing:-1px;padding-left:2px;}
.login_wrap .login .signup_wrap .btn_help:hover{text-decoration:underline}

/* 이슈검색어 */
.clear_float:after{display:block;clear:both;content:".";width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden}
.clear_float{zoom:1}
.aside{padding:0 15px;_padding:0 10px}
.aside .issue{margin-top:20px;position:relative;width:215px;height:20px;z-index:1000}
.aside .issue h3 span{float:left}
.aside .issue h3 span.issue_time{position:absolute;right:0px;font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:11px;font-weight:normal;color:#a6a6a6;line-height:14px;margin:1px 0 0 7px}
.aside .issue h3 span.experience_help{line-height:14px;margin:1px 0 0 4px}
.aside .issue .issue_title{display:inline-block;background:url(http://md.egloos.com/img/www/spr_issue_161028.png) 0 0 no-repeat}
.aside .issue .issue_title.search_word1{width:45px;height:15px;background-position:0 0}
.aside .issue .issue_title.search_word2{margin-left:5px;margin-top:1px;width:61px;height:13px;background-position:0 -16px}
.aside .issue_wrap{position:relative;padding:10px 0;z-index:10}
.aside .issue_wrap ol{padding:0 0 0 0}
.aside .issue_wrap li{position:relative;clear:both;float:left;width:215px;line-height:25px;zoom:1}
.aside .issue_wrap li a{display:block;color:#000;text-decoration:none;cursor:pointer;zoom:1}
.aside .issue_wrap li a:after{display:block;visibility:hidden;overflow:hidden;clear:both;content:".";width:0;height:0;line-height:0;font-size:0}
.aside .issue_wrap li a span.num{float:left;background:url(http://md.egloos.com/img/www/spr_issue.png) 0 999px no-repeat;width:14px;height:14px;margin:5px 9px 0 0;_margin-right:6px}
.aside .issue_wrap li a span.is_1{background-position:0 -145px}
.aside .issue_wrap li a span.is_2{background-position:0 -160px}
.aside .issue_wrap li a span.is_3{background-position:0 -175px}
.aside .issue_wrap li a span.is_4{background-position:0 -190px}
.aside .issue_wrap li a span.is_5{background-position:0 -205px}
.aside .issue_wrap li a span.is_6{background-position:0 -220px}
.aside .issue_wrap li a span.is_7{background-position:0 -235px}
.aside .issue_wrap li a span.is_8{background-position:0 -250px}
.aside .issue_wrap li a span.is_9{background-position:0 -265px}
.aside .issue_wrap li a span.is_10{background-position:0 -280px}
.aside .issue_wrap li a:hover{text-decoration:underline}
.aside .issue_wrap li a:hover span.is_1{background-position:-15px -145px}
.aside .issue_wrap li a:hover span.is_2{background-position:-15px -160px}
.aside .issue_wrap li a:hover span.is_3{background-position:-15px -175px}
.aside .issue_wrap li a:hover span.is_4{background-position:-15px -190px}
.aside .issue_wrap li a:hover span.is_5{background-position:-15px -205px}
.aside .issue_wrap li a:hover span.is_6{background-position:-15px -220px}
.aside .issue_wrap li a:hover span.is_7{background-position:-15px -235px}
.aside .issue_wrap li a:hover span.is_8{background-position:-15px -250px}
.aside .issue_wrap li a:hover span.is_9{background-position:-15px -265px}
.aside .issue_wrap li a:hover span.is_10{background-position:-15px -280px}
.aside .issue_wrap li a.hover span.issue_keyword{font-weight:bold}
.aside .issue_wrap li .tc{display:block;overflow:hidden;position:absolute;top:0;right:3px;text-indent:-9999em;background:url(http://md.egloos.com/img/www/spr_issue.png) 0 999px no-repeat}
.aside .issue_wrap li .up .tc{top:50%;margin-top:-4px;width:7px;height:7px;background-position:-30px -145px}
.aside .issue_wrap li .down .tc{top:50%;margin-top:-4px;width:7px;height:7px;background-position:-30px -155px}
.aside .issue_wrap li .dash .tc{top:50%;margin-top:-1px;width:5px;height:2px;background-position:-30px -165px}
.aside .issue_wrap li .ex_mark3 .tc{top:50%;margin-top:-5px;width:5px;height:9px;background-position:-30px -170px}

/*공지사항*/
.col_right .notice {margin:15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.col_right .notice .title{padding:20px 0;}
.col_right .notice .title h2{float:left;display:block;width:52px;height:15px;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat 0 -52px}
.col_right .notice .title .btn_allview{float:right;font-family:"돋움";font-size:11px;letter-spacing:-1px;color:#a6a6a6;text-decoration:underline;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat right -185px;padding-right:5px;}
.col_right .notice ul {margin:12px 0 23px; }
.col_right .notice ul li {overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis;line-height:23px}
.col_right .notice ul li a { color:#333;  }
.col_right .notice ul li a:hover {font-weight:bold;letter-spacing:-1px}

/* 활용팁 */
.col_right .tip {margin:20px 15px;}
.col_right .tip .title{overflow:hidden}
.col_right .tip .title h2{float:left;display:block;width:38px;height:15px;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat 0 -69px}
.col_right .tip ul {overflow:hidden;margin-top:26px;}
.col_right .tip ul li {zoom:1;float:left;width:66px;height:57px; }
.col_right .tip ul li a { overflow:hidden;display:block;height:100%;background:url(http://md.egloos.com/img/www/spr_main.png) no-repeat;}
.col_right .tip li.ico02, .col_right .tip li.ico05 {width:81px;}
.col_right .tip li.ico01 a {width:66px;background-position:8px -177px; }
.col_right .tip li.ico02 a { background-position:-58px -177px; }
.col_right .tip li.ico03 a { background-position:-139px -177px; }
.col_right .tip li.ico04 a { background-position:8px -232px; }
.col_right .tip li.ico05 a { background-position:-58px -232px; }
.col_right .tip li.ico06 a { background-position:-139px -232px; }
.col_right .tip li.ico01:hover a{width:66px;background-position:8px -311px; }
.col_right .tip li.ico02:hover a{ background-position:-58px -311px; }
.col_right .tip li.ico03:hover a{ background-position:-139px -311px; }
.col_right .tip li.ico04:hover a{ background-position:8px -366px; }
.col_right .tip li.ico05:hover a{ background-position:-58px -366px; }
.col_right .tip li.ico06:hover a{ background-position:-139px -366px; }
