@charset "utf-8";
@charset "UTF-8";
/* html5doctor.com Reset Stylesheet v1.2*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video, source {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  text-decoration: none; }

mark {
  background-color: #ff9;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html,
body {
  background: #FAF3EA;
  width: 100%;
  overflow-x: hidden;
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #808080;
  font-size: 14px; }

input[type="text"],
input[type="submit"],
textarea {
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  resize: vertical;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  vertical-align: middle;
  text-align: center;
  border: none; }

.hidden {
  display: none !important; }

a {
  color: #39A9BF; }

a:hover {
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }

a:visited {
  color: #95A3A6; }

a[disabled]:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

:placeholder-shown {
  color: #B3B3B3; }

/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
  color: #B3B3B3; }

/* Firefox 18- */
:-moz-placeholder {
  color: #B3B3B3;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

/* Firefox 19+ */
::-moz-placeholder {
  color: #B3B3B3;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

/* IE 10+ */
:-ms-input-placeholder {
  color: #B3B3B3; }

.flc:after {
  content: "";
  clear: both;
  display: block; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.wrap {
  margin: 0 auto;
  width: 1040px; }
  .wrap .main {
    float: left;
    width: 680px;
    background: #FFF;
    border-radius: 2px;
    padding: 14px 20px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 20px; }
    .wrap .main.preview {
      padding-bottom: 60px; }
  .wrap .sub {
    float: right;
    width: 300px;
    margin-bottom: 114px;
    margin-right: 20px; }
    .wrap .sub .banner-sub {
      width: 300px; }
    .wrap .sub [follow="on"] {
      position: fixed;
      top: 20px;
      width: 300px; }
    .wrap .sub .sub-part {
      padding: 16px;
      background: #FFF;
      border-radius: 2px;
      position: relative; }
      .wrap .sub .sub-part .head {
        font-weight: bold;
        font-size: 15px;
        color: #FF8D99;
        line-height: 16px;
        padding-bottom: 12px;
        margin-bottom: 11px;
        border-bottom: 1px dashed #CCC; }
      .wrap .sub .sub-part .loading {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5); }
        .wrap .sub .sub-part .loading.on {
          display: block; }
        .wrap .sub .sub-part .loading img {
          display: block;
          margin: 180px auto; }
        .wrap .sub .sub-part .loading .alert {
          display: none; }
          .wrap .sub .sub-part .loading .alert.on {
            display: block;
            color: #B3B3B3;
            margin: 246px auto;
            text-align: center; }
      .wrap .sub .sub-part.relate .head {
        color: #B8A3F8; }
      .wrap .sub .sub-part.category .head {
        color: #FF8D99; }
      .wrap .sub .sub-part.sub-text {
        padding: 16px 16px 30px; }
        .wrap .sub .sub-part.sub-text .head {
          color: #808080; }
        .wrap .sub .sub-part.sub-text .text {
          font-size: 13px;
          color: #808080;
          line-height: 22px; }
        .wrap .sub .sub-part.sub-text.sub-text-aet .subtitle {
          font-size: 14px;
          color: #808080;
          line-height: 20px;
          font-weight: bold;
          margin: 20px 0 10px; }
          .wrap .sub .sub-part.sub-text.sub-text-aet .subtitle span {
            height: 12px;
            margin-right: 8px;
            vertical-align: middle; }
            .wrap .sub .sub-part.sub-text.sub-text-aet .subtitle span.icon-circle {
              color: #FF8D99; }
            .wrap .sub .sub-part.sub-text.sub-text-aet .subtitle span.icon-triangle {
              color: #7FC8F0; }
        .wrap .sub .sub-part.sub-text.sub-text-eh .subtitle {
          font-size: 14px;
          color: #808080;
          line-height: 20px;
          font-weight: bold;
          margin: 20px 0 10px; }
          .wrap .sub .sub-part.sub-text.sub-text-eh .subtitle span {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: #FF8D99;
            color: #FFF;
            text-align: center;
            font-size: 11px;
            font-weight: bold;
            margin-right: 6px; }
      .wrap .sub .sub-part.sub-topics ul {
        list-style-type: none; }
        .wrap .sub .sub-part.sub-topics ul li {
          border-bottom: 1px solid #E3E3E3;
          margin-bottom: 9px; }
          .wrap .sub .sub-part.sub-topics ul li a:hover p.title,
          .wrap .sub .sub-part.sub-topics ul li a:hover p.comment {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            color: #B3B3B3; }
          .wrap .sub .sub-part.sub-topics ul li a:visited p.title,
          .wrap .sub .sub-part.sub-topics ul li a:visited p.comment {
            color: #B3B3B3; }
          .wrap .sub .sub-part.sub-topics ul li:last-child {
            border: none;
            margin-bottom: 0; }
          .wrap .sub .sub-part.sub-topics ul li .img {
            float: left;
            width: 60px;
            margin-bottom: 10px;
            position: relative; }
            .wrap .sub .sub-part.sub-topics ul li .img img {
              border-radius: 3px; }
            .wrap .sub .sub-part.sub-topics ul li .img .rank,
            .wrap .sub .sub-part.sub-topics ul li .img .icon-flag {
              position: absolute; }
            .wrap .sub .sub-part.sub-topics ul li .img .icon-flag {
              top: 0;
              left: 0;
              font-size: 26px;
              color: #E3BB7D; }
              .wrap .sub .sub-part.sub-topics ul li .img .icon-flag.rank1 {
                color: #FF787F; }
              .wrap .sub .sub-part.sub-topics ul li .img .icon-flag.rank2 {
                color: #FF8D99; }
              .wrap .sub .sub-part.sub-topics ul li .img .icon-flag.rank3 {
                color: #FFAAB3; }
            .wrap .sub .sub-part.sub-topics ul li .img .rank {
              top: 3px;
              left: 5px;
              color: #FFF;
              -webkit-transform: rotate(-45deg);
                  -ms-transform: rotate(-45deg);
                      transform: rotate(-45deg);
              font-size: 10px;
              font-weight: bold; }
          .wrap .sub .sub-part.sub-topics ul li .info {
            float: left;
            width: 196px;
            margin-left: 12px; }
            .wrap .sub .sub-part.sub-topics ul li .info .title {
              font-weight: bold;
              font-size: 13px;
              color: #808080;
              line-height: 19px;
              margin-bottom: 5px; }
            .wrap .sub .sub-part.sub-topics ul li .info .comment {
              position: relative;
              font-size: 12px;
              color: #808080;
              line-height: 12px;
              padding-left: 18px;
              margin-bottom: 12px; }
              .wrap .sub .sub-part.sub-topics ul li .info .comment span {
                position: absolute;
                top: 1px;
                left: 0;
                color: #B3B3B3;
                margin-right: 5px; }
      .wrap .sub .sub-part.sub-topics.sub-topics-yesterday {
        padding-bottom: 9px; }
        .wrap .sub .sub-part.sub-topics.sub-topics-yesterday ul li:last-child {
          border-bottom: 1px solid #E3E3E3;
          margin-bottom: 10px; }
        .wrap .sub .sub-part.sub-topics.sub-topics-yesterday a.show-more {
          float: right;
          text-decoration: none;
          text-align: right;
          font-size: 12px;
          color: #808080;
          line-height: 24px; }
          .wrap .sub .sub-part.sub-topics.sub-topics-yesterday a.show-more span {
            margin-left: 8px;
            font-size: 8px; }
      .wrap .sub .sub-part.sub-keywords ul {
        list-style-type: none; }
        .wrap .sub .sub-part.sub-keywords ul a {
          text-decoration: none;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          float: left;
          background: #FFFFFF;
          border: 1px solid #E3E3E3;
          border-radius: 2px;
          font-size: 12px;
          color: #808080;
          height: 30px;
          line-height: 30px;
          padding: 0 10px 0 7px;
          margin-right: 10px;
          margin-bottom: 10px;
          vertical-align: middle; }
          .wrap .sub .sub-part.sub-keywords ul a span {
            margin-right: 5px;
            color: #FFCCD1;
            vertical-align: middle; }
      .wrap .sub .sub-part.sub-categories ul {
        list-style-type: none; }
        .wrap .sub .sub-part.sub-categories ul a {
          display: block;
          text-decoration: none;
          font-size: 13px;
          color: #808080;
          line-height: 34px; }
          .wrap .sub .sub-part.sub-categories ul a:hover {
            opacity: .7;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }

a.btn,
.btn {
  display: block;
  cursor: pointer;
  text-decoration: none; }
  a.btn:hover,
  .btn:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
  a.btn.btn-default,
  .btn.btn-default {
    width: 190px;
    background: #CCCCCC;
    border-radius: 3px;
    color: #FFF;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    font-size: 13px;
    text-align: center; }
  a.btn.btn-positive,
  .btn.btn-positive {
    width: 190px;
    background: #FF8D99;
    border-radius: 3px;
    color: #FFF;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    font-size: 13px;
    text-align: center; }
  a.btn.btn-entry-topic,
  .btn.btn-entry-topic {
    background: #FF787F;
    border-radius: 4px;
    color: #FFF;
    width: 300px;
    height: 58px;
    font-size: 15px;
    line-height: 58px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle; }
    a.btn.btn-entry-topic span,
    .btn.btn-entry-topic span {
      margin-right: 13px;
      vertical-align: middle; }
  a.btn.btn-edit,
  .btn.btn-edit {
    width: 190px;
    background: #FFA96D;
    border-radius: 3px;
    color: #FFF;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    font-size: 13px;
    text-align: center; }
  a.btn.large,
  .btn.large {
    height: 48px;
    line-height: 48px; }

.add_pic img {
  width: 100%; }

.form-area p.title {
  font-weight: bold;
  font-size: 15px;
  color: #808080;
  line-height: 34px;
  margin-bottom: 12px; }

@font-face {
  font-family: "icon";
  src: url("icon.eot");
  src: url("icon.eot?#iefix") format("eot"), url("icon.woff") format("woff"), url("icon.ttf") format("truetype"), url("icon.svg#icon") format("svg"); }

.icon-arrow_l:before, .icon-arrow_r:before, .icon-arrow_t:before, .icon-camera:before, .icon-circle:before, .icon-close:before, .icon-comment:before, .icon-flag:before, .icon-heart:before, .icon-keyword:before, .icon-link:before, .icon-new:before, .icon-plus:before, .icon-rank:before, .icon-res:before, .icon-search:before, .icon-tag:before, .icon-triangle:before {
  font-family: "icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon-arrow_l:before {
  content: ""; }

.icon-arrow_r:before {
  content: ""; }

.icon-arrow_t:before {
  content: ""; }

.icon-camera:before {
  content: ""; }

.icon-circle:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-comment:before {
  content: ""; }

.icon-flag:before {
  content: ""; }

.icon-heart:before {
  content: ""; }

.icon-keyword:before {
  content: ""; }

.icon-link:before {
  content: ""; }

.icon-new:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-rank:before {
  content: ""; }

.icon-res:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-tag:before {
  content: ""; }

.icon-triangle:before {
  content: ""; }

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 73px;
  background: #FF8D99; }
  header .title {
    padding: 11px 0 9px;
    text-align: center;
    border-bottom: 1px dashed #EB616C; }
    header .title a {
      width: 100%;
      height: 100%;
      display: block; }

nav {
  margin-bottom: 20px;
  height: 44px;
  background: #FFF; }
  nav .header-nav {
    width: 1000px;
    margin: 0 auto; }
    nav .header-nav .catch {
      font-size: 15px;
      font-weight: bold;
      float: left;
      line-height: 44px;
      color: #FF8D99; }
    nav .header-nav form {
      float: right;
      position: relative;
      margin: 7px 0; }
      nav .header-nav form input[type="text"] {
        width: 300px;
        padding: 0 36px 0 8px;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none; }
      nav .header-nav form .search {
        position: absolute;
        top: 8px;
        right: 11px;
        color: #FF8D99;
        font-size: 14px;
        width: 14px; }
        nav .header-nav form .search input[type="submit"] {
          position: absolute;
          opacity: 0;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer; }

.footer {
  margin-top: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 116px;
  padding: 4px 0;
  background: #FF8D99; }
  .footer .footer-logo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 22px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    border-top: 1px dashed #EB616C; }
  .footer .links {
    text-align: center;
    font-size: 12px; }
    .footer .links a {
      margin-right: 33px;
      color: #FFF;
      text-decoration: none; }
      .footer .links a:last-child {
        margin: 0; }

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 166px;
  right: 0;
  width: 50px;
  height: 50px;
  background: #FB8A96;
  border-radius: 4px;
  cursor: pointer; }
  .scroll-to-top.hover {
    background: #FFAAB3; }
  .scroll-to-top span {
    display: block;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    line-height: 50px; }
  .scroll-to-top[show="on"], .scroll-to-top[show="off"] {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-duration: .5s;
            animation-duration: .5s; }
  .scroll-to-top[show="on"] {
    display: block;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-animation-name: st-show;
            animation-name: st-show; }
  .scroll-to-top[show="off"] {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-animation-name: st-hide;
            animation-name: st-hide; }

@-webkit-keyframes st-show {
  0% {
    -webkit-transform: translateY(216px);
            transform: translateY(216px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

@keyframes st-show {
  0% {
    -webkit-transform: translateY(216px);
            transform: translateY(216px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; } }

@-webkit-keyframes st-hide {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  100% {
    -webkit-transform: translateY(216px);
            transform: translateY(216px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }

@keyframes st-hide {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  100% {
    -webkit-transform: translateY(216px);
            transform: translateY(216px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; } }

input[type="text"],
input[type="url"],
input[type="number"],
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #CCC;
  border-radius: 2px;
  height: 30px;
  font-size: 13px;
  line-height: 15px; }

input[type="text"],
input[type="url"],
input[type="number"] {
  line-height: 30px;
  resize: none; }

.form-comment .title,
.form-topic .title {
  font-weight: bold;
  font-size: 15px;
  color: #808080;
  line-height: 34px;
  margin-bottom: 12px; }

.form-comment .textarea,
.form-topic .textarea {
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 4px;
  position: relative; }
  .form-comment .textarea textarea,
  .form-topic .textarea textarea {
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 140px;
    border: none;
    font-size: 13px;
    line-height: 20px;
    padding: 12px 10px; }
  .form-comment .textarea .add-link,
  .form-topic .textarea .add-link {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 12px;
    color: #39A9BF;
    line-height: 14px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px; }
    .form-comment .textarea .add-link:hover,
    .form-topic .textarea .add-link:hover {
      opacity: .7;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
    .form-comment .textarea .add-link span,
    .form-topic .textarea .add-link span {
      color: #39A9BF;
      font-size: 8px;
      line-height: 14px;
      margin-right: 8px; }

.form-comment .add-image .wrap,
.form-topic .add-image .wrap {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  width: 140px;
  height: 40px;
  text-align: center;
  display: inline-block;
  width: 140px;
  margin-right: 12px; }
  .form-comment .add-image .wrap:hover,
  .form-topic .add-image .wrap:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
  .form-comment .add-image .wrap.caution,
  .form-topic .add-image .wrap.caution {
    border: 1px solid #FF8D99;
    background: #FFEFF0; }
    .form-comment .add-image .wrap.caution .normal,
    .form-topic .add-image .wrap.caution .normal {
      display: none; }
    .form-comment .add-image .wrap.caution .error,
    .form-topic .add-image .wrap.caution .error {
      display: inline-block !important; }
  .form-comment .add-image .wrap span,
  .form-topic .add-image .wrap span {
    vertical-align: middle;
    line-height: 40px;
    display: inline-block; }
  .form-comment .add-image .wrap .icon-camera,
  .form-topic .add-image .wrap .icon-camera {
    color: #FFCCD1;
    font-size: 20px;
    margin-right: 6px; }
  .form-comment .add-image .wrap .text,
  .form-topic .add-image .wrap .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #808080; }
    .form-comment .add-image .wrap .text.error,
    .form-topic .add-image .wrap .text.error {
      display: none;
      color: #F46270; }

.form-comment .add-image p.caution,
.form-topic .add-image p.caution {
  display: inline-block;
  font-size: 12px;
  color: #FF8086;
  line-height: 14px; }

.form-comment .add-image input,
.form-topic .add-image input {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 140px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }

.form-comment .form-checks,
.form-topic .form-checks {
  margin-top: 10px; }
  .form-comment .form-checks .input-name[show="off"],
  .form-topic .form-checks .input-name[show="off"] {
    display: none; }
  .form-comment .form-checks .input-name input,
  .form-topic .form-checks .input-name input {
    width: 320px;
    height: 40px;
    padding: 12px; }
  .form-comment .form-checks input[type=checkbox],
  .form-topic .form-checks input[type=checkbox] {
    display: none; }
  .form-comment .form-checks .checkbox,
  .form-topic .form-checks .checkbox {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    position: relative;
    display: inline-block;
    padding: 6px 6px 6px 32px;
    border-radius: 8px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    line-height: 24px; }
    .form-comment .form-checks .checkbox:last-child,
    .form-topic .form-checks .checkbox:last-child {
      margin-left: 35px; }
    .form-comment .form-checks .checkbox:before,
    .form-topic .form-checks .checkbox:before {
      -webkit-transition: border-color 0.2s linear;
      transition: border-color 0.2s linear;
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      margin-top: -11px;
      width: 22px;
      height: 22px;
      background: #FFF;
      border: 1px solid #E3E3E3;
      border-radius: 2px;
      content: ''; }
    .form-comment .form-checks .checkbox:after,
    .form-topic .form-checks .checkbox:after {
      -webkit-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear;
      position: absolute;
      top: 50%;
      left: 8px;
      display: block;
      margin-top: -7px;
      width: 5px;
      height: 9px;
      border-right: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
      content: '';
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .form-comment .form-checks input[type=checkbox]:checked + .checkbox:after,
  .form-topic .form-checks input[type=checkbox]:checked + .checkbox:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  .form-comment .form-checks input[type=checkbox]:checked + .checkbox:before,
  .form-topic .form-checks input[type=checkbox]:checked + .checkbox:before {
    background: #FF8D99;
    border: 1px solid #FF8D99; }

.form-comment input[type="submit"],
.form-topic input[type="submit"] {
  width: 50%;
  line-height: 48px;
  height: 48px;
  display: block;
  margin: 40px auto 0; }

.form-comment input[disabled],
.form-topic input[disabled] {
  background: #FFCCD1; }
  .form-comment input[disabled]:hover,
  .form-topic input[disabled]:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    cursor: default; }

.form-topic {
  position: relative; }
  .form-topic .textarea textarea {
    height: 210px; }
  .form-topic .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px; }
    .form-topic .image .img {
      background-image: url("/img/parts_pc/noimg@2x.png");
      width: 130px;
      height: 130px;
      -webkit-background-size: cover;
              background-size: cover;
      background-position: 50% 10%;
      background-repeat: no-repeat; }
    .form-topic .image .wrap {
      margin-top: 10px;
      margin-right: 0;
      width: 128px; }
      .form-topic .image .wrap .icon-camera {
        font-size: 16px;
        margin-right: 0; }
  .form-topic .other {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 148px; }
    .form-topic .other .input-title {
      margin-bottom: 10px;
      border-radius: 4px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 40px;
      font-size: 13px;
      line-height: 15px;
      padding: 12px 10px; }

p.pager-count {
  display: inline-block;
  font-size: 12px;
  color: #808080;
  line-height: 24px;
  margin-right: 21px; }

ul.pager {
  margin-top: 30px;
  list-style-type: none;
  text-align: center; }
  ul.pager.pager-topic {
    display: inline-block; }
  ul.pager li {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    margin: 0 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 28px;
    width: 36px;
    height: 30px; }
    ul.pager li a {
      width: 30px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      color: #808080;
      line-height: 28px;
      display: block;
      width: 100%;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    ul.pager li.first, ul.pager li.prev, ul.pager li.next, ul.pager li.last {
      font-size: 8px; }
      ul.pager li.first a, ul.pager li.prev a, ul.pager li.next a, ul.pager li.last a {
        font-size: 8px; }
      ul.pager li.first.first, ul.pager li.prev.first, ul.pager li.next.first, ul.pager li.last.first {
        display: none;
        margin-left: 0; }
      ul.pager li.first.prev, ul.pager li.prev.prev, ul.pager li.next.prev, ul.pager li.last.prev {
        margin-right: 15px; }
      ul.pager li.first.next, ul.pager li.prev.next, ul.pager li.next.next, ul.pager li.last.next {
        margin-left: 15px; }
      ul.pager li.first.last, ul.pager li.prev.last, ul.pager li.next.last, ul.pager li.last.last {
        display: none;
        margin-right: 0; }
    ul.pager li.current {
      border: none;
      color: #FF8D99;
      font-size: 12px; }

.comment-item {
  border-bottom: 1px solid #E3E3E3;
  padding: 20px 0 82px;
  list-style-type: none;
  position: relative; }
  .comment-item .info {
    font-size: 12px;
    color: #808080;
    line-height: 24px;
    margin-bottom: 16px; }
    .comment-item .info span {
      cursor: pointer; }
    .comment-item .info a {
      color: #808080;
      text-decoration: none; }
  .comment-item .body {
    font-weight: bold;
    color: #666666;
    line-height: 1.5; }
    .comment-item .body .res-anchor {
      cursor: pointer;
      color: #B3B3B3; }
    .comment-item .body.lv1 {
      font-size: 20px;
      color: #FF6C74; }
      .comment-item .body.lv1 .res-anchor {
        color: #FF8D99; }
    .comment-item .body.lv2 {
      font-size: 18px; }
    .comment-item .body.lv3 {
      font-size: 16px; }
    .comment-item .body.lv4 {
      font-size: 12px;
      color: #808080; }
    .comment-item .body .comment-img {
      margin: 13px 0; }
      .comment-item .body .comment-img img {
        border-radius: 3px;
        max-width: 600px;
        display: block;
        cursor: pointer; }
      .comment-item .body .comment-img a {
        font-size: 12px;
        color: #808080;
        line-height: 24px;
        font-weight: normal;
        text-decoration: none; }
    .comment-item .body .comment-url {
      margin: 30px 0;
      background-color: #FFF0F1;
      padding: 20px;
      border: #FFCCD1 solid 1px;
      border-radius: 5px;
      font-size: 12px;
      position: relative; }
      .comment-item .body .comment-url .comment-url-head {
        margin-bottom: 10px; }
        .comment-item .body .comment-url .comment-url-head > .img,
        .comment-item .body .comment-url .comment-url-head > img {
          float: left;
          border-radius: 3px; }
        .comment-item .body .comment-url .comment-url-head .comment-url-title {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 100%;
          padding-left: 90px; }
          .comment-item .body .comment-url .comment-url-head .comment-url-title a {
            font-size: 15px;
            color: #39A9BF;
            line-height: 22px;
            font-weight: bold;
            text-decoration: none;
            display: block; }
            .comment-item .body .comment-url .comment-url-head .comment-url-title a:nth-child(2) {
              font-weight: normal;
              font-size: 12px;
              margin: 2px 0; }
            .comment-item .body .comment-url .comment-url-head .comment-url-title a:last-child {
              margin-top: 4px;
              font-weight: normal;
              font-size: 12px;
              line-height: 24px; }
          .comment-item .body .comment-url .comment-url-head .comment-url-title p {
            color: #808080;
            line-height: 20px;
            font-weight: normal; }
      .comment-item .body .comment-url .btn-edit {
        float: right;
        margin-top: 20px; }
      .comment-item .body .comment-url .editing {
        display: none; }
      .comment-item .body .comment-url.edit {
        border: none;
        background: #FFD7BB; }
        .comment-item .body .comment-url.edit .edited {
          display: none; }
        .comment-item .body .comment-url.edit .editing {
          display: block; }
          .comment-item .body .comment-url.edit .editing .img {
            position: relative;
            top: 0;
            left: 0;
            float: left; }
          .comment-item .body .comment-url.edit .editing .img-change {
            float: left;
            width: 500px;
            margin-left: 20px; }
            .comment-item .body .comment-url.edit .editing .img-change p {
              font-size: 15px;
              color: #F29E63;
              line-height: 16px;
              font-weight: bold;
              margin-bottom: 18px; }
            .comment-item .body .comment-url.edit .editing .img-change img {
              display: inline-block;
              margin-right: 10px;
              cursor: pointer; }
              .comment-item .body .comment-url.edit .editing .img-change img.disabled {
                opacity: .5;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                cursor: auto; }
          .comment-item .body .comment-url.edit .editing .comment-url-title,
          .comment-item .body .comment-url.edit .editing .comment-url-des {
            margin-bottom: 17px; }
            .comment-item .body .comment-url.edit .editing .comment-url-title p,
            .comment-item .body .comment-url.edit .editing .comment-url-des p {
              font-size: 13px;
              color: #F29E63;
              line-height: 15px;
              font-weight: normal;
              margin: 4px 0; }
            .comment-item .body .comment-url.edit .editing .comment-url-title input,
            .comment-item .body .comment-url.edit .editing .comment-url-title textarea,
            .comment-item .body .comment-url.edit .editing .comment-url-des input,
            .comment-item .body .comment-url.edit .editing .comment-url-des textarea {
              border-radius: 4px;
              padding: 6px 10px;
              color: #808080;
              width: 100%; }
            .comment-item .body .comment-url.edit .editing .comment-url-title textarea,
            .comment-item .body .comment-url.edit .editing .comment-url-des textarea {
              height: 100px; }
  .comment-item .topic-rate {
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 0; }
    .comment-item .topic-rate .icon-rate-wrap,
    .comment-item .topic-rate .gage {
      display: inline-block;
      vertical-align: middle; }
    .comment-item .topic-rate .icon-rate-wrap {
      position: relative;
      padding: 10px; }
      .comment-item .topic-rate .icon-rate-wrap .icon-rate:hover {
        opacity: .7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        cursor: pointer; }
    .comment-item .topic-rate .icon-rate-wrap-plus p,
    .comment-item .topic-rate .icon-rate-wrap-minus p {
      font-family: Helvetica;
      width: 60px;
      font-size: 13px;
      line-height: 16px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      top: -10px;
      text-align: center;
      font-weight: bold; }
    .comment-item .topic-rate .icon-rate-wrap-plus p {
      color: #FF787F; }
    .comment-item .topic-rate .icon-rate-wrap-minus p {
      color: #A1A1A1; }
    .comment-item .topic-rate .icon-rate .icon-loading {
      display: none;
      margin: 5px; }
    .comment-item .topic-rate .icon-rate.loading .icon-loading {
      display: block; }
    .comment-item .topic-rate .icon-rate.loading .btn-rate {
      display: none; }
    .comment-item .topic-rate .icon-rate .num-plus {
      color: #FF8E9A; }
    .comment-item .topic-rate .icon-rate .num-minus {
      color: #BFBFBF; }
    .comment-item .topic-rate .gage {
      width: 144px;
      height: 16px;
      position: relative; }
      .comment-item .topic-rate .gage .plus,
      .comment-item .topic-rate .gage .minus {
        height: 16px; }
      .comment-item .topic-rate .gage .plus {
        float: left;
        background: #FF8D99; }
      .comment-item .topic-rate .gage .minus {
        float: right;
        background: #E6E6E6; }
      .comment-item .topic-rate .gage .plus:before,
      .comment-item .topic-rate .gage .minus:after {
        position: absolute;
        content: "";
        width: 2px;
        height: 16px; }
      .comment-item .topic-rate .gage .plus:before {
        border-radius: 2px 0 0 2px;
        left: -2px;
        background: #FF8D99; }
      .comment-item .topic-rate .gage .minus:after {
        border-radius: 0 2px 2px 0;
        right: -2px;
        background: #E6E6E6; }
  .comment-item .btn-res {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 12px;
    color: #808080;
    line-height: 14px; }
    .comment-item .btn-res span {
      font-size: 13px;
      color: #FFCCD1;
      margin-right: 6px; }

.res-wrap {
  position: absolute;
  width: 440px;
  background: #FFF0F1;
  border-radius: 4px;
  z-index: 10;
  font-size: 13px;
  color: #808080;
  line-height: 22px; }
  .res-wrap .head {
    margin-bottom: 4px; }
  .res-wrap:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 20px;
    margin-left: -9px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #FFF0F1 transparent transparent transparent;
    z-index: 12; }
  .res-wrap:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    margin-left: -10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #FFF0F1 transparent transparent transparent;
    z-index: 11; }
  .res-wrap .res-scroll {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 200px;
    margin: 10px 20px; }
    .res-wrap .res-scroll .comment-url .comment-url-head img {
      display: none; }
    .res-wrap .res-scroll .comment-url .comment-url-des {
      display: none; }
  .res-wrap .icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; }
  .res-wrap .url_box_title {
    width: auto; }
  .res-wrap .res-anchor {
    cursor: pointer; }
    .res-wrap .res-anchor:hover {
      opacity: .7;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }

.breadcrumbs {
  font-size: 0;
  margin-bottom: 20px; }

.breadcrumb {
  color: #FF8D99;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px; }
  .breadcrumb a {
    text-decoration: none; }
    .breadcrumb a:link {
      color: #808080; }
    .breadcrumb a:visited {
      color: #B3B3B3; }
  .breadcrumb span.icon-arrow_r {
    color: #E3E3E3;
    margin-left: 10px;
    font-size: 10px;
    vertical-align: middle; }
  .breadcrumb:last-child {
    font-weight: bold;
    margin-right: 0; }

.category-header {
  background: transparent;
  border-bottom: 1px dashed #FF8D99;
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative; }
  .category-header .category-heading {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 13px; }
  .category-header .category-description {
    font-size: 14px;
    line-height: 1.714285714; }
  .category-header .category-number {
    bottom: -32px;
    font-size: 12px;
    position: absolute;
    right: 9px; }

.topic-list-wrap .list-head {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #FF8D99; }
  .topic-list-wrap .list-head .title {
    font-size: 15px;
    color: #808080;
    line-height: 34px;
    font-weight: bold; }
  .topic-list-wrap .list-head .number {
    font-size: 12px;
    color: #808080;
    line-height: 24px;
    position: absolute;
    right: 5px;
    bottom: 5px; }

.topic-list-wrap .subtext {
  font-size: 14px;
  color: #808080;
  line-height: 26px; }

.topic-list-wrap .tab-wrap .tab {
  display: inline-block;
  width: 312px;
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 22px;
  position: relative; }
  .topic-list-wrap .tab-wrap .tab a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block; }
    .topic-list-wrap .tab-wrap .tab a span {
      font-size: 20px;
      margin-right: 7px;
      vertical-align: middle; }
    .topic-list-wrap .tab-wrap .tab a h1 {
      display: inline; }
  .topic-list-wrap .tab-wrap .tab.tab-rank {
    margin-right: 10px;
    background: #FFEFF0; }
    .topic-list-wrap .tab-wrap .tab.tab-rank a {
      color: #FFBBC2; }
    .topic-list-wrap .tab-wrap .tab.tab-rank.on {
      background: #FF8D99; }
      .topic-list-wrap .tab-wrap .tab.tab-rank.on a {
        color: #FFF; }
      .topic-list-wrap .tab-wrap .tab.tab-rank.on:before {
        content: '';
        position: absolute;
        border-top: 10px solid #FF8D99;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        bottom: -8px;
        left: 146px; }
      .topic-list-wrap .tab-wrap .tab.tab-rank.on:hover {
        background: #FFAAB3; }
        .topic-list-wrap .tab-wrap .tab.tab-rank.on:hover a {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          color: #FFF; }
        .topic-list-wrap .tab-wrap .tab.tab-rank.on:hover:before {
          border-top: 10px solid #FFAAB3; }
    .topic-list-wrap .tab-wrap .tab.tab-rank:hover {
      background: #FFD9DB; }
      .topic-list-wrap .tab-wrap .tab.tab-rank:hover a {
        color: #FFA6AF;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
      .topic-list-wrap .tab-wrap .tab.tab-rank:hover:before {
        border-top: 10px solid #FFD9DB; }
  .topic-list-wrap .tab-wrap .tab.tab-new {
    background: #DFF0F9; }
    .topic-list-wrap .tab-wrap .tab.tab-new a {
      color: #A6D8F4; }
    .topic-list-wrap .tab-wrap .tab.tab-new.on {
      background: #94CFF1; }
      .topic-list-wrap .tab-wrap .tab.tab-new.on a {
        color: #FFF; }
      .topic-list-wrap .tab-wrap .tab.tab-new.on:before {
        content: '';
        position: absolute;
        border-top: 10px solid #94CFF1;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        bottom: -8px;
        left: 146px; }
      .topic-list-wrap .tab-wrap .tab.tab-new.on:hover {
        background: #BDE2F6; }
        .topic-list-wrap .tab-wrap .tab.tab-new.on:hover a {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          color: #FFF; }
        .topic-list-wrap .tab-wrap .tab.tab-new.on:hover:before {
          border-top: 10px solid #BDE2F6; }
    .topic-list-wrap .tab-wrap .tab.tab-new:hover {
      background: #BDE2F6; }
      .topic-list-wrap .tab-wrap .tab.tab-new:hover a {
        color: #77C3ED;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
      .topic-list-wrap .tab-wrap .tab.tab-new:hover:before {
        border-top: 10px solid #BDE2F6; }

.topic-list-wrap .topic-list-header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px dashed #CCC; }
  .topic-list-wrap .topic-list-header > span {
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    top: 0;
    color: #CCC; }
    .topic-list-wrap .topic-list-header > span.prev {
      left: 0; }
      .topic-list-wrap .topic-list-header > span.prev span {
        margin-right: 10px;
        font-size: 8px; }
    .topic-list-wrap .topic-list-header > span.next {
      right: 0; }
      .topic-list-wrap .topic-list-header > span.next span {
        margin-left: 10px;
        font-size: 8px; }
    .topic-list-wrap .topic-list-header > span a {
      text-decoration: none; }
  .topic-list-wrap .topic-list-header h2 {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #808080;
    line-height: 20px; }

.topic-list-wrap ul.topic-list {
  position: relative; }
  .topic-list-wrap ul.topic-list .loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); }
    .topic-list-wrap ul.topic-list .loading.on {
      display: block; }
    .topic-list-wrap ul.topic-list .loading img {
      display: block;
      margin: 180px auto; }
    .topic-list-wrap ul.topic-list .loading .alert {
      display: none; }
      .topic-list-wrap ul.topic-list .loading .alert.on {
        display: block;
        color: #B3B3B3;
        margin: 326px auto;
        text-align: center; }
  .topic-list-wrap ul.topic-list li {
    min-height: 80px;
    border-bottom: 1px solid #E3E3E3;
    list-style-type: none;
    margin-bottom: 20px;
    padding-right: 20px; }
    .topic-list-wrap ul.topic-list li a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }
      .topic-list-wrap ul.topic-list li a .img {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px; }
      .topic-list-wrap ul.topic-list li a .info {
        margin-left: 80px;
        margin-bottom: 14px;
        height: 20px; }
        .topic-list-wrap ul.topic-list li a .info.nn {
          margin-left: 64px; }
        .topic-list-wrap ul.topic-list li a .info span.pr {
          display: block;
          width: 50px;
          height: 20px;
          text-align: center;
          background: #7AC4D3;
          border-radius: 40px;
          font-weight: bold;
          font-size: 12px;
          color: #FFFFFF;
          letter-spacing: 1.54px;
          line-height: 22px;
          padding-left: 1px; }
        .topic-list-wrap ul.topic-list li a .info .tag-wrap {
          display: inline-block;
          position: relative;
          width: 50px;
          height: 20px; }
          .topic-list-wrap ul.topic-list li a .info .tag-wrap .icon-tag {
            font-size: 20px;
            position: absolute;
            top: 0;
            left: 0;
            color: #B3B3B3; }
          .topic-list-wrap ul.topic-list li a .info .tag-wrap .rank {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            text-align: center;
            color: #FFF;
            line-height: 22px;
            font-weight: bold;
            font-size: 10px;
            letter-spacing: 0.8px; }
            .topic-list-wrap ul.topic-list li a .info .tag-wrap .rank span {
              font-size: 10px; }
          .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank1 .icon-tag {
            color: #FF787F; }
          .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank2 .icon-tag {
            color: #FF8D99; }
          .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank3 .icon-tag {
            color: #FFAAB3; }
          .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank4 .icon-tag, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank5 .icon-tag, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank6 .icon-tag, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank7 .icon-tag, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank8 .icon-tag, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank9 .icon-tag, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank10 .icon-tag {
            color: #E8BE8B; }
          .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank1 .rank, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank2 .rank, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank3 .rank, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank4 .rank, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank5 .rank, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank6 .rank, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank7 .rank, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank8 .rank, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank9 .rank, .topic-list-wrap ul.topic-list li a .info .tag-wrap.rank10 .rank {
            font-size: 14px; }
        .topic-list-wrap ul.topic-list li a .info .comment {
          display: inline-block;
          font-size: 12px;
          color: #B3B3B3;
          line-height: 20px;
          margin-left: 16px;
          position: relative;
          padding-left: 20px;
          vertical-align: top; }
          .topic-list-wrap ul.topic-list li a .info .comment .icon-comment {
            position: absolute;
            top: 1px;
            left: 0; }
          .topic-list-wrap ul.topic-list li a .info .comment .datetime {
            margin-left: 9px; }
      .topic-list-wrap ul.topic-list li a .title {
        margin-left: 80px;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px; }

.topic-wrap {
  padding: 6px 8px 0; }
  .topic-wrap .head-area {
    position: relative;
    min-height: 120px; }
    .topic-wrap .head-area img {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px; }
    .topic-wrap .head-area h1 {
      margin-left: 120px;
      font-weight: bold;
      font-size: 20px;
      color: #808080;
      line-height: 30px;
      margin-bottom: 20px; }
    .topic-wrap .head-area .comment {
      margin-left: 120px;
      font-size: 12px;
      color: #808080;
      line-height: 24px;
      margin-bottom: 20px; }
      .topic-wrap .head-area .comment .icon-comment {
        color: #B3B3B3;
        margin-right: 5px; }
      .topic-wrap .head-area .comment .datetime {
        margin-left: 9px; }
    .topic-wrap .head-area .btn-positive {
      position: absolute;
      bottom: 20px;
      right: 0; }
    .topic-wrap .head-area + .pager-area {
      border-top: 1px dashed #CCCCCC; }
  .topic-wrap .pager-area {
    padding: 28px 0 19px;
    text-align: center; }
  .topic-wrap .body-area {
    border-top: 1px solid #E3E3E3; }
    .topic-wrap .body-area + .pager-area {
      border-bottom: 1px dashed #CCCCCC; }
  .topic-wrap .form-area {
    padding-top: 28px; }
  .topic-wrap .return-area .btn {
    margin: 20px auto;
    width: 260px;
    height: 48px;
    line-height: 48px; }
  .topic-wrap .topic-list-wrap h2 {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 20px;
    margin-top: 40px; }
    .topic-wrap .topic-list-wrap h2.related {
      margin-top: 60px;
      color: #B8A3F8; }
    .topic-wrap .topic-list-wrap h2.rank {
      color: #FF8D99; }
    .topic-wrap .topic-list-wrap h2.new {
      color: #94CFF1; }

.modal-bk {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none; }
  .modal-bk[show="on"] {
    display: block; }
  .modal-bk[show="off"] {
    display: none; }
  .modal-bk .modal-wrap {
    background: #FFF;
    border-radius: 3px;
    padding: 20px;
    position: absolute;
    left: 50%;
    margin-left: -220px;
    top: 200px; }
    .modal-bk .modal-wrap.modal-url {
      width: 400px;
      margin-left: -200px; }
    .modal-bk .modal-wrap.modal-report {
      margin-left: -150px;
      width: 300px; }
    .modal-bk .modal-wrap.modal-image {
      top: 50px;
      max-width: 800px;
      padding-top: 52px; }
      .modal-bk .modal-wrap.modal-image .quot {
        font-size: 12px;
        line-height: 24px; }
    .modal-bk .modal-wrap .title {
      font-size: 15px;
      line-height: 16px;
      font-weight: bold;
      margin-bottom: 16px;
      line-height: 1.2; }
    .modal-bk .modal-wrap .text {
      line-height: 22px; }
    .modal-bk .modal-wrap .desc {
      font-size: 13px;
      line-height: 22px;
      margin-bottom: 13px; }
    .modal-bk .modal-wrap .input-urls {
      margin-top: 13px; }
      .modal-bk .modal-wrap .input-urls input {
        margin-bottom: 10px;
        width: 100%;
        border-radius: 4px;
        padding: 12px;
        font-size: 13px;
        height: 40px; }
    .modal-bk .modal-wrap .add-url {
      font-size: 13px;
      color: #39A9BF;
      line-height: 15px;
      cursor: pointer; }
      .modal-bk .modal-wrap .add-url:hover {
        opacity: .7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
      .modal-bk .modal-wrap .add-url span.icon-plus {
        font-size: 9px;
        margin-right: 7px; }
    .modal-bk .modal-wrap .close {
      color: #FF8D99;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      z-index: 20;
      font-size: 16px;
      cursor: pointer; }
      .modal-bk .modal-wrap .close:hover {
        opacity: .7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
      .modal-bk .modal-wrap .close span {
        display: block;
        margin: 8px auto;
        text-align: center; }
    .modal-bk .modal-wrap .btn-positive {
      width: 100%;
      height: 48px;
      margin-top: 30px;
      line-height: 48px; }
    .modal-bk .modal-wrap .modal-btns {
      margin-top: 10px; }
      .modal-bk .modal-wrap .modal-btns .btn {
        height: 40px;
        width: 145px;
        display: inline-block;
        margin: 0;
        padding: 0;
        line-height: 40px; }
        .modal-bk .modal-wrap .modal-btns .btn:nth-child(1) {
          margin-right: 5px; }

.entry-wrap h1 {
  font-size: 15px;
  color: #808080;
  line-height: 34px;
  font-weight: bold;
  border-bottom: 1px dashed #FF4D5B;
  padding-bottom: 15px; }

.entry-wrap .subtext {
  margin: 20px 0 30px;
  font-size: 13px;
  color: #808080;
  line-height: 22px; }

.entry-wrap .comment-item {
  border-bottom: none;
  padding-bottom: 20px; }

.entry-wrap .step {
  margin: 21px 0 30px; }

.entry-wrap .head-area {
  position: relative;
  min-height: 120px;
  border-bottom: 1px dashed #CCC; }
  .entry-wrap .head-area img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px; }
  .entry-wrap .head-area .topic-title {
    margin-left: 120px;
    font-weight: bold;
    font-size: 20px;
    color: #808080;
    line-height: 30px; }

.entry-wrap > a.btn-positive {
  width: 50%;
  margin: 0 auto; }

.entry-wrap .comment-url .editing {
  position: relative; }
  .entry-wrap .comment-url .editing input {
    width: 100%; }
  .entry-wrap .comment-url .editing .arrows .l,
  .entry-wrap .comment-url .editing .arrows .r {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    line-height: 30px;
    text-align: center; }
    .entry-wrap .comment-url .editing .arrows .l:hover,
    .entry-wrap .comment-url .editing .arrows .r:hover {
      cursor: pointer;
      opacity: .7;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
  .entry-wrap .comment-url .editing .arrows .l {
    margin-right: 12px; }

.entry-wrap .comment-url .btn-positive {
  margin-top: 20px; }

.entry-wrap .btns {
  margin-top: 20px;
  text-align: center; }
  .entry-wrap .btns .btn {
    display: inline-block; }
  .entry-wrap .btns .btn-default {
    width: 100px;
    margin-right: 20px; }
  .entry-wrap .btns .btn-positive {
    width: 260px; }

.misc {
  padding: 0 8px; }
  .misc h1 {
    font-size: 15px;
    line-height: 34px;
    font-weight: bold;
    border-bottom: 1px dashed #FF4D5B;
    margin-bottom: 20px;
    padding-bottom: 15px; }
  .misc .misc-body h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 11px; }
  .misc .misc-body p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 40px; }
  .misc .misc-body ol {
    margin-bottom: 21px;
    list-style-type: decimal;
    margin-bottom: 40px;
    padding-left: 24px;
    line-height: 18px; }
    .misc .misc-body ol li {
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 4px; }
    .misc .misc-body ol ol {
      list-style-type: lower-alpha;
      margin-bottom: 10px; }
  .misc .misc-body .btn-positive {
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    width: 50%; }

.adinfo {
  margin: 0 auto;
  background: #FFF;
  width: 1000px;
  padding: 15px 0; }
  .adinfo h1 {
    background: #FF8D99;
    padding: 3px 0; }
    .adinfo h1 p {
      color: #fff;
      border-top: 1px dashed #EB616C;
      border-bottom: 1px dashed #EB616C;
      font-size: 20px;
      line-height: 55px;
      font-weight: bold;
      text-align: center; }
  .adinfo .adinfo-body {
    padding: 80px 50px 10px; }
    .adinfo .adinfo-body .btn-positive {
      width: 300px;
      height: 60px;
      line-height: 60px;
      margin: 50px auto 80px;
      background: #FF787F;
      font-size: 15px; }
    .adinfo .adinfo-body .graph {
      margin: 0 auto 36px;
      display: block; }
    .adinfo .adinfo-body h2 {
      font-size: 20px;
      line-height: 22px;
      font-weight: bold;
      margin-bottom: 26px;
      vertical-align: middle; }
      .adinfo .adinfo-body h2 i {
        font-size: 17px;
        color: #FF8D99;
        vertical-align: middle;
        margin-right: 7px; }
    .adinfo .adinfo-body .flc .text p,
    .adinfo .adinfo-body > p {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 45px; }
      .adinfo .adinfo-body .flc .text p.caption,
      .adinfo .adinfo-body > p.caption {
        font-size: 12px;
        line-height: 24px;
        text-align: right;
        margin-bottom: 80px; }
    .adinfo .adinfo-body .text {
      float: left; }
    .adinfo .adinfo-body .img {
      float: right; }
    .adinfo .adinfo-body .result img {
      float: left; }
    .adinfo .adinfo-body .result .explain {
      float: right;
      width: 440px; }
      .adinfo .adinfo-body .result .explain .title {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        margin-bottom: 8px; }
      .adinfo .adinfo-body .result .explain .company {
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        margin-bottom: 28px; }
      .adinfo .adinfo-body .result .explain .body {
        font-size: 14px;
        line-height: 28px; }

.tablet-sub {
  display: none; }
  .tablet-sub.tablet-sub-list {
    border-top: 1px dashed #CCCCCC;
    margin-top: 30px;
    padding: 20px 0; }
  .tablet-sub .btn-entry-topic {
    width: 50% !important;
    margin: 40px auto 20px; }
  .tablet-sub .keywords a {
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    font-size: 12px;
    color: #808080;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    list-style-type: none; }
    .tablet-sub .keywords a span {
      margin-right: 5px;
      color: #FFCCD1;
      vertical-align: middle; }
  .tablet-sub .category a {
    text-decoration: none; }
    .tablet-sub .category a li {
      list-style-type: none;
      margin-bottom: 10px;
      font-size: 16px; }

.wrap .main.responsive {
  display: none; }

@media only screen and (max-width: 1139px) {
  a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  nav .header-nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 20px; }
  .wrap {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px; }
    .wrap .main {
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      margin-bottom: 20px;
      display: block !important; }
    .wrap .sub {
      display: none; }
      .wrap .sub.responsive {
        float: left;
        width: 100%;
        margin-top: 20px;
        display: block; }
  .topic-list-wrap .tab-wrap .tab {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 49%; }
    .topic-list-wrap .tab-wrap .tab.tab-new {
      float: right; }
    .topic-list-wrap .tab-wrap .tab.on:before {
      left: 49% !important; }
  .tablet-sub {
    display: block; } }
