﻿#cookie-law {
  background: #000;
  font-size:12px;
  padding:5px;
  text-align:center;
  border-bottom:1px solid #fff;
  color:white;
}
.cookie_btn{
    text-decoration:none;
    background-color:#175b80;
    color:white;
    border-radius:5px;
    padding: 4px 19px;
    font-size: 14px;
}