.H_BEWERTUNG_CONTENT {
    color:#175b80;
    font-size:16px;
    margin-left:10px;
    overflow: hidden;
    width: 620px;
}

.H_BEWERTUNG_CONTENT A, .H_BEWERTUNG_CONTENT a:visited, .H_BEWERTUNG_CONTENT a:active  {
    color:#175b80;
}

.PREISDETAIL_LINK {
    padding:7px 10px;
    float:left;
    margin:1px;
}

.IMPRESSUM_HEAD {
    background: none repeat scroll 0 0 #134B69;
    color: #FFFFFF;
    font-size: 26px;
    height: 30px;
    padding-left: 5px;
    padding-top: 3px;
}

@-moz-document url-prefix() {
  .IMPRESSUM_HEAD {
   padding-top: 0px;
    }
}

.IMPRESSUM_CONTENT {
    color:#175b80;
}

.IMPRESSUM_CONTENT A, .IMPRESSUM_CONTENT a:visited, .IMPRESSUM_CONTENT a:active  {
    color:#175b80;
    text-decoration:none;
}

.HAENDLER_INNER {
    background:#fff;
    margin-left: 15px;
    width: 870px;
    color:#175b80;   
}

.HAENDLER_INNER A, .HAENDLER_INNER a:visited, .HAENDLER_INNER a:active  {
    color:#cb8300;    
}

.PREISDETAIL_LINK A, .PREISDETAIL_LINK a:visited, .PREISDETAIL_LINK a:active  {
    color:#cb8300;
}

.PREISDETAIL_CLOSE {
    float:right;
    margin-top:7px;    
}

.PREISDETAIL_CLOSE A, .PREISDETAIL_CLOSE a:visited, .PREISDETAIL_CLOSE a:active  {
    color:#cb8300;
}

.TABLE_WHITE_TD {
    border-top:2px solid #175B80;
}

.TABLE_WHITE_TD_ALT A, .TABLE_WHITE_TD_ALT a:visited, .TABLE_WHITE_TD_ALT a:active  {
    color:#175b80;
}

.TABLE_WHITE_TD_ALT {
    height: 25px;
    padding-left:15px;
}

.MEDKATALOG {
    color:#175b80;
    margin:5px;
    padding-left:15px;
}

.MEDKATALOG A, .MEDKATALOG A:visited, .MEDKATALOG A:active {
    color:#175b80;
    text-decoration:none;
}

.MED_LETTERLINE {
    text-align:center;
    margin-bottom:20px;
}

.MED_LETTERLINE A, .MED_LETTERLINE A:visited, .MED_LETTERLINE A:active {
    color:#ffd800;
}

.LETTER A, .LETTER A:visited, .LETTER A:active {
    color:#175b80;
    text-decoration:none;
}

.MED_TEXT A, .MED_TEXT A:visited, .MED_TEXT A:active {
    color:#175b80;
    text-decoration:none;
    font-weight:400;
}

.MED_TEXT {
    float:left;
    margin-left: 10px;
    font-weight:400;
}

.P_FOTO {
    float:left; 
    width: 210px;
    text-align: center;
    margin-top: -18px;
    margin-left: 40px;
    height: 205px;
}

.PROS_INFO {
    float: left;
    margin-left: 40px;    
    width: 305px;
    margin-top: 4px;
}

.P_TITLE {
    margin-left: 290px;
    color:#175b80;
    font-size:25px;
    padding-top:10px;
    width: 310px;
}

.P_TITLE h1, .P_TITLE span  {
    font-size:20px !important;
    font-weight:500 !important;
}

.P_OTHER {
    margin-top: 40px;
}

.P_KATNAVI {
    color:#cb8300;
    margin-top: -22px;
    margin-left: 290px;
    width: 290px;
    font-size:12px;
    font-weight:500;
}

.P_KATNAVI A, .P_KATNAVI A:visited, .P_KATNAVI A:active{
    color:#cb8300 ;
    background-color:#fff;
    font-size:12px;
    font-weight:500;
    text-decoration:none;
}

.P_RIGHT {
    float: left;
    margin-top: -50px;
    width:230px;
    min-height:155px;
    margin-left: 20px;
}

.P_BOX_INNER A,.P_BOX_INNER a:visited,.P_BOX_INNER a:active {
    text-decoration:underline;
    color:#175b80;
}

.P_BOX_INNER {
    background-color:#E7E7E7;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:20px;
    color:#175b80;
    font-size:12px;
    font-weight:500;
    text-align:left;
    vertical-align:middle;
    padding-left:10px;
    padding-top:5px;
}

@-moz-document url-prefix() {
  .P_BOX_INNER {
   padding-top:2px;
    }
}

.P_Name{
    font-weight: bold;
}
.P_MEINUNG_TEXT
{
    padding-left: 20px;
    padding-top:2px;
}

.P_OUTER {
    background-color: #134B69;    
    margin-top: -42px;
    padding-top: 23px;
    text-align: center;
    width: 900px
}
/*min-height: 325px;*/

.P_INNER {
    background-color: #FFFFFF;
    min-height: 340px;
    margin: 0 auto;
    text-align: left;
    width: 870px;
}

.P_WERBUNG {
    color:#175B80;
    font-size:12px;
    font-weight:500;
}

.P_WERBUNG A, .P_WERBUNG A:visited,.P_WERBUNG A:active {
    color:#175B80;
    text-decoration:underline;
}

.VCENTER1 {
  display: table; 
  #position: relative;
  overflow: hidden;
}


.VCENTER2  {
  #position: absolute;
  #top: 50%;
  display: table-cell; 
  vertical-align: middle;
}


.VCENTER3 {
  float:left;
  #position: relative;
  #top: -50%;
}

div.stern {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ffc800;
  position: relative;
}

div.stern:after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #ffc800;
  position: absolute;
  content: "";
  top: 30px;
  left: -50px;
}

.H_BEWERTUNG {
    color:#175b80;
    font-size:9px;
    margin-top:3px;
}

.H_BEWERTUNG IMG{
    float: left;
    margin-left: 36px;
}

.SDB_H_BEWERTUNG IMG {
    margin-left: 5px;
}
.SB_HLOGO {
    margin-top: -12px;
    margin-left:10px;
}
.LAST {
    background:url(/image/Vrodukt_2.png) no-repeat right top;
    background-color:#E8E6E6;
}


.P_BEWERTUNG_COUNT {
    float:left;
}

@-moz-document url-prefix() {
  .P_BEWERTUNG_COUNT_SEARCH {
    
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .P_BEWERTUNG_COUNT{margin-top:2px;}
}

.P_BEWERTUNG  {
    margin:5px 10px;
}
.P_RATING{
    background-color: #FFFFFF;
    margin-top: 5px;
    border-radius: 5px;
    padding: 8px 0;
    text-align: center;
}
.P_RATING.WRITE_REVIEW{
    font-size: 15px;
    padding: 0;
    line-height: 32px;
    height: 32px;
    color: #8F8F8F;
}
.P_RATING.WRITE_REVIEW a{
    text-decoration: none;
    color: #CB8300;
 }
.REVIEWS_COUNT{
    font-size: 15px;
    font-family: UBUNTU;
    color: #CB8300;
    display: inline-block;
    vertical-align: middle;
}

.RATING_IMAGE{
    margin-right: 8px;
    vertical-align: middle;    
    height: 23px;
    width: 116px;
}

.ShowRating {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.ShowRating:hover .PRatingBoxContainer {
    display: block;
}

.PRatingBoxContainer {
    position: absolute;
    padding: 10px;
    left: -49px;
    top: 23px;
    display: none;
}

.PRatingBox{
    border-radius: 5px;
    width: 220px;
    z-index: 100;
    box-shadow: 1px 1px 35px 1px #8f8f8f;
    background-color: #FFFFFF;
    font-size: 13px;
    font-family: UBUNTU;
    color: #134B69;
    padding: 10px 0px 10px 10px;
    text-align: left;
}

.PRatingBoxArrow {
    position: absolute;
    top: 2px;
    left: 107px;
}

.PRatingBox .head {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 15px;
}

.P_GREYBOX a.viewReviews {
    color:#CB8300;
    text-decoration:none;
    display:inline-block;
    margin-top: 10px;
    margin-right: 15px;
}

.P_BOX {
    border:1px solid #E7E7E7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    width: 225px;
    margin-left:10px;
}

.P_GREYBOX {
    color: #175B80;
    text-decoration:none;
    font-size:12px;
    font-weight:500;
    margin-left: 9px;
    margin-right: -9px;
    margin-top: 10px;
    min-height: 22px;
    padding-left: 15px;
    border-radius: 5px;
    background-color:#E7E7E7;
    padding-top:10px;
    padding-bottom:4px;
}


@-moz-document url-prefix() {
  .P_GREYBOX {
     padding-bottom: 3px;
    padding-top: 7px;
    }
}
.P_GREYBOX.P_RATINGSECTION{
    padding: 9px 10px 10px 10px;
    font-weight: normal;
    color: #134B69;
    font-family: UBUNTU;
}
.P_GREYBOX.P_SearchOffers {
    margin-bottom: 10px;
    font-weight: normal;
    font-family: UBUNTU;
    color: #134B69;
    padding: 12px 15px 14px 15px;
}
.P_GREYBOX A, .P_GREYBOX A:visited, .P_GREYBOX A:active{
    color: #cb8300;    
    text-decoration:underline;
}

.P_RATINGDETAIL {
    margin-bottom: 5px;
}

.P_BEWERTUNG_INNERTEXT{
    display: inline-block;
    vertical-align: middle;
}

.P_BEWERTUNG_BALKEN {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.P_MEINUNG_HEADLINE {    
    float:left;
    margin-left: 25px;
    color:#175B80;
    font-weight:500;
    font-size:16px;
}

.PPLCMNT_TOP  {
     text-align:right;
     padding-right: 6px;
     padding-bottom: 3px;

}

@-moz-document url-prefix() {
  .PPLCMNT_TOP {
    text-align:right;
    margin-right:10px;
    margin-top: 10px;
    }
}

.PPLCMNT_MWST {
    color:#8F8F8F;
    font-size: 10px;
    width:120px;
}

.PPLCMNT_PREIS {
    float:left;
    color: #FF0000;
    font-size:19px;
    margin-left: 5px;
    margin-top: 8px;
    height:20px;
    width: 120px;
}

.PPLCMNT_PREIS A, .PPLCMNT_PREIS A:visited, .PPLCMNT_PREIS A:active {
    color: #FF0000;
    text-decoration:none;
    font-size:24px;
}

.PPLCMNT_ZUMSHOP {
  float: right;
  margin:25px 5px 0px 5px;
  width: 98px;
}

.PPLCMNT_ZUMSHOP A, .PPLCMNT_ZUMSHOP A:visited, .PPLCMNT_ZUMSHOP A:active  {
    text-decoration:none;
    color:#000;
}

.PPLCMNT_PBEZ {
    float:left;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 15px;
    font-size:13px;
    color:#175B80;
    width:200px;
    height:55px;
}

.PPLCMNT_PBEZ A, .PPLCMNT_PBEZ A:visited, .PPLCMNT_PBEZ A:active {
    color:#175B80;
    text-decoration:none;
}

.PPLCMNT_PBEZ A:link {    
    font-size:13px;
}

.PPLCMNT_LOGO {
  float: left;
  margin :10px 0px 10px 10px;
  height: 50px;
}
.PPLCMNT_RATING {
    margin-left: 16px;
    margin-top: 3px;
}
.P_TEXT IMG {
    margin-right:5px;
    margin-top: 5px;
}

.KATNAVI {
    margin-left:-9px;
    margin-top:-56px;
    padding-bottom:10px;
    padding-top:0px !important;
}

.KATNAVI_HEAD {
    color:#9A9A9C;
    font-size:21px;
    font-weight:500;
    margin-top:10px;
    margin-left:30px;
}

.KATNAVI_TEXT {
    font-size: 13px;
    font-weight:500;    
    padding-top: 5px;
    float:left;
    color:#BBBBBB;
}


@-moz-document url-prefix() {
  .KATNAVI_TEXT {
    font-size: 13px;
    font-weight:500;    
    padding-top: 3.5px;
    }
}

.KATNAVI_PFEIL {
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent; 
    border-left: 6px solid #9A9A9C; 
    border-bottom: 4px solid transparent;
    margin-top: 8px;
    margin-right: 5px;
    float:left;
}

.KATNAVI_OUTER {
    clear:both;
}

.KATNAVI_CONTENT {
    background:url(/image/kategorie_stripe.png) repeat-x;
    height: 24px;
    float:left;
}

.KATNAVI_HEAD A,.KATNAVI_HEAD A:visited,.KATNAVI_HEAD A:active {
    color:#ffd800;
    text-decoration:none;
}

.KATNAVI_KATLIST ul {
    text-align:left;
}

.KATNAVI_KATLIST li {    
    font-size: 13px;
    font-weight:500;
    margin-left:10px;
    margin-top:5px;
    height:24px;
    min-width: 220px;
}

.KATNAVI_KATLIST A,.KATNAVI_KATLIST A:visited, .KATNAVI_KATLIST a:active {
    color:#ffd800 !important;
    text-decoration:none !important;
}

.KATNAVI_INBOX {
    margin-top:5px;
    float:left;
}

@-moz-document url-prefix() {
  .KATNAVI_INBOX {
    padding-top:3.5px;
    margin-top:0px;
    }
}

.KATNAVI_INBOX:HOVER  {
    color:#fff;
}

.KATNAVI_RUNDUNG_R {
    float: left;
    height: 24px;
    margin-right: 0;
    width: 6px;
}

.KATNAVI_RUNDUNG_L {
    float: left;
    height: 24px;    
    width: 6px;
    margin-left: -5px;
}

.KATNAVI_RUNDUNG_L IMG{
    height:24px;
    width:6px;
}

.KATNAVI_RUNDUNG_R IMG{
    height:24px;
    width:6px;
}

.OUTER_BEWERTUNG {
    width:870px;
    background:#fff;
    margin-left:15px; 
}

.OUTER {
    background-color: #134B69;
    width:900px;
    padding-top: 50px;
    color:#134b69;
}

.S_SORT_SORTBOX {    
    float: right;
    margin-right: 30px;
}


.S_SORT_SORTBOX A, .S_SORT_SORTBOX A:visited, .S_SORT_SORTBOX A:active{
    color:#fff;
    text-decoration:none;
}

.S_SORT_SORTBOX_TEXT {
    color: #FFD800;
    font-size: 16px;
    font-weight: 500;
    margin-left: 3px;
    margin-top: -20px;
}

.S_SORT_SORTBOX_VALUE {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
    margin-top:-35px;
}

.S_SORT_SORTBOX_VALUE:HOVER {
    
}

.S_SORT_SORTBOX_VALUE A, .S_SORT_SORTBOX_VALUE A:visited, .S_SORT_SORTBOX_VALUE A:active{
    color: #FFFFFF;
    text-decoration:none;
}

.S_SORT_LINE {
    padding-top: 7px;
    height:45px;
}

.S_SORT_LEFT {
    float:left;
    margin-left: 15px;
    margin-right: -100px;
}

.P_SORT {
    color: #ffd800;
    font-size: 16px;
    font-weight: 500;
    margin-top: -37px;
}

.P_SORT_TEXT {
    margin-top:4px;
    margin-left:15px;
    
}

.P_SORT_VERS 
{
  margin-left:10px;
}

.P_SORT_LEFT {
    float:left;
    margin-left:15px;
}

.P_SORT_RIGHT {
   float:right;
   margin-right: 15px;
}

.P_SORT_LINE {
    
    position:relative;
}

.H3_PREIS_KAT {
    width: 50% ;
     float: left;
    margin-left: 20px;
    margin-top: -20px;
}

.H3_PREIS {    
    margin-bottom: 5px;    
}

.H3_PREIS_KAT h3, .H3_PREIS h3 {
    color:#FFD800 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.H3_PREIS_KAT h2, .H3_PREIS h2 {
    color:#FFD800 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .H3_PREIS_KAT {
   
   width: inherit !important;
   float: none !important;
   margin-left: 0px !important;
   margin-top: -0px !important;
    }
}

.outer_table {
    vertical-align:middle;    
}

.TABLE_WHITE_SHOP_INFO {
    background-color:#fff;
}

.TABLE_WHITE {
    background-color:#fff;
    min-height:75px; 
}

.TABLE_BLUE  {
    background-color:#134b69;
    min-height:75px;
}

.TABLE_BLUE A, .TABLE_BLUE A:visited, .TABLE_BLUE A:active{
    text-decoration:none;
}

.TABLE_WHITE_KATALOG {
    background-color:#fff;
    min-height:85px;

}
 .CLICKABLE_ROW {
    cursor : pointer;
}
.P_LIST_MERCHANT {
    color: #175B80;
    font-size: 13px;
    font-weight: 500;
    height: 17px;
    margin-top: 5px;
    overflow: hidden;
    text-align: left;
}

.P_LIST_MERCHANT A, .P_LIST_MERCHANT A:visited, .P_LIST_MERCHANT A:active{
    color: #175B80;
    text-decoration:none;
}

.P_LIST_TITLE {
    color: #CB8300;
    font-size: 11px;
    font-weight: 500;
    height: 16px;
    margin-top: 0;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
}

.P_LIST_TITLE.TRIM {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.P_LIST_TITLE A, .P_LIST_TITLE A:visited, .P_LIST_TITLE A:active {
    text-decoration:none;
    color:#cb8300;
}

.P_LIST_DELIVERY A, .P_LIST_DELIVERY A:visited, .P_LIST_DELIVERY A:active{
       text-decoration:none; 
       color: #175B80; 
}

.P_LIST_DELIVERY {
      color: #175B80;
    font-size: 10px;
    font-weight: 400;
    /*margin-bottom: 12px;*/
    text-align: left;
    width: 430px;
    text-decoration: none;
}

.P_LIST_AMPEL {
    float: left;
    margin-right: 3px;
    margin-top: 3px;
    overflow: hidden;
    width: 10px;
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .P_LIST_AMPEL{margin-top: 3px;}
}
}*/

@-moz-document url-prefix() {
  .P_LIST_AMPEL {
   margin-top: 4px;
    }
}

.P_LIST_AMPEL_GRUEN IMG {
    margin-left: -27px;
}

.P_LIST_AMPEL_GELB IMG {
    margin-left: -18px;
}

.P_LIST_AMPEL_ROT IMG {
    margin-left: -9px;
}

.P_LIST_AMPEL_GRAU IMG {
    margin-left: 0px;
}

.P_LIST_DELIVERY A, .P_LIST_DELIVERY A:visited, .P_LIST_DELIVERY A:active{
     color: #175B80;    
     text-decoration:none;
}

.P_PFEIL {
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent; 
    border-left: 6px solid #CB8300; 
    border-bottom: 4px solid transparent;
    margin-top: 5px;
}

.P_Beschreibung {
    margin-left: 13px;
    margin-top: -10.5px;
    color:#134b69;
}

.P_BESCHREIBUNG_HIDDEN A, .P_BESCHREIBUNG_HIDDEN A:visited, .P_BESCHREIBUNG_HIDDEN A:active{
    color:#cb8300;
}

.P_MOREDETAILS A, .P_MOREDETAILS a:visited, .P_MOREDETAILS a:active  {
    color:#CB8300;
    font-size:12px;
    font-weight:500;
    margin-left:5px;
}

.P_MOREDETAILS_HIDDEN A, .P_MOREDETAILS_HIDDEN a:visited, .P_MOREDETAILS_HIDDEN a:active {
    color:#CB8300;
    font-size:12px;
    font-weight:500;
}

.P_LIST_BEWERTUNG {
    float: right;
    font-size: 12px;
    margin-top: 20px;
    width:100px;
    color:#175B80;
}

.P_LIST_BEWERTUNG IMG {
    margin-top:0px !Important;
}

@-moz-document url-prefix() {
  .P_LIST_BEWERTUNG IMG {
    margin-top: 2px !Important;
    }
}

.P_LIST_BEWERTUNG A, .P_LIST_BEWERTUNG a:visited, .P_LIST_BEWERTUNG a:active {
    color:#175B80;
    text-decoration:none;
}

.P_LIST_BEWERTUNG_TEST {
    float: left;
    margin-top: 0px;
    margin-right: 5px;
}

@-moz-document url-prefix() {
  .P_LIST_BEWERTUNG_TEST {
    margin-top: 0px;
    }
}

.P_LIST_PRICE {
    color: #CB8300;
    font-size: 35px;
    margin-top: -6px;   
    text-shadow: 1px 1px 0px #ffffff;    
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .P_LIST_PRICE{margin-right:15px;}
}

.P_LIST_PRICE A {
    color:#cb8300;
    text-decoration:none;
}

.P_LIST_PRICE_D {
    color: #175B80;
    font-size: 12px;
    font-weight: 500;
    margin-top: -15px;
}

.P_LIST_PRICE_D A, .P_LIST_PRICE_D a:visited, .P_LIST_PRICE_D a:active {
    text-decoration:none;
    color: #175B80;
}

.P_LIST_SIGN {
     color: #CB8300;
    float: right;
    font-size: 19px;
    margin-left: 5px;
    margin-top: 3px;
}


/*
.P_LIST_SHOP {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;    
    height: 22px;    
    padding-left: 5px;
    padding-top: 7px;
    text-align: left;
    width: 100px;
}*/

.P_LIST_SHOP IMG {
    margin-left:15px;
}

.P_LIST_SHOP A, .P_LIST_SHOP A:visited, .P_LIST_SHOP A:active{
    color:#fff;
    text-decoration:none;
    
}

.P_LIST_SHOP_CIRCLE {    
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background-color: #FFD800;
    border-radius: 9px 9px 9px 9px;
    float: right;
    height: 18px;
    margin-right: 5px;
    margin-top: -1px;
    width: 21px;
}

.P_LIST_SHOP_TRIANGLE {
    width:0px;  
    height:0px;
    margin-left: 6px;
    margin-left: 8px\9; /*IE 8/9*/
    margin-top: 6px;
    margin-top: 3px\9; /*IE 8/9*/
    border-left: 6px solid transparent;  
    border-right: 6px solid transparent;  
    border-top: 6px solid #134b69;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=6.123233995736766e-17, M12=1, M21=-1, M22=6.123233995736766e-17, SizingMethod='auto expand')";/*IE 8/9*/
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.PPLCMNT_INNER {
    border: 1px solid #e7e7e7;
    height: 70px;
    background-color: #f3f3f3;
}

.PPLCMNT {
    float: left;
    margin-bottom: 19px;
    margin-left: 23px;
    margin-top: 50px;
    width:555px;
}

.PPLCMNT_C {
  clear:both;
}


.PPLCMNT_INFO 
{
    color: #CB8300;
    font-size: 10px;
    padding-top:2px;
    text-align: left;
    width:120px
}

.P_RICHSNIPPETS {
    color:#134b69;
    font-weight:400;
    margin-top:10px;
}

.P_INFOBOX {
    background:url(/image/top_produkt_stoerer.png) no-repeat;
    height: 40px;
    margin-left: -31px;
    
    padding: 3px;
    width: 54px;
}

.P_ZUSATZ {
    color: #CB8300;
    font-size: 12px;
    text-align:center;    
    background: none repeat scroll 0 0 #E7E7E7;
}

.P_ZUSATZ_ALT {
    margin-top:4px;
    background-color:#fff    
}

@-moz-document url-prefix() {
  .P_ZUSATZ_ALT {
    margin-top:-2px;
    background-color:#fff   
    }
}

.LAST A, .LAST A:visited, .LAST A:active{
    text-decoration:none;
}

.KATALOG_LAST A, .KATALOG_LAST A:visited, .KATALOG_LAST A:active{
    text-decoration:none;
}


.KATALOG_LAST {
    background:url(/image/grau_hg_v_preisvergleich_2.png) no-repeat right center;
    background-color:#E8E6E6;
    vertical-align:top;
}
.LAST_BOX {
     margin-top: 10px;
}

.S_INPUT_GO {
    float: left;
    height: 29px;
    text-align: center;
    width: 50px;
    margin-top:4px;
    margin-left:10px;
    background-color:Red;
    background: url("/image/go.png") no-repeat;
    background: #cc8302; /* Old browsers */
    background: -moz-linear-gradient(top, #cc8302 1%, #956000 100%, #956000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#cc8302), color-stop(100%,#956000), color-stop(100%,#956000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cc8302 1%,#956000 100%,#956000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cc8302 1%,#956000 100%,#956000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cc8302 1%,#956000 100%,#956000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cc8302 1%,#956000 100%,#956000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc8302', endColorstr='#956000',GradientType=0 ) dropshadow(color=#000, offx=1, offy=1); /* IE6-9 */
}

.S_INPUT_GO input{
    height: 18px;
    margin-top: 5px;
    width: 38px;
}

.S_SUCHEALL_INPUT {
    margin-top:5px;
    margin-left:10px;
    width: 477px;
    float: left;
}

.S_SUCHEALL_INPUT input {
    background-color:#175b80;
    -moz-box-shadow: -2px -2px 3px -1px #000000;
    -webkit-box-shadow: -2px -2px 3px -1px #000000;
    box-shadow: -2px -2px 3px -1px #000000;
    border:none;
    height: 25px;
    font-size: 15px;
}

.S_CONTENT {
    float: left;
    width: 300px;
    height: 85px;
}

.S_FOTO {
    
    text-align: center;
    width: 120px;
    margin-left: -3px;
}

.S_FOTO IMG {
    max-height:75px;
    max-width: 75px;
}

.ANZEIGE_FOTO > IMG
{
    max-width: 65px;
    max-height: 65px;
    margin-bottom:-10px;
}

.S_BESCHREIBUNG {
    width:500px;   
    /*margin-top: 2px;*/
}

.S_LIST_TITLE {
    /*margin-top: 18px;*/
}

.S_LIST_SIGN {
    font-size: 21px;
    margin-left: 2px;
    margin-right: 10px;
    margin-top: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .S_LIST_SIGN{margin-left: -10px;}
}

.S_LIST_AB  {
    float:none;
}

.S_LIST_PRICE {
    font-size: 26px;
    font-weight: 500;
    text-shadow: 1px 1px 0px #ffffff;
}

.S_LIST_COUNT {
    font-size:12px;
    color:#175B80;
    font-weight:500;
    margin-right: 17px;
}

.S_LIST_PRICEBOX {
    padding-top: 4px;
}

.S_LIST_RIGHT IMG {
    margin-right: 10px;
    margin-top: 5px;
    width:166px;
}

.S_FOTO_INFO {
    
    width: 165px;
}


.S_LIST_RIGHT {
    height:85px;
}

.SDB_LIST_CONTENT {
    width:400px;
    margin-top:-2px;
}

.SDB_LIST_FOTO {    
    height: 82px;
    margin-left: 20px;
    overflow: hidden;
    padding-top: 20px;
}

.SDB_LIST_FOTO IMG{

}

.SDB_LIST_DELIVERY {
    margin-bottom: 2px;
}

.SBD_LIST_CONTENT {
     float: left;
    height: 75px;
    overflow: hidden;
    width: 400px;
}

.SDB_TEXT_SMALL {
    color: #175B80;
    float: left;
    width: 110px;
    text-align:left;
    margin-bottom: 5px;
}

.SDB_TEXT_SMALL A, .SDB_TEXT_SMALL A:visited, .SDB_TEXT_SMALL A:active {
    color: #175B80;
    text-decoration:underline;
}

.SDB_LIST_TITLE {
    margin-top:5px;
    color:#175B80;
    font-size:16px;
    font-weight:300;
    overflow: hidden;
    height:20px;
    width:400px;
}

.SDB_LIST_MERCHANT {
    font-size:12px;
    font-weight: 500;
}

.PDB_LIST_TITLE  {
    font-size:16px;
    font-weight:400;
    height:20px;
}

.SDB_LIST_TITLE A, .SDB_LIST_TITLE A:visited, .SDB_LIST_TITLE A:active {
    margin-top:9px;
    color:#175B80;
    font-size:16px;
    font-weight:300;
}

.SDB_LIST_TEXT {
    float: left;
    text-align: left;    
    margin-top:1px;
    font-size:12px;
    font-weight:500;
    color:#175B80;
    width: 420px;
}

.SDB_LIST_TEXT A, .SDB_LIST_TEXT A:visited, .SDB_LIST_TEXT A:active {
    color:#175B80;
    text-decoration:none;
}

.PAGENAVI_PAGE {
    background:url(/image/hinter_ziffer_btn.png) no-repeat;
    width:25px;
    height:31px;
    float:left;
    color:#ffd800;
    font-size:12px;
    font-weight:400;
    margin-left:2px;
    padding-top:8px;
}

.PAGENAVI_PAGE_PREV {
    background:url(/image/zurueck.png) no-repeat;
    width:90px;
    height:31px;
    float:left;
}


.BG_EMPTY {
    background:none;
}


.PAGENAVI_PAGE_PREV:HOVER {
    background:url(/image/zurueck_over.png) no-repeat;
}

.BG_EMPTY:HOVER {
    background:none;
}


.PAGENAVI_PAGE_NEXT {
    background:url(/image/weiter.png) no-repeat;
    width:90px;
    height:31px;
    float:left;
    color:#ffd800;
    font-size:12px;
    font-weight:400;
    margin-left:2px;
    padding-top:7px;
    
}

.PAGENAVI_LAST_INNER {
    margin-left: 5px;
    margin-top:-23px;
}

@-moz-document url-prefix() {
  .PAGENAVI_LAST_INNER {
    margin-left: 5px;
    margin-top:-24px;
    }
}

.PAGENAVI_PAGE_NEXT:HOVER {
    background:url(/image/weiter_over.png) no-repeat;
}

@-moz-document url-prefix() {
  .PAGENAVI_PAGE {
    padding-top:7px;
    }
}

.PAGENAVI_PAGE_FIRST {
    margin-left:31px;
}

.PAGENAVI_LAST {
    background:none;
    margin-top:-1px;
}

@-moz-document url-prefix() {
  .PAGENAVI_LAST {
    margin-top:-2px;
    }
}


.PAGENAVI_LAST IMG {
    height: 31px;
    margin-top: -7px;
    width: 25px;
}

@-moz-document url-prefix() {
  .PAGENAVI_LAST IMG {
    height: 31px;
    margin-top: -5px;
    width: 25px;
    }
}


.PAGENAVI_PAGE A {
    width:25px;
    height:31px;
    color:#ffd800;
    text-decoration:none;
}

.PAGENAVI_PAGE:HOVER {
    background:url(/image/hinter_ziffer_btn_gedrueckt.png) no-repeat;
}

.PAGENAVI_PAGE_S {
    background:url(/image/hinter_ziffer_btn_gedrueckt.png) no-repeat;
}

.NO_TEST {
    display:none;
}

.TEST {
    width:300px;
    height:200px;
    background-color:#000;
}

.P_TEST_NAME {
    
    float: left;
    margin-left: 10px;
    overflow: hidden;
    width: 180px;
}

.P_TEST_AUSGABE {
    
    float: left;
    overflow: hidden;
    width: 100px;
}

.P_TEST_NOTE {
    
    float: left;
    overflow: hidden;
    width: 200px;
}

.S_SORT_LEFT_H  {
    margin-left:135px
}

.S_SORT_LEFT_K  {
    margin-left:275px
}

.S_SORT_LEFT_A  {
    margin-left: 105px;    
}

.S_SORT_TEXT2 {    
    color: #FFD800;
    font-size: 16px;
    font-weight: 500;
    margin-top: -18px;
}

/*

.S_SORT_LEFT_P a:hover + .S_LISTSORT_PRICE  {
    display:inline;
}

.S_SORT_LEFT_H a:hover + .S_LISTSORT_HERSTELLER  {
    display:inline;
}

.S_SORT_LEFT_K a:hover + .S_LISTSORT_KATEGORIE  {
    display:inline;
}

*/


.S_SORT_LEFT_P:hover  .S_LISTSORT_PRICE  {
    display:inline;
}

.S_SORT_LEFT_H:hover  .S_LISTSORT_HERSTELLER  {
    display:inline;
}

.S_SORT_LEFT_K:hover  .S_LISTSORT_KATEGORIE  {
    display:inline;
}

.S_SORT_LEFT_A:hover  .S_LISTSORT_ALTERNATIVE  {
    display:inline;
}

.S_LISTSORT_PRICE {
    margin-left:0px !important;
    display:none;
    margin-top:31px;
}

.S_LISTSORT_HERSTELLER {
    margin-left:0px !important;
    display:none;
    margin-top:31px;
}

.navitop a {
    color:#CB8300;
}


.S_LISTSORT_KATEGORIE {
    margin-left:0px !important;
    display:none;
    margin-top:31px;
}

.S_LISTSORT_ALTERNATIVE {
    margin-left:0px !important;
    display:none;
    margin-top:31px;
    width:220px;
}

.S_LISTSORT_KATEGORIE a, .S_LISTSORT_KATEGORIE a:visited, .S_LISTSORT_KATEGORIE a:active {
    text-decoration:none !important;
}

.S_LISTINBOX {
    padding-left: 5px;
    padding-right: 5px;
}

.P_TESTINBOX {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 10px;    
    text-align:left;
    border-bottom: 1px solid #175B80;
}

.P_TESTINNNER {
    width: 500px;
    text-align:left;
    border-bottom: 1px solid #175B80;
}

.P_TESTINBOX:HOVER {
    background: none repeat scroll 0 0 #0b2b3c;
}

.P_TEST {    
    text-decoration:none;
    height:100px;
}

.P_TEST A, .P_TEST A:visited, .P_TEST A:active{
    color: #175B80;
    text-decoration:none;
}

.P_TESTSBOX {
    font-size: 12px;
    font-weight: 400;    
    color: #175B80;
    float: left;
    margin-left: -270px;
    position: absolute;
    z-index: 99;
    background:#000;
}

.P_TESTINBOX A,.P_TESTINBOX A:visited, .P_TESTINBOX A:active{
    color: #cb8300;
    text-decoration:none;
}

.P_TESTBERICHTE A, .P_TESTBERICHTE A:visited, .P_TESTBERICHTE A:active{
    text-decoration:none;
    color: #175B80;
}

.P_TESTBERICHTE_HEADER {
    width:100%;
    height:20px;
    background-color:#E7E7E7;
    width:204px;
}

.P_TESTBERICHTE_TEXT {
    color:#cb8300 ;
    font-size:11px;
    margin-left:10px;
    text-decoration:underline;
}

.P_TESTECK {
    margin-left:355px;
    height:10px;
    background:url(/image/dreieck.png) no-repeat;
}

.P_TEST_CLOSE {
    float: right;
    margin-right: 10px;
    width: 13px;
}

.S_LISTSORT_FILTERECK {
    margin-left: 30px;
}

.KATNAVI_FILTER_LIST {
    margin-top:-30px;
    margin-left: 2px;
}

.KATNAVI_FILTER_LIST li{
    min-width:Inherit;
}

.KATNAVI_FILTER_OUTER {
    float:left;
    margin-bottom: 7px;
    margin-top: 5px;
}

.KATNAVI_FILTER {
    color:#ffd800;
    padding-right:5px;
}

.KATNAVI_FILTERCLOSE {
    width:24px;
}

.KATNAVI_FILTERCLOSE IMG {
    width:22px;
}

.S_SORT_KATOVER {
    position: absolute;
    z-index: 9;

}

.S_SORT_KATOVER A,.S_SORT_KATOVER A:visited, .S_SORT_KATOVER A:active{
    color:#fff;
    text-decoration:none;
}


/*
--------------------------------------------------------------
NB
--------------------------------------------------------------

*/


.SUCHSCHLITZ
{
  background-color: #134b69;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height:53px;
  padding-top: 12px;
}

.SUCHSCHLITZ.BIG 
{
  height:73px;
}  


.SUCHSCHLITZ .FELD 
{
  float:left;
  height:41px;
}

.SUCHSCHLITZ.BIG .FELD 
{
  float:left;
  height:61px;
}

.SUCHSCHLITZ .INNER 
{
  height: 41px;
  width:870px;
  margin:0 auto;
  background-color: #FFF;
}

.SUCHSCHLITZ.BIG .INNER 
{
  height: 61px;
}



.SUCHSCHLITZ INPUT[type=text], .SUGGEST_DIV
{
  margin-top:6px;
  font-size: 25px;
  font-family: Ubuntu, Arial;
  color: #134b69;
  outline: 0 none;
  border:0;
  width:743px;
  float:left;
  margin-left: 10px;
  background-color: transparent;
} 

.SUCHSCHLITZ.BIG INPUT[type=text], .SUCHSCHLITZ.BIG .SUGGEST_DIV
{
  margin-top:10px;
  font-size: 35px;
}


.SUCHSCHLITZ INPUT[type=button] 
{
  padding:0;
  border:0;
} 

.SUCHSCHLITZ .GO
{
  position:absolute;
  height:42px;
  width: 115px;
  right:15px;
  text-align:center;
  vertical-align:middle;
  font-size:35px;
  color:#FFF;
  font-weight:bold;
  background: #cc8302; /* Old browsers */
  background: -moz-linear-gradient(top, #cc8302 1%, #956000 100%, #956000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#cc8302), color-stop(100%,#956000), color-stop(100%,#956000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cc8302 1%,#956000 100%,#956000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cc8302 1%,#956000 100%,#956000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cc8302 1%,#956000 100%,#956000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cc8302 1%,#956000 100%,#956000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc8302', endColorstr='#956000',GradientType=0 ) dropshadow(color=#000, offx=1, offy=1);; /* IE6-9 */
  text-shadow: 1px 1px 0px #555;
  cursor:pointer;
}

.SUCHSCHLITZ.BIG .GO 
{
  height:61px;
}


.SUCHSCHLITZ .GO input 
{
  margin-top: 13px;
}

.SUCHSCHLITZ.BIG .GO input 
{
  margin-top: 18px;
}

.SUGGEST_DIV
{
  padding-top:1px;
  overflow: hidden;
}
.SUGGEST_DIV, .SUGGEST_R_DIV, .SUGGEST_M_DIV
{
  padding-left: 1px;
  color: #FFFFFF;
}

.SUGGEST_DIV EM
{
  font-style: normal;
  color: #9a9a9a;
}

.SUGGEST
{
  -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px 10px 30px 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 10px 30px 5px;
  z-index: 10;
  left:0px !important;
  margin-top:5px !important;
  width: 450px;
  /*border: 1px solid #404040;*/
  background-color: #000000;
}

.SUCHSCHLITZ.BIG .SUGGEST 
{
  margin-top:9px !important;
}

.SUGGEST_LI_OFF, .SUGGEST LI
{
  border-top: 1px solid #0b2b3c;
  background-color: #000000;
  cursor: pointer;
  cursor: hand;
}

.SUGGEST LI .text
{
  padding: 8px 12px;
  font-size:15px;
  color: #FFFFFF;
  float: left;
}

.SUGGEST LI .foto
{
  display:none;
  float: right;
  width: 36px;
  text-align: center;
  margin-top: 1px;
}
.SUGGEST LI:hover
{
  background-color: #0b2b3c;
}

.SUGGEST_LI_OFF
{
  background-color: #FFFFFF;
}

.SUGGEST_LI_ON
{
  background-color: #0b2b3c !important;
}


.SUGGEST_M_DIV, .SUGGEST_R_DIV
{
  color: #CCCCCC;
  overflow: hidden;
  padding-left: 3px;
  width: 174px;
  height: 13px;
}

.SUGGEST_R_DIV
{
  width: 224px;
}


.SUGGEST_M_DIV EM, .SUGGEST_R_DIV EM
{
  color: #AfAfAf;
  font-style: normal;
  font-weight: normal;
}

.SUGGEST UL
{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.SUGGEST LI:first-child
{
  border-top: none;
}

.START_CONTENT2_PREVBTN {
    left: 30px;
    position: absolute;
    top: 300px;
    width: 12px;
}

.START_CONTENT2_NEXTBTN {
    left: 405px;
    position: absolute;
    top: 300px;
    width: 12px;
}

.P_Go_Btn {
    display: block;
    font-size: 13px;
    background: #134B69;
    text-shadow: 1px 1px 0 #555;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 8px 0 0 0;
}

a.P_Go_Btn, 
a.P_Go_Btn:visited, 
a.P_Go_Btn:active {
    color: #FFFFFF;
    text-decoration: none;
}

.PPLCMNT_GRUNDPREIS {
  text-align: right;
  background-color: #E7E7E7;
  border: 1px solid #E7E7E7;
  padding-right:10px;
}

@-moz-document url-prefix() {
  .PPLCMNT_GRUNDPREIS {
   margin-top: -22px;
    }
}

.H3_TESTS {
    margin-bottom:2px;
}
.H3_PREIS h2 {
color: #FFD800 !important;
font-size: 16px !important;
font-weight: 500 !important;
}



/* Offer Listing section */
.OfferListing{
 padding-left:0;
  margin: 0 15px;
}
.OfferListRow{
  padding-left:15px;
  background-color:#FFFFFF;
  cursor:pointer;
  display: inline-block;
  position: relative;
}
.OfferListRow .backgroundColorPseudoElement{
    position: absolute;
    height: 100%;
    background-color: #E8E6E6;
}
    .OfferListRow.NonSuche .backgroundColorPseudoElement {
        width: 217px;
        left: 653px;
    }
    .OfferListRow.Suche .backgroundColorPseudoElement {    
        width: 164px;
        left: 706px;
    }

.OfferLogoAndStar, .ProductDescriptionInfo,.OfferZumButtonSection,.OfferPriceAndShipping,.OfferListProductImage{
 display:inline-block;
 vertical-align:middle;
}
.OfferLogoAndStar{
 margin-right:15px;
text-align: center;
}
.OfferLogoAndStar .OfferLogo img{
	 max-width:95px;
}
.OfferLogoAndStar .OfferLogo{
    width:95px;
}
.OfferRating {
 color:#175b80;
 font-size:9px;
 margin-top:4px;
			}

.OfferRating IMG{
 margin-left: 2px;
display: inline-block;
 vertical-align: bottom;
}
.OfferRating .RatingCount{
 display:inline-block;
vertical-align: bottom;
}
.OfferRatingSucheAll {
margin-top: 10px;
}
.OfferListProductImage{
margin-right:15px;
width:50px;
height:50px;
}
.OfferListProductImage img{
 max-width:50px;
 max-height:50px;
}
.ProductDescriptionInfo{
width:308px;
 margin-right:1px;
}
.ProductDescriptionInfo.NoImage{
 width:360px;
 margin-right:13px;
}
.ProductDescriptionInfo .ProductDescriptionExtraInfo{
display:inline-block;
 color: #CB8300;
font-size: 12px;
 text-align:left;
 margin-bottom:6px;
margin-right:20px;
}
.ProductDescriptionInfo .ProductDescriptionExtraInfo.InCatalog{
margin-right:10px;
}
.ProductDescriptionInfo.NonSuche{
 width:423px;
margin-right:40px;
}
.ProductDescriptionInfo.NonSuche .ProductMerchant{
 overflow: hidden;
}
.ProductDescriptionInfo .OfferTitle{
 font-size:13px;
 color:#175b80;
 overflow:hidden;
 margin-bottom:5px;
margin-top:5px;
}
.ProductDescriptionInfo .OfferTitle.NonSuche{
  font-size:16px;
}
.ProductDescriptionInfo .DeliveryText{
    color: #175B80;
     font-size: 12px;
	font-weight: 400;
	text-align: left;
   text-decoration: none;
}
.ProductDescriptionInfo .DeliveryText.Suche{
	 margin-bottom:6px;
}
.ProductDescriptionInfo .OfferDescription{
	text-align: left;
	 margin-top:6px;
	margin-bottom:6px;
	font-size:12px;
	color:#175B80;
	 overflow: hidden;
}
.OfferPriceAndShipping.NonSuche{
	 width:207px;
}

.OfferPriceAndShipping .OfferPrice,.OfferPriceAndShipping .OfferPriceSign{
	 display:inline-block;
	 float:right;
}
.OfferPriceAndShipping .OfferPriceSign{
	color: #CB8300;
	float: right;
	 font-size: 19px;
	 margin-left: 5px;
	 margin-top: 8px;
}

.OfferPriceAndShipping .OfferPrice {
	color: #CB8300;
   font-size: 35px;
   margin-top: -6px;
   -webkit-text-shadow: 1px 1px 0px #ffffff;
   text-shadow: 1px 1px 0px #ffffff;
}
.OfferPriceAndShipping .OfferBasePrice,.OfferPriceAndShipping .OfferShipping{
	 margin-top:2px;
	 font-size:12PX;
	text-align:right;
}
.NonSuche .OfferPriceAndShipping .OfferPriceSign{
	 font-size: 21px;
	margin-top:-2px;
}
.NonSuche .OfferPriceAndShipping .OfferPrice{
	 font-size: 26px;
}

.OfferZumButtonSection {    
      position: relative;
      z-index: 1;
}
.OfferZumButtonSection.Suche{
	 width: 164px;
}
.OfferZumButtonSection.NonSuche {
	  width: 217px;
}
.OfferZumButtonSection .OfferZumButtonSectionTriangle, .OfferZumButtonSection .OfferZumButtonSectionTriangle {
	width: 0;
    height: 0;
	display: inline-block;
   vertical-align: middle;
}
.OfferZumButtonSection.Suche .OfferZumButtonSectionTriangle{
	 border-top: 37px solid #E8E6E6;
	 border-bottom: 38px solid #E8E6E6;
	border-left: 18px solid White;
}
.OfferZumButtonSection.Suche .OfferZumButtonSectionTriangle.Medium{
   border-top: 41px solid #E8E6E6;
   border-bottom: 40px solid #E8E6E6;
}
.OfferZumButtonSection.NonSuche .OfferZumButtonSectionTriangle{
	border-left: 27px solid White;
}
.OfferZumButtonSection.NonSuche .OfferZumButtonSectionTriangle.Smaller{
	 border-top: 42px solid #E8E6E6;
	border-bottom: 43px solid #E8E6E6;
}
.OfferZumButtonSection.NonSuche .OfferZumButtonSectionTriangle.Medium{
	 border-top: 49px solid #E8E6E6;
	border-bottom: 49px solid #E8E6E6;
}
.OfferZumButtonSection.NonSuche .OfferZumButtonSectionTriangle.Larger{
	  border-top: 58px solid #E8E6E6;
	border-bottom: 59px solid #E8E6E6;
}
.OfferZumButtonSection .OfferZumButtonSectionInner {
	 display: inline-block;
	vertical-align: middle;
	 margin-left: 15px;
	text-align: right;
}
.OfferZumButtonSection.NonSuche .OfferZumButtonSectionInner{
	 margin-left: 0;
     width: 180px;
     margin-right: 10px;
}

.OfferZumButtonSection.NonSuche .OfferZumButtonSectionInner.ShippingNotFree{
	 margin-left: 0;
}
.OfferZumButtonSection.NonSuche .ZumShopButton{
	 margin-top:4px;
}
/* End of Offer Listing section*/

.clearboth {
    clear: both;
}
/*
.SUGGEST_DIV, .SEARCH INPUT[type=text]
{
  background-color: #FFFFFF;
  border: 0px;
  line-height: normal;
  height: 15px;
  width: 208px;
  margin: 0px; 
}



*/