/* DFP */
#dfpAd_SkyScraper {
    position: absolute; /*width:160px;     height:600px;*/
    left: 948px;
    top: -69px;
}

.WP #dfpAd_SkyScraper {
    left: 964px;
}

    .WP #dfpAd_SkyScraper.HOMEPAGEAD {
        top: -114px;
    }

.NOWP #dfpAd_SkyScraper {
    left: 930px;
    top: 76px;
}

.NOWP #dfpAd_BigSize {
    height: 90px;
    width: 1187px;
    margin-bottom: 20px;
}

.WP #dfpAd_BigSize {
    position: absolute;
    height: 90px;
    top: -159px;
    left: -29px;
}

    .WP #dfpAd_BigSize.HOMEPAGEAD {
        top: -204px;
    }

#dfpAd_SkyScraper.HOMEPAGEAD {
    top: 0px;
}


/* ENDE DFP */


.WP {
    height: 100%; /* DFP padding-top:90px; */
    padding-top: 90px;
}

    .WP .GLOBALPAGE {
        /*    padding:20px 20px 7px 20px; */
        margin: 0px;
        border: 1px solid #5E5E5E; /*    margin: 0px 0px 15px 0px; */
        width: 1026px;
    }

.WPCE {
    width: 994px;
    margin: 0px auto;
}

    .WPCE .GLOBALPAGE {
        border: 1px solid #000;
        margin: 0px auto;
    }


HTML {
    -webkit-text-size-adjust: none;
}

BODY {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-color: #FFF;
    /*background-color: #175b80;*/
    font-size: 12px;
    color: #404040;
    font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
}

.GLOBALPAGE {
    margin: 0px auto;
    background-color: #175B80;
}

    .GLOBALPAGE > .HEAD .LOGO {
        position: relative;
    }

        .GLOBALPAGE > .HEAD .LOGO .IMG a {
            width: 118px;
            height: 54px;
            display: block;
            background-image: url(/image/psm_logo_small2.png);
        }


    .GLOBALPAGE > .HEAD.BIG .LOGO .IMG {
        top: 3px;
    }

        .GLOBALPAGE > .HEAD.BIG .LOGO .IMG a {
            background-image: url(/image/psm_logo.png);
            width: 159px;
            height: 76px;
        }

.LOGO .IMG {
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 15px;
}

.LOGO .SHINE {
    position: absolute;
    top: 3px;
    background-image: url("/image/psm_logo_shine.png");
    width: 546px;
    height: 425px;
    left: -180px;
}

.GLOBALPAGE > .HEAD {
    background-color: #000;
    height: 41px;
    margin-bottom: 27px;
}

    .GLOBALPAGE > .HEAD.BIG {
        margin-bottom: 72px;
    }


    .GLOBALPAGE > .HEAD > .HEADCONT {
        height: 41px;
        width: 900px;
        margin: 0 auto;
    }

        .GLOBALPAGE > .HEAD > .HEADCONT img {
            float: left;
            margin-left: 12px;
        }

    .GLOBALPAGE > .HEAD .HEADNAV {
        padding-top: 10px;
        z-index: 100;
    }

.CONTENT {
    width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

    .CONTENT > .CENTER {
        width: 900px;
        position: relative;
    }



.HEADNAV {
    float: right;
}

    .HEADNAV .NAV {
        color: #FFF;
        float: left;
        margin: 0px 9px 0px 9px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.1em;
        position: relative;
        height: 41px;
    }

        .HEADNAV .NAV:hover .NAVC {
            display: block;
        }


    .HEADNAV .NAVB {
        position: relative;
        background: #FFD800;
        border-bottom: 1px solid #FFD800;
        margin-top: 3px;
    }

        .HEADNAV .NAVB:after, .HEADNAV .NAVB:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .HEADNAV .NAVB:after {
            border-color: rgba(23, 91, 128, 0);
            border-top-color: #FFD800;
            border-width: 1px;
            left: 50%;
            margin-left: -1px;
        }

        .HEADNAV .NAVB:before {
            border-color: rgba(23, 91, 128, 0);
            border-top-color: #FFD800;
            border-width: 6px;
            left: 50%;
            margin-left: -6px;
        }




    .HEADNAV .NAV A, .HEADNAV .NAV A:active, .HEADNAV .NAV A:visited {
        color: #FFF;
        text-decoration: none;
    }




        .HEADNAV .NAV A:hover {
            text-decoration: none;
        }

    .HEADNAV .NAVC {
        position: absolute;
        background-color: #000;
        z-index: 99;
        top: 29px;
        display: none;
        -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px 0px 30px 5px;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 0px 30px 5px;
    }


.NAVC li:hover {
    background-color: #0b2b3c;
}



.HEADNAV .NAVC ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

    .HEADNAV .NAVC ul li {
        vertical-align: middle;
        text-align: center;
        height: 22px;
        --padding-bottom: 2px;
        --padding-top: 9px;
        border-bottom: 1px solid #134B69;
        font-size: 12px;
        font-weight: 500;
        white-space: nowrap;
        height: 34px;
    }





.HEADNAV .NAV .NAVC A {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    vertical-align: middle;
}

    .HEADNAV .NAV .NAVC A div {
        height: 34px;
        width: 100%;
        padding-top: 9px;
    }

@-moz-document url-prefix() {
    .HEADNAV .NAV .NAVC A div {
        padding-top: 9px;
    }
}


@-moz-document url-prefix() {
    .HEADNAV .NAVC ul li {
        vertical-align: middle;
        padding-bottom: 2px;
        height: 32px;
    }
}


.HEADNAV .NAVC ul li:last-child {
    border-bottom: none;
}



.NAVIROW A.nohover, .NAVIROW A.nohover:hover {
    color: #FFD800 !important;
}


.NAVIROW {
    background-color: #134b69;
    color: #ffd800;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 13px;
    font-weight: 500;
    font-size: 16px;
}


    .NAVIROW h1, .NAVIROW h2, .NAVIROW h3 {
        font-size: 16px;
    }

    .NAVIROW a, .NAVIROW div {
        float: left;
    }

    .NAVIROW .PF {
        background-image: url(/image/navi_pf_r.png);
        width: 7px;
        height: 9px;
        margin: 6px 6px 6px 11px;
    }

    .NAVIROW .L {
        position: absolute;
        height: 1px;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }

    .NAVIROW A {
        color: #ffd800;
        text-decoration: none;
        font-weight: bold;
        font-weight: 500;
        font-size: 16px;
    }

        .NAVIROW A:hover {
            text-decoration: none;
        }


.CONTENTOUTER {
    background-color: #134B69;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 12px;
}

.CONTENTINNER {
    background-color: White;
    color: #175B80;
    padding: 15px;
    font-size: 15px;
    line-height: 150%;
}

    .CONTENTINNER a, .CONTENTINNER a:visited, .CONTENTINNER a:active {
        color: #CB8300;
    }


.START_CONTAINER {
    margin-top: 45px;
    height: 351px;
}


.START_CONTENT1 {
    background-image: url(/image/erklaerung.png);
    width: 450px;
    height: 351px;
    float: left;
}

.START_CONTENT1_2 {
    width: 430px;
    height: 301px;
    float: left;
    background: #fff;
    margin-top: 13px;
    box-shadow: 0 0 45px #000;
    margin-left: 20px;
}

.START_HAENDLER {
    float: left;
    width: 120px;
    margin-left: 18px;
    margin-top: 25px;
    box-shadow: 0 0 7px lightgrey;
}

.START_CONTENT_HEADLINE {
    color: #134b69;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    height: 15px;
    margin-top: 5px;
}

.START_CONTENT1_START {
    background-image: url(/image/erklaerung_start.png);
    width: 450px;
    height: 351px;
    float: left;
    margin-top: -8px;
}

.START_CONTENT2 {
    background-image: url(/image/top_produkt.png);
    width: 450px;
    height: 342px;
    float: left;
    position: relative;
}

.START_CONTENT3 {
    clear: both;
}

.SUBBOX_HEAD {
    margin-top: 15px;
    width: 900px;
    height: 5px;
    background-color: #134b69;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 25px;
    color: white;
    font-weight: 500;
}

.START_BODY_H {
    margin-top: 55px;
    width: 900px;
    height: 45px;
    background-color: #134b69;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 25px;
    color: white;
    font-weight: 500;
    white-space: nowrap;
}

    .START_BODY_H H1 {
        font-size: 25px;
        font-weight: 500;
    }

.START_BODY_H1 {
    padding-top: 8px;
    padding-left: 10px;
    float: left;
}

.START_BODY_H2 {
    float: right;
    padding-right: 10px;
    padding-top: 13px;
    font-size: 15px;
    font-weight: 400;
    margin-right: 7px;
    margin-top: 5px;
}


.START_BODY_H span {
    color: #FFD800;
}

.START_BODY_B {
    background-color: #175B80;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 5px solid #134b69;
    border-bottom: 5px solid #134b69;
    border-right: 5px solid #134b69;
    color: #FFF;
    font-weight: 400;
    font-size: 15px;
}

    .START_BODY_B a {
        color: #FFF;
    }




    .START_BODY_B strong {
        font-weight: 400;
    }

    .START_BODY_B h2 {
        color: #FFF;
        font-weight: 400;
        font-size: 15px;
    }


.SUBBOX_H {
    width: 890px;
    height: 30px;
}

.SUBBOX_H_ELEM {
    float: left;
    padding-left: 25px;
    padding-top: 15px;
}


.SUBBOX_H_ELEM_SUB {
    position: relative;
    background: #FFF;
    border-bottom: 1px solid #FFF;
    margin-top: 3px;
}

.AKT .SUBBOX_H_ELEM_SUB {
    position: relative;
    background: #175B80;
    border-bottom: 1px solid #FFD800;
    margin-top: 3px;
}


    .AKT .SUBBOX_H_ELEM_SUB:after, .AKT .SUBBOX_H_ELEM_SUB:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .AKT .SUBBOX_H_ELEM_SUB:after {
        border-color: rgba(23, 91, 128, 0);
        border-top-color: #FFD800;
        border-width: 1px;
        left: 50%;
        margin-left: -1px;
    }

    .AKT .SUBBOX_H_ELEM_SUB:before {
        border-color: rgba(23, 91, 128, 0);
        border-top-color: #FFD800;
        border-width: 6px;
        left: 50%;
        margin-left: -6px;
    }

.START_BODY_B .AKT h2 {
    color: #FFD800;
}

.SUBBOX_C_END, .SUBBOX_H_END {
    clear: both;
}

.SUBBOX_C {
    margin: 25px 25px 50px 25px;
}

.SUBBOX_C_ELEM {
    display: none;
}

    .SUBBOX_C_ELEM.AKT {
        clear: both;
        display: block;
        padding-top: 10px;
    }

.ALLEPREISE {
    background-color: #134B69;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 5px solid #134B69;
    border-bottom: 5px solid #134B69;
    border-right: 5px solid #134B69;
    padding: 5px;
    width: 875px;
}


.GLOBALPAGE > .FOOTER {
    margin-top: 20px;
    font-size: 15px;
    clear: both;
    background-color: #000;
    padding-top: 20px;
    text-align: center;
    color: #FFF;
    padding: 5px;
}

    .GLOBALPAGE > .FOOTER A, .GLOBALPAGE > .FOOTER A:active, .GLOBALPAGE > .FOOTER A:visited {
        color: #FFF;
        text-decoration: none;
        margin-right: -2px;
        vertical-align: middle;
    }

        .GLOBALPAGE > .FOOTER A:hover {
            color: #FFFFFF;
            background-color: #000000;
            text-decoration: none;
        }

.FOOTER .SITELINKS, .FOOTER .SITELINKS A, .FOOTER .SITELINKS A:active, .FOOTER .SITELINKS A:visited {
    font-size: 9px;
    color: #404040;
    text-decoration: none;
}

    .FOOTER .SITELINKS A:hover {
        color: #000000;
        text-decoration: none;
        background-color: transparent;
    }

.FOOTER img {
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: middle;
}
.FOOTER .SocialLink {
    width : 20px;
    height :20px;
    margin-right:3px;
}
.SocialLinks {
  display: inline-block;
  margin-left: 15px;
}
.SocialLinks a{
    display:inline-block;
}
.FOOTER > span {
    vertical-align: middle;
}

.START_CONTENT2 a.nohover {
    color: #134b69 !important;
}

.START_CONTENT2 .START_CONTENT2_KAT a.nohover {
    color: #CB8300 !important;
}


.START_CONTENT2 .START_CONTENT2_BTN a {
    display: block;
    position: absolute;
    top: 254px;
    right: 37px;
    width: 151px;
    height: 36px;
    background-image: url("/image/top_produkt_btn.png");
}

.START_CONTENT2 .START_CONTENT2_BTN a:hover {
    background-image: url("/image/top_produkt_over_btn.png");
}

.START_CONTENT2_PROD {
    font-size: 20px;
    font-weight: 500;
    color: #175b80;
    position: absolute;
    top: 75px;
    right: 40px;
}

.START_CONTENT2_PROD span {
    display: none;
}

.START_CONTENT2_KAT {
    font-size: 12px;
    font-weight: 500;
    color: #cb8300;
    position: absolute;
    top: 100px;
    right: 40px;
}

.START_CONTENT2_PRICE {
    position: absolute;
    top: 123px;
    right: 40px;
    color: #175b80;
    font-size: 35px;
    font-weight: 500;
    z-index: 1;
}

.START_CONTENT2_PRICE sub {
    vertical-align: middle;
    font-size: 25px;
}

.START_CONTENT2_ERSPAR {
    position: absolute;
    top: 175px;
    right: 15px;
    color: #175b80;
    font-size: 35px;
    font-weight: 500;
}

    .START_CONTENT2_ERSPAR div {
        font-size: 16px;
    }

.START_CONTENT2_IMG {
    position: absolute;
    left: 33px;
    top: 116px;
    width: 180px;
    height: 180px;
    text-align: center;
}

.START_CONTENT2_IMG .VCENTER3 {
    float: none;
}

.START_CONTENT2_ROTATEBTN {
    margin-left: 206px;
    margin-top: 295px;
    width: 75px;
}

.SUBBOX_C_ELEM li {
    list-style-type: none;
}

.SUBBOX_C_ELEM .KATNAVI_KATLIST li {
    float: left;
    width: 380px;
}

.NWMEIN a {
    color: #FFD800;
}

.NWMEIN .TEXT {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    margin-top: 33px;
}

.NWMEIN li {
    border: none;
}

.NWMEIN li .KATNAVI_INBOX {
}

.SUBBOX_C .KATNAVI_INBOX {
    overflow: hidden;
    max-width: 300px;
    white-space: nowrap;
}

.VCENTER1 {
    display: table;
    #position: relative;
    overflow: hidden;
}

.VCENTER2 {
    #position: absolute;
    #top: 50%;
    display: table-cell;
    vertical-align: middle;
}

.VCENTER3 {
    float: left;
    #position: relative;
    #top: -50%;
}


.AFS_ADD, .AFC_ADD {
    background-color: #134B69;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
}

.NWMEIN li a, .NWMEIN li a:visited, .NWMEIN li a:active {
    color: #FFD800;
}

.TEXT_SMALL.TR, .TEXT_SMALL.TR a, .TEXT_SMALL.TR a:visited, .TEXT_SMALL.GR, .TEXT_SMALL.GR a, .TEXT_SMALL.GR a:visited {
    font-size: 15px;
    color: #FFD800;
}

.NOPROD {
    font-size: 13px;
    color: #175B80;
    background-color: #FFF;
    width: 900px;
    border: 10px solid #134B69;
}

.NOPROD a, .NOPROD a:visited, .NOPROD a:active {
    color: #CB8300;
}


.NOTHINGFOUND_BOX {
    background-color: #FFF;
    border: 15px solid #134B69;
    color: #175B80;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    height: 254px;
}

.NOTHINGFOUND_HEAD {
    font-size: 25px;
    font-weight: 500;
}

.NOTHINGFOUND_TXT {
    margin-top: 25px;
    font-weight: 500;
}

    .NOTHINGFOUND_TXT ul {
        font-weight: 400;
    }

.NOTHINGFOUND_IMG {
    background-image: url(/image/lupe.png);
    position: absolute;
    width: 221px;
    height: 274px;
    right: 30px;
    top: 11px;
}

.PALARM1 {
    height: 400px;
}

.PALARM1, .PALARM2 {
    background-color: #FFF;
    margin: 45px 15px 15px 15px;
    position: relative;
    padding: 15px;
}

.PALARM1_IMG {
    background-image: url(/image/glocke.png);
    width: 296px;
    height: 368px;
    position: absolute;
    right: 20px;
    top: 11px;
}

.PALARM1_HEAD {
    color: #CB8300;
    font-size: 25px;
    font-weight: 500;
}

.PALARM1_SUBHEAD, .PALARM2_HEAD {
    color: #CB8300;
    font-size: 20px;
    font-weight: 500;
}

.PALARM_TXT {
    color: #175B80;
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
    line-height: 150%;
}

.PALARM1_BODY, .PALARM2_BODY {
    width: 450px;
}

.PALARM_NEW {
    margin-top: 25px;
    padding: 15px;
    font-size: 15px;
    width: 300px;
}

.PALARM_NEW_HEAD {
    font-weight: 500;
    margin-bottom: 15px;
}

.PALARM2_BODY {
    position: absolute;
    right: 11px;
}

.PALARM_NEW_LEFT {
    color: #CB8300;
    text-align: right;
    width: 47px;
    float: left;
}

.PALARM_NEW_RIGHT, .PALARM_NEW_BTN {
    float: right;
}

.PALARM_NEW_BTN {
    margin-top: 15px;
}

.PALARM_NEW_CLEAR {
    clear: both;
}

.FRM_MEINUNG {
    position: relative;
}

.FRM_MEINUNG_IMG {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 275px;
    height: 193px;
    background-image: url(/image/bubbles.png);
}

.FRM_MEINUNG .HEAD2, .OUTER_BEWERTUNG .HEAD2 {
    background-color: #E7E7E7;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 15px 10px 15px;
}

.FRM_MEINUNG td b {
    color: #CB8300;
    text-align: right;
}

.FRM_MEINUNG input[type=image] {
    margin-left: 80px;
}

.FRM_MEINUNG form {
    padding: 35px;
}

.OLDNEWS {
    color: #FFD800;
}

.BEWERTUNGINFO {
    font-size: 17px;
    font-weight: 400;
    line-height: 100%;
}

    .BEWERTUNGINFO .TEXT_SMALL {
        font-size: 13px;
        font-weight: 400;
        line-height: 150%;
    }

.SUBBOX_H_ELEM_CONTENT {
    cursor: pointer;
}



.SUBBOX_BODY A.nohover:hover, .NWMEIN li a:hover {
    color: #FFF !important;
    background-color: transparent !important;
    text-decoration: none !important;
}



.NWMEIN .TEXT_SMALL, .NWMEIN .TEXT_SMALL a, .NWMEIN .TEXT_SMALL a:visited {
    font-size: 15px;
}

.TRENDSUBHEAD {
    color: #FFD800;
    font-size: 15px;
    font-weight: 500;
}


.TRENDSUB .KATALOG_LAST {
    background-position: 0px -21px;
}

.TRENDSUBBTN {
    margin-left: 30px;
    margin-top: 20px;
}


.TRENDSUBIMG {
    margin-left: 50px;
    margin-top: 1px;
}



.SearchDisclaimer{
    padding: 0px 15px 10px;
    clear: both;
    font-size: 12px;
}

.SearchDisclaimer, 
.SearchDisclaimer a{
    color: #cb8300;
}

.selectBoxHeader {
    cursor: pointer;
}