body
{
    min-width:900px;
}

a:focus {
    outline: none;
}

H1, H2, H3 {
    display: inline;
    font-weight: normal;
    margin: 0px;
    font-size: 12px;
}

H1 {
    font-weight: 500;
    font-size: 16px;
}

HR {
    border: 0px;
    height: 1px;
    color: #DEDEDE;
    background-color: #DEDEDE;
    margin: 20px 0px;
}
/*
A, A:active, A:visited
{
  color: #404040;
  text-decoration: none;
}
A:hover
{
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
}
*/



IMG {
    border: 0px;
}

FORM {
    margin: 0px;
}

INPUT[type=text], TEXTAREA {
    font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0px;
    
}
/*
.CENTER INPUT[type=text], .CENTER TEXTAREA
{
  border: #909090 1px solid;
}
*/
/*
INPUT[type=text]:focus, TEXTAREA:focus
{
  background-color: #eeeeee;
}*/
INPUT[type=submit], INPUT[type=button] {
    color: #404040;
    font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    background: url(/image/table_head_bg.gif) #ebbc00 repeat-x;
    padding: 1px 8px;
    border: #404040 1px solid;
}

SELECT {
    font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
}

    INPUT.ERROR, SELECT.ERROR, TEXTAREA.ERROR {
        border: #DD1F0F 2px solid !important;
    }

.TEXT_SMALL, .TEXT_SMALL A, .TEXT_SMALL A:visited {
    font-size: 9px;
}

    .TEXT_SMALL A:hover {
        font-size: 9px;
    }

.DATUM_TEXT {
    padding-left: 4px;
    font-size: 9px;
    color: #707070;
}

.REGILEISTE {
    width: 100%;
    height: 23px;
    border-bottom: 1px solid #2B2B2B;
    margin-bottom: 10px;
}

    .REGILEISTE .LINE {
        width: 100%;
        height: 22px;
        border-bottom: 1px solid #C7C7C7;
    }

.REGI1 {
    margin: 0px auto;
    width: 580px;
    height: 22px;
}

    .REGI1 DIV {
        height: 22px;
    }

    .REGI1 > DIV {
        float: left;
    }

    .REGI1 .KT {
        z-index: 1;
        position: relative;
        /*margin: 0px 0px 0px 3px;*/
        margin: 0px 0px 0px 1px;
    }

        .REGI1 .KT:first-child {
            margin-left: 0px;
        }

        .REGI1 .KT DIV {
            float: left;
        }

        .REGI1 .KT .L {
            /*background: url(/image/reg1_b_l.png) 0px 0px no-repeat;*/
            position: absolute;
            width: 5px;
            left: 0px;
        }

        .REGI1 .KT .R {
            /*background: url(/image/reg1_b_r.png) 0px 0px no-repeat #FFFFFF;*/
            position: absolute;
            width: 5px;
            right: 0px;
        }

        .REGI1 .KT .T {
            /*background: url(/image/reg1_b_m.png) 0px 0px repeat-x;*/
            font-size: 12px;
            font-weight: 700;
            color: #000000;
            margin: 0px 5px 0px 5px;
            padding: 7px 4px 0px 4px;
            text-align: center;
            white-space: nowrap;
        }

        .REGI1 .KT:hover .L {
            color: #ffcc00;
        }
        /* background: url(/image/reg1_o_l.png) 0px 0px no-repeat; */
        .REGI1 .KT:hover .R {
            color: #ffcc00;
        }
        /* background: url(/image/reg1_o_r.png) 0px 0px no-repeat; */
        .REGI1 .KT:hover .T {
            color: #ffcc00;
        }
    /* background: url(/image/reg1_o_m.png) 0px 0px repeat-x; */
    .REGI1 .AKT, .REGI1 .AKT:hover {
        z-index: 2;
    }

        .REGI1 .AKT .L, .REGI1 .AKT:hover .L {
            background: url(/image/reg1_o_l.png) 0px 0px no-repeat;
        }

        .REGI1 .AKT .R, .REGI1 .AKT:hover .R {
            background: url(/image/reg1_o_r.png) 0px 0px no-repeat #FFFFFF;
        }

        .REGI1 .AKT .T, .REGI1 .AKT:hover .T {
            background: url(/image/reg1_o_m.png) 0px 0px repeat-x;
        }

    .REGI1 A, .REGI1 A:visited {
        font-weight: bold;
        font-size: 10px;
        color: #FFFFFF;
        font-family: Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
    }

    .REGI1 .AKT A, .REGI1 .AKT A:visited {
        color: #000000;
    }

    .REGI1 A:hover {
        text-decoration: none;
        background-color: transparent;
        color: #ffcc00;
    }

.REGI2 {
}

    .REGI2 DIV {
        height: 18px;
    }

    .REGI2 > DIV {
        float: left;
    }

    .REGI2 .KT {
        z-index: 1;
        position: relative;
        margin: 0px 0px 0px 0px;
    }

        .REGI2 .KT DIV {
            float: left;
        }

        .REGI2 .KT .L {
            background: url(/image/reg2_g_l.gif) 0px 0px no-repeat;
            position: absolute;
            width: 9px;
            left: -5px;
        }

        .REGI2 .KT .R {
            background: url(/image/reg2_g_r.gif) 0px 0px no-repeat;
            position: absolute;
            width: 9px;
            right: -4px;
        }

        .REGI2 .KT .T {
            background: url(/image/reg2_bg.gif) 0px 0px repeat-x;
            font-size: 9px;
            font-weight: 700;
            color: #000000;
            margin: 0px 3px 0px 3px;
            padding: 4px 3px 0px 3px;
            text-align: center;
        }
    /*.REGI2 .KT:hover .L { background: url(/image/reg_wh_l.gif) 0px 1px no-repeat; }
.REGI2 .KT:hover .R { background: url(/image/reg_wh_r.gif) 0px 1px no-repeat; }
.REGI2 .KT:hover .T { background: url(/image/reg_bg_wh.gif) 0px 0px repeat-x; }
.REGI2 .AKT, .REGI2 .AKT:hover { z-index:2; }
.REGI2 .AKT .L, .REGI2 .AKT:hover .L { background: url(/image/reg_w_l.gif) 0px 1px no-repeat; }
.REGI2 .AKT .R, .REGI2 .AKT:hover .R { background: url(/image/reg_w_r.gif) 0px 1px no-repeat; }
.REGI2 .AKT .T, .REGI2 .AKT:hover .T { background: url(/image/reg_bg_w.gif) 0px 0px repeat-x; }*/
    .REGI2 A, .REGI2 A:visited {
        font-weight: 700;
        color: black;
        font-family: Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

        .REGI2 A:hover {
            text-decoration: underline;
            background-color: #ffffff;
        }

.REGI3 {
    margin: 0px 0px 0px 0px;
    width: 630px;
    height: 28px; /*background: url(/image/reg3_bg_line.gif) -3px 0px repeat-x; */
}

    .REGI3 DIV {
        height: 28px;
    }

    .REGI3 > DIV {
        float: left;
    }

    .REGI3 .KT {
        z-index: 1;
        position: relative;
        margin: 0px 5px 0px 0px;
    }

        .REGI3 .KT DIV {
            float: left;
        }

        .REGI3 .KT .L {
            background: url(/image/register_produkt_l.png) 0px 0px no-repeat;
            float: left;
            width: 5px;
        }

        .REGI3 .KT .R {
            background: url(/image/register_produkt_r.png) 0px 0px no-repeat;
            float: left;
            width: 5px;
            right: -5px;
        }

        .REGI3 .KT .T {
            background: url(/image/register_produkt_m.png) 0px 0px repeat-x;
            float: left;
            font-size: 12px;
            color: #000000;
            padding: 0px 5px 0px 2px;
            text-align: center;
        }

    .REGI3 .T .O, .REGI3 .T .U {
        height: auto;
        text-align: center;
        color: #000000;
        float: left;
        margin-left: 2px;
    }

    .REGI3 .T .O {
        padding-top: 8px;
        font-size: 9px;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .REGI3 .AKT .T .O {
        padding-top: 8px;
        font-size: 11px;
    }

    .REGI3 .T .U {
        padding-top: 9px;
        font-family: Ubuntu, Arial, Helvetica, sans-serif;
        color: #909090;
        font-size: 9px;
        font-weight: normal;
        white-space: nowrap;
    }

    .REGI3 .T .O A:hover {
        color: #FFFFFF;
        background-color: #404040;
        text-decoration: underline;
    }

    .REGI3 .AKT .T .O A, .REGI3 .AKT .T .O A:visited {
        color: #000000;
        text-decoration: none;
        font-weight: 700;
    }

        .REGI3 .AKT .T .O A:hover {
            color: #FFFFFF;
            background-color: #404040;
            text-decoration: underline;
        }

.REGI4 {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 50px;
    margin: 10px 0 0 15px;
    width: 870px;
}

    .REGI4 DIV {
        height: 28px;
    }

    .REGI4 > DIV {
        float: left;
    }

    .REGI4 .KT {
        z-index: 1;
        position: relative;
        margin: 0px 5px 0px 0px;
    }

        .REGI4 .KT A, .REGI4 .KT A:visited, .REGI4 .KT A:active {
            color: #175b80;
        }

        .REGI4 .KT DIV {
            float: left;
        }

        .REGI4 .KT .L {
            background: url(/image/register_produkt_l.png) 0px 0px no-repeat;
            float: left;
            width: 5px;
        }

        .REGI4 .KT .R {
            background: url(/image/register_produkt_r.png) 0px 0px no-repeat;
            float: left;
            width: 5px;
            right: -5px;
        }

        .REGI4 .KT .T {
            background: url(/image/register_produkt_m.png) 0px 0px repeat-x;
            float: left;
            font-size: 12px;
            color: #404040;
            padding: 0px 3px 0px 2px;
            text-align: center;
            padding-top: 8px;
            text-transform: uppercase;
        }

    .REGI4 .AKT, .REGI4 .AKT:hover {
        z-index: 2;
        font-weight: 700;
    }

    .REGI4 .T A:hover {
        color: #175b80;
        text-decoration: underline;
    }

    .REGI4 .AKT .T A, .REGI4 .AKT .T A:visited {
        color: #175b80;
        text-decoration: none;
    }

/*
.REGI4 { margin:0px 0px 1px 9px;width: 624px; height: 30px;background: url(/image/reg3_bg_line.gif) 0px 0px repeat-x; }
.REGI4 DIV { height:30px; }
.REGI4>DIV { float:left; }
.REGI4 .KT { z-index:1;position:relative;margin:0px 0px 0px 0px; }
.REGI4 .KT DIV { float:left; }
.REGI4 .KT .L { background: url(/image/reg3_w_l.gif) 0px 0px no-repeat; position:absolute;width:18px; left:-9px; }
.REGI4 .KT .R { background: url(/image/reg3_w_r.gif) 0px 0px no-repeat; position:absolute;width:18px; right:-9px; }
.REGI4 .KT .T { background: url(/image/reg3_bg_w.gif) 0px 0px repeat-x; font-size:9px; font-weight:700; color:#000000; margin:0px 9px 0px 9px; padding:9px 3px 0px 3px; text-align:center;}
.REGI4 .AKT, .REGI4 .AKT:hover { z-index:2; }
.REGI4 .AKT .L, .REGI4 .AKT:hover .L { background: url(/image/reg3_g_l.gif) 0px 0px no-repeat; }
.REGI4 .AKT .R, .REGI4 .AKT:hover .R { background: url(/image/reg3_g_r.gif) 0px 0px no-repeat; }
.REGI4 .AKT .T, .REGI4 .AKT:hover .T { background: url(/image/reg3_bg_g.gif) 0px 0px repeat-x; padding-top:8px;font-size:11px;}
.REGI4 .T A:hover { color:#202020;background-color:#FFCC00;text-decoration:underline; }
.REGI4 .AKT .T A, .REGI4 .AKT .T A:visited { color:#000000;text-decoration:none; }
*/


.ALLEPREISE {
    position: absolute;
    clear: both;
    color: #999999;
    text-align: center;
    bottom: 0px;
    padding-bottom: 5px;
    font-size: 9px;
    width: 630px;
}

.PAGENAVI {
    text-align: center;
    background-color: #134B69;
    height: 40px;
    margin-bottom: 40px;
}

    .PAGENAVI A {
        text-decoration: none;
        white-space: nowrap;
    }

.PAGENUMBER {
    width: 170px;
    color: #ffd800;
    font-size: 12px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -20px;
}

    .PAGENUMBER A, .PAGENUMBER A:visted, .PAGENUMBER a:active {
        text-decoration: none;
    }

.PAGENAVI .PAGEJUMP {
}

.PAGENAVI .PRODCOUNT {
    float: left;
    width: 160px;
}

.PAGENAVI DIV:first-child[class=PRODCOUNT] {
    margin: 0px auto;
    float: none;
    width: 296px;
}

.NEWS_BOX_CONTA {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #CCCCCC;
}

    .NEWS_BOX_CONTA:first-child {
        margin-top: 0px;
        padding-top: 0px;
        border: none;
    }

.NEWS_BOX > .TITLE {
    background: url(/image/newsboxfxb.png) top repeat-x;
    height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 6px;
    font-size: 10px;
}

    .NEWS_BOX > .TITLE .L {
        background: url(/image/newsboxfx.png) -1px 0px no-repeat;
        height: 25px;
        width: 5px;
        float: left;
        position: relative;
        top: -6px;
        margin-right: 2px;
    }

    .NEWS_BOX > .TITLE .R {
        background: url(/image/newsboxfx.png) -6px 0px no-repeat;
        height: 25px;
        width: 5px;
        float: right;
        position: relative;
        top: -6px;
    }

.NEWS_BOX > .CONTENT {
    background-color: #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.NEWS_BOX > .BOTTOM {
    background: url(/image/newsboxfxb.png) 0px -25px repeat-x;
    height: 5px;
}

    .NEWS_BOX > .BOTTOM .L {
        background: url(/image/newsboxfx.png) 0px -25px no-repeat;
        height: 5px;
        width: 6px;
        float: left;
    }

    .NEWS_BOX > .BOTTOM .R {
        background: url(/image/newsboxfx.png) -6px -25px no-repeat;
        height: 5px;
        width: 6px;
        float: right;
    }


/*.BOX { position:relative; }*/
.BOX > .TITLE {
    height: 14px;
    color: #000000;
}

.BOXg > .TITLE {
    height: 15px;
}

.BOXw > .TITLE, .BOXy > .TITLE {
    border-bottom: 1px solid #FFCC00;
}

.BOXg > .TITLE {
    border-bottom: 1px solid #000000;
}

.BOX > .TITLE > .B {
    height: 15px;
    width: 12px;
    background-color: #000000;
    float: left;
}

.BOX > .TITLE > .T {
    height: 13px;
    float: left;
    font-weight: 700;
    background: url(/image/box_top_bg.gif) repeat-x #FFCC00;
    padding: 0px 4px 0px 4px;
}

.BOX > .TITLE > .T {
    border: 1px solid #FFCC00;
}

.BOX > .CONTENT {
    padding: 10px 5px 10px 5px;
    border-top: none;
}

.BOXw > .CONTENT, .BOXy > .CONTENT {
    border: 1px solid #FFCC00;
    border-top: none;
    padding-bottom: 10px;
}

.BOXw > .CONTENT {
    background-color: #FFFFFF;
}

.BOXy > .CONTENT {
    background-color: #fffacd;
}

.BOXw > .BOTTOM, .BOXy > .BOTTOM {
    position: absolute;
    bottom: 1px;
    right: 1px;
    background-color: #CCCCCC;
    width: 10px;
    height: 10px;
}

.BOXg > .CONTENT {
    background-color: #CCCCCC;
    border: 1px solid #000000;
    border-top: none;
}

.BOXg_S > .CONTENT {
    background-color: #EEEEEE;
    border: 1px solid #000000;
}

.BOXw_S > .CONTENT {
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.BOXn > .BOTTOM, .BOXsg > .BOTTOM {
    display: none;
}

.BOXg_S, .BOXw_S {
    margin: 0px auto;
    width: 175px;
    margin-bottom: 20px;
}

    .BOXg_S > .TITLE > .T, .BOXw_S > .TITLE > .T {
        float: none;
        border: 1px solid #000000;
        font-size: 10px;
        padding-left: 14px;
        white-space: nowrap;
    }

    .BOXg_S > .CONTENT, .BOXw_S > .CONTENT {
        padding: 0px 0px 0px 0px;
    }


.GREY_BOX {
    border: solid 1px #175B80;
    font-size: 16px;
    font-weight: 500;
    padding-right: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

    .GREY_BOX > DIV {
        padding: 8px;
    }

    .GREY_BOX .HEAD2 {
        height: 13px;
        font-size: 12px;
        font-weight: bolder;
        padding: 7px 10px;
        position: relative;
        margin: -7px;
        margin-bottom: 0px;
        background: #fff;
    }

        .GREY_BOX .HEAD2 + HR {
            margin: 1px -7px;
            margin-bottom: 8px;
        }

#iDivProdDetail {
    border: 1px solid #5E5E5E;
    background: #fff;
}

    #iDivProdDetail .GREY_BOX {
        margin-bottom: 0px;
    }

        #iDivProdDetail .GREY_BOX > DIV {
            padding: 0px;
        }

        #iDivProdDetail .GREY_BOX .HEAD2 {
            margin: 1px;
            color: #175b80;
            font-weight: 400;
            font-size: 16px;
        }

            #iDivProdDetail .GREY_BOX .HEAD2 + HR {
                margin: 1px;
                margin-bottom: 8px;
            }

.TOPPROD {
    padding-top: 5px;
}

    .TOPPROD .FOTO {
        background-color: #FFFFFF;
        height: 30px;
        padding: 3px;
        border: 1px solid #CCCCCC;
        vertical-align: middle;
        text-align: center;
    }

    .TOPPROD .SPAC {
        padding: 7px 3px 0px 5px;
        vertical-align: top;
    }

    .TOPPROD .TEXT {
        padding: 3px 2px 3px 0px;
        vertical-align: top;
        font-size: 9px;
        overflow: hidden;
    }

        .TOPPROD .TEXT A, .TOPPROD .TEXT A:active, .TOPPROD .TEXT A:visited {
            color: #909090;
        }

            .TOPPROD .TEXT A:hover {
                color: #FFFFFF;
            }

        .TOPPROD .TEXT B {
            color: #404040;
        }

        .TOPPROD .TEXT A:hover B {
            color: #FFFFFF;
        }

    .TOPPROD HR {
        margin: 5px 0px;
    }


.NWMEIN {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .NWMEIN > LI {
        padding: 10px 10px;
        border-top: 1px solid #eeeeee;
    }

    .NWMEIN LI:first-child {
        border-top: none;
    }

    .NWMEIN .TITLE {
        float: left;
        margin-bottom: 5px;
        font-size: 9px;
        font-weight: bold;
    }

    .NWMEIN .FOTO {
        float: right;
        margin-bottom: 5px;
    }

    .NWMEIN .TEXT {
        clear: both;
        color: #909090;
        font-size: 9px;
    }

.ST_PROD {
    padding-left: 5px;
}

    .ST_PROD > UL {
        width: 200px;
        float: left;
    }

.KAT_UL {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-bottom: 12px;
}

    .KAT_UL LI > UL {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        margin-left: 15px;
        padding-top: 3px;
    }

        .KAT_UL LI > UL > LI {
            padding-top: 1px;
        }

.ST_HLOGOS {
    text-align: center;
    margin-top: 5px;
    margin-left: 4px;
}

    .ST_HLOGOS IMG {
    }

    .ST_HLOGOS > DIV {
        float: left;
        margin-right: 2px;
        margin-bottom: 8px;
    }

.HLOGO {
    position: relative;
    height: 40px;
    overflow: hidden;
    margin-left: 15px;
    margin-top: -15px;
}

    .HLOGO IMG {
    }

.TOPPRODBOX {
    width: 600px;
    margin: 0px auto;
}

    .TOPPRODBOX A {
        font-size: 9px;
    }

    .TOPPRODBOX > DIV {
        padding-left: 5px;
        padding-right: 5px;
        width: 140px;
        overflow: hidden;
        height: 160px;
        text-align: center;
        margin-top: 5px;
        float: left;
        border-left: 1px solid #dedede;
    }

        .TOPPRODBOX > DIV:first-child {
            padding-left: 0px;
            border-left: none;
        }

/*
.SEARCHTABLE
{
  border: 1px solid #DEDEDE;
}
*/
.SEARCHTABLE .HEAD > TD {
    border-top: #FFFFFF 1px solid;
    border-bottom: #FFFFFF 1px solid;
    text-align: center;
    height: 13px;
    padding: 7px 2px 7px 2px;
    background-color: #fff;
    font-weight: bold;
}

    .SEARCHTABLE .HEAD > TD > DIV {
        padding: 2px 5px;
    }

    .SEARCHTABLE .HEAD > TD:first-child > DIV {
        padding: 2px 0px;
    }

.SEARCHTABLE .HEAD SELECT {
    font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
    float: right;
    color: #404040;
    background-color: #DEDEDE;
    margin: 0px;
    padding: 0px;
    font-size: 9px;
    letter-spacing: 0px;
    margin-right: 5px;
}

.SEARCHTABLE .LIGHT > TD {
    vertical-align: top;
    padding: 4px;
}

/*
.SEARCHTABLE .LIGHT > TD, .SEARCHTABLE .DARK > TD, .SEARCHTABLE .LINE > TD
{
  border-bottom: #FFFFFF 2px solid;
}
.SEARCHTABLE .LIGHT > TD:first-child, .SEARCHTABLE .DARK > TD:first-child, .SEARCHTABLE .HEAD > TD:first-child
{
  border-left: #FFFFFF 1px solid;
}
/* padding-left:7px; padding-right:7px; */ /*
.SEARCHTABLE .LIGHT > TD, .SEARCHTABLE .DARK > TD, .SEARCHTABLE .HEAD > TD
{
  border-right: 1px solid #FFFFFF;
}
*/
.SEARCHTABLE .TEXT {
    font-size: 9px;
    height: 20px;
}

.SEARCHTABLE .TITLE {
    font-size: 11px;
    display: inline;
}

.SEARCHTABLE .LINE > TD {
    padding: 0px;
    margin: 0px;
    padding-top: 2px;
    background-color: #134B69;
}
/*border-left: #FFFFFF 1px solid;
  border-right: #FFFFFF 1px solid;*/

.SEARCHTABLE .DARK, .SEARCHTABLE .LIGHT .LAST {
    background-color: #FFFFFF;
    padding-top: 5px;
}


.SEARCHTABLE .HEAD + .LINE > TD {
    background-color: #DEDEDE;
    border-left: #FFFFFF 1px solid;
    border-right: #FFFFFF 1px solid;
}

.SEARCHTABLE .BESCH {
    margin-top: 4px;
    font-size: 9px;
    color: #707070;
}

.SEARCHTABLE .MEHR {
    margin-top: 13px;
    font-size: 9px;
}

.SEARCHTABLE .KATNAVI A {
    color: #000000;
    text-decoration: underline;
}

    .SEARCHTABLE .KATNAVI A:hover {
        color: #000000;
        text-decoration: none;
        background-color: #FFCC00;
    }

.SEARCHTABLE .PREIS_BIG {
    font-size: 13px;
}

.SEARCHTABLE .PREIS_BIGGER {
    font-size: 14px;
}


.SEARCHTABLE .VERSO {
    height: 16px;
}

    .SEARCHTABLE .VERSO > div {
        float: left;
    }

        .SEARCHTABLE .VERSO > div:first-child {
            margin-top: 0px;
            width: 47px;
            text-align: center;
            white-space: nowrap;
        }

    .SEARCHTABLE .VERSO .AMPEL {
        float: right;
    }

        .SEARCHTABLE .VERSO .AMPEL > div {
            width: 9px;
            height: 9px;
            background-color: #FFFFFF;
            border: 1px solid #5E5E5E;
            margin: 1px;
            float: left;
        }

            .SEARCHTABLE .VERSO .AMPEL > div[class~=GRY] {
                background-color: #DEDEDE;
            }

        .SEARCHTABLE .VERSO .AMPEL .L[class~=AKT] {
            background-color: #E80300;
        }

        .SEARCHTABLE .VERSO .AMPEL .M[class~=AKT] {
            background-color: #FFF907;
        }

        .SEARCHTABLE .VERSO .AMPEL .R[class~=AKT] {
            background-color: #16C218;
        }

.SEARCHTABLELINES .LIGHT td, .SEARCHTABLELINES .DARK td {
    border-right: 1px solid #FEDC82 !important;
}

    .SEARCHTABLELINES .LIGHT td.LAST, .SEARCHTABLELINES .DARK td.LAST {
        border-right: none !important;
    }

.PROS_FOTO {
    width: 195px;
    height: 185px;
    text-align: center;
    overflow: hidden;
    padding: 5px;
    display: table;
}

    .PROS_FOTO DIV {
        display: table-cell;
        vertical-align: middle;
    }

.PROS_FOTO_ABB {
    text-align: center;
    padding-bottom: 4px;
    width: 180px;
    margin: 0px auto;
}

.PROS_FOTO_VER {
    text-align: center;
    padding-top: 4px;
    width: 180px;
    margin: 0px auto;
}

.PROS_INFO {
}

    .PROS_INFO .TEXT {
        padding: 5px;
        font-size: 11px;
    }


#GLOBAL_BANNER {
    float: left;
    width: 468px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.ULINE, .ULINE:link, .ULINE:active, .ULINE:visited, .ULINE:hover {
    text-decoration: underline;
}

.VERGLEICH_HORI_SCROLL .WINDOW {
    width: 631px;
}


.VERGLEICH_HORI_SCROLL .WINDOWCON {
    /*height:150px;     background-color:#123414;     width:00px;     white-space:nowrap;*/
}

.VERGLEICH_HORI_SCROLL .BARBACK {
    background: #CCCCCC url(/image/horiscroll_bg.png) no-repeat left top;
    width: 631px;
    height: 20px;
    margin-bottom: 8px;
}

.VERGLEICH_HORI_SCROLL .BARSCROLL {
    height: 20px; /*background-color:#ffcc00;*/
}

    .VERGLEICH_HORI_SCROLL .BARSCROLL .r {
        float: right;
        width: 5px;
        height: 20px;
        background: url(/image/horiscroll_fg_r.png) no-repeat;
    }

    .VERGLEICH_HORI_SCROLL .BARSCROLL .l {
        float: left;
        width: 5px;
        height: 20px;
        background: url(/image/horiscroll_fg_l.png) no-repeat;
    }

    .VERGLEICH_HORI_SCROLL .BARSCROLL .m {
        text-align: center;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;
        background: url(/image/horiscroll_fg_m.png) repeat-x;
    }

    .VERGLEICH_HORI_SCROLL .BARSCROLL:hover {
        cursor: pointer;
    }

.USERBAR {
    position: fixed;
    color: #000000;
    bottom: 0px;
    height: 21px;
    width: 100%;
    z-index: 10;
    border-top: 1px solid #FFFFFF;
}

    .USERBAR .CONT {
        margin: 0px auto;
        height: 18px;
        padding-top: 3px;
        padding-left: 3px;
        border-top: 1px solid #000000; /*border-left:1px solid #000000;     border-right:1px solid #000000;*/
        width: 100%;
        background: url(/image/table_head_bg.gif) #ebbc00 repeat-x;
    }

.AJLOADICON {
    cursor: progress !important;
}

    .AJLOADICON:after {
        cursor: progress !important;
        content: "  " url(/image/loadajax.gif) "  ";
        vertical-align: bottom;
    }

.REGI1 .AJLOADICON:after, .REGI2 .AJLOADICON:after, .REGI3 .AJLOADICON:after {
    content: "";
}

.WAITPOINTER {
    cursor: progress !important;
}

.CENTER_HOME HR {
    margin: 7px 0px;
}

.CENTER_HOME .HEAD {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.CENTER_HOME .T {
    font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
    padding-left: 4px;
    padding-bottom: 1px;
    margin-right: 4px;
    text-transform: uppercase;
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
}



/*+TM*/
.SB {
    height: 15px;
    clear: both;
}

    .SB DIV {
        width: 15px;
        height: 15px;
        float: left;
        margin-left: 2px;
    }

    .SB .N1 {
        background: url(/image/topprodbt.png) no-repeat 0px 0px;
    }

    .SB .A1 {
        background: url(/image/topprodbt.png) no-repeat -15px 0px;
    }

    .SB .N2 {
        background: url(/image/topprodbt.png) no-repeat 0px -15px;
    }

    .SB .A2 {
        background: url(/image/topprodbt.png) no-repeat -15px -15px;
    }

    .SB .N3 {
        background: url(/image/topprodbt.png) no-repeat 0px -30px;
    }

    .SB .A3 {
        background: url(/image/topprodbt.png) no-repeat -15px -30px;
    }

    .SB .N4 {
        background: url(/image/topprodbt.png) no-repeat 0px -45px;
    }

    .SB .A4 {
        background: url(/image/topprodbt.png) no-repeat -15px -45px;
    }

    .SB .N5 {
        background: url(/image/topprodbt.png) no-repeat 0px -60px;
    }

    .SB .A5 {
        background: url(/image/topprodbt.png) no-repeat -15px -60px;
    }


.MINIBOXGRP {
    margin: 8px auto;
    width: 152px;
}

.MINIBOX {
    width: 40px;
    height: 42px;
    margin-left: 2px;
    float: left;
    text-align: center;
    background: url(/image/topprodgfx.png) no-repeat;
    display: table;
}

    .MINIBOX DIV {
        display: table-cell;
        vertical-align: middle;
        padding-top: 2px;
    }

.MINIBOXPFR, .MINIBOXPFL {
    width: 8px;
    height: 10px;
    float: left;
    margin-top: 16px;
    cursor: pointer;
}

.MINIBOXPFL {
    background: url(/image/topprodgfx.png) no-repeat 0px -43px;
    margin-right: 2px;
}

.MINIBOXPFR {
    background: url(/image/topprodgfx.png) no-repeat -8px -43px;
    margin-left: 4px;
}

.MIDBOX {
    margin-top: 3px;
    height: 130px;
}

    .MIDBOX .TEXT {
        text-align: center;
        height: 32px;
    }

    .MIDBOX .FOTO {
        border: 0px;
        margin-left: 30px;
        width: 90px;
        vertical-align: middle;
        text-align: center;
        display: table;
    }

        .MIDBOX .FOTO DIV {
            display: table-cell;
            height: 90px;
            vertical-align: middle;
        }

        .MIDBOX .FOTO IMG {
            vertical-align: middle;
        }

.FOOTBOXPFL, .FOOTBOXPFR {
    height: 7px;
    width: 12px;
    cursor: pointer;
}

.FOOTBOXPFL {
    background: url(/image/topprodgfx.png) no-repeat -16px -43px;
    float: left;
}

.FOOTBOXPFR {
    background: url(/image/topprodgfx.png) no-repeat -28px -43px;
    float: right;
}

.kat A, .kat a:visited, .kat a:active {
    text-decoration: none;
    color: #175b80;
}

.DIVOKAT {
    width: 280px;
    margin-left: 100px;
    float: left;
}

    .DIVOKAT A, .DIVOKAT A:visted, .DIVOKAT A:active {
        text-decoration: none;
        color: #175b80;
    }

.GREY_BOX A, .GREY_BOX A:visted, .GREY_BOX A:active {
    text-decoration: none;
    color: #175b80;
}

li a, li a:visited, li a:active {
    text-decoration: none;
    color: #175b80;
}

.ULOKAT, .ULOKAT li {
    list-style-type: none;
    font-size: 16px;
}

    .ULOKAT .GREY_BOX {
        margin-bottom: 15px;
    }

        .ULOKAT .GREY_BOX div {
            padding: 10px;
        }

        .ULOKAT .GREY_BOX .HEAD {
            list-style-type: none;
            border-bottom: 1px solid #EEE;
            padding-bottom: 5px;
            background: none;
            padding-left: 0px;
            color: #175b80;
            font-size: 21px;
        }

            .ULOKAT .GREY_BOX .HEAD A {
                text-transform: none;
                color: #175b80;
            }

    .ULOKAT, .ULOKAT .KAT {
        padding: 0px;
    }

        .ULOKAT .KAT li {
            padding: 0px;
            background: url(/image/pfeilkat.gif) 0px 4px no-repeat;
            padding-left: 8px;
            padding-bottom: 2px;
        }

        .ULOKAT .GREY_BOX .HEAD + li {
            margin-top: 5px;
        }

        .ULOKAT .GREY_BOX .TEXT_SMALL {
            color: #CCCCCC;
        }

.FIVECOINS .CONTENT {
    height: 109px;
    background: url(/image/5coins.png);
}

.HERSTELLER {
    float: right;
    margin-top: -3px;
}

.SKATS {
}

    .SKATS ul {
        padding: 0px;
        padding-left: 5px;
    }

    .SKATS li {
        float: left;
        padding: 0px;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 8px;
        margin-right: 10px;
        padding-bottom: 2px;
        list-style-type: none;
    }


.IMGCENTER {
    display: table;
    text-align: center;
}

    .IMGCENTER > div {
        display: table-cell;
        vertical-align: middle;
    }

/*Muss ans ENDE!!*/

.email > em, .emailHREF > em {
    font-style: normal;
}

    .email > em:first-child:after, .emailHREF > em:first-child:after {
        content: "@";
    }

.email > span {
    unicode-bidi: bidi-override;
    direction: rtl;
}

A.nohover, A.nohover:hover {
    color: #404040 !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.KATNAVI_INBOX h1 {
    font-size: 13px;
    font-weight: 500;
}


.ANZEIGE_FOTO {
 /*   width: 90px;
    text-align: center;
    height: 60px;
    overflow: hidden;
    margin-left: 10px;*/
}

.ANZEIGE_FOTO > IMG
{
    max-width: 65px;
    max-height: 65px;
}

.LNR500_BOX {
    margin-top: 40px;
    float: left;
    margin-left: -130px;
    color: #ffd800;
    font-size: 14px;
    font-weight: 500;
}

.LNR500_BOX_SUCHEALL {
    
    color: #ffd800;
    font-size: 14px;
    font-weight: 500;
    margin-left: 470px;
}

.LNR500_BOX_SUCHEALL img {    
     float: left;
    margin-right: 5px;
}

.LNR500_BOX img {
    float: left;
    margin-right: 5px;
}

.tendSuggestionText {
    margin-left: 18px;
}

/*--------------------------------------------------------------






.headimpressum
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.headimpressum A
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.headimpressum A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.headimpressum B
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.datum
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.menue
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.menue A
{
    FONT-SIZE: 8pt;
    COLOR: #ffcc00;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.menue A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #cccccc;
    TEXT-DECORATION: none
}
.menue B
{
    FONT-SIZE: 8pt;
    COLOR: #ffcc00;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.menuekat
{
    FONT-SIZE: 8pt;
    COLOR: #707070;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.menuekat A
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.menuekat A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
.menuekat B
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navikaufen
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navitop
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.navitop A
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.navitop A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    BACKGROUND-COLOR: #ffcc00;
    TEXT-DECORATION: none
}
.navitop B
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.ntl
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffcc00;
    TEXT-DECORATION: none
}
.navitopline
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffcc00;
    TEXT-DECORATION: none
}
.ntl H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffcc00;
    MARGIN: 0px,0px,0px,4px
}
.navitopline H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffcc00;
    MARGIN: 0px,0px,0px,4px
}
.suchefrontend
{
    FONT-SIZE: 8pt;
    COLOR: #ffcc00;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.suchefrontend INPUT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    MARGIN: 0px;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navigationtabellen
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navigationtabellen B
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navigationtabellen A
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navigationtabellen A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #404040;
    TEXT-DECORATION: none
}
.headtabellen
{
	background-image: url(../bilder/reg_background27.gif);
	background-repeat: repeat-x;
	background-position: top;
	BACKGROUND-COLOR: #ebbc00;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 3px;
    COLOR: #000000;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.headtabellen H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    MARGIN: 0px,0px,0px,4px
}
.headtabellen INPUT
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.banner
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffcc00
}
.suchfeldinlay
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffcc00
}
.suchfeldinlay INPUT
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.suchfeldsuche
{
    FONT-SIZE: 7pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
.suchfelderweitert
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: medium none;
    COLOR: #404040;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.suchfelderweitert A
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.suchfelderweitert A:visited
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.suchfelderweitert INPUT
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.news
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffcc00
}
.news INPUT
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.newssmall
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newssmall B
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsfliesstext
{
    FONT-SIZE: 7pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsfliesstext B
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.newsfliesstext A
{
    FONT-SIZE: 7pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.newsfliesstext A:hover
{
    FONT-SIZE: 7pt;
    COLOR: #000000;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.filterleft
{
    FONT-SIZE: 7pt;
    COLOR: #707070;
    BACKGROUND-COLOR: #eeeeee;
    FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif
}
.filterleft B
{
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
    COLOR: #707070;
    FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.filterleft A B
{
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.filterleft A
{
    FONT-SIZE: 7pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.filterleft A:hover
{
    FONT-SIZE: 7pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #404040;
    TEXT-DECORATION: none
}
.filterleft A:hover B
{
    FONT-SIZE: 7pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #404040;
    TEXT-DECORATION: none
}
.filterleftTop B
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inlaytabellen
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inlaytabellen A
{
    COLOR: #404040;
    TEXT-DECORATION: none
}
.inlaytabellen A:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #404040;
    TEXT-DECORATION: none
}
.inlaytabellenohneHover
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inlaytabellenohneHover A
{
    COLOR: #404040;
    TEXT-DECORATION: none
}
.inlaytabellengrey
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #fffacd
}
.inlaytabellengrey A
{
    COLOR: #404040;
    TEXT-DECORATION: none
}
.inlaytabellengrey A:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #404040;
    TEXT-DECORATION: none
}
.inlaytabellengreyohneHover
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #fffacd
}
.inlaytabellengreyohneHover A
{
    COLOR: #404040;
    TEXT-DECORATION: none
}
.inlaytabellenmehr
{
    FONT-SIZE: 7pt;
    COLOR: #000000;
    BACKGROUND-COLOR: #ffcc00;
    TEXT-DECORATION: none
}
.pstabkat
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.pstabkatgray
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #fffacd
}
.contenthead
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #000000
}
.contenthead A
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #000000
}
.contenthead A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #000000
}
.contenthead A:visited
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #000000
}
.content
{
    FONT-SIZE: 8pt;
    COLOR: #535353;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.contenttext
{
    FONT-SIZE: 7pt
}
.content B
{
    FONT-SIZE: 8pt;
    COLOR: #535353;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.content A
{
    FONT-SIZE: 8pt;
    COLOR: #535353;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.content A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #535353;
    TEXT-DECORATION: none
}
.contentgray
{
    FONT-SIZE: 8pt;
    COLOR: #535353;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc
}
.contentgray A
{
    FONT-SIZE: 8pt;
    COLOR: #535353;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc
}
.contentgray B
{
    FONT-SIZE: 8pt;
    COLOR: #535353;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc
}
.contentgray A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #535353;
    TEXT-DECORATION: none
}
.deaktiv
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.deaktiv A
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.deaktiv A:hover
{
    COLOR: #545454;
    BACKGROUND-COLOR: #ffcc00;
    TEXT-DECORATION: none
}
.startseitebig
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    COLOR: #ffcc00;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.startseitesmall
{
    FONT-SIZE: 10pt;
    COLOR: #545454;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.textbanner
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textbanner A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textbanner A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.banner
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.banner A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.banner A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.katalogbutton
{
    FONT-SIZE: 8pt;
    COLOR: #cccccc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc
}
.popup
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.popup A
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.popup A:visited
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.popuperstezeile
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc
}
.popuperstezeile A
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc
}
.popuperstezeile A:visited
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc
}
.popupzweitezeile
{
    FONT-SIZE: 8pt;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffcc00
}
.smallfont
{
    FONT-SIZE: 7pt
}
.smallfontdatum
{
    FONT-SIZE: 7pt;
    COLOR: #707070;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.nav_reg_border
{
    BACKGROUND-COLOR: #4D3D00
}
.nav_reg_shadow
{
    BACKGROUND-COLOR: #DAAE00
}
.nav_shadow
{
    BACKGROUND-COLOR: #a88e26
}
.nav_shadowright
{
    BACKGROUND-COLOR: #FFD83A
}
.nav_black
{
    BACKGROUND-COLOR: #000000
}
.nav_dunkelgrau
{
    BACKGROUND-COLOR: #505050
}
.nav_yellow
{
    BACKGROUND-COLOR: #ffcc00;
  	 white-space:nowrap    
}
.nav_white
{
    BACKGROUND-COLOR: #ffffff;
    white-space:nowrap    
}
.nohover_big A
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.nohover_big A:hover
{
    TEXT-DECORATION: underline;
    BACKGROUND-COLOR: #ffffff
}
.nohover_big A:visited
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.nohover_small_delete
{
	BACKGROUND-COLOR: #ffcc00
}
.nohover_small A
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 7pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.nohover_small A:hover
{
    TEXT-DECORATION: underline;
    BACKGROUND-COLOR: #ffffff
}
.nohover_small A:visited
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 7pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.nohover_small2 A
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.nohover_small2 A:visited
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.nohover_small2 A:hover
{
    TEXT-DECORATION: underline;
    BACKGROUND-COLOR: #ffcc00
}
.nohover_small2w A
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 7pt;
    COLOR: #202020;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.nohover_small2w A:visited
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 7pt;
    COLOR: #202020;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.nohover_small2w A:hover
{
    TEXT-DECORATION: underline;
    COLOR: #000000;    
    BACKGROUND-COLOR: #ffcc00
}
.nohover_small_r2
{
   FONT-SIZE: 7pt;
   COLOR: #909090;
   FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.nohover_pv3 A
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.nohover_pv3 A:visited
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.nohover_pv3 A:hover
{
    TEXT-DECORATION: underline;
    BACKGROUND-COLOR: #ffcc00
}

.nohover_nochange
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.nohover_nochange A
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
td.inlaytabellen .nohover_nochange A:hover
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #000000;
}
td.inlaytabellengrey .nohover_nochange A:hover
{
    BACKGROUND-COLOR: #fffacd;
    COLOR: #000000;
}
.nohover_nochange A:visited
{
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.sortierung
{
    FONT-SIZE: 7pt;
    COLOR: #404040;
    BACKGROUND-COLOR: #ffcc00;
    letter-spacing: 0
}
.livemeinungen_text 
{
	background-color: #ffffff;
	color: #909090;
	font-size: 7pt;
	font-weight: normal;
}
.livemeinungen_text a,
.livemeinungen_text a:link,
.livemeinungen_text a:active,
.livemeinungen_text a:visited
{
	background-color: #ffffff;
	color: #909090;
	font-size: 7pt;
	font-weight: normal;
	border-bottom: dotted 1px #cccccc
}
.livemeinungen_text a:hover
{
	background-color: #ffffff;
	color: #909090;
	font-size: 7pt;
	font-weight: normal;
}		
.livemeinungen_head
{
	background-color: #ffffff;
	color: #404040;
	font-size: 7pt;
	font-weight: bold;
}
.livemeinungen_head a,
.livemeinungen_head a:link,
.livemeinungen_head a:active,
.livemeinungen_head a:visited
{
	background-color: #ffffff;
	color: #404040;
	font-size: 7pt;
	font-weight: bold;
}
.livemeinungen_head a:hover
{
	background-color: #404040;
	color: #ffffff;
	font-size: 7pt;
	font-weight: bold;
}	
.livemeinungen_footer
{
	background-color: #ffffff;
	color: #404040;
	font-size: 7pt;
	font-weight: normal;
}
.livemeinungen_footer a,
.livemeinungen_footer a:link,
.livemeinungen_footer a:active,
.livemeinungen_footer a:visited
{
	background-color: #ffffff;
	color: #404040;
	font-size: 7pt;
	font-weight: normal;
}
.livemeinungen_footer a:hover
{
	background-color: #404040;
	color: #ffffff;
	font-size: 7pt;
	font-weight: normal;
}	

*/
