@media print {
  .bigtext { height: auto !important; }

  section#content {
    width: 100% !important;
  }

  .equal-heights-column-inner {
    border: 0 !important;
  }

  .hide {
    display: block !important;
  }

  a[href]:after {
    content: none !important;
  }

  aside#secondary,
  header#top-bar,
  footer#footer,
  nav#breadcrumb,
  div#main-nav-container,
  div#ad-lead,
  .share-and-comments,
  .social-media-preferences,
  .container.editors-pick-info-bar,
  .globalheader_container,
  .expand,
  .contract,
  .OUTBRAIN,
  div#disqus_thread,
  section.block.breaking-news.no-bottom-border {
    display: none !important;
  }
}