/* 
 * Responsive classes
 */
.desktop-only {
  display: none;
}
.mobile-only {
  display: block;
}

/* 
 * Global 
 */
.container {
  width: 100%;
}
aside#primary {
  clear: both;
}
.aside-inner {
  max-width: none!important;
}
/* 
 *
 * Homepage 
 *
 */
/* 
 * News section columns
 * NOTE: Initial news section (desktop only option) is ignored
 * thus we start with the second section as the initial left 
 */
.news-sections {
  clear: both;
  width: 100%;
}
.news-section {
  width: 48%;
}
.news-section:nth-child(even) {
  clear: both;
  float: left;
  margin-right: 4%;
}
.news-section:nth-child(odd) {
  float: right;
}
.news-section:nth-child(odd) .block-title {
  left: 0!important;
}
.news-section.breaking-news .block-title {
  background: #9ea7b3;
}
/*
 * email alerts 
 */
.top-news .email-alerts {
  display: block;
}
.mobile-newsletter {
  margin-top: -60px;
}

/*
 *
 * TOP NEWS
 *
 */
.equal-heights-column-inner {
  border-right: none!important;
}
#content .container-inner section {
  overflow: hidden;
  width: 50%;
  border: 1px solid black;
}
.top-news .block-title.ribbon {
  display: block;
  max-width: 250px;
  left: -16px;
}
.top-news .lead-story {
  max-width: none!important;
  width: 48%!important;
}
section#content section article.lead-story {
  margin-left: 0;
  float: left;
  border-bottom: none;
  margin-right: 4%;
}
#content .lead-story ~ article {
  margin-left: 52%;
  overflow: hidden;
}
#content .top-news article .article-headline {
  font-size: 14px
}

/*
 * ASIDE
 */
aside .email-alerts {
  display: none;
}
aside#primary, aside#secondary {
  margin-bottom: 40px;
}

.shareaholic-canvas, .ob-widget, .ob_what {
  clear: none!important;
}
