#login-fb {
	font-size:1.1em;
}

#login-fb h1 a {
        text-decoration: none;
        color:#3b5998;
      }
#login-fb h1 a:hover {
        text-decoration: underline;
      }

#login-fb a { text-decoration: none; }
#login-fb  a:hover { text-decoration: underline; }

#login-fb #profile { margin-bottom:6px; padding:0 0px 5px 0px; border-bottom:#CCC solid 0px; }
#login-fb #profile img { width:13px; float:left; border:#c5c5c5 solid 1px; padding:1px; margin-right:5px; }
#login-fb  #profile a { color:#3b5998; font-weight:bold; font-size:14px; }

#login-fb #feeds { clear:both; font-size:1em; }
#login-fb #feeds a { color:#3b5998; }
#login-fb #feeds img { width:35px; float:left; margin:0px 8px 8px 0px; padding:1px; border:#c5c5c5 solid 1px; }
#login-fb  #feeds img.picture { width:20px; }
#login-fb .feeditem { margin-bottom:4px; }

#login-fb  #fb_login_bar { float:right;  }
#login-fb #fb_login_bar img { border:0; height:20px; }
#login-fb #fb_login_bar p { font-size: 1em; }
#login-fb #fb_login_bar a { color:#3b5998; }

#login-fb h2 { font-size:14px; color:b00; }
#login-fb a#logout { color:#3b5998; font-size:1em; }

#login-fb #fbNav a {font-size: 1em;color:#3b5998; padding-bottom:5px}

.fb-inbox {  font-size:12px;  overflow:hidden; padding:10px; width:276px !important;}

#login-fb .message { margin-bottom:8px; }
#login-fb .description { margin-top:4px; color:#777; }

#login-fb .pager { border-top:#c5c5c5 solid 0px; padding-right:10px; text-align:right; }
#login-fb .pager a {  }

#login-fb p.info, #login-fb .itseasy { font-size:12px !important; line-height:14px; padding:5px; }
#login-fb .itseasy { text-align:right; font-weight:bold; padding-bottom:10px; }