/*
	zoznam formuláre	v0.4	31.3. 2011
	forms.css
*/
label, input[type='text'], input[type='password'], select{
	width:115px;
	height:26px;
	line-height:26px;
	border:1px solid #9a9a9a;
	background:url('../img/input_bg.gif') left top no-repeat;
	padding:0 10px 0 10px;
	margin-top:5px;
}
select{
	padding-top:6px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:6px;
	height:29px;
}
label{
	border:0;
	background:none;
	padding:0;
	line-height:1em;
}

#login-form fieldset{
	padding:0 5px;
}
#login-form div{
	width:50%;
	float:left;
}
input[type='submit'], .button, input[type='button']{
	height:29px;
	margin-top:5px;
	padding:0 1em 0 1em;
	color:#000000;
	font-size:1.33em;
	border:1px solid #cccccc;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#cccccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc');
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
	background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
	background-image: -o-linear-gradient(top, #ffffff, #cccccc);
}
.checkbox{line-height:18px; width:198px !important;}
.buttonDiv{width:80px !important;}
.buttonDiv input:hover { cursor:pointer; }
.checkbox input{
	display:inline;
	margin-left:0 !important;
	margin-right:1px !important;
}
.checkbox label{
	display:inline;
	font-size:0.92em;
}
.link{line-height:30px;}
.link.rightText{text-align:right;}
.link.rightText a{margin-right:8px;}

#kariera fieldset{
	padding:0 10px 10px 10px;
}
#kariera label{
	display:inline-block;
	width:28%;
}
#kariera input.button{
	margin-left:29%;
}


#infoText { position:absolute; width:500px; padding:10px; top:80px; right:0px; background:#FFF; border:#b00 solid 1px; }
#infoText a { color:#b00; }

#help_podmienky {}
#help_podmienky:hover { cursor:pointer; }