/*
	zoznam titulka	v0.8	06. 05. 2011
	layout.css

*/
html, body {
	font-size: 12px;
	font-family: 'Arial', Helvetica, Garuda, sans-serif;
	text-align: center;
	color: #000000;
}

.clear{clear:both;}
span.clear{display:block; clear:both;}
.left{float:left;}
.right{float:right;}

a:link, a:visited{color:#cb0000; text-decoration:none;}
a:hover, a:active, a:focus{color:#000000; text-decoration:underline;}

h1 a{
	display:block;
	width:259px;
	height:138px;
	padding-top:0px;
	float:left;
	overflow:hidden;
  background:url('../img/logo-zoznam.png') left bottom no-repeat;
	text-indent:-9999px;
}

#main{
	width:970px;
	margin:0 auto;
	text-align:left;
	position:relative;
	z-index:2;
}
#whiteBG{
	padding:0px 0px 10px 10px;
	margin-bottom:10px;
	background:#ffffff;
	width:960px;
	clear:both;
}

/* header */
#main #header{
	width:950px;
	height:150px;
	position:relative;
}
#main #header #datum{
	font-size:0.916em;
	height:48px;
	line-height:58px;
	float:left;
}
/* end header */

#tip{height:30px;line-height:1.66em;}
#tip a{white-space:nowrap;}
#header, #tip{padding:0 10px 0 10px;}
#tip p.left { display:block; width:65%; overflow:hidden; }
#tip p.right { display:block; width:35%; overflow:hidden; }

/* služby */
#sluzby{
	width:128px;
	padding-bottom:5px;
	margin-bottom:10px;
	float:left;
	border:1px solid #d2d2d2;
	border-top:0;
	background:#eeeeee;
	filter:progid:DXImageTransform.Microsoft.Gradient(enabled='true', GradientType=0, StartColorStr='#ffffff', EndColorStr='#eeeeee');
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);
	background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
}
#sluzby header{
	width:100%;
	height:37px;
	padding-bottom:5px;
	color:#ffffff;
	background:url('../img/titulka_ico.gif') center -11px no-repeat;
}
#sluzby header h2{
	display:block;
	height:32px;
	line-height:32px;
	text-align:center;
	font-size:1.166em;
	font-weight:normal;
	position:relative;
	background:#787878;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#787878');
	background: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#787878));
	background: -moz-linear-gradient(top,  #969696,  #787878);
	background-image: -o-linear-gradient(top, #969696, #787878);
}
#sluzby header h2 a{
	display:inline-block;
	position:absolute;
	left:8px;
	top:8px;
	width:16px;
	height:15px;
	background:url('../img/titulka_ico.gif') center -8px no-repeat;
	text-indent:-9999px;
}
#sluzby header h2 a:focus{
	outline:none !important;
}
#tipy,
#rajknih,
#iPark { clear: both; padding-top: 20px; }

#tipy section,
#rajknih section,
#iPark section { padding-top: 10px; text-align: center; }

#tipy section p, #rajknih section p { margin-bottom: 10px; }

#rajknih img { display: block; width: 80px; margin: 0 auto; }

/* end služby */

#content{
	float:left;
	width:510px;
	margin:0 5px 0 5px;
	line-height:1.25;
}

/* sparavodajstvo, magazíny, zabava */
#spravodajstvo, .magazines_mix, #magazines_mix, #zabava {
	clear:both;
	margin-bottom:0;
}
#spravodajstvo .imgHolder { position:relative; width:90px; height:90px; }

.magaziny-top .clanky .post, #magaziny-top .clanky .post, #magaziny-autoviny .clanky .post,
#magaziny-byvanie .clanky .post, #magaziny-vysetrenie .clanky .post, #magaziny-kariera .clanky .post,
#magaziny-cestovanie .clanky .post, #magaziny-openiazoch .clanky .post,
#magaziny-hudba .clanky .post, #magaziny-plnielanu .clanky .post, #magaziny-podkapotou .clanky .post,
#zabava-top .clanky .post, #zabava-video .clanky .post, #zabava-hry .clanky .post { min-height:72px; max-height: 92px; }

#vtip{display:block !important;}
#vtip section p {width:340px;}
#kariera section select{width:195px;}

.tabs section{position:relative;}
.tabs section{
	display:none;
	clear:both;
}
.tabs section.current {display:block;}
.tabs section h2{display:none;}

.tabs nav{
	height:37px;
	margin-bottom:10px;
	background:url('../img/tab_bg.png') left top no-repeat;
}
.tabs nav ul li{
	list-style-type:none;
	float:left;
	cursor: pointer;
	height:37px;
	line-height:2.5em;
	white-space:nowrap;
	float:left;
}
.tabs nav ul li.current{
	background:url('../img/titulka_ico.gif') center -41px no-repeat;
}

.tabs nav ul li a{
	display:inline-block;
	height:32px;
	padding:0 1.0em 0 1.10em;
	text-decoration:none;
	color:#000000;
}
.tabs nav ul li a:hover{
	color:#cb0000;
}
.magazines_mix nav ul li a, #magazines_mix nav ul li a{padding:0 0.55em 0 0.55em;}

.tabs ul li.current a{
	color:#ffffff;
	border:0;
	line-height:2.5em;
	background:#bd0000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d40000', endColorstr='#bd0000');
	background: -webkit-gradient(linear, left top, left bottom, from(#d40000), to(#bd0000));
	background: -moz-linear-gradient(top,  #d40000,  #bd0000);
	background-image: -o-linear-gradient(top, #d40000, #bd0000);
}
.tabs ul li.current a:hover{
	color:#ffffff;
}

.tabs section .clanky .post{
	width:250px;
	float:left;
	margin-bottom:23px;
	min-height:96px;
}


.clanky .post ul{margin-top:6px;}
.clanky .post li{
	list-style-type:none;
	margin-bottom:5px;
	margin-right:10px;
	line-height:1.1em;
}
#spravodajstvo-top .clanky .post li,
#spravodajstvo-domace .clanky .post li,
#spravodajstvo-zahranicne .clanky .post li,
#spravodajstvo-prominenti .clanky .post li,
#spravodajstvo-sport .clanky .post li,
#spravodajstvo-feminity .clanky .post li,
#spravodajstvo-ekonomika .clanky .post li
{
	height:40px;
	overflow:hidden;
}

#zabava-top .clanky .post li.top,
#zabava-video .clanky .post li.top,
#zabava-hry .clanky .post li.top{
	height:80px;
	overflow:hidden;
}
#zabava-top .clanky .post li.top br.marginBottom,
#zabava-video .clanky .post li.top br.marginBottom,
#zabava-hry .clanky .post li.top br.marginBottom{
	margin-bottom:5px;
}


/* šipočky v topky článkoch */

.clanky .post li.top {
	overflow: visible !important; /*schovavalo diakritiku na velkych pismenach*/
}
.clanky .post li.druhy{margin-bottom:0;}
.clanky .post li.druhy a:link, .clanky .post li.druhy a:visited {
	color:#000000;
}
.clanky .post li.top a{
	text-decoration:none;
}
.clanky .post li.prvy{font-weight:bold;}
.clanky .post li.prvy a:hover {
	color:#cb0000;
}
.clanky .post li.top b{font-weight:bold;}
.clanky .post li.no-top a:link,
.clanky .post li.no-top a:visited{
	text-decoration:none;
	/*color:#000000;*/
}
.clanky .post li.top a span.dot{
	display:inline-block;
	width:11px;
	height:10px;
	background:url('../img/titulka_ico.gif') center -431px no-repeat;
	vertical-align:middle;
	margin-right:5px;
	margin-top:-3px;

}
.clanky .post li.no-top a span.dot{
	display:inline-block;
	width:11px;
	height:10px;
	background:url('../img/titulka_ico.gif') center -461px no-repeat;
	vertical-align:middle;
	margin-right:5px;
	margin-top:-3px;
}
/* end šipočky v topky článkoch */

.imgHolder{
	display:inline-block;
	border:1px solid #c0c0c0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position:relative;
	margin-right:10px;
}


.imgHolder a{
	display:block;
	width:80px;
	height:80px;
	overflow:hidden;
	margin:5px;
	top:0;
}


a.yesdis { display:block; opacity:1.0; }
a.nodis { display:none; opacity:0.0; }

.imgHolder img{
	/*margin:6px 6px 1px 6px;*/
	margin:-10px 0 0 -10px;
}
.imgHolder .video{
	position:absolute;
	top:6px;
	right:6px;
	display:block;
	width:12px;
	height:12px;
	overflow:hidden;
	background:url('../img/titulka_ico.gif') center -129px no-repeat;
}
.clanky .post .imgHolder{float:left; margin-right:8px;}

#spravodajstvo-top .imgHolder a, #spravodajstvo-domace .imgHolder a,
#spravodajstvo-zahranicne .imgHolder a, #spravodajstvo-prominenti .imgHolder a,
#spravodajstvo-sport .imgHolder a, #spravodajstvo-feminity .imgHolder a, #spravodajstvo-ekonomika .imgHolder a
{

	position:absolute;

}
#spravodajstvo-top .imgHolder a img, #spravodajstvo-domace .imgHolder a img,
#spravodajstvo-zahranicne .imgHolder a img, #spravodajstvo-prominenti .imgHolder a img,
#spravodajstvo-sport .imgHolder a img, #spravodajstvo-feminity .imgHolder a img, #spravodajstvo-ekonomika .imgHolder a img
{
	margin:-10px 0 0 -10px;
}



/* end sparavodajstvo */

/* katalóg */

.tabs nav ul li.abc a{
	padding:0 0.45em 0 0.45em;
}
.katalog{
	line-height:1.33em;
	margin:0 0.6em;
}
.katalog .left{
	width:48%;
	float:left;
	margin-right:1em;
}
.katalog .right{
	width:48%;
	float:right;
}
.katalog .kat{margin-bottom:3px;}
.katalog .kat p a:link, .katalog .kat p a:visited{
	color:#000000;
}
.katalog .kat p a:hover, .katalog .kat p a:active{
	color:#cb0000;
}
.katalog .kataloLinks{
	clear:both;
	text-align:right;
	margin-top:1em;
	margin-bottom:1em;
}

/* end katalóg */

/* buttons */

#buttons{
	width:100%;
	clear:both;
	margin-top:-3	px;
	margin-bottom:20px;
}
#buttons a{
	display:inline-block;
	width:121px;
	height:32px;
	float:left;
	padding-top:10px;
	padding-left:49px;
	text-decoration:none;
	font-weight:bold;
	white-space:nowrap;
	background:url('../img/titulka_ico.gif') -28px -180px no-repeat;
}
#buttons a span{
	display:block;
	color:#888888;
	font-size:0.91em;
	font-weight:normal;
}

/* end buttons */

/* box0 */

.box0{
	width:500px;
	clear:both;
	border-top:1px solid #bfbfbf;
	padding:10px 5px 10px 5px;
	position:relative;
	margin-bottom:20px;
}
.box0 h2{display:none;}

.hlasovanie{
	position:absolute;
	top:10px;
	right:0;
}
.hlasovanie .super, .hlasovanie .bad{
	display:inline-block;
	float:left;
	height:38px;
}
.hlasovanie .super{
	width:98px;
	background:url('../img/titulka_ico.gif') center -240px no-repeat;
	color:#000000;
	text-decoration:none;
	text-indent:37px;
	line-height:38px;
}
.hlasovanie .bad{
	width:48px;
	background:url('../img/titulka_ico.gif') center -300px no-repeat;
	text-indent:-9999px;
}
.hlasovanie.disabled .super{background:url('../img/titulka_ico.gif') center -480px no-repeat; color:#a4a4a4;}
.hlasovanie.disabled .bad{background:url('../img/titulka_ico.gif') center -540px no-repeat;}

/* end box0 */

/* box */

.box{
	width:100%;
	clear:both;
}
.box header{
	height:37px;
	background:url('../img/titulka_ico.gif') center -12px no-repeat;
	position:relative;
}
.box h2{
	height:32px;
	line-height:32px;
	text-align:center;
	font-size:1.166em;
	font-weight:normal;
	color:#ffffff;
	position:relative;
	background:#787878;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#787878');
	background: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#787878));
	background: -moz-linear-gradient(top,  #969696,  #787878);
	background-image: -o-linear-gradient(top, #969696, #787878);
}
.box h2 a:link, .box h2 a:visited{color:#ffffff;}
.box .clanky{margin:5px 0;}
.box .clanky .post{
	width:170px;
	float:left;
}

header span.posun, span.posun {
	position:absolute;
	display:none;
	width:25px;
	height:32px;
	z-index:23;
	background:url('../img/titulka_ico.gif') center -749px no-repeat;
}

.magazines_mix nav span.posun,
#katalog nav span.posun,
#magazines_mix nav span.posun,
#zabava nav span.posun{
	right:0;
}

#boxes{
	margin-bottom:10px;
	background:#eeeeee;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);
	background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
}
#boxes .box section{
	border:1px solid #d2d2d2;
	border-top:0;
	margin-top:-10px;
	padding-top:10px;
}
#boxes .box section .elements{
	border:1px solid #ffffff;
	border-top:0;
}

a.uprav{
	position:absolute;
	top:0;
	right:10px;
	display:block;
	height:32px;
	line-height:33px;
	color:#ffffff;
	text-decoration:none;
}

.pocasie .title, .program .title{
	position:relative;
	height:32px;
}
.pocasie .title h3{
	font-size:1.16em;
	color:#00930a;
	float:left;
	width:50%;
	margin:5px 0 0 8px;
	line-height:31px;
}
.title a.button{
	display:inline-block;
	padding:0 0.5em;
	margin-right:4px;
	line-height:30px;
	float:left;
	font-size:1em;
	color:#2472c2;
	text-decoration:none;
	text-align:center;
	white-space:nowrap;
}
.pocasie .title a.button{
	width:45px;
}
.program .title{padding-left:6px;}
.program .title a.button{
	width:70px;
}
.title a.button:hover{
	color:#000000;
}
.title a.button.active{
	border:1px solid #919191;
	background:url('../img/input_bg.gif') left top no-repeat !important;
	filter:none!important;
}

#adTopBox300x300,
#adTopBox300x300_2,
#inhouse_300x300 { margin-bottom:10px; }

.pocasie .elements, .horoskop .elements,
.program .elements, .kurzy .elements{
	padding:15px 10px 10px 10px;
}

.pocasie p.post, .kurzy p.post{
	width:50%;
	float:left;
	margin-bottom:20px;
}
.pocasie p.post{
	line-height:1.2;
	height:40px;
}
.pocasie p.post img.right{margin-right:15px;}
.horoskop p{line-height:1.25;}
.horoskop h3{margin-bottom:5px;}
.horoskop h3 span{font-weight:normal;}
.horoskop .znamenia{
	width:100%;
	margin-bottom:20px;
}
.horoskop .znamenia a{
	display:inline-block;
	width:43px;
	height:43px;
	float:left;
	margin:0 3px 3px 0;
	text-indent:-9999px;
	outline:0!important;
}
.horoskop .znamenia a.baran{background:url('../img/horoskopy_ico.gif') left top no-repeat;}
.horoskop .znamenia a.byk{background:url('../img/horoskopy_ico.gif') -47px top no-repeat;}
.horoskop .znamenia a.blizenci{background:url('../img/horoskopy_ico.gif') -94px top no-repeat;}
.horoskop .znamenia a.rak{background:url('../img/horoskopy_ico.gif') -141px top no-repeat;}
.horoskop .znamenia a.lev{background:url('../img/horoskopy_ico.gif') -188px top no-repeat;}
.horoskop .znamenia a.panna{background:url('../img/horoskopy_ico.gif') -235px top no-repeat;}
.horoskop .znamenia a.vahy{background:url('../img/horoskopy_ico.gif') left -47px no-repeat;}
.horoskop .znamenia a.skorpion{background:url('../img/horoskopy_ico.gif') -47px -47px no-repeat;}
.horoskop .znamenia a.strelec{background:url('../img/horoskopy_ico.gif') -94px -47px no-repeat;}
.horoskop .znamenia a.kozorozec{background:url('../img/horoskopy_ico.gif') -141px -47px no-repeat;}
.horoskop .znamenia a.vodnar{background:url('../img/horoskopy_ico.gif') -188px -47px no-repeat;}
.horoskop .znamenia a.ryby{background:url('../img/horoskopy_ico.gif') -235px -47px no-repeat;}

.horoskop .znamenia a.baran:hover, .horoskop .znamenia a.baran.active{background:url('../img/horoskopy_ico.gif') left -94px no-repeat;}
.horoskop .znamenia a.byk:hover, .horoskop .znamenia a.byk.active{background:url('../img/horoskopy_ico.gif') -47px -94px no-repeat;}
.horoskop .znamenia a.blizenci:hover, .horoskop .znamenia a.blizenci.active{background:url('../img/horoskopy_ico.gif') -94px -94px no-repeat;}
.horoskop .znamenia a.rak:hover, .horoskop .znamenia a.rak.active{background:url('../img/horoskopy_ico.gif') -141px -94px no-repeat;}
.horoskop .znamenia a.lev:hover, .horoskop .znamenia a.lev.active{background:url('../img/horoskopy_ico.gif') -188px -94px no-repeat;}
.horoskop .znamenia a.panna:hover, .horoskop .znamenia a.panna.active{background:url('../img/horoskopy_ico.gif') -235px -94px no-repeat;}
.horoskop .znamenia a.vahy:hover, .horoskop .znamenia a.vahy.active{background:url('../img/horoskopy_ico.gif') left -141px no-repeat;}
.horoskop .znamenia a.skorpion:hover, .horoskop .znamenia a.skorpion.active{background:url('../img/horoskopy_ico.gif') -47px -141px no-repeat;}
.horoskop .znamenia a.strelec:hover, .horoskop .znamenia a.strelec.active{background:url('../img/horoskopy_ico.gif') -94px -141px no-repeat;}
.horoskop .znamenia a.kozorozec:hover, .horoskop .znamenia a.kozorozec.active{background:url('../img/horoskopy_ico.gif') -141px -141px no-repeat;}
.horoskop .znamenia a.vodnar:hover, .horoskop .znamenia a.vodnar.active{background:url('../img/horoskopy_ico.gif') -188px -141px no-repeat;}
.horoskop .znamenia a.ryby:hover, .horoskop .znamenia a.ryby.active{background:url('../img/horoskopy_ico.gif') -235px -141px no-repeat;}

.horoskop #horoskopCont{
	min-height:170px;
}

.program .elements h3{
	width:39px;
	height:39px;
	margin-right:10px;
	text-indent:-9999px;
	float:left;
}
.program .stanica {margin:10px 0 10px 0;}

.program .stanica h3.tvp1{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -312px no-repeat;}
.program .stanica h3.tvp2{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -273px no-repeat;}
.program .stanica h3.tvp3{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -312px no-repeat;}
.program .stanica h3.tvp4{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -273px no-repeat;}
.program .stanica h3.tvp5{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -117px no-repeat;}
.program .stanica h3.tvp6{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -273px no-repeat;}
.program .stanica h3.tvp7{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -273px no-repeat;}
.program .stanica h3.tvp8{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -273px no-repeat;}
.program .stanica h3.tvp9{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -78px no-repeat;}
.program .stanica h3.tvp10{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -273px no-repeat;}
.program .stanica h3.tvp11{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0px -312px no-repeat;}
.program .stanica h3.tvp12{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -195px no-repeat;}
.program .stanica h3.tvp13{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -156px no-repeat;}
.program .stanica h3.tvp14{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -156px no-repeat;}
.program .stanica h3.tvp15{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -312px no-repeat;}
.program .stanica h3.tvp17{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -194px no-repeat;}
.program .stanica h3.tvp18{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px 0 no-repeat;}
.program .stanica h3.tvp22{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -273px no-repeat;}
.program .stanica h3.tvp23{background:url('../img/tvprogram_ico.gif?rev=2013112701') -0px -351px no-repeat;}
.program .stanica h3.tvp24{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -312px no-repeat;}
.program .stanica h3.tvp28{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -156px no-repeat;}
.program .stanica h3.tvp29{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -234px no-repeat;}
.program .stanica h3.tvp30{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -39px no-repeat;}
.program .stanica h3.tvp35{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -194px no-repeat;}
.program .stanica h3.tvp37{background:url('../img/tvprogram_ico.gif?rev=2013112701') -0px -0px no-repeat;}
.program .stanica h3.tvp38{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -195px no-repeat;}
.program .stanica h3.tvp39{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -390px no-repeat;}
.program .stanica h3.tvp40{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -234px no-repeat;}
.program .stanica h3.tvp42{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -117px no-repeat;}
.program .stanica h3.tvp43{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -234px no-repeat;}
.program .stanica h3.tvp44{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -195px no-repeat;}
.program .stanica h3.tvp45{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -195px no-repeat;}
.program .stanica h3.tvp47{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -351px no-repeat;}
.program .stanica h3.tvp49{background:url('../img/tvprogram_ico.gif?rev=2013112701') -159px 0 no-repeat;}
.program .stanica h3.tvp50{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -234px no-repeat;}
.program .stanica h3.tvp53{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -117px no-repeat;}
.program .stanica h3.tvp54{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -78px no-repeat;}
.program .stanica h3.tvp56{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -0px no-repeat;}
.program .stanica h3.tvp57{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px 0 no-repeat;}
.program .stanica h3.tvp59{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -156px no-repeat;}
.program .stanica h3.tvp60{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -78px no-repeat;}
.program .stanica h3.tvp61{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -429px no-repeat;}
.program .stanica h3.tvp63{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -234px no-repeat;}
.program .stanica h3.tvp66{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -390px no-repeat;}
.program .stanica h3.tvp71{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -117px no-repeat;}
.program .stanica h3.tvp82{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -234px no-repeat;}
.program .stanica h3.tvp86{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -273px no-repeat;}
.program .stanica h3.tvp88{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -78px no-repeat;}
.program .stanica h3.tvp90{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -312px no-repeat;}
.program .stanica h3.tvp91{background:url('../img/tvprogram_ico.gif?rev=2013112701') -400px -400px no-repeat;}
.program .stanica h3.tvp95{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -234px no-repeat;}
.program .stanica h3.tvp100{background:url('../img/tvprogram_ico.gif?rev=2013112701') -0px -117px no-repeat;}
.program .stanica h3.tvp101{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -39px no-repeat;}
.program .stanica h3.tvp105{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -312px no-repeat;}
.program .stanica h3.tvp106{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -351px no-repeat;}
.program .stanica h3.tvp107{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -156px no-repeat;}
.program .stanica h3.tvp110{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -351px no-repeat;}
.program .stanica h3.tvp111{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -312px no-repeat;}
.program .stanica h3.tvp113{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -234px no-repeat;}
.program .stanica h3.tvp114{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -351px no-repeat;}
.program .stanica h3.tvp116{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -351px no-repeat;}
.program .stanica h3.tvp120{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -273px no-repeat;}
.program .stanica h3.tvp121{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -234px no-repeat;}

.program .stanica h3.tvp124{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -39px no-repeat;}
.program .stanica h3.tvp125{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -78px no-repeat;}

.program .stanica h3.tvp126{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -39px no-repeat;}
.program .stanica h3.tvp129{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -117px no-repeat;}
.program .stanica h3.tvp134{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -351px no-repeat;}
.program .stanica h3.tvp135{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -390px no-repeat;}
.program .stanica h3.tvp136{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -390px no-repeat;}
.program .stanica h3.tvp137{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -390px no-repeat;}
.program .stanica h3.tvp138{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -390px no-repeat;}
.program .stanica h3.tvp146{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -351px no-repeat;}


.program .stanica h3.tv1{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 0 no-repeat;}
.program .stanica h3.tv529{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px 0 no-repeat;}
.program .stanica h3.tv3{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px 0 no-repeat;}
.program .stanica h3.tv4{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px 0 no-repeat;}
.program .stanica h3.tv5{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px 0 no-repeat;}
.program .stanica h3.tv6{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px 0 no-repeat;}
.program .stanica h3.tv8{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px 0 no-repeat;}
.program .stanica h3.tv9{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px 0 no-repeat;}
.program .stanica h3.tv10{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px 0 no-repeat;}

.program .stanica h3.tv11{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -39px no-repeat;}
.program .stanica h3.tv12{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -39px no-repeat;}
.program .stanica h3.tv13{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -39px no-repeat;}
.program .stanica h3.tv553{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -39px no-repeat;}
.program .stanica h3.tv15{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -39px no-repeat;}
.program .stanica h3.tv16{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -39px no-repeat;}
.program .stanica h3.tv18{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -39px no-repeat;}
.program .stanica h3.tv19{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -39px no-repeat;}
.program .stanica h3.tv20{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -39px no-repeat;}

.program .stanica h3.tv21{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -78px no-repeat;}
.program .stanica h3.tv22{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -78px no-repeat;}
.program .stanica h3.tv23{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -78px no-repeat;}
.program .stanica h3.tv24{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -78px no-repeat;}
.program .stanica h3.tv509{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -78px no-repeat;}
.program .stanica h3.tv26{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -78px no-repeat;}
.program .stanica h3.tv536{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -78px no-repeat;}
.program .stanica h3.tv28{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -78px no-repeat;}
.program .stanica h3.tv29{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -78px no-repeat;}
.program .stanica h3.tv30{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -78px no-repeat;}

.program .stanica h3.tv31{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -117px no-repeat;}
.program .stanica h3.tv32{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -117px no-repeat;}
.program .stanica h3.tv33{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -117px no-repeat;}
.program .stanica h3.tv34{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -117px no-repeat;}
.program .stanica h3.tv35{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -117px no-repeat;}
.program .stanica h3.tv36{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -117px no-repeat;}
.program .stanica h3.tv37{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -117px no-repeat;}
.program .stanica h3.tv38{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -117px no-repeat;}
.program .stanica h3.tv504{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -117px no-repeat;}
.program .stanica h3.tv40{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -117px no-repeat;}

.program .stanica h3.tv503{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -156px no-repeat;}
.program .stanica h3.tv42{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -156px no-repeat;}
.program .stanica h3.tv562{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -156px no-repeat;}
.program .stanica h3.tv561{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -156px no-repeat;}
.program .stanica h3.tv558{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -156px no-repeat;}
.program .stanica h3.tv500{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -156px no-repeat;}
.program .stanica h3.tv47{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -156px no-repeat;}
.program .stanica h3.tv48{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -156px no-repeat;}
.program .stanica h3.tv502{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -156px no-repeat;}
.program .stanica h3.tv505{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -156px no-repeat;}



.program .stanica h3.tv51{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -195px no-repeat;}
.program .stanica h3.tv52{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -195px no-repeat;}
.program .stanica h3.tv53{background:url('../img/tvprogram_ico.gif?rev=2013112701') -77px -195px no-repeat;}
.program .stanica h3.tv54{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -195px no-repeat;}
.program .stanica h3.tv55{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -195px no-repeat;}
.program .stanica h3.tv56{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -195px no-repeat;}
.program .stanica h3.tv57{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -195px no-repeat;}
.program .stanica h3.tv528{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -195px no-repeat;}
.program .stanica h3.tv535{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -195px no-repeat;}
.program .stanica h3.tv555{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -195px no-repeat;}

.program .stanica h3.tv519{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -234px no-repeat;}
.program .stanica h3.tv62{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -234px no-repeat;}
.program .stanica h3.tv63{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -234px no-repeat;}
.program .stanica h3.tv64{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -234px no-repeat;}
.program .stanica h3.tv65{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -234px no-repeat;}
.program .stanica h3.tv66{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -234px no-repeat;}
.program .stanica h3.tv67{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -234px no-repeat;}
.program .stanica h3.tv510{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -234px no-repeat;}
.program .stanica h3.tv516{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -234px no-repeat;}
.program .stanica h3.tv515{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -234px no-repeat;}

.program .stanica h3.tv71{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -273px no-repeat;}
.program .stanica h3.tv533{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -273px no-repeat;}
.program .stanica h3.tv514{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -273px no-repeat;}
.program .stanica h3.tv522{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -273px no-repeat;}
.program .stanica h3.tv523{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -273px no-repeat;}
.program .stanica h3.tv539{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -273px no-repeat;}
.program .stanica h3.tv566{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -273px no-repeat;}
.program .stanica h3.tv526{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -273px no-repeat;}
.program .stanica h3.tv567{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -273px no-repeat;}
.program .stanica h3.tv524{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -273px no-repeat;}

.program .stanica h3.tv525{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -312px no-repeat;}
.program .stanica h3.tv527{background:url('../img/tvprogram_ico.gif?rev=2013112701') -39px -312px no-repeat;}
.program .stanica h3.tv83{background:url('../img/tvprogram_ico.gif?rev=2013112701') -78px -312px no-repeat;}
.program .stanica h3.tv521{background:url('../img/tvprogram_ico.gif?rev=2013112701') -117px -312px no-repeat;}
.program .stanica h3.tv85{background:url('../img/tvprogram_ico.gif?rev=2013112701') -156px -312px no-repeat;}
.program .stanica h3.tv86{background:url('../img/tvprogram_ico.gif?rev=2013112701') -195px -312px no-repeat;}
.program .stanica h3.tv540{background:url('../img/tvprogram_ico.gif?rev=2013112701') -234px -312px no-repeat;}
.program .stanica h3.tv508{background:url('../img/tvprogram_ico.gif?rev=2013112701') -273px -312px no-repeat;}
.program .stanica h3.tv533{background:url('../img/tvprogram_ico.gif?rev=2013112701') -312px -312px no-repeat;}
.program .stanica h3.tv507{background:url('../img/tvprogram_ico.gif?rev=2013112701') -351px -312px no-repeat;}

.program .stanica h3.tv506{background:url('../img/tvprogram_ico.gif?rev=2013112701') 0 -351px no-repeat;}

.program .stanica p{
	float:left;
	line-height:1.2em;
	width:80%;
}
.program .stanica p span{color:#6b6b6b;}
.program .stanica p span.bezec{
	display:inline-block;
	width:140px;
	height:5px;
	margin:0 5px 0 5px;
	border:1px solid #cccccc;
	border-top:1px solid #eeeeee;
	background:#ffffff;
}
.program .stanica p span.bezec span{
	display:block;
	height:100%;
	border-right:4px solid #00e020;
	background:#8d8d8d;
}

/**
 * Tipy na dnes
 */

.program .title a.button.tip{
	width: 90px;
}

.program .tips p strong {
	display: inline-block;
	margin-bottom: 5px;
}

.program .tips .rating {
	display: inline-block;
	background: #cb0000 url('../img/rating.png') 4px 2px no-repeat;
	color: #fff;
	font-size: 0.9em;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	padding: 1px 5px 1px 20px;
	vertical-align: bottom;
}

.program .tips .trailer {
	display: inline-block;
	background: url('../img/trailer.png') 4px 2px no-repeat;
	color: #000;
	font-size: 0.9em;
	padding: 1px 5px 1px 20px;
	vertical-align: bottom;
}


.kurzy p.post{
	margin-bottom:10px;
	padding-top:7px;
}
.kurzy span.vl{
	width:38px;
	height:38px;
	display:inline-block;
	float:left;
	margin-right:5px;
	margin-top:-7px;
	background:url('../img/kurzy_ico.gif') right bottom no-repeat;
}
.kurzy span.zmena{
	display:inline-block;
	float:right;
	width:8px;
	height:8px;
	margin-right:5px;
	background:url('../img/kurzy_ico.gif') -8px -8px no-repeat;
}
.kurzy span.down{background:url('../img/kurzy_ico.gif') -22px -22px no-repeat;}
.kurzy span.up{background:url('../img/kurzy_ico.gif') -8px -22px no-repeat;}

.kurzy span.AUD{background-position: -38px top;}
.kurzy span.BGN{background-position: -76px top;}
.kurzy span.BRL{background-position: -114px top;}
.kurzy span.CAD{background-position: -152px top;}
.kurzy span.CNY{background-position: -190px top;}
.kurzy span.CUP{background-position: -228px top;}
.kurzy span.CYP{background-position: -266px top;}

.kurzy span.CZK{background-position: 0px -38px;}
.kurzy span.DKK{background-position: -38px -38px;}
.kurzy span.EEK{background-position: -76px -38px;}
.kurzy span.EGP{background-position: -114px -38px;}
.kurzy span.EUR{background-position: -152px -38px;}
.kurzy span.GBP{background-position: -190px -38px;}
.kurzy span.HKD{background-position: -228px -38px;}
.kurzy span.HRK{background-position: -266px -38px;}

.kurzy span.HUF{background-position: 0px -76px;}
.kurzy span.CHF{background-position: -38px -76px;}
.kurzy span.IDR{background-position: -76px -76px;}
.kurzy span.ILS{background-position: -114px -76px;}
.kurzy span.INR{background-position: -152px -76px;}
.kurzy span.ISK{background-position: -190px -76px;}
.kurzy span.JPY{background-position: -228px -76px;}
.kurzy span.KWD{background-position: -266px -76px;}

.kurzy span.LTL{background-position: 0px -114px;}
.kurzy span.LVL{background-position: -38px -114px;}
.kurzy span.MTL{background-position: -76px -114px;}
.kurzy span.MXN{background-position: -114px -114px;}
.kurzy span.MYR{background-position: -152px -114px;}
.kurzy span.NOK{background-position: -190px -114px;}
.kurzy span.NZD{background-position: -228px -114px;}
.kurzy span.PLN{background-position: -266px -114px;}

.kurzy span.RON{background-position: 0px -152px;}
.kurzy span.RUB{background-position: -38px -152px;}
.kurzy span.SEK{background-position: -76px -152px;}
.kurzy span.SGD{background-position: -114px -152px;}
.kurzy span.SIT{background-position: -152px -152px;}
.kurzy span.THB{background-position: -190px -152px;}
.kurzy span.TND{background-position: -228px -152px;}
.kurzy span.UAH{background-position: -266px -152px;}

.kurzy span.USD{background-position: 0px -190px;}
.kurzy span.VND{background-position: -38px -190px;}
.kurzy span.ZAR{background-position: -76px -190px;}

.kurzy small{font-size:0.91em;}
.kurzy small span{
	display:inline-block;
	color:#888888;
	float:left;
}
.kurzy small span.bil{
	float:right;
	margin-right:5px;
}

.kurzy small span.red{color:#cb0000;}
.kurzy small span.green{color:#04a000;}

/* end box */

#right-content{
	width:300px;
	float:left;
}

/* loginbox */

#login{
	border:1px solid #d2d2d2;
	border-top:0;
	margin-bottom:10px;
	position:relative;
}
#login nav{
	background:url('../img/tab_bg.png') right top no-repeat;
}
#login section div.clanky{
	width:296px;
	margin:0 1px 1px 1px;
	background:#ebf0f8;
	filter: progid:DXImageTransform.Microsoft.Gradient(enabled='true', GradientType=0, StartColorStr='#ffffff', EndColorStr='#ebf0f8');
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebf0f8));
	background: -moz-linear-gradient(top,  #ffffff,  #ebf0f8);
	background-image: -o-linear-gradient(top, #ffffff, #ebf0f8);
}
#login nav ul li{
	float:left;
	text-align:center;
	width:100%;
	line-height:2.5em;
	padding:0;
	white-space:nowrap;
}
#login nav ul li.current{
	background:url('../img/titulka_ico.gif') center -72px no-repeat;
}
#login nav ul li a{
	width:100%;
	padding:0;
}
#login nav ul li.current a{
	background:#44609c;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b74a9', endColorstr='#44609c');
	background: -webkit-gradient(linear, left top, left bottom, from(#5b74a9), to(#44609c));
	background: -moz-linear-gradient(top,  #5b74a9,  #44609c);
	background-image: -o-linear-gradient(top, #5b74a9, #44609c);

}

#login .link.login.left {
	width: 34%!important;
	line-height: 19px;
}
#login .link.login.right {
	text-align: right;
	width: 32%!important;
	line-height: 19px;
	padding-right: 7px;
}
#login .buttonDiv {
	margin-top: -20px;
}
#login #live_agree_id {
	display: none;
}

/* end loginbox */

/* posta */

table.posta{
	width:100%;
	margin-bottom:20px;
}
table.posta td{
	padding:5px;
}
table.posta td.predmet{
	background:url('../img/titulka_ico.gif') -38px -395px no-repeat;
	padding-left:25px;
}
table.posta td.new{
	background:url('../img/titulka_ico.gif') -38px -365px no-repeat;
	font-weight:bold;
}
table.posta td.datum{
	font-size:0.83em;
	text-align:center;
}
.posta-links{
	display:inline-block;
	width:290px;
	text-align:right;
	margin-right:5px;
	margin-bottom:10px;
}
.posta-links a{text-decoration:none;}

/* end posta */

#main #footer{
	text-align:center;
	line-height:1.5em;
	padding-top:10px;
	border-top:5px solid #d0d0d0;
	clear:both;
	width:950px;
}

/* settings popup */
article, #sluzby {
	position:relative;
}
.box-settings {
	display:none;
	position:absolute;
	z-index:65000;
	top:-1px;
	left:-510px;
	width:480px;
	background:#eeeeee;
	padding:1em;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);
	background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
	border:1px solid #d2d2d2;
	text-align:center;
}
.box-settings span.clear input{vertical-align: middle; margin-top:0;}
.box-settings span.clear{margin-bottom:3px;}
.box-settings .columize{text-align:left;}
.box-settings span a:link, .box-settings span a:visited{
	color:#000000;
	line-height:1.5;
}
.box-settings span a:hover, .box-settings span a:active{
	color:#db0000;
}
.box-settings span a.active{
	font-weight:bold;
	color:#00930A;
	padding-left:12px;
	background:url('../img/titulka_ico.gif') -45px -157px no-repeat;
}

#sluzby_settings{
	left:134px;
	width:285px;
}
#sluzby_settings label{
	margin-right:10px;
	vertical-align:text-bottom;
	width:90px;
	float:left;
	line-height:30px;
	text-align:right;
}
#sluzby_settings input{
	width:160px;
	float:right;
}
#sluzby_settings input#nazov{background:url('../img/input_bg-2.gif') no-repeat scroll left top transparent;}

.center_btn{margin:0 auto;}
.right_btn{float:right; width:115px !important; margin-right:2px;}
.right_btn:hover { cursor:pointer; }

.box-settings .header{
	background: url("../img/titulka_ico.gif") no-repeat scroll center -12px transparent;
	width:auto;
	height: 37px;
	position: relative;
	margin:-1em -1em 1em -1em;
}
.box-settings .header h2{
	text-align:left;
	height:32px;
	line-height:32px;
	font-size:1.166em;
	font-weight:normal;
	color:#ffffff;
	position:relative;
	background:#787878;
	padding:0 1em;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969696', endColorstr='#787878');
	background: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#787878));
	background: -moz-linear-gradient(top,  #969696,  #787878);
	background-image: -o-linear-gradient(top, #969696, #787878);
}
.box-settings .header h2 a.close{
	display:inline-block;
	float:right;
	*margin-top:-32px;
	background:url('../img/titulka_ico.gif') -45px -660px no-repeat;
	width:9px;
	height:32px;
}

#sluzby ul.setup li a span{
	/*background:url('../img/titulka_ico.gif') -40px -722px no-repeat !important;*/
	background:url('../img/titulka_ico.gif') center -753px no-repeat !important;
	margin-right:0;
	width:20px;
}


#sluzby ul.setup li { position:relative; }


#sluzby ul.setup li a.sluzby_remover{
	display:block;
	width:9px;
	height:25px;
	background:url('../img/titulka_ico.gif') -45px -693px no-repeat;
	overflow:hidden;
	position:absolute;
	right:6px;
	top:0px;
}
/* end settings popup */


	/* topky box betatest */

	section.betatest{
		border-bottom:1px solid #cccccc;
	}
	section.betatest .left{
		width:280px;
		float:left;
		overflow-y:hidden;
	}
	section.betatest .right{
		float:left;
	}

	section.betatest .clanky .post{
		width:115px;
		margin-right:25px;
		margin-bottom:10px;
	}
	section.betatest .left .post{min-height:165px; ?height:165px;}
	section.betatest .left .post li{margin-left:6px; margin-bottom:0;}
	section.betatest .clanky .post .imgHolder{
		margin-bottom:5px;
	}
	section.betatest .right .post{
		width:230px;
		margin-right:0;
	}
	section.betatest .right .post ul li{
		background:url('../img/betatest_dot.gif') left 3px no-repeat;
		padding-left:14px;
		padding-right:3px;
	}
	section.betatest .right .post ul li a{
		font-weight:normal;
	}
	section.betatest .video{
	display:inline-block;
	width:12px;
	height:12px;
	margin-right:3px;
	overflow:hidden;
	background:url('../img/betatest_video.gif') left top no-repeat;
}

/* end topky box betatest */

/* topky box gammatest */

	section.gammatest .clanky .post{
		width:100%;
		margin-bottom:0;
	}
	section.gammatest .clanky .post .imgHolder{
		margin-bottom:15px;
	}
	section.gammatest .clanky .post ul li{
		height:auto !important;
	}
	section.gammatest .clanky .post ul li.top{
		font-size:1.25em;
		letter-spacing:-1px;
		font-weight:bold;
	}
	section.gammatest .clanky .post ul li.no-top{
		line-height:1.25;
		padding-left:18px;
	}
	section.gammatest .clanky .post ul li.no-top a:link, section.gammatest .clanky .post ul li.no-top a:visited{
		color:#000000;
	}
	section.gammatest .clanky .post ul li.no-top a:hover, section.gammatest .clanky .post ul li.no-top a:active{
		color:#cb0000;
	}
	section.gammatest .clanky .post li.no-top a span.dot{
		width:13px;
		height:12px;
		margin-left:-18px;
		background:url('../img/titulka_ico.gif') no-repeat scroll center -790px transparent;
	}

/* end topky box gammatest */

#cloud { background:#000; position:absolute; top:0px; left:0px; z-index:1000; width:100%; height:500px; display:none; opacity: 0.8; filter:alpha(opacity=50) }

.__rccd { position:absolute; }

#draggableContent {  }

#fb_like { margin:0 auto; width:466px; margin-bottom:10px; }
#fb_like .left  { width:100px; float:left; }
#fb_like .right { float:left; width:356px; margin-left:10px; }
