/*
	zoznam vyhľadávací box	v0.3	06. 05. 2011
	searchbox.css

*/

#search_box{
	position:absolute;
	top:48px;
	left:269px;
	width:498px;
	height:90px;
	overflow:hidden;
}

#search_box section{position:relative;}
#search_box section h2{display:none;}
#search_box section form{
	display:none;
	clear:both;
}
#search_box section form label{display:none;}
#search_box section.current form{display:block;}
#search_box form input{
	width:365px;
	height:16px;
	border:1px solid #9a9a9a;
	background:url('../img/input_bg.gif') left top no-repeat;
	padding:10px 10px 9px 10px;
	margin-top:4px;
	margin-left:2px;
	font-size:1.17em;

	_margin-top:2px;
	_margin-left:0px;

	/* hack for IE7, 8, 9 */
	padding: 5px 10px 9px 10px\9 ;
	height:22px\9;

}
#search_box form input[type='submit'], #search_box form input.button{
	width:103px;
	height:37px;
	padding:0;
	margin-top:4px;
	color:#000000;
	font-size:1.5em;
	border:1px solid #cccccc;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#cccccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc');
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
	background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
	background-image: -o-linear-gradient(top, #ffffff, #cccccc);

	cursor:pointer;
	position:relative;
	z-index:10000;

}
#search_box ul li{
	list-style-type:none;
	width:65px;
	height:49px;
	float:left;
	text-indent:-9999px;
	cursor: pointer;
	background:url('../img/search_box_icons.gif') no-repeat;
}
#search_box ul li.zoznam{background-position: 0 0;}
#search_box ul li.zoznam.current{background-position: 0 -49px;}
#search_box ul li.google{background-position: -65px 0;}
#search_box ul li.google.current{background-position: -65px -49px;}
#search_box ul li.slovnik{background-position: -130px 0;}
#search_box ul li.slovnik.current{background-position: -130px -49px;}
#search_box ul li.tel{background-position: -195px 0;}
#search_box ul li.tel.current{background-position: -195px -49px;}
#search_box ul li.mapy{background-position: -260px 0;}
#search_box ul li.mapy.current{background-position: -260px -49px;}
#search_box ul li.obrazky{background-position: -325px 0;}
#search_box ul li.obrazky.current{background-position: -325px -49px;}
#search_box ul li.cenovyspion{background-position: -325px 0;}
#search_box ul li.cenovyspion.current{background-position: -325px -49px;}

.ie #search_box ul li.zoznam{background-position: 0 1px;}
.ie #search_box ul li.zoznam.current{background-position: 0 -49px;}
.ie #search_box ul li.google{background-position: -65px 1px;}
.ie #search_box ul li.google.current{background-position: -65px -49px;}
.ie #search_box ul li.slovnik{background-position: -130px 1px;}
.ie #search_box ul li.slovnik.current{background-position: -130px -49px;}
.ie #search_box ul li.tel{background-position: -195px 1px;}
.ie #search_box ul li.tel.current{background-position: -195px -49px;}
.ie #search_box ul li.mapy{background-position: -260px 1px;}
.ie #search_box ul li.mapy.current{background-position: -260px -49px;}
.ie #search_box ul li.obrazky{background-position: -325px 1px;}
.ie #search_box ul li.obrazky.current{background-position: -325px -49px;}
.ie #search_box ul li.cenovyspion{background-position: -325px 1px;}
.ie #search_box ul li.cenovyspion.current{background-position: -325px -49px;}

.ie7 #search_box ul li.zoznam{background-position: 0 3px;}
.ie7 #search_box ul li.zoznam.current{background-position: 0 -49px;}
.ie7 #search_box ul li.google{background-position: -65px 3px;}
.ie7 #search_box ul li.google.current{background-position: -65px -49px;}
.ie7 #search_box ul li.slovnik{background-position: -130px 3px;}
.ie7 #search_box ul li.slovnik.current{background-position: -130px -49px;}
.ie7 #search_box ul li.tel{background-position: -195px 3px;}
.ie7 #search_box ul li.tel.current{background-position: -195px -49px;}
.ie7 #search_box ul li.mapy{background-position: -260px 3px;}
.ie7 #search_box ul li.mapy.current{background-position: -260px -49px;}
.ie7 #search_box ul li.obrazky{background-position: -325px 3px;}
.ie7 #search_box ul li.obrazky.current{background-position: -325px -49px;}
.ie7 #search_box ul li.cenovyspion{background-position: -325px 3px;}
.ie7 #search_box ul li.cenovyspion.current{background-position: -325px -49px;}



#search_box ul li a{
	display:block;
	width:65px;
	height:49px;
	float:left;
	position:relative;
	z-index:65000;
	outline:0!important;
}

#hladaj-slovnik input[type='text']{width:212px;}
#hladaj-slovnik select{
	width:150px;
	height:37px;
	margin-top:3px;
}

#hladaj-tel input[type='text']{width:169px;}

/* betatest search box */

#search_box.betatest ul li{
	background-image:url('../img/betatest_search_box_icons.gif');
}

/* end betatest search box */


/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */


.autocomplete-w1 { background:url(../img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; font-size:14px; }
.autocomplete .selected { background:#bd0000; color:#fff; }
.autocomplete div { padding:5px 5px; white-space:nowrap; }
.autocomplete div:hover { background:#bd0000; color:#fff; }
.autocomplete strong {   }


.google_bg {
	background-color:#FFFFFF;
	background-image:url(http://www.google.sk/cse/intl/sk/images/google_custom_search_watermark.gif) !important;
	background-position:8px 50% !important;
	background-repeat:no-repeat;
}


.has-branding #search_box {
	z-index: 1000;
}