/*
	zoznam služby v0.3	09.7. 2011

*/
#sluzby ul li{list-style-type:none;}
#sluzby ul li a:link,
#sluzby ul li a:visited{
	display:block;
	color:#000000;
	text-decoration:none;
	line-height:2.08em;
	width:125px;
	overflow:hidden;
	white-space:nowrap;
}
#sluzby ul li a:hover,
#sluzby ul li a:active{ color:#cb0000; }
#sluzby ul li a span{
	display: inline-block;
	margin-left:5px;
	margin-right:10px;
	width:25px;
	height:25px;
	overflow:hidden;
	vertical-align:bottom;
	=position:relative;
	=top:-5px;
	background:url('../img/sluzby_ico.png?rev=2016-03-02_01') 0 0 no-repeat;
}

#sluzby ul li.ico_12111 a span{background-position: 0 0;}
#sluzby ul li.aaa_ico_12111 a span{background-position: 0 0;}
#sluzby ul li.ico_3d-web-hry a span{background-position: -25px 0;}
#sluzby ul li.aa_ico_3d-web-hry a span{background-position: -25px 0;}
#sluzby ul li.aukcie a span{background-position: -50px 0;}
#sluzby ul li.autobazar a span{background-position: -75px 0;}
#sluzby ul li.autopoistenie a span{background-position: -100px 0;}

#sluzby ul li.autoviny a span{background-position: -125px 0;}
#sluzby ul li.baby-web a span{background-position: -150px 0;}
#sluzby ul li.byvanie a span{background-position: -175px 0;}
#sluzby ul li.cest-poriadky a span{background-position: -200px 0;}
#sluzby ul li.cestovanie a span{background-position: -225px 0;}

#sluzby ul li.darceky a span{background-position: 0 -25px;}
#sluzby ul li.detsky-web a span{background-position: -25px -25px;}
#sluzby ul li.dievca-dna a span{background-position: -50px -25px;}
#sluzby ul li.e-knihy a span{background-position: -75px -25px;}
#sluzby ul li.e-mail a span{background-position: -100px -25px;}

#sluzby ul li.financie a span{background-position: -125px -25px;}
#sluzby ul li.fotozberna a span{background-position: -150px -25px;}
#sluzby ul li.horoskopy a span{background-position: -175px -25px;}
#sluzby ul li.hudba a span{background-position: -200px -25px;}
#sluzby ul li.kalendar a span{background-position: -225px -25px;}

#sluzby ul li.klub a span{background-position: 0 -50px;}
#sluzby ul li.lepsiweb a span{background-position: -25px -50px;}
#sluzby ul li.letenky a span{background-position: -50px -50px;}
#sluzby ul li.lifestyle a span{background-position: -75px -50px;}
#sluzby ul li.mapy a span{background-position: -100px -50px;}

#sluzby ul li.mhd a span{background-position: -125px -50px;}
#sluzby ul li.mobilna-zabava a span{background-position: -150px -50px;}
#sluzby ul li.nabytok a span{background-position: -175px -50px;}
#sluzby ul li.online-hry a span{background-position: -200px -50px;}
#sluzby ul li.ozene a span{background-position: -225px -50px;}

#sluzby ul li.pohladnice a span{background-position: 0 -75px;}
#sluzby ul li.poker a span{background-position: -25px -75px;}
#sluzby ul li.praca a span{background-position: -50px -75px;}
#sluzby ul li.reality a span{background-position: -75px -75px;}
#sluzby ul li.rodinne-domy a span{background-position: -100px -75px;}

#sluzby ul li.slovnik a span{background-position: -125px -75px;}
#sluzby ul li.sms-hra a span{background-position: -150px -75px;}
#sluzby ul li.spravodajstvo a span{background-position: -175px -75px;}
#sluzby ul li.stiahnite-si a span{background-position: -200px -75px;}
#sluzby ul li.sport a span{background-position: -225px -75px;}

#sluzby ul li.sportoviska a span{background-position: 0 -100px;}
#sluzby ul li.telefonny-zoznam a span{background-position: -25px -100px;}
/*#sluzby ul li.tv-program a span{background-position: -50px -100px n*/
#sluzby ul li.urob-si-sam a span{background-position: -75px -100px;}
#sluzby ul li.video-foto a span{background-position: -100px -100px;}

#sluzby ul li.vstupenky a span{background-position: -125px -100px;}
#sluzby ul li.vyhraj a span{background-position: -150px -100px;}
#sluzby ul li.web-zadarmo a span{background-position: -175px -100px;}

#sluzby ul li.facebook a span{background-position: -200px -100px;}
#sluzby ul li.technologie a span{background-position: -0px -125px;}

#sluzby ul li.pocitacove-hry a span{background-position: -25px -125px;}
#sluzby ul li.pocasie a span{background-position: -50px -125px;}
#sluzby ul li.webexpres a span{background-position: -25px -50px;}

#sluzby ul li.zlavy a span{background-position: -75px -125px;}
#sluzby ul li.tv-program a span{background-position: -100px -125px;}
#sluzby ul li.e-shop a span{background-position: -125px -125px;}

#sluzby ul li.plnielanu a span{background-position: -150px -125px;}
#sluzby ul li.dopytovac a span{background-position: -175px -125px;}
#sluzby ul li.uschovna a span{background-position: -201px -124px;}

#sluzby ul li.cenovyspion a span{background-position: -225px -125px;}
#sluzby ul li.beh a span{background-position: 0 -147px;}
#sluzby ul li.dlznik a span{background-position: -25px -147px;}

#sluzby ul li.listky a span{background-position: -50px -147px;}
#sluzby ul li.vysetrenie a span{background-position: -75px -147px;}
#sluzby ul li.zdravie a span{background-position: -75px -147px;}

#sluzby ul li.karierainfo a span{background-position: -101px -147px;}
#sluzby ul li.predpredaj a span{background-position: -125px -149px;}
#sluzby ul li.automoto a span{background-position: -150px -149px;}
#sluzby ul li.smsbrana a span{background-position: -75px -174px;}

#sluzby ul li.android a span{background-position: -175px -150px;}
#sluzby ul li.m2 a span{background-position: -200px -151px;}
#sluzby ul li.spuntik a span{background-position: -225px -150px;}
#sluzby ul li.babatko a span{background-position: -225px -150px;}

#sluzby ul li.blank a span{background-position: -225px -100px;}

#sluzby ul li.tdf a span{background-position: 0 -177px;}
#sluzby ul li.msf a span{background-position: -24px -177px;}
#sluzby ul li.msh a span{background-position: -50px -174px;}

#sluzby ul li.fitlekaren a span{background-position: -99px -174px;}

li.sluzby_separator{
	height:2px;
	display:block;
	margin:10px;
	background:url('../img/titulka_ico.gif') center -644px repeat-x;
}

#sluzby ul li a.sluzby_remover{ position:absolute; }
