/*
Stylish Select 0.4.1 - $ plugin to replace a select drop down box with a stylable unordered list
http://scottdarby.com/

Copyright (c) 2009 Scott Darby

Requires: jQuery 1.3 or newer

Dual licensed under the MIT and GPL licenses.

*/


/*==================================
Hide lists on page load
====================================*/

.stylish-select ul.newList{left:-9999px;}

/*

	own style v 0.1		31. 3. 2011
	

*/
#kariera .newListSelected{
	height:29px;
	width:70%;
	line-height:29px;
	border:1px solid #9a9a9a;
	background:url('../img/input_bg.gif') left top no-repeat;
	display:inline-block;
}
#kariera .newListSelected div{
	padding-right:21px;
	padding-left:6px;
	background:url("../img/titulka_ico.gif") no-repeat scroll 133px -600px;
}
#kariera ul.newList{
	list-style:none;
	background:#ffffff;
	border:1px solid #9a9a9a;
	top:22px;
	left:0;
	height:auto;
	width:100%;
	overflow:auto;
	position:absolute;
	z-index:9999;
}
#kariera ul.newList li a{
	display:block;
	width:94%;
	height:100%;
	padding-left:5px;
	padding-right:5px;
	color:#000000;
	text-decoration:none;
}
#kariera .hiLite{
	background:#cb0000!important;
	color:#fff!important;
}
#kariera .newListHover {background:#ccc!important; color:#000!important; cursor:default;}
#kariera .newListSelHover {cursor:default;}
#kariera .newListSelHover, #kariera .newListSelFocus {outline:0 !important;}
#kariera ul.newList li a:focus{outline:0;}