/*
	zoznam titulka	v0.3	06. 5. 2011

	reset.css v1.6.1
		resetuje natívne vlastnosti prehliadačov a upravuje základné
		vlastnosti HTML5 elemetov pre staršie prehliadače
		Eric Meyer’s CSS reset http://meyerweb.com/eric/tools/css/reset/
		Richard Clark's HTML5 Reset Stylesheet http://html5doctor.com/html-5-reset-stylesheet/

	layout.css v0.8
		základný layout stránky, farby, písma, boxi atď

	searchbox.css v0.3
		samostatné css pre vyhľadávanie

	sluzby.css v0.3
		mrte vela class pre ikony služieb

	forms.css v0.4
		tých pár formulárových prvkov, okrem vyhľadávania

	roman.css
		ak by si potreboval niečo zmeniť tak to daj s popisom sem a na konci to zlúčime a otestujeme
*/
@import url('reset.css?rev=11');
@import url('layout.css?rev=11');
@import url('searchbox.css?rev=11');
@import url('sluzby.css?rev=11');
@import url('forms.css?rev=11');
@import url('stylish-select.css?rev=11');
@import url('facebook.css?rev=11');
@import url('roman.css?rev=11');
@import url('reklama.css?rev=11');
@import url('predpredaj.css?rev=11');
