@charset "utf-8";
/* CSS Document */
/* styles for new landing pages */

/* for Panels within landing pages for auto, home and pet */
#panel {
width: 460px;
text-align:left;
margin:0px !important;
margin-top:15px;
margin-bottom:25px;
position:relative;
}
#panel .bottom {
background: #FEFEFE url() repeat-x left bottom !important;
height: auto;
display: block;
padding: 0 0 20px;
border: 1px solid #dfdbdb;
border-bottom: 3px solid #ccc;
padding-top:10px;
border-top: none;
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}

#panel p {
padding: 0 12px !important;
}
#panel ul {
	padding: 0 20px;
	list-style-image: url(../media/images/bg_arrow_black_right.png);
	list-style-type: none;
}

#panel h2 {
color: #EE2E24 !important;
font-size: 1em !important;
font-weight: bold;
margin: 0px;
padding: 10px 6px 6px 15px !important;
border: 1px solid #ddd;
border-color: #efefef #ddd #fff !important;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9e9e9)) !important;
background: -moz-linear-gradient(top, #fff, #e9e9e9) !important;
}

.paneldivider {padding:15px;}

/* for Panels within landing pages for travel and life */
#panel-sm { width:100%; margin-left:auto; margin-right:auto; margin-bottom:20px; display:inline-block;
}

#panel-right { float:right;
position:relative;
}

#panel-left {
float:left;
position:relative; margin-right:20px !important;
}

#panel-left, #panel-right {
 width: 220px;
text-align:left;
margin:0px !important;
margin-top:15px;
margin-bottom:25px;
}
#panel-left .bottom-sm, #panel-right .bottom-sm {
background: #FEFEFE url() repeat-x left bottom !important;
display: block;
padding: 0 0 20px;
border: 1px solid #dfdbdb;
border-bottom: 3px solid #ccc;
padding-top:10px;
border-top: none;
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}

#panel-left p, #panel-right p {
padding: 0 10px !important;
}
#panel-left ul, #panel-right ul {
	padding-top:10px;
	padding-left:10px;
	padding-right:5px;
	list-style-image: url(../media/images/bg_arrow_black_right.png);
	list-style-type: none;
}

#panel-left h2, #panel-right h2 {
color: #EE2E24 !important;
font-size: 1em !important;
font-weight: bold;
margin: 0px;
padding: 0px 0px 0px 5px !important;
border: 1px solid #ddd;
border-color: #efefef #ddd #fff !important;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}
.paneldivider-sm {padding:5px;}
.getQuote-landing {font-size:20px !important;}

/* ! Right Column - Tools */

#toolsright_landing, #toolsright_landingWLink, #helpright_landing {
	/*background: url(../media/images/tools-bg-line.gif) repeat-y bottom transparent;*/
	margin: 20px 0 0;
	width: 239px;
}

#toolsright_landing h2, #helpright_landing h2 { display:none;
}
/*
#toolsright_landing.message h2 {
	background:url(../media/images/tools_bg_header_message.gif) no-repeat scroll 0 top transparent;
	color:#666666;
	font-size:1.5em;	
	padding-bottom:0;
}
#toolsright_landing.message div.bottom {
	background:url(../media/images/tools_bg_message.png) no-repeat scroll 0 bottom transparent;
}

#toolsright_landing.message div.bottom p {
	padding-top:0;
	padding-bottom:0;	
	display:block;
	margin:0;
	line-height:1.6em;
}

#toolsright_landing.whiteTout h2 {
	background:url(../media/images/tools_bg_header_message.gif) no-repeat scroll 0 top transparent;
	font-size:1.2em;
	padding-right:60px;	
}
#toolsright_landing.whiteTout div.whiteToutImage {
	background:url(../media/images/tools_tout_icon.gif) no-repeat scroll 0 top transparent;
	height:38px;
	width:32px;
  float: right;
	margin-right:20px;
	margin-top:-40px;	
}

#toolsright_landing.whiteTout div.bottom {
	background:url(../media/images/tools_bg_white_tout.png) no-repeat scroll 0 bottom transparent;
}*/

/* ! =========== TR / HR utils submenu on right column ============ */


#toolsright_landing ul.utils, #helpright_landing ul.utils{
	position: relative;
	z-index: 500;
	top: 0 !important;
}
#toolsright_landing ul.utils li.dropdown ul, #helpright_landing ul.utils li.dropdown ul
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 0;
    background: #fff url(../media/images/dropdown_bottom.gif) repeat-x left bottom; 
    border: 0px solid #aaa;
    width: 100%;
    
    -webkit-border-radius: 5 5 5px 5px;
    -moz-border-radius: 5 5 5px 5px;
    border-radius: 5 5 5px 5px;
    
    -webkit-box-shadow: 0 2px 5px #666;
    -moz-box-shadow: 0 2px 5px #666;
    box-shadow: 0 2px 5px #666;
}


/* ! threecolumns classes
================================== */

#toolsright_landing .threecolumns h3, #helpright_landing .threecolumns h3{
	color: #EE2E24;
}

#toolsright_landing ul, #helpright_landing ul{padding:0 12px;}
#toolsright_landing ul li,
#helpright_landing ul li {
	margin:0 10px 10px 15px;
	list-style-image: url(../media/images/bg_arrow_red.gif);
	font-size: 1.2em;
}

#rightcolumn ul.pdf li,
#rightcolumn ul.adobeReader li {
    list-style-image: none;
    margin-left: 0;
}
#toolsright_landing ul li.pdf {
  list-style-image: url(../media/images/icon_pdf.gif);
}
#toolsright_landing ul li.pdf a {
  /*background:url(../media/images/icon_pdf.gif) no-repeat 0 0px;
  padding-left:17px;*/
}

#toolsright_landing ul li a, #helpright_landing ul li a {
	/*background:url(../media/images/bg_arrow_red.gif) no-repeat 2px center;*/
	color:#666666;
	text-decoration:none;
	display: block;
}

#toolsright_landing ul li a:hover, #helpright_landing ul li a:hover {
	color: #EE2E24;
	text-decoration: none;
}

/* ! Right Column - Help */

#helpright_landing{
	margin-bottom:20px;	
}

#toolsright_landing p, #toolsright_landingWLink p,
#helpright_landing p {
	padding:5px 5px 0 15px;
	font-weight:normal;
	color:#666666;
	font-size:1.2em;
}
#toolsright_landing .only-in-en,
#helpright_landing p.only-in-en,
#accordion span.only-in-en {
  font-size:1em;
  padding:0 0 0 15px;
  /*margin:-10px 0 0 0; */
}
#helpright_landing .talkto{
	padding:20px 0 0 15px;
	font-weight:bold;
	color:#EE2E24;
	font-size:1.2em;
	background: url(../media/images/help-bg.png) no-repeat;
}

img.specialimg {
margin:25px 0 0 15px;
}

#toolsright_landing .bottom {

	height: auto;
	display: block;
	padding:0 0 20px;
	border: 0px solid #dfdbdb;
	border-bottom: 0px solid #ccc;
}

#helpright_landing .bottom {
	background: #FEFEFE url() repeat-x left bottom;
	height: auto;
	display: block;
	padding:0 0 20px;
	border: 1px solid #dfdbdb;
	border-bottom: 3px solid #ccc;
  
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#toolsright_landingWLink .bottom {

	height: auto;
	display: block;
	padding:0 0 20px;
	border: 1px solid #dfdbdb;
	border-bottom: 1px solid #ccc;
  
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#helpright_landingWLink .bottom {
	background: #FEFEFE url(../media/images/tools-bg-bottom.gif) repeat-x left bottom;
	height: auto;
	display: block;
	padding:0 0 20px;
	border: 1px solid #dfdbdb;
	border-bottom: 3px solid #ccc;
  
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/*#toolsright_landing .bottom ul, #helpright_landing .bottom ul{
	position: relative;
	top: 10px;
}*/


#toolsright_landing.toolLarge h3, #helpright_landing.toolLarge h3{
	padding:0px 0 0 15px;
	font-weight:bold;
	color: #EE2E24;
}

/* ! Right Column - Column Separator */

#toolsright_landing .rightcol_separator,
#helpright_landing .rightcol_separator{
 	/*background: url(../media/images/bg_rightcol_separator.png);*/
 	line-height: 1.2em;
	padding: .5em 16px !important;
	margin: 22px 1px 0 1px;
	color:#EE2E24;
	border: 1px solid #cacaca;
	border-width: 1px 0 0 0;
	
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f4f4f4)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #f9f9f9, #f4f4f4);
}

#helpright_landing.toolLarge .toolcmb, #map .toolcmb, #selectProvince .selectedTxt{
	background:url(../media/images/bg_tool_cmb.gif) no-repeat scroll 0 0 transparent;
	border:0 none;
	color:#252525;
	cursor:default;	
	float:none;
	font-size:1.3em;
	font-weight:bold;
	text-decoration:none;
	margin-left:15px;
	padding:5px 0 0 10px;
	height:28px;
	display:block;
	width:177px;
}

#toolsright_landing .rightcol_separator.darkText, #helpright_landing .rightcol_separator.darkText{
	color:#666666;
}

/* ! Right Rail - Column Styles */

#toolsright_landing .bottom, #helpright_landing .bottom{
	padding: 8px 0 16px 0;
}


/* ! Right Column - Pc Points Calculator */

#toolsright_landing.calculator .bottom {
	padding-top: 2px;
	position:relative;
	padding-bottom:0px;
}



/* ! Right Column - How To Make a Claim */
#helpright_landing.howToMake h3 { margin-bottom:0; margin-top: 0; padding-top: 17px; }
#helpright_landing.howToMake .bottom { padding-top:0; }
#helpright_landing.howToMake p { margin-bottom:0; }
#helpright_landing.howToMake #dropdown { margin:8px 0 12px 25px;}
/* Slider
----------------------------------*/
.ui-slider { display: inline; position: relative; text-align: left; float:left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 20px; height: 30px; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.ui-slider-horizontal{
  height: 18px;
  margin-left:14px;
  margin-top:12px;  
  background: url(../media/images/bg_calculator_slider.gif) no-repeat scroll left top transparent;
}

.ui-slider-small{
  background-image:url(../media/images/bg_calculator_slider_small.gif);
}

.ui-slider-horizontal .ui-slider-handle {
  background: url(../media/images/bg_calculator_slider_handle.png) no-repeat left top transparent;   
  top: -.5em; margin-left: -.5em; 
}
.ui-slider-horizontal .ui-slider-range { left: 0; top: 0; height: 18px; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

#toolsright_landing p.slider-Amout { float:left; margin:0; padding:0; float:left; margin-top:10px; }
#toolsright_landing p.slider-Amout input,
#toolsright_landing p.slider-Amout2 input ,
#toolsright_landing p.slider-Amout-period{
  width:52px;
  font-size:1em;
  background-color:#FEFEFE;
  height:19px;
  border:none; 
  margin-left:9px;
  float:left;
  position:relative; 
}
#periodMortgage,
#monthlySpend{color: #EE2E24; font-weight:bold; float: none;}

.ts-2 #toolsright_landing p.slider-Amout,.ts-3 #toolsright_landing p.slider-Amout,.ts-4 #toolsright_landing p.slider-Amout {clear: both; width: auto; margin-top: 0;}
.ts-2 #toolsright_landing #slider, .ts-3 #toolsright_landing #slider, .ts-4 #toolsright_landing #slider{margin-left: 43px;}
.ts-2 #toolsright_landing #monthlySpend, .ts-3 #toolsright_landing #monthlySpend, .ts-4 #toolsright_landing #monthlySpend{width: 200px; text-align: center; height: 1em;}
#slider{width:160px;}
#monthlySpend {border:0; color:#EE2E24; font-weight:bold;}
#toolsright_landing p.slider-Amout input.smaller { font-size:1.3em; margin-left:10px; }

#toolsright_landing.calculator h3 { margin:0; padding:12px 0 0 12px; clear:left; } 

.ui-slider-range {background:url(../media/images/bg_calculator_slider_range.gif) no-repeat scroll left top transparent; width:160px	}
/* widget calculator */

.calculator .widgetCalculator {
  /*background:url(../media/images/bg_calculator_widget.gif) no-repeat scroll -29px center transparent;
  float: left;*/
}

body.lang_fr .calculator .widgetCalculator { background-position:left center; padding-right:0px; }

body.lang_fr #toolsright_landing.calculator .widgetCalculator ul li.year { margin-left:3px; padding:0 3px; }
body.lang_fr #toolsright_landing.calculator .widgetCalculator ul li p { font-size:1.1em;}
body.lang_fr #toolsright_landing.calculator .widgetCalculator ul li p.font12 { font-size:1.2em;}
body.lang_fr #toolsright_landing.calculator .widgetCalculator ul li p.inJust { font-size:.8em; line-height:.9em; padding-top:4px; }
body.lang_fr #toolsright_landing.calculator .widgetCalculator ul li.year p { font-size:3em; }
body.lang_fr #toolsright_landing.calculator p.footer { font-size:1em; }

#toolsright_landing.calculator .widgetCalculator ul 
{
    
    overflow: hidden;
    padding: 5px 10px 5px 10px;
    margin: 20px 20px 10px 0;
    border: 1px solid #ddd;
    border-left: none;
    
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    
    -webkit-box-shadow: 1px 0 5px #ccc;
    -moz-box-shadow: 1px 0 5px #ccc;
    box-shadow: 1px 0 5px #ccc;
    
     background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9e9e9)) !important;
     background: -moz-linear-gradient(top, #fff, #e9e9e9) !important;
 }
#toolsright_landing.calculator .widgetCalculator ul li {display: inline; margin:0; float:left; }
#toolsright_landing.calculator .widgetCalculator ul li.points { font-size: .8em;}
#toolsright_landing.calculator .widgetCalculator ul li.year { padding:0 5px; border-left:solid 1px #999999; margin-left:8px; font-size: .9em;}
#toolsright_landing.calculator .widgetCalculator ul li.year p { font-size:3em; color:#EE2E24; line-height:1em; padding-top:1px; font-size: 4em;}
.ts-2 #totalMonths, .ts-3 #totalMonths, .ts-4 #totalMonths{text-shadow: 0 0 2px #999;}
#toolsright_landing.calculator .widgetCalculator ul li p { padding:0; margin:0; font-size: 1.5em; line-height:1.4em; font-weight:bold; }
#toolsright_landing.calculator .widgetCalculator ul li p.inJust { font-size:1em; }
#toolsright_landing.calculator .widgetCalculator ul li p.red {color:#EE2E24; line-height:1.3em; font-size: 1.1em; }

.ts-2 #toolsright_landing.calculator .widgetCalculator ul,
.ts-3 #toolsright_landing.calculator .widgetCalculator ul,
.ts-4 #toolsright_landing.calculator .widgetCalculator ul
{
    border-left: 1px solid #ddd;
    margin: 10px;
    width: 195px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ts-2 #toolsright_landing.calculator .widgetCalculator ul li.points p,
.ts-3 #toolsright_landing.calculator .widgetCalculator ul li.points p,
.ts-4 #toolsright_landing.calculator .widgetCalculator ul li.points p{
    width: 195px;
    text-align: center;
}
.ts-2 #toolsright_landing.calculator .widgetCalculator ul li.points,
.ts-3 #toolsright_landing.calculator .widgetCalculator ul li.points,
.ts-4 #toolsright_landing.calculator .widgetCalculator ul li.points{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
 }
.ts-2 #toolsright_landing.calculator .widgetCalculator ul li.year,
.ts-3 #toolsright_landing.calculator .widgetCalculator ul li.year,
.ts-4 #toolsright_landing.calculator .widgetCalculator ul li.year{
   clear: left;
   border-left: none;
}
.ts-2 #toolsright_landing.calculator .widgetCalculator ul li.year{margin-left: 40px;}
.ts-3 #toolsright_landing.calculator .widgetCalculator ul li.year{margin-left: 40px;}
.ts-4 #toolsright_landing.calculator .widgetCalculator ul li.year{margin-left: 15px;}

#toolsright_landing.calculator div.line { border-top:solid 1px #dfdfdf; margin-top:13px; }

#toolsright_landing.calculator .grocery {padding-top:0; color:#EE2E24; font-weight:bold; font-size:1.4em; clear: both;}
body.lang_fr #toolsright_landing.calculator p.grocery {padding:0; text-align:center;}

.ts-2 #toolsright_landing.calculator .grocery{text-align: center;}
.ts-3 #toolsright_landing.calculator .grocery{text-align: center;}
.ts-4 #toolsright_landing.calculator .grocery{text-align: center;}

#toolsright_landing.calculator p.footer { font-size:1.1em; text-align:center; padding:0 0 13px 0px; padding-top:0; margin:0; }
#toolsright_landing.calculator p.footer span { font-size:.9em; }
#toolsright_landing.calculator .imageBottom {display: block; margin: 10px auto;}


#toolsright_landing.calculator .error { width:215px; color:#ec2f26; font-size:1.1em; display:none; float:left; margin:0; padding:0 0 5px 12px; }
.calculator label {
  margin:0; padding:8px 5px 10px 12px; font-size:1.2em; font-weight:normal; color:#666666; float:left;
  width:136px;
  font-weight:bold;
}

.calculator .calculateList .container label {
  padding-bottom:5px;  
  font-weight:normal; 
}

.calculator label.totalMortage {
  padding-bottom:0;
}

#toolsright_landing.calculator .dollar {
  background:url(../media/images/dollar.gif) no-repeat scroll left 5px transparent;
  padding-left:10px;
  float:left;  
  margin-top:5px;
  padding-bottom:5px;
}

#toolsright_landing.calculator .margin-top{
  margin-top:12px;
}

.calculator input {
  width:63px; height:15px; 
}

.calculator input.border-red {
  border:solid 1px #ff3333;
} 

.calculator input.text {
  border:solid 1px c3c3c3;  
}

#toolsright_landing.calculator .radioButton {
  float:left;
  padding:0 0 0 18px;
  margin-top:10px;
}

/* Toggle list Calculator */

#toolsright_landing .calculateList { margin:0; padding:0; padding-top:11px; border-left:solid 1px #dddddd; float:left; }
#toolsright_landing .calculateList a.border-top { border-top:solid 1px #dddddd; }
#toolsright_landing .calculateList a:hover{ text-decoration:none; }
#toolsright_landing .calculateList a {
   background:#fafafa url(../media/images/bg_calculator_radio.png) 15px -68px no-repeat; 
   padding:0.6em 0.8em 0.3em 3.7em;
   color:#ee2e24;
   font-weight:bold;
   float:left;
   width:183px;     
   height:17px;
   font-size:1.2em;
   display:block;
   border-bottom:solid 1px #dddddd;     
}
#toolsright_landing .calculateList a.selected { background:url(../media/images/bg_calculator_radio.png) 15px -101px no-repeat; border-bottom:none; }
#toolsright_landing .calculateList div.container {padding-top:5px; background-color:#efeded; width:237px; float:left; border-bottom:solid 1px #dddddd; }
#toolsright_landing .calculateList div { margin:0; padding:0; } 

/* ! Right Rail - Column Styles */

#toolsright_landing .bottom {
	padding: 0px 0 0px 0;
}
#helpright_landing .bottom{
	padding: 8px 0 16px 0;
}