/* ! =========== PC - PRINTING STYLE SHEET ============ */
body { 
background: url("../media/images/bg.gif") repeat-x scroll 0 0 #fff;
font: 14px Arial, Helvetica,sans-serif;
margin:0 auto;
text-align:center;
}
#wrap {
margin: 20px auto 0;
position:relative;
text-align:left;
width:977px;
z-index:10; 
}

#content h1 {
color:#ee2e24;
font-size:30px;
margin:0.3em 0 0.2em
}
#content h3,#content h4, #content h5 { 
color:#666;
font-size:14px;
font-weight:bold;
margin-bottom:0.1em;
}

#content * { color:#666; }

#header {
border-bottom:1px solid #DFDBDB;
}
#header h1 a{
	display: block;	text-decoration: none; color:#000;
}

#nav, #footer, .utils, #breadcrumbs, #secondarynav, #rightcolumn, .widget, .widgetBottom, .printPage, .more_link{ display: none; }
#content, .togglelist, .wrapThis, .ui-accordion-content,#content ul.listFAQ li div { display: block !important; }
.moreFeatures .togglelist{ padding: 0px; margin: 0px; list-style: outside disc; }
.moreFeatures .togglelist li{  }
#content{ font-size:12px; }
.footNote{ font-size:10px; }
#accordion.ui-accordion .ui-accordion-content table {
color:#666666;
font-size:12px;
}
#accordion table tr td {
border:1px solid #666666;
color:#666666;
font-size:12px;
line-height:1.4em;
padding:15px 15px 10px;
width:50%;
}
#accordion table tr.header td {
color:#FFFFFF;
font-size:14px;
font-weight:bold;
padding:0 20px;
text-align:center;
}
.italic { font-style:italic;}
