@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,span,h1,h2,h3,h4,h5,form,fieldset,p,button,input,label,textarea{margin:0;padding:0;}
.ad_banner01 {position:absolute;top:38px; width:270px; height:60px; float:left; background-color:#F00;}
/*header*/
.header{position:relative;height:170px;border-bottom:1px solid #e6e6e6;background:#FFF;width:980px;margin:0 auto;z-index:500; margin-bottom:8px;}




.top_area{width:100%; height:100px}


.area_bm { width: 978px; height: 34px; float: left; position: relative; z-index: 3; background: #eeeeee; border-bottom: 1px solid #dddddd; border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; }

.area_real { width: 350px; height: 20px; position: absolute; top: 7px; left: 10px; z-index: 1; }
.area_real .btn_pop { background: url('http://image.newsis.com/images/2013_img/btn_pop.gif') no-repeat; width: 78px; height: 20px; position: absolute; top: 0px; left: 0px; }

.area_real .ro { height: 20px; overflow: hidden; position: absolute; left: 82px; width: 500px; top: 0px; line-height: 24px; }
.area_real .ro li { font-size: 12px; overflow: hidden; text-align: left; }
.area_real .ro li a { color: #494e69; }
.area_real strong { display: none; }


.selectbox { float:right; margin:7px 0 0 0px;  position:relative; }
.searchbox { float:right; text-align: left; width: 180px; height: 28px; margin:4px 6px 0 0;  position:relative;  background: url('http://image.newsis.com/images/2013_img/bg_s2_.gif') 0 0 no-repeat; }
.searchbox legend { display: none; }
.searchbox .txt { width: 122px; height: 20px; padding: 0px 0px 0px 15px; font-weight: bold; position: absolute; top: 3px; top /*\**/: 6px\9; *top:6px;
background: none; left: 4px; border: none; }
.searchbox .txt { top: 4px; }
.searchbox .btn { text-indent: -3000em; background: url('http://image.newsis.com/images/2013_img/btn_s.gif') -40px 0 no-repeat; border: none; cursor: pointer; width: 33px; height: 20px; position: absolute; right: 3px; top: 4px; }
.searchbox .btn:hover { background-position: 0 0px }
.searchbox .btn:active { background-position: -80px 0px }
.searchbox .autoform { display: none; text-align: left; border: 1px solid #CCC; border-top: none; width: 230px; height: 95px; padding: 0px 0px 2px 0px; background: #E9EDEF; z-index: 1000; overflow: auto; position: absolute; top: 27px; left: 7px; -moz-box-shadow: 2px 3px 10px -2px #666; -webkit-box-shadow: 2px 3px 10px -2px #666; box-shadow: 2px 3px 10px -2px #666; }
.searchbox .autoform li { padding: 3px 0px 2px 5px; display: block; cursor: pointer; z-index: 1000; color: #575757!important; }
.searchbox .autoform li a:hovoer {
background:#fff;
}
.searchbox .autoform li em { color: #d82e31; }


/***********************************new style 20140424****************************************************/

.area_bm_new { width: 978px; height: 34px; float: left; position: relative; z-index: 3; background:url('http://image.newsis.com/images/2013_img/sh_bg_new.jpg') no-repeat 0 0; }

.area_real_new { width:650px; height: 20px; position: absolute; top: 4px; left: 10px; z-index: 1; }
.area_real_new .btn_pop { background: url('http://image.newsis.com/images/2013_img/btn_pop_new.png') no-repeat; width: 50px; height: 20px; position: absolute; top: 2px; left: 10px; }

.area_real_new .ro { height: 20px; overflow: hidden; position: absolute; left: 60px; width: 600px; top: 0px; line-height: 24px; background:transparent; }
.area_real_new .ro li { font-size: 14px; overflow: hidden; text-align: left; font-weight:bold; font-family: "돋움","Dotum",sans-serif;}
.area_real_new .ro li a { color: #ffffff; }
.area_real_new strong { display: none; }


.selectbox_new { float:right; margin:6px 6px 0 0px;  position:relative; }
.searchbox_new { float:right; text-align: left; width: 192px; height: 28px; margin:5px 10px 0 0px;  position:relative;  background: url('http://image.newsis.com/images/2013_img/bg_s2_new.png') 0 0 no-repeat; }
.searchbox_new legend { display: none; }
.searchbox_new .txt { width: 122px; height: 20px; padding: 0px 0px 0px 15px; font-weight: bold; position: absolute; top: 3px; top /*\**/: 6px\9; *top:6px;
background: none; left: 4px; border: none; }
.searchbox_new .txt { top: 1px; }
.searchbox_new .btn { text-indent: -3000em; background: url('http://image.newsis.com/images/2013_img/btn_s_new.jpg') 0 0 no-repeat; border: none; cursor: pointer; width: 18px; height: 20px; position: absolute; right: 7px; top: 1px; }
.searchbox_new .btn:hover { background-position: 0 0px }
.searchbox_new .btn:active { background-position: -80px 0px }
.searchbox_new .autoform { display: none; text-align: left; border: 1px solid #CCC; border-top: none; width: 230px; height: 95px; padding: 0px 0px 6px 0px; background: #E9EDEF; z-index: 1000; overflow: auto; position: absolute; top: 27px; left: 7px; -moz-box-shadow: 2px 3px 10px -2px #666; -webkit-box-shadow: 2px 3px 10px -2px #666; box-shadow: 2px 3px 10px -2px #666; }
.searchbox_new .autoform li { padding: 3px 0px 2px 5px; display: block; cursor: pointer; z-index: 1000; color: #575757!important; }
.searchbox_new .autoform li a:hovoer {
background:#fff;
}
.searchbox_new .autoform li em { color: #d82e31; }


/***********************************new style 20140424****************************************************/


.top_dashboard { text-align:center;
  background: url("http://image.newsis.com/images/2013_img/quick_bg.gif") repeat-x scroll 0px 0px transparent;
  height: 30px; }
  .top_dashboard .welcome {
    width: 980px;
    height: 30px;
    margin: 0 auto;
    }
    .top_dashboard .welcome .home {
      float: left;
      padding-right: 6px;
      line-height: 30px;
      font-size: 11px;
      font-family: "돋움","Dotum",sans-serif;
      color: #565656;}
    .top_dashboard .welcome .fav {
      float: left;
      padding-right: 6px;
      line-height: 30px;
      font-size: 11px;
      font-family: "돋움","Dotum",sans-serif;
      color: #565656;  }	  
    .top_dashboard .welcome .fav  strong {
      color: #ed4a1f; font-weight: bold;
	  }
    .top_dashboard .welcome .ele {
      float: right;
      padding-right: 6px;
      line-height: 30px;
      font-size: 11px;
      font-family: "돋움","Dotum",sans-serif;
      color: #565656;	  
	  }
    .top_dashboard .welcome .weather {
      float: right;
	  padding-top:4px;
      padding-right: 10px;
      font-size: 11px;
      font-family: "돋움","Dotum",sans-serif;
      color: #565656; }
    .top_dashboard .welcome .now_date {
      float: right;
      padding-right: 10px;
      line-height: 30px;
      font-size: 11px;
      font-family: "돋움","Dotum",sans-serif;
      color: #41527b; font-weight:bold;}
    .top_dashboard .welcome .date {
      float: right;
      padding-right: 6px;
      line-height: 30px;
      font-size: 11px;
      font-family: "돋움","Dotum",sans-serif;
      color: #565656; letter-spacing:-1;}
      .top_dashboard .welcome .date strong {
        color: #565656;
        line-height: 30px;
        font-size: 11px;
        font-family: "돋움","Dotum",sans-serif;
        font-weight: bold; }