@charset "UTF-8";
/* 选择我们 Start */
#play {
  cursor: pointer;
}

.choose-4px {
  position: relative;
  height: 706px;
  text-align: center;
  margin-top: 5px;
  background-color: #e2eaee;
  z-index: 21;
  border-bottom: 1px solid #ededed;
}
.choose-4px .wrap {
  position: relative;
  width: 1100px;
}
.choose-4px .choose-body {
  position: relative;
  z-index: 10;
}
.choose-4px h3 {
  padding: 30px;
  height: 61px;
  font-size: 38px;
  text-align: center;
  text-shadow: 1px 2px 0 #c5cccf;
}
.choose-4px h3 strong {
  color: #1a7ca1;
  vertical-align: middle;
}
.choose-4px h3 span,
.choose-4px h3 sup,
.choose-4px h3 sub {
  color: #a15f12;
  vertical-align: middle;
}
.choose-4px h3 sub {
  vertical-align: bottom;
}
.choose-4px h3 sup {
  vertical-align: top;
}
.choose-4px h3 sub,
.choose-4px h3 sup {
  position: relative;
  line-height: 1.2;
  font-family: Arial;
}
.choose-4px ul {
  position: absolute;
  z-index: 0;
}
.choose-4px li {
  list-style-type: disc;
  font-size: 26px;
  padding-left: 0;
  margin-left: 20px;
  line-height: 24px;
}
.choose-4px li span {
  color: #3c3c3c;
  font-size: 14px;
  vertical-align: middle;
}
.choose-4px .reason-list {
  position: relative;
  width: 990px;
  height: 585px;
  margin: auto;
}
.choose-4px .reason-list h4 {
  width: 106px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
}
.choose-4px .reason-list strong {
  position: relative;
  display: block;
  width: 106px;
  height: 106px;
  line-height: 96px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 48px;
  cursor: default;
  white-space: nowrap;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.choose-4px .reason-list strong:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.choose-4px .reason-item {
  position: absolute;
  width: 33.3%;
  height: 190px;
  z-index: 20;
}
.choose-4px .reason-more {
  top: 33px;
  left: 62px;
}
.choose-4px .reason-more h4 {
  color: #f97a9b;
}
.choose-4px .reason-more ul {
  top: 50px;
  left: 140px;
}
.choose-4px .reason-more li {
  color: #f97a9b;
}
.choose-4px .reason-more strong {
  background-position: 0 0;
}
.choose-4px .reason-fast {
  top: 33px;
  left: 355px;
}
.choose-4px .reason-fast h4 {
  color: #ffcc00;
}
.choose-4px .reason-fast ul {
  top: 50px;
  left: 140px;
}
.choose-4px .reason-fast li {
  color: #ffcc00;
}
.choose-4px .reason-fast strong {
  background-position: 0 -106px;
}
.choose-4px .reason-save {
  top: 33px;
  left: 690px;
}
.choose-4px .reason-save h4 {
  color: #00a0e9;
}
.choose-4px .reason-save ul {
  top: 50px;
  left: 140px;
}
.choose-4px .reason-save li {
  color: #00a0e9;
}
.choose-4px .reason-save strong {
  background-position: 0 -212px;
}
.choose-4px .reason-strong {
  top: 375px;
  left: 37px;
  height: 200px;
}
.choose-4px .reason-strong strong,
.choose-4px .reason-strong h4 {
  margin-left: 238px;
}
.choose-4px .reason-strong h4 {
  color: #c87028;
}
.choose-4px .reason-strong ul {
  top: 0px;
  left: 0px;
  width: 220px;
}
.choose-4px .reason-strong li {
  color: #c87028;
}
.choose-4px .reason-strong strong {
  background-position: 0 -318px;
}
.choose-4px .reason-safe {
  top: 375px;
  left: 553px;
}
.choose-4px .reason-safe h4 {
  color: #90c31f;
}
.choose-4px .reason-safe ul {
  top: 00px;
  left: 140px;
}
.choose-4px .reason-safe li {
  color: #90c31f;
}
.choose-4px .reason-safe strong {
  background-position: 0 -424px;
  font-size: 40px;
}

.reason-item strong {
  background-image: url(images/icons_reason.png);
  background-repeat: no-repeat;
}

.orbital {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 706px;
  background: url(images/orbital_bg.png) no-repeat left 309px;
}

.line-up,
.line-down {
  position: absolute;
  width: 15px;
  height: 110px;
  overflow: hidden;
  z-index: 0;
}

.line-more {
  bottom: 330px;
  left: 112px;
}

.line-fast {
  bottom: 328px;
  left: 402px;
}

.line-save {
  bottom: 326px;
  left: 739px;
}

.line-strong {
  top: 290px;
  left: 320px;
}

.line-safe {
  top: 278px;
  left: 600px;
}

.dics {
  position: absolute;
  border-radius: 50%;
}

.dics-1 {
  width: 36px;
  height: 36px;
  top: 200px;
  left: 12px;
  background-color: #a8d5a0;
}

.dics-2 {
  width: 13px;
  height: 13px;
  top: 342px;
  left: 293px;
  background-color: #f9fd1a;
}

.dics-3 {
  width: 12px;
  height: 12px;
  top: 211px;
  left: 500px;
  background-color: #f396b0;
}

.dics-4 {
  width: 15px;
  height: 15px;
  top: 300px;
  left: 780px;
  background-color: #b1d372;
}

.dics-5 {
  width: 15px;
  height: 15px;
  top: 356px;
  left: 826px;
  background-color: #f1a0b7;
}

.dics-6 {
  width: 25px;
  height: 25px;
  top: 437px;
  left: 857px;
  background-color: #f1f666;
}

.dics-7 {
  width: 25px;
  height: 25px;
  top: 162px;
  left: 942px;
  background-color: #f1f666;
}

@media only screen and (min-width: 10px) {
  @-webkit-keyframes iconsReason {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @-moz-keyframes iconsReason {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @-ms-keyframes iconsReason {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @-o-keyframes iconsReason {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes iconsReason {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @-webkit-keyframes iconsDisc {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @-moz-keyframes iconsDisc {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @-ms-keyframes iconsDisc {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @-o-keyframes iconsDisc {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes iconsDisc {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  .finished-after strong {
    -webkit-animation: iconsReason 0.75s linear;
    -moz-animation: iconsReason 0.75s linear;
    -ms-animation: iconsReason 0.75s linear;
    -o-animation: iconsReason 0.75s linear;
    animation: iconsReason 0.75s linear;
  }

  .dics-1 {
    background-color: #a8d5a0;
    -webkit-animation: iconsDisc 5s linear infinite 1s;
    -moz-animation: iconsDisc 5s linear infinite 1s;
    -ms-animation: iconsDisc 5s linear infinite 1s;
    -o-animation: iconsDisc 5s linear infinite 1s;
    animation: iconsDisc 5s linear infinite 1s;
  }

  .dics-2 {
    background-color: #f9fd1a;
    -webkit-animation: iconsDisc 5s linear infinite 2.5s;
    -moz-animation: iconsDisc 5s linear infinite 2.5s;
    -ms-animation: iconsDisc 5s linear infinite 2.5s;
    -o-animation: iconsDisc 5s linear infinite 2.5s;
    animation: iconsDisc 5s linear infinite 2.5s;
  }

  .dics-3 {
    background-color: #f396b0;
    -webkit-animation: iconsDisc 5s linear infinite 3s;
    -moz-animation: iconsDisc 5s linear infinite 3s;
    -ms-animation: iconsDisc 5s linear infinite 3s;
    -o-animation: iconsDisc 5s linear infinite 3s;
    animation: iconsDisc 5s linear infinite 3s;
  }

  .dics-4 {
    background-color: #b1d372;
    -webkit-animation: iconsDisc 5s linear infinite;
    -moz-animation: iconsDisc 5s linear infinite;
    -ms-animation: iconsDisc 5s linear infinite;
    -o-animation: iconsDisc 5s linear infinite;
    animation: iconsDisc 5s linear infinite;
  }

  .dics-5 {
    background-color: #f1a0b7;
    -webkit-animation: iconsDisc 5s linear infinite 5;
    -moz-animation: iconsDisc 5s linear infinite 5;
    -ms-animation: iconsDisc 5s linear infinite 5;
    -o-animation: iconsDisc 5s linear infinite 5;
    animation: iconsDisc 5s linear infinite 5;
  }

  .dics-6 {
    background-color: #f1f666;
    -webkit-animation: iconsDisc 5s linear infinite 2s;
    -moz-animation: iconsDisc 5s linear infinite 2s;
    -ms-animation: iconsDisc 5s linear infinite 2s;
    -o-animation: iconsDisc 5s linear infinite 2s;
    animation: iconsDisc 5s linear infinite 2s;
  }

  .dics-7 {
    background-color: #f1f666;
    -webkit-animation: iconsDisc 5s linear infinite;
    -moz-animation: iconsDisc 5s linear infinite;
    -ms-animation: iconsDisc 5s linear infinite;
    -o-animation: iconsDisc 5s linear infinite;
    animation: iconsDisc 5s linear infinite;
  }

  .line-up span {
    bottom: 0;
  }

  .line-up,
  .line-down {
    background: none;
  }
  .line-up em,
  .line-down em {
    position: absolute;
    width: 1px;
    top: 0;
    left: 50%;
    height: 110px;
    background-color: #e1e1e1;
  }
  .line-up span,
  .line-down span {
    position: absolute;
    left: 0;
    width: 7px;
    height: 7px;
    background-color: #e7e7e7;
    border: 4px solid #FFF;
    border-radius: 50%;
  }

  .reason-list .reason-item strong {
    width: 90px;
    height: 90px;
    line-height: 80px;
    background-image: none;
  }

  .reason-item {
    position: absolute;
    width: 33.3%;
    height: 250px;
    z-index: 20;
  }
  .reason-item:nth-child(1) strong {
    border: 8px solid #ffe2e9;
    background-color: #f97a9b;
  }
  .reason-item:nth-child(2) strong {
    border: 8px solid #fff5cb;
    background-color: #ffcc00;
  }
  .reason-item:nth-child(3) strong {
    border: 8px solid #d8f3ff;
    background-color: #00a0e9;
  }
  .reason-item:nth-child(4) strong {
    border: 8px solid #fcd6a9;
    background-color: #c87028;
  }
  .reason-item:nth-child(5) strong {
    border: 8px solid #f1ffd2;
    background-color: #90c31f;
    font-size: 40px;
  }
}
/* 选择我们 End */
/* 图片播放 */
.kSlide {
  position: relative;
  overflow: hidden;
  margin: auto;
}
.kSlide img {
  /* width: 100%;
  height: 100%;
  */
}
.kSlide ul {
  position: absolute;
  left: 0;
  top: 0;
}
.kSlide li {
  float: left;
  height: 300px;
  color: #fff;
  text-align: center;
}
.kSlide span {
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.kSlide span.current {
  background-color: #019fe8;
}

.kSlide-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23px;
  text-align: center;
}
.kSlide-icons span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  overflow: hidden;
  vertical-align: top;
  background-color: gray;
}

.home-banner {
  background-color: #00a0ea;
  z-index: 10;
  text-align: center;
}

.kSlide {
  position: relative;
  width: 100% !important;
  height: 350px;
  overflow: hidden;
  margin: auto;
  text-align: left;
}
.kSlide img {
  display: block;
  margin: auto;
  width: 1920px;
  height: 350px;
}
.kSlide ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.kSlide li {
  float: left;
  width: 100%;
  height: 300px;
  color: #fff;
  text-align: center;
}
.kSlide a {
  display: block;
  width: 100%;
  height: 350px;
}
.kSlide span {
  width: 16px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  background-image: url("images/icons_2.png");
  _background-image: url("images/icons_2-8.png");
  background-color: transparent !important;
  background-position: -35px -280px;
  border: none\9 !important;
  background-repeat: no-repeat;
}
.kSlide span.current {
  background-position: -20px -280px;
}

@media only screen {
  .kSlide-icons span {
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: #fff !important;
    opacity: 0.2;
    border: 2px solid rgba(0, 0, 0, 0.6) !important;
  }
  .kSlide-icons span.current {
    opacity: 1;
  }
}
.home-content {
  min-height: 800px;
}

.footer {
  margin-top: 0;
}

/* 单号查询及动态 */
.view-info {
  position: absolute;
  top: -325px;
  right: 0;
  width: 300px;
  z-index: 12;
}
.view-info .search-box,
.view-info .news-box {
  position: relative;
  margin-top: 7px;
  border: 1px solid #8b8b8b;
  border: 1px solid rgba(139, 139, 139, 0.5);
  background: url(images/opacity_10x10_1.png) repeat 0 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.view-info .search-box {
  height: 34px;
}
.view-info .search-box div.placeholder {
  left: 5px;
  height: 34px;
  line-height: 34px;
  color: #a8b6c7;
}
.view-info .search-box input,
.view-info .search-box a {
  padding: 0;
  margin: 0;
}
.view-info .search-box input {
  left: 0;
  width: 223px;
  height: 34px;
  line-height: 34px \9;
  padding: 0 5px;
  color: #a8b6c7;
}
.view-info .search-box input,
.view-info .search-box a {
  position: absolute;
  top: 0;
  border: none;
  background-color: transparent;
  outline: none;
}
.view-info .search-box a {
  top: -1px;
  right: -1px;
  width: 64px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #647788;
  background: url(images/op_65.png) repeat 0 0;
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.view-info .search-box a:hover {
  background-color: #545454;
}
.view-info .news-title {
  height: 40px;
  line-height: 40px;
  color: #ffae00;
  margin-top: 7px;
  padding-left: 35px;
  background: url("images/icons_collection_1.png") no-repeat -470px -275px;
  text-shadow: 1px 1px 0 #333;
}
.view-info .news-box {
  height: 238px;
}
.view-info ul {
  margin-top: 10px;
  font-size: 13px;
}
.view-info li {
  width: 265px;
  height: 30px;
  line-height: 30px;
  padding-left: 25px;
  background: url("images/icons_collection_1.png") no-repeat -482px -245px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}
.view-info a {
  color: #fff;
}
.view-info a:hover {
  color: #ffae00;
}
.view-info a.more {
  position: absolute;
  right: 12px;
  top: 9px;
  height: 17px;
  line-height: 17px;
  padding: 0 8px;
  border: 1px solid #86a3bd;
  font-size: 12px;
  color: #dedede;
  border-radius: 2px;
}

/* 产品介绍 Start */
.product-introduction {
  width: 100%;
  zoom: 1;
  margin-top: 5px;
}
.product-introduction .title-box {
  height: 41px;
}
.product-introduction .title-box h3 {
  height: 41px;
  line-height: 41px;
  color: #fff;
}
.product-introduction .title-box strong {
  display: block;
  height: 40px;
  line-height: 40px;
  margin-left: 155px;
  padding-left: 30px;
  font-size: 20px;
  background-image: url("images/icons_collection_1.png");
  background-repeat: no-repeat;
}
.product-introduction .wrap {
  width: auto;
  height: 268px;
  background-color: #f9f9f9;
}
.product-introduction .main {
  position: relative;
  width: 491px;
}
.product-introduction a.more {
  position: absolute;
  top: 11px;
  right: 10px;
  height: 17px;
  line-height: 17px;
  padding: 0 10px;
  border: 1px solid #EEE;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
}
.product-introduction a.more:hover {
  text-decoration: none;
}

.home-tutorial,
.home-product {
  position: relative;
  width: 50%;
  overflow: hidden;
  zoom: 1;
}

.home-tutorial {
  float: left;
}
.home-tutorial .main {
  float: right;
}
.home-tutorial .wrap {
  margin-right: 4px;
}
.home-tutorial .title-box {
  background-color: #90c31f;
}
.home-tutorial h3 strong {
  background-position: -474px -60px;
}
.home-tutorial a.more:hover {
  background-color: #b9df64;
}

.home-product {
  float: left;
  margin-left: -3px;
}
.home-product .wrap {
  margin-left: 4px;
}
.home-product .title-box {
  background-color: #f3888f;
}
.home-product h3 strong {
  background-position: -474px -100px;
}
.home-product a.more:hover {
  background-color: #f9a9af;
}

.step-title {
  height: 41px;
  background-color: #eeeded;
  border-bottom: 1px solid #e8e7e7;
  margin-top: 1px;
}
.step-title ul {
  position: absolute;
  left: 44px;
  top: 0;
  width: 447px;
  z-index: 10;
}
.step-title li {
  float: left;
  width: 149px;
  text-align: center;
  font-size: 18px;
  color: #545454;
  height: 41px;
  line-height: 41px;
  cursor: pointer;
}
.step-title li.current {
  font-size: 20px;
  font-weight: bold;
}

.step-white-box {
  margin-left: 44px;
}

.step-white-bg {
  float: left;
  width: 149px;
  height: 41px;
  background: url("images/icons_collection_1.png") no-repeat 0 -175px;
}

.step-bg {
  position: absolute;
  width: 185px;
  height: 41px;
  z-index: 0;
  top: 0;
  left: 8px;
  background: url("images/icons_collection_1.png") no-repeat 0 -217px;
}

#introductionTabContent .current {
  display: block;
}

.step-list {
  overflow: hidden;
  padding-top: 10px;
}
.step-list dt {
  float: left;
  width: 190px;
  height: 155px;
}
.step-list .step-des {
  margin-top: 10px;
  line-height: 24px;
}
.step-list .step-name {
  margin-top: 30px;
  font-size: 24px;
}
.step-list .step-name-1 {
  color: #70c31f;
}
.step-list .step-name-2 {
  color: #ffb400;
}
.step-list .step-name-3 {
  color: #ef858c;
}

.step-icons-1,
.step-icons-2,
.step-icons-3 {
  width: 170px;
  height: 155px;
  background-image: url(images/step_icons.png);
  background-repeat: no-repeat;
}

.step-icons-1 {
  background-position: center 0;
}

.step-icons-2 {
  background-position: center -150px;
}

.step-icons-3 {
  background-position: center -305px;
}

#divPriceList{
    position: relative;
    height: 170px;
}

#divPriceList .routeBtnBox{
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#divPriceList .routeBtn{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 8px;
    line-height: 8px;
    font-size: 0;
    border: 1px solid #f3888f;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
}

#divPriceList .routeBtnBox .active{
    width: 40px;
    background-color: #f3888f;
}

#divPriceList .route-content-wrap{
    position: relative;
    height: 150px;
    overflow: hidden;
}

#divPriceList .route-content{
    position: absolute;
    left: 0;
    top: 0;
}

.route-list .route-item {
  float: left;
  width: 130px;
  height: 86px;
  padding-left: 20px;
}

.product-countries {
  margin: 40px 0 0 20px;
}
.product-countries li {
  position: relative;
  float: left;
  width: 30px;
  margin-right: 8px;
  text-align: center;
}
.product-countries em,
.product-countries span.arrow {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  overflow: hidden;
}
.product-countries em {
  width: 30px;
}
.product-countries em img {
  vertical-align: top;
  width: 30px;
  height: 30px;
}
.product-countries span.arrow {
  width: 23px;
  background-image: url("images/icons_collection_1.png");
  background-repeat: no-repeat;
  background-position: -200px -48px;
}
.product-countries span.text-countries {
  position: absolute;
  left: -15px;
  top: 35px;
  width: 60px;
  text-align: center;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.us {
  background-position: 0 0;
}

.cn {
  background-position: 0 -30px;
}

.ja {
  background-position: 0 -60px;
}

.ge {
  background-position: 0 -90px;
}

.en {
  background-position: 0 -120px;
}

.ru {
  background-position: 0 -150px;
}

.sk {
  background-position: 0 -180px;
}


div.tab-content {
  display: none;
}

.none {
  display: none;
}
