@charset "UTF-8";


/*
==============================================
Normalize Start
==============================================
*/
html {
    background: #FFF;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
legend,
input,
select,
textarea {
    color: #888;
}

body {
    color: inherit;
    background: transparent;
}

html,
body,
legend,
input,
select,
button,
textarea {
    font: normal normal normal 14px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

body,
div,
header,
footer,
nav,
aside,
article,
section,
hgroup,
figure,
figcaption,
video,
audio,
embed,
mark,
summary,
progress,
canvas,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    _font-size: 14px;
}

td,
th {
    color: inherit;
    font-family: inherit;
}

fieldset,
img,
iframe {
    border: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul,
li {
    list-style: none;
}

header,
footer,
nav,
aside,
article,
section,
hgroup,
figure,
figcaption {
    display: block;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

pre {
    white-space: pre-wrap;
}

small {
    font-size: 0.8em;
}

mark {
    background: #ff0;
    color: #000;
}

abbr[title] {
    border-bottom: 1px dotted;
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup,
sub {
    font-size: 0.75em;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

button,
select {
    text-transform: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 1.2;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

textarea {
    overflow-x: hidden;
    overflow-y: auto;
    vertical-align: top;
    resize: none;
}

input[type='checkbox'],
input[type='radio'] {
    width: auto;
    vertical-align: middle;
}

.button,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

label {
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    /* For IE10+ */
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

a {
    background: transparent;
    /* For IE10+ */
}

a,
a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    outline:none;blr:expression(this.onFocus=this.blur());
}

a:hover {
    text-decoration: underline;
}


code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: inherit;
}

::-webkit-input-placeholder {
    color: #AAA;
    opacity: 1;
}

::-moz-placeholder {
    color: #AAA;
    opacity: 1;
    /* For Firefox */
}

:-ms-input-placeholder {
    color: #AAA;
    opacity: 1;
}

::selection,
::-moz-selection {
    background: inherit;
    color: white;
}

/* Firefox for button vertical center */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

/*Webkit*/
::-webkit-file-upload-button {
    height: 100%;
}

/*
==============================================
Normalize End
==============================================
*/
.bold {
    font-weight: bold;
}

.none {
    display: none;
}

.block {
    display: block;
}

.hidden {
    visibility: hidden;
}


.cp {
    cursor: pointer !important;
}

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.ell {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.zoom {
    zoom: 1;
}

.wp0 {
    width: 0%;
}

.wp1 {
    width: 1%;
}

.wp2 {
    width: 2%;
}

.wp3 {
    width: 3%;
}

.wp4 {
    width: 4%;
}

.wp5 {
    width: 5%;
}

.wp6 {
    width: 6%;
}

.wp7 {
    width: 7%;
}

.wp8 {
    width: 8%;
}

.wp9 {
    width: 9%;
}

.wp10 {
    width: 10%;
}

.wp11 {
    width: 11%;
}

.wp12 {
    width: 12%;
}

.wp13 {
    width: 13%;
}

.wp14 {
    width: 14%;
}

.wp15 {
    width: 15%;
}

.wp16 {
    width: 16%;
}

.wp17 {
    width: 17%;
}

.wp18 {
    width: 18%;
}

.wp19 {
    width: 19%;
}

.wp20 {
    width: 20%;
}

.wp25 {
    width: 25%;
}

.wp30 {
    width: 30%;
}

.wp33 {
    width: 33.3333%;
}

.wp35 {
    width: 35%;
}

.wp40 {
    width: 40%;
}

.wp45 {
    width: 45%;
}

.wp50 {
    width: 50%;
}

.wp55 {
    width: 55%;
}

.wp60 {
    width: 60%;
}

.wp65 {
    width: 65%;
}

.wp70 {
    width: 70%;
}

.wp75 {
    width: 75%;
}

.wp80 {
    width: 80%;
}

.wp85 {
    width: 85%;
}

.wp90 {
    width: 90%;
}

.wp90 {
    width: 90%;
}

.wp91 {
    width: 91%;
}

.wp92 {
    width: 92%;
}

.wp93 {
    width: 93%;
}

.wp94 {
    width: 94%;
}

.wp95 {
    width: 95%;
}

.wp96 {
    width: 96%;
}

.wp97 {
    width: 97%;
}

.wp98 {
    width: 98%;
}

.wp99 {
    width: 99%;
}

.wp100 {
    width: 100%;
}


a:link .link-color {
    color: #019fe8;
}

.bold {
    font-weight: bold;
}

.none {
    display: none;
}

.block {
    display: block;
}

.hidden {
    visibility: hidden;
}

.cp {
    cursor: pointer !important;
}

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.ell {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

*[disabled],
.disabled {
    cursor: no-drop !important;
    /*background-color: #efefef !important;*/
}

.re {
    position: relative;
}

.gray {
    color: #aaaaaa;
}

.red {
    color: red;
}

.c-black {
    color: #000;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.vt {
    vertical-align: top;
}

.vm {
    vertical-align: middle;
}

.iv {
    vertical-align: middle;
}

.link {
    cursor: pointer;
    color: #019fe8;
}

.vm {
    vertical-align: middle;
}

label.vm {
    -moz-user-select: none;
    /* 火狐 */
    -webkit-user-select: none;
    /* webkit浏览器 */
    -ms-user-select: none;
    /* IE10 */
    -khtml-user-select: none;
    /* 早期浏览器 */
    user-select: none;
}

input.iv {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
}

label.iv {
    margin: 0 0 0 4px;
}

.loading-center {
    padding: 20px;
    text-align: center;
}
.loading-center span.loading{
    width: 100px;
    height: 112px;
    margin-right: 5px;
    background: url(images/ajax-loader.gif) center no-repeat ;
}

.loading-center span.alert {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background: url(images/ajax-alert.png) no-repeat center center;
}
.loading-center strong,
.loading-center span {
    display: inline-block;
    vertical-align: middle;
}
.loading-center strong i{color: #00a0ea; font-style: normal;}

.btn, .btn-1, .dialog-ok,
.btn-2,
.btn-3,
.btn-4,
.dialog-cancle,
.btn-5,
.btn-6,
.btn-7 {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
.btn:hover, .btn-1:hover, .dialog-ok:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover,
.dialog-cancle:hover,
.btn-5:hover,
.btn-6:hover,
.btn-7:hover {
    text-decoration: none;
    opacity: 0.75;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}

.btn-disabled {
    background-color: #dedede !important;
    color: #fff;
    cursor: not-allowed !important;
}

.btn-1, .dialog-ok {
    color: #fff !important;
    background-color: #019fe8;
}

.btn-2 {
    color: #fff !important;
    background-color: #cbcbcb;
}

.btn-3 {
    color: #fff !important;
    background-color: #999;
}

.btn-4, .dialog-cancle {
    color: #717171 !important;
    border: 1px solid #7fcff4 !important;
}

.btn-5 {
    border: 2px solid #ff8500;
    background-color: #ff8500;
    color: #fff !important;
}

.btn-6 {
    border: 2px solid #ffc27f;
}

.btn-7 {
    background-color: #ffa800;
    color: #fff !important;
}

.btn-1, .dialog-ok,
.btn-2,
.btn-3,
.btn-4,
.dialog-cancle,
.btn-5,
.btn-6,
.btn-7 {
    -moz-user-select: none;
    /* 火狐 */
    -webkit-user-select: none;
    /* webkit浏览器 */
    -ms-user-select: none;
    /* IE10 */
    -khtml-user-select: none;
    /* 早期浏览器 */
    user-select: none;
    cursor: pointer;
}

/* Tips */
.tips-wrapper {
    position: fixed !important;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #CCC;
    border-radius: 3px;
    z-index: 10000;
}

.tips-box {
    background-color: #FFF;
    padding: 1px solid #FFF;
}

.tips-content {
    padding: 5px 10px;
    break-wrap: break-word;
    word-break: break-all;
}

.tips-ui-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #F4D390;
}

.show-time-out {
    display: block;
    margin-top: 10px;
    margin-right: 40px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
}

.tips-success,
.tips-error,
.tips-waring {
    border: 3px solid #ccc;
    border: 3px solid rgba(0, 0, 0, 0.15);
    font-size: 18px;
    color: #6e6e6e;
}
.tips-success .tips-content,
.tips-error .tips-content,
.tips-waring .tips-content {
    padding: 0 0 0 40px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.tips-success .tips-ui-arrow-down,
.tips-error .tips-ui-arrow-down,
.tips-waring .tips-ui-arrow-down {
    display: none;
}
.tips-success .tips-box,
.tips-error .tips-box,
.tips-waring .tips-box {
    padding: 40px 40px 25px 40px;
    background-color: #FFF;
}

.tips-success .tips-content {
    background-image: url(images/tips_success.png);
}

.tips-waring .tips-content {
    background-image: url(images/tips_waring.png);
}

.tips-error .tips-content {
    background-image: url(images/tips_error.png);
}

.tips-ui-loading {
    border-color: #e2e2e2;
    white-space: nowrap;
}
.tips-ui-loading .tips-content {
    padding-left: 35px;
    margin: 0 10px;
    color: #666;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    background-image: url(images/ajax-loader.gif);
    background-position: 0 center;
    background-repeat: no-repeat;
}

.tips-ui-target {
    background-color: #ffe33b;
    border-color: #ffe33b;
    color: #710c0c;
}
.tips-ui-target .tips-content {
    padding: 2px 10px;
    font-size: 12px;
}
.tips-ui-target .tips-ui-arrow-up,
.tips-ui-target .tips-ui-arrow-down {
    position: absolute !important;
    left: 90%;
    background: none !important;
}
.tips-ui-target .tips-ui-arrow-up {
    top: -3px;
    z-index: 10;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #ffe239 transparent;
    border-top: none;
}
.tips-ui-target .tips-ui-arrow-down {
    top: -7px;
    z-index: 1;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #ffe239 transparent;
    border-top: none;
}

.tips-ui-b {
    background-color: #ffe33b;
    border-color: #ffe33b;
    color: #710c0c;
    border-radius: 2px;
}
.tips-ui-b .tips-box {
    background: none;
}
.tips-ui-b .tips-ui-arrow-up,
.tips-ui-b .tips-ui-arrow-down {
    position: absolute !important;
    left: 10px;
    top: auto !important;
    background: none !important;
}
.tips-ui-b .tips-ui-arrow-up {
    display: none;
    z-index: 10;
    bottom: -10px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #ffe33b transparent transparent transparent;
    border-bottom: none;
}
.tips-ui-b .tips-ui-arrow-down {
    z-index: 1;
    bottom: -7px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #ffe33b transparent transparent transparent;
    border-bottom: none;
}
.tips-ui-b .tips-content {
    padding-left: 25px;
    background: url(images/tips_icons.png) no-repeat 3px 4px;
}

.input-tips-error .tips-content {
    padding-left: 25px;
    background: url(images/tips_icons.png) no-repeat 3px 4px;
}

.input-tips-error-box {
    border: 1px solid #ffe33b !important;
    box-shadow: 0 0 2px #ffe33b !important;
}

.input-tips-error {
    border-color: #ffe33b !important;
}

/* placeholder */
.placeholder-box {
    position: relative;
}

div.placeholder {
    display: none;
    position: absolute;
    top: 0;
    color: #aaaaaa;
    z-index: 0;
    white-space: nowrap;
}

input[placeholder],
input.placeholder {
    position: relative;
    z-index: 1;
    background-color: transparent;
    background-image: url(images/opacity_0.gif);
}

.title-tips-top .arrow-top {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #cecece transparent transparent transparent;
    border-bottom: none;
    bottom: -7px;
    z-index: 0;
}
.title-tips-top .arrow-bottom {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #fff transparent transparent transparent;
    border-bottom: none;
    bottom: -6px;
    z-index: 1;
}

.title-tips-bottom .arrow-top {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #cecece transparent;
    border-top: none;
    top: -7px;
    z-index: 0;
}
.title-tips-bottom .arrow-bottom {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #fff transparent;
    border-top: none;
    top: -6px;
    z-index: 1;
}

.title-tips {
    position: absolute;
    border: 1px solid #cecece;
    background-color: #FFF;
    padding: 5px;
    font-size: 12px;
    color: #5e5e5e;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    z-index: 100;
}
.title-tips em {
    position: absolute;
    left: 50%;
    margin-left: -7px;
}

.num-add,
.num-reduce {
    position: absolute;
    cursor: pointer;
    z-index: 200;
    width: 14px;
    height: 14px;
    background-image: url(images/arrow_num.gif);
    background-repeat: no-repeat;
    -moz-user-select: none;
    /* 火狐 */
    -webkit-user-select: none;
    /* webkit浏览器 */
    -ms-user-select: none;
    /* IE10 */
    -khtml-user-select: none;
    /* 早期浏览器 */
    user-select: none;
}

.num-add {
    background-position: 0 0;
}

.num-reduce {
    background-position: 0 -13px;
}

/* 公共样式 */
a:link {
    color: #019fe8;
}
a:hover {
    color: #019fe8;
}
a:active {
    color: #019fe8;
}
a:visited {
    color: #019fe8;
}

.link-1:link {
    color: red;
}
.link-1:hover {
    color: #019fe8;
}
.link-1:active {
    color: #019fe8;
}
.link-1:visited {
    color: #019fe8;
}




/* 下拉选择模拟 */
.select-dropdown{position: relative;}
.select-dropdown .btn{height: 28px; line-height: 28px; border: 1px solid #d0d0d0; text-align: center; opacity: 1 !important; filter: alpha(opacity=100) !important;}
.select-dropdown .btn span,
.select-dropdown .btn i{display: inline-block; line-height: 28px;}
.select-dropdown .caret{display: inline-block; width: 0; height: 0; line-height: 0; font-size: 0; border-width: 4px; border-style: solid dashed dashed dashed; border-color: #000000 transparent transparent transparent;}
.select-dropdown .select-dropdown-menu{position: absolute; left: 0; top: 30px; background: #ffffff; display: none; border: 1px solid #d0d0d0; border-top: none;}
.select-dropdown .select-dropdown-menu li{display: block; float: none !important; line-height: 30px; height: 30px; text-align: center; white-space: nowrap; background: #ffffff; color: #676767;}
.select-dropdown .select-dropdown-menu li.active{background: #dddddd; color: #333333;}
.select-dropdown .select-dropdown-menu.top{top: auto; bottom: 30px; border-top: 1px solid #d0d0d0; border-bottom: none;}

/* 提示信息 */
.tooltip{position: absolute; z-index: 9999; background : #ffe33b url(images/tips_icons.png) no-repeat 5px 5px; color: #710c0c; border: 1px solid #ffe33b; font-size: 12px; line-height: 26px; height: 26px; padding: 0 10px 0 28px;}
.tooltip .tooltip-inner{white-space: nowrap;}
.tooltip .tooltip-arrow{position: absolute; width: 0; height: 0; line-height: 0; font-size: 0; border: 6px dashed transparent;}
.tooltip.left .tooltip-arrow{border-left-style: solid; border-left-color: #ffe33b; right: -12px; top: 50%; margin-top: -6px;}
.tooltip.right .tooltip-arrow{border-right-style: solid; border-right-color: #ffe33b; left: -12px; top: 50%; margin-top: -6px;}
.tooltip.top .tooltip-arrow{border-top-style: solid; border-top-color: #ffe33b; bottom: -12px; left: 12px;}
.tooltip.bottom .tooltip-arrow{border-bottom-style: solid; border-bottom-color: #ffe33b; top: -12px; left: 12px;}


/* 申报类别 */
.search-sblb .search-wrap {
    position: relative;
    width: 291px;
    height: 33px;
    border: 1px solid #019fe8;
    margin: auto;
}
.search-sblb input {
    position: absolute;
    left: 0;
    top: 0;
    width: 217px;
    height: 33px;
    line-height: 33px \9;
    padding: 0 10px;
    border: 0;
}
.search-sblb .btn-1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 53px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-image: url("images/icons_2.png");
    _background-image: url("images/icons_2-8.png");
    background-position: -25px -350px;
}
.search-sblb .search-result {
    position: absolute;
    top: 34px;
    left: -1px;
    width: 240px;
    font-size: 12px;
    background-color: #FFF;
}
.search-sblb .search-result ul {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #c2c2c2;
}
.search-sblb .search-result li {
    position: relative;
    width: 100%;
    height: 23px;
    line-height: 23px;
    margin: auto;
    cursor: pointer;
}
.search-sblb .search-result li:hover {
    background: #eceef5;
}
.search-sblb .search-result li span {
    display: inline-block;
    width: 177px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
}
.search-sblb .search-result span,
.search-sblb .search-result em {
    height: 23px;
    line-height: 23px;
}
.search-sblb .search-result em {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    color: #ff8500;
}

#shenBaoLeiBie {
    position: relative;
}

dl.changyongleibie {
    margin-top: 20px;
}
dl.changyongleibie dt {
    float: left;
    width: 104px;
    height: 25px;
    line-height: 25px;
}
dl.changyongleibie dd {
    margin-left: 104px;
}
dl.changyongleibie span {
    float: left;
    margin: 0 16px 10px 0;
    height: 23px;
    line-height: 23px;
}
dl.changyongleibie span.item {
    float: left;
    border: 1px dashed #d7d7d7;
    padding: 0 14px;
    color: #c00;
    cursor: pointer;
}
dl.changyongleibie span.item:hover {
    border-color: #019fe8;
}
dl.changyongleibie span.gray {
    color: gray;
}

.leibie-wrap {
    font-size: 12px;
}
.leibie-wrap h3 {
    border: 1px dashed #d7d7d7;
    height: 26px;
    line-height: 26px;
    background-color: #FFF;
    font-weight: bold;
    color: #019fe8;
    font-size: 14px;
    text-indent: 10px;
    margin-right: 5px;
}
.leibie-wrap ul {
    position: relative;
    left: -1px;
    width: 162px;
}
.leibie-wrap li.item {
    position: relative;
    padding: 5px 0;
    cursor: pointer;
}
.leibie-wrap li.item strong {
    display: block;
    margin: 0 20px -0px 10px;
}
.leibie-wrap li.item.hover {
    background: #019fe8;
    color: #fff;
}
.leibie-wrap li.item.hover span {
    border-color: transparent transparent transparent #fff;
}
.leibie-wrap li.item span {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #a5a5a5;
    border-right: none;
}
.leibie-wrap .leibie-menu {
    position: relative;
    float: left;
    width: 159px;
}
.leibie-wrap .leibie-menu .leibie-main {
    position: relative;
    width: 157px;
    height: 365px;
    border: 1px solid #e3e3e3;
    background-color: #f3f3f3;
}
.leibie-wrap .leibie-menu .arrow-top,
.leibie-wrap .leibie-menu .arrow-bottom {
    position: absolute;
    left: 50%;
    margin-left: -5px;
}
.leibie-wrap .leibie-menu .arrow-top {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: #f3f3f3 transparent transparent transparent;
    border-bottom: none;
    bottom: -5px;
}
.leibie-wrap .leibie-menu .arrow-bottom {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: #e3e3e3 transparent transparent transparent;
    border-bottom: none;
    bottom: -6px;
}
.leibie-wrap .leibie-content {
    margin-left: 161px;
    border: 1px solid #019fe8;
    height: 384px;
    overflow-x: hidden;
    overflow-y: auto;
}
.leibie-wrap .leibie-content .leibie-main{
    display: none;
    margin: 30px;
    height: 324px;
}
.leibie-wrap span,
.leibie-wrap a {
    float: left;
    white-space: nowrap;
    color: #888;
}
.leibie-wrap a.item {
    margin: 0 5px;
    cursor: pointer;
}
.leibie-wrap a.item:hover {
    color: #019fe8;
}
.leibie-wrap span.line {
    margin: 0 5px;
}

.paging {
    margin: 10px;
}
.paging a,
.paging span {
    margin: 0 1px;
}

.paging em{display: none;}



/* 切换效果 */
.tab-title {
    color: #676767;
}
.tab-title:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.tab-title {
    zoom: 1;
}
.tab-title li {
    float: left;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    margin: 0 8px;
    border-bottom: 1px solid #fff;
    white-space: nowrap;
}
.tab-title li.more{
    margin: 0 20px 0 8px;
}
.tab-title li.tab-active, .tab-title li:hover {
    border-bottom-color: #019fe8;
    color: #019fe8;
}
.tab-title span.line {
    position: absolute;
    top: 0;
    right: -8px;
    height: 32px;
    border-left: 1px dotted #DDD;
}
.tab-title span.line.more{
    right: -20px;
}

div.tab-content {
    display: none;
}

li.tab-active {
    color: #019fe8;
}

div.tab-active {
    display: block;
}

#addTelContainer,
#changePasswrodContainer {
    position: relative;
}

.dialog-window .btn-box .btn, .dialog-window .btn-box .btn-1, .dialog-window .btn-box .dialog-ok,
.dialog-window .btn-box .btn-2,
.dialog-window .btn-box .btn-3,
.dialog-window .btn-box .btn-4,
.dialog-window .btn-box .dialog-cancle,
.dialog-window .btn-box .btn-5,
.dialog-window .btn-box .btn-6,
.dialog-window .btn-box .btn-7 {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.up-top table {
    width: 100%;
    table-layout: fixed;
    margin: 20px 0;
}
.up-top table td {
    padding: 5px 5px;
}
.up-top table td.t-name {
    width: 120px;
    text-align: right;
    white-space: normal;
}
.up-top .btn-box {
    margin-top: 20px;
}
.up-top .btn, .up-top .btn-1, .up-top .dialog-ok,
.up-top .btn-2,
.up-top .btn-3,
.up-top .btn-4,
.up-top .dialog-cancle,
.up-top .btn-5,
.up-top .btn-6,
.up-top .btn-7 {
    width: 150px;
    float: left;
    margin-right: 25px;
}
.up-top .input {
    width: 136px;
    height: 27px;
    line-height: 27px\9;
    padding: 0 5px 0 5px;
    border: 1px solid #d0d0d0;
    color: #ff8500;
}
.up-top .input-tips-error .input {
    border: 1px solid #ffe33b !important;
    box-shadow: 0 0 2px #ffe33b !important;
}
.up-top .pay-list {
    margin: 15px 0;
}
.up-top .pay-list li {
    float: left;
    width: 150px;
}

.add-tel,
.change-password {
    padding: 20px 0;
}
.add-tel table,
.change-password table {
    width: 100%;
    table-layout: fixed;
}
.add-tel table .btn, .add-tel table .btn-1, .add-tel table .dialog-ok,
.add-tel table .btn-2,
.add-tel table .btn-3,
.add-tel table .btn-4,
.add-tel table .dialog-cancle,
.add-tel table .btn-5,
.add-tel table .btn-6,
.add-tel table .btn-7,
.change-password table .btn,
.change-password table .btn-1,
.change-password table .dialog-ok,
.change-password table .btn-2,
.change-password table .btn-3,
.change-password table .btn-4,
.change-password table .dialog-cancle,
.change-password table .btn-5,
.change-password table .btn-6,
.change-password table .btn-7 {
    font-size: 20px;
    float: left;
}
.add-tel table .btn-1, .add-tel table .dialog-ok,
.change-password table .btn-1,
.change-password table .dialog-ok {
    height: 40px;
    line-height: 40px;
}
.add-tel table .btn-4, .add-tel table .dialog-cancle,
.change-password table .btn-4,
.change-password table .dialog-cancle {
    height: 38px !important;
    line-height: 38px !important;
    margin-left: 7px;
}
.add-tel table input.input,
.change-password table input.input {
    width: 251px;
    height: 40px;
    line-height: 40px\9;
    padding: 0 15px;
}
.add-tel table input.short,
.change-password table input.short {
    width: 105px;
}
.add-tel table td,
.change-password table td {
    padding: 5px 0;
}
.add-tel table td.t-name,
.change-password table td.t-name {
    width: 110px;
    text-align: right;
}
.add-tel .btn-longer,
.change-password .btn-longer {
    width: 283px;
}
.add-tel .btn-short,
.change-password .btn-short {
    width: 137px;
}
.add-tel .code-box,
.change-password .code-box {
    position: relative;
    height: 44px;
}
.add-tel .get-code,
.change-password .get-code {
    position: absolute;
    left: 135px;
    top: 0;
    display: inline-block;
    width: 137px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    margin-left: 9px;
    background-color: #efefef;
    cursor: pointer;
    color: #262626;
    -moz-user-select: none;
    /* 火狐 */
    -webkit-user-select: none;
    /* webkit浏览器 */
    -ms-user-select: none;
    /* IE10 */
    -khtml-user-select: none;
    /* 早期浏览器 */
    user-select: none;
}

/* -
=====================================
- */

body {
    font-size: 14px;
}

/* 颜色区域 */
.color-1 {
    color: #ec8391 !important;
}

.color-2 {
    color: #fa0203 !important;
}

.color-3 {
    color: #ffa904 !important;
}

.color-4 {
    color: #0cb301 !important;
}

/* 字体大小区域 */
.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

/* 表单 */
input.input {
    border: 1px solid #dddddd;
}

/*input.error {
  border: 1px solid red !important;
  background-color: rgba(255, 206, 206, 0.5);
}*/

.title-box {
    position: relative;
}

.title-right {
    position: absolute;
    right: 0;
    top: 0;
}

.area-block {
    margin: 5px 0;
}

/* 页面宽度 */

.content {
    margin-top: 5px;
    min-height: 500px;
    height: auto !important;
    height: 500px;
}

.body-1 {
    background-color: #FFF;
    border: 1px solid #f2f2f2;
    min-height: 600px;
    height: auto !important;
    height: 600px;
    margin-bottom: 5px;
}
.body-1 h1 {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
.body-1 .body-main {
    margin: 0 20px;
}

.hr1 {
    height: 1px;
    line-height: 1px;
    overflow: hidden;
    border-bottom: 1px dashed #ebe2db;
}

/* Title */
.title-1 {
    height: 49px;
    line-height: 49px;
    font-size: 18px;
    padding-left: 60px;
    background-image: url("images/icons_collection_1.png");
    background-repeat: no-repeat;
    margin: 10px 0;
}
.title-1.t-help {
    background-position: -448px 0;
}

.title-2 {
    height: 49px;
    line-height: 49px;
    font-size: 18px;
}

.kSlide {
    position: relative;
    height: 300px;
    overflow: hidden;
    margin: auto;
}
.kSlide img {
    display: block;
    margin: auto;
    width: 1280px;
}
.kSlide ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.kSlide li {
    float: left;
    width: 100%;
    height: 300px;
    color: #fff;
    text-align: center;
}
.kSlide span {
    width: 15px;
    height: 15px;
    overflow: hidden;
    cursor: pointer;
}


.view-more {
    margin: 20px;
    text-align: center;
}
.view-more .link {
    vertical-align: middle;
}
.view-more .arrow-box {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}
.view-more .arrow-box span {
    position: absolute;
    left: 0;
    top: 50%;
}
.view-more .arrow-box .arrow-top {
    margin-top: -2.5px;
    z-index: 10;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #FFF transparent transparent transparent;
    border-bottom: none;
}
.view-more .arrow-box .arrow-bottom {
    margin-top: -1.5px;
    z-index: 0;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #d8d8d8 transparent transparent transparent;
    border-bottom: none;
}

.copy {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    background-image: url("images/icons_2.png");
    _background-image: url("images/icons_2-8.png");
}
.copy em {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 16px;
    overflow: hidden;
}
.copy .zclip {
    width: 15px !important;
    height: 15px !important;
    left: 0 !important;
    top: 0 !important;
    margin: 0;
}

.help {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("images/icons_2.png");
    _background-image: url("images/icons_2-8.png");
    background-position: 0 -320px;
    margin: 0 5px;
    cursor: help;
}



.paging {
    color: #b5b5b5;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.paging .page-content {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.paging em {
    vertical-align: middle;
}
.paging a,
.paging span {
    display: inline-block;
    vertical-align: middle;
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    _width: 20px;
    _height: 20px;
    _line-height: 20px;
    text-align: center;
    border: 1px solid #a0a0a0;
    color: #868686;
    border-radius: 2px;
}
.paging a.current, .paging a:hover,
.paging span.current,
.paging span:hover {
    border-color: #019fe8;
    background-color: #019fe8;
    color: #fff;
    text-decoration: none;
}
.paging a {
    background-color: #e6e6e6;
}
.paging .page_non {
    cursor: default !important;
    color: #dfdcdc !important;
    background-color: #f2f2f2 !important;
    border-color: #e6e6e6 !important;
}

.yhxy {
    height: 480px;
    padding: 10px 20px;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.5;
}
.yhxy h2 {
    text-align: center;
    font-size: 18px;
    line-height: 2;
}
.yhxy h3 {
    font-weight: bold;
    color: #000;
}
.yhxy p {
    margin: 5px 0;
    text-indent: 20px;
}

.tab-1 thead {
    border: 1px solid #c6e4db;
    background-color: #e2f7ef;
}
.tab-1 tbody {
    border: 1px solid #dee5ea;
}
.tab-1 td,
.tab-1 th {
    padding: 10px 5px;
    color: #797979;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tab-1 .dotted {
    border-bottom: 1px dotted #f0e3d8;
}

tr.odd {
    background-color: #f9fafb;
}
tr.even {
    background-color: #ffffff;
}
tr.tr-dotted td,
tr.tr-dotted th {
    border-bottom: 1px dotted #f0e3d8;
}

.tab-2 {
    width: 100%;
}
.tab-2 td,
.tab-2 th {
    padding: 10px 5px;
    vertical-align: top;
    font-size: 12px;
}
.tab-2 thead th {
    border-top: 1px solid #d4dadd;
    border-bottom: 1px solid #d4dadd;
    color: #000;
    background-color: #e4eaee;
}
.tab-2 thead th.bor-l {
    border-left: 1px solid #d4dadd;
}
.tab-2 thead th.bor-r {
    border-right: 1px solid #d4dadd;
}
.tab-2 tbody td {
    border-bottom: 1px solid #edeff0;
}
.tab-2 tbody td.bor-l {
    border-left: 1px solid #edeff0;
}
.tab-2 tbody td.bor-r {
    border-right: 1px solid #edeff0;
}
.tab-2 td,
.tab-2 th {
    background-color: #f9fafb;
}
.tab-2 tr.tr-content td {
    background-color: #FFF;
}
.tab-2 tr.dotted td {
    border-bottom: none !important;
    background-image: url(images/dotted_1.gif);
    background-repeat: repeat-x;
    background-position: 0 bottom;
}

.tab-3 {
    width: 100%;
    table-layout: fixed;
}
.tab-3 tr.dotted {
    border-bottom: none;
}
.tab-3 tr.dotted td {
    border-bottom: 1px dotted #e6e4e4 !important;
}
.tab-3 td {
    padding: 13px 0;
}

.complete-payment {
    padding-left: 75px;
    margin: 30px 30px;
    background: url(images/icon_01.png) no-repeat 0 0;
    min-height: 100px;
    height: auto !important;
    height: 100px;
    font-size: 16px;
    color: #999999;
    line-height: 2;
}
.complete-payment .btn-5,
.complete-payment .btn-6 {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 20px;
    float: left;
    margin-right: 20px;
}
.complete-payment strong {
    color: #000;
    font-weight: bold;
}
.complete-payment .btn-box {
    margin-top: 35px;
}

.show-address span {
    font-size: 12px;
    color: #019fe8;
    cursor: pointer;
}

.dialog-content {
    margin: 20px;
}

.dialog-text {
    margin: 20px;
    line-height: 2;
    color: #333;
}
.dialog-text .dialog-title {
    font-weight: bold;
}
.dialog-text p {
    text-indent: 20px;
}


.loading-layer {
    position: fixed !important;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
}

.loading-box {
    position: fixed !important;
    position: absolute;
    border: 1px solid #ddd;
    background-color: #FFF;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
.loading-box img {
    display: block;
    margin: auto;
    width: 100px;
    height: 112px;
}

.loading-box span {
    display: block;
}

.success-title {
    font-size: 20px;
    color: #000;
    text-align: center;
    padding: 20px;
}
.success-title span,
.success-title img {
    vertical-align: middle;
}
.success-title img {
    margin-right: 5px;
}

.btn, .btn-1, .dialog-ok,
.btn-2,
.btn-3,
.btn-4,
.dialog-cancle,
.btn-5,
.btn-6,
.btn-7 {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
.btn:hover, .btn-1:hover, .dialog-ok:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover,
.dialog-cancle:hover,
.btn-5:hover,
.btn-6:hover,
.btn-7:hover {
    text-decoration: none;
    opacity: 0.75;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}

.btn-disabled {
    background-color: #dedede !important;
    color: #fff;
    cursor: not-allowed !important;
}

.btn-1, .dialog-ok {
    color: #fff !important;
    background-color: #019fe8;
}

.btn-2 {
    color: #fff !important;
    background-color: #cbcbcb;
}

.btn-3 {
    color: #fff !important;
    background-color: #999;
}

.btn-4, .dialog-cancle {
    color: #717171 !important;
    border: 1px solid #7fcff4 !important;
}

.btn-5 {
    border: 2px solid #ff8500;
    background-color: #ff8500;
    color: #fff !important;
}

.btn-6 {
    border: 2px solid #ffc27f;
}

.btn-7 {
    background-color: #ffa800;
    color: #fff !important;
}

.btn-1, .dialog-ok,
.btn-2,
.btn-3,
.btn-4,
.dialog-cancle,
.btn-5,
.btn-6,
.btn-7 {
    -moz-user-select: none;
    /* 火狐 */
    -webkit-user-select: none;
    /* webkit浏览器 */
    -ms-user-select: none;
    /* IE10 */
    -khtml-user-select: none;
    /* 早期浏览器 */
    user-select: none;
    cursor: pointer;
}

/* Tips */
.tips-wrapper {
    position: fixed !important;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #CCC;
    border-radius: 3px;
    z-index: 10000;
}

.tips-box {
    background-color: #FFF;
    padding: 1px solid #FFF;
}

.tips-content {
    padding: 5px 10px;
    break-wrap: break-word;
    word-break: break-all;
}

.tips-ui-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #F4D390;
}

.show-time-out {
    display: block;
    margin-top: 10px;
    margin-right: 40px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
}

.tips-success,
.tips-error,
.tips-waring {
    border: 3px solid #ccc;
    border: 3px solid rgba(0, 0, 0, 0.15);
    font-size: 18px;
    color: #6e6e6e;
}
.tips-success .tips-content,
.tips-error .tips-content,
.tips-waring .tips-content {
    padding: 0 0 0 40px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.tips-success .tips-ui-arrow-down,
.tips-error .tips-ui-arrow-down,
.tips-waring .tips-ui-arrow-down {
    display: none;
}
.tips-success .tips-box,
.tips-error .tips-box,
.tips-waring .tips-box {
    padding: 40px 40px 25px 40px;
    background-color: #FFF;
}

.tips-success .tips-content {
    background-image: url(images/tips_success.png);
}

.tips-waring .tips-content {
    background-image: url(images/tips_waring.png);
}

.tips-error .tips-content {
    background-image: url(images/tips_error.png);
}

.tips-ui-loading {
    border-color: #e2e2e2;
    white-space: nowrap;
}
.tips-ui-loading .tips-content {
    padding-left: 35px;
    margin: 0 10px;
    color: #666;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    background-image: url(images/ajax-loader.gif);
    background-position: 0 center;
    background-repeat: no-repeat;
}

.tips-ui-target {
    background-color: #ffe33b;
    border-color: #ffe33b;
    color: #710c0c;
}
.tips-ui-target .tips-content {
    padding: 2px 10px;
    font-size: 12px;
}
.tips-ui-target .tips-ui-arrow-up,
.tips-ui-target .tips-ui-arrow-down {
    position: absolute !important;
    left: 90%;
    background: none !important;
}
.tips-ui-target .tips-ui-arrow-up {
    top: -3px;
    z-index: 10;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #ffe239 transparent;
    border-top: none;
}
.tips-ui-target .tips-ui-arrow-down {
    top: -7px;
    z-index: 1;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #ffe239 transparent;
    border-top: none;
}

.tips-ui-b {
    background-color: #ffe33b;
    border-color: #ffe33b;
    color: #710c0c;
    border-radius: 2px;
}
.tips-ui-b .tips-box {
    background: none;
}
.tips-ui-b .tips-ui-arrow-up,
.tips-ui-b .tips-ui-arrow-down {
    position: absolute !important;
    left: 10px;
    top: auto !important;
    background: none !important;
}
.tips-ui-b .tips-ui-arrow-up {
    display: none;
    z-index: 10;
    bottom: -10px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #ffe33b transparent transparent transparent;
    border-bottom: none;
}
.tips-ui-b .tips-ui-arrow-down {
    z-index: 1;
    bottom: -7px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #ffe33b transparent transparent transparent;
    border-bottom: none;
}
.tips-ui-b .tips-content {
    padding-left: 25px;
    background: url(images/tips_icons.png) no-repeat 3px 4px;
}

.input-tips-error .tips-content {
    padding-left: 25px;
    background: url(images/tips_icons.png) no-repeat 3px 4px;
}

.input-tips-error-box {
    border: 1px solid #ffe33b !important;
    box-shadow: 0 0 2px #ffe33b !important;
}

.input-tips-error {
    border-color: #ffe33b !important;
}

/* placeholder */
.placeholder-box {
    position: relative;
}

div.placeholder {
    display: none;
    position: absolute;
    top: 0;
    color: #aaaaaa;
    z-index: 0;
    _z-index: 2;
    white-space: nowrap;
}

input[placeholder],
input.placeholder {
    position: relative;
    z-index: 1;
    background-color: transparent;
    background-image: url(images/opacity_0.gif);
}

.title-tips-top .arrow-top {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #cecece transparent transparent transparent;
    border-bottom: none;
    bottom: -7px;
    z-index: 0;
}
.title-tips-top .arrow-bottom {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: solid dashed dashed dashed;
    border-color: #fff transparent transparent transparent;
    border-bottom: none;
    bottom: -6px;
    z-index: 1;
}

.title-tips-bottom .arrow-top {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #cecece transparent;
    border-top: none;
    top: -7px;
    z-index: 0;
}
.title-tips-bottom .arrow-bottom {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 7px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #fff transparent;
    border-top: none;
    top: -6px;
    z-index: 1;
}

.title-tips {
    position: absolute;
    border: 1px solid #cecece;
    background-color: #FFF;
    padding: 5px;
    font-size: 12px;
    color: #5e5e5e;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    z-index: 999999999;
}
.title-tips em {
    position: absolute;
    left: 50%;
    margin-left: -7px;
}

.num-add,
.num-reduce {
    position: absolute;
    cursor: pointer;
    z-index: 200;
    width: 14px;
    height: 14px;
    background-image: url(images/arrow_num.gif);
    background-repeat: no-repeat;
    -moz-user-select: none;
    /* 火狐 */
    -webkit-user-select: none;
    /* webkit浏览器 */
    -ms-user-select: none;
    /* IE10 */
    -khtml-user-select: none;
    /* 早期浏览器 */
    user-select: none;
}

.num-add {
    background-position: 0 0;
}

.num-reduce {
    background-position: 0 -13px;
}

.dialog-layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #8f8f8f;
    z-index: 1000;
    opacity: 0.61;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity= 61 );
}

.dialog-wrap {
    position: fixed !important;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #FFF;
    z-index: 1100;
    opacity: 0;
    border: 3px solid #666;
    border: 3px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    outline: none;
    color: #000;
}

.dialog-header {
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    font-size: 18px;
    color: #222;
}

.dialog-footer {
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.dialog-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    font-family: 'Arial';
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #808080;
    font-size: 18px;
    background: url(images/close_12x12.gif) no-repeat center center;
}

.dialog-ok,
.dialog-cancle{
    border: none;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    font-size: 20px;
    padding: 0 30px;
    -moz-user-select: none;
    /* 火狐 */
    -webkit-user-select: none;
    /* webkit浏览器 */
    -ms-user-select: none;
    /* IE10 */
    -khtml-user-select: none;
    /* 早期浏览器 */
    user-select: none;
}

.tips_waring {
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
}
.tips_waring span.icons {
    display: inline-block;
    width: 40px;
    height: 30px;
    overflow: hidden;
    background: url(images/tips_waring.png) no-repeat 0 0;
}
.tips_waring span {
    display: inline-block;
    vertical-align: middle;
}

.dialog-article {
    position: relative;
}

.dialog-confirm {
    width: 70%;
    margin: auto;
    padding: 30px 10px 30px 40px;
    background: url(images/tips_waring.png) no-repeat 0 center;
    zoom: 1;
    font-size: 18px;
}

.confirm .dialog-article {
    text-align: center;
}
.confirm .dialog-confirm {
    width: auto;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.notice {
    position: relative;
    min-height: 78px;
    height: auto !important;
    height: 78px;
    padding-left: 50px;
    border: 1px solid #edf3fd;
    background-color: #f5fbfe;
    color: #ffa200;
    font-size: 14px;
    border-radius: 3px;
}
.notice p {
    margin: 10px 0;
}
.notice span.icons {
    position: absolute;
    top: 12px;
    left: 15px;
    width: 26px;
    height: 26px;
    background-image: url("images/icons_2.png");
    _background-image: url("images/icons_2-8.png");
    background-repeat: no-repeat;
    background-position: -32px -2px;
}

/*类别选择*/


.search-sblb .search-wrap {
    position: relative;
    width: 291px;
    height: 33px;
    border: 1px solid #019fe8;
    margin: auto;
}
.search-sblb input {
    position: absolute;
    left: 0;
    top: 0;
    width: 217px;
    height: 33px;
    line-height: 33px \9;
    padding: 0 10px;
    border: 0;
}
.search-sblb .btn-1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 53px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-image: url("images/icons_2.png");
    _background-image: url("images/icons_2-8.png");
    background-position: -25px -350px;
}
.search-sblb .search-result {
    position: absolute;
    z-index: 9;
    top: 34px;
    left: -1px;
    width: 240px;
    font-size: 12px;
    background-color: #FFF;
}
.search-sblb .search-result ul {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #c2c2c2;
}
.search-sblb .search-result li {
    position: relative;
    width: 100%;
    height: 23px;
    line-height: 23px;
    margin: auto;
    cursor: pointer;
}
.search-sblb .search-result li:hover {
    background: #eceef5;
}
.search-sblb .search-result li span {
    display: inline-block;
    width: 177px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
}
.search-sblb .search-result span,
.search-sblb .search-result em {
    height: 23px;
    line-height: 23px;
}
.search-sblb .search-result em {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    color: #ff8500;
}

#shenBaoLeiBie {
    position: relative;
}

dl.changyongleibie {
    margin-top: 20px;
}
dl.changyongleibie dt {
    float: left;
    width: 104px;
    height: 25px;
    line-height: 25px;
}
dl.changyongleibie dd {
    margin-left: 104px;
}
dl.changyongleibie span {
    float: left;
    margin: 0 10px 10px 0;
    height: 23px;
    line-height: 23px;
}
dl.changyongleibie span.item {
    float: left;
    border: 1px dashed #d7d7d7;
    padding: 0 10px;
    color: #c00;
    cursor: pointer;
}
dl.changyongleibie span.item:hover {
    border-color: #019fe8;
}
dl.changyongleibie span.gray {
    color: gray;
}


.leibie-wrap {
    font-size: 12px;
    background-color: #00a0e8;
    padding: 2px;
}

.leibie-wrap span.arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #007bb2;
}

.leibie-wrap .leibie-menu {
    float: left;
    width: 190px;
    position: static;
    padding: 10px 0;
}

.leibie-wrap .leibie-menu li a{
    display: block;
    width: 170px;
    height: 30px;
    line-height: 30px;
    background-color: #00a0e8;
    color: #ffffff;
    text-indent: 1em;
    text-decoration: none;
    position: relative;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leibie-wrap .leibie-menu li a.active{
    background-color: #ffffff;
    color: #000000;
}

.leibie-wrap .leibie-menu li a.active span.arrow {
    border-color: transparent transparent transparent #fff;
}

.leibie-wrap .leibie-content{
    float: right;
    width: 482px;
    background-color: #ffffff;
    margin-left: 0;
    border: none;
    height: 530px;
    overflow-x: inherit;
    overflow-y: auto;
    padding: 15px;
}

.leibie-wrap .leibie-content li{
    padding-top: 10px;
    border-bottom: 1px solid #ededed;
}

.leibie-wrap .leibie-content li div.fl{
    position: relative;
    width: 50px;
    line-height: 20px;
    padding: 0 20px 10px 0;

}

.leibie-wrap .leibie-content li div.fl span.arrow {
    border-color: transparent transparent transparent #aaaaaa;
    top: 5px;
    margin-top: 0;
}

.leibie-wrap .leibie-content li div.fr{
    width: 412px;
}

.leibie-wrap .leibie-content li div.fr a{
    padding: 0 10px;
    border-left: 1px solid #aaaaaa;
    line-height: 12px;
    margin:4px 0 14px;
}
.leibie-wrap .leibie-content li div.fr a:hover{
    color: #00a0e8;
}

#div-japan-tips{
    color: #ff0000;
    border:1px dotted pink;
    margin-top: 10px;
    padding: 0 5px;
}



































/*----------------------
reset样式重置
---------------------------*/

body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,input,select,textarea,th,td{margin: 0; padding: 0;}
body,input,select{font-size: 12px; font-family: '微软雅黑', '黑体', "arial" , "sans-serif";}
ul,ol{list-style: none;}
img{border: none; vertical-align: middle;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize: none; overflow: auto;}

body{background-color: #f8f8f8; min-width: 1190px;}
a{color: #019fe8;}

/*----------------------
public公共类
---------------------------*/

.clearfix{*zoom: 1;}
.clearfix:after{display: block; content: ""; clear: both;}
.clear{height: 0; line-height: 0; font-size: 0; overflow: hidden; clear: both;}
.fl{float: left;}
.fr{float: right;}
.hide{display: none;}
.middle{display: inline-block; vertical-align: middle;}
.center{text-align: center;}
.ellipsis{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.wrap{width: 1190px; margin: 0 auto;}
*[disabled], .disabled{cursor: not-allowed !important;}


.loading{padding: 35px; text-align: center;}
.userPhoto{width: 80px; height: 80px; position: relative; overflow: hidden;}
.userPhoto img{ background-color: #7dceff; border-radius: 50%; width: 80px; height: 80px;}

/*----------------------
icon图标
---------------------------*/

/*动态图标*/
.icon-new{display: inline-block; vertical-align: middle; width: 23px; height: 12px; background: url("images/new.gif?time=20160428") 0 0 no-repeat; line-height: 0; font-size: 0;}
.icon-loading{display: inline-block; vertical-align: middle; width: 24px; height: 24px; background: url("images/loading.gif?time=20160428") 0 0 no-repeat;}
.icon-logo{display: inline-block; vertical-align: middle; width: 280px; height: 60px; background: url("images/logo_transrush.png?time=20160727") 0 0 no-repeat;}

/*静态图标*/
.icon{background:url("images/icon.png?time=20160720")  no-repeat; display: inline-block; line-height: 0; font-size: 0; vertical-align: middle;}
.icon-whiteLock{height:14px;width:10px;background-position:0 0;}
.icon-blueClose{height:11px;width:11px;background-position:-10px 0;}
.icon-grayClose{height:11px;width:11px;background-position:-21px 0;}
.icon-orangeClose{height:13px;width:13px;background-position:-32px 0;}
.icon-solidDownArrow{height:16px;width:16px;background-position:-45px 0;}
.icon-validate{height:16px;width:16px;background-position:-61px 0;}
.icon-upArrow{height:16px;width:16px;background-position:-77px 0;}
.icon-grayEdit{height:16px;width:16px;background-position:-93px 0;}
.icon-grayRightArrow{height:16px;width:16px;background-position:-109px 0;}
.icon-help{height:16px;width:16px;background-position:-125px 0;}
.icon-grayDownArrow{height:16px;width:16px;background-position:-141px 0;}
.icon-solidGrayDownArrow{height:16px;width:16px;background-position:-157px 0;}
.icon-solidRightArrow{height:16px;width:16px;background-position:-173px 0;}
.icon-solidLeftArrow{height:16px;width:16px;background-position:-189px 0;}
.icon-grayUpArrow{height:16px;width:16px;background-position:-205px 0;}
.icon-solidUpArrow{height:16px;width:16px;background-position:-221px 0;}
.icon-blueDownArrow{height:16px;width:16px;background-position:-237px 0;}
.icon-blueUpArrow{height:16px;width:16px;background-position:-253px 0;}
.icon-solidGrayRightArrow{height:16px;width:16px;background-position:-269px 0;}
.icon-blueEdit{height:16px;width:16px;background-position:-285px 0;}
.icon-blueLocation{height:20px;width:17px;background-position:-301px 0;}
.icon-yellowLocation{height:24px;width:18px;background-position:-318px 0;}
.icon-sina{height:19px;width:19px;background-position:-336px 0;}
.icon-tenx{height:19px;width:19px;background-position:-355px 0;}
.icon-whiteBack{height:20px;width:20px;background-position:-374px 0;}
.icon-whiteSearch{height:20px;width:20px;background-position:-394px 0;}
.icon-rushYellow{height:21px;width:21px;background-position:-414px 0;}
.icon-rushGray{height:21px;width:21px;background-position:-435px 0;}
.icon-orangeNotice{height:23px;width:24px;background-position:-456px 0;}
.icon-goldBadge{height:24px;width:24px;background-position:-480px 0;}
.icon-grayBadge{height:24px;width:24px;background-position:-504px 0;}
.icon-tickGreen{height:16px;width:26px;background-position:-528px 0;}
.icon-whiteCusService{height:27px;width:33px;background-position:-554px 0;}
.icon-successGreen{height:38px;width:38px;background-position:-587px 0;}
.icon-blueUploadImg{height:29px;width:42px;background-position:-625px 0;}
.icon-grayUploadImg{height:29px;width:42px;background-position:-667px 0;}
.icon-alertYellow{height:43px;width:46px;background-position:-709px 0;}
.icon-cusService{height:41px;width:48px;background-position:-755px 0;}
.icon-taobaoPartner{height:30px;width:70px;background-position:0 -25px;}
.icon-visaPartner{height:30px;width:70px;background-position:-70px -25px;}
.icon-tenpayPartner{height:30px;width:70px;background-position:-140px -25px;}
.icon-tmallPartner{height:30px;width:70px;background-position:-210px -25px;}
.icon-mastercardPartner{height:30px;width:70px;background-position:-280px -25px;}
.icon-amazonPartner{height:30px;width:70px;background-position:-350px -25px;}
.icon-bocPartner{height:30px;width:70px;background-position:-420px -25px;}
.icon-ebayPartner{height:30px;width:70px;background-position:-351px -56px;}
.icon-99billPartner{height:30px;width:70px;background-position:0 -56px;}
.icon-singpostPartner{height:30px;width:70px;background-position:-70px -56px;}
.icon-0573cnPartner{height:30px;width:70px;background-position:-140px -56px;}
.icon-alipayPartner{height:30px;width:70px;background-position:-210px -56px;}
.icon-paypalPartner{height:30px;width:70px;background-position:-280px -56px;}
.icon-pay99bill{height:50px;width:74px;background-position:-626px -30px;}
.icon-userPhoto{height:80px;width:80px;background-position:-709px -44px;}
.icon-payAlipay{height:50px;width:91px;background-position:-491px -28px;}
.icon-rAgreeGray{height:37px;width:330px;background-position:-331px -87px;}
.icon-rAgreeGreen{height:37px;width:330px;background-position:0 -87px;}
.icon-copy{height:16px;width:15px;background-position:-593px -41px;}
.icon-spdbPartner{height:30px;width:70px;background-position:0 -125px;}
.icon-americanexpressPartner{height:30px;width:70px;background-position:-71px -125px;}

/*----------------------
#header页头
---------------------------*/

#header .topBar{background: #f7f7f7; border-bottom: 1px solid #eeeeee;}
#header .topBar .bulletin{position: relative; padding: 10px;}
#header .topBar .bulletin h3{color: #ff7200; font-size: 14px; font-weight: bold;}
#header .topBar .bulletin h3 .icon-orangeNotice{margin-right: 10px;}
#header .topBar .bulletin .cont{text-indent: 35px;}
#header .topBar .bulletin .icon-orangeClose{position: absolute; right: 10px; top: 15px; cursor: pointer;}
#header .banner{position: relative; margin: 0 auto; text-align: center;}
#header .banner.hide{display: none;}
#header .banner .icon-orangeClose{position: absolute; right: 10px; top: 10px; background-color: #ffffff; cursor: pointer; display: none;}
#header .navBar{background-color: #ffffff; border-bottom: 1px solid #eeeeee;}
#header .navBar .brand{padding: 10px 0;}
#header .navBar .brand img{width: 280px; height: 60px;}
#header .navBar .navigation{position: relative; z-index: 99;}
#header .navBar .navigation ul{ padding-left: 180px; }
#header .navBar .navigation .stick{height: 2px; line-height: 0; font-size: 0; background-color: #019fe8; position: absolute; z-index: 9; bottom: -1px;}
#header .navBar .navigation li{float: left;}
#header .navBar .navigation li a{display: inline-block; height: 80px; line-height: 80px; padding: 0 15px; font-size: 16px; background-color: #ffffff; color: #333333; cursor: pointer; text-decoration: none;}
#header .navBar .navigation li.active a{color: #019fe8;}
#header .navBar .navigation li a .icon-solidGrayDownArrow{margin-left: 5px;}
#header .navBar .navigation ol{position: absolute; top: 81px; border-top: 1px solid #eeeeee;}
#header .navBar .navigation ol li{float: none;}
#header .navBar .navigation ol li a{display: block; height: 34px; line-height: 34px; font-size: 14px; color: #666666 !important;}
#header .navBar .navigation ol li a:hover{background-color: #019fe8; color: #ffffff !important;}
#header .switch-country{padding: 27px 0 0 30px; height: 53px; color: #333333;}
#header .switch-country .line{color: #aaaaaa;}
#header .switch-country .ui-icon-caret-1-s{font-size: 18px; color: #aaaaaa;}
#header .switch-country .dropdown-menu{top: 65px; right: 0px; z-index: 999; border: 1px solid #eeeeee;}
#header .switch-country .dropdown-menu a{display: block; padding: 0 10px; color: #333333;}
#header .switch-country .dropdown-menu a:hover{background-color: #eeeeee;  color: #019fe8; text-decoration: none;}
#header .switch-country img{width: 24px;}

#header .current-country{padding: 30px 0 0 30px; color: #999999;}
#header .current-country span{color: #333333;}

#header .userinfo{height: 80px; line-height: 76px; font-size: 12px; color: #c0c0c0;}

/*----------------------
.location当前位置
---------------------------*/

.location{padding: 10px 0;}
.location li{float: left;}
.location .icon{margin: 0 5px;}
.location a,
.location strong{display: inline-block; vertical-align: middle;}
.location a{color: #5d5d5d;}
.location strong{color: #019fe8; font-weight: normal;}

/*----------------------
.main主体
---------------------------*/

.uc-main{background-color: #ffffff; border: 1px solid #eeeeee; margin-bottom: 40px; overflow: hidden;}
.uc-main .uc-aside{float: left; width: 200px; border-right: 1px solid #eeeeee; height: 950px; padding-bottom: 5000px; margin-bottom: -5000px;}

.uc-main .uc-aside .userinfo .loading{padding-top: 45px; height: 75px; text-align: center;}
.uc-main .uc-aside .usermenu{border-top: 1px solid #eeeeee;}
.uc-main .uc-aside .usermenu li{border-bottom: 1px solid #ffffff;}
.uc-main .uc-aside .usermenu li a:hover{background-color: #dff5ff; border-left-color: #dff5ff;}
.uc-main .uc-aside .usermenu li a{display: block; height: 50px; line-height: 50px; padding: 0 15px; font-size: 16px; color: #333333; text-decoration: none; border-left: 2px solid #ffffff;}
.uc-main .uc-aside .usermenu li a span{display: inline-block; vertical-align: middle; margin-right: 5px;}
.uc-main .uc-aside .usermenu li .ui-icon{font-size: 22px;}
.uc-main .uc-aside .usermenu li .badge{display: inline-block; width: 15px; height: 15px; line-height: 15px; text-align: center; border-radius: 50%; background-color: #ff7200; color: #fff; font-size: 11px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.uc-main .uc-aside .usermenu li.active,
.uc-main .uc-aside .usermenu li.active:hover{background-color: #dff5ff;}
.uc-main .uc-aside .usermenu li.active a{color: #019fe8; border-left-color: #019fe8; position: relative;}
.uc-main .uc-aside .usermenu li.active a .ui-icon-caret-1-e{position: absolute; right: 5px; font-size: 16px;}

.uc-main .uc-content{float: left; width: 927px; padding:0 30px 30px; }

/*----------------------
#footer页脚
---------------------------*/

#footer{background-color: #ffffff; color: #b4b4b4; border-top: 1px solid #eeeeee; padding: 30px 0 60px;}
#footer a{color: #838383;}
#footer a:hover{color: #019fe8;}
#footer .line{margin: 0 5px;}
#footer dt strong{font-size: 18px; color: #019fe8;}
#footer dd{padding-top: 20px;}
#footer .about-us{width: 220px; font-size: 12px;}
#footer .about-us .icon-sina{margin-left: 10px;}
#footer .about-us .icon-tenx{margin-left: 10px;}
#footer .about-us .tel-box{padding-top: 20px;}
#footer .about-us .tel{font-size: 16px; font-weight: bold; color: #838383; margin-left: 10px;}
#footer .partners{width: 470px; padding-left: 22px; border-left: solid 1px #ececec; border-right: solid 1px #ececec;}
#footer .partners dd{padding-top: 25px;}
#footer .partners a{display: inline-block; margin: 0 0 4px 0; *margin: 0 4px 4px 0;}
#footer .partners a img{width: 72px; height: 32px;}
#footer .friends{width: 453px; padding-left: 22px; font-size: 12px;}
#footer .friends a{display: block; float: left; width: 65px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 0 10px 5px 0;}
#footer .copyright{padding-top: 50px; font-size: 12px; text-align: center;}

/*----------------------
.validate错误提示
---------------------------*/

.validate-wrap{position: relative;}
.validate-wrap .error{border: 1px solid #ffe33b !important; box-shadow: 0 0 2px #ffe33b !important;}
.validate{position: absolute; background-color: #ffe33b; color: #710c0c; border: 1px solid #ffe33b; font-size: 12px; line-height: 20px; height: 20px; padding: 0 10px 0 5px;}
.validate.valid{display: none !important;}
.validate .icon-validate{margin: 0 5px 3px 0;}
.validate .validate-arrow{position: absolute; width: 0; height: 0; line-height: 0; font-size: 0; border: 6px dashed transparent;}
.validate.left .validate-arrow{border-left-style: solid; border-left-color: #ffe33b; right: -12px; top: 50%; margin-top: -6px;}
.validate.right .validate-arrow{border-right-style: solid; border-right-color: #ffe33b; left: -12px; top: 50%; margin-top: -6px;}
.validate.top .validate-arrow{border-top-style: solid; border-top-color: #ffe33b; bottom: -12px; left: 7px;}
.validate.bottom .validate-arrow{border-bottom-style: solid; border-bottom-color: #ffe33b; top: -12px; left: 12px;}

/*----------------------
.scrollbar自定义滚动条
---------------------------*/

.j-scroll{*zoom: 1;}
.j-scroll:after{content: ""; display: block; clear: both;}
.scroll-wrap{height: 270px; float: left; position: relative; overflow: hidden;}
.scroll-content{position: absolute;}
.y.scroll-bar{width: 6px; height: 270px; _height: 270px !important; background-color: #eeeeee; float: right; position: relative; display: none;}
.y.scroll-block{position: absolute; width: 6px; _width: 6px !important; height: 30px; background-color: #cccccc; cursor: pointer; border-radius: 5px;}
.x.scroll-bar{height: 6px; background-color: #eeeeee; clear: both; position: relative; display: none;}
.x.scroll-block{position: absolute; width: 30px; height: 6px; line-height: 0; font-size: 0; background-color: #cccccc; cursor: pointer; border-radius: 5px;}

/*----------------------
.extent-dialog对话框
---------------------------*/

.extent-prompt.ui-dialog-content,
.extent-confirm.ui-dialog-content{font-size: 15px; padding:0 25px 0 42px; text-indent: -27px;}
.extent-prompt span.ui-icon,
.extent-confirm span.ui-icon{font-size: 22px; position: relative; bottom: -3px;}
.extent-prompt span.ui-icon-circle-solid-exclamation,
.extent-confirm span.ui-icon-circle-solid-exclamation{color: #f29702;}
.extent-prompt span.ui-icon-circle-solid-tick,
.extent-confirm span.ui-icon-circle-solid-tick{color: #8ec31f;}
.extent-prompt span.ui-icon-circle-solid-cross,
.extent-confirm span.ui-icon-circle-solid-cross{color: #ff0000;}
.extent-prompt span.ui-icon-circle-solid-information,
.extent-confirm span.ui-icon-circle-solid-information{color: #019fe8;}

/*----------------------
.dropdown下拉列表
---------------------------*/

.dropdown{position: relative; cursor: pointer;}
.dropdown-menu{position: absolute; display: none; background-color: #ffffff;}
.dropdown-menu li{white-space: nowrap; height: 34px; line-height: 34px;}

/*----------------------
.info-fixedPanel活动页面固定面板
---------------------------*/

.info-fixedPanel{position: fixed; width: 1188px; min-height: 46px; left: 50%; margin-left: -595px; bottom: 0px; z-index: 9999;}
.info-fixedPanel img{width: 1190px;}
.info-fixedPanel .ui-icon{position: absolute; top: 5px; right: 10px; font-size: 24px; color: #ff0000; cursor: pointer;}