@charset "utf-8";
* {
	margin:0;
	padding:0;
	outline:0
}
body {
	font-family:Arial,Geneva,sans-serif;
	background:#DEDEDE url(../images/bg_body.png) repeat-x;
	color:#3c3c3d;
	font-size:12px
}
#wrapper {
}
.container {
	margin:0 auto;
	width:986px
}
a {
	text-decoration:none;
	color:#0094fc
}
img {
	border:0
}
img.error {
	overflow:hidden;
	height:0;
	width:25px
}
img.captcha-image {
	cursor:pointer
}
.red {
	color:red!important
}
.blue {
	color:#00f!important
}
.green {
	color:green!important
}
.clear {
	clear:both
}
.hide {
	display:none
}
#logo,#search .submit,#nav li.home a,#movie-hot .prev,#movie-hot .next,#movie-hot .listfilm .overlay,#movie-recommend .col2 .blockbody li,.block .blocktitle,#movie-update .types .type .btn.active,ul.list-film li .stats .liked,#chart .st,#page-info .btn-watch,#page-info .like-icon,#page-list .filter,.list-film li .speaker,.listfilm li .speaker,#page-watch .action .icon,#page-watch .action .add-bookmark,#page-watch .action .add-bookmark:hover,.server .label i,#comment .tabs .tab.active,.member-form .control-groups .help i,.member-form .control-groups .btn,#search .autocomplete-list li.item-1,#login-form .submit,#sign .logged .bookmark .icon,#sign .bookmark ul li strike,#sign .bookmark ul li.item-1,#sign .bookmark ul li:first-child,#sign .bookmark ul li a,#footer #info,#info i.ads,#info i.email {
	background-image:url(../images/sprite1.png)
}
.icon {
	width:16px;
	height:16px;
	display:block
}
.icon.light {
	background-position:-170px -65px
}
.icon.like {
	background-position:-281px -110px
}
.icon.like2 {
	background-position:-261px -110px
}
#header {
	display:block;
	height:88px
}
#logo {
	background-position:0 0;
	width:166px;
	height:61px;
	display:block;
	float:left;
	margin-right:10px;
	*margin-top:10px
}
#logo a {
	text-transform:lowercase;
	color:#aaa;
	display:block;
	font-size:12px;
	font-weight:400;
	letter-spacing:3px;
	padding-left:15px;
	padding-top:40px;
	font-family:Arial,Helvetica,sans-serif;
	*width:150px;
	*height:21px
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#logo a {
		color:#bbb
	}
}
#sign {
	float:right;
	margin-right:25px;
	font-weight:700;
	font-size:11px;
	margin-top:10px;
	*margin-top:20px
}
#sign span.sep {
	border-right:1px solid #dcdcdc;
	display:block;
	height:16px;
	margin:0 16px;
	float:left
}
#sign a {
	color:#606060;
	float:left
}
#sign a:hover {
	color:#888
}
#sign .guest a.login {
	color:#2AA5F5
}
#sign .logged {
}
#sign .logged span.welcome {
	float:left;
	font-weight:400;
	margin-right:5px
}
#sign .logged .bookmark {
	color:#008ae0;
	float:left;
	*z-index:10;
	*margin-right:0;
	position:relative
}
#sign .logged .bookmark span {
	cursor:pointer
}
#sign .logged .bookmark:hover {
	color:#666
}
#sign .logged .bookmark .icon {
	background-position:-262px -111px;
	float:left;
	margin-right:5px
}
#sign .bookmark.show span {
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 0 0;
	-webkit-border-radius:3px 0 0
}
#sign .bookmark ul {
	display:none;
	position:absolute;
	font-size:11px;
	right:-40px;
	*right:3px;
	top:28px;
	width:280px;
	text-align:left;
	background:#fff;
	z-index:9;
	padding:0 8px 10px;
	border:1px solid #1e9fef;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px
}
#sign .bookmark ul li {
	border-bottom:1px solid #efefef;
	overflow:hidden;
	height:30px;
	line-height:30px;
	padding:0 13px 0 4px;
	font-size:11px;
	font-family:Arial,Helvetica,sans-serif
}
#sign .bookmark ul li.item-1,#sign .bookmark ul li:first-child {
	background-position:220px -517px;
	margin-top:-11px;
	padding-top:13px
}
#sign .bookmark ul li.no-results {
	text-align:center;
	list-style:none;
	color:#555
}
#sign .bookmark ul li a {
	background-position:-283px -58px;
	background-repeat:no-repeat;
	color:#3F3F3F;
	font-weight:400;
	padding-left:16px
}
#sign .bookmark ul li a:hover {
	color:#1e9fef
}
#sign .bookmark ul li strike {
	background-position:-169px -102px;
	display:block;
	float:right;
	height:10px;
	margin-top:8px;
	padding:2px;
	width:10px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px
}
#sign .bookmark ul li strike:hover {
	background-color:#ccc;
	cursor:pointer
}
#search {
	height:30px;
	width:402px;
	margin-top:13px;
	position:relative;
	margin-left:175px;
	*margin-left:0
}
#search .keyword {
	float:left;
	width:340px;
	color:#5c5b5b;
	padding:6px 15px 5px;
	background-color:#fff;
	border-radius:30px 0 0 30px;
	-moz-border-radius:30px 0 0 30px;
	-webkit-border-radius:30px 0 0 30px;
	border:1px solid #c4c4c4;
	box-shadow:0 5px 7px -5px #CCC inset;
	border-right:0;
	font-size:12px
}
#search .submit {
	float:left;
	height:28px;
	width:30px;
	border-radius:0 30px 30px 0;
	-moz-border-radius:0 30px 30px 0;
	-webkit-border-radius:0 30px 30px 0;
	border:1px solid #c4c4c4;
	box-shadow:0 5px 7px -5px #CCC inset;
	border-left:0;
	background-position:5px -65px;
	*border:1px solid #c4c4c4;
	background-color:#fff;
	cursor:pointer
}
#search ul.autocomplete-list {
	background:#F9F9F7;
	opacity:.98;
	position:absolute;
	list-style:none;
	border:1px solid #bbb;
	top:42px;
	z-index:15;
	left:3px;
	width:390px;
	padding:8px 3px 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
#search ul.autocomplete-list li {
	margin:0 8px;
	display:block;
	height:32px;
	line-height:32px;
	display:block;
	border-bottom:1px solid #e2e2e2
}
#search .autocomplete-list li:first-child,#search .autocomplete-list li.item-1 {
	background-position:2px -451px;
	background-repeat:no-repeat;
	margin-top:-21px;
	padding-top:24px
}
#search ul.autocomplete-list li span {
	font-size:11px;
	color:#bbb
}
#search ul.autocomplete-list li.hover a {
	background:#2AA5F2;
	border-radius:3px
}
#search ul.autocomplete-list li a {
	color:#484848;
	display:block;
	padding:0 8px
}
#search ul.autocomplete-list li a:hover,#search ul.autocomplete-list li.hover a {
	color:#fff
}
#nav {
	margin-top:15px;
	display:block
}
#nav ul {
	display:block
}
#nav h2,#nav h3,#nav h4 {
	font-weight:400;
	font-size:1em
}
#nav li {
	float:left;
	list-style:none;
	font-size:14px;
	position:relative;
	*z-index:12;
	width:auto
}
#nav li.home a {
	background-position:-26px -70px;
	width:24px;
	height:24px;
	display:block;
	padding:0
}
#nav li.home a:hover {
	background-position:-50px -70px;
	width:24px;
	height:24px;
	display:block
}
#nav li a {
	height:32px;
	line-height:24px;
	color:#363636;
	text-transform:uppercase;
	font-family:Arial,Helvetica,sans-serif;
	display:block;
	padding:0 15px;
	*float:left
}
#nav li:hover a,#nav li.active a {
	color:#2aa5f2
}
#nav ul>li:hover>a,#nav ul>li:hover>h3>a {
}
#nav li .sub-menu.show {
	display:inherit
}
#nav .sub-menu {
	display:none;
	position:absolute;
	width:480px;
	z-index:10;
	background:#fff url(../images/bg_subnav.png) repeat-x;
	left:0;
	top:32px;
	list-style:none;
	opacity:.95;
	border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	padding-top:10px;
	padding-bottom:3px;
	border:1px solid #ddd;
	border-bottom:2px solid #ddd;
	border-top:0;
	*width:450px
}
#nav .sub-menu li {
	float:left;
	list-style:none;
	margin:3px 5px
}
#nav .sub-menu li a {
	width:100px;
	color:#313131;
	font-size:11px;
	padding:0 5px;
	text-align:left;
	text-transform:inherit;
	font-weight:400;
	line-height:30px;
	height:30px;
	*text-transform:none;
	*width:90px
}
#nav .sub-menu li a:hover {
	background:#2aa5f2;
	color:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px
}
#body-wrap {
	overflow:hidden;
	font-family:Arial, sans-serif;
	padding-bottom:10px
}
#content {
	float:left;
	width:670px
}
#content1 {
	float:left;
	width:986px
}
#sidebar {
	overflow:hidden;
	float:right;
	width:300px
}
#home-textlink,#home-textlink a {
	color:#666;
	font-weight:400;
	line-height:1.5em;
	font-size:12px
}
#home-textlink a {
	color:#ddd
}
#footer {
	background:#f8f8f8;
	margin-top:30px;
	overflow:hidden;
	line-height:1.6em;
	color:#333;
	font-size:11px
}
#footer .container {
	width:980px;
	clear:both;
	overflow:hidden;
	margin-top:15px
}
#footer .col1 {
	display:block;
	float:left;
	padding-right:10px;
	width:670px
}
#footer .col1 a {
	color:#555
}
.sitemap a {
	font-weight:700;
	color:#000!important
}
.col2 {
	float:right;
	width:250px
}
#info {
	background-position:0 -584px;
	color:#FFF;
	height:87px;
	padding-left:38px;
	width:205px
}
#info a {
	color:#fff
}
#info a:hover {
	color:#ddd
}
#info div {
	line-height:20px
}
#info .title {
	font-weight:700;
	margin-top:9px
}
#info i.email {
	background-position:-214px -67px;
	display:block;
	float:left;
	height:12px;
	margin-top:5px;
	width:20px
}
#info i.ads {
	background-position:-238px -65px;
	display:block;
	float:left;
	height:18px;
	margin-top:5px;
	width:20px
}
#footer .block1 {
	border-bottom:1px solid #dcdcdc;
	overflow:hidden;
	padding-bottom:20px
}
#footer .block2 {
	background:f4f4f4;
	border-top:1px solid #fff
}
#footer .block2 .container {
	margin-top:5px;
	padding-bottom:10px
}
#footer .block2 .copyright {
	color:#535353;
	font-size:11px;
	padding-left:8px
}
.block {
	overflow:hidden;
	margin-bottom:10px;
	clear:both
}
.block .blocktitle {
	background-color:#f8f8f8;
	background-position:0 -187px;
	overflow:hidden;
	border:1px solid #cfd1d1;
	height:39px;
	line-height:36px;
	color:#505050;
	text-transform:uppercase;
	padding-left:16px;
	font-family:Myriad Pro,Arial,Helvetica,sans-serif;
	font-size:13px!important;
	font-weight:700
}
.block .blockbody.list {
	background:url(../images/bg_list.png) repeat-x;
	border:1px solid #DEDEDE;
	border-top:0
}
.block .blocktitle .title {
	float:left;
	font-family:Myriad Pro,Arial,Helvetica,sans-serif;
	font-size:13px!important
}
.block .blockbody,.block .textwidget,.tagcloud,.seo-search {
	background:#fff;
	border:1px solid #cfd1d1;
	border-top:0;
	border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px
}
.seo-search a,.tagcloud a{color:#888;}
.block .blockbody.nocorner {
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0
}
.tabs {
	height:30px
}
.tabs .tab {
	height:30px;
	float:left;
	font-weight:700;
	line-height:30px;
	text-align:center;
	cursor:pointer
}
.tabs .tab:hover {
}
.tabs .tab.active {
	color:#0094fc;
	font-weight:700
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
#movie-hot {
	height:310px;
	width:989px;
	overflow:hidden;
	position:relative;
	font-family:Tahoma,Geneva,sans-serif;
	
}
#movie-hot .next,#movie-hot .prev {
	cursor:pointer;
	height:58px;
	opacity:.8;
	position:absolute;
	top:105px;
	width:45px;
	z-index:5
}
#movie-hot .prev:hover,#movie-hot .next:hover {
	opacity:1
}
#movie-hot .prev {
	background-position:-75px -67px;
	left:3px
}
#movie-hot .next {
	background-position:-120px -67px;
	right:8px;
	*right:12px
}
#movie-hot .listfilm {
}
#movie-hot .listfilm li {
	float:left;
	text-align:center;
	list-style:none;
	position:relative;
	height:300px;
	margin-right:8px
}
#movie-hot .listfilm img {
	color:#BBB;
	display:block;
	height:299px;
	line-height:183px;
	width:239px;
	background:#fff url(../images/loading1.gif) no-repeat center center
}
#movie-hot .listfilm .overlay {
	z-index:2;
	position:absolute;
	bottom:0;
	left:0;
	height:45px;
	width:100%;
	background-position:0 -131px;
	*width:175px
}
#movie-hot .listfilm .status {
	position:absolute;
	background:#D9534F;
	color:#fff;
	font-weight:400;
	font-weight:700;
	font-size:11px;
	font-weight: bold;
	padding:4px 5px;
	top:4px;
	left:2px;
	font-family:Arial, sans-serif
}
#movie-hot .listfilm .name {
	font-weight:700;
	line-height:1.3em;
	font-size:14px;
	font-weight: bold;
	margin-top:5px;
	height:17px;
	overflow:hidden
}
#movie-hot .listfilm .name2 {
	line-height:1.3em;
	font-size:12px;
	font-weight: bold;
	color:#999
}
#movie-hot .listfilm .name a {
	color:#05C9FA
}
#movie-hot .listfilm .name a:hover {
	color:#ddd
}
#chart {
	margin-top:0px
}
#chart .tabs {
	background:#fff;
	border:1px solid #cfd1d1;
	border-top:0;
	border-bottom:0;
	padding-top:8px;
	overflow:hidden
}
#chart .tabs .tab {
	color:#7e7e7e;
	margin:0 10px;
	height:26px;
	line-height:26px;
	width:58px;
	font-family:Arial,Helvetica,sans-serif;
	*width:52px
}
#chart .tabs .tab.active {
	background:#2AA5F2;
	color:#fff;
	border-radius:4px;
	padding:0 6px
}
#chart ul {
	padding:3px
}
#chart li {
	padding:1px 0 3px;
	overflow:hidden;
	list-style:none;
	border-bottom:1px solid #eaeaea;
	font-family:Arial,Helvetica,sans-serif
}
#chart li:last-child {
	border-bottom:0
}
#chart .st {
  background-image: url("../images/icon.png") !important;
  background-origin: padding-box !important;
  background-position: -23px -129px !important;
  background-repeat: no-repeat !important;
  background-size: auto auto !important;
  color: #333333;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  line-height: 26px;
  margin: 8px 0 0 7px;
  text-align: center;
  width: 22px;
}
#chart .st.top {
  background: url("../images/icon.png") no-repeat scroll 0 -128px transparent !important;
  color: #FFFFFF;
}
#chart li .detail {
	margin-left:48px;
	margin-top:4px
}
#chart li .detail .name a {
	color:#2f2f2f;
	line-height:1.5em;
	font-weight:700
}
#chart li .detail .name a:hover {
	color:#666
}
#chart li .detail .views {
	font-size:11px;
	color:#666
}
#movie-recommend {
	margin-top:0px;
	overflow:hidden;
	border:0!important
}
#movie-recommend .col1 {
	float:left;
	width:300px
}
#movie-recommend .col2 {
	float:right;
	width:360px;
	border:1px solid #cfd1d1
}
#movie-recommend .col2 .blocktitle {
	background-image:url(../images/bg_line.png);
	background-position:bottom left;
	background-repeat:repeat-x;
	color:#444;
	border:0;
	height:36px;
	text-transform:none;
	*padding-bottom:1px
}
#movie-recommend .col2 .blocktitle .tabs {
	margin-top:8px;
	height:26px;
	*z-index:2;
	margin-bottom:-1px
}
#movie-recommend .col2 .blocktitle .tab {
	height:26px;
	line-height:27px;
	margin:0 15px 0 -3px;
	padding:0 11px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#7e7e7e;
	*margin-left:1px
}
#movie-recommend .col2 .blocktitle .tab.active {
	border:1px solid #2aa5f2;
	border-bottom:1px solid #fff;
	border-radius:5px 5px 0 0;
	color:#0397f3
}
#movie-recommend .blockbody {
	border:0
}
#movie-recommend ul.list {
	padding:4px 10px 10px;
	*background:#fff;
	*border:0
}
#movie-recommend .col2 .blockbody li {
	background-position:-306px -68px;
	background-repeat:no-repeat;
	list-style:none outside none;
	padding-left:0px;
	overflow:hidden;
	font-size:12px;
	line-height:28px;
	height:36px;
	border-bottom:1px solid #f0f0f0
}
#movie-recommend ul.list li a {
	float:left;
	color:#444;
	font-weight:700
}
#movie-recommend ul.list li a:hover {
	color:#888
}
#movie-recommend ul.list li span {
	float:right;
	color:#3c3c3c;
	margin-right:5px
}
#movie-recommend ul.list li H4 {
	float:right;
	color:#3c3c3c;
	margin-left:5px
	
}
#movie-recommend ul.list li img {
	border: 1px solid #7DC1F1
}
#movie-update {
	font-size:14px
}
#movie-update .types {
	float:left;
	margin-left:25px;
	overflow:hidden
}
#movie-update .types .type {
	float:left;
	margin-right:6px
}
#movie-update .btn {
	text-transform:none;
	cursor:pointer;
	color:#343434;
	font-weight:700;
	padding:0 23px;
	font-size:12px;
	display:block;
	line-height:33px;
	height:40px;
	overflow:hidden;
	*width:50px
}
#movie-update .types .type .btn.active {
	background-position:center -231px;
	color:#fff
}
.breadcrumbs {
	clear:both;
	display:block;
	height:34px;
	padding-left:5px!important
}
.breadcrumbs .item {
	background:url(../images/breadcrumb_sep.png) no-repeat right top;
	padding:0 20px 0 10px;
	float:left;
	height:34px;
	line-height:36px;
	color:#404040;
	text-transform:uppercase;
	font-size:13px;
	font-weight:700
}
.breadcrumbs .item:last-child,.breadcrumbs .item.last-child {
	background-image:none
}
.breadcrumbs .item a {
	color:#404040;
	display:block
}
.breadcrumbs .item a:hover {
	color:#888
}
#page-list .filter {
	font-size:11px;
	background-position:0 -317px;
	height:42px;
	background-color:#fff;
	overflow:hidden;
	clear:both;
	border-left:1px solid #CFD1D1;
	border-right:1px solid #CFD1D1
}
#page-list .filter .item {
	float:left;
	margin-left:6px;
	margin-right:6px;
	font-weight:700;
	color:#3d3d3d;
	height:38px;
	line-height:38px;
	overflow:hidden
}
#page-list .filter .item span {
	margin-top:2px;
	display:block;
	float:left
}
#page-list .filter .item select {
	float:left;
	background:#fff;
	border:1px solid #c4c4c4;
	color:#333;
	height:26px;
	padding:5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:0 3px 4px -2px #ccc inset;
	margin-top:7px;
	margin-left:3px;
	*margin-top:10px
}
#page-list .filter .item select option {
	line-height:26px;
	font-size:11px
}
#page-list .filter .item .btn {
	margin-top:2px;
	background:#2BA5F2;
	border:medium none;
	color:#FFF;
	font-weight:700;
	padding:4px;
	height:26px;
	*padding:0;
	width:90px;
	cursor:pointer;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	*margin-top:8px
}
#page-list .blockbody {
	background:url(../images/bg_list.png) top left repeat-x;
	border-color:#DEDEDE;
	overflow:hidden;
	*background:0
}
#page-list .textlink a {
	color:#0094fc;
	font-size:12px
}
#page-list .page_nav {
	margin-bottom:10px
}
.no-results {
	text-align:center;
	padding:10px 20px;
	font-weight:700
}
#page-info {
}
#page-info .blockbody {
	background:#fff;
	overflow:hidden;
	font-family:Arial,Helvetica,sans-serif;
	padding:0
}
#page-info .info {
	position:relative;
	display:block;
	position:relative;
	width:100%;
	min-height:240px;
	*height:230px
}
#page-info .info .poster {
	width:240px;
	position:absolute;
	top:10px;
	left:10px
}
#page-info .info .poster img {
	border:1px solid #ccc;
	width:228px;
	height:299px;
	padding:3px
}
#page-info .info a {
	color:#2f2f2f
}
#page-info .info a:hover {
	color:#888
}
#page-info .info .fr {
	margin-left:269px
}
#page-info .info .status {
	color:red
}
#page-info .info .title {
	color:#0295F6;
	font-size:28px;
	text-transform:uppercase;
	font-weight:700;
	padding:8px
}
#page-info .info .name2 {
	color:#666;
	padding:0 8px
}
#page-info .info .name2 h3 {
	font-size:12px;
	display:inline;
	font-weight:400;
	margin-right:5px
}
#page-info .info .dinfo {
	overflow:hidden;
	color:#2f2f2f;
	padding-top:6px;
	*display:block
}
#page-info .info dl {
	line-height:22px;
	padding:0 8px;
	overflow:hidden;
	overflow:hidden
}
#page-info .info .col1 {
	float:left;
	width:300px
}
#page-info .info .col2 {
	float:right;
	width:218px;
	padding-left:15px
}
#page-info .info dt {
	clear:left;
	float:left;
	font-size:11px;
	line-height:20px;
	margin-right:10px;
	margin-top:4px
}
#page-info .info dd {
	border-bottom:1px solid #E7E7E7;
	font-weight:700;
	line-height:20px;
	padding:4px 0;
	color:#666
}
#page-info .btn-groups {
	margin-top:25px;
	margin-bottom:20px;
	margin-left:55px!important
}
#page-info .btn-watch {
	background-position:0 -273px;
	background-repeat:no-repeat;
	width:146px;
	height:40px;
	padding:4px 0;
	display:block
}
.like-wrap {
	float:right;
	text-align:center;
	margin-right:16px;
	background-color:#929292;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px
}
.like-stats {
	color:#fff;
	display:inline-block;
	font-weight:700;
	line-height:26px;
	height:26px;
	padding:0 15px 0 6px;
	font-size:11px;
	*display:inline
}
#page-info .like-icon {
	background-position:-280px -109px;
	display:inline-block;
	float:left;
	height:20px;
	margin-right:3px;
	margin-top:3px;
	width:20px
}
#page-info .detail {
}
#page-info .detail .blocktitle {
	background:0;
	padding-left:0;
	height:34px;
	border:0
}
#page-info .detail .tabs {
	padding-left:20px;
	background:url(../images/bg_line.png) repeat-x bottom left;
	height:32px
}
#page-info .detail .tabs .tab {
	margin-right:0;
	text-transform:none;
	padding:0 15px;
	line-height:32px;
	color:#7e7e7e
}
#page-info .detail .tabs .tab.active {
	border:1px solid #2aa5f2;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-bottom:1px solid #fff;
	background:#fff;
	color:#26A7ED
}
#page-info .tabs-content {
	padding:10px;
	line-height:18px
}
#page-info .tabs-content p {
	margin-bottom:6px
}
#page-info .tabs-content a {
	color:#555
}
#page-info .tabs-content a:hover {
	text-decoration:underline
}
#page-info .tabs-content img {
	display:block;
	margin:0 auto;
	border:1px solid #bbb;
	padding:2px
}
#page-info .tags {
	padding:10px 10px 20px;
	font-size:11px;
	font-family:Arial,Helvetica,sans-serif
}
#page-info .tags .label {
	display:inline-block;
	text-transform:uppercase;
	font-weight:700;
	margin-right:6px
}
#page-info .tags .items {
	display:inline;
	text-transform:none;
	font-weight:400
}
#page-info .tags a {
	color:#0094fc;
	font-size:12px
}
#page-info .tags a:hover {
	color:#666
}
#page-info .trailer {
	width:635px;
	height:380px
}
#mediaplayer {
}
#page-watch {
	position:relative
}
#movie {
	width:100%
}
#detail {
}
#page-watch .block {
	margin-bottom:0
}
#page-watch .blockbody {
	padding:10px;
	overflow:hidden;
	border-bottom:0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0
}
#page-watch .download {
	display:block;
	padding:10px 20px;
	text-align:center
}
#page-watch .download a {
	font-size:22px;
	font-weight:700;
	color:#1779B6
}
#page-watch #media {
	display:block;
	width:100%;
	height:420px
}
#page-watch .action {
	clear:both;
	text-align:right;
	width:100%;
	margin-top:6px;
	overflow:hidden
}
#page-watch .action div {
	font-size:11px;
	display:inline-block;
	background:#929292;
	height:22px;
	line-height:21px;
	margin:0 5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-weight:700;
	color:#fff;
	font-size:11px;
	padding:2px 8px;
	cursor:pointer;
	*display:block;
	*float:left
}
#page-watch .action div:hover {
	background:#727272
}
#page-watch .action div.disabled {
	background:#DDD;
	cursor:inherit
}
#page-watch .action div.disabled span:hover {
	color:#666
}
#page-watch .action div .wrap {
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	box-shadow:0 1px 0 0 #222 inset;
	display:block;
	padding:0 10px;
	*margin:0;
	*border:0
}
#page-watch .action .add-bookmark {
	background-color:#26BD54!important;
	background-position:-1px -364px;
	float:left;
	height:23px;
	width:98px
}
#page-watch .action .add-bookmark:hover {
	background-position:-116px -364px;
	background-color:#26BD54
}
#page-watch .action .icon {
	float:left;
	margin-right:3px;
	margin-top:2px
}
#page-watch .toggle-light {
	margin-right:0!important
}
#page-watch .action .toggle-light.off {
	background:#333
}
#page-watch #detail .blockbody {
	padding:0
}
#page-watch .note {
	background:#F2F2F2;
	margin:15px 10px;
	padding:12px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
#page-watch .note li {
	list-style:circle inside;
	font-size:11px;
	line-height:16px;
	margin-left:5px
}
#page-watch .note a {
	color:#0094fc
}
#page-watch .note a:hover {
	text-decoration:underline
}
.serverlist {
	margin:0 10px 10px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #d9d9d9;
	margin-bottom:20px;
	background:#fff;
	overflow:hidden
}
.serverlist .server {
	border-bottom:1px solid #d9d9d9;
	clear:both;
	line-height:25px;
	overflow:hidden;
	padding-bottom:6px;
	padding-top:5px;
	*padding:0;
	*display:block;
	*width:100%;
	*float:left;
	*background:#fff
}
.serverlist .server:last-child {
	border-bottom:0;
	background:#fff
}
.server .label {
	color:#2e2e2e;
	float:left;
	font-size:11px;
	font-weight:700;
	padding-left:10px;
	width:160px
}
.server .label i {
	background-position:-56px -102px;
	background-repeat:no-repeat;
	width:20px;
	height:24px;
	display:block;
	margin-right:6px;
	margin-top:2px;
	float:left
}
.serverlist .server .label img {
	float:right;
	height:11px;
	margin-top:8px;
	width:14px
}
.server .episodelist {
	margin-left:175px;
	overflow:hidden;
	*background:#232323
}
.episodelist li {
	display:inline-block;
	list-style:none;
	*float:left;
	*margin-bottom:3px;
	*background:#fff
}
.episodelist li a {
	font-size:11px;
	display:inline-block;
	background:#E4E4E4;
	line-height:18px;
	font-weight:700;
	color:#5e5e5e;
	padding:2px 9px;
	margin:0 5px 3px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	*display:block;
	*float:left
}
.episodelist li a:hover {
	color:#555;
	background:#d1d1d1
}
.episodelist li a.active {
	background:#2CA3F3;
	color:#fff
}
#comment {
	clear:both;
	margin-top:10px
}
#comment .blocktitle {
}
#comment .tabs {
	float:left;
	margin-left:20px
}
#comment .tabs .tab {
	text-transform:none;
	cursor:pointer;
	color:#343434;
	font-weight:700;
	padding:0 23px;
	font-size:12px;
	display:block;
	line-height:33px;
	height:40px;
	overflow:hidden;
	*width:50px
}
#comment .tabs .tab.active {
	background-position:center -231px;
	color:#fff
}
#comment .tabs-content {
	padding:9px 10px
}
#comment .comment-form {
	background:#F2F2F2;
	padding:10px;
	border-top:1px solid #E9E9E9;
	border-bottom:1px solid #E9E9E9
}
.comment-form .avatar {
	background:url(../images/noavatar.png) no-repeat;
	width:50px;
	height:50px;
	float:left
}
.comment-form form {
	margin-left:60px;
	overflow:hidden
}
.comment-form .message {
	font-family:Tahoma,Geneva,sans-serif;
	font-size:11px;
	padding:3px 5px 10px;
	width:100%;
	*width:90%;
	border:1px solid #BDC7D8;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	resize:vertical;
	height:30px;
	margin-bottom:5px;
	background:#fff;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	color:#333
}
.comment-form .warn {
	font-size:11px;
	color:#888
}
.comment-form .submit {
	background:none repeat scroll 0 0 #5874A6;
	border:1px solid #355495;
	color:#FFF;
	cursor:pointer;
	float:right;
	font-size:11px;
	font-weight:700;
	height:22px;
	line-height:17px;
	padding:0 6px
}
.comment-form .submit.disabled,.comment-form .submit[disabled] {
	background:#5D6E87
}
#comment .comment-list {
}
.comment-list .comment {
	overflow:hidden;
	padding:8px 10px;
	border-bottom:1px solid #ccc;
	font-size:11px
}
.comment-list .comment .avatar {
	float:left;
	width:50px;
	height:50px
}
.comment-list .comment .avatar img {
	widows:50px;
	height:50px
}
.comment-list .comment .detail {
	margin-left:60px
}
.comment-list .comment .username {
	color:#3b5998;
	font-weight:700;
	margin-bottom:3px;
	cursor:pointer
}
.comment-list .comment .username.admin {
	color:red
}
.comment-list .comment .username.mod {
	color:#900
}
.comment-list .comment .username.vip {
	color:#0C6
}
.comment-list .comment .username .account {
	color:#bbb;
	font-weight:400
}
.comment-list .comment .message {
	line-height:1.3em;
	margin-bottom:3px
}
.comment-list .comment .meta {
	color:#888
}
.comment-list .comment .delete {
	display:none;
	background:#2AA5F2;
	color:#FFF;
	cursor:pointer;
	float:right;
	height:11px;
	line-height:9px;
	padding:2px 4px
}
.comment-list .comment:hover .delete {
	display:block
}
#page-error .blockbody {
	background:#181818;
	padding:10px 20px;
	font-size:12px
}
#page-register {
}
.member-form .blockbody {
	padding:30px 25px;
	color:#6a6a6a
}
.member-form .control-groups {
	overflow:hidden;
	padding:8px 0
}
.member-form .control-groups label {
	float:left;
	line-height:30px;
	width:120px;
	padding-left:5px;
	font-weight:400;
	font-size:12px
}
.member-form .control-groups .control {
	margin-left:160px
}
.member-form .control-groups .control .option {
	margin-right:30px
}
.member-form .control-groups .input {
	height:30px;
	line-height:30px;
	padding:0 5px;
	width:250px;
	background:#FFF;
	color:#8C8C8C;
	border:1px solid #c7c7c7;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-right:5px
}
.member-form .control-groups .input.disabled {
	background:#eee;
	cursor:no-drop;
	color:#5b5b5b
}
.member-form .control-groups .input:focus {
	background-position:0 -281px
}
.member-form .control-groups .input.span2 {
	width:72px
}
.member-form .control-groups .help {
	background:#2AA5F2;
	color:#fff;
	font-size:10px;
	margin-left:7px;
	padding:5px 6px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
.member-form .control-groups .help i {
	background-position:-194px -69px;
	display:inline-block;
	height:10px;
	margin-left:-10px;
	margin-right:5px;
	width:6px
}
.member-form .control-groups .btn {
	background-color:#26a0ed;
	background-position:0 -938px;
	background-repeat:repeat-x;
	color:#fff;
	font-weight:700;
	font-size:11px;
	cursor:pointer;
	height:34px;
	line-height:34px;
	margin-right:10px;
	border:0;
	padding:0 15px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px
}
.member-form .btn:hover {
	background:#1b8ed4;
	color:#eee
}
.member-form .messages {
	border:1px solid #249feb;
	color:#249feb
}
.member-form .messages ul {
	margin:10px
}
.member-form .messages li {
	list-style-position:inside;
	line-height:1.4em
}
ul.list-film {
	overflow:hidden;
	clear:both;
	padding:4px;
	font-size:11px;
	*padding:3px
}
ul.list-film li {
	width:33%;
	list-style:none;
	float:left
}

ul.list-film li .inner {
	margin:4px;
	overflow:hidden;
	position:relative;
	border:1px solid #E02B40;
	padding:2px;
	*margin:3px
}
.list-film li .speaker,.listfilm li .speaker {
	background-position:-29px -104px;
	display:inline-block;
	height:18px;
	opacity:.8;
	position:absolute;
	right:5px;
	top:5px;
	width:21px
}
.listfilm li .speaker {
	top:3px;
	right:5px
}
li .speaker:hover {
	opacity:1
}
ul.list-film li img {
	background:#FFF url(../images/loading1.gif) no-repeat center center;
	display:block;
	line-height:118px;
	text-align:center;
	height:275px;
	width:205px
}
ul.list-film li a img {
	color:#666
}
ul.list-film li .info {
	padding:3px 0;
	background:#fff;
	*width:170px
}
ul.list-film li .name,ul.list-film li .name2 {
	line-height:16px;
	color:#666;
	padding:0 8px;
	overflow:hidden;
	height:16px
}
ul.list-film li .name,ul.list-film li .name a {
	color:#272727;
	font-weight:700
}
ul.list-film li .name a:hover {
	color:#888
}
ul.list-film li .status {
	background:#26A7ED;
	color:#FFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:700;
	left:4px;
	padding:3px 5px;
	position:absolute;
	top:253px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px
}
ul.list-film li .stats {
	background:#f4f4f4;
	border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	border-top:1px solid #dedede;
	height:28px;
	line-height:28px;
	font-size:9px;
	overflow:hidden;
	color:#333;
	padding:0 8px;
	*width:154px
}
ul.list-film li .stats .year {
	float:left;
	font-weight:700;
	width:80px;
	border-right:1px solid #dedede
}
ul.list-film li .stats .liked {
	background-position:-283px -79px;
	background-repeat:no-repeat;
	float:right;
	height:19px;
	padding-left:16px
}
.more {
	font-family:Arial,Helvetica,sans-serif;
	font-weight:700;
	float:right;
	text-transform:uppercase;
	background:#26A7ED;
	color:#fff;
	margin-right:8px;
	border-radius:3px;
	line-height:28px;
	padding-right:6px;
	*margin-top:15px;
	*margin-right:0
}
.more a {
	color:#fff;
	padding:0 3px 0 9px;
	height:28px;
	display:block;
	float:left
}
span.page_nav {
	overflow:hidden;
	clear:both;
	display:block;
	text-align:left;
	padding:10px;
	font-size:12px;
	text-transform:uppercase
}
.page_nav .desc {
	margin-right:5px
}
.page_nav .item,.page_nav .current {
	margin:0 3px
}
.page_nav .item a,.page_nav .current {
	background:#FFF;
	padding:6px 10px;
	color:#3b3b3b;
	border-radius:3px;
	font-weight:700
}
.page_nav .item a {
	color:#555
}
.page_nav .current {
	background-color:#2AA5F2;
	color:#fff
}
.page_nav .item a:hover {
	background:#eee
}
#page-post {
}
#page-post .blockbody {
	background:#fff;
	padding:5px 10px;
	line-height:1.5em
}
#page-post .blockbody ul {
	margin-left:20px
}
#page-post .blockbody p {
	margin-bottom:5px
}
#page-post .recent-page {
	margin-left:15px;
	line-height:1.4em;
	margin-top:20px
}
#page-post .recent-page .title {
	font-size:14px;
	margin-bottom:6px;
	font-weight:700
}
.seo-search,.tagcloud {
padding:6px 8px;
}
.tagcloud.blockbody {
	padding:5px
}
.tagcloud li {
	display:inline-block;
	*display:inline
}
.tagcloud li a {
	color:#888;
	margin:2px
}
.tagcloud li a:hover {
	color:#555;
	text-shadow:0 1px 0 #ccc
}
.tagcloud .level-1 {
	font-size:9px
}
.tagcloud .level-2 {
	font-size:10px
}
.tagcloud .level-3 {
	font-size:11px
}
.tagcloud .level-4 {
	font-size:12px
}
.tagcloud .level-5 {
	font-size:13px
}
.tagcloud .level-6 {
	font-size:14px
}
.tagcloud .level-7 {
	font-size:15px
}
.tagcloud .level-8 {
	font-size:16px
}
.tagcloud .level-9 {
	font-size:17px
}
.tagcloud .level-10 {
	font-size:18px
}
#ad_left,#ad_right {
	background:#1E466A
}
.block .subtitle {
	display:block;
	background:#F6F6F6;
	color:#0096f4;
	height:30px;
	line-height:30px;
	font-weight:700;
	padding:0 8px;
	border-bottom:1px solid #e4e4e4;
	text-transform:uppercase;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif
}
.catitems {
	background:#232323
}
.catitems.blockbody {
	border-bottom-color:#e4e4e4;
	padding:0
}
.catitems ul {
	overflow:hidden;
	margin-left:15px;
	padding-bottom:8px;
	*padding-bottom:20px
}
.catitems li {
	width:115px;
	*width:110px;
	display:block;
	float:left;
	list-style:circle;
	height:22px;
	line-height:22px
}
.catitems li a {
	font-size:13px;
	color:#343434;
	font-weight:700;
	line-height:1.5em
}
.catitems li a:hover {
	color:#888
}
#trackIFrame {
	display:none
}
#login-form {
	background:#fff;
	padding:10px 36px 12px
}
#login-form div {
	margin:7px 0;
	margin-bottom:14px;
	overflow:hidden
}
#login-form .title {
	color:#333;
	font-size:16px;
	border-bottom:1px solid #c7c7c7;
	padding-bottom:8px;
	margin-bottom:20px
}
#login-form .input {
	border:1px solid #C7C7C7;
	color:#979797;
	font-size:14px;
	height:36px;
	padding:0 13px;
	width:266px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #c7c7c7;
	font-family:Arial,Helvetica,sans-serif
}
#login-form .submit {
	background-position:0 -399px;
	background-color:#27A1EE;
	height:40px;
	border:0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#fff;
	font-weight:700;
	font-size:14px;
	text-transform:uppercase;
	font-family:Arial,Helvetica,sans-serif;
	padding:0 15px;
	cursor:pointer
}
#login-form .submit:hover {
	background:#1d97e3;
	color:#ddd
}
#login-form .btn-submit {
	display:block;
	float:left
}
#login-form .remember {
	display:block;
	float:left;
	margin-left:26px;
	margin-top:12px
}
.fancybox-skin {
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px
}
.textwidget{padding:6px 8px;}
#page-info .detail img{
  max-width:98%;
}
.f_d_tag {
  display: block;
  font-weight: bold;
  margin: 20px 0 10px;padding:0 10px;
  max-height: 68px;
  overflow: hidden;
  text-align: left;
}
.f_d_tag a {
  background: url("../images/f_tag.png") no-repeat scroll left center #498600;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
  height: 19px;
  line-height: 17px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 6px;
}
.name h2{font-size:1.5em;}
.name span .hide{ position: absolute;top: -9999px;}
#at4-follow{margin-top:20px!important;}
#sidebar .seo-search{background:#fff;}
.detail h2.title{color: #0295F6;
font-size: 16px;
font-weight: 700;
padding: 8px;
text-transform: uppercase;}
span.backlink{
background: none repeat scroll 0 0 #E4E4E4;
border-radius: 2px 2px 2px 2px;
color: #5E5E5E;
display: inline-block;
font-size: 14px;
font-weight: 700;
line-height: 18px;
margin: 0 5px 3px;
padding: 2px 9px;
}
.post-ratings{margin-top:5px;}
.danh-gia{
  bottom: 9px;
  position: relative;
}
.google {
  bottom: 5px;
  display: inline-block;
  left: 4px;
  position: relative;
  top: 1px;
  width: 100px;
}
#easyTooltip {
	width:280px;
	background:#f9f9f9;
	border:1px solid #e1e1e1;
	box-shadow:1px 1px 5px 1px #555;
	font-size:11px;
	z-index:3;
	margin:0 10px 1em 0;
	padding:1px
}
#easyTooltip .panel {
	background:#dedede;
	line-height:1.2em;
	text-transform:capitalize;
	padding:5px 8px
}
#easyTooltip .title {
	font-weight:700;
	color:#336CBB;
	margin-bottom:2px
}
#easyTooltip .title2 {
	margin-bottom:2px;
	color:#888
}
#easyTooltip dt {
	display:inline;
	color:#555
}
#easyTooltip dd {
	display:inline;
	margin-right:5px;
	padding-right:5px;
	color:#888
}
#easyTooltip .desc {
	text-align:justify;
	padding:6px
}
#page-info .btn-watch-mobile {
background: none repeat scroll 0 0 #333333;
border: 1px solid #CCCCCC;
border-radius: 5px 5px 5px 5px;
bottom: 31px;
box-shadow: 0 0 2px #CCCCCC;
color: #FFFFFF!important;
font-size: 1.4em;
left: 177px;
padding: 10px 7px;
position: relative;
text-shadow: 0 0 4px #FFFFFF;
}
#video ul.list-film li .status {
  background: none repeat scroll 0 0 #333333;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 5px;
  position: absolute; 
  top: 183px;
}
#video ul.list-film li .stats .liked {
  background: url("../images/iconVideo.png") no-repeat scroll 0 0 transparent;
  height: 40px;
  padding-left: 16px;
  position: absolute;
  right: 51px;
  top: 92px; 
  width: 41px;
}
#video  .stats h2{font-size:1.2em;}
#video ul.list-film li .stats{background:#333;}
#video ul.list-film li .stats a{color:#fff;}
#moviexk-emailbox {
background: url(http://4.bp.blogspot.com/-1RNaFpYX3fM/UrMEG5_i0pI/AAAAAAAABLc/ogC2HN6lpXs/s1600/moviexk-emailbox.png)no-repeat scroll center center transparent;
height: 106px;
width: 275px;
}
form#moviexk-emailform {
display: block;
margin: 0;
padding-left: 40px;
padding-top: 48px;
}
form#moviexk-emailform #s {
background: transparent;
border: none;
color: #444242;
font-family: georgia;
font-size: 12px;
font-style: italic;
height: 25px;
margin-top: -2px;
padding-left: 2px;
vertical-align: top;
width: 165px;
}
form#moviexk-emailform #sbutton {
background: transparent;
border: none;
cursor: pointer;
height: 25px;
padding-right: 10px;