.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 2px 12px;
    display: block;
    float: left;
	margin-left: -1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2c3e50;
    color: white;
    border: 1px solid #2c3e50; }
  .digg_pagination a, .digg_pagination span {
    text-decoration: none;
    color: #2c3e50;
    border: 1px solid #2c3e50; }
    .digg_pagination a:hover, .digg_pagination a:focus,.previous_page:a, .previous_page a:focus,.digg_pagination span:hover, .digg_pagination span:focus,.previous_page:span, .previous_page span:focus  {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
	.digg_pagination span
	{
		  color: #1b98e0;
		  cursor:pointer;
	}
	.digg_pagination span:hover
	{
		  color: #fc4349;
	}


