input[type='text'].taginput, input[type='password'].taginput
{
width: 95%;
height: 36px;
margin-top: 3px;
border-radius: 3px;
border: 1px solid #CCC;
padding: 8px;
font-weight: 200;
font-size: 14px;
font-family: Verdana;
box-shadow: 1px 1px 5px #CCC;
}

input[type='text']:focus.taginput,input[type='password']:focus.taginput
{
	  box-shadow: 0 0 0 1px #6dbcdb;
}

.st_createlist
{
	width:50%;
	margin: auto;
}
.st_create
{
	  font-size: 20px;
  	  border-bottom: 1px solid #e4e8eb;
}
.st_createbutton
{
	margin-top:15px !important;
}
.st_error,.st_successful
{
  margin: auto;
  font-size: 13px;
  color: red;
  display: block;
  width: 50%;
  clear: both;
  position: relative;
  top: -35px;
}
.st_successful
{
	color:green;
}


#webmenu, .webmenu{
    width: 65px !important;
}

.st_space
{
	margin-bottom:12px;
}

.delchk
{
	margin-left: 20px !important;
 	top: 5px;
}
.st_createbutton,.st_update
{
	float:right;
	margin-top: 15px !important;
}
.st_createbutton
{
	left: -20px;
}

html input[disabled] {
  /*color: #dddddd;*/
}

.elements_st
{
	display:none !important;
}
.gblist
{
	padding-bottom: 20px;
}
.gblist img
{
	border: 0 !important;
}
.gbtext
{
  padding-left: 10px;
  position: relative;
  top: -8px;
}
.gblist a
{
	text-decoration: underline;
}

#myTable\20 mylist > thead > tr > th {
  border-radius: 7px 7px 0 0;
}

.navlist{
	margin-left: 0px !important;
	border: 1px solid #ddd;
  	border-radius: 3px;
  	font-size: 14px;
	font-weight: 500;
 	margin-bottom: 4px;
	background-color: #f5f5f5;
	line-height: 15px;
	padding: 2px 5px 2px 5px;
}

.navlist li{
    display:inline-block !important;
	margin-bottom: 0px !important;
}
.navlist li:after
{
	content: "|";
}
.navlist li:last-child:after
{
	content: "";
}

.navlist a{
    display:inline-block !important;
    padding: 8px !important;
	text-decoration: underline;
}

.navlist li a:hover {
  border-bottom: none !important;
}

.licurrent
{
	display: inline-block !important;
  	padding: 8px !important;
	color: green;
}

.mypage.none
{
	border-bottom:none;
	padding-bottom:0px;
	margin-bottom:0px;
}
.st_text
{
	  padding-left: 10px;
	  position: relative;
  	  top: -10px;
}
.st_img img
{
	border-radius:0 !important;
}
.st_info
{
	padding-top:5px;
	border-bottom: 1px solid #e4e8eb;
    margin-bottom: 25px;
	font-size: 14px;
}
.clist
{
	color:green;
}
.selchk
{
	left:10px !important;
}
.st_movetext
{
	  padding-right: 5px;
  	  font-size: 14px;  
}
.st_movetextseries
{
  padding-right: 0px;
  padding-left: 5px;
  font-size: 15px;
  font-weight: bold;
}
.st_movetextdel
{
	  padding-right: 5px;
  	  font-size: 15px;
	  font-weight: bold;
}

.button.delete
{
	line-height: 5px !important;
	padding: 10px 15px;
	text-transform: capitalize;
	/*margin-left: 10px;*/
}
.chkrltag,.chkseriestag,.chksicon,.chkrlresttag
{
	  padding-left: 25px !important;
	  left: 0px !important;
}
.showaddseries
{
	background-color:#cef;
	padding: 15px;
	margin-top:20px;
	margin-bottom:20px;
	border: 1px solid rgba(57, 129, 170, 0.38);
}

#myTable\20 space
{
	margin-top:20px;
}
.errormsg
{
  background-color: #ffd9d9;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stset
{
	border: 1px solid #e4e8eb;
	border: 1px solid #e4e8eb;
    padding: 15px;
    border-radius: 5px;
}
.stsetchk
{
	padding-bottom:2px;
}
.sticon 
{
	padding-right: 10px;
}
.sticon.main
{
	padding-bottom:5px;
}
.sticon img,.readicon img
{
	border-radius: 0px !important;
    margin-bottom: -3px;
}
.sttitle
{
	font-size: 14px;
	padding-left: 4px;
}
.stremove
{
	 cursor:pointer;
     color: #D4091F;
     text-decoration:underline;
}
.stremove:hover
{
	color: #fc4349;
}
.favrelease
{
	padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
}
.favnotfound
{
	padding-bottom:10px;
}
#theImg
{
	margin-bottom: -3px;
	margin-right: 2px;
	border-radius: 0 !important;
}
.chkseriestag,.chkrltag,.chksicon,.chkrlresttag
{
	    margin-left: 0px !important;
}
.favtop
{
	padding-right: 10px;
}

span.stremove.disabled {
  pointer-events: none;
  cursor: default;
  color:#dddddd !important;
}