/*
Theme Name: ndupdates Child
Template: ndupdates
Version: 1.9.9
Author:	Novel Updates
*/

/*Add your own styles here:*/

tr:nth-child(odd) {
  background: #f8f8f8;
}

#theme-my-login > ul > li a, .current {
  display: block;
  padding: 5px;
}
#theme-my-login > ul > li {
  list-style: none;
  display: inline-block;
}
#theme-my-login > ul
{
	position:relative;
	  right: 8px;
}
.groupinfo thead
{
  text-align: left;
  padding-left: 5px;
  background-color: #2c3e50;
}
.groupinfo th
{
	background-color:#384b5f;
	color:white;
}

.groupinfo th,.groupinfo td
{
	padding-left: 5px;
	padding-right: 5px;
}

.tablesorter th, .tablesorter td
{
	padding-left: 5px;
}
.grp-release
{
	font-weight:bold;
	font-size:16px;
}

.digg_pagination 
{
	float:right;
	margin-top: 24px;
	margin-bottom: 20px;
}

.g-html p {
  margin-bottom: 20px;
  color: #5c6166;
}

.genre
{
	text-decoration: underline;
}
.genre.odd
{
  	background-color: #f8f8f8;
  	padding: 3px;
}
.seriestitle,.seriesother
{
	margin-bottom:5px;
	font-size:18px;
}
.seriesinfo,.submitrate,#reply-title
{
	font-size:15px;
}
.seriesother.associated
{
	padding-top:0px !important;
}
.seriestitle.new
{
	border-bottom: 1px solid #e4e8eb;
   	padding-bottom: 13px;
	margin-bottom: 25px;
	font-size:20px;
}
.seriesother
{
	padding-top: 20px !important;
}
.seriesother.main
{
	margin-top: 20px;
}
.yasr-total-average-container,.yasr-small-block-bold,.logged-in-as,.w-comments-form p label,.comment-reply-link,.comment-reply-login,.yasr-total-average-text,.yasr_schema
{
	display:none;
}
.uvotes
{
	font-size:14px;
	padding-left:5px;
	/*font-style: italic;*/
}
.submitrate
{
	margin-bottom: 4px;
}
.rateme
{
	padding-bottom:20px;
	
}
.submitrate
{
	/*border-top:1px #e4e8eb solid;
	padding-top: 35px !important;
	font-size:18px;*/
}
.w-comments-title {
  margin-bottom: 25px;
  font-size:18px;
  border-bottom: 1px solid #e4e8eb;
}
.userrate {
  background-color: #BD3737;
  padding: 6px 10px 5px;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  border-radius: 10px;
  position: relative;
}
.userrate.rank
{
	background-color: #2c3e50;
    padding: 4px 9px 4px;
    margin-left: 5px;
	border-radius: 8px;
}

.w-comments-item-date {
  float: right;
}

.searchpic img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	min-height: 86px;
  	max-width: 60px;
}

.seriesimg img
{
	max-width: 90%;
}
.seriesimg
{
	margin-bottom: 5px;
    padding-top: 10px;
}
.serieseditimg
{
	margin-top: -18px;
}
.headimg
{
	background:none !important;
	background-color: #2C3E50 !important;
}
.navigation.pagination {
	float:right;
}
a {
	color: #1b98e0 !important;
}
a:hover {
	color: #fc4349 !important;
}
input[type="submit"]
{
	background-color: #2c3e50 !important
}
input[type="submit"]:hover
{
	background-color: #2780e3 !important;
}
.w-logo-title
{
	color:white;
}

.userrate.search
{
	top:-10px;
	margin-left: 5%;
}
.w-search.header
{
	display:none !important;
}
.w-search.submit_inside
{
	display:block;
}

.tml-action-links
{
	margin-left:0px !important;
	margin-bottom:0px !important;
}

table.tablesorter thead tr .header,plantable.tablesorter thead tr .header {
	text-align:left;
}
.w-nav-anchor.username {
	display: inline-block;
  	top: 20px;
  	right: -85px;
	line-height: 15px;
	z-index:1;
}

.w-nav.layout_hor > .w-nav-list > .w-nav-item {
  float: right !important;
}

.mypage
{
  border-bottom: 1px solid #e4e8eb;
  width: 100%;
  font-size: 20px;
}

.mypage.forum
{
  margin-bottom: 50px;
  padding-bottom: 30px;
}

/* Add border-radius to specific cells! */
tr:first-child th:nth-child(1) { 
  border-radius: 7px 0 0 0; 
} 

tr:first-child th:last-child { 
  border-radius: 0 7px 0 0; 
}
#genre_include,#genre_exclude
{
	width:100% !important;
}

#genresearch,#submitfilter
{
  	margin-top: -15px;
	float:right;
}

#submitseries
{
	margin-top: -15px !important;
	float:right !important;
	margin-bottom: 35px !important;
}

#results
{
	margin-top: 60px;;
}

#elements_include,#elements_exclude,.form-table.tml,#elements_seriesinclude,#elements_seriesresults,#elements_readinglist
{
	display:none !important;
}

.settings
{
	float:right;
}

.g-alert.settings
{
  margin-top: 50px;
  width: 100%;
  text-align: center
}


#your-profile .form-table {
	  border: 1px solid rgb(190, 190, 190);
}

.tagrate
{
	  font-weight: bold;
}


.forumbc
{
  float: right;
  position: relative;
  top: 17px;
}

.table-container {
  width: 100% !important;
  overflow-y: auto !important;
  _overflow: auto !important;
  margin: 0 0 1em !important;
}

.w-blog.imgtype_circle .w-blog-entry-preview
{
	  border-radius: 0 !important;
}

#bbpress-forums div.bbp-topic-content img, #bbpress-forums div.bbp-reply-content img
{
	border-radius: 0;
}

.enableread
{
	float:right;
	padding-right:1%;
}
.colorme
{
	/*background-color:rgba(98, 152, 228, 0.39) !important;*/
	/*background-color: #FDFCD3 !important;*/
}
.newcolorme
{
}
.fa.fa-book
{
	color:green;
	float:right;
	padding-right:5%;
	font-size:22px;
}
.chkhl1,.chkenablerl,.chklocal
{
	  padding-left: 25px !important;
}
.sp-body {
    padding: 2px 12px;
    height: auto;
}
.g-alert.settings.reading
{
	margin-top: 0px !important;
}

.fp-news
{
  background: #F8F8F8;
  border: 1px solid rgb(44, 62, 80);
  font-size: 14px;
  font-style: italic;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.fp-news.mpage
{
	position: relative;
    bottom: 10px;
}
.fp-news.other
{
	  background: #cef;
  	  border: 1px solid rgb(44, 62, 80);
}
.searchpic
{
	min-height:86px;
}
.searchpic.rank
{
	float:right;
}
.hideseries
{
	display:inline-block;
	margin-right:10px;
}
.hidelist
{
	display:inline-block;
}

a.hidesme.disabled {
  pointer-events: none;
  cursor: default;
  color:#dddddd !important;
}

.voter
{
	font-size:12px;
	color: #fc3f03;
}

.sp-head {
	font-weight: 600;
}

.sp-wrap {
	  border-width: 1px 1px 1px 1px;
}

/*.sp-wrap-steelblue, .sp-wrap-yellow, .sp-wrap-default {
  border-color: #000000;
}

.sp-wrap-steelblue .sp-body, .sp-wrap-default .sp-body, .sp-wrap-yellow .sp-body{
	border-top: 1px solid #2C3E50;
}*/



blockquote {
    background: url('http://www.novelupdates.com/close-quote.gif') no-repeat right bottom;
    background-position-x: 98%;
    /* background-position-y: 85%; */
    margin: 10px 0 10px 0px !important;
    color: #000000;
    padding-left: 0px !important;
    border: 1px solid rgb(232, 232, 232) !important;
    border-left: 1px solid rgb(232, 232, 232) !important;
    background-color: #F6F6F6;
    padding: 15px !important;
    border-radius: 3px;
    font-size: 14px !important;
    box-shadow: 2px 2px 2px #FBF9F9;
}

.g-html blockquote p {
  font: inherit;
  margin-bottom: 20px;
}

blockquote:first-letter {
  background: url('http://www.novelupdates.com/open-quote.gif') no-repeat left top;
  padding-left: 18px;
}

.seriesna
{
	/*color: #dddddd;*/
} 
.rdate
{
	color: #8A8A8A;
}
.edit.rev
{
    font-size: 11px;
	top: 10px;
    left: -7.5%;
}

.edit
{
	display: inline-block;
    font-size: 13px;
    position: relative;
    top: -1px;
}
.editme,.editmecancel,.cancelmegid
{
	/*color: #1b98e0;*/
	color: #8D8D8D !important;
	cursor: pointer;
}

.editme.disabled,.editmecancel.disabled,.cancelmegid.disabled,.editmecancel.disabled
{
  pointer-events: none;
  cursor: default;
  color:#dddddd !important;  
}
.editme:hover,.editmecancel:hover,.cancelmegid:hover
{
	color: #fc4349 !important;
}

.genreedit {
    list-style-type: none !important;
	margin-left:0px !important;
	font-size:15px;
}
a.genremeedit:hover,a.langrank:hover,a.typerank
{
	text-decoration: none !important;
	border-bottom: 0px !important;
}
.fa.fa-check-square-o,.fa.fa-square-o {
    border: 0px solid #000000;
    display: inline-block;
    margin-right: 0px;
    width: 15px;
	position: relative;
    top: 1px;
}

.one-half.genseries
{
	margin-left: 0px !important;
}

.fa.fa-square-o
{
	color: rgb(44, 62, 80);
}

.fa.fa-check-square-o
{
	color:green;
}

.genremsg,.editmsg,.langlmsg,.typelmsg
{
	font-size: 13px;
    color: green;
    position: relative;
    top: -10px;
	font-style: italic;
}
.editmsg
{
	display:none;
}
.clist {
    color: green;
}
.clist.list
{
	color: #2c3e50;
}
.rlist {
	color: #292e33;
}
#submit\20 image
{
	line-height: 10px !important;
	padding: 10px 18px;
}
.rlnewsettings
{
	display:none;
}
.rssicon
{
    display: inline;
    float: right;
    margin-top: 15px;
    padding-left: 10px;
}
.rssicon.st
{
	padding-top: 30px;
}
.rssicon img
{
	border-radius: 0px !important;
}
.chp-release.latest,.chp-release.space,.needspace
{
	padding-right:30px;
}

.mygenre {
    list-style-type: none !important;
	margin-left: 0px !important;
}

#myasgenre
{
	width: 20px;
}

a.genreme:hover {
    text-decoration: none !important;
    border-bottom: 0px !important;
}

#elements_st_checked,.elements_st
{
	display: none;
}
.astitle
{
	font-weight: 600;
}

#ureport
{
	height: 240px;
}
.rserieslist
{
	border: 1px solid #e4e8eb;
	border-radius: 5px;
	padding: 10px;
}
#myTable\20 rseries
{
	width: 100%;
}
#myTable\20 rseries.tablesorter thead tr .header
{
	background-image: none; 
	cursor: default;
}
#myTable\20 rseries.tablesorter thead tr .header:hover
{
	opacity: 1;
}
#theImg\20 nl
{
	position:relative;
	top: 3px;
	border-radius: 0px;
	margin-right: 5px;
}
.rankbord
{

	/*display: inline;*/
    position: relative;
    /*top: -60px;*/
}
.ranknum
{
	font-weight: bold; 
	font-size: 24px; 
	/*padding-right: 10px;*/
    padding-left: 10px;
	float: left;
}
.rankalign
{
	/*vertical-align: top;*/
	text-align: right;
}
.orgalign
{
	text-align: center;
	padding-left: 0px !important;
}
.header.org
{
	text-align: center !important;
}
.ranklink
{
	float:right;
	position: relative;
    top: 20px;
	font-size: 13px;
	width: 210px;
	right: -10px;
}
.ricon
{
	float:right;
	margin-top: -12px;
}
.ftext
{
	padding-left: 5px;
    position: relative;
    top: -4px;
	font-size: 13px;
}
.rktitle
{
    border-bottom: 1px solid #707070;
    padding-bottom: 3px;
    font-weight: bold;
}
.sftitle
{
  text-decoration: underline;
  font-weight: 600;
}
.sfmininfo
{
	/*font-weight: normal;*/
}
.extopsf
{
	padding-top:15px;
}
.extrasf
{
	padding-bottom:5px;
}
.genrerank li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
.genrerank,.genrematch.rank
{
	margin-left: 0px !important;
}
.inputrank
{
	padding: 8px !important;
    border: 1px solid #d4d4d4 !important;
    background: #fcfcfc !important;
    color: #9f9f9f !important;
    margin-top: 10px;
    width: 65px !important;
    display: block;
	margin-bottom: 15px;
}
.inputrank:focus {
    background-color: #fefefe !important;
    color: #555 !important;
}
.rktext
{
    font-size: 13px;
    position: relative;
    top: -13px;
    display: block;
    width: 80%;
}
.rktext.sf
{
	width: 100%;
}
.mrinfo
{
	display:inline-block;
}
.missrelease
{
	border: 1px solid #e4e8eb;
    background-color: #F8F8F8;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
	display: none;
}

.social
{
	float:right;
	position: relative;
    top: 12px;
	padding-bottom: 10px;
	z-index: 999;
	margin-bottom: 0px !important;
}
.social li{
    display:inline-block;
}  
.fb-like
{
	position:relative;
    top:-6px;
}
.sticon.main {
    position: relative;
    top: 3px;
}
.stmove
{
	width:25%;
	/*display:none;*/
}

.tml {
    max-width: 100%;
}
.no-touch span.bbp-admin-links {
    opacity: 1;
}
#extrapad
{
	padding-right:30px;
}
.orgcn
{
	color: #D50000;
}
.orgjp
{
	color: #04476E;
}
.orgkr
{
	color: #E98F00;
}
.orgdefault
{
	color:#1b98e0;
}
a.prouser
{
	color:white !important;
}
a.prouser:hover
{
	color:#fc4349 !important;
}

#myrates > tbody > tr:nth-child(1) > td:nth-child(2)
	{
		width: 100% !important;
	}
.votetext
	{
		padding-left: 5px;
	}
#myrates > tbody > tr:nth-child(odd)
	{
	background: transparent;
	}
#myrates
	{
	margin-top: 10px;
	font-size: 12px;
	}
.rating {
    height: 24px;
    padding: 0px 2px;
    margin-bottom: 2px;
	float: left;
    }

.rankfl
{
	border: 1px solid #C1C2C3;
    border-radius: 5px;
    padding: 20px 40px;
	margin-top: 0px;
	margin-bottom: 20px;
    background-color: #F9F9F9;
	display: none;
}	
.sfstext
{
	font-size: 13px;
    border-top: 1px solid #E4E8EB;
    margin-top: 20px;
}
.inputrank.sf
{
	width: 100px !important;
}
.ricon.sf
{
	margin-top: -45px;
}
.ftext.sf
{
	font-size: 15px;
}
.crfr
{
	float: right;
    position: relative;
    top: 45px;
    font-weight: bold;
}
.tagfix
{
	position: relative;
    top: -30px;
}
.inputrank
{
	box-shadow: none !important;
}
.inputrank:focus
{
   box-shadow: 0 0 0 2px #6dbcdb !important;
}
.stcolor
{
	color:green;
}

.frmtitle
{
	font-weight: bold;
}
.newfrmposts
{
	margin-top: -15px;
}
.sticon.main {
	padding-top: 20px;
}
.frmlatest
{
	border: 1px solid #e4e8eb;
}
.frmmaintime
{
	font-size:14px; 
	padding-right:5px;
}
.frmmaintitle
{
	padding-left:5px;
}
h3.widgettitle
{
	margin-bottom:5px;
	font-size: 18px;
	margin-top: -15px;
}
.l-sidebar .widget {
    margin-bottom: 25px;
}
.cc_container .cc_btn, .cc_container .cc_btn:visited {
	color: #000 !important;
}
.my_normal_add,.my_mobile_add
{
	margin-bottom: -15px;
}

.navlist{
	margin-left: 0px !important;
	border: 1px solid #ddd;
  	border-radius: 3px;
  	font-size: 14px;
	font-weight: 500;
 	margin-bottom: 4px;
	background-color: #f5f5f5;
	line-height: 15px;
	padding: 2px 5px 2px 5px;
}

.navlist li{
    display:inline-block !important;
	margin-bottom: 0px !important;
}
.navlist li:after
{
	content: "|";
}
.navlist li:last-child:after
{
	content: "";
}

.navlist a{
    display:inline-block !important;
    padding: 8px !important;
	text-decoration: underline;
}

.navlist li a:hover {
  border-bottom: none !important;
}

.licurrent
{
	display: inline-block !important;
  	padding: 8px !important;
	color: green;
}

.g-btn, button, input[type="submit"] {
    font-size: 14px !important;
    line-height: 20px;
    padding: 5px 30px;
	font-weight:500;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    overflow: hidden;
	text-transform: capitalize;
    -webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.st_createlist
{
	padding-top:20px;
}

.mypage.read {
    border-bottom: 0px;
    margin-bottom: 0px;
}

html input[disabled] {
     color: #908E8E; 
}

/*Mobile Public Reading List*/
.cr_status
{
	font-weight:bold; 
	color: #053959;
}
.mb_review
{
	font-size: 12px;
    top: -6px;
    position: relative;
    width: 60px;
    text-align: center;
    display: block;
    color: #1b98e0;
	border: 2px solid #3FAEE5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 15px;
    padding: 1px 0 1px;
	background-color: #E7F1F7;
}
.data.review
{
	position:relative;
}
.mb-box {
    padding-top: 12px;
    border-bottom: #E7E7E7 1px solid;
}
.mb-box .mb-box-btn {
    position: relative;
}
.di-box {
    display: flex;
    display: box;
    display: -webkit-box;
}
.icon-thumb.list {
    width: 65px;
    height: 97px;
}
.icon-thumb.users {
    background-repeat: no-repeat;
    min-height: 86px;
    max-width: 60px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
	margin-top: 10px;
}
.mb-box .mb-box-btn:after {
    background-image: url("http://novelupdates.com/siteicons/rightmb.png");
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    content: '';
    right: -25px;
    top: 50%;
    margin-top: -12px;
}
.mb-box .data {
    padding-top: 3px;
    padding-left: 12px;
	padding-right: 12px;
}
.flex {
    box-flex: 1.0;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
}
.mb-box .data .title {
    font-size: 13px;;
    color: #1b98e0;
}
.mb-box .data .name {
    font-size: 1.2rem !important;
    font-weight: normal !important;
    color: #7f7f7f!important;
    display: block;
    width: 68px;
    padding-right: 8px;
    float: left;
    text-align: right;
}
.mb-box .data .value {
    font-size: 1.4rem !important;
    font-weight: normal !important;
    color: #323232 !important;
    display: block;
}
.mb-box .data .name {
    font-size: 12px !important;
    font-weight: normal !important;
    color: #7f7f7f !important;
    display: block;
    width: 68px;
    padding-right: 8px;
    float: left;
    text-align: right;
}
.mb-box .data .value {
    font-size: 12px !important;
    font-weight: normal !important;
    color: #323232!important;
	padding-left: 65px;
    display: block;
}
.rl_shared
{
	color: green;
	padding-left:2px;
	padding-right:2px;
}
.mb-box .data .title
{
	color: #71a7d3 !important;
}

.nuf_link
{
	position: relative;
    top: 3px;
    margin-right: 5px;
}
.fa.fa-comments
{
	font-size:15px;
}
.header.mobile
{
	border-radius: 7px 7px 0 0 !important;
}
.enableread.mobile
{
	top:10px;
}

.dropdown {
	float:right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	top: 85px;
	border-top:10px solid #2c3e50;
	
}
.dropdown-content a {
    padding: 5px 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    display: block;
    outline: 0 none;
	font-size: 13px;
    color: #616579 !important;
}

.dropdown-content a:hover {background-color: #ECECEC}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
	color:white;
    background-color: #2c3e50;
}

#my_popup,#my_popupreport
{
	display:none;
}

.admin_nuf
{
	min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.mob_group
{
	 padding-left: 5px;
}


.rev_left
{
	/*width: 150px;
    padding: 8px;*/
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 10px;
	width: 10%;
}

.w-comments-item-meta-new
{
	height: 75px;
    margin-top: -15px;
    /*border-top: 1px solid #E4E8EB;*/
}

.w-comments-item-meta, .w-comments-item-text, .w-comments-item-answer
{
	padding-bottom: 30px;
	padding-right: 30px;
}
.w-comments-item
{
	min-height: 150px;
}
.w-comments-item-text
{
	margin-left: 10%;
}
.rev_bar
{
	margin-left: 10%; 
	font-size:12px; 
	margin-top: 2px;
}
.rate_rev
{
	font-size: 13px;
}

.morelink,.rev_help
{
	cursor: pointer;
	color: #1b98e0;
}
.morelink:hover,.rev_help:hover
{
	color: #fc4349;
}
.morelink.list
{
	color: #375878;
}
.rev_help:hover
{
	color: #333333 !important;
	background-color: #E3E3E3;
}
.rev_help
{
	-moz-appearance: none;
    -webkit-appearance: none;
    display: -moz-inline-stack;
    display: inline-block;
    color: #333333 !important;
    background-color: #f6f6ee;
    border: 1px solid #A4A4A4;
    border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
	padding: 3px 10px;

}
.rev_help.liked
{
	background-color: #E3E3E3;
    border: 1px solid #8B8B8B;
	cursor: default;
}

.rev_b1
{
	border-bottom: 1px solid #E4E8EB;
	padding-bottom: 10px;
}
.r_line
{
	border-bottom: 1px solid #E4E8EB;
	    padding-top: 5px;
}

.w-comments-item
{
	border:none;
	padding-top:0px;
    margin-top: 20px;
	margin-bottom:0px;
}

.sp-wrap-yellow {
	border-color: #B7AD53;
	width: 98%;
}
.sp-wrap-yellow .sp-body {
    border-color: #B7AD53;
}
.sp-wrap
{
	margin-bottom: 20px;
    margin-top: 20px;
}

.w-comments-form
{
	/*border: 1px solid #E4E8EB;*/
}
.rf-comment
{
    padding: 20px;
    border: 1px solid rgb(196, 195, 195);
    border-top: none !important;
    color: #292e33;
}

#respond
{
	margin-top: -30px;
}
#respond\20 review
{
	margin-top: 45px;
}
.rev_leave
{
	font-size: 15px;
    background-color: #2C3E50;
    color: #fff;
    padding: 3px;
    padding-left: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #2C3E50;
}
#cur_chp
{
	width: 100px;
    margin-left: 10px;
    height: 25px;
    border: 1px solid #A7A7A7;
    border-radius: 0px;
	margin-top: 2px;
	padding: 2px;
}
#comment
{
	border: 1px solid #A7A7A7;
	height: 200px;
}
textarea#editmycommentnow
{
	border: 1px solid #A7A7A7;
}


.btnrev {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btnrev-group .btnrev {
    border: 1px solid #333 !important;
	color: #fafafa !important;
    background: #3A3839 !important;
	margin-left: -4px;
}
.btnrev-group .active {
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0,0,0,.4) !important;
    background: #2C3E50 !important;
}
.btnrev-group, .btnrev-group-vertical {
    position: relative !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

.review-count.pull-right
{
    margin: 7px 10px;
	font-size: 14px;
}
.w-comments {
    padding-top: 10px;
}
#revname
{
	font-weight:bold;
	color: #5C6166 !important;
}
.fa.fa-star,.fa.fa-star-o,.fa.fa-star-half-o,.lstrate
{
	color:#d70000;
}
.lstrate
{
	font-size: 12px;
    display: block;
    margin-top: -10px;
    text-align: center;
}

.w-comments-pagination {
clear:both;
float:right;
font-size:13px;
line-height:13px;
}
 
.w-comments-pagination span, .w-comments-pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding: 9px 12px;
text-decoration:none;
width:auto;
color:#fafafa !important;
background: #3A3839;
}
 
.w-comments-pagination a:hover{
color:#fff;
background: rgba(44, 62, 80, 0.82);
}
 
.w-comments-pagination .current{
padding: 9px 12px;
background: #2C3E50;
color:#fff;
}
.comment-form-title
{
	color:#292e33 !important;
}
.btnrev.review{ float: right; margin-top: -20px; }
.btnrev.review,.report_edit_button,.my_popupreport_close,.my_popup_close
{
	background-color: #2C3E50 !important;
    border: 1px solid black;
    border-radius: 4px !important;
}
.btnrev.review:hover,.report_edit_button:hover,.my_popupreport_close:hover,.my_popup_close:hover
{
	background-color: #345575 !important;
}
.btnrev.review.filter
{
	float:none !important;
	margin-top:0px !important;
}
.my_popupreport_open,.permrev
{
    font-size: 12px;
	/*float: right;
    padding-right: 15px;*/
    margin-top: 2px;
    cursor: pointer;
}
.my_popupreport_open:hover,.permrev:hover
{
	text-decoration: underline;
}
.myp_report
{
	font-weight: bold;
    font-size: 12pt;
    color: rgb(245, 245, 245);
    background-color: #2C3E50;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(50, 50, 50);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
	width: 450px;
    border-radius: 0px;
}
.n_rate
{
	color: #FA604A;
	font-weight: bold;
}
.l-subfooter.at_bottom .w-copyright
{
	padding-top: 0px !important;
}

.savenuf
{
	background-color: #2C3E50 !important;
    border: 1px solid black;
    border-radius: 4px !important;
}
.savenuf:hover
{
	background-color: #345575 !important;
}
#edityear
{
	height: 26px !important;
}
.genreexplain
{
	color: rgb(20,20,20);
}
.gennew
{
    font-size: 11px;
    background-color: #375878;
    color: #fff;
    padding: 2px 4px;
	margin-top: -2px;
}
.noveldesc
{
	padding-right:10px;
	min-height: 50px;
}
.bdrank
{
	border-top: 1px solid #E4E8EB;
}
.tbl_sort
{
	border-width: 1px 1px 1px 1px; 
	background-color: #2C3E50 !important; 
	color: #FFFAFA;
}
.sp-body p:last-of-type
{
	margin-bottom: -10px;
}

.l-submain-h.g-html.i-cf.other
{
	padding-bottom: 5px !important;
}
.w-blog-content.other
{
	padding-bottom: 0px !important;
    margin-bottom: -15px;
}

@media only screen and (max-width: 499px){
  .my_normal_add {
  display:none;
  }
}

@media only screen and (max-width: 399px) {
	.rl_margin
	{
		margin-top:0px !important;
	}
}

@media only screen and (min-width: 400px) {
	.mypage.read
	{
		bottom: 0px !important;
	}
}
@media only screen and (min-width: 500px) {
  .my_mobile_add {
  display:none;
  }
  .ad_336
  {
    position: relative;
    left: -35px;
  }
}
@media only screen and (max-width: 899px)
{
	.w-search.submit_inside
	{
		display:none;
	}
	.w-search.header
	{
		display: block !important;
	}
	.l-sidebar.at_right
	{
		margin-top: 100px;
	}
}

@media only screen and (max-width: 1017px)
{
.w-nav-anchor.username
{
	display:none;
}
}


@media only screen and (max-width: 599px)
{
	.mypage.tag
	{
		font-size: 20px;
	}
	.frevstat
	{
		width: 50px !important;
	}
	.edit.rev.save
	{
    top: -52px;
    left: 1% !important;
	}
	.edit.rev
	{
    top: -52px;
    left: 1% !important;
	}

   .rev_left
   {
	  margin-top: 16px;
	  padding-right: 5px !important;
      padding-left: 0px !important;
   }
  
.webui-popover.left.in
{
	 margin-left: -40px;
}
.webui-popover.left > .arrow
{
	 top: 58% !important;
}
.frmmaintime
{
	display:none;
}
.rankfl {
	    padding: 20px 20px;
}
#rankpro
{
	padding-left: 35px;
}
.genrerank li
{
	display:block;
}
.tagfix
{
	top: 0;
}
.social,.crfr
{
	display:none;
}
#myTable\20 read > tbody > tr:nth-child(1) > td:nth-child(1)
{
	padding-right: 20px;
}
#myTable\20 read > tbody > tr:nth-child(1) > td:nth-child(2)
{
	width:30% !important;
}
#myTable\20 read > tbody > tr:nth-child(1) > td:nth-child(3)
{
	width:20% !important;
}
#myTable\20 read > tbody > tr:nth-child(2) > td:nth-child(4)
{
	width:41% !important;
}
.w-search.header
{
	display:block !important;
}
.w-search.submit_inside,.w-comments-item-date,.w-nav-anchor.username
{
	display:none;
}
.userrate.search
{
	margin-left: 0;
}
}
@media only screen and (min-width: 900px)
{
.l-sidebar {
  width: 17% !important;
}

.l-content {
  width: 78% !important;
  min-height: 870px;
}
.l-content.release {
  margin-top: -10px;
}
.w-blog-content.group
{
	margin-top: 2px;
}
}

@media only screen and (min-width: 1017px)
{
	.w-blog.imgpos_atleft .w-blog-entry-title
	{
	  margin-left: 30%;
	}
	.w-blog.imgpos_atleft .w-blog-entry-body 
	{
	  margin-left: 30%;
	}
	.userrate.search {
  		margin-left: 0%;
	}
	.w-nav-list {
	display:inline-block !important;
	}
	.l-header .w-nav {
	    line-height: 40px;
	}
	.w-nav.layout_hor > .w-nav-list > .w-nav-item {
  	top: 12px;
	}

}
@media only screen and (min-width: 600px) and (max-width: 1017px)
{
	.w-blog.imgpos_atleft .w-blog-entry-title
	{
	  margin-left: 35%;
	}
	.w-blog.imgpos_atleft .w-blog-entry-body 
	{
	  margin-left: 35%;
	}
	.userrate.search {
 	 margin-left: 5%;
	}

}

