/* tables */
table.tablesorter {
	/*text-transform: capitalize !important;*/
	/*font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;*/
	
	width: 100%;
	text-align: left;
}
/*table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}*/
table.tablesorter thead tr .header,plantable.tablesorter thead tr .header {
	text-transform: capitalize !important;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	border-left-color: #778493 !important;
	border-right-color: #778493 !important;
	border-top-color: #778493 !important;
	color: #FFFAFA;
	cursor: pointer;
	
	
	letter-spacing: 0px !important;
	background: url(bg.gif) right center no-repeat,#2C3E50;

}
table.tablesorter thead tr .header:hover
{
	opacity: 0.9;
}
/*table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}*/
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	text-transform: capitalize !important;
	background: url(asc.gif) right center no-repeat,#2C3E50;

}
table.tablesorter thead tr .headerSortDown {
	text-transform: capitalize !important;
	background: url(desc.gif) right center no-repeat,#2C3E50;

}





