/* -----------------------------
  reset
----------------------------- */
html,body,div,
h1,h2,h3,h4,h5,h6,p,
dl,dt,dd,ul,ol,li,
form,fieldset,legend,input,textarea,th,td,
pre,blockquote{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,em,caption,th{
	font-style:normal;
	font-weight:normal;
}
fieldset,img{
	border:0;
}
ol,ul{
	list-style:none;
}
hr{
	display:none;
}

/* -----------------------------
  clearfix
----------------------------- */
/* for modern browser */
.clearfix{
  display: inline-block;
}
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix{
  height: 1%;
}
.clearfix{
  display: block;
}
/* End hide from IE-mac */

/* -----------------------------
  main frame
----------------------------- */
body{
	background:#fff;
}
body.font_size_max{
	font-size:125%;
}
body.font_size_middle{
	font-size:100.01%;
}
body.font_size_min{
	font-size:90%;
}
#container{
	min-width:360px;
	margin:0 auto;
	padding:0;
	position:relative;
}

a, a:link, a:visited, a:active, a:hover{
	color:#0A50A1;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

/* -----------------------------
  header
----------------------------- */
#header{
	background:url(../images/format/header_bg.jpg) no-repeat ;
	margin-bottom:10px;
}
#header_upper{
	padding-right:10px;
}
body.font_size_max #header_upper{
}
body.font_size_min #header_upper{
}
#main_logo{

}
#main_logo h1{
	background:url(../images/format/mini_logo.gif) no-repeat;
	width:360px;
	height:67px;
	text-indent:-9999px;
	font-size:1px;
}
#main_logo h1 a{
	display:block;
	width:360px;
	height:67px;
	overflow:hidden;
}
p#header_catch{
	position:absolute;
	top:65px;
	left:40px;
	width:126px;
}
#header_sub_navi_area{
	clear:both;
}
#change_font_size{
	float:right;
	margin-top:40px;
	width:220px;
	font-size:0.75em;
}
#change_font_size dt{
	float:right;
	display:block;
	width:100px;
}
#change_font_size dd{
	float:right;
	display:block;
	width:27px;
	margin-left:1px;
}
/* search_area */
#search_area{
	clear:both;
	float:right;
	margin-top:0px;
	text-align:right;
	width:66%;
}
#gs input{
	vertical-align:middle;
}
#searchBox{
	padding:2px;
	border:#3C3C3C 1px solid;
	ime-mode:active;
	width:250px;
}
#searchBtn{
	height:24px;
	width:42px;
	margin:0;
	padding:0;
}

/* header_sub_navi */
#header #header_sub_navi{
	font-size:0.75em;
	float:right;
	margin:3px 0px 5px 0;
	width:98%;
	background:url(../images/format/sub_menu_bg3.gif) no-repeat right 3px;
	padding-right:10px;
}

#header_sub_navi li{
	float:right;
	background:url(../images/format/sub_menu_bg2.gif) no-repeat 0 3px;
	display:block;
	padding:7px 12px 5px 12px;
	white-space: nowrap;
	margin:0;
}
body.font_size_max #header_sub_navi li{
	padding:5px 12px 5px 12px;
}
body.font_size_max #header_sub_navi li.header_sub_navi_start{
	padding:5px 12px 5px 18px;
}
#header_sub_navi li.header_sub_navi_start{
	background:url(../images/format/sub_menu_bg1.gif) no-repeat 0 3px;
	padding:7px 12px 5px 18px;
}
#header_sub_navi li.header_sub_navi_end{
}
#header_sub_navi li a,
#header_sub_navi li a:active,
#header_sub_navi li a:visited,
#header_sub_navi li a:link,
#header_sub_navi li a:hover{
	text-decoration:none;
}
#header_sub_navi li a{
	color:#000;
}
#header_sub_navi li a:hover{
	text-decoration:underline;
}

/* header_main_navi */
#header_main_navi{
	width:100%;
	max-width:100%;
	background:url(../images/format/main_navi.jpg) no-repeat;
}

#header_main_navi li{
	display:block;
	float:left;
	width:16.2%;
	height:48px;
	font-size:0.6em;
	text-align:center;
	background:url(../images/format/main_navi_ov.jpg) no-repeat right top;
	line-height:110%;
	background-color:#2350AB;
}

#header_main_navi li a{
	display:block;
	width:100%;
	color:#fff;
	height:34px;
	text-decoration:none;
	background:url(../images/format/main_navi.jpg) no-repeat right top;
	padding:14px 0 0 0;
}
#header_main_navi li#header_main_navi1{
	margin-left:9px;
	display:inline;
}
#header_main_navi li#header_main_navi6{
	background:url(../images/format/main_navi_r_ov.jpg) no-repeat right top;
}
#header_main_navi li#header_main_navi6 a{
	background:url(../images/format/main_navi_r.jpg) no-repeat right top;
}
#header_main_navi li#header_main_navi6 a:hover{
	background:none;
}
#header_main_navi li#header_main_navi4 a,
#header_main_navi li#header_main_navi6 a{
	padding:8px 0 0 0;
}
#header_main_navi li#header_main_navi4{
	-webkit-text-size-adjust: none;
	font-size:0.5em;
}
#header_main_navi li#header_main_navi6{
	-webkit-text-size-adjust: none;
	font-size:0.55em;
}


#header_main_navi li a:hover{
	color:#fff;
	background:none;
	cursor:pointer;
}


/* カレント表示 */
body#menu_gaiyou #header_main_navi1 a,
body#shoukai #header_main_navi2 a,
body#seika #header_main_navi3 a,
body#database #header_main_navi4 a,
body#choutatsu #header_main_navi5 a,
body#doc_search_body #header_main_navi6 a{
	color:#fff;
	background:none;
	cursor:pointer;
}

/* -----------------------------
  contents_area
----------------------------- */
#contents_area{
	margin-bottom:40px;
}

/* -----------------------------
  footer
----------------------------- */
#footer_navi{
	padding-bottom:8px;
	border-bottom:2px solid #448fb2;
	margin-bottom:10px;
	padding-right:2px;
}
#footer_navi li{
	width:72px;
	display:block;
	float:right;
	font-size:0.75em;
	background:url(../images/format/link_tri2.gif) no-repeat;
	padding-left:14px;
	margin-left:3px;
}
#footer_navi li a,
#footer_navi li a:link,
#footer_navi li a:visited,
#footer_navi li a:active,
#footer_navi li a:hover{
	color:#000;
	text-decoration:none;
}
#footer_navi li a:hover{
	text-decoration:underline;
}
#copyright, #copyright2012{
	background:url(../images/format/copyright_bg.gif) no-repeat;
}
#copyright p{
	text-indent:-9999px;
	background:url(../images/format/copyright.gif) no-repeat right top;
	font-size:1px;
	height:27px;
}
#copyright2012 p{
	text-indent:-9999px;
	background:url(../images/format/copyright2012.gif) no-repeat right top;
	font-size:1px;
	height:27px;
}
