@charset "Shift_JIS";

#headCaption,
#headBox2,
#gnav,
#lnav,
.backToHeader,
#footer ul{
display:none;
}

/* common */
body {
	font-size: 10pt;
	color: #000000;
	background-color: #FFFFFF;
}
a:link,
a:visited {
	text-decoration: underline;
	color: #000000;
}
a img{
border:none;
}
table,
th,
td {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #333333;
}

/* top */
#root #side_area1,
#root #side_area2{
	display:none;
}
#root #main_contents {
	width:100% !important;
}

/* quick_search */
#intro_by_purpose,
#js_content{
	display:none;
}

/* header */
#main_logo h1{
	font-size: 12pt;
}
#main_logo p,
#header_sub_navi_area,
#header_main_navi{
	display:none;
}

/*20121009 add*/
#announce .img{
	float:left;
	height:235px;
	overflow:hidden;}

#announce{
	margin-bottom:10px;
	background:#f3f3dd;
	padding:1em 1em 1em 1em;
	border:3px solid #DEDEDE;
	zoom:1;
	}
#announce .contents{
	margin-left:160px;
	top:8px;
	line-height:1.5;
}



/*201401 アクセスmap-add*/
#access_map .style01,
#access_map #topicPath,
#copyright,
#map_bg
{display:none;}

.map1{padding:30px 0 0 -200;}



/*201505 アクセスmap-add*/ 
#access #content {}

#access .bun_photoMap {
	display: none;
}

#access h1 img {
	display: none;
}
#access #content h2 {
	font-size: 120%;
}
#content h3 , #content h4 ,#content h5 {
	font-size: 100%;
	font-weight: normal;
 }
#access #content h2 , #content h3 , #content h4 ,#content h5 {
	margin: 0 0 0.3em 0;
	line-height: 1.8em;
}
#access #content h3 {
	border-bottom: 1px dotted #000;
	border-top: 1px dotted #000;
}
#access #content h4 {
	margin-left: 1em;
}
#access #content h5 {
	margin-left: 2em;
}

#access #content ul {
	margin-top: 0;
	font-size: 0.9em;
	line-height: 1.3em;
	}