@charset "Shift_JIS";

body {
  -webkit-text-size-adjust: 100%;
}

#header_catch,#change_font_size,#search_area{
	display:none;
}

/* -----------------------------
  toppage
----------------------------- */
#main_contents_side_area2{
}
#main_contents{
}
#side_area1{
	display:none;
}
#side_area2{
	display:none;
}

/* -----------------------------
  contents_area
----------------------------- */
#contents_area{
	font-size:0.75em;
	line-height:130%;
}
.goto_list_view{
	position:absolute;
	top:5px;
	right:0px;
	background:url(../images/format/link_tri.gif) no-repeat 0 1px;
	padding-left:16px;
}
.goto_list_view a,
.goto_list_view a:link,
.goto_list_view a:active,
.goto_list_view a:visited{
	color:#000;
	text-decoration:none;
}
.goto_list_view a:hover{
	text-decoration:underline;
}
.goto_list_view a.goto_txt{
	position:relative;
	top:-9px;
	left:0;
}
.goto_list_view img{
	position:relative;
	top:-3px;
	left:0;
}
#sp_info,
#raise_info,
#event_info,
#press_release,
#latest_activity_report{
	clear : both ;
	position:relative;
	margin-bottom:10px;
}

#sp_info h2,
#raise_info h2,
#event_info h2,
#press_release h2,
#latest_activity_report h2{
	margin-bottom:3px;
}
#raise_info h2{
	background:url(../images/top/titlebg_1.gif) repeat-x;
}
#event_info h2{
	background:url(../images/top/titlebg_2.gif) repeat-x;
}
#press_release h2{
	background:url(../images/top/titlebg_3.gif) repeat-x;
}
#latest_activity_report h2{
	background:url(../images/top/titlebg_4.gif) repeat-x;
}
#sp_info_body,
#raise_info_body,
#event_info_body,
#press_release_body,
#latest_activity_report_body{
	background:#f3f3dd;
	padding:1em 1em 0.5em 1em;
}
#sp_info_body dl,
#raise_info_body dl,
#event_info_body dl,
#press_release_body dl{
	margin-bottom:0.6em;
}
#press_release_body dt,
#raise_info_body dt{
	width:60px;
	float:left;
	white-space:nowrap;
}
#event_info_body dt{
	width:60px;
	float:left;
}
#sp_info_body dl,
#raise_info_body dl,
#event_info_body dl{
	float:right;
	margin-left:-100px;
	width:100%;
}
#sp_info_body dt dt{
	width:90px;
	float:left;
}

#sp_info_body dd{
	margin-left:100px;
}
#event_info_body dd{
	margin-left:70px;
}

/*#raise_info_body dd{
	margin-left:100px;
}*/

.more_link{
	clear : both ;
	position:relative;
	margin-bottom:10px;
}

#announce{
	margin-bottom:10px;
	background:#f3f3dd;
	padding:1em 1em 1em 1em;
	border:3px solid #DEDEDE;
	zoom:1;
}
#announce:after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
}
#announce .img{
	float:left;
	height:235px;
	overflow:hidden;
}
#announce .img2{
	float:left;
	height:202px;
	overflow:hidden;
}
#announce .contents{
	margin-left:160px;
	top:8px;
	line-height:1.5;
}
#announce .contents h2{
	margin-bottom:5px;
	font-size:1.2em;
	font-weight:bold;
}
#announce .contents h3{
	background:#CB0000;
	margin-bottom:5px;
	padding:4px;
	font-size:1em;
	font-weight:bold;
	color:#FFF;
}
#announce .contents ul{
	text-align:right;
}

/*スマホ対応：20周年記念事業他バナー表示　2015.11.20 add*/
#for_smart {
	margin-top:4em;
	margin-left: 15px;
}

/* newyear */
.newyear2010{
	background:url(../images/newyear2010_bg.jpg) repeat-x #FDC793 !important;
	border:3px solid #BF9E2B !important;
}
.newyear2010 p{
	line-height:180% !important;
}
#newyear2011:after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
}
#newyear2011{
	zoom:1;
	background:url(../images/newyear2012_top.jpg) left bottom repeat-x #FFF;
	border-bottom:2px solid #BF9E2B !important;
	padding:0 !important;
	padding-bottom:0;
	margin-bottom:10px!important;
}

#newyear2011 p{
	line-height:180%;
	position:relative;
	left:25px;
	padding:0 40px 0 0;
	margin-bottom:0;
	font-size:120%;
}

#newyear2011 p.img2011{
	float:left;
	padding:0;
	margin:0;
	margin-bottom:0;
	line-height:0;
	font-size:0;
	position:static;
}

#newyear2011 h2{
margin:0 0 0.5em 0;
padding:0;
}



.newyear2012{
height:202px;
background:url(../images/newyear2012_top.jpg) no-repeat;
margin:0 0 0.5em 0;
padding:0;
}


.newyear2012_box{
width:360px;
padding-top:100px;
padding-left:36px;
line-height:20px;
font-size:13px;
margin:0px;
}


.newyear2013{
/*height:184px;
background:url(../images/2013_newyear_L.jpg) no-repeat;*/
height:134px;
background:url(../images/2013_newyear.jpg) no-repeat;
background-size:contain;
margin:0 0 0.5em 0;
padding:0;
}


.newyear2013_box{
width:460px;
padding-top:100px;
padding-left:320px;
line-height:18px;
font-size:13px;
margin:0px;
}



img.miniimage { display: none; }

/* ▼表示領域が700px以上の場合 */
@media screen and (min-width: 1000px) {
   img.miniimage { display: none; }  /* miniを非表示 */
   img.bigimage  { display: block; } /* bigを表示 */
}

/* ▼表示領域が400px未満の場合 */
@media screen and (max-width: 999px) {
   img.miniimage { display: block; } /* miniを表示 */
   img.bigimage  { display: none; }  /* bigを非表示 */
}



p.resizeimage img { width: 100%; }
.resizeimage{margin-bottom:10px;}






#press_release_body dd.body{
	margin:0 60px 0 70px;
}

#raise_info_body dd.body{
/*	margin:0 155px 0 70px;*/
	margin:0 60px 0 70px;
}

#press_release_body dd.type{
	text-align:right;
	float:right;
	width:55px;
	white-space:nowrap;
}


#raise_info_body dd.type{
	text-align:right;
	float:right;
	width:150px;
	white-space:nowrap;
}


#raise_info_body dd.type2{
	text-align:right;
	float:right;
/*	width:200px;*/
	width:55px;
	font-size:0.8em;
/*	white-space:nowrap;*/
}

.latest_activity_report_body_column_left{
	background:#fff;
	border:1px solid #E3E3E3;
	padding:8px 5px;
	position:relative;
	min-height:90px;
	margin-bottom:5px;
}
.latest_activity_report_body_column_right{
	background:#fff;
	border:1px solid #E3E3E3;
	padding:8px 5px;
	position:relative;
	min-height:90px;
}

/* hide from Mac IE \*/
* html .latest_activity_report_body_column_left,
* html .latest_activity_report_body_column_right{
  height : 90px;
  height : expression(
  (document.documentElement.clientHeight > 70)? "70px" :
  (document.documentElement.clientHeight < 70)? "70px" :
  "auto");
}

/* 2013.5.13追加 */

.activity_report_sumnail_2{
	width:75px;
	position:absolute;
	top:8px;
	left:8px;
	color:#000;
	display:block;
	text-decoration: none;
	cursor: pointer;

}
.activity_report_text_2{
	display:block;
	margin:0 0 0px 88px;
}

.activity_report_view_detail_2{
	background:url(../images/format/link_tri3.gif) no-repeat;
	background-position:0 1px;
	float:right;
	padding-left:12px;
	color:#FC4128;
	text-decoration: none;
	cursor: pointer;
}


/* end MacIE *

.activity_report_sumnail{
	width:75px;
	position:absolute;
	top:8px;
	left:8px;
}

.activity_report_text{
	line-height:130%;
	margin-left:90px;
}
.activity_report_text a.activity_report_view_detail{
	background:url(../images/format/link_tri3.gif) no-repeat 0 2px;
	padding-left:14px;
	color:#FC4128;
	float:right;
}
/* end MacIE */



#latest_activity_report_body{
	padding:1em 1em 1em 1em;
}
.latest_activity_report_body_row{
	margin-bottom:5px;
}





#main_contents .backToHeader{
	text-align:right;
}
#main_contents .backToHeader a:hover {
	text-decoration:underline;
	color:#000;
}
#main_contents .backToHeader ul a {
	background:transparent url(../images/common/icon_arrow03.gif) no-repeat scroll 0 1px;
	padding-left:15px;
	text-decoration:none;
	color:#000;
}
#main_contents ul.listStyleTop01{
margin-top:0.2em;
}
#main_contents ul.listStyleTop01 li {
background:url(../images/common/icon04.gif) no-repeat 0 5px;
padding-left:8px;
}

/* attention Area */
#attentionArea{
background:#f3f3dd;
padding:1em;
position:relative;
margin-bottom:1em;
}

#attentionAreaInnter{
background:#ffffff;
padding:1em;
position:relative;
border:solid 1px #c3c3aa;
}


/* -----------------------------
  side_area1
----------------------------- */
#side_area1{
	width:220px;
	float:left;
}
#contents_area #intro_by_purpose{
	margin-bottom:20px;
}
#intro_by_purpose{
	border-bottom:2px solid #275DAF;
}
#intro_by_purpose dl{
	width:216px;
	border-top:2px solid #275DAF;
	border-left:2px solid #275DAF;
	border-right:2px solid #275DAF;
	padding-bottom:3px;
}
#intro_by_purpose dd a{
	display:block;
	width:200px;
	padding:2px 0 2px 15px;
	cursor:pointer;
	text-decoration:none;
}
#intro_by_purpose dd,
#intro_by_purpose dd a.normal{
	background:url(../quick_search/images/qck_menu_bg.gif) no-repeat;
}
#intro_by_purpose dd a.rollover,
#intro_by_purpose dd a:hover{
	background:url(../quick_search/images/qck_menu_bg_ov.gif) no-repeat;

}

#qck_menu1,
#qck_menu6,
#qck_menu10,
#qck_menu14,
#qck_menu17{
	display:block;
	width:216px;
	height:49px;
	text-indent:-9999px;
}
#qck_menu17{
	height: 42px;
	margin-bottom: -3px;
}
#qck_menu1 a,
#qck_menu6 a,
#qck_menu10 a,
#qck_menu14 a,
#qck_menu17 a{
	display:block;
	width:216px;
	height:49px;
	cursor:pointer;
}

#qck_menu1 a.normal, #qck_menu1 { background:url(../quick_search/images/qckmn_1.gif) no-repeat; }
#qck_menu1 a.rollover, #qck_menu1 a:hover { background:url(../quick_search/images/qckmn_1_ov.gif) no-repeat; }

#qck_menu6 a.normal, #qck_menu6 { background:url(../quick_search/images/qckmn_2.gif) no-repeat; }
#qck_menu6 a.rollover, #qck_menu6 a:hover { background:url(../quick_search/images/qckmn_2_ov.gif) no-repeat; }

#qck_menu10 a.normal, #qck_menu10 { background:url(../quick_search/images/qckmn_3.gif) no-repeat; }
#qck_menu10 a.rollover, #qck_menu10 a:hover { background:url(../quick_search/images/qckmn_3_ov.gif) no-repeat; }

#qck_menu14 a.normal, #qck_menu14 { background:url(../quick_search/images/qckmn_4.gif) no-repeat; }
#qck_menu14 a.rollover, #qck_menu14 a:hover { background:url(../quick_search/images/qckmn_4_ov.gif) no-repeat; }

#qck_menu17 a.normal, #qck_menu17 { background:url(../quick_search/images/qckmn_5.gif) no-repeat; }
#qck_menu17 a.rollover, #qck_menu17 a:hover { background:url(../quick_search/images/qckmn_5_ov.gif) no-repeat; }

#online_diurnal{
	margin-bottom:20px;
	width:220px;
}
#online_diurnal_body{
	background:#FBFBFB;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	padding:12px 5px 0px 5px;
}
.online_diurnal_row{
	padding-bottom:12px;
}
.online_diurnal_row p{
	background:url(../images/top/diurnal_li.gif) no-repeat 0px 2px;
	padding-left:7px;
}
.online_diurnal_left{
	width:70px;
	float:left;
}
.online_diurnal_right{
	width:118px;
	float:right;
}
#side_area1 .relation_link{
	margin-bottom:5px;
	border-bottom:2px solid #C1C1C1;
	border-top:2px solid #C1C1C1;
	padding:5px 0;
}
#side_area1 .relation_link a{
	background:url(../images/format/link_tri.gif) no-repeat;
	padding-left:16px;
}
#side_area1 dl.relation_mail{
	margin-bottom:20px;
	border-bottom:2px solid #C1C1C1;
	border-top:2px solid #C1C1C1;
	padding:5px 0;
}
#side_area1 .relation_mail dt{
	margin-bottom:3px;
}
#side_area1 .relation_mail dd{
	margin-left:16px;
}
#side_area1 .relation_mail dt a{
	background:url(../images/format/link_tri.gif) no-repeat;
	padding-left:16px;
}
#side_area1_banner_area{
	margin-left:18px;
}

#other_work{
	width:220px;
	margin-bottom:20px;
}
#other_work_body{
	background:#FBFBFB;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	padding-top:10px;
}



#other_work ul li{
	background:url(../images/top/diurnal_li.gif) no-repeat 0px 1px;
	padding-left:10px;
	margin-left:10px;
	margin-bottom:6px;
}

#other_work2{
	width:220px;
	margin-bottom:20px;
}

#other_work3{
	width:220px;
	margin-bottom:20px;
}
#other_work3_body{
	background:#FBFBFB;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	padding-top:10px;
}

#other_work3 ul li{
	background:url(../images/top/diurnal_li.gif) no-repeat 0px 1px;
	padding-left:10px;
	margin-left:10px;
	margin-bottom:6px;
}




/* -----------------------------
  side_area2
----------------------------- */
#nobel{
	border:1px solid #B2B2B2;
	background:#FFF;
	padding:5px 0 8px 0;
	width:216px;
	margin-bottom:15px;
}
#nobel .link_nobel{
	margin-left:12px;
	padding-left:14px;
	background:url(../images/common/icon_arrow01.gif) no-repeat scroll 0 2px;
}
#send_mail{
	border:1px solid #B2B2B2;
	background:#FFF;
	padding:5px 0 8px 0;
	width:216px;
	margin-bottom:15px;
}
#send_mail .bodycopy{
	margin-bottom:8px;
	margin-left:10px;
	width:200px;
}
#send_mail .mailbtn{
	margin-left:12px;
	margin-bottom:8px;
}
#send_mail .mailbtn a:hover img {
filter: alpha(opacity=80);
-moz-opacity:0.8;
opacity:0.8;
}
#send_mail .linkGoiken{
	margin-left:12px;
	padding-left:14px;
	background:url(../images/common/icon_arrow01.gif) no-repeat scroll 0 2px;
}
#riji_koubo{
	width:218px;
	margin-bottom:15px;
}
#riji_koubo .linkRiji{
	margin-left:0;
	margin-bottom:5px;
	padding-left:14px;
	background:url(../images/common/icon_arrow01.gif) no-repeat scroll 0 2px;
}
#riji_koubo_body, #notice1, #notice2, #notice3, #notice4{
	border:1px solid #B2B2B2;
	background:#F7F7F7;
	padding:8px;
}
#notice5{
	border:2px solid #B2B2B2;
	background:#F7F7F7;
	padding:10px;
	line-height:130%;
	color:#333333;
}
#notice5 .txtRight{
	margin-top:1em;
	text-align: right;
}
#riji_koubo_body2{
	border-right:1px solid #B2B2B2;
	border-left:1px solid #B2B2B2;
	border-bottom:1px solid #B2B2B2;
	background:#F7F7F7;
	padding:8px;
}

#notice2 .Riji{
	margin-left:5px;
	padding-left:14px;
	background:url(../images/common/icon_arrow01.gif) no-repeat scroll 0 2px;
}

#ips_site{
	position:relative;
	margin-bottom:20px;
}
#ips_site_body{
	width:216px;
	background:#FBFBFB;
	border-bottom:1px solid #B2B2B2;
	border-left:1px solid #B2B2B2;
	border-right:1px solid #B2B2B2;
	padding-bottom:8px;
}
p.ips_site_body_copy a,
p.ips_site_body_copy a:hover,
p.ips_site_body_copy a:active,
p.ips_site_body_copy a:visited,
p.ips_site_body_copy a:link{
	color:#000000;
}
.ips_site_body_copy{
	width:216px;
	line-height:110%;
	text-align:center;
	margin-bottom:5px;
	padding-top:8px;
}
.ips_site_image{
	margin-left:8px;
}

#other_info{
	width:220px;
	margin-bottom:15px;
}

#other_info_body{
	padding:8px;
	background:#FBFBFB;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}

#other_info_body p{
	border-top:1px solid #ccc;
	padding-top:8px;
	padding-bottom:8px;
}
#other_info_body p.other_info_body_top{
	border-top:none;
	padding-top:0px;
}


#recom_info{
	margin-bottom:15px;
}
#recom_info_body{
	background:url(../images/top/ips_bk.gif) repeat-y;
	width:216px;
	background:#FBFBFB;
	border-bottom:1px solid #B2B2B2;
	border-left:1px solid #B2B2B2;
	border-right:1px solid #B2B2B2;
	text-align:center;
	padding-bottom:5px;
}
#recom_info .recom_ph{
	padding-top:8px;
	margin-bottom:5px;
}
#recom_info .recom_text{
}
#recom_info .recom_link{
	background:transparent url(../images/format/link_tri.gif) no-repeat scroll 0 0;
	text-align:left;
	padding-left:15px;
	margin-left:90px;
}

#info_service_site{
	width:220px;
}
#info_service_site_body{
	background:#FBFBFB;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	padding:10px 10px 0 10px;
}
#info_service_site dl{
	background:url(../images/top/diurnal_li.gif) no-repeat 0 1px;
	padding-left:10px;
	margin-bottom:10px;
}

/*  contents_news */
#contents_news{
	width:218px;
	background:#FBFBFB;
	line-height:130%;
}

#cnews_body1{
	display:none;
	border-left:1px solid #B2B2B2;
	border-right:1px solid #B2B2B2;
}
#cnews_body2{
	border-left:1px solid #B2B2B2;
	border-right:1px solid #B2B2B2;
	display:none;
	padding:5px 0 10px 0;
}
#cnews_ns_title{
	width:200px;
	padding:5px 0 5px 10px;
}
#cnews_ns_img{
	margin-left:35px;
	margin-bottom:5px;
}
#cnews_sub_title{
	margin-left:10px;
	margin-bottom:7px;
}
#cnews_sub_title p{
	width:190px;
	background:#666666;
	padding:3px 5px;
	color:#FFF;
}
#cnews_detail_text_wrap{
	margin:0 10px 8px 10px;
}
#cnews_detail_text{
}
#cnews_sub_btn_area{
}

.cnews_sub_btn_area_left{
	float:left;
	margin-left:20px;
	display:inline;
	background: transparent url(../images/format/link_tri.gif) no-repeat scroll 0 0;
	padding-left: 15px;
}
.cnews_sub_btn_area_center{
	float:left;
}
.cnews_sub_btn_area_right{
	float:right;
	margin-right:20px;
	background: transparent url(../images/format/link_tri.gif) no-repeat scroll 0 0;
	padding-left: 15px;
}
#cnews_detail_btn{
	cursor:pointer;
}

#cnews_footer{
	position:relative;
	top:0;
	left:0;
	width:216px;
	background:#FBFBFB;
	border-left:1px solid #B2B2B2;
	border-right:1px solid #B2B2B2;
	border-bottom:1px solid #B2B2B2;
	margin-bottom:15px;
}

.cnews_main_title{
	border-left:6px solid #0A50A1;
	padding-left:6px;
	font-weight:bold;
	margin-bottom:12px;
}
.cnews_ph{
	width:150px;
	margin:0 auto 8px auto;
}
.cnews_link{
	margin-bottom:12px;
}

#boshu_category {
	text-align:center;
}

#boshu_category table {
	border-collapse: collapse;
	border:1px solid #9E9EA7;
	margin-bottom:12px;
	color:#444;
	line-height:110%;
}

#boshu_category table th {
	border:1px solid #9E9EA7;
	border-bottom:1px solid #FFF;
	background: #E6F2FF  url(../images/common/table_bg_test0310.gif) repeat-x bottom;
	padding:2px 5px 2px 4px;
	text-align:center;
	font-size:90%;
}

#boshu_category table td {
	border:1px solid #9E9EA7;
	background:#FFF;
	padding:2px 5px 2px 4px;
	text-align:center;
	font-size:80%;
	white-space:nowrap;
}

#boshu_category .nowrap{
	white-space:nowrap;
}

#boshu_category caption{
	display:none;
}

/*  txt decoration */

.attentionRed {
	color:red;
	margin-bottom:0.2em;
	font-size:1em;
	line-height:1.4;
}
.fontWeightBold {
	font-weight:bold;
}

.txtIialic{
	font-style:italic;
	margin-right:0.1em;
}

.marBtm1em {
margin-bottom:1em;
}