﻿#content *,
#content *:before,
#content *:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

#content td, #content p, #content li, #content input, #content select, #content textarea {
	font: normal 11px/1.2em "Segoeu UI", Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	color: #383e49;
}

#content table, #content img {
	border: none;
}

#content td {
	empty-cells: show;
	padding: 0;
}

#content a, #content a:visited, #content a:active {
	color: #008eb8;
	text-decoration: none;
}

	#content a:hover {
		text-decoration: underline;
	}

#content {
	margin: 0 auto;
	padding:10px 0 0 22px!important;
	font: normal 11px/1.2em Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	color: #383e49;
}

#content #leaderboard {
	width: 728px;
	height: 90px;
	float: left;
	background-color: #81b4d3;
	position: absolute;
	top: 0px;
	left: 274px;
	overflow: hidden;
}


#content #trafficSearchBox {
	float: left;
	margin-top: 7px;
	border: #285E82 solid 1px;
	height: 16px;
	width: 295px;
	font-size: 10px;
	color: #999;
	padding-top: 3px;
}

#content #trafficSearchButton {
	float: left;
	margin-top: 7px;
	vertical-align: middle;
}

#content #tips {
	margin-right: 10px;
	float: right;
	text-align: right;
	line-height: normal;
	font-size: 10px;
	padding-top: 6px;
	font-weight: normal;
}

	#content #tips span {
		font-weight: bold;
		color: #008eb8;
	}

	#content #tips a, #content #tips a:hover {
		text-decoration: none;
		color: #383e49;
	}

		#content #tips a span:hover {
			text-decoration: underline;
		}

#content #moreFromBox {
	padding: 1px;
	padding-left: 0px;
	width: 657px;
	height: 210px;
	border: solid 1px #CCC;
}

	#content #moreFromBox li {
		font-weight: bold;
		margin-left: 25px;
		margin-top: 10px;
	}

#content #moreIMap {
	padding-right: 1px;
	width: 33%;
	margin-left: 1px;
	float: left;
	text-align: center;
}

#content #moreWeather {
	margin-left: 1px;
	width: 32%;
}

	#content #moreWeather table {
		margin: 3px;
	}

	#content #moreWeather td {
		padding: 3px;
		font-size: 10px;
	}

	#content #moreWeather tr {
		vertical-align: top;
	}

#content #moreArticles {
	margin-left: 6px;
	width: 33%;
}

#content .MoreFromImg {
	margin-right: 3px;
	margin-left: 3px;
}

#content .MoreFromText {
	width: 125px;
	font-weight: normal;
}

#content .MoreFromSub {
	background-color: #DDD;
	color: #7c6666;
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
}

#content .MoreFromBorder {
	height: 212px;
	border-left: solid 1px #DDD;
	padding-left: 1px;
}



#content #headerBar {
	border-top: solid 1px #e7f4fc;
	border-bottom: solid 1px #e7f4fc;
	margin-bottom: 5px;
	height: 22px;
}

#content #headerBarWide {
	border-top: solid 1px #e7f4fc;
	border-bottom: solid 1px #e7f4fc;
	margin-bottom: 5px;
	height: 22px;
	width: 800px;
}

#content #subnav {
	font-size: 10px;
}

	#content #subnav.Selected {
		color: #999;
	}



#content #icastNav, #content #icastNav a {
	color: #008eb8;
	font-weight: bold;
	background-color: #e6ebf2;
}

#content #wsiNav {
	background-color: #f6f6f6;
}

#content #referral {
	background: #F5FAFC url(http://images.intellicast.com/App_Images/skymenu.gif) repeat-x -1px 0px;
	position: absolute;
	top: 159px;
	left: 480px;
	width: 180px;
	height: 157px;
	padding: 8px 5px;
	visibility: hidden;
}

	#content #referral input[type=text] {
		width: 160px;
		height: 14px;
		border: solid 1px #43708c;
	}

#content #focus div.Chrome {
	border: none;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 12px;
}

#content #weathercom a {
	font-weight: bold;
}

#content #weathercom span {
	font-size: 18px;
}

#content #weathercom li {
	margin-bottom: 10px;
}

#content #googleSearch {
	vertical-align: middle;
	margin-bottom: 10px;
	border: solid 1px #999; /*border-top:solid 1px #999;border-bottom:solid 1px #999;*/
	background: #F2F1E6 url(http://images.intellicast.com/App_Images/chrome_light.gif) repeat-x;
}

	#content #googleSearch img {
		vertical-align: middle;
	}

#content #alertsByState {
	width: 100%;
}

	#content #alertsByState a {
		color: inherit;
	}

#content #radarGadget {
	margin-left: 55px;
	width: 243px;
}

#content .ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

	#content .ac_results ul {
		width: 100%;
		list-style-position: outside;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	#content .ac_results li {
		margin: 0px;
		padding: 2px 5px;
		cursor: default;
		display: block;
		font: menu;
		font-size: 12px;
		line-height: 16px;
		overflow: hidden;
	}

#content .ac_loading {
	background: white url('http://images.intellicast.com/App_Images/icon_load.gif') right center no-repeat;
}

#content .ac_odd {
	background-color: #eee;
}

#content .ac_over {
	background-color: #008eb8;
	color: white;
}

#content #airportSearchBox {
	float: left;
	margin-top: 7px;
	border: #285E82 solid 1px;
	height: 16px;
	width: 295px;
	font-size: 10px;
	color: #999;
	padding-top: 3px;
}

#content #airportSearchButton {
	float: left;
	margin-top: 7px;
	vertical-align: middle;
}

#content #hurricaneTrack {
	line-height: 25px;
	background: #9b0000 url(http://images.intellicast.com/App_Images/chrome_alert.gif) repeat-x;
	height: 25px;
	border-top: solid 1px #383e49;
	border-left: solid 1px #383e49;
	border-right: solid 1px #383e49;
	padding: 0px 10px;
}

#content .Charcoal, #content .Charcoal a {
	color: #383e49;
}

#content .Primary, #content .Primary a {
	color: #008eb8;
}

#content .Header {
	font-size: 18px;
	line-height:20px;
}

#content .BreadCrumb {
	float: right;
	line-height: 22px;
}

	#content .BreadCrumb img {
		vertical-align: middle;
		cursor: pointer;
	}

#content .Icon {
	vertical-align: middle;
	margin-right: 3px;
}

#content .Alert, #content a.Alert {
	color: #900;
}

#content .Container {
  background-color: #e3e6ea;
	clear: both;
	margin-bottom: 10px;
}

#content .ContainerSections {
	float: left;
	width: 130px;
}

#content .Bucket {
	border: solid 1px #999;
	border-top: none;
}

#content .Chrome {
	line-height: 25px;
	background: #383e49;
	height: 27px;
  color: white;
	padding: 0px 10px;
}

#content .Title {
	float: left;
	font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 12px;
  font-weight: normal;
}

#content .Container .Chrome .Title a {
  color:white;
}

#content .Fine {
	font-size: 10px;
}

#content .Content {
	padding: 10px;
}

#content .Underline {
	text-decoration: underline;
}

#content .Close {
	padding-left: 23px;
	vertical-align: bottom;
	cursor: pointer;
}

#content .Submit {
	padding: 1px 8px;
	float: right;
}

#content .Thumbnail {
	height: 75px;
	width: 100px;
}

#content ul.LinkList, #content ul.LinkList li {
	margin: 0px;
	padding: 0px;
	list-style-type: square;
	color: #008eb8;
}

#content .FloatLeft {
	float: left;
}

#content .ColumnHeader {
	font-weight: bold;
	border-bottom: solid 1px #CCC;
}

#content .HeaderGradientDark {
	background: #fff url(http://images.intellicast.com/App_Images/chrome_dark3.gif) repeat-x;
}

#content .FontWhite {
	color: #fff;
}

#content .FontGrey {
	color: #383e49;
}

#content .Tip {
	color: #383e49;
	text-decoration: underline;
	cursor: help;
}

#content .AlphaList {
	border: solid 1px #999;
	background: #f6f6f6;
	padding: 3px;
}

	#content .AlphaList a {
		padding: 0px 3px;
	}

#content .Related {
	width: 100%;
}

	#content .Related td {
		padding: 1px 10px;
	}

	#content .Related img.Thumbnail {
		width: 100px;
		height: 75px;
	}

#content .RelatedContainer {
	text-align: center;
	padding: 4px;
}

#content .RelatedContainerWide {
	text-align: center;
	padding: 4px;
	width: 792px;
}

#content .RelatedTop {
	margin-top: 9px;
}

#content .RelatedTopWide {
	width: 780px;
}

#content .Related a {
	display: block;
	padding: 2px;
	border: solid 1px #e3e6ea;
}

#content .Related td.Selected a {
	font-weight: bold;
	background-color: #d0e1fa;
	border: solid 1px #9bc7fd;
}

#content .Related a:hover {
	background-color: #f3f7fd;
	border: solid 1px #bbd8fb;
	text-decoration: none;
}

#content .SmallContainer {
	height: 120px;
}

#content .FocusIcon img {
	border: solid 1px #065F98;
}

#content .TopAlign {
	vertical-align: top;
}

#content .ContainerPrimary {
	border: solid 1px #008eb8;
}

#content .BackgroundPrimary {
	background-color: #008eb8;
}

#content .Bold {
	font-weight: bold;
}

#content .Padleft {
	padding-left: 10px;
}

#content .Padright {
	padding-right: 10px;
}

#content .Padbottom {
	padding-bottom: 10px;
}

#content .White, #content .White a, #content .White a:visited, #content a.White, #content a.White:visited {
	color: #FFF;
}

#content .InnerBox {
	padding: 1px;
	float: left;
	border-left: solid 1px #CCC;
	width: 430px;
}

#content .InnerBoxHeader {
	font-weight: bold;
	color: #666666;
	background-color: #dddddd;
	padding: 3px 3px 3px 10px;
	margin-bottom: 5px;
}

#content .InnerBox div {
	float: left;
	margin-left: 6px;
	text-align: center;
}

#content .Destinations div {
	padding: 2px 5px;
}

#content .Bold {
	font-size: 11px;
	font-weight: bold;
}

#content .MoreBackground {
	background: #fff url(http://images.intellicast.com/App_Images/chrome_dark3.gif) repeat-x;
}

#content .MoreSecondaryTitle {
	font-weight: bold;
	color: #666666;
	background-color: #dddddd;
}

#content .Callout {
	border: solid 1px #346795;
	margin: 0px 0px 10px 0px;
	clear: both;
}

	#content .Callout div {
		width: 100%;
		height: 100%;
		vertical-align: top;
		cursor: pointer;
	}

#content .MarginBottom {
	margin-bottom: 10px;
}

#content .IMapHelp {
	font-size: 18px;
	margin-top: -5px;
	margin-bottom: 3px;
}

#content .Flyout {
	margin: 0px 0px 0px -3px;
	padding: 0;
}

	#content .Flyout ul {
		display: block;
		position: absolute;
	}

		#content .Flyout ul.children {
			margin: 4px 0px 0px 4px;
			padding: 0;
			z-index: 100;
			visibility: hidden;
			background: #F5FAFC url(http://images.intellicast.com/App_Themes/Silver/Images/flyout.gif) repeat-x 1px 0px;
			border: solid 1px #A5A8A8;
		}

	#content .Flyout li {
		background: #none url(images/bg_grey_tab.gif) no-repeat scroll left top;
		display: inline;
		float: left;
		height: auto;
	}

		#content .Flyout li li {
			background: #none none repeat scroll 0%;
			display: block;
			float: none;
		}

	#content .Flyout a {
		text-decoration: none;
		padding: 0px 6.5px;
		font-weight: bold;
		font-size: 10px;
		display: block;
		cursor: pointer;
	}

	#content .Flyout ul a {
		background: none repeat scroll 0%;
		border-left: solid 1px #FFF;
		border-right: solid 1px #FFF;
		color: #008eb8;
		line-height: 13px;
		width: 85px;
		padding: 2px 4px;
		font-weight: normal;
		font-size: 11px;
	}

		#content .Flyout ul a:hover {
			background: #008eb8;
			color: #fff;
		}

	#content .Flyout li:hover ul, #content .Flyout li.sf ul {
		visibility: visible;
	}

		#content .Flyout li:hover ul ul, #content .Flyout li.sf ul ul {
			visibility: hidden;
		}

	#content .Flyout .parent {
		height: 18px;
		display: block;
	}

#content .Tab {
	height: 20px;
	font-family: Verdana;
	text-align: center;
	padding-top: 1px;
}

	#content .Tab a, #content .Tab a:hover {
		display: block;
		width: 100%;
		line-height: 20px;
		color: #383e49;
		text-decoration: none;
	}

#content .TabSpacer {
	background: url(http://images.intellicast.com/App_Images/tab_spacer.gif);
}

#content .TabPanel {
	height: 211px;
	padding: 8px;
}

#content #controls {
	background-color: #e3e6ea;
  border-bottom: none;
	width: 100%;
}

#content div.Button {
	border: solid 1px #383e49;
	margin: 2px;
	float: right;
}

	#content div.Button a {
		padding: 3px 5px;
		display: block;
		text-align: center;
		white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, sans-serif;
	}

	#content div.Button a {
		border: solid 1px #fff;
		background: #e3e6ea;
	}

		#content div.Button a.Secondary {
			color: White;
			border: solid 1px #ffb3b3;
			background: #9d0004;
		}

		#content div.Button a.Primary {
			color: White;
			border: solid 1px #B3E3FF;
			background: #148fb9;
		}

#content .Pager a, #content .Pager span {
	display: block;
	padding: 4px;
	margin: 0 1px;
}
