﻿  /**
   Video Player Styles --------*/
  .video-title {
    font-weight:normal;
    margin:0 0 10px 0;
  }
  .video-desc {
    font-size:1.2em;
    line-height:1.5em;
  }
  .main-video {
    height:500px;
    margin-bottom:10px;
  }
  /**
  Video Menu Styles ---------*/
  .video-feed-wrapper {
    width:100%;
    height:120px;
    display:table;
    table-layout:fixed
  }
  .video-feed-row {
    display:table-row;
    height:120px;
  }
  .paging-card {
    display:table-cell;
    width:20px;
    background:#008eb8;
    cursor:pointer;
    vertical-align:middle;
  }
  .paging-card i {
    cursor:pointer;
    display:block;
    width: 0; 
	  height: 0; 
    border-top: 10px solid transparent;
	  border-bottom: 10px solid transparent; 
    vertical-align:middle;
    margin-left:5px;
  }
  .paging-card .arrow-left {
    border-right:10px solid white;
  }
  .paging-card .arrow-right {
    border-left:10px solid white;
  }
  .paging-card.inactive {
    opacity:0.4;
  }
  .video-feed {
    display:table-cell;
    position:relative;
    overflow:hidden;
  }
  .video-feed ul {
    width:20000em;
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
  }
  .video-feed li {
    float:left;
    width:170px;
    height:120px;
  }
  .video-feed .video-menu-item {
    width:160px;
    height:120px;
    color:#fff;
    text-shadow:0 0 2px rgba(0, 0, 0, 0.2);
    background:#444;
    cursor:pointer;
    margin:0 0 0 10px;
    position:relative;
  }
  .video-feed .video-menu-item.selected {
    /*background:#008eb8;*/
  }
  .video-feed .video-menu-item.selected:after {
    display:block;
    content:"NOW PLAYING";
    height:1.5em;
    line-height:1.5em;
    padding:0 .75em;
    font-size:14px;
    background:#008eb8;
    position:absolute;
    top:0;left:0;
    z-index:1;
  }
  .video-menu-item.up-next:after {
    display:block;
    content:"UP NEXT";
    height:1.5em;
    line-height:1.5em;
    padding:0 .75em;
    font-size:14px;
    background:#444;
    position:absolute;
    top:0;left:0;
    z-index:1;
  }
  .video-feed .video-item-thumb {
    display:block;
  }
  .video-feed .video-item-title {
    display:block;
    padding:0 5px;
    text-align:left;
    line-height:1.3em;
  }