@import url(//fonts.googleapis.com/css?family=Lora:400italic,700italic|Open+Sans:400,700);

html, body { height: 100%; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size: 16px; line-height: normal; margin: 0; color: black; background-color: white; cursor: default; }
a { text-decoration: underline; color: #0073de; outline: 0; }
a:hover { text-decoration: none; }
abbr { border-bottom: 1px dotted; }
fieldset { margin: 0; padding: 0; border: 0; }
hr { height: 0; margin: 25px 0; border: 0; border-bottom: 1px solid #cbcbcb; -moz-box-sizing: content-box; box-sizing: content-box; }
img { border: 0; }
ol { margin-left: 24px; padding: 0; }
ul { margin-left: 18px; padding: 0; list-style: disc; }
small { font-size: 80%; }
strong { font-weight: bold; }
sub, sup { font-size: 75%; line-height: 0; vertical-align: baseline; position: relative; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
th, td { padding: 3px; }
th { text-align: left; }
button, input, select, textarea { font-family: inherit; font-size: 100%; line-height: normal; margin: 0; outline: 0; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { padding: 0; border: 0; background-color: transparent; box-sizing: border-box; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }
textarea { vertical-align: top; overflow: auto; resize: none; }
ol, ul, table, h1, h2, h3, h4, h5, h6, p { margin-top: 0; margin-bottom: 15px; }
h1, .h1-style { font-size: 30px; }
h2, .h2-style { font-size: 20px; }
h3 { font-size: 20px; }
h4 { font-size: 15px; }
h5 { font-size: 13px; font-weight: normal; margin: 25px 0 10px; color: #979797; }
h6 { font-size: 12px; font-weight: normal; margin: 25px 0 10px; color: #626262; }
h1, h2, h3 { font-family: "Lora", Arial, Helvetica, sans-serif; font-style: italic; font-weight: 700; }
h2, h3, h4 { margin-top: 25px; }
h2:first-child, h3:first-child, h4:first-child { margin-top: 0; }
h3, h4 { font-weight: 400; }

/* common classes */
::selection { color: black; background-color: #cbcbcb; }
::-moz-selection { color: black; background-color: #cbcbcb; }
::-webkit-input-placeholder { color: #979797; }
::-moz-placeholder { color: #979797; opacity: 1; }
:-ms-input-placeholder { color: #979797; }
span.skype_pnh_container { display: none !important; }
span.skype_pnh_print_container { display: inline !important; }
.clear { clear: both; height: 0; visibility: hidden; }
.space { height: 25px; }
.nowrap { white-space: nowrap; }
.placeholder { color: gray; }
.float-left { float: left; }
.float-right { float: right; }
.float-center { margin: 0 auto; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

/* specific classes */
.page { min-width: 1340px; }
body:last-child .page { min-width: 320px; }
.wrap { max-width: 1280px; padding: 0 30px; margin: 0 auto; position: relative; }
.wrap:after { content: ""; display: block; clear: both; height: 0; visibility: hidden; }
.wrap-2 { margin-left: 140px; }
.header { display: table; width: 100%; height: 115px; }
.logo, .support, .search.top { display: table-cell; text-align: center; vertical-align: middle; }
.logo { width: 22%; }
.search form { padding: 3px; background-color: white; position: relative; }
.search input { width: 100%; padding: 6px 106px 6px 6px; background-color: transparent; border: 0; box-sizing: border-box; }
.search .button { font-size: 14px; font-weight: bold; text-transform: uppercase; width: 100px; padding: 7px 0 8px !important; color: white; background-color: #ff7e00; position: absolute; right: 3px; top: 3px; }
.search .button:hover { background-color: #ff9833; }
.search.top form { border: 1px solid #cbcbcb; border-bottom: 2px solid #373737; background: url(../img/resource-center/magnifier.png) no-repeat 10px center; }
.search.top input { padding-left: 42px; }
.nav { font-size: 14px; text-align: center; text-transform: uppercase; background-color: #373737; }
.nav ul { margin: 0; list-style: none; }
.nav li { display: inline-block; padding: 12px 40px; color: white; }
.nav li:hover, .nav li.active { background-color: #5b5a5a; }
.nav li a { text-decoration: none; display: block; margin: -12px -40px; padding: 12px 40px; color: inherit; }
.col-center { min-height: 1240px; margin: 25px 200px 25px 380px; }
.col-right { width: 160px; margin-bottom: 25px; position: absolute; right: 30px; top: 0; }
.col-left { width: 340px; margin-bottom: 25px; position: absolute; left: 30px; top: 0; }
.col-single { width: 730px; margin: 0 auto; }
.subnav { margin-top: 25px; }
.subnav:first-child { margin-top: 0; }
.subnav ul { margin: 0; list-style: none; }
.subnav li { font-size: 14px; text-transform: uppercase; display: block; margin-bottom: 1px; padding: 5px 0 5px 25px; position: relative; }
.subnav li:hover, .subnav li.active { background-color: #cbcbcb; }
.subnav li:before { content: ""; display: block; width: 12px; background-color: #373737; position: absolute; left: 0; top: 0; bottom: 0; pointer-events: none; }
.subnav li a { text-decoration: none; display: block; margin: -5px 0 -5px -25px; padding: 5px 0 5px 25px; color: inherit; }
.glossary:after { content: ""; display: block; clear: both; height: 0; visibility: hidden; }
.glossary a, .glossary strong { font-size: 14px; text-align: center; text-decoration: none; text-transform: uppercase; display: block; float: left; width: 30px; line-height: 30px; margin: 0 2px 2px 0; color: white; background-color: #373737; }
.glossary a:hover, .glossary strong { background-color: #5b5a5a; }
.banner { margin: 30px 0; overflow: hidden; }
.banner.top { text-align: center; }
.banner.compact { margin: 0 0 6px; }
.article a { display: block; margin-bottom: 15px; }
.article h4 { margin: 0; }
.article img { float: left; width: 100px; }
.article img + h4 { min-height: 70px; margin-left: 115px; }
.main-article { overflow: hidden; }
.main-article a { text-decoration: none; display: block; color: black; }
.share { font-size: 15px; margin: 25px 0; }
.share a { text-decoration: none; display: block; line-height: 40px; margin-bottom: 5px; padding-left: 50px; color: black; background-image: url(../img/resource-center/share.png); background-repeat: no-repeat; }
.share a:hover { color: white; }
.share .facebook { background-position: 0 0; }
.share .facebook:hover { background-color: #3b5998; }
.share .twitter { background-position: 0 -40px; }
.share .twitter:hover { background-color: #55acee; }
.share .google { background-position: 0 -80px; }
.share .google:hover { background-color: #dd4b39; }
.share .linkedin { background-position: 0 -120px; }
.share .linkedin:hover { background-color: #007bb6; }
.share.inline { text-align: center; margin-top: 70px; }
.share.inline a { display: inline-block; margin-right: 30px; padding-right: 10px; }
.hero { max-height: 300px; margin-bottom: 25px; overflow: hidden; }
.hero img { display: block; width: auto; height: auto; max-width: 100%; }
.hero.float { float: right; margin: 0 0 20px 20px; }
.tiles { font-size: 0; margin-top: 30px; padding: 30px 15px 0; border: 1px solid #cbcbcb; }
.tile { font-size: 13px; display: inline-block; vertical-align: top; width: 50%; }
.tile a { text-decoration: none; display: block; margin: 0 15px 30px; color: black; }
.tile h2 { margin: 0; padding: 10px 0; }
.tile img { display: block; width: auto; height: auto; max-width: 100%; }
.paging { text-align: center; margin: 25px 0; }
.paging a, .paging strong { font-size: 14px; font-weight: normal; text-decoration: none; text-transform: uppercase; display: inline-block; line-height: 30px; margin-right: 2px; padding: 0 10px; color: black; }
.paging a:hover { color: white; background-color: #373737; }
.paging strong { background-color: #cbcbcb; }
.blue-form { padding: 30px 130px 30px 30px; background: #d8e8ec url(../img/resource-center/bg-magnifier.png) no-repeat right bottom; }
.footer { font-size: 12px; text-align: center; padding: 20px 0; color: #979797; border-top: 1px solid #cbcbcb; }
.footer.no-border { border-top: 0; }
.footer p { margin-bottom: 5px; }
.footer a { color: inherit; }
.gray-text { font-size: 12px; color: #373737; }
.gray-text a { color: inherit; }
.graybox { font-size: 15px; margin: 25px 0; padding: 30px; background: #d8e8ec url(../img/resource-center/bg-cogwheel.png) no-repeat right bottom; }
.graybox ol { counter-reset: section; margin-left: 0; list-style: none; }
.graybox ol li { padding: 3px 0 3px 30px; position: relative; }
.graybox ol li:before { counter-increment: section; content: counter(section) "."; font-family: "Lora", Arial, Helvetica, sans-serif; font-size: 19px; font-style: italic; font-weight: 700; position: absolute; left: 0; top: 0; }
.graybox ul li { padding: 3px 0; }
.pros-and-cons { margin-bottom: 80px; background: #d8e8ec url(../img/resource-center/bg-info.png) no-repeat right bottom; position: relative; }
.pros-and-cons ul { margin: 0; list-style: none; }
.pros-and-cons ul li { padding-left: 30px; background: url(../img/resource-center/icon-plus.png) no-repeat 0 7px; }
.pros-and-cons ul ~ ul li { background-image: url(../img/resource-center/icon-minus.png); }
.pros-and-cons p { font-size: 13px; width: 100%; padding: 15px 30px; background-color: #b6c3c6; border-top: 2px solid white; box-sizing: border-box; position: absolute; left: 0; top: 100%; }
.pros-and-cons p strong { font-size: 18px; margin-right: 5px; }
.article-content { margin-bottom: 25px; }
.article-content table { font-size: 15px; width: 100%; margin-bottom: 25px; background: #d8e8ec url(../img/resource-center/bg-info.png) no-repeat right bottom; }
.article-content table tr td { vertical-align: top; }
.article-content table tr td:first-child { padding-left: 30px; padding-right: 10px; font-weight: bold; }
.article-content table tr td:last-child { padding-left: 10px; padding-right: 30px; }
.article-content table tr:first-child td { padding-top: 30px; }
.article-content table tr:last-child td { padding-bottom: 30px; }
.article-content table p { margin: 0; }
.gallery { margin-bottom: 25px; }
.gallery p { font-size: 13px; display: inline-block; vertical-align: top; width: 134px; margin: 0 2px 12px 0; }
.gallery a { display: block; height: 100px; margin-bottom: 2px; overflow: hidden; }
.gallery img { width: 100%; }
.column { font-size: 15px; display: inline-block; vertical-align: top; width: 47%; }
.column + .column { margin-left: 5%; }
.column p { margin-bottom: 10px; }
#rate-this-article-box { font-size: 15px; text-align: right; margin-left: 30px; position: relative; z-index: 8; }
#rate-this-article-box p { margin-bottom: 10px; }
#rate-this-article { display: none; position: absolute; top: 30px; right: 0; width: 387px; height: 196px; background: #FFF url(../img/resource-center/rate-this-article.gif) no-repeat center; }
#rate-this-article a { position: relative; display: block; float: left; width: 70px; height: 65px; margin-top: 64px; background: url(../img/resource-center/rate-this-article-star.gif) no-repeat top right; }
#rate-this-article a.yellow-star { background-position: top left; }
#rate-this-article a span, #rate-this-article a img { display: none; }
#rate-this-article a:hover span { display: block; position: absolute; top: 75px; left: 50%; padding: 5px 10px; color: #000; font-size: 11px; line-height: 11px; white-space: nowrap; background-color: #FF6; border: 1px solid #900; border-radius: 3px; }
#rate-this-article a:hover img { display: block; position: absolute; top: 69px; left: 50%; margin-left: -3px; }
#rate-this-article a:first-child { margin-left: 18px; }
#rate-this-article p { position: absolute; bottom: 5px; right: 8px; margin: 0; }
.five-stars { display: inline-block; vertical-align: -5px; width: 120px; margin-right: 5px; background: url(../img/resource-center/five-stars-gray.png) no-repeat; }
.five-stars span { display: block; float: left; height: 22px; background: url(../img/resource-center/five-stars-yellow.png) no-repeat; }
.like { min-height: 55px; margin-bottom: 25px; }
.fb-like { vertical-align: 5px; width: 110px; }
.fb-comments, .fb-comments span, .fb-comments span iframe[style] { min-width: 100% !important; width: 100% !important; }

.header-2 { border-bottom: 5px solid #373737; }
.header-2 .wrap { display: table; width: 100%; max-width: 1340px; height: 75px; padding: 0; }
.logo-2, .nav-2, .nav-3, .search-2, .sign-in, .sign-in-2, .support-5 { display: table-cell; vertical-align: middle; padding: 0 30px; }
.logo-2 { width: 220px; }
.logo-2 img { width: 210px; vertical-align: middle; }
.logo-search-2 { display: table-cell; vertical-align: middle; padding: 6px 0; }
.logo-search-2 img { width: 160px; vertical-align: middle; }
.nav-2 ul { margin: 0; list-style: none; }
.nav-2 ul ul { display: none; }
.nav-2 li { display: inline-block; }
.nav-2 li a { font-size: 13px; line-height: 20px; text-decoration: none; text-transform: uppercase; display: block; margin-right: 25px; color: inherit; }
.nav-2 li a:hover { text-decoration: underline; }
.nav-2 li a:before { content: ""; float: left; width: 20px; height: 20px; margin-right: 5px; background-image: url(../img/resource-center/nav-icons.png); }
.nav-2 li + li a:before { background-position: -20px 0; }
.nav-2 li + li + li a:before { background-position: -40px 0; }
.nav-2 li + li + li + li a:before { background-position: -60px 0; }
.nav-2 li + li + li + li + li a:before { background-position: -80px 0; }
.nav-2 li + li + li + li + li + li a:before { background-position: -100px 0; }
.nav-2.icons-2 li a:before { background-image: url(../img/resource-center/nav-icons-2.png); }
.nav-3 ul { margin: 0; list-style: none; }
.nav-3 ul ul { display: none; }
.nav-3 li { display: inline-block; }
.nav-3 li a { font-size: 13px; text-decoration: none; text-transform: uppercase; display: block; margin-right: 25px; color: inherit; position: relative; }
.nav-3 li a:before { content: ""; display: inline-block; vertical-align: middle; width: 39px; height: 39px; margin-right: 7px; background-image: url(../img/resource-center/cat-icons-small.png); }
.nav-3 .icon-it-technology:before { background-position: 0 0; }
.nav-3 .icon-health:before { background-position: -39px 0; }
.nav-3 .icon-jobs:before { background-position: -78px 0; }
.nav-3 .icon-finance:before { background-position: -117px 0; }
.search-2 { width: 300px; }
.search-2 form { border-bottom: 1px solid #cbcbcb; position: relative; }
.search-2 input { width: 100%; padding: 4px 30px 4px 4px; color: #979797; border: 0; box-sizing: border-box; }
.search-2 input[type="submit"] { width: 30px; height: 100%; padding-right: 4px; background: url(../img/resource-center/magnifier-small.png) no-repeat center center; position: absolute; right: 0; top: 0; }
.search-3 form { margin-bottom: 10px; border: 1px solid #cbcbcb; position: relative; }
.search-3 input { width: 100%; padding: 6px 34px 6px 6px; border: 0; box-sizing: border-box; }
.search-3 input[type="submit"] { width: 34px; height: 100%; padding-right: 6px; background: url(../img/resource-center/magnifier-small.png) no-repeat center center; position: absolute; right: 0; top: 0; }
.search-4 { margin: 35px 0; }
.search-4 fieldset { display: inline-block; vertical-align: top; }
.search-4 label { font-size: 18px; font-weight: bold; line-height: 30px; display: block; color: #dc0606; }
.search-4 input { font-size: 15px; width: 290px; padding: 6px; border: 1px solid #cbcbcb; }
.search-4 input[type="submit"] { width: 112px; margin-top: 30px; color: white; background-color: #5dbd46; border-color: #979797; }
.search-4 .hint { font-size: 12px; margin-top: 2px; color: #979797; }
.search-5 { margin: 25px 0 45px; }
.search-5 input { font-size: 15px; padding: 6px; border: 1px solid #cbcbcb; box-sizing: border-box; }
.search-5 input[type="text"] { width: 37%; padding-left: 46px; background: url(../img/resource-center/magnifier-small.png) no-repeat 10px center; }
.search-5 input[type="submit"] { width: 23%; color: white; background-color: #5dbd46; border-color: #979797; }
.search-6 { margin: 90px 0; }
.search-6 .wrap { max-width: 680px; }
.search-6 form { background-color: white; border: 5px solid #d6e9f3; }
.search-6 form div { border: 1px solid #5a5a5a; position: relative; }
.search-6 #q { font-family: inherit; font-size: 100%; width: 100%; margin: 0; padding: 10px 110px 10px 10px; border: 0; outline: none; box-sizing: border-box; }
.search-6 #btn { font-weight: bold; margin: 0; padding: 0 10px 0 35px; color: white; background: #ff7200 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNpi/P//PwMaYAZiVyCWg/LvA/FuBkIAZBASdgLiJ/8xwT0gtkRTi4KROXVomi8B8VUk/h8gLiJkUCCShkVAzIOkiB+I1yHJO+Ez6AZU0QQ8zp8PVXMSl0G6UAXf0FyCjkWh3gMBOXR5JmB4G0PD/TgQf8ETL6+B+AKUbYAuCTKIDcr+yEAYwNTwYDPoBZRtTMAQZiSXPMWWjvih4QMCHnjCKByq5hUQc+KKtclQRc+hgY9uiDEQv4WqWYcv+vmRksA3aFQnAHEyEC8F4p9oibUOX8qWBuLz/3GDV2j8LlwGgTAb1CVboFnkDBCvAGJvIGaGug4ZTMZlEDF4JpphoGBgJscgBqi3YAAUfgbkGoRcWkSR6zVkbAZjAwQYAIdTTLYA7pPNAAAAAElFTkSuQmCC) no-repeat 10px center; border: 0; outline: none; position: absolute; right: 1px; top: 1px; bottom: 1px; cursor: pointer; }
.login-form { margin: 45px 0; }
.login-form .wrap { max-width: 680px; }
.login-form form { font-size: 15px; padding: 30px 25px; background-color: #f2f2f2; border: 1px solid #e7e7e7; }
.login-form label { display: none; }
.login-form input { font-family: inherit; font-size: 100%; width: 100%; margin-bottom: 8px; padding: 10px; background-color: white; border: 1px solid #999; outline: none; box-sizing: border-box; }
.login-form input[type="submit"] { margin-top: 12px; color: black; background-color: #ccc; border-color: #b3b3b3; cursor: pointer; }
.login-form input[type="submit"]:hover { background-color: #b3b3b3; }
.login-form .forgot { margin: 20px 0 0; }
.login-form .error { font-weight: bold; margin-bottom: 20px; padding: 10px; background-color: red; color: white; }
.login-form .FRM_check, .login-form .FRM_error { display: none !important; }
.login-form .FRM_hint-error { color: red; margin-bottom: 2px; }
.login-form .FRM_has-error input { border-color: red; }
.sign-in, .sign-in-2 { text-align: right; }
.newsletter-1 { margin: 45px 10%; }
.newsletter-1 input { font-size: 15px; display: inline-block; vertical-align: top; width: 74%; padding: 6px; border: 1px solid #cbcbcb; box-sizing: border-box; }
.newsletter-1 input[type="submit"] { width: 24%; color: white; background-color: #5dbd46; border-color: #979797; }
.newsletter-2 { margin: 25px 0; }
.newsletter-2 p { margin-bottom: 5px; color: #979797; }
.newsletter-2 input { font-size: 15px; width: 200px; padding: 6px; border: 1px solid #cbcbcb; }
.newsletter-2 input[type="submit"] { width: 100px; margin-top: 5px; color: white; background-color: #5bc6ed; border-color: #979797; }
.content { margin: 45px 0; overflow-wrap: break-word; word-wrap: break-word; }
.gray-box { background-color: #f3f3f3; }
.white-box { margin-bottom: 10px; padding: 10px; background-color: white; }
.col-center-2 { min-height: 700px; margin: 0 320px 0 180px; padding: 20px 30px 40px; background-color: white; }
.col-right-2 { font-size: 13px; width: 300px; position: absolute; right: 30px; top: 20px; }
.col-left-2 { width: 160px; padding-bottom: 1px; position: absolute; left: 30px; top: 20px; }
.subnav-2 ul { margin: 0; list-style: none; }
.subnav-2 ul li { font-size: 11px; text-transform: uppercase; display: block; margin-top: 15px; }
.subnav-2 ul li:first-child { margin-top: 0; }
.subnav-2 ul li a { text-decoration: none; display: block; color: inherit; }
.subnav-2 ul li a:hover { text-decoration: underline; }
.support-2 { margin-bottom: 10px; padding: 20px 10px; background: #2d7093 url(../img/resource-center/support-2.png) no-repeat -12px bottom; border-bottom: 2px solid #373737; }
.support-2 p { font-size: 14px; line-height: 1.2; text-align: center; margin: 0; padding-left: 78px; color: white; }
.support-2 strong { font-size: 20px; display: block; margin-top: 5px; }
.support-3 { padding: 15px; background: #373737 url(../img/resource-center/support.png) no-repeat 15px 15px; }
.support-3 p { font-size: 14px; margin: 0; padding-left: 60px; color: white; }
.support-3 strong { font-size: 20px; display: block; color: #2bc6ff; }
.support-5 { text-align: center; text-transform: uppercase; width: 225px; padding-left: 75px; color: white; background: url(../img/resource-center/support-5.png) no-repeat right center; }
.support-5 p { font-size: 13px; line-height: 1.2; margin: 0; }
.support-5 strong { font-size: 20px; line-height: 1.1; display: block; margin-top: 5px; }
.support-4 { margin-top: 15px; padding: 18px; background: #d8e8ec url(../img/resource-center/bg-support.png) no-repeat right bottom; }
.support-4 p { font-size: 16px; text-align: center; margin: 0; }
.support-4 strong { font-size: 22px; display: inline-block; margin: 2px 0; padding: 6px 20px; color: #ff7e00; background-color: white; }
.article-2 { font-size: 0.1px; text-align: justify; margin: 0; }
.article-2:after { content: ""; display: inline-block; width: 100%; }
.article-2 li { display: inline-block; vertical-align: top; width: 135px; margin-bottom: 10px; }
.article-2 a { text-decoration: none; color: inherit; }
.article-2 img { display: block; width: 100%; margin-bottom: 5px; }
.article-2 h3 { font-size: 16px; font-weight: normal; text-align: left; margin: 0; }
.article-3 { margin-bottom: 8px; }
.article-3 a { margin: 0 !important; }
.links { font-family: Arial, Helvetica, sans-serif; }
.links h6 { margin: 0 0 8px; }
.links ul { margin: 0; list-style: none; }
.links li { display: block; margin-bottom: 2px; }
.links a { font-size: 15px; text-decoration: none; color: #20c; }
.ads { font-size: 13px; }
.ads a { text-decoration: none; display: block; color: inherit; }
.ads h3 { font-size: 15px; font-weight: bold; margin: 15px 0 0; }
.ads p { margin: 0; }
.ads span { text-decoration: underline; color: #0073de; }
.results { font-size: 13px; }
.results h2 { font-size: 18px; margin: 0 0 2px; }
.results-2, .results-2 h3 { font-family: Arial, Helvetica, sans-serif; }
.results-2 h6 { margin: 12px 0 8px; }
.results-2 a { text-decoration: none; display: block; margin-bottom: 8px; color: inherit; }
.results-2 h3 { font-size: 16px; font-style: normal; text-decoration: underline; margin: 0; color: #20c; }
.results-2 p { font-size: 13px; margin: 1px 0 0; }
.results-2 span { color: #062; }
.tooltip-bubble { font-size: 13px !important; padding: 10px 20px !important; }
.new { font-size: 14px; margin-left: 10px; color: #ed0f0f; }
.big { font-size: 14px; }
.timestamp { color: #979797; }
#light-dialog-wrap, .light-dialog-wrap { z-index: 11; }
#light-dialog-window, .light-dialog-window { z-index: 11; }
#light-dialog-overlay, .light-dialog-overlay { background: #000; z-index: 10; opacity: 0.6 !important; filter: alpha(opacity=60) !important; }
#dialog-email { text-align: center; width: 640px; padding: 40px; background-color: white; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, .5); }
#dialog-email h4 { font-size: 22px; font-weight: bold; letter-spacing: -1px; }
#dialog-email fieldset { font-size: 13px; margin: 0 40px; padding: 15px 40px 30px; background-color: #efefef; }
#dialog-email input { font-size: 22px; width: 100%; margin-top: 5px; padding: 6px; border: 1px solid #cbcbcb; }
#dialog-email input[type="submit"] { font-size: 18px; width: auto; margin: 30px 0; padding: 10px 40px; color: white; background-color: #5dbd46; border-color: #979797; }
#dialog-email small { font-size: 12px; display: block; color: #979797; }
#dialog-email .spinner { display: none; width: 60px; height: 60px; margin: 0 auto; background-color: #979797; border-radius: 100%; -webkit-animation: spinner 1s infinite ease-in-out; animation: spinner 1s infinite ease-in-out; }
@-webkit-keyframes spinner { 0% { -webkit-transform: scale(0) } 100% { -webkit-transform: scale(1); opacity: 0; } }
@keyframes spinner { 0% { transform: scale(0); } 100% { transform: scale(1); opacity: 0; } }
#dialog-email .error fieldset { color: #ed0f0f; background-color: #fbcfcf; }
#dialog-email .error fieldset input { border-color: #ed0f0f; }
.mobile-nav, .mobile-search { display: none; }

/* share buttons */
.share-2 ul { margin: 0 0 25px; list-style: none; }
.share-2 li { display: inline-block; }
.share-2 a { font-size: 14px; text-align: right; text-decoration: none; display: inline-block; width: 100px; line-height: 40px; margin: 0 5px 5px 0; padding: 0 20px 0 0; color: white; background-image: url(../img/resource-center/share-2.png); background-repeat: no-repeat; border-radius: 5px; overflow: hidden; }
.share-2 a:hover { opacity: 0.8; filter: alpha(opacity=80); }
.share-2 .facebook { background-color: #3b5998; }
.share-2 .twitter { background-color: #28aae1; background-position: 0 -40px; }
.share-2 .google { background-color: #df4b38; background-position: 0 -80px; }
.share-2.vertical { display: none; width: 40px; height: 420px; white-space: nowrap; position: absolute; left: -70px; top: 0; }
.share-2.vertical:after { content: ""; display: block; width: 1px; height: 100%; background-color: #373737; position: absolute; right: 0; top: 0; }
.share-2.vertical ul { position: absolute; right: 40px; top: 15px; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transform-origin: top right; -ms-transform-origin: top right; transform-origin: top right; }
.share-2.vertical a { border-radius: 5px 5px 0 0; }

/* color by category */
.cat-it-technology { border-bottom-color: #00ea06; }
.cat-health { border-bottom-color: #d40000; }
.cat-jobs { border-bottom-color: #ffc000; }
.cat-finance { border-bottom-color: #2ca2ce; }
.cat-it-technology .icon-it-technology { color: #00ea06; }
.cat-health .icon-health { color: #d40000; }
.cat-jobs .icon-jobs { color: #ffc000; }
.cat-finance .icon-finance { color: #2ca2ce; }
.cat-it-technology .icon-it-technology:after, .cat-health .icon-health:after, .cat-jobs .icon-jobs:after, .cat-finance .icon-finance:after { content: ""; width: 0; height: 0; border-style: solid; border-width: 0 12px 10px 12px; position: absolute; left: 8px; bottom: -20px; }
.cat-it-technology .icon-it-technology:after { border-color: transparent transparent #00ea06 transparent; }
.cat-health .icon-health:after { border-color: transparent transparent #d40000 transparent; }
.cat-jobs .icon-jobs:after { border-color: transparent transparent #ffc000 transparent; }
.cat-finance .icon-finance:after { border-color: transparent transparent #2ca2ce transparent; }

/* facebook like */
#fb-like-window { font-size: 13px; max-width: 460px; margin: 0 19px 0 1px; padding: 40px 60px; color: #626262; background-color: white; border: 1px solid #dfe0e4; position: relative; }
#fb-like-window h6 { font-size: 28px; font-weight: bold; line-height: 1.2; margin: 0 0 15px; padding: 1px 0 1px 45px; color: #000; background: url(../img/resource-center/fb-like-logo.png) no-repeat; }
#fb-like-window p { margin: 0 0 5px; }
#fb-like-window strong { font-size: 15px; color: #000; }
.fb-like-wrap { text-align: center; height: 32px; margin: 30px 0; padding-top: 12px; background: url(../img/resource-center/fb-like-arrows.png) no-repeat center top; }
.fb-like-footer { text-align: center; margin: 0 -60px -40px; padding: 15px 0 10px; background-color: #e9eaed; }
.fb-like-footer a { text-decoration: none; color: #679aff; }
.fb-like-footer a:hover { text-decoration: underline; }
.fb-like-close { font-size: 30px; text-decoration: none; line-height: 1; padding: 0 7px; color: #adadad; position: absolute; right: 5px; top: 5px; }


#top{text-align:right;border-bottom:1px solid #dcdcdc;background:#f2f2f2;padding:3px 5px;font-size:11px}
#top a,#top span{margin:0 5px}
#top span a{margin-right:0}


.search-page .header-2{border-bottom-color: #f3f3f3}
.search-page .article-2 h3{font-family:Arial, Helvetica, sans-serif;font-size:13px;font-style:normal}
.padding-box { margin-bottom: 10px; padding: 10px; }
.border-box {border:1px solid #f3f3f3 }

.signin a{display:block;background:#d8e8ec url(../img/resource-center/signin-icon.png) 50% 20px no-repeat;padding:75px 20px 15px 20px;text-decoration:none;text-align:center;color:black;}
.signin a strong{display:block;background:#2bc6ff;color:white;padding:5px;margin-top:10px}
.signin a:hover strong{background-color:#80dcff}

@media screen and (max-width: 480px) {
 #fb-like-window { text-align: center; padding: 20px; }
 #fb-like-window h6 { padding: 45px 0 0; background-position: center top; }
 .fb-like-footer { margin: 0 -20px -20px; }
}

/* media queries */
@media screen and (min-width: 0) {
 .share-2.vertical { display: block; }
 .share-2.mobile { display: none; }
}
@media screen and (max-width: 1450px) {
 .share-2.vertical { display: none; }
 .share-2.mobile { display: block; }
}

@media screen and (max-width: 1366px) {
  .search-page .col-center-2 {  margin-left: 0; }
}

@media screen and (max-width: 1150px) {
 .wrap-2 { margin-left: 0; }
 .tile { width: 100%; }
 .blue-form { padding-right: 30px; background-image: none; }
 .column { display: block; width: auto; margin: 0 0 25px !important; }
 .nav-3 li a:after { display: none; }
 .support-4 { background-image: none; }
}
@media screen and (max-width: 1050px) {
 .share-2 a { width: 0; padding: 0 0 0 40px; }
}
@media screen and (min-width: 951px) and (max-width: 1150px) {
 .nav-3 li a { font-size: 11px; text-align: center; }
 .nav-3 li a:before { display: block; margin: 0 auto; }
}
@media screen and (max-width: 950px) {
 .signin{display:none}
 .col-center, .col-center-2 { min-height: 0; margin-left: 0; margin-right: 0; }
 .col-center-2 { margin-bottom: 10px; padding: 25px 10px; }
 .col-right, .col-left, .col-right-2, .col-left-2 { width: auto; position: static; }
 .subnav, .subnav-2 { display: none; }
 .tile { width: 50%; }
 .header-2 .wrap { display: block; }
 .logo-2 { display: block; line-height: 75px; }
 .nav-2, .nav-3, .search-2 { display: none; width: 320px; padding: 0; background-color: white; border: 1px solid #373737; box-sizing: border-box; position: absolute; top: 75px; right: 0; z-index: 2; }
 .nav-2, .nav-3 { border-top: 0; }
 .nav-2 li, .nav-3 li { display: block; border-top: 1px solid #373737; }
 .nav-2 li a, .nav-3 li a { margin-right: 0; padding: 12px 30px; color: black !important; }
 .nav-2 li a:hover, .nav-3 li a:hover { text-decoration: none; background-color: #cbcbcb; }
 .nav-2 ul ul li, .nav-3 ul ul li { background-color: #f1f1f1; }
 .nav-2 ul ul li a, .nav-3 ul ul ul li a { padding-left: 55px; }
 .nav-2 ul ul li a:before, .nav-3 ul ul li a:before { display: none; }
 .search-2 { padding: 12px 30px; }
 .search-2 form { border-bottom: 0; }
 .sign-in, .sign-in-2 { line-height: 75px; position: absolute; top: 0; right: 75px; }
 .sign-in-2 { right: 150px; }
 .mobile-nav, .mobile-search { display: block; width: 75px; height: 75px; background-image: url(../img/resource-center/mobile-icons.png); background-repeat: no-repeat; background-position: 0 center; border-left: 1px solid #373737; position: absolute; top: 0; right: 0; }
 .mobile-search { background-position: 33.33% center; right: 75px; }
 .mobile-nav:hover, .mobile-nav.opened { background-color: #373737; background-position: 66.67% center; }
 .mobile-search:hover, .mobile-search.opened { background-color: #373737; background-position: 100% center; }
 .subnav-5, .subnav-1-5 { border-top: 1px solid #373737; }
 .subnav-5 li, .subnav-1-5 li { padding-left: 40px; border-top: 0; }
 .subnav-5 li a, .subnav-1-5 li a { text-align: center; display: inline-block; width: 40px; padding-left: 0 !important; padding-right: 0; }
 .share-2 a { width: 100px; padding: 0 20px 0 0; }
}
@media screen and (min-width: 951px) {
 .nav-2, .nav-3, .search-2, .sign-in, .sign-in-2 { display: table-cell !important; }
 .nav-2 ul ul, .nav-3 ul ul { display: none !important; }
}
@media screen and (min-height: 650px) {
 .search-6 { margin-top: 215px; }
 /* .search-6, .login-form { margin: 0; position: absolute; left: 0; right: 0; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); } */
 .search-6 + .footer, .login-form + .footer { position: absolute; left: 0; right: 0; bottom: 0; }
}
@media screen and (max-width: 550px) {
 .tile { width: 100%; }
 .share-2 a { width: 0; padding: 0 0 0 40px; }
}
@media screen and (max-width: 400px) {
 .sign-in, .sign-in-2 { padding: 0; }
 .sign-in-2 { right: 130px; }
 .mobile-nav, .mobile-search { width: 55px; background-size: 220px; }
 .mobile-search { right: 55px; }
 .logo-2 {max-width: 150px;padding-left:15px}
 .logo-2 img{max-width:100%}
}

/* adsense */
.ad-1 { display: inline-block; width: 320px; height: 50px; }
@media (min-width: 528px) { .ad-1 { width: 468px; height: 60px; } }
@media (min-width: 788px) { .ad-1 { width: 728px; height: 90px; } }
@media (min-width: 1030px) { .ad-1 { width: 970px; height: 90px; } }

