
.team-v1 li > h3 {
	color: #555;
}

.topbar .active a{
    color: #488ec7 !important;
}

.footer-v1 .footer {
  background: #272727;
}

.header .navbar-nav > .active > a {
  color: #488ec7 !important;
}

.da-slide h2 i {
  background-color: rgba(72, 142, 199, 0.8) !important;
  text-transform: none !important;
}

.bt_main{
    width: 200px;
  text-align: center;
  padding: 8px !important;
  margin-top: 5px;
}

.tb_1user{
    background-color: rgba(72, 142, 199, 0.4)
}

.tb_5user{
    background-color: rgba(237, 201, 138, 0.40)
}

.cltd2{
    text-align:center;
}

.clCompareTable{

}


/*----- Reinecke--------------*/
.clEUR,.clUSD,.clGBP, .clChrome, .clFirefox, .clIE, .clSafari, .clOther
{
	display:none;
}


.clNumber
{
	color:#fff;
	background-color:#aaa;
	padding:5px 12px;
	margin-right:5px;
	font-size: 18px;
	border-radius: 25px !important;
}

.clBoxInner2 td
{
	vertical-align:top;
	padding:13px 5px;
}

.clText
{
	color:#000;
	padding:0px;
	font-size: 13px;
	line-height:16px;
	font-family: verdana,helvetica,arial,sans-serif;
}

.clText span{
    color: black;
}


.profile-blog img {
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 20px;
}
.breadcrumbs-v2-in h1{
    font-weight:bold;
}

.footer-v1 .footer .map-img {
  background: url(../images/map-img.png) 5px 60px no-repeat;
}

@media (min-width: 1680px) {
    .da-slide .da-img {
        margin-left: -10%;
    }
}
@media (min-width: 1440px) {
    .da-slide .da-img {
        margin-left: -8%;
    }
}

/*@media (max-width: 480px){
    .logo img{
		content:url("../images/logo_vdu_small.png");
    }
}*/

@media (max-width: 480px){
    .logo img{
		width: 120px
    }
}

.fimg {
display:block;
height: auto;
max-width: 100%;
margin-bottom: 10px;
}

.first p{
    color:black; 
}

.first a{
    color: #337ab7;
}


@keyframes highlight {
    0%   {background-color: transparent;}
    15%  {background-color: #cfe67f;}
    30%  {background-color: transparent;}
    45% {background-color: #cfe67f;;}
    60% {background-color: transparent;;}
    75% {background-color: #cfe67f;;}
    90% {background-color: transparent;;}
    
  
}

.clFeatureTable td
{
		padding:10px;
		vertical-align:top;
}
.clFeatureTable td i
{
		font-size:20px;		
}