@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url('Arimo.woff') format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: url('ArimoBold.woff') format('woff');
}