.lside, .rsider {
    display: inline
}
.lside {
    float: left
}
.rsider {
    float: right
}
.reviews_main, .reviews_full {
    padding: 10px 20px;
}
.reviews_add {
    padding: 20px 0 0 0;
}
.reviews_main_h, .reviews_full_h, .reviews_add_h {
    overflow: hidden;
    margin: 8px 0;
}
.reviews_main_h h4, .reviews_full_h h1, .reviews_add_h h3 {
       font-size: 18px;
    color: #f1c40f;
    font-weight: 200;
    margin: 0;
}
.reviews_main_h span, .reviews_add_h span {
    display: block;
    padding: 5px 0 0 0;
    font-size: 14px;
}
.reviews_main_h span a, .reviews_add_h span a {
    color: #FFF;
    text-decoration: underline;
}
.reviews_main_h span a:hover, .reviews_add_h span a:hover {
    text-decoration: none;
}
#reviews {
    margin-bottom: 15px;
}
.review {
    background: #F0F0F0;
    padding: 10px 10px;
    overflow: hidden;
    position: relative;
    margin: 0 0 7px 0;
    border-radius: 4px;
}
.review a {
    color: #560029;
    text-decoration: underline;
}
.review a:hover {
    text-decoration: none;
}
.review .lside {
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    width: 220px;
    padding: 15px 15px;
}
.review .lside .profile_h {
    line-height: 12px;
    margin-bottom: 20px;
    overflow: hidden;
    color: #000;
}
.review .lside .profile_h img {
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid #bdbeb8;
}
.review .lside .profile_h span {
    font-size: 14px;
    display: block;
}
.review .lside .profile_h small {
    color: #959595;
    font-size: 11px;
    margin-top: 6px;
    display: block;
}
.review .lside .rate {
    margin-left: 42px;
}
.review .lside .rate .rate_inf {
    color:#959595;
    font-size:11px;
    margin-top: 6px;
    display: block;
}
.review .rside {
    padding: 12px 0 0 38px;
    position: relative;
    overflow: hidden !important;
}
.review .rside::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    border-style: solid;
    border-width: 18px 18px 0 0;
    border-color: #ffffff transparent transparent transparent;
}
.review .rside .title {
    line-height: 16px;
    margin: 0 0 12px 0;
    font-weight: normal;
    font-size: 16px;
    padding: 0 5px;
}
.review .rside .content {
    font-size: 13px;
    color: #333333;
    margin: 0 0 15px 0;
}
.review .rside .images {
    overflow: hidden;
}
.review .rside .prev_img {
    background: #ccc;
    padding: 5px;
    border-radius: 5px;
    vertical-align: top;
    margin: 5px;
    overflow: hidden;
    display: inline-block;
}
.review .rside .prev_img:hover {
    background: #2E81B7;
}
.review .rside .prev_img img {
    width: 80px;
}
.review .rside .info {
    margin: 15px 0 0 0;
    list-style: none;
    font-size: 14px;
}
.review .rside .info li {
    display: inline-block;
    margin: 0 20px;
}
.review .rside .info li:first-child {
    margin-left: 0;
}
.review .rside .info li:last-child {
    margin-right: 0;
}
.review.bad {
    background: #FFD8D9;
}
.review.good {
    background: #E9F6D8;
}
.review.doubtful {
    display: none;
}
.review.doubtful.full {
    display: block;
}
.doubtful_review {
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 14px;
}
.doubtful_review .descr {
    color: #C84A19;
    text-decoration: none;
    margin-right: 80px;
    padding-left: 24px;
    background: url("som.png") no-repeat left center;
}
.doubtful_review a {
    text-decoration: underline;
    color: #903B5A;
}
.doubtful_review a:hover {
    text-decoration: none;
}
.doubtful_review.open, .doubtful_review.full {
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
    padding: 10px 10px;
    -webkit-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
}
.doubtful_review.open.bad, .doubtful_review.full.bad {
    background: #FFD8D9;
}
.doubtful_review.open.good, .doubtful_review.full.good {
    background: #E9F6D8;
}
.doubtful_review.open.normal, .doubtful_review.full.normal {
    background: #F0F0F0;
}
.doubtful_review.open + .review, .doubtful_review.full + .review {
    border-radius: 0 0 4px 4px;
}
.reviews_navi {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
    font-size: 14px
}
.reviews_navi li {
    display: inline
}
.reviews_navi li > a, .reviews_navi li > span {
    display: inline-block;
    padding: 5px 14px 6px;
    background-color: #fff;
    border-radius: 2px;
    border-bottom: 1px solid #C6D1DC
}
.reviews_navi li > a:hover, .reviews_navi li > a:focus {
    text-decoration: none;
    background-color: #eee
}
.reviews_navi .next > a, .reviews_navi .next > span {
    background-color: #D6E8F1;
    color: #549CAC;
    float: right
}
.reviews_navi .active span {
    border-color: #7B9D04;
    color: #7B9D04
}
.reviews_navi .next > a:hover, .reviews_navi .next > a:focus {
    background: #549CAC;
    color: #fff
}
.reviews_navi .previous > a, .reviews_navi .previous > span {
    float: left
}
.reviews_navi .disabled > a, .reviews_navi .disabled > a:hover, .reviews_navi .disabled > a:focus, .reviews_navi .disabled > span {
    color: #777;
    background-color: #E7EEF5;
    cursor: not-allowed
}
.rv_numb {
    display: inline-block;
    border: 1px solid #882d4f;
    color: #882d4f;
    padding: 0px 2px;
    line-height: 12px;
    margin-left:5px;
    font-weight: normal;
    font-size: 12px;
}

.rev_rating {
    width: 160px;
    height: 16px;
    font-size: 0.9em;
}

.rev_unit-rating {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 160px;
    height: 17px;
    position: relative;
    background: url("star.gif") repeat-x;
}

.rev_unit-rating li {
    text-indent: -90000px;
    padding: 0;
    margin: 0;
    float: left;
}

.rev_unit-rating li a {
    display: block;
    width: 17px;
    height: 17px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 17;
    position: absolute;
    padding: 0;
}

.rev_unit-rating li a:hover {
    background: url("star.gif") 0 -17px;
    z-index: 2;
    left: 0;
}

.rev_unit-rating a.r1-unit {
    left: 0;
}

.rev_unit-rating a.r1-unit:hover {
    width:17px;
}

.rev_unit-rating a.r2-unit {
    left: 17px;
}

.rev_unit-rating a.r2-unit:hover {
    width: 34px;
}

.rev_unit-rating a.r3-unit {
    left: 34px;
}

.rev_unit-rating a.r3-unit:hover {
    width: 51px;
}

.rev_unit-rating a.r4-unit {
    left: 51px;
}

.rev_unit-rating a.r4-unit:hover {
    width: 68px;
}

.rev_unit-rating a.r5-unit {
    left: 68px;
}

.rev_unit-rating a.r5-unit:hover {
    width: 85px;
}

.rev_unit-rating li.current-rating {
    background: url("star.gif") 0 -32px;
    position: absolute;
    height: 16px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}

.reviews_info {
    text-align: center;
    padding: 10px;
            margin-bottom: 15px;
}
/*----------------------------
    The file upload form
-----------------------------*/
.photo_up #drop{
  border: 1px dashed #CCCCCC;
  background: rgba(255,255,224,0.2);
  padding: 30px 25px;
  text-align: center;
  text-transform: uppercase;
  font-size:16px;
  font-weight:bold;
  color:#7f858a;
}
.photo_up #drop a {
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}
.photo_up #drop a:hover{
    background-color:#0986a3;
}
.photo_up #drop input{
    display:none;
}
.photo_up ul {
  margin: 0;
  list-style:none;
}
.photo_up ul li{
    background-color:#333639;
    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);
    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;
    position: relative;
}

.photo_up ul li input{
    display: none;
}

.photo_up ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

.photo_up ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

.photo_up ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

.photo_up ul li span{
    width: 15px;
    height: 12px;
    background: url('icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

.photo_up ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

.photo_up ul li.error p{
    color:red;
}


@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.dropzone, .dropzone * {
  box-sizing: border-box;
}
.dropzone {
  min-height: 150px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  background: #ebebeb;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 24px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dropzone.dz-drag-hover {
  border-style: solid;
}
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}
.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}
.dropzone .dz-preview:hover {
  z-index: 1000;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 6px;
  background: #999;
}
.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-image-preview {
  background: white;
  border-radius: 6px;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}
.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}
.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}
.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}
.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.dropzone .dz-preview .dz-image {
  border-radius: 6px;
  overflow: hidden;
  width: 100px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}
.dropzone .dz-preview .dz-image img {
  display: block;
  border-radius: 6px;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}
.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}
.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
.dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}
.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}
.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}
.dropzone .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}

.fr_images {
  padding: 9px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  margin: 10px 10px 10px 0;
}
.fr_images > * {
    padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: 70px;
  margin: 0 0 5px 0;
  vertical-align: top;
}
.fr_images img {
  width: 100px;
  display: block;
  height: 70px;
}
#fr_img_edit {
padding: 9px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  margin: 10px;
}
#fr_img_edit > * {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: 70px;
  margin: 3px;
  vertical-align: top;
  overflow: hidden;
  position: relative;
}
#fr_img_edit a {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  background: rgba(0,0,0,0.4);
  color: #fff;
  text-align: center;
  text-decoration: none;
}
#fr_img_edit a:hover {
  background: rgba(255,255,255,0.8);
  color: #CC0000;
}
#fr_img_edit img {
  width: 100px;
  display: block;
  height: 70px;
}








.reviews_add_c {
    overflow: hidden;
    padding: 15px 0;
}
.reviews_add_c .lsidel {
    overflow: hidden !important;
}
.reviews_add_c .rsider {
    padding: 0 0 0 15px;
    width: 215px;
    overflow: hidden;
}
.reveiws_add_btn {
    margin: 15px 0;
    padding: 1px;
}

.reveiws_add_btn button {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
  background: #00bc8c;
    border-color: #00bc8c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.rev_rat_name {
    text-decoration: none;
    color: #f1c40f;
    font-size: 12px;
    margin: 10px 0 5px 0;
    display: block;
}
.reveiws_add_btn button:hover {
  background-color:#00936e;
    border-color:#007f5e
  text-decoration: none;
}
#hideRules {
    text-decoration:none;
    border-bottom: 1px dotted #560029;
}
#hideRules:hover {
    border: none;
}
.reviews_rules {
    background: #1b6e8b;
    padding: 20px;
    font-size: 12px;
    margin-bottom: 30px;
    position: relative;
}
.reviews_user_ava {
    margin-left: 2px;
    margin-right: 5px;
    overflow: hidden;
    width: 44px;
    height: 44px;
}
.reviews_user_ava img {
    width: 44px;
    height: 44px;
    border: 1px solid #bebfb8;
}
.reviews_input {
    overflow: hidden !important;
        margin-bottom: 10px;
}
.reviews_input input, .reviews_input textarea {
    width: 97% !important;
    border: 1px solid #918f90;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #464545;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.reviews_input input:focus, .reviews_input textarea:focus {
    border-color: rgba(190, 191, 183, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(190, 191, 183, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(190, 191, 183, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(190, 191, 183, 0.6);
}
.reviews_inf {
    font-size:12px;
    color:#636363;
    display:block;
    margin: 5px 0 15px 0;
}


div.rating-cancel,div.star-rating{
    float:left;
    width:17px;
    height:15px;
    text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden
}
div.rating-cancel,div.rating-cancel a{
    background:url(delete.gif) no-repeat 0 -16px
}
div.star-rating,div.star-rating a{
    background:url(star.gif) no-repeat 0 0px
}
div.rating-cancel a,div.star-rating a{
    display:block;width:16px;height:100%;background-position:0 0px;border:0
}
div.star-rating-on a {
    background-position:0 -16px!important
}
div.star-rating-hover a {
    background-position:0 -32px
}
div.star-rating-readonly a {
    cursor:default !important
}
div.star-rating {
    background:transparent!important;
    overflow:hidden!important
}

.reviews_comm_add {
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #2C4765;
    padding: 20px;
    font-size: 12px;
    margin: 30px 0;
    position: relative;
}
.reviews_comm_add::before {
    content: '';
    position: absolute;
    border-style: solid;
    top: -8px;
    left: 45px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #f7f4ed transparent;
}
.com_head {
    color: #560029;
    font-size: 22px;
    font-weight: normal;
    margin: 15px 0;
}
.reviews_comm {
  overflow: hidden;
  margin: 5px 0;
  padding: 10px 0 15px 0;
  border-bottom: 1px dotted #560029;
}
.reviews_comm:last-child {
  border: none;
  padding-bottom: 0px;
}
.reviews_comm a {
    color: #560029;
    text-decoration: underline;
}
.reviews_comm a:hover {
  text-decoration: none;
}
.reviews_comm_h {
  overflow: hidden;
  color: #707070;
  font-size: 11px;
}
.reviews_comm_h .rsider a {
  margin: 0 10px;
}
.reviews_comm_h .group_back {
  background: #FF8F00;
  font-size: 9px;
  color: #fff;
  position: relative;
  padding: 2px 5px 3px 10px;
}
.reviews_comm_h .group_back::before, .reviews_comm_h .group_back::after {
  position: absolute;
  content: '';
  top: 0;
  border-style: solid;
  border-width: 8px 0 8px 5px;
}
.reviews_comm_h .group_back::before {
  border-color: transparent transparent transparent #fff;
  left: 0;
}
.reviews_comm_h .group_back::after {
  border-color: transparent transparent transparent #FF8F00;
  right: -5px;
}
.reviews_comm_c {
  overflow: hidden;
  padding: 5px 10px;
  color: #333333;
}
.comment_answer {
  margin: 5px 10px;
}
.comment_numb {
  display: inline-block;
  border: 1px solid #882d4f;
  color: #882d4f;
  padding: 0px 2px;
  line-height: 12px;
}
.review_post_title {
  overflow: hidden;
  margin: 0 0 10px 0;
}


.reviews_sort {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  overflow: hidden;
}
.reviews_sort > li {
  position: relative;
  display: block;
  float: left;
}
.reviews_sort > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
}
.reviews_sort > li > a:hover,
.reviews_sort > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.reviews_sort > li.disabled > a {
  color: #777;
}
.reviews_sort > li.disabled > a:hover,
.reviews_sort > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.reviews_sort > li + li {
  margin-left: 2px;
}
.reviews_sort > li.active > a,
.reviews_sort > li.active > a:hover,
.reviews_sort > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}

.reviews_box {
    margin: 10px;
    padding: 9px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1)
}
.reviews_box:first-child {
    margin-top: 3px
}
.reviews_box > h4 {
    text-transform: uppercase;
    padding: 5px 5px 10px;
    border-bottom: 1px solid #DCDCDC;
    margin: 0 0 10px
}
.reviews_box_c {
    overflow: hidden
}

.reviews_block {
  display: table;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DCDCDC;
}
.reviews_block:last-child {
  border-bottom: none;
}
.reviews_block > div {
  display: table-cell;
  vertical-align: top;
}
.reviews_block .lft {
  width: 40px;
  overflow: hidden;
}
.reviews_block .lft img {
  display: block;
  width: 40px;
}
.reviews_block .rght {
  padding-left: 11px;
  vertical-align: top;
}
.reviews_block .rght a {
  color: #000;
  word-wrap: break-word;
  font-size: 13px;
}
.rev_b_author {
  font-size: 11px;
  display: block;
  color: #8c8c8c;
}
.rev_b_author a {
  font-size: 11px !important;
  color: #8c8c8c !important;
}
.reviews_block .rateb {
  width: 50px;
  padding-left: 10px;
}
.reviews_block .rateb sup, .reviews_block .rateb sub {
  display: block;
  text-align: right;
}
.reviews_block .rateb sup {
  background: url("star_icon.png") no-repeat 6px center;
  height: 14px;
  line-height: 13px;
  padding: 0 0 0 15px;
}


.circle_wrap {
  overflow: hidden;
  text-align: center;
    padding-top: 20px;
}
.circle_rating_value {
    display: inline-block;
    font-size: 15px;
    color: #FFF;
    margin-left: 10px;
    margin-right: 20px;
    width: 20%;
}
.rat_circle {
    width: 60px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    float: left;
    background: #ebebeb;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #337AB7;
    color: #337AB7;
}
.rat_circle span {
    line-height: 60px;
}
.val_name {
    display: table;
    height: 60px;
}
.val_name span {
    vertical-align: middle;
    display: table-cell;
}


.rev_ministat {
  overflow: hidden;
  padding: 0 20px;
}

.rev_ministat_star {
  float: left;
  height: 100px;
  width: 70px;
  background: url('star.jpg')left bottom no-repeat;
  text-align: center;
  margin-right: 30px;
}
.rev_ministat_value {
  float: left;
  width: 129px;
  height: 150px;
}
.rev_ministat_value .rating_count {
    font-size: 11px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.rev_ministat_value .rating_count li {
  text-align: left;
  padding: 2px 0;
  overflow: hidden;
}
.rev_ministat_value .rating_count li > span {
  float: left;
  text-align: left;
}
.rev_ministat_value .rating_count li > span + span {
  float: right;
  text-align: right;
}
.rev_ministat_value .rating_count li.som_rew {
  border-top: 1px solid #ebebeb;
  text-align: right;
  margin: 3px 0 0 0;
  padding: 4px 0 0 0;
}
.rating_count a {
    text-decoration: none;
}
.partner_meta {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 12px;
}
.som_rew {
  color: #959595;
}
.good_rew {
    color: #48ad43;
}
.bad_rew {
    color: #fd2220;
}
.netral_rew {
    color: #882d4f;
}
.rev_ministat_star .rating_val {
    font-size: 16px;
    color: #FFF;
    margin-top: 50px;
}