.rasosh_all {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 999999;
}

.rasosh_bg {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
}

.rasosh_block {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    left: 50%;
    margin: -60px 0 0 -215px;
    position: absolute;
    top: 30%;
    width: 430px;
}

.rasosh_title {
    background: #2C4765;
    line-height: 40px;
    padding: 0 45px 0 15px;
    position: relative;
    height: 40px;
}

.rasosh_clear {
    color: #ffffff;
    cursor: pointer;
    font-size: 50px;
    line-height: 30px;
    opacity: 0.5;
    position: absolute;
    right: 5px;
    text-align: center;
    text-shadow: 0 1px 2px #000000;
    top: 5px;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    transition: 0.6s ease;
    height: 30px;
    width: 30px;
}

.rasosh_clear:hover {
    opacity: 1;
}

.rasosh_content {
    background: #1b1b1b url('/templates/Kiden/images/footer_lodyas.png');
    height: calc(100% - 30px);
    padding: 30px;
    text-align: center;
}

.rasosh_content .share42rasosh {
    padding: 10px;
    text-align: center;
}

.rasosh_content .share42rasosh #share42 {
    display: inline-block;
    margin: 6px 0 0 6px;
}
