@charset "utf-8";
/* CSS Document */
/*猜你喜欢*/
.foot_like { margin:0 auto; width:960px; margin-top:20px; overflow:hidden;}
.foot_like_title { background:url(../images/foot/like-ico.jpg) no-repeat; height:30px; line-height:30px; font-size:16px; padding-left:35px;}

/*多图轮播*/
.foot_like .box{ width:942px; margin:0 auto; position:relative;overflow:hidden;  _height:100%; padding:8px; border:1px solid #ccc; margin-top:10px;}
.foot_like .picbox{ width:882px; height:182px;  position:relative; margin:0 auto;}
.foot_like .piclist{ height:182px;position:absolute; left:0px; top:0px}
.foot_like .piclist li{ background:#fff; margin-right:3px; padding:0px; float:left;}
.foot_like .swaplist{ position:absolute; left:-2000px; top:0px}
.foot_like .og_prev,.og_next{ width:18px; height:182px; background-color:#f14008; position:absolute; top:0; z-index:4; cursor:pointer; filter:alpha(opacity=100); opacity:1;}
.foot_like .og_prev{ background-image:url(../images/foot/prev-icon.jpg); background-position:left center; background-repeat:no-repeat; left:-30px;}
.foot_like .og_next{ background-image:url(../images/foot/next-icon.jpg); background-position:left center; background-repeat:no-repeat; right:-30px;}

/*二维码服务*/
.fw_link {  margin:0 auto; width:958px; border:1px solid #ccc; background-color:#fff; margin-top:30px; color:#5d5d5d; margin-bottom:10px;}
.fw_link h4{ font-size:16px; height:28px; padding-left:2px; font-weight:normal; margin-top:5px; line-height:28px;}

.fw_link .fw_ew{ width:200px; height:187px; margin-left:6px; border-right:1px solid #ccc;}
.fw_link .fw_ew_info { margin-top:0px; text-align:center; margin-left:0px;}
.fw_link .fw_ew p{ text-align:center; font-size:12px; line-height:28px;}
.fw_link .fw_ew h4 i { background:url(../images/foot/foot-icon.jpg) -7px -3px no-repeat; float:left; display:block; height:28px; width:22px;}
	
.fw_link .fw_gg{ width:213px; height:187px; margin-left:6px; border-right:1px solid #ccc;}
.fw_link .fw_gg_link { margin-top:10px; text-align:left;}
.fw_link .fw_gg_link li { font-size:12px; line-height:20px; padding-top:8px; padding-left:20px; background-image:url(../images/foot/foot-icon.jpg); background-repeat:no-repeat; padding-bottom:5px;}
.fw_link .fw_gg_ad1 { background-position:-42px 5px;}
.fw_link .fw_gg_ad2 { background-position:-42px -31px;}
.fw_link .fw_gg_ad3 { background-position:-42px -70px;}
.fw_link .fw_gg_ad4 { background-position:-42px -110px;}
.fw_link .fw_gg h4 i { background:url(../images/foot/foot-icon.jpg) -0px -41px no-repeat; float:left; display:block; height:28px; width:38px;}
	
.fw_link .fw_dt{ width:305px; height:187px; overflow:hidden; margin-left:6px;}
.fw_link .fw_dt_info { margin-top:5px; margin-left:12px; margin-right:10px;}
.fw_link .fw_dt_info li { text-align:left; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; background:url(../images/cDotted2.gif) no-repeat 0px center; padding-left:10px;}
.fw_link .fw_dt_info li a { color:#5d5d5d;}
.fw_link .fw_dt_info li a:hover { color:#f00;}
.fw_link .more { float:right; font-size:12px; line-height:28px; margin-right:10px;}
.fw_link .more a { color:#5d5d5d;}
.fw_link .more a:hover { color:#F00; text-decoration:underline;}
.fw_link .fw_dt h4 i { background:url(../images/foot/foot-icon.jpg) 0px -71px no-repeat; float:left; display:block; height:28px; width:35px;}

.fw_link .fw_xq { margin-left:6px; width:213px; overflow:hidden; border-right:1px solid #ccc; height:187px;}
.fw_link .fw_xq h4 { margin-top:5px; padding-bottom:6px; font-size:16px; line-height:28px; height:28px;}
.fw_link .fw_xq p { font-size:12px; line-height:26px; margin-left:2px; margin-top:10px;}

/*底部*/
#footer{ margin:0 auto; width:960px;  color:#999999;text-align:center;clear:both; font-size:12px; background-color:#fff;}
#footer .p{line-height:30px; background:#fff; width:960px; height:30px; margin:0 auto;}
#footer .p a{color:#999999;margin:0 10px;text-decoration:none; display:inline-block; height:30px;}
#footer .p a:hover{color:#f00; text-decoration: underline;}
.foot_rz{ padding:6px 0; background-color:#fff;}
.foot_rz img{ margin:0px; display:inline; padding:0; padding:0 5px;}
.foot_rz p{ text-align:center; line-height:24px; font-size:12px; margin:0; padding:0; margin-top:5px;}
#footer .gz_ico { display:inline-block; background:url(../images/foot/gz.jpg) left center no-repeat; padding-left:20px;}
#footer .ds_ico { display:inline-block; background:url(../images/foot/ds.jpg) left center no-repeat; padding-left:20px;}

/*友情链接*/
.links {clear:both; width:940px; margin:0 auto; background:#fff; padding:6px 10px; line-height:21px; font-size:12px;}
.links2 {clear:both; width:960px; text-align:center; margin:0 auto; background:#fff; line-height:21px;}
.links .leftico{ float:left; width:70px;  line-height:21px;   padding-left:0px;}
.link_c{ float:left; width:840px; text-align:left; line-height:21px; font-size:12px;}
.link_c a{ color:#999; text-decoration:none;}
.link_c a:hover { text-decoration:underline; color:#F00;}
