@charset "utf-8";
/* CSS Document */

a { color:#333;}
a:hover { text-decoration:underline;}
.clear {clear: both; font-size: 0px; visibility: hidden; line-height: 0px; height: 0px}
/*头部导航*/
#header { width:960px; margin:0 auto; position:relative; z-index:99;}

/*头部导航1*/
.headtop { width:960px; height:26px; position:relative; z-index:55;}
.headtop .headtopfl { width:257px; float:left; display:inline;}
.headtopfl ul li { float:left; text-align:left; padding-right:10px; line-height:26px; height:26px; white-space: nowrap;}
.headtopfl ul li a { line-height:26px; color:#666; text-decoration:none;}
.headtopfl ul li a:hover { color:#FF0000; text-decoration:underline;}
.col_org { color:#f14008 !important;}
.head_ydd { background:url(../images/head/head-ico.jpg) -5px -3px no-repeat; padding-left:17px;}


.headtop .headtopfr { float:right; display:inline;}
.headtopfr ul li { float:left; text-align:left; padding-right:10px; line-height:26px; height:26px; white-space: nowrap;}
.headtopfr ul li a { line-height:26px; color:#666; text-decoration:none;}
.headtopfr ul li a:hover { color:#FF0000; text-decoration:underline;}
.head_lljl { background:url(../images/head/head-ico.jpg) -5px -35px no-repeat; padding-left:20px;}
.head_hrtj { background:url(../images/head/head-ico.jpg) -5px -63px no-repeat; padding-left:20px;}
.head_gfwx { background:url(../images/head/head-ico.jpg) -5px -93px no-repeat; padding-left:20px;}
.dvshow a img { display:none;}
.dvshow a:hover img { display:block;}

.showydd { position:absolute; z-index:99; top:26px; left:0px;}
.showewm { position:absolute; z-index:99; top:26px; right:0px;}

/*头部导航2*/
.headaction { height:68px; padding-top:4px; padding-bottom:4px; width:960px; text-align:left;}
.headaction .logo { float:left; display:inline; width:136px; padding-left:2px;}
.headaction .cityli { float:left; display:inline; width:47px; text-align:center; line-height:18px; font-size:16px; overflow:hidden;}
.headaction .headcon { float:left; display:inline; width:775px; height:70px;}
.headaction .ad1 { float:left; width:562px;}
.headaction .ad2 { float:right; width:200px; height:60px;}
.headaction .search { float:left; width:560px; height:36px; position:relative; z-index:45;}

.headaction .search .xz { width:316px;display:none; position:absolute; left:0px; top:35px; padding:0; border:1px solid #DDD; z-index:99; background-color:#FFF;}
.headaction .search .xz li { font-size:12px; line-height:30px;border-bottom:1px solid #EEE; width:79px; cursor:pointer; color:#000; text-align:center;float:left;}
.headaction .search .xs { display:none; position:absolute; left:90px; top:35px; padding:0; border:1px solid #DDD; z-index:99; background-color:#FFF;}
.headaction .search .xs li { font-size:12px; line-height:34px; padding-left:10px; border-bottom:1px solid #EEE; width:79px; cursor:pointer; color:#000; text-align:left;}
.headaction .search .sc { background-color:#d7d7d7; height:34px; border:1px solid #d7d7d7;}
.headaction .search .hy ,.headaction .search .hy2 { background:url(../images/head/ubox_d.jpg) no-repeat 76px center #f6f6f6; width:89px; height:34px; border-right:1px solid #d7d7d7;}
.headaction .search .hy p ,.headaction .search .hy2 p { padding-left:10px; cursor:pointer; line-height:34px; font-size:12px; text-align:left;}
.headaction .search .ss { width:378px; overflow:hidden; height:34px;}
.headaction .search .ss input { display:inline-block; border:0 none; height:34px;}
.headaction .search .ss .text { background-color:#FFF; padding:7px 5px; height:20px; line-height:20px; width:254px;background-image:url(../images/head/sear.jpg); background-position:3px center; background-repeat:no-repeat; padding-left:25px;}
.headaction .search .ss .smit { font-weight:normal; color:#FFF; background:none; width:94px; text-align:center; font-size:20px; font-family:"微软雅黑"; cursor:pointer; position:absolute; z-index:1; right:0px; top:0px; height:36px; background:#f14008;}
.headaction .search .ss .smit:hover{background-color:#f14008}
.headaction .search .tj { font-size:12px; line-height:18px; padding-top:4px; color:#333;}
.headaction .search .tj a { padding-right:5px; color:#333;}
.headaction .search .tj a:hover { color:#FF0000; text-decoration:underline;}

/*头部导航3*/
.headancon { width:960px; height:20px; overflow:hidden;}
.headancon .headgg { width:324px; float:left; display:inline; overflow:hidden; height:20px; background:url(../images/head/gg.jpg) 0px center no-repeat; padding-left:20px; position:relative; z-index:33;}
.ScrollMid {float:left;}
.ScrollMid ul{width:324px;float:left;}
.ScrollMid li{list-style:none; float:left; width:264px; padding-left:60px;line-height:20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ScrollMid li a:hover{ text-decoration:underline;}

.headgg_title { position:absolute; z-index:1; top:0; left:20px; font-size:12px; line-height:20px; font-weight:700;}

.headancon .headgg2 { float:right; display:inline; height:18px; border:1px solid #cccccc; border-right:0;}
.headancon .headgg2 ul li { float:left; text-align:center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height:18px; line-height:18px; width:92px; border-right:1px solid #ccc; padding:0 3px;}
.headancon .headgg2 ul li a:hover { text-decoration:underline;}

/*头部导航栏*/
#nav { width:100%; height:37px; background-color:#f14008;margin-bottom: 5px; z-index:2; position:relative;}
.navbox { width:960px; margin:0 auto;}
.navbox ul li { float:left; display:inline; font-size:14px; line-height:37px; position:relative; z-index:1;}
.navbox ul li a { padding:0 8px; color:#fff; display:block; height:37px;}
.navbox ul li a:hover { background-color:#ff7300; text-decoration:none;}

.navbox ul li .navshow { position:absolute; top:37px; left:-150px; height:27px; overflow:hidden; z-index:2; width:700px; display:none;}
.navbox ul li .navshow li { float:left; font-size:12px;}
.navbox ul li .navshow li a { color: #fff; height: 28px !important; padding: 0 8px !important; line-height:28px; display:block !important; overflow:hidden; background: #ff7300;}
.navbox ul li:hover { background-color:#ff7300;}
.navbox ul li:hover .navshow { display:block;}
.navbox ul li .navshow li a:hover { text-decoration:underline;}
.navbox ul li:nth-child(2) .navshow { left:-20px;}
.navbox ul li:nth-child(3) .navshow { left:-64px;}
.navbox ul li:nth-child(4) .navshow { left:-108px;}
.navbox ul li:nth-child(5) .navshow { left:-152px;}

/*头部广告位*/
.adverbox { width:960px; overflow:hidden; margin:0 auto;}
.adverbox ul {     margin-top: 5px;margin-bottom:5px; overflow:hidden;}
.adverbox ul li { float:left; display:inline;}
.adverbox .add1 li { width:960px;margin-top:5px;}
.adverbox .add1 li:first-child { margin-top:0;}
.adverbox .add2 li { width:478px; padding-left:4px;}
.adverbox ul li:first-child { padding-left:0px;}
.adverbox .add3 li { width:188px; padding-left:5px;}
.adverbox .add4 li { width:237px; padding-left:4px;}
.adverbox .add5 li { width:132px; padding-left:6px;}

/*add by chensheng*/
.dvshowb{position:relative;}
.dvshowb .showcon{display:none;z-index:1000;position:absolute;right:0;background-color:#FFF;border: 1px solid #EAEAEA;}
.dvshowb .showcon a{display:block;padding:2px 15px;max-width:125px;text-overflow: ellipsis;overflow:hidden;}
.dvshowb .showcon a:hover{background-color:#FAFAFA;text-decoration:none}
.dvshowb:hover .showcon{display:block;}
img.shadow:hover{box-shadow: 0 0 10px #999;}