@charset "utf-8";
/* CSS Document */

/*最新入驻 特别推荐*/
.partfive { margin:0 auto; width:960px; overflow:hidden; margin-bottom:7px;}
.slipt li { overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

.topnewbox { width:958px; border:1px solid #ccc; overflow:hidden; padding-bottom:5px;}
.topnew_new { width:166px;}
.topnewbox h3 { font-size:14px; height:30px; line-height:30px; margin-top:5px; padding-left:7px; font-weight:normal;}
.topnew_new ul { border-right:1px dashed #ccc;}
.topnew_new ul li { height:25px; line-height:25px; border-bottom:1px dashed #ccc; margin:0 7px;}
.topnew_new ul li i { float:left; display:block; width:16px; height:16px; background:#6d7977; text-align:center; line-height:16px; color:#fff; margin-top:5px; margin-right:5px;-webkit-box-shadow: 2px 2px 5px #ccc; -moz-box-shadow: 2px 2px 5px #ccc; /* 老的 Firefox */
box-shadow: 2px 2px 5px #ccc;}
.topnew_new ul li:nth-child(1) i ,.topnew_new ul li:nth-child(2) i ,.topnew_new ul li:nth-child(3) i { background:#f14008;}

.topnew_bs { width:214px;}
.topnew_bs_img { margin-left:7px; margin-right:7px; margin-top:5px;}

/*推荐项目*/
.topnew_tj { width:327px;}
.tuij_box { overflow: hidden; background-color: #fff; border-top: 1px solid #ccc; position: relative; border-left: 1px solid #ccc; margin-left:7px; width:319px; margin-top:5px;}
.tuij_link { float: left; display: inline; width: 105px; border: 0px;
border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 83px; overflow: hidden;}

.partlist ul li { text-align:left; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; background:url(../images/cDotted2.gif) no-repeat 0px center;}

.tuij_list { margin-left:7px; width:319px; margin-top:5px; overflow:hidden;}
.tuij_list ul li { width:90px; padding-right:5px; float:left; display:inline; padding-left:10px;}

.topnew_pp { width:251px;}
.topnew_pp_ad { margin-left:7px; margin-right:7px;}
.topnew_pp_ad1 { width:80px; padding-top:5px;}
.topnew_pp_ad2 { width:150px;height:75px;overflow:hidden;}
.topnew_pp_ad2 h4 { font-size:12px; font-weight:700; color:#f00;}

/*精选项目*/
.partsix { margin:0 auto; width:960px; overflow:hidden; margin-top:7px;}
.part_title { background:url(../images/title-ico.jpg) no-repeat; height:30px; line-height:30px; font-size:16px; padding-left:35px;}
.jxtitle { background-position:0px 0px;}

.jxxm_box ul li { float:left; display:inline; width:120px; position:relative; margin:5px 36px; position:relative;}
.jxxm_add1 { width:120px; overflow:hidden;}
.jxxm_add1 h4 { font-size:16px; font-weight:normal; height:30px; line-height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.rz_icon { float:right; display:block; height:30px; line-height:30px; font-size:12px; color:#ea8010; padding-left:18px; background:url(../images/rz.jpg) left center no-repeat;}
.jxxm_add1 p { color:#a8a8a8; line-height:18px;}
.jxxm_add2 { position:absolute; top:5px; left:0px; z-index:1; display:none; background-color:#fff;}
.dvshowa { cursor:pointer;}
.dvshowa:hover .dvshowb { display:block;}

/*广告位*/
.ggadd { margin:0 auto; width:960px; margin-top:15px; margin-bottom:10px; overflow:hidden;}

/*热门项目*/
.hot_box { width:392px; overflow:hidden;}
.rmtitle { background-position:0px -30px;}
.more2 { float:right; font-size:12px; padding-right:5px; font-weight:normal;}
.more2 a:hover { color:#f00; text-decoration:underline;}

.hot_table { border:1px solid #ccc; overflow:hidden; margin-top:5px;}
.hot_top { font-size:16px; text-align:center; line-height:30px; padding-top:5px; height:30px; padding-bottom:3px;}
.hot_rank { font-size:12px; text-align:center; line-height:24px; padding-bottom:2px; padding-top:2px; height:24px;}
.tb1 ,.tb2 ,.tb3 { float:left; display:inline;}
.tb1 { width:55px;}
.tb2 { width:235px;}
.tb3 { width:100px;}
.hot_rank .tb2 { text-align:left; padding-left:5px; width:230px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.hot_rank .tb1 i { display:block; width:20px; height:20px; margin-top:2px; margin-left:16px; background-color:#ef981e; color:#fff; border-radius:50%; -webkit-box-shadow: 2px 2px 5px #ccc; -moz-box-shadow: 2px 2px 5px #ccc; /* 老的 Firefox */
box-shadow: 2px 2px 5px #ccc; line-height:20px;}
.hot_rank .tb3 { overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.hot_rank a:hover { font-weight:700;}

/*火热加盟*/
.hrjm_box { width:552px; overflow:hidden;}
.hrtitle { background-position:0px -60px;}
.hr_rank ul li { float:left; display:inline; margin-left:5px; margin-top:5px;}
.hr_rank ul li i { float:left; display:block; width:24px; height:24px; margin-top:18px; margin-left:0px; background-color:#ef981e; color:#fff; border-radius:50%; -webkit-box-shadow: 2px 2px 5px #ccc; -moz-box-shadow: 2px 2px 5px #ccc; /* 老的 Firefox */
box-shadow: 2px 2px 5px #ccc; line-height:24px; text-align:center; margin-right:5px;}

/*餐饮 干洗 甜品 美容*/
.xmtitle { background:none; padding-left:0;}
.part_xmbox { width:958px; border:1px solid #ccc; margin-top:5px;}
.part_xmbox .xm-change { margin:5px; margin-right:0; width:221px;}
.part_xmbox .xm-change .menutab { width:104px; height:271px;}
.mr11 { margin-top:11px;}
.part_xmbox .xm-change .menutab li { list-style:none; color:#fff; font-size:16px; text-align:center; cursor:pointer; -webkit-box-shadow: 5px 5px 5px #ccc; -moz-box-shadow: 5px 5px 5px #ccc; /* 老的 Firefox */
box-shadow: 5px 5px 5px #ccc;}
.part_xmbox .xm-change .menutab .odd1 { background:#36a9ce;}
.part_xmbox .xm-change .menutab .odd2 { background:#107c10;}
.part_xmbox .xm-change .menutab .odd3 { background:#135995;}
.part_xmbox .xm-change .menutab .odd4 { background:#803a7a;}

.part_xmbox .xm-change .menutab #xm-linka1 { height:92px; padding-top:68px;}
.part_xmbox .xm-change .menutab #xm-linka2 { height:70px; padding-top:30px;}
.part_xmbox .xm-change .menutab #xm-linka3 { height:70px; padding-top:30px;}
.part_xmbox .xm-change .menutab #xm-linka4 { height:92px; padding-top:68px;}
.part_xmbox .xm-change .menutab #xm-linka5 { height:148px; padding-top:122px;}
.part_xmbox .xm-change .menutab #xm-linka6 { height:148px; padding-top:122px;}

.part_xmbox .xm-box-add { width:717px;}
.part_xmbox .xm-box-add .xm_boxtit { height:27px;}
.part_xmbox .xm-box-add .xm_boxtit ul li { float:left; display:inline; height:27px; line-height:27px; font-size:12px;}
.part_xmbox .xm-box-add .xm_boxtit ul li a { color:#fff; display:block; height:27px; padding:0 8px; background:#f14008;}
.part_xmbox .xm-box-add .xm_boxtit ul li a:hover { background-color:#ff7300; text-decoration:none;}

.xm_boxfl { width:186px; margin-top:10px;}
.xm_boxfr { width:512px; margin-top:2px;}
.xm_boxfr ul li { float:left; display:inline; width:120px; margin-right:8px; margin-top:8px;}
.xm_boxfr ul li p { text-align:left; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; padding:0 5px 0 10px; background:url(../images/cDotted2.gif) no-repeat 0px center;}

/*人物访谈 新闻快播 创业资讯*/

.part_cy_box { width:314px; margin-left:9px;}
.part_cy_box:first-child { margin-left:0px;}
.xwkbtitle { background-position:0px -90px;}
.rwfttitle { background-position:0px -120px;}
.cyzxtitle { background-position:0px -150px;}

.part_cy_main { width:312px; border:1px solid #ccc; margin-top:5px; padding:7px 0; overflow:hidden; height:300px;}

.part_cy_ad { margin-left:7px; margin-right:15px;}
.part_cy_ad1 { width:100px; padding-top:4px;}
.part_cy_ad2 { width:180px; position:relative;}
.part_cy_ad2 h4 { font-size:16px; font-weight:normal;}
.part_cy_ad2 p { line-height:20px; height:60px; overflow:hidden;}
.part_cy_ad2 span { display:block; position:absolute; z-index:1; bottom:0px; right:0px; background: #fff; line-height: 20px; padding-left: 15px;}
.part_cy_ad2 span a { color:#ea8010;}

.partlist ul li { text-align:left; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; background:url(../images/cDotted2.gif) no-repeat 0px center; padding:0 5px 0 10px;}

.part_cy_list { margin-left:12px; margin-top:5px; margin-right:10px; height: 240px;}
.part_cy_list li p { overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}

.cy_rank { overflow:hidden;}
.cy_rank ul li { float:left; display:inline; width:115px; margin:10px 20px;}
.cy_rank ul li p { overflow:hidden; white-space:nowrap; text-overflow: ellipsis; padding:0 5px 0 5px; text-align:center;}
.part_cy_list ul li span { float:right; padding-left:10px; color:#ea8010;}

/*加盟趋势*/
.qstitle { background-position:0px -180px;}
.part_qs_box { width:958px; border:1px solid #ccc; margin-top:5px;}

.part_qs_link1 { padding-top:5px; width:333px; margin-left:7px; padding-bottom:5px;}
.part_qs_link1 .part_qs_a ul { overflow:hidden; padding:2px 0; border-bottom:1px dashed #ccc; margin-right:20px;} 
.part_qs_link1 .part_qs_a ul li { width:45%; text-align:left; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; float:left; display:inline; padding-left:7px; padding-right:5px;}
.part_qs_link1 .part_qs_a ul li:first-child { width:100%; font-size:18px; line-height:30px;}
.part_qs_link1 .part_qs_a ul li a:hover { text-decoration:underline;}

.part_qs_b { margin-left:7px; margin-top:15px; overflow:hidden;margin-right: 10px;}
.part_qs_b ul li { width:45%; padding-right:5px; float:left; display:inline; padding-left:10px;}
.part_qs_b ul li a { color:#f00; text-decoration:underline;}

.part_qs_link2 { width:260px; overflow:hidden; padding-bottom:5px;}
.part_qs_link2 ul li { padding-top:5px;}

.part_qs_link3 { margin-left:20px; margin-right:7px; width:330px; padding-top:5px;} 
.part_qs_title li { width:165px; float:left; display:inline; text-align:center; line-height:37px; height:37px; color:#fff; cursor:pointer; font-size:16px; background:#f14008;}
.part_qs_title li.active { background:rgb(255,115,0);}
.part_qs_link3 .part_cy_main { width:340px; border:0; margin-top:0px; height:inherit;}
.part_qs_link3 .part_cy_ad2 { width:210px;}
.part_qs_title { height:37px; overflow:hidden;}

.cy_qs2 .part_cy_list ul li { width:45%; float:left; display:inline;}

/*品牌街*/
.ppjtitle { background-position:0px -210px;}
.part_ppj_box { width:958px; border:1px solid #ccc; margin-top:5px; padding:10px 0;}
.part_ppj_img { margin-left:7px;}
.part_ppj_tj { margin-right:0px;}
.part_ppj_tj .tuij_box { width:721px; margin:0; height:195px;}
.part_ppj_tj .tuij_link { width:119px; height:96px;}
.part_ppj_tj .tuij_list { width:721px;}
.part_ppj_tj .tuij_list ul li { width:104px;}

/*创业指南*/
.zntitle { background-position:0px -240px;}
.part_zn_box { width:958px; border:1px solid #ccc; margin-top:5px; padding-bottom:5px;}
.part_zn_main { width:465px; margin:5px 7px;}
.part_zn_main h4 { font-size:14px; padding-left:5px; line-height:26px; height:26px; border-bottom:1px solid #ccc; margin-bottom:5px;}

.part_zn_main .part_zn_list { width:256px; padding-left:5px;}
.part_zn_main .part_zn_ph { width:190px;}
.part_zn_main .part_zn_list ul li { line-height:20px; overflow:hidden; height:20px;}

/*创业社区*/
.sqtitle { background-position:0px -270px;}
.part_sq_box { width:958px; border:1px solid #ccc; margin-top:5px;}

/*焦点轮换*/
/*本例css*/
.sq_lunbo { width: 770px; height: 282px; position: relative; overflow:hidden; }
.sq_lunbo li { position:relative;}
.sq_lunbo .sq_lunboinfo { position:absolute; z-index:3; bottom:0px; left:0px; width:760px; padding:5px; background:url(../images/lunbo-bg.png) repeat; color:#fff; height:80px; overflow:hidden;}
.sq_lunbo .sq_lunboinfo_title { font-size:14px; height:30px; line-height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.sq_lunbo .sq_lunboinfo p { padding-top:4px;} 
.sq_lunbo li a { color:#fff;}

/*数字按钮样式*/
.sq_lunbo .num { overflow:hidden; height: 25px; position: absolute; bottom:12px; right: 15px; zoom:1; z-index:4; display:none;}
.sq_lunbo .num li { width: 25px; height: 25px; line-height: 25px; text-align: center; font-weight: 400; font-family: "微软雅黑", Arial; color: #FFFFFF; background: #444444; margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.sq_lunbo .num li.on { background: #FF7700; } /*当前项*/

/*上一个  下一个*/
.sq_lunbo .prev,
.sq_lunbo .next { width: 45px; height: 45px;  position: absolute; top: 85px; filter:alpha(opacity=60); /*IE滤镜，透明度50%*/ -moz-opacity:0.6; /*Firefox私有，透明度50%*/ opacity:0.6;/*其他，透明度50%*/}
.sq_lunbo .prev { background: url(../images/btn-prev.png) no-repeat; left:0;}
.sq_lunbo .next {background: url(../images/btn-next.png) no-repeat; right:0;}

/*新店开业*/
.sq_rank { width:173px; margin-right:7px;}
.sq_rank_title { font-size:14px; padding-left:5px; line-height:26px; height:26px; border-bottom:1px solid #ccc; margin-bottom:5px;}
.sq_list { padding-left:5px;}
