@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
body{ font-family:"微软雅黑"; font-size:12px; line-height:24px; color:#000;}

a{ outline:none; text-decoration:none; color:#333;}
b,i,em{ font-style:normal;}
li{ list-style:none;}
img{ vertical-align:middle; border:0 none;}
table{ border-collapse:collapse;}

.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
	zoom:1;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
	overflow:inherit;
}