@charset "utf-8";
body {
    position: relative;background-color: #f6f4ef;
    width: 100%;
}
body, div, li, ul, span, p, dl, dt, dd, ol ,h1, h2, h3, h4, h5, h6 {
    font: 12px/150% "微软雅黑",Arial,"宋体",Verdana,Lucida,Helvetica,sans-serif;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
}
a {
    color: #707070;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #eb6100;
    text-decoration: underline;
}
.clear {
    clear: both;
}
.floatL {
    float: left;
}
.floatR{
    float: right;
}
.space5{height:5px;width:100%;background:none;border:none;}
.space6{height:6px;width:100%;background:none;border:none;}
.space7{height:7px;width:100%;background:none;border:none;}
.space8{height:8px;width:100%;background:none;border:none;}
.space9{height:9px;width:100%;background:none;border:none;}
.space10{height:10px;width:100%;background:none;border:none;}
.space11{height:11px;width:100%;background:none;border:none;}
.space12{height:12px;width:100%;background:none;border:none;}
.pidright5 {
    display: inline;
    margin-right:5px;
}
em { font-weight: 900;}
strong { font-weight: 600;}
.red{color:#ff0000;}
.f12 { font-size: 12px;}
.f12b { font-size: 12px; font-weight: bold;}
.f14 { font-size: 14px;}
.f14b { font-size: 14px; font-weight: bold;}
.f16 { font-family: "simhei"; font-size: 16px;}
.f18 { font-family: "simhei"; font-size: 18px;}
.f20 { font-family: "simhei"; font-size: 20px;}
.center{width:1150px;height:auto;margin:0 auto;overflow:hidden;}
.center_x{width:1150px;height:auto;margin:0 auto;z-index:1;}
.center_o{width:1150px;height:auto;margin:0 auto;z-index:100;}


/*首页改版头部样式开始*/
.lsgb_header_bj{width:100%;height:151px;background:url(../images/tb_bj.gif) repeat-x left top;}
.lsgb_top{width:1150px;height:35px;margin:0 auto;}
.lsgb_index_ul{width:680px;overflow:hidden;}
.lsgb_index_ul a{display:inline-block;padding:0 10px;height:35px;line-height:35px;font-size:12px;color:#565656;}
.lsgb_index_ul a em{display:inline-block;width:18px;height:35px;float:left;background-repeat: no-repeat;text-indent:-999em;}
.lsgb_index_ul a .bg_1{background-image:url(../images/s_bj.png);background-position: 0 7px; }
.lsgb_index_ul a .bg_2{background-image:url(../images/s_bj.png);background-position: -21px 8px; }
.bg_3{display:inline-block;width:18px;height:35px;text-indent:-999em;float:left;background:url(../images/phb.png) no-repeat left center;}
.bg_4{display:inline-block;width:18px;height:35px;text-indent:-999em;float:left;background:url(../images/zn.png) no-repeat left center;}
.bg_5{display:inline-block;width:18px;height:35px;text-indent:-999em;float:left;background:url(../images/zh.png) no-repeat left center;}
.bg_6{display:inline-block;width:18px;height:35px;text-indent:-999em;float:left;background:url(../images/zs.png) no-repeat left center;}
.bg_7{display:inline-block;width:18px;height:35px;text-indent:-999em;float:left;background:url(../images/rw.png) no-repeat left center;}
.lsgb_index_ul a em.bg_8{display:inline-block;width:25px;height:35px;text-indent:-999em;float:left;background:url(../images/wd.png) no-repeat left center;}
.lsgb_index_ul a em.bg_bi{display:inline-block;width:16px;height:35px;text-indent:-999em;float:left;background:url(../images/bi.png) no-repeat left center;}
.lsgb_index_ul .l_a{padding-right:15px;padding-left:10px;background:url(../images/s_bj_05.png) no-repeat 88px center;}


.news_p{width:333px;height:35px;line-height:35px;overflow:hidden;background:url(../images/s_bj_06.png) no-repeat left center;color:#000;}
.hz_title{width:90px;height:35px;line-height:35px;overflow:hidden;float:left;text-indent:2em;}


.lsgb_login{height:35px;line-height:35px;width:200px;float:right;}
.top_r_login {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 355px;
}
.nav-main li {
    color: #565656;
}
.top_r_login a {
    color: #565656;
    display: inline-block;
    font-size: 14px;
    padding: 0;
    vertical-align: middle;
}
.nav-main {
    height: 100%;
    list-style-type: none;
    width: 100%;
}
.nav-main span {
    background: url("http://img.liansuo.com/html/images/918/down-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 7px;
    margin-left: 5px;
    width: 7px;
}
.hover-up {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}
.hover-down {
    transform: rotate(0deg);
    transition-duration: 0.5s;
}
.nav-main li {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-right: 1px;
    width: 80px;
}
.nav-main div {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    cursor: pointer;
    display: block;
    float: left;
    height: 160px;
    margin-right: 1px;
    width: 2000px;
}
.hidden-box {
    background: none repeat scroll 0 0 #fff;
    border-top: 0 none;
    color: #000;
    display: none;
    position: absolute;
    top: 30px;
    width: 90px;
    z-index: 11111;
}
.hidden-box img {
    height: 92px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 132px;
}
.nav {
    background: none repeat scroll 0 0 #fff;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 200px;
	position:relative;
}
.hidden-loc-index {
    background: none repeat scroll 0 0 #fff;
    height: 160px;
    width: 142px;
}
.hidden-box ul {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hidden-box li:hover {
    background: none repeat scroll 0 0 #f07a1a;
    color: #fff;
}
.hidden-box li:hover a {
    background: none repeat scroll 0 0 #f07a1a;
    color: #fff;
    display: block;
    line-height: 30px;
    text-decoration: none;
}
.hidden-loc-index {
    right: 80px;
}
.hidden-loc-us {
    overflow: hidden;
    right: 20px;
}
#box-2 ul {
    height: 120px;
    position: relative;
    width: 90px;
}
.hidden-loc-us li {
    color: #000;
    line-height: 30px;
}

/*logo部分样式开始*/

.lsgb_logo{margin:10px auto;height:55px;overflow:hidden;}
.logo_ad img{width:914px;height:55px;overflow:hidden;}


/*导航和搜索部分样式开始*/

.lsgb_nav{height:40px;line-height:40px;margin-top:1px;}
.pro_class{height: 40px;line-height: 40px;font-size:16px;width: 224px;font-weight:normal;color:#FFF;text-align: center;background: #ea0011;margin-top:1px;border-bottom: 1px solid #d61b24;overflow: visible;}
.lsgb_nav{width:auto;height: 41px;margin-left:12px;display:inline;}
/*.lsgb_nav a{display:inline-block;padding:12px 15px 0 15px;height:28px;}
.lsgb_nav a:hover{display:inline-block;padding:12px 15px 0 15px;height:28px;background:#a40000;}
_.lsgb_nav a{display:inline-block;padding:12px 10px 0 10px;height:28px;}
_.lsgb_nav a:hover{display:inline-block;padding:12px 10px 0 10px;height:28px;background:#a40000;}
.lsgb_nav .index_ls{padding:12px 22px 0 22px;}
.lsgb_nav .index_ls:hover{padding:12px 22px 0 22px;}*/
.lsgb_nav .a_bg{background:#a40000;font-weight:bold;}
.lsgb_search{width:335px;height:36px;line-height:36px;margin-top:1px;padding-top:4px;}
.lsgb_search input{border:none;color:#555555;}
.search_int{width:253px;height:32px;float:left;overflow:hidden;background:#FFF url(../images/sc_bj.gif) no-repeat left bottom;border-right: 1px solid #eb0011;}
.search_ins{width:80px;height:32px;float:left;overflow:hidden;background:url(../images/search_19.png) no-repeat left center;}
.lsgb_search input.search_input{
    color: #999999;
    font-size: 14px;text-indent:2em;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-top:6px;
    width: 253px;
	background:none;
}
.lsgb_search input.search_btn {
    background:url(../images/search_19.png) no-repeat;
    cursor: pointer;
    display: inline;
    float: left;
    height: 32px;
    width: 80px;
}
.search_inp_pan input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    vertical-align: middle;
}
.search_inp_btn input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    vertical-align: middle;
}


/*首页改版连锁人物板块样式开始*/

.lsgb_lsrw{width:100%;height:290px;position: relative;top: -1px;}

/*首页改版项目分类板块样式开始*/
.new_aaaa_l{width:224px;margin-right:10px;height:289px;position: relative;}
.lsrw_l{width:222px;background: #ea0011;border-top: 1px solid #e04b4c;position:absolute;left:0px;padding-left:2px;top:0px;z-index:1000;height:289px;overflow:hidden;}
.lsrw_l p{/* padding: 15px 0; */border-bottom: 1px solid #d61b24;padding-left:0px;width:222px;padding-top:1px;}
.lsrw_l p a{display:inline-block;color: white;}
.lsrw_l p a span{display:inline-block;width: 26px;padding:13px 12px 13px;color: white;}
.lsrw_l p a span{color: white;}
.lsrw_l p a span:hover{color: white;text-decoration:underline;}
.lsrw_l p i { background-image:url(../images/s_bj.png);background-repeat: no-repeat; width: 25px; height: 20px; display: block; margin-bottom: 5px;}
.lsrw_l p .c_a1 i {background-position: -93px -167px;}
.lsrw_l p .c_a2 i {background-position: -122px -167px;}
.lsrw_l p .c_a3 i {background-position: -149px -170px;}
.lsrw_l p .c_a4 i {background-position: -179px -167px;}
.lsrw_l p .c_a5 i {background-position: 2px -216px;}
.lsrw_l p .c_a6 i {background-position: -31px -216px;}
.lsrw_l p .c_a7 i {background-position: -66px -216px;}
.lsrw_l p .c_a8 i {background-position: -104px -216px;}
.lsrw_l p .c_a9 i {background-position: -143px -216px;}
.lsrw_l p .c_a10 i {background-position: -176px -216px;}
.lsrw_l p .c_a11 i {background-position: 2px -260px;}
.lsrw_l p .c_a12 i {background-position: -32px -262px;}
.lsrw_l p .c_a13 i {background-position: -68px -260px;}
.lsrw_l p .c_a14 i {background-position: -106px -260px;}
.lsrw_l p .c_a15 i {background-position: -143px -260px;}
.lsrw_l p .c_a16 i {background-position: -179px -260px;}
.line{width: 100%;height: 1px;background: #e04b4c;}


.lsrw_l p span {
    background: none;

}

.lsrw_l p:hover{background:#FFF;}
.lsrw_l p:hover a span{
	background: #f7f7f7;
    color: #EA0011;
}
.lsrw_l p:hover a span{
    color: #EA0011;
}
.lsrw_l p.active{background:#FFF;}
.lsrw_l p.active a span{
    background:#f7f7f7;

}
.lsrw_l p.active  a span{color: #EA0011;background:none;}

.lsrw_l p.active .c_a1 i {background-position:-92px 0px;}
.lsrw_l p.active .c_a2 i {background-position:-123px 0px;}
.lsrw_l p.active .c_a3 i {background-position:-149px 0px;}
.lsrw_l p.active .c_a4 i {background-position:-180px 0px;}
.lsrw_l p.active .c_a5 i {background-position:2px -50px;}
.lsrw_l p.active .c_a6 i {background-position:-31px -50px;}
.lsrw_l p.active .c_a7 i {background-position:-66px -50px;}
.lsrw_l p.active .c_a8 i {background-position:-103px -50px;}
.lsrw_l p.active .c_a9 i {background-position:-142px -50px;}
.lsrw_l p.active .c_a10 i{background-position:-175px -50px;}
.lsrw_l p.active .c_a11 i{background-position:2px -94px;}
.lsrw_l p.active .c_a12 i{background-position:-32px -94px;}
.lsrw_l p.active .c_a13 i{background-position:-67px -94px;}
.lsrw_l p.active .c_a14 i{background-position:-106px -94px;}
.lsrw_l p.active .c_a15 i{background-position:-143px -94px;}
.lsrw_l p.active .c_a16 i{background-position:-180px -94px;}

.lsrw_l p:hover .c_a1 i {background-position:-92px 0;}
.lsrw_l p:hover .c_a2 i {background-position:-123px 0;}
.lsrw_l p:hover .c_a3 i {background-position:-149px 0;}
.lsrw_l p:hover .c_a4 i {background-position:-180px 0;}
.lsrw_l p:hover .c_a5 i {background-position:0 -50px;}
.lsrw_l p:hover .c_a6 i {background-position:-33px -50px;}
.lsrw_l p:hover .c_a7 i {background-position:-67px -50px;}
.lsrw_l p:hover .c_a8 i {background-position:-105px -50px;}
.lsrw_l p:hover .c_a9 i {background-position:-142px -50px;}
.lsrw_l p:hover .c_a10 i{background-position:-175px -50px;}
.lsrw_l p:hover .c_a11 i{background-position:2px -94px;}
.lsrw_l p:hover .c_a12 i{background-position:-32px -94px;}
.lsrw_l p:hover .c_a13 i{background-position:-67px -94px;}
.lsrw_l p:hover .c_a14 i{background-position:-106px -94px;}
.lsrw_l p:hover .c_a15 i{background-position:-143px -94px;}
.lsrw_l p:hover .c_a16 i{background-position:-180px -94px;}


.nav-pane {
	border: 2px solid #D40613;
	overflow: hidden;
	position: absolute;
	z-index: 999;
	left: 222px;
	top:-2px;
	width:830px;
	min-height:200px;
	height:auto;
	background: white;
    visibility: hidden;
}
.new_nav-pane{
	border: 2px solid #D40613;
	overflow: hidden;
	position: absolute;
	z-index: 1000;
	left: 223px;
	top:0px;
	width:568px;
	min-height:200px;
	height:auto;
	background: white;
    visibility: hidden;
	padding:0 15px;
}
.nav-pane.active {
    -webkit-animation: slideup 300ms;
    animation: slideup 300ms;
    visibility: visible;
}

@keyframes slideup {
    0% { transform: translateY(15px); opacity: 0.8; }
    100% { transform: translateY(0px); opacity: 1; }
}

@-webkit-keyframes slideup {
    0% { -webkit-transform: translateY(15px); opacity: 0.8; }
    100% { -webkit-transform: translateY(0px); opacity: 1; }
}

.nav-pane-l {
	width: 568px;
	min-height: 1px;
	padding: 15px;
}
.nav-pane-r {
	width: 186px;
	padding: 10px 15px 10px 20px;
	border-left: 1px solid #DDDDDD;
}
.nav-pane-r .title {
	margin-left: -5px;
	margin-bottom: 5px;
	font-size:16px;
}


.nav-pane-r a {display:block;
    float: left;margin-right:5px;
	margin-bottom:5px;
	width:88px;height:61px;
}
.nav-pane-r a:hover{display:block;
    float: left;margin-right:5px;
	margin-bottom:5px;
	width:88px;height:61px;
	text-decoration:none;
}
.nav-pane-l .title {
	float: left;
	width: 65px;
	font-size: 16px;
	margin-top: -2px;
}
.nav-pane-l .title a {
	color: #DF4551;
}
.nav-pane-l .title a:hover {
	text-decoration:none;
}

.nav-pane-l .content {
	float: left;
	width: 500px;
}

.nav-pane-l .content a {
	float: left;
	min-width:35px;
	max-width:55px;
	margin:0px 10px 10px 0;
	display:block;height:20px;line-height:20px;
}

.nav-pane-l .content a:hover {
	float: left;
	margin:0px 10px 10px 0;
	text-decoration:none;
	min-width:35px;
	max-width:55px;
	display:block;height:20px;line-height:20px;
}

.nav-pane-l .row {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	margin:8px 0;
}
.nav-pane-l .row  .content img{
	margin-right:20px;margin-bottom:20px;
}

.nav-pane-l .row:last-child {
	border-bottom: none;
	margin-bottom: none;
}

.pro_class:after {
    content: '';
    display: block;
    height: 1px;
    background: #e04b4c;
    margin-top: 1px;
}


/*首页改版连锁人物板块样式开始*/
.lsrw_c{width:678px;height:279px;margin-top:10px;}
.lsrw_contant{position:relative;width:638px;height:120px;padding:0 20px;}
.jb_pic{position:absolute;right:0;top:0;}
.lsrw_contant dl{float:left;width:110px;height:120px;overflow:hidden;display:inline;margin:0 24px;}
.lsrw_contant dl dt a{display:block;border:none;width:110px;height:95px;overflow:hidden;}
.lsrw_contant dl dd a{display:block;width:110px;height:22px;line-height:22px;color:#555555;text-align:center;}
.lsrw_contant dl dd a:hover{color:#eb6601;}
.lsgb_lh_1{width:678px;height:159px;overflow:hidden;background:#000;}

/*首页改版特别推荐板块样式开始*/

.lsrw_r{width:224px;height:282px;margin-top:5px;border:1px solid #dddddd;}
.lsrw_r_h3{width:224px;height:24px;padding-top:9px;text-indent:10px;border-bottom:2px solid #aaaaaa;}
.lsrw_r .ad_pic{width:224px;height:120px;overflow:hidden;}
.line_1{width:204px;height:1px;border-bottom:1px solid #d6d6d6;margin:0 10px;}


/*首页改版公司简介板块样式开始*/
.lsgb_introduce{width:1150px;height:70px;margin:5px 0 10px 0px;}


/*首页改版广告位置块样式开始*/
.lsgb_ad_pic{width:1150px;height:auto;overflow:hidden;}
.lsgb_ad_pic span{display:block;height:55px;overflow:hidden;}
.lsgb_ad_pic span img{height:55px;overflow:hidden;}
.w_1150{width:1150px;height:55px;overflow:hidden;}
.w_573 span{display:block;width:573px;height:55px;overflow:hidden;}
.w_573 .img_572{width:572px;overflow:hidden;}
.w_380 span{display:block;width:380px;height:55px;overflow:hidden;}
.w_284 span{display:block;width:284px;height:55px;overflow:hidden;}
.w_284 .img_283{width:283px;height:55px;overflow:hidden;}

/*首页改版排行榜连锁五十强精选专题板块*/

.lsgb_sub_1{width:100%;height:305px;overflow:hidden;}
.sub_1_l{width:226px;height:305px;overflow:hidden;margin-right:10px;}
.sub_1_l h3{width:226px;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #d40615;}
.sub_1_l ul{width:224px;height:258px;border:1px solid #dddddd;border-top:none;padding:7px 0;background:url(../images/phb.jpg) no-repeat 5px 10px;}
.sub_1_l ul li{padding:0 7px;}
.sub_1_l ul li a{display:block;float:left;width:147px;height:26px;line-height:24px;padding-left:30px;font-size:12px;color:#707070;overflow:hidden;}
.sub_1_l ul li a{display:block;float:left;width:147px;height:26px;line-height:24px;padding-left:30px;font-size:12px;color:#707070;overflow:hidden;text-decoration:none;}
.sub_1_l ul .line_3{clear:both;margin:0 7px;width:195px;height:1px;border-bottom:1px dashed #ddd;}

.sub_1_c{width:678px;height:305px;overflow:hidden;margin-right:10px;}
.sub_1_c h3{width:678px;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;}
.sub_1_c h3 span{float:right;}
.sub_1_c h3 span a{display:inline-block;overflow:hidden;padding-left:30px;text-decoration:none;}
.xm_ad{width:678px;height:267px;margin-top:7px;overflow:hidden;}
.five_xm img{width:200px;height:267px;overflow:hidden;}
.five_pic{width:468px;height:195px;border-left:1px solid #dddddd;border-top:1px solid #dddddd;overflow:hidden;}
.five_pic a{display:block;float:left;width:130px;height:76px;padding:10px 12px 10px 13px;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.five_pic a img{display:block;width:130px;height:76px;}
.five_t{width:468px;height:70px;overflow:hidden;}
.ppjb_ul {
    width: 468px;
}
.ppjb_ul li {
    background: url("http://img.liansuo.com/html/images/918/li_bg.jpg") no-repeat scroll 6px 13px rgba(0, 0, 0, 0);
    float: left;
    height: 25px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 15px;
    text-overflow: ellipsis;
    width: 140px;
    word-break: break-all;
}
.ppjb_ul li a {
    color: #6f6f6f;
    font-size: 12px;
}
.ppjb_ul li .red {
    color:#F00;
    font-size: 12px;
}


.sub_1_r{width:226px;height:305px;overflow:hidden;}
.sub_1_r h3{width:226px;height:24px;padding-top:6px;border-bottom:2px solid #aaaaaa;margin-bottom:6px;overflow:hidden;}
.hot_ph{width:226px;margin-top:7px;overflow:hidden;}
.hot_ph dl{width:226px;height:80px;overflow:hidden;}
.hot_ph dl dt{width:80px;height:80px;overflow:hidden;float:left;}
.hot_ph dl dd{width:136px;height:80px;float:right;}
.hot_ph dl dd .dl_h3{width:136px;height:22px;line-height:20px;font-weight:bold;font-size:16px;color:#d40615;border:none;padding-top:0px;margin-bottom:0px;}
.hot_ph dl dd .dl_h3 a{font-weight:bold;font-size:16px;color:#d40615;}
.hot_ph dl dd h4{height:20px;line-height:20px;font-weight:normal;}
.hot_ph dl dd h4 a{color:#d40615;}
.hot_ph dl dd p{line-height:18px;height:36px;width:136px;overflow:hidden;}



 

/*首页改版项目专题加盟优惠板块样式开始*/

.lsgb_sub_2{width:100%;height:315px;overflow:hidden;}
.sub_2_l{width:226px;height:315px;overflow:hidden;margin-right:10px;}
.sub_2_l h3{width:226px;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
#focus {
    height: 278px;
    overflow: hidden;
    position: relative;
    width: 226px;
}
#focus ul {
    height:278px;
    position: absolute;
}
#focus ul li {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: 278px;
    overflow: hidden;
    position: relative;
    width: 226px;
}
#focus ul li div {
    overflow: hidden;
    position: absolute;
}
#focus .btnBg {
    bottom: 0;
    height: 20px;
    left: 0;
    position: absolute;
    width: 226px;
}
#focus .btn {
    bottom: 5px;
    height: 10px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 206px;
}
#focus .btn span {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 0 5px 5px 0;
    width: 12px;
}
#focus .btn span.on {
    background: none repeat scroll 0 0 #fff;
}
#focus {
    height: 278px;
    overflow: hidden;
    position: relative;
    width: 226px;
}
#focus ul {
    height: 278px;
    position: absolute;
}
#focus ul li {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height:278px;
    overflow: hidden;
    position: relative;
    width: 226px;
}
#focus ul li div {
    overflow: hidden;
    position: absolute;
}
#focus .btnBg {
    bottom: 0;
    height: 20px;
    left: 0;
    position: absolute;
    width: 226px;
}
#focus .btn {
    bottom: 15px;
    height: 10px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 206px;
}
#focus .btn span {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 0 5px 15px 0;
    width: 12px;
}
#focus .btn span.on {
    background: none repeat scroll 0 0 #fff;
}
#focus li a img{width:226px;height:278px;overflow:hidden;}


.sub_2_c{width:678px;height:315px;overflow:hidden;margin-right:10px;}
.sub_2_c h3{width:678px;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.sub_2_c_con{width:678px;height:277px;border-left:1px solid #dddddd;border-top:1px solid #dddddd;overflow:hidden;}
.sub_2_c_con dl{width:130px;padding:0 2px;height:137px;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;overflow:hidden;float:left;}
.sub_2_c_con dl dt{width:130px;height:76px;overflow:hidden;}
.sub_2_c_con dl dd{width:130px;height:48px;line-height:24px;overflow:hidden;text-align:center;}
.sub_2_c_con dl dd strong a{color: #434343;
    font-size: 14px;
    font-weight: normal;
    height: 24px;}

.sub_2_c_con dl dd p a{color: #434343;
    font-size: 12px;
    height: 24px;}
.sub_2_c_con .sub_2_c_con_dl{width:131px;}

.sub_2_r{width:226px;height:315px;overflow:hidden;}
.sub_2_r h3{width:226px;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.sub_2_r .sub_2_rpic img{width:226px;height:74px;overflow:hidden;}
.sub_2_rnews{width:226px;overflow:hidden;margin-top:3px;}
.sub_2_rnews li{height:25px;line-height:25px;background:url(http://img.liansuo.com/html/images/918/li_bg.jpg) no-repeat left center;text-indent:10px;width:226px;overflow:hidden;}


/*首页改版热点专题样式开始*/

.lsgb_sub_3{width:100%;height:380px;overflow:hidden;}
.lsgb_sub_3 h3{width:100%;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.lsgb_sub_3  a{color:#000000;}
.sub_3_xmzt{width:100%;height:342px;overflow:hidden;}
.sub_3_xmzt dl{width:180px;height:114px;overflow:hidden;float:left;margin-right:14px;}
.sub_3_xmzt dl dt{width:180px;height:89px;overflow:hidden;}
.sub_3_xmzt dl dt img{width:180px;height:89px;overflow:hidden;}
.sub_3_xmzt dl dd{width:180px;height:25px;line-height:25px;font-size:12px;color:#414141;text-align:center;}
.sub_3_xmzt .lsgb_dl{margin-right:0;}

.ls_xmztc_title{width:100%;height:24px;padding-top:4px;border-bottom:2px solid #aaaaaa;overflow:hidden;margin-bottom:6px;}
.ls_xmztc_mage{background-color:#FFFFFF;width:1150px;}
.ls_xmztc_mage dl{float:left; width:226px; height:108px; display:inline;}
.ls_xmztc_mage dl dt{width:226px; height:86px; overflow:hidden}
.ls_xmztc_mage dl dt img{width:224px; height:84px; border:#ccc solid 1px; overflow:hidden;display:block;}
.ls_xmztc_mage dl dd{width:216px; height:22px; padding:0 5px; line-height:22px; background-color:#333333; color:#FFFFFF; text-align:center; font-size:14px; overflow:hidden;}
.ls_xmztc_mage dl dd a{ color:#FFFFFF; }

.ls_xmztc_mage dl dt{ height:108px; position:relative;}
			.ls_xmztc_mage dt a{cursor: pointer; text-decoration: none !important;}
			.ls_xmztc_mage a.a-img{
				display: inline-block;
				font-size: 0;
				line-height: 0;
			}
			.ls_xmztc_mage .xm_list_ti{
				background-color: #333333;
				color: #FFFFFF;
				font-size: 14px;
				height:22px;
				line-height:19px;
				padding: 0 5px;
				text-align: center;
				width: 216px;
				bottom: 0;}
			.ls_xmztc_mage .xm_list_ti a,.xm_list_mage a {color: #FFFFFF;}
			.xm_list_mage{
				display:none;
				height: 76px;
				padding:5px;
				top: 0;
				position:absolute;
				left:0;
				background-color:#000;
				width:218px;
				overflow:hidden;
				color:#FFFFFF;
				opacity:0.8;
				filter:alpha(opacity=66);
				font-size:12px;
				color:#fff;
				z-index:2;
			}
			.xm_list_mage p{height: 72px;
				color:#FFFFFF;
				line-height:23px;
				overflow: hidden;
				width: 220px;}

/*首页改版最新上榜样式*/
.lsgb_sub_4{width:100%;height:255px;overflow:hidden;}
.sub_4_1{width:914px;height:255px;overflow:hidden;}
.sub_4_1 h3{width:100%;height:24px;padding-top:6px;border-bottom:2px solid #aaaaaa;margin-bottom:6px;overflow:hidden;}
.sub_4_1 h3 span{float:right;display:block;padding-top:10px;height:20px;}
.sub_4_1 h3 span a{float:left;display:block;width:20px;height:10px;background:url(../images/abj.jpg) no-repeat right center;text-indent:-999em;padding-left:15px;}
.sub_4_1 h3 span a:hover{float:left;display:block;width:20px;height:10px;background:url(../images/ahover.jpg) no-repeat right center;text-indent:-999em;padding-left:15px;}
.sub_4_l_con{width:914px;height:216px;overflow:hidden;}
.sub_4_news{width:226px;height:216px;overflow:hidden;margin-right:10px;}
.sub_4_news li{height:24px;line-height:24px;background:url(http://img.liansuo.com/html/images/918/li_bg.jpg) no-repeat left center;text-indent:10px;width:226px;overflow:hidden;}
.sub_4_pic{width:678px;height:216px;overflow:hidden;position:relative;}
#slider{position:absolute;left:0;top:0;}
.sub_4_r{width:226px;height:255px;overflow:hidden;}
.tabNav{width:226px;height:32px;margin-bottom:6px;}
.tabNav li{float:left;width:113px;text-align:left;height:32px;position:relative;}
.tabNav li .a_1{display:block;width:113px;height:32px;position:absolute;z-index:10;background:url(../images/bt_pic2_78.png) no-repeat left bottom;}
.tabNav li .a_2{display:block;width:113px;height:32px;position:absolute;z-index:10;background:url(../images/bt_pic_79.png) no-repeat left bottom;}
.tabNav li.hover .a_1{display:block;width:113px;height:32px;position:absolute;z-index:10;background:url(../images/bt_pic_78.png) no-repeat left bottom;}
.tabNav li.hover .a_2{display:block;width:113px;height:32px;position:absolute;z-index:10;background:url(../images/bt_pic2_79.png) no-repeat left bottom;}
.hid{display:none;}
.tabMemu{width:226px;height:254px;overflow:hidden;}
.menuCont{height:216px;}
.menuCont img{width:226px;height:88px;overflow:hidden;}
.menuCont ul li{width:216px;height:26px;line-height:25px;overflow:hidden;padding-left:10px;background:url(http://img.liansuo.com/html/images/918/li_bg.jpg) no-repeat left center;overflow:hidden;}
#lh_pic{height:63px;width:226px;overflow:hidden;position:absolute;left:0;top:0;}
.xg_content{position:relative;width:226px;height:63px;overflow:hidden;}

/*首页改版上榜企业板块样式开始*/

.lsgb_sub_5{width:100%;height:301px;overflow:hidden;}
.sub_5_l{width:914px;height:301px;}
.sub_5_l h3{width:100%;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.sub_5_l h3 a{color:#000000;}
.sub_5_l_pic{width:914px;height:262px;border-left:1px solid #dddddd;border-top:1px solid #dddddd;overflow:hidden;}
.sub_5_l_pic dl{width:130px;height:130px;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;overflow:hidden;float:left;}
.sub_5_l_pic dl dt{width:130px;height:76px;overflow:hidden;}
.sub_5_l_pic dl dd{width:130px;height:48px;line-height:24px;overflow:hidden;text-align:center;}
.sub_5_l_pic dl dd strong a{color: #434343;
    font-size: 14px;
    font-weight: normal;
    height: 24px;}
.sub_2_c_con dl dd p a{color: #434343;
    font-size: 12px;
    height: 24px;}
.sub_5_l_pic .dl_pic_1{width:129px;overflow:hidden;}

.sub_5_r{width:226px;height:301px;}
.sub_5_r h3{width:100%;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.sub_5_r h3 a{color:#d40612;}
.sub_5_r_news{width:226px;height:262px;overflow:hidden;}
.cywb{width:226px;height:263px;margin-bottom:6px;overflow:hidden;}
.cywb img {display: block; margin-top:4px;float:left; border-top: 1px solid #F0EFEF;}
.cywb ul {width:226px;}
.jm_big {
  background: none repeat scroll 0 0 #F6F6F6;
  height: 90px;
  overflow: hidden;
  padding: 3px 6px;
  width: 218px;
}
.jm_big span img {
  float: left;
}
.jm_big h6 {
  float: left;
  padding-left: 13px;
}
.jm_big h6 img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: none;
  float: left;
  padding: 3px;
}
.jm_big .jm_big_mr {
  float: right;
  width: 100px;
  margin-top:5px;
}
.jm_big .jm_big_mr p {
  display: block;
  height: 32px;
  line-height: 16px;
  margin-bottom: 3px;
  overflow: hidden;
}
.jm_big .jm_big_mr p a {
  color: #FE4502;
}
.jm_big .jm_big_mr span {
  display: block;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  width: 95px;
}

.jm_small {
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  width:226px;
}
.jm_small span img {
  display: inline;
  float: left;
  margin: 9px 5px 0 0;
}
.jm_small h5 {
  float: left;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
overflow: hidden;
height:25px;
line-height:25px;
}

.jm_small .jm_small_1 {

  width: 170px;
height:27px;
line-height:27px;
overflow: hidden;
font-size:12px;
}


/*首页改版精品专区样式开始*/

.lsgb_sub_6{width:100%;height:301px;overflow:hidden;}
.sub_6_l{width:914px;height:301px;}
.sub_6_l h3{width:100%;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.sub_6_l h3 a{color:#000000;}
.sub_6_l_pic{width:914px;height:262px;border-left:1px solid #dddddd;border-top:1px solid #dddddd;overflow:hidden;}
.sub_6_l_pic dl{width:130px;height:130px;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;overflow:hidden;float:left;}
.sub_6_l_pic dl dt{width:130px;height:76px;overflow:hidden;}
.sub_6_l_pic dl dd{width:130px;height:48px;line-height:24px;overflow:hidden;text-align:center;}
.sub_6_l_pic dl dd strong a{color: #434343;
    font-size: 14px;
    font-weight: normal;
    height: 24px;}
.sub_2_c_con dl dd p a{color: #434343;
    font-size: 12px;
    height: 24px;}
.sub_6_l_pic .dl_pic_1{width:129px;overflow:hidden;}

.sub_6_r{width:226px;height:301px;}
.sub_6_r h3{width:100%;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.sub_6_r h3 a{color:#d40612;}
.sub_6_r_news{width:226px;height:262px;overflow:hidden;}
.sub_6_r_news li{height:24px;line-height:25px;background:url(http://img.liansuo.com/html/images/918/li_bg.jpg) no-repeat left center;text-indent:10px;width:226px;overflow:hidden;}

/*首页改版配送专区logo样式开始*/
.ls_518_link {clear: both; height: 50px;overflow: hidden; padding:5px 0; width:1150px; overflow:hidden;}
.ls_518_link dl {width:70px; height:50px; float: left; display:inline; margin:0 6px;}
.ls_518_link dl dt{width:70px; height:30px;}
.ls_518_link dl dd{width:70px; height:20px; line-height:20px; word-break:break-all; text-overflow:ellipsis; overflow:hidden; text-align:center;}


/*首页改版热门品牌样式开始*/
.hot_brand{width:1148px;border:1px solid #e8e8e8;border-top:2px solid #aaa;height:279px;}
.hot_brand_lef{width:129px;height:279px;float:left;border-right:1px solid #e8e8e8;}
.hot_brand_list li{height:39px;text-align:center;border-bottom:1px solid #e8e8e8;cursor:pointer;}
.hot_brand_list li a{font-size:14px;}
.hot_brand_list li.hot_tit{font-weight:bolder;font-size:14px;padding-top:10px;height:29px;}

.hot_brand_rig{float:left;height:279px;width:1018px;position:relative;}
.hot_brand_nav{width:1148px;height:279px;position:absolute;overflow:hidden;}
.hot_tab{position:relative;height:39px;}
.hot_tab li{float:left;}
.hot_tab li a{display:inline-block;padding-top:11px;height:28px;width:127px;text-align:center;border-bottom:1px solid #e8e8e8;border-right:1px solid #e8e8e8;font-size:14px;}
.hot_tab li a.curr{display:inline-block;padding-top:11px;height:28px;width:127px;text-align:center;border-bottom:none;background:url(../images/rdpp.jpg) no-repeat center bottom;}
.hot_brand_cont{width:1148px;height:279px;position:absolute;left:0;top:39px;}
.hot_brand_con{width:1148px;height:238px;position:relative;}
.hot_con_list{width:128px;float:left;}
.hot_con_list li a{ display:inline-block;height:40px;line-height:40px;width:128px;text-align:center;}
.hot_more{width:235px;height:39px;position:absolute;top:0px;right:0;}
.hot_more a{ display:inline-block;width:239px;height:39px;line-height:39px;text-align:center;}
.prob{width:226px;height:226px;float:left;}
.hide{ display:none;}


/*首页改版创业社区样式开始*/

.lsgb_sub_6{width:100%;height:308px;overflow:hidden;}
.sub_6_pic{width:914px;height:308px;overflow:hidden;}
.sub_6_pic #d_chao {
    border-bottom:2px solid #aaaaaa;
    border-top: medium none;
    padding-top:6px;height:24px;overflow:hidden;
    position: relative;
}
.sub_6_pic #d_chao a{color:#000;}
.widget-slide-ctrl-nav {
    display: inline-block;
    height: 10px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 15px;
    width: 125px;
}
.widget-slide-ctrl-nav li {
    background:url(../images/abj.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline;
    float:right;
    height: 4px;
    margin-left: 3px;
    width: 20px;
}
.ZHXMKwidget-slide-ctrl-nav {
    display: inline-block;
    height: 24px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 0;
}
.ZHXMKwidget-slide-ctrl-nav li {
    display: inline;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0 5px;
}
.widget-slide-ctrl-nav .d_current {
    background:url(../images/ahover.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.widget-slide-body {
    height: 266px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width:914px;
}
#widget-slide-contents-piclist {
    left: 0;
    position: absolute;
}
.widget-slide-contents-piclist {
    width: 4570px;
}
.widget-slide-contents-piclist li {
    background: none repeat scroll 0 0 #cc0000;
    display: inline;
    float: left;
    width:914px;
}
.widget-slide-contents-piclist li .kfc_left {
    color: #ffffff;
    display: inline;
    float: left;
    padding: 22px 10px 0 20px;
    width:196px;
}
.widget-slide-contents-piclist li .kfc_left h4 {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
}
.widget-slide-contents-piclist li .kfc_left h4 a {
    color: #ffffff;
}
.widget-slide-contents-piclist li .kfc_left p {
    font-size: 14px;
    line-height: 24px;
    padding-right: 10px;
}
.widget-slide-contents-piclist li .kfc_right {
    display: inline;
    float: right;
    width: 688px;
}

#widget_left {
    height: 79px;
    left:226px;
    line-height: 79px;
    position: absolute;
    text-align: center;
    top: 107px;
    width: 46px;
    z-index: 999;
}
#widget_left:hover {
    background-color: #eb7515;
    text-decoration: none;
}
#widget_right {
    height: 79px;
    line-height: 79px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 107px;
    width: 46px;
}
#widget_right:hover {
    background-color: #eb7515;
    text-decoration: none;
}

.sub_6_news{width:226px;height:308px;overflow:hidden;}
.sub_6_news h3{width:226px;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.sub_6_news h3 a{color:#d40615;}
.sub_6_news ul{width:226px;height:266px;overflow:hidden;}
.sub_6_news li{height:24px;line-height:25px;background:url(http://img.liansuo.com/html/images/918/li_bg.jpg) no-repeat left center;text-indent:10px;width:226px;overflow:hidden;}

/*首页改版视频专区样式开始*/
.lsgb_sub_7{width:100%;height:305px;overflow:hidden;}
.sub_7_pic h3{width:914px;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.sub_7_pic h3 a{color:#000;}
.sub_7_pic ul{width:914px;height:263px;overflow:hidden;}
.sub_7_pic ul li{display:block;width:226px;height:130px;float:left;position:relative;margin-right:3px;margin-bottom:3px;overflow:hidden;}
.sub_7_pic ul .last_li{margin-right:0;}
.sub_7_pic ul li span{display:block;width:226px;height:130px;position:absolute;left:0;top:0;z-index:10;}
.sub_7_pic ul li span a{display:block;width:226px;height:130px;}
.sub_7_pic ul li span a:hover{background:url(../images/sp.png) no-repeat center center;}

.sub_7_news{width:226px;height:305px;overflow:hidden;}
.sub_7_news h3{width:914px;height:24px;padding-top:6px;overflow:hidden;border-bottom:2px solid #aaaaaa;margin-bottom:6px;}
.sub_7_news dl{width:112px;height:132px;overflow:hidden;float:left;}
.sub_7_news dl dt{width:113px;height:94px;overflow:hidden;}
.sub_7_news dl dd{width:113px;height:38px;margin-top:0px;line-height:20px;overflow:hidden;text-align:center;}
.sub_7_news dl dd strong a{color: #434343;
    font-size: 14px;
    font-weight: normal;
    height: 20px;}
.sub_7_news dl dd p a{color: #434343;
    font-size: 12px;
    height: 19px;text-align:center;}
.sub_7_news .dl_pic_1{width:129px;overflow:hidden;}
.sub_6_r_newsx li{height:24px;line-height:24px;background:url(http://img.liansuo.com/html/images/918/li_bg.jpg) no-repeat left center;text-indent:10px;width:226px;overflow:hidden;}


/*首页改版招商专题样式开始*/
.zszt{width:1150px;height:118px;overflow:hidden;position:relative;}
.zszt h3 {
  width: 100%;
  height:24px;padding-top:6px;overflow:hidden;
  border-bottom: 2px solid #aaaaaa;
  margin-bottom: 6px;
}

.zszt h3 a {
  color: #000000;
}

.zszt .slick {
  padding: 0 20px;
  width:1150px;overflow:hidden;
}

.zszt .slick-prev {
  background:url(../images/zszt_slick_prev.png) no-repeat center;
  width: 17px;
  height: 80px;
  left: 0;
  margin-top: -185px;
}

.zszt .slick-next {
  background: url(../images/zszt_slick_next.png) no-repeat center;
  width: 17px;
  height: 80px;
  right: 0;
  margin-top: -185px;
}

.floor{width:1150px;height:412px;overflow:hidden;}
.floor_h h3 {
  height:24px;padding-top:6px;overflow:hidden;border-bottom: 2px solid #aaaaaa; margin-bottom: 6px;vertical-align:middle;
}

.floor_h i {
    background: none repeat scroll 0 0 #d40515;
    color: white;
    display: inline-block;
    font-style: normal;
    height: 23px;
    line-height: 24px;
    margin-bottom: 6px;
    margin-right: 5px;
    padding: 0 5px;
    vertical-align: middle;
}

.floor_h a {
  color: #000000;

}

.floor_l {
  width: 215px;
  padding:0px;
}



.floor_l .new_x a {
  float: left;text-align:center;
  width:102px;height:52px;
  border-right: 1px dotted #e4e3e3;
  border-bottom: 1px dotted #e4e3e3;
}

.floor_l .new_x a:nth-child(2n) {
  border-right: none;
}

.floor_l .new_x a:nth-child(9),
.floor_l .new_x a:nth-child(10) {
  border-bottom: none;
}

.floor_l .new_x img {width:85px;height:52px;

}

.floor_l .links {

}

.floor_l .links a {clear:both;
  display: block;
  margin-top: 3px;
  width: 205px;
  overflow: hidden;
  text-overflow: ellipsis;overflow:hidden;
}

.floor_r {
  width: 934px;

}

.floor_r_l {
  width: 370px;

}

.floor_r_r {
  width: 564px;

}

.floor_r_r_item {
  position: relative;

  float: left;
  margin-left: 6px;
  margin-bottom: 5px;
}

.floor_r_r_item img {

}

.floor_r_r_item span {
  position: absolute;

  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 0;
}


/*首页改版底部样式开始*/

.lsgb_footer{width:100%;border-top:2px solid #d40515;height:420px;}
.lsgb_dt{width:1150px;height:165px;overflow:hidden;margin-top:6px;}
.lsgb_dt h3{width:auto;height:24px;padding-top:6px;overflow:hidden;border-bottom:1px solid #dfdfdf;margin-bottom:10px;}
.ls_erw{width:247px;height:165px;margin-right:47px;}
.ewm_pic{width:247px;height:113px;}

.ls_adservice{width:233px;height:165px;margin-right:47px;}
.lsgb_phone{width:233px;height:113px;font-size:14px;color:#434343;overflow:hidden;}
.lsgb_phone span{font-size:23px;color:#d40515;font-weight:bold;}

.ls_help_online{width:293px;height:165px;margin-right:47px;position:relative;}
.service_p{width:293px;height:115px;font-size:12px;line-height:25px;color:#434343;overflow:hidden;}
.online_qq{position:absolute;width:294px;height:70px;right:0;bottom:30px;}
.online_qq a{display:block;float:left;margin-right:8px;width:90px;height:22px;margin-bottom:5px;}

.ls_trend{width:233px;height:165px;}
.ls_trend ul{width:233px;height:113px;}
.ls_trend ul li{height:24px;line-height:24px;width:213px;background:url(http://img.liansuo.com/html/images/918/li_bg.jpg) no-repeat left center;padding-left:10px;overflow:hidden;}

.lsgb_links{width:1130px;height:54px;padding:10px;background:#f2f2f2;}
.links_title{width:70px;height:54px;font-size:14px;color:#000000;}
.links_cont{width:1060px;height:54px;line-height:18px;}
.links_cont a{display:inline;font-size:12px;margin-right:10px;color:#727272;}

.lsgb_db_nav{width:1150px;height:58px;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:14px;text-align:center;clear:both;line-height:58px;}
.lsgb_db_nav a{font-size:14px;color:#727272;}

.bq_txt{width:450px;height:90px;overflow:hidden;padding-left:15px;font-size:14px;line-height:18px;color:#727272}
.bq_txt p{font-size:14px;line-height:18px;}



/*首页轮换图样式*/

.luara-top{position:relative;width:678px;height:159px;padding:0;overflow: hidden;}
.luara-top ul{position: relative;padding: inherit;margin: 0;}
.luara-top ul li{padding: inherit;margin: inherit;list-style: none;}
.luara-top ul li img{width: inherit;height: inherit;}



.example1{}
.example1 ol{position:relative;width:100px;height: 20px;top:-30px;left:570px;}
.example1 ol li{float:left;width: 10px;height: 10px;margin: 5px;background: #fff;}
.example1 ol li.seleted{background: #1AA4CA;}
/*修改*/
/*对联*/
#adl{ display:block; position:fixed; width:70px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop)+200);}
#adr{ display:block; position:fixed; width:70px;_position:absolute;right:0px;_top:expression(eval(document.documentElement.scrollTop)+200);}
#adl a, #adr a{ display:block;}

.lsrw_l span:hover {
	background: #f7f7f7 url(../images/nav-selected.png) no-repeat;
    color: #EA0011;
	background-position: 95% 95%;
}

.lsrw_l span.active {
    background:#f7f7f7 url(../images/nav-selected_x.png) no-repeat;
    background-position: 95% 95%;
    color: #EA0011;
}
.ac_results{padding:0px;border:2px solid #ffaa07; background-color:Window;overflow:hidden;z-index:99999;}
.ac_results ul{width:100%;list-style-position:outside;list-style:none;padding:0;margin:0;float:left;}
.ac_results iframe{display:none;display:block;position:absolute;top:0;left:0;z-index:-1;filter:mask();width:3000px;height:3000px; ;}
.ac_results li{clear:both;margin:0px;padding:2px 5px;cursor:default;display:block;font-size:14px;line-height:16px;overflow:hidden;}
.ac_results li p{float:left;margin:0;padding:0;font: 14px/150% "微软雅黑";color:#999;}
.ac_results li span{margin:0;padding:0;float:right;font-size:14px;color:#999;}
.ac_loading{background:url('../images/indicator.gif') right center no-repeat;}
.ac_over{background-color:#c5c5c5;color:#FFF; }
#Layer1 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
}
.all_st{padding:0; margin:0; text-align:left;}


/***************2015年1月30号修改*****************/

.five_pic a{display:block;float:left;position:relative;width:130px;height:86px;padding:0px 12px 10px 13px;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.five_pic a span{display:block;position: absolute; bottom: 9px; text-align: center;width:130px;overflow:hidden;}


/***************2015年3月2号修改*****************/

ul.menu ul ul {
	display:block;
	width:305px;
    left: 93px;
    top: -1px;
	border:2px solid #ffc049;
	background:#FFF;
	z-index:100000;
}
ul.menu ul ul li{
	background:#FFF;
}
ul.menu ul ul li{
    background:#FFF;
}
ul.menu ul ul li:hover a{
    background:#c5c5c5;
}

/********2015.7.16 首页修改*******/

#jpzq .lsgb_sub_6{height:357px;}
#jpzq .sub_6_l h3{margin-bottom:0;}
#jpzq .sub_5_l_pic{width:914px;height:321px;border:none;}
#jpzq .news_jmzn{width:447px;height:150px;margin-top:10px;}
#jpzq .news_jmzn h4{font-size:14px;font-weight:bold;color:#2c1714;height:25px;line-height:24px;border-bottom:1px solid #cfcfcf;margin-bottom:10px;}
#jpzq .news_jmzn h4 a{font-weight:normal;}
#jpzq .news_jmzn h4 a:hover{font-weight:normal;text-decoration:none;}
#jpzq .jmzn_l{width:447px;height:114px;overflow:hidden;}
#jpzq .jmzn_l ul{width:245px;height:114px;margin:0;overflow:hidden;}
#jpzq .jmzn_l ul li{
  line-height: 24px;
  height: 24px;
  width: 250px;
  overflow: hidden;
  }
#jpzq .sub_5_l_pic .news_get:first-child{margin-right:20px;}
#jpzq .sub_5_l_pic .news_get:nth-child(3n){margin-right:20px;}
#jpzq .sub_6_r{padding-top:1px;}

.ls_search {
    display: inline;
    float: left;
    height: 32px;
    width: 190px;
    z-index: 20;
}

#uboxstyle {
    float: left;
    width:95px;
}
#macstyle {
    float: left;
    width: 95px;
}
.search_inp_pan {
    background:url(../images/search_pan_bj.jpg) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline;
    float: left;
    height: 32px;
    padding-left: 25px;
    width: 245px;
}

.search_inp_pan input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    vertical-align: middle;
}
.search_inp_btn input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    vertical-align: middle;
}
ul.menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.menu * {
    margin: 0;
    padding: 0;
}
ul.menu a {
    color: #999999;
    display: block;
    text-decoration: none;
}
ul.menu li {
    display: inline;
    float: left;
    font-size: 14px;
    position: relative;
}
ul.menu ul {
    background:url(../images/select.png) repeat-y scroll 0 0 transparent;
    display: block;
    left: 0;
    list-style: outside none none;
    opacity: 0;
    position: absolute;
    top: 26px;
}
ul.menu ul li {
    border-top: medium none;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0 3px;
    position: relative;
    width: 89px;
}
ul.menu ul li a {
    display: block;
    margin-left: 3px;
    padding: 0 3px 0 7px;
}
ul.menu ul ul {
    left: 89px;
    top: -1px;
}
ul.menu .menulink {
    background:url(../images/mmmm.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    line-height: 32px;
    padding: 0 7px;
    width: 81px;
}
ul.menu .menulink:hover {
    background:url(../images/menu.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
ul.menu .sub {
}
ul.menu .topline {
    border-top: 1px solid #aaa;
}
.lastli {
    background:url(../images/top.png) no-repeat scroll 0 22px rgba(0, 0, 0, 0);
}
.firstli {
    background:url(../images/top.png) no-repeat scroll 0 0px rgba(0, 0, 0, 0);
}
.lihover {


    background:url(../images/arrow.gif) no-repeat scroll 100px 10px #c5c5c5;
    margin-left: 3px;
    width: 95px;
}
.lihover2 {
    background: none repeat scroll 0 0 #c5c5c5;
    margin-left: 3px;
    padding: 2px 0 5px;
    width: 80px;
}
ul.monmenu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.monmenu * {
    margin: 0;
    padding: 0;
}
ul.monmenu a {
    color: #999999;
    display: block;
    text-decoration: none;
}
ul.monmenu li {
    display: inline;
    float: left;
    position: relative;
}
ul.monmenu ul {
    background:url(../images/select.png) repeat-y scroll 0 0 transparent;
    display: none;
    left: 0;
    list-style: outside none none;
    opacity: 0;
    position: absolute;
    top: 26px;
}
ul.monmenu ul li {
    border-top: medium none;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0 3px;
    position: relative;
    width: 89px;
}
ul.monmenu ul li a {
    display: block;
    margin-left: 3px;
    padding: 0 7px;
}
ul.monmenu ul li a {
    display: block;
    padding: 0 3px 0 7px;
}
ul.monmenu ul ul {
    left: 95px;
    top: -1px;
}
ul.monmenu .menulink {
    background:url(../images/mmmm.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 7px;
    width: 81px;
}
ul.monmenu .menulink:hover {
    background:url(../images/menu.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
ul.monmenu .sub {
}
ul.monmenu .topline {
    border-top: 1px solid #aaa;
}
.lsgb_search{width:451px;height:36px;line-height:36px;margin-top:1px;padding-top:4px;}
.lsgb_search input{border:none;color:#555555;}

.search_ins{width:80px;height:32px;float:left;overflow:hidden;background:url(../images/search_19.png) no-repeat left center;}
.lsgb_search input.search_input{
    color: #999999;
    font-size: 14px;text-indent:2em;

    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-top:6px;
    width: 180px;
	background:none;
}
.lsgb_search input.search_btn {
    background:url(../images/search_19.png) no-repeat;
    cursor: pointer;
    display: inline;
    float: left;
    height: 32px;
    width: 80px;
}
.search_inp_pan input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    vertical-align: middle;
}
.search_inp_btn input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    vertical-align: middle;
	color:#999999;


}
.search_int{width:178px;height:32px;float:left;overflow:hidden;background:#FFF url(../images/sc_bj.gif) no-repeat left bottom;border-right: 2px solid #ffaa07;}

#searchcat{background:url("http://www.liansuo.com/html/index2014/images/mmmm.png") no-repeat left top;}
#searchcat:hover{background:url("http://www.liansuo.com/html/index2014/images/menu.png") no-repeat left top;}

#searchmon{background:url("http://www.liansuo.com/html/index2014/images/mmmm.png") no-repeat left top;}
#searchmon:hover{background:url("http://www.liansuo.com/html/index2014/images/menu.png") no-repeat left top;}



#BDBridgeWrap {
  display: none !important;
}

.ls_xmztc_mage dl dt, .hot_con_list li a, .sub_7_pic ul li span, .lsgb_links, .links_cont {
  height: auto;
}

.lsrw_r .ad_pic, .lsrw_r_h3, .line_1, .lsgb_introduce, .sub_1_l ul, .sub_2_rnews, .sub_2_rnews li, .ls_xmztc_mage dl dt, .xm_list_mage, .xm_list_mage p, .sub_6_r_news, .sub_6_r_news li, .sub_5_r_news, .cywb, .sub_6_news ul, .sub_6_news li, .sub_7_pic ul li span a, .sub_7_pic h3, .sub_7_pic ul, .sub_6_r_newsx li, .zszt, .zszt .slick, .lsgb_search input.search_btn, .lsgb_links {
  width: auto;
}

.main-section, .lsgb_introduce, .hot_brand {
  background: white;
  border: 1px solid #d1d1d1;
  border-bottom-width: 2px;
  border-top-color: #d9d9d9;
}

body {
  background: #e6e6e6;
}

.center {
  width: 1152px;
}

.main-section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(http://www.liansuo.com/html/index2014/css/boxsizing.htc);
  padding: 10px;
  margin-bottom: 10px;
  height: auto;
  *zoom: 1;
  position: relative;
}
.main-section:before, .main-section:after {
  display: table;
  content: " ";
}
.main-section:after {
  clear: both;
}

.new_aaaa_l {
  margin-right: 8px;
}

.lsrw_l {
  height: 298px;
}

.lsrw_l p:last-child {
  border-bottom: none;
}

.lsrw_r {
  width: 210px;
}

.lsrw_r .ad_pic img {
  width: 100%;
}

.lsrw_r_h3 {
  border-bottom: none;
}

.lsgb_lsrw {
  border-top: none;
  border-left: none;
  padding-left: 0;
  padding-top: 0;
}

.lsgb_introduce {
  margin-bottom: 20px;
}
.lsgb_introduce img {
  width: 100%;
}

.sub_1_l {
  width: 200px;
}

.sub_2_r {
  width: 205px;
}

.sub_2_r .sub_2_rpic img {
  width: 100%;
}

.sub_3_xmzt dl {
  margin-right: 10px;
}

.sub_2_rnews li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ls_xmztc_mage dl {
  width: 222px;
}

.ls_xmztc_mage dl dt {
  border: 1px solid #ccc;
}

.ls_xmztc_mage dl dt img {
  width: 100%;
  border: none;
}

.sub_4_1 {
  width: 894px;
}

.sub_6_r {
  width: 206px;
}

.sub_6_r_news img {
  width: 100%;
}

.sub_6_r_news li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sub_5_r {
  width: 206px;
}

.jm_big {
  width: 208px;
}

.hot_brand {
  margin-bottom: 10px;
}

.hot_con_list li a {
  width: 120px;
  line-height: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hot_brand_cont {
  left: 1px;
}

.sub_6_news {
  width: 206px;
}

.sub_7_pic ul li span {
  width: 100%;
}

.sub_7_pic ul li span a {
  height: 130px;
}

.sub_7_pic ul li img {
  width: 100%;
}

.sub_7_pic {
  width: 894px;
}

.sub_7_pic ul li {
  width: 221px;
}

.sub_6_r_newsx li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.zszt {
  height: 140px;
}

.zszt .slick img {
  width: 133px;
}

.floor_l {
  width: 194px;
}

.floor_l .new_x a {
  width: 95px;
}

.lsgb_ad_pic {
  margin-bottom: 10px;
}

.lsgb_search {
  width: 435px;
}

.lsgb_nav {
  margin-left: 5px;
}

.search_ins {
  width: 65px;
  background-position-x: -5px;
}

.lsgb_search input.search_btn {
  background: none;
  display:block;
  width:100%;
}

.lsgb_links {
  *zoom: 1;
}
.lsgb_links:before, .lsgb_links:after {
  display: table;
  content: " ";
}
.lsgb_links:after {
  clear: both;
}

.links_cont {
  width: 1038px;
}

#colee_one {
  width: 100% !important;
}

.sub_1_l ul {
  border: none;
  margin-left: -5px;
}


/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url('ajax-loader.gif') center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 369px;overflow:hidden; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Icons */
@font-face { font-family: "slick"; src: url('fonts/slick.eot'); src: url('fonts/slick.eot?#iefix') format("embedded-opentype"), url('fonts/slick.woff') format("woff"), url('fonts/slick.ttf') format("truetype"), url('fonts/slick.svg#slick') format("svg"); font-weight: normal; font-style: normal; }

/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.85; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }
.slick-prev:before { content: "\2190"; }

.slick-next { right: -25px; }
.slick-next:before { content: "\2192"; }

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; top: -8px;right:-6px; list-style: none; display: block; text-align:right; padding: 0px; width: 130px; }
.slick-dots li { position: relative; display: inline-block; height: 4px; width: 20px; margin:0px; padding: 0px; cursor: pointer; }
.slick-dots li button { border: 0; ; display: block; height: 20px; width: 4px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; background:#FFF}
.slick-dots li button:focus { outline: none; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 4px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 0.75;background:#F90; }

.slick-slider {
    margin-bottom: 0;
}

.slick-prev, .slick-next {
    background: lightgrey;
}

.slick-prev:before {
 content: "";
}

.slick-next:before {
 content: "";
}

.slick-dots {
    margin: 10px;
}

.slick-dots li {
    margin:5px;
}

.slick-dots li button {
    padding: 0;
    background: lightgrey;
    width: 100%;
    height: 100%;
}

.slick-dots li button:before {
    content: "";
}


#slider {
	Z-INDEX: 1; POSITION:relative;WIDTH:678px; BACKGROUND: #000; HEIGHT: 216px; OVERFLOW: hidden;
}
#slider .slide {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 678px; BACKGROUND: #000; HEIGHT: 216px; OVERFLOW: hidden; TOP: 0px; CURSOR: default; LEFT: 0px;text-align:left;
}
#slider .diapo {
	POSITION: absolute; FILTER: alpha(opacity=100); VISIBILITY: visible; opacity: 1
}




/**
 * 头部修改
 */

lsgb_nav {
    display: inline;
    height: 41px;
    margin-left: 12px;
    width: auto;
	background:#d40615;
}
.lsgb_nav .index_ls{padding: 0px 15px 0 15px;}
.lsgb_nav .index_ls:hover{padding:0px 15px 0 15px;}
.lsgb_nav a {
	display:block;
	float:left;
    height: 41px;
	line-height:41px;
	font-size:16px;color:#fff;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.lsgb_nav a:hover {
	display:block;
	float:left;
    background: #a40000;
	height: 41px;
	line-height:41px;
	font-size:16px;color:#fff;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.lsrw_r_h3 {
    font-size: 16px;
    height: 24px;
    padding-top: 4px;
    text-indent: 10px;
    width: 224px;
	font-weight:normal;
}

.sub_1_l h3{
    border-bottom-color: #d40615;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 226px;
}
.sub_1_l h3 a{display:block;width: 226px;font-size:16px;color:#000;line-height:30px;height: 30px;font-weight:normal;}


.sub_1_c h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 678px;
}
.sub_1_c h3 span {
    float: right;
}
.sub_1_c h3 a{font-size:16px;color:#000;font-weight:normal;}
.sub_1_c h3 span a {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 30px;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
	font-size:16px;color:#000;
}

.sub_1_r h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 226px;
}
.sub_1_r h3 a {
    color: #d40612;
	font-size:16px;
	font-weight:normal;
}

.sub_2_l h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 226px;
}
.sub_2_l h3 a {
    color: #000;
	font-size:16px;
	font-weight:normal;
}

.sub_2_c h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 678px;
}
.sub_2_c h3 a {
    color: #000;
	font-size:16px;
	font-weight:normal;
}

.sub_2_r h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 226px;
}

.sub_2_r h3 a {
    color: #d40612;
	font-size:16px;
	font-weight:normal;
}

.lsgb_sub_3 h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 100%;
}
.lsgb_sub_3 h3 a {
    color: #000;
	font-size:16px;
	font-weight:normal;
}

.ls_xmztc_title {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 4px;
    width: 100%;
}
.ls_xmztc_title a {
    color: #000;
	font-size:16px;
	font-weight:normal;
}

.sub_4_1 h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 100%;
}
.sub_4_1 h3 a{color: #000;
	font-size:16px;
	font-weight:normal;}

.sub_5_l h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 100%;
}
.sub_5_l h3 a {
   color: #000;
	font-size:16px;
	font-weight:normal;
}

.sub_5_r h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 100%;
}
.sub_5_r h3 a {
    color: #d40612;
	font-size:16px;
	font-weight:normal;
}

.sub_6_l h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 100%;
}
.sub_6_l h3 a {
    color: #000000;
	font-size:16px;
	font-weight:normal;
}

.sub_6_r h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 100%;
}
.sub_6_r h3 a {
    color: #d40612;
	font-size:16px;
	font-weight:normal;
}


.sub_6_pic #d_chao {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    height: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    position: relative;
}
.sub_6_pic #d_chao a {
    color: #000;
	font-size:16px;
	font-weight:normal;
}

.sub_6_news h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 226px;
}
.sub_6_news h3 a {
    color: #d40615;
	font-size:16px;
	font-weight:normal;
}


.sub_7_pic h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 914px;
}
.sub_7_pic h3 a {
    color: #000;
	font-size:16px;
	font-weight:normal;
}

.sub_7_news h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 914px;
}
.sub_7_news h3 a {
    color: #000;
	font-size:16px;
	font-weight:normal;
}

.sub_6_l h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 100%;
}
.sub_6_l h3 a {
    color: #000000;
	font-size:16px;
	font-weight:normal;
}

.sub_6_r h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 100%;
}
.sub_6_r h3 a {
    color: #d40612;
	font-size:16px;
	font-weight:normal;
}

.zszt h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: 100%;
}
.zszt h3 a {
    color: #000000;
	font-size:16px;
	font-weight:normal;
}

.floor_h h3 {
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 24px;
    margin-bottom: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    vertical-align: middle;
}
.floor_h i {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #d40515;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: white;
    display: inline-block;
    font-style: normal;
    height: 23px;
    line-height: 24px;
    margin-bottom: 6px;
    margin-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    vertical-align: middle;
}
.floor_h a {
    color: #000000;
	font-size:16px;
	font-weight:normal;
}

.lsgb_dt h3 {
    border-bottom-color: #dfdfdf;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 24px;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 6px;
    width: auto;
	color: #000000;
	font-size:16px;
	font-weight:normal;
}
