@charset "utf-8";
/* CSS Document */
#top{ background:#fff; width:100%;}
#top .zhhb_topnav{ width:100%; font-size:12px; line-height: 31px; height:34px; background:url(http://img.liansuo.com/html/images/header_footer/top_con_bj.jpg) repeat-x #FFFFFF;}
#top .home { background:url(http://img.liansuo.com/html/images/header_footer/top_left_bj.jpg)  no-repeat; width:210px; height:34px;color: #707070; float: left;line-height: 34px; margin-left: 0px; margin-right: 17px;padding-left: 12px; }
#top .top_rgdh{  width:400px; height:34px;}
#top .zhhb_topnav .top_rgdh  a{color: #990100;margin-left: 7px;margin-right: 7px; line-height:31px;}
#top .top_left{ width:23.6%;background:#fff;}
.top_left img{ margin-top:4px;}
.top_right img{ margin-top:4px;}
#top .top_conter{width:52.5%; background:#fff;}
#top .zhhb_dh p{ text-align:center; text-indent:0;}
#top .top_conter p span {
    background:url(http://img.liansuo.com/html/images/header_footer/hy_a_bg.jpg) no-repeat scroll right center transparent;
    display: block;
    float: left;
    margin-bottom: 6px;
    text-align: center;
    width:12.2%;
	font-size:14px;
	line-height:22px;
}
.zhhb_topnav p.home {
    background: url(http://img.liansuo.com/html/images/519/li_bg.jpg) no-repeat scroll 0 center transparent;
    color: #707070;
    float: left;
    line-height: 31px;
    margin-left: 10px;
    margin-right: 17px;
    padding-left: 12px;
}
/*.top_left span {
    height: 33px;
    line-height: 18px;
    margin-left: 8px;
    margin-top: 8px;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 18px;
    width: 78px;
}*/
#top .top_right{width:23.6%;background:#fff; text-align:right}
/* CSS Document */
@charset "utf-8";
/* CSS Document */
#botFooter{background:url(http://img.liansuo.com/html/images/header_footer/footerbg.jpg) repeat-x; padding:0 10px;}
#botFooter .footer {margin:0 ; vertical-align:middle}
#botFooter .footer p{ line-height:24px; font-size:12px; color:#666666; clear:both; text-indent:0;}
#botFooter .foot_logo{  text-align:center; width: 28.5%;}
#botFooter .foot_dh{padding-left: 10px; width: 70%;}
#botFooter .xcolor{ color:#ff6300;}
#botFooter .xcolor a{ color:#ff6300;}
#botFooter .foot_nav_L{display: inline; line-height: 24px; height: 24px;text-align: center; float: left;}
.foot_nav_L a{margin:0px; padding:0px;}
#botFooter .foot_nav_K{display: inline; line-height: 24px; height: 24px;text-align: center; float: left; width:2.3%;}
#top a,#botFooter a{font-family: 微软雅黑,Arial,Verdana,Lucida,Helvetica,sans-serif; color:#565656;  text-decoration: none;}
.footeraln{width:1000px;margin:0 auto;height:135px;}
/*新增*/
#top_rgdh{float:right; width:190px;background: url(http://img.liansuo.com/html/images/918/top_dh_lyt.jpg) no-repeat;}
  #top_rgdh_spls{ margin-left:22px; float:left;font-size:14px;color:#565656; font-family:微软雅黑,Arial,Verdana,Lucida,Helvetica,sans-serif;}
  #top_rg_bot{ float:left; margin-left:22px;font-size:21px; padding-bottom:0px; color:#a40000; letter-spacing:0px; font-weight:bold; height:21px; line-height:21px;}
  #top_rg_botz{float:left; margin-left:22px;font-size:15px; text-align:left; padding-bottom:0px; color:#a40000; letter-spacing:0px; font-weight:bold; height:21px; line-height:21px;}
  #top_rg_botz span{color:#565656; font-size:12px; padding:0px 1px; font-weight:bold}


/*留言滚动样式开始*/

.y_lybNews_pan {
    width: 100%;
	margin:0 auto;
	background-color:#FCFFE9;
}

.y_lybNews_title {
    background-color: #CC0000;
    height: 40px;
    margin-bottom: 10px;
}

.y_lybNews_title h3 {
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 20px;
}
.y_lybNews_pan h3 {
    height: 40px;
    margin-bottom: 10px;
}

.y_lybNews_more {
    display: inline;
    float: right;
    font-size: 14px;
    line-height: 40px;
    padding-right: 25px;
}

.y_lybNews_more a {
    color: #FFFFFF;
}

.clear {
    clear: both;
}

.y_lybNews_mage {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #DDDDDD;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #DDDDDD;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 2px;
    border-top-color: #DDDDDD;
    border-top-style: solid;
    border-top-width: 2px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    width: 97%;
}

ul:after, dl:after, .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.y_lybNews_mage .y_lybNews_L {
    display: inline;
    float: left;
    margin-left: 50px;
    width: 43%;
}

.y_lybNews_mage dt {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("http://img.liansuo.com/html/newzhuanti/ls_518_li_bg.jpg");
    background-origin: padding-box;
    background-position: 0 12px;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #333333;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
    width: 71%;
}

a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #333333;
    cursor: pointer;
}
a:hover {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
    color: #C80000;
}
.y_lybNews_mage dd {
    color: #666666;
    font-size: 12px;
    text-align: right;
    width: 22%;
}
.y_lybNews_mage dt, .y_lybNews_mage dd {
    border-bottom-color: #CCCCCC;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    display: inline;
    float: left;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.y_lybNews_mage dd {
    color: #666666;
    font-size: 12px;
    text-align: right;
    width: 22%;
}
.clear {
    overflow-x: hidden;
    overflow-y: hidden;
}

#lygd_div{width:1000px;margin:0 auto;}

.y_lyb_gd_pan {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    width: 1000px;
}

.y_lyb_title {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("http://img.liansuo.com/html/images/810/lyb_title_bj.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    height: 35px;
}
.centeras{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100%;
}
.y_lyb_title span {
    color: #FD4700;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
    padding-left: 10px;
}

.y_lyb_mage_lin {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("http://img.liansuo.com/html/images/810/lyb_mage_lin.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FFC09D;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    height: 3px;
    line-height: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1px;
    margin-top: 0;
}

.y_lyb_mage_pan {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #FFC09D;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #FFC09D;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FFC09D;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #FFC09D;
    border-top-style: solid;
    border-top-width: 0;
    height: auto;
    margin-left: 5px;
    margin-right: 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
ul:after, dl:after, .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.y_sendk {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("http://img.liansuo.com/html/images/810/lyb_mage_ti_bj.jpg");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto auto;
    border-bottom-color: #E1E3E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #E1E3E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #E1E3E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #E1E3E2;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 10px;
}
.dgfxZT_lyb{text-align:left;}

/*留言滚动样式结束*/