html {
  background-color: transparent;
  height: 100%;
}

body {
  font:             12px/150% Verdana,Arial,Helvetica,sans-serif;
  min-width:        960px;
  background-color: #293137;
  /*background-image: url("../../images/site/front/dramago_bg.jpg") ;*/
  height: 100%;
}

a {
  outline: none;
}

a:link {
  color:           #003C77;
  text-decoration: none;
}

a:visited {
  color:           #003C77;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1.generic {
  margin:      20px 8px;
  font-size:   1.5em;
  font-weight: bold;
  color:       #555555;
}

h2.generic {
  margin:      16px 8px;
  font-size:   1.35em;
  font-weight: bold;
  color:       #555555;
}

h3.generic {
  margin:      16px 8px;
  font-size:   1.2em;
  font-weight: bold;
  color:       #555555;
}

#upper_header {
  background-color: #FFFFFF;
  width:            100%;
}

.bar-container {
  /*background-color: #090909;
  border-bottom:    1px solid #393A3A;*/
  height:           100px;
  width:            100%;
}

.bar {
  height:           100%;
  margin:           0px auto;
  width:            980px;
  position:         relative;
  background-image: url("../../images/site/front/header_bg.jpg") ;
  
}

.inline-block {
  display: inline-block;
  position: relative;
}

.bar .logo {
  font-size: 30px;
  position:  absolute;
  top: 12px;
  left: 45px;
}

.bar .logo img {
	height: 80px;
}

.bar .search-form-wrapper {
  right:          0px;
  bottom:         15px;
  vertical-align: bottom;
  position:       absolute;
}

.bar .top-menu-wrapper {
  left:           155px;
  bottom:         15px;
  vertical-align: bottom;
  position:       absolute;
}

#search-box .form-text-box {
	border: medium none;
	height: 18px;
	outline: medium none;
	padding: 5px 5px 3px 5px;
	width: 150px;
}

#search-box .search-button {
	background: #747474;
	border: 1px solid #444;
	margin-left: -1px;
	padding: 5px 12px;
	outline: none;
}

.SPRITE_search_icon_white {
  background: url("../../images/site/front/2945669509-sprites.png") no-repeat scroll -275px -383px transparent;
  height:     14px;
  width:      16px;
}

.search-form-wrapper a {
  vertical-align: bottom;
}

.lower-header {
  background-color: #F4F4F4;
  border-bottom:    1px solid #E5E5E5;
  height:           32px;
  width:            100%;
  margin-bottom:    5px;
}

.menu-bar-wrapper {
  background-color: #090909;
  /*
  border-left:      1px solid #E5E5E5;
  border-right:     1px solid #E5E5E5;
  */
  color:            #747474;
  /*height:           32px;*/
  margin:           0px auto;
  /*width:            980px;*/
  position: absolute;
  right: 0;
  top: 5px;
}

.menu-bar {
  font-family:     "Roboto",Arial,sans-serif;
  list-style-type: none;
  padding:         0;
  text-transform:  uppercase;
  /*width:           980px;*/
  display: table-row;
}

.menu-bar .menu-bar-button {
  cursor:  pointer;
  padding: 0;
  display: table-cell;
  border: none;
}

.menu-bar .menu-bar-button:last-child {
	text-align: right;
}
.menu-bar .menu-bar-button:last-child:hover {
	background: none;
}

.menu-bar .menu-bar-button:hover {
	background: url("../../images/site/front/tag_bg.jpg") no-repeat scroll right top rgba(0, 0, 0, 0);
}

.menu-bar .menu-bar-button:hover a {
	background: url("../../images/site/front/tag_header.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
	color: #000!important;
}

.menu-bar-left {
  /*border-right: 1px solid #393A3A;*/
  /*float:        left;*/
}

.menu-bar-right {
  border-left: 1px solid #393A3A;
  /*float:       right;*/
}
.no-border-right {
	border-right: none;
}
.menu-bar .menu-bar-button.highlight a {
  color: #444444;
}
.menu-bar .menu-bar-button .menu-bar-button-link {
  display:     block;
  font-size:   13px;
  font-weight: bold;
  height:      22px;
  padding:     10px 20px 3px;
}

.top-menu-wrapper a {
  margin-left:  5px;
  margin-right: 5px;
  font-weight:  bold;
}

#content_block {
  margin:           auto;
  width:            980px;
  background-color: #FFFFFF;
  padding-top:      1px;
  overflow:         hidden;
}

#trans_content_block {
  margin:      auto;
  width:       980px;
  padding-top: 1px;
  overflow:    hidden;  
}

#view_content_block {
  margin:      auto;
  padding-top: 1px;
  overflow:    hidden;  
}

#body > .l_left_col {
  width: 640px;
  float: left;
}

#body > .l_right_col {
  width: 320px;
  float: right;
}

#body > .s_left_col {
  width:            790px;
  float:            left;
  background-color: #FFFFFF;
}

#body > .s_right_col {
  width:            170px;
  float:            right;
  background-color: #FFFFFF;
}

#sidebar {
  padding:  0px 3px 0px 3px;
  height:   100%;
}

#sidebar h3.generic {
  margin:        8px;
  padding:       2px 4px; 
  color:         #002147;
  border-bottom: 2px solid #696969;
}

#hup-container {
  padding: 8px;
  height:  200px;
}

.hup-item {
  background-color: #FFFFFF;
  border-radius:    7px 7px 7px 7px;
  box-shadow:       1px 1px 6px #A4B0BB;
  float:            left;
  height:           200px;
  margin-right:     16px;
  width:            140px;
  text-align:       center;
}

.hup-item-image {
  border:      1px solid #CCCCCC;
  height:      160px;
  margin:      auto;
  margin-top:  3px;
  overflow:    hidden;
  width:       122px;
}

.hup-item a {
  font-weight: normal;
  font-size:   0.9em;
}

#options_bar {
  overflow: hidden;
  margin:   12px 8px;
}

#options_bar ul {
  position:         relative;
  display:          inline-block;
  border-top:       2px solid #6E7F80;
  border-bottom:    2px solid #6E7F80;
  background-color: #A2A59D;
  overflow:         hidden;
}

#options_bar li {
  display: inline;
}

#options_bar li.option_descr span {
  float:            left;
  font-size:        0.92em;
  padding:          1px 3px;
  margin:           0px 1px;
  background-color: #F4F0EC;
}

#options_bar li a {
  float:            left;
  font-weight:      bold;
  font-size:        0.92em;
  padding:          1px 3px;
  margin:           0px 1px;
  background-color: #F4F0EC;
}

#options_bar li a:hover {
  text-decoration:  none;
  background-color: transparent;
  color:            #F4F0EC;
}

#genre_list {
  margin: 12px 8px;
}

#genre_list ul {
  display:          inline-block;
  padding:          1px 4px;
  border-top:       2px solid #F0EAD6;
  border-bottom:    2px solid #F0EAD6;
}

#genre_list li {
  display: inline;
  padding: 0px 3px;
}

#genre_list li a {
  font-weight: bold;
  font-size:   0.92em;
}

h1#head_home {
  color:   #002147;
  padding: 4px 0px;
  margin:  8px;
}

#footer {
  clear:            both;
  width:            980px;
  margin-top:       12px;
  margin-left:      auto;
  margin-right:     auto;
  text-align:       center;
  color: #FFFFFF;
}
#footer a:link {
  color: #FFFFFF;
	
}
#footer a:hover {
  color: #FFFFFF;
	
}
#footer a:visited {
  color: #FFFFFF;
	
}

#updates {
  margin: 10px;
  width:  96%;
}

#updates td {
  padding:        4px 0px;
  border-bottom:  1px solid #D1D1D1;
  vertical-align: top;
}

#updates td.text_ralign {
  text-align: right;
}

#updates ul {
  margin-left: 20px;
}

#updates ul a {
  color:       #555555;
  font-size:   0.95em;
}

#updates + div {
  margin:     10px;
  width:      96%;
  text-align: right;
}

#updates div img {
  vertical-align: middle;
}

#updates + div a:link, #updates + div a:visited {
  font-family: times new roman;  
  font-weight: bold;
  font-size:   1.15em;
  color:       #002E63;
}

.prompt {
  margin:           8px;
  padding:          2px 4px; 
  font-size:        1.2em;
  background-color: #FFFFFF;
  border-radius:    2px;  
}

div#popular_series ul, div#latest_series ul, div.latest_releases ul {
  margin: 0px 8px 4px;
}

div#latest_series ul, div.latest_releases ul {
  border:        1px solid #DEDEDE;
  border-radius: 2px;
}

div#popular_series ul li, div#latest_series ul li, div.latest_releases ul li {
  margin:   2px 0px;
  padding:  2px 4px;
  overflow: hidden;
}

div#popular_series ul li {
  background-color: #F4F4F4;
  border-radius:    2px; 
}

div#latest_series ul li, div.latest_releases ul li {
  border-bottom: 1px solid #EDEDED;
}

div.latest_releases ul li {
  background-image:    url("../../images/site/front/play.png");
  background-position: 2px 50%;
  background-repeat:   no-repeat;
  padding-left:        20px; 
}

div.latest_releases ul li:last-child {
  background-image: none;
  padding-left:     4px;
}

div#latest_series ul li:last-child, div.latest_releases ul li:last-child {
  border-bottom: none;
}

table tr td.dtype {
  vertical-align: top;
  padding-right:  8px;
}

div#popular_series ul li img {
  float:  left;
  margin: 2px 8px 2px 0px;
}

div#popular_series ul li div.slink a {
  font-weight: bold;
  font-size:   1.1em;
}

div#latest_series ul li div.slink a {
  font-size: 1.1em;
}

div#latest_series ul li img {
  vertical-align: -10%;
}

#category_list {
    margin: 12px 8px;
}
#category_list li {
    background-color: #F3E5AB;
    border: 1px outset #E9D66B;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    margin: 4px 8px 4px 0;
    padding: 3px 18px;
}
.alphabets {
    margin: 12px 8px;
}
.alphabets li {
    display: inline;
    margin: 0 8px;
}

.series_index {
  margin: 12px 8px;
  width:  100%;
}

.series_index td {
  width: 50%;
}

.pagination {
  margin: 12px;
}

.pagination li {
  display:      inline;
  margin-right: 8px;
}

.pagination li a:link {
  color:                 #0033CC;
  padding:               0em .5em;
  height:                2.0833em;
  border:                1px solid #CCC;
  color:                 #000000;
  background:            #F6F6F6;
  background-image:      -moz-linear-gradient(top, #FFFFFF, #EFEFEF);
  background-image:      -webkit-gradient(linear, left top, left bottom, from(#FFFFFF),to(#EFEFEF));
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EFEFEF);
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
  white-space:           nowrap;
  vertical-align:        middle;
  cursor:                pointer;
  overflow:              visible;
}

.pagination li a:link:hover, .pagination li a:link:focus {
  border-color:       #999999;
  background:         #f3F3F3;
  background-image:   -moz-linear-gradient(top, #FFFFFF,#EBEBEB);
  background-image:   -webkit-gradient(linear, left top, left bottom,from(#FFFFFF), to(#EBEBEB));
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF,endColorStr=#EBEBEB);
  outline:            0;
  -moz-box-shadow:    0 0 3px #999999;
  -webkit-box-shadow: 0 0 3px #999999;
  box-shadow:         0 0 3px #999999;
}

.pagination li a:link {
  color:              #000000;
  font-weight:        bold;
  background:         #DDDDDD;
  -moz-boz-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;
  border-color:       #CCCCCC;
}

.pagination li a:link span.button-content {
  line-height:    1.6666em;
  display:        inline-block;
  vertical-align: middle;
}

.series_list li, .actor_list li {
  display:  block;
  overflow: hidden;
  margin:   12px 4px;
  border-bottom: 1px solid #C0C0C0;
}

.series_list li:last-child, .actor_list li:last-child {
  border-bottom: none;
}

.series_list .left_col, .actor_list .left_col {
  float: left;
  width: 18%;
}

.series_list .right_col, .actor_list .right_col {
  float: right;
  width: 81%;
}

.series_list li img, .actor_list li img {
  margin:        2px 16px 2px 8px;
  border:        1px solid #C0C0C0;
  border-radius: 2px;
}

.series_list li h3, .actor_list li h3 {
  font-weight: bold;
  font-size:   1.1em;
}

.series_list li .descr, .actor_list li .descr {
  margin: 8px 0px 20px;
}

.series_list li .descr a, .actor_list li .descr a {
  font-weight: bold;
}

.series_list li link, .actor_list li link {
  font-weight: bold;
  font-size:   0.9em;
}

.actor_list li .descr div {
    font-size: 1.1em;
    margin: 8px 4px;
}
.actor_list li .descr div span {
    color: #777777;
}

.series_list li .info_bar {
  margin-bottom: 16px;
}

.right_margin {
  margin-right: 12px;
}

.small {
  font-size: 0.96em;
}

.bold {
  font-weight: bold;
}

table#listing {
  margin: 8px;
  width:  96%; 
}

table#listing th, table#listing td {
  font-size: 1.25em;
  padding:   2px 8px;
  border:    1px solid #E5E4E2;
}

table#listing th {
  background-color: #E9E9E9;
  font-weight:      bold;
}

#series_info {
  margin:   8px 4px;
  overflow: hidden;
  border:   1px solid #EDEFF4;
}

#series_info .left_col {
  float: left;
  width: 33%;
}

#series_info .left_col img {
  margin:        12px 4px;
  border:        1px solid #C0C0C0;
  border-radius: 2px;
}

#series_info .right_col {
  float: right;
  width: 66%;
}

#series_info h1 {
  margin:      12px 0px;
  font-size:   1.5em;
  font-weight: bold;
  color:       #555555;
}

#series_details > div {
  margin:    8px 6px;
  font-size: 1.1em;
}

#series_details > div > span {
  font-size:   0.88em;
  font-weight: bold;
  color:       #696969;
}

#series_details div#rating img {
  vertical-align: -10%;
}

#series_details div#rating img.loader {
  margin: 0px 8px;
}

#series_details div#rating a[href]:link, #series_details div#rating a[href]:visited{
  padding:   0px 5px;
}

#rating_num {
  margin:    4px;
  font-size: 1.2em;
}

#series_social {
  margin:           8px 4px;
  background-color: #EEEEEE;
  padding:          6px 12px 3px;
}

#series_social .comment_link {
  padding:       0px 20px 0px 16px;
  margin-bottom: 4px;
  font-weight:   bold;
}

#starring {
    border: 1px solid #EDEFF4;
    clear: both;
    margin: 8px 4px;
    overflow: hidden;
}
#starring h2 {
    background-color: #EDEFF4;
    color: #555555;
    font-size: 1.35em;
    font-weight: bold;
    padding: 2px 8px;
}
#starring li {
    border-radius: 2px 2px 2px 2px;
    float: left;
    margin: 8px;
    text-align: center;
}

#videos {
    border: 1px solid #EDEFF4;
    margin: 8px 4px;
}
#videos h2 {
    background-color: #EDEFF4;
    color: #555555;
    font-size: 1.35em;
    font-weight: bold;
    padding: 2px 4px;
}
#videos li {
    border-bottom: 1px solid #EDEFF4;
    margin: 4px 0;
    padding: 2px 4px;
}
#videos li:last-child {
    border-bottom: medium none;
}

#comments {
  margin: 12px 4px;
}

.right_text {
  float:  right;
  margin: 0px 16px;
}

#brief_notes a:link {
  font-weight:         bold;
  margin-left:         4px;
  padding:             0px 16px;
  background-image:    url("../../images/site/front/plus.png");
  background-repeat:   no-repeat;
  background-position: 0px 1px;
}

#full_notes a:link {
  font-weight:         bold;
  margin-left:         4px;
  padding:             0px 16px;
  background-image:    url("../../images/site/front/minus.png");
  background-repeat:   no-repeat;
  background-position: 0px 1px;
}

#full_notes {
  display: none;
}

#dialogs {
  display: none;
}

.sform {
  margin: 8px;
}

.sform .line {
  margin: 8px 4px;
}

.sform .line label {
  font-size: 1.1em;
}

.sform .line input[type=text], .sform .line input[type=password], .sform .line input[type=file] {
  width: 16em;
}

.sform .line input[type=submit] {
  padding: 0.3em 3em;
}

.sform .help {
  font-size: 1.1em;
}

.sform .error {
  color: red;
}

.sform .error_list {
  margin: 0px 4px;
  color:  red;
}

.sform .error_list li {
  margin-left:     12px;
  list-style-type: square;
}

.type_indic {
  background-color: #4B5320;
  color:            #F5F5F5;
  font-size:        0.88em;
  padding:          2px 3px;
}

#top_block {
  background-color: #FFFFFF;
  border:           5px solid #E5E4E2;
  margin:           4px;
  padding:          8px 8px 4px;
}

#top_block h1 {
  color:       #444444;
  font-size:   1.5em;
  font-weight: bold;
  margin:      0px;
}

#slink {
  font-size: 1.2em;
  margin:    6px 0;
}

#slink > span {
  border-radius: 1px 1px 1px 1px;
  padding:       2px;
}

.info_block {
  margin:           8px 60px;
}

.info_block .part {
  margin:   4px 2px;
  overflow: hidden;
  padding:  2px;
}

.info_block .part .ad {
  float: left;
  width: 63%;
}

.info_block .part .note {
  float: right;
  width: 36%;
}

.imp {
  color:       #FF0000;
  font-weight: bold;
}

#elinks {
  font-size:  0.96em;
  margin:     16px 8px;
  overflow:   hidden;
  text-align: center;
}

#elinks a.left {
  background-color: #ECEBBD;
  border-radius:    2px 2px 2px 2px;
  float:            left;
  font-weight:      bold;
  margin-right:     4px;
  padding:          1px 8px;
}

#elinks a.right {
  background-color: #ECEBBD;
  border-radius:    2px 2px 2px 2px;
  float:            right;
  font-weight:      bold;
  margin-left:      4px;
  padding:          1px 8px;
}

span.playlist {
  background-color: #E3DAC9;
  border-radius:    2px 2px 2px 2px;
  color:            #36454F;
  display:          inline-block;
  font-size:        1.1em;
  font-weight:      bold;
  margin:           2px 12px 6px 0px;
  padding:          2px 4px;
}

ul.part_list {
  display: inline;
}

ul.part_list li {
  display: inline;
}

ul.part_list li a {
  border-bottom: 1px solid #FFFFFF;
  display:       inline-block;
  font-weight:   bold;
  margin:        5px 10px 5px 0;
  padding:       0 2px;
}

ul.part_list li a.selected {
  border-bottom: 1px solid #0047AB;
}

ul.part_list li a:hover {
  border-bottom:   1px solid #0047AB;
  text-decoration: none;
}

#streams, #downloads, #comments-series {
  border: 1px solid #EDEFF4;
  margin: 8px 4px;
}

.vmargin {
  background-color: #FFFFFF;
  border: 5px solid #E5E4E2;
  margin-bottom: 8px;
  padding: 12px;
}


#assets {
  display: none;
}

#home_social {
  background-color: #EEEEEE;
  border:           1px solid #BBBBBB;
  border-radius:    5px 5px 5px 5px;
  box-shadow:       0 1px #EEEEEE, 0 0 0 1px #FFFFFF inset; 
  margin:           8px;
  height:           35px; 
  text-align:       center;
}

#facebook, #twitter, #google_plus {
  float:      left;
  margin:     auto;
  margin-top: 5px;
}

#facebook {
  margin-right: 32px;
  margin-left:  10px;
}

#twitter {
  margin-right: 32px;
}

#home_sidebar {
  width:  300px;
  margin: auto;
  margin-top: 5px;
}

.dub {
  color: purple;
}

.sub {
  color: green;
}

.raw {
  color: red;
}

li.more_releases a:link, li.more_releases a:visited {
  font-family: times new roman; 
  font-weight: bold;
  font-size:   1.15em;
  color:       #002E63;
}

#snet {
  margin:           8px;
  padding:          2px 4px;
  overflow:         hidden;
  background-color: #EEEEEE;
}

#snet li {
  display:  inline;
  float:    left;
  width:    240px;
  margin:   4px;
  overflow: hidden;
}

#eps_blocks {
  background-color: #E1E1E1;
  border-radius:    2px 2px 2px 2px;
  margin:           4px;
  overflow:         hidden;
  padding:          4px 8px;
}

#eps_blocks .left_block {
  float:  left;
  margin: 0 40px;
  width:  300px;
}
#eps_blocks .right_block {
  float:  right;
  margin: 0 40px;
  width:  300px;
}

.social_widgets {
  background-color: #EEEEEE;
  margin:           8px 4px;
  padding:          6px 12px 3px;
}

.report_video {
  font-size:    1em;
  font-weight:  bold;
  margin-right: 8px;
}

a.report_video:link {
  color: #FF0000;
}

#actor_info {
  margin:   16px 8px;
  overflow: hidden;
}

#actor_info .left_col {
  float: left;
  width: 33%;
}

#actor_info .left_col img {
  border:        1px solid #C0C0C0;
  border-radius: 3px 3px 3px 3px;
  margin:        12px 4px;
}

#actor_info .right_col {
  float: right;
  width: 66%;
}

#actor_info h1 {
  color:       #555555;
  font-size:   1.5em;
  font-weight: bold;
  margin:      12px 0;
}

#actor_details div.row {
  font-size: 1.1em;
  margin:    8px 6px;
}

#actor_details div.row span {
  color:       #696969;
  font-size:   0.88em;
  font-weight: bold;
}

#actor_details div.row img {
  vertical-align: -10%;
}

#actor_details div.row span#fans_num {
  margin: 0px 8px;
}

#actor_details div.social_widgets {
  margin: 64px 6px;
}

#feature_list {
  clear:    both;
  margin:   16px 8px;
  overflow: hidden;
}

#feature_list h1 {
  color:       #555555;
  font-size:   1.5em;
  font-weight: bold;
  margin:      12px 0px;
}

table#browse_stars {
  margin: 15px 8px;
}

table#browse_stars td { 
  border:     1px solid #C1C1C1;
  padding:    4px 6px;
  text-align: center;
}

table#browse_stars td h3 {
  margin:      4px 0px 2px;
  font-size:   1.1em;
  font-weight: bold;
  color:       #555555;
}

table#browse_stars td div {
  color:       #888888;
  font-weight: bold;
}

#star-search-box {
  border:  1px solid #BCBDC1;
  margin:  9px 10px 0 5px;
  padding: 4px;
}

#star-search-box {
  border:  medium none;
  height:  33px;
  margin:  0px;
  padding: 0px;
}

.form-text-box {
  border:  1px solid #CCCCCC;
  padding: 2px 6px;
}

#star-search-box .form-text-box {
  outline: medium none;
  padding: 0px 20px 0px 0px;
}

#star-search-text {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors:   none;
  -moz-border-right-colors:  none;
  -moz-border-top-colors:    none;
  border-color:              #D9D9D9 #D9D9D9 #C0C0C0;
  border-image:              none;
  border-style:              solid;
  border-width:              1px;
  font-size:                 16px;
  height:                    29px;
  padding:                   1px 0px 1px 8px;
  vertical-align:            top;
  width:                     363px;
}

#star-search-button {
  background-color: #747474;
  border:           0px none;
  cursor:           pointer;
  height:           29px;
  margin:           1px 0px 2px 15px;
  padding:          3px 0px 0px;
  position:         relative;
  vertical-align:   top;
  width:            72px;
}

.SPRITE_search_icon_white {
  background: url("../../images/site/front/2945669509-sprites.png") no-repeat scroll -275px -383px transparent;
  height:     13px;
  width:      16px;
}

.search-form-wrapper a {
  vertical-align: bottom;
}

#options_bar .search-form-wrapper {
  margin: 8px 0px;
}

#mini-announcement {
  background: none repeat scroll 0 0 #0C4866;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 980px;
}

#sitepicker {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	z-index: 9999;
}

#sitepicker ul {
	list-style: none;
	width: 980px;
	height: 30px;
	margin: 0 auto;
	background: #fff url(../../images/site/front/menubg.jpg) repeat-x;
}

#sitepicker ul li {
	list-style: none;
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 29px;
	width: 13.5%;
	border-right: 1px solid #ccc;
	text-align: center;
}

#sitepicker ul li:last-child {
border-right: none;
}

#sitepicker ul li  a{
	color: #003C77;
	text-decoration: none;
}

#sitepicker ul li  a:hover {
	text-decoration: underline;
}

#upper-header {
	margin-top: 30px;
}

#main-top-menu {
  text-align: center;
  width: 100%;
}

#main-top-menu a:link {
  color:           #FFFFFF;
  text-decoration: none;
}

#main-top-menu a:visited {
  color:           #FFFFFF;
  text-decoration: none;
}

#main-top-menu-inner {
  width: 980px;
  margin: auto;
  height: 100%;
  border-left: 1px solid #393A3A;
  border-right: 1px solid #393A3A;
}

#main-top-menu-inner div {
	margin: auto;
	text-align: center;
	height: 30px;
	display: table;
	width: 100%;
	background-color: #090909;
	background-image: url("../../images/site/front/nav_bg.jpg") ;
	border-top:    1px solid #393A3A;
}

#search-box-banner {
  margin-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  /*background-image: url("../../images/site/front/dramago_bg.jpg") ;*/
}
#search-box-banner-inner {
  width: 980px;
  margin: auto;
  position: relative;
  height: 35px;
  background-color: #F4F4F4;
}

#search-box-banner-inner .left {
	position: absolute;
	left: 0;
	top: 8px;
}

#search-box-banner-inner .right {
	position: absolute;
	right: 3px;
	top: 3px;
}

#mini-announcement a {
  color: #A7D9F3;
  font-weight: bold;
  text-decoration: none;
}


#mini-announcement div.text {
	display: table-cell;
	vertical-align: middle;
}
#mini-announcement div.icon_google {
	display: table-cell;
}

#mini-announcement div.icon_google img {
	height: 25px;
}

#mini-announcement h1 {
	color: white;
	display: table;
	margin: auto;
}

#android_mode{
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}

#android_mode_inner {
	display: table-cell;
	height: 100%;
	margin: auto;
	position: relative;
	vertical-align: middle;
	width: 100%;	
}


div.main-page {
  background: none repeat scroll 0 0 #F78C25;
  font-size: 100%;
  height: 100%;
}

#template_container {
  margin: 0 auto;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}
#template_container {
  padding-bottom: 0;
}

.interstitial-android {
  height: 100%;
  position: relative;
}

.interstitial-android, .interstitial-android .cr-logo {
  overflow: auto;
  text-align: center;
  width: 100%;
}


.interstitial-android .cr-logo {
  background: url("../../images/site/front/logo.png") no-repeat scroll center center #F4F4F4;
  height: 20%;
}

.interstitial-android h1, .interstitial-android h2 {
  /*color: #FFFFFF;*/
  font-size: 1em;
  font-weight: normal;
}

.interstitial-android h1 {
  margin: 1em 0 0;
}

.interstitial-android h2 {
  margin: 0 0 1em;
}

.interstitial-android a.app {
  /*background: url("../../images/site/front/android_xhdpi.png") no-repeat scroll center center ;*/
  /*height: 47px;*/
  height: 36px;
  margin: 0 auto;
  padding: 0 0 5px;
  width: 157px;
  margin-top: 50px;
}
.interstitial-android a.app img{
	width: 157px;
}
.interstitial-android a {
  display: block;
}

.interstitial-android .download {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 2px solid #D2761D;
  color: #F78C25;
  font-size: 1em;
  font-weight: bold;
  line-height: 35px;
  margin: 5px auto;
  width: 157px;
}
.right {
  display: block;
  float: right;
}

.interstitial-android .text {
  clear: both;
  display: block;
}

.interstitial-android .skip {
  /*color: #FFFFFF;*/
  font-size: 1em;
  margin: 20px 0;
  text-decoration: underline;
}

.interstitial-android small {
  display: block;
  font-size: 0.6em;
  /*opacity: 0.5;*/
}

.interstitial-android .alien {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50%;
}

.interstitial-android .alien img {
  height: 100px;
  margin-right: -32px;
  width: 100px;
}
.interstitial-android a.art {
  /*background: url("../../images/site/front/splash_xhdpi.jpg") no-repeat scroll center center;*/
  /*background: url("../../images/site/front/splash_xhdpi.jpg") no-repeat scroll center center / auto rgba(0, 0, 0, 0);*/
  /*height: 100%;*/
  min-height: 157px;
}

#updates td div {
  	background: url("../../images/site/front/folder_icon.png") no-repeat;
  	padding-left: 23px;
  	padding-top: 2px;
}

#updates ul {
	margin-left: 20px;
}

#updates li {
	/*background: url("../../images/site/front/dot.png") no-repeat left center;*/
}

#updates ul a {
	margin-left: 10px;
}

#mini-announcement {
  background: none repeat scroll 0 0 #0C4866;
  margin: 5px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 980px;
}

#mini-announcement a {
  color: #A7D9F3;
  font-weight: bold;
  text-decoration: none;
}


#mini-announcement div.text {
	display: table-cell;
	vertical-align: middle;
}
#mini-announcement div.icon_google {
	display: table-cell;
}

#mini-announcement div.icon_google img {
	height: 25px;
}

#mini-announcement h1 {
	color: white;
	display: table;
	margin: auto;
}

.sc_ad {
  text-align: center;
}

/* begin disqus layout*/
#disqus_thread {
	color: #000000;
	background-color: transparent;
	padding: 10px;
}

#disqus_thread a {
	color: #3B59A4;
	
}
/* end disqus layout*/
