/** 
 *
 * CONTENTS - index.css - PC - インデックス用css
 *
 * include ..... MT上でのincludeファイル、pc_common,ad_pc,news_common_pc
 *
 */

/* include */
 @charset "UTF-8";

/** include file
 *
 * CONTENTS - common.css - 基本構造、共通要素を記述
 *
 * common ..... 共通
 *
 * structure element ..... wrapper、ヘッダー、フッター、メインカラム、右カラム
 *
 * header ..... ヘッダー部分
 *
 * column ..... main、rightカラムのwrapper
 *
 * column-main ..... メインカラム、共通要素以外は各アーカイブ用のcssに記述
 *
 * column-right ..... 右カラム
 *
 * footer ..... フッター
 *
 */


/*
★プロパティの書き順
.sample {
    display
    list-style
    position
    float
    clear
    width
    height
    margin
    padding
    border
    background
    color
    font
    text-decoration
    text-align
    vertical-align
    white-space
    other text
    content
}
*/



/*------------------------------------*\
    common
\*------------------------------------*/
.clearfix:after,
.inner:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}

.clearfix,
.inner {
  /clear: both;
}

body {
  font-size: 62.5%;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Geneva, Arial, Verdana, sans-serif;
}

/*------------------------------------*\
    structure element
\*------------------------------------*/

/** 
 * 基本構造設定 サイズ、float周り
 * wrapper、header、column、column-main、column-right、footer
 */

.wrapper {
  width:1060px;
  margin:0 auto;
}

.header{
  margin: 0 0 25px;
}

.column{
  margin: 0 0 30px;
}

.column-main{
  float:left;
  width:700px;
}

.column-right{
  float:right;
  width:320px;
  margin:0 0 40px  0;
  border: solid 1px #CCC;
}

.footer{
  width:1060px;
}


/*------------------------------------*\
    header
\*------------------------------------*/

/** 
 * 内容
 * チャンネルタブ、ロゴ、フォローボタン、検索
 * ピックアップ8、グローバルナビ
 */

.header{}

.header .inner{
  position:relative;
  height:70px;
}

/* ロゴ */
.logo span{
  display:none;
}
/* ロゴ - ニュース */
.channel-news .logo{
  display:inline-block;
  position: absolute;
  top:12px;
  left:35px;
  /*width:398px;*/
  /*height:42px;*/
  margin:0;
  padding:0;
  /*background:url(http://www.j-cast.com/assets_common/img/common/logo-news.png) 0 0 no-repeat;*/
}
.channel-news .logo a{
  display: block;
   /*width:398px;*/
   /*height:42px;*/
}

/* 10th ロゴ news 0801 kawa 9月10月くらいには戻す */
.channel-news .logo {
  width:365px;
height:40px;
background:url(http://www.j-cast.com/assets_common/img/common/logo-news-10th.png) 0 0 no-repeat;
}
.channel-news .logo a{
   width:365px;
   height:40px;
}

/* ロゴ - トレンド */
.channel-trend .logo{
  display:inline-block;
  position: absolute;
  top:12px;
  left:45px;
  /*width:176px;*/
  /*height:36px;*/
  margin:0;
  padding:0;
  /*background:url(http://www.j-cast.com/assets_common/img/common/logo-trend.png) 0 0 no-repeat;*/
}
.channel-trend .logo a{
  display: block;
  /*width:176px;*/
  /*height:36px;*/
}

/* 10th ロゴ trend 0801 kawa */
.channel-trend .logo {
 background:url(http://www.j-cast.com/assets_common/img/common/logo-trend-10th.png) 0 0 no-repeat;
  width:177px;
height:53px;
}
.channel-trend .logo a{
   width:177px;
   height:53px;
}

/* ロゴ - ヘルスケア */
.channel-healthcare .logo{
  display:inline-block;
  position: absolute;
  top:12px;
  left:35px;
  /*width:398px;*/
  /*height:42px;*/
  margin:0;
  padding:0;
  /*background:url(http://www.j-cast.com/assets_common/img/common/logo-healthcare.png) 0 0 no-repeat;*/
}
.channel-healthcare .logo a{
  display: block;
  /*width:227px;*/
  /*height:39px;*/
}

/* 10th ロゴ healthcare 0801 kawa */
.channel-healthcare .logo {
 background:url(http://www.j-cast.com/assets_common/img/common/logo-healthcare-10th.png) 0 0 no-repeat;
  width:210px;
height:53px;
}
.channel-healthcare .logo a{
   width:210px;
   height:53px;
}

/* ロゴ - テレビ */
.channel-tv .logo{
  display:inline-block;
  position: absolute;
  top:12px;
  left:35px;
  /* width:160px;*/
  /* height:42px;*/
  margin:0;
  padding:0;
  /* background:url(http://www.j-cast.com/assets_common/img/common/logo-tv-pc.png) 0 0 no-repeat;*/
}
.channel-tv .logo a{
  display: block;
  /* width:227px;*/
  /* height:39px;*/
}

/* 10th ロゴ tv 0801 kawa */
.channel-tv .logo {
 background:url(http://www.j-cast.com/assets_common/img/common/logo-tv-10th.png) 0 0 no-repeat;
  width:203px;
height:44px;
}
.channel-tv .logo a{
   width:203px;
   height:44px;
}

/* ロゴ - 会社ウォッチ */
.channel-kaisha .logo{
  display:inline-block;
  position: absolute;
  top:12px;
  left:35px;
  /*width:160px;*/
  /*height:42px;*/
  margin:0;
  padding:0;
  /* background:url(http://www.j-cast.com/assets_common/img/common/logo-kaisha-pc.png) 0 0 no-repeat;*/
}
.channel-kaisha .logo a{
  display: block;
  /*width:227px;*/
 /* height:39px;*/
}

/* 10th ロゴ kaisha 0801 kawa */
.channel-kaisha .logo {
 background:url(http://www.j-cast.com/assets_common/img/common/logo-kaisha-10th.png) 0 0 no-repeat;
 width:199px;
 height:46px;
}
.channel-kaisha .logo a{
   width:199px;
   height:46px;
}

/* チャンネルタブ ----- */
.channel{
  margin:0 0 10px 0;
  background: url(http://www.j-cast.com/assets_common/img/common/bg-channel.png) 0 bottom repeat-x;
}
.channel .channel-tab-list{
  list-style:none;
  margin:0;
  padding:0;
  font-size:0;
}
.channel .channel-tab{
  display:inline-block;
  width:95px;
  margin:0;
  padding: 0;
  text-align: center;
}
.channel .channel-tab a{
  display:block;
  padding: 10px 16px;
  color:#000;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
}
/* =.channel-tab */
.channel .channel-tab-list .current{ 
  background: #fff;
}


.channel-news .current a,
.channel .channel-tab-news a:hover{
  color:#fff;
  background:#2975a6;
}
.channel-tv .current a,
.channel .channel-tab-tv a:hover{
  color:#fff;
  background:#cc2c1a;
}
.channel-trend .current a,
.channel .channel-tab-trend a:hover{
  color:#fff;
  background:#ff6437;
}
.channel-kaisha .current a,
.channel .channel-tab-kaisha a:hover{
  color:#fff;
  background:#6155c7;
}
.channel-healthcare .current a,
.channel .channel-tab-healthcare a:hover{
  color:#fff;
  background:#2E7D32;
}
.channel-shop .current a,
.channel .channel-tab-shop a:hover{
  color:#fff;
  background:#31a6cc;
}
.channel-blog .current a,
.channel .channel-tab-blog a:hover{
  color:#fff;
  background:#31a6cc;
}
.channel-job-change .current a,
.channel .channel-tab-job-change a:hover{
  color:#fff;
  background:#2975a6;
}


.channel .channel-tab-ad a:hover{
  color:#fff;
  background:#59aa08;
}


.channel-tab-lang-en,
.channel-tab-lang-ch{
  float:right;
}
.channel-tab-lang-en a,
.channel-tab-lang-ch a{
   color:#999 !important;
}
.channel-tab-lang-en a:hover,
.channel-tab-lang-ch a:hover{
   color:#333 !important;
}

/* =.channel-tab */

.logo{
 /* 各チャンネル common cssへ */
}

.follow{
  vertical-align:top;
}
.header .follow{
  display:inline-block;
}
.follow span{
  display:none;
}

/* =.follow-btns */
.follow .follow-text{
  display:inline-block;
  width:152px;
  height:25px;
  background:url(http://www.j-cast.com/assets_common/img/common/btn-follow.png) no-repeat;
  background-position:0 0;
  font-size:1.2em;
}
.follow .follow-btns{
  display:inline-block;
  font-size:0;
}
.follow .fb-like{
  margin:0 10px 0 0;
}


.follow .follow-btn{
  display:inline-block;
  width:60px;
  margin:0;
  padding:0;
}
.follow .follow-btn a{
  display: block;
  width:60px;
  height:60px;
  background-image:url(http://www.j-cast.com/assets_common/img/common/btn-follow-l.png);
  border-radius: 0 0 5px 5px
}

.follow .follow-btn-facebook a{
  background-color:#2e4c85;
  background-position:0px 0px;
  border-bottom:5px solid #1b2c4d;
}
.follow .follow-btn-twitter{
  margin:0 3px;
}
.follow .follow-btn-twitter a{
  background-color:#60a7db;
  background-position:-60px 0px;
  border-bottom:5px solid #4f88b3;
}
.follow .follow-btn-google-plus a{
  background-color:#de4a32;
  background-position:-120px 0px;
  border-bottom:5px solid #b33b28;
}
.follow .follow-btn-rss a{
  background-position:-276px 0px;
}
.follow .follow-btn-youtube a{
  background-position:-246px 0px;
}
.follow .follow-btn-mailmagazine a{
  background-position:-307px 0px;
}

.follow .follow-btn-facebook a:hover{
  background-color:#335492;
}
.follow .follow-btn-twitter a:hover{
  background-color:#66b1e8;
}
.follow .follow-btn-google-plus a:hover{
  background-color:#ea4e35;
}
.follow .follow-btn-rss a:hover{
  background-position:-276px -25px;
}
.follow .follow-btn-youtube a:hover{
  background-position:-246px -25px;
}
.follow .follow-btn-mailmagazine a:hover{
  background-position:-307px -25px;
}

/* =.follow-btns */

.search {
  display:inline-block;
  position:absolute;
  top:15px;
  right:0px;
  width:290px;
  height:25px;
  margin:0 0 0 5px;
}
.search .gsc-input{
  border:solid 1px #B3B3B3;
}

/* ピックアップ８　画像なし ----- */
.pickup8{
  display: inline-block;
  width: 865px;
  overflow:hidden;
  clear:both;
  margin:0 0 20px 0;
}
.pickup8 .pickup8-entry-list{
  list-style-type:none;
  margin:0;
  padding:0 5px;
}
.pickup8 .entry-item{
  display: inline-block;
  position:static;
  float:left;
  width:205px;
  margin:0 3px 5px; 5px;
  padding:0;
  border:solid 1px #b3b3b3;
}
.pickup8 .entry-item a{
  color:#000;
  text-decoration:none;
}
.pickup8 .entry-item a:hover{
  text-decoration: underline;
}
.pickup8 .entry-photo{
  display:none;
}
.pickup8 .entry-title{
  padding:3px 5px;
  font-size:1.4em;
  font-weight:normal;
  line-height:1.4em;
  border-left-style:solid;
  border-left-width:6px;
}
.pickup8 .pickup8-entry-list .news{
  border-color: #0093D4;
}
.pickup8 .pickup8-entry-list .tv{
  border-color: #E8321E;
}
.pickup8 .pickup8-entry-list .trend{
  border-color: #FF6437;
}
.pickup8 .pickup8-entry-list .kaisha{
  border-color: #A06FB0;
}
.pickup8 .pickup8-entry-list .healthcare{
  border-color: #2E7D32;
}



/*------------------------------------*\
    footer
\*------------------------------------*/

/** 
 * 内容
 * ページトップへ、J-CASTのサービス、ロゴ
 * チャンネルリンク、お問い合わせ、copyright
 */

.footer{
  position: absolute;
}
.pagetop-btn{
  text-align:right;
}
.pagetop-btn .inner{
  display: inline-block;
  padding:5px 10px;
  font-size:12px;
  font-weight:bold;
  color:#fff;
  border-radius:3px 3px 0 0;
  text-decoration:none;
  vertical-align: bottom;
  cursor:pointer;
}
.pagetop-btn .inner:hover{
  text-decoration:underline;
}
/* 各チャンネル設定 */
.channel-news .pagetop-btn .inner{
  background:#2975a6;
}
.channel-trend .pagetop-btn .inner{
  background:#ff6437;
}


/* J-CASTのサービス ----- */
.footer-services{
  background:#eee;
  margin: 0;
  padding: 30px 20px 20px 20px;
}
.services-app,
.services-youtube,
.services-mailmagazine{
  margin: 0 15px 30px;
  padding: 0 0 0 35px;
}
.services-facebook,
.services-twitter,
.services-google-plus{
  margin: 0 15px ;
  padding: 10px 0 0 35px;
  border-top: solid 1px #ccc
}
.services-app,
.services-youtube,
.services-mailmagazine,
.services-facebook,
.services-twitter,
.services-google-plus{
  display: inline-block;
  width: 265px;
  min-height: 110px;
  vertical-align: top;
}
.services-app .title,
.services-youtube .title,
.services-mailmagazine .title,
.services-facebook .title,
.services-twitter .title,
.services-google-plus .title{
  margin: 3px 0 10px 0;
  font-size: 1.2em;
  line-height: 130%;
}

.services-app{
  background: url(http://www.j-cast.com/assets_common/img/common/icon-footer-services-app.png) no-repeat;
}
.services-youtube{
  background: url(http://www.j-cast.com/assets_common/img/common/icon-footer-services-youtube.png) no-repeat;
}
.services-mailmagazine{
  background: url(http://www.j-cast.com/assets_common/img/common/icon-footer-services-mailmagazine.png) no-repeat;
}
.services-facebook{
  background: url(http://www.j-cast.com/assets_common/img/common/icon-footer-services-facebook.png) 0 10px no-repeat;
}
.services-twitter{
  background: url(http://www.j-cast.com/assets_common/img/common/icon-footer-services-twitter.png) 0 10px no-repeat;
}
.services-google-plus{
  background: url(http://www.j-cast.com/assets_common/img/common/icon-footer-services-google-plus.png) 0 10px no-repeat;
}
.services-mailmagazine .service-item{
  background: url(http://www.j-cast.com/assets_common/img/common/btn-footer-services-mailmagazine.png) no-repeat;
}

.services-mailmagazine .service-item span{
  display:none;
}
.services-mailmagazine .service-item a{
  display:block;
  width:185px;
  height:40px;
}


.footer-services .services-btns{
  clear: both;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.footer-services .services-btns .services-btn{
  display:inline-block;
  min-height: 20px;
  margin:0 0 0 20px;
  padding:8px 0 0 35px;
}
.footer-services .services-btns .services-btn a{
  color:#333;
  text-decoration:none;
  font-size:1.4em;
  font-weight:bold;
}
.footer-services .services-btns .services-btn a:hover{
  text-decoration: underline;
}
.footer-services .services-btns .services-btn-memberlogin{
  background: url(http://www.j-cast.com/assets_common/img/common/btn-footer-memberlogin.png) no-repeat left;
}
.footer-services .services-btns .services-btn-gadget{
  background: url(http://www.j-cast.com/assets_common/img/common/btn-footer-gadget.png) no-repeat left;
}
.footer-services .services-btns .services-btn-app{
  background: url(http://www.j-cast.com/assets_common/img/common/btn-footer-app.png) no-repeat left;
}
.footer-services .services-btns .services-btn-ustream{
  background: url(http://www.j-cast.com/assets_common/img/common/btn-footer-ustream.png) no-repeat left;
}

.footer-contents{
  clear: both;
  padding:40px 60px;
  background:#333;
}

/* ロゴ ----- */
.footer-contents .jcast-logo{
  background:url(http://www.j-cast.com/assets_common/img/common/logo-jcast.png) no-repeat;
  float:left;
}
.footer-contents .jcast-logo span{
  display:none;
}
.footer-contents .jcast-logo a{
  display:block;
  width:126px;
  height:47px;
}

/* チャンネルリンク・お問い合わせ ----- */
.footer-contents .channel-link-list{
  margin:0 0 10px 0;
  padding:0;
  text-align:right;
}
.footer-contents .channel-link-list .channel-link-list-item{
  display:inline-block;
  background:url(http://www.j-cast.com/assets_common/img/common/arrow-footer-channel-link-list.png) no-repeat left center;
  margin:0 0 0 16px;
  padding:0 0 0 10px;
  font-size:1.5em;
}
.footer-contents .channel-link-list .channel-link-list-item a{
  color:#fff;
  text-decoration:none;
  font-weight:bold;
}
.footer-contents .channel-link-list .channel-link-list-item a:hover{
  text-decoration: underline;
}

.footer-contents .common-link-list{
  margin:0 0 10px 0;
  padding:0;
  text-align:right;
}
.footer-contents .common-link-list .common-link-list-item{
  display:inline-block;
  margin:0 0 0 20px;
  font-size:1.3em;
}
.footer-contents .common-link-list .common-link-list-item a{
  color:#fff;
  text-decoration:none;
}
.footer-contents .common-link-list .common-link-list-item a:hover{
  text-decoration: underline;
}
/* copyright ----- */
.copyright{
  padding:10px 0 0 0;
  color:#fff;
  font-size:1.3em;
  text-align:center;
}





/*------------------------------------*\
    right
\*------------------------------------*/

/** 
 * 内容
 * コアラ、注目情報、三太郎、おすすめワード、
 * お知らせ、ランキング、Jブロ、1クリック、テラポリ、カス丸、Pマーク
 */

.column-right{}

/* レクタングル */
.column-right .ad-rectangle-bnr{
  padding:10px;
  border-bottom:solid 1px #CCC;
}

/******************************
 * モノのCSSを移動▼
 ******************************/
/* common */
#scene00 {
  display:none;
}
#RCKoalaZukan {}
#RCKoalaZukanWrap {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/bg.gif" ) 0 0 no-repeat;
}
#RCKoalaZukan #zukan-wrapp {
  padding:2px;
  width:298px;
  height:168px;
  position:relative;
  overflow:hidden; 
}
#zukan-left {
  float:left;
  width:191px;
}
#zukan-right {
  float:right;
  width:102px;
  padding:0 5px 0 0;
}
#zukan-left h2,
#zukan-left .title-h2 {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/zukan_title.png" ) 0 0 no-repeat;
  margin:0;
  padding:0;
  width:191px;
  height:41px;
}
#zukan-left h2 span,
#zukan-left .title-h2 span {
  display:none;
}
.sceneWrapp {
  position:absolute;
  width:191px;
  height:125px;
}
#RCKoalaZukan #logo-lotte {
  margin:8px 0 0 36px;
}
#RCKoalaZukan #logo-lotte a {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/koala_lotte.png" ) 0 0 no-repeat;
  display:block;
  width:64px;
  height:22px;
}
#RCKoalaZukan #logo-lotte a span {
  display:none;
}
/* koala footer */
#zukan-foot {
  margin:3px 0 0 0;
}
#zukan-foot #bt-howto {
  float:left;
  width:148px;
}
#zukan-foot #bt-see {
  float:right;
  width:148px;
}
#zukan-foot #bt-howto a,
#zukan-foot #bt-see a {
  display:block;
  width:148px;
  height:26px;
}
#zukan-foot #bt-howto a span,
#zukan-foot #bt-see a span {
  display:none;
}
#zukan-foot #bt-howto a {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/bt_howto_top.png" ) 0 0 no-repeat;
}
#zukan-foot #bt-see a {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/bt_see_top.png" ) 0 0 no-repeat;
}
/* koala button */
.searchButton,
#addZukanButton,
#seeZukanButton,
#findingLuckyButton {
  cursor:pointer;
}
.searchButton span,
#addZukanButton span,
#seeZukanButton span,
#findingLuckyButton span {
  display:none;
}
#scene01 .searchButton {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/bt_search.png" ) 0 0 no-repeat;
  width:126px;
  height:38px;
  position:absolute;
  top:79px;
  left:38px;
}
#scene04 .searchButton {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/bt_search2.png" ) 0 0 no-repeat;
  width:107px;
  height:27px;
  position:absolute;
  bottom:7px;
  left:27px;
}
#scene03 #addZukanButton {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/bt_add.png" ) 0 0 no-repeat;
  width:50px;
  height:39px;
  position:absolute;
  bottom:7px;
  right:3px;
}
#scene03 #findingLuckyButton {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/bt_serchLucky.png" ) 0 0 no-repeat;
  width:67px;
  height:67px;
  position:absolute;
  bottom:0;
  right:2px;
}
#scene04 #seeZukanButton {
  position:absolute;
  bottom:7px;
  right:3px;
}
#scene04 #seeZukanButton a {
  display:block;
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/bt_see.png" ) 0 0 no-repeat;
  width:50px;
  height:39px;
}

/* scene parts ---------------- */
/* common */
#scene02,
#scene03,
#scene04 {
  display:none;
}
/* scene1 */
#scene01 {
/*  background:url( "hhttp://www.j-cast.com/images/weather/koala_zukan/scene01_bg.png" ) 0 0 no-repeat; */
  height:117px;
  overflow:hidden;
}
#scene01 #ill01 {
  position:absolute;
  left:45px;
}
/* scene2 */

/* scene3 */
#scene03 #koala-find {
  position:absolute;  
  left:13px;
  top:22px;
  z-index:100;
}
#scene03 #koala-find img {
  position:absolute;  
}
#scene03 #ill03 {
  position:absolute;
  left:25px;
}
#scene03 #ill03 img {
  position:absolute;  
}
#scene03 #koalaName {
  background:url( "http://www.j-cast.com/images/weather/koala_zukan/bg_koala_name.png" ) 0 0 no-repeat;
  position:absolute;  
  top:99px;
  left:10px;
  width:140px;
  height:18px;
}
#scene03 #koalaName img {
  margin:1px 0 0 4px;
}
/* scene4 */
#scene04 #ill04 {
  position:absolute;
  left:25px;
}
#scene04 #ill04 img {
  position:absolute;  
}
#scene04 #getKoalaAddText {
  position:absolute;  
  top:2px;
  right:10px;
}
/* 天気部分 */
#zukan-weather-balloon {
  display : block !important;
  position : relative;
  background-image : url("http://www.j-cast.com/images/weather/koala_zukan/koala_top_weather_bg.png");
  background-repeat : no-repeat;
  margin:7px 0 0 0;
}
#zukan-weather-balloon {
  width:100px;
  height:120px;
  cursor: pointer;
  background-position : 0 0;
}
a#zukan-weather-balloon:hover {
  text-decoration : none !important;
  background-position : 0 -120px;
}
#zukan-weather-balloon-image {
  position:absolute;
}
#zukan-weather-balloon-date {
  position:absolute;
  top:96px;
  left:8px;
}
#zukan-weather-balloon-placeName {
  text-align:center;
  position:absolute;
  color:#523B42;
  font-size:12px;
  font-weight:bold;
  line-height:14px;
  left:1px;
  top:16px;
  width:52px;
  height:12px;
  margin:0px;
  display:block !important;
  text-decoration:underline;
}
#zukan-weather-balloon-pictgram {
  left: 48px;
  position: absolute;
  top: 11px;
}
#zukan-weather-balloon-disc {
  display : block !important;
  position:absolute;
  line-height:13px;
  left:13px;
  top:58px;
  width:75px;
  height:32px;
  text-align:center;
  margin:0px;
  font-size:10px;
  color:#525040;
}
#zukan-weather-balloon-disc-probability,
#zukan-weather-balloon-disc-temperature-max,
#zukan-weather-balloon-disc-temperature-min {
  display : inline !important;
  font-weight:bold;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
}
#zukan-weather-balloon-disc-probability {
  color:#3F3F3F;
}
#zukan-weather-balloon-disc-temperature-max {
  color:#CF2600;
}
#zukan-weather-balloon-disc-temperature-min {
  color:#1A6FEF;
}

/* フジ三太郎枠 add 2013.4.16 */
#RCSantaro {
  width: 304px;
  margin: 15px auto 10px;
  position: relative;
/*  background: url("http://www.j-cast.com/assets_common/img/right/rounded-block-shadow1.png") repeat-y scroll 0 0 transparent; */
  padding:0 0 0 2px;
}
#RCSantaro .header {
  height: 46px !important;
  margin:0 !important;
  background: url("http://www.j-cast.com/assets_common/img/right/santaro-rc-head.gif?v=0426") 0 0 no-repeat;
}
#RCSantaro .header h2,
#RCSantaro .header .title-h2 {}
#RCSantaro .header h2 a,
#RCSantaro .header .title-h2 a {
  display:block;
  height: 46px;
}
#RCSantaro .header h2 span,
#RCSantaro .header .title-h2 span {
  display:none;
}
#RCSantaro .manga-frame {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 170px;
}
#RCSantaro .manga-frame img {
  position: absolute;
  top:-11px;
  left:-12px;
  width:330px;
}
#RCSantaro .manga-frame .icon-continue {
  width: 300px;
  height: 170px;
  position: absolute;
  z-index:100;
  cursor:pointer;
/*  background:url( "http://www.j-cast.com/assets_common/img/right/santaro-frame-bt.png?v=0426-01" ) center center no-repeat; */
}
#RCSantaro .footer {
  position:static !important;
  width:285px;/* 140917追加 */
  height: 34px;/* 140917変更 */
  padding:0 10px;
  background: url("http://www.j-cast.com/assets_common/img/right/santaro-rc-foot.gif") 0 0 repeat-y;
}
#RCSantaro .footer .date {
  font-size:1.2em;
  float:left;
  padding:7px 0 0 0;
  color:#333333;
}
#RCSantaro .footer .bt-more {
  width:285px;/* 140917追加 */
  padding:5px 0 0 0;
}
#RCSantaro .footer .bt-more a {
  background: url("http://www.j-cast.com/assets_common/img/right/icon-next-santaro.png") right 0 no-repeat !important;
  display: block;
  width:86px;
  height: 23px;
  margin:0 auto;
}
#RCSantaro .footer .bt-more a span {
  display:none;
}
.right-column-rounded-block-top-santaro {
  height: 5px;
   left: 0;
  top: -5px;
}
.right-column-rounded-block-top-santaro {
  background: url("http://www.j-cast.com/assets_common/img/right/santaro-rc-topbg.gif") 0 0 no-repeat;
  font-size: 1px;
  position: absolute;
  width: 304px;
}
.right-column-rounded-block-bottom-santaro {
  display:none;/* 140917 */
  height: 7px;
  left: 0;
  bottom: -7px;
}
.right-column-rounded-block-bottom-santaro {
  display:none;/* 140917 */
  background: url("http://www.j-cast.com/assets_common/img/right/santaro-rc-bottombg.gif") 0 0 no-repeat;
  font-size: 1px;
  position: absolute;
  width: 304px;
}

/* Right Column: 注目情報 */
/**/
.RCChumokuJohoArticle {
  position: relative;
  padding-left: 95px;
  margin: 10px auto 0px;
  min-height: 80px;
  _height:auto !important;
  _height:80px;
  zoom:1;
}
.RCChumokuJohoArticle h3,
.RCChumokuJohoArticle .title-h3 {
  font-size: 1.3em;
  line-height: 140%;
  margin-bottom: 2px;
  font-weight:bold;
}
.RCChumokuJohoArticle img {
  position: absolute;
  top: 0px;
  left: 0px;
  border: solid 1px #CCC;
  zoom:1;
}
.RCChumokuJohoArticle p {
  font-size: 1.2em;
  line-height: 140%;
  color: #444;
}



/******************************
 * モノのCSSを移動▲
 ******************************/

/*common -----*/
.koalazukan,
.chumokujoho,
.santaro,
#RCOverture2,
.osusume-word,
#LCOshirase,
.notice,
.ranking,
.jblog,
.one-click,
 #LCTOWN,
 #LCTBM,
 #LCBookWatch,
 #LCAgingStyle,
 #LCTOIDAS,
.terapoli,
.kasumaru-follow,
.the-friday{
  border-bottom:solid 1px #CCC;
}

/*koala -----*/
.koalazukan {
  padding:10px;
}
#weatherAreaSettingWrap #weatherIframe {
  background: #eee;
}
#weatherAreaSettingWrap .setArea-bt {
  text-align: right;
}
#weatherAreaSettingWrap .setArea-bt img {
  vertical-align:bottom;
  cursor:pointer;
}

/*chumokujoho-----*/
.chumokujoho {
  padding:10px;
}
.chumokujoho .RCChumokuJohoArticle {
  padding-left:90px;
}
.chumokujoho .chumokujoho-title{
  color:#000;
  font-size:1.8em;
  font-weight:bold;
}
.chumokujoho p{
  margin:0;
  padding:0;
}
.chumokujoho a {
  color:#000;
  text-decoration:none;
}
.chumokujoho a:hover {
  text-decoration:underline;
}

/*santaro -----*/
.santaro{}

/* ツイート ウィジェット */
.twitter-timeline-wrapp{
  border-bottom:1px solid #ccc;
}

/*osusumeword -----*/
#RCOverture2,
.osusume-word{
  padding:10px 20px;
}
#RCOverture2 .title-h2,
.osusume-word .title-h2{
margin:0 0 5px 0;
  color:#000;
  font-size:1.8em;
  font-weight:bold;
}
#RCOverture2 ul,
.osusume-word ul{
  list-style:none;
  margin:0;
  padding:0;
}
#RCOverture2 li,
.osusume-word li{
  margin:0 ;
  padding:0 0 0 12px;
  background: url(http://www.j-cast.com/assets_common/img/common/arrow-column-right-orange.png) no-repeat left 6px;
}
#RCOverture2 a,
.osusume-word a {
  color:#000;
  font-size:1.3em;
  line-height: 140%;
  text-decoration:none;
}
#RCOverture2 a:hover,
.osusume-word a:hover {
  text-decoration:underline;
}
#RCOverture2 .small,
.osusume-word .small{
  margin:0;
  padding:0;
  text-align:right;
}


/*notice -----*/
#LCOshirase,
.notice{
  padding:10px 14px;
}
#LCOshirase .title-h2,
#LCOshirase .title,
.notice .title-h2,
.notice-title{
  padding: 0 0 10px 0;
  color:#000;
  font-size:1.8em;
  font-weight:bold;
}
#LCOshirase .title-h2 p,
.notice .title-h2 p{
  margin:0;
  padding:0;
}
#LCOshirase ul,
.notice ul{
  list-style:none;
  margin:0;
  padding:0;
}
#LCOshirase li,
.notice li{
  margin:0 0 5px 0;
  padding:0 0 0 12px;
  background: url(http://www.j-cast.com/assets_common/img/common/arrow-column-right-orange.png) no-repeat left 6px;
/*
  font-size:1.3em !important;
  line-height: 140% !important;
*/
}
#LCOshirase a,
.notice a {
  color:#000;
  text-decoration:none;
}
#LCOshirase a:hover,
.notice a:hover {
  text-decoration:underline;
}

/*ranking -----*/
.ranking{
  padding:10px 0 0 0;
}
.ranking .ranking-title{
  color:#000;
  font-size:1.8em;
  font-weight:bold;
  margin:0 10px 5px 10px;
}
.ranking .title-h2 p{
  margin:0;
  padding:0;
}
.ranking-tab-list{
  display:table;
  width:100%;
  margin:0;
  padding:0;
  list-style:none;
}
.ranking-tab{
  display:table-cell;
  width: 50%;
  margin:0 0 0 10px;
  padding:4px 8px;
  background:#ddd;
  color:#999;
  font-size:1.3em;
  font-weight:bold;
  text-decoration:none;
  cursor:pointer;
  text-align: center;
  border-top: 3px solid #ccc;
}
.ranking-tab.current{
  background:#fff;
  color:#000;
}
.channel-news .ranking-tab.current{
  border-top: solid 3px #2975a6;
}
.channel-trend .ranking-tab.current{
  border-top: solid 3px #FF6437;
}
.channel-healthcare .ranking-tab.current{
 border-top: solid 3px #2E7D32;
}
.channel-tv .ranking-tab.current{
  border-top: solid 3px #CC2C1A;
}
.channel-kaisha .ranking-tab.current{
 border-top: solid 3px #8c50aa;
}
.ranking .acces{}
.ranking .comment{
  display:none;
}
.ranking .access-entry-list,
.ranking .comment-entry-list{
  list-style:none;
  margin:0;
  padding:15px 0 10px 0;
}
.ranking .access-entry-list .entry-item,
.ranking .comment-entry-list .entry-item{
  margin:0 0 10px 10px;
  padding:0 10px 0 25px;
  background: url(http://www.j-cast.com/assets_common/img/common/icon-ranking-right.png) no-repeat;
  font-size:1.3em;
  line-height: 140%;
}
.ranking .access-entry-list .no-1,
.ranking .comment-entry-list .entry-item .no-1{
  background-position:0 0;
}
.ranking .access-entry-list .no-2,
.ranking .comment-entry-list .no-2{
  background-position:0 -100px;
}
.ranking .access-entry-list .no-3,
.ranking .comment-entry-list .no-3{
  background-position:0 -200px;
}
.ranking .access-entry-list .no-4,
.ranking .comment-entry-list .no-4{
  background-position:0 -300px;
}
.ranking .access-entry-list .no-5,
.ranking .comment-entry-list .no-5{
  background-position:0 -400px;
}
.ranking a {
  color:#000;
  text-decoration:none;
}
.ranking a:hover {
  text-decoration:underline;
}
.ranking .more-btn{
  background:#F2F2F2;
  _zoom: 1;
   overflow: hidden; 
}
.ranking .more-btn a{
  float: right;
  display: block;
  padding: 4px 8px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.channel-news .ranking .more-btn a{
  background: #2975a6;
}
.channel-trend .ranking .more-btn a{
  background: #FF6437;
}
.channel-healthcare .ranking .more-btn a{
  background: #2E7D32;
}
.channel-tv .ranking .more-btn a{
  background: #CC2C1A;
}
.channel-kaisha .ranking .more-btn a{
  background: #8c50aa;
}

/*jblog -----*/
.jblog{}
.jblog-title{
  float:left;
  width:59px;
  height:32px;
  margin:10px 15px;
  background: url(http://www.j-cast.com/assets_common/img/common/logo-jblog.png) no-repeat;
}
.jblog-title a{
  display:block;
  width:59px;
  height:32px;
}
.jblog-title span{
  display:none;
}
.jblog-text{
  margin:5px 8px 7px;
  padding:12px 0 ;
  font-size:1.2em;
  line-height:130%;
  font-weight:bold;
  border-bottom: solid 1px #ccc;
  color:#1987E1;
}
.jblog ul{
  list-style:none;
  margin:0 10px 10px 10px;
  padding:0;
}
.jblog li{
  margin:0 5px 5px 10px;
  padding:0 0 0 12px;
  background: url(http://www.j-cast.com/assets_common/img/common/arrow-column-right-blue.png) no-repeat left 6px;
  font-size:1.3em;
  line-height: 140%;
}
.jblog .title-h3 {}
.jblog span.blog-name {
  font-size:0.8em;
  font-weight:nomal;
}
.jblog a {
  color:#000;
  text-decoration:none;
}
.jblog a:hover {
  text-decoration:underline;
}
.jblog .more-btn{
  background:#F2F2F2;
  _zoom: 1;
   overflow: hidden; 
}
.jblog .more-btn a{
  float: right;
  display: block;
  padding:  4px 8px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.channel-news .jblog .more-btn a{
  background: #2975a6;
}
.channel-trend .jblog .more-btn a{
  background: #FF6437;
}
.channel-healthcare .jblog .more-btn a{
  background: #2E7D32;
}
.channel-tv .jblog .more-btn a{
  background: #CC2C1A;
}
.channel-kaisha .jblog .more-btn a{
  background: #8c50aa;
}

/*one-click -----*/
.one-click{}
.one-click-title{
  margin: 10px;
  color:#000;
  font-size:1.8em;
  font-weight:bold;
}
.one-click ul{
  list-style:none;
  margin:0 10px 10px 10px;
  padding:0;
}
.one-click li{
  margin:0 5px 8px 10px !important;
  padding:0 0 0 17px !important;
  background: url(http://www.j-cast.com/assets_common/img/common/arrow-column-right-circle-blue.png) no-repeat left 6px;
  font-size:1.3em;
  line-height: 140%;
}
.one-click a {
  color:#000;
  text-decoration:none;
}
.one-click a:hover {
  text-decoration:underline;
}
.one-click .more-btn{
  background:#F2F2F2;
  _zoom: 1;
   overflow: hidden; 
}
.one-click .more-btn a{
  float: right;
  display: block;
  padding: 4px 8px;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
}
.channel-news .one-click .more-btn a{
  background: #2975a6;
}
.channel-trend .one-click .more-btn a{
  background: #FF6437;
}
.channel-healthcare .one-click .more-btn a{
  background: #2E7D32;
}
.channel-tv .one-click .more-btn a{
  background: #CC2C1A;
}
.channel-kaisha .one-click .more-btn a{
  background: #8c50aa;
}


/*bookwatch -----*/
/* book watch leftColumn */
#LCBookWatch {
    margin: 0;
    padding:10px;
    position:relative;
}
#LCBookWatch h2,
#LCBookWatch .title-h2 {
    background: url("http://www.j-cast.com/assets_common/img/common/title-bookwatch-right.png") 0 0 no-repeat;
    width:300px;
    height:36px;
}
#LCBookWatch h2 a,
#LCBookWatch .title-h2 a {
    display:block;
    width:300px;
    height:36px;
}
#LCBookWatch h2 span,
#LCBookWatch .title-h2 span {
  display:none;
}
#LCBookWatch ul {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
}
#LCBookWatch ul li {
    background:url("http://www.j-cast.com/assets_common/img/common/link-arrow3.png") 10px 10px no-repeat;
    margin:0;
    padding:6px 5px 6px 20px;
    padding:6px 5px 6px 20px\9;
    border-top:1px solid #cbcbcb;
}
#LCBookWatch ul li.item-end {
  border-bottom:none !important;
}
#LCBookWatch ul li h3,
#LCBookWatch ul li .title-h3 {
  font-size: 1.3em;
  line-height: 140%;
}
#LCBookWatch a,
#LCBookWatch a {
color:#000;
text-decoration: none;
}
#LCBookWatch a.hover,
#LCBookWatch a:hover {
text-decoration: underline;
}
#LCBookWatch .bookwatch-footer,
#LCBookWatch .bookwatch-bt a ,
#LCBookWatch .bookwatch-bt a span{
  display:none;
}

/*tbm -----*/
/* TBM leftColumn */
#LCTBM {
    position:relative;
    margin:0;
    padding:10px;
}
#LCTBM h2,
#LCTBM .title-h2 {
    background: url("http://www.j-cast.com/assets_common/img/common/title-tbm-right.png") 0 0 no-repeat;
    width:300px;
    height:36px;
}
#LCTBM h2 a,
#LCTBM .title-h2 a {
    display:block;
    width:300px;
    height:36px;
}
#LCTBM h2 span,
#LCTBM .title-h2 span {
  display:none;
}
#LCTBM ul {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
}
#LCTBM ul li {
    margin:0;
    padding: 10px 5px 0 10px;
    border-top:1px solid #cbcbcb;
    min-height: 40px;
    position: relative;
}
#LCTBM ul li h3 img,
#LCTBM ul li .title-h3 img {
    left: 6px;
    top:6px;
    position: absolute;
}
#LCTBM ul li h3,
#LCTBM ul li .title-h3 {
  font-size: 1.3em;
  line-height: 140%;
  padding:0 0 0 45px;
}
#LCTBM a,
#LCTBM a {
color:#000;
text-decoration: none;
}
#LCTBM a.hover,
#LCTBM a:hover {
text-decoration: underline;
}
#LCTBM .tbm-footer {
  display:none;
}


/*toidas -----*/
/* Toidas leftColumn */
#LCTOIDAS {
    position:relative;
  margin:0;
    padding:10px 10px 0 10px;
    width:300px;
}
#LCTOIDAS .pref-holder {
    padding:3px 0;
    text-align:center;
    background:#e6e6e6;
    font-size:14px;
    color:#333;
}
#LCTOIDAS h2,
#LCTOIDAS .title-h2 {
    background: url("http://www.j-cast.com/assets_common/img/common/title-toidas-right.png") 0 0 no-repeat;
    width:300px;
    height:36px;
}
#LCTOIDAS h2 a,
#LCTOIDAS .title-h2 a {
    display:block;
    width:300px;
    height:36px;
}
#LCTOIDAS h2 span,
#LCTOIDAS .title-h2 span {
  display:none;
}
#LCTOIDAS ul {
    list-style: none outside none;
    margin: 0 auto 10px auto;
    padding: 0;
}
#LCTOIDAS ul li {
  margin: 0;
  padding: 5px 5px 0 10px;
  border-top: 1px solid #cbcbcb;
  min-height: 48px;
  position: relative;
}
#LCTOIDAS ul li h3 .ph-thumb,
#LCTOIDAS ul li .title-h3 .ph-thumb {
    left: 6px;
    top:6px;
    position: absolute;
    width:40px;
    height:40px;
    overflow:hidden
}
#LCTOIDAS a,
#LCTOIDAS a {
  color:#000;
  text-decoration: none;
}
#LCTOIDAS a.hover,
#LCTOIDAS a:hover {
  text-decoration: underline;
}
#LCTOIDAS ul li h3 .ph-thumb img,
#LCTOIDAS ul li .title-h3 .ph-thumb img {
  position: absolute;
  height:40px;
  top:0;
  left:-10px;
}
#LCTOIDAS ul li h3,
#LCTOIDAS ul li .title-h3 {
  font-size: 1.3em;
  line-height: 140%;
  padding:0 0 0 45px;
}
#LCTOIDAS .toidas-footer {
  display:none;
}

/*town -----*/
/* J-TOWN leftColumn */
#LCTOWN {
    position:relative;
  margin:0;
    padding:10px 10px 0 10px;
    width:300px;
}
#LCTOWN .pref-holder {
    padding:3px 0;
    text-align:center;
    background:#e6e6e6;
    font-size:14px;
    color:#333;
}
#LCTOWN h2,
#LCTOWN .title-h2 {
    background: url("http://www.j-cast.com/assets_common/img/common/title-jtown-right.png") 0 0 no-repeat;
    width:300px;
    height:36px;
}
#LCTOWN h2 a,
#LCTOWN .title-h2 a {
    display:block;
    width:300px;
    height:36px;
}
#LCTOWN h2 span,
#LCTOWN .title-h2 span {
  display:none;
}
#LCTOWN ul {
    list-style: none outside none;
    margin: 0 auto 10px auto;
    padding: 0;
}
#LCTOWN ul li {
  margin: 0;
  padding: 5px 5px 0 10px;
  border-top: 1px solid #cbcbcb;
  min-height: 48px;
  position: relative;
}
#LCTOWN ul li h3 .ph-thumb,
#LCTOWN ul li .title-h3 .ph-thumb {
    left: 6px;
    top:6px;
    position: absolute;
    width:40px;
    height:40px;
    overflow:hidden
}
#LCTOWN a,
#LCTOWN a {
  color:#000;
  text-decoration: none;
}
#LCTOWN a.hover,
#LCTOWN a:hover {
  text-decoration: underline;
}
#LCTOWN ul li h3 .ph-thumb img,
#LCTOWN ul li .title-h3 .ph-thumb img {
  position: absolute;
  height:40px;
  top:0;
  left:-10px;
}
#LCTOWN ul li h3,
#LCTOWN ul li .title-h3 {
  font-size: 1.3em;
  line-height: 140%;
  padding:0 0 0 45px;
}
#LCTOWN .town-footer {
  display:none;
}


/*agingstyle -----*/
/* agingstyle leftColumn */
#LCAgingStyle {
    margin: 0;
    padding:10px;
    position:relative;
}
#LCAgingStyle h2,
#LCAgingStyle .title-h2 {
    background: url("http://www.j-cast.com/assets_common/img/common/title-agingstyle-right.png") 0 0 no-repeat;
    width:300px;
    height:40px;
}
#LCAgingStyle h2 a,
#LCAgingStyle .title-h2 a {
    display:block;
    width:300px;
    height:36px;
}
#LCAgingStyle h2 span,
#LCAgingStyle .title-h2 span {
  display:none;
}
#LCAgingStyle ul {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
}
#LCAgingStyle ul li {
    background:url("http://www.j-cast.com/assets_common/img/common/arrow-column-right-blue.png") 10px 10px no-repeat;
    margin:0;
    padding:6px 5px 6px 20px;
    padding:6px 5px 6px 20px\9;
    border-top:1px solid #cbcbcb;
}
#LCAgingStyle ul li.item-end {
  border-bottom:none !important;
}
#LCAgingStyle ul li h3,
#LCAgingStyle ul li .title-h3 {
  font-size: 1.3em;
  line-height: 140%;
}
#LCAgingStyle a{
color:#000;
text-decoration: none;
}
#LCAgingStyle a:hover{
text-decoration: underline;
}
#LCAgingStyle .bookwatch-footer,
#LCAgingStyle .bookwatch-bt a ,
#LCAgingStyle .bookwatch-bt a span{
  display:none;
}

/* j-cast-channel追加 20160726 kawa */

.jcast-channel {
  width: 300px;
  margin: 0px auto;
  padding: 10px 10px 10px 10px;
}
.jcast-channel-title {
  height:120px;
  background:url(http://www.j-cast.com/assets_common/img/right/youtube-channel-right-banner.gif) 0 center no-repeat;
}
.jcast-channel-title a {
  display:block;
 height:120px;
}
.jcast-channel-title span{
  display:none;
}
.jcast-channel-entry-list{
  list-style:none;
  padding:0 15px;
}

/*terapoli -----*/
.terapoli{}
.terapoli #RCTerapoli{
  width: 280px;
  margin: 16px auto 24px;
  padding: 4px 12px 5px;
}
.terapoli-title {
  height:70px;
  background:url(http://www.j-cast.com/assets_common/img/right/title-terapoli.gif) 0 center no-repeat;
  border-bottom:1px solid #ddd;
}
.terapoli-title a {
  display:block;
  width:255px;
  height:70px;
}
.terapoli-title span{
  display:none;
}
.terapoli-entry-list{
  list-style:none;
  padding:0 15px;
}
.terapoli a {
  color:#000;
  text-decoration:none;
}
.terapoli a:hover {
  text-decoration:underline;
}
.terapoli .entry-item {
  position: relative;
  padding-left: 130px;
  margin: 0 auto;
  min-height: 100px;
  _height:auto !important;
  _height:100px;
  _zoom:1;
}
.terapoli .entry-title {
  font-size: 1.3em;
  line-height: 140%;
  font-weight: bold;
}
.terapoli .entry-photo {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow:hidden;
  height:100px;
  width:120px;
  border: solid 1px #CCC;
}
.terapoli .entry-photo img {
  width:120px;
}


/* kasumaru ----- */
.kasumaru-follow{
  padding:10px 20px;
}
.kasumaru-follow .kasumaru-title{
  width:300px;
  height:34px;
  margin:0 0 10px 0;
  background:url(http://www.j-cast.com/assets_common/img/common/title-kasumaru.png) no-repeat;
}
.kasumaru-follow .kasumaru-title span,
.kasumaru-follow .kasumaru-btn-twitter span,
.kasumaru-follow .kasumaru-btn-blog span,
.kasumaru-follow .kasumaru-btn-recent-entries span{
  display:none;
}
.kasumaru-follow .kasumaru-btn-twitter a,
.kasumaru-follow .kasumaru-btn-blog a,
.kasumaru-follow .kasumaru-btn-recent-entries a{
  display:block;
  width:280px;
  height:40px;
}
.kasumaru-follow .kasumaru-btn-twitter{
  background:url(http://www.j-cast.com/assets_common/img/common/btn-kasumaru-twitter.png) no-repeat;
}
.kasumaru-follow .kasumaru-btn-blog{
  background:url(http://www.j-cast.com/assets_common/img/common/btn-kasumaru-blog.png) no-repeat;
}
.kasumaru-follow .kasumaru-btn-recent-entries{
  background:url(http://www.j-cast.com/assets_common/img/common/btn-kasumaru-recent-entries.png) no-repeat;
}


/* the-friday ----- */
.the-friday{
  margin:0;
  padding:10px 25px ;
}
.the-friday-btn{
  width: 270px;
  height: 50px;
  background: url(http://www.j-cast.com/assets_common/img/common/btn-friday.jpg) no-repeat;
}
.the-friday-btn span{
  display:none;
}
.the-friday-btn a{
  display:block;
  width: 270px;
  height: 50px;
}

/* RCBanner */
.right-column-block.RCBanner{
  padding: 10px;
}


/* certification-mark ----- */
.certification-mark{
  padding:10px 70px;
  text-align:center;
}
.p-mark{
  display:inline-block;
  float:left;
  width: 62px;
  height: 69px;
  background-image: url(http://www.j-cast.com/assets_common/img/common/p-mark.png);
}
.p-mark a{
  display:block;
  width: 62px;
  height: 69px;
}
.adarea-mark{
  display:inline-block;
  width: 85px;
  height: 70px;
  background-image: url(http://www.j-cast.com/assets_common/img/common/adarea-mark.png);
}
.adarea-mark a{
  display:block;
  width: 85px;
  height: 70px;
}

/* その他のコンテンツ */
.other-contents{
  padding: 10px;
  border-bottom: solid 1px #CCC;
}
.other-contents-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.other-contents-list .other-content-item {
  margin: 0 0 12px 0;
  padding: 0;
}
.other-contents-list .other-content-item:last-child {
  margin: 0;
  padding: 0;
}
.other-contents-list .other-content-item a {
  display: block;
  text-decoration: none;
}

/* 記事画像 */
.other-contents-list .other-content-item .other-content-photo {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 6px 0 0;
  padding: 0;
  border:1px solid #e6e6e6;
}

.other-contents-list .other-content-item .other-content-parts-wrapp {
  display: inline-block;
  width: 235px;
  vertical-align: top;
}

.other-contents-list .other-content-item .other-content-title {
  display: block;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 1.3em;
  line-height: 1.24;
  word-break: break-all;
}

.other-contents-list .other-content-item a .other-content-title {
  color: #000;
  font-weight: bold;
}
.other-contents-list .other-content-item a:hover .other-content-title {
  text-decoration:underline;
}
.other-contents-list .other-content-item .other-content-parts-wrapp p {
  margin:0;
  padding:0;
  font-size: 1.2em;
  line-height: 1.24;
  color: #444;
}




/* スマホ 戻るボタン */
.bt-back-smartphone{
  background:#e6e6e6;
  padding: 60px 0;
}
.bt-back-smartphone a{
  display:block;
  width:80%;
  margin: 0 auto;
  padding:30px 60px;
  background:#2975a6;
  font-size:36px;
  border-radius:10px;
  text-align:center;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
}

/* 右カラムエントリーリスト 追悼 -----*/
.entry-list-side{
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
.entry-list-side__title{
  margin: 10px;
  color:#000;
  font-size:1.8em;
  font-weight:bold;
}
.entry-list-side ul{
  list-style:none;
  margin:0 10px 10px 10px;
  padding:0;
  border: none !important;
}
.entry-list-side li{
  margin:0 5px 8px 10px !important;
  padding:0 0 0 17px !important;
  background: url(http://www.j-cast.com/assets_common/img/common/arrow-column-right-circle-blue.png) no-repeat left 6px;
  border: none !important;
}
.entry-list-side .entry-title{
  font-size:1.3em !important;
  line-height: 140% !important;
}
.entry-list-side a {
  color:#000;
  text-decoration:none;
}
.entry-list-side a:hover {
  text-decoration:underline;
}
.entry-list-side .more-btn{
  background:#F2F2F2;
  _zoom: 1;
   overflow: hidden; 
}
.entry-list-side .more-btn a{
  float: right;
  display: block;
  padding: 4px 8px;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  background: #000;
}
 /** 
 *
 * CONTENTS -ad_pc.css - PC - AD用css
 *
 *
 */


/* index */
/* スーパーバナー */
 .index .ad-super-bnr{
   margin: 0 0 15px 0;
 }

/* テキスト広告 */
.index .mc-ad-top-top-text-item,
.index .mc-ad-entry-top-text-item{
  padding-left: 35px;
  margin-bottom: 8px;
  font-weight: bold;
  background: url(http://www.j-cast.com/assets_common/img/common/icon-ad-text-pr.png) no-repeat left center;
}
.index .mc-ad-top-top-text-item img,
.index .mc-ad-entry-top-text-item img{
  float: left;
}
.index .mc-ad-top-top-text-item a,
.index .mc-ad-entry-top-text-item a{
  display: block;
  color:#000;
  font-size:1.5em;
  line-height:110%;
}

.index #MCAdNewsTopTopText{
  margin:0 0 15px 0;
}


/* entry */
/* スーパーバナー */
.entry .ad-super-bnr{
   margin: 15px 0 20px;
 }

/* テキスト広告 */
.entry .mc-ad-entry-top-text-item{
  padding-left: 35px;
  margin-bottom: 4px;
  font-weight: bold;
  background: url(http://www.j-cast.com/assets_common/img/common/icon-ad-text-pr.png) no-repeat left center;
}
.entry .mc-ad-entry-top-text-item img{
  float: left;
}
.entry .ad-text-first a,
.entry .ad-text-second a,
.entry .ad-text-third a{
  display: block;
  color:#000;
  font-size:1.5em;
  line-height:110%;
}

/* 関連記事下テキスト広告 */
.ad-related-entries-under-type-text{}
.ad-related-entries-under-type-text > div > div{
  font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Geneva, Arial, Verdana, sans-serif !important;
}
.ad-related-entries-under-type-text > div > div > a{
  margin:0 0 10px 0;
  padding: 0;
  background: url(http://www.j-cast.com/assets_common/img/common/arrow-related-entries.png) no-repeat left 8px;
  color: #082E6B;
  font-size: 1.3em;
}

/* logly */
#logly-lift-widget-content{
  margin:0 25px;
}

.ad-logly-wrapp iframe{
  margin:0 0 0 -31px;
}


/*PR記事 */
.article.article-new{
  margin:0 0 30px 0;
  border-top:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
}
.article.article-new:after{
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}
.article.article-new:hover{
background:#FFFFCA;
}

.article.article-new .photo-frame{
  float: right;
  width: 180px;
  height: 120px;
  margin: 0 0 0 10px;
}
.article.article-new .title-h3{
  margin:10px 20px 5px 20px;
}
.article.article-new .title-h3 a{
  color:#000;
  font-size:1.5em;
  font-weight:bold;
}
.article.article-new .first-paragraph{
  margin: 0 5px 5px 20px;
  padding: 0px 1px;
  font-size: 1.1em;
  line-height: 1.3em;
}
.article.article-new .sub-info{
  margin: 0 5px 5px 20px;
  padding: 0 0 8px 0;
  font-size: 1.3em;
  line-height: 1.3em;
}
.article.article-new .categories-nolink span{
  background-color: #888;
  color: white;
  padding: 2px 5px;
  font-weight: bold;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: 3px;
}

/* ラージレクタングルバナー */
.ad-entry-rectangle-bnr{
  clear: both;
  margin: 20px 0;
  text-align: center;
}
.ad-rectangle-bnr-item{
  display: inline-block;
  margin: 0 10px;
}

/* GIF+テキスト広告枠 */
#MCAdEntryBottomshowcase{
  margin:20px 0;
}
#MCAdEntryBottomshowcase h2,
#MCAdEntryBottomshowcase .title-h2 p{
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 1.6em;
  font-weight: bold;
}
#MCAdEntryBottomshowcase h2 p{
  margin:0;
  padding:0;
}
#MCAdEntryBottomshowcase .wrapper{
  width: 560px;
  min-height: 100px;
  margin: 0.7em 0 0 0;
  padding-left: 170px;
  position: relative;
  zoom: 1;
}
#MCAdEntryBottomshowcase .wrapper h3,
#MCAdEntryBottomshowcase .wrapper .title-h3 {
  font-size:1.5em;
  line-height: 110%;
  margin:0 0 2px 0;
  font-weight: bold;
}
#MCAdEntryBottomshowcase .wrapper h3 a,
#MCAdEntryBottomshowcase .wrapper .title-h3 a{
  color:#000;
}
#MCAdEntryBottomshowcase .wrapper p {
  color: #444444;
  font-size: 1.2em;
  line-height: 140%;
}

#MCAdEntryBottomshowcase img{
  border: 1px solid #ccc;
  left: 0;
  position: absolute;
  top: 0;
  zoom: 1;
}

/* おすすめワード */
.ad-keywords{
  margin:20px 0;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.ad-keywords-title{
  margin: 10px 0 5px 0;
  padding: 0;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}
.ad-keywords-wrapper{}
.ad-keywords-items{
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px dashed #ddd;
}
.ad-keyword-item{
  margin: 0 10px 5px 0;
  padding: 0 0 0 8px;
  display: inline-block;
}
.ad-keywords-items a{
  padding: 0 0 0 8px;
  background: url(http://www.j-cast.com/assets_common/img/common/arrow-related-entries.png) no-repeat left;
  color: #000;
  font-size: 1.3em;
  text-decoration: none;
}
.ad-keywords-items a:hover{
text-decoration: underline;
}
.ad-keywords-items .ad-keyword-title{
  color:#FF9B78;
  font-size: 1.3em;
  font-weight: bold;
}


/* スカイスクレーパー */
.ad-left-skyscraper,
.ad-right-skyscraper{
  width: 160px;
  height: 600px;
  position: fixed;
  top: 0px;
  z-index: 10001;
  margin-top: 1px;
  display: inline-block;
  visibility: visible;
}
.ad-left-skyscraper{
  right: 50%;
  margin-right: 540px;
}
.ad-right-skyscraper{
  left: 50%;
  margin-left: 540px;
}


/* category */
/* スーパーバナー */
.category .ad-super-bnr{
   margin: 15px 0 20px;
 }

/* テキスト広告 */
.category .mc-ad-entry-top-text-item{
  padding-left: 35px;
  margin-bottom: 4px;
  font-weight: bold;
  background: url(http://www.j-cast.com/assets_common/img/common/icon-ad-text-pr.png) no-repeat left center;
}
.category .mc-ad-entry-top-text-item img{
  float: left;
}
.category .ad-text-first a,
.category .ad-text-second a,
.category .ad-text-third a{
  display: block;
  color:#000;
  font-size:1.3em;
}


/* 外部記事枠 */
.external-import{
  clear:both;
  border:solid 1px #ccc;
  margin:0 0 30px 0;
  padding:15px 10px;
}
.external-import-title{
  display: block;
  float: left;
  margin:0;
  padding:0;
}
.external-import-title a{
  display: block;
}
.external-import-title span{
  display:none;
}
.external-import-offer{
  float: right;
  margin: 3px 0 0 0;
  background: #8b8b8b;
  color: #fff;
  font-size: 0.8em;
  padding: 1px;
}
.external-import-entry-list{
  list-style-type: none;
  clear:both;
  margin: 0;
  padding: 10px 0 0 0;
}
.external-import-entry-list a{
  color:#000;
  text-decoration:none;
}
.external-import-entry-list a:hover{
  text-decoration:underline;
}
.external-import-entry-list a:visited{
  color:#666;
}
.external-import-entry-list .entry-item{
  margin: 0 0 3px;
}
.external-import-entry-list .entry-title{
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

/* prwire ----- */
.prwire .external-import-title{
  width:138px;
  height:23px;
  background:url(http://www.j-cast.com/assets/img/external-logo-prwire.png) no-repeat;
}
.prwire .external-import-entry-list .entry-item{
  background: transparent url(http://www.j-cast.com/assets/img/external-icon-press.png) 0 center no-repeat;
  padding: 1px 1px 1px 65px;
}
/* writers ----- */
.writers .external-import-title{
  width:138px;
  height:26px;
  background:url(http://www.j-cast.com/assets/img/external-logo-writers.png) no-repeat;
}
.writers .external-import-entry-list .entry-item{
  background: transparent url(http://www.j-cast.com/assets/img/external-icon-pr.png) 0 center no-repeat;
  padding: 1px 1px 1px 30px;
}
 /** include file
 *
 * CONTENTS - news_common_pc.css - ニュースPC共通要素を記述
 *
 */


/*
★プロパティの書き順
.sample {
    display
    list-style
    position
    float
    clear
    width
    height
    margin
    padding
    border
    background
    color
    font
    text-decoration
    text-align
    vertical-align
    white-space
    other text
    content
}
*/



/*------------------------------------*\
    header
\*------------------------------------*/

/** 
 * 内容
 * チャンネルタブ、ロゴ、フォローボタン、検索
 * ピックアップ8、グローバルナビ
 */
/* グローバルナビ ----- */

.global-nav {
  margin:0 0 20px 0;
}
.global-nav-list{
  list-style:none;
  margin:0;
  padding:0;
  background-color:#2975a6;
}
.global-nav-list .global-nav-item{
  display: inline-block;
  margin:0;
  border-right:1px solid #699ec1;
}
.global-nav-list .global-nav-item:last-child{
  border-right: none;
}
.global-nav-list .global-nav-item a{
  color:#fff;
  font-size:1.6em;
  font-weight:bold;
  text-decoration:none;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.global-nav-list .global-nav-item a:hover{
  text-decoration:underline;
}


/* グローバルナビ 個々設定 ----- */
.global-nav-domestic,
.global-nav-economy,
.global-nav-politics,
.global-nav-movie{
  padding: 8px 25px;
}

.global-nav-it{
  padding: 10px 25px;
}

.global-nav-entertainment,
.global-nav-media,
.global-nav-health,
.global-nav-1click{
  padding: 8px 15px;
}


/* 右カラム　アスキー */
.ascii{
  border-bottom:solid 1px #CCC;
}
.ascii-title{
  margin: 10px;
}
.ascii-title a{
  display:block;
  height:21px;
  background: url(http://www.j-cast.com/assets_common/img/right/logo_asciijp.gif) 0 0 no-repeat;
}
.ascii-title a span{
  display:none;
}
.ascii ul{
  list-style:none;
  margin:0 10px 10px 10px;
  padding:0;
}
.ascii li{
  margin:0 5px 8px 10px;
  padding:0 0 0 17px;
  background: url(http://www.j-cast.com/assets_common/img/common/arrow-column-right-circle-blue.png) no-repeat left 6px;
  font-size:1.3em;
  line-height: 140%;
}
.ascii li a {
  color:#000;
  text-decoration:none;
}
.ascii li a:hover {
  text-decoration:underline;
}
.ascii .more-btn{
  background:#F2F2F2;
  _zoom: 1;
   overflow: hidden; 
}
.ascii .more-btn a{
  float: right;
  display: block;
  padding: 4px 8px;
  color: #2975a6;
  font-size: 1.3em;
  text-align: center;
  text-decoration:none;
}
.ascii .more-btn a:hover{
  text-decoration:underline;
}




 
.column-main{
  width:728px;
  margin:0;
  padding:0;
}

/* 枠タイトル common ----- */
.topnews-title,
.recent-title,
.recent-third-title,
.j-media-title,
.topics-title,
.people-title{
  margin: 0 0 5px 0;
  padding:0;
  font-size:1.4em;
}
.topnews-title .title-wrapp,
.recent-title .title-wrapp,
.recent-third-title .title-wrapp,
.j-media-title .title-wrapp,
.topics-title .title-wrapp,
.people-title .title-wrapp{
  display:inline-block;
  margin: 0;
  padding:0 15px 0 0;
}
.topnews-title span,
.recent-title span,
.recent-third-title span,
.j-media-title span,
.topics-title span,
.people-title span{
  display:inline-block;
  position: relative;
  vertical-align: bottom;
  height:18px;
  margin:0 10px 0 0;
  padding:3px 10px 0 12px;
  color:#fff;
}
.topnews-title span:after,
.recent-title span:after,
.recent-third-title span:after,
.j-media-title span:after,
.topics-title span:after,
.people-title span:after{
  position: absolute;
  width: 0;
  height: 0;
  right: -14px;
  top: 0px;
  border-top: 24px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
}

.topnews-title .title-wrapp{
  border-bottom:4px solid #b71c1c;
}
.topnews-title span{
  background:#b71c1c;
}
.topnews-title span:after{
  border-right-color: #b71c1c;
  border-left: 14px solid #b71c1c;
}

.recent-title .title-wrapp,
.recent-third-title .title-wrapp{
  border-bottom:4px solid #2975a6;
}
.recent-title span,
.recent-third-title span{
  background:#2975a6;
}
.recent-title span:after,
.recent-third-title span:after{
  border-right-color: #2975a6;
  border-left: 14px solid #2975a6;
}

.j-media-title .title-wrapp{
  border-bottom:4px solid #663d99;
}
.j-media-title span{
  background:#663d99;
}
.j-media-title span:after{
  border-right-color: #663d99;
  border-left: 14px solid #663d99;
}

.topics-title .title-wrapp{
  border-bottom:4px solid #EA6C03;
}
.topics-title span{
  background:#EA6C03;
}
.topics-title span:after{
  border-right-color: #EA6C03;
  border-left: 14px solid #EA6C03;
}

.people-title .title-wrapp{
  border-bottom:4px solid #649e18;
}
.people-title span{
  background:#649e18;
}
.people-title span:after{
  border-right-color: #649e18;
  border-left: 14px solid #649e18;
}


/* トップニュース ----- */
.topnews{
  margin:0 0 15px 0;
}
.topnews-item{
  position:relative;
  height:180px;
  background-position:center 0;
  background-repeat:no-repeat;
  background-size:cover;
}
.topnews-item a{
  display:block;
}
.topnews-item .cover {
  position: absolute;
  display: block;
  width: 100%;
  height: 180px;
  top:0;
/*
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  background-color: rgba(0, 0, 0, 0.3);
*/
  background-color: rgba(0, 0, 0, 0.25);
}
.topnews-item .entry-parts-wrapp{
  position: absolute;
  bottom:0;
  z-index:100;
}
.topnews-item .entry-title{
  display:block;
  margin:0;
  padding:0 20px 15px 20px;
  font-size:3.6em;
  line-height:1.2;
}
.ie .topnews-item .entry-title { font-size:36px; }
:root .topnews-item .entry-title { font-size:36px \0/; }

.topnews-item a .entry-title{
  text-decoration:none;
/*  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9); */
  text-shadow:1px 0 2px rgba(0,0,0,0.6),0 1px 2px rgba(0,0,0,0.6);
}
.topnews-item a:hover .entry-title{
  text-decoration:underline;
}

/* トップニュース カラーバリエーション */
.topnews-item a .text-color-white{ color:#fff; }
.topnews-item a .text-color-red{ color:#ff5252; }
.topnews-item a .text-color-yellow{ color:#ffea00; }
.topnews-item a .text-color-blue{ color:#a7ffeb; }
.topnews-item a .text-color-green{ color:#ace639; }
.topnews-item a .text-color-purple{ color:#ec8dfd; }
.topnews-item a .text-color-orange{ color:#ECA100; }
.topnews-item a .text-color-pink{ color:#ED4793; }
.topnews-item a .text-color-darkred{ color:#D81010; }
.topnews-item a .text-color-darkblue{ color:#00BEFF; }
.topnews-item a .text-color-darkgreen{ color:#19D205; }
.topnews-item a .text-color-darkpurple{ color:#C653FF; }


.topnews-item .entry-subinfo {
  padding:0 20px 2px;
}
.topnews-item .entry-new,
.topnews-item .entry-category,
.topnews-item .entry-date{
  display:inline-block;
  font-size:1.2em;
  font-weight:bold;
  color:#fff;
  text-shadow:1px 0 2px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.5);
}

/* 最新ニュース ----- */
.recent{
  margin:0 0 15px 0;
}

.recent-first{
  display:inline-block;
  width:395px;
  margin: 0 8px 0 0;
  vertical-align:top;
}
.recent-second{
  display:inline-block;
  width:320px;
  vertical-align:top;
}

.recent-entry-list{
  list-style:none;
  margin:0;
  padding:0;
}
.recent-first .recent-entry-list .entry-item{
  margin:0 0 12px 0;
  padding:0;
  border-bottom:1px solid #dedede;
}
.recent-first .recent-entry-list .entry-item:last-child{
  border:none;
}
.recent-second .recent-entry-list .entry-item{
  margin:0 0 18px 0;
  padding:0;
}

.recent-entry-list .entry-item a{
  display:block;
  text-decoration:none;
}

/* 記事画像 */
.recent-entry-list .entry-item .entry-photo{
  display:inline-block;
  padding:0;
  vertical-align:top;
  background: #efefef url(../../assets_common/img/common/icon-photo-m.png) center center no-repeat;
}
.recent-first .recent-entry-list .entry-item .entry-photo{
  width: 120px;
  height:85px;
  margin: 0 6px 0 0;
  overflow:hidden;
}
.recent-second .recent-entry-list .entry-item .entry-photo{
  width: 100px;
  height:70px;
  margin: 0 6px 0 0;
  overflow:hidden;
}
.recent-entry-list .entry-item .entry-photo img{
  max-width: 100%;
}

.recent-first .recent-entry-list .entry-item .entry-parts-wrapp{
  display:inline-block;
  width: 263px;
}
.recent-second .recent-entry-list .entry-item .entry-parts-wrapp{
  display:inline-block;
  width: 207px;
}

.recent-first .recent-entry-list .entry-item .entry-title{
  display:block;
  margin:0 0 5px 0;
  padding:0;
  font-size:1.6em;
  line-height:1.24;
  word-break: break-all;
}
.recent-second .recent-entry-list .entry-item .entry-title{
  display:block;
  margin:0 0 6px 0;
  padding:0;
  font-size:1.4em;
  line-height:1.24;
  word-break: break-all;
}
.recent-entry-list .entry-item a .entry-title{
  color:#082E6B;
  font-weight: normal;
}
.recent-entry-list .entry-item a:hover .entry-title{
  text-decoration:underline;
}
.recent-entry-list .entry-item a:visited .entry-title{
  color: #641C88;
}

.recent-entry-list .entry-item .entry-subinfo {}

.recent-entry-list .entry-item .entry-new,
.recent-entry-list .entry-item .entry-category,
.recent-entry-list .entry-item .entry-date{
  display:inline-block;
  font-size:1em;
  font-weight:bold;
}
.recent-entry-list .entry-item .entry-category,
.recent-entry-list .entry-item .entry-date{
  color:#777;
}
.recent-entry-list .entry-item .entry-new span{
  display:inline-block;
  padding:2px 4px;
  background:#ffa602;
  color:#fff;
  border-radius:3px;
}

.recent-entry-list .entry-item .entry-summary{
  margin:5px 0 8px 0;
  padding:0;
  font-size:1.2em;
  line-height:140%;
  color:#444;
}

.recent-more-btn{
  text-align:right;
}
.recent-more-btn a{
  display:inline-block;
  padding:3px 8px;
  background-color:#929699;
  font-size:1.2em;
  font-weight:bold;
  color:#fff;
  border-radius:4px;
  text-decoration:none;
}
.recent-more-btn a:hover{
  text-decoration:underline;
}

/* jcastメディア記事 ----- */
.j-media{
  margin:0 0 15px 0;
}

.j-media-entry-list{
  list-style:none;
  margin:0;
  padding:12px 9px 0;
  background:#d7dee2;
}
.j-media-entry-list .entry-item{
  display:inline-block;
  margin:0 4px 12px 4px;
  padding:7px 9px;
  background:#fff;
  box-shadow:rgba(0, 0, 0, 0.0980392) 2px 2px 1px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 2px 2px 1px 0px;
  -moz-box-shadow:rgba(0, 0, 0, 0.0980392) 2px 2px 1px 0px;
  vertical-align:top;
}

.j-media-entry-list .entry-item .entry-sub-title{
  position:relative;
  margin:0 0 5px;
  min-height:23px;
}
.j-media-entry-list .entry-item .entry-sub-title .title{
  position:absolute;
  left:-13px;
  background-image:url( ../img/icon-j-media.png );
  background-repeat:no-repeat;
  padding:2px 0 0 34px;
  font-size:1.4em;
  font-weight:bold;
  color:#333;
}
/* チャンネルタイトルをアンカーにする 20160726 kawa */
.j-media-entry-list .entry-item .entry-sub-title .title a{
  text-decoration: none;
  color:#333;
}
.j-media-entry-list .entry-item .entry-sub-title .title a:hover {
  text-decoration: underline;
}
.site-tv .title{ background-position:0 0; }
.site-kaisha .title{ background-position:0 -33px; }
.site-trend .title{ background-position:0 -66px; }
.site-tbm .title{ background-position:0 -99px; }
.site-book .title{ background-position:0 -165px; }
.site-healthcare .title{ background-position:0 -132px; }
.site-other .title { background-position:0 -198px }

.j-media-entry-list .entry-item .entry-sub-title .bt-more{
  float:right;
  margin: 2px 0 0;
  font-size:1.2em;
}
.j-media-entry-list .entry-item .entry-sub-title .bt-more a{
  color:#666;
  font-weight:bold;
  text-decoration:none;
}
.j-media-entry-list .entry-item .entry-sub-title .bt-more a:hover{
  color:#333;
  text-decoration:underline;
}

.j-media-entry-list .entry-item .entry-sub-title .bt-more span{
  display:inline-block;
  width:14px;
  height:14px;
  margin:0 0 0 3px;
  border-radius:7px;
  vertical-align: text-top;
  background-image:url(../img/arrow-white.png);
  background-repeat:no-repeat;
  background-position:center center;
}
.site-tv .bt-more span{ background-color:#f03514; }
.site-kaisha .bt-more span{ background-color:#554bbe; }
.site-trend .bt-more span{ background-color:#ff6437; }
.site-tbm .bt-more span{ background-color:#f73379; }
.site-town .bt-more span{ background-color:#43a047; }
.site-book .bt-more span{ background-color:#3e3215; }
.site-healthcare .bt-more span{ background-color:#2E7D32; }

.j-media-entry-list .entry-item .entry-photo{
  display:inline-block;
  position:relative;
  padding:0;
  vertical-align:top;
  width: 90px;
  height: 80px;
  margin: 0 6px 0 0;
  overflow:hidden;
  background: #efefef url(../../assets_common/img/common/icon-photo-m.png) center center no-repeat;
}
.j-media-entry-list .entry-item .entry-photo img{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}
.j-media-entry-list .entry-item .entry-photo a{
  display:block;
  width: 90px;
  height: 80px;
}
.j-media-entry-list .entry-item .entry-parts-wrapp{
  display:inline-block;
  width: 227px;
}

.j-media-entry-list .entry-item .entry-title{
  display:block;
  margin:0 0 8px 0;
  padding:0 0 0 8px;
  font-size:1.4em;
  line-height:1.2;
  background:url(../img/arrow-purple.png) 0 5px no-repeat;
  word-break: break-all;
}
.j-media-entry-list .entry-item .entry-title a{
  color:#082E6B;
  text-decoration:none;
  font-weight: normal;
}
.j-media-entry-list .entry-item .entry-title a:hover{
  text-decoration:underline;
}
.j-media-entry-list .entry-item .entry-title a:visited{
  color: #641C88;
}
                         
                         
/* トピックス ----- */
.topics {
  margin: 0 0 15px 0;
}
.topics-entry-wrapp {
  padding:14px 15px 8px 15px;
  background: #F5F4F5;
  border:1px solid #dedede;
}
.topics-entry-list {
  list-style:none;
  width:48.9%;
  margin:0;
  padding:0;
}
.topics-entry-list {
  width:340px\9;
}
.topics-entries-left{
  float:left;
  margin:0 15px 0 0;
}
.topics-entries-right{
  float:right;
}
.topics-entry-list .entry-item {
  margin: 0 0 12px 0;
  padding: 0 0 0 13px;
  background:url(../img/arrow-gray-circle.png) 0 4px no-repeat;
}
.topics-entry-list .entry-item a {
  display:inline-block;
  text-decoration:none;
}
.topics-entry-list .entry-title {
  display:inline;
  margin:0 0 4px 0;
  font-size: 1.4em;
  line-height: 1.24;
  font-weight: normal;
  word-break: break-all;
}
.topics-entry-list .entry-item a .entry-title {
  color:#082E6B;
  text-decoration:none;
}
.topics-entry-list .entry-item a:hover .entry-title {
  text-decoration: underline;
}
.topics-entry-list .entry-item a:visited .entry-title {
  color: #641C88;
}
.topics-entry-list .entry-item .entry-subinfo{
  display:inline-block;
  margin:0 0 0 5px;
}
.topics-entry-list .entry-item .entry-subinfo .entry-date{
  display:inline-block;
  font-size: 1em;
  color:#444;
}
.topics-more-btn{
  text-align:right;
}
.topics-more-btn a{
  display:inline-block;
  padding:3px 8px;
  background-color:#929699;
  font-size:1.2em;
  font-weight:bold;
  color:#fff;
  border-radius:4px;
  text-decoration:none;
}
.topics-more-btn a:hover{
  text-decoration:underline;
}


/* ニュース＆SNS ----- */
.separate-content{}

/* ニュース */
.recent-third{
  margin:0 15px 15px 0;
  display:inline-block;
  width:365px;
  vertical-align:top;
}
.recent-third .recent-entry-list .entry-item{
  margin: 0 0 8px 0;
  padding: 0 0 6px 0;
  border-bottom: 1px solid #dedede;
}
.recent-third .recent-entry-list .entry-item:last-child{
  padding:0;
  border-bottom:none;
}

/* 記事画像 */
.recent-third .recent-entry-list .entry-item .entry-photo{
  width: 120px;
  height:85px;
  margin: 0 6px 0 0;
  overflow:hidden;
  background: #efefef url(../../assets_common/img/common/icon-photo-m.png) center center no-repeat;
}
.recent-third .recent-entry-list .entry-item .entry-parts-wrapp{
  display:inline-block;
  width: 233px;
}
.recent-third .recent-entry-list .entry-item .entry-title{
  display:block;
  margin:0 0 6px 0;
  padding:0;
  font-size:1.4em;
  line-height:1.24;
  word-break: break-all;
}

                         
/* snsランキング */
.sns-entries{
  display:inline-block;
  width:340px;
  margin:0 0 15px 0;
  vertical-align:top;
}

.sns-entry-list{
  list-style:none;
  margin:0;
  padding:0;
}
.sns-entry-list .entry-item{
  margin:0 0 10px 0;
  padding:0;
  border:1px solid #dedede;
}
.sns-entry-list .entry-item:last-child{
/*  border:none; */
}

.sns-entry-list .title-wrapp{
  margin:0;
  padding:0;
  font-size:1.4em;
  color:#fff;
}
.sns-access .title-wrapp {
  background:#ff4566;
}
.sns-facebook .title-wrapp {
  background:#214b99;
}
.sns-comment .title-wrapp {
  background:#f25f30;
}
.sns-twitter .title-wrapp {
  background:#42a5f5;
}

.sns-entry-list .title-wrapp .title{
  display:inline-block;
  margin:0 10px;
  padding:2px 0 0 0;
}
.sns-entry-list .title-wrapp .sub-info{
  float:right;
  position: relative;
  width:88px;
  height: 21px;
  margin: 0;
  padding: 3px 0 0 0;
  font-size: 0.9em;
  background:#000;
  text-align:center
}
.sns-entry-list .title-wrapp .sub-info span{
  font-size: 0.7em;
}
.sns-entry-list .title-wrapp .sub-info:before {
position: absolute;
width: 0;
height: 0;
left: -6px;
top: 0px;
border-left-color: #000;
border-top: 24px solid transparent;
border-bottom: 0px solid transparent;
border-right: 6px solid black;
content: '';
}

/* 記事画像 */
.sns-entry-list .entry-item .entry-photo{
  height:140px;
  margin:0 0 6px 0;
  padding:0;
  overflow:hidden;
  text-align:center;
  background: #efefef url(../../assets_common/img/common/icon-photo-l.png) center center no-repeat;
}
.sns-entry-list .entry-item .entry-parts-wrapp{
  padding: 5px 14px 0;
}

.sns-entry-list .entry-item .entry-title{
  margin:0 0 5px 0;
  padding:0;
  font-size:1.6em;
  line-height:1.24;
  word-break: break-all;
}
.sns-entry-list .entry-item .entry-title a{
  color:#082E6B;
  text-decoration:none;
  font-weight:normal;
}
.sns-entry-list .entry-item .entry-title a:hover{
  text-decoration:underline;
}
.sns-entry-list .entry-item .entry-title a:visited{
  color: #641C88;
}

.sns-entry-list .entry-item .entry-subinfo {}
.sns-entry-list .entry-item .entry-category,
.sns-entry-list .entry-item .entry-date{
  display:inline-block;
  font-size:1em;
  font-weight:bold;
  color:#777;
}

.sns-entry-list .entry-item .entry-new span{
  display:inline-block;
  padding:2px 4px;
  background:#ad1457;
  color:#fff;
  border-radius:3px;
}
.sns-entry-list .entry-item .entry-sns-count{
  display:inline-block;
  margin:0 0 0 15px;
}
.sns-entry-list .entry-item .entry-comment,
.sns-entry-list .entry-item .entry-facebook,
.sns-entry-list .entry-item .entry-tweet{
  display:inline-block;
  margin:0 10px 0 0;
  padding:4px 0 4px 16px;
  font-size:1.2em;
  color:#777;
}
.sns-entry-list .entry-item .entry-comment{
  background:url(../img/icon-comment-list.png) 0 center no-repeat;
}
.sns-entry-list .entry-item .entry-facebook{
  background:url(../img/icon-facebook-list.png) 0 center no-repeat;
}
.sns-entry-list .entry-item .entry-tweet{
  background:url(../img/icon-tweet-list.png) 0 center no-repeat;
}

.sns-entry-list .entry-item .entry-summary{
  margin:3px 0 0;
  padding:0 14px;
  font-size:1.2em;
  line-height:140%;
  color:#444;
  word-break: break-all;
}

.sns-entries-more-btn{
  text-align:right;
}
.sns-entries-more-btn a{
  display:inline-block;
  font-size:1.2em;
  font-weight:bold;
  color:#0C3254;
  text-decoration:none;
  padding: 1px 5px 3px 0;
}
.sns-entries-more-btn a .btn-title{
  display:inline-block;
  vertical-align:middle;
}
.sns-entries-more-btn a:hover .btn-title{
  text-decoration:underline;
}
.sns-entries-more-btn .arrow{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 0 0 3px;
  border-radius: 7px;
  vertical-align: middle;
  background-image: url(../img/arrow-white.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color:#929699;
}


/* 人気タグ ---- */
.hotword{
  position:relative;
  margin:20px 0 15px 0;
  padding:17px 15px 10px;
  border-top:1px solid #dedede;
  border-bottom:1px solid #dedede;
}
.hotword-title{
  position:absolute;
  margin:0 0 0 -15px;
  padding:0;
  width:100%;
  top:-1.2em;
  text-align:center;
  color:#fff;
  font-size:1.2em;
  font-weight:bold;
}
.hotword-title span{
  display:inline-block;
  padding:2px 16px;
  background:#009688;
  border-radius:3px;
}
.hotword-list{}
.hotword-list a{
  display:inline-block;
  margin:0 10px 5px 0;
  font-size:1.4em;
  font-weight:bold;
  color:#009688;
}

/* まとめ ---- */
.matome{
  display: inline-block;
  width: 368px;
  margin: 0 15px 15px 0;
  vertical-align: top;
}
.matome-title{
  margin: 0 0 5px 0;
  padding:0;
  font-size:1.4em;
  background:#ebc62f;
}
.matome-title .title-wrapp{
  display:inline-block;
  margin: 0;
  padding:0 15px 0 0;
}
.matome-title span{
  display:inline-block;
  position: relative;
  vertical-align: bottom;
  height:22px;
  margin:0 10px 0 0;
  padding:3px 5px 0 10px;
  background:#000;
  color:#fff;
}
.matome-title span:after{
  position: absolute;
  width: 0;
  height: 0;
  right: -10px;
  top: 0px;
  border-right-color: #000;
  border-top: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 10px solid black;
  content: '';
}
.matome-wrapp{
  position: relative;
  margin:0 0 5px 0;
  border: 1px solid #dedede;
  background-position:center 0;
  background-repeat;
  background-size:contain;
}

.matome-header,
.matome-entries{
  position:relative;
  z-index:10;
}
.matome .cover {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top:0;
  background-color: rgba(0, 0, 0, 0.3);
}

.matome-header{}

.matome-header .matome-word{
  margin:0;
  padding:30px 10px 10px;
  font-size: 2.8em;
  line-height: 1.2;
  text-align:center;
  text-shadow: 1px 0 2px rgba(0,0,0,0.7),0 1px 2px rgba(0,0,0,0.7);
}
.matome-header .matome-word a{
  color:#ffea00;
  text-decoration:underline;
}
.matome-header .matome-word a:hover{
  text-decoration:none;
}
.matome-subinfo{
  margin:0;
  padding:0 14px 25px;
}
.matome-subinfo .matome-summary{
  margin:0;
  padding:0;
  font-size: 1.2em;
  line-height: 1.25;
  color:#fff;
  font-weight: bold;
  text-shadow: 1px 0 2px rgba(0,0,0,0.7),0 1px 2px rgba(0,0,0,0.7);
}

.matome-entry-list {
  list-style:none;
  margin:0;
  padding:0;
  background:#fff;
}
.matome-entry-list .entry-item {
  margin: 0;
  padding: 8px 10px 7px 22px;
  background:url(../img/arrow-gray-circle.png) 9px 12px no-repeat;
  border-bottom: 1px solid #dedede;
  border-left: 4px solid #dedede;
}
.matome-entry-list .entry-item:last-child{
  border-bottom:none;
}
.matome-entry-list .entry-item a {
  display:block;
  text-decoration:none;
}
.matome-entry-list .entry-title {
  display:inline-block;
  margin:0;
  padding:0;
  font-size: 1.4em;
  line-height: 1.24;
  font-weight:normal;
  word-break: break-all;
}
.matome-entry-list .entry-item a .entry-title {
  color:#082E6B;
  text-decoration:none;
}
.matome-entry-list .entry-item a:hover .entry-title {
  text-decoration: underline;
}
.matome-entry-list .entry-item a:visited .entry-title {
  color: #641C88;
}

.matome-more-btn{
  text-align:right;
  background-color:#ebc62f;
}
.matome-more-btn a{
  display:inline-block;
  font-size:1.2em;
  font-weight:bold;
  color:#000;
  text-decoration:none;
}
.matome-more-btn a:hover{
  text-decoration:underline;
}
.matome-more-btn .arrow{
  display: inline-block;
  margin:0 0 0 10px;
  padding: 14px 10px;
  vertical-align: middle;
  background: #000 url(../img/arrow-white.png) center no-repeat;
}

/* ひと登場 */
.people{
  margin:0 0 15px 0;
  display:inline-block;
  width:340px;
  vertical-align:top;
}
.people-entry-list{
  list-style:none;
  margin:0;
  padding:0;
}
.people-entry-list .entry-item{
  margin: 0 0 8px 0;
  padding: 0 0 6px 0;
  border-bottom: 1px solid #dedede;
}
.people-entry-list .entry-item:last-child{
  padding:0;
  border-bottom:none;
}
.people-entry-list .entry-item a{
  display:block;
  text-decoration:none;
}
                         
/* 記事画像 */
.people-entry-list .entry-item .entry-photo{
  display:inline-block;
  width: 120px;
  height:85px;
  margin: 0 6px 0 0;
  padding:0;
  vertical-align:top;
  overflow:hidden;
  background: #efefef url(../../assets_common/img/common/icon-photo-m.png) center center no-repeat;
}
.people-entry-list .entry-item .entry-photo img{
  max-width: 100%;
}
.people-entry-list .entry-item .entry-parts-wrapp{
  display:inline-block;
  width: 233px;
}
.people-entry-list .entry-item .entry-title{
  display:block;
  margin:0 0 4px 0;
  padding:0;
  font-size:1.2em;
  line-height:1.45;
  word-break: break-all;
}

.people-entry-list .entry-item .entry-parts-wrapp{
  display:inline-block;
  width: 207px;
}

.people-entry-list .entry-item a .entry-title{
  color:#082E6B;
  font-weight:normal;
}
.people-entry-list .entry-item a:hover .entry-title{
  text-decoration:underline;
}
.people-entry-list .entry-item a:visited .entry-title{
  color: #641C88;
}

.people-entry-list .entry-item .entry-subinfo {}
.people-entry-list .entry-item .entry-date,
.people-entry-list .entry-item .entry-category{
  display:inline-block;
  font-size:1em;
  font-weight:bold;
  color:#808080;
}
                         
.people-more-btn{
  text-align:right;
}
.people-more-btn a{
  display:inline-block;
  padding:3px 8px;
  background-color:#b3b3b3;
  font-size:1.4em;
  font-weight:bold;
  color:#fff;
  border-radius:4px;
  text-decoration:none;
}
.people-more-btn a:hover{
  text-decoration:underline;
}
                         
