﻿            .F9 .sub-menu.MenuAccess, .F9 .tertiary-menu.MenuAccess{
                 opacity: 1;
                visibility: visible;
                transition-delay: 0s, 0s;
            }
            .F9 .tertiary-menu.MenuAccess {
                 display: block !important;

            }
               
            .F9 .menu-up.MenuAccessMenuUp{
                display: none !important;
            }
            .F9 .menu-over.MenuAccessMenuOver{
                display: block !important;
            }