.bennar {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.bennarr {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.special {
	BORDER-BOTTOM: #d8d8d8 0px solid; BORDER-LEFT: #d8d8d8 1px solid; BORDER-TOP: #d8d8d8 0px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.notice {
	BORDER-BOTTOM: #d8d8d8 0px solid; BORDER-LEFT: #d8d8d8 1px solid; BORDER-TOP: #d8d8d8 0px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.special {
	BORDER-BOTTOM: #d8d8d8 0px solid; BORDER-LEFT: #d8d8d8 1px solid; BORDER-TOP: #d8d8d8 0px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.header_left {
	WIDTH: 230px; FLOAT: left; HEIGHT: 160px
}
.tit_bg {
	WIDTH: auto; BACKGROUND: url(ico.gif) repeat-x 0px -34px; HEIGHT: 30px; OVERFLOW: hidden
}
.tit_left {
	WIDTH: 20px; BACKGROUND: url(ico.gif) no-repeat left top; FLOAT: left; HEIGHT: 30px
}
.tit_mid {
	LINE-HEIGHT: 30px; FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.tit_right {
	LINE-HEIGHT: 30px; WIDTH: 50px; BACKGROUND: url(ico.gif) right top; FLOAT: right; HEIGHT: 30px
}
.notice {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: 120px; CLEAR: both; PADDING-TOP: 10px
}
.notice LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 8px; BACKGROUND: url(li_bg.jpg) no-repeat left 50%
}
.container {
	POSITION: relative; WIDTH: 472px; FLOAT: left; HEIGHT: 160px; MARGIN-LEFT: 10px; OVERFLOW: hidden
}
.container .slider IMG {
	WIDTH: 472px; DISPLAY: block; HEIGHT: 160px
}
.container .slider {
	POSITION: absolute; WIDTH: 20000px
}
.container .slider LI {
	FLOAT: left
}
.container .num {
	POSITION: absolute; BOTTOM: 5px; RIGHT: 5px
}
.container .num LI {
	BORDER-BOTTOM: #ff7300 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ff7300 1px solid; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #fff; MARGIN: 3px 1px; WIDTH: 16px; FONT-FAMILY: Arial; FLOAT: left; HEIGHT: 16px; COLOR: #ff7300; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #ff7300 1px solid; CURSOR: pointer; BORDER-RIGHT: #ff7300 1px solid
}
.container .num LI.on {
	LINE-HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #ff7300; MARGIN: 0px 1px; WIDTH: 21px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; COLOR: #fff; FONT-SIZE: 16px; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold
}
.header_right {
	WIDTH: 258px; FLOAT: right; HEIGHT: 160px
}
.login {
	WIDTH: 258px; BACKGROUND: url(ico.gif) repeat-x 0px -196px; HEIGHT: 49px
}
.login .li_left {
	WIDTH: 15px; BACKGROUND: url(ico.gif) no-repeat 0px -144px; FLOAT: left; HEIGHT: 49px
}
.login .li_mid {
	LINE-HEIGHT: 49px; FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.login .li_mid A {
	TEXT-ALIGN: center; WIDTH: 116px; DISPLAY: block; BACKGROUND: url(ico2.gif) no-repeat 0px -177px; FLOAT: left; HEIGHT: 43px; COLOR: #da4901
}
.login .li_mid A:link {
	COLOR: #da4901; TEXT-DECORATION: none
}
.login .li_mid A:hover {
	TEXT-ALIGN: center; WIDTH: 116px; DISPLAY: block; BACKGROUND: url(ico2.gif) no-repeat 0px -128px; HEIGHT: 43px; COLOR: #fff; TEXT-DECORATION: none
}
.login .li_right {
	WIDTH: 10px; BACKGROUND: url(ico.gif) no-repeat -74px -144px; FLOAT: right; HEIGHT: 49px
}
.releasebox {
	MARGIN-TOP: 10px; WIDTH: 258px; HEIGHT: 101px; OVERFLOW: hidden
}
.release1 {
	LINE-HEIGHT: 28px; HEIGHT: 28px
}
.release2 {
	BORDER-RIGHT: #d8d8d8 1px solid
}
.release1 LI {
	BACKGROUND: #dbd9d9; FLOAT: left; OVERFLOW: hidden
}
.release1 LI SPAN {
	BORDER-BOTTOM: #d8d8d8 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d8d8d8 1px solid; WIDTH: 63px; DISPLAY: block; BACKGROUND: #f6f6f6; FLOAT: left; HEIGHT: 28px; BORDER-TOP: #d8d8d8 1px solid; CURSOR: pointer; BORDER-RIGHT: #d8d8d8 0px solid
}
.release1 LI.on {
	BORDER-BOTTOM-STYLE: none; BACKGROUND-COLOR: #fff; WIDTH: 63px; DISPLAY: block; HEIGHT: 29px; COLOR: #ff0000; BORDER-TOP: #ff6600 1px solid; FONT-WEIGHT: bold
}
.release1 LI.on SPAN {
	BORDER-BOTTOM-STYLE: none; BACKGROUND-COLOR: #fff; WIDTH: 63px; DISPLAY: block; HEIGHT: 29px; COLOR: #ff0000; BORDER-TOP: #ff6600 1px solid; FONT-WEIGHT: bold
}
.megfr {
	WIDTH: 258px; HEIGHT: 71px; OVERFLOW: hidden
}
.megfritem {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 14px; WIDTH: 240px; PADDING-RIGHT: 0px; HEIGHT: 60px; OVERFLOW: hidden; BORDER-TOP: #d8d8d8 1px; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 10px
}
.megfritem .meg LI {
	LINE-HEIGHT: 160%; MARGIN-TOP: 5px; PADDING-LEFT: 8px; WIDTH: 90px; BACKGROUND: url(li_bg.jpg) no-repeat left 50%; FLOAT: left
}
.bk2 {
	_margin-top: -2px
}
.special {
	BORDER-BOTTOM: #d8d8d8 1px solid; WIDTH: 228px; FLOAT: left; HEIGHT: 173px
}
.special .tetlebg {
	BACKGROUND: url(ico.gif) repeat-x 0px -286px; HEIGHT: 30px; OVERFLOW: hidden
}
.special .tit {
	LINE-HEIGHT: 33px; PADDING-LEFT: 20px; FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.special .more {
	LINE-HEIGHT: 30px; PADDING-RIGHT: 10px; FLOAT: right
}
.centent {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 10px
}
.centent IMG {
	PADDING-RIGHT: 10px; FLOAT: left
}
.adbuy {
	WIDTH: 472px; FLOAT: left; HEIGHT: 174px; MARGIN-LEFT: 10px
}
.textad {
	WIDTH: 472px; HEIGHT: 28px
}
.textad UL {
	PADDING-TOP: 5px
}
.textad UL {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.txtadvli_1 {
	FLOAT: left
}
.txtadvli_2 {
	FLOAT: right
}
.hotbuy {
	WIDTH: 472px; HEIGHT: 144px
}
.hotbuy .newbuy {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px
}
.hotbuy .tit_right2 {
	LINE-HEIGHT: 30px; WIDTH: 10px; BACKGROUND: url(ico.gif) right top; FLOAT: right; HEIGHT: 30px
}
.hotbuy .purchase {
	MARGIN-TOP: 5px; FLOAT: right
}
.centent1 {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; WIDTH: 470px; HEIGHT: 115px; BORDER-TOP: #d8d8d8 1px; BORDER-RIGHT: #d8d8d8 1px solid
}
.centent1 UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 220px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 6px
}
.company {
	MARGIN-TOP: 10px; WIDTH: 257px; FLOAT: right; HEIGHT: 163px
}
.company .combox {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 127px; BORDER-TOP: #d8d8d8 1px; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 6px
}
.company .combox SPAN {
	FLOAT: right
}
.company .combox LI {
	PADDING-LEFT: 8px; BACKGROUND: url(li_bg.jpg) no-repeat left 50%
}
.ad2 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.leftbox {
	WIDTH: 712px; FLOAT: left
}
.leftbox .class_top {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; WIDTH: 712px; BACKGROUND: url(ico3.gif) repeat-x 0px -70px; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.leftbox .class_top LI {
	LINE-HEIGHT: 30px; FLOAT: left
}
.leftbox .class_top .ul_bg {
	BORDER-BOTTOM: #f27b04 3px solid; HEIGHT: 29px
}
.leftbox .class_top .ul_bg LI SPAN {
	PADDING-RIGHT: 10px
}
.leftbox .class_top .li_bg {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; MARGIN: 6px 25px 0px 5px; WIDTH: 92px; BACKGROUND: url(ico3.gif) no-repeat left top; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 14px; _margin-left: 3px
}
.leftbox .class_top .brand {
	PADDING-LEFT: 18px; BACKGROUND: url(ico1.gif) no-repeat 0px -142px; FLOAT: right; HEIGHT: 28px
}
.menuAbc {
	POSITION: relative; BACKGROUND-COLOR: #f7f7f7; WIDTH: 711px; TOP: 0px; LEFT: 0px
}
.menuAbc .charindex {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: helvetica,arial; BACKGROUND-POSITION: 0px -280px; HEIGHT: 30px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.menuAbc .charindex UL {
	Z-INDEX: 13; POSITION: relative; WIDTH: 100%; HEIGHT: 30px; OVERFLOW: hidden; TOP: 1px
}
.menuAbc .charindex LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 23px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.menuAbc .charindex .letter {
	PADDING-LEFT: 5px; WIDTH: 85px; FONT-WEIGHT: bold
}
.menuAbc .charindex LI.t {
	WIDTH: 85px
}
.menuAbc .charindex STRONG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.menuAbc .charindex SPAN {
	LINE-HEIGHT: 26px; DISPLAY: inline-block; HEIGHT: 28px; COLOR: #666666; CURSOR: pointer; FONT-WEIGHT: bold
}
.menuAbc .charindex SPAN.on {
	BORDER-BOTTOM: #fff6de 1px solid; BORDER-LEFT: #eab295 1px solid; BACKGROUND-COLOR: #fff6de; WIDTH: 21px; BORDER-TOP: #eab295 1px solid; BORDER-RIGHT: #eab295 1px solid
}
.menuAbc .charcont {
	Z-INDEX: 10; BORDER-BOTTOM: #eab295 1px solid; POSITION: absolute; BORDER-LEFT: #eab295 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #fff6de; PADDING-LEFT: 5px; WIDTH: 702px; PADDING-RIGHT: 5px; FONT-SIZE: 12px; BORDER-TOP: #eab295 1px solid; TOP: 30px; BORDER-RIGHT: #eab295 1px solid; PADDING-TOP: 5px; LEFT: -1px
}
.menuAbc .charcont LI {
	TEXT-ALIGN: center; WIDTH: 103px; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
.menuAbc .charcont LI.none {
	TEXT-ALIGN: center; WIDTH: 100%; OVERFLOW: visible
}
.material {
	BORDER-BOTTOM: #ccc 1px dotted; WIDTH: 713px; HEIGHT: 166px; OVERFLOW: hidden; BORDER-RIGHT: #d8d8d8 1px solid
}
.materialdi {
	BORDER-BOTTOM: #ccc 1px solid
}
.material:hover {
	Z-INDEX: 24; BORDER-BOTTOM: #f37e08 1px solid; POSITION: relative; BORDER-LEFT: #f37e08 1px solid; MARGIN: -1px; BACKGROUND: #fffce1 0px 0px; BORDER-TOP: #f37e08 1px solid; BORDER-RIGHT: #f37e08 1px solid
}
.materialhover {
	Z-INDEX: 24; BORDER-BOTTOM: #f37e08 1px solid; POSITION: relative; BORDER-LEFT: #f37e08 1px solid; MARGIN: -1px; BACKGROUND: #fffce1 0px 0px; BORDER-TOP: #f37e08 1px solid; BORDER-RIGHT: #f37e08 1px solid
}
.material .libg {
	LINE-HEIGHT: 25px; PADDING-LEFT: 10px; WIDTH: 34px; BACKGROUND: url(material_bg.jpg) repeat-y; FLOAT: left; HEIGHT: 196px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.material .find {
	PADDING-LEFT: 17px; BACKGROUND: url(ico1.gif) no-repeat 0px -19px
}
.material .mid {
	PADDING-TOP: 50px
}
.materialBor {
	BACKGROUND: #f6f6f6; CURSOR: pointer
}
.category {
	MARGIN-LEFT: 50px
}
.category P {
	PADDING-BOTTOM: 3px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.category LI {
	LINE-HEIGHT: 19px; PADDING-LEFT: 10px; WIDTH: 320px; FLOAT: left; COLOR: #666; OVERFLOW: hidden; PADDING-TOP: 15px
}
.category LI A {
	MARGIN: 0px 5px
}
.rightbox {
	WIDTH: 258px; FLOAT: right
}
.newstab {
	WIDTH: 258px
}
.newstab .titbg {
	WIDTH: 11px; BACKGROUND: url(ico.gif) no-repeat 0px -252px; FLOAT: left; HEIGHT: 30px
}
.newstab .titbg1 {
	LINE-HEIGHT: 30px; WIDTH: auto; BACKGROUND: url(ico.gif) repeat-x 0px -286px; HEIGHT: 30px; OVERFLOW: hidden
}
.newstab .titbg2 {
	WIDTH: 9px; BACKGROUND: url(ico.gif) no-repeat -75px -252px; FLOAT: right; HEIGHT: 30px
}
.newstab .tit_more {
	PADDING-RIGHT: 4px; FLOAT: right
}
.inform {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #d8d8d8 1px; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 6px
}
.inform LI {
	LINE-HEIGHT: 22px
}
.inform LI B {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px
}
.rightad {
	MARGIN: 10px 0px; WIDTH: 258px; HEIGHT: 103px
}
.exhibition {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 7px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: #d8d8d8 0px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 8px; _padding: 8px 8px 4px 8px
}
.exhibition .hotexbt {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.exhibition LI {
	LINE-HEIGHT: 18px
}
.mt10 {
	MARGIN-TOP: 10px
}
.exnr {
	MARGIN-TOP: 10px; CLEAR: both; BORDER-TOP: #d8d8d8 1px dotted; PADDING-TOP: 8px
}
.exnr SPAN {
	FLOAT: right
}
.exnr LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 8px; BACKGROUND: url(li_bg.jpg) no-repeat left 50%
}
.adleft {
	WIDTH: 712px; FLOAT: left
}
.adright {
	WIDTH: 258px; FLOAT: right
}
.qcclear {
	HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden
}
.recommend {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; BACKGROUND: url(ico3.gif) repeat-x 0px -76px; FLOAT: left; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.recommend .ul_bg {
	BORDER-BOTTOM: #f27b04 3px solid; WIDTH: 712px; FLOAT: left; HEIGHT: 24px; PADDING-TOP: 3px
}
.recommend .ul_bg UL {
	PADDING-LEFT: 5px; FLOAT: left; HEIGHT: 24px; OVERFLOW: hidden
}
.recommend .ul_bg LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; WIDTH: 92px; DISPLAY: block; FLOAT: left; HEIGHT: 24px; COLOR: #666; CURSOR: pointer
}
.recommend .ul_bg LI.on {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 92px; BACKGROUND: url(ico3.gif) no-repeat left top; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.recommend .ul_bg SPAN {
	TEXT-ALIGN: right; LINE-HEIGHT: 24px; WIDTH: 150px; FLOAT: right; HEIGHT: 24px; FONT-SIZE: 12px; MARGIN-RIGHT: 10px
}
.proshow {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 712px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 18px
}

.proshow1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 712px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 18px
}
.proshow IMG {
	BORDER-BOTTOM: #cfcfcf 1px solid; BORDER-LEFT: #cfcfcf 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 83px; PADDING-RIGHT: 1px; FLOAT: left; HEIGHT: 84px; BORDER-TOP: #cfcfcf 1px solid; BORDER-RIGHT: #cfcfcf 1px solid; PADDING-TOP: 1px
}

.proshow1 IMG {
	BORDER-BOTTOM: #cfcfcf 1px solid; BORDER-LEFT: #cfcfcf 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 83px; PADDING-RIGHT: 1px; FLOAT: left; HEIGHT: 84px; BORDER-TOP: #cfcfcf 1px solid; BORDER-RIGHT: #cfcfcf 1px solid; PADDING-TOP: 1px
}
.proshow UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 27px; WIDTH: 85px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}

.proshow1 UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 27px; WIDTH: 85px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.proshow P {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; WIDTH: 84px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 38px; PADDING-TOP: 0px
}

.proshow1 P {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; WIDTH: 84px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 38px; PADDING-TOP: 0px
}
.newstab .job {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 236px; PADDING-RIGHT: 10px; FLOAT: left; BORDER-TOP: #d8d8d8 1px; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 6px
}
.newstab .job LI SPAN {
	DISPLAY: block; FLOAT: left
}
.newstab .job LI .w {
	WIDTH: 110px
}
.newstab .job LI .w1 {
	WIDTH: 75px
}
.newstab .job LI .w2 {
	TEXT-ALIGN: right; WIDTH: 35px
}
.s_mainbox {
	WIDTH: 352px; FLOAT: left
}

.s_centent {
	WIDTH: 330px; FLOAT: left; PADDING-TOP: 10px
}
.s_centent IMG {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; FLOAT: left; BORDER-TOP: #d8d8d8 1px solid; MARGIN-RIGHT: 10px; BORDER-RIGHT: #d8d8d8 1px solid
}
.nrlb {
	MARGIN-TOP: -4px; FLOAT: left
}
.nrlb LI {
	LINE-HEIGHT: 20px; PADDING-LEFT: 8px; BACKGROUND: url(li_bg.jpg) no-repeat left 50%
}
.ml10 {
	MARGIN-LEFT: 10px
}
.figure {
	WIDTH: 258px; FLOAT: right
}
.s_centent1 {
	WIDTH: 236px; FLOAT: left; PADDING-TOP: 10px
}
.s_inform {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #d8d8d8 1px; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 10px
}
.comy {
	FLOAT: left; WIDTH: 714px
}
.title-1 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.ft-1 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.title-2 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.fb-btn A {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.fb-btn A:hover {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.ft-2 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.title-3 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.title-3 UL LI.k1 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.title-3 UL LI.k2 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.title-3 UL LI.k3 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.title-3 UL LI.k4 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.ft-3 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.title-4 {
	BACKGROUND: url(sjw_head4.png) no-repeat
}
.listclass {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.title-6 {
	BACKGROUND: url(sjw_head2.png) no-repeat
}
.title-7 {
	BACKGROUND: url(sjw_head4.png) no-repeat
}
.title-7 {
	BACKGROUND-POSITION: 0px 0px; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: right
}
.title-7 H3 {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; FLOAT: left
}
.title-7 SPAN {
	PADDING-RIGHT: 10px
}
.title-7 A {
	PADDING-LEFT: 8px
}
.title-1 {
	BACKGROUND-POSITION: 0px -124px; OVERFLOW: hidden; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: right
}
.title-1 H3 {
	PADDING-LEFT: 16px; FONT-SIZE: 14px; FLOAT: left; COLOR: #333
}
.title-1 SPAN {
	MARGIN-RIGHT: 10px
}
.brd {
	BORDER-RIGHT: #cfdae4 1px solid; BORDER-TOP: #cfdae4 1px; BORDER-LEFT: #cfdae4 1px solid; BORDER-BOTTOM: #cfdae4 1px solid
}
.ct-13 {
	OVERFLOW: hidden; HEIGHT: 180px
}
.ct-14 {
	OVERFLOW: hidden; HEIGHT: 180px
}
.title-4 SPAN {
	MARGIN-RIGHT: 10px
}
.title-4 SPAN A:hover {
	COLOR: #f60
}
.title-4 {
	BACKGROUND-POSITION: 0px -83px; OVERFLOW: hidden; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: right
}
.title-4 SPAN A {
	COLOR: #065ba5
}
.title-4 H3 {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; FLOAT: left
}
.sq-tp {
	BORDER-RIGHT: #eaeaea 1px dotted; DISPLAY: inline; FLOAT: left; MARGIN: 6px 6px 0px 10px; WIDTH: 330px; HEIGHT: 170px
}
.sq-nr {
	MARGIN-TOP: 8px
}
.sq-nr IMG {
	BORDER-RIGHT: #eaeaea 1px solid; BORDER-TOP: #eaeaea 1px solid; FLOAT: left; BORDER-LEFT: #eaeaea 1px solid; WIDTH: 100px; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #eaeaea 1px solid; HEIGHT: 70px
}
.sq-nr UL {
	FLOAT: left; WIDTH: 200px
}
.sq-nr LI {

}
.sq-nr LI.sq-tit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.sq-nr A {
	COLOR: #333; TEXT-DECORATION: none
}
.sq-nr A:hover {
	COLOR: #333; TEXT-DECORATION: none
}
.sq-bt P {
	PADDING-BOTTOM: 8px; TEXT-ALIGN: center
}
.sq-list {
	DISPLAY: inline; FLOAT: right; MARGIN: 2px 2px 0px 0px; WIDTH: 360px
}
.sq-list LI {
	HEIGHT: 21px
}
.sq-list LI I {
	MARGIN-RIGHT: 0px
}
.clr {
	ZOOM: 1
}
.school {
	FLOAT: right; WIDTH: 258px
}

.margin5 {
	margin: 5px;
}
.c {
	CLEAR: both; OVERFLOW: visible
}
A.pl {
	FLOAT: left; LINE-HEIGHT: 20px; TEXT-ALIGN: center
}
.pl A {
	FLOAT: left; LINE-HEIGHT: 20px; TEXT-ALIGN: center
}
.pl IMG {
	DISPLAY: block; CURSOR: pointer
}
.smpl {
	MARGIN: 0px 10px 0px 5px; _margin-right: 7px
}
.smpl IMG {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid
}
.l20 {
	LINE-HEIGHT: 20px
}
.huikuang{border: 1px solid #cccccc;}

.bt3 {
	background-image: url(/images/home/bt3.jpg);
	background-repeat: repeat-x;
	height: 27px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #41B64D;
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
	color: #000000;
	text-indent: 10px;
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	FONT-SIZE: 100%
}
.sq-nr LI.sq-tit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.sq-nr LI.sq-tit A {
	COLOR: #065ba5
}
.sq-nr LI.sq-tit A:hover {
	COLOR: #f60
}
H4 {
	FONT-SIZE: 100%
}
I {
	FONT-STYLE: normal
}
.mr8 {
	margin-right: 8px!important;margin-right: 8px;
}

}
.middlead {
	margin: 0px;
	padding: 0px;
}
.middlead li {
	float: left;
	width: 156px;
	height: 50px;

		margin-bottom: 4px;

	margin-top: 4px;
}
.width980 {
	float: left;
	width: 980px;
	margin-top: 4px;
	PADDING-BOTTOM: 8px;
}


