
body {
	margin: 0;
}

.section_bar {
	height: 80px;
	width: 100%;
	max-width: 980px;
	margin-bottom: 0px;
	position: relative;
	margin-bottom: 16px;
}

.section_icon {
	margin-top: 10px;
	width: 60px;
	height: 60px;
	float: left;
	cursor: pointer;
}

.section_title {
	float: left;
	cursor: pointer;
}

.section_title h3 {
	font-family: 'Roboto' !important;
	font-size: 29px !important;
	margin: 10px 0px 0px 20px;
	font-weight: 600;
	line-height: 1.2;
	color: white !important;
}

.section_title p {
	font-family: 'Roboto' !important;
	font-size: 16px !important;
	margin: 3px 0px 15px 20px;
	font-weight: 300;
	line-height: 1.4;
}


.section_meta {
	float: right;
	padding: 15px 0px 15px 0px;
}



.section_bar {
	background-color: #a00a0c;
}

.section_icon {
	float: right;
	background-color: #a00a0c;
	width: auto !important;
}

.section_icon img {
	width: 100%;
	max-width: 153px;
}

.section_title {
	color: white !important;
}

@media screen and (max-width:880px) {
	.section_bar {
		float: left;
		height: auto;
	}
	.section_icon {
		height: 50px;
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	.section_icon img {
		max-width: 128px;
	}
	.section_title h3 {
		font-size: 20px !important;
		margin: 15px 20px 10px 20px;
	}
	.section_title p {
		font-size: 14px !important;
	}
	#mobile-nav-down {
		display: block;
	}
	.section_meta {
		border-color: #333333;
		background: #eaeaea;
	}
	.section_link {
		border-color: #333333;
	}
	.section_link:last-child {
		border-bottom: 1px solid;
		border-color: #333333 !important;
	}
	.section_link:hover {
		background: #d7d7d7 !important;
	}
}

@media screen and (max-width:600px) {
	.section_icon {
		margin-top: 0px;
		float: left;
	}
}