  /**********************************************************************
  * xSharePro.com Script
  * Copyright © 2012 xSharePro.com All Rights Reserved.
  **********************************************************************
  * IMPORTANT: The copyright notice in the footer must not be removed
  * and is a legal includement for operating this software.
  * Redistribution of this code in any form IS NOT ALLOWED.  You are
  * given permission to run it on a single site only.  Any infringement
  * will result in prosecution.  Full details of the license granted
  * can be found on www.xsharepro.com.
  * Created Date: 25-06-2012
  * Last Modified: 18-07-2012
  *********************************************************************/
/* CSS Document */
a
{
	text-decoration:none;
	color:#373737;
}
a:active
{
	text-decoration:none;
	color:#373737;
}

.table_head
{
	background:url(../images/center.jpg) repeat-x;
	height:33px;
	width:auto;	
}

.table_left_head
{
	background:url(../images/left.jpg) no-repeat;
	background-position:left top;
	vertical-align:middle;
	font-size:11px;
	font-weight:bold;
	color:#161616;
	text-align:center;
}

.table_right_head
{
	background:url(../images/right.jpg) no-repeat;
	background-position:right top;
	vertical-align:middle;
	font-size:11px;
	font-weight:bold;
	color:#161616;
	text-align:center;
}
.table_right_head a
{
	color:#161616;
}

.table_left_head a
{
	color:#161616;
}

.c_table_head{
	
	vertical-align:middle;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	text-align:center;
}

.c_table_head a
{
	color:#161616;	
}

.c_table_tr{
		vertical-align:middle;
		background-color:#ffffff;
		border-bottom: 1px solid #c6c6c6;
		border-left:1px solid #c6c6c6;
		border-right:1px solid #c6c6c6;
		color:#373737;
		font-size:11px;
		font-weight:normal;
		height:28px;
}

.c_table_tr:hover{
		background-color:#fcfcf5;
}

.c_table_tr2{
		vertical-align:middle;
		background-color:#eeeeee;
		border-bottom: 1px solid #c6c6c6;
		border-left:1px solid #c6c6c6;
		border-right:1px solid #c6c6c6;
		color:#373737;
		font-size:11px;
		font-weight:normal;
		height:28px;
}

.c_table_tr2:hover{
		background-color:#fcfcf5;
}

.c_table_row_left
{
	vertical-align:middle;
	border-bottom: 1px solid #c6c6c6;
	text-align:center;
	border-left:1px solid #c6c6c6;
}

.c_table_row_right
{
	vertical-align:middle;
	border-bottom: 1px solid #c6c6c6;
	text-align:center;
	border-right:1px solid #c6c6c6;
	border-left:1px solid #c6c6c6;
}

.c_table_row{
		vertical-align:middle;
		border-bottom: 1px solid #c6c6c6;
		border-left:1px solid #c6c6c6;
		text-align:center;
		
}

.table_action
{
	vertical-align:middle;
	border-bottom: 1px solid #c6c6c6;
	text-align:center;
	border-left:solid 1px #c6c6c6;
}


.new_button
{
	background:url(../images/button.png) no-repeat;
	border:none;
    display:inline-block;
    height:23px;
    width:72px;
	font-size:11px;
	color:#1e1e1e;
	text-shadow:1px 0px 0px #dadada;
	text-decoration:none;
	text-align:center;
	padding-top:4px;
}

.new_button_big
{
	background:url(../images/big_button.png) no-repeat;
	border:none;
    display:inline-block;
    height:23px;
    width:155px;
	font-size:11px;
	color:#1e1e1e;
	text-shadow:1px 0px 0px #dadada;
	text-decoration:none;
	text-align:center;
	padding-top:4px;
}

.submit_button_link{
background-color: #83b827 !important;
background-position: left top;
background-repeat: no-repeat;
border: medium none;
border-radius: 4px;
color: #fff;
display: inline-block;
font-size: 15px;
font-weight: bold;
padding: 10px 15px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
}

.big_button{
	font-size:11px;
	color:#1e1e1e;
	text-shadow:1px 0px 0px #dadada;
	text-decoration:none;
	background-image:url(../images/big_button.png);
	background-position:left top;
	background-repeat:no-repeat;
	height:23px;
	width:155px;
	border:none;
	text-align:center;
	padding:0px;
	padding-top:4px;
	padding-bottom:5px;
	padding-top:0px\9;
	padding-bottom:0px\9;
	background-color:#fff;
	display:inline-block;
}
.form_head
{
	background:url(../images/center.jpg) repeat-x;
	color: #FFFFFF;
    vertical-align:middle;
	font-size:13px;
	font-weight:bold;
	color:#161616;
	text-align:center;
	height:33px;
}

.form_head_left
{
	background:url(../images/left.jpg) no-repeat;
	background-position:left top;
	vertical-align:middle;
	font-size:13px;
	font-weight:bold;
	color:#161616;
	text-align:center;
	width:5px;
	width:0.75px\9;
}

.form_head_right
{
	background:url(../images/right.jpg) no-repeat;
	background-position:right top;
	vertical-align:middle;
	font-size:13px;
	font-weight:bold;
	color:#161616;
	text-align:center;
	width:5px;
	width:0.75px\9;
}


.form_border_td
{
	border-left:1px solid #c6c6c6;
	border-right:1px solid #c6c6c6;
	border-bottom:1px solid #c6c6c6;
	padding: 24px;
}

.form_border_td TD 
{
padding: 8px 6px;
}
#captchatext {
	border:1px solid #a8acad;
}

.form_spacer
{
	height:7px;
}

.form_lable
{
	color:#373737;
	font-size:12px;
	font-weight:bold;
}

.form_lable_top
{
	color:#373737;
	font-size:11px;
	font-weight:bold;
	vertical-align:top;
}
.txtbox_small
{
	width:85px;
	border:1px solid #a8acad;
}
.txtbox_med
{
	border-radius: 2px;
	-moz-border-radius: 2px;
	color: #aaa;
	box-shadow: inset 0 2px 0 rgba(0,0,0,0.03);
	transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s;
	-webkit-transition: box-shadow 0.5s;
	-o-transition: box-shadow 0.5s;
	width:250px;
	border:1px solid #a8acad;
	padding:5px;
}
.txtbox_large
{
	width:350px;
	border:1px solid #a8acad;
}


.txtarea
{
	border:1px solid #a8acad;
}

textarea
{
	border:1px solid #a8acad;
}

.spacer{
	height:15px;
}

/*faq css*/
.faq_head
{
	background-color:#ededed;
	border:1px solid #c6c6c6;
	margin-bottom:13px;
	padding:8px;
}
.faq_head_category
{
	font-family:Tahoma;
	font-size:15px;
	font-weight:bold;
	color:#373737;
}
.faq_line
{
	background:url(../images/line.jpg) repeat-x;
	height:2px;
}

.faq_bullet
{
	background:url(../images/bullet.png) no-repeat;
	width:9px;
	height:9px;
	display:inline-block;
}

.faq_head_category_question
{
	display:inline-block;
	color:#373737;
	font-size:12px;
}

.faq_head_category_question a
{
	color:#373737;
	font-size:12px;
}

.faq_category
{
	font-size:15px;
	color:#373737;
	font-weight:bold;
}

.faq_question
{
	font-size:12px;
	color:#373737;
	font-weight:bold;
}
.faq_answer
{
	font-size:12px;
	color:#373737;
}
.top_link
{
	float:right;
	
}
.top_link a
{
	font-size:12px;
	color:#373737;
	text-shadow:1px 1px 1px #4d4d4d; 
}
/*end of faq css*/


/*news css*/
.news_line
{
	margin:5px 8px 5px 8px;
	background:url(../images/line.jpg) repeat-x;
	height:2px;
}

.news_main
{
	margin:5px 8px 5px 8px;
}

.news_title
{
	color: #373737;
    font-size:14px;
    font-style:italic;
    font-weight:bold;
    text-align:left;
    text-decoration:underline;
}

.news_content
{
	color:#373737;
	font-size:12px;
	text-align:left;
}

.news_date
{
	text-align:left;
	color:#373737;
	font-size:12px;
	float:left;
}

.news_date_head
{
	color:#373737;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	float:left;
}
/*end of news css*/

/*testimonial css*/
.testimonial_content
{
	font-size:11px;
	color:#373737;
}

.testimonial_name
{
	text-align:right;
	font-weight:bold;
	font-size:11px;
	color:#373737;
}
/*end of testimonial css*/

/*products css*/
.pro_head
{
	font-size:13px;
	font-weight:bold;
}

.pro_content
{
	font-size:12px;
	margin-top:5px;
}

.add_cart
{
	background:url(../images/add_cart.png) no-repeat;
	border:none;
    height:24px;
    width:102px;
	display:block;
}

.remove_cart
{
	background:url(../images/remove_cart.png) no-repeat;
	border:none;
    height:24px;
    width:123px;
	display:block;
}

/*end of products css*/

/*public ticket and member ticket css*/
.ticket_content
{
	border-bottom: 1px solid #C6C6C6;
    border-left: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    text-align:left;
    vertical-align: middle;
	padding:10px;
}
/*public ticket and member ticket css*/

.required
{
	background:url(../images/req.png) no-repeat;
	border:none;	
	height:10px;
	width:10px;
	display:inline-block;
	vertical-align:top;
	margin-top:5px;
	margin-left:3px;
}

/*captcha css*/
.captcha_img
{
	float:left;
}
.captcha_refresh
{
	float:left;
	margin-top:25px;
}

.captcha_refresh a
{
	display:inline-block;
}
/*end of captcha css*/

/*pegging and result per page css*/
.pagging
{
	text-align:center;
	width:100%;
	margin-top:10px;
}
.display_record
{
	color:#494E53;
	margin-bottom:2px;
}
.result_per_pg
{
	text-align:right;
	margin-top:5px;
}
.result_per_pg b
{
	color:#494E53;

}

.other_pg
{
	width:18px;
	height:18px;
	color:#464646;
	font-size:10px;
	text-decoration:none;
	background:url(../images/pg.png) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
	padding:0px;
	margin:0px;
	margin-right:5px;


}
.current_pg
{
	width:18px;
	height:18px;
	color:#252525;
	font-size:10px;
	text-decoration:none;
	background:url(../images/pg_current.png) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
	padding:0px;
	margin:0px;
	margin-right:5px;
}

.other_pg2
{
	width:26px;
	height:18px;
	color:#464646;
	font-size:10px;
	text-decoration:none;
	background:url(../images/pg2.png) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
	padding:0px;
	margin:0px;
	margin-right:5px;


}
.current_pg2
{
	width:26px;
	height:18px;
	color:#252525;
	font-size:10px;
	text-decoration:none;
	background:url(../images/pg_current2.png) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
	padding:0px;
	margin:0px;
	margin-right:5px;
}


.other
{
	width:26px;
	line-height:26px;
	color:#252525;
	font-size:12px;
	text-decoration:none;
	padding-right:2px;
	background:url(../images/page.jpg) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
}

.current
{
	width:26px;
	line-height:26px;
	color:#252525;
	font-size:12px;
	text-decoration:none;
	padding-right:2px;
	background:url(../images/page_current.jpg) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
}

.next
{
	width:26px;
	line-height:26px;
	color:#252525;
	font-size:12px;
	text-decoration:none;
	padding-right:2px;
	background:url(../images/next.jpg) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
}

.last
{
	width:26px;
	line-height:26px;
	color:#252525;
	font-size:12px;
	text-decoration:none;
	padding-right:2px;
	background:url(../images/last.jpg) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
}

.first
{
	width:26px;
	line-height:26px;
	color:#252525;
	font-size:12px;
	text-decoration:none;
	padding-right:2px;
	background:url(../images/first.jpg) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
}

.pre
{
	width:26px;
	line-height:26px;
	color:#252525;
	font-size:12px;
	text-decoration:none;
	padding-right:2px;
	background:url(../images/pre.jpg) no-repeat;
	border:none;
	text-align:center;
	display:inline-block;
}
/*end of pegging and result per page css*/

/*Display  Through  Records css*/
.display_record
{
	color:#494E53;
	margin-bottom:2px;
}

/*end of Display  Through  Records css*/

/*forced level page css*/
.forced_level_main
{
	text-align:center;
	width:100%;
	border:1 px dashed;
}
.forced_level
{
	background-color:#E9E9E9;
    border:1px solid #C6C6C6;
    border-radius:6px 6px 6px 6px;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

.level_title
{
	margin-top:5px;
	margin-bottom:5px;
	color:#1E1E1E;
}

/*end of forced level page css*/

/*background shadow image css*/
.test_gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 0 13px;
	float: left;
	position: relative;
}

.test_gallery span {
    background:url(../images/glosy.png) no-repeat scroll center bottom transparent;
	display: block;
    height:80px;
	width: 114px;
    left: 12px;
    margin-left: -7px;
    position: absolute;
    top:-1px;;
    
}

.product_gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 5px 0px;
	padding: 0 12px;
	float: left;
	position: relative;
}
.product_gallery span
{
	background: url(../images/product_glosy.png) no-repeat scroll center bottom transparent;
    display: block;
    height: 109px;
	width: 164px;
    left: 12px;
    margin-left: -13px;
    position: absolute;
    top: 0;
    
}

/*background shadow image css*/

.statistics_heading
{
	font-weight:bold;
	font-size:11px;
}

.statistics_sub_heading
{
	font-weight:bold;
	font-weight:normal;
}

.statistics_hr{
	height:10px;
}

.statistics_text hr{
	display:none;
}

/*landing page and splash page css*/
.image_div{height:108px;line-height:108px;margin-top:11px;width:100%;}
.landing_title{margin:left:14px;line-height:111px;text-align:left;}
.landing_text{background-color:#EEEEEE; border:1px solid #c7c7c7; height:42px; margin-left:14px; margin-top: 11px; width: 96%;}
.landing_code{float:left;text-align:left;margin-left:11px;margin-top:16px;height:44px;}
.landing_textarea{width:524px;height:23px;margin:7px 0px 0px 14px;float:left;background-color:#FFFFFF;text-align:center;}
.landing_textarea textarea{border: medium none;height: 24px;margin-top: -1px;padding-top:6px;padding-left:14px;width: 538px;}
/*landing page and splash page css*/


.footer-tax-bg
{
	text-align:center;
}

/*New Css Start*/
.counter_display
{
	float:left;
	width:123px;
	border:none;
	font-size:11px;
	color:#707070;
}
.click-today 
{ 
	/*border-radius:5px;
	border: solid 1px #dadad9;*/
	border:1px solid #E4E4E4;
	margin: 28px 0;
}
.click-bg
{
	background-color:#E4E4E4;
}
.stop 
{
	width:70px !important; 
	float:left;
	background: #ffffff;
}
.click-text 
{ 
	float:left; 
	float:none;
	font-family:Arial; 
	font-size:19px; 
	font-weight:bold; 
	color:#5b5b5b;
	width:160px;
	padding:10px 10px 0px 10px;
	text-shadow:2px 0px 0px #ffffff;
	vertical-align:middle;
}
.redtext-color
{
	color:#c62a01;
}
.greentext-color
{
	color:green;
}
.goldtext-color
{
	color:#ffd700;
}

.watch
{
	width:70px;
	height:80px;
	float:left;
}
.next-time
{
	font-family:Arial;
	font-size:15px;
	float:left;
	float:none;
	color:#5b5b5b;
	padding-left:5px;
	padding-right:20px;
	background-color:#E4E4E4;
}
.next-time-font
{
	font-weight:bold;
	padding-top:7px;
}
.next-time-font a
{
	font-weight:bold;
	padding-top:7px;
	text-decoration:none;
	color:#5b5b5b;
}
.border-bot
{
	border-bottom:1px solid #c2c2c2;
	padding-bottom:3px;
}
.next-time-font-small
{
	font-size:12px;
	padding-top:3px;
}
.overview
{
	font-family:Verdana;
	font-size:11px;
	color:#707070;
}
.overview-in
{
	border-left:1px solid #dadada;
	border-right:1px solid #dadada;
	border-bottom:1px solid #dadada;
	padding-top:8px;
	padding-bottom:8px;
	font-size:12px;
}
.overview-table
{
	background-color:#eeeeee;
	padding:10px;
	border:1px solid #dadada;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	line-height:20px;
	margin-top:5px;
}
.overview-table2
{
	background-color:#eeeeee;
	border:1px solid #dadada;
	border-bottom:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	line-height:20px;
	margin-top:5px;
}
.overview-table2 tr td
{
	height:30px;
	border-bottom:1px solid #dadada;
	width:50%;
}
.overview-table2 tr td:first-child
{
	border-right:1px solid #dadada;
}
.overview-inner-detail
{
	border-top:1px solid #dadada;
	background-color:#fafafa;
	padding:3px;
	margin-top:10px;
}
.member-photo
{
	width:57px;
	height:44px;
	border:1px solid #dadada;
}
.white-tr
{
	background-color:#ffffff;
}
.chart
{
	height:344px;
	width:99%;
	margin-top:15px;
	border:1px solid #dadada;
	border-radius:5px;
	background-color:#eeeeee;
	margin-bottom:5px;
}
.user-name-text {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #414144;
}
.use-box {
	background:none;
	border:none;
	background-image: url(../images/user.jpg);
	background-repeat: no-repeat;
	/*height: 27px;*/
	width: 428px;
	margin-top: 5px;
	padding-left: 35px !important;
	border: 1px solid #dbdbdb;
	background-color: #ffffff;
	border-radius: 5px !important;
}
.pass-box {
	background:none;
	border:none;
	background-image: url(../images/pass.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 433px;
	margin-top: 5px;
	padding-left: 35px;
	border: 1px solid #dbdbdb;
	background-color: #ffffff;
	border-radius: 5px;
}
::-webkit-input-placeholder {  
   color: #e0d1d9;  
} 
:-moz-placeholder {   /* Firefox 18- */
   color: #e0d1d9;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #e0d1d9;  
} 
:-ms-input-placeholder {  
   color: #e0d1d9;  
}
.forget-pass {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #525252;
	padding-top: 12px;
	padding-bottom: 15px;
	padding-left: 10px;
}
.main-login
{
	padding-top: 5px;
}
.forget-pass a {
	text-decoration:none;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #525252;
	padding-top: 8px;
	padding-bottom: 10px;
}
.textad_main
{
	text-align:center;
	padding-bottom:5px;
	padding-top:5px;
}
.textad_main a
{
	text-align:center;
	font-weight:bold;
	padding: 9px 0;
	display:block;
}

#rotate_textads_1 .textad_main, #rotate_textads_1 .textad_main A {
	padding: 0 !important;
	
}



/* Biz Directory */
.biz_banner
{
	border:1px solid #dadada;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:2px;
	padding-left:2px;
	margin-top:3px;
	margin-bottom:3px;
	margin-right:3px;
	margin-left:3px;
	width:455px;;
	display:inline-block;
}
.biz_banner.banner img
{
	width:100% !important;
	height:100%  !important;
}

.member_photo img
{
	width:49px !important;
	height:49px  !important;
	border:1px solid #dadada;
}
.member_photo1 img
{
	width:59px !important;
	height:59px  !important;
	border:1px solid #dadada;
}
.banner_details a
{
	text-decoration:underline;
}
.banner
{
	float:left;
}
.member_photo
{
	float:left;
	margin-right:3px;
	margin-left:1px;
}
.member_photo1
{
	float:left;
	margin-right:3px;
	margin-left:1px;
}
.ad-view-main
{
	font-family:Arial;
	font-size:12px;
}
.ad-view-top-text
{
	font-size:16px;
	float:left;
	color:#5f5f5f;
	line-height:36px;
}
.my-border
{
	border-top:1px solid #dadada;
	height:15px;
	margin-top:10px;
}
.reload
{
	float:right;
}
.width50
{
	width:55px;
	float:left;
}
.top-title
{
	float:left;
	width:400px;
	color:#707070;
	padding-bottom:3px;
	text-align:left;
}
.top-title a
{
	color:#707070;
}
.views
{
	float:left;
}
.clicks
{
	float:right;
}
.grey-text
{
	color:#707070;
}
.inner-side
{
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
	color:#545454;
}
.desc-title
{
	color:#545454;
	padding-left:10px;
	font-size:16px;
}

.staticbanner
{
	position:relative;
	display:inline-block;
}
.staticad_mark
{
	border:1px solid #000;
	border-radius:7px 0px 0px 0px;
	position:absolute;
	bottom:0px;
	line-height:15px;
	right:0px;
	background:#FFFFFF;
	padding:0px 5px;
	font-size:9px;
	font-weight:bold;
}
.staticad_mark125
{
	border:1px solid #000;
	border-radius:7px 0px 0px 0px;
	position:absolute;
	bottom:10px;
	line-height:15px;
	right:0px;
	background:#FFFFFF;
	padding:0px 5px;
	font-size:9px;
	font-weight:bold;
}
/*New Css Over*/

.clickdiv
{
	width: 500px; 
	position: fixed;
	z-index:50; 
	background-color: white; 
	border-radius:8px; 
	border: 5px solid #999999; 
	overflow: auto; 
	height: 350px; 
	left: 30%;
	top:25%; 
	padding: 35px 15px 15px 15px;
	display:none;
}

.messagecontent
{
	min-height:100px;
}
#totalclickcounter
{
	padding:0px 5px;
	font-size:13px;
	font-weight:bold;
}

/* buy advertisement page*/
.clear-both
{
	clear:both;
}
.adpackagebox
{
	background:#ffffff;
	border: solid 1px #c5c5c5;
	width:462px;
	padding-bottom:4px;
	float:left;
	margin-right:3px;
	margin-bottom:5px;	
}

.adpackagebox_title
{
	background-image: url(../images/buy-title-bg.jpg);
	background-repeat: no-repeat;
	height: 31px;
	width: 454px;
	padding-left: 7px;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #616060;	
	line-height: 30px;
}

.adpackagebox_icon {
	float:left;
	width:60px;
	margin-left:4px;
	margin-top: 5px;
}

.adpackagebox_description {
	font-family:Verdana;
	font-size:11px;
	color:#5a5a5a;
	float:left;
	width:383px;
	margin-left: 8px;
	padding-right:5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cfcfcf;
	padding-bottom: 5px;
	margin-top: 5px;
}

.adpackage_button
{
	float:right;
}

.buy-btn-repeat {
	background-image: url(../images/buy-button-repet.jpg);
	background-repeat: repeat-x;
	height:23px;
	float:left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #686868;
	padding-left:6px;
	padding-right:6px;
	margin-top: 4px;
	border: solid 1px #c3c3c3;
	line-height: 23px;
	margin-right:5px;
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px 3px 3px 3px;
	-khtml-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
}
.buy-btn-repeat a { text-decoration:none;color: #686868; }



/* ptc ad view : earn money page style*/
.ptc_ad
{
	background:#ffffff;
	border: solid 1px #c5c5c5;
	width:462px;
	padding-bottom:4px;
	float:left;
	margin-right:3px;
	margin-bottom:5px;
}

.ptc_title
{
	background-image: url(../images/buy-title-bg.jpg);
	background-repeat: no-repeat;
	height: 31px;
	width: 454px;
	padding-left: 7px;
}
.ptc_title a
{
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #616060;	
	line-height: 30px;	
}

.ptc_description {
	font-family:Verdana;
	font-size:11px;
	color:#5a5a5a;
	margin-left: 8px;
	padding-right:5px;
	padding-bottom: 5px;
	margin-top: 5px;
	height:50px;
	
}
.ptc_banner
{
	padding:3px;
	text-align: center;
	vertical-align: middle;
	height:130px;
}
.ptcearning_area
{
	border-top: 1px solid #cfcfcf;
	padding-right:5px;
	padding-left:5px;
}
.ptc_button
{
	background-image: url(../images/buy-button-repet.jpg);
	background-repeat: repeat-x;
	height:23px;
	float:left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #686868;
	padding-left:6px;
	padding-right:6px;
	margin-top: 4px;
	border: solid 1px #c3c3c3;
	line-height: 23px;
	margin-right:5px;
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px 3px 3px 3px;
	-khtml-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
}
.ptc_button a { text-decoration:none;color: #686868; }

.earn_button {float:right;}





/*memberoverview page new style */
.box-right-top
{
	background-image: url(../images/right-box-top.jpg);
	background-repeat: no-repeat;
	height: 3px;
	width: 682px;
}
.box-right-middal
{
	background-image: url(../images/right-box-middal.jpg);
	background-repeat: repeat-y;
	padding:5px;
}
.right-box-bot
{
	background-image: url(../images/right-box-botaam-.jpg);
	background-repeat: no-repeat;
	height: 5px;
	width: 682px;
}
.profile-pick-box { background-color: #fafafa; border: solid 1px #e4e4e4; box-shadow: 0px 1px 0px #dadada; padding: 6px; margin-top:10px; }
.profile-pic-left { float:left; width:68px; height: 68px; }
.profile-right { float: left; width: 708px; margin-left: 10px; }
.profile-bottam { border-bottom: solid 1px #d8d8d8; }
.profile-text { color: #707070; font-family: Verdana; font-size: 11px; }
.referral-box {background-color: #fafafa; box-shadow: 0px 1px 0px #dadada;border: solid 1px #e4e4e4; text-align: center; margin-top: 10px; font-family: verdana; font-size: 12px; color: #707070; padding-bottom: 6px; padding-top: 6px;  }
.gray-box-reffral { width: 328px; background-color: #eeeeee;  height: 33px; font-family: verdana; font-size: 12px; color: #707070; font-weight: bold; }
.white-box-reffral { width: 328px; background-color: #fafafa;  height: 33px; font-family: verdana; font-size: 12px; color: #707070; font-weight: normal; }
#gried { 
width: 100%;
margin: 10px 0;
}
#gried  tr td { 
padding: 10px 0 0;
   }

