.item-list ul.stafful li {
   margin: 0;
   padding: 12px;
   background:none; 
	border-bottom: 1px solid #e5e5e5;
}

.item-list ul.stafful li .imagestaff {
  float: left;

}

.limpiar {
  clear: left; 
}

