@charset "Shift_JIS";
/*---------------------------------------------------
CSS for Guest Top Page
Last Updated: 2016/09/21
-----------------------------------------------------
00. RESET + BASE
01. COMMON
------
01-01. STRUCTURE
01-02. HEADINGS
01-03. LIST
01-04. BUTTONS
01-05. THUMBNAIL + BANNER IMAGE
01-06. LINK ICON
------
02. TOP
03. MONEX's MERIT
04. TOP NEWS + CAMPAIGN + NEW CUSTOMER + LOGIN INFO
05. COMMUNICATION WITH CUSTOMERS
06. PRODUCTS + SERVICES
07. ASIDE

/*---------------------------------------------------
00. RESET + BASE
---------------------------------------------------*/
/*RESET*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p { margin:0; padding:0;}
li { list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight: normal;}
img, img a { border: none;vertical-align: bottom;}
a { outline: 0;}

body {
background: #fff;
color: #333;
font-family: "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
font-size: 14px;
line-height: 1.43;
}

/*link*/
#guest_top_container a:link {color: #193a9e;text-decoration: none;}
#guest_top_container a:visited {color: #5824b8;text-decoration: none;}
#guest_top_container a:hover {color: #193a9e;text-decoration: underline;}
#guest_top_container a:active {color: #193a9e;text-decoration: none;}

/*---------------------------------------------------
01. COMMON
---------------------------------------------------*/
/* --------------------------------
01-01. STRUCTURE
---------------------------------*/
/*contents wrap*/
#guest_top_container {
width: 100%;
margin: 15px 0 80px;
}
#guest_top_container .gtop_inner {
width: 980px;
margin: 0 auto;
}

/*columns*/
.two_col .col_left,
#news_camp {
width: 476px;
float: left;
}
.two_col .col_right {
width: 476px;
float: right;
}
.three_col .col_left,
.three_col .col_mid,
.three_col .col_right {
width: 308px;
float: left;
margin-right: 28px;
}
.three_col .col_right {
margin-right: 0;
}

/*bottom margin*/
#sec_top,
#guest_top_container .section {
margin-bottom: 30px;
}
#sec_merit {
margin-bottom: 50px;
}

/*top margin*/
.mt15 {
margin-top: 15px;
}
.mt25 {
margin-top: 25px;
}
.mt10 {
margin-top: 10px;
}

/*clear float*/
#sec_top:after,
#sec_merit:after,
#sec_info:after,
.two_col:after,
.three_col:after {
content: "";
clear: both;
display: block;
}

/* --------------------------------
01-02. HEADINGS
---------------------------------*/
#guest_top_container h2 {
position: relative;
display: block;
padding: 7px 0 0;
border-top: 4px solid #e0e0e0;
font-size: 20px;
line-height: 26px;
font-weight: bold;
margin-bottom: 15px;
}
#guest_top_container h2:before {
position: absolute;
left: 0;
top: -4px;
display: block;
width: 60px;
height: 4px;
background: #e1c561;
content: "";
}
#guest_top_container h3 {
padding: 8px 10px 6px;
background: #e0e0e0;
font-size: 16px;
line-height: 22px;
margin-bottom:15px;
}
#guest_top_container h4 {
padding: 0 0 1px;
border-bottom: 2px solid #e0e0e0;
font-size: 16px;
line-height: 22px;
margin-bottom:15px;
}

/* --------------------------------
01-03. LIST
---------------------------------*/
ul.lst li,
ul.lst_two li,
ul.lst_news li,
ul.lst_report li,
ul.lst_seminar li {
line-height: 1.428;
margin-bottom: 7px;
}

/*--- Top Information LIST ---*/
.lst_news li img {
vertical-align: middle;
margin-left: 15px;
}
.lst_news li .date_news {
float: left;
width: auto;
font-size: 12px;
}
.lst_news li .ti_news {
width: auto;
margin-left: 122px;
}
.lst_news#newsArea1 {
display: none;
}
#newsClose img {
display: block;
cursor: pointer;
margin: 15px auto 0;
}

/*--- With Thumbnail LIST ---*/
.lst_thumb li {
margin-bottom: 13px;
}
.ti_thumb {
font-weight: bold;
margin-bottom: 6px;
}
.cont_thumb p {
font-size: 13px;
overflow: hidden;
}
.cont_thumb img {
float: left;
margin-right: 10px;
border: 1px solid #e0e0e0;
}

/*--- Report LIST ---*/
ul.lst_report li {
margin-bottom: 10px;
}
.lst_report img.pic {
margin-right: 15px;
}
.lst_report .cont_time,
.lst_report .cont {
margin-left: 50px;
}
.lst_report h5 {
font-weight: bold;
background-color: #fff;
margin: 0 0 5px 0;
padding: 0;
border: 0;
}
.lst_report .ti_report {
line-height: 1.428;
vertical-align: top;
}
.lst_report .cont .ti_report {
width: 370px;
display: inline-block;
vertical-align: top;
}
.lst_report p {
font-size: 13px;
padding: 3px 0 0 5px;
}
.lst_report .cont {
margin-bottom: 5px;
}

.date_report {
font-size: 12px;
}
.lst_report .cont .date_report {
width: 45px;
display: inline-block;
vertical-align: top;
}
.lst_report .cont_time .date_report {
margin-left: 20px;
font-size: 12px;
font-weight: normal;
}

/*--- Seminar LIST ---*/
.date_seminar,
.date_seminar02 {
margin-right: 10px;
display: inline-block;
vertical-align: top;
font-size: 12px;
line-height: 1.7;
}
.ti_seminar,
.ti_seminar02 {
width: 370px;
display: inline-block;
vertical-align: top;
}
.date_seminar span {
padding-left: 15px;
}
.ti_seminar02 {
width: 420px;
}

/*--- 2 Columns LIST ---*/
.lst_two li {
float: left;
width: 224px;
margin: 0 28px 9px 0;
}
.lst_two li:nth-child(even),
.lst_two li.even {
margin-right: 0;
}
.lst li p,
.lst_two li p {
font-size: 13px;
margin-top: 3px;
}
.lst li.ban {
margin: 15px 0 10px;
}

/*--- Vertical Banner LIST ---*/
.lst_ban {
margin-top: 15px;
}
.lst_ban li {
margin-top: 10px;
}

/*clear float*/
.lst_news li:after,
.lst_thumb li:after,
.lst_two:after {
content: "";
clear: both;
display: block;
}

/* --------------------------------
01-04. BUTTONS
---------------------------------*/
/*account open btn*/
.btn_open_account_top a {
margin-bottom: 10px;
display: block;
width: 224px;
height: 80px;
line-height: 80px;
font-size: 22px;
color: #fff;
text-align: center;
font-weight: bold;
text-decoration: none;
box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
border-radius: 2px;
background-color: #ff7200;
color: #fff;
}
.btn_open_account_top a:hover {
background-color: #ff9540;
color: #fff;
text-decoration: none;
}

/*login btn*/
.btn_login_top a span {
padding-left: 90px;
background: transparent url(/image/top3/ic_login.png) no-repeat 70px 50%;
}
.btn_login_top a {
font-size: 16px;
display: block;
width: auto;
background-color: #2eb975;
height: 45px;
line-height: 45px;
font-weight: bold;
color: #fff;
text-decoration: none;
box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
border-radius: 2px;
margin-bottom: 15px;
}
.btn_login_top a:hover {
background-color: #62cb98;
text-decoration: none;
}

#guest_top_container .btn_open_account_top a:link,
#guest_top_container .btn_open_account_top a:visited,
#guest_top_container .btn_login_top a:link,
#guest_top_container .btn_login_top a:visited {
color: #fff;
text-decoration: none;
}

/* --------------------------------
01-05. THUMBNAIL + BANNER IMAGE
---------------------------------*/
.ban img {
border: 1px solid #e0e0e0;
}
img.pic {
float: left;
margin-right: 10px;
border: 1px solid #e0e0e0;
}

/* --------------------------------
01-06. TAG ICON + LINK ICON
---------------------------------*/
.link_more {
margin-top: 20px;
border-top: 1px solid #e0e0e0;
padding-top: 10px;
text-align: right;
}
.link_more span {
font-size: 12px;
margin-right: 10px;
}
#sec_report .link_more {
margin-top: 15px;
}
/*new window*/
.ic_new_win {
background: url(/image/top3/ico-link-blank_01.png) no-repeat 100% 5px;
padding: 2px 15px 2px 0;
}
/*PDF with file size*/
.ic_pdf {
background: url(/image/top3/ico-link-pdf_01.png) no-repeat 100% 3px;
padding: 2px 10px 2px 0;
font-size: 12px;
}
/*img icon*/
.ic {
vertical-align: middle;
margin-left: 15px;
}

/*--- Tag Icon ---*/
.tag_news, .tag_camp,
.tag_new, .tag_bb {
display: inline-block;
height: 15px;
line-height: 15px;
font-size: 10px;
text-align: center;
color: #fff;
}
.tag_news, .tag_camp  {
margin-left: 5px;
}
.tag_new, .tag_bb  {
margin-left: 15px;
}
.tag_news, .tag_camp  {
width: 70px;
}
.tag_news {
background-color: #9e9e9e;
}
.tag_camp {
background-color: #dbab00;
}
/*IPO tag*/
.tag_new, .tag_bb {
width: 59px;
border-radius: 15px;
}
.tag_new {
background-color: #dbab00;
}
.tag_bb {
background-color: #927a22;
}

/*---------------------------------------------------
02. TOP
---------------------------------------------------*/
/*main visual*/
#main_visual {
width: 728px;
float: left;
}

/*side*/
ul#top_side {
width: 224px;
float: right;
line-height: 1;
}
#top_side .link_flow {
margin-top: 15px;
font-weight: bold;
text-align: center;
}
#top_side .free_dial {
margin-top: 13px;
font-size: 12px;
font-weight: bold;
}
#top_side .free_dial span {
display: block;
font-size: 25px;
line-height: 1.2;
letter-spacing: -0.03em;
background: url(/image/top3/ic_free_dial.png) no-repeat 0 50%;
padding-left: 34px;
}

/*---------------------------------------------------
03. MONEX's MERIT
---------------------------------------------------*/
#sec_merit h2 {
margin: 32px 0 0 0;
padding: 0;
border: none;
font-size: 22px;
line-height: 1;
font-weight: normal;
text-align: center;
}
#sec_merit h2:before {
content:none;
}
#sec_merit h3 {
margin: 18px 0;
padding: 0;
font-size: 14px;
line-height: 1;
font-weight: normal;
text-align: center;
background-color: #fff;
}
#sec_merit h4 {
margin: 18px 0 0 0;
padding: 0;
font-size: 14px;
line-height: 1;
font-weight: normal;
text-align: center;
background-color: #fff;
border: none;
}

/*slider*/
#slider02 li.link {
position: relative;
width:183px;
height: 155px;
padding: 0 19px;
text-align: center;
}
#slider02 li.link a {
display: block;
position: absolute;
top: 0;
left: 0;
width:183px;
height: 155px;
background: url(/image/top3/bg.gif) repeat 0 0;
}
#slider02 li span {
width: 100%;
display:block;
padding-top: 97px;
font-weight: bold;
}
#slider02 li img {
width: 120px;
margin: 0 auto;
}
#slider02 li p {
padding-top: 36px;
font-size: 12px;
text-align: left;
}

/*---------------------------------------------------
04. TOP NEWS + CAMPAIGN + NEW CUSTOMER + LOGIN INFO
---------------------------------------------------*/
#news_camp {
margin-right: 28px;
}

/*--- NEWS + Campaign ---*/
/*tab*/
#news_camp .tab_menu {
margin-bottom: 13px;
border-bottom: 3px solid #e1c561;
}
#news_camp .tab_menu:after {
content: "";
clear: both;
display: block;
}
#news_camp .tab_menu li {
width: 124px;
float: left;
margin-right: 2px;
line-height: 28px;
text-align: center;
color: #193a9e;
background-color: #e0e0e0;
border-radius: 4px 4px 0 0;
cursor: pointer;
}
#news_camp .tab_menu li.current {
color: #333;
background-color: #e1c561;
font-weight: bold;
}
.dnone {
display: none;
}

/*--- New Customer ---*/
#new_customer,
#login_info {
width: 224px;
float: left;
margin-right: 28px;
}
#new_customer dt {
padding-left: 10px;
margin-bottom: 15px;
border-top: 2px solid #e0e0e0;
background-color: #eee;
line-height: 25px;
}
#new_customer dd {
margin-bottom: 10px;
line-height: 1.2;
}
#new_customer .ban {
margin-top: 20px;
}

/*--- Login + Information ---*/
#login_info {
float: right;
margin-right: 0;
}

/*other login*/
#other_login {
margin-bottom: 20px;
}
#other_login:after {
content: "";
clear: both;
display: block;
}
#other_login dt {
padding-left: 10px;
margin-bottom: 10px;
border-top: 4px solid #e1c561;
background-color: #eee;
line-height: 33px;
font-weight: bold;
}
#other_login dd {
width: 68px;
height: 68px;
float: left;
margin-right: 9px;
font-size: 10px;
font-weight: bold;
line-height: 1.2;
}
#other_login dd a {
display: block;
width: 100%;
height: 100%;
margin: 0 9px 0 1px;
padding: 38px 9px 0;
box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
border-radius: 2px;
color: #193a9e;
text-decoration: none;
box-sizing: border-box;
-webkit-box-sizing: border-box;
background: #fff url(/image/top3/ic_click365.png) no-repeat 50% 9px;
}
#other_login dd.mnxgd a {
background-image: url(/image/top3/ic_mnxgd.png);
}
#other_login dd.chi a {
background-image: url(/image/top3/ic_china.png);
padding-top: 44px;
}
#other_login dd a:hover {
background-color: #f7f3e7;
color: #fff;
text-decoration: none;
}
#other_login dd a:link,
#other_login dd a:visited {
color: #193a9e;
}
#other_login dd.chi {
margin-right: 0;
text-align: center;
}

/*info alert*/
.set_info {
margin-bottom: 5px;
}
.info_notice {
padding: 10px;
border-left: 4px solid #dbab00;
background: #f5f5f5 url(/image/top3/ic_info.png) no-repeat 10px 10px;
line-height: 1.2857;
font-weight: bold;
}
.info_notice a {
display: block;
padding-left: 26px;
}
#guest_top_container .info_notice a:link,
#guest_top_container .info_notice a:visited {
color: #193a9e;
text-decoration: underline;
}
#guest_top_container .info_notice a:hover {
text-decoration: none;
}
.set_info p {
font-size: 12px;
line-height: 1.5;
text-align: right;
}

/*---------------------------------------------------
05. COMMUNICATION WITH CUSTOMERS
---------------------------------------------------*/
#sec_customer dt {
margin-bottom: 10px;
font-weight: bold;
}
#sec_customer dd:after {
content: "";
clear: both;
display: block;
}
/*link more*/
.tex_r {
text-align: right;
padding-top: 5px;
}

/*---------------------------------------------------
06. PRODUCTS + SERVICES
---------------------------------------------------*/
/*featured_area*/
.featured_area {
margin-top: 10px;
padding: 10px;
border: 10px solid #eee;
}
.featured_area li div {
margin-top: 8px;
}
.featured_area li:after {
content: "";
clear: both;
display: block;
}

/*---------------------------------------------------
07. ASIDE
---------------------------------------------------*/
#guest_top_container #aside {
width: 100%;
min-width: 980px;
margin: 40px 0;
padding: 30px 0;
background-color: #f7f3e7;
}
#guest_top_container #aside ul {
width: 980px;
margin: 0 auto;
}
#guest_top_container #aside ul li {
float: left;
margin-left: 6px;
}
#guest_top_container #aside ul li:first-child {
margin-left: 32px;
}
#guest_top_container #aside ul {
height: 58px;
}
.thumb_tex {
width: 222px;
}
.thumb_tex p {
overflow: hidden;
font-size: 14px;
}

#guest_top_container #aside ul:after,
.thumb_tex:after {
content: "";
clear: both;
display: block;
}

/*もっとみる*/
#newsClose {
width: 100%;
line-height: 33px;
display: inline-block;
text-align: center;
background-color: #eee;
color: #193a9e;
cursor: pointer;
}
.news_open {
background: url(/image/top3/ic_arrow_open.png) no-repeat 100% 50%;
padding-right: 10px;
}
.news_close {
background: url(/image/top3/ic_arrow_close.png) no-repeat 100% 50%;
padding-right: 10px;
}
.nbt {
border-top: none;
margin-top: 0;
}

/*バナーのボーダーを消すスタイル*/
img.pic.nb {
border: none;
}

/*---------------------------------------------------
IE7対策
---------------------------------------------------*/
#sec_merit, #sec_info, .two_col, .three_col, .panel, #aside, .featured_area, .lst {
	clear:both;
}
