@charset 'utf-8';
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */

  -ms-text-size-adjust: 100%;
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.is-hatena-user .for-guest {
  display: none !important;
}
.is-hatena-user .for-hatena-user {
  display: block;
}
.is-hatena-user .for-hatena-user.inline {
  display: inline;
}
.is-guest .for-guest {
  display: block;
}
.is-guest .for-guest.inline {
  display: inline;
}
.is-guest .for-hatena-user {
  display: none !important;
}
.is-pc .for-pc {
  display: block;
}
.is-pc .for-pc.inline {
  display: inline;
}
.is-pc .for-touch {
  display: none !important;
}
.is-touch .for-pc {
  display: none !important;
}
.is-touch .for-touch {
  display: block;
}
.is-touch .for-touch.inline {
  display: inline;
}
#hatena-one-search-top .gsc-results .gsc-cursor-box {
  margin-top: 20px;
  margin-left: 10px;
}
#hatena-one-search-top #section .header h1.title {
  font-size: 100%;
  background: #6d90f4;
  padding: 6px 0 6px 6px;
  margin-bottom: 20px;
  margin-top: 17px;
  color: #fff;
  font-size: 80%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 0;
}
#hatena-one-search-top #section #cse table {
  border-bottom: 0;
  padding: 0;
  margin-bottom: 0;
  font-size: 95%;
}
#hatena-one-search-top #section #cse table td {
  border-top: 0;
  padding: 0;
}
#hatena-one-search-top .gsc-result-info {
  margin-bottom: 10px;
}
#hatena-one-search-top .cse .gsc-control-cse,
#hatena-one-search-top .gsc-control-cse {
  padding: 0;
}
#hatena-one-search-top table.gsc-search-box {
  width: 220px !important;
  display: inline-block !important;
  margin-right: 20px;
  margin-top: 3px;
  margin-bottom: 20px !important;
}
#hatena-one-search-top #header #search-box {
  display: none;
}
#hatena-one-search-top table.gsc-search-box td.gsc-input {
  width: 150px !important;
}
#hatena-one-search-top #section input.gsc-input {
  height: 20px;
  font-size: 14px;
  width: 200px;
}
#hatena-one-search-top #section input.gsc-search-button {
  height: 28px;
  width: 50px;
  background-position: 3px;
}
#hatena-one-search-top table.gsc-branding {
  width: 150px !important;
  display: inline-block !important;
  margin-top: 7px !important;
  margin-bottom: 20px !important;
  vertical-align: top;
  margin-left: 30px;
}
#hatena-one-search-top #section {
  width: 790px;
  margin-right: 0;
  padding: 0;
  margin-left: 10px;
}
.sidebar-right-inner {
  border: 1px solid #ddd;
  margin-top: 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.sidebar-right-list {
  border-top: 1px solid #ddd;
  list-style-type: none;
  margin: 0;
  padding: 2px 12px;
  font-size: 80%;
}
.sidebar-right-title {
  background-color: #f5f5f5;
  font-size: 80% !important;
  font-weight: normal;
  line-height: 1;
  padding: 1px 0 2px;
  text-shadow: -1px 1px 0 #ffffff;
}
.sidebar-right-title a {
  display: block;
  padding: 10px 0 7px 10px;
  color: #333 !important;
  text-decoration: none !important;
}
.bukkenfan-title {
  font-size: 80%;
  padding: 0 7px 3px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ddd;
}
.bukkenfan-title a {
  color: #333;
}
.bukkenfan-title a span {
  color: #999;
  display: inline-block;
  font-weight: normal;
  padding-left: 4px;
}
.bukkenfan-content {
  position: relative;
  overflow: hidden;
}
.bukkenfan-content a .bukkenfan-entry-title {
  font-weight: bold;
}
.bukkenfan-content .bukkenfan-entry-data {
  margin-left: 6px;
}
.bukkenfan-content img.thumbnail {
  width: 64px;
  height: 64px;
  border: 1px solid #ddd;
  margin: -4px 7px -4px -4px;
  object-fit: cover;
  float: left;
}
.is-touch .bukkenfan-content img.thumbnail {
  vertical-align: middle;
}
.bukkenfan .sidebar-right-title {
  font-weight: bold;
}
.is-touch .bukkenfan .sidebar-right-title {
  background: url(/images/hatenaportal/portal/2012/s-link-icon-bukkenfan@2x.png) no-repeat 8px center;
  background-size: 40px;
  padding: 14px 48px;
}
.bukkenfan .sidebar-right-title small {
  margin-left: 6px;
  font-weight: normal;
}
.is-touch .bukkenfan .sidebar-right-title small {
  display: none;
}
.is-touch .bukkenfan .sidebar-right-list {
  font-size: .9em;
}
.bukkenfan .sidebar-right-list li {
  display: block;
  border-top: 1px solid #ddd;
  padding: 12px;
}
.bukkenfan .sidebar-right-list li:first-child {
  border-top: none;
}
.is-touch .bukkenfan .sidebar-right-list li {
  min-height: 64px;
}
.is-touch .bukkenfan p.more {
  border-top: 1px solid #ddd;
}
#hotkeyword-placeholder {
  display: none ! important;
}
#hotkeyword-inner time {
  font-size: 1.3em;
  font-weight: bold;
  padding-right: 12px;
}
#hotkeyword-inner time span {
  color: #888;
  font-weight: normal;
  font-size: .65em;
  padding: 0 2px;
}
#hotkeyword-inner .list li {
  border-bottom: 1px solid #ddd;
  clear: both;
  counter-increment: ol;
  float: none !important;
  padding: 7px 0;
}
#hotkeyword-inner .list li:last-child {
  border: none;
}
#hotkeyword-inner .list li:before {
  -webkit-font-smoothing: antialiased;
  background: #f87483;
  color: #fff;
  content: counter(ol, decimal);
  display: inline-block;
  font: bold 12px/20px "Helvetica Neue", "Arial", Sans-serif;
  height: 20px;
  margin-right: 7px;
  text-align: center;
  width: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#hotkeyword-inner .list a {
  color: #2d6bc4;
  font-weight: bold;
}
#hotkeyword-inner .list a:hover {
  text-decoration: underline;
}
.is-pc .localepanel {
  display: none;
}
.is-pc #langselector-button {
  background: url(//www.hatena.ne.jp/css/hatena/dropdown.gif) center right no-repeat;
  padding-right: 14px !important;
  outline: none;
}
.is-pc #langselector {
  z-index: 1000000;
  border: 1px solid #ccc !important;
  margin: 0 !important;
  padding: 0 0 3px 0!important;
  font-size: 100%;
  width: 150px;
  top: 33px !important;
  background: white;
  position: absolute;
  right: 0;
  display: none;
}
.is-pc #langselector.shown {
  display: block;
}
.is-pc #langselector #langselector-title {
  padding: 3px 0 5px 3px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin: 5px 3px 0 3px;
  line-height: 1.5;
  color: #000;
}
.is-pc #langselector ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.is-pc #langselector ul li {
  padding: 3px 7px;
  line-height: 1.5;
  margin: 0;
  display: block !important;
  text-align: left;
}
.is-pc #langselector ul li.selected {
  background: #eff3ff;
}
.is-pc #langselector ul li a {
  color: #333;
  display: block;
  text-decoration: none;
}
.is-pc #langselector ul li a:hover {
  text-decoration: underline;
}
.is-pc #header {
  width: 100%;
  text-align: center;
  font-size: 75%;
  position: relative;
  z-index: 9999;
  height: 37px;
}
.is-pc #header img {
  border: 0;
}
.is-pc #header a {
  text-decoration: none;
}
.is-pc #header a:hover {
  text-decoration: underline;
}
.is-pc #header .service-logo {
  vertical-align: middle;
  height: 37px;
}
.is-pc #header ul.service-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
.is-pc #header ul.service-menu li {
  display: inline-block;
  _display: inline;
  *display: inline;
  padding: 0 8px;
  zoom: 1;
  line-height: 37px;
  vertical-align: top;
}
.is-pc #header ul.service-menu li img {
  vertical-align: middle;
  margin-top: -2px;
}
.is-pc #header .global-logo {
  position: relative;
  padding: 0 !important;
}
.is-pc #header .global-logo a {
  display: block;
  padding: 0 0 0 6px;
}
.is-pc #header .header-notify,
.is-pc #header .header-username {
  margin-right: 2px;
  position: relative;
  padding: 0 1px !important;
}
.is-pc #header span.header-dropdown {
  background: url(//www.hatena.ne.jp/css/hatena/dropdown.gif) center right no-repeat;
  padding-left: 3px;
  cursor: pointer;
  display: block;
  padding-right: 12px;
}
.is-pc #header .header-username .header-dropdown {
  padding-right: 12px;
}
.is-pc #header .header-notify .header-dropdown {
  padding-right: 9px;
}
.is-pc #header .header-notify img {
  opacity: 1 !important;
}
.is-pc #header .header-notify .notify-count {
  font-weight: bold;
  background: url(//www.hatena.ne.jp/css/hatena/count-bg.png) top left no-repeat;
  color: #fff;
  display: inline-block;
  _display: inline;
  text-align: center;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-right: 6px;
  position: absolute;
  top: 3px;
  _top: -3px;
  *top: -3px;
  right: -1px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 80%;
  display: none;
}
.is-pc #header .header-profile-icon,
.is-pc #header .profile-icon {
  vertical-align: middle;
  margin-right: 4px;
  margin-bottom: 2px;
  background: #fff;
}
.is-pc #header .profile-image {
  margin-right: 4px;
}
.is-pc #header .profile-image img {
  width: 16px;
  height: 16px;
}
.is-pc #header .header-window {
  position: absolute;
  top: 33px;
  right: 0;
  margin: 0;
  background: #fff;
  width: 250px;
  z-index: 1000;
  display: none;
  padding: 0 0 5px 0;
  border: 1px solid #ccc;
}
.is-pc #header .header-window .label span {
  padding: 3px 0 5px 3px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  display: block;
  margin-top: 3px;
  color: #000;
  background: #fff;
}
.is-pc #header .header-window dt,
.is-pc #header .header-window dd,
.is-pc #header .header-window li {
  padding: 3px 5px;
  margin: 0 !important;
  text-align: left;
  display: block !important;
  line-height: 1.5;
}
.is-pc #header .header-window dd img {
  margin-right: 4px;
  margin-left: 3px;
}
.is-pc #header .header-window a,
.is-pc #header .header-window button {
  color: #333 !important;
}
.is-pc #header .header-window li:last-child {
  border-bottom: 0;
}
.is-pc #header .header-window li img {
  margin-right: 3px;
  border: 1px solid #ccc;
}
.is-pc #header-body {
  width: 960px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}
.is-pc #username-window {
  right: 0;
  width: 150px;
  overflow: hidden;
}
.is-pc #username-window li a {
  display: block;
  color: #333;
}
.is-pc #username-window li img {
  border: 0;
  background: #fff;
  vertical-align: middle;
  margin-bottom: 2px;
  margin-left: 3px;
}
.is-pc #username-window form {
  margin: 0;
  padding: 0;
}
.is-pc #username-window button.logout {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
}
.is-pc #username-window button.logout:hover {
  text-decoration: underline;
}
body.body-username .is-pc #username-window {
  display: block;
}
.is-pc #notify-window {
  font-size: 90%;
  line-height: 1;
}
.is-pc #notify-window img.star {
  width: auto;
  height: auto;
  border: 0;
  margin: 0 1px 1px 0;
  float: none;
}
.is-pc #notify-window a {
  color: #0000cc;
}
.is-pc #notify-window img {
  float: left;
  margin: 10px;
  width: 16px;
  height: 16px;
}
.is-pc #notify-window .body {
  margin-left: 32px;
  display: block;
}
.is-pc #notify-window .timestamp {
  display: block;
  color: #999;
}
.is-pc #notify-window iframe {
  width: 250px;
  height: 300px;
  overflow: auto;
  background: #fff;
}
body.body-notify .is-pc #notify-window {
  display: block;
}
.is-pc #footer {
  font-size: 80%;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  text-align: center;
  clear: both;
  margin-top: 30px;
  background: #f7f7f7;
}
.is-pc #footer .copyright {
  font-size: 90%;
  color: #999;
}
.is-pc #footer #footer-container {
  width: 960px;
  margin: 0 auto;
}
.is-pc #footer #footer-container .footer-box {
  width: 225px;
  margin-right: 15px;
  float: left;
  text-align: left;
  overflow: hidden;
}
.is-pc #footer #footer-container .footer-box img {
  display: none;
}
.is-pc #footer #footer-container .footer-box h2 a {
  color: #333;
}
.is-pc #footer #footer-container .footer-box ul {
  list-style: none;
  font-size: 100%;
  margin: 10px 0 0 0;
  padding: 0;
}
.is-pc #footer #footer-container .footer-box ul li {
  padding: 3px 0;
}
.is-pc #footer #footer-container .footer-box .more {
  font-size: 100%;
  padding-top: 7px;
}
.is-pc #footer #footer-container #footer-banner-container {
  clear: both;
  padding-top: 15px;
}
.is-pc #footer #footer-container #footer-banner-container .footer-banner {
  height: 70px;
  background: #ddd;
  width: 225px;
  margin-right: 15px;
  float: left;
  margin-bottom: 20px;
}
.is-pc #footer #footer-container #copyright {
  color: #999;
  clear: both;
  padding-top: 20px;
  font-size: 90%;
}
.is-pc #footer menu {
  width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 100%;
}
.is-pc #footer menu li {
  display: inline;
  font-size: 100%;
}
.is-pc #footer menu li + li::before {
  content: " - ";
}
.is-pc #footer .title,
.is-pc #footer .pagetop,
.is-pc #footer #footer-menu {
  display: none;
}
.is-pc #footer #information .title {
  display: block;
}
.is-pc {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #fff;
}
.is-pc img {
  vertical-align: middle;
}
.is-pc a {
  color: #2d6bc4;
  text-decoration: none;
}
.is-pc a:hover {
  text-decoration: underline;
}
.is-pc a:visited {
  color: #7a99f0;
}
.is-pc a.keyword {
  color: #333333;
}
.is-pc a.keyword:hover {
  text-decoration: none;
}
.is-pc h1,
.is-pc h2,
.is-pc h3,
.is-pc h4,
.is-pc h5 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.is-pc label {
  cursor: pointer;
}
.is-pc .f-right {
  float: right;
}
.is-pc .f-left {
  float: left;
}
.is-pc .clear {
  clear: both;
}
.is-pc .ssl {
  font-size: 80%;
}
.is-pc .more {
  text-align: right;
  padding-top: 7px;
  clear: both;
}
.is-pc .ok-message,
.is-pc .message-ok {
  color: #517B29;
  background: #e3f9db url(//www.hatena.com/images/portal/success-bg.gif) 8px 5px no-repeat;
  border: 1px solid #c5daba;
  clear: both;
  margin: 10px 0;
  padding: 8px 5px 8px 40px;
  font-weight: bold;
  font-size: 80%;
  text-align: left;
  zoom: 1;
}
.is-pc .message-error,
.is-pc .error-message {
  color: #d17777;
  background: #ffebed url(//www.hatena.com/images/portal/error-bg.gif) 8px 50% no-repeat;
  border: 1px solid #ebbdc3;
  clear: both;
  margin: 10px 0;
  padding: 8px 5px 8px 40px;
  font-weight: bold;
  font-size: 80%;
  text-align: left;
  zoom: 1;
}
.is-pc .message-info,
.is-pc .info-message {
  color: #555;
  background: #fffec5 url(//www.hatena.com/images/portal/info-bg.gif) 5px 50% no-repeat;
  border: 1px solid #e9e89b;
  margin: 10px 0;
  padding: 8px 5px 8px 40px;
  font-weight: bold;
  font-size: 80%;
  text-align: left;
  zoom: 1;
}
.is-pc .emoji {
  display: none ;
}
.is-pc .hatena-star-comment-container {
  display: none !important;
}
.windows .is-pc {
  font-family: Arial, Helvetica, Meiryo, "メイリオ", sans-serif;
}
.is-pc .ie iframe {
  height: 10em;
}
.is-pc .userdesc img {
  width: auto;
  height: auto;
}
.is-pc p.description {
  font-size: 80%;
  line-height: 1.7;
  padding: 0;
  margin: 10px 0;
}
.is-pc #section {
  padding: 10px 20px 10px 19px;
  width: 500px;
  float: left;
  margin-left: -13px;
  margin-top: 0;
  border-left: 1px solid #ddd;
  min-height: 600px;
  text-align: left;
  zoom: 1;
}
.is-pc #section:after {
  content: "";
  display: block;
  clear: both;
}
.is-pc #section p.description {
  margin-top: 3px;
}
.is-pc #section #top-info a {
  display: block;
  font-size: 80%;
  margin-bottom: 16px;
  padding-top: 8px;
  text-align: center;
}
.is-pc #section .section {
  padding-bottom: 30px;
}
.is-pc #section .section .section p.description {
  color: #999;
  margin-bottom: 0;
  margin-top: 5px;
}
.is-pc #section .loading {
  text-align: center;
  padding: 10px 0;
}
.is-pc #section .loading img {
  vertical-align: middle;
  margin-right: 4px;
}
.is-pc #section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.is-pc #section h2 {
  font-size: 80%;
  margin-bottom: 4px;
  position: relative;
  padding: 4px 0;
  clear: both;
}
.is-pc #section h2 span {
  cursor: pointer;
}
.is-pc #section h2 a {
  color: #000;
}
.is-pc #section table {
  border-collapse: collapse;
  font-size: 80%;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  margin-bottom: 20px;
}
.is-pc #section table th {
  background: #f7f7f7;
  padding: 7px;
  border-top: 1px solid #dddddd;
  width: 20%;
  white-space: nowrap;
}
.is-pc #section table td {
  padding: 7px;
  border-top: 1px solid #dddddd;
}
.is-pc #section table td input {
  border: 1px solid #ccc;
  padding: 4px;
}
.is-pc #section table td input.short {
  width: 50%;
}
.is-pc #section table td input.text {
  width: 95%;
}
.is-pc #section table td input.checkbox {
  width: auto;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 5px;
}
.is-pc #section table td textarea {
  width: 100%;
  height: 100px;
  font-size: 90%;
  font-family: sans-serif;
  border: 1px solid #ccc;
  padding: 4px;
}
.is-pc #section table td pre {
  margin: 0;
  padding: 0;
  font-family: "arial", "helvetica", "Meiryo", sanserif;
}
.is-pc #section img.profile-image,
.is-pc #section img.happie-image {
  width: 32px;
  height: 32px;
  background: #fff;
  float: left;
  overflow: hidden;
  min-height: 32px !important;
}
.is-pc #section .list li .summary .user .profile-image {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  float: none;
  margin-top: 0;
  margin-right: 3px;
  margin-bottom: 3px;
  min-height: 16px !important;
  min-width: 16px !important;
}
.is-pc button a,
.is-pc button a:visited {
  color: #000;
  text-decoration: none;
}
.is-pc #header {
  background: #ffffff url("//www.hatena.com/images/one/one-header.png") left bottom repeat-x;
  height: 50px !important;
  padding-top: 0 !important;
  border-bottom: 1px solid #ddd;
}
.is-pc #header a:visited {
  color: #2d6bc4;
}
.is-pc #header img.service-logo {
  height: 24px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.is-pc #header .header-window {
  right: 7px !important;
}
.is-pc #header .header-logo {
  height: 30px;
  display: inline-block;
}
.is-pc #header .header-logo img {
  margin-top: 10px;
}
.is-pc #header #username-window {
  width: 150px;
}
.is-pc #header .what {
  display: none;
}
.is-pc #header #search-box {
  position: absolute;
  top: 14px;
  left: 165px;
}
.is-pc #header #search-box input {
  border: 1px solid #cbcbcb;
  vertical-align: middle;
}
.is-pc #header ul.service-menu {
  top: 6px;
}
.is-pc #header ul.service-menu li .profile-image img {
  margin-right: 3px;
}
.is-pc #header input.gsc-input {
  font-size: 12px;
  padding: 3px 3px 4px 12px;
  width: 141px;
  background: #fff !important;
  margin: 0;
  border-color: #cbcbcb;
  -moz-border-radius: 3px 0 0 3px !important;
  -webkit-border-radius: 3px 0 0 3px !important;
  border-radius: 3px 0 0 3px !important;
  -moz-box-shadow: 0 1px 0 #ffffff, inset 1px 2px 2px #eeeeee;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 1px 2px 2px #eeeeee;
  box-shadow: 0 1px 0 #ffffff, inset 1px 2px 2px #eeeeee;
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.is-pc #header input.gsc-search-button {
  height: 23px;
  width: 23px;
  text-indent: -999px;
  border-color: #ccc;
  background: #cbcbcb url(http://www.hatena.ne.jp/css/hatena/search.png) 0 50% no-repeat;
  cursor: pointer;
  margin-left: -1px;
  font-size: 12px;
  -moz-border-radius: 0 3px 3px 0 !important;
  -webkit-border-radius: 0 3px 3px 0 !important;
  border-radius: 0 3px 3px 0 !important;
  -moz-box-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  _background: #80aaff;
  _text-indent: 0;
  _width: 40px;
  _color: #fff;
}
.is-pc #nav a,
.is-pc #nav a:visited {
  color: #2d6bc4;
}
.is-pc #container {
  zoom: 1;
  width: 960px;
  margin: 0 auto;
  text-align: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  line-height: 1.5;
}
.is-pc #container:after {
  content: "";
  display: block;
  clear: both;
}
.is-pc #aside {
  margin-top: 17px;
}
.is-pc #nav {
  margin-top: 10px;
  width: 193px;
  float: left;
  position: relative;
}
.is-pc #nav ul,
.is-pc #aside ul,
.is-pc #section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.is-pc .list {
  font-size: 80%;
  clear: both;
}
.is-pc .list .list {
  font-size: 100%;
}
.is-pc .list li {
  padding-bottom: 4px;
  zoom: 1;
}
.is-pc .list li:after {
  content: "";
  display: block;
  clear: both;
}
.is-pc .list img.profile-img,
.is-pc .list img.happie-img {
  width: 32px;
  height: 32px;
  float: left;
}
.is-pc .list .users {
  margin-left: 5px;
}
.is-pc .list .list-title img {
  margin-top: -4px;
  margin-right: 7px;
}
.is-pc .list a {
  color: #333;
  text-decoration: none;
}
.is-pc .list a:hover .list-title-inner {
  text-decoration: underline;
}
.is-pc .list a:visited {
  color: #999;
}
.is-pc .list .list-main {
  padding-left: 7px;
}
.is-pc .list .list-date {
  -webkit-font-smoothing: antialiased;
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0 8px 0 0;
  color: #999;
  font-size: 90%;
}
.is-pc .list .list-author {
  -webkit-font-smoothing: antialiased;
  color: #999;
  font-size: 90%;
}
.is-pc .list .favicon {
  margin-right: 7px;
}
.is-pc .list .summary {
  display: block;
  line-height: 1.5;
  padding-bottom: 7px;
}
.is-pc .list .summary img {
  max-width: 400px;
  max-height: 400px;
  margin: 5px 0;
}
.is-pc .list .summary .more-url {
  display: inline;
  margin-left: 5px;
}
.is-pc .list .username {
  margin-right: 7px;
}
.is-pc .list .username a {
  color: #777777;
}
.is-pc .list .timestamp a {
  color: #999;
}
.is-pc .more a,
.is-pc .more a:visited {
  color: #333;
}
.is-pc #s-blog .list-title-inner {
  margin-right: 5px;
}
.is-pc #bookmark-red a:hover {
  text-decoration: underline;
}
.is-pc .news-wrapper {
  width: 475px;
  min-height: 111px;
}
.is-pc #s-hatenanews {
  margin-top: -10px;
}
.is-pc #s-hatenanews .title {
  font-size: 80%;
  padding: 0 7px 3px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ddd;
}
.is-pc #s-hatenanews .list-main {
  padding-top: 1px;
}
.is-pc .top-news {
  zoom: 1;
  padding-bottom: 8px;
}
.is-pc .top-news:after {
  content: "";
  display: block;
  clear: both;
}
.is-pc .top-news .top-news-img {
  float: left;
  width: 100px;
  height: 65px;
  background: #eee;
  margin: 3px 0 0 10px;
  overflow: hidden;
}
.is-pc .top-news .list-bookmark-users {
  float: none;
  display: inline;
  margin: 0 0 0 -22px;
}
.is-pc .top-news .list-bookmark-users a {
  float: none;
}
.is-pc .top-news .top-news-content {
  float: right;
  width: 352px;
  font-size: 80%;
  padding: 3px 0 0;
}
.is-pc .top-news time,
.is-pc .top-news .top-news-category,
.is-pc .top-news .top-news-author {
  font-size: 95%;
  -webkit-font-smoothing: antialiased;
}
.is-pc .top-news time {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #999;
}
.is-pc .top-news .top-news-category a,
.is-pc .top-news .top-news-author a {
  color: #999;
  padding-left: 8px;
}
.is-pc .top-news p {
  margin: 0;
  padding: 2px 0 0;
  line-height: 1.6;
}
.is-pc .top-news p a {
  color: #333;
}
.is-pc .top-news p a:visited {
  color: #999;
}
.is-pc .top-news p img {
  margin-top: -4px;
  margin-right: 7px;
}
.is-pc .top-news .users {
  margin-left: 5px;
}
.is-pc #news-serial {
  margin-top: -10px;
}
.is-pc #news-serial .title {
  border-bottom: 1px dotted #ddd;
  font-size: 80% !important;
  line-height: 31px;
}
.is-pc .serial-label {
  color: #fff;
  background: #42c6c6;
  display: inline-block;
  padding: 0 4px;
  margin: 0px 5px 0 4px;
  font-weight: normal;
  line-height: 1.6;
  font-size: 90%;
  cursor: auto !important;
}
.is-pc .serial-title {
  cursor: auto !important;
}
.is-pc #s-question .title a {
  background-color: #dfeeef !important;
}
.is-pc #s-question .title a:hover {
  background-color: #e9f4f4 !important;
}
.is-pc .list-question-image {
  width: 16px;
  height: 16px;
  margin-top: -4px;
  margin-right: 7px;
}
.is-pc .hatena-star-add-button-image {
  background-image: url(//www.hatena.com/images/portal/add-star.gif);
}
.is-pc .hatena-star-inner-count {
  font-weight: bold;
  font-size: 100%;
  margin: 0pt 2px;
  color: #f4b128;
  cursor: pointer;
}
.is-pc #nav {
  margin-top: 10px;
}
.is-pc #nav .header h2 {
  font-size: 80%;
  padding: 7px 4px 0;
  clear: both;
  margin-bottom: 8px;
}
.is-pc #nav .section {
  margin-bottom: 25px;
}
.is-pc #nav .more {
  font-size: 75%;
  cursor: pointer;
}
.is-pc #nav .profile {
  padding: 0;
  margin-right: 13px;
  margin-bottom: 15px;
  position: relative;
  zoom: 1;
}
.is-pc #nav .profile:after {
  content: "";
  display: block;
  clear: both;
}
.is-pc #nav .profile .profile-image {
  float: left;
  margin-right: 7px;
}
.is-pc #nav li.selected {
  background: #ededed url(//www.hatena.com/images/portal/menu-selected-bg.gif) right center no-repeat;
  font-weight: bold;
  border-bottom: 0 !important;
}
.is-pc #nav li.selected a {
  color: #000;
}
.is-pc #aside {
  width: 300px;
  float: right;
  text-align: left;
}
.is-pc #aside .header h2 {
  font-size: 80%;
  padding: 7px 4px 6px;
  clear: both;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}
.is-pc #aside .article {
  font-size: 75%;
  margin-bottom: 20px;
  zoom: 1;
}
.is-pc #aside .article:after {
  content: "";
  display: block;
  clear: both;
}
.is-pc #aside .center {
  text-align: center;
}
.is-pc #aside .button.center a {
  margin-left: auto;
  margin-right: auto;
}
.is-pc #aside li {
  background: transparent ;
  border: 0
    display:inline;
  float: left;
}
.is-pc #aside li img.profile-image {
  margin: 4px;
  width: 32px;
  height: 32px;
  background: #fff;
  cursor: pointer;
}
.is-pc #aside .section {
  font-size: 75%;
}
.is-pc #aside .section p {
  line-height: 1.7;
  margin: 5px 4px 10px 4px;
  padding: 0;
}
.is-pc #aside .section p.more {
  margin-right: 0;
}
.is-pc #aside .box {
  margin-bottom: 15px;
}
.is-pc #aside iframe {
  width: 100%;
}
.is-pc #aside .box h2 {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 7px;
}
.is-pc #aside iframe#profile-iframe {
  height: 160px;
}
.is-pc #nav .medals {
  padding: 2px 0 7px 5px;
}
.is-pc .localepanel {
  display: none;
}
.is-pc #aside .action {
  position: relative;
}
.is-pc .emoji {
  display: inline;
  vertical-align: bottom;
}
.is-pc p.login-message {
  font-size: 80%;
  text-align: center;
  padding-bottom: 15px;
}
.is-pc address {
  font-style: normal;
}
.is-pc input.readonly {
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-weight: bold;
  padding: 0 !important;
}
.is-pc .more {
  font-size: 75%;
  margin-top: 0;
  padding-top: 3px;
}
.is-pc table.gsc-search-box {
  width: 180px !important;
  display: inline-block !important;
  margin-right: 20px;
  margin-top: 3px;
  margin-bottom: 20px !important;
}
.is-pc table.gsc-search-box td.gsc-input {
  width: 150px !important;
  padding-right: 0 !important;
}
.is-pc .gsc-clear-button {
  display: none;
}
.is-pc #nav {
  font-size: 80%;
  width: 160px;
}
.is-pc #nav h2 {
  margin-top: 7px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  text-shadow: 1px 1px 0 #fff;
  border-bottom: none;
  margin-right: 12px;
  padding: 5px;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.is-pc #nav h2 a {
  color: #333;
}
.is-pc #nav h2 a:visited {
  text-decoration: underline;
  color: #333;
}
.is-pc #nav ul {
  border: 1px solid #ddd;
  border-bottom: 0;
  margin-bottom: 15px;
  margin-right: 12px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.is-pc #nav ul li {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.is-pc #nav ul li a {
  display: block;
  padding: 6px;
}
.is-pc #nav ul li:hover {
  display: block;
}
.is-pc #nav #smartphonelist li,
.is-pc #nav #smartphonelist a {
  display: block;
  overflow: hidden;
}
.is-pc #nav #smartphonelist a {
  width: 90%;
}
.is-pc #nav #smartphonelist img {
  float: left;
  margin-right: 7px;
  width: 36px;
  height: 36px;
  display: block;
}
.is-pc #nav #smartphonelist .app-title {
  line-height: 36px;
  max-height: 36px;
  vertical-align: middle;
  display: block;
  overflow: hidden;
}
.is-pc #nav #smartphonelist .app-title span {
  padding: 2px 0 0 0;
  line-height: 18px;
  display: inline-block;
  width: 100%;
}
.is-pc #nav #chrome-apps {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  margin-right: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 5px 7px 50px;
  position: relative;
  display: none;
}
.is-pc #nav #chrome-apps.shown {
  display: block;
}
.is-pc #nav #chrome-apps a:hover {
  text-decoration: none;
}
.is-pc #nav #chrome-apps img {
  border: 0;
  display: block;
  position: absolute;
  left: 9px;
  top: 8px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
.is-pc #nav #chrome-apps span {
  display: block;
}
.is-pc #nav #chrome-apps .chrome-tagline1 {
  font-size: 85%;
}
.is-pc #nav #chrome-apps .chrome-tagline2 {
  font-size: 95%;
}
.is-pc #nav #facebook-container {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  margin-right: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 7px 3px 7px;
}
.is-pc #nav #facebook-container h2 {
  margin-top: 0;
  padding: 0 0 1px 0;
  background: #fff;
  border: 0;
  font-size: 80%;
  color: #999;
}
.is-pc #nav #facebook-container h2 span {
  display: inline;
}
.is-pc #nav #facebook-container h3 {
  margin-bottom: 6px;
  display: inline-block;
}
.is-pc #nav #facebook-container a,
.is-pc #nav #facebook-container a:hover {
  text-decoration: none;
}
.is-pc #nav #facebook-container a:hover .title-h3 {
  border-bottom: 1px solid #3b5999;
  margin-bottom: 5px;
}
.is-pc #section {
  border-left: 0;
  width: 475px;
  _width: 480px;
  padding-right: 10px;
  _padding-right: 0;
  padding-top: 17px;
}
.is-pc #section .inline-list li {
  display: inline-block;
  font-size: 76%;
}
.is-pc #section .tab-menu {
  text-align: center;
  margin-top: -7px;
  margin-bottom: 3px;
}
.is-pc #section .tab-menu .inline-list {
  border-bottom: 1px dotted #ddd;
  height: 27px;
}
.is-pc #section .tab-menu .inline-list li {
  padding: 0 8px;
  height: 26px;
  line-height: 27px;
  color: #999;
  cursor: pointer;
}
.is-pc #section .tab-menu .inline-list li:hover {
  color: #333;
  text-decoration: none;
}
.is-pc #section .tab-menu .inline-list li.selected {
  color: #333;
  border-bottom: 3px solid #1791db;
}
.is-pc #section .hotentry .box {
  display: none;
  clear: both;
  padding-top: 10px;
}
.is-pc #section .hotentry .box.selected {
  display: block;
}
.is-pc #section .title {
  font-size: 100%;
  margin: 0 0 10px;
  padding: 0;
}
.is-pc #section .title a {
  display: block;
  line-height: 31px;
  font-size: 80%;
  color: #333;
  background: transparent no-repeat left center;
  text-indent: 40px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.is-pc #section #s-bookmark .title a {
  background-image: url('/images/hatenaportal/portal/2012/s-bookmark-icon@2x.png');
  background-image: none\9;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hatenaportal/portal/2012/s-bookmark-icon.png', sizingMethod='crop');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hatenaportal/portal/2012/s-bookmark-icon.png',sizingMethod='crop')";
  -webkit-background-size: 31px;
  background-size: 31px;
}
.is-pc #section #s-blog .title a {
  background-image: url('/images/hatenaportal/portal/2012/s-blog-icon@2x.png');
  background-image: none\9;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hatenaportal/portal/2012/s-blog-icon.png', sizingMethod='crop');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hatenaportal/portal/2012/s-blog-icon.png',sizingMethod='crop')";
  -webkit-background-size: 31px;
  background-size: 31px;
}
.is-pc #section #s-hatenanews .title a {
  background-image: url('/images/hatenaportal/portal/2012/s-hatenanews-icon@2x.png');
  background-image: none\9;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hatenaportal/portal/2012/s-hatenanews-icon.png', sizingMethod='crop');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hatenaportal/portal/2012/s-hatenanews-icon.png',sizingMethod='crop')";
  -webkit-background-size: 31px;
  background-size: 31px;
}
.is-pc #section #s-question .title a {
  background-image: url('/images/hatenaportal/portal/2012/s-question-icon@2x.png');
  background-image: none\9;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hatenaportal/portal/2012/s-question-icon.png', sizingMethod='crop');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hatenaportal/portal/2012/s-question-icon.png',sizingMethod='crop')";
  -webkit-background-size: 31px;
  background-size: 31px;
}
.is-pc #section #s-bookmark .title a {
  background-color: #008fde;
  color: #fff;
}
.is-pc #section #s-bookmark .title a:hover {
  background-color: #009ff8;
}
.is-pc #section #s-blog {
  position: relative;
  margin: 25px 0 0;
}
.is-pc #section #s-blog .title a {
  background-color: #4d4d4d;
  color: #fff;
}
.is-pc #section #s-blog .title a:hover {
  background-color: #616161;
}
.is-pc #section .write-blog-link {
  position: absolute;
  right: 0;
  top: 0;
}
.is-pc #section .write-blog-link a {
  display: block;
  font-size: 70%;
  font-weight: bold;
  color: #fff;
  line-height: 31px;
  padding: 0 12px;
  text-decoration: none;
}
.is-pc #section .write-blog-link a:hover {
  color: #ccc;
}
.is-pc #section #top-ad {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 15px;
  position: relative;
  zoom: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.is-pc #section #top-ad li {
  padding: 3px 0;
}
.is-pc #section #top-ad li a {
  padding-left: 25px;
  display: block;
  background: url("//www.hatena.com/images/top/pr.gif") no-repeat scroll left center transparent;
  color: #333;
}
.is-pc .guest-button {
  margin: 7px 0 15px;
}
.is-pc .guest-button p {
  text-align: center;
  margin: 0;
  padding: 7px 0 15px 0;
  font-size: 75%;
}
.is-pc .guest-button img {
  opacity: 0.85;
}
.is-pc .guest-button img:hover {
  opacity: 1;
}
.is-pc #servicelist li span,
.is-pc #servicelist li img {
  display: inline;
}
.is-pc .ie #aside iframe#profile-iframe {
  height: 160px;
}
.is-pc #information .list-link:hover .list-date {
  text-decoration: none;
}
.is-pc #information .list-date {
  margin: 0 .3em 0 0;
  color: #000;
}
.is-pc #footer-container .footer-box ul li {
  padding: 3px 0 2px;
}
.is-pc #footer-container div:not(#information) ul li a {
  padding: 0 0 1px;
  display: inline;
}
.is-pc #footer-container div:not(#information) ul li a:hover {
  border-bottom: 1px solid #2d6bc4;
  padding: 0;
}
.is-pc .loading {
  display: none;
}
.is-pc #logout {
  display: none;
}
.is-pc .ad-image-center a {
  display: block;
}
.is-pc span.pr {
  font-size: 10px;
  line-height: 18px;
  padding: 0 4px;
  color: #008FDE;
  border: 1px solid #008FDE;
  margin-right: 3px;
}
.is-pc .new-feature {
  overflow: hidden;
}
.is-pc .new-feature li {
  display: block;
  margin: 0 0 15px 0;
}
.is-pc .new-feature a {
  display: block;
  overflow: hidden;
  color: #333;
}
.is-pc .new-feature h4 {
  font-weight: normal;
  font-size: 80%;
  line-height: 1.4;
}
.is-pc .new-feature-thumb {
  width: 62px;
  height: 62px;
  border: 1px solid #ddd;
  float: left;
  margin-right: 10px;
}
.is-pc .new-feature-meta {
  color: #999;
  margin: 2px 0 0 0;
  font-size: 70%;
}
.is-pc .new-feature-meta img {
  margin: 0 3px 0 0;
  vertical-align: bottom;
}
.is-pc .new-feature-moreuse {
  text-align: center;
  position: relative;
  font-size: 75%;
  margin: 2px 0 8px;
}
.is-pc .new-feature-moreuse:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  position: absolute;
  width: 100%;
  top: 8px;
  z-index: -10;
}
.is-pc .new-feature-moreuse span {
  background: #fff;
  padding: 0 7px;
}
.is-pc .guest-new-feature-title {
  font-size: 80%;
  padding: 0 7px 3px;
  border-bottom: 1px dotted #ddd;
  margin: 0 0 10px 0;
}
.is-pc .guest-new-feature-inner {
  padding: 0 7px;
}
.is-pc .profile-box {
  border: 1px solid #ddd;
  padding: 10px 10px 0 10px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.is-pc .profile {
  overflow: hidden;
}
.is-pc .profile-image {
  float: left;
  margin-right: 10px;
}
.is-pc .username {
  font-size: 120%;
  display: block;
  color: #787878;
}
.is-pc .color-star {
  overflow: hidden;
}
.is-pc .color-star li {
  margin-right: 6px;
  font-size: 80%;
}
.is-pc .color-star img {
  vertical-align: baseline;
}
.is-pc .star-normal {
  color: #FCB528;
}
.is-pc .star-green {
  color: #3DCE24;
}
.is-pc .star-red {
  color: #F32D46;
}
.is-pc .star-blue {
  color: #159FDC;
}
.is-pc .star-purple {
  color: #BE00BF;
}
.is-pc .buy-star {
  margin: 3px 0 0 0;
  font-size: 80%;
}
.is-pc .login-new-feature-title {
  position: relative;
  font-size: 75%;
  margin: 8px 0;
}
.is-pc .login-new-feature-title:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  position: absolute;
  width: 100%;
  top: 8px;
  z-index: -10;
}
.is-pc .login-new-feature-title span {
  background: #fff;
  padding-right: 10px;
}
.is-pc .campaign-banner-01 {
  background: url(/images/hatenaportal/portal/campaign/campaign_01_bg.png) 0 0 repeat-x;
  background-size: 16px auto;
  margin-bottom: -17px;
}
.is-pc .campaign-banner-01 a {
  display: block;
}
.is-pc .campaign-banner-01 img {
  width: 426px;
  height: auto;
  margin-right: 152px;
}
.is-touch:not(.is-hatena-user):not(.is-guest) .for-hatena-user,
.is-touch:not(.is-hatena-user):not(.is-guest) .for-guest {
  display: none;
}
.is-touch #search-box,
.is-touch #s-bookmark #p2 div:not(.hotentry) {
  display: none;
}
.is-touch ul {
  padding: 0;
}
.is-touch li {
  list-style-type: none;
}
.is-touch h1,
.is-touch h2,
.is-touch h3 {
  margin: 0;
}
.is-touch a {
  color: inherit;
  text-decoration: none;
}
.is-touch {
  background: #e5e5e5;
  -webkit-text-size-adjust: none;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.is-touch #header,
.is-touch #facebook-container,
.is-touch #copyright {
  background: #fff;
}
.is-touch #header {
  border-bottom: 2px solid #e0e0e0;
  margin: 0 0 6px 0;
  height: 44px;
}
.is-touch #header-body {
  height: 44px;
}
.is-touch .touch-logo {
  float: left;
  width: 129px;
  margin: 12px 0 0 6px;
}
.is-touch .service-menu {
  float: right;
  margin: 0;
}
.is-touch .service-menu li {
  float: right;
}
.is-touch .profile-image img {
  height: 34px;
  width: 34px;
  margin: 5px 5px 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.is-touch #profile-image-profile {
  display: none;
}
.is-touch .header-register,
.is-touch .header-login {
  font-size: .9em;
  height: 42px;
  line-height: 42px;
}
.is-touch .header-register a,
.is-touch .header-login a {
  display: block;
  padding: 0 10px;
}
.is-touch .header-register {
  background: #94bf2c;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  margin: 5px 5px 0 0;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.is-touch .header-login {
  margin: 1px 0 0 0;
}
.is-touch .header-notify {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 10px 0 0;
}
.is-touch .header-notify .notify-count {
  font-weight: bold;
  background: url(//www.hatena.ne.jp/css/hatena/count-bg.png) top left no-repeat;
  color: #fff;
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 80%;
  display: none;
  top: 7px;
  left: 23px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .is-touch .header-notify .notify-count {
    background: url(/images/hatenaportal/portal/common/count-bg@2x.png) no-repeat right center;
    -webkit-background-size: 14px 14px;
    background-size: 14px 14px;
  }
}
.is-touch .header-dropdown {
  cursor: pointer;
  display: block;
  width: 44px;
  height: 44px;
  vertical-align: middle;
  text-align: center;
  background: url(//www.hatena.ne.jp/css/hatena/dropdown.gif) center right no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .is-touch .header-dropdown {
    background: url(/images/hatenaportal/portal/common/dropdown@2x.png) no-repeat right center;
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
  }
}
.is-touch .header-dropdown img {
  display: inline-block;
  margin: 9px 3px 0 0;
}
.is-touch #notify-window {
  border: 1px solid #ddd;
  display: none;
  font-size: 90%;
  line-height: 1;
  top: 38px !important;
  right: 0 !important;
  text-align: right;
  width: 250px;
  height: 300px;
}
.is-touch #notify-window img.star {
  width: auto;
  height: auto;
  border: 0;
  margin: 0 1px 1px 0;
  float: none;
}
.is-touch #notify-window a {
  color: #0000cc;
  display: block;
}
.is-touch #notify-window img {
  float: left;
  margin: 10px;
  width: 16px;
  height: 16px;
}
.is-touch #notify-window .body {
  margin-left: 32px;
  display: block;
}
.is-touch #notify-window .timestamp {
  display: block;
  color: #999;
}
.is-touch #notify-window iframe {
  width: 250px;
  height: 300px;
  overflow: auto;
  background: #fff;
  display: block;
  margin: 0;
}
body.body-notify .is-touch #notify-window {
  display: block;
}
.is-touch #container {
  clear: both;
}
.is-touch .servicelist-title {
  display: block;
  overflow: hidden;
  margin: 0;
}
.is-touch .service-favicon {
  width: 36px;
  height: 36px;
  float: left;
  margin: 0 10px 0 0;
  display: block;
}
.is-touch #hatena-services #servicelist,
.is-touch #hatena-services #open-close {
  display: none;
}
.is-touch #hatena-services .title {
  display: none;
}
.is-touch #hatena-services .loading {
  text-align: center;
}
.is-touch #hatena-services .loading img {
  width: 16px;
  height: 16px;
  /* margin: 80px 0 70px; */

  margin: 6.3em 0;
}
.is-touch #hatena-services .more-less {
  border-top: 2px solid #f0f0f0;
  text-align: center;
  font-size: .8em;
  color: #777;
  cursor: pointer;
  margin: 0 15px;
  padding: 10px 0;
}
.is-touch #hatena-services .view-more {
  background: url(/images/hatenaportal/portal/2012/arrow-open.png) right center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .is-touch #hatena-services .view-more {
    background: url(/images/hatenaportal/portal/2012/arrow-open@2x.png) no-repeat right center;
    -webkit-background-size: 18px 8px;
    background-size: 18px 8px;
  }
}
.is-touch #hatena-services .view-less {
  display: none;
  background: url(/images/hatenaportal/portal/2012/arrow-close.png) right center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .is-touch #hatena-services .view-less {
    background: url(/images/hatenaportal/portal/2012/arrow-close@2x.png) no-repeat right center;
    -webkit-background-size: 18px 8px;
    background-size: 18px 8px;
  }
}
.is-touch #hatena-services.more-shown .view-more {
  display: none;
}
.is-touch #hatena-services.more-shown .view-less {
  display: block;
}
.is-touch #hatena-services.more-shown li {
  display: block;
}
.is-touch.is-hatena-user #hatena-services .loading,
.is-touch.is-guest #hatena-services .loading {
  display: none;
}
.is-touch.is-hatena-user #hatena-services #servicelist,
.is-touch.is-guest #hatena-services #servicelist,
.is-touch.is-hatena-user #hatena-services #open-close,
.is-touch.is-guest #hatena-services #open-close {
  display: block;
}
.is-touch.is-hatena-user #facebook-container,
.is-touch.is-guest #facebook-container {
  display: block;
}
.is-touch.is-hatena-user #hatena-services .title {
  display: none;
}
.is-touch.is-hatena-user #hatena-services li:nth-child(odd) {
  border-width: 0 2px 2px 0;
}
.is-touch.is-hatena-user #hatena-services li:nth-child(odd) a {
  padding: 10px 15px 10px 0;
}
.is-touch.is-hatena-user #hatena-services li:nth-child(even) {
  border-width: 0 0 2px 0;
}
.is-touch.is-hatena-user #hatena-services li:nth-child(even) a {
  padding: 10px 5px 10px 15px;
}
.is-touch.is-hatena-user #hatena-services li:nth-child(5),
.is-touch.is-hatena-user #hatena-services li:nth-child(6) {
  border-bottom-width: 0;
}
.is-touch.is-hatena-user #hatena-services li:nth-child(n+7) {
  display: none;
}
.is-touch.is-hatena-user #hatena-services.more-shown li:nth-child(5),
.is-touch.is-hatena-user #hatena-services.more-shown li:nth-child(6) {
  border-bottom-width: 2px;
}
.is-touch.is-hatena-user #hatena-services.more-shown li:nth-child(n+7) {
  display: block;
}
.is-touch.is-hatena-user #hatena-services.more-shown li:last-child {
  border-bottom-width: 0;
}
.is-touch.is-hatena-user #servicelist {
  overflow: hidden;
  margin: 0;
  padding: 5px 15px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.is-touch.is-hatena-user #servicelist li {
  float: left;
  width: 50%;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #f0f0f0;
}
.is-touch.is-hatena-user #servicelist li a {
  display: block;
  overflow: hidden;
}
.is-touch.is-hatena-user .service-name {
  font-size: 1em;
  line-height: 2.2em;
  max-height: 2.2em;
  vertical-align: middle;
  display: block;
}
.is-touch.is-hatena-user .service-name span {
  padding: 2px 0 0 0;
  line-height: 1em;
  display: inline-block;
  width: 100%;
}
.is-touch.is-guest #hatena-services .title {
  display: block;
}
.is-touch.is-guest #hatena-services li {
  border-bottom: 2px solid #f0f0f0;
}
.is-touch.is-guest #hatena-services li:nth-child(6) {
  border-bottom-style: none;
}
.is-touch.is-guest #hatena-services li:nth-child(n+7) {
  display: none;
}
.is-touch.is-guest #hatena-services.more-shown li:nth-child(6) {
  border-bottom-style: solid;
}
.is-touch.is-guest #hatena-services.more-shown li:nth-child(n+7) {
  display: block;
}
.is-touch.is-guest #hatena-services.more-shown li:last-child {
  border-bottom-style: none;
}
.is-touch.is-guest #servicelist {
  margin: 0;
}
.is-touch.is-guest #servicelist li {
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 15px;
  border-bottom: 2px solid #f0f0f0;
  background: url(/images/hatenaportal/portal/2012/arrow-s.png) no-repeat right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .is-touch.is-guest #servicelist li {
    background: url(/images/hatenaportal/portal/2012/arrow-s@2x.png) no-repeat right center;
    -webkit-background-size: 12px 15px;
    background-size: 12px 15px;
  }
}
.is-touch.is-guest #servicelist li a {
  display: block;
  padding: 15px 25px 10px 0;
}
.is-touch.is-guest .service-name span {
  display: none;
}
.is-touch.is-guest .service-name:after {
  font-size: 1em;
  line-height: 1em;
  content: attr(title);
}
.is-touch.is-guest .servicelist-desc {
  display: inline-block;
  font-weight: normal;
  font-size: .8em;
  line-height: 1.5em;
  margin: 3px 0 0 0;
  min-height: 3em;
}
.is-touch #hatena-services,
.is-touch iframe,
.is-touch #section > section,
.is-touch #aside > section,
.is-touch #information,
.is-touch #smartphone-apps,
.is-touch #s-hatenanews,
.is-touch #news-serial {
  margin: 0 6px 12px;
  background: #fff;
  display: block;
  overflow: hidden;
}
.is-touch #hatena-services,
.is-touch #section > section,
.is-touch #aside > section,
.is-touch #information,
.is-touch #smartphone-apps,
.is-touch #s-hatenanews,
.is-touch #news-serial {
  border-bottom: 2px solid #e0e0e0;
}
.is-touch #hatena-services .title,
.is-touch #section > section .title,
.is-touch #aside > section .title,
.is-touch #information .title,
.is-touch #smartphone-apps .title,
.is-touch #s-hatenanews .title,
.is-touch #news-serial .title {
  font-size: 1.1em;
  line-height: 1.1em;
  margin: 0;
  background: #f5f5f5;
  color: #555;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}
.is-touch #hatena-services .title a,
.is-touch #section > section .title a,
.is-touch #aside > section .title a,
.is-touch #information .title a,
.is-touch #smartphone-apps .title a,
.is-touch #s-hatenanews .title a,
.is-touch #news-serial .title a,
.is-touch #hatena-services .title span,
.is-touch #section > section .title span,
.is-touch #aside > section .title span,
.is-touch #information .title span,
.is-touch #smartphone-apps .title span,
.is-touch #s-hatenanews .title span,
.is-touch #news-serial .title span {
  display: block;
  padding: 16px 15px 14px;
}
.is-touch #hatena-services #hotkeyword-inner .title,
.is-touch #section > section #hotkeyword-inner .title,
.is-touch #aside > section #hotkeyword-inner .title,
.is-touch #information #hotkeyword-inner .title,
.is-touch #smartphone-apps #hotkeyword-inner .title,
.is-touch #s-hatenanews #hotkeyword-inner .title,
.is-touch #news-serial #hotkeyword-inner .title {
  line-height: 1;
}
.is-touch #hatena-services #hotkeyword-inner .title span,
.is-touch #section > section #hotkeyword-inner .title span,
.is-touch #aside > section #hotkeyword-inner .title span,
.is-touch #information #hotkeyword-inner .title span,
.is-touch #smartphone-apps #hotkeyword-inner .title span,
.is-touch #s-hatenanews #hotkeyword-inner .title span,
.is-touch #news-serial #hotkeyword-inner .title span {
  display: inline;
  padding: 0 1px;
}
.is-touch #hatena-services #hotkeyword-inner .list li,
.is-touch #section > section #hotkeyword-inner .list li,
.is-touch #aside > section #hotkeyword-inner .list li,
.is-touch #information #hotkeyword-inner .list li,
.is-touch #smartphone-apps #hotkeyword-inner .list li,
.is-touch #s-hatenanews #hotkeyword-inner .list li,
.is-touch #news-serial #hotkeyword-inner .list li {
  margin: 0;
}
.is-touch #hatena-services .more,
.is-touch #section > section .more,
.is-touch #aside > section .more,
.is-touch #information .more,
.is-touch #smartphone-apps .more,
.is-touch #s-hatenanews .more,
.is-touch #news-serial .more {
  text-align: center;
  overflow: hidden;
  margin: 0;
  background: #fff;
}
.is-touch #hatena-services .more a,
.is-touch #section > section .more a,
.is-touch #aside > section .more a,
.is-touch #information .more a,
.is-touch #smartphone-apps .more a,
.is-touch #s-hatenanews .more a,
.is-touch #news-serial .more a {
  font-size: .8em;
  padding: 10px 0;
  color: #777;
  display: block;
}
.is-touch #hatena-services .more a span,
.is-touch #section > section .more a span,
.is-touch #aside > section .more a span,
.is-touch #information .more a span,
.is-touch #smartphone-apps .more a span,
.is-touch #s-hatenanews .more a span,
.is-touch #news-serial .more a span {
  padding: 0 15px 0 0;
  background: url(/images/hatenaportal/portal/2012/arrow.png) right center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .is-touch #hatena-services .more a span,
  .is-touch #section > section .more a span,
  .is-touch #aside > section .more a span,
  .is-touch #information .more a span,
  .is-touch #smartphone-apps .more a span,
  .is-touch #s-hatenanews .more a span,
  .is-touch #news-serial .more a span {
    background: url(/images/hatenaportal/portal/2012/arrow@2x.png) no-repeat right center;
    -webkit-background-size: 5px 10px;
    background-size: 5px 10px;
  }
}
.is-touch #section > section .list,
.is-touch #information .list,
.is-touch #smartphone-apps .list,
.is-touch #s-hatenanews .list,
.is-touch #news-serial .list {
  margin: 0;
}
.is-touch #section > section .list li,
.is-touch #information .list li,
.is-touch #smartphone-apps .list li,
.is-touch #s-hatenanews .list li,
.is-touch #news-serial .list li {
  overflow: hidden;
  border-bottom: 2px solid #f0f0f0;
  margin: 15px 15px 0;
}
.is-touch #section > section .list li:nth-child(n+7),
.is-touch #information .list li:nth-child(n+7),
.is-touch #smartphone-apps .list li:nth-child(n+7),
.is-touch #s-hatenanews .list li:nth-child(n+7),
.is-touch #news-serial .list li:nth-child(n+7) {
  display: none;
}
.is-touch #section > section .list-img,
.is-touch #information .list-img,
.is-touch #smartphone-apps .list-img,
.is-touch #s-hatenanews .list-img,
.is-touch #news-serial .list-img {
  width: 60px;
  height: 60px;
  float: right;
  margin: 0 0 0 -70px;
  overflow: hidden;
  text-align: right;
  display: block;
  border: none;
}
.is-touch #section > section .list-img img,
.is-touch #information .list-img img,
.is-touch #smartphone-apps .list-img img,
.is-touch #s-hatenanews .list-img img,
.is-touch #news-serial .list-img img {
  max-height: 60px;
}
.is-touch #section > section .list-img + .list-main,
.is-touch #information .list-img + .list-main,
.is-touch #smartphone-apps .list-img + .list-main,
.is-touch #s-hatenanews .list-img + .list-main,
.is-touch #news-serial .list-img + .list-main {
  margin: 0 70px 0 0;
}
.is-touch #section > section .list-main,
.is-touch #information .list-main,
.is-touch #smartphone-apps .list-main,
.is-touch #s-hatenanews .list-main,
.is-touch #news-serial .list-main {
  float: left;
}
.is-touch #section > section .list-main a,
.is-touch #information .list-main a,
.is-touch #smartphone-apps .list-main a,
.is-touch #s-hatenanews .list-main a,
.is-touch #news-serial .list-main a {
  display: block;
}
.is-touch #section > section .users,
.is-touch #information .users,
.is-touch #smartphone-apps .users,
.is-touch #s-hatenanews .users,
.is-touch #news-serial .users {
  margin-bottom: 5px;
}
.is-touch #section > section .list-link,
.is-touch #information .list-link,
.is-touch #smartphone-apps .list-link,
.is-touch #s-hatenanews .list-link,
.is-touch #news-serial .list-link {
  display: block;
  overflow: hidden;
}
.is-touch #section > section .list-link img,
.is-touch #information .list-link img,
.is-touch #smartphone-apps .list-link img,
.is-touch #s-hatenanews .list-link img,
.is-touch #news-serial .list-link img {
  vertical-align: middle;
}
.is-touch #section > section .list-title,
.is-touch #information .list-title,
.is-touch #smartphone-apps .list-title,
.is-touch #s-hatenanews .list-title,
.is-touch #news-serial .list-title {
  font-weight: bold;
  font-size: .9em;
  line-height: 1.5em;
  max-height: 3em;
  display: block;
  overflow: hidden;
}
.is-touch #section > section .list-title .favicon,
.is-touch #information .list-title .favicon,
.is-touch #smartphone-apps .list-title .favicon,
.is-touch #s-hatenanews .list-title .favicon,
.is-touch #news-serial .list-title .favicon {
  margin: 0 3px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.is-touch #section > section .list-title .list-date,
.is-touch #information .list-title .list-date,
.is-touch #smartphone-apps .list-title .list-date,
.is-touch #s-hatenanews .list-title .list-date,
.is-touch #news-serial .list-title .list-date {
  display: inline-block;
  background: #ddd;
  font-size: .8em;
  line-height: 1.2em;
  padding: 2px 4px;
  margin: 0 5px 2px 0;
}
.is-touch #section > section .list-text,
.is-touch #information .list-text,
.is-touch #smartphone-apps .list-text,
.is-touch #s-hatenanews .list-text,
.is-touch #news-serial .list-text {
  margin: 5px 0;
  color: #7a7a7a;
  font-size: .8em;
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;
  display: block;
}
.is-touch #section > section .list-footer,
.is-touch #information .list-footer,
.is-touch #smartphone-apps .list-footer,
.is-touch #s-hatenanews .list-footer,
.is-touch #news-serial .list-footer {
  display: block;
  margin: 0 0 10px 0;
  font-size: .8em;
  color: #aaa;
}
.is-touch #section > section .list-footer img,
.is-touch #information .list-footer img,
.is-touch #smartphone-apps .list-footer img,
.is-touch #s-hatenanews .list-footer img,
.is-touch #news-serial .list-footer img {
  vertical-align: top;
}
.is-touch #top-info a {
  display: block;
  font-size: .9em;
  margin-bottom: 13px;
  background: #fff;
  padding: 15px;
  border-bottom: 2px solid #e0e0e0;
  margin: 0 6px 12px;
  font-weight: bold;
}
.is-touch #s-bookmark .title {
  border-top: 2px solid #008fde;
}
.is-touch #s-bookmark .title a {
  background: url("/images/hatenaportal/portal/2012/s-link-icon-bookmark@2x.png") no-repeat 10px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 50px !important;
}
.is-touch #s-blog .title {
  border-top: 2px solid #333333;
}
.is-touch #s-blog .title a {
  background: url("/images/hatenaportal/portal/2012/s-link-icon-blog@2x.png") no-repeat 10px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 50px !important;
}
.is-touch #s-hatenanews .title {
  border-top: 2px solid #0066df;
}
.is-touch #s-hatenanews .title a {
  background: url("/images/hatenaportal/portal/2012/s-link-icon-hatenanews@2x.png") no-repeat 10px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 50px !important;
}
.is-touch #s-question .title {
  border-top: 2px solid #319ab8;
}
.is-touch #s-question .title a {
  background: url("/images/hatenaportal/portal/2012/s-link-icon-question@2x.png") no-repeat 10px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 50px !important;
}
.is-touch #hotkeyword .title {
  border-top: 2px solid #55bab0;
}
.is-touch #hotkeyword .title a {
  background: url("/images/hatenaportal/portal/2012/s-link-icon-keyword@2x.png") no-repeat 10px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 50px !important;
}
.is-touch #news-serial .title {
  border-top: 2px solid #42c6c6;
}
.is-touch #news-serial .title a {
  background: url("/images/hatenaportal/portal/2012/s-link-icon-serial@2x.png") no-repeat 10px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 50px !important;
}
.is-touch #s-question .title a,
.is-touch #hotkeyword .title a {
  color: #555;
}
.is-touch #s-question .title img,
.is-touch #hotkeyword .title img {
  display: none;
}
.is-touch #hotkeyword-inner {
  border: none;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.is-touch #hotkeyword-inner .title {
  font-weight: bold;
  text-shadow: none;
}
.is-touch #hotkeyword-inner .title a {
  color: #333;
}
.is-touch #hotkeyword-inner .title time {
  background: #e7e7e7;
  display: block;
  float: right;
  font-size: .92em;
  margin-top: -4px;
  padding: 5px 10px;
}
.is-touch #hotkeyword-inner .list {
  border: none;
}
.is-touch #hotkeyword-inner .list li {
  border-top: none;
  border-bottom: 2px solid #f0f0f0;
  padding: 9px 0;
}
.is-touch #hotkeyword-inner .list a {
  color: #333;
}
.is-touch #s-question-inner {
  border: none;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.is-touch #s-question-inner .list {
  margin: 0;
}
.is-touch #s-question-inner .list li {
  border-top: none;
  margin-top: 0 !important;
  padding: 0 12px;
}
.is-touch #s-question-inner .list li a {
  border-bottom: 2px solid #f0f0f0;
  font-size: .9rem;
  padding: 15px 0;
}
.is-touch iframe {
  margin: 0 6px 12px;
  background: #fff;
  display: block;
}
.is-touch #facebook-container {
  display: none;
}
.is-touch #facebook-container iframe {
  margin: 0;
}
.is-touch #smartphone-apps .title {
  font-size: .6em;
  background: #fafafa;
  padding: 5px 9px;
}
.is-touch #smartphonelist {
  margin: 15px 0;
  overflow: hidden;
  display: table;
  padding: 1em 0;
  width: 100%;
}
.is-touch #smartphonelist li {
  display: table-cell;
  width: 25%;
  padding: 0 8px;
  margin: 0 0 10px 0;
  border-right: 1px solid #f0f0f0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
}
.is-touch #smartphonelist li:first-child {
  padding-left: 9px;
}
.is-touch #smartphonelist li#bookmark_girls-app {
  border-right: none;
  padding-right: 10px;
}
.is-touch #smartphonelist li#space-app,
.is-touch #smartphonelist li#question-app {
  display: none;
}
.is-touch #smartphonelist li img {
  display: block;
  max-width: 100%;
  margin: 0 auto 5px;
}
.is-touch #smartphonelist li span {
  font-size: .88em;
  line-height: 1.2;
  font-weight: bold;
}
.is-touch #information {
  margin: 0 6px 12px;
}
.is-touch #information li {
  border-bottom: 2px solid #f0f0f0;
  padding: 0;
  margin: 0 15px;
}
.is-touch #information li:nth-child(n+4) {
  display: none;
}
.is-touch #information .list-link {
  margin: 0 0 15px 0;
}
.is-touch #top-ad {
  margin: 0 6px 2px;
  font-size: .8em !important;
  background: #fff;
}
.is-touch #top-ad a {
  display: block;
  padding: 15px;
}
.is-touch #ad-dfp-portal-top {
  margin: 0 6px 12px;
  background: #fff;
  text-align: center;
  overflow: hidden;
  padding: 15px 0;
}
.is-touch #ad-dfp-portal-top img {
  min-width: 100%;
}
.is-touch #ad-dfp-portal-top iframe {
  margin: 0 auto;
}
.is-touch .ad-image-center a {
  display: block;
  margin: 0 6px 12px;
  text-align: center;
}
.is-touch .ad-image-center a img {
  max-width: 100%;
  vertical-align: bottom;
  border-bottom: 2px solid #e0e0e0;
}
.is-touch #touch-footer {
  background: #fff;
  overflow: hidden;
}
.is-touch #touch-footer ul {
  overflow: hidden;
  margin: 0 15px;
  border-bottom: 2px solid #f0f0f0;
}
.is-touch #touch-footer ul li {
  float: left;
  font-size: .8em;
  text-align: center;
  width: 44%;
}
.is-touch #touch-footer ul li a {
  display: block;
  padding: 15px 0;
}
.is-touch #touch-footer ul li:first-child,
.is-touch #touch-footer ul li:last-child {
  width: 28%;
}
.is-touch #touch-footer #logout {
  border-top: 2px solid #f0f0f0;
  border-bottom: none;
}
.is-touch #touch-footer #logout li {
  width: 100%;
}
.is-touch #facebook-container {
  padding: 10px 15px 15px 30px;
  overflow: hidden;
}
.is-touch #facebook-container #facebook {
  width: 42%;
  float: left;
}
.is-touch #facebook-container #twitter {
  width: 58%;
  float: right;
  overflow: hidden;
}
.is-touch #facebook-container hgroup {
  margin: 0 10px 5px 0;
}
.is-touch #facebook-container hgroup a {
  display: block;
  overflow: hidden;
}
.is-touch #facebook-container .title-h2 {
  color: #aaa;
  font-size: .75em;
  line-height: 1.5em;
  margin: 0 .5em 0 0;
  float: left;
}
.is-touch #facebook-container .title-h3 {
  color: #3b5999;
  font-size: .75em;
  line-height: 1.5em;
  float: left;
}
.is-touch #facebook-container p {
  margin: 0;
}
.is-touch #copyright {
  overflow: hidden;
}
.is-touch #copyright-inner {
  border-top: 1px solid #f0f0f0;
  overflow: hidden;
  margin: 0 15px;
  padding: 5px 0 7px;
  color: #888;
}
.is-touch #copyright-inner small {
  display: block;
  float: left;
  margin: 10px 15px;
  width: 5em;
  font-size: .75em;
}
.is-touch #copyright-inner #logout {
  float: right;
  width: 10em;
  text-align: right;
  margin: 0;
}
.is-touch #copyright-inner #logout form {
  display: block;
  padding: 0;
}
.is-touch #copyright-inner #logout form button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  font-size: .7em;
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  color: inherit;
}
.is-touch div.appbanner {
  font-family: Helvetica, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, "Roboto", Arial, sans-serif;
  height: 82px;
  background-color: #F5F5F5;
  border-bottom: 2px solid #E9E9E9;
  position: relative;
}
.is-touch div.appbanner a.close {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
}
.is-touch div.appbanner a.close img {
  width: 16px;
  height: 16px;
}
.is-touch div.appbanner a.app-icon {
  width: 58px;
  height: 58px;
  text-align: center;
  display: block;
  position: absolute;
  top: 13px;
  left: 30px;
}
.is-touch div.appbanner a.app-icon img {
  width: 58px;
  height: 58px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.is-touch div.appbanner a.view {
  width: 48px;
  height: 28px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  display: block;
  color: #FFF;
  background-color: #14A0FA;
  border: 1px solid #FFF;
  position: absolute;
  top: 25px;
  right: 6px;
}
.is-touch div.appbanner a.view:hover {
  background-color: #4BBECE;
}
.is-touch div.appbanner ul.app-info {
  position: absolute;
  top: 17px;
  left: 102px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.is-touch div.appbanner ul.app-info li {
  font-size: 12px;
  line-height: 17px;
  color: #9E9E9E;
  margin: 0;
  padding: 0;
}
.is-touch div.appbanner ul.app-info li.title {
  font-size: 14px;
  line-height: 14px;
  color: #565656;
  font-weight: normal;
  margin-bottom: 5px;
  background-color: transparent;
}
.is-touch div.appbanner ul.app-info li.title span {
  font-size: 12px;
  letter-spacing: -1px;
  margin-left: 6px;
}
.is-touch .news-wrapper {
  width: auto;
  height: auto;
}
.is-touch #news-serial .title {
  padding: 0 15px;
  position: relative;
}
.is-touch #news-serial .serial-title {
  display: inline-block !important;
  padding: 16px 0 14px 50px !important;
}
.is-touch .serial-label {
  color: #fff;
  background: #42c6c6;
  display: inline-block !important;
  padding: 0 4px !important;
  margin: 0 5px 0 0;
  font-weight: normal;
  line-height: 1.6;
  font-size: 85%;
  position: absolute;
  top: 13px;
}
.is-touch #s-question li {
  padding-bottom: 10px;
}
.is-touch .list-question-image {
  width: 16px;
  height: 16px;
  margin-top: -4px;
  margin-right: 7px;
}
.is-touch .list-question-title {
  font-weight: bold;
  font-size: .9em;
  line-height: 1.5em;
}
.is-touch .daichkr .sidebar-right-title {
  font-size: 1.1em;
  line-height: 1.1em;
  margin: 0;
  color: #555;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  border-top: 2px solid #2878ff;
}
.is-touch .daichkr .sidebar-right-title a {
  display: block;
  padding: 16px 15px 14px;
  background: url("/images/hatenaportal/portal/2012/s-link-icon-daichkr@2x.png") no-repeat 10px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 50px !important;
}
.is-touch .daichkr .sidebar-right-title span {
  color: #bbb;
  font-weight: normal;
  padding-left: 5px;
}
.is-touch .daichkr .sidebar-right-list a {
  padding: 15px;
}
.is-touch .daichkr-content {
  margin: 0;
}
.is-touch .daichkr-content a {
  display: block;
  min-height: 36px;
}
.is-touch .daichkr-content li {
  border-top: 2px solid #f0f0f0;
  clear: both;
  box-sizing: border-box;
  font-size: 120%;
}
.is-touch .daichkr-content li:last-child {
  border-bottom: 2px solid #f0f0f0;
}
.is-touch .daichkr-content img {
  width: 36px;
  height: 36px;
  float: left;
  border: none;
}
.is-touch .daichkr-antenna-title {
  font-weight: bold;
  font-size: .9em;
  line-height: 1.35em;
  display: block;
}
.is-touch .daichkr-antenna-data {
  font-size: 70%;
  color: #999;
}
.is-touch .daichkr-antenna-data strong {
  color: #333;
}
.is-touch .sidebar-right-title {
  background: #fff;
  color: #555;
  font-size: 1.1em !important;
  line-height: 1.1em;
}
.is-touch .sidebar-right-inner {
  margin-top: 0;
  border: 0;
}
.is-touch #touch-footer-ad {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.is-touch #touch-footer-ad iframe {
  display: block;
  margin: 0 auto;
}
.is-touch #touch-footer-ad-placeholder {
  height: 80px;
}
