body{font-family:Roboto,Arial,Helvetica,sans-serif;background-image: url("../images/main/bg.gif"); }
hr{border: 0;background-color: #C0C0C0;height: 5px;}
a,img,table{border:none;}
a:link a:visited {border:none;text-decoration:none;}
#wrap{width:960px; margin:25px auto;}
#header{margin-bottom:5px;font-size:20px;}
#logo{float:left;}
#site_navigation {padding-top:70px;float:right;}
#site_navigation a:link, a:visited {font-family:Roboto,Arial,Helvetica,sans-serif;;font-size:15.4px;padding-left:50px;color:#808080;text-decoration:none;}
#site_navigation a:hover {color:#0094FF;}
#content{text-align:center; font-size:12px;}
#online{margin:15px 0; padding:5px 0; text-align:center; font-size:12px;}
#footer{font-size:12px; text-align:center;}
#footer div{margin-bottom:5px;padding-bottom:10px}
#cari-footer a:link, a:visited {color:#808080;text-decoration:none;}
#cari-footer a:hover {color:#0094FF;}
table,tr,td
{
	border-collapse:collapse;
	border:none;
	margin: 0px;
	padding: 0px;
}

#c_hottopic,#c_zicha,#m_Hal_Ehwal_Semasa,#m_Borak{
	position: absolute;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

#c_hottopic{
	padding-top:150px;
}

#c_zicha{
	padding-top: 110px;
}

#m_Hal_Ehwal_Semasa{
	padding-top: 50px;
}

.slogon{padding-top:10px;font-size:28px;}
.slogon span{font-size:18px;}
.images_padding{padding-top:30px;}
.forum-button{padding-top:15px;width:800px; margin:auto;}
.forum-button a{padding:0 10px;}
.app-font{font-family:Roboto,Arial,Helvetica,sans-serif;font-size:15.4px;color:#808080;}
.app-other{font-family:Roboto,Arial,Helvetica,sans-serif;font-size:10.4px;color:#808080;}
.clear{clear:both;}