
/*　速報見出し
----------------------------------------------*/
.special_newsflash ol {
    margin-bottom: 4px;
    padding: 8px 6px;
    background: #F6F6F6;
    border: 1px solid #DDD;
    z-index: 0;
    overflow: hidden;
}
.special_newsflash li { margin-bottom: 0 !important; letter-spacing: 0 !important; }
.special_newsflash li span { font-size: 1.2rem; letter-spacing: -0.02em; }
.special_newsflash li a { font-size: 14px !important; }
.newslist li a:hover { color: #805496; }

/*　タブ
----------------------------------------------*/
#special_newsArea {
    margin-bottom: 10px;
    margin-top: 10px;
}
.special_tab {
    border-bottom: 3px solid #ff1a2f;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
}
#special_newsArea ul {
    overflow: hidden;
    margin-bottom: -3px;
}
#special_newsArea .tab-nav li {
    line-height: 30px;
    float: left;
    margin-right: 10px;
}

#special_newsArea .special_tab ul li.is_active a {
    border-bottom: 3px solid #FFF;
    display: inline-block;
    width: 150px;
    text-align: center;
}
#special_newsArea .special_tab ul li a {
    display: inline-block;
    width: 150px;
    text-align: center;
}


/* タブ　色 */
#special_newsArea .tab-nav li.nikkan a {
    background: #d0e5ff;
    color: #0075c2;
}
#special_newsArea .tab-nav li.nikkan.is_active a {
    color: #0075c2;
    background: #FFF;
    border: 1px solid #0075c2;
    border-bottom: 3px solid #FFF;
}
#special_newsArea .tab-nav li.specialTab a {
    background: #ffc8c1;
    color: #ff1a2f;
}
#special_newsArea .tab-nav li.specialTab.is_active a {
    color: #ff1a2f;
    background: #FFF;
    border: 1px solid #ff1a2f;
    border-bottom: 3px solid #FFF;
}

/* 文字スタイル調整 */

#specialNews .newslist li {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
}
#specialNews .newslist li a {
    font-size: 14px;
    font-size: 1.4rem;
}


/*　ニュースリスト
----------------------------------------------*/

/* ニュースリスト time */
#home #main #nikkanNews time,
#home #main #specialNews time {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
}
#home #main #specialNews time { display: none; }
#specialNews .newslist li { letter-spacing: -0.08em; }

/* 特集　ニュースと写真並び入れ替え */
#specialNews ul.newslist { float: right; }
#specialNews .top-news_photo { float: left; }

#specialNews .linklist { clear: both; }


/* clearFix
-------------------------------------------------------- */
#special_newsArea ul.newslist:after,
#special_newsArea .special_tab:after,
#home #main:after,
#special_newsArea:after,
#home #new-photonews:after,
#home .rio_specialArea:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}





