/*
Theme Name: persiangig

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/


body {
	direction: rtl;
	unicode-bidi: embed;
	text-align:right;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
direction: rtl;
}

.accordion .accordion-title a:before{
margin-left: 0px;
margin-right: 15px;
}

.accordion .accordion-inner{padding-right: 15px;}

.product-info .quantity {float:right;}


.checkout-breadcrumb h1{overflow: hidden}
.checkout-breadcrumb h1 span{float:right;}
.checkout-breadcrumb span.icon-angle-right:before{content: "\f104"!important;}

.absolute-footer ul li {float:right;padding-right: 0;padding-left: 15px;}

.ux_banner .text-left .tx-div, .ux_banner .text-left p {
margin: 0 0 0 auto;}

h3.breadcrumb{overflow:hidden;}
h3.breadcrumb *{float:right;margin-left: 10px;}

table td, table th,table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td{text-align: right;}
.select-wrapper:after {right:auto;left:10px;margin:0;}

select, .select2-container .select2-choice{
	background-position: 5% 50%;
}

.mfp-close {right:auto;left:0;}

.shop_table .shipping th{padding: 0; padding-left: 15px;}

.quantity.buttons_added .plus{border-width:1px!important;}

#top-bar .left, .breadcrumb-row .left, .absolute-footer .left {
float: right !important;
}

#top-bar .right, .breadcrumb-row .right, .absolute-footer .right {
float: left !important;
}

#billing_first_name_field, #billing_email_field {
padding:0; padding-left: 2%;
}

.woocommerce-result-count{margin:0; margin-left: 20px;}

.next-prev-nav .icon-angle-left:before, .page-numbers .icon-angle-left:before { content: "\f105" !important; }

.next-prev-nav .icon-angle-right:before, .page-numbers .icon-angle-right:before { content: "\f104" !important; }

ul.header-nav li{float:right;}

#masthead .right-links > ul{float:left;}
#masthead .left-links > ul {float:right;}
ul.header-nav li{margin-left: 0;margin-right: 15px;}
#logo{text-align: right!important;}
.header-nav li.account-dropdown{border:0; padding:0;border-left: 1px solid rgba(0, 0, 0, 0.1);
padding-left: 15px;}

li.mini-cart .nav-dropdown{right:auto;left:20px;}

.cart-icon strong{margin-left: 0;margin-right: 15px;}
.cart-icon .cart-icon-handle {right:auto; margin:0; left: 50%; margin-left: -14.5px;}
.text-left{text-align: right!important;}

ul.top-bar-nav li{border-left: 0px;border-right:1px solid rgba(255, 255, 255, 0.2);margin-left: 0px;margin-right: 10px;padding-left: 0;padding-right: 10px;}

.nav-dropdown > ul:after,.nav-dropdown > .row:after,.nav-dropdown-inner:after, .menu-item-language .sub-menu:after {left:auto;right:10px;}
.nav-dropdown-inner:after{left:-25px;right:auto;} /* cart dropdown fix */
.menu-item-language .sub-menu:after{top:-15px;right:auto;left:20px}
.no-arrow.nav-dropdown > ul:after{opacity: 0;}

.mini-cart .product_list_widget li{padding-right:75px!important; padding-left: 0px!important;}



blockquote{border:0;padding:0; border-right:1px solid #eee; padding-right: 30px;}

#logo{text-align: left}
.tx-div {margin: 15px 0 15px auto;}
.widget_product_tag_cloud a, .widget_tag_cloud a{float:right}
.widget_product_categories li .count, .widget_layered_nav li .count{float:left;}
.select-wrapper{margin:0 0 0 auto}
.tabbed-content ul.tabs li {float:right}
.product-thumbnails{text-align:left;}
.product-lightbox-inner{text-align:right}
.product-info .star-rating {margin-left:auto;}
.review-item .description{padding-right:0;}
.woocommerce p.stars span, .woocommerce-page p.stars span {float:right;}
.tabbed-content ul.tabs li a{margin-left:25px;margin-right:0}
.yith-wcwl-wishlistexistsbrowse a, .yith-wcwl-add-button a.add_to_wishlist, .yith-wcwl-wishlistaddedbrowse a {
text-indent: -9999px!important;
}
.vertical-tabs ul.tabs-nav li a{
	padding-right: 15px;
}
input{text-align: right}
.cart_list_product_img{margin-left: 10px!important;}
.product_list_widget li{padding: 10px 75px 10px 0px;}
.product_list_widget .wp-post-image {right: 0px;left:auto;}

.widget_product_categories li .count{right:auto; left:0px;}
.widget_product_categories li a{padding-right: 0; padding-left: 15px;}

.chosen-container .chosen-drop{right:-9999px;left:auto;}
.mini-cart-item a.cart_list_product_title{padding:0}

.shop_table.cart td.product-name{text-align:right}

.pagination-centered ul > li{float:right;margin-left:5px;}
.pagination-centered ul{overflow:hidden;}

h4.breadcrumb {overflow: hidden;}
h4.breadcrumb > *{float:right;}

.button.filter-button{margin: 0 0 0 30px;}

h3.section-title a{float:left;}

.mobile-sidebar li{text-align: right;}
.mobile-sidebar li ul:before{right:auto;left:0;}
ul.header-nav li {
    margin-left: 0;
    margin-right: 40px;
}
.accordion .accordion-title a:before {
    float: right;
    margin-left: 10px;
}
.ux_banner h1, .ux_banner h2, .ux_banner h3, .ux_banner h4, .ux_banner h5{
	font-weight: normal;
    line-height: initial;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
.tabbed-content.shortcode_tabgroup .tabs {
	border-top: none;
}
/*	services-first-page	*/
#services-first-page .tabs .tab {
    width: 25%;
}
.ux-slider-wrapper.relative {
    background-color: #F9F9F9;
    padding-bottom: 70px;
    margin-bottom: -100px;
}
div#services-first-page {
    margin-top: -30px;
}
div#services-first-page li.tab {
    background-repeat: no-repeat;
    background-position: right;
    height: 100px;
	width: 25%;
    border: 1px solid #d8d8d8;
    background-color: #f9f9f9;
	background-position-x: 95%;
}
div#services-first-page .tabbed-content ul.tabs li a {
	-webkit-transition: 1s;
    transition: 1s;
    padding: 30px 78px 0px 0px;
	margin: 0px;
}
div#services-first-page .tabbed-content ul.tabs li a:hover,
div#services-first-page .tabbed-content ul.tabs li.active a, .tabbed-content ul.tabs li.current_page_item a {
	border-color: #6AC7F4;
	color: #6AC7F4;
	border-width: 12px;
}
#services-first-page .tabs .tab.active {
    background-color: white;
    border-bottom: none;
}
div#services-first-page li.tab:nth-child(1):before {
    background-image: url(/wp-content/themes/persiangig/img/icons.png);
    content: " ";
    width: 60px;
    float: right;
    height: 60px;
    background-position-x: 109px;
	background-position: 109px 0px;
    margin-right: 10px;
    margin-top: 20px;
}
div#services-first-page li.tab:nth-child(2):before {
    background-image: url(/wp-content/themes/persiangig/img/icons.png);
    content: " ";
    width: 60px;
    float: right;
    height: 60px;
    background-position-x: 168px;
	background-position: 168px 0px;
    margin-right: 10px;
    margin-top: 20px;
}
div#services-first-page li.tab:nth-child(3):before {
    background-image: url(/wp-content/themes/persiangig/img/icons.png);
    content: " ";
    width: 60px;
    float: right;
    height: 60px;
    background-position-x: 303px;
	background-position: 303px 0px;
    margin-right: 10px;
    margin-top: 20px;
}
div#services-first-page li.tab:nth-child(4):before {
    background-image: url(/wp-content/themes/persiangig/img/icons.png);
    content: " ";
    width: 60px;
    float: right;
    height: 60px;
    background-position-x: 439px;
	background-position: 439px 0px;
    margin-right: 10px;
    margin-top: 20px;
}
div#services-first-page .panels .panel {
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 45%;
    padding-top: 30px;
	height: 300px;
	display: none;
}
div#services-first-page .panels .panel.active {
	display: block;
}
div#services-first-page .panels .panel:nth-child(1) {
	background-image: url(/wp-content/themes/persiangig/img/panel1.jpg);
}
div#services-first-page .panels .panel:nth-child(2) {
	background-image: url(/wp-content/themes/persiangig/img/panel2.jpg);
}
div#services-first-page .panels .panel:nth-child(3) {
	background-image: url(/wp-content/themes/persiangig/img/panel3.jpg);
}
div#services-first-page .panels .panel:nth-child(4) {
	background-image: url(/wp-content/themes/persiangig/img/panel4.jpg);
}

/*Why First Page*/
div#why-first-page {
    background-color: #f6fafb;
    max-width: 100%;
    padding-top: 45px;
    margin-top: -45px;
    padding-right: 12%;
    padding-left: 12%;
    padding-bottom: 60px;
    margin-bottom: -16px !important;
}
#why-first-page .column-inner {
    height: 200px;
}
#why-first-page h4 {
    padding-right: 70px;
    font-size: 18px;
}

/*footer-persiangig*/
#footer-persiangig svg {
    margin-top: 45px;
    margin-bottom: 45px;
}
#footer-persiangig p {
    font-size: 13px;
    color: #595f7c;
    text-align: center;
}
.footer h3.widget-title {
    color: white;
    font-size: 20px;
}
.footer ul li a {
    border: none !important;
    color: #595f7c !important;
}
.footer ul li a:hover {
	color: white !important;
}
.footer ul li {
	list-style-image: url(/wp-content/themes/persiangig/img/list-marker.png);
	list-style-position: inside;
}
.footer .large-3 {
    width: 18%;
}
.footer .large-3:last-child {
    width: 28%;
}
.post-date .post-date-month {
    font-size: 69%;
}
.blog-list-style .columns {
    float: right;
}
.blog-posts li {
    float: right;
}
.breadcrumbs
{
	font-size: 0.9em;
	color: #000;
	position: relative;
        margin: 50px 15% 0 10px;
	/*float: left;*/
}
.breadcrumbs a
{
	color: #6ACCFB;
}
.login-box {
    margin-top: 40px;
}
.move_down .login-box {
    margin-top: 15px;
}
.iosSlider .inner-wrap h2, .iosSlider  .inner-wrap h3, .iosSlider .inner-wrap h4 {text-shadow: 0 0 10px #000,0 0 10px #000,0 0 10px #000;}
