/*
Author: UX-Themes
Description: Flat Responsive WooCommerce theme
Version: 2.8.5
License:
License URI:
*/

/***************
All custom CSS should be added to Theme Options > Custom CSS,
or in the style.css of a Child Theme.
***************/
@font-face {
  font-family: iransans;
  src: url(iransans.woff);
}
* {
  font-family: iransans !important;
}
body {
  font-family: iransans !important;
  direction: rtl;
  overflow-x: hidden;
  background-color: white !important;
}
.row.collapse .column, .row.collapse .columns {
  float: right;
}
.vertical-tabs .tabs-inner {
  border-left: 0px;
  padding-left: 0px;
  padding-right: 40px;
  border-right: 1px solid #DDD;
}
.row.collapse .column, .row.collapse .columns {
  float: right;
}
.vertical-tabs ul.tabs-nav li.current a, .vertical-tabs ul.tabs-nav li.current_page_item a, .vertical-tabs ul.tabs-nav li a:hover, .vertical-tabs ul.tabs-nav li.current-menu-item a {
    border-right: 0px;
    border-left: 4px solid #DDD;
}
.vertical-tabs ul.tabs-nav {
    border-right: 0px;
    border-left: 1px solid #ddd;
    text-align: left;
}
.vertical-tabs ul.tabs-nav li a {
    padding-left: 20px;
}
.widget_product_categories li ul.children {
    display: block;
    padding: 0px 30px 0px 0px;
}
#team-members .row .large-3.columns {
    min-height: 450px !important;
}
#services-tab-section .tabs {
    display: none;
}
#service-tab-clicks .large-3.small-12.columns {
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}
#service-tab-clicks .small-12.large-3.columns.active {
    border-bottom: 2px solid #991A1A;
    padding-top: 2px;
}

.footer ul li a {display: inline-block;}
