/* TOP MENU */

#topmenu-v02{
	width: 970px;
	height:60px;
	padding:0;
	background : #9E9E9E;
	margin-left:auto;
	margin-right:auto;	
	z-index: 1000;
}

#tmenu-home{
	float:left;
}

#tmenu-wkfav, #tmenu-wkch, #tmenu-wkcom{
	float:left;
	height:60px;
	background:#7E7E7E;
	border:1px solid #666666;
	border-top:0;
	border-bottom:0;	
}

#tmenu-wkch{
	background:#CC0000;
	border:1px solid #FF0000;
	border-top:0;
	border-bottom:0;		
}

#tmenu-wkcom{
	background:#9E9E9E;
	border-left:1px solid #8C8C8C;
	border-right:0;border-top:0;border-bottom:0;
}

#tmenu-topcat{
	height:29px;
	font: bold 12px Georgia;
	color: white;
	line-height:29px;
	padding-left:10px;
}

.ddsmoothmenu, .ddsmoothmenu-ch, .ddsmoothmenu-com{
font: bold 11px Arial;
background: #7E7E7E; /*background of menu bar (default state)*/
width: 100%;
}

.ddsmoothmenu-ch{
background: #CC0000;
}

.ddsmoothmenu-com{
background: #9E9E9E;
}

.ddsmoothmenu ul, .ddsmoothmenu-ch ul, .ddsmoothmenu-com ul{
z-index:1;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li, .ddsmoothmenu-ch ul li, .ddsmoothmenu-com ul li  {
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a, .ddsmoothmenu-ch ul li a, .ddsmoothmenu-com ul li a{
display: block;
background: #7E7E7E; /*background of menu items (default state)*/
color: white;
padding: 8px 10px;
color: #2d2b2b;
text-decoration: none;
}

.ddsmoothmenu-ch ul li a{
background: #CC0000; /*background of menu items (default state)*/
color: white;
}

.ddsmoothmenu-com ul li a{
background: #9E9E9E; /*background of menu items (default state)*/
color: white;
}

* html .ddsmoothmenu ul li a, * html .ddsmoothmenu-ch ul li a, * html .ddsmoothmenu-com ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited,
.ddsmoothmenu-ch ul li a:link, .ddsmoothmenu-ch ul li a:visited,
.ddsmoothmenu-com ul li a:link, .ddsmoothmenu-com ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu-ch ul li a.selected, .ddsmoothmenu-com ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #AE0000; 
color: white;
text-decoration:underline;
}

.ddsmoothmenu ul li a:hover, .ddsmoothmenu-ch ul li a:hover, .ddsmoothmenu-com ul li a:hover{
background: #AE0000; /*background of menu items during onmouseover (hover state)*/
color: white;
text-decoration:underline;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul, .ddsmoothmenu-ch ul li ul, .ddsmoothmenu-com ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li, .ddsmoothmenu-ch ul li ul li, .ddsmoothmenu-com ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul, .ddsmoothmenu-ch ul li ul li ul, .ddsmoothmenu-com ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a, .ddsmoothmenu-ch ul li ul li a, .ddsmoothmenu-com ul li ul li a{
font: bold 11px Arial;
width: 160px; /*width of sub menus*/
padding: 5px 10px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu, * html .ddsmoothmenu-ch, * html .ddsmoothmenu-com{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}
