.center{margin-left:auto;margin-right:auto;}
.left{float:left;}
.right{float:right;}

body{
	font-family:"Trebuchet MS";
	font-size : 13px;
	letter-spacing:-.5px;
	line-height:20px;	
	color:black;
	margin:0;padding:0;outline: 0;	
}
body{
    background: url("/images/gif/page_bg.jpg") transparent center 0 fixed; 
	zoom:1;
}
h1,h2,h3,h4,h5,h6,h7 {margin:0;padding:0;}
p{margin-top:0; padding-top:0;}
img {border:0}
a:hover img.imagedropshadow {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
a:link,a:visited{color:#008AB4;text-decoration:none;}
a:hover{text-decoration:underline;}
.clear{clear:both;}

.publish-date{font-family:Arial;font-size:10px;color:#999999;margin:10px 0;line-height:13px;}
.t12bu{font-family:Tahoma;font-size:12px;color:#0099FF;letter-spacing:0;}

.col-line{border-right:1px dotted #CCCCCC;border-left:1px dotted #CCCCCC;}
.right-line{border-right:1px dotted #CCCCCC;}
.tliner{border-top:1px dotted #CCCCCC;}

.imgleft{float:left;padding-right:15px;padding-bottom:15px;}
.imgright{float:right;padding-left:15px;padding-bottom:15px;}

#Container{
	width:1000px;
	padding:0;
	margin-left:auto;
	margin-right:auto;
}
#TopBar{
	height:40px;background-color:#666666;
	color:white;line-height:40px;width:100%;
}
#TopBar a{color:white;line-height:40px;}
#Ad728{float:left;width:728px;height:90px;background-color:#EFEFEF;margin-left:20px;margin-top:30px;}
#Ad300{width:300px;margin:0 15px 15px 15px;margin-bottom:0;background-color:#EFEFEF;}
#Ad300A{width:300px;margin:0 15px 15px 15px;background-color:#EFEFEF;}
#Ad300B{width:300px;margin:0 15px 15px 15px;background-color:#EFEFEF;}
#Ad300C{width:300px;margin:0 15px 15px 15px;background-color:#EFEFEF;}
#TopHeader{
	height:158px;
}
#TopLoginBox{float:left;margin-left:120px;width:300px;line-height:24px;}
#TopLoginBox img{border:0;vertical-align:middle;}
#TopLogo{float:left; margin-left:-82px;margin-top:-39px;width:200px;height:196px;}
#TopLogoText{float:left; margin:0;margin-top:38px;width:110px;height:68px;}
#TopSearch{float:right;width:295px;}
#TopSearch .share-button{float:left;width:65px;line-height:36px;}
#TopSearch .share-button img{border:0;vertical-align:middle;}
#TopSearch .search-box{float:right;}

#TopMenu{width:890px;height:42px;margin-left:auto;margin-right:auto;}
#TopMenu ul{padding:0;margin:0;list-style:none;}
#TopMenu ul li, #TopMenu ul li.awal{float:left;display:block;border-left:1px solid #CCCCCC; text-align:center;padding:0 20px;}
#TopMenu ul li.awal{border:0;}
#TopMenu ul li a:link, #TopMenu ul li a:visited{font-family:Georgia; font-size:18px;line-height:45px;color:black;}
#TopMenu ul li a:hover{text-decoration:none;color:#CF0000;}

#FirstCol670{float:left;width:669px;margin-top:15px;}
#FC-container{margin:0 20px;width:630px;}
#FC-container-mtop{margin:15px 0 0 20px;width:630px;}

#SecondCol330{float:right;width:330px;margin-top:15px;}
#KategoriHalaman{margin:0 20px 25px 20px; border:1px dashed #AAAAAA; padding-left:10px;}
#JudulHalaman{margin:0 20px 15px 20px;}
#JudulHalaman h1{font-family:Georgia;font-size:25px;line-height:34px;letter-spacing:-1.5px;}

#TopikKeren{margin:15px 15px 0 17px;color:black; font-family:Georgia;font-size:11px;line-height:15px;letter-spacing:-.2px;height:120px;display:none;}
#TopikKeren h2{font-size:12px;font-weight:bold;line-height:20px;}
#TopikKeren ul {margin:0;padding:0;list-style:none;}
#TopikKeren ul li{float:left;background:url('http://www.wowkeren.com/images/gif/topik-keren-bg.jpg');width:237px;height:100px;}
#TopikKeren ul li a:link, #TopikKeren ul li a:visited{display:block;text-decoration:none;width:210px;height:70px;padding:15px 10px 15px 15px;color:black;}
#TopikKeren ul li a:hover{background-color:#333333;color:white;}
#TopikKeren img{float:left;padding-right:10px;border:0;}
/*Prev Next Button*/
#TopikKeren .bx-prev {
	position:absolute;top:100%;right:20px;
	width:17px; height:18px; background: url(/images/gif/sprite2.gif) no-repeat 0 0;
	z-index:0;
	text-indent: -999999px;
}
#TopikKeren .bx-prev:hover{background: url(/images/gif/sprite2.gif) no-repeat 0 -18px;}
#TopikKeren .bx-prev:focus{outline:none;}

#TopikKeren .bx-next {
	position:absolute;top:100%;right:0px;
	width:17px; height:18px; background: url(/images/gif/sprite2.gif) no-repeat -18px 0;
	z-index:0;
	text-indent: -999999px;
}
#TopikKeren .bx-next:hover{background: url(/images/gif/sprite2.gif) no-repeat -18px -18px;}
#TopikKeren .bx-next:focus{outline:none;}

#TagPopular{
margin:15px 15px 0 17px;
background-color:grey;
color:white;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:1.1em;
}

.TagHead{
background-color:rgb(35, 248, 52);color:black;float:left;padding:8px;
}

ul.TagItem{
list-style-type:none;
margin:0; padding:8px 10px;
}

ul.TagItem li{
display:inline;
padding:0 5px;
}

ul.TagItem li a, ul.TagItem li a:visited{
color:white;
}

#BeritaTerkini{float:left;width:448px;color:#666666;}
#BeritaTerkini a:link, #BeritaTerkini a:visited {color:black;}
#BeritaTerkini a:hover{color:#CF0000;text-decoration:none;}
#BeritaTerkini .header{background:url('http://www.wowkeren.com/images/gif/sprite1.gif')  no-repeat center 0 transparent;text-indent:-99999px;height:32px;display:block;}
#BeritaTerkini .liner{margin:0 15px;border-top:4px solid black;}
#BeritaTerkini .mod-breaking-news {padding:20px;padding-bottom:0;} 
#BeritaTerkini .mod-breaking-news h3{font-size:22px;color:black;line-height:26px;}
#BeritaTerkini .mod-breaking-news img{float:left;padding-bottom:15px;}
#BeritaTerkini .nav{height:60px;}
#BeritaTerkini .bx-next {
	position:absolute;margin-top:10px;top:100%;right:180px;
	width:28px; height:29px; background: url(/images/gif/sprite2.gif) no-repeat -28px -36px;
	z-index:999;
	text-indent: -999999px;
}
#BeritaTerkini .bx-next:hover{background: url(/images/gif/sprite2.gif) no-repeat -28px -64px;}
#BeritaTerkini .bx-next:focus{outline:none;}

#BeritaTerkini .bx-prev {
	position:absolute;margin-top:10px;top:100%;right:240px;
	width:28px; height:29px; background: url(/images/gif/sprite2.gif) no-repeat 0 -36px;
	z-index:999;
	text-indent: -999999px;
}
#BeritaTerkini .bx-prev:hover{background: url(/images/gif/sprite2.gif) no-repeat 0 -64px;}
#BeritaTerkini .bx-prev:focus{outline:none;}
#BeritaTerkini .bx-auto .start {
	position:absolute;margin-top:10px;top:100%;right:210px;
	width:28px; height:29px; background: url(/images/gif/sprite2.gif) no-repeat 0 -143px;
	z-index:999;
	text-indent: -999999px;
}

#BeritaTerkini .bx-auto .start:hover{background: url(/images/gif/sprite2.gif) no-repeat 0 -171px;}
#BeritaTerkini .bx-auto .start:focus{outline:none;}
/*auto stop button*/
#BeritaTerkini .bx-auto .stop {
	position:absolute;margin-top:10px;top:100%;right:210px;
	width:28px; height:29px; background: url(/images/gif/sprite2.gif) no-repeat -28px -143px;
	z-index:999;
	text-indent: -999999px;
}
#BeritaTerkini .bx-auto .stop:hover{background: url(/images/gif/sprite2.gif) no-repeat -28px -171px;}
#BeritaTerkini .bx-auto .stop:focus{outline:none;}

#BeritaTerkini .linkshare{height:60px;text-align:center;}

/*INDEX*/
#BeritaTerkini .utama{background:url('http://www.wowkeren.com/images/gif/sprite1.gif')  no-repeat center -34px transparent;text-indent:-99999px;height:32px;display:block;}
#Highlight{display:none;}

.mod-common-news {height:110px;overflow:hidden;} 
.mod-common-news a:link, .mod-common-news a:visited{color:black;}
.mod-common-news h3{font-size:14px;color:black;line-height:18px;}
.mod-common-news img{float:left;padding: 0 10px 10px 0;}
.kategori {margin-bottom:10px;}
a.kat:link,  a.kat:visited, .kat{font-size:11px;color:white;font-weight:bold;letter-spacing:0;padding:2px 8px; background-color:#C31F2E;}


/*LIST*/
.mod-list-news {height:200px;} 
.mod-list-news a:link, .mod-list-news a:visited{font-size:12px;font-family:Arial;color:black;}
.mod-list-news a:hover{color:#3399FF;}
.mod-list-news ul{padding-left:19px;margin:0;list-style-image:url('http://www.wowkeren.com/images/gif/button2.gif');}
.mod-list-news li{list-type:square;padding:2px 0;}
.mod-list-news .links{border:1px solid #CCCCCC; border-left:0; border-right:0; text-align:right; margin: 15px 0 30px 0; font-weight:bold;letter-spacing:0;}


#OnTheSpot{float:left;width:219px;}
#OnTheSpot .header img{margin-left:8px;}
#OTS-content{display:none;margin-left:18px;}
#OTS-content .content {height:270px;}
#OTS-content .item {height:260px; text-align:center;border:1px solid #DDDDDD;}
#OTS-content .pad{padding:18px;}
#OTS-content .item a:link, #OTS-content .item a:visited{color:black;font-weight:bold;text-decoration:none;letter-spacing:0;}
#OTS-content .item a:hover{text-decoration:underline;}
#OTS-content .item img{border:0;padding-bottom:10px;}
#OnTheSpot .nav{height:20px;}
#OnTheSpot .bx-prev {
	position:absolute;top:100%;right:90px;
	width:17px; height:18px; background: url('/images/gif/sprite2.gif') no-repeat 0 -199px;
	z-index:999;
	text-indent: -999999px;
}
#OnTheSpot .bx-prev:hover{background: url('/images/gif/sprite2.gif') no-repeat 0 -217px;}
#OnTheSpot .bx-prev:focus{outline:none;}

#OnTheSpot .bx-next {
	position:absolute;top:100%;right:70px;
	width:17px; height:18px; background: url('/images/gif/sprite2.gif') no-repeat -18px -199px;
	z-index:999;
	text-indent: -999999px;
}
#OnTheSpot .bx-next:hover{background: url('/images/gif/sprite2.gif') no-repeat -18px -217px;}
#OnTheSpot .bx-next:focus{outline:none;}

#FotoFokus{width:300px;margin:15px; margin-bottom:0; background-color:white;}
#FotoFokus .header{background:url('http://www.wowkeren.com/images/gif/sprite1.gif')  no-repeat center -204px transparent;text-indent:-99999px;height:32px;display:block;}
#FotoFokus .liner{border-top:4px solid black;}
#FotoFokus ul {margin:0;padding:0;list-style:none;}
#FotoFokus li .content{padding:15px;background-color:black;color:#CCCCCC;font-size:11px;letter-spacing:0;line-height:16px;height:75px;}
#FotoFokus li h3{font-family:Georgia;font-size:12px;line-height:19px;color:white;}
#FotoFokus li a:link, #FotoFokus li a:visited{font-family:Georgia;color:red;font-size:9px;}
#FotoFokus .nav{height:50px;background-color:white;border:1px solid #CCCCCC;border-top:0;}
/*Prev Next Button*/
#FotoFokus .bx-prev {
	position:absolute;margin-top:10px;top:100%;right:160px;
	width:28px; height:29px; background: url(/images/gif/sprite2.gif) no-repeat 0 -36px;
	z-index:999;
	text-indent: -999999px;
}
#FotoFokus .bx-prev:hover{background: url(/images/gif/sprite2.gif) no-repeat 0 -64px;}
#FotoFokus .bx-prev:focus{outline:none;}

#FotoFokus .bx-next {
	position:absolute;margin-top:10px;top:100%;right:110px;
	width:28px; height:29px; background: url(/images/gif/sprite2.gif) no-repeat -28px -36px;
	z-index:999;
	text-indent: -999999px;
}
#FotoFokus .bx-next:hover{background: url(/images/gif/sprite2.gif) no-repeat -28px -64px;}
#FotoFokus .bx-next:focus{outline:none;}

#BoxOffice{width:300px;margin:15px; margin-bottom:0; background-color:white;border:0px solid black;}
#BoxOffice .header{background:url('http://www.wowkeren.com/images/gif/sprite1.gif')  no-repeat center -135px transparent;text-indent:-99999px;height:32px;display:block;}
#BoxOffice .liner{border-top:4px solid black;}
#BoxOffice ul{padding:0;margin:0;margin-top:4px;list-style:none;}
#BoxOffice ul li{height:20px; padding: 3px 0; border-bottom:1px solid #DDDDDD;}
#BoxOffice ul li .NoUrut{float:left;width:30px;background-color:#666666;text-align:center;color:white;}
#BoxOffice ul li .JudulFilm{float:left;width:260px;margin-left:5px;background-color:white;}

#FilmBioskop{width:300px;margin:15px; margin-bottom:0; background-color:white;border-bottom:1px solid #DDDDDD;}
#FilmBioskop .now-playing{background:url('http://www.wowkeren.com/images/gif/sprite1.gif')  no-repeat center -309px transparent;text-indent:-99999px;height:32px;display:block;}
#FilmBioskop .coming-soon{background:url('http://www.wowkeren.com/images/gif/sprite1.gif')  no-repeat center -343px transparent;text-indent:-99999px;height:32px;display:block;}
#FilmBioskop .liner{border-top:4px solid black;}
#FilmBioskop .content{padding:10px;}
#FilmBioskop img.poster{float:left; margin-right:10px;}
#FilmBioskop p.text{margin-top:5px; font-size:12px; letter-spacing:0; line-height:16px; color:#666666;}
#FilmBioskop p.link{font-size:12px; letter-spacing:0; line-height:16px;}

#TrailerFilm{margin:15px 35px 0 35px; height:340px;}
#TrailerFilm .header{background:url('http://www.wowkeren.com/images/gif/sprite1.gif')  no-repeat center -271px transparent;text-indent:-99999px;height:36px;display:block;}
#TrailerFilm .liner{border-bottom:1px solid white;}
#TrailerFilm ul{padding:0;margin:0;list-style:none;}
#TrailerFilm ul li{float:left;width:155px;height:297px;}
#TrailerFilm ul li .content{background-color:black;margin:5px 2px 0 2px;padding:6px 0 5px 8px;}
#TrailerFilm ul li h3{font-size:12px;font-weight:bold;color:#F0F0F0;height:55px;overflow:hidden;line-height:17px;letter-spacing:0;}
#TrailerFilm ul li a {margin-top:5px;width:91px; height:20px; background: url(http://www.wowkeren.com/images/gif/sprite3.gif) no-repeat 0 0;text-indent: -999999px;display:block;}
#TrailerFilm ul li a:hover{background: url(http://www.wowkeren.com/images/gif/sprite3.gif) no-repeat 0 -20px;}
#TrailerFilm ul li a:focus{outline:none;}
/*Prev Next Button*/
#TrailerFilm .bx-prev {
	position:absolute;margin-top:10px;top:40%;left:-22px;
	width:17px; height:18px; background: url(/images/gif/sprite3.gif) no-repeat 0 -40px;
	z-index:999;
	text-indent: -999999px;
}
#TrailerFilm .bx-prev:hover{background: url(/images/gif/sprite3.gif) no-repeat 0 -58px;}
#TrailerFilm .bx-prev:focus{outline:none;}

#TrailerFilm .bx-next {
	position:absolute;margin-top:10px;top:40%;right:-22px;
	width:17px; height:18px; background: url(/images/gif/sprite3.gif) no-repeat -18px -40px;
	z-index:999;
	text-indent: -999999px;
}
#TrailerFilm .bx-next:hover{background: url(/images/gif/sprite3.gif) no-repeat -18px -58px;}
#TrailerFilm .bx-next:focus{outline:none;}


#ProfilSeleb{margin:15px; margin-bottom:0; background-color:transparent;}
#ProfilSeleb .header{background:url('http://www.wowkeren.com/images/gif/sprite1.gif')  no-repeat center -68px transparent;text-indent:-99999px;height:32px;display:block;}
#ProfilSeleb .liner{border-top:4px solid black;}
#ProfilSeleb ul{margin-top:15px;padding:0;list-style:none;margin-left:auto;margin-right:auto;height:60px;width:700px;}
#ProfilSeleb ul li{float:left; margin-right:10px;}

#IsiBerita{margin:20px; margin-top:0;}
#IsiBerita .published-date{color:#3399FF;font-size:11px;letter-spacing:0;}
#IsiBerita .summary{color:#666666;letter-spacing:0;margin:10px 0;}
#IsiBerita .liner{margin:15px 0 5px 0;border-top:4px solid black;}
#IsiBerita .social-net{margin: 15px 0;}
#IsiBerita .content{padding:20px 0;border-top:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;letter-spacing:0;line-height:22px;}
#IsiBerita .newspic{float:left;padding-right:15px;padding-bottom:15px;}

#PageNavigation{margin:30px 35px;width:601px; height:70px;}
#PgNav-container{float:left;width:300px;height:100%;}
.PgNav-btprev{float:left;width:28px; height:28px;background:url('http://www.wowkeren.com/images/gif/sprite2.gif') no-repeat 0 -115px;}
.PgNav-btnext{float:right;width:28px; height:28px;background:url('http://www.wowkeren.com/images/gif/sprite2.gif') no-repeat -28px -115px;}
.PgNav-ctprev{padding:0 20px 0 50px;}
.PgNav-ctnext{padding:0 50px 0 20px; text-align:right;}

#MainVideo{margin-top:30px;padding:30px; background-color:#333333;color:white;text-align:center;}
#VideoPilihan{padding:15px 35px;background-color:#1F1F1F;color:white;}
#VideoPilihan ul{padding:0;margin:0;margin-top:20px;list-style:none;height:180px;}
#VideoPilihan ul li{float:left;width:155px;}
#VideoPilihan ul li .content{background-color:black;height:170px;margin:5px 2px 0 2px;padding:6px 0 5px 15px;}
#VideoPilihan ul li a:link, #VideoPilihan ul li a:visited{color:white;letter-spacing:-0.5px;font-size:12px;}
/*Prev Next Button*/
#VideoPilihan .bx-prev {
	position:absolute;margin-top:10px;top:50%;left:-22px;
	width:17px; height:18px; background: url(/images/gif/sprite3.gif) no-repeat 0 -40px;
	z-index:999;
	text-indent: -999999px;
}
#VideoPilihan .bx-prev:hover{background: url(/images/gif/sprite3.gif) no-repeat 0 -58px;}
#VideoPilihan .bx-prev:focus{outline:none;}

#VideoPilihan .bx-next {
	position:absolute;margin-top:10px;top:50%;right:-22px;
	width:17px; height:18px; background: url(/images/gif/sprite3.gif) no-repeat -18px -40px;
	z-index:999;
	text-indent: -999999px;
}
#VideoPilihan .bx-next:hover{background: url(/images/gif/sprite3.gif) no-repeat -18px -58px;}
#VideoPilihan .bx-next:focus{outline:none;}

#DuaKolomL{float:left;width:314px;margin-top:20px;}
.DuaKolomLPad{padding-right:19px;}
#DuaKolomR{float:right;width:300px;margin-top:20px;}
#DuaKolom_448{float:left;width:448px;}
#IsiUmum{padding-right:15px;}
#IsiUmum h2{color:#6F6F6F; font-size:20px;font-weight:bold;}
#IsiUmum h2.mtop{color:#6F6F6F; font-size:20px;font-weight:bold;margin-top:25px;}
#IsiUmum .content{margin-top:20px;line-height:22px;}
#IsiUmum ul{list-style-image:url('http://www.wowkeren.com/images/gif/button1.gif'); padding-left:20px;}
#IsiUmum ul li{padding-top:15px;line-height:18px;}
#IsiUmum ul li a:link, #IsiUmum ul li a:visited{color:black;letter-spacing:0;}
#IsiUmum .goto{margin-top:20px;color:#9F0000;}
#IsiUmum .goto a:link, .goto a:visited {display: inline; text-align:center; line-height:24px;font-weight:bold;letter-spacing:0;}
#IsiUmum .goto a:hover{color:red; text-decoration:none;}

.Col120{float:left;width:120px;margin:25px 17px 0 16px;text-align:center;}
.GambarUtama{text-align:center;margin:25px 0;}
.KetGambar{text-align:center;}
.KetGambar h3{color:#3399FF;font-weight:bold;}
.KetGambar p{padding:5px 0;}

/*CATALOG*/
#BtnTrailer a, #BtnTrailer a:visited {font-weight:bold;}
#BtnTrailer a:hover{color:red;}

/*CHART*/
#TopChart{width:300px;background-color:#CCCCCC;-moz-border-radius: 10px;
border-radius: 10px;padding-bottom:17px;}
#TopChart .header{height:53px;padding-top:8px;}
#TopChart .header img{display:block;margin-left:auto;margin-right:auto;}
#TopChart .content{height:240px;overflow:hidden;}
#TopChart .item{width:255px;height:111px;margin-left:auto;margin-right:auto;margin-top:8px;background-color:#E2E2E2;}
#TopChart .item .pad{padding:10px 15px;}
#TopChart .item img{padding:5px;background-color:white;margin-right:10px;}
#TopChart .item .cat{background-color:#0066CC;border:1px solid white; padding:0 5px 2px 5px;color:white;display:inline;}
#TopChart .item .cat a:link,#TopChart .item .cat a:visited{color:white;font-family:Arial;font-size:11px;font-weight:bold;text-decoration:none;line-height:11px;letter-spacing:0;}
#TopChart .item h2{margin-top:10px;font-size:13px;line-height:15px;}
#TopChart .item h3 a:link, #TopChart .item h3 a:visited{font-size:12px;line-height:20px;}

#GaleriFoto{width:300px;height:350px;margin:15px;}
#GaleriFoto .header{background:url('http://www.wowkeren.com/images/gif/sprite1.gif')  no-repeat center -238px transparent;text-indent:-99999px;height:32px;display:block;}
#GaleriFoto .liner{border-top:4px solid black;}
#GaleriFoto .item{width:100px;height:95px; float:left;margin-top:8px;}
#GaleriFoto .item .box{width:94px;height:94px;border-radius:4px;-moz-border-radius: 4px;background-color:#EBEBEB;margin-left:2px;}
#GaleriFoto .item img{padding:7px;border:0;opacity:0.6;filter:alpha(opacity=60);}
#GaleriFoto .item img:hover{opacity:1.0;filter:alpha(opacity=100);}

/*SECOND COLUMN*/
#SecondColContainer{width:300px;margin:15px;}
#SecondColContainer h2{color:black; font-size:20px;font-weight:bold;}
#SecondColContainer .judul{padding: 3px 5px; color:#6F6F6F; font-size:16px;}
#SecondColGallery{height:335px;}
.SecondCol120{float:left;width:140px;margin:5px;background-color:#EFEFEF;-moz-border-radius: 8px;border-radius: 8px;}
.SecondCol120 img{padding:10px;}
.currentPrev{float:left; width:80px;}
.currentNext{float:right; width:80px;text-align:right;}
.currentNum{float:left;width:140px;text-align:center;}

#MasterFooter{
	background-color : #333333;
	color: #888888;
	padding:30px;
	margin-top:30px;
	height:55px;
	font-size:12px;
	line-height: 24px;
}
#MasterFooter a:link, #MasterFooter a:visited{color:white;}
#MasterFooter .logo { float:left; padding-right:20px;}
#MasterFooter .text {color:white;}

/*TABS*/
#tabs_wrapper {
	width: 300px;
}
#tabs_container {
	border-bottom: 1px solid #ccc;
}
#tabs {
	list-style: none;
	padding: 5px 0 4px 0;
	margin: 0 0 0 10px;
	font: 0.75em arial;
}
#tabs li {
	display: inline;
}
#tabs li a {
	border: 1px solid #ccc;
	padding: 4px 6px;
	text-decoration: none;
	background-color: #eeeeee;
	border-bottom: none;
	outline: none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
	background-color: #dddddd;
	padding: 4px 6px;
}
#tabs li.active a {
	border-bottom: 1px solid #fff;
	background-color: #fff;
	padding: 4px 6px 5px 6px;
	border-bottom: none;
}
#tabs li.active a:hover {
	background-color: #eeeeee;
	padding: 4px 6px 5px 6px;
	border-bottom: none;
}

#tabs_content_container {
	border: 1px solid #ccc;
	border-top: none;
	padding: 10px;
	width: 280px;
}
.tab_content {
	display: none;
}
.tab-list{
	height: 80px; overflow:hidden;	
}
.tab-list a:link{
	line-height:18px;
}
.tab-list img{
	padding-right:8px;
}