﻿a{
cursor: pointer;
text-decoration:none;
}

#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1000;
}



#popupWin{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
background:#FFFFFF;
border:2px solid #cecece;
z-index:2000;
padding: 30px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}



#popupWinClose {
right:-8px;
top:-15px;
position:absolute;
color:#6fa5fd;
display:block;
padding:3px 0px 0px 0px;
}

#popupWait{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
z-index:2000;

}









