::selection {
    background: #333;
    color: #fff
}

::-moz-selection {
    background: #333;
    color: #fff
}

body {
    background:  url(img/bg.png) repeat scroll 0 0 #f5f6f7;
}

#header-spacer {
    height: 70px
}

/*.header-wrapper {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 5px;
    border: 1px solid #E4E4E4;
    border-radius: 4px
} */

.navbar-brand {
    padding: 10px 15px !important
}

.section {
    margin-bottom: 30px;
    overflow: hidden
}

.section-title {
    margin-top: 0;
    margin-bottom: 1em;
    padding-bottom: .25em;
    border-bottom: 1px solid #ddd;
    position: relative
}

.section-title > i.line {
    float: left;
    width: 35%;
    border-bottom: 3px solid #428BCA;
    position: absolute;
    bottom: -1px
}

.rack {
    border-bottom: 1px solid #f9f9f9;
    padding: 10px 0;
}

.rack img {
    float: right;
    margin: 0 0 0 10px;
    vertical-align: middle;
    border: 2px solid #F8F8F8;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
    border-radius: 59px
}

.rack:hover {
    background: #F7F7F7
}

.rack img:hover {
    border: 2px solid #000
}

.btn-tag {
    margin-bottom: .5em;
    color: #333;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background: linear-gradient(to bottom, #FFF 0%, #E6E6E6 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
}

.banner-wrapper {
    font-size: .9em;
    padding: 20px;
    border: 1px solid #93BDF3;
    border-top-width: 5px;
    background: #fff none repeat scroll 0 0;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}

.banner-wrapper:hover {
    border-color: #277AE7;
    background: rgba(0, 0, 0, 0.0185)
}

.banner-title, .banner-content {
    text-shadow: 0 1px #fff
}

.banner-content {
    margin: 1.5em .5em
}

.banner-content .btn {
    text-shadow: none
}

.banner-horizontal {
    border-top-width: 1px;
    border-left-width: 5px
}

.banner-horizontal .banner-title, .banner-horizontal .banner-content {
    float: left;
    margin: 15px 0 0;
    line-height: 20px
}

.banner-horizontal .banner-title {
    margin-top: 14px;
    margin-right: .5em;
    letter-spacing: -.05em
}

.banner-horizontal .btn {
    float: right;
    margin: 10px 0
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.scroll-top-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.7)
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1
}

.scroll-top-wrapper i.fa {
    line-height: inherit
}

#scrollbubble {
    display: none;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 99999999;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 3px
}

#scrollbubble:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: -8px;
    height: 0;
    width: 0;
    margin-top: -4px;
    border: 4px solid transparent;
    border-left-color: rgba(0, 0, 0, 0.2)
}

.ui-autocomplete {
    position: absolute;
    cursor: default
}

* html .ui-autocomplete {
    width: 1px
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
    background-color: rgba(255, 255, 255, 0.9)
}

.ui-menu .ui-menu {
    margin-top: -3px
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    text-align: left !important
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: 400;
    margin: -1px
}

.ui-autocomplete {
    z-index: 10000 !important;
    border: 1px solid #E3E3E3;
    padding: 0
}

.ui-autocomplete .ui-menu-item a {
    margin: 0 !important
}

.ui-autocomplete a {
    border: 1px solid rgba(255, 255, 255, 0.9)
}

.ui-autocomplete .ui-state-hover {
    background: #F3F3F3;
    border: 1px solid #E3E3E3
}
.navbar-default {
    background: none repeat scroll 0 0 #333333;
    box-shadow: none;
    border: 0 none;}
.panel {
    border-radius: 3px;}
#searchform .form-control {
    border: medium none;
    box-shadow: none;
    height: 40px;}
.btn.btn-success {
    background: none repeat scroll 0 0 #000;
    border: 4px solid #fff;
    box-shadow: none;
    border-radius: 0;}
.btn-tag {
    border-color: rgba(0, 0, 0, 0.15);
    color: #333;
    margin-bottom: 0.5em;}
a {
    color: #333;}
.btn-tag {
    background: #fff none repeat scroll 0 0;
    box-shadow: none;
    color: #333;
    margin-bottom: 0.5em;}
.panel-default > .panel-heading {
    background-image: none;}
.panel {
    box-shadow: none;
    border-radius: 2px;}
.thumbnail, .img-thumbnail {
    box-shadow: none;
}
.btn-primary {
    background: none repeat scroll 0 0 #66bfec;
    border-color: #66bfec;
    border-radius: 2px;
    color: #333;
    text-shadow: none;}
.btn-info {
    background: none repeat scroll 0 0 #88e31a;
    border-color: #88e31a;
    border-radius: 2px;
    box-shadow: none;
    color: #333;
    text-shadow: none;}
.btn:focus, .btn:active:focus, .btn.active:focus { outline: none; ! important; outline-style: none; }

@media(max-width:767px){
    .navbar-brand img {
        margin-top: -8px;
    }
    .text-muted {
        font-size: 11px;
    }
    h4, .h4 {
        font-size: 14px;
    }
}
@media(max-width:340px){
    .navbar-brand img {
        width: 170px;
        margin-top: 0;
    }
     .col-xs-12 , .col-sm-6 ,  .col-md-8 {
        padding: 0 !important;
    }
     .panel-body {
         padding: 0;
     }
    .rack {
        border: 0;
        margin: 2px 0;
        padding: 10px 0
    }
    .rack img {
        width: 55px;}
}
.descr {
    padding:10px;
    margin: 0;
}
.navbar-nav > li > a {
    color: #fff !important;
    padding-bottom: 15px;
    padding-top: 20px;}
.pagination {
    margin-bottom: 0 !important;
}