@charset "utf-8";
/*************************************
*
* 创建日期：2014-12-20
* 制造者：yaochange
* 概要：通用基础样式定义
*
*************************************/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    padding:0;
    margin:0;
}
h1, h2, h3, h4, h5, em {
    font-style: normal;
    font-weight: normal;
}
html,body {height:100%;}
body, button, input, select, textarea {font-size:12px;color:#333;font-family:Microsoft Yahei,"微软雅黑",sans-serif;}


input, button, select, textarea {font-size:12px;vertical-align:middle;}
input::-moz-focus-inner{ border:none; padding:0;}
input[type="text"], input[type="password"], textarea {outline-style:none; -webkit-appearance:none; }
textarea {resize:none; }
button {cursor:pointer;}
ul, ol, li {list-style:none; }
img {	vertical-align:top;	border:0;}
a {color:#333;	text-decoration:none;}
a:hover {color:#da3764;	text-decoration:underline;}
table {	border-collapse:collapse;	border-spacing:0;}
table td {	padding:0;	margin:0;}
.clearfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix{zoom:1;}
.clearit {clear: both;font-size: 0;height: 0;overflow: hidden;}
.fl {float:left;}
.fr {float:right;}
section, article, aside, header, footer, nav, dialog, figure {display:block;padding:0;margin:0;}
/* http://stackoverflow.com/questions/18467529/google-remarketing-tag-iframe-height-issue */
iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

/*public*/
.blank10 {display:block;clear:both;height:10px;overflow:hidden;}
.txtRight {text-align:right}
.txtCenter {text-align:center}
.txtLeft {text-align:left}
.ggw{margin-bottom:18px;clear: both;}



/*loading_deal*/
.loading_deal{height:40px;line-height:40px;text-align:center;color:#666;background:url(/assets/image/loading-icon.gif) no-repeat 320px center;font-size:16px;padding-left:65px;margin-top:25px;}



/* pages */
.pages{color:#333;font-family:arial; text-align:center;padding:10px 0;}
.pages a, .pages span.current{width:37px; height:37px;line-height:37px;font-size:14px; display:inline-block; margin-right:7px; background:#f5f5f5;   text-align:center; font-family:arial;color:#000!important;font-weight:bold;}
.pages span.current{font-weight:bold;}
.pages a:hover{color:#da3764!important; text-decoration:none;}
.pages a.pre_link, .pages a.next_link{width:95px;}
.pages a.pre_link{margin-right:8px;}
.pages a s{display:inline-block;width:8px; height:8px; border:solid #f31c5e; border-width:0 1px 1px 0; -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);}
.pages a.pre_link s{margin-right:9px; border-width:1px 0 0 1px;}
.pages a.next_link s{margin-left:6px;}
.pages a.pre_link:hover s{ border:solid #fff;border-width:1px 0 0 1px;}
.pages a.next_link:hover s{ border:solid #fff;border-width:0 1px 1px 0;}
.pages a.pre_link:hover, .pages a.next_link:hover, .pages span.current, .pages .more a.okbtn:hover{background:#da3764; color:#fff!important; text-decoration:none;}

.pages span.pot{height:26px; margin-right:7px;}
.pages .more{display:inline-block;}
.pages .more .pinput{width:44px; height:28px; text-align:center;border:1px solid #d5d5d5; border-radius:2px; color:#333; font:14px/28px "Arial"; margin:0 3px; vertical-align:middle; margin-top:-3px; _margin-top:0;}
.pages .more a.okbtn{width:62px; height:26px; background:#f5f5f5; border:1px solid #d5d5d5; border-radius:2px; cursor:pointer; margin:0 5px; font:14px/26px "Arial"; display:inline-block; vertical-align:middle; margin-top:-3px;}

.pageright{text-align:right;padding:5px 0 0 0;}
.pageright .more{display:none;}

/*index.css中公共部分提取*/
body{font-size:12px;background:#f2f2f2;}
.ggw2{margin:10px 0 0 0; clear:both;border-bottom:1px solid #ccc;}
.ggw3{margin-bottom:0;border-bottom:1px solid #ccc;height:90px;}
.mbx{height:45px;line-height:45px; clear:both;width:1050px; overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.mbx a{color:#666;}
.mbx a:hover{color:#da3764;text-decoration: none;}
.mbx i{display:inline-block;width:14px; height:14px; border:solid #dadada; border-width:0 1px 1px 0; -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg); vertical-align:middle;margin-right:10px;}
.mbx .breadcrumb_border { height: 7px; width: 7px;}
.mbx h1.sec{font-size: 12px; display: inline-block;}

.secend_area{width:1050px;margin:0 auto;}
.secend_area img:hover{ opacity:0.88;}

/*公共的lazyload部分*/
.lazyload,.lazyloading {background-color: #f2f2f2;}
.lazyloading,.lazyloaded{-webkit-transition: opacity 300ms; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; transition: opacity 300ms;}
.lazyloading {opacity: 0.3;}
.lazyloaded {opacity: 1;}

.new_adbox img{width:730px; min-height:120px; max-height:300px;}
div.store_info_none{
    line-height: 56px;
    text-align: center;
}