/* 
    Document   : dialog.css
    Created on : 2013-8-30, 16:49:39
    Author     : admin
    Description:
        Purpose of the stylesheet follows.
*/

@charset "utf-8";

.dialog-overlay
{
    opacity:0;  
    filter:alpha(opacity:0);  
    background:white;
}

.dialog
{
    /*border:5px solid rgba(200,200,200,0.9);*/
    background:#DD527C; 
    border: #d1d1d1 solid 2px;
    padding:0px;
    /*filter:alpha(opacity:70);*/
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    _width:expression('200px'); 
}



.dialog .bar
{
    cursor:move;
    color:#fff;
    background: #e12466;
    padding:6px;
    height: 16px;
    min-height:15px; 
    line-height: 16px;
    _height:expression('20px'); 
}

.dialog .bar .title
{
    float:left;
    margin-right:10px;
    font-weight: bold;
    padding: 0!important;
}

.dialog .bar .close 
{   
    background: url(/assets/image/close.gif) no-repeat 0 0;
    float:right;
    cursor:pointer;
    text-decoration:underline;
    display: block;
    width: 17px;
    height: 17px;
}

.dialog .content
{
    background:#f4f4f4;
    padding:10px;
    width:auto;
    margin: 1px auto 0
}

.dialog iframe
{
    height:100%;
    width:100%;
}
