@charset "utf-8";
/* CSS Document */
body, button, input, select, textarea {font:12px "Arial";color:#333;}
.pages a.pre_link, .pages a.next_link{font-size:14px;}
header .topbar_wrap .topbar .top_us {width: 215px;}
header .banner .top_us a em.top_us_cn{text-indent:-9999px; width:36px;background:url(/assets/image/main-icon1x.png) no-repeat -134px 6px;}
header .banner .top_us a:hover em.top_us_cn{background-position:-134px -15px;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    header .banner .top_us a em.top_us_cn{
        background-image: url('/assets/image/main-icon2x.png');
        background-size:200px 320px;
    }
}

.icon-logo{background-position:0 -175px; text-indent: -9999px;}
.icon-language-top{ background-position:-225px 0;}
.icon-mail{height:24px;}
.icon-language-article{width:63px;height:12px; background-position:-138px -118px;}
.icon-language-article:hover{background-position:-138px -131px;}

header .topbar_wrap .topbar .share_area .dialog_en{  text-indent:-9999px;display:inline-block;}
header .topbar_wrap .topbar .share_area .dialog_en:hover{}

header .banner .top_us{width:256px;}
header .banner .top_us a{color:#444;width:45px;margin-right:20px;}
header .banner .top_us a.contact_top_btn{margin-right:0;width:61px;padding-left:0;}
header .banner .top_us a:hover .icon-language-top{ background-position:-225px -50px;}


header nav .nav_top li a{font:bold normal 16px/38px "Arial";}
header .nav_bot .top_list li.search_gs .search_btn_fixed{ line-height:23px;}
header .nav_bot .top_list li {font-size: 12px;}
header .nav_bot .top_list li.one_level{font-weight:bold;}
header .nav_bot .top_list li.one_level a{font-size:13px;font-weight:normal;}
header .nav_bot .top_list li.one_level .more_arrow,header .nav_bot .top_list li.one_level .more_no{padding:0 9px;}
header .nav_bot .top_list li.one_level .droplist a,header .nav_bot .top_list li.one_level .droplist a:hover{ text-decoration: none;}
header .nav_bot .top_list li.one_level:nth-child(5) a {border-left:1px solid #dcdcdc;}
header .nav_bot .top_list li.one_level .wid260{width:260px;}
header .nav_bot .top_list li.one_level .wid270{width:270px;}
header .nav_bot .top_list li.one_level .wid340{width:340px;}
header .nav_bot .top_list li.one_level .wid360{width:360px;}

header .nav_bot .top_list li.one_level .wid_menu{width:395px;left:-211px;}
header .nav_bot .top_list li.one_level .droplist a.wid120{width:118px;}
header .nav_bot .top_list li.one_level .droplist a.wid130{width:128px;}
header .nav_bot .top_list li.one_level .droplist a.wid135{width:133px;}
header .nav_bot .top_list li.one_level .droplist a.wid150{width:148px;}
header .nav_bot .top_list li.one_level .droplist a.wid170{width:168px;}
header .nav_bot .top_list li.one_level .droplist a.wid180{width:178px;}
header .nav_bot .top_list li.one_level .more_arrow {font-size:13px;}

header .nav_bot .menu h3{font-size: 13px;font-weight: normal;}
header .nav_bot .menu h3 em{top:5px;left:49px;}
header .nav_bot .menu_hover h3 em{top:5px;left:47px;}
header .nav_bot .menu ul.more_list{width:160px}
header .nav_bot .menu ul.more_list li a{padding:0 10px;}

header .nav_bot.nav_fixed .top_list li.one_level .wid_menu{width:395px;left:-111px; }
header .nav_bot.nav_fixed .top_list li.one_level a{padding:0 9px;}

header .nav_bot.nav_fixed .menu h3{padding-left:8px;}
header .nav_bot.nav_fixed .menu h3 em{left:44px;}
header .nav_bot.nav_fixed .menu_hover h3 em{left:42px;}
header .nav_bot.nav_fixed .menu{width:60px;}
header .nav_bot.nav_fixed .menu:hover{}
header .nav_bot.nav_fixed .menu_hover{width:58px;}
header .nav_bot.nav_fixed .menu_hover h3{padding-left:7px;}
header .nav_bot.nav_fixed .menu ul.more_list li a{padding:0 10px;}

footer {height:232px;}
footer .flink-item{padding:20px 40px 30px 65px;}

.hlang a.dialog_en{background:url(/assets/image/topbar-icon1x.png) no-repeat -275px 0; text-indent:-9999px;border:0;width:48px;height:23px;border:1px solid #999;}
.hlang a.dialog_en:hover{ background-color:none!important;background-position:-275px -23px; border:1px solid #f32f68;}



.login_new .login_after_box .user_item .arrow_up{padding:0;}
.login_new .login_after_box .user_item{width:125px;}
.login_new .login_after_box .user_item li a{text-align: left;padding-left:7px;}
.login_new .login_after_box .user_item .goout a{text-align:center;}

/*section*/
.hot_com{margin-right:8px;width:103px;margin-left: 10px;}
.hot_com_detail{margin-right:8px;width:238px;margin-left: 10px;}
.scroll_tit li{font-size:12px;color:#666;}
.scr_new .box_item .text_wrap{color:#333;padding-top:5px;}
.scr_new .box_item .text_wrap span{color:#d42f2f;}
.scr_new .box_item:hover .text_wrap span{ text-decoration:underline;}

.mlist {padding: 15px 0 13px;}
.mlist .mtxt h2{font-size:16px;line-height:26px; font-weight:bold;margin-bottom:8px;padding:0;}
.mlist .mtxt h2 a{}
.mlist .mtxt .mbody .minfor{font-size:13px; color:#000;}
.mlist .mtxt .mbody .minfor ul li{font-size:13px;}
.mlist .mtxt .mbody .minfor a{ text-decoration:underline;}
.mlist.mlist_top{padding-bottom:3px;}
.mlist.mlist_top .mpic{padding-bottom:17px;}
.mlist.mlist_top .mtxt{padding-bottom:0;}
.mlist.mlist_top .minfo{position:static; margin-top:0; }

.dp_tj .dpc_b span{width:65px;}

.show_share{width:72px;float:left; position:relative; z-index: 100;}
.show_share span{width:44px; height: 27px; border:1px solid #fff; background:url(/assets/image/share_icon.png) no-repeat 10px 6px; line-height:26px; padding-left: 26px; display: block; cursor: pointer; position: absolute; z-index:101;top:-4px;background-color:none;}
.show_share span.ohover{height:28px; color:#df2169; border: 1px solid #ddd;border-bottom:0; background-color: #fff; background-position: 10px -123px;z-index:101;}
.sele_share{width:138px; height:108px; padding:0 3px; position: absolute;top: 24px; left: 0px; border:1px solid #ddd; background:#fff; display:none; z-index:100;}
.sele_share a{background:url(/assets/image/share_icon.png) no-repeat 7px -21px; width:106px; height: 26px; line-height: 26px; display: block; border-bottom:1px solid #f2f2f2; padding-left: 32px;}
.sele_share a.qzone{background-position:8px -47px;}
.sele_share a.facebook{background-position:8px -73px;}
.sele_share a.email{background-position:8px -97px;}

.article_mlist{padding-bottom:0;}
.article_mlist .mpic{padding:6px 15px 0;}
.article_mlist .mtxt{padding-top:2px;}
.article_mlist .mtxt h2{font-size:18px;font-weight:normal;}
.minfo_article .gn_line{line-height:19px;}
.minfo_article .cz_link {padding: 4px 0 0 3px;}
.minfo s{width:70px;}
.minfo_article .cz_link span{width:70px;}
.minfo .more{width: auto;}
.minfo .more.form-web{max-width:155px;}
span.more.ml0 {
    margin-left: 0;
}

.click_rank .b_list .txt .txt_k{ overflow:hidden;}
.click_rank .b_list .txt .txt_k a{color:#333;}
.click_rank .b_list .txt .txt_k span{color:#d42f2f;}
.click_rank .b_list .txt .txt_k a:hover span{ text-decoration:underline;}
.click_rank .b_list .txt .webadd{padding-top:17px;}





/*hot_deal*/
.card_deals{width:298px;}
.card_deals .title h3 i{font-style:normal;font-size:8px; text-decoration:underline;}
.card_deals .content{width:284px;overflow:hidden;padding:5px 7px;}
.card_deals .content .card_deals_item{display:block;width:268px;padding:10px 8px;border-bottom:1px dotted #dbdbdb;color:#039;min-height:60px;line-height:19px; cursor:pointer;}
.card_deals .content .card_deals_item span{ overflow:hidden;height: 60px;display: block;}
.card_deals .content .card_deals_item:last-child{border-bottom:0;}
.card_deals .content .card_deals_item img{float:left;margin-right:10px;}

.icon-language-right{width:36px;height:13px; background-position:0 -146px;}
.todayHot li a:hover .icon-language-right{background-position:0 -164px;}
.todayHot li a{ text-align:left;padding-left:16px;}

.mpic_list li .deal_box{height:190px;}
.mpic_list li .text{margin: 5px 0 2px;}
.mpic_list li .text a{color:#039;}
.mpic_list li .text a span{color:#d42f2f;}
.mpic_list li .text a span .crossed{ text-decoration:line-through;font-style:normal;}

/*newsletter*/
.set_news_box_article .news_input_box .news_input{width:348px;}

.scroll_tit .ad_disclosure{float:right;font-size: 8px;text-decoration: underline;}

/*article deal buy button*/
.mlist .mpic .buy a{font-size:17px; font-weight:normal;width:105px;}
.mlist .mpic .buy a em{left:93px;}



.minfo_article .gn_line .deal_alerts{float:right;}


.cards_tw_item{padding:0 0 0 34px;}
.cards_tw{width:165px;float:left;display:block;padding:10px 0;}
.cards_tw .img_wrap{display:block;width:163px;padding:15px 0; text-align:center;border:1px solid #fff;}
.cards_tw:hover .img_wrap{border:1px solid #ddd;}
.cards_tw .text_wrap{display:block;padding:0 15px;line-height:15px;}


/*classify*/
.classify_item h2{font-size:15px;}


/*click rank*/
.giftL_topr, .gift_search, .gift_search .inp_search, .table_box, .table_box a, .gift_card_box, .breadtip, .Topclick_L, .Topclick_L a, .Topclick_tit .Topclick_all, .single_pro .proname a, .store_logo h2, .search_btn{font-family:arial;}
.Topclick_Lcart a{background-position:-293px -395px;}
.Topclick_top h2{width:200px;}
.single_pro .prominh{min-height:36px;}
.single_pro .proname em{color:#d42f2f; font-style:normal;}
.Topclick_tit .Topclick_all{width:60px;}
.single_pro .proname span{color:#039;}
.single_pro .proname a:hover span{text-decoration:underline;}
.Topclick_Lcart ul li{word-break:normal;}
.Topclick_Lcart ul a{display:inline-block; }


/*coupons*/
.coupon_st{height:228px;}
.cou_content .deal_item .store_text a{font:bold 14px/24px 'arial';}
#no_code_offers .coupon_item a{font-size:14px; line-height:20px; font-weight:bold;}

/*error 404 add*/
.singlebox .text_wrap{color:#039;}
.singlebox:hover .text_wrap span{text-decoration:underline;}
.singlebox{height:175px;}
.scroll_404 .scroll_cont{height:362px;}
.scroll_404{height:402px;*height:392px;}
.sorry a{color:#039;}
.sorry a.home{font-size:14px;}
.scroll_404 .scr_new .scroll_num{left:inherit;}
.scroll_404 .scr_new .box_item .text_wrap{height:32px; color:#039; padding-top:0;}

/*article long*/

.article_buyingguide h1{color:#039;}
.article_con p a{ text-decoration:underline;}
.article_buyingguide .article_like a{width:90px;}
.article_buyingguide .article_like a.fav_btn{width:140px;}
.article_fx span a.turn_cn {display: block;width: 64px;height: 16px; text-indent:-9999px;float:right;padding:0;background:url(/assets/image/home_icon.png) no-repeat -108px -236px;margin-top: 2px;margin-left:5px;}
.article_fx span a.turn_cn:hover{background-position:-108px -267px;}
.article_buyingguide h1 a:link{color:#039; text-decoration:none;}
.article_buyingguide h1 a:visited,.article_buyingguide h1 a:active{color:#039; text-decoration:none;}
.article_buyingguide h1 a:hover{color:#039;text-decoration:underline;}


/*contact us*/
.menu_left li a.quest_comm{line-height:20px; padding-top:10px; height:45px;}
.menu_left li a{font-size:16px;}
.contact_prom h3{height:28px;}
.contact_prom p{margin-top:0; line-height:20px;}
.contact_prom p a{text-decoration:underline;}
.contact_btn,.contact_unbtn{font-size:14px; font-weight:normal;}
.form_label em, .form_textarea em{bottom:0; background-position:0 -437px;}
.form_label em.error, .form_textarea em.error{background-position:0 -469px;}
.cont_submit h3{background-position:0 -498px; line-height:24px;}
.cont_submit h3.error{line-height:35px;}

/*sitemap*/
.mList li{ display:inline-block;padding-right:30px;float:left;width:auto;}



/*Careers*/
.con_zp .zp_content .zp_z h2{font-size:16px;}



/*newsletter*/
.mailcon{}
.mailsub .mailtit .sub{background:url(/assets/image/mailsub-en.gif) no-repeat 10px 3px; width:250px;}
.mailsub .mailtit .subok{background-position:1px -58px;}
.mailsub .mailtit .unsubtit{background-position:-8px -116px; width:560px;}
.mailsub .mailtit .unsubtit2{background-position:-8px -185px; width:560px;}
.sure{padding:30px 0 0 0; line-height:22px;}




/*20150203ls*/
.login_add .dz_add{background-position:0 -296px;}
.login_add .dz_add:hover{background-position:0 -330px;}
.login_add .zc_add{background-position:0 -366px;}
.login_add .zc_add:hover{background-position:0 -402px;}
.login_add .my_set{background-position:0 -439px;}
.login_add .my_set:hover{background-position:0 -475px;}

/*双11样式*/
.nav_top_shop11 .shop11{background:url(/assets/image/en@1x.png) no-repeat;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .nav_top_shop11 .shop11 {
        background-image: url('/assets/image/en@2x.png');
        background-size:195px 36px;
    }
}



/*h2修改为h1标签20151110*/
.mlist .mtxt h1{font-size:16px;line-height:26px; font-weight:bold;margin-bottom:8px;padding:0;}
.mlist .mtxt h1 a{}
.article_mlist .mtxt h1{font-size:16px;font-weight:bold;}
.Topclick_top h1{width:200px;}
.store_logo h1{font-family:arial;}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    header .banner .logo a {
        background-image: url('/assets/image/topbar-icon2x.png');
    }
    header .banner .top_us a.cn_btn em{
        background-image: url('/assets/image/main-icon2x.png');
        background-position:-134px 6px;
        background-size:200px 320px;
    }
    header .banner .top_us a.cn_btn:hover em{background-image: url('/assets/image/main-icon2x.png');background-size:200px 320px;background-position:-134px -14px;}
    .hlang a.dialog_en{
        background: url('/assets/image/topbar-icon2x.png') no-repeat -275px 0;
        background-size:325px 400px;
    }
    .hlang a.dialog_en:hover{background: url('/assets/image/topbar-icon2x.png') no-repeat -275px -23px;
        background-size:325px 400px;}
}

/*seo优化-行内样式提取20151225*/
.img_wrap img.imgspace{max-height:120px; max-width:120px; margin-left:15px;}
.sele_share .weibo_btn, .sele_share .qzone_btn, .sele_share .facebook_btn, .sele_share .mail_btn{float:none; margin:0;}
.sele_share .mail_btn{border-bottom:none;}


/*nav_birthday20160229*/
.nav_month .month{position:relative;border:0;float:right;}
.nav_month .month a,.nav_month .month a:hover{ position:absolute;display:block;text-indent:-9999px;background:url(/assets/image/banner_en_1x_4month.png) no-repeat 0px 0;}
.nav_month .nav_month a:hover{ opacity:0.9;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .nav_month .month a,.nav_month .month a:hover{
        background-image: url(/assets/image/banner_en_2x_4month.png);
        background-size:206px 45px;
    }
}

.month_top{ background:url(/assets/image/banner_en_1050X230_4month.png) no-repeat;}




.nav_month .mom{width:200px;}
.nav_month .mom a,.nav_month .mom a:hover{width:200px;background:url(/assets/image/banner_en_1x_mom.png) no-repeat 0px 0;}
.mom_top{background:url(/assets/image/banner_en_1050-230_mom.png) no-repeat;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .nav_month .mom a,.nav_month .mom a:hover{
        background-image: url(/assets/image/banner_en_2x_mom.png);
        background-size:200px 35px;
    }
}

/*nav_child20160513*/

.nav_month .child{width:250px;float:right;}
.nav_month .child a,.nav_month .child a:hover{width:250px;background:url(/assets/image/botton-en@1x.png) no-repeat 0px 0;}
.beauty_top{background:url(/assets/image/banner-en.png) no-repeat;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .nav_month .child a,.nav_month .child a:hover{
        background-image: url(/assets/image/botton-en@2x.png);
        background-size:250px 39px;
    }
}


/*英文置顶deal'view detail'不跨行样式*/
.mlist .mtxt .mbody .minfor a.view_detail{white-space: nowrap;} 
.guess_like { height: 45px; line-height: 45px; font-size: 16px; padding-left: 20px;}

/*英文合集样式*/
.coll_singlelist .coll_deal_itemr h4{max-height:32px; white-space: normal;}
.coll_deal_itemr h4{max-height:48px;}