@charset "utf-8";
/* CSS Document */
.main_wrap img:hover{ opacity:0.88;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
.mlist .mtxt .mbody .minfor ul li{background-image: url("/assets/image/icon-article2x.png") no-repeat; background-size:4px 4px; background-position:1px 11px;}}

.icon-scr-left,.icon-scr-right,.icon-coment-article,.icon-fav-article,.icon-share-article,.icon-weibo,.icon-webchat,.icon-qzone,.icon-facebook,.icon-mail,.icon-arr-up,.icon-rank-rigtit,.icon-fav-rig,.icon-zy-rigtit,.icon-hotstore-rigtit,.icon-wechat-btn,.icon-toplink,.icon-comment-zan,.icon-articlelong-fav,.icon-language-right,.icon-language-article,.icon-sinawb-user,.icon-stick-hot,.icon-go-cn,.icon-go-en{
    background-image: url('/assets/image/main-icon1x.png');
    background-size: 200px 320px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
.icon-scr-left,.icon-scr-right,.icon-coment-article,.icon-fav-article,.icon-share-article,.icon-weibo,.icon-webchat,.icon-qzone,.icon-facebook,.icon-mail,.icon-arr-up,.icon-rank-rigtit,.icon-fav-rig,.icon-zy-rigtit,.icon-hotstore-rigtit,.icon-wechat-btn,.icon-toplink,.icon-comment-zan,.icon-articlelong-fav,.icon-language-right,.icon-language-article,.icon-sinawb-user,.icon-stick-hot,.icon-go-cn,.icon-go-en{
        background-image: url('/assets/image/main-icon2x.png');
        background-size: 200px 320px;
    }
}
.icon-scr-left,.icon-scr-right{
	width:25px;
	height:40px;
	background-position:5px 5px;
	}
.icon-scr-right{
	background-position:-30px 5px;
	}
.icon-scr-left:hover{
	background-position:-60px 5px;
	}
.icon-scr-right:hover{
	background-position:-95px 5px;
	}
.icon-coment-article{
	width:15px;
	height:16px;
	margin-right:5px;
	background-position:0 -40px;
	}
.icon-fav-article{
	width:16px;
	height:17px;
	margin-right:5px;
	background-position:-40px -40px;
	}
.icon-share-article{
	width:14px;
	height:17px;
	margin-right:5px;
	background-position:-80px -40px;
	}
.icon-weibo{
	width:28px;
	height:25px;
	background-position:0 -60px;
	}
.icon-weibo:hover{
	background-position:0 -90px;
	}
.icon-webchat{
	width:30px;
	height:25px;
	background-position:-40px -60px;
	}
.icon-webchat:hover{
	background-position:-40px -90px;
	}
.icon-qzone{
	width:26px;
	height:25px;
	background-position:-80px -60px;
	}
.icon-qzone:hover{
	background-position:-80px -90px;
	}
.icon-facebook{
	width:20px;
	height:21px;
	background-position:-120px -60px;
	}
.icon-facebook:hover{
	background-position:-120px -90px;
	}
.icon-mail{
	width:26px;
	height:22px;
	background-position:-160px -60px;
	}
.icon-mail:hover{
	background-position:-160px -90px;
	}
.icon-arr-up{
	width: 13px;
	height: 6px;
	background-position:-160px -50px;
	}

.icon-fav-rig{
	width:12px;
	height:15px;
	margin-right:2px;
	background-position:-120px -40px;
	}

.icon-wechat-btn{
	width:80px;
	height:80px;
	background-position:0 -240px;
	}
.icon-toplink{
	width:50px;
	height:28px;
	background-position:0 -185px;
	}
.icon-comment-zan{
	width:15px;
	height:17px;
	background-position:-160px -145px;
	}
.icon-articlelong-fav{
	width:65px;
	height:65px;
	background-position:-135px -185px;
	}
.icon-sinawb-user{
	width:16px;
	height:16px;
	background-position:-100px -235px;
	}
.icon-stick-hot{
	width:12px;
	height:12px;
	margin:4px 0 0 5px;
	vertical-align:top;
	background-position:-100px -255px;
	}
.icon-go-cn{
	width:22px;
	height:23px;
	margin-right:8px;
	background-position:-85px -295px;
	}
.icon-go-en{
	width:22px;
	height:23px;
	margin-right:8px;
	background-position:-85px -270px;
	}


/*iconfont*/
.sidebar-icon{font-size:28px; display:inline-block; color:#666; margin-right:10px; vertical-align:middle; margin-top:-2px;}
.sidebar-iconrank{font-size:26px;}
.sidebar-iconcoupon{font-size:30px;}
.sidebar-iconnews{margin-top:-5px;}
.click_rank .sidebar-icon{margin-right:6px;}




.third{height:250px;}
/*frame*/
.main_wrap{width:1050px;margin:18px auto 0;}
.area_left{width:730px;float:left;}
.area_right{width:300px;float:right;}
.mainboxL{width:690px; padding:20px; background:#fff; float:left;margin-bottom: 13px;}
.mainboxR{width:300px; float:left; margin-left:20px;}

/*common*/
.box{width:730px;margin-bottom:18px;overflow:hidden; background-color:#fff;}
.area_right .box{width:300px;}

.box .title{height:45px;line-height:45px;background:#fff;}
.box .title h3{padding-left:13px;color:#333;font-size:18px;}
.box .title span{float:right;padding-right:10px;}
.box .title span a{color:#666;background:#f6f6f6;display:inline-block;width:50px;height:25px; line-height:26px; text-align:center; border-radius:12px;}
.box .title span a:hover{background:#da3764;color:#fff; text-decoration:none;}

/*scroll*/
.hot_com{width:90px;height:45px;line-height:50px;text-align:center;padding-left:16px;font-size:16px;font-weight:bold;}
.hot_com_detail{width:128px;height:50px;line-height:50px; text-align:center;padding-left:10px;font-size:16px;font-weight:bold; float:left;}
.scroll_tit{height:50px;line-height:50px;}
.scroll_tit li{display:inline-block;padding:0 12px; cursor:pointer;float:left;font-size:12px;}
.scroll_tit li:hover,.scroll_tit li.cur{color:#da3764;}
.scroll_tit li.cur span{border-bottom:2px solid #da3764;padding-bottom: 1px;}

.scr_new{ width:728px;position:relative; height:200px;}
.scr_new .scroll_cont{ width:700px; height:200px;overflow: hidden;margin:0 auto;*position:relative;}
.scr_new .scroll_cont .sc{position:relative;}
.downContent{ position:absolute;width:32766px;}

.scr_new .box_item{float:left; width:175px; height:190px;  text-align:center;}
.scr_new .box_item .scroll_box{position:relative; margin-left: 6px; border:1px solid #fff; display:block; width:145px; padding:5px 8px 4px; height: 183px;}
.scr_new .box_item .scroll_box:hover{border:1px solid #ffb3c8;}
.scr_new .box_item .img_wrap{display:block; padding:0 0 4px;}
.scr_new .box_item .img_wrap img{width:145px;height:145px;}
.scr_new .box_item .text_wrap,.scr_new .box_item .deal_wrap{display:block;width:145px;margin:0 auto;line-height:16px; overflow:hidden; text-align:left;color:#333;}
.scr_new .box_item .text_wrap{display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:3;
	overflow: hidden; max-height: 48px;margin-bottom: 5px; }
.scr_new .box_item .deal_wrap{height:18px; padding-top:6px;line-height:18px;color:#d42f2f; text-decoration:none;text-overflow:ellipsis; white-space:nowrap;}
.scr_new .box_item .deal_wrap b{font-weight:normal;color:#c1c1c1;  position: relative; display: inline-block; }
.scr_new .box_item .deal_wrap b::before{ content: ''; width: 100%; position: absolute; right: 0; top: 50%; border-bottom: 1px solid #b1b1b1; }
.scr_new .box_item:hover .deal_wrap b{text-decoration:underline;}
.scr_new .icon-scr-left,.scr_new .icon-scr-right{ position:absolute; left:0px; top:55px;}
.scr_new .icon-scr-right{left:auto;right:0px;}

.scr_new .more{ position:absolute; top:-33px; right:13px;}
.scr_new .more a{color:#666;background:#f6f6f6;display:inline-block;width:50px;height:25px; line-height:25px; text-align:center; border-radius:12px;}
.scr_new .more a:hover{background:#da3764;color:#fff; text-decoration:none;}

/*UI-2 add*/
.scr_new .box_item p{position:absolute; bottom:0px; left:0px; padding:0 8px;  max-height:40px; min-height:40px; background:rgba(255,255,255,0.95);transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;	/* Firefox 4 */
	-webkit-transition: max-height 0.3s;	/* Safari 和 Chrome */
	-o-transition: max-height 0.3s; overflow:hidden;}
.scr_new .box_item .scroll_box:hover p{max-height:80px;}
.scr_new .scroll_num{ position:absolute; top:-27px; right:70px;}
.scr_new .scroll_num span{ background:#e8e8e8; width:7px; height:7px; border-radius:50%; display:inline-block; overflow:hidden; margin-right:7px; text-indent:-9999px; z-index:6666; cursor:pointer;}
.scr_new .scroll_num span.selected{background:#666;}

/*分类页-热门推荐*/
.cart_scroll{padding:13px 0 15px; margin-bottom: 6px; height: 216px;}
.cart_scroll .scr_new, .cart_scroll .scr_new .scroll_cont, .cart_scroll .scr_new .box_item{height:215px;}
.cart_scroll .scr_new .box_item .scroll_box{height:203px;}
.cart_scroll .scroll_num{width:100%; top:inherit; bottom:-13px; right:0; text-align:center;}
.cart_scroll .box_item p{max-height:56px; min-height:56px;}
.cart_scroll .scr_new .icon-scr-left, .cart_scroll .scr_new .icon-scr-right{top:80px;}

/*猜你喜欢焦点图*/
.scroll_like .scr_new{height:485px;}
.scroll_like .scr_new .box_item, .scroll_like .scr_new .scroll_cont{height:473px;}
.scroll_like .scr_new .box_item .scroll_box{height:220px; margin-bottom:10px; border-bottom:1px solid #eaeaea;}
.scroll_like .scr_new .box_item .scroll_box:last-child { border-bottom: none;}
.scroll_like .scr_new .box_item .deal_wrap{padding:5px 0;}
.scroll_like .scr_new .box_item .text_wrap{max-height:32px; overflow:hidden;}
.scroll_like .box_item p{max-height: 65px;min-height: 65px;padding: 3px 8px 10px;}
.scroll_like .box_item .scroll_box:hover p{background:rgba(218,55,100,0.9);max-height:92px;}
.scroll_like .box_item .scroll_box:hover .text_wrap{max-height:64px; overflow: hidden;display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:4;}
.scroll_like .scr_new .scroll_num{right:10px;}
.scroll_like .hot_com{padding-left:5px;}
.scroll_like a:hover{color:#fff;}
.scroll_like .box_item  a:hover .deal_wrap, .scroll_like .box_item  a:hover .text_wrap{color:#fff;}
.scroll_like .scr_new .icon-scr-left, .scroll_like .scr_new .icon-scr-right{top:211px;}



/*click_rank*/
.click_rank{width:298px;}
.click_rank .title h3{padding-left:18px;}
.click_rank .content{padding:0;overflow:hidden; padding-bottom: 10px;}
.click_rank .b_list{border:1px solid #fff;height:85px;padding:6px 0 9px; overflow:hidden; cursor:pointer;}
.click_rank .b_list:hover{border:1px solid #ffb3c8;}
.click_rank .b_list .pic{width:80px;height:80px;float:left;margin-top:3px;margin-left:15px;border:1px solid #ececec;}
.click_rank .b_list .pic img{width:80px;height:80px;}
.click_rank .b_list .txt{margin-left:110px;line-height:17px;padding-right:10px;}
.click_rank .b_list .txt .salez{color: #D42F2F;}
.click_rank .b_list .txt .salez:hover{ text-decoration:underline;}
.click_rank .b_list .txt .salez b{font-weight: normal;text-decoration: line-through;color: #b1b1b1;}
.click_rank .b_list .txt .salez:hover b{text-decoration:underline;}

.click_rank .b_list .txt .txt_k_price a{color: #D42F2F;}
.click_rank .b_list .txt .txt_k_price a b{font-weight: normal;color: #b1b1b1; position: relative; display: inline-block; }
.click_rank .b_list .txt .txt_k_price a b::before{ content: ''; width: 100%; position: absolute; right: 0; top: 50%; border-bottom: 1px solid #b1b1b1; }
.click_rank .b_list .txt .txt_k_price a:hover,.click_rank .b_list .txt .txt_k_price a:hover b{ text-decoration: underline;}



.click_rank .b_list .txt .txt_k{height:54px; overflow:hidden;}
.click_rank .b_list .txt .txt_k .txt_k_price{height:17px; overflow:hidden;margin-bottom: 3px;}
.click_rank .b_list .txt .txt_k .txt_k_name{height:34px; overflow:hidden;}
.click_rank .b_list .txt .txt_k .txt_k_name a,.click_rank .b_list .txt .txt_k .txt_k_name a:hover{color:#333;}
.click_rank .b_list .txt .webadd{height:18px;line-height:18px;padding-top:8px;overflow: hidden;}
.click_rank .b_list .txt .webadd a{color:#b6b6b6;}
.click_rank .b_list .txt .webadd a:hover{color:#da3764; text-decoration:none;}
.click_rank .b_list .txt .webadd a.fav{width:50px;display:inline-block;}
.click_rank .b_list .txt .webadd a.fav:hover .icon-fav-rig{ background-position:-140px -40px;}


/*.set_news_box*/
.set_news_box .set_news_tit{height:60px;line-height:60px;font-size:18px;color:#000;padding-left:15px;}
.set_news_box .set_news_tit .icon-mail{margin-right:10px;}
.set_news_box .set_news_tit .icon-mail:hover{ background-position: -160px -60px;}
.set_news_box form{padding:10px 0; text-align:center; background:#ddedf0;}
.set_news_box .news_input_box{background:#c5d9f1;border-radius:3px 3px 3px 3px;padding:3px;width:267px;height:38px;margin:0px auto;}
.set_news_box .news_input_box .news_input{width:178px;border:1px solid #b6b6b6;height:19px;line-height:19px;padding:8px 6px 9px;color:#bbb;font-size:14px;border-right:0;float:left;}
.set_news_box .news_btn{width:75px;height:38px;background:#5c80c3;border:0;float:left;font-size:16px;color:#fff; border-radius:0;text-decoration:none;line-height: 38px;}
.set_news_box .news_btn:hover{background:#4467b4;}
.set_news_box .news_input_box.focus_input .news_input{color:#000;font-family:Arial;border:1px solid #4467b4;border-right:0;}
.set_news_box .news_input_box.focus_input .news_btn{background:#4467b4;cursor:pointer;}

.set_news_box_article{height:70px;padding:10px 0 0 20px;}
.set_news_box_article .set_news_tit{float:left;}
.set_news_box_article form{padding:0;}
.set_news_box_article .news_input_box{width:476px;margin:8px 0 0 10px;float:left;background:#fff;}
.set_news_box_article .news_input_box .news_input{width:388px;}
.set_news_box_article .focus_input{background:#fff;}

/*海淘精华攻略*/
.haitao .title{ position:relative; text-align:center;}
.haitao .title:after{ content:""; position:absolute;width:225px;height:23px;border-bottom:1px solid #d3d3d3;left:40px; z-index:2;}
.haitao .title h3{padding-left:0; text-align:center; position:relative; display:inline;padding:0 10px;background:#fff; z-index:22;}
.htjh{padding:0 5px;}
.htjh li{width:50%;padding-bottom:10px;float:left; text-align:center;}
.htjh li a{display:inline-block;width:130px;line-height:26px; background:#f5f5f5;padding:4px 0 4px 5px; border-radius:4px;font-size:14px;color:#000; text-align:left;}
.htjh li a:hover{ background:#eee; text-decoration:none;}
.htjh li i{display:inline-block;width:26px;height:26px;background:url(/assets/image/haitao-icon.png) no-repeat 0 0; background-size:60px 86px;margin:0 5px 0 0;float:left;}
.htjh li.zhifu i{background-position:-34px 0;}
.htjh li.shenbao i{background-position:-34px -30px;}
.htjh li.weiquan i{background-position:-0 -60px;}
.htjh li.zhuanyun i{background-position:0 -30px;}
.htjh li.qita i{background-position:-34px -60px;}

/*热门转运公司*/
.hotzy_ul{width:300px; overflow:hidden;float:left;}
.hotzy_ul li{width:98px;height:61px;padding-top:2px;border-top:1px solid #ececec;border-right:1px solid #ececec;border-bottom:1px solid #fff;border-left:1px solid #fff;float:left; text-align:center;}
.hotzy_ul li:nth-child(3n){border-right:1px solid #fff;}
.hotzy_ul li:hover{ border:1px solid #ffb3c8;}
.hotzy_ul li img {width: 85px; max-height:61px;}

/*hot_deal*/
.hot_deal .content .store_list{width:302px;float:left;}
.hot_deal .content .store_list li{width:98px;height:40px;padding:10px 0;text-align:center;border:solid #ececec;border-width:1px 1px 0 0;border-left:1px solid #fff;border-bottom:1px solid #fff;float:left;}
.hot_deal .content .store_list li:nth-child(3n){border-right:1px solid #fff;}
.hot_deal .content .store_list li:hover{border:1px solid #ffb3c8;}
.hot_deal .content .store_list li img{width:80px;height:40px;}
.hot_deal .click_more{background:#f5f5f5;display: block;height:34px;line-height:34px;text-align: center;padding: 0 10px;}


/*MENU*/
.menu_deal{height:45px;border-bottom:1px solid #ddd;padding-left:10px;}
.menu_deal a{ float:left; display:block; height:45px; line-height:50px;cursor:pointer;font-size: 16px;font-weight: bold;padding:0 20px;}
.menu_deal a span{ display:inline-block;height:44px;}
.menu_deal a.selected{  color:#da3764;}
.menu_deal a.selected span{border-bottom:2px solid #da3764;}
.menu_deal a span.prompt_n{font-weight:bold;}
.menu_deal a span.prompt_n s.prompt_num{padding:0px 6px; height:18px; display:inline-block; background:#fe8e34; color:#fff; border-radius:9px; line-height:20px; font-size:12px; text-align:center; text-decoration:none; font-weight:normal; vertical-align:middle; margin-top:-19px;margin-right:-10px;}

/*mlist*/
.mlist_box{ overflow:visible;}
.mlist_box .pages{padding:30px 0;}
.mlist{ padding:20px 0 14px; width:730px; border-bottom: 1px solid #e6e6e6;}
.mlist .mpic{ float:left; width:150px; padding:5px 15px 0 20px; position:relative}
.mpic .img_wrap { text-align: center;}
.mlist .mpic img{max-width: 150px; max-height: 180px;min-width: 105px; min-height: 40px;}
.mlist .mpic .pubtime{color: #b5b5b5;text-align: center;padding-top:10px;}
.buy a{width: 105px; height: 38px;line-height:38px; text-align:center;display: block;overflow: hidden;margin: 15px auto 0; color:#fff;font-size:16px;position:relative;background:#da3764;}
.buy a:hover{ text-decoration:none; background:#e6426f;}
.buy a em{ position:absolute;left:83px;top:15px;display:inline-block;width:7px; height:7px; border:solid #fff; border-width:0 1px 1px 0; -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg); display: none;}
.buy .buyinfo {display: block;color: #b5b5b5;text-align: center;}
.mlist .mpic .sponsoredtag,.mlist .mpic .hottag{display:inline-block;height:18px;line-height:18px;position: absolute;left:20px;top:5px; border-radius:2px;padding:0 5px; background:#d42f2f; opacity:0.9;color:#fff;}

.mlist .mtxt{margin-left:185px; position: relative;padding-bottom:20px;padding-right:20px;}

.mlist h1,.mlist h2 {font-size:18px;line-height:26px;padding:0;margin-bottom:15px; }
.mlist h1 a,.mlist h2 a{color:#333;}
.mlist h1 span.notice_item,.mlist h2 span.notice_item{color:#d42f2f;}
.mlist h1 .crossed,.mlist h2 .crossed{ text-decoration:line-through;font-style:normal;}
.mlist h1 a.notice_ago,.mlist h2 a.notice_ago{text-decoration:line-through;color: #333;opacity: 0.6;}
.mlist h1 a.notice_ago:hover,.mlist h2 a.notice_ago:hover{text-decoration:line-through;color: #333;opacity: 0.6;}
.mlist h1 a:hover,.mlist h1 a:hover span,.mlist h2 a:hover,.mlist h2 a:hover span{color:#da3764; text-decoration: none;}



.store_logo h1{padding-bottom:10px; font-size:18px; color:#000; border-bottom:1px solid #ebebeb;}

.mlist .mtxt .single_storename {color: #666;font-size: 12px;font-weight: bold;line-height: 24px;margin: 5px 0px;}
.mlist .mtxt .single_storename a{color:#039; text-decoration:underline;}
.mlist .mtxt .lprince{color: #000;text-decoration: line-through;}
.mlist .mtxt .cprince{color: #db0000;text-decoration: underline;}

.mlist .mtxt .mbody{font-size: 14px; line-height: 22px; color: #333;}
.mlist .mtxt .mbody .minfor{padding-bottom:5px;}
.mlist .mtxt .mbody .minfor img:hover{opacity:1;}
.mlist .mtxt .mbody .minfor ul li{line-height: 26px; padding-bottom: 5px;}
.mlist .mtxt .mbody .minfor p { line-height: 24px;}
.mlist .mtxt .mbody .minfor * {
	max-width: 525px;
	word-break:break-word;
}
.mlist .mtxt .mbody .minfor ul li{background: url("/assets/image/icon-article.png") no-repeat scroll 1px 11px;padding-left: 13px;}
.mlist .mtxt .mbody .minfor a{ color:#039;text-decoration: none;}
.mlist .mtxt .mbody .minfor a:hover{ text-decoration: underline;}
.mlist .mtxt .mbody .mgg{padding-top:15px;}
.mlist .mtxt .mbody .mgg img{max-width:525px;}

.mlist .date {color: #bbb;float: right;font-size: 10px;line-height: 13px;margin: -2px 15px 3px 0;padding-top: 0;width: auto;}

.pic_ad{padding:0px 0;border-bottom:1px solid #ddd;clear: both;height:90px;}

.dp_tj{ margin:0 auto;width:531px;overflow:hidden;padding-top:5px;}
.dptj_pad { padding-top: 0; margin-bottom: 10px;}
.dp_hidden{ display: none;}
.dp_tj h2{ width:179px; text-align:center;font-size: 12px !important; font-weight:bold; color:#000;}
.dp_tj .dpc{width:546px;}

.dp_tj .dpc_b{ cursor:pointer;background:#f5f5f5; height:40px; text-align:center; line-height:40px;width:525px;margin-top:5px;}
.dp_tj .dpc_b em{ width: 5px;
  height: 5px;
  border: solid #333;
  border-width:2px 2px 0 0;
  background:#f5f5f5;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.707,M12=-0.707,M21=0.707,M22=-0.707,SizingMethod='auto expand'); position: absolute;right:0px; top:15px;}
.dp_tj .dpc_b:hover{color:#df2169;}
.dp_tj .dpc_b:hover em{border: solid #df2169;border-width:2px 2px 0 0;}
.dp_tj .dpc_b_up em{border-width:0 0 2px 2px;top:18px;}
.dp_tj .dpc_b_up:hover em{border: solid #df2169;border-width:0 0 2px 2px;}
.dp_tj .dpc_b a{ color:#333!important;text-decoration:none!important;}
.dp_tj .dpc_b a:hover{ color:#da3764!important; }
.dp_tj .dpc_b span{font-size: 12px; position:relative; padding-right:10px;width:50px;height: 30px;display: block;margin: 0 auto;}
.dp_tj .dpc_b_up span{width:30px;}

/*UI-2中文列表样式调整*/
.cnlist_height{padding-bottom:40px; margin-bottom:12px; }
.cnlist .cnlist_height{max-height:200px;overflow:hidden;position:relative; }
.conter_readmore{position:absolute; bottom:0px; z-index:10;}
.mlist .conter_packup, .mlist .conter_readmore{width:100%; height:40px; background:#f5f5f5; text-align:center; line-height:40px; color:#333;display:none; box-sizing: border-box;  }
/*.mlist .cnlist .conter_packup{display:none;}*/
.mlist .conter_readmore { display: block;}
.conter_packup{ }
.mlist .conter_packup { width: 60px; height: 28px; line-height: 28px; position: absolute; bottom: 32px; left:465px;}
.mlist .conter_packup:hover, .mlist .conter_readmore:hover{text-decoration:none; color:#df2169;}
.mlist .conter_packup i, .mlist .conter_readmore i{font-size:12px;}
.cnlist .dp_tj{height:230px;}
.cnlist .cnlist_height:before{content: ''; position:absolute; width:100%; height:30px; bottom:40px; left:0; z-index:1; background:linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), #ffffff); pointer-events: none;}
.cnlist .cnlist_height:after{content: ''; position:absolute; width:100%; height:2px; bottom:-2px; left:0; z-index:1; background:#fff;}
/*haitao title icon*/
.article_title .country_usa_btn,.article_title .country_jp_btn,.article_title .country_uk_btn,.article_title .country_deu_btn,.article_title .zfb_btn, .article_title .zy_btn{width:20px; height:20px; background:url(/assets/image/haitao_country_icon.png) no-repeat 0 0;text-indent:-9999px;display:inline-block;vertical-align:middle; margin:-3px 5px 0 0;}
.article_title .country_jp_btn{background-position:-25px 0;}
.article_title .country_uk_btn{background-position:-53px 0;}
.article_title .country_deu_btn{background-position:-80px 0;}
.article_title .zy_btn{background-position:-107px 0;}
.article_title .zfb_btn{background-position:-135px 0;}

.info_haitaoline{border-top:1px solid #e0e0e0;/* box-shadow:1px 0px 2px #D8D8D8*/}
.info_haitao{padding:5px 0 15px;}
.info_haitaol{font-size:14px;  width:150px; padding:10px 0px;}
.info_haitaor{width:100%; font-size:14px; color:#252525;}
.info_haitaor li{border-bottom:1px solid #e9e9e9;padding:10px 0; line-height:22px;}
.info_haitaor span.haitao_tip{width:70px; float:left; text-align:right; margin-right:10px; color: #808080;}
.info_haitaor li em{color:#d42f2f;}
.info_haitaor li p{margin-left:80px; }
.info_haitaor li p a{color:#039;}
.info_haitaor li .explain{font-style:normal;color:#de2d2d; font-weight:bold; cursor:pointer; width:13px; height:13px; display:inline-block; background: #ffce4a;vertical-align: middle;text-align: center;line-height: 13px;margin-top: -3px; margin-left:5px; border-radius:50%;}
.info_ht_tips p{margin-left:80px; margin-top:10px;}
.info_haitaor .look_zyzk{padding:20px 0;}
.info_haitaor .look_zyzk a{color:#039;}
.info_haitaor a.gobuy span{float:inherit; width:auto; text-align:center;margin-right:0;}
.info_haitaor .buy a{margin:0;}
.tw{width: 170px;float: left;padding:5px 0 5px;}
.dpc_box {
	padding: 6px;
	border: 1px solid #fff;
	width: 150px;
}
.tw .tw_pic{width:160px;height:152px; text-align:center;}
.tw .tw_pic img{width:150px;height:150px;}
.tw .tw_pic a{display:block;width:150px;height:150px;}
.tw .dpc_box:hover{ border-color:#ffb3c8; }
.tw .tw_text{padding:4px 0 1px; }
.tw .tw_text a{line-height:18px;color:#d42f2f!important;text-decoration: none!important;font-size:12px;font-weight:normal;font-size:14px;
    width: 150px;max-height: 18px; display:inline-block; text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}
.tw .tw_text a i{color: #b1b1b1;font-size:12px;font-style: normal;font-weight: normal;text-decoration: line-through;}
.tw .deal_text{line-height:16px;height:32px; overflow:hidden;}
.tw .deal_text a{color:#666!important;font-size:12px;}
.tw .deal_text a:hover{color:#da3764!important;text-decoration: none;}


.minfo{ color:#999;width:525px;height:20px;line-height:20px;margin-top: 12px; position: absolute; bottom: 0px;}
.minfo .more{float:right;color:#999;margin-left:20px; display:inline-block; width:auto;}
.minfo .more.from-web{margin-left:0;max-width:120px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.minfo a{color:#999;}
.minfo a:hover{color:#c02558;text-decoration:none;}
.minfo s{display:block;width:100px;float: left; text-decoration: none}
.minfo span{cursor:pointer;}
.minfo span:hover{color:#c02558;}
.minfo span:hover .icon-coment-article{ background-position:-20px -40px;}
.minfo span:hover .icon-fav-article{ background-position:-60px -40px;}
.minfo span.faved .icon-fav-article{background-position:-180px -40px;}
.minfo span.faved{ color:#c02558;}
.minfo span.share_btn{ position:relative;padding-bottom:10px;}
.minfo span:hover .icon-share-article{ background-position:-100px -40px;}

.share_box{padding-bottom:12px;display:none; z-index:100000;position:absolute;left:-80px;top:-55px;}
.share_box .share_btn_area{background:#fff;padding:10px; box-shadow:0px 0 6px #ddd;width:195px; position:relative;}
.share_btn_area a{margin:0 10px;}
.share_btn_area .icon-arr-up{ position:absolute;display: inline-block;left:50%;bottom:-6px;margin-left:-5px;background-position: -160px -50px;}
.share_wechat{width:175px; height:225px; padding:10px; position:absolute; top:-260px; text-align:center; background: #fff;left:8px; border:1px solid #e6e6e6; box-shadow:0 0 10px #ddd; text-align:center; display:none; color:#333; cursor:default;}
.share_wechat h5{font-weight:bold; margin:5px 0 8px;}
.share_wechat .wechat_qrcode{width:150px; height:150px;text-align: center;margin:0 auto;}
.share_wechat p{line-height:18px; padding:5px 0;}
.share_wechat .dm-icon-close{cursor:pointer; position:absolute; top:8px; right:10px; font-size:10px; color:#4f4e5b;}


/*pic_list_show*/
.mpic_list{float:left;}
.mpic_list li{border:1px solid #f1f1f1;border-width:0 1px 1px 0;float:left;}
.mpic_list li .deal_box{width:147px;height:218px;padding:17px 16px;border:1px solid #fff; cursor:pointer;}
.mpic_list li .deal_box:hover{border:1px solid #d1d1d1;}

.mid_box{width:130px;height:130px;display:table;text-align:center;overflow:hidden;margin:0 auto;}
.mid_box a{display:table-cell;vertical-align:middle;}
.mid_box a img{max-width:130px;max-height:130px;}

.mpic_list li .text{font:normal normal 12px/18px Arial;height:37px;width:147px;overflow:hidden;margin:2px 0 5px;}
.mpic_list li .text span{color:#d42f2f;}
.mpic_list li .text a{color:#333;}
.mpic_list li .text a:hover{color:#da3764;}

.mpic_list li .price_text{color: #D42F2F;height: 20px;line-height: 20px;padding-top: 4px;overflow: hidden;}
.mpic_list li .price_text a{color: #D42F2F;}
.mpic_list li .price_text span {color: #bbb;text-decoration: line-through;font-size: 12px;padding-left: 3px;}

/*
.fun_box{height:18px;line-height:18px;}
.fun_box a{padding-left:12px;background:url(../images/home_icon.png) no-repeat -290px -144px;padding-right:9px;color:#666; display:block; float:left;}
.fun_box a.comment_btn{}
.fun_box a.comment_btn:hover{background-position:-290px -178px;color:#da3764;}
.fun_box a.like_btn2{background-position:-290px -213px;}
.fun_box a.like_btn2:hover,.fun_box a.liked_btn2{background-position:-290px -244px; color:#da3764;}
.fun_box a.fav_btn2{background-position: -288px -69px;}
.fun_box a.fav_btn2:hover,.fun_box a.faved_btn2{background-position:-288px -106px;color:#da3764;}
.fun_box a.hot2{padding:0;display:block;width:13px;height:15px;background-position:-290px -353px;}
*/

/*article minfo*/
.article_mlist{padding:12px 0 0;border-bottom:0;}
.article_mlist .mpic .buy a {margin: 13px auto;}
.article_mlist .mtxt{padding-bottom:0;}
.article_mlist .mtxt .mbody{padding-bottom:0px;}
.article_mlist .mcomment{padding:0 0 20px; margin-top:-5px;}
.article_mlist h1{padding:0;}
.minfo_article .minfo{position:static;margin-top:5px;height:28px; margin-bottom:10px;}
.minfo_article .gn_line{height:18px;text-align:right;color:#e7e7e7; border-bottom:1px solid #ddd;padding-bottom:10px;}
.minfo_article .gn_line a{color:#039;padding:0 5px;}
.minfo_article .gn_line .share_btn_area a{padding:0;}
.minfo_article .cz_link{padding-top:4px;}
.minfo_article .cz_link span{width:95px;}
.minfo_article .cz_date{padding-left:20px;float: right;color: #666;height: 28px;text-align: center;line-height:28px;}



/*20150730change*/
.mcomment{ padding:5px 0; width:525px; display:none;float: right; margin-right:20px; margin-top:5px;}
.mcomment.show{display:block;}
.mcomment .mc_content{background:#f7f7f7; padding:10px; position:relative;}
.mcomment .mc_top_arrow{ height:0;width:0; overflow:hidden; line-height:0; position:absolute;left:17px;top:-6px;border-left:6px solid transparent;border-right:6px solid transparent;
border-bottom:6px solid #f5f5f5;}
.mcomment .mc_content .mpage .pagelink{padding-left:60px;}
.mcomment .mc_text .mc_key{ border:solid 1px #bdbdbd; background:#fff; height:36px; line-height:36px; width:418px; padding-left:5px;float:left;}
.mcomment .mc_btn .mc_name{ border:solid 1px #d5d1d2; background:#fff; height:26px; line-height:26px; width:120px;}
.mcomment .submit_btn{ width:80px; height:38px; line-height:38px;border:0; float:right; cursor:pointer;float:left; background:#bdbdbd;color:#fff;font-size:14px;font-weight:bold;border-radius:0;text-align: center;}
.mcomment .submit_btn:hover,.mcomment .submit_btn.focus_b{ background:#4467b4;color:#fff;}
.mcomment .com_list .mc_item:last-child{border-bottom:0;}
.mcomment .com_list .mc_list_tit{margin-bottom: 10px;margin-top:10px;overflow: hidden;height: 34px;}
.mcomment .com_list .mc_list_tit .mpage{width:265px;float:right;}
.mcomment .mc_content .com_list .mc_list_tit .mpage .pages{padding:7px 0 0 0;}
.mcomment .mc_content .com_list .mc_list_tit .mpage .pages .next_link{margin-right:0;}
.mcomment .com_list .mc_list_tit h4{line-height:30px;height:30px;width:513px;font-size:12px; color:#666;border-bottom: 1px solid #DCDCDC;}
.change_comments{float: left;display: block}
.change_comments a{cursor:pointer;line-height:28px; color:#666; padding-bottom:7px; *line-height:30px;*padding-bottom:4px;}
.change_comments a.selected {border-bottom:3px solid #828282; color:#000; font-weight:bold;}
.mcomment .mc_item{border-bottom:solid 1px #e6e6e6;padding:5px 0 8px;}
.mcomment .mc_pic{ float:left; width:40px;padding-top: 5px; position: relative;}
.mcomment .mc_pic .icon-sinawb-user{position:absolute;right:-2px;bottom:-2px;}
.mcomment .mc_txt{ float:left; width:450px; padding-left:15px;}
.mcomment .mc_txt .mct{font-size:14px;line-height:24px;}
.mcomment .mc_txt .mct span{color:#252525;}
.mcomment .mc_txt .mct .date{ color:#808080;font-size:12px;float: right;margin:0;line-height:24px;}
.mcomment .mc_reply{ text-align:left;color:#4c4c4c;font-size:14px;line-height:24px;}
.mcomment .mc_reply .mc_context{width:100%;overflow: hidden;}
.mcomment .mc_reply .mc_context .mc_user{color:#3373b1;}
.mcomment .mc_fun_item{padding-top:2px;}
.mcomment .mc_fun_item .mc_btn_reply{float:right;color:#3373b1;font-size:14px;line-height:18px;}
.mcomment .mc_fun_item .com_date {color: #808080;font-size: 12px;line-height: 18px; margin-right:20px;}
.mcomment .mc_fun_item .com_praise{float: right;text-align:right;
  display: inline-block;
  width: 70px;
  color: #3373b1;
  line-height: 18px;
  cursor: pointer;}
.mcomment .mc_fun_item .sep{float:right;margin: 0 8px;  color: #ccc;}
.mcomment .mc_fun_item .com_praise:hover .icon-comment-zan,.mcomment .mc_fun_item .com_praise.praise_clicken .icon-comment-zan{background-position:-160px -165px;}
.mcomment .check_all_comments{text-align:center;color:#3373b1;font-size:14px;padding:10px 0; cursor:pointer;}

.mcomment a{ color:#3373b1;}
.mcomment a:hover{ color:#dd2267; text-decoration:none}
.comment_more{height: 40px;line-height: 50px;font-size: 12px;border-top:1px solid #d8d8d8;}
.comment_more p{float: right;}

.article_comment{padding:9px 0 5px;}

.mcomment .mc_content .mpage{}
.mcomment .mc_content .mpage .pages{padding:20px 0 15px;}
.mcomment .mc_content .mpage .pages a,.mcomment .mc_content .mpage .pages span.current{padding:0 4px;width:auto;height:20px;line-height:20px;border:0;background:none;margin-right:0;}
.mcomment .mc_content .mpage .pages a.pre_link,.mcomment .mc_content .mpage .pages a.next_link{width:auto;  background:none;border:0; border-radius: 0;}
.mcomment .mc_content .mpage .pages a.pre_link b{padding-right:4px;font-family: 宋体;}
.mcomment .mc_content .mpage .pages a.next_link b{padding-left:4px;font-family: 宋体;}
.mcomment .mc_content .mpage .pages a:hover,.mcomment .mc_content .mpage .pages a.pre_link:hover,.mcomment .mc_content .mpage .pages a.next_link:hover{color:#da3764!important; background:#f5f5f5;}
.mcomment .mc_content .mpage .pages span.current,.mcomment .mc_content .mpage .pages .more a.okbtn:hover{background:#ee356b; border:0;  color:#fff!important; text-decoration:none; border-radius:0;}
.mcomment .mc_content .mpage .pages span.pot { height: 20px;  margin-right: 0px;}

/*20151015mcomment reply box*/
.mcomment .reply_box{margin-top:10px;}
.mcomment .reply_box .reply_box_text{ position:relative;width:443px;border:1px solid #e9e9e9;background:#ffffff;padding:0 5px;}
.mcomment .reply_box .reply_box_text .input_reply{width:443px;height:25px;line-height:25px;border:0;background:#ffffff;}
.mcomment .reply_box .reply_box_text .mc_top_arrow {position: absolute;z-index: 1;margin-left: 416px;width: 7px;height: 7px;border: solid #e9e9e9;border-width: 0 0 1px 1px;
    background: #ffffff; -moz-transform: rotate(135deg); -webkit-transform: rotate(135deg); transform: rotate(135deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.707,M12=-0.707,M21=0.707,M22=-0.707,SizingMethod='auto expand'); left: 17px;  top: -5px;}
/*.comment_box长deal评论回复*/
.mcomment.comment_box .reply_box .reply_box_text{width:593px;}
.mcomment.comment_box .reply_box .reply_box_text .mc_top_arrow{margin-left:565px;}
.mcomment .reply_box .reply_box_btn{ text-align:right;padding-top:10px;}
.mcomment .reply_box .reply_box_btn .submit_btn_two{margin-left:10px;float:none;color:#fff;background:#bdbdbd; border: 0 none;  cursor: pointer;  height: 27px;  line-height: 27px;  width: 53px;}
.mcomment .reply_box .reply_box_btn .submit_btn_two:hover,.mcomment .reply_box .reply_box_btn .submit_btn_two.focus_b{background:#4467b4;}
.mcomment .reply_box .reply_box_btn .cancel_btn{border:0;color:#4c4c4c;width:53px; height:27px; line-height:27px;background:none; cursor:pointer;}






/*classify*/
.classify_box{border-bottom:1px solid #e6e6e6; padding-top:20px;}
.classify_box a{font-size:14px;}
.classify_box .classify_ele a{ display:inline-block;float:left;border:1px solid #e2e2e2;height:28px;line-height:28px; border-radius:4px;padding:0 13px;margin:0 6px 10px 4px;background:#fff;}
.classify_box .classify_ele a:hover{ text-decoration:none; border:1px solid #da3764; background:#da3764;color:#fff;}
.classify_item{margin:0 15px;padding:0px 0 1px;line-height:22px;}
.classify_item h2{font-weight:bold;font-size:14px;float:left; line-height:28px; }
.classify_item p{ color:#999;padding-left:0px; overflow:hidden;}
.classify_item span{float:right;font-size:12px;}
.classify_item span a{font-size:12px;}
.classify_inf{padding:0 15px 20px;font-size:14px;line-height: 20px;}
.classify_inf .check_box b {color: #039;cursor: pointer;font-size: 12px;}
.classify_box .newsletterdy{float:right;font-size:12px;}
.searchs_item{padding:10px 0;margin:0 10px;line-height:22px;border-bottom:1px dotted #dbdbdb;font-size:14px;}

.search_no_box{background:url(/assets/image/search_no.png) no-repeat center 70px;padding:310px 0 130px; text-align:center;font-size:14px;}



/* store */
/* stores left */
.store_logo{width:688px; overflow:hidden; border-bottom:1px solid #ebebeb; padding-bottom:10px;}
.store_logo h2{padding-bottom:5px; font-size:18px; color:#000; border-bottom:1px solid #ccc;}
.store_logo_box{margin-top:10px; width:690px; height:180px; overflow:hidden;}
/* store logo list */
.store_show{width:692px; height:181px;}
.store_show li{width:137px; height:60px;padding:15px 0; display:block; float:left; border:solid #ebebeb; border-width:0 1px 1px 0; text-align:center;}
.store_show li img{max-width:120px; max-height:60px;vertical-align:middle;}
.store_show li img:hover{ opacity:0.8;}


/* store search */
.store_search{padding:20px 0; height:33px; border-bottom:1px dashed #ccc; color:#000; font-size:14px;}
input.strore_inp{width:320px; height:31px; padding:0px 5px; border:1px solid #c0c0c0; font:14px/31px 'arial'; margin:0 5px; color:#000; display:inline-block;}
.search_btn{border:1px solid #c1c1c1; border-radius:2px;
    width:68px;
    height: 33px;
    line-height:29px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #eeeeee, #f8f8f8); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #f8f8f8)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f8f8f8', GradientType='0'); /* IE*/}
.search_btn:hover {
    background-image: -moz-linear-gradient(top, #f8f8f8, #eeeeee); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(1, #eeeeee)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee', GradientType='0'); /* IE*/
}
.retrieval .ret_title{height:24px; line-height:22px; padding:10px 0 5px;}
.retrieval .ret_title a{height:24px; line-height:24px; float:left; font-size:18px; font-family:'Arial'; color:#000; padding:0 5px;}
.retrieval .ret_title a:hover, .retrieval .ret_title a.cur{background:#da3764; color:#fff; text-decoration:none;}
.ret_result h3{background:#f3f3f3; font:bold 14px/22px 'arial'; color:#000; padding-left:10px;}
.ret_result ul{padding:2px 0 15px;}
.ret_result ul li{width:220px; float:left; line-height:24px; padding-right:8px;}
.ret_result a{color:#30309A; font-size:14px; text-decoration:underline; font-family:Arial;}
.ret_result a:hover{font-weight:bold;}

/*store in*/
.store_box{padding:10px 20px;border-bottom:1px solid #d1d1d1;height:60px;}
.store_box .store_sin_logo{max-width:120px;max-height:60px;float:left;margin-right:20px;}
.store_box .store_infor{overflow:hidden;}
.store_box .store_infor h1, .store_box .store_infor h2{font-size:20px;line-height:30px;padding-bottom:7px;}
.store_box .store_infor .store_gn{}
.store_box .store_infor .store_gn a{color:#039;}
.store_box .store_infor .store_gn span{padding:0 20px;}


/*长篇DEAL*/
.article_buyingguide{width:660px;margin:0 auto 20px;}
.article_buyingguide h1{font-size:20px;line-height:22px;padding-top:10px;text-align:center; margin-bottom:0;}
.article_buyingguide h1 span.notice_item{color:#d42f2f;}
.article_buyingguide h1 a:hover,.article_buyingguide h1 a:hover span{ text-decoration:none;}
.article_buyingguide .article_infor{ text-align:center;color:#666;border-bottom:1px solid #ebebeb;line-height:14px;padding:20px 0;}
.article_buyingguide .article_infor a{color:#039;}
.article_buyingguide .article_con{padding: 20px 0;font-size: 14px!important;line-height: 21px!important;color: #000!important;}
.article_buyingguide .article_con a{color:#039;}
.article_buyingguide .article_con img{ margin:5px auto!important; display:block}
.article_buyingguide .article_con ul{padding-bottom:25px;}
.article_buyingguide .article_con ul li{background:url("/assets/image/icon-article.png") no-repeat scroll 1px 11px; padding-left:15px;}
.article_buyingguide .article_like{ text-align:center;padding-bottom:20px;border-bottom:1px solid #ebebeb;}
.article_buyingguide .article_like a{display:inline-block;width:95px;height:90px;line-height:25px;text-align:center;}
.article_buyingguide .article_like a:visited,.article_buyingguide .article_like a:active{color:#333; text-decoration:none;}
.article_buyingguide .article_like a:hover,.article_buyingguide .article_like a.faved_btn{ text-decoration:none;color:#da3764;}
.article_buyingguide .article_like a .icon-articlelong-fav{margin:0 auto;}
.article_buyingguide .article_like a:hover .icon-articlelong-fav,.article_buyingguide .article_like a.faved_btn .icon-articlelong-fav{margin:0 auto;background-position:-135px -255px;}
.article_buyingguide .article_like a em{font-size:12px;color:#666; padding-left:5px;display:inline;}
.article_buyingguide .article_like a.faved_btn em{color:#da3764;}
.article_buyingguide .article_like a i{color:#da3764;display:none;font-style:normal;font-size:12px;padding-left:5px;}
.article_buyingguide .article_like a:hover em{display:none;}
.article_buyingguide .article_like a:hover i{display:inline;}
.article_buyingguide h1 a:link{color:#333; text-decoration:none;}
.article_buyingguide h1 a:visited,.article_buyingguide h1 a:active{color:#333; text-decoration:none;}
.article_buyingguide h1 a:hover{color:#333;text-decoration:underline;}
.article_buyingguide .mcomment{padding-bottom:20px;}


.article_fx{border-bottom:1px solid #ebebeb;line-height:20px;padding:15px 0;}
.article_fx span{float:right;color:#cbcbcb;}
.article_fx span a{color:#666;padding:0 5px;}
.share_btn_area_old{color:#666;float:left; position:relative;color: #666;display: block;box-shadow: 0 0 0; padding: 0; width: auto;}
.share_btn_area_old em{float:left;}
.share_btn_area_old a{margin:0 10px;}

/*宽评论补充样式*/
.comment_box{ display:block;padding:20px 0 0 0;width: auto;float: none;margin-right: 0;}
.comment_box h4{border-bottom: 1px solid #DCDCDC;line-height:30px;height:30px;font-size:12px; color:#666; }
.comment_box .com_list .mc_list_tit h4{width:inherit;}
.comment_box .mc_content{border:0;background:none;padding:20px 0 0 0;position:static;}
.comment_box .mc_content .mc_key{width:573px;}
.comment_box .mc_btn .mc_name{width: 150px;padding-left:5px;}
.comment_box .mc_btn{padding:0;}
.comment_box .mc_txt{width:605px;}
.comment_box .pageright {padding: 25px 0 20px; text-align:center;}
.comment_box .mpage{margin-top:25px;}

.image_upload {max-width:525px!important;}


/*20150210 stick add*/
.stickbar{padding:7px 0;}
.stickbar ul li{width:340px; padding:2px 0 4px 19px; float:left; height:20px;font-size:13px;line-height:20px;}
.stick_tit{color:#d42f2f; display:inline-block; height:20px; vertical-align:middle;}
.stick_line{width:1px; height:13px; display:inline-block; vertical-align:middle; background:#d42f2f; margin:1px 5px 0;}
.stickbar ul li s{width:150px; height:20px; display:inline-block;vertical-align:middle;}
.stickbar ul li a{color:#333; display:inline-block; overflow:hidden; height:20px;max-width:134px;word-break:break-all;}


/*20150625 openWindow*/
.open_layer_box {
  width: 470px;
  padding:30px 40px;
  background: #fff;
  border:3px solid #cdcdcd;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -275px;
  margin-top: -156px;
  z-index: 20000;
  line-height:30px;
  font-family:'Microsoft Yahei';
  font-size:18px;
  color:#000;
}
.open_layer_box .close_layer_box{position:absolute; right:15px; top:0px; font-size:30px; cursor:pointer; height:15px; width:15px;}
.open_layer_box .user_notice{
	padding-bottom:25px;
	border-bottom:1px solid #eaeaea;
	}
.open_layer_box .user_notice b{
	display:block;
	font-weight:normal;
	padding-bottom:15px;
	}
.open_layer_box  .please_chose{
	padding-top:10px;
	font-size:14px;
	color:#999;
		}
.open_layer_box .btn_go_cn,.open_layer_box .btn_go_en{
	cursor:pointer;
	display: inline-block;
	height:23px;
	line-height:23px;
	float: left;
	padding:10px 35px;
	background:#e72d6a;
	font-size:18px;
	color:#fff;
	margin:10px 0;
	}
.open_layer_box .btn_go_cn:hover,.open_layer_box .btn_go_en:hover{
  opacity: 0.9;
  text-decoration:none;
	}
.open_layer_box .btn_go_en{
	border:2px solid #e72d6a;
	background:#fff;
	padding:8px 33px;
	color:#e72d6a;
	float:right;
	}

.open_layer_bg{
  display: block;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.1;
  z-index: 19999;
  position: fixed !important;
  background-color:#000;
  }






/*seo优化-行内样式提取20151225*/
.divhide{display:none;}
.dialog{display: none; z-index: 520; position: fixed; opacity: 1; top: 4.5px; left: 463.5px;}
.dialog #reporterr{display: none; background-color: white; color: white; font-size: 30px; color: white; padding: 15px; text-align:left; width: 700px}
.dialog #reporterr form{margin:0px}
.dialog .report1{font-weight:bold}
.dialog .report2{margin-left:15px; width:380px}
.dialog .report3{font-weight:bold;margin-top: 5px}
.dialog .report4{margin-left:15px}
.dialog .report5{font-weight:bold;margin-top: 5px}
.dialog .report6 textarea{width:400px}
.dialog .report7{float:left;line-height:28px;margin-left:10px;width:260px}
.dialog .report_btn{height:25px;width:60px}
.out_show{height:25px;line-height:25px;background: #ffedf2;padding:10px 20px;font-size:16px;color: #D42F2F;margin-bottom:15px;margin-top:-20px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.out_show a{color:#d42f2f;}
.mlist .mtxt .mbody .minfor img {
    max-width: 525px!important;
}

/*localgg 广告 20160617*/

.local-gg{padding:0 20px;}
.local-gg-tit{font-size:18px;font-weight:bold;}
.local-gg-tit a:hover{color:#333;}
.local-gg-tit .local-bz{display:inline-block;height:24px;line-height:24px;padding:0 7px;background:#db4c4c;color:#fff;font-size:14px; border-radius:4px;margin-right:5px;font-weight:normal;}
.local-bz-icon{display:inline-block;width:11px;height:16px; background:url(/assets/image/local/local-icon.png) no-repeat; background-size:120px 200px; background-position:-65px -81px; vertical-align:middle;margin-right:5px;}
.local-gg-con{width:110%;float:left;padding:16px 0 6px;}
.local-gg-con .local-gg-item{width:160px;height:160px;float:left;margin-right:15px;}
.local-gg-con .local-gg-item img{ max-width:160px; max-height:160px;}



@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
	.mlist .mtxt .mbody .minfor ul li {
		background-image: url("/assets/image/icon-article2x.png");
		background-size: 4px 4px;
		background-position: 1px 11px;
	}

	.icon-scr-left, .icon-scr-right, .icon-coment-article, .icon-fav-article, .icon-share-article, .icon-weibo, .icon-webchat, .icon-qzone, .icon-facebook, .icon-mail, .icon-arr-up.icon-fav-rig, .icon-wechat-btn, .icon-toplink, .icon-comment-zan, .icon-articlelong-fav, .icon-language-right, .icon-language-article, .icon-sinawb-user, .icon-stick-hot, .icon-go-cn, .icon-go-en {
		background-image: url('/assets/image/main-icon1x.png');
		background-size: 200px 320px;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
	.icon-scr-left,.icon-scr-right,.icon-coment-article,.icon-fav-article,.icon-share-article,.icon-weibo,.icon-webchat,.icon-qzone,.icon-facebook,.icon-mail,.icon-arr-up,.icon-rank-rigtit,.icon-fav-rig,.icon-zy-rigtit,.icon-hotstore-rigtit,.icon-wechat-btn,.icon-toplink,.icon-comment-zan,.icon-articlelong-fav,.icon-language-right,.icon-language-article,.icon-sinawb-user,.icon-stick-hot,.icon-go-cn,.icon-go-en{
		background-image: url('/assets/image/main-icon2x.png');
		background-size: 200px 320px;
	}
}

/*合集add 0930*/
.collection_main{margin-top:-12px;}
.collection_main_en{margin-top:-15px;word-wrap: break-word;}
.collection_main_en .share_box, .general_deal_en .share_box{left:-104px; top:-60px;}
.mlist .coll_top{background:#f2f2f2; margin-left:0; padding-right:0;}
.coll_title{font-size:22px;}
.coll_title a:hover{text-decoration:none;color:#333;}
.coll_title a:hover h2{}
.coll_title h2{font-size:22px; line-height:inherit; margin-bottom: 0;}
.coll_title a p{color:#da3764; margin-top:5px;}
.coll_title a h2 span{display:none; color:#da3764;}
.coll_title a.expired h2, .coll_title a.expired p, .coll_title a.expired:hover{text-decoration:line-through;}
.coll_title a.expired h2 span{display:inline-block;text-decoration:line-through;}
.coll_info{height:30px; position:static; width:100%; line-height:30px; padding-bottom:3px; color:#666; font-size:14px; border-bottom:1px solid #d9d9d9;}
.coll_info_en{margin-top:8px;}
.coll_info s{/*width:70px;*/}
.coll_info s .icon-fav-article{margin-top:-2px;}
.coll_time{float:right;}
.coll_info .share_box .share_btn_area{width:197px;}

.coll_content{background:#fff; padding-top:5px;}

.coll_text{padding:10px 20px 0; font-size:14px; line-height:24px;}
.coll_text a{color:#039;}
.coll_text .col_da3764{color:#da3764;}
.coll_text ul li{background: url("/assets/image/icon-article.png") no-repeat scroll 1px 11px; padding-left: 13px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
    .coll_text ul li{background-image: url("/assets/image/icon-article2x.png") no-repeat; background-size:4px 4px; background-position:1px 11px;}
}

.coll_group{margin:30px 20px 0; line-height:25px; font-size:16px; font-weight:bold; color:#333;}
.coll_group span{width:25px; height:25px; display:block; float:left; background:#da3764; text-align:center; line-height:26px; border-radius:4px; color:#fff; font-size:18px; font-family:'arial'; margin-right:10px; font-weight:normal;}

.coll_deal{padding:5px 15px 0;}
.coll_deal_item{float:left; margin-top:10px;}
.coll_deal_item a{display:block; padding:5px; border:1px solid #fff; width:333px; margin-right:5px;}
.coll_deal_item a:hover{text-decoration:none; color:#333; border:1px solid #fce4eb; box-shadow:0px 1px 5px #eee;}
.coll_deal_item img{width:88px; height:88px; float:left;}
.coll_deal_itemr{margin-left:95px; display:block; font-size:13px;line-height:16px; width:238px; position:relative; height:90px;}
.coll_deal_itemr h4, .coll_deal_itemr p{max-height:32px; overflow:hidden;}
.coll_deal_notice{color:#da3764; margin-top:3px;}
.coll_deal_bottom{position:absolute; bottom:0; width:100%; text-decoration: none!important;}
.coll_deal_bottom s{float:right;}
.coll_deal_bottom span.fav_btns{width:70px; display:inline-block;}
.coll_deal_bottom span.coll_stores{color:#999;width: 120px;display: inline-block;overflow: hidden; line-height:18px; vertical-align:middle;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}

.collection_main_en .coll_deal_bottom span.coll_stores{width:108px;}
.coll_deal_hot, .coll_deal_expired{text-decoration:none; border-radius:2px; font-size:12px; padding:0 2px; margin-left:5px; line-height:17px;height: 16px;display: inline-block;min-width: 20px;text-align: center;}
.collection_main_en .coll_deal_hot, .collection_main_en .coll_deal_expired{}
.coll_deal_hot{border:1px solid #da3764; color:#da3764;}
.coll_deal_expired{border:1px solid #808080; color:#808080; display:none;}
.coll_deal_bottom em{color:#999; display:inline-block; vertical-align:middle; height:17px; line-height:17px;}
.coll_deal_itemexp .coll_deal_expired, .coll_deal_txtexp .coll_deal_expired{display:inline-block;}
.coll_deal_itemexp h4, .coll_deal_itemexp p{text-decoration:line-through; opacity:0.6;}
.coll_deal_txtexp span{margin-right:5px;}

.coll_deal_txt{margin:5px 20px 0;}
.coll_deal_txt li{font-size:14px; margin-top:10px;}
.coll_liicon{width:4px; height:4px; border-radius:3px; float:left; display:inline-block; margin-top:10px;}
.coll_deal_txt .coll_liicon{background:#666;}
.coll_deal_txt li p{margin-left:13px; line-height:22px;}
.coll_deal_txt li span{color:#039;}
.coll_deal_txt a:hover span{text-decoration:underline;}
.coll_deal_txtexp a{text-decoration:line-through;opacity:0.6;}
.coll_deal_txtexp a:hover{color:#333;}
.coll_deal_txtexp a span{text-decoration:line-through;}
.coll_deal_txtexp a:hover span{text-decoration:line-through;}
.coll_expired_deal .coll_liicon{background:#999;}

.coll_singledeal{padding:0 20px; margin-top:20px;}
.coll_singledeal a{display:block; float:left; border:1px solid #fff; margin-top:15px; width:150px; height:215px; padding:6px; margin-right:8px;}
.coll_singledeal a:hover{text-decoration:none;border:1px solid #ffb3c8;}
.coll_singledeal a img{width:150px; height:150px;}
.coll_singleprice{color:#d42f2f; font-size:14px; text-align:left; padding:4px 0 2px; height:16px; overflow:hidden;text-overflow:ellipsis; white-space: nowrap;}
.coll_singleprice i{color:#b1b1b1; font-size:12px; font-style:normal; text-decoration:line-through; margin-left:5px;}
.coll_singletitle{line-height:16px; height:32px; overflow:hidden;color:#666; margin-top:8px;}

.nav_noselect_tag{margin:0; height:0;}
.general_deal{background:#fff; padding:20px 20px 10px; margin-bottom:18px;}
.general_deal .gn_line .share_btn_area{display:none;}
.general_deal .minfo{width:100%; margin-bottom:0;}
.general_deal .mcomment{width:100%; margin:0; float:none;}
.general_deal .mcomment .mc_text .mc_key{width:580px;}
.general_deal .mcomment .com_list .mc_list_tit h4{width:100%;}
.general_deal .mcomment .mc_txt{width:610px;}
.general_deal .mcomment .reply_box .reply_box_text{width:598px;}
.general_deal .mcomment .reply_box .reply_box_text .mc_top_arrow{margin-left:570px;}
/*合集-单列图片deal*/
.coll_singlelist .coll_deal{padding:10px 15px 0 0; margin-left:-10px;}
.coll_singlelist .coll_deal_item{float:none; margin-top: 0;}
.coll_singlelist .coll_deal_item img{width:70px; height:70px;}
.coll_singlelist .coll_deal_item a{padding:10px 0 10px 10px; width:100%; position:relative;}
.coll_singlelist .coll_deal_item .coll_deal_itemr:before{content:""; height:1px; width:525px; background:#f2f2f2; position:absolute; left:-80px;bottom:-11px}
.coll_singlelist .coll_deal_item a:hover .coll_deal_itemr:before{display:none;}
.coll_singlelist .coll_deal_itemr{margin-left:80px; width:410px; height:65px;font-size:12px;}
.coll_singlelist .coll_deal_itemr h4{font-size:14px; float:left;}
.coll_singlelist .coll_deal_itemr p.coll_deal_notice{font-size:12px; margin-top:3px; width:446px;}
.coll_singlelist .coll_deal_itemr h4, .coll_singlelist .coll_deal_itemr p.coll_deal_notice{max-height:16px; white-space: nowrap; text-overflow:ellipsis; overflow:hidden; max-width:446px;}
.coll_singlelist .coll_deal_bottom s{float:none;}
.coll_singlelist .coll_deal_itemr .coll_deal_hot, .coll_singlelist .coll_deal_itemr .coll_deal_expired{margin-right:18px; margin-left:0; border-radius:3px; padding:0 4px;}
.coll_singlelist .coll_deal_itemr .coll_deal_expired{color:#808080; border:1px solid #808080;}
.coll_singlelist .coll_deal_itemr .coll_deal_hot{background:#dc3462; border:1px solid #dc3462; color:#fff;}
.coll_singlelist .coll_text{padding:10px 20px 0 0;}
.coll_singlelist .coll_group{margin:30px 20px 0 0;}
.coll_singlelist .coll_deal_txt{margin:5px 20px 0 0;}
.coll_singlelist .coll_deal_bottom span.coll_stores{width:260px;}
.coll_singlelist .coll_dealitem_hot .dm-icon-icon_hot{color:#dc3462; margin-left:3px; vertical-align: middle; margin-top:-2px; font-size: 13px;}
.coll_singlelist .coll_dealitem_hot h4{max-width:420px;}
.coll_singlelist .coll_deal_name{width:446px; height: 20px; margin-top:5px;}
.coll_singlelist .coll_deal_bottom .fav_btns em:nth-child(2){line-height: 19px;}
.coll_singlelist .coll_deal_itemexp .dm-icon-icon_hot{display:none;}
.coll_singlelist .coll_deal_bottom{bottom:-2px;}
.coll_singlelist .coll_deal_bottom span.fav_btns .icon-fav-article{background-position:-120px -40px; width:12px; height:15px; vertical-align:middle;margin-top:3px}
.coll_singlelist .coll_deal_bottom span.coll_stores,.coll_singlelist .coll_deal_bottom em{color:#bfbfbf;}
	/*.coll_singlelist .tw .tw_text a i{margin-left:5px;}*/

/*右侧浮动导航*/
.coll_sidenav{width:48px;position:fixed; right:0; top:50%; font-size:14px; text-align:right; display:none; z-index:6;}
.coll_sidenavnum{width:48px; display:block; background:#bfbfbf; height:47px; line-height:47px; border-bottom:1px solid #acacac; position:relative;}
.coll_sidenavnum.on{background:#da3764;}
.coll_sidenavnum.on a{color:#fff;}
.coll_sidenavnum s{display:inline-block; width:48px; height:47px; text-align:center; text-decoration:none; vertical-align: middle;}
.coll_sidenavnum a{position:absolute; height:47px; right:0; white-space:nowrap; font-size:16px; font-family:arial; color:#fff;}
.coll_sidenavnum a span{width:0;  display:inline-block; font-family:Microsoft Yahei,"微软雅黑",sans-serif; transition:all 0.2s; -webkit-transition:all 0.2s;}
.coll_sidenavnum a.hov{background:#da3764; color:#fff;}
.coll_sidenavnum a.hov span, .coll_sidenavnum a:hover span{width:auto; padding-right:15px;}
.coll_sidenav .coll_gotop{display:block; width:48px; height:44px; background:#bfbfbf; cursor:pointer; text-align:center; font-size:14px; color:#fff; padding-top:3px;}
.coll_sidenav .coll_gotop:hover{background:#da3764; text-decoration:none;}
.coll_gotop .dm-icon-chevron-up{font-size:20px; display:block;}

/*列表页面合集样式*/
.coll_listbox { position: relative; padding-bottom: 30px;}
.coll_listbox .coll_text{padding-left:0; padding-right:0;}
.coll_listbox .coll_group, .coll_listbox .coll_deal_txt{margin-left:0; margin-right:0;}
.coll_listbox .coll_readmore{font-size:15px;font-weight:bold;}

/*UI-2精选晒货*/
.mlist_show{padding:0 20px;}
.mlshow_img_item{width:172px; height:172px; float:left; position:relative;}
.mlshow_img_item img{width:172px; height:172px; position:absolute; left:0; top:0;  transition:all 0.1s;
-moz-transition: all 0.1s;	/* Firefox 4 */
-webkit-transition: all 0.1s;	/* Safari 和 Chrome */
-o-transition: all 0.1s; }
.mlshow_img_item:hover img{box-shadow:0 0 10px #999;z-index:1; width:180px; height:180px; left:-4px; top:-4px;  /*transform:scale(1.05);
-ms-transform: scale(1.05);	 IE 9
-webkit-transform: scale(1.05);	 Safari 和 Chrome
-o-transform: scale(1.05);	 Opera
-moz-transform: scale(1.05);	 Firefox */}
.mlshow_img_item img:hover{opacity:1;}
.mlshow_info{padding-top:20px;}
.mlshow_info a:hover{text-decoration:none;}
.mlshow_info s{float:right; width:70px; height:22px; line-height:22px; text-decoration:none; color:#f3f3f3; background:#fc245e; border-radius:5px; text-align:center; font-size:14px;}
.mlshow_info img{width:40px; height:40px; border-radius:50%; vertical-align:middle; margin-right:5px; margin-top:-10px;}
.mlshow_info span{font-size:14px; font-weight:bold;}
.mlshow_info em{color:#fc1153; font-family:'arial'; font-size:14px; font-weight:bold; margin-left:5px;}
.mlshow_info em .dm-icon-level{font-size:20px; font-weight:normal;}
.mlshow_descript{font-size:14px; line-height:22px; padding-top:8px;display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp:2;
overflow: hidden;}
.mlist_show_one{padding-bottom:6px; padding-right:20px;}
.mlist_show_l{float:left; width:150px; padding:0 20px;}
.mlist_show_l img{width:150px; max-height:150px;}
.mlist_show_r{margin-left:190px; position:relative; height:150px;}
.mlist_show_r .mlshow_info{padding-top:10px;}
.mlist_show_r .mlshow_descript{-webkit-line-clamp:3;}
.mlist_box > a:hover { text-decoration: none; color: #333;}
 a:focus {  outline: none;}
/*右侧精选晒货模块*/
.showBox { height: 400px; overflow: hidden;}
.showBox .dm-icon-camera{font-size:26px;}
.showBox_main{padding-bottom:15px;}
.showBox_img img{width:300px; height:300px;}
.showBox_main .mlshow_info{padding-top: 10px;position:relative;padding-left: 75px;height: 35px;}
.showBox_main .mlshow_info img{width:48px; height:48px; position:absolute; top:-10px; left:15px; border:3px solid #fff;}
.showBox_main .mlshow_info span{color:#000;}
.showBox_main .mlshow_info em{margin-left:3px;}
.showBox_main p{ padding:0 20px; font-size:14px; line-height:22px;display: -webkit-box;
	-webkit-box-orient: vertical;  -webkit-line-clamp:2; overflow: hidden;
    height: 44px;}
.showBox_main a:hover { text-decoration: none; color: #333;}
.post_hidden { display: none;}
.new_banner img { width: 730px;min-height:120px; max-height:300px;}
.post-button-white {position: absolute; background: #000;  color: #fff;  width: initial;  height: initial;  padding: 18px 4px;  font-weight: 700;  opacity: .8;  background-image: none!important;
    top: 40%; margin-top: -26px; cursor: pointer; display: none;  font-family: dm-icon!important;}
.post-button-prev {
    left: 0;  }
.post-button-next { right: 0;}
#showPost { position: relative; min-height: 445px; background: #fff;}
#showPost .title{height:45px;line-height:45px;background:#fff;  padding-left: 13px;}
#showPost .title h3 { color: #333;font-size:18px;}
#showPost:hover .post-button-white { display: block;}
.post-button-white:hover { opacity: .8;}

/*攻略入口样式*/
.box_gonglue { width: 300px; min-height: 320px; background: #fff; margin-bottom: 18px; position: relative;}
.gonglue_header { height: 45px; overflow: hidden; padding:0 17px; }
.header_rightinfo { float: right; height: 45px; font-size: 12px;}
.header_rightinfo p { margin-right: 17px; line-height: 45px; color: #999; float: left; }
.header_rightinfo p span { color: #999; padding: 0 2px; }
.gonglue_more { line-height: 45px;  color: #333;}
.gonglue_title {margin-top: 10px; font-size: 18px; color: #333; height: 25px; line-height: 25px; }
.gonglue_cont_wrap { }
.gonglue_cont_wrap .post-button-white { top: 30%;}
.box_gonglue:hover .post-button-white { display: block;}
.gonglue_cont { display: none;}
.gonglue_cont a:hover,.gonglue_list_box a:hover { text-decoration: none;}
.gonglue_cont:first-child { display: block; }
.gonglue_img_wrap {height: 169px; position: relative; overflow: hidden;}
.gonglue_img_wrap img { width: 100%; height: 169px; display: block; background: #ccc;}
.gonglue_des{background: linear-gradient(to bottom,rgba(255,255,255,0),#2b2b2b); height: 58px; padding: 22px 20px 0; position: absolute; bottom: 0; left: 0; width: 260px;}
.gonglue_img_wrap p { font-size: 16px; color: #fff; line-height: 26px; height: 52px; overflow: hidden; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2; }
.gonelue_para { margin: 12px 20px 10px; font-size: 12px;color: #666; line-height: 22px;height: 44px; overflow: hidden; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;}
.gonglue_social { float: right; padding-top: 5px;}
.gonglue_social em { font-weight: normal; color: #999; padding-left: 5px;}
.gonglue_social .dm-icon-like1,.gonglue_list_social .dm-icon-like1 { display: none;}
.gonglue_photo { float: left; width: 26px; height: 26px; border-radius: 50%; }
.gonglue_name { color: #999; margin-left: 40px; line-height: 26px; font-weight: normal; width: 7em; height: 26px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 12px;  }
.gonglue_info { padding: 0 20px;}
.gonglue_list_box {padding: 22px 0; width: 730px; border-bottom: 1px solid #e6e6e6; background: #fff;}
.gonglue_list_left {  width: 290px; height: 164px; float: left; margin-left: 22px; position: relative;}
.gonglue_list_left img { width: 290px; height: 164px; display: block;}
.gonglue_btn { width: 39px; height: 22px; background: #ed1964; position: absolute; left: 12px; top: 11px; color: #fff; line-height: 22px; text-align: center; border-radius: 4px; }
.gonglue_list_right { margin-left:331px; padding-right: 22px; height: 164px;}
.gonglue_list_right h2 {font-size: 20px; color: #333; line-height: 26px; height: 52px; overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;}
.gonglue_list_right p { margin: 5px 0 5px; line-height: 24px; font-size: 12px; color: #666; height: 72px; overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:3; }
.gonglue_list_info {}
.gonglue_list_social { float: right; padding-top: 6px; }
.gonglue_list_social em { font-weight: normal; color: #999; padding-left: 5px;}
.gonglue_list_photo { float: left; width: 25px; height: 25px; border-radius: 50%;  }
.gonglue_list_name {color: #999; margin-left: 35px; line-height: 25px; font-weight: normal; width: 8em; height: 25px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.social_icon { font-size: 12px; padding-left: 10px;}
.social_icon:before { color: #999;}
.mlist .packup_fix { position: fixed; bottom:20px; left: 50%; margin-left: 125px; background: rgba(221,59,100,.8); z-index: 1000;  margin-bottom: 0; color: #fff;}
.mlist .packup_fix:hover { color: #fff; background:rgba(221,59,100,.95);}
.deal_vote_wrap { margin-top: 15px; margin-bottom: 10px; background: #f5f5f5; height: 70px; overflow: hidden; width: 525px;}
.deal_vote_left { width: 70px; float: left; background: #e6e6e6; text-align: center; height: 70px;}
.deal_vote_left img { margin-top: 24px; width: 28px;}
.deal_vote_right { margin-left: 85px; padding: 10px 15px 0 0;}
.vote_info { float: right;}
.vote_status { font-size: 12px; background: #44b5e9; border-radius: 4px; color: #fff; padding:0 6px; height: 24px; line-height: 24px;transform:scale(0.875);}
.vote_status_bg { background: #e6e6e6;}
.vote_num { font-size: 12px; color: #999; padding-top: 7px;}
.vote_title_show { font-size: 14px; color: #666; line-height: 24px; height: 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 320px;}
.right_now { font-size: 12px; color: #038; padding-top:8px; }
.deal_vote_wrap a:hover { text-decoration: none;}
.collection_position { position: relative; width: 100%; margin-bottom: 10px;}
.read_more { border: 1px solid #e6e6e6; background: #f5f5f5; color: #da3764; height: 26px; line-height: 26px;  border-radius: 3px; display:inline-block; padding: 0 12px; font-size:12px; text-align: center; font-weight: bold;}
.read_more:hover { text-decoration: none;}
.read_more .dm-icon { font-size: 10px;}
.collection_mask { position:absolute; width:100%; height:30px; bottom:28px; left:0; z-index:10; background:linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), #ffffff);}
.en_item_pad { padding-bottom: 12px;}
