@charset "utf-8";
/* CSS Document */
[class^="icon-"],[class*="icon-"]{
    display:inline-block;
    background-repeat:no-repeat;
    /*font-size: 0;*/
	vertical-align:middle;
	/*text-indent:-9999px;*/
}
.icon-logo,.icon-search-top,.icon-store-top,.icon-pic-reg,.icon-language-top,.icon-app-top,.icon-alert-top,.icon-contact-top,.icon-fav-log,.icon-comment-log,.icon-set-log,.icon-home-deal,.icon-nav-local,.icon-app{
    background-image: url('/assets/image/topbar-icon1x.png');
    background-size: 325px 400px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
.icon-logo,.icon-search-top,.icon-store-top,.icon-pic-reg,.icon-language-top,.icon-app-top,.icon-alert-top,.icon-contact-top,.icon-fav-log,.icon-comment-log,.icon-set-log,.icon-home-deal,.icon-nav-local,.icon-app{
        background-image: url('/assets/image/topbar-icon2x.png');
        background-size: 325px 400px;
    }
}
.icon-logo{
	width:175px;
	height:75px;
	background-position:0 -95px;
	text-indent:-9999px;
	}
.icon-search-top{
	width:15px;
	height:15px;
	background-position:0 0;
	}
.icon-store-top{
	width:13px;
	height:14px;
	background-position:-200px -98px;
	margin-right:3px;
	}
.icon-pic-reg{
	width:38px;
	height:38px;
	background-position:-20px 0;
	}
.icon-language-top{
	background-position:-65px 0;
	}
.icon-app-top{
	background-position:-105px 0;
	}
.icon-alert-top{
	background-position:-145px 0;
	}
.icon-contact-top{
	background-position:-185px 0;
	}
.icon-fav-log{
	height:18px!important;
	background-position:-200px -120px;
	}
.icon-comment-log{
	background-position:-225px -120px;
	}
.icon-set-log{
	width:16px!important;
	height:17px!important;
	background-position:-250px -120px;
	}
.icon-home-deal{
	width:24px;
	height:19px;
	background-position:-225px -95px;
	margin-top:-4px;
	}
.icon-nav-local{
	width:14px;
	height:19px;
	background-position:-250px -95px;
	}	
.icon-app{
	width:230px;
	height:130px;
	background-position:0 -260px;
	}
	
 	

header{width:100%;min-width:1050px;background:#fff;}


.lang_box{float:right;width:110px; text-align:right;line-height:27px;}
.lang_box span{color:#d6d6d6;padding:0 6px;}
.lang_box .dialog_en{width:49px; font-family:Arial;color:#da3764;}

.hlang{width:105px;float:left;padding-top:5px;}
.hlang a{display:inline-block;float:left;margin-right:8px;height:23px;line-height:23px;border:1px solid #999;text-align:center;color:#000;font-family:"SimSun";font-size:12px;}
.hlang a.dialog_en{width:49px; font-family:Arial;}
.hlang a.dialog_en:hover{text-decoration:none;background-color:#f32f68;color:#fff;border:1px solid #f32f68;}


/*banner*/
header .banner{width:1050px;margin:0 auto;height:96px;}
header .banner .logo{ padding:10px 0 0 0; width: 220px;height: 75px;float:left;}

header .banner .search_fra{ width:425px;float:left;}
header .banner .sf{ padding:24px 0 0; height:34px;}
header .banner .sf_text{ float:left; background:#fff; border:1px solid #a1a1a1;  height:32px; overflow:hidden; width:423px;}
header .banner .key_focus{border:1px solid #999;}
header .banner .key_focus .icon-search-top{background-position:0 -20px;}
header .banner .sf_text .key{ border:solid 1px #fff; padding:5px 7px 6px; width:380px; font-size:14px; height:19px;color:#a9a9a9;}
header .banner .key_focus .key{color:#000;}

/*20150401newadd*/
header .sf{ position:relative; z-index:11111;}
header .search_data{position:absolute;left:0px;top:57px;border:1px solid #999;width:423px;background:#fff;}
header .search_data .history_data_list li{padding:0 10px;height:24px;line-height:24px;color:#666; cursor:pointer; clear:both; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:403px;}
header .search_data .history_data_list li.hover{background:#ebebeb;}
header .search_data .history_data_clear{padding:0 10px;height:24px;line-height:24px;color:#666; cursor:pointer;color:#b1b1b1;}
header .search_data .history_data_clear span{float:right;}
header .search_data .history_data_clear span:hover{color:#da3764;}
header .search_data .brand_list{}
header .search_data .brand_list li{height:30px;line-height:30px;padding:3px 10px;border-bottom:1px dotted #dbdbdb; cursor:pointer;clear:both;float:none!important;}
header .search_data .brand_list li.hover{background:#ebebeb;}
header .search_data .brand_list li a{display:block;}
header .search_data .brand_list li img{width:60px;height:30px;margin-right:10px;}
header .search_data .brand_list_title{padding:3px 10px;height:24px;line-height:24px;border-bottom:0;color:#808080; clear:both;}
header .search_data .brand_list_title i{display:block;width:220px;height:12px;border-bottom:1px solid #dbdbdb;float:right;}
header .search_data .brand_list_title:hover{background:none;}

header .banner .sf_word{line-height:20px;padding-top:5px;}
header .banner .sf_word a{ float:left; line-height:20px; margin-right:10px;color:#999;}
header .banner .sf_word a:hover{color:#da3764;text-decoration: none}
header .banner .sf_word a.store{ color:#da3764;float:right; line-height:20px; margin-right:2px;}

header .banner .top_us{width:252px;float:right;padding-top:21px;}
header .banner .top_us a{display:inline-block;float:left;width:65px;text-align:center;color:#666;}
header .banner .top_us a span{width:40px;height:40px;margin:0 auto; display:block;}
header .banner .top_us a em{display:inline-block;height:24px;line-height:24px;font-size:12px; color:#666;}
header .banner .top_us a:hover,header .banner .top_us a:hover em{color:#da3764;}
header .banner .top_us a:hover .icon-language-top{background-position:-65px -50px;}
header .banner .top_us a.app_btn:hover .icon-app-top{background-position:-105px -50px;}
header .banner .top_us a.alert_btn:hover .icon-alert-top{background-position:-145px -50px;}
header .banner .top_us a.contact_top_btn{ width:50px;padding-left:7px;}
header .banner .top_us a.contact_top_btn:hover .icon-contact-top{background-position:-185px -50px;;}

/*login new20150210*/
.login_new{width:140px;padding-top:24px;float:right; text-align:center;}
.login_new .icon-pic-reg{margin:0 auto;}
.login_new .icon-pic-reg:hover,.login_new .icon-pic-reg.pic_reg_hover{background-position:-20px -50px;}
.login_new .link_reg{line-height:22px;color:#dcdcdc;}
.login_new .link_reg a{color:#666;}
.login_new .link_reg a:hover,.login_new .link_reg a.link_reg_ahover{color:#da3764; text-decoration:none;}
.login_new .login_after_box{ position:relative;height:60px;padding-bottom:10px;}
.login_new .login_after{display:block;color:#666;}
.login_new .login_after .pic_reg img{ border-radius:20px;max-width:37px;max-height:37px;}
.login_new .login_after:hover{ opacity:0.9;color:#da3764; text-decoration:none;}
.login_new .login_after em{display:block;width:140px;height:24px;line-height:24px; overflow:hidden;}
.login_new .login_after_box .user_item{ position:absolute;left:5px;top:65px; z-index:22222;background:#fff;width:130px;border-top:2px solid #da3764;padding-top:5px; box-shadow:0 2px 6px #ccc;}
.login_new .login_after_box .user_item li{height:36px;line-height:36px;}
.login_new .login_after_box .user_item li a{ display:block;height:36px;line-height:36px;font-size:14px;color:#000;}
.login_new .login_after_box .user_item li a:hover{background:#f2f1f1; text-decoration:none;}
.login_new .login_after_box .user_item li a i{width:15px;height:15px;margin-right:5px;}
.login_new .login_after_box .user_item li a:hover i{background-position:-200px -140px;}
.login_new .login_after_box .user_item .my_comment a:hover .icon-comment-log{background-position:-225px -140px;}
.login_new .login_after_box .user_item .myset a:hover .icon-set-log{background-position:-250px -140px;}
.login_new .login_after_box .user_item .goout{height:40px;line-height:40px;background:#f8f8f8;margin-top:6px;}
.login_new .login_after_box .user_item .goout a{color:#000;font-size:12px;}
.login_new .login_after_box .user_item .goout a:hover{color:#da3764;}
.login_new .login_after_box .user_item .arrow_up{width:7px; height:7px; border:solid #df2068; border-width:2px 2px 0 0; -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg); position:absolute; left:50%; margin-left:-5px; top:-6px; background:#fff;}

.mcomment .mc_txt span.user_name {
    color: #808080;
    opacity: 0.5;
}

header .nav_bot.nav_fixed .top_list li.search_gs{border:1px solid #999;}

/*nav*/
header nav{width:100%;min-width:1050px;height:38px;background: #da3764;}
header nav .nav_top{width:1050px;margin:0 auto;height:38px;}
header nav .nav_top li{float: left;}
header nav .nav_top li a{padding:0 15px;color:#fff;white-space: nowrap;float:left;font-size:15px;line-height:38px;font-weight: bold;}
header nav .nav_top li a:hover,header nav .nav_top li.selected a{color:#fff; text-decoration:none;background:#af0052;}

header .nav_bot{width:100%;min-width:1050px;height:38px;line-height:38px;background:#e6e6e6;}
header .nav_bot{ position:relative;z-index:23;}
header .nav_bot .top_list{width:1050px;margin:0 auto;}
header .nav_bot .top_list li{font-size:14px; float:left; position:relative; z-index:100000;}
header .nav_bot .top_list li.cur{border-bottom: 3px solid #da3764;line-height: 24px;padding: 3px 0px 0px!important;}
header .nav_bot .top_list li.cur a:hover{text-decoration: underline}
header .nav_bot .top_list li.one_level{ padding:0;}
header .nav_bot .top_list li.one_level .more_no{ border-left:1px solid #dcdcdc;padding:0 13px;}
header .nav_bot .top_list li.one_level .more_arrow{ position:relative;border-left:1px solid #d4d4d4;padding:0 13px;}
header .nav_bot .top_list li.one_level .more_arrow:hover,header .nav_bot .top_list li.one_level .more_no:hover{ text-decoration: none;}
header .nav_bot .top_list li.one_level .more_arrow s{text-decoration: none; height:30px; position: relative;display: inline-block;}
header .nav_bot .top_list li.one_level .more_arrow i{display:none;position: absolute;z-index:1;left:50%;top:34px;margin-left:-6px;width: 7px;height: 7px;border:solid #da3764;border-width:0 0 2px 2px;background:#fff;-moz-transform:rotate(135deg); -webkit-transform:rotate(135deg); transform:rotate(135deg); filter:progid:DXImageTransform.Microsoft.Matrix(M11=-0.707,M12=-0.707,M21=0.707,M22=-0.707,SizingMethod='auto expand');}
header .nav_bot .top_list li.one_level.first_home a{border-left:0;padding-left:0!important;}
header .nav_bot .top_list li.one_level a:hover{text-decoration: underline}
header .nav_bot .top_list li.one_level.all_deal{display:none;}
header .nav_bot .top_list li.one_level.all_deal a{color:#da3764;}

header .nav_bot .top_list li.one_level a.borderleft{border-left:1px solid #dcdcdc;}
header .nav_bot .top_list li.prompt_n{}
header .nav_bot .top_list li s.prompt_num{padding:0 6px;height:18px; display:inline-block; background:#fe8e34; color:#fff; border-radius:9px; line-height:20px; font-size:12px; text-align:center; text-decoration:none; font-weight:normal; vertical-align:middle;margin-top:-16px;margin-right:8px;margin-left:-13px;}

header .nav_bot .top_list li.one_level .droplist{position:absolute; font-size:12px; top:38px; left:0; display:none;padding:4px 10px; background:#fff;border-top:2px solid #da3764;box-shadow:0 1px 2px rgba(0,0,0,.3);}
header .nav_bot .top_list li.one_level .wid130{width:130px;}
header .nav_bot .top_list li.one_level .wid180{width:180px;}
header .nav_bot .top_list li.one_level .wid200{width:200px;}
header .nav_bot .top_list li.one_level .wid_menu{width:320px;left:-132px;}
header .nav_bot .top_list li.one_level .droplist a.wid65{width:63px;}
header .nav_bot .top_list li.one_level .droplist a.wid90{width:88px;}
header .nav_bot .top_list li.one_level .droplist a.wid100{width:98px;}
header .nav_bot .top_list li.one_level .droplist a.wid110{width:108px;}
header .nav_bot .top_list li.one_level .droplist a.wid105{width:104px;}
header .nav_bot .top_list li.one_level .droplist p{border-bottom: 1px solid #e8e8e8;line-height:20px;padding:6px 0;}
header .nav_bot .top_list li.one_level .droplist p.lastbottom{border-bottom: 0;}
header .nav_bot .top_list li.one_level .droplist p b{display: block;font-weight: bold;color:#333;padding:0 8px 3px;font-size:14px;}
header .nav_bot .top_list li.one_level .droplist a{display:inline-block;width:100%;height: 32px;line-height:32px;box-sizing: border-box;padding:0 8px;font-weight:normal;white-space:nowrap;font-size:12px;color:#444;transition:all 0.1s;}
header .nav_bot .top_list li.one_level .droplist a:hover{color:#fff;background: #e22569;text-decoration:none;}
header .nav_bot .top_list li.one_level .droplist a.ftb_color{color:#da3764;}
header .nav_bot .top_list li.one_level .droplist a.ftb_color:hover{color:#fff;}
header .nav_bot.nav_fixed .top_list li.one_level .wid_menu{left:0;}

/*20150401changed*/
header .nav_bot .top_list li.search_gs{width:185px;float:right; display:none;line-height:normal;margin-top:7px;margin-right:10px;padding-top:0; position:relative;}
header .nav_bot .top_list li.search_gs .search_gs_input{float:left;width:155px;padding-left:5px;height:23px;line-height:23px;border:0;background:#f8f8f8;}
header .nav_bot .top_list li.search_gs .search_btn_fixed{width:25px;height:23px;line-height:23px;border:0; cursor:pointer; display:block; float:left; background-color:#f8f8f8;}
header .nav_bot .top_list li.search_gs.focusb .search_btn_fixed .icon-search-top{background-position:0 -20px;}
header .nav_bot .top_list li.hlang{width:54px;float:right;display:none;padding-top:7px;}
header .nav_bot .top_list li.search_gs .search_data{top:26px;left:-1px;width:185px;}
header .nav_bot .top_list li.search_gs .search_data .brand_list_title{width:160px;}
header .nav_bot .top_list li.search_gs .search_data .brand_list_title i{width:40px;}
header .nav_bot .top_list li.search_gs .search_data .history_data_list li{width:165px;}





header .nav_bot .menu{  width:65px; height:23px; cursor:pointer; z-index:2;float:left;margin:6px 0 0; position:relative; z-index:5;}
header .nav_bot .menu h3{padding-left:13px;line-height:19px;font-size:14px;border-left:1px solid #dcdcdc;}
header .nav_bot .menu h3 em{width:5px; height:5px; display:inline-block; border:solid #9b9b9b;border-width:1px 1px 0 0; position:absolute;left:49px;top:6px;
-moz-transform:rotate(135deg); -webkit-transform:rotate(135deg); transform:rotate(135deg); filter:progid:DXImageTransform.Microsoft.Matrix(M11=-0.707,M12=-0.707,M21=0.707,M22=-0.707,SizingMethod='auto expand');

/* transition:all .1s ease-in 0s;
-webkit-transition:all .1s ease-in 0s;
-moz-transition:all .1s ease-in 0s;*/}
header .nav_bot .menu_hover{ background:#fff;color:#da3764;border:solid #ddd;border-width:1px 1px 0 1px;width:63px;height:22px;margin:5px 0 0;}
header .nav_bot .menu_hover h3{ position:absolute;left:0;top:0;border-bottom:1px solid #fff;width:51px; z-index:7;line-height:19px;height:22px;padding-left:12px;border-left:1px solid #fff;}
header .nav_bot .menu_hover h3 em{left:47px;border-width:1px 1px 0 0;
/* -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);*/}

header .nav_bot .menu .more_list{ z-index:3;border:1px solid #ddd;background:#fff; position:absolute;left:-1px;top:22px;width:115px;padding:4px 3px; display:none;}
header .nav_bot .menu_hover ul.more_list{display:block;}
header .nav_bot .menu ul.more_list li{height:23px;line-height:23px;border-bottom:1px solid #f2f2f2;width:auto;padding:0; float: none;}
header .nav_bot .menu ul.more_list li a{display:block;width:auto;height:23px;padding:0 10px 0 15px;border-left:0;font-size:12px;}
header .nav_bot .menu ul.more_list li a:hover{background:#e22569;color:#fff!important; text-decoration:none;}


header .nav_bot.nav_fixed{ position:fixed;top:0;z-index:1000;height:38px;line-height:38px;*line-height:37px; background:#fff; box-shadow:1px 1px 2px rgba(0,0,0,.15);}
header .nav_bot.nav_fixed .top_list li.search_gs,header .nav_bot.nav_fixed .top_list li.hlang{display:block;}
header .nav_bot.nav_fixed .menu{margin-top:8px;}
header .nav_bot.nav_fixed .menu_hover{margin-top:7px;}
header .nav_bot.nav_fixed .menu ul.more_list li a{padding:0 14px;}
header .nav_bot.nav_fixed .top_list li.one_level a{padding:0 11px;}
header .nav_bot.nav_fixed .top_list li.one_level.all_deal{display:block;}
header .nav_bot.nav_fixed .top_list .nav_share_area{display:none;}
/*overfixed20150325*/
header .nav_bot .menu .over_fixed{display:none;}
header .nav_bot .over_fixed_prev{display:none;}
header .nav_bot .menu .more_list{width:127px;}
header .nav_bot.nav_fixed .over_fixed{display:none;}
header .nav_bot.nav_fixed .over_fixed_prev{display:block;}
header .nav_bot.nav_fixed .more_list{width:136px;}
header .nav_bot.nav_fixed .menu .over_fixed{display:block;}
header .nav_bot.nav_fixed .menu .over_fixed_prev{display:none;}

/* footer */
footer{width:100%;min-width:1050px;height:206px;border-top:solid 1px #f6f6f6;margin-top:10px;background:#fff;}
footer .footer_wrap{width:1050px;margin:0 auto;}
footer .flink-item{ display:inline-block;float:left;line-height:26px;padding:20px 0 30px 65px;}
footer .flink-item h3{font-size:16px;font-weight:bold;color:#000;}
footer .flink-item a:hover{color:#c02558; text-decoration:none;}
footer .app-item{display:inline-block;float:left;padding:30px 0 0 65px;}
/*footer-credit*/
.footer_credit{width:100%; background:#2d2d2d; padding:5px 0; color:#fff;}
.footer_credit .statement{width:1050px; margin:0 auto; line-height: 16px;}

.icon-wechat-btn{
	background-image: url('/assets/image/main-icon2x.png');
        background-size: 200px 320px;
	width:80px;
	height:80px;
	background-position:0 -240px;
	}
.icon-toplink{
	background-image: url('/assets/image/main-icon2x.png');
        background-size: 200px 320px;
	width:50px;
	height:28px;
	background-position:0 -185px;
	opacity: 0.4;
	}

.todayHot{background:#fff;position:fixed;z-index:5;left:550px;margin-left: 50%;bottom:30px;width:100px;display:none;box-shadow:0 2px 5px #f6f6f6;}
.todayHot ul{padding:5px 0;}
.todayHot li{ height:32px; line-height:32px; overflow:hidden;}
.todayHot li a{ display:block; text-align:center;}
.todayHot li a:hover{color:#fff; text-decoration:none;background-color:#da3764;}
.todayHot .btn{border-top:1px solid #f6f6f6;}
.todayHot .btn .toplink{ display:block;cursor:pointer;width:100px;height:65px;line-height:65px; text-align:center;}
.todayHot .btn .toplink:hover .icon-toplink{ opacity:1;}
.todayHot .wechat_btn{position:absolute;width:80px;height:80px;top:-107px;left:0px;padding:10px; background:#fff;}
#wechatBox{display:block;}
#wechatBox .btn{display:none;}

.rtop_btn{width:45px;height: 45px;overflow: hidden;position:fixed; z-index:5; right: 20px;bottom:30px;display:none;}
.rtop_btn .toplink{width:45px;height: 45px;}
.rtop_btn .toplink .icon-toplink{width:45px;height: 45px; background-position:-80px -185px;}
.rtop_btn .toplink:hover .icon-toplink{opacity:0.7;}

#rtop_btn_channel{z-index:5; left:550px;right:auto;margin-left: 50%;}





/*双11样式*/
.nav_top_shop11{ position:relative;}
.nav_top_shop11 .shop11{position:absolute;right:-10px;top:-6px;border:0;width:195px;height:36px;background:url(/assets/image/ch@1x.png) no-repeat;}
.nav_top_shop11 .shop11 a{display:block;width:195px;height:36px; text-indent:-9999px;}
.nav_top_shop11 .shop11 a:hover{background:none;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
.nav_top_shop11 .shop11 {
    background-image: url(/assets/image/ch@2x.png);
    background-size:195px 36px;
}
}



/*seo优化-行内样式提取20151225*/
.divhide{display:none;}






/*#festival_bg{background:url(../images/web_bg_7th.png) no-repeat center 152px #ffeaeb;}*/
#festival_bg{background:#fff;}

/*#festival_bg .festival_top{width:1050px;height:230px;margin-bottom:18px; background:url(../images/banner_cn_1050X230_7th.png) no-repeat;}*/
#festival_bg .festival_top{width:1050px;height:230px;margin-bottom:18px; background:#fff;}

#festival_bg .box{ box-shadow:0 0 0; border:1px solid #eee;}
#festival_bg .mlist{border-bottom:1px solid #eee;}
/*20160315 nav local*/
.nav-local{}
.nav-local .nav-local-li{ position:relative;}
.nav-local .nav-local-li a{ display:block;padding-left:10px;padding-right:20px;}
.nav-local .icon-nav-local-jt{position:absolute; right:5px; top:18px; opacity:0.6; width:0; height:0; border-left:6px solid transparent; border-right:6px solid transparent; border-top:6px solid #fff;}
.nav-local .nav-local-list{ position:absolute;left:0px;top:38px; background:#fff;/*border:1px solid #9d9d9d;*/border-top:0; z-index:88888;padding:5px 10px 0;  box-sizing: border-box; min-width:102%;box-shadow:0px 1px 2px rgba(0,0,0,.3);}
.nav-local .nav-local-list p{width:100%;}
.nav-local .nav-local-list a,.nav-local .nav-local-list span{ display:block;height:35px;border-bottom:1px solid #e8e8e8;line-height:35px;color:#000!important;font-size:12px;font-weight:normal;padding:0 0 0 5px; float:none;background:#fff!important;}
.nav-local .nav-local-list a:hover{ background:none;color:#000; text-decoration:underline;}
.nav-local .nav-local-list span{color:#b1b1b1;white-space: nowrap;}
.nav-local .nav-local-list a.cur{color:#d42f2f;padding-left:5px;}
.nav-local .nav-local-list a.cur .icon-nav-local{ background-position:-269px -95px;height:13px;}
/*nav_child 20160513*/

.child-bg{ background:#fff;}
.child-bg .box{border:1px solid #e6e6e6; box-shadow:0 0 0 #fff;}
.nav_month .child{position:relative;border:0;width:250px;height:29px;float:right;}
.nav_month .child a,.nav_month .child a:hover{ position:absolute;top:-8px;display:block;width:250px;height:39px; text-indent:-9999px;background:url(/assets/images/botton-cn@1x.png) no-repeat 0px 0;padding:0;}
.nav_month .child a:hover{ opacity:0.95;}
.beauty_top{width:1050px;height:230px;margin-bottom:18px; background:url(/assets/images/banner-cn.png) no-repeat;}
header nav .nav_top li a{padding:0 12px;}/*mom*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .nav_month .child a,.nav_month .child a:hover{
        background-image: url(/assets/images/botton-cn@2x.png);
        background-size:250px 39px;
    }
}







