.dropdown-toggle::after{display:inline-block;width:0;height:0;margin-right:.25rem;margin-left:.25rem;vertical-align:middle;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-left:.3em solid transparent;}.wizard-upload{margin:0px auto 0px;background:transparent!important;}.wizard-upload>div.wizard-inner{position:relative;}.wizard-upload .nav-tabs{position:relative;margin-bottom:0;border-bottom-color:#e0e0e0;}.wizard-upload .nav-tabs>li>a{color:rgba(86,102,120,0.9);-moz-transition:all 500ms linear;-ms-transition:all 500ms linear;-o-transition:all 500ms linear;transition:all 500ms linear;}.wizard-upload .nav-tabs>li>a:hover{color:rgba(86,102,120,1);}.connecting-line{height:2px;background:#e0e0e0;position:absolute;width:80%;margin:0 auto;left:0;right:0;top:50%;z-index:1;}.wizard-upload .nav-tabs>li.active>a,.wizard-upload .nav-tabs>li.active>a:hover,.wizard-upload .nav-tabs>li.active>a:focus{color:#555555;cursor:default;border:0;border-bottom-color:transparent;margin-bottom:25px;background:transparent;}.wizard-upload .nav-tabs>li>a:focus{border:none!important;outline:none;color:inherit;background:transparent;}span.round-tab{width:170px;height:70px;line-height:70px;display:inline-block;border-radius:100px;background:transparent;border:0px;z-index:2;position:absolute;left:0;text-align:center;font-size:18px;transition:font-size 0.3s ease;}span.round-tab i{color:#8E8E8E;}span.round-tab:hover i{color:#3c4e5a;}.wizard-upload .nav-tabs>li>a:hover{color:#3c4e5a!important;}.wizard-upload li.active span.round-tab{background:transparent;}.wizard-upload li.active span.round-tab i{color:#3c4e5a;}.wizard-upload .nav-tabs>li{width:25%;background:transparent;}.wizard-upload li:after{content:" ";position:absolute;left:46%;opacity:0;margin:0 auto;bottom:0px;border:10px solid transparent;border-bottom-color:#5bc0de;transition:0.1s ease-in-out;}.wizard-upload li.active:after{content:" ";position:absolute;left:46%;opacity:1;margin:0 auto;bottom:0px;border:10px solid transparent;border-bottom-color:#E0E0E0;}.wizard-upload .nav-tabs>li a{transition:text-shadow 0.5s ease;width:170px;height:70px;margin:20px auto;border-radius:100%;padding:0;border:0px;}.wizard-upload .nav-tabs>li a:hover{background:transparent;text-shadow:0px 0px 10px rgba(173,173,173,0.8);}.wizard-upload .tab-pane{position:relative;padding-top:50px;}.wizard-upload h3{margin-top:0;}@media( max-width : 585px ) {

    .wizard-upload {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        overflow:hidden;
    }
    
    span.round-tab i{
    	width:100%;
    }

    .wizard-upload .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard-upload li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.uploader-holder{
	min-height: 200px;
    font-size: 40px;
    background: rgba(202, 202, 202, 0.3);
    padding-top: 40px;
    padding-bottom: 40px;
    cursor: pointer;
    text-shadow: 0px 1px 1px #FFFFFF;
    -moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
	margin-bottom:20px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index:9;
}

.uploader-holder:hover{
	-webkit-box-shadow: 0px 0px 14px 0px rgba(173,173,173,0.5);
	-moz-box-shadow: 0px 0px 14px 0px rgba(173,173,173,0.5);
	box-shadow: 0px 0px 14px 0px rgba(173,173,173,0.5);
	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
}

.uploader-progress-holder {
	min-height: 200px;
    font-size: 40px;
    background: rgba(202, 202, 202, 0.3);
    padding-top: 40px;
    padding-bottom: 40px;
    text-shadow: 0px 1px 1px #FFFFFF;
    -moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
	margin-bottom:20px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index:9;
	display:none;
}

.uploader-progress-holder:hover{
	-webkit-box-shadow: 0px 0px 14px 0px rgba(173,173,173,0.5);
	-moz-box-shadow: 0px 0px 14px 0px rgba(173,173,173,0.5);
	box-shadow: 0px 0px 14px 0px rgba(173,173,173,0.5);
	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
}

.uploader-holder em.fa-fix-upload {
	font-size: 60px;
	
}

.upload-list {
	background: rgba(202, 202, 202, 0.3);
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:10px;
	border: 1px solid rgba(195, 195, 195, 0.0);
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	transition: all 250ms linear;
	display:block;
}

.upload-list:hover {
	border: 1px solid rgba(195, 195, 195, 0.3);
	-webkit-transition: all 500ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}


.upload-list input, .upload-list button, .upload-list textarea, .upload-list select {
	     border-width: 1px;
}

.files_selector {
	position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
    width:100%;
    height:100%;
}

#upload_file_template{
	display:none;
}

.progress-upload {position: relative;overflow: visible;margin-bottom: 5px; background: rgba(245, 245, 245, 1); border: 2px solid rgb(214, 214, 214); border-radius: 4px; height: 10px;}
.progress-upload .progress-bar {background: rgba(40,53,61,0.9);
    height: 12px;
    position: absolute;
    top: -3px;
    border-radius: 4px;
    }

.uploader-progress-sub { font-size:14px; }
.uploader-progress-titles{ font-size: 18px;}

.abortprompt{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(86, 83, 83, 0.8);
	display:none;
}



/*	profile tab css */
.profile-content.tabcontent {
	display:none;
}



/* additional panel css rules for new interface (currently used in file-edit, srt_mngr */

.file-detail {
    padding: 10px 5px;
    background: rgba(255, 255, 255, 0.72);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

h3.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    text-align: center;
}

h4.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
}

.filedetail-thumb {
	float:left;
	border-radius:2px;
}

.wow {
	visibility: hidden;
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
    z-index:-1;
}


.panel-videomanager {
	border-radius: 0px !important;
    margin-bottom: 0px;
}

.panel-profile-icon{
	margin-top: -70px;
    margin-bottom: 5px;
}

.player_holder{
	height:480px;
}

#player_code{
	z-index: 10;
	margin:0px auto;
	width:75%;
	height: 100%;
}

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
    z-index: 1000;
}