@charset "shift_jis";

/* sd_font.css
====================================== */

/* base font
--------------------------------- */
body {
	color: #333;
	font-size: 10px;
	font-family: Arial, 'qMmpSPro W3', 'Hiragino Kaku Gothic Pro', 'CI', Meiryo, 'lr oSVbN', sans-serif;
	-webkit-text-size-adjust: 100%;
}

html,
input,
button,
select,
textarea {

}



/* link styles
--------------------------------- */
/* base links */
a:link {
	color: #0265cb;
	text-decoration: none;
}
a:visited {
	color: #6633cc;
	text-decoration: none;
}
a:hover {
	color: #0265cb;
	text-decoration: underline;
}
a:active{
	color: #0265cb;
	text-decoration: underline;
}


/* general styles
--------------------------------- */
/* fontsize */
.txtSmall {
	font-size: 84%;
}
.txtLarge {
 font-size: 110%;
}

/* font weight bold */
#headContainer #globalNavi ul li,
#headContainer #globalNavi ul li em,
.txtBold {
	font-weight: bold;
}
