@charset "shift_jis";

/* siteindex_pc.css
====================================== */
h1 span {
	display: block;
}

/* alert */
.jsAlert{font-weight:bold;}
/* alarm */
.alarm{margin:0 auto; width:970px;}
.alarm b,
.alarm font{display:block; margin-top:9px; padding:9px 10px; border:1px solid #cc0033; font-size:1.4em;}
.alarm font b,
.alarm b font{margin-top:0; padding:0; border:none; font-size:100%;}

.wrap {
	position: relative;
}
.forPC {
	display: block;
}
.forSMT {
	display: none;
}

#flashNews{
	display: none;
}

.on #headContainer {
	left:0 !important;
}

#drawerContainer {
	display: none;
}
#drawer {
	display: none;
}
#boxNotice {
	display: none;
}

#headContainer {
	border-top: solid 5px #112d8d;
	height: 116px;
	position: relative;
}
#leftWrapper {
	padding-top: 13px;
	float: left;
	position: absolute;
	top:0;
	left: 50%;
	margin-left: -485px;
}
#leftWrapper p {
	color: #747474;
	line-height: 2.6em;
	font-size: 1.1em;
}
#rightWrapper {
	padding-top: 17px;
	float: right;
	position: absolute;
	top:0;
	right: 50%;
	margin-right: -485px;
	width: 762px \9;/*IE8*/
}

#utilLink {
	float :left;
	padding-top: 15px;
}
#utilLink li {
	float: left;
	margin-left: 20px;
}
#utilLink li a {
	background: url(/common/images/com_ic001_3.png) 2px center no-repeat;
	background-size: auto 8px ;
	background: url(/common/images/com_ic001.gif) 2px center no-repeat \9;/*IE8*/
	font-size: 1.2em;
	padding-left: 1.0em;
}
/* siteSearch */
#siteSearch {
	float: left;
	margin:0 17px 0 12px;
}
#siteSearch {
	background-color: #bfbfbf;
	padding: 6px 7px;
	width: auto;
}
#siteSearch .searchBox {
	float: left;
}
#siteSearch .searchBtn {
	float: left;
}
#siteSearch .searchBtn input {
	background-color: #676767;
	border: none;
	color: #fff;
	line-height: 27px;
	height: 27px;
	width: 42px;
}
#siteSearch .searchBox input {
	background: #fff url(/common/images/com_ic025_2.png) 4px 50% no-repeat;
	background-size: 15px;
	background: #fff url(/common/images/com_ic025_3.gif) 4px 50% no-repeat \9; /*ie8*/
	border: none;
	color: #888;
	font-size: 13px;
	ime-mode: active;
	line-height: 25px;
	height: 25px;
	margin-right: 5px;
	padding: 2px 0 1px 25px;
	width: 122px;
}
#btnBA {
	float: left;
}
#btnBA a {
	background-color: #676767;
	border-radius: 5px;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	height: 34px;
	line-height:1.3em;
	text-align: center;
	padding-top: 6px;
	width: 120px;
}
#btnBA a span {
	font-size: 0.9em;
}

#globalNavi{
	position: absolute;
	top: 74px;
	left: 0;
}
#globalNavi {
	background-color: #1a3694;
	background-image: none;
	clear: both;
	width: 100%;
}
#globalNavi #menu02{
	display: none;
}
#globalNavi ul{
	clear: both;
	width: 970px;
	margin:0 auto;
}
#globalNavi ul li{
	color: #333;
	float:left;
	font-size: 1.5em;
	height: 42px;
	line-height: 42px;
	text-align: center;
	width: 124px;
}
#globalNavi ul li a{
	display: block;
	overflow: hidden;
	height: 42px;
	line-height: 42px;
	color: #fff;
	text-decoration:none;
}
#globalNavi ul li.navi01 {
	width: 68px;
}
#globalNavi ul li.navi02 {
	width: 84px;
	letter-spacing: 0.6em;
}
#globalNavi ul li.navi03 {
	width: 95px;
}
#globalNavi ul li.navi04 {
	width: 120px;
}
#globalNavi ul li.navi05 {
	width: 81px;
}
#globalNavi ul li.navi06 {
	width: 97px;
}
#globalNavi ul li.navi07 {
	width:81px;
}
#globalNavi ul li.navi08 {
	width:95px;
}
#globalNavi ul li.navi09 {
	width:139px;
	border-right:solid 1px #4c65b8;
}
#globalNavi ul li.navi10 {
	width:109px;
}
#globalNavi ul li.navi01 em{
	background-color: #f9f0c6;
	border-left:solid 1px #1A3694;
	color: #1a3694;
	display:block;
}
#globalNavi ul {
	background:none;
}
#globalNavi li a {
	background-color: #1a3694;
	border-left:solid 1px #4c65b8;
	color: #fff;
	display: block;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	text-decoration: none;
	width: auto;
}

/* hover */
#globalNavi a:hover {
	background-color: #f9f0c6;
	border-left:solid 1px #1A3694;
	color: #1a3694;
}

#topicPath {
	background-color: #f9f0c6;
	line-height: 28px;
}

#topWrapper {
	height: 385px;
}

/* limitedNews */
#topWrapper.on{
	height:450px;
}
#topWrapper.on #limitedNews{
	display:block;
}
#limitedNews{
	display:none;
	margin-bottom:10px;
	padding:10px;
	border:1px solid #da5455;
	font-size:1.4em;
}
/* limitedNews end*/

/* boxMainImage */
#boxMainImage {
	background-color: #e5e5e5;
	height: 330px;
	position:relative;
}
#boxMainImage #topBnr {
	position: relative;
}
#boxMainImage #topBnr li {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
}
#boxMainImage #topBnr li.on {
	display: block;
}
#boxMainImage #topBnr a {
	display: block;
	height: 330px;
	margin: 0 auto;
	width: 580px;
}
#boxMainImage img{
	display: block;
	margin: 0 auto;
}
#boxMainImage #toLeft,
#boxMainImage #toRight {
	display:none;
}
/* 3bnr */
#boxMainImage #topBnrNavi {
	margin-left: -60px;
	position:absolute;
	top: 300px;
	left: 50%;
	width:120px;
	z-index:10;
}
/* 4bnr */
/*#boxMainImage #topBnrNavi {
	margin-left: -60px;
	position:absolute;
	top: 300px;
	left: 48.5%;
	width:160px;
	z-index:10;
}*/
#boxMainImage #topBnrNavi li {
	background-color:#bfbfbf;
	float:left;
	height:8px;
	margin:0 1px;
	width:38px;
}
#boxMainImage #topBnrNavi li.on {
	background-color:#676767;
}


#boxMainImage .invisible {
	display: none;
}

/*bnr-rotation*/
#boatrace32{background-color: #000000;}
#bonus05{background: url(/bnr/bg_bonus05.png) repeat-x;}
#bonus06{background-color: #000000;}
#business02,#business03{background-color: #e2e9f5;}
#cardtype01{background: url(/bnr/bg_cardtype01.png);}
#compensation01,#compensation02{background-color: #ffe5c1;}
#debit87,#debit92{background-color: #eeeeee;}
#debit83{background-color: #e5e5e5;}
#debit90{background-color: #f3e6dd;}
#debit96{background-color: #fff45c;}
#debit97{background-color: #fffbc6;}
#fcd07{background: url(/bnr/bg_fcd07.jpg);}
#fcd09,#fcd11,#fcd12,#fcd14,#fcd15,#fcd17{background-color: #e5fbff;}
#fcd10{background-color: #ffffff;}
#fcd23{background-color:#47bdca;}
#fcd24{background-color:#f2d341;}
#firstjnb01{background-color:#ede2de;}
#ftcard01{background-color:#004098;}
#investment73{background-color: #4b4c4b;}
#investment76,#investment80,#investment82{background-color: #e5e5e5;}
#investment79{background-color: #f7f4e9;}
#investment81{background: url(/bnr/bg_investment81.gif) repeat-x;}
#investment86{background: url(/bnr/bg_investment86.gif) repeat-x;}
#investment87{background-color: #9ccd35;}
#investment89,#investment91{background-color: #0c0802;}
#investment90{background-color: #e2fe59;}
#investment92{background-color: #e4cdae;}
#investment94{background: url(/bnr/bg_investment94.jpg) repeat-x;}
#investment95{background-color: #7ecef4;}
#jnbfx45{background-color: #0669ce;}
#jnbfx46,#jnbfx47,#jnbfx49,#jnbfx50{background-color: #33ba18;}
#jnbfx52{background-color: #0568ce;}
#jnbfx54{background-color: #ffffff;}
#jnbfx61{background-color: #fdda00;}
#kouei12{background-color: #000000;}
#nc27,#nc32{background-color: #112d8e;}
#nc34{background-color: #fff100;}
#nc35{background-color: #ffff33;}
#nc38{background: #000443 url(/bnr/bg_nc38.png);}
#nc40{background: url(/bnr/bg_nc39.jpg);}
#num09{background-color: #ffb01b;}
#num11{background-color: #00a73c;}
#num12{background-color: #e62e8b;}
#num15{background-image: url(/bnr/bg_num15.png);background-size: contain;}
#otp01{background-color: #e9dac5;}
#smtapp01{background-color: #dcdcdc;}
#smtapp02{background-color: #f8eedd;}
#smtapp04{background-color: #eeeeee;}
#toto025{background-color: #000000;}
#toto077{background-color: #f08200;}
#toto079{background: url(/bnr/bg_toto079.png);}
#toto080{background: url(/bnr/bg_toto080.png);}
#yahoo10,#yahoo11,#yahoo13{background-color: #ffca22;}

/* boxEntrance */
#boxEntrance {
	background-color: #f4f4f4;
	border-top-left-radius: 4px;
	border-radius: 4px;
	margin-left: -485px;
	position: absolute;
	top:20px;
	left:50%;
	width: 208px;
}
#boxEntrance .wrap {
	padding: 15px 15px 8px;
}
#boxEntrance a {
	background: url(/common/images/com_ic001_3.png) 0 5px no-repeat;
	background-size: auto 8px ;
	background: url(/common/images/com_ic001.gif) 0 5px no-repeat \9;/*IE8*/
	color: #0265cb;
	display: block;
	font-size: 1.3em;
	line-height: 1.2em;
	margin-left: 10px;
	padding-left: 10px;
}
#boxEntrance a.forPC{
	display:block;
}
#boxEntrance a.forSMT{
	display:none;
}
#boxEntrance a.btn {
	background-image: none;
	border-radius: 4px;
	color: #fff;
	font-size: 2.5em;
	font-weight: bold;
	line-height: 40px;
	margin: 0 auto 5px;
	padding-left: 0;
	text-align: center;
}
#boxEntrance .fL {
	background-color: #1a3694;
	border-radius: 4px;
}
#boxEntrance .fR {
	background-color: #f4f4f4;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#boxEntrance a.account {
	background-color:#4fc4f6;
}
#boxEntrance a.login{
	background-color:#dab656;
	line-height: 60px;
}
#boxEntrance a.beginner {
	background: url(/topimages/sdindex_ic001.png) 0 center no-repeat;
	color: #fff;
	line-height:1.8em;
	padding-left: 20px;
	text-align: left;
}
#boxEntrance a.mt70 {
	margin-top: 56px;
	text-align:center;
	display:inline-block;
	margin-left:25px;
}

#boxEntrance #directLogin {
	position: absolute;
	top: 85px;
	left: 0;
	padding: 0 15px;
}
#boxEntrance #directLogin a {
	background-color: #676767;
	background-image: none;
	border-radius: 3px;
	color: #fff;
	float: left;
	font-size: 1.2em;
	height: 33px;
	min-height: 33px;
	margin: 0 10px 0 0;
	padding: 7px 0 0 0;
	text-align: center;
}
#boxEntrance #directLogin a span {
	display: block;
	font-size: 0.9em;
	letter-spacing: normal;
}
#boxEntrance #directLogin a.lottery {
	width: 52px;
}
#boxEntrance #directLogin a.toto {
	width: 52px;
	letter-spacing: 0.2em;
}
#boxEntrance #directLogin a.fx {
	margin-right: 0;
	width: 52px;
	letter-spacing: 0.3em;
}

/* infoTip */
#infoTip{
	display:none;
	position: absolute;
	left: 208px;
	top: 0;
	z-index: 11;
}
#infoTip.on{
	display:block;
}
#infoTip a{
	background:none;
	padding-left:0;
	margin-left:0;
}

/* boxAnnouncement */
#boxAnnouncement {
	margin-left: -485px;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 970px;
}
#boxAnnouncement dt {
	background: #da5455 url(/topimages/sdindex_ic002.png) 8px center no-repeat;
	color: #fff;
	float:left;
	line-height: 35px;
	font-size: 1.4em;
	font-weight: bold;
	padding-left: 35px;
	width: 115px;
}
#boxAnnouncement dd {
	border: solid 1px #da5455;
	border-left: none;
	float:left;
	font-size: 1.3em;
	width: 819px;
}
#boxAnnouncement dd p {
	border-left:solid 1px #da5455;
	display: inline-block;
	line-height: 33px;
	padding: 0 15px;
	width:370px;
	/*ie7*/
	*display: inline;
	*zoom: 1;
}

/* boxCategoryLink */
#boxCategoryLink {
	position: absolute;
	top:20px;
	right:50%;
	margin-right: -485px;
	padding: 0;
	width: 210px;
}
#boxCategoryLink ul {
	float: left;
}
#boxCategoryLink li {
	background: url(/topimages/sdindex_bg001.png) 0 0 repeat;
	border-radius: 3px;
	line-height: 1.0em;
	margin: 0 0 10px 0;
	min-height: 68px;
	text-align: center;
	width: 100px;
}
#boxCategoryLink li a {
	color: #535353;
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	min-height: 65px;
	padding: 8px 0 0;
}
#boxCategoryLink li span {
	background: url(/topimages/sdindex_img001.png) 0 0 no-repeat;
	background-size: 86px auto;
	background: url(/topimages/sdindex_img001_ie8.png) 0 0 repeat \9; /*ie8*/
	display: block;
	height: 39px;
	margin:0 auto 6px;
	width: 43px;
}
#boxCategoryLink li.c01,
#boxCategoryLink li.c02,
#boxCategoryLink li.c03 {
	margin-right: 10px;
}
#boxCategoryLink li.c07 {
	margin-bottom: 10px;
	width: 210px;
	min-height: 0;
}
#boxCategoryLink li.c07 a {
	min-height: 0;
	line-height: 41px;
	padding: 0;
}
#boxCategoryLink li.c02 span {
	background-position: 0 -39px;
}
#boxCategoryLink li.c03 span {
	background-position: 0 -78px;
}
#boxCategoryLink li.c04 span {
	background-position: -43px 0;
}
#boxCategoryLink li.c05 span {
	background-position: -43px -39px;
}
#boxCategoryLink li.c06 span {
	background-position: -43px -78px;
}


#midWrapper {
	height: 558px;
	margin: 20px auto 0;
	position: relative;
	width: 970px;
}

/* #boxInformation */
#boxInformation {
	width: 472px;
	position: absolute;
	top: 80px;
	left: 238px;
}
#boxInformation #infoTab {
	border-bottom:solid 4px #1a3795;
}
#boxInformation #infoTab li {
	background-color: #e5e5e5;
	color: #0265cb;
	cursor: pointer;
	float: left;
	font-size: 1.3em;
	font-weight:bold;
	line-height: 38px;
	margin-right: 4px;
	text-align: center;
	width: 153px;
}
#boxInformation #infoTab li.on {
	background-color: #1a3795;
	color: #fff;
}
#listCampaign {
	display: none;
}
#listMaintenance {
	display: none;
}
#boxInformation dt {
	border-bottom: dotted 1px #b3b3b3;
	float: left;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-top: 10px;
	min-height: 49px;
}
#boxInformation dt span {
	background-color: #c7c7c7;
	font-size: 0.9em;
	display: inline-block;
	letter-spacing: 0.1em;
	line-height: 1.4em;
	margin: 0 0.5em;
	text-align: center;
	width: 60px;
}
#boxInformation dt.im span {
	background-color: #da5455;
	color: #fff;
	letter-spacing:0.5em;
}
#boxInformation dt.fcd span {
	background-color: #01b8cd;
	color: #fff;
}
#boxInformation dt.fx span {
	background-color: #0669ce;
	color: #fff;
}
#boxInformation dt.trust span {
	background-color: #81bd22;
	color: #fff;
}
#boxInformation dt.cardless span {
	background-color: #ffa20c;
}
#boxInformation dt.loan span {
	background-color: #dddf12;
}
#boxInformation dt.toto span {
	background-color: #da3f2f;
	color: #fff;
}
#boxInformation dt.lottery span {
	background-color: #ffd926;
}
#boxInformation dt.kouei span {
	background-color: #464646;
	color: #fff;
}
#boxInformation dt.spt span {
	background-color: #6bbbff;
}
#boxInformation dt.ba span {
	background-color: #0a83ca;
	color: #fff;
}
#boxInformation dt.service span {
	background-color: #3c5a98;
	color: #fff;
}
#boxInformation dt.bonus span {
	background-color: #1d6db9;
	color: #fff;
}
#boxInformation #listNews dt{
	margin-top: 8px;
}
#boxInformation dd {
	border-bottom: dotted 1px #b3b3b3;
	float:left;
	margin: 10px 0 0 0;
	padding:0 0 0 30px;
	width: 275px;
	min-height: 49px;
}
#boxInformation #listNews dd{
	margin-top: 8px;
}
#boxInformation #listCampaign dd {
	width: 370px;
}
#boxInformation dd a {
	color: #0265cb;
	display: block;
	font-size:1.3em;
	line-height: 1.2em;
}
#toSNS,
#toApp {
	float: left;
	margin: 10px 0;
}
#toApp {
	margin-left: 10px;
}
#toSNS a,
#toApp a {
	display: inline-block;
	vertical-align:middle;
}
#toApp a.appLink {
	font-size:1.2em;
	margin-left:10px;
}
#toInfoList {
	background-color: #f5f3f4;
	border:solid 1px #ccc;
	float: right;
	line-height: 25px;
	margin: 10px 5px 10px 0;
	width: 101px; 
}
#toInfoList a {
	display: block;
	font-size: 1.3em;
	text-align: center;
}
#toCpList {
	background-color: #f5f3f4;
	border:solid 1px #ccc;
	display: none;
	float: right;
	line-height: 25px;
	margin: 10px 5px 10px 0;
	width: 180px; 
}
#toCpList a {
	display: block;
	font-size: 1.3em;
	text-align: center;
}
p.MaintenanceNone{
	display: none;
	font-size: 1.3em;
	line-height: 1.2;
	margin-top: 10px;
}

/* #boxHelpNavi */
#boxHelpNavi {
	position: absolute;
	top: 0;
	right: 0;
	width: 228px;
	border: solid 1px #ccc; 
}

/* #boxRecommend */
#boxRecommend {
	width: 230px;
	position: absolute;
	top: 80px;
	right: 0;
}
#boxRecommend .ttl{
	background-color:#1a3795;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 8px;
	padding-left: 0.5em;
}
#boxRecommend dt {
	color: #fff;
	font-size: 1.3em;
	line-height: 20px;
	text-align: center;
	width: 80px;
}
#boxRecommend dd a{
	color: #343434;
	display: block;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1.1em;
	min-height: 70px;
	padding: 5px 10px 10px 90px;
	position: relative;
}
#boxRecommend dd a span {
	display: block;
	font-size: 0.8em;
	font-weight: normal;
	line-height: 1.1em;
	margin-top: 0.5em;
}
#boxRecommend dd a img {
	position: absolute;
	top: 15px;
	left: 14px;
}
#boxRecommend .trust {
	background-color:#f1ffcb;
}
#boxRecommend .trust dt {
	background-color:#81bd22;
}
#boxRecommend .support {
	background-color:#e2f4ff;
}
#boxRecommend .support dt {
	background-color:#6bbbff;
}
#boxRecommend .toto {
	background-color:#ffe3e0;
}
#boxRecommend .toto dt {
	background-color:#da3f2f;
}
#boxRecommend .ba {
	background-color:#d5efff;
}
#boxRecommend .ba dt {
	background-color:#0a83ca;
}
#boxRecommend .other {
	background-color:#e2e8fb;
}
#boxRecommend .other dt {
	background-color:#3c5a98;
}
#boxRecommend .fx {
	background-color:#cbe5ff;
}
#boxRecommend .fx dt {
	background-color:#0669ce;
}
#boxRecommend .cardless {
	background-color:#ffe1b1;
}
#boxRecommend .cardless dt {
	background-color:#ffa20c;
}
#boxRecommend .loan {
	background-color:#f9fcc7;
}
#boxRecommend .loan dt {
	background-color:#dddf12;
	color:#000000;
}
#boxRecommend .lottery {
	background-color:#fff3bb;
}
#boxRecommend .lottery dt {
	background-color:#ffd926;
	color:#000000;
}
#boxRecommend .kouei {
	background-color:#d0d0d0;
}
#boxRecommend .kouei dt {
	background-color:#464646;
}
#boxRecommend .fcd {
	background-color:#c4f6fc;
}
#boxRecommend .fcd dt {
	background-color:#01b8cd;
}
#boxRecommend .card {
	background-color:#d0ffde;
}
#boxRecommend .card dt {
	background-color:#2db47f;
}
/* 151001 add */
#boxRecommend dd a{
	padding:24px 9px 9px 89px;
	color:#0265cb;
}
#boxRecommend dd a span{
	color:#333;
}
#boxRecommend dd a img{
	top:35px;
}
#midWrapper #boxRecommend dl{
	background-color:#fff;
	border:solid 1px #ccc;
	border-top:none;
}
#midWrapper #boxRecommend dl:first-of-type{
	border-top:solid 1px #ccc;
}
#midWrapper #boxRecommend dd{
	margin-top:-20px;
}

/* #boxPR1 */
#boxPR1{
	background-color: #eee;
	min-height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	width: 710px;
}
#boxPR1 .ttl {
	display:none;
}
#boxPR1 a {
	display: block;
	font-size: 1.3em;
	line-height: 1.3em;
	padding: 15px 10px 0 238px;
	position: relative;
}
#boxPR1 span {
	background: #b3d465 url(/common/images/com_bg013.png) 0 0 repeat;
	height:60px;
	position: absolute;
	top: 0;
	left: 0;
	width:208px;
}
#boxPR1 span img{

}

/* #boxPR2 */
#boxPR2 {
	position: absolute;
	top: 80px;
	left: 0;
	width: 208px;
}
#boxPR2 p {
	border: solid 1px #ccc;
	border-top: none;
	min-height: 104px;
}
#boxPR2 p.first{
	border-top: solid 1px #ccc;
}
#boxPR2 a {
	display: block;
	color: #0265cb;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.3em;
	min-height:87px;
	padding: 7px 7px 10px 12px;
	position: relative;
}
#boxPR2 a span {
	color: #333;
	display: block;
	font-size: 0.8em;
	font-weight: normal;
	margin:16px 0 0 65px;
}
#boxPR2 a span.bnr {
	background: #b3d465 url(/common/images/com_bg013.png) 0 0 repeat;
	margin: 0;
	position: absolute;
	top: 37px;
	left: 12px;
}
#boxPR2 a img {
	background-color: #fff;
	width: 50px;
	height: 50px;
}
#boxPR2 .ttl {
	background-color: #1a3795;
	border: none;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 8px;
	min-height: 30px;
	padding-left: 0.5em;
}

#btmWrapper {
	background-color: #f5f5f5;
	position: relative;
}
#boxLink {
	width: 970px;
	margin: 20px auto 0;
	padding: 20px 0 0 0;
}

#boxLink dl{
	float: left;
	margin: 0 30px 10px 0;
	width: 220px;
}
#boxLink dt{
	background-color: #c7c7c7;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: center;
	width: 220px;
}
#boxLink li {
	overflow: hidden;
	padding: 8px 0 7px;
}
#boxLink li.narrow{
	letter-spacing: -0.1em;
}
#boxLink li a{
	color: #0066ca;
	font-size: 1.2em;
}
#boxLink li a span{
	font-size: 0.8em;
}
#boxLink li a.ic_popupLink{
	background: url(/common/images/com_ic009_3.png) 0 0.5em no-repeat;
	background-size: auto 15px;
	padding:0.5em 0 0.5em 1.6em;
	margin-left:5px;
}

#boxLink dl.row1{
min-height: 45em;
}
#boxLink dl.row2{
}
#boxLink dl.last{
	margin-right: 0;
}

#boxNotice {
	display: none;
}

/* toPageTop */
#toPageTop {
	background-color: rgba(0, 0, 0, 0.25);
	background: url(/common/images/com_bg010.png) 0 0 no-repeat \9; /*ie8*/
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	bottom: 130px;
	display: none;
	position: fixed;
	right: 0;
}
#toPageTop a {
	display: block;
	padding:19px 17px;
}
/* footer */
#footContainer {
	background-color: #1a3795;
	color: #fff;
	padding-bottom: 10px;
}
#footContainer .wrap {
	margin: 0 auto;
	padding: 10px 0 0 0;
	width: 970px;
}
#footContainer .row2 {
	margin-left: 100px;
}
#footContainer li {
	float: left;
	line-height: 25px;
}
#footContainer li br{
	display: none;
}
#footContainer a {
	color: #fff;
	font-size: 1.3em;
	padding: 0 10px;
}
#footContainer ul a {
	border-right: solid 1px #fff;
	white-space:nowrap;
}
#footContainer li.last a{
	border-right: none;
}

#toSitemap {
	background-color: #fff;
	border:solid 1px #ccc;
	clear: both;
	float: right;
	line-height: 25px;
	margin: 20px 0;
	width: 101px; 
}
#toSitemap a {
	display: block;
	font-size: 1.3em;
	text-align: center;
}

#footContainer p {
	border-top: solid 1px #132c7e;
	clear :both;
	font-size: 1.3em;
	line-height: 1.2em;
	letter-spacing:0.01em;
	margin-top: 5px;
	padding-top: 20px;
	text-align: center;
}
#footContainer p.copyright {
	border-top: none;
	margin-top: 10px;
	padding-top: 0;
}
#footContainer br {
	display: none;
}

/* guidance */
.guidance {
	display:block;
	overflow:hidden;
	position:absolute;
	width:1px;
	height:1px;
	top:0;
	left:0;
	margin:0;
	padding:0;
}
/* clearfix */
#headContainer,
#utilLink,
#globalNavi ul,
#boxEntrance #directLogin,
#boxMainImage #topBnrNavi,
#boxAnnouncement dl,
#boxCategoryLink,
#infoTab,
#listNews,
#listNews dl,
#boxLink,
#footContainer,
#footContainer ul {
	/zoom:1;
}

#headContainer:after,
#utilLink:after,
#globalNavi ul:after,
#boxEntrance #directLogin:after,
#boxMainImage #topBnrNavi:after,
#boxAnnouncement dl:after,
#boxCategoryLink:after,
#infoTab:after,
#listNews:after,
#listNews dl:after,
#boxLink:after,
#footContainer ul:after,
#footContainer:after {
	content:'';
	display:block;
	clear:both;
}
