@charset "shift_jis";

/* 	siteindex_smt.css
====================================== */
body {
	background-color: #3e3e3e;
}
a {
	text-decoration: none;
}
h1 {
	float: left;
}
h1 span {
	display: block;
	padding: 8px 0 10px;
}
h1 img {
	height: 25px;
	width: 137px;
}
.wrap {
	width: 100%;
}
.forPC {
	display: none;
}
.forSMT {
	display: block;
}
.ic_faqLink,
.ic_helpLink {
	background: url(/common/images/com_ic006_3.png) 0 0.5em no-repeat;
	background-size: auto 50%;
	padding:0.5em 0 0.5em 1.6em;
}
.ic_helpLink{
	background: url(/topimages/sdindex_ic006.png) 0 0.5em no-repeat;
	background-size: auto 50%;
}
#headBox,
#leftWrapper p,
#rightWrapper,
#globalNavi {
	display: none;
}

#flashNews{
	display: none;
}
/* alert */
.jsAlert{font-weight:bold;}
/* alarm */
.alarm{margin:0 auto; width:100%;}
.alarm b,
.alarm font{display:block; margin-top:9px; padding:9px 10px; border:1px solid #cc0033; font-size:1.3em;}
.alarm font b,
.alarm b font{border:none; margin-top:0; padding:0; font-size:100%;}

/* drawer open */
.on #pageContainer {
	left: 240px !important;
	position: fixed !important;
}
.on #headContainer {
	left: 240px !important;
}
.on #sideAreaCL {
	display: block;
}
.on #drawerContainer {
	display: block;
}

#drawerContainer {
	background-color: #3e3e3e;
	display: none;
	position: static;
	width: 240px;
	z-index: 0;
}
#drawerContainer .siteSearch .searchBox input {
	background: #fff url(/common/images/com_ic025_2.png) 4px 50% no-repeat;
	background-size: 16px;
	border: none;
	border-radius: 3px;
	font-size: 1.4em;
	height: 30px;
	line-height: 30px;
	padding-left: 25px;
	width: 185px;
}
#drawerContainer .siteSearch {
	background-color: #3e3e3e;
	border-bottom: solid 1px #303030;
	padding: 10px 12px 9px;
}
#drawerContainer dl {
	background-color: #5a5a5a;
}
#drawerContainer .ttl {
	background-color: #333;
	border-top: solid 1px #646464;
	border-bottom: solid 1px #303030;
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 39px;
	text-indent: 1.0em;
}
#drawerContainer .ttl a {
	color: #fff;
	display: block;
}
#drawerContainer .hideTtl {
	height: 0;
	border-top: none;
}
#drawerContainer dd {
	background-color: #494848;
	border-bottom: solid 1px #303030;
	color: #fff;
	font-size: 1.4em;
	line-height: 44px;
	margin-bottom: 1px;
	text-indent: 1.0em;
}
#drawerContainer dl dd:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}
#drawerContainer dd a {
	color: #fff;
	display: block;
}
#drawerContainer dd a .new{
	margin-left: 1em;
	padding: 2px;
	background-color: #FF0000;
	font-size: 0.8em;
}
#drawerContainer .sideNavi .forTB{
	display:none;
}
#drawerContainer .sideNavi .forSMT{
	display:block;
}

#pageContainer {
	background-color: #fff;
	position: absolute;
	top: 48px;
	left: 0;
	width: 100%;
	z-index: 999;
}
#headContainer {
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	border-bottom: solid 3px #dedede;
}
#drawer	{
	float: left;
}
#drawer	a {
	display: block;
	padding: 10px 12px 10px 5px;
}

#topicPath {
	display: none;
}

/* boxMainImage */
#boxMainImage {
	position:relative;
}
#boxMainImage #topBnr li {
	display: none;
}
#boxMainImage #topBnr li.on {
	display: block;
}
#boxMainImage img{
	height: auto;
	width: 100%;
}
#boxMainImage #toLeft {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top:-21px;
}
#boxMainImage #toRight {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top:-21px;
}
#boxMainImage #toLeft img,
#boxMainImage #toRight img {
	width:40px;
}
#boxMainImage #topBnrNavi {
	margin:-20px auto 6px;
	position:relative;
	width:120px;
	z-index:10;
}
#boxMainImage #topBnrNavi li {
	background-color:#bfbfbf;
	float:left;
	margin:0 1px;
	width:38px;
	height:8px;
}
#boxMainImage #topBnrNavi li.on {
	background-color:#676767;
}
#boxMainImage #topBnrNavi img{
	height: auto;
	width: 100%;
}

#boxMainImage .invisible {
	display: none;
}

/* boxEntrance */
#boxEntrance {
	padding: 20px 0 15px;
}
#boxEntrance .wrap {
	width: 50%;
}
#boxEntrance a {
	color: #0265cb;
	display: block;
	font-size: 1.3em;
	line-height: 1.2em;
	text-align: center;
}
#boxEntrance a.forPC{
	display:none;
}
#boxEntrance a.forSMT{
	display:block;
}
#boxEntrance a.btn {
	border-radius: 2px;
	color: #fff;
	font-size: 2.0em;
	font-weight: bold;
	line-height: 49px;
	margin: 0 auto 5px;
	width: 90%;
}
#boxEntrance .fL {
	float: left;
}
#boxEntrance .fR {
	float: right;
}
#boxEntrance .centerLine {
	border-right:solid 1px #dce4e5;
}
#boxEntrance .account {
	background-color:#4fc4f6;
}
#boxEntrance .login{
	background-color:#dab656;
}

#boxEntrance .boxBusiness{
	clear:both;
	padding-top: 5px;
}
#boxEntrance .boxBusiness .icBusiness a{
	background: url(/common/images/com_ic063.png) no-repeat left 3px;
	background-size: 15px auto;
	padding: 5px 0;
	width: 241px;
	margin: 0 auto;
	text-align: right;
}

#boxEntrance #directLogin,
#boxEntrance #directLogin02 {
	clear: both;
	padding: 10px 2% 0 3%;
}
#boxEntrance #directLogin02{
	padding-right:3%;
}
#boxEntrance #directLogin a,
#boxEntrance #directLogin02 a {
	background-color: #676767;
	border-radius: 2px;
	color: #fff;
	float: left;
	font-size: 1.7em;
	line-height: 35px;
	width: 31%;
}
#boxEntrance #directLogin a.lottery {
	margin-right: 3%;
}
#boxEntrance #directLogin a.toto {
	margin-right: 3%;
}
#boxEntrance #directLogin02 a.loan{
	float:none;
	width:100%;
}

#boxEntrance .beginnerLink {
	margin-top:15px;
}
#boxEntrance .beginnerLink tr {
	border-top: 1px solid #dce4e5;
}
#boxEntrance .beginnerLink td {
	border-bottom: 1px solid #dce4e5;
}
#boxEntrance .beginnerLink td a{
	padding:8px 0;
}
#boxEntrance .beginnerLink td.firstLogin a{
	padding:10px 0;
}
#boxEntrance .beginnerLink td.bdrR {
	border-right: 1px solid #dce4e5;
}
#boxEntrance .beginnerLink .beginner {
	text-align:center;
	background:none;
	margin-left:0;
	padding-left:0;
}
#boxEntrance .beginnerLink .beginner img {
	padding-right:8px;
	vertical-align:middle;
}

/* infoTip */
#infoTip{
	display:none;
}

/* limitedNews */
#topWrapper.on #limitedNews{
	display:block;
}
#limitedNews{
	display:none;
	margin-bottom:10px;
	padding:10px;
	border-top:1px solid #da5455;
	border-bottom:1px solid #da5455;
	font-size:1.4em;
}
/* limitedNews end*/

/* boxAnnouncement */
#boxAnnouncement dt,
#boxAnnouncement dd{
	float: none;
	padding: 0;
}
#boxAnnouncement dt {
	background: #da5455 url(/topimages/sdindex_ic002.png) 8px center no-repeat;
	color: #fff;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 30px;
	padding-left: 35px;
}
#boxAnnouncement dd {
	font-size: 1.3em;
	line-height: 1.2em;
}
#boxAnnouncement dd p{
	padding: 0;
	margin : 0 4px;
}
#boxAnnouncement dd >p:first-child{
	border-bottom: 1px solid #da5455;
}
#boxAnnouncement dd p a{
	display: block;
	padding: 2%;
	line-height: normal;
}

/* boxCategoryLink */
#boxCategoryLink {
	background-color: #e5e5e5;
	margin: 10px 0 10px;
	padding: 10px 0 1px;
}
#boxCategoryLink ul {
	margin: 0 auto 10px;
	padding: 0 1.5%;
}
#boxCategoryLink li {
	background: url(/topimages/sdindex_bg001.png) 0 0 repeat;
	border-radius: 7px;
	float: left;
	line-height: 1.0em;
	margin: 0 2% 0 0;
	min-height: 75px;
	text-align: center;
	width: 32%;
}
#boxCategoryLink li:nth-of-type(3n) {
	margin-right: 0;	
}
#boxCategoryLink ul:last-of-type li {
	line-height: 33px;
	min-height: 33px;
	width: 100%;
}
#boxCategoryLink ul:last-of-type li a {
	min-height: 0;
	padding: 0;
}
#boxCategoryLink li a {
	color: #535353;
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	min-height: 66px;
	padding: 9px 0 0;
}
#boxCategoryLink li span {
	background: url(/topimages/sdindex_img001.png) 0 0 no-repeat;
	background-size: 86px auto;
	display: block;
	height: 39px;
	margin:0 auto 6px;
	width: 43px;
}
#boxCategoryLink li.c02 span {
	background-position: 0 -39px;
}
#boxCategoryLink li.c03 span {
	background-position: 0 -78px;
}
#boxCategoryLink li.c04 span {
	background-position: -43px 0;
}
#boxCategoryLink li.c05 span {
	background-position: -43px -39px;
}
#boxCategoryLink li.c06 span {
	background-position: -43px -78px;
}

/* #boxInformation */
#boxInformation #infoTab {
	border-bottom:solid 4px #1a3795;
}
#boxInformation #infoTab li {
	background-color: #f1f2ec;
	color: #0265cb;
	cursor: pointer;
	float: left;
	font-size: 1.3em;
	font-weight:bold;
	line-height: 42px;
	margin-right: 1%;
	text-align: center;
	width:33%;
}
#boxInformation #infoTab li:first-of-type {
	width:32%;
}
#boxInformation #infoTab li:last-of-type {
	margin-right: 0;
}
#boxInformation #infoTab li.on {
	background-color: #1a3795;
	color: #fff;
}
#boxInformation #listNews {
	padding: 0 5px;
}
#listCampaign {
	display: none;
	padding: 0 5px;
}
#listMaintenance {
	display: none;
	padding: 0 5px;
}
#boxInformation dt {
	font-size: 1.1em;
	line-height: 1.5em;
	margin-top: 10px;
}
#boxInformation dt span {
	background-color: #c7c7c7;
	display:inline-block;
	font-size: 1.0em;
	line-height: 1.4em;
	margin: 0 0.5em;
	text-align: center;
	width: 60px;
}
#boxInformation dt.im span {
	background-color: #da5455;
	color: #fff;
}

#boxInformation dt.fcd span {
	background-color: #01b8cd;
	color: #fff;
}
#boxInformation dt.fx span {
	background-color: #0669ce;
	color: #fff;
}
#boxInformation dt.trust span {
	background-color: #81bd22;
	color: #fff;
}
#boxInformation dt.cardless span {
	background-color: #ffa20c;
}
#boxInformation dt.loan span {
	background-color: #dddf12;
}
#boxInformation dt.toto span {
	background-color: #da3f2f;
	color: #fff;
}
#boxInformation dt.lottery span {
	background-color: #ffd926;
}
#boxInformation dt.kouei span {
	background-color: #464646;
	color: #fff;
}
#boxInformation dt.spt span {
	background-color: #6bbbff;
}
#boxInformation dt.ba span {
	background-color: #0a83ca;
	color: #fff;
}
#boxInformation dt.service span {
	background-color: #3c5a98;
	color: #fff;
}
#boxInformation dt.bonus span {
	background-color: #1d6db9;
	color: #fff;
}

#boxInformation dd {
	border-bottom: dotted 1px #b3b3b3;
	margin-top: 5px;
	padding-bottom: 8px;
}
#boxInformation dd a {
	color: #0265cb;
	display: block;
	font-size:1.4em;
	line-height: 1.2em;
}
#toSNS,
#toApp {
	float: left;
	margin: 10px 0 10px 5px;
}
#toApp {
	margin-left: 10px;
}
#toSNS a,
#toApp a {
	display: inline-block;
	vertical-align:top;
}
#toApp a.appLink {
	font-size:1.2em;
	margin-left:10px;
}
#toInfoList	{
	background-color: #f5f3f4;
	border:solid 1px #ccc;
	float: right;
	line-height: 25px;
	margin: 10px 5px 10px 0;
	width: 101px; 
}
#toInfoList	a {
	display: block;
	font-size: 1.3em;
	text-align: center;
}
#toCpList {
	background-color: #f5f3f4;
	border:solid 1px #ccc;
	display: none;
	float: right;
	line-height: 25px;
	margin: 10px 5px 10px 0;
	width: 180px; 
}
#toCpList a {
	display: block;
	font-size: 1.3em;
	text-align: center;
}
p.MaintenanceNone{
	display: none;
	font-size: 1.4em;
	line-height: 1.2;
	margin-top: 10px;
	padding: 0 5px;
}

/* #boxHelpNavi */
#boxHelpNavi {
	border: solid 1px #cccccc;
	text-align: center;
}
#boxHelpNavi a {
	display: block;
}
#boxHelpNavi2 dt {
	background-color:#1a3795;
	color: #fff;
	font-size: 1.5em;
	line-height: 30px;
	padding: 0 0.5em;
}
#boxHelpNavi2 a {
	display: block;
	padding: 20px 0;
	text-align: center;
}

/* #boxRecommend */
#boxRecommend .ttl{
	background-color:#1a3795;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 30px;
	padding-left: 0.5em;
}
#boxRecommend dl {
	float: left;
	width: 50%;
	min-height:95px;
	max-height:95px;
}
#boxRecommend dt {
	color: #fff;
	font-size: 1.3em;
	line-height: 20px;
	text-align: center;
	width: 45%;
}
#boxRecommend dd a{
	color: #343434;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.1em;
	text-align: center;
	padding: 0.5em 0.2em;
}
#boxRecommend dd.s a {
	line-height: 2.15em;	
}
#boxRecommend dd a span {
	display: block;
	font-size: 0.7em;
	font-weight: normal;
	line-height: 1.1em;
	margin-top: 0.5em;
}
#boxRecommend dd a img {
	display: none;
}
#boxRecommend .trust {
	background-color:#f1ffcb;
}
#boxRecommend .trust dt {
	background-color:#81bd22;
}
#boxRecommend .support {
	background-color:#e2f4ff;
}
#boxRecommend .support dt {
	background-color:#6bbbff;
}
#boxRecommend .toto {
	background-color:#ffe3e0;
}
#boxRecommend .toto dt {
	background-color:#da3f2f;
}
#boxRecommend .ba {
	background-color:#d5efff;
}
#boxRecommend .ba dt {
	background-color:#0a83ca;
}
#boxRecommend .other {
	background-color:#e2e8fb;
}
#boxRecommend .other dt {
	background-color:#3c5a98;
}
#boxRecommend .fx {
	background-color:#cbe5ff;
}
#boxRecommend .fx dt {
	background-color:#0669ce;
}
#boxRecommend .cardless {
	background-color:#ffe1b1;
}
#boxRecommend .cardless dt {
	background-color:#ffa20c;
}
#boxRecommend .loan {
	background-color:#f9fcc7;
}
#boxRecommend .loan dt {
	background-color:#dddf12;
	color:#000000;
}
#boxRecommend .lottery {
	background-color:#fff3bb;
}
#boxRecommend .lottery dt {
	background-color:#ffd926;
	color:#000000;
}
#boxRecommend .kouei {
	background-color:#d0d0d0;
}
#boxRecommend .kouei dt {
	background-color:#464646;
}
#boxRecommend .fcd {
	background-color:#c4f6fc;
}
#boxRecommend .fcd dt {
	background-color:#01b8cd;
}
#boxRecommend .card {
	background-color:#d0ffde;
}
#boxRecommend .card dt {
	background-color:#2db47f;
}
/* 151001 add */
#midWrapper #boxRecommend dl{
	background-color:#fff;
	box-shadow:-1px -1px 0px 0 rgba(0,0,0,0.3) inset;
}
#midWrapper #boxRecommend dd{
	margin-top:-20px;
}
#boxRecommend dd a{
	padding:1.9em 0.2em 0.5em;
	color: #0265cb;
}	
#boxRecommend dd.s a{
	padding:1.5em 0.2em 0.8em;
}
#boxRecommend dd a span{
	color:#333;
}

/* #boxPR1 */
#boxPR1 {
	width: 100%;
}
#boxPR1 .ttl {
	background-color: #1a3795;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 30px;
	padding-left: 0.5em;
}
#boxPR1 a {
	border-bottom: solid 1px #ccc;
	display: block;
	font-size: 1.3em;
	line-height: 1.4em;
	min-height: 95px;
	padding: 10px 10px 10px 125px;
	position: relative;
}
#boxPR1 span {
	background: #b3d465 url(/common/images/com_bg013.png) 0 0 repeat;
	height:95px;
	left: 7px;
	position: absolute;
	top: 10px;
	width:95px;
}
#boxPR1 span img{
	width:100%;
	height:auto;
}
/* #boxPR2 */
#boxPR2 .ttl {
	display:none;
}
#boxPR2 p {
	border-bottom: solid 1px #ccc;
	min-height: 70px;
}
#boxPR2 a {
	display: block;
	color: #0265cb;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.3em;
	padding: 15px 0 10px 75px;
	position: relative;
}
#boxPR2 a span {
	color: #333;
	font-size: 0.7em;
	font-weight: normal;
}
#boxPR2 a span.bnr {
	background: #b3d465 url(/common/images/com_bg013.png) 0 0 repeat;
	position: absolute;
	top: 10px;
	left: 7px;
}
#boxPR2 a img {
	background-color: #fff;
	height: 50px;
	width: 50px;
}

#boxLink {
	display: none;
}
#boxNotice {
	padding: 15px 0;
}
#boxNotice .code,
#boxNotice .help {
	font-size:1.3em;
	line-height: 2.0em;
	text-align: center;
}

/* #toPageTop */
#toPageTop {
	border-radius: 24px;
	background: url(/common/images/com_ic008_3.png) 50% 50% no-repeat;
	background-size: 15px auto;
	background-color: rgba(0, 0, 0, 0.25);
	display: none;
	margin-left: -24px;
	position: fixed;
	left: 50%;
	top: 100px;
}
#toPageTop a {
	display: block;
}
#toPageTop img {
	border-radius: 20px;
	height: 50px;
	visibility: hidden;
	width: 50px;
}

/* footer */
#footContainer {
	background-color: #1a3795;
	color: #fff;
	padding-bottom: 10px;
}
#footContainer ul {
	float: left;
	width: 50%;
}
#footContainer li {
	border-bottom: solid 1px #fff;
	min-height: 40px;
}
#footContainer a {
	color: #fff;
	display: block;
	font-size: 1.3em;
	line-height: 40px;
	min-height: 40px;
	padding: 0 0.5em;
}
#footContainer ul:first-of-type a {
	border-right: solid 1px #fff;
}
#footContainer a span {
	display: block;
	line-height: 1.1em;
	padding-top: 5px;
}
#footContainer p {
	clear :both;
	font-size: 0.9em;
	letter-spacing: 0.01em;
	line-height: 1.2em;
	margin-top: 10px;
	text-align: center;
}

/* guidance */
.guidance {
	display:block;
	height:1px;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	width:1px;
	color:#fff;
}
.guidance a{
	color:#fff;
}

/* clearfix */
#headContainer,
#boxEntrance,
#boxEntrance #directLogin,
#boxCategoryLink ul,
#boxMainImage #topBnrNavi,
#boxInformation,
#boxInformation #infoTab,
#boxRecommend,
.wrap{
	/zoom:1;
}
#headContainer:after,
#boxEntrance:after,
#boxEntrance #directLogin:after,
#boxCategoryLink ul:after,
#boxMainImage #topBnrNavi:after,
#boxInformation:after,
#boxInformation #infoTab:after,
#boxRecommend:after,
.wrap:after{
	content:'';
	display:block;
	clear:both;
}

@media screen and (min-width: 600px) {
	#drawerContainer .sideNavi .forSMT,
	#boxEntrance #directLogin .forSMT,
	#toApp a.appLink .forSMT{
		display:none;
	}
	#drawerContainer .sideNavi .forTB,
	#boxEntrance #directLogin .forPC{
		display:block;
	}

	#toApp a {
		vertical-align:middle;
	}
	#boxHelpNavi a{
		min-height: 24px;
	}
	#boxHelpNavi img{
		padding-right: 20px;
	}
	#boxPR1 .forSMT{
		display:none;
	}
	#boxPR1 .forPC{
		display:block;
	}
	#boxPR1 a {
		min-height:60px;
		padding-left:230px;
	}
	#boxPR1 span {
		width:208px;
		height:auto;
	}
	#boxPR2 p {
		width:50%;
		float:left;
	}
	#boxRecommend dl {
		width: 25%;
	}

	#boxPR2{
		/zoom:1;
	}

	#boxPR2:after{
		content:'';
		display:block;
		clear:both;
	}

}
