@charset "UTF-8";
/* CSS Document */

.topslide-btn { position:absolute; display:inline-block; bottom:60px; line-height:1em; right:20px; text-align:center; color:#FFF; padding:13px 10px 10px; }
.topslide-btn a { color:#FFF; font-size:18px; line-height:18px; padding:2px 30px 0 20px; background:url(/00cmn/img/common/nav-arrow-w.png) no-repeat right center; }

.topslide-btn.bdr{border-width: 1px; border-style:solid; bottom:80px; border-color:#FFF; right:30px; padding:13px 10px 10px; margin:1px 10px; }

/* 縦 上から1/3 */
.topslide-btn.pos-p01l,.topslide-btn.pos-p07c, .topslide-btn.pos-p04r {top:33%; bottom:auto; margin-top:-20px;}
/* 縦 下から1/3 */
.topslide-btn.pos-p02l,.topslide-btn.pos-p08c,.topslide-btn.pos-p05r{top:61%; bottom:auto; margin-top:-20px;}
/* 縦 下から1/4 */
.topslide-btn.pos-p09c {top:75%; margin-top:-20px; bottom:auto; }
/* 縦 下から1/8 */
.topslide-btn.pos-p10c{top:87.5%; margin-top:-20px; bottom:auto; }
/* 左寄せ */
.topslide-btn.pos-p01l, .topslide-btn.pos-p02l, .topslide-btn.pos-p03l { left:10px; right:auto; text-align:left; }
.topslide-btn.pos-p01l a, .topslide-btn.pos-p02l a, .topslide-btn.pos-p03l a { text-align:left; }
.topslide-btn.pos-p01l.bdr, .topslide-btn.pos-p02l.bdr, .topslide-btn.pos-p03l.bdr { left:30px; right:auto; }
.topslide-btn.pos-p01l.bdr a, .topslide-btn.pos-p02l.bdr a, .topslide-btn.pos-p03l.bdr a { text-align:center; }
/* 中央寄せ */
.topslide-btn.pos-p07c, .topslide-btn.pos-p08c, .topslide-btn.pos-p09c, .topslide-btn.pos-p10c{
right:auto; left:50%; text-align:center; margin-left:-110px; width:220px;
}

.theme-wh .topslide-btn a { color:#FFF; background-image:url(/00cmn/img/common/nav-arrow-w.png); }
.theme-wh .topslide-btn.bdr { border-color:#FFF; }
.theme-bk .topslide-btn a { color:#333; background-image:url(/00cmn/img/common/nav-arrow.png); }
.theme-bk .topslide-btn.bdr { border-color:#333; }
.theme-g8 .topslide-btn a { color:#888; background-image:url(/00cmn/img/common/nav-arrow-g8.png); }
.theme-g8 .topslide-btn.bdr { border-color:#888; }
.theme-gc .topslide-btn a { color:#ccc; background-image:url(/00cmn/img/common/nav-arrow-gc.png); }
.theme-gc .topslide-btn.bdr { border-color:#ccc; }

@media (max-width: 1023px) {
.topslide-btn a { font-size:16px; }
.topslide-btn.bdr, 
.topslide-btn.pos-p01l, .topslide-btn.pos-p02l,
.topslide-btn.pos-p01l.bdr, .topslide-btn.pos-p02l.bdr,
.topslide-btn.pos-p04r, .topslide-btn.pos-p05r {
right:auto; left:50%; text-align:center; margin-left:-100px; width:230px; }
.topslide-btn.pos-p01l a, .topslide-btn.pos-p02l a, .topslide-btn.pos-p03l a { text-align:center; }
.topslide-btn.pos-p02l,.topslide-btn.pos-p08c,.topslide-btn.pos-p05r {top:75%;}
.topslide-btn.pos-p01l,.topslide-btn.pos-p07c, .topslide-btn.pos-p04r {top:66%;}
.topslide-btn.pos-p09c, .topslide-btn.pos-p10c {top:87.5%;}
.topslide-btn.pos-p03l, .topslide-btn.pos-p06r { top:auto; bottom:40px; left:auto; right:20px; magin-left:0; }
.topslide-btn.pos-p03l.bdr, .topslide-btn.pos-p06r.bdr { top:auto; bottom:60px; left:auto; right:40px; magin-left:0;}
}
@media (max-width: 767px) {
.topslide-btn a { font-size:14px; }
.topslide-btn, .topslide-btn.bdr { padding:10px 5px 7px; }
.topslide-btn.bdr,
.topslide-btn.pos-p01l, .topslide-btn.pos-p02l,
.topslide-btn.pos-p01l.bdr, .topslide-btn.pos-p02l.bdr, 
.topslide-btn.pos-p07c, .topslide-btn.pos-p08c, .topslide-btn.pos-p09c, .topslide-btn.pos-p10c { top:75%;
right:auto; left:50%; text-align:center; margin-left:-90px; width:180px; }
.topslide-btn.pos-p01l, .topslide-btn.pos-p07c, .topslide-btn.pos-p04r,
.topslide-btn.pos-p02l, .topslide-btn.pos-p08c, .topslide-btn.pos-p05r {top:66%;}
.topslide-btn.pos-p03l, .topslide-btn.pos-p06r { bottom:40px; right:20px; left:auto; margin-left:0px; }
.topslide-btn.pos-p03l.bdr, .topslide-btn.pos-p06r.bdr { bottom:60px; right:20px; left:auto; margin-left:0px; }
}
@media (max-width: 480px) {
.topslide-btn a { font-size:14px; }
.topslide-btn, .topslide-btn.bdr { padding:10px 5px 7px; width:auto; }
.topslide-btn.bdr,
.topslide-btn.pos-p01l, .topslide-btn.pos-p02l, .topslide-btn.pos-p03l, .topslide-btn.pos-p04r,
.topslide-btn.pos-p01l.bdr, .topslide-btn.pos-p02l.bdr, .topslide-btn.pos-p03l.bdr, .topslide-btn.pos-p04r.bdr,
.topslide-btn.pos-p07c, .topslide-btn.pos-p08c, .topslide-btn.pos-p09c, .topslide-btn.pos-p10c { top:87.5%;
right:auto; left:50%; text-align:center; margin-left:-90px; width:180px; }
.topslide-btn.pos-p01l,.topslide-btn.pos-p07c, .topslide-btn.pos-p04r {top:75%;}
.topslide-btn.pos-p02l,.topslide-btn.pos-p08c,.topslide-btn.pos-p05r {top:87.5%;}
.topslide-btn.pos-p03l, .topslide-btn.pos-p06r,
.topslide-btn.pos-p09c, .topslide-btn.pos-p10c { top:auto; bottom:50px; left:auto; right:10px; magin-left:0; }
.topslide-btn.pos-p03l.bdr, .topslide-btn.pos-p06r.bdr,
.topslide-btn.pos-p09c.bdr, .topslide-btn.pos-p10c.bdr { top:auto; bottom:60px; left:auto; right:20px; }
}