@charset "UTF-8";
/* CSS Document */

/* 
key-visual
===================================*/
.key-visual { width:100%; display:block; overflow:hidden; }
#top-keyvisual { position:rlative; width:100%; }
.sp-slide .slide-ttl { display:table-cell; text-align:center; vertical-align:middle; position:absolute; width:100%; height:200px; top:50%; left:50%; margin-left:-50%; margin-top:-100px; color:#FFF; z-index:995; }
.sp-slide .slide-ttl img { width:100%; max-width:1200px; }

#top-keyvisual .sp-buttons,
#conpo-slide .sp-buttons{
	z-index: 99999;
	background: rgba(64, 64, 64, 0.5);
	/*top: -40px;*/
	padding-bottom: 5px;
	position: absolute;
	top: auto;
	bottom: 0;
}
#top-keyvisual .sp-arrows,
#conpo-slide .sp-arrows{z-index: 999;}
#top-keyvisual .sp-buttons .sp-button,
#conpo-slide .sp-buttons .sp-button{
	border-color: #FFF;
	background: #FFF;
}
#top-keyvisual .sp-buttons .sp-button.sp-selected-button,
#conpo-slide .sp-buttons .sp-button.sp-selected-button{
	border-color: #E80B19;
	background: #E80B19;
}
.sp-button-pause{
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	background: url("../../00cmn/img/common/btn-carousel-pause-w.png") no-repeat left top;
	background-size: 16px auto;
	width: 16px;
	height: 16px;
	margin-left: 3px;
	position: absolute;
	top: 50% ; margin-top:-8px; right:20px;
}
.sp-button-pause.active{
	background: url("../../00cmn/img/common/btn-carousel-pause-cu.png") no-repeat left top;
	background-size: 16px auto;
}
@media (max-width: 1024px) {
	.sp-button-pause{
		background-size: 16px auto;
		width: 16px;
		height: 16px;
	}
	.sp-button-pause.active{
		background-size: 16px auto;
	}
}

/* 
global top domain
===================================*/
#gtdomain { display:block; overflow:hidden; padding-top:36px; padding-bottom:60px; clear:both; }
#gtdomain h2 { font-size:50px; font-family:'Frutiger Neue W01 Light', 'Frutiger', 'lato', 'segoe', Arial, Helvetica, sans-serif; color:#c7000b; }
.domain { display:block; width:100%; text-align:center; padding-bottom:50px; }
.domain img{ max-width: 100%; height: auto; }
.domain .col-md-6{ padding:0 70px; width:50%; box-sizing:border-box; }
.domain .before,
.domain .after{ 
font-size:50px; height:140px; line-height:140px; }

.domain .before{background:#555; color:#fff;}
.domain .after{ background: url(/en/img/dotcanon/bg-dotcom.png)  no-repeat #c7000b 0 50%; color:#fff; }
@media (max-width: 1024px){
.domain .before,
.domain .after{ 
height:120px; line-height:110px; }
}

@media (max-width: 767px){
.domain .after{background:url(/en/img/dotcanon/bg-dotcom-smp.png) no-repeat 50% -25px #cc0000;}
.domain .before,
.domain .after{ 
height:130px; line-height:125px; }
.domain .col-md-6 { width:100%; }
}
@media (max-width: 480px) {
.domain .before,
.domain .after{ 
height:100px; line-height:90px; }
#gtdomain h2 { font-size:24px; }
}

/* news release
===================================*/
#top-news.section-box h2 { font-size:34px; font-family:'Frutiger Neue W01 Light', 'Frutiger', 'lato', 'segoe', Arial, Helvetica, sans-serif; }
@media (min-width: 1280px){
	#top-news { background-size:100%; }
}
#top-news.section-box { background:url(/en/img/top/bg-newspaper.jpg) no-repeat; background-size:auto 100%; background-position:center center; }
@media (min-width: 1550px){
#top-news.section-box { background-size:100% auto; }
}
#top-news .slider-pro a { width:100%;}
.news-slide-wrap { margin:0 50px; /*overflow:hidden;*/ }
.top-newsbox { padding:0 10px;}
.news-wrap { position:relative; background-color:#FFF; padding-bottom:23px; height:auto; box-sizing:border-box; overflow:hidden; margin-bottom:10px; }
.top-newsbox a { display:inline-block; }
.top-newsbox a:hover { text-decoration:none !important; }
a .news-wrap{ display:block; margin-bottom:20px; box-sizing:border-box;  border:solid 1px #efefef; } 
a:hover .news-wrap { border-color:#c7000b;}
a:hover .news-wrap p.news-txt, a:hover .news-wrap p.news-txt2, a:hover .news-wrap div.news-date, a:any-link .news-wrap p, a:any-link .news-wrap div.news-date { text-decoration:none !important; text-decoration:underline #C00; }
.news-h4 { display:inline-block; font-family:'Frutiger Neue W01 Bd', 'Frutiger', 'lato', 'segoe', Arial, Helvetica, sans-serif; line-height:1.5em; padding:0 15px 5px 20px; font-size:16px; margin-top:5px; overflow:hidden; width:100%; }
.news-date { text-align:left; padding:23px 20px 0px; font-size:13px;}
.news-txt, .news-txt2 { display:block; line-height:1.5em; padding:0 15px 1em 20px; overflow:hidden; font-size:14px; }
.photo-fit { text-align:center; background-color:#f5f5ff5; overflow:hidden; }
.photo-fit img { width:100%; height:auto; }
.news-region { display:inline-block; position:absolute; bottom:10px; left:20px; font-size:13px; }
.news-region.link-other { padding-right:25px; background:url(/00cmn/img/common/link-window-g.png) no-repeat right center; background-size:20px; }
.news-inner { width:100%; }
@media (max-width: 767px) {
	.news-inner { min-height:400px; }
	.news-slide-wrap { margin:0px; }
	#top-news.section-box h2 { font-size:30px;}
	a:hover .news-wrap { border-color:#efefef;}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.news-inner { min-height:400px; }
	.news-slide-wrap { margin:0px; }
	a:hover .news-wrap { border-color:#efefef;}
}
@media (min-width: 1025px) and (max-width: 1330px) {
	.news-inner { min-height:450px; }
	.news-slide-wrap { margin:0px; }
}
@media (min-width: 1331px) {
	.news-inner { min-height:430px; }
	.news-slide-wrap { margin:0; /*overflow:hidden;*/ }
}
/*　 add only this contents */
#top-news .sp-arrows{z-index: 999;}
#top-news .sp-horizontal .sp-arrow.sp-previous-arrow { left:-50px; margin-top:-20px; }
#top-news .sp-horizontal .sp-arrow.sp-next-arrow { right:-50px; margin-top:-20px; }

/* 
whats news
===================================*/
#top-whatsnew { display:block; position:relative; margin:0; padding:0; overflow:hidden; border-bottom:solid 2px #FFF; }
#top-whatsnew:after { content:" "; clear:both; height:0; }
#conpo-slide .sp-layer { width:100%; }
#conpo-slide .cg-wrap { max-width:1200px; overflow:visible; }
/*.bg-slide1 { background-image:url(/en/img/top/nerworkcamera.jpg); background-size:100%; background-position:center top; }
.bg-slide2 { background-image:url(/en/img/top/nanoimprint.jpg); background-repeat:no-repeat; }
.news-region.link-other { padding-right:25px; background:url(/00cmn/img/common/link-window-g.png) no-repeat right center; background-size:20px; }*/

@media (max-width: 767px) {
#top-whatsnew h2 { position:relative; display:block; font-size:30px; }	
#top-whatsnew h3 { font-size:18px; line-height:1.5em; }
#top-whatsnew .txt-cw { color:#333; }
#top-whatsnew div.cg-btn { margin:10px auto; text-align:center; }
.bg-slide1 { background-size:100%;  }
#top-whatsnew .col-row .col-md-7.col-flr, #top-whatsnew .col-row .col-md-8.col-flr,
#top-whatsnew .col-row .col-md-5.col-flr,
#top-whatsnew .col-row .col-md-7.sp-fll-none { float:none; width:100%; }
#top-whatsnew .cg-btn a.btn-white { color:#666; border-color:#888; background-image:url(/00cmn/img/common/nav-arrow.png); }
	#top-whatsnew .col-row .conts-vbox.txt-right{
		text-align: left;
	}

}
@media (min-width:768px) {
	#top-whatsnew .col-row .col-md-7.col-flr, #top-whatsnew .col-row .col-md-8.col-flr,
	#top-whatsnew .col-row .col-md-5.col-flr { float:right; /*width:100%;*/ }

}
#top-whatsnew .col-row:after { content:""; height:0; clear:both; }
@media (max-width: 767px) {
	#conpo-slide .sp-buttons{
		position: relative;
	}
	#conpo-slide .sp-button-pause{
	}
}
/* 
about us
===================================*/
#top-aboutus { background-color:#c7000b; }
#top-aboutus.section-box h2 { color:#FFF; font-family:'Frutiger Neue W01 Light', 'Frutiger', 'lato', 'segoe', Arial, Helvetica, sans-serif; font-weight:normal; font-weight:300; font-size:34px; }
#top-aboutus h3 { color:#FFF; font-size:14px; line-height:1.3em; min-height:2.6em; text-shadow:0px 0px 8px rgba(0,0,0,0.3); font-family:'Frutiger Neue LT W06 Regular', 'Frutiger', 'lato', 'segoe', Arial, Helvetica, sans-serif; }
#top-aboutus .col-row:nth-child(4) .col-md-2 { clear:left; }
#top-aboutus a img { width:80%; margin:0 10%; max-width:120px; }
#top-aboutus a:hover { text-decoration:none; }
#top-aboutus a:hover img { opacity:0.8; }
@media (min-width: 768px) { 
	#top-aboutus { min-height:400px; }
	#top-aboutus h3 { font-size:24px; }
}
@media (min-width: 1024px) { 
	#top-aboutus { min-height:400px; }
	#top-aboutus h3 { font-size:18px; }
}
@media (min-width: 768px) and (max-width: 1200px) { 
	.sp-horizontal .sp-previous-arrow{left: -15px;}
	.sp-horizontal .sp-next-arrow{right: -15px;}
}
@media (max-width: 767px) {
	#top-aboutus.section-box h2 { font-size:30px;}
	#top-aboutus { background-position:37% top; background-size:auto 115%; }
	#top-aboutus h3 { font-size:16px; margin-top:10px; }
}

/* 
product info
===================================*/
/* Our Business */
#top-products, #top-support { position:relative; clear:both; display:block; width:100%; border-bottom:solid 2px #FFF; box-sizing:border-box; overflow:hidden; }
#top-products .col-md-8, #top-support .col-md-8 { background-repeat:no-repeat; background-size:100%; min-height:200px; }
#top-support .col-md-8.col-flr { float:right;}
#top-products .table100, #top-support .table100 { min-height:200px; }
.conts-vbox h2 { margin:0; }
.conts-vbox h2 a { color:#333; vertical-align:middle; background-image:url(/00cmn/img/common/link-arrow-bk.png); background-repeat:no-repeat; background-position:right center; font-size:30px; line-height:1.2em; padding-top:2px; padding-bottom:2px; font-family:'Frutiger Neue W01 Bd', 'Frutiger', 'lato', 'segoe', Arial, Helvetica, sans-serif; padding-right:40px; background-size:26px; margin:0; }
.conts-vbox h2 a:hover { opacity:0.8; text-decoration:none; }
#top-support .conts-vbox h2 a.txt-right { float:right; }
#top-support .conts-vbox p.txt-right { clear:both; float:right; }


@media (max-width: 767px) {
#top-products, #top-support { height:280px; }
#top-products .table100, #top-support .table100 { min-height:0; height:80px; }
#top-support .table100 p { display:none; }
#top-products .col-md-8, #top-support .col-md-8 { min-height:0; width:100%; background-size:auto 100%; background-position:center top; }
#top-products .col-md-4, #top-support .col-md-4 { position:absolute; left:0; bottom:0; }
#top-products .conts-vbox h2 a, #top-support .conts-vbox h2 a.txt-right { font-size:20px; background-size:18px; padding-right:30px; float:none; text-align:left; }
}

@media (min-width: 767px) and (max-width: 1024px) {
#top-products .col-md-8, #top-support .col-md-8 { background-size:auto 100%; }
.conts-vbox h2 a { font-size:24px; }
}

@media (max-width: 767px) {
	#conpo-slide.slider-pro .col-md-5 .table100{
		margin-top: 0px;
	}
	.zoom-img { display:table-cell; overflow:hidden; width:100%; height:100%;}
}

.sp-initialize{
	height: 500px;
	opacity: 0;
}
@media (min-width: 767px) and (max-width: 1024px) {
	.sp-initialize{
		height: 384px;
		opacity: 0;
	}
}
@media (max-width: 767px) {
	#conpo-slide .col-md-5.bgc-wh{
		float: none; overflow:visible;
	}
	.sp-initialize{
		height: 468px;
		opacity: 0;
	}
}
