@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?2mkomr');
	src:url('icomoon.eot?2mkomr#iefix') format('embedded-opentype'),
		url('icomoon.ttf?2mkomr') format('truetype'),
		url('icomoon.woff?2mkomr') format('woff'),
		url('icomoon.svg?2mkomr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook-with-circle:before {
	content: "\e900";
}
.icon-google-with-circle:before {
	content: "\e901";
}
.icon-instagram-with-circle:before {
	content: "\e902";
}
.icon-pinterest-with-circle:before {
	content: "\e903";
}
.icon-twitter-with-circle:before {
	content: "\e904";
}
.icon-youtube-with-circle:before {
	content: "\e905";
}
