@font-face {
    font-family: 'Moderat';
    src: url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-regular-webfont.eot');
    src: url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-regular-webfont.woff2') format('woff2'),
         url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-regular-webfont.woff') format('woff'),
         url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-regular-webfont.ttf') format('truetype'),
         url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-regular-webfont.svg#moderatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Moderat';
    src: url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-bold-webfont.eot');
    src: url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-bold-webfont.woff2') format('woff2'),
         url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-bold-webfont.woff') format('woff'),
         url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-bold-webfont.ttf') format('truetype'),
         url('//marketing.modcloth.com/global/assets/fonts/moderat/moderat-bold-webfont.svg#moderatbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
