@charset "utf-8";

/*通用开始*/
.white1 {
    color: #666;
    font: bold 14px / 2 "微软雅黑", "宋体", Arial;
}

.white1 a {
    color: #666;
}

.white1 a:hover {
    color: #0363ba;
}

/*#ddd*/
.white2 {
    color: #666;
    font: normal 12px / 2.5 "宋体", Arial;
}

.white2 a {
    color: #666;
}

.white2 a:hover {
    color: #0363ba;
}

.redtitle {
    color: #8d5101;
    font: bold 16px / 2 "微软雅黑", "黑体", "宋体", Arial
}

.redtitle a {
    color: #8d5101;
}

.redtitle1 {
    color: #333;
    font: bold 16px / 2 "微软雅黑", "黑体", "宋体", Arial
}

.redsm {
    color: #8c0000;
}

.newhui {
    color: #777;
    font: normal 12px / 20px "宋体", Arial
}

.newhui a {
    color: #777;
}

.sectitle {
    font: bold 20px / 1.5 "宋体", Arial;
    color: #004276
}

.thirdtitle {
    font: normal 14px / 20px "宋体", Arial;
}

.newxbt {
    font: normal 14px / 1.5 "宋体", Arial;
    background: url(../images/sprite5.gif) no-repeat 0 8px;
    _background: url(../images/sprite5.gif) no-repeat 0 7px;
    padding-left: 15px;
}

.newxbt2 {
    font: normal 12px / 1.5 "宋体", Arial;
    background: url(../images/sprite5.gif) no-repeat 0 -100px;
    _background: url(../images/sprite5.gif) no-repeat 0 -102px;
    padding-left: 8px;
}

/*新首页开始*/
.zhengti {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.zhengti .top00 {
    width: 100%;
    height: auto;
    float: left;
    background: url(../images/topbg.gif) no-repeat 50% top
}

.qb1 {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.qb1 .logo {
    width: 200px;
    height: 80px;
    float: left;
    padding-top: 5px
}

.qb1 .xlink {
    width: 800px;
    height: 20px;
    text-align: right;
    padding-top: 10px;
    float: left
}

.qb1 .search {
    width: 800px;
    height: auto;
    float: left;
    padding-top: 10px;
}

.qb1 .search1 {
    width: 267px;
    height: 25px;
    float: right;
    border: 1px #005785 solid
}

.qb1 .search1 span {
    float: left;
}

/*导航下拉菜单样式开始*/
.zhengti .middle0 {
    width: 100%;
    height: auto;
    border-bottom: 5px #3a80c1 solid;
    float: left;
}

.qb21 {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    clear: both
}

.top_menu {
    position: relative;
    width: 1000px;
    height: 30px;
    margin: o auto;
    z-index: 1000;
    clear: both
}

.top_menu ul li {
    height: 30px;
    float: left;
    color: #8cb4d3;
    line-height: 30px;
    font: bold 14px / 30px "宋体", Arial;
    display: block;
}

.top_menu ul li a {
    color: #3a80c1;
    float: left;
    height: 30px;
    _padding: 0 13px;
    * padding: 0 13px;
    padding: 0 14px;
    padding: 0 12px !important;
    _text-align: center;
    _overflow: hidden;
    overflow: hidden;
    border-right: 1px #ddd dashed;
}

.top_menu ul li a:hover {
    height: 30px;
    _padding: 0 13px;
    * padding: 0 13px;
    padding: 0 13px;
    padding: 0 12px !important;
    _text-align: center;
    _overflow: hidden;
    overflow: hidden;
    float: left;
    display: block;
    background: #3a80c1;
    color: #fff
}

.top_menu ul li a.hover {
    height: 30px;
    _padding: 0 13px;
    * padding: 0 13px;
    padding: 0 13px;
    padding: 0 12px !important;
    _text-align: center;
    _overflow: hidden;
    overflow: hidden;
    float: left;
    text-align: center;
    display: block;
    background: #3a80c1;
    color: #fff
}

.top_menu ul li ul li {
    color: #fff;
    float: left;
    height: 30px;
    width: 140px;
    display: block;
    text-align: left;
    line-height: 30px;
    font: bold 12px / 30px "宋体", Arial;
    background: #3a80c1;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
    letter-spacing: 0px;
    border-right: 0;
    padding: 0;
    margin: 0 
}

.top_menu ul li ul li a {
    color: #FFF;
    height: 30px;
    width: 220px;
    display: block;
    text-align: left;
    border-right: none;
    padding: 0;
    margin: 0
}

.top_menu ul li ul li a:hover {
    text-align: left;
    background: #74b0e7;
    color: #fff;
    padding: 0;
    margin: 0
}

.top_menu ul li ul li a:hover {
    color: #fff;
}

.top_menu ul ul {
    visibility: hidden;
    position: absolute;
    left: 150px;
    top: 30px;
    z-index: 1000
}

.top_menu table {
    position: absolute;
    top: 0;
    left: 0;
}

.top_menu ul li:hover ul,
.top_menu ul a:hover ul {
    visibility: visible;
}

.top_menu ul ul li {
    clear: both;
    text-align: left;
    z-index: 1000
}

.top_menu ul ul li a:hover {
    height: 30px;
    width: 117px;
    display: block;
    background: #999 text-align: left;
    padding: 0;
    margin: 0
}

.top_menu UL LI:hover UL {
    VISIBILITY: visible
}

.top_menu UL A:hover UL {
    VISIBILITY: visible
    /*一级的li，a的hover时，设置二级菜单可见*/
}

.top_menu UL :hover UL UL {
    VISIBILITY: hidden
    /*一级的li，a的hover时，设置二级,三级菜单隐藏*/
}

/*导航菜单样式结束*/





/*中间开始*/
.zhengti .middle00 {
    width: 100%;
    height: auto;
    float: left;
}

.qb2 {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.qb2 .dqwz {
    width: 990px;
    height: auto;
    color: #777;
    line-height: 25px;
    margin-top: 10px;
    float: left;
    border-bottom: 1px #ddd solid;
}

.qb2 .left {
    width: 265px;
    height: auto;
    float: left;
    background: url(../images/leftbg.jpg) repeat-y right top
}

.qb2 .left .whios {
    width: 260px;
    height: 235px;
    float: left;
    color: #fff;
    background: url(../images/tubia.jpg) no-repeat 0 0;
    margin-top: 10px;
}

.qb2 .left .whios001 {
    height: 60px;
    width: 260px;
    float: left;
    display: block
}

.qb2 .left .whios h4 {
    width: 230px;
    height: atuo;
    margin-left: 15px;
    display: inline;
}

.qb2 .left .whios h4 ul li {
    float: left;
    font: bold 14px / 29px "微软雅黑", "黑体", "宋体", Arial
}

.qb2 .left .whios h4 .fenlei {
    width: 56px;
    height: 29px;
    float: left;
    text-align: center;
    color: #B9E7FF;
}

.qb2 .left .whios h4 .fenlei a {
    width: 56px;
    height: 29px;
    float: left;
    text-align: center;
    display: block;
    color: #B9E7FF;
    background: url(../images/whoisfl2.png) no-repeat
}

.qb2 .left .whios h4 .fenlei a:hover {
    width: 56px;
    height: 29px;
    float: left;
    text-align: center;
    display: block;
    color: #fff;
    background: url(../images/whoisfl1.png) no-repeat
}

.qb2 .left .whios h4 .fenlei a.hover {
    width: 56px;
    height: 29px;
    float: left;
    text-align: center;
    display: block;
    color: #fff;
    background: url(../images/whoisfl1.png) no-repeat
}

.qb2 .left .whios h4 .fenlei1 {
    width: 106px;
    height: 29px;
    float: left;
    text-align: center;
    display: block;
    color: #00496C;
    margin-top: 15px;
    margin-left: 15px;
    display: inline
}

.qb2 .left .whios h4 .fenlei1 a {
    width: 106px;
    height: 29px;
    float: left;
    text-align: center;
    display: block;
    color: #B9E7FF;
    ;
    background: url(../images/whoisfl4.png) no-repeat
}

.qb2 .left .whios h4 .fenlei1 a:hover {
    width: 106px;
    height: 29px;
    float: left;
    text-align: center;
    display: block;
    color: #fff;
    background: url(../images/whoisfl3.png) no-repeat
}

.qb2 .left .whios h4 .fenlei1 a.hover {
    width: 106px;
    height: 29px;
    float: left;
    text-align: center;
    display: block;
    color: #fff;
    background: url(../images/whoisfl3.png) no-repeat
}

.qb2 .left .whios h4 span {
    float: left;
    width: 58px;
    margin: 10px 0 0 5px;
    font-size: 13px;
    display: inline
}

.qb2 .left .tzgg {
    width: 250px;
    height: auto;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    display: inline
}

.qb2 .left .tzgg ul li {
    width: 220px;
    padding-bottom: 5px;
    border-bottom: 1px #ddd dashed;
    margin-top: 5px;
    float: left;
}

.qb2 .left .nrk h1 {
    width: 250px;
    height: auto;
    float: left;
    border-bottom: 3px #3a80c1 solid;
    padding-left: 10px;
    font: bold 14px / 1.5 "微软雅黑", "宋体", Arial;
    color: #3a80c1
}

.qb2 .left .nrk h1 .firstdh {
    width: 212px;
    height: 29px;
    float: left;
}

.qb2 .left .nrk h1 .firstdh ul li {
    width: 106px;
    height: 29px;
    float: left;
}

.qb2 .left .nrk h1 .firstdh ul li a {
    width: 106px;
    height: 29px;
    float: left;
    display: block;
    text-align: center;
    background: url(../images/xinwendaohangbg2.jpg) no-repeat left top;
    line-height: 29px;
    color: #3a80c1
}

.qb2 .left .nrk h1 .firstdh ul li a:hover {
    width: 106px;
    height: 29px;
    float: left;
    background: url(../images/xinwendaohangbg1.jpg) no-repeat left top;
    display: block;
    text-align: center;
    line-height: 29px;
    color: #fff
}

.qb2 .left .nrk h1 .firstdh ul li a.hover {
    width: 106px;
    height: 29px;
    float: left;
    background: url(../images/xinwendaohangbg1.jpg) no-repeat left top;
    display: block;
    text-align: center;
    line-height: 29px;
    color: #fff
}

.qb2 .left .nrk h1 .tup {
    width: 30px;
    height: 30px;
    float: left;
    padding-right: 5px
}

.qb2 .left .nrk h1 a {
    color: #888
}

.qb2 .left .nrk .nr {
    width: 245px;
    height: auto;
    float: left;
    padding-left: 10px;
    margin-top: 10px;
}

.qb2 .left .nrk .nr ul li {
    width: 245px;
    height: auto;
    float: left;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px #ddd dashed;
}

.qb2 .left .nrk .nr ul li img {
    width: 66px;
    height: 46px;
    float: left;
    padding-right: 10px;
    margin-top: 5px;
}

.qb2 .left .nrk .nr ul li dd {
    width: 169px;
    height: 20px;
    float: left;
    overflow: hidden
}

.qb2 .left .zuobtitle {
    width: 260px;
    height: auto;
    float: left;
    margin-top: 20px
}

.qb2 .left .zuobtitle h3 {
    width: 230px;
    height: 24px;
    float: left;
    margin-top: 5px;
    padding-left: 30px;
    background: url(../images/leftsanjiao1.jpg) #3e8bd1 no-repeat 8px 7px;
    display: block;
    color: #fff;
    font: normal 14px / 24px "宋体", "Arial"
}

.qb2 .left .zuobtitle h3 a {
    color: #fff;
}

.qb2 .right {
    width: 722px;
    height: auto;
    float: left;
    margin-left: 13px;
    display: inline
}

.qb2 .right h2 {
    width: 722px;
    height: auto;
    float: left;
    margin-top: 10px;
}

.scrollList_87 {
    position: relative;
    margin: 0 auto;
    width: 665px;
    height: 240px;
    padding: 10px 24px 10px 24px;
    background: #F6F6F6
}

.scrollList_87 .photolist {
    position: relative;
    overflow: visible;
    width: 1100px;
}

.scrollList_87 .photolist ul {
    float: left;
    margin: 0px;
    padding: 0px;
}

.scrollList_87 .photolist li {
    float: left;
    margin: 0 5px 0 5px;
    width: 145px;
    padding: 6px;
    padding-bottom: 4px;
    background: #fff;
    height: 230px;
    border: 1px #ddd solid;
}

.scrollList_87 .photolist li img {
    float: left;
    width: 145px;
    padding-bottom: 4px;
    height: 100px;
    border-bottom: 1px #ddd solid;
}

.scrollList_87 .photolist li dd {
    float: left;
    width: 145px;
    height: 30px;
    font: bold 14px / 1.5 "微软雅黑", "宋体", Arial;
    color: #3a80c1;
}

.scrollList_87 .photolist li dd a {
    color: #3a80c1;
}

.scrollList_87 .photolist li dt {
    float: left;
    width: 145px;
    height: 70px;
    font: normal 12px / 1.8 "宋体", Arial;
    color: #888
}

#pre_87 {
    position: absolute;
    cursor: pointer;
    width: 24px;
    DISPLAY: block;
    HEIGHT: 254px;
    z-index: 10;
    TOP: 0;
    LEFT: -2px;
}

#next_87 {
    position: absolute;
    width: 24px;
    HEIGHT: 254px;
    cursor: pointer;
    z-index: 10;
    TOP: 0px;
    LEFT: 690px;
}

.qb2 .right .dhly {
    width: 705px;
    height: auto;
    float: left;
    border-bottom: 3px #3a80c1 solid;
    margin-top: 10px;
    padding-left: 10px;
    font: bold 14px / 1.5 "微软雅黑", "宋体", Arial;
    color: #3a80c1
}

.qb2 .right .dhly .tup {
    width: 30px;
    height: 30px;
    float: left;
    padding-right: 5px
}

.qb2 .right .zsnr {
    width: 168px;
    height: auto;
    float: left;
    background: url(../images/zhongjianqufen.jpg) no-repeat right 50%;
    padding-right: 10px
}

.qb2 .right .zsnr1 {
    width: 163px;
    height: auto;
    float: left;
    padding-left: 5px;
    border-bottom: 1px #ddd dashed;
}

.qb2 .right .zuo {
    width: 70px;
    height: auto;
    float: left;
}

.qb2 .right .tup1 {
    width: 70px;
    height: 60px;
    float: left;
}

.qb2 .right .wzbt {
    width: 70px;
    height: auto;
    float: left;
    font: bold 12px / 1.5 "微软雅黑", "宋体", Arial;
    text-align: center;
    color: #666;
    padding-bottom: 5px
}

.qb2 .right .wzbt a {
    color: #666;
}

.qb2 .right .wznr {
    width: 87px;
    height: auto;
    float: left;
    padding-left: 5px;
    font: normal 12px / 2 "宋体", Arial;
    margin-top: 10px
}

.qb2 .right .zsnr2 {
    width: 222px;
    height: auto;
    float: left;
    padding-left: 5px;
}

.qb2 .right .fenlie {
    width: 715px;
    height: auto;
    float: left;
}

.qb2 .right .fenlie .bdcx {
    width: 250px;
    height: auto;
    float: left;
}

.qb2 .right .fenlie .bdcx span {
    width: 50px;
    margin-top: 10px;
    height: auto;
    float: left
}

.qb2 .right .dcnr {
    width: 105px;
    height: auto;
    float: left;
    background: url(../images/zhongjianqufen.jpg) no-repeat right 50%;
    padding-right: 10px
}

.qb2 .right .jsnr {
    width: 155px;
    height: auto;
    float: left;
    background: url(../images/zhongjianqufen.jpg) no-repeat right 50%;
    padding-right: 10px
}

.qb2 .right h2 .btdhang {
    width: 520px;
    height: auto;
    float: left;
    margin-top: 10px;
    background: url(../images/repeat-big.gif) no-repeat 50% bottom;
    padding-bottom: 18px;
    font: bold 16px / 1.5 "微软雅黑", "宋体", Arial;
    color: #3a80c1
}

.qb2 .right h2 .zb {
    width: 240px;
    height: auto;
    float: left;
    margin-top: 10px;
}

.qb2 .right h2 .yb {
    width: 275px;
    height: auto;
    float: left;
    padding-bottom: 10px;
}

.qb2 .right h2 .yb ul li {
    width: 260px;
    height: auto;
    float: left;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px #ddd dashed;
    color: #888
}

.qb2 .right h2 .yb1 {
    width: 475px;
    height: auto;
    float: left;
    padding-bottom: 10px;
}

.qb2 .right h2 .yb1 ul li {
    width: 460px;
    height: auto;
    float: left;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px #ddd dashed;
    color: #888
}

.qb2 .right h2 .yb2 {
    width: 535px;
    height: auto;
    color: #777;
    line-height: 28px;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 24px;
}

.qb2 .right h2 .btdhang1 {
    width: 350px;
    height: auto;
    float: left;
    margin-top: 10px;
    padding-bottom: 5px;
    font: bold 16px / 1.5 "微软雅黑", "宋体", Arial;
    border-bottom: 3px #3a80c1 solid;
    color: #3a80c1
}

.qb2 .right h2 .yb3 {
    width: 180px;
    height: auto;
    color: #777;
    line-height: 28px;
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
    display: inline;
    text-indent: 24px;
}

.qb2 .right h2 .zb1 {
    width: 160px;
    height: auto;
    float: left;
    margin-top: 10px;
}

.qb2 .right1 {
    width: 175px;
    height: auto;
    float: left;
    background: url(../images/leftbg.jpg) repeat-y left top;
    padding-left: 15px
}

.qb2 .right1 {
    width: 170px;
    height: auto;
    float: left;
    background: url(../images/leftbg.jpg) repeat-y left top;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 10px;
    display: inline
}

.qb2 .right1 .btwz {
    width: 160px;
    height: auto;
    float: left;
    border-bottom: 3px #3a80c1 solid;
    padding-left: 10px;
    font: bold 14px / 1.5 "微软雅黑", "宋体", Arial;
    color: #3a80c1
}

.qb2 .right1 .neirong {
    width: 160px;
    height: auto;
    float: left;
    padding: 10px 0 0 10px;
    color: #666
}

.qb2 .right h4 {
    width: 155px;
    height: auto;
    float: left;
    background: url(../images/dadaohangdi.jpg) no-repeat 50% bottom;
    padding-right: 10px
}

.qb2 h1 {
    width: 1000px;
    height: auto;
    float: left;
    margin-top: 10px
}

.qb2 h1 .dibu {
    width: 978px;
    height: auto;
    float: left;
    padding: 10px;
    background: url(../images/bottombg1.jpg) repeat-x left top;
    border: 1px #ddd solid;
    border-top: 3px #3a80c1 solid;
}

.qb2 h1 .dibu ul li {
    width: 170px;
    height: auto;
    float: left;
    padding: 10px 0 0 20px;
    padding-right: 6px;
    background: url(../images/zhongjianx.jpg) no-repeat right top
}

.qb2 h1 .dibu ul li dd {
    width: 120px;
    padding-left: 10px;
    height: auto;
    float: left;
}

.qb2 h1 .dibu ul li dt {
    width: 170px;
    height: 120px;
    float: left;
}

/*底部式开始*/
.zhengti .bottom00 {
    width: 100%;
    height: auto;
    background: url(../images/bottombg.gif) no-repeat 50% top;
    float: left;
}

.qb3 {
    width: 1000px;
    margin: 0 auto;
    height: auto
}

.qb3 .left {
    width: 600px;
    height: auto;
    padding-top: 10px;
    text-align: left;
    float: left;
}

.qb3 .right {
    width: 400px;
    height: auto;
    float: left;
    padding-top: 10px;
    text-align: right;
}

/*正常文字滚动home*/
.qb2 .left .nrk {
    width: 260px;
    height: auto;
    float: left;
}

.scrollList_100 {
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    overflow: hidden;
}

.scrollList_100 .photolist {
    position: relative;
    overflow: visible;
    height: 500px;
}

.scrollList_100 .photolist ul {
    float: left;
    margin: 0;
    padding: 0px;
}

.scrollList_100 .photolist li {
    width: 250px;
    height: auto;
    float: left;
    background: url(../images/hengbg.jpg) no-repeat 50% bottom;
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 15px;
    font: bold 14px / 40px "微软雅黑", "宋体", Arial;
    color: #777
}

.scrollList_100 .photolist li .tup1 {
    width: 40px;
    height: 40px;
    float: left;
    padding-right: 10px;
}

.scrollList_100 .photolist li a, .scrollList_100 .photolist li a:hover {
    line-height: 20px;
    color: #777;
}

.scrollList_100 .photolist li span {
    color: #777;
}

/*五星级服务机构home*/
.scrollList_70 {
    float: left;
    width: 250px;
    position: relative;
    height: 57px;
    overflow: hidden
}

.scrollList_70 .photolist {
    position: relative;
    overflow: visible;
    width: 10000px;
}

.scrollList_70 .photolist ul {
    float: left;
    margin: 0px;
    padding: 0px;
}

.scrollList_70 .photolist ul li {
    width: 118px;
    height: 42px;
    float: left;
    margin: 10px 0 5px 6px;
    display: inline;
}

/*正常文字滚动erji*/
.scrollList_11 {
    position: relative;
    margin: 0 auto;
    width: 305px;
    height: 200px;
    overflow: hidden;
}

.scrollList_11 .photolist1 {
    position: relative;
    overflow: visible;
    height: 500px;
}

.scrollList_11 .photolist1 ul {
    float: left;
    margin: 0;
    padding: 0px;
}

.scrollList_11 .photolist1 li {
    width: 360px;
    height: auto;
    float: left;
    padding-left: 15px;
    font: normal 12px / 2 "宋体", Arial;
    color: #004276;
    background: url(../images/list-dot.gif) no-repeat 0 center;
}

.scrollList_11 .photolist1 li a, .scrollList_11 .photolist1 li a:hover {
    line-height: 20px;
    color: #004276 
}

.scrollList_11 .photolist1 li span {
    color: #004276
}

/*中国地图erji*/
.chinamap {
    width: 978px;
    height: auto;
    margin-top: 10px;
    border: 1px #3a80c1 solid;
    border-bottom: 0;
    float: left;
    padding: 10px;
}

.chinamapquk {
    width: 703px;
    height: auto;
    padding: 10px;
    float: left;
    background: #f1f1f1;
    border-bottom: 1px #ddd solid;
    font: bold 14px "微软雅黑", "Arial Unicode MS" 
}

.chinamap1 {
    width: 978px;
    height: auto;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px #999 dashed;
    float: left;
}

.chinamap1 .left11 {
    width: 360px;
    height: auto;
    margin-top: 10px;
    float: left 
}

.chinamap1 .left11 p {
    width: 340px;
    height: auto;
    font: bold 12px / 30px "宋体", Arial;
    color: #777;
    border-bottom: 1px #ddd dashed;
    float: left
}

.chinamap1 .right11 {
    width: 600px;
    height: auto;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    border-left: 1px #3a80c1 dashed;
    float: left;
}

/*站点地图erji*/
.webmap {
    width: 978px;
    height: auto;
    margin-top: 10px;
    border: 1px #3a80c1 solid;
    border-bottom: 0;
    float: left;
    padding: 10px;
}

.webmap .title01 {
    width: 968px;
    padding-left: 10px;
    margin-top: 20px;
    height: auto;
    border-bottom: 1px #ddd solid;
    float: left;
    color: #3a80c1;
    font: bold 14px / 30px "宋体", Arial;
}

.webmap .title02 {
    width: 978px;
    height: auto;
    float: left;
}

.webmap .title02 ul li {
    width: 146px;
    margin-top: 7px;
    height: auto;
    float: left;
    font: normal 14px / 1.5 "宋体", Arial;
    background: url(../images/sprite5.gif) no-repeat 0 8px;
    _background: url(../images/sprite5.gif) no-repeat 0 7px;
    padding-left: 15px;
}

/*世界地图erji*/
.columnc {
    width: 960px;
    background: url(../images/worldmap.jpg) no-repeat left top;
    height: 528px;
    float: left;
    padding: 20px;
    position: relative;
}

.columnc ul {
    position: absolute;
    width: 960px;
    height: 528px;
    top: 0px;
    left: 0px;
}

.columnc li {
    float: left;
    width: 81px;
    height: 220px;
}

.columnc dl {
    text-align: center;
    position: absolute;
    bottom: 0px;
    margin-left: 26px;
    left: 0;
    bottom: 0;
}

.columnc dt {
    font-weight: bold;
    line-height: 14px;
}

.columnc dd {
    width: 24px;
}

.columnc span {
    display: block;
    width: 100%;
    height: 100%;
}

.columnc span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/ups_columncspanbg.png) repeat-y left !important;
}

* html .columnc span {
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/ups_columncspanbg.png");
    background: none;
    filter: alpha(opacity=50);
}

.columnc1 {
    width: 978px;
    height: auto;
    float: left;
    padding: 10px;
    border: 1px #ddd solid
}

.columnc1 ul li {
    width: 170px;
    height: auto;
    float: left;
    font: 14px / 30px 'microsoft yahei', 'simhei';
    color: #000;
    margin-left: 20px;
    border-bottom: 1px #ddd dashed
}

.columnc1 ul li span {
    font: bold 16px / 30px Arial;
    color: red
}

/*2013/3/20新增加*/
.dateceng {
    width: 100%;
    background: #EEEEEE;
    float: left;
    padding-bottom: 20px;
}

.dateceng-nr {
    width: 1000px;
    margin: 0 auto;
}

.dateceng-nr-areal {
    width: 470px;
    background: #EEEEEE;
    float: left;
}

.dateceng-nr-arear {
    width: 470px;
    background: #EEEEEE;
    float: right;
}

.dateceng-nr-area {
    width: 470px;
    margin-top: 10px;
    float: left;
    background: #fff;
    padding: 10px
}

.dateceng-nr-area h1 {
    width: 460px;
    padding: 5px 0 5px 10px;
    font: bold 16px / 30px 'microsoft yahei', 'Arial';
    float: left;
    border-bottom: 1px solid #ddd;
}

.dateceng-nr-area .nr {
    width: 450px;
    padding: 10px;
    float: left;
}

.dateceng-nr-area .xnr {
    width: 450px;
    color: #777;
    padding-top: 10px;
    font: normal 12px / 2 '宋体', 'Arial';
    float: left;
}

.dateceng-nr-area .xnr .youtu {
    width: 100px;
    padding: 10px;
    text-align: left;
    float: left;
}

.dateceng-nr-area .list {
    width: 450px;
    float: left;
}

.dateceng-nr-area .list ul li {
    width: 432px;
    color: #777;
    line-height: 30px;
    border-bottom: 1px dashed #f0f0f0;
    background: url(../images/graypoint.png) no-repeat 3px 50%;
    padding-left: 18px;
    float: left;
}

.usemenu {
    width: 1020px;
    height: 44px;
    margin-top: 15px;
    float: left;
    background: url(../images/erjiaa.png) repeat-x;
    display: block;
}

.usemenu ul li {
    width: 120px;
    text-align: center;
    border-right: 1px solid #eeeeee;
    font: bold 14px / 35px 'microsoft yahei', 'Arial';
    float: left;
}

.usemenu ul li a {
    width: 120px;
    text-align: center;
    height: 44px;
    float: left;
    background: url(../images/erjibg.png) repeat-x;
    color: #c5e3f4 
}

.usemenu ul li a:hover {
    width: 120px;
    text-align: center;
    height: 44px;
    float: left;
    background: url(../images/erjixz.png) no-repeat;
    color: #fff
}

.usemenu ul li a.hover {
    width: 120px;
    text-align: center;
    height: 44px;
    float: left;
    background: url(../images/erjixz.png) no-repeat;
    color: #fff
}

/*2013/4/20左侧幻灯新增*/
.box3601110 {
    float: left;
    width: 255px;
    height: 170px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #fff;
    overflow: hidden;
}

.box3601110 ul {
    margin: 0;
    padding: 0;
}

.box3601110 ul li {
    width: 255px;
    height: 155px;
    float: left;
    font: bold 14px / 20px 'microsoft', '宋体';
    text-align: center;
    overflow: hidden;
    display: none
}

/*2013/4/30流程幻灯新增*/
.klnr {
    width: 800px;
    float: left;
    height: 313px;
    margin: 60px 0 0 100px;
    position: relative;
    background: #fff;
    float: left;
    display: inline;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 313px;
    display: hidden;
}

#featured > img, #featured > div, #featured > a {
    display: none;
}

div.orbit-wrapper {
    width: 1px;
    height: 1px;
    position: relative;
}

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden
}

div.orbit > img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

div.orbit > a {

    border: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    display: none;
}

.orbit > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.orbit-wrapper .orbit-caption {
    background: #fff;
    z-index: 1000;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

div.slider-nav {
    display: block 
}

div.slider-nav span {
    width: 110px;
    height: 37px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: 140px;
    cursor: pointer;
}

div.slider-nav span.right {
    background: url(../images/xiayibu2.png);
    right: 0;
}

div.slider-nav span.left {
    background: url(../images/shangyibu2.png);
    left: 0;
}
