/* 1.1 Macintosh Safari Input Field Styling */

input[type=text]:focus, input[type=submit]:focus, input[type=password]:focus, textarea:focus, select:focus {
	outline: 0 none;
}


/* 2.0 Layout Structure */


.content-wrapper {
	width: 715px;
	height: 235px;
	float:left;
}

.content-wrapper .content {
	width: 715px;
	padding:0;
	float:left;
	overflow: hidden;
}

.content-wrapper .content .left-side {
	width: 587px;
	padding:0;
	margin:0;
	background: url(../images/content-left-side-bg.png) top right repeat-y;
	float: left;
}

.content-wrapper .content .right-side {
	width:250px;
	padding:0;
	margin:0;
	float: left;
}




/* 16.0 Homepage Styling */

.homepage-wrapper {
	padding:0;
}

.homepage-slider {
	width: 715px;
	position: relative;
	overflow: hidden;
}

.homepage-slider .tag {
	width: 81px;
	height: 81px;
	background: url(../images/top-stories-tag.png) 0 0 no-repeat;
	position: absolute;
	z-index: 1;
}

.homepage-slider .rounded-corners {
	width: 715px;
	height: 3px;
	background: url(../images/homepage-slider-rounded-corners.png) 0 0 no-repeat;
	position: absolute;
	z-index: 2;
}

.homepage-slider .navigation {
	padding: 16px 0;
	margin: -60px 0 5px 300px;
	overflow: hidden;position: absolute;
	z-index: 80;
}

.homepage-slider .navigation a {
	margin: 0 10px 0 0;
	width: 10px;
	height: 10px;
	background: url(../images/ico-bullet-8.png) 0 0 no-repeat;
	display: block;
	float: left;}

.homepage-slider .navigation a:hover {
	background-position: 0 -10px;
}

.homepage-slider .navigation .active {
	background-position: 0 -10px;
}

.homepage-slider .btn-previous {
	margin: 0 0 0 10px;width:56px;
	height: 235px;
	position: absolute;
	z-index: 2; display:inline
}

.homepage-slider .btn-previous:hover {background: url(../images/homepage-slider-btn-previous-bg.png) center left no-repeat;}

.homepage-slider .btn-next {margin: 0 0 0 653px; width:56px; height: 235px; position: absolute; display:inline;z-index: 2;}
.homepage-slider .btn-next:hover {background: url(../images/homepage-slider-btn-next-bg.png) center right no-repeat;}

.homepage-slider-item {width: 715px;height: 235px; float: left; z-index:1;}

.homepage-slider-item-zt{width: 715px;height: 235px;  float: left; position:relative}
.homepage-slider-item-tu{width: 715px;height: 235px;  float: left; position:absolute; left:0px; top:0px; z-index:2;}
.homepage-slider-item-left{width: 140px;height:30px; float: left; position:absolute; left:45px; top:190px; z-index:5; color:#fff; text-align:center; font:bold 14px/30px 'microsoft yahei'}
.homepage-slider-item-right{width: 140px;height:30px; float: left; position:absolute; left:550px; top:190px;z-index:5; color:#fff; text-align:center; font:bold 14px/30px 'microsoft yahei'}