@charset "utf-8";
/*清除文档类型声明中的默认属性*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset,
input, p, blockquote, td, th, tr {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

/*字体定义*/
body {
    font: 12px "宋体", arial, helvetica, clean, sans-serif;
    line-height: 20px;
    background: #fff;
}

table {
    font-size: inherit;
}

/*重新定义*/
h1 {
    font-size: 14px;
}

h2 {
    font-size: 14px;
    font-weight: normal;
}

h3 {
    font-size: 12px;
}

h4 {
    font-size: 12px;
    font-weight: normal;
}

strong, .m_bold {
    font-weight: bold
}

a {
    text-decoration: none;
    cursor: pointer
}

a:link {
    color: #004276;
    text-decoration: none;
}

a:visited {
    color: #004276
}

a:hover {
    text-decoration: none;
    color: #ba2636
}

input, select {
    font-size: 12px
}

a.biaoti {
    text-decoration: none;
    cursor: pointer
}

a.biaoti:link {
    color: #135a9c;
    text-decoration: none;
}

a.biaoti:visited {
    color: #135a9c
}

a.biaoti:hover {
    text-decoration: underline;
    color: #135a9c
}

a.neirong {
    text-decoration: none;
    cursor: pointer
}

a.neirong:link {
    color: #919191;
    text-decoration: none;
}

a.neirong:visited {
    color: #919191
}

a.neirong:hover {
    text-decoration: underline;
    color: #919191
}

.list03
{
    width: 100%;
    height: auto;
    float: left;
    display: inline;
    margin-top: 5px;
    padding-top: 5px;
}

.list03 a
{
    font-size: 14px;
    line-height: 28px;
    color: #145b9d;
}

.list03 a:hover
{
    font-size: 14px;
    color: #145b9d;
    line-height: 28px;
    text-decoration: underline;
}

.list03 li
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    display: inline;
    background: url(../images/list-dot2.gif) no-repeat 0 7px;
    text-indent: 15px;
    line-height: 34px;
    font-size: 12px;
    margin-bottom: 2px;
    border-bottom: 1px #c7c7c7 dashed;
}

.list03 li .subject
{
    width: 100%;
    float: left;
}

.list03 li .detail
{
    float: left;
}

.list03 li .detail a.neirong
{
    color: #919191;
    line-height: 22px;
}

.list03 li .detail a.neirong:hover
{
    color: #919191;
    line-height: 22px;
    text-decoration: underline;
}

.list03 li .detail a.xiangqing
{
    color: #12599b;
    font-size: 14px;
    line-height: 22px;
}

.list03 li .detail a.xiangqing:hover
{
    color: #12599b;
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
}


