@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: local('Carter One'), local('CarterOne'), url(http://fonts.gstatic.com/s/carterone/v8/VjW2qt1pkqVtO22ObxgEBS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
