body {
    overflow-x: hidden;
    background: #ffffff;
}

p {
    font-size: 20px;
}
.alert-success .red {
    color: Red;
}
p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #7fab2d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #0288d1;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}
.col-sm-4.control-label {
    text-align: justify;
    width: 29.333%;
}
.img-centered {
    margin: 0 auto;
}

header {
 background: #f7f7f7 url("/img/worldmap.jpg") repeat scroll 0 0;
    color: #2b2b2b;
    margin-top: 60px;
    text-align: center;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    color: #389cd0;
    display: block;
    font-family: bitter,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    margin-bottom: 25px;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    header .intro-text .name {
        font-size: 2.75em;
    }

header .intro-text .skills {
    color: #7a7a7a;
    font-family: source sans pro;
    font-size: 1.3em;
}
}
.maintitle {
   color: rgb(43, 43, 43);
    font-family: open sans;
    font-size: 36px !important;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 46px;
    margin-bottom: 20px;
}
.advrtbox {
    color: #7a7a7a;
    height: 110px;
    margin-left: 20px;
    margin-top: 10px;
}
.advrtboxsub2 {
   margin-left: 40px;
    margin-top: 5px;
    width: 400px;
}
.advrtboxsub1 {
margin-left: 40px;
    width: 380px;
}
h5 {
 color: #2b2b2b;
    font-size: 18px;
}
.divider {
    margin-bottom: -20px;
    margin-top: -20px;
    text-align: center;
}
h4 {
    color: #2b2b2b;
    font-family: bitter;
    font-size: 20px;
}

.servicebox1 {
    background: none repeat scroll 0 0 #2c3e50;
    height: 40px;
}
.servicebox {
    color: #7b7b7b;
    font-family: source sans pro;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-left: -62px;
    padding-right: 57px;
    padding-top: 10px;
    text-align: center;
    width: 280px;
}
.divider img {
    background: none repeat scroll 0 0 #fff;
    padding: 15px;
    width: 60px;
}
@media(min-width:768px) {
    .navbar-fixed-top {
        box-shadow: 0 0 4px 1px;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    font-family: bitter,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.footer-nav {
    display: block;
    margin-left: 80px;
    text-align: justify;
}
#stats1, #stats2, #stats3 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
}
.statssection {
    margin-left: 100px;
    text-align: justify;
}
.statssection img {
    float: left;
    margin-right: 15px;
}

.form-control:focus {
    background: #f7f7f7 none repeat scroll 0 0;
    border-color: #03a9f4;
    color: #2b2b2b;
    font-family: source sans pro;
    font-size: 16px;
}

.form-control, input {
    text-align: center;
    vertical-align: middle;
}
.form-horizontal .control-label {
     color: #7a7a7a;
}
.regmaintitle {
    color: #2b2b2b;
    font-family: bitter,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    margin-top: 25px;
}
.navbar a:focus {
    outline: 0;
}
.error.valid {
    color: green;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}
label.error {
    color: red;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;

}
.navbar .navbar-nav {
    letter-spacing: 1px;
    font-size: 1.2em;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 30px 0;
}

section h2 {
    margin: 0;
    font-size: 2.5em;
}

section.success {
    color: #fff;
    background: #0288d1;

}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #7b7b7b;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #03a9f4;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #7b7b7b;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #f3f3f3;
}

footer .footer-col {
    margin-bottom: 50px;
}
.footernavbar a {
    color: #7b7b7b;
}
.footernavbar a:hover {
    color: #03a9f4;
}
footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #7b7b7b;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
#fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1234;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 102px;
    z-index: 1234;
    text-align:center;
    overflow: auto;
        margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
}
.alert-danger {
    font-size: 16px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}
.alert-success {
    background-color: #74d258;
    color: #ffffff;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}
/* FAQ css */

/*Add some spacing*/
.faq-section{
        margin: 10px 0;
        position: relative;
}

/*Hide the paragraphs*/
.faq-section p{
        display: none;
}       

/*Hide the checkboxes */
.faq-section input{
        position: absolute;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        display: none\9; /* IE8 and below */
        margin: 0;
        width: 100%;
        height: 36px;
}

/*Show only the clipped intro */
.faq-section label + p {
    color: #ffffff;
    font-size: 0.85em;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.15s ease-out 0s;
    white-space: nowrap;
}

/*If the checkbox is checked, show all paragraphs*/
.faq-section input[type="checkbox"]:checked ~ p {
    background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 2px solid #008cdb;
    border-left: 2px solid #008cdb;
    border-right: 2px solid #008cdb;
    color: #7a7a7a;
    display: block;
    font-family: source sans pro;
    font-size: 1em;
    font-weight: normal;
    overflow: visible;
    padding: 5px 0 8px 20px;
    text-overflow: clip;
    white-space: normal;
}

/*Style the label*/
.faq-section label {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f3f3f3 none repeat scroll 0 0;
    border-color: #ddd #ddd #ddd #888;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    color: #7a7a7a;
    display: block;
    font-family: source sans pro;
    font-size: 1.2em;
    font-weight: normal;
    padding: 7px 10px;
    position: relative;
    transition: all 0.15s ease-out 0s;
}

/*Remove text selection when toggle-ing*/
.faq-section label::selection{
        background: none;
}



/*If the checkbox is checked, style the label accordingly*/
.faq-section input[type="checkbox"]:checked ~ label {
    background: #03a9f4 none repeat scroll 0 0;
    border-left: 9px solid #008cdb;
    border-right: 2px solid #008cdb;
    color: #ffffff;
    margin-bottom: 0;
}

/*Label's arrow - default state */
.faq-section label::before{
        content: '';
        position: absolute;
        right: 4px;
        top: 50%;
        margin-top: -6px;
        border: 6px solid transparent;
        border-left-color: inherit;
}

/*Update the right arrow*/
.faq-section input[type=checkbox]:checked~label::before{
        border: 6px solid transparent;
        border-top-color: inherit;
        margin-top: -3px;
        right: 10px;
}
.faq-section input{
        position: absolute;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        display: none\9; /* IE8 and below */
        margin: 0;
        width: 100%;
        height: 36px;
}
.fa-25x{
    font-size: 2.5em;
}
.round-outside-desktop {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 120px;
    margin-left: 62px;
    width: 120px;

}
.round-outside-desktop:hover {
    border: 2px solid #e54d42;
}
.round-desktop {
    background: #f3f3f3 none repeat scroll 0 0 !important;
    border: 1px solid #e2e1e0;
    border-radius: 50%;
    color: #e54d42;
    font-size: 20px;
    height: 100px;
    line-height: 90px;
    margin-left: 8px;
    margin-top: 8px;
    padding-top: 18px;
    text-align: center;
    width: 100px;
}
.round-desktop:hover {
    background: #e54d42 none repeat scroll 0 0 !important;
    color: #f7f7f7;
}

.round-outside-mobile {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 120px;
    margin-left: 62px;
    width: 120px;

}
.round-outside-mobile:hover {
    border: 2px solid #03a9f4;
}
.round-mobile {
    background: #f3f3f3 none repeat scroll 0 0 !important;
    border: 1px solid #e2e1e0;
    border-radius: 50%;
    color: #03a9f4;
    font-size: 20px;
    height: 100px;
    line-height: 90px;
    margin-left: 8px;
    margin-top: 8px;
    padding-top: 18px;
    text-align: center;
    width: 100px;
}
.round-mobile:hover {
    background: #03a9f4 none repeat scroll 0 0 !important;
    color: #f7f7f7;
}

.round-outside-directlink {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 120px;
    margin-left: 62px;
    width: 120px;

}
.round-outside-directlink:hover {
    border: 2px solid #00cc33;
}
.round-directlink {
    background: #f3f3f3 none repeat scroll 0 0 !important;
    border: 1px solid #e2e1e0;
    border-radius: 50%;
    color: #00cc33;
    font-size: 20px;
    height: 100px;
    line-height: 90px;
    margin-left: 8px;
    margin-top: 8px;
    padding-top: 18px;
    text-align: center;
    width: 100px;
}
.round-directlink:hover {
    background: #00cc33 none repeat scroll 0 0 !important;
    color: #f7f7f7;
}

.btn-primary {
    background: #03a9f4 none repeat scroll 0 0;
    color: #ffffff;
    font-family: source sans pro;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 6px 40px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #0093db;
    color: #ffffff;
}
.facebook:hover {
    color: #3b5998;
}
.twitter:hover {
    color: #4099FF;
}
.gplus:hover {
    color: #d34836;
}