/*General Button Class */				

.sxmButtonLarge {
		display:block;
	overflow:hidden;
	height:41px;
	/*
    -moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	-moz-box-shadow: 0px 1px 3px #666;  
	-webkit-box-shadow: 0px 1px 3px #666;
	box-shadow: 0px 1px 3px #666; 
*/
}
				
.sxmButtonSmall {
		display:block;
	overflow:hidden;
	height:25px;
	/*
	-moz-border-radius:16px;
   	-webkit-border-radius:16px;
   	border-radius:16px;
	-moz-box-shadow: 0px 1px 3px #666;  
	-webkit-box-shadow: 0px 1px 3px #666;
	box-shadow: 0px 1px 3px #666; 
	*/
}
								
/* Blue Button */
.buttonBlueLarge {
	/*background:url('/layout/img/button/ButtonBack_Big_Blue.jpg') repeat-x scroll #27a7f0;*/
	color:#FFFFFF;	
}
.buttonBlueLarge a {
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/WhiteArrowBig.png') no-repeat right 13px;
	padding:9px 22px;
}

.buttonBlueLarge a:hover {
	color:#122c67;
	background:url('/layout/img/button/WhiteArrowBigBlue.png') no-repeat right 13px;
}

.buttonBlueSmall {
	/*background:url('/layout/img/button/ButtonBack_Small_Blue.jpg') repeat-x scroll #27a7f0;*/
	color:#FFFFFF;
}
.buttonBlueSmall a {
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/WhiteArrowSmall.png') no-repeat right 5px;
	padding:4px 15px;
}

.buttonBlueSmall a:hover {
	color:#122c67;
	background:url('/layout/img/button/WhiteArrowSmallBlue.png') no-repeat right 5px;
}

.bsblue90 {
	background-image:url("/layout/img/button/SmallButton_Blue_90x25.png");
	background-repeat:no-repeat;
	width:90px;
}

.bsblue140 {
	background-image:url("/layout/img/button/SmallButton_Blue_140x25.png");
	background-repeat:no-repeat;
	width:140px;
}

.bsblue185 {
	background-image:url("/layout/img/button/SmallButton_Blue_185x25.png");
	background-repeat:no-repeat;
	width:185px;
}

.bsblue201 {
	background-image:url("/layout/img/button/SmallButton_Blue_201x25.png");
	background-repeat:no-repeat;
	width:201px;
}

.bsblue220 {
	background-image:url("/layout/img/button/SmallButton_Blue_220x25.png");
	background-repeat:no-repeat;
	width:220px;
}

.bsblue240 {
	background-image:url("/layout/img/button/SmallButton_Blue_240x25.png");
	background-repeat:no-repeat;
	width:240px;
}

.blblue160 {
	background-image:url("/layout/img/button/LargeButton_Blue_160x41.png");
	background-repeat:no-repeat;
	width:160px;
}

.blblue200 {
	background-image:url("/layout/img/button/LargeButton_Blue_200x41.png");
	background-repeat:no-repeat;
	width:200px;
}

.blblue210 {
	background-image:url("/layout/img/button/LargeButton_Blue_210x41.png");
	background-repeat:no-repeat;
	width:210px;
}

.blblue220 {
	background-image:url("/layout/img/button/LargeButton_Blue_220x41.png");
	background-repeat:no-repeat;
	width:220px;
}

.blblue260 {
	background-image:url("/layout/img/button/LargeButton_Blue_260x41.png");
	background-repeat:no-repeat;
	width:260px;
}

.blblue280 {
	background-image:url("/layout/img/button/LargeButton_Blue_280x41.png");
	background-repeat:no-repeat;
	width:280px;
}

.blblue340 {
	background-image:url("/layout/img/button/LargeButton_Blue_340x41.png");
	background-repeat:no-repeat;
	width:340px;
}

/* Purple Button */
.buttonPurpleLarge {
	/*background:url('/layout/img/button/ButtonBack_Big_Purple.jpg') repeat-x scroll #9515aa;*/
	color:#FFFFFF;	
}
.buttonPurpleLarge a {
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/WhiteArrowBig.png') no-repeat right 13px;
	padding:9px 22px;
}

.buttonPurpleLarge a:hover {
	color:#490654;
	background:url('/layout/img/button/WhiteArrowBigPurple.png') no-repeat right 13px;
}

.buttonPurpleSmall {
	/*background:url('/layout/img/button/ButtonBack_Small_Purple.jpg') repeat-x scroll #9515aa;*/
	color:#FFFFFF;
}
.buttonPurpleSmall a {
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/WhiteArrowSmall.png') no-repeat right 5px;
	padding:4px 15px;
}

.buttonPurpleSmall a:hover {
	color:#490654;
	background:url('/layout/img/button/WhiteArrowSmallPurple.png') no-repeat right 5px;
}

.bspurple90 {
	background-image:url("/layout/img/button/SmallButton_Purple_90x25.png");
	background-repeat:no-repeat;
	width:90px;
}

.bspurple140 {
	background-image:url("/layout/img/button/SmallButton_Purple_140x25.png");
	background-repeat:no-repeat;
	width:140px;
}

.bspurple185 {
	background-image:url("/layout/img/button/SmallButton_Purple_185x25.png");
	background-repeat:no-repeat;
	width:185px;
}

.bspurple201 {
	background-image:url("/layout/img/button/SmallButton_Purple_201x25.png");
	background-repeat:no-repeat;
	width:201px;
}

.bspurple220 {
	background-image:url("/layout/img/button/SmallButton_Purple_220x25.png");
	background-repeat:no-repeat;
	width:220px;
}

.bspurple240 {
	background-image:url("/layout/img/button/SmallButton_Purple_240x25.png");
	background-repeat:no-repeat;
	width:240px;
}

.blpurple160 {
	background-image:url("/layout/img/button/LargeButton_Purple_160x41.png");
	background-repeat:no-repeat;
	width:160px;
}

.blpurple200 {
	background-image:url("/layout/img/button/LargeButton_Purple_200x41.png");
	background-repeat:no-repeat;
	width:200px;
}


.blpurple210 {
	background-image:url("/layout/img/button/LargeButton_Purple_210x41.png");
	background-repeat:no-repeat;
	width:210px;
}

.blpurple220 {
	background-image:url("/layout/img/button/LargeButton_Purple_220x41.png");
	background-repeat:no-repeat;
	width:220px;
}
.contactbtn {
	background-image:url("/layout/img/button/LargeButton_Purple_220x41.png");
	background-repeat:no-repeat;
	width:220px;	
}

.blpurple260 {
	background-image:url("/layout/img/button/LargeButton_Purple_260x41.png");
	background-repeat:no-repeat;
	width:260px;
}

.blpurple280 {
	background-image:url("/layout/img/button/LargeButton_Purple_280x41.png");
	background-repeat:no-repeat;
	width:280px;
}


/* Green Button */
.buttonGreenLarge {
	/*background:url('/layout/img/button/ButtonBack_Big_Green.jpg') repeat-x scroll #1eaa23;*/
	color:#FFFFFF;	
}
.buttonGreenLarge a {
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/WhiteArrowBig.png') no-repeat right 13px;
	padding:9px 22px;
}

.buttonGreenLarge a:hover {
	color:#035e04;
	background:url('/layout/img/button/WhiteArrowBigGreen.png') no-repeat right 13px;
}

.buttonGreenSmall {
	/*background:url('/layout/img/button/ButtonBack_Small_Green.jpg') repeat-x scroll #1eaa23;*/
	color:#FFFFFF;
}
.buttonGreenSmall a {
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/WhiteArrowSmall.png') no-repeat right 5px;
	padding:4px 15px;
}

.buttonGreenSmall a:hover {
	color:#035e04;
	background:url('/layout/img/button/WhiteArrowSmallGreen.png') no-repeat right 5px;
}

.bsgreen90 {
	background-image:url("/layout/img/button/SmallButton_Green_90x25.png");
	background-repeat:no-repeat;
	width:90px;
}

.bsgreen140 {
	background-image:url("/layout/img/button/SmallButton_Green_140x25.png");
	background-repeat:no-repeat;
	width:140px;
}

.bsgreen185 {
	background-image:url("/layout/img/button/SmallButton_Green_185x25.png");
	background-repeat:no-repeat;
	width:185px;
}

.bsgreen201 {
	background-image:url("/layout/img/button/SmallButton_Green_201x25.png");
	background-repeat:no-repeat;
	width:201px;
}

.bsgreen220 {
	background-image:url("/layout/img/button/SmallButton_Green_220x25.png");
	background-repeat:no-repeat;
	width:220px;
}

.bsgreen240 {
	background-image:url("/layout/img/button/SmallButton_Green_240x25.png");
	background-repeat:no-repeat;
	width:240px;
}

.blgreen160 {
	background-image:url("/layout/img/button/LargeButton_Green_160x41.png");
	background-repeat:no-repeat;
	width:160px;
}

.blgreen200 {
	background-image:url("/layout/img/button/LargeButton_Green_200x41.png");
	background-repeat:no-repeat;
	width:200px;
}

.blgreen210 {
	background-image:url("/layout/img/button/LargeButton_Green_210x41.png");
	background-repeat:no-repeat;
	width:210px;
}

.blgreen220 {
	background-image:url("/layout/img/button/LargeButton_Green_220x41.png");
	background-repeat:no-repeat;
	width:220px;
}

.blgreen260 {
	background-image:url("/layout/img/button/LargeButton_Green_260x41.png");
	background-repeat:no-repeat;
	width:260px;
}

.blgreen280 {
	background-image:url("/layout/img/button/LargeButton_Green_280x41.png");
	background-repeat:no-repeat;
	width:280px;
}

.blgreen340 {
	background-image:url("/layout/img/button/LargeButton_Green_340x41.png");
	background-repeat:no-repeat;
	width:340px;
}


/* White/Blue Button */
.buttonWhiteBlueLarge {
	/*background:url('/layout/img/button/ButtonBack_Big_White.png') repeat-x scroll #e6e6e6;*/
	color:#11aaff;	
}
.buttonWhiteBlueLarge a {
	color:#11aaff;
	font-size:18px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/BlueArrowBig.png') no-repeat right 13px;
	padding:9px 22px;
}

.buttonWhiteBlueLarge a:hover {
	color:#112c61;
	background:url('/layout/img/button/DkBlueArrowBig.png') no-repeat right 13px;
}

.buttonWhiteBlueSmall {
	/*background:url('/layout/img/button/ButtonBack_Small_White.png') repeat-x scroll #e6e6e6;*/
	color:#11aaff;
}
.buttonWhiteBlueSmall a {
	color:#11aaff;
	font-size:14px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/BlueArrowSmall.png') no-repeat right 5px;
	padding:4px 15px;
}

.buttonWhiteBlueSmall a:hover {
	color:#112c61;
	background:url('/layout/img/button/DkBlueArrowSmall.png') no-repeat right 5px;
}

/* White/Green Button */
.buttonWhiteGreenLarge {
	/*background:url('/layout/img/button/ButtonBack_Big_White.jpg') repeat-x #e6e6e6;*/
	color:#09ae0e;	
}
.buttonWhiteGreenLarge a {
	color:#09ae0e;
	font-size:18px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/GreenArrowBig.png') no-repeat right 13px;
	padding:9px 22px;
}

.buttonWhiteGreenLarge a:hover {
	color:#035e04;
	background:url('/layout/img/button/DkGreenArrowBig.png') no-repeat right 13px;
}

.buttonWhiteGreenSmall {
	/*background:url('/layout/img/button/ButtonBack_Small_White.png') repeat-x #e6e6e6;*/
	color:#09ae0e;
}
.buttonWhiteGreenSmall a {
	color:#09ae0e;
	font-size:14px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/GreenArrowSmall.png') no-repeat right 5px;
	padding:4px 15px;
}

.buttonWhiteGreenSmall a:hover {
	color:#035e04;
	background:url('/layout/img/button/DkGreenArrowSmall.png') no-repeat right 5px;
}

.bswhite90 {
	background-image:url("/layout/img/button/SmallButton_White_90x25.png");
	background-repeat:no-repeat;
	width:90px;
}

.bswhite140 {
	background-image:url("/layout/img/button/SmallButton_White_140x25.png");
	background-repeat:no-repeat;
	width:140px;
}

.bswhite185 {
	background-image:url("/layout/img/button/SmallButton_White_185x25.png");
	background-repeat:no-repeat;
	width:185px;
}

.bswhite201 {
	background-image:url("/layout/img/button/SmallButton_White_201x25.png");
	background-repeat:no-repeat;
	width:201px;
}

.bswhite220 {
	background-image:url("/layout/img/button/SmallButton_White_220x25.png");
	background-repeat:no-repeat;
	width:220px;
}

.bswhite240 {
	background-image:url("/layout/img/button/SmallButton_White_240x25.png");
	background-repeat:no-repeat;
	width:240px;
}

.bswhite250 {

	background-image:url("/layout/img/button/SmallButton_White_250x25.png");

	background-repeat:no-repeat;

	width:250px;

}

.bswhite260 {

	background-image:url("/layout/img/button/SmallButton_White_260x25.png");

	background-repeat:no-repeat;

	width:260px;

}

.bswhite270 {

	background-image:url("/layout/img/button/SmallButton_White_270x25.png");

	background-repeat:no-repeat;

	width:270px;

}

.bswhite280 {

	background-image:url("/layout/img/button/SmallButton_White_280x25.png");

	background-repeat:no-repeat;

	width:280px;

}


.blwhite160 {
	background-image:url("/layout/img/button/LargeButton_White_160x41.png");
	background-repeat:no-repeat;
	width:160px;
}

.blwhite200 {
	background-image:url("/layout/img/button/LargeButton_White_200x41.png");
	background-repeat:no-repeat;
	width:200px;
}

.blwhite210 {
	background-image:url("/layout/img/button/LargeButton_White_210x41.png");
	background-repeat:no-repeat;
	width:210px;
}

.blwhite220 {
	background-image:url("/layout/img/button/LargeButton_White_220x41.png");
	background-repeat:no-repeat;
	width:220px;
}

.blwhite260 {
	background-image:url("/layout/img/button/LargeButton_White_260x41.png");
	background-repeat:no-repeat;
	width:260px;
}
.blwhite280 {
	background-image:url("/layout/img/button/LargeButton_White_280x41.png");
	background-repeat:no-repeat;
	width:280px;
}


/* White/Purple Button */
.buttonWhitePurpleLarge {
	/*background:url('/layout/img/button/ButtonBack_Big_White.jpg') repeat-x scroll #e6e6e6;*/
	color:#9700b0;	
}
.buttonWhitePurpleLarge a {
	color:#9700b0;
	font-size:18px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/PurpleArrowBig.png') no-repeat right 13px;
	padding:9px 22px;
}

.buttonWhitePurpleLarge a:hover {
	color:#490654;
	background:url('/layout/img/button/DkPurpleArrowBig.png') no-repeat right 13px;
}

.buttonWhitePurpleSmall {
	background:url('/layout/img/button/ButtonBack_Small_White.jpg') repeat-x scroll #e6e6e6;
	color:#9700b0;
}
.buttonWhitePurpleSmall a {
	color:#9700b0;
	font-size:14px;
	font-weight:bold;
	display:block;
	text-decoration:none;
	background:url('/layout/img/button/PurpleArrowSmall.png') no-repeat right 5px;
	padding:4px 15px;
}

.buttonWhitePurpleSmall a:hover {
	color:#490654;
	background:url('/layout/img/button/DkPurpleArrowSmall.png') no-repeat right 5px;
}