/* footer */



#sxmcorporatefooter{
	font-family:Arial, Helvetica, sans-serif;
    border-top:1px solid #d6d6d6;
    width:980px;
    margin:0 auto;
    padding:20px 0 0 0;
    font-size:11px;
    color:#999;
    position:relative;
}

.box-rounded{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

#sxmcorporatefooter div.content{
    background:#fff;
    padding:20px;
}

#sxmcorporatefooter a.logo{
    display:block;
    width:167px;
    height:50px;
    background:url(../img/global/logo.png) no-repeat 0 -75px;
    overflow:hidden;
    text-indent:-1000px;
    position:relative;
    top:-6px;
    margin:0 0 6px 0;
}

#sxmcorporatefooter div.find-us{
    width:230px;
    float:left;
}

#sxmcorporatefooter div.find-us ul{
    margin:0;
   /* width:180px; SSH */
}

#sxmcorporatefooter div.find-us li{
    float:left;
    margin:0 10px 0 0;
}

#sxmcorporatefooter div.find-us li a{
    display:block;
    background:url(../img/global/find-us-logo.png) no-repeat 0 0;
    text-indent:-1000px;
    overflow:hidden;
    height:27px;
}

#sxmcorporatefooter div.find-us li a:hover{
    background-position:0 -25px;
}

#sxmcorporatefooter div.find-us li a.facebook{
    width:38px;
}

#sxmcorporatefooter div.find-us li a.youtube{
    width:66px;
    background-position:-100px 0;
}

#sxmcorporatefooter div.find-us li a.youtube:hover{
    background-position:-100px -25px;
}

#sxmcorporatefooter div.find-us li a.twitter{
    width:32px;
    background-position:-38px 0;
}

#sxmcorporatefooter div.find-us li a.twitter:hover{
    background-position:-38px -25px;
}

#sxmcorporatefooter div.find-us li a.instagram{
    width:30px;
    background-position:-70px 0;
}

#sxmcorporatefooter div.find-us li a.instagram:hover{
    background-position:-70px -25px;
}

#sxmcorporatefooter p.copyright{
    text-align:center;
    padding:10px 0 20px 0;
}

#sxmcorporatefooter p.copyright a{
    text-align:center;
    padding:10px 0 20px 0;
	font-weight: bold;
}

#sxmcorporatefooter a{
    color:#999;
    text-decoration:none;
}

#sxmcorporatefooter a:hover{
    color:#11aaff;
    text-decoration:underline;
}

#sxmcorporatefooter div.links ul{
    margin:0;
    float:left;
}

#sxmcorporatefooter div.links ul li{
    padding:0 0 6px 0;
}

#sxmcorporatefooter div.links ul li:last-child{
    padding:0 0 2px 0;
}

#sxmcorporatefooter h3{
    color:#666;
    font-size:14px;
    padding:0 0 8px 0;
}



#sxmcorporatefooter div.links{
    float:left;
    border-left:1px solid #e5e5e5;
    padding:0 0 0 12px;
}

#sxmcorporatefooter div.help{
    width:390px;
}

#sxmcorporatefooter div.company{
    width:290px;
}

#sxmcorporatefooter div.help ul.first{
    width:200px;
}

#sxmcorporatefooter div.company ul.first{
    width:160px;
}


/* RESET v1.0 | 20080212 */

div, span, h3, p, a, em, font, img, small, strike, strong, sub, sup, tt, var, b, u, i, center, ol, ul, li,
fieldset, form, label, legend, table, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

/* - END OF RESET CSS - */



/* >> The Magnificent CLEARFIX << */

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; } /* Hides from IE-mac \*/

.clearfix { display: block; }



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */