@import url("reset.css");
@import url("header.css");
@import url("footer.css");

/* SOME OTHER STYLES */

input, select { vertical-align:middle; }

body { font:11px arial, helvetica, sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
body, select, input, textarea { color:#333; }
table { font-size:inherit; font:100%; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility;  }
html { -webkit-font-smoothing: antialiased; }

a:hover, a:active { outline: none; }
a{ color:#11aaff; text-decoration:none; }
a:hover { color:#11aaff; text-decoration:underline; }

small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; }
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	
}
sub { top: .5ex; font-size: 75%; }
sup { bottom: 1ex; font-size: 75%; }
pre {
    padding: 15px;
    /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button],
input[type=submit], button { cursor: pointer; }

/* These selection declarations have to be separate. No text-shadow: twitter.com/miketaylr/status/12228805301 Also: hot pink. */
::-moz-selection{ background:#1295e8; color:#fff; text-shadow: none; }
::selection { background:#1295e8; color:#fff; text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/* NON-SEMANTIC helper classes */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders www.webaim.org/techniques/css/invisiblecontent/
    Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* MAIN STYLE */

body{
    background:#eee;
}

.left {
    float:left;
}

.right {
    float:right;
}

.blue {
    background-color:#0fa6fa;
}

.green {
    background-color:#4abc58;
}

.dotted {
    text-decoration:none !important;
    border-bottom:1px dotted #fff !important;

}

.dotted:hover {
    text-decoration:none !important;
    border-bottom:1px solid #fff !important;
}

/* tooltip */
.ui-tooltip {
    position: absolute !important;
    z-index: 3000 !important;
    border: 1px solid #999999 !important;
    background-color: #ffffcb !important;
    padding: 5px !important;
    -moz-box-shadow: 1px 1px 4px #333 !important;
    -webkit-box-shadow: 2px 2px 6px #333 !important;
    box-shadow: 2px 2px 6px #333 !important;
    max-width:200px !important;
	color: #000 !important;
}
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #999999;
    background-color: #ffffcb;
    padding: 5px;
    -moz-box-shadow: 1px 1px 4px #333;
    -webkit-box-shadow: 2px 2px 6px #333;
    box-shadow: 2px 2px 6px #333;
    max-width:200px;
}

#tooltip h3,
#tooltip div {
    margin: 0;
}

.tooltip-expand-active{
    color:#333;
    cursor:default;
}

.show-tooltip-content,
.tooltip-hidden{
    display:none;
}

.tooltip {
    width:193px;
    position:absolute;
    z-index:9999;
    font-size:11px;
    display:none;
}

.tooltip p{
	width:191px;
	padding:0 0 0 10px;
	left:-97px;
}

.tooltip p.tooltip-footer{
    padding-top:10px;
    border-top:1px solid #bbbbbb;
}

.tooltip a{
    font-weight:bold;
}

.tooltip .tooltip-top {
/*  height:14px;
    width:286px;
    background:url(/sxm/img/global/tooltip.png) no-repeat left top; */
 	position:relative;
	height:14px;
    width:251px;
    background:url("/sxm/img/global/tooltip.png") no-repeat left top;
	left:-97px;
}

.ie6 .tooltip .tooltip-top{
    background-image:url("/sxm/img/global/tooltip-ie.png");
}

.tooltip .tooltip-content{
/*  background:url(/sxm/img/global/tooltip-bg.png) repeat-y;
    padding:8px 20px 8px 20px;
	width:251px;*/
	width: 196px;
	position:relative;
	background:url("/sxm/img/global/tooltip-bg.png") repeat-y;
    padding:8px 20px 8px 23px;
	left:-97px;
}

.ie6 .tooltip .tooltip-content{
    background:url("/sxm/img/global/tooltip-bg-ie.png");
}

.tooltip .tooltip-bottom {
/*  height:26px;
    width:286px;
    background:url(/sxm/img/global/tooltip.png) no-repeat left -14px; */
	position:relative;
	height:26px;
    width:251px;
	left:-97px;
    background:url("/sxm/img/global/tooltip.png") no-repeat 0px -40px; 
}

.ie6 .tooltip .tooltip-bottom{
    background-image:url("/sxm/img/global/tooltip-ie.png");
}

.tooltip-left .tooltip-bottom{
    background-position:0 -66px;
}

.tooltip-right .tooltip-bottom{
    background-position:0 -40px;
}

/* Resolution boxes */

.tooltip .tooltip-top-right {
 	position:relative;
	height:14px;
    width:251px;
    background:url("/sxm/img/global/tooltip.png") no-repeat left top;
	left:-90px;
}

.tooltip .tooltip-content-right {
   	position:relative;
	background:url("/sxm/img/global/tooltip-bg.png") repeat-y;
    padding:8px 20px 0 20px;
	left:-90px;
}

.tooltip .tooltip-bottom-right {
	position:relative;
	height:26px;
    width:286px;
    background:url("/sxm/img/global/tooltip.png") no-repeat 0px -40px;
	left:-90px;
}

.tooltip .tooltip-top-left {
 	position:relative;
	height:14px;
    width:286px;
    background:url("/sxm/img/global/tooltip.png") no-repeat left top;
	left:90px;
}

.tooltip .tooltip-content-left {
   	position:relative;
	background:url("/sxm/img/global/tooltip-bg.png") repeat-y;
    padding:8px 20px 0 20px;
	left:90px;
}

.tooltip .tooltip-bottom-left {
    position:relative;
	height:26px;
    width:286px;
    background:url("/sxm/img/global/tooltip.png") no-repeat left -66px;
	left:90px;
}


/* CURRENTLY BEING USED INTERNALLY ON BEST OF XM/SIRIUS OPEN CONTENT PAGES

.tooltip .tooltip-top {
	position:relative;
	width:251px;
	height:14px;
    background:url(/sxm/img/global/tooltip.png) no-repeat left top;
}

.tooltip .tooltip-content{
   	position:relative;
	background:url(/sxm/img/global/tooltip-bg.png) repeat-y;
	width:251px;
    padding:8px 20px 0 20px;
}

.tooltip .tooltip-bottom {
   	position:relative;
 	height:26px;
    width:251px;
    background:url(/sxm/img/global/tooltip.png) no-repeat left -14px;
}
/*

/* end Resolution boxes */



.tooltip .tooltip-content div{
	width:191px;
	padding:0 0 0 10px;
	left:-97px;
}


/* buttons */

.btn {
    display:block;
    height:28px;
    text-indent:-9999px;
    cursor:pointer;
    float:left;
    padding:0 !important;
}

.btn:hover {
    background-position: 0 -36px;
}

.btn:active {
    background-position: 0 -69px;
}

.btn.listen-online {
    width:132px;
    background-image:url("/sxm/img/global/btn-listen-online.png");
}

.btn.enter-contest {
    width:117px;
    background-image:url("/sxm/img/global/btn-enter-contest.png");
}

.btn.cast-your-vote {
    width:128px;
    background-image:url("/sxm/img/global/btn-cast-your-vote.png");
}

/* load more */

#load-more {
    background:url("/sxm/img/global/load-more.png") no-repeat;
    height:45px;
    width:745px;
    display:block;
    overflow:hidden;
    text-indent:-1000px;
}

#load-more:hover {
    background-position: 0 -56px;
}

#load-more:active {
    background-position: 0 -112px;
}

#load-more.loading {
    -moz-border-radius:8px 8px 8px 8px;
    background:url("/img/global/loading.gif") no-repeat scroll center center #fff !important;
    border:1px solid #DFDFDF;
    cursor:default;
}

span.star{
    background:url("/sxm/img/global/icons.png") no-repeat 0 -52px;
    height:13px;
    width:18px;
    display:inline-block;
    overflow:hidden;
    text-indent:-1000px;
    top:-1px;
    margin:0 0 -1px 0;
    position:relative;
}

span.star:hover {
    cursor:pointer;
}

span.star-bottom{
    background:url("/sxm/img/global/icons.png") no-repeat 0 -52px;
    height:13px;
    width:18px;
    display:inline-block;
    overflow:hidden;
    text-indent:-1000px;
    top:-1px;
    margin:0 0 -1px 0;
    position:relative;
}

span.star-bottom:hover {
    cursor:default;
}

.ie6 span.star{
    background-image:url("/sxm/img/global/icons-ie.png");
}

a.channel-guide {
    float:right;
    position: absolute;
    top:53px;
    right:0;
    font-size:13px;
    color:#fff;
    border-bottom:1px dotted #fff;
    text-decoration:none;
}

a.channel-guide:hover{
    border-bottom:1px solid #fff;
}

/* dropdowns */

.menu-sublist a{
    color:#999;
    text-decoration:none;
    padding:0 0 4px 0;
    display:inline-block;
    font-size:11px !important;
}

.menu-sublist a:hover{
    color:#11aaff;
    text-decoration:underline;
}

.menu-sublist,
.menu-list{
    margin:0;
}

.menu-sublist li{
    color:#999;
}

.ie6 .menu-sublist li,
.ie6 .menu-list li{
    height:1%;
}

.menu-list a{
    background:url("/sxm/img/global/menu-arrow.png") no-repeat right 0;
    text-decoration:none;
    font-weight:bold;
    font-size:12px !important;
    border-bottom:1px solid #e5e5e5;
    padding:0 0 8px 0;
    display:block;
    margin:0 0 14px 0;
}

.menu-list a:hover{
    text-decoration:underline;
}

.menu-list a.last{
    border:0;
    margin:0;
}

/* JSA 10/20/2011 - grouped items  */
.menu-list-title
{
    color:#333;
    font-weight:bold;
    font-size:12px !important;
    display: block;
    padding:0 0 10px 0;
    margin:0 0 0 0;   
}
.menu-list-group-item, .menu-list-separator
{
	margin-left:10px !important;
}
.menu-list-separator{
		height:1px;
		border-top:1px solid #e5e5e5;
    padding:0 0 10px 0;
}
/**************/


/* main, hero */


#hero{
    background:#003870 url("/sxm/img/global/background-blue.jpg") no-repeat center 0;
}

#hero div.content{
    width:980px;
    margin:0 auto;
}

#hero .hero-title{
    padding:36px 0 62px 0;
    font-weight:bold;
    font-size:30px;
    color:#fff;
}

.breadcrumb-wrapper {
	text-align:left;
	width:980px;
	margin-left:auto;
	margin-right:auto;
	background:none;
	z-index:200;
}

.breadcrumb{
	width:980px;
	min-width:980px;
	padding:4px;
    font-size:11px;
	position:relative;
	text-align:left;
	position:absolute;
	top:84px;
	color:#fff;
	height:auto;
	z-index:200;
	
}

.breadcrumb a{
    color:#fff;
}

#hero .channel-title-wrapper {
	display:block;
	width:980px;
	padding-top: 35px;
}

#hero .channel-title {
	display:inline;
	font-size:30px;
	font-weight:bold;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
	padding-bottom:0;
	margin-bottom:0;
}

#hero .channel-subtitle {
	display:inline;
	font-size:24px;
	font-weight:normal;
	margin-left:10px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
	padding-bottom:0;
	margin-bottom:0;
}

#hero .channel-subtext {
    padding-bottom:16px;
    font-size:11px;
    color:#fff;
	display:inherit;
	width: 745px;
	min-height:16px;	
}

#main{
    width:980px;
    margin:0 auto -10px auto;
    position:relative;
    top:-30px;
    left:0;
}

.home #main .content{
    padding:20px;
    background:#fff;
}

.home #channel-main .content{
    padding:20px;
    background:#fff;
}

.open-content #main .content{
    padding:0px;
    background:#fff;
}

.open-content #channel-main .content{
    padding:20px;
    background:#fff;
}

/* channel pages */

#channel-main{
    width:980px;
    margin:0px auto auto auto;
	padding-bottom: 20px;
    position:relative;
    top:0;
    left:0;
}

.channel-page #main .content{
    padding:0px;
    background:#fff;
}

.channel-page #channel-main .content{
    padding:20px;
    background:#fff;
}

/* rounded corners */

.box-rounded{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

.box-rounded-top{
    -moz-border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    border-radius:8px 8px 0 0;
}

.box-rounded-bottom{
    -moz-border-radius:0 0 8px 8px;
    -webkit-border-radius:0 0 8px 8px;
    border-radius:0 0 8px 8px;
}

.box-rounded-left {
	-moz-border-radius:8px 0px 0px 8px;
	-webkit-border-radius:8px 0px 0px 8px;
    border-radius:8px 0px 0px 8px;
}

.box-rounded-top-left {
-moz-border-radius-bottomleft:0;
-moz-border-radius-bottomright:0;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:0;
border-radius: 8px 0 0 0;
}


.box-rounded-top-right {
	-moz-border-radius:0 8px 0 0;
	-webkit-border-radius:0 8px 0 0;
    border-radius:0 8px 0 0;
}

/* add this button styles */
a.middle, div.middle {
    padding-top:8px;
}

div.middle #toolbox{
    top:-67px;
}

.share {
    position:relative;
    width:65px;
    height:20px;
    float:left;
    cursor: pointer;
}

.share a.share-this {
    margin-right:0;
}

.add {
    position:relative;
    width:705px;
    height:20px;
	padding-bottom: 10px;
    float:left;
    cursor: pointer;
	border-bottom: 1px #666 dotted;
}

.add a.add-this {
    margin-right:0;
}

#toolbox {
    position:absolute;
    background:#fff;
    left:-59px;
    top:-75px;
    width:164px;
    background:url("/sxm/img/global/share-popup.png") no-repeat;
    height:70px;
    padding:10px;
    z-index:9999;
}

.ie6 #toolbox {
    background:url("/sxm/img/global/share-popup-ie.png") no-repeat;
}

#toolbox a {
    float:left;
}

#toolbox .buttons {
    width:116px;
    margin:0 auto;
    padding-top:7px;
}

.ie6 #toolbox .buttons {
    padding-top:3px;
}

#toolbox .buttons a {
    margin-right:7px;
}

#toolbox .addthis_button_twitter  {
    margin-right:0px !important;
}

/* video player and carousel module */
/* inside the studio module */
p.loading{
    background:url("/sxm/img/global/loading.gif") no-repeat center center;
    height:100px;
    overflow:hidden;
    text-indent:-1000px;
}

.video-box, .image-box {
   width:179px;
   background:gray;
   margin:0 auto;
   margin-top:10px;
}

.video-caption, .image-caption {
    color:#fff;
    padding:5px;
}

.video-play, .image-link {
   position:relative;
   display:block;
   width:179px;
   height:101px;
   z-index:20;
}

.video-play .video-play-button{
    display:block;
    position:absolute;
    width:55px;
    height:55px;
    background:url("/sxm/img/homepage/btn-play.png") no-repeat 0 0;
    top:25px;
    left:62px;
    cursor:pointer;
    text-indent:-1000px;
    overflow:hidden;
}

.video-play:hover .video-play-button{
    background-position:0 bottom;
}

.video-play img {
    width:179px;
       height:101px;
       display:block;
}

.video-container{
   position:absolute;
   width:179px;
   height:101px;
   overflow:hidden !important;
   visibility:hidden;
   z-index:10;
}

.video-container a.video-close{
    background:#fff url("/sxm/img/global/button-close.png") no-repeat center center;
    height:46px;
    width:46px;
       display:none;
       position:absolute;
       right:10px;
       top:10px;
       overflow:hidden;
       text-indent:-1000px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

.video-player object,
.video-player embed{
   display:block;
}

.video-active {
   visibility:visible;
   z-index:8000;
}

.video-active a.video-close{
   display:block;
}

/*  Select Station Dropdown
    ------------------
*/
#filters {
	position:relative;
	top:47px;
	left:10px;
	color:#fff;
}

#filters .ui-widget-content .ui-state-active, #filters .ui-widget-header .ui-state-active,
#filters .ui-state-default, #filters .ui-widget-content .ui-state-default, #filters .ui-widget-header .ui-state-default {
	background-image:none;
	background-color:#000;
	border:none;
}

#filters .ui-state-active {
    color: #333333 !important;
}

.ui-widget-content {
	border:none !important;
}

#filters .ui-icon-triangle-1-s {
	background-position:5px -57px;
}

#filters .ui-state-default .ui-icon {
	background-image:url("/sxm/img/global/arrow-dropdown.png");
}

.ui-state-hover {
	color:#fff !important;
	background:none;
	background-color:#484549 !important;
	border:none !important;
}

#select-station-button {
	color:#fff !important;
}

#select-station-button:hover {
	text-decoration:none !important;
	background-color:#000 !important;
}

.ui-selectmenu {
	display: block;
	position:relative;
	height:20px;
	text-decoration: none;
	overflow:hidden;
	margin-right:10px;
}

.ui-selectmenu-icon {
	position:absolute;
	right:6px;
	margin-top:-8px;
	top: 50%; }

.ui-selectmenu-menu {
	padding:0; margin:0;
	list-style:none;
	position:absolute;
	top: 0;
	visibility: hidden;
	overflow: auto;
	z-index:160 !important;
}

.ui-selectmenu-open {
	visibility: visible;
}

.ui-selectmenu-menu-popup {
	margin-top: -1px;
}

.ui-selectmenu-menu li {
	padding:0; margin:0;
	display: block;
	border-right-width: 0 !important;
	border-left-width: 0 !important;
	font-weight: normal !important;
}

.ui-selectmenu-menu li a,
.ui-selectmenu-status {
	font-weight:normal;
	font-size:11px;
	line-height: 1.3;
	display:block;
	padding:.3em 1em;
	outline:none;
	text-decoration:none;
}

.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status {
	padding-left: 20px;
	position: relative;
	margin-left: 5px;
}

.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
	position: absolute;
	top: 1em;
	margin-top: -8px;
	left: 0;
}

.ui-selectmenu-status {
	line-height: 1.3;
}

.ui-selectmenu-menu li span,.ui-selectmenu-status span {
	display:block;
	margin-bottom: .2em;
}

.ui-selectmenu-menu li .ui-selectmenu-item-header {
	font-weight: bold;
}

.ui-selectmenu-menu li .ui-selectmenu-item-footer {
	opacity: .8;
}

.ui-state-active {
	color:#fff !important;
}

.ui-selectmenu-menu .ui-selectmenu-group {
	font-size: 11px;
}

.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
	line-height: 1em;
	display:block;
	padding:.6em .5em 0;
	font-weight: bold;
}

.ui-selectmenu-menu .ui-selectmenu-group ul {
	margin: 0;
	padding: 0;
}

#select-station {
	margin-left:0;
	width:100px;
	background:#000;
	color:#fff;
}

#select-station li {
	margin:0;
}

#select-station a {
	font-size:11px;
	color:#fff;
	padding:5px;
}

#select-station a:hover {
	display:inline;
	text-decoration:underline;
}

/* more dropdown 
#more-dropdown {
	position:absolute;
	right:60px;
	top:30px;
	width:30px;
	height:30px;
}
*/
.ie6 #more-dropdown {
	right:20px;
}

/*#more-link {
	background:url("/sxm/img/program-schedule/btn-more.png") no-repeat;
	width:71px;
	height:24px;
	display:block;
	text-indent: -9999px;
}

#more-link.active {
	background-position:0 -24px;
}
*/

#more-dropdown ul {
	background:url("../img/program-schedule/bg-more-dropdown-black.png") no-repeat 0 bottom;
	/* width:110px; 
	width:128px !important;*/
	position:absolute;
	z-index:9999;
	/*right:-44px;*/
	display:none;
	/*top:24px;*/
	padding:0 4px 10px 4px;
}

#more-dropdown ul li {
	float:none !important;
	height:auto !important;
	padding:5px 0 5px 5px;

}
#more-dropdown ul li a {
	padding:3px;
	display:block;
	color:#fff;
	font-size:11px;
	vertical-align: middle !important;
	width:100px;

}

#more-dropdown ul li.active {
	background-color:#0a6da7;
}

#more-dropdown ul li {
	border-bottom:1px solid #0a6da7;
}

#more-dropdown ul li.last {
	border-bottom:none;
}

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#colorbox-video{
    width:640px;
    height:385px;
    margin:10px auto 0 auto;
    display:block;
}

/*  Overlay Defaults
    ----------------
*/
#cboxOverlay {
    background:#171518;
}

#cboxTitle {
    display:none !important;
}

#cboxContent {
    border:6px solid #1af;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    box-shadow:0 0 50px #000;
    -moz-box-shadow:0 0 50px #000;
    -webkit-box-shadow:0 0 50px #000;
    background:#fff;
    overflow:visible;
}

#cboxClose {
    position:absolute;
    top:-17px;
    right:-15px;
    z-index:200;
    width:0;
    height:0;
    background:url(/sxm/img/global/button-close.png) no-repeat;
    text-indent:-9999px;
}

.ie6 #cboxClose {
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/global/button-close.png',sizingMethod='scale');
}

.enableClose #cboxClose {
    width:35px;
    height:35px;
}

/* IE Corners added by HUGE */
#cboxIETL, #cboxIETR, #cboxIEBR, #cboxIEBL {
    display:none;
    position:absolute;
    z-index:100;
    width:12px;
    height:12px;
    background:url(/sxm/img/overlays/ie-corners.png) no-repeat;
    font-size:12px;
    line-height:12px;
    text-indent:-9999px;
}

.ie6 #cboxIETL, .ie6 #cboxIETR, .ie6 #cboxIEBR, .ie6 #cboxIEBL {
    display:none !important;
    background-image:url("/sxm/img/overlays/ie6-corners.png");
}

.cboxIE #cboxIETL, .cboxIE #cboxIETR, .cboxIE #cboxIEBR, .cboxIE #cboxIEBL {
    display:block;
}

#cboxIETL {
    top:-6px;
    left:-6px;
}

#cboxIETR {
    top:-6px;
    right:-6px;
    background-position:top right;
}

#cboxIEBR {
    bottom:-6px;
    right:-6px;
    background-position:bottom right;
}

#cboxIEBL {
    bottom:-6px;
    left:-6px;
    background-position:bottom left;
}

#cboxLoadedContent {
    font-size:1.091em;
    text-align:center;
}

#cboxLoadedContent a {
    font-weight:bold;
    text-decoration:none;
}

#cboxLoadedContent a:active,
#cboxLoadedContent a:focus,
#cboxLoadedContent a:hover {
    text-decoration:underline;
}

#cboxLoadedContent h1 {
    padding:0 0 15px;
    font-size:2em;
}

#cboxContent a.sirius,
#cboxContent a.xm {
    float:left;
    width:250px;
    height:100px;
    background:url("/sxm/img/overlays/button-large-select-platform.png") no-repeat top left;
}

.ie6 #cboxContent a.sirius,
.ie6 #cboxContent a.xm {
    background-image:url("/sxm/img/overlays/button-large-select-platform-ie6.png");
}

#cboxContent a.xm {
    float:right;
    background-position:top right;
}

#cboxContent a.sirius:active,
#cboxContent a.sirius:focus,
#cboxContent a.sirius:hover {
    background-position:bottom left;
}

#cboxContent a.xm:active,
#cboxContent a.xm:focus,
#cboxContent a.xm:hover {
    background-position:bottom right;
}

#cboxContent a.not-sure {
    width:116px;
    height:24px;
    margin:0 auto;
    background:url("/sxm/img/overlays/button-not-sure.png");
}

.ie6 #cboxContent a.not-sure {
    background:url("/sxm/img/overlays/button-not-sure-ie6.png");
}

#cboxContent a.not-sure:active,
#cboxContent a.not-sure:focus,
#cboxContent a.not-sure:hover {
    background-position:bottom left;
}

#cboxContent a.subscriptions {
    width:136px;
    height:24px;
    margin:0 auto;
    background:url("/sxm/img/overlays/button-see-subscriptions.png");
}

.ie6 #cboxContent a.subscriptions {
    background-image:url("/sxm/img/overlays/button-see-subscriptions-ie6.png");
}

#cboxContent a.subscriptions:active,
#cboxContent a.subscriptions:focus,
#cboxContent a.subscriptions:hover {
    background-position:bottom left;
}


/*  Specific Overlays
    -----------------
*/

#select-platform {
    width:506px;
    min-height:232px;
    padding:36px;
}

.ie6 #select-platform {
    height:232px;
}

#select-platform .clearfix {
    padding:10px 0;
/*    padding:24px 0;   <---updated with Avatar changes 09/26/11 */
}

#not-sure form a{
    display:inline-block;
    margin:0 0 12px 0;
}

#not-sure {
    width:580px;
    min-height:180px;
    padding:26px 0 18px;
}

.ie6 #not-sure {
    height:180px;
}

#not-sure form {
    float:left;
    width:224px;
    padding:16px 32px;
    text-align:left;
}

#not-sure .radio {
    float:right;
    border-left:1px solid #ccc;
}

#not-sure label {
    display:block;
    padding:0 0 14px;
    font-size:1.333em;
    font-weight:bold;
    line-height:1.125em;
}

#not-sure input, #not-sure select {
	display:block;
	margin:0px 0px 10px;
}

#tune-radio {
    width:180px;
}

#not-sure input.submit {
    font-weight:bold;
}

#results {
    width:578px;
    min-height:116px;
    padding:45px 0;
}

.ie6 #results {
    min-height:116px;
}

#results h1 {
    padding-bottom:10px;
}

#results p {
    padding:0 0 36px;
    font-size:1.167em;
}

#two-satellites {
    width:504px;
    min-height:392px;
    padding:18px 38px;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    background:url("/sxm/img/overlays/earth.jpg") no-repeat bottom right #000;
    color:#fff;
    text-align:left;
}

.ie6 #two-satellites {
    height:410px;
}

#two-satellites h1 {
    padding-bottom:20px;
    font-size:2.833em;
}

#two-satellites p {
    padding:0 0 1.5em;
    font-size:1.167em;
    line-height:1.214em;
}

#two-satellites .clearfix {
    padding:0 0 8px;
}


/* Avatar notifications for Dropdowns 

#filters .avatar-channellineup {
	position: absolute;
	top: 0px;
	left: 370px;
	padding: 5px;
	background: #FFF none repeat scroll;
	color: #000
}

*/

.platformForm {
	width:130px;
	position:absolute;
}

.edge-sxm {
	display: inline-block;
	/*background: url(/sxm/img/global/edge-bg.png) no-repeat;  REMOVED STYLING 052114- PER SHARONE*/
	top: -24px; color: #fff; /* CHANGED STYLING 052114- PER SHARONE*/
	left: 140px;
	padding: 6px;
	position: relative;
	height: 30px;
}

a.edge-sxm {
	color: #fff;
	text-decoration: underline;
}

.edge-sxm p{
	font-size: 1em;
}

.ie .edge-sxm {
	font-size: .8em;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*
 * PRINT STYLE
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
*/
@media print {
    * { background: transparent !important; color: #444 !important; text-shadow: none; }
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a:after { content: ""; }
    abbr:after { content: " (" attr(title) ")"; }
    .ir a:after { content: ""; }  /* Don't show links for images */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}

/*
 * MEDIA QUERIES for responsive design
*/
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome) Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
    /* Prevent iOS, WinMobile from adjusting font size */
    html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

/* Dropdown Platform */
.ui-selectmenu-button span.ui-selectmenu-text{text-align:left !important;padding:0.3em 1em !important;display:block !important;overflow:hidden !important;font-weight:normal !important;font-size:11px !important;text-overflow:ellipsis !important;white-space:nowrap !important;;}
.ui-widget{font-family: Segoe UI, Arial, sans-serif !important; font-size: 1.1em !important;}.ui-widget .ui-widget{font-size:1em !important;}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family: Segoe UI, Arial, sans-serif !important; font-size: 1em !important;}
.ui-widget-content{
background: #000000;
color: #ffffff;
}.ui-widget-content a {
color: #ffffff !important;
}.ui-widget-header { border: 1px solid #333333 !important;
background: #333333 url("/static/vendor/jquery-ui-1.11.1/images/ui-bg_gloss-wave_25_333333_500x100.png") 50% 50% repeat-x !important;
color: #ffffff !important;
font-weight: bold !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #666666; background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eeeeee; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #eeeeee; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-menu-item .ui-state-focus, .ui-widget-content .ui-state-focus{ border: 1px solid #59b4d4; background: #0078a3 url("/static/vendor/jquery-ui-1.11.1/images/ui-bg_glass_40_0078a3_1x400.png") 50% 50% repeat-x; font-weight: bold; color: #ffffff !important; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #ffaf0f; background: #f58400 url("/static/vendor/jquery-ui-1.11.1/images/ui-bg_inset-soft_30_f58400_1x100.png") 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }
.ui-widget :active { outline: none; color: #333 !important;}
ui-menu{list-style:none;padding:0;margin:0;display:block;outline:none}.ui-menu .ui-menu{position:absolute}.ui-menu .ui-menu-item{position:relative;margin:0;padding:.3em 1em !important; cursor:pointer;min-height:0;list-style-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")}.ui-menu .ui-menu-divider{margin:5px 0;height:0;font-size:0;line-height:0; border-width:1px 0 0 0;}.ui-menu .ui-state-focus,.ui-menu .ui-state-active{margin:0px;}.ui-menu-icons{position:relative;}.ui-menu-icons .ui-menu-item{padding-left:2em;}
