  body {
    background:#16244a;
  }


  .homepage-unrecognized #hero {
  /*  background: url(//www.siriusxm.com/servlet/Satellite?blobcol=urlimage&blobkey=id&blobtable=ImageAsset&blobwhere=1293944555618&ssbinary=true) no-repeat center top #003d70;*/
    height: 635px;
    padding:0px;
  }


  #video-bg-static-container{
    position: absolute;
    z-index: -1;
/*
    top: 0px;
    width: 1500px;
    left: -245px;
    */
}

video#hp-video { 
  
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    z-index: -100;
    background-size: cover; 
}



.homepage-unrecognized #hero {
  background:none;
    position:relative;
}
/*
.homepage-unrecognized #hero video{
  height:664px !important;
  width:1500px !important;
}
*/

.homepage-unrecognized #hero.sxm-hp-video-backup {
  background:url(/wo/i/holiday2016/img/Holiday2016-BG.jpg) top center no-repeat !important;
}
.homepage-unrecognized .btn-primary-white.ieFallback{
  background-color:#fff;
  border:none;
}

.hp-content {
    margin: 70px 0px 0 0px;
}

.hp-content .title {
    font-size: 87px;
    font-weight: 800;
    padding-bottom: 0px;
    text-shadow: 2px 2px 15px #000000;
    line-height: 94px;
}

.hp-content .subtitle {
    color: #fff;
    font-size: 44px;
    font-weight: 300;
    line-height: 54px;
    padding-bottom: 45px;
    padding-left: 12px;
    text-shadow: 2px 2px 15px #000000;
}


.hp-content .time {
  color:#fff;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;

}

  #box-wrapper .hp-box.left-box {
    margin: 0px;
    width:680px !important;
}
  
  #box-wrapper .hp-box.gray-box {
    background: none;
    background-color: rgba(0,0,0,0.5);
    height: 490px;
  }
  
  #box-wrapper .hp-video {
    height:346px;
  }

  #box-wrapper #get-basics {
    width: 300px;
    height: 354px;
  }
  
  #get-basics a.basics-title {
    background-image: url(/sxm/img/homepage/box-getbasics-arrows-black.png);
  }
  
  #box-wrapper #get-basics .basics-direct-link {
    border-top: solid 1px rgba(255,255,255,0.2);
    margin: 0;
  }
  #get-basics .basics-direct-link a {
    background-image: url(/sxm/img/homepage/box-getbasics-direct-black.png);
  }
  
  #get-basics .basics-direct-link a:hover,
  #get-basics a.basics-title:hover {
    color: #DDD;
  }
  
  #get-basics .basics-copy p {
    padding-bottom: 8px;
  }
  
  #box-wrapper .hp-box ul {
    width: 250px;
    margin: 0 auto;
  } 
  
  #box-wrapper .hp-box .btn-primary-white {
    border: 1px solid rgba(255,255,255,0.6);
  }
  
  #box-wrapper .hp-box.left-box .btn-primary-white {
      height: 25px;
      line-height: 12px;
      width: 182px;
      margin-bottom: 3px;
    color: #084888;
  }
  
  #box-wrapper .hp-box.center-box .trial-buttons .btn-primary-white,
  #box-wrapper .hp-box.right-box .trial-buttons .btn-primary-white {
        color: #003a5d;
    width: 100%;
    border: 1px solid rgba(255,255,255,0.6);
    height: 50px;
    line-height: 36px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
  }
    
  #box-wrapper .hp-box.center-box .sub-buttons .btn-primary-white,
  #box-wrapper .hp-box.right-box .sub-buttons .btn-primary-white {
        color: #003a5d;
    width: 100%;
    border: 1px solid rgba(255,255,255,0.6);
    height: 32px;
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
  }


  #get-basics ul li {
    border-top: solid 1px rgba(255,255,255,0.2);
    
  }
  
  #get-basics a.basics-title {
    border-top: none;
    
  }
  

  /* tabs and carousel section */

#tabs-carousel {
    height:490px;
        background: url(//www.siriusxm.com/servlet/Satellite?blobcol=urlimage&blobkey=id&blobtable=ImageAsset&blobwhere=1293944557759&ssbinary=true) repeat-x center top #fff;
    /*background-color: #e2e2e2;*/
    margin:0 0 -220px 0;




}


/* #tabs-carousel { background:#009bc7 } */

#tabs-carousel div.content {
  margin:0 auto;
  position:relative;
  width:980px;
  padding-bottom:20px;
}

#tabs {
  position:relative;
  top:-30px;
  margin-bottom:-30px;
}

#tabs ul.tabs {
  list-style:none;
  margin:0;
  padding:0;          
  height:30px;
  position:relative;
  top:-1px;
}
 
#tabs ul.tabs li {
  float:left;            
  text-indent:0;
  padding:0;
  margin:0 2px 0 0;
  list-style-image:none;
}
 
#tabs ul.tabs li a {
  font-size:12px;
  font-weight:bold;
  display:block;
  height: 30px; 
  line-height:30px;
  width: 155px;
  text-align:center;            
  text-decoration:none;
  color:#000;
  /*padding:0px 30px 0px 30px;*/
  margin:0px;       
  position:relative;
  top:1px;
  background-color: #919ca1;
}
 
#tabs ul.tabs a:active {
  outline:none;                   
}
 
#tabs ul.tabs a:hover {
  background-color: #C3C3C3;          
  color:#000;
}
 
#tabs ul.tabs a.current, #tabs ul.tabs a.current:hover, #tabs ul.tabs li.current a {
  cursor:default;
  color:#000;
}
 
#tabs ul.tabs a.current {
  background-color: #e2e2e2;
}

.video-caption, .image-caption a {
    color: #000;
}
#sxmcorporatefooter {
    border-color: #e8e8e8;
    color: #000;
}

#sxmcorporatefooter div.links {
    border-color: #e8e8e8;
}

#sxmcorporatefooter div.find-us {
    border-right: 1px solid #ccc;
    color:#626262;
}

#sxmcorporatefooter div.help {
    border-right: 1px solid #ccc !important;
}

#sxmcorporatefooter h3, #sxmcorporatefooter a {
    color: #626262;
}

#sxmcorporatefooter a:hover {
    color: #000;
}
#sxmcorporatefooter a.logo {
    display: block;
    width: 167px;
    height: 50px;
    background: url(/sxm/img/global/logo.png) no-repeat 0 -75px !important;
    overflow: hidden;
    text-indent: -1000px;
    position: relative;
    top: -6px;
    margin: 0 0 6px 0;
}

#sxmcorporatefooter div.find-us li a {
    background-image: url(/sxm/img/global/find-us-logo.png) !important;
}
#sxmcorporatefooter p.copyright a, #sxmcorporatefooter p.copyright {
    color: #626262;
}

#sxmcorporatefooter p.copyright a:hover {
    color: #000;
}

.hp-box.right-box.gray-box {
    margin-top: 30px;
    border:1px solid #fff;
}

.hp-box.right-box h4 {
  color:#fff;
  text-align:center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size:19px;
  font-weight:400;
  padding:10px 0px;
}

.hp-box.left-box{
    background: none !important;
    height: 490px;
}

.hp-box .hp-video {
margin:0px 0px 0px 117px;
}
.hp-box .freelisten-title {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size:36px;
    font-weight:600;
}

.hp-box .freelisten-subtitle {
    color:#fff;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size:18px;
    font-weight:400;
}

.hp-box .freelisten-share a{
    color:#fff;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size:18px;
    font-weight:600;
    text-decoration: underline;
}

.hp-box .freelisten-share a:hover{
    color:#fff;
}

.hp-box ul.trial-buttons {
    border-bottom: 1px solid #fff;
    padding-bottom: 18px;
}

#box-wrapper .hp-box .btn-primary-green {
  color:#fff;
    border: 1px solid #055007;
    height: 50px;
    line-height: 36px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    width:300px;

    /* Permalink - use to edit and share this gradient: //colorzilla.com/gradient-editor/#09ae0e+0,07880b+100 */
background: #09ae0e; /* Old browsers */
background: -moz-linear-gradient(top,  #09ae0e 0%, #07880b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#09ae0e), color-stop(100%,#07880b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #09ae0e 0%,#07880b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #09ae0e 0%,#07880b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #09ae0e 0%,#07880b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #09ae0e 0%,#07880b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09ae0e', endColorstr='#07880b',GradientType=0 ); /* IE6-9 */

}

/*-------------------------*/
/*  4.0 Buttons
/*-------------------------*/

.homepage-unrecognized .btn-primary-darkblue.ieFallback{
  background-color:#054a81;
  border:none;
}

.homepage-unrecognized .btn-primary-flatwhite.ieFallback{
  background-color:#FFFFFF;
  border:none;
}

.homepage-unrecognized .btn-primary-blue.ieFallback{
  background-color:#006eb8;
  border:none;
}

#box-wrapper .hp-box.trans-box {
margin-top: 37px;
/* Use with 6 buttons*/
height:490px !important;
/*  height:425px !important; */
 }

#box-wrapper .hp-box.trans-box {
 background:rgba(0,0,0,0.5);
padding-top:15px;
color:#fff;
border:1px solid #fff;

  }
  
.homepage-unrecognized .btn-orange { 
  background-color: #f8941e;
  border: none;
  font-size:15px;
}

.homepage-unrecognized .btn-orange:hover { 
  background-color: #ffcc33;
}
.sxm-bootstrap .btn-lg {
  width: 200px;
}

.sxm-bootstrap a.btn {
  font-weight: 700;
  color: #000;
}

 #box-wrapper .hp-box.right-box .sub-buttons-header {
  padding-top:5px;
  }

    #box-wrapper .hp-box.right-box h4 {
    color: #fff;
    text-align: center;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 8px 0;
}

.hp-box ul.trial-buttons {
    border-bottom:none;
    padding-bottom:5px;
}

#box-wrapper .hp-box.right-box .trial-buttons .btn-primary-blue {
    color: #ffffff;
    width: 100%;
    border: none;
    height: 50px;
    line-height: 36px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

#box-wrapper .hp-box.right-box .sub-buttons .btn-primary-blue {
    color: #ffffff;
    width: 100%;
    border: none;
    height: 32px;
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
}

#box-wrapper .hp-box p.logo,#box-wrapper .hp-box p.title,#box-wrapper .hp-box p.subtitle  {
    text-align: left;
    color: #FFF;
}

#box-wrapper .hp-box p.logo  {
    padding-left:15px;
    text-align: left;
    color: #FFF;
}

.hp-content .cta {
     padding: 0px 0px;
    clear: both;
    margin-top: 56px;
}

.hp-content .cta-left {
    float: left;
    width: 460px;
    text-align: left;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto';
    padding-left: 25px;
    text-shadow: 2px 2px 15px #000000;
}

.hp-content .cta-right {
    float: right;
  /*  padding-top: 11px;*/
    padding-right: 30px;
}

.sxm-bootstrap .btn-lg.btn-white {
    background-color: #fff;
    border: none;
    font-size: 14px !important;
    width: 185px !important;
    padding: 0 auto !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    line-height: 1.33;
    border-radius: 4px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}