#help-tab-content {
    margin-top: 10px;
}

#help-tab-content .bucket {
    width: 270px;
    /* height: 222px; */
    padding: 18px 15px 5px 20px;
    background-color: rgba(0, 73, 116, 0.67);
    float: left;
    margin-right:25px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#help-tab-content .bucket:last-child { margin-right: 0; }

#help-tab-content .bucket h3 {
    color: #FFFFFF;
    font-size: 18px;
    border-bottom: 1px solid rgba(72, 72, 72, 0.33);
    padding-bottom:10px;
}

#help-tab-content .bucket ul {
/* 	padding-bottom: 10px; */
}
#help-tab-content .bucket ul li {
    color: #FFF;
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(23, 67, 92, 0.33);
    border-top:1px solid rgba(128, 157, 174, 0.33);
}

#help-tab-content .bucket ul li:last-child { border-bottom: none }


#help-tab-content .bucket ul li a {
    background: url("/layout/img/rr-nav-arrow.png") no-repeat scroll 255px -47px transparent;
    display: block;
    font-size: 14px;
    text-decoration: none;
    line-height:16px;
    color: #FFF;
}
#help-tab-content .bucket ul li a:hover {
    background-position: 255px 0;
    text-decoration: underline;
    
}

#help-tab-content .bucket ul li.login a {
    display: inline;
    background: none;
}

#help-tab-content h4 {
    text-align:center;
    margin: 10px 0 0;
    font-size: 15px;
}
#help-tab-content h4 a { color: #FFF; }