/*
 * HOMEPAGE HERO								*
 * Styles for standard triple box				*
 * - Abstracts styles from within hero module	*
 * - Centralizes hero styles					*
 * - Decoupled from homepage-unrecognized.css	*
 * - Bootstrap ready							*
 */

.homepage-unrecognized #hero {
	display: block;
	min-width: 980px;
}

/* support for visitor recognition */
	
.homepage-unrecognized #hero #top-promo-unrecognized,
.homepage-unrecognized #hero #top-promo-recognized { display:none }

.homepage-unrecognized #hero #top-promo-unrecognized {
	height: 467px;
}

.homepage-unrecognized #hero.unrecognized {	height: 478px;}

/* box wrapper
 * nested container within #hero for standard triple box
 */

#box-wrapper {
	clear: both;
	height: 424px;
}

#box-wrapper h1,
#box-wrapper h2,
#box-wrapper p,
#box-wrapper a,
#box-wrapper li,
#top-promo-box .bottom-legal {
	font-family: Roboto, Arial, sans-serif;
}

/* boxes */

#box-wrapper .hp-box {
	background: url(//www.siriusxm.com/servlet/Satellite?blobcol=urlimage&blobheader=image%2Fpng&blobkey=id&blobtable=ImageAsset&blobwhere=1407529050247&ssbinary=true) no-repeat transparent;
	width: 300px;
	height: 394px;
	float: left;
	position: relative;
}
#box-wrapper .hp-box h1,
#box-wrapper .hp-box h2,
#box-wrapper .hp-box p {
	text-align: center;
	color: #FFF;
}
#box-wrapper .hp-box h1 {
	margin: 20px 0;
	font-size: 38px;
	line-height: 41px;
	font-weight: 800;
}

#hero #box-wrapper .hp-box h1 { font-weight: 900 }
#hero #box-wrapper .hp-box h1 .ghosted { opacity: 0.8 }

/* box colors */
#box-wrapper .hp-box.green-box { background-position: 0 0 }
#box-wrapper .hp-box.blue-box { background-position: -300px 0 }
#box-wrapper .hp-box.pinkle-box { background-position: -600px 0}

/* box positions */

#box-wrapper .hp-box.center-box { margin: 0 40px }

/* box buttons *
 * LEGACY as of 8/13/15
 * -jct *
 
#box-wrapper .hp-box .sxmButtonLarge { margin: 20px auto }

#box-wrapper .hp-box .buttonWhiteBlueLarge a {
	color:#112c61;
	background-image: url(/layout/img/button/DkBlueArrowBig.png);
}
#box-wrapper .hp-box .buttonWhiteBlueLarge a:hover {
	color:#11aaff;
	background-image: url(/layout/img/button/BlueArrowBig.png);
}

 *
 */


#box-wrapper .hp-box.subscriber-box {
	text-align: left;
	/* padding-left:20px; */
	
}


/* returning visitor green accordion "get the basics" box */

#get-basics-wrapper {
	margin: 0;
	padding: 0;
	height: 240px;
}
#box-wrapper #get-basics {
	padding: 0 25px;
	width: 250px;
}
#box-wrapper #get-basics h1 {
	text-align: left;
	margin-bottom: 10px;
}
#box-wrapper #get-basics .basics-direct-link {
	text-align: left;
	padding: 0;
}

#box-wrapper #get-basics .basics-copy p {
	text-align: left;
}

#box-wrapper #get-basics ul {
	padding: 0;
}

#box-wrapper #get-basics-wrapper .sxmButtonSmall {
	margin-bottom: 8px;
}

/* offer box */

#box-wrapper .hp-box.offer_1099 h1 {
	position: relative;
	margin-bottom: 28px;
	padding-bottom: 0;
}
#box-wrapper .hp-box.offer_1099 h1 strong {
	font-weight: 900;
	position: relative;
	font-size: 58px;
	left: 28px;
}
#box-wrapper .hp-box.offer_1099 h1 .price {
	font-size: 100px;
	position: relative;
	top: 30px;
	letter-spacing: -11px;
}
#box-wrapper .hp-box.offer_1099 h1 .one { letter-spacing: -15px }
#box-wrapper .hp-box.offer_1099 h1 .per-month {
	font-size: 20px;
	font-weight: 300;
	position: relative;
	top: 26px;
	right: 34px;	
}
#box-wrapper .hp-box.offer_1099 h2,
#box-wrapper .hp-box.offer_1099 .legal { font-family: "Roboto Condensed", Arial, sans-serif }
#box-wrapper .hp-box.offer_1099 .legal {
	font-size: 18px;
	padding: 0;
	margin: 0 0 6px;
}
#box-wrapper .hp-box.offer_1099 h2 {
	font-size: 32px;
	font-weight: 400;
	padding: 0;
	margin: 0 0 12px;
}
#box-wrapper .hp-box.offer_1099 p {
	font-size: 16px;
	line-height: 24px;
}
#box-wrapper .hp-box.offer_1099 p a {
	color: #FFF;
	font-weight: 900;
	border-bottom: 1px dotted #FFF;
}
#box-wrapper .hp-box.offer_1099 p a:hover {
	border-bottom: 1px solid #FFF;
	text-decoration: none;
}

#hp-tfn { display:none }

.offer-box .btn-cta {
    margin: auto 20px;
    width: 260px;
    height: 20px;
    line-height: 0;
    font-weight: 700;
    color: #25A600;
}

/* */

#hero .content .bottom-legal {
	font-size: 12px;
	padding: 0 24px;
	position: relative;
	top: -36px;
}




/**
 * 8/1315 Update
 * - Square Buttons
 */
 
 
#box-wrapper #get-basics {
	width: 300px;
	height: 394px;
}

#box-wrapper #get-basics .basics-direct-link {
	border-top: solid 1px rgba(255,255,255,0.2);
	margin: 0;
}

#get-basics .basics-direct-link a:hover,
#get-basics a.basics-title:hover {
	color: #05802C;
}

#get-basics a.basics-title { border-top: none }

#get-basics .basics-copy p { padding-bottom: 8px }

#box-wrapper .hp-box.left-box .btn-sm {
	height: 25px;
	width: 100%;
	line-height: 3px;
	margin-bottom: 3px;
	color: #05802C;
	font-weight: 700;
}

#box-wrapper .hp-box ul {
	width: 250px;
	margin: 0 auto;
} 

#box-wrapper .hp-box .btn-primary-white { border: 1px solid rgba(255,255,255,0.6) }

#box-wrapper .hp-box.center-box .btn-lg,
#box-wrapper .hp-box.right-box .btn-lg {
	width: 100%;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 15px;
}

#box-wrapper .hp-box.blue-box .btn-lg { color: #084888 }

#box-wrapper .hp-box.pinkle-box .btn-lg { color: #680079 }

#get-basics ul li { border-top: solid 1px rgba(255,255,255,0.2) }