/* Overlay / Debug Box */
 #sxm__np-console {
 position: absolute;
 top: 20px;
 right: 20px;
 width: 200px;
 height: auto;
 background-color: rgba(255, 255, 255, 0.9);
 border: 1px solid #333;
 border-radius: 8px;
 z-index: 9999;
 padding: 8px 20px;
 }

/* Non-Pay Experience */

 div.sxm__np-messagediv {
 padding: 18px;
 background-color: #F2F2F2;
 }

 .sxm__np-messagediv span { line-height: 18px;}
 
 .sxm__np-messagediv h3 {
 font-size: 18px;
 font-weight: 300;
 font-family: 'Roboto', sans-serif;
 text-align: left;
 color: #565656;
 width: 962px;
 margin: 0 auto;
 padding: 0;
 }

 .sxm__np-messagediv h3 a {
 font-weight: 700;
 color: #0075BF;
 }
 
