/* Open w/ RR */

.home #main .contentRR{
    padding:20px;
    background:#fff;
	    width:705px;
    float:left;
    margin:0 0 0 0;
}
.opencontent #main .contentRR{
    padding:0px;
	width:745px;
    float:left;
    margin:0 0 0 0;
}

.open-content #main .contentRRMain{
	    padding:20px;
    padding:12px 20px 12px 20px;
	background:#fff;
    margin:0 0 0 0;
}

.open-content #main .contentRRHeader745{
	background:url('/layout/img/round/white-745px-top.png') no-repeat;
	height:8px;
	overflow:hidden;
}
.open-content #main .contentRRFooter745{
	background:url('/layout/img/round/white-745px-bottom.png') no-repeat;
		height:8px;
	overflow:hidden;
}

.open-content #main .rrNavFooter221{
	background:url('/layout/img/round/rr-221px-bottom.png') no-repeat;
	height:8px;
	overflow:hidden;
}

.opencontent #main .contentRR ul{

text-decoration: none;
text-indent: 5px;
list-style-position: outside;
list-style-type: disc;
padding: 6px;
margin: 12px;
}


.opencontent h2 {
	font-size:24px;
	margin-bottom:5px;
	color:#000;
}

.opencontent h2 a {
	font-size:24px;
	text-decoration:none;
	color:#000;
}

.opencontent h2 a:hover {
	text-decoration:underline;
}

.opencontent h3 {
	font-size:18px;
	margin-bottom:5px;
	color:#000;
}

.opencontent h3 a {
	font-size:18px;
	text-decoration:none;
	color:#000;
}

.opencontent h3 a:hover {
	text-decoration:underline;
}

/* sidebar */
.sidebar {
	width:221px;
	float:right;
	position:static;
	z-index:200;
}
.sidebar a {
	color:#fff;
}

.sidebar h2 {
	background:url("/layout/img/bg-rounded-sidebar.png") no-repeat;
	color:#fff;
	font-size:14px;
	padding:7px 7px 7px 21px;
}

.sidebar .module {
	padding:0 0 10px 0;
	margin-bottom:20px;
	width:221px;
}

.sidebar .module a {
	font-size:11px;
	font-weight:bold;
}

.sidebar .rr-nav {
/*	background:none;*/
	font-weight:bold;
	font-size:12px;
	overflow:auto;
}

.sidebar .rr-nav-221-bg {
	background-image:url('/layout/img/round/rr-221px-top.png');
	background-repeat:no-repeat;
}

.sidebar .rr-nav-300-bg {
	background-image:url('/layout/img/round/rr-300px-top.png');
	background-repeat:no-repeat;

}


.sidebar .rr-nav ul {
	margin:0;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.sidebar .rr-nav ul {
      	margin:5px 0 0 0;
      }
}

.ie .sidebar .rr-nav ul {
	padding-top:0;
	margin-top:0;
}

.ie6 .sidebar .rr-nav ul {
	margin-bottom:20px !important;
}

.sidebar .rr-nav ul li {
	color:#fff;
	/*background:url("/layout/img/divider.png") no-repeat 20px bottom #1190d9;	*/
}

.sidebar .rr-nav ul li.rrItem {
	background:url("/layout/img/divider.png") no-repeat 20px bottom #1190d9;	
}

.ie6 .sidebar .rr-nav ul li {
	zoom:1;
}

.sidebar .rr-nav ul li.last {
	background:#1190d9;	
}
.sidebar .rr-nav ul li.category {
/*background:#005b8f;*/
height:30px;
}

.sidebar .rr-nav ul li.secondCategory {
	background-position:0px -5px;
	overflow:auto;
	height:35px;
}

.sidebar .rr-nav ul li.rrBottom {
		background-image:url('/layout/img/round/rr-221px-bottom.png');
		padding:0px;
		margin:0px;
	background-repeat:no-repeat;
	overflow:hidden;
	height:8px;
	line-height:1px;
}


.sidebar .rr-nav ul li h3 {
	font-size:13px;
	padding:10px 10px 10px 20px;
	position:relative;
}

.ie .sidebar .rr-nav ul li h3 {
	padding:8px 10px 8px 20px;
}

.sidebar .rr-nav ul li h3 a {	
	display:inline;
	padding:0 14px 0 0;
	float:right;
	color:#6cc8fc;
}

.ie .sidebar .rr-nav ul li h3 a {
	float:right;
	position:absolute;
	right:12px;
	top:8px;
}

.ie6 .sidebar .rr-nav ul li h3 a {
	top:0px;
}

.sidebar .rr-nav ul li a {
	font-size:12px;
	display:block;
	text-decoration:none;
	background:url("/layout/img/rr-nav-arrow.png") no-repeat 185px 11px;
	padding:13px 15px 13px 21px;
}

.ie6 .sidebar .rr-nav ul li a {
    background-image:url("/layout/img/rr-nav-arrow-ie.png");
	padding:10px 15px 10px 21px;
}

.sidebar .rr-nav ul li a:hover {
	color:#000;
	background-position: 185px -32px;
}