/* SubNav CSS */
.SXM_SubNav {
	position:relative;
	height:31px;
}

.SXM_SubNav .navOption {
color:#333333;
font-weight:bold;
float:left;
height:31px;
padding:0px 8px 0px 3px;
background-repeat:no-repeat;
background-position:-5px 0px;
}

.SXM_SubNav .item-first {
background-position: 0px 0px;
}

.SXM_SubNav .item {
background-position:-5px 0px;
}

.SXM_SubNav .navOptionExt {
color:#333333;
font-weight:bold;
float:left;
height:31px;
padding:0px 8px 0px 3px;
background-repeat:no-repeat;
background-position:right;
}

.SXM_SubNav .navOption a {
	font-size:12px;
	display:block;
	text-decoration:none;
	padding:9px 21px 9px 20px;

}

.SXM_SubNavExt a {
	background-position:right 9px;
	background-repeat:no-repeat;
		padding:9px 21px;
		

}

.SXM_SubNavExt a:hover {
	background-position:right -34px;
	background-repeat:no-repeat;

}
.SXM_SubNav .navOption .theme-arrow {
	margin-right:10px;
}

