.ui-menu {
list-style:none;
padding: 2px;
margin: 0;
display:block;
float: left;
}

.ui-menu .ui-menu-item {
margin:0;
padding: 0;
zoom: 1;
float: left;
clear: left;
width: 100%;
}

.ui-helper-hidden-accessible
{
display: none;
}

.ac_results {
border-left: 1px solid #b2b2b2;
border-right: 1px solid #b2b2b2;
border-bottom: 1px solid #b2b2b2;
z-index: 7005;
background: #fff;

}

.ac_results ul {
  left: 0;
  margin:0px;
  padding:0px;
  zoom: 1;
}

.ac_results li a {
   cursor: pointer !important;
   cursor: hand !important;
}

.ac_results li {
  margin: 0px;
  /*display: block;
  border-bottom: 1px solid #b2b2b2;*/
  font: menu; 
  overflow: hidden;
  z-index: 7006;
  color: #333;
  border-collapse:collapse;
  font-size: 12px;
  padding: 0px;
}

.lookupResultBox {
  /*width: 250px;
	padding: 5px;
  background: url(../wo/i/lookuptool/img/lookup_bg_off.jpg) repeat-x;
  margin: 5px 0px 5px 0px;
  min-height: 50px;*/
  overflow:hidden;
  height:100%;
  border-bottom: 1px solid #eee;
  display: block;
  zoom: 1;
}

.lookupResultBox .resultBoxImage {
padding: 1px 0px 1px 5px;
float: left;
}

.lookupResultBox .resultBoxImageSE {
padding: 8px 0px 1px 5px;
float: left;
}

.lookupResultBox .resultBoxLeft
{
/*display: block;*/
float: left;
text-align: left;
color: #333;
margin-left: 5px;
padding: 8px 0 5px 5px;
width: 77%;
}

.lookupResultBox .resultBoxLeft a{
cursor: pointer !important;
cursor: hand !important;	
}
.rbiTeamLogo
  {
  	padding-left: 0px;
 }
 .teamLogo
  {
  	width: 46px;
  	height: 29px;  	
 }
 
 .leagueLogo
  {
  	width: 46px;
  	height: 46px;  	
 }
  
.ac_over {
color: #333;
background-color:#c7e7fb;
cursor:pointer;
z-index: 7006;
zoom: 1;
}


.genre-top {
  /*height: 30px;
   margin: 5px 0px 5px 0px;*/
  padding: 4px;
  font-weight: bold;
  height: 15px;
  border-bottom: 1px solid #eee;
  zoom: 1;
}

.genre-top-right {
	float: right; 
	color: #333; 
	font-weight: bold;
}

.genre-top-left {
	float: left; 
}

a.genre-top {
  color: #333;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;	
}


.ts_ac_results {
border-left: 1px solid #b2b2b2;
border-right: 1px solid #b2b2b2;
border-top: 1px solid #b2b2b2;
z-index: 7005;
background: #fff;

}

.ts_ac_results ul {
left: 0;
margin:0px;
padding:0px;
}

.ts_ac_results li {
margin: 0px;
cursor: default;
display: block;
font: menu;
overflow: hidden;
border-bottom: 1px solid #eee;
z-index: 10000;
color: #333;
}


.ac_even {

}
.ac_odd {

}

.ac_bottom {
background-color: #004b85 !important;
font-weight: bold !important;
padding: 5px !important;
color:#fff !important;
padding: 4px !important;
border-bottom:none !important;
zoom: 1;
}

.ac_bottom a{
	text-decoration: none !important;
    color:#fff !important;
	cursor: pointer !important;
	cursor: hand !important;	
}

.ac_bottom:hover {
background-color: #004b85 ;
cursor: pointer;
cursor: hand;
}

.genre_header {
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.genre_header:hover {
background-color: #004b85 !important;
color:#fff !important;
}

.channel_header {
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.channel_header:hover {
background-color: #004b85 !important;
color:#fff!important;
}

.sched_header {
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.sched_header:hover {
background-color: #004b85 !important;
color:#fff!important;
}

.teamsched_header {
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.teamsched_header:hover {
background-color: #004b85 !important;
color:#fff!important;
}

.events_header {
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.events_header:hover {
background-color: #004b85 !important;
color:#fff!important;
}

.ts_genre_header {
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.ts_genre_header:hover {
background-color: #004b85 !important;
color:#fff!important;
}

.ts_channel_header{
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.ts_channel_header:hover {
background-color: #004b85 !important;
color:#fff!important;
}

.ts_events_header{
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.ts_events_header:hover {
background-color: #004b85 !important;
color:#fff!important;
}

.ts_sched_header{
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.ts_sched_header:hover {
background-color: #004b85 !important;
color:#fff!important;
}

.ts_teamsched_header{
background-color: #004b85 !important;
font-weight: bold !important;
padding: 4px !important;
color:#fff !important;
border-bottom:none !important;
}

.ts_teamsched_header:hover {
background-color: #004b85 !important;
color:#fff!important;
}

.sxm-pre-channel {
	cursor:pointer !important;
	cursor: hand !important;
}

.sxm-pre-genre {
	cursor:pointer !important;
	cursor: hand !important;
	float:left;
}

.ac_results .channel-count, .ts_ac_results .channel-count {
float: right; 
width: 90px; 
text-align: right; 
margin-right: 5px; 
color: #333; 
font-weight: bold;
}

div.lookupResultBox.pkgs {
    padding: 4px 5px 4px 5px;
}
div.lookupResultBox.pscontest {
    padding: 4px 5px 4px 5px;
}
div.lookupResultBox.spevent {
    padding: 4px 5px 4px 5px;
}