/*стили для баннеров*/

/*тгб*/
.currency-and-teaser .adv-top-item-inner > div,
.currency-and-teaser .adv-top-item-inner > a {
    display: none;
}

.currency-and-teaser .adv-top-item-inner p a{
    color: #91A69C !important;
    font-size: 12.8px !important;
    font-family: BaseFont, Arial, sans-serif !important;
    font-weight: normal !important;
}
