.infinity-page .under-menu,
.page-node .under-menu {
  border-bottom: 1px solid #000;
}

.page-node .content {
  padding-top: 1px;
}
.page-node .content:after {
  content: '';
  display: block;
  clear: both;
  height: 50px;
}
.page-node .content .col-left {
  float: left;
  width: 300px;
  margin-right: -300px;
  overflow: hidden;
  position: relative;
  z-index: 101;
}
.page-node .content .col-left .block-bnr-left {
  width: 300px;
  position: absolute;
  bottom: 0;
}
.page-node .content .col-left .block-bnr-left > div {
  max-width: 300px;
  overflow: hidden;
}
.page-node .content .col-center {
  float: left;
  width: 100%;
  position: relative;
  z-index: 100;
}
.page-node .content .col-center:after {
  content: '';
  display: block;
  clear: both;
}
.page-node .content .col-center .col-center-in {
  padding-top: 37px;
  margin-left: 300px;
  padding-left: 40px;
  padding-left: 3.44%;
  border-left: 1px solid #E2E2E2;
}
.page-node .content .col-center .col-center-in .headline {
  margin-bottom: 20px;
}
.page-node .content .col-center .col-center-in .headline .section-and-hashtag {
  font-family: BaseFontMedium, Arial;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.page-node .content .col-center .col-center-in .headline .section-and-hashtag .section {
  color: #000;
}
.page-node .content .col-center .col-center-in .headline .section-and-hashtag .hashtag {
  padding-right: 60px;
}
.page-node .content .col-center .col-center-in .headline .section-and-hashtag .hashtag a {
  color: #10659E;
}
.page-node .content .col-center .col-center-in .headline .section-and-hashtag .hashtag:before {
  content: '/';
}
.page-node .content .col-center .col-center-in .headline .section-and-hashtag .date {
  font-size: 11px;
}
.page-node .content .col-center .col-center-in .headline h2 {
  width: 90%;
  font-family: BaseFontDemi, Arial;
  font-size: 39px;
  line-height: 43px;
  font-weight: normal;
}
.page-node .content .col-center .col-center-in .headline h2 .profile-title {
  display: block;
  font-family: Georgia;
  font-style: italic;
  font-size: 15px;
  line-height: 22px;
}
.page-node .content .col-center .col-center-in .article-bottom-first {
  clear: both;
  padding-top: 0.01em;
}
.page-node .content .col-center .col-center-in .article-top {
  width: 50%;
  width: calc(100% - 340px);
  overflow: hidden;
}
.page-node .content .col-center .col-center-in .article-top p {
  margin: 24px 0;
}
.page-node .content .col-center .col-center-in .article-top p a {
  color: #26539a;
}
.page-node .content .col-center .col-center-in .article-top strong {
  font-family: BaseFontBold;
}
.page-node .content .col-center .col-center-in .article-top .subtitle {
  font-size: 22px;
}
.page-node .content .col-center .col-center-in .author-material {
  margin-bottom: 25px;
  display: table;
  width: 100%;
}
.page-node .content .col-center .col-center-in .author-material .pic {
  display: table-cell;
  vertical-align: top;
  width: 88px;
}
.page-node .content .col-center .col-center-in .author-material .pic img {
  border-radius: 50%;
  width: 68px;
  height: 68px;
  background-color: #F4F4F4;
}
.page-node .content .col-center .col-center-in .author-material .name {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
}
.page-node .content .col-center .col-center-in .author-material .name a {
  font-family: BaseFontBold;
  color: #10659E;
  font-size: 16px;
}
.page-node .content .col-center .col-center-in .author-material .name span {
  display: block;
  font-family: Georgia;
  font-size: 12px;
  line-height: 18px;
  color: #8c8c8c;
  font-style: italic;
}
.page-node .content .col-center .col-center-in .author-material.no-pic {
  padding-left: 0;
  min-height: auto;
}
.page-node .content .col-center .col-center-in .field-img {
  margin-bottom: 25px;
  clear: both;
  line-height: 18px;
}
.page-node .content .col-center .col-center-in .field-img .item-author,
.page-node .content .col-center .col-center-in .field-img .item-source {
  display: block;
  font-size: 11px;
  font-family: Georgia;
  font-style: italic;
}
.page-node .content .col-center .col-center-in .field-img .item-author {
  float: left;
  margin-right: 2px;
  width: 55%;
}
.page-node .content .col-center .col-center-in .field-img .item-source {
  float: right;
  width: 35%;
  text-align: right;
}
.page-node .content .col-center .col-center-in .field-img.first {
  clear: none;
}
.page-node .content .col-center .col-center-in .field-img.first .item-author {
  display: inline-block;
  float: none;
  width: auto;
}
.page-node .content .col-center .col-center-in .field-img.first .item-source {
  display: inline-block;
  float: none;
  width: auto;
}
.page-node .content .col-center .col-center-in .field-img.first .item-source:before {
  content: '(';
}
.page-node .content .col-center .col-center-in .field-img.first .item-source:after {
  content: ')';
}
.page-node .content .col-center .col-center-in .field-img.first:after {
  clear: none;
}
.page-node .content .col-center .col-center-in .field-img img {
  width: 100%;
  height: auto;
  margin-bottom: 4px;
}
.page-node .content .col-center .col-center-in .field-img:after {
  content: '';
  display: block;
  clear: both;
}
.page-node .content .col-center .col-center-in .field-img-profile {
  background-color: #F4F4F4;
  margin-bottom: 50px;
  padding: 10px;
}
.page-node .content .col-center .col-center-in .field-img-profile img {
  width: 100%;
  margin-bottom: 16px;
}
.page-node .content .col-center .col-center-in .field-img-profile .item-number-state {
  font-family: BaseFontBold, Arial;
  font-size: 30px;
  line-height: 30px;
  margin: 0 15px 12px;
  padding-bottom: 11px;
  border-bottom: 1px solid #DBDBDB;
}
.page-node .content .col-center .col-center-in .field-img-profile .item-number-state .number {
  float: left;
}
.page-node .content .col-center .col-center-in .field-img-profile .item-number-state .state {
  float: right;
}
.page-node .content .col-center .col-center-in .field-img-profile .item-number-state:after {
  content: '';
  width: 100%;
  display: table;
}
.page-node .content .col-center .col-center-in .field-img-profile .item-rating {
  padding: 0 15px;
  font-family: BaseFontBold, Arial;
  font-size: 15px;
  line-height: 20px;
}
.page-node .content .col-center .col-center-in .field-img-profile .item-rating a {
  color: #10659E;
}
.page-node .content .col-center .col-center-in .field-img-profile .item-author-img {
  padding: 0 15px;
  font-family: Georgia;
  font-size: 11px;
  line-height: 18px;
  font-style: italic;
}
.page-node .content .col-center .col-center-in .richest-businessman-table {
  margin-bottom: 40px;
}
.page-node .content .col-center .col-center-in .richest-businessman-table .name {
  font-family: BaseFontBold, Arial;
  font-size: 24px;
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
  margin-bottom: 12px;
}
.page-node .content .col-center .col-center-in .richest-businessman-table .tbl-rating {
  width: 100%;
  font-family: BaseFontBold, Arial;
  font-size: 14px;
  border-spacing: 0;
}
.page-node .content .col-center .col-center-in .richest-businessman-table .tbl-rating td {
  padding: 6px 0;
  border-bottom: 1px solid #E5E5E5;
}
.page-node .content .col-center .col-center-in .richest-businessman-table .tbl-rating tr:last-child td {
  border-bottom: 0;
}
.page-node .content .col-center .col-center-in .richest-businessman-table .tbl-rating .green {
  color: #1E9E02;
}
.page-node .content .col-center .col-center-in .richest-businessman-table .tbl-rating .red {
  color: #EC0600;
}
.page-node .content .col-center .col-center-in .facts-profile-block {
  margin-bottom: 40px;
}
.page-node .content .col-center .col-center-in .facts-profile-block .facts-profile {
  float: left;
  width: calc(100% - 340px);
}
.page-node .content .col-center .col-center-in .facts-profile-block .facts-profile .name {
  font-family: BaseFontBold, Arial;
  font-size: 24px;
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
  margin-bottom: 12px;
}
.page-node .content .col-center .col-center-in .facts-profile-block .personal-data {
  width: 300px;
  float: right;
  padding: 32px 40px;
  margin-top: 45px;
  background-color: #EFEFEF;
}
.page-node .content .col-center .col-center-in .facts-profile-block .personal-data .name {
  font-family: BaseFontBold;
  font-size: 24px;
  line-height: 28px;
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
}
.page-node .content .col-center .col-center-in .facts-profile-block .personal-data .personal-data-item {
  padding: 12px 0;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #000;
}
.page-node .content .col-center .col-center-in .facts-profile-block .personal-data .personal-data-item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.page-node .content .col-center .col-center-in .facts-profile-block:after {
  content: '';
  display: block;
  clear: both;
}
.page-node .content .col-center .col-center-in .block-bnr-in-text {
  float: right;
  position: relative;
  width: 300px;
  overflow: hidden;
}
.page-node .content .col-center .col-center-in .article-bottom {
  clear: both;
  padding-top: 0.01em;
}
.page-node .content .col-center .col-center-in .article-bottom p {
  margin: 24px 0;
  width: 89%;
}
.page-node .content .col-center .col-center-in .article-bottom p a {
  color: #26539a;
}
.page-node .content .col-center .col-center-in .article-bottom strong {
  font-family: BaseFontBold;
}
.page-node .content .col-center .col-center-in .delimiter {
  clear: both;
  width: 100%;
}
.page-node .content .also-interested {
  padding-bottom: 20px;
  margin-top: 55px;
  border-bottom: 2px solid #000;
  clear: both;
}
.page-node .content .also-interested .name {
  font-family: BaseFontBold, Arial;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  border-bottom: 4px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.page-node .content .also-interested .also-interested-gallery {
  position: relative;
  width: 100%;
  display: none;
}
.page-node .content .also-interested .also-interested-gallery.show {
  display: block;
}
.page-node .content .also-interested .also-interested-gallery .slick-prev,
.page-node .content .also-interested .also-interested-gallery .slick-next {
  position: absolute;
  top: -56px;
  right: 0;
  width: 25px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  background: transparent url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-black.png") center center no-repeat;
  background-size: contain;
}
.page-node .content .also-interested .also-interested-gallery .slick-prev.slick-disabled,
.page-node .content .also-interested .also-interested-gallery .slick-next.slick-disabled {
  opacity: .3;
}
.page-node .content .also-interested .also-interested-gallery .slick-prev {
  right: 35px;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.page-node .content .also-interested .also-interested-gallery-item {
  display: block;
  width: 221px;
  height: 180px;
  margin-right: 19px;
  position: relative;
  color: #fff;
}
.page-node .content .also-interested .also-interested-gallery-item img {
  width: inherit;
  height: inherit;
}
.page-node .content .also-interested .also-interested-gallery-item .popular,
.page-node .content .also-interested .also-interested-gallery-item .reklama {
  position: absolute;
  top: 9px;
  font-family: BaseFontBold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  background-color: #FFDA00;
  color: #000;
  padding: 4px 5px 3px;
}
.page-node .content .also-interested .also-interested-gallery-item .reklama {
  background-color: #FFF;
}
.page-node .content .also-interested .also-interested-gallery-item .text {
  position: absolute;
  width: 85%;
  left: 15px;
  bottom: 15px;
  font-family: BaseFontDemi;
  font-size: 16px;
  line-height: 18px;
}
.page-node .content .also-interested .also-interested-gallery-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.page-node .content .partner-news {
  margin-top: 36px;
  border-bottom: 2px solid #000;
  clear: both;
}
.page-node .content .partner-news .name {
  font-family: BaseFontBold, Arial;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  border-bottom: 4px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.page-node .content .partner-news .partner-news-content {
  padding-bottom: 20px;
}
.page-node .content .partner-news .partner-news-content:after {
  content: '';
  display: block;
  clear: both;
}
.page-node .content .partner-news .partner-news-content a {
  display: block;
  width: 18.68%;
  float: left;
  margin-right: 1.6%;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.page-node .content .partner-news .partner-news-content a:last-child {
  margin-right: 0;
}
.page-node .content .partner-news .partner-news-content a img {
  width: 100%;
  height: auto;
  margin-bottom: 7px;
}
.page-node .content .related-news {
  padding-bottom: 20px;
  margin-top: 55px;
  clear: both;
}
.page-node .content .related-news .name {
  font-family: BaseFontBold, Arial;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  border-bottom: 4px solid #000;
  padding-bottom: 10px;
}
.page-node .content .related-news .related-news-content a {
  display: block;
  position: relative;
  border-bottom: 1px solid #000;
  line-height: 20px;
  color: #000;
  padding: 12px 30px;
  padding-left: 30px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-black.png") 10px center no-repeat;
  background-size: 6px 11px;
}
.page-node .content .pagination {
  border-top: 1px solid #000;
  padding-top: 11px;
  margin-top: 45px;
  clear: both;
}
.page-node .content .pagination .name {
  float: left;
  font-family: BaseFontBold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  padding-right: 20px;
  margin-top: 2px;
}
.page-node .content .pagination .pagination-item {
  float: left;
  position: relative;
  margin-right: 7px;
  margin-top: 2px;
  width: 22px;
  height: 22px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
}
.page-node .content .pagination .pagination-item:after {
  content: attr(data-number);
  position: absolute;
  top: 4px;
  left: 0;
  width: inherit;
  height: inherit;
}
.page-node .content .pagination .pagination-item:before {
  content: '';
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: #000;
  border-radius: 50%;
}
.page-node .content .pagination .pagination-item.active {
  color: #fff;
}
.page-node .content .pagination .pagination-item.active:before {
  display: block;
}
.page-node .content .pagination .pagination-item:hover {
  color: #fff;
}
.page-node .content .pagination .pagination-item:hover:before {
  display: block;
}
.page-node .content .pagination .further {
  float: right;
  padding: 0 10px;
  background-color: #10659E;
  color: #fff;
  font-family: BaseFontBold;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.page-node .content .pagination .further:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-left: 32px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-white-small.png") no-repeat;
  background-size: contain;
}
.page-node .content .pagination:after {
  content: '';
  display: block;
  clear: both;
}

.page-forbes-life .under-menu {
  padding: 27px 0 11px;
}
.page-forbes-life .under-menu .col-left {
  width: 31.4%;
}
.page-forbes-life .under-menu .forbes-pic-logo .forbes-life {
  display: block;
}
.page-forbes-life .under-menu .forbes-pic-logo .forbes-logo {
  display: none;
}

.page-forbes-school .under-menu .forbes-pic-logo .forbes-school {
  display: block;
}
.page-forbes-school .under-menu .forbes-pic-logo .forbes-logo {
  display: none;
}
.page-forbes-school header .under-menu .col-left {
  width: 50%;
}

.page-forbes-woman .under-menu .col-left {
  width: 41.8%;
}
.page-forbes-woman .under-menu .forbes-pic-logo .forbes-woman {
  display: block;
}
.page-forbes-woman .under-menu .forbes-pic-logo .forbes-logo {
  display: none;
}

.page-forbes-club .under-menu .col-left {
  width: 33.6%;
}
.page-forbes-club .under-menu .forbes-pic-logo .forbes-club {
  display: block;
}
.page-forbes-club .under-menu .forbes-pic-logo .forbes-logo {
  display: none;
}

.page-forbes-life .page-life-woman,
.page-forbes-woman .page-life-woman,
.page-forbes-club .page-life-woman {
  width: 100%;
  padding-top: 40px;
  border-top: 1px solid #000;
  position: relative;
}
.page-forbes-life .page-life-woman .first-material,
.page-forbes-woman .page-life-woman .first-material,
.page-forbes-club .page-life-woman .first-material {
  width: calc(100% - 340px);
  float: left;
}
.page-forbes-life .page-life-woman .first-material img,
.page-forbes-woman .page-life-woman .first-material img,
.page-forbes-club .page-life-woman .first-material img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.page-forbes-life .page-life-woman .first-material .date,
.page-forbes-woman .page-life-woman .first-material .date,
.page-forbes-club .page-life-woman .first-material .date {
  font-family: "Myriad Pro Regular", Arial;
  font-size: 11px;
  margin-bottom: 2px;
}
.page-forbes-life .page-life-woman .first-material .text,
.page-forbes-woman .page-life-woman .first-material .text,
.page-forbes-club .page-life-woman .first-material .text {
  display: block;
  font-family: BaseFontBold, Arial;
  font-size: 39px;
  line-height: 44px;
  color: #000;
  margin-bottom: 65px;
}
.page-forbes-life .page-life-woman .block-bnr-in-text,
.page-forbes-woman .page-life-woman .block-bnr-in-text,
.page-forbes-club .page-life-woman .block-bnr-in-text {
  width: 300px;
  float: right;
  margin-bottom: 60px;
}
.page-forbes-life .page-life-woman .under-first-material,
.page-forbes-woman .page-life-woman .under-first-material,
.page-forbes-club .page-life-woman .under-first-material {
  width: 100%;
  margin-bottom: 37px;
}
.page-forbes-life .page-life-woman .under-first-material .first-block,
.page-forbes-woman .page-life-woman .under-first-material .first-block,
.page-forbes-club .page-life-woman .under-first-material .first-block {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-around;
}
.page-forbes-life .page-life-woman .under-first-material .first-block .item-material,
.page-forbes-woman .page-life-woman .under-first-material .first-block .item-material,
.page-forbes-club .page-life-woman .under-first-material .first-block .item-material {
  width: 32.156%;
  padding-bottom: 40px;
  padding-right: 0;
  margin-right: 1.725%;
  margin-bottom: 0;
}
.page-forbes-life .page-life-woman .under-first-material .first-block .item-material img,
.page-forbes-woman .page-life-woman .under-first-material .first-block .item-material img,
.page-forbes-club .page-life-woman .under-first-material .first-block .item-material img {
  width: 100%;
}
.page-forbes-life .page-life-woman .under-first-material .first-block .item-material:nth-of-type(3n+3),
.page-forbes-woman .page-life-woman .under-first-material .first-block .item-material:nth-of-type(3n+3),
.page-forbes-club .page-life-woman .under-first-material .first-block .item-material:nth-of-type(3n+3) {
  margin-right: 0;
}
.page-forbes-life .page-life-woman .under-first-material .last-block,
.page-forbes-woman .page-life-woman .under-first-material .last-block,
.page-forbes-club .page-life-woman .under-first-material .last-block {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-around;
}
.page-forbes-life .page-life-woman .under-first-material .last-block .item-material,
.page-forbes-woman .page-life-woman .under-first-material .last-block .item-material,
.page-forbes-club .page-life-woman .under-first-material .last-block .item-material {
  width: 32.156%;
  padding-bottom: 40px;
  padding-right: 0;
  margin-right: 1.725%;
  margin-bottom: 0;
}
.page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(3n+4),
.page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(3n+4),
.page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(3n+4) {
  margin-right: 0;
}
.page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1),
.page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1),
.page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) {
  width: 100%;
  margin: 0;
  padding-bottom: 52px;
}
.page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .date,
.page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .date,
.page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .date {
  font-family: BaseFontMedium;
  color: #000;
}
.page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .text,
.page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .text,
.page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .text {
  font-size: 39px;
  line-height: 44px;
}
.page-forbes-life .page-life-woman .under-first-material .first-block .item-material .pic,
.page-forbes-life .page-life-woman .under-first-material .last-block .item-material .pic,
.page-forbes-woman .page-life-woman .under-first-material .first-block .item-material .pic,
.page-forbes-woman .page-life-woman .under-first-material .last-block .item-material .pic,
.page-forbes-club .page-life-woman .under-first-material .first-block .item-material .pic,
.page-forbes-club .page-life-woman .under-first-material .last-block .item-material .pic {
  display: block;
  margin-bottom: 12px;
}
.page-forbes-life .page-life-woman .under-first-material .first-block .item-material img,
.page-forbes-life .page-life-woman .under-first-material .last-block .item-material img,
.page-forbes-woman .page-life-woman .under-first-material .first-block .item-material img,
.page-forbes-woman .page-life-woman .under-first-material .last-block .item-material img,
.page-forbes-club .page-life-woman .under-first-material .first-block .item-material img,
.page-forbes-club .page-life-woman .under-first-material .last-block .item-material img {
  width: 100%;
  height: auto;
}
.page-forbes-life .page-life-woman .under-first-material .first-block .item-material .date,
.page-forbes-life .page-life-woman .under-first-material .last-block .item-material .date,
.page-forbes-woman .page-life-woman .under-first-material .first-block .item-material .date,
.page-forbes-woman .page-life-woman .under-first-material .last-block .item-material .date,
.page-forbes-club .page-life-woman .under-first-material .first-block .item-material .date,
.page-forbes-club .page-life-woman .under-first-material .last-block .item-material .date {
  font-size: 11px;
  color: #7A7A7A;
  margin-bottom: 6px;
}
.page-forbes-life .page-life-woman .under-first-material .first-block .item-material .text,
.page-forbes-life .page-life-woman .under-first-material .last-block .item-material .text,
.page-forbes-woman .page-life-woman .under-first-material .first-block .item-material .text,
.page-forbes-woman .page-life-woman .under-first-material .last-block .item-material .text,
.page-forbes-club .page-life-woman .under-first-material .first-block .item-material .text,
.page-forbes-club .page-life-woman .under-first-material .last-block .item-material .text {
  font-family: BaseFontBold, Arial;
  font-size: 20px;
  line-height: 25px;
  color: #000;
  display: block;
}
.page-forbes-life .page-life-woman .under-first-material .load_more,
.page-forbes-woman .page-life-woman .under-first-material .load_more,
.page-forbes-club .page-life-woman .under-first-material .load_more {
  width: 100%;
  margin-top: 10px;
  padding-top: 42px;
  border-top: 2px solid #000;
  font-size: 16px;
}
.page-forbes-life .page-life-woman .under-first-material:after,
.page-forbes-woman .page-life-woman .under-first-material:after,
.page-forbes-club .page-life-woman .under-first-material:after {
  content: '';
  clear: both;
  display: block;
}
.page-forbes-life .page-life-woman:after,
.page-forbes-woman .page-life-woman:after,
.page-forbes-club .page-life-woman:after {
  content: '';
  clear: both;
  display: block;
}

.block-page-search {
  border-top: 1px solid #000;
  margin-bottom: 20px;
}
.block-page-search .block-name {
  text-transform: uppercase;
  font-family: BaseFontBold, Arial;
  font-size: 20px;
  line-height: 18px;
  margin: 34px 0;
}
.block-page-search form {
  position: relative;
}
.block-page-search form .form-item {
  margin-bottom: 47px;
}
.block-page-search form input[type="text"] {
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  padding: 24px 10px 23px 57px;
  font-family: Myriad Pro Regular, BaseFont, Arial;
  font-size: 18px;
  line-height: 18px;
}
.block-page-search form input[placeholder] {
  opacity: 1;
  text-overflow: ellipsis;
}
.block-page-search form input::-moz-placeholder {
  opacity: 1;
  text-overflow: ellipsis;
}
.block-page-search form input:-moz-placeholder {
  opacity: 1;
  text-overflow: ellipsis;
}
.block-page-search form input:-ms-input-placeholder {
  opacity: 1;
  text-overflow: ellipsis;
}
.block-page-search form input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.block-page-search form input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.block-page-search form input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.block-page-search form input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.block-page-search form input:focus [placeholder] {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.block-page-search form input[type="submit"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
  height: 49px;
  border: 0;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/searchbutton-bg.png") center center no-repeat;
  background-size: 33%;
  text-indent: -10000px;
  cursor: pointer;
}
.block-page-search form input[type="text"],
.block-page-search form input[type="submit"] {
  outline: none;
}
.block-page-search .ap-solr-filter {
  padding-left: 16px;
}
.block-page-search .ap-solr-filter .link-sort {
  float: left;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #10659E;
  margin-right: 40px;
}
.block-page-search .ap-solr-filter .link-sort:before {
  content: '';
  display: block;
  float: left;
  border: 1px solid #CFCFCF;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.block-page-search .ap-solr-filter .link-sort.active-link {
  color: #000;
  text-decoration: none;
  cursor: default;
}
.block-page-search .ap-solr-filter .link-sort.active-link:before {
  box-shadow: inset 0 0 0 3px #FFFFFF;
  background-color: #10659E;
}
.block-page-search .ap-solr-filter:after {
  content: '';
  display: block;
  clear: both;
}

.main-section-list.search-results {
  border-top: 2px solid #000;
  padding-top: 20px;
}
.main-section-list.search-results .result-profile .item-material {
  background-color: #F5F4F4;
  position: relative;
}
.main-section-list.search-results .result-profile .item-material .date-material {
  display: none;
}
.main-section-list.search-results .result-profile .item-material .href-material {
  padding-top: 29px;
  margin-bottom: 10px;
}
.main-section-list.search-results .result-profile .item-material .person-regalia {
  font-size: 13px;
  line-height: 18px;
  margin-left: 32.1%;
  padding-bottom: 1em;
}
.main-section-list.search-results .result-profile .item-material:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #fff;
}
.main-section-list.search-results .result-profile .item-material:after {
  content: '';
  display: block;
  clear: both;
}

.block-page-author {
  border-top: 1px solid #000;
  margin-bottom: 60px;
  padding-top: 36px;
}
.block-page-author .author-box {
  border: 1px solid #E5E5E5;
  padding: 3.104% 3.88%;
  display: table;
  width: 100%;
}
.block-page-author .author-box .author,
.block-page-author .author-box .about-author {
  display: table-cell;
  vertical-align: top;
  position: relative;
}
.block-page-author .author-box .author {
  width: 61.1%;
  border-right: 1px solid #E5E5E5;
  padding-right: 2%;
}
.block-page-author .author-box .author .author-pic {
  float: left;
  width: 23.438%;
  height: auto;
  border-radius: 50%;
  background-color: #E9E9E9;
  margin-right: 6%;
}
.block-page-author .author-box .author .person {
  margin-left: 29.438%;
}
.block-page-author .author-box .author .person-name {
  font-family: BaseFontDemi, Arial;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 4px;
}
.block-page-author .author-box .author .person-regalia {
  font-family: BaseFontBold, Arial;
  font-size: 16px;
  line-height: 24px;
  padding-right: 22%;
}
.block-page-author .author-box .author .person-social-bt {
  margin-top: 13px;
}
.block-page-author .author-box .author .person-social-bt a {
  float: left;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/person-social-bt.png") no-repeat;
}
.block-page-author .author-box .author .person-social-bt a:last-child {
  margin-right: 0;
}
.block-page-author .author-box .author .person-social-bt .fb {
  background-position: 0 0;
}
.block-page-author .author-box .author .person-social-bt .vk {
  background-position: -34px 0;
}
.block-page-author .author-box .author .person-social-bt .tw {
  background-position: -68px 0;
}
.block-page-author .author-box .author .person-social-bt .in {
  background-position: -102px 0;
}
.block-page-author .author-box .author .person-social-bt .rss {
  background-position: -136px 0;
}
.block-page-author .author-box .author .person-social-bt:after {
  content: '';
  display: block;
  clear: both;
}
.block-page-author .author-box .about-author {
  width: 39.9%;
  padding-left: 4.682%;
}
.block-page-author .author-box .about-author .name {
  font-family: BaseFontBold, Arial;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.block-page-author .author-box .about-author .text {
  font-family: BaseFontMedium, Arial;
  font-size: 14px;
  line-height: 20px;
}

.main-section-list.author-material-list {
  border-top: 4px solid #000;
  padding-top: 20px;
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: 102;
  background-color: #000;
  pointer-events: none;
}

.shares {
  border: 1px solid #E5E5E5;
  display: table;
  width: 100%;
  opacity: 1;
  margin-bottom: 25px;
}
.shares .sum-and-links,
.shares .discuss {
  display: table-cell;
  vertical-align: middle;
  padding: 13px 0;
}
.shares .sum-and-links {
  border-right: 1px solid #E5E5E5;
  font-family: BaseFontBold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #939393;
  text-align: center;
}
.shares .sum-and-links .sum {
  color: #000;
  padding-right: 3px;
}
.shares .sum-and-links .links {
  display: inline-block;
  margin-left: 15px;
}
.shares .sum-and-links .links a {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/social-sum-and-links.png") no-repeat;
  margin-right: 5px;
}
.shares .sum-and-links .links a.vkontakte {
  background-position: -34px 0;
}
.shares .sum-and-links .links a.twitter {
  background-position: -68px 0;
}
.shares .sum-and-links .links a:last-child {
  margin-right: 0;
}
.shares .sum-and-links .links span {
  display: inherit;
  text-indent: -10000px;
}
.shares .discuss {
  width: 165px;
  text-align: center;
}
.shares .discuss a {
  font-family: BaseFontBold;
  font-size: 14px;
  line-height: 17px;
  color: #10659E;
  text-transform: uppercase;
}
.shares .discuss a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 17px;
  margin-right: 10px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/discuss.png") no-repeat;
  background-size: contain;
}

.read-also {
  overflow: hidden;
  width: 300px;
}
.read-also .soc-seti {
  background-color: #F6F6F6;
}
.read-also .soc-seti .soc-seti-content {
  display: none;
}
.read-also .soc-seti .soc-seti-content h4 {
  font-family: BaseFontDemi, Arial;
  font-size: 16px;
  line-height: 20px;
  padding: 13px 13px 13px 20px;
}
.read-also .soc-seti .soc-seti-content .shares {
  display: block;
  border: 0;
  margin-bottom: 0;
}
.read-also .soc-seti .soc-seti-content .shares .sum-and-links,
.read-also .soc-seti .soc-seti-content .shares .discuss {
  display: block;
  text-align: left;
  padding: 13px 0 13px 20px;
}
.read-also .soc-seti .soc-seti-content .shares .sum-and-links {
  border-right: 0;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
.read-also .soc-seti .soc-seti-content .shares .discuss {
  width: auto;
  background-color: #FBFBFB;
}
.read-also .soc-seti .name {
  font-family: BaseFontBold;
  background-color: #D9D9D9;
  font-size: 12px;
  line-height: 9px;
  text-transform: uppercase;
  padding: 7px 19px 6px;
}
.read-also .read-also-block-href {
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  padding-top: 25px;
}
.read-also .read-also-block-href div[id^="AdFox_banner"] .href-material {
  padding-top: 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid #E2E2E2;
}
.read-also .read-also-block-href .href-material {
  display: block;
  color: #000;
  padding: 25px 20px 35px;
  margin: 0 20px 0 0;
  border-bottom: 1px solid #E2E2E2;
  text-decoration: none;
}
.read-also .read-also-block-href .href-material .quantity {
  display: block;
  color: #A4A4A4;
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 5px;
}
.read-also .read-also-block-href .href-material .img {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: #000;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
.read-also .read-also-block-href .href-material .img img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.read-also .read-also-block-href .href-material .text {
  display: block;
  font-family: BaseFontDemi, Arial;
  font-size: 14px;
  line-height: 15px;
}
.read-also .read-also-block-href .href-material:hover .text {
  text-decoration: underline;
}
.read-also .read-also-block-href .href-material:first-of-type {
  padding-top: 0;
}
.read-also .read-also-block-href .href-material:last-child {
  border-bottom: 0;
  padding-bottom: 25px;
}
.read-also .read-also-block-href .href-material:after {
  content: '';
  display: block;
  clear: both;
}
.read-also .read-also-block-href:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: transparent;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}

.article-soc-for-mobile {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 62px;
  top: -62px;
  left: 0;
  background-color: #fff;
}
.article-soc-for-mobile .wrap-block {
  display: table;
  width: 100%;
  height: inherit;
  vertical-align: middle;
}
.article-soc-for-mobile .wrap-block .item-block {
  display: table-cell;
  vertical-align: middle;
  text-indent: -3000px;
}
.article-soc-for-mobile .wrap-block .item-block.fb {
  background: #3A5999 url("http://cdn.forbes.ru/sites/all/themes/forbes/img/article-soc-for-mobile-fb.png") center center no-repeat;
  background-size: auto 28px;
}
.article-soc-for-mobile .wrap-block .item-block.vk {
  background: #5A88B1 url("http://cdn.forbes.ru/sites/all/themes/forbes/img/article-soc-for-mobile-vk.png") center center no-repeat;
  background-size: auto 22px;
}
.article-soc-for-mobile .wrap-block .item-block.tw {
  background: #56CEF5 url("http://cdn.forbes.ru/sites/all/themes/forbes/img/article-soc-for-mobile-tw.png") center center no-repeat;
  background-size: auto 26px;
}
.article-soc-for-mobile .wrap-block .item-block.in {
  background: #007AB9 url("http://cdn.forbes.ru/sites/all/themes/forbes/img/article-soc-for-mobile-in.png") center center no-repeat;
  background-size: auto 26px;
}
.article-soc-for-mobile .wrap-block .item-block.whatsapp {
  background: #65BC54 url("http://cdn.forbes.ru/sites/all/themes/forbes/img/article-soc-for-mobile-whatsapp.png") center center no-repeat;
  background-size: auto 38px;
}
.article-soc-for-mobile.true {
  z-index: 10100;
}

.artSocForMobile-true .content .col-center {
  position: static;
}
.artSocForMobile-true .article-soc-for-mobile {
  top: 0;
}

.body-part-top .body-page,
.body-part-bottom .body-page {
  display: none;
}
.body-part-top .body-page:first-child,
.body-part-bottom .body-page:first-child {
  display: block;
}