@charset "UTF-8";
/* menu */
@media screen and (min-width: 0px) and (max-width: 1160px) {
  .burger {
    margin-right: 20px;
  }

  header .block-links li a {
    font-size: 12px;
  }
}
@media screen and (min-width: 0px) and (max-width: 1070px) {
  header .block-links li {
    margin-right: 15px;
  }
  header .block-links li a.ForbesWoman,
  header .block-links li a.ForbesLife {
    top: -2px;
  }
}
@media screen and (min-width: 0px) and (max-width: 950px) {
  header .block-links li {
    margin-right: 12px;
  }
  header .block-links li a {
    font-size: 11px;
  }
  header .block-links li a.ForbesWoman, header .block-links li a.ForbesLife {
    top: -2px;
  }
}
@media screen and (min-width: 0px) and (max-width: 885px) {
  header .block-links li a {
    font-size: 10px;
  }
  header .header-menu-search,
  header .header-menu-search-open {
    right: 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 825px) {
  header .block-links li a {
    font-size: 9px;
  }
  header .header-menu-search {
    width: 65%;
  }
}
@media screen and (min-width: 0px) and (max-width: 785px) {
  .header-menu-content {
    display: none;
  }

  .header-menu-content-mobile {
    display: block;
  }

  .mobile-logo {
    display: none;
  }
}
/* end menu */
@media screen and (min-width: 1320px) {
  .block-page-opinion .important-opinion .important-opinion-text .href-material {
    font-size: 24px;
    line-height: 28px;
  }
}
/*
  all
*/
@media screen and (min-width: 0px) and (max-width: 768px) {
  .all-material {
    font-size: 10px;
  }
  .all-material span {
    margin-left: 7px;
  }

  .modal-menu .modal-menu-body {
    padding: 0 8%;
  }
  .modal-menu .modal-head {
    border-bottom: 2px solid #333;
  }
  .modal-menu .modal-head .modal-menu-close {
    margin-left: -8%;
  }
  .modal-menu .modal-content {
    padding-bottom: 48px;
  }
  .modal-menu .modal-content .col-left,
  .modal-menu .modal-content .col-center,
  .modal-menu .modal-content .col-right {
    width: 46%;
  }
  .modal-menu .modal-content .col-left,
  .modal-menu .modal-content .col-center {
    float: left;
  }
  .modal-menu .modal-content .col-left {
    margin-right: 8%;
  }
  .modal-menu .modal-content .col-center {
    margin-right: 0;
  }
  .modal-menu .modal-content .col-right {
    float: none;
    clear: both;
    padding-top: 54px;
  }
  .modal-menu .modal-content .modal-content-middle .name,
  .modal-menu .modal-content .modal-content-bottom .name {
    font-size: 11px;
  }
  .modal-menu .modal-content .modal-content-middle .href,
  .modal-menu .modal-content .modal-content-bottom .href {
    font-size: 14px;
    padding: 13px 11% 13px 5.6%;
  }
  .modal-menu .modal-content .modal-content-middle .href.forbes-life:after, .modal-menu .modal-content .modal-content-middle .href.forbes-woman:after,
  .modal-menu .modal-content .modal-content-bottom .href.forbes-life:after,
  .modal-menu .modal-content .modal-content-bottom .href.forbes-woman:after {
    height: 22px;
    background-size: contain;
  }
  .modal-menu .modal-content .modal-content-middle .href.forbes-woman:after,
  .modal-menu .modal-content .modal-content-bottom .href.forbes-woman:after {
    height: 18px;
    background-size: contain;
  }
  .modal-menu .modal-content .modal-content-middle .href.brand-voice:after,
  .modal-menu .modal-content .modal-content-bottom .href.brand-voice:after {
    height: 11px;
    background-size: contain;
  }
  .modal-menu .modal-content .modal-content-bottom .col-center .href:last-child {
    border-bottom: 1px solid #333;
  }
  .modal-menu .modal-content .modal-content-bottom .col-right {
    float: right;
    padding-top: 0;
  }
  .modal-menu .modal-menu-footer .modal-menu-footer-content {
    padding: 33px 8% 0 8%;
    font-size: 14px;
  }

  header .under-menu {
    padding: 15px 0;
  }
  header .under-menu .currency {
    margin-right: 18%;
    font-size: 12px;
    width: 180px;
  }
  header .under-menu .social {
    margin-right: 0;
  }

  .drum {
    padding-top: 25px;
  }
  .drum .important-news {
    float: none;
    width: 100%;
    max-width: none;
    margin-bottom: 30px;
  }
  .drum .actual-news {
    float: none;
    width: 100%;
    max-width: none;
  }
  .drum .actual-news .most-current-today {
    display: block;
    position: relative;
    border-bottom: 0;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .drum .actual-news .most-current-today:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-bottom: 5px solid #ffa800;
    width: 33%;
  }
  .drum .actual-news .item-news {
    width: 44%;
    margin-right: 6%;
    height: 7em;
    overflow: hidden;
    float: left;
  }
  .drum .actual-news .item-news .href-material {
    font-size: 15px;
    line-height: 20px;
  }
  .drum .actual-news .item-news .author {
    font-size: 12px;
  }
  .drum .actual-news .item-news:nth-of-type(2), .drum .actual-news .item-news:nth-of-type(3) {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 20px;
  }
  .drum .actual-news .item-news:nth-of-type(5) {
    float: right;
  }
  .drum .actual-news .item-news:nth-last-of-type(-n+2) {
    height: auto;
    margin-bottom: 0;
  }
  .drum.category {
    position: relative;
    padding-top: 25px;
  }
  .drum.category:before {
    height: 25px;
  }
  .drum.category .important-news {
    float: none;
  }
  .drum.category .important-news .important-news-text {
    padding-right: 15%;
  }
  .drum.category .actual-news {
    float: none;
    width: 100%;
    max-width: none;
    padding: 0 30px 25px;
  }
  .drum.category .actual-news .most-current-today {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    padding: 20px 30px 22px;
    margin-bottom: 0;
    font-size: 16px;
    background: #000;
    /* ╨Ф╨╗╤П ╤Б╤В╨░╤А╤Л╤Е ╨▒╤А╨░╤Г╨╖╤А╨╛╨▓ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  }
  .drum.category .actual-news .most-current-today:after {
    display: block;
    position: relative;
    bottom: 0;
    top: 7px;
    width: 100%;
  }
  .drum.category .actual-news .item-news {
    width: 85%;
    margin-right: 0;
    height: auto;
    float: none;
    border-bottom: 0;
  }
  .drum.category .actual-news .item-news:nth-of-type(2) {
    margin-bottom: 0;
  }

  .under-drum .item-material img {
    margin-bottom: 13px;
  }
  .under-drum .item-material .date {
    font-size: 10px;
    margin-bottom: 9px;
  }
  .under-drum .item-material .name {
    font-size: 16px;
    line-height: 22px;
    width: 90%;
  }

  .block-opinions {
    margin-bottom: 40px;
  }
  .block-opinions .block-opinions-head {
    font-size: 32px;
    line-height: 32px;
    padding: 20px 0;
  }
  .block-opinions .block-opinions-content .item-material .href-author img {
    width: 80px;
    height: 80px;
  }
  .block-opinions .block-opinions-content .item-material .href-material {
    font-size: 15px;
    line-height: 20px;
    display: block;
  }
  .block-opinions .block-opinions-bottom {
    font-size: 16px;
    line-height: 20px;
  }
  .block-opinions .block-opinions-bottom a:after {
    height: 12px;
  }
  .block-opinions.page-opinion .block-opinions-content .item-material .href-section {
    font-size: 10px;
    margin-bottom: 15px;
  }

  .block-page-opinion {
    margin-bottom: 40px;
  }
  .block-page-opinion .block-name {
    margin: 24px 0;
    font-size: 18px;
  }
  .block-page-opinion .important-opinion .important-opinion-text .item-material {
    padding: 10px 13%;
  }
  .block-page-opinion .important-opinion .important-opinion-text .href-section {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .block-page-opinion .important-opinion .important-opinion-text .href-author img {
    width: 80px;
    height: 80px;
  }
  .block-page-opinion .important-opinion .important-opinion-text .href-material {
    font-size: 15px;
    line-height: 20px;
  }

  .main-section-tab {
    margin-bottom: 20px;
  }
  .main-section-tab .name {
    font-size: 14px;
    padding: 4px 10px 6px 14px;
    margin-right: 22px;
  }
  .main-section-tab .name:after {
    width: 14px;
    border-left: 14px solid #000;
    border-bottom: 26px solid #fff;
    right: -14px;
  }
  .main-section-tab .list {
    margin-top: 6px;
  }
  .main-section-tab .list li {
    font-size: 10px;
    margin-right: 18px;
  }

  .main-section-list {
    padding-bottom: 40px;
  }
  .main-section-list .block-href-material {
    padding-right: 30px;
  }
  .main-section-list .block-href-material .item-material {
    padding-right: 0;
  }
  .main-section-list .block-href-material .item-material .pic-material {
    width: 100%;
    float: none;
    margin-right: 0;
    max-width: none;
  }
  .main-section-list .block-href-material .item-material .date-material,
  .main-section-list .block-href-material .item-material .href-material,
  .main-section-list .block-href-material .item-material .author-material {
    margin-left: 0;
  }
  .main-section-list .block-href-material .item-material .date-material {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 10px;
  }
  .main-section-list .block-href-material .item-material .href-material {
    font-size: 17px;
    line-height: 21px;
  }
  .main-section-list .block-href-material .item-material .author-material {
    font-size: 12px;
  }
  .main-section-list.editors-choice .main-section-tab {
    padding-top: 24px;
    margin-bottom: 24px;
  }
  .main-section-list.editors-choice .main-section-tab .name {
    font-size: 18px;
  }
  .main-section-list.editors-choice .block-href-material .item-material .date-material {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 14px;
  }
  .main-section-list.editors-choice .block-href-material .item-material .href-material {
    font-size: 17px;
    line-height: 21px;
  }

  .main-forbes-video {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .main-forbes-video .logo-forbes-video {
    width: 125px;
    height: 19px;
  }

  .main-gallery-block {
    padding-top: 20px;
  }

  .main-gallery {
    padding: 0 40px;
  }
  .main-gallery .slick-prev,
  .main-gallery .slick-next {
    width: 40px;
  }
  .main-gallery .slick-prev {
    background-position: 0 45px;
  }
  .main-gallery .slick-next {
    background-position: -45px 45px;
  }
  .main-gallery .main-gallery-item {
    width: 200px;
  }
  .main-gallery .main-gallery-item.slick-slide img {
    width: 100%;
    height: auto;
  }

  .main-rating-block {
    padding-bottom: 40px;
  }
  .main-rating-block .block-rating h3 {
    font-size: 30px;
    margin-bottom: 42px;
  }
  .main-rating-block .block-rating .block-rating-head {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .main-rating-block .block-rating .block-rating-head .item .name {
    font-family: BaseFont;
    font-size: 13px;
  }
  .main-rating-block .block-rating .block-rating-head .item .data {
    font-size: 10px;
  }
  .main-rating-block .block-rating .block-rating-bottom .item {
    font-size: 22px;
    line-height: 26px;
  }
  .main-rating-block .block-rating .block-rating-bottom .item:after {
    height: 15px;
    margin-left: 15px;
  }
  .main-rating-block .block-href-material .item {
    font-size: 9px;
    line-height: 14px;
  }
  .main-rating-block .block-href-material .item:after {
    width: 7px;
  }
  .main-rating-block .all-ratings {
    font-size: 14px;
  }
  .main-rating-block .all-ratings:after {
    height: 10px;
  }

  .main-brand-voice {
    padding: 20px 0 30px;
  }
  .main-brand-voice .col-left {
    padding-right: 39px;
  }
  .main-brand-voice .col-left .head-brand-voice {
    font-size: 10px;
  }
  .main-brand-voice .col-left .head-brand-voice img {
    width: 46%;
    height: auto;
  }
  .main-brand-voice .col-left .href-material {
    font-size: 15px;
    line-height: 22px;
    display: inline-block;
  }
  .main-brand-voice .col-right {
    padding: 0 0 0 40px;
  }
  .main-brand-voice .col-right .href-material {
    padding-right: 0;
    font-size: 13px;
  }
  .main-brand-voice .col-right .href-all-material {
    font-size: 12px;
  }
  .main-brand-voice .col-right a:nth-last-child(2) {
    padding-bottom: 0;
  }

  .main-life-woman {
    padding-bottom: 40px;
  }
  .main-life-woman .col-head img {
    width: 30%;
    height: auto;
  }
  .main-life-woman .col-head img[src*="forbes-woman"] {
    width: 39%;
  }
  .main-life-woman .col-left .col-head {
    padding-bottom: 15px;
    padding-top: 18px;
  }
  .main-life-woman .col-right .col-head {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .main-life-woman .col-left .item-material .name-material,
  .main-life-woman .col-right .item-material .name-material {
    font-size: 14px;
    line-height: 18px;
  }
  .main-life-woman .col-left .item-material .author-material,
  .main-life-woman .col-right .item-material .author-material {
    font-size: 11px;
    line-height: 16px;
  }

  .main-section-list.readers-choice .block-href-material .item-material {
    width: 30%;
    margin-right: 5%;
  }
  .main-section-list.readers-choice .block-href-material .item-material:nth-of-type(3n) {
    margin-right: 0;
  }
  .main-section-list.readers-choice .block-href-material .item-material:nth-of-type(4n) {
    margin-right: 5%;
  }
  .main-section-list.readers-choice .block-href-material .item-material:nth-of-type(12) {
    margin-right: 0;
  }
  .main-section-list.readers-choice .block-href-material .item-material:nth-of-type(10), .main-section-list.readers-choice .block-href-material .item-material:nth-of-type(11), .main-section-list.readers-choice .block-href-material .item-material:nth-of-type(12) {
    margin-bottom: 0;
    padding-bottom: 0;
    height: auto;
    border-bottom: 0;
  }
  .main-section-list.readers-choice .block-href-material .item-material:nth-last-of-type(-n+4) {
    display: none;
  }
  .main-section-list.readers-choice .block-href-material .item-material .visits {
    font-size: 11px;
  }
  .main-section-list.readers-choice .block-href-material .item-material .href-material {
    font-size: 12px;
  }

  .subscription-magazine .button-to-subscribe {
    font-size: 11px;
  }
  .subscription-magazine .button-to-subscribe span {
    display: inline-block;
    float: none;
    position: relative;
    width: 9px;
    height: 10px;
    margin-left: 7px;
    top: 1px;
  }
  .subscription-magazine .button-to-subscribe span:after {
    display: none;
  }
  .subscription-magazine .button-to-subscribe span:before {
    position: relative;
    width: inherit;
    height: inherit;
    border-top: 0;
    background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-black.png") center center no-repeat;
    background-size: contain;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 0;
  }

  .subscription-magazine,
  .iphone-and-ipad,
  .block-delivery {
    padding: 30px 0;
  }

  .iphone-and-ipad,
  .block-delivery {
    padding-left: 4.5%;
  }

  .subscription-magazine .img,
  .iphone-and-ipad .img {
    margin-right: 15px;
    height: 90px;
  }
  .subscription-magazine .img-appstore,
  .iphone-and-ipad .img-appstore {
    width: 70px;
  }

  .subscription-magazine .name,
  .iphone-and-ipad .name,
  .block-delivery .name {
    font-size: 13px;
    line-height: 24px;
  }
  .subscription-magazine .description,
  .iphone-and-ipad .description,
  .block-delivery .description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .block-delivery-form .tx-button {
    width: 79%;
    padding: 6px 7px;
    font-size: 12px;
  }
  .block-delivery-form .sb-button {
    padding: 5px;
    width: 17%;
    height: 26px;
  }

  .acmg-button-footer .block-choice-open {
    width: 340px;
  }

  .page-node .content .col-left {
    display: none;
  }
  .page-node .content .col-center {
    float: none;
  }
  .page-node .content .col-center .col-center-in {
    margin-left: 0;
    padding-top: 27px;
    padding-left: 0;
    border-left: 0;
  }
  .page-node .content .col-center .col-center-in .block-bnr-in-text {
    width: 42.195%;
    width: 300px;
  }
  .page-node .content .col-center .col-center-in .headline .section-and-hashtag {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 12px;
  }
  .page-node .content .col-center .col-center-in .headline h2 {
    width: 99%;
    font-size: 26px;
    line-height: 32px;
  }
  .page-node .content .col-center .col-center-in .article-top {
    width: 54%;
    width: calc(100% - 325px);
  }
  .page-node .content .col-center .col-center-in .article-top .shares .sum-and-links,
  .page-node .content .col-center .col-center-in .article-top .shares .discuss {
    padding: 5px 0;
  }
  .page-node .content .col-center .col-center-in .article-top .shares .sum-and-links {
    font-size: 12px;
    line-height: 27px;
  }
  .page-node .content .col-center .col-center-in .article-top .shares .discuss {
    width: 130px;
  }
  .page-node .content .col-center .col-center-in .article-top .shares .discuss a {
    font-size: 12px;
  }
  .page-node .content .col-center .col-center-in .article-top .shares .discuss a:before {
    width: 21px;
    height: 17px;
  }
  .page-node .content .col-center .col-center-in .facts-profile-block {
    margin-bottom: 30px;
  }
  .page-node .content .col-center .col-center-in .facts-profile-block .facts-profile {
    width: calc(100% - 325px);
  }
  .page-node .content .also-interested {
    padding-bottom: 15px;
  }
  .page-node .content .also-interested .name {
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  .page-node .content .also-interested .also-interested-gallery-item {
    width: 190px;
    height: 158px;
  }
  .page-node .content .also-interested .also-interested-gallery-item .reklama,
  .page-node .content .also-interested .also-interested-gallery-item .popular {
    font-size: 10px;
    line-height: 10px;
  }
  .page-node .content .also-interested .also-interested-gallery-item .text {
    width: 90%;
    font-size: 14px;
    line-height: 16px;
    left: 12px;
    bottom: 12px;
  }
  .page-node .content .related-news .name,
  .page-node .content .partner-news .name {
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  .page-node .content .related-news .name {
    margin-bottom: 0;
  }
  .page-node .content .partner-news .partner-news-content a {
    font-size: 12px;
  }

  .page-forbes-woman .under-menu .currency {
    margin-right: 5%;
  }

  .page-forbes-life .page-life-woman,
  .page-forbes-woman .page-life-woman,
  .page-forbes-club .page-life-woman {
    padding-top: 20px;
  }
  .page-forbes-life .page-life-woman .first-material,
  .page-forbes-woman .page-life-woman .first-material,
  .page-forbes-club .page-life-woman .first-material {
    width: 100%;
  }
  .page-forbes-life .page-life-woman .first-material img,
  .page-forbes-woman .page-life-woman .first-material img,
  .page-forbes-club .page-life-woman .first-material img {
    margin-bottom: 8px;
  }
  .page-forbes-life .page-life-woman .first-material .text,
  .page-forbes-woman .page-life-woman .first-material .text,
  .page-forbes-club .page-life-woman .first-material .text {
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block,
  .page-forbes-woman .page-life-woman .under-first-material .first-block,
  .page-forbes-club .page-life-woman .under-first-material .first-block {
    width: calc(100% - 325px);
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material,
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material,
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material {
    width: 100%;
    margin-right: 0;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material:nth-of-type(1n+4),
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material:nth-of-type(1n+4),
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material:nth-of-type(1n+4) {
    display: none;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material,
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material,
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material,
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material,
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material,
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material {
    padding-bottom: 30px;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material .text,
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material .text,
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material .text,
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material .text,
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material .text,
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material .text {
    font-size: 17px;
    line-height: 21px;
  }
  .page-forbes-life .page-life-woman .under-first-material .load_more,
  .page-forbes-woman .page-life-woman .under-first-material .load_more,
  .page-forbes-club .page-life-woman .under-first-material .load_more {
    padding-top: 18px;
    font-size: 14px;
  }

  .block-page-search {
    border-top: 4px solid #000;
  }

  .main-section-list.search-results .result-profile .item-material {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .main-section-list.search-results .result-profile .item-material .pic-material {
    width: 35%;
    float: left;
    margin: 2.513%;
  }
  .main-section-list.search-results .result-profile .item-material .href-material,
  .main-section-list.search-results .result-profile .item-material .person-regalia {
    margin-left: 40.026%;
  }
  .main-section-list.search-results .result-profile .item-material .href-material {
    padding-top: 20px;
  }
  .main-section-list.search-results .result-profile .item-material .person-regalia {
    font-size: 11px;
    line-height: 17px;
  }
  .main-section-list.search-results .load_more {
    width: 100%;
  }

  .page-video #forbes-section .main-section-tab .name2 {
    margin: 24px 0;
    font-size: 18px;
  }
  .page-video #forbes-section .main-section-tab .list li {
    font-size: 9px;
    margin-right: 10px;
  }
  .page-video #forbes-section .main-section-tab .list li.tid57, .page-video #forbes-section .main-section-tab .list li.tid423 {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  .block-page-video {
    padding-bottom: 40px;
  }
  .block-page-video .fresh-videos .name {
    font-size: 13px;
    line-height: 13px;
    background-color: #000;
    padding: 12px 0 12px 13px;
    position: relative;
  }
  .block-page-video .fresh-videos .item-fresh-videos a img {
    max-height: 115px;
  }
  .block-page-video .fresh-videos .item-fresh-videos .text {
    font-size: 12px;
    line-height: 14px;
    font-family: BaseFont;
    bottom: 15px;
  }
  .block-page-video .href-on-top-material .href-material {
    font-size: 25px;
    line-height: 29px;
  }
  .block-page-video .shares-on-top-material {
    width: 58%;
  }
  .block-page-video .shares-on-top-material .shares .sum-and-links {
    font-size: 12px;
    line-height: 27px;
  }
  .block-page-video .shares-on-top-material .shares .sum-and-links,
  .block-page-video .shares-on-top-material .shares .discuss {
    padding: 5px 0;
  }
  .block-page-video .shares-on-top-material .shares .discuss a {
    font-size: 12px;
  }

  .four-0-four .content {
    height: calc(100vh - 230px);
  }

  .four-hundred-four .block-number-error {
    width: 25.863%;
    float: none;
  }
  .four-hundred-four .block-number-error .text {
    display: none;
  }
  .four-hundred-four .col-center {
    width: 100%;
    vertical-align: top;
    padding: 10% 3% 0;
  }
  .four-hundred-four .col-center .block-number-text {
    width: 100%;
    float: none;
  }
  .four-hundred-four .col-center .block-number-text .name {
    font-size: 34px;
    line-height: 44px;
  }
  .four-hundred-four .col-center .block-number-text .last-news .last-news-item {
    float: left;
    width: 35%;
    padding-right: 10%;
  }
  .four-hundred-four .col-center .block-number-text .last-news .last-news-item .href-news {
    font-size: 12px;
  }
  .four-hundred-four .col-center .block-number-text .last-news .last-news-item:last-child {
    width: 30%;
    padding-right: 0;
  }

  .block-page-author {
    margin-bottom: 40px;
    padding-top: 26px;
  }
  .block-page-author .author-box .author .person-name {
    font-size: 25px;
    line-height: 29px;
  }
  .block-page-author .author-box .author .person-regalia {
    font-size: 12px;
    line-height: 20px;
  }
  .block-page-author .author-box .about-author .name {
    font-size: 9px;
    line-height: 9px;
  }
  .block-page-author .author-box .about-author .text {
    font-size: 12px;
    line-height: 18px;
  }

  .page-popular #forbes-section .block-href-material {
    justify-content: flex-start;
  }
  .page-popular #forbes-section .block-href-material .item-material {
    width: 46.2%;
    margin-right: 7.54%;
    padding-bottom: 20px;
  }
  .page-popular #forbes-section .block-href-material .item-material .href-material {
    margin-left: 81px;
    font-size: 12px;
  }
  .page-popular #forbes-section .block-href-material .item-material.no-img .href-material {
    margin-left: 0;
  }
  .page-popular #forbes-section .block-href-material .item-material .visits {
    font-size: 12px;
  }
  .page-popular #forbes-section .block-href-material .item-material:nth-of-type(3n+3) {
    margin-right: 7.54%;
  }
  .page-popular #forbes-section .block-href-material .item-material:nth-of-type(2n+2) {
    margin-right: 0;
  }
  .page-popular #forbes-section .block-href-material .load_more {
    margin-top: 10px;
  }
  .page-popular #forbes-section .main-section-tab .name {
    margin: 24px 0;
    font-size: 18px;
  }
  .page-popular #forbes-section .main-section-tab .list li {
    font-size: 9px;
  }
}
@media screen and (min-width: 0px) and (max-width: 560px) {
  header,
  .content,
  .footer-top-content,
  .footer-bottom-content {
    padding: 0 10px;
  }

  .mobile-logo {
    display: block;
  }

  header .under-menu {
    display: none;
  }
  header .header-menu {
    border-bottom: 1px solid #000;
  }
  header .header-menu.fix {
    height: 62px;
  }
  header .header-menu.fix:after {
    height: 61px;
  }

  .open-read-also-for-mobile .header-menu {
    border-bottom: 0;
  }

  .modal-menu .modal-menu-body {
    padding: 0 3%;
  }
  .modal-menu .modal-head {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 20px 0;
  }
  .modal-menu .modal-head .modal-menu-close {
    margin-left: -7px;
    padding-top: 2px;
  }
  .modal-menu .modal-head .modal-menu-logo {
    width: 93px;
  }
  .modal-menu .modal-menu-top-news {
    display: block;
    width: 108%;
    margin-left: -4%;
    margin-bottom: 15px;
  }
  .modal-menu .modal-content {
    padding-bottom: 20px;
  }
  .modal-menu .modal-content .col-left,
  .modal-menu .modal-content .col-center,
  .modal-menu .modal-content .col-right {
    width: 100%;
    position: relative;
  }
  .modal-menu .modal-content .col-left,
  .modal-menu .modal-content .col-center {
    float: none;
  }
  .modal-menu .modal-content .col-left {
    margin-right: 0;
  }
  .modal-menu .modal-content .col-center {
    margin-right: 0;
  }
  .modal-menu .modal-content .col-right {
    padding-top: 0;
  }
  .modal-menu .modal-content .modal-content-middle,
  .modal-menu .modal-content .modal-content-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }
  .modal-menu .modal-content .modal-content-middle .name,
  .modal-menu .modal-content .modal-content-bottom .name {
    display: none;
  }
  .modal-menu .modal-content .modal-content-middle .href,
  .modal-menu .modal-content .modal-content-bottom .href {
    position: relative;
    z-index: 2;
    padding: 13px 11% 13px 4%;
  }
  .modal-menu .modal-content .modal-content-middle .col-center:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 120%;
    height: 100%;
    left: -10%;
    background-color: #3E3E3E;
  }
  .modal-menu .modal-content .modal-content-middle .col-center .href {
    border-bottom: 1px solid #4B4B4B;
  }
  .modal-menu .modal-content .modal-content-middle .col-center .href:last-child {
    border-bottom: 0;
  }
  .modal-menu .modal-content .modal-content-middle .col-right .href:last-child {
    border-bottom: 1px solid #333;
  }
  .modal-menu .modal-content .modal-content-bottom .modal-subscription-magazine {
    position: relative;
    z-index: 2;
    padding: 30px 4% 20px;
    font-size: 14px;
  }
  .modal-menu .modal-content .modal-content-bottom .modal-subscription-magazine img {
    margin-bottom: 10px;
  }
  .modal-menu .modal-content .modal-content-bottom .col-left {
    margin-bottom: 15px;
  }
  .modal-menu .modal-content .modal-content-bottom .col-left:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 120%;
    height: 100%;
    top: -1px;
    left: -10%;
    background-color: #3E3E3E;
  }
  .modal-menu .modal-content .modal-content-bottom .col-center .href:last-child {
    border-bottom: 1px solid #333;
  }
  .modal-menu .modal-content .modal-content-bottom .col-right {
    float: right;
    padding-top: 0;
  }
  .modal-menu .modal-menu-footer {
    height: auto;
  }
  .modal-menu .modal-menu-footer .modal-menu-footer-content {
    padding: 20px 3%;
    text-align: center;
  }
  .modal-menu .modal-menu-footer .modal-menu-footer-content .social-block,
  .modal-menu .modal-menu-footer .modal-menu-footer-content .copy {
    float: none;
    display: inline-block;
  }
  .modal-menu .modal-menu-footer .modal-menu-footer-content .copy {
    font-size: 14px;
    line-height: 14px;
  }

  .drum {
    padding-top: 68px;
    padding-bottom: 30px;
    position: relative;
    border-top: 0;
  }
  .drum .actual-news .most-current-today {
    top: 25px;
    position: absolute;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
  }
  .drum .actual-news .most-current-today:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 75%;
    height: 5px;
    background-color: #ffa800;
  }
  .drum .important-news {
    margin-bottom: 20px;
  }
  .drum .important-news .important-news-text {
    position: relative;
    padding: 20px 10px 0;
    background-color: #fff;
  }
  .drum .important-news .important-news-text .name {
    font-size: 17px;
    line-height: 21px;
    color: #000;
    margin-bottom: .3em;
  }
  .drum .important-news .important-news-text .author {
    color: #000;
    font-size: 12px;
    line-height: 18px;
  }
  .drum .important-news .important-news-text .author a {
    color: inherit;
  }
  .drum .actual-news .item-news {
    width: 100%;
    margin-right: 0;
    height: auto;
    overflow: hidden;
    float: none;
    border-bottom: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .drum .actual-news .item-news .href-material {
    font-family: BaseFontBold, Arial;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: .3em;
  }
  .drum .actual-news .item-news .author {
    color: #000;
    line-height: 1.3em;
  }
  .drum .actual-news .item-news:nth-of-type(2), .drum .actual-news .item-news:nth-of-type(3) {
    border-bottom: 0;
    padding-bottom: 10px;
  }
  .drum .actual-news .item-news:nth-last-of-type(-n+2) {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .drum .actual-news .item-news:nth-of-type(4) {
    padding-bottom: 0;
    margin-bottom: 0;
    float: none;
  }
  .drum.category {
    top: -1px;
    border-top: 0;
    padding-top: 68px;
  }
  .drum.category .actual-news {
    padding: 0 0 20px;
  }
  .drum.category .actual-news .most-current-today {
    color: #fff;
    top: 25px;
    position: absolute;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    padding: 0;
    background: none;
  }
  .drum.category .actual-news .most-current-today:after {
    right: auto;
    width: 75%;
    left: 0;
  }
  .drum.category .actual-news .item-news {
    position: relative;
  }
  .drum.category .actual-news .item-news:nth-of-type(2) {
    margin-bottom: 10px;
  }
  .drum.category .actual-news .item-news:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .drum.category .important-news .important-news-text {
    background-color: #272727;
  }
  .drum.category .important-news .important-news-text .name {
    color: #fff;
  }
  .drum.category .important-news .important-news-text .author {
    color: #fff;
  }
  .drum.category:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: -10px;
    width: 110%;
    width: calc(100% + 20px);
    height: 100%;
    background-color: #272727;
  }

  .under-drum {
    display: none;
  }

  .block-opinions .block-opinions-head {
    font-size: 26px;
    line-height: 28px;
    padding: 16px 0;
    margin: 0 4%;
  }
  .block-opinions .block-opinions-content {
    display: block;
    width: 92%;
    margin: 0 4% 18px;
  }
  .block-opinions .block-opinions-content .item-material {
    display: block;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-left: 14.5%;
    padding-right: 14.5%;
  }
  .block-opinions .block-opinions-content .item-material img {
    margin: 0 auto 18px;
  }
  .block-opinions .block-opinions-content .item-material .href-author {
    text-align: center;
  }
  .block-opinions .block-opinions-content .item-material .href-author img {
    width: 100px;
    height: 100px;
  }
  .block-opinions .block-opinions-content .item-material .href-material {
    text-align: center;
  }
  .block-opinions .block-opinions-content .item-material:nth-of-type(2) {
    width: 100%;
    border-right: 0;
    border-left: 0;
    padding-left: 14.5%;
    padding-right: 14.5%;
  }
  .block-opinions .block-opinions-content .item-material:last-child {
    padding-left: 14.5%;
    padding-right: 14.5%;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .block-page-opinion {
    top: -1px;
    border-top: 0;
    position: relative;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #272727;
  }
  .block-page-opinion:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: 100%;
    background-color: #272727;
  }
  .block-page-opinion .block-name {
    position: relative;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 7px;
    margin: 0 0 21px;
  }
  .block-page-opinion .block-name:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 75%;
    height: 5px;
    background-color: #ffa800;
  }
  .block-page-opinion .important-opinion .big-img {
    position: relative;
    display: block;
  }
  .block-page-opinion .important-opinion .big-img .text-for-mobile {
    display: block;
    width: 100%;
    padding: 12px;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-family: BaseFontBold, Arial;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .block-page-opinion .important-opinion .important-opinion-text {
    position: relative;
    width: 100%;
    background-color: transparent;
  }
  .block-page-opinion .important-opinion .important-opinion-text .item-material {
    padding: 20px 0 0;
    margin: 0;
  }
  .block-page-opinion .important-opinion .important-opinion-text .item-material:after {
    content: '';
    display: block;
    clear: both;
  }
  .block-page-opinion .important-opinion .important-opinion-text .href-section {
    display: none;
  }
  .block-page-opinion .important-opinion .important-opinion-text .href-author {
    text-align: left;
    margin-bottom: 0;
    padding-left: 85px;
  }
  .block-page-opinion .important-opinion .important-opinion-text .href-author img {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 0 0 -75px;
  }
  .block-page-opinion .important-opinion .important-opinion-text .href-material {
    display: none;
  }

  .main-section-tab {
    margin-bottom: 20px;
    position: relative;
  }
  .main-section-tab .name {
    font-size: 13px;
  }
  .main-section-tab .list li {
    display: none;
  }
  .main-section-tab .list li.mobile {
    display: block;
  }

  .main-section-list {
    padding-bottom: 30px;
  }
  .main-section-list .block-href-material {
    padding-right: 0;
  }
  .main-section-list .block-href-material.hide {
    width: 100%;
  }
  .main-section-list .block-href-material .item-material {
    border-bottom: 1px solid #000;
    padding-bottom: 12px;
  }
  .main-section-list .block-href-material .item-material.no-img .date-material {
    margin: 0;
  }
  .main-section-list .block-href-material .item-material.no-img .date-material:after {
    content: '';
    display: block;
    clear: both;
  }
  .main-section-list .block-href-material .item-material.no-img .href-material {
    clear: both;
  }
  .main-section-list .block-href-material .item-material .pic-material {
    margin-bottom: 15px;
  }
  .main-section-list .block-href-material .item-material .date-material {
    position: relative;
    margin: -40px 0 0;
    padding: 7px 13px 7px 10px;
    float: right;
    font-size: 9px;
    background-color: #fff;
  }
  .main-section-list .block-href-material .item-material .date-material .section {
    float: right;
    margin-right: 0;
  }
  .main-section-list .block-href-material .item-material .date-material .date {
    float: left;
    margin-right: 13px;
  }
  .main-section-list .block-href-material .item-material .date-material .section,
  .main-section-list .block-href-material .item-material .date-material .date {
    display: inline-block;
    margin-top: 0;
  }
  .main-section-list .block-href-material .item-material .href-material,
  .main-section-list .block-href-material .item-material .author-material {
    padding: 0 10px;
  }
  .main-section-list .block-href-material .item-material .author-material {
    line-height: 20px;
  }
  .main-section-list .block-href-material .item-material:last-of-type {
    border-bottom: 1px solid #000;
    margin-bottom: 13px;
  }
  .main-section-list .block-href-material .all-material {
    padding-left: 10px;
    font-size: 14px;
  }
  .main-section-list .block-bnr-in-text {
    display: none;
  }
  .main-section-list.editors-choice .main-section-tab {
    padding-top: 25px;
    margin-bottom: 20px;
    position: relative;
    border-top: 0;
  }
  .main-section-list.editors-choice .main-section-tab .name {
    font-size: 13px;
    line-height: 15px;
  }
  .main-section-list.editors-choice .main-section-tab .name .mobile {
    display: block;
    position: relative;
    padding-bottom: 8px;
  }
  .main-section-list.editors-choice .main-section-tab .name .mobile:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 75%;
    height: 5px;
    background-color: #ffa800;
  }
  .main-section-list.editors-choice .block-href-material {
    display: block;
  }
  .main-section-list.editors-choice .block-href-material .item-material {
    width: auto;
    border-bottom: 1px solid #000;
    padding-bottom: 12px;
    margin-bottom: 20px;
  }
  .main-section-list.editors-choice .block-href-material .item-material .pic-material {
    max-width: 100%;
  }
  .main-section-list.editors-choice .block-href-material .item-material .date-material {
    margin-top: -40px;
    margin-bottom: 0;
    line-height: normal;
  }
  .main-section-list.editors-choice .block-href-material .item-material .author-material {
    display: block;
  }
  .main-section-list.editors-choice .block-href-material .item-material:nth-last-child(2) {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .main-section-list.editors-choice .block-href-material .item-material.no-img .date-material {
    margin: 0;
  }
  .main-section-list.editors-choice .block-href-material .load_more {
    padding-top: 22px;
  }

  .main-forbes-video {
    padding: 0;
    background-color: #191919;
    border-top: 0;
    overflow: visible;
  }
  .main-forbes-video:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: calc(100% + 20px);
    top: 0;
    left: -10px;
    height: 100%;
    background-color: #191919;
  }
  .main-forbes-video .logo-forbes-video {
    width: 134px;
    height: 21px;
    position: relative;
    background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/main-forbes-video-mobile.png") no-repeat;
    background-size: contain;
    margin: 15px 0 0 10px;
  }
  .main-forbes-video .main-gallery-block {
    padding: 17px 10px 10px;
  }
  .main-forbes-video .main-gallery-block .main-gallery {
    width: 100%;
    padding: 0;
  }
  .main-forbes-video .main-gallery-block .main-gallery .slick-prev,
  .main-forbes-video .main-gallery-block .main-gallery .slick-next {
    width: 32px;
    height: 21px;
    background-position: 50% 50%;
    top: -41px;
  }
  .main-forbes-video .main-gallery-block .main-gallery .slick-prev {
    right: 32px;
    left: auto;
  }
  .main-forbes-video .main-gallery-block .main-gallery .slick-next {
    right: 0;
  }
  .main-forbes-video .main-gallery-block .main-gallery .main-gallery-item {
    margin: 0;
  }
  .main-forbes-video .main-gallery-block .main-gallery .main-gallery-item a {
    color: #fff;
  }
  .main-forbes-video .all-material {
    display: none;
  }
  .main-forbes-video .all-material.mobile {
    float: left;
    display: block;
    position: relative;
    color: #fff;
    font-size: .9em;
    margin: 5px 0 30px 10px;
  }
  .main-forbes-video .all-material.mobile span {
    width: 16px;
    height: 11px;
    margin-left: 10px;
    background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/all-material-arrow-white.png") no-repeat;
    background-size: contain;
  }

  .main-rating-block {
    padding-bottom: 0;
    overflow: visible;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-bottom: 30px;
  }
  .main-rating-block .block-rating {
    display: none;
  }
  .main-rating-block .block-href-material {
    background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/main-rating-block-bg.jpg") top center no-repeat;
    background-size: cover;
    padding: 0 10px;
  }
  .main-rating-block .block-href-material .zag-ratings {
    display: block;
    padding: 25px 0 5px;
    font-family: BaseFontBold, Arial;
    text-align: center;
    font-size: 26px;
    color: #fff;
  }
  .main-rating-block .block-href-material .item {
    display: block;
    width: 100%;
    padding: 17px 22% 17px 10px;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 16px;
    line-height: 26px;
  }
  .main-rating-block .block-href-material .item:after {
    content: '';
    position: absolute;
    right: 8%;
    top: 0;
    width: 12px;
    height: 100%;
    background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-white.png") 0 center no-repeat;
    background-size: contain;
  }
  .main-rating-block .block-href-material .item:last-child {
    border-bottom: 0;
  }
  .main-rating-block .all-ratings {
    padding-left: 20px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    text-align: left;
  }
  .main-rating-block .all-ratings:after {
    width: 16px;
    height: 11px;
    margin-left: 15px;
    background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/all-material-arrow-white.png") no-repeat;
    background-size: contain;
  }

  .main-brand-voice {
    border-top: 0;
    padding: 20px 0 25px;
    display: block;
  }
  .main-brand-voice .col-left,
  .main-brand-voice .col-right {
    display: block;
    width: 100%;
  }
  .main-brand-voice .col-left {
    border-right: 0;
    padding: 0 10px;
  }
  .main-brand-voice .col-right {
    padding-left: 10px;
  }
  .main-brand-voice .col-right .href-material {
    display: none;
  }

  .main-life-woman {
    display: block;
    padding-bottom: 30px;
  }
  .main-life-woman .col-left,
  .main-life-woman .col-right {
    display: block;
    width: 100%;
  }
  .main-life-woman .col-left .item-material,
  .main-life-woman .col-right .item-material {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .main-life-woman .col-left .item-material:nth-of-type(4), .main-life-woman .col-left .item-material:last-of-type,
  .main-life-woman .col-right .item-material:nth-of-type(4),
  .main-life-woman .col-right .item-material:last-of-type {
    display: none;
  }
  .main-life-woman .col-left {
    padding-right: 0;
    padding-bottom: 18px;
    border-right: 0;
  }
  .main-life-woman .col-right {
    padding-left: 0;
  }

  .main-section-list.readers-choice {
    padding-bottom: 30px;
  }
  .main-section-list.readers-choice .main-section-tab .name .mobile {
    display: none;
  }
  .main-section-list.readers-choice .block-href-material .item-material {
    width: 100%;
    height: auto;
    float: none;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
  .main-section-list.readers-choice .block-href-material .item-material:nth-last-of-type(-n+6) {
    display: none;
  }
  .main-section-list.readers-choice .block-href-material .item-material .visits {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .main-section-list.readers-choice .block-href-material .item-material .pic-material {
    display: none;
  }
  .main-section-list.readers-choice .block-href-material .item-material .href-material {
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    padding: 0;
  }

  footer .footer-top {
    display: none;
  }
  footer .footer-bottom {
    position: relative;
  }
  footer .footer-bottom .separator {
    display: block;
    border-bottom: 1px solid #fff;
    margin: 50px auto 0;
  }
  footer .footer-bottom-content .social-block {
    float: none;
    margin-top: 0;
    position: absolute;
    right: 20px;
    top: 22px;
  }
  footer .acmg-logo-footer-content {
    float: left;
    margin-right: 0;
    width: 63px;
    height: auto;
  }
  footer .acmg-button-footer {
    position: relative;
    margin: 15px 0 0 10px;
  }
  footer .acmg-button-footer .block-choice-open {
    right: -195px;
    width: 340px;
  }
  footer .acmg-button-footer .block-choice-open .block-choice {
    float: left;
  }
  footer .acmg-button-footer:last-of-type {
    float: right;
    margin-right: 10px;
    margin-left: 0;
  }
  footer .acmg-button-footer:last-of-type .block-choice-open {
    right: 0;
  }
  footer .acmg-button-footer:last-of-type .block-choice-open .block-choice {
    float: right;
  }

  .page-node .content .col-left {
    display: block;
    width: 100%;
    position: fixed;
    left: -100%;
    overflow: visible;
    -webkit-transition: left .3s;
    transition: left .3s;
  }
  .page-node .content .col-left .read-also {
    width: inherit;
    height: inherit !important;
    background-color: #fff;
    overflow: visible;
    position: fixed !important;
    top: 62px !important;
  }
  .page-node .content .col-left .read-also .soc-seti .soc-seti-content {
    display: none;
    height: 0;
    overflow: hidden;
  }
  .page-node .content .col-left .read-also .soc-seti .name {
    padding: 12px 19px 12px 11px;
  }
  .page-node .content .col-left .read-also .read-also-block-href {
    width: inherit;
    height: calc(100vh - 62px) !important;
    padding: 0 10px 25px;
  }
  .page-node .content .col-left .read-also .read-also-block-href .href-material {
    padding: 20px 5px 20px;
    margin: 0;
  }
  .page-node .content .col-left .read-also .read-also-block-href .href-material .quantity {
    line-height: 14px;
    margin-bottom: 10px;
  }
  .page-node .content .col-left .read-also.fix .show-read-also-for-mobile, .page-node .content .col-left .read-also.stop .show-read-also-for-mobile {
    display: block;
    position: absolute;
    top: 40vh;
    right: -30px;
    width: 30px;
    height: 70px;
  }
  .page-node .content .col-left .read-also.fix .show-read-also-for-mobile:after, .page-node .content .col-left .read-also.stop .show-read-also-for-mobile:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 50px;
    background: transparent url("http://cdn.forbes.ru/sites/all/themes/forbes/img/show-for-mobile-arrow.png") no-repeat;
    background-size: contain;
  }
  .page-node .content .col-left .read-also.fix .show-read-also-for-mobile.true, .page-node .content .col-left .read-also.stop .show-read-also-for-mobile.true {
    right: 0;
    left: auto;
    transform: scale(-1, 1);
  }
  .page-node .content .col-left .block-bnr-left {
    display: none;
  }
  .page-node .content .col-center .col-center-in .headline .section-and-hashtag {
    font-size: 10px;
    line-height: 14px;
  }
  .page-node .content .col-center .col-center-in .headline h2 {
    font-size: 22px;
    line-height: 24px;
  }
  .page-node .content .col-center .col-center-in p {
    margin: 15px 0;
    padding-left: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .page-node .content .col-center .col-center-in .article-top {
    width: 100%;
  }
  .page-node .content .col-center .col-center-in .article-top .shares {
    display: none;
  }
  .page-node .content .col-center .col-center-in .article-top .subtitle {
    font-size: 18px;
    line-height: 24px;
    padding-left: 12px;
  }
  .page-node .content .col-center .col-center-in .article-top p {
    margin: 15px 0;
    padding-left: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .page-node .content .col-center .col-center-in .article-bottom p {
    width: 100%;
    margin: 15px 0;
    padding-left: 12px;
  }
  .page-node .content .col-center .col-center-in .field-img .item-author,
  .page-node .content .col-center .col-center-in .field-img .item-source {
    float: none;
    width: 100%;
  }
  .page-node .content .col-center .col-center-in .field-img .item-source {
    text-align: left;
  }
  .page-node .content .col-center .col-center-in .richest-businessman-table {
    padding-left: 8px;
  }
  .page-node .content .col-center .col-center-in .richest-businessman-table .name {
    font-size: 21px;
  }
  .page-node .content .col-center .col-center-in .facts-profile-block {
    margin-bottom: 30px;
  }
  .page-node .content .col-center .col-center-in .facts-profile-block .facts-profile {
    width: 100%;
  }
  .page-node .content .col-center .col-center-in .facts-profile-block .facts-profile .name {
    margin-left: 8px;
    padding-bottom: 10px;
  }
  .page-node .content .col-center .col-center-in .facts-profile-block .personal-data {
    display: none;
  }
  .page-node .content .col-center .block-bnr-in-text {
    display: none;
  }
  .page-node .content .also-interested {
    margin-top: 35px;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .page-node .content .also-interested .name {
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
  }
  .page-node .content .also-interested .also-interested-gallery .also-interested-gallery-item {
    width: 160px;
    height: 133px;
  }
  .page-node .content .pagination .further {
    float: left;
    width: 100%;
    margin-top: 15px;
  }
  .page-node .content .pagination .further:after {
    float: right;
    margin-top: 7px;
  }
  .page-node .content .related-news {
    margin-top: 35px;
  }
  .page-node .content .related-news .name {
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 0;
    border-bottom: 2px solid #000;
  }
  .page-node .content .related-news .related-news-content a {
    font-size: 14px;
    padding: 10px 30px;
    background-position: 10px 15px;
  }
  .page-node .content .partner-news {
    padding-bottom: 0px;
    border-bottom: 0;
  }
  .page-node .content .partner-news .name {
    font-size: 15px;
    padding-bottom: 0px;
    border-bottom: 2px solid #000;
  }
  .page-node .content .partner-news .partner-news-content a {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .page-forbes-life .mobile-logo {
    width: 140px;
    margin-top: -1px;
  }
  .page-forbes-life .mobile-logo .forbes-logo {
    display: none;
  }
  .page-forbes-life .mobile-logo .forbes-life {
    display: block;
  }

  .page-forbes-woman .mobile-logo {
    width: 189px;
  }
  .page-forbes-woman .mobile-logo .forbes-logo {
    display: none;
  }
  .page-forbes-woman .mobile-logo .forbes-woman {
    display: block;
  }

  .page-forbes-club .mobile-logo {
    width: 140px;
    margin-top: -1px;
  }
  .page-forbes-club .mobile-logo .forbes-logo {
    display: none;
  }
  .page-forbes-club .mobile-logo .forbes-club {
    display: block;
  }

  .page-forbes-school .mobile-logo {
    width: 70%;
    margin-top: 6px;
  }
  .page-forbes-school .mobile-logo .forbes-logo {
    display: none;
  }
  .page-forbes-school .mobile-logo .forbes-school {
    display: block;
  }


  .page-forbes-life .page-life-woman,
  .page-forbes-woman .page-life-woman,
  .page-forbes-club .page-life-woman {
    padding-top: 10px;
    border-top: 0;
  }
  .page-forbes-life .page-life-woman .block-bnr-in-text,
  .page-forbes-woman .page-life-woman .block-bnr-in-text,
  .page-forbes-club .page-life-woman .block-bnr-in-text {
    display: none;
  }
  .page-forbes-life .page-life-woman .first-material,
  .page-forbes-woman .page-life-woman .first-material,
  .page-forbes-club .page-life-woman .first-material {
    width: 100%;
    position: relative;
  }
  .page-forbes-life .page-life-woman .first-material img,
  .page-forbes-woman .page-life-woman .first-material img,
  .page-forbes-club .page-life-woman .first-material img {
    margin-bottom: 8px;
  }
  .page-forbes-life .page-life-woman .first-material .text,
  .page-forbes-woman .page-life-woman .first-material .text,
  .page-forbes-club .page-life-woman .first-material .text {
    font-size: 21px;
    line-height: 26px;
    margin-top: 14px;
    margin-bottom: 30px;
  }
  .page-forbes-life .page-life-woman .first-material .date,
  .page-forbes-woman .page-life-woman .first-material .date,
  .page-forbes-club .page-life-woman .first-material .date {
    position: relative;
    float: right;
    margin-top: -32px;
    padding: 0 10px;
    background-color: #fff;
    color: #7A7A7A;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block,
  .page-forbes-woman .page-life-woman .under-first-material .first-block,
  .page-forbes-club .page-life-woman .under-first-material .first-block {
    width: 100%;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material:nth-of-type(1n+4),
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material:nth-of-type(1n+4),
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material:nth-of-type(1n+4) {
    display: block;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material:nth-of-type(1n+5),
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material:nth-of-type(1n+5),
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material:nth-of-type(1n+5) {
    display: none;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material:nth-of-type(2n+2),
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material:nth-of-type(2n+2),
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material:nth-of-type(2n+2) {
    margin-right: 0;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material:nth-of-type(3n+3),
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material:nth-of-type(3n+3),
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material:nth-of-type(3n+3) {
    margin-right: 2.82%;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material,
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material,
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material,
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material,
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material,
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material {
    padding-bottom: 30px;
    width: 48.59%;
    margin-right: 2.82%;
  }
  .page-forbes-life .page-life-woman .under-first-material .first-block .item-material .text,
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material .text,
  .page-forbes-woman .page-life-woman .under-first-material .first-block .item-material .text,
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material .text,
  .page-forbes-club .page-life-woman .under-first-material .first-block .item-material .text,
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material .text {
    font-size: 15px;
    line-height: 18px;
  }
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1),
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1),
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) {
    padding-bottom: 30px;
  }
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .pic,
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .pic,
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .pic {
    margin-bottom: 8px;
  }
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .text,
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .text,
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .text {
    font-size: 21px;
    line-height: 26px;
    margin-top: 14px;
  }
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .date,
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .date,
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1) .date {
    position: relative;
    float: right;
    margin-top: -32px;
    padding: 0 10px;
    background-color: #fff;
    color: #7A7A7A;
  }
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(2n+3),
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(2n+3),
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(2n+3) {
    margin-right: 0;
  }
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(3n+4),
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(3n+4),
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(3n+4) {
    margin-right: 2.82%;
  }
  .page-forbes-life .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1n+6),
  .page-forbes-woman .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1n+6),
  .page-forbes-club .page-life-woman .under-first-material .last-block .item-material:nth-of-type(1n+6) {
    display: none;
  }
  .page-forbes-life .page-life-woman .under-first-material .load_more,
  .page-forbes-woman .page-life-woman .under-first-material .load_more,
  .page-forbes-club .page-life-woman .under-first-material .load_more {
    padding-top: 18px;
    font-size: 14px;
  }

  .block-page-search {
    border-top: 0;
    top: -1px;
    position: relative;
    padding-top: 25px;
  }
  .block-page-search .block-name {
    position: relative;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 7px;
    margin: 0 0 31px;
  }
  .block-page-search .block-name:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 75%;
    height: 5px;
    background-color: #ffa800;
  }
  .block-page-search form .form-item {
    margin-bottom: 50px;
  }
  .block-page-search form input[type="text"] {
    border: 1px solid #5B5B5B;
    border-radius: 3px;
    background-color: #272727;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    padding: 20px 10px 19px 46px;
    font-family: BaseFontBold;
  }
  .block-page-search form input[type="submit"] {
    width: 45px;
    height: 41px;
    background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/searchbutton-bg-white.png") center center no-repeat;
    background-size: 33%;
  }
  .block-page-search .ap-solr-filter {
    padding-left: 0;
  }
  .block-page-search .ap-solr-filter .link-sort {
    width: 48%;
    margin-right: 0;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #fff;
    font-family: BaseFontBold;
    color: #000;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding: 12px 0 10px;
  }
  .block-page-search .ap-solr-filter .link-sort.active-link {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
  }
  .block-page-search .ap-solr-filter .link-sort:last-child {
    float: right;
  }
  .block-page-search .ap-solr-filter .link-sort:before {
    display: none;
  }
  .block-page-search:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: 145px;
    background-color: #272727;
  }

  .main-section-list.search-results {
    padding-top: 0;
  }
  .main-section-list.search-results .item-material .pic-material {
    display: none;
  }
  .main-section-list.search-results .item-material .date-material {
    margin: 0;
    float: none;
  }
  .main-section-list.search-results .item-material .date-material .section {
    float: none;
  }
  .main-section-list.search-results .item-material .date-material:after {
    content: '';
    display: block;
    clear: both;
  }
  .main-section-list.search-results .result-profile .item-material {
    margin-bottom: 15px;
    padding-bottom: 0;
  }
  .main-section-list.search-results .result-profile .item-material:before {
    display: none;
  }
  .main-section-list.search-results .result-profile .item-material .pic-material {
    display: block;
    width: 25%;
    float: left;
    margin: 5% 3%;
  }
  .main-section-list.search-results .result-profile .item-material .href-material,
  .main-section-list.search-results .result-profile .item-material .person-regalia {
    margin-left: 32%;
  }
  .main-section-list.search-results .result-profile .item-material .href-material {
    padding-top: 5%;
    padding-left: 0;
    margin-bottom: 2px;
  }
  .main-section-list.search-results .result-profile .item-material .person-regalia {
    font-size: 11px;
    line-height: 17px;
  }
  .main-section-list.search-results .load_more {
    width: 100%;
  }

  .page-video #forbes-section .center-col {
    border-top: 0;
    padding-top: 12px;
  }
  .page-video #forbes-section .main-section-tab {
    border-top: 0;
    position: relative;
    top: -1px;
    padding-top: 25px;
    margin-bottom: 0;
  }
  .page-video #forbes-section .main-section-tab:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% - 10px);
    background-color: #272727;
  }
  .page-video #forbes-section .main-section-tab .name2 {
    position: relative;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 7px;
    margin: 0 0 21px;
  }
  .page-video #forbes-section .main-section-tab .name2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 75%;
    height: 5px;
    background-color: #ffa800;
  }
  .page-video #forbes-section .main-section-tab .list li.mobile {
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 4% 5%;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    font-family: BaseFontBold;
    border: 1px solid #5A5A5A;
    border-radius: 3px;
  }
  .page-video #forbes-section .main-section-tab .list li.mobile:after {
    content: '';
    position: absolute;
    right: 5%;
    top: 0;
    width: 7px;
    height: 100%;
    background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-white.png") 0 center no-repeat;
    background-size: contain;
  }

  .block-page-video {
    position: relative;
    background-color: #2F2F2F;
    padding-bottom: 0px;
    top: -1px;
  }
  .block-page-video .all-href-video {
    margin-bottom: 0;
  }
  .block-page-video:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    background-color: #2F2F2F;
  }
  .block-page-video .fresh-videos {
    display: none;
  }
  .block-page-video .big-img {
    width: 100%;
  }
  .block-page-video .big-img iframe {
    z-index: 1;
  }
  .block-page-video .href-on-top-material {
    position: relative;
  }
  .block-page-video .href-on-top-material .date-material {
    position: relative;
    margin: -36px 0 0;
    padding: 7px 13px 7px 10px;
    float: right;
    font-size: 9px;
    background-color: #fff;
  }
  .block-page-video .href-on-top-material .date-material .section {
    float: right;
    margin-right: 0;
  }
  .block-page-video .href-on-top-material .date-material .date {
    float: left;
    margin-right: 13px;
  }
  .block-page-video .href-on-top-material .date-material:after {
    content: '';
    display: block;
    clear: both;
  }
  .block-page-video .href-on-top-material .href-material {
    font-size: 25px;
    line-height: 29px;
    color: #fff;
    width: 94%;
    margin: 11px auto 13px;
  }
  .block-page-video .shares-on-top-material {
    position: relative;
    width: 100%;
  }
  .block-page-video .shares-on-top-material:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: 100%;
    background-color: #272727;
  }
  .block-page-video .shares-on-top-material .shares {
    position: relative;
    border: 0;
  }
  .block-page-video .shares-on-top-material .shares .sum-and-links {
    font-size: 11px;
    line-height: 27px;
    border-right: 0;
    color: #939393;
  }
  .block-page-video .shares-on-top-material .shares .sum-and-links .sum {
    color: #fff;
    padding-right: 3px;
  }
  .block-page-video .shares-on-top-material .shares .sum-and-links,
  .block-page-video .shares-on-top-material .shares .discuss {
    padding: 15px 0;
  }
  .block-page-video .shares-on-top-material .shares .discuss a {
    font-size: 10px;
    color: #fff;
  }
  .block-page-video .shares-on-top-material .shares .discuss a:before {
    width: 27px;
    height: 23px;
    background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/discuss-white.png") no-repeat;
    background-size: contain;
  }

  .four-0-four .content {
    height: calc(100vh - 208px);
  }

  .four-hundred-four .block-number-error {
    width: 28%;
  }
  .four-hundred-four .block-number-error .name {
    font-size: 26px;
    line-height: 26px;
  }
  .four-hundred-four .col-center {
    vertical-align: middle;
    padding: 12% 3% 0;
  }
  .four-hundred-four .col-center .block-number-text {
    width: 100%;
    float: none;
  }
  .four-hundred-four .col-center .block-number-text .search-form {
    margin-top: 38px;
  }
  .four-hundred-four .col-center .block-number-text .name {
    font-size: 34px;
    line-height: 44px;
  }
  .four-hundred-four .col-center .block-number-text .last-news {
    display: none;
  }

  .block-page-author .author-box {
    display: block;
  }
  .block-page-author .author-box .author,
  .block-page-author .author-box .about-author {
    display: block;
    width: 100%;
  }
  .block-page-author .author-box .author {
    border-right: 0;
    border-bottom: 1px solid #E5E5E5;
    padding-right: 0;
    padding-bottom: 20px;
    margin-bottom: 27px;
  }
  .block-page-author .author-box .author .author-pic {
    display: block;
    margin: 17px auto 20px;
    float: none;
    width: 45%;
  }
  .block-page-author .author-box .author .person {
    text-align: center;
    width: 84%;
    margin: 0 auto;
  }
  .block-page-author .author-box .author .person-name {
    margin-bottom: 12px;
  }
  .block-page-author .author-box .author .person-regalia {
    padding-right: 0;
    margin-bottom: 15px;
  }
  .block-page-author .author-box .author .person-social-bt {
    margin: 0 auto;
    display: inline-block;
  }
  .block-page-author .author-box .about-author {
    text-align: center;
    padding-left: 0;
    padding-bottom: 20px;
  }
  .block-page-author .author-box .about-author .name {
    font-size: 12px;
    line-height: 12px;
  }
  .block-page-author .author-box .about-author .text {
    font-size: 13px;
    line-height: 19px;
  }

  .page-popular #forbes-section {
    padding-bottom: 0;
  }
  .page-popular #forbes-section .block-href-material {
    justify-content: flex-start;
    margin-top: 10px;
  }
  .page-popular #forbes-section .block-href-material .item-material {
    width: 100%;
    margin-right: 0;
  }
  .page-popular #forbes-section .block-href-material .item-material .pic-material {
    margin-bottom: 0;
  }
  .page-popular #forbes-section .block-href-material .item-material .href-material {
    margin-left: 81px;
    font-size: 14px;
  }
  .page-popular #forbes-section .block-href-material .item-material.no-img .href-material {
    margin-left: 0;
  }
  .page-popular #forbes-section .block-href-material .item-material .visits {
    font-size: 12px;
  }
  .page-popular #forbes-section .block-href-material .item-material:nth-of-type(3n+3) {
    margin-right: 0;
  }
  .page-popular #forbes-section .block-href-material .item-material:nth-of-type(2n+2) {
    margin-right: 0;
  }
  .page-popular #forbes-section .block-href-material .load_more {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .page-popular #forbes-section .main-section-tab {
    border-top: 0;
    position: relative;
    top: -1px;
    padding-top: 25px;
    margin-bottom: 0;
    background-color: #272727;
  }
  .page-popular #forbes-section .main-section-tab:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: 100%;
    background-color: #272727;
  }
  .page-popular #forbes-section .main-section-tab .name {
    position: relative;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 7px;
    margin: 0 0 21px;
  }
  .page-popular #forbes-section .main-section-tab .name:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 75%;
    height: 5px;
    background-color: #ffa800;
  }
  .page-popular #forbes-section .main-section-tab .list {
    border-bottom: 0;
    margin-bottom: 20px;
  }
  .page-popular #forbes-section .main-section-tab .list li {
    display: block;
    width: 30%;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    font-family: BaseFontBold, Arial;
    border: 1px solid #5C5C5C;
    border-radius: 3px;
    padding: 10px 0;
    margin: 0;
  }
  .page-popular #forbes-section .main-section-tab .list li.active {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
  }
  .page-popular #forbes-section .main-section-tab .list li.active:after {
    display: none;
  }
  .page-popular #forbes-section .main-section-tab .list li:nth-of-type(2) {
    margin: 0 5%;
  }
  .page-popular #forbes-section .main-section-tab .list li.mobile {
    display: none;
  }
  .page-popular .block-authors-rating {
    position: relative;
    margin-bottom: 0px;
    padding: 27px 0;
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .page-popular .block-authors-rating .item-author {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .page-popular .block-authors-rating .item-author .t-cell {
    width: 67%;
    padding-right: 16%;
  }
  .page-popular .block-authors-rating .item-author .t-cell .person-pic {
    width: 65px;
    height: 65px;
    float: right;
    margin: 4px 20px 0 0;
  }
  .page-popular .block-authors-rating .item-author .t-cell:first-child {
    width: 33%;
    padding-right: 0;
  }
}
/*
  For iPhone and iPad
*/
@media only screen and (min-device-width: 641px) and (max-device-width: 768px) and (orientation: portrait), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad */
  .top-bn {
    display: none;
  }

  .burger {
    margin-right: 15px;
  }

  header .header-menu-content {
    display: block;
  }

  .header-menu-content-mobile {
    display: none;
  }

  header .block-links li a {
    font-size: 9px;
  }
  header .block-links li a.ForbesLife, header .block-links li a.ForbesWoman {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    top: -3px;
  }
  header .header-menu-search {
    right: 0;
  }
  header .header-menu-search-open {
    right: 0;
  }

  .all-material {
    font-size: 10px;
  }
  .all-material span {
    margin-left: 7px;
  }
}
@media only screen and (min-device-width: 415px) and (max-device-width: 640px) and (orientation: portrait), only screen and (min-device-width: 737px) and (max-device-width: 767px) and (orientation: landscape) {
  /* Other */
}
@media only screen and (max-device-width: 414px) and (orientation: portrait), only screen and (max-device-width: 736px) and (orientation: landscape) {
  /* iPhone 4-5-6+ */
  .top-bn {
    display: none;
  }

  header,
  .content,
  .footer-top-content,
  .footer-bottom-content {
    padding: 0 10px;
  }

  .mobile-logo {
    display: block;
  }
}