*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "BaseFont";
  src: url("fonts/AvenirNextCyr-Regular.eot");
  src: url("fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNextCyr-Regular.woff") format("woff"), url("fonts/AvenirNextCyr-Regular.ttf") format("truetype"), url("fonts/AvenirNextCyr-Regular.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BaseFontBold";
  src: url("fonts/AvenirNextCyr-Bold.eot");
  src: url("fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNextCyr-Bold.woff") format("woff"), url("fonts/AvenirNextCyr-Bold.ttf") format("truetype"), url("fonts/AvenirNextCyr-Bold.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BaseFontMedium";
  src: url("fonts/AvenirNextCyr-Medium.eot");
  src: url("fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNextCyr-Medium.woff") format("woff"), url("fonts/AvenirNextCyr-Medium.ttf") format("truetype"), url("fonts/AvenirNextCyr-Medium.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BaseFontDemi";
  src: url("fonts/AvenirNextCyr-Demi.eot");
  src: url("fonts/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNextCyr-Demi.woff") format("woff"), url("fonts/AvenirNextCyr-Demi.ttf") format("truetype"), url("fonts/AvenirNextCyr-Demi.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamPro-Medium.eot");
  src: url("fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Medium.woff") format("woff"), url("fonts/GothamPro-Medium.ttf") format("truetype"), url("fonts/GothamPro-Medium.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font: normal 16px/26px BaseFont, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

img {
  border: 0;
  display: block;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

tbody {
  border-top: 0px solid #ccc;
}

.top-bn,
.center-bn {
  /*background-color: #000;*/
}
.top-bn > div,
.center-bn > div {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

header,
.content,
.footer-top-content,
.footer-bottom-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header,
.content {
  background-color: #fff;
}

.burger {
  display: block;
  width: 30px;
  height: 22px;
  position: relative;
  top: -6px;
  float: left;
  cursor: pointer;
  margin-right: 55px;
  z-index: 1;
}
.burger span {
  position: absolute;
  width: 100%;
  left: 0;
  top: 9px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 2px;
}
.burger:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 2px;
}
.burger:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 2px;
}

.mobile-logo {
  position: absolute;
  width: 85px;
  top: 19px;
  left: 50px;
  z-index: 1;
}
.mobile-logo img {
  width: 100%;
  height: auto;
}
.mobile-logo .forbes-life,
.mobile-logo .forbes-woman,
.mobile-logo .forbes-school,
.mobile-logo .forbes-club {
  display: none;
}

.header-menu-content-mobile {
  display: none;
  height: 22px;
}

.modal-menu-open {
  overflow: hidden;
}
.modal-menu-open .modal-menu {
  z-index: 15000;
  opacity: 1;
  display: block;
}
.modal-menu-open header .header-menu.fix {
  z-index: 100;
}

.open-read-also-for-mobile {
  overflow: hidden;
}

.show-read-also-for-mobile {
  display: none;
}

.modal-menu {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: #1A1A1A;
  color: #fff;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-menu .modal-menu-body {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: BaseFontBold, Arial;
}
.modal-menu .modal-menu-top-news {
  display: none;
  position: relative;
  font-family: BaseFontDemi, Arial;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}
.modal-menu .modal-menu-top-news img {
  width: 100%;
  height: auto;
}
.modal-menu .modal-menu-top-news span {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 3% 5%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-menu .modal-head {
  padding: 25px 0;
  border-bottom: 4px solid #333;
  margin-bottom: 54px;
}
.modal-menu .modal-head .modal-menu-close,
.modal-menu .modal-head .modal-menu-logo {
  float: left;
}
.modal-menu .modal-head .modal-menu-close img,
.modal-menu .modal-head .modal-menu-logo img {
  width: 100%;
  height: auto;
}
.modal-menu .modal-head .modal-menu-close {
  cursor: pointer;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 22px;
}
.modal-menu .modal-head:after {
  content: '';
  display: block;
  clear: both;
}
.modal-menu .modal-content {
  padding-bottom: 58px;
}
.modal-menu .modal-content .modal-content-middle, .modal-menu .modal-content .modal-content-bottom {
  padding-bottom: 35px;
  margin-bottom: 49px;
  border-bottom: 2px solid #333;
}
.modal-menu .modal-content .modal-content-middle .name, .modal-menu .modal-content .modal-content-bottom .name {
  font-size: 15px;
  line-height: 11px;
  color: #ff0800;
  text-transform: uppercase;
  padding-left: 5.6%;
  padding-bottom: 26px;
  border-bottom: 2px solid #333;
}
.modal-menu .modal-content .modal-content-middle .href, .modal-menu .modal-content .modal-content-bottom .href {
  display: block;
  padding: 15px 11% 15px 5.6%;
  border-bottom: 1px solid #333;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/modal-href-arrow.png") no-repeat;
  background-position: 94.4% center;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
}
.modal-menu .modal-content .modal-content-middle .href.forbes-life:after, .modal-menu .modal-content .modal-content-middle .href.forbes-woman:after, .modal-menu .modal-content .modal-content-bottom .href.forbes-life:after, .modal-menu .modal-content .modal-content-bottom .href.forbes-woman:after {
  display: block;
  text-indent: -10000px;
}
.modal-menu .modal-content .modal-content-middle .href.forbes-life:after, .modal-menu .modal-content .modal-content-bottom .href.forbes-life:after {
  content: 'Forbes Life';
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/modal-forbes-life.png") no-repeat;
}
.modal-menu .modal-content .modal-content-middle .href.forbes-woman:after, .modal-menu .modal-content .modal-content-bottom .href.forbes-woman:after {
  content: 'Forbes Woman';
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/modal-forbes-woman.png") no-repeat;
}
.modal-menu .modal-content .modal-content-middle .href.brand-voice:after, .modal-menu .modal-content .modal-content-bottom .href.brand-voice:after {
  content: '';
  display: inline-block;
  width: 102px;
  height: 13px;
  margin-left: 3px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/modal-brand-voice.png") no-repeat;
}
.modal-menu .modal-content .modal-content-middle .href:last-child, .modal-menu .modal-content .modal-content-bottom .href:last-child {
  border-bottom: 0;
}
.modal-menu .modal-content .modal-content-middle:after, .modal-menu .modal-content .modal-content-bottom:after {
  content: '';
  display: block;
  clear: both;
}
.modal-menu .modal-content .modal-content-bottom {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.modal-menu .modal-content .modal-content-bottom .modal-subscription-magazine {
  color: #B0B0B0;
  line-height: 18px;
  text-align: center;
}
.modal-menu .modal-content .modal-content-bottom .modal-subscription-magazine img {
  float: left;
  width: 30.23%;
  height: auto;
  margin-bottom: 18px;
}
.modal-menu .modal-content .modal-content-bottom .modal-subscription-magazine img:nth-of-type(2) {
  margin: 0 3.6%;
}
.modal-menu .modal-content .modal-content-bottom .modal-subscription-magazine:after {
  content: '';
  display: block;
  clear: both;
}
.modal-menu .modal-content .col-left,
.modal-menu .modal-content .col-center,
.modal-menu .modal-content .col-right {
  float: left;
  width: 30.8%;
}
.modal-menu .modal-content .col-left {
  margin-right: 3.7%;
}
.modal-menu .modal-content .col-center {
  margin-right: 3.7%;
}
.modal-menu .modal-menu-footer {
  height: 90px;
  background-color: #000;
}
.modal-menu .modal-menu-footer .modal-menu-footer-content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 33px 20px 0 20px;
}
.modal-menu .modal-menu-footer .modal-menu-footer-content .social-block {
  float: right;
}
.modal-menu .modal-menu-footer .modal-menu-footer-content .social-block a {
  display: block;
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 18px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/social-footer-content-bottom.png") 0 0 no-repeat;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.modal-menu .modal-menu-footer .modal-menu-footer-content .social-block a.fb {
  background-position: -44px 0;
}
.modal-menu .modal-menu-footer .modal-menu-footer-content .social-block a.tw {
  background-position: -87px 0;
}
.modal-menu .modal-menu-footer .modal-menu-footer-content .social-block a:last-child {
  margin-right: 0;
}
.modal-menu .modal-menu-footer .modal-menu-footer-content .copy {
  float: left;
  color: #B3B3B3;
}
.modal-menu .modal-menu-footer .modal-menu-footer-content:after {
  content: '';
  display: block;
  clear: both;
}
.modal-menu.big-height .modal-menu-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

header .header-menu {
  padding: 27px 0;
  border-bottom: 4px solid #000;
  position: relative;
  height: 67px;
  background-color: #fff;
}
header .header-menu:after {
  content: '';
  display: block;
  clear: both;
}
header .header-menu.fix {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 1160px;
  height: 67px;
}
header .header-menu.fix:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 63px;
  background-color: #fff;
}
header .header-menu.fix-admmenu {
  top: 29px;
}
header .header-menu-content {
  position: absolute;
  width: 100%;
  height: 20px;
  z-index: 2;
}
header .block-links .all {
  color: #CCCCCC;
  font-size: 14px;
  line-height: 9px;
  font-weight: bold;
  cursor: pointer;
  float: left;
  display: inline-block;
}
header .block-links li {
  float: left;
  list-style: none;
  font-size: 14px;
  line-height: 10px;
  margin-right: 46px;
}
header .block-links li:last-child {
  margin-right: 0;
}
header .block-links li a {
  font-family: BaseFontBold;
  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;
  color: #000;
}
header .block-links li a.ForbesLife, header .block-links li a.ForbesWoman {
  margin: 0;
  display: inline-block;
  position: relative;
  top: -3px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/forbeslife-woman.png") 0 0 no-repeat;
}
header .block-links li a.ForbesLife {
  width: 72px;
  background-position: -142px 0;
}
header .block-links li a.ForbesWoman {
  width: 100px;
  background-position: 0 0;
}
header .header-menu-search {
  position: absolute;
  right: 15px;
  top: 14px;
  width: 25%;
  height: 30px;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  background-color: #ffffff;
}
header .header-menu-search form:after {
  content: '';
  display: block;
  clear: both;
}
header .header-menu-search input[type="submit"], header .header-menu-search input[type="text"]:focus {
  outline: none;
}
header .header-menu-search input[type="submit"] {
  float: right;
  width: 24px;
  height: 30px;
  border: 0;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/searchbutton-bg.png") center center no-repeat;
  text-indent: -10000px;
  cursor: pointer;
}
header .header-menu-search input[type="text"] {
  float: left;
  display: none;
  width: 86%;
  height: 30px;
  border: 1px solid #000;
  padding: 3px 7px;
  font-size: .8em;
}
header .header-menu-search input[type="text"]:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
header .header-menu-search input[type="text"]:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
header .header-menu-search input[type="text"]:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
header .header-menu-search input[placeholder] {
  text-overflow: ellipsis;
}
header .header-menu-search input::-moz-placeholder {
  text-overflow: ellipsis;
}
header .header-menu-search input:-ms-input-placeholder {
  text-overflow: ellipsis;
}
header .header-menu-search.input-focus-true {
  opacity: 1;
  z-index: 30;
}
header .header-menu-search.input-focus-true input[type="text"] {
  display: block;
}
header .header-menu-search-open {
  position: absolute;
  z-index: 11;
  right: 15px;
  top: 14px;
  width: 24px;
  height: 30px;
  border: 0;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/searchbutton-bg.png") center center no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
header .header-menu-search-open.true {
  z-index: -1;
}
header .under-menu {
  padding: 30px 0;
  display: table;
  width: 100%;
}
header .under-menu .col-left,
header .under-menu .col-center,
header .under-menu .col-right {
  display: table-cell;
  vertical-align: top;
}
header .under-menu .col-left {
  width: 19%;
  vertical-align: middle;
}
header .under-menu .col-right {
  width: 191px;
}
header .under-menu h1 {
  display: block;
  float: left;
}
header .under-menu .currency {
  width: 28%;
  float: right;
  color: #8d8d8d;
  margin-top: 12px;
  margin-right: 26%;
  font-size: 14px;
  line-height: 14px;
}
header .under-menu .currency div {
  margin-bottom: 6px;
  float: left;
  white-space: nowrap;
}
header .under-menu .currency div:nth-of-type(even) {
  width: 48%;
}
header .under-menu .currency div:nth-of-type(odd) {
  width: 52%;
}
header .under-menu .forbes-pic-logo img {
  width: 100%;
  height: auto;
}
header .under-menu .forbes-pic-logo .forbes-life,
header .under-menu .forbes-pic-logo .forbes-woman,
header .under-menu .forbes-pic-logo .forbes-school,
header .under-menu .forbes-pic-logo .forbes-club {
  display: none;
}
header .under-menu .social {
  float: right;
  margin: 14px 38px 0 0;
}
header .under-menu .social a {
  display: inline-block;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img//social_icons_2017.png") no-repeat;
  width: 28px;
  height: 28px;
  margin-right: 11px;
  margin-left: 0;
}
header .under-menu .social a span {
  display: block;
  text-indent: -10000px;
}
header .under-menu .social a.vkontakte {
  background-position: -47px 0;
}
header .under-menu .social a.twitter {
  background-position: -94px 0;
}
header .under-menu .social a.rss {
  width: 22px;
  background-position: -188px 0;
}
header .under-menu .social a:last-child {
  margin-right: 0;
}
header .under-menu:after {
  content: '';
  display: block;
  clear: both;
}

.drum {
  padding-top: 40px;
  border-top: 1px solid #000;
  padding-bottom: 40px;
}
.drum .most-current-today {
  position: relative;
  top: -8px;
  display: inline-block;
  font-family: BaseFontBold,Arial;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  border-bottom: 5px solid #ffa800;
  padding-bottom: 8px;
  margin-bottom: 18px;
}
.drum .actual-news {
  float: left;
  width: 44.397%;
  max-width: 515px;
}
.drum .actual-news .item-news {
  margin-bottom: 23px;
}
.drum .actual-news .item-news .href-material {
  display: block;
  color: #000;
  font-family: BaseFontDemi, Arial;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 4px;
}
.drum .actual-news .item-news .author {
  color: #898989;
  font-size: 13px;
  line-height: 18px;
}
.drum .actual-news .item-news .author a {
  color: #000;
}
.drum .actual-news .item-news:last-of-type {
  margin-bottom: 0;
}
.drum .important-news {
  float: right;
  width: 51.725%;
  max-width: 600px;
  position: relative;
}
.drum .important-news img {
  width: 100%;
  height: auto;
}
.drum .important-news .important-news-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 25px 30px;
  background-color: rgba(0, 0, 0, 0.7);
}
.drum .important-news .important-news-text .name {
  font-family: BaseFontBold,Arial;
  font-size: 24px;
  line-height: 28px;
  display: block;
  color: #fff;
  margin-bottom: 4px;
}
.drum .important-news .important-news-text .author {
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  margin-bottom: -6px;
}
.drum .important-news .important-news-text .author a {
  color: #ffa800;
}
.drum .important-news:hover .name {
  text-decoration: underline;
}
.drum:after {
  content: '';
  display: block;
  clear: both;
}
.drum.category {
  position: relative;
  background-color: #272727;
  padding-bottom: 0px;
  margin-bottom: 30px;
}
.drum.category:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
}
.drum.category .important-news {
  float: left;
}
.drum.category .important-news .important-news-text .author a {
  color: #FFAA00;
}
.drum.category .actual-news {
  float: right;
  width: 46%;
  max-width: 520px;
  padding-right: 2%;
  padding-top: 32px;
}
.drum.category .actual-news .most-current-today {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  position: static;
}
.drum.category .actual-news .item-news .href-material {
  color: #fff;
}
.drum.category .actual-news .item-news .author {
  color: #fff;
}
.drum.category .actual-news .item-news .author a {
  color: #FFAA00;
}

.under-drum {
  padding-bottom: 40px;
}
.under-drum .item-material {
  float: left;
  width: 32.156%;
}
.under-drum .item-material:nth-of-type(2) {
  margin: 0 1.725%;
}
.under-drum .item-material a {
  display: block;
  width: 100%;
  color: #000;
}
.under-drum .item-material a:hover {
  text-decoration: none;
}
.under-drum .item-material a:hover .name {
  text-decoration: underline;
}
.under-drum .item-material img {
  width: inherit;
  height: auto;
  margin-bottom: 18px;
}
.under-drum .item-material span {
  display: block;
}
.under-drum .item-material .date {
  font-size: 11px;
  line-height: 12px;
  color: #7a7a7a;
  margin-bottom: 14px;
}
.under-drum .item-material .name {
  font-family: BaseFontBold, Arial;
  font-size: 20px;
  line-height: 25px;
}
.under-drum:after {
  content: '';
  display: block;
  clear: both;
}

.block-opinions {
  border: 1px solid #E8E8E8;
  margin-bottom: 60px;
}
.block-opinions .block-opinions-head {
  font-family: BaseFontBold, Arial;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 1.728%;
  padding: 24px 0 22px;
  border-bottom: 1px solid #E8E8E8;
}
.block-opinions .block-opinions-content {
  display: table;
  width: 96.5%;
  margin: 18px 1.728%;
}
.block-opinions .block-opinions-content .item-material {
  display: table-cell;
  vertical-align: top;
  width: 32.4%;
  padding-top: 20px;
  padding-left: 2.23%;
  padding-right: 3.5%;
  padding-bottom: 22px;
}
.block-opinions .block-opinions-content .item-material:nth-of-type(2) {
  width: 34.6%;
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  padding-left: 4%;
}
.block-opinions .block-opinions-content .item-material:last-child {
  padding-left: 4%;
}
.block-opinions .block-opinions-content .item-material .href-author {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  display: block;
  margin-bottom: 18px;
}
.block-opinions .block-opinions-content .item-material .href-author img {
  border-radius: 50%;
  background-color: #E9E9E9;
  margin-bottom: 18px;
}
.block-opinions .block-opinions-content .item-material .href-author .name,
.block-opinions .block-opinions-content .item-material .href-author .position {
  display: block;
}
.block-opinions .block-opinions-content .item-material .href-author .position {
  color: #898989;
}
.block-opinions .block-opinions-content .item-material .href-material {
  color: #000;
  font-family: BaseFontBold, Arial;
  font-size: 20px;
  line-height: 24px;
}
.block-opinions .block-opinions-bottom {
  padding: 16px 0 15px;
  border-top: 1px solid #E8E8E8;
  text-align: center;
  font-family: BaseFontBold, Arial;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.block-opinions .block-opinions-bottom a {
  color: #000;
  display: inline-block;
}
.block-opinions .block-opinions-bottom a:after {
  content: '';
  display: inline-block;
  margin-left: 11px;
  width: 8px;
  height: 13px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/block-opinions-bottom-arrow-black.png") 0 center no-repeat;
  background-size: contain;
}
.block-opinions.page-opinion .block-opinions-content .item-material {
  padding-top: 12px;
}
.block-opinions.page-opinion .block-opinions-content .item-material .href-section,
.block-opinions.page-opinion .block-opinions-content .item-material .href-author,
.block-opinions.page-opinion .block-opinions-content .item-material .href-material {
  display: block;
  text-align: center;
}
.block-opinions.page-opinion .block-opinions-content .item-material .href-section {
  color: #10659E;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.block-opinions.page-opinion .block-opinions-content .item-material .href-author img {
  margin: 0 auto 18px;
}

.block-page-opinion {
  border-top: 1px solid #000;
  margin-bottom: 60px;
}
.block-page-opinion .block-name {
  text-transform: uppercase;
  font-family: BaseFontBold, Arial;
  font-size: 20px;
  line-height: 18px;
  margin: 34px 0;
}
.block-page-opinion .important-opinion {
  position: relative;
}
.block-page-opinion .important-opinion .big-img img {
  width: 100%;
  height: auto;
  max-height: 540px;
}
.block-page-opinion .important-opinion .big-img .text-for-mobile {
  display: none;
}
.block-page-opinion .important-opinion .important-opinion-text {
  position: absolute;
  width: 386px;
  width: 33.276%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  overflow: hidden;
}
.block-page-opinion .important-opinion .important-opinion-text a {
  color: #fff;
  display: block;
}
.block-page-opinion .important-opinion .important-opinion-text .item-material {
  padding: 10px 15.545%;
  text-align: center;
  margin: auto;
}
.block-page-opinion .important-opinion .important-opinion-text .href-section {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.block-page-opinion .important-opinion .important-opinion-text .href-author {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 18px;
}
.block-page-opinion .important-opinion .important-opinion-text .href-author img {
  background-color: #E9E9E9;
  border-radius: 50%;
  margin: 0 auto 18px;
}
.block-page-opinion .important-opinion .important-opinion-text .href-author .name {
  display: block;
  color: #FFAA00;
}
.block-page-opinion .important-opinion .important-opinion-text .href-material {
  font-family: BaseFontBold, Arial;
  font-size: 24px;
  line-height: 28px;
  font-size: calc(100vw / 55);
  line-height: calc(100vw / 47.142);
}

.main-section-list {
  padding-bottom: 60px;
}
.main-section-list .center-col {
  display: table;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.main-section-list .center-col:after {
  content: '';
  display: block;
  clear: both;
}
.main-section-list .block-href-material {
  display: table-cell;
  position: relative;
  vertical-align: top;
  width: 100%;
  padding-right: 40px;
  opacity: 1;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}
.main-section-list .block-href-material.active {
  position: relative;
  z-index: 1;
  opacity: 1;
}
.main-section-list .block-href-material.hide {
  position: absolute;
  width: calc(100% - 300px);
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.main-section-list .block-href-material .item-material {
  padding-bottom: 20px;
  padding-right: 5%;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
}
.main-section-list .block-href-material .item-material.no-img .pic-material {
  display: none;
}
.main-section-list .block-href-material .item-material.no-img .date-material,
.main-section-list .block-href-material .item-material.no-img .href-material,
.main-section-list .block-href-material .item-material.no-img .author-material {
  margin-left: 0;
}
.main-section-list .block-href-material .item-material:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
}
.main-section-list .block-href-material .item-material .visits {
  font-family: Georgia, Arial;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  color: #a1a1a1;
  margin-bottom: 10px;
}
.main-section-list .block-href-material .item-material .pic-material {
  float: left;
  margin-right: 3.85%;
  width: 28.242%;
  max-width: 220px;
}
.main-section-list .block-href-material .item-material .pic-material img {
  width: 100%;
  height: auto;
}
.main-section-list .block-href-material .item-material .date-material,
.main-section-list .block-href-material .item-material .href-material,
.main-section-list .block-href-material .item-material .author-material {
  margin-left: 32.1%;
}
.main-section-list .block-href-material .item-material .date-material {
  margin-bottom: 13px;
  font-size: 11px;
  line-height: 11px;
}
.main-section-list .block-href-material .item-material .date-material .section,
.main-section-list .block-href-material .item-material .date-material .date {
  display: inline-block;
  margin-top: 10px;
}
.main-section-list .block-href-material .item-material .date-material .section {
  margin-right: 32px;
}
.main-section-list .block-href-material .item-material .date-material .section a {
  color: #10659E;
  text-transform: uppercase;
}
.main-section-list .block-href-material .item-material .date-material .date {
  color: #7a7a7a;
}
.main-section-list .block-href-material .item-material .date-material .date span {
  margin-left: 10px;
}
.main-section-list .block-href-material .item-material .href-material {
  display: block;
  font-family: BaseFontBold, Arial;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 7px;
  color: #000;
}
.main-section-list .block-href-material .item-material .author-material {
  font-size: 13px;
  color: #7a7a7a;
  line-height: 18px;
}
.main-section-list .block-href-material .item-material .author-material a {
  color: #000;
}
.main-section-list .block-href-material .item-material:after {
  content: '';
  display: block;
  clear: both;
}
.main-section-list.readers-choice {
  padding-bottom: 40px;
  position: relative;
}
.main-section-list.readers-choice .block-href-material {
  padding-right: 0;
}
.main-section-list.readers-choice .block-href-material.hide {
  width: 100%;
}
.main-section-list.readers-choice .block-href-material .item-material {
  width: 22.414%;
  height: 116px;
  overflow: hidden;
  float: left;
  margin-right: 3.44%;
  margin-bottom: 25px;
  padding-right: 0;
  padding-bottom: 27px;
  border-bottom: 1px solid #E1E1E1;
}
.main-section-list.readers-choice .block-href-material .item-material:nth-of-type(4n) {
  margin-right: 0;
}
.main-section-list.readers-choice .block-href-material .item-material:nth-last-of-type(-n+4) {
  margin-bottom: 0;
  border-bottom: 0;
}
.main-section-list.readers-choice .block-href-material .item-material .pic-material {
  width: 64px;
  height: 64px;
  margin-right: 17px;
  background-color: #000;
  position: relative;
  float: left;
}
.main-section-list.readers-choice .block-href-material .item-material .pic-material img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main-section-list.readers-choice .block-href-material .item-material .href-material {
  margin-left: 81px;
  margin-bottom: 0;
  font-family: BaseFontDemi, Arial;
  font-size: 14px;
  line-height: 15px;
}
.main-section-list .block-bnr-in-text {
  display: table-cell;
  vertical-align: top;
  width: 300px;
  position: relative;
}
.main-section-list .block-bnr-in-text:before {
  content: '';
  display: block;
  width: inherit;
}
.main-section-list .block-bnr-in-text .bn > div {
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.main-section-list:after {
  content: '';
  display: block;
  clear: both;
}
.main-section-list.editors-choice .main-section-tab {
  border-top: 1px solid #000;
  padding-top: 34px;
  margin-bottom: 34px;
}
.main-section-list.editors-choice .main-section-tab .name {
  text-transform: uppercase;
  font-family: BaseFontBold, Arial;
  font-size: 20px;
  line-height: 18px;
  float: none;
  padding: 0;
  margin: 0;
  color: #000;
  background-color: transparent;
}
.main-section-list.editors-choice .main-section-tab .name:after {
  display: none;
}
.main-section-list.editors-choice .block-href-material {
  padding-right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-around;
}
.main-section-list.editors-choice .block-href-material .item-material {
  width: 32.156%;
  padding-bottom: 40px;
  padding-right: 0;
  margin-right: 1.725%;
  margin-bottom: 0;
  border-bottom: 0;
}
.main-section-list.editors-choice .block-href-material .item-material:nth-of-type(3n+3) {
  margin-right: 0;
}
.main-section-list.editors-choice .block-href-material .item-material .pic-material {
  float: none;
  margin-right: 0;
  margin-bottom: 18px;
  width: 100%;
  max-width: 373px;
}
.main-section-list.editors-choice .block-href-material .item-material .pic-material a {
  display: block;
  width: inherit;
}
.main-section-list.editors-choice .block-href-material .item-material .pic-material img {
  width: inherit;
}
.main-section-list.editors-choice .block-href-material .item-material .date-material,
.main-section-list.editors-choice .block-href-material .item-material .href-material,
.main-section-list.editors-choice .block-href-material .item-material .author-material {
  margin-left: 0;
}
.main-section-list.editors-choice .block-href-material .item-material .href-material {
  font-size: 20px;
  line-height: 25px;
}
img.big-editors-choice {
  display: none;
}
.main-section-list.editors-choice .block-href-material .item-material .author-material {
  display: none;
}
.main-section-list.editors-choice .block-href-material .item-material .not-editors-choice {
  display: none;
}
.main-section-list.editors-choice .block-href-material .item-material img.big-editors-choice{
  display: block;
}
.main-section-list.editors-choice .block-href-material .load_more {
  width: 100%;
  margin-top: 10px;
  padding-top: 42px;
  border-top: 2px solid #000;
  font-size: 16px;
}
.main-section-list.editors-choice .block-href-material .load_more .pic {
  margin-top: 14px;
}

.load_more {
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #10659E;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.load_more .pic {
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/all-material-arrow.png") center center no-repeat;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 13px;
  height: 9px;
  margin: 10px auto 0;
}

.main-section-tab .tid57 {
  color: transparent;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/forbeslife-woman.png") 0 0 no-repeat;
  background-position: -142px 0;
  width: 76px;
  height: 31px;
  text-indent: -10000px;
}
.main-section-tab .tid423 {
  color: transparent;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/forbeslife-woman.png") 0 0 no-repeat;
  width: 103px;
  height: 31px;
  text-indent: -10000px;
}

body.page-nodesearch .block-href-material .pager {
  display: none;
}

.main-section-list.editors-choice .block-href-material .search_load_more {
  width: 100%;
  margin-top: 10px;
  padding-top: 42px;
  border-top: 2px solid #000;
  font-size: 16px;
}
.main-section-list.editors-choice .block-href-material .search_load_more .pic {
  margin-top: 14px;
}

.search_load_more {
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #10659E;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.search_load_more .pic {
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/all-material-arrow.png") center center no-repeat;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 13px;
  height: 9px;
  margin: 10px auto 0;
}

.main-section-tab {
  margin-bottom: 30px;
  border-top: 4px solid #000;
}
.main-section-tab .name {
  float: left;
  position: relative;
  padding: 9px 10px 13px 20px;
  margin-right: 35px;
  text-transform: uppercase;
  font-family: BaseFontBold, Arial;
  font-size: 20px;
  line-height: 16px;
  color: #fff;
  background-color: #000;
}
.main-section-tab .name:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 100%;
  border-left: 20px solid #000;
  border-bottom: 38px solid #fff;
  top: 0;
  right: -20px;
}
.main-section-tab .list {
  list-style-type: none;
  float: left;
  margin-top: 13px;
}
.main-section-tab .list li {
  float: left;
  margin-right: 22px;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #10659E;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.main-section-tab .list li:last-of-type {
  margin-right: 0;
}
.main-section-tab .list li:nth-last-of-type(2) {
  margin-right: 0;
}
.main-section-tab .list li.active {
  color: #C50700;
  cursor: default;
}
.main-section-tab .list li.active:hover {
  opacity: 1;
}
.main-section-tab .list li:hover {
  opacity: .6;
}
.main-section-tab .list li.mobile {
  display: none;
}
.main-section-tab:after {
  content: '';
  display: block;
  clear: both;
}
.main-section-tab .list-for-mobile {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 46px;
  left: 0;
  background-color: #3E3E3E;
  padding: 5px 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.main-section-tab .list-for-mobile:before {
  content: '';
  position: absolute;
  top: -7px;
  left: calc(50% - 13px);
  width: 25px;
  height: 25px;
  background-color: #3E3E3E;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main-section-tab .list-for-mobile .item-section {
  position: relative;
  color: #fff;
  font-family: BaseFontBold, Arial;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #4B4B4B;
  padding: 6.5% 5%;
  cursor: pointer;
}
.main-section-tab .list-for-mobile .item-section:after {
  content: '';
  position: absolute;
  right: 5%;
  top: 0;
  width: 7px;
  height: 100%;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-white.png") 0 center no-repeat;
  background-size: contain;
}
.main-section-tab .list-for-mobile .item-section:last-child {
  border-bottom: 0;
}

.all-material {
  display: block;
  font-family: BaseFontBold, Arial;
  font-size: 13px;
  line-height: 12px;
  text-transform: uppercase;
  color: #10659E;
}
.all-material span {
  display: inline-block;
  width: 13px;
  height: 9px;
  margin-left: 10px;
  position: relative;
  color: #2D77AA;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/all-material-arrow.png") no-repeat;
  background-size: contain;
}

.main-forbes-video {
  position: relative;
  border-top: 4px solid #000;
  padding-top: 27px;
  padding-bottom: 60px;
  overflow: hidden;
}
.main-forbes-video .logo-forbes-video {
  float: left;
  width: 173px;
  height: 26px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/main-forbes-video.png") no-repeat;
  background-size: contain;
}
.main-forbes-video .all-material {
  float: right;
  margin-top: 7px;
  margin-right: 2px;
}
.main-forbes-video .all-material.mobile {
  display: none;
}
.main-forbes-video:after {
  content: '';
  display: block;
  clear: both;
}

.main-gallery-block {
  clear: both;
  padding-top: 30px;
}

.main-gallery {
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  display: none;
}
.main-gallery.show {
  display: block;
}
.main-gallery .main-gallery-item {
  width: 240px;
  margin: 0 10px;
  overflow: hidden;
}
.main-gallery .main-gallery-item a {
  font-family: BaseFontBold, Arial;
  color: #000;
  outline: none;
}
.main-gallery .main-gallery-item a:hover .block-img:before {
  background-color: rgba(0, 0, 0, 0.3);
}
.main-gallery .main-gallery-item a:hover .block-img:after {
  opacity: .8;
}
.main-gallery .main-gallery-item .block-img {
  display: block;
  margin-bottom: 11px;
  position: relative;
}
.main-gallery .main-gallery-item .block-img img {
  width: 100%;
  height: auto;
}
.main-gallery .main-gallery-item .block-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.main-gallery .main-gallery-item .block-img:after {
  content: '';
  position: absolute;
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/gallery-play.png") no-repeat;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.main-gallery .main-gallery-item .block-text {
  display: block;
  line-height: 20px;
}

.main-brand-voice {
  padding: 30px 0 50px;
  border-top: 4px solid #000;
  display: table;
  width: 100%;
}
.main-brand-voice .col-left,
.main-brand-voice .col-right {
  width: 50%;
  display: table-cell;
  vertical-align: top;
}
.main-brand-voice .col-left {
  padding-right: 92px;
  border-right: 1px solid #E5E5E5;
}
.main-brand-voice .col-left .head-brand-voice {
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
  font-family: Georgia, Arial;
  font-style: italic;
  font-size: 12px;
  line-height: 10px;
  color: #8D8D8D;
}
.main-brand-voice .col-left .head-brand-voice img {
  display: inline-block;
}
.main-brand-voice .col-left .brand-logo {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.main-brand-voice .col-left .brand-logo img {
  max-width: 100%;
  height: auto;
}
.main-brand-voice .col-left .brand-logo:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 50px;
  border-top: 4px solid #E5E5E5;
}
.main-brand-voice .col-left .href-material {
  font-family: BaseFontBold, Arial;
  font-size: 22px;
  color: #000;
}
.main-brand-voice .col-right {
  padding: 0 40px;
}
.main-brand-voice .col-right .href-material {
  display: block;
  padding-right: 10%;
  padding-bottom: 14px;
  margin-bottom: 14px;
  color: #000;
  font-family: BaseFontBold, Arial;
  font-size: 15px;
  line-height: 18px;
  border-bottom: 1px solid #E5E5E5;
}
.main-brand-voice .col-right .href-all-material {
  color: #bf0404;
  font-family: BaseFontBold, Arial;
  font-size: 15px;
  text-decoration: underline;
}
.main-brand-voice .col-right a:nth-last-child(2) {
  border-bottom: 0;
  margin-bottom: 0;
}
.main-brand-voice:after {
  content: '';
  display: block;
  clear: both;
}

.main-life-woman {
  padding-bottom: 60px;
  display: table;
  width: 100%;
}
.main-life-woman .col-left,
.main-life-woman .col-right {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
.main-life-woman .col-left:after,
.main-life-woman .col-right:after {
  content: '';
  display: block;
  clear: both;
}
.main-life-woman .col-left {
  border-right: 1px solid #E1E1E1;
  padding-right: 39px;
}
.main-life-woman .col-left .col-head {
  padding-bottom: 22px;
}
.main-life-woman .col-right {
  padding-left: 39px;
}
.main-life-woman .col-right .col-head {
  padding-bottom: 30px;
}
.main-life-woman .col-head {
  border-top: 4px solid #000;
  padding-top: 24px;
}
.main-life-woman .col-head img {
  float: left;
}
.main-life-woman .col-head .all-material {
  float: right;
  margin-top: 6px;
}
.main-life-woman .col-head:after {
  content: '';
  display: block;
  clear: both;
}
.main-life-woman .col-left .item-material,
.main-life-woman .col-right .item-material {
  float: left;
  width: 48.15%;
  min-height: 220px;
  overflow: hidden;
  border-bottom: 2px solid #000;
  margin-bottom: 43px;
  padding-bottom: 40px;
}
.main-life-woman .col-left .item-material a,
.main-life-woman .col-right .item-material a {
  color: #000;
}
.main-life-woman .col-left .item-material img,
.main-life-woman .col-right .item-material img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.main-life-woman .col-left .item-material .name-material,
.main-life-woman .col-right .item-material .name-material {
  display: block;
  font-family: BaseFontBold, Arial;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  padding-bottom: 12px;
}
.main-life-woman .col-left .item-material .author-material,
.main-life-woman .col-right .item-material .author-material {
  font-size: 13px;
  line-height: 18px;
  color: #898989;
}
.main-life-woman .col-left .item-material:nth-last-of-type(-n+2),
.main-life-woman .col-right .item-material:nth-last-of-type(-n+2) {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  height: auto;
  min-height: auto;
}
.main-life-woman .col-left .item-material:nth-of-type(even),
.main-life-woman .col-right .item-material:nth-of-type(even) {
  margin-right: 3.7%;
}

.main-rating-block {
  padding-bottom: 60px;
  overflow: hidden;
}
.main-rating-block .block-rating {
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/main-rating-block-bg.jpg") top center no-repeat;
  background-size: cover;
}
.main-rating-block .block-rating .block-rating-pic {
  display: block;
  width: 100%;
}
.main-rating-block .block-rating .block-rating-pic img {
  width: 100%;
  height: auto;
}
.main-rating-block .block-rating h3 {
  display: block;
  margin-bottom: 62px;
  text-align: center;
  color: #fff;
  font-family: BaseFontBold, Arial;
  font-size: 40px;
  line-height: 38px;
}
.main-rating-block .block-rating .block-rating-head {
  display: table;
  width: 100%;
  border-bottom: 2px solid #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.main-rating-block .block-rating .block-rating-head .item {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  color: #fff;
  line-height: 22px;
  text-decoration: none;
}
.main-rating-block .block-rating .block-rating-head .item img {
  border-radius: 50%;
  width: 55.56%;
  height: auto;
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto 12px;
}
.main-rating-block .block-rating .block-rating-head .item .name,
.main-rating-block .block-rating .block-rating-head .item .data {
  display: block;
  text-align: center;
}
.main-rating-block .block-rating .block-rating-head .item .name {
  font-family: BaseFontBold;
  font-size: 18px;
}
.main-rating-block .block-rating .block-rating-head .item .data {
  font-size: 14px;
}
.main-rating-block .block-rating .block-rating-bottom {
  display: none;
  position: relative;
}
.main-rating-block .block-rating .block-rating-bottom .item {
  font-family: "Times New Roman", Arial;
  font-style: italic;
  font-weight: bold;
  color: #ffd200;
  font-size: 36px;
  line-height: 32px;
}
.main-rating-block .block-rating .block-rating-bottom .item:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 22px;
  margin-left: 20px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-yellow.png") 0 0 no-repeat;
  background-size: contain;
}
.main-rating-block .block-href-material {
  background-color: #E9E9E9;
  display: table;
  width: 100%;
}
.main-rating-block .block-href-material .zag-ratings {
  display: none;
}
.main-rating-block .block-href-material .item {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 20%;
  padding: 17px 5.34% 17px 2.58%;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: BaseFontBold, Arial;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.main-rating-block .block-href-material .item:after {
  content: '';
  position: absolute;
  right: 10%;
  top: 0;
  width: 9px;
  height: 100%;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-black.png") 0 center no-repeat;
  background-size: contain;
}
.main-rating-block .block-href-material .item:last-of-type {
  border-right: 0;
}
.main-rating-block .all-ratings {
  display: block;
  font-family: BaseFontBold, Arial;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 0;
  color: #000;
  background-color: #E9E9E9;
}
.main-rating-block .all-ratings:after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  display: inline-block;
  width: 8px;
  height: 13px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/arrow-black.png") 0 center no-repeat;
  background-size: contain;
}

footer .footer-top {
  background-color: #E8E8E8;
}
footer .footer-top-content {
  background-color: inherit;
}
footer .footer-top-content:after {
  content: '';
  display: block;
  clear: both;
}
footer .footer-bottom {
  background-color: #000;
}
footer .footer-bottom .separator {
  display: none;
}
footer .footer-bottom-content {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: inherit;
  color: #fff;
}
footer .footer-bottom-content .social-block {
  float: right;
  margin-top: 6px;
}
footer .footer-bottom-content .social-block a {
  display: block;
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 18px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/social-footer-content-bottom.png") 0 0 no-repeat;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
footer .footer-bottom-content .social-block a.ig {
  background-position: 0 0;
}
footer .footer-bottom-content .social-block a.fb {
  background-position: -44px 0;
}
footer .footer-bottom-content .social-block a.tw {
  background-position: -87px 0;
}
footer .footer-bottom-content .social-block a:last-child {
  margin-right: 0;
}
footer .footer-bottom-content:after {
  content: '';
  display: block;
  clear: both;
}

.subscription-magazine,
.iphone-and-ipad,
.block-delivery {
  float: left;
  font-family: BaseFontBold;
  padding: 50px 0;
}

.subscription-magazine {
  width: 33%;
}

.iphone-and-ipad {
  width: 36%;
}

.block-delivery {
  width: 31%;
}

.subscription-magazine .name,
.iphone-and-ipad .name,
.block-delivery .name {
  font-size: 19px;
  line-height: 34px;
  text-transform: uppercase;
}

.subscription-magazine .description,
.iphone-and-ipad .description,
.block-delivery .description {
  font-size: 16px;
  line-height: 20px;
  color: #676767;
  margin-bottom: 18px;
}

.subscription-magazine .img,
.iphone-and-ipad .img {
  float: left;
  margin-right: 20px;
}

.iphone-and-ipad,
.block-delivery {
  padding-left: 34px;
  border-left: 1px solid #DEDEDE;
}

.subscription-magazine .button-to-subscribe {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.subscription-magazine .button-to-subscribe span {
  display: block;
  float: right;
  position: relative;
  width: 16px;
  top: 7px;
}
.subscription-magazine .button-to-subscribe span:after, .subscription-magazine .button-to-subscribe span:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 9px;
  border-top: 3px solid #000;
}
.subscription-magazine .button-to-subscribe span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
.subscription-magazine .button-to-subscribe span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 5px;
}

.block-delivery-form input {
  outline: 0;
  float: left;
}
.block-delivery-form .tx-button {
  width: 60%;
  padding: 10px 12px;
  background-color: #fff;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #E8E8E8;
  border-radius: 0;
}
.block-delivery-form .tx-button::-webkit-input-placeholder {
  font-style: italic;
}
.block-delivery-form .tx-button::-moz-placeholder {
  font-style: italic;
  /* Firefox 19+ */
}
.block-delivery-form .tx-button:-moz-placeholder {
  font-style: italic;
  /* Firefox 18- */
}
.block-delivery-form .tx-button:-ms-input-placeholder {
  font-style: italic;
}
.block-delivery-form .sb-button {
  padding: 10px 0;
  width: 39px;
  border: 0;
  border-radius: 0;
  background: #fff url("http://cdn.forbes.ru/sites/all/themes/forbes/img/block-delivery-arrow.png") center center no-repeat;
  cursor: pointer;
  text-indent: -10000px;
}
.block-delivery-form:after {
  content: '';
  display: block;
  clear: both;
}

.acmg-logo-footer-content {
  float: left;
  margin-right: 14.6%;
}

.acmg-button-footer {
  font-family: BaseFontMedium, Arial;
  float: left;
  display: inline-block;
  position: relative;
  margin: 0 40px 0 0;
  color: #fff;
}
.acmg-button-footer .block-choice {
  font-size: 18px;
  line-height: 24px;
  padding: 6px 10px;
  color: #fffefe;
  cursor: pointer;
  position: relative;
}
.acmg-button-footer .block-choice span {
  display: inline-block;
  width: 12px;
  height: 9px;
  margin-left: 3px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/acmg-button-footer-arrow.png") 0 0 no-repeat;
}
.acmg-button-footer .block-choice-open {
  display: none;
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  background-color: #000;
  width: 390px;
  padding: 10px 0 0 10px;
}
.acmg-button-footer .block-choice-open.open {
  display: block;
}
.acmg-button-footer .block-choice-open table {
  width: 100%;
}
.acmg-button-footer .block-choice-open table td {
  width: 33.33%;
  vertical-align: top;
}
.acmg-button-footer .block-choice-open .block-choice {
  display: inline-block;
  float: right;
}
.acmg-button-footer .block-choice-open .block-choice span {
  background-position: 0 -9px;
}
.acmg-button-footer .block-choice-open ul li {
  list-style: none;
}
.acmg-button-footer .block-choice-open ul li a {
  font-size: 12px;
  color: #fffefe;
  line-height: 24px;
}
.acmg-button-footer .block-choice-open:after {
  content: '';
  display: block;
  clear: both;
}
.acmg-button-footer:hover .block-choice-open {
  display: block !important;
}

.view-id-news .views-row {
  margin: 32px 0 0;
  padding: 28px 4px 0;
  border-top: solid 1px #e1e1e1;
}
.view-id-news .views-field-created {
  color: #7a7a7a;
  font-size: 11px;
  line-height: 11px;
}
.view-id-news .views-field-title {
  margin: 15px 0 0;
  line-height: 16px;
  font-size: 13px;
}
.view-id-news .views-field-title a {
  color: black;
  font-family: BaseFontDemi;
  font-size: 14px;
  line-height: 17px;
}

.main-section-tab .name2 {
  margin: 26px 0 0px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: BaseFontBold, Arial;
}

.page-news .main-section-tab .list {
  width: 100%;
  border-bottom: solid 1px #b2b2b2;
}
.page-news .main-section-tab .list li {
  padding-bottom: 16px;
}
.page-news .main-section-tab .list li.active {
  padding-bottom: 14px;
  border-bottom: solid 2px black;
}

.page-video #forbes-section .center-col {
  border-top: 2px solid #000;
  padding-top: 20px;
}
.page-video #forbes-section .center-col .pic-material {
  position: relative;
}
.page-video #forbes-section .center-col .pic-material a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.page-video #forbes-section .center-col .pic-material a:after {
  content: '';
  position: absolute;
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/gallery-play.png") no-repeat;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.page-video #forbes-section .main-section-tab .list {
  width: 100%;
  border-bottom: solid 1px #b2b2b2;
}
.page-video #forbes-section .main-section-tab .list li {
  padding-bottom: 16px;
}
.page-video #forbes-section .main-section-tab .list li.active {
  padding-bottom: 14px;
  border-bottom: solid 2px black;
}
.page-video #forbes-section .main-section-tab .name2 {
  text-transform: uppercase;
  font-family: BaseFontBold, Arial;
  font-size: 20px;
  line-height: 18px;
  margin: 34px 0 5px;
}

.block-page-video {
  padding-bottom: 60px;
}
.block-page-video .all-href-video {
  position: relative;
  margin-bottom: 23px;
}
.block-page-video .all-href-video:after {
  content: '';
  display: block;
  clear: both;
}
.block-page-video .big-img {
  max-width: 820px;
  max-height: 460px;
  width: 70.69%;
  float: left;
  position: relative;
}
.block-page-video .big-img iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.block-page-video .big-img a {
  display: block;
  position: relative;
}
.block-page-video .big-img a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.block-page-video .big-img a:after {
  content: '';
  position: absolute;
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/gallery-play.png") no-repeat;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.block-page-video .big-img a:hover:before {
  background-color: rgba(0, 0, 0, 0.3);
}
.block-page-video .big-img img {
  width: 100%;
  height: auto;
  max-height: 460px;
}
.block-page-video .fresh-videos {
  float: right;
  max-width: 340px;
  width: 29.31%;
  max-height: 460px;
  overflow-y: auto;
  overflow-x: hidden;
}
.block-page-video .fresh-videos.true {
  height: auto;
}
.block-page-video .fresh-videos .name {
  padding: 16px 0 16px 20px;
  background-color: #000;
  font-family: BaseFontBold, Arial;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
}
.block-page-video .fresh-videos .item-fresh-videos a {
  display: block;
  position: relative;
  overflow: hidden;
}
.block-page-video .fresh-videos .item-fresh-videos a img {
  width: 100%;
  height: auto;
  max-height: 190px;
}
.block-page-video .fresh-videos .item-fresh-videos a:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.block-page-video .fresh-videos .item-fresh-videos a:hover:before {
  background-color: rgba(0, 0, 0, 0.7);
}
.block-page-video .fresh-videos .item-fresh-videos .text {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 26px;
  padding: 0 8% 0 6%;
  font-family: BaseFontBold, Arial;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.block-page-video .href-on-top-material .date-material {
  font-size: 11px;
  line-height: 11px;
}
.block-page-video .href-on-top-material .date-material .section {
  display: inline-block;
  margin-right: 32px;
}
.block-page-video .href-on-top-material .date-material .section a {
  color: #10659E;
  text-transform: uppercase;
}
.block-page-video .href-on-top-material .date-material .date {
  display: inline-block;
  color: #000;
  font-family: BaseFontMedium;
}
.block-page-video .href-on-top-material .href-material {
  display: block;
  width: 87%;
  margin: 11px 0 23px;
  font-family: BaseFontDemi, Arial;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #000;
}
.block-page-video .shares-on-top-material {
  width: 41.5%;
}
.block-page-video .shares-on-top-material .shares {
  margin-bottom: 0;
}
.block-page-video .block-page-video-text {
  width: 87%;
  margin-top: 25px;
}
.block-page-video .block-page-video-text:empty {
  margin-top: 0;
}
.block-page-video .block-page-video-text p {
  margin: 10px 0;
}

.four-0-four .content {
  height: calc(100vh - 266px);
  overflow: hidden;
}
.four-0-four footer .footer-top {
  display: none;
}

.four-hundred-four {
  border-top: 1px solid #000;
  display: table;
  position: relative;
  height: 100%;
}
.four-hundred-four .block-number-error {
  width: 25.863%;
  float: left;
  font-family: BaseFontBold, Arial;
}
.four-hundred-four .block-number-error .name {
  font-size: 34px;
  line-height: 34px;
  position: relative;
  padding-bottom: 17px;
  margin-top: 6px;
  margin-bottom: 25px;
}
.four-hundred-four .block-number-error .name:after {
  content: '';
  position: absolute;
  width: 73%;
  bottom: 0;
  left: 0;
  border-top: 4px solid #000;
}
.four-hundred-four .block-number-error .text {
  font-size: 14px;
  line-height: 18px;
  width: 65%;
}
.four-hundred-four .col-center {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.four-hundred-four .col-center .block-number-text {
  width: 74%;
  float: right;
}
.four-hundred-four .col-center .block-number-text .name {
  font-family: BaseFontBold, Arial;
  font-size: 48px;
  line-height: 56px;
}
.four-hundred-four .col-center .block-number-text .search-form {
  position: relative;
  margin-top: 48px;
  margin-bottom: 69px;
}
.four-hundred-four .col-center .block-number-text .search-form input[type="text"] {
  display: block;
  width: 100%;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 24px 10px 27px 47px;
  font-family: Myriad Pro Regular, BaseFont, Arial;
  font-size: 16px;
  line-height: 16px;
}
.four-hundred-four .col-center .block-number-text .search-form input[placeholder] {
  opacity: 1;
  text-overflow: ellipsis;
}
.four-hundred-four .col-center .block-number-text .search-form input::-moz-placeholder {
  opacity: 1;
  text-overflow: ellipsis;
}
.four-hundred-four .col-center .block-number-text .search-form input:-moz-placeholder {
  opacity: 1;
  text-overflow: ellipsis;
}
.four-hundred-four .col-center .block-number-text .search-form input:-ms-input-placeholder {
  opacity: 1;
  text-overflow: ellipsis;
}
.four-hundred-four .col-center .block-number-text .search-form input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.four-hundred-four .col-center .block-number-text .search-form input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.four-hundred-four .col-center .block-number-text .search-form input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.four-hundred-four .col-center .block-number-text .search-form input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.four-hundred-four .col-center .block-number-text .search-form input:focus [placeholder] {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.four-hundred-four .col-center .block-number-text .search-form input[type="submit"] {
  position: absolute;
  left: -8px;
  top: -2px;
  width: 55px;
  height: 54px;
  border: 0;
  background: url("http://cdn.forbes.ru/sites/all/themes/forbes/img/searchbutton-bg.png") center center no-repeat;
  background-size: 33%;
  text-indent: -10000px;
  cursor: pointer;
}
.four-hundred-four .col-center .block-number-text .search-form input[type="text"],
.four-hundred-four .col-center .block-number-text .search-form input[type="submit"] {
  outline: none;
}
.four-hundred-four .col-center .block-number-text .last-news .last-news-item {
  float: left;
  width: 33.33%;
  padding-right: 9.2%;
}
.four-hundred-four .col-center .block-number-text .last-news .last-news-item .date {
  font-family: BaseFontMedium, Arial;
  font-size: 11px;
  line-height: 11px;
  color: #7A7A7A;
}
.four-hundred-four .col-center .block-number-text .last-news .last-news-item .href-news {
  font-size: 15px;
  line-height: 22px;
  color: #000;
}
.four-hundred-four .col-center .block-number-text .last-news:after {
  content: '';
  display: block;
  clear: both;
}

.page-popular #forbes-section .block-href-material {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-around;
}
.page-popular #forbes-section .block-href-material .item-material {
  float: left;
  width: 30.89%;
  margin-bottom: 20px;
  margin-right: 3.66%;
  padding-bottom: 28px;
  padding-right: 0;
  border-bottom: 1px solid #E1E1E1;
}
.page-popular #forbes-section .block-href-material .item-material .pic-material {
  width: 64px;
  height: 64px;
  margin-right: 17px;
  background-color: #000;
  position: relative;
  float: left;
}
.page-popular #forbes-section .block-href-material .item-material .pic-material img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.page-popular #forbes-section .block-href-material .item-material .date-material,
.page-popular #forbes-section .block-href-material .item-material .author-material {
  display: none;
}
.page-popular #forbes-section .block-href-material .item-material .href-material {
  font-family: BaseFontDemi, Arial;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 0;
}
.page-popular #forbes-section .block-href-material .item-material:nth-of-type(3n+3) {
  margin-right: 0;
}
.page-popular #forbes-section .block-href-material .load_more {
  width: 100%;
  clear: both;
  margin-top: 32px;
}
.page-popular #forbes-section .main-section-tab .list {
  width: 100%;
  border-bottom: solid 1px #b2b2b2;
}
.page-popular #forbes-section .main-section-tab .list li {
  position: relative;
  padding-bottom: 13px;
}
.page-popular #forbes-section .main-section-tab .list li.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: solid 2px #000;
}
.page-popular #forbes-section .main-section-tab .name {
  float: none;
  position: relative;
  padding: 0;
  font-size: 20px;
  line-height: 18px;
  margin: 34px 0 5px;
  color: #000;
  background-color: transparent;
}
.page-popular #forbes-section .main-section-tab .name:after {
  display: none;
}
.page-popular .block-authors-rating {
  background-color: #F4F4F4;
  margin-bottom: 20px;
  padding: 27px 10%;
}
.page-popular .block-authors-rating .name {
  font-family: BaseFontBold, Arial;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.page-popular .block-authors-rating .item-author {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 13px;
  margin-bottom: 13px;
  font-size: 13px;
  line-height: 18px;
  display: table;
  width: 100%;
}
.page-popular .block-authors-rating .item-author .t-cell {
  display: table-cell;
  vertical-align: middle;
}
.page-popular .block-authors-rating .item-author .person-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 4px 15px 0 5px;
}
.page-popular .block-authors-rating .item-author .person-name {
  font-family: BaseFontBold, Arial;
}
.page-popular .block-authors-rating .item-author .person-readers {
  color: #898989;
}
.page-popular .block-authors-rating .item-author .person-name:after,
.page-popular .block-authors-rating .item-author .person-regalia:after {
  content: ',';
}
.page-popular .block-authors-rating .item-author:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}