#shareauth_loading {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    _position: absolute; /* forIE6 */
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(120,120,120,0.8);
}

#shareauth_loading_img {
	background-color: #F3F3F3;
	border-radius: 8px;
	position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    text-align:center;
    width: 158px;
    height: 156px;
    padding:8px 0;
    margin-left: -79px;
    margin-top: -82px;
}
#shareauth_loading_img p{text-align: center;margin-top:5px}
