html.space_season #page #layout .logo.col b img{
	display: none;
}

html.space_season #page #layout .logo.col b img.space_logo{
	display: inline;
	margin-top: 15px;
}
html.with_vip_decor #page #layout .logo.col b img.space_logo{
	display: none;
}
html #page>.bg .winter_bg, html #page>.bg .space_bg, html #page>.bg .summer_bg, html #page>.bg .february23_bg {
  	display: none;
}
html.space_season #page>.bg img{
	display: none;
}
html #page .logo.col b img.space_logo {
  display: none;
}
html.space_season #page>.bg .space_bg{
	display: inline;
	height: 668px;
  	width: 3000px;
}
html.space_season #page{
	overflow-x: hidden 
}
html.space_season body {
  background: #011F41;
}
html.space_season #page>.bg ins {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
  background-image: -ms-linear-gradient(top,#011F41 0,#011F41 60%,#285283 75%,white 100%);
  background-image: -moz-linear-gradient(top,#011F41 0,#011F41 60%,#285283 75%,white 100%);
  background-image: -webkit-linear-gradient(top,#011F41 0,#011F41 60%,#285283 75%,white 100%);
  background-image: -o-linear-gradient(top,#011F41 0,#011F41 60%,#285283 75%,white 100%);
}
.draw_link{
	border: none !important;
    margin-bottom: 10px;
    display: block;
}
.view .items {
    width: 100%;
    clear: both;
    overflow: hidden;
}
body{
	background: #eaeff3;
}
.view .item.abbr_bingo80 .logo ins {
    background: url(/media/stoloto/bingo80/index_logo.png) center top no-repeat !important;
}
.item_inner.bg_bingo80 {
    background: url(/media/stoloto/bingo80/index_bg.png) no-repeat;
    color: #000 !important;
}
.bg_bingo80 a {
    color: #000 !important;
}
.bg_bingo80 span.price.pretty_button.type1 {
    color: #000 !important;
}
.bingo80_crown{
	position: absolute;
    top: 5px;
    right: 10px;
}