/* NOVA HOME COM CONTADOR NAS VITRINES v4.7
===================================================================================================*/

* {
    margin: 0;
    padding: 0;
}
.home {
    background: #fff;
}
/* General Settings*/

.home .dfp_superbanner_top,
.home .dfp_superbanner_bottom {
    background: #f3f5f6
}
.home .dfp_superbanner_top::after,
.home .dfp_superbanner_bottom::after {
    color: #d7d1d7;
    content: "PUBLICIDADE";
    font-size: 10px;
    left: 60px;
    position: absolute;
    text-orientation: inherit;
    top: 56px;
    transform: rotate(-90deg);
}
.home .banner-retangulo {
    background: #f3f5f6;
    height: 290px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}
.home .banner-retangulo::after {
    color: #d7d1d7;
    content: "PUBLICIDADE";
    cursor: default;
    font-size: 10px;
    left: -17px;
    position: absolute;
    top: 45%;
    transform: rotate(270deg);
    width: 60px;
}
.home .banner-retangulo > div {
    display: inline-block;
    margin: 0 3px!important;
    border: none;
}
.home .pRecomendacaoSku,
.home .pRecomendacaoUser {
    height: auto;
}
.home .pRecomendacaoUser .prateleira,
{
    margin: 0;
    padding: 0;
}
.home #RecomendacaoPUser .pRecomendacao {
    margin-bottom: 0;
}
.home #RecomendacaoVejaTambem,
.home #RecomendacaoPUser {
    overflow: hidden;
}
.home #RecomendacaoVejaTambem .prateleira {
    padding: 25px 0;
}
.home .pRecomendacao {
    height: auto;
    border: none;
    margin-bottom: 0;
}
.home .prateleira {
    padding: 0;
    border: none;
    margin: 0;
}
.home .prateleira .carousel {
    margin: 0
}
.home .vitrineProdutos > li {
    padding: 10px 0;
}
.prateleira .hproduct .link,
.comparacao .hproduct .link {
    height: 300px;
    margin-bottom: 0;
}
.home .vitrineProdutos .hproduct .productDetails {
    position: absolute;
    bottom: 0;
}
.home .nextCarousel,
.home .backCarousel {
    background: none;
}
.home .nextCarousel span,
.home .backCarousel span {
    width: 11px;
    height: 18px;
    margin: 0;
    padding: 0;
    left: 5px;
    text-indent: -9999px;
}
.home .nextCarousel strong,
.home .backCarousel strong {
    background: none;
}
.home .nextCarousel span {
    background: url(../img/setas-prateleira.png)no-repeat 0 -18px;
}
.home .backCarousel span {
    background: url(../img/setas-prateleira.png)no-repeat 0 0;
}
.home .desactive span {
    opacity: 0.5;
}
.home .box-contador {
    width: 210px;
    float: left;
    margin-top: 35px;
}
.home .box-contador a {
    width: 100%;
    float: left;
    margin-top: 15px;
    padding: 12px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #0186c4;
    background: #0096db;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.home .box-contador a:hover {
    background: #0cb2ff;
}
.home .category-title {
    float: left;
    margin-bottom: 17px;
    font-family: "Futura-Bold";
    font-size: 25px;
    color: #0096db;
    text-transform: uppercase;
}
.home .category-title strong {
    width: 202px;
    clear: left;
    float: left;
    line-height: 28px;
    word-wrap: break-word;
}
.home .icon {
    width: 53px;
    height: 60px;
    position: relative;
    float: left;
    top: -10px;
}
/* Ícones Departamentos */

.home .category-title .corte-precos {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -236px -170px;
}
.home .category-title .mais-desejados {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -92px -170px;
}
.home .category-title .mais-vendidos {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -165px -170px;
}
.home .category-title .mobile {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -171px -20px;
}
.home .category-title .eletrodomesticos {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -307px -24px;
}
.home .category-title .tecnologia {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -157px -106px;
}
.home .category-title .sala-estar {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -305px -106px;
}
.home .category-title .meu-quarto {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -386px -106px;
}
.home .category-title .cozinha-sala-jantar {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -309px -167px;
}
.home .category-title .moveis-mix {
    background: url(../img/icones-home-departamento-v2.png)no-repeat -386px -170px;
}
/* Old 
.home .category-title .cozinha{
	background: url(../img/icones-home-departamento.png)no-repeat -119px -18px;
}
.home .category-title .tecnologia{
	background: url(../img/icones-home-departamento.png)no-repeat -182px -18px;
}
.home .category-title .arrumacao-limpeza{
	background: url(../img/icones-home-departamento.png)no-repeat -312px -102px;
}
.home .category-title .mobilidade{
	background: url(../img/icones-home-departamento.png)no-repeat -40px -109px;
}
.home .category-title .casa{
	background: url(../img/icones-home-departamento.png)no-repeat -236px -21px;
}
.home .category-title .conectividade{
	background: url(../img/icones-home-departamento.png)no-repeat -168px -98px;
}
.home .category-title .bebes-brinquedos{
	background: url(../img/icones-home-departamento.png)no-repeat -100px -104px;
}
.home .category-title .esporte-lazer{
	background: url(../img/icones-home-departamento.png)no-repeat -241px -99px;
}
.home .category-title .entretenimento{
	background: url(../img/icones-home-departamento.png)no-repeat -32px -170px;
}
.home .category-title .life-style{
	background: url(../img/icones-home-departamento.png)no-repeat -377px -103px;
}
*/

.home .counter-wrapper {
    width: 210px;
    float: left;
    padding: 20px 10px;
    background: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.home .box-contador .timer {
    position: static!important;
}
.home .box-contador .timer .measures {
    width: 100%;
    float: left;
}
.home .box-contador .timer .measures .time-measure {
    position: relative;
    float: left;
    font-size: 10px;
    color: #828282;
    margin: 0;
}
.home .box-contador .timer .measures .hour {
    padding-left: 6px;
}
.home .box-contador .timer .measures .minute {
    padding-left: 27px;
}
.home .box-contador .timer .measures .second {
    padding-left: 45px;
}
.home .box-contador .timer .measures .milisecond {
    display: none;
}
.home .box-contador .timer .measure-numbers {} .home .box-contador .timer .measure-numbers .number {
    padding: 0;
    font-family: "Futura-Light";
    font-size: 36px;
    color: #004a9d;
}
.home .box-contador .timer .measure-numbers span.number.second {
    color: #c11a26;
}
.home .box-contador .timer .measure-numbers span.number.milisecond {
    display: none;
}
.home .box-contador .timer .measure-numbers span.number::after {
    font-size: 36px;
    position: relative;
    right: -7px;
    top: 0;
}
.home .box-contador .timer .measure-numbers .second::after {
    content: " ";
}
.home .limited-offers {
    text-align: center;
    padding-top: 5px;
    border-top: 1px solid #d6d6d6;
    color: #265ca5;
}
/* Area 3 */

.home .area-3 {
    width: 100%;
    float: left;
    padding: 0;
    /*padding: 40px 0;*/
    
    overflow: initial;
    padding-bottom: 20px;
    background: #fff;
}
.home .area-3-1 {
    width: 960px;
    margin: -30px auto 0;
    overflow: hidden;
}
.home .area-3-1 .boxes-porcentagem {
    width: 100%;
}
.home .area-3-1 .boxes-porcentagem a {
    width: 310px;
    height: 180px;
    float: left;
    margin: 0 2px;
    border: 3px solid transparent;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.home .area-3-1 .boxes-porcentagem a:hover {
    border: 3px solid #ffcc00;
}
.home .area-3-2 {
    width: 940px;
    position: relative;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.home .area-3-2 .dfp_superbanner_top {
    /*margin: 0!important;*/
}
.home .area-3-3 {
    width: 940px;
    position: relative;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.home .area-3-3 .ctn_home {
    background: #f3f5f6;
}
.home .area-3-3 .ctn_home::after {
    color: #d7d1d7;
    content: "PUBLICIDADE";
    font-size: 10px;
    left: 60px;
    position: absolute;
    text-orientation: inherit;
    top: 38px;
    transform: rotate(-90deg);
}
.home .area-3-3 .super-banner {
    margin: 20px auto 0;
}
/* Area 4 */

.home .area-4 {
    width: 100%;
    float: left;
    padding: 20px 0;
    background: #f2f2f2;
}
.home .area-4-1 {
    width: 940px;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.home .area-4-1 .pRecomendacaoSku .lista-produto {
    width: 715px;
    float: right;
    border-radius: 0px 5px 5px 0px;
    background: #fff;
}
.home .area-4-1 .pRecomendacaoSku .tit {
    margin-bottom: 20px;
    padding-left: 35px;
    font-family: "Futura-Bold";
    font-size: 22px;
    color: #0096db;
    background: none;
    background: url(../img/icones-home-recomendados.png)no-repeat 0 -3px;
    border-radius: none;
}
.home .area-4-1 .pRecomendacaoSku .tit small {
    padding-left: 70px;
}
.home .area-4-1 .pRecomendacaoSku .reload {
    width: 37px;
    height: 34px;
    left: 214px;
    top: -5px;
    background: url(../img/icones-home-recomendados.png)no-repeat 8px -40px;
}
.home .area-4-1 .pRecomendacaoSku .ref-item {
    width: 223px;
    position: relative;
    padding: 35px 0!important;
    border-right: none!important;
    border-radius: 5px 0 0 5px;
    background: #fff;
}
.home .area-4-1 .pRecomendacaoSku .ref-item .hproduct .productDetails {
    position: absolute;
    bottom: 0;
}
.home .area-4-1 .pRecomendacaoSku .lista-produto .backCarousel {
    background: url(../img/bg-divisao.gif)no-repeat center center;
}
/* Area 5 */

.home .area-5 {
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    border-top: medium none;
    border-bottom: 1px solid #ffb413;
    text-align: left;
}
.home .area-5-1 {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}
.home .area-5-1 .pRecomendacaoUser .tit {
    margin-bottom: 20px;
    font-family: "Futura-Bold";
    font-size: 22px;
    text-align: left;
    color: #0096db;
    background: none;
    border-radius: none;
}
.home .area-5-2 {
    width: 940px;
    margin: 20px auto;
    overflow: hidden;
}
.home .area-5-2 .carousel {
    background: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.home .area-5-2 .prateleira {
    background: none;
    /*margin: 0 0 25px!important;*/
}
.home .area-5-2 .tit {
    margin-bottom: 20px;
    font-family: "Futura-Bold";
    font-size: 22px;
    text-align: left;
    color: #9a42b0;
    background: none;
    border-radius: none;
    text-indent: 10px;
}
.home .area-5-2 .tit b {
    font-weight: normal!important;
}
.home .area-5-2 .prateleira .hproduct .link {
    height: 410px;
}
.home .area-5-2 .prateleira .vitrineProdutos .hproduct .name {
    height: 50px;
    bottom: 123px;
    position: absolute;
}
.home .area-5-2 .prateleira .vitrineProdutos .hproduct .smallRating {
    bottom: 105px;
    position: absolute;
}
.home .area-5-2 .prateleira .vitrineProdutos .hproduct .productDetails {
    left: 5px;
    bottom: 30px;
}
.home .area-5-2 .prateleira .vitrineProdutos .hproduct .productDetails .for,
.home .area-5-2 .prateleira .vitrineProdutos .hproduct .productDetails .for strong {
    color: #9a42b0;
}
.home .area-5-2 .prateleira .vitrineProdutos .hproduct .productDetails .installment {
    color: #9a42b0;
}
/* Area 6 */

.home .area-6 {
    padding: 5px 0;
    border-top: 1px solid #ffb413;
    border-bottom: 1px solid #ffb413;
    background-color: #f2f2f2;
}
.home .area-6 .area-6-1,
.home .area-6 .area-6-2,
.home .area-6 .area-6-3 {
    width: 940px;
    float: none;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #dfdbdb;
}
.home .area-6 .prateleira {
    width: 680px;
    float: right;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.home .area-6 .prateleira .tit {
    display: none;
}
.home .area-6 .prateleira .vitrineProdutos .hproduct {
    height: 410px;
}
.home .area-6 .prateleira .vitrineProdutos .hproduct .productDetails {
    left: 5px;
    bottom: 30px;
}
.home .area-6 .prateleira .vitrineProdutos .hproduct .name {
    height: 50px;
    position: absolute;
    bottom: 120px;
}
.home .area-6 .prateleira .vitrineProdutos .hproduct .smallRating {
    position: absolute;
    bottom: 101px;
}
.home .area-6 .area-6-3 {
    border-bottom: none;
}
/* Area 7 */

.home .area-7 {
    padding: 20px 0;
}
.home .area-7 .area-7-1 {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}
/* Area 8 */

.home .area-8 {
    border-top: 1px solid #ffb413;
    border-bottom: 1px solid #ffb413;
    background-color: #f2f2f2;
}
.home .area-8 .area-8-1,
.home .area-8 .area-8-2,
.home .area-8 .area-8-3,
.home .area-8 .area-8-4 {
    width: 940px;
    float: none;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #dfdbdb;
}
.home .area-8 .prateleira {
    width: 680px;
    float: right;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.home .area-8 .prateleira .tit {
    display: none;
}
.home .area-8 .prateleira .vitrineProdutos .hproduct {
    height: 410px;
}
.home .area-8 .prateleira .vitrineProdutos .hproduct .productDetails {
    left: 5px;
    bottom: 30px;
}
.home .area-8 .prateleira .vitrineProdutos .hproduct .name {
    height: 50px;
    position: absolute;
    bottom: 120px;
}
.home .area-8 .prateleira .vitrineProdutos .hproduct .smallRating {
    position: absolute;
    bottom: 101px;
}
.home .area-8 .area-8-3 {
    border-bottom: none;
}
/* Area 9 */

.home .area-9 {
    padding: 0;
    /*padding: 20px 0;*/
    
    overflow: initial;
}
.home .area-9-1 {
    width: 940px;
    position: relative;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.home .area-9-1 .dfp_superbanner_bottom {
    /*margin: 0!important;*/
}
/* Area 10 */

.home .area-10 {
    border-top: 1px solid #ffb413;
    border-bottom: 1px solid #ffb413;
    background-color: #f2f2f2;
}
.home .area-10 .area-10-1,
.home .area-10 .area-10-2,
.home .area-10 .area-10-3,
.home .area-10 .area-10-4 {
    width: 940px;
    float: none;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #dfdbdb;
}
.home .area-10 .prateleira {
    width: 680px;
    float: right;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.home .area-10 .prateleira .tit {
    display: none;
}
.home .area-10 .prateleira .vitrineProdutos .hproduct {
    height: 430px;
}
.home .area-10 .prateleira .vitrineProdutos .hproduct .productDetails {
    left: 5px;
    bottom: 50px;
}
.home .area-10 .prateleira .vitrineProdutos .hproduct .name {
    height: 50px;
    position: absolute;
    bottom: 140px;
}
.home .area-10 .prateleira .vitrineProdutos .hproduct .smallRating {
    position: absolute;
    bottom: 120px;
}
.home .area-10 .area-10-4 {
    border-bottom: none;
    margin-bottom: 0;
}
/* Area 11 */

.home .area-11 {
    padding: 20px 0;
}
.home .area-11-1 {
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
}
.home .area-11-2 {
    width: 940px;
    position: relative;
    float: none;
    /*margin: 20px auto 0;*/
    
    margin: 0 auto;
    overflow: hidden;
}
.home .area-11-2 .ctn_home {
    background: #f3f5f6;
}
.home .area-11-2 .ctn_home::after {
    color: #d7d1d7;
    content: "PUBLICIDADE";
    font-size: 10px;
    left: 60px;
    position: absolute;
    text-orientation: inherit;
    top: 38px;
    transform: rotate(-90deg);
}
.cb_home_retangulo {
    display: inline-block;
}
/* Area 12 */

.home .area-12 {
    border-top: 1px solid #ffb413;
    border-bottom: 1px solid #ffb413;
    background: #f2f2f2;
}
.home .area-12-1 {
    width: 930px;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.home .area-12-1 .carousel {
    background: #fff;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.home .area-12-1 .prateleira {
    margin-top: 20px;
    background: none;
    /*margin: 0 0 25px!important;*/
}
.home .area-12-1 .tit {
    margin-bottom: 20px;
    font-family: "Futura-Bold";
    font-size: 22px;
    text-align: left;
    color: #0096db;
    background: none;
    border-radius: none;
}
.home .area-12-1 .prateleira .hproduct .link {
    height: 410px;
}
.home .area-12-1 .prateleira .vitrineProdutos .hproduct .name {
    height: 50px;
    bottom: 120px;
    position: absolute;
}
.home .area-12-1 .prateleira .vitrineProdutos .hproduct .smallRating {
    bottom: 101px;
    position: absolute;
}
.home .area-12-1 .prateleira .vitrineProdutos .hproduct .productDetails {
    left: 5px;
}
.home .area-12-1 .carousel {
    background: #fff;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.home .area-12-1 .tit {
    margin-bottom: 20px;
    font-family: "Futura-Bold";
    font-size: 22px;
    text-align: left;
    color: #0096db;
    background: none;
    border-radius: none;
}
.home .area-12-1 .prateleira .hproduct .link {
    height: 410px;
}
.home .area-12-1 .prateleira .vitrineProdutos .hproduct .name {
    height: 50px;
    bottom: 120px;
    position: absolute;
}
.home .area-12-1 .prateleira .vitrineProdutos .hproduct .smallRating {
    bottom: 101px;
    position: absolute;
}
.home .area-12-1 .prateleira .vitrineProdutos .hproduct .productDetails {
    left: 5px;
    bottom: 30px;
}
/* Area 13 */

.home .area-13 {
    padding: 20px 0 30px;
    background: #fff;
}
.home .area-13 > div {
    width: 940px;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.home .area-13 .area-13-1 .servico {} .home .area-13 .area-13-1 .servico .tit {
    color: #0096db;
    display: block;
    font-size: 20px;
    padding: 7px 0;
    text-align: left;
    margin-bottom: 20px;
}
.home .area-13 .area-13-1 .servico .box-servicos {
    border-radius: 8px;
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
}
.home .area-13 .area-13-1 .servico .box-servicos ul {
    margin: 0;
    padding: 20px 0 5px;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li {
    display: inline-block;
    padding: 0 26px;
    vertical-align: top;
    border-right: 1px solid #f2f2f2;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li:last-child {
    border-right: none;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li a {
    background: url(../img/sprite-servico.png) no-repeat 0 0;
    display: block;
    height: 138px;
    text-align: center;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li .bt1 {
    background-position: 45px 0;
    width: 115px;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li .bt2 {
    background-position: -130px 0;
    width: 140px;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li .bt3 {
    background-position: -325px 0;
    width: 141px;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li .bt4 {
    background-position: -520px 0;
    width: 120px;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li .bt5 {
    background-position: -690px 0;
    width: 140px;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li a h3 {
    color: #797979;
    display: block;
    font-family: "Futura-Bold";
    font-size: 14px;
    padding: 67px 0 9px;
}
.home .area-13 .area-13-1 .servico .box-servicos ul li a p {
    color: #969696;
    display: block;
    font-size: 11px;
    padding: 0;
}
.home .area-13 .area-13-1 .servico .box-servicos .last {
    margin-right: 0;
}
.home .area-12-1 .veja {
    color: #0096db;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-right: 12px;
}
.home .area-12-1 .prateleira .hproduct {
    margin-top: 20px;
}
/*========= newsletter =========*/

.home .sidebox {
    background: #f0f0f0;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.home .sidebox .tit {
    display: none;
}
.home .sidebox .box {
    width: 736px;
    margin: 0 auto;
}
.home .newsletter .email label {
    background: url(../img/tit-cadastro-news.gif) no-repeat;
    width: 186px;
    height: 37px;
    text-indent: -9999em;
    float: left;
    margin: 10px 14px 0 0;
}
.home .newsletter .type1 {
    background: none;
    background-color: #fff;
    width: 380px;
    height: 40px;
    border-radius: 5px;
    padding: 0 0 0 10px;
    margin: 7px 0 0;
    border: 1px solid #e8e5e5;
    color: #3c323b;
}
.home .area-14-1 .ok .bt {
    background: url(../img/bt-cadastro-news.gif) no-repeat;
    width: 122px;
    height: 40px;
    margin: 8px 0 0 12px;
}
.home .area-14-1 .ok .bt:hover {
    background: url(../img/bt-cadastro-news.gif) no-repeat;
}
.home .newsletter .loading {
    background: none;
    top: 30px;
    left: 796px;
    color: #d02130;
}
.home .newsletter .error p {
    text-align: center;
    color: #d02130;
}
.home .voltar {
    width: 78px;
    display: block;
    margin: 0 auto;
}
.home .voltar .bt {
    height: 37px;
}
.home .error .bt {
    background: #666;
}
.home .newsletter .success {
    padding: 20px 15px;
    text-align: center;
    font-size: 16px;
    color: #006bb4;
}
/*============ Chamada Marketplace =================*/

.marketplacecadastro {
    background-color: #004a9d;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 9px 8px;
    width: 930px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.marketplacecadastro-thumb {
    float: left;
    margin: 12px 0 0 10px;
}
.marketplacecadastro-texto {
    float: left;
    margin: 17px 0 0 10px;
    font-size: 1.1em;
    color: #ffffff;
    font-family: tahoma;
}
.marketplacecadastro-destaque {
    color: #53c9ff;
    font-weight: bold;
}
.marketplacecadastro-textobold {
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
}
.marketplacecadastro-botao {
    float: right;
    margin: 5px 2px 0 0;
}
.marketplacecadastro-botao a {
    background-color: #0096db;
    border: 1px solid #0186c4;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-indent: 1px;
    line-height: normal;
    padding: 10px 20px;
}
.marketplacecadastro-botao a:hover {
    background-color: #0cb2ff;
}