/* Novo banner tv v1.1 */

.home .area-2-1,
.home .area-2-2,
.home .area-2-3{
    display: none;
}
.home .area-2-4{
    width: 100%;
    max-width: none;
    min-width: auto;
    padding: 0;
}

/* Base do Slick - Início */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slider:after {
    content: "";
    display: table;
    clear: both;
}
.slick-list {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: inherit;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
    outline: 0;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
    outline: 0;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
/* Base do Slick - Fim */

.home .area-2-4 .brnTvAuto{
    background:#eef4f8;
    padding-top: 30px;
    height: 450px;
}
.home .area-2-4 .bnrAuto{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 79em;
    min-width: auto;
    padding: 0;
    width: 100%;
}
.home .area-2-4 .slick-list{
    height: 373px;
    width: auto;
    margin:0 auto;
    background: none
}
.home .area-2-4 .slick-track{
    height: auto;
}
.home .area-2-4 .ofAuto {
    margin: 0 auto;
}
.home .area-2-4 .ofAuto .bannerConceitualLnk img{
    width: auto;
    height: auto;
    border-radius: 10px;
}
.home .area-2-4 .ofAuto > div {
    width: auto;
    float: left;
    margin-left: 15px;
}
.bnrAuto .slick-dots {
    width: 100%;
    bottom: -35px;
    position: absolute;
    text-align: center;
    left: 0 !important;
}
.slick-slider .slick-dots li {
    border: medium none;
    display: inline-block;
    float: none;
    margin: 0 7px;
    padding: 0;
    vertical-align: middle;
    width: auto;
}
.bnrAuto .slick-dots li button {
    height: 12px;
    margin: 2px;
    outline: 0 none;
    width: 12px;
    background-color: #b3bbc3;
    border: medium none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    text-indent: -999em;
}
.bnrAuto .slick-dots li.slick-active button {
    background-color: #004488;
    height: 16px;
    margin: 0;
    width: 16px;
}
.home .area-2-4 .bnrAuto button.slick-prev, .home .area-2-4 .bnrAuto button.slick-next {
    display: block!important;
    cursor: pointer;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    border: none;
    font-size: 0;
}
.home .area-2-4 .bnrAuto button.slick-prev{
    left: -70px !important;
    top: 160px!important;
}
.home .area-2-4 .bnrAuto button.slick-next{
    right: -70px !important;
    top: 160px!important;
}
.home .area-2-4 .bnrAuto button.slick-next{
    height:57px;
    width:55px;
     background:url("http://www.casasbahia-imagens.com.br/html/banner-tv/img/seta-next.png")no-repeat;
}
.home .area-2-4 .bnrAuto button.slick-prev{
    height:57px;
    width:55px;
     background:url("http://www.casasbahia-imagens.com.br/html/banner-tv/img/seta-prev.png")no-repeat;
}