@media(max-width:768px){
	body{
		/* background:red !important; */
	}
	ul.store_images li{
		    width: 48.5% !important;
	}
	ul.store_images li .live_now_img{
		    /* left: 33%; */
	}
}

@media(max-width:720px){
ul.store_images li{
		    width: 48% !important;
	}	
	ul.store_images li .live_now_img {
    /* left: 25%; */
}
}
@media(max-width:555px){
ul.store_images li{
		    width: 47% !important;
	}	

}
@media(max-width:400px){
ul.store_images li{
		    width: 100% !important;
	}	

}