.tab_ad_deals{top:20px;}body.doa_version .top_main_container .content_container .store-description.truncated+a.read-more-read-less{top:0px!important;}body.doa_version .top_main_container .content_container .store-description+a.read-more-read-less{top:-10px!important;}body.stable.doa_version.not_first_deal .white_nav #logo{top:5px;}.top_main_container .right_container>h1{margin-bottom:0px;}body.stable.doa_version .container.top_main_container .right_container{padding-left:0px!important;}.dropdown.mobile_ddl{margin-bottom:0px;}.mobile_store_time{color:#9a8989;font-size:15px;display:none;padding-left:0px;}.mobile_store_time .store_time{display:block;font-size:14px;color:#333;line-height:21px;}.mobile_store_time .store_time.online_time{margin-bottom:10px;}.right_nav_anc,.left_nav_anc{}body.stable.doa_version .container.top_main_container .below_ad_and_content .tab_ad_deals .tab_content h3.visible_hide{visibility:hidden;}@media(max-width: 767px){
.store-description{
	padding-left:0px;
}
.store-description.truncated .mobile_store_time{
	display:block;
}
.mobile_store_time{
	display:block;
}
.tab_ad_deals{
	top: 15px;
}
.top_main_container .right_container section.social-links.so-pad,
body.stable.doa_version ol.breadcrumb{
	display: none !important;
}

body.doa_version .top_main_container .content_container .store-description.truncated{
	width:255px !important;
}
}
@media(max-width: 414px){
.top_main_container .right_container>h1{
    color: #34a8c4;
    font-weight: bold;
    font-size: 15px !important;	
}	
body.doa_version .top_main_container .content_container .store-description.truncated{
	/* width:100% !important; */
	padding-left:0px;
}	
body.doa_version .top_main_container .content_container a.read-more-read-less{
	font-size:14px;
}
.mobile_store_time .store_time{
	font-size:13px;
}
body.doa_version .top_main_container .content_container .store-description.truncated {
    width: 228px !important;
}
}


@media(max-width: 350px){
	.mobile_store_time .store_time,
	.store-description{
	font-size:12px;
}
	body.doa_version .top_main_container .content_container .store-description.truncated {
    width: 220px !important;
}
body.doa_version .top_main_container .content_container a.read-more-read-less{
	font-size:12px;
}
}