@media(min-width:1500px){
.sticky_google_ad.make_sticky {
    position: fixed;
	width: 304px;
}
.sticky_google_ad.make_sticky_right {
    position: fixed;
	width: 304px;
}
}
@media(max-width:1200px){
	body.stable.doa_version i.call_search_form{
		right:35% !important;
	}
	body.doa_version .top_main_container .left_container a#deal_url {
    width: 95%;
	}
	body.stable.doa_version .white_nav.tbf_header.mini_header.sticky .search_init_support_menu {
    top: 90px;
    background: #fff;
    position: relative;
    height: 40px;
	border-bottom:solid 1px #e1e3df;
}
	body.stable.doa_version .white_nav.tbf_header.mini_header.sticky #manage_acc.top_my_account {
    top: 5px !important;
}
body.stable.doa_version .tbf_header.mini_header.sticky i.call_search_form {
    top: 0px !important;
}
	body.stable.doa_version .white_nav.sticky.tbf_header.mini_header.sticky .sbox.new_version {
    top: 40px !important;
}
body.stable.doa_version .tbf_header.mini_header #manage_acc.top_my_account {
    top: 60px !important;
}
body.stable.doa_version i.call_search_form{
	top:57px !important;
}
body.stable.doa_version .search_init_support_menu {
    /* top: 64px; *//* 
    top: 12px; */
	top: 45px;
}
.top_main_container .right_container ol.breadcrumb,
section.social-links.so-pad{
	/* width:100%; */
	width:65%;
}
section.social-links.so-pad{
	/* width:50% !important; */
	width:20% !important;
}
body.doa_version .top_main_container .right_container .social-links>div{
	right:auto !important;
}
.top_main_container .right_container .store_time_common{
    padding-left: 0px;
    overflow: hidden;
    float: left;
    width: 100%;
    clear: none;
    line-height: 33px;
}
.tbf-pagination-center{
    width: 55%;
    float: left;
}

.tbf-pagination-left,
.tbf-pagination-right{
  width: 20%;
    float: left;
}
body.stable.doa_version .main article.tbf-deals ul li.col-md-4,body.stable.doa_version .main article#tbf-deals ul li.col-md-4{
	/* min-height: 255px; */
	    min-height: 265px;
}
body.stable.doa_version .main article.tbf-deals ul li.col-md-4,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 {
    width: 30%;
}
body.stable.doa_version .container.top_main_container .below_ad_and_content .ad-slot-vert{
	border:none;
}
}


 @media(max-width:1275px) and (min-width:992px){
	
	.right_nav_anc, .left_nav_anc {
    opacity: 1!important;
    background: rgba(0,0,0,0.5)!important;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
}
.right_nav_anc {
    position: absolute;
    right: 10px !important;
}
.left_nav_anc {
    position: absolute;
    left: 20px !important;
}

.right_nav_anc, .left_nav_anc {
    /* top: -6% !important; */
}

body.stable.doa_version .container.top_main_container .below_ad_and_content .tab_ad_deals .tab_content h3 {
    text-align: center;
    margin-top: 15px;
}
i.fa.right_arrow {
    color: #fff;
    z-index: 99;
    background: url(//www.theblackfriday.com/images/deals-right-arrow.png) no-repeat;
    width: 12px;
    height: 41px;
    background-size: 100%;
    top: -53px;
    position: relative;
}
i.fa.left_arrow {
    color: #fff;
    z-index: 99;
    background: url(//www.theblackfriday.com/images/deals-left-arrow.png) no-repeat;
    background-size: 100%;
    position: relative;
    width: 12px;
    height: 41px;
    background-size: 100%;
    top: -53px;
}
}



@media(max-width:1100px){
.sticky_google_ad.make_sticky_right {
	right:6.5%;
}
}



@media(max-width:1022px){
body.stable .search_init_support_menu{
	position:absolute;
	    /*top: 57px !important;*/
}
.sticky_google_ad.make_sticky_right {
	right:4.5%;
}
}

/* @media(max-width:992px) and (min-width:992px){
body.stable.doa_version .white_nav.tbf_header.mini_header .sbox.new_version {
    top: 84px !important;
}
body.stable.doa_version i.call_search_form {
    top: 44px !important;
}
body.stable.doa_version .tbf_header.mini_header #manage_acc.top_my_account {
    top: 50px !important;
}

} */
@media(max-width:992px){
body.stable.doa_version i.call_search_form {
    right: 40% !important;
}
body.stable .white_nav.tbf_header.mini_header .sbox.new_version{
	top:56px !important;
}

body.stable.doa_version .search_init_support_menu {
    /* top: 64px; */
    top: 25px;
		/* top: 54px; */

}
body.stable.doa_version .tbf_header.mini_header #manage_acc.top_my_account {
    top: 20px !important;
}
body.stable.doa_version i.call_search_form {
    /* top: 16px !important; */
	top: 22px !important;
    line-height: 30px;
}
body.stable.doa_version .main article.tbf-deals ul li.col-md-4 a strong,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 a strong {
    color: #444444;
    font-size: 12px;
}
body.stable.doa_version .white_nav #logo{
	top:auto;
}
/* body.stable.doa_version .search_init_support_menu{
	top:14px !important;
} */
body.stable.doa_version .search_init_support_menu {
    top: 83px !important;
}
body.doa_version .header_top_bar .subs_form {
    width: 56%;
    margin: 0 auto;
}
section.social-links.so-pad {
    /* width: 100% !important; */
}
.top_main_container .right_container .store_time_common{
	    width: 100% !important;
}
body.stable.doa_version .main article.tbf-deals ul li.col-md-4,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 {
    /* min-height: 255px; */
	min-height: 265px;
}

body.stable .white_nav .menu ul li.bf2016_li>ul>li>ul>li>ul {
    width: 190px !important;
    left: auto;
    right: 0px;
}

.sticky_google_ad.make_sticky {
    /* position: relative; Find due to misalign  */
    width: auto;
    /* top: auto; */
    z-index: 99;
}
.sticky_google_ad.make_sticky_right {
    /* position: relative; Find due to misalign  */
    width: auto;
    /* top: auto; */
    z-index: 99;
}
.below_ad_and_content.make_ad_sticky .col-md-9.main {
    /* margin-left: auto; Find due to misalign */
}
.top_main_container .right_container>h1{
	font-size:20px !important;
}
.sticky_google_ad.make_sticky,.sticky_google_ad.make_sticky_right {
	top:auto !important;
}
}


@media(max-width:991px){

body.doa_version .top_header_ad{
	clear:both;
}
body.stable.doa_version .search_init_support_menu {
    /* top: 25px !important; */
	    top: auto !important;
    bottom: 31px;
}
body.stable.doa_version ol.breadcrumb{
	width:100%;
}
body.stable.doa_version .white_nav.tbf_header.mini_header.sticky .search_init_support_menu {
    top: 90px !important;
    background: #fff;
    position: relative;
    height: 40px;
    border-bottom: solid 1px #e1e3df;
}
.top_main_container .right_container section.social-links.so-pad{
	width:28% !important;
	float:left;
}
.top_main_container .right_container .store_time_common{
	    width: 70% !important;
		line-height:20px !important;
}
.top_main_container .right_container .social-links a{
	top:auto !important;
}
.sticky_google_ad.make_sticky,
.sticky_google_ad.make_sticky_right {
     position: relative;
}
.below_ad_and_content.make_ad_sticky .col-md-9.main {
    margin-left: auto;
}
}

@media(max-width: 860px){
	body.stable.doa_version .container.top_main_container .below_ad_and_content .tab_ad_deals .tab_content h3{
		text-align: center;
		/* margin-top: 15px; */
		    margin-top: 20px;
	}
	.right_nav_anc {
    position: absolute;
    right: 10px !important;
}
.right_nav_anc, .left_nav_anc {
    /* top: -6% !important; */
}
i.fa.right_arrow {
    color: #fff;
    z-index: 99;
    background: url(//www.theblackfriday.com/images/deals-right-arrow.png) no-repeat;
    width: 12px;
    height: 41px;
    background-size: 100%;
    top: -53px;
    position: relative;
}
i.fa.left_arrow {
    color: #fff;
    z-index: 99;
    background: url(//www.theblackfriday.com/images/deals-left-arrow.png) no-repeat;
    background-size: 100%;
    position: relative;
    width: 12px;
    height: 41px;
    background-size: 100%;
    top: -53px;
}
.right_nav_anc, .left_nav_anc {
    opacity: 1!important;
    background: rgba(0,0,0,0.5)!important;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
}
.left_nav_anc {
    position: absolute;
    left: 20px !important;
}
}

@media(max-width:768px){
	body{
		background:#fff;
	}
	.tbf-pagination-left, .tbf-pagination-right {
    width: 23%;
    float: left;
}
.tbf-pagination-center {
    width: 51%;
    float: left;
}
body.doa_version .header_top_bar{
	display:none;
}
.area_marker{
	display:block !important;
}
body.doa_version header.tbf_header .row {
    padding-top: 6px;
}
body.stable.doa_version .search_init_support_menu {
    top: 116px !important;
	border-bottom:none;
}
body.stable.not_first_deal.doa_version .search_init_support_menu {
    top: 50px !important;
}
.tab_view{
	display:none;
}
body.stable.doa_version .tbf_header.mini_header #manage_acc.top_my_account{
	width: 40% !important;
    float: right;
}
body.stable.doa_version .white_nav.tbf_header.mini_header.sticky .search_init_support_menu {
    top: 86px !important;
} 
body.stable.doa_version i.call_search_form{
    /* right: 5% !important; */
	/* right: -2% !important; */
}
body.stable.doa_version .menu>ul>li.active>ul>li>ul>li {
    padding: 0px 10px !important;
}
body.stable.doa_version .social-links{
	display:block;
}
/* .right_nav_anc, .left_nav_anc{
	width: 50px;
    height: 50px;
} */
/* i.fa.right_arrow,
i.fa.left_arrow {
    width: 13px;
    height: 26px;
    background-size: 100%;
    top: -67px;
    position: relative;
} */

.tab_view .tab{
	display:none;
}
.dropdown.mobile_ddl{
	display:block;
}
.dropdown.mobile_ddl .dropdown-menu{
	/* left:75px; */
	left: 89px;
    width: 140px !important;
	min-width: 135px !important;
}
.dropdown.mobile_ddl .dropdown-menu li a:hover{
    background: #f3f3f3;
}
.top_main_container .right_container .social-links{
	width:100%;
}
body.stable.doa_version i.call_search_form {
    right: 0% !important;
}
.top_main_container .right_container>h1{
margin-top:0px;
}
body.stable.deals_page .container.top_main_container{
	padding-top:20px !important;
}
.container.top_main_container {
    padding-top: 60px !important;
}
.top_main_container .right_container>h1{
	font-size:18px !important;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
body.only_mobile_disp.stable.doa_version .search_init_support_menu{
	border-bottom:none !important;
}
body.only_mobile_disp.stable section.row.tab_ad_deals{
	padding-top:0px !important;
}
body.only_mobile_disp h3{
	font-size:15px !important;
	width:80% !important;
	margin:0 auto !important;
	    margin-top: 15px !important;
    margin-bottom: 10px !important;
}
body.only_mobile_disp .image_holder.center {
    position: relative;
    padding-top: 5px !important;
}

}
@media(max-width:767px){
	body.stable.doa_version .menu>ul>li.active>ul>li>ul>li.current_page{
		    background: rgba(51,130,150,0.8)!important;
	}
body.stable.doa_version .menu>ul>li{
	border: 1px solid #848484;
}
.logo-cot{
    border-right:none !important;
}
body.stable.doa_version .container.top_main_container .right_container{
	width:100%;
}
body>.container>.row>section.col-md-12>.left_container{
	width:100%;
}
body.doa_version .top_main_container .left_container a#deal_url {
    width: 28%;
    margin-left: 30%;
}
body.stable .white_nav.tbf_header.mini_header .sbox.new_version {
    top: 62px !important;
}
body.stable.doa_version .tbf_header.mini_header #manage_acc.top_my_account {
    width: 48% !important;
    float: right;
    right: 2% !important;
}
body.stable.doa_version .white_nav .menu{
	position:absolute;
	top:15px;
}
body.doa_version header.tbf_header>.row{
	position:relative;
}
body.doa_version .top_main_container .content_container{
	top:10px;
}
.top_main_container .right_container section.social-links.so-pad {
    width: 23% !important;
}
.top_main_container .right_container .store_time_common {
    width: 77% !important;
    line-height: 36px !important;
}
body.stable .white_nav .menu:before {
    top: -20px !important;
    font-family: fontawesome !important;
    content: '\f0c9' !important;
	cursor:pointer;
}
body.stable .container.top_main_container>.row{
  /*   border-top: solid 1px #e0e0e0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
}
body.stable.doa_version .white_nav.tbf_header.mini_header.sticky #manage_acc.top_my_account {
    top: 5px !important;
    position: absolute !important;
}
body.stable .white_nav.sticky .menu:before {
    top: -50px !important;
}
body.stable.doa_version .main article.tbf-deals ul li.col-md-4,body.stable.doa_version .main article#tbf-deals ul li.col-md-4{
	padding-left:0px !important;
	padding-right:0px !important;
}
body.stable.doa_version .main article.tbf-deals ul li .col-md-4>a ,body.stable.doa_version .main article#tbf-deals ul li .col-md-4>a {
    display: inline-block;
    width: 100% !important;
}

body.stable.doa_version .main .col-md-4>a,
body.stable.doa_version .main article.tbf-deals ul li.col-md-4>div,body.stable.doa_version .main article#tbf-deals ul li.col-md-4>div{
	width:100% !important;
}
body.stable.doa_version .container.top_main_container .right_container{
	clear:both;
    padding-top: 10px;
}
body.stable.doa_version .container.top_main_container .right_container {
    clear: both;
}
body.stable.doa_version .search_init_support_menu{
	padding-bottom:15px;
	border-bottom: solid 1px #e0e0e0;
	/* max-height:60px; */
	height:60px;
}
body>.container>.row>section.col-md-12>.left_container {
    width: 100%;
    clear: both;
    padding-top: 15px;
}
body.doa_version .top_header_ad{
    position: relative;
    top: 10px;
}
#rating-details .star-cont{
	    margin-left: auto;
    margin: 0 auto;
    width: 135px;
}
body.doa_version .top_main_container .left_container a#deal_url{
	float: left;
    margin-left: 10px;
}
.storeRating,
.logo-cot{
	width: 50% !important;
    float: left;
}
body.stable.doa_version .white_nav.tbf_header.mini_header.sticky .search_init_support_menu {
    top: 54px !important;
}
body.stable.doa_version .tbf_header.mini_header.sticky i.call_search_form{
    right: 46% !important;
}
body.stable.doa_version i.call_search_form {
    right: -3% !important;
}
.tbf-pagination-right ul.dropdown-menu{
	left:44px;
}
body.stable .white_nav .menu ul li.bf2016_li>ul>li>ul>li>ul{
    width: 100% !important;
	display:block;
	    border: none !important;
    top: 0px;
    margin-top: 0px;
	
}
body.stable.doa_version .menu>ul>li.bf2016_li.active>ul>li>ul>li{
	    /* background: #f1f1f1!important; */
		padding-left:0px !important;
		padding-right:0px !important;
}
body.stable.doa_version .menu>ul>li.bf2016_li.active>ul>li>ul>li.current_page {
    background: rgba(51,130,150,0.8)!important;
}
body.stable.doa_version .menu>ul>li.bf2016_li.active>ul>li>ul>li:last-child {
    background: #f1f1f1!important;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
.disable_section{
	display:none !important;
}
}

@media(max-width:767px) and (min-width:740px){
body.stable.doa_version i.call_search_form {
    /* right: 5% !important; */
    /* right: -9% !important; */
}
}

@media(max-width:739px) and (min-width:700px){
body.stable.doa_version i.call_search_form {
    /* right: 5% !important; */
    right: -6% !important;
}
}


@media(max-width:720px){
body.stable.doa_version .main article.tbf-deals ul li.col-md-4,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 {
    width: 29%;
}
}

@media(max-width:715px){
.top_main_container .right_container .store_time_common {
    width: 77% !important;
    line-height: 20px !important;
}
}

@media(max-width:700px){
.right_nav_anc, .left_nav_anc {
    /* top: -7% !important; */
}
}
/* @media(max-width:690px){
.top_main_container .right_container .store_time_common {
    width: 80% !important;
    line-height: 20px !important;
}
} */
@media(max-width:675px){

body.stable.doa_version .main article.tbf-deals ul li.col-md-4 ,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 {
    /* min-height: 255px; */
	min-height: 265px;
}
}
@media(max-width:680px){
body.doa_version .tbf_header.mini_header .sbox #cse-search-box {
    width: 100%;
}
body.stable.doa_version .tbf_header.mini_header .sbox #cse-search-box .g-search {
    width: 70% !important;
}

}
@media(max-width:640px){

body.stable.doa_version ol.breadcrumb{
	padding-left:10px;
}	
.tbf-pagination-right{
	width:100px;
	margin:0 auto;
	    float: none;
}
.tbf-pagination-right ul.dropdown-menu{
	    left: 18px;
}
	.tbf-pagination-left,
.tbf-pagination-center	{
    width: 100%;
    float:none;
}
body.stable .white_nav.tbf_header.mini_header .sbox.new_version {
    top: 62px !important;
}
body.stable.doa_version .tbf_header.mini_header #manage_acc.top_my_account {
    width: 90% !important;
    float: left !important;
}
/* body.doa_version .top_main_container .left_container a#deal_url {
    width: 53%;
    margin: 0 auto;
    padding: 7px 14px;
    font-size: 19px;
    margin-left: 20%;
} */
body.doa_version .top_main_container .left_container a#deal_url {
    width: 150px;
    margin: 0 auto;
    padding: 5px 14px;
    font-size: 16px;
    /* margin-left: 17%; */
    margin-top: 5px;
}
	body.stable.doa_version i.call_search_form {
    right: 5% !important;
    /* right: -6% !important; */
}
#rating-details .star-cont{
	width:130px !important;
}
.storeRating{
	width:60% !important;
}
.logo-cot{
	width:110px !important;
}
body.stable.doa_version .tbf_header.mini_header.sticky i.call_search_form {
    right: 2% !important;
}
.top_main_container .right_container .store_time_common {
    width: 75% !important;
    line-height: 20px !important;
}
.top_main_container .right_container section.social-links.so-pad {
    width: 25% !important;
}
.right_nav_anc, .left_nav_anc {
    /* top: -6% !important; */
}
body.stable .container.top_main_container {
    padding-top: 35px !important;
}
body.stable.deals_page .container.top_main_container {
    padding-top: 20px !important;
}
body.stable .container.top_main_container>.row {
    border-top: none !important;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
}


@media(max-width:600px){
.top_main_container .right_container .store_time_common {
    width: 70% !important;
    line-height: 20px !important;
}
.top_main_container .right_container section.social-links.so-pad {
    width: 30% !important;
}
}

@media(max-width:574px){
.modal-dialog .right_side .product-buy {
    float: left;
    margin-right: 10px;
    width: 110px;
}
}
@media(max-width:560px){

body.stable.doa_version .main article.tbf-deals ul li.col-md-4 ,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 {
    min-height: 265px;
}
.right_nav_anc, .left_nav_anc {
    /* top: -6.5% !important; */
	    top: -48px !important;
}
body.stable.doa_version .container.top_main_container .below_ad_and_content .tab_ad_deals .tab_content h3{
	font-size:16px;
}
body.stable.doa_version .main article.tbf-deals ul li.col-md-4 span.product_name, body.stable.doa_version .main article#tbf-deals ul li.col-md-4 span.product_name{
	font-size:13px;
}
}
@media(max-width:540px){
body.stable.doa_version ol.breadcrumb{
	/* padding-left:10px; */
}
body.stable.doa_version ol.breadcrumb > li.active ,
body.stable.doa_version ol.breadcrumb li a{
	font-size:12px;
}

ol.breadcrumb .fa.fa-angle-right {
    margin: 0px 2px;
}
}

@media(max-width:520px){
body.stable.doa_version .main article.tbf-deals ul li.col-md-4,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 {
    width: 43%;
	min-height: 265px;
}
body.stable.doa_version .social-links{
	/* display:none !important; */
}
.top_main_container .right_container .store_time_common{
    line-height: 20px;
    /* margin-top: 10px; */
}
}

@media(max-width:639px) and (min-width:451px){
body.doa_version .top_main_container .left_container a#deal_url{
	margin-left:15px;
}
}


@media(max-width:499px){
.top_main_container .right_container section.social-links.so-pad{
width: 25% !important;
    float: left;	
}
.top_main_container .right_container .social-links a.share.google_plus{
	display:none;
}
.top_main_container .right_container .store_time_common{
	width: 75% !important;
}
.right_nav_anc, .left_nav_anc {
    /* top: -6.5% !important; */
}
body.stable.doa_version .container.top_main_container .below_ad_and_content .tab_ad_deals .tab_content h3{
	font-size:13px;
}
.left_nav_anc {
    position: absolute;
    left: 0px !important;
}
.right_nav_anc {
    position: absolute;
    right: 0px !important;
}
.right_nav_anc, .left_nav_anc {
    opacity: 1!important;
    background: rgba(0,0,0,0.5)!important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
}
i.fa.left_arrow,
i.fa.right_arrow{
	top:-57px !important;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
}
@media(max-width:465px){
	body.doa_version .top_main_container .left_container a#deal_url{
		    width: 120px;
			    font-size: 14px;
	}
.logo-cot{
    width: 45% !important;
    text-align: left;
}
body>.container>.row>section.col-md-12>.col-sm-10 h1{
    font-size: 1.25em !important;
}
#rating-details .star-cont{  
  width: 46% !important;
    text-align: left;
	margin-left:0px !important;
}
.storeRating {
    width: 68% !important;
}
body.doa_version .top_main_container .left_container a#deal_url {
    margin-left: 10px !important;
}
body>.container>.row>section.col-md-12>.col-sm-10 h1{
	clear:both;
	font-size: 1em !important;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
}

@media(max-width:457px){
.storeRating {
    width: 220px !important;
}
.logo-cot{
	    width: 90px !important;
    margin-right: 0px;
    padding-right: 0px;
}
#rating-details .star-cont {
	    width: 127px !important;
	}
	.logo-cot,
#rating-details .star-cont{
    /* width: 100% !important; */
}
body.doa_version .top_main_container .left_container a#deal_url{
	margin-left:0px !important;
}
.top_main_container .right_container .store_time_common{
    width: 75% !important;
}
.top_main_container .right_container .store_time_common span,
.top_main_container .right_container .store_time_common strong{
	font-size:12px !important;
}
.top_main_container .right_container section.social-links.so-pad{
/* 	    position: absolute;
    right: 7px;
    bottom: 100px; */
}
}
@media(max-width:450px){
body.stable.doa_version .white_nav.tbf_header.mini_header #cse-search-box>div>button[name="sa"] {
    width: 23%;
}
body.stable.doa_version .logo-cot{
	    /* float: none; */
    border-right: none;
    padding-right: 0px;
}
body.stable.doa_version .logo-cot a img{
	width:90%;
	/* width:auto; */
}
footer .social-links iframe{
	margin-top:10px;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
}

@media(max-width:425px){
	body.stable.doa_version .container.top_main_container .below_ad_and_content .tab_ad_deals .tab_content h3{
		font-size: 13px !important;
    margin-bottom: 5px !important;
	margin-top: 15px !important;
	}
	
	body.stable.doa_version .container.top_main_container .below_ad_and_content .tab_ad_deals .tab_content h3{
		width:75%;
		margin:0 auto;
	}
	.right_nav_anc, .left_nav_anc{
    /* top: -8.5% !important; */
	top: -36px !important;
}
}
@media(max-width:420px){
body.stable.doa_version #logo img {
    width: 215px;
    height: auto;
}
body.stable.doa_version i.call_search_form {
    top: 22px !important;
}
body.stable.doa_version .main article.tbf-deals ul li.col-md-4,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 {
    width: 43%;
    min-height: 260px;
}
}

@media(max-width:418px){
body.stable.doa_version i.call_search_form {
    top: -18px !important;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
}

@media(max-width:414px){
body.stable .white_nav.tbf_header.mini_header .sbox.new_version{
	    top: 51px !important;
}
.top_main_container .right_container>h1{
	    font-size: 16px !important;
    line-height: 18px !important;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
body.only_mobile_disp.stable.doa_version .search_init_support_menu{
	border-bottom:none !important;
}
body.only_mobile_disp.stable section.row.tab_ad_deals{
	padding-top:0px !important;
}
body.stable.doa_version.deals_page .white_nav.tbf_header.mini_header.sticky .search_init_support_menu {
    top: 52px !important;
}
}

@media(max-width:410px){
	.top_main_container .right_container section.social-links.so-pad {
    width: 26% !important;
	}
.top_main_container .right_container .store_time_common {
    width: 70% !important;
    margin-right: 0px;
    padding-right: 0px;
}
.top_main_container .right_container .social-links a i.fa{
	width:28px !important;
}
}

@media(max-width:450px) and (min-width:380px){
body.doa_version .top_main_container .left_container a#deal_url{
	margin-left:25%;
}
}
@media(max-width:375px){
body.stable.doa_version .main article.tbf-deals ul li.col-md-4,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 {
    width: 100%;
}
body.doa_version .top_main_container .left_container a#deal_url {
    margin-left: 0px !important;
}
body.stable.doa_version .white_nav.tbf_header.mini_header.sticky .search_init_support_menu {
    top: 55px !important;
}
body.stable.doa_version.deals_page .white_nav.tbf_header.mini_header.sticky .search_init_support_menu {
    top: 52px !important;
}
body.stable.doa_version .main article.tbf-deals ul li.col-md-4,body.stable.doa_version .main article#tbf-deals ul li.col-md-4 {
    min-height: 195px;
}
body.stable .white_nav.tbf_header.mini_header .sbox.new_version {
    top: 65px !important;
}
body.stable.doa_version i.call_search_form {
    top: -14px !important;
}

body.stable .container.top_main_container {
    padding-top: 50px !important;
}
body.stable.deals_page .container.top_main_container {
    padding-top: 20px !important;
}
.tbf-pagination-center{
	padding:0px !important;
}
body.stable.doa_version .container.top_main_container .below_ad_and_content .tab_ad_deals .tab_content h3 {
    font-size: 11px !important;
	margin-top: 20px !important;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
body.only_mobile_disp.stable.doa_version .search_init_support_menu{
	border-bottom:none !important;
}
body.only_mobile_disp.stable section.row.tab_ad_deals{
	padding-top:0px !important;
}
}

@media(max-width:390px){
body.doa_version .top_main_container .left_container a#deal_url i.fa{
	display:none;
}
body.doa_version .top_main_container .left_container a#deal_url{
	width:91px;
}
}
@media(max-width:374px){
	.top_main_container .right_container section.social-links.so-pad {
    /* width: 100% !important; */
	}
.top_main_container .right_container .store_time_common {
/*     width: 100% !important;
    margin-right: 0px;
    padding-right: 0px;
	margin-top:10px; */
}
}
@media(max-width:360px){
.logo-cot{
	width:60px !important;
}
#rating-details .star-cont {
    width: 122px !important;
}
.storeRating {
    width: 184px !important;
}
body.doa_version .top_main_container .left_container a#deal_url {
    width: 84px;
    font-size: 12px;
}
}
@media(max-width:350px){
body.stable.doa_version ol.breadcrumb > li.active, body.stable.doa_version ol.breadcrumb li a {
    font-size: 10px;
}

body.stable.doa_version .white_nav.tbf_header.mini_header.sticky .search_init_support_menu {
    top: 41px !important;
}
body.stable.doa_version i.call_search_form {
    top: -20px !important;
}
body.stable .white_nav.tbf_header.mini_header .sbox.new_version {
    top: 51px !important;
}
.top_main_container .right_container .social-links a i.fa {
    width: 20px !important;
}
.top_main_container .right_container section.social-links.so-pad {
    /* width: 23% !important; */
	display:none !important;
}
.top_main_container .right_container .store_time_common {
    /* width: 75% !important; */
	width:100% !important;
}
body.stable.doa_version .container.top_main_container .below_ad_and_content .tab_ad_deals .tab_content h3 {
    font-size: 9px !important;
}
}

@media(max-width:374px) and (min-width:321px){
body.stable.doa_version .tbf_header.mini_header #manage_acc.top_my_account {
    width: 98% !important;
}

body.stable.doa_version .tbf_header.mini_header .sbox #cse-search-box .g-search {
    width: 60% !important;
}

body.stable.doa_version .white_nav.tbf_header.mini_header #cse-search-box>div>button[name="sa"] {
    width: 29%;
}
body.stable.doa_version .container.top_main_container {
    /* padding-top: 0px; */
}
body>.container>.row>section.col-md-12>.col-sm-10 h1{
	/* font-size:1.25em !important; */
}
body.doa_version .top_main_container .content_container a.read-more-read-less{
	font-size:13px !important;
}
}
@media(max-width:320px){
	
	.tbf-pagination-center {
		padding:0px;
	}
body.stable.doa_version .tbf_header.mini_header #manage_acc.top_my_account {
    width: 99% !important;
    float: left !important;
}
body.stable.doa_version .tbf_header.mini_header .sbox #cse-search-box .g-search {
    width: 60% !important;
}
body.stable.doa_version .white_nav.tbf_header.mini_header #cse-search-box>div>button[name="sa"] {
    width: 29%;
}
.social-links a{
	/* width:35px !important; */
}
.top_main_container .right_container .social-links a i.fa{
	/* width:30px !important; */
}

body>.container>.row>section.col-md-12>.col-sm-10 h1{
	clear:both;
	font-size: 1.05em !important;
}
body.stable.doa_version .container.top_main_container .right_container{
	clear:both;
}
body.stable.doa_version #logo img {
    width: 200px !important;
}
body.stable.doa_version .container.top_main_container {
    /* padding-top: 0px; */
}
body.stable.doa_version .main section header h4,
body.stable.doa_version .main section header h3,
body.stable.doa_version header h2 {
    font-size: 1em;
    text-align: center;
}
body.stable.doa_version i.call_search_form {
    top: -17px !important;
}

body.stable.doa_version .white_nav.tbf_header.mini_header.sticky .search_init_support_menu {
    top: 52px !important;
}
body.stable .white_nav.tbf_header.mini_header .sbox.new_version {
    top: 62px !important;
}
body.stable.doa_version .white_nav .menu ul li{
	padding:0px 5px !important;
}
body.only_mobile_disp .container.top_main_container {
	padding-top:0px !important;
}
body.only_mobile_disp.stable.doa_version .search_init_support_menu{
	border-bottom:none !important;
}
body.only_mobile_disp.stable section.row.tab_ad_deals{
	padding-top:0px !important;
}
}
