=COLORS
Very Dark Blue #05294F
Dark Blue      #1D538C
Light Blue     #6DA5E7
Blue
Pale Blue
Dark Orange    #FF8F21
Light Orange   #FFA939
Pale Orange    #E7A96D
Maroon Red     #B74242
Green          #00CC00
Grey           #EBFFE4

/* Temporary reference to reset stylesheet. */
/* @import url("reset.css"); */
/* reset is included below: */

html, body, div, span, applet, object, iframe,
blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;

} 

table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}



html  {
    font-size: 15px; /* Base font size */
}


em * {  font-size: 10pt; }
/*strong * { font-size: 16pt; }*/



strong {
    font-size: 1em;
    font-weight: bold;
}


br.clear {
    clear: both;
    visibility: hidden;
}

/*=======
  =HEADER
  =======*/

#header-container {
    background: #eee; height: 147px; width: 100%;
}

#top-bar {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #dedede 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #dedede 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #dedede 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #dedede 0%,#eeeeee 100%);
    background: linear-gradient(to bottom, #dedede 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#eeeeee',GradientType=0 );
    border-bottom: 2px solid #2A2C2E;
    height: 30px;
}

#header-main {
    background: #1d538c;
    background: -moz-linear-gradient(top,  #1d538c 0%, #05294f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d538c), color-stop(100%,#05294f));
    background: -webkit-linear-gradient(top,  #1d538c 0%,#05294f 100%);
    background: -o-linear-gradient(top,  #1d538c 0%,#05294f 100%);
    background: -ms-linear-gradient(top,  #1d538c 0%,#05294f 100%);
    background: linear-gradient(to bottom,  #1d538c 0%,#05294f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d538c', endColorstr='#05294f',GradientType=0 );
    border-bottom: 1px solid black;
    height: 116px;
}

#top-bar-inner,
#header-main-inner {
    height: 100%;
    margin: 0 auto;
    width: 1010px;
}

#logo {
    float: left;
    width: 320px;
}



/* for modal login dialog box */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    opacity: 0.45;
}

/* login box */

div.login-container-outer {
    width: 600px; 
    margin-top: 50px;
    float: center;
    top:10px !important;
}
div.login-container-outer1 {
    width: 560px; 
    margin-top: 80px;
    float: center;

}
div.login-container-outer2 {
    width: 560px; 
    margin-top: -14px;
    float: center;

}
div.login-container-inner {
    padding: 10px 20px; 
    border-radius: 4px; 
    background-color: #ffffff; 
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); 
    position: relative; 
    opacity: 1; 
    -moz-transition: opacity 0.3s ease-out; 
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out; 
    text-align: left;

}
div.login-container-inner1 {
    background-color: #1C5491;
    border-radius: 4px 4px 0 0;
    border-top: 0 solid #999999;
    font-size: 14px;
    margin: -10px 0 0 -20px;
    text-align: left;
}
div.login-container-inner2 {
    background-color: #1C5491;
    border-radius: 4px 4px 0 0;
    border-top: 0 solid #999999;
    font-size: 14px;
    margin: -29px 0 0 -23px;
    text-align: left;
    width: 108.5%;
}

div.login-container-right {
    float: left; 
    width: 188px; 
    text-align: left;
    margin: 165px 0 0 18px; 
}

div.login-container-top {
    float: top; 
    width: 188px; 
    text-align: left;
    padding: 0 8px 0 0px;
    margin-bottom: 21px;
}

div.login-container-bottom {
    background-color: #EEEFEF;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #999999;
    font-size: 14px;
    margin: -9px 0 -8px -20px;
    padding: 10px 20px;
    text-align: center;
    width: 107%;
}

.login-container-inner div p,
.login-container-inner div p a {
    font-size: 15px;
    font-weight: bolder;
    color:red;
    font-style:italic;
    margin : 0px 0px 0px 64px;
}
h4.login-header {
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 1px solid #000; 
    padding: 2px 0;
    margin-bottom: 15px;
}

.login-input:focus { 
    border: 2px solid #99b4d2; 
}

#login_message {
    font-size: 15px;
    margin: 4px 0 30px 0;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    background: #ffffdb;
    width: 260px;
}

.login-input {
    font-size: 10pt; 
    color: #000; 
    border: 2px solid #ccc; 
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    padding: 7px 10px; 
    width: 310px; 
    margin-bottom: 10px;
}

.xit {
    background: #ffffff;
    color: #606060;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    padding: 3px 7px 5px 7px;
    text-decoration: none;
    font-weight: bold;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input::-webkit-input-placeholder {
    color:    #999;
}
input:-moz-placeholder {
    color:    #999;
}
input:-ms-input-placeholder {
    color:    #999;
}

.placeholder { color: #999; }

.xit:hover { color: #ffffff; background: #606060; }

a.signup { font-size: 14px; border-bottom: 0px solid #999; padding: 2px 0; text-decoration: none; color: #2364af; font-style: none; }
a.signup:hover { border-bottom: 1px solid #000; color: #000;}

p a.help { text-decoration: none; color: #2364af; padding: 2px 2px; line-height: 200%; }
p a.help:hover { color: #000; padding: 2px 2px; background-color: #dce7f3;}


.page-select { 
    margin-left: 10px; 
    font-size: 10pt; 
    color: #000;
    border: 2px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px 10px;
    width: 60px;
}

.page-select:focus { 
    border: 2px solid #99b4d2; 
}

#sub-ad {
    width: 290px;
    border: 1px solid #4e4d45;
    border-radius: 5px;
    background-color: #6c6b64;
    font-size: 16px;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 1px;
}

#sub-ad-container {
    padding: 10px;
    height: 48px;
}

#sub-ad-container a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 2px;
}

#sub-ad-container a:hover {
    border-bottom: 1px dotted #fff;
}

#sub-ad:hover {
    background-color: #4e4d45;
}

a.c0ntest {
    text-decoration: none;
    font-size: 14px;
}

a.c0ntest:hover {
    text-decoration: underline;
}

/*.lazy {
    display: none;
}*/
#header{
    font-size: 13px;

}

.tbf_login{
}
.tbf_login div.login-container-inner1{
    background:#FFA040 !important;
}
.tbf_login div.login-container-top{
    width:260px !important;
    margin:0 auto;
}
.tbf_login div.login-container-top a{
    display:block;
    margin:2px 0px;
}
.tbf_login div.login-container-top img{
    width:100%;
}
.tbf_login .login-container-inner1 h2{
    font-family:Helvetica;
}
.tbf_login div.login-container-inner{
    border: solid 1px #818181;
}
.tbf_login .login_sect_container #registerHere{
    width: 375px;
    margin: 0 auto;
    padding: 20px 10px;
    border: solid 1px #BEBEBE;
    border-radius: 4px;
    background: #F1F1F1;
    margin-top:25px;
    margin-bottom:20px;
    overflow:hidden;
}
.tbf_login .login_sect_container #registerHere table{
    margin: 0 auto;
}
.tbf_login .login_sect_container #registerHere input{
    border: 1px solid #7C7C7C;
}
.tbf_login .login_sect_container #registerHere .remem_me{
    color: #007aff;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 13px;
}
.tbf_login .login_sect_container #registerHere .remem_me input[type='checkbox']{
    position: relative;
    top: 2px;
}
.tbf_login .login_sect_container #registerHere .btn.modal-login-button{
    margin-left: 0px;
    line-height: 13px;
    font-size: 18px;
    color: #fff;
    text-shadow: none;
    font-weight: normal;
    background: #838383 !important;
    margin-top: 10px;
    margin-bottom: 0px;
    border: solid 1px #4B4B4B;
}
.tbf_login div.login-container-right{
    margin:0px;
    width:100%;
    margin-top: -3px;
}
.tbf_login div.login-container-right a{
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    font-size: 13px;
    color: #007aff;
    font-family: Helvetica;
}
.tbf_login .login-container-bottom{
    font-family:Helvetica;;
    font-size:13px;
}

.login-container-inner .login-container-inner1 h2{
    border-bottom: 1px dotted black;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 1.1em;
    margin-bottom: 29px;
    padding: 10px 1px 10px 21px;
}

div.login-container-inner{
    padding: 0px 20px;
}
.login-container-outer .login-container-inner a.xit{
	top: 8px;
}
#login_or_signup_modal1 .login-container-inner1{
    background:#338296 !important;
	margin:0px;
}
.tbf_login div.login-container-inner {
  border: solid 1px #818181;
  width: 100%;
  padding: 0px;
}
.tbf_login div.login-container-inner1 {
  background: #338296 !important;
  margin: 0px;
}

.tbf_login .login-container-bottom {
  font-family: Helvetica;
  font-size: 13px;
  margin: 0px;
  width: 100%;
}
div.login-container-outer#login_or_signup_modal1 div.login-container-inner{
padding:0px;
}
div.login-container-outer#login_or_signup_modal1 .sign_up_from{
padding:0px 20px;
}

div.login-container-outer#login_or_signup_modal1  div.login-container-bottom{
margin-left:0px;
width:100%;
}

#capchaValue1{
width:144px;
}
img.captcha-refresh {
    cursor: pointer;
}

.captcha-img-code {
    width: 138px;-moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);

    background-image:url(./../images/bg.jpg);

    font-style:italic;

    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;

    display:inline-block;       
    color:#COCOCO;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:5px 5px;
    text-decoration:none;
    margin-top:2px;
    padding-top:2px;
    letter-spacing:13px;
    text-shadow:0px 1px 0px #3d768a;
    text-align:center;
}

div.login-container-outer#login_or_signup_modal1 .btn.modal-login-button{
  margin-top: 10px;
  background: #3399cc;
  color: #FFF;
  border: 0px;
  font-size: 14px;
  text-shadow: none;
  margin-left: 10px;
}


/************Media Queries************************/
@media (max-width: 768px){
    .module_user_account{
        float:none !important;
        margin-left:20px !important;
    }
}


@media (max-width: 640px){

div.login-container-outer.tbf_login{
width:90%;
  margin-left: -280px !important;
}
div.login-container-outer#login_or_signup_modal1{
width:90%;
margin-left:-258px !important;
}
}

@media (max-width: 640px){
div.login-container-outer.tbf_login {
  margin-left: -250px !important;
  }
  
  }
  @media (max-width: 550px){
  div.login-container-outer.tbf_login {
  margin-left: -225px !important;
}
div.login-container-outer#login_or_signup_modal1 {
 margin-left: -220px !important;
  }
  div.login-container-right{
    margin: 114px 0 0 18px;
  }
}
@media (max-width: 480px){
    div.login-container-outer {
        width: 395px;
        margin-left: -224px !important;
    }
    .tbf_login div.login-container-inner{
        padding:0px;
    }
div.login-container-outer#login_or_signup_modal1 {
  width: 355px;
    margin-left: -72px !important;
  }
    div.login-container-inner {
        padding: 0px;
    }
    div.login-container-inner1,
    div.login-container-bottom{
        width:100% !important;
        margin: 0px;
    }
    .login-input{
        width:100%;
    }
    #loginform a {
        width: 177px;
        height: auto;
        display: block;
        right: 179px;
        position: relative;
        top: -5px;
    }
    #loginform {
        padding-left: 10px;
    }
    .tbf_login div.login-container-inner1{
        width: 100% !important;
        margin: 0px;
    }
    .tbf_login .login-container-bottom {
        font-family: Helvetica;
        font-size: 13px;
        width: 100% !important;
        margin: 0px;
    }
    .login-container-outer .login-container-inner a.xit{
        top: 6px;
    }
  div.login-container-outer.tbf_login {
  margin-left: -210px !important;
}
    div.login-container-outer#login_or_signup_modal1{
        position: absolute !important;
        top: -270px !important;
    }
    .span_td.fb_btn_container a {
        width: 100% !important;
        height: auto !important;
        right: auto !important;
        top:auto !important;
        display: block;
    }

    div.login-container-outer#login_or_signup_modal1 .btn.modal-login-button {
        margin-bottom: 0px;
    }
    div.login-container-outer#login_or_signup_modal1 div.login-container-right{
        margin: 115px 0 0 18px;
    }

}

@media (max-width: 450px){
div.login-container-outer.tbf_login {
  margin-left: -170px !important;
}
.tbf_login .login_sect_container #registerHere {
  width: 90%;
  }
}

@media (max-width: 414px){

    div.login-container-outer {
        width: 96%;
        margin-left: -178px !important;
    }
div.login-container-outer#login_or_signup_modal1 {
  width: 300px;
  margin-left: -76px !important;
    top: -170px !important;
}
   .manage_alert_new .mng_alt_thead .txt{
        width:50%;
    }
    .manage_alert_new .mng_head {
        overflow: hidden;
        font-weight: bold;
        color: #4F4F4F;
        border-bottom: dashed 1px #BEBEBE;
        padding-bottom: 6px !important;
    }
    .manage_alert_new .content_section .txt{
        margin-bottom: 10px;
        font-weight: 700;
    }
}  


@media (max-width: 375px){
    .login-container-outer.tbf_login{
        margin-left: -10px !important;
        top: -10px !important;
    }

    .tbf_login .login_sect_container #registerHere {
        width: 95%;
    }
    div.login-container-outer#login_or_signup_modal1 {
		  margin-left: -105px !important;
    }
    div.login-container-outer#login_or_signup_modal1 .login-input,.login-input  {
        width: 100% !important;
    }
	
	.manage_alert_new .txt.col-md-5 #btn_delete{
	    padding: 5px 7px !important;
	}
	.manage_alert_new .txt.col-md-5 #btn_edit{
	    padding: 5px 11px !important;
	}
}

@media (max-width: 320px){
    div.login-container-outer{
        margin-left: -86px !important;
        top: -35px !important;
    }
    .tbf_login .login_sect_container #registerHere{
        width: 93%;
        margin-left: 10px;
    }
    .login-input{
        width:240px;

    }
    #loginform .login-input {
        width: 282px;
    }
    #loginform a {
        width: 149px;
        height: auto;
        display: block;
        right: 155px;
        position: relative;
        top: -5px;
    }

    .login-container-inner .login-container-inner1 h2{
        margin-bottom:20px;
        font-size: 15px;
        letter-spacing: normal;
    }
    .tbf_login div.login-container-top a {
        display: block;
        margin: 2px 0px;
        width: 187px;
        margin: 0 auto !important;
    }
    div.login-container-outer.tbf_login{
       margin-left: -145px !important;
    }
    .tbf_login .login_sect_container #registerHere .btn.modal-login-button{
        margin-left: 0px;
        width: 100px;
        height: 30px;
        font-size: 1.2em;
        font-weight: normal;
        line-height: 30px;
        padding: 0px;
    }

	div.login-container-outer#login_or_signup_modal1 {
  width: 100% !important;
  margin-left: -137px !important;
}
div.login-container-outer#login_or_signup_modal1 .sign_up_from .fb_btn_container img{
margin-left:0px !important;
}
    div.login-container-outer#login_or_signup_modal1  .login-input {
        width: 275px;
    }

.manage_alert_new .content_section .txt{
padding:0px 5px;
}
.manage_alert_new .txt.col-md-5 #btn_edit {
  padding: 5px 8px !important;
}

}
.sign_up_from .div_tr{
    position:relative;
}
.sign_up_from .div_tr .login-signup-error-message{
    position: absolute;
    color: red;
    right: 46px;
    line-height: 33px;
    font-size: 14px;
    top: 0px;
}
.wrap{
    position:absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    display:none;
    overflow:auto;
}
