html,button,input,select,textarea{color:#222;}html{font-size:1em;line-height:1.4;-webkit-text-size-adjust:none;}::-moz-selection{background:#b3d4fc;text-shadow:none;}::selection{background:#b3d4fc;text-shadow:none;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}audio,canvas,img,video{vertical-align:middle;}fieldset{border:0;margin:0;padding:0;}textarea{resize:vertical;}.browsehappy{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}.responsive-top{width:320px;height:100px;}@media(min-width: 500px) { .responsive-top { width: 468px; height: 60px; } }
@media(min-width: 800px) { .responsive-top { width: 728px; height: 90px; } }
.responsive-side,.responsive-middle { width: 320px; height: 100px; }
.ad-slot-vert,.ad-slot-middle{text-align: center;}
@media(min-width:768px){.responsive-side,.responsive-middle{width: 468px; height: 60px;}}
@media(min-width: 992px) { .responsive-side { width: 160px; height: 600px; } .ad-slot-vert{text-align:center;}}
/*standard*/
html,body{
    font-size:16px;
}
body,a{
    color:#000080;
}
a{
    text-decoration: underline;
}
a:hover{
    color:#FFA040;
    text-decoration: none;
}
a img{
    border:none;
}
.b{
    font-weight:bold;
}
.pull-right{
    float:right;
}
.clear{
    clear:both;
}
.small{
    font-size:.8em;
}
.medium{
    font-size: .95em;
}

.left-logo{
    position:absolute;
    height:50%;
}
@media (max-width:767px){
    .left-logo{
        position:relative;
    }
    .storeRating {
        text-align: center !important;
        margin: 0 auto;
    }
    .store-ad-logo {
        text-align: center !important;
    }
    .store-details>p {
        clear: both;
        text-align: center;
        float: none;
    }
}
.relative-pos{
    position: relative;
}
.vertical-align{
    text-align: center;
}
.vertical-align:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.vertical-align>*{
    float: none;
    display: inline-block;
    vertical-align: middle;
    max-width:99%;
}
@-moz-document url-prefix() {
    .vertical-align>*{
        max-width: 95%;
    }
}

.mt20{
    margin-top:20px;
}
.no-pad-left{
    padding-left:0;
    margin-left:-15px;
}
.no-pad-left.col-md-7{
    width:60.8%;
}
.fw-normal{
    font-weight: normal;
}
.arrow-list{
    list-style-image: url("../images/arrow-right.png");
    list-style-position: inside;
    padding:0;
}
.arrow-list li:last-child{
    list-style:none;
}
ul{
    list-style: none;
}
li{
    line-height: 1.6;
}
ul.col-md-12{
    margin:0;
    padding-left:5px;
}
.col-md-3 section,.tan-color-scheme{
    background-color:#FFFFFF;
}
.col-md-3 ul.col-md-12,.disc{
    list-style: disc;
    list-style-position: inside;
}
section,article{
    border-radius: 5px 5px 0px 0;
}
section header,article header,.dropdown-section header.open{
    background:#FFA040;
    margin-bottom:10px;
    border-radius: 5px 5px 0px 0;
}
.col-md-3 section{
    margin-top:20px;
    padding-bottom: 20px;
    border: 1px solid #FFA040;
}
.col-md-3 section header{
    border-bottom:1px solid #FFA040;
    line-height: 2;
    color: #FFFFFF;
}

.main section header,.main article header{
    background-color:#FFA040;
    border-bottom:1px solid #FFA040;
    border-top:1px solid #FFA040;
    color: #FFFFFF;
}
.main section,.main article{
    border:1px solid #FFA040;
    border-top:none;
    margin-top:20px;
}
.main section:first-child,.main article:first-child{
    border-top:1px solid #FFA040;;
}
.main>header{
    border-radius:5px 5px 5px 5px;
    background:#fff;
    border:1px solid #FFA040;
    margin-top:20px;
}
#header-search{
    z-index:1;	
}
.main>header>.col-md-3>a>img{
    margin-top:11px;
}
@media (max-width:767px){
    #header-search{
        clear:left;
    }
    .main .col-md-4>a{
        display:inline-block;
        width:33%;
    }
    .main .col-md-4>a>img{
        max-width:100%;
    }
    .main .col-md-4>div{
        display:inline-block;
        width:66%;
        vertical-align:top;
    }
}
.scans header{
    margin-bottom:20px;
}
.scans a{
    color:#C0C0C0;
}
.scans .col-sm-3{
    padding:10px;
}
.store-map{
    display: block;
    text-align: center;
    margin: 20px 0;
}
.border-top{
    border-top:1px solid #FFA040 !important;	
}
header h2,header h3,header h4{
    padding:.1em;
}
header h2{
    font-size:1.2em;
    text-align: center;
}
header h3{
    font-size:1em;
    padding-left:.5em;
}
time{
    font-size:.8em;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
.img-link{
    float:left;
}
p{
    padding:0;
    margin:0;
}
/*body*/
body{
    font-family:sans-serif;
}
body>.container{
    -webkit-box-shadow: 0px 0px 10px #999;
    box-shadow: 0px 0px 10px #999;
}
hr{
    background:#F7AB57;
    height:3px;
    border:0;
    margin:0 0 10px 0;
    clear:both;
}
/*join mailing list*/
.newletter_input{
    width:50%;
    height: 21px;
}
/*header*/
header h1{
    font-size:.9em;
    font-weight: normal;
}
#logo{
    position:relative;
    z-index: 1;
    display: block;
    float: left;
}
/*main*/
#search-and-social{
    border:1px solid #FFA040;
    border-radius: 10px;
    padding:5px;
}
#search-and-social input{
    max-width:100%;
}
#social-links{
    position:relative;
}

#social-links a{
    text-decoration: none;
}
#social-links iframe{
    vertical-align: text-top;
}
.scans,.center{
    text-align: center;
}
.scans li a span{
    clear:both;
    display: block;
    font-size:.8em;
}
.scans li.col-sm-3:nth-child(4n+1){
    clear:left;
}
.dropdown-section{
    overflow:hidden;
}
.dropdown-section .toggle-list{
    display:none;
    border:10px solid transparent;
    border-top:10px solid #FFFFFF;
    width:0;
    height:0;
    margin:10px 5% 0 0;
    float:right;
    cursor:pointer;
}
.dropdown-section header.open .toggle-list{
    border-bottom:10px solid #FFFFFF;
    border-top:10px solid transparent;
    margin-top:0;	
}
@media (min-width:1170px){
    #social-links>div{

        right: 20px;

    }	
}
@media (min-width:992px){
    .dropdown-section{
        height:auto !important;
    }
    #social-links>div{
        right: 0px;
        bottom: 10px;
        position:absolute;
    }
}
@media (max-width:992px){
    .no-pad-left.col-md-7{
        width:100%;
        padding-left:15px;
        margin-left:0;
    }
    #search-and-social>b,#search-and-social>form,#social-links{
        margin:5px 0;
        display: block;
    }
    .dropdown-section{
        -webkit-transition:height 0.5s;
        transition:height: 0.5s;
        height:37px;
        border-radius:5px;
    }
    .dropdown-section header{
        cursor:pointer;		
        border-radius:5px;
    }
    .dropdown-section header:active{
        -webkit-box-shadow:1px 0px 4px #FFA040 inset;
        -moz-box-shadow:1px 0px 4px #FFA040 inset;
        box-shadow:1px 0px 4px #FFA040 inset;
    }
    .dropdown-section .toggle-list{
        display:inline-block;
    }
}
@media (max-width: 768px){
    .scans li.col-sm-3:nth-child(4n+1){
        clear:none;
    }
    .scans li.col-sm-3:nth-child(2n+1){
        clear:left;
    }
    .scans li.col-sm-3{
        width:50%;
        float:left;
    }
    .news h2{
        text-align: center;
    }
}
/*Footer*/
footer{
    border-top:3px solid #F7AB57;
    margin-top:20px;
    padding-top:25px;
}
#disclaimer{
    margin-top:20px;
    color:gray;
}


/* ==========================================================================
Helper classes
========================================================================== */

/*
* Image replacement
*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
[name="sa"],#mc-embedded-subscribe-form [type="submit"]{
    -webkit-appearance: none;
    display: inline-block;
    background-color: rgb(255, 160, 64);
    color: #fff;
    font-family: "Helvetica neue",Roboto,Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    border: 1px solid #BF8A54;
    margin-left: -6px;
    padding: 2px 12px;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    height: 36px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    line-height: normal;
    cursor: pointer;
    outline: none;
}
#cse-search-box{
    background: rgb(242,242,242);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0px 1px #FFF inset;
    border: 1px solid rgb(230,230,230);
    margin-top:20px;
}
#cse-search-box>div>[name="q"]{
    height:30px;
    padding:2px 0;
}
#cse-search-box>div>button[name="sa"], #mc-embedded-subscribe-form [type=submit] {
    position:relative;
}
#mc-embedded-subscribe-form{
    padding:0 0 10px 0;  
}
#mce-EMAIL{
    height:36px;
    font-size: 14px;
    padding-left: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    padding: 6px;
    margin: 0;
    -webkit-appearance: none;
    background-color: #fff;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    text-decoration: none;
    border: 1px solid #999;
    line-height: normal;
    outline: none;
}
