@media(max-width:1200px) and (min-width:992px){
	body{
		/* background:red !important; */
	}
	
	body.stable .tbf_header.mini_header #manage_acc.top_my_account{
		width:33% !important;
	}
	body.stable .tbf_header.mini_header.sticky  i.call_search_form{
		right:35%;
	}
	body.stable a.read-more-read-less{
		clear: both;
/*     float: none;
    display: block; */
	}
}
@media(max-width:991px) and (min-width:750px){
	
body.stable #mc-embedded-subscribe-form{
	    width: 25%;
}
body.stable ul.bef_login li{
	padding-right:5px;
}
body.stable .tbf_header.mini_header #manage_acc.top_my_account{
	width:42% !important;
	right: 10px !important;
}

body.stable ol.breadcrumb{
	width: 80%;
    float: left;
    margin-top: 0px;
    margin-right: 9px;
}
body.stable .top_main_container .right_container a#deal_url{
	    padding: 7px 10px;
}

body.stable .tbf_header.mini_header.sticky .search_init_support_menu{
	    position: absolute;
    width: 100%;
    background: #fff;
    top: 90px;
	    border-bottom: solid 1px #e1e3df;
}
body.stable .white_nav.tbf_header.mini_header.sticky #manage_acc.top_my_account {
    top: 5px !important;
}
body.stable .tbf_header.mini_header.sticky i.call_search_form {
    top: 3px !important;
    right: 40%;
}
body.stable .white_nav.sticky.tbf_header.mini_header.sticky .sbox.new_version {
    top: 41px !important;
}
body.stable .menu ul li.deals_li>ul>li>ul>li>ul>li{
	    padding: 0px 0px;
}
body.stable .menu>ul>li>ul>li>ul>li>ul{
	z-index:99 !important;
}
body.stable .white_nav.tbf_header.mini_header .menu ul li a {
	font-size:13px;
}

body.stable .tbf_header.mini_header .sbox.new_version{
	right:auto !important;
}
body.stable .white_nav .menu{
	width:100%;
}
}

@media(max-width:768px){
body.stable .read-more-read-less {
    z-index: 97;
}

body.stable .tbf_header.mini_header.sticky i.call_search_form{
	right: 4% !important;
}
body.stable .show_email_trigger {
    margin-top: 15px !important;
}

body.stable .search_init_support_menu{
	    width: 100%;
		position: absolute;
		background:#fff;
    top: 147px;
	border-bottom: solid 1px #cecece;
}
body.stable .white_nav.tbf_header.mini_header .sbox.new_version{
	top:41px !important; 
}

body.stable .show_email_trigger{
	display:none;
}
body.stable .tbf_header.mini_header #manage_acc.top_my_account{
	display:block !important;
}
body.stable .container.top_main_container {
    padding-top: 50px;
}
body.stable #mc-embedded-subscribe-form{
	position:absolute;
	top:-100px;
}
body.stable i.call_search_form,
body.stable .tbf_header.mini_header #manage_acc.top_my_account{
	top:5px !important;
}
}



@media(max-width:767px){
	body.stable .white_nav .menu ul li,
	body.stable .menu>ul>li>ul>li>ul>li>ul,
	body.stable .menu ul li.deals_li>ul>li>ul>li>ul>li{
		width:100% !important;
	}
	body.stable .tbf_header.mini_header nav.top_menu>ul{
	    width: 90%;
    margin: 0 auto;
	}
	body.stable .white_nav .menu ul li{
		background:#fff !important;
	}
	body.stable .tbf_header.mini_header.sticky #logo{
		display:block !important;
		    z-index: 99;
	}
	body.stable .menu:before{
		top:-20px !important;
	}
	body.stable .white_nav.sticky .menu:before{
		top:-44px;
	}
	body.stable .white_nav .menu ul li.logo_li,
	body.stable .white_nav.sticky .menu ul li.logo_li{
		display:none !important;
	}
	body.stable .white_nav.tbf_header.mini_header.sticky .menu{
		top:40px;
	}
	body.stable .white_nav .menu{
		z-index:99;
	}
	body.stable .tbf_header.mini_header nav.menu.open>:first-child{
	    max-height: 55vh;
    overflow: auto;
    border: none;
	background:#fff;
	}
	body.stable .white_nav.tbf_header.mini_header .menu ul li:hover, 
	body.stable .white_nav .menu>ul>li.active{
		box-shadow:none !important;
	}
	body.stable .search_init_support_menu{
		top:80px;
	}
	body.stable #mc-embedded-subscribe-form {
    position: absolute;
    top: -42px;
	    right: 23%;
}
}


@media(max-width:750px){
.tbf_header.mini_header #manage_acc.top_my_account{
	width: 54% !important;
}
body.stable #mc-embedded-subscribe-form{
	width:26%;
}
body.stable  .tbf_header.mini_header.sticky .search_init_support_menu {
    top: 52px !important;
}
body.stable .tbf_header.mini_header.sticky i.call_search_form {
    right: 13%;
}
body.stable .tbf_header.mini_header .sbox #cse-search-box .g-search {
    width: 74% !important;
}
}


@media(max-width:640px){
body.stable .container.top_main_container {
    padding-top: 20px;
}
body.stable .white_nav.sticky.tbf_header.mini_header.sticky .sbox.new_version {
    top: 78px !important;
}
}


@media(max-width:540px){
body.stable .tbf_header.mini_header #manage_acc.top_my_account {
    width: 63% !important;
}
body.stable .tbf_header.mini_header #manage_acc.top_my_account {
    width: 86% !important;
}
body.stable #mc-embedded-subscribe-form {
    position: absolute;
    top: -25px;
	width:50%;
}
body.stable i.call_search_form{
	right:2%;
}
}

@media(max-width:414px){

body.stable .white_nav.tbf_header.mini_header .sbox.new_version {
    top: 51px !important;
}
}
@media(max-width:375px){
body.stable .tbf_header.mini_header #manage_acc.top_my_account {
	    top: 20px !important;
		    width: 95% !important;
}
body.stable i.call_search_form {
    right: 1%;
    top: -25px !important;
}
body.stable .container.top_main_container {
    padding-top: 35px;
}
body.stable .tbf_header.mini_header.sticky #manage_acc.top_my_account{
	width:97% !important;
}
body.stable .tbf_header.mini_header #manage_acc.top_my_account ul.bef_login li{
	padding-right:3px;
}
body.stable .tbf_header.mini_header.sticky #manage_acc.top_my_account ul.bef_login li{
	padding-right:3px;
}
body.stable .tbf_header.mini_header.sticky i.call_search_form {
    right: 0% !important;
    top: 2px !important;
}
}

@media(max-width:320px){
	html{
		overflow-x:hidden;
	}
body.stable i.call_search_form{
	top:-30px !important;
}
body.stable .tbf_header.mini_header #manage_acc.top_my_account {
    width: 100% !important;
	top: 15px !important;
}
body.stable .tbf_header.mini_header.sticky i.call_search_form {
    top: 1px !important;
    right: 2% !important;
}
body.stable .container.top_main_container {
    padding-top: 35px;
}
}