/*Updated July 22, 2015*/
.color-global-1 {
  color: #AF0B1C; }

.color-global-2 {
  color: #D40139; }

.color-global-3 {
  color: #336699; }

.color-global-4 {
  color: #339900; }

.color-global-5 {
  color: #FFFFFF; }

.color-global-6 {
  color: #CCCCCC; }

.color-global-7 {
  color: #666666; }

.color-global-8 {
  color: #333333; }

.color-bg-global-1 {
  background-color: #FFFFFF; }

.color-bg-global-2 {
  background-color: #F5F5F5; }

.color-bg-global-3 {
  background-color: #666666; }

.color-bg-global-4 {
  background-color: #333333; }

.color-bg-retail-1 {
  background-color: #E3EDF9; }

.color-bg-retail-2 {
  background-color: #CEEBFC; }

.color-bg-retail-3 {
  background-color: #DCEEC4; }

.color-bg-retail-4 {
  background-color: #C4EAE3; }

.color-bg-is-1 {
  background-color: #000000; }

.color-bg-pwm-1 {
  background-color: #79745E; }

hr, hr.color-keyline-global-1 {
  border-top: 1px solid #D9D9D9; }

hr.color-keyline-global-2 {
  border-top: 1px solid #CCCCCC; }

hr.color-keyline-global-3 {
  border-top: 1px solid #666666; }

.color-border-global-1 {
  border-color: #D9D9D9; }

body {
  min-width: 1200px; }

@page {
  size: auto;
  margin: 15mm 10mm; }
a {
  text-decoration: none;
  border-bottom: solid 1px #000; }

footer,
header .color-bg-global-2 .nav-primary,
header .header-content-container .header-search-wrapper,
.mm-container .top-bar,
.button-primary-action,
.button-secondary-action,
.mm-mobile,
.mm-container,
nav #blq-local-nav,
#toolbarWrapper,
.intelli-box,
.breadcrumbs,
.cta-links,
.show-for-small-down,
.show-for-small,
.show-for-small-only,
.show-for-medium,
.show-for-medium-down,
.show-for-medium-only,
.product-callout-horizontal-container input[type="checkbox"],
.product-callout-horizontal-container label.checkbox-label,
.find-branch-container,
.messaging-signoff,
.h-nav-cont.hide-for-large-up,
.tabsContainer .accordionTitle,
.click-to-chat,
.banner .bazaar-voice-cont {
  display: none !important; }

.hide.legalContent,
.cibc-logo,
.left-rail-layout .menubar-nomegamenu,
.micrositeleftrail .menubar-nomegamenu,
.left-rail-columns,
.breadcrumbs,
.cta-links,
#desktop-header {
  display: block !important; }

.header-logo {
  display: inline-block;
  vertical-align: middle; }
  .header-logo .cibc-logo {
    height: 70px;
    padding-left: 1rem; }

.header-tagline {
  display: none; }

.news-ticker {
  border: 1px solid #000;
  color: #336699;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.messaging-marketing .row, .messaging-emergency .row {
  border: solid 1px #000; }

.list-collection li {
  width: 100% !important; }

.news-ticker .news-ticker-title h6 {
  top: 12px;
  position: absolute; }
.news-ticker .news-ticker-content {
  padding-left: 100px; }
  .news-ticker .news-ticker-content .carousel-control {
    position: absolute;
    top: 0; }
    .news-ticker .news-ticker-content .carousel-control.left {
      right: 42px;
      left: auto; }

a[href]:after {
  content: "" !important; }

.nextactioncta .nextactionctaItem a {
  border: none; }

select {
  background-image: url("../assets/images/select-arrow-dd.png") !important;
  background-repeat: no-repeat !important;
  background-position: right center !important; }

.brslider-bg {
  position: relative;
  left: 0;
  border: 0;
  height: 10px;
  margin-bottom: 9px;
  background: #D9D9D9 !important; }

.brslider-active.slider-active {
  position: absolute;
  display: block;
  top: 7px;
  left: 0;
  height: 10px;
  background: #fdca79 !important; }

.brsliderHandle {
  background: #fff !important; }

.reveal-modal-bg {
  background: #000000 !important;
  background: transparent !important;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1004;
  left: 0; }

.reveal-modal.open, .surveyContent {
  background: #fff !important; }

.button,
.expandableButtonContainer,
button.primary,
.button.primary,
a.button.primary {
  border: 1px solid #000 !important;
  color: #000 !important; }

.content-columns {
  width: 75%; }

.right-rail-columns, .left-rail-columns {
  width: 25%; }

.medium-pull-0 {
  position: relative;
  right: 0;
  left: auto; }

.medium-push-1 {
  position: relative;
  left: 8.33333%;
  right: auto; }

.medium-pull-1 {
  position: relative;
  right: 8.33333%;
  left: auto; }

.medium-push-2 {
  position: relative;
  left: 16.66667%;
  right: auto; }

.medium-pull-2 {
  position: relative;
  right: 16.66667%;
  left: auto; }

.medium-push-3 {
  position: relative;
  left: 25%;
  right: auto; }

.medium-pull-3 {
  position: relative;
  right: 25%;
  left: auto; }

.medium-push-4 {
  position: relative;
  left: 33.33333%;
  right: auto; }

.medium-pull-4 {
  position: relative;
  right: 33.33333%;
  left: auto; }

.medium-push-5 {
  position: relative;
  left: 41.66667%;
  right: auto; }

.medium-pull-5 {
  position: relative;
  right: 41.66667%;
  left: auto; }

.medium-push-6 {
  position: relative;
  left: 50%;
  right: auto; }

.medium-pull-6 {
  position: relative;
  right: 50%;
  left: auto; }

.medium-push-7 {
  position: relative;
  left: 58.33333%;
  right: auto; }

.medium-pull-7 {
  position: relative;
  right: 58.33333%;
  left: auto; }

.medium-push-8 {
  position: relative;
  left: 66.66667%;
  right: auto; }

.medium-pull-8 {
  position: relative;
  right: 66.66667%;
  left: auto; }

.medium-push-9 {
  position: relative;
  left: 75%;
  right: auto; }

.medium-pull-9 {
  position: relative;
  right: 75%;
  left: auto; }

.medium-push-10 {
  position: relative;
  left: 83.33333%;
  right: auto; }

.medium-pull-10 {
  position: relative;
  right: 83.33333%;
  left: auto; }

.medium-push-11 {
  position: relative;
  left: 91.66667%;
  right: auto; }

.medium-pull-11 {
  position: relative;
  right: 91.66667%;
  left: auto; }

.small-1 {
  width: 8.33333%; }

.small-2 {
  width: 16.66667%; }

.small-3 {
  width: 25%; }

.small-4 {
  width: 33.33333%; }

.small-5 {
  width: 41.66667%; }

.small-6 {
  width: 50%; }

.small-7 {
  width: 58.33333%; }

.small-8 {
  width: 66.66667%; }

.small-9 {
  width: 75%; }

.small-10 {
  width: 83.33333%; }

.small-11 {
  width: 91.66667%; }

.small-12 {
  width: 100%; }

.medium-1 {
  width: 8.33333%; }

.medium-2 {
  width: 16.66667%; }

.medium-3 {
  width: 25%; }

.medium-4 {
  width: 33.33333%; }

.medium-5 {
  width: 41.66667%; }

.medium-6 {
  width: 50%; }

.medium-7 {
  width: 58.33333%; }

.medium-8 {
  width: 66.66667%; }

.medium-9 {
  width: 75%; }

.medium-10 {
  width: 83.33333%; }

.medium-11 {
  width: 91.66667%; }

.medium-12 {
  width: 100%; }

.large-1 {
  width: 8.33333%; }

.large-2 {
  width: 16.66667%; }

.large-3 {
  width: 25%; }

.large-4 {
  width: 33.33333%; }

.large-5 {
  width: 41.66667%; }

.large-6 {
  width: 50%; }

.large-7 {
  width: 58.33333%; }

.large-8 {
  width: 66.66667%; }

.large-9 {
  width: 75%; }

.large-10 {
  width: 83.33333%; }

.large-11 {
  width: 91.66667%; }

.large-12 {
  width: 100%; }

/*# sourceMappingURL=print.css.map */
