/*
	Simple OpenID Plugin
	http://code.google.com/p/openid-selector/
	
	This code is licensed under the New BSD License.
*/

#openid_form {
	width: 580px;
}
.signup #openid_form {
  width:400px;
  margin-top:10px;
  text-align:center;
}

#openid_form legend {
	font-weight: bold;
}

#openid_choice {
	display: none;
}

#openid_input_area {
	clear: both;
	padding: 10px;
}

#openid_btns, #openid_btns br {
	clear: both;
}

#openid_highlight {
	/*padding: 3px;
	background-color: #FFFCC9;*/
	float: left;
}

.openid_large_btn {
	width: 100px;
	height: 60px;
/* fix for IE 6 only: http://en.wikipedia.org/wiki/CSS_filter#Underscore_hack */
	_width: 102px;
	_height: 62px;

	border: 1px solid #DDD;
	margin: 3px;

	display: inline-block;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.openid_large_btn:hover {
	border: 4px solid #DDD;
	margin: 0px;
}

.openid_small_btn:hover {
	border: 4px solid #DDD !important;
	margin: 0px !important;
}

.openid_small_btn {
	width: 24px;
	height: 24px;
/* fix for IE 6 only: http://en.wikipedia.org/wiki/CSS_filter#Underscore_hack */
	_width: 26px;
	_height: 26px;

	border: 1px solid #DDD;
	margin: 3px;
	float: left;
}

a.openid_large_btn:focus {
	outline: none;
}

a.openid_large_btn:focus {
	-moz-outline-style: none;
}

.openid_selected {
	border: 4px solid #DDD;
}

.openid-popup {
	position:absolute;
	display:none;
	background:#daf1fe;
	top:100px;
	left:680px;
	padding:10px;
	z-index:9999;
}
.openid-popup.center {
	top: 300px;
	left: 570px;
}
.openid-popup p {
	
}