/* CSS Reset */
@font-face {
	font-family: "Droid Sans";
	font-weight: normal;
	src: local("Droid Sans"), url("DroidSans.ttf") format("truetype");
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	/*vertical-align: baseline;*/
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
	font-family: Arial, Helvetica, sans-serif;
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,th,td {
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

blockquote, q {
	quotes: none;
}

.clear {
	clear: both;
}

body {
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	background: #f4f4f4;
	color: #4c4c4c;
}

.ov {
	overflow: hidden;
}

.droid {
	font-family: 'Droid Sans', arial, helvetica, sans-serif !important;
}

.wrap {
	width: 880px;
	margin: auto;
}

a {
	color: #41aaef;
}
a.noline{
	text-decoration:none;
}
label{
	cursor:pointer;
}

a:hover,
a:not(.button):focus {
	color: #3099de;
}

a,
label,
button{
	cursor:pointer;
}


button::-moz-focus-inner {
	padding:0;
	border:0
}

.button:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

/* Layout */

#header {
	background: #a1d7fc url('../graphics/header/bg_wide.png') repeat-x left top;
	height: 150px;
}

#header .grasp {
	background: url('../graphics/header/clouds1.png') no-repeat center top;
}

#header #logo {
	float: left;
	width: 350px;
	display: block;
	margin-top: 10px;
}

#header #logo img {
	float:left;
}
#header #logo #userType {
	font-weight:bold;
	font-size:20px;
	color:white !important;
	float:left;
}

#header #logo a {
	text-decoration: none !important;
}

#header #logo a span {
	line-height: 1.1;
	color: #1d4a65 !important;
	font-family: 'Droid Sans', arial, helvetica, sans-serif;
	font-size: 17px;
	display: block;
}

#header #control {
	max-width: 560px;
	float: left;
	padding-top: 5px;
}

#header #userContainer {
	max-width:200px;
	min-height:16px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline;
	font-weight:bold;
	float:right;
	padding-top:5px;
	cursor:pointer;
}
#userContainer span {
	float:left;
	height:18px;
	max-width:135px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-right:5px;
	white-space:nowrap;
	text-transform:capitalize;
}

#header #control li {
	float: left;
	padding: 0 11px;
	border-right: 1px solid #a1d3f4;
}

#header #control li a {
	font-weight: bold;
}

#header #control li.last {
	border: 0 none;
}

#header #control li.country {
	border: 0;
	padding-left: 33px;
	background: url('../graphics/header/flags.png') no-repeat 10px 1px;
}

#header #control li.country a {
	font-weight: normal;
	font-size: 12px;
}

#headline {
	clear: both;
	border-top: 1px solid #7fcefd;
	padding-top: 19px;
	width: 880px;
	margin: auto;
	position: relative;
	margin-top: -60px;
	height: 40px;
	overflow: hidden;
}

#headline,#headline * {
	color: #fff;
}

#headline h1 {
	font-size: 25pt;
	float: left;
	letter-spacing: -1px;
	margin-top:-8px;
}

#headline .actions {
	float: right;
}

.button {
	display: inline-block;
	background: url('../graphics/sprite.png') no-repeat left top;
	opacity: 0.9;
	vertical-align: middle;
	margin: 0 10px;
	cursor: pointer;
	border: 0;
	filter: alpha(opacity = 90);

}

.button:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

/* content */
#content {
	width: 840px;
	padding: 20px 20px 10px 20px;
	margin: auto;
	background: #fff;
	min-height: 100px;
	border-bottom: 1px solid #d6d6d6;
}

/* Pages */
.space {
	margin-bottom: 20px;
}

.space.light {
	margin-bottom: 10px;
}

.margin_center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.text {
	color: #4c4c4c;
	line-height: 21px;
	font-size: 15px;
}

.bgray {
	color: #4c4c4c;
	margin-bottom: 5px;
}

h1.bgray {
	font-size: 20pt;
}

h2.bgray {
	font-size: 16pt;
}

.green {
	color: #7ebc52;
}

.aqua {
	color: #51c2fd;
}

.bold {
	font-weight: bold;
}

.content_splitter {
	height: 4px;
	background: #daf1fe;
	margin: 20px 0;
}

.no_bottom_margin {
	margin-bottom: 0 !important;
}

.urlbox_toggle { margin-bottom:5px; }

.urlbox.small {
	width: 542px;
	padding: 10px 9px 10px 10px;
	margin: auto;
	background: url('../graphics/content/urlbox_small.gif') no-repeat left
		top;
	font-size: 15px;
	color: #4c4c4c;
	min-height: 25px;
}

.urlbox.small.hidden {
	display:none;
}

.pipe {
	display: inline-block;
	margin: 0 4px;
	color: #ddd;
}

.pipe.dark {
	color: #c8c8c8;
}

.urlbox.small .link a {
	color: #298ed0;
}

input.file_url,.urlbox.small .link {
	color: #298ed0;
	font-weight: bold;
	font-size: 13pt;
	display: block;
	float: left;
	padding: 4px 0 0 2px;
	border: 0;
	width: 460px;
	text-align: left;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-decoration: underline;
	height: 19px;
	white-space: nowrap;
}

.void.link {
	padding:2px 0 0 0px !important;
	text-decoration:none !important;
	height:22px !important;
}
.share.link { width:387px !important; }

.copyInput,.copyButton, .downloadButton {
	display: block;
	background: #48b3e8;
	float: right;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	opacity: 0.9;
	width: 75px;
	height: 27px;
	line-height: 27px;
	vertical-align: middle;
	text-align: center;
}

.copyInput:hover,.copyButton:hover, .downloadButton:hover {
	opacity: 1;
}

.file_description {
	margin-bottom: 20px;
	margin-top: 20px;
	color: #4C4C4C;
	font-size: 15px;
}

.file_description.reverse {
	border-top: 1px solid #e5e5e5;
	margin: 10px 0 15px 0;
	padding: 10px 0 0px 0;
	border-bottom: 0;
	width: 500px;
}

.download_with_ads .file_description.reverse {
	width: auto;
}

.sharebox {
	margin: auto;
	width: 200px;
	overflow: hidden;
}

.sharebox li {
	float: left;
}

.sharebox li a {
	display: block;
	width: 47px;
	height: 10px;
	padding-top: 37px;
	text-align: center;
	font-size: 10px;
	text-decoration: none;
}

.sharebox li a.buzz {
	background: url('../graphics/sprite.png') no-repeat 2px -276px;
}

.sharebox li a.twitter {
	background: url('../graphics/sprite.png') no-repeat -45px -276px;
}

.sharebox li a.facebook {
	background: url('../graphics/sprite.png') no-repeat -93px -276px;
}

.sharebox li a.email {
	background: url('../graphics/sprite.png') no-repeat -139px -276px;
}

#upgrade {
	width: 689px;
	height: 205px;
	padding: 10px;
	background: url('../graphics/modules/upgrade.gif') no-repeat left bottom;
	margin: auto;
	margin-bottom: 30px;
	text-align: left;
}

#upgrade h3 {
	font-size: 17pt;
	color: #555;
	padding-bottom: 10px;
	text-align: center;
}

#upgrade>ul>li {
	width: 200px;
	float: left;
	margin-right: 35px;
	padding-top: 22px;
	float: left;
	font-size: 12px;
	color: #444;
	padding-left: 10px;
}

#upgrade li.red {
	margin-right: 0;
	width: 190px;
	color: #fa755d;
}

#upgrade li.red,#upgrade li.red h5 {
	color: #fa755d;
}

#upgrade li.blue {
	margin-right: 30px;
}

#upgrade li.blue,#upgrade li.blue h5 {
	color: #52c4fd;
}

#upgrade li.green,#upgrade li.green h5 {
	color: #7ebb51;
}

#upgrade li h5 {
	letter-spacing: 0;
	font-size: 14pt;
	margin-bottom: 6px;
}

#upgrade .button {
	width: 195px;
	height: 41px;
	margin: 2px 0 0 0;
	line-height: 43px;
}

#upgrade li.red .button {
	background-position: -4px -222px;
}

#upgrade li.green .button {
	background-position: -4px -128px;
}

#upgrade li.blue .button {
	background-position: -4px -174px;
}

#upgrade li li {
	list-style-type: disc;
	margin-left: 15px;
	line-height: 1.3;
}

#upgrade li li span {
	color: #555;
}

/* download_with_ads */
.download_with_ads {
	position: relative;
}

.download_with_ads .sharebox {
	margin-left: -5px;
}

.download_with_ads .urlbox {
	margin: 0;
	padding-left: 0px;
	width: 510px;
}

.download_with_ads .urlbox input.file_url,.download_with_ads .urlbox a.link
{
	margin-left: 15px;
}

.download_with_ads .info {
	width: 840px;
	float: left;
}

.ads_holder {
	border: 1px dashed #ccc;
	background: #f2f2f2;
	text-align: center;
	color: #999;
}

.ads_holder a.remove {
	display: block;
	position: absolute;
	width: 84px;
	height: 17px;
	line-height: 16px;
	vertical-align: middle;
	background: url('../graphics/sprite.png') no-repeat -262px top;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	padding-left: 3px;
	color: #3691cc;
}

.download_with_ads .ads_holder.holder300x250 {
	width: 300px;
	height: 250px;
}

.download_with_ads .ads_holder.holder160x600 {
	width: 160px;
	height: 600px;
}

.download_with_ads .ads_holder.holder728x90 {
	width: 728px;
	height: 90px;
	margin: 0px auto;
	position: relative;
}

.download_with_ads .ads_remove {
	display: block;
	width: 84px;
	height: 17px;
	line-height: 16px;
	vertical-align: middle;
	background: url('../graphics/sprite.png') no-repeat -262px top;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	padding-left: 3px;
	color: #3691cc;
	margin: 0 auto;
}

.download_with_ads .clear1 {
	border-bottom: 1px solid #e5e5e5;
	margin: 5px 0 10px 0;
}

.abstop_sharebox {
	position: absolute;
	top: 20px;
	right: 0px;
}

#download_no_ads_page .sharebox {
	margin-bottom: 100px;
}

.download_timer_holder .download_timer {
	float: left;
	overflow: hidden;
	padding: 20px 0 50px 0;
}

.or {
	width: 10px;
	float: left;
	padding-top: 22px;
	text-align: center;
	color: #ccc;
	font-size: 8pt;
}

.download_timer {
	width: 250px;
	text-align: center;
	color: #ccc;
	font-size: 9pt;
	padding: 10px;
}

.download_timer .digits {
	font-size: 27pt;
	color: #999;
}

.download_timer .small {
	font-size: 8pt;
}

.download_timer .small span {
	padding: 0 15px;
	color: #ccc;
}

.download_timer .title {
	padding: 10px 0;
}

.download_timer .play {
	color: #3691cc;
	font-weight: bold;
}

/* Signup */
.signup {
	padding-left: 70px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	background: url('../graphics/characters/char1.png') no-repeat bottom
		right;
	width: 800px;
}
.signup h1 {
	margin-bottom: 20px;
}
.signup .error,
.signup .warning{
	max-width:600px;
}

.row {
	overflow: hidden;
	margin-bottom: 12px;
	line-height: 1.4;
	font-size: 13px;
}

.row .label {
	width: 100px;
	display: block;
	float: left;
}

.row .input {
	border: 1px solid #81cefc;
	padding: 3px;
	width: 310px;
}

.row select.input {
	width: 318px;
}

.row div.input {
	border: 0;
	padding: 0;
	float: left;
}

.row .comment {
	padding-top: 3px;
	color: #999;
	display: block;
	font-size: 8pt;
}

.row .alert {
	float: left;
	padding-left: 10px;
	color: red;
	font-size: 11px;
}
.signup .row .label{
	width:150px;
}
.signup div.submit {
	padding: 10px 0;
}

.signup div.submit span {
	color: #555;
}

.signup div.submit a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #333;
}

.business_demo_register input.submit,
.signup input.submit {
	width: 280px;
	height: 44px;
	background: url('../graphics/sprite.png') no-repeat left -485px;
	margin: 7px 0;
	font-size: 20pt;
	padding-bottom: 4px;
}

.business_demo_register h1 {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 1em;
}

.form {
	padding-left: 70px;
	padding-bottom: 20px;
	width: 800px;
}

/* API */
p {
	margin: 1.12em 0
}

.col {
	float: left;
}

#content.text_page {
	padding-bottom: 40px;
	overflow: hidden;
}

.text_page .col1 {
	width: 110px;
	margin-right: 30px;
	margin-left: 20px;
}

.text_page .col1 li,.text_page .box li {
	list-style-type: disc;
	color: #47b8fc;
	padding: 0 0 5px 0;
	margin-bottom: 5px;
	margin-left: 12px;
	font-size: 9pt;
}

.text_page .box li {
	margin-bottom: 0;
	padding: 1px 0;
}

.text_page .box h3 {
	font-weight: bold;
}

.text_page .col1 li.selected,.text_page .col1 li.selected a {
	color: #444;
}

.text_page .col1 li a {
	text-decoration: none;
	font-size: 9pt;
}

.text_page .col1 ul {
	margin-top: 2px;
}

.text_page .col2 {
	width: 450px;
	margin-right: 30px;
}

.text_page .col2_3 {
	width: 650px;
	margin-right: 30px;
}

.text_page h1 {
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.text_page .col3 {
	width: 190px;
}

.text_page .box {
	padding: 10px;
	font-size: 12px;
	border: 1px solid #daf1fe;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #4c4c4c;
	line-height: 1.4;
	margin-bottom: 15px;
}

.text_page .box span {
	font-size: 10pt;
	font-family: "droid sans";
}

.text_page .box em {
	color: #9b9b9b;
	display: block;
}

.box.sales {
	background: url('../graphics/characters/small_char1.png') no-repeat
		right bottom;
	padding-right: 60px;
}

/* ishare */
.ishare .col1 {
	width: 245px;
	padding-left: 10px;
}

.ishare .col2 {
	width: 480px;
	padding-bottom: 10px;
	padding-left: 40px;
	background: url('../graphics/characters/char1_wide_small.png') no-repeat
		right 95px;
}

.ishare h2 {
	color: #41aaef;
	font-size: 18.5pt;
	margin-bottom: 8px;
}

.ishare h3 {
	color: #2571a2;
	font-size: 19pt;
	margin-bottom: 30px;
}

.ishare li {
	color: #4c4c4c;
	margin-bottom: 15px;
	list-style-type: disc;
}

.ishare .button {
	display: inline-block;
	/*margin: 10px 0 30px 0;*/
}

.ishare .disclaimer {
	font-size: 11px;
	color: #8b8b8b;
	padding-top: 25px;
	border-top: 1px solid #e5e5e5;
	line-height: 1.4;
}

/* upload complete */
.inline {
	display: inline-block;
}

.upload_complete .bgray, .file_group .bgray {
	font-size: 14pt;
	padding-bottom: 5px;
}

.upload_complete .col1 {
	width: 600px;
	clear: left;
}

.upload_complete .col2 {
	padding-top: 65px;
	padding-left: 20px;
	width: 200px;
}

.upload_complete .urlbox.small, .file_group .urlbox.small {
	margin: 3px 0 10px 0;
}

.upload_complete .file_description {
	font-size: 11px;
	padding-left: 3px;
}

.upload_complete .control {
	padding-top: 20px;
	min-height: 180px;
}

.upload_complete .control .explain {
	color: #444;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 20px;
}

.upload_complete .control .input {
	width: 412px;
}

.upload_complete .file_description li {
	display: inline-block;
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid #e5e5e5;
}

.upload_complete .file_description li.last {
	border-right: 0;
}

.upload_complete .control li.inline {
	margin-right: 5px;
}

.upload_complete .control .submit {
	width: 158px;
	height: 39px;
	background: url('../graphics/sprite.png') no-repeat -211px -130px;
	margin: 10px 0;
	padding-bottom: 2px;
	font-size: 13pt;
}

.upload_complete .details {
	display: none;
}

.upload_complete, .file_group {
	/*background: url('../graphics/characters/char1.png') no-repeat 242px
		138px;
	min-height: 400px;*/
}

.privacy_open,.privacy_closed {
	font-size: 12px;
}

.privacy_open input,.privacy_closed input {
	margin-right: 12px;
}

.privacy_open {
	background: url('../graphics/sprite.png') no-repeat -265px -66px;
}

.privacy_closed {
	background: url('../graphics/sprite.png') no-repeat -265px -84px;
}

/* uploading */
.downloading h2,.uploading h2 {
	font-size: 18pt;
	text-align: center;
	margin-bottom: 20px;
}

.downloading h2 {
	font-size: 16pt;
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
	width: 524px;
	margin: 0 auto 30px auto;
	white-space: nowrap;
	overflow: hidden;
}

#progress_bar {
	height: 100px;
	margin: auto;
}
#progress_bar .stats,
#progress_bar .bar{
	margin-left:15px;
	margin-right:15px;
}

#progress_bar.small {
	width: 521px;
}

#progress_bar .bar {
	margin-bottom: 7px;
	height: 56px;
	position: relative;
}

#progress_bar.small .bar {
	height: 46px;
}

#progress_bar .frame {
	height: 56px;
	background: url('../graphics/common/upload_frame.png') no-repeat left top;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	right:0;
	background-size:100% 100%;
}

#progress_bar.small .frame {
	width: 521px;
	height: 46px;
	background: url('../graphics/common/download_frame.png') no-repeat left
		top;
}

#progress_bar .fill {
	background: url('../graphics/common/upload_fill.png') repeat-x left center;
	height:56px;
	position:absolute;
	left:1px;
	z-index:1;
	-webkit-transition:width .1s;
	transition:width .1s;
}

#progress_bar.small .fill {
	height:36px;
	top:4px;
}

#progress_bar .tag {
	display: block;
	width: 38px;
	height: 31px;
	background: url('../graphics/common/tag.png') no-repeat right top;
	color: #fff;
	font-weight: bold;
	font-size: 9pt;
	padding-top: 3px;
	text-align: center;
	position: absolute;
	z-index: 3;
	left: -12px;
	top: -10px;
	-webkit-transition:width .1s;
	transition:left .1s;
}

#progress_bar.small .tag {
	top:-12px;
}

.demo {
	width: 50%;
	margin: 20px 0;
	padding: 10px;
	background: #ffa;
}

#progress_bar .stats {
	font-size: 14px;
}

#progress_bar .stats .elapsed {
	font-size: 12px;
	white-space:nowrap;
}

#progress_bar.small .stats {
	font-size: 12px;
}

#progress_bar.small .stats .elapsed {
	font-size: 11px;
}

.downloading .col2,.uploading .col2 {
	float: right;
}

.download_with_ads .downloading {
	width: 600px;
	min-height: 220px;
}

.download_with_ads .downloading h2 {
	text-align: left;
	font-size: 14pt;
	width: 530px;
	margin-left: 0;
}

.uploading h2 em,.downloading h2 em {
	font-size: 12pt;
}

.download_with_ads #progress_bar {
	margin-left: 0;
}

/* login frame */
#login_frame {
	position: absolute;
	left: -185px;
	top: -8px;
	padding: 0 22px 0 23px;
	width: 215px;
	height: 271px;
	background: url('../graphics/common/login.png') no-repeat left top;
	padding-top: 14px;
	z-index: 1000;
	display: none;
	border:none;
	overflow: hidden;
	outline:none;
}

#login_frame a.login {
	display: block;
	float: right;
	*position:absolute;
	*margin-left:170px;
}

#login_frame .row.first {
	*padding-top:12px;
}

#login_frame .row {
	font-size: 11px;
	margin-bottom: 6px;
}

#login_frame .row .label {
	margin-bottom: 3px;
}
#login_frame .label a{
	text-decoration:none;
}
.header-alt-login-button:focus i{
	border-color:black;
}
#login_frame .checkbox:focus + span,
#login_frame a:focus{
	color:black;
	text-decoration:underline;
}
#login_frame .submit:focus{
	text-decoration:underline;
}
#login_frame .row .input {
	width: 206px;
}

#login_frame .submit {
	width: 93px;
	height: 36px;
	padding-bottom: 1px;
	background-position: -212px -178px;
	margin: 10px 10px 10px 0;
	text-align: left;
	padding-left: 19px;
}

#login_frame .checkbox {
	vertical-align: middle;
}

#login_frame ul.options {
	padding-top: 10px;
}

#login_frame .row .label{
	width:auto;
}
#control #login_frame ul.options li {
	float: none;
	border: 0;
	margin-bottom: 5px;
	padding: 0;
}

#control #login_frame ul.options li a {
	font-size: 11px;
	font-weight: normal;
}

#control #login_frame .split {
	height: 1px;
	background: #fff;
	border-top: 1px solid #bee6fd;
}


#content .files {
	margin: 0 15px;
}

#content .files li {
	font-size: 12px;
	text-align: left;
	padding: 2px 0 8px 0;
	margin: 5px 0;
	border-bottom: #c3d8e4 solid 1px;
	overflow: hidden;
	color: #111;
}

#content .files li.last {
	border-bottom: 0;
}

#content .files li span {
	color: #829098;
	float: right;
}

.icon {
	background: url('../graphics/common/files_sprite.png') no-repeat left
		top;
	padding-left: 22px !important;
}

.icon.acrobat {
	background: url('../graphics/common/files_sprite.png') no-repeat left
		top;
}

.icon.video {
	background: url('../graphics/common/files_sprite.png') no-repeat left
		-29px;
}

.icon.psd {
	background: url('../graphics/common/files_sprite.png') no-repeat left
		-58px;
}

h2 span.multi {
	color: #298ed0;
	border-bottom: 1px dotted #298ed0;
	position: relative;
	display: inline-block;
}

.relative {
	position: relative;
}

/* homepage */
#homepage_page #header {
	height: auto;
	position: relative;
}

#start {
	margin: auto;
	width: 880px;
	padding-bottom: 100px;
	position: relative;
	z-index: 2;
}

#illustration {
	width: 100%;
	height: 365px;
	background: url('../graphics/homepage/buildings_1.png') repeat-x left bottom;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
}

#illustration img {
	margin: 20px auto 0 auto;
	display: block;
	position: relative;
}

#start .browse {
	position: relative;
	height: 215px;
	width: 880px;
	margin: auto;
	background: url('../graphics/homepage/browse.png') no-repeat 100px 125px;
}

#dragndrop .steps {
	color: #4b90bd;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	margin-bottom:10px;
}

#start .browse .steps {
	color: #4b90bd;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 200px;
	left: 0px;
	width: 100%;
}

#start .browse .click {
	color: #bbb;
	font-size: 22pt;
	font-style: italic;
	position: absolute;
	top: 143px;
	left: 115px;
}

#start .holder{
	width:auto;
}

#start .browse .steps span, #dragndrop .steps span {
	display: inline-block;
	width: 14px;
	height: 14px;
	color: #f2f2f2;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background: url('../graphics/sprite.png') no-repeat -213px -328px;
	font-size: 11px;
	margin-top: -2px;
}

#start .browse .start {
	width: 343px;
	height: 68px;
	position: absolute;
}

#start .browse .start.en {
	background: url('../graphics/homepage/en/start.png') no-repeat left top;
	top: 70px;
	left: 277px;
}

#start .browse .file {
	cursor: pointer;
	height: 40px;
	margin-left: 18px;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	-moz-opacity:0;
	filter: alpha(opacity=0);
	width: 700px;
}

#start .browse .button {
	width: 700px;
	height: 43px;
	background: url('../graphics/homepage/browse_button.png') no-repeat right top;
	position: absolute;
	top: 136px;
	right: 79px;
	cursor: pointer;
}

#start .select {
	display: none;
	background: #F4F4F4;
	width: 660px;
	margin: auto auto auto auto;
	padding: 20px;
	opacity: 0.9;
}

#start #ownemail[type=checkbox] {
	width:20px;
	border:none !important;
}

#start .select input[type="checkbox"] {
	vertical-align: middle;
}

#start .select table {
	width: 100%;
	margin-bottom: 10px;
	border-collapse: collapse;
}

#start .select td {
	padding: 7px 0px;
	font-size: 12px;
	overflow: hidden;
	border-bottom: 1px solid #93d3f9;
	line-height: 1.1;
	vertical-align: middle;
	/*white-space: nowrap;*/
}

#start .select .droid * {
	font-family: "droid sans", arial, helvetica;
	color: #2571a2;
}

#start .select .click_to_add {
	font-style: italic;
	color: #a3bac7;
	border: 0;
	padding: 3px;
	background: transparent url('../graphics/common/files_sprite.png')
		no-repeat -4px -144px;
	padding-left:20px;
	width: 320px;
}

#remotefile.default {
	color: #777;
	font-size: 11px;
	font-style: italic;
}

#start .hoverable label{
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#start .select tr.hover,#start .select tr.hoverable:hover {
	background: #f1f8fe;
}

#start .select tr.hover,#start .select tr.hoverable .filename {
	overflow:hidden;
	text-overflow:ellipsis;
	height:14px;
}

#start .select #maxSize td {
	border: none;
	font-style: italic;
	font-size: 10px;
	padding-bottom:0;
	margin-bottom:-15px;
}

a.remove {
	margin-right: 6px;
	width: 12px;
	height: 12px;
	display: inline-block;
	background: transparent url('../graphics/icons/cross.png') no-repeat left top;
	float:left;
}

#start .select .click_to_add:focus,
#start .select .click_to_add.clicked:focus,
.clicked:focus
{
	background:#fff;
	color:#111 !important;
	border-color:#93d3f9;
}

#start .select .click_to_add.clicked, .clicked {
	font-style: normal;
	color: #333;
}

#start .select .privacy {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

#start .select tr:hover .privacy {
	opacity: 1;
	filter: alpha(opacity = 100);
}

#start .select .send input.clicked {
	color: #333;
}

#start .select .go {
	width: 200px;
	color: #2571a2;
	font-size:11px;
}

#start .select .go .button {
	width: 186px;
	height: 53px;
	background: url('../graphics/sprite.png') no-repeat -211px -271px;
	margin-bottom: 5px;
	font-size: 20pt;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	border: 0;
}

#start .add_more {
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
	display: block;
	position:relative;
	_position:relative;
	background:url('../graphics/icons/plus.png') no-repeat 0px 3px;
	padding-left: 15px;
	padding-top: 2px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
	filter: alpha(opacity = 100);
}

#start .add_more .new_file {
	opacity: 0;
	filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	position: absolute;
	right: 0;
	top: 0;
	*width:1px;
	font-size:70pt;
	cursor:pointer;
}

#homepage_page #headline,#homepage_page #content .uploading,#homepage_page .content_splitter
{
	display: none;
}

/* uploading */
#uploading_page #start,#uploading_page #header .grasp #illustration {
	display: none;
}

#uploading_page #headline,#uploading_page #content .uploading {
	display: block;
}

/*table#three{
	padding:10px;
	padding-bottom:0;
}*/
.filebox .file_info{
	border-spacing:0 5px;
}
/* plans */
.plans .h2 {
	text-align: center;
	font-size: 23pt;
	color: #2571a2;
	margin-bottom: 30px;
	letter-spacing: -1px;
}

.plans {
	width: 860px;
	margin: 0 auto;;
	overflow:visible;/*else cuts off tooltips*/
	padding-bottom: 50px;
}

.plans.four {
	width: 900px;
}

.plans .plans_holder {
	overflow:visible;/*else cuts off tooltips*/
}

.plans .plan {
	width: 250px;
	float: left;
	margin-top: 19px;
	position: relative;
}

.plans.one .plan.plan1 {
	margin-left: 220px;
}

.plans.two .plan {
	width: 278px;
}

.plans.two .plan.plan1 {
	margin-left: 110px;
}

.plans.two .plan.plan2 {
	margin-left: 55px;
}

.plans.one .plan.blue .holder,
.plans.two .plan.blue .holder {
	border: 4px solid #ececec;
}

.plans.two .plan.red .holder {
	border: 4px solid #ececec;
}

.plans.three{
	min-height:460px;
}

.plans.three .download_page_button{
	font-size:1.3em;
}

.plans.three .plan {
	width: 280px;
}

.plans.one .plan{
	width:420px;
}

.plans.four .plan {
	width: 204px;
}

.plans .plan * {
	text-align: center;
}

.plans .plan .holder {
	border: 4px solid #ececec;
}

.plans .plan.green .holder {
	border: 5px solid #e5ede1;
	min-height:348px;
}

.plans .plan.green {
	margin-top: 0;
	width: 280px;
}

.plans.four .plan.green {
	width: 230px;
}

.plans .plan.blue label,
.plans .plan.blue .colorate,.plans .plan.blue b {
	color: #43b3fc;
}

.plans .plan .top {
	font-size: 11px;
	font-weight: bold;
	padding: 3px 0;
	background: #f2f6f0;
}

.plans .plan.green .colorate,.plans .plan.green b {
	color: #7fbf45;
}

.plans .plan.red .colorate,.plans .plan.red b {
	color: #f9725b;
}

.plans .plan.gray .colorate,.plans .plan.gray b {
	color: #4c4c4c;
}

.plans .plan li {
	font-size: 14px;
	color: #6b6b6b;
	padding: 5px 0;
}

.plans .plan .extra li {
	font-size: 11px;
	border-bottom: 1px solid #e9ece7;
	border-top: 1px solid #ffffff;
}

.plans .plan .extra li {
	font-size: 12px;
	border-bottom: 1px solid #e9ece7;
	border-top: 1px solid #ffffff;
}

.plans .plan.blue .extra li {
	background: #ecf7fe;
}

.plans .plan.green .extra li {
	background: #f2f6f0;
}

.plans .plan.red .extra li {
	background: #fff4f2;
}

.plans .plan.gray .extra li {
	background: #f2f2f2;
}

.plans .plan.gray .holder {
	border-left: 0;
}

.plans .plan .extra li.first {
	border-top: 0;
}

.plans .plan .extra li.last {
	border-bottom: 0;
}

.plans .plan.green .extra li {
	padding: 8px 0;
}

.plans .plan h1 {
	color: pink;
	font-size: 22pt;
	font-weight: bold;
	margin: 10px 0px 5px 0px;
}

.plans .plan h4 {
	color: #4c4c4c;
	font-size: 14pt;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
	margin: 0px 10px 10px 10px;
}

.plans .plan h4.small {
	font-size: 12pt;
}

.business-settings-page .button,
.plans .plan .button {
	width: 131px;
	height: 38px;
	display: block;
	margin: 10px auto;
	line-height:40px;
	font-size:16pt;
}

.report-form .blue.fr{
	float:right;
	margin-top:-25px;
}
.report-form .fl{
	float:left;
	margin-top:10px;
}
.report-form div label{
	font-weight:normal;
	display:inline-block !important;
	font-weight:normal;
	min-width:80px;
	text-align:right;
	margin-right:5px;
}
.report-form .tar .button,
.report-form .tac .button{
	display:inline-block;	
}

.business-settings-page .button {
	font-size: 16px;
	margin: 0;
}

.business-settings-page .button.blue,
.plans .plan.blue .button {
	background: url('../graphics/common/signup_sprite.png') no-repeat left
		top;
}

.business-settings-page .green .button,
.plans .plan.green .button {
	background: url('../graphics/common/signup_sprite.png') no-repeat left
		-49px;
}

.business-settings-page .red .button,
.plans .plan.red .button {
	background: url('../graphics/common/signup_sprite.png') no-repeat left
		-96px;
}

.plans.four .plan.red .button {
	background: url('../graphics/common/signup_sprite.png') no-repeat left
		-190px;
}

.business-settings-page .button,
.plans .plan.gray .button {
	background: url('../graphics/common/signup_sprite.png') no-repeat left
		-144px;
}

.plans .plan h4 span {
	color: #a0a0a0;
	font-size: 12px;
}

.plans .plan .blue .extra li {
	background: #ecf7fe;
}

.plans .plan.blue .holder {
	border-right: 0;
}

.plans .plan.red .holder {
	border-left: 0;
}

.plans .plan .current {
	color: #5abcfc;
	background: url('../graphics/common/current.png') no-repeat bottom
		center;
	height: 25px;
	position: absolute;
	top: -20px;
	width: 100%;
}

.live_assistance {
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
	text-align: center;
	margin-top: 30px;
}

.live_assistance {
	font-weight: bold;
	color: #298ed0;
}

#upgrade.b {
	background: none;
	text-align: center;
	height: auto;
}

#upgrade.b h3 {
	font-size: 22pt;
	letter-spacing: -1px;
}

#upgrade.b h4 {
	font-size: 13pt;
	padding: 10px 0;
}

#upgrade.b .button {
	width: 249px;
	height: 47px;
	display: block;
	margin: 10px auto;
	background: url('../graphics/homepage/see_plans.png') no-repeat left top;
}

/* free downloads */
#free_downloads {
	overflow: hidden;
}

#free_downloads .section {
	width: 370px;
	margin-right: 100px;
	float: left;
	margin-bottom: 60px;
}

#free_downloads .section.nm {
	margin-right: 0;
}

#free_downloads .section h3 {
	font-family: "droid sans", arial, helvetica, sans serif;
	font-size: 24pt;
	color: #f8604c;
	padding-bottom: 3px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
	letter-spacing: -1px;
}

#free_downloads .section li {
	overflow: hidden;
	padding-bottom: 15px;
}

#free_downloads .section li .thumbnail {
	float: left;
	margin-right: 10px;
}

#free_downloads .section li .thumbnail img {
	border: 1px solid #c7c7c7;
}

#free_downloads .section li .title {
	color: #333;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	text-decoration: none;
}

#free_downloads .section li .description {
	color: #333;
	font-size: 11px;
	line-height: 14px;
	margin-bottom: 5px;
}

#free_downloads .section li .actions {
	color: #ccc;
	font-size: 12px;
}

#free_downloads .section .more,#free_downloads .section li .actions a {
	color: #298ed0;
	text-decoration: underline;
}

#free_downloads .section .more {
	font-weight: bold;
	font-size: 12px;
}

#free_downloads_page h1 {
	padding-top: 80px;
	background: url('../graphics/header/freedownloads.png') no-repeat left
		top;
	width: 100%;
}

#free_downloads_page h1 span {
	display: none;
}

#free_downloads_page #header {
	height: 250px;
}

#free_downloads_page #headline {
	height: 146px;
	margin-top: -165px;
	overflow: visible;
}

#free_downloads_page #headline h2 {
	color: #222;
	width: 600px;
	font-size: 12pt;
	line-height: 1.2;
}

#free_downloads_page #headline .character {
	position: absolute;
	top: -27px;
	z-index: 3;
	right: 0;
	background: url('../graphics/characters/char1_wide_small.png') no-repeat
		top right;
	width: 400px;
	height: 190px;
}

/* my files */
#content.my_files { /*padding: 10px;*/
	overflow: hidden;
}

.my_files .col1 {
	width: 145px;
	font-size: 12px;
	width:180px;
	margin-left:-20px;
	padding:0 5px;
}

.my_files .col1,
.my_files .col1 *{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.my_files h3 {
	font-weight: bold;
	padding: 6px 0;
}

.my_files .directories li {
	padding-left: 4px;
}

.my_files .directories li ul {
	margin-left: 10px;
}

.my_files .directories li.selected {
	background: #daf1fe;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.my_files .directories li.selected a {
	font-weight: bold;
}

.my_files .directories li a {
	vertical-align: middle;
	display: block;
	padding: 6px 2px 6px 24px;
	background: url('../graphics/common/files_sprite.png') no-repeat left
		-192px;
}
.my_files .directories li a.toggle {
	display:inline;
	padding:0;
	background:none;
	vertical-align:top;
	float:right;
	margin-top:-21px;
}

.my_files a.new {
	display: block;
	font-size: 11px;
	padding-top: 5px;
	margin-top: 5px;
	margin-right: 10px;
	border-top: 1px solid #e5e5e5;
}

.my_files .addressbook {
	margin-top: 40px;
	margin-right: 10px;
}

.my_files .addressbook h3 {
	padding: 6px 5px;
	margin-top: 40px;
	background: #daf1fe;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.my_files .addressbook .holder {
	border: 1px solid #daf1fe;
	padding: 5px;
}

.my_files .addressbook a {
	display: block;
	padding: 2px 0;
}

.my_files .addressbook .actions {
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #e5e5e5;
}

.my_files .addressbook .actions a {
	font-size: 11px;
}

.my_files .col2 {
	width: 685px;
	margin-right:-20px;
	border: 5px solid #daf1fe;
	font-size: 12px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.my_files .col2 .tabs {
	background: #daf1fe;
	overflow: hidden;
	height: 32px;
}

.my_files .col2 .tabs li {
	float: left;
}

.my_files .col2 .tabs li.search {
	float: right;
	padding: 3px;
}

.my_files .col2 .tabs li.search input {
	border:1px solid #88c1e5;
	font-size:12px;
	padding:2px 5px;
	width:150px;
	vertical-align:middle;
	margin-right:-20px;
}

.search button:last-of-type{
	margin-left:-5px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

.my_files .col2 .tabs li.search input:placeholder-shown{
	color:#aaa;	
}

.search button{
	color:lightblue;
}
.search form:valid button{
	color:navy;
}

.my_files .number_of_downloads {
	float: right;
	color: #949494;
	background: url('../graphics/myfiles/ddarrow.gif') no-repeat right 5px;
	padding-right: 10px;
}

.my_files .number_of_downloads a {
	font-weight: bold;
	color: #3691cc;
	text-decoration: underline;
}

.my_files .col2 .tabs li.search input:focus {
	border: 1px solid #4d96c4;
}

.my_files .col2 .tabs li {
	padding-top: 7px;
}

.my_files .col2 .tabs li a { /*display: block;
	padding: 10px 12px;*/

}

.my_files .col2 .tabs li.selected a {
	background: #fff;
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

.my_files .col2 .holder {
	padding: 5px;
	min-height: 100px;
}

.my_files .col2 .graph .holder {
	padding: 10px 0;
}

.my_files .col2 .graph {
	margin-bottom: 20px;
}

.my_files .graph .toggle_graph {
	font-size: 12px;
}

.my_files .col2 .actions {
	padding:6px;
	background: #daf1fe;
}
.my_files .col2 table.actions{
	background:none;
}
.my_files #files table.actions{
	font-size:100%;
}
.my_files #files table.actions tr{
	border:0;
}

.action-button,
.my_files .col2 .actions input[type=submit] {
	color:#333;
	background: #fff url('../graphics/myfiles/button_bg.gif') repeat-x left top;
	border:1px solid #adadad;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	vertical-align:middle;
}

.my_files .col2 .actions li {
	float: left;
}

.my_files .col2 .actions li.share {
	margin-right: 10px;
}

.my_files .col2 .actions li.share button {
	font-weight: bold;
}

.my_files .col2 .actions li.edit {
	margin-right: 2px;
}

.my_files .col2 .actions li.select,.my_files .col2 .actions li.pager {
	line-height: 24px;
	vertical-align: middle;
	padding-left: 10px;
}
#files .pager{
	position:relative;
	display:block;
	min-height:10px;
}
#files .pager .fr{
	float:none;
	position:absolute;
	right:0;
}
#files table.actions{
	margin-top:5px;
}
#files .top table.actions{
	margin:0;
	margin-bottom:5px;
}

.my_files #files table {
	width: 100%;
	border-collapse: collapse;
	font-size: 11px;
}

.my_files #files table th {
	padding: 5px;
	background-color: #DAF1FE;
}
.my_files #files table tr {
	border-top: 1px solid #e5e5e5;
	position:relative;
}
.my_files #files table.autowidth{
	width:auto;
}
.my_files #files table.icon-view tr{
	border:0;
}
.my_files #files table td {
	margin-top: 5px;
	padding: 3px;
}
.my_files #files table.actions td{
	padding:0;
}

.my_files #files table tr.row1 {
	background: #fafafa;
}

.my_files #files table th a {
	font-weight: bold;
	text-decoration: none;
}

.my_files #files table .filename {
	width:300px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.my_files #files td.h {
	padding-left: 10px;
	background: url('../graphics/myfiles/sprite.png') no-repeat left -48px;
}

.my_files #files tr.row1:hover,.my_files #files tr.row2:hover {
	background: #ffeb86 !important;
}

.my_files #files table .size {
	width: 100px;
	text-align: center;
}

.my_files #files table .description {
	width:300px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.my_files #files th.description{
	padding-left:10px;
}
.my_files #files table td.description{
	display:inline-block;
}

.my_files #files table .downloads {
	width: 60px;
	text-align: center;
}

.my_files #files table .uploaded {
	width: 60px;
	text-align: center;
}

.my_files #files table .privacy {
	width: 70px;
}
.my_files #files .filename a{
	color:black;
	text-decoration:none;
}

.my_files table th span {
	display: inline-block;
	margin-left: 3px;
	width: 7px;
	height: 9px;
	background: url('../graphics/myfiles/sprite.png') no-repeat left top;
}

#files a.highlight{
	white-space:nowrap;
}

.my_files span.desc {
	background: url('../graphics/myfiles/sprite.png') no-repeat left -25px;
}

.my_files span.asc {
	background: url('../graphics/myfiles/sprite.png') no-repeat left -12px;
}

.my_files #files table th a.highlight,
.my_files #files table th.highlight a {
	color: #444;
}

.my_files #files td.privacy {
	background: url('../graphics/myfiles/sprite.png') no-repeat 24px -74px;
}

.my_files #files td.privacy.private {
	background: url('../graphics/myfiles/sprite.png') no-repeat 24px -95px;
}

.my_files .icon.acrobat {
	background: url('../graphics/common/files_sprite.png') no-repeat left
		3px;
}

.my_files .icon.video {
	background: url('../graphics/common/files_sprite.png') no-repeat left
		-26px;
}

.my_files .icon.psd {
	background: url('../graphics/common/files_sprite.png') no-repeat left
		-55px;
}

/* buttons */
.button {
	font-family: "droid sans", arial, helvetica, sans-serif;
	font-size: 15pt;
	color: #fff;
	text-decoration: none;
	border:none;
	text-align: center;
	vertical-align: middle;
	letter-spacing: -1px;
	background: url('../graphics/sprite.png') no-repeat 0px 0px;
}

.button:hover {
	color: #fff;
}

#headline .button.upload_new_file {
	background-position: left -324px;
	width: 175px;
	height: 39px;
	color: #3691cc;
	line-height: 38px;
	margin-top:-8px;
}

.download.button, .download.button.free  {
	width: 248px;
	height: 55px;
	margin: 0 auto 5px auto;
	font-size: 17pt;
}

.button.download {
	font-size: 28pt;
	width: 246px;
	height: 55px;
	line-height: 51px;
	font-weight: bold;
	background-position: 0px -425px;
}

.download_timer.free .download, .download.button.free {
	background-position: left -69px;
	font-size: 28pt;
}
.download.button  {
	float:left;
}

.button.live_chat {
	width: 121px;
	height: 30px;
	background-position: -261px -24px;
	margin: 10px 0 0 0;
	font-size: 13px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: 0;
}

.button.ishare {
	width: 254px;
	height: 53px;
	background-position: -4px -536px;
	line-height: 53px;
	font-size: 21pt;
	padding-left: 7px;
}

/* footer */
#footer {
	overflow: hidden;
	padding-top: 10px;
	color: #9b9b9b;
	font-size: 11px;
	line-height: 1.5;
}

#footer .wrap>ul {
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e7e7e7;
}


#footer .wrap>ul>li {
	width: 154px;
	float: left;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
}

#footer a {
	color: #7b7b7b;
	text-decoration: underline;
	font-weight: normal;
	font-size: 11px;
}

#footer a:hover {
	color: #777;
}

#footer #signature {
	overflow: hidden;
	height: 50px;
	width: 400px;
	margin: auto;
	text-align: center;
}

#footer #signature .affiliates {
	height: 50px;
	width: 400px;
	background: url('../graphics/sprite.png') no-repeat left -370px;
}

#footer #signature a {
	display: block;
	width: 120px;
	margin-right: 10px;
	float: left;
	height: 50px;
	margin-bottom: 10px;
}

#login_frame .remove {
	position: absolute;
	right: 68px;
	top: 15px;
}

div.overlay {
	z-index: 1000;
}

#glass {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
	top: 0;
	left: 0;
}

.formsubmit {
	width: 280px;
	height: 44px;
	background: url('../graphics/sprite.png') no-repeat left -485px;
	margin: 7px 0;
	font-size: 20pt;
	padding-bottom: 4px;
}

/* added by EP */
.submit_big_blue {
	width: 280px;
	height: 44px;
	background: url('../graphics/sprite.png') no-repeat left -485px;
	margin: 7px 0;
	font-size: 20pt;
	padding-bottom: 4px;
}

.submit_green {
	background: url('../graphics/sprite.png');
	background-position: -4px -128px;
	height: 41px;
	line-height: 43px;
	margin: 2px 0 0;
	width: 195px;
}

.submit_red {
	background-position: -4px -222px;
	height: 41px;
	line-height: 43px;
	margin: 2px 0 0;
	width: 195px;
}

.submit_blue {
	background-position: -4px -174px;
	height: 41px;
	line-height: 43px;
	margin: 2px 0 0;
	width: 195px;
}

.submit_blue_small {
	background-position: -4px -174px;
	height: 41px;
	font-size: 13pt;
	margin: 2px 0 0;
	width: 105px;
}

.form_input {
	border: 1px solid #81CEFC;
	padding: 3px;
	background-color: #FFF;
}

.files_button {
	color: #333;
	padding: 2px 6px;
	background: #fff url('../graphics/myfiles/button_bg.gif') repeat-x left top;
	border: 1px solid #adadad;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* from old site */
strong {
	font-weight: bold;
}

div.msg {
	line-height: 1.8;
	cursor: pointer;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px 10px 10px 37px;
	font-weight: bold;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

div.success {
	background: #E3FFDE url(/img/icon-success.png) no-repeat scroll 10px 50%;
	border: 1px solid #6CD858;
}

div.error {
	background: #FAE8E8 url(/img/icon-error.png) no-repeat scroll 10px 50%;
	border: 1px solid #FFA2AA;
}

div.warning {
	background: #FFFFD3 url(/img/icon-warning.png) no-repeat scroll 10px 50%;
	border: 1px solid #D6D61F;
}
.cc_update div.warning{
	background-position:13px 13px;
}
.cc_update a{
	font-weight:normal;
	font-size:1.5em;
}

div.information {
	background: #E3F2F7 url(/img/icon-info.png) no-repeat scroll 10px 50%;
	border: 1px solid #B4DBE8;
}

.business_demo_register form .error {
	background: #FAE8E8;
	border: 1px solid #FFA2AA;
	padding-left: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
}

.questions {
	margin-bottom: 20px;
}

.questions p {
	/*	margin-left: 42px;*/
}

.questions ol {
	margin-top: 0px;
	line-height: 1.5em;
}

.questions ul {
	line-height: 1.5em;
	list-style: disc;
	margin-left: 30px
}

.questions,
.questions ul,
.questions ol,
.questions p,
.questions + p{
	line-height:135%;
}

.questions a{
	text-decoration:none;
}
.questions a:hover{
	text-decoration:underline;
}

.support-answer {
	display: none;
}

.questions li p {
	margin: 10px 0px 15px 0px;
	line-height: 1.6em;
}

.questions h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #999;
	margin-top: 10px;
	margin-bottom: 10px
}

.listing{
	background-image:url(/img/my_bg.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	padding-bottom:10px;
}

.mysendspace ul {
	line-height: 1.5em;
	list-style: disc;
	margin-left: 30px
}

.legal {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 9px
}

.hidden {
	display:none;
}

.premiumteaser h1 {
	color: #BB3300;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 24px;
	margin-top: 0;
	padding-top: 25px;
}

.premiumteaser ul {
	line-height: 1.5em;
	list-style: disc;
	margin-left: 30px
}

h1.mysendspace {
	color: #bb3300;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 24px;
	padding-top: 10px;
	margin-top: 0;
	margin-left: 0;
}

div.errorbox-bad {
	border: 2px solid red;
	background-color: #ffffe0;
	padding: 2px;
}

.matchedSmartInputItem {
	padding: 5px 0px 1px 5px;
	margin: 0;
	cursor: pointer;
	width: 229px;
}

.selectedSmartInputItem {
	color: white;
	background-color: #3875D7;
}

#smartInputResults {
	padding: 0;
	margin: 0;
}

ul.uploadTabs {
	margin:0;
	float: left;
	list-style: none;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 5px 0 5px 0;
}

#shareAllTab a {
	color: #85BE60;
	border: 1px solid #85BE60;
}

#shareAllTab.active a { background-color:#85BE60; color:white; }

ul.uploadTabs span {
	float: left;
	color: #E5E0E5
}

ul.uploadTabs li {
	float: left;
	margin: 7px 5px 0;
	padding: 0;
	overflow : hidden;
	position: relative;
	width: 200px;
	height: 37px;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
ul.uploadTabs li:last-chlid { margin:0; }

ul.uploadTabs li a {
	text-decoration: none;
	display: block;
	font-size: 1em;
	height: 23px;
	font-weight: bold;
	/*font-variant: small-caps;*/
	line-height:1.5em;
	outline: none;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 195px;
	text-align: center;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-border-radius:6px;
	padding-left:3px;
	border: 1px solid #81CEFC;
}

ul.uploadTabs li small {
	text-align: center;
	display: block;
	font-size: 10px;
	height: 14px;
	margin-top: 2px;
}

ul.uploadTabs li a, ul.uploadTabs li small {
	background: white;
	color: #41AAEF;
}

ul.uploadTabs li.active a {
	background: #41AAEF;
	color: white;
	border: 1px solid #41AAEF;
}

ul .uploadTabs li.active small {
	background: #41AAEF;
	color: white;
}

#tab_container {
	/* overflow: hidden; */
	clear: both;
}

#tabParent {
	background: url('../graphics/characters/char1.png') no-repeat 252px 20px;
	min-height: 360px;
	clear:left;
}

.tab {
	font-size: 1.2em;
}

.tab hr {
	border: none;
	border-bottom: 1px solid #E5E5E5;
}

.file_description h4, .file_description h3 {
	font-weight: bold;
}

.shareButton:hover, .copyButton:hover, .downloadButton:hover {
	cursor: pointer;
}
.copyContainer .shareButton {
	background: #85BE60;
	margin-right:2px;
}

.shareButton {
	border:none;
	text-align:center;
	color:#fff;
	display:inline-block;
}

#sharePopup {
	display:none;
	padding-top:2px;
	padding-bottom:2px;
	background: #298ED0;

	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;

	-webkit-box-shadow:-1px 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow:-1px 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	box-shadow:-1px 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}


#sharePopup a {
	position: relative;
	display: block;
	font-weight:bold;
	width: 102px;
	height:32px;
	padding: 5px 0 4px 40px;
	text-decoration: none;
	color:#fff;
}

#sharePopup a:hover {
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background:navy;
}

#sharePopup span {
	position: absolute;
	left: 4px;
	top: 4px;
}

.dlfirst {
	width:850px;
}

.dlfirst .file_description.reverse {
	width:100%;
}
.dlfirst .download.button {
	overflow:hidden;
	float:none;
}
.dlfirst .column {
	width:283px;
	float:left;
}

.dlfirst.twocol #col2 { margin-left:33px; }
.dlfirst.twocol #col1 { border-right: 1px solid #E5E5E5; margin-left:135px; }

.dlfirst.threecol .column { width:270px; }
.dlfirst.threecol #col3 { padding-left: 18px; border-left:1px solid #E5E5E5; }
.dlfirst.threecol #col1 { border-right:1px solid #E5E5E5; }
.dlfirst.threecol #col2 { padding-left: 18px; }

.dlfirst .column ul {
	margin-left:10px;
	font-size:16px;
}
.dlfirst .column ul li strong {
	color: #999;
}
.dlfirst .column ul li em {
	color: green;
	font-weight:bold;
	font-style:italic;
}
.dlfirst .column ul li { margin-top:7px; }
#notice {
	text-align:center;
	font-size:10px;
}

#col2 #toolbarCheck { background:#E0DFDE; width:240px; padding:5px; text-align:center; }

.dlfirst .column .divspace { height: 180px }

.dlfirst.threecol #col2 img { margin-left:8px; }

.dlfirst .column #subLength {
	background: #E0DFDE;
	padding:5px;
	width:225px;
	margin-left:10px;
}
.dlfirst .column #paymentMethod {
	width:225px;
	margin-left:10px;
	margin-top:10px;
	background: #E0DFDE;
	padding:5px;
}
.dlfirst .download.button { font-size:20px; }

#indexError {
	padding-bottom:6px;
	padding-top:6px;
	width:685px;
	margin:15px 0 0 90px
}
#viewContainer { margin-top:15px; }
#viewContainer a { color:#fff; font-weight:bold; }
#dropboxPageTable trfirst-child {
	white-space:nowrap;
}
#dropboxPageTable #folder_name{
	word-break:break-all;
	display:inline-block;
	max-width:150px;
}

.recipientemailsfloater {
	position:absolute;
	left:0;
	display:none;
	visibility:hidden;
	background-color:white;
	border: 1px solid black;
}

.directories {
	max-height:400px;
	overflow:auto;

}

.folderSelector {
	position:absolute;
	display:none;
	z-index:2000;

	width:200px;
	height:150px;

	overflow:auto;

	padding:0;

	*margin-top:-75px;

	background: white;
	border: 1px solid #81CEFC;
}

#folderWrapper {
	background: white;
	min-height:40px;
	overflow:auto;
}
#folderWrapper .jspContainer{
	border:1px solid #eee;
} 
.my_files #folderWrapper .jspPane{
	margin-left:-18px;
}

#user_cleanup_page #folderWrapper {
	width:850px;
	margin-left:0;
	display:none;
  overflow:auto !important;
}

.folder_trigger { cursor:pointer; }
span.toggle {float:left; margin-left:2px; font-size:16px; margin-top:-2px;}

#about_us, #openid_register {
	background: url('../graphics/characters/char1.png') no-repeat 252px 20px;
	min-height: 340px;
}

#about_us p {
	text-align:justify;
	width:600px;
	font-family: Verdana;
	font-size: 13px;
	color: #555;
	line-height: 1.5;
	letter-spacing: .25px;
}

#addressbookEdit, #descriptionEdit {
	position:absolute;
	z-index:2000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #CAD8F3;
	background:#5498D2;
	width:254px;
	color:#000;
	padding: 2px 5px 2px 8px;
}
#addressbookEdit{
	margin-top:5px;
	padding:5px 10px;
}
#addressbookEdit input[type=text], #descriptionEdit input[type=text] {
	width:175px;
	height:18px;
	float:left;
}

#addressbookEdit input[type=submit], #descriptionEdit input[type=submit] {
	float:left;
	width:60px;
	height:26px;
	margin-left:10px;
	cursor:pointer;
	border: 1px solid #81CEFC;
}


/* FBCK */
/* Copyright: Guillermo Rauch <http://devthought.com/> - Distributed under MIT - Keep this message! */

/* TextboxList sample CSS */
ul.holder { margin: 0;  overflow: hidden; height: auto !important; height: 1%; padding: 4px 2px 0; }
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.holder li {list-style-type: none; margin: 0 5px 4px 0; white-space:nowrap;}
ul.holder li.bit-box, ul.holder li.bit-input input { font-size: 11px;}
ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 4px 5px 4px; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-input input { width: auto; overflow:visible; margin: 0; border: 0px; outline: 0; padding: 3px 0px 2px; } /* no left/right padding here please */
ul.holder li.bit-input input.smallinput { width: 20px; }

/* Facebook demo CSS */
ul.holder { width: 272px; float:left; }
ul.holder { margin: 0 !important }
ul.holder li.bit-box, #apple-list ul.holder li.bit-box { overflow:hidden;  position: relative; z-index:1000; width: 200px; }
#apple-list ul.holder li.bit-input { margin: 0; }
#apple-list ul.holder li.bit-input input.smallinput { width: 5px; }
ul.holder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-box span.closebutton { position: absolute; right: 4px; top: 6px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('../img/close.gif'); }
ul.holder li.bit-box span.closebutton:hover { background-position: 7px; cursor:pointer }
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }

ul.holder li.bit-box.active {
	position:absolute;
}

/* Autocompleter */

.facebook-auto { display: none; position: absolute; width: 250px; *margin-left:-275px; *width:275px; background: #eee; z-index:1001; top:30px; }
.facebook-auto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px; }
.facebook-auto ul { display: none; margin: 0; padding: 0; overflow: auto; position:absolute; z-index:9999}
.facebook-auto ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #eee }
.facebook-auto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
.facebook-auto ul li.auto-focus { background: #4173CC; color: #fff; }
.facebook-auto ul li.auto-focus em { background: none; }
.deleted { background-color:#4173CC !important; color:#ffffff !important;}
.hidden { display:none;}

.bit-box-popup {
	position:absolute;
	z-index:2000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #CAD8F3;
	background: #FEEFDA;
	color:#000;
	padding: 4px 5px 4px;
}

#demo ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
.ie6fix {height:1px;width:1px; position:absolute;top:0px;left:0px;z-index:1;}


/* my files */

.myfiles { padding: 0px; }
.fileboxtd2 { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
							font-size: 12px; background: #f8f8f8; color: #203276; }
.fileboxtd { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
						 font-size: 12px; background-color: #eeefee;
						 color: #444; }
.fileboxth { background: #62C9FD;
						 color: #fff; font-weight: bold; padding: .2em .7em .2em .8em;
						 /*
						 border-top: 1px solid #fff; border-right: 1px solid #c6cdd8;
						 border-bottom: 1px solid #c6cdd8; border-left: 1px solid #fff; */
						 padding:5px 10px;
}
.fileboxth1 { background: #4488cc url(/img/left_corner.gif) no-repeat;
							color: #fff; border-top: 1px solid #fff; border-right: 1px solid #c6cdd8;
							border-bottom: 1px solid #c6cdd8; border-left: 1px solid #fff; }
.fileboxth a { color: #fff; }
.fileboxth a:hover { color: #fff; }
.fileboxth a:visited { color: #fff; }
.fileboxth2 { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #f5f5f5; }

/* light uploader */

#light_upload h1 {
	font-size:16px;
	padding-bottom:15px;
}
#mobile_upload_page #header .wrap {

}

#mobile_upload_page #header #control {
	float:left;
	width:400px;
}

#mobile_upload_page #footer .wrap > ul { border:none; }
#mobile_upload_page #header #userContainer { float:left; margin-left:5px; margin-top:0; }
#mobile_upload_page #header #slogan { display:none; }
#mobile_upload_page .wrap { margin:0; width:1200px; }

#light_upload {
	background: #fff;
	min-height: 100px;
	border-bottom: 1px solid #d6d6d6;
	padding-left:8px;
}
#mobile_upload_page #login_frame ul.options li a { display:none !important; }
#mobile_upload_page #header .grasp { background-position:-675px;  }
#mobile_upload_page #header #logo { width:280px; }
#mobile_upload_page #header #logo img { margin-left :5px; margin-top:-5px; width:200px; }
#mobile_upload_page #header { height:53px; }

#prefs_tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#prefs_tabs li {
	display: inline-block;
	margin: 0 2px 0 0;
	height: 26px;
}

#prefs_tabs a {
	padding: 0 1em;
	display:block;
	height:27px;
	text-decoration: none;
	font-weight:bold;
	color: #41AAEF;
	background: white;
}

#prefs_tabs a span {
	display:block;
	padding-top:8px;
}
#prefs_tabs a:hover {
	background:#eee;
	color: black;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

#prefs_tabs li.selected {
}

#prefs_tabs li.selected a {
	padding-bottom: 2px;
	font-weight: bold;
	color: black;
	background: #DAF1FE;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
#prefs_wrapper > ul{
	display:none;
}
#prefs_wrapper, #download_wrapper {
	border-top: 2px solid white;
	background: #DAF1FE;
	width:482px;
	padding: 1em;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
}

#download_wrapper {
	width:812px;
}

#download_container {
	background:white;
	padding:1em;
}

#openid_register ul.account_prefs {
	width:500px;
}
#openid_register ul label
{
	display:block;
	margin-bottom:5px;
}

ul.account_prefs, #dropboxWrapper ul {
	list-style: none;
	padding-top:10px;
	background:white;
	padding:1em;

}

ul.account_prefs li {
	clear:both;
	display:list-item;
}

#dropboxWrapper {
	margin-left:50px;
}

#dropboxWrapper ul li {
	clear:both;
	display:list-item;
	margin-top: 17px;
}

#dropboxWrapper h2 {
	font-weight:bold;
	font-size:16px;
}

#dropboxWrapper h2:not(.first) {
	border-top: 1px solid #A1D7FC;
	padding-top:15px;
}

#dropboxWrapper #dropbox_style label {
	display:inline;
	margin-top:7px;
	float:left;
	width:50px;
	clear:none;

}

#dropboxWrapper #dropbox_style li input {
	width:75px;
	float:left;
	display:inline;
	height:20px;
	padding:0;
	padding-left:5px;
	margin:0 15px 0 0;
	height:26px;
}

#dropboxWrapper #dropbox_buttons {
	margin-left:70px;
}

#dropboxWrapper .dropboxCheck {
	clear:none;
	display:inline;
}

#dropboxWrapper #dropbox_buttons {
	margin-top:10px;
}

.current_password_wrapper .prefLabel,
ul.account_prefs .prefLabel,
#dropboxWrapper ul li label {
	display:block;
	clear:both;
	margin:0;
	padding:0 0 6px 0;
	font-weight:bold;
	font-size:14px;
	width:450px;
}

ul.account_prefs span,
.business-settings-page .business-content span,
#dropboxWrapper ul li span {
	font-style:italic;
	padding-bottom:3px;
	display:block;
}

.business-settings-page .business-content span{
	display:inline-block;
}

#dropboxWrapper #dropbox_colors label {
	clear:none;
	display:inline-block;
	width: 130px;
	font-size:12px;
}

#dropboxWrapper #dropbox_colors input {
	width:100px;
	display:inline;
	margin-right:10px;
}

#dropboxWrapper #dropbox_custom .extra_field input[type=text] {
	width:150px;
	float:left;
	margin-left:20px;
	height:26px;
	padding:0;
}

#dropboxWrapper #dropbox_custom .extra_field input[type=checkbox] {
	margin-left:15px;
	margin-top: 7px;

}

#dropboxWrapper #dropbox_custom .extra_field select {
	height:28px;
	float:left;
}

#dropboxWrapper #dropbox_custom .extra_field label {
	display:inline;
	clear:none;
}

#dropboxWrapper #dropbox_custom .extra_field .remove {
	margin-right: 6px;
	margin-top:8px;
	width: 12px;
	height: 12px;
	display: inline-block;
	background: transparent url('../graphics/icons/cross.png') no-repeat left top;
	float:left;
}

.current_password_wrapper input[type=password],
ul.account_prefs input[type=text],
ul.account_prefs input[type=password],
#dropboxWrapper ul li input[type=text] {
	width:450px;
	height:23px;
	display: block;
	border: 1px solid #81CEFC;
	margin-bottom:10px;
}
#dropboxWrapper ul li input[type=text] {
	width: 470px;
}

.current_password_wrapper {
	margin-left: 28px;
	margin-bottom: 10px;
}

.current_password_wrapper input[type=password] {
	margin-bottom: 0;
	margin-top:5px;
}

ul.account_prefs input[type=checkbox], #dropboxWrapper ul li input[type=checkbox] {
	margin-top:2px;
}

#account_prefs_form input[type=submit] {
	margin-top:20px;
}

ul.account_prefs select {
	margin-bottom:10px;
}

ul.account_prefs a {
	margin-bottom:10px;
	display:block;
}

ul.account_prefs .prefCheck {
	display:block;
	clear:both;
	margin:5px 0 5px 0;
	padding:0 0 6px 0;
	font-weight:bold;
	font-size:14px;
	width:450px;
	font-style:normal;
}

ul.account_prefs .prefCheck input[type="checkbox"] {
	cursor: pointer;
}

#account_prefs_form h2 {
	font-size:14px;
	cursor:pointer;
	color:#3099DE;
	float:left;
	text-decoration:underline;
	margin-left:5px;
	margin-bottom:20px;
}

#account_prefs_form img {
	float:left;
	clear:left;
}


#user_prefs_page #content {
	background: white url('../graphics/characters/char1.png') no-repeat 240px 125px;
	min-height:480px;
}


#download_left h4 {
	font-size:14px;
	line-spacing:1em;
	text-align:center;
	padding-top:8px;
	padding-bottom:3px;
	font-weight:bold;
}

#welcomeTxt {
	margin:12px 0;
	text-align: center;
}


#download_left {
	float:left;
	width:150px;
	margin:10px;
}


#download_main {
	float:right;
	width:550px;
	margin:4px;
}

#OSBar {
	width:545px;
	height:80px;
	margin-left:20px;
}

#download_main #guarantee {
	clear:left;
	display:block;
	text-align:center;
	width:460px;
	padding-top:5px;
}

.btnLeak {
	height:70px;
	width:150px;
	float:left;
	margin:5px;
}

.osBtn {
	display:block;
	width:140px;
	height:65px;
	padding-top:6px;
}

.osBtn:hover {
	border:1px solid #ccc;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.25);
	box-shadow: 0 1px 5px rgba(0,0,0,.25);
	cursor:pointer;
}

.osBtn:active {
	border:1px solid #ccc;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.25);
	box-shadow: 0 1px 5px rgba(0,0,0,.25);
}

.osBtn img { float:left; }

.osBtn span {
	float:left;
	margin-top:20px;
}

.urlbox_wrapper {
	display:none;
	padding-top:8px;
}

#download_main .os_instructions {
	display:none;
	margin:15px 0;
	border: 1px solid #81CEFC;
	padding:15px 15px 5px 15px;
	width:470px;
}

#download_main .os_instructions li {
	list-style:decimal;
	color:black;
	font-weight:bold;
	margin-left:10px;
}

#download_main ul {
	margin-left:25px;
}

#download_main #max li {
	font-weight:bold;
}

#openid_register .submit_blue {
	margin-left:50px;
}

#openid_holder .openid_delete {
	margin-right: 6px;
	width: 12px;
	height: 12px;
	display: inline-block;
	background: transparent url('../graphics/icons/cross.png') no-repeat left top;
	float:left;
}
#openid_holder #openids {
	margin-top: 10px;
	margin-left: 30px;
}

.browse #cloud {
	background:  transparent url(../graphics/cloud.png) no-repeat left top;
	height: 130px;
	display: none;
	position: absolute;
	top: 203px;
	left: 88px;
	width: 190px;
}

.browse #cloud p {
	cursor:	default;
	text-align: center;
	margin-top: 15px;
	padding:18px 10px;
	font-weight:bold;
	font-size: 12px;
	color: #4090DD;
	width: 155px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#openid_container {
	width: 600px;
	margin: 0 0 10px 30px;
	padding: 20px 80px;
	background:  transparent url(../graphics/cloud2.png) no-repeat left top;
	height: 115px;
}

#openid_container span {
	margin-left: 87px;
	line-height: 17px;
}

#blog_headline a {
	color: white;
}

#blog_headline {
	background-color: #41AAEF;
	color:#ffffff;
	margin: -1px auto;
	width: 870px;
	padding: 5px;
	position: relative;
	height: 15px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
} /* Hides from IE-mac \*/
.clearfix {
  display: block;
}

#thumbContainer {
	width:100%;
	height:100%;
	z-index:999;
	position:absolute;
	top:0;
	left:0;
	-webkit-transition: 0.25s opacity;
	-moz-transition: 0.25s opacity;
	background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
	background: -moz-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
}

#thumbDetail {
	width:800px;
	margin:0 auto;
	z-index:2000;
}

#thumbDetail img {
	margin-top: 50px;
	width: 100%;
}

#thumbDetail p {
	background: #FEEFDA;
	border-radius:8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 1em;
	overflow: auto;
}

#cur_file {
	text-align:center;
}

.download_next_url_message {
	background-color: #ffffda;
	border: 1px solid #009;
	padding: 1em;
	text-align: center;
}

.prefs_link {
	color: #000000;
	font-weight: normal;
}

.prefs_subscription_link {
	display: inline !important;
}

.business-settings-page .business-content {
	border: 10px solid #D9F1FF;
	padding: 10px;
}

.secure_payment_form .footnotes {
	color: gray;
	margin-top: 10px;
	font-size: 12px;
	font-weight: normal;
}

.folder-options-table{
	width:100%;
	border:0;
}

.folder-options-table .label-cell {
	min-width:125px;
	white-space:nowrap;
}

.folder-options-table td {
	padding-top: 2px;
	padding-bottom: 2px;
}

.folder-options-table td.description-cell {
	padding-top: 0;
}

.folder-options-table label,
.folder-options-table input[type="radio"] {
	cursor: pointer;
}
.share-icons a {
	display: inline-block;
	background-color: #40B9FF;
	border: 1px solid #40B9FF;
	color: white;
	width: 30px;
	height: 26px;
	font-size: 24px;
	padding-top: 4px;
	text-align: center;
}

.share-icons a:hover {
	background-color: #82D1FF;
}

.share-icons a.disabled {
	background-color: #999;
	border: 1px solid #999;
	cursor: default;
}

a.share-button {
	text-decoration: none;
}

a.share-button:hover {
	color: white;
}

.share-button {
	display: inline-block;
	padding: 10px;
	width: 164px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
}

.share-button.facebook {
	background-color: #306199;
}

.share-button.twitter {
	background-color: #26C4F1;
}

.share-button.vk {
	background-color: #4E739F;
}

.share-button .name {
	position: relative;
	top: -5px;
}

.share-button i {
	font-size: 32px;
}

.share-button.facebook .name {
	left: 15px;
}

.share-button.twitter .name {
	left: 20px;
}

.share-button.vk .name {
	left: 8px;
}

.my-profile-content #prefs_tabs {
	margin-left: 45px;
}

.my-profile-content #account_prefs_form {
	margin-left: 45px;
}

a.header-alt-login-button {
	text-align:center;
	margin:0 4px;
	text-align:center;
	display:inline-block;
	text-align:center;
	width:42px;
	height:42px;
	border: 2px #4DB8FD solid;
	background: white;
	line-height:40px;
}
.header-alt-login-button i {
	color:#4DB8FD;
	font-size:30px !important;
	vertical-align:middle;
}
.header-alt-login-button.Google-signin-button i{
	font-size:25px !important;
}
.header-alt-login-button:hover {
	background: #87D1FF;
}
.header-alt-login-button:hover i{
	color: white;
}

.header-alt-login-button {
	display: inline-block !important;
}

.important {
	color: red;
}
.reports tr:nth-child(even),
.addressbook-table tr:nth-child(even),
.users-table tr:nth-child(odd){
	background:#efefef;
}
.addressbook-table tr td:nth-child(3):empty:before{
	content: "Click to add name";
	color:#ccc;
	vertical-align:middle;
}
/* patch for payment page requested from mobile */
.mobview #header{
	height:auto !important;
	padding-bottom:5px;
}
.mobview div.msg{
	margin-top:0;
}
.mobview .secure_payment_form table{
	width:100%;
	max-width:800px;
}
#secure_payments_page.mobview #content{
	padding:0;
}
.mobview #content{
  width:auto;
}
.mobview .td_space input {
	width:auto !important;
}
.mobview #header .grasp{
	padding:0 5px;
	background-image:none;
}
.mobview #logo #slogan{
	font-size:14px;
}
.mobview .td_space input:nth-child(2){
	width:100% !important;
	max-width:280px;
	margin:5px 0;
}
.mobview #checkout {
	min-width:280px;
	width:auto !important;
	display:block;
	margin:0 auto !important;
}
.mobview #footer .wrap,
.mobview #footer #signature{
	width:auto;
}
.mobview .as-appears{
	display:list-item;
	list-style:none;
}
.mobview .promos{
	display:none;
}
.mobview .listing{
	height:auto;
}
.mobview .listing td{
	vertical-align:top;
}

.mobview #header #logo{
	width:auto;
}
.mobview #header .wrap{
	width:auto;
}
.mobview #userContainer{
	color:#fff;
	padding:10px !important;
	border-radius:10px;
	background:url("../graphics/header/bg_wide.png") repeat-x scroll left top #a1d7fc;
}
.mobview #userContainer a{
	color:#fff;
}
.mobview .vat-verification{
	margin:0;
}
#subscrstop_page.mobview #control,
#verify_vatnr_page.mobview #headline,
#subscrstop_page.mobview #headline,
#subscrstop_page.mobview .button_cancel,
#subscrstop_page.mobview .android_qr,
#verify_vatnr_page.mobview .android_qr,
#verify_vatnr_page.mobview #control,
#maxtwo_page.mobview #control,
#maxtwo_page.mobview #headline,
#maxtwo_page.mobview #userContainer,
#user_topup_page.mobview #control{
	display:none;
}
/* patch end */

@media screen and (max-width:720px){
	.mobview .downloading .col2,
	.mobview .uploading .col2{
		margin-top:20px;	
	}
}

.speed-limit,
.speed-limit a{
	color:#999;
}
.speed-limit{
	text-align:center;
	margin-bottom:20px;
}

#new_contacts .form_input {
	margin:5px 10px;
}
#newemaildiv + a{
	display:inline-block;
	margin:10px;
}
.fileboxtd td,
.fileboxtd2 td{
	padding:5px;
}
.fileboxtd td:not(:nth-child(2)),
.fileboxtd2 td:not(:nth-child(2)){
	cursor:pointer;
}
.fileboxtd td:not(:nth-child(2)):hover,
.fileboxtd2 td:not(:nth-child(2)):hover{
	background:#5498d2;
	color:#fff;
}
#table-1 a:hover{
	color:#fff;
}
#recipient_list{
	margin-bottom:10px;
}
.tac{text-align:center}
.tal{text-align:left}
.tar{text-align:right}
.taj{text-align:justify}
.vat{vertical-align:top}
.vam{vertical-align:middle}
.fl{float:left}
.fr {float:right}

.table-footer-with-left-checkbox button{
	cursor:pointer;
	border:1px solid #ccc;
	padding:5px 10px;
	margin:0 5px;
}
.users-table.business-table td{
	font-size:12px !important;
}
.users-table a{
	text-decoration:none;
}
.users-table a:hover{
	text-decoration:underline;
}
.addressbook-table input,
.table-footer-with-left-checkbox input,
.users-table input{
	cursor:pointer;
}
.addressbook-table th {
	background-color:#DAF1FE;
	color:black;
	font-size:11px;
	padding:0.5em 1em;
	font-weight:bold;
	text-align:left;
}
.addressbook-table .fileboxtd{
	background:#fff;
}
.addressbook-table td{
	word-wrap:break-word;
	max-width:400px;
	vertical-align:top;
}
.button3 {
	background:transparent;
	cursor:pointer;
	display:inline-block;
	text-align:center;
	font-size:1.3em;
	padding:6px 8px;
	text-decoration:none;
	color:#4DB8FB;
	border:1px solid #4DB8FB;
}
.button3.active{
	color:#fff;
	background:#4DB8FB;
}
.button3:hover {
	color:#fff;
	background:#87D1FF;
}

.reportmenu{
	text-align:center;
}
.reportmenu .button3{
	width:210px;
}

#openid_register_form .information,
#openid_register_form .error{
	width:480px;
}
.hide,
.nd{
	display:none;
}

#trusted-by {
  height:90px;
  overflow:hidden;
  position:relative;
	white-space:nowrap;
	font-size:0;
	backface-visibility:hidden;
	text-align:left;
}

#trusted-by > div {
  position:absolute;
  animation:marquee 60s linear infinite;
}
#trusted-by:hover > div{
	animation-play-state: paused;
}

#trusted-by div div{
	display:inline-block;
}

#trusted-by img {
	margin:8px;
}

@keyframes marquee {
  0% {
		transform:translate3d(0,0,0);
	}
  100% {
		transform:translate3d(-50%,0,0);
	}
}

#openid_input_area{
	display:none;
}

#openid_register_form input{
	width:470px;
	margin-top:5px;
}

.dlfile_actions {
	width: 360px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.download_page_button {
	display: inline-block;
	text-align: center;
	width: 335px;
	font-size: 20px;
	padding:6px 0 6px 0;
	text-decoration: none;
	color: white;
	margin-top: 5px;
	line-height:100%;
}

.download_page_button.button1 {
	background: #4DB8FB;
	color: white !important;
	border: 1px solid #4DB8FB;
}

.download_page_button.button2 {
	background: white;
	color: #85BE60;
	border: 1px solid #85BE60;
}

.download_page_button.button1:hover{
	color: white;
}

.download_page_button.button2:hover {
	color:#85BE60;
}

.mobile_fileinfo .dlfile_actions {
	margin-left: 0;
	margin-right: 0;
}

.colorbox-messagebox {
	padding:0 10px 0 10px;
}

.dlact_wrap{
	margin:10px auto;
	width:360px;
}
.dup-dialog .button3{
	display:inline-block;
	width:45%;
}
.button_agree,
.button_agree:visited{
	color:#fff;
	background:#4db8fb;
	border:1px solid #4db8fb;
}
.dup-dialog button:first-of-type{
	color:#85be60;
	background:#fff;
	border:1px solid #85be60;
}
.dup-dialog button:last-of-type{
	color:#fff;
	background:#fa826c;
	border:1px solid #fa826c;	
}
.button_cancel,
.button_cancel:visited{
	color:#fa826c;
	background:#fff;
	border:1px solid #fa826c;
}
.dup-dialog{
	margin-top:-10px;
}
.button_cancel:hover{
	color:#fa826c;
}
.colorbox a.button,
.colorbox a.button:hover,
.substop input,
#save_to_account_info_invite a.button,
#save_to_account_info_msgbox a.button,
#save_to_account_info_invite a.button:hover,
#save_to_account_info_msgbox a.button:hover{
	padding:5px 20px;
	min-width:100px;
	font-family:arial, helvetica, sans-serif;
	font-weight:normal;
	letter-spacing:0;
}
.substop input{
	padding:3px 20px;
	min-width:150px;
}

.listing ul{
	padding-left:0;
	padding-right:30px;
	padding-bottom:10px;
}
.listing li{
	padding-top:10px;
}
.listing h1{
	font-weight:bold;
	font-size:larger;
	margin-bottom:20px;
}

#cboxTitle{
	font-weight:bold;
}

.dhint{
	font-size:small;
	color:gray;
	margin-top:5px;
}
.warning-block{
	background:#ffffd3;
	border:1px solid #d6d61f;
	padding:10px;
	max-width:460px;
	margin:0 auto;
	border-radius:10px;
	margin-top:10px;
}
.warning-block h2{
	color:red;
}

#openid_form,
#openid_prefs,
#openid_container{
	display:none;
}

.alert-line div{
	max-width:830px;
	margin:10px auto;
	text-align:center;
	color:red;
}

.cloudimport-button{
	padding:8px 10px;
	text-align:center;
	width:100%;
	margin-bottom:5px;
}

.link_info{
	border:0;
	width:100%;
}
#cboxContent .file_info b,
.link_info b{
	padding-right:5px;
	min-width:150px;
	display:block;
}
#cboxContent .file_info b{
	min-width:195px;
}
#cboxContent .file_info input,
.link_info input{
	width:300px;
}
#cboxContent .file_info .form_input{
	width:auto;
}
#cboxContent .file_info td{
	vertical-align:top;
}
.link_info td:last-child{
	line-height:2;
}

.urlbox-desc{
	margin-left:10px;
	margin-top:-5px;
	width:540px;
	text-align:justify;
}

.invview{
	font-size:13px;
	background:#fff;
	border-radius:2px;
	padding:2px 10px;
	text-decoration:none;
}
.invview,
.invview:hover,
.invview:focus{
	color:#54C5FC;
	border:1px solid #54C5FC;
}

.user-header-menu a{
	white-space: nowrap;
}

.chat{
	display:none;
}

.signup .usage {
	margin-right:-8px;
	text-align:center;
}

.signup .usage a{
	margin:0 auto;
	width:270px;
}

#hide-share-links-individual.disabled label{
	color:gray;
}

.next-plan button{
	background:none;
	border:0;
	cursor:pointer;
	margin:0;
	padding:0;
	outline:0;
}
.next-plan form{
	margin:5px 0;
}

.secure_payment_form input[type=checkbox],
#premium_upgrade_page input[type=checkbox]{
	vertical-align:middle;
}

.plan_actions{
	margin-top:10px;
}
.plans .plan_actions a.button,
.plan_actions .tooltip{
	display:inline-block;
}

.plan_actions .button.disabled{
	opacity:.3;
}
.plan_actions .button.disabled:hover{
	cursor:default;
}

.checkbox-override input[type="checkbox"]{
	position:absolute;
	left:-9999px;
}
.checkbox-override input[type="checkbox"] + span{
  display:inline-block;
	width:30px;
}
.checkbox-override input[type="checkbox"] + span:before{
  font-family:'FontAwesome';
  font-size:20px;
	vertical-align:middle;
	font-weight:lighter;
}
.checkbox-override input[type="checkbox"]:focus + span:before{
	color:navy;
}
.checkbox-override input[type="checkbox"] + span:before{
  content: "\f096"; /* check-empty */
	width:25px;
}
.checkbox-override input[type="checkbox"]:checked + span:before{
  content: "\f14a"; /* check-square */
	width:25px;
}

#openid_form.register{
	text-align:center;
	margin-left:-80px;
	padding-top:10px;
}

.file_info tr td:first-child{
	width:120px;
	height:20px;
}

#foldersList li{
	position:relative;
}
#foldersList .pub > a::before{
	content:"\f176";
	font-family:FontAwesome;
	color:#3691cc;
	font-size:110%;
	position:relative;
	bottom:5px;
	left:-12px;
	margin-right:-5px;
}
#foldersList .biz::before{
	content:"\f175";
	font-family:FontAwesome;
	color:#00cc00;
	font-size:110%;
	position:relative;
	bottom:4px;
	left:28px;
	margin-left:-5px;
}


.my_files .folder-title a{
	white-space:nowrap;
}
.my_files .folder-title b{
	word-break:break-all;
}

.topup-link{
	display:inline-block;
}
.transfer-lines li{
	white-space:nowrap;
}

.reader-hint{
	position:absolute;
	left:-9999px;
}

#folderinfo{
	border:1px solid #daf1fe;
	margin:10px 0;
	padding:10px;
}

.filebox a,
#folderinfo a{
	font-size:1.2em;
}
#folderinfo .path{
	margin-left:5px;
	display:inline-block;
}
#folderinfo input{
	vertical-align:middle;
}
.register-form input + div {
	margin-top:5px;
}
.personal_id span:not(:empty)::before{
	content:"(";
}
.personal_id span:not(:empty)::after{
	content:")";
}

.pwd-protected{
	position:relative;
}
.pwd-protected::after{
	content:url('/img/locked.gif');
	position:absolute;
	right:-4px;
	top:7px;
}

.file-icon{
	margin-top:5px;
	vertical-align:middle;
	background:url('/img/file_icons/DEFAULT.png') no-repeat;
	background-size:100% 100%;
}
/*
.icon-view{
	table-layout:fixed;
}*/
.icon-view td{
	position:relative;
}
.my_files #files table.icon-view .description{
	width:auto;
	position:absolute;
	bottom:0;
	left:15px;
	right:15px;
	background:#fff;
	border:1px solid #ccc;
	padding:5px;
	display:none;
	overflow:hidden;
	word-break:keep-all;
	white-space:normal;
	text-overflow:ellipsis;
}
.icon-view .description div{
	margin-top:20px;
	overflow:hidden;
	text-align:justify;
	text-overflow:ellipsis;
	max-height:65px;
}
.icon-view .description div:empty{
	display:none;
}
.icon-view .filename span{
	position:absolute;
	top:5px;
	left:5px;
}
.my_files #files table.icon-view td:hover .description{
	display:block;
}
.icon-view .description i
{
	font-style:normal;
	float:left;
}
.icon-view .description i:last-of-type{
	float:right;
}
.icon-view .origname{
	display:list-item;
	list-style:none;
	line-height:20px;
	white-space:normal;
	word-wrap:normal;
	overflow:hidden;
	text-overflow:ellipsis;
}
.icon-view .origname input{
	float:left;
	margin-right:-5px;
}
.icon-view .delled{
	opacity:.3;
}
.icon-view .delled:hover{
	opacity:1;
}
.my_files #files table.icon-view .filename{
	max-width:100px;/*hack*/
	vertical-align:top;
}
.my_files #files table.autowidth .filename{
	max-width:160px;
}
.my_files #files *{
	box-sizing:border-box;
}
.my_files #files .actions input{
	vertical-align:middle;
}

.actions .action-button{
	position:relative;
	cursor:pointer;
}
.action-button {
	background:#e8e8e8;
	background:-moz-linear-gradient(top, #e8e8e8 0%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #e8e8e8 0%,#ffffff 100%);
	background:linear-gradient(to bottom, #e8e8e8 0%,#ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 );
}
button.action-button{
	padding:2px 6px;
}
.action-button a,
.action-button label{
	line-height:26px;
	padding:6px;
}
div.action-button label:first-of-type{
	padding:6px 2px;
}
.action-button label + label{
	padding:0;
}
a.action-button{
	text-decoration:none;
	padding:1px 6px;
	line-height:24px;
}
.action-button ul{
	position:absolute;
	z-index:1;
	bottom:-1px;
	left:-1px;
	text-align:left;
	background:#fff;
	display:none;
}
.action-button ul.action-button{
	position:absolute;
	padding:0;
}
.action-button .fa{
	font-size:120%;
}
.view-toggle,
.action-button li{
	min-width:80px;
}
.view-toggle{
	margin:2px 0;
}
.view-toggle .fa,
a.action-button .fa,
.action-button li .fa{
	text-align:right;
	width:23px;
	margin-left:-5px;
	vertical-align:middle;
}
.action-button ul li,
.my_files .col2 .action-button ul li{
	float:none;
	display:list-item;
	white-space:nowrap;
}
.action-button li:hover{
	background:#eee;
}
.action-button li a{
	text-decoration:none;
	color:#444;
	display:inline-block;
	width:100%;
	padding-top:0;
	padding-bottom:0;
	padding-right:10px;
}
.action-button ul.tar a{
	text-align:right;
}
.action-button li a:hover,
.action-button .active{
	color:#41aaef;
}
div.action-button label:first-of-type a{
	text-decoration:none;
	color:black;
}
div.action-button label:first-of-type a:focus{
	text-decoration:underline;
}
.select-all{
	text-align:center;
	line-height:0;
}
.select-all.partial{
	opacity:.5;
}
.select-all span{
	vertical-align:middle;
	margin:-5px;
	margin-right:-4px;
}

button::-moz-focus-inner,
input::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
}

a.action-button .fa,
.my_files .checkbox-override input[type=checkbox] + span{
	color:#41aaef;
}

.can-edit{
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	padding:3px;
	padding-top:2px;
	margin-left:-5px;

	background:#e8e8e8;
	background:-moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
	background:-webkit-linear-gradient(top, #ffffff 0%,#e8e8e8 100%);
	background:linear-gradient(to bottom, #ffffff 0%,#e8e8e8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
}
.can-edit.yes{
	display:inline-block;
}

.frow{
	cursor:pointer;
}

.ppage-toggle u{
	text-decoration:none;
	color:#41aaef;
	font-weight:bold;
}
.sort-toggle .fa{
	margin-top:-2px;
}
.top .action-button ul.action-button{
	top:-1px;
	bottom:auto;
}
.origname img{
	vertical-align:middle;
}
.my_files #files table.headers tr{
	border:0;
}

li.jstree-open > ul{
	overflow:hidden;
}
.sendsection .tag-editor{
	width:410px;
	display:inline-block;
	vertical-align:middle;
}
.sendsection .tag-editor .tag-editor-spacer {
	color:#fff;
}
.sendsection > div{
	display:inline-block;
	vertical-align:top;
}
.select .upload_terms{
	margin-top:10px;
	font-size:11px;
}

@-webkit-keyframes ssmg_fadeIn {
	from {opacity:0}
	to {opacity:1}
}
@keyframes ssmg_fadeIn {
	from {opacity:0}
	to {opacity:1}
}
.fadeable{
	-webkit-animation:ssmg_fadeIn .5s;
	animation:ssmg_fadeIn .5s;
}
#ssmsg_msg{
	display:none;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	top:0;
	z-index:10001;
}
#ssmsg_msg h1{
	font-weight:bold;
	font-size:120%;
	padding:10px 0;
	padding-top:5px;
}
#ssmsg_msg > div{
	max-width:400px;
	margin:auto;
	margin-top:100px;
	background:#fff;
	padding:10px;
	border-radius:3px;
}
#ssmsg_msg > div > div
{
	padding-top:10px;
}
#ssmsg_msg p{
	padding:0;
	margin:10px 0;
}
#ssmsg_bg {
	display:none;
	position:fixed;
	background:rgba(0,0,0,.5);
	bottom:0;
	left:0;
	right:0;
	top:0;
	z-index:10000;
}
#ssmsg_msg.multiple button:focus{
	text-decoration:underline;
}

#colorbox #cboxClose
{
	bottom:auto;
	top:0;
	right:0;
}
#colorbox #cboxLoadedContent{
	margin-top:10px;
	margin-bottom:0;
}
#colorbox #cboxTitle{
	display:none !important;
}

.promotion{
	color:orange;
	font-size:large;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
}
.versed{
	color:#000;
	text-decoration:none;
}
.versed::after{
	content:"\f126";
	font-family:FontAwesome;
	font-size:150%;
}
.icon-view .versed{
	position:absolute;
	top:33px;
	left:13px;
	text-align:left;
	width:30px;
	height:30px;
}
.icon-view .versed::after{
	font-size:200%;
}
.fver #start{
	padding:0;
	width:auto;
	position:relative;
}
.fver #start .browse{
	height:auto;
	min-height:70px;
	background-position:70px top;
}
.fver #start .browse .click{
	top:16px;
	left:90px;
}
.fver #start .browse .button{
	top:12px;
	right:109px;
}
.fver #indexError{
	margin-left:70px;
	width:650px;
}
.fver #start .select .go{
	position:absolute;
	top:auto;
	bottom:15px;
	right:65px;
}
.fver #start .select .go .button{
	opacity:1;
}
.fver #start .select{
	background:none;
}
.fver #start .select table{
	width:73%;	
}
.divfinfo{
	background-color:#FAFAFA;
	border:1px solid #E5E5E5;
}
#user_file_versions_page #colorbox table{
	font-size:11px;
}
.fvers thead th,
.fvers tfoot td{
	font-weight:bold;
}
.fvers thead tr{
	background:#daf1fe;
}
.fvers td,
.fvers th{
	padding:5px;
}
.fvers tbody tr.current td{
	border-bottom:1px solid #ccc;
}
.fvers tfoot td{
	border-top:1px solid #ccc;
}
#fver-btn{
	width:200px;	
}
#fver-btn .fa{
	font-size:120%;
	margin-left:-10px;
	margin-right:10px;
	vertical-align:middle;
}
.my_files #files table .delled .filename{
	color:#bbb;
	padding-left:30px;
}
.my_files #files table.with_versioning tr td:first-of-type{
	text-align:right;
	padding:0;
	margin:0;
	width:25px;
}
#user_file_versions_page .fvers td{
	border-bottom:1px solid #eee;
}
.old_price{
	color:red;
	font-size:smaller;
}

.promo-hint{
	display:block;
	padding:0 20px;
	padding-top:10px;
}
.plantbl option{
	text-align:left;
}
.plantbl option:disabled{
	display:none;
}
.plantbl th{
	white-space:nowrap;
	padding:10px 0;
}
.plantbl tbody th{
	text-align:left;
	vertical-align:middle;
}
.plantbl tbody tr th:first-of-type{
	border-bottom:1px solid #eee;
	padding-right:10px;
}
.plantbl td{
	text-align:center;
	vertical-align:middle;
	padding:10px 0;
}
.plantbl tbody td{
	border-bottom:1px solid #eee;
}
.plantbl tfoot td{
	vertical-align:top;
	padding-left:10px;
}
.plantbl .fa{
	font-size:20px;
}
.plantbl thead tr:first-of-type th{
	font-size:22pt;
	vertical-align:bottom;
	font-family:"Droid Sans",arial,helvetica,sans serif !important;
}
.plantbl thead p{
	font-size:small;
}
.plantbl select{
	font-size:10pt;
	background-color:white;
	border:1px solid #eee;
}
#businessitems option[data-standard]::before,
#topupform option[data-standard]::before,
.plantbl option[data-standard]::before{
	content:attr(data-standard);
	color:red;
	display:inline-block;
	text-align:right;
	min-width:45px;
	text-decoration:line-through;
	text-decoration:#999 solid line-through;
}
.plan-blue b,
.plan-blue .fa,
.plan-blue .checkbox-override,
th.plan-blue{
	color:#43b3fc;
}
.plan-blue select{
	border-color:#43b3fc;
}
.plan-red b,
.plan-red .fa,
.plan-red .checkbox-override,
th.plan-red{
	color:#f9725b;
}
.plan-red select{
	border-color:#f9725b;
}
.plan-green b,
.plan-green .fa,
.plan-green .checkbox-override,
th.plan-green{
	color:#7fbf45;
}
.plan-green select{
	border-color:#7fbf45;
}
.plan-blue .button{
	background: rgba(0, 0, 0, 0) url("../graphics/common/signup_sprite.png") no-repeat scroll left top;
}
.plan-green .button{
	background: rgba(0, 0, 0, 0) url("../graphics/common/signup_sprite.png") no-repeat scroll left -49px;
}
.plan-red .button{
	background: rgba(0, 0, 0, 0) url("../graphics/common/signup_sprite.png") no-repeat scroll left -96px;
}
.plantbl .button{
	font-size: 16pt;
	height: 38px;
	line-height: 40px;
	margin: 10px auto;
	width: 131px;
}
.plantbl table{
	width:100%;
}
.plantbl th u{
	text-decoration:none;
	font-size:14pt;
	font-family:"Droid Sans",arial,helvetica,sans serif !important;
}
.plantbl th .old_price{
	color:red;
	text-decoration:line-through;
}

.secure_payment_form label{
	display:list-item;
	list-style:none;
	margin-bottom:5px;
}
.secure_payment_form .td_space{
	font-size:1em;
}
.secure_payment_form .td_space input:not(#checkout),
.secure_payment_form .td_space select{
	font-size:large;
	width:300px;
}

.vat-verification{
	margin:0 30px;
	line-height:1.5;
}

.vat-required::after{
	content:" +VAT";
	vertical-align:top;
	font-size:11px;
}

.include_vat abbr{
	cursor:help;
}

#secure_payments_page .tooltipContent{
	margin:0;
	padding:10px;
	width:auto;
}
#secure_payments_page .tooltipContent p:first-of-type{
	padding-top:0;
	margin-top:0;
}
#secure_payments_page .tooltipContent p:last-of-type{
	padding-bottom:0;
	margin-bottom:0;
}

.tooltip:before {
	display:inline-block;
	width:16px;
	height:16px;
	font-family:FontAwesome;
	/*content:"\f29c";question-circle*/
	content:url('/graphics/divtip_small.gif');
	font-weight:normal;
}

#tooltip
{
	color:#fff;
	background: rgb(102,102,102);
	background: -moz-linear-gradient(top, rgb(102,102,102) 0%, rgb(30,30,30) 100%);
	background: -webkit-linear-gradient(top, rgb(102,102,102) 0%,rgb(30,30,30) 100%);
	background: linear-gradient(to bottom, rgb(102,102,102) 0%,rgb(30,30,30) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#1e1e1e',GradientType=0 );
	border-radius:5px;
	position:absolute;
	z-index:100;
	padding:15px;
	margin-bottom:10px;
	box-shadow:0 5px 5px rgba(0, 0, 0, 0.25);
	max-width:600px;
	text-align:left;
	font-family:helvetica, sans-serif;
	font-size:14px;
	line-height:1.5;
	text-shadow: 0 1px rgba( 0, 0, 0, .5 );
	font-weight:normal;
	opacity:.7;
}
#tooltip h2{
	font-weight:bold;
	margin-bottom:10px;
	text-align:center;
}
#tooltip:after /* triangle decoration */
{
	width:0;
	height:0;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid rgb(30,30,30);
	content:'';
	position:absolute;
	left:50%;
	bottom:-10px;
	margin-left:-10px;
}
#tooltip ul{
	display:inline-block;
	padding:0;
	margin:-2px 0;
	margin-bottom:-5px;
	margin-left:18px;
	text-align:justify;
}
#tooltip li{
	list-style:none;
	position:relative;
	line-height:1.5em;
}
#tooltip li:before {
	content: "";
	line-height: 1em;
	width: .5em;
	height: .5em;
	background-color:#fff;
	margin:.5em .25em 0;
	border-radius:50%;
	position:absolute;
	left:-1.5em;
}

#tooltip p:last-of-type{
	margin-bottom:0;
	padding-bottom:0;
}
#tooltip.top:after
{
	border-top-color:transparent;
	border-bottom:10px solid #111;
	top:-20px;
	bottom: auto;
}

#tooltip.left:after
{
	left: 10px;
	margin: 0;
}

#tooltip.right:after
{
	right: 10px;
	left: auto;
	margin: 0;
}