.mediagallery #gallery {
	margin-top: 20px; 
}
.mediagallery #gallery .item {
	background: #EEE;
	margin-bottom: 50px;
	padding: 0px;
}
.mediagallery #gallery .item{
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #000;
	padding: 15px 0px;
}
.mediagallery #gallery .item h2{
	margin-bottom: 20px;
}

.mediagallery #gallery .item a{ 
	color: #004276; 
}
.mediagallery #gallery .item #items-count {
	clear: both;
	font-size: 14px;
	text-align: center;
	width: 100%;
}
.mediagallery #gallery .item #items-count .item-count-number{
	font-weight: bold;
}
/* Paginating Links */
.mediagallery #gallery .item .playlist_image_item, #gallery .item .playlist_oembed_item{
	display: table;
	height: auto;
	position: relative;
	margin: 0px auto;
}


/* Top-Right Nav Links */
.mediagallery #gallery .item #upper-nav-links{
	float: right;
	margin-right: 10px;
	position: relative;
	text-align: center;
	width: 180px;
}
.mediagallery #gallery .item #upper-nav-links a.nav-link, .mediagallery #gallery .item #upper-nav-links a.nav-item{
	display: block;
	position: absolute;
	top: 0px;
}
.mediagallery #gallery .item #upper-nav-links a.nav-link:hover, .mediagallery #gallery .item #upper-nav-links a.nav-item:hover{
	background: transparent;
}
.mediagallery #gallery .item #upper-nav-links a.left-arrow, .mediagallery #gallery .item #upper-nav-links a.previous-item{
	left: 0;
}
.mediagallery #gallery .item #upper-nav-links a.right-arrow, .mediagallery #gallery .item #upper-nav-links a.next-item{
	right: 0;
}

/* Gallery Element Title */
.mediagallery #gallery .item .gallery-item-title{
	display: block;
	font-weight: bold;
	min-height: 20px;
	padding: 0px 15px;
	width: 450px;
}


/* Navigation Links on Pictures or near side of videos */
.mediagallery #gallery .item #element-content a.nav-link, .mediagallery #gallery .item #element-content a.nav-item{
    color: transparent;
	display: block;
	font-size: 0;
	height: 100%;
	line-height: 0; 
	top: 0px;
	width: 25px;
}
.mediagallery #gallery .item #element-content a.left-arrow, .mediagallery #gallery .item #element-content a.previous-item{
	position: absolute;
	left: 0px;
}
.mediagallery #gallery .item #element-content a.left-arrow:hover, .mediagallery #gallery .item #element-content a.previous-item:hover{
	background-image: url(/wp-content/themes/vip/nesn/css/../images/gallery-left-arrow.png);
	background-size: 12px 25px;
	background-position: center left;
	background-repeat: no-repeat;
}
.mediagallery #gallery .item #element-content a.right-arrow, .mediagallery #gallery .item #element-content a.next-item{
	position: absolute;
	right: 0px;
}
.mediagallery #gallery .item #element-content a.right-arrow:hover, .mediagallery #gallery .item #element-content a.next-item:hover{
	background-image: url(/wp-content/themes/vip/nesn/css/../images/gallery-right-arrow.png);
	background-size: 12px 25px;
	background-position: center right;
	background-repeat: no-repeat;
}
/* Disabled navigation links should not be shown */
.mediagallery #gallery .item #element-content a.disabled, .mediagallery #gallery .item #upper-nav-links a.disabled{
	display: none;
}

/* Gallery Element */
.mediagallery #gallery .item .gallery-item-element{
	margin-top: 10px;
	position: relative;
}
.mediagallery #gallery .item .gallery-item-element img{
	margin: 0px auto;
}


/* Gallery Item -- Media Credit */
.mediagallery #gallery .item .gallery-item-credit{
	font-size: 11px;
	font-style: italic;
	margin-left: 15px;
	margin-top: 5px;
}


/* Gallery Item -- Description */
.mediagallery #gallery .item .gallery-item-description{
	padding: 0px 15px;
	margin-top: 5px;
}
.mediagallery #gallery .item .gallery-item-description p{
	padding: 0px;
	padding-bottom: 12px;
}

#gallery-referrer {
	margin-top: 18px;
	margin-bottom: -2px;
	padding: 2px 0px;
	display: block;
	font-size: 14px;
}
#gallery-referrer:hover {
	text-decoration: none;
	font-size: 15px;
}

/** Media Styles; Mostly based on mediaelement.js by John Dyer **/
#playlist-items-box .media-player {
	border: 2px solid #eee;
	border-radius: 2px;
}
.media-player img { 
	display: block; 
	max-width: 640px;
}
.item .media-oembed iframe { 
	margin-left: 27px; 
	max-width: 590px;
}
.media-player .media-src { 
	display: block; 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	left: 0; 
	top: 0; 
	cursor: pointer; 
}
.media-player .media-src .play { 
	display: block; 
	position: absolute; 
	width: 100px; 
	height: 100px; 
	margin-left: -50px; 
	margin-top: -50px; 
	left: 50%; 
	top: 50%; 
	background: url(/wp-content/themes/vip/nesn/css/../mejs/bigplay.png) top left no-repeat; 
}
.media-player .media-src:hover .play { 
	background-position: 0 -100px; 
}

.media-video.media-injected img { 
	display: none;
}
.media-audio .mejs-container { 
	margin: 0 auto; 
}

/* Start: ERROR */
.me-cannotplay { }
.me-cannotplay a {
	color: #fff;
	font-weight: bold;
}
.me-cannotplay span {
	padding: 15px;
	display: block;
}

/* Start: Loop */
.mejs-controls .mejs-loop-off button{
	background-position: -64px -16px;
}
.mejs-controls .mejs-loop-on button {
	background-position: -64px 0;
}

/* Start: backlight */
.mejs-controls .mejs-backlight-off button{
	background-position: -80px -16px;
}
.mejs-controls .mejs-backlight-on button {
	background-position: -80px 0;
}

/* Start: picture controls */
.mejs-controls .mejs-picturecontrols-button{
	background-position: -96px 0;
}

/* End: Media Element JS */body.nesn-clubhouse-body-styles {
	background-color: #000 !important;
	background-image: url(/wp-content/themes/vip/nesn/css/../images/clubhouse-background.png);
	background-position: center top;
	background-repeat: repeat-y;
	margin: 0px !important;
}

body.nesn-clubhouse-body-styles #root-container .sharedaddy{
	display: none;
}

#root-container h1, #root-container h2, #root-container h3, #root-container h4, #root-container a{
	font-family: 'Oswald', Arial, sans-serif;
}

#root-container a{
	color: #FF8C00;
}

#root-container a:hover{
	text-decoration: none;
}

#root-container{
	background: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,.8);
	margin: 0px auto;
	margin-top: 2px;
	padding: 0px;
	width: 970px;
}
#root-container #nesn-clubhouse-logo{
	background-image: url(/wp-content/themes/vip/nesn/css/../images/clubhouse-logo-delta.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 970px 90px;
	display: block;
	height: 90px;
	width: 100%;
}
#root-container #main-menu{
	clear: both;
	font-size: 18px;
	margin-bottom: 9px;
}

#root-container #main-menu a{
	color: #FF8C00;
}

#root-container #main-menu ul.main-navigation li{
	float: left;
	list-style-type: none;
	line-height: 18px !important;
	margin: 2px 5px;
	padding: 0px;
}
#root-container #main-menu ul.main-navigation li:last-child{
	margin-left: 7px;
}
#root-container #main-menu ul.main-navigation li a{
	background-color: #66CC00;
	background-image: url(/wp-content/themes/vip/nesn/css/../images/clubhouse-button-off-overlay.png);
	background-size: 128px 72px;
	color: #003300;
	text-transform: uppercase;
}
#root-container #main-menu ul.main-navigation li:nth-child(3n+2) a{  
  background-color: #33CCFF;
  color: #003366;
}
#root-container #main-menu ul.main-navigation li:nth-child(3n+3) a{  
  background-color: #FF8C00;
  color: #993300;
}
#root-container #main-menu ul.main-navigation li a:hover, #root-container #main-menu ul.main-navigation li:nth-child(3n+2) a:hover, #root-container #main-menu ul.main-navigation li:nth-child(3n+3) a:hover{
	background-image: url(/wp-content/themes/vip/nesn/css/../images/clubhouse-button-overlay.png);
	color: #FFF;
}
#root-container #main-menu ul.main-navigation li a{
	display: block;
	font-size: 27px;
	height: 44px;
	line-height: 30px;
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 8px;
	text-align: center;
	width: 128px;
}
#root-container #main-menu ul.main-navigation li a:hover{
	text-shadow: 0px 0px 10px #FFF;
}

/*
*		NESN Clubhouse Main Content Area -- Home and Categories
*/
#root-container #main{
	clear: both;
	float: left;
	margin-top: 15px;
	padding-left: 5px;
	width: 635px;
}
#root-container #main .nesn-clubhouse-post{
	float: left;
	margin-bottom: 30px;
	width: 300px;
}
#root-container #main .left-clubhouse{
	margin-right: 35px;
}
#root-container #main .nesn-clubhouse-post img{
	height: 169px;
	width: 300px;
}
#root-container #main .nesn-clubhouse-post h2.clubhouse-post-title a{
	background: #FF8C00;
	color: #993300;
	display: block;
	padding: 5px;
	width: 290px;
}
#root-container #main .nesn-clubhouse-post:nth-child(3n+2) h2.clubhouse-post-title a{  
	background: #66CC00;
	color: #003300;
}
#root-container #main .nesn-clubhouse-post:nth-child(3n+3) h2.clubhouse-post-title a{  
	background: #33CCFF;
	color: #003366;
}
#root-container #main .clubhouse-rank-one h2 a{
	background: #FF8C00;
	clear: both;
	color: #993300;
	display: block;
	height: auto;
	margin-bottom: 30px;
	padding: 5px;
	width: 625px;
}
#root-container #main .clubhouse-rank-one img{
	height: 355px;
	width: 635px;
}
#root-container #main .nesn-clubhouse-post h2.clubhouse-post-title a:hover, #root-container #main .clubhouse-rank-one h2 a:hover{
	color: #FFF;
	text-shadow: 0px 0px 10px #FFF;
}

/*
*		NESN Clubhouse Main Content Area -- Posts
*/
div.clubhouse-post{
	padding: 10px;
}
.single-nesn_clubhouse div.post-337009 h2.clubhouse-post-title{
	display: none;
}
div.clubhouse-post h2.clubhouse-post-title{
	font-size: 30px;
	line-height: 33px;
	margin-bottom: 15px;
}

div.clubhouse-post p{
	margin: 10px 0px;
}

div.clubhouse-post div.wordsearch-iframe-div{
	position: relative;
	padding-bottom: 100%;
	padding-top: 85px;
	height: 0px;
	margin: 0px auto;
	overflow: hidden;
	width: 501px;
}

div.clubhouse-post div.wordsearch-iframe-div iframe{
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.single-nesn_clubhouse div.clubhouse-post a{
	font-family: "Open Sans", Arial, sans-serif !important;
}
.single-nesn_clubhouse div.clubhouse-post h2.clubhouse-post-title a{
	font-family: "Oswald", Arial, sans-serif !important;
}

/*
*		NESN Clubhouse Main Content Area -- Pagination Links
*/

#root-container #main .pagination-links{
	clear: both;
	font-size: 18px;
	text-align: center;
}

#root-container #main .pagination-links a{
	background: #FF8C00;
	color: #FFF;
	border: 1px solid #FF8C00;
	border-radius: 10px;
	display: block;
	margin: 0px auto;
	padding: 10px 15px;
}

#root-container #main .pagination-links a:first-child{
	margin-bottom: 15px !important;
}

#root-container #main .pagination-links a:hover{
	background: #FFF;
	color: #FF8C00;
}

#root-container #main .pagination-links a:active{
	background: #FFAE4D;
	color: #FFF;
	border: 1px solid #FFAE4D;
}

/*
*		NESN Clubhouse Sidebar Area
*/
#root-container #sidebar{
	float: right;
	margin-top: 15px;
	padding-right: 5px;
	width: 300px;
}
#root-container #sidebar div.widget{

}
#root-container #sidebar .widgettitle{
	background-color: transparent;
	color: #FF8C00;
}

/* -- Tune In -- */
#root-container #sidebar #text-5{
	background: #000;
	background-image: url(/wp-content/themes/vip/nesn/css/../images/clubhouse-cross-hair.png);
	background-size: 285px 75px;
	border: 5px solid #FF8C00;
	height: 60px;
	margin-bottom: 15px;
	padding-top: 19px;
	text-align: center;
	text-transform: uppercase;
}
#root-container #sidebar #text-5 span.section-title{
	height: auto !important;
}

#root-container #sidebar #text-5 .section-title h3.widgettitle{
	color: #33CCFF;
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 10px;
}

#root-container #sidebar #text-5 .textwidget{
	color: #FFF;
	font-size: 20px;
	margin-top: 8px;
}

/* -- Image Text -- */

#root-container #sidebar .widget_image div div{
	height: 120px;
	position: relative;
}

#root-container #sidebar .widget_image div div img{
	bottom: 0px;
	position: absolute;
}

#root-container #sidebar .widget_image div div p.wp-caption-text{
	font-family: "Oswald", Arial, sans-serif;
	font-size: 30px;
	left: 10px;
	position: absolute;
	top: 50px;
}

#root-container #sidebar .widget_image div div.alignleft, #root-container #sidebar .widget_image div div.alignright{
	float: none !important;
	margin: 0px !important;
}

#root-container #sidebar .widget_image div div.alignleft p.wp-caption-text{
	left: 100px;
}

/* -- Sidebar Ad */
#root-container #sidebar .acm_ad_zones{
	margin: 0px;
	margin-top: 20px;
}

/*
*		Footer
*/
#root-container #footer{
	color: #000;
	font-size: 12px;
	margin-top: 20px;
	min-height: 50px;
	padding: 0px 5px;
	padding-bottom: 10px;
	width: 970px;
}
#root-container #footer li{
	float: left;
	list-style-type: none;
	padding: 10px 0px;
	padding-right: 10px;
}
#root-container #footer a{
	font-family: 'Open Sans', Arial, sans-serif;
}
#root-container #footer a:hover{
	font-family: 'Open Sans', Arial, sans-serif;
	text-decoration: underline;
}
#root-container #footer #vip-powered{
	clear: both;
}

/*
*		Content Not Found Page
*/
div.clubhouse-post h2.clubhouse-error-title{
	color: #FF8C00;
	font-size: 30px;
	line-height: 33px;
	margin-bottom: 15px;
}

/*
*		Photo Galleries for NESN Clubhouse
*/
div.clubhouse-post .gallery-header{
	float: right;
	margin-bottom: 15px;
}
div.clubhouse-post .gallery-header span.previous{
	margin-right: 10px;
}
div.clubhouse-post .gallery-header span.next{
	margin-left: 10px;
}
div.clubhouse-post .gallery-header .clear{
	clear:both;
}
div.clubhouse-post .gallery-content{
	position: relative;
	text-align: center;
	width: 635px;
}
div.clubhouse-post .gallery-content span a{
	color: transparent;
	display: block;
	font-size: 0;
	height: 100%;
	line-height: 0; 
	top: 0px;
	width: 50%;
}
div.clubhouse-post .gallery-content span.previous a{
	position: absolute;
	left: 0px;
}
div.clubhouse-post .gallery-content span.next a{
	position: absolute;
	right: 0px;
}
div.clubhouse-post .gallery-content span.previous a:hover{
	background-image: url(/wp-content/themes/vip/nesn/css/../images/clubhouse-gallery-left-arrow.png);
	background-size: 12px 25px;
	background-position: left center;
	background-repeat: no-repeat;
}
div.clubhouse-post .gallery-content span.next a:hover{
	background-image: url(/wp-content/themes/vip/nesn/css/../images/clubhouse-gallery-right-arrow.png);
	background-size: 12px 25px;
	background-position: right center;
	background-repeat: no-repeat;
}
div.clubhouse-post .gallery-content img{
	max-width: 621px;
}
div.clubhouse-post .gallery-footer{
	text-align: center;
}
