.modal {
    z-index: 1000;
    overflow: hidden;
    display: none;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 10px 28px rgba(0,0,0,.25),0 6px 10px rgba(0,0,0,.22)
}

.modal,.modal:before {
    position: absolute;
    background: #fff
}

.modal:before {
    top: -5px;
    left: 12px;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 100% 0 0 0;
    box-shadow: 1px 1px 2px -1px rgba(0,0,0,.15);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.modal__inner {
    position: relative
}

.modal__close {
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 1000;
    top: -4px;
    right: -8px
}

.uk-open .modal {
    display: block
}

.modal--dropdown {
    right: 0;
    margin-top: 15px
}

.modal--iframe .modal__close {
    top: 3px;
    right: -13px;
}

.uk-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: rgba(0,0,0,.6);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    -ms-touch-action: cross-slide-y pinch-zoom double-tap-zoom;
    touch-action: cross-slide-y pinch-zoom double-tap-zoom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.uk-modal.uk-open {
    opacity: 1
}

.uk-modal-dialog {
    position: relative;
    margin: 50px auto;
    max-width: calc(80%);
    width: 800px;
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: opacity .3s linear,-webkit-transform .3s ease-out;
    transition: opacity .3s linear,transform .3s ease-out;
    border-radius: 4px
}

.uk-modal-dialog--feedback-iframe {
    height: 100%;
    width: 70%;
    max-width: 1250px
}

.uk-open .uk-modal-dialog {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.uk-modal-page,.uk-modal-page body {
    overflow-y: hidden
}

@media screen and (max-width: 1100px) {
    .uk-modal-dialog {
        max-width:100%
    }
}

.feedback {
    writing-mode: tb-rl;
    color: #fff;
    color: rgba(255,255,255,.9);
    width: 32px;
    right: 0;
    position: fixed;
    top: 45%;
    z-index: 1000;
    height: 118px;
    font-weight: 200;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.85),0 0 1px 1px rgba(0,0,0,.2);
    border-radius: 4px 0 0 4px;
    background-color: #575a60;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#575a60),color-stop(100%,#64676d));
    background: -webkit-linear-gradient(top,#575a60 0%,#64676d 100%);
    background: linear-gradient(to bottom,#575a60 0%,#64676d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575a60', endColorstr='#64676d', GradientType=0);
    text-align: right;
    cursor: pointer
}

.feedback__icon {
    display: inline-block;
    background: url(/images/report_icon.png) no-repeat 50%;
    background-size: 90%;
    width: 31px;
    height: 35px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.15);
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.15);
    -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.15)
}

.feedback__text {
    display: inline-block;
    background: url(/images/report.png) no-repeat 35% 50%;
    background-size: 55%;
    width: 30px;
    height: 70px;
    margin: 3px 0
}
.i {
    background: url(/images/close.png) no-repeat;
    background-position: 0;
    width: 26px;
    background-size: 100%;
    height: 26px;
    display: block;
}