.xtss-wrap{
	-webkit-justify-content: center;
	justify-content:center;
	display:block;	
	overflow: hidden;
}
.xtss-wrap span.xtss-social-networks {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content:center;
}

.xtss-wrap .xtss {
	display: block;
}

.xtss-wrap .xtss .xtss-title {
    text-transform: uppercase;
    color: #b7b7b7;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.xtss-wrap .xtss .xtss-item{
	display: block;
	margin: 0 8px 8px 0;
	color:#fff!important;
	text-decoration:none;
	position: relative;
	float: left;
	overflow: hidden;
	line-height: 2;
}
.xtss-wrap.size-small .xtss-item{
	padding: 4px;
}
.xtss-wrap.size-medium .xtss-item{
	padding: 5px;
}
.xtss-wrap.size-large .xtss-item{
	padding: 6px;
}

.xtss-wrap .xtss .xtss-item .fa{
	width: 12px;
	text-align:center;
}
.xtss-wrap .xtss .xtss-item.xtss-extra-item{
  	min-width: 70px;
  	padding: 5px 0 0!important;
}
.xtss-wrap .xtss .xtss-facebook-like .fb-like > span {
    vertical-align: top!important;
}

body.rtl .xtss-wrap .xtss .xtss-item{
	float: right;
	margin: 0 0 8px 8px;
}

.xtss-wrap.align-left .xtss .xtss-item{
	margin: 0 8px 8px 0;
}
body.rtl .xtss-wrap.align-left .xtss .xtss-item{
	margin: 0 0 8px 8px;
}

.xtss-wrap.align-center .xtss .xtss-item{
	margin: 0 4px 8px 4px;
}

.xtss-wrap.align-right .xtss .xtss-item{
	margin: 0 0 8px 8px;
}
body.rtl .xtss-wrap.align-right .xtss .xtss-item{
	margin: 0 8px 8px 0;
}


.xtss-wrap .xtss .xtss-item span.icon{
	color:#fff;
	font-size:20px;
	min-width: 26px;
	text-align: center;
	vertical-align: middle;
	margin-top: -2px;
	display: inline-block;
}

.xtss-wrap .xtss .xtss-item:hover{
    opacity:0.9;
} 

.xtss-wrap .xtss .xtss-item:hover span.icon{
	transform: rotateY(360deg);
}


/* Layout */

.xtss-wrap.layout-horizontal .xtss .xtss-item{
	float:left;
}
body.rtl .xtss-wrap.layout-horizontal .xtss .xtss-item{
	float:right;
}
.xtss-wrap.layout-vertical .xtss .xtss-item{
	clear:both
}
.xtss-wrap.layout-vertical .xtss .xtss-extra-item{
	width:100%;
}


/* alignement */
.xtss-wrap.align-left,
.xtss-wrap.align-left span.xtss-social-networks{
	-webkit-justify-content:flex-start;
	justify-content:flex-start;
	text-align: left;
} 
body.rtl .xtss-wrap.align-left,
body.rtl .xtss-wrap.align-left span.xtss-social-networks{
	text-align: right;
}

.xtss-wrap.align-right,
.xtss-wrap.align-right span.xtss-social-networks{
	-webkit-justify-content:flex-end;
	justify-content:flex-end;
	text-align: right;
}  
body.rtl .xtss-wrap.align-right,
body.rtl .xtss-wrap.align-right span.xtss-social-networks{
	text-align: left;
} 

.xtss-wrap.align-center,
.xtss-wrap.align-center span.xtss-social-networks{
	-webkit-justify-content: center;
	justify-content:center;
	text-align: center;
}  

@media (min-width: 0) and (max-width: 479px) {

	.xtss-wrap,
	.xtss-wrap span.xtss-social-networks{
		-webkit-justify-content: center!important;
		justify-content:center!important;
		text-align: center!important;
	}  

}        


/* stickybox */
.xtss-wrap .xtss.stickybox.fixed{
	position: fixed;
	top: 0;
	right: inherit;
	left: inherit;
	z-index: 99;
	transform: translateZ(300px);
}

/* fullwidth */
.xtss-wrap.fullwidth .xtss .xtss-item:not(.xtss-extra-item){
	width:100%;
	clear:both;
}
.endless-articles .xtss-wrap.fullwidth .xtss .xtss-item:not(.xtss-extra-item){
	width:auto;
	clear:none;
	border-bottom:0;
	margin-right: 20px;
}
body.rtl .endless-articles .xtss-wrap.fullwidth .xtss .xtss-item:not(.xtss-extra-item){
	margin-right: 0;
	margin-left:20px;
}

/* Small */
.xtss-wrap.size-small .xtss .xtss-item{		
	font-size: 12px;
}

.xtss-wrap.size-small .xtss .xtss-item span.icon{
	font-size: 12px;	
	min-width: 26px;
}

/* Medium */
.xtss-wrap.size-medium .xtss .xtss-item{
	font-size: 13px;
}

.xtss-wrap.size-medium .xtss .xtss-item span.icon{
	font-size:16px;	
	min-width: 30px;
}

/* Large */
.xtss-wrap.size-large .xtss .xtss-item{
	font-size: 14px;
}

.xtss-wrap.size-large .xtss .xtss-item span.icon{
	font-size: 16px;	
	min-width: 32px;
}

/* Showing Names */
.xtss-wrap .xtss-item span.xtss-name{
	display:none;
	margin-right:10px;
}
body.rtl .xtss-wrap .xtss-item span.xtss-name{
	margin-left:10px;
	margin-right:0;
}

.xtss-wrap .xtss-item span.xtss-name{
	display:none;
}
@media (min-width: 450px) {
	
	.xtss-wrap.showing-names .xtss-item span.xtss-name{
		display: inline-block;
		color: #fff;
	}	
	
	.xtss-wrap.within-smart-sidebar:not(.layout-vertical).showing-names.first-1 .xtss-item:nth-child(n+2) span.xtss-name,
	.xtss-wrap.within-smart-sidebar:not(.layout-vertical).showing-names.first-2 .xtss-item:nth-child(n+3) span.xtss-name,
	.xtss-wrap.within-smart-sidebar:not(.layout-vertical).showing-names.first-3 .xtss-item:nth-child(n+4) span.xtss-name,
	.xtss-wrap.within-smart-sidebar:not(.layout-vertical).showing-names.first-4 .xtss-item:nth-child(n+5) span.xtss-name,
	.xtss-wrap.within-smart-sidebar:not(.layout-vertical).showing-names.first-5 .xtss-item:nth-child(n+6) span.xtss-name{
	    display:none;
	}

	.xtss-wrap:not(.within-smart-sidebar).showing-names.first-1 .xtss-item:nth-child(n+2) span.xtss-name,
	.xtss-wrap:not(.within-smart-sidebar).showing-names.first-2 .xtss-item:nth-child(n+3) span.xtss-name,
	.xtss-wrap:not(.within-smart-sidebar).showing-names.first-3 .xtss-item:nth-child(n+4) span.xtss-name,
	.xtss-wrap:not(.within-smart-sidebar).showing-names.first-4 .xtss-item:nth-child(n+5) span.xtss-name,
	.xtss-wrap:not(.within-smart-sidebar).showing-names.first-5 .xtss-item:nth-child(n+6) span.xtss-name{
	    display:none;
	}
}



/* Showing Shares Count */
.xtss-wrap .xtss span.xtss-shares{
	display:none;
}
.xtss-wrap.showing-shares .xtss .xtss-item:not(.xtss-extra-item) span.xtss-shares{
	display:inline-block;
	background: rgba(255,255,255,0.2);
	position: relative;
	text-align: center;
	color: #ffffff;
	right: 0;
	top: 0;
	height: 100%;
	float: right;
}
body.rtl .xtss-wrap.showing-shares .xtss .xtss-item:not(.xtss-extra-item) span.xtss-shares{
	margin-right: 10px;
	margin-left: inherit;
}

.xtss-wrap.showing-shares .xtss .xtss-item:not(.xtss-extra-item){
	text-align: left;
} 
body.rtl .xtss-wrap.showing-shares .xtss .xtss-item:not(.xtss-extra-item){
	text-align: right;
} 
.xtss-wrap.size-small.showing-shares .xtss .xtss-item:not(.xtss-extra-item) span.xtss-shares{
	padding: 0 8px;
}
.xtss-wrap.size-medium.showing-shares .xtss .xtss-item:not(.xtss-extra-item) span.xtss-shares{
	padding: 0 10px;
}
.xtss-wrap.size-large.showing-shares .xtss .xtss-item:not(.xtss-extra-item) span.xtss-shares{
	padding: 0 12px;
}


/* Showing Total Shares Count */
.xtss-wrap .xtss span.xtss-total-shares{
	display:none;
}
.xtss-wrap.showing-total-shares .xtss span.xtss-total-shares{
	display:block;
	padding: 20px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
	
}

.smart-sidebar-item .xtss-wrap.showing-total-shares .xtss span.xtss-total-shares{
	text-align:center;
}

@media only screen and (max-width: 479px) {
	
	.xtss-wrap.showing-total-shares .xtss span.xtss-total-shares{
		text-align:center;
	    border-top: 1px solid #eaeaea;
	}	
}

.xtss-wrap.layout-horizontal.showing-total-shares .xtss span.xtss-total-shares {
    border: 0;
}

.xtss-wrap.showing-total-shares .xtss span.xtss-total-shares span.xtss-total-count {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.xtss-wrap.showing-total-shares .xtss span.xtss-total-shares span.xtss-total-text {
    display: block; 
    color: #b7b7b7; 
    font-size: 16px; 
    font-weight: 300;
    line-height: 1;
    text-transform: lowercase;
}

.xtss-wrap .xtss-spacer {
	width: 100%;
}


/* Transition */
.xtss-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5 ease-in-out;
	-o-transition: all 0.5 ease-in-out;
	transition: all 0.5 ease-in-out;
}

@media (min-width: 880px) and (max-width: 920px) {
	.xtss-wrap.showing-names .xtss span.xtss-name{
		font-size: 11px;
	}
}

@media only screen and (max-width: 849px) {

	.xtss-wrap.fullwidth .xtss .xtss-item,
	.xtss-wrap.layout-vertical .xtss .xtss-extra-item,
	.xtss-wrap.fullwidth .xtss .xtss-item:not(.xtss-extra-item){
		width:inherit;
		clear:none;
	}
	
	.xtss-wrap.layout-vertical .xtss .xtss-item,
	.xtss-wrap.layout-vertical.fullwidth .xtss .xtss-item:not(.xtss-extra-item){
		border-bottom:0;
		margin-right: 10px;
	}
	body.rtl .xtss-wrap.layout-vertical .xtss .xtss-item,
	body.rtl .xtss-wrap.layout-vertical.fullwidth .xtss .xtss-item:not(.xtss-extra-item){
		margin-right:0;
		margin-left: 10px;
	}
	
	
	.xtss-wrap.showing-shares .xtss .xtss-item:not(.xtss-extra-item) span.xtss-shares {
	    position: relative;
	    display: inline-block;
	}
	
}



.touch .xtss-item.show-for-touch {
    display:inline-block!important;
}


/* Custom Individual */

.xtss-whatsapp .icon:before{
    transform: scale(1.3)!important;
    display:inline-block;
}
