.brightcove-outer-container {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	margin-bottom: 15px;
}

.BrightcoveExperience {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}