/* This stylesheet is used to style the public-facing components of the plugin. */

.digital-intro .ipad {
	width: 290px;
	height: 430px;
	position: relative;
	float: left;
	background: url('../images/digital-edition-ipad-template.png') no-repeat 0 0;
}
.digital-intro .ipad img {
	margin-top: 34px;
	margin-left: 28px;
	width: 236px;
	max-height: 332px;
}

.store-el{
	min-height: 90px !important;
}
