@charset "UTF-8";
/* line 39, ../../../resources/assets/sass/_settings.scss */
.list_item_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.35;
}

/* line 45, ../../../resources/assets/sass/_settings.scss */
.sitem_title {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 52, ../../../resources/assets/sass/_settings.scss */
.bitem_title {
  font-size: 34px;
  line-height: 1.35;
}

/* line 58, ../../../resources/assets/sass/_settings.scss */
.item_log {
  width: 35px;
  height: 35px;
}

/* line 63, ../../../resources/assets/sass/_settings.scss */
.item_note {
  font-size: 15px;
}

/************* 蓋台廣告 ********/
/* line 8, ../../../resources/assets/sass/all2.scss */
.full_screen_ad_sty01 .modal-dialog {
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  /* line 8, ../../../resources/assets/sass/all2.scss */
  .full_screen_ad_sty01 .modal-dialog {
    margin: 150px auto 0 auto !important;
    width: 900px;
  }
}
@media screen and (max-width: 991px) {
  /* line 8, ../../../resources/assets/sass/all2.scss */
  .full_screen_ad_sty01 .modal-dialog {
    margin: 50px auto 0 auto !important;
    width: 320px;
  }
}
/* line 18, ../../../resources/assets/sass/all2.scss */
.full_screen_ad_sty01 .modal-dialog .modal-content {
  margin-left: 20px;
  background-color: transparent;
  padding: 0;
  webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  border: 0;
}
/* line 27, ../../../resources/assets/sass/all2.scss */
.full_screen_ad_sty01 .modal-body {
  padding: 0px !important;
  text-align: center;
}
/* line 31, ../../../resources/assets/sass/all2.scss */
.full_screen_ad_sty01 .ad_box img {
  max-width: 100%;
  display: block;
}
/* line 32, ../../../resources/assets/sass/all2.scss */
.full_screen_ad_sty01 .close_btn {
  display: inline-block;
  position: absolute;
  top: -50px;
  border: 2px #333 solid;
  line-height: 30px;
  font-size: 20px;
  padding: 0 15px;
  background-color: white;
  opacity: 0.7;
}
/* line 42, ../../../resources/assets/sass/all2.scss */
.full_screen_ad_sty01 .close_btn span {
  vertical-align: text-top;
  padding-right: 10px;
}

/* line 48, ../../../resources/assets/sass/all2.scss */
.full_screen_ad_sty01 .close {
  position: absolute;
  top: -25px;
  left: -25px;
  opacity: 1;
  padding: 12px;
  cursor: pointer;
}

/* line 56, ../../../resources/assets/sass/all2.scss */
.full_screen_ad_sty01 .close_border {
  background: white;
  border-radius: 50%;
  border: 2px solid #ccc;
  width: 35px;
  height: 35px;
  padding: 5px;
}

/*
.close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    opacity: 1;
}

.pop-ad-cover .close {
    position: absolute;
    top: -8px;
    padding: 0;
    width: 40px;
    height: 40px;
    z-index: 99999;
    font-size: 3em;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    left: -8px;
}

.pop-ad-cover{
    z-index: 71000 !important;
}
*/
