html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	line-height: 1;
}

body,
textarea {
	font-family: 'Montserrat', "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 15px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,button { 
    display: block;
}

ul,
ol {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	outline: none;
	text-decoration:  none;
}

a:active {
	text-decoration: none;
}

@media(max-width:767px) {
	a:hover {
		text-decoration: none !important;
	}
}

input, select {
    vertical-align: middle;
    /*-webkit-appearance: none;*/
}

table {
	border-collapse: collapse;
}