/* CLEARFIX
------------------------------------------------------------------------------*/

#headerCnt:after,
#login:after,
#signup:after,
#loginForm:after,
#user:after,
#list:after,
#rNav:after,
article:after,
#index:after,
#profile:after,
#gNav ul:after,
#fNav ul:after,
#search:after,
#video:after,
#cntList:after,
#commentPost:after,
.resPost:after,
#thumbSelectCnt ul:after,
#fileList:after,
.paging ul:after,
#videoInfo .addUser:after,
#add .tagList:after,
.thumbList:after,
#btnLinkList:after,
.btnList:after,
#siteMap:after,
#videoComment dl:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}

@media(min-width:768px) {
	#sNav ul:after,
	#uNav ul:after,
	#tNav ul:after {
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
		content: ".";
	}
}

/* STRUCTURE
------------------------------------------------------------------------------*/

body {
	background: #F7F3EF url(/images/bg_body.png) repeat-x;
	padding: 10px 0 0;
}

#leftCnt {
	float: left;
	width: 210px;
}

@media(max-width:767px) {
	#leftCnt {
		float: none;
		width: auto;
		margin: 10px 0 0;
	}
	
	#user #leftCnt,
	#list #leftCnt {
		padding: 0;
		margin: 0;
	}
}

#rightCnt {
	float: right;
	width: 870px;
}

@media(max-width:767px) {
	#rightCnt {
		float: none;
		width: auto;
		padding-top: 10px;
	}
}

/* ICON
------------------------------------------------------------------------------*/

#gNav > ul > li img,
#userList figure img,
.addUser img,
#videoComment .icon img,
#guestBookList .icon img,
#guestBookList .resPost img,
#postBox img,
.pubListFolder img {
	border-radius: 50%;
}

#gNav > ul > li span,
#gNav > ul > li img,
.addUser img,
#videoComment .icon img,
#guestBookList .icon img,
.pubListFolder img {
	width: 30px;
	height: 30px;
}

/* INPUT
------------------------------------------------------------------------------*/

input[type="text"],
input[type="password"] {
	font-size: 16px;
	padding: 5px 10px;
	border: 1px solid #CCC;
	-webkit-appearance: none;
	border-radius: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	background: #FFEDC3;
	border-color: #F4AC00;
}

#search input[type="text"],
#commentPost input[type="text"],
.resPost input[type="text"] {
	display: block;
	float: left;
}

#search input[type="text"] {
	width: 300px;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	padding-right: 40px;
}

@media(max-width:767px) {
	#search input[type="text"] {
		width: 100%;
		box-sizing: border-box;
		height: 42px;
	}
}

#commentPost input[type="text"],
.resPost input[type="text"] {
	line-height: 28px;
}

#commentPost input[type="text"] {
	width: 100%;
	height: 42px;
	box-sizing: border-box;
	padding-right: 40px;
}

.resPost input[type="text"] {
	width: 380px;
	height: 28px;
}

@media(max-width:767px) {	
	.resPost input[type="text"] {
		width: 188px;
	}
}

#loginForm input[type="text"],
#loginForm input[type="password"],
#commonForm input[type="text"],
#commonForm input[type="password"],
.layerBox input[type="text"] {
	width: 100%;
	line-height: 26px;
	height: 40px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

input[readonly] {
	color: #777;
	background: #F3F3F3;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
		margin-bottom: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
	line-height: 1.5;
	border: 1px solid #CCC;
	padding: 10px;
	margin: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#colorList li {
	display: inline;
	line-height: 30px;
}

#colorList span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #ECE6DE;
	border-radius: 50%;
	border: 2px solid #CCC;
}

#profile textarea {
	height: 200px;
}

#add textarea {
	height: 100px;
}

@media(max-width:767px) {
	#recoVideo {
		font-size: 10px;
	}
}

#commonForm input[type="text"].short {
	width: 80px;
}

/* BUTTON
------------------------------------------------------------------------------*/

button,
.btn {
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	-webkit-box-shadow: 0 2px 0 0 rgba(57,63,71,1);
	   -moz-box-shadow: 0 2px 0 0 rgba(57,63,71,1);
	        box-shadow: 0 2px 0 0 rgba(57,63,71,1);
}

.btnLink,
.btnMy,
.btnMyDelete,
.btnFollow,
.btnUnFollow,
.btnEdit,
#btnSetting {
	font-size: 12px;
	display: inline-block;
	color: #FFF;
	line-height: 30px;
	width: auto;
	height: 30px;
}

button {
	border: none;
	padding: 0 20px;
}

@media(max-width:767px) {
	#videoInfo .btnMy,
	#videoInfo .btnMyDelete,
	#videoInfo .btnLink {
		padding: 0;
	}
}

.btn {
	display: block;
	text-align: center;
}

button,
#addBoxOpen {
	cursor: pointer;
}

#btnAddMore,
#search button,
#commentPost button,
.resPost button,
.btnToggle,
.btnTag,
.info .btnMy,
.info .btnMyDelete,
#listList .btnMy,
#listList .btnMyDelete,
.info .btnFollow,
.info .btnUnFollow,
.info .btnEdit,
#fileList .btnFileDelete,
#btnMyList,
#btnMyListDelete,
#myListInfo .btnListEdit,
#myListInfo .btnListDelete,
#btnSearch {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.info .btnMy,
.info .btnMyDelete,
#listList .btnMy,
#listList .btnMyDelete,
.info .btnFollow,
.info .btnUnFollow,
.btnEdit {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
}

.btnListEdit,
.btnListDelete {
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 0;
	border-radius: 50%;
}

button span,
.btnEdit span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 10px;
	font-weight: normal;
	line-height: 1.0;
	text-align: center;
	width: 50px;
	height: 40px;
	padding-top: 10px;
}

.info .btnMy i,
.info .btnMyDelete i,
#listList .btnMy i,
#listList .btnMyDelete i,
.info .btnFollow i,
.info .btnUnFollow i,
.btnEdit i {
	font-size: 14px;
	margin-bottom: 3px;
}

#btnAddMore,
#btnUserRank,
#btnListPublish {
	margin-bottom: 10px;
}

#btnUserRank,
#btnListPublish,
.btnList button {
	font-weight: normal;
}

@media(max-width:767px) {
	#btnUserRank,
	#btnListPublish {
		font-size: 12px;
		line-height: 30px;
	}
}

#search button,
#commentPost button,
.resPost button,
#btnAddMore {
	color: #636363;
}

#btnAddMore {
	background: #EEE;
	border: 1px solid #CCC;
}

#search button {
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 14px;
	height: 32px;
	background: transparent;
	padding: 0;
}

@media(max-width:767px) {
	#search button {
		height: 42px;
	}
}

#commentPost button,
.resPost button {
	position: absolute;
	background: transparent;
	padding: 0;
}

#commentPost button {
	top: 10px;
	right: 20px;
	line-height: 14px;
	height: 42px;
	box-sizing: border-box;
}

.resPost button {
	top: 0;
	right: 10px;
	height: 40px;
}

#commonForm button {
	margin: 0 auto;
}

#loginForm p {
	font-size: 12px;
	margin-bottom: 10px;
}

#loginForm button {
	float: right;
}

#btnAddMore {
	width: 100%;
}

#btnAdd,
#loginDesc .btn,
#commonForm button,
.btnMyList {
	width: 250px;
	margin: 0 auto;
}

@media(max-width:767px) {
	.layerBox .btn,
	#btnAdd,
	.btnList .btnMy,
	.btnList .btnMyDelete,
	.btnLink,
	.btnMyList {
		width: 100%;
	}
}

#commonForm button,
#loginForm button,
#btnAdd,
#btnSetting,
.btnLink,
.btnMyList,
#myListInfo p button,
#btnListNew span {
	background: #434A54;
}

.btnFollow {
	background: #2DE3E4;
	-webkit-box-shadow: 0 2px 0 0 rgba(38,193,194,1);
	   -moz-box-shadow: 0 2px 0 0 rgba(38,193,194,1);
	        box-shadow: 0 2px 0 0 rgba(38,193,194,1);
}

.btnUnFollow,
.btnMyDelete,
.btnListDelete,
.btnFileDelete,
#commonForm #btnVideoDelete {
	background: #E85C55;
	-webkit-box-shadow: 0 2px 0 0 rgba(197,78,72,1);
	   -moz-box-shadow: 0 2px 0 0 rgba(197,78,72,1);
	        box-shadow: 0 2px 0 0 rgba(197,78,72,1);
}

.btnMy,
#btnListPublish {
	background: #1EB1DE;
	-webkit-box-shadow: 0 2px 0 0 rgba(24,142,178,1);
	   -moz-box-shadow: 0 2px 0 0 rgba(24,142,178,1);
	        box-shadow: 0 2px 0 0 rgba(24,142,178,1);
}

#loginDesc .btn,
.btnEdit,
#btnUserRank,
.btnListEdit {
	background: #1FB04B;
	-webkit-box-shadow: 0 2px 0 0 rgba(26,150,64,1);
	   -moz-box-shadow: 0 2px 0 0 rgba(26,150,64,1);
	        box-shadow: 0 2px 0 0 rgba(26,150,64,1);
}

#userInfo .btnFollow,
#userInfo .btnUnFollow {
	height: auto;
	line-height: 1.0;
	padding: 10px 30px;
	margin-bottom: 10px;
}

#commonForm .btnTag,
.btnToggle {
	float: right;
	width: auto;
	padding: 0 10px;
}

#commonForm .btnTag {
	line-height: 30px;
	height: 30px;
	background: #CCC0B4;
	margin: 10px 0;
}

.btnToggle {
	line-height: 25px;
	height: 25px;
	background: #CCC0B4;
	margin: 5px 0;
}

#btnSetting {
	padding: 0 10px;
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: normal;
}

.btnListEdit,
.btnListDelete {
	line-height: 30px;
}

.btnFileDelete {
	position: absolute;
	top: 0;
	right: 0;
}

#myListInfo p button {
	display: inline-block;
	float: right;
	font-size: 12px;
	line-height: 30px;
	padding: 0 10px;
	margin-top: 15px;
}

#commonForm #btnVideoDelete {
	margin-top: 10px;
}

#btnMyList,
#btnMyListDelete {
	width: auto;
	background: #FFF;
	margin: 0 auto 10px;
}

#btnMyList,
#listInfo #btnMyList i {
	color: #1EB1DE;
}

#btnMyList {
	border: 2px solid #1EB1DE;
}

#btnMyListDelete,
#listInfo #btnMyListDelete i {
	color: #E85C55;
}

#btnMyListDelete {
	border: 2px solid #E85C55;
}

/* NOTICE
------------------------------------------------------------------------------*/

.error,
.success {
	font-size: 12px;
	line-height: 1.5;
	padding: 10px;
	margin-bottom: 10px;
}

.error {
	color: #E85C55;
	background: #FDEEEE;
}

#postBox .error {
	margin: 10px 10px 0;
}

.success {
	color: #1FB04B;
	background: #D2EFDB;
}

.success a,
#listInfo .success a {
	color: #1FB04B;
	text-decoration: underline;
}

#listInfo .success {
	text-align: center;
	background: transparent;
	border: 1px solid #1FB04B;
}

#rankDesc {
	background: #FFF;
	padding: 10px 10px 0;
}

#rankDesc p,
#changeFolder {
	line-height: 1.5;
	background: #F9F9F9;
	padding: 10px;
}

/* HEADER
------------------------------------------------------------------------------*/

header {
	z-index: 100;
	background: #FFF;
}

#headerCnt,
#wrapper {
	width: 1100px;
	margin: 0 auto;
}

#headerCnt {
	position: relative;
}

#wrapper {
	padding-top: 10px;
}

@media(max-width:767px) {
	#headerCnt,
	#wrapper {
		width: auto;
	}
	
	#wrapper {
		padding: 0;
	}
}

#logo {
	float: left;
	margin: 15px 20px 0 0;
}

#logo,
#logo img {
	width: 90px;
	height: 20px;
}

@media(max-width:767px) {
	#logo,
	#logo img {
		width: 72px;
		height: 16px;
	}
	
	#logo {
		margin: 17px 10px 0;
	}
}

#logo a {
	display: block;
	height: 20px;
}

#headerCnt > h1 {
	float: left;
	width: auto;
	font-size: 12px;
	font-weight: normal;
	line-height: 50px;
}

@media(max-width:767px) {
	#headerCnt > h1 {
		float: none;
		font-size: 11px;
	}
}

#btnSearch {
	display: none;
}

@media(max-width:767px) {
	#btnSearch {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		padding: 0;
		color: #000;
		background: #FFF;
	}
}

/* GLOBAL NAVIGATION
------------------------------------------------------------------------------*/

#gNav {
	width: auto;
	float: right;
	margin-left: 20px;
}

@media(max-width:767px) {
	#gNav {
		float: none;
		background: #F4EDE5;
		margin-left: 0;
	}
}

#gNav > ul {
	position: relative;
}

#gNav > ul > li {
	width: auto;
	float: left;
}

#gNav > ul > li a,
#userMenu div,
#addBoxOpen {
	display: block;
	padding: 10px;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}

#userMenu div {
	cursor: pointer;
}

#userMenu div.selected,
#btnSearch.selected {
	background: #EEE;
}

@media(max-width:767px) {
	#gNav > ul > li a,
	#userMenu div,
	#addBoxOpen {
		font-size: 12px;
		font-weight: normal;
		padding: 5px 10px;
	}
}

#gNav > ul > li:hover {
	background: #F4EDE5;
}

#gNav > ul > li span {
	display: block;
	float: left;
	margin-right: 5px;
}

@media(max-width:767px) {
	#gNav #userMenu {
		float: right;
		background: #ECE6DE;
	}
	
	#userMenu div {
		background: #F4EDE5;
	}
}

#gNav li ul {
	display: none;
	position: absolute;
	width: 200px;
	padding: 15px;
	right: 0;
	top: 50px;
	z-index: 100;
	background: #EEE;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

@media(max-width:767px) {
	#gNav li ul {
		width: 100%;
		box-sizing: border-box;
		top: 40px;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
}

#gNav li ul li {
	height: 30px;
	background: #FFF;
	margin-bottom: 1px;
}

#gNav li ul li:last-child {
	margin-bottom: 0;
}

@media(max-width:767px) {
	#gNav li ul li {
		display: block;
		height: 40px;
	}
}

#gNav li ul li:hover {
	background: #F9F9F9;
}

#gNav li ul li a {
	font-weight: normal;
	line-height: 30px;
	padding: 0 20px;
}

@media(max-width:767px) {
	#gNav li ul li a {
		font-size: 11px;
		line-height: 40px;
	}
}

#search {
	width: auto;
	float: right;
	margin: 9px 0 0;
}

#search form {
	position: relative;
}

@media(max-width:767px) {
	#search {
		display: none;
		float: none;
		background: #EEE;
		padding: 10px;
		margin: 0;
		position: absolute;
		left: 0;
		top: 50px;
		width: 100%;
		box-sizing: border-box;
		z-index: 100;
	}
}

/* LOGIN, SIGNUP, ADD
------------------------------------------------------------------------------*/

#login,
#signup,
#profile,
#add {
	background: #FFF;
	padding: 25px;
}

@media(max-width:767px) {
	#login,
	#signup,
	#profile,
	#add {
		padding: 25px 10px;
	}
}

#login h1,
#signup h1,
#profile h1,
#add h1 {
	font-size: 24px;
	padding-bottom: 20px;
	border-bottom: 2px dotted #EEE;
	margin-bottom: 20px;
}

#loginDesc,
#signup #commonForm,
#profile #commonForm {
	float: left;
	width: 670px;
}

@media(max-width:767px) {
	#loginDesc,
	#signup #commonForm,
	#profile #commonForm {
		float: none;
		width: auto;
		margin-bottom: 20px;
	}
}

#loginDesc h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

@media(max-width:767px) {
	#loginDesc h2 {
		font-size: 16px;
	}
}

#loginDesc h3 {
	color: #1FB04B;
	font-size: 24px;
	text-align: center;
	line-height: 1.2;
	background: #D2EFDB;
	padding: 15px 0;
	margin-bottom: 20px;
}

@media(max-width:767px) {
	#loginDesc h3 {
		font-size: 18px;
	}
}

#loginDesc dl {
	text-align: center;
	margin-bottom: 20px;
}

#loginDesc dt {
	margin-bottom: 5px;
}

#loginDesc dd strong {
	font-size: 48px;
	font-weight: normal;
}

#loginDesc p {
	line-height: 1.5;
	margin-bottom: 30px;
}

@media(max-width:767px) {
	#loginDesc p {
		font-size: 12px;
	}
}

#loginBox {
	float: right;
	width: 353px;
	border: 1px solid #CCC;
}

@media(max-width:767px) {
	#loginBox {
		float: none;
		width: auto;
	}
}

#loginBox h2 {
	background: #F3F3F3;
	padding: 15px;
	border-bottom: 1px solid #CCC;
}

#loginForm {
	padding: 15px;
	background: #F9F9F9;
}

#loginForm dt {
	font-size: 12px;
	margin-bottom: 5px;
}

#commonForm table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

#commonForm th,
#commonForm td {
	border: 1px solid #FFF;
	padding: 10px 20px;
}

@media(max-width:767px) {
	#commonForm th,
	#commonForm td {
		padding: 5px;
	}
}

#commonForm th {
	line-height: 1.5;
	background: #F3F3F3;
	text-align: left;
}

@media(max-width:767px) {
	#commonForm th {
		font-size: 12px;
	}
}

#add #commonForm th {
	width: 200px;
}

@media(max-width:767px) {
	#add #commonForm th {
		width: 80px;
	}
}

#commonForm th span {
	font-size: 12px;
	font-weight: normal;
}

@media(max-width:767px) {
	#commonForm th span {
		font-size: 10px;
	}
}

#signupDesc {
	float: right;
	width: 338px;
	border-left: 5px solid #CCC0B4;
	padding: 10px 0 10px 20px;
}

@media(max-width:767px) {
	#signupDesc {
		float: none;
		width: auto;
	}
}

#signupDesc h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

#signupDesc p {
	line-height: 1.5;
}

#add h2 {
	line-height: 50px;
	padding: 0 20px;
	background: #F4EDE5;
	margin-bottom: 20px;
}

#add h3,
#tagNm {
	font-size: 12px;
	background: #F3F3F3;
	padding: 15px 10px;
}

#add h3 {
	cursor: pointer;
	margin-bottom: 5px;
}

#tagNm {
	margin-bottom: 20px;
}

@media(max-width:767px) {
	#add h2,
	#tagNm {
		margin-bottom: 10px;
	}
}

#thumbSelected {
	padding: 10px;
	background: #F3F3F3;
	margin-bottom: 10px;
}

#thumbSelected dt {
	margin-bottom: 10px;
}

#add .tagList {
	display: none;
	margin: 20px 0;
}

#add .tagList li {
	float: left;
	width: 20%;
	font-size: 12px;
	line-height: 1.5;
}

@media(max-width:767px) {
	#add .tagList li {
		width: 50%;
		font-size: 9px;
	}
}

#thumbSelect li {
	display: inline-block;
	background: #F9F9F9;
	line-height: 30px;
	padding: 0 20px;
}

#thumbSelect li,
#thumbSelect label {
	cursor: pointer;
}

@media(max-width:767px) {
	#thumbSelect li {
		font-size: 10px;
		white-space: nowrap;
		padding: 0 5px;
	}
}

#thumbSelect .current {
	background: #F3F3F3;
}

#thumbSelectCnt {
	background: #F3F3F3;
	padding: 10px;
}

#thumbSelectCnt ul,
#thumbSelectCnt dl {
	display: none;
}

#thumbSelectCnt li {
	position: relative;
	float: left;
	width: 100px;
	height: 75px;
	text-align: center;
	margin: 0 10px 10px 0;
}

#thumbSelectCnt p img,
#thumbSelectCnt li img,
#thumbSelectCnt dd img {
	width: 100px;
}

#thumbSelectCnt li img {
	height: 75px;
}

@media(max-width:767px) {
	#thumbSelectCnt li,
	#thumbSelectCnt li img {
		width: 100%;
		height: auto;
	}
}

#thumbSelectCnt p img,
#thumbSelectCnt dd img {
	height: auto;
}

#thumbSelectCnt li span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#thumbSelectCnt input[type="radio"] {
	width: 20px;
	height: 20px;
}

#fileList li {
	position: relative;
	float: left;
	width: 300px;
	margin: 0 10px 10px 0;
}

#fileList li .fileNum,
#fileList li .fileSite {
	position: absolute;
	left: 0;
	display: block;
	width: 80px;
	color: #FFF;
	text-align: center;
	opacity: 0.8;
}

#fileList li .fileNum {
	top: 0;
	font-size: 20px;
	line-height: 40px;
	background: #000;
}

#fileList li .fileSite {
	top: 40px;
	font-size: 11px;
	line-height: 30px;
	background: #F00;
	opacity: 0.8;
}

/* USER
------------------------------------------------------------------------------*/

#userInfo,
#userInfo a,
#listInfo,
#listInfo a,
#listInfo i,
#listInfo time,
#listInfo .addUser dd {
	color: #FFF;
}

#userInfo,
#listInfo {
	overflow: hidden;
	position: relative;
	padding: 20px 10px;
}

#userInfo {
	text-align: center;
}

@media(max-width:767px) {
	#listInfo {
		text-align: center;
	}
}

#userInfo figure,
#listInfo figure {
	width: 120%;
	height: 120%;
	left: -10%;
	top: -10%;
	position: absolute;
	z-index: -1;
}

#userInfo .icon {
	margin-bottom: 10px;
}

#userInfo .icon img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

@media(max-width:767px) {
	#userInfo .icon img {
		width: 60px;
		height: 60px;
	}
}

#userInfo h1,
#listInfo h1 {
	line-height: 1.2;
	margin-bottom: 10px;
}

#userInfo h1 {
	font-size: 20px;
}

#listInfo h1 {
	font-size: 24px;
}

@media(max-width:767px) {
	#userInfo h1,
	#listInfo h1 {
		font-size: 20px;
	}
}

#userInfo h1 a,
#listInfo h1 {
	-webkit-text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	   -moz-text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

#userInfo .followed {
	font-size: 12px;
	margin: 0 0 10px;
}

#userInfo .userRank,
#userInfo .userProfile {
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 10px;
}

#userInfo .userRank a {
	text-decoration: underline;
}

#userInfo .userRank strong {
	font-size: 20px;
	font-weight: normal;
	margin-right: 5px;
}

#userInfo .userRank span {
	font-size: 15px;
	margin-right: 5px;
}

#btnTableToggle {
	font-size: 12px;
	cursor: pointer;
}

#userInfo #rankTable {
	display: none;
}

#userInfo table {
	width: 100%;
	margin-top: 10px;
}

#userInfo th,
#userInfo td {
	font-size: 12px;
	border: 1px solid #FFF;
	padding: 10px;
}

#userInfo th {
	font-weight: normal;
	text-align: left;
}

#userInfo td {
	text-align: right;
}

#userInfo td strong {
	font-size: 16px;
	font-weight: normal;
	margin-right: 5px;
}

#listInfoInner {
	width: 1100px;
	margin: 0 auto;
}

@media(max-width:767px) {
	#listInfoInner {
		width: auto;
	}
}

#listInfo .dataList,
#listInfo .addUser {
	margin-bottom: 20px;
}

#listInfo .desc {
	font-size: 12px;
	line-height: 1.3;
	margin-bottom: 10px;
}

#listInfo button {
	margin-bottom: 0;
}

@media(max-width:767px) {	
	#listInfo dt {
		float: none;
		width: auto;
		margin: 0 0 10px 0;
	}
	
	#listInfo dd {
		line-height: 1.3;
	}
}

@media(max-width:767px) {
	#sNav,
	#uNav {
		width: auto;
		overflow: hidden;
	}
	
	#sNav ul,
	#uNav ul {
		width: 100%;
		white-space: nowrap;
		overflow: scroll;
	}
}

#uNav li,
#sNav li {
	float: left;
	margin-right: 5px;
}

@media(max-width:767px) {
	#sNav li,
	#uNav li {
		float: none;
		display: inline-block;
		vertical-align: middle;
		margin-right: 0;
	}
}

#uNav li a,
#sNav li a {
	display: block;
	color: #000;
	background: #F4EDE5;
}

#uNav li a {
	font-size: 12px;
	padding: 10px 10px 0;
	height: 50px;
}

#uNav.rNav li a {
	padding: 10px;
	height: auto;
}

#sNav li a {
	font-weight: bold;
	padding: 10px 20px;
}

@media(max-width:767px) {
	#sNav li a {
		font-size: 11px;
		font-weight: normal;
		padding: 10px;
	}
}

#uNav li a:hover,
#sNav li a:hover {
	background: #ECE6DE;
}

#uNav li.current a,
#sNav li.current a {
	background: #FFF !important;
}

#uNav li a span {
	font-size: 24px;
	line-height: 1.2;
}

@media(max-width:767px) {
	#uNav li a span {
		font-size: 20px;
	}
}

#rNav {
	margin-bottom: 20px;
}

#rNav li {
	background: #EEE;
	float: left;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

#rNav li:last-child {
	border-right: 1px solid #CCC;
}

#rNav .current {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
}

#rNav li a {
	color: #636363;
	font-size: 12px;
	padding: 10px 20px;
	display: block;
}

/* INDEX
------------------------------------------------------------------------------*/

#video #btnLinkList {
	display: none;
}

@media(max-width:767px) {
	#btnLinkList {
		margin: 0 10px;
	}
	
	#video #btnLinkList {
		display: block;
		padding-top: 10px;
	}
	
	#btnLinkList li {
		width: 50%;
	}
	
	#btnLinkList li:first-child {
		float: left;
	}
	
	#btnLinkList li:first-child a {
		margin-right: 5px;
	}
	
	#btnLinkList li:last-child {
		float: right;
	}
	
	#btnLinkList li:last-child a {
		margin-left: 5px;
	}
}

#tNav {
	background: #FFF;
	margin-bottom: 10px;
}

#video #tNav {
	display: none;
}

@media(max-width:767px) {
	#tNav {
		margin: 0;
	}
	
	#user #tNav,
	#list #tNav {
		display: none;
	}
	
	#video #tNav {
		display: block;
	}
}

#tNav h2 {
	padding: 0 10px;
	background: #F4EDE5;
	line-height: 35px;
}

@media(max-width:767px) {
	#tNav h2 {
		display: none;
	}
}

#tNav .btnToggle {
	display: none;
}

@media(max-width:767px) {
	#tNav nav {
		width: auto;
		overflow: hidden;
	}
}

@media(max-width:767px) {
	#tNav ul {
		width: 100%;
		white-space: nowrap;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

#tNav li {
	height: 30px;
	border-bottom: 1px solid #E6E6E6;
}

@media(max-width:767px) {
	#tNav li {
		display: inline-block;
		height: auto;
		border-bottom: none;
		padding: 10px 0;
	}
}

#tNav li:last-child {
	border-bottom: none;
}

#tNav li a {
	color: #000;
	display: block;
	line-height: 30px;
}

@media(max-width:767px) {
	#tNav li a {
		font-size: 11px;
		line-height: 15px;
		height: 15px;
		padding: 0 15px;
		border-right: 1px solid #000;
	}
}

@media(max-width:767px) {
	#tNav li:last-child a {
		border-right: none;
	}
}

#tNav li a .option {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #EEE;
	text-align: center;
	margin-right: 5px;
}

@media(max-width:767px) {
	#tNav li a .option {
		display: none;
	}
}

.hitNum {
	font-size: 12px;
	margin-left: 10px;
}

@media(max-width:767px) {
	.hitNum {
		margin-left: 5px;
	}
}

/* VIDEO LIST, USER LIST, LIST LIST
------------------------------------------------------------------------------*/

.videoList,
#userList,
#guestBookList,
#listList {
	padding: 20px 0;
	background: #FFF;
	margin-bottom: 20px;
}

.videoList,
#userList,
#listList {
	padding: 20px 0 0;
}

#guestBookList {
	padding: 20px 0;
}

.videoList article,
#userList article,
#listList article {
	border-bottom: 1px solid #EEE;
	padding: 0 10px 10px;
	margin-bottom: 10px;
}

.videoList article,
#videoListSub article,
#userList article,
#listList article {
	position: relative;
}

.videoList article:last-of-type,
#userList article:last-of-type,
#listList article:last-of-type {
	margin: 0;
}

#userList article:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

#videoListSub article {
	padding: 10px 0;
}

@media(max-width:767px) {
	#videoListSub article {
		padding: 10px;
	}
}

#videoListSub > article:nth-child(odd),
#videoListSub div article:last-child {
	background: #F4EDE5;
}

.videoList figure,
#userList figure,
#videoListSub figure,
#listList figure {
	float: left;
	margin-right: 10px;
	position: relative;
}

.videoList figure,
#listList figure,
.videoList figure img,
#listList figure img {
	width: 160px;
	height: auto;
}

.videoList figure,
#listList figure {
	max-height: 160px;
	overflow: hidden;
}

#userList figure,
#userList figure img {
	width: 120px;
	height: 120px;
}

.videoList figure img,
#videoListSub figure img,
#userList figure img,
#listList figure img {
	vertical-align: bottom;
}

@media(max-width:767px) {
	.videoList figure,
	#listList figure,
	.videoList figure img,
	#listList figure img {
		width: 128px;
		height: auto;
	}
	
	.videoList figure,
	#listList figure {
		max-height: 128px;
	}
	
	#userList figure,
	#userList figure img {
		width: 96px;
		height: 96px;
	}
}

#videoListSub figure,
#videoListSub figure img {
	width: 128px;
	height: auto;
}

#videoListSub figure {
	max-height: 128px;
	overflow: hidden;
}

.duration,
.label {
	position: absolute;
	display: block;
	color: #FFF;
	text-align: center;
	opacity: 0.7;
	padding: 5px 10px;
}

.duration {
	font-size: 12px;
	bottom: 0;
	right: 0;
	background: #000;
}

.duration strong {
	font-size: 16px;
	font-weight: normal;
	margin-right: 3px;
}

.videoCheck {
	position: absolute;
	top: 5px;
	right: 5px;
}

.videoCheck input {
	-moz-transform-origin: right top;
	-moz-transform: scale(1.5,1.5);
	-webkit-transform-origin: right top;
	-webkit-transform: scale(1.5,1.5);
}

.label {
	font-size: 9px;
	top: 0;
	left: 0;
}

.label.XVIDEOS,
.label.xHamster,
.label.REDTUBE,
.label.erovideo {
	background: #000;
}

.label.XVIDEOS strong,
.label.xHamster strong,
.label.REDTUBE strong {
	color: #DE2600;
	font-weight: normal;
}

.label.FC2 {
	background: #DE2600;
}

.label.JavyNow {
	background: #2DC9FF;
}

.label.erovideo {
	color: #4FA7DD;
}

.label.erovideo strong {
	color: #EE3671;
	font-weight: normal;
}

.label.Pornhub {
	background: #F90;
}

.label.Pornhub strong {
	color: #000;
	font-weight: normal;
}

#userList .label {
	font-size: 12px;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #000;
	border-radius: 50%;
}

.videoList .info,
#userList .info,
#videoListSub .info,
#listList .info {
	float: left;
}

@media(max-width:767px) {
	.videoList .info,
	#videoListSub .info,
	#listList .info {
		float: none;
		margin-left: 138px;
	}
	
	#userList .info {
		float: none;
		margin-left: 106px;
	}
}

.videoList .info,
#listList .info {
	width: 680px;
}

.videoList .info {
	height: 120px;
}

#userList .info {
	width: 720px;
}

@media(max-width:767px) {
	.videoList .info,
	#userList .info,
	#listList .info {
		width: auto;
		height: auto;
	}
}

#videoListSub .info {
	width: 302px;
	height: 96px;
}

@media(max-width:767px) {
	#videoListSub .info {
		width: auto;
		height: auto;
	}
}

.videoList h2,
#userList h2,
#listList h2 {
	word-break: break-all;
	margin-bottom: 10px;
}

#videoListSub h2 {
	margin-bottom: 5px;
}

@media(max-width:767px) {
	.videoList h2,
	#userList h2,
	#videoListSub h2,
	#listList h2 {
		margin-bottom: 5px;
	}
}

.videoList h2 a,
#userList h2 a,
#listList h2 a {
	font-size: 18px;
	font-weight: normal;
}

@media(max-width:767px) {
	.videoList h2 a,
	#userList h2 a,
	#listList h2 a {
		font-size: 12px;
		line-height: 1.3;
	}
}

#videoListSub h2 a {
	line-height: 1.3;
	font-weight: normal;
}

@media(max-width:767px) {
	#videoListSub h2 a {
		font-size: 12px;
	}
}

.videoList h2 a:hover,
#userList h2 a:hover,
#videoListSub h2 a:hover,
#listList h2 a:hover {
	text-decoration: underline;
}

@media(max-width:767px) {
	.videoList .tagList {
		margin: 0 0 10px;
	}
}

#videoInfo .tagList {
	margin: 0 0 15px;
}

#listList .tagList {
	margin: 0 0 10px;
}

.videoList .tagList li,
#videoInfo .tagList li,
#listList .tagList li {
	display: inline-block;
	margin-right: 5px;
}

.videoList .tagList li a,
#videoInfo .tagList li a,
#listList .tagList li a {
	color: #000;
	font-size: 11px;
	line-height: 1.2;
	background: #F3F3F3;
}

#videoInfo .tagList li {
	margin-bottom: 5px;
}

#videoInfo .tagList li a {
	display: block;
	padding: 7px 10px;
	border-radius: 10px;
}

#videoInfo .tagList #tagAD a {
	background: #E0F9E3;
}

@media(max-width:767px) {
	#videoInfo .tagList li a {
		font-size: 9px;
		font-weight: bold;
	}
}

#videoInfo .tagList li a:before {
	color: #CFCFCF;
	content: "\f02b";
	font-family: FontAwesome;
	margin-right: 5px;
}

#videoInfo .tagList #tagAD a:before {
	color: #00BF00;
}

#videoInfo .added {
	color: #1EB1DE;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border: 1px solid #1EB1DE;
}

.dataList {
	margin: 0 0 5px;
}

#videoInfo .added,
#userList .dataList {
	margin: 0 0 10px;
}

#videoInfo .dataList,
#videoInfo .btnList {
	margin: 0 0 20px;
}

#userList .dataList {
	background: #F9F9F9;
	padding: 10px;
}

.dataList li {
	display: inline-block;
	margin-right: 5px;
}

.btnList li {
	width: auto;
	float: left;
	margin-right: 10px;
}

@media(max-width:767px) {
	.btnList li {
		width: 50%;
		box-sizing: border-box;
		margin: 0;
	}

	.btnList li:first-child {
		padding-right: 5px;
	}

	.btnList li:last-child {
		float: right;
		padding-left: 5px;
	}
}

@media(max-width:767px) {
	#userList .dataList li {
		display: block;
		margin-bottom: 3px;
	}
	
	#userList .dataList li:last-child {
		margin-bottom: 0;
	}
}

.dataList li i,
#userList .dataList li {
	font-size: 12px;
}

.dataList li span {
	font-size: 15px;
}

#videoInfo .dataList li {
	font-size: 18px;
}

.dataList li i {
	color: #CCC;
}

.dataList li p i {
	color: #FFF;
}

.videoList .desc,
#userList .desc,
#listList .desc,
#myListInfo .desc,
.searchResult .desc {
	color: #777;
	font-size: 12px;
	line-height: 1.3;
	word-break: break-all;
}

@media(max-width:767px) {
	.videoList .desc {
		font-size: 11px;
	}
}

.videoList .desc,
#listList .desc {
	margin-bottom: 5px;
}

#userList .desc {
	margin-bottom: 10px;
}

.videoList .addUser,
#videoListSub .addUser,
#listList .addUser {
	height: 30px;
	white-space: nowrap;
}

.videoList .addUser,
#videoListSub .addUser {
	position: absolute;
}

@media(max-width:767px) {
	.videoList .addUser,
	#videoListSub .addUser {
		position: static;
	}
}

#videoInfo .addUser {
	background: #EAFCFC;
	padding: 10px;
	bottom: 10px;
}

.videoList .addUser {
	left: 180px;
	bottom: 10px;
}

#videoListSub .addUser {
	left: 138px;
	bottom: 10px;
}

.addUser dt {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

.addUser dd {
	color: #777;
	font-size: 12px;
	line-height: 30px;
}

@media(max-width:767px) {
	#videoInfo .addUser dd {
		line-height: 1.3;
	}
}

.addUser dd a,
.addUser span {
	margin-right: 3px;
}

.addUser dd a {
	color: #000;
	text-decoration: underline;
}

@media(max-width:767px) {
	.videoList .addUser dd span,
	#videoListSub .addUser dd span,
	#listList .addUser dd span,
	.searchResult .addUser dd span {
		display: none;
	}
}

.addUser .btnFollow {
	color: #FFF;
	text-decoration: none;
	margin-left: 20px;
}

time {
	color: #000;
	margin: 0 3px;
}

.info .btnMy,
.info .btnMyDelete,
#listList .btnMy,
#listList .btnMyDelete,
.info .btnFollow,
.info .btnUnFollow,
.btnEdit {
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 1;
}

#listList .thumbList {
	margin-bottom: 10px;
}

.thumbList li {
	float: left;
	width: 40px;
	height: 40px;
	overflow: hidden;
	margin-right: 5px;
}

.thumbList li img {
	width: auto;
	height: 40px;
	vertical-align: bottom;
}

/* VIDEO
------------------------------------------------------------------------------*/

#videoMainCnt {
	float: left;
	width: 640px;
	background: #FFF;
}

@media(max-width:767px) {
	#videoMainCnt {
		float: none;
		width: 100%;
		padding: 10px 0 0;
		margin: 10px 0 0;
	}
}

#slider,
#cntList {
	margin: 0 0 20px;
}

@media(max-width:767px) {
	#slider {
		width: 320px;
		margin: 0 auto 20px;
	}
	
	#player iframe {
		width: 320px !important;
	}
}

#slider li {
	height: 480px;
	overflow: hidden;
}

@media(max-width:767px) {
	#slider li {
		height: auto;
		max-height: 240px;
	}
}

.deletedVideo {
	color: #FFF;
	background: #636363;
	width: 640px;
	height: 480px;
	text-align: center;
	line-height: 480px;
}

@media(max-width:767px) {
	.deletedVideo {
		width: 320px;
		height: 240px;
		line-height: 240px;
	}
}

#vidImgPosterMP4,
#playBtn {
	width: 320px !important;
	height: 240px !important;
}

#cntList,
.paging {
	text-align: center;
}

.paging {
	padding: 10px 0;
}

#cntList li,
.paging li {
	display: inline-block;
}

#cntList li {
	cursor: pointer;
	margin: 0 5px 0 0;
}

#cntList li,
.paging li a {
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background: #D9D9D9;
	padding: 10px 12px;
	border-radius: 20px;
}

.paging li a {
	display: block;
}

@media(max-width:767px) {
	#cntList li,
	.paging li a {
		font-size: 10px;
		padding: 8px 10px;
	}
}

#cntList .current,
.paging .current a {
	background: #00F;
}

.btnMore a {
	display: block;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

.btnMore i {
	float: right;
}

#videoInfo,
#videoComment {
	padding: 0 10px 20px;
}

#videoInfo h1 {
	font-size: 24px;
	font-weight: normal;
	line-height: 1.3;
	margin: 0 0 20px;
}

@media(max-width:767px) {
	#videoInfo h1 {
		font-size: 18px;
	}
}

#videoDesc {
	color: #777;
	line-height: 1.5;
	word-break: break-all;
	margin: 0 0 20px;
}

@media(max-width:767px) {
	#videoDesc {
		font-size: 12px;
	}
}

#videoDesc a {
	color: #000;
}

#videoDesc a:hover {
	text-decoration: underline;
}

.followed {
	color: #2DE3E4;
	font-weight: bold;
}

#videoInfo .followed {
	display: inline-block;
	line-height: 28px;
	border: 1px solid #2DE3E4;
	padding: 0 10px;
	margin-left: 20px;
}

#userList .followed {
	font-size: 12px;
	margin-bottom: 10px;
}

@media(max-width:767px) {
	#videoInfo .followed {
		display: block;
		text-align: center;
		margin-left: 0;
		margin-top: 10px;
	}
}

#videoSubCnt {
	float: right;
	width: 440px;
	margin: 0 0 20px;
}

@media(max-width:767px) {
	#videoSubCnt {
		float: none;
		width: 100%;
	}
}

#videoSubCnt h3,
#news_list h3 {
	font-size: 12px;
	background: #F4EDE5;
	padding: 15px 10px;
}

@media(max-width:767px) {
	.addUser .btnFollow,
	#videoInfo .followed {
		display: block;
		width: 50%;
		text-align: center;
		margin: 10px auto 0;
	}
}

/* COMMENT
------------------------------------------------------------------------------*/

#videoComment h2 {
	margin-bottom: 20px;
}

#postBox {
	background: #F9F9F9;
}

#guestBookList #postBox {
	margin: 0 10px 20px;
}

#postBox p:first-child {
	color: #636363;
	background: #EEE;
	line-height: 40px;
	padding: 10px;
	cursor: pointer;
}

#videoComment ul {
	margin-top: 20px;
}

#videoComment li,
#guestBookList li {
	margin-bottom: 10px;
}

#guestBookList li {
	border-top: 1px solid #EEE;
	padding: 10px 10px 0;
}

#guestBookList .res,
#guestBookList .resPost {
	border-top: none;
	padding-top: 0;
}

#guestBookList .res {
	min-height: 30px;
}

#videoComment .icon,
#guestBookList .icon {
	float: left;
	width: 30px;
	height: 30px;
}

#videoComment dl,
#guestBookList dl,
#guestBookList .res,
#guestBookList .resPost {
	margin-left: 40px;
}

#videoComment dt,
#guestBookList dt {
	font-size: 13px;
	margin-bottom: 5px;	
}

#videoComment dt a,
#guestBookList dt a {
	color: #000;
	font-weight: bold;
}

#videoComment dt span,
#guestBookList dt span {
	color: #777;
	font-size: 10px;
	margin-left: 10px;
}

#guestBookList dt .resLink {
	font-weight: normal;
	text-decoration: underline;
	margin-left: 10px;
}

#videoComment dd,
#guestBookList dd {
	font-size: 12px;
	line-height: 1.5;
}

#postBox #commentPost {
	display: none;
}

#commentPost {
	position: relative;
	padding: 10px;
}

.resPost p {
	position: relative;
	display: inline-block;
	width: 402px;
}

@media(max-width:767px) {
	.resPost p {
		width: 210px;
	}
}

#postBox span,
.resPost span {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

#postBox img,
.resPost img {
	width: 40px;
	height: 40px;
}

/* ADD BOX
------------------------------------------------------------------------------*/

.layerBox {
	width: 50%;
	padding: 20px;
	background: #fff;
	position: fixed;
	display: none;
	z-index: 2;
}

@media(max-width:767px) {
	.layerBox {
		width: 70%;
	}
}

.layerBox h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.layerBox .label {
	position: inherit;
}

.layerBox li {
	margin: 0 0 10px;
}

.labelList {
	margin: 0 0 5px;
}

.labelList li {
	display: inline-block;
	margin: 0 0 5px;
}
  
#overlay {
	z-index: 1;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background: rgba(31,176,75,0.75);
}

#addBoxClose,
#listNewBoxClose,
#listEditBoxClose {
	display: block;
	background: #000;
	padding: 0 10px;
	color: #FFF;
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

/* SEARCH
------------------------------------------------------------------------------*/

.searchResult {
	background: #FFF;
	margin-bottom: 10px;
}

.searchResult h1 {
	font-size: 24px;
	line-height: 50px;
	background: #ECE6DE;
	padding: 0 10px;
	position: relative;
}

@media(max-width:767px) {
	.searchResult h1 {
		font-size: 15px;
	}
}

.searchResult #listTitle {
	font-size: 20px;
	line-height: 1.3;
	padding: 10px;
}

.searchResult .dataList {
	padding: 10px 10px 0;
	margin-bottom: 10px;
}

.searchResult .desc {
	padding: 0 10px 10px;
	margin-top: 10px;
}

.searchResult > dl {
	padding: 10px;
}

.searchResult .addUser {
	padding: 0 10px 10px;
}

.searchResult > dl dt,
.searchResult > dl dd {
	display: inline;
}

@media(max-width:767px) {
	.searchResult > dl dt,
	.searchResult > dl dd {
		font-size: 12px;
	}
}

.searchResult dd {
	margin-right: 5px;
}

#filterSetting {
	display: none;
}

#filterSetting dt {
	padding: 0 10px;
}

#filterSetting dd {
	padding: 5px 10px;
}

#filterSetting dt {
	line-height: 30px;
	background: #EEE;
}

#filterSetting li {
	display: inline-block;
	line-height: 25px;
	margin-right: 5px;
}

#filterSetting a {
	color: #000;
}

#filterSetting a.label {
	position: inherit;
	vertical-align: middle;
	color:  #FFF;
	font-size: 15px;
	line-height: 25px;
	height: 25px;
	padding: 0 10px;
}

#filterSetting a.label.erovideo {
	color: #4FA7DD;
}

#filterSetting a span {
	color: #CCC;
	margin-right: 5px;
}

#filterSetting #searchSiteList {
	padding: 10px 10px 5px;
}

#searchSiteList li {
	margin: 0 0 5px;
}

#searchSiteList .label span {
	display: inline-block;
}

#searchSiteList .label span i {
	color: #FFF;
	line-height: 25px;
	height: 25px;
}

#filterSetting .fa-dot-circle-o,
#filterSetting .fa-check-square {
	color: #000;
}

#searchSiteList .label .fa-check-square {
	color: #FFF;
}

.searchResultHit {
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}

.searchResultHit strong {
	font-weight: normal;
	font-size: 24px;
	margin-right: 5px;
}

/* MY LIST
------------------------------------------------------------------------------*/

#myListInfo {
	background: #FFF;
	padding: 10px;
}

#myListInfo h2 {
	font-weight: normal;
	line-height: 1.3;
	padding: 10px 110px 10px 20px;
	background: #F4EDE5;
	min-height: 40px;
	margin-bottom: 20px;
	position: relative;
}

#myListInfo h2:after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #F4EDE5 transparent transparent transparent;
}

#listPublish {
	line-height: 60px;
	background: #F9F9F9;
	padding: 0 10px;
	margin-bottom: 10px;
}

#myListInfo a {
	color: #000;
}

#folderList {
	border-bottom: 1px solid #EEE;
	margin-bottom: 10px;
}

#folderList li {
	padding: 11px 10px;
	border-top: 1px solid #EEE;
}

#folderList .current {
	background: #F9F9F9;
}

#folderList .subFolder {
	position: relative;
	padding-left: 70px;
}

#folderList .pubListFolder {
	position: relative;
	padding-left: 50px;
}

#folderList a {
	font-size: 15px;
	line-height: 1.2;
}

#folderList span {
	position: absolute;
	left: 30px;
	top: 5px;
	color: #FFF;
	display: inline-block;
	text-align: center;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
}

#folderList .subFolder span {
	left: 30px;
}

#folderList .pubListFolder span {
	left: 10px;
}

#btnListNew {
	cursor: pointer;
	line-height: 1.2;
}

.labelLock {
	background: #434A54;
}

.labelUnlock {
	background: #1EB1DE;
}

#myListInfo h2 span {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
}

#myListInfo .desc {
	padding: 10px;
}

#changeFolder {
	font-size: 12px;
	border: 1px solid #EEE;
}

#changeFolder select {
	max-width: 300px;
}

@media(max-width:767px) {
	#changeFolder select {
		width: 100px;
	}
}

#noVideos {
	text-align: center;
}

/* FOOTER
------------------------------------------------------------------------------*/

body > footer {
	width: 1100px;
	padding: 0 0 30px;
	margin: 20px auto 0;
}

@media(max-width:767px) {
	body > footer {
		width: auto;
		padding: 0 10px 10px;
	}
}

#siteMap {
	background: #F4EDE5;
	padding: 20px;
	margin-bottom: 50px;
}

#siteMap div {
	float: left;
	width: 25%;
}

@media(max-width:767px) {
	#siteMap div {
		float: none;
		width: auto;
	}
}

#siteMap h4 {
	font-weight: normal;
	margin-bottom: 10px;
}

@media(max-width:767px) {
	#siteMap h4 {
		font-size: 12px;
		margin-bottom: 5px;
	}
}

#siteMap li {
	margin-bottom: 5px;
}

@media(max-width:767px) {
	#siteMap div {
		margin-bottom: 20px;
	}
	
	#siteMap div:last-child {
		margin-bottom: 0;
	}
	
	#siteMap li {
		display: inline;
		margin: 0 5px 0 0;
	}
}

#siteMap li a {
	color: #777;
	font-size: 12px;
}

@media(max-width:767px) {
	#siteMap li a {
		font-size: 11px;
	}
}

#siteMap li a:hover {
	text-decoration: underline;
}

body > footer p {
	color: #999;
	font-size: 10px;
	text-align: center;
}

/* LOADING
------------------------------------------------------------------------------*/

#loadingView {
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFF;
	opacity: 0.5;
	background-image: url('/images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* THEME
------------------------------------------------------------------------------*/

body.theme_1 {
	background-color: #FEF1EB;
}

.theme_1 #uNav li a {
	background: #FEEAE2;
}

#colorList .theme_1,
.theme_1 #uNav li a:hover {
	background: #FEE3D8;
}

body.theme_2 {
	background-color: #FFF9ED;
}

.theme_2 #uNav li a {
	background: #FFF5DD;
}

#colorList .theme_2,
.theme_2 #uNav li a:hover {
	background: #FFEFC9;
}

body.theme_3 {
	background-color: #F4FAF3;
}

.theme_3 #uNav li a {
	background: #EBF7E9;
}

#colorList .theme_3,
.theme_3 #uNav li a:hover {
	background: #DFF2DB;
}

body.theme_4 {
	background-color: #F3F9FE;
}

.theme_4 #uNav li a {
	background: #E9F5FE;
}

#colorList .theme_4,
.theme_4 #uNav li a:hover {
	background: #E2F2FE;
}

body.theme_5 {
	background-color: #F6F7F8;
}

.theme_5 #uNav li a {
	background: #EAEDEF;
}

#colorList .theme_5,
.theme_5 #uNav li a:hover {
	background: #E0E5E8;
}

body.theme_6 {
	background-color: #FEF6F7;
}

.theme_6 #uNav li a {
	background: #FCEAEC;
}

#colorList .theme_6,
.theme_6 #uNav li a:hover {
	background: #FBE0E4;
}

body.theme_7 {
	background-color: #F4EFF9;
}

.theme_7 #uNav li a {
	background: #EEE8F7;
}

#colorList .theme_7,
.theme_7 #uNav li a:hover {
	background: #E9E0F4;
}

/* FAM
------------------------------------------------------------------------------*/

.videoList > div,
#videoListSub > div,
#videoMainCnt .fam,
.rectangle {
	display: none;
}

#fam_med2_ol img,
#fam_advs_ol img,
#fam_masit_ol img {
	vertical-align: bottom;
}

@media(max-width:767px) {
	.videoList > div,
	#videoListSub > div,
	#videoMainCnt .fam,
	.rectangle  {
		display: block;
	}
	
	.videoList > div img,
	#videoListSub > div img {
		vertical-align: bottom;
	}
	
	.videoList > div span,
	#videoListSub > div span {
		font-size: 12px;
		line-height: 1.3;
	}
	
	.videoList div > div,
	#videoListSub div > div {
		margin-right: 10px !important;
	}
	
	.videoList > div:first-child {
		margin: 0 0 10px;
	}
	
	.rectangle {
		margin: 0 0 20px;
	}
	
	.videoList > div:nth-of-type(2) {
		margin: 10px 0 0;
	}
	
	#videoMainCnt .fam {
		width: 320px;
		height: 100px;
		margin: 0 auto 10px;
	}
	
	body > aside div > img {
		vertical-align: bottom;
	}
	
	body > aside span {
		font-size: 20px;
		line-height: 1.3;
		width: 100% !important;
		box-sizing: border-box;
		padding: 10px !important;
		left: 0 !important;
		margin: 0 !important;
	}
}

/* MAIST
------------------------------------------------------------------------------*/

body > a {
	display: none;
}

@media(max-width:767px) {
	body > a {
		display: inherit;
	}
}

/* NEWS LIST
------------------------------------------------------------------------------*/

#news_list {
	display: none;
}

@media(max-width:767px) {
	#news_list {
		display: block;
	}
	
	#news_list ul {
		background: #FFF;
	}
	
	#news_list ul li {
		padding: 10px;
		border-bottom: 1px solid #EEE;
	}
	
	#news_list ul li:last-child {
		border-bottom: none;
	}
	
	#news_list ul li a {
		line-height: 1.3;
	}
}