/* colores e imagenes de la página web   */
#wrap {background:#fff url(fondo.jpg) center top repeat-x;color:#292a25;}
a{color:#013952;}
a:hover{color:#013952;text-decoration:underline}
h3{color:#013952;}
h3 a {color:#013952; text-decoration: none; }
.resum-noticia a, .resum-noticia-extensa a{color:#013952; font-weight:bold; text-decoration: none; }
.resum-agenda-index a, .resum-agenda-index h{ color: #013952;}

#cabecera { background:#013952 url(fons-capselera.jpg) repeat-x;color:#ccc;}
/* #cabecera h1#logo a{background:url(logo-uv.jpg) no-repeat;} */
.menu-servicios .form-submit{background:transparent url(lupa.jpg) no-repeat;}
.menu-servicios ul li.buscador form {width: 18em;}
#menu-principal{background:#cbc0a0;color:#282828;}
#menu-principal ul li a:hover{background:#e6e3d2;color:#282828;}
#menu-principal .menu1{}
#menu-principal .menu2{}
#menu-principal .menu3{}
#menu-principal .menu4{}
#menu-principal .menu5{}
#menu-principal .menu6{}
#menu-desplegable{background:#e3e2dd;color:#282828;border-bottom:1px solid #a6a69c;border-right:1px solid #a6a69c; position: relative; top: -1px;}
#menu-desplegable ul.submenu1{border-right:1px solid #e3e2dd;border-left:1px solid #a6a69c;margin: 0;
    padding: 0.83em 0;}
#menu-desplegable ul.submenu2{border-right:1px solid #e3e2dd;border-left:1px solid #a6a69c;}
#menu-desplegable ul.submenu3{border-right:1px solid #e3e2dd;border-left:1px solid #a6a69c;}
#menu-desplegable ul.submenu4{border-right:1px solid #e3e2dd;border-left:1px solid #a6a69c;}
#menu-desplegable ul.submenu5{border-right:1px solid #e3e2dd;border-left:1px solid #a6a69c;}
#menu-desplegable ul.submenu6{border-right:1px solid #a6a69c;border-left:1px solid #a6a69c;}
#menu-desplegable ul li{background:transparent url(boton-flecha.gif) left center no-repeat;color:#000;}
#menu-desplegable ul li a{color:#000;}
#menu-desplegable ul li a:hover{color:#000;}
#menu-desplegable .desplegar{border-left:1px solid #a6a69c;border-top:1px solid #a6a69c;}
.desplegar p{background:transparent url(boton-desplegar.jpg) left center no-repeat;}
.active p{background:transparent url(boton-plegar.jpg) left center no-repeat;}

#submenu{background:#e6e3d2;color:#282828;border-bottom:1px solid #fff;}
#submenu li h4 a{color: #282828; text-decoration: none; }
#submenu li h4 a:hover{ color:#013952; }

#menu-segundos{background:#e6e3d2;color:#282828;border-bottom:1px solid #fff;}
#menu-segundos .overview li h4 a{color: #282828; text-decoration: none;}
#menu-segundos .overview li h4 a:hover{ color:#013952; }
#slider-principal .panel-foto .txt { color:#fff; font-weight: lighter;  }
#slider-principal .panel-foto .txt a { color:#fff;  }
#slider-principal .pie-slider { background:transparent url(negre-transparent.png) repeat; color: #fff; }
#slider-principal ul.pager{ color:#fff;}
#slider-principal ul.pager li a{color:#fff;}
.menu-slider ul{ background:transparent url(blau-transparent.png) repeat; }
.menu-slider ul li {border-bottom:1px dotted #fff;color:#fff;}
.menu-slider ul li a {color:#fff; }
.menu-slider ul li a.activo {background: none repeat scroll 0 0 #FFFFFF;color: #000000;}
.menu-slider ul li a:hover {color:#000; }
.menu-slider ul li:hover {border-bottom:1px dotted #152330;background:#fff;color:#000;}
.menu-slider ul li.last {color:#fff;}
.menu-slider ul li.last:hover {background:#fff;color:#000;}
.menu-slider-segons ul{background:#d8d1b7;}
.menu-slider-segons ul li{border-bottom:1px solid #ffffff;color:#b3ab9e;background:transparent;}
.menu-slider-segons ul li a{display:block;color:#3f3c35;}
.menu-slider-segons ul li a:hover{display:block;color:#3f3c35;background:#e6e3d2;}
.menu-slider-segons ul li:hover{background:#e6e3d2;}
.menu-slider-segons ul li a.activo{display:block;color:#3f3c35;background:#e6e3d2;}
.entry-content ul li{background:#fff url(boton-flecha-r.gif) left 0.86em no-repeat;}

.entry-content li.novetat ul li{background:#fff url(boton-flecha-r.gif) left 0.56em no-repeat;}

.entry-content ul.llistat-content li{border-bottom:1px dotted #000;}
.entry-content ul.llistat-content-last li{border-bottom:1px dotted #000;}
.entry-content ul.llistat-content li a{text-decoration: none;}
.entry-content ul.llistat-content-last li a{text-decoration: none;}
.titol-bloc{text-align:left;background:#e6e3d2;}
.titol-bloc a:hover{text-decoration: underline; }

 /* .menu-segundos{text-align:left;background:#e6e3d2;} */
 .menu-segundos{text-align:left;background:#D8D1B7;}
.menu-segundos a:hover{text-decoration: underline; }

.menu-quintos{
	text-align:left;
	background:none repeat scroll 0 0 #E6E3D2;
}
.menu-quintos a:hover{
	text-decoration: underline; 
}

 .menu-quintos li {
    border-color: #013952;
}


.titol-bloc2{background:#e6e3d2;}
.titol-bloc2 b{color:#013952;}
.titol-bloc2 a:hover{text-decoration: underline; }
.titulo-segundos{color:#013952;}
.form-data{background:#fff;border:1px solid #ccc;}
.form-calendari{background:transparent url(calendari.jpg) no-repeat;}
.navegador-articles{background:#FFF;}
#content-slider ul.pager li a.prev {background:transparent url(p-anterior.jpg) left 50% no-repeat;}
#content-slider ul.pager li a.next {background:transparent url(p-seguent.jpg) right 50% no-repeat;}
.p-anterior{background:transparent url(p-anterior.jpg) left 50% no-repeat;}
.p-seguent{background:transparent url(p-seguent.jpg) right 50% no-repeat;}
.p-anterior-color{background:transparent url(p-anterior-color.jpg) left 50% no-repeat;}
.p-seguent-color{background:transparent url(p-seguent-color.jpg) right 50% no-repeat;}
span.titol{color:#013952;}
span.titol-doctorat{color:#013952;}

p.data span.mes{color:#ff0000;}
p.data span.dia{color:#606e79;}
ul.llistat-1 li,ul.llistat-2 li,ul.llistat-3 li,ul.llistat-4 li{border-bottom:1px dotted #000;}
ul.llistat-1 li:hover,ul.llistat-2 li:hover,ul.llistat-3 li:hover,ul.llistat-4 li:hover{color:#013952;border-bottom:1px dotted #013952;}
tr.titulo-tabla{background:#e6e3d2;}
.grid3-1{border-bottom:1px solid #013952;}
.grid3-2{border-bottom:1px solid #013952;}
.grid3-3{border-bottom:1px solid #013952;}
.grid3-4{border-bottom:1px solid #013952;}
.menu-sidebar ul{background:#d8d1b7;}
.menu-sidebar ul li{border-bottom:1px solid #ffffff;color:#3f3c35;}
.menu-sidebar ul li a{color:#3f3c35; display: block;}
.menu-sidebar ul li a:hover{color:#3f3c35;}
.menu-sidebar ul li:hover{border-bottom:1px solid #ffffff;background:#e6e3d2;}
.menu-sidebar ul li .active{background:#e6e3d2;}
.menu-sidebar ul li.active{border-bottom:1px solid #ffffff;background:#e6e3d2;}
.menublanc-sidebar ul{border-top:1px dotted #013952;}
.menublanc-sidebar ul li{border-bottom:1px dotted #013952;color:#013952;background:#fff;}
.menublanc-sidebar ul li a{color:#013952;}
.menublanc-sidebar ul li a:hover,
ul.llistat-1 li:hover,
ul.llistat-2 li:hover,
ul.llistat-3 li:hover,
ul.llistat-4 li:hover,
ul.llistat-1 li a:hover,
ul.llistat-2 li a:hover,
ul.llistat-3 li a:hover,
ul.llistat-4 li a:hover{color:#000; background:#eee;}

.menublanc-sidebar ul li:hover{border-bottom:1px solid #b1afa3;color:#000;}
.links-sidebar{background:#cfccc3 url(li-gris.jpg);}
.links-sidebar ul li{border-bottom:1px solid #b1afa3;}
.links-sidebar ul li:hover{color:#000;}
.links-sidebar ul li.estalvi{background:transparent url(li-estalvi.jpg) left center no-repeat;}
.links-sidebar ul li.postgrau{background:transparent url(li-postgrau.jpg) left center no-repeat;}
.links-sidebar ul li.parc{background:transparent url(li-parc.jpg) left center no-repeat;}
.links-sidebar ul li.videos{background:transparent url(li-videos.jpg) left center no-repeat;border-bottom:0;}
/* 
#footer {background:#3f4545;color:#fff;}
.pie-pagina{background:#3f4545;color:#fff;}
*/
.pie-pagina a{color:#ccc;}
.pie-pagina a:hover{color:#fff;}

table.sortable td {
    border-bottom: 1px solid #013952;
    border-left: 10px solid #FFFFFF;
    border-right: 10px solid #FFFFFF;
    padding: 4px 0;
}

.titulo-corto-asignatura{
	position:relative;
	float:left;
	color:#013952;
	font-weight: 600;
	width:20%;
}

.titulo-corto-convocatorias{
	position:relative;
	float:left;
	color:#013952;
	font-weight: 600;
	width:41%;
	margin-left:1em;
}
.convocatorias-examen{
	position:relative;
	float:left;
	color:#013952;
	font-weight:600;
	width:10em;
	height:5em;
	text-align:center;
	padding-top: 2.5em;
}


.caja-mapa-web ul li{background:#fff url(boton-flecha-r.gif) left 0.86em no-repeat;}

/*.caja-mapa-web{border: 0.1em solid #B3AB9E;}*/

#content .caja-mapa-web h3{
	text-align:left;
	background:none repeat scroll 0 0 #E6E3D2;
}

.caja-mapa-web-sevicios h3{
	background-color: #013952;
}

.caja-mapa-web-sevicios{
	/*background-color: #013952;
	background: url("blau-transparent.png") repeat scroll 0 0 transparent;*/
}

#calendario{
		 background: none repeat scroll 0 0 #F9F5E2;
}

.cercador .mes{
 		background: none repeat scroll 0 0 #E6E3D2;
}

#calendario td.actual{

		background-color: green;


}

#calendario td.evento{


}

#calendario td.seleccionado{
		background-color: #0a3869;
		color: #F9F5E2
}

#calendario td.seleccionado a{
		color: #F9F5E2
}

#calendario  td.actual a{
		color: #F9F5E2
}

#calendario thead{
	background-color: #B3AB9E
}

/* Estilos buscador Google */
.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
color: #013952!important;
}

.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
color: #013952!important;
}
/* Fin estilos buscador Google */