.imagenNoticiaDerecha{
  float: right;
  margin-left: 1em;
  margin-bottom:1em;
  text-align: center;
  max-width: 30.35em;
  outline: 0px;
  vertical-align: baseline;
  display: block;
}
#content .entry-content .imagenNoticiaDerecha img {
  max-width:30em;
  margin:0px;
}

.videoYoutube{
  display:block;
  margin-left:10px;
  margin-bottom:10px;
  margin-top:5px;
}

#contentAmpliado {
  display: inline;
  float: left;
  width: 98%;
}

.mini-video1 img {
 width:100%;
 height:100%;
}

.mini-video2 img {
 width:100%;
 height:100%;
}

.mini-video3 img {
 width:100%;
 height:100%;
}
.descripcio-video{
	float:left;
	position:relative;
	clear:both;
	font-size: 0.9em;
	height: 80px;
	overflow: hidden;
}
.content-video {
    margin: 10px 0 40px;
    position: relative;
    text-align: center;
}

.content-video p{
    text-align: left;
 		
}

.videos-izq {
	float:left;
	width:50%;
	text-align: left
}

.videos-dcha {
	float:left;
	width:50%;
	text-align:justify

}

#bloc-video{
	display: inline;
  float: left;
  margin: 0;
  border-top: 0.3em solid #C2C0BC;
  width:58.1em
}

#bloc-video h2{
    color: #3F4545;
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: left;
}

.resum-videos {
    display: inline;
    float: left;
    margin: 0 0.5em 0.82em 0.82em;
    text-align: left;
    width: 13.2em;
}

.resum-videos h3{
    font-size:1em;
}

.resum-videos img{

width:144px;

}

.resum-noticia .desc{
 		float: left;
    width: 18.3em;
}

.barra-menu ul{
	list-style: none outside none;
	margin-bottom: 1.5em
}


.article-agenda p.right{
 text-align:right;
}

div#videosHome{
	margin:0.83em 0;
	padding:0px;
	float:left;
	display:block;
	width:28.333em;
	overflow:hidden;
}
div#bloc-videos div.mostrar-video div#playerRelatedContent{
	position:relative;
	width:340px;
	height:300px;
}
div#bloc-videos div.mostrar-video div#playerRelatedContent img.playicon{
	width:54px;
	height:50px;
	display:block;
	margin:-27px 0px 0px -25px;
	position:absolute;
	top:50%;
	left:50%;
}
div#bloc-videos div.mostrar-video div#playerRelatedContent img.imgVideo{
	width:340px;
	height:300px;
}
#noticia-actualidad {

	float:left;
	margin-left: 1%;
    width: 60%;
}
#noticia {
    float: right;
    margin-right: 3%;
    width: 35%;
}
 .resum-noticia-actualidad h3 {
    font-family: Arial;
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: left;
	margin-bottom: 0.5em;
}
.resum-noticia-actualidad{
	 display: inline;
    float: left;
    margin: 0 0.5em 0.83em 1.4em;
    padding-top: 0.8em;
    text-align: justify;
    width: 95%;
}
.resum-noticia-actualidad a{color:#013952; font-weight:bold; text-decoration: none; }
.resum-noticia-actualidad img {
    display: inline;
    float: left;
    margin: 0 1.67em 0.5em 0;
    width: 100px;
}
.fila-noticia{
		position: relative;
    float:left;
    width:100%;
}

.columna-tabla-codigo{
	text-align: center;
    width: 8%;
}

.columna-tabla-numero{
	text-align: center;
    width: 10%;
}
.columna-tabla-mediano{
text-align: left;
    width: 15%;
}

.columna-tabla-medio{
	text-align: center;
    width: 29%;
}
.columna-tabla-corto{
	text-align: left;
    width: 16%;
}
.columna-tabla-fecha{
	text-align: left;
    width: 17%;
}

#Adaptacion_Informacion{
	position:relative;
	width:100%;
}

#Adaptacion_Informacion font{
	font-family:Arial !important;
	font-size:1em !important;
}

#Adaptacion_Informacion span{
	font-family:Arial !important;
	font-size:1em !important;
}

#Adaptacion_Informacion p{
	font-family:Arial !important;
	font-size:1em !important;
}

#Adaptacion_Informacion td{
	border: none !important;
}
#Adaptacion_Calendario{
	position:relative;
	width:100%;
}

#Adaptacion_Calendario font{
	font-family:Arial !important;
	font-size:1em !important;
}

#Adaptacion_Calendario span{
	font-family:Arial !important;
	font-size:1em !important;
}

#Adaptacion_Calendario p{
	font-family:Arial !important;
	font-size:1em !important;
}
#Adaptacion_Calendario td{
	border: none !important;
}

#Adaptacion_Explicacion{
	position:relative;
	width:100%;
}

#Adaptacion_Explicacion font{
	font-family:Arial !important;
	font-size:1em !important;
}

#Adaptacion_Explicacion span{
	font-family:Arial !important;
	font-size:1em !important; 
}

#Adaptacion_Explicacion p{
	font-family:Arial !important;
	font-size:1em !important;
}

#Adaptacion_Explicacion td{
	border: none !important;
}

.active{
	font-weight: bold;
}

.medio{
  float: left;
    margin: 2%;
    position: relative;
    width: 45%;
}

.G1{
  width: 41%;
}


.G2{
  width: 51%;
}

.G1 .titol{
	 clear: both !important;
    float: left !important;
    width: 75% !important;
}

.G2 .titol{
	 clear: both !important;
    float: left !important;
    width: 52% !important;
}

.medio .titol{
	 clear: both;
    float: left;
    width: 60%;
}

.medio .titol-doctorat{
	 clear: both;
    float: left;
    width: 55%;
}

.medio img {
  padding-bottom: 2px;
  margin-top: 15px;
  margin-left: 75px !important;
}

.completo .titol{
	 clear: both;
    float: left;
}
.medio h3{
	border-bottom: 1px solid #013952;
    margin: 0 14% 4% 3%;}
.completo p{
	border-bottom: 1px solid #D8D1B7;
    padding-bottom: 0px;
    overflow:auto;
}


.medio p{
	border-bottom: 1px solid #D8D1B7;
    padding-bottom: 2px;
}

.G1 p{
	border-bottom: 1px solid #D8D1B7;
    padding-bottom: 2px;
}

.medioG2 p{
	border-bottom: 1px solid #D8D1B7;
    padding-bottom: 2px;
}
.completo{
	  float: left;
    margin: 2%;
    position: relative;
    width: 96%;
}
.completo2{
	  float: left;
    margin: 2%;
    position: relative;
    width: 96%;
}
.curt{
	 width: 28%;
}
.llarg{
	width:62%;
}

.llarg2{
	float:left;
	width:38%;
}
.entero{
	width: 100%;
}

tr.titulo-tabla  .texto-pequenyo{
	font-size:0.8em;
}

ol{
margin-left: 1.83em;
}
.destacats-menu{
	float: left;
     width: 18.6em;
	position:relative;
	left:-20em;
	top:-44em;
}
.destacats-menu ul li {
	border-bottom: 1px solid #B3AB9E;
    background-color: #E6E3D2;
}
.destacats-menu ul{
	list-style: none outside none !important;
}
.destacats-menu li {
    background:  left center  #E6E3D2!important;
}

.destacats-menu ul li a {
    color: #3F3C35;
    display: block;
}

.lista-info-asignatura{
	position:relative;
	float:left;
	width: 50%;
	list-style: none outside none !important;
	
}
.lista-info-asignatura li{
	width:100%;
	position:relative;
	float:left;
	 font-size: 1.3em;
       margin-top:0.7em;
}

.info-asignatura{
	position:relative;
	float:left;
	text-align:left;
	width:76.7em;
	margin-bottom:1em;
	margin-left: 1.6em;
	border-bottom: 2px solid #DCE0E1;
}


#sidebar-left-asignatura .menu-sidebar ul {
    background: none repeat scroll 0 0 #DCE0E1;
}


#sidebar-left-asignatura .menu-sidebar ul li.active {
    background: none repeat scroll 0 0 #b9c3c5;
}


#sidebar-left-asignatura .menu-sidebar ul li .active {
    background: none repeat scroll 0 0 #b9c3c5;
}

#sidebar-left-asignatura .menu-sidebar ul li:hover{
	border-bottom:1px solid #ffffff;background:#b9c3c5;
}

#content-asignatura .menu-segundos {
    background: none repeat scroll 0 0 #DCE0E1;
}

#content-asignatura .menu-segundos  li{
    border-left: 1px solid #fff;
}

#content-asignatura .menu-segundos {
     width: 60.16em;
}
#content-asignatura .entry-content {
     width: 60.16em;
}

#content-asignatura .menu-segundos  li.first{
     border-left: medium none;
}

#content-asignatura .menu-segundos a {
    color: #3F3C35;
	padding: 0.6em 1em;
}

#content-asignatura .menu-segundos a.active {
    background: none repeat scroll 0 0 #B9C3C5;
}

.titulo-alternatiu2 {
    clear: both;
    color: #666;
    float: left;
    font-size: 1.8em;
    position: relative;
    text-align: left;
    width: 96.3%;
	}



.tabla-examenes {
	border-collapse:collapse;
	margin-top:2em;
	float:left;
}

.tabla-examenes th{
	background: #DCE0E1;
	 padding: 4px 0 4px 5px;
}

.tabla-examenes tr.barra{
	border-bottom: 1px solid #DCE0E1;

}


.tabla-examenes td{
	padding: 3px 0 3px 5px;
	width:15.74em
}

.tabla-creditos{
border-collapse:collapse;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  float: right;
  
}

.titulo-tabla-asginatura{
 padding: 0.2em 0 0.2em 1.1em;
	width:6.6em;
	background: #DCE0E1;
background-origin:border-box

}

.creditos{

border-bottom: 1px solid #FFFFFF;
border-top: 1px solid #DCE0E1;
}

.datos-tabla{

border: 1px solid #DCE0E1;
  padding: 0 1.1em;

}

.recuadro-titulo{
	position:relative;
	float:left;
	width:6.6em;
	background: #DCE0E1;
	margin-right:1em;
	padding-left:0.5em;
}

.recuadro-titulo2{
	position:relative;
	float:left;
	margin-top:0.6em;
}

.lista-contenidos{
	margin-left:2%;
	position:relative;
	float:left;
}

.lista-grupos{
	margin-left:2%;
	position:relative;
	float:left;
	list-style: none outside none !important;
}

.lista-grupos ul  li{
	width:90%;
	position:relative;
	float:left;
	list-style: none outside none !important;
}

.lista-grupos-normal{
	margin-left: 1em;
	padding-right:5em;
	border-bottom: 1px solid #CBC0A0;
}

.titulo-asignaturas{
    color: inherit;
	background: #DCE0E1;
    float: left;
    font-size: 1.2em;
	padding-left: 2%;
	padding-top:0.45em;
    position: relative;
    text-align: left;
    width: 98%;
	height:1.9em;
}

.grupos{
	position:relative;
	float: left;
	width:45%;
	margin: 2%;
}

.datos-convocatoria{
	position:relative;
	float:left;
	width:12em;
	height:6.9em;
	padding-top:0.7em;
}

.capa-tabla-subgrupos{
	position:relative;
	float:left;
	width:100%;
	 font-size: 0.9em;
}

.tabla-subgrupos{
	width:100%;
	 margin-top: 3em;
	border-collapse:collapse;

}

.tabla-subgrupos  span.titol{
	color:inherit;
	font-size: inherit;
}

.tabla-subgrupos td{
	padding: 4px 0 4px 5px;
	vertical-align:top;
	text-align:left;
	border-bottom:1px solid #DCE0E1;
}



.tabla-subgrupos th{
	background: #DCE0E1;
	padding: 4px 0 4px 5px;
	
}

.convocatorias{
	text-align:left;
	color: black;
}

.asignatura li{
	font-size: 1.5em;
    margin-top: 0.6em;
}

.asignatura span{
	color: inherit;
	float: left;
	position: relative;
	width: 6.6em;
	margin-right: 6.06em;
}

span.nombre-asignatura {
	 font-weight: bold;
	 margin-right: 1em;
	 width: 31em;
}
.lista-info-asignatura{
	width:76.85%;
}

.lista-creditos{
	width: 23%;
	float: right;
	list-style: none outside none !important;
	position: relative;
}	
.lista-creditos li{
	width:100%;
	position:relative;
	float:left;
}

.informacion-no-disponible{
	font-size:1.5em;
	width:80%;
	padding: 0 10% 10% 29%;
}

#noticia-actualidad {
	width: 59%;
}

.caja-mapa-web{
	width: 31.2%;
	float: left;
	margin-right: 1em;
}



#content .caja-mapa-web h3{
	padding: 5px 0em 5px 1.2em;
}

#content .caja-mapa-web ul{
	float:left;
	list-style: none;
	text-align: left;
	padding-left: 1em;
	margin-top: 1em;
}

#content .caja-mapa-web ul ul{
	margin-top: 0em;
}

#content .caja-mapa-web li{
	list-style: none;
	overflow: hidden;
}

#content .site-map-content{
	overflow: hidden;
	margin-left: 0.9em;
	width: 60em;
	margin-bottom: 2em;
}

#content .caja-mapa-web ul li{
	padding: 3px 0 3px 1.25em;
}

#content .caja-mapa-web ul li a {
	display: block;
}

.menu-quintos{
	border-top: 1px solid #ffffff;
}

/* Estilos para compartir en noticias */
#content .addthis_toolbox.addthis_default_style {
	margin-left: 0.95em;
}

#content .entry-content .addthis_toolbox.addthis_default_style {
	margin-left: 0em;
}

.addthis_esdeveniment {
margin: 0em 0em 0em -0.2em!important;
}

.comparteix_pdf {
	float: left;
	margin-right: 1px!important;
}



