@font-face {
	font-family: 'Inoreader_Landing_Font';
	src:url('fonts/Inoreader_Landing_Font.eot?-59cgrl');
	src:url('fonts/Inoreader_Landing_Font.eot?#iefix-59cgrl') format('embedded-opentype'),
		url('fonts/Inoreader_Landing_Font.ttf?-59cgrl') format('truetype'),
		url('fonts/Inoreader_Landing_Font.woff?-59cgrl') format('woff'),
		url('fonts/Inoreader_Landing_Font.svg?-59cgrl#Inoreader_Landing_Font') format('svg');
	font-weight: normal;
	font-style: normal;
}[class^="icon-"],[class*=" icon-"]{font-family:'Inoreader_Landing_Font';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-play:before{content:"\e609"}.icon-cross:before{content:"\e608"}.icon-video-camera:before{content:"\e607"}.icon-facebook:before{content:"\e600"}.icon-google:before{content:"\e601"}.icon-google_plus:before{content:"\e602"}.icon-twitter:before{content:"\e603"}.icon-arrow_up_small:before{content:"\e604"}.icon-arrow_down_small:before{content:"\e605"}.icon-rss_positive:before{content:"\e606"}