
/* - base.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/base.css?original=1 */
/* */
/* */
#content ul,
.portletStaticText ul {
list-style-type: disc;
margin-left: 2em;
}
#content ol,
dl.portlet ol,
.portletStaticText ol {
list-style-type: decimal;
margin-left: 2em;
}
#content li,
dl.portlet li,
.portletStaticText li {
margin-bottom: 0.25em;
line-height: 1.5em;
display: list-item;
}
/* */
#content .discreet,
#sidebar .discreet,
.portletStaticText .discreet {
color: #666;
font-size: 85%;
font-weight: normal;
}
#content .visualHighlight,
.portletStaticText .visualHighlight {
background-color: #ffb;
}
#content .pullquote,
.portletStaticText .pullquote {
margin: 0 1em 0.5em 0.5em;
font-weight: bold;
line-height: 1.25em;
float: right;
width: 35%;
clear: right;
color: #444;
font-size: 1.6em;
letter-spacing: -0.08em !important;
}
#content .callout,
.portletStaticText .callout {
background: #eee;
padding: 1em;
border-left: 1em solid #ccc;
clear: both;
}
/* */
#content div.documentByLine {
font-size: 85%;
display: block;
color: #666;
}
#content img.tileImage,
#content div.newsImageContainer {
float: right;
margin: 0 1em 0.5em 1em;
}
.eventDetails {
float: right;
clear: right;
margin: 0 0 0.5em 1em;
}
#content .eventDetails .eventDetail {
clear: both;
}
/* */
/* */
table.listing,
table.plain {
border-spacing: 0;
border-collapse: collapse;
}
table.invisible td,
table.invisible th,
table.plain td,
table.plain th,
table.listing td,
table.listing th {
padding: 0.5em 1em;
vertical-align: top;
}
table.plain th,
table.plain td {
border: 1px solid #ddd;
}
table.plain th {
text-align: left;
}
table.listing td.listingCheckbox,
table.listing th.listingCheckbox {
text-align: center;
}
table.listing {
border-left: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
table.listing .top {
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
border-right: 1px solid #ddd;
}
table.listing th {
text-align: left;
color: #666;
border: 0.1em solid #e7e7e7;
border-style: solid solid none;
background: #ddd;
}
table.listing tr.odd th {
border: 0.1em solid #fff;
border-style: solid solid none none;
}
table.listing tbody th {
font-weight: bold;
}
table.listing tbody tr {
text-align:left;
}
table.listing tbody tr.odd {
background: #eee;
}
table.listing tbody tr td {
background: transparent;
}
table.listing tbody tr.odd td {
background: #eee;
}
table.listing td {
border-right: 1px solid #ddd;
}
.icons-on #listing-table td {
line-height: 2em;
}
table.listing a {
border: none;
display: inline-block;
border-bottom: none !important;
}
table.listing td.draggable {
text-shadow: White 1px 1px 1px;
background: #ddd !important;
border-bottom: 1px solid white;
padding: 0.4em 0.4em 0 0.5em;
}
/* */
table.vertical {
}
table.vertical th {
text-align: right;
}
table.vertical td {
border-top: 0.1em solid #e7e7e7;
padding: 0.5em;
}
/* */
table.grid td,
table.grid th {
border: 1px solid #e7e7e7;
padding: 0.5em;
}
.dragindicator {
outline: 2px solid #FFD700;
}
#foldercontents-order-column {
padding: 0;
}
div.listingBar {
font-size: 80%;
margin: 1em 0;
}
div.listingBar .next {
display: inline-block;
float: right;
}
div.listingBar .previous {
display: inline-block;
}
div.listingBar a {
display: inline-block;
padding: 0.25em 0.5em;
border: 0.1em solid #ccc;
}
div.listingBar a:hover {
color: White;
background-color: #329fd7;
border-color: #329fd7;
}
/* */
/* */
dl.portalMessage,
div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning {
margin: 1em 0;
font-size: 80%;
border: 1px solid #996;
background-color: #ffffe3;
clear:both;
}
dl.portalMessage a,
#content dl.portalMessage a,
div.attention a,
div.caution a,
div.danger a,
div.error a,
div.hint a,
div.important a,
div.note a,
div.tip a,
div.warning a,
#content div.attention a,
#content div.caution a,
#content div.danger a,
#content div.error a,
#content div.hint a,
#content div.important a,
#content div.note a,
#content div.tip a,
#content div.warning a {
color: black;
border-bottom: 1px solid #888;
}
dl.portalMessage dt,
div > .admonition-title {
background-color: #996;
font-weight: bold;
float: left;
margin: 0 0.5em 0 0;
padding: 0.5em 0.75em;
color: White;
line-height: 1.25em;
}
dl.portalMessage dd,
div.attention > .last,
div.caution > .last,
div.danger > .last,
div.error > .last,
div.hint > .last,
div.important > .last,
div.note > .last,
div.tip > .last,
div.warning > .last {
padding: 0.5em 0.5em;
margin: 0;
line-height: 1.25em;
}
dl.warning {
border-color: #d80;
}
dl.warning > dt,
.warning > .admonition-title {
background-color: #d80;
}
dl.error {
border-color: red;
}
dl.error > dt,
.error > .admonition-title {
background-color: #d00;
}
.warning > dd,
.warning > .last {
background-color: #fd7;
}
.error > dd,
.error > .last {
background-color: #fdc;
}
/* */
#content dl.portalMessage,
#content div.attention a,
#content div.caution a,
#content div.danger a,
#content div.error a,
#content div.hint a,
#content div.important a,
#content div.note a,
#content div.tip a,
#content div.warning a {
font-size: 100%;
}
#content dl.portalMessage dt,
#content div > .admonition-title {
margin: 0 0.5em 0 0;
padding: 0.5em 0.75em;
}
#content dl.portalMessage dd,
#content div.attention > .last,
#content div.caution > .last,
#content div.danger > .last,
#content div.error > .last,
#content div.hint > .last,
#content div.important > .last,
#content div.note > .last,
#content div.tip > .last,
#content div.warning > .last {
margin: 0;
}
/* */
/* */
dl.collapsible {
border: 0.1em solid #8cacbb;
margin: 1em 0;
padding: 0;
}
dl.collapsible dt.collapsibleHeader {
display: block;
float: left;
background: White;
line-height: 1.2em;
vertical-align: middle;
font-size: 90%;
position: relative;
top: -0.6em;
width: auto;
margin: 0 0 -0.6em 1em;
padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
margin: 0;
padding: 0 1em 0.4em;
clear: left;
}
/* */
dl.collapsible dd.collapsibleContent > dl {
margin: 0;
padding: 0;
}
dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
padding: 0 0.5em 0 2em;
background: White url(treeExpanded.png) no-repeat 0.5em 50%;
cursor: pointer;
}
dl.collapsedBlockCollapsible {
border: none;
height: 1em;
width: auto;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader,
dl.collapsedBlockCollapsible dt.collapsibleHeader {
float: none;
position: relative;
margin: 0 0 0 1em;
padding: 0 0.5em 0 2em;
line-height: 1.2em;
cursor: pointer;
background: White url(treeCollapsed.png) no-repeat 0.5em 50%;
}
dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
display: none;
}
dl.collapsedInlineCollapsible {
border: none;
height: 1em;
width: auto;
display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
position: static;
float: none;
margin: 0;
padding: 0 0 0 2em;
line-height: 1em;
cursor: pointer;
display: inline;
}
/* */
/* */
.comment {
margin-top: 1.5em;
font-size: 80%;
}
.comment .documentByLine {
margin-left: 1em;
}
.comment .formControls {
margin-left: 0;
}
.commentTime {
color: #666;
}
.commentBody {
padding: 1em;
margin: 0.5em 0;
border-radius: 0.5em;
-webkit-border-radius: 0.5em;
-moz-border-radius: 0.5em;
box-shadow: 0 0 1em 0 #888;
-moz-box-shadow: 0 0 0.5em 0 #888;
-webkit-box-shadow: 0 0 0.5em #888;
}
.comment h1,
.comment h2,
.comment h3,
.comment h4,
.comment h5,
.comment h6 {
font-weight: normal;
}
/* */
.reviewHistory,
.contentHistory {
display: inline;
color: Black;
}
.spacer {
margin: 1em;
}
.label {
font-weight: bold;
display: inline;
}
.label .fieldErrorBox {
font-weight: normal;
}
.optionsToggle {
border: 0.1em solid #8cacbb;
color: Black;
background-color: #dee7ec;
font-weight: normal;
font-size: 90%;
}
/* */
.highlightedSearchTerm {
background-color: #ffa;
}
dl.searchResults .highlightedSearchTerm {
background-color: transparent;
font-weight: bold;
}
/* */
.noInheritedRoles {
color: #a0a0a0;
}
/* */
.currentItem {
border-collapse: collapse;
border: 0.2em solid #ffa500;
padding: 0.1em;
}
/* */
/* */
fieldset#search-field {
border: none !important;
text-align: center;
}
input.searchPage {
font-size:200% !important;
}
#rss-subscription {
float: left;
line-height: 3em;
}
#search-results-bar .actionMenuContent {
margin-top: 1em;
padding: 0;
}
#search-filter {
background: #ddd;
margin: 0;
padding: 0;
}
#content #search-filter fieldset {
border: none !important;
position: relative;
padding: 0;
margin: 0;
}
#content #search-filter legend {
background: transparent;
font-size: 1.1em;
padding: 0.5em 0.9em;
font-weight: bold;
}
#search-filter .field {
background: #eee;
padding: 1em 1.5em;
margin: 0;
}
#search-filter .field label {
font-weight: normal;
}
#search-filter .formControls {
text-align:center
}
#search-results-wrapper {
margin-top: 1em;
}
form.searchPage h1.documentFirstHeading {
font-weight:normal;
letter-spacing:0;
float: left;
margin-right: 0.8em;
}
form.searchPage h1.documentFirstHeading .highlightedSearchTerm {
background: transparent !important;
}
#search-results-bar > * {
float: left;
}
#searchResultsSort{
float:right;
}
#search-results-bar {
position: relative;
z-index: 1;
float: left;
width: 100%;
border-top: 1px solid #DDD;
border-bottom: 1px solid #DDD;
padding: 1em 0;
}
#search-results-bar dl.actionMenu {
margin-bottom: 0;
}
#search-results-bar dd.actionMenuContent {
margin-left: 0;
padding-left: 0;
}
#search-results-bar dt.actionMenuHeader a {
border-bottom: none;
}
#search-results-bar dt.actionMenuHeader a::after {
content: " ▼";
}
#search-results {
padding: 1em;
}
.searchResults {
margin-top: 0;
}
#ajax-search-res {
display: none;
}
/* */
/* */
.image-left {
float: left;
margin: 0.5em 1em 0.5em 0;
}
.image-right {
float: right;
margin: 0.5em;
}
.image-inline {
float: none;
}
/* */
/* */
dl.toc {
float: right;
width: 35%;
font-size: 100%;
margin: 1em 0 0.5em 1.5em;
}
dl.toc dt {
margin-left: 1em;
font-weight: normal;
text-transform: uppercase;
}
dl.toc dd {
margin-bottom: 0;
padding-left: 2em;
}
dl.toc dd ol {
margin-left: 1.5em;
}
/* */
/* */
#portal-sitemap {
list-style: none;
margin-left: 0;
font-size: 130%;
font-weight: bold;
}
#portal-sitemap li {
list-style: none;
margin-left: 0;
}
#portal-sitemap a {
border-bottom: none;
display: block;
}
#portal-sitemap > li {
border-bottom:0.1em dotted #ddd;
line-height:1.8em;
padding:0.25em 1em;
margin-bottom: 0;
}
#portal-sitemap .navTreeLevel2,
#portal-sitemap .navTreeLevel2 ul {
font-size: 85%;
font-weight: normal;
margin-bottom: 0;
padding: 0.25em 0;
}
/* */
/* */
.photoAlbumEntry {
float: left;
position:relative;
overflow: hidden;
height: 185px;
width: 143px;
margin: 0em;
padding: 0px 6px 0px 9px;
text-align: center;
background-image: url('polaroid-single.png');
background-repeat: no-repeat;
}
.photoAlbumEntry img {
border: 1px solid #ccc;
display: block;
margin: 0 auto;
}
.photoAlbumEntryWrapper {
height: 130px;
width: 128px;
margin-bottom: 7px;
}
.photoAlbumEntry a {
display: block;
text-decoration: none;
font-size: 90%;
height: 169px;
width: 130px;
margin: 16px auto 0px;
}
.photoAlbumFolder {
background-image: url('polaroid-multi.png');
background-repeat: no-repeat;
}
.photoAlbumEntryTitle {
color: #76797c;
display: block;
width: 128px;
height: 3.6em;
}
/* */
/* */
.hiddenStructure {
display: block;
background: transparent;
background-image: none; /* */
border: none;
height: 0.1em;
overflow: hidden;
padding: 0;
margin: -0.1em 0 0 -0.1em;
width: 1px;
}
/* */
/* */
.ie6 .hiddenStructure,
.ie7 .hiddenStructure {
position: absolute;
}
#content .visualNoMarker {
list-style:none;
margin-left: 0;
}
.visualClear {
clear: both;
}
/* */
/* */
body.largeText { font-size: 125%; }
body.smallText { font-size: 85%; }
/* */
/* */
/* */
div.overlay {
width: auto;
height: auto;
/* */
display: none;
/* */
margin: 1em;
font-size: 80%;
}
div.overlay-iframe,
div.overlay-ajax {
width: 60%;
min-height: 100px;
z-index: 99; /* */
}
div.overlay-iframe {
height: 60%;
}
/* */
div.overlaybg div.close,
div.overlay div.close {
background-image: url(pb_close.png);
position: absolute;
left: -14px;
top: -14px;
cursor: pointer;
height: 30px;
width: 30px;
}
.pb-ajax {
overflow-y: auto;
}
.pb-ajax, .pb-image, .overlay iframe {
background-color: #fff;
border: 1px solid #999;
white-space: normal;
box-shadow: 0 0 3em 0.5em #666;
-moz-box-shadow: 0 0 3em 0.5em #666;
-webkit-box-shadow: 0 0 3em #666;
}
.pb-ajax > div {
width: 92%;
padding: 1em;
}
.pb-ajax .documentActions {display:none}
div.overlay div.close span {
display: block;
height: 1px;
margin: -1px 0 0 -1px;
overflow: hidden;
padding: 0;
width: 1px;
}
div.overlay textarea { width: 100%; }
/* */
div.overlay .link-parent { display: none; }
div.overlay #createGroup legend { display: none; }
div.overlay #createGroup fieldset { border: none; }
/* */
div.overlay p {
margin-bottom: 1em;
}
div.overlay label {
margin-bottom: 0.25em;
}
div.overlay a:hover {
color: #75ad0a;
}
div.overlay a:hover label{
cursor: pointer;
}
div.overlay a.selected {
color: #000000;
}
div.overlay .formTab {
margin-right:1em;
font-weight: bold;
}
div.overlay .formTab.lastFormTab {
margin-right:0em;
}
div.overlay .formControls a {
display: block;
margin: 0.75em;
}
/* */
/* */
#history dd {
}
div.historyRecord {
margin-bottom: 1em;
}
div.historyTools ul {
float: right;
margin: 2px 1em;
}
div.historyTools ul li {
display: inline;
padding: 0 0.015em;
}
div.historyTools ul li a{
border-bottom: none;
}
div.historyTools form {
display: inline;
}
.historyAction {
}
.historyByLine {
background: #ddd;
padding: 0.5em;
border-top-right-radius: 0.5em;
border-top-left-radius: 0.5em;
-webkit-border-top-right-radius: 0.5em;
-webkit-border-top-left-radius: 0.5em;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-topright: 0.5em;
}
div.historyLinks {
float: right;
clear: right;
margin: 0.5em 1em 0 0;
}
div.historyComment {
padding: 0.5em 1em;
border: 1px solid #ddd;
}
div.historyComment p {
margin: 0;
padding-top: 1px;
}
a.historyComparePrevious {
border-top: 1px dotted #ccc;
display: block;
margin-top: 1.5em;
margin-bottom: -0.5em;
text-align: center;
}
a.historyComparePrevious span {
background-color: white;
position: relative;
top: -0.75em;
padding: 0 0.5em;
}
/* */
/* */
.icons-on .contenttype-document {
background: no-repeat transparent 0px 4px url(contenttypes-sprite.png);
}
.icons-on .contenttype-event {
background: no-repeat transparent 0px -212px url(contenttypes-sprite.png);
}
.icons-on .contenttype-folder {
background: no-repeat transparent 0px -644px url(contenttypes-sprite.png);
}
.icons-on .contenttype-link {
background: no-repeat transparent 0px -1076px url(contenttypes-sprite.png);
}
.icons-on .contenttype-news-item {
background: no-repeat transparent 0px -1292px url(contenttypes-sprite.png);
}
.icons-on .contenttype-plone-site {
background: no-repeat transparent 0px -1508px url(contenttypes-sprite.png);
}
.icons-on .contenttype-collection {
background: no-repeat transparent 0px -1724px url(contenttypes-sprite.png);
}
.icons-on .contenttype-topic {
background: no-repeat transparent 0px -1724px url(contenttypes-sprite.png);
}
/* */
.icons-on #plone-contentmenu-factories .contenttype-file {
background: no-repeat transparent 0px -428px url(contenttypes-sprite.png);
}
.icons-on #plone-contentmenu-factories .contenttype-image {
background: no-repeat transparent 0px -860px url(contenttypes-sprite.png);
}
.icons-on .contenttype-document,
.icons-on .contenttype-event,
.icons-on .contenttype-folder,
.icons-on .contenttype-link,
.icons-on .contenttype-news-item,
.icons-on .contenttype-plone-site,
.icons-on .contenttype-collection,
.icons-on .contenttype-topic,
.icons-on #plone-contentmenu-factories .contenttype-file,
.icons-on #plone-contentmenu-factories .contenttype-image {
line-height: 2em;
display: inline-block;
*display: block;
padding-left: 20px !important;
}
/* */
/* */
.optionsBox {
overflow-y: auto;
border: solid 1px #999999;
background: #FFFFFF;
height: 14em;
width: 100%;
}
/* */
/* */
.ie7 div.optionsBox {
width: 50%;
}
.optionsBox LABEL {
padding: 2px 0 0 0;
display: block;
line-height: 1em;
font-weight: normal;
}
.optionsBox input{
vertical-align: middle;
margin: 1px 4px 4px 6px;
}
/* */
/* */
.ie7 .optionsBox input {
margin: 0px;
}
.optionsBox LABEL.checked {
background-color: #EEEEEE;
}
.optionsBox LABEL.hover {
background-color: #777777;
color: #FFFFFF;
}
#archetypes-fieldname-subject .formHelp {
font-weight: normal;
}
#existingTagsSection {
position: relative;
margin-left: 3em;
}
#existingTags {
float: left;
width: 50%;
}
#content #existingTags dd {
margin-bottom: 1px;
margin-left: 0;
}
#content #selectedTags, #content #newTags {
margin-bottom: 0;
margin-left: 0;
}
#content #selectedTagsSection {
margin-left: 3em;
float: left;
width: 43%;
margin-bottom: 0;
}
#newTagsSection {
width: 48%;
margin-left: 3em;
}
#content p.selectedTag {
margin-bottom: .4em;
}
#existingTagsTitle, #newTagsTitle {
float: left;
}
#existingTagsHelp, #newTagsHelp {
float: right;
}
#noTagsSelected, #oneOrMoreTagsSelected {
display: none;
}
#ajax-spinner {
display:none;
width: 20px;
height: 20px;
position: fixed;
background-position: center center;
top: 50%;
left: 50%;
margin-top: -10px;
margin-left: -10px;
}
/* */

}


/* - public.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/public.css?original=1 */
/* */
.state-published {
color: #436976 !important;
}
/* */
body {
font: 100% Arial, FreeSans, sans-serif;
background: White;
color: Black;
/* */
}
h1, h2, h3, h4, h5, h6 {
font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
font-weight: bold;
color: Black;
line-height: 1.5em;
}
h1, h2 {
letter-spacing: -0.05em;
}
h1 {
font-size: 2em;
}
h2 {
font-size: 1.75em;
}
h3 {
font-size: 1.25em;
}
h4 {
font-size: 1.25em;
}
h5 {
font-size: 1em;
}
h6 {
font-size: 0.8em;
}
h2, h3, h4, h5, h6 {
color: #444;
}
h2 a, h3 a, h4 a {
border-bottom: none !important;
}
p {
}
a:link, a:visited {
color: #205c90;
}
a:focus img {
outline: thin dotted;
}
dt {
font-weight: bold;
}
input {
font-family: "Lucida Grande", Arial, FreeSans;
}
q {
quotes: "“" "”" "‘" "’";
}
sup,
sub {
height: 0;
line-height: 1;
vertical-align: baseline;
_vertical-align: bottom;
position: relative;
}
sup {
bottom: 1ex;
}
sub {
top: 0.5ex;
}
/* */
/* */
#portal-header {
position: relative;
z-index: 2;
}
#portal-logo {
display: inline-block;
margin: 1.375em 0;
}
/* */
/* */
.ie6 #portal-logo,
.ie7 #portal-logo {
margin-top: 0;
}
#portal-globalnav {
clear: both;
font-size: 80%;
background: #ddd;
/* */
margin: 0 0 1em 0;
}
#portal-globalnav li {
}
#portal-globalnav li a {
display: inline-block;
padding: 0.5em 1em 1.8em 1em;
background: #ddd;
min-width: 6em;
white-space: normal;
border-right: 0.1em solid white;
}
#portal-globalnav .selected a,
#portal-globalnav a:hover {
background: #205c90;
color: White;
}
#portal-globalnav .selected a:hover {
background: #ddd;
color: #205c90;
}
#portal-personaltools {
float: right;
background: #e3e3e3;
position: relative;
z-index: 3; /* */
top: 0;
right: 0;
padding: 0.25em 0.5em;
font-size: 80%;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
-webkit-border-bottom-right-radius: 0.5em;
-webkit-border-bottom-left-radius: 0.5em;
-moz-border-radius-bottomleft: 0.5em;
-moz-border-radius-bottomright: 0.5em;
}
#portal-personaltools #anon-personalbar a {
float: left;
margin: 0 0.5em;
}
#portal-languageselector {
float: right;
background: #e3e3e3;
position: relative;
top: 0;
right: 1px;
z-index: 3; /* */
padding: 0.25em 0.5em;
font-size: 80%;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
-webkit-border-bottom-right-radius: 0.5em;
-webkit-border-bottom-left-radius: 0.5em;
-moz-border-radius-bottomleft: 0.5em;
-moz-border-radius-bottomright: 0.5em;
max-width: 50%;
}
#portal-searchbox {
float: right;
text-align: left;
clear: right;
margin: 1.2em 0;
font-size: 80%;
}
#portal-searchbox form {
white-space: nowrap;
}
#portal-searchbox label {
font-weight: normal;
}
#searchGadget {
width: 13em;
}
#searchGadget,
.LSBox input.searchButton {
}
.LSBox .searchSection {
}
#content input.searchField {
margin-bottom: 1em;
}
input.searchField {
-moz-appearance: searchfield;
}
/* */
.collapsible .collapser.collapsed {
padding-right: 14px;
background: url('arrowRight.png') center right no-repeat;
}
.collapsible .collapser.expanded {
padding-right: 14px;
background: url('arrowDown.png') center right no-repeat;
}
/* */
/* */
#LSResult {
position: absolute;
right: 0;
background: White;
margin: -1.5em 0 0 -7em;
}
#LSResult fieldset {
padding: 1em 0 0;
border: 0.1em solid #ccc;
}
#livesearchLegend {
background-color:#ccc;
padding:0.3em;
}
#LSResult .LSDescr {
font-size: 85%;
color: #666;
}
.LSRow,
#LSNothingFound {
display: block;
padding: 0.5em 1em;
white-space: normal;
width:28em;
}
.LSHighlight {
background: #ddd;
}
/* */
/* */
#portal-breadcrumbs {
font-size: 80%;
margin-bottom: 1em;
margin-left: 0.25em;
}
#portal-breadcrumbs a {
border-bottom: none;
display: inline-block;
}
.breadcrumbSeparator {
color: #666666;
}
/* */
/* */
#portal-siteactions {
font-size: 85%;
padding-bottom: 2em;
text-align: center;
clear: left;
}
#portal-siteactions li {
margin-right: 0.5em;
}
#portal-siteactions li a:hover {
color: #75ad0a
}
/* */
/* */
a.link-parent {
}
a.link-anchor {
border: none !important;
color: Black !important;
cursor: default !important;
}
#content a.link-overlay {
border-bottom: 1px dotted #205c90 !important;
}
dl dt .documentByLine {
font-weight: normal;
}
dl dt span.summary a {
border: none !important;
}
/* */
/* */
#content {
line-height: 1.5em;
clear: both;
font-size: 80%;
margin: 1em 0.25em 2em 0.25em;
}
/* */
body#content {
margin: 1em;
}
#content h1 {
margin-top: 0.5em;
}
#content h1.documentFirstHeading {
margin-top: 0;
}
#content p,
#content table,
#content dl,
dl.portlet p,
dl.portlet {
margin-bottom: 1em;
}
#content ul,
#content ol {
}
#content a:link,
dl.portlet a:link {
color: #205c90;
border-bottom: 0.1em solid #ccc;
}
#content a:visited,
dl.portlet a:visited {
color: #427597;
border-bottom: 0.1em solid #ccc;
}
#content a:hover,
dl.portlet a:hover {
color: #75ad0a !important; /* */
}
#content a:target {
background-color: #ffb;
}
#content span.link-external a {
background: transparent url(link_icon.png) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
#category {
font-size: 75%;
margin-bottom: 1em;
color: #666;
text-align: right;
}
#category a.link-category, span.selectedTag {
color: black;
padding: 0.25em 0.5em;
background: #ddd;
border-radius: 0.5em;
-webkit-border-radius: 0.5em;
-moz-border-radius: 0.5em;
}
#category a.link-category:hover {
background: #205c90;
color: White;
border-color: #205c90;
}
#category .separator {
display: none;
}
#content dt {
font-weight: bold;
margin-bottom: 0;
margin-right: 0;
}
#content-core dd {
margin: 0 0 1em 2em;
}
#content pre,
.portletStaticText pre {
background-color: #222;
color: White;
font-family: Consolas, Inconsolata, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
padding: 1em;
overflow-x: auto;
font-size: 90%;
margin-bottom: 1em;
line-height: 1.25em;
}
#content pre.python,
.portletStaticText pre.python {
background-color: White;
}
#content code,
.portletStaticText code {
font-family: Consolas, Inconsolata, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
#content table {
text-align: left;
border-collapse: collapse;
border-spacing: 0px;
}
#content .documentDescription,
#content #description {
color: #666;
margin-left: 0;
font: bold 1.25em "Helvetica Neue", Arial, FreeSans, sans-serif;
}
#content div.newsImageContainer a {
border-bottom: none;
}
#content div.newsImageContainer p.discreet {
margin: 0;
padding: 0.5em;
background-color: #666;
background-color: rgba(40,40,40,0.7);
color: White;
font-weight: bold;
position: relative;
width: 190px;
top: -3em;
}
/* */
#content .eventDetails {
border-color: #CCCCCC;
border-style: solid;
border-width: 0.08em;
width: 22em;
margin-top: 1em;
}
#content .eventDetails h2 {
background-color: #DDDDDD;
font-size: 100%;
letter-spacing: 0;
padding: 0.5em;
padding-left: 1em;
}
#content .eventDetails .eventDetail h3,
#content .eventDetails .eventDetail div {
padding: 2%;
}
#content .eventDetails .eventDetail h3 {
float: left;
font-size: 100%;
text-align: right;
width: 37%;
}
#content .eventDetails .eventDetail div {
float: left;
width: 55%;
}
/* */
/* */
img.image-left,
img.image-right,
.captioned img {
border: 1px solid #ddd;
}
dd.image-caption {
text-align: left;
padding: 0 0 0 3px; /**/
margin: 0;
color: #666;
font-size: 85%;
}
/* */
/* */
#portal-footer {
font-size: 75%;
background: #ddd;
padding: 1em;
margin: 1em 0;
line-height: 2em;
}
#portal-colophon {
font-size: 70%;
text-align: center;
margin-bottom: 1em;
}
#portal-colophon li {
padding:0 0.75em;
}
#portal-colophon a {
color: #444;
}
/* */

}


/* - collective.js.jqueryui.custom.min.css - */
@media screen {

/* collective.js.jqueryui: jqueryui.css */

/*! jQuery UI - v1.10.2 - 2013-04-29
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=%20Arial%2CFreeSans%2Csans-serif&fwDefault=normal&fsDefault=0.9em&cornerRadius=5px&bgColorHeader=dddddd&bgTextureHeader=flat&bgImgOpacityHeader=75&borderColorHeader=cccccc&fcHeader=444444&iconColorHeader=205c90&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=100&borderColorContent=cccccc&fcContent=444444&iconColorContent=205c90&bgColorDefault=205c90&bgTextureDefault=flat&bgImgOpacityDefault=45&borderColorDefault=cccccc&fcDefault=ffffff&iconColorDefault=ffffff&bgColorHover=dddddd&bgTextureHover=flat&bgImgOpacityHover=75&borderColorHover=448dae&fcHover=444444&iconColorHover=444444&bgColorActive=75ad0a&bgTextureActive=flat&bgImgOpacityActive=50&borderColorActive=cccccc&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=ffdd77&bgTextureHighlight=flat&bgImgOpacityHighlight=55&borderColorHighlight=dd8800&fcHighlight=000000&iconColorHighlight=dd8800&bgColorError=ffddcc&bgTextureError=flat&bgImgOpacityError=45&borderColorError=dd0000&fcError=000000&iconColorError=dd0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=75&opacityOverlay=30&bgColorShadow=999999&bgTextureShadow=flat&bgImgOpacityShadow=55&opacityShadow=45&thicknessShadow=0px&offsetTopShadow=5px&offsetLeftShadow=5px&cornerRadiusShadow=5px&ctl=themeroller
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:.1px;display:block}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted #000}.ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;margin-top:2px;padding:.5em .5em .5em .7em;min-height:0}.ui-accordion .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-noicons{padding-left:.7em}.ui-accordion .ui-accordion-icons .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-header .ui-accordion-header-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;overflow:auto}.ui-autocomplete{position:absolute;top:0;left:0;cursor:default}.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}.ui-button-icon-only{width:2.2em}button.ui-button-icon-only{width:2.4em}.ui-button-icons-only{width:3.4em}button.ui-button-icons-only{width:3.7em}.ui-button .ui-button-text{display:block;line-height:normal}.ui-button-text-only .ui-button-text{padding:.4em 1em}.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}input.ui-button{padding:.4em 1em}.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px}.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px}.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em}.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em}.ui-buttonset{margin-right:7px}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner{border:0;padding:0}.ui-datepicker{width:17em;padding:.2em .2em 0;display:none}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month-year{width:100%}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:700;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-dialog{position:absolute;top:0;left:0;padding:.2em;outline:0}.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}.ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:21px;margin:-10px 0 0 0;padding:1px;height:20px}.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0;overflow:auto}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px}.ui-draggable .ui-dialog-titlebar{cursor:move}.ui-menu{list-style:none;padding:2px;margin:0;display:block;outline:0}.ui-menu .ui-menu{margin-top:-3px;position:absolute}.ui-menu .ui-menu-item{margin:0;padding:0;width:100%}.ui-menu .ui-menu-divider{margin:5px -2px 5px -2px;height:0;font-size:0;line-height:0;border-width:1px 0 0}.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:2px .4em;line-height:1.5;min-height:0;font-weight:400}.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active{font-weight:400;margin:-1px}.ui-menu .ui-state-disabled{font-weight:400;margin:.4em 0 .2em;line-height:1.5}.ui-menu .ui-state-disabled a{cursor:default}.ui-menu-icons{position:relative}.ui-menu-icons .ui-menu-item a{position:relative;padding-left:2em}.ui-menu .ui-icon{position:absolute;top:.2em;left:.2em}.ui-menu .ui-menu-icon{position:static;float:right}.ui-progressbar{height:2em;text-align:left;overflow:hidden}.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%}.ui-progressbar .ui-progressbar-overlay{background:url(/++resource++jquery-ui-themes/sunburst/images/animated-overlay.gif);height:100%;filter:alpha(opacity=25);opacity:.25}.ui-progressbar-indeterminate .ui-progressbar-value{background-image:none}.ui-slider{position:relative;text-align:left}.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default}.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0}.ui-slider.ui-state-disabled .ui-slider-handle,.ui-slider.ui-state-disabled .ui-slider-range{filter:inherit}.ui-slider-horizontal{height:.8em}.ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left:-.6em}.ui-slider-horizontal .ui-slider-range{top:0;height:100%}.ui-slider-horizontal .ui-slider-range-min{left:0}.ui-slider-horizontal .ui-slider-range-max{right:0}.ui-slider-vertical{width:.8em;height:100px}.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}.ui-slider-vertical .ui-slider-range{left:0;width:100%}.ui-slider-vertical .ui-slider-range-min{bottom:0}.ui-slider-vertical .ui-slider-range-max{top:0}.ui-spinner{position:relative;display:inline-block;overflow:hidden;padding:0;vertical-align:middle}.ui-spinner-input{border:0;background:0;color:inherit;padding:0;margin:.2em 0;vertical-align:middle;margin-left:.4em;margin-right:22px}.ui-spinner-button{width:16px;height:50%;font-size:.5em;padding:0;margin:0;text-align:center;position:absolute;cursor:default;display:block;overflow:hidden;right:0}.ui-spinner a.ui-spinner-button{border-top:0;border-bottom:0;border-right:0}.ui-spinner .ui-icon{position:absolute;margin-top:-8px;top:50%;left:0}.ui-spinner-up{top:0}.ui-spinner-down{bottom:0}.ui-spinner .ui-icon-triangle-1-s{background-position:-65px -16px}.ui-tabs{position:relative;padding:.2em}.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0}.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:0;margin:1px .2em 0 0;border-bottom-width:0;padding:0;white-space:nowrap}.ui-tabs .ui-tabs-nav li a{float:left;padding:.5em 1em;text-decoration:none}.ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:-1px;padding-bottom:1px}.ui-tabs .ui-tabs-nav li.ui-tabs-active a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-tabs-loading a{cursor:text}.ui-tabs .ui-tabs-nav li a,.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a{cursor:pointer}.ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:1em 1.4em;background:0}.ui-tooltip{padding:8px;position:absolute;z-index:9999;max-width:300px;-webkit-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa}body .ui-tooltip{border-width:2px}.ui-widget{font-family:Arial,FreeSans,sans-serif;font-size:0.9em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,FreeSans,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #ccc;background:#fff url(/++resource++jquery-ui-themes/sunburst/images/ui-bg_flat_100_ffffff_40x100.png) 50% 50% repeat-x;color:#444}.ui-widget-content a{color:#444}.ui-widget-header{border:1px solid #ccc;background:#ddd url(/++resource++jquery-ui-themes/sunburst/images/ui-bg_flat_75_dddddd_40x100.png) 50% 50% repeat-x;color:#444;font-weight:bold}.ui-widget-header a{color:#444}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #ccc;background:#205c90 url(/++resource++jquery-ui-themes/sunburst/images/ui-bg_flat_45_205c90_40x100.png) 50% 50% repeat-x;font-weight:normal;color:#fff}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#fff;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #448dae;background:#ddd url(/++resource++jquery-ui-themes/sunburst/images/ui-bg_flat_75_dddddd_40x100.png) 50% 50% repeat-x;font-weight:normal;color:#444}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited{color:#444;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #ccc;background:#75ad0a url(/++resource++jquery-ui-themes/sunburst/images/ui-bg_flat_50_75ad0a_40x100.png) 50% 50% repeat-x;font-weight:normal;color:#fff}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#fff;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #d80;background:#fd7 url(/++resource++jquery-ui-themes/sunburst/images/ui-bg_flat_55_ffdd77_40x100.png) 50% 50% repeat-x;color:#000}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#000}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #d00;background:#fdc url(/++resource++jquery-ui-themes/sunburst/images/ui-bg_flat_45_ffddcc_40x100.png) 50% 50% repeat-x;color:#000}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#000}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#000}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url(/++resource++jquery-ui-themes/sunburst/images/ui-icons_205c90_256x240.png)}.ui-widget-header .ui-icon{background-image:url(/++resource++jquery-ui-themes/sunburst/images/ui-icons_205c90_256x240.png)}.ui-state-default .ui-icon{background-image:url(/++resource++jquery-ui-themes/sunburst/images/ui-icons_ffffff_256x240.png)}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(/++resource++jquery-ui-themes/sunburst/images/ui-icons_444444_256x240.png)}.ui-state-active .ui-icon{background-image:url(/++resource++jquery-ui-themes/sunburst/images/ui-icons_ffffff_256x240.png)}.ui-state-highlight .ui-icon{background-image:url(/++resource++jquery-ui-themes/sunburst/images/ui-icons_dd8800_256x240.png)}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(/++resource++jquery-ui-themes/sunburst/images/ui-icons_dd0000_256x240.png)}.ui-icon-blank{background-position:16px 16px}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:5px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:5px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:5px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:5px}.ui-widget-overlay{background:#aaa url(/++resource++jquery-ui-themes/sunburst/images/ui-bg_flat_75_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30)}.ui-widget-shadow{margin:5px 0 0 5px;padding:0;background:#999 url(/++resource++jquery-ui-themes/sunburst/images/ui-bg_flat_55_999999_40x100.png) 50% 50% repeat-x;opacity:.45;filter:Alpha(Opacity=45);border-radius:5px}

/* collective.js.jqueryui: sunburst-patch.css */

/* Due to usage of #content, dl.portlet and !important in public.css rules 
we must re-gain priority here for all jQueryUI link styles 
*/

#content .ui-state-default a, #content .ui-state-default a:link, #content .ui-state-default a:visited, 
dl.portlet .ui-state-default a, dl.portlet .ui-state-default a:link, dl.portlet .ui-state-default a:visited,
a.ui-state-default,
#content a.ui-state-default, #content .ui-state-default a, #content .ui-state-default a:link, #content .ui-state-default a:visited,
dl.portlet a.ui-state-default, dl.portlet .ui-state-default a, dl.portlet .ui-state-default a:link, dl.portlet .ui-state-default a:visited,
#content .ui-state-active a, #content .ui-state-active a:link, #content .ui-state-active a:visited,
dl.portlet .ui-state-active a, dl.portlet .ui-state-active a:link, dl.portlet .ui-state-active a:visited  { color: #ffffff !important; }

#content .ui-widget-header a,
dl.portlet .ui-widget-header a,
a.ui-state-hover,
#content a.ui-state-hover, #content .ui-state-hover a, #content .ui-state-hover a:hover,
dl.portlet a.ui-state-hover, dl.portlet .ui-state-hover a, dl.portlet .ui-state-hover a:hover { color: #444444 !important;}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a,
#content .ui-state-highlight a, #content .ui-widget-content .ui-state-highlight a, #content .ui-widget-header .ui-state-highlight a,
dl.portlet .ui-state-highlight a, dl.portlet .ui-widget-content .ui-state-highlight a, dl.portlet .ui-widget-header .ui-state-highlight a { color: #000000 !important; }


}


/* - columns.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/columns.css?original=1 */
div.row {
float: left;
width: 100%;
display: block;
position: relative;
}
div.cell {
position: relative;
float: left;
left: 100%;
}
/* */
.ie6 div.cell {
float: none;
}
/* */
div.width-1  { width:  4%    }
div.width-2  { width: 10.25% }
div.width-3  { width: 16.5%  }
div.width-4  { width: 22.75% }
div.width-5  { width: 29%    }
div.width-6  { width: 35.25% }
div.width-7  { width: 41.5%  }
div.width-8  { width: 47.75% }
div.width-9  { width: 54%    }
div.width-10 { width: 60.25% }
div.width-11 { width: 66.5%  }
div.width-12 { width: 72.75% }
div.width-13 { width: 79%    }
div.width-14 { width: 85.25% }
div.width-15 { width: 91.5%  }
div.width-16 { width: 97.75% }
/* */
/* */
div.position-0  { margin-left: -98.875% }
div.position-1  { margin-left: -92.625% }
div.position-2  { margin-left: -86.375% }
div.position-3  { margin-left: -80.125% }
div.position-4  { margin-left: -73.875% }
div.position-5  { margin-left: -67.625% }
div.position-6  { margin-left: -61.375% }
div.position-7  { margin-left: -55.125% }
div.position-8  { margin-left: -48.875% }
div.position-9  { margin-left: -42.625% }
div.position-10 { margin-left: -36.375% }
div.position-11 { margin-left: -30.125% }
div.position-12 { margin-left: -23.875% }
div.position-13 { margin-left: -17.625% }
div.position-14 { margin-left: -11.375% }
div.position-15 { margin-left:  -5.125% }
/* */
/* */
div.width-1\3a 2 { width:    47.75%; } /* */
div.width-1\3a 4 { width:    22.75%; } /* */
div.width-3\3a 4 { width:    72.75%; } /* */
div.width-full   { width:    97.75%  }
div.position-1\3a 4 {margin-left:    -73.875%;} /* */
div.position-1\3a 2 {margin-left:    -48.875%;} /* */
div.position-3\3a 4 {margin-left:    -23.875%;} /* */
/* */
div.width-1\3a 3 { width: 31.08%; } /* */
div.width-2\3a 3 { width: 64.42%; } /* */
div.position-1\3a 3 {margin-left: -65.545%;} /* */
div.position-2\3a 3 {margin-left: -32.205%;} /* */

}


/* - authoring.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/authoring.css?original=1 */
/* */
/* */
/* */
#content ul.formTabs {
background-color: #ddd;
border: 0.3em solid #ddd;
}
#edit-bar {
background-color: #75ad0a;
border: 0.25em solid #75ad0a;
font-size: 80%;
min-height: 2em;
margin-bottom: 1em;
padding-top: 0.05em;
}
#content-views {
float: left;
background-color: #75ad0a;
}
/* */
/* */
.ie6 ul#content-views{
margin: -2px -3px 0px -3px;
}
#content-views a {
color: White;
}
/* */
#edit-bar,
#content ul.formTabs,
#content-core ul.formTabs {
display: block;
border-style: solid solid none solid;
margin-left: 0;
border-top-right-radius: 0.5em;
border-top-left-radius: 0.5em;
-webkit-border-top-right-radius: 0.5em;
-webkit-border-top-left-radius: 0.5em;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-topright: 0.5em;
}
#content li.formTab,
#content-core li.formTab {
display: inline;
margin-right:0.25em;
}
#content-views a,
#content li.formTab a,
#content-core li.formTab a {
/* */
display: inline-block;
}
#content-views a,
#content li.formTab a,
#content-core li.formTab a {
line-height: 26px;
padding: 0 0.75em;
text-decoration: none;
border: none;
margin: 0 ;
}
#content-views li.selected a,
#content li.formTab a.selected,
#content-core li.formTab a.selected {
font-weight: bold;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover,
#content-core li.formTab a.selected,
#content-core li.formTab a:hover {
background: White;
color: Black;
border-top-right-radius: 0.5em;
border-top-left-radius: 0.5em;
-webkit-border-top-right-radius: 0.5em;
-webkit-border-top-left-radius: 0.5em;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-topright: 0.5em;
}
#content li.formTab a.notify,
#content-core li.formTab a.notify {
background-color: red;
color: White;
}
#content li.formTab a.required span:after,
#content-core li.formTab a.required span:after,
div.field span.required:after {
content: "■";
color: Red;
padding-left: 0.2em;
}
#content fieldset.formPanel,
#content-core fieldset.formPanel {
border: none;
}
#content fieldset.formPanel.hidden,
#content-core fieldset.formPanel.hidden {
display: none;
}
#content div.formControls input.hidden,
#content-core div.formControls input.hidden {
display: none;
}
/* */
/* */
/* */
#portal-personaltools dl {
}
#portal-personaltools dt {
font-weight: normal;
}
#portal-personaltools dt.actionMenuHeader a:after {
content: " ▼";
}
#portal-personaltools dd {
right: 0;
padding-top: 0.5em;
}
#portal-personaltools dd {
background: #e3e3e3;
padding-bottom: 0.5em;
}
#portal-personaltools dd a {
line-height: 2em;
padding: 0 0.75em;
}
#portal-personaltools dd a:hover {
background: #205c90;
color: White;
}
/* */
/* */
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
background-color: #75ad0a;
color: White;
z-index: 5;
}
#contentActionMenus dl.actionMenu.activated dd {
border-bottom: 0.5em solid #75ad0a;
right: -3px;
}
#contentActionMenus dl.actionMenu.activated dd a:hover,
#contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
background-color: White !important;
color: #666;
}
#contentActionMenus dl.actionMenu {
line-height: 2em;
}
#folderHeader, #contextHeader {
border-bottom: 2px solid white;
}
#contextHeader { margin-top: 5px; }
/* */
#contentActionMenus {
float: right;
background: #75ad0a;
margin: 0;
position: relative;
top: -0.23em;
right:-0.24em;
padding: 0.1em 0.24em 0 0;
border-radius: 0.5em;
border-top-left-radius: 0;
-webkit-border-radius: 0.5em;
-webkit-border-top-left-radius: 0;
-moz-border-radius: 0.5em;
-moz-border-radius-topleft: 0;
}
.actionMenuContent {
padding: 0 0.25em;
}
dl.actionMenu {
float: right;
white-space: nowrap;
position: relative;
margin-left: 0.5em;
}
dl.actionMenu a,
dl.actionMenu div {
display: block !important;
white-space: nowrap;
}
dl.actionMenu dt {
font-weight: normal;
}
span.arrowDownAlternative {
font-size: 80%;
}
dl.actionMenu.deactivated dt {
margin: 0 0.25em;
}
dl.actionMenu.deactivated dd {
display: none;
}
dl.actionMenu.activated dd {
position: absolute;
width: auto;
min-width: 100%;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
-webkit-border-bottom-right-radius: 0.5em;
-webkit-border-bottom-left-radius: 0.5em;
-moz-border-radius-bottomleft: 0.5em;
-moz-border-radius-bottomright: 0.5em;
}
dl.actionMenu.activated dt a,
dl.actionMenu.activated dd a,
dl.actionMenu.activated dd div {
margin: 0 0.25em;
}
/* */

}


/* - portlets.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/portlets.css?original=1 */
/* */
dl.portlet {
margin: 0 0 1em;
font-size: 80%;
}
dl.portletError {
background-color: #FFA500;
}
dl.portlet dt {
padding: 0.42em 1em;
background: #ddd;
line-height: normal;
}
dl.portlet dt.hiddenStructure {
padding: 0;
}
dl.portlet dt a:link,
dl.portlet dt a:visited,
dl.portlet dt a:hover {
color: black;
display: block;
border: none;
}
dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd {
padding: 1em;
}
.blockedPortlet .portletHeader {
border: 1px dashed #ddd;
margin: -1px;
background: none !important;
}
.blockedPortlet .portletHeader a {
color: #666;
}
.blockedPortlet .portletBlockedMessage {
color: white;
display: inline;
}
.portletItemDetails {
font-size: 85%;
padding-top: .5em;
line-height: 1.5em;
margin-left: 1em;
display: block;
}
#portlet-prefs a {
border: none;
line-height: 2em;
}
/* */
/* */
dl.portlet ul.navTree li a {
border: none;
display: block;
zoom: 1;
}
dl.portlet ul.navTree li a:hover {
}
dl.portletNavigationTree dd.portletItem {
padding: 0;
}
dl.portlet ul.navTreeLevel0 > .navTreeItem {
padding: 0.25em 1em;
border-bottom: 0.1em dotted #ddd;
line-height: 2em;
}
dl.portlet ul.navTreeLevel1 .navTreeItem {
padding-left: 0.5em;
line-height: 2em;
}
dl.portlet ul.navTree .navTreeCurrentItem {
background-color: #ddd;
border-left: 1em solid #ddd;
margin-left: -1em;
margin-right: -1em;
}
/* */
/* */
.portletCalendar {
margin: 1px 0 1em 0;
}
.portletCalendar dt {
background-color: #eee;
font-weight: bold;
text-align: center;
line-height: 1.6em;
border-bottom: none;
}
#visual-portal-wrapper dl.portletCalendar dd {
padding: 0;
}
.portletCalendar dd {
margin: 0;
padding: 0;
}
.portletCalendar dt a#calendar-previous {
float: left;
padding: 0 1em;
margin: 0 -.5em;
}
.portletCalendar dt a#calendar-next {
float: right;
padding: 0 1em;
margin: 0 -.5em;
}
.portletCalendar a, .portletCalendar a:focus,
.portletCalendar a, .portletCalendar a:hover,
.ploneCalendar a {
text-decoration: none;
border-bottom: none !important;
}
.ploneCalendar {
border-spacing: 0;
width:100%;
}
.ploneCalendar td {
background-color: transparent;
width: 14%;
text-align: center;
padding: 2px;
}
.ploneCalendar .weekdays th {
background-color: #eee;
text-align: center;
padding: 2px;
}
.ploneCalendar .event {
background-color: #eee;
}
.ploneCalendar .todayevent {
background-color: #eee;
border: 2px solid #205C90;
}
.ploneCalendar .todaynoevent {
border: 2px solid #205C90;
}
/* */

}


/* - controlpanel.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/controlpanel.css?original=1 */
/* */
#setup-link {
font-size: 90%;
}
#content ul.configlets {
margin: 1em 0;
list-style-image: none;
list-style: none;
}
#content ul.configlets li {
margin-bottom: 1em;
list-style: none;
display: block;
}
#content ul.configlets li a {
text-decoration: none;
border: none;
}
#content ul.configlets li a:visited {
color: #436976;
background-color: transparent;
}
#content ul.configlets li a:active {
color: #436976;
background-color: transparent;
}
#content ul.configlets li label {
font-weight: bold;
}
#content ul.configletDetails {
margin: 0em 1em 1em 4em;
list-style-image: none;
list-style: none;
}
#content ul.configletDetails li {
margin-bottom: 1em;
display: inline;
}
#content ul.configletDetails li a {
text-decoration: none;
}
#content ul.configletDetails li label {
font-weight: bold;
}
#content ul.configletDetails li.configletDescription {
display: block;
color: #76797c;
margin: 0;
}
.inlineDisplay {
display:inline
}
table.controlpanel-listing {
width:100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
font-size:120%;
}
table.controlpanel-listing dl {
margin-top:0;
}
table.controlpanel-listing dd {
margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger{
font-weight:normal;
}
table .controlpanel-listing td {
vertical-align:top;
}
table.controlpanel-listing td.checker{
text-align:center;
}
table.controlpanel-listing th.smallcolumn {
width:1.5em;
}
.chooser-right {
float:right;
margin-right:0;
margin-bottom:0;
}
.rule-element {
background-color:#EEF3F5;
margin:0.5em 0pt 0.5em;
padding:0.3em 1em 0.3em 1em;
width:auto;
}
.rule-element dl {
}
.rule-element dl dd {
margin-left:1em;
}
.rule-updown, .rule-operations {
float:right;
padding-top:0.8em;
}
/* */
/* */
div.portletAssignments {
font-size: 0.8em;
line-height: 2em;
}
div.portletAssignments div.portletHeader {
padding: 0.42em 1em;
background: #ddd;
line-height: normal;
}
div.portletAssignments .managedPortletActions {
float: right;
}
div.portletAssignments .managedPortletActions a, div.portletAssignments .managedPortletActions button {
margin: 0 0.25em;
border: none;
cursor: pointer;
background-color: transparent;
color: #205C90;
}
div.portletAssignments .managedPortletActions form {
display: inline;
}
.managedPortlet {
margin: 0.8em 0;
}
div.managePortletsLink,
a.managePortletsFallback {
text-align: center;
padding: 0.25em 0.5em;
font-size: 80%;
margin: 0 auto 1em;
background: #ddd;
border-radius: 0.5em;
-webkit-border-radius: 0.5em;
-moz-border-radius: 0.5em;
}
a.managePortletsFallback {
display:inline-block; /* */
}
#content a.managePortletsFallback {
display: block;
border-bottom: none !important;
}
/* */

}


/* - forms.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/forms.css?original=1 */
/* */
fieldset,
.editionComment {
line-height:1.5em;
margin:1em 0;
padding:0 1em 1em;
width:auto;
}
/* */
#content .field input[type="text"][name$=".title"],
#archetypes-fieldname-title input {
font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
line-height: 125%;
color: Black;
letter-spacing: -0.05em;
margin: inherit -0.05em;
font-size: 2em; /* */
font-weight: bold;
}
/* */
#content .field textarea[name$=".description"],
#archetypes-fieldname-description textarea#description {
font-family: Arial,FreeSans,sans-serif;
color:#666666;
font-size:1.25em;
font-weight: bold;
}
div.formControls {
margin: 1em;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
background-color: #ffffe0;
}
#content textarea {
font: 100% Monaco, "Courier New", Courier, monospace;
width: 100%;
}
#content select {
vertical-align: top;
}
#content fieldset {
border: 0.1em solid #329fd7;
border-style: solid none none none;
}
#content legend {
padding: 0.5em;
font-size: 85%;
}
label {
font-weight:bold;
}
label .fieldErrorBox {
font-weight: normal;
}
#content label {
}
#content optgroup {
font-style: normal;
font-weight: bold;
color: #999;
padding-left: 0.25em;
}
#content option {
color: black;
}
#content optgroup > option {
padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
margin-left: 0;
padding-top: 2em;
}
.searchSection {
color: #76797c;
margin-top: 0.25em;
}
.searchSection label:hover {
color: Black;
}
.field {
clear: both;
margin-bottom: 1em;
}
.field input[type="text"] {
width: 20em;
}
.field input[type="text"][size] {
width: auto;
}
.field input[type="text"][name$=".title"],
input#title {
width: 100%;
}
.field.error input[type="text"][name$=".title"],
.error input#title {
width: 99%;
}
.fieldRequired {
background: url(required.png) center left no-repeat;
padding: 0 0 0 1em;
color: White;
}
.fieldUploadFile {
text-align: right;
margin-right: 0.75em;
display: none;
}
.fieldTextFormat {
text-align: right;
margin-right: 0.75em
}
.formHelp {
color: #555;
margin: 0 0 0.2em 0;
display: block;
font-weight: normal;
}
div.field.error {
background-color: #fdc;
border:  1px solid red;
padding: 0.5em;
margin:  1em 0;
}
.error .fieldRequired {
color: #d00;
}
div.error.warning {
background-color: transparent;
border: none;
margin-top: 0;
padding: 0;
}
div.error.warning input {
border: 2px solid red;
}
input.inputLabelActive {
color: #76797c;
}
textarea#form\.description {
height: 6em;
width: 99%;
}
table.listing tbody tr.odd.selected td,
table.listing tbody tr.odd.dragging td,
tr.dragging,
tr.selected {
background-color: #ffa;
}
table.listing tbody tr.odd.error td,
tr.error {
background-color: #fdc;
}
.multi-widget-field {
padding-left: 0.5em;
border-left: 1.5em solid #DDD;
}
.multi-widget-checkbox {
margin-left: -2em;
margin-right: 0.5em;
width: 1.5em;
display: inline-block;
}
/* */
body.template-logged_out #content,
body.template-login_form #content,
.pb-ajax #login-form {
text-align: center;
}
#fieldset-openid-login input, #login-form input {
font-size: 150%;
}
body.template-register #content input,
body.template-new-user #content input {
font-size: 150%;
width: inherit;
}
#fieldset-openid-login label, #login-form label {
margin-right:0.5em;
padding-top:0.2em;
text-align:right;
width: 10em;
display: inline-block;
}
#fieldset-openid-login .formControls input, #login-form .formControls input {
margin-left: 0.25em;
}
/* */
/* */
}


/* - ++resource++plone.app.discussion.stylesheets/discussion.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/++resource++plone.app.discussion.stylesheets/discussion.css?original=1 */
/* */
.discussion .hide {
display: none;
}
/* */
.discussion,
#commenting {
/* */
clear: both;
}
.comment {
}
.commentImage {
float: left;
margin-right: 0.5em;
height: 3.5em;
}
.commentImage a:link {
/* */
border: 0px;
}
.commentImage img {
}
.commentDate {
display: block;
font-size: 85%;
line-height: 1.5em;
padding-top: 0.5em;
color: #76797C;
}
.commentBody {
clear: both;
margin: 1em 0;
overflow: auto;
border: 1px solid #ccc;
}
.commentBody p {
float: left;
}
.discussion .documentByLine {
float: left;
margin-left: 0;
margin-bottom: 0.5em;
}
.commentActions {
float: right;
text-align: right;
}
.discussion .discreet {
color: #666666;
font-size: 85%;
}
.loginbutton {
margin-bottom: 1.25em;
}
.commentactionsform {
display: inline;
}
.replyTreeLevel0 {
margin-left: 0em;
}
.replyTreeLevel1 {
margin-left: 1em;
}
.replyTreeLevel2 {
margin-left: 2em;
}
.replyTreeLevel3 {
margin-left: 3em;
}
.replyTreeLevel4 {
margin-left: 4em;
}
.replyTreeLevel5 {
margin-left: 5em;
}
.replyTreeLevel6 {
margin-left: 6em;
}
.replyTreeLevel7 {
margin-left: 7em;
}
.replyTreeLevel8 {
margin-left: 8em;
}
.replyTreeLevel9 {
margin-left: 9em;
}
.replyTreeLevel10 {
margin-left: 10em;
}
.defaultuserimg {
border: 0;
}
/* */
.reply fieldset {
/* */
margin: 0 !important;
}
.reply .text-widget {
display: block;
}
.reply-to-comment-button {
display: none;
}
.cancelreplytocomment {
display: none;
}
/* */
#bulkactions {
text-align: left;
}
#dobulkaction {
margin: 0.3em 0;
}
.comment-publish-button {
float: left;
margin-right: 0.5em;
}
.comment-delete-button {
float: left;
}
#review-comments {
margin: 0;
width: 100%;
}
#review-comments tbody tr {
vertical-align: top
}
#fieldset-moderate-comments {
padding: 2em 1em;
}
/* */
.template-discussion-settings .unclickable {
opacity: 0.6;
filter: alpha(opacity = 50);
}
/* */
/* */
.row #dobulkaction {
margin: 0;
}
.row #commenting {
font-size: 80%;
}
.row #commenting .formControls {
margin: 0;
}
.row #commenting textarea,
.row .discussion textarea {
font: 100% Monaco, "Courier New", Courier, monospace;
width: 100%;
}
.row #commenting fieldset,
.row .discussion fieldset {
border: 0.1em solid #329fd7;
border-style: solid none none none;
}
.row #commenting legend,
.row .discussion legend {
padding: 0.5em 0.5em 0.5em 0;
font-size: 85%;
}
.row #commenting label,
.row .discussion label {
font-weight:bold;
}
/* */
.overlay-edit-comment textarea {
height: 10em;
}
}


/* - ++resource++tinymce.stylesheets/tinymce.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/++resource++tinymce.stylesheets/tinymce.css?original=1 */
#content ul.listTypeDisc {
list-style-type: disc;
list-style-image: none;
}
#content ul.listTypeSquare {
list-style-type: square;
list-style-image: none;
}
#content ul.listTypeCircle {
list-style-type: circle;
list-style-image: none;
}
#content ol.listTypeDecimal {
list-style-type: decimal;
list-style-image: none;
}
#content ol.listTypeLowerAlpha {
list-style-type: lower-alpha;
list-style-image: none;
}
#content ol.listTypeUpperAlpha {
list-style-type: upper-alpha;
list-style-image: none;
}
#content ol.listTypeLowerRoman {
list-style-type: lower-roman;
list-style-image: none;
}
#content ol.listTypeUpperRoman {
list-style-type: upper-roman;
list-style-image: none;
}

}


/* - print.css - */
@media print {
/* http://www.fazenda.gov.br/portal_css/print.css?original=1 */
/* */
body {
font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
font-weight: bold;
line-height: 125%;
page-break-inside: avoid;
page-break-after: avoid;
}
h1, h2 {
letter-spacing: -0.05em;
}
a {
text-decoration: none;
border-bottom: 0.1em solid gray;
color: black;
}
#portal-column-content {
width: 95%;
}
.documentDescription {
font-weight: bold;
}
pre {
border: 1pt dotted black;
white-space: pre;
font-size: 8pt;
overflow: auto;
padding: 1em;
}
table.listing,
table.listing td {
border: 1pt solid black;
border-collapse: collapse;
}
table.listing td,
table.listing th {
padding: 6px;
}
/* */
div.pageBreak {
page-break-before: always;
}
/* */
#content dt {
margin:1em 0 0.625em;
}
#content p, #content table {
margin-bottom:0.625em;
margin-top:0.625em;
}
#content .documentDescription, #content #description {
margin:0.5em 0 1.31em;
}
/* */
div.top,
#portal-logo,
#portal-siteactions,
.hiddenStructure,
#portal-searchbox,
#portal-globalnav,
#portal-personaltools,
#portal-breadcrumbs,
#edit-bar,
#portal-column-one,
#portal-column-two,
#portal-languageselector,
.contentViews,
.contentActions,
.help,
.legend,
.portalMessage,
.documentActions,
.netscape4,
#viewlet-below-content .reply,
#viewlet-below-content .discussion,
#kss-spinner,
#review-history,
#content-history,
.listingBar,
#portal-footer,
#portal-colophon,
.skipnav,
#kss-spinner,
#review-history,
#content-history,
.listingBar,
.link-presentation,
input.standalone,
.overlay,
.managePortletsFallback,
.close,
.link-parent,
.draggingHook,
#foldercontents-order-column,
input.context,
.visualNoPrint {
display: none;
}
/* */
.image-left {
float: left;
clear: both;
margin: 0.5em 1em 0.5em 0;
border: 0.4pt solid Black;
}
.image-inline {
float: none;
}
.image-right {
float: right;
clear: both;
margin: 0.5em;
border: 0.4pt solid Black;
}
dd.image-caption {
text-align:left;
padding: 0; margin:0;
}
dl.captioned {
padding: 0.8em;
}
.newsImageContainer {
float:right;
margin: 0 0 0.5em 1em;
width: 16em;
}

}


/* - mobile.css - */
@media handheld, screen and (max-device-width: 480px) {
/* http://www.fazenda.gov.br/portal_css/mobile.css?original=1 */
/* */
#portal-column-one,
#portal-column-two,
#portal-column-content {
clear: both;
width: 97.75%;
margin-left: -98.875%;
}
#portal-logo {
display: none;
}
#portal-top {
font-size: 180%;
}
#portal-personaltools {
margin-bottom: 1em;
}
#portal-globalnav li a {
min-width: 3em !important;
padding:0.5em 1.5em 1em 0.5em;
}
#portal-searchbox {
float: none !important;
margin: 1em 0;
text-align: center;
}
#portal-searchbox input {
font-size: 100% !important;
}
#content-views a {
font-size: 150%;
line-height: 2em !important;
padding: 0.5em;
}
#content li.formTab a {
font-size: 140%;
line-height: 2em !important;
padding: 0.25em;
}
#edit-bar {
min-height: 5em;
}
#contentActionMenus a {
width: 100%;
line-height: 2em !important;
font-size: 150%;
}
input, textarea {
font-size: 140% !important;
}
div.managePortletsLink,
a.managePortletsFallback {
font-size: 140%;
}
div.overlay {
font-size: 120%;
}
div.overlay-iframe,
div.overlay-ajax {
width: 90%;
}

}

