
/* - faceted_view.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/faceted_view.css?original=1 */
/* */
/* */
.faceted-noborder {
background:transparent none repeat scroll 0 0;
border: medium none;
}
.faceted-form {
padding: 1em 0 0 0;
margin: 0;
width: auto;
}
.faceted-widget {
}
#top-area {
}
#center-and-left-area {
float: left;
margin-right: -25em;
width: 100%;
}
#right-area {
float: right;
width: 25em;
overflow: hidden;
}
#center-area {
float: right;
margin-left: -25em;
width: 100%;
}
#left-area {
float: left;
width: 25em;
overflow: hidden;
}
#center-top-area {
}
#center-bottom-area {
}
#bottom-area {
clear: both;
}
.right-area-js {
margin-right: 25em;
}
.left-area-js {
margin-left: 25em;
}
/* */
.faceted-clear {
clear: both;
}
.faceted-left-column div.faceted-text-widget input[type=submit] {
float: right;
}
.faceted-right-column div.faceted-text-widget input[type=submit] {
float: right;
}
.faceted-left-column div.faceted-text-widget input[type=text] {
width: 99%;
}
.faceted-right-column div.faceted-text-widget input[type=text] {
width: 99%;
}
.faceted-left-column div.faceted-select-widget select{
width: 100%;
}
.faceted-right-column div.faceted-select-widget select{
width: 100%;
}
.faceted-left-column div.faceted-resultsperpage-widget select{
width: 100%;
}
.faceted-right-column div.faceted-resultsperpage-widget select{
width: 100%;
}
.faceted-left-column div.faceted-sorting-widget select{
width: 100%;
}
.faceted-right-column div.faceted-sorting-widget select{
width: 100%;
}
#faceted-form fieldset {
margin: 0.5em;
padding: 1em 0.5em 0.5em 0.5em;
border: 1px solid #ccc;
}
.widget-fieldset legend {
margin-bottom: 0.5em;
font-weight: bold;
}
/* */
.faceted_loading {
text-align: center;
}
/* */
.faceted-section-header {
}
#faceted-form .ui-widget {
font-size: 1em;
}
#faceted-form .ui-helper-reset {
font-size: 1em;
}
#faceted-form .ui-accordion .ui-accordion-content {
padding: 0px;
overflow: hidden;
border-width: 0;
border-style: none;
}
#faceted-form .ui-accordion .ui-state-default {
border: none;
background: none;
background-color: #95b229;
margin: 0 0.5em;
}
#faceted-form .ui-accordion .ui-state-default a {
color: #ffffff;
font-weight: bold;
}
#faceted-form .ui-accordion .ui-state-default a:hover {
border: none;
color: #e9efcd;
}
#faceted-form .ui-accordion .ui-state-active {
border: none;
background: none;
background-color: #e9efcd;
margin: 0 0.5em;
}
#faceted-form .ui-accordion .ui-state-active a{
color: #8e004d;
font-weight: bold;
}
#faceted-form .ui-accordion .ui-state-active a:hover{
border: none;
cursor: text;
}
.faceted-widget-locked legend{
color: #CCC;
}
.faceted-lock-overlay {
background: none;
}
.faceted-widget-loading {
background-image:url(../../++resource++faceted_images/ajax-loader-small.gif);
background-position:95% 1.5em;
background-repeat:no-repeat;
}
/* */
.faceted-widget-error {
display: none;
}
#faceted-form .faceted-sections-buttons {
float: right;
margin-right: 0.5em;
}
#faceted-form .faceted-sections-buttons a {
display: none;
color: #95B229;
}
.eea-preview-items:after {
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/* */
.faceted-checkbox-item-disabled {
color: gray;
}
.faceted-zero-count-hidden .faceted-checkbox-item-disabled {
display: none ! important;
}
.widget-fieldset {
}
.widget-fieldset ul {
margin: 0px;
list-style: none ! important;
}
.widget-fieldset ul li input {
clear: both;
float: left;
}
.widget-fieldset ul li label {
font-weight: normal;
padding-left: 0.5em;
}
.faceted-checkbox-more {
text-align: right;
}
.faceted-checkbox-less {
text-align: right;
}
/* */
.faceted-operator {
text-align: right;
margin-top: -20px;
}
.faceted-operator label {
font-weight: normal;
}
.faceted-operator a,
.faceted-operator a:visited,
.faceted-operator a:hover {
color: #95B229;
border: none;
text-decoration: none;
}
/* */
/* */
.faceted-text-widget label.text-field {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
/* */
.faceted-daterange-widget-form div {
float: left;
margin-left: 0.5em;
}
.faceted-daterange-widget-form div label {
display: block;
}
.faceted-daterange-widget-form input {
width: 10em;
}
/* */
.faceted-radio-item-disabled {
color: gray;
}
.faceted-zero-count-hidden .faceted-radio-item-disabled {
display: none ! important;
}
/* */
.tags-cloud li {
border: none;
text-decoration: none;
cursor: pointer;
color: #95B229;
}
.tags-cloud li:hover{
color: orange ! important;
}
.faceted-tag-disabled {
color: #ccc ! important;
}
li.faceted-tag-disabled:hover {
color: #ccc ! important;
}
.faceted-tag-selected {
color: orange ! important;
font-size: 110%;
}
.faceted-zero-count-hidden li.faceted-tag-disabled {
display: none ! important;
}
/* */
.faceted-select-item-disabled {
color: gray;
}
.faceted-zero-count-hidden .faceted-select-item-disabled {
display: none;
}
.faceted-select-widget label.select-field {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
/* */
.faceted-zero-count-hidden .faceted-alphabetic-letter-disabled {
display: none;
}
.faceted-top-column .faceted-alphabetic-widget {
text-align: center;
}
.faceted-center-column .faceted-alphabetic-widget {
text-align: center;
}
.faceted_letter {
color: #95B229;
font-weight: bold;
font-size: 1.2em;
cursor: pointer;
padding: 0 0.2em 0 0.2em;
background-color: transparent;
}
.faceted_letter:hover{
color: orange;
background-color: #ccc;
}
.faceted_letter_selected {
background-color: #ccc;
color: orange;
font-size: 1.7em;
}
.faceted-alphabetic-letter-disabled {
color: gray;
cursor: auto;
}
.faceted-alphabetic-letter-disabled:hover{
color: gray;
background-color: transparent;
}
/* */
.faceted-portlet-widget fieldset {
margin: 0.5em;
padding: 0em;
}
/* */
.faceted-criteria-syndication-rss {
float: right;
padding: 0.2em;
}
.faceted-criteria-syndication-skos {
float: right;
padding: 0.2em;
}
.faceted-criteria {
text-align: left;
}
.faceted-criteria a {
color: #95B229 !important;
text-decoration: none !important;
border: none !important;
}
.faceted-criteria a:visited {
color: #95B229 !important;
text-decoration: none !important;
border: none !important;
}
.faceted-criteria span {
padding-left: 0.2em;
padding-right: 0.5em;
}
.faceted-criteria dt{
font-weight: bold;
}
.faceted-criteria dd{
margin-left: 1.5em;
font-weight: normal;
}
.faceted-criteria-reset {
}
.faceted-criteria-hide-show {
float: left;
margin-right: 1em;
}
.faceted-criteria-hide {
}
.faceted-criteria-show {
display: none;
}
.faceted-criteria-count {
display: none;
}
/* */
/* */
/* */
.faceted-date-widget form {
margin: 2em;
margin-top: 0;
}
.faceted-date-widget-form .ui-slider span.ui-slider-label {
position:relative;
}
.faceted-date-widget-form .ui-state-default,
.faceted-date-widget-form .ui-widget-content .ui-state-default {
background-image: none;
background-color: #e9efcd;
border-color: #95b229;
border-width: 1px;
border-style: solid;
margin: 0;
}
.faceted-date-widget-form .ui-slider {
border: 1px solid #95b229;
}
.faceted-date-widget-form .ui-slider-tooltip {
border: 1px solid #aaa;
}
.faceted-date-widget-form .ui-slider-horizontal {
margin-left:-0.6em;
}
.faceted-date-widget-form .ui-widget-header {
background-image: none;
background-color: #e9efcd;
}
/* */
.faceted-path-widget input {
width: 99%;
}
.tree {
position: absolute ! important;
background-color: #FFFFFF;
border: 1px dotted #CCCCCC;
}
.tree > .ltr > li {
display: block ! important;
}
.tree li a {
border: none ! important;
}
/* */
.faceted-sorting-errors {
display: none;
}
/* */
.faceted-autocomplete-widget label.text-field {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
#content ul.select2-choices {
margin-left: 0;
}
.select2-container-multi .select2-choices .select2-search-field input {
min-width: 100px;
}
/* */
.faceted-range-widget-form div {
float: left;
margin-left: 0.5em;
}
.faceted-range-widget-form div label {
display: block;
}
.faceted-range-widget-form input {
width: 10em;
}
/* */
.faceted-debug-widget pre {
max-height: 200px;
}
.faceted-debug-widget dt {
clear: both;
}

}

