
/* - ploneCustom.css - */
@media all {
/* http://www.fazenda.gov.br/portal_css/ploneCustom.css?original=1 */
/* */
/* */
/* */
/* */
/* */
/* */

}


/* - ++resource++brasil.gov.tiles/tiles.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/++resource++brasil.gov.tiles/tiles.css?original=1 */
#content .tile .tile-description {
line-height: 16px;
}
#content #tile-configure.modal {
top: 10% !important;
}
.videogallery-tile {
border-radius: 5px 5px 5px 5px;
background-color: #072d6c;
color: #FFF;
}
#content .videogallery-tile .gallery-tile {
margin: 0px;
padding: 15px;
border-bottom: 1px solid #2e5493;
color: #FFF;
text-transform: uppercase;
font-weight: normal;
font-size: 22px;
font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}
.videogallery-tile .player-metadata {
padding: 10px 0;
}
.player-metadata .title {
padding-bottom: 10px;
color: #CDE1FA;
font-weight: bold;
}
.subtitle {
color: #667cae;
text-transform: uppercase;
font-weight: normal;
font-size: 11px;
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}
.videogallery-tile .description {
color: #d1e1ff;
font-family: Arial, Helvetica, sans-serif;
}
.videogallery-tile .gallery-footer {
padding: 15px;
border-top: 1px dotted #305492;
border-radius: 0 0 5px 5px;
background-color: #062458;
text-align: right;
text-transform: uppercase;
font-size: 0.916em;
}
.videogallery-tile .gallery-footer a {
display: inline-block;
padding-right: 25px;
height: 20px;
background: url("++resource++brasil.gov.tiles/footer-arrow.jpg") no-repeat scroll right 0 transparent;
color: #D1E2FF !important;
line-height: 20px;
}
#content .gallery-footer a:hover {
color: #D1E2FF !important;
text-decoration: underline;
}
.videogallery-tile .selected {
display: none;
}
.gallery-element-link {
float: left;
overflow: hidden;
margin: 0 5% 5% 0;
width: 80px;
height: 60px;
text-align: center;
}
#content .gallery-element-link img {
border-radius: 0 0 0 0;
}
.galery-items-wrapper {
margin: 0;
}
.gallery-element-wrapper {
padding: 15px 15px;
}
.gallery-element {
float: left;
width: 100%;
border-bottom: 1px dotted #305492;
}
.gallery-element-metadata {
overflow: hidden;
height: 60px;
}
.gallery-element-metadata .description {
display: none;
}
#content .gallery-element-metadata .title {
color: #d1e1ff;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
}
.player-holder iframe {
width: 100%;
height: auto;
}
/* */
.width-8 .videogallery-tile .gallery-footer,
.width-10 .videogallery-tile .gallery-footer {
border-top: none;
}
.width-8 .gallery-element,
.width-10 .gallery-element,
.gallery-2-columns .gallery-element {
width: 50%;
}
.width-8 .gallery-element-wrapper,
.width-10 .gallery-element-wrapper,
.gallery-2-columns .gallery-element-wrapper {
border-left: 1px dotted #305491;
}
.width-8 .player-video,
.width-10 .player-video,
.gallery-2-columns .player-video {
float: left;
margin-right: 5%;
width: 50%;
}
.width-8 .player-holder,
.width-10 .player-holder,
.gallery-2-columns .player-holder {
padding: 4%;
}
.width-8 .player-metadata,
.width-10 .player-metadata,
.gallery-2-columns .player-metadata {
padding: 0;
border-bottom: medium none;
}
.width-5 .gallery-3-columns .player-metadata,
.width-5 .gallery-3-columns .player-holder iframe {
padding: 2% 5%;
width: 90%;
}
.width-5 .gallery-2-columns .player-video,
.width-5 .gallery-2-columns .gallery-element {
width: 100%;
}
.width-8 .galery-items,
.width-10 .galery-items,
.width-5 .galery-items,
.gallery-2-columns .galery-items {
border-top: 1px solid #305492;
}
/* */
.width-16 .gallery-3-columns .player-holder,
.width-15 .gallery-3-columns .player-holder {
padding: 2.5% 2.5% 0;
width: 60%;
border-right: 1px dotted #305492;
}
.width-16 .gallery-3-columns .galery-items,
.width-15 .gallery-3-columns .galery-items {
width: 34%;
}
.width-15 .gallery-element.last,
.width-16 .gallery-element.last {
border-bottom: none !important;
}
.gallery-3-columns .player-holder {
float: left;
}
.gallery-3-columns .galery-items {
float: left;
margin: 0;
}
.gallery-3-columns .player-metadata .title {
border-bottom: medium none;
}
.gallery-3-columns .player-metadata .title {
border-bottom: medium none;
}
.gallery-3-columns .player-metadata {
border-bottom: medium none;
}
.gallery-3-columns .galery-items-wrapper {
border-left: 1px solid #305492;
}
@media only screen and (min-width : 768px) and (max-width : 960px) {
.width-8 .gallery-element-metadata,
.width-10 .gallery-element-metadata {
height: 70px !important;
}
}
@media only screen and (max-width : 768px) {
.galery-items {
border-top: 1px solid #305492;
}
.width-8 .gallery-element,
.width-10 .gallery-element {
width: 100% !important;
}
.width-8 .player-video,
.width-10 .player-video {
margin: 0 0 5% 0 !important;
width: 100% !important;
}
.player-holder {
padding: 4%;
border-bottom: none !important;
}
}
/* */
#content .audiogallery-tile .selected {
display: none;
}
.audiogallery-tile {
margin-bottom: 20px;
border: 1px solid #d4d4d6;
background-color: #eeeff1;
}
.audiogallery-title-container .gallery-tile {
padding: 10px 15px 10px 10px;
border-bottom: 1px solid #d4d4d6;
color: #454545;
font-weight: normal;
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}
.audiogallery-player-container {
padding: 10px 15px;
border-bottom: 1px dotted #d4d4d6;
}
.audiogallery-player-container .audiogallery-item-title {
padding-top: 10px;
}
#content .audiogallery-items-container ul {
margin: 0px;
}
#content .audiogallery-items-container li {
padding: 10px 15px;
border-bottom: 1px dotted #d4d4d6;
list-style: none outside none;
}
#content .audiogallery-items-container .audiogallery-item {
display: block;
padding-left: 20px;
background: url("++resource++brasil.gov.tiles/sound-icon.png") no-repeat scroll left 0 transparent;
font-weight: normal;
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}
.audiogallery-footer-container {
padding: 5px 15px;
text-align: right;
}
.audiogallery-footer-container .audiogallery-footer-link {
display: inline-block;
margin-bottom: 6px;
padding-right: 25px;
background: url("++resource++brasil.gov.tiles/footer-arrow.png") no-repeat scroll right 0 transparent;
text-transform: uppercase;
font-size: 0.916em;
line-height: 14px;
}
/* */
.audio-tile .title {
margin-bottom: 15px;
font-weight: normal;
font-size: 15px;
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}
/* */
div.jp-audio,
div.jp-audio-stream {
border: 1px solid #e0e0e0;
border-radius: 5px 5px 5px 5px;
background-color: #eee;
box-shadow: 0 0 5px 1px #CCCCCC;
color: #666;
font-size: 1.25em;
font-family: Verdana, Arial, sans-serif;
line-height: 1.6;
}
div.jp-audio {
margin-bottom: 5px;
width: 100%;
}
div.jp-audio-stream { width: 182px; }
div.jp-interface {
position: relative;
width: 100%;
background-color: #edeef2;
}
div.jp-audio div.jp-type-single div.jp-interface,
div.jp-audio-stream div.jp-type-single div.jp-interface {
height: 48px;
}
div.jp-controls-holder {
position: relative;
top: -8px;
clear: both;
overflow: hidden;
margin: 0 auto;
width: 440px;
}
div.jp-interface ul.jp-controls {
position: absolute;
overflow: hidden;
margin: 0;
padding: 0;
width: 100%;
list-style-type: none;
}
div.jp-audio ul.jp-controls {
margin: 0 !important;
padding: 10px 0;
}
div.jp-audio-stream ul.jp-controls {
padding: 20px 20px 0 20px;
width: 142px;
}
div.jp-interface ul.jp-controls li {
display: inline !important;
float: left;
}
div.jp-interface ul.jp-controls a {
display: block;
overflow: hidden;
text-indent: -9999px;
}
a.jp-play,
a.jp-pause {
position: relative;
left: 10px;
width: 23px;
height: 23px;
}
a.jp-play {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 0 no-repeat;
}
a.jp-play:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -41px 0 no-repeat;
}
a.jp-pause {
display: none;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -42px no-repeat;
}
a.jp-pause:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -41px -42px no-repeat;
}
a.jp-previous, a.jp-next {
margin-top: 6px;
width: 28px;
height: 28px;
}
a.jp-previous {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -112px no-repeat;
}
a.jp-previous:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -29px -112px no-repeat;
}
a.jp-next {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -141px no-repeat;
}
a.jp-next:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -29px -141px no-repeat;
}
div.jp-progress {
overflow: hidden;
background-color: #ddd;
}
div.jp-audio div.jp-progress {
position: relative;
top: 15px;
display: block;
clear: both;
height: 15px;
}
div.jp-audio div.jp-type-single div.jp-progress {
width: 100%;
}
.jp-progress-time-wrapper {
display: block;
padding-right: 45px;
padding-left: 45px;
height: 50px;
}
div.jp-seek-bar {
width: 0px;
height: 100%;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -202px repeat-x;
cursor: pointer;
}
div.jp-play-bar {
width: 0px;
height: 100%;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -218px repeat-x;
}
div.jp-seeking-bg {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.seeking.gif");
}
/* */
a.jp-mute,
a.jp-unmute {
position: absolute;
top: 15px;
right: 15px;
margin-top: 0;
width: 18px;
height: 15px;
vertical-align: middle;
}
div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
margin-left: 210px;
}
div.jp-audio-stream div.jp-type-single a.jp-mute,
div.jp-audio-stream div.jp-type-single a.jp-unmute {
margin-left: 10px;
}
a.jp-mute {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -186px no-repeat;
}
a.jp-mute:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -19px -186px no-repeat;
}
a.jp-unmute {
display: none;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -170px no-repeat;
}
a.jp-unmute:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -79px -170px no-repeat;
}
div.jp-volume-bar {
position: absolute;
overflow: hidden;
width: 35px;
height: 5px;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -250px repeat-x;
cursor: pointer;
}
div.jp-audio div.jp-volume-bar {
top: 37px;
right: 5px;
}
div.jp-audio-stream div.jp-volume-bar {
top: 37px;
left: 92px;
}
div.jp-volume-bar-value {
width: 0px;
height: 5px;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -256px repeat-x;
}
/* */
div.jp-audio div.jp-time-holder {
position: relative;
top: 15px;
display: block;
clear: both;
height: 15px;
text-align: right;
font-size: 10px;
line-height: 15px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
width: 100%;
}
.jp-current-time,
.jp-duration {
width: 60px;
font-style: oblique;
font-size: 10px;
}
.jp-duration { text-align: right; }
/* */
span.jp-artist {
color: #666;
font-size: .8em;
}
div.jp-jplayer audio,
div.jp-jplayer {
width: 0px;
height: 0px;
}
div.jp-jplayer { background-color: #000; }
ul.jp-toggles {
overflow: hidden;
margin: 0 auto;
padding: 0;
list-style-type: none;
}
div.jp-audio .jp-type-single ul.jp-toggles { width: 25px; }
ul.jp-toggles li {
display: block;
float: right;
}
ul.jp-toggles li a {
display: block;
width: 25px;
height: 18px;
text-indent: -9999px;
line-height: 100%;
}
a.jp-full-screen {
margin-left: 20px;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -310px no-repeat;
}
a.jp-full-screen:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -30px -310px no-repeat;
}
a.jp-restore-screen {
margin-left: 20px;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -310px no-repeat;
}
a.jp-restore-screen:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -90px -310px no-repeat;
}
a.jp-shuffle {
margin-left: 5px;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") 0 -270px no-repeat;
}
a.jp-shuffle:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -30px -270px no-repeat;
}
a.jp-shuffle-off {
margin-left: 5px;
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -60px -270px no-repeat;
}
a.jp-shuffle-off:hover {
background: url("++resource++brasil.gov.tiles/jplayer.blue.monday.jpg") -90px -270px no-repeat;
}
/* */
.jp-no-solution {
display: none;
padding: 5px;
border: 2px solid #009be3;
background-color: #eee;
color: #000;
font-size: .8em;
}
.jp-no-solution a {
color: #000;
}
.jp-no-solution span {
display: block;
text-align: center;
font-weight: bold;
font-size: 1em;
}
/* */
/* */
ul.css-tabs {
margin: 0 !important;
padding: 0;
height: 30px;
border-bottom: 1px solid #eeeff1;
}
/* */
ul.css-tabs li {
float: left;
margin: 0;
padding: 0;
list-style-type: none;
}
/* */
ul.css-tabs a {
position: relative;
top: 1px;
display: block;
float: left;
margin-right: 2px;
padding: 5px 30px;
height: 18px;
outline: 0;
border: 1px solid #d4d5d7;
border-bottom: 0px;
-moz-border-radius: 4px 4px 0 0;
border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;
background-color: #d5d5d5;
color: #777;
text-decoration: none;
font-size: 13px;
}
ul.css-tabs a:hover {
background-color: #F7F7F7;
color: #333;
}
/* */
ul.css-tabs a.current {
border-bottom: 1px solid #d4d5d7;
background-color: #eeeff1;
color: #000;
cursor: default;
}
.outstanding-header {
position: relative;
}
.outstanding-link {
right: 0;
display: inline-block;
float: right;
}
/* */
.css-panes .pane {
display: none;
padding: 10px 4px;
height: 340px;
border: 1px solid #d4d5d7;
border-radius: 0 5px 5px 5px;
background-color: #eeeff1;
}
#content .css-tabs li {
list-style: none outside none;
}
/* */
#fb-root {
display: none;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
width: 100% !important;
border: 0 none !important;
}
/* */
div.error {
padding: 1em;
}
/* */
.video-tile {
max-width: 766px;
max-height: 575px;
}
.video-container {
position: relative;
overflow: hidden;
padding-top: 30px;
padding-bottom: 56.25%;
height: 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.video-container + a {
clear: both;
line-height: 2em;
}
/* */
.formControls input.searchButton {
display: none;
}
/* */
.banner-tile {
float: left;
}
.banner-tile img {
margin: 0;
}
div[data-tile*="collective\.cover\.banner"] {
overflow: hidden;
}
#content .banner-tile .copyright,
#content .newsImageContainer .copyright,
#content .mediacarousel .rights {
float: right;
margin: 0 .8em 0 0;
color: #000;
font-style: italic;
font-size: .9em;
font-family: Arial, Helvetica, sans-serif;
line-height: 2em;
}
div[data-tile*="mediacarousel"] {
float: left;
width: 100%;
}
#content .mediacarousel .mediacarousel-tile+div .rights {
float: right;
margin: 0 .8em 0 0;
color: #000;
font-style: italic;
font-size: .9em;
font-family: Arial, Helvetica, sans-serif;
line-height: 2em;
}
#content .mediacarousel {
min-height: 100px;
height: 100%;
}
#content .mediacarousel img {
border-radius: 0px;
}
#content .mediacarousel .mediacarousel-footer-link {
font-size: 0.9em;
}
.banner-tile .copyright + a,
.newsImageContainer .copyright + a {
display: block;
clear: both;
}
#featured-content .banner-tile {
float: none;
}
#content .mediacarousel .galleria-thumbnails-list {
margin-right: 10px;
}
/* */
#content .newsImageContainer .carrossel-images {
float: left;
clear: left;
margin: 0;
max-width: 200px;
width: 100%;
}
#content .newsImageContainer .carrossel-images li {
float: left;
margin: 0.5em 0.5em 0.5em 0;
list-style: outside none;
}
#content .newsImageContainer .carrossel-images li.last-item {
margin-right: 0;
}
#content .newsImageContainer .carrossel-images li a {
position: relative;
z-index: 1;
float: left;
}
/* */
.galleria-info .copyright {
color: #fff;
font-style: italic;
font-size: 1em;
font-family: Arial, Helvetica, sans-serif;
line-height: 2em;
}
/* */
#content .poll-tile {
border: 1px solid #d4d5d7;
border-radius: 0.5em 0.5em 0 0;
background-color: #eeeff1;
}
#content .poll-tile .poll-tile-header {
padding: 0.5em 1em;
border-bottom: 1px solid #d4d5d7;
}
#content .poll-tile .poll-tile-header>.header {
color: #444a53;
text-transform: uppercase;
font-size: 1.3em;
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}
#content .poll-tile .tile-content-wrapper>div {
padding: 0 1em;
}
#content .poll-tile .tile-content-wrapper>.poll-spinner {
padding: 0;
}
#content .poll-tile .tile-content-wrapper>h3 {
padding: 1.7em 1em;
background-color: #f8f9f9;
color: #365073;
font-size: 1em;
}
#content .poll-tile .tile-content-wrapper>h4 {
padding: 1em;
font-weight: normal;
font-size: 1em;
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}
#content .poll-tile .tile-content-wrapper>form>br {
display: none;
}
#content .poll-tile .tile-content-wrapper>form>input[type=radio] {
float: left;
clear: both;
margin: 1em 0 1em 1em;
}
#content .poll-tile .tile-content-wrapper>form>input[type=radio]+span {
display: block;
margin-left: 2.8em;
color: #335277;
line-height: 3.3em;
}
#content .poll-tile .tile-content-wrapper>form>input[type=submit] {
margin-top: 1em;
padding: 0.8em 0px 0.8em 3em;
width: 100%;
border: none;
background: #456183 url(../++theme++verde/img/readmorewhiteblue.png) no-repeat 1em center;
color: #fff;
text-align: left;
text-transform: uppercase;
font-size: 1.1em;
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}
#content .poll-tile .tile-content-wrapper>.result-text,
#content .poll-tile .tile-content-wrapper>.tile-poll-more {
padding-top: 1em;
text-align: right;
text-transform: uppercase;
font-size: 0.8em;
}
#content .poll-tile .tile-content-wrapper>.tile-poll-more {
padding-bottom: 1em;
}
/* */
.template-compose .tile-container {
position: relative;
}
.template-compose .tile-container .edit-tile-link {
position: absolute;
top: 0;
left: 0;
}
/* */
.destaque-tile .items-destaque .item {
position: relative;
}
.destaque-tile .items-destaque .item a img {
float: left;
margin: 0 1em 0.5em 0;
}
/* */
.searchSection label {
cursor: pointer;
}
/* */
.centered {
text-align: center;
}
.centered img {
display: none;
}
/* */
fieldset#add-on-list {
display: none;
}
/* */
form.inline-form {
display: inline;
}
/* */
div[data-tile*="collective.cover.embed"] {
overflow: hidden;
max-width: 766px;
max-height: 574px;
}
div[data-tile*="collective.cover.embed"] .samba-player {
position: relative;
overflow: hidden;
padding-top: 30px;
padding-bottom: 56.25%;
width: 100% !important;
height: 0;
height: 100% !important;
}
div[data-tile*="collective.cover.embed"] .samba-player iframe,
div[data-tile*="collective.cover.embed"] .samba-player object,
div[data-tile*="collective.cover.embed"] .samba-player embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/* */
/* */
#content #tile_banner_rotativo {
overflow: hidden;
margin: 0 0 1.8em;
}
/* */
#content #tile_banner_rotativo.chamada_com_foto { min-height: 545px; }
#content #tile_banner_rotativo.chamada_com_foto li .banner { width: 100%; }
/* */
#content #tile_banner_rotativo li {
margin: 0;
list-style: outside none;
}
/* */
#tile_banner_rotativo li .credito {
display: block;
color: #172938;
text-align: right;
font-style: italic;
font-size: 1em;
font-family: Arial, Helvetica, sans-serif;
line-height: 2em;
}
/* */
#tile_banner_rotativo li .banner {
position: absolute;
top: 0;
left: 0;
opacity: 0;
filter: alpha(opacity=0);
}
/* */
#tile_banner_rotativo .activeSlide .banner {
z-index: 1;
opacity: 1;
filter: alpha(opacity=100);
}
/* */
#tile_banner_rotativo li .banner img {
max-width: 750px;
width: 100%;
}
/* */
#tile_banner_rotativo li .banner .title {
display: block;
margin: 0.450em 0 0.450em 0;
color: #172938;
font-weight: bold;
font-size: 2.7em;
font-family: Arial, Helvetica, sans-serif;
line-height: 1em;
}
/* */
#tile_banner_rotativo li .banner .descr {
display: block;
color: #172938;
font-size: 1.1em;
font-family: Arial, Helvetica, sans-serif;
}
/* */
#tile_banner_rotativo li .banner .faixa {
position: relative;
margin-top: -21px;
max-width: 750px;
width: 100%;
height: 20px;
border-radius: 0 0 5px 5px;
background: url("++resource++brasil.gov.tiles/shadow-50.png") repeat top left;
color: #fff;
float: left;
}
/* */
#tile_banner_rotativo li .button-nav,
.orderTiles .button-nav {
position: absolute;
top: 0;
right: 0;
z-index: 2;
display: block;
overflow: hidden;
width: 21px;
height: 20px;
border-right: 1px solid #446b5d;
background-color: #0e561f;
background-image: url("++resource++brasil.gov.tiles/bullets-branco-verde.gif");
background-repeat: no-repeat;
text-indent: 100%;
white-space: nowrap;
}
#tile_banner_rotativo .activeSlide .button-nav,
#tile_banner_rotativo li .button-nav:hover,
#tile_banner_rotativo li .button-nav:focus {
background-color: #ffb400;
background-position: -21px 0;
}
#tile_banner_rotativo .last-item .button-nav {
border: none;
border-radius: 0 0 3px 0;
right: 0;
}
/* */
#tile_banner_rotativo[data-quantidade="2"] #banner1 .button-nav { right: 20px; }
/* */
#tile_banner_rotativo[data-quantidade="3"] #banner1 .button-nav { right: 40px; }
#tile_banner_rotativo[data-quantidade="3"] #banner2 .button-nav { right: 20px; }
/* */
#tile_banner_rotativo[data-quantidade="4"] #banner1 .button-nav { right: 60px; }
#tile_banner_rotativo[data-quantidade="4"] #banner2 .button-nav { right: 40px; }
#tile_banner_rotativo[data-quantidade="4"] #banner3 .button-nav { right: 20px; }
/* */
#tile_banner_rotativo.chamada_sobrescrito li .banner { width: 100%; }
#tile_banner_rotativo.chamada_sobrescrito li .banner .faixa { display: none; }
#tile_banner_rotativo.chamada_sobrescrito li .banner img { max-height: 540px; }
#tile_banner_rotativo.chamada_sobrescrito li .nav-wrapper { margin-top: -50px; }
#tile_banner_rotativo.chamada_sobrescrito li .banner .title  {
margin: -57px 0 0;
height: 41px;
border-radius: 0 0 5px 5px;
background: url("++resource++brasil.gov.tiles/shadow-50.png") repeat top left;
color: #fff;
position: relative;
padding: 5px 4.5em 10px 1em;
font-family: Arial, Verdana, sans-serif;
font-weight: bold;
font-style: normal;
font-size: 1.45em;
line-height: 1.35em;
overflow: hidden;
}
#tile_banner_rotativo.chamada_sem_foto li .banner { width: 100%; }
#tile_banner_rotativo.chamada_sem_foto li .banner .faixa { display: none; }
#tile_banner_rotativo.chamada_sem_foto li .banner img { max-height: 240px; }
#tile_banner_rotativo.chamada_sem_foto li .banner .title  {
margin: -20px 0 0;
height: 20px;
border-radius: 0 0 5px 5px;
background: url("++resource++brasil.gov.tiles/shadow-50.png") repeat top left;
color: #fff;
position: relative;
text-indent: 1em;
font-weight: normal;
font-style: italic;
font-size: .8em;
line-height: 20px;
}
.template-compose #content #tile_banner_rotativo li {
position: relative;
float: left;
margin: 1% 1%;
width: 23%;
min-height: 250px;
}
.template-compose #content #tile_banner_rotativo li:hover {
opacity: .9;
filter: alpha(opacity=90);
}
.template-compose #content #tile_banner_rotativo .banner { margin: 10px 0 0; }
.template-compose #content #tile_banner_rotativo .banner img {
margin: 0 3%;
width: 94%;
}
.template-compose #content #tile_banner_rotativo .banner,
.template-compose #content #tile_banner_rotativo .banner img {
opacity: 1;
filter: alpha(opacity=100);
}
.template-compose #content #tile_banner_rotativo .button-nav,
.template-compose #content #tile_banner_rotativo span { display: none; }
.template-compose #content #tile_banner_rotativo .title {
display: block;
margin: 3%;
font-size: 1.2em;
line-height: 1.2em;
font-style: normal;
background: transparent none;
color: #172938;
font-weight: bold;
text-indent: initial;
height: auto;
}
.template-compose #content #tile_banner_rotativo .tile-remove-item {
top: 0;
right: -5px;
}
.tile-remove-item {
z-index: 10 !important;
}
.template-compose .tile-container {
position: relative;
}
.template-compose .tile-container .edit-tile-link {
position: absolute;
top: 0;
left: 0;
}
.orderTiles {
position: absolute;
right: 0;
bottom: 0;
z-index: 10;
}
.orderTiles .button-nav { position: static; }
/* */
.album-tile .no-albums {
display: table-cell;
padding: 10px;
height: 80px;
vertical-align: middle;
}
.album-tile {
background-color: #edeff1;
border: 1px solid #d5d5d5;
border-radius: 5px;
}
#content .album-tile img {
border-radius: 0px;
border-top: 1px solid #505050;
border-bottom: 1px solid #505050;
}
.tile .gallery-title,
.tile .album-title {
color: #454545;
font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}
.tile .gallery-title {
margin: 14px 12px 23px 12px;
padding: 0;
font-size: 1.25em;
}
.width-16 .tile .album-title,
.width-16 .tile .album-description {
width: 420px !important;
min-height: 1px;
}
.width-16 .tile .album-title,
.width-16 .tile .album-description,
.width-10 .tile .album-title,
.width-10 .tile .album-description {
max-height: 2.8em;
overflow: hidden;
}
.width-10 .tile .album-description {
min-width: 468px;
}
.width-5 .tile .album-title,
.width-5 .tile .album-description,
.mobile .tile .album-title,
.mobile .tile .album-description {
max-height: 5.8em !important;
overflow: hidden;
}
.tile .album-title,
.tile .album-description {
display: block;
margin: 10px;
padding: 0;
min-width: 208px;
max-width: 468px;
font-size: 1.05em;
}
.tile .album-title {
display: block;
margin: 10px;
}
.tile .album-description {
float: left;
overflow: hidden;
margin: 0 10px 5px;
font-style: italic;
}
.mobile .album-tile .album-description,
.mobile .album-tile .album-title {
width: 90% !important;
min-width: 90% !important;
}
.album-tile .player {
position: relative;
}
.album-tile .cycle-hover {
position: absolute;
top: 0px;
z-index: 100;
float: left;
overflow: hidden;
width: 100%;
}
.album-tile .cycle-hover:hover .cycle-prev,
.album-tile .cycle-hover:hover .cycle-next {
display: block;
}
.album-tile .cycle-hover .cycle-prev,
.album-tile .cycle-hover .cycle-next {
position: absolute;
top: 50%;
z-index: 100;
display: none;
overflow: hidden;
margin-top: -20px;
width: 42px;
height: 40px;
background: url("++resource++brasil.gov.tiles/icons-setas.png");
text-indent: 100%;
white-space: nowrap;
}
#content .album-tile .thumb-itens {
margin: 7px;
width: 129px;
height: 85px;
border: 1px solid #d5d5d5 !important;
border-radius: 0;
}
.album-tile .thumb-itens .table-align {
display: table-cell;
vertical-align: middle;
height: 87px;
}
.album-tile .thumb-itens img {
width: 128px;
height: 85px;
border: none !important;
border-radius: 0;
}
.album-tile .cycle-hover .cycle-prev {
left: 20px;
}
.album-tile .cycle-hover .cycle-next {
right: 20px;
background-position: -43px 0;
}
.album-tile .cycle-carrossel {
margin: 0 36px !important;
height: 101px;
position: absolute !important;
}
.album-tile .carousel {
margin: 10px 5px 10px;
height: 101px;
border: 1px solid #d5d5d5;
background: #fff;
position: relative;
}
.album-tile .cycle-nagivation .cycle-prev,
.album-tile .cycle-nagivation .cycle-next {
position: absolute;
top: 50%;
display: block;
overflow: hidden;
margin-top: -11px;
width: 22px;
height: 22px;
background: url("++resource++brasil.gov.tiles/icons-setas-min.png");
text-indent: 100%;
white-space: nowrap;
}
.album-tile .cycle-nagivation .cycle-prev {
left: 7px;
}
.album-tile .cycle-nagivation .cycle-next {
background-position: 22px 0;
right: 7px;
}
.album-tile .open-album,
.album-tile .download-album {
display: block;
float: left;
overflow: hidden;
width: 112px;
color: #335277 !important;
text-transform: uppercase;
font-size: 0.8em;
line-height: 2.5em;
text-align: left;
margin-left: 10px;
}
.album-tile .open-album {
margin-right: 20px;
}
.album-tile .download-album {
width: 149px;
}
.album-tile .icon-camera,
.album-tile .icon-download {
display: block;
float: right;
overflow: hidden;
width: 22px;
height: 22px;
background-image: url("++resource++brasil.gov.tiles/icon-camera-download.png");
white-space: nowrap;
}
.album-tile .icon-camera {
background-position: 0 0;
}
.album-tile .icon-download {
background-position: -36px 0;
}
.mobile .album-tile .footer {
width: 95%;
}
.album-tile .footer {
overflow: hidden;
padding: 10px 7px;
border-top: 1px solid #d5d5d5;
text-align: right;
text-transform: uppercase;
font-size: 0.8em;
}
.album-tile .footer a {
float: right;
color: #335277 !important;
}
.album-tile .footer a:after {
display: block;
float: right;
width: 14px;
height: 14px;
content: "";
margin-left: 7px;
background: url("++resource++brasil.gov.tiles/footer-arrow.png") no-repeat scroll right center transparent;
}
/* */
#tiles-list #audiogallery img {
background: url("++resource++brasil.gov.tiles/tile-audiogallery.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #audio img {
background: url("++resource++brasil.gov.tiles/tile-audio.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #nitf img {
background: url("++resource++brasil.gov.tiles/tile-article.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #videogallery img {
background: url("++resource++brasil.gov.tiles/tile-mediagallery.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #video img {
background: url("++resource++brasil.gov.tiles/tile-media.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #social img {
background: url("++resource++brasil.gov.tiles/tile-social.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #poll img {
background: url("++resource++brasil.gov.tiles/tile-poll.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #standaloneheader img {
background: url("++resource++brasil.gov.tiles/tile-header.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #agenda img {
background: url("++resource++brasil.gov.tiles/tile-agenda.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #destaque img {
background: url("++resource++brasil.gov.tiles/tile-destaque.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #em_destaque img {
background: url("++resource++brasil.gov.tiles/tile-em_destaque.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #albuns img {
background: url("++resource++brasil.gov.tiles/tile-albuns.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #mediacarousel img {
background: url("++resource++brasil.gov.tiles/tile-mediacarousel.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
#tiles-list #banner_rotativo img {
background: url("++resource++brasil.gov.tiles/tile-banner_rotativo.png") no-repeat center center;
padding-left: 32px;
width: 32px;
height: 32px;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
/* */
body.contraste .album-tile {
background: #000 !important;
}
body.contraste .album-tile .album-title {
color: #fff !important;
}
body.contraste .album-tile .icon-camera,
body.contraste .album-tile .icon-download {
background-image: url("++resource++brasil.gov.tiles/icon-camera-download-contraste.png") !important;
}
body.contraste .album-tile .carousel {
border: 1px solid #fff;
background: #000;
}
body.contraste .album-tile .cycle-nagivation .cycle-prev,
body.contraste .album-tile .cycle-nagivation .cycle-next {
background-image: url("++resource++brasil.gov.tiles/icons-setas-min-contraste.png");
}
body.contraste .album-tile .cycle-hover .cycle-prev,
body.contraste .album-tile .cycle-hover .cycle-next {
background-image: url("++resource++brasil.gov.tiles/icons-setas-contraste.png");
}
body.contraste .album-tile .footer a:after {
width: 20px;
height: 20px;
background: url("++resource++brasil.gov.portal/img/seta_branca.png") no-repeat transparent !important;
}

}

