
/* - ++resource++brasil.gov.portlets/css/main.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/++resource++brasil.gov.portlets/css/main.css?original=1 */
/* */
.portlet .portlet-audio-title
{
font-size: 13px;
font-size: .8125rem;
font-weight: normal;
margin: 0;
margin-bottom: 10px;
margin-bottom: .625rem;
padding: 0;
color: #454545;
}
/* */
#portal-column-one .jp-time-holder
{
position: static;
float: left;
clear: both;
width: 70px;
margin-top: 17px;
margin-left: -10px;
}
/* */
/* */
div.jp-audio,
div.jp-audio-stream
{
font-family: Verdana, Arial, sans-serif;
font-size: 1.25em;
line-height: 1.6;
color: #666;
border: 1px solid #e0e0e0;
border-radius: 5px 5px 5px 5px;
background-color: #eee;
box-shadow: 0 0 5px 1px #ccc;
}
div.jp-audio
{
width: 100%;
margin-bottom: 5px;
}
div.jp-audio-stream
{
width: 182px;
}
div.jp-interface
{
position: relative;
width: 100%;
background-color: #edeef2;
}
div.jp-audio div.jp-type-single div.jp-interface,
div.jp-audio-stream div.jp-type-single div.jp-interface
{
height: 48px;
}
div.jp-controls-holder
{
position: relative;
top: -8px;
clear: both;
overflow: hidden;
width: 440px;
margin: 0 auto;
}
div.jp-interface ul.jp-controls
{
position: absolute;
overflow: hidden;
width: 100%;
margin: 0;
padding: 0;
list-style-type: none;
}
div.jp-audio ul.jp-controls
{
margin: 0 !important;
padding: 10px 0;
}
div.jp-audio-stream ul.jp-controls
{
width: 142px;
padding: 20px 20px 0 20px;
}
div.jp-interface ul.jp-controls li
{
display: inline !important;
float: left;
}
div.jp-interface ul.jp-controls a
{
display: block;
overflow: hidden;
text-indent: -9999px;
}
a.jp-play,
a.jp-pause
{
position: relative;
left: 10px;
width: 23px;
height: 23px;
}
a.jp-play
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 0 no-repeat;
}
a.jp-play:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -41px 0 no-repeat;
}
a.jp-pause
{
display: none;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -42px no-repeat;
}
a.jp-pause:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -41px -42px no-repeat;
}
a.jp-previous, a.jp-next
{
width: 28px;
height: 28px;
margin-top: 6px;
}
a.jp-previous
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -112px no-repeat;
}
a.jp-previous:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -29px -112px no-repeat;
}
a.jp-next
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -141px no-repeat;
}
a.jp-next:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -29px -141px no-repeat;
}
div.jp-progress
{
overflow: hidden;
background-color: #ddd;
}
div.jp-audio div.jp-progress
{
position: relative;
top: 15px;
display: block;
clear: both;
height: 15px;
}
div.jp-audio div.jp-type-single div.jp-progress
{
width: 100%;
}
.jp-progress-time-wrapper
{
display: block;
height: 50px;
padding-right: 45px;
padding-left: 45px;
}
div.jp-seek-bar
{
width: 0;
height: 100%;
cursor: pointer;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -202px repeat-x;
}
div.jp-play-bar
{
width: 0;
height: 100%;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -218px repeat-x;
}
div.jp-seeking-bg
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.seeking.gif');
}
/* */
a.jp-mute,
a.jp-unmute
{
position: absolute;
top: 15px;
right: 15px;
width: 18px;
height: 15px;
margin-top: 0;
vertical-align: middle;
}
div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute
{
margin-left: 210px;
}
div.jp-audio-stream div.jp-type-single a.jp-mute,
div.jp-audio-stream div.jp-type-single a.jp-unmute
{
margin-left: 10px;
}
a.jp-mute
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -186px no-repeat;
}
a.jp-mute:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -19px -186px no-repeat;
}
a.jp-unmute
{
display: none;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -60px -170px no-repeat;
}
a.jp-unmute:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -79px -170px no-repeat;
}
div.jp-volume-bar
{
position: absolute;
overflow: hidden;
width: 35px;
height: 5px;
cursor: pointer;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -250px repeat-x;
}
div.jp-audio div.jp-volume-bar
{
top: 37px;
right: 5px;
}
div.jp-audio-stream div.jp-volume-bar
{
top: 37px;
left: 92px;
}
div.jp-volume-bar-value
{
width: 0;
height: 5px;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -256px repeat-x;
}
/* */
div.jp-audio div.jp-time-holder
{
font-size: 10px;
line-height: 15px;
position: relative;
top: 15px;
display: block;
clear: both;
height: 15px;
text-align: right;
}
div.jp-audio div.jp-type-single div.jp-time-holder
{
width: 100%;
}
.jp-current-time,
.jp-duration
{
font-size: 10px;
font-style: oblique;
width: 60px;
}
.jp-duration
{
text-align: right;
}
/* */
span.jp-artist
{
font-size: .8em;
color: #666;
}
div.jp-jplayer audio,
div.jp-jplayer
{
width: 0;
height: 0;
}
div.jp-jplayer
{
background-color: #000;
}
ul.jp-toggles
{
overflow: hidden;
margin: 0 auto;
padding: 0;
list-style-type: none;
}
div.jp-audio .jp-type-single ul.jp-toggles
{
width: 25px;
}
ul.jp-toggles li
{
display: block;
float: right;
}
ul.jp-toggles li a
{
line-height: 100%;
display: block;
width: 25px;
height: 18px;
text-indent: -9999px;
}
a.jp-full-screen
{
margin-left: 20px;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -310px no-repeat;
}
a.jp-full-screen:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -30px -310px no-repeat;
}
a.jp-restore-screen
{
margin-left: 20px;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -60px -310px no-repeat;
}
a.jp-restore-screen:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -90px -310px no-repeat;
}
a.jp-shuffle
{
margin-left: 5px;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') 0 -270px no-repeat;
}
a.jp-shuffle:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -30px -270px no-repeat;
}
a.jp-shuffle-off
{
margin-left: 5px;
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -60px -270px no-repeat;
}
a.jp-shuffle-off:hover
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.jpg') -90px -270px no-repeat;
}
/* */
.jp-no-solution
{
font-size: .8em;
display: none;
padding: 5px;
color: #000;
border: 2px solid #009be3;
background-color: #eee;
}
.jp-no-solution a
{
color: #000;
}
.jp-no-solution span
{
font-size: 1em;
font-weight: bold;
display: block;
text-align: center;
}
/* */
/* */
.portal-padrao-audiogallery-portlet
{
overflow: hidden;
margin-bottom: 20px;
border: 1px solid #d4d4d6;
background-color: #eeeff1;
}
.portal-padrao-audiogallery-portlet .portlet-audiogallery-title
{
font-size: .98em;
font-weight: normal;
line-height: 1.1em;
margin: 0;
padding: .8em .85em .7em .85em;
color: #454545;
border-bottom: 1px solid #d4d4d6;
}
.portal-padrao-audiogallery-portlet .audiogallery-player-container
{
padding: .7em .8em;
border-bottom: none;
}
.portal-padrao-audiogallery-portlet .audiogallery-item-title
{
font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
font-size: .8em;
line-height: 1.25em;
padding: .2em .8em 0 .8em;
}
.portal-padrao-audiogallery-portlet .audiogallery-items-container .selected
{
display: none;
}
.portal-padrao-audiogallery-portlet .audiogallery-items-container li
{
line-height: 1em;
float: left;
width: 100%;
padding: .5em 0 .7em 0;
border-top: 1px dotted #d4d4d6;
}
.portal-padrao-audiogallery-portlet .audiogallery-items-container .audiogallery-item
{
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
font-size: .7em;
display: block;
min-height: 1.9em;
margin: 0 1.4em;
padding-left: 22px;
color: #454545;
background: url('++resource++brasil.gov.portlets/img/sound-icon.png') no-repeat scroll left 0 top .4em rgba(0, 0, 0, 0);
}
.portal-padrao-audiogallery-portlet .portletFooter
{
float: left;
width: 100%;
padding: .2em 0 .4em 0;
text-align: right;
border-top: 1px solid #d4d4d6;
background: none;
}
.portal-padrao-audiogallery-portlet .portletFooter a
{
font-size: .7em;
line-height: 14px;
display: inline-block;
margin: 0 .6em;
padding-right: 1.9em;
color: #335277;
background: url('++resource++brasil.gov.portlets/img/footer-arrow.png') no-repeat scroll right 0 top 50% rgba(0, 0, 0, 0);
}
/* */
#portal-column-one .portal-padrao-audiogallery-portlet .audiogallery-item-title
{
padding: .2em .25em 0 .25em;
}
#portal-column-one .portal-padrao-audiogallery-portlet .audiogallery-player-container
{
padding: .7em .65em;
}
#portal-column-one .portal-padrao-audiogallery-portlet .jp-time-holder
{
margin-top: 18px;
margin-left: -33px;
}
#portal-column-one .portal-padrao-audiogallery-portlet .audiogallery-items-container .audiogallery-item
{
margin: 0 1.2em;
padding-left: 22px;
}
/* */
.contraste a.jp-play,
.contraste a.jp-play:hover,
.contraste a.jp-pause,
.contraste a.jp-pause:hover,
.contraste a.jp-previous,
.contraste a.jp-previous:hover,
.contraste a.jp-next,
.contraste a.jp-next:hover,
.contraste div.jp-seek-bar,
.contraste div.jp-play-bar,
.contraste a.jp-mute,
.contraste a.jp-mute:hover,
.contraste a.jp-unmute,
.contraste a.jp-unmute:hover,
.contraste div.jp-volume-bar,
.contraste div.jp-volume-bar-value,
.contraste a.jp-full-screen,
.contraste a.jp-full-screen:hover,
.contraste a.jp-restore-screen,
.contraste a.jp-restore-screen:hover,
.contraste a.jp-shuffle,
.contraste a.jp-shuffle:hover,
.contraste a.jp-shuffle-off,
.contraste a.jp-shuffle-off:hover
{
background-image: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.contrast.jpg');
}
.contraste div.jp-seeking-bg
{
background: url('++resource++brasil.gov.portlets/img/jplayer.blue.monday.seeking.contrast.gif');
}
.contraste .portal-padrao-audiogallery-portlet
{
border: 1px solid #fff;
background: #000 !important;
}
.contraste .portal-padrao-audiogallery-portlet .portletFooter a
{
background-image: url('++resource++brasil.gov.portlets/img/footer-arrow-contrast.png');
}
.contraste .portal-padrao-audiogallery-portlet .audiogallery-items-container .audiogallery-item
{
background-image: url('++resource++brasil.gov.portlets/img/sound-icon-contrast.png');
}
/* */
.portal-padrao-video-portlet .video-container
{
margin-bottom: .5em;
}
.portal-padrao-video-portlet .title
{
font-size: .85em;
line-height: 1.25em;
display: block;
color: #454545;
}
/* */
.portal-padrao-video-portlet .video-container
{
position: relative;
overflow: hidden;
height: 0;
padding-top: 35px;
padding-bottom: 56.25%;
}
.portal-padrao-video-portlet .video-container iframe
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/* */
.contraste .portal-padrao-video-portlet .title
{
color: #fff;
}
/* */
.portal-padrao-videogallery-portlet
{
overflow: hidden;
color: #fff;
border: 1px solid #072d6d;
border-radius: 5px;
background-color: #072d6d;
}
.portal-padrao-videogallery-portlet .portletHeader
{
padding: .71em .65em .58em .65em;
border-bottom: 1px solid #305491;
}
.portal-padrao-videogallery-portlet .portlet-videogallery-header
{
font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
line-height: 1.3em;
text-transform: uppercase;
color: #fff;
}
.portal-padrao-videogallery-portlet .player
{
padding: .58em .65em .9em .65em;
border-bottom: 1px solid #305491;
}
.portal-padrao-videogallery-portlet .portlet-videogallery-player
{
width: 100%;
margin-bottom: .9em;
}
.portal-padrao-videogallery-portlet .portlet-videogallery-player.no-title
{
margin-bottom: 0;
}
.portal-padrao-videogallery-portlet .portlet-videogallery-active-title
{
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
font-size: .95em;
line-height: 1.24em;
overflow: hidden;
height: 2.48em;
margin-bottom: .3em;
color: #d1e1ff;
}
.portal-padrao-videogallery-portlet .portlet-videogallery-description
{
font-family: Arial, Helvetica, sans-serif;
font-size: .9em;
line-height: 1.16em;
color: #d1e1ff;
}
.portal-padrao-videogallery-portlet .cycle-pager-active
{
display: none;
}
.portal-padrao-videogallery-portlet .thumb-itens
{
float: left;
width: 100%;
margin-bottom: 1px;
padding: .65em 0;
border-bottom: 1px dotted #305491;
}
.portal-padrao-videogallery-portlet .portlet-videogallery-thumbnail
{
float: left;
overflow: hidden;
max-width: 100px;
max-height: 70px;
margin: 0 .7em 0 .9em;
}
.portal-padrao-videogallery-portlet .portlet-videogallery-thumbnail img
{
border-radius: 0;
}
.portal-padrao-videogallery-portlet .portlet-videogallery-inactive-title
{
font-size: .75em;
padding: 0 .9em 0 1.1em;
color: #d1e1ff;
}
.portal-padrao-videogallery-portlet .portletFooter
{
float: left;
width: 100%;
padding: .52em 0 .39em 0;
text-align: right;
background: #062457;
}
.portal-padrao-videogallery-portlet .portletFooter a
{
font-size: .73em;
line-height: 20px;
display: inline-block;
height: 20px;
height: 100%;
margin: 0 .71em;
padding-right: 28px;
color: #d1e1ff;
background: url('++resource++brasil.gov.portlets/img/footer-arrow.jpg') no-repeat scroll right 0 top 50% rgba(0, 0, 0, 0);
}
/* */
#portal-column-one .portal-padrao-videogallery-portlet .portletHeader
{
padding: .58em .52em .58em .52em;
}
#portal-column-one .portal-padrao-videogallery-portlet .player
{
padding: .58em 0 .5em 0;
}
#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-player
{
margin-bottom: .35em;
padding: 0 .45em;
}
#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-active-title
{
height: inherit;
margin-bottom: .5em;
padding: 0 .71em .95em .71em;
border-bottom: 1px dotted #305491;
}
#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-description
{
padding: 0 .72em;
}
#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-thumbnail
{
max-width: 43%;
max-height: 75px;
margin: 0 .45em 0 .71em;
}
#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-inactive-title
{
height: 5.7em;
padding-left: .9em;
}
#portal-column-one .portal-padrao-videogallery-portlet .portletFooter a
{
margin: 0 .5em;
padding-right: 26px;
}
/* */
.contraste .portal-padrao-videogallery-portlet
{
border: 1px solid #fff;
background: #000 !important;
}
.contraste .portal-padrao-videogallery-portlet .portlet-videogallery-active-title,
.contraste .portal-padrao-videogallery-portlet .portlet-videogallery-description,
.contraste .portal-padrao-videogallery-portlet .portlet-videogallery-inactive-title
{
color: #fff !important;
}
.contraste .portal-padrao-videogallery-portlet .thumb-itens,
.contraste .portal-padrao-videogallery-portlet .player,
.contraste #portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-active-title
{
border-bottom: 1px dotted #fff;
}
.contraste .portal-padrao-videogallery-portlet .portletFooter
{
background: #000;
}
.contraste .portal-padrao-videogallery-portlet .portletFooter a
{
background-image: url('++resource++brasil.gov.portlets/img/seta_branca.png');
}
/* */
.portal-padrao-collection-portlet
{
overflow: hidden;
border: 1px solid #c0c1c3;
border-radius: 5px;
background: #eeeff1 !important;
}
.portal-padrao-collection-portlet .portletHeader
{
padding: .55em .5em .4em .5em;
text-transform: uppercase;
border-bottom: 1px solid #c0c1c3;
}
.portal-padrao-collection-portlet .portletHeader a,
.portal-padrao-collection-portlet .portletHeader a span
{
font-family: open_sansbold, Arial, Helvetica, sans-serif;
font-size: .95em;
font-weight: normal;
display: block;
margin: 0;
padding: 0;
color: #454545;
}
.portal-padrao-collection-portlet .portlet-collection-item
{
padding: .75em .4em;
border-bottom: 1px dotted #c1c2c2;
}
.portal-padrao-collection-portlet .portlet-collection-item:last-child
{
border-bottom: 1px solid #c1c2c2;
}
.portal-padrao-collection-portlet .portlet-collection-image
{
margin-bottom: .8em;
}
.portal-padrao-collection-portlet .portlet-collection-image a
{
float: none;
width: 100%;
margin: 0;
}
.portal-padrao-collection-portlet .portlet-collection-image img
{
width: 100%;
border-radius: 0;
}
.portal-padrao-collection-portlet .portlet-collection-text
{
padding: 0 .07em;
}
.portal-padrao-collection-portlet .portlet-collection-date
{
font-size: .7em;
line-height: 1.1em;
margin: 0;
color: #335277;
}
.portal-padrao-collection-portlet .portlet-collection-title
{
margin-bottom: .4em;
}
.portal-padrao-collection-portlet .portlet-collection-title a
{
font-size: .65em;
line-height: 1.3em;
display: block;
float: none;
width: 100%;
margin: 0;
color: #335277;
}
.portal-padrao-collection-portlet .portlet-collection-description
{
font-family: Arial, Helvetica, sans-serif;
font-size: .87em;
line-height: 1.15em;
margin: 0;
color: #46494e;
}
.portal-padrao-collection-portlet .portletFooter
{
float: left;
width: 100%;
padding: .3em 0 .35em 0;
text-align: right;
background: none;
}
.portal-padrao-collection-portlet .portletFooter a
{
font-size: .7em;
line-height: 14px;
display: inline-block;
width: auto;
height: auto;
margin: 0 .52em;
padding-right: 1.7em;
color: #444a53;
background: url('++resource++brasil.gov.portlets/img/footer-arrow.png') no-repeat right 0 top 50%;
}
/* */
.contraste .portal-padrao-collection-portlet
{
border: 1px solid #fff;
background: #000 !important;
}
.contraste .portal-padrao-collection-portlet .portletHeader
{
border-radius: 5px 5px 0 0;
}
.contraste .portal-padrao-collection-portlet .portletItem
{
background: #000;
}
.contraste .portal-padrao-collection-portlet .portlet-collection-item
{
border-bottom: 1px dotted #fff;
}
.contraste .portal-padrao-collection-portlet .portlet-collection-item:last-child
{
border-bottom: 1px solid #fff;
}
.contraste .portal-padrao-collection-portlet .portletHeader a span,
.contraste .portal-padrao-collection-portlet .portlet-collection-date,
.contraste .portal-padrao-collection-portlet .portlet-collection-description
{
color: #fff !important;
}
.contraste .portal-padrao-collection-portlet .portletFooter a
{
background-image: url('++resource++brasil.gov.portlets/img/footer-arrow-contrast.png');
}
/* */
.portal-padrao-mediacarousel-portlet
{
overflow: hidden;
border: 1px solid #d5d5d5;
border-radius: 5px;
background-color: #edeff1;
}
.portal-padrao-mediacarousel-portlet .portletHeader
{
padding: .65em .6em 0 .6em;
}
.portal-padrao-mediacarousel-portlet .portletHeader h4
{
font-size: .87em;
margin-bottom: .8em;
}
.portal-padrao-mediacarousel-portlet .portlet-mediacarousel-player
{
position: relative;
}
.portal-padrao-mediacarousel-portlet .cycle-player a
{
display: block;
margin-bottom: .5em;
background: #000;
}
.portal-padrao-mediacarousel-portlet .cycle-player .portlet-mediacarousel-title a
{
margin-bottom: 0em;
background: transparent;
color: #454545;
}
.portal-padrao-mediacarousel-portlet .cycle-player img
{
display: block;
width: auto;
margin: 0 auto;
margin-bottom: .5em;
border-radius: 0;
}
.portal-padrao-mediacarousel-portlet .portlet-mediacarousel-title
{
font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
font-size: .78em;
margin: 0 .5em .3em .5em;
color: #454545;
}
.portal-padrao-mediacarousel-portlet .portlet-mediacarousel-description
{
font-size: .8em;
line-height: 1.2em;
margin: 0 .5em .4em .5em;
color: #454545;
}
.portal-padrao-mediacarousel-portlet .portlet-mediacarousel-rights
{
font-family: Arial, Helvetica, sans-serif;
font-size: .7em;
font-style: italic;
margin: 0 .5em .65em .5em;
color: #000;
}
.portal-padrao-mediacarousel-portlet  .portlet-mediacarousel-player .cycle-hover
{
position: absolute;
z-index: 100;
top: 0;
float: left;
overflow: hidden;
width: 100%;
}
.portal-padrao-mediacarousel-portlet  .portlet-mediacarousel-player .cycle-hover a
{
position: absolute;
z-index: 100;
top: 41%;
display: none;
overflow: hidden;
width: 62px;
height: 62px;
margin-top: -20px;
white-space: nowrap;
text-indent: 100%;
background-image: url('++resource++brasil.gov.portlets/img/classic-map.png');
background-repeat: no-repeat;
}
.portal-padrao-mediacarousel-portlet .cycle-hover:hover .cycle-prev,
.portal-padrao-mediacarousel-portlet .cycle-hover:hover .cycle-next
{
display: block;
opacity: .5;
}
.portal-padrao-mediacarousel-portlet .cycle-hover:hover .cycle-prev:hover
{
opacity: 1;
}
.portal-padrao-mediacarousel-portlet .cycle-hover:hover .cycle-next:hover
{
opacity: 1;
}
.portal-padrao-mediacarousel-portlet .portlet-mediacarousel-player .cycle-prev
{
left: -10px;
background-position: 20px 16px;
}
.portal-padrao-mediacarousel-portlet .portlet-mediacarousel-player .cycle-next
{
right: -12px;
background-position: -276px 16px;
}
.portal-padrao-mediacarousel-portlet .portlet-mediacarousel-carousel
{
position: relative;
height: 60px;
border-top: 1px solid #d5d5d5;
border-bottom: 1px solid #d5d5d5;
background-color: #fff;
}
.portal-padrao-mediacarousel-portlet .cycle-carrossel
{
position: absolute !important;
margin: 0 32px !important;
}
.portal-padrao-mediacarousel-portlet .cycle-nagivation .cycle-prev,
.portal-padrao-mediacarousel-portlet .cycle-nagivation .cycle-next
{
position: absolute;
top: 50%;
display: block;
overflow: hidden;
width: 22px;
height: 22px;
margin-top: -11px;
white-space: nowrap;
text-indent: 100%;
background: url('++resource++brasil.gov.portlets/img/icons-setas-min.png');
}
.portal-padrao-mediacarousel-portlet .cycle-nagivation .cycle-prev
{
left: 6px;
}
.portal-padrao-mediacarousel-portlet .cycle-nagivation .cycle-next
{
right: 6px;
background-position: 22px 0;
}
.portal-padrao-mediacarousel-portlet .thumb-itens
{
width: auto;
height: 36px;
margin: 11px 4px 13px 0;
border: 1px solid #d5d5d5 !important;
border-radius: 0;
}
.portal-padrao-mediacarousel-portlet .thumb-itens .table-align
{
display: table-cell;
height: 36px;
vertical-align: middle;
}
.portal-padrao-mediacarousel-portlet .thumb-itens img
{
min-width: inherit;
min-height: inherit;
border-radius: 0;
}
.portal-padrao-mediacarousel-portlet .portletFooter
{
float: left;
width: 100%;
padding: .2em 0 .4em 0;
text-align: right;
background: none;
}
.portal-padrao-mediacarousel-portlet .portletFooter a
{
font-size: .7em;
line-height: 14px;
display: inline-block;
margin: 0 .52em;
padding-right: 1.9em;
color: #335277;
background: url('++resource++brasil.gov.portlets/img/footer-arrow.png') no-repeat scroll right 0 top 50% rgba(0, 0, 0, 0);
}
/* */
.contraste .portal-padrao-mediacarousel-portlet
{
border: 1px solid #fff;
background: #000 !important;
}
.contraste .portal-padrao-mediacarousel-portlet .portletHeader
{
border-radius: 5px 5px 0 0;
}
.contraste .portal-padrao-mediacarousel-portlet .portlet-mediacarousel-title,
.contraste .portal-padrao-mediacarousel-portlet .portlet-mediacarousel-description,
.contraste .portal-padrao-mediacarousel-portlet .portlet-mediacarousel-rights
{
color: #fff !important;
}
.contraste .portal-padrao-mediacarousel-portlet .portlet-mediacarousel-carousel
{
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
background-color: #000;
}
.contraste .portal-padrao-mediacarousel-portlet .thumb-itens
{
border: 1px solid #fff !important;
}
.contraste .portal-padrao-mediacarousel-portlet .portletFooter a
{
background-image: url('++resource++brasil.gov.portlets/img/footer-arrow-contrast.png');
}
/* */
/* */
.portletPortalPadraoMediaCarousel .portletHeader h1,
.portletPortalPadraoMediaCarousel .portletHeader h2,
.portletPortalPadraoMediaCarousel .portletHeader h3,
.portletPortalPadraoMediaCarousel .portletHeader h4,
.portletPortalPadraoMediaCarousel .portletHeader h5,
.portal-padrao-audio-portlet .portletHeader h1,
.portal-padrao-audio-portlet .portletHeader h2,
.portal-padrao-audio-portlet .portletHeader h3,
.portal-padrao-audio-portlet .portletHeader h4,
.portal-padrao-audio-portlet .portletHeader h5,
.portal-padrao-audiogallery-portlet .portletHeader h1,
.portal-padrao-audiogallery-portlet .portletHeader h2,
.portal-padrao-audiogallery-portlet .portletHeader h3,
.portal-padrao-audiogallery-portlet .portletHeader h4,
.portal-padrao-audiogallery-portlet .portletHeader h5,
.portal-padrao-videogallery-portlet .portletHeader h1,
.portal-padrao-videogallery-portlet .portletHeader h2,
.portal-padrao-videogallery-portlet .portletHeader h3,
.portal-padrao-videogallery-portlet .portletHeader h4,
.portal-padrao-videogallery-portlet .portletHeader h5 {
font-size: 1.0em;
letter-spacing: 0em;
margin-top: 0em;
line-height: 1.3em;
}
.portal-padrao-collection-portlet .portletHeader a span {
font-size: 1.1em !important;
}
.portal-padrao-collection-portlet .portletItem h1,
.portal-padrao-collection-portlet .portletItem h2,
.portal-padrao-collection-portlet .portletItem h3,
.portal-padrao-collection-portlet .portletItem h4,
.portal-padrao-collection-portlet .portletItem h5 {
margin-top: 0.5em;
font-size: 1.3em;
letter-spacing: 0.00em;
}
.portal-padrao-collection-portlet .portletItem .portlet-collection-description {
font-size: 0.85em;
}

}

