
/* - ++resource++brasil.gov.facetada/css/main.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/++resource++brasil.gov.facetada/css/main.css?original=1 */
/* */
#faceted-results { margin: 20px 0 0; }
#content #faceted-form fieldset {
margin: 0;
padding: 0;
border: none;
}
#content #faceted-form legend {
display: block;
float: none;
margin: 0;
padding: 0;
font-weight: normal;
font-size: 1em;
}
#faceted-form #top-area {
display: block;
margin: 0;
padding: 10px 15px 15px;
border-top: 5px solid #9fa5ae;
background-color: #e5e8ea;
}
#faceted-form #top-area legend {
color: #2c66ce;
text-transform: uppercase;
font-weight: normal;
font-size: 13px;
font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}
#faceted-form #top-area input[type="text"] {
margin: 0 8px 0 0;
padding: 7px 0;
max-width: 760px;
width: 100%;
border: 1px solid #cfcfcf;
border-radius: 5px;
color: #333;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
}
#faceted-form #top-area .searchButton {
margin-top: 9px;
padding: 5px 25px;
max-width: 130px;
width: 100%;
border: none;
border-radius: 5px;
background-color: #7d7d7d;
color: #fff;
text-transform: uppercase;
font-weight: normal;
font-size: 14px;
font-family: "open_sansbold", Arial, Helvetica, sans-serif;
cursor: pointer;
}
#center-content-area { margin: 45px 260px 0 0; }
#faceted-right-column {
float: right;
margin: 44px 0 0 0;
max-width: 228px;
width: 100%;
border: none;
border: 1px solid #c0c1c1;
border-radius: 5px;
background-color: #edeff1;
}
#faceted-right-column .faceted-widget {
padding: 14px;
border-bottom: 1px dotted #c0c1c1;
}
#faceted-right-column .faceted-widget:last-child { border: none; }
#content #faceted-form #faceted-right-column ul { margin: 0; padding: 0; }
#content #faceted-form #faceted-right-column li {
margin: 9px 0;
list-style: outside none;
}
#content #faceted-form #faceted-right-column .faceted-widget:first-child li { width: 100%; }
#content #faceted-form #faceted-right-column legend {
display: block;
margin-bottom: 10px;
color: #172938;
font-weight: normal;
font-size: 12px;
font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}
#content #faceted-form label {
margin: 0;
padding: 0;
color: #172938;
font-weight: normal;
font-size: 11px;
font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}
#content #faceted-form #faceted-right-column input[type="checkbox"],
#content #faceted-form #faceted-right-column input[type="radio"] {
margin: 4px 8px 0 0;
}
#content #faceted-form #faceted-right-column .faceted-daterange-widget-form div {
margin: 0 0 10px 0;
}
#content #faceted-form #faceted-right-column .faceted-daterange-widget-form input {
padding: 4px;
border: 1px solid #cfcfcf;
border-radius: 5px;
color: #333;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
}
#content #faceted-right-column .faceted-daterange-widget-form div {
margin: 0;
width: 100%;
}
#content #faceted-right-column .faceted-daterange-widget-form label {
float: left;
margin-left: 1px;
max-width: 99px;
width: 100%;
line-height: 26px;
}
#content #faceted-right-column .faceted-daterange-widget-form input[type="text"] {
float: left;
max-width: 90px;
width: 100%;
}
body.template-configure_faceted-html .image-upload-dialog #content-core {
margin-top: 0;
}
body.template-configure_faceted-html .image-upload-dialog {
font-size: 1.3em;
}
body.template-configure_faceted-html .image-upload-dialog textarea {
width: 100%;
}
body.template-configure_faceted-html .image-upload-dialog button.btn {
font-size: 1.2em;
}
body.template-configure_faceted-html .image-upload-dialog td {
cursor: pointer;
}
body.template-configure_faceted-html .image-upload-dialog tr.selected td {
background-color: #ffa;
}
body.template-configure_faceted-html .image-upload-dialog span.title {
float: left;
width: 100%;
font-weight: bold;
font-size: 1.2em;
}
body.template-configure_faceted-html .image-upload-dialog span.breadcrumb {
float: left;
margin-bottom: 1em;
width: 100%;
}
body.template-configure_faceted-html .image-upload-dialog #folderlisting-main-table {
float: left;
overflow: auto;
width: 70%;
height: 17em;
}
body.template-configure_faceted-html .image-upload-dialog #listing-table {
border: #CCC 1px solid;
}
body.template-configure_faceted-html .image-upload-dialog .preview {
float: left;
margin-left: 0.9em;
width: 17em;
height: 17em;
}
body.template-configure_faceted-html .image-upload-dialog .table-align {
display: table-cell;
width: 17em;
height: 17em;
vertical-align: middle;
}
#content .faceted-banner-widget img {
display: block;
margin: 0 auto;
border-radius: 0;
}
body.template-configure_faceted-html #right-area {
width: auto;
}

}

