
/* - ++resource++collective.z3cform.datagridfield/datagridfield.css - */
@media screen {
/* http://www.fazenda.gov.br/portal_css/++resource++collective.z3cform.datagridfield/datagridfield.css?original=1 */
.datagridwidget-table-view {
width: 100%;
border: 1px solid #666;
background: none repeat scroll 0 0 #EEE;
}
.datagridwidget-table-view .header {
font-weight: bold;
background: none repeat scroll 0 0 #DDD;
color: #666;
padding: 2px;
font-size: 1.1em;
text-align: left;
}
.datagridwidget-row {
vertical-align: top;
}
.datagridwidget-cell input[type="text"] {
padding: 1px;
}
.datagridwidget-cell input, .datagridwidget-cell select, .datagridwidget-cell textarea {
border: 1px solid #CCC;
}
.datagridwidget-cell > input:only-child { width: 99%; }
.datagridwidget-cell div.error {
color:red;
font-weight:bold;
}
.datagridwidget-empty-row {
/* */
display: none;
}
/* */
.datagridwidget-cell {
vertical-align: bottom;
padding: 1px;
}
.datagridwidget-manipulator {
width: 16px;
text-align: center;
padding-bottom: 4px;
margin: 0;
vertical-align: bottom;
}
.datagridwidget-manipulator img {
cursor: pointer;
}
.datagridwidget-hidden-data {
display: none;
}
/* */
.auto-append  > .datagridwidget-manipulator.delete-row,
.auto-append  > .datagridwidget-manipulator.move-up,
.auto-append  > .datagridwidget-manipulator.move-down {
display:none;
}
.datagridwidget-cell input {
background: white;
background-image: none;
}

}

