/*
Theme Name: Boombox Child Theme
Theme URI: http://boombox.px-lab.com
Template: boombox
Author: Px-Lab
Author URI: http://px-lab.com
Description: Boombox is most powerful and flexible viral and buzz style WordPress theme. Flexible and fully customizable viral magazine theme combined with most powerful Viral content plugin with a ton of snacks and exclusive features and all that packed with dozens of powerful and popular plugins and with top-notch design
Version: 1.0.0
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-colors, custom-header, custom-background, full-width-template,custom-menu, editor-style, featured-images, featured-image-header, post-formats, sticky-post, theme-options, translation-ready
Text Domain: boombox
*/

/*************** Add your custom css here  ***************/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
font-family: 'PxGrotesk';
src: url('fonts/subset-PxGroteskRegular.eot');
src: url('fonts/subset-PxGroteskRegular.woff') format('woff'),
url('fonts/Px Grotesk Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'PxGrotesk';
src: url('fonts/subset-PxGrotesk-Bold.eot');
src: url('fonts/subset-PxGrotesk-Bold.woff') format('woff'),
url('fonts/Px Grotesk Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

blockquote {
	font-weight: normal;
}

blockquote::before {
	height: 3px;
	background-color: #FF3530;
}

/* remove duplicate share box */
.entry-footer div.post-share-box {
	display: none !important;
}

.entry-content h1, .entry-content h2 {
	font-family: PxGrotesk, Arial, sans-serif;
	font-weight: bold;
	border-bottom: 2px solid #FF3530;
	padding-bottom: 5px;
}
.post-info-in .post-info-text {
    color: #B3B3B3;
    font-size: 14px;
    display: inline-block;
	font-weight: bold;
}

.post-info-in .post-date .posted-on .entry-date {
    color: #B3B3B3;
    font-weight: 300;
    position: relative;
}

div.featured-area .featured-item .entry-content .posted-on {
	display: none;
}

.post-date-break {
    margin: 5px 0 10px;
}

.single .wp-caption-text {
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.single .post.single .entry-content p a {
	color: #1A1A1A;
    font-weight: bold;
	background: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff), linear-gradient(#ff3530, #ff3530);
	background-size: .05em 1px, .05em 1px, 1px 1px;
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: 0 95%, 100% 95%, 0 95%;
	text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
}

.single .post.single .entry-content p a:hover {
	color: #FF3530;
	transition: color 0.2s;
	text-decoration: none !important;
}

.single .post.single .entry-content p {
	line-height: 1.88889;
}

.single .post.single .highlight {
	background: rgba(97, 255, 160, .8); 
}

.site-main .single .entry-header .cat-links a {
    padding: 1px 5px;
    background: #ffe500;
    color: rgba(0,0,0,0.87);
    font-weight: 500;
	font-family: Roboto, Arial, sans-serif;
	font-size: 13px;
}

.site-main .hfeed .entry-header .cat-links a {
	font-size: 13px;
}

#mobile-navigation .community {
   display: none;
}

/* force desktop style sharebar to appear on mobile */
.single .post-share-box .post-share-count {
    display: inline;
}
.single .mobile-info {
    display: none !important;
}

/* center embeds */
.instagram-media, .twitter-tweet, .gfyVid {
  margin: 15px auto !important;
}
.gifscom-embed {
  text-align: center !important;
}

div.boombox-responsive-embed {
	margin: 15px auto;
}

div .post-meta {
  display: none;
}

/* style share count 
.post-meta span.post-share-count {
	background: none;
	font-size: 16px;
	font-family: 'Roboto Slab';
}

.post-meta span.post-share-count::after {
	content: " Shares";
} */

#menu-top-header-menu-original-1 .menu-item {
  transition: .2s color;
}

.page-trending .trending-navigation {
   display: none;
}

.page-wrapper {
    overflow-y: hidden;
   /* margin-bottom: -22px;   */
}

.perfect-pullquote-content {
   background-color: rgba(255, 54, 106, .25);
}

.navigation-box nav.main-navigation ul > li {
   letter-spacing: .075em;
   padding: 22px 0 8px 0;
   margin-left: 15px;
   margin-right: 15px;
}

.navigation-box nav.main-navigation ul > li > a{
   font-size: 12px;
}

.featured-strip .item .media img {
	min-height: 130px;
}

h1.entry-title {
   font-family: 'Roboto Slab', helvetica, arial, sans-serif !important;
   font-weight: bold;
}

h2.entry-title {
   font-family: 'Roboto Slab', helvetica, arial, sans-serif;
   font-weight: bold;
}

/*
h3.entry-sub-title {
   font-family: PxGrotesk, helvetica, arial, sans-serif;
}*/

.featured-strip .slick-track .item h3.title {
	font-family: PxGrotesk, helvetica, arial, sans-serif;
	font-weight: normal;
} 

.widget_trending_entries h3.entry-title {
	font-family: PxGrotesk, helvetica, arial, sans-serif;
}

h3.title {
   font-family: 'Roboto Slab', helvetica, arial, sans-serif;
}

.go-top, .post-share-count {
   color: #ffffff !important;
}

.go-top {
	line-height: 40px;
}

.quads-location, div#quads-ad1_widget, div#quads-ad2_widget, div#quads-ad3_widget {
	text-align: center;
}

article.single .quads-location::before {
	content: "Sponsored Ad";
	width: 768px;
	color: #999999;
	font-size: 12px; 
	margin-top: 50px;
}

article.single .quads-location {
	margin: 20px auto !important;
}

article.single div.quads-location {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

h2.widget-title {
	text-transform: none;
	font-family: PxGrotesk;
}

.widget-trending-entries .widget-title {
	text-align: left;
}

.other-posts .title {
	text-transform: none;
	font-family: PxGrotesk;
	font-weight: normal;
}

.header.top-shadow .top {
	box-shadow: 0px 0px 12px rgba(0,0,0,0.6);
}

.single .fb-comments-header {
	font-family: 'Roboto Slab';
	font-size: 22px;
	font-weight: bold;
	padding-top: 20px;
}

div.fb-comments iframe {
	padding-top: 20px;
}

div.slick-slide {
	max-height: 220px;
}

span.posted-on {
	font-size: 14px;
	font-family: Roboto, Arial, sans-serif;
}
