/* Sitespezifische angaben */

#skyscraper_1 {
   z-index: 999;
}

.m-goto-home-toolbar { z-index: 1000;} 

.countPixel{display:none;} 

.inFlowVideo {
 width: 493px;
}

.html-container {
  position:relative;
}

.emsContentAd {
  margin:0 auto;
}

.m-goto-home-toolbar {
 z-index: 1000; 
}
 
.superbanner{
  text-align:center;
}

.countPixel{
  display:none;
} 

/* ADTECH-517 - Anpassung fuer OOP */
.GujAdHidden {
    display: none !important;
}

.emsAnzeige {
  display:none;
  font-family:arial;
}

#performance_1 {
  margin-top: 280px;
  margin-left: 490px;
}

/*.mediagalleries-more-wrapper #performance_1
{ margin-top: 10px; margin-left: 0; } 
}*/

#performance_5 {
  float: left;
  position: relative;
}

#emsSuperbannerAnzeige, #emsSb1Anzeige{
  display:none;
}

.emsMrAnzeige, #te1Anzeige, #te3Anzeige, #te11Anzeige, #mr1Anzeige, #mr2Anzeige, #mr3Anzeige, #mr4Anzeige, #mr5Anzeige, #mr6Anzeige, #mr7Anzeige, #mr8Anzeige, #mr9Anzeige, #mr11Anzeige, #emsMr1Anzeige, #emsRectangleAnzeige, #emsMrAnzeige, #emsHa1Anzeige, #ha1Anzeige, #emsHalfpageadAnzeige{
  display:block;
  color:#9a9a9a;
  font-size:12px;
  font-family:arial;
  text-align:center;
}

#emsSb2Anzeige, #emsSuperbanner2Anzeige, #sb2Anzeige, #emsSb3Anzeige, #sb3Anzeige, #emsSb4Anzeige, #sb4Anzeige, #emsSb5Anzeige, #sb5Anzeige{
  display:block;
  width:728px;
  color:#9a9a9a;
  font-size:12px;
  font-family:arial;
  text-align:right;
  margin:0 auto;
}

#teaser_11 {float: left;}

.GujAdMMHidden {
    height: 0 !important;
    overflow: hidden !important;
    display:block !important;
}

.emsTBContainer {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 14px;
    color: #000;
  
}

.emsTBContainer a {
    color: #c00;
}

/** AutoNative **/
body.autoNative .m-subsection-nav-list {
  display: none;
}

body.autoNative .o-section-header.trac-teaserblock {
  display: none;
}

body.autoNative .sidebar-removed {
  width: calc(100% - 100px);
}