.xrotator-thumbs{
    margin: 1em auto 0;
}
.xrotator-thumbs-item{
    min-height:118px;
    text-align: left;
    color: #333;
    background: #fff;
    padding: 0;
    margin: 0 4px 8px;
}
.xrotator-thumbs-item img{
	min-height:100px;
}
.xrotator-thumbs-item-x1,
.xrotator-thumbs-item-x1 > a > img{
    width: 180px;
}
.xrotator-thumbs-item-x2{
    width: 368px;
}
.xrotator-thumbs320 > .xrotator-thumbs-item-x1,
.xrotator-thumbs320 > .xrotator-thumbs-item-x1 > a > img{
    width: 320px;
}
.xrotator-thumbs320 > .xrotator-thumbs-item-x2 {
    width: 320px;
}
.xrotator-thumbs-item a{
    color: #333;
    position: relative;
    display: block;
}
.xrotator-thumbs-item-label{
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-weight: bold;
    padding: 1px 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Arial, sans-serif;
}
.xrotator-thumbs-item-data{
    padding: 2px 4px;
    overflow:auto;
}
.xrotator-thumbs-main .xrotator-thumbs-item-data{
    text-align: center;
    text-transform: uppercase;
}
.xrotator-thumbs-item-data .right{
    float:right;
}
.xrotator-thumbs-item-data .left{
    float:left;
}
.xrotator-noresults{
    padding: 100px 30px;
    text-align:center;
    font-size:3em;
    line-height: 1.5em;
}
.xrotator-pages{
    font-size: 1.1em;
    overflow: auto;
    margin: 1em 1em 0 0.3em;
    float: left;
}
.xrotator-pages li{
    float:left;
    display:block;
    clear:none;
    margin-left:5px;
}
.xrotator-pages a,
.xrotator-pages span{
    display:block;
    padding:4px 7px;
}
.xrotator-pages a{
    text-decoration:none;
}
.xrotator-pages a.np:hover{
    text-decoration:underline;
    background:transparent;
}
@media screen and (max-width: 656px){
    .xrotator-thumbs320 > .xrotator-thumbs-item-x1,
    .xrotator-thumbs320 > .xrotator-thumbs-item-x1 > a > img {
        width: 180px;
    }
    .xrotator-thumbs320 > .xrotator-thumbs-item-x2 {
        width: 368px;
    }
    .xrotator-thumbs320 > .xrotator-thumbs-item > a > img{
        height: auto !important;
    }
}
@media screen and (max-width: 376px){
    .xrotator-thumbs-item{
        margin-left: 2px;
        margin-right: 2px;
    }
    .xrotator-thumbs320 > .xrotator-thumbs-item-x1,
    .xrotator-thumbs320 > .xrotator-thumbs-item-x1 > a > img,
    .xrotator-thumbs-item-x1,
    .xrotator-thumbs-item-x1 > a > img{
        width: 150px;
    }
    .xrotator-thumbs320 > .xrotator-thumbs-item-x2,
    .xrotator-thumbs-item-x2 {
        width: 304px;
    }
    .xrotator-thumbs-item > a > img{
        height: auto !important;
    }
}
