/*
Theme Name:     Divi-Child
Description:    
Author:         Kara Whaley
Template:       Divi

*/

.post-1003 .et_pb_section:nth-child(3) .et_pb_fullwidth_header .et_pb_fullwidth_header_scroll {
    padding-bottom: 80px;
}

#et-top-navigation ul.nav li a:hover {
    color: rgba(243,113,33,1);
}

.post-887 .et_pb_section:nth-child(1) .et_pb_text td {
    background-color: rgba(11,9,9,.1);
}

.post-887 .et_pb_section:nth-child(1) .et_pb_text th {
    background-color: rgba(0,0,0,.1);
}

.post-763 .et_pb_section:nth-child(5) .et_pb_image {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 0;
    top: auto;
}

.post-763 .et_pb_section:nth-child(5) .et_pb_image img {
    margin-bottom: 0;
    margin-top: 0;
    max-width: 280px;
    padding-top: 0;
}

.post-763 .et_pb_section:nth-child(5) .et_pb_promo {
    border-top-left-radius: 0;
    margin-left: 40px;
    margin-right: 39px;
    margin-top: 0;
}

.post-763 .et_pb_section:nth-child(5) .et_pb_promo .et_pb_promo_button {
    padding-bottom: 6px;
    padding-right: 30px;
}

.post-763 .et_pb_section:nth-child(5) .et_pb_row:nth-child(1) {
    margin-bottom: -20px;
    margin-top: -20px;
    padding-bottom: 0;
    padding-top: 15px;
}

.post-763 .et_pb_section:nth-child(5) .et_pb_row:nth-child(2) {
    margin-bottom: -20px;
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 19px;
}

.post-763 .et_pb_section:nth-child(6) .et_pb_row:nth-child(2) {
    margin-bottom: -20px;
    margin-top: -20px;
    padding-bottom: 0;
    padding-top: 0;
}

.post-763 .et_pb_section:nth-child(6) .et_pb_text h1 {
    margin-bottom: -20px;
    margin-top: -20px;
    padding-bottom: 0;
}

.post-763 .et_pb_section:nth-child(6) {
    padding-bottom: 30px;
    padding-top: 30px;
}

#main-header #logo {
    width: 389px;
    max-width: 389px;
    max-height: 60px;
    height: 60px;
    margin-top: 20px;
}

.get-started {
    border-radius: 5px;
}

.get-started a {
    color: #fff !important;
}

li.get-started {
    color: #fff !important;
    background-color: #ff9800;
    max-height: 27px;
    padding-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px !important;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

ul#top-menu.nav {
    max-width: 900px;
}




.post-51 .et_pb_section:nth-child(2) .et_pb_row:nth-child(1) {
    padding-bottom: 0;
    padding-top: 24px;
}

.post-51 .et_pb_section:nth-child(2) .et_pb_row:nth-child(2) {
    margin-bottom: 0;
    margin-top: 1px;
    padding-bottom: 0;
    padding-top: 0;
}

.post-51 .et_pb_section:nth-child(4) .et_pb_row:nth-child(1) {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 31px;
}

.post-51 .et_pb_section:nth-child(4) .et_pb_row:nth-child(2) {
    padding-bottom: 0;
    padding-top: 0;
}

.post-51 .et_pb_section:nth-child(4) {
    margin-bottom: 0;
    padding-bottom: 12px;
    padding-top: 57px;
}

.post-763 .et_pb_section:nth-child(1) .et_pb_fullwidth_image img {
    bottom: auto;
    display: block;
    left: 25%;
    margin-top: 0;
    max-width: 50%;
    padding-top: 170px;
    position: relative;
    top: auto;
}

#my-slider-module.et_pb_slider .et_pb_slide_image img {
    bottom: 20%;
    left: 50%;
    position: relative;
    right: 50%;
    top: auto;
}



#et-footer-nav {
    background-color: #666;
}

#et-top-navigation ul.nav li a {
    font-size: 16px;
    font-style: normal;
}

#main-footer {
    background-color: #424242 !important;
}

.post-187 .et_pb_section:nth-child(3),html body #footer-widgets .footer-widget .et_pb_widget:not(.woocommerce) a {
    color: #fff;
}

.post-187 .et_pb_section:nth-child(3) .et_pb_row:nth-child(2),.post-187 .et_pb_section:nth-child(3) .et_pb_text strong,.post-187 #gform_wrapper_1 .gform_heading .gform_title {
    color: rgba(255,255,255,1);
}

.post-1020 .et_pb_section:nth-child(1) .et_pb_blurb .et_pb_blurb_content .et_pb_main_blurb_image,.post-1020 .et_pb_section:nth-child(1) .et_pb_row:nth-child(2),.post-1020 .et_pb_section:nth-child(1) .et_pb_row:nth-child(3),.post-51 .et_pb_section:nth-child(4) .et_pb_row:nth-child(2) .et_pb_column:nth-child(1) {
    margin-bottom: -20px;
    margin-top: -20px;
}

#top-menu-nav,.post-51 .et_pb_section:nth-child(2) .et_pb_row:nth-child(3),.post-51 .et_pb_section:nth-child(2) .et_pb_testimonial {
    padding-top: 0;
}

.post-51 .et_pb_section:nth-child(2) .et_pb_row:nth-child(2) .et_pb_column:nth-child(2),.post-51 .et_pb_section:nth-child(2) .et_pb_testimonial .et_pb_testimonial_description {
    margin-top: 0;
}

@media screen and (max-width: 960px) {
    .hide-mobile {
        display: none !important;
    }
}

@media only screen and (min-width: 981px) {
    .awardhomeslider,.awardhomeslider .et_pb_container {
        height: 421px !important;
    }

    .awardhomeslider,.awardhomeslider .et_pb_slide {
        max-height: 421px;
    }
}

@media screen and (max-width: 667px) {
    .post-763 .et_pb_section:nth-child(6) .et_pb_row:nth-child(2) {
        margin-bottom: -20px;
        margin-top: -20px;
        padding-top: 29px;
    }

    .post-763 .et_pb_section:nth-child(6) .et_pb_testimonial .et_pb_testimonial_description {
        margin-bottom: -20px;
        margin-top: -20px;
    }

    .post-763 .et_pb_section:nth-child(6) .et_pb_testimonial {
        margin-top: -20px;
        padding-top: 0;
    }

    .post-763 .et_pb_section:nth-child(6) .et_pb_text h1 {
        margin-bottom: -20px;
    }

    .post-763 .et_pb_section:nth-child(6) .et_pb_text strong {
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {
    .post-763 .et_pb_section:nth-child(6) .et_pb_row:nth-child(1) {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .post-763 .et_pb_section:nth-child(6) .et_pb_row:nth-child(2) {
        margin-top: -20px;
        padding-top: 29px;
    }

    .post-763 .et_pb_section:nth-child(6) .et_pb_row:nth-child(3) {
        margin-right: 30.2969px;
        padding-right: 0;
    }

    .post-763 .et_pb_section:nth-child(6) .et_pb_testimonial .et_pb_testimonial_description {
        margin-bottom: -20px;
        margin-top: -20px;
    }

    .post-763 .et_pb_section:nth-child(6) .et_pb_text h1 {
        margin-bottom: -20px;
        padding-bottom: 0;
    }

    .post-763 .et_pb_section:nth-child(6) .et_pb_row:nth-child(2) .et_pb_column:nth-child(2),.post-763 .et_pb_section:nth-child(6) .et_pb_testimonial {
        margin-top: -20px;
    }

    .wp-caption .image-attachment .entry-content .entry-attachment {
        max-width: 100%;
        margin-bottom: 0;
        padding: 0;
        padding-top: 0;
        border: 0;
        background-color: transparent;
        text-align: center;
    }


@media screen and (max-width: 480px) {
    #et_mobile_nav_menu {
        margin-left: 1px;
        margin-right: 0;
        right: 0;
    }
}


@media screen and (max-width: 480px) {
    #main-header #logo {
        max-width: 170px;
        width: 170px;
        max-height: 26px;
        height: 26px;

    }
}