@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?81hwnb');
  src:  url('fonts/icomoon.eot?81hwnb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?81hwnb') format('truetype'),
    url('fonts/icomoon.woff?81hwnb') format('woff'),
    url('fonts/icomoon.svg?81hwnb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brush:before {
  content: "\e900";
}
.icon-like:before {
  content: "\e611";
}
.icon-hand:before {
  content: "\e609";
}
.icon-playlist_add:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e617";
}
.icon-shuffle:before {
  content: "\e60e";
}
.icon-comment:before {
  content: "\e904";
}
.icon-file-zip:before {
  content: "\e901";
}
.icon-folder-open:before {
  content: "\e902";
}
.icon-triangle-right:before {
  content: "\e612";
}
.icon-triangle-down:before {
  content: "\e613";
}
.icon-play:before {
  content: "\e61c";
}
.icon-stopwatch:before {
  content: "\e61a";
}
.icon-neutral:before {
  content: "\e619";
}
.icon-sort-alpha-asc:before {
  content: "\e614";
}
.icon-menu:before {
  content: "\e615";
}
.icon-filter:before {
  content: "\e616";
}
.icon-copy:before {
  content: "\e618";
}
.icon-facebook:before {
  content: "\e60c";
}
.icon-twitter:before {
  content: "\e60d";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-steam:before {
  content: "\e600";
}
.icon-paypal:before {
  content: "\e607";
}
.icon-credit-card:before {
  content: "\e608";
}
.icon-pencil:before {
  content: "\e606";
}
.icon-plus:before {
  content: "\e001";
}
.icon-coin:before {
  content: "\e002";
}
.icon-heart:before {
  content: "\e003";
}
.icon-warning:before {
  content: "\e004";
}
.icon-checkmark:before {
  content: "\e005";
}
.icon-users:before {
  content: "\e006";
}
.icon-moon:before {
  content: "\e007";
}
.icon-download:before {
  content: "\e008";
}
.icon-arrow-right:before {
  content: "\e00b";
}
.icon-arrow-left:before {
  content: "\e00c";
}
.icon-star:before {
  content: "\e00d";
}
.icon-star2:before {
  content: "\e00e";
}
.icon-upload:before {
  content: "\e00f";
}
.icon-windows8:before {
  content: "\e010";
}
.icon-apple:before {
  content: "\e011";
}
.icon-tux:before {
  content: "\e012";
}
.icon-globe:before {
  content: "\e013";
}
.icon-mobile:before {
  content: "\e014";
}
.icon-cart:before {
  content: "\e000";
}
.icon-android:before {
  content: "\e601";
}
.icon-stats:before {
  content: "\e602";
}
.icon-tag:before {
  content: "\e603";
}
.icon-delete:before {
  content: "\e604";
}
.icon-link:before {
  content: "\e605";
}
.icon-heart-filled:before {
  content: "\e60a";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-dice:before {
  content: "\e915";
}
.icon-gamepad:before {
  content: "\e61b";
}
.icon-caret-up:before {
  content: "\e60f";
}
.icon-caret-down:before {
  content: "\e610";
}
.icon-bitcoin:before {
  content: "\e60b";
}

