﻿@charset "utf-8";
/* 清除标签自带外边距离 */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,input,textarea,select,hr{margin:0; padding:0;}
/**************google 统计样式 **************/
iframe[name='google_conversion_frame']{display:none;}
/* 清除标签自带内边距*/
ul,ol,input,textarea,th,td{padding:0;}
/* 清除列表默认样式 */
li{list-style:none;}
/* 去除超链接下划线 */
a{text-decoration:none; color:#333;}
a:hover{color:#00A151;}
/* 保持垂直居中 */
img,input,textarea{vertical-align:middle;}
/* 去除img边框 */
img,hr{border:none 0;}
/* 清除字体倾斜 */
i,em{font-style:normal;}
/* 清除表单选中默认边框:text,password,textarea */
input{outline:none; background:none; border:none 0; font-style:normal; font-size:12px;}
button{border:none 0; outline:none; cursor:pointer; background:#fff;}
/* 清除IE10下文本框里面的小X */
input::-ms-clear{display:none;}
/* 清除input[type="search"]的默认样式 */
input[type="search"]{-webkit-appearance:none;}
input::-webkit-search-cancel-button{display: none;}
/* 清除表格单元格间距，合并边框 */
table{border-spacing:none; border-collapse:collapse;}
/* 隐藏空白的单元格 */
th,td{empty-cells:hide;}
/* 表格水平居中，垂直居中 */
table,tr,td{text-align:center; text-valign:middle;}
/* ******** 字体颜色 star *********** */
.cWhite,.cWhite:visited,.cWhite a{color: #fff;}
.cGray,.cGray:visited,.cGray a{color: #999;}
.cDGray,.cDGray:visited,.cDGray a{color: #666;}
.cMdGray,.cMdGray:visited,.cMdGray a{color: #333;}
.cEGray,.cEGray:visited,.cEGray a{color:#d6d6d6;}
.cFGray,.cFGray:visited,.cFGray a{color:#ababab;}
.cGGray,.cHGray:visited,.cHGray a{color:#909090;}
.cHGray,.cHGray:visited,.cHGray a{color:#373737;}
.cIGray,.cIGray:visited,.cIGray a{color:#ccc;}
.cJGray,.cJGray:visited,.cJGray a{color:#a1a1a1;}
.cBlack,.cBlack:visited,.cBlack a{color:#000;}
.cRed,.cRed:visited,.cRed a{color:#ff0000;}
.cBRed,.cBRed:visited,.cBRed a{color:#ff4200;}
.cPink,.cPink:visited,.cPink a{color:#f2234f;}
.cOrange,.cOrange:visited,.cOrange a{color:#ff7200;}
.cBlue,.cBlue:visited,.cBlue a{color:#00a0e9;}
.cGBlue,.cGBlue:visited,.cGBlue a{color:#487de3;}
.cGreen,.cGreen:visited,.cGreen a{color:#8fbc03;}
.cGray a:hover,.cDGray a:hover,.cMdGray a:hover,.cEGray a:hover,.cFGray a:hover,
.cGGray a:hover,.cHGray a:hover,.cIGray a:hover,.cJGray a:hover,.cWhite a:hover{color:#ff7200;}
/* ******** 字体颜色 end *********** */

/* ******** 字体大小 start *********** */
.f10{font-size:10px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.f34{font-size:34px;}
.f36{font-size:36px;}
.f40{font-size:40px;}
/* 间距 */
.mt2{margin-top:2px;}.mr2{margin-right:2px;}.mb2{margin-bottom:2px;}.ml2{margin-left:2px;}
.mt3{margin-top:3px;}.mr3{margin-right:3px;}.mb3{margin-bottom:3px;}.ml3{margin-left:3px;}
.mt4{margin-top:4px;}.mr4{margin-right:4px;}.mb4{margin-bottom:4px;}.ml4{margin-left:4px;}
.mt5{margin-top:5px;}.mr5{margin-right:5px;}.mb5{margin-bottom:5px;}.ml5{margin-left:5px;}
.mt8{margin-top:8px;}.mr8{margin-right:8px;}.mb8{margin-bottom:8px;}.ml8{margin-left:8px;}
.mt10{margin-top:10px;}.mr10{margin-right:10px;}.mb10{margin-bottom:10px;}.ml10{margin-left:10px;}
.mt15{margin-top:15px;}.mr15{margin-right:15px;}.mb15{margin-bottom:15px;}.ml15{margin-left:15px;}
.mt20{margin-top:20px;}.mr20{margin-right:20px;}.mb20{margin-bottom:20px;}.ml20{margin-left:20px;}
.mt30{margin-top:30px;}.mr30{margin-right:30px;}.mb30{margin-bottom:30px;}.ml30{margin-left:30px;}
/* 其他公共样式 */
.show{display: block;}
.hide{display: none;}
.l{float:left;}
.r{float:right;}
.dib{display:inline-block;}
.etc{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.vm{vertical-align:middle;}
.img{width:100%;}
.radius4{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;}
.img-circle{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;}
.border1-top{border-top:1px solid #ececec;}
.border1-bottom{border-bottom:1px solid #ececec;}
.border1-left{border-left:1px solid #ececec;}
.border1-right{border-right:1px solid #ececec;}
/* 字体对齐方式 */
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
.wordwrap{word-wrap:break-word;}/*强制换行*/
.nowrap{white-space:nowrap;}/*禁止换行*/
.text_overflow{width:100%; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.fN{font-weight:normal;}
.fB{font-weight:bold;}
/* 设置body样式 font:style variatnt weight size family; */
body{font-style:normal; font-size:14px; font-family:'微软雅黑',Verdana,Arial,Helvetica,sans-serif; margin:0 auto; color:#333;}
/* 清除浮动 */
.clear{clear:both;}
.clear:after{display:block; content:''; clear:both;}
.clearfix{*zoom:1;}
.clearfix:after{display:block;content:'';height:0;overflow:hidden;clear:both;}
/* 设置HTML5标签 块元素*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display: block;}
/* 2-头部样式 */
.header{width:100%;background:#fff;}
.siteNav{width:100%;height:36px;background:#f2f2f2;border-bottom:1px solid #eaeaea;}
.beas{border-bottom:0;}
.siteNavBg{width:1190px;height:36px;line-height:36px;font-size:12px;margin:0 auto;color:#9f9f9f;}
.siteNavBg a{font-size:12px;}
.siteNavBg a:hover{color:#ff7200;}
.siteNavBgL{float:left;}
.siteNavBgL li{display:inline-block;margin-right:10px;}
.siteNavBgL li a{display:inline-block;color:#666;}
.siteNavBgL li a:hover{color:#ff7200;}
.siteNavBgL li a i{display:inline-block;width:11px;height:14px;vertical-align:middle;background:url(../images/header_sprites.png) no-repeat left top;margin:0 5px 0 0;}
.siteNavBgL li a:hover i{background:url(../images/map.png) no-repeat;}
.siteNavBgL li.border{width:1px;height:13px;background:#999;vertical-align:middle;margin:0 10px;}
.siteNavBg p{float:left;color:#666;}
.siteNavBgR,.siteNavBgRS{float:right;}
.siteNavBgRS{display:none;}
.siteNavBgRS .owen{border:1px solid #f2f2f2;border-bottom:0;}
.siteNavBgR li,.siteNavBgRS li{display:inline-block;float:left;padding:0 12px;}
.siteNavBgR li a,.siteNavBgRS li a{color:#333;}
.siteNavBgR li a:hover,.siteNavBgRS li a:hover{color:#333;}
.siteNavBgRS li a.res i{display:inline-block;width:7px;height:4px;margin-left:4px;background:url(../images/header_sprites.png) no-repeat -34px top;}
.siteNavBgR li a.color,.siteNavBgRS li a.color{color:#ff7200;}
.siteNavBgR li.last,.siteNavBgRS li.last{padding-right:0;}
.siteNavMsg_list{display: none;}
.siteNavBgR li.customerService,.siteNavBgRS li.customerService{cursor:pointer;width:60px;height:34px;text-align:center;border:1px solid #f2f2f2;position:relative;left:0;top:0;}
.siteNavBgR li.customerService i,.siteNavBgRS li.customerService i{display:inline-block;width:7px;height:4px;margin-left:4px;background:url(../images/header_sprites.png) no-repeat -34px top;}
.siteNavBgR li.customerService.show,.siteNavBgRS li.customerService.show{color:#666;border:1px solid #ccc;background:#fff;border-bottom:0;padding-bottom:1px;z-index:999;}
.siteNavBgR li.customerService.show i,.siteNavBgRS li.customerService.show i,.siteNavBgRS .owen:hover a i,.siteNavBgRS .msgcenter:hover a i{display:inline-block;width:7px;height:4px;margin-left:4px;background:url(../images/header_sprites.png) no-repeat -55px top;}

.siteNavBgRS_list{width:83px;height:180px;border:1px solid #ccc;border-top:0;background:#fff;z-index:999;display:none;}
.siteNavBgRS_list li{width:100%;height:36px;}
.siteNavBgRS_list li a{display:inline-block;width:100%;height:36px;line-height:36px;text-align:center;color:#666;font-size:12px;}
.siteNavBgRS_list li a:hover{background:#ececec;}
	/*头部样式修改2016-09-07 start*/
.siteNavBgR li.last,.siteNavBgRS li.last{position:relative; padding: 0;}
.siteNavBgR li.last a,.siteNavBgRS li.last a{color: #00a151;}



.nav_ft{text-align:center;font-size:16px;color:#00a151;cursor:pointer;}
.nav_ft i{width:29px;height:29px;background:url(http://s4.17house.com/common/images/header_phone.png) no-repeat center;margin-right:6px;vertical-align:middle;}
.nav_ft a{color:#00a151;}
.nav_ft a:hover{color:#00a151;}
.nav_ft.hover{color:#00a151;cursor:pointer;}
/*.nav_ft.hover i{background:url(http://s2.17house.com/common/images/header_sprites.png) no-repeat right top;}*/
.nav_ft_list{ position:absolute; width:161px;height:311px; right:-33px; padding-top: 10px;display:none;cursor:pointer;z-index:110;}
.nav_ft_list ul {width:161px;height:311px; line-height: 1; border:1px solid #eaeaea;background:#f2f2f2; }
.nav_ft_list .triangle{position: absolute; left: 77px; top:3px;width: 12px;height: 9px; margin: auto; background: url(http://s4.17house.com/common/images/tbjiantou.png) no-repeat center;}
.nav_ft_list li{width:161px;height:136px;margin-top:10px; padding: 0; text-align: center;}
.nav_ft_list li span{display:block;text-align:center;color:#999;}		 	
	
	/*头部样式修改2016-09-07 end*/


/* 客户服务下拉菜单 */
.dropDown{width:228px;height:180px;border:1px solid #ccc;box-shadow:0 1px 2px #ececec;background:#fff;padding:10px 20px;display:none;z-index:99;}
.dropDownTop{width:228px;height:130px;border-bottom:1px dashed #ececec;}
.DDTleft,.DDTright{float:left;width:94px;height:130px;padding:0 10px;text-align:center;}
.dropDownTop a{display:block;line-height:28px;}
.dropDownTop a:hover{color:#333;}
.dropDownTop a i{display:inline-block;width:20px;height:20px;vertical-align:middle;margin-right:6px;background:url(../images/header_sprites.png) no-repeat;}
.dropDownTop a.a1{color:#ea5404;}
.dropDownTop a.a2{}
.dropDownTop a.a3 i{background-position:-101px top;}
.dropDownTop a.a4 i{background-position:-196px top;}
.dropDownTop a.a5{width:64px;height:20px;line-height:20px;border:1px solid #ececec;box-shadow:0 1px 2px #ececec;background:-webkit-linear-gradient(#fefefe,#eceaea);margin:4px 9px;}
.dropDownTop a.a6 i{background-position:-149px top;}
.dropDownTop a.a7 i{background-position:-243px top;}
.dropDownBottom{width:228px;height:50px;margin-top:10px;}
.dropDownBottom a.DDBimg{display:inlien-block;width:30px;height:25px;}
.dropDownBottom a.DDBimg span{display:inline-block;width:77px;line-height:18px;margin-right:20px;vertical-align:bottom;}
.dropDownBottom a.DDBword{display:inline-block;width:72px;height:22px;background:#ea4504;color:#fff;text-align:center;line-height:22px;border-radius:4px;}
.HdHead{width:1190px;height:75px;margin:0 auto;padding-top: 46px;}
.loginCity,.city,.search,.searchText,.searchBtn,.honor,.mouble{display:inline-block;float:left;}
.logo img{width:135px !important;height: 52px !important;}
.loginCity,.heade_logo{width:338px; margin-right: 20px;}
.loginCity{margin-top: -7px;}/*VI改版遗留*/
.loginCity .logo,.heade_logo .logo{float:left;}
.loginCity .logo1{float:left;}
.loginCity .logo a,.heade_logo .logo a{display:block;}
.loginCity .border,.heade_logo .border{float:left;width:1px;height:38px;background:#00a151;margin:8px 0 0 14px;}
.loginCity .border1{float:left;width:1px;height:42px;background:#e8e8e8;margin:8px 14px 0; display: none;}
.logor{float:left;padding-left:15px;}
/*这里加了一行代码，把logor下面的img暂时隐藏。*/
/*.logor img{visibility: hidden;}*/
.logor a{display:inline-block;}
.logor span{font-size:24px; color: #282828; display: block; line-height:1; margin-top: 11px;}/*VI改版遗留   改版时为5px*/
.search{position:relative;height:36px;vertical-align:top;z-index:20;}
.search .searchText{float:left;height:34px;border:2px solid #00a151;border-right:none;}
.search .searchText div{display:inline-block;float:left;width:95px;height:34px;line-height:34px;text-align:center;color:#666;cursor:pointer;}
.search .searchText div i{display:inline-block;width:7px;height:4px;background:url(../images/header_sprites.png) no-repeat -34px top;vertical-align:middle;margin-left:14px;}
.search .searchText div.show i{background:url(../images/header_sprites.png) no-repeat -55px top;}
.search .searchText span{display:inline-block;height:100%;font-size:12px;color:#666;}
.searchList{position:absolute;left:0;top:36px;width:94px;border:2px solid #00a151;border-top:2px solid #fff;background:#fff;display:none;z-index:99;}
.searchList li{width:74px;height:30px;line-height:30px;font-size:12px;padding-right:20px;text-align:center;color:#666;cursor:pointer;}
.searchList li:hover{background:#eee;}
.search .searchText input{width:299px;color:#999;padding:9px 0;line-height:18px; float: left;}
.search .searchBtn{float:left;width:70px;height:38px;background:#00a151;text-align:center;letter-spacing:10px;padding-left:10px;line-height:36px;color:#fff;font-size:16px;cursor:pointer;}
.search .searchBtn:hover{background:#01813f;text-decoration:none;}
.search{position: relative; }
.search .wendaSearch{position: absolute; right: -110px; top: 0px; width: 100px; height: 38px; background: #6dba44; color: #fff; font-size: 16px; text-align: center; line-height: 36px; cursor: pointer; }
.honor,.mouble{position:relative;color:#666;cursor:pointer;}
.honor{float: right; width:230px; margin-right: 20px; margin-top: -14px;}
.mouble{width:168px; float: right;line-height: 1; margin-top: -12px; margin-right: 90px;}
.mouble-im{margin-left:120px;}
.honor_list_bg{position:absolute;left:28px;width:186px;height:57px;overflow:hidden;}
.honor_list{position:absolute;left:0;top:0;bottom: 0; right: 0;margin: auto; /*width:340px;*/height:57px; overflow: hidden;}
.honor_list img{}
.honorL,.honorR{float:left;width:186px;height:57px;line-height: 1;overflow: hidden;}
.honor_left{float:left;display:inline-block;background:#fff;width:17px;height:40px;}
.honor_right{position:absolute;right:0;top:0;float:left;background:#fff;width:17px;height:40px;}
.honor_left i{width:9px;height:13px;background:url(../images/header_sprites.png) no-repeat -160px -54px;margin-top:16px;margin-right:20px;}
.honor_right i{width:9px;height:13px;background:url(../images/header_sprites.png) no-repeat -201px -54px;margin-top:16px;margin-left:20px;}
/* 移动应用 */
.mouble .nav_ft{padding:12px 0 4px;width:211px;margin-top:0;margin-left:0;border:2px solid #fff;border-bottom:0;color:#00a151;}
.mouble:hover .nav_ft{border:2px solid #00a151;border-bottom:0;}
.mouble:hover .nav_ft_list{right:-4px;}
/* SEM咨询着陆页 start */
.logor div{font-size:12px;color:#bababa;padding-top:17px;}
.logor p{font-size:12px;color:#666;}
.logor p em{color:#ff7200;}
ul.logoList{float:left;margin-top:15px;}
ul.logoList li{font-size:12px;float:left;padding:0 20px;border-left:1px solid #ececec;}
ul.logoList li:first-child{border-left:0;}
ul.logoList li a{font-size:12px;}
ul.logoList li img{float:left;margin-right:10px;}
ul.logoList li div{float:left;}
ul.logoList li div span{color:#666;}
ul.logoList li div p{color:#999;}
/* end SEM咨询着陆页 */
/* 导航 */
.nav{left:0;top:0;width:100%;height:44px;background:#fff;border-bottom:2px solid #00a151;}
.navList{position:relative;width:1190px;height:44px;margin:0 auto;}
.nav_hd,.nav_hd li.nav_hd_list i,.nav_ft,.nav_ft i{display:inline-block;}
.nav_hd{float:left;width:960px;height:38px;padding-top:6px;}
.nav_hd_baike{width:100%;}
.nav_hd li.nav_hd_list{float:left;position:relative;}
.nav_hd li.nav_hd_list a.nhla{display:inline-block;width:auto;height:auto;color:#333;font-weight:normal;font-size:15px;padding:0 20px;line-height:38px;cursor:pointer;border-left:3px solid #fff;}
.nav_hd li.nav_hd_list a.nhla.hover{color:#fff;background:#00a151;border-left:3px solid #01813f;text-decoration:none;}
.nav_hd li.nav_hd_list a.nhla.active{color:#fff;background:#00a151;border-left:3px solid #00a151;}
.nav_hd li.nav_hd_list a.nhla.hover i{background-position:-30px -44px;}
.nav_hd li.nav_hd_list a.nhla i{width:9px;height:6px;background:url(../images/header_sprites.png) no-repeat left -44px;margin-left:12px;vertical-align:middle;}
.NHList{position:absolute;top:38px;display:inline-block;background:#fff;border-left:3px solid #01813f;border-bottom:3px solid #01813f;border-right:1px solid #ececec;display:none;z-index:9;}
.NHList li{display:inline-block;width:100%;}
.NHList li a{display:inline-block;width:100%;height:36px;line-height:36px;font-size:12px;text-align:center;color:#333;}
.NHList li a:hover{background:#fafafa;text-decoration:none;color:#00a151;}
.nav_hd_list ul.a{width:120px;}
.nav_hd_list ul.b{width:120px;}
.nav_hd_list ul.c{width:105px;}
.nav_hd_list ul.d{width:120px;}
.nav_hd_list ul.e{width:120px;}
.nav_hd_list ul.f{width:113px;}
.nav_hd_list ul.g{width:120px;}

/* 频道导航 */
.subNav{position:relative;width:1190px;background:#00A151;height:36px;margin:0 auto;z-index:10;}
.subNavList{position:absolute;left:0;}
.subNavList li{float:left;}
.subNavList a{float:left;line-height:36px;font-size:16px;color:#fff;padding:0 21px;}
.subNavList i{float:left;width:2px;height:28px;background:url(../images/nav_01_01.png) no-repeat; margin-top:4px; border-radius:100%; }
.subNavList a.show,.subNavList a:hover{background:#01813F;}
.subNavOrder{position:absolute;top:2px;right:2px;width:300px;height:32px;background:#fff;}
.subNavOrder span{float:left;width:18px;height:32px;background:url(../images/nav_02_01.png) no-repeat;}
.subNavOrderList{float:left;}
.subNavOrderList .children{float:left;}
.subNavOrderList .children p{font-size:16px;line-height:32px;color:#666;padding:0 10px;cursor:pointer;}
.subNavOrderList .children p i{display:inline-block;width:18px;height:18px;vertical-align:top;margin-top:6px;padding-right:5px;}
.subNavOrderList .children p i.i1{background:url(../images/nav_03_01.png) no-repeat;}
.subNavOrderList .children p i.i2{background:url(../images/nav_04_01.png) no-repeat;}
.subNavOrderList .children p i.i3{background:url(../images/nav_05_01.png) no-repeat;}
.childrenList{display:none;width:86px;text-align:center;border:2px solid #00a151;border-top:2px solid #fff;background:#fff;z-index:9;padding:6px 0 3px 0;}
.childrenList li{margin-bottom: 3px;}
.childrenList li a{display:block;line-height:25px;font-size:12px;color:#666;}
.childrenList li a:hover{background:#ececec;color:#666;}
/* 终端页导航 */
.headerSmall{width:100%;height:48px;border-bottom:1px solid #eee;}
.siteNavSmall{width:100%;height:48px;background:#f2f2f2;}
.siteNavSmallBg{width:1190px;height:48px;line-height:36px;font-size:12px;margin:0 auto;color:#9f9f9f;}
.siteNavSmallBg a{font-size:12px;}
.siteNavSmallBg a:hover{color:#ff7200;}
h2.logo{float:left;width:92px;height:48px;text-align:center;line-height:48px;padding-right:13px;}
h2.logo a{display:block;}
/*此处修改了img的高宽*/
h2.logo a img{vertical-align:middle;width:100px !important;height:23px !important;}
ul.siteNavSmallBgL{float:left;}
ul.siteNavSmallBgL li{float:left;}
ul.siteNavSmallBgL li a{font-size:12px;line-height:48px;padding:0 15px;}
.siteNavBg ul.siteNavSmallBgL li a{line-height:36px;padding:0 10px;}
/* 尾部 */
.footer{width:100%;}
/* 友情链接 */
.friendLink{width:1190px;margin:38px auto 68px;}
.friendLink_nav{height:28px;}
.friendLink_nav li{float:left;height:28px;line-height:28px;color:#999;cursor:pointer;}
.friendLink_nav li.left{margin-right:30px;}
.friendLink_nav li.show{color:#666;border-bottom:2px solid #00a151;}
.friendLink_con{width:100%;margin-top:10px;}
.friendLink_con ul.FLlist{width:100%;display:none;}
.friendLink_con ul.FLlist.show{display:block;}
ul.FLlist li{display:inline-block;line-height:20px;}
ul.FLlist li a{display:inline-block;height:20px;margin-right:16px;color:#999;font-size:12px;}
ul.FLlist li a:hover{color:#ea4504;}
.subFooter{width:100%;height:256px;background:#1f1f1f;}
.subFooterBG{width:100%;height:90px;margin-bottom:20px;padding-top:20px;}
.subFooterT{width:1190px;height:70px;margin:0 auto;padding:10px 0;}
.subFooterT_list{width:100%;height:90px;}
.subFooterT_list li{float:left;margin-right:38px;}
.subFooterT_list li.last{margin-right:0;}
.subFooterT_list li a{display:inline-block;font-size:14px;}
.subFooterT_list li a i{display:block;width:48px;height:48px;background:url(../images/header_sprites.png) no-repeat;}
.subFooterT_list li a i.i1{background-position:left -320px;margin-left:30px;}
.subFooterT_list li a i.i2{background-position:-160px -320px;margin-left:18px;}
.subFooterT_list li a i.i3{background-position:right -320px;margin-left:23px;}
.subFooterT_list li a i.i4{background-position:left -470px;margin-left:25px;}
.subFooterT_list li a i.i5{background-position:-160px -470px;margin-left:25px;}
.subFooterT_list li a i.i6{background-position:right -470px;margin-left:7px;}
.subFooterT_list li a i.i7{background-position:left -620px;margin-left:7px;}
.subFooterT_list li a i.i8{background-position:-160px -620px;margin-left:7px;}
.subFooterT_list li a i.i9{background-position:left bottom;margin-left:24px;}
.subFooterT_list li a i.i0{background-position:-160px bottom;margin-left:7px;}
.subFooterT_list li a span{display:block;color:#fff;margin-top:10px;}
.subFooterT_list li a span:hover{color:#ff9100;}
.subFooterBg{width:100%;height:144px;border-top:1px solid #353535;margin-bottom:0px;padding-top:0px;}
.subFooter_c1{width:100%;height:90px;margin-bottom:20px;padding-top:20px;}
.subFooterB{width:1190px;height:116px;margin:0 auto;padding-top:14px;padding-bottom:14px;}
.subFooterB ul{float:left;width:126px;height:100px;margin-right:30px;overflow:hidden;}
.subFooterB ul li{}
.subFooterB ul li h4{line-height:28px;color:#666;}
.subFooterB ul li,.subFooterB ul li a{display:block;line-height:24px;color:#999;font-size:12px;}
.subFooterB ul li a:hover{color:#ff9100;}
.subFooterB ul.last{width:360px;height:100px;overflow:hidden;}
.SFBlist{float:left;width:170px;height:80px;padding:14px 0 0;}
.SFBlist img{width:80px;height:80px;float:left;}
.SFBlist .weixin{float:left;display:inline-block;width:75px;height:40px;vertical-align:middle;margin:20px 0 0 5px;}
.SFBlist .weixin span{line-height:20px;color:#666;font-size:12px;}
/* 版权 */
.copyRight,.copyRights{width:100%;height:80px;background:#1f1f1f;border-top:1px solid #353535;}
.copyRight{height:80px;}
.copyRights{height:120px;}
.subcoptRight{width:1190px;height:40px;margin:0 auto;padding:20px 0;}
.subImg{float:left;margin-right:66px;}
.SCRleft{float:left;/*width:716px;*/height:40px;}
.copyRights .SCRleft{margin-top:13px;}
.SCRleft ul{/*width:716px; */height:16px;margin-bottom:10px;}
.SCRleft ul li{display:inline-block;padding:0 10px;border-right:1px solid #656363;*float:left;}
.SCRleft ul li.first{padding-left:0;}
.SCRleft ul li.last{border-right:0;}
.SCRleft ul li a{color:#a7a5a5;font-size:12px;}
.SCRleft ul li a:hover{text-decoration:underline;}
.SCRleft p{/*width:816px;height:24px;line-height:24px; */font-size:12px;}
.SCRleft p a{display:inline-block;color:#4e4a4a;font-size:12px;}
.SCRleft p a:hover{text-decoration: underline;}
.SCRleft p span{color:#4e4a4a;}
.SCRright{float:right;/*width:242px; */height:43px;}
.copyRights .SCRright{margin-top:14px;}
.SCRright span{display:inline-block;width:108px;height:40px;background:url(../images/header_sprites.png) no-repeat;cursor:pointer;font-size:12px;}
.SCRright span.s1{background-position:right -619px;}
.SCRright a,.SCRright div{float:left;color:#999;cursor:default;}
.SCRright div{margin-top:-8px;}
.SCRright a span.s2{margin-left:20px;background-position:right bottom;}
.SCRright a img{margin-right:4px;float:left;}
.SCRright a .weixinImg{width:88px;height:88px;margin-top:-17px;}
.SCRright a p{float:left;font-size:12px;color:#999;margin-top:8px;margin-right:43px;line-height:16px;}
.SCRright a div h3{font-size:20px;font-weight:normal;}
.SCRright a div em{color:#666;font-size:12px;line-height:22px;padding-left:18px;display:block;}
.SCRright a div em.em1{background:url(../images/sem_18.png) no-repeat left center;}
.SCRright a div em.em2{background:url(../images/sem_20.png) no-repeat left center;}
.bottomLogo{margin-top:20px;}
/* 登录弹窗 */
.loginBox_bg{position:fixed;top:0;left:0;background:#000;opacity:0.4;filter:alpha(opacity:40);z-index:9999;}
.loginBox_con,.loginBox_conP{position:fixed;top:50%;left:50%;margin-top:-215px;margin-left:-315px;width:630px;height:430px;border-radius:10px;z-index:99999;opacity:1;filter:alpha(opacity:100);padding:15px 20px;background:#fff;display:none;}
.loginBox_con{display:none;}
.loginBox_conP{}
.close{width:100%;height:16px;text-align:right;cursor:pointer;}
.LBC{width:100%;}
.LBC_left{float:left;width:232px;height:406px;}
.LBC_left h2{font-size:18px;padding-left:12px;margin-bottom:20px;}
/*
.LBC_left p 替换 .LBC_left h2
*/
.LBC_left p{font-size:18px; padding-left:12px; margin-bottom:20px;}
.LBC_left div{width:158px;height:310px;border-right:1px solid #f2f2f2;padding:6px 42px 0 32px;}
.LBC_left div img{border:1px solid #e3e3e3;margin-bottom:12px;}
.LBC_left div p{width:100%;text-align:center;color:#666;margin-bottom:16px;cursor:pointer;}
.LBC_left div p i{display:inline-block;width:17px;height:16px;text-align:center;line-height:16px;background:#fca43d;color:#fff;font-size:13px;font-weight:bold;border-radius:50%;margin-right:6px;}
.LBC_right{float:left;width:310px;height:346px;margin-left:48px;margin-right:38px;margin-top:18px;}
.LBC_right h3,.LBC_right .h3{width:100%;text-align:right;font-size:12px;color:#666;margin-bottom:12px;cursor:pointer;}
.LBC_right h3 i,.LBC_right .h3 i{display:inline-block;width:11px;height:16px;margin-right:6px;background:url(../images/t1.jpg) no-repeat;vertical-align:top;}
.LBC_right h3 s,.LBC_right .h3 s{display:inline-block;width:16px;height:16px;margin-right:6px;background:url(../images/t7.jpg) no-repeat;vertical-align:top;}
.LBC_right .back{width:100%; text-align:right; font-size:12px; color:#666; margin-bottom:12px; cursor:pointer;}
.LBC_right .back i{display:inline-block; width:11px; height:16px; margin-right:6px; background:url(../images/t1.jpg) no-repeat; vertical-align:top;}
.LBC_right .back s{display:inline-block; width:16px; height:16px; margin-right:6px; background:url(../images/t7.jpg) no-repeat; vertical-align:top;}
/**
2015.10.21
LBC_right .login_lable 替换 LBC_right h3
LBC_right .login_lable i 替换 LBC_right h3 i
LBC_right .login_lable s 替换 LBC_right h3 s
*/
.LBC_right .login_lable{width:100%; text-align:right; font-size:12px; color:#666; margin-bottom:12px; cursor:pointer;}
.LBC_right .login_lable i{display:inline-block; width:11px; height:16px; margin-right:6px; background:url(../images/t1.jpg) no-repeat; vertical-align:top;}
.LBC_right .login_lable s{display:inline-block; width:16px; height:16px; margin-right:6px; background:url(../images/t7.jpg) no-repeat; vertical-align:top;}
.loginBox_res{width:308px;height:24px;text-align:center;line-height:24px;background:#f9f9f9;font-size:12px;color:#666;margin-bottom:30px;}
.loginBox_name{width:308px;height:34px;margin-bottom:15px;border:1px solid #e2e2e2;}
.loginBox_name span,.loginBox_pwds span,.loginBox_pwdL span,.loginBox_name i{float:left;display:inline-block;width:34px;height:34px;background:#f7f7f7;margin-right:10px;}
.loginBox_name span,.loginBox_pwdL span{background:url(../images/t2.jpg) no-repeat;}
.loginBox_name i{background:url(../images/t6.jpg) no-repeat;}
p.pwdtxt{position:absolute;margin-left:44px;font-size:12px;color:#999;line-height:34px;}
p.usertxt{position:absolute;margin-left:44px;font-size:12px;color:#999;line-height:34px;}
.error_show{height:30px;line-height:30px;}
.error_show span{display:block;font-size:12px;color:#ea5504;display:none;}
.loginBox_name.show,.loginBox_pwds.show,.loginBox_pwdL.show{border:1px solid #ea5504;}
.loginBox_pwd{width:308px;height:34px;}
.loginBox_pwds{margin-right:10px;}
.loginBox_pwds span{background:url(../images/t3.jpg) no-repeat;}
.loginBox_name input,.loginBox_pwds input{float:left;width:254px;height:34px;line-height:34px;color:#999;}
.loginBox_pwds{float:left;width:308px;height:34px;border:1px solid #e2e2e2;}
.loginBox_pwdL{margin-right:10px;}
.loginBox_pwdL,.loginBox_pwdR{float:left;width:170px;height:34px;margin-bottom:15px;border:1px solid #e2e2e2;}
.loginBox_name input{width:254px;}
.loginBox_pwdL input{width:116px;height:34px;line-height:34px;color:#999;}
.loginBox_pwdR{width:124px;height:34px;text-align:center;line-height:34px;background:#f9f9f9;color:#999;border:1px solid #e2e2e2;cursor:pointer;}
.loginBox_checkbox{width:100%;height:16px;line-height:16px;padding-top:10px;margin-top:30px;}
.loginBox_checkbox input{width:12px;height:14px;float:left;color:#999;margin-right:10px;cursor:pointer;}
.loginBox_checkbox div{float:left;height:16px;width:60px;color:#999;}
.loginBox_checkbox span{float:right;color:#999;cursor:pointer;}
.loginBox_checkbox span a{color:#999;font-size:14px}
.loginBox_btn{width:170px;height:38px;background:#ea5404;text-align:center;line-height:38px;color:#fff;margin:24px 0;font-size:18px;cursor:pointer;}
.loginBox_btn1{width:170px;height:38px;background:#ea5404;text-align:center;line-height:38px;color:#fff;margin-top:40px;font-size:18px;cursor:pointer;}
.loginBox_qita{width:100%;height:100%;}
.loginBox_qita h4,.loginBox_qita .h4{font-size:12px;color:#666;font-weight:normal;margin:10px 0;}
/*
.loginBox_qita .loginBox_qita_text 替换 .loginBox_qita h4
*/
.loginBox_qita .loginBox_qita_text{font-size:12px; color:#666; font-weight:normal; margin:10px 0;}
.loginBox_qita ul.list{width:100%;height:33px;padding:10px 0;}
.loginBox_qita ul.list li{float:left;margin-right:10px;}
.loginBox_qita ul.list li a{display:inline-block;width:33px;height:33px;border-radius:50%;color:#666;}
.list_img1{background:url(../images/t4.jpg) no-repeat;}
.list_img2{background:url(../images/t5.jpg) no-repeat;}
.list_img3{background: url(../images/t10.png) no-repeat;}
.loginBox_qita p{width:230px;height:24px;text-align:center;line-height:24px;font-size:12px;color:#666;background:#f9f9f9;}
.loginBox_qita p a{color:#3498e1;font-size:12px;}
/* .WB_loginButton img{display:none;!important;} */
/*头文件广告位*/
.index_stic{padding: 0 125px;background:url(../images/house-red.jpg) center top no-repeat;}
.iclose{width:26px;height: 26px;background: url(../images/close.png) no-repeat;position: absolute; right: 3px;top:10px;}
.iclose:hover{background: url(../images/close-h.png) no-repeat;}
/* 广告位 start */
.detail_left_banner > li{float:left; width:125px; margin:0 7px 10px 0;}
.detail_left_banner > li a,.detail_right_banner > li a{font-size:14px; color:#999; display: inline-block; margin-top:4px;}
.detail_right_banner{float:left; width:308px; padding-top:10px; border:1px solid #ececec; background:#fff;}
.detail_right_banner > li{float:left; width:140px; margin:0 0px 10px 10px; line-height:24px;} /* 广告位 end */
/* 微信登录弹框 */
.poplayer{position: fixed; top: 50%; left: 50%; min-width: 200px; min-height: 100px; border-radius: 10px; background: #fff; display: none; font-family: 'microsoft yahei'; z-index: 100000;}
.poplayer .layout430{width: 430px; overflow: hidden;}
.poplayer .layout430 .title{font-size: 24px; line-height: 24px; font-weight: bold; color: #eb6100; padding-top: 30px; text-align: center; font-family: 'microsoft yahei';}
.poplayer .close{position: absolute; right: 10px; top: 10px;}
.pop-wechat-code{margin-left:-215px; margin-top:-190px;}
/*sem底部 start 2016-6-6*/
.sem-fixed-bottom{position: fixed; bottom:0; left:0; z-index:100; width:100%; height:90px; background: rgba(0,0,0,.8); }
.sem-fixed-bottom .close {position: absolute; top: -5px; right: -10px; width: 40px; height: 40px; cursor: pointer; z-index: 3; background: url('http://s3.17house.com/common/images/close-bot.png') no-repeat center; }
.sem-fixed-bottom .w1190{position: relative; width:1190px; margin:0 auto; }
.sem-fixed-bottom img{position: absolute; left:0; top:-44px; }
.sem-fixed-bottom p{font-size:36px; font-family: "微软雅黑"; color:#fff; padding:24px 0 0 180px; }
.sem-fixed-bottom .right{position: absolute; top:26px; right:20px; white-space: nowrap;}
.sem-fixed-bottom a.btn{position:static;margin-top:0; display:inline-block; width:auto; height:30px; line-height: 30px; font-size:18px; padding:5px 15px 5px 42px; border-radius: 5px; color:#fff; }
.sem-fixed-bottom a.btn-orange{margin-right:20px; background: #ff5400 url(http://s3.17house.com/common/images/sem/icon-sprites.png) no-repeat 5px 0; }
.sem-fixed-bottom a.btn-orange:hover{background: #ea5404 url(http://s3.17house.com/common/images/sem/icon-sprites.png) no-repeat 5px 0; }
.sem-fixed-bottom a.btn-blue{background: #3398e0 url(http://s3.17house.com/common/images/sem/icon-sprites.png) no-repeat 5px -38px; }
.sem-fixed-bottom a.btn-blue:hover{background: #3aa7f7 url(http://s3.17house.com/common/images/sem/icon-sprites.png) no-repeat 5px -38px; }
/*sem底部 end 2016-6-6*/
/*2016.6.12公用右侧悬浮窗*/
.con-online{position:fixed; z-index: 1000; top:50%; margin-top:-175px; right:0px; width:70px; border-bottom: 1px solid #ececec;font-size:12px; background:#fff;}
.con-online a{width: 68px; height: 55px; border: 1px solid #ececec; display: block; padding: 13px 0 0 0; text-align: center; border-bottom: none;}
.con-online a:link,.con-online a:visited{color:#333;font-size:12px;}
.con-online a i{background: url(http://s3.17house.com/common/images/con-online.png) no-repeat -27px 0; width: 26px; height:26px; display: block; margin-left: 22px; margin-bottom: 6px;}
.con-online i.i1{background: url(http://s3.17house.com/common/images/erj.gif) no-repeat center center;background-size:100% 100%;}
.con-online i.i2{background-position: -27px -26px; height:27px;}
/*.con-online i.i3{background-position: -27px -55px; height:24px;}*/
.con-online i.i3{background: url(http://s3.17house.com/common/images/erw.gif) no-repeat center center;background-size:100% 100%;}
.con-online i.i4{background-position: -27px -79px;}
.con-online i.i5{background-position: 0px -106px;}
.con-online .online-a:hover,.con-online .active{background: #00a151;color: #fff;}
.con-online a.active:link,.con-online a.active:visited{color:#fff;}
.con-online .online-a:hover div{color: #333}
.con-online .online-a:hover i.i1{background: url(http://s3.17house.com/common/images/con-online.png) no-repeat 0px 0;}
.con-online .online-a:hover i.i2{background-position:0px -26px;}
.con-online .online-a:hover i.i3{background: url(http://s3.17house.com/common/images/con-online.png) no-repeat 0px -55px;}
.con-online .online-a:hover i.i4{background-position:0px -79px;}
.con-online a.back-top{display: none;}
.con-online a.a-weixin, .con-online a.free-a{position: relative;}
.con-online a.a-weixin .weixin{width: 146px; height:160px; border: 1px solid #ececec; font-size: 14px; position: absolute; right: 69px; background: #fff; top:-93px; display: none;}
.con-online a.a-weixin .weixin img{display: block;text-align: center; margin: 10px 0 6px 12px;}
.con-online a.free-a .free-tele{position: absolute; z-index: 1000; background: #fff; width: 239px; height:118px; padding: 20px; border: 1px solid #ececec; right: 69px; top:-91px; display: none;}
.con-online a.free-a .free-tele p{text-align: center;font-size: 18px;}
.con-online a.free-a .free-tele p b{font-weight: 200;color: #ff7200}
.con-online a.free-a .free-tele input{width: 229px; height:40px; border:none; background: #f4f4f4; color: #a0a0a0; font-size: 14px; margin: 10px 0; padding-left: 10px; border-radius: 3px;}
.con-online a.free-a .free-tele input.sub-but{width: 239px; background: #ff5900; text-align: center; line-height:40px; font-size: 18px; color: #fff;}
.free-a .s-arrow,.a-weixin .s-arrow{width:7px; height:10px; position: absolute; display: block; background: url(http://s3.17house.com/common/images/s-arrow.png) no-repeat; top: 50%; right: 63px; z-index: 99; display: none;}
.free-a:hover .s-arrow,.con-online a.free-a:hover .free-tele{display: block}
.a-weixin:hover .s-arrow,.con-online a.a-weixin:hover .weixin{display: block;}
/*2016/8/23公用右侧悬浮窗*/

#relocation_url{cursor:pointer;}
.relocation{height: 279px;width: 103px;position: fixed;top: 50%;right: 0;padding: 116px 0 0 0;margin-top: -155px;background: url(http://s1.17house.com/common/images/relocation.png) no-repeat;z-index: 9999;}
.relocation .relocation_a,.relocation .relocation_b{display: block;height: 34px;width: 82px;text-align: center;line-height: 34px;color: #fff;margin: 6px auto 0 auto;line-height: 34px;border-radius: 4px;background: #009340;font-size:14px !important;}
.relocation_a:hover,.relocation .relocation_b:hover{background: #6dba44;}
.relocation .relocation_a2{width: 100px;margin: 0px auto 0 auto;}
.relocation .back-top{width: 68px; height: 55px;margin: 30px auto 0 auto; border: 1px solid #ececec; display: none; padding: 13px 0 0 0; text-align: center;background: #fff;font-size:14px !important;}
.relocation .back-top i{background: url(http://s3.17house.com/common/images/con-online.png) no-repeat -27px -79px; width: 26px; height:26px; display: block; margin-left: 22px; margin-bottom: 6px;}
/*2016.6.17公用顶部广告位*/
#top-banner{position: relative;height:70px;overflow: hidden;}
#top-banner a{display:inline-block;width:100%;height:70px;}
#top-banner .iclose{width:26px;height: 26px;background: url(http://beijing.17house.com/images/close.png) no-repeat;position: absolute; right: 3px;top:10px;}
#top-banner .iclose:hover{background: url(http://beijing.17house.com/images/close-h.png) no-repeat;}

/*聊天弹框新添样式*/
.box_iframe{
	position: fixed;
	bottom:0;
	right:0;
	height:450px;
	width:320px;
	padding: 0;
	margin: 0;
	box-shadow:-2px 0 10px #333, /*左边阴影*/  
             0px 0 0px #fff, /*右边阴影*/  
             0 -1px 10px #333, /*顶部阴影*/  
			 0 0px 0px #fff; /*底边阴影*/ 
			 display: none; 
			 z-index: 99999999;
}
.box_iframe iframe{
	height:450px;
	width:320px;
	border:none;
}
.box_iframe_on{
	display: block;
}
.bf_close{
	height:30px;
	padding: 8px 0 0 40px;
	width:60px;
	position: absolute;
	right:0;
	top:0;
	background: #00933F;
}
.bf_close span{
	cursor:pointer;
	float: left;
	height:24px;
	width:24px;
	text-align: center;
	line-height: 24px;
	color:#fff;
	border:1px solid #FFFFFF;
	border-radius: 100%;
	font-size: 24px;
}

.bf_tan{
	position: fixed;
	top:50%;
	left:50%;
	margin: -165px 0 0 -255px;
	height:330px;
	width:510px;
	z-index: 9999;
	
	
}
.bf_tan .bf_list{
	height:326px;
	width:506px;
	position: relative;
	/*left:50%;
	top:50%;
	margin: -253px 0 0 -163px;*/
	background:#fff;
	border-radius: 6px;
	border:1px solid #ececec;
	box-shadow:0px 0px 0px #fff, /*左边阴影*/  
          1px 0px 3px #666, /*右边阴影*/  
             0px 0px 0px #fff, /*顶部阴影*/  
			4px 8px 10px #333; /*底边阴影*/ 
			 
}
.bf_tan .bf_list .bt_tit{
	height:80px;
	width:473px;
	margin: 0 auto;
	text-align: center;
	line-height: 80px;
	border-bottom:1px solid  #ececec;
	position: relative;
}
.bf_tan .bf_list .bt_tit b{
	color:#00933f;
	font-size: 26px;
	cursor:pointer;
}
.bf_tan .bf_list .bt_tit span{
	position: absolute;
	height:36px;
	width:36px;
	border:1px solid #bfbfbf;
	border-radius: 100%;
	text-align: center;
	line-height: 34px;
	color:#bfbfbf;
	font-size: 32px;
	right: 0;
	top:22px;
}
.bf_tan ul{
	width:438px;
	height:auto;
	background:#fff;
	margin:0 auto;
	position: relative;
	z-index: 100;
	padding-top: 20px;
}
.bf_tan ul li{
	height:34px;
	line-height: 32px;
	text-indent: 70px;
	font-size: 16px;
	color:#282828;
}
.bf_tan ul .li_last{
	background: url(../img/bf_xin.jpg) no-repeat;
	color:#00933F;
	text-indent: 87px;
}

.bf_tan p{
	width:350px;
	height:auto;
	margin: 0 auto;
	padding-top: 10px;
}
.bf_tan p span{
	cursor:pointer;
	display: inline-block;
	width:148px;
	height:44px;
	line-height: 42px;
	text-align:center;
	margin:0 10px;
	border-radius: 6px;
	position: relative;
	z-index: 100;
	font-size: 20px;
	color:#00933F;
	font-weight: 600;
	background: #fff;
	border:1px solid #00933F;
	border-radius: 4px;
}
.bf_tan p span.span_on{
	background:#00933F;
	color:#fff;
}
/*商务通邀请框*/
table#LR_Tb2{visibility:hidden;}
table#LR_Tb3{border: 1px solid #00A051!important;}	

