@charset "utf-8";
.index_footer_wrap{
	width:100%;
	min-width:1190px;
	height:297px;
	background-color:#eeeeee;
}
.index_footer_wrap a{
	outline:0;
}
.footer_one_wrap{
	width:100%;
	height:127px;
	border-bottom:1px #dbdbdb solid;
}
.footer_one{
	width:1190px;
	height:126px;
	margin:0 auto;
	background-color:#eeeeee;
}
.footer_gouwu{
	float:left;
	font-size:20px;
	color:#555555;
	width:20px;
	margin-top:8px;
	font-weight:bolder;
}
.footer_ul_gouwu{
}
.footer_ul_gouwu li{
	float:left;
	font-family:"宋体" !important;
	padding:22px 18px;
	_padding:22px 20px;
	text-align:center;
}
.footer_ul_zhuangxiu li{
	float:left;
	font-family:"宋体" !important;
	padding:22px 28px;
	_padding:22px 27px;
	text-align:center;
}
.footer_gouwu_dif{
	margin-left:65px;
	_margin-left:63px;
}
.footer_two{
	width:1190px;
	height:170px;
	margin:0px auto;
	background-color:#eeeeee;
}
.footer_two_one{
	width:130px;
	margin-right:65px;
	margin-top:27px;
}
.footer_two .two_one_new{
	width:245px;
	margin-right:45px;
}
.two_one_dif{

}
.footer_title{

}
.footer_title img{
	width:20px;
	height:20px;
}
.footer_title span{
	color:333333;
	font-family:"宋体" !important;
	font-size:16px;
	margin-left:10px;
	font-weight:bolder;
}
.footer_two_ul{
	width:130px;
	height:110px;
	border-top:1px #c8c8c8 dotted;
}
.footer_two_ul li{
	 padding-left:15px;
	 background:url("http://s1.17house.com/www/image/footer_pic16.png") no-repeat scroll 1px 9px;
	 line-height:28px; 
	 list-style-type:none;
	 word-wrap:break-word;
}
.footer_two_ul li a{
	color:#555555;
	font-family:"宋体" !important;
	font-size:12px;
}
.footer_two .two_ul_new{
	width:245px;
}
.two_ul_new li span{
	color:#555555;
	font-family:"宋体" !important;
	font-size:12px;
}
.two_ul_new li p{
	color:#555555;
	font-family:"宋体" !important;
	font-size:12px;
}
.footer_three_wrap{
	width:100%;
	height:40px;
	background-color:#ea5504;
}
.footer_three_in{
	width:1190px;
	height:40px;
	background-color:#ea5504;
	margin:0 auto;
}
.footer_three{
	width:980px;
	height:40px;
	margin:0 auto;
	background-color:#ea5504;
}
.footer_three .light{background:#c44500;}
.footer_three li{
	float:left;
	padding:11px 0px;
	_padding:12px 0px;
}
.footer_three li a{
	font-family:"宋体" !important;
	font-size:14px;
	display:inline-block;
	padding:0px 30px;
	_padding:0px 30px;
	border-right:1px #f5aa82 solid;
	color:white;
	text-decoration:none;
}
.footer_three li a:hover{
	text-decoration:none;
	color:#fff;	
}
.footer_three li .footer_a_dif{border-right:none;}
.ml_60{
	margin-left:60px;
}
.footer_weixin{
	width:111px;
	border-left:1px #dbdbdb solid;
}
.footer_guanzhu{
	font-family:"宋体" !important;
	font-size:14px;
	color:#333;
	font-weight:bold;
	margin-left:40px;
	margin-top: 10px;
}
.footer_weixin img{
	width:82px;
	height:82px;
	margin-left:28px;
	margin-top:7px;
}
.footer_more{
	font-family:"宋体" !important;
	font-size:14px;
	color:#707070;
	margin-left:40px;
	margin-top:7px;
	font-weight:bold;
	display: block;
}

.footer_four{
	width:1190px;
	margin:18px auto 0px;
}
.footer_four .footer_four_lf{
	float:left;
	font-family:"宋体" !important;
	font-size:12px;
	color:#868686;
}
.footer_four .footer_four_rt{
	float:left;
	width:1095px;
	margin-left:10px;
	line-height: 30px;
	margin-top: -8px;
}
.footer_four .footer_four_rt a{
	font-family: "宋体" !important;
	font-size: 12px;
	color: #868686;
	margin-right: 18px;
}
/*.footer_four{
	width:1190px;
	margin:18px auto 0px;
}
.footer_four a{
	font-family:"宋体" !important;
	font-size:12px;
	color:#868686;
	margin-right:18px;
}
.footer_four span{
	font-family:"宋体" !important;
	font-size:12px;
	color:#868686;
}*/
.footer_yiqi{
	font-family:"宋体" !important;
	font-size:12px;
	color:#b0b0b0;
	width:1190px;
	text-align:center;
	margin:25px auto 0;
}
.footer_zhnegjian{
	font-family:"宋体" !important;
	font-size:12px;
	color:#b0b0b0;
	width:1190px;
	text-align:center;
	margin:10px auto 0;
}
.footer_zhnegjian a,.footer_zhnegjian span{
	font-family:"宋体" !important;
	font-size:12px;
	color:#b0b0b0;
}
.footer_right{
	font-family: Arial,"宋体" !important;
	font-size:12px;
	color:#b0b0b0;
	width:1190px;
	text-align:center;
	margin:10px auto 0;
}
.footer_pic{
	width:1190px;
	margin:20px auto;
	text-align:center;
}
.footer_pic a img{
	width:108px;
	height:41px;
}


/*网站新底部*/
*{font-family:"微软雅黑";}
.mt_5{margin-top:5px;}
a:hover{color:#f50;}
.foot_new{width:100%;background: #fff;margin-top: 5px;}
.width_980{width:980px;/*border:1px solid green;*/}
.width_1190{width:1190px;/*border:1px solid blue;*/}
.width_1190 .left-pic{width:593px;}
.width_1190 .right-pic{width:593px;}
.width_980 .left-pic{width:491px;}
.width_980 .right-pic{}
.margin_one{margin:20px auto 20px;}
.foot_one_wrap{width:100%;}
.foot_one_in{margin:20px auto 20px;}
.foot_one_in .left{float:left;font-size:12px;color:#666;line-height:22px;}
.foot_one_in .right{float:left;line-height:22px;}
.foot_one_in .right a{font-size:12px;color:#999;margin-right: 13px;white-space: nowrap;}
.foot_one_in .right a:hover{text-decoration: underline; color:#f50;}
.foot_one_in .right a.link-more{color: #0088cc;}
.width_1130{width:1130px;}
.width_920{width:920px;}
.foot_two_wrap{width:100%;background-color:#f2f2f3;border-bottom:2px solid #f55500;border-top:1px solid #E0E0E0;}
.foot_two_in{margin:0 auto 20px;*margin:0 auto;}
.foot_two_in .left{float:left;}
.width_593{width:593px;/*border:1px solid pink;*/}
.width_493{width:491px;/*border:1px solid pink;*/}
.width_489{width:489px;/*border:1px solid pink;*/}
.shopping{float:left;width:69px;height:72px;background:url("http://s1.17house.com/www/image/foot-1.png") no-repeat;}
.foot_two_in .right{float:left;}
.shopping_ul{float:left;}
.shopping_ul li{float: left;font-family: "宋体" !important;padding: 4px 14px 10px 14px;/*_padding: 22px 20px;*/text-align: center;}
.shopping_ul li a{display:inline-block;}
.shopping_ul li a:hover p{color:#f50;text-decoration:underline;}
.shopping_ul li img{width:40px;height:40px;}
.shopping_ul li p{margin-top:5px;font-size:12px;color:#666;}
.decorate{float:left;width:69px;height:72px;background:url("http://s1.17house.com/www/image/foot-7.png") no-repeat;}
.decorate_ul li{padding: 4px 24px 10px 24px;/*_padding: 22px 20px;*/}
.width_980 .shopping_ul li{padding: 4px 4px 10px 4px;}
.width_980 .decorate_ul li{padding: 4px 14px 10px 14px;}
.two_text{margin-top:25px;}
.two_text .text_one{width:160px;float:left;/*border:1px solid blue;*/}
.two_text .text_one p{font-size:14px;color:#666;font-weight:bold;}
.two_text .text_one ul{width:160px;}
.two_text .text_one ul li{line-height: 22px;list-style-type: none;word-wrap: break-word;}
.two_text .text_one ul li a{font-size:12px;color:#666;}
.two_text .text_one ul li a:hover{text-decoration: underline;}
.two_text .text_one_new{width:351px;/*border:1px solid green;*/}
.text_one_new p{padding-bottom:5px;}
.two_text .div_owner{font-size:12px;color:#666;line-height:22px;}
.two_text .text_two{width:154px;float:left;padding-left:45px;}
.two_text .text_four{padding-left:10px;}
.two_text .text_two img{width:80px;height:80px;margin-top:5px;}
.two_text .div_code p{font-size:12px;color:#666;}
.two_text .div_code .p1{margin-top:30px;}
.two_text .div_code .p2{margin-top:9px;}
.width_980 .two_text .text_one{width: 116px;}
.width_980 .two_text .text_one ul{width: 116px;}
.width_980 .two_text .text_one_new{width:351px;}
.width_980 .two_text .text_two{padding-left:10px;}
.foot_three_wrap{margin:0 auto;}
.foot_three_in{margin:15px auto 0;height: 110px;}
.foot_three_in .left{float:left;width:953px;}
.foot_three_wrap .width_980 .left{width: 740px;}
.foot_three_in .left ul{width:100%;}
.foot_three_in .left ul li{height:14px;float:left;border-left:1px solid #666;padding-left:14px;padding-right:14px;}
.foot_three_in .left ul li a{color:#666;font-size:12px;}
.foot_three_in .left ul li a:hover{text-decoration: underline;}
.foot_three_in .left ul li.li_decorate{border-left:none;padding-left:2px;}
.papers .p3{float:left;margin-top:12px; padding-right:10px;width:375px;}
.papers .p3 a{font-size:12px;color:#999;}
.papers .p4{float:left;font-size:12px;color:#999;margin-top:12px;padding-left:10px;width:334px;}
.foot_three_in .right{float:left;}
.foot_three_in .right .a1{display:block;float:left;}
.foot_three_in .right .a1 img{width:108px;height:41px;}
.foot_three_in .right .a2{display:block;float:left;margin-left:20px;}
.foot_three_in .right .a2 img{width:108px;height:41px;}
.two_text .text_three{width:116px;}
.two_text .text_three ul{width:116px;}
.mt_12{margin-top:12px;}



/*12-24胡再兴添加*/
.li_pa{position:relative;float:left;height:14px;padding:0 !important}
.li_pt{position:absolute;white-space:nowrap;padding:0 15px;color:#666;}
.li_point{*zoom:1;width:0;height:0;line-height:0;font-size:0;border-style:solid;border-width:6px;border-color:#989898 transparent transparent ;position:relative;top:4px;left:3px;display:inline-block;}
.dis_none{display:none;}
.li_pb{border-color:transparent transparent #989898;position:relative;top:-2px;}
.li_box{border:1px solid #dfdfdf;background:#fff;position:absolute;left:0;top:-2px;z-index:2;border:1px solid #999;cursor:pointer;}
.no_bor{border:none !important;}
.li_box a,.li_box span{color:#666;padding:0 15px;white-space:nowrap;display:block;height:20px;line-height:20px;}

#baidu_share{
    float:right;
    margin-bottom:6px;
    margin-right:30px;
}
