@charset "utf-8";
/*
	author : 胡再兴;
	site : 17house.com;
	crateTime : 2015-1-20;
*/
.headNew{background:#fff;position:relative;z-index:999;}
.navbottom {border-bottom:1px solid #E9E9E9;}
a{color:#666;}
.headNew_top{line-height:32px;background:#f8f8f8;height:32px;width:100%;border-bottom:1px solid #e9e9e9;}
.layout_wid1190{width:1190px;margin:0 auto;}
.layout_wid980{width:980px;margin:0 auto;}
.headNew_branding{float:left;color:#666;}
.cbor1{color:#e4e4e4;}
.cbor2{color:#dfdfdf;padding:0 !important;}
.headNew_nav{float:right;}
.headNew_nav ul li{float:left;}
.headNew_navLogin{background:url(http://www.17house.com/images/base/nav/hn_icon1.png) no-repeat 0 center;padding:0 10px 0 20px;color:#fff;}
.headNew_navReg{padding:0 10px;}
.headNew_navCom{width:80px;background:url(http://www.17house.com/images/base/nav/hn_icon2.png) no-repeat 65px 15px;margin:0 4px;text-indent:10px;}
.headNew_navTel{padding-left:38px;background:url(http://www.17house.com/images/base/nav/hn_icon3.png) no-repeat 15px center;}
.headNew_navTel span{color:#00a151;}
.h_headNew_sel{position:relative;z-index:13;}
.h_headNew_sel .h_headNew_selText{display:block;width:80px;height:30px;margin-top:3px;line-height:27px;_margin-top:3px;cursor:pointer;color:#666;}
.h_headNew_selCon{position:absolute;border:1px solid #d6d6d6;border-top:none;width:78px;background:#fff;_right:0;*right:0;z-index:1;right:0;top:32px;}
.h_headNew_selCur .h_headNew_selText{color:#f55500;border:1px solid #d6d6d6;border-bottom:0;background:url(http://www.17house.com/images/base/nav/h_sicon2.png) #fff no-repeat 63px 12px;width:78px;}
.h_headNew_selCon li{line-height:27px;text-align:left;text-indent:10px;}
.h_headNew_selWid{width:274px;}
.h_headNew_selWid ul li{width:50% !important;}
.h_headNew_selWid ul li img{margin-right:5px;}
.h_headNew_selWid ul{padding-top:10px;margin-left:20px;margin-right:40px;}
.h_headNew_selConCen li{line-height:32px;}
.h_headNew_selWid .h_headNew_selConBot{border-top:1px solid #d6d6d6;padding:7px 0;margin:0;margin-top:10px;}
.h_headNew_selConBot p{float:left;color:#666;}
.h_headNew_selConBot p span{display:block;line-height:20px;}
.h_headNew_foc{margin-top:6px;margin-left:5px;}
.h_headNew_foc a{padding:4px 7px;background:#fb882f;border-radius:3px;color:#fff !important;}


.headNew_logo{float:left;padding-right:15px;padding-top:10px;}
.headNew_logo p{margin-top:10px;text-align:right;color:#999;}
.headNew_city{float:left;width:auto;text-align:center;background:url(http://www.17house.com/images/base/nav/hn_icon4.png) no-repeat right center;border-left:1px solid #eee;}
.hc1{margin-top:12px;font-size:20px; padding: 0 20px 0 10px;}
.hc2{margin-top:5px;}
.hc2 a{color:#999 !important;}

.headNew_search{float:left;/*width:470px;*/height:38px;line-height:38px;margin-top:12px;margin-left:135px;border-radius:0 8px 8px 0;*width:461px}
.headNew_searchRes{border:1px solid #ccc;border-right:none;width:100px;text-align:left;text-indent:15px;float:left;color:#666;background:#f6f6f6;border-right:1px solid #e4e4e4;cursor:pointer;position:relative;z-index:13;height:38px;line-height:38px;}
.headNew_searchRes img{margin-left:2px;_margin:17px 0;width:12px;height:6px;}
.headNew_searchText{position:absolute;top:38px;left:-1px;border:1px solid #e4e4e4;border-top:0;background:#fff;z-index:1;width:98px;}
.headNew_searchText ul li{height:32px;line-height:32px;text-align:left;text-indent:15px;}
.headNew_searchInp{width:270px;float:left;height:38px;line-height:38px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.headNew_searchInp input{display:block;width:100%;height:38px;*height:37px;*line-height:37px;border:0;outline:0;text-indent:15px;}
.headNew_searchBut{width:89px;float:right;background:url(http://www.17house.com/images/base/nav/hn_icon10.png) #3cbd38 no-repeat 20px center;color:#fff;font-size:14px;cursor:pointer;height:40px;line-height:40px;border-radius:0 8px 8px 0;}
.headNew_searchBut input{color:#fff;display:block;width:100%;height:100%;*height:37px;*line-height:37px;border:0;outline:0;background:none;cursor:pointer;text-align:left;border-radius:0 8px 8px 0;text-indent:40px;}
.headNew_searchBut img{margin:13px 0;}
.headNew_search980 .headNew_searchBut{background:url(http://www.17house.com/images/base/nav/hn_icon10.png) #3cbd38 no-repeat 10px center;}
.headNew_search980 .headNew_searchBut input{text-indent:28px;}

.headNew_corp{float:right;margin-right:25px;line-height:30px;margin-top:20px;}
.headNew_corp a{padding-left:25px;display:block;float:left;}
.headNew_corpRev{background:url(http://www.17house.com/images/base/nav/hn_icon6.png) no-repeat 0 center;}
.headNew_corpDia{background:url(http://www.17house.com/images/base/nav/hn_icon5.png) no-repeat 0 center;margin-left:40px;}

.headNew_subnav{width:100%;border-bottom:2px solid #3cbd38;margin-top:30px;*margin-top:0;}
.headNew_subnavCon ul li{float:left;line-height:40px;height:40px;width:120px;text-align:center;position:relative;z-index:12;}
.headNew_subnavCon ul li a{display:block;width:100%;height:100%;font-size:16px;color:#333;}
.headNew_subnavCon ul li a img{_margin:17px 0;width:12px;height:6px;vertical-align:middle;}
.headNew_subnavLihover{background:#3cbd38;color:#fff;}
.headNew_subnavLihover a{color:#fff !important;}
.headNew_subnavWid100{width:100px !important;}
.headNew_subnavCon ul .headNew_subnavMob{float:right;font-size:16px;color:#ff5400;background:url(http://www.17house.com/images/base/nav/hn_icon7.png) no-repeat 0 center;width:160px;margin-right:25px;cursor:pointer;}
.headNew_subnavMenu{position:absolute;width:120px;background:#279423;z-index:12;left:0;display:none;top:40px;}
.headNew_top2 .headNew_subnavMenu{top:48px;}

.headNew_subnavMenu ul li{text-align:left;text-indent:35px;}
.headNew_subnavMenu ul li a{color:#fff;font-size:14px;}
.headNew_subnavTip{position:absolute;top:-5px;;left:45px;background:#00a151;display:block;width:30px;height:15px;line-height:15px;color:#fff;}
.headNew_subnavMenu ul li a:hover{color:#fff;text-decoration:underline;}
.headNew_subnavLt1{background:url(http://www.17house.com/images/base/nav/hn_subnav1.png) no-repeat 13px center;}
.headNew_subnavLt2{background:url(http://www.17house.com/images/base/nav/hn_subnav2.png) no-repeat 13px center;}
.headNew_subnavLt3{background:url(http://www.17house.com/images/base/nav/hn_subnav3.png) no-repeat 13px center;}
.headNew_subnavLt4{background:url(http://www.17house.com/images/base/nav/hn_subnav4.png) no-repeat 13px center;}
.headNew_subnavLt5{background:url(http://www.17house.com/images/base/nav/hn_subnav5.png) no-repeat 13px center;}
.headNew_subnavLt6{background:url(http://www.17house.com/images/base/nav/hn_subnav6.png) no-repeat 13px center;}
.headNew_subnavLt7{background:url(http://www.17house.com/images/base/nav/hn_subnav7.png) no-repeat 13px center;}
.headNew_subnavZs1{background:url(http://www.17house.com/images/base/nav/hn_subnav8.png) no-repeat 13px center;}
.headNew_subnavZs2{background:url(http://www.17house.com/images/base/nav/hn_subnav9.png) no-repeat 13px center;}
.headNew_subnavZs3{background:url(http://www.17house.com/images/base/nav/hn_subnav10.png) no-repeat 13px center;}
.headNew_subnavZs4{background:url(http://www.17house.com/images/base/nav/hn_subnav11.png) no-repeat 13px center;}
.headNew_subnavZs5{background:url(http://www.17house.com/images/base/nav/hn_subnav_wd.png
) no-repeat 13px center;}
.headNew_subnavJj1{background:url(http://www.17house.com/images/base/nav/hn_subnav12.png) no-repeat 13px center;}
.headNew_subnavJj2{background:url(http://www.17house.com/images/base/nav/hn_subnav13.png) no-repeat 13px center;}
.headNew_subnavJj3{background:url(http://www.17house.com/images/base/nav/hn_subnav14.png) no-repeat 13px center;}
.headNew_subnavJj4{background:url(http://www.17house.com/images/base/nav/hn_subnav15.png) no-repeat 13px center;}
.headNew_subnavXg1{background:url(http://www.17house.com/images/base/nav/hn_subnav16.png) no-repeat 13px center;}
.headNew_subnavXg2{background:url(http://www.17house.com/images/base/nav/hn_subnav17.png) no-repeat 13px center;}
.headNew_subnavXg3{background:url(http://www.17house.com/images/base/nav/hn_subnav18.png) no-repeat 13px center;}
.headNew_subnavXg4{background:url(http://www.17house.com/images/base/nav/hn_subnav19.png) no-repeat 13px center;}
.headNew_subnavZx1{background:url(http://www.17house.com/images/base/nav/hn_subnav20.png) no-repeat 13px center;}
.headNew_subnavZx2{background:url(http://www.17house.com/images/base/nav/hn_subnav21.png) no-repeat 13px center;}
.headNew_subnavZx3{background:url(http://www.17house.com/images/base/nav/hn_subnav22.png) no-repeat 13px center;}
.headNew_subnavZx4{background:url(http://www.17house.com/images/base/nav/hn_subnav23.png) no-repeat 13px center;}
.headNew_levnavZx1{background:url(http://www.17house.com/images/base/nav/hn_subnav24.png) no-repeat 0 center;}
.headNew_levnavZx11{background:url(http://www.17house.com/images/base/nav/hn_subnav25.png) no-repeat 0 center;}
.headNew_levnavZx2{background:url(http://www.17house.com/images/base/nav/hn_subnav26.png) no-repeat 0 center;}
.headNew_levnavZx21{background:url(http://www.17house.com/images/base/nav/hn_subnav27.png) no-repeat 0 center;}
.headNew_levnavZx3{background:url(http://www.17house.com/images/base/nav/hn_subnav28.png) no-repeat 0 center;}
.headNew_levnavZx31{background:url(http://www.17house.com/images/base/nav/hn_subnav29.png) no-repeat 0 center;}
.headNew_levnavZx4{background:url(http://www.17house.com/images/base/nav/hn_subnav30.png) no-repeat 0 center;}
.headNew_levnavZx41{background:url(http://www.17house.com/images/base/nav/hn_subnav31.png) no-repeat 0 center;}
.headNew_levnavZx5{background:url(http://www.17house.com/images/base/nav/hn_subnav32.png) no-repeat 0 center;}
.headNew_levnavZx51{background:url(http://www.17house.com/images/base/nav/hn_subnav33.png) no-repeat 0 center;}
.headNew_levnavZx6{background:url(http://www.17house.com/images/base/nav/hn_subnav34.png) no-repeat 0 center;}
.headNew_levnavZx61{background:url(http://www.17house.com/images/base/nav/hn_subnav35.png) no-repeat 0 center;}
.headNew_levnavXg1{background:url(http://www.17house.com/images/base/nav/hn_subnav36.png) no-repeat 0 center;}
.headNew_levnavXg11{background:url(http://www.17house.com/images/base/nav/hn_subnav37.png) no-repeat 0 center;}
.headNew_levnavXg2{background:url(http://www.17house.com/images/base/nav/hn_subnav38.png) no-repeat 0 center;}
.headNew_levnavXg21{background:url(http://www.17house.com/images/base/nav/hn_subnav39.png) no-repeat 0 center;}
.headNew_levnavXg3{background:url(http://www.17house.com/images/base/nav/hn_subnav40.png) no-repeat 0 center;}
.headNew_levnavXg31{background:url(http://www.17house.com/images/base/nav/hn_subnav41.png) no-repeat 0 center;}
.headNew_levnavJc1{background:url(http://www.17house.com/images/base/nav/hn_subnav58.png) no-repeat 0 center;}
.headNew_levnavJc11{background:url(http://www.17house.com/images/base/nav/hn_subnav59.png) no-repeat 0 center;}
.headNew_levnavJc2{background:url(http://www.17house.com/images/base/nav/hn_subnav60.png) no-repeat 0 center;}
.headNew_levnavJc21{background:url(http://www.17house.com/images/base/nav/hn_subnav61.png) no-repeat 0 center;}
.headNew_levnavJc3{background:url(http://www.17house.com/images/base/nav/hn_subnav62.png) no-repeat 0 center;}
.headNew_levnavJc31{background:url(http://www.17house.com/images/base/nav/hn_subnav63.png) no-repeat 0 center;}
.headNew_levnavJc4{background:url(http://www.17house.com/images/base/nav/hn_subnav64.png) no-repeat 0 center;}
.headNew_levnavJc41{background:url(http://www.17house.com/images/base/nav/hn_subnav65.png) no-repeat 0 center;}
.headNew_levnavJc5{background:url(http://www.17house.com/images/base/nav/hn_subnav66.png) no-repeat 0 center;}
.headNew_levnavJc51{background:url(http://www.17house.com/images/base/nav/hn_subnav67.png) no-repeat 0 center;}

.headNew_levnavZs1{background:url(http://www.17house.com/images/base/nav/hn_subnav42.png) no-repeat 5px center;}
.headNew_levnavConLeft{float:left;font-size:14px;line-height:25px;color:#666;padding:24px 15px 0;text-align:center;}
.headNew_levnavZs2{background:url(http://www.17house.com/images/base/nav/hn_subnav43.png) no-repeat center 5px;color:#3cbd38}
.headNew_levnavZs3{background:url(http://www.17house.com/images/base/nav/hn_subnav44.png) no-repeat center 5px;}
.headNew_levnavZs4{background:url(http://www.17house.com/images/base/nav/hn_subnav45.png) no-repeat center 5px;color:#3cbd38}
.headNew_levnavZs5{background:url(http://www.17house.com/images/base/nav/hn_subnav46.png) no-repeat center 5px;}
.headNew_levnavZs6{background:url(http://www.17house.com/images/base/nav/hn_subnav47.png) no-repeat center 5px;color:#3cbd38}
.headNew_levnavZs7{background:url(http://www.17house.com/images/base/nav/hn_subnav48.png) no-repeat center 5px;}
.headNew_levnavZs8{background:url(http://www.17house.com/images/base/nav/hn_subnav49.png) no-repeat center 5px;color:#3cbd38}
.headNew_levnavZs9{background:url(http://www.17house.com/images/base/nav/hn_subnav50.png) no-repeat center 5px;}
.headNew_levnavZs10{background:url(http://www.17house.com/images/base/nav/hn_subnav51.png) no-repeat center 5px;color:#3cbd38}
.headNew_levnavLt1{background:url(http://www.17house.com/images/base/nav/hn_subnav52.png) no-repeat center 5px;}
.headNew_levnavLt2{background:url(http://www.17house.com/images/base/nav/hn_subnav53.png) no-repeat center 5px;color:#3cbd38}
.headNew_levnavLt3{background:url(http://www.17house.com/images/base/nav/hn_subnav54.png) no-repeat center 5px;}
.headNew_levnavLt4{background:url(http://www.17house.com/images/base/nav/hn_subnav55.png) no-repeat center 5px;color:#3cbd38}
.headNew_levnavLt5{background:url(http://www.17house.com/images/base/nav/hn_subnav56.png) no-repeat center 5px;}
.headNew_levnavLt6{background:url(http://www.17house.com/images/base/nav/hn_subnav57.png) no-repeat center 5px;color:#3cbd38}
.headNew_subnavWidZs{width:324px !important;}
.headNew_subnavWidZs ul li{width:100% !important;text-indent:40px;}
.headNew_subnavWidZs ul li a{display:inline;margin-right:14px;}
.headNew_levnav{border-bottom:1px solid #e6e5e5;box-shadow:0 1px 1px #f4f4f4;}


.headNew_zx1{background:url(http://www.17house.com/images/base/nav/zxico02.png) no-repeat 0 center;}
.headNew_zx11{background:url(http://www.17house.com/images/base/nav/zxico01.png) no-repeat 0 center;}
.headNew_zx2{background:url(http://www.17house.com/images/base/nav/zxico04.png) no-repeat 0 center;}
.headNew_zx21{background:url(http://www.17house.com/images/base/nav/zxico03.png) no-repeat 0 center;}
.headNew_zx3{background:url(http://www.17house.com/images/base/nav/zxico06.png) no-repeat 0 center;}
.headNew_zx31{background:url(http://www.17house.com/images/base/nav/zxico05.png) no-repeat 0 center;}
.headNew_zx4{background:url(http://www.17house.com/images/base/nav/zxico08.png) no-repeat 0 center;}
.headNew_zx41{background:url(http://www.17house.com/images/base/nav/zxico07.png) no-repeat 0 center;}



.headNew_levnavCon ul{width:100%;}
.headNew_levnavCon ul li{height:40px;line-height:40px;float:left;padding-left:20px;padding-right:40px;font-size:14px;}

.headNew_levnavConBox{float:left;height:50px;overflow:hidden;cursor:pointer;border-left:1px solid #fff;border-right:1px solid #fff;z-index:1;padding:5px 0;}
.headNew_levnavConRi{float:left;line-height:25px;width:120px;}
.headNew_levnavConRi a{display:block;width:50%;float:left;color:#999;}
.headNew_levnavConRi a:hover{color:#999 !important;text-decoration:underline;}
.headNew_levnavConRiWid a{width:25%;}
.headNew_levnavConMe{position:relative;float:left;z-index:1;}
.headNew_levnavConBoxPo{position:absolute;background:#fff;border:1px solid #E9E9E9;border-top:none;cursor:pointer;z-index:2;left:0;padding:5px 0;}
.headNew_levnavConRiWid{width:240px !important;}

/*一行头部*/
.headNew_top2{width:100%;background:#3cbd38;line-height:48px;height:48px;position:fixed;top:0;z-index:120;display:none;}
.headNew_topTleft{/*background:url(http://www.17house.com/images/base/nav/hn_pic2.png) no-repeat 0 center;*/width:210px;height:48px;text-align:right;color:#b8eab7;font-weight:bold;float:left;}
.headNew_topTleft img{vertical-align:top !important;position:relative;top:10px;*top:2px;}
.headNew_topRi ul li a{color:#fff;}
.cbor3{color:#fff;}
.headNew_topTCen{float:left;margin-left:45px;*margin-left:25px;}
.headNew_topRi .headNew_navLogin{background:url(http://www.17house.com/images/base/nav/hn_icon11.png) no-repeat 0 center;}
.headNew_topTCen  ul li{line-height:48px;height:48px;width:auto;padding:0 12px;position:relative;text-align:center;float:left;}
.liWidth1{_width:30px !important;}
.liWidth2{_width:80px !important;}
.liWidth3{_width:50px !important;}
.liWidth4{_width:95px !important;}
.headNew_topTCen  ul li a{color:#fff;font-size:14px;display:block;width:100%;height:100%;}
.headNew_topTCen ul li .headNew_subnavMenu a{display:inline;}
.headNew_topTCen  ul li a img{_margin:21px 0;}
.headNew_topTCen .headNew_subnavCon .headNew_subnavMenu ul li{line-height:40px;height:40px;padding:0;text-align:left;}
.headNew_topBack{background:#08ab03;}

/*980版本调整*/
.headNew_search980{margin-left:105px;*width:371px;}
.headNew_search980 .headNew_searchRes{width:80px;text-indent:8px;}
.headNew_search980 .headNew_searchInp{width:220px;}
.headNew_search980 .headNew_searchBut{width:69px;}
.headNew_search980 .headNew_searchText{width:80px;}
.headNew_corp980{margin-right:0;}
.headNew_corp980 .headNew_corpDia{margin-left:20px;}
.layout_wid980 .headNew_topTleft{width:82px;}
.headNew_subnavWid80{width:80px !important;}
.headNew_subnavCon980  ul li{width:120px;_width:120px;}
.headNew_subnavCon980  ul li .headNew_subnavMenu{width:120px;}
.headNew_subnavCon980  ul .headNew_subnavMob{margin:0;width:115px;text-align:right;}
.NavWidth980 .headNew_levnavThree { background:#fff; }
.NavWidth980 .headNew_levnavThree  .headNew_levnavConLeft{/*padding-left:25px; */}
.NavWidth980 .headNew_levnavThree  .headNew_levnavConRi{width:110px;}
.NavWidth980 .headNew_levnavThree  .headNew_levnavConRiWid{width:400px !important;}

/*移动应用*/
.headNew_subnavMobCon{position:absolute;right:0;width:300px;height:400px;border:1px solid #3cbd38;background:#fff;top:40px;display:none;}
.headNew_subnavMob a{color:#ff5400 !important}
.headNew_subnavMobBox{border-bottom:1px dashed #bebebe;margin:0 23px;padding:14px 0;text-align:left;}
.headNew_subnavMobImg{width:40%;float:left;}
.headNew_subnavMobText{width:52%;float:right;padding:5px 0;}
.hsm1{font-size:24px;font-weight:bold;color:#ea5504;}
.hsm2{font-size:16px;line-height:24px;color:#666;}

.h_bor{border:1px solid #BABABA;padding:5px 6px;margin-left:-7px;border-radius:4px;}
.headNew_navLoginMess span{display:block;float:left;}
.headNew_navLoginName{height:48px;max-width:72px;overflow:hidden;_width:72px;}
.corf50{color:#f50 !important;}
.corall{color:#3cbd38 !important;}
.corall:hover{color:#3cbd38 !important;}
.h_headNew_selCon ul li a:hover{color:#f50 !important;}
.headNew_corp a:hover{color:#f50 !important;}

/*论坛非吸顶导航*/
.headNew_topLt{ background: none repeat scroll 0 0 #3cbd38;height: 48px;line-height: 48px;width: 100%;}


/*论坛新添加*/
.headNew_bbs{height:65px;background:#e8e9ee;border-bottom:1px solid #DCDDE7;}
.headNew_searchbbs{margin-left:0;height:35px;line-height:35px;margin-top:15px;}
.headNew_searchbbs .headNew_searchRes{height:35px;line-height:35px;width:80px;text-indent:10px;}
.headNew_searchbbs .headNew_searchText{width:80px;}
.headNew_searchbbs .headNew_searchInp{height:33px;line-height:33px;width:260px;}
.headNew_searchbbs .headNew_searchInp input{height:33px;*height:32px;*line-height:32px}
.headNew_searchbbs .headNew_searchBut{height:37px;line-height:37px;width:80px;background:url(http://www.17house.com/images/base/nav/hn_icon10.png) #3cbd38 no-repeat 10px center;}
.headNew_searchbbs .headNew_searchBut input{text-indent:30px;}
.headNew_searchbbs .headNew_searchText{top:35px;}
.headNew_entrance{float:right;margin-top:15px;}
.headNew_entrance li{float:left;width:100px;height:35px;line-height:35px;text-align:center;}
.headNew_entrance li a{display:block;width:100%;height:100%;color:#999;text-indent:25px;border:1px solid #DCDDE7;}
.headNew_entrance .headNew_kjentrance{width:60px;border:none;color:#999;}
.headNew_entrance1{background:url(http://www.17house.com/images/base/nav/ico_r7_c3.png) #f5f7fa no-repeat 15px center;}
.headNew_entrance1:hover{background:url(http://www.17house.com/images/base/nav/ico_r7_c1.png) #ffffff no-repeat 15px center;color:#ff6500;}
.headNew_entrance2{background:url(http://www.17house.com/images/base/nav/ico_r5_c3.png) #f5f7fa no-repeat 15px center;}
.headNew_entrance2:hover{background:url(http://www.17house.com/images/base/nav/ico_r5_c1.png) #ffffff no-repeat 15px center;color:#ff6500;}
.headNew_entrance3{background:url(http://www.17house.com/images/base/nav/ico_r3_c3.png) #f5f7fa no-repeat 15px center;}
.headNew_entrance3:hover{background:url(http://www.17house.com/images/base/nav/ico_r3_c1.png) #ffffff no-repeat 15px center;color:#ff6500;}
.headNew_entrance4{background:url(http://www.17house.com/images/base/nav/ico_r11_c3.png) #f5f7fa no-repeat 15px center;}
.headNew_entrance4:hover{background:url(http://www.17house.com/images/base/nav/ico_r11_c1.png) #ffffff no-repeat 15px center;color:#ff6500;}
.headNew_entrance5{background:url(http://www.17house.com/images/base/nav/ico_r9_c3.png) #f5f7fa no-repeat 15px center;}
.headNew_entrance5:hover{background:url(http://www.17house.com/images/base/nav/ico_r9_c1.png) #ffffff no-repeat 15px center;color:#ff6500;}
.headNew_entrance6{background:url(http://www.17house.com/images/base/nav/ico_r1_c3.png) #f5f7fa no-repeat 15px center;}
.headNew_entrance6:hover{background:url(http://www.17house.com/images/base/nav/ico_r1_c1.png) #ffffff no-repeat 15px center;color:#ff6500;}
.headNew_entrance .headNew_bl{border-left:none;}
.headNew_bl a{border-radius:5px 0 0 5px;}
.headNew_br a{border-radius:0 5px 5px 0;}
