@charset "utf-8";
h2 {
	font-size: 20px;
}
.friendLink{
	width:1190px;
	height:120px;
	margin:38px auto 68px;
}

.friendLink_nav{
	height:28px;
}

.friendLink_nav li{
	float:left;
	width:56px;
	height:28px;
	line-height:28px;
	color:#999;
	cursor:pointer;
}

.friendLink_nav li.left{
	margin-right:30px;
}

.friendLink_nav li.show{
	color:#666;

}

.friendLink_con{
	width:100%;
	height:85px;
	overflow:hidden;
	margin-top:10px;
}

.friendLink_con ul.FLlist{
	width:100%;
	height:80px;
	display:none;
}

.friendLink_con ul.FLlist.show{
	display:block;
}

ul.FLlist li{
	display:inline-block;
	line-height:20px;
}

ul.FLlist li a{
	display:inline-block;
	height:20px;
	margin-right:16px;
	color:#999;
	font-size:12px;
}

ul.FLlist li a:hover{
	color:#ea4504;
}
