@media (max-width: 767px) {
  .hide-phone {
    display: none;
  }
  div.page-container {
    width: 100%;
    overflow: hidden;
  }
  div.site-slogan-container {
    display: none;
  }
  div.site-slogan-container + div {
    display: none;
  }
  #top {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 4px;
  }
  div.nav1-container {
    display: block;
    position: absolute;
    width: 100%;
    top: 66px;
  }
  div.nav1-container .nav1 ul {
    float: none;
    text-align: center;
  }
  div.nav1-container .nav1 ul li {
    display: inline-block;
    float: none;
  }
  div.nav1-container .nav1 ul li:last-child,
  div.nav1-container .nav1 ul li:nth-child(2) {
    display: none;
  }
  div.nav1-container .nav1 ul li:nth-child(5) a.nav1-divider {
    border-right: 0;
  }
  div.header-divider {
    margin-top: 1px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
  }
  div.login-container {
    display: block;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100px;
  }
  div.login-container form {
    text-align: center;
  }
  div.login-container form table {
    margin: 0 auto;
  }
  table#loginHome input {
    width: 60px;
  }
  div.header-spacer {
    margin-top: 100px;
  }
  div.body,
  div.page-container > table.body,
  div.page-container > div[align="left"] > table.body,
  div.page-container > div[align="center"] > table.body {
    margin-top: 100px;
    padding: 10px;
  }
  div.body table,
  div.page-container > table.body table,
  div.page-container > div[align="left"] > table.body table,
  div.page-container > div[align="center"] > table.body table {
    width: auto !important;
  }
  div.body > table.body,
  div.page-container > table.body > table.body,
  div.page-container > div[align="left"] > table.body > table.body,
  div.page-container > div[align="center"] > table.body > table.body,
  div.body div.header > table.body,
  div.page-container > table.body div.header > table.body,
  div.page-container > div[align="left"] > table.body div.header > table.body,
  div.page-container > div[align="center"] > table.body div.header > table.body {
    width: 100% !important;
    display: block;
  }
  div.body > table.body > tbody,
  div.page-container > table.body > table.body > tbody,
  div.page-container > div[align="left"] > table.body > table.body > tbody,
  div.page-container > div[align="center"] > table.body > table.body > tbody,
  div.body div.header > table.body > tbody,
  div.page-container > table.body div.header > table.body > tbody,
  div.page-container > div[align="left"] > table.body div.header > table.body > tbody,
  div.page-container > div[align="center"] > table.body div.header > table.body > tbody {
    display: block;
  }
  div.body > table.body > tbody > tr,
  div.page-container > table.body > table.body > tbody > tr,
  div.page-container > div[align="left"] > table.body > table.body > tbody > tr,
  div.page-container > div[align="center"] > table.body > table.body > tbody > tr,
  div.body div.header > table.body > tbody > tr,
  div.page-container > table.body div.header > table.body > tbody > tr,
  div.page-container > div[align="left"] > table.body div.header > table.body > tbody > tr,
  div.page-container > div[align="center"] > table.body div.header > table.body > tbody > tr {
    display: block;
  }
  div.body > table.body > tbody > tr > td,
  div.page-container > table.body > table.body > tbody > tr > td,
  div.page-container > div[align="left"] > table.body > table.body > tbody > tr > td,
  div.page-container > div[align="center"] > table.body > table.body > tbody > tr > td,
  div.body div.header > table.body > tbody > tr > td,
  div.page-container > table.body div.header > table.body > tbody > tr > td,
  div.page-container > div[align="left"] > table.body div.header > table.body > tbody > tr > td,
  div.page-container > div[align="center"] > table.body div.header > table.body > tbody > tr > td {
    width: auto !important;
    display: block;
  }
  div.body td[align="right"],
  div.page-container > table.body td[align="right"],
  div.page-container > div[align="left"] > table.body td[align="right"],
  div.page-container > div[align="center"] > table.body td[align="right"] {
    text-align: left !important;
    margin: 5px 0px;
  }
  div.body td[width="30px"],
  div.page-container > table.body td[width="30px"],
  div.page-container > div[align="left"] > table.body td[width="30px"],
  div.page-container > div[align="center"] > table.body td[width="30px"] {
    display: none;
  }
  table.body > tbody > tr > td {
    display: block;
    width: auto !important;
  }
  table.body[width="375"],
  table.body[width="418"] {
    width: 100% !important;
  }
  table.body[width="375"] table[width],
  table.body[width="418"] table[width] {
    width: 100% !important;
  }
  table.body[width="375"] table[width="315px"] td,
  table.body[width="418"] table[width="315px"] td {
    display: block;
    text-align: center;
  }
  form[name="fileForm"] table#tabtable > tbody > tr td:nth-child(4),
  form[name="fileForm"] table#tabtable > tbody > tr td:nth-child(5),
  form[name="fileForm"] table#tabtable > tbody > tr td:nth-child(7),
  form[name="fileForm"] table#tabtable > tbody > tr td:nth-child(8) {
    display: none;
  }
  form[name="fileForm"] table#tabtable > tbody > tr a {
    font-size: 14px;
  }
  div.conversionBox {
    margin: 0px 10px;
  }
  div.conversionBox div#steps {
    margin-right: 10px;
  }
  div#steps > div.step1,
  div#steps > div.step2,
  div#steps > div.step3,
  div#steps > div.step4 {
    height: auto;
    display: block;
    float: none !important;
    text-align: center;
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px #999 solid;
  }
  div#steps > div.step1:nth-child(4),
  div#steps > div.step2:nth-child(4),
  div#steps > div.step3:nth-child(4),
  div#steps > div.step4:nth-child(4) {
    border-bottom: 0;
  }
  div#steps > div.step1 table,
  div#steps > div.step2 table,
  div#steps > div.step3 table,
  div#steps > div.step4 table {
    margin: 0 auto;
  }
  div#steps > div.step1 table tr#dnd-help > td,
  div#steps > div.step2 table tr#dnd-help > td,
  div#steps > div.step3 table tr#dnd-help > td,
  div#steps > div.step4 table tr#dnd-help > td {
    display: none;
  }
  div#wanttogoproiphone,
  div#wanttogopro {
    float: none;
    display: block;
    width: 95%;
    background-image: none;
    text-align: center;
    padding: 10px;
    min-height: 0;
  }
  div#wanttogoproiphone div#wanttogotitlebackground1,
  div#wanttogopro div#wanttogotitlebackground1 {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background: none;
  }
  div#wanttogoproiphone div#wanttogotitlebackground1 span,
  div#wanttogopro div#wanttogotitlebackground1 span {
    font-size: 18px;
    float: none;
    display: inline;
  }
  div#wanttogoproiphone div#wanttogotitlebackground1 span:first-child,
  div#wanttogopro div#wanttogotitlebackground1 span:first-child {
    margin-left: 0;
  }
  div#wanttogoproiphone div#wanttogotitlebackground1 span:last-child,
  div#wanttogopro div#wanttogotitlebackground1 span:last-child {
    margin-left: 0px;
  }
  div#wanttogoproiphone > img#imagelaptop,
  div#wanttogopro > img#imagelaptop {
    margin-left: 0;
    float: none;
  }
  div#wanttogoproiphone p,
  div#wanttogopro p,
  div#wanttogoproiphone p span,
  div#wanttogopro p span,
  div#wanttogoproiphone h1,
  div#wanttogopro h1 {
    margin-left: 0;
    font-size: 14px;
    width: auto;
  }
  div#wanttogoproiphone > p > span:not(.highlightformats):not(.highlightformatsbold),
  div#wanttogopro > p > span:not(.highlightformats):not(.highlightformatsbold) {
    text-align: center;
    display: block;
    float: none;
  }
  div#wanttogoproiphone table,
  div#wanttogopro table {
    width: 100% !important;
  }
  div#wanttogoproiphone table td,
  div#wanttogopro table td {
    width: 100% !important;
    display: block;
  }
  div#wanttogoproiphone table td:first-child,
  div#wanttogopro table td:first-child {
    display: none;
  }
  div#wanttogoproiphone table td span,
  div#wanttogopro table td span {
    display: block;
  }
  div.homepage-social-share {
    display: none;
  }
  div#convert-queue {
    padding: 10px;
  }
  div#convert-queue div#headerDiv1 {
    display: none;
  }
  div#convert-queue div#headerDiv2 {
    margin-top: 0;
  }
  div#convert-queue table.upload-queue {
    border: 0;
    background: none;
  }
  div#convert-queue table.upload-queue thead {
    display: none;
  }
  div#convert-queue table.upload-queue tbody tr {
    display: block;
    width: auto;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #eaeaea 0%, #e5e5e5 100%);
  }
  div#convert-queue table.upload-queue tbody tr td {
    display: block;
    width: auto !important;
    background: none;
    border-bottom: none;
  }
  div#convert-queue table.upload-queue tbody tr td.first {
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  div#convert-queue table.upload-queue tbody tr td.last {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .modal.zamzar-dialog {
    width: 80vw !important;
    margin-left: -40vw !important;
  }
  .modal.zamzar-dialog div.modal-body {
    text-align: center;
  }
  .modal.zamzar-dialog div.modal-body p {
    display: block;
    width: auto;
    margin: 10px 0 0 0;
  }
  div#upload-progress > div {
    width: 100% !important;
    float: none !important;
  }
  div#upload-progress > div:nth-child(2) {
    display: none;
  }
  div.footer {
    width: auto !important;
    padding: 5px;
  }
  div.footer > table {
    width: 100% !important;
  }
  div.footer > table td {
    display: block;
    text-align: left !important;
  }
  div.footer > table td a {
    display: inline-block;
  }
  div.footer > table td[align="left"] {
    color: #80a1ca;
  }
  div.footer > table td[align="left"] a {
    display: inline-block;
    float: left;
    color: #ffffff;
  }
  div.footer > table td[align="left"] a:nth-child(3),
  div.footer > table td[align="left"] a:nth-child(6) {
    display: none;
  }
  div.footer > table td[align="left"] a:after {
    font-weight: normal;
    content: " |";
    margin-right: 4px;
  }
  div.footer > table td[align="left"] a:nth-child(5):after {
    content: '';
  }
  span.largeHeader {
    font-size: 18px;
  }
  div.blueBox {
    margin-bottom: 10px;
  }
  table.conversion-formats {
    display: block;
  }
  table.conversion-formats .largeHeaderBlue {
    font-size: 16px;
  }
  table.conversion-formats > tbody {
    display: block;
  }
  table.conversion-formats > tbody > tr {
    display: block;
  }
  table.conversion-formats > tbody > tr:nth-child(3) {
    display: none;
  }
  table.conversion-formats > tbody > tr:nth-child(n+3) td {
    line-height: 25px;
  }
  table.conversion-formats > tbody > tr:nth-child(n+3) > td:nth-child(1):before {
    content: "From format";
    font-weight: bold;
    display: block;
    font-size: 14px;
  }
  table.conversion-formats > tbody > tr:nth-child(n+3) > td:nth-child(2) {
    margin-bottom: 10px;
  }
  table.conversion-formats > tbody > tr:nth-child(n+3) > td:nth-child(2):before {
    content: "To format";
    font-weight: bold;
    display: block;
    font-size: 14px;
  }
  div.greyBox img.responsive-fill {
    width: 100%;
    height: auto;
  }
  div.greenBox {
    margin-bottom: 10px;
  }
  ul.links li {
    padding: 5px;
  }
  div.greyBoxConversion {
    width: auto;
  }
  div.greyBoxConversion > table {
    width: 100% !important;
  }
  div.greyBoxConversion > table td {
    display: block;
  }
  div.greyBoxConversion > table tr:first-child > td:last-child {
    text-align: center !important;
  }
  div.bodysm {
    padding-left: 10px;
    padding-right: 10px;
  }
  img.responsive-image {
    max-width: 80px;
    height: auto;
  }
  div.fileformats > table > tbody > tr:first-child td:last-child {
    text-align: center !important;
  }
  div.fileformats > table > tbody > tr:nth-child(3) {
    display: none;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(1) {
    padding-top: 5px;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(1):before {
    content: 'File format';
    font-weight: bold;
    display: inline-block;
    width: 80px;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(2):before {
    content: 'Author';
    font-weight: bold;
    display: inline-block;
    width: 80px;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(3) {
    padding-bottom: 5px;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(3):before {
    content: 'What programs use it ?';
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  div.fileformats {
    padding: 20px 0px 10px 0px;
  }
  div.fileformats > table {
    display: block;
    width: auto;
  }
  div.fileformats > table > tbody {
    display: block;
    width: auto;
  }
  div.fileformats > table > tbody tr {
    display: block;
    width: auto;
  }
  div.fileformats > table > tbody td {
    padding: 0px 10px;
  }
  div.fileformats > table > tbody > tr:first-child td:last-child {
    text-align: center !important;
  }
  div.fileformats > table > tbody > tr:nth-child(3) {
    display: none;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(1) {
    padding-top: 5px;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(1):before {
    content: 'File format';
    font-weight: bold;
    display: inline-block;
    width: 80px;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(2):before {
    content: 'Author';
    font-weight: bold;
    display: inline-block;
    width: 80px;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(3) {
    padding-bottom: 5px;
  }
  div.fileformats > table > tbody > tr:nth-child(n+4) td:nth-child(3):before {
    content: 'What programs use it ?';
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  div.filepresets {
    padding: 20px 0px 10px 0px;
  }
  div.filepresets > table {
    display: block;
    width: auto;
  }
  div.filepresets > table > tbody {
    display: block;
    width: auto;
  }
  div.filepresets > table > tbody tr {
    display: block;
    width: auto;
  }
  div.filepresets > table > tbody td {
    padding: 0px 10px;
  }
  div.filepresets > table > tbody > tr:first-child td:last-child {
    text-align: center !important;
  }
  div.filepresets > table > tbody > tr:nth-child(3) {
    display: none;
  }
  div.filepresets > table > tbody > tr:nth-child(n+4) td:nth-child(1) {
    padding-top: 10px;
  }
  div.filepresets > table > tbody > tr:nth-child(n+4) td:nth-child(1):before {
    content: 'File Preset';
    font-weight: bold;
    display: inline-block;
    width: 80px;
  }
  div.filepresets > table > tbody > tr:nth-child(n+4) td:nth-child(2):before {
    content: 'Company';
    font-weight: bold;
    display: inline-block;
    width: 80px;
  }
  div.filepresets > table > tbody > tr:nth-child(n+4) td:nth-child(3) {
    padding-bottom: 10px;
  }
  div.filepresets > table > tbody > tr:nth-child(n+4) td:nth-child(3):before {
    content: 'Useful Links';
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  table.cookie-table {
    display: block;
  }
  table.cookie-table > tbody {
    display: block;
  }
  table.cookie-table > tbody tr {
    display: block;
    border: 1px solid gray;
  }
  table.cookie-table > tbody tr:first-child {
    display: none;
  }
  table.cookie-table > tbody tr td {
    display: block;
    width: auto !important;
    border: 0;
  }
  table.cookie-table > tbody tr:nth-child(n+1) > td:nth-child(1):before {
    content: 'Cookie';
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  table.cookie-table > tbody tr:nth-child(n+1) > td:nth-child(2):before {
    content: 'Name';
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  table.cookie-table > tbody tr:nth-child(n+1) > td:nth-child(3):before {
    content: 'Purpose';
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  table.cookie-table > tbody tr:nth-child(n+1) > td:nth-child(4):before {
    content: 'More Information';
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  table.manage-file-list {
    display: block;
    width: 100% !important;
  }
  table.manage-file-list > tbody {
    display: block;
  }
  table.manage-file-list > tbody > tr {
    display: block;
  }
  table.manage-file-list > tbody > tr td {
    display: inline-block;
    width: auto !important;
  }
  table.url-summary div.body {
    margin-top: 0;
    padding: 0;
  }
  table.url-summary #headerDiv2 {
    padding: 20px;
  }
  table#fileTable {
    padding: 0px 20px;
    width: 100% !important;
  }
  table#fileTable > tbody {
    display: block;
  }
  table#fileTable > tbody > tr {
    display: none !important;
  }
  table#fileTable > tbody > tr:nth-child(2) {
    display: block !important;
    padding: 10px;
    border-radius: 10px;
  }
  table#fileTable > tbody > tr:nth-child(2) > td:nth-child(3) {
    display: none;
  }
  body.login-page form[name="loginForm"] > table > tbody > tr:nth-child(2) > td:first-child > span,
  body.reset-password-page form[name="loginForm"] > table > tbody > tr:nth-child(2) > td:first-child > span,
  body.login-page form[name="resetpwForm"] > table > tbody > tr:nth-child(2) > td:first-child > span,
  body.reset-password-page form[name="resetpwForm"] > table > tbody > tr:nth-child(2) > td:first-child > span,
  body.login-page form[name="loginForm"] > table > tbody > tr:nth-child(4) > td:first-child > span,
  body.reset-password-page form[name="loginForm"] > table > tbody > tr:nth-child(4) > td:first-child > span,
  body.login-page form[name="resetpwForm"] > table > tbody > tr:nth-child(4) > td:first-child > span,
  body.reset-password-page form[name="resetpwForm"] > table > tbody > tr:nth-child(4) > td:first-child > span {
    font-size: 14px !important;
    font-weight: normal !important;
    display: block;
    margin-bottom: 5px;
  }
  body.login-page form[name="loginForm"] > table > tbody > tr:nth-child(3),
  body.reset-password-page form[name="loginForm"] > table > tbody > tr:nth-child(3),
  body.login-page form[name="resetpwForm"] > table > tbody > tr:nth-child(3),
  body.reset-password-page form[name="resetpwForm"] > table > tbody > tr:nth-child(3),
  body.login-page form[name="loginForm"] > table > tbody > tr:nth-child(5),
  body.reset-password-page form[name="loginForm"] > table > tbody > tr:nth-child(5),
  body.login-page form[name="resetpwForm"] > table > tbody > tr:nth-child(5),
  body.reset-password-page form[name="resetpwForm"] > table > tbody > tr:nth-child(5) {
    display: none;
  }
  body.login-page form[name="loginForm"] > table > tbody > tr:nth-child(6) > td,
  body.reset-password-page form[name="loginForm"] > table > tbody > tr:nth-child(6) > td,
  body.login-page form[name="resetpwForm"] > table > tbody > tr:nth-child(6) > td,
  body.reset-password-page form[name="resetpwForm"] > table > tbody > tr:nth-child(6) > td {
    display: inline-block;
  }
  body.login-page form[name="loginForm"] > table > tbody > tr:nth-child(8) > td:first-child,
  body.reset-password-page form[name="loginForm"] > table > tbody > tr:nth-child(8) > td:first-child,
  body.login-page form[name="resetpwForm"] > table > tbody > tr:nth-child(8) > td:first-child,
  body.reset-password-page form[name="resetpwForm"] > table > tbody > tr:nth-child(8) > td:first-child,
  body.login-page form[name="loginForm"] > table > tbody > tr:nth-child(10) > td:first-child,
  body.reset-password-page form[name="loginForm"] > table > tbody > tr:nth-child(10) > td:first-child,
  body.login-page form[name="resetpwForm"] > table > tbody > tr:nth-child(10) > td:first-child,
  body.reset-password-page form[name="resetpwForm"] > table > tbody > tr:nth-child(10) > td:first-child {
    display: none;
  }
  body.login-page form[name="loginForm"] > table > tbody > tr:nth-child(8) > td,
  body.reset-password-page form[name="loginForm"] > table > tbody > tr:nth-child(8) > td,
  body.login-page form[name="resetpwForm"] > table > tbody > tr:nth-child(8) > td,
  body.reset-password-page form[name="resetpwForm"] > table > tbody > tr:nth-child(8) > td,
  body.login-page form[name="loginForm"] > table > tbody > tr:nth-child(10) > td,
  body.reset-password-page form[name="loginForm"] > table > tbody > tr:nth-child(10) > td,
  body.login-page form[name="resetpwForm"] > table > tbody > tr:nth-child(10) > td,
  body.reset-password-page form[name="resetpwForm"] > table > tbody > tr:nth-child(10) > td {
    text-align: center;
  }
  body.login-page form[name="loginForm"] > table > tbody tr#bigButton > td,
  body.reset-password-page form[name="loginForm"] > table > tbody tr#bigButton > td,
  body.login-page form[name="resetpwForm"] > table > tbody tr#bigButton > td,
  body.reset-password-page form[name="resetpwForm"] > table > tbody tr#bigButton > td {
    text-align: center;
  }
  body.login-page table#login > tbody > tr > td:nth-child(3),
  body.reset-password-page table#login > tbody > tr > td:nth-child(3),
  body.login-page table.body > tbody > tr > td:nth-child(3),
  body.reset-password-page table.body > tbody > tr > td:nth-child(3) {
    display: none;
  }
  body.login-page table#login > tbody > tr > td:nth-child(5),
  body.reset-password-page table#login > tbody > tr > td:nth-child(5),
  body.login-page table.body > tbody > tr > td:nth-child(5),
  body.reset-password-page table.body > tbody > tr > td:nth-child(5) {
    margin-top: 10px;
    text-align: center;
  }
  body.login-page table#login > tbody > tr > td:nth-child(5) > div.blueBox,
  body.reset-password-page table#login > tbody > tr > td:nth-child(5) > div.blueBox,
  body.login-page table.body > tbody > tr > td:nth-child(5) > div.blueBox,
  body.reset-password-page table.body > tbody > tr > td:nth-child(5) > div.blueBox {
    text-align: left;
  }
  body.login-page table#login > tbody > tr > td:nth-child(5) > div.blueBox > table > tbody > tr:nth-child(4) > td,
  body.reset-password-page table#login > tbody > tr > td:nth-child(5) > div.blueBox > table > tbody > tr:nth-child(4) > td,
  body.login-page table.body > tbody > tr > td:nth-child(5) > div.blueBox > table > tbody > tr:nth-child(4) > td,
  body.reset-password-page table.body > tbody > tr > td:nth-child(5) > div.blueBox > table > tbody > tr:nth-child(4) > td {
    text-align: center !important;
  }
  body.abuse-page form[name="abuseForm"] > table {
    display: block;
  }
  body.abuse-page form[name="abuseForm"] > table > tbody {
    display: block;
  }
  body.abuse-page form[name="abuseForm"] > table > tbody > tr {
    display: block;
  }
  body.abuse-page form[name="abuseForm"] > table > tbody > tr#bigButton > td {
    text-align: center;
  }
  body.abuse-page form[name="abuseForm"] > table > tbody > tr > td {
    padding-right: 10px;
  }
  body.abuse-page form[name="abuseForm"] > table > tbody > tr > td input#smartInput {
    display: block;
    width: 100%;
  }
  body.request-support-page form[name="supportForm"] > table {
    display: block;
  }
  body.request-support-page form[name="supportForm"] > table > tbody {
    display: block;
  }
  body.request-support-page form[name="supportForm"] > table > tbody > tr {
    display: block;
  }
  body.request-support-page form[name="supportForm"] > table > tbody > tr#bigButton > td {
    text-align: center;
  }
  body.request-support-page form[name="supportForm"] > table > tbody > tr#bigButton > td:nth-child(1),
  body.request-support-page form[name="supportForm"] > table > tbody > tr#bigButton > td:nth-child(2) {
    display: none;
  }
  body.request-support-page form[name="supportForm"] > table > tbody > tr > td {
    padding-right: 10px;
  }
  body.request-support-page form[name="supportForm"] > table > tbody > tr > td:nth-child(1) {
    margin-top: 10px;
    font-weight: normal !important;
    margin-bottom: 4px;
  }
  body.request-support-page form[name="supportForm"] > table > tbody > tr > td:nth-child(2) {
    display: none;
  }
  body.request-support-page form[name="supportForm"] > table > tbody > tr > td input#smartInput,
  body.request-support-page form[name="supportForm"] > table > tbody > tr > td textarea {
    display: block;
    width: 100%;
  }
  body.url-overview-page > div.page-container > div.body > table,
  body.donate-page > div.page-container > div.body > table,
  body.donate-thanks-page > div.page-container > div.body > table {
    display: block;
    width: 100% !important;
  }
  body.url-overview-page > div.page-container > div.body > table > tbody,
  body.donate-page > div.page-container > div.body > table > tbody,
  body.donate-thanks-page > div.page-container > div.body > table > tbody {
    display: block;
    width: 100% !important;
  }
  body.url-overview-page > div.page-container > div.body > table > tbody > tr,
  body.donate-page > div.page-container > div.body > table > tbody > tr,
  body.donate-thanks-page > div.page-container > div.body > table > tbody > tr {
    display: block;
    width: 100% !important;
  }
  body.url-overview-page > div.page-container > div.body > table > tbody > tr > td,
  body.donate-page > div.page-container > div.body > table > tbody > tr > td,
  body.donate-thanks-page > div.page-container > div.body > table > tbody > tr > td {
    display: block;
    width: 100% !important;
  }
  body.url-overview-page > div.page-container > div.body > table > tbody > tr > td[width="425"],
  body.donate-page > div.page-container > div.body > table > tbody > tr > td[width="425"],
  body.donate-thanks-page > div.page-container > div.body > table > tbody > tr > td[width="425"] {
    width: 100% !important;
  }
  body.url-overview-page > div.page-container > div.body > table > tbody > tr > td[width="425"] > object,
  body.donate-page > div.page-container > div.body > table > tbody > tr > td[width="425"] > object,
  body.donate-thanks-page > div.page-container > div.body > table > tbody > tr > td[width="425"] > object {
    width: 100% !important;
  }
  body.donate-page > div.page-container > div.body > table > tbody > tr td:nth-child(2),
  body.donate-thanks-page > div.page-container > div.body > table > tbody > tr td:nth-child(2) {
    text-align: center;
  }
  body.donate-page img[src="/images/sandwich.jpg"],
  body.donate-thanks-page img[src="/images/sandwich.jpg"],
  body.donate-page img[src="/images/empty-plate.jpg"],
  body.donate-thanks-page img[src="/images/empty-plate.jpg"] {
    width: 100% !important;
    max-width: 180px;
    height: auto !important;
  }
  body.upgrade-page > div.page-container > div.body {
    margin-top: 60px;
    padding: 0px 20px 0px 20px;
  }
  body.upgrade-page > div.page-container > div.body img[src="/images/chameleon5.jpg"] {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  body.signup-confirm-page span.largeHeader,
  body.payment-confirm-page span.largeHeader {
    margin-bottom: 20px;
    display: block;
  }
  body.manage-page > div.page-container > div.body {
    margin-top: 0px;
  }
  body.manage-page > div.page-container div.manageBox {
    margin-left: 10px;
    margin-right: 10px;
  }
  body.manage-page > div.page-container div.manageBox > table {
    display: block;
    width: 100% !important;
  }
  body.manage-page > div.page-container div.manageBox > table > tbody {
    display: block;
    width: 100% !important;
  }
  body.manage-page > div.page-container div.manageBox > table > tbody > tr {
    display: block;
    width: 100% !important;
  }
  body.manage-page > div.page-container div.manageBox > table > tbody > tr > td {
    display: block;
    width: 100% !important;
  }
  body.manage-page > div.page-container div.manageBox #fileCountTextInner {
    display: block;
    text-align: center;
  }
  body.manage-page > div.page-container div.manageBox form#fileSearchForm > table {
    display: block;
    margin: 10px 0px;
  }
  body.manage-page > div.page-container div.manageBox form#fileSearchForm > table > tbody {
    display: block;
  }
  body.manage-page > div.page-container div.manageBox form#fileSearchForm > table > tbody > tr {
    display: block;
  }
  body.manage-page > div.page-container div.manageBox form#fileSearchForm > table > tbody > tr > td {
    display: block;
    text-align: center;
  }
  body.manage-page > div.page-container img[src="/images/inbox-example.jpg"] {
    width: 100% !important;
    height: auto !important;
  }
  body.manage-page > div.page-container table#tabtable > tbody > tr td:nth-child(4),
  body.manage-page > div.page-container table#tabtable > tbody > tr td:nth-child(5),
  body.manage-page > div.page-container table#tabtable > tbody > tr td:nth-child(7),
  body.manage-page > div.page-container table#tabtable > tbody > tr td:nth-child(8) {
    display: none;
  }
  body.manage-page > div.page-container table#tabtable > tbody > tr a {
    font-size: 14px;
  }
  body.manage-page > div.page-container > table.body {
    display: block;
    width: auto !important;
  }
  body.manage-page > div.page-container > table.body div.whiteBox,
  body.manage-page > div.page-container > table.body table,
  body.manage-page > div.page-container > table.body tbody,
  body.manage-page > div.page-container > table.body tr,
  body.manage-page > div.page-container > table.body td {
    display: block;
    width: auto !important;
  }
  body.manage-page > div.page-container > table.body div.whiteBox > table.body > tbody > tr > td a {
    display: block;
  }
  body.manage-page > div.page-container > table.body div.whiteBox > table.body > tbody > tr > td[nowrap] {
    margin-top: 10px;
  }
  body.manage-page table#manageFilesTable {
    width: 100% !important;
  }
  body.manage-page table#manageFilesTable > tbody {
    display: block;
    width: auto !important;
  }
  body.manage-page table#manageFilesTable > tbody > tr {
    display: none;
    width: auto !important;
  }
  body.manage-page table#manageFilesTable > tbody > tr.file-info {
    display: block;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  body.manage-page table#manageFilesTable > tbody > tr > td {
    display: block;
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(1),
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(2) {
    display: none;
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(n+3) {
    margin-bottom: 10px;
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(n+3):before {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(3):before {
    content: 'Filename:';
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(4):before {
    content: 'Date:';
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(5):before {
    content: 'From format:';
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(6):before {
    content: 'To format:';
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(7):before {
    content: 'Size:';
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(8) {
    display: inline-block;
    margin-right: 20px;
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(8) > a:nth-child(3) {
    display: none;
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(10),
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(12) {
    display: inline-block;
    margin-right: 20px;
  }
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(9),
  body.manage-page table#manageFilesTable > tbody > tr > td:nth-child(11) {
    display: none;
  }
  body.manage-page table#controlFilesTable table.body {
    display: none;
  }
  body.account-page form#accountFormDetails table.body,
  body.account-page form#accountFormPassword table.body,
  body.account-page form#accountFormOptions table.body,
  body.account-page form#billingChangeForm table.body {
    display: block;
  }
  body.account-page form#accountFormDetails table.body > tbody,
  body.account-page form#accountFormPassword table.body > tbody,
  body.account-page form#accountFormOptions table.body > tbody,
  body.account-page form#billingChangeForm table.body > tbody {
    display: block;
  }
  body.account-page form#accountFormDetails table.body > tbody > tr,
  body.account-page form#accountFormPassword table.body > tbody > tr,
  body.account-page form#accountFormOptions table.body > tbody > tr,
  body.account-page form#billingChangeForm table.body > tbody > tr {
    display: block;
  }
  body.account-page form#accountFormDetails table.body > tbody > tr > td,
  body.account-page form#accountFormPassword table.body > tbody > tr > td,
  body.account-page form#accountFormOptions table.body > tbody > tr > td,
  body.account-page form#billingChangeForm table.body > tbody > tr > td {
    display: block;
  }
  body.invoices-page div.body > p + table.body {
    display: table;
  }
  body.invoices-page div.body > p + table.body > tbody {
    display: table-row-group;
  }
  body.invoices-page div.body > p + table.body > tbody > tr {
    display: table-row;
  }
  body.invoices-page div.body > p + table.body > tbody > tr > td {
    display: table-cell;
  }
  body.cancel-page div.body > span.largeHeader {
    display: block;
    margin-top: 10px;
  }
  body.cancel-page div.body > table > tbody > tr:nth-child(1) > td:nth-child(2) {
    display: none;
  }
  body.cancel-page form#cancelForm input,
  body.cancel-page form#cancelForm textarea {
    width: 100% !important;
  }
  body.signup-page #signupForm > table:nth-child(6) > tbody > tr:nth-child(8) > td:nth-child(2),
  body.signup-page #termAnnualTD,
  body.signup-page #termsandconditionsTD {
    display: inline-block !important;
  }
  body.signup-page table.features {
    display: block;
  }
  body.signup-page table.features > tbody {
    display: block;
  }
  body.signup-page table.features > tbody > tr {
    display: block;
  }
  body.signup-page table.features > tbody > tr > td {
    display: none;
  }
  body.signup-page table.features > tbody > tr > td:nth-child(2) {
    display: block;
  }
  body.signup-page table.footer-signup-buttons {
    display: none;
  }
  body.signup-page img[src="../images/brands3.png"] {
    display: none;
  }
  body.signup-page .desktop-plans {
    display: none;
  }
  body.signup-page table.phone-plans {
    display: table;
    border-collapse: collapse;
    width: 100% !important;
  }
  body.signup-page table.phone-plans div#plan-cta-container {
    display: none;
  }
  body.signup-page table.phone-plans tr.planheader > td {
    font-size: 1.3em;
    padding: 8px;
    background-image: url(/images/bluegradlrg.gif);
    font-weight: bold;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
  }
  body.signup-page table.phone-plans td.signup-button {
    padding: 8px;
  }
  body.signup-page table.phone-plans td.signup-button.under-plan {
    padding-bottom: 20px;
  }
  body.signup-page table.phone-plans tr.odd > td,
  body.signup-page table.phone-plans tr.even > td {
    padding: 8px;
    border-bottom: 1px solid #999;
  }
  body.signup-page table.phone-plans tr.odd > td:first-child,
  body.signup-page table.phone-plans tr.even > td:first-child {
    border-right: 1px dashed #999;
  }
  body.signup-page table.phone-plans tr.odd > td:last-child,
  body.signup-page table.phone-plans tr.even > td:last-child {
    text-align: center;
  }
  body.signup-page table.phone-plans tr.feature-first {
    border-top: 1px solid #999;
  }
  body.signup-page table.phone-plans tr.odd td {
    background-color: #f2f2f2;
  }
  body.signup-page div.tooltip {
    display: none;
  }
  body.signup-page div.tooltip.open {
    display: block;
  }
  body.signup-page div.tooltip div.frame {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: fixed;
    top: 25vh;
    max-width: 90vw;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 1001;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body.signup-page div.tooltip div.frame div.tooltip-footer {
    text-align: center;
  }
  body.signup-page div.tooltip div.frame div.tooltip-footer button {
    cursor: pointer;
  }
  body.signup-page div.tooltip div.cloak {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: 1000;
    background-color: #000000;
  }
  body.signup-page form#signupForm > table.body {
    display: block;
    width: auto !important;
  }
  body.signup-page form#signupForm > table.body > tbody {
    display: block;
    width: auto !important;
  }
  body.signup-page form#signupForm > table.body > tbody > tr {
    display: block;
    width: auto !important;
  }
  body.signup-page form#signupForm > table.body > tbody > tr > td {
    display: block;
    width: auto !important;
  }
  body.signup-page form#signupForm > table.body > tbody > tr > td[nowrap] {
    white-space: normal !important;
  }
}
@media (max-width: 767px) and (max-width: 490px) {
  a.linksm {
    display: none;
  }
}
body.signup-page div.tooltip {
  display: none;
}
table.phone-plans {
  display: none;
}
