#wrapper{padding-left:0;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}#wrapper.toggled{padding-left:310px;}#sidebar-wrapper{z-index:1000;position:fixed;left:310px;width:0;height:100%;margin-left:-310px;overflow-y:auto;background:#fff;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}#wrapper.toggled #sidebar-wrapper{width:310px;}#page-content-wrapper{width:100%;position:absolute;padding-left:15px;background-color:#f4f5f5;}#wrapper.toggled #page-content-wrapper{position:absolute;margin-right:-310px;}.sidebar-nav{position:absolute;top:0;width:310px;margin:0;padding:0;list-style:none;}@media(min-width:768px) {
    #wrapper {
        padding-left: 310px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 310px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}