@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,800);
.col-xs-45,
.col-sm-45,
.col-md-45,
.col-lg-45 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-45 {
    width: 37.5%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-45 {
        width: 37.5%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-45 {
        width: 37.5%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-45 {
        width: 37.5%;
        float: left;
    }
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.menu-holder {
    padding: 0;
}
.main-menu {
    height: 100vh;
    min-height: 586px;
}
.main-menu ul {
    list-style: none;
    padding-left: 0;
}
.main-menu .menu-icons {
    padding-top: 10px;
    padding-bottom: 35px;
    text-align: center;
    width: 80px;
    height: 100vh;
    min-height: 586px;
    background-color: #d14836;
    transition: none;
    position: relative;
    float: left;
}
.main-menu .menu-icons ul {
    margin-top: 45px;
}
.main-menu .menu-icons ul li {
    margin-bottom: 25px;
}
.main-menu .menu-icons ul li img {
    opacity: 0.6;
}
.opacity-full img {
    opacity: 1!important;
}
.link-active img {
    opacity: 1!important;
}
.main-menu .menu-icons img.logo-v {
    position: absolute;
    bottom: 35px;
    left: 26px;
}
@media (max-height: 586px) {
    .main-menu .menu-icons img.logo-v {
        opacity: 0;
    }
}
.main-menu .menu-list {
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    height: 100vh;
    min-height: 586px;
    background-color: #ffffff;
    transition: none;
    position: relative;
    float: left;
}
.main-menu .menu-list h2 {
    margin: 0;
}
.main-menu .menu-list ul {
    margin-top: 48px;
    line-height: 21.4285717010498px;
}
.main-menu .menu-list ul li {
    margin-bottom: 39px;
    font-size: 15px;
    color: #6b6b6b;
}
.main-menu .menu-list ul li a {
    color: #6b6b6b;
    text-decoration: none;
    background-color: none;
    border-radius: 5px;
    padding: 5px;
}
.main-menu .menu-list ul li a:hover,
.main-menu .menu-list ul li a.hover {
    color: #d14836;
    background-color: #E6E6E6;
}
.content-holder {
    background-color: #f4f5f5;
    min-height: 586px;
    transition: none;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.menu-toggle-holder {
    margin-bottom: 10px;
}
#menu-toggle .fa {
    font-size: 18px;
    color: #d14836;
    outline: 0;
}
#menu-toggle:hover .fa {
    color: #7F7F7F;
}
.content-holder div[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}
.content-holder img.logo-h {
    opacity: 0;
    margin-left: 10px;
}
.show-logo {
    opacity: 1!important;
}
.content-holder .title-holder {
    padding-bottom: 20px;
}
.content-holder .title-holder h4 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}
.content-holder .row-pbuttom {
    padding-bottom: 10px;
}
.content-holder .row-mbuttom {
    margin-bottom: 10px;
}
.content-holder .remove-left-padding {
    padding-left: 0!important;
}
.content-holder .remove-right-padding {
    padding-right: 0!important;
}
.content-holder .status-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    color: #d14836;
}
.col-sm-12 .status-box {
    margin-bottom: 8px;
}
.content-holder .status-box .status-text {
    position: relative;
    display: inline-block;
}
.content-holder .status-box .status-link {
    position: relative;
    display: inline-block;
    float: right;
}
.content-holder .status-box .status-link a:hover img {
    opacity: 0.6;
}
.content-holder .status-box .status {
    display: inline-block;
    color: #7cc576;
}
.content-holder .status-box .status .fa {
    margin-right: 4px;
}
.content-holder .data-box {
    height: 200px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}
.col-sm-12 .data-box {
    margin-bottom: 8px;
}
.content-holder .map-holder .data-box {
    height: 410px;
}
.content-holder .data-box .data-table {
    width: 100%;
    height: 100%;
}
.content-holder .data-box .data-title {
    height: 50px;
}
.content-holder .data-box .data-title h2 {
    margin-top: 0;
    font-size: 25px;
    color: #646464;
}
.content-holder .data-box .data-content {
    font-size: 45px;
    font-weight: 600;
    color: #d14836;
    text-align: center;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
.content-holder .data-box .no-number {
    font-size: 16px;
}
.content-holder .data-box .data-link {
    border-top: 3px solid #f4f5f5;
    text-align: center;
    padding-top: 15px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    color: #6b6b6d;
}
.content-holder .data-box .data-link a:hover img {
    opacity: 0.6;
}
.content-holder .files-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}
.content-holder .search-text {
    padding: 10px;
    background-color: #d14836;
    color: #ffffff;
    border-radius: 8px;
    width: 100%;
    border: 0;
    outline: 0;
}
.content-holder .tools-box {
    padding-top: 10px;
    padding-bottom: 20px;
}
.content-holder .tools-box a {
    display: inline-block;
}
.content-holder .tools-box .tool-button {
    display: inline-block;
    color: #ffffff;
    background-color: #d14836;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.content-holder .tools-box a:hover .tool-button {
    background-color: #dddddd;
    color: #d14836;
}
.content-holder .tools-box .tool-button .fa {
    color: #ffffff;
}
.content-holder .tools-box .left-buttons {
    text-align: left;
    display: inline-block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content-holder .tools-box .left-buttons .tool-button {
    margin-right: 1px;
}
.content-holder .tools-box .right-buttons {
    text-align: right;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content-holder .tools-box .right-buttons .tool-button {
    margin-left: 1px;
}
.content-holder .files-list {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content-holder .files-list tr:nth-child(odd) {
    background-color: #F4F4F4;
}
.content-holder .files-list tr:hover {
    background-color: #FaFaFa;
}
.content-holder .files-list th {
    background-color: #F0F0F0;
    padding: 10px;
}
.content-holder .files-list td {
    padding: 10px;
}
.content-holder .page-number {
    text-align: center;
    color: #989898;
    padding: 10px;
}
.content-holder .page-size {
    text-align: right;
    color: #989898;
    padding: 10px;
}
.content-holder .page-size input {
    padding: 5px;
    background-color: #d14836;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    outline: 0;
}
.content-holder .files-box h3 {
    margin-top: 0;
}
.content-holder .files-box .radio-buttons input {
    margin-left: 10px;
}
.content-holder .files-box textarea {
    width: 100%;
    background-color: #d14836;
    color: #ffffff;
    height: 200px;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;
    outline: 0;
}
.content-holder .info-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}
.content-holder .info-box table {
    width: 100%;
    height: 100%;
}
.content-holder .info-box h2 {
    margin-top: 0;
    font-size: 25px;
    color: #646464;
}
.content-holder .info-box table td:nth-child(2) {
    text-align: right;
}
.content-holder .info-box .status {
    display: inline-block;
    color: #7cc576;
}
.content-holder .info-box td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.content-holder .info-box .status .fa {
    margin-right: 4px;
}
.content-holder .info-box .fa-pencil {
    color: #d14836;
    cursor: pointer;
}
.content-holder .edit-form-holder {
    display: none;
    color: #eeeeee;
}
.content-holder .edit-form-holder td {
    padding: 20px;
    background-color: #d14836;
    border-radius: 8px;
}
.content-holder .edit-form-holder td .control-label {
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: normal;
}
.content-holder .edit-form-holder td input[type="text"],
.content-holder .edit-form-holder td input[type="email"],
.content-holder .edit-form-holder td input[type="password"] {
    width: 100%;
    margin-bottom: 5px;
    border: 0;
    padding: 5px;
    color: #d14836;
}
.content-holder .edit-form-holder td .submit-button input,
.content-holder .edit-form-holder td .submit-button button {
    margin-top: 5px;
    border: 0;
    border-radius: 4px;
    background-color: #ffffff;
    color: #d14836;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.content-holder .edit-form-holder td .submit-button input:hover,
.content-holder .edit-form-holder td .submit-button button:hover {
    background-color: #dddddd;
}
.content-holder .info-box .checkbox-input {
    padding-bottom: 5px;
}
.content-holder .info-box .control-label {
    padding-bottom: 5px;
    font-weight: normal;
}
.content-holder .info-box .checkbox-input .form-group {
    margin: 0;
}
.content-holder .info-box .checkbox-input .checkbox {
    margin: 0;
}
.content-holder .info-box .form-group input {
    padding: 5px;
    border: 1px solid #d14836;
    color: #d14836;
    border-radius: 0px;
    width: auto;
}
.content-holder .info-box .help-block {
    margin: 0!important;
}
.content-holder .info-box .submit-button input,
.content-holder .info-box .submit-button button {
    margin-top: 5px;
    border: 0;
    border-radius: 4px;
    background-color: #d14836;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.content-holder .info-box .submit-button input:hover,
.content-holder .info-box .submit-button button:hover {
    background-color: #dddddd;
    color: #d14836;
}
.content-holder .earn-box {
    background-color: #d14836;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.content-holder .earn-box .earn-text {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;
}
.content-holder .earn-box a {
    margin-top: 5px;
    border: 0;
    border-radius: 4px;
    background-color: #ffffff;
    color: #d14836;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
.content-holder .earn-box a:hover {
    background-color: #dddddd;
}
.content-holder .info-box .radio-input {
    padding-bottom: 5px;
}
.content-holder .info-box .note-text {
    padding-bottom: 5px;
    color: #d14836;
}
.content-holder .stat-type {
    margin-bottom: 8px;
}
.content-holder .stat-period {
    margin-bottom: 8px;
}
.content-holder .stat-period ul {
    float: right;
}
.content-holder .nav-pills li {
    margin-left: 0;
    border-left: 1px solid #7bbde4;
}
.content-holder .nav-pills li.first {
    border-left: 0;
}
.content-holder .nav-pills li.first a {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.content-holder .nav-pills li.last a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.content-holder .nav-pills li a {
    background-color: #d14836;
    border-radius: 0;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 18px;
}
.content-holder .nav-pills li a:hover {
    background-color: #ffffff;
    color: #758f9e;
}
.content-holder .nav-pills li.active a {
    background-color: #ffffff;
    color: #758f9e;
}
.content-holder .chart-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}
.morris-hover {
    position: absolute;
    z-index: 1000
}
.morris-hover.morris-default-style {
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    background: #d14836;
    font-size: 14px;
    text-align: center;
}
.morris-hover.morris-default-style .morris-hover-point {
    color: #fff!important;
}
#line-example {
    overflow: hidden;
}
#line-example circle {
    stroke-width: 4px;
    fill: #fff;
}
#line-example circle:hover {
    stroke: #39b54a;
}
#line-example path {}.content-holder .chart-info {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 15px;
    color: #6b6b6b;
}
.content-holder .countries-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}
.content-holder .countries-box table {
    width: 100%;
    height: 100%;
}
.content-holder .countries-box table th {
    font-weight: 600;
    font-size: 16px;
}
.content-holder .countries-box table th:nth-child(2) {
    color: #d14836;
    width: 50%;
}
.content-holder .countries-box table td {
    font-size: 16px;
}
.content-holder .countries-box table td:nth-child(2) {
    color: #d14836;
}
@media (max-width: 1100px) {
    .content-holder .data-box .data-title h2 {
        font-size: 20px;
    }
    .content-holder .data-box .data-content {
        font-size: 30px;
    }
    .content-holder .data-box .no-number {
        font-size: 16px;
    }
}
#sidebar-wrapper {
    overflow: hidden!important;
}
.status.bronze {
    color: #d99f65!important;
}
.status.silver {
    color: #b5b5bd!important;
}
.status.gold {
    color: #faea6b!important;
}
#countryhtml {
    max-height: 275px;
    overflow: y-scroll;
    margin-top: 5px;
    margin-bottom: 5px;
}
#countryhtml a {
    font-size: 24px;
}
#countryhtml .badge {
    font-size: 20px;
    line-height: 24px;
}
#visitors-map {
    height: 275px;
    margin: 5px;
}
.jvectormap-container {
    border-radius: 8px;
}
.table-fullwidth {
    width: 100%;
}
#filemanager .breadcrumb {
    background: transparent;
    text-align: left;
    line-height: 64px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.filemanager-header {
    display: block;
    margin-bottom: 15px;
}
.linktextboxrow .mdl-textfield {
    width: 100%;
}
.react-contextmenu {
    z-index: 99999;
    text-align: left;
}
.dialog-container {
    text-align: left!important;
    position: fixed;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 2049;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    padding-top: 70px;
    overflow-y: auto;
}
.dialog-inner1 {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: relative;
    width: 75%;
    max-width: 768px;
    margin: 0px auto;
    z-index: 10;
    opacity: 1;
    transform: translate3d(0px, 64px, 0px);
}
.dialog-inner2 {
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
}
.dialog-header {
    margin: 0;
    padding: 24px 24px 0 24px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}
.dialog-content {
    padding: 24px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.dialog-button-row {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    text-align: right;
}
.dialog-background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2048;
    top: 0px;
    left: 0px;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: opacity;
    transform: translateZ(0px);
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgba(0, 0, 0, 0.541176);
}
.dialog-inner-background {
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
}
.filemanager-table a {
    cursor: pointer;
}
.example-enter {
    opacity: 0.01;
    transform: translate3d(0, -25%, 0);
}
.example-enter.example-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all .15s ease-in;
}
.example-leave.example-leave-active {
    opacity: 0.01;
    transition: all .15s ease-in;
    transform: translate3d(0, -28%, 0);
}
.example-appear {
    opacity: 0.01;
    transition: all .15s ease-in;
    transform: translate3d(0, -25%, 0);
}
.example-appear.example-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.filemanager-table .folderrow i.material-icons {
    font-size: 18.5px!important;
}
.filemanager-createfolder .mdl-card {
    z-index: 2049;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
}
.filemanager-createfolder .mdl-card--border button {
    float: right;
}
.filemanager-rename .mdl-card {
    max-width: 90%;
    width: 800px;
}
.filemanager-rename .mdl-card .mdl-textfield {
    width: 100%;
}
.filemanager-table .copy-button {
    margin-top: -8px;
}
.table-dmca button {
    margin-top: -5px;
}
.table-break {
    word-break: break-all;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.embedmenu .linktextboxrow {
    margin: 0 auto;
}
.react-contextmenu {
    background: white;
    box-shadow: 1px 1px 1px 1.5px rgba(0, 0, 0, 0.12);
    border-radius: 0.1em;
    min-width: 10em;
}
.react-contextmenu>ul {
    margin: 0;
    padding: 0;
}
.react-contextmenu>ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 8px 12px;
    cursor: pointer;
}
.react-contextmenu>ul li:hover {
    background: rgba(0, 0, 0, 0.1)!important;
}
.languageselector {
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
}
.actionbar {
    margin: 0;
    margin-bottom: 15px;
    display: block;
    padding-top: 15px;
}
.pagenavigator a {
    cursor: pointer;
}
#fileman .breadcrumb a {
    cursor: pointer;
}
a.tablink {
    cursor: pointer;
}
.hotkeyholder>div {
    outline: none;
}
.filemanager-table td {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#message {
    max-height: 100px!important;
    overflow-y: auto;
}
#message-holder {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.stat-nav ul li a {
    cursor: pointer;
}
.hcenter.row {
    display: flex!important;
    flex-direction: row;
}
.hcenter.row>[class^="col-"],
.hcenter.row>[class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart-box {
    width: 100%;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.jvectormap-zoomin,
.jvectormap-zoomout {
    font-size: 13px;
    height: 19px;
    width: 19px;
}
#remoteupload a {
    cursor: pointer;
}
.remotedljob {
    display: block;
    padding: 25px;
    padding-bottom: 10px;
    min-height: 0;
    margin-bottom: 20px;
}
.remotedljob button {
    margin-top: 5px;
}
#request-button {
    cursor: pointer;
}
.totalearnings small {
    font-size: 45%;
}
.splashimage {
    max-width: 100%;
    max-height: 400px;
}
.splashchangedialog .mdl-card__title {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 64px;
}
.splashchangedialog .no-image {
    justify-content: center;
}
.splashchangedialog .no-image i {
    font-size: 80px;
}
.filemanager-table {
    border-collapse: collapse;
}
.filemanager-table,
.filemanager-table tr,
.filemanager-table td,
.filemanager-table th,
.filemanager-table tbody,
.filemanager-table thead,
.filemanager-table td a,
.filemanager-table a {
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    transform: none;
    font-size: 10px;
}
.spinner>div {
    background-color: #333;
    height: 100%;
    width: 6px;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    float: left;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}
@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
#statistics * {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}
.nospinnermargin {
    margin: 0!important;
}
#relationmenu .dialog-container {
    padding-top: 10px;
}
#refreshbalance {
    cursor: pointer
}
@-webkit-keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
    background: url("../images/progressbar.gif")!important;
    filter: none;
}
.fileupload-process {
    float: right;
    display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
    display: block;
    width: 32px;
    height: 32px;
    background: url("../images/loading.gif") center no-repeat;
    background-size: contain;
}
.files audio,
.files video {
    max-width: 300px;
}
@media (max-width: 767px) {
    .fileupload-buttonbar .toggle,
    .files .toggle,
    .files .btn span {
        display: none;
    }
    .files .name {
        width: 80px;
        word-wrap: break-word;
    }
    .files audio,
    .files video {
        max-width: 80px;
    }
    .files img,
    .files canvas {
        max-width: 100%;
    }
}
#payouts tbody tr td {
    text-align: left!important;
}