@charset 'utf-8';

/*reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video
{
	webkit-transition: box-shadow .25s,background-color .25s;
	-moz-transition: box-shadow .25s,background-color .25s;
	-ms-transition: box-shadow .25s,background-color .25s;
	-o-transition: box-shadow .25s,background-color .25s;
	transition: box-shadow .25s,background-color .25s ;
}
/*  */
.container{
	background:#fcfcfc;
}
.container .typeSet{
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
}
.container .typeSet .inCon{
	width: 1240px;
	margin:0 auto;
	padding:32px 0 32px;
}
.container .typeSet .inCon:after{content:""; display:block; clear:both;}
.container .typeSet .inCon .photoNews{
	float:left;
	max-width: 936px;
	margin:0 auto;
	position:relative;
}
.container .typeSet .inCon .photoNews ul{
	/* padding: 1px; */
}
.container .typeSet .inCon .photoNews ul:after{content:""; display:block; clear:both;}
.container .typeSet .inCon .photoNews ul > li{
	position:relative;
	float:left;
	margin:0 1px 1px 0;
	width: 233px;
	height:171px;
	cursor:pointer;
	background:black;
}
.container .typeSet .inCon .photoNews .Top_Icon{
	position:absolute;
	left: 6px;
	top: 6px;
	z-index:600;
	overflow:hidden;
}
.container .typeSet .inCon .photoNews .Top_Icon p{
	float:left;
}
.container .typeSet .inCon .photoNews .Top_Icon p img{
	width:32px;
}
.container .typeSet .inCon .photoNews ul > li .overBg{
	background:rgba(20,50,45,0);
	position:absolute; left:0; top:0;
	width:100%; height:100%;
	z-index:10;
	text-indent:-9999px;
}
.container .typeSet .inCon .photoNews ul > li:hover .overBg{
	background: rgba(119,192,67,0.2);
}
.container .typeSet .inCon .photoNews ul > li:first-child{
	width: 701px;
	height:343px;
	overflow:hidden;
}
.container .typeSet .inCon .photoNews ul > li img{

}
.container .typeSet .inCon .photoNews ul > li .first_txt{
	position: absolute;
	z-index:11;
	left: 0;
	bottom: 0;
	color: #fff;
	font-size: 28px;
	padding: 50px 15px 17px 20px;
	width: 100%;
	box-sizing:border-box;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
    /*background: #000;*/
    background: -moz-linear-gradient(top, transparent 30%, #000 90%);
    background: -webkit-gradient(linear, left 30%, left 90%, from(transparent), to(#000));
    background: -o-linear-gradient(top, transparent 30%, #000 90%);
	background: -ms-linear-gradient(top, transparent 30%, #000 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#fa000000',GradientType=0 ); /* IE6-8 */
	text-shadow: 0 1px 1px #000;
}
.container .typeSet .inCon .photoNews ul > li .txt{
	position: absolute;
	z-index:11;
	left: 0;
	bottom: 0;
	color: #fff;
	font-size: 16px;
	padding: 30px 0 10px 10px;
	width: 100%;
	box-sizing:border-box;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
    /* background: #000; */
    background: -moz-linear-gradient(top, transparent 30%, #000 90%);
    background: -webkit-gradient(linear, left 30%, left 90%, from(transparent), to(#000));
    background: -o-linear-gradient(top, transparent 30%, #000 90%);
	background: -ms-linear-gradient(top, transparent 30%, #000 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#fa000000',GradientType=0 ); /* IE6-8 */
	text-shadow: 0 1px 1px #000;
}





.container .typeSet .inCon .textNews{
	float:left;
	width:302px;

}
.container .typeSet .inCon .textNews ul.firstList{
	border:1px solid #dddddd;
	border-bottom:none;
}
.container .typeSet .inCon .textNews ul.firstList> li{
	height: 51px;
	border-bottom:1px solid #eeeeee;
	padding:0 8px;
	background:#f9f9f9;
}
.container .typeSet .inCon .textNews ul.firstList > li:nth-child(odd){
	background:#fff;
}
.container .typeSet .inCon .textNews ul.firstList > li a{
	background:url("https://image.hankookilbo.com/n/bullet/blt_type4.gif") no-repeat 0 25px;
	overflow:hidden; zoom:1;
	     -o-text-overflow:ellipsis;
        text-overflow:ellipsis;

	display:block;
	white-space:nowrap;
	font-size:16px;
	padding:16px 0 0 10px;
}
.container .typeSet .inCon .textNews ul.firstList> li:hover{
	background: #edf7de;
}
.container .typeSet .inCon .textNews ul.firstList> li:last-child{
	border-bottom:none;
}
.container .typeSet .typeSetBanner{
	display:none;
}

/* main Content */
.container .mainCon{
	width:1240px;
	margin:0 auto;
}
.container .mainCon .mainBn{
	position:relative;
	height: auto !important; /* @see: http://css-tricks.com/snippets/css/cross-browser-min-height/ */
	height: 94px;
	min-height: 94px;
	border-bottom: 1px solid #ddd;
}
.container .mainCon .mainBn div{
	float:left;
	width:905px;
	position:relative;
	height: auto !important; /* @see: http://css-tricks.com/snippets/css/cross-browser-min-height/ */
	height: 93px;
	min-height: 93px;
	overflow:hidden;
	margin-left:35px;
}

.container .mainCon .mainBn .l_Banner{
	float:left;
	cursor:pointer;
}
.container .mainCon .mainBn .l_Banner img{
	width:100%;
}

.container .mainCon .mainBn .r_Banner{
	float:right;
	cursor:pointer;
}
.container .mainCon .mainBn p.mSlide_arrow{
	position:absolute; top:0; z-index:999;
	cursor:pointer;
}
.container .mainCon .mainBn p.mSlide_arrow:first-child{

}
/*.container .mainCon .mainBn div > p:hover{*/
/*	opacity:1.0;*/
/*}*/
.container .mainCon .mainBn > p:last-child{
	border-left: 1px solid #ddd;
}
.container .mainCon .mainBn div > ul.mSlide{
	width:1573px;
	height:93px;
	background:#fff;
	position:absolute; left:-291px;
}
.container .mainCon .mainBn div > ul > li{
	float:left;
	width:290px;
	text-align:center;
	/*background:url("https://image.hankookilbo.com/n/bullet/blt_type5.gif") no-repeat left 17px;*/
	border-right:1px solid #f5f5f5;
}
.container .mainCon .mainBn div > ul > li:last-child{
	border-right:none;
}
.container .mainCon .mainBn div > ul > li img{display:inline;}
.container .mainCon .mainBn div > ul > li:first-child{
	background:none;
}
.container .mainCon .inCon{
	padding: 30px 0 0;
}
.container .mainCon .inCon:after{content:""; display:block; clear:both;}
.container .mainCon .centerCon{
	float:left;
	width: 920px;
}
/*  */
.container .mainCon .centerCon .newsBundle:after{
	content:""; display:block; clear:both;
}
.container .mainCon .centerCon .newsBundle article{
	width:440px;
	float:left;
	margin:7px;
	border:1px solid #ddd;
	border-radius:3px;
	background:#fff;
	-webkit-box-shadow: 0 0 7px 0 #eee;
   -moz-box-shadow: 0 0 7px 0 #eee;
        box-shadow: 0 0 7px 0 #eee;

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=7px, OffY=0, Color='#eee', Positive='false'
); /* IE 5.5 */
border-collapse: separate; /* Required by IE 9 */

}
.container .mainCon .centerCon .newsBundle article:hover{
	-webkit-box-shadow: 0 0 7px 0 #ddd;
   -moz-box-shadow: 0 0 7px 0 #ddd;
        box-shadow: 0 0 7px 0 #ddd;

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=7px, OffY=0, Color='#ddd', Positive='false'
); /* IE 5.5 */
border-collapse: separate;
}
.container .mainCon .centerCon .newsBundle article:hover .h4Tit{
	border-bottom: 3px solid #77c043;
}
.container .mainCon .centerCon .newsBundle article .BundleCon{
	overflow:hidden;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .photo{
	float:left;
	width:50%;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .photo p:first-child{
	height:128px;
	overflow:hidden;
	position:relative;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .photo .overBg{
	background:rgba(20,50,45,0);
	position:absolute; left:0; top:0;
	width:100%; height:100%;
	z-index:10;
	text-indent:-9999px;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .photo:hover .overBg{
	background:rgba(20,50,45,0.1);
}

.container .mainCon .centerCon .newsBundle article .BundleCon .photo img{}
.container .mainCon .centerCon .newsBundle article .BundleCon .photo p:last-child{
	padding: 10px 11px 12px;
	min-height: 44px;
	max-height: 44px;
	background-color:#fafafa;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .photo p:last-child a{
	font-size: 15px;
	line-height: 20px;
	font-weight:600;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .txtExplan{
	float:left;
	width:50%;
	border-left:1px solid #eeeeee;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .txtExplan div{
	border-bottom:1px solid #eeeeee;
	overflow:hidden;
	padding: 10px 5px 10px 10px;
	min-height: 64px;
	/* background-color: #fafafa; */
}
.container .mainCon .centerCon .newsBundle article .BundleCon .txtExplan div:last-child{
	border-bottom:none;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .txtExplan div:hover{
	background:#fafafa;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .txtExplan div p.blt{
	float:left;
	/* color: #dddddd; */
	width: 5%;
	padding: 5px 0 0;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .txtExplan div p.txt{
	float:left;
	width:95%;
	line-height:21px;
	/* margin-left: 5px; */
	padding-left: 5px;
	box-sizing: border-box;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .txtExplan div p.txt a{
	color: #555;
}
.container .mainCon .centerCon .newsBundle article .BundleCon .txtExplan div:last-child p:nth-child(2){
	border:none;
}

/*  */
.container .mainCon .centerCon .sliderBanner{
	width: 894px;
	margin:7px;
	border:1px solid #ddd;
	border-radius:3px;
	background:#fff;
	-webkit-box-shadow: 0 0 7px 0 #eee;
   -moz-box-shadow: 0 0 7px 0 #eee;
        box-shadow: 0 0 7px 0 #eee;

	filter:progid:DXImageTransform.Microsoft.dropshadow(
		OffX=7px, OffY=0, Color='#eee', Positive='false'
	); /* IE 5.5 */
	border-collapse: separate; /* Required by IE 9 */
}
.container .mainCon .centerCon .sliderBanner .bannerCon{
	overflow:hidden;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView{
	position:relative;
	float:left;
	width: 550px;
	height:374px;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .img{
	opacity:1;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .img img{
	width:100%;
	height:374px;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .img:hover{
	-khtml-opacity: 1;
  -moz-opacity: 1;
       opacity: 1;
       filter: alpha(opacity=100);
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .img img:hover{

}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .bnPrev{
	position:absolute; left:0; top:145px;
	-khtml-opacity: 0;
  -moz-opacity: 0;
       opacity: 0;
       filter: alpha(opacity=0);
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .bnNext{
	position:absolute; right:0; top:145px;
	-khtml-opacity: 0;
  	-moz-opacity: 0;
       opacity: 0;
       filter: alpha(opacity=0);
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .bnPrev:hover,
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .bnNext:hover{
	-khtml-opacity: 0.5 !important;
  	-moz-opacity: 0.5 !important;
       opacity: 0.5 !important;
       filter: alpha(opacity=50);
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .imgExplan{
	position:absolute; left:0; bottom:0;
	background:url("https://image.hankookilbo.com/n/bg/bg_Explan.png") repeat-x left top;
	width:100%;
	height:67px;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .detailView .imgExplan p{

	font-weight:600;
	font-size:21px;
	color:#fff;
	padding:22px 0 0 25px;
	width:510px;
	overflow:hidden;
     -o-text-overflow:ellipsis;
        text-overflow:ellipsis;

	white-space:nowrap;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList{
	float:left;
	width: 342px;
	border-left: 1px solid #ddd;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li{
	overflow:hidden;
	border-bottom: 1px solid #ddd;
	height:74px;
	background:#fff;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li:nth-child(even){
	background:#f5f5f5;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li.on{
	background:rgba(220,240,190,0.4);
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li:last-child{
	border-bottom:none;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li p{
	float:left;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li p:nth-child(1){
	width:114px;
	height:74px;
	cursor:pointer;
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li p:nth-child(1) img{
	width:114px;
	height:74px;
	-khtml-opacity: 0.6;
  -moz-opacity: 0.6;
       opacity: 0.6;
       filter: alpha(opacity=60);
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li.on p:nth-child(1) img{
	width:114px;
	height:74px;
	-khtml-opacity: 1;
  -moz-opacity: 1;
       opacity: 1;
       filter: alpha(opacity=100);
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li p:nth-child(2){
	width: 206px;
	padding:15px 0 0 14px;
	line-height:23px;
	cursor: pointer;
}

.container .mainCon .centerCon .movie .bannerCon .sumList{
	border-left:1px solid #a2a6a7;
}
.container .mainCon .centerCon .movie .bannerCon .sumList ul li{
	border-bottom:1px solid #4e4e4e;
	background:#434343;
	color: #959595;
}
.container .mainCon .centerCon .movie .bannerCon .sumList ul li:nth-child(even){
	background:#3a3a3a;
}
.container .mainCon .centerCon .movie .bannerCon .sumList ul li.on{
	background:rgba(20,50,45,1);
	color:#fff;
}


/* 1024  */
@media all and (max-width:1279px){
	.container .typeSet .inCon{
		width: 1004px;
	}
	.container .typeSet .inCon .photoNews ul{
		width: 702px;
	}
	.container .typeSet .typeSetBanner{
		display:block;
		height:170px;
		/* margin-top:3px; */
	}
	.container .mainCon{
		width:1002px;
		margin:0 auto;
	}
	.container .mainCon .mainBn{
		width:1002px;
		margin:0 auto;
	}
	.container .mainCon .mainBn div{
		width:968px;
	}
	.container .mainCon .mainBn div ul{
		width:636px;
		overflow:hidden;
	}
	.container .mainCon .mainBn div > ul > li{
		padding:0 12px;
		text-align:center;
	}
	.container .mainCon .mainBn div > ul > li:first-child{
		border:none;
		margin:0;
	}
	.container .mainCon .centerCon .newsBundle article{
		width: 326px;
		/* margin-right:10px; */
	}
	.container .mainCon .centerCon .newsBundle article:nth-child(even){
		margin-right:0;
	}
	.container .mainCon .centerCon .newsBundle article .BundleCon .photo{
		width:100%;
		overflow:hidden;
	}
	.container .mainCon .centerCon .newsBundle article .BundleCon .photo p:last-child{
		min-height: 43px;
		border-bottom: 1px solid #eee;
	}
	.container .mainCon .centerCon .newsBundle article .BundleCon .txtExplan{
		width:100%;
		border-left:none;
	}

	.container .mainCon .centerCon .sliderBanner{
		width: 666px;
	}
	.container .mainCon .centerCon .sliderBanner .bannerCon .sumList{
		width:114px;
	}
	.container .mainCon .centerCon .sliderBanner .bannerCon .sumList ul li p:nth-child(2){
		display:none;
	}
	.container .mainCon .centerCon{
		float:left;
		width:684px;
	}
	.container .mainCon .centerCon .newsBundle article .BundleCon .photo p:first-child{
		height:180px;
	}
	.container .mainCon .centerCon .newsBundle article .BundleCon .photo p:first-child img{
		width:100%;
	}

	.container .mainCon .mainBn .l_Banner{width:100%;}
	.container .mainCon .mainBn .r_Banner{display:none;}

}
