/* Accordion Content Start*/

.accordion-list {
    font-size: 55px;
    line-height: 55px;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    clear: both;
    outline:none;
}

.accordion-list svg {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: -5px;
}

.accordion-list svg path{
    fill: #222;
}

.black .accordion-list svg path{
    fill: #ffc426;
}


/*Na stronie faq z-index nie moze byc ustawiony przez stylish selecty wykorzystywane w filtrowaniu / wiecej info: Kuba Ch */

#alior-faq .accordion-list{
    
    z-index: inherit;
}

.acco1  {
    cursor: pointer;
}

.one-level  {
    outline: 0;
}
.accordion-list{
  -webkit-tap-highlight-color: transparent;
}
.accordion-list h2,
.accordion-list p{
    cursor: auto;
}

.accordion-list h2 span {
    font-weight: 300;
    font-size: 30px;
    position: relative;
    padding-right: 50px;
    padding-left: 50px; /* #115012 */
    display: inline-block;
    outline:none;
    
}

#structured-product-details .accordion-list {
    font-size: 20px;
    line-height: 1;
}
#structured-product-details .accordion-list h2 { font-size: 20px; }
#useful-documents .accordion-list {
    font-size: 20px;
    line-height: 1;
    padding: 40px 0;
    outline:none;
}
#structured-product-list .accordion-list { padding: 25px 0;outline:none;}

#alior-faq .accordion-content > .accordion-list { padding: 20px 0;outline:none;}
#alior-faq .accordion-content > .accordion-list + div .accordion-list { padding-top: 0;outline:none;}
#alior-faq .accordion-list h2 { font-size: 20px; }
#alior-faq .accordion-list h3 { font-size: 14px; margin: 0; }
#alior-faq .accordion-list h3 span {position: relative; padding-right: 55px; }
#alior-faq .accordion-list:last-of-type { padding-bottom: 0; }

#alior-faq .accordion-list .one-level:last-child {
    border-bottom: none;
}
/*#alior-faq .accordion-list .one-level { margin-left: 15px; margin-right: 15px; } vkovalenko */

#alior-faq .accordion-list .question span {
    font-size: 14px;
    line-height: 1;
    padding: 10px 10px 10px 30px;
    color: #565656;
    display: block;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

#alior-faq.black .accordion-list .question span { color: #fff; }
#alior-faq .accordion-list .question span:before { font-size: 20px; }

.accordion-list > h2 {
  font-size: 20px;
  padding: 20px 0 20px;
  margin: 0;
}

.accordion-list span {
    cursor: pointer;
    padding: 6px 55px 6px 0;
    position: relative;
    display: inline-block;
}

.accordion-list span:after {
    content: "\a105";
    font-family: 'icons';
    font-size: 33px;
    line-height: 1;
    color: #7A0035;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -16px;
}
.black .accordion-list span:after, 
.black .accordion-list .question span:before { color: #ffc426; }
.black .accordion-list span, 
.black .accordion-list .question span { color: #fff; }

.accordion-list .question span{
    font-size: 18px;
    line-height: 24px;
    padding: 10px 0 10px 45px;
    display: block;
    position: relative;
}
.accordion-list .question span:before {
    content: "\a105";
    font-family: 'icons';
    font-size: 33px;
    line-height: 32px;
    display: block;
    color: #7A0035;
    position: absolute;
    font-weight: 500;
    top: 50%;
    left: 1px;
    margin-top: -16px;
    vertical-align: middle;
}

.accordion-list .question { margin: 19px 0; }
.accordion-list .one-level:first-child .question { margin-top: 0; }

.accordion-list .answer {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 18px;
    display:none;
}
.one-level div[data-content]{
    display:none;
}
.one-level.open > div[data-content]{
    display:block;
}
.accordion-list .answer article { padding-bottom: 10px; }
.accordion-list .question span:after { display: none; }
.open .accordion-list span:after, .open .question span:before { content: "\a104"; }
.open .accordion-list + div .accordion-list span:before { content: "\a105"; }
.open .accordion-list + div .accordion-list .open span:before { content: "\a104"; }

.accordion-list .one-level {
    border-bottom: 1px solid #e5e5e5;
    /*padding-bottom: 10px;*/
}

.accordion-list .one-level:last-of-type,
.accordion-list .one-level.last {
    border-bottom: none;
}

.accordion-list .one-level .answer article{
    padding-bottom: 25px;
}

.accordion-content { border-top: 1px solid #e5e5e5; }
.accordion-content .article-link {
    margin: 10px;    
}

.accordion-list + .row article > .accordion-list{
    margin: 0;
}

/*#content-product-details .accordion-content { border-top: 0; }*/
.accordion-content .accordion-list h2 { margin: 0; }

.accordion-content article h2 {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  padding-bottom: 15px;
  margin: 0;
}

.accordion-content.open .button.large{
  margin-bottom: 50px;
}

#relations .accordion-content.open .button.large{
  margin-bottom: 20px; /* asokolowski - nie zmieniac tego ! */
}


/*Alt styles to Accordion list*/
.accordion-list.alt-style{
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    /*margin-bottom: 15px;*/
}
.accordion-list.alt-style > h2{
    font-size: 2rem;
    line-height: 1.2em;
    padding-top: 0;
    margin-bottom: 10px;
}
.accordion-list.alt-style .one-level{
    padding: 15px 0;
    margin: 0 20px;
    cursor: default;
    -webkit-transition: padding 0.25s;
    -moz-transition:    padding 0.25s;
    transition:         padding 0.25s;
}
/*.accordion-list.alt-style .one-level:first-child{*/
/*    border-top: 1px solid #e5e5e5;*/
/*}*/
.accordion-list.alt-style .question{
    line-height: 1.2em;
    cursor: pointer;
    margin: 0;
}
.accordion-list.alt-style .question span{
    display: inline-block;
    position: relative;
    margin: 0;
    font-size: 16px;
    padding: 0 40px 0 0;
    width: calc(100% - 60px);
}
.accordion-list.alt-style .question span:before{
    display: none;
}
.accordion-list.alt-style .question span:after{
    content: '\a108';
    display: block;
    right: 0;
    font-weight: 400;
    margin-left: 0;
    font-size: 32px;
    margin-top: -16px;
}
.accordion-list.alt-style .one-level.open .question span:after{
    content: '\a112';
}
.accordion-list.alt-style .answer{
    margin-left: 0;
    font-weight: 300;
}
.accordion-list.alt-style .answer article{
    padding: 12px 0 0;
    line-height: 1.5em;
}

@media only screen and (max-width: 64.063em) {
    .accordion-list h2 span {
        font-size: 22px;
        margin: 0;
        max-width: 90%;
    }
}

@media only screen and (max-width: 40em) {
    
    .accordion-list span {
        margin: 0 20px;
        font-size: 20px;
    }
    
    .accordion-list .question span{
        margin: 0;
    }
    
    .accordion-list h2 span {
        max-width: 100%;
        width: 100%;
    }
    
    #alior-faq .accordion-list h3 span{
        display: inline-block;
        width: 95%;
    }
    
    .accordion-list .one-level .answer{
        margin: 0;
    }
    
    /*#alior-faq .accordion-list span:after { right: auto; margin-top: -16px; }*/
}

@media only screen and (min-width: 40.063em) {
    
    .accordion-list{
        padding: 30px 0;    
    }
    #alior-faq .accordion-list .question span {
        font-size:30px;
    }
    
    .accordion-list h2 span {
        padding-left: 0; /* #115012 */
    }
    
    .accordion-content article h2 {
      font-size: 55px;
      padding-top: 20px;
      padding-bottom: 30px;
    }
    
    .accordion-list .question span { padding: 20px 0 20px 50px; }
    .accordion-list .answer { margin-left: 50px; }
    
    #structured-product-list .accordion-list { padding: 45px 0; }
    
    #alior-faq .accordion-content > .accordion-list { padding: 30px 0; }
    #alior-faq .main-banner > .accordion-list h2 { margin-bottom: 25px; }
    #alior-faq .accordion-list h2 { font-size: 30px; }
    #alior-faq .accordion-list h3 { font-size: 20px; }
    #alior-faq .accordion-list .question span {
        font-size: 20px;
        padding-left: 40px;
    }

    #alior-faq .accordion-list .answer { margin-left: 40px; }
    #alior-faq .accordion-list .answer article { padding-bottom: 20px; }
    .accordion-list > h2 {
        margin-bottom: 3.5rem;
        /* po co ten important dla globalnego stylu? - Karol B. */
        /*font-size: 3.5rem!important;*/
        line-height: 3.5rem;
        font-size: 55px;
        padding: 20px 0 20px;
        margin: 0;
    }
    
    .accordion-list.alt-style { /* margin-bottom: 30px; */ }
    .accordion-list.alt-style > h2 { margin-bottom: 20px; }
    .accordion-list.alt-style .one-level{
        /* padding: 35px 0; */
        margin: 0;
        -webkit-transition: padding 0.25s;
        -moz-transition:    padding 0.25s;
        transition:         padding 0.25s;
    }
    .accordion-list.alt-style .answer article{
        padding: 30px 0 0;
        margin: 0;
        line-height: 1.75em;
    }
    .accordion-list.alt-style .question span { 
        font-size: 20px;
        font-weight: 300;
        
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .accordion-list.alt-style{
        padding: 15px;
    }
    
    #alior-faq .one-level {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #alior-faq .one-level .one-level {
        margin-left: 0;
        margin-right: 0;
    }
    
    #content-product-details .one-level .one-level {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 64.063em) {
    #alior-faq .main-banner > .accordion-list .one-level {
        margin-right: 180px;
    }
    #alior-faq .accordion-list .question span  {
        padding:10px 0 10px 40px;
    }
    .accordion-list{
        padding: 40px 0;    
    }
    #alior-faq .accordion-list .answer { 
        margin-left: 40px;
        margin-right: 0;
    }
}


/* Accordion Content Start*/