/* Single Article Start*/

#article .date {
    font-size: 14px;
    font-weight: 300;
    text-align:center;
    color:#cecece;
}


#article .nopadding {padding:0!important;}
.text-data {margin:0;}
#article h1 {font-size:20px;line-height:24px;text-align:center;margin-bottom:15px;}
#article .buttons {margin-bottom:1.25rem;}
#article .buttons a {
    /*padding:0 44px 0 34px;*/
    /*float:right;*/
    min-width: 125px;
}
#article .buttons .right a:after {top:0;}
/*#article .buttons a.back {padding:0 34px 0 44px;}*/

#article .buttons a.back:after {
    right:auto;
    left:10px;
    content:'\a10c';
    top:0;
}
#article .main-banner {padding:100px 20px 0;font-size:14px}
#article .main-banner img {margin-bottom:30px;margin-left:auto;margin-right:auto;}
#article .main-banner p {font-size:14px;}
#article .main-banner p a {color:#7a0035;text-decoration:none;}
/*#article .buttons a {line-height:35px;height:35px;overflow:hidden;font-size:14px;display:block; }*/
#article .row .row {margin:0;}
#article .text-meta {padding-top:20px;}
#article .graph-content {margin:0 0 50px 0;text-align:center;}
#article .news_item .news_content {display: block;margin: 0 auto;}
#article .news_item .formatted-content {display: block;margin: 0 auto;}
#article .news_item .news-categories {margin:0;padding-top:30px;}
#article .news_item .news-categories li {display:inline-block;}
#article .news_item .news-categories li a {color:#000;font-size:14px;}
#article .news_item .news-categories li a:before {content:'|';color:#ccc;}
#article .news_item .news-categories li:first-child a:before {display:none;}
#article .share-wrapper {
    float:right;
}
#article .share-wrapper li {
    display:inline-block;
    padding-left:30px;
}

#article .share-wrapper li a {
    display:inline-block;
    line-height:30px;
}

#article .share-wrapper .sw-print a:before {
    font-family: 'icons';
    content: '\e6c6';
    font-size:25px;color:#7A0035;
    margin-right:8px;
    float:left;
}

#article .share-wrapper .sw-share a:before {
    font-family: 'icons';
    content: '\e6cf';
    font-size:25px;
    color:#7A0035;
    margin-right:8px;
    float:left;
}

#article img.photo {
    border:1px solid rgba(0, 0, 0, 0.1);
}

#article .introtext ul, 
#article .formatted-content ul {
    margin-left: 0;
}
#article .introtext ul li, 
#article .introtext ol li, 
#article .formatted-content li {
    font-size: 20px;
}

@media only screen and (min-width: 40.063em) {
    #article .buttons a {
        min-width: 150px;    
    }
    
#article .formatted-content p, 
#article .formatted-content {
    font-size: 20px!important;  /*? asokolowski*/
}

#article .html-content, 
#article .formatted-content, 
#article .news_content {
    max-width: 800px;
    margin: 0 auto;
}    
    
#article h1 {font-size:30px;line-height:37px;}
#article .date {font-size:20px;}
#article img {margin-right:20px;}
#article img.photo {
    width:90%; 
}
#article .main-banner {font-size:20px;padding-top:140px;}
#article .main-banner p {font-size:20px;}
#article .main-banner {font-size:20px;}
/*#article .buttons a {line-height:35px;height:35px;overflow:hidden;font-size:14px;display:block;}*/

}

@media only screen and (min-width: 64.063em) {
#article .main-banner {padding-top:110px;}
#article h1 {padding:0 140px;margin-bottom:40px;}
}

/* Single Article End*/