/* Alior Event Component */

    .content-event {
        padding-bottom: 20px;
    }
    
    .content-event .date_up{
        background: #7a0035;
        color: #fff;
        margin-top: 10px;
    }
    
    .black .content-event .date_up{
        background: #ffc426;
        color: #000;
    }
    
    .content-event .date_up,
    .content-event .date_down {
        width: 50px;
        height: 60px;
        padding: 3px;
        border: 1px solid #ccc;
        font-size: 28px;
        line-height: 36px;
        margin-left: -5px;
    }
    
    .content-event .date_down {
        border-top: none;
    }

    .content-event .date_up p, 
    .content-event .date_down p {
        text-transform: uppercase;
        line-height: 14px;
        font-size: 8px;
        margin: 0px -5px;
    }
    
    .content-event .lead-text {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin: 20px 0;
    }
    
    .content-event .content-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }
    
    .content-event .date_up:after {
        content: '';
        top: 12px;
        position: relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #7a0035 transparent transparent transparent;
    }
    
     .event-details {
        margin-top: 20px;
     }
     
    .event-details .right{
        word-break: break-word;
    }
    
    .content-event .event-detail {
        line-height: 50px;
        border-top: 1px solid #ddd;
    }
    
    .content-event .event-detail:last-child {
        border-bottom: 1px solid #ddd;
    }
    
    .content-event .event-detail a {
        color: #7A0035;
    }
    
    
    .content-event .event-detail .location-place:after {
            font-family: 'icons';
            content: '\a115';
            color: #7A0035;
            font-size: 30px;
            top: 5px;
            position: relative;
    }
    
    .black .content-event .event-detail,
    .black .content-event .event-detail .location-place:after{
        color: #ffc426;
    }
    
    .details-link {
        margin-top: 10px;
    }

@media only screen and (min-width: 40.063em) {
    .content-event .date_up,
    .content-event .date_down {
        width: 105px;
        height: 105px;
        padding: 10px;
        font-size: 55px;
        line-height: 60px;
        margin-left: 0;
    }
        
    .content-event .date_up p,
    .content-event .date_down p {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 25px;
        margin: 0 auto;
    }
    
    .content-event .date_up{
        margin-top: 10px;
    }
    .content-event .date_up:after{
        top: 22px;
        border-width: 15px 15px 0 15px;
    }
    
    .content-event .event-detail {
        line-height: 60px
    }
    
    .details-link {
        margin-top: 35px;
    }
}

@media only screen and (min-width: 64.063em) {
    

}





/* Alior Event Component */





/* Alior Image Gallery Component */

/*!
 * Fotorama 4.6.3 | http://fotorama.io/license/
 */
 
.fotorama__arr:focus:after, 
.fotorama__fullscreen-icon:focus:after, 
.fotorama__html, 
.fotorama__img, 
.fotorama__nav__frame:focus .fotorama__dot:after, 
.fotorama__nav__frame:focus .fotorama__thumb:after, 
.fotorama__stage__frame,
.fotorama__stage__shaft,
.fotorama__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.fotorama--fullscreen, .fotorama__img {
    max-width: 99999px!important;
    max-height: 99999px!important;
    min-width: 0!important;
    min-height: 0!important;
    border-radius: 0!important;
    box-shadow: none!important;
    padding: 0!important;
}
.fotorama__wrap .fotorama__grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.fotorama__grabbing * {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}
.fotorama__spinner {
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
}
.fotorama__wrap--css3 .fotorama__arr, 
.fotorama__wrap--css3 .fotorama__fullscreen-icon, 
.fotorama__wrap--css3 .fotorama__nav__shaft, 
.fotorama__wrap--css3 .fotorama__stage__shaft, 
.fotorama__wrap--css3 .fotorama__thumb-border,
.fotorama__wrap--css3 .fotorama__video-close, 
.fotorama__wrap--css3 .fotorama__video-play {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.fotorama__caption, 
.fotorama__nav:after, 
.fotorama__nav:before, 
.fotorama__stage:after, 
.fotorama__stage:before, 
.fotorama__wrap--css3 .fotorama__html, 
.fotorama__wrap--css3 .fotorama__nav, 
.fotorama__wrap--css3 .fotorama__spinner, 
.fotorama__wrap--css3 .fotorama__stage, 
.fotorama__wrap--css3 .fotorama__stage .fotorama__img, 
.fotorama__wrap--css3 .fotorama__stage__frame {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.fotorama__arr:focus, 
.fotorama__fullscreen-icon:focus, 
.fotorama__nav__frame {
    outline: 0;
}
.fotorama__arr:focus:after, 
.fotorama__fullscreen-icon:focus:after, 
.fotorama__nav__frame:focus .fotorama__dot:after, 
.fotorama__nav__frame:focus .fotorama__thumb:after {
    content: '';
    border-radius: inherit;
    /*background-color: rgba(0, 175, 234, .5);*/
}
.fotorama__wrap--video .fotorama__stage,
.fotorama__wrap--video .fotorama__stage__frame--video,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, 
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,
.fotorama__wrap--video .fotorama__stage__shaft {
    -webkit-transform: none!important;
    transform: none!important;
}
.fotorama__wrap--css3 .fotorama__nav__shaft, 
.fotorama__wrap--css3 .fotorama__stage__shaft, 
.fotorama__wrap--css3 .fotorama__thumb-border {
    transition-property: -webkit-transform, width;
    transition-property: transform, width;
    transition-timing-function: cubic-bezier(0.1, 0, .25, 1);
    transition-duration: 0ms;
}
.fotorama__arr, 
.fotorama__fullscreen-icon, 
.fotorama__no-select, 
.fotorama__video-close, 
.fotorama__video-play, 
.fotorama__wrap {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fotorama__select {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.fotorama__nav, 
.fotorama__nav__frame {
    margin: auto;
    padding: 0;
}
.fotorama__caption__wrap,
.fotorama__nav__frame, 
.fotorama__nav__shaft {
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}
.fotorama__nav__frame, 
.fotorama__thumb-border {
    box-sizing: content-box;
}
.fotorama__caption__wrap {
    box-sizing: border-box;
}
.fotorama--hidden, .fotorama__load {
    position: absolute;
    left: -99999px;
    top: -99999px;
    z-index: -1;
}
.fotorama__arr, 
.fotorama__fullscreen-icon, 
.fotorama__nav, 
.fotorama__nav__frame, 
.fotorama__nav__shaft, 
.fotorama__stage__frame, 
.fotorama__stage__shaft, 
.fotorama__video-close, 
.fotorama__video-play {
    -webkit-tap-highlight-color: transparent;
}
.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
    /*background: url(fotorama.png) no-repeat;*/
}
/*@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:2dppx) {*/
/*    .fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {*/
/*    background: url(fotorama@2x.png) 0 0/96px 160px no-repeat;*/
/*}*/
}
@media print {
    .fotorama__arr, 
    .fotorama__fullscreen-icon, 
    .fotorama__thumb-border, 
    .fotorama__video-close, 
    .fotorama__video-play {
    background: none!important;
}
}.fotorama {
    min-width: 1px;
    /*overflow: hidden;*/
}
.fotorama:not(.fotorama--unobtrusive)>*:not(:first-child) {
    display: none;
}
.fullscreen {
    width: 100%!important;
    height: 100%!important;
    max-width: 100%!important;
    max-height: 100%!important;
    margin: 0!important;
    padding: 0!important;
    overflow: hidden!important;
    background: #000;
}
.fotorama--fullscreen {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    float: none!important;
    z-index: 2147483647!important;
    background: #000;
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
}
.fotorama--fullscreen .fotorama__nav, 
.fotorama--fullscreen .fotorama__stage {
    background: #000;
}
.fotorama__wrap {
    -webkit-text-size-adjust: 100%;
    position: relative;
    direction: ltr;
    z-index: 0;
    margin: 0 auto;
}

.fotorama__thumb {
    background-color: #7f7f7f;
    background-color: rgba(127, 127, 127, .2);
}
.fotorama__wrap * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fotorama__wrap--rtl .fotorama__stage__frame {
    direction: rtl;
}
.fotorama__nav,
.fotorama__stage {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.fotorama__wrap--pan-y {
    -ms-touch-action: pan-y;
}
.fotorama__wrap .fotorama__pointer {
    cursor: pointer;
}
.fotorama__wrap--slide .fotorama__stage__frame {
    opacity: 1!important;
    overflow: hidden;
}
.fotorama__stage{
    margin: 0 auto;
}
.fotorama__stage__frame {
    /*overflow: hidden;*/
}
.fotorama__stage__frame.fotorama__active {
    z-index: 8;
}
.fotorama__wrap--fade .fotorama__stage__frame {
    display: none;
}
.fotorama__wrap--fade .fotorama__fade-front, 
.fotorama__wrap--fade .fotorama__fade-rear, 
.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
    display: block;
    left: 0;
    top: 0;
}
.fotorama__wrap--fade .fotorama__fade-front {
    z-index: 8;
}
.fotorama__wrap--fade .fotorama__fade-rear {
    z-index: 7;
}
.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
    z-index: 9;
}
.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
    display: none;
}
.fotorama__nav-wrap .fotorama__img {
    -ms-filter: "alpha(Opacity=35)";
    filter: alpha(opacity=35);
    opacity: 0.5;
    border: none!important;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: .3s;
}
.fotorama__error .fotorama__nav-wrap .fotorama__img, 
.fotorama__loaded .fotorama__nav-wrap .fotorama__img {
    -ms-filter: "alpha(Opacity=35)";
    filter: alpha(opacity=35);
    opacity: 0.5;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: .3s;
}

.fotorama__error .fotorama__img:hover, .fotorama__loaded .fotorama__img:hover, 
.fotorama__active .fotorama__img {
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: .3s;
}

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img, 
.fotorama__img--full {
    display: none;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
    display: block;
}
.fotorama__wrap--only-active .fotorama__nav, 
.fotorama__wrap--only-active .fotorama__stage {
    max-width: 99999px!important;
}
.fotorama__wrap--only-active .fotorama__stage__frame {
    visibility: hidden;
}
.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active {
    visibility: visible;
}
.fotorama__nav {
    font-size: 0;
    line-height: 0;
    text-align: center;
    display: none;
    white-space: nowrap;
    z-index: 5;
}
.fotorama__nav__shaft {
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
}
.fotorama__nav__frame {
    position: relative;
    cursor: pointer;
}

.fotorama__nav::after,
.fotorama__nav::before{
    display: none !important;
}
.fotorama__nav__frame img{
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
    /*filter: gray;*/
    /*-webkit-filter: grayscale(100%);*/
    -moz-filter: none!important;
}
.fotorama__nav__frame.fotorama__active img{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: none;
    -webkit-filter: grayscale(0%);

}
.fotorama__nav--dots {
    display: block;
}
.fotorama__nav--dots .fotorama__nav__frame {
    width: 18px;
    height: 30px;
}
.fotorama__nav--dots .fotorama__nav__frame--thumb, 
.fotorama__nav--dots .fotorama__thumb-border {
    display: none;
}
.fotorama__nav--thumbs {
    display: block;
}
.fotorama__nav--thumbs .fotorama__nav__frame {
    padding-left: 0!important;
}
.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
    padding-right: 0!important;
}
.fotorama__nav--thumbs .fotorama__nav__frame--dot {
    display: none;
}
.fotorama__dot {
    display: block;
    width: 4px;
    height: 4px;
    position: relative;
    top: 12px;
    left: 6px;
    border-radius: 6px;
    border: 1px solid #7f7f7f;
}
.fotorama__nav__frame:focus .fotorama__dot:after {
    padding: 1px;
    top: -1px;
    left: -1px;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot {
    width: 0;
    height: 0;
    border-width: 3px;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot:after {
    padding: 3px;
    top: -3px;
    left: -3px;
}
.fotorama__thumb {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%}
.fotorama__nav__frame:focus .fotorama__thumb {
    z-index: 2;
}
.fotorama__thumb-border {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    border-style: solid;
    border-color: #00afea;
    /*background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .25), rgba(64, 64, 64, .1));*/
}
.fotorama__caption {
    position: absolute;
    z-index: 12;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
}
.fotorama__caption a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, .5);
}
.fotorama__caption a:hover {
    color: #333;
    border-color: rgba(51, 51, 51, .5);
}
.fotorama__wrap--rtl .fotorama__caption {
    left: auto;
    right: 0;
}
.fotorama__wrap--no-captions .fotorama__caption, 
.fotorama__wrap--video .fotorama__caption {
    display: none;
}
.fotorama__caption__wrap {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .9);
    padding: 5px 10px;
}
@-webkit-keyframes spinner {
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}@keyframes spinner {
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}.fotorama__wrap--css3 .fotorama__spinner {
    -webkit-animation: spinner 24s infinite linear;
    animation: spinner 24s infinite linear;
}
.fotorama__wrap--css3 .fotorama__html, 
.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: .3s;
}
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, 
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img {
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.fotorama__select {
    cursor: auto;
}
.fotorama__video {
    top: 32px;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10;
}
@-moz-document url-prefix() {
    .fotorama__active {
    box-shadow: 0 0 0 transparent;
}
}.fotorama__arr, 
.fotorama__fullscreen-icon, 
.fotorama__video-close, 
.fotorama__video-play {
    position: absolute;
    z-index: 11;
    cursor: pointer;
}
.fotorama__arr {
    position: absolute;
    width: 12px;
    height: 24px;
    top: 50%;
    margin-top: -90px;
}

.fotorama__arr--prev:before,
.fotorama__arr--next:before {
    font-family: 'icons';
    font-size: 24px;
    line-height: 1em;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    color: #bbb;
}

body.black .fotorama__arr--prev:before,
body.black .fotorama__arr--next:before {
    color: #666;
}

.fotorama__arr--prev {
    left: -18px;
}
.fotorama__arr--prev:before {
    content: '\a10c';
}

.fotorama__arr--next {
    right: -6px;
}
.fotorama__arr--next:before {
    content: '\e6f7';
}


.fotorama__arr--disabled {
    pointer-events: none;
    cursor: default;
    *display: none;
    opacity: .1;
}

.fotorama__fullscreen-icon {
    width: 32px;
    height: 32px;
    top: 2px;
    right: 2px;
    background-position: 0 -32px;
    z-index: 20;
}
.fotorama__arr:focus, 
.fotorama__fullscreen-icon:focus {
    border-radius: 50%}
.fotorama--fullscreen .fotorama__fullscreen-icon {
    background-position: -32px -32px;
}
.fotorama__video-play {
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    margin-left: -48px;
    margin-top: -48px;
    background-position: 0 -64px;
    opacity: 0;
}
.fotorama__wrap--css2 .fotorama__video-play,
.fotorama__wrap--video .fotorama__stage .fotorama__video-play {
    display: none;
}
.fotorama__error .fotorama__video-play,
.fotorama__loaded .fotorama__video-play,
.fotorama__nav__frame .fotorama__video-play {
    opacity: 1;
    display: block;
}
.fotorama__nav__frame .fotorama__video-play {
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    background-position: -64px -32px;
}
.fotorama__video-close {
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    background-position: -64px 0;
    z-index: 20;
    opacity: 0;
}
.fotorama__wrap--css2 .fotorama__video-close {
    display: none;
}
.fotorama__wrap--css3 .fotorama__video-close {
    -webkit-transform: translate3d(32px, -32px, 0);
    transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--video .fotorama__video-close {
    display: block;
    opacity: 1;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
    opacity: 0;
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
    opacity: 1;
}
.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--video .fotorama__fullscreen-icon {
    opacity: 0!important;
}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
    display: none;
}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
    display: block;
}
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon {
    display: none!important;
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) {
    -webkit-transform: translate3d(32px, -32px, 0);
    transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) {
    -webkit-transform: translate3d(-48px, 0, 0);
    transform: translate3d(-48px, 0, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) {
    -webkit-transform: translate3d(48px, 0, 0);
    transform: translate3d(48px, 0, 0);
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon {
    -webkit-transform: translate3d(32px, -32px, 0)!important;
    transform: translate3d(32px, -32px, 0)!important;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev {
    -webkit-transform: translate3d(-48px, 0, 0)!important;
    transform: translate3d(-48px, 0, 0)!important;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next {
    -webkit-transform: translate3d(48px, 0, 0)!important;
    transform: translate3d(48px, 0, 0)!important;
}
.fotorama__wrap--css3 .fotorama__arr:not(:focus),
.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),
.fotorama__wrap--css3 .fotorama__video-close:not(:focus),
.fotorama__wrap--css3 .fotorama__video-play:not(:focus) {
    transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    transition-duration: .3s;
}
.fotorama__nav:after, .fotorama__nav:before,
.fotorama__stage:after, .fotorama__stage:before {
    content: "";
    display: block;
    position: absolute;
    text-decoration: none;
    top: 0;
    bottom: 0;
    width: 10px;
    height: auto;
    z-index: 10;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 1px 100%, 5px 100%}
.fotorama__nav:before, .fotorama__stage:before {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .2) 25%, rgba(0, 0, 0, .3) 75%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, .4), transparent);
    background-position: 0 0, 0 0;
    left: -10px;
}
.fotorama__nav.fotorama__shadows--left:before,
.fotorama__stage.fotorama__shadows--left:before {
    left: 0;
}
.fotorama__nav:after, .fotorama__stage:after {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .2) 25%, rgba(0, 0, 0, .3) 75%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .4), transparent);
    background-position: 100% 0, 100% 0;
    right: -10px;
}
.fotorama__nav.fotorama__shadows--right:after, 
.fotorama__stage.fotorama__shadows--right:after {
    right: 0;
}
.fotorama--fullscreen .fotorama__nav:after, 
.fotorama--fullscreen .fotorama__nav:before, 
.fotorama--fullscreen .fotorama__stage:after, 
.fotorama--fullscreen .fotorama__stage:before, 
.fotorama__wrap--fade .fotorama__stage:after, 
.fotorama__wrap--fade .fotorama__stage:before, 
.fotorama__wrap--no-shadows .fotorama__nav:after, 
.fotorama__wrap--no-shadows .fotorama__nav:before, 
.fotorama__wrap--no-shadows .fotorama__stage:after, 
.fotorama__wrap--no-shadows .fotorama__stage:before {
    display: none;
}

.fotorama-counter{
    position: relative;
    font-size: 14px;
    color: #bbb;
    text-align: right;
    display: block;
    padding: 0 0 25px;
    letter-spacing: 0.1em;
}

@media only screen and (min-width: 30em) {
    .fotorama{
        margin: 0 auto;
        width: 90%;
    }
    .fotorama__arr--prev, 
    .fotorama__arr--next{
        width: 24px;
        height: 48px;
        margin-top: -100px;
    }
    .fotorama__arr--prev{
        left: -30px;
    }
    .fotorama__arr--next{
        right: -30px;
    }
    .fotorama__arr--prev:before, 
    .fotorama__arr--next:before{
        font-size: 48px;
    }
    .fotorama__arr--prev:before{
        left: -8px;
    }
    .fotorama__arr--next:before{
        right: 14px;
    }
}

@media only screen and (min-width: 48em) {
    .fotorama__arr--prev, 
    .fotorama__arr--next{
        width: 32px;
        height: 60px;
        margin-top: -100px;
    }
    .fotorama__arr--prev{
        left: -48px;
    }
    .fotorama__arr--next{
        right: -48px;
    }
    .fotorama__arr--prev:before, 
    .fotorama__arr--next:before{
        font-size: 100px;
        line-height: 60px;
    }
    .fotorama__arr--prev:before{
        left: -28px;
    }
    .fotorama__arr--next:before{
        right: 40px;
    }
}

@media only screen and (min-width: 64em) {
    .fotorama{
        margin: 0 auto;
        width: 90%;
    }
    .fotorama__arr--prev, 
    .fotorama__arr--next{
        margin-top: -90px;
    }
    .fotorama-counter{
        padding: 0;
        position: absolute;
        bottom: 50px;
        right: -40px;
    }
}

/* Alior Image Gallery Component */


/* Alior Product Ad Menu L2 */

.portrait img {
    max-width: 100%;    
    width: auto;
    max-height: 75px;    
    height: 75px;
}


.landscape img {
    max-height: 100%;    
    height: auto;
    max-width: 80px;    
    width: 80px;
}

/* Alior Product Ad Menu L2 */




/* Alior Product Ad*/

.homepage-wrap { margin-top: 60px; }

.product {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 0 15px;
    position: relative;
}

.product h2 {
    
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.035em;
    font-weight: 400;
}

.vertical .product h2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    /*min-height: 50px;*/
}

.vertical .narrow {
    margin-left: 12.5%;
}

.vertical .narrow:first-child {
    margin-left: 0;
}

.vertical .product .button {
    float: right;
}

.product .product-description {
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 0;
}

.product-description.condensed {
    line-height: 24px;
    font-size: 14px;
}

.vertical .product .product-description {
    
    line-height: 17px;
    font-size: 14px;
    margin: 0 0 15px;
    min-height: 35px;
}

.product .button {
    display: inline-block;
    font-size: 14px; /* asokolowski */
    line-height: 35px;
    padding: 0 30px;
    float: right;
}

.product-legal-note {
    display: inline-block;
}

.product-legal-note, .product-legal-note-nav span {
    
    font-size: 11px;
    cursor: pointer;
    width:auto;
    display:inline;
}

.product-legal-note-wrapper{
    
    margin: 10px 0;
}

.homepage-wrap .product h2{
    
    margin-top: 0;    
    margin-bottom: 5px;
}

.product-no-title .product-price{
    
    font-size: 48px;
}

/* ----------- MEDIA QUERIES ---------- */
@media only screen and (max-width: 40em) {
    
    .product .button {
        font-size: 12px; /* asokolowski */
    }
    
    .homepage-wrap .product{
    
        padding: 20px 0 15px;
        margin-top: 20px !important;
    }
    /* asokolowski
    .homepage-wrap .product.first{
    
        border-top: 0;
    } */

    .homepage-wrap .secondary .product h2 { 
        
        font-size: 36px; 
    }
    
    .homepage-wrap { 
        
        margin-top: 0; 
    }
    
    .product-no-title .mobile-top-margin{
        
        margin-top: 10px;
    }
    
    #alior-brokerage .homepage-wrap { 
        
    }
    
    .vertical .narrow { 
        
        margin: 0 0 12px 0; 
    }
}

@media only screen and (min-width: 40.063em) {
    
    .product-description.condensed {
        line-height: 20px;
        font-size: 18px;
    }
    
    .product {
        padding: 18px 0 17px;
    }
    .product h2 {
        font-size: 25px;
        line-height: 42px;
        margin: 0;
    }
    .product .button {
        display: block;
        float: none;
        line-height: 42px;
        padding: 0 30px;
    }
    .vertical .product h2 {
        line-height: 25px;
        margin: 0;
    }
    .vertical .product h2 b{
        font-weight: 700;
        font-size: 30px;
    }
    .vertical .product h2 span{
        font-size: 20px;
    }
    .vertical .product .button {
        float:left;
        width: 100%;
    }
    .vertical .product .product-description {
        min-height: 40px;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .product h2 {
        line-height: 1.2;
    }
    
    .product .product-description {
        padding-right: 5px;
    }
    .product .button {
        margin-top: 0;
        margin-left: 0;
        padding: 0 25px 0 15px;
    }
}

@media only screen and (min-width: 64.063em) {
    .product .product-description > span {
        display: inline-block;
        vertical-align: middle;
    }
    
    .product .product-description-first {
        display: block;
        padding-top: 5px;
        line-height: 16px;
        vertical-align: middle;
    }
    
    .product .product-description-first span {
        display: block;
    }
    
    .product .product-description-last {
        display: inline-block;
        font-size: 30px;
        font-weight: 300;
        line-height: 1em;
        margin-left: 3px;
        padding-top: 5px;
        vertical-align: middle;
    }
    
}

/* Alior Product Ad*/


/* Alior FullWidth Label Component */

.wide-label {
    font-size: 20px;
    color: #7a0035;
    line-height: 45px;
    border-top: 1px dashed #7a0035;
    border-bottom: 1px dashed #7a0035;
    font-weight: 700;
    margin: 10px 0;
}

/* Alior FullWidth Label Component */


/* Alior Article Box */

.article-box{
    margin-bottom: 20px;
}
.box {
    border: 1px solid #ddd;
}

.article-box .image img {
    width: 100%;
    display: block;
}

.article-box .content {
    padding: 20px;
    position: relative;
}

@media only screen and (min-width: 40.063em) {
    .article-box .content {
        padding: 20px 50px;
    }
}

/* Alior Article Box */



/* Alior Chart Component */

    .aliorChart{
        display: none;
        padding-bottom: 50px;
    }
    
    .aliorChart .rickshaw_graph .x_tick {
        display: none;
    }
    
    .aliorChart .rickshaw_graph .x_tick:nth-child(4n+1) {
        display: block;
    }
    
    .aliorChart .error-msg {
        text-align: center;
        position: absolute;
        top: 150px;
        font-weight: 700;
        color: #7a0035;
        width: 100%;
    }
    
    .aliorChart .error-msg span:before{
        font-family: 'icons';
        content: "\e673";
        color: #7a0035;
        font-weight: 500;
        font-size: 20px;
        position: relative;
        top: 3px;
        left: -15px;
    }
    
    #y_axis {  
        position: absolute;
        height: 320px;
        overflow: hidden;
        width: 40px;
        top: 5px;
    }
    
    #y_axis svg{
        position: relative;
        top: -5px;
    }

    .aliorChart #chart_container {

        position: relative;
        width: 100%;
        overflow-x: hidden;
    }
    
    .aliorChart #chart_container #chart-value{
        display: none;
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 2;
        font-size: 20px;
        font-weight: 300;
    }
        
    .aliorChart #chart_container #chart-value span.value{
        font-weight: 700;
    }

    .aliorChart #chart{
      background: #e6e6e6;
    }

    .aliorChart .chart-under{
      margin-top: 10px;
      font-size: 14px;
    }

    .aliorChart #preview{
        width: 100%;
        background: #fff;
    }

    .aliorChart .padding-left-0{
      padding-left: 0;
    }

    .aliorChart .padding-right-0{
      padding-right: 0;
    }

    .aliorChart .text-show-range{
      width: 13%;
      padding-right: 1%;
      float: left;
      line-height: 34px;
    }

    .aliorChart .text-range-selector{
      width: 15%;
      float: left;
    }
    
    .aliorChart .text-range-selector .newListSelected{
        position: static;
        height: 42px;
        line-height: 42px;
        width: 100%;
        border: 1px solid rgb(221, 221, 221);
        min-width: 125px;
    }
    
    .aliorChart .text-range-selector .selectedTxt{
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        color: #000;
        line-height: 40px;
        height: 40px;
        padding-left: 8px;
        padding-right: 20px;
    }
    
    .aliorChart .text-range-selector .selectedTxt:after{
        color: #7a0035;    
    }
    
    .aliorChart .text-range-selector .SSContainerDivWrapper{
    	margin: 0;
        padding: 0;
        width: 180px;
        position: absolute;
        top: 38px !important;
        left: -1px !important;
        z-index: 2;
    }
    
    .aliorChart .text-range-selector .SSContainerDivWrapper .newList{
        height: auto !important;
    }
        
    .aliorChart .text-select-range{
      text-align: right;
      width: 20%;
      padding-right: 2%;
      float: left;
      line-height: 34px;
    }

    .aliorChart .gripper:before{
      content: "";
      width: 1px;
      height: 1px ;
      background: #f0f;
    }

    .aliorChart path.domain{
      display: none;
    }

    .aliorChart .text-preview-range{

      width: 52%;
      float: left;
      border:1px solid #d1d1d1;
    }

    .aliorChart .rickshaw_graph {
      position: relative;
    }
    
    .aliorChart .rickshaw_graph svg {
       display: block;
       overflow: hidden;
    }
    
    .aliorChart .rickshaw_graph .x_tick {
       position: absolute;
       top: 0;
       bottom: 0;
       width: 0px;
       border-left: 1px dotted rgba(0, 0, 0, 0.2);
       pointer-events: none;
    }

    .aliorChart .rickshaw_graph .x_tick .title div:first-child {
       white-space: nowrap;
    }

   .aliorChart .rickshaw_graph .x_tick .title {
       position: absolute;
       font-size: 11px;
       line-height: 13px;
       font-family: Arial, sans-serif;
       margin-left: 3px;
       bottom: 1px;
    }

    .aliorChart .rickshaw_graph .detail {
      pointer-events: none;
      position: absolute;
      top: 0;
      z-index: 2;
      background: #000;
      bottom: 0;
      right: 0;
      width: 1px;
      transition: opacity 0.25s linear;
      -moz-transition: opacity 0.25s linear;
      -o-transition: opacity 0.25s linear;
      -webkit-transition: opacity 0.25s linear;
    }
    
    .aliorChart .rickshaw_graph .detail.inactive {
      opacity: 0;
    }
    
    .aliorChart .rickshaw_graph .detail .item.active {
      opacity: 1;
    }
    
    .aliorChart .rickshaw_graph .detail .x_label {
      display: none;
    }
    
    .aliorChart .rickshaw_graph .detail .item {
      position: absolute;
      z-index: 2;
      padding: 10px;
      font-size: 12px;
      min-width:140px;
      text-align: center;
      font-family: Arial, sans-serif;
      opacity: 0;
      background: #fff;
      color: #000;
      border: 0;
      margin-left: 1em;
      margin-right: 1em;
      margin-top: -1em;
      /*white-space: nowrap;*/
    }
    
    .aliorChart .rickshaw_graph .detail .item.left {
      left: 0;
    }
    
    .aliorChart .rickshaw_graph .detail .item.right {
      right: 0;
    }
    
    .aliorChart .rickshaw_graph .detail .item.active {
      opacity: 1;
    }
    
    .aliorChart .rickshaw_graph .detail .item:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      content: "";
      top: 16px;
      border: 5px solid transparent;
    }
    .aliorChart .rickshaw_graph .detail .item.left:after {
    
      left: -5px;
      margin-top: -5px;
      border-right-color: #fff;
      border-left-width: 0;
    }
    .aliorChart .rickshaw_graph .detail .item.right:after {
      right: -5px;
      margin-top: -5px;
      border-left-color: #fff;
      border-right-width: 0;
    }
    
    .aliorChart .rickshaw_graph .detail .dot {
      display: none;
    }
    
    .aliorChart .rickshaw_annotation_timeline {
      height: 1px;
      border-top: 1px solid #e0e0e0;
      margin-top: 10px;
      position: relative;
    }
    .aliorChart .rickshaw_annotation_timeline .annotation {
      position: absolute;
      height: 6px;
      width: 6px;
      margin-left: -2px;
      top: -3px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.25);
    }
    .aliorChart .rickshaw_graph .annotation_line {
      position: absolute;
      top: 0;
      bottom: -6px;
      width: 0px;
      border-left: 2px solid rgba(0, 0, 0, 0.3);
      display: none;
    }
    .aliorChart .rickshaw_graph .annotation_line.active {
      display: block;
    }
    
    .aliorChart .rickshaw_graph .annotation_range {
        background: rgba(0, 0, 0, 0.1);
        display: none;
        position: absolute;
        top: 0;
        bottom: -6px;
    }
    .aliorChart .rickshaw_graph .annotation_range.active {
        display: block;
    }
    .aliorChart .rickshaw_graph .annotation_range.active.offscreen {
        display: none;
    }
    
    .aliorChart .rickshaw_annotation_timeline .annotation .content {
      background: white;
      color: black;
      opacity: 0.9;
      padding: 5px 5px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
      border-radius: 3px;
      position: relative;
      z-index: 20;
      font-size: 12px;
      padding: 6px 8px 8px;
      top: 18px;
      left: -11px;
      width: 160px;
      display: none;
      cursor: pointer;
    }
    
    .aliorChart .rickshaw_annotation_timeline .annotation .content:before {
      content: "\25b2";
      position: absolute;
      top: -11px;
      color: white;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
    }
    
    .aliorChart .rickshaw_annotation_timeline .annotation.active,
    .aliorChart .rickshaw_annotation_timeline .annotation:hover {
      background-color: rgba(0, 0, 0, 0.8);
      cursor: none;
    }
    
    .aliorChart .rickshaw_annotation_timeline .annotation .content:hover {
      z-index: 50;
    }
    
    .aliorChart .rickshaw_annotation_timeline .annotation.active .content {
      display: block;
    }
    
    .aliorChart .rickshaw_annotation_timeline .annotation:hover .content {
      display: block;
      z-index: 50;
    }
    
    .aliorChart .rickshaw_graph .y_ticks .tick line,
    .aliorChart .rickshaw_graph .x_ticks_d3 .tick {
      stroke: rgba(0, 0, 0, 0.16);
      stroke-width: 2px;
      shape-rendering: crisp-edges;
      pointer-events: none;
    }
    
    .aliorChart .rickshaw_graph .y_grid .tick,
    .aliorChart .rickshaw_graph .x_grid_d3 .tick{
      z-index: -1;
      stroke-width: 1px;
      stroke-dasharray: 1 1;
    }
    
    .aliorChart .rickshaw_graph .y_grid .tick line,
    .aliorChart .rickshaw_graph .x_grid_d3 .tick line{
      stroke: rgba(0, 0, 0, 0.20);
    }
    
    .aliorChart .rickshaw_graph .y_grid .tick text,
    .aliorChart .rickshaw_graph .x_grid_d3 .tick text{
      stroke: rgba(0, 0, 0, 1);
    }
    
    .aliorChart .rickshaw_graph .y_grid .tick[data-y-value="0"] {
      stroke-dasharray: 1 0;
    }
    
    .aliorChart .rickshaw_graph .y_grid path,
    .aliorChart .rickshaw_graph .x_grid_d3 path  {
      fill: none;
      stroke: none;
    }
    .aliorChart .rickshaw_graph .y_ticks path,
    .aliorChart .rickshaw_graph .x_ticks_d3 path {
    
      fill: none;
      stroke: #808080;
    }
    .aliorChart .rickshaw_graph .y_ticks text,
    .aliorChart .rickshaw_graph .x_ticks_d3 text {
      font-size: 11px;
      line-height: 13px;
      pointer-events: none;
    }
    
    .aliorChart .rickshaw_graph .x_tick.glow .title,
    .aliorChart .rickshaw_graph .y_ticks.glow text {
      fill: black;
      color: black;
      text-shadow:
        -1px 1px 0 rgba(255, 255, 255, 0.1),
        1px -1px 0 rgba(255, 255, 255, 0.1),
        1px 1px 0 rgba(255, 255, 255, 0.1),
        0px 1px 0 rgba(255, 255, 255, 0.1),
        0px -1px 0 rgba(255, 255, 255, 0.1),
        1px 0px 0 rgba(255, 255, 255, 0.1),
        -1px 0px 0 rgba(255, 255, 255, 0.1),
        -1px -1px 0 rgba(255, 255, 255, 0.1);
    }
    
    .aliorChart .rickshaw_graph .x_tick.inverse .title,
    .aliorChart .rickshaw_graph .y_ticks.inverse text {
      fill: white;
      color: white;
      text-shadow:
        -1px 1px 0 rgba(0, 0, 0, 0.8),
        1px -1px 0 rgba(0, 0, 0, 0.8),
        1px 1px 0 rgba(0, 0, 0, 0.8),
        0px 1px 0 rgba(0, 0, 0, 0.8),
        0px -1px 0 rgba(0, 0, 0, 0.8),
        1px 0px 0 rgba(0, 0, 0, 0.8),
        -1px 0px 0 rgba(0, 0, 0, 0.8),
        -1px -1px 0 rgba(0, 0, 0, 0.8);
    }

@media only screen and (max-width: 64.063em){
    
    .aliorChart{
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .aliorChart .text-select-range{
        clear: left;
        text-align: left;
        margin-top: 10px;
    }
    
    .aliorChart .text-preview-range{
        width: 100%;
        margin-top: 10px;
    }
    
    .aliorChart .text-range-selector{
        min-width:20%;
    }
    
    .aliorChart .text-show-range{
        width: auto;
    }
    
    .aliorChart .text-select-range{
        width: auto;
    }

    .aliorChart .chart-under {
        width: 100%;
    }
    
    /*.aliorChart .rickshaw_graph .x_tick:nth-child(2n+1) {*/
    /*    display: block;*/
    /*}*/
}



@media only screen and (max-width: 40.063em){

    
    /*.aliorChart .rickshaw_graph .x_tick:nth-child(4n+1) {*/
    /*    display: block;*/
    /*}*/
    
    .aliorChart .rickshaw_graph .y_ticks text,
    .aliorChart .rickshaw_graph .x_ticks_d3 text,
    .aliorChart .rickshaw_graph .x_tick .title {
        font-size: 10px;
    }

 .aliorChart{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64.000em){

    .aliorChart .rickshaw_graph .x_tick:nth-child(3n+1) {
        display: block;
    }
    
}


@media only screen and (min-width: 40.063em){
    .aliorChart .rickshaw_graph .detail .item {
      min-width:205px;
      white-space: nowrap;
    }
}

@media only screen and (min-width: 64.063em){

    .aliorChart .rickshaw_graph .x_tick:nth-child(2n+1) {
        display: block;
    }
}

/* Alior Chart Component */



/* Alior CTA Button Component */

.section-top {
    margin-bottom: 30px;
}

/*.section-top h1 {*/
/*    padding: 40px 0 60px;*/
/*}*/

.section-top p.large-text-center:first-of-type {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 25px;
}

.section-top p.large-text-center:last-of-type {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 40px;
}

.section-top a.button {
    font-weight: 400;
}

/* Alior CTA Button Component */


/* Alior Custom Menu Component */

.custom-menu {
    text-align: center;
}

.custom-menu span, 
.four .custom-menu span {
    display: inline-block;
    width: 32%;
    line-height:30px;
}

.three .custom-menu span, 
.two .custom-menu span:first-child {
    width: 50%;
}

.custom-menu span:first-child {
    width:100%;
}

.custom-menu svg {
    display: none;
}

/* ----------- MEDIA QUERIES ---------- */
@media only screen and (min-width: 40.063em) {
    .custom-menu {
        text-align: right;
    }

    .custom-menu span,
    .two .custom-menu span,
    .three .custom-menu span,
    .four .custom-menu span,
    .custom-menu span:first-child,
    .two .custom-menu span:first-child, 
    .three .custom-menu span:first-child,
    .four .custom-menu span:first-child{
        width: auto;
        text-align: left;
    }

      
    .custom-menu span {
        line-height: 30px;
        padding-left:3em;
        position:relative;
    }
    .custom-menu span:not(:first-child) {
        margin-left: 20px;
    }

    .custom-menu a span {
        display: inline-block;
        vertical-align: middle;
    }
    
    .custom-menu svg {
        display: inline-block;
        height: 25px;
        width: 30px;
        vertical-align: middle;
        position:absolute;
        top:0;
        left:0;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    
    .custom-menu span:not(:first-child) {
        margin-left: 3px;
    }
    .custom-menu a span {
        max-width: 75px;
    }
    
    .custom-menu span {
        padding-left:37px;
    }
}

/* Alior Custom Menu Component */




/* Alior IPO table Component */

table.ipo thead tr {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

table.ipo thead tr td {
    padding: 25px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    background: #fff;
}

table.ipo tr:nth-of-type(even) {
    background: #f1f1f1;
}

table.ipo tr:nth-of-type(odd) {
    background: #fff;
}

.ipo tbody td {
    padding: 25px 10px;
    border-bottom: 1px solid #ccc;
}


.ipo-table .pp {
    height: 25px;
    width: 25px;
    padding: 5px;
    border: 1px solid #ccc;
    color: #999;
    font-size: 10px;
    border-radius: 100%;
    margin-right: 0;
    font-weight: 400;
}


.ipo tbody td .pp {
    height: 32px;
    width: 32px;
    padding: 5px;
    border: 2px solid #ccc;
    color: #999;
    font-size: 14px;
    border-radius: 100%;
    margin-right: 0;
    font-weight: 500;
}

table.ipo td:nth-child(1) {
    min-width: 200px;
}

table.ipo td:nth-child(1) a {
    font-weight: 500;
    line-height: 30px;
}

.page-number {
    margin: 0 7px;
    font-size: 20px;
    color: #7A0035;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.page-number.active{
    color: #000;
    cursor: default;
}

.ipo-table .pager {
    margin: 20px 0;
    display: block;
}

.ipo-table .legend .left {
    font-size: 12px;
    color: #999;
}

/* Alior IPO table Component */



#events-overview .calendar table thead tr th,
#events-overview .calendar table tr td {
    max-width: 20px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    color: #7a0035;
}
#events-overview .calendar table tr td.on {
    /*background: #ffc426;*/
    font-weight: 700;
    color: #000;
}

#events-overview .responsive-table-wrap table {
    min-width: 100%;
    background: #fafafa;
    border: none;
}

#events-overview .calendar table tr:nth-of-type(even),
#events-overview .calendar table tr:nth-of-type(odd){
    background: none;
    border: none;
}
#events-overview .calendar {
    margin-top: 60px;
}

#events-overview .calendar .month-header {
    background: #7a0035;
    color: #fff;
    font-size: 16px;
    display: block;
    height: 30px;
    line-height: 30px;
    text-transform: capitalize;
}

#events-overview .calendar table thead {
    background: none;
}

#events-overview .calendar table tr td:nth-of-type(6),
#events-overview .calendar table tr td:nth-of-type(7),
#events-overview .calendar table tr th:nth-of-type(6),
#events-overview .calendar table tr th:nth-of-type(7){
    background: #f1f1f1;
}
#events-overview .calendar abbr[title] {
    border: none;
    color: #ccc;
}

#events-overview .event-pager {
  text-indent: 0;  
  height: 60px;
} 

#events-overview .event-pager ul {
    width: 100%;
    
}

#events-overview .event-pager .prev {
    margin-left: 25px;
    color: #7a0035;
    text-transform: capitalize;
}

#events-overview .event-pager .next {
    margin-right: 25px;
    color: #7a0035;
    text-transform: capitalize;

}

#events-overview .event-pager .prev:before {
    content:'\a10c';
    font-family: 'icons';
    position:absolute;
    top:0;
    left: 5px;
    font-size: 38px;
    margin-right: 10px;
}

#events-overview .event-pager .next a,
#events-overview .event-pager .prev a {
    text-indent: initial;
    font-family: 'Roboto', 'sans-serif';
    line-height: 60px;
    font-size: 18px;
}

#events-overview .event-pager .next:after {
    content:'\e6f7';
    font-family: 'icons';
    position:absolute;
    top:0;
    right: 5px;
    font-size: 38px;
    margin-left: 10px;
}

#events-overview .event-pager .next:before,
#events-overview .event-pager .prev:after {
    display: none;
}

#events-overview ul.events-list {
    margin-left: 0;
}    

#events-overview .event-pager li.table-subtitle{
    top: 10px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #7a0035;
    line-height: 40px;
    width: 60%;
}
    


.event-detail.location-detail .text-right{
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


/* Special offer boxes */


.homepage-wrap.special {
    margin-top: 30px;
}

.special h1 {
    font-size: 24px!important;
    line-height: 26px;
    white-space: normal;
    font-weight: 600;
    margin: 10px 0;
}

.special .product{
    padding: 18px 10px 17px;
    border: none;
    margin-top: 5px!important;
}

/* burgundy */
.special.burgundy h1 {
    color: #7a0035;
}

.special.burgundy .product {
    background: #7a0035;
    color: #fff;
}

.special.burgundy .product h2{
    color: #fff;
}

.special.burgundy .product .button{
    color: #7a0035;
    background: #fff;
}


/* yellow */
.special.yellow h1 {
    color: #000;
}

.special.yellow .product {
    background: #ffc426;
}



@media only screen and (min-width: 40.063em){
    .special .product{
        padding: 23px 12px 22px;
    }
}

