/* Expandable Table Start*/

.expandable-table{
    position: relative;
    display: block;
    margin-bottom: 20px;
    overflow-y: hidden !important;
    overflow-x: auto !important;
}

.toggle-table-wrap{
    /*display: block;*/
    /*background: #fafafa;*/
    /*border-top: 1px solid #f9f9f9;*/
    /*border-bottom: 1px solid #f9f9f9;*/
    margin-bottom: 30px;
    /*-webkit-transition: background, 0.2s;*/
    /*-moz-transition:    background, 0.2s;*/
    /*-ms-transition:     background, 0.2s;*/
    /*transition:         background, 0.2s;*/
}
.toggle-table-wrap:hover{
    /*background: #f5f5f5;*/
    /*border-top: 1px solid #f5f5f5;*/
    /*border-bottom: 1px solid #f5f5f5;*/
    /*-webkit-transition: background, 0.2s;*/
    /*-moz-transition:    background, 0.2s;*/
    /*-ms-transition:     background, 0.2s;*/
    /*transition:         background, 0.2s;*/
}
.toggle-table{
    display: inline-block;
    /*padding: 10px;*/
    color: #7a0035;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

@media only screen and (min-width: 40.063em) {
    .toggle-table{
        font-size: 16px;
    }    
}

/* Expandable Table End*/