/* Footer Area Start*/

#footer {
    width: 100%;
    border-top: 1px solid #F1F1F1;
    color: #7A0035;
    font-size: 14px;
    position: relative;
}

#footer .landing{
    color: #000;
    font-size: 14px;
    padding-bottom: 50px;
}

#footer .navigation ul {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    border-bottom: 1px solid #fff;
}

#footer ul li {
    list-style: none;
}

#footer a, #footer a:hover, 
#footer a:focus {
    color: #7A0035;
}

#footer a[href^="tel:"] {
    text-decoration: none;
}

#footer .apps {
    padding: 20px 0;
    background: #fff;
}

#footer .navigation {
    background: #F1F1F1;
}

#footer .navigation a {
    display: block;
    line-height: 1.25em;
    padding: 0.75em 0;
}

#footer .navigation li:first-child {
    position: relative;
}

#footer .navigation li:first-child a {
    font-weight: 700;
    padding: 0;
    line-height: 49px;
    height: 49px;
}

#footer .navigation li:first-child .col-trigger {
    position: absolute;
    right: 0;
    top: 9px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 0;
}

#footer .navigation li:first-child .col-trigger:before {
    font-size: 30px;
    font-weight: 700;
}

#footer .navigation li:first-child .col-trigger.expand:before {
    /* content: "\a108" asokolowski */
    content: "\a112";
}

#footer .navigation li:not(:first-child) {
    display: none;
}

#footer .newsletter {
    background: #f1f1f1;
    padding: 10px 0 25px;
}

#footer .info {
    padding: 20px 0;
    background: #fff;
}

#footer .helpline {
    line-height: 32px;
}

#footer .helpline strong {
    font-weight: 500;
}

#footer .helpline svg {
    height: 32px;
    width: 32px;
    margin-left: -5px;
}

#footer .social-bar {
    text-align: center;
    /* clear:both; asokolowski */
}

#footer .social-bar .small-block-grid-4 li {
    padding: 0;
    margin-top: 1.25rem;
}

#footer .social-bar a {
    border: 1px solid #7A0035;
    display: inline-block;
    font-size: 17px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 27px;
}
#footer .social-bar svg {
    max-height: 24px;
    max-width: 24px;
    padding: 2px;
}

/* ----------- MEDIA QUERIES ---------- */
@media only screen and (min-width: 40.063em) {
    #footer .navigation ul {
        margin: 0 0 3.5em;
        border-bottom: none;
    }
    
    #footer .navigation a {
        padding: 0.45em 0;
    }
    
    #footer .navigation li:first-child a {
        line-height: 1.25em;
        padding: 0.45em 0;
        height: auto;
    }
    
    #footer .navigation li:first-child .col-trigger {
        display: none;
    }
    
    #footer .navigation li:not(:first-child) {
        display: block;
    }
    
    #footer .newsletter {
        border-top: 1px solid #ddd;
        padding: 30px 0;
    }
    
    #footer .navigation .row .single-col {
        padding-top: 50px;
    }
    
    #footer .apps {
        padding: 45px 0 35px;
    }
    
    #footer .helpline i {
        margin-right: 13px;
    }
    
    #footer .social-bar .small-block-grid-4 li {
        margin-top: 0;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #footer .apps {
        padding: 45px 20px;
    }
    
    #footer .info {
        padding: 20px;
    }
    
    #footer .navigation {
        padding: 0 20px;
    }
    
    #footer .lang-select {
        margin-right: 60px;
    }
}

/* Footer Area Start*/