.invest-profiles{
    position: relative;
    margin-bottom: 40px;
}
.invest-profiles h3{
    margin-bottom: 0.5em;
    font-size: 30px;
}
.invest-profiles section{
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow-x: auto;
}
.invest-profiles .dots-wrap{
    position: relative;
    padding-bottom: 24px;
    min-width: 700px;
}
.invest-profiles .dots-wrap:before{
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
}
.invest-profiles .dot{
    float: left;
    display: block;
    text-align: center;
    position: relative;
    padding: 36px 0.25em 0;
    font-size: 14px;
    line-height: 1.25em;
}
.invest-profiles .dot.active{
    font-weight: 700;
}
.invest-profiles .dot:before{
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0 auto;
}
.invest-profiles .dot:after{
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 11px;
    margin: 0 auto;
    background: #fff;
}
.invest-profiles .dot.active:after{
    width: 14px;
    height: 14px;
    top: 12px;
    border: 2px solid #fff;
    background: #36C670;
}
.has-3-items .dot{width: 33.33%;}
.has-4-items .dot{width: 25%;}
.has-5-items .dot{width: 20%;}
.has-6-items .dot{width: 16.66%;}
.has-7-items .dot{width: 14.285%;}
.has-8-items .dot{width: 12.5%;}


/* ----------- MEDIA QUERIES ---------- */
@media only screen and (min-width: 40.063em) {
    .invest-profiles .dot{
        font-size: 16px;
        padding: 36px 0.5em 0;
    }
        
    .invest-profiles h3{
        font-size: 48px;
    }
}

@media only screen and (min-width: 64.063em) {
    
}