/* Metanavigation Links Component Start*/

.top-bar {
    display: none;
    height: 40px;
}

.top-bar.stick {
    width: 100%;
}

.top-bar ul {
    float: right;
    height: 40px;
    margin: 0 5.4em 0 0;
}

.top-bar ul li {
    display: inline-block;
    margin: 0 10px;
    font-weight: 300;
}
/*.top-bar ul li:last-child {*/
/*    background: #FFC426;*/
/*    font-size: 15px;*/
/*    margin: 0 0 0 30px;*/
/*    padding: 0 15px 0 30px;*/
/*    width: 95px;*/
/*} */

.top-bar ul li a {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

/*.top-bar ul li:last-child a {*/
/*    color: #7A0035;*/
/*    line-height: 40px;*/
/*    height: 40px;*/
/*    border-bottom: solid 2px transparent;*/
/*}*/

.top-bar ul li.active a, .top-bar ul li:hover a, .top-bar ul li:focus a {
    color: #fff;
    border-bottom: solid 2px #FFC426;
}

.top-bar ul li.active {
    font-weight: 700;
}

/* ----------- MEDIA QUERIES ---------- */
@media only screen and (min-width: 40.063em) {
}

@media only screen and (min-width: 64.063em) {
    .top-bar {
        display: block;
    }
}

@media only screen and (max-width: 68.571em) {
    
}

/* Metanavigation Links Component End*/