/* Footer mobile links override */
#content-landing-page .col-trigger {
    display: none;
    visibility: hidden;
}


#content-landing-page #footer .navigation li:not(:first-child) {
    display: block!important; 
}

#content-landing-page #footer ul li {
    list-style: block!important; 
}

#content-landing-page #footer .navigation ul {
    border: none;
}



/* Nav override */
#content-landing-page nav ul li:before {
    display: none;
}




.landing-product-top {
    position: relative;
    z-index: 6;
}
    





#content-landing-page .main-banner {
    padding-top: 0;
    top: -86px;
}

#content-landing-page footer {
    top: -56px;
}

#content-landing-page .top-bg li{
    font-size: 18px;
}

#content-landing-page .top-bg .product-image img {
    z-index: 20;
    position: relative;
    max-height: 205px;
}



#content-landing-page .main-nav.open > ul {
    display: block!important;
}

#content-landing-page .main-nav.open > ul li {
    line-height: 10px;
    text-align: center;
}

#content-landing-page .main-nav.open > ul li a{ 
    width: 100%;
}

#content-landing-page .main-nav.open .cd-label {
    width: 100%;
    text-align: center;
}



#cd-vertical-nav .main-nav.open {
    position: fixed!important;
    top: 43px!important;
}


@media only screen and (max-width: 640px) {
    #cd-vertical-nav.main-nav > ul {
        top: 86px;
    }
   
    #content-landing-page .info-box .image img {
        border: none;
        float: initial;
        padding-right: 0;
        margin: 0 auto;
    }
}

#content-landing-page  small.success:after {
    right: 10px;
}


#content-landing-page .menu-trigger:before {
    content: '\e6f4';
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #7a0035;
}


#content-landing-page .menu-trigger {
    font-size: 12px;
    line-height: 1;
    position: absolute;
    top: 52px;
    right: 1.5rem;
    z-index: 22;
    cursor: pointer;
    color: #7a0035;
}




.nav-wrap-landing .category {
    margin-left: 105px;
    z-index: 25;
    font-size: 10px;
    padding-top: 25px;
    width: 55%;
    line-height: 24px;
    float: left;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    color: #7A0035;
    height: 86px;
    transition: all 0.5s ease-in-out;
    
}


@media only screen and (min-width: 341px) {
    .nav-wrap-landing .category {
        margin-left: 100px;
        font-size: 12px;
    }
}



@media only screen and (min-width: 481px) {
    .nav-wrap-landing .category {
        margin-left: 135px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 641px) {
    .nav-wrap-landing .category {
        margin-left: 160px;
    }
}

@media only screen and (min-width: 1200px) {
    .nav-wrap-landing .category {
        margin-left: 0px;
    }
}

.black .nav-wrap-landing .category {
    color: #ffc426;
}

#content-landing-page .logo {
    position: absolute;
    z-index: 22;
}

#content-landing-page .logo img{
    max-height: 86px;
}

@media only screen and (min-width: 641px) {
    #content-landing-page .logo img{
        max-height: 125px;
    }
}

.landing-product-top .top-bg {
    padding-top: 136px;
    margin-bottom: 50px;
    padding-bottom: 25px;
    height: auto;
    z-index: 0;
}




@media only screen and (min-width: 40.063em) {
    .landing-product-top .top-bg {
        padding-top: 116px;
    }
}
@media only screen and (min-width: 1260px) {
    .landing-product-top .top-bg {
        padding-top: 96px;
    }
}


#content-landing-page h1 a,
#content-landing-page h2 a,
#content-landing-page h3 a {
    color: #7A0035;
    margin: 0 0 20px;
}

#content-landing-page h3,
#content-landing-page .info-box h2,
#content-landing-page .form-section h2,
#content-landing-page .formatted-content h2,
#content-landing-page .seo-box h2,
#content-landing-page .landing-list h2{
    color: #000;
}

.black #content-landing-page h1,
.black #content-landing-page h2,
.black #content-landing-page h3 {
    color: #ffc426;
}


.landing-product-top .component-title header h2 {
    color: #7A0035;
}

.black .landing-product-top .component-title header h2 {
    color: #ffc426;
}


#content-landing-page .benefit-title h2 {
    color: #000;
}

#content-landing-page .accordion-list.alt-style > h2,
#content-landing-page .accordion-list h2,
#content-landing-page .landing-path h2 {
    font-size: 30px;
}


.landing-icon {
    position: relative;
    bottom: -45px;
    left: 0;
    right: 0;
    z-index: 99;
}


@media only screen and (min-width: 64.063em) {
    #content-landing-page .accordion-list.alt-style > h2,
    #content-landing-page .accordion-list h2,
    #content-landing-page .landing-path h2 {
        font-size: 55px;
    }
    
    .landing-icon {
        position: absolute;
    }
    
    .with-icon {
       min-height: 100px;
    }
}

.landing-path svg {
    height: 60px;
}

.landing-path svg path,
.top-right-column .description-bullet svg path{
    fill: #bbb;
}

.top-right-column:empty {
    display: none!important;
}

.black .landing-path svg path,
.black .top-right-column .description-bullet svg path{
    fill: #ffc426;
}



.landing-path .step-header{
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 700;
}

@media only screen and (min-width: 40.063em) {
    .landing-path .step-header{
        margin-top: 0;
    }
}



.left-side .info-box {
    text-align: left!important;
}

.right-side .info-box {
    text-align: left!important;
}


@media only screen and (max-width: 64em) {
    .left-side .seo-box.alternative {
        margin-left: 0;
        margin-right: 0;
    }
    
    .right-side .seo-box.alternative{
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 64.063em) {
    .left-side .seo-box.alternative {
        margin-right: 10px;
    }
    
    .right-side .seo-box.alternative,
    .right-side .seo-box.alternative h2{
        margin-left: 10px;
        
    }
}






#content-landing-page .info-box li{
    font-size: 16px;
}

.left-side .info-box .image img, 
.right-side .info-box .image img {
    margin-right: 0;
    border-right:0;
    max-width: 85px;
    padding-right: 15px;
}

@media only screen and (min-width: 40.063em) {
    .left-side .info-box {
        margin-right: 10px;
    }
    .right-side .info-box {
        margin-left: 10px;
    }
}

/* Form */

#content-landing-page .landing-product-top .form-section h2{
    font-size: 20px;
    line-height: 22px;
    text-align: left!important;
}

#content-landing-page .form-section {
    max-width: 960px;
    margin: 0 auto 50px auto;
}

/* component header */
#content-landing-page .component-title{
    padding-bottom: 10px;
    padding-top: 0;
}

.landing-product-top .component-title header h2 {
    margin-bottom: 5px;
    text-align: left;
}
.landing-product-top .component-title header p {
    font-size: 28px;
    text-align: left;
    margin-bottom: 5px;
}

#content-landing-page nav + .benefits-wrapper {
    margin-top: 25px;    
}

/* nav */
#content-landing-page #cd-vertical-nav {
    display: block;
    background: #fff;
    width: 100%;
    height: 86px;
    top: auto;
    z-index: 7;
    right: auto;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


#content-landing-page #cd-vertical-nav.main-nav {
    z-index:21;
    top: 43px!important;
    position: absolute!important;
}

#content-landing-page #cd-vertical-nav a {
     display: inline-block; 
     -webkit-backface-visibility: hidden; 
     backface-visibility: hidden; 
     margin: 0; 
}


#content-landing-page #cd-vertical-nav a{
    border-bottom: 4px solid transparent;
    height: 46px;
}

#content-landing-page #cd-vertical-nav a.is-selected{
    border-bottom: 4px solid #7A0035;
    height: 46px;
}



#content-landing-page #cd-vertical-nav .cd-label {
    padding: 0 20px;
    color: #7A0035;
    font-size: 18px;
    line-height: 42px;
    opacity: 1;
    right: auto;
    top: auto;
    left: auto;
    transform: none;
    background: none;
    position: relative;
}




#content-landing-page #cd-vertical-nav ul {
    margin: 0 auto;
    line-height: 1;
    max-width: 960px;
}


@media only screen and (min-width: 1024px) {
    #content-landing-page #cd-vertical-nav ul {
        height: 86px;
        overflow: hidden;
    }
}


#content-landing-page #cd-vertical-nav li {
    text-align: left;
    display: inline-block;
}



#content-landing-page #cd-vertical-nav a {
  display: inline-block;
  margin:0;
  position: relative;
}

#content-landing-page #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

#content-landing-page #cd-vertical-nav a span {
  float: right;
  display: inline-block;
}

#content-landing-page #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}



#content-landing-page #cd-vertical-nav .cd-dot,
#content-landing-page #cd-vertical-nav .cd-label:after,
#content-landing-page #cd-vertical-nav a.is-selected .cd-dot::before,
#content-landing-page #cd-vertical-nav .cd-dot,
#content-landing-page #cd-vertical-nav .cd-dot::before ,
#content-landing-page #cd-vertical-nav .cd-label:after {
   display: none;
}


@media only screen and (min-width: 980px) {
    #content-landing-page #cd-vertical-nav a.is-selected{
        height: 86px;
    }
    
    #content-landing-page #cd-vertical-nav .cd-label {
        /*line-height: 82px;*/
        height: 82px;
        position: relative;
        z-index: 10;
        line-height: 20px;
        padding-top: 25px;
        
        -ms-word-break: break-all;
        word-break: break-all;
    
     /* Non standard for webkit */
         word-break: break-word;
    
        -webkit-hyphens: auto;
           -moz-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
                
        white-space: normal;        
    }
    
    #content-landing-page #cd-vertical-nav a {
        height: 86px;
    }
}




/* ----------- MEDIA QUERIES ---------- */
@media only screen and (min-width: 64.063em) {
    #cd-vertical-nav {
        display: block;
    }
}

/* ScrollSection Component End*/

    #content-landing-page .form-wrapper .checkbox,
    .landing-product-top .form-wrapper .checkbox {
        margin-top: 15px;
        margin-left: 15px;
    }
    
    




@media only screen and (min-width: 40.063em) {


    #content-landing-page .form-wrapper .checkbox {
        margin-top: 15px;
        margin-left: 90px;
        min-height: 30px;
    }
    
    #content-landing-page .form-wrapper label {
        float: left;
        width: 90px;
        line-height: 50px!important;
        padding-right: 10px;
        text-align: right;
    }
    
    #content-landing-page .form-wrapper .area label,
    #content-landing-page .form-wrapper .multilevel-select label{
        line-height: 30px!important;
    }
    
    
    #content-landing-page .form-wrapper .area .tooltip-wrapper .tooltipster-icon,
    #content-landing-page .form-wrapper .multilevel-select .tooltip-wrapper .tooltipster-icon{
        top: 5px;
    }
    
    
    #content-landing-page .form-wrapper .branch-selection label {
        float: initial;
        width: 100%;
        height: 30px;
    }
    
    #content-landing-page .form-wrapper .group-selection label {
        float: left;
        width: auto;
        height: 25px;
        line-height: 30px!important;
    }
    
    /*#content-landing-page .form-wrapper .group-selection label,*/
    /*.landing-product-top .form-wrapper .group-selection label {*/
    /*    float: left;*/
    /*    width: auto;*/
        /*line-height: 20px!important;*/
    /*}*/
    
    #content-landing-page .form-wrapper .branch-selection label {
        text-align: left;
    }
    
    #content-landing-page .form-wrapper .branch-selection.error small.error {
        width: 100%;
        left: 0;
        max-width: 100%;
        margin-right:0;
    }
    
    #content-landing-page .form-wrapper .group-selection .tooltipster-icon {
        top: 2px;
        position: relative;    
    }
    
    
    #content-landing-page .form-wrapper .checkbox label,
    .landing-product-top .form-wrapper .checkbox label {
        clear: both;
        width: 100%;
        text-align: left;
        line-height: 20px!important;
        height: 100%;
    }
    
    


    
    
    #content-landing-page .form-wrapper input[type="text"],
    .landing-product-top .form-wrapper input[type="text"] {
        width: calc(100% - 91px);
    }
}

@media only screen and (min-width: 64.063em) {
    #content-landing-page .form-wrapper .checkbox label {
        font-size: 12px;
        line-height: 25px!important;
    }
    
}

@media only screen and (min-width: 64.063em) {
    #content-landing-page .form-wrapper .checkbox {
        margin-left: 50px;
    }
}


.landing-product-top .form-section #captcha {
    width: 100%!important;
}

.landing-product-top .form-section .captcha-container img {
    height: 38px!important;
    width: auto;
}

@media only screen and (max-width: 40.0em) {
    .captcha {
        margin-top: 20px;   
    }
}
.landing-product-top .form-section {
    padding: 0;
}

#content-landing-page .form-section .text h2 {
    font-size: 30px;
    line-height: 36px;
}

@media only screen and (max-width: 40.063em) {
    #content-landing-page .form-section .text h2 {
        padding: 15px;
    }
    
    #content-landing-page .form-section .button-wrapper {
        padding: 10px 15px 0;
    }
}

.landing-product-top .form-wrapper {
    width: 100%!important;
}

#content-landing-page .form-wrapper {
    width: 80%;
    margin: 0 auto;
}

/* link */
#content-landing-page a.arrow:after {
    font-family: 'icons';
    font-size: 1.5em;
    font-weight: 700;
    content: '\e6f7';
    position: relative;
    right: 0;
    top: 5px;
}

#content-landing-page .submit-outer {
    min-width: auto;
}

.landing-product-top .submit-outer {
    min-width: 50%!important;
}

.landing-path {
    padding: 40px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
#content-landing-page .landing-list {
    padding: 10px 0 40px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#content-landing-page .landing-list h2, 
#content-landing-page .landing-list p {
    padding-bottom: 0;
}


.landing-product-top .landing-path {
    padding: 0;
    border: none;
}

#content-landing-page .table-block .image > span {
    background: #fff;
    position: relative;
    z-index: 2;
    display: inline-block;
    max-height: 60px;
}

    .landing-path .table-block .image:after {
        content: '•••••••••••••••••••••';
        color: #bbb;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        display: block;
        top: 10px;
        left: -18px;
        position: relative;
    }


@media only screen and (min-width: 40.063em) {
   
    .landing-path .table-block .image:after {
        position: absolute;
        top: 20px;
        left: auto;
        color: #bbb;
        display: inline-block;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
   
    .landing-path.has-2-items .table-block .image:after {
        content: '••••••••••••••••••••••••••••••••••••';
    }

    .landing-path.has-3-items .table-block .image:after {
        content: '••••••••••••••••••••••••••••••';
    }

    .landing-path.has-4-items .table-block .image:after,
    .landing-path.has-5-items .table-block .image:after{
        content: '••••••••••••••••••••••••';
    }

    .landing-path.has-6-items .table-block .image:after,
    .landing-path.has-7-items .table-block .image:after,
    .landing-path.has-8-items .table-block .image:after{
        content: '••••••••••••••••••';
    }

    
}






#content-landing-page .dot:last-child .table-block .image.no-dots:after,
#content-landing-page .dot:last-child .table-block .image:after,
#content-landing-page .left:last-child .table-block .image:after{
    content: '';
    display: none;
}


@media only screen and (max-width: 40.063em) {
    #content-landing-page .dot:nth-last-child(2) .table-block .image:after {
        content: '';
        display: none;
    }
}




#content-landing-page .image.no-dots:after {
    content: '';
}


@media only screen and (max-width: 40.063em) {
    #content-landing-page .has-1-items .dot,
    #content-landing-page .has-2-items .dot,
    #content-landing-page .has-3-items .dot,
    #content-landing-page .has-4-items .dot,
    #content-landing-page .has-5-items .dot,
    #content-landing-page .has-6-items .dot,
    #content-landing-page .has-7-items .dot,
    #content-landing-page .has-8-items .dot{
        width: 300px;
        margin: 0 auto;
    }
}


    


#content-landing-page .help-icon {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    display: inline-block;
    padding-right: 10px;
    position: relative;
    left: -8px;
}

@media only screen and (min-width: 40.063em) {
    #content-landing-page .help-icon {
        display: inline-block;
        padding-left: 25px;
        position: absolute;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        left: auto
    }
}


#content-landing-page .top-person-image,
#content-landing-page .top-person-image img{
    height: 100%;
    /* max-height: 450px; */
    max-height: 550px;
    max-width: 100%;
}

#content-landing-page .top-person-image {
    width: 500px;     
}


#content-landing-page .benefit-item .single-cta {
    margin-left: 35px;
}

@media only screen and (min-width: 40.063em) {
    #content-landing-page .benefit-item .single-cta {
        margin-left: 65px;
    }
}

@media only screen and (max-width: 64.063em) {
    #content-landing-page .content-seo-wrapper img{
        float: none!important;
        clear: both;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

}

#content-landing-page .main-banner .form-section form input:not([type="checkbox"]) {
    height: 40px;
}


#content-landing-page .button.large {
    line-height: 45px;
    padding: 0 30px;
}

#content-landing-page button.transparent,
#content-landing-page button.secondary.transparent,
#content-landing-page .button.transparent, 
#content-landing-page .button.secondary.transparent {
    line-height: 43px;
    margin: 0px 2px;
}


#content-landing-page .composite-bottom .button.secondary.transparent {
    margin: 0px -1px;
}
    
    
#content-landing-page .bg-grey .info-box {
    background: none;
    border: none;
    padding: 30px 0 0 0;
}

@media only screen and (min-width: 64.063em) {
    #content-landing-page .download-link-item {
        padding-left:0;
    }
}

#content-landing-page .download-links .single-link a {
    line-height: 40px;
}

#content-landing-page .benefits-wrapper {
    margin-bottom: 25px;
}

#content-landing-page ul.tabs {
    margin-top: -30px;
    width: 100%;    
}

#content-landing-page ul.tabs li {
    display: inline-block;
    border-bottom: 4px solid transparent;
    padding: 0 20px;
}


#content-landing-page .tabs-content > div {
    display: none;
}

#content-landing-page .tabs-content > div.active {
    display: block;
}

#content-landing-page ul.tabs li.active {
    border-bottom: 4px solid #7A0035;
}

#content-landing-page .tabs-content {
    margin-top: 25px;
}


#footer .landing.navigation a {
    display: inline;
}

#footer .landing.navigation li:first-child a {
    font-weight: 300;
    line-height: 1.25em;
    height: auto;
}


#content-landing-page .top-right-column.grey{
    background: #ededed;
}
#content-landing-page .top-right-column.grey:empty {
    background: none;
}
#content-landing-page .top-right-column p.benefit-component {
    padding-left: 50px;
}

#content-landing-page .top-right-column p .description-bullet {
    margin-bottom: 0;
    display: inline-block;
    float: left;
    margin-top: -5px;
}

#content-landing-page .top-right-column p .bullet-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

#content-landing-page .top-right-column p {
    font-size: 20px!important;
}
#content-landing-page .top-right-column p  a{
    font-size: 14px!important;
}


#content-landing-page .top-right-column .description-bullet svg {
    height: 36px;
    width: 36px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: -40px;
    margin-right: 0;
}

#content-landing-page .top-right-column .description-bullet svg path{
     fill: #000;
}

#content-landing-page .top-right-column .component-title h2 {
    color: #000!important;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0 10px 0;
}

#content-landing-page .top-right-column .component-title p {
    padding-left: 0;
}

#content-landing-page .multilevel-select label {
    width: 100%!important;
    text-align: left;
}


@media only screen and (min-width: 40.063em) {
    #content-landing-page .has-2-items .dots-wrap {
        max-width: 460px;
        margin: 0 auto;
    }
    
    #content-landing-page .has-3-items .dots-wrap {
        max-width: 580px;
        margin: 0 auto;
    }
    
    #content-landing-page .has-4-items .dots-wrap {
        max-width: 700px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 64.063em) {
    #content-landing-page .top-right-column {
        display: table;
    }
    
    #content-landing-page .top-right-column .form-section{
        /*display: table-cell;*/
        /*vertical-align: middle;*/
        clear: both;
    }
}

#content-landing-page .landing-product-top .top-left-column {
    position: relative;
    z-index: 100;
}

#content-landing-page .landing-product-top .thank-you-content .text-center h2{
    font-size: 30px!important;
    line-height: 36px!important;
    text-align: center!important;
}

#content-landing-page .landing-product-top .success-component svg{
    max-width: 200px;
}    
    
#content-landing-page .landing-product-top .success-component svg path{
    fill: #222;
}   

.black .landing-product-top .success-component svg path,
.landing-product-top .bg-yellow .success-component svg path,
.landing-product-top .bg-black .success-component svg path{
    fill: #fff;
}  


#content-landing-page .top-columns .content img {
    display: block;
    margin: 0 auto;
    text-align: center;
}



@media only screen and (min-width: 40.063em) {
    #content-landing-page .top-columns .content > div {
        display: table;
        height: 100%;
        width: 100%;
        
    }
    
    #content-landing-page .top-columns .content > div > div {
        display: table-cell;
        vertical-align: middle;
    }
    
    #content-landing-page .top-columns .content > div > div img {
        width: 100%;
    }
}


#canvas-holder {
    display: block;
    margin: 0 auto;
}

#content-landing-page .tabbed-plots {
    margin-top: 50px;
}

body.noComponents,
body.black.noComponents,
body.yellow.noComponents{
    background: #f1f1f1;
}

#content-landing-page.noComponents footer {
    top: -86px;
}

#content-landing-page.noComponents footer section {
    padding-top: 35px;
}

#content-landing-page.noComponents .landing-product-top .top-bg {
    margin-bottom: 0;
}

#content-landing-page .legend-chart {
    width: 100%;
    height: 75px;
    top: 50%;
    margin: -17px auto 0;
    padding-left: 20px;
    text-align: center;
    position: absolute;
    text-align:center;
    font-size: 26px;
    line-height: 28px;
    font-weight: 600;
    z-index:2;
}
#content-landing-page .legend-chart p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #000;
}

#content-landing-page .landing-product-top .title-affirmation,
#content-landing-page .landing-product-top .affirmation{
    font-size: 12px;
    line-height: 16px;
}


#content-landing-page .field-affirmation .error small.error {
    position: absolute;
    top: 30px;
}




#content-landing-page canvas {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none
}
@media only screen and (min-width: 40.063em) {
    #content-landing-page .landing-product-top .single-cta {
        margin-left: 15px;
    }
    
    #content-landing-page .landing-product-top .composite-content-inside .single-cta {
        margin-left: 0;
    }
}



#content-landing-page .checkbox.error small.error {
    margin-top: 5px;
    position: absolute;
    left: 0;
    width: 100%;
    /*width: calc(100% - 15px);*/
    /*max-width: calc(100% - 15px);*/
    z-index: 1;
}

@media only screen and (min-width: 40.063em) {
    #content-landing-page  .checkbox.error small.error {
        margin-top: 35px;
        max-width: 100%;
    }
}

@media only screen and (min-width: 40.063em) {
    /*#content-landing-page .checkbox.error small.error {*/
    /*    max-width: 260px;*/
    /*}*/
}


#content-landing-page .checkbox.error {
    margin-bottom: 20px;    
}

@media only screen and (min-width: 40.063em) and (max-width: 64.0em) {
    #content-landing-page .checkbox.error {
        margin-bottom: 27px;    
    }
    #content-landing-page .field-affirmation label {
        padding-top: 4px;    
    }
}


/*#content-landing-page .landing-product-top small.error {*/
/*    margin-right: 100px;*/
/*}*/



#content-landing-page .area textarea,
#content-landing-page .area small.error,
#content-landing-page .area label{
    width: calc(100% - 30px);
    margin-left: 15px;
}

@media only screen and (max-width: 40em) {
    #content-landing-page .area .tooltip-wrapper textarea {
        width: calc(100% - 43px);
    }

    #content-landing-page .tooltip-wrapper input[type="text"]{
        width: calc(100% - 13px);
    }

    #content-landing-page .area .tooltip-wrapper .tooltipster-icon {
        right: 15px;
        top: 0px;
    }
}

@media only screen and (min-width: 40.063em) {
    #content-landing-page .area textarea,
    #content-landing-page .area small.error,
    #content-landing-page .area label{
        width: 100%;
        margin-left: 0;
    }
}

    
#content-landing-page .area small.error,
#content-landing-page .captcha-input small.error {
    left: 0;
    margin-right: 0;
    max-width: 100%;
}

#content-landing-page .area label{
   text-align: left;
}
    
@media only screen and (min-width: 40.063em) {
    #content-landing-page small.error {
        left: 90px;
        margin-right: 92px;
        width: calc(100% - 90px);
    }
    
    #content-landing-page .captcha-input small.error {
        left: 0;
        margin-right: 92px;
        width: 100%;
    }
    

}

@media only screen and (min-width: 64.063em) {
    #content-landing-page .landing-product-top small.error {
        /*max-width: 220px;*/
    }
}


@media screen\0 {
    #content-landing-page a.button.large.arrow {
        height: 54px;
        line-height: 38px!important;
    }
    
    #content-landing-page a.arrow::after {
        top: 10px;
    }
    
    #content-landing-page .form-wrapper .branch-selection label {
        height: 36px;
    }
}

@media only screen and (max-width: 40em) {
        #content-landing-page .form-wrapper label{
            line-height: 30px!important;
            height: 30px!important;
        }
        
        #content-landing-page .form-wrapper .checkbox label {
            line-height: 15px;
        }
        
        #content-landing-page .form-wrapper input,
        .landing-product-top .form-wrapper input {
            margin-top: 0;
        }
        
    }

#content-landing-page ol li:before {
    background: none;
    top: 1px;
}



#content-landing-page .accordion {
    padding-bottom: 20px;
}    

#content-landing-page ul.tabs li:before{
    display: none!important;
}

#content-landing-page fieldset {
    max-width: 100%!important;
}

#content-landing-page .branch-selection,
#content-landing-page .captcha,
#content-landing-page .captcha-input,
#content-landing-page .group-selection,
#content-landing-page .multilevel-select {
    padding: 0 15px;
    max-width: 100%;
    min-width: auto;
}

@media only screen and (min-width: 40em) {
    #content-landing-page .multilevel-select {
        padding: 0;
    }   
}

#content-landing-page .group-selection .checkbox {
    margin-left: 0;
}

#content-landing-page .advanced-list li,
#content-landing-page .SSContainerDivWrapper ul li {
    margin-left: 0;
    padding-left: 0!important;
}

#content-landing-page .advanced-list li:before,
#content-landing-page .SSContainerDivWrapper ul li:before {
    display: none!important;
}


#content-landing-page .newListSelected {
    clear: both;
}

#content-landing-page #cd-vertical-nav {
    position: relative;
    top: auto;
}

#content-landing-page #cd-vertical-nav.sticky {
    position: fixed!important;
    top: 43px!important;
} 

#content-landing-page .reload-captcha {
    font-size: 14px;
}



@media only screen and (min-width: 40.063em) {
    #content-landing-page .captcha,
    #content-landing-page .captcha-input {
        margin-top: 10px;
    }
}

#content-landing-page .landing-product-top .field-affirmation .error small.error {
    top: 30px;
}

@media only screen and (min-width: 40.063em) {
    #content-landing-page .landing-product-top .field-affirmation .error small.error {
        top: 0;
    }
}

@media only screen and (max-width: 40em) {
    #content-landing-page .form-section form {
        padding: 0 0 20px;
    }
    #content-landing-page .field-affirmation {
        padding-right: 15px!important;
        max-width: 100%;
    }

}


#content-landing-page .field-affirmation .tooltip-wrapper .checkbox .tooltipster-icon {
    top: 5px;
}




@media only screen and (max-width: 40em) {
    #content-landing-page .landing-product-top .field-affirmation .checkbox.error {
        margin-bottom: 25px;
    }
}


@media only screen and (min-width: 64em) {
    #content-landing-page .landing-product-top .field-affirmation .checkbox.error {
        margin-bottom: 30px;
    }
}

canvas {
    position: relative;
    z-index: 3;
}



@media only screen and (min-width: 64em) {
    #content-landing-page .landingMenu ul li {
        padding-left: 0;
        max-width: 120px;
    }
}

#content-landing-page .landingMenu ul li a span{
    margin-right: 0;
}



@media only screen and (min-width: 960px) {

    #content-landing-page #cd-vertical-nav.wide .cd-label {
        padding: 25px 15px 0 15px;
        font-size: 15px;
        text-align: center;
    }
    
    #content-landing-page #cd-vertical-nav.wider .cd-label {
        padding: 25px 10px 0 10px;
        font-size: 14px;
        text-align: center;
    }
    
    #content-landing-page #cd-vertical-nav.widest .cd-label {
        padding: 25px 10px 0 10px;
        font-size: 13px;
        text-align: center;
    }

}


