#relations{
    
}

    #relations .main-banner{
        
        padding-left: 0;
        padding-right: 0;
    }

    #relations .button.large{
        
        min-width: 230px;
    }
 
    #relations .article-box{
    
        margin-bottom:40px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    /* #relations .accordion-content{
        
        padding-left: 40px;
        padding-right: 40px;
    } asokolowski */
    
    #relations .accordion-content .formatted-content{
        
        padding-bottom: 0;
    }
    
    @media only screen and (max-width: 64.063em){
        
        /* #relations .accordion-content{
        
            padding-left: 40px;
            padding-right: 40px;
        } asokolowski */
        
        /* #relations .tabbed-content.row{
            
            padding-left: 40px;
            padding-right: 40px;
        } */
        
        #relations .accordion-content .tabbed-content.row{
            
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    @media only screen and (max-width: 40.063em){
        
        #relations .accordion-content{
        
            padding-left: 0;
            padding-right: 0;
        }
        
       /*  #relations .tabbed-content.row{
            
            padding-left: 20px;
            padding-right: 20px;
        } */
    }
    
    @media only screen and (min-width: 64.063em){
            #relations .article-box{

                margin-left: 0;
                margin-right: 0;
            }
       
    }    
    