/* Search Component Start*/

.main-nav #search-form .search-results .links {
    display: none;
}
.search-results-dropdown {
    background: #fff;
}
.search-results-dropdown .links {
    background: #fff;
    display: block;
    padding: 15px 10px;
    height: 50px;
    min-height: 50px;
    width: 100%;
}

.search-results-dropdown .links .link-with-icon:nth-of-type(1) { width: 65%; }
.search-results-dropdown .links .link-with-icon:nth-of-type(2) { width: 35%; }

.search-results-dropdown .links .link-with-icon a {
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}

.search-results-dropdown .links .link-with-icon svg {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

#search-form .search-submit {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 7px;
    z-index: 3;
}
#search-form .search-submit::before {
    font-size: 30px;
    color: #7a0035;
}
#search-form .search-submit input[type="submit"] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: none;
    overflow: hidden;
    text-indent: -9999em;
}
#search-form .input-box {
    position: relative;
    width: 100%;
    height: 45px;
    background: #fff;
}
#search-form input[type="text"] {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
}
#search-form input[type="text"][name="queryStr"] { z-index: 2; }
#search-form input[type="text"][name="suggest"] { z-index: 1; color: #cecece; }

#search-form input[type="text"] {
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    font-family: "Roboto", "Arial", sans-serif;
}
#search-form input[type="text"]::-webkit-input-placeholder {
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    
}
#search-form input[type="text"]::-moz-placeholder {
    font-size: 20px;
    font-weight: 300;
    font-weight: normal;
    height: 45px;
    line-height: 45px;
    font-family: "Roboto", "Arial", sans-serif;
    
}
#search-form input[type="text"]:-ms-input-placeholder {
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
}

.search-results-dropdown {
    /*display: none;*/
    position: absolute;
    left: 0;
    top: 46px;
    z-index: 10000;
    /*min-width: 400px;*/
    width: 100%;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
}

.search-results-dropdown.active { 
    display: block;
    visibility: visible;
    opacity: 1;
}

.search-results-dropdown ul {
    background: #fff;
    margin: 0;
    padding: 0;
}

.search-results-dropdown a {
    display: block;
    color: #7a0035;
    padding: 7px 10px;
    line-height: 1.25;
}
.search-results-dropdown ul{
    font-size:14px;
}
.search-results-dropdown ul li.with-button{
    position:relative;
}
.search-results-dropdown ul li.with-button a:first-child{
    margin-right:150px;
    padding-right:0;
}

.search-results-dropdown ul li.correct-suggestion {
    padding: 6px 10px;
    cursor: pointer;
}

.black .search-results-dropdown ul li.correct-suggestion {
    color: #000;
}

.search-results-dropdown ul li.correct-suggestion + li:not(.correct-suggestion) {
    border-top: 1px solid #f2f2f2;
}

.search-results-dropdown ul li a {
    padding-top: 6px;
    padding-bottom: 6px;
}
.search-results-dropdown li.with-button a {
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 0;
}


.nav-wrap .search-results-dropdown li.with-button a {
    line-height: 28px;
}

.nav-wrap .search-results-dropdown li.with-button a.button {
    line-height: 12px;
}


.search-results-dropdown li.with-button .button{
    z-index: 5;
    display: block;
    position: absolute;
    top: 6px;
    right: 10px;
    color: #7a0035;
    padding: 8px 28px 8px 20px;
    background-color: #fff;
    border-color: #61002a;
    border: 1px solid;
    line-height: 12px;
    font-size: 12px;
}
.search-results-dropdown li.with-button .button:after{
    top:7px;
    right: 3px;
}
.search-results-dropdown li:hover { background: #f2f2f2; }
.search-results-dropdown ul li.active { background: #ffc426; }

/*.banner-content #search-form { margin-top: 15px; }*/

#button-speek {display:none;cursor:pointer;position:absolute;right:50px;top:7px;z-index: 3;}
.active-mic #button-speek {display:block;}
.active-mic #button-speek:before {content: '\e6f5';font-family: icons;font-size:30px;color: #7a0035;}
.active-mic #button-speek.active:before {display:block;color:#ff0000;}

/* ----- SEARCH W NAVIGATION ----- */
.nav-wrap #search-form {
    display: none; /* mobile */
    /*float: right;*/
    margin-right: 20px;
    /*top: -90px;*/
    right: 0;
    top: 0;
    z-index: 1000;
    position: absolute;
}

.nav-wrap.menu-open #search-form {
    display: block;
    top: 60px;
    left: 0;
    /*top: 80px;*/
    /*right: 20px;*/
    /*left: 20px;*/
    margin-right: 0;
    padding: 20px 25px 0;
    background: #fff;
}

.nav-wrap.menu-open #search-form .input-box {
    top: 0;
    position: relative;
}

.nav-wrap.menu-open #search-form input[type="text"],
.nav-wrap.menu-open #search-form input[type="text"][name="queryStr"]:focus,
.nav-wrap.menu-open #search-form input[type="text"][name="queryStr"]:focus + input[type="text"],
.nav-wrap.menu-open #search-form .search-results-dropdown {
    width: inherit;
}

.nav-wrap #search-form .input-box {
    position: absolute;
    height: 50px;
    right: 0;
    top: 20px;
}
.nav-wrap #search-form input[type="text"] {
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -o-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    transition: width 0.25s ease;
    border: 1px solid #B7B7B7;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 45px 0 15px;
    width: 150px;
    font-size: 15px;
    box-shadow: none;
    left: auto;
    right: 0;
}

.nav-wrap #search-form input[type="text"]::-webkit-input-placeholder { font-size: 15px; height: 50px; line-height: 50px; }
.nav-wrap #search-form input[type="text"]::-moz-placeholder { font-size: 15px; height: 50px; line-height: 50px; }
.nav-wrap #search-form input[type="text"]:-ms-input-placeholder { font-size: 15px; height: 50px; line-height: 50px; }

.nav-wrap #search-form input[type="text"][name="queryStr"]:focus,
.nav-wrap #search-form input[type="text"][name="queryStr"]:focus + input[type="text"] { width: 400px; }
.nav-wrap #search-form input[type="text"][name="suggest"] {background: #fff;}
.nav-wrap #search-form .search-submit:before { font-weight: 900; }

.nav-wrap #search-form .search-submit {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 0;
    background: none;
    right: 6px;
    top: 5px;
    font-size: 35px;
    color: #7A0035;
}
.nav-wrap #button-speek { display: none; }
.nav-wrap #search-form .search-results-dropdown {
    left: auto;
    right: 0;
    width: 400px;
    top: 50px;
    border-color: #B7B7B7;
    border-bottom: solid 1px #B7B7B7;
}
.nav-wrap #search-form .search-results-dropdown ul { font-size: 14px; }
.nav-wrap #search-form .search-results-dropdown ul li a,
#search-form .search-results-dropdown ul li.correct-suggestion {
    padding: 7px 20px 7px 10px;
}

/* ----- SEARCH RESULTS ----- */
#search-results #search-form .input-box {height: 65px; }
#search-results #search-form input[type="text"] { height: 65px; line-height: 65px; }
#search-results #search-form input[type="text"]::-webkit-input-placeholder { height: 65px; line-height: 65px; }
#search-results #search-form input[type="text"]::-moz-placeholder { height: 65px; line-height: 65px; }
#search-results #search-form input[type="text"]:-ms-input-placeholder { height: 65px; line-height: 65px; }
#search-results #search-form .search-submit,
#search-results #button-speek { top: 18px; }
#search-results .search-results-dropdown {
    top: 65px;
    border: solid 1px #999;
    border-top: 0;
}
#search-results header h1 { font-size: 20px; text-align: center; margin: 40px 0; }
.search-results-top{
    padding: 30px 0 10px;
    border-bottom: solid 1px #ccc;
}
#main-search .search-results {
    padding: 10px 0;
    border-bottom: solid 1px #ccc;
}
#main-search .search-results:last-child {
    border-bottom: none;
}
#main-search .search-results p { 
    margin: 0;
    font-size: 14px;
}

#main-search .search-results p.search-result-title {
    font-size: 20px;
    color: #7a0035;
    font-weight: 400;
    line-height: 1.1;
}
#main-search .search-results p.search-result-title a { color: #7a0035; }
#main-search .search-results p.search-result-title a:hover { text-decoration: underline; }
#main-search .search-results .search-result-content { display: none; }
#main-search .search-results .search-path {
    margin: 2px 0;
    color: #9f9e9e;
    font-size: 0;
    line-height: 1.5;
}
#main-search .search-results .search-path li { display: inline-block; }
#main-search .search-results .search-path li:not(:last-child):after {
    display: inline-block;
    content: "\203A";
    font-weight: 400;
    font-size :14px;
    margin: 0 5px;
}
#main-search .search-results .search-path li span,
#main-search .search-results .search-path li a { font-size: 14px; }
#main-search .search-results .search-path li a { color: #9f9e9e; }
#main-search .search-results .search-path li a:hover { text-decoration: underline; }

#main-search #main{
    margin-bottom: 30px;
}

#search-results .adv { padding-top: 30px; padding-bottom: 30px; text-align: right; }
#search-results .adv .row { margin: 0;}
#search-results .adv ol {clear:both;}
#search-results .adv ol li {text-align:left;}
#search-results .adv ul li {text-align:left;}


#main-search .search-results .search-result-content em{ /*asokolowski - tymczasowo - zamim backeng zmieni em na strong */
    font-style: normal;
    font-weight: 600;
}

/* ------------------------ MEDIA QUERIES -------------------------- */

@media only screen and (max-width: 40em) {


    #search-form input[type="text"] {
        font-size: 12px;
    }
    #search-form input[type="text"]::-webkit-input-placeholder {
        font-size: 12px;
    }
    #search-form input[type="text"]::-moz-placeholder {
        font-size: 12px;
    }
    #search-form input[type="text"]:-ms-input-placeholder {
        font-size: 12px;
    }

    #search-form .search-results ul{
        float: left;
        width: 100%;
    }
    #search-form .search-results ul li{
        float: left;
        width: 100%;
    }
    #search-form .search-results ul li.with-button{
        position: static;
    }
    #search-form .search-results ul li.with-button a:first-child{
        float: left;
        width: 100%;
        padding-right: 10px;
        margin-right: 0;
    }
    #search-form .search-results ul li.with-button .button {
        float: left !important;
        position: relative;
        margin: -6px 0 13px 10px;
        top: 0;
        right: 0;
    }
}

@media only screen and (min-width: 40.063em) {
    #search-form .search-results { top: 66px; }
    #search-form .search-results a { padding: 6px 15px; }
    #search-form .search-results ul li.correct-suggestion {
        padding: 6px 15px;
    }
    #search-form input[type="text"]  { height: 65px; line-height: 65px; }
    #search-form input[type="text"]::-webkit-input-placeholder { height: 65px; line-height: 65px; }
    #search-form input[type="text"]::-moz-placeholder { height: 65px; line-height: 65px; }
    #search-form input[type="text"]:-ms-input-placeholder { height: 65px; line-height: 65px; }

    #search-form .search-submit { top: 18px; }
    #search-form .input-box { height: 65px; }

    #button-speek { top: 18px; }

    #alior-faq .banner-content #search-form {
        width: 620px;
        margin-left: auto;
        margin-right: auto;
    }

    #search-results header h1 { font-size: 55px; }
    .search-results-top {padding: 30px 0 20px;}
    /*#main-search .no-results { padding: 30px 0 0; }*/
    #main-search .search-results { padding: 25px 0; }
    #main-search .search-results .search-result-content {
        display: block;
        font-weight: 400;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .nav-wrap.menu-open #search-form {
        top: 86px;
        padding: 20px 35px 5px;
    }
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
    .nav-wrap #search-form { display: inline-block; }
    .news-header .banner-content #search-form {margin-top:35px;}

    .nav-wrap.menu-open #search-form {
        padding: 0;
        background: none;
        top: 0;
        left: auto;
        margin-right: 20px;
    }

    .nav-wrap.menu-open #search-form .input-box {
        position: absolute;
        top: 20px;
    }

    .nav-wrap.menu-open #search-form input[type="text"] {
        width: 150px;
    }

    .nav-wrap.menu-open #search-form input[type="text"][name="queryStr"]:focus,
    .nav-wrap.menu-open #search-form input[type="text"][name="queryStr"]:focus + input[type="text"],
    .nav-wrap.menu-open #search-form .search-results {
        width: 400px;
    }
}


/* Search Component End*/