/* TabbedContent Start*/

.funds-table ul.tabs li.tab-title {
    display: inline-block;
}

.funds-table .tabs-content {
    clear: both;
}

.funds-table .tabs.vertical{
    width: 100%;
    max-width: 100%
}

.funds-table td.name {
    padding-left: 0;
}

.funds-table td.link {
    padding-right: 0;
}

/* chrome img max-width fix */
.tabbed-content table {
    table-layout: fixed;
}
/* chrome img max-width fix */

.tabbed-content table td img {
    height: auto;
    width: auto;
}

.tabbed-content .tabs-content .content { display: none; }

.tabbed-content .tabs-content .content.active {
    display: block;
    background-color: transparent;
}
.tabbed-content h2 img { vertical-align: middle;position:relative;top:-4px;}
.tab-wrapper { overflow-x: auto; }

.tab-title a,
.tabs .tab-title > a {
    color: #7A0035;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1;
}

.tabbed-content .content .table-wrap{
    max-width: 100%;
    overflow: auto;
    display: block;
    position: relative;
}

.tabbed-content .content .table-wrap table{
    width: 100%;
}

body.black .tab-title a,
body.black .tabs .tab-title > a {
    color: #ffc426;
} 

ul.tabs {
    display: table;
    margin: 0;
}

.tab-title,
.tabs .tab-title {
    display: table-cell;
    padding-right: 50px;
    float: none;
    padding-left: 0;
}
.tabs .tab-title:before{
    display: none;
}

.tab-title:last-child,
.tabs .tab-title:last-child {
    padding-right: 0;
}

.tab-title.active a {
    color: #7A0035;
    border-bottom: 3px solid #7A0035;
}

body.black .tab-title.active a {
    color: #ffc426;
    border-color: #ffc426;
}

.tabs dd > a:hover,
.tabs .tab-title > a:hover {
    background: none;
    border-bottom: 3px solid #7A0035;
}

body.black .tabs dd > a:hover,
body.black .tabs .tab-title > a:hover {
    border-color: #ffc426;
}

.tabs dd.active a,
.tabs .tab-title.active a {
    background: none;
    font-weight: 700;
    color: #7a0035;
}

body.black .tabs dd.active a,
body.black .tabs .tab-title.active a {
    color: #ffc426;
}

.tabs-content .content {
    padding: 0;
}

/*.tabs-content .content {*/
/*    margin-top: 50px;*/
/*}*/

#relations .tabs-content {
    margin-bottom: 0;
}

.tabs-content .content > .clearfix {
    padding-bottom: 20px;
}

.responsive-table-wrap{
    position: relative;
    display: block;
    max-width: 100%;
    overflow: auto;
    margin-bottom: 1.5rem;
    min-height: 100px;
}

.responsive-table-wrap table{
    margin-bottom: 0;
    min-width: 750px;
}

.responsive-table-wrap table.table-condensed {
    min-width: auto;
}

.responsive-table-wrap table {
    border-left: none;
    border-right: none;
    background: #f1f1f1;
}

.tabs-content > table {
    border-left: none;
    border-right: none;
    background: #f1f1f1;
    margin-bottom: 0;
    min-width: 915px;
}
.tabs-content table table { width: auto; }

.tabs-content table thead {
    background: #fff;
}

.tabs-content table tr.even,
.tabs-content table tr.alt,
.tabs-content table tr:nth-of-type(2n) 
{
    background: #fff;
}

.tabs-content table tr td,
.tabs-content table tr th {
    padding: 15px;
    height: auto;
    font-size: 14px;
}

.tabs-content table tr th {
    padding: 15px;
}

.tabs-content table thead tr th,
.tabs-content table thead tr td {
    /*white-space: nowrap;*/
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.tabs-content table tbody tr td {
    vertical-align: top;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.tabs-content table tr td:first-child,
.tabs-content table tr th:first-child { border-left: none; }

#useful-documents .tabs-content table tr td:first-child,
#useful-documents .tabs-content table tr th:first-child { border-left: none; width:40%;}


.tabs-content table tr td:last-child,
.tabs-content table tr th:last-child { border-right: none; }

.tabs-content .download-file {
    position: relative;
    white-space: nowrap;
    padding-left: 30px;
    color: #7a0035;
}

.tabs-content .download-file:before {
    position: absolute;
    left: 0;
    margin-left: 0;
    color: #000;
    content: '\e6f6';
    font-family:icons;
    font-size:25px;
    top: -10px;
}

.tabs-content td .download-file:before {
    top: 0;
}

.tabbed-extended-wrapper p.list-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
}
.tabbed-extended {
    position: relative;
    overflow: hidden;
    background: #f3f3f2;
}
.tabbed-extended .image {
    position: absolute;
    left: 0.9375em;
    top: 20px;
    width: 28.5%;
}
.tabbed-extended .tabs-content { margin-bottom: 0; }
.tabbed-extended .tabs-content .content{ padding: 20px 0; }
.tabbed-extended .tabs-content .content img.center{
    display: block;
    margin: 0 auto;
}
.tabbed-extended-wrapper .tabs,
.tabbed-extended .tabs-content .content > .clearfix {
    min-width: initial;
    min-width: 0;
}

.tabbed-extended .tabs-content .content.m{display: block !important;}
.tabbed-extended .tabs-content .content .single-cta,
.tabbed-extended .tabs-content .content .single-cta a{
    margin: 0;
}

.tabbed-extended .tabs-content .content > .clearfix{
    overflow: hidden;
}
.tabbed-extended .tabs-content .content > .clearfix table{
    min-width: 100%;
    max-width: 100%;
}

.tabs-select-container a,ul.tabs-select a {
    color: #7A0035;
}

.tabs-select-container {
    position: relative;
    background: #fff;
    padding: 10px;
    position: relative;
    top: 55px;
    z-index: 10;
}

.tabs-select-container:after{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #7a0035;
    content: '\e7e1';
    font-family:icons;
    font-size:25px;
}

.tabs-select-container.active:after{
    content: '\e84b';
}

ul.tabs-select {
    background: #fff;
    width: 100%;
    margin-left: 0;
    padding: 10px;
}
ul.tabs-selsct li{
    padding: 10px;
    display: block;
}

.tabs-select-container a.tab-select-title {
    display: block;
}
.tabs-select-container ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    display: none;
}
.tabs-select-container ul li.active { display: none; }
.tabs-select-container.active ul { display: block; }



/*Tab stytlish select*/
.tabbed-content .newListSelected{
    position: relative;
    display: block;
    height: 40px;
    margin: 20px 20px 0;
}
.tabbed-content .newListSelected > div{
    width: 100%;
}

.tabbed-content.standard .newListSelected{
    margin: 20px 13px 5px;
}

.tabbed-content .newListSelected .selectedTxt{
    display: block;
    padding-left: 1rem;
    padding-right: 35px;
    line-height: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #ddd;
}
.tabbed-content .newListSelected .selectedTxt:after{
    right: 7px;   
}
.tabbed-content .newListSelected .SSContainerDivWrapper{
    top: 40px !important;
}
.tabbed-content .newListSelected .SSContainerDivWrapper ul{
    height: auto !important;
}

.tabbed-extended-wrapper h2.text-center{
    font-size: 16px;
}


@media only screen and (max-width: 40em) {
    .tabbed-extended .tabs-content .content{
        height: auto !important;
    }
    .accordion-content .tabbed-extended-wrapper{
        padding-bottom: 25px;
    }
    .tabbed-extended .tabs-content .content .single-cta{
        padding: 0;
    }
    .tabbed-extended .tabs-content .content { padding: 20px; }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .tabbed-extended .image { 
        left: 20px; 
    }
    .tabbed-extended-wrapper h2.text-center{
        font-size: 18px;
    }
    .tabbed-extended .tabs-content .content { padding: 20px 20px 20px 0px; }
}

@media only screen and (min-width: 40.063em) {
    .funds-table ul.tabs li.tab-title {
        display: inline-block;
    }
    
    .tabs-content .content {margin-top: 0;}
    .tabbed-extended-wrapper { padding-bottom: 50px; }
    .tabs-content {  margin-bottom: 40px; }
    .tabbed-extended-wrapper p.list-title { text-align: center; }
    .tabbed-content h2 img { vertical-align: middle;position:relative;top:-4px;}
    .tabbed-content .newListSelected{display: none;}
    /*.tabbed-extended {min-height: 325px;}*/
}

@media only screen and (min-width: 64.064em) {
    
    .tabbed-extended-wrapper h2.text-center{
        font-size: 20px;
    }
    .tabbed-extended .tabs-content .content { padding: 20px 0px; }
    .tabbed-extended-wrapper .tabs{
        padding-left: 6px;
    }
}

/* niestandardowy breakpoint dla scrollowania tabel - tak musi byc */
@media only screen and (min-width: 1020px) {
    .tabs-content .content > .clearfix { padding-right: 0; }
    .tabs-content table { min-width: 930px; }
    .tabs-content table table { min-width: 0; }
    
    .tabbed-extended .tabs-content .content > .clearfix table{
        min-width: 100%;
        max-width: 100%;
    }
    .tabbed-content .component-title h2 {font-size:55px;}
}

/* TabbedContent End*/