/*
 * Player Root-Element
 */
.ardplayer {
  height: 100%;
  width: 100%;
  background-color: #000;
  /* Sonderbedingungen fuer Audio */
  /* Sonderbedingungen fuer grosse Repraesentationsgroessen */
  /* Sonderbedingungen fuer kleine Repraesentationsgroessen */ }
  .ardplayer .ardplayer-hideclass {
    display: none !important; }
  .ardplayer .ardplayer-viewport {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    font-family: Verdana;
    font-size: 0.75em;
    line-height: 15px;
    color: #fff;
    /**
     * Option settings
     */
    /**
    * Sprungmarken Mandanten Anpassungen
    */ }
    .ardplayer .ardplayer-viewport .ardplayer-preroll-info {
      position: absolute;
      z-index: 9;
      text-shadow: 0px 0px 7px black;
      left: 10px;
      bottom: 18px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .ardplayer .ardplayer-viewport .ardplayer-preroll-info.active {
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        bottom: 71px; }
    .ardplayer .ardplayer-viewport .ardplayer-preroll-skip {
      position: absolute;
      z-index: 9;
      right: 10px;
      bottom: 18px;
      padding: 5px 30px 5px 5px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      cursor: pointer;
      background-color: rgba(20, 50, 90, 0.9);
      font-family: Verdana;
      font-size: 10pt;
      line-height: 15px;
      color: #fff;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .ardplayer .ardplayer-viewport .ardplayer-preroll-skip:before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        right: 4px;
        top: 2px;
        background: url("/pool/player/base/img/dvr.svg");
        background-size: contain; }
      .ardplayer .ardplayer-viewport .ardplayer-preroll-skip.hover {
        background-color: #9b9173;
        /* Fallback Color */
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9b9173));
        /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(top, #d2c6a4, #9b9173);
        /* Chrome 10+, Saf5.1+, iOS 5+ */
        background-image: -moz-linear-gradient(top, #d2c6a4, #9b9173);
        /* FF3.6 */
        background-image: -ms-linear-gradient(top, #d2c6a4, #9b9173);
        /* IE10 */
        background-image: -o-linear-gradient(top, #d2c6a4, #9b9173);
        /* Opera 11.10+ */
        background-image: linear-gradient(top, #d2c6a4, #9b9173);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#d2c6a4', EndColorStr='#9b9173'); }
      .ardplayer .ardplayer-viewport .ardplayer-preroll-skip.active {
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        bottom: 71px; }
    .ardplayer .ardplayer-viewport .ardplayer-buffering {
      background: url(/pool/player/base/img/buffering.gif) center no-repeat;
      background-color: #000000;
      height: 100%;
      margin: auto !important;
      text-align: center;
      width: 100%;
      z-index: 3500; }
      .ardplayer .ardplayer-viewport .ardplayer-buffering img {
        height: 40px;
        position: relative;
        top: 42%;
        width: 40px; }
    .ardplayer .ardplayer-viewport .ardplayer-posterframe {
      z-index: 10; }
    .ardplayer .ardplayer-viewport .ardplayer-posterframe, .ardplayer .ardplayer-viewport .ardplayer-audioframe {
      cursor: pointer;
      display: inline-block;
      float: left;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%; }
      .ardplayer .ardplayer-viewport .ardplayer-posterframe img, .ardplayer .ardplayer-viewport .ardplayer-audioframe img {
        float: left;
        height: 100%;
        width: 100%; }
    .ardplayer .ardplayer-viewport .ardplayer-postercontrol {
      background: url(/pool/player/base/img/postercontrol.png) bottom left no-repeat;
      cursor: pointer;
      height: 46px;
      width: 46px;
      position: absolute;
      border-width: 0px;
      left: 0;
      bottom: 0;
      z-index: 10; }
    .ardplayer .ardplayer-viewport .ardplayer-mediacanvas {
      cursor: pointer;
      height: 100%;
      position: relative;
      width: 100%; }
      .ardplayer .ardplayer-viewport .ardplayer-mediacanvas.hideCursor {
        cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=="), url(/pool/player/base/img/blank.cur), none !important; }
      .ardplayer .ardplayer-viewport .ardplayer-mediacanvas .ios-touchfix {
        width: 1px;
        height: 1px; }
    .ardplayer .ardplayer-viewport .ardplayer-controlbar {
      width: 100%;
      height: 62px;
      position: absolute;
      z-index: 10;
      background-color: rgba(20, 50, 90, 0);
      cursor: default; }
      .ardplayer .ardplayer-viewport .ardplayer-controlbar.live {
        height: 46px; }
      .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider {
        width: 100%;
        position: relative;
        background-color: #fff;
        cursor: pointer;
        /* < FADE START > */
        height: 8px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        /* < FADE END > */ }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider.active {
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          height: 16px; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider > * {
          position: absolute; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-bg-watched {
          height: inherit;
          background-color: #9B9173;
          /* < FADE START > */
          height: 8px;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          /* < FADE END > */ }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-bg-watched.active {
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            height: 16px; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-bg-buffer {
          height: inherit;
          background-color: #d2c6a4;
          /* < FADE START > */
          height: 8px;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          /* < FADE END > */ }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-bg-buffer.active {
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            height: 16px; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-handle {
          width: 0;
          height: 0;
          top: -2px;
          z-index: 10;
          opacity: 0;
          background-size: contain;
          /* < FADE START > */
          margin-left: 20px;
          margin-top: 10px;
          -webkit-transition-delay: 0s;
          -moz-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          /* < FADE END > */ }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-handle.mobile {
            top: -2px; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-handle.active {
            -webkit-transition-delay: 0.1s;
            -moz-transition-delay: 0.1s;
            -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            width: 40px;
            height: 20px;
            margin-left: 0px;
            margin-top: 0px;
            opacity: 1; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-handle.no-delay {
            -webkit-transition: all 0s !important;
            -moz-transition: all 0s !important;
            -o-transition: all 0s !important;
            transition: all 0s !important; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-handle.dvr-left {
            background-color: #9B9173;
            /* Fallback Color */
            background-image: url("/pool/player/base/img/dvr_left.svg");
            background-image: url("/pool/player/base/img/dvr_left.svg"), -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9B9173));
            /* Saf4+, Chrome */
            background-image: url("/pool/player/base/img/dvr_left.svg"), -webkit-linear-gradient(top, #d2c6a4, #9B9173);
            /* Chrome 10+, Saf5.1+, iOS 5+ */
            background-image: url("/pool/player/base/img/dvr_left.svg"), -moz-linear-gradient(top, #d2c6a4, #9B9173);
            /* FF3.6 */
            background-image: url("/pool/player/base/img/dvr_left.svg"), -ms-linear-gradient(top, #d2c6a4, #9B9173);
            /* IE10 */
            background-image: url("/pool/player/base/img/dvr_left.svg"), -o-linear-gradient(top, #d2c6a4, #9B9173);
            /* Opera 11.10+ */
            background-image: url("/pool/player/base/img/dvr_left.svg"), linear-gradient(top, #d2c6a4, #9B9173); }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-handle.dvr-middle {
            background-color: #9B9173;
            /* Fallback Color */
            background-image: url("/pool/player/base/img/dvr_middle.svg");
            background-image: url("/pool/player/base/img/dvr_middle.svg"), -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9B9173));
            /* Saf4+, Chrome */
            background-image: url("/pool/player/base/img/dvr_middle.svg"), -webkit-linear-gradient(top, #d2c6a4, #9B9173);
            /* Chrome 10+, Saf5.1+, iOS 5+ */
            background-image: url("/pool/player/base/img/dvr_middle.svg"), -moz-linear-gradient(top, #d2c6a4, #9B9173);
            /* FF3.6 */
            background-image: url("/pool/player/base/img/dvr_middle.svg"), -ms-linear-gradient(top, #d2c6a4, #9B9173);
            /* IE10 */
            background-image: url("/pool/player/base/img/dvr_middle.svg"), -o-linear-gradient(top, #d2c6a4, #9B9173);
            /* Opera 11.10+ */
            background-image: url("/pool/player/base/img/dvr_middle.svg"), linear-gradient(top, #d2c6a4, #9B9173); }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-handle.dvr-right {
            background-color: #9B9173;
            /* Fallback Color */
            background-image: url("/pool/player/base/img/dvr_right.svg");
            background-image: url("/pool/player/base/img/dvr_right.svg"), -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9B9173));
            /* Saf4+, Chrome */
            background-image: url("/pool/player/base/img/dvr_right.svg"), -webkit-linear-gradient(top, #d2c6a4, #9B9173);
            /* Chrome 10+, Saf5.1+, iOS 5+ */
            background-image: url("/pool/player/base/img/dvr_right.svg"), -moz-linear-gradient(top, #d2c6a4, #9B9173);
            /* FF3.6 */
            background-image: url("/pool/player/base/img/dvr_right.svg"), -ms-linear-gradient(top, #d2c6a4, #9B9173);
            /* IE10 */
            background-image: url("/pool/player/base/img/dvr_right.svg"), -o-linear-gradient(top, #d2c6a4, #9B9173);
            /* Opera 11.10+ */
            background-image: url("/pool/player/base/img/dvr_right.svg"), linear-gradient(top, #d2c6a4, #9B9173); }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-mouseover {
          height: 11px;
          width: 14px;
          position: absolute;
          display: inline;
          top: -11px;
          background-image: url("/pool/player/base/img/mouseover.svg"); }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-slider .ardplayer-controlbar-slider-mouseover-time {
          position: absolute;
          top: -33px;
          white-space: nowrap;
          padding: 4px;
          background-color: rgba(20, 50, 90, 0.9); }
      .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls {
        width: 100%;
        height: 46px;
        background-color: rgba(20, 50, 90, 0.9);
        /* Dimension limiters */
        /* END Dimension limiters */ }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls button {
          width: 46px;
          height: 46px;
          position: relative;
          margin: 0;
          padding: 0;
          border: none;
          border-right: 1px solid rgba(255, 255, 255, 0.2);
          cursor: pointer;
          background: none; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls button.hover {
            background-color: #9b9173;
            /* Fallback Color */
            background-image: -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9b9173));
            /* Saf4+, Chrome */
            background-image: -webkit-linear-gradient(top, #d2c6a4, #9b9173);
            /* Chrome 10+, Saf5.1+, iOS 5+ */
            background-image: -moz-linear-gradient(top, #d2c6a4, #9b9173);
            /* FF3.6 */
            background-image: -ms-linear-gradient(top, #d2c6a4, #9b9173);
            /* IE10 */
            background-image: -o-linear-gradient(top, #d2c6a4, #9b9173);
            /* Opera 11.10+ */
            background-image: linear-gradient(top, #d2c6a4, #9b9173);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#d2c6a4', EndColorStr='#9b9173'); }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls button:focus {
            background-color: #9b9173;
            /* Fallback Color */
            background-image: -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9b9173));
            /* Saf4+, Chrome */
            background-image: -webkit-linear-gradient(top, #d2c6a4, #9b9173);
            /* Chrome 10+, Saf5.1+, iOS 5+ */
            background-image: -moz-linear-gradient(top, #d2c6a4, #9b9173);
            /* FF3.6 */
            background-image: -ms-linear-gradient(top, #d2c6a4, #9b9173);
            /* IE10 */
            background-image: -o-linear-gradient(top, #d2c6a4, #9b9173);
            /* Opera 11.10+ */
            background-image: linear-gradient(top, #d2c6a4, #9b9173);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#d2c6a4', EndColorStr='#9b9173'); }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-3 .ardplayer-btn-subtitle, .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-2 .ardplayer-btn-subtitle, .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-1 .ardplayer-btn-subtitle, .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-0 .ardplayer-btn-subtitle {
          display: none !important; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-2 .ardplayer-btn-settings, .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-1 .ardplayer-btn-settings, .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-0 .ardplayer-btn-settings {
          display: none !important; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-1 .ardplayer-btn-sound, .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-0 .ardplayer-btn-sound {
          display: none !important; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls.max-buttons-0 .ardplayer-btn-fullscreen {
          display: none !important; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox > * {
          float: left; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox .ardplayer-btn-playpause:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 46px;
          height: 46px;
          background: url("/pool/player/base/img/play.svg");
          background-size: contain; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox .ardplayer-btn-playpause.toggle:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 46px;
          height: 46px;
          background: url("/pool/player/base/img/pause.svg");
          background-size: contain; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox .ardplayer-btn-playagain:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 46px;
          height: 46px;
          background: url("/pool/player/base/img/reload.svg");
          background-size: contain; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox .ardplayer-ui-equalize {
          width: 46px;
          height: 46px;
          position: relative; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox .ardplayer-ui-equalize:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 46px;
            height: 46px;
            background: url("/pool/player/base/img/soundaddon.gif");
            background-size: contain; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox .ardplayer-ui-equalize.toggle:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 46px;
            height: 46px;
            background: url("/pool/player/base/img/soundaddon_off.gif");
            background-size: contain; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox .ardplayer-time {
          margin-left: 7.5px;
          margin-top: 15.5px; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox .ardplayer-time.multiple {
            margin-top: 8px; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-transportbox .ardplayer-time span {
            display: block; }
        .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion {
          float: right;
          /* Mobile only dropdown fix */ }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion > * {
            float: left; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion button {
            border: none;
            border-left: 1px solid rgba(255, 255, 255, 0.2); }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-btn-dvr:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 46px;
            height: 46px;
            background: url("/pool/player/base/img/dvr.svg");
            background-size: contain; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-btn-settings:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 46px;
            height: 46px;
            background: url("/pool/player/base/img/settings.svg");
            background-size: contain; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-btn-settings-mobile {
            width: 46px;
            height: 46px;
            appearance: menulist-button;
            -moz-appearance: menulist-button;
            -webkit-appearance: menulist-button;
            opacity: 0;
            font-size: 16px;
            border: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            cursor: pointer; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-btn-subtitle:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 46px;
            height: 46px;
            background: url("/pool/player/base/img/ut.svg");
            background-size: contain; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-btn-subtitle.toggle {
            background-color: #9b9173;
            /* Fallback Color */
            background-image: -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9b9173));
            /* Saf4+, Chrome */
            background-image: -webkit-linear-gradient(top, #d2c6a4, #9b9173);
            /* Chrome 10+, Saf5.1+, iOS 5+ */
            background-image: -moz-linear-gradient(top, #d2c6a4, #9b9173);
            /* FF3.6 */
            background-image: -ms-linear-gradient(top, #d2c6a4, #9b9173);
            /* IE10 */
            background-image: -o-linear-gradient(top, #d2c6a4, #9b9173);
            /* Opera 11.10+ */
            background-image: linear-gradient(top, #d2c6a4, #9b9173);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#d2c6a4', EndColorStr='#9b9173'); }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-sound-container {
            position: relative; }
            .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-sound-container .ardplayer-btn-sound:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 46px;
              height: 46px;
              background: url("/pool/player/base/img/audio_on.svg");
              background-size: contain; }
            .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-sound-container .ardplayer-btn-sound.toggle:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 46px;
              height: 46px;
              background: url("/pool/player/base/img/audio_off.svg");
              background-size: contain; }
            .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-sound-container .ardplayer-sound-slider {
              height: 75px;
              width: 46px;
              position: absolute;
              left: 0;
              top: -75px;
              z-index: 1002;
              cursor: pointer;
              overflow: hidden;
              background: rgba(20, 50, 90, 0.9) url("/pool/player/base/img/sound.svg");
              background-size: 100%; }
              .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-sound-container .ardplayer-sound-slider .ardplayer-sound-slider-range {
                overflow: hidden;
                background-image: url("/pool/player/base/img/sound_range.svg");
                background-size: 100%; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-btn-videosettings:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 46px;
            height: 46px;
            background: url("/pool/player/base/img/vsetting.svg");
            background-size: contain; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-btn-fullscreen:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 46px;
            height: 46px;
            background: url("/pool/player/base/img/fullscreen_on.svg");
            background-size: contain; }
          .ardplayer .ardplayer-viewport .ardplayer-controlbar .ardplayer-controlbar-controls .ardplayer-player-funktion .ardplayer-btn-fullscreen.toggle:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 46px;
            height: 46px;
            background: url("/pool/player/base/img/fullscreen_off.svg");
            background-size: contain; }
    .ardplayer .ardplayer-viewport .ardplayer-optioncontrols {
      bottom: 62px;
      position: absolute;
      z-index: 50;
      width: 232px; }
      .ardplayer .ardplayer-viewport .ardplayer-optioncontrols.live {
        bottom: 46px; }
      .ardplayer .ardplayer-viewport .ardplayer-optioncontrols * {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 12px;
        font-weight: normal;
        text-decoration: none;
        cursor: default; }
      .ardplayer .ardplayer-viewport .ardplayer-optioncontrols section {
        display: inline-block;
        width: 115px;
        background: rgba(20, 50, 90, 0.9); }
        .ardplayer .ardplayer-viewport .ardplayer-optioncontrols section * {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          display: block; }
        .ardplayer .ardplayer-viewport .ardplayer-optioncontrols section h1 {
          text-align: left;
          padding-top: 4px;
          padding-left: 16px;
          height: 21px; }
      .ardplayer .ardplayer-viewport .ardplayer-optioncontrols a + section {
        margin-right: 2px; }
      .ardplayer .ardplayer-viewport .ardplayer-optioncontrols ul {
        list-style: none; }
      .ardplayer .ardplayer-viewport .ardplayer-optioncontrols li {
        height: 21px;
        border-top: 1px solid rgba(255, 255, 255, 0.2); }
        .ardplayer .ardplayer-viewport .ardplayer-optioncontrols li:last-child {
          height: 25px; }
        .ardplayer .ardplayer-viewport .ardplayer-optioncontrols li.selected a {
          background-color: #9B9173;
          /* Fallback Color */
          background-image: -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9B9173));
          /* Saf4+, Chrome */
          background-image: -webkit-linear-gradient(top, #d2c6a4, #9B9173);
          /* Chrome 10+, Saf5.1+, iOS 5+ */
          background-image: -moz-linear-gradient(top, #d2c6a4, #9B9173);
          /* FF3.6 */
          background-image: -ms-linear-gradient(top, #d2c6a4, #9B9173);
          /* IE10 */
          background-image: -o-linear-gradient(top, #d2c6a4, #9B9173);
          /* Opera 11.10+ */
          background-image: linear-gradient(top, #d2c6a4, #9B9173);
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#d2c6a4', EndColorStr='#9B9173'); }
        .ardplayer .ardplayer-viewport .ardplayer-optioncontrols li a {
          padding-top: 2px;
          height: 21px;
          cursor: pointer;
          text-align: left;
          padding-left: 17px; }
          .ardplayer .ardplayer-viewport .ardplayer-optioncontrols li a.hover {
            background-color: #9B9173;
            /* Fallback Color */
            background-image: -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9B9173));
            /* Saf4+, Chrome */
            background-image: -webkit-linear-gradient(top, #d2c6a4, #9B9173);
            /* Chrome 10+, Saf5.1+, iOS 5+ */
            background-image: -moz-linear-gradient(top, #d2c6a4, #9B9173);
            /* FF3.6 */
            background-image: -ms-linear-gradient(top, #d2c6a4, #9B9173);
            /* IE10 */
            background-image: -o-linear-gradient(top, #d2c6a4, #9B9173);
            /* Opera 11.10+ */
            background-image: linear-gradient(top, #d2c6a4, #9B9173);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#d2c6a4', EndColorStr='#9B9173'); }
          .ardplayer .ardplayer-viewport .ardplayer-optioncontrols li a:focus {
            background-color: #9B9173;
            /* Fallback Color */
            background-image: -webkit-gradient(linear, left top, left bottom, from(#d2c6a4), to(#9B9173));
            /* Saf4+, Chrome */
            background-image: -webkit-linear-gradient(top, #d2c6a4, #9B9173);
            /* Chrome 10+, Saf5.1+, iOS 5+ */
            background-image: -moz-linear-gradient(top, #d2c6a4, #9B9173);
            /* FF3.6 */
            background-image: -ms-linear-gradient(top, #d2c6a4, #9B9173);
            /* IE10 */
            background-image: -o-linear-gradient(top, #d2c6a4, #9B9173);
            /* Opera 11.10+ */
            background-image: linear-gradient(top, #d2c6a4, #9B9173);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#d2c6a4', EndColorStr='#9B9173'); }
    .ardplayer .ardplayer-viewport .sprungmarken .arrow {
      background: url("/pool/player/base/img/mouseover.svg") no-repeat; }
    .ardplayer .ardplayer-viewport .sprungmarken .popup {
      background-color: rgba(20, 50, 90, 0.9); }
  .ardplayer .error {
    padding: 0px;
    width: 100%;
    height: 100% !important;
    clear: both;
    float: left;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-family: Verdana;
    font-size: 0.75em;
    line-height: 15px;
    background-color: #063662; }
    .ardplayer .error .error-img img {
      width: 20%;
      height: auto;
      margin: 0 auto; }
    .ardplayer .error h2 {
      color: #fff;
      font-size: 1.6em;
      line-height: 150%;
      text-transform: uppercase;
      margin: 2% auto 0 auto; }
    .ardplayer .error p {
      color: #fff;
      font-size: 1.2em;
      line-height: 130%;
      margin: 0;
      padding: 10px; }
    .ardplayer .error a.ardplayer-error-button {
      color: #000;
      text-decoration: none;
      font-size: 1em;
      display: inline-block;
      padding: 2px 8px;
      margin-top: 4px;
      margin-bottom: 2px;
      background: #feffff; }
      .ardplayer .error a.ardplayer-error-button:hover {
        background: #e0e1e1; }
    .ardplayer .error a {
      color: #fff;
      text-decoration: underline; }
      .ardplayer .error a:hover {
        text-decoration: none; }
  .ardplayer.ardplayer-audio .error .error-img img {
    display: none !important; }
  .ardplayer.ardplayer-l .error h2, .ardplayer.ardplayer-xl .error h2 {
    font-size: 1.6em;
    line-height: 150%; }
  .ardplayer.ardplayer-l .error .error-img img, .ardplayer.ardplayer-xl .error .error-img img {
    width: 35%; }
  .ardplayer.ardplayer-l .error p, .ardplayer.ardplayer-xl .error p {
    font-size: 1.334em;
    line-height: 130%;
    width: 80%;
    margin: 2% auto 0 auto; }
  .ardplayer.ardplayer-xl .error p {
    width: 60%;
    margin: 4% auto 0 auto; }
  .ardplayer.ardplayer-s .error h2 {
    font-size: 1.3em; }
  .ardplayer.ardplayer-s .error .error-img img {
    display: none !important; }
  .ardplayer.ardplayer-s .error p {
    font-size: 1em;
    margin: 2px; }
  .ardplayer.ardplayer-xs .ardplayer-controlbar {
    height: 46px; }
    .ardplayer.ardplayer-xs .ardplayer-controlbar .ardplayer-controlbar-slider {
      display: none !important; }
  .ardplayer.ardplayer-xs .error h2 {
    display: none; }
  .ardplayer.ardplayer-xs .error a {
    display: none; }
  .ardplayer.ardplayer-xs .error p {
    font-size: xx-small;
    line-height: normal;
    margin: 10px;
    padding: 0; }
  .ardplayer.ardplayer-xs .error p.ardplayer-q-select {
    display: none; }
  .ardplayer.ardplayer-xs .error .error-img img {
    display: none !important; }
/*# sourceMappingURL=main.css.map */

