@charset "UTF-8";

/* Config Setup HTML
++++++++++++++++++++++++++++++++++++++++ */
* {
	margin: 0;
	padding: 0;
	font-size:12px;
	line-height:18px;
}

a {
	text-decoration: none;
	color:#0F3D99;
}

a:link {
	text-decoration: underline; 
}

a:hover {
	text-decoration: underline;
}

/* Setup Override
Default setup: Windows IE 6.0
++++++++++++++++++++++++++++++++++++++++ */
body, 
input, 
select, 
textarea {
	font-family: "ＭＳ Ｐゴシック", sans-serif;
	font-size: 0.8em; /* 13px;0.8em;80%;          font-size: smaller;line-height: 1.4em;  */
	/*line-height: 1.5em;*/  /* 19px;1.5em;145% */
	line-height: 1.5em;
 -webkit-text-size-adjust:100%;
}

/* いずれの組み合わせも可能 */
/* 文字サイズがsmallerの場合、1.4emか、19pxで組み合わせる */

body {
	background: #fff;
	color: #333;
}

form label, 
form span {
	vertical-align: middle;
}

/*
Win IE 6.0
	input[type=""] 効かない
	form部品は文字サイズ以外効かない
*/
input {
	/* margin: 0px 2px 1px 2px;*/
	margin: 0px 2px 0px 2px;
	padding: 2px 1px 2px 1px;
	vertical-align: middle;
	font-size: 1em;
	line-height: 1.1em;
}


/* 以下、input[type="xxxx"] はIE7用セットアップ */

input[type="text"] {
	vertical-align: middle;
}

input[type="password"] {
	vertical-align: middle;
}

input[type="file"] {
	vertical-align: middle;
}

input[type="button"] {
	vertical-align: middle;
}

input[type="submit"] {
	vertical-align: middle;
}

input[type="checkbox"] {
	vertical-align: middle;
}

input[type="radio"] {
	vertical-align: middle;
}

/* IE6は vertical-alignを指定しない IE6はoptionがきかない*/
select {
	/* 文字のパディング */
	margin: 0px 2px 0px 2px;
	/* padding: （1,2,3,4指定とも）効かない;*/
	vertical-align: middle;
	font-size: 1em;
	line-height: 1em;
}

select option {
	/* padding: （1,2,3,4指定とも）効かない;*/
}

textarea {
	padding: 4px 2px 4px 2px;
	border: 1px inset #999;
	font-size: 1em;
	line-height: 1em;
}

button {
	margin: 0px 4px 0px 4px;
	padding: 0px 2px 0px 2px;
	border: 1px outset #999;
	vertical-align: middle;
}

li { margin:0; }


/* end Setup Override
++++++++++++++++++++++++++++++++++++++++ */








/* Windows IE6 */
.win.ie6 {
	/*  */
}

/* Windows IE7 */
.win.ie7 {
	/*  */
}








/* Gecko系ブラウザ設定
++++++++++++++++++++++++++++++++++++++++ */
/* Mozilla, Firefox, Camino (All OS) */
.gecko a {
	overflow: hidden;
/*
outline: 0; で指定しない。outline実装状況: Win&Mac FireFox 1.5.x, FireFox2.x, Win&Mac safari3.x 
*/
}


/* Windows Gecko (Mozilla, Firefox, Camino) 
++++++++++++++++++++++++++++++++++++++++ */
.win.gecko body {
	font-size: 0.8em; /* 80%; 0.8em; */
	line-height: 1.49em; /* 149%; 1.48em; */
}

.win.gecko input {
	/*
	Override = vertical-align: middle;
	Win IE 6 以外は属性要素 input[type="xxx"]で指定
	*/
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.win.gecko input[type="text"] {
	margin: 1px 2px 1px 2px;
	padding: 2px 1px 0px 1px;
}

.win.gecko input[type="password"] {
	margin: 1px 2px 1px 2px;
	padding: 2px 1px 0px 1px;
}

.win.gecko input[type="file"] {
	margin: 1px 2px 2px 2px;
	padding: 1px 1px 0px 1px;
}

.win.gecko input[type="button"] {
	margin: 0px 2px 0px 2px;
	padding: 2px 3px 2px 3px;
}

.win.gecko input[type="submit"] {
	margin: 0px 2px 0px 2px;
	padding: 2px 3px 2px 3px;
}

.win.gecko input[type="checkbox"] {
	margin: 4px 5px 3px 5px;
}

.win.gecko input[type="radio"] {
	margin: 4px 5px 3px 5px;
}

.win.gecko select {
	/* 1em指定しないと文字サイズが大きくなってしまう */
	margin: 0px 2px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.win.gecko select option {
	padding: 0px 2px 0px 2px;
}

.win.gecko textarea {
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
}

.win.gecko button {
	margin: 0px 4px 0px 4px;
	padding: 1px 2px 3px 2px;
	vertical-align: middle;
}



/* Windows Opera (All versions) 
++++++++++++++++++++++++++++++++++++++++ */
.win.opera body {
	font-size: 0.8em;
	line-height: 1.45em;
	/* letter-spacing: -0.1em; */ 
}

.win.opera input {
	margin: 0px;
	padding: 0px;
}

.win.opera label {
	/* letter-spacing: -0.1em; */
}

.win.opera input[type="text"] {
	margin: 2px 2px 1px 2px;
	padding: 2px 2px 2px 2px;
}

.win.opera input[type="password"] {
	margin: 2px 2px 1px 2px;
	padding: 2px 2px 2px 2px;
}

.win.opera input[type="file"] {
	margin: 1px 2px 0px 2px;
	padding: 2px 2px 2px 2px;
}

.win.opera input[type="button"] {
	margin: 1px 2px 1px 2px;
	padding: 3px 4px 3px 4px;
	/* letter-spacing: -0.1em; */
}

.win.opera input[type="submit"] {
	margin: 1px 2px 1px 2px;
	padding: 3px 4px 3px 4px;
	/* letter-spacing: -0.1em; */
}

.win.opera input[type="checkbox"] {
	margin: 1px 2px 2px 4px;
}

.win.opera input[type="radio"] {
	margin: 1px 2px 2px 4px;
}

.win.opera select {

	/* height: 1.8em; */
	padding: 3px 4px 2px 4px;
}

.win.opera select option {
	padding: 3px 4px 2px 4px;
}

.win.opera textarea {
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
}

.win.opera button {
	margin: 0px 4px 0px 4px;
	padding: 1px 6px 2px 6px;
	vertical-align: middle;
}





/* Mac Gecko (Mozilla, Firefox, Camino) 
++++++++++++++++++++++++++++++++++++++++ */
.mac.gecko body, 
.mac.gecko input, 
.mac.gecko select, 
.mac.gecko textarea {
/*	font-family: "ヒラギノ角ゴ Pro W3", sans-serif;
safariのようなバグなし

*/

	font-family: "Hiragino Kaku Gothic Pro", sans-serif;

	/* font-size: 13.5px; */
	/* font-size: 0.95em; */

font-size: 13.5px;
/* line-height: 1.33; */
	line-height: 19px;

/* font-size: 95%; */
	
/* line-height: 1.33; 13.5px; */
	/* line-height: 19px; */
	/* line-height: 1.33; */
}

.mac.gecko label {
	/* Windows MS Pゴシックにフォームラベル文字間を合わせる */
	letter-spacing: -0.1em;
}

.mac.gecko input {
	/*
	Override = vertical-align: middle;
	Win IE 6 以外は属性要素 input[type="xxx"]で指定
	*/
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.mac.gecko input[type="text"] {
	margin: 1px 2px 1px 3px;
	padding: 0px 2px 0px 2px;
	border: 1px inset #999;
}

.mac.gecko input[type="password"] {
	margin: 1px 2px 1px 3px;
	padding: 0px 2px 0px 2px;
	border: 1px inset #999;
}

.mac.gecko input[type="file"] {
	/*
	border: 効かない
	*/
	margin: 0px 2px 4px 3px;
	padding: 0px 2px 0px 2px;
}

.mac.gecko input[type="button"] {
	margin: 1px 2px 0px 4px;
	padding: 0px 3px 0px 3px;
	border: 1px outset #999;
}

.mac.gecko input[type="submit"] {
	margin: 1px 2px 0px 4px;
	padding: 0px 3px 0px 3px;
	border: 1px outset #999;
}

.mac.gecko input[type="checkbox"] {
	/*
	border: 効かない
	background: 効かない
	padding: 効かない
	*/
	margin: 3px 6px 4px 6px;
}

.mac.gecko input[type="radio"] {
	/*
	border: 効かない
	background: 効かない
	color: 効かない
	*/
	margin: 3px 6px 4px 6px;
}

.mac.gecko select {
	/*
	padding-left, padding-rightの指定はselect optionに指定する
	*/
	margin: 0px 0px 0px 5px;
	border: 1px inset #999;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

.mac.gecko select option {
	padding: 0px 4px 0px 4px;
}

.mac.gecko textarea {
	padding: 2px 2px 2px 2px;
	border: 1px inset #999;
}

.mac.gecko button {
	margin: 0px 4px 0px 4px;
	padding: 2px 3px 2px 3px;
	font-size: 100%;
}







/* Mac Opera (All versions) 
++++++++++++++++++++++++++++++++++++++++ */
.mac.opera body, 
.mac.opera input, 
.mac.opera select, 
.mac.opera textarea {
	font-family: "Hiragino Kaku Gothic Pro", sans-serif;
	font-size: 13px;
	line-height: 19px;
	/* line-height: 1.4;*/
}

.mac.opera label {
	/* Windows MS Pゴシックにフォームラベル文字間を合わせる */
	letter-spacing: -0.1em;
}

.mac.opera input {
	/*
	Override = vertical-align: middle;
	Win IE 6 以外は属性要素 input[type="xxx"]で指定
	*/
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.mac.opera input[type="text"] {
	margin: 1px 2px 2px 2px;
	padding: 1px 2px 1px 2px;
	border: 1px inset #999;
}

.mac.opera input[type="password"] {
	margin: 1px 2px 2px 2px;
	padding: 1px 2px 1px 2px;
	border: 1px inset #999;
}

.mac.opera input[type="file"] {
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	border: 1px inset #999;
}

.mac.opera input[type="button"] {
	margin: 0px 0px 2px 0px;
	padding: 2px 7px 0px 7px;
}

.mac.opera input[type="submit"] {
	/*
	input[type="submit"] ボーダーを設定するとブラウザ依存のUIに変化する
	- 1em指定しないと文字サイズが小さくなってしまう
	*/
	margin: 0px 0px 2px 0px;
	padding: 2px 7px 0px 7px;
}

.mac.opera input[type="checkbox"] {
	/* margin: 2px 4px 3px 4px; */
	margin: 0px 3px 3px 3px;
}

.mac.opera input[type="radio"] {
	margin: 1px 3px 2px 3px;
}

.mac.opera select {
	/*
	selectにボーダーを設定するとブラウザ依存のUIに変化する
	padding: 効かない
	1em指定しないと文字サイズが小さくなってしまう
	*/
	margin: -3px 0px 0px 0px;
	padding: 2px 0px 2px 4px;
	vertical-align: middle;
	font-size: 1em;
}

.mac.opera select option {
	/*
	line-height: 効かない 
	height: 効かない
	font-size: 効かない
	*/
}

.mac.opera textarea {
	/*
	フォント指定しないとOSデフォルトになる
	*/	
	margin: 0px 0px 0px 4px;
	padding: 2px 2px 2px 2px;
}

.mac.opera button {
	margin: 0px 4px 0px 4px;
	padding: 1px 5px 2px 5px;
	font-size: 100%;
}




/* Mac Webkit (Safari, NetNewsWire, OmniWeb, Shiira) 
++++++++++++++++++++++++++++++++++++++++ */
.mac.webkit body, 
.mac.webkit input, 
.mac.webkit select, 
.mac.webkit textarea {
	font-family: "Hiragino Kaku Gothic Pro", sans-serif;
	/* Hiragino Kaku Gothic Pro W3で指定すると英数フォントが変わってしまうバグあり
	"ヒラギノ角ゴ Pro W3"でも同じ
	英数、日本語すべてを同じ書体で表示するには、"Hiragino Kaku Gothic Pro"と表記すること
	*/

	/*バグ：verdanaしない場合、"Hiragino Kaku Gothic Pro"を指定するとフォームの文字高さが変わる（シングルクォーテーションでも同じ）*/
	font-size: 13px;
	/* line-height: 19px; */
	/* line-height: 1.40; */
	line-height: 19px;
}

.mac.webkit label {
	/* Windows MS Pゴシックにフォームラベル文字間を合わせる */
	letter-spacing: -0.1em;
}

.mac.webkit input {
	/*
	Override = vertical-align: middle;
	Win IE 6 以外は属性要素 input[type="xxx"]で指定
	*/
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.mac.webkit input[type="text"] {
	margin: 1px 2px 1px 3px;
	padding: 2px 2px 2px 2px;
}

.mac.webkit input[type="password"] {
	margin: 0px 2px 0px 3px;
	padding: 2px 2px 2px 2px;
	vertical-align: baseline;
}

.mac.webkit input[type="file"] {
	margin: 0px 2px 4px 3px;
	padding: 2px 2px 2px 2px;
}

.mac.webkit input[type="button"] {
	/* margin: 2px 2px 6px 2px; */
	margin: 4px 4px 3px 4px;
	vertical-align: baseline;
	/*
	padding: 効かない
	ボタン内文字サイズが親要素より小さいが、あわせられない。
	*/
}

.mac.webkit input[type="submit"] {
	/* margin: 1px 2px 6px 2px; */
	margin: 4px 4px 3px 4px;
	vertical-align: baseline;
	/*
	padding: 効かない
	*/
}

.mac.webkit input[type="checkbox"] {	
	/* margin: 2px 5px 2px 5px; */
	margin: 3px 3px 3px 4px;
	vertical-align: baseline;
}

.mac.webkit input[type="radio"] {
	/* margin: 2px 5px 5px 5px; */
	margin: 2px 5px 2px 5px;
	vertical-align: baseline;
}

.mac.webkit select {
	/* bug
	select-option の文字サイズを変更する場合 select のみ反映される
	*/
	margin: 1px 2px 1px 2px;
	vertical-align: baseline;
}

.mac.webkit select option {
	padding: 0px 2px 0px 2px;
}

.mac.webkit textarea {
	/*
	line-height: 1em以下は効かない
	border: 効かない
	*/
	margin: 0px 0px 0px 5px;
	padding: 2px 2px 2px 2px;
}

.mac.webkit button {
	margin: 1px 4px 0px 4px;
	padding: 2px 5px 2px 5px;
	font-size: 100%;
}





/* end Setup Override
++++++++++++++++++++++++++++++++++++++++ */


/* CSS Enabler font-size memo*/
/*
h1
h2-h6
+3アップテキスト (font-size: 140%;)
+2アップテキスト (font-size: 125%;)
+1アップテキスト (font-size: 110%;)
標準サイズ
標準サイズ （文字高さ縮め） (line-height: 100%;)
-1ダウンテキスト (font-size: 80%;)
-1ダウンテキスト （文字高さ縮め） (font-size: 80%; line-height: 120%;)
*/



/* グローバル
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* クリアフィックス (CSS Hack)
++++++++++++++++++++++++++++++++++++++++++++++++ */
.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.clearfix { min-height: 1px; }
* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}



/* 区切り線
++++++++++++++++++++++++++++++++++++++++ */
.sect_line {
	clear: both;
	background: url(/common/images/line_02_570.gif) repeat-x 0 10px;
}

.border_dash_top {
  border-top:1px dashed #CCC;
}

/* 区切り線で高さ指定
++++++++++++++++++++++++++++++++++++++++ */
.lh1 {
  height:1px !important;
  font-size:1px !important;
  line-height:1px !important;
  zoom:1;
}


/* リンクアロー 
++++++++++++++++++++++++++++++++++++++++ */
.arrow01 {
padding-left:30px;
background:url(/common/images/arrow_image_blue03.png) no-repeat 15px;
behavior:url(/common/js/iepngfix_renew.htc);
zoom:1;
}

.arrow02 {
	padding-left: 15px;
	background: url(/images/arrow01.gif) 0 3px no-repeat;
}

.arrow03 {
	padding-left: 15px;
 background:url(/common/images/arrow_image_blue02.png) no-repeat left;
 behavior:url(/common/js/iepngfix_renew.htc);
 zoom:1;
}

.arrow04{
	padding-left:13px !important;
	background: url(/common/images/arrow_image.png) no-repeat -12px -8px;
	behavior:url(/common/js/iepngfix_renew.htc);
	display:inline;
}

.arrow05{
	padding-left:13px !important;
	background: url(/common/images/arrow_image.png) no-repeat -12px -11px;
	behavior:url(/common/js/iepngfix_renew.htc);
	display:inline;
}

.arrow04_on,
.arrow05_on {
	padding-left:13px !important;
	behavior:url(/common/js/iepngfix_renew.htc);
	font-weight:bold;
	display:inline;
}

.arrow04_on {
/*	background: url(/common/images/arrow_image_on.png) no-repeat 0 4px; */
	background: url(/common/images/arrow_image.png) no-repeat -12px -8px;
 behavior:url(/common/js/iepngfix_renew.htc);
}

.arrow05_on {
/*	background: url(/common/images/arrow_image_on.png) no-repeat; */
	background: url(/common/images/arrow_image.png) no-repeat -12px -11px;
 behavior:url(/common/js/iepngfix_renew.htc);
}

.arrow06 {
padding-left:10px;
background:url(/common/images/arrow_image_blue01.png) no-repeat 0 6px;
behavior:url(/common/js/iepngfix_renew.htc);
zoom:1;
}

.arrow07 {
padding-left:10px;
background:url(/common/images/arrow_image_blue01.png) no-repeat left;
behavior:url(/common/js/iepngfix_renew.htc);
zoom:1;
}

/*.on a {
background-color:#dde9f6;
}

.on a {
background-color:#dde9f6;
}*/




.link_blank01 {
background:url(/common/images/icon_link_blank.png) no-repeat left;
behavior:url(/common/js/iepngfix_renew.htc);
padding-left:15px;
zoom:1;
}

.ico_pc {
background:url(../images/ico_pc.png) no-repeat right;
width:100%;
line-height:16px;
}

.ico_mobile {
background:url(../images/ico_mobile.png) no-repeat right;
width:100%;
line-height:16px;
}

.ico_iphone {
background:url(../images/ico_iphone.png) no-repeat right;
width:100%;
height:16px;
}

.ico_android {
background:url(../images/ico_android.png) no-repeat right;
width:100%;
height:16px;
}

.ico_iphone img,
.ico_android img {
padding-right:40px;
}
.ie6 .ico_iphone img,
.ie6 .ico_android img {
margin-top:1px;
}

span.ico_txt {
display:none;
width:36px;
}

.ico_fxneo {
background:url(../images/ico_fxneo_c365.png) no-repeat top left;
height:22px;
padding-left:30px;
padding-top:3px;
}

.ico_c365 {
background:url(../images/ico_fxneo_c365.png) no-repeat top left;
height:22px;
padding-left:30px;
padding-top:3px;
}

/* パンくず
++++++++++++++++++++++++++++++++++++++++ */
#TOPIC ul {
list-style:none;
color:#666;
}

#TOPIC li {
margin-left:4px;
float:left;
}

#TOPIC li.first {
margin-left:0 !important;
}


/* CONTENTS_AREA
++++++++++++++++++++++++++++++++++++++++ */
#CONTENTS_AREA {
width:980px;
margin:0 auto;
padding:16px 0;
}

#CONTENTS_AREA a {
color:#0f3d99;
text-decoration:none;
}

#CONTENTS_AREA a:hover {
text-decoration: underline;
}

/* ２カラム　レイアウト  */
#CONT_2COL_LEFT {
width:200px;
float:left;
}

#CONT_2COL_RIGHT {
width:680px;
float:right;
}


/* Setup: heading
++++++++++++++++++++++++++++++++++++++++ */
h1 {
	font-size: 110%; /* Fit px = 14px */
}

h2, h3, h4, h5, h6 {
	font-size: 100%; /**/
}

/* 共通タイトル
++++++++++++++++++++++++++++++++++++++++ */
h1.common {
margin-top:4px;
border-bottom:3px solid #8e99ad;
min-height:29px;
height:auto !important;
height:29px;
}

h1.common span.left {
display:block;
float:left;
}

h1.common span.right {
display:block;
float:right;
}

h1.common:after { display: block; clear: both; visibility: hidden; }

h2.common {
border:1px solid #c7ccd6;
border-bottom:0;
background:url(/common/images/bg_h2_common.png) repeat-x left bottom;
min-height:35px;
height:auto !important;
height:35px;
}

h2.common span {
display:block;
color:#1e335c;
font-size:14px !important;
padding-top:9px;
padding-left:10px;
}

h3.common {
border-bottom:2px solid #8e99ad;
color:#1e335c;
font-size:14px !important;
padding-bottom:4px;
}

h4.common {
background:url(/common/images/bg_h4_common.png) repeat-x left bottom;
color:#1e335c;
font-size:12px !important;
padding-bottom:4px;
}

h4.common span {
background:url(/common/images/bg_h4_icon.png) no-repeat left;
padding-left:18px;
vertical-align:auto;
}

.midashi {
font-size:12px;
font-weight:bold;
color:#1e335c;
}

.ico_title_new {
	background-image:url(/common/images/ico_title_new.png);
	background-repeat:no-repeat;
	background-position:right;
}





/* contents possition:center
++++++++++++++++++++++++++++++++++++++++ */
.container {
	clear: both;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

/* possition
++++++++++++++++++++++++++++++++++++++++ */
.left  {
	float: left;
}

.right {
	float: right;
}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}

.valign_m {
  vertical-align:middle;
}

.valign_t {
  vertical-align:top;
}

/* common
++++++++++++++++++++++++++++++++++++++++ */
.box {
	clear: both;
	width: 980px;
	margin: 0 auto;
}

/*
横幅が760pxで右寄せのボックス
*/
.box_section {
	width: 760px;
	margin: 0px auto 60px auto;
}

/* パンくず
++++++++++++++++++++++++++++++++++++++++ */
#BREAD {
	clear: both;
	margin-top: 16px;
}

#BREAD span {
	vertical-align: baseline;
}

#BREAD a {
	text-decoration: none!important;

}

/* サービスマップ
++++++++++++++++++++++++++++++++++++++++ */
#SERVICEMAP a {
	text-decoration: none;
	color: #333355;
}

#SERVICEMAP a:link {
	text-decoration: none;
	color: #333355;
}

#SERVICEMAP a:hover {
	text-decoration: underline;
	color: #ff5c33;
}

/* クリアフィックス css hack */
#SERVICEMAP:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

#SERVICEMAP {
  min-height: 1px;
}

* html #SERVICEMAP {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}
/* end クリアフィックス */

#SERVICEMAP {
	position: relative;
	padding: 10px 0 10px 20px;
	border: 1px solid #e5e5e6;
	border-top: none;
	background: #fcfcfd;
	font-size: 95%;
	/* color: #333355; */
	margin-bottom: 40px;
}

#SERVICEMAP .label {
	position: absolute;
	top: 0;
	left: -20px;
	width: 20px;
	height: 100px;
	background: url(/common/images/bg_servicemap.gif) no-repeat;
	font-size: 12px;
	line-height: 12px;
}

#SERVICEMAP .label span {
	display: block;
	text-indent: -9999px;
}

#SERVICEMAP ul {
	float: left;
	width: 150px;
}

#SERVICEMAP li {
	list-style: none;
}

#SERVICEMAP .category {
	font-weight: bold;
	line-height: 110%;
	padding-bottom: 5px;
}

#SERVICEMAP .sect06, 
#SERVICEMAP .sect07, 
#SERVICEMAP .sect08 {
	clear: both;
	margin-top: 5px;
	padding-top: 5px;
	width: 100%;
	border-top: 1px solid #e5e5e6;
}

#SERVICEMAP .sect06 li, 
#SERVICEMAP .sect07 li, 
#SERVICEMAP .sect08 li {
	padding-top: 2px;
	float: left;
	margin-right: 20px;
}

#SERVICEMAP .sect06 .category, 
#SERVICEMAP .sect07 .category, 
#SERVICEMAP .sect08 .category {
	padding-top: 5px;
	margin-right: 40px;
	line-height: 120%;
	width: 110px;
}






#COMMAND_BUTTON {
	float: right;
	width: 390px;
	
		/*第二フェーズで修正＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠＠*/
	/*display: none;
*/
}


#BODY {
min-height:100%;
height:auto !important;
height:100%;
padding-bottom:30px;
}


#BODY_FULL {
	clear: both;
	margin-top:16px;
}

#BODY_MENU {
	/* clear: both; */
	/* margin-top: 10px; */
}

#BODY_MENU_SIDE {
	float: left;
	width: 200px;
}

#BODY_MENU_MAIN {
	float: left;
	width: 680px;
 margin-left:20px;
}

/* 980pxレイアウト対応 */
#BODY_MENU_MAIN_760 {
	float: right;
	width: 760px;
}

					
#BODY_PROM {
	/* clear: both; */
	margin-top: 10px;
}

#BODY_PROM_MAIN {
	/* clear: both; */
	float: left;
	width: 570px;
	
}

#BODY_PROM_SIDE {
	float: right;
	width: 190px;
}

.lookme {
	color: #FF3300;
}








/* ID TITLE_1ND：タイトル画像
++++++++++++++++++++++++++++++++++++++++ */
#TITLE {
	/* clear: both; */
	height: 30px;
	margin-top: 10px;
}

#TITLE_1ST {
	float: left;
	/* margin-top: 10px; */
}

#TITLE_1ST span {
	display: none;
}


/* ID TITLE_2ND：タイトルボタン類
++++++++++++++++++++++++++++++++++++++++ */

#TITLE_2ND {
	float: right;
	width: 270px;
	height: 25px;
}

#TITLE_2ND li {
	float: left;
	width: 90px; /* 共通のwidth: 90px; */
	list-style-type: none;
}

#TITLE_2ND li a {
	display: block;
	height: 25px;
	text-indent: -9999px;
	overflow: hidden; /* 非公式ブラウザOK */
}


/* 手数料一覧
++++++++++++++++++++++++++++++++++++++++ */
#TITLE_2ND .btn01 {
	background: url(/common/images/btn_title_combo.gif) 0px 0px no-repeat;
}

#TITLE_2ND .btn01 a:hover {
	background: url(/common/images/btn_title_combo.gif) 0px -25px no-repeat;
}


/* よくある質問
++++++++++++++++++++++++++++++++++++++++ */
#TITLE_2ND .btn02 {
	background: url(/common/images/btn_title_combo.gif) -90px 0px no-repeat;
}

#TITLE_2ND .btn02 a:hover {
	background: url(/common/images/btn_title_combo.gif) -90px -25px no-repeat;
}

/* 口座を開設
++++++++++++++++++++++++++++++++++++++++ */
#TITLE_2ND .btn03 {
	background: url(/common/images/btn_title_combo.gif) -180px 0px no-repeat;
}

#TITLE_2ND .btn03 a:hover {
	background: url(/common/images/btn_title_combo.gif) -180px -25px no-repeat;
}





/* ボディー
++++++++++++++++++++++++++++++++++++++++ */



#MAIN {
	float: right;
	width: 550px;
	margin-left: 20px;
}









/* pagetop
++++++++++++++++++++++++++++++++++++++++ */
.ptline {
	padding-top: 10px;
}


.pagetop {
	text-align: right;
	padding-bottom: 20px;
	padding-top: 5px;
}


.pagetop_arrow {
	padding-right: 5px;
	vertical-align: -3px;
}


/* pagetop（画面右下表示用）
++++++++++++++++++++++++++++++++++++++++ */
#go_pagetop {
	position: fixed;
	bottom: 0;
	right: 0;
	text-indent: -9999px;
	z-index: 500;
}

.win.ie6 #go_pagetop{
	position: absolute;
	right: 0;
	top:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollTop
	+(documentElement.clientHeight-this.clientHeight) - 0
	: document.body.scrollTop
	+(document.body.clientHeight-this.clientHeight) - 0);
	z-index: 500;
	margin: 0;
}

#go_pagetop a {
	display: block;
	width: 100px;
	height: 28px;
	cursor: pointer;
	background:url(/common/images/pagetop.png) no-repeat 0 0;
	behavior:url(/common/js/iepngfix.htc);
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
}

#go_pagetop a:hover {
	filter: alpha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;
}


/* others
++++++++++++++++++++++++++++++++++++++++ */
.area02 {
	padding: 10px 20px 0px 20px;
}


.text_navi {
	padding: 10px 0px 20px 0px;	
}


.book_box {
	padding: 20px;
}


.header_accent {
	background: url(/common/images/header_accent.gif);
}


.header_bar {
	background-color: #cc0000;
}


.subtitle {
	padding-bottom: 10px;
}


.subtitle_b {
	padding-bottom: 10px;
	font-weight: bold;
}


.section_read {
	padding-bottom: 5px;
	padding-top: 20px;
}


.section_read_b {
	padding-bottom: 5px;
	padding-top: 20px;
	font-size: medium;
	font-weight: bold;
}


.section_bottom {
	text-align: right;
	padding-bottom: 5px;
	padding-top: 20px;
}


.row_space {
	padding-bottom: 10px;
}


.row_space20 {
	margin-top: 20px;
}

.pdf_icon_s {
	/*padding-bottom: 20px;
	*/
	background: url(/common/images/icon_pdf_mini.gif) no-repeat;
	padding-left: 20px;
}

a.pdf_icon_s {
	background: url(/common/images/icon_pdf_mini.gif) left bottom no-repeat;
	padding-top: 1em;
	padding-left: 20px;
}


.imgbox_left {
	height: 480px;
	width: 190px;
}


.tablelabel01 {
	padding: 4px;/*8px*/
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	background-color: #fff;
	white-space: nowrap;
	border: 1px solid #ccc;
}


.tablevalue01 {
	padding: 4px;/*8px*/
	border: 1px solid #ccc;
}


.tablebox01 {
	/*width:auto;*/
	border-collapse: collapse;
}


.tablebox02 {
	width: 100%;
	border-collapse: collapse;
}


.tablelabel02 {
	padding: 2px;
	background-color: #eee;
	/*white-space:nowrap;*/
	border: 1px solid #ccc;
}


.tablelabel02_nw {
	padding: 2px;
	background-color: #eee;
	white-space: nowrap;
	border: 1px solid #ccc;
}


.tablevalue02 {
	padding: 2px;
	/*white-space:nowrap;*/
	border: 1px solid #ccc;
}


.tablewaku {

	/*white-space:nowrap;*/
	border: 1px solid #999999;
}


.pad_arrow {
	padding-right: 10px; 
	padding-left: 10px;
}


.pad_r5px {
	padding-right: 5px;
}


.pad_r10px {
	padding-right: 10px;
}


.pad_t10px {
	padding-top: 10px;
}


/*design*/
.snavi_top {
	background-image: url(/common/images/snavi_top.gif);
}

.snavi_home {
	background-image: url(/common/images/snavi_home.gif);
}

.snavi_bottom {
	background-image: url(/common/images/snavi_bottom.gif);
}







/* メニューここから
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


ul.koza_box {
background:url(/common/images/koza_box_bg.png) no-repeat;
width:192px;
height:80px;
list-style:none;
}

ul.koza_box p {
padding-top:18px;
padding-left:16px;
}

ul.koza_box a {
background:url(/common/images/btn_koza_off.png) no-repeat;
width:160px;
height:44px;
display:block;
text-indent:-9999px;
}

ul.koza_box a:hover {
background:url(/common/images/btn_koza_on.png) no-repeat;
}

/* メニューセットアップ
++++++++++++++++++++++++++++++++++++++++ */
#MENU {
width:192px;
margin-top:8px;
}

#MENU dl {
width:192px;
}

#MENU dl dt {
width:192px;
height:40px;
text-indent:-9999px;
}

#MENU dl dt a {
height:40px;
display:block;
cursor:pointer;
}

#MENU dl dd {
border:1px solid #c7ccd6;
background-color:#FFFFFF;
}

#MENU dl ul {
list-style:none;
}

#MENU dl li {
background:url(/common/images/line_dot01.gif) repeat-x left bottom #FFFFFF;
padding:1px 0;
}

#MENU dl li.last {
background-image: none !important;
}

#MENU dl li a {
display:block;
padding:4px 2px;
cursor:pointer;
text-decoration:none;
margin:0;
color:#0F3D99;
zoom:1;
}

#MENU dl li a span {
display: block;
padding-top:6px;
padding-bottom:6px;
padding-left:18px;
background:url(/common/images/arrow_image_blue01.png) no-repeat 8px 13px;
behavior:url(/common/js/iepngfix_renew.htc);
margin-left:5px;
zoom:1;
}

#MENU dl li li a span {
padding:3px 5px 3px 30px;
line-height:1em;
background-position:20px 6px;
margin-left:0;
}

#MENU dl li li.gnv03 a span {
padding:3px 5px 3px 40px;
background:url(/common/images/arrow_image_blue03.png) no-repeat 26px center;
behavior:url(/common/js/iepngfix_renew.htc);
}

#MENU dl li li.gnv03 a span.ico_new01 {
background:url(/common/images/ico_new.png) no-repeat 146px;
margin:0;
padding:0;
}

#MENU dl li a:hover {
text-decoration:underline;
}

#MENU dl li a span.kabu {
border-left:5px solid #5492d1;
margin-left:0;
}

#MENU dl li a span.fuop {
border-left:5px solid #d17d99;
margin-left:0;
}

#MENU dl li a span.fx,
#MENU dl li a span.fxop,
#MENU dl li a span.fxneo {
border-left:5px solid #edaf34;
margin-left:0;
}

#MENU dl li a span.cfd {
border-left:5px solid #46469e;
margin-left:0;
}

#MENU dl li a span.bond {
border-left:5px solid #6CACCC;
margin-left:0;
}

#MENU dl li a span.cw {
border-left:5px solid #d16630;
margin-left:0;
}

#MENU dl li a span.insurance {
border-left:5px solid #66aacc;
margin-left:0;
}

#MENU dl li a span.maneo {
border-left:5px solid #508a37;
margin-left:0;
}

#MENU dl li ul {
display:inline;
}

#MENU dl li.child {
padding:5px 0;
}

#MENU dl li.child ul {
  display:inline-block;
  width:100%;
}

#MENU dl li li {
background: none;
}

#MENU dl li .guide_navi_on {
background-color:#DDE9F6;
font-weight:bold;
}

#MENU dl li span.guide_navi_on_ex {
background-color:#DDE9F6;
font-weight:bold;
border-left:5px solid #DDE9F6;
margin-left:0;
}

#MENU span.ico_new01 {
background:url(/common/images/ico_new.png) no-repeat 120px;
margin:0;
padding:0;
}

#MENU span.ico_new02 {
background:url(/common/images/ico_new.png) no-repeat 114px;
height:16px;
margin:0;
padding:0;
}

.ie #MENU span.ico_new02 {
  line-height:16px;
}

#MENU dl li.child li.ico_new_c {
background-image:url(/common/images/ico_new.png);
background-repeat:no-repeat;
background-position:152px;
}

/* メニュー：GMOクリック証券の強み
++++++++++++++++++++++++++++++++++++++++ */
#MENU dl dt.about_click {
background:url(/common/images/bg_navi_service_guide.png) no-repeat left top;
behavior:url(/common/js/iepngfix_renew.htc);
}

/* メニュー：取扱商品
++++++++++++++++++++++++++++++++++++++++ */
#MENU dl dt.commodity {
background:url(/common/images/bg_navi_service_guide.png) no-repeat left -40px;
behavior:url(/common/js/iepngfix_renew.htc);
}

/* メニュー：サービスガイド
++++++++++++++++++++++++++++++++++++++++ */
#MENU dl dt.service_guide {
background:url(/common/images/bg_navi_service_guide.png) no-repeat left -80px;
behavior:url(/common/js/iepngfix_renew.htc);
}

/* メニュー：取引ツール
++++++++++++++++++++++++++++++++++++++++ */
#MENU dl dt.tool {
background:url(/common/images/bg_navi_service_guide.png) no-repeat left -120px;
behavior:url(/common/js/iepngfix_renew.htc);
}

/* メニュー：お客様サポート
++++++++++++++++++++++++++++++++++++++++ */
#MENU dl dt.support {
background:url(/common/images/bg_navi_service_guide.png) no-repeat left -160px;
behavior:url(/common/js/iepngfix_renew.htc);
}

/* メニュー：ニュース
++++++++++++++++++++++++++++++++++++++++ */
#MENU dl dt.news {
background:url(/common/images/bg_navi_service_guide.png) no-repeat left -200px;
behavior:url(/common/js/iepngfix_renew.htc);
}

/* メニュー：会社案内
++++++++++++++++++++++++++++++++++++++++ */
#MENU dl dt.company_top {
background:url(/common/images/bg_navi_service_guide.png) no-repeat left -240px;
behavior:url(/common/js/iepngfix_renew.htc);
}








/* メニューここまで
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */





/* 
++++++++++++++++++++++++++++++++++++++++ 
*/


.new_icon {
	vertical-align: -3px;
	padding-right: 5px;
}


.row_text {
	padding-bottom: 10px;
}

.row_space_a {
	padding-top: 10px;
	padding-bottom: 10px;
}


/* qa
++++++++++++++++++++++++++++++++++++++++ 
*/
li.qalist {
	list-style-type: none; 
	padding-left: 1em;
	background: url(/common/images/arrow02.gif) no-repeat left 0.3em;
	margin-bottom: 0.5em;
}

li.answer {
	list-style-type: none; 
	padding-left: 2em;
	background: url(/common/images/des_answer.gif) no-repeat left 0.1em;
}

li.question {
	list-style-type: none; 
	padding-left: 2em;
	margin-bottom: 0.5em; 
	background: url(/common/images/des_question.gif) no-repeat left 0.1em;
	font-weight: bold;
	color: #CC3300;
}

ul.qabox {
	margin-left: 2em; 
}

.question_silver {
	background: url(/common/images/des_question_silver.png) no-repeat left;
 padding-left:18px;
}



/*リストインデント 
++++++++++++++++++++++++++++++++++++++++ */

#BODY_MENU_MAIN li,
#BODY_MENU_MAIN_760 li {
  margin-left: 3em;
}


/* 
++++++++++++++++++++++++++++++++++++++++ */

.list_a {
	padding-left: 40px;
}



.reg_section {
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #3366FF;
}

.reg_section02 {
	padding-bottom: 10px;
	font-weight: bold;
	color: #3366FF;
}


/* list
++++++++++++++++++++++++++++++++++++++++*/
ul.arrow {
	margin-left: 2em;
	margin-right: 1em; 
	vertical-align: bottom;
	list-style-image: url(/common/images/arrow01.gif); 
	font-weight: normal; 
}

li.arrow {
	padding-bottom: 10px;
}

/*new*/
ul.new {
	list-style: inside;
	vertical-align: bottom;
	padding-left: 10px;
	font-weight: normal;
	list-style-image: url(/common/images/new_01.gif);
}

li.new {
	padding-bottom: 5px; 	
}

/* arrow
++++++++++++++++++++++++++++++++++++++++*/

div.new {
	background: url(/common/images/new_01.gif) 10px 1px no-repeat;
	padding: 10px 5px 0px 0px;
	margin: 10px 0px 10px 0px;
}


p.new {
	background: url(/common/images/new_01.gif) 0px 1px no-repeat;
	padding: 0px 0px 0px 40px;
	margin: 0px 0px 0px 0px;
}

p.new a, .new_out a {
	margin-left: 10px;

}

p.new, .new_out {
	white-space: nowrap;
}

p.new_out {
	padding: 0px 0px 0px 40px;
	margin: 0px 0px 0px 0px;
}

div.new_out {
	padding: 0px 5px 0px 45px;
	margin: 10px 0px 10px 0px;
}

div.arrow {
	background: url(/common/images/arrow01.gif) 10px 3px no-repeat;
	padding: 0px 5px 0px 25px;
	margin: 10px 0px 10px 0px;
}

a.arrow {
	background: url(/common/images/arrow01.gif) no-repeat;
	margin: 5px 5px;
	padding-left: 15px;
}

/* form
++++++++++++++++++++++++++++++++++++++++*/
input {
	margin: 3px;
	padding-left: 2px;
	font-size: 100%;
}

option {
	margin-left: 3px;
	margin-right: 3px;
}

select {
	margin: 2px;
	font-size: 100%;
}

form input, span, label {
	vertical-align: middle;
}


/* ID TOP_BTN：口座開設をお考えの方へ
++++++++++++++++++++++++++++++++++++++++ */
#TOP_BTN {
	width: 780px;
	height: 35px;
	margin-bottom: 20px;
}

#TOP_BTN li {
	float: left;
	list-style-type: none;
}

#TOP_BTN li a {
	display: block;
	height: 35px;
	text-indent: -99999px;
}


/* ID TOP_BTN.btn01：選べる手数料体系
++++++++++++++++++++++++++++++++++++++++ */
#TOP_BTN li.btn01 {
	width: 154px;
	background: url(/corp/kouza/images/btn_top_combo.gif) 0px 0px no-repeat;
}

#TOP_BTN li.btn01 a:hover
, #TOP_BTN li.btn01_on {
	width: 154px;
	background: url(/corp/kouza/images/btn_top_combo.gif) 0px -35px no-repeat;
}

/* ID TOP_BTN.btn02：取引ツール
++++++++++++++++++++++++++++++++++++++++ */
#TOP_BTN li.btn02 {
	width: 95px;
	background: url(/corp/kouza/images/btn_top_combo.gif) -154px 0px no-repeat;
}

#TOP_BTN li.btn02 a:hover
, #TOP_BTN li.btn02_on {
	width: 95px;
	background: url(/corp/kouza/images/btn_top_combo.gif) -154px -35px no-repeat;
}

/* ID TOP_BTN.btn03：シングル・サインオン
++++++++++++++++++++++++++++++++++++++++ */
#TOP_BTN li.btn03 {
	width: 149px;
	background: url(/corp/kouza/images/btn_top_combo.gif) -249px 0px no-repeat;
}

#TOP_BTN li.btn03 a:hover
, #TOP_BTN li.btn03_on {
	width: 149px;
	background: url(/corp/kouza/images/btn_top_combo.gif) -249px -35px no-repeat;
}

/* ID TOP_BTN.btn04：モバイルトレード
++++++++++++++++++++++++++++++++++++++++ */
#TOP_BTN li.btn04 {
	width: 129px;
	background: url(/corp/kouza/images/btn_top_combo.gif) -398px 0px no-repeat;
}

#TOP_BTN li.btn04 a:hover
, #TOP_BTN li.btn04_on {
	width: 129px;
	background: url(/corp/kouza/images/btn_top_combo.gif) -398px -35px no-repeat;
}

/* ID TOP_BTN.btn05：口座開設のご案内
++++++++++++++++++++++++++++++++++++++++ */
#TOP_BTN li.btn05 {
	width: 131px;
	background: url(/corp/kouza/images/btn_top_combo.gif) -527px 0px no-repeat;
}

#TOP_BTN li.btn05 a:hover
, #TOP_BTN li.btn05_on {
	width: 131px;
	background: url(/corp/kouza/images/btn_top_combo.gif) -527px -35px no-repeat;
}

/* ID TOP_BTN.btn06：トップ：戻る
++++++++++++++++++++++++++++++++++++++++ */
#TOP_BTN li.btn06 {
	width: 122px;
	background: url(/corp/kouza/images/btn_top_combo.gif) -658px 0px no-repeat;
}

/* onなし */

#TOP_BTN li.btn06 a:hover {
	background: url(/corp/kouza/images/btn_top_combo.gif) -658px -35px no-repeat;
}








/* ++++++++++++++++++++++++++++++++++++++++ */
.section_line {
	margin: 5px 0 5px 0;
	background: url(/common/images/line_02_570.gif) no-repeat;
	height: 5px;
}
.section_line.w680 {
	background: url(/common/images/line_03_680.gif) no-repeat;
}


.section_line span {
	display: none;
}



/* 角丸枠：標準
++++++++++++++++++++++++++++++++++++++++ */
.frame01 .top {
	padding-left: 5px;
	background: url(/common/images/frame01_top_l.gif) left top no-repeat;
}

.frame01 .top div {
	background: url(/common/images/frame01_top_r.gif) right top no-repeat;
}

.frame01 .top_label {
	padding-left: 5px;
	background: url(/common/images/frame01_top_label_l.gif) left top no-repeat;
}

.frame01 .top_label div {
	background: url(/common/images/frame01_top_label_r.gif) right top no-repeat;
}


/*
.frame01 .body {
	border-left: #a1a4b3 1px solid;
	border-right: #a1a4b3 1px solid; 
}
*/


.frame01 .body {
	height: 100%;
	background: url(/common/images/frame01_body.gif) left top repeat-y;
}

.frame01 .body div {
	height: 100%;
	background: url(/common/images/frame01_body.gif) right top repeat-y;
}


.frame01 .bottom {
	clear: both;
	padding-left: 5px;
	background: url(/common/images/frame01_bottom_l.gif) left bottom no-repeat;
}

.frame01 .bottom div {
	height: 10px;
	line-height: 10px;
	background: url(/common/images/frame01_bottom_r.gif) right bottom no-repeat;
}




/* ニュース欄：一覧
++++++++++++++++++++++++++++++++++++++++ 
win ie6のliバグのためpでリスト化（余計なbottomマージンができる）
*/
.topics_date_year {
  font-weight:bold;
  font-size:120%;
  margin-top:20px;
  margin-bottom:10px;
  padding:0 8px 4px;
  border-bottom:1px solid #8E99AD;
}

.topics_list {
 background:url(/images/line_dot01.gif) repeat-x left bottom;
}

.topics_list .date_new, .topics_list .date {
	float: left;
	width: 80px;
	padding: 8px 0;
 text-align:right;
}

.topics_list .date_new {
	background: url(/common/images/new_01.gif) left center no-repeat;
}

.topics_list .topics {
	float: right;
	width: 570px;
	padding: 8px 0;
}
.topics_list .topics a {
text-decoration:none;
}
.topics_list .topics a:hover {
text-decoration: underline;
}



.topics_rss a {
display:block;
background:url(/common/images/ico_rss.png) no-repeat left;
text-indent:-9999px;
width:40px;
height:16px;
cursor:pointer;
}


/* フレーム
++++++++++++++++++++++++++++++++++++++++ */


.frame_side .top {
	height: 5px;
	line-height: 0px;
	font-size: 1px;
	background: url(/common/images/frame_side_top.gif); 
}

.frame_side .body {
	padding: 0px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	line-height: 1.2em;
	font-size: 0.85em;
	color: #000033; 
}

.frame_side .bottom {
	height: 5px;
	line-height: 0px;
	font-size: 1px;
	background: url(/common/images/frame_side_bottom.gif); 
}
.frame_side h2 {
	text-indent: -9999px;
	line-height: 0px;
}
.frame_side .title1 {
	margin: 0px 0px 5px 0px;
	font-weight: bold;
	padding-left: 5px;
	color: #000033;
	line-height: 1em;
}
.frame_side .title2 {
	margin: 20px 0px 5px 0px;
	font-weight: bold;
	padding-left: 5px;
	color: #000033;
	line-height: 1em;
}
.frame_side .kabu {
	border-left: 5px solid #3399ff;
}
.frame_side .fuop {
	border-left: 5px solid #ff80aa;
}
.frame_side .fx {
	border-left: 5px solid #ffbb33;
}
.frame_side .cw {
	border-left: 5px solid #ff7733;
}

.frame_side .text {
	margin-top: 5px;
}


/* FX Flash 表示
++++++++++++++++++++++++++++++++++++++++ */
dt.top_sub_ttl {
background: url(/images/top_image_parts.png?ver=20100614) no-repeat -480px 0;
width:200px;
height:52px;
text-indent:-9999px;
}

#TOP_SUB_IMAGE {
width:200px;
height:156px;
color:#FFFFFF;
text-align:center;
}

dd.top_sub_link01 a {
background:url(/images/top_image_parts.png?ver=20100614) no-repeat -480px -56px;
width:200px;
height:40px;
text-indent:-9999px;
display:block;
}

dd.top_sub_btm {
background-color:#232d36;
width:200px;
height:92px;
text-indent:-9999px;
}

dd.top_sub_btm p {
margin-left:4px;
}

dd.top_sub_btm a {
background:url(/images/top_image_parts.png?ver=20100614) no-repeat -484px -96px;
width:192px;
height:88px;
display:block;
text-indent:-9999px;
}

.ttl_top_sub_fx,
.ttl_top_sub_cfd {
  width:208px;
  height:28px;
}
.ttl_top_sub_fx {
  background:url(/common/images/ttl_top_sub_fx.png?ver=20160205) no-repeat left;
}
.ttl_top_sub_cfd {
  background:url(/common/images/ttl_top_sub_cfd.png) no-repeat left;
}

.ttl_top_sub_fx a,
.ttl_top_sub_cfd a {
  display:block;
  cursor:pointer;
  height:28px;
  text-indent:-9999px;
}

/* 注意事項
++++++++++++++++++++++++++++++++++++++++ */
/* ノーマル */
.attention {
color:#693318;
font-weight:bold;
font-size:12px;
line-height:18px;
}

/* 小文字 */
.attention_s {
color:#693318;
font-weight:bold;
font-size:10px;
letter-spacing:1px;
line-height:14px;
}

/* ボックス */
.attention_box {
color:#693318;
font-size:12px;
line-height:18px;
border:1px solid #9e1d15;
background-color:#fdf9f9;
padding:10px;
}

/* 帯 */
.attention_obi {
color:#693318;
font-size:12px;
font-weight:bold;
line-height:1em;
border-bottom:3px solid #aa8f7a;
background-color:#ebebdd;
padding:8px 12px;
}


.caution_txt {
	color: #e20a16;
}


/* リスト
++++++++++++++++++++++++++++++++++++++++ */
/* ノーマル */
ul.normal {
list-style:disc url(/common/images/list_dot01.png) outside;
margin:0;
}

ul.normal li {
margin-left:15px !important;
margin-bottom:8px !important;
line-height:18px;
}

/* 数字 */
ul.num {
list-style:decimal;
margin:0;
}

ul.num li {
margin-left:28px !important;
margin-bottom:8px !important;
line-height:18px;
}


/* プレフィックス（１文字） */
ul.prefix01 {
list-style:none;
margin:0;
}

ul.prefix01 li {
margin-left:17px !important;
/*margin-bottom:8px;
line-height:18px;*/
text-indent:-17px;
}

ul.prefix01 li.margin0 {
margin-bottom:0 !important;
}

ul.prefix01 li span.pre {
padding-right:5px;
}

/* プレフィックス（2文字） */
ul.prefix02 {
list-style:none;
margin:0;
}

ul.prefix02 li {
margin-left:2em !important;
text-indent:-2em;
}

ul.prefix02 li.margin0 {
margin-bottom:0 !important;
}

ul.prefix02 li span.pre {
padding-right:5px;
}


/* アンカーリンク（ページ内リンク用）
++++++++++++++++++++++++++++++++++++++++ */
ul.anchor_link {
list-style:none;
margin:0;
}

ul.anchor_link li {
margin-left:0 !important;
display:inline;
margin-right:18px;
}

ul.anchor_link li a {
display: inline-block;
background:url(/common/images/link_page_icon.png) no-repeat;
line-height:16px;
padding-left:20px;
}




/* ページ遷移リンク（back、foward）
++++++++++++++++++++++++++++++++++++++++ */
ul.page_link_btm {
list-style:none;
border-bottom:2px solid #1e335c;
padding-bottom:13px;
}

ul.page_link_btm li {
width:300px;
margin:0 !important;
}

/*ul.page_link_btm li.left {
background:url(/common/images/arrow_left.gif) no-repeat left;
padding-left:20px;
}

ul.page_link_btm li.right {
background:url(/common/images/arrow_right.gif) no-repeat right;
padding-right:20px;
text-align:right;
}*/


.arrow-l {
background:url(/common/images/arrow_left.gif) no-repeat left;
padding-left:20px;
}

.arrow-r {
background:url(/common/images/arrow_right.gif) no-repeat right;
padding-right:20px;
text-align:right;
}



/* FXデモ取引　口座開設・ログインボタン
++++++++++++++++++++++++++++++++++++++++ */
ul.demo_login {
width:680px;
height:96px;
list-style:none;
}

ul.demo_login li {
margin:0 !important;
}

ul.demo_login li.kouza {
background:url(/common/images/bg_demo_kouza.png) no-repeat;
width:454px;
height:96px;
float:left;
}

ul.demo_login li.kouza div {
padding-top:36px;
margin-left:96px;
}

ul.demo_login li.kouza div a {
display:block;
background:url(/common/images/btn_demo_kouza_off.png) no-repeat;
width:264px;
height:48px;
cursor:pointer;
text-indent:-9999px;
}

ul.demo_login li.login {
background: url(/common/images/bg_demo_login.png) no-repeat;
width:226px;
height:96px;
float:left;
}

ul.demo_login li.login div {
padding-top:40px;
margin-left:26px;
}

ul.demo_login li.login div a {
display:block;
background: url(/common/images/btn_demo_login_off.png) no-repeat;
width:172px;
height:40px;
cursor:pointer;
text-indent:-9999px;
}

/* 外為オプション　デモ取引・ログインボタン
++++++++++++++++++++++++++++++++++++++++ */
ul.fxop_demo_login {
  width:680px;
  height:96px;
  list-style:none;
}
ul.fxop_demo_login li {
  margin:0 !important;
}
ul.fxop_demo_login li.kouza {
  background:url(/common/images/bg_fxop_demo_kouza.png) no-repeat;
  width:454px;
  height:96px;
  float:left;
}
ul.fxop_demo_login li.kouza div {
  padding-top:36px;
  margin-left:96px;
}
ul.fxop_demo_login li.kouza div a {
  display:block;
  background:url(/common/images/btn_fxop_demo_kouza.png) no-repeat left;
  width:264px;
  height:48px;
  cursor:pointer;
  text-indent:-9999px;
}
ul.fxop_demo_login li.login {
  background: url(/common/images/bg_demo_login.png) no-repeat;
  width:226px;
  height:96px;
  float:left;
}
ul.fxop_demo_login li.login div {
  padding-top:40px;
  margin-left:26px;
}
ul.fxop_demo_login li.login div a {
  display:block;
  background: url(/common/images/btn_demo_login_off.png) no-repeat;
  width:172px;
  height:40px;
  cursor:pointer;
  text-indent:-9999px;
}

/* 口座開設ボタン
*****************************************/
.koza_kai_area {
margin-top:30px;
background-color:#f3f3f4;
}

.koza_kai_area ul {
list-style:none;
width:680px;
}

.koza_kai_area li {
float:left;
text-indent:-9999px;
margin:0 !important;
}

.koza_kai_area li.left_bg {
background: url(/common/images/bg_kouza_kai_txt01.png) no-repeat;
width:504px;
height:64px;
}

.koza_kai_area li.btn_bg {
background: url(/common/images/bg_kouza_kai_btn.png) no-repeat;
width:176px;
height:64px;
}

.koza_kai_area li.btn_bg p {
padding-top:10px;
}

.koza_kai_area li.btn_bg a  {
background:url(/common/images/btn_koza02_off.png) no-repeat;
width:176px;
height:44px;
display:block;
cursor:pointer;
text-indent:-9999px;
}

.koza_kai_area li.btn_bg a:hover {
background:url(/common/images/btn_koza02_on.png) no-repeat;
}

.koza_kai_area li.left_txt {
width:504px;
text-indent:0 !important;
color:#1e335c;
}

.koza_kai_area li.left_txt p {
margin-left:4px;
padding:8px 16px;
background-color:#FFFFFF;
}

.koza_kai_area li.right_link {
width:176px;
text-indent:0 !important;
}

.koza_kai_area li.right_link p {
margin-right:4px;
padding:8px 2px 8px 10px;
background:url(/common/images/arrow_image_blue01.png) no-repeat left #FFFFFF;
behavior:url(/common/js/iepngfix_renew.htc);
zoom:1;
}

/****  980px対応 ****/
.koza_kai_area_760 {
margin-top:30px;
background-color:#f3f3f4;
}

.koza_kai_area_760 ul {
list-style:none;
width:760px;
}

.koza_kai_area_760 li {
float:left;
text-indent:-9999px;
margin:0 !important;
}

.koza_kai_area_760 li.left_bg {
background: url(/common/images/bg_kouza_kai_txt02.png) no-repeat;
width:584px;
height:64px;
}

.koza_kai_area_760 li.btn_bg {
background: url(/common/images/bg_kouza_kai_btn.png) no-repeat;
width:176px;
height:64px;
}

.koza_kai_area_760 li.btn_bg p {
padding-top:10px;
}

.koza_kai_area_760 li.btn_bg a {
background:url(/common/images/btn_koza02_off.png) no-repeat;
width:176px;
height:44px;
display:block;
cursor:pointer;
text-indent:-9999px;
}

.koza_kai_area_760 li.btn_bg a:hover {
background:url(/common/images/btn_koza02_on.png) no-repeat;
}

.koza_kai_area_760 li.left_txt {
width:504px;
text-indent:0 !important;
color:#1e335c;
}

.koza_kai_area_760 li.left_txt p {
margin-left:4px;
padding:8px 16px;
background-color:#FFFFFF;
}

.koza_kai_area_760 li.right_link {
width:176px;
text-indent:0 !important;
}

.koza_kai_area_760 li.right_link p {
margin-right:4px;
padding:8px 2px 8px 10px;
background:url(/common/images/arrow_image_blue01.png) no-repeat left #FFFFFF;
zoom:1;
}

.ie6 .koza_kai_area_760 li.right_link p {
behavior:url(/common/js/iepngfix_renew.htc);
}

/* 株式 口座開設ボタン
*****************************************/
.koza_kabu_kai_area {
margin-top:20px;
}

.koza_kabu_kai_area ul {
list-style:none;
width:680px;
}

.koza_kabu_kai_area li {
float:left;
text-indent:-9999px;
margin-left:0 !important;
}

.koza_kabu_kai_area li.left {
background:url(/corp/strengths/common/images/point_txt.png) no-repeat;
width:504px;
height:76px;
}

.koza_kabu_kai_area li.btn_bg {
background: url(/corp/strengths/common/images/point_btn_bg.png) no-repeat;
width:176px;
height:76px;
}

.koza_kabu_kai_area li.btn_bg p {
padding-top:16px;
}

.koza_kabu_kai_area li.btn_bg a {
background:url(/common/images/btn_koza02_off.png) no-repeat;
width:160px;
height:44px;
display:block;
text-indent:-9999px;
}

.koza_kabu_kai_area li.btn_bg a:hover {
background:url(/common/images/btn_koza02_on.png) no-repeat;
}


/* CFD DEMO 口座開設ボタン
*****************************************/
.koza_cfd_demo_area {
margin-top:20px;
}

.koza_cfd_demo_area ul {
list-style:none;
width:680px;
}

.koza_cfd_demo_area li {
float:left;
text-indent:-9999px;
margin:0 !important;
}

.koza_cfd_demo_area li.left_bg {
background: url(/common/images/bg_kouza_cfd_demo_txt01.png) no-repeat left;
width:504px;
height:64px;
}

.koza_cfd_demo_area li.btn_bg {
background: url(/common/images/bg_kouza_kai_btn.png) no-repeat;
width:176px;
height:64px;
}

.koza_cfd_demo_area li.btn_bg p {
padding-top:10px;
}

.koza_cfd_demo_area li.btn_bg a {
background:url(/common/images/btn_koza02_off.png) no-repeat;
width:160px;
height:44px;
display:block;
cursor:pointer;
text-indent:-9999px;
}

.koza_cfd_demo_area li.btn_bg a:hover {
background:url(/common/images/btn_koza02_on.png) no-repeat;
}

.koza_cfd_demo_area li.left_txt {
width:504px;
text-indent:0 !important;
}

.koza_cfd_demo_area li.left_txt p {
padding:8px;
}

.koza_cfd_demo_area li.right_link {
width:176px;
text-indent:0 !important;
}

.koza_cfd_demo_area li.right_link a,
.koza_cfd_demo_area li.right_link a:hover {
background:url(/common/images/btn_cfd_demo2_off.png) no-repeat;
width:160px;
height:32px;
display:block;
cursor:pointer;
text-indent:-9999px;
}

/* CFD DEMO 口座開設ボタン（720px）
*****************************************/
.koza_cfd_demo_area_720 {
margin-top:20px;
}

.koza_cfd_demo_area_720 ul {
list-style:none;
width:720px;
}

.koza_cfd_demo_area_720 li {
float:left;
text-indent:-9999px;
margin:0 !important;
}

.koza_cfd_demo_area_720 li.left_bg {
background: url(/common/images/bg_kouza_cfd_demo_txt02.png) no-repeat left;
width:544px;
height:64px;
}

.koza_cfd_demo_area_720 li.btn_bg {
background: url(/common/images/bg_kouza_kai_btn.png) no-repeat;
width:176px;
height:64px;
}

.koza_cfd_demo_area_720 li.btn_bg p {
padding-top:10px;
}

.koza_cfd_demo_area_720 li.btn_bg a {
background:url(/common/images/btn_koza02_off.png) no-repeat;
width:160px;
height:44px;
display:block;
cursor:pointer;
text-indent:-9999px;
}

.koza_cfd_demo_area_720 li.btn_bg a:hover {
background:url(/common/images/btn_koza02_on.png) no-repeat;
}

.koza_cfd_demo_area_720 li.left_txt {
width:544px;
text-indent:0 !important;
}

.koza_cfd_demo_area_720 li.left_txt p {
padding:8px;
}

.koza_cfd_demo_area_720 li.right_link {
width:176px;
text-indent:0 !important;
}

.koza_cfd_demo_area_720 li.right_link a,
.koza_cfd_demo_area_720 li.right_link a:hover {
background:url(/common/images/btn_cfd_demo2_off.png) no-repeat;
width:160px;
height:32px;
display:block;
cursor:pointer;
text-indent:-9999px;
}

/* CFD 口座開設ボタン（760px）
*****************************************/
.koza_cfd_area_760 {
margin-top:20px;
}

.koza_cfd_area_760 ul {
list-style:none;
width:760px;
}

.koza_cfd_area_760 li {
float:left;
text-indent:-9999px;
margin:0 !important;
}

.koza_cfd_area_760 li.left_bg {
background: url(/common/images/bg_kouza_cfd_area_760_txt01.png) no-repeat left;
width:584px;
height:64px;
}

.koza_cfd_area_760 li.btn_bg {
background: url(/common/images/bg_kouza_kai_btn.png) no-repeat;
width:176px;
height:64px;
}

.koza_cfd_area_760 li.btn_bg p {
padding-top:10px;
}

.koza_cfd_area_760 li.btn_bg a {
background:url(/common/images/btn_koza02_off.png) no-repeat;
width:160px;
height:44px;
display:block;
cursor:pointer;
text-indent:-9999px;
}

.koza_cfd_area_760 li.btn_bg a:hover {
background:url(/common/images/btn_koza02_on.png) no-repeat;
}

.koza_cfd_area_760 li.left_txt {
width:584px;
text-indent:0 !important;
}

.koza_cfd_area_760 li.left_txt p {
padding:8px;
}

.koza_cfd_area_760 li.right_link {
width:176px;
text-indent:0 !important;
}

.koza_cfd_area_760 li.right_link a,
.koza_cfd_area_760 li.right_link a:hover {
background:url(/common/images/btn_cfd_demo2_off.png) no-repeat;
width:160px;
height:32px;
display:block;
cursor:pointer;
text-indent:-9999px;
}


/* CFDデモ取引　口座開設・ログインボタン
++++++++++++++++++++++++++++++++++++++++ */
ul.cfd_demo_login {
width:680px;
height:96px;
list-style:none;
}

ul.cfd_demo_login li {
margin:0 !important;
}

ul.cfd_demo_login li.kouza {
background:url(/common/images/bg_cfd_demo_kouza.png) no-repeat;
width:454px;
height:96px;
float:left;
}

ul.cfd_demo_login li.kouza div {
padding-top:36px;
margin-left:96px;
}

ul.cfd_demo_login li.kouza div a {
display:block;
background:url(/common/images/btn_cfd_demo_kouza_off.png) no-repeat;
width:264px;
height:48px;
cursor:pointer;
text-indent:-9999px;
}

ul.cfd_demo_login li.login {
background: url(/common/images/bg_demo_login.png) no-repeat;
width:226px;
height:96px;
float:left;
}

ul.cfd_demo_login li.login div {
padding-top:40px;
margin-left:26px;
}

ul.cfd_demo_login li.login div a {
display:block;
background: url(/common/images/btn_cfd_demo_login_off.png) no-repeat;
width:172px;
height:40px;
cursor:pointer;
text-indent:-9999px;
}

/* 口座開設ボタン（760px）
*****************************************/
.koza_btn_area_760 {
margin-top:20px;
}

.koza_btn_area_760 ul {
list-style:none;
width:760px;
}

.koza_btn_area_760 li {
float:left;
text-indent:-9999px;
margin-left:0 !important;
}

.koza_btn_area_760 li.left {
background:url(/common/images/point_txt.png) no-repeat;
width:584px;
height:76px;
}

.koza_btn_area_760 li.btn_bg {
background: url(/common/images/point_btn_bg.png) no-repeat;
width:176px;
height:76px;
}

.koza_btn_area_760 li.btn_bg p {
padding-top:16px;
}

.koza_btn_area_760 li.btn_bg a {
background:url(/common/images/btn_koza02_off.png) no-repeat;
width:160px;
height:44px;
display:block;
text-indent:-9999px;
}

.koza_btn_area_760 li.btn_bg a:hover {
background:url(/common/images/btn_koza02_on.png) no-repeat;
}

/* 関連Q&A
++++++++++++++++++++++++++++++++++++++++ */
dl.tab_index_area dt {
	background:url(/common/images/tab_left.png) no-repeat left;
	height:28px;
	padding-left:14px;
}

dl.tab_index_area dt span {
	display:block;
	background:url(/common/images/tab_right.png) no-repeat right #0d549d;
	padding-top:6px;	
	padding-right:9px;
	color:#ffffff;
	height:22px;
	float:left;
}

dl.tab_index_area dd {
	border:2px solid #0d549d;
	border-top-width:6px;
	padding:12px 10px 4px;
}

ul.click_qlist li {
	list-style:none;
	background:url(/common/images/des_question.png) no-repeat left top;
	padding-left:18px;
	margin-bottom:8px;
}


/* テーブル（その１）
++++++++++++++++++++++++++++++++++++++++ */
table.table01 {
 border-collapse: collapse;
 width:100%;
}

table.table01 th {
	border-bottom: 1px solid #c7ccd6;
	font-weight:bold;
	text-align:left;
}

table.table01 td {
	padding: 3px 4px;
	border-bottom: 1px solid #CCCCCC;
}

table.table01 .nowrap {
	white-space: nowrap;
}

/* テーブル（その２）
++++++++++++++++++++++++++++++++++++++++ */
.table02_top {
	background:url(/common/images/bg_table02_top.png) repeat-x left top;
	padding-top:6px;
}

table.table02 {
	border-collapse: collapse;
	border-bottom:4px solid #c7ccd6;
}

table.table02 th {
	background:url(/common/images/bg_table02_line.png) repeat-x left bottom;
	background-color:#f1f4f8;
	text-align:left;
	padding: 4px 12px 7px;
	padding-bottom:3px;
	font-weight:normal;
	color:#1e335c;
	vertical-align:middle;
}

table.table02 th.no_bg,
table.table02 td.no_bg {
 background-image:none;
	border-bottom: 1px solid #CCCCCC;
}

table.table02 th.th01 {
	background-color:#e0e6ee;
 color:#333;
}

table.table02 th.th02 {
 border-left:2px solid #fff;
 color:#333;
}

table.table02 td {
	background:url(/common/images/bg_table02_line.png) repeat-x left bottom;
	padding: 4px 4px 7px;
	vertical-align:middle;
}

table.table02 th.bottom,
table.table02 td.bottom {
background-image:none !important;
}

table.table02 .border_l	{border-left:1px solid #CCCCCC;}

/* テーブル（その3）
++++++++++++++++++++++++++++++++++++++++ */
.table03_top {
	background:url(/common/images/bg_table02_top.png) repeat-x left top;
	padding-top:6px;
	border-bottom:4px solid #c7ccd6;
}

table.table03 {
    border-collapse: separate;
    border-spacing: 0;
 	width:100%;
	border-top:1px solid #c7ccd6;
	border-right:1px solid #c7ccd6;
	border-left:1px solid #c7ccd6;
}

table.table03 th {
	background:url(/common/images/bg_table02_line.png) repeat-x left bottom;
	background-color:#f1f4f8;
	text-align:center;
	padding: 4px 12px 7px;
	padding-bottom:3px;
	color:#1e335c;
	vertical-align:middle;
	font-weight:bold;
}

table.table03 th.no_bg {
 background-image:none;
	border-bottom: 1px solid #CCCCCC;
}


table.table03 td {
	padding: 3px 4px;
	border-bottom: 1px solid #CCCCCC;
}

table.table03 .td01 {
	padding: 3px 10px;
}

table.table03 .td02 {
	padding: 3px 10px;
	border-left:1px solid #CCCCCC;
	text-align:right;
	font-weight:bold;
}

table.table03 .td03 {
	padding: 3px 4px;
	width:265px;
	border-left: 1px solid #CCCCCC;
}

table.table03 .nowrap {
	white-space: nowrap;
}


table.table03 .border_l	{border-left:1px solid #CCCCCC;}


table.table03 .txt_box{
	text-align:left;
	padding:0px 20px;
}


/* テーブル（その4）
++++++++++++++++++++++++++++++++++++++++ */
.table04_top {
	background:url(/common/images/bg_table02_top.png) repeat-x left top;
	padding-top:6px;
	border-bottom:4px solid #c7ccd6;
}

table.table04 {
    border-collapse: separate;
    border-spacing: 0;
	border-top:1px solid #c7ccd6;
	border-right:1px solid #c7ccd6;
	border-left:1px solid #c7ccd6;
	width:100%;
	}

table.table04 th {
	background:url(/common/images/bg_table02_line.png) repeat-x left bottom;
	background-color:#f1f4f8;
	padding: 4px 12px 7px;
	padding-bottom:3px;
	font-weight:bold;
	color:#1e335c;
	vertical-align:middle;
	text-align:center;
}

table.table04 th.no_bg {
  background-image:none;
}

table.table04 td {
	padding: 4px 4px 7px;
	vertical-align:middle;
}

table.table04 .tr01 {
	background:url(/common/images/bg_table02_line.png) repeat-x left bottom;
	}


table.table04 .td01 {
	text-align:center;
}

table.table04 .td02 {
	background:url(/common/images/bg_table02_line.png) repeat-x left bottom;
	border-left:1px solid #c7ccd6;
	background-color:#fdf7ea;
	text-align:right;
}

table.table04 .td02_noline {
	border-left:1px solid #c7ccd6;
	background-color:#fdf7ea;
	text-align:right;
}

table.table04 .td02_noline_l {
	background:url(/common/images/bg_table02_line.png) repeat-x left bottom;
	background-color:#fdf7ea;
}

table.table04 .td03 {
	border-left:1px solid #c7ccd6;
	text-align:right;
}

table.table04 th.bottom,
table.table04 td.bottom {
	background-image:none !important;
}


table.table04 .border_l	{border-left:1px solid #CCCCCC;}

table.table04 .txt_c{text-align:center;}


/* テーブル（その5）
++++++++++++++++++++++++++++++++++++++++ */
.table05_top {
	background:url(/common/images/bg_table02_top.png) repeat-x left top;
	padding-top:6px;
 padding-bottom:2px;
	border-bottom:4px solid #c7ccd6;
}

table.table05 {
 border-collapse: separate;
 border-spacing: 0;
 width:100%;
	border-top:1px solid #c7ccd6;
}

table.table05 th {
/*	background:url(/common/images/bg_table02_line.png) repeat-x left bottom; */
	background-color:#f1f4f8;
	text-align:center;
	padding: 4px 12px 7px;
	color:#333;
	vertical-align:middle;
 font-weight:normal;
 border-bottom:1px solid #CCCCCC;
 border-top:2px solid #fff;
}

table.table05 th.th01 {
	background-color:#e0e6ee;
 border-top:0;
}

table.table05 th.th02 {
	background-color:#f9f9f9;
}

table.table05 td {
	padding: 3px 4px;
/*	background:url(/common/images/bg_table02_line.png) repeat-x left bottom;*/
 border-bottom:1px solid #CCCCCC;
}

table.table05 .td01 {
	padding: 3px 10px;
}

table.table05 .td02 {
	padding: 3px 10px;
 border-top:2px solid #fff;
 border-left:1px solid #CCCCCC;
	text-align:right;
}

table.table05 .td03 {
	padding: 3px 4px;
	width:265px;
	border-left: 1px solid #CCCCCC;
}

table.table05 .nowrap {
	white-space: nowrap;
}


table.table05 .border_l	{
 border-left:1px solid #CCCCCC;
}
table.table05 .border_r	{
 border-right:1px solid #CCCCCC;
}

table.table05 .txt_box{
	text-align:left;
	padding:0px 20px;
}

/* TABLE_zebra01（FXの予備知識）
++++++++++++++++++++++++++++++++++++++++ */
table.zebra01 {
	width: 100%;
	border-collapse: separate;
	padding: 0;
	border: 1px #c7ccd6 solid;
}
table.zebra01 th {
    padding: 2px 0;
	border-bottom: 1px #CCC solid;
    background-color:#f1f4f8;
}
table.zebra01 td {
    padding: 2px 10px;
    text-align:right;
	
}
table.zebra01 tr.even td {
    background: #f6f9fd;
}


table.zebra01 .col1 {
	white-space: nowrap;	
}

table.zebra01 .col2 {
	color:#a75226;
	font-weight:bold;
}
 
table.zebra01 .col2, table.zebra01 .col3, table.zebra01 .col4 , table.zebra01 .col5 {
	border-left: 1px #c7ccd6 solid;
	width: 19%;
}

table.zebra01 .col2 , table.zebra01 .col3 {
	border-left: #FFCC66 3px solid;
}

table.zebra01 .look_top {
	border-top: #FFCC66 3px solid;

}
 
table.zebra01 .look_bottom {
	border-bottom: #FFCC66 3px solid;
}
 

/* TABLE_zebra02（FXの予備知識）
++++++++++++++++++++++++++++++++++++++++ */

table.zebra02 {
	width: 100%;
	border-collapse: separate;
	padding: 0;
	border: 1px #c7ccd6 solid;
	text-align:center;
}
table.zebra02 th {
	border-bottom: 3px #c7ccd6 solid;
  background-color:#f1f4f8;
	height: 2em;
	padding: 0 10px;
	width: 25%;
}

table.zebra02 td {
	height: 3em;
	padding: 0 10px;
}
table.zebra02 tr.even td {
    background: #f6f9fd;
}


table.zebra02 .col1 {
	white-space: nowrap;
	font-weight:bold;
	text-align:left;
}

table.zebra02 .col2 {
	color:#a75226;
}
 
table.zebra02 .col3, table.zebra02 .col4 , table.zebra02 .col5 {
	border-left: 1px #c7ccd6 solid;
}
table.zebra02 .col2 , table.zebra02 .col3 {
	border-left: #FFCC66 3px solid;
}

table.zebra02 .look_top {
	border-top: #FFCC66 3px solid;

}
 
table.zebra02 .look_bottom {
	border-bottom: #FFCC66 3px solid;
}
 


/* TABLE_zebra03（FXの予備知識）
++++++++++++++++++++++++++++++++++++++++ */
.swap {
	letter-spacing: 0.1em;
	margin: 0 auto;	
}

table.zebra03 {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	border: #c7ccd6 1px solid;
}

table.zebra03 th {
	text-align: center;
    background-color:#f1f4f8;
	padding: 0 10px;
	font-weight: bold;
	height: 25px;
	border-bottom: #c7ccd6 1px solid;
}

table.zebra03 td {
	padding: 3px 5px;	
    background: #FFF;
}

table.zebra03 tr.even td {
    background: #f6f9fd;
}

table.zebra03 .col1 {
    border-right:solid 1px #c7ccd6;
}




/* TABLE_zebra04 （FXの予備知識）
++++++++++++++++++++++++++++++++++++++++ */

table.zebra04 {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	border: 1px #a1a4b3 solid;
	text-align:center;
}

table.zebra04 th {
	border-bottom: 1px #a1a4b3 solid;
	border-right: 1px #a1a4b3 solid;
    background-color:#FFF;
	height: 2em;
	padding: 0 10px;
	width: 25%;
	text-align:center;
}

table.zebra04 td {
	border-right: 1px #a1a4b3 solid;
	height: 3em;
	padding: 0 10px;
    background: #eef5ff;
	text-align:left;
}
table.zebra04 tr.even td {
    background: #FFF;
}


table.zebra04 .col1 {
	white-space: nowrap;
	text-align:left;
}
 



/* テーブル（更新履歴）
++++++++++++++++++++++++++++++++++++++++ */
dl.rireki01 {
margin:0;
padding:4px 0;
background:url(/common/images/bg_h4_common.png) repeat-x left bottom;
}

dl.end {
background:none !important;
}

dl.rireki01 dt {
float:left;
width:120px;
}

dl.rireki01 dd.dd01 {
float:left;
width:180px;
}

dl.rireki01 dd.dd02 {
float:right;
width:370px;
}

.rireki_box {
border-top:2px solid #1e335c;
border-bottom:2px solid #1e335c;
margin-top:6px;
}






/* 微調整 margin 四隅均等 */
.mg0  { margin:  0px !important; }
.mg4  { margin:  4px !important; }
.mg5  { margin:  5px !important; }
.mg8  { margin:  8px !important; }
.mg10 { margin: 10px !important; }
.mg12 { margin: 12px !important; }
.mg15 { margin: 15px !important; }
.mg16 { margin: 16px !important; }
.mg20 { margin: 20px !important; }

/* 微調整 margin top */
.mgt0  { margin-top:  0px !important; }
.mgt2  { margin-top:  2px !important; }
.mgt4  { margin-top:  4px !important; }
.mgt5  { margin-top:  5px !important; }
.mgt8  { margin-top:  8px !important; }
.mgt10 { margin-top: 10px !important; }
.mgt12 { margin-top: 12px !important; }
.mgt15 { margin-top: 15px !important; }
.mgt16 { margin-top: 16px !important; }
.mgt20 { margin-top: 20px !important; }
.mgt24 { margin-top: 24px !important; }
.mgt30 { margin-top: 30px !important; }
.mgt40 { margin-top: 40px !important; }
.mgt50 { margin-top: 50px !important; }

/* 微調整 margin right */
.mgr0  { margin-right:  0px !important; }
.mgr4  { margin-right:  4px !important; }
.mgr5  { margin-right:  5px !important; }
.mgr8  { margin-right:  8px !important; }
.mgr10 { margin-right: 10px !important; }
.mgr12 { margin-right: 12px !important; }
.mgr15 { margin-right: 15px !important; }
.mgr16 { margin-right: 16px !important; }
.mgr20 { margin-right: 20px !important; }

/* 微調整 margin bottom */
.mgb0  { margin-bottom:  0px !important; }
.mgb2  { margin-bottom:  2px !important; }
.mgb4  { margin-bottom:  4px !important; }
.mgb5  { margin-bottom:  5px !important; }
.mgb8  { margin-bottom:  8px !important; }
.mgb10 { margin-bottom: 10px !important; }
.mgb12 { margin-bottom: 12px !important; }
.mgb15 { margin-bottom: 15px !important; }
.mgb16 { margin-bottom: 16px !important; }
.mgb20 { margin-bottom: 20px !important; }
.mgb40 { margin-bottom: 40px !important; }

/* 微調整 margin left */
.mgl0  { margin-left:  0px !important; }
.mgl4  { margin-left:  4px !important; }
.mgl5  { margin-left:  5px !important; }
.mgl8  { margin-left:  8px !important; }
.mgl10 { margin-left: 10px !important; }
.mgl12 { margin-left: 12px !important; }
.mgl15 { margin-left: 15px !important; }
.mgl16 { margin-left: 16px !important; }
.mgl18 { margin-left: 18px !important; }
.mgl20 { margin-left: 20px !important; }
.mgl30 { margin-left: 30px !important; }
.mgl40 { margin-left: 40px !important; }

/* 微調整 padding 四隅均等 */
.pd0  { padding:  0px !important; }
.pd2  { padding:  2px !important; }
.pd4  { padding:  4px !important; }
.pd5  { padding:  5px !important; }
.pd8  { padding:  8px !important; }
.pd10 { padding: 10px !important; }
.pd12 { padding: 12px !important; }
.pd15 { padding: 15px !important; }
.pd16 { padding: 16px !important; }
.pd20 { padding: 20px !important; }

/* 微調整 padding top */
.pdt0  { padding-top:  0px !important; }
.pdt4  { padding-top:  4px !important; }
.pdt5  { padding-top:  5px !important; }
.pdt8  { padding-top:  8px !important; }
.pdt10 { padding-top: 10px !important; }
.pdt12 { padding-top: 12px !important; }
.pdt15 { padding-top: 15px !important; }
.pdt16 { padding-top: 16px !important; }
.pdt20 { padding-top: 20px !important; }

/* 微調整 padding right */
.pdr0  { padding-right:  0px !important; }
.pdr4  { padding-right:  4px !important; }
.pdr5  { padding-right:  5px !important; }
.pdr8  { padding-right:  8px !important; }
.pdr10 { padding-right: 10px !important; }
.pdr12 { padding-right: 12px !important; }
.pdr15 { padding-right: 15px !important; }
.pdr16 { padding-right: 16px !important; }
.pdr20 { padding-right: 20px !important; }

/* 微調整 padding bottom */
.pdb0  { padding-bottom:  0px !important; }
.pdb4  { padding-bottom:  4px !important; }
.pdb5  { padding-bottom:  5px !important; }
.pdb8  { padding-bottom:  8px !important; }
.pdb10 { padding-bottom: 10px !important; }
.pdb12 { padding-bottom: 12px !important; }
.pdb15 { padding-bottom: 15px !important; }
.pdb16 { padding-bottom: 16px !important; }
.pdb20 { padding-bottom: 20px !important; }

/* 微調整 padding left */
.pdl0  { padding-left:  0px !important; }
.pdl4  { padding-left:  4px !important; }
.pdl5  { padding-left:  5px !important; }
.pdl8  { padding-left:  8px !important; }
.pdl10 { padding-left: 10px !important; }
.pdl12 { padding-left: 12px !important; }
.pdl15 { padding-left: 15px !important; }
.pdl16 { padding-left: 16px !important; }
.pdl20 { padding-left: 20px !important; }

/* 微調整クラス レイヤーの重なり順序 (注意: タブに適用する場合は !important は指定しないこと) */
.zi1 { z-index: -1; }
.zi2 { z-index: -2; }
.zi3 { z-index: -3; }
.zi4 { z-index: -4; }
.zi5 { z-index: -5; }
.zi6 { z-index: -6; }
.zi7 { z-index: -7; }
.zi8 { z-index: -8; }
.zi9 { z-index: -9; }

/* 微調整クラス ヨコの幅 */
.w20  { width: 20px !important; }
.w30  { width: 30px !important; }
.w40  { width: 40px !important; }
.w50  { width: 50px !important; }
.w60  { width: 60px !important; }
.w70  { width: 70px !important; }
.w80  { width: 80px !important; }
.w90  { width: 90px !important; }
.w100 { width: 100px !important; }
.w110 { width: 110px !important; }
.w120 { width: 120px !important; }
.w130 { width: 130px !important; }
.w140 { width: 140px !important; }
.w150 { width: 150px !important; }
.w160 { width: 160px !important; }
.w170 { width: 170px !important; }
.w180 { width: 180px !important; }
.w190 { width: 190px !important; }
.w200 { width: 200px !important; }
.w210 { width: 210px !important; }
.w220 { width: 220px !important; }
.w230 { width: 230px !important; }
.w240 { width: 240px !important; }
.w250 { width: 250px !important; }
.w260 { width: 260px !important; }
.w270 { width: 270px !important; }
.w280 { width: 280px !important; }
.w290 { width: 290px !important; }
.w300 { width: 300px !important; }
.w310 { width: 310px !important; }
.w320 { width: 320px !important; }
.w328 { width: 328px !important; }
.w330 { width: 330px !important; }
.w332 { width: 332px !important; }
.w340 { width: 340px !important; }
.w350 { width: 350px !important; }
.w360 { width: 360px !important; }
.w370 { width: 370px !important; }
.w380 { width: 380px !important; }
.w390 { width: 390px !important; }
.w400 { width: 400px !important; }
.w410 { width: 410px !important; }
.w420 { width: 420px !important; }
.w430 { width: 430px !important; }
.w440 { width: 440px !important; }
.w450 { width: 450px !important; }
.w460 { width: 460px !important; }
.w470 { width: 470px !important; }
.w480 { width: 480px !important; }
.w490 { width: 490px !important; }
.w500 { width: 500px !important; }
.w510 { width: 510px !important; }
.w520 { width: 520px !important; }
.w530 { width: 530px !important; }
.w540 { width: 540px !important; }
.w550 { width: 550px !important; }
.w560 { width: 560px !important; }
.w570 { width: 570px !important; }
.w580 { width: 580px !important; }
.w590 { width: 590px !important; }
.w600 { width: 600px !important; }
.w610 { width: 610px !important; }
.w620 { width: 620px !important; }
.w630 { width: 630px !important; }
.w640 { width: 640px !important; }
.w650 { width: 650px !important; }
.w660 { width: 660px !important; }
.w670 { width: 670px !important; }
.w680 { width: 680px !important; }
.w690 { width: 690px !important; }
.w700 { width: 700px !important; }

/* 微調整テキストサイズ */
.txt_l { font-size: 1.25em; }
.txt_s { font-size: 0.9em; line-height:1.25em; }
.text_bold { font-weight: bold; }
.txt_brown { color:#a75226; }

.t_base { vertical-align:baseline; }

.t_left   { text-align:left !important; }
.t_center { text-align:center !important; }
.t_right  { text-align:right !important; }


/* ボックス背景色
*****************************************/
.box_bg_color01,
.box_bg_color02 {
background-color:#f3f3f4;
padding:4px 0 4px 4px;
}
	
.box_bg_color02 {
margin-top:16px;
}

.box_bg_color02 .bg {
border:1px solid #c7ccd6;
background:url(/corp/strengths/common/images/foot_txt_link_bg.png) repeat-x left top #f2f2f2;
width:670px;
}

.box_bg_color02 ul {
list-style:none;
}

.box_bg_color02 li {
vertical-align:bottom;
border-right:1px solid #c7ccd6;
float:left;
padding:16px 0;
}

.box_bg_color02 li.link_bg01 {
width:219px;
}

.box_bg_color02 li.link_bg02 {
width:223px;
}

.box_bg_color02 li.link_bg03 {
width:225px;
border-right:0 !important;
}

.box_bg_color02 li.link_bg01 .first,
.box_bg_color02 li.link_bg02 .first,
.box_bg_color02 li.link_bg03 .first {
padding-left:11px;
}

.box_bg_color02 li.link_bg01 .second,
.box_bg_color02 li.link_bg02 .second,
.box_bg_color02 li.link_bg03 .second {
margin-top:12px;
padding-left:11px;
}


/* background color */
.bg_gray_light { background-color:#f3f3f4; }
.bg-grn-light { background-color: #e6f5ed; }
.bg-org-light { background-color: #feeee5; }
.bg-blu-light{ background-color: #e6f1f9; }
.bg-yel-light { background-color: #fdf7ea; }


/* サイト内検索　サジェスト
*****************************************/
.ac_results {
    width:300px;
    border:1px solid #bdbdbd;
    background-color:white;
    list-style:none;
    position: absolute;
    z-index:10000;
    display:none;
}

.ac_results li {
    padding:2px 5px;
    white-space:nowrap;
    color:#101010;
    text-align:left;
}

.ac_over {
    cursor:pointer;
    background-color:#baddff;
}

.ac_match {
    vertical-align:baseline;
    color:black;
}

/* 検索ボックス */
li.navi_search_box {
  background:none !important;
  width:225px;
  text-align:right;
  text-indent:0 !important;
  float:right !important;
}

.empty {
  color: #808080;
}

li.navi_search_box input {
  line-height:1.2em;
  margin:2px 0;
}

li.navi_search_box input.input_txt {
  width:157px;
}

li.navi_search_box input[type="text"] {
  width:158px;
  border:1px solid #999999 !important;
  font-size:12px;
  height:14px;
}

li.navi_search_box input[type="image"] {
  width:48px;
  height:22px;
  cursor:pointer;
}

/* ブラウザ毎　微調整 */
.mac li.navi_search_box input {
  line-height:1em;
}

li.navi_search_box form {
  margin-top:2px;
}
.gecko li.navi_search_box form,
.opera li.navi_search_box form,
.mac.webkit li.navi_search_box form {
  margin-top:5px;
 /* height:32px !important; */
}

.win li.navi_search_box input[type="text"],
.mac li.navi_search_box input[type="text"] {
	padding: 3px 2px;
}


/* シェアボタン
*****************************************/
#share_links {
  display: block;
  margin-top: -28px;
  width: inherit;
  height: 20px;
  text-align: right;
}
#share_links a {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
}
a.share-facebook {
  background: url('/common/images/connect_sprite.png') -1px center no-repeat #5f78ab;
  padding: 0 0 0 18px;
  border: 1px solid #1a356e;
  height: 16px;
  text-decoration: none;
}
a.share-facebook span {
  display: block;
  padding: 0 6px;
  border-top: 1px solid #879ac0;
  vertical-align: middle;
  line-height: 16px;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
}
a.share-twitter {
  background: url('/common/images/tweet_ja.png') 0 0 no-repeat;
  text-decoration: none;
  width: 80px;
  height: 20px;
}
a.share-twitter:hover {
  background-position: 0 -21px;
}
a.share-twitter:active {
  background-position: 0 -42px;
}
a.share-twitter span {
  left: -999em;
  position: absolute;
}

/* システム障害対応(ステータスBOX)
********************************/
div.sys_status {
	border:1px solid #cfcfcf;
	margin-top:16px;
	padding: 2px;
	line-height: 1.5;
}
div.sys_status div.inner {
	background: #f5f5f5;
	padding: 1px;
	position:relative;
	height:78px;
}
div.sys_status div.inner p.hoverlink a {
	width: 194px;
	height:80px;
	position:absolute;
	left:0;
	top:0;
	z-index: 2;
	display: block;
	text-indent: -9999px;
}
div.sys_status div.inner p.hoverlink:hover a {
	opacity:0.1;
	filter: alpha(opacity=10);
	background-color: #09f;
}

div.sys_status div.inner dl {
	width: 194px;
	height:80px;
	position:absolute;
	left:0;
	top:0;
	z-index: 1;

}
div.sys_status div.inner dl dt {
	background: url(/common/images/ttl_sys_status.png) 8px 10px no-repeat;
	text-indent: -9999px!important;
	height: 32px;
}
div.sys_status div.inner dl dd.normal {
	background: #DCFBDC;
	border: 1px solid #00b300;
	text-align:center;
	color:#00b300;
	padding: 8px 0 6px;
	font-weight:bold;
}
div.sys_status div.inner dl dd.normal span {
	font-size: 14px;
	vertical-align:baseline!important;
}

div.sys_status div.inner dl dd.failure {
	background: url(/common/images/icon_failure.png) 27% 8px #fde3e3 no-repeat;
	border: 1px solid #ff0000;
	text-align:center;
	color:#ff0000;
	padding: 8px 0 6px;
	min-height: 18px;
	font-weight:bold;
}
div.sys_status div.inner dl dd.failure span {
	padding-left:22px;
	font-size:14px;
	vertical-align:baseline!important;
}

div.sys_status div.inner dl dd.verify {	
	background: #faf0dc;
	border: 1px solid #cc9900;
	text-align:center;
	color:#cc9900;
	padding: 8px 0 6px;
	font-weight:bold;
}
div.sys_status div.inner dl dd.verify span {
	font-size:14px;
	vertical-align:baseline!important;
}


div.sys_status div.inner dl dd.list {
	background: url(/common/images/arrow_image.png) -12px -9px no-repeat;
	color: #1f51b3;
	margin:4px 8px 8px 8px;
	padding-left:12px;
}
a[name=pagetop]{
	position:absolute;
	top:-38px;
}

/* ライトナウ　ウィジェット
*****************************************/
div.rn_Hide
{
    display:none;
}
div.rn_Show
{
    display:block;
}

div.rn_SearchArea
{
    padding-bottom: 5px;
}

div.rn_SearchBox
{
    display:inline;
}

div.rn_SearchButton
{
    display:inline;
}

div.rn_Corrections
{
    padding-bottom: 5px;
    font-size:.75em;
    font-weight:normal;

}

div.rn_Corrections .rn_WordCorrection
{
    font-size:1em;
    font-weight:normal;
}

div.rn_Suggestions
{
    font-size:.75em;
    font-weight:normal;
}

div.rn_Suggestions .rn_SearchSuggestion
{

}

div.rn_Documents
{
    margin-top: 2px;
    width:100%;
    border:1px solid black;
    background-color:whitesmoke;
    padding-bottom: 1px;
    padding-left: 2px;
}

div.rn_Documents h3
{
    font-size:.75em;
    font-weight:bold;
}

div.rn_Documents .rn_List
{
    font-size:.75em;
    font-weight:normal;
}

div.rn_Documents .rn_List li.rn_Item span.rn_Title
{
    font-size:1em;
    font-weight:normal;
}

div.rn_Documents .rn_List li.rn_Item span.rn_Title a
{
    font-size:1em;
    font-weight:normal;
    text-decoration:underline;
}

div.rn_Documents .rn_List li.rn_Item span.rn_Description
{
    font-size:1em;
    font-weight:normal;
}

div.rn_Content
{
    padding:12px 20px;
    background: #fbfbfb;
}

div.rn_Content .rn_List
{
    font-size:.75em;
    font-weight:normal;
    list-style: none;
    line-height: 1.4em;
	margin: 0;/*「margin: 0;」を追記*/
}

div.rn_Content .rn_List li.rn_Item span.rn_Title
{
    font-size:12px;/*「font-size:1em;」を変更*/
    font-weight:normal;
}

div.rn_Content .rn_List li.rn_Item span.rn_Title a
{
    /*font-size:13px;*/
    font-weight:normal;
    text-decoration:none;
    line-height:1.8em;
}

div.rn_Content .rn_List li.rn_Item span.rn_Title a:hover {
  text-decoration:underline;
}

div.rn_Content .rn_List li.rn_Item span.rn_Description
{
    font-size:1em;
    font-weight:normal;
}

div.rn_Navigation
{
    position:relative;
    margin:0 20px;
    padding:12px 0;
    border-top:1px solid #e5e5e5;
}

div.rn_Navigation a
{
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
}

div.rn_Navigation a:hover
{
    text-decoration:underline;
}

.rn_screen_reader_only
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.widget_knowledge_syndication
{
    margin-top:20px;
    background:#fbfbfb;
    border:1px solid #e5e5e5;
    border-radius :3px; 
}

.title_knowledge_syndication
{
    padding:12px 20px !important;/*「!important」を追記*/
    border-bottom:1px solid #e5e5e5;
    font-size:14px;
    font-weight:bold;
    color:#1e335c;
}
