@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url('/common/font/Roboto-Bold.eot');
  src: url('/common/font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('/common/font/Roboto-Bold.woff') format('woff');
  font-style:normal;
  font-weight:bold;
}

/* レート用
++++++++++++++++++++++++++++++++++++++++ */
.rate_body { 
	overflow:hidden;
	margin:0px;
}
#fx_rate_table {
  width:208px;
  height:128px;
  background:url(/images/bg_fx.png) 0 0 no-repeat;
}
#cfd_rate_table {
  width:208px;
  height:148px;
  background:url(/images/bg_cfd.png) 0 0 no-repeat;
}
.rate_box table {width:100%;height:100%;color:#efefef;table-layout:fixed;font-family: Roboto, sans-serif;}
.rate_box table th {height:20px;text-indent:-9999px;}
.rate_box table td {height:36px;text-align:left;vertical-align:top;}
.rate_box table td.td_ttl {text-indent:-9999px;vertical-align:middle;text-align:center;}
.rate_box table td p {width:95%;height:21px;position:relative;margin:7px 0 0;}
.rate_box table td p span {position:absolute;left:4px;font-size:13px;line-height:16px;}

.rate_box#fx_rate_table td.td_sp {font-size:16px;vertical-align:middle;text-align:center;}
.rate_box#fx_rate_table table td p span {display:block;height:21px;width:45%;top:1px;left:1px;font-size:12px;text-align:right;line-height:17px;}
.rate_box#fx_rate_table table td p em {display:block;width:55%;height:21px;position:absolute;top:1px;right:1px;font-style:normal;font-size:15px;text-indent:2px;}
.mac .rate_box#fx_rate_table table td p span {top:1px;}

.rate_box#cfd_rate_table table td {height:32px;}
.rate_box#cfd_rate_table table td.td_sp {font-size:14px;vertical-align:top;text-align:center;line-height:29px;}
.rate_box#cfd_rate_table table td p {text-align:right;margin:5px 0 0;}
.rate_box#cfd_rate_table table td p span {display:block;font-size:14px;top:3px;right:4px;line-height:14px;*line-height:20px;*top:0;}


/* IE6 PNG対応
++++++++++++++++++++++++++++++++++++++++ */
.cinemascope .option02, 
.shortcut .main_box, 
.freedial, 
.sesc, 
.ffaj {
	behavior:url(/common/js/iepngfix.htc);
}


/* CONTENTS_AREA
++++++++++++++++++++++++++++++++++++++++ */
#CONTENTS_AREA #CONTENT_TOP {
width:900px;
}

#CONTENT_TOP .cont_top_main {
background-color:#dae5f2;
width:684px;
float:left;
}

#CONTENT_TOP #TOP_IMAGE {
width:668px;
height:225px;
padding:8px;
color:#FFFFFF;
background-color:#1e335c;
overflow:hidden;
}
#CONTENT_TOP #TOP_IMAGE img {border:none;}

#CONTENT_TOP #TOP_IMAGE .top_noflash_img {
  position:relative;
  zoom:1;
}

#CONTENT_TOP #TOP_IMAGE .top_noflash_img h1 {
  position: absolute;
  top:0;
  left:0;
}

#CONTENT_TOP #TOP_IMAGE .top_noflash_img .btn_login {
  position: absolute;
  top:8px;
  left:8px;
}

#CONTENT_TOP .top_banner {
padding:8px 4px 4px 4px;
}

#CONTENT_TOP .top_banner ul {
list-style:none;
padding:4px;
background-color:#d3d7df;
}

#CONTENT_TOP .top_banner li {
text-indent:-9999px;
float:left;
}

#CONTENT_TOP .top_banner li.bnr01 a,
#CONTENT_TOP .top_banner li.bnr02 a,
#CONTENT_TOP .top_banner li.bnr03 a,
#CONTENT_TOP .top_banner li.bnr04 a,
#CONTENT_TOP .top_banner li.bnr05 {
width:167px;
height:80px;
display:block;
}

#CONTENT_TOP .top_banner li.bnr01 a {
background:url(/images/bnr_top.png) no-repeat 0 0;
}

#CONTENT_TOP .top_banner li.bnr01 a:hover {
background:url(/images/bnr_top.png) no-repeat 0 0;
}

#CONTENT_TOP .top_banner li.bnr02 a {
background:url(/images/bnr_top.png) no-repeat -167px 0;
}

#CONTENT_TOP .top_banner li.bnr02 a:hover {
background:url(/images/bnr_top.png) no-repeat -167px 0;
}

#CONTENT_TOP .top_banner li.bnr03 a {
background:url(/images/bnr_top.png) no-repeat -334px 0;
}

#CONTENT_TOP .top_banner li.bnr03 a:hover {
background:url(/images/bnr_top.png) no-repeat -334px 0;
}

#CONTENT_TOP .top_banner li.bnr04 a {
background:url(/images/bnr_top.png) no-repeat -501px 0;
}

#CONTENT_TOP .top_banner li.bnr04 a:hover {
background:url(/images/bnr_top.png) no-repeat -501px 0;
}

#CONTENT_TOP .top_banner li.bnr05 {
  background-color:#1e335c;
  text-indent: 0;
  text-align:center;
}
#CONTENT_TOP .top_banner li.bnr05 a {
  margin-top:4px;
  display:block;
}

#CONTENT_TOP .cont_top_sub {
width:208px;
background-color:#FFF;
float:right;
z-index:0;
}

#CONT_MAIN_AREA {
width:900px;
margin-top:16px;
}

/* bxslider */
.bxslider {width:500px;height:224px;overflow:hidden;}
.bx-wrapper {float:left;width:500px;height:224px;margin:0;}
.bx-wrapper .bx-loading {background:#1e335c;}
.bx-wrapper .bx-viewport {border:0;box-shadow:none;left:0;background:#1e335c;}
.bx-control {float:left;width:168px;}
.btn_login a {display:block;width:160px;height:44px;background:url(/common/images/btn_koza_off.png) 0 0 no-repeat;}
.btn_login a img {display:none;}
.btn_login a:hover img {display:block;}

#bx-pager {margin-top:14px;}
#bx-pager a {
  display:block;
  width:160px;
  margin-bottom:2px;
}
#bx-pager a img {
  opacity:0.9;
  filter:alpha(opacity=90);
  background:#1e335c;/* ff対応 */
}
#bx-pager a.active img {opacity:1;filter:alpha(opacity=100);}

/* left navi area
********************************/
#CONT_MAIN_AREA .left_navi {
width:200px;
float:left;
}

#CONT_MAIN_AREA .left_navi dl.service_guide {
background-color:#f5f5f5;
}

#CONT_MAIN_AREA .left_navi dl.service_guide dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 0;
text-indent:-9999px;
}

#CONT_MAIN_AREA .left_navi dl.service_guide dt.bg_dt_company {
background:url(/images/top_image_parts.png?ver=20101116) no-repeat -208px -212px;
text-indent:-9999px;
}

#CONT_MAIN_AREA .left_navi dl.service_guide dt a {
display:block;
height:28px;
cursor:pointer;
}

#CONT_MAIN_AREA .left_navi dl.service_guide dd {
/*padding-top:8px;
padding-bottom:12px;*/
}

#CONT_MAIN_AREA .left_navi dl.service_guide ul, #CONT_MAIN_AREA .left_navi dl.tool_navi ul, #CONT_MAIN_AREA .left_navi .left_bnr ul {
    list-style: none outside none;
}

#CONT_MAIN_AREA .left_navi dl.service_guide li {
border-top:2px solid #ffffff;
border-bottom:1px solid #cfcfcf;
}

#CONT_MAIN_AREA .left_navi dl.service_guide li a {
display:block;
width:100%;
padding:8px 0;
cursor:pointer;
}

#CONT_MAIN_AREA .left_navi dl.service_guide li a span {
display:block;
margin:0 10px 0 12px;
zoom:1;
}

#CONT_MAIN_AREA .left_navi dl.service_guide li.first {
border-top:none !important;
}

#CONT_MAIN_AREA .left_navi dl.service_guide li.end {
border-bottom:none !important;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi {
    background-color: #F5F5F5;
    margin-top: 16px;
}

#CONT_MAIN_AREA .left_navi .left_bnr {
    background-color: #F5F5F5;
    margin-top: 16px;
    padding-top: 8px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi dt {
background:url(/images/top_image_parts.png?ver=20130315) no-repeat 0 -180px;
text-indent:-9999px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi dt a {
display:block;
height:32px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li {
text-indent:-9999px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li a {
display:block;
height:68px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.first {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -212px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.first a {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -212px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.second {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -280px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.second a {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -280px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.third {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -348px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.third a {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -348px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.fourth {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -416px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.fourth a {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -416px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.fifth {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -484px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.fifth a {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -484px;
}
#CONT_MAIN_AREA .left_navi dl.tool_navi li.sixth {
background:url(/images/top_image_parts.png?ver=2016815) no-repeat 0 -552px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi li.sixth a {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -552px;
}


#CONT_MAIN_AREA .left_navi dl.tool_navi li.first a:hover,
#CONT_MAIN_AREA .left_navi dl.tool_navi li.second a:hover,
#CONT_MAIN_AREA .left_navi dl.tool_navi li.third a:hover,
#CONT_MAIN_AREA .left_navi dl.tool_navi li.fourth a:hover,
#CONT_MAIN_AREA .left_navi dl.tool_navi li.fifth a:hover,
#CONT_MAIN_AREA .left_navi dl.tool_navi li.sixth a:hover{
background: #0099FF;
filter: alpha(opacity=10);
-moz-opacity:0.10;
opacity:0.10;
}

#CONT_MAIN_AREA .left_navi dl.left_bnr dd {
padding-top:8px;
}

#CONT_MAIN_AREA .left_navi .left_bnr li {
    padding: 0 8px 8px;
}

#CONT_MAIN_AREA .left_navi dl.tool_navi, #CONT_MAIN_AREA .left_navi .left_bnr ul li a{
    display:block;
}


/* バナー　CMインフォメーション
++++++++++++++++++++++++++++++++++++++++ */
#CONT_MAIN_AREA .left_navi .bnr_cm {
	height: 48px;
	background: url(/images/bnr_cm_info.png) no-repeat;
	text-indent:-9999px;
}

#CONT_MAIN_AREA .left_navi .bnr_cm a {
	display: block;
	height: 48px;
}

#CONT_MAIN_AREA .left_navi .bnr_cm a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* バナー　スポンサー競泳 OLD
++++++++++++++++++++++++++++++++++++++++ */
#CONT_MAIN_AREA .left_navi .bnr_sponsor {
	height: 48px;
	background: url(/images/bnr_sp_sponsor.png) no-repeat #CCCCCC;
	text-indent:-9999px;
}

#CONT_MAIN_AREA .left_navi .bnr_sponsor a {
	display: block;
	height: 48px;
}

#CONT_MAIN_AREA .left_navi .bnr_sponsor a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* バナー　スポンサー競泳
++++++++++++++++++++++++++++++++++++++++ */
#CONT_MAIN_AREA .left_navi .bnr_sponsor_jasf {
    background: url("/images/bnr_sponsor_jasf.png") no-repeat scroll 0 0 #CCCCCC;
    display: block;
    height: 100px;
    text-indent: -9999px;
}

#CONT_MAIN_AREA .left_navi .bnr_sponsor_jasf a {
	display: block;
	height: 100px;
}

#CONT_MAIN_AREA .left_navi .bnr_sponsor_jasf a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* バナー　スポンサーバレーボール
++++++++++++++++++++++++++++++++++++++++ */
#CONT_MAIN_AREA .left_navi .bnr_sponsor_jva {
	height: 100px;
	background: url(/images/bnr_sponsor_jva.png) no-repeat #CCCCCC;
	text-indent:-9999px;
}

#CONT_MAIN_AREA .left_navi .bnr_sponsor_jva a {
	display: block;
	height: 100px;
}

#CONT_MAIN_AREA .left_navi .bnr_sponsor_jva a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* バナー　CMトレードアイランド
++++++++++++++++++++++++++++++++++++++++ */
#CONT_MAIN_AREA .left_navi .bnr_trade {
    background: url("/images/bnr_trade_island.png") no-repeat scroll 0 0 #CCCCCC;
    height: 48px;
    text-indent: -9999px;
    display: block;
}

#CONT_MAIN_AREA .left_navi .bnr_trade a {
	display: block;
	height: 48px;
}

#CONT_MAIN_AREA .left_navi .bnr_trade a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* バナー　入社奨励金について
++++++++++++++++++++++++++++++++++++++++ */
#CONT_MAIN_AREA .bnr_bountyjoin {
  background-color:#f5f5f5;
  padding:6px 8px 8px;
  border-top:2px solid #FFF;
}

#CONT_MAIN_AREA .left_navi .bnr_bountyjoin a {
	display: block;
	background: url(/images/bnr_bountyjoin.png) no-repeat;
	text-indent:-9999px;
 width:184px;
	height: 48px;
 margin:0 auto;
}

/* right body area
********************************/
#CONT_MAIN_AREA .right_body {
width:684px;
float:right;
}

#CONT_MAIN_AREA .right_body ul.link_area {
background:url(/images/link_area_bg.gif) repeat-y top left;
width:684px;
list-style:none;
}

#CONT_MAIN_AREA .right_body li.link_box {
width:228px;
float:left;
}

#CONT_MAIN_AREA .right_body li.link_box ul {
list-style:none;
}

#CONT_MAIN_AREA .right_body li.link_box dt a {
display:block;
height:28px;
cursor:pointer;
}

#CONT_MAIN_AREA .right_body dl.kabu dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -32px;
width:228px;
height:28px;
text-indent:-9999px;
}

#CONT_MAIN_AREA .right_body dl.sop dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat -236px -32px;
width:228px;
height:28px;
text-indent:-9999px;
}

#CONT_MAIN_AREA .right_body dl.ewara dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat -236px -64px;
width:228px;
height:28px;
text-indent:-9999px;
}

#CONT_MAIN_AREA .right_body dl.cfd dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat -236px 0;
width:228px;
height:28px;
text-indent:-9999px;
position:relative;
}

#CONT_MAIN_AREA .right_body dl.fgbond dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat -208px -180px;
width:228px;
height:28px;
text-indent:-9999px;
position:relative;
}

#CONT_MAIN_AREA .right_body dl.fx dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -64px;
width:228px;
height:28px;
text-indent:-9999px;
}

#CONT_MAIN_AREA .right_body dl.c365 dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat -209px -244px;
width:228px;
height:28px;
text-indent:-9999px;
}

#CONT_MAIN_AREA .right_body dl.fxop dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat -208px -276px;
width:228px;
height:28px;
text-indent:-9999px;
position:relative;
}

.new_cfd {
display:block;
position:absolute;
top:4px;
left:70px;
width:35px;
height:15px;
background:url(/common/images/new_01.gif) no-repeat 0 0;
text-indent:-9999px;
}

.new_fgbond {
display:block;
position:absolute;
top:5px;
left:88px;
width:35px;
height:15px;
background:url(/common/images/new_01.gif) no-repeat 0 0;
text-indent:-9999px;
}

.new_fxop {
display:block;
position:absolute;
top:4px;
left:120px;
width:35px;
height:15px;
background:url(/common/images/new_01.gif) no-repeat 0 0;
text-indent:-9999px;
}

#CONT_MAIN_AREA .right_body li.link_box dd {
padding-top:2px;
padding-bottom:12px;
}

#CONT_MAIN_AREA .right_body dl.kabu li,
#CONT_MAIN_AREA .right_body dl.sop li,
#CONT_MAIN_AREA .right_body dl.ewara li,
#CONT_MAIN_AREA .right_body dl.fx li,
#CONT_MAIN_AREA .right_body dl.c365 li,
#CONT_MAIN_AREA .right_body dl.cfd li,
#CONT_MAIN_AREA .right_body dl.fgbond li,
#CONT_MAIN_AREA .right_body dl.fxop li {
padding-left:12px;
margin-top:8px;
}

/* news_area
********************************/
#CONT_MAIN_AREA .right_body .news_area {
width:468px;
float:left;
margin-top:16px;
}

#CONT_MAIN_AREA .right_body .news_area ul.news_ttl01,
#CONT_MAIN_AREA .right_body .news_area ul.news_ttl02 {
width:468px;
height:24px;
list-style:none;
margin-bottom:4px;
}

#CONT_MAIN_AREA .right_body .news_area ul.news_ttl01 {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -96px;
}

#CONT_MAIN_AREA .right_body .news_area ul.news_ttl02 {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat 0 -124px;
margin-top:16px;
}

#CONT_MAIN_AREA .right_body .news_area li.h2 { 
/*text-indent:-9999px; 
width:110px;*/ 
float:left; 
} 

#CONT_MAIN_AREA .right_body .news_area ul.news_ttl01 h2 {
text-indent:-9999px;
display:block;
width:93px;
float:left;
}

#CONT_MAIN_AREA .right_body .news_area ul.news_ttl02 h2 {
text-indent:-9999px;
display:block;
width:120px;
float:left;
}

#CONT_MAIN_AREA .right_body .news_area .rss a {
display:block;
background:url(/common/images/ico_rss.png) no-repeat left;
text-indent:-9999px;
width:40px;
height:16px;
cursor:pointer;
}


#CONT_MAIN_AREA .right_body .news_area ul.news_ttl01 h2 { 
text-indent:-9999px; 
display:block; 
width:93px; 
float:left; 
} 

#CONT_MAIN_AREA .right_body .news_area ul.news_ttl02 h2 { 
text-indent:-9999px; 
display:block; 
width:120px; 
float:left; 
} 

#CONT_MAIN_AREA .right_body .news_area .rss a { 
display:block; 
background:url(/common/images/ico_rss.png) no-repeat left; 
text-indent:-9999px; 
width:40px; 
height:16px; 
cursor:pointer; 
} 

#CONT_MAIN_AREA .right_body .news_area li.ichiran { 
float:right; 
/*padding-left:20px;*/ 
} 


#CONT_MAIN_AREA .right_body .news_area dl.news_line {
background:url(/images/line_dot01.gif) repeat-x left bottom;
width:468px;
padding:8px 0;
}

#CONT_MAIN_AREA .right_body .news_area dl.news_line dt {
width:64px;
float:left;
}

#CONT_MAIN_AREA .right_body .news_area dl.news_line dd {
width:404px;
float:right;
}

/* right_navi area
********************************/
#CONT_MAIN_AREA .right_body .right_navi {
width:200px;
float:right;
margin-top:16px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.customer_suport {
border:1px solid #e6c9b8;
background-color:#faf5ec;
}

#CONT_MAIN_AREA .right_body .right_navi dl.customer_suport dt {
background:url(/images/top_image_parts.png?ver=20160205) no-repeat -209px -341px;
width:198px;
height:58px;
text-indent:-9999px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.customer_suport dd {
/*background:url(/images/top_image_parts.png?ver=20160205) no-repeat -1px -550px;*/
width:198px;
min-height:60px;
height:auto !important;
height:60px;
/*height:86px;*/
}

#CONT_MAIN_AREA .right_body .right_navi dl.customer_suport dt a {
display:block;
height:58px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.customer_suport dt a:hover {
background: #0099FF;
filter: alpha(opacity=10);
-moz-opacity:0.10;
opacity:0.10;
}


#CONT_MAIN_AREA .right_body .right_navi dl.customer_suport ul,
#CONT_MAIN_AREA .right_body .right_navi dl.mobile_trede ul {
list-style:none;
}

#CONT_MAIN_AREA .right_body .right_navi dl.customer_suport ul {
padding:4px 60px 6px 11px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.customer_suport li {
/*margin-top:12px;*/
}

#CONT_MAIN_AREA .right_body .right_navi dl.mobile_trede {
border:1px solid #cfcfcf;
margin-top:16px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.mobile_trede dt {
background:url(/images/top_image_parts.png?ver=20150424) no-repeat -209px -493px;
width:198px;
min-height:31px;
height:auto !important;
height:31px;
text-indent:-9999px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.mobile_trede dd {
background:url(/images/mobile_trede_bg.png?ver=20150424) no-repeat left bottom;
width:198px;
height:127px;
position:relative;
}

#CONT_MAIN_AREA .right_body .right_navi dl.mobile_trede p.txt01 {
position:absolute;
top:8px;
left:12px;
color:#1e335c;
font-size:10px;
line-height:14px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.mobile_trede ul {
height:111px;
min-height:111px;
height:auto !important;
}

#CONT_MAIN_AREA .right_body .right_navi dl.mobile_trede .link {
position:absolute;
top: 102px;
left: 7px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.mobile_trede .link a {
color:#0f3d99;
font-size:11px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.right_txt_link {
margin-top:16px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.right_txt_link ul {
list-style:none;
}

#CONT_MAIN_AREA .right_body .right_navi dl.right_txt_link li {
border-bottom:1px solid #cfcfcf;
margin-top:9px;
padding:0 12px 10px 10px;
}
#CONT_MAIN_AREA .right_body .right_navi dl.right_txt_link li p.arrow05{
display:block;
}
#CONT_MAIN_AREA .right_body .right_navi dl.right_txt_link02 {
margin-top:24px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.right_txt_link02 ul {
list-style:none;
padding-bottom:8px;
}

#CONT_MAIN_AREA .right_body .right_navi dl.right_txt_link02 li {
margin-top:4px;
border-bottom:1px dashed #E8E8E8;
padding-bottom:4px;
}

#FOOT_BNR_AREA {
margin-top:16px;
background-color:#f5f5f5;
padding:8px 0;
/*padding-left:16px;*/
}

#FOOT_BNR_AREA ul {
display:block;
list-style:none;
width:874px;
margin:0 auto;
}

#FOOT_BNR_AREA li {
float:left;
margin-left:8px;
}

#FOOT_BNR_AREA li.first {
margin-left:0 !important;
}

#FOOT_BNR_AREA li a {
padding-bottom:0;
}


/* 証券取引等監視委員会
++++++++++++++++++++++++++++++++++++++++ */
.sesc {
width:168px;
	height: 40px;
	background:url(/images/bnr_sesc.png) no-repeat;
	text-indent: -9999px;
}

.sesc a {
	display: block;
	height: 100%;
}

.sesc a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}


/* 社団法人 金融先物取引業協会
++++++++++++++++++++++++++++++++++++++++ */
.ffaj {
width:168px;
	height: 40px;
	background: url(/images/bnr_ffaj.png) no-repeat;
	text-indent: -9999px;
}

.ffaj a {
	display: block;
	height: 100%;
}

.ffaj a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}


/* こんぷらくんの株価操作規制入門
++++++++++++++++++++++++++++++++++++++++ */
.e_learning {
width:168px;
	height: 40px;
	background: url(/images/bnr_e_learning.png) no-repeat;
	text-indent: -9999px;
}

.e_learning a {
	display: block;
	height: 100%;
}

.e_learning a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}


/* 確定申告書等作成コーナー
++++++++++++++++++++++++++++++++++++++++ */
.etax {
width:168px;
	height: 40px;
	background: url(/images/bnr_etax.png) no-repeat;
	text-indent: -9999px;
}

.etax a {
	display: block;
	height: 100%;
}

.etax a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* FX取引の規制が変わります
++++++++++++++++++++++++++++++++++++++++ */
.fxregulation {
width:168px;
	height: 40px;
	background: url(/images/bnr_fxregulation.png) no-repeat;
	text-indent: -9999px;
}

.fxregulation a {
	display: block;
	height: 100%;
}

.fxregulation a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* 東京海上
++++++++++++++++++++++++++++++++++++++++ */
.bnr_tokiomarine {
width:168px;
	height: 40px;
	background: url(/images/bnr_tokiomarine.png) no-repeat;
	text-indent: -9999px;
}

.bnr_tokiomarine a {
	display: block;
	height: 100%;
}

.bnr_tokiomarine a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* CMオーディション
++++++++++++++++++++++++++++++++++++++++ */
.bnr_audition201101 {
 width:184px;
	height: 48px;
	background: url(/images/bnr_audition201101.jpg) no-repeat;
	text-indent: -9999px;
}

.bnr_audition201101 a {
	display: block;
	height: 100%;
}

.bnr_audition201101 a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* Sharesセミナー（2011/2/3（水）まで）
++++++++++++++++++++++++++++++++++++++++ */
.bnr_shares_110124 {
 width:184px;
	height: 48px;
	background: url(/images/bnr_shares_110124.png) no-repeat;
	text-indent: -9999px;
}

.bnr_shares_110124 a {
	display: block;
	height: 100%;
}

.bnr_shares_110124 a:hover {
	background: #0099FF;
	filter: alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

/* 右バナー部分注意ボックス
++++++++++++++++++++++++++++++++++++++++ */
.box_caution01 {
 border:3px double #CFCFCF;
 margin-top:10px;
}

.box_caution01 a {
	display: block;
 padding:8px 10px 8px 16px;
 background:url(/common/images/arrow_image_blue01.png) no-repeat 5px;
 behavior:url(/common/js/iepngfix_renew.htc);
 zoom:1;
}

.box_caution01 a:hover {
 text-decoration:none !important;
 background-color:#fce7f9;
}

/* fb＆Twitterバナー
********************************/
.topbnr img:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
}

/* left txt link
********************************/
#CONT_MAIN_AREA .left_navi div.language_guide {
	background-color:#f5f5f5;
}
#CONT_MAIN_AREA .left_navi dl.left_txt_link {
	margin-top: 16px;
}
#CONT_MAIN_AREA .left_navi dl.left_txt_link ul {
	list-style: none;
}
#CONT_MAIN_AREA .left_navi dl.left_txt_link li {
	/*border-bottom:1px solid #cfcfcf;*/
	margin-top: 9px;
	padding: 10px 12px 10px 10px;
}
#CONT_MAIN_AREA .left_navi dl.left_txt_link li img {
	position: relative;
	top: 1px;
	border: none;
}

/* システム障害対応（中央部分）
********************************/
div.main_status div p {
	overflow:hidden;
	margin-bottom: 4px
}
div.main_status div p span {
	display: block;
	float:left;
	width:97px;
}
div.main_status div p a{
	display: block;
	width:355px;
	padding-left:4px;
	float:left;
}
/*発生中*/
div.main_status div.during{
	background-color:#fde3e3;
	padding: 4px 6px 2px;
	margin-bottom:8px;
	text-align:left;
}
/*復旧済み*/
div.main_status div.restoration{
	background-color:#dcfbdc;
	padding: 4px 6px 2px;
	margin-bottom:8px;
	text-align:left;
}

/*確認中*/
div.main_status div.verifying{
	background-color:#faf0dc;
	padding: 4px 6px 2px;
	margin-bottom:8px;
	text-align:left;
}

/*最終報告済み*/
div.main_status div.final{
	background-color:#eeeeee;
	padding: 4px 6px 2px;
	margin-bottom:8px;
	text-align:left;
}
/*何もなし*/
div.main_status div.none{
	background-color:#dcf7fa;
	padding: 4px 6px 2px;
	margin-bottom:8px;
	text-align:left;
}

/* 20160113 */
.top_link_box {
  border: 1px #c7ccd6 solid;
  /*border: 1px #9e1d15 solid;*/
  background-color: #fdf9f9;
}
.top_wht_box {
  border: 1px #c7ccd6 solid;
  background-color: #fff;
  color: #777;
}
