html {font-family: "myriad-pro", sans-serif; font-weight: normal;}
body { color: #353535; }

a.button:hover {background-color: #000000;}

a {text-decoration: none;}
a {color: #4477aa;}
a:visited { color: #4477aa; }
a:hover { color: #777799; text-decoration: underline; }
div.page {width: 100%;}
div.set_scroll_width { width: 1024px; height: 0px; margin: 0 auto; }
section.container { background-color: transparent; width: 100%; overflow: hidden; }
section > .inner { max-width: 1024px; min-width: 1024px; margin: 0 auto; background-color: transparent; } /* max and min widths make it easier to deal with responsiveness later */

/*section#ebscohost_homepage_slideshow_demo {display: none; background-color: #888888;}
section#ebscohost_homepage_slideshow_demo > .inner {overflow: visible;}
section#ebscohost_homepage_slideshow_demo > .inner > .test_slide {margin-left: -288px; width: 1600px; background: url(/temp_sandbox/ebscohost_homepage/sliders/slider_1.png) 50% 50%; height: 270px;}
*/

section#ebscohost_homepage_cta { background-color: #0b3272; }
section#ebscohost_homepage_cta > .inner { color: #ffffff; text-align: center; padding: 1px 0px 25px 0px; }
section#ebscohost_homepage_cta > .inner > .button { display: inline-block; border: 1px solid #ffffff; padding: 10px 15px 10px 15px; background-color: #154695; color: #ffffff; text-decoration: none; }
section#ebscohost_homepage_cta > .inner > .button:hover { background-color: #2b5eb2; }

section#ebscohost_homepage_ebsco_linkout { background-color: #e8e8e8; }
section#ebscohost_homepage_ebsco_linkout > .inner { text-align: center; padding: 10px 0px; }
section#ebscohost_homepage_ebsco_linkout img { vertical-align: middle; }

section#ebscohost_homepage_promo { padding-bottom: 25px; }
section#ebscohost_homepage_promo img { display: block; float: left; margin: -10px 20px 0px 0px; }
section#ebscohost_homepage_promo hr { border: 1px solid #dddddd; margin: 50px 0px 40px 0px; width: 80%; }
section#ebscohost_homepage_promo h2 { font-size: 22px; font-weight: normal;}
section#ebscohost_homepage_promo > .inner > .content { width: 50%; float: left; margin-top: 1px;}
section#ebscohost_homepage_promo > .inner > .content > .inner { padding: 0px 10px; }
section#ebscohost_homepage_promo .button { display: inline-block; border: 1px solid #ffffff; padding: 10px 15px 10px 15px; background-color: #154695; color: #ffffff; text-decoration: none; }
section#ebscohost_homepage_promo .button:hover { background-color: #2b5eb2; }

/*section#ebscohost_homepage_newsletter_form { background-color: #e8e8e8; }
section#ebscohost_homepage_newsletter_form form > * { text-align: center; } */
section#newsletterSignup .button:hover { background-color: #46972e; }
 
/* overwrites */
.form-behavior div.field.checkbox label {
    padding-left: 0px;
}
.js div.field label {
    padding-right: 0;
}
.button { background-color: #2a7d11; }

section#newsletterSignup.xskin_s1x { background: rgb(232, 232, 232); }