section#newsletterSignup.skin_s1 {
    background: rgb(232, 232, 232);
}
#newsletterSignup {
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;
}
#newsletterSignup h2 { font-weight: normal; }
#newsletterSignup .nl-field {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin: 0 32px 0 0;
}
#newsletterSignup .nl-label {
    display: block;
    margin-left: 8px;
    position: relative;
}
#newsletterSignup .nl-input {
    left: 0;
    position: absolute;
    top: 10px;
    opacity: 0;
}
#newsletterSignup .email-field {
    margin: 30px auto;
    max-width: 440px;
    position: relative;
}
#newsletterSubmit {
    height: 32px;
    padding: 4px 20px;
    position: absolute;
    right: 0;
    top: 0;
}
input[type="checkbox"] {
    opacity:0;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:30px;
    height:30px;
    vertical-align:middle;    
    background:url(/files/ebooks/img/checkbox.jpg) left top no-repeat;
    cursor:pointer;    
}
input[type="checkbox"]:checked + label span {
    width:30px;
    height:30px;
    vertical-align:middle;          
    background:url(/files/ebooks/img/checkbox-active.jpg) left top no-repeat;
}