section.slideshow_2015 { /*background-color: #888888;*/ }
section.slideshow_2015 > .inner { overflow: visible; }
section.slideshow_2015 > .inner > .content { width: 1600px; margin-left: -288px;}
section.slideshow_2015 .slides > li > div.slider_image { display: block; float: left; }
section.slideshow_2015 .slides > li > div.slider_text { position: absolute; background: url(https://www.ebscohost.com/files/slideshow/slideshow_2015/images/translucent-white-80.png); width: 500px; height: 251px; margin: -260px 0 0 817px; }
section.slideshow_2015 .slides > li > div.slider_text > div { margin: 0px 20px; }
section.slideshow_2015 .slides > li > div.slider_text h2 { font-size: 26px; font-weight: normal; }
section.slideshow_2015 .slides > li > div.slider_text h3 { font-size: 20px; font-weight: normal; }
section.slideshow_2015 .slides > li > div.slider_text a.button {
    display: inline-block;
    border: 1px solid #2a7d11;
    padding: 10px 15px 10px 15px;
    background-color: #2a7d11;
    color: #ffffff;
    text-decoration: none;
}
section.slideshow_2015 .slides > li > div.slider_text a.button:hover { background-color: #46972e; }


/* FlexSlider Overwrites */
.flexslider { margin-bottom: 0px; }
.flex-control-nav { bottom: 25px; left: 450px;}
.flex-control-paging li a {
    background: #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.flex-control-paging li a,
.flex-control-paging li a:hover,
.flex-control-paging li a:active,
.flex-control-paging li a:visited { outline: 0px none transparent; }

.flex-control-paging li a:hover {
    background: #bbddbb;
}
.flex-control-paging li a.flex-active {
    background: #2a7d11;
}
