@charset "UTF-8";
/* --------------------------------------------------
Base Style Sheet
2011/06/20 -
-------------------------------------------------- */
/* RESET */
body,div,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,li,
pre,form,fieldset,input,select,textarea,p,blockquote,th,td {
margin:0;
padding:0;
word-break:break-all;
}
/*h1,h2,h3,h4,h5,h6,p{word-break:normal;}*/
body {
/*
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
*/
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
font-size:.750em;
line-height:1;
}
html>/**/body {font-size:12px;}


/* RESET */
body {
  margin: 0;
  padding: 34px 0 0;/* fixedbar height */
}
body.modalBody{
  padding: 0;
}
#fixedbar,
header,
#header,
footer,
#footer,
#navcontainer,
#globalLinks,
#yrHere {
/*
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
*/
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
#fixedbar *,
#header *,
header *,
footer *,
#footer *,
#navcontainer *,
#globalLinks *,
#yrHere * {
  margin: 0;
  padding: 0;
}
#fixedbar,header,#header,#navcontainer,#yrHere,#prefLinks,#globalLinks,footer,#footer{
  /*
  padding-left:15px;
  padding-right:15px;
  */
  min-width:1030px;
}

/* COMMON HTML5 NEW ELEMENTS
----------------------- */
article, aside, figure, figcaption, footer, header, nav, section {
  display: block;
}

/* COMMON
----------------------- */
#fixedbar-inner,
#header-inner,
#category-list {
  margin: 0 auto;
  text-align: left;
  width: 1000px;
}
/* list style */
.inlineList {
  list-style: none;
}
  .inlineList li {
    display: inline-block;
  }
  html*.inlineList li {
    display: inline;
    zoom: 1;
  }
/* for ie */
.pie {
  behavior: url( "/css/std/lib_css/PIE.htc" );
  position: relative;
}
/* clear */
.clr:after {
  clear: both;
  content: "";
  display: block;
  font-size: .1em;
  line-height: 0;
  height: .1px;
  visibility: hidden;
}
/* for ie */
* html .clr {display:inline-block;}
/* no ie mac \*/
* html .clr {height:1%;}
.clr {display:block;}
/* */
*:first-child+html .clr {zoom:1;}
/* placeholder */
input, textarea { color: #000; }
.placeholder { color: #aaa; }
/* --------------------------------------------
Element Styles
----------------------------------------------- */
/* LISTS */
ul,ol,dl {
list-style-type:none;
margin:0;
padding:0;
}
.horizontal > li,
.horizontal > li a {float:left;}
.horizontal > li a,
.vertical > li a {
background-position:0 0;
background-repeat:no-repeat;
display:block;
}
.typeMenu li {display:inline;}
.imgIco li {
background-repeat:no-repeat;
background-position:0 .4em;
padding-left:1em;
}
.imgText {
background:none;
border:none;
font-size:100%;
line-height:normal;
margin:0;
padding:0;
text-indent:0;
}
/* LINES */
hr {clear:both;}

/* LINKS */
a img {border:none; vertical-align:middle;}

/* --------------------------------------------
CLEAR -HACK:CLEARFIX-
----------------------------------------------- */
#container:after, #header:after, #navcontainer:after,
#content:after, #btmNav:after, #footer:after,
.clr:after {
content:"";
display:block;
visibility:hidden;
height:.1px;
font-size:.1em;
line-height:0;
clear:both;
}
/* for ie */
* html #container, * html #header, * html #navcontainer,
* html #content, * html #btmNav, * html #footer,
* html .clr {display:inline-block;}
/* no ie mac \*/
* html #container, * html #header, * html #navcontainer,
* html #content, * html #btmNav, * html #footer,
* html .clr {height:1%;}
#container, #header, #navcontainer,
#content, #btmNav, #footer,
.clr {display:block;}
/* */
*:first-child+html .clr {zoom:1;}

/* --------------------------------------------
Page Layout Patterns
----------------------------------------------- */
/* Only MainColumn */
.oneColumn #mainCol { width: 960px; margin: auto; }
.oneColumn #mainBody {}

/* SubColumn | MainColumn */
.sm #mainBody { float: right; }
.sm #subCol { float: left; }

/* MainColumn | SubColumn */
/* detail */
.ms #mainBody {
	float: left;
	width: 800px;
}
.ms #subCol {
	float: right;
	width: 180px;
}
/* ExtraColumn | MainColumn */
.xm #mainBody { float: right; }
.xm #exCol { float: left; }

/* MainColumn | ExtraColumn */
/* default */
.mx #mainBody {
	float: left;
	width: 750px;
}
.mx #exCol {
	float: right;
	width: 220px;
}


/* SubColumn | MainColumn | ExtraColumn */
/* list */
.smx #mainCol {
	float: left;
	width: 866px;
}
.smx #mainBody {
	float: right;
	width: 650px;
}
.smx #exCol {
	float: right;
	width: 120px;
}
.smx #subCol {
	float: left;
	width: 206px;
}

/* ExtraColumn | MainColumn | SubColumn */
.xms #mainCol {float:right;}
.xms #mainBody {float:left;}
.xms #exCol {float:left;}
.xms #subCol {float:right;}


/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	*zoom: 1;
	overflow:hidden;
}
.bx-wrapper .bx-viewport {
	margin-left:-10px;
}



/* --------------------------------------------------
Custom Style Sheet
2014/10/01 -
-------------------------------------------------- */

/* --------------------------------------------
Element Styles
----------------------------------------------- */
/* PARAGRAPH */
p {}

/* FORMS */
input,
select { vertical-align: middle; }
input[type="checkbox"],
input[type="radio"] {
	margin-bottom: 2px;
	margin-right: .25em;
	vertical-align: middle;
}
input[type="text"],
textarea { font-size: 100%; }
input[type="text"].defVal { color: #CCC; }
#mainBody select{ font-size:14px; padding:4px;}

/* Default Table */
table.defTbl{
	border-collapse:collapse;
	border:0px;
}

/* LISTS */
ul,ol {}
ul li ul, ol li ol {}
.simple {}
.typeInline,
.icoArrow {}
	.typeInline li {
		display: inline-block;
	}
	html*.typeInline li {
		display: inline;
		zoom: 1;
	}
	.typeInline img{ vertical-align:middle;}
/* HEADINGS */
/* ----------------------------------------
* Headings Clear
* ----------------------------------------*/
.heading { font-weight: bold; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
h1 { font-weight: normal; }
.lv1, .lv2, .lv3, .lv4 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
.lv1,
.lv2 {
	background: #CA0A37;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #FFF;
	font-size: 1.917em;
	line-height: 1;
	padding: 13px 20px 11px;
	behavior: url( "/css/std/lib_css/PIE.htc" );
	border-radius: 5px 5px 0 0;
	position: relative;
	font-weight: 200;
}
.lv2 {
	font-size: 1.500em;
}
.lv3 {
	color: #CA0A37;
	font-size: 1.917em;
	padding: 12px 20px;
	font-weight: 200;
}
.lv4 {
	color: #CA0A37;
	font-size: 1.167em;
	padding: 10px 15px;
}

/* LINES */
hr {}

/* LINKS */
a:link { color: #0633AC; }
a:visited {}
a:active {}
a:hover { color:#069;}
a:hover img {
	opacity: .6;
	filter: alpha(opacity=60);
}
.icoArrow a, .icoArrow span{
	background: url(../../../images/std/common/ico_arrow_red.gif) no-repeat 2px 50%;
	padding-left: 15px;
}
a.arrow, span.arrow { background: url(../../../images/std/common/ico_arrow_red.gif) no-repeat 0 50%; padding-left: 10px; }
a.icon { display: inline-block; }
.ico.blank { background: url(/top/images/std/common/ico_blank.gif) no-repeat 100% 25%; padding-right: 13px; }

/* Image Replacement */
.imgReplace {
text-indent:100%;
text-indent: -999px\9;
white-space: nowrap;
overflow: hidden;
background-repeat:no-repeat;
width:100%;
position: relative;
text-align: left;
}
.imgReplace a{
height:100%;
width:100%;
position:absolute;
top:0;
left:0;
display: block;
}
.irBtn:hover{
background-color:#FFF;
filter:alpha(opacity=60);
-moz-opacity:0.6;
-khtml-opacity: 0.6;
opacity:0.6;
cursor:pointer;
}

/* for ie8png */
a:hover img.pngbg{
	background:url(/top/images/std/common/bg_png.gif);
    /*background: #fff;/*url(/top/images/std/common/bg_png.gif);*/
}

/* --------------------------------------------
Page Layout
----------------------------------------------- */
body {
	background: #F8F8F8;
	text-align: center;
}
#container {
	margin: 0 auto;
	padding: 15px 15px 30px;
	position: relative;
	text-align: left;
	width:1000px;
}
#container-inner {}

/* MAIN CONTENT STYLE
----------------------- */
#mainCol,#mainBody,#subCol,#exCol {}

/* MAIN COLUMN STYLE
----------------------- */
#mainCol {}
#mainBody {
	line-height: 1.5;
}

/* SUB COLUMN STYLE
----------------------- */
#subCol {}

/* EXTRA COLUMN STYLE
----------------------- */
#exCol {}

/* RETURN TO PAGE TOP STYLE
----------------------- */
/*
#toPageTop {
	bottom: -180px;
	position: absolute;
	right: -60px;
	z-index: 100;
}
*/
#toPageTop {
	bottom: 45px;
	position: fixed;
	right: 45px;
	z-index: 10;
	display:none;
}

/* PAGE BOTTOM AREA STYLE
----------------------- */
#prefLinks {
	background: #EDEDE2 url(../../../images/std/common/bg_pref_links.png) no-repeat 95% 15px;
	border-top: 1px dotted #CDCDB1;
	position: relative;
}
#prefLinks-inner {
	margin: 0 auto;
	padding: 20px 0 15px;
	position: relative;
	text-align: left;
	width: 1000px;
	z-index: 2;
}
	#prefLinks-title {
		border-left: 4px solid #4B4738;
		font-size: 1.333em;
		color: #4B4738;
		margin-bottom: 20px;
		padding-left: 11px;
	}
	#prefLinks a {
		color: #4B4638;
	}
	#prefLinks dl {
		float: left;
		margin-left: 15px;
	}
	#prefLinks dl+dl {
		margin-left: 50px;
	}
	#prefLinks dt,
	#prefLinks dd {
		color: #4B4638;
		float: left;
		line-height: 1.25;
		margin-bottom: 8px;
	}
	#prefLinks dt {
		border-right: 1px dotted #4B4738;
		clear: left;
		font-weight: bold;
		margin-right: 1.25em;
		padding: 0 .75em 0 0;
		width: 7em;
	}
	#prefLinks dd {
		padding: 0 .75em 0 0;
	}
	#prefLinks dd+dd {
		border-left: 2px solid #CCC;
		padding-left: 1em;
	}

#site-notice {
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
	margin-bottom: 15px;
	padding: 5px 10px;
}
	#site-notice li {
		position: relative;
	}
	#site-notice li:before {
		content: "・";
		font-weight: bold;
		position: static;
	}
	#site-notice li.important:before {
		color: #F00;
	}

/* LIB
----------------------- */
/* single */
.fsLL { font-size: 1.333em; } /* 16|12 */
.fsL { font-size: 1.167em; } /* 14|12 */
.fsMS { font-size: .917em; } /* 11|12 */
.fsS { font-size: .833em; } /* 10|12 */
.fwB { font-weight: bold; }
.fcRed { color: #F00; }
.taC { text-align: center; }
.taR { text-align: right; }
.taL { text-align: left; }
.left { float: left; }
.right { float: right;}
.hide { display: none; }
.vaM { vertical-align: middle; }
.w100 { width: 100%; }
.w95 { width: 95%; }
.w90 { width: 90%; }
.w85 { width: 85%; }
.w80 { width: 80%; }
.w75 { width: 75%; }
.w70 { width: 70%; }
.w65 { width: 65%; }
.w60 { width: 60%; }
.w55 { width: 55%; }
.w50 { width: 50%; }
.w45 { width: 45%; }
.w40 { width: 40%; }
.w35 { width: 35%; }
.w30 { width: 30%; }
.w25 { width: 25%; }
.w20 { width: 20%; }
.w15 { width: 15%; }
.w10 { width: 10%; }
.w05 { width: 5%; }
.mT05{margin-top:5px;}
.mT10{margin-top:10px;}
.mT15{margin-top:15px;}
.mT20{margin-top:20px;}
.mR05{margin-right:5px;}
.mR10{margin-right:10px;}
.mR15{margin-right:15px;}
.mR20{margin-right:20px;}
.mB05{margin-bottom:5px;}
.mB10{ margin-bottom:10px;}
.mB15{ margin-bottom:15px;}
.mB20{ margin-bottom:20px;}
.mL05{margin-left:5px;}
.mL10{margin-left:10px;}
.mL15{margin-left:15px;}
.mL20{margin-left:20px;}

.clrL{clear:left;}
.clrR{clear:right;}
.clrB{clear:both;}

.nowrap{white-space:nowrap;}

.dotline {
	border: none;
	border-top: 1px dotted #CCC;
	height: 0;
	margin: 20px 0;
	padding: 0;
}
.doubleLine {
	background: url(/top/images/std/common/bg_bar_doubledot.gif) repeat-x 0 0;
}
p.more,
p.morePlain {
	font-size: 12px;
	font-weight: normal;
	margin-bottom: .5em;
	text-align: right;
}
	p.more.catch {
		border: 1px solid #FFF;
		padding: 0 1em;
	}
	.heading+p.morePlain,
	.heading+p.more {
		position: absolute;
		right: 23px;
		top: 10px;
		z-index: 10;
	}
	.heading.lv2+p.more,
	.heading.lv2+p.more a {
		color: #FFF;
	}
	.heading.lv2+p.more a {
		text-decoration: none;
	}
.box,
.linerBox {
	background: #FFF;
	margin-bottom: 20px;
	position: relative;
}
	.box .inner {
		border: 1px solid #CCC;
		border-top: none;
		padding: 15px 19px 10px;
	}
		.inner .overwrap {
			border-bottom: 1px dotted #CCC;
			margin-left: -19px;
			margin-right: -19px;
			margin-bottom: 15px;
			padding-bottom: 10px;
			padding-left: 19px;
			padding-right: 19px;
		}
.linerBox {
	border: 1px solid #CCC;
	border-top: 4px solid #CA0A37;
}
	.linerBox .inner {
		padding: 0 17px 10px;
	}
.padWrap {
	padding: 0 19px 10px;
}

/*  all common */
.typeInline.col-3,
.typeInline.col-5,
.typeInline.col-7 {
}
.typeInline.auto li,
.typeInline.col-1 li,
.typeInline.col-2 li,
.typeInline.col-3 li,
.typeInline.col-4 li,
.typeInline.col-5 li,
.typeInline.col-6 li,
.typeInline.col-7 li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: .5em 2em .5em 0;
	vertical-align: top;
}
.typeInline.col-1 li {
		margin-right: 1%;
		width: 98%;
}
.typeInline.col-2 li {
		margin-right: 1%;
		width: 48%;
}
.typeInline.col-3 li {
		margin-right: 1%;
		width: 30%;
}
.typeInline.col-4 li {
		margin-right: 1%;
		width: 23%;
}
.typeInline.col-5 li {
		margin-right: 1%;
		width: 18%;
}
.typeInline.col-6 li {
		margin-right: 1%;
		width: 15%;
}
.typeInline.col-7 li {
		margin-right: .5%;
		width: 13%;
}
.relation-search .typeInline.col-4 li { color: #666; text-decoration: none;}

/* small lists */
.holdList {
}
	.holdList .lv4 {
		color: #CA0A37;
		font-size: 1.167em;
		font-weight: bold;
		padding: 10px 15px;
	}
	.holdList ul {
		/*font-size: .917em;*/
		list-style: none;
		margin: 0;
		padding: 0 10px 10px 12px;
		overflow: hidden;
	}
	.holdList li {
		display: block;
		float: left;
		margin: 0 1% .5em 0;
		position: relative;
		word-break: keep-all;
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
	}
	.holdList .col-1 li {
		width: 98%;
	}
	.holdList .col-2 li {
		width: 49%;
	}
	.holdList .col-3 li {
		width: 32%;
	}
	.holdList li:before {
		content: "・";
		position: static;
	}

/*  */
.typeTable { display: table; }
.cell,
.typeTable > dt,
.typeTable > dd,
.typeTable > li { display: table-cell; }

/**/
.ico.rank img { margin-right: 3px; vertical-align: text-bottom; }




/* absolute text size definition */
.abstxt-xs { font-size: 8px;}
.abstxt-s { font-size: 10px;}
.abstxt-m { font-size: 12px;}
.abstxt-l { font-size: 14px;}

/* for text block */
/* default | 12px base */
.txtblock-xs { font-size: .667em;} /* 8 */
.txtblock-s { font-size: .833em;} /* 10 */
.txtblock-m { font-size: 1em;} /* 12 */
.txtblock-l { font-size: 1.167em;}  /* 14 */


.fs11 { font-size: 11px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }


/* small | 12px base */

/*
on 12px base
6px	0.500em	50.0%
7px	0.583em	58.3%
8px	0.667em	66.7%
9px	0.750em	75.0%
10px	0.833em	83.3%
11px	0.917em	91.7%
12px	1.000em	100.0%
13px	1.083em	108.3%
14px	1.167em	116.7%
15px	1.250em	125.0%
16px	1.333em	133.3%
17px	1.417em	141.7%
18px	1.500em	150.0%
19px	1.583em	158.3%
20px	1.667em	166.7%
21px	1.750em	175.0%
22px	1.833em	183.3%
23px	1.917em	191.7%
24px	2.000em	200.0%
*/





/* image replacement */
.ir-bt_to_top{/*background-image:url(/top/images/std/common/bt_to_top.gif); height:45px; width:320px;*/ text-align: center; }


/**/
.withThumb {
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	width: 100%;
}
	.withThumb .thumb {
		float: left;
	}
	.withThumb .title,
	.withThumb .desc {
		padding-left: 60px;
	}
	.withThumb .title {
		font-weight: bold;
		line-height: 1.5;
		margin-bottom: .75em;
		text-decoration: underline;
	}
	.withThumb .desc {
		color: #333;
		line-height: 1.35;
	}
#btn-siteGuide {
	position: absolute;
	right: 15px;
	top: -106px;
	height: 21px;
	width: 101px;
}
	#btn-siteGuide.withJS{
		top:-27px;
	}

/* ------------------------------
 * main column common
------------------------------ */
/* counter */
.head-counter {
	background: #FFF;
	border-radius: 100px;
	font-size: 11px;
	padding: 5px 10px;
	position: absolute !important;
	right: 10px;
	top: 12px;
}
	.head-counter dt,
	.head-counter dd {
		display: inline-block;
		line-height: 15px;
		vertical-align: middle;
	}
	.head-counter dt {
		background: url(../../../images/std/common/ico_head_counter.gif) no-repeat 0 50%;
		padding-left: 20px;
	}
	.head-counter .counter {
		color: #F00;
		font-weight: bold;
	}
	.head-counter .counter .num {
		font-size: 16px;
	}
/* titles */
.area-name,
.search-type { font-size: 24px; }
.search-option { font-size: 24px; }
#listPage-header .heading.lv1{padding-right:200px}
#search-area .heading.lv1.withCounter { padding-right: 235px; }
.small { font-size: 20px;  }

/* relation item list */
#relation-item {}
	/*#relation-item li { margin: 0 3em 1em 0;}*/
#relation-town .openerArrowS {
	margin-top:8px;
}
/* popular  */
#popular-wrap {
	margin-bottom: 20px;
}
	#popular-wrap div {
		float: left;
		margin-bottom: 0;
		width: 240px;
		box-sizing:border-box;
		min-height:224px;
	}
	#popular-wrap p.read {
		font-size: .833em;
		padding: 0 17px 10px;
	}
	#popular-wrap div+div {
		margin-left: 15px;
	}
	#popular-wrap .no-data {
		padding: 0 17px 10px;
	}
	#popular-wrap ul {
		min-height: 12em;
	}
#search-keyword {
}
	#search-keyword .inner {
		padding: 20px 17px 20px 7px;
	}
	#search-keyword .holdList {
		background: #F7F9FD;
		float: left;
		margin-left: 10px;
		min-height: 18.5em;
		width: 230px;
	}
/*	#search-keyword .holdList:first-child { margin-left: 0; }*/
	.oneColumn #search-keyword .holdList { min-height: 13em; width: 300px; }

/* search with fudousanCom */
#linkbox-fudousankaisha{
	background: #fff;
	border: 1px solid #ccc;
	margin-top:-10px;
	margin-bottom: 20px;
	padding: 10px 15px;
	position: relative;
}
	#linkbox-fudousankaisha .item .thumb{
		margin-bottom:0;
	}
	#linkbox-fudousankaisha .withThumb .title{
		padding-left:15px;
		line-height:40px;
	}

/* athome library */
#athome-library {
	border: 3px solid #F7F9FD;
	background: #FFF;
	margin-bottom: 20px;
	outline: 1px solid #CCC;
	padding: 15px 20px;
	position: relative;
}
	#athome-library a { min-height: 60px; }
	#athome-library .thumb { left: 0; position: absolute; }
	#athome-library .title,
	#athome-library .desc { clear: left; float: left; padding-left: 75px; }

/* popular keyword list */
#popular-keyword {}
	#popular-keyword .desc { font-size: .917em; }
	#popular-keyword a {}
	#popular-keyword ul { margin-top: 1em; }
	#popular-keyword li {
		margin-right: 1em;
		margin-bottom: .5em;
	}

/* page bottom text */
#seo-text { clear: both; }

/* search common */
.search-items {
	border: 5px solid #EEE;
	margin-bottom: 15px;
}
	.search-items fieldset,.search-items .fieldgroup {
		border: none;
		position: relative;
	}
	.search-items fieldset+fieldset,.search-items .fieldgroup+.fieldgroup {
		border-top: 1px solid #EEE;
	}
	.search-items .heading {
		background: #F5F5ED/*#F6F6F6*/;
		color: #630;
		display: block;
		font-size: 1.25em;
		padding: 10px 15px;
		position: relative;
	}
		.search-items .heading input[type="checkbox"] {
			filter:alpha(opacity=0);
			outline: none;
			opacity : 0;
			padding: 0;
			position: absolute;
		}
		.search-items .heading label {
			background: url(../../../images/std/search/bg_input_off.png) no-repeat 0 50%;
			display: block;
			line-height: 22px;
			padding-left: 35px;
		}
		.search-items .heading.checked label {
			background-image: url(../../../images/std/search/bg_input_on.png);
		}
		.search-items .heading+p.more {
			top: 1.0em;
		}
	.search-items fieldset ul,.search-items .fieldgroup ul {
		padding: 8px 0 15px 15px;
	}
		.search-items fieldset ul li,.search-items .fieldgroup ul li {
		}
		.search-items fieldset ul li,
		.search-items .fieldgroup ul li,
		.search-items_table td li {
			margin-bottom: 1em !important;
			padding-left: 1.75em;
			text-indent: -1.75em;
		}
		.search-items li label {
			line-height: 1.2;
		}
		/*
		.search-items input[type="checkbox"]:checked+label,
		.search-items input[type="radio"]:checked+label,
		.search-items input[type="checkbox"]:checked+label span,
		.search-items input[type="radio"]:checked+label span{
			color: rgb(208, 12, 11);
			font-weight: bold;
		}
		*/
		.search-items.area-group label span { color: #0633ac; cursor: pointer; text-decoration: underline; }
		.search-items.area-group label span:hover { color: #069; }
		.search-items fieldset li.null,
		.search-items fieldset li.null span,
		.search-items .fieldgroup li.null,
		.search-items .fieldgroup li.null span { color: #666; text-decoration: none; }
		.search-items li.dev-showAreaFlag label span,
		.search-items li.dev-showAreaFlag label span:hover,
		.search-items li.dev-showAreaFlag-wo-js label span,
		.search-items li.dev-showAreaFlag-wo-js label span:hover ,{ color: #666; text-decoration: none; }
		#search-modal_contents .search-items.area-group label span { text-decoration: none; }

.search-items.area-group label span.cursor-default {
cursor: default;
}
.search-items.area-group label span.color-default {
color: #000000;
}
.search-items li.dev-showAreaFlag label span { color: #666; text-decoration: none; }
.search-items li.dev-showAreaFlag label span:hover { color: #666; text-decoration: none; }
.search-items li.dev-showAreaFlag-wo-js label span { color: #666; text-decoration: none; }
.search-items li.dev-showAreaFlag-wo-js label span:hover { color: #666; text-decoration: none; }

.boxHover.active {
	background: #FFFFD9;
}

/* counter */
.search-items_result {
	border: 3px solid #ADA994;
	border-radius: 3px;
	margin: 0 auto 35px;
	width: 613px;
}
	.search-items_result .inner {
		background: rgb(255,255,255);
		background: -webkit-linear-gradient( rgba(238,238,224,1) 20%, rgba(255,255,255,1) 100% );
		background: linear-gradient( rgba(238,238,224,1) 20%, rgba(255,255,255,1) 100%  );
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEE0', endColorstr='#FFFFFF', GradientType=0 );
		border: 1px solid #FFF;
		padding: 0;
		position: relative;
	}
	.result-counter{
		padding: 20px;
		position: relative;
	}
		.result-counter dt,
		.result-counter dd {
			color: #4B4638;
			display: inline-block;
			font-weight: bold;
			vertical-align: middle;
		}
		.result-counter dt {
			background: url(../../../images/std/search/ico_result.png) no-repeat 0 0;
			font-size: 18px;
			line-height:30px;
			margin-right: 20px;
			padding-left: 45px;
		}
		.result-counter dd {
			font-size: 15px;
		}
		.result-counter .counter {
			background: rgb(255,255,255);
			background: -webkit-linear-gradient( rgba(255,255,255,1) 20%, rgba(238,238,238,1) 100% );
			background: linear-gradien( rgba(255,255,255,1) 20%, rgba(238,238,238,1) 100% );
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EEEEEE', GradientType=0 );
			color: #F00;
/*			font-family: Arial, Helvetica, sans-serif;*/
			font-size: 24px;
			font-weight: bold;
			border: 2px solid #444;
			display: inline-block;
			line-height: 1.2;
			vertical-align: bottom;
		}
			.result-counter .counter span {
				float: left;
				font-family: "Arial Black", Gadget, sans-serif, Helvetica !important;
			}
			.result-counter .counter span+span {
				border-left: 2px solid #777;
			}
				.result-counter .counter span span {
					border: 1px solid #FFF;
					min-width: 1em;
					text-align: center;
				}
			.result-counter .viewResult {
				margin-top: -21px;
				position: absolute;
				right: 15px;
				top: 50%;
			}
	.result-noCounter {
		padding:10px;
		position:relative;
	}
		.result-noCounter .viewResult {
			margin:0 auto;
			text-align:center;
		}
	table.search-items_table {
		border-collapse: collapse;
		width: 100%;
	}
	.search-items_table th,
	.search-items_table td {
		border-bottom: 1px solid #EEE;
		padding: 10px 15px;
	}
	.search-items_table th {
		background: #F5F5ED/*#FAFAF6*/;
		color: #630;
		text-align: left;
		white-space: nowrap;
		width: 13%;
		padding: 10px 10px;
	}
		.search-items_table th span.ico img { margin-left: 3px; vertical-align: text-top; }
	.search-items_table td { padding-right: 0; }
.selected-railroad {
	border-bottom: 1px dotted #ADA993;
	padding: 10px 20px;
}
	.selected-railroad dt { color: #4B4638; font-size: 1.167em; font-weight: bold; white-space:nowrap; line-height:1.6em;}
	.selected-railroad dd {padding-left: 20px; line-height:1.6em; }
	.selected-railroad dd >span {padding-right: 20px; display:inline-block; padding-bottom:5px; }
.selected-railroad+.result-counter { padding: 15px 20px; }

.openerArrowS a:after{
		content: url(/top/images/std/common/ico_opener_s.gif);
		transition: transform 0.5s;
		-moz-transition: transform 0.5s;
		-webkit-transition: transform 0.5s;
		-o-transition: transform 0.5s;
  	}
	.openerArrowS.open a:after {
		content: url(/top/images/std/common/ico_opener_s_close.gif);
		/*
		-moz-transform: rotateZ(180deg);
		-webkit-transform: rotateZ(180deg);
		-o-transform: rotateZ(180deg);
		-ms-transform: rotateZ(180deg);
		*/
	}
/* todo:fix after
.toggleList+.openerArrowS {
	display: none;
}
*/
/* contents link */
.contents-link { margin-bottom: 20px; }
	.contents-link .item {
		border: 3px solid #F7F9FD;
		background: #FFF;
		margin-bottom: 12px;
		outline: 1px solid #CCC;
		padding: 9px 20px 9px 11px;
		position: relative;
	}
		.contents-link .item .thumb { line-height: .1; margin: 0; }
		.contents-link .item .title,
		.contents-link .item .desc { display: block; padding-left: 155px; }
		.contents-link .item .title { font-size: 1.167em; margin-bottom: .5em; }
.oneColumn .contents-link .item {
	padding: 15px;
}

/* ------------------------------
 * narrow column common
 *  - item list
 *  - item detail
------------------------------ */
/* banner */
.banner-wrap p { margin-bottom: 10px; }
.banner-wrap .dfp { margin-bottom: 10px; }
/* narrow list common */
.side-item_wrap {
	line-height: 1.25;
	margin-bottom: 15px;
}
	.side-item_wrap .inner {
		border: 1px solid #CED496;
		border-top: none;
	}
	.side-item_wrap .item+.item { border-top: 1px dotted #CED496; }
.side-item_title {
	background: #9EA365;
	border-radius: 3px 3px 0 0;
	color: #FFF;
	padding: .5em .75em;
}
.item.side { background: #FFF; }
	.item.side a {
		/*color: #333;*/
		text-decoration: none;
	}
	.item.side dl {
		overflow: hidden;
		padding-bottom: 5px;
		position: relative;
	}
	.item.side dt {
		background: #F5F6EA;
		border: 1px solid #FFF;
		padding: 5px 8px;
		text-align: center;
	}
	.item.side a dt,.item.side a:visited dt{
		color: #333;
		text-decoration: none;
	}
	.item.side .desc {
		font-size: 10px;
		text-decoration: underline;
	}
	.item.side .thumb {
		float: left;
		margin: 7px;
	}
		.item.side .thumb img { border: 1px solid #EEE; }
	.item.side .price {
		color: #F00;
		font-weight:bold;
		margin: 9px 0 3px;
	}
/* custom */
#side-userRecommend .side-item_title { font-size: 11px; }
#side-history .side-item_title { text-align: center; }

/* excol */
#exCol .item.side dt { font-size: 10px; }
#exCol .item.side .thumb { margin: 5px; }
#exCol .item.side .desc { }
#exCol .item.side .desc,
#exCol .item.side .price { padding-left: 50px; }
/* subcol */
#subCol .item.side {}
#subCol .item.side .thumb { margin: 7px; }
#subCol .item.side dt,
#subCol .item.side .desc { margin-bottom:4px;  }
#subCol .item.side .desc,
#subCol .item.side .price { padding-left: 80px; }
#subCol .item.side .price { font-size: 14px;	}
#subCol #side-userRecommend .side-item_title,
#subCol #side-history .side-item_title {
	font-family: "Meiryo UI", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif, Helvetica;
	font-size: 14px;
}

/* modal
-------------------- */
/*
html.inModal {
    overflow: hidden !important;
}*/
#modalWrap {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	width: 100%;
	height: 100%;
}
#modalLayer {
	background: #e1e1e1;
	filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 500;
}
	#modalBody {
		background: #FFF;
		left: 50%;
		position: absolute;
		z-index: 501;
		top: auto;
	}
	#zoomContents {
	}
	#modalClose  {
		cursor: pointer;
		position: absolute;
		right: 17px;
		top: 13px;
		z-index: 10000;
	}
/* for colorbox */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
/*  User Style: */
#cboxOverlay{background: #e1e1e1; /*opacity: 0.8; filter: alpha(opacity = 80);*/}
#colorbox{outline:0;}
.modalBody #container, .modalBody #mainCol { padding: 0; width: 960px; }

/* help tip */
.helpTip { line-height: 1.4; }
.helpTip .hTitle{
	background: #C00;
	color: #FFF;
	font-weight: bold;
	padding: 3px 5px;
	margin-bottom: 5px;
}
.helpTip .hContent{
	font-size: 90%;
}

/* js off */
.noscript {
	display: none;
}

/* err */
.form-error.simple {
	background: #FFF;
	font-weight: bold;
	margin: 5px auto 20px;
	text-align: center;
}
	.form-error.simple .err-mess {
		border: 5px solid #E68E93;
		color: #C33;
		display: inline-block;
		font-size: 1.333em;
		margin: 0 auto;
		padding: .5em 4em;
	}
#search-modal_contents .form-error.simple {
	margin: -25px auto 10px;
}
	#search-modal_contents .form-error.simple .err-mess {
		font-size: 1em;
	}
#search-modal_contents #station_error_msg {
	margin-top: 0;
}

/* bookmark */
.mWrap {
    background: #FFF;
    border: 3px solid #CA0A37;
    padding: 8px 15px;
    text-align:center;
    width: 288px;
    height: auto;
}
	.mWrap p.btn {
		margin-bottom: 5px;
	}
	.mWrap p.messe {
		color: #C03;
		font-size: 16px;
		padding: 5px 10px;
	}
	.mWrap .innerWrap {
	}
	.mWrap .messeBox {
	}
		.mWrap .wrapSecond {
			background: #FAFAF6;
			color: #630;
			font-weight: bold;
			padding: .5em;
		}
		.mWrap .checkText {
			margin: .75em 0;
		}



    /* --------------------------------------------------
     Header and Footer Styles
      - tool bar
      - hedaer
      - footer
      - navigtion
      - page bottom navigation
      - breadcrumbs
    -------------------------------------------------- */


    /* TOOL BAR
    ----------------------- */
    #fixedbar {
    	background: #CA0A37 url(/top/images/std/global/bg_fixed_bar.gif) repeat-x 0 0;
    	color: #FFF;
    	height: 34px;
    	overflow: hidden;
    	position: fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
    	z-index: 10000;
    }
    	#fixedbar a {
    		background: url(/top/images/std/global/sprite_fixedbar.png) no-repeat 0 0;
    		display: block;
    		overflow: hidden;
    		text-indent: -9999px;
    	}
    #fixedbar-inner {
    	position:relative;
    }
    #fixedbar a#logo-fixedbar{
    	position:absolute;
    	text-indent:0;
    	top:8px;
    	left:0;
    	background:none;
    	display:none;
    }
    #fixedbar-data_wrap {
    	float: left;
    	text-align: right;
    	width: 545px;
    }
    #fixedbar-data {
    	float: right;
    /*	margin-top: 8px;*/
    }
    	#fixedbar-data th,
    	#fixedbar-data td {
    		height: 30px;
    	}
    	#fixedbar-data th {
    		font-size: 11px;
    		padding-right: 10px;
    	}
    	#fixedbar-data td {
    		font-size: 10px;
    	}
    	#fixedbar-data .counter {
    		background: #FFF;
    		border-radius: 3px;
    		color: #F00;
    		display: inline-block;
    		font-weight: bold;
    /*		line-height: 19px;*/
    		margin: 0 10px 0 0;
    		padding: 4px 13px 3px;
    	}
    	#fixedbar-data .counter .num {
    		font-size: 12px;
    		margin-right: .25em;
    	}
    #fixedbar-data_caption {
    /*	font-size: 10px !important;*/
    }
    #fixedbar-first a {
    	background-position: 0 0;
    	float: right;
    	margin: 6px 18px 0 0;
    	height: 23px;
    	width: 104px;
    }
    #fixedbar-first a:hover {
    	opacity: .8;
    }
    #fixedbar-func {
    /*	border-left: 1px solid #E95276;
    	border-right: 1px solid #C10000;*/
    	float: right;
    	list-style: none;
    	width: 313px;
    }
    	#fixedbar-func li {
    /*		border-left: 1px solid #C10000;
    		border-right: 1px solid #E95276;*/
    		float: left;
    		display: block;
    		height: 34px;
    		margin-left: 2px;
    	}
    	#fixedbar-func a {
    		color: #FFF;
    		height: 34px;
    	}
    	#fixedbar-func_fav a { background-position: -111px 0; width: 92px; }
    	#fixedbar-func_hist a { background-position: -203px 0; width: 104px; }
    	#fixedbar-func_save a { background-position: -307px 0; width: 111px; }
    	#fixedbar-func a:hover {
    		opacity: .8;
    	}

    /* HEADER
    ----------------------- */
    .clearfix::after {
    clear: both;
    content: "";
    display: block;
    }
    .logo_top{
    width: 153px;
    float: left;
    }
    #siteSummary {
    	font-size: .95em;
      margin-top: 22px;
      margin-left: 2px;
      display: inline-block;
		white-space: nowrap;
    }
    #header, header {
    	background: #FFF;
    	border-bottom: 2px solid #6A6656;
    	height: 96px;
    }
    #header-inner {
    	position: relative;
    	height: 96px;
    }
    #logo {
    	display: block;
    	overflow: hidden;
      margin-top: 8px;
      width: 153px;
      height: 33px;
      display: inline-block;
    }
    #header-nav {
    	float: left;
    	margin-left: 200px;
    	margin-top: 12px;
    	overflow: hidden;
    	width: 587px;
    }
    	#header-nav a {
    		color: #726A4A;
    		text-decoration: none;
    	}
    	#header-nav a:hover {
    		opacity: .6;
    	}
    	#header-nav dl {
    		float: left;
    		margin: 0 5px 0 0;
    		overflow: hidden;
    	}
    		#header-nav dt {
    			background: url(/top/images/std/global/sprite_header_nav_common.png) no-repeat 0 16px;
    			color: #726A4A;
    			clear: both;
    			display: block;
    			font-size: 10px;
    			font-weight: bold;
    			height: 19px;
    			margin: 0 0 4px;
    			text-align: center;
    		}
    			#header-nav dt.current,
    			#header-nav dt.current a {
    				color:#CA0A37;
    			}
    		#header-nav dd {
    			float: left;
    			height: 50px;
    			overflow: hidden;
    		}
    			#header-nav dd a,
    			#header-nav li a {
    				background-image: url(/top/images/std/global/sprite_header_nav_common.png);
    				background-repeat: no-repeat;
    				display: block;
    				height: 50px;
    				overflow: hidden;
    				text-indent: -9999px;
    			}
    	#header-nav_rent { width: 46px; }
    	#header-nav_mansion,
    	#header-nav_kodate { width: 111px; }
    		#header-nav_mansion dt,
    		#header-nav_kodate dt { background-position: -51px 16px; }
    		#header-nav_mansion dt.current,
    		#header-nav_kodate dt.current { background-position: -325px 16px; }
    	#header-nav_buy { width: 105px; }
    		#header-nav_buy dt { background-position: -167px 16px; }
    		#header-nav_buy dt.current { background-position: -441px 16px; }
    		#buy_tochi a { margin-right: 5px; }
    	#header-nav_others {
    		list-style: none;
    		padding: 23px 0 0;
    	}
    		#header-nav_others li {
    			float: left;
    			margin-right: 5px;
    		}
    	#rent_chintai a { background-position: 0 -10px; width: 46px; }
    		#rent_chintai.current a { background-position: 0 -59px; }
    	#mansion_new a { background-position: -46px -10px; width: 55px; }
    		#mansion_new.current a { background-position: -46px -59px; }
    	#mansion_used a { background-position: -101px -10px; width: 56px; }
    		#mansion_used.current a { background-position: -101px -59px; }
    	#kodate_new a { background-position: -157px -10px; width: 55px; }
    		#kodate_new.current a { background-position: -157px -59px; }
    	#kodate_used a { background-position: -212px -10px; width: 56px; }
    		#kodate_used.current a { background-position: -212px -59px; }
    	#buy_tochi a { background-position: -268px -10px; width: 46px; }
    		#buy_tochi.current a { background-position: -268px -59px; }
    	#buy_toushi a { background-position: -314px -10px; width: 54px; }
    		#buy_toushi.current a { background-position: -314px -59px; }
    	#others_estate a { background-position: -368px -10px; width: 60px; }
    		#others_estate.current a { background-position: -368px -59px; }
    	#others_assess a { background-position: -428px -10px; width: 60px; }
    		#others_assess.current a { background-position: -428px -59px; }
    	#others_hikkoshi a { background-position: -488px -10px; width: 58px; }
    		#others_hikkoshi.current a { background-position: -488px -59px }

    #header-func {
      background: url(/top/images/std/global/sprite_header_func.png?v=20161130_001) no-repeat;
    	list-style: none;
      margin-left: 10px;
    	width: 180px;
      float: left;
    }
    	#header-func li,
    	#header-func a {
    		display: block;
    	}
    	#header-func li {
    		float: left;
    		font-size: 10px;
    		width: 60px;
    		white-space: nowrap;
    		word-break: keep-all;

    	}
    	#header-func a {
    		color: #726A4A;
    		display: block;
    		height: 51px;
    		padding: 45px 0 0;
    		text-align: center;
    		text-decoration: none;
    	}
    	#header-func a:hover {
    		opacity: .6;
    	}
    	#header-func .title {
    		display: block;
    		letter-spacing: -0.25px;
          line-height: 10px;
			font-size: .9em;
    	}
    	#header-func .counter {
    		color: #F00;
    		display: block;
    		font-weight: bold;
          height: 10px;
          line-height: 10px;
          margin-bottom: 10px;
    	}
    	#header-func .num {
    		font-size: 15px;
          vertical-align: -1px;
    	}
    	#header-func_fav a { background-position: 0 0; }
    	#header-func_hist a {	background-position: -60px 0; }
    	#header-func_save a { background-position: -120px 0; }

      #header-func_fav {
          border-left: solid 1px #EDEDE3;
          box-sizing: border-box;
      }
      #header-func_hist {
          border-right: solid 1px #EDEDE3;
          border-left: solid 1px #EDEDE3;
          box-sizing: border-box;
      }
      #header-func_save {
          border-right: solid 1px #EDEDE3;
          box-sizing: border-box;
      }

      /*ログインボタン*/

      #fixedbar-func_login {
        margin-top: 33px;
        float: left;
        margin-left: 10px;
      }
      #header .login_link{
        cursor: pointer;
        background: -moz-linear-gradient(top,  rgba(253,253,253,1) 0%, rgba(231,231,231,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(231,231,231,1) 100%);
        background: linear-gradient(to bottom,  rgba(253,253,253,1) 0%,rgba(231,231,231,1) 100%);
        border: solid 1px #c3c3c3;
        border-radius: 3px;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 1px #ddd;
        width: 60px;
        height: 28px;
        line-height: 28px;
        color: #726a4a;
        font-weight: bold;
        text-align: center;
		font-size: 1em;
		white-space: nowrap;
      }
      #header .login_link:hover{
        opacity: .8;
      }
	  #fixedbar-func_login.is_login .login_link {
		height: 28px;
		line-height: 14px;
		margin-top: -10px;
		padding: 10px 0;
		position: relative;
	}
	#fixedbar-func_login.is_login .login_link.open {
		border-radius: 3px 3px 0 0;
		border-bottom: 0;
	}
	#fixedbar-func_login.is_login .login_link .alert {
		background: url(/top/images/std/global/icon_menu_alert.png) no-repeat 0 0;
		display: block;
		height: 18px;
		line-height: 18px;
		overflow: hidden;
		position: absolute;
		right: -9px;
		text-indent: 100%;
		top: -9px;
		width: 18px;
	}
	#fixedbar-func_login .login_menu {
		display: none;
		position: absolute;
		right: 3px;
		z-index: 9999;
	}
	#fixedbar-func_login .login_menu.open {
		display: block;
	}
	#fixedbar-func_login .login_menu ul {
		background: #FFF;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
		padding: 1px;
		width: 180px;
	}
	#fixedbar-func_login .login_menu li {
		background: #575444 url(/top/images/std/global/bg_loginmenu_off.gif) repeat 0 0;
	}
	#fixedbar-func_login .login_menu li:hover {
		background: #918C74 url(/top/images/std/global/bg_loginmenu_on.gif) repeat 0 0;
	}
	#fixedbar-func_login .login_menu li+li {
		border-top: 1px dotted #FFF;
	}
	#fixedbar-func_login .login_menu a {
		color: #FFF;
		line-height: 1.5;
		padding: 10px;
		text-decoration: none;
	}
	#fixedbar-func_login .login_menu a:hover {
		text-decoration: underline;
	}


    /* FOOTER
    ----------------------- */
    #footer,footer {
    	background: #FFF;
    	border-bottom: 7px solid #CA0A37;
    	clear: both;
    	padding: 15px 0;
    }
    #footer-inner{
    	margin: 0 auto;
    	width: 1000px;
    }
    	#footer a:link,
    	footer a:link {
    		color: #333;
    		text-decoration: none;
    	}
    	#footer .nav,
    	footer .nav {
    		border-bottom: 1px dotted #333;
    		margin-bottom: 15px;
    		padding-bottom: 15px;
    		text-align: left;
    	}
    	#footer-info {
    		float: left;
    		white-space: nowrap;
    		word-break: keep-all;
    	}
    		#footer-info li {
    			margin-right: 1.25em;
    		}
    		#footer-info a {
    			background: url(/top/images/std/global/ico_arrow_red.gif) no-repeat 3px 50%;
    			padding-left: 15px;
    		}
    		#footer-info a:hover {
    			text-decoration: underline;
    		}
    	#footer-link {
    		float: right;
    		word-break: keep-all;
    		white-space: nowrap;
    	}
    		#footer-link li {
    			margin-left: 10px;
    		}
    		#footer-link a {
    			background: #EEE;
    			padding: 5px 10px;
    		}
    		#footer-link a:hover {
    			opacity: .8;
    		}

    #copyright {
    	font-size: 11px;
    	line-height: 20px;
    }
    	#copyright img {
    		margin-right: 5px;
    		vertical-align: bottom;
    	}


    /* NAVIGATION
    ----------------------- */
    #navcontainer {
    	background: #EEE url(/top/images/std/global/bg_navcontainer.gif) repeat-x 0 0;
    	clear: both;
    	height: 36px;
    }
    #category-list {
    }
    	#category-list dt,
    	#category-list dd {
    		float: left;
    	}
    	#category-list dt {
    		height: 36px;
    		margin-right: 20px;
    		position: relative;
    	}
    		#category-list dt img {
    			margin-top: -3px;
    		}
    	#category-list dd {
    		word-break: keep-all;
    		white-space: nowrap;
    	}
    	#category-list li {
    		line-height: 36px;
    		margin-right: 30px;
    	}
    	#category-list a {
    		background: url(/top/images/std/global/ico_arrow_red.gif) no-repeat 3px 50%;
    		color: #333;
    		padding-left: 15px;
    		text-decoration: none;
    	}
    	#category-list a:hover {
    		text-decoration: underline;
    	}
    #navcontainer li.current a {
    	color: #ca0a37;
    }

    /* PAGE BOTTOM NAVIGATION
    ----------------------- */
    #globalLinks {
    	background: #575444 url(/top/images/std/global/bg_globak_links.gif) repeat 0 0;
    	clear: both;
    	color: #FFF;
    	padding: 17px 0;
    	text-align: center;
    }
    	#globalLinks .wrap {
    		/*background: rgba(255,255,255,0.1);*/
    		background: url(/top/images/std/global/bg_global_links.png) repeat 0 0;
    		border-radius: 5px;
    		padding: 15px 0 5px;
    	}
    	#globalLinks .title {
    		border-left: 4px solid #FFF;
    		font-size: 16px;
    		margin-bottom: 17px;
    		padding-left: 11px;
    	}
    	#globalLinks a {
    		color: #FFF;
    	}
    	#globalLinks a.ico.blank {
    		background: url(/top/images/std/global/ico_blank_global.gif) no-repeat 100% 26%;;
    		padding-right: 13px;
    	}
    	#globalLinks-inner {
    		margin: 0 auto;
    		text-align: left;
    		width: 1000px;
    	}
    	#globalLinks-search {
    		margin-bottom: 10px;
    	}
    		#globalLinks-search dl {
    			padding: 0 15px;
    			margin-bottom: 10px;
    		}
    		#globalLinks-search dt,
    		#globalLinks-search dd {
    			float: left;
    		}
    		#globalLinks-search dt {
    			border-right: 1px dotted #FFF;
    			width: 7.25em;
    		}
    		#globalLinks-search dd {
    			padding-left: 1.25em;
    		}

    		#globalLinks span a {
    		margin-right: 1em;
    		}

    	#globalLinks-service {
    	}
    		#globalLinks-service ul {
    				padding: 0 15px;
    		}
    		#globalLinks-service li {
    			margin: 0 2em 10px 0;
    		}

    /* BREADCRUMBS
    ----------------------- */
    #yrHere {
    	background: #F1F1F1 url(/top/images/std/global/bg_shadow.gif) repeat-x 0 0;
    	border-bottom: 1px solid #FFF;
    	clear: both;
    	font-size: 11px;
    	padding-top: 3px;
    }
    #breadcrumbs {
    	background: url(/top/images/std/global/bg_yrhere.gif) no-repeat 100% 100%;
    	height: 14px;
    	list-style: none;
    	margin: 0 auto;
    	padding: 7px 15px;
    	text-align: left;
    	width: 970px;
    }
    	#breadcrumbs li {
    		display: inline-block;
    		vertical-align: middle;
    	}
    	html*#breadcrumbs li {
    		display: inline;
    		zoom: 1;
    	}



    #thumbView {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #333;
        padding: 12px 23px;
        position: absolute;
        text-align: center;
    	z-index: 10000;
    }
    .site-alert {
    	background: #fcf8e3;
    	border: 1px solid #faebcc;
    	margin: 15px auto 0;
    	padding: 1em 15px;
    	text-align: left;
    	width: 970px;
    }
    	.site-alert p { line-height: 1.6; }
    	.site-alert .atention {
    		color: #8a6d3b;
    		font-weight: bold;
    	}
    	.site-alert .about {
    		display:none;
    	}



      /* ----------------------------------------
       * mx layout common
      ---------------------------------------- */
      .col-5 .item {
      	width: 125px;
      	margin-right: 18px;
      }

      /* image replacement */
      .ir-bt_search_time{/*background-image:url(/top/images/std/top/bt_search_time.gif); */height:50px; width:274px;}
      .ir-bt_search_school{/*background-image:url(/top/images/std/top/bt_search_school.gif); */height:50px; width:228px;}
      .ir-bt_search_price{/*background-image:url(/top/images/std/top/bt_search_price.gif); */height:50px; width:198px;}
      .ir-stit_search_keyword{/*background-image:url(/top/images/std/top/stit_search_keyword.gif); */height:36px; width:154px;}

      .ir-bt_search_sub_area{/*background-image:url(/top/images/std/top/bt_search_sub_area.gif); */height:69px; width:330px;}
      .ir-bt_search_sub_station{/*background-image:url(/top/images/std/top/bt_search_sub_station.gif); */height:69px; width:330px;}
      .ir-bt_search_sub_map{/*background-image:url(/top/images/std/top/bt_search_sub_map.gif); */height:69px; width:330px;}
      .ir-bt_search_sub_route{/*background-image:url(/top/images/std/top/bt_search_sub_route.gif); */height:69px; width:330px;}

      .ir-tit_search_area { background-image: url(/top/images/std/top/bg_tit_search_area.png); width: 363px; text-indent: 25px; }
      .ir-tit_search_way { background-image: url(/top/images/std/top/bg_tit_search_way.png); width: 255px; text-align: center; }
      .ir-tit_search_area,
      .ir-tit_search_way { color: #CA0A37; font-size: 18px; height: 41px; line-height: 41px;  }



      /* slider */
      .bukken-slider {
      	position: relative;
      }
      .bukken-slider > div.horizontal{
      	margin-right:-19px;
      }
      .bukken-slider .bx-viewport { margin-left: 0; }
      	.bukken-slider .horizontal {
      		padding: 0 0 5px 7px;
      	}
      	.bukken-slider .item {
      		float: left;
      		height: 20.8em;
      		overflow:hidden;
      	}
      		.bukken-slider .item .title {
      			color: #CA0A37;
      			font-size: 11px;
      			font-weight: bold;
      			margin-bottom: 3px;
      		}
      		.bukken-slider .item .desc {
      			/*font-size: .917em;*/
      		}
      		.bukken-slider .item a {
      			line-height: 1.5;
      			text-decoration: none;
      		}
      .slidePrev,
      .slideNext {
      	background: #333;
      	color: #FFF;
      	display: block;
      	height: 38px;
      	cursor: pointer;
      	position: absolute;
      	top: 60px;
      	width: 30px;
      	display:none;
      }
      .slidePrev {
      	left: -15px;
      }
      .slideNext {
      	right: -15px;
      }
      .slidePrev:hover,
      .slideNext:hover {
      opacity:0.8;
      filter:alpha(opacity=80);
      -ms-filter: "alpha( opacity=80 )";
      }
      .item .thumb {
      	margin-bottom: .75em;
      }
      .linerBox .inner .col-3 > .item.wide,
      .linerBox .inner .col-3 > .col {
      	float: left;
      	width: 230px;
      }
      	.linerBox .inner .col-3 > .item.wide+.item.wide,
      	.linerBox .inner .col-3 > .col+.col {
      		margin-left: 10px;
      	}


      .rounderBox {
      	background: #FFF;
      	border: 2px solid #E88CA2;
      	border-radius: 5px;
      	padding: 10px 10px;
      	behavior: url( "/css/std/lib_css/PIE.htc" );
      	position: relative;
      }
      /* ----------------------------------------
       * sidebar
      ---------------------------------------- */
      .sideBox {
      	margin-bottom: 15px;
      }
      	.sideBox .banners img,
      	.sideBox .inner img { vertical-align: top; }
      #side-banner_01 {}
      #side-banner_01 .sideSlider { height: 164px;  overflow: hidden; }
      #side-banner_01 .bx-wrapper .bx-viewport { margin-left: 0;}
      #side-banner_01 .bx-wrapper .bx-pager {
      	background: #FFF;
      	border: 1px solid #CCC;
      	border-top: none;
      	padding: 6px 0 0px;
      	text-align: center;
      }
      #side-banner_01 .bx-wrapper .bx-pager .bx-pager-item {
      	display: inline-block;
      	*zoom: 1;
      	*display: inline;
      }
      #side-banner_01 .bx-wrapper .bx-pager.bx-default-pager a {
      	background: #D2D0C6;
      	display: block;
      	text-indent: -9999px;
      	width: 6px;
      	height: 6px;
      	margin: 0  2px 0 3px;
      	outline: 0;
      	-moz-border-radius: 5px;
      	-webkit-border-radius: 5px;
      	border-radius: 5px;
      	behavior: url( "/css/std/lib_css/PIE.htc" );
      	position: relative;
      }
      #side-banner_01 .bx-wrapper .bx-pager.bx-default-pager a:hover,
      #side-banner_01 .bx-wrapper .bx-pager.bx-default-pager a.active {
      	background: #D20034;
      }
     #side-banner_01 #youtube{
      	border-top:1px solid #eaeae8; 
      	border-left:1px solid #eaeae8;
      	border-right:1px solid #eaeae8;
		height:123px;
      }
     .bnr_frame{
      	border:1px solid #eaeaea;
      }

      /* side-first */
      #side-first {
      }
      /* side-banner_pr */
      #side-banner_pr .inner  {
      	background: #E1E1E1;
      	border: 1px solid #FFF;
      	margin-top: 6px;
      	padding: 9px 0;
      	text-align: center;
      }
      	#side-banner_pr p+p { margin-top: 8px; }
      	#side-banner_pr .dfp { height:166px; overflow:hidden; }
      	#side-banner_pr .dfp+.dfp { margin-top:-10px; }
      /* side-athomeVox */
      #side-athomeVox {
      	background: #FFF;
      	border: 1px solid #EAEAEA;
      	border-top: 3px solid #CA0A37;
      	padding: 10px 6px 15px;
      	margin-bottom: 10px;
      }
      	#side-athomeVox .heading { border-bottom: 1px dotted #CCC; color: #CA0A37;  font-size: 1.167em; line-height: 1.35; margin: 0 -6px; padding: 0 12px 10px; }
      	#side-athomeVox .title { margin: .75em 0 .5em; }
      	#side-athomeVox p+p { margin-top: 5px; }

      /* side-library */
      #athome-library.sideBox {
      	background: #FFF;
      	border: 1px solid #EAEAEA;
      	border-top: 3px solid #CA0A37;
      	margin: 0 0 10px;
      	padding: 10px 6px;
      	outline: none;
      }
      	#athome-library.sideBox .heading { color: #CA0A37;  font-size: 1.167em; margin: 0 0 10px; }
      	#athome-library.sideBox .title,
      	#athome-library.sideBox .desc { float: none; padding: 0; }
      	#athome-library.sideBox .title { margin: .75em 0 .5em; }
      	#athome-library.sideBox .desc { line-height: 1.35; }

      /* side-banner_relation */
      #side-banner_relation {
      	background: #FFF;
      	padding: 7px 0;
      	text-align: center;
      }
      	#side-banner_relation .heading { background: #CA0A37; border-radius: 3px; color: #FFF; font-weight: 300; margin: 0 auto; padding: 5px 8px; text-align: left; width: 190px; }
      	#side-banner_relation p { margin-top: 7px; }

      /* mobile smp info */
      #side-mobile {
      	background: #FFF;
      	border: 1px solid #EAEAEA;
      	border-top: 3px solid #CA0A37;
      	margin-top: 15px;
      	padding: 0 0 5px;
      }
      	#side-mobile .read {
      		color: #CA0A37;
      		font-size: 1.167em;
      		font-weight: bold;
      		line-height: 1.35;
      		padding: 8px 10px;
      	}
      	#side-mobile ul {
      		border-top: 1px dotted #CCC;
      		padding: 8px 10px 0;
      	}
      	#side-mobile li {
      		padding: 10px 0;
      	}
      	#side-mobile li+li {
      		border-top: 1px dotted #DDD;
      	}
      		#side-mobile .withThumb .title,
      		#side-mobile .withThumb .desc {
      			padding-left: 77px;
      		}
      		#side-mobile .withThumb .desc {
      			font-size: .917em;
      		}
      	#side-mobile a {
      		color: #333;
      	}



      /* ----------------------------------------
       * main body style (top page only)
      ---------------------------------------- */
      /* search all pref */
      #search-area {
      	margin-bottom: 10px;
      	position: relative;
      }
      	#search-area > .inner {
      		background: #FFF url(/top/images/std/common/bg_gradient.jpg) repeat-x 0 0;
      		border: 1px solid #CCC;
      		border-top: none;
      		padding: 14px 14px 14px;
      	}
      #search-area_count {
      }
      	#search-area .read {
      		margin: 0 1px 12px;
      		/*min-height: 53px;*/
      		padding: 0 12px 10px 6px;
      	}
      	#search-area .readNonMin {
      		margin: 0 1px 5px;
      		padding: 12px 12px 12px 6px;
      	}
      #search-area_map {
      	background: url(/top/images/std/top/img_area_map.gif) no-repeat -2px -2px;
      	height: 445px;
      	margin: 12px 0 10px;
      	padding: 0;
      	position: relative;
      }
      	.read + #search-area_map {
      		margin-top: 24px;
      	}
      	#search-area_title {
      		margin: -13px 0 0 -27px;
      	}
      	#search-area_map #prefSelectBox ul {
      		background: #E4BFC7;
      		border-radius: 3px;
      		padding: 4px 0 0 4px;
      		behavior: url( "/css/std/lib_css/PIE.htc" );
      		position: relative;
      		position: absolute;
      		width: 128px;
      	}
      	#search-area_map  #prefSelectBox li {
      		display: block;
      		height: 27px;
      		width: 60px;
      		margin: 0 4px 4px 0;
      	}
      	#search-area_map #prefSelectBox a {
      		background: rgb(255,255,255);
      		background: -webkit-linear-gradient( rgba(255,255,255,1) 45%, rgba(246,246,237,1) 100% );
      		background: linear-gradient( rgba(255,255,255,1) 45%, rgba(246,246,237,1) 100%  );
      		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6ed',GradientType=0 );
      		border-radius: 3px;
      		-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.3);
      		box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.3);
      		display: block;
      		height: 27px;
      		line-height: 27px;
      		text-align: center;
      		text-decoration: none;
      		width: 100%;
      		font-size:13px;
      		color: #000;
      		behavior: url( "/css/std/lib_css/PIE.htc" );
      		position: relative;
      	}
      	#search-area_map #prefSelectBox a.already,
      	#search-area_map #prefSelectBox a:hover {
      		background: rgb(255,255,255);
      		/*
      		background: -webkit-linear-gradient( rgba(255,255,255,1) 0%, rgba(238,239,208,1) 100% );
      		background: linear-gradient( rgba(255,255,255,1) 0%, rgba(238,239,208,1) 100%  );
      		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#EEEFD0',GradientType=0 );
      		*/
      		background: -webkit-linear-gradient( rgba(255,255,255,1) 0%, rgba(206,206,169,1) 100% );
      		background: linear-gradient( rgba(255,255,255,1) 0%, rgba(225,225,169,1) 100%  );
      		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#CED075',GradientType=0 );
      	}
      	#search-area_map #prefSelectBox .null {
      		background: #EBD1D6;
      	}
      #area-hokkaido,
      #area-okinawa { width: 64px !important; }

      #area-hokkaido { right: 14px; top: 33px; }
      #area-tohoku { right: 14px; top: 155px; }
      #area-kanto { right: 14px; top: 296px; }
      #area-hokuriku { left: 322px; top: 74px; }
      #area-chubu { left: 414px; top: 359px; }
      #area-kinki { left: 176px; top: 116px; }
      #area-chugoku { left: 14px; top: 169px; }
      #area-shikoku { left: 216px; top: 359px; }
      #area-kyusyu { left: 14px; top: 296px; }
      #area-okinawa { left: 15px; top: 54px; }
      /**/
      #search-btn,
      #search-saved {
      	margin-bottom: 10px;
      }
      /**/

      /* search modal styles */
      #search-area-modal {
      	background:url(/top/images/std/top/search-area-modal_bg.png) no-repeat 0 0;
      	position:absolute;
      	bottom:-2px;
      	right:-2px;
      	width:745px;
      	height:460px;
      	display:none;
      }
      #search-type-selectBox{
      	width:602px;
      	position:absolute;
      	top:120px;
      	left:85px;
      	box-sizing:border-box;
      	padding:10px 13px;
      	display:none;
      	border-color: #CA0A37;
      }
      #search-area-modal_title {
      	margin:-17px 0 0 -30px;
      }
      #search-type-selectBox .prefTitle{
      	position:absolute;
      	top:6px;
      	left:255px;
      	color:#CA0A37;
      	font-size:15px;
      	font-weight:bold;
      	margin: 5px 0;
      }
      #search-type-selectBox .prefTitle .prefName{
      	font-size:20px;
      }
      #search-type-selectBox .search-area-modal-close{
      	position:absolute;
      	right:-2px;
      	top:-2px;
      }
      #search-type-selectBox ul{
      	margin:10px 0  0 0;
      }
      #search-type-selectBox ul li.search-modalBtn{
      	margin-bottom:8px;
      }
      .icoArrow span.prefName{
      	background:none;
      	padding-left:0;
      }
      #search-type-area-btn a,
      #search-type-station-btn a,
      #search-type-map-btn a,
      #search-type-line-btn a {
      	width:280px;
      	height:60px;
      	display:block;
      	overflow:hidden;
      	background:url(/top/images/std/top/search-area-modal_btn-sprite.gif) no-repeat 0 0;
      	text-indent:-9999px;
      }
      #search-type-station-btn,#search-type-line-btn{
      	float:right;
      }
      #search-type-area-btn a{
      	background-position:0 0;
      }
      #search-type-station-btn a{
      	background-position:0 -60px;
      }
      #search-type-map-btn a{
      	background-position:0 -120px;
      	height:50px;
      }
      #search-type-line-btn a{
      	background-position:0 -170px;
      	height:50px;
      }
      #search-type-area-btn a:hover{
      	background-position:0 0;
      }
      #search-type-station-btn a:hover{
      	background-position:0 -60px;
      }
      #search-type-map-btn a:hover{
      	background-position:0 -120px;
      	height:50px;
      }
      #search-type-line-btn a:hover{
      	background-position:0 -170px;
      	height:50px;
      }

      /**/
      #search-linkBox .lv3{
      	font-size: 1.2em;
      	padding:8px 8px;
      }
      #search-linkBox .prefList{
      	padding:0 8px;
      	margin-bottom:10px;
      }
      #search-linkBox .prefList dt{
      	font-weight:bold;
      	float:left;
      	width:26%;
      	clear:left;
      	border-top:1px solid #eee;
      	padding-top:5px;
      }
      #search-linkBox .prefList dd{
      	float:left;
      	width:73%;
      	border-top:1px solid #eee;
      	padding-top:5px;
      }
      #search-linkBox .prefList dd li{
      	display:inline-block;
      	margin-right:10px;
      	margin-bottom:5px;
      }
      #search-linkBox .search-linkBox-item{
      	width:50%;
      	float:left;
      }

      /**/
      #search-btn li img {
      	vertical-align: top;
      }
      #search-btn li+li {
      	margin-left: 8px;
      }
      /* saved item */
      #search-saved {
      	position: relative;
      }
      	#search-saved_title {
      		cursor: pointer;
      		/*color: #FFF;
      		font-weight: bold;
      		line-height: 0.1;
      		position: relative;*/
      	}
      	#search-saved_title .openerArrow {
      		display: block;
      		height: 23px;
      		margin-top: -12px;
      		position: absolute;
      		right: 20px;
      		top: 50%;
      		width: 23px;
      		transition: transform 0.5s;
      		-moz-transition: transform 0.5s;
      		-webkit-transition: transform 0.5s;
      		-o-transition: transform 0.5s;
        	}
      	#search-saved_title.open .openerArrow {
      		-moz-transform: rotateZ(180deg);
      		-webkit-transform: rotateZ(180deg);
      		-o-transform: rotateZ(180deg);
      		-ms-transform: rotateZ(180deg);
      	}
      	#search-saved_title p {
      		display: inline-block;
      		vertical-align: middle;
      		z-index: inherit;
      	}
      	#search-saved_info {
      		font-size: 15px;
      /*		left: 130px;*/
      		position: absolute;
      		top: 5px;
      		z-index: 10;
      	}
      		#search-saved .counter {
      			background: #FFF;
      			border-radius: 20px;
      			color: #F00;
      			display: inline-block;
      			font-size: 11px;
      			font-weight: bold;
      			line-height: 33px;
      			margin-right: 10px;
      			margin-left: 40px;
      			padding: 0 25px;
      			height:31px;
      		}
      			#search-saved .counter .num {
      				font-size: 19px;
      			}
      	#search-saved .search-saved-list{
      		padding:10px 20px;
      		/*display:none;*/
      	}
      	#search-saved .search-saved-list li{
      		box-sizing:border-box;
      		margin-bottom:5px;
      		/*
      		width:50%;
      		float:left;
      		*/
      	}
      	#search-saved .search-saved-list li a{
      		background-position:0 50%;
      	}
      	#search-saved .search-saved-list li.search-saved-more{
      		clear:both;
      		margin-bottom:0;
      	}
      	#search-saved .search-saved-list li.search-saved-more a{
      		font-weight:bold;
      		background:none;
      		color:#4B4637;
      		text-decoration:none;
      	}
      	#search-saved .search-saved-list li.search-saved-more a:hover{
      		text-decoration:underline;
      	}

      /**/
      #search-form {
      	position: relative;
      }
      	#search-form .heading {
      		float: left;
      		width: 136px;
      	}
      	#search-form form {
      		float: right;
      		width: 547px;
      	}
      	#search-form input {
      	}
      .buttonRadio {
      	float: left;
      	position: relative;
      }
      .radioLabel {
      	background: rgb(255,255,255);
      	background: -webkit-linear-gradient( rgba(255,255,255,1) 20%, rgba(234,234,234,1) 100% );
      	background: linear-gradient( rgba(255,255,255,1) 20%, rgba(234,234,234,1) 100%  );
      	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
      	border: 1px solid #CCC;
      	color: #664C00;
      	display: block;
      	font-weight: bold;
      	margin-top: .5em;
      	position: relative;
      	white-space: nowrap;
      	word-break: keep-all;
      }
      	#search-form_station+label { border-radius: 3px 0 0 3px; }
      	#search-form_city+label { border-radius: 0 3px 3px 0; border-left: none; }
      	#search-form input.hide {
      		filter: alpha(opacity=0);
      		opacity: 0;
      	}
      	#search-form .radioLabel {
      		cursor: pointer;
      		line-height: 1;
      		padding: 5px 15px;
      		text-align: center;
      	}
      #search-form input[type="radio"]:checked+.radioLabel {
      	background: rgb(255,255,255);
      	background: -webkit-linear-gradient( rgba(255,255,255,1) 0%, rgba(206,206,169,1) 100% );
      	background: linear-gradient( rgba(255,255,255,1) 0%, rgba(225,225,169,1) 100%  );
      	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#CED075',GradientType=0 );
      }
      .checked .radioLabel {
      	background: rgb(255,255,255);
      	background: -webkit-linear-gradient( rgba(255,255,255,1) 0%, rgba(206,206,169,1) 100% );
      	background: linear-gradient( rgba(255,255,255,1) 0%, rgba(225,225,169,1) 100%  );
      	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#CED075',GradientType=0 );
      }
      #search-form_label {
      	color: #CCC;
      	display: block;
      	font-size: 14px;
      	left: 0;
      	line-height: 35px;
      	padding-left: 10px;
      	position: absolute;
      	top: 0;
      	z-index: 10;
      }
      #search-form_keyword,
      #search-form_submit {
      	border: 1px solid #BCBCBC;
      	display: block;
      	float: left;
      	font-size: 14px;
      	height: 35px;
      	margin: 0;
      	line-height: 35px;
      	position: relative;
      	/*top: 0;*/
      }
      #search-form_keyword {
      	border-radius: 3px;
      	padding: 0 10px;
      	width: 357px;
      }
      #search-form_keyword.hasSuggest {
      	background: url(/top/images/std/top/bg_search_form_keyword.png) no-repeat 100% 50%;
      }
      #search-form_submit {
      	background: rgb(234,234,234);
      	background: -webkit-linear-gradient( rgba(255,255,255,1) 20%, rgba(234,234,234,1) 100% );
      	background: linear-gradient( rgba(255,255,255,1) 20%, rgba(234,234,234,1) 100%  );
      	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
      	border-radius: 0 3px 3px 0;
      	-webkit-box-sizing: content-box;
      	-moz-box-sizing: content-box;
      	box-sizing: content-box;
      	color: #CA0A37;
      	cursor: pointer;
      	display: block;
      	font-weight: bold;
      	padding: 0;
      	width: 65px;
      }
      #search-form .posSet {
      	display: block;
      	float: right;
      	position: relative;
      	width: 385px;
      }
      	#search-form_keyword:focus { border-color: #3E82F7; }
      	#search-form_submit:focus,
      	#search-form_submit:hover { border-color: #FA3C4B; }
      #search-form_suggest {
      	line-height: 1;
      	padding-top: 36px;
      	position: relative;
      }
      	#search-form_suggest .suggest-list {
      		background: #FFF;
      		border: 1px solid #CCC;
      		position: absolute;
      		/*width: 343px;*/
      		width: 375px;
      		z-index: 100;
      	}/*
      	#keywordSuggestInner{
      		line-height:1;
      		position:relative;
      	}*/
      		#search-form_suggest .suggest-list li {
      			background: url(/top/images/std/top/ico_list_suggest.png) no-repeat 97% 50%;
      			cursor: pointer;
      			padding: 8px 10px;
      		}
      		#keywordSuggestInner div {
      			background: url(/top/images/std/top/ico_list_suggest.png) no-repeat 97% 50%;
      			cursor: pointer;
      			padding: 8px 10px;
      		}
      		#search-form_suggest .suggest-list li:hover {
      			background-color: #EED0D6;
      		}
      		#keywordSuggestInner div:hover {
      			background-color: #EED0D6;
      		}

      input:focus {
        outline: none;
      }
          input[type=submit]::-moz-focus-inner {
              border: 0;
              padding: 0;
          }
      /*  feature */
      #feature-contents {}
      #feature-contents_head, .feature-contents_head {
      	margin-bottom: 10px;
      	position: relative;
      }
      #feature-contents_head .heading,
      #feature-contents_head .catch,
      .feature-contents_head .heading,
      .feature-contents_head .catch {
      	display: inline-block;
      	padding: 15px 0 5px;
      	vertical-align: middle;
      }
      #feature-contents_head .catch,
      .feature-contents_head .catch {
      	font-size: 1.250em;
      	font-weight: bold;
      }
      #feature-contents_head .more,
      .feature-contents_head .more {
      	color: #CA0A37;
      	font-weight: bold;
      	margin-top: -.75em;
      	position: absolute;
      	right: 20px;
      	text-decoration: none;
      	top: 50%;
      }
      	#feature-contents .inner {
      		padding-bottom: 45px;
      	}
      	/* common */
      	#feature-contents .title { /*font-size: 1.167em;*/ margin:0 0 .4em 0; padding-left:10px; height:1.5em; overflow:hidden; }
      	#feature-contents .desc { /*font-size: .917em;*/ padding-left:10px; height:4.05em; overflow:hidden;  }
      /* theme */
      #feature-contents_theme {
      	background: #E5E8C8;
      	margin: -10px -17px 17px;
      	padding: 10px 15px 10px 15px;
      }
      	#feature-contents_theme .col {
      		width: 355px;
      		border-radius:4px;
      		border:1px #CED29D solid;
      		background:#fff;
      		box-sizing:border-box;
      		padding:8px 8px 0;
      	}
      	.feature-contents.theme-item .title,
      	.feature-contents.theme-item .desc {
      		padding-left: 80px;
      	}
      	.feature-contents_theme-list{
      		border-radius:4px;
      		border:1px #CED29D solid;
      		background:#fff;
      		box-sizing:border-box;
      		padding:4px 10px;
      	}
      /* special */
      #feature-contents_special .col,
      #feature-contents .col-2 .col{
      	margin-bottom: 20px;
      }
      #feature-contents .col-2 .col {
      	width: 350px;
      }
      	#feature-contents .col-2 .col li {
      		margin-right: 0;
      		width: 160px;
      	}
      	#feature-contents .col-2 .col li+li {
      		margin-left: 20px;
      	}
      	#feature-contents .col-2 .col .icoArrow a {
      		background-position: 0 .5em;
      		display: inline-block;
      	}
      #feature-contents #feature-contents_theme .col-2 .col{
      	margin-bottom:8px;
      }
      .feature-contents.special-item {
      	display: block;
      	margin-bottom: .25em;
      	width: 350px;
      }
      	.feature-contents.special-item dt {
      		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
      		/*
      		background: #ADA995;
      		color: #FFF;
      		*/
      		color:#CA0A37;
      		font-weight:bold;
      		border-bottom: 1px dotted #ccc;
      		font-size: 1.167em;
      		/*
      		border-radius: 3px;
      		*/
      		margin-bottom: 10px;
      		padding: .25em .0em;
      		behavior: url( "/css/std/lib_css/PIE.htc" );
      		position: relative;
      	}
      		.feature-contents.special-item .title,
      		.feature-contents.special-item .desc {
      			padding-left: 80px;
      		}
      #feature-contents_banner {
      	background: #EFEEEA;
      	border-radius: 5px;
      	margin: 0 -6px;
      	padding: 10px;
      }
      	#feature-contents_banner li+li {
      		margin-left: 10px;
      	}
      #feature-contents_more {
      	background: #EFEEEA;
      	bottom: 1px;
      	border-radius: 3px 3px 0 0;
      	left: 50%;
      	margin-left: -5em;
      	padding: 5px 12px;
      	position: absolute;
      }
      	#feature-contents_more a {
      		color: #4B4637;
      	}

      /**/
      #useful-info {
      }
      	#useful-info .horizontal {
      	}
      	#useful-info .horizontal+.horizontal {
      		border-top: 1px dotted #DDD;
      		margin-top: 15px;
      		padding-top: 15px;
      	}
      	#useful-info .item.wide {
      	}
      	#useful-info .item.wide+.item.wide {
      		margin-left: 10px;
      	}
      	#useful-info .title { /*font-size: .917em;*/ margin-bottom: .25em; }
      	#useful-info .desc { font-size: .917em; }

      /* user-area */
      #user-area {
      	background: #F1EFE6;
      	border: 1px solid #D4CFB4;
      	border-radius: 0 0 5px 5px;
      	margin-bottom: 20px;
      	padding: 14px 14px 1px;
      }
      	#user-area .lv2 { background: #888577; }
      	#user-area p.more {
      		right: 12px;
      		top: 10px;
      		z-index: inherit;
      	}
      	#user-area .box { border-radius: 0 0 5px 5px; margin-bottom: 13px; }
      	#user-area .box .inner { border: none; }
      	#user-area .slidePrev { left: -22px; }
      	#user-area .slideNext { right: -22px; }
      	#user-area .col-5 .item { margin-right: 15px; height:18.5em; }
      	#user-area .bukken-slider.inSlider { padding: 15px 0 10px; }
      	#user-area .bukken-slider .horizontal { padding-left: 0; }
      /* 02-pref-top */
      #search-subArea {
      	background: #F8F7F4;
      	border-radius: 5px;
      	margin: 25px 0 10px;
      	padding: 10px 12px 8px 25px;
      }
      	.read + #search-subArea { margin-top: 35px; }
      	#search-title_sub {
      		margin: -35px 0 0 -47px;
      	}
      	#search-subArea_buttons { padding-top: 5px; }
      	#search-subArea_buttons li { margin: 0 10px 10px 0; }
      	#search-subArea_buttons img { vertical-align: top; }



      /* parts.css overwrite */
      #popular-wrap div { width: 240px; }
      #popular-wrap div+div { margin-left: 15px; }

      /* serch type list */
      .search-type-list{
      	margin:0 -14px 10px;
      	padding:0 14px 10px;
      	/*border-bottom:1px dotted #ccc;*/
      	text-align:right;
      }
      .search-type-list li{
      	margin-left:15px;
      	min-height:20px;
      	padding-left:25px;
      	background:url(/top/images/std/search/ico_s_list.png) 0 50% no-repeat;
      }
      .search-type-list li.allList{
      	background-image:url(/top/images/std/search/ico_s_list.png);
      }
      .search-type-list li.mapList{
      	background-image:url(/top/images/std/search/ico_s_map.png);
      }
      #search-subArea .search-type-list{
      	margin:0;
      	padding:0;
      	border-bottom:none;
      	text-align:right;
      	position:absolute;
      	right:5px;
      	top:-20px;
      }

      /**/
      ul.separater li { border-right: 1px solid #CCC; margin: .25em .5% .25em 0;/* padding-right: .25em;*/ }
      	ul.separater.col-6 li:nth-child(6n) { border-right: none; } /* IE8 not work */
      	ul.separater.col-5 li:nth-child(5n) { border-right: none; } /* IE8 not work */
      	ul.separater.col-4 li:nth-child(4n) { border-right: none; } /* IE8 not work */


      /* one column overwite */
      .oneColumn .linerBox .inner .col-3 > .item.wide,
      .oneColumn .linerBox .inner .col-3 > .col { width: 300px; }
      .oneColumn #feature-contents_theme .col { width: 460px; }
      .oneColumn #popular-wrap div { width: 310px; }
      .oneColumn #feature-contents .col-2 .col,
      .oneColumn .feature-contents.special-item { width: 450px; }
      	.oneColumn #feature-contents .col-2 .col li { width: 210px; }
      .oneColumn #feature-contents_banner { margin-right: auto; margin-left: auto; width: 702px; }
      .oneColumn .col-5 .item { margin-right: 24px/*28px*/; }
      .oneColumn .bukken-slider > div.horizontal{
      	margin-right:-19px;
      	margin-left:22px;
      }
      /*.oneColumn .bukken-slider .bx-viewport { margin-left: 15px; }*/
      .oneColumn .bukken-slider .horizontal { padding-left: 0; }
      .oneColumn .bukken-slider.inSlider { padding: 15px 0 10px; }

      /**/





      body {
      	background: #FFF;
      	padding-top: 0;
      }
      #header {
      	border-bottom: none;
      	background: url(/top/images/std/portal/bg_line_header.gif) repeat-x 0 100%;
      	padding-bottom: 7px;
      }
      #header .header-data {
        margin-top: 38px;
        margin-left: 59px;
        float: left;
        width: 390px;
        white-space: nowrap;
    	}
      #header .header-data p {
        padding-left: 22px;
        line-height: 14px;
        vertical-align: bottom;
      }
      #header .header-data_count {
        background: url(/top/images/std/portal/ico_hd_count.gif) no-repeat;
        height: 14px
      }
      #header .header-data_shop {
      	background: url(/top/images/std/portal/ico_hd_shop.gif) no-repeat 0 50%;
        margin-top: 8px;
        height: 14px;
      }
      #header .header-data .num {
      	font-size: 1.333em;
      	margin-right: .25em;
      }
      #header .header-data .fcRed {
      	margin: 0 .25em;
      }
      #header .header-data .date {
      	margin-left: .5em;
      }
      #header .header-first {
        margin-top: 11px;
        margin-left: 59px;
        width: 74px;
        height: 75px;
        float: left;
      }

      #site-notice {
      	background-color: #FFF8DF;
      }
      /* common */
      		.link-lv1 a {
      			background: url(/top/images/std/portal/link_arrow01.png) no-repeat 0 50%;
      			padding: 5px 0 5px 19px;
      		}
      		 .link-lv2 a {
      			background: url(/top/images/std/portal/link_arrow02.png) no-repeat 0 50%;
      			padding-left: 10px;
      		}

      /* main index */
      #main-index {
      	background: #C03;
      	margin-bottom: 20px;
      	padding: 15px 15px 0 15px;
      	position: relative;
      }
      	#main-index .top {
      		background: url(/top/images/std/portal/bg_main_index_t.gif) no-repeat 0 0;
      		padding-top: 6px;
      	}
      	#main-index .bottom {
      		background: #FFF url(/top/images/std/portal/bg_main_index_b.gif) no-repeat 0 100%;
      		padding-bottom: 15px;
      	}
      	#main-index .upper {
      		padding: 0 20px;
      		width: 315px;
      	}
      	#main-index .main-index_rent {
      		float: left;
      	}
      	#main-index .main-index_buy {
      		float: right;
      	}
      	#main-index .upper .heading {
      		display: block;
      		margin-top: -12px;
      		margin-bottom: 20px;
      		position: relative;
      	}
      	#main-index ul li a {
      		background-position: 0 50%;
      		background-repeat: no-repeat;
      	}
      		#main-index .link-lv1 li {
      			margin-bottom: .5em;
      		}
      			#main-index .link-lv1 li > ul{
      				margin-top: .25em;
      			}
      		#main-index .link-lv1 a {
      			font-weight: bold;
      		}
      		#main-index .link-lv2 li {
      			margin: 0 .5em .5em 5px;
      		}
      			#main-index .link-lv1 .link-lv2 li{
      				margin: 0 .5em .1em 5px;
      			}
      			#main-index .link-lv1 .link-lv2 a{
      				font-weight:normal;
      			}
      		#main-index .link-blank {
      		}
      		#main-index .link-lv2 li.link-blank {
      			margin: .5em .5em .5em 5px;
      		}
      		#main-index .link-blank a {
      			background-image: url(/top/images/std/portal/link_window.png);
      			padding-left: 15px;
      		}
      		.typeInline.col-3 li {
      			margin-right: 1%;
      			width: 30%;
      		}
      		.typeInline.col-2 li.col-skip {
      			margin-right: 1%;
      			width: 98%;
      		}
      .main-index_btn {
      	padding: 15px 0;
      }
      	.main-index_btn div {
      		background: #DDD;
      		background-repeat: no-repeat;
      		background-position: 0 0;
      		display: block;
      		float: left;
      		height: 75px;
      		position: relative;
      		width: 230px;
      	}
      	.main-index_btn .heading {
      		height: 40px;
      	}
      	.main-index_btn .main-index_assess {
      		background-image: url(/top/images/std/portal/bg_main_index_assess.gif);
      	}
      		.main-index_assess ul {
      			margin-left: 75px;
      		}
      	.main-index_btn .main-index_estate {
      		background-image: url(/top/images/std/portal/bg_main_index_estate.gif);
      		margin-left: 15px;
      	}
      		.main-index_estate ul {
      			margin-left: 80px;
      		}
      	.main-index_btn .main-index_hikkoshi {
      		background-image: url(/top/images/std/portal/bg_main_index_hikkoshi.gif);
      		margin-left: 15px;
      	}
      		.main-index_hikkoshi ul {
      			margin-left: 85px;
      		}

      /* information */
      #main-information {
      	margin-bottom: 15px;
      }
      	#main-information  dl {
      	}
      	#main-information dt {
      		float: left;
      		font-size: 1.167em;
      		font-weight: bold;
      		width: 6em;
      		white-space: nowrap;
      	}
      	#main-information dd {
      		padding-left: 7.5em;
      	}
      	#main-information li {
      		margin-bottom: .5em;
      	}

      /* pick up */
      #pickup-area {
      	margin-bottom: 30px;
      	position: relative;
      }
      	#pickup-area .heading {
      		height: 40px;
      		width: 750px;
      		overflow: hidden;
      	}
      	#pickup-area .heading_tpc {
      		height: 40px;
      		width: 370px;
      		overflow: hidden;
      	}
      	#pickup-area .more a {
      		background: url(/top/images/std/portal/link_arrow02.png) no-repeat 0 50%;
      		padding-left: 10px;
      	}
      .pickup-area_box  {
      	background-position: 0 35px;
      	background-repeat: no-repeat;
      	display: block;
      	height: 219px;
      	line-height: 1.4;
      	width: 368px;
      }
      .pickup-area_rent {
      	background-image: url(/top/images/std/portal/bg_pickupAreaRent.jpg);
      }
      .pickup-area_buy {
      	background-image: url(/top/images/std/portal/bg_pickupAreaInspection.jpg);
      }
      .pickup-area_shop {
      	background-image: url(/top/images/std/portal/bg_pickupAreaShoprent.jpg);
      }
      .pickup-area_new {
      	background-image: url(/top/images/std/portal/bg_pickupAreaNewlybuilt.png);
      }
      .pickup-area_tochi {
      	background-image: url(/top/images/std/portal/bg_pickup_area_tochi.jpg);
      }
      .pickup-area_toushi {
      	background-image: url(/top/images/std/portal/bg_pickup_area_toushi.jpg);
      }
      	.pickup-area_box .heading img { vertical-align: top; }
      	.pickup-area_box .item {
      		height: 75px;
      		padding: 14px 0 0 15px;
      		width: 248px;
      	}
      		.pickup-area_box .item .title {
      			background: url(/top/images/std/portal/link_arrow01.png) no-repeat 0 0;
      			font-weight: bold;
      			margin-bottom: .25em;
      			padding-left: 20px;
      		}
      		.pickup-area_box .item .desc {
      			font-size: 0.917em;
      			padding-right: 10px;
      			padding-left: 20px;
      		}
      .pickup-area_box ul {
      	display: block;
      	padding: 10px 0 0 20px;
      	position: relative;
      }
      	.pickup-area_box li {
      		margin-bottom: 8px;
      	}
      	.pickup-area_box li span {
      		font-size: 0.917em;
      	}

      #feature-contents_banner {
      	margin: 0 0 20px;
      	padding: 17px;
      }
      	#feature-contents_banner li+li {
      		margin-left: 17px;
      	}
      .contents-link {
      }
      	.contents-link .item {
      		border: 2px solid #E6E6E6;
      		outline: none;
      		padding: 10px;
      		width: 346px;
      	}
      		.contents-link .item .title,
      		.contents-link .item .desc { padding-left: 150px; }
      		.contents-link .item .desc {}

      	.contents-link .item_w750 {
      		border: 2px solid #e6e6e6;
      		outline: medium none;
      		padding: 11px 13px;
      	}
      	.contents-link .item_w750 .title, .contents-link .item_w750 .desc {
      		display: block;
      		padding-left: 155px;
      	}
      	.contents-link .item_w750 .title{
      		font-size: 1.167em;
      		margin-bottom: 0.5em;
      	}

      /* machi */
      #machi-area {
      	margin-bottom: 20px;
      }
      	#machi-area .heading {
      		height: 40px;
      		width: 750px;
      		overflow: hidden;
      		margin-bottom:10px;
      	}
      	#machi-area .item {
      		float: left;
      		box-sizing:border-box;
      		padding-right:20px;
      		margin-bottom:5px;
      	}
      	#machi-area .col-2 .item {
      		width:50%;
      	}
      	#machi-area .item .title,
      	#machi-area .item .catch,
      	#machi-area .item .desc{
      		padding-left:90px;
      		margin-bottom:0.25em;
      	}
      	#machi-area .item .title {
      		background: url("/top/images/std/portal/link_arrow01.png") no-repeat 90px 50%;
      		font-weight: bold;
      		margin-bottom: 0.5em;
      		padding-left: 110px;
      		font-size:13px;
      	}
      	#machi-area .item .catch{
      		margin-bottom:0.5em;
      	}
      	#machi-area .item .catch span {
      		background: #fce8e7 none repeat scroll 0 0;
      		color: #c03;
      		font-weight: bold;
      		padding: 3px;
      	}

      /* useful */
      #useful-area {
      	margin-bottom: 10px;
      }
      	#useful-area .heading {
      		height: 40px;
      		width: 750px;
      		overflow: hidden;
      	}
      	#useful-area .inner {
      		border: 2px solid #E6E6E6;
      		border-top: none;
      		padding: 18px 0 18px 18px;
      	}
      	#useful-area .item {
      		float: left;
      		margin-right: 10px;
      		width: 220px;
      	}
      	#useful-area .horizontal+.horizontal {
      		border-top: 1px dotted #DDD;
      		margin-top: 15px;
      		padding-top: 15px;
      	}
      	#useful-area .item.wide {
      	}
      	#useful-area .item.wide+.item.wide {
      		margin-left: 10px;
      	}
      	#useful-area .title { font-size: .917em; margin-bottom: .25em; }
      	#useful-area .desc { font-size: .833em; }

      /* k-file */
      #k-file {
      	margin: 30px 0;
      }

      	#k-file iframe {
      		width: 750px;
      		height: 195px;
      		overflow: hidden;
      		border: none;
      	}

      /* dailynews */
      #dailynews-area {
          margin-bottom: 20px;
          position: relative;
      }
      	#dailynews-area .heading {
      		height: 40px;
      		width: 750px;
      		overflow: hidden;
      	}
      	#dailynews-area .inner {
      		border: 2px solid #E6E6E6;
      		border-top: none;
      		padding: 18px 0 18px 18px;
      	}
      	#dailynews-area .date {
      		color: #cc0033;
      		font-weight:bold;
      		position: absolute;
      		text-align: right;
      		right: 23px;
      		top: 10px;
      		z-index: 10;
      	}
      	#dailynews-area ul li {
      	    line-height:22px;
      	}


      #sitemarks {
      	background: #F8F8F8;
      	font-size: 10px;
      	line-height: 1.35;
      	margin: 20px 0;
      	padding: 15px 0 15px 15px;
      }
      .sitemarks-box {
      	background: #FFF;
      	float: left;
      	margin-right: 15px;
      	width: 230px;
      }
      	.sitemarks-box dl {
      		padding: 10px;
      	}
      	.sitemarks-box dt,
      	.sitemarks-box dd {
      		height: 10em;
      		vertical-align: middle;
      	}
      	.sitemarks-box dt { text-align: center; }
      	.sitemarks-box p { text-indent:-1em; padding-left:1em; }
      	.box-alpha dt { width: 95px; }
      	.box-beta dt { width: 75px; }
      	.box-gamma dt { background: url(/top/images/std/portal/17001137_75_JP.gif) no-repeat 50% 50%; width: 90px; }

      /**/
      .side-linebox {
      	background: #FFF;
      	border: 1px solid #EAEAEA;
      	border-top: 3px solid #CA0A37;
      	margin: 0 0 10px;
      }
      	.side-linebox .heading {
      		color: #CA0A37;
      		font-size: 1.333em;
      	}
      	#side-information .heading {
      		background: url(/top/images/std/portal/ico_side_info.gif) no-repeat 0 50%;
      		margin: 10px;
      		padding: 2px 0 2px 25px;
      	}
      	#side-information ul {
      		border-top: 1px dotted #DDD;
      		padding: 0 10px;
      	}
      	#side-information li {
      		font-size: .917em;
      		line-height: 1.35;
      		padding: 8px 0;
      	}
      	#side-information li+li {
      		border-top: 1px dotted #DDD;
      	}
      .side-portal_box {
      	border: 3px double #EAEAEA;
      	margin-bottom: 10px;
      	padding: 12px 10px;
      }
      	.side-portal_box .heading {
      		border-left: 6px solid #CA0A37;
      		color: #CA0A37;
      		margin-left: -11px;
      		margin-bottom: 12px;
      		font-size: 1.333em;
      		padding: 2px 0 2px 39px;
      		position: relative;
      	}
      		#side-tobira .heading {
      			background: url(/top/images/std/portal/ico_side_tobira.gif) no-repeat 14px 0;
      		}
      		#side-academy .heading {
      			background: url(/top/images/std/portal/ico_side_academy.gif) no-repeat 13px 2px;
      		}
      	.side-portal_box .desc {
      		font-size: .917em;
      		line-height: 1.35;
      		margin-bottom: 5px;
      	}
      	.side-portal_box .title {
      		line-height: 1.5;
      		padding-left: 80px;
      	}
      #side-banner_sns {
      	padding: 0 7px;
      }
      	#side-banner_sns .heading {
      		background: #CA0A37;
      		border-radius: 3px;
      		color: #FFF;
      		font-weight: 300;
      		margin: 0 auto 8px;
      		padding: 5px 8px;
      		text-align: left;
      		width: 190px;
      	}
      #for-estate {
      	margin-top: 15px;
      	margin-bottom: 15px;
      }
      	#for-estate .heading {
      		background: url(/top/images/std/portal/ico_side_forestate.gif) no-repeat 10px 10px;
      		border-bottom: 1px dotted #DDD;
      		padding: 10px 0 10px 35px;
      	}
      	#for-estate .desc {
      		font-size: .917em;
      		padding: 10px 10px 0;
      	}
      	#for-estate ul {
      		padding: 0 10px 10px;
      	}
      		#for-estate ul li { margin-top: 10px; }
      #side-banner_btm {}
      	#side-banner_btm li { margin-bottom: 10px; }
      	#side-banner_btm .side-banner_report { margin-bottom: 15px; }

/* In the case of smartphone
    2016/06/01
----------------------- */
#smfLink{
    min-width:1030px;
}

/* underinfomation carousel */
#side-banner_02 .sideSlider { height: 136px;  overflow: hidden;}
      #side-banner_02 .bx-wrapper .bx-viewport { margin-left: 0; height: 134px;}
      #side-banner_02 .bx-wrapper .bx-pager {
      	background: #FFF;
      	border: 1px solid #CCC;
      	border-top: none;
      	padding: 6px 0 0px;
      	text-align: center;
      }
      #side-banner_02 .bx-wrapper .bx-pager .bx-pager-item {
      	display: inline-block;
      	*zoom: 1;
      	*display: inline;
      }
      #side-banner_02 .bx-wrapper .bx-pager.bx-default-pager a {
      	background: #D2D0C6;
      	display: block;
      	text-indent: -9999px;
      	width: 6px;
      	height: 6px;
      	margin: 0  2px 0 3px;
      	outline: 0;
      	-moz-border-radius: 5px;
      	-webkit-border-radius: 5px;
      	border-radius: 5px;
      	behavior: url( "/css/std/lib_css/PIE.htc" );
      	position: relative;
      }
      #side-banner_02 .bx-wrapper .bx-pager.bx-default-pager a:hover,
      #side-banner_02 .bx-wrapper .bx-pager.bx-default-pager a.active {
      	background: #D20034;
      }
	  
	  #side-banner_02 .bx-viewport img{
	  	border:solid 1px #ccc;
      }