@charset "utf-8";
/* CSS Document */
#lisAportes .saltodelinea{
	clear:both;
	margin-top:5px;
	margin-bottom:5px;
}
#lisAportes .cartilla{
	width:620px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#lisAportes .cartilla .left{
	float:left;
}
#lisAportes .cartilla .right{
	float:right;
	padding:5px;
	width:500px;
	font-family: Arial, Helvetica, sans-serif;
}
#lisAportes .cartilla .right h1{
	color:#000;
	font-size:18px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	height: 22px;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	width: 500px;
}
#lisAportes .cartilla .subtitle{
	padding-left:15px;
	color:#0054a6;
	font-weight:bold;
	font-size:13px;
	margin: 5px;
	width: 200px;
}
#lisAportes .cartilla .ver_sinopsis{
	float:left;
	margin-left:15px;
	margin-top:10px;
	padding-left:18px;
	height:20px;
	color:#000;
	font-size:12px;
	background-image:url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	background-position: -2px -282px;
	font-weight: bold;
}
#lisAportes .cartilla .ver_sinopsis a{
	color:#000;
	text-decoration:none;
}
#lisAportes .cartilla .ver_sinopsis a:hover{
	text-decoration:underline;
}
#lisAportes .cartilla .linkMoreMovies{
	float:right;
	margin-top: -10px;
}
#lisAportes .cartilla .linkMoreMovies .linkMore{
	background-image:url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	padding-left:20px;
	background-position: 0px -222px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	font-weight: bold;
}
#lisAportes .cartilla .linkMoreMovies .linkMore a{
	color:#000;
	text-decoration:none;
}
#lisAportes .cartilla .linkMoreMovies .linkMore a:hover{
	text-decoration:underline;
}
#lisAportes .titleRight{
	padding-right:28px;
	text-align:right;
	width: 550px;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
}
#lisAportes .titleRight h1{
	font-weight:bold;
	font-size:16px;
	color:#000;
	background-image: url(lisAportes/Flechadow.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 30px;
}
#lisAportes .lista{
	width:630px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(lisAportes/back_serverT.jpg);
	background-repeat: repeat-x;
	border: 1px solid #090;
}
#lisAportes .lista .titulos a{
	color:#f10055;
	text-decoration:none;
}
#lisAportes .lista .titulos a:hover{
	text-decoration: underline;
}
#lisAportes .lista .titulos .superior, #lisAportes .lista .titulos .superior_mini, #lisAportes .lista .titulos .superior_medium{
	font-weight:bold;
	padding:4px;
	color:#f10055;
	float:left;
}
#lisAportes .lista .titulos .superior{
	width:220px;
	text-align:left;
}
#lisAportes .lista .titulos .superior_mini{
	width:90px;
	text-align:left;
}
#lisAportes .lista .titulos .superior_medium{
	width:100px;
	text-align:left;
}
#lisAportes .lista .titulos .left{
	float:left;
	margin-left: 5px;
}
#lisAportes .lista .titulos .sbl_question{
	float:left;
	width:16px;
	height:14px;
	background-image:url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	margin-left: 8px;
	background-position: -2px -262px;
}
#lisAportes .lista .fila{
	clear:both;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 30px;
	overflow: hidden;
}
#lisAportes .lista .fila:hover{
	background-color:#F7F7F7;
}
#lisAportes .lista .fila .content,#lisAportes .lista .fila .content_medium,#lisAportes .lista .fila .content_mini,#lisAportes .lista .fila .content_mini2 {
	float:left;
	text-align:center;
	padding:4px;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
}
#lisAportes .lista .fila .content{
	width:220px;
	text-align:left;
}
#lisAportes .lista .fila .content_mini{
	width:90px;
	overflow: hidden;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}
#lisAportes .lista .fila .content_mini2{
	width:90px;
	margin-left: 0px;
	text-align: center;
}
#lisAportes .lista .fila .content_medium{
	width:100px;
}
#lisAportes .lista .fila .content_mini strong {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#lisAportes .lista .fila .content a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #33F;
	text-decoration: none;
	line-height: 12px;
}
#lisAportes .lista .fila .content a:hover {
	color:#30F;
}
#lisAportes .lista .fila .content a:visited {
	color:#300;
}
#lisAportes .cartilla .imgListaAportes {
	float: left;
	width: 104px;
}
.banderita1 {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -383px;
	display: block;
	height: 15px;
	width: 20px;
	margin-left: 25px;
}
.banderita2 {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -403px;
	display: block;
	height: 15px;
	width: 20px;
	margin-left: 25px;
}
.banderita3 {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -443px;
	display: block;
	height: 15px;
	width: 20px;
	margin-left: 25px;
}
.banderita4 {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -403px;
	display: block;
	height: 15px;
	width: 20px;
	margin-left: 25px;
}
#lisAportes .enlecasTodoHacerca {
	float: left;
	width: 280px;
	text-align: center;
	background-color: #FFC;
	padding: 5px;
	border: 1px dotted #666;
}
#lisAportes .enlecasTodoHacerca a {
	font-weight: bold;
	color: #33F;
	text-decoration: none;
}
#lisAportes .enlecasTodoHacerca a:hover {
	font-weight: bold;
	color: #36F;
	text-decoration: underline;
}
