#sLC .sPages {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	clear: both;
	text-align: center;
}
#sLC .sPages b{
	color:#333;
	font-size: 18px;
	padding-left:3px;
	padding-right:10px;
	line-height:20px;
	font-family: "Arial Black", Arial, sans-serif;
	}
#sLC .sPages a{
	color: #000000;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding-right: 10px;
}
#sLC .sPages a:hover{
	color: #FF3300;
	text-decoration: none;
}
#sLC .sPages .siguiente {
	float: right;
	display: inline-block;
}
#sLC .sPages .anterior {
	float: left;
}
#filtrosSelected {
	background-image: url(default_img/FiltroSeleccionado.gif);
	height: 122px;
	width: 588px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
}
#filtrosSelected .filtrosStart {
	height: 98px;
}
#sLC .VermasFiltrosSelect {
	display: block;
	background-image: url(default_img/Mini_fecha_down.jpg);
	background-position:0px 0px;
	height: 16px;
	background-repeat: no-repeat;
	padding-left: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-left: 300px;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.filtrosStart h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #301B5C;
	font-size: 24px;
	line-height: 30px;
	display: block;
	clear: both;
	margin: 0px;
	padding: 0px;
	height: 30px;
	float: left;
}
#filtrosSelected .filtrosStart p {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	clear: both;
}

#filtrosSelected .filtrosStart h2 {
	clear: both;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
#filtrosSelec {
	background-image: url(default_img/FiltroSeleccionar.gif);
	background-repeat: no-repeat;
	height: 190px;
	width: 590px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-right: auto;
	margin-left: auto;
}
#filtrosSelec .filtros .lnk_prueba_modo_experto {
	font-size: 1px;
	line-height: 1px;
	background-image: url(default_img/lnk_prueba_mexperto.gif);
	background-repeat: no-repeat;
	float: right;
	height: 11px;
	width: 77px;
	color: #FFF;
	text-decoration: none;
}
#filtrosSelec .filtros .lnk_mas_opciones {
	float: right;
	font-size: 1px;
	line-height: 1px;
	color: #F8F8F8;
	text-decoration: none;
	background-image: url(default_img/lnk_mas_opciones.gif);
	margin: 0px;
	padding: 0px;
	height: 12px;
	width: 85px;
	clear: both;
}
#filtrosSelec .filtros .bloque {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

* #vermasFiltros{
	font-size: 12px;
	}
* #vermasFiltros a{
	font-size: 12px;
	color: #000;
	padding-right: 5px;
	text-decoration: none;
	}
* #vermasFiltros a:hover{
	text-decoration: underline;
	}
#sLC .VermasFiltros {
	display: block;
	background-image: url(default_img/Mini_fecha_up.jpg);
	background-position:0px -3px;
	height: 16px;
	background-repeat: no-repeat;
	padding-left: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-left: 90px;
	margin-top: -22px;
	text-decoration: none;
}
.filtros a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 7px;
	text-decoration: none;
}
.filtros a:hover {
	text-decoration:underline;
	color: #666666;
}

.filtros .cat_Hijos {
	color: #333333;
}
.filtros .selected_CatH {
	font-weight: bold;
	color: #000000;
	font-size: 12px;
	padding-left: 5px;
}
.filtros .cat_Padres {
	color: #333333;
}

.filtros .catP_Selec {
	font-weight: bold;
	color: #930;
	font-size: 12px;
	padding-left: 5px;
}
.filtros .selected_LinkFormat {
	color: #000000;
	font-weight: bold;
}
.filtros .LinkFormat {
	color: #333333;
}

.filtros .LinkLenguaje {
	color: #333333;
}
.selected_LinkLenguaje {
	font-weight: bold;
	color: #000000;
}
.filtros .LinkABC {
	font-size: 14px;
	color: #333333;
}
.filtros .Select_LinkABC {
	font-weight: bold;
	color: #000000;
}
.filtros .LinkAnio {
	color: #333333;
	font-size: 12px;
	padding-left: 3px;
}
.filtros .selec_LinkAnio {
	font-weight: bold;
	color: #000000;
}
#sLC .MiniFicha {
	background-image:url(default_img/BackgrountMiniBlack.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	color:#222;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	height:174px;
	overflow:hidden;
	text-align:left;
	white-space:normal;
	width:300px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 13px;
	padding-top: 8px;
	padding-right: 1px;
	padding-bottom: 6px;
	padding-left: 2px;
}
.MiniFicha .MiniF_Imagen {
	float: left;
	height: 148px;
	width: 99px;
	border: 1px solid #D3B7FF;
	margin-top: 5px;
	margin-right: 8px;
	margin-bottom: 2px;
	margin-left: 5px;
}
.MiniFicha .MiniF_Description .MiniF_TitleSpecial {
	font-family: Arial, Helvetica, sans-serif;
	color: #0099CC;
	font-weight: bold;
	text-align: left;
	padding-bottom: 5px;
}
.MiniFicha .MiniF_Description .MiniF_TitleSpecial a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}
.MiniFicha .MiniF_Description .MiniF_TitleSpecial a:hover {
	color:#FFF;
	text-decoration: none;
}
.MiniFicha .MiniF_Description .MiniF_Title a {
	color: #6dcff6;
	text-decoration: none;
}
.MiniFicha .MiniF_Description .MiniF_Title a:hover {
	color:#FF6600;
}
#sLC .VermasFiltros:hover {
	background-position:0px -24px;
	color: #CC3300;
}

#sLC .VermasFiltrosSelect:hover {
	background-position:0px -16px;
	color: #CC3300;
}
.MiniFicha .MiniF_Description a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFF;
	text-decoration: none;
}
.MiniFicha .MiniF_Description a:hover {
	color:#006;
	text-decoration: underline;
}
#sLC .lista_item {
	clear: both;
	margin-top: 5px;
	padding-left: 20px;
	margin-bottom: 5px;
	padding-bottom: 2px;
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	border: 1px solid #9D6FFF;
	background-image: url(imgs/bagrunkLista.jpg);
	background-repeat: repeat-y;
	background-position: -80px 0px;
	height: 25px;
	padding-top: 3px;
	
}
#sLC .lista_item:hover {
	background-position: 0px 0px;
}

#sLC .lista_item a.title    {
	font-size: 14px;
	font-weight: bold;
	color: #303;
	text-decoration: none;
	height: 18px;
	overflow: hidden;
	line-height: 16px;
	float: left;
	max-width: 345px;
}
#sLC .lista_item a.title:hover {
	color: #900;
	text-decoration: underline;
	font-style: italic;
}

#sLC .lista_item .year {
	color:#303;
	float:right;
	font-size:11px;
	font-weight:bold;
	height:14px;
	margin:0;
	overflow:hidden;
	padding:3px 0 0;
	width:90px;
}
#sLC .lista_item .formato {
	float: right;
	width: 110px;
	overflow: hidden;
	margin-right: 4px;
	font-size: 11px;
	height: 14px;
	padding-top: 3px;
}
#sLC .lista_item .lenguaje {
	float: right;
	overflow: hidden;
	height: 18px;
	padding-right: 5px;
}
#sLC .lista_item .MiniF_Title {
	clear: both;
	font-size: 11px;
}
#sLC .lista_item .MiniF_Title a {
	text-decoration: none;
	color: #030;
}
#sLC .lista_item .MiniF_Title a:hover {
	color: #006;
	text-decoration: underline;
}
/*
.mirrors_1, .mirrors_2, .mirrors_3{	
	width:280px;
	max-height:30px;
	background-color:#999;
	overflow:hidden;
}
.mirrors_1{
}
.mirrors_2{
}
.mirrors_3{
}*/

.______widget_novedades___ {
}
#blk_novedades     {
	width: 315px;
	display: block;
	clear: both;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(imgs/blk_novedades.png);
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	background-repeat: no-repeat;
	height: 960px;
}
#blk_novedades .top     {
	display: block;
	height: 40px;
}
#blk_novedades .foot {
	height: 90px;
}
#blk_novedades .content {
	margin: 0px;
	padding: 3px;
	display: block;
}
#blk_novedades #blk_novedades_dd_top {
	display: block;
	height: 35px;
	width: 310px;
	color: #FD0;
	text-decoration: none;
	overflow: hidden;
	letter-spacing: 300em;
	font-size: 1px;
	line-height: 40px;
	clear: both;
}
#blk_novedades #blk_novedades_oo_top {
	display: block;
	height: 32px;
	width: 300px;
	color: #FD0;
	text-decoration: none;
	overflow: hidden;
	letter-spacing: 300em;
	font-size: 1px;
	line-height: 38px;
	clear: both;
	margin-top: 5px;
	margin-bottom: 2px;
}
#blk_novedades #blk_novedades_tt_top {
	display: block;
	height: 30px;
	width: 300px;
	color: #FD0;
	text-decoration: none;
	overflow: hidden;
	letter-spacing: 300em;
	font-size: 1px;
	line-height: 32px;
	clear: both;
	margin-top: 5px;
	margin-bottom: 0px;
}
#blk_novedades #blk_novedades_ee_top {
	display: block;
	height: 32px;
	width: 300px;
	color: #FD0;
	text-decoration: none;
	overflow: hidden;
	letter-spacing: 300em;
	font-size: 1px;
	line-height: 30px;
	clear: both;
	margin-top: 5px;
	margin-bottom: 0px;
}
#blk_novedades .item     {
	float: left;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 3px;
	width: 87px;
	border: 1px solid #900;
	background-repeat: no-repeat;
	background-position: left center;
	height: 76px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 52px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	overflow: hidden;
}
#blk_novedades .item:hover {
	color: #FFF;
	text-decoration: underline;
}
#blk_novedades .clear {
	line-height: 0px;
	clear: both;
}
.OpcionesDescargasMini {
	width: 160px;
	float: right;
	padding-right: 5px;
}
.OpcionesDescargasMini .dwd_vvs_mini_dwd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1px;
	color: #2A2C2F;
	line-height: 1px;
	text-decoration: none;
	height: 40px;
	width: 40px;
	float: left;
	background-image: url(default_img/dwd_descargas.png);
	background-position: 0px -120px;
}
.OpcionesDescargasMini .dwd_vvs_mini_dwd:hover {
	background-position: -40px -120px;
	height: 38px;
	width: 38px;
	border: 1px solid #55585E;
}

.OpcionesDescargasMini .dwd_dds_mini_dwd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1px;
	color: #2A2C2F;
	line-height: 1px;
	text-decoration: none;
	height: 40px;
	width: 40px;
	float: left;
	background-image: url(default_img/dwd_descargas.png);
	background-position: 0px 2px;
}
.OpcionesDescargasMini .dwd_dds_mini_dwd:hover {
	background-position: -40px 2px;
	height: 38px;
	width: 38px;
	border: 1px solid #55585E;
}

.OpcionesDescargasMini .dwd_ees_mini_dwd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1px;
	color: #2A2C2F;
	line-height: 1px;
	text-decoration: none;
	height: 40px;
	width: 40px;
	float: left;
	background-image: url(default_img/dwd_descargas.png);
	background-position: 0px -80px;
}
.OpcionesDescargasMini .dwd_ees_mini_dwd:hover {
	background-position: -40px -80px;
	height: 38px;
	width: 38px;
	border: 1px solid #55585E;
}

.OpcionesDescargasMini .dwd_tts_mini_dwd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1px;
	color: #2A2C2F;
	line-height: 1px;
	text-decoration: none;
	height: 40px;
	width: 40px;
	float: left;
	background-image: url(default_img/dwd_descargas.png);
	background-position: 0px -40px;
}
.OpcionesDescargasMini .dwd_tts_mini_dwd:hover {
	background-position: -40px -40px;
	height: 38px;
	width: 38px;
	border: 1px solid #55585E;
}
.OpcionesDescargasMini .enlaceDwd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	line-height: 1px;
	color: #2D2F32;
	height: 40px;
	width: 40px;
	display: block;
}
.OpcionesDescargasMini .enlaceDwd:hover {
	text-decoration:none;
}
#blk_novedades .cajasnovedades {
	display: block;
	height: 170px;
	width: 310px;
	overflow: hidden;
}
.lista_item .OpcionesDescargasMini {
	height: 25px;
}
.lista_item .OpcionesDescargasMini .dwd_dds_mini_dwd {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -600px;
	height: 20px;
	width: 20px;
	padding: 0px;
	margin-right: 10px;
}
.lista_item .OpcionesDescargasMini .dwd_tts_mini_dwd {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -620px;
	height: 20px;
	width: 20px;
	padding: 0px;
	margin-right: 10px;
}
.lista_item .OpcionesDescargasMini .dwd_ees_mini_dwd {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -640px;
	height: 20px;
	width: 20px;
	padding: 0px;
	margin-right: 10px;
}
.lista_item .OpcionesDescargasMini .dwd_vvs_mini_dwd {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -662px;
	height: 20px;
	width: 20px;
	padding: 0px;
	margin-right: 10px;
}
.lista_item .OpcionesDescargasMini .dwd_dds_mini_dwd:hover {
	height: 18px;
	width: 18px;
	background-position: -1px -601px;
	border: 1px solid #55585E;
}
.lista_item .OpcionesDescargasMini .dwd_tts_mini_dwd:hover {
	height: 18px;
	width: 18px;
	background-position: -1px -621px;
	border: 1px solid #55585E;
}
.lista_item .OpcionesDescargasMini .dwd_ees_mini_dwd:hover {
	height: 18px;
	width: 18px;
	background-position: -1px -641px;
	border: 1px solid #55585E;
}
.lista_item .OpcionesDescargasMini .dwd_vvs_mini_dwd:hover {
	height: 18px;
	width: 18px;
	background-position: -1px -663px;
	border: 1px solid #55585E;
}
.lista_item .OpcionesDescargasMini .enlaceDwd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	line-height: 1px;
	color: #2D2F32;
	height: 20px;
	width: 20px;
	display: block;
}
.lista_item .MiniF_Title {
	float: left;
	margin-top: -4px;
}
.MiniFicha .versinp {
	float: right;
	clear: left;
	width: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	height: 15px;
	padding-left: 18px;
	margin-top: -20px;
	margin-right: 30px;
}

.MiniFicha .versinp:hover {
	color:#09F
}
