.AporteFull .topAporteFull {
	height: 190px;
	width: 640px;
	background-image: url(aporteFull/LineaSeparacionAporteFull.png);
	background-repeat: no-repeat;
	background-position: 107px 35px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
}
.topAporteFull .imgAporteful {
	float: left;
	height: 154px;
	width: 104px;
	overflow: hidden;
}
.imgAporteFull {
	border: 2px solid #30C;
}
.AporteFull .topAporteFull .DatosApoteFul h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #000;
	width: 530px;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	padding-top: 5px;
	height: 20px;
	margin: 0px;
	padding-left: 0px;
}
.AporteFull .topAporteFull .DatosApoteFul h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	height: 14px;
	color: #0054a6;
	padding-left: 10px;
	padding-top: 3px;
	margin: 0px;
}
.AporteFull .topAporteFull .DatosApoteFul {
	width: 530px;
	float: right;
	overflow: hidden;
}
.DatosApoteFul .otrosDatosaporteFull {
	float: left;
	width: 200px;
	padding-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-left: 5px;
}
.DatosApoteFul .masOpcionesAporteFull {
	float: right;
	width: 305px;
	padding-left: 15px;
}
.topAporteFull .DatosApoteFul .masOpcionesAporteFull .flechita {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: -5px -25px;
	display: block;
	height: 12px;
	margin-left: -15px;
}
.masOpcionesAporteFull a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000;
	background-image: url(imgs/mini_iconos.gif);
	display: block;
	background-repeat: no-repeat;
	padding-left: 25px;
	height: 20px;
	margin-top: 8px;
}

.masOpcionesAporteFull .opcionesIC {
	font-weight: bold;
	background-position: 0px -160px;
	margin-top: 3px;
}
.masOpcionesAporteFull .opcionesIC:hover {
	color:#C30;
	}
.masOpcionesAporteFull .acercaDe {
	background-position: 0px -180px;
	line-height: 12px;
	overflow: hidden;
	height: 25px;
	width: 280px;
	display: block;
	white-space: nowrap;
}
.masOpcionesAporteFull .acercaDe:hover {
	color:#C30;
	}
.masOpcionesAporteFull .ComentarAyuda {
	font-weight: bold;
	background-position: 2px -203px;

}
.masOpcionesAporteFull .ComentarAyuda:hover {
	color:#C30;
	}

.DatosApoteFul .otrosDatosaporteFull .elusuario {
	display: block;
	margin-bottom: 5px;
	width: 202px;
	overflow: hidden;
	font-size: 11px;
	font-family: Tahoma, Geneva, sans-serif;
}

.DatosApoteFul .otrosDatosaporteFull .AporteFullMirrosLista {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: -2px -2px;
	padding-left: 18px;
	height: 15px;
	width: 170px;
	overflow: hidden;
	color: #000;
	text-decoration: none;
	padding-top: 0px;
	margin-top: 1px;
	margin-left: 3px;
}
.DatosApoteFul .otrosDatosaporteFull .AporteFullMirrosLista:hover {
	color:#C30;
}
.AporteFull .ContenAporteDescargas {
	width: 400px;
	float: left;
	padding: 5px;
}
.AporteFull .OpcionesAporteFull {
	width: 225px;
	float: right;
	padding-left: 0px;
	margin: 0px;
	padding-top: 0px;
}
.AporteFull .ContenAporteDescargas .DescargasDirectas {
	background-image:url(aporteFull/back_server.jpg);
	border: 1px solid #d98d55;
	width:380px;
	background-repeat:repeat-x;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.AporteFull .ContenAporteDescargas .DescargasDirectas .serverDescarga {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	height: 30px;
	padding-top: 0px;
	margin-bottom: 8px;
}
.AporteFull .ContenAporteDescargas .DescargasDirectas .linksDescarga .titulo {
	font-size: 14px;
	font-weight: bold;
}
.AporteFull  .DescargasDirectas .linksDescarga .tituloLinksTxt {
	font-size: 12px;
	font-weight: bold;
	padding-top:4px;
	padding-bottom:8px;
}
.DescargasDirectas .linksDescarga .ddlink {
	background-image: url(aporteFull/down.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 30px;
	width: 42px;
	line-height: 14px;
	padding-top: 37px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
	overflow: hidden;
	color: #333;
	text-decoration: none;
	float: left;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear:none;
}

.DescargasDirectas .linksDescarga .ddlink:hover {
	background-position: 0px -74px;
	color: #090;
}
.DescargasDirectas .linksDescarga .ddlink:visited {
	background-position: 0px -150px;
	color: #C30;
}
.linksDescarga .reporteError{
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -338px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	height: 16px;
	width: 120px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	display: block;
	color: #06F;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

.linksDescarga .reporteError:hover {
	color:#C30;
}
.linksDescarga .reporteFallo{
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -318px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	height: 16px;
	width: 180px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 18px;
	display: block;
	color: #06F;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
}
.linksDescarga .reporteFallo:hover {
	color:#C30;
}

#AporteFull .DescargasDirectas .left{
	float:left;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}

#AporteFull .DescargasDirectas .SereverDescarga{
	margin-left:auto;
	background-repeat:no-repeat;
	width:280px;
	height:30px;
	background-position: center top;
	margin-right: auto;
}

#AporteFull .thanks{
	width:360px;
	text-align:center;
	padding:4px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F0FCFF;
	border: 1px dashed #B0D5FD;
	background-image: url(imgs/eye.png);
	background-repeat: no-repeat;
	background-position: 280px 3px;
	margin-top: 5px;
	margin-bottom: 8px;
}
#AporteFull .thanks .title{
	padding-bottom:8px;
}
#AporteFull .thanks .title .nickname{
	text-transform:capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#AporteFull .DescargasDirectas .texareaDD{
	background-color: #FFF;
	border:1px solid #999;
}

#AporteFull .OpcionesAporteFull .more_help{
	background-image:url(aporteFull/more_help.jpg);
	background-repeat:no-repeat;
	width:162px;
	height:251px;
}


#AporteFull .linkMoreMovies .linkMore{
	background-image:url(imgs/mini_iconos.gif);
	background-position:0 -220px;
	background-repeat:no-repeat;
	display:block;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	height:27px;
	margin-top:0;
	overflow:hidden;
	padding-left:22px;
	padding-top:0;
	width:198px;
}

#AporteFull .linkMoreMovies .linkMore a{
	color:#000;
	text-decoration:none;
}

#AporteFull .linkMoreMovies .linkMore a:hover{
	text-decoration:underline;
}
.otrosDatosaporteFull .elusuario .nickname {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color: #0054A6;
	text-decoration: none;
	text-transform: capitalize;
	padding-left: 8px;
	font-size: 14px;
}
.otrosDatosaporteFull .elusuario .nickname:hover {
	color: #333;
	text-decoration: underline;
}

#sRC .blk_rel_ap {
	width: 310px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	clear: both;
	display: block;
}
#sRC .blk_rel_ap strong {
	display: block;
	clear: both;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
}
#sRC .blk_rel_ap .row {
	width: 310px;
	clear: both;
	display: block;
	border: 1px solid #B6DDFE;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}
#sRC .blk_rel_ap .row     .item{
	float: left;
	width: 150px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#sRC .blk_rel_ap .row .item .img {
	display: block;
	margin: auto;
	width: 100px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#sRC .blk_rel_ap .row .item .img img {
	border: 1px solid #000;
}
#sRC .blk_rel_ap .row .item .title{
	clear: both;
	display: block;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #039;
	text-decoration: none;
}
#sRC .clearb {
	clear: both;
	float: left;
	width: 90px;
	display: block;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	margin: 0px;
	padding: 0px;
}

.___________Video_Online__________________{}

.AporteFull .ContenAporteVo {
	width: 620px;
	padding: 5px;
}
.AporteFull .OpcionesAporteFullVO {
	width: 600px;
	padding-left: 15px;
	margin-left:auto;
	margin-right:auto;
}
#AporteFull .OpcionesAporteFullVO .more_help{
	background-image:url(aporteFull/mas_ayuda_globo.gif);
	background-repeat:no-repeat;
	width:162px;
	height:81px;
	float:right;
}

.AporteFull .ContenAporteVo .VideoOnline {
	background-image:url(aporteFull/back_server.jpg);
	border: 1px solid #d98d55;
	width:610px;
	background-repeat:repeat-x;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.AporteFull .ContenAporteVo .VideoOnline .serverDescarga {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	height: 30px;
	padding-top: 0px;
	margin-bottom: 8px;
}
.AporteFull .ContenAporteVo .VideoOnline .linksDescarga .titulo {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
}
.linksDescarga .vvlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #06C;
	margin-top: 10px;
	white-space: nowrap;
	display: block;
	text-align: left;
	padding-left: 10px;
}
.________________Torrent________________{}

.AporteFull .ContenAporteDescargas .DescargasTorrent {
	background-image:url(aporteFull/back_serverT.jpg);
	border: 1px solid #77d955;
	width:380px;
	background-repeat:repeat-x;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.DescargasTorrent .linksDescarga .reporteFallo{
	width:230px;
	float: none;
	margin-right: auto;
	margin-left: auto;
}
.AporteFull .ContenAporteDescargas .DescargasTorrent .linksDescarga .titulo {
	font-family:"Arial", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#222;
}
.DescargasTorrent .linksDescarga .TTlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #06C;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 40px;
	padding-bottom: 2px;
	display: block;
	height: 20px;
	vertical-align: middle;
	background-image: url(aporteFull/down.gif);
	background-repeat: no-repeat;
	background-position: center top;
}
.DescargasTorrent .linksDescarga .TTlink:hover {
	background-position:center -74px;
	color: #090;
	}
.DescargasTorrent .linksDescarga .TTlink:visited {
	background-position: center -150px;
	color: #C30;
}
.thanks .contentGracias {
	width: 270px;
	margin-right: auto;
	margin-left: auto;
}
.comentarios {
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	border: 1px dashed #09C;
	margin: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.comentarios .titlecomentario {
	font-weight: bold;
	color: #F30;
	font-size: 12px;
	text-decoration: underline;
	margin-left: -5px;
}
.clipData .titleD {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #FF6800;
	font-weight: bold;
	margin-bottom: 10px;
}
.clipData .titleAp1 h4 {
	color: #333;
	width: 150px;
	display: block;
	float: left;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: right;
	font-family: Verdana, Geneva, sans-serif;
	padding-right: 3px;
	min-height:30px;
	font-weight: bold;
}
.clipData .titleAp1 {
	clear: both;
	margin-top: 3px;
	min-height:30px;
}
.clipData .titleAp1:hover {
	background-color: #EFEFEF;
}
.clipData .titleAp2 {
	clear: both;
	margin-top: 3px;
	color: #FF6800;
}
.clipData .titleAp3 {
	clear: both;
	margin-top: 3px;
}
.clipData .titleAp1 .sinopsis2 {
	float: right;
	width: 450px;
	text-transform: capitalize;
}
