@charset "utf-8";
/* CSS Document */

/* BARRITA TOP ONE */



a{
 outline:none;
}
p{
	margin:0px;
	padding:0px;
}
.clear{
	clear:both;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	background-image: url(imgs/background.jpg);
	background-repeat: repeat-x;
	background-position: 0px -179px;
}
.beforbody{
	background-image: url(imgs/background.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px
	
}

#isologo_lnk {
	background-image: url(imgs/isologo_mini.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 38px;
	width: 35px;
	float: left;
	line-height: 100px;
	overflow: hidden;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#cBody{
	background-image: url(imgs/BodyRepite.jpg);
	background-repeat: repeat-y;
	padding: 0px;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#cBodyBG {
	background-image: url(imgs/BodyMainTop.png);
	background-repeat: no-repeat;
	min-height:600px;
	background-position: 0px 0px;
}

#cMain{
	width: 1000px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear: both;
}
#sLC{
	width: 648px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	float:right;
	margin-top: 21px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 0px;
}
#sRC{
	float:left;
	width: 320px;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin: 0px;
}
#InfoPerfil {
	height: 30px;
	width: 40px;
	padding-left: 0px;
	padding-top:4px;
	margin-right: auto;
	margin-left: auto;
}
#InfoPerfil .pu_alerts_no   {
	height: 27px;
	width: 31px;
	float: right;
	background-image: url(imgs/alertsbg.png);
	background-position: -4px -34px;
	text-align: center;
	font-size: 11px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	overflow: hidden;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	line-height: 27px;
	font-weight: bold;
	text-decoration: none;
}

#InfoPerfil .pu_alerts_yes {
	height: 27px;
	width: 31px;
	float: right;
	background-image: url(imgs/alertsbg.png);
	background-position: -3px -1px;
	text-align: center;
	font-size: 11px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	overflow: hidden;
	margin: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	line-height: 27px;
	font-weight: bold;
	text-decoration: none;
}

#InfoPerfil .pu_alerts_no a, #InfoPerfil .pu_alerts_yes a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
#InfoPerfil .pu_alerts_yes a{
	text-decoration: blink;
}
#InfoPerfil .pu_alerts_no a:hover, #InfoPerfil .pu_alerts_yes a:hover {
	text-decoration: underline;
	color:#000;
}


._____Footer______{}
#footer {
	background-image: url(imgs/footer.jpg);
	background-repeat: no-repeat;
	width: 985px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 45px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #FFF;
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 50px;
	background-position: -27px 0px;
}
#footer #creativecommons {
	width: 700px;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#footer #creativecommons img {
	padding-right: 3px;
}
#footer #creativecommons a {
	color: #006699;
	text-decoration: none;
}
#footer #creativecommons a:hover {
	color: #FF6600;
	text-decoration: underline;
}
#footer #creativecommons span {
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#txt_aviso_legal {
	background-image: url(imgs/Legales.jpg);
	background-repeat: no-repeat;
	margin: auto;
	height: 40px;
	width: 900px;
}

.____________where_i_am_________{}
#where_i_am {
	height: 25px;
	line-height: 26px;
	padding-top: 6px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 68px;
	font-size: 11px;
	width: 553px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
	color: #FFF;
}
#where_i_am a {
	text-decoration: none;
	color: #FFF;
}
#where_i_am a:hover {
	text-decoration: underline;
}
#where_i_am .a-act {
	font-weight: bold;	
}
.____TOPs_DW____{}
#sepTop {
	padding: 0px;
	height: 160px;
	float: right;
	color: #FFF;
	width: 490px;
	clear: both;
	margin-top: 36px;
	margin-right: 30px;
	margin-bottom: 4px;
	margin-left: 0px;
}
#sepTopDD {
	margin: 0px;
	padding: 0px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url(imgs/sdd_top.png);
	background-position: 0px -1px;
}
#sepTopTT {
	margin: 0px;
	padding: 0px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url(imgs/stt_top.png);
	background-position: 0px -1px;
}
#sepTopEE {
	margin: 0px;
	padding: 0px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url(imgs/see_top.png);
	background-position: 0px -1px;
}
#sepTopOO {
	margin: 0px;
	padding: 0px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url(imgs/soo_top.png);
	background-position: 0px -1px;
}
#sepTopForo {
	margin: 0px;
	padding: 0px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url(imgs/sforo_top.png);
	background-position: 0px -1px;
}
.____TOP_MENUS_DW____{}
.top_menu{
	height: 25px;
	width: 635px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	clear: both;
	background-image: url(imgs/MenuTop.jpg);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 349px;
}
.top_menu a {
	font-size: 14px;
	line-height: 20px;
	display: block;
	float: left;
	height: 18px;
	width: 50px;
	text-decoration: none;
	color: #102030;
	margin-left: 11px;
	margin-top: 1px;
	margin-right: 2px;
	padding-left: 12px;
	font-weight: bold;
	padding-top: 3px;
	font-family: Arial, Helvetica, sans-serif;
}
.top_menu a:hover {
	color: #33679B;
}
.top_menu .btn_ultimos {
	width: 108px;
	margin-left: 5px;
}
.top_menu .btn_taquilla {
	width: 80px;


}
.positivo {
	color: #063;
	font-weight: bold;
}
.negativo {
	color: #C30;
	font-weight: bold;
}
.MiniFicha .positivo {
	color: #0C6;
}
.MiniFicha .negativo {
	color: #E60000;
}
#top_menuDD .btn_foro {
	margin-left: 5px;
	width: 58px;
}
	
/*novedadesCal**********************************************************************************/
.novedadesCal_group{
	background-image:url(portada/MiniNovCali.png);
	background-repeat:no-repeat;
	width:292px;
	height:190px;
	margin:auto;
	padding:4px;
	margin-top:8px;
	margin-bottom:8px;
}
.novedadesCal_group strong{
	font-family:"Comic Sans MS", cursive;
	font-size:19px;
	font-weight:bold;
}
.novedadesCal_group .novedadesCal_item{
	float:left;
	margin-left:2px;
	margin-bottom:2px;
	width:140px;
	height:75px;
	border:1px solid #0F9;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_img{
	display:block;
	float:left;
	width:50px;
	border:none;
	outline:none;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_img img{
	border:none;
	outline:none;
}

.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion{
	float:left;
	width:82px;
	padding:4px;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion .dwd_dds_mini_dwd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1px;
	color: #2A2C2F;
	line-height: 1px;
	text-decoration: none;
	width: 20px;
	height: 20px;
	float: left;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	background-position: 0px -600px;
	margin-right: 5px;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion .dwd_dds_mini_dwd:hover{
	border: 1px solid #CCC;
	width: 18px;
	height: 18px;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion .dwd_tts_mini_dwd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1px;
	color: #2A2C2F;
	line-height: 1px;
	text-decoration: none;
	width: 20px;
	height: 20px;
	float: left;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	background-position: 0px -620px;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion .dwd_tts_mini_dwd:hover{
	border: 1px solid #CCC;
	width: 18px;
	height: 18px;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion .dwd_ees_mini_dwd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1px;
	color: #2A2C2F;
	line-height: 1px;
	text-decoration: none;
	width: 20px;
	height: 20px;
	float: left;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	background-position: 0px -640px;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion .dwd_ees_mini_dwd:hover{
	border: 1px solid #CCC;
	width: 18px;
	height: 18px;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion .dwd_vvs_mini_dwd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1px;
	color: #2A2C2F;
	line-height: 1px;
	text-decoration: none;
	width: 20px;
	height: 20px;
	float: left;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	background-position: 0px -660px;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion .dwd_vvs_mini_dwd:hover{
	border: 1px solid #CCC;
	width: 18px;
	height: 18px;
}
.novedadesCal_group .novedadesCal_item .novedadesCal_descripcion .title{
	width:100%;
	max-height:48px;
	overflow:hidden;
	color:#FFF;
	font-size:10px;
	display: block;
}

#categories_list .list{
	background-image: url(imgs/Top.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-top: 60px;
	padding-right: 5px;
	padding-left: 12px;
	width: 284px;
}
	
#categories_list .list .item .link{
	text-decoration:none;
	font-weight:normal;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding-left: 10px;
	width: 275px;
	display: block;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 4px;
	height: 26px;
	text-transform: uppercase;
	background-image: url(imgs/flechaizq.png);
	background-repeat: no-repeat;
	background-position: 200px -67px;
	margin-left: 1px;
}
#categories_list .list .item .link:hover{
	background-position: 200px -7px;
	color: #1AC3D6;
}
#categories_list .list .item .linkactive{
	text-decoration:none;
	font-weight:normal;
	color: #039;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding-left: 15px;
	width: 276px;
	display: block;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 4px;
	height: 26px;
	text-transform: uppercase;
	background-image: url(imgs/flechaizq.png);
	background-repeat: no-repeat;
	background-position: 200px -35px;
}
	
#categories_list .sublist .subitem .link{
	text-decoration:none;
	font-weight:normal;
}
	
#categories_list .sublist .subitem .linkactive{
	text-decoration:none;
	font-weight:bold;
	color: #930;
}
#categories_list {
	padding-left: 0px;
	background-image: url(imgs/Fondo.jpg);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	width: 300px;
	margin-left: 10px;
}
#categories_listFoter {
	padding-left: 0px;
	background-image: url(imgs/Pie.jpg);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	width: 300px;
	margin-left: 10px;
	height: 28px;
	display: block;
	color: #FF872A;
}
#categories_list .list .item .sublist .subitem .linkSub {
	text-decoration:none;
	font-weight:bold;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-left: 22px;
	width: 270px;
	display: block;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 4px;
	height: 20px;
	text-transform: capitalize;
	background-image: url(imgs/flechaizq.png);
	background-repeat: no-repeat;
	background-position: 220px -69px;
	margin-left: 1px;
}
#categories_list .list .item .sublist .subitem .linkSub:hover {
	color:#09C;
	background-position:220px -9px
}
#categories_list .list .item .sublist .subitem .linkSubactive {
	text-decoration:none;
	font-weight:bold;
	color: #09C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding-left: 15px;
	width: 276px;
	display: block;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 4px;
	height: 26px;
	text-transform: capitalize;
	background-image: url(imgs/flechaizq.png);
	background-repeat: no-repeat;
	background-position: 240px -96px;
}
.beforbody #cBody .topdd {
	background-image: url(fichaFull/IdescDirecta.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.beforbody #cBody .topee {
	background-image: url(fichaFull/IEmule.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.beforbody #cBody .toptt {
	background-image: url(fichaFull/IuTorrent.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.beforbody #cBody .topvv {
	background-image: url(fichaFull/Ivideo.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.Cajabusqueda {
	font-family: Arial, Helvetica, sans-serif;
	height: 60px;
	width: 220px;
	margin-right: auto;
	margin-left: auto;
}
.Cajabusqueda .titulo {
	font-size: 16px;
	font-weight: bold;
	color: #666;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 4px;
}
.Cajabusqueda #search_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	padding-left: 2px;
	border: 1px dashed #1076B8;
	width: 130px;
}
