@charset "utf-8";
/* CSS Document */

/*rateComment*/
#commentBody{
	width:100%;
}
#commentBody .rateComment{
	float:right;
}
#commentBody .rateComment a{
	border:none;
	outline:none;
}
#commentBody .rateComment .commentRateY{
	float:left;
	display:block;
	background-image:url(comment/ok.jpg);
	padding-right:4px;
	width:28px;
	height:22px;
	background-repeat:no-repeat;
}
#commentBody .rateComment .commentRateN{
	float:left;
	display:block;
	background-image:url(comment/ko.jpg);
	width:28px;
	height:22px;
	background-repeat:no-repeat;
	padding-right:4px;
}
/*rateComment*/

/*itemComment*/
#commentBody .valoracionBad, #commentBody .valoracionGood{
	float:left;
	margin-left:5px;
	font-weight:bold;
	font-size:10px;
	width:48px;
	height:22px;
}
#commentBody .valoracionGood{
	background-image:url(comment/good.png);
	background-repeat:no-repeat;
	background-position:right top;	
	color:#026324;
}
#commentBody .valoracionBad{
	background-image:url(comment/bad.png);
	background-repeat:no-repeat;
	background-position:right top;
	color: #F00;
}
#commentBody .lista .item{
	clear:both;
	width:100%;
}
#commentBody .itemRight{
	float:left;
	color:#000;
	font-size:11px;
	margin-left:5px;
	margin-bottom:5px;
	width:89%;
}
#commentBody .itemLeft{
	float:left;
	border:1px solid #999;
}
#commentBody .superior{
	background-color:#DBDBDB;
	width:100%;	
	height:16px;
	padding:6px;
}
#commentBody .credit{
	font-size:10px;
	float:left;
}
#commentBody .comment{
	clear:both;
	margin-top:2px;
	background-color:#EDEBEB;
	padding:6px;
	width:100%;	
}
/*itemComment*/
/*form*/
#commentBody .form{
	clear:both;
}
#dejarMsgAviso{
	display:none;
}
#commentBody .btnAddComment{	
	background-color:#666;
	width:126px;
	padding:4px;
	margin-top:5px;
}
#commentBody .btnAddComment a{
	color:#FFF;
	text-decoration:none;
}
#commentBody .btnAddComment a:hover{
	text-decoration:underline;
}
/*form*/

/*links*/
.linkWhite, .linkBlack{
	display:block;
	margin-right:2px;
	margin-left:2px;
	text-decoration:none;
	float:left;
}
.linkWhite:hover, .linkBlack:hover{
	text-decoration:underline;
}
.linkWhite{
	color:#FFF;
}
#commentBody .linkBlack{
	color:#000;
	font-weight:bold;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
}
#commentBody .oculto{
	display:none;
}
#commentBody .responseList .globo{
	clear:both;
	position:absolute;
	left:322px;
	background-image:url(comment/back.jpg);
	color:#000;
	padding:4px;
	width:157px;
	height:14px;
}
#commentBody .globo{
	clear:both;
	position:absolute;
	left:588px;
	background-image:url(comment/back.jpg);
	color:#000;
	padding:4px;
	width:157px;
	height:14px;
}
#commentBody .btnViewAll{
	clear:both;
	display:block;
	margin-left:auto;
	margin-bottom:5px;
	background-image:url(comment/viewmore.jpg);
	background-repeat:no-repeat;
	width:110px;/*129*/
	height:18px;
	font-size:9px;
	padding-left:22px;
	padding-top:4px;
}
#commentBody .btnHiddenAll{
	clear:both;
	display:block;
	margin-left:auto;
	margin-bottom:5px;
	background-image:url(comment/viewmin.jpg);
	background-repeat:no-repeat;
	width:62px;/*81*/
	height:18px;
	font-size:9px;
	padding-left:22px;
	padding-top:4px;
}
#commentBody .blue{
	color:#03C;
}
/*links*/

/*operacionesAdicionales*/
#commentBody .operacionesAdicionales{
	float:right;
	margin-top:-3px;
}
#commentBody .btnResponder{
	float:right;
	display:block;
	background-image:url(comment/response.jpg);
	background-repeat:no-repeat;
	width:93px;
	height:22px;
	padding-right:4px;
}
#commentBody .btnReportar{
	float:right;
	display:block;
	background-image:url(comment/report.jpg);
	background-repeat:no-repeat;
	width:28px;
	height:22px;
}
#commentBody .btnCancelComment a{
	color:#FFF;
	text-decoration:none;
}
#commentBody .btnCancelComment a:hover{
	text-decoration:underline;
}
/*operacionesAdicionales*/

/*miniFormRespuesta*/
#commentBody .miniFormRespuesta{
	clear:both;
	padding-left:54px;
	margin-bottom:10px;
}
#commentBody .miniFormRespuesta .btnsComment{
}
#commentBody .miniFormRespuesta .btnAddComment{
	float:left;
	margin-right:5px;
	background-color:#666;
	width:110px;
	padding:4px;
	margin-top:5px;
}
#commentBody .miniFormRespuesta .btnCancelComment{
	float:left;
	margin-right:5px;
	background-color:#666;
	width:60px;
	padding:4px;
	margin-top:5px;
}
#commentBody .miniFormRespuesta .botonera{
	width:97%;
}
#commentBody .miniFormRespuesta .txt{
	width:97%;
}
#commentBody .responseList, #commentBody .responseListHidden{
	margin-left:58px;
	width:90%;
}
#commentBody .responseListHidden{
	visibility:hidden;
	display:none;
}
#commentBody .responseList .item, #commentBody .responseListHidden .item{
	width:100%;
}
#commentBody .responseList .itemLeft, #commentBody .responseListHidden .itemLeft{
	width:50px;
}
#commentBody .responseList .itemRight, #commentBody .responseListHidden .itemRight{	
	margin-left:5px;
	margin-bottom:5px;
	width:88%;
}
#commentBody .responseList .superior, #commentBody .responseListHidden .superior{
	width:100%;
}
#commentBody .responseList .comment, #commentBody .responseListHidden .comment{
	width:100%;
}

#commentBody .responseList .globo{
	margin-left:265px;
}

#commentBody .inputForm{
	width:95%;
}
#commentBody .inputForm{
	width:95%;
}
#commentBody .textarea{
	width:100%;
}
#commentBody .txt{
	width:95%;
}
#commentBody .botonera{
	width:95%;
}
#commentBody .responseList .textarea, #commentBody .responseListHidden .textarea{
	width:100%;
}
#commentBody .responseList .txt, #commentBody .responseListHidden .txt{
	width:100%;
}
#commentBody .responseList .botonera, #commentBody .responseListHidden .botonera{
	width:100%;
}
/*miniFormRespuesta*/