@charset "utf-8";
/* CSS Document */
#c_inicio .cuadro {
	background-image: url(imgs/inicio_cuadro_bg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	float: left;
	height: 85px;
	width: 300px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 7px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 7px;
}
#c_inicio .cuadro_big {
	background-image: url(imgs/inicio_cuadro_bg2.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	float: left;
	height: 85px;
	width: 426px;
	padding: 5px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 7px;
	margin-left: 0px;
}
#c_inicio .c_btn_foro {
	background-image: url(imgs/inicio_cuadro_foro.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	float: left;
	height: 95px;
	width: 192px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 95px;
	text-decoration: none;
	letter-spacing: 150em;
	overflow: hidden;
	font-size: 1px;
	color: #f5f5f5;
}
#c_inicio .c_btn_foro:hover {
	background-position: 0px -95px;
}
#c_inicio .c_lnk {
	background-image: url(imgs/inicio_cuadro_btns.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: 0px;
	padding: 0px;
	height: 69px;
	width: 100px;
	font-size: 1px;
	line-height: 69px;
	color: #F5F5F5;
	text-decoration: none;
	letter-spacing: 108em;
	display: block;
	float: left;
	overflow: hidden;
}
#c_inicio #c_lnk_dd {
	background-position: -214px -67px;
	width: 180px;
}
#c_inicio #c_lnk_dd:hover{
	background-position: -214px 0px;
}
#c_inicio #c_lnk_oo {
	background-position: -597px -67px;
	width: 157px;
}
#c_inicio #c_lnk_oo:hover {
	background-position: -597px 0px;
}
#c_inicio #c_lnk_todo {
	width: 214px;
	background-position: 0px -67px;
}
#c_inicio #c_lnk_todo:hover {
	background-position: 0px 0px;
}
#c_inicio #c_lnk_tt {
	background-position: -405px -67px;
	width: 185px;
}
#c_inicio #c_lnk_tt:hover {
	background-position: -405px 0px;
	
}
#c_inicio #c_lnk_ee {
	background-position: -762px -67px;
	width: 176px;
}
#c_inicio #c_lnk_ee:hover {
	background-position: -762px 0px;
}
#c_inicio .parrafo {
	float: right;
	width: 110px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
}
#c_inicio .parrafo a {
	color: #039;
	text-decoration: none;
}
#c_inicio .parrafo a:hover {
	color: #C00;
	text-decoration: underline;
}
#c_inicio .cuadro_big .parrafo {
	width: 202px;
}
#c_inicio .cuadro #parrafo_online {
	width: 132px;
}
#c_inicio .lnk_block {
	clear: both;
	float: left;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	width: 280px;
}
#c_inicio .lnk_block a {
	color: #0551ac;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(imgs/inicio_cuadro_ico.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 12px;
}
#c_inicio .lnk_block a:hover {
	background-position: 0px -13px;
	text-decoration: underline;
	color: #C00;
}
#c_inicio .lnk_block a.help {
	background-position: 0px -26px;
}
#c_inicio .lnk_block a.help:hover {
	background-position: 0px -39px;
	color: #C00;
	text-decoration: underline;
}
#c_inicio .clear {
	clear: both;
	height: 5px;
}
#p_inicio {
	padding-bottom: 10px;
	padding-left: 10px;
}
#p_inicio h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #0054A6;
	line-height: 24px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#dBeneficios {
	background-image: url(imgs/beneficios.jpg);
	height: 798px;
	width: 846px;
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
#dBeneficios .sep1 {
	height: 140px;
}
#dBeneficios #benef {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 80px;
	width: 350px;
}
#dBeneficios #benef a {
	display: block;
	clear: left;
	float: left;
	height: 37px;
	width: 340px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	letter-spacing: 1em;
	overflow: hidden;
	text-decoration: none;
	font-size: 1px;
}
#dBeneficios #bnf_registrarse {
	float: right;
	width: 270px;
	margin-top: 300px;
	margin-right: 100px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	height: 60px;
	letter-spacing: 1em;
	text-decoration: none;
	font-size: 1px;
	color: #EEF3F7;
}
.h2centrado{
	background-image: url(imgs/bgrh2.jpg);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	line-height: 20px;
	width: 435px;
	height: 64px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-style: italic;
	font-weight: bold;
	color: #600;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 65px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#filtros2010 .tdHdd{
	background-image: url(imgs/grad.jpg);
	width: 340px;
	background-repeat: repeat-y;
	background-position: 0px 0px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCC;
	border-left-color: #CCC;
}
#filtros2010 .tdHonline {
	background-image: url(imgs/grad.jpg);
	width: 340px;
	background-repeat: repeat-y;
	background-position: -1080px 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}
#filtros2010 .tdHtt{
	background-image: url(imgs/grad.jpg);
	width: 340px;
	background-repeat: repeat-y;
	background-position: -360px 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	}
#filtros2010 .tdHem{
	background-image: url(imgs/grad.jpg);
	width: 340px;
	background-repeat: repeat-y;
	background-position: -720px 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}
#filtros2010 .dd {
	background-image: url(imgs/clientes.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
#filtros2010 .online {
	background-image: url(imgs/clientes.jpg);
	background-position: 0px -360px;
	background-repeat: no-repeat;
}
#filtros2010 .em {
	background-image: url(imgs/clientes.jpg);
	background-position: 0px -240px;
	background-repeat: no-repeat;
}
#filtros2010 .tt {
	background-image: url(imgs/clientes.jpg);
	background-position: 0px -120px;
	background-repeat: no-repeat;
}
#filtros2010 .medio {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: #333;
	padding: 5px;
	margin: 0px;
}
#filtros2010 li {
	list-style-type: none;
	margin-left: 18px;
}
#filtros2010 ul {
	min-height:60px;
}
#filtros2010 ul li a {
	color: #0551ac;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(imgs/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0px -1px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 18px;
	line-height: 18px;
}
#filtros2010 ul li a:hover {
	background-position: 0px -16px;
	text-decoration: underline;
	color: #060;
}
.footTabla {
	background-image: url(imgs/bgrtipos.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	height: 34px;
	width: 95%;
	margin-left: 28px;
	}
.estrenos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.estrenos .title {
	background-image: url(imgs/estrenos2010.jpg);
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-position: 0px 0px;
	display: block;
	padding-left: 30px;
	line-height: 34px;
	height: 27px;
}
.estrenos .estrenoItems {
	color: #0551ac;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(imgs/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0px -1px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 18px;
	line-height: 18px;
	white-space: nowrap;
	width: 230px;
	overflow: hidden;
	display: block;
}
.estrenos .estrenoItems:hover {
	background-position: 0px -16px;
	text-decoration: underline;
	color: #060;
}
.estrenos .enlaceEstreno {
	background-image: url(imgs/more.gif);
	font-size: 12px;
	font-weight: bold;
	color: #600;
	display: block;
	margin-top: 5px;
	text-align: right;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 90px -1px;
}
.estrenos .enlaceEstreno a {
	color: #600;
	text-decoration: none;
	margin-top: 5px;
}
.Foros {
	background-image: url(imgs/now.gif);
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 13px;
	background-repeat: no-repeat;
	background-position: right -5px;
	padding-top: 10px;
}
.Foros .ForoItems {
	background-image: url(imgs/fire.gif);
	text-decoration: none;
	font-size: 12px;
	color: #444;
	display: block;
	padding-left: 16px;
	line-height: 16px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.Foros .ForoItems:hover {
	color: #06C;
	text-decoration: underline;
}
.Foros .title .enlaceForo {
	font-weight: bold;
	color: #C30;
	text-decoration: none;
	margin-top: 5px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
}

.Foros .enlaceForo a:hover {
	color: #C03;
}
.estrenos .enlaceEstreno a:hover {
	color: #060;
	text-decoration: underline;
}
.Foros .titleforo {
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.Foros .contenido {
	font-size: 12px;
	font-style: italic;
	line-height: 12px;
	width: 230px;
	padding-left: 15px;
	font-family: Geneva, Arial;
	height: 48px;
	margin-bottom: 1px;
	overflow: hidden;
}
#filtros2010 {
	padding-left: 10px;
}

