/* CSS Document */

.opcionesAdmin_field{
	float:left;
	padding: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	margin-right: 8px;
	margin-left: 8px;
}
.opcionesPortada .input {
	color: #333;
}

.opcionesAdmin_field label {
	color: #000;
	font-size: 12px;
}
.opcionesPortada {
	background-color: #F7F7F7;
	border: 1px dashed #000;
	padding: 10px;
}
.serverse {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: -2px -282px;
	display: block;
	height: 16px;
	width: 16px;
	float: right;
	margin-top: 2px;
	margin-left: 5px;
}

#sLC .MiniFichaDestacada {
	background-image:url(portada/BagrounkBIgNini.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	color:#CCC;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	height:424px;
	overflow:hidden;
	text-align:left;
	white-space:normal;
	width:212px;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 4px;
	margin-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
}
.MiniFichaDestacada .MiniF_TitleSpecial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0CF;
	text-align: center;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	height: 20px;
	overflow: hidden;
	margin-bottom: 0px;
	white-space: nowrap;
}
.MiniFichaDestacada .MiniF_TitleSpecial a {
	color:#0CF;
	text-decoration: none;
}
.MiniFichaDestacada .MiniF_Imagen {
	height: 280px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border: 1px solid #666;
	margin-bottom: 5px;
}
.MiniFichaDestacada .OpcionesDescargasMini {
float:right;
padding-right:10px;
width:185px;
}
.versinp {
	color: #FFF;
	width: 100px;
	margin-left: 60px;
	text-decoration: none;
	display: block;
	font-weight: bold;
	clear: both;
	height: 20px;
	float: left;
}
#admin_resultadosLista .cheked {
	height: 20px;
	width: 40px;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: -45px;
	float: left;
	background-color: #CCC;
}
#sLC #admin_resultadosLista .lista_item {
	width:580px;
	float:left;
	margin-right:45px;
	
}
.MiniFichaDestacada .MiniF_Description .MiniF_Title a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
	text-decoration: none;
}
.Portadacartelera {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #F43D13;
	text-transform: capitalize;
}
.Portadapeliculas-dvdrip {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #F43D13;
	text-transform: capitalize;
}
.Portadaseries {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #F43D13;
	text-transform: capitalize;
}
.Portadamusica {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #F43D13;
	text-transform: capitalize;
}
.Portadajuegos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #F43D13;
	text-transform: capitalize;
}

.Portadasubtituladas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #F43D13;
	text-transform: capitalize;
}

.Portadasoftware {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #F43D13;
	text-transform: capitalize;
}
#sLC .Portada {
	clear:both;
	display:block;
	height:40px;
	padding:0;
	white-space:nowrap;
	width:650px;
	color: #666;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#sLC .Portada h1 {
	color:#283780;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:26px;
	margin:0;
	text-decoration:underline;
	clear: both;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 30px;
}
.Portada .vermascat {
	background-image:url("imgs/flechaizqdes.png");
	background-position:right -10px;
	background-repeat:no-repeat;
	color:#1E2E3E;
	display:block;
	float:right;
	font-family:Tahoma,Geneva,sans-serif;
	font-size:18px;
	font-weight:bold;
	height:30px;
	padding-left:0;
	padding-right:50px;
	padding-top:5px;
	text-decoration:none;
	width:80px;
}
.MiniFichaDestacada .MiniF_Description {
	padding-left: 5px;
}
