/* CSS Document */

#ban728 {
	padding-top: 17px;
	padding-right: 0px;
	margin-bottom: 2px;
	padding-left: 160px;
	height: 92px;
	width: 728px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
	overflow: hidden;
}

.publi336x280Right{
	width:336px;
	height:280px;
	margin:0px;
	float:right;
	background-color:#CCC;
	text-align:center;
	overflow:hidden;
}
.publi624x80none{
	width:624px;
	height:80px;
	margin:0px;
	margin-top:10px;
	float:none;
	clear:both;
	background-color:#CCC;
	text-align:center;
	overflow:hidden;
}
.publi336x280Center{
	width:336px;
	height:280px;
	background-color:#CCC;
	text-align:center;
	overflow:hidden;
	margin-top:10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.publi250x250Center{
	width:250px;
	height:250px;
	background-color:#CCC;
	text-align:center;
	overflow:hidden;
	margin-top:10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
}

.publi160x600Left{
	width:160px;
	height:600px;
	background-color:#CCC;
	text-align:center;
	overflow:hidden;
	margin: 0px;
	margin-top:10px;
	float:left;
}
.publi160x600Right{
	width:160px;
	height:600px;
	background-color:#CCC;
	text-align:center;
	overflow:hidden;
	margin: 0px;
	margin-top:10px;
	float:right;
}

.publi120x600Left{
	width:120px;
	height:600px;
	background-color:#CCC;
	text-align:center;
	overflow:hidden;
	margin-top:10px;
	float:left;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-left: 0px;
}
.publi120x600Right{
	width:120px;
	height:600px;
	background-color:#CCC;
	text-align:center;
	overflow:hidden;
	margin-top:10px;
	float:right;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.pibli300x550Right{
	width:300px;
	height:530px;
	text-align:center;
	overflow:hidden;
	float:right;
	margin-right:10px;
	margin-top:10px;	
}#cBodyBG #Publi780 {
	width: 728px;
	float: left;
	height: 90px;
	padding-left: 6px;
	margin-top: 17px;
	clear: both;
}
.publi470x60Top {
	float:right;
	height:60px;
	overflow:hidden;
	padding-right:10px;
	padding-top:5px;
	width:470px;
	padding-left: 10px;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.publi250x250Left {
	float: left;
	height: 250px;
	width: 250px;
	margin-left: 30px;
}
.publi250x250Right {
	float: right;
	height: 250px;
	width: 250px;
	margin-right: 30px;
}
.Publi780Foter {
	height: 90px;
	width: 728px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
.pibli500Center {
	width: 660px;
	margin-right: auto;
	margin-left: auto;
	height:300px;
}
.Publi780FoterIndex {
	text-align: center;
	vertical-align: top;
	width: 850px;
	margin-right: auto;
	margin-left: auto;
}
.Publi250x350 {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}
