.____Depurar_Login_____{}
.insideForm2{
	padding-bottom:10px;
	width: 300px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
#btnIngresar {
	display: block;
	float:left;
	background-image: url(imgs/ingresar_registrarse.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 0px;
	width: 110px;
	height: 35px;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 5px;
	margin-bottom: 5px;
	line-height: 23px;
}
#btnIngresar:hover {
	background-position: -2px -73px;
}
#btnRegistrar {
	display: block;
	float:right;
	background-image: url(imgs/ingresar_registrarse.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 0px;
	height: 35px;
	width: 115px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 5px;
	background-position: -126px 0px;
	line-height: 25px;
	margin-left: 0px;
}
#btnRegistrar:hover {
	background-position: -128px -73px;
}
#btnBeneficios{
	display: block;
	background-image: url(imgs/ingresar_registrarse.png);
	background-repeat: no-repeat;
	padding: 0px;
	height: 35px;
	width: 240px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: 40px;
	margin-bottom: 0px;
	background-position: 0px -38px;
	line-height: 25px;
	clear: none;
	float: none;
}
#btnBeneficios:hover {
	background-position: -2px -111px;
}
.perfilLogo{
	background-image: url(imgs/Perfil_unico_logo.png)!important;
	background-image: none;
	filter: none !important;
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/imgs/Perfil_unico_logo.png' , sizingMethod='image');	
	BACKGROUND-IMAGE: none;
	background-repeat:no-repeat;
	height: 38px;
	width: 117px;
	margin-right: auto;
	margin-left: auto;
}
.perfilbox {
	min-height: 80px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-top: 5px;
	width: 310px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.perfilboxBooton{
	background-image:url(imgs/Foterpanel.jpg);
	clear:both;
	margin-bottom:10px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 10px;
	width: 253px;
	float: right;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
#sLogin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #600;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 8px;
	min-height: 80px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
}
#sLogin .caps16bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #600;
	padding-left: 10px;
}
#sLogin a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #036;
	text-decoration: none;
} 
#sLogin a:hover {
	color: #F30;	
}
#sLogin .panelcito {
	width: 240px;
	height: 30px;
	float: left;
	text-align: left;
	padding-left: 10px;
}
#sLogin .panelcito .infologin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #360;	
	}
	
#btnpermitAletas {
	line-height: 25px;
	background-image: url(imgs/permitirAlertas.png);
	background-repeat: no-repeat;
	display: block;
	padding: 0px;
	height: 45px;
	width: 178px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	font-size: 1px;
	margin-bottom: 5px;
	background-position: 0px 0px;
}
#btnpermitAletas:hover {
	background-position: 0px -43px;
}
	
._____Top10Colab______{}
#top10 .saltodelinea{
	clear:both;
	margin-top:5px;
	margin-bottom:5px;
}
#top10 .entrada{
	width:570px;
	color:#F30;
	text-align:left;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 10px;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-image: url(UserColab/podio.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-right: auto;
	margin-left: auto;
}
#top10 .titulodwd_dds{
	text-align:center;
	width:612px;
	background-image: url(imgs/clientes.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	height: 32px;
	padding-top: 30px;
}
#top10 .titulodwd_ees{	
	text-align:center;
	width:612px;
	background-image: url(imgs/clientes.jpg);
	background-repeat: no-repeat;
	background-position: right -240px;
	height: 32px;
	padding-top: 30px;
}
#top10 .titulodwd_tts{	
	text-align:center;
	width:612px;
	background-image: url(imgs/clientes.jpg);
	background-repeat: no-repeat;
	background-position: right -120px;
	height: 32px;
	padding-top: 30px;
}
#top10 .titulodwd_vvs{
	text-align:center;
	width:612px;
	background-image: url(imgs/clientes.jpg);
	background-repeat: no-repeat;
	background-position: right -360px;
	height: 32px;
	padding-top: 30px;
}
#top10  h1{
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
#top10 .navegacion{
	margin-left:200px;
	margin-top:10px;
	width:250px;
	background-color:#FAF9F9;
	border:1px solid #CCC;
	padding:4px;
	text-align:center;
	font-weight:bold;
}
#top10 .navegacion a{
	text-decoration:none;
}
#top10 .navegacion a:hover{
	text-decoration:underline;
}
#top10 .lista{
	width:622px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom:0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
}
#top10 .lista .titulos a{
	color:#f10055;
	text-decoration:none;
}
#top10 .lista .titulos a:hover{
	text-decoration: underline;
}
#top10 .lista .titulos .superior, #top10 .lista .titulos .superior_mini, #top10 .lista .titulos .superior_medium{
	font-weight:bold;
	padding:4px;
	color:#000;
	float:left;
	text-align:center;
	background-color:#E4E5E6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
#top10 .lista .titulos .superior{
	width:220px;
	text-align:left;
}
#top10 .lista .titulos .superior_mini{
	width:20px;
}
#top10 .lista .titulos .superior_medium{
	width:140px;
}
#top10 .lista .fila{
	clear:both;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #333;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-left-color: #333;
	background-color: #FFF;
}
#top10 .lista .fila .content,#top10 .lista .fila .content_medium,#top10 .lista .fila .content_mini,#top10 .lista .fila .content_mini2 {
	float:left;
	text-align:center;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	height:15px;
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
#top10 .lista .fila .content{
	width:220px;
	text-align:left;
}
#top10 .lista .fila .content_mini{
	width:20px;
}
#top10 .lista .fila .content_mini2{
	width:20px;
	margin-left:20px;
}
#top10 .lista .fila .content_medium{
	width:140px;
}
#top10 .lista .fila .content_mini strong {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#top10 .lista .fila .content a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #06C;
	text-decoration: none;
}
#top10 .lista .fila .content a:hover {
	color:#3a9966;
}
#top10 .lista .fila .content a:visited {
	color:#FF7E40;
}
#top10 .entrada a {
	color: #F30;
}
#top10 .lista .fila .content_medium a {
	color: #244ec4;
	font-weight: bold;
	text-decoration: none;
	padding-right: 20px;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: right -463px;
	display: block;
	width: 124px;
	height: 18px;
}
#top10 .lista .fila .content_medium strong {
	font-size: 13px;
}
#top10 .lista .fila .content_medium a:hover {
	color: #F30;
}
#top10 .lista .fila:hover {
	background-color: #F3F3F3;
}
#top10 .lista .titulos {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
	border-top-style: none;
}
#top10 .lista #vermas {
	background-color: #F7F7F7;
	width: 300px;
	display: block;
	border: 1px solid #CCC;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #244ec4;
	font-weight: bold;
	text-decoration: none;
	margin-top: 15px;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 280px -490px;
	float: right;
	margin-right: 40px;
}
#top10 .lista .fila .content_medium strong:hover {
	text-decoration: underline;
}
._____Colaborador_____{}
#usercard{
	line-height:16px;
	padding:4px;
	width:560px;
	font-size:11px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	background-image: url(UserColab/BackgrountUserCard.jpg);
	background-repeat: repeat-x;
	background-position: 0px -30px;
}
#usercard .avatar{
	float:left;
}
#usercard .userImg {
	font-family: Arial, Helvetica, sans-serif;
	background-position:13px 10px;
	background-repeat:no-repeat;
	float:left;
	height:127px;
	width:131px;
}
#usercard .data{
	float:left;
	padding-left:5px;
	width:255px;
	padding-top: 5px;
}
#usercard .data h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #333;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#usercard .data h1{
	line-height:18px;
	color:#000;
	margin:0px;
	padding:0px;
	width:250px;
}
#usercard .saltodelinea{
	clear:both;
}
#usercard .UserMirrors {
	width: 160px;
	float: right;
	text-align: right;
	padding-right: 5px;
}
#usercard .UserMirrors h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	margin: 0px;
	padding: 0px;
}
#usercard .UserMirrors .mirro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	padding-right: 8px;
	color: #333;
	text-decoration: none;
}
#usercard .UserMirrors .mirro:hover {
	font-weight:bolder;
	text-decoration: underline;
	}
._____Moderacion_____{}
.enlacesmoderacion{
	padding-left:40px;
}
.enlacesmoderacion a{
	text-decoration:none;
}
.enlacesmoderacion a:hover{
	text-decoration:underline;
}
#moderacion{
	padding:10px;
}
#moderacion .report{
	font-weight:bold;
	color:#F00;
}
#moderacion .titulo h1{
	padding:0px;
	margin:0px;
	color:#000;
}
#moderacion .list .item{
	padding:4px;
	clear:both;
	width:620px;
}
#moderacion .list .item .count{
	padding:8px;
	background-color:#9F9;
	float:left;
	width:16px;
	height:16px;
	border:1px solid #999;
}
#moderacion .list .item .url{
	padding:8px;
	background-color:#FFF;
	float:left;
	width:566px;
	margin-left:2px;
	height:auto;
	min-height:16px;
	text-align:justify;
	font-size:11px;
	border:1px solid #999;
}
#moderacion .list .item .opciones{
	clear:both;
}
#moderacion .list .item .btnviewcomments{
	padding:8px;
	background-color:#9F9;
	float:right;
	width:100px;
	margin-left:2px;
	height:auto;
	min-height:16px;
	text-align:center;
	font-size:11px;
	border:1px solid #999;
}
#moderacion .list .item .btngo{
	padding:8px;
	background-color:#9F9;
	float:right;
	width:50px;
	margin-left:2px;
	height:auto;
	min-height:16px;
	text-align:justify;
	font-size:11px;
	border:1px solid #999;
}
#moderacion .confirm{
	padding:8px;
	background-color:#0CF;
	float:left;
	width:100px;
	margin-left:2px;
	height:auto;
	min-height:16px;
	text-align:center;
	font-size:11px;
	border:1px solid #999;
}
#moderacion .oculto{
	display:none;
}
#moderacion .content{
	padding:8px 0px 8px 0px;
	clear:both;
	width:566px;
	margin-left:38px;
	margin-top:-10px;
}
#moderacion .btnReady{
	clear:both;
	padding:8px;
	background-color:#9F9;
	float:right;
	width:40px;
	margin-left:2px;
	height:auto;
	min-height:16px;
	text-align:center;
	font-size:11px;
	border:1px solid #999;
	margin-bottom:2px;
	margin-top:2px;
}

/***********COMMENTS*/
/*itemComment*/
#moderacion .content .valoracionBad, #moderacion .content .valoracionGood{
	float:left;
	margin-left:5px;
	font-weight:bold;
	font-size:10px;
	width:48px;
	height:22px;
}
#moderacion .content .valoracionGood{
	background-image:url(comment/good.png);
	background-repeat:no-repeat;
	background-position:right top;	
	color:#026324;
}
#moderacion .content .valoracionBad{
	background-image:url(comment/bad.png);
	background-repeat:no-repeat;
	background-position:right top;
	color: #F00;
}
#moderacion .content .lista .item{
	clear:both;
	width:562px;
}
#moderacion .content .itemRight{
	float:right;
	color:#000;
	font-size:11px;
	margin-bottom:5px;
}
#moderacion .content .itemLeft{
	float:left;
	border:1px solid #999;
}
#moderacion .content .superior{
	background-color:#DBDBDB;
	width:492px;
	height:16px;
	padding:6px;
}
#moderacion .content .credit{
	font-size:10px;
	float:left;
}
#moderacion .content .comment{
	clear:both;
	margin-top:2px;
	background-color:#EDEBEB;
	padding:6px;
}
/*itemComment*/
/*form*/
#moderacion .content .form{
	clear:both;
}
#dejarMsgAviso{
	display:none;
}
#moderacion .content .btnAddComment{	
	background-color:#666;
	width:126px;
	padding:4px;
	margin-top:5px;
}
#moderacion .content .btnAddComment a{
	color:#FFF;
	text-decoration:none;
}
#moderacion .content .btnAddComment a:hover{
	text-decoration:underline;
}
/*form*/
/*links*/
.linkWhite, .linkBlack{
	display:block;
	margin-right:2px;
	margin-left:2px;
	text-decoration:none;
	float:left;
}
.linkWhite:hover, .linkBlack:hover{
	text-decoration:underline;
}
.linkWhite{
	color:#FFF;
}
#moderacion .content .linkBlack{
	color:#000;
	font-weight:bold;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
}
#moderacion .content .oculto{
	display:none;
}
#moderacion .content .responseList .globo{
	clear:both;
	position:absolute;
	left:322px;
	background-image:url(comment/back.jpg);
	color:#000;
	padding:4px;
	width:157px;
	height:14px;
}
#moderacion .content .globo{
	clear:both;
	position:absolute;
	left:588px;
	background-image:url(comment/back.jpg);
	color:#000;
	padding:4px;
	width:157px;
	height:14px;
}
#moderacion .btnViewAll{	
	clear:both;
	display:block;
	margin-left:auto;
	margin-bottom:5px;
	background-image:url(comment/viewmore.jpg);
	background-repeat:no-repeat;
	width:110px;/*129*/
	height:18px;
	font-size:9px;
	padding-left:22px;
	padding-top:4px;
}
#moderacion .content .btnHiddenAll{
	clear:both;
	margin-left:auto;
	margin-bottom:5px;
	background-image:url(comment/viewmin.jpg);
	background-repeat:no-repeat;
	width:62px;/*81*/
	height:18px;
	font-size:9px;
	padding-left:22px;
	padding-top:4px;
}
#moderacion .content .blue{
	color:#03C;
}
/*links*/
/*operacionesAdicionales*/
#moderacion .content .operacionesAdicionales{
	float:right;
	margin-top:-3px;
}
#moderacion .content .btnResponder{
	float:right;
	background-image:url(comment/response.jpg);
	background-repeat:no-repeat;
	width:93px;
	height:22px;
	padding-right:4px;
}
#moderacion .content .btnReportar{
	float:right;
	background-image:url(comment/report.jpg);
	background-repeat:no-repeat;
	width:28px;
	height:22px;
	margin-top:-3px;
}
#moderacion .content .btnCancelComment a{
	color:#FFF;
	text-decoration:none;
}
#moderacion .content .btnCancelComment a:hover{
	text-decoration:underline;
}
#moderacion .content .btnDelete{
	float:right;
	width:42px;
	margin-top:-3px;
	padding:4px;
}
#moderacion .content .btnEdit{
	float:right;
	width:22px;
	margin-top:-3px;
	padding:4px;
}
#moderacion .content .btnBan{
	float:right;
	width:80px;
	margin-top:-3px;
	padding:4px;
}
/*operacionesAdicionales*/
/*miniFormRespuesta*/
#moderacion .content .item .miniFormRespuesta{
	clear:both;
	margin-left:30px;
}
#moderacion .content .responseList .miniFormRespuesta{
	clear:both;
	margin-left:-30px;
}
#moderacion .content .miniFormRespuesta .btnsComment{
}
#moderacion .content .miniFormRespuesta .btnAddComment{
	float:left;
	margin-right:5px;
	background-color:#666;
	width:70px;
	text-align:center;
	padding:4px;
	margin-top:5px;
}
#moderacion .content .miniFormRespuesta .btnCancelComment{
	float:left;
	margin-right:5px;
	background-color:#666;
	width:60px;
	padding:4px;
	margin-top:5px;
	text-align:center;
}
#moderacion .content .miniFormRespuesta .botonera{
	width:520px;
}
#moderacion .content .miniFormRespuesta .txt{
	width:522px;
}
#moderacion .content .responseList, #moderacion .content .responseListHidden{
	margin-left:58px;
	width:488px;
}
#moderacion .content .responseListHidden{
	visibility:hidden;
	display:none;
}
#moderacion .content .responseList .item, #moderacion .content .responseListHidden .item{
	width:488px;
}
#moderacion .content .responseList .itemLeft, #moderacion .content .responseListHidden .itemLeft{
	width:50px;
}
#moderacion .content .responseList .itemRight, #moderacion .content .responseListHidden .itemRight{
	width:428px;
}
#moderacion .content .responseList .superior, #moderacion .content .responseListHidden .superior{
	width:428px;
}
#moderacion .content .responseList .comment, #moderacion .content .responseListHidden .comment{
	width:428px;
}
#moderacion .content .responseList .globo{
	margin-left:265px;
}
#moderacion .content .textarea{
	*margin-left:-30px;
}
#moderacion .content .responseList .miniFormRespuesta .textarea{
	*margin-left:30px;
}
/*miniFormRespuesta*/
/***********COMMENTS*/
._____Users_____{}
.banned{
	border: 1px solid #F00;
}
.normal{
}
.usercardMini75px {
	background-color: #333;
	padding: 1px;
	width: 250px;
}
.usercardMini75px .userImg {
	background-position:10px 8px;
	background-repeat:no-repeat;
	float:left;
	height:95px;
	width:95px;
	z-index: 1;
}
.usercardMini75px .data .nombreuser {
	font-weight: bold;
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
	padding-top: 2px;
	padding-bottom: 3px;
	text-align: left;
}
.usercardMini75px .data {
	font-size: 11px;
	color: #FFF;
	text-align: left;
	float: right;
	width: 153px;
	margin-top: 0px;
}
.usercardMini75px .UserMirrors {
	clear: both;
	font-size: 11px;
	line-height: 12px;
	color: #FFF;
}
.usercardMini75px .UserMirrors .titleserver {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.usercardMini75px .userImg img {
}
.usercardMini75px .niveluser {
	font-family: Verdana, Geneva, sans-serif;
	width: 250px;
	text-align: center;
	height: 15px;
	color: #FFF;
	clear: both;
	font-size: 11px;
	z-index: 10;
	font-weight: bold;
}
.usercardMini75px .state_banned{
	background-image:url(usercard/User0x75.png);
	width:98px;
	height:95px;
}
.usercardMini75px .state_user{
	background-image:url(usercard/User1x75.png);
	width:98px;
	height:95px;
}
.usercardMini75px .state_collaborator{
	background-image:url(usercard/User2x75.png);
	width:98px;
	height:95px;
}
.usercardMini75px .state_moderator{
	background-image:url(usercard/User3x75.png);
	width:98px;
	height:95px;
}
.usercardMini75px .state_admin{
	background-image:url(usercard/User4x75.png);
	width:98px;
	height:95px;
}
#usercardDDDD{
	line-height:16px;
	padding:4px;
	width:560px;
	font-size:11px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	background-image: url(UserColab/BackgrountusercardDD.jpg);
	background-repeat: repeat-x;
	background-position: 0px -30px;
}
#usercardDD .avatar{
	float:left;
}
#usercardDD .userImg {
	font-family: Arial, Helvetica, sans-serif;
	background-position:13px 10px;
	background-repeat:no-repeat;
	float:left;
	height:127px;
	width:131px;
}
#usercardDD .data{
	float:left;
	padding-left:5px;
	width:255px;
	padding-top: 5px;
}
#usercardDD .data h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #333;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#usercardDD .data h1{
	line-height:18px;
	color:#000;
	margin:0px;
	padding:0px;
	width:250px;
}
#usercardDD .saltodelinea{
	clear:both;
}
#usercardDD .UserMirrors {
	width: 160px;
	float: right;
	text-align: right;
	padding-right: 5px;
}
#usercardDD .UserMirrors h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	margin: 0px;
	padding: 0px;
}
#usercardDD .UserMirrors .mirro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	padding-right: 8px;
	color: #333;
	text-decoration: none;
}
#usercardDD .UserMirrors .mirro:hover {
	font-weight:bolder;
	text-decoration: underline;
	}
.seguiruser {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #3489C8;
	width: 130px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	font-weight: bold;
	padding-left: 30px;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 2px -520px;
	text-decoration: none;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.seguiruser span {
	font-size: 10px;
}
.seguiruser:hover {
	color: #F60;
	background-position: 2px -540px;
}
.noseguiruser {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #F60;
	
	width: 160px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	font-weight: bold;
	padding-left: 30px;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 2px -540px;
	text-decoration: none;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.seguiruser span {
	font-size: 10px;
}
.noseguiruser span {
	font-size: 10px;
}
.noseguiruser:hover {
	color: #3489C8;
	background-position: 2px -520px;
	
}
#usercardDD .data .siguirUsuario {
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -460px;
	display: block;
	height: 20px;
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #06F;
	padding-left: 23px;
	padding-top: 2px;
}
#usercardDD .data .siguirUsuario:hover {
	color:#F60;
	text-decoration: underline;
	cursor: pointer;
}
.usercardAlertas50px {
	background-color: #FFF;
	width: 500px;
	color: #000;
	padding: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.usercardAlertas50px:hover {
background-color: #F8F8F8;
}
.usercardAlertas50px .userImg {
	background-position:5px 5px;
	background-repeat:no-repeat;
	float:left;
	height:60px;
	width:60px;
	z-index: 1;
}
.usercardAlertas50px .data .nombreuser {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
	height: 14px;
	color: #333;
}
.usercardAlertas50px .data {
	font-size: 11px;
	text-align: left;
	float: left;
	width: 153px;
	margin-top: 0px;
	padding-left: 10px;
}
.usercardAlertas50px .UserMirrors {
	clear: both;
	font-size: 11px;
	line-height: 12px;
}
.usercardAlertas50px .UserMirrors .titleserver {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.usercardAlertas50px .niveluser {
	font-family: Verdana, Geneva, sans-serif;
	width: 250px;
	text-align: left;
	height: 15px;
	clear: both;
	font-size: 11px;
	z-index: 10;
	font-weight: bold;
}
.usercardAlertas50px .state_banned{
	background-image:url(usercard/User0x75.png);
	width:98px;
	height:95px;
}
.usercardAlertas50px .state_user{
	background-image:url(usercard/User1x75.png);
	width:98px;
	height:95px;
}
.usercardAlertas50px .state_collaborator{
	background-image:url(usercard/User2x75.png);
	width:98px;
	height:95px;
}
.usercardAlertas50px .state_moderator{
	background-image:url(usercard/User3x75.png);
	width:98px;
	height:95px;
}
.usercardAlertas50px .state_admin{
	background-image:url(usercard/User4x75.png);
	width:98px;
	height:95px;
}
.listaAlerta  .EnlacesColaboradores .verenleces {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #06C;
	text-decoration: none;
	margin-top: 8px;
	display: block;
	text-align: left;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: left -462px;
	height: 18px;
	padding-left: 25px;
}
.listaAlerta  .EnlacesColaboradores .borrarUser {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #900;
	text-decoration: none;
	margin-top: 8px;
	display: block;
	text-align: left;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: left -582px;
	height: 18px;
	padding-left: 25px;
}
.listaAlerta  .EnlacesColaboradores a:hover{
	text-decoration:underline;	
}
.listaAlerta .EnlacesColaboradores {
	width: 130px;
	float: right;
}
.listaAlerta  .userImg img {
	height: 60px;
	width: 60px;
}
/*USERCARD Login*/
#usercardLogin{

}
#usercardLogin .opciones{
	clear:both;
	width:240px;
	padding-left:0px;
	padding-top:4px;
	padding-bottom:10px;
	text-align:center;
}
#usercardLogin .btnEdit{
	display:block;
	float:left;
	background-image:url(usercard/btnedit.jpg);
	background-repeat:no-repeat;
	width:100px;
	height:18px;
	padding-left:10px;
	padding-top:3px;
	font-size:11px;
	margin-right:15px;
}
#usercardLogin .btnExit{
	display:block;
	margin-left:0px;
	float:left;
	background-image:url(usercard/btnexit.jpg);
	background-repeat:no-repeat;
	width:94px;
	height:18px;
	padding-left:15px;
	padding-top:3px;
	font-size:11px;
}
#usercardLogin .userImg {
	font-family: Arial, Helvetica, sans-serif;
	background-position:10px 10px;
	background-repeat:no-repeat;
	float:left;
	width:95px;
	height:95px;
}
#usercardLogin .data{
	float:right;
	padding-left:3px;
	width:140px;
	padding-top: 5px;
	font-size:12px;
}
#usercardLogin .data .nombreuser {
	font-weight: bold;
	color: #000;
	font-size: 16px;
	line-height: 18px;
	padding-top: 2px;
	padding-bottom: 3px;
	text-align: left;
}
/*****OpcionesUser****/
#opcionesUser {
	padding-bottom:8px;
	padding-left:10px;
}
#opcionesUser .opcion{
	display:block;
	width:220px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding-left:18px;
	padding-bottom:4px;
}
#opcionListado{
	background-image:url(usercard/iconlista.gif);
	background-repeat:no-repeat;
	background-position:2px 0px;
}
#gestionAlertas{
	background-image:url(usercard/iconreloj.gif);
	background-repeat:no-repeat;
}
#opcionTemas{
	background-image:url(usercard/iconpaint.gif);
	background-repeat:no-repeat;
}
#opcionModerador{
	background-image:url(usercard/iconmod.gif);
	background-repeat:no-repeat;
}
.___ObcionUserColaborador{}
#opcionColaboradordwd_dds{
	background-image:url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	background-position: -2px -601px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#opcionColaboradordwd_ees{
	background-image:url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	background-position: -2px -641px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#opcionColaboradordwd_tts{
	background-image:url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	background-position: -2px -621px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#opcionColaboradordwd_vvs{
	background-image:url(imgs/mini_iconos.gif);
	background-repeat:no-repeat;
	background-position: -2px -662px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#opcionesUser .opcion:hover{
	text-decoration:underline;
}
#opcionesUser a{
	text-decoration:none;
}
#opcionesUser a:hover{
	text-decoration:underline;
}
.opcionesUser_field{
	clear:both;
	width:300px;
	padding:4px;
	height:20px;
}
.opcionesUser_field label{
	float:left;
	font-weight:bold;
}
.opcionesUser_field select{
	float:right;
	width: 150px;
}
#opcionesUser_servers{
	clear:both;
	padding:0px 8px 4px 10px;
	width: 330px;
}
#opcionesUser_servers .fila{
	clear:both;
	width: 330px;
}
#opcionesUser_servers .item{
	float:left;
	width:150px;
}
.opcionesUser_tema{
	margin:2px;
	padding:2px;
	width:228px;
	height:40px;
	background-color: #EFEDED;
	border:2px solid #999;
	color:#000;
	font-weight:bold;
}
.opcionesUser_tema .left{
	float:left;
	padding:4px;
}
.opcionesUser_tema .right{
	float:right;
	padding:4px;
}
.opcionesUser_tema .salto{
	clear:both;
}
.saltodelineaUser{
	clear:both;
}
.linkModerador{
	color:#666;
	text-decoration:none;
}
.linkModerador:hover{
	text-decoration:underline;
}
/*****OpcionesUser****/
._____Alertas_____{}
.Alertas{
		background:url(alertas/Alert.jpg);
		width:30px;
		height:30px;
		float:right;
}
.opcionesAlertas{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	
}
.verTodasMisAlertas{
	color:#FF6600;
	font:Arial, Helvetica, sans-serif 12px;
}
.verTodasMisAlertas:hover{
	color:#0066FF;
}
#esplicacionesAlertas{
	font-size:10px;
	color:#666666;
	cursor:help;
}
.TipsAlerta{
	background:url(alertas/question.jpg);
	background-position:right center;
	background-repeat:no-repeat;
	display:inline-block;
	height:15px;
	padding-right:17px;
	color:#FF6600;
}
.TipsAlerta:hover{
	color:#0066FF;
}
.listaAlerta{
	float:left;
	padding-left:20px;
	width:600px;
	padding-top: 30px;
}
.TitulosAlertas{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	height:50px;
	background-image:url(alertas/Alerttitulo.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
.listaAlerta .subcripciones {
	width: 500px;
	border: 1px dashed #CCCCCC;
	padding: 5px;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.listaAlerta #subcripciones{
	/*height:250px;*/
}
.listaAlerta .AlertasLinks {
	background-image:url(alertas/Alert2.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	padding-left: 35px;
	padding-top: 5px;
	height: 20px;
	display: block;
	margin-bottom: 5px;
}
.listaAlerta .AlertasLinks:hover {
	background-position:left -25px;
}
.listaAlerta .mifichas .data .imgmini {
	width: 50px;
	padding: 2px;
	float: left;
}
.listaAlerta .mifichas {
	width: 230px;
	float: left;
	height: 100px;
	padding: 2px;
	margin-left: 10px;
	border: 1px solid #999;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.listaAlerta .mifichas:hover {
	background-color:#F8F8F8;
	}
.listaAlerta .mifichas .data {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
.listaAlerta .mifichas .data .tiposuscrip {
	color: #06C;
	width: 225px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}
.listaAlerta .mifichas .data .tiposuscrip a {
	font-weight: bold;
	text-decoration: none;
	color: #06C;
	font-size: 13px;
}
.listaAlerta .mifichas .dwd_tts {
	float: right;
	width: 140px;
	margin-top: 6px;
	height: 70px;
	background-image: url(default_img/dwd_tts.png);
	background-position: right top;
	padding-right: 30px;
	background-repeat: no-repeat;
	font-size: 11px;
	text-align: center;
}
.listaAlerta .mifichas .dwd_dds {
	float: right;
	width: 140px;
	margin-top: 6px;
	height: 70px;
	background-image: url(default_img/dwd_dds.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 30px;
	font-size: 11px;
	text-align: center;
}
.listaAlerta .mifichas .dwd_ees {
	float: right;
	width: 140px;
	margin-top: 6px;
	height: 70px;
	background-image: url(default_img/dwd_ees.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 30px;
	font-size: 11px;
	text-align: center;
}
.listaAlerta .mifichas .dwd_vvs {
	float: right;
	width: 140px;
	margin-top: 6px;
	height: 70px;
	text-align: center;
	background-image: url(default_img/dwd_vvs.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 30px;
	font-size: 11px;
}
.listaAlerta .mifichas .todasD {
	float: right;
	width: 140px;
	margin-top: 6px;
	height: 70px;
	font-size: 11px;
	background-image: url(default_img/todasD.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 30px;
	text-align: center;
}
.mifichas .borrarFicha {
	display: block;
	width: 100px;
	font-size: 12px;
	color: #900;
	margin-top: 10px;
	height: 18px;
	text-decoration: none;
	background-image: url(imgs/mini_iconos.gif);
	background-repeat: no-repeat;
	background-position: 0px -580px;
	padding-left: 20px;
	padding-top: 2px;
	text-align: left;
}
.mifichas .borrarFicha:hover {
	text-decoration:underline;
}
.listaAlerta .mifichas .data .tiposuscrip a:hover {
	color: #F63;
}
.servers{
	width:200px;
	height:120px;
}
.btnvermas_user{
	clear:both;
	display:block;
	padding:4px;
}
