﻿/* CSS layout */

/* GENERAL SETTING */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #000000;
}
a:link {
	color: #114477;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #114477;
}


.FontCategory {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #BC0000;
}
.FontCategorySml {
	font-style: normal;
	font-variant: normal;
	color: #BC0000;
}

FontBodyLive {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #666666;
	text-decoration:none;
}
A.FontBodyLive {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #ff3300;
}

.FontFlashInfoCI {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
}

.FontFlashInfoInter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.FontCategoryLive {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #666666;
}
A.FontCategoryLive {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #666666;
	text-decoration:none;
}
A.FontCategoryLive:hover {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #ff3300;
	text-decoration:underline;
}


/* GRAND MENU PRINCIPALE */

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 16px Arial, Helvetica, sans-serif}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 10px 10px;
	width: 129px;
	background: #ECECEC;
	color: #000000;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
	{	background: #D51835;
		color: #FFFFFF}
		
#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	border: 1px solid #ECECEC}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 10px 15px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #000000;
		color: #FFFFFF;
		font: 12px Arial, Helvetica, sans-serif}

	#sddm div a:hover
	{	background: #D51835;
		color: #FFFFFF}





/* LEGISLATIVES 2011 PAGE D'ENTREE */

.CadreCandidatNom {
	font-family: verdana;
	font-size: xx-small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}


.FontCategoryGd {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #BC0000;
	font-size:13px;
}

.FontMainTitle {
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}

.FontMainTitle-orange {
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	color:#ee7f00;
}

.FontMainTitleSml {
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	font-size:11px;
}


.FontPharmacie {
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	font-size: small;
}




/* Effet sur les images avec l'ombre */

img.shadow {
	background: url(http://www.abidjan.net/images/shadow-1000x1000.gif) no-repeat right bottom;
	padding: 5px 10px 10px 5px;
}





fieldset.search {
	border: none;
	width: 243px;
	margin: 0 auto;
	background: #fffff;
}
.search input, .search button {
	border: none;
	float: left;
}
.search input.box {
	color: #fff;
	font-size: 1.2em;
	width: 190px;
	height: 30px;
	padding: 8px 5px 0;
	background: #616161 url(http://www.abidjan.net/photos/search_bg.gif) no-repeat;
	margin-right: 5px;
}
.search input.box:focus {
	background: #616161 url(http://www.abidjan.net/photos/search_bg.gif) no-repeat left -38px;
	outline: none;
}
.search button.btn {
	width: 38px;
	height: 38px;
	cursor: pointer;
	text-indent: -9999px;
	background: #fbc900 url(http://www.abidjan.net/photos/search_bg.gif) no-repeat top right;
}
.search button.btn:hover {
	background: #fbc900 url(http://www.abidjan.net/photos/search_bg.gif) no-repeat bottom right;
}







/* Pointiller de separation */

.pointille {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 10px;
	border-top-color: #DCDCDC;
}

.pointilleShadow {
	background: url("http://www.abidjan.net/images/bckgnd-menu-rubrik.gif") repeat-x scroll center bottom #FFFFFF;
	border-bottom: 1px dotted rgb(153, 153, 153);
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	border-bottom-color: #DCDCDC;
}

.pointille-orange {
	border-top: 1px dotted #ee7f00; 
	margin-top: 10px; 
	padding-bottom: 10px;
}

.pointille-h15 {
	border-top: 1px dotted rgb(153, 153, 153); 
	margin-top: 8px; 
	height:8px;
}

.pointille-menu {
border-top:1px dotted #B4B3B3;
height:1px;
margin-top:2px;
padding-bottom:2px;
}

.pointilleGreen {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 10px;
	border-top-color: rgb(185, 227, 70);
}
.pointilleHrGreen {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 2px;
	border-top-color: rgb(185, 227, 70);
}

.images {
	border-style: solid;
	border-width: 1px;
	margin-left: 5px;
	margin-right: 5px;
}


/* LAYOUT */

#masthead {
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}
#masthead2 {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}


#top_nav {
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}
#top_nav2 {
	width: 751px;
	margin-right: auto;
	margin-left: auto;
}

#top_nav_menu {
	padding: 5px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #EFEFEF;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C0C0C0;
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
}

#top_nav_menu_reseau_weblogy {
	padding: 8px;
	width: 1045px;
	margin-right: auto;
	margin-left: auto;
	background-color: #2C2C2C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
}


#container {
	padding: 5px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}

#container-module {
	padding: 5px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}


#container2 {
	padding: 0px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}


#right_col {
	width: 300px;
	float: right;	
}

#page_content {
	margin-right: 310px;
	height: auto;
}
#page_content2 {
	height: auto;
}


#right_col_content {
	margin-right: 0px;
	float: right;
	width: 300px;	
}

#left_col_content {
	margin-right: 310px;

}

#page_content_bottom {
	margin-right: 310px;
}

#right_col_content_bottom {
	margin-right: 0px;
	float: right;
	width: 300px;
}

#left_col_content_bottom {
	border-color: #830000;
	margin-right: 310px;
}


#footer {
	width: 1050px;
	right: auto;
	left: auto;
	clear: both;
	background-color: #FFFFFF;	
}

/* LAYOUT MODULE */


.boxNavigationPosition {
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #ECECEC;
	border-bottom-color: #ECECEC;
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
	color: #808080;
}

.FontboxNavigationPosition {
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
	color: #808080;
}


.box {
	border-top: 6px solid #ECECEC;
	padding: 3px;
	border-left-color: #ECECEC;
	border-left-width: 10px;
	border-right-color: #ECECEC;
	border-right-width: 10px;
	border-bottom-color: #ECECEC;
	border-bottom-width: 10px;
}


.newBox {
	border-top: 6px solid #ECECEC;
	padding: 3px;
	border: 1px solid #DCDCDC;
	background-color: #ECECEC;
}

.contentBox {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
}

.fullContentBox {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
}
.fullContentBoxFlashInter {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px 5px 5px 0px;
}


.fullContentBoxService {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
	height: 240px;
}

.newBoxFlashInfoHot {
	border-top: 6px solid #D51835;
	padding: 5px;
	border: 1px solid #D51835;
	background-color: #F9F9F9;
}


.newBoxFlashInfo {
	border-top: 6px solid #D51835;
	padding: 3px;
	border: 1px solid #D51835;
	background-color: #D51835;
}

.fullContentBoxFlash {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px 5px 5px 0px;
	background-color: #F5F5F5;
}

.fullContentBoxDepeche {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
	background-color: #F5F5F5;	
}


.boxRed {
	border-top: 6px solid #830000;
	padding: 3px;
	border-left-color: #830000;
	border-left-width: 10px;
	border-right-color: #830000;
	border-right-width: 10px;
	border-bottom-color: #830000;
	border-bottom-width: 10px;

}

.boxBlack {
	border-top: 6px solid #000000;
	padding: 3px;
	border-left-color: #000000;
	border-left-width: 10px;
	border-right-color: #000000;
	border-right-width: 10px;
	border-bottom-color: #000000;
	border-bottom-width: 10px;

}

.boxTitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #222222;
}
.boxTitreLive {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #ff3300;
}

.boxTitreWhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #FFFFFF;

}

.boxTitreRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #830000;

}

.boxTitreFluo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #819401;

}


.boxTitreOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #ff9900;

}

.boxTitreYellow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #ffcc00;

}


h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #FF0000;
}
.fullbox {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ECECEC #ECECEC #ECECEC #ECECEC;
	padding: 3px;
}

.boxRedbgGris {
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	border-color: #830000;
	padding: 5px;
	background-color: #FAFBFC;
}


.boxServices {
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	border-color: #000000;
	padding: 5px;
}



.fullboxbgGrisClair {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ECECEC #ECECEC #ECECEC #ECECEC;
	padding: 3px;
	background-color: #F8F8F8;
}


.fullboxYellow {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ffcc00 #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
}

.fullboxblue {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #8083E0 #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
}

.fullboxblack {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #000000 #ECECEC #ECECEC #ECECEC;
	padding: 3px;
}


.fullboxLive {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ff3300 #ff3300 #ff3300 #ff3300;
	height:204px
	padding: 3px;
	background-image:url('../images/live/bckgnd-encart-live.gif')
}


.fullboxJaune {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ffe405 #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
}
.fullboxJauneF {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #e7fc57 #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
}


.fullboxRed {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #830000;
	padding: 3px;
}


.fullboxOrange {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #E76B13;
	padding: 3px;
}



.fullboxGreen {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #BAE545;
	padding: 3px;
}



.fullboxGreenTitro {
	background-position: bottom;
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	border-color: #BAE545;
	padding: 3px;
	
}


.tableBanner {
	border-right-style: dotted;
	border-right-width: 1px;
	border-right-color: #CCCCCC;
}



.fontText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}


.FontPlusContenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}


.FontTextSousTitle {
	font-family: verdana;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}


.FontTextSousTitleViolet {
	font-family: verdana;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #c793fe;
}


.FontArticleMainTitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.p {
	margin-bottom: 2px;
	margin-top: 8px;
}


.PhotoVideoUne {
	text-align: center;
}


.ALaUne {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: small;
	font-weight: bold;
	font-style: normal;
	color: #666666;
	font-variant: normal;
}

/* LOGO ABIDJAN.NET */

#logo_content {
	float: left;
	width: 260px;
	height: 60px;
}

.logo {
	margin: 5px;
}



/* PENSEE DU JOUR */

#Pensee_content {
	margin-right: 0px;
	width: 500px;
	text-align: center;
	height: auto;
}

.PenseeTableau {	
	white-space: nowrap;}


.PenseeTalkBull {	
	padding: 5px; 
	border: 2px solid #ECECEC; 
	width: auto; 
	height: auto; 
	right: auto; 
	left: auto;	
	text-align: left;	
}

.PenseeTalkArrow {
	vertical-align: top;
}

.PenseeAuthorImage {
	border-style: solid;
	border-width: 1px;
	margin: 5px;
	vertical-align: middle;
}

.PenseeAuthorName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	font-style: normal;
}


/* PRESSE */

.FontArticleMainTitle {
	/* font-family: "Times New Roman", Times, serif; */
	font-family: "TheSerifOffice", georgia, serif;
	font-size: 22px;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.FontArticleTitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontTitleDepeche {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontArticleSource {
	font-family: verdana;
	font-size: x-small;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}
.FontArticleDate {
	font-family: verdana;
	font-size: xx-small;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
}
.Legende {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}


/* TRICKER */

.TrickerBgColor {
	background-color: #F5F5F5;
}
.TrickerCenterCell {
	text-align: center;
}
.TrickerFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.pointilleVertical {
	border-right-style: dotted;
	border-right-width: 1px;
	border-right-color: #DCDCDC;
}



/* RELATTED ARTICLES */

.pointilleVerticalLeft {
	border-Left-style: dotted;
	border-Left-width: 1px;
	border-Left-color: rgb(153, 153, 153);
}

.FontTitleRelatedDepeche {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


/* AGENDA */

.Agenda_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	font-style: normal;
}

li {
	list-style-type: square;
	list-style-position: inside;
}

.MainCategoryFont {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.MainCategory {
	border-right-style: dotted;
	border-right-width: 1px;
	border-right-color: rgb(153, 153, 153);
}



.CategoryArticleTitle {
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
	font-size: 19px;
	line-height: 21px;
	text-align: left;
	text-transform: uppercase;
	color: #D10000;
}


/* FLOATING AD */

#flotingad {
	margin: auto;
	position: absolute;
	visibility: visible;
	top: 450px;
	left: 309px;
	width: 500px;
	height: 500px;
	z-index: 1;
}
.FontRubriqueName {
	font-family: "Times New Roman", Times, serif;
	color: #0045A3;
	font-size: 30px;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}



/* Abidjan.net Paroles
------------------------------------------ */

/*#container {width:727px; padding:0 0 50px; margin:0 auto;}*/

.example-right {
	position: relative;
	padding: 5px 30px;
	margin: 0;
	color: #000000;
	background: #ECECEC;
/* default background for browsers without gradient support */ /* css3 */	border-radius: 15px; /* NOTE: webkit gradient implementation is not as per spec */;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ECECEC));
	background: -moz-linear-gradient(top, #FFFFFF, #ECECEC);
	background: -o-linear-gradient(top, #FFFFFF, #ECECEC);
	background: linear-gradient(top, #FFFFFF, #ECECEC);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	font-style: italic;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-right + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.example-right:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-50px;
	left:50px;
	width:0;
	height:0;
	border-width:0 20px 50px 0px;
	border-style:solid;
	border-color:transparent #ECECEC;
}




/* Bubble pour GRAND QUESTIONS pour les commentaires
------------------------------------------ */

.triangle-isosceles-QUESTIONS {
   position:relative;
   padding:15px;
   margin:1em 0 1.5em;
   color:#000;
   background:#FEDE5C;

   /* css3 */
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   background:-moz-linear-gradient(top, #f9d835, #f3961c);
   background:linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles-QUESTIONS:after {
   content:"";
   display:block; /* reduce the damage in FF3.0 */
   position:absolute;
   bottom:-15px;
   left:40px;
   width:0;
   border-width:15px 15px 0;
   border-style:solid;
   border-color:#FEDE5C transparent;
}


.triangle-isosceles-REPONSES {
   position:relative;
   padding:15px;
   margin:1em 0 1.5em;
   color:#000;
   background:#F5F5F5;

   /* css3 */
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   background:-moz-linear-gradient(top, #f9d835, #f3961c);
   background:linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles-REPONSES:after {
   content:"";
   display:block; /* reduce the damage in FF3.0 */
   position:absolute;
   bottom:-15px;
   left:40px;
   width:0;
   border-width:15px 15px 0;
   border-style:solid;
   border-color:#F5F5F5 transparent;
}









.Parole_Photo {
	border-style: solid;
	border-width: 1px;
	margin-left: 5px;
	margin-right: 5px;
}
.slm-txt-gray-italik {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: italic ;
	font-variant: normal;
	color: #ff6600;
}
.smlboxgray {
	border-style: dotted;
	border-width: 1px 1px 1px 1px;
	border-color: #CCCCCC #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
	background-color:#f9f4fe;
}
.smlboxmoov {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ECECEC #ECECEC #ECECEC #ECECEC;
	padding: 1px;
}
.TDMenuDTop {
    border-top: 1px dotted;  
    border-bottom: 1px dotted;  
    border-color: #9798AA;
    background-color: #FFFFFF;
    height: 29px;
    color: #363740;
    width:auto
}

.pointille-menu {
	border-top: 1px dotted #b4b3b3; 
	margin-top: 2px; 
	padding-bottom: 2px;
	height:1px;
}

.td_pointille-b {
	border-bottom: 1px dotted #b4b3b3;
	height:24px; 
}

.text-rg-A24 {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #db3f42;
	font-weight:bold;
}
.text-blue-A24 {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #1f3e6a;
	font-weight:bold;
}


.whitebgChat {
	background-color: #FFFFFF;
}

.cadreIphone{
  background-image:url(http://www.abidjan.net/images/img_abidjan-net_iphone.gif);
  background-repeat: no-repeat;
  height:120px;
  width:300px;
  padding-top:42px;
}

.barreSeparation {
	border-style: solid;
	border-width: 10px 0px 1px 0px;
	border-color: #ECECEC #ECECEC #ECECEC #ECECEC;
	padding:3px;
}

#icone a.bouton:hover {
    background-position: 0px -22px;
}

#icone a.bouton {
    background: url("http://www.abidjan.net/mobile/images/btn_download_app.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    height: 22px;
    vertical-align: middle;
    width: 217px;
}

/*----------------------- Style Encart Video sponsorisee ------------------------------------*/
.fullboxVertFonce {
    background-color: #008f58;
    border-color: #008f58;
    border-style: solid;
    border-width: 10px 1px 5px;
    padding: 3px;
}

.fullboxVidSponRouge {
    background-color: #B30000;
    border-color: #B30000;
    border-style: solid;
    border-width: 10px 1px 5px;
    padding: 3px;
}

.boxTitreVidSpons {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #000000;
	padding-left:5px;
}


.boxTitreOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: ffad37;
	padding-left:5px;
}

.linkwhite {
	color: #FFFFFF;
}
A.linkwhite {
	color: #FFFFFF;
	text-decoration:none;
}


/*-----------------------End Moov ------------------------------------*/

.pointilleMenuRubrk {
	border-top: 1px dotted rgb(153, 153, 153); 
	margin-top: 5px; 
	padding-bottom: 0px;
}
.lignMenuRubrk {
	background: url("http://www.abidjan.net/images/bckgnd-menu-rubrik.gif") repeat-x scroll center bottom #FFFFFF;
	border-bottom: 1px dotted rgb(153, 153, 153);
	margin: 0px;
	padding: 2px 2px 8px 2px;
	height: 25px;
	/*border-bottom-color: #DCDCDC;	*/
}
.LinkMenuRubrk {
	margin: 0px; 
	padding: 0px 2px;
	height:25px;
	width:230px;
	text-align:left;
	float:left;
	line-height:25px;
	vertical-align:middle;
	/*border-style:solid;
	border-width:1px;
	border-color: blue;*/
}
.ImgMenuRubrk {
	margin: 2px 0; 
	padding: 0px;
	height:25px;
	width:35px;
	text-align:left;
	float:left;
	/*border-style:solid;
	border-width:1px;
	border-color:gray;*/
}

/*BACKGROUNG RUBRIQUE SANTE*/
.bckRubSante {
    background: url("http://www.abidjan.net/sante/images/backgnd-rubrk-sante.jpg") no-repeat fixed center top #FFFFFF;
  
}

/*Formulaire bas de page Recensement Ministere FOnction Publique*/
.champ2 {
    border: 1px solid #CCCCCC;
    color: #636262;
    font: 11px Arial,sans-serif;
    height: 15px;
    margin: 0;
    padding: 1px 4px;
    width: 170px;
}

.div_lib2 {
    color: #555555;
    font-size: 12px;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    font-weight:normal;
}

