﻿/* CSS layout */

/* GENERAL SETTING */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #333333;
	background-color:#ECECEC;
}
a:link {
	color: #003266;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #003266;
	font-family: Arial, Helvetica, sans-serif;
}

/***********************DEBUT CESS V3***************************/

#container{width:1050px; margin:0 auto;}
#container-in{width:auto; margin:0 auto;}

#topbar {
	width: 100%;
	min-width:1050px;
	margin: 20px auto 20px;
	background-color: #FFFFFF;
	box-shadow: 1px 5px 2px rgba(0,0,0,.1);
}

#topbar-interne {
	width: 100%;
	min-width:1050px;
	margin: 0 auto 20px;
	background-color: #FFFFFF;
	box-shadow: 1px 5px 2px rgba(0,0,0,.1);
}

#topbar-interne-fixed {
	width: 100%;
	min-width:1050px;
	margin: 0 auto 20px;
	background-color: #FFFFFF;
	box-shadow: 1px 5px 2px rgba(0,0,0,.1);
	position:fixed;
}

.BtnAbnetJaune {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background: #fdcc28;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 6px 10px;
    box-shadow: 0 0 1px #FC0;
    border: 1px solid #e9dfbe;
    font-size: 16px;
	margin-bottom:10px;
	margin-top:10px;
	display:inline-block;
}

#navbar{width:auto; display:block; height:24px;}

#main{width:auto; display:block;}

#content_left{
	width:725px;
	margin-right:20px;
	float:left;
	display:block;
}

#content_left_newsletter{
	width:605px;
	margin-right:20px;
	float:left;
	display:block;
	font-size:13px;
}

#content_left_mini{
	width:676px;
	margin-right:20px;
	float:left;
	display:block;
}


#content_egal_left{
	width:515px;
	margin-right:20px;
	float:left;
	display:block;
}
#content_egal_right{
	width:515px;
	float:left;
	display:block;
}

#content_right{
	width:300px;
	float:left;
	display:block;
}

#content_right_newsletter{
	width:420px;
	float:left;
	display:block;
}

#content_right_large{
	width:354px;
	float:left;
	display:block;
}
#content_trnsp{
	width:300px;
	float:left;
	display:block;
}

#content_top{
	width:724px;
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
}


.content_head_news_left {
    display: block;
    float: left;
    margin-right: 0px;
    width: 725px;
    border-right: 1px dotted #dcdcdc;
}

.content_head_news_right {
  width: 300px;
  float: left;
  display: block;
}

#column_left{
	width:403px;
	margin-right:20px;
	float:left;
}
#column_big_center{
	width:403px;
	float:left;
}

#column_left_300{
	width:300px;
	margin-right:20px;
	float:left;
}

#column_center{
	width:300px;
	margin-right:10px;
	float:left;
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
}

#column_right{
	width:300px;
	float:left;
}


#column_left_f4{
	width:247px;
	margin-right:20px;
	float:left;
}
#column_right_f4{
	width:248px;
	float:left;
}


#column_in_left_f2{
	width:353px;
	margin-right:20px;
	float:left;
}
#column_in_right_f2{
	width:352px;
	float:left;
}



#column_in_left_f3{
	width:228px;
	margin-right:20px;
	float:left;
}
#column_in_right_f3{
	width:228px;
	float:left;
}

#column_in_left_f4{
	width:166px;
	margin-right:20px;
	float:left;
}
#column_in_right_f4{
	width:166px;
	float:left;
}




#column_left_f3{
	width:336px;
	margin-right:20px;
	float:left;
}
#column_right_f3{
	width:337px;
	float:left;
}

#column_right_f2{
	width:515px;
	float:left;
}

#column_left_f2{
	width:515px;
	margin-right:20px;
	float:left;
}

#module_titro{
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	padding: 5px;
}

#module_transp_shadow{
	box-shadow:0px -1px 30px -1px rgba(50, 50, 50, 0.4);
}

#module_docs_top{
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	padding: 5px;
	height:250px
}
#module_docs_bottom{
	background-color: #f5f5f5;
	border: 1px solid #DCDCDC;
	padding: 15px;
	height: 100px;	
	/*width: 195px;*/
	width: 206px;
}

.bottomPicC3{
	background-color: #f5f5f5;
	border: 1px solid #DCDCDC;
	padding: 15px;
	height: 100px;	
	width: 195px;
}


#module_cam_top{
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	width:225px
}
#module_cam_bottom{
	background-color: #f5f5f5;
	border: 1px solid #DCDCDC;
	padding: 15px;
	height: 50px;	
	width:225px
	
}



#module_shadow{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
	-moz-box-shadow: 0 0 20px 0px #888;
	-webkit-box-shadow: 0 0 20px 0px #888;
	box-shadow: 0 0 20px 0px #888;
}	
	
#module{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
}

#moduleSprt{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
	min-height:478px;
	border-bottom:2px solid #84ad09;
}

#moduleSport{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom:2px solid #84ad09;
}

#moduleSportClassement{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom:2px solid #84ad09;
	height:470px;
	overflow:hidden;
}


#moduleSprt img{
	width:317px !important;
}
.module-transp{
	padding:5px;
}


.module-separation{
	border-top:1px solid #DCDCDC;
	padding:10px 5px 0 5px;
}

.module-separation-no-border{
	padding:10px 5px 0 5px;
}



#module_5{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
}

#module_5_gouv{
	background-color:#FFFFFF;
	border:1px solid #D30826;
	padding:5px;
}

#module_5_pmGouv{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
	position:relative;
}


#module_10{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:10px;
}

#module_round{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



#module_page_interne{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
	height:100vh
}


#module-blc{
	background: url("http://www.abidjan.net/images/trame_video.gif") repeat scroll 0 0 #E5E5E5;
    color: #222222;
	border:0px solid #FFFFFF;
	padding:5px;
}


/*-------------------- DEBUT Article --------------------------*/
.LiNews {
	margin: 10px;
	list-style-image: url('http://news.abidjan.net/images/arrow_list.jpg');
	list-style-position: inside;
	list-style-type: square;
}

.FullArticleTexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
	font-weight: normal;
}

/*-------------------- FIN Article --------------------------*/


/*-------------------- DEBUT Bday --------------------------*/

#BdaymoduleTop{
	background-color: #d51834;
	padding: 3px;
	height: 15px;
	width: 40px;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #e5e5e5;
	font-weight: bold;
	
}

#BdaymoduleBottom{
	background-color: #e5e5e5;
	padding: 3px;
	height: 15px;
	width: 40px;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6f6f6f;
	font-weight: bold;
}

#BdayAlign{
float:right;
	margin:5px 0 0;

}

/*-------------------- FIN Bday --------------------------*/


/*
div.spacer, permet de faire deux colonne dans #container
*/

div.spacer{
	clear:both;
	display:block;
	height:20px;
}
div.spacer4{
	clear:both;
	display:block;
	height:4px;
}
#footer{
	width:auto;
	display:block;
	height:40px;
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	}
.h366 {
	height:366px;
}
.h275 {
	height:275px;
}
.h750 {
	height:670px;
}

.h260 {
	height:260px;
}
.h265 {
	height:265px;
}
.h290 {
	height:290px;
}

.h350 {
	height:350px;
}

	
#top_nav_menu_reseau_weblogy {
	/*background-position: left center;*/
	position:relative;
	padding: 8px;
	width: 100%;
	min-width:1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #2C2C2C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-image: url('http://www.abamako.com/images/red_arrow_reseau.jpg');
	background-repeat: no-repeat;
}

#top_nav_menu_interne {
	padding: 5px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #EFEFEF;
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
}


#rsx_fixed{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:3000;
}


/* Fade texte */

.gradientEllipsis {
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
}

.gradientEllipsis .dimmer {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(56%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
    content: "";
}

/* Pointiller de separation */

.pointille {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 10px;
	border-top-color: #DCDCDC;
	font-family: Arial, Helvetica, sans-serif;
}

.pointilleH5 {
    border-top: 1px dotted #dcdcdc;
    margin-top: 5px;
    padding-bottom: 5px;
}

.pointilleH10 {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 5px;
	padding-bottom: 5px;
	border-top-color: #DCDCDC;
	font-family: Arial, Helvetica, sans-serif;
}

.pointille-blc {
	border-top: 2px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 10px;
	border-top-color: #333333;
}

.pointilleAnniversaire {
	border-top: 1px dotted rgb(153, 153, 153);
	/*margin-top: 10px;
	padding-bottom: 10px;*/
	padding-bottom: 5px;
	border-top-color: #DCDCDC;
	font-family: Arial, Helvetica, sans-serif;
}
/* GESTION DES IMAGES */

#img_curve_border {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#img_curve_border_gouv {
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 50%;
}

/* PENSEE DU JOUR */

#Pensee_content {
	margin-right: 0px;
	width: 500px;
	text-align: center;
	height: auto;
}

.PenseeTableau {	
	white-space: nowrap;}


.PenseeTalkBull {	
	padding: 5px; 
	border: 2px solid #ECECEC; 
	width: auto; 
	height: auto; 
	right: auto; 
	left: auto;	
	text-align: left;	
}

.PenseeTalkArrow {
	vertical-align: top;
}

/*
.PenseeAuthorImage {
	border-style: solid;
	border-width: 1px;
	margin: 5px;
	vertical-align: middle;
}
*/

#PenseeAuthorImage {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color:#ECECEC;	
}


.PenseeAuthorName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	font-style: normal;
}


/* PRESSE */

.CategoryArticleTitle {
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 21px;
	text-align: left;
	text-transform: uppercase;
	color: #D10000;
}

.CategoryArticleTitleSml {
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #c40101;
	font-weight:bold;
}

.ArticleEpingle {
	float: right;
	vertical-align: middle;
	margin-top:-15px;
}


.FontMainArticleTitle{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontArticleTitle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.FontTitleRelatedArticle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontTitleDepeche {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontArticleSource {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}
.FontArticleDate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}
.Legende {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}

.FontPlusContenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}


.FontTextSousTitle {
	font-family: verdana;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}


.FontRubriqueName {
	font-family: Arial, Helvetica, sans-serif;
	color: #909090;
	font-size: 22px;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontArticleMainTitle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontArticleEclusif{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

/*--------------------DEBUT TRICKER----------------------------*/
#editorial{
  display:block;
  width:310px;
  height:86px;
  /*background:url("images/logoSIFCA_sp3.jpg") no-repeat;------50 ans*/
  background:url("images/logoSIFCA_sp2.jpg") no-repeat;
  background-position:0 15px;
  margin:0 auto;
  border:dotted 1px #F0F;
}
/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#editorial:hover,#editorial:active,#editorial:focus{
  background-position:0 -105px;
}


.tricker_main{
  display:block;
  width:auto;
  height:85px;
  margin:0 auto;
  background-color:#FFF;
  
 font-family: Arial,Helvetica,sans-serif;
 font-size: x-small;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 clear:both;
  
}
.tricker_main2{
	display:block;
	width:auto;
	height: 98px;
	border-bottom: 1px dotted #DCDCDC;
	background-color:#FFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: x-small;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	clear:both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;  
}

.tricker_main3{
	display:block;
	width:auto;
	height: 85px;
	border-top: 1px dotted #DCDCDC;
	background-color:#FFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: x-small;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	clear:both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;  
}

.in_tricker_main2{
  display:block;
  width:175px;
  height:75px;
  margin-left:0px;
}

/*DEBUT TRICKER 0---------------------*/
#tricker0{
  display:block;
  width:202px;
  height:85px;
  background:url("http://www.abidjan.net/images/logoPETROCI_sp.jpg") no-repeat;
  background-position:5px 8px;
  margin-top:0;
  float:left;
  border-right: 1px dotted #DCDCDC;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker0:hover,#tricker0:active,#tricker0:focus{
  background-position:5px -80px;
}


.link_tricker0{
  display:block;
  width:60px;
  height:85px;
  margin-left:0px;
  float:left;
}

/*Petroci 40ans */

#tricker0-2{
  display:block;
  width:212px;
  height:85px;
  background:url("http://www.abidjan.net/images/logoPETROCI_sp_40ans.gif") no-repeat;
  background-position:0px 5px;
  margin-top:0;
  float:left;
  border-right: 1px dotted #DCDCDC;
  margin-left:10px;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker0-2:hover,#tricker0-2:active,#tricker0-2:focus{
  background-position:0px -97px;
}


.link_tricker0-2{
  display:block;
  width:91px;
  height:76px;
  margin-left:0px;
  float:left;
}

.right_tricker0-2{
	display:block;
	width:110px;
	float:left;
	padding-top:12px;
	margin-left:8px;
}

/*Petroci 40ans */

.link_tricker2{
  display:block;
  width:60px;
  height:85px;
  margin-left:0px;
  float:left;
}

.right_tricker0{
	display:block;
	width:103px;
	float:left;
	padding-top:12px;
}
.lg_tricker0{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:left;
}
.lg_date_tricker0{
  display:block;
  width:98px;
  height:15px;
  margin-bottom:2px;
  float:left;
  text-align:right;
  padding-right:40px;
}

.lg_tricker0-lft{
	width:40px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}

.lg_tricker0-ght{
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	padding-left:4px;
}

.lg_tricker0-mdl{
 width:11px;
 height:15px;
 vertical-align:middle;
 float:left;
 display:block;
 margin:0 2px;
}


/*FIN TRICKER 0---------------------*/

/*DEBUT TRICKER 1---------------------*/
#tricker1{
  display:block;
  width:212px;
  height:85px;
  background:url("http://www.abidjan.net/images/logoECOBANK_sp.jpg") no-repeat;
  background-position:5px 13px;
  margin-top:0;
  float:left;
  border-right: 1px dotted #DCDCDC;
  margin-left:12px;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker1:hover,#tricker1:active,#tricker1:focus{
  background-position:5px -104px;
}

.link_tricker1{
  display:block;
  width:103px;
  height:85px;
  margin-left:0px;
  float:left;
}

.lg_tricker1-lft{
	width:35px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}

.lg_date_tricker1{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:right;
  margin-right:37px;
}

/*FIN TRICKER 1---------------------*/


/*DEBUT TRICKER 2---------------------*/
#tricker2{
	display:block;
	width:285px;
	height:85px;
	background:url("http://www.abidjan.net/images/logoSIFCA_sp2.jpg") no-repeat;
	background-position:0 15px;
	margin-top:0;
	margin-left:10px;
	float:left;
	border-right: 1px dotted #DCDCDC;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker2:hover,#tricker2:active,#tricker2:focus{
  background-position:0 -104px;
}
.right_tricker2{
	display:block;
	width:175px;
	float:left;
	padding-top:12px;
}

.link_tricker2{
  display:block;
  width:108px;
  height:85px;
  margin-left:0px;
  float:left;
}
.lg_tricker2-lft{
	width:77px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}
.lg_date_tricker2{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:right;
  margin-right:15px;
}
.lg_tricker2{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:left;
}

/*FIN TRICKER 2---------------------*/

/*DEBUT TRICKER 3---------------------*/
#tricker3{
  display:block;
  width:280px;
  height:85px;
  /*background:url("http://www.abidjan.net/images/logoBRVM_sp.jpg") no-repeat;*/
  background:url("http://www.abidjan.net/images/sponsoring/logoBRVM_new_sp.jpg") no-repeat;
  background-position:5px 13px;
  margin-top:0;
  margin-left:9px;
  float:left;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker3:hover,#tricker3:active,#tricker3:focus{
  background-position:5px -88px;
}

.link_tricker3{
  display:block;
  width:108px;
  height:104px;
  margin-left:0px;
  float:left;
}
.right_tricker3{
	display:block;
	width:170px;
	float:left;
	padding-top:12px;
}

.lg_tricker3{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:left;
}

.lg_tricker3-lft{
	width:55px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}
.lg_tricker3-ght{
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	padding-right:4px;
}

.lg_date_tricker3{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:left;
}

.link_right_tricker3{
	width:170px;
	height: 63px;
    position: relative !important;
	left: 0 !important;
    top: 0px !important;
    z-index: 20px;	
}

.link_right_tricker3:hover{
	background:url("http://www.abidjan.net/images/sponsoring/arrowR_Sp.gif") no-repeat;
	background-position: 50px 2px ;
	background-color:#FFFFFF;
	opacity:0.7;
}


/*FIN TRICKER 3---------------------*/

/*DEBUT TRICKER 4---------------------*/
#tricker4{
  display:block;
  width:695px;
  height:75px;
  background:url("http://www.abidjan.net/images/logoCCC_OLAM_sp.jpg") no-repeat;
  background-position:0px 8px;
  margin:0 auto;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker4:hover,#tricker4:active,#tricker4:focus{
  background-position:0px -98px;
}
.right_tricker4{
	display:block;
	float:left;
	margin-left: 0px !important;
}
.lg_tricker4-ght{
	height:15px;
	vertical-align:middle;
	float:right;
	display:block;
	padding-left:6px;
	text-align:right;
}

.lg_date_tricker4{
  display: block;
  height: 15px;
  margin-bottom: 2px;
  float: right;
  text-align: right;
  padding-right: 20px;
  margin-left: 10px;
  padding-left: 15px;
  border-left: 1px solid #ddd;
}

.lg_tricker4-lft{
	width:45px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}

.lg_tricker4-lft2{
	width:32px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}


.lg_cBx{
	margin-left: 9px;
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

.lg_tricker4{
  display:block;
  width:140px;
  height:15px;
  margin-bottom:2px;
  float:left;
  margin-left:4px;
}
.link_tricker4-1{
	display:block;
	width:295px;
	height:75px;
	margin-left:0px;
	float:left;
}
.link_tricker4-2{
	display:block;
	width:129px;
	height:75px;
	margin-left:0px;
	float:left;
}



/*FIN TRICKER 4---------------------*/



/*DEBUT TRICKER 4 - V2---------(Only CCC)------------*/
#tricker4-v2{
	display:block;
	width: 396px;
	height: 95px;
	background:url("http://www.abidjan.net/images/logoCCC_OLAM_sp.jpg") no-repeat;
	background-position:0px 8px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 18px;
	float:left;
	border-right: 1px dotted #DCDCDC;

}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
 #tricker4-v2:hover,#tricker4-v2:active,#tricker4-v2:focus{
	background-position:0px -99px;
	float: left;
}

/*FIN TRICKER 4 - V2---------------------*/


/*DEBUT TRICKER 5---------------------*/
#tricker5{
	display:block;
	width:330px;
	height: 95px;
	background:url("http://www.abidjan.net/images/logoBICICI_sp.gif") no-repeat;
	background-position:0 15px;
	margin-top:0;
	margin-left:10px;
	float:left;
	border-right: 1px dotted #DCDCDC;
	
}




/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker5:hover,#tricker5:active,#tricker5:focus{
  background-position:0 -103px;
}
.right_tricker5{
	display:block;
	width:180px;
	float:left;
	padding-top:12px;
}

.link_tricker5{
  display:block;
  width:170px;
  height:85px;
  margin-left:0px;
  float:left;
}
.lg_tricker5-lft{
	width:62px;
	height:13px;
	vertical-align:middle;
	float:left;
	display:block;
	overflow:hidden;
}

.lg_tricker5-lft2{
	width:92px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}


.lg_date_tricker5{
	display:block;
	height:15px;
	margin-bottom:2px;
	float:right;
	/*margin-right:35px;*/
	width: 160px;
	/*text-align: right;*/
}
.lg_tricker5{
	display:block;
	height:15px;
	margin-bottom:2px;
	float:left;
	width: 170px;
}
.lg_tricker5-ght{
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	padding-left:4px;
	width: 87px;
	overflow:hidden;
}

.right_tricker5 {
  display: block;
  width: 160px;
  float: left;
  padding-top: 12px;
}


.link_right_tricker5{
	width:160px;
	height: 80px;
    position: relative !important;
	left: 0 !important;
    top: 0px !important;
    z-index: 20px;	
}

.link_right_tricker5:hover{
	background:url("http://www.abidjan.net/images/sponsoring/arrowR_Sp.gif") no-repeat;
	background-position: 55px 5px ;
	background-color:#FFFFFF;
	opacity:0.7;
}

/*FIN TRICKER 5---------------------*/



/*DEBUT TRICKER 6---------------------*/
#tricker6{
	display:block;
	width:260px;
	height: 95px;
	background:url("http://www.abidjan.net/images/logoIPSP-CI_sp.gif") no-repeat;
	background-position:0 22px;
	margin-top:0;
	margin-left:10px;
	float:left;
}




/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker6:hover,#tricker6:active,#tricker6:focus{
  background-position:0 -103px;
  
}
.right_tricker6{
	display:block;
	width:140px;
	float:left;
	padding-top:12px;
}

.link_tricker6{
  display:block;
  width:114px;
  height:85px;
  margin-left:0px;
  float:left;
}
.lg_tricker6-lft{
	width:92px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}
.lg_date_tricker6{
	display:block;
	height:15px;
	margin-bottom:2px;
	float:right;
	/*margin-right:35px;*/
	width: 140px;
	/*text-align: right;*/
}
.lg_tricker6{
	display:block;
	height:15px;
	margin-bottom:2px;
	float:left;
	width: 170px;
}
.lg_tricker6-ght{
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	padding-left:4px;
	width: 70px;
}

.lg_tricker6-ght2{
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	padding-left:4px;
	width: 40px;
}

.right_tricker6{
	display:block;
	width:140px;
	float:left;
	padding-top:12px;
}

.link_right_tricker6{
	width:140px;
	height: 80px;
    position: relative !important;
	left: 0 !important;
    top: 0px !important;
    z-index: 20px;	
}

.link_right_tricker6:hover{
	background:url("http://www.abidjan.net/images/sponsoring/arrowR_Sp.gif") no-repeat;
	background-position: 45px 10px ;
	background-color:#FFFFFF;
	opacity:0.7;
}

/*FIN TRICKER 6---------------------*/

/*DEBUT TRICKER 7---------------------*/
/*#tricker7-contener{
	display:block;
	height: 85px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 20px;
	border-left: 1px dotted #DCDCDC;
	border-right: 1px dotted #DCDCDC;*/
	/*width:440px;*/
	/*width:420px;
}*/

#tricker7-contener{
	display:block;
	height: 85px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 15px;
	/*border-left: 1px dotted #DCDCDC;*/
	float:left;
}




#tricker7{
	display:block;
	width: 458px;
	height: 85px;
	background:url("http://www.abidjan.net/images/sponsoring/logoCCA_sp.jpg") no-repeat;
	background-position:0px 8px;
	overflow: hidden;
	/*margin: 0 auto;
	margin-left: 18px;
	float:left;
	border-left: 1px dotted #DCDCDC;
	border-right: 1px dotted #DCDCDC;*/

}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
 #tricker7:hover,#tricker7:active,#tricker7:focus{
	background-position:0px -100px;
	/*float: left;*/
}

.link_tricker7{
	display:block;
	width:305px;
	height:75px;
	margin-left:0px;
	float:left;
}

.right_tricker7{
	display:block;
	float:left;
	margin-left: 0px !important;
	/*width:150px;*/
	width:120px;
	padding-top: 19px;
}

.lg_tricker7{
  display:block;
  width:126px;
  height:15px;
  margin-bottom:2px;
  float:left;
  margin-left:4px;
}

.lg_tricker7-lft2{
	/*width:62px;*/
	width:42px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}

.lg_date_tricker7{
  display: block;
  height: 15px;
  margin-bottom: 2px;
  float: right;
  text-align: right;
  padding-right: 1px;
  margin-left: 10px;
  padding-left: 15px;
}


/*FIN TRICKER 7---------------------*/

/*DEBUT TRICKER 8---------------------*/
#tricker8-contener{
	    display: block;
    height: 85px;
    overflow: hidden;
    margin: 0 auto;
    margin-left: 165px;
    padding: 0 20px;
    float: left;
    width: 212px;
}


#tricker8{
	display:block;
	width: 225px;
	height: 85px;
	background:url("http://www.abidjan.net/images/sponsoring/logoSaphyr_sp.jpg") no-repeat;
	background-position:0px 0px;
	overflow: hidden;
	margin: 0 auto;
	/*margin-left: 18px;
	float:left;
	border-left: 1px dotted #DCDCDC;*/
	border-right: 1px dotted #DCDCDC;

}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
 #tricker8:hover,#tricker8:active,#tricker8:focus{
	background-position:0px -85px;
	/*float: left;*/
}


.link_tricker8{
	display: block;
    width: 80px;
    height: 75px;
    margin-left: 0px;
    float: left;
}

.right_tricker8{
	display:block;
	float:left;
	margin-left: 0px !important;
	/*width:150px;*/
	width:140px;
	padding-top: 19px;
}

.lg_tricker8{
  display:block;
  /*width:148px;*/
  width: 123px;
  height:15px;
  margin-bottom:2px;
  float:left;
  margin-left:4px;
}

.lg_tricker8-lft2{
	width: 75px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}

.lg_date_tricker8{
  display: block;
  height: 15px;
  margin-bottom: 2px;
  float: right;
  text-align: right;
  padding-right: 1px;
  margin-left: 10px;
  padding-left: 15px;
}


.link_right_tricker8{
	width:140px;
	height: 80px;
    position: relative !important;
	left: 0 !important;
    top: 0px !important;
    z-index: 20px;	
}

.link_right_tricker8:hover{
	background:url("http://www.abidjan.net/images/sponsoring/arrowR_Sp.gif") no-repeat;
	background-position: 35px 2px;
	background-color:#FFFFFF;
	opacity:0.7;
}


/*FIN TRICKER 8--------------------*/

.txt_tricker_big_gray{
	/*width:55px;*/
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	color:#999999;
}


/*--------------------FIN TRICKER----------------------------*/

.boxTitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	/*font-weight: bolder;*/
	font-style: normal;
	font-variant: normal;
	color: #595959;
	margin:5px 0 10px;
}

.boxTitreRg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	/*font-weight: bolder;*/
	font-style: normal;
	font-variant: normal;
	color: #D51835;
	margin:5px 0 10px;
}
.boxTitreVrt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	/*font-weight: bolder;*/
	font-style: normal;
	font-variant: normal;
	color: #6FAA12;
	margin:5px 0 10px;
}

.boxTitreGouv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	/*font-weight: bolder;*/
	font-style: normal;
	font-variant: normal;
	color: #595959;
	margin:5px 0 10px;
}

.boxTitreBlanc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	/*font-weight: bolder;*/
	font-style: normal;
	font-variant: normal;
	color: #FFFFFF;
	/*margin:5px 0 10px;*/
}
.FontCategory {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #BC0000;
}

a.FontCategoryLink {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #BC0000;
}

a.FontCategoryLink {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #BC0000;
	
	
}


.FontMainTitle {
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}

/*--------------------DEBUT FLECHE UP--------------------------*/
#fleche_up
{
	display:none;
position: fixed;
bottom: 80px;
right: 35px;
cursor: pointer;
}
#fleche_up img
{
	opacity:0.2;
}
#fleche_up img:hover
{
	opacity:1;
}

/*--------------------FIN FLECHE UP----------------------------*/

/*--------------------DEBUT BOUTON FACEBOOK DEPECHE--------------------------*/
.bulle_nombre
{
 font-size:11px;
 color:#999999;
 line-height:19px;
 margin:2px 0 0;
 text-align:center;
 background-position:0 -230px;
 height:18px;
 text-indent:0;
 width:40px;    
 display:block;
 border:1px solid #DDDDDD;
 border-radius:10px 0 0 0;
 
}
/*--------------------FIN BOUTON FACEBOOK DEPECHE--------------------------*/


/*-------------------- DEBUT TITROLOGIE --------------------------*/

.boxTitre_titro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	/*font-weight: bolder;*/
	font-style: normal;
	font-variant: normal;
	color: #595959;
	margin:5px 0 10px;
}

#module_filtre_titro{
	background: url("http://news.abidjan.net/images/bg_filtre_titro.jpg") no-repeat center top;
	/*border:1px solid #DCDCDC;*/
	padding:5px;
	height:99px
}

.FontTabTitro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #222222;
}

.Regularfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


/*-------------------- FIN TITROLOGIE --------------------------*/


/* CHIFFRES CLES */

.ChiffreBoxNoDesc {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
	min-height: 250px; 
	width: 216px;
	background-color: #fff;
}

.ChiffreBox {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
	min-height: 480px; 
	width: 220px;
	background-color: #fff;
}

.ChiffreSource {
	color: #999999;
	font-size: 12px;
	clear:left;
}

/*.ChiffreUnite {
	color: #d51834;
	font-size: 30px;

}
.Chiffre {
	font-family: "Century Gothic";
	font-size: 60px;
	font-weight: bolder;
}*/
.ChiffreDescription {
	color: #000000;
	font-size: 13px;
	clear:both;	
}




.ChiffreSourcePage {
	color: #999999;
	font-size: 12px;
}

/*.ChiffreUnitePage {
	color: #d51834;
	font-size: 60px;

}
.ChiffrePage {
	font-family: "Century Gothic";
	font-size: 100px;
	font-weight: bolder;
}*/
.ChiffreDescriptionPage {
	color: #000000;
	font-size: 16px;
	clear:left;
}



.ChiffrePage {
  font-family:"Century Gothic", Arial, Helvetica, sans-serif;
  color:#4c4c4c;
  font-size:100px;
  font-weight:bolder;
  float:left;
}

.ChiffreUnitePage {
	color:#4c4c4c;
	font-size:60px;
	float:left;
	margin-left: 12px;
	padding-top: 17px;
}


.Chiffre {
  font-family:"Century Gothic", Arial, Helvetica, sans-serif;
  color:#4c4c4c;
  font-size:45px;
  font-weight:bolder;
  float:left;
  margin-top:-12px;
}

.ChiffreUnite {
	color:#4c4c4c;
	font-size:20px;
	float:left;
	margin-left: 0px;
}

.sup-chiffre{
	font-size: 30px; 
	position: relative;
	top: 12px;
	font-weight: normal;
}

/* FIN CHIFFRES CLES */


/*--------------------DEBUT SPONSORING ENCART CHIFFRES CLES SIB---------------------------*/
/* CSS depeche Sib */

.newBoxDpchSib {
	padding: 3px;
	background: url(../images_diverses/sib/logo-sib-bckg.png) repeat-x bottom;
	height: 56px;
	margin:-5px;
	margin-top:4px;
}

.newBoxDpchSib2 {
	padding: 3px;
	/*background: url(../images_diverses/sib/logo-sib-bckg.png) repeat-x bottom;*/
	height: 56px;
	margin:-5px;
	margin-top:4px;
}

.divLogoDpchSib {
	height: 67px;
	float: right;
	vertical-align: middle;
	margin-top:-10px;
}

.divLogoDpchSib2 {
	height: 50px;
	float: right;
	vertical-align: bottom;
	margin-top:9px;
}

.divLeftDpchSib {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	float: left;
	text-align: left;
	color: #fff;
	font-size: 10px;
	padding: 0 0 6px 6px;
	margin-top:38px;
}

/*Fin CSS depeche SIB*/

/*--------------------FIN SPONSORING ENCART CHIFFRES CLES SIB---------------------------*/


/*--------------------DEBUT SPONSORING ENCART MISS MTN---------------------------*/

.newBoxDpchMTN {
	padding: 3px;
	background: url(../images_diverses/sib/logo-sib-bckg.png) repeat-x bottom;
	height: 56px;
	margin:-5px;
	margin-top:4px;
}

.newBoxDpchMTN2 {
	padding: 3px;
	/*background: url(../images_diverses/sib/logo-sib-bckg.png) repeat-x bottom;*/
	height: 56px;
	margin:-5px;
	margin-top:4px;
}

.divLogoDpchMTN {
	height: 67px;
	float: right;
	vertical-align: middle;
	margin-top:-10px;
}

.divLogoDpchMTN2 {
	height: 50px;
	float: right;
	vertical-align: bottom;
	margin-top:9px;
}

.divLeftDpchMTN {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	float: left;
	text-align: left;
	color: #000000;
	font-size: 10px;
	padding: 0 0 6px 6px;
	margin-top:38px;
}

/*Fin CSS depeche SIB*/

/*--------------------FIN SPONSORING ENCART CHIFFRES CLES SIB---------------------------*/



/*-------------------- FLASH SPONSORING ORINAL --------------------------

.newBoxFlashInfoHot {
	border-top: 6px solid #D51835;
	padding: 5px;
	border: 1px solid #D51835;
	background-color: #F9F9F9;
}
*/

/*-------------------- FLASH SPONSORING ORINAL --------------------------*/


#module_shadowFlashInfoHot{
	background-color:#FFFFFF;
	border:0px solid #DCDCDC;
	padding:0px;
	-moz-box-shadow: 0 0 5px 0px #888;
	-webkit-box-shadow: 0 0 5px 0px #888;
	box-shadow: 0 0 5px 0px #888;
}	


.newBoxFlashInfoHot {
	border-top: 6px solid #D51835;
	padding: 10px;
	border: 1px solid #D51835;
	background-color: #D51835;
}

.newBoxTicketInfo{
	padding: 10px;
	background-color: #f4f4f4;
}

.newBoxTicketInfo a{
	color:#111 !important;
	font-weight:normal;
}

/*-----Code couleur rouge pale juste au cas ou j'ai besoin de changer ce gris #df928d ------*/

.newBoxFlashInfoNotHotAnymore {
	border-top: 6px solid #a5a5a5;
	padding: 10px;
	border: 1px solid #a5a5a5;
	background-color: #a5a5a5;
}

.newBoxFlashInfoNotHot {
	border-top: 6px solid #a5a5a5;
	padding: 10px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
}


.newBoxFlashInfo {
	border-top: 6px solid #D51835;
	padding: 3px;
	border: 1px solid #D51835;
	background-color: #D51835;
}


.FontFlashInfoCIHot {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #FFFFFF;
}



.FontFlashInfoCI {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #000000;
}

.FontFlashInfoCI2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #000000;
}


.FontFlashInfoInter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}


/*-------------------- FIN FLASH SPONSORING ORINAL --------------------------*/

/*--------------------DEBUT ENCART FLASH SPONSORING BNI--------------------------*/

.fullContentBoxBNI {
	border-style: solid;
	border-width: 0px 1px 0px 1px;
	/*border-color: #009e54 #009e54 #009e54 #009e54;*/
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;	
	padding: 5px;
	background-image: url('../images_diverses/logo-BNI-bckgnd.gif'); background-repeat: no-repeat; background-position: center center;
}

.newBoxFlashInfoBNI {
	border-top: 6px solid #009e54;
	padding: 3px;
	border: 1px solid #515558;
	/*background-color: #009e54;*/
	background-color: #515558;
}
.newBoxFlashInfo2BNI {
	/*border-top: 6px solid #009e54;
	padding: 3px;
	border: 1px solid #515558;*/
	/*background-color: #515558;*/
	/*background-color: #515558;
	height:45px;*/
	
	padding: 4px;
	border-top: 0 solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	background-color: #E3E3E3;
	height:45px;
}




.boxTitreWhiteBNI {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	/*color: #f7a800;*/
	color: #ffffff;

}
.divLogoBNI {
	height:45px;
	float:right;
	width:55px;
	vertical-align:middle;
	line-height:45px;
}
.divLeftBNI {
	float:left;
	width:200px;
	/*	height:45px;
	vertical-align:bottom;
	line-height:45px;*/
	text-align:left;
	color:#5E5E5E;
	font-size:10px;
	padding:0 0 6px 6px;
	margin-top: 30px;
	
}

.FontFlashInfoCIBNI {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	/*color: #009e54 - FF6600;*/
	color: #009e54
}

.newBoxFlashInfoHotBNI {
	border-top: 6px solid #009e54;
	padding: 5px;
	border: 1px solid #009e54;
	background-color: #F9F9F9;
}

.pointilleBNI {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 10px;
	border-top-color: #33af75;
}

/*--------------------FIN ENCART FLASH SPONSORING BNI--------------------------*/

/*--------------------DEBUT ENCART FLASH INTER SPONSORING ARTCI--------------------------*/
.newBoxFlashInfo2ARTCI {
padding: 4px;
border-top: 0 solid #dcdcdc;
border-left: 1px solid #dcdcdc;
border-bottom: 1px solid #dcdcdc;
border-right: 1px solid #dcdcdc;
/* background-color: #009e54;
background-color: #f5f5f5;*/
background-color: #E3E3E3;
height:45px;
}

.divLogoARTCI {
float: right;
vertical-align: middle;
line-height: 45px;
}

.divLeftARTCI {
float: left;
width: 197px;
text-align: left;
color: #5e5e5e;
font-size: 10px;
padding: 0 0 6px 6px;
margin-top: 30px;
}
/*--------------------FIN ENCART FLASH INTER SPONSORING ARTCI--------------------------*/

/*--------------------DEBUT ENCART AUTO SPONSORING AFRICAUTO--------------------------*/
.newBoxFlashInfo2AFRICAUTO {
padding: 4px;
border: 1px solid #dcdcdc;
/* background-color: #009e54; */
background-color: #e3e3e3;
height:45px;
}

.divLogoAFRICAUTO {
float: right;
vertical-align: middle;
line-height: 45px;
}

.divLeftAFRICAUTO {
float: left;
width: 200px;
text-align: left;
color: #5e5e5e;
font-size: 10px;
padding: 0 0 6px 6px;
margin-top: 30px;
}

/*--------------------FIN ENCART AUTO SPONSORING AFRICAUTO--------------------------*/


/*--------------------DEBUT ENCART FLASH INTER SPONSORING BACI--------------------------*/
.RowSpUnderBox {
padding: 4px;
border-top: 0 solid #dcdcdc;
border-left: 1px solid #dcdcdc;
border-bottom: 1px solid #dcdcdc;
border-right: 1px solid #dcdcdc;
/* background-color: #009e54;
background-color: #f5f5f5;*/
background-color: #E3E3E3;
height:45px;
}

.RowSpUnderBoxAtl {
padding: 4px;
height:45px;
}

.RowSpUnderBoxLogo {
float: right;
vertical-align: middle;
line-height: 45px;
}

.RowSpUnderLeft {
float: left;
text-align: left;
color: #5e5e5e;
font-size: 10px;
padding: 0 0 6px 6px;
margin-top: 30px;
margin-right:10px;
}

a.LinkSpName {
color: #5e5e5e;
font-size: 10px;
font-weight:bold;
text-decoration:none;
}

/*--------------------FIN ENCART FLASH INTER SPONSORING BACI--------------------------*/


.newBox {
	border-top: 6px solid #ECECEC;
	padding: 3px;
	border: 1px solid #DCDCDC;
	background-color: #ECECEC;
}


/*--------------------DEBUT ENCART RSS--------------------------*/
.newBoxFlashInfo2RSS {
	padding: 4px;
	border-top: 0 solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	background-color: #E3E3E3;
	height: 45px;
}

.divLogoRSS {
	float: right;
	vertical-align: middle;
	line-height: 45px;
}
.divLeftRSS {
	float: left;
	width: 160px;
	text-align: left;
	color: #5e5e5e;
	font-size: 10px;
	padding: 0 0 6px 6px;
	margin-top: 20px;
}
/*--------------------FIN ENCART RSS--------------------------*/

/*--------------------DEBUT ENCART DEPECHES SPONSORING KRONOS--------------------------*/
#moduleKronos{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('../images_diverses/Logo-Agendas-Kronos-bckgnd.jpg'); background-repeat: no-repeat; background-position: center center;
}


.newBoxFlashInfo2Kronos {
padding: 4px;
border-top: 0 solid #dcdcdc;
border-left: 1px solid #dcdcdc;
border-bottom: 1px solid #dcdcdc;
border-right: 1px solid #dcdcdc;
/* background-color: #009e54;
background-color: #f5f5f5;*/
background-color: #E3E3E3;
height:45px;
}

.divLogoKronos {
float: right;
vertical-align: middle;
/*line-height: 45px;*/
}

.divLeftKronos {
float: left;
width: 156px;
text-align: left;
color: #5e5e5e;
font-size: 10px;
padding: 0 0 6px 6px;
margin-top: 22px;
}
/*--------------------FIN ENCART DEPECHES SPONSORING KRONOS--------------------------*/

/*--------------------DEBUT PAROLES FORT--------------------------*/

/*#container {width:727px; padding:0 0 50px; margin:0 auto;}*/

.example-right {
	position: relative;
	padding: 5px 30px;
	margin: 0;
	color: #000000;
	background: #ECECEC;
/* default background for browsers without gradient support */ /* css3 */	border-radius: 15px; /* NOTE: webkit gradient implementation is not as per spec */;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ECECEC));
	background: -moz-linear-gradient(top, #FFFFFF, #ECECEC);
	background: -o-linear-gradient(top, #FFFFFF, #ECECEC);
	background: linear-gradient(top, #FFFFFF, #ECECEC);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	font-style: italic;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-right + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.example-right:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-50px;
	left:50px;
	width:0;
	height:0;
	border-width:0 20px 50px 0px;
	border-style:solid;
	border-color:transparent #ECECEC;
}

/*--------------------FIN PAROLES FORT--------------------------*/
/*--------------------DEBUT CSS AGENDA--------------------------*/
.content-agd {
	background-color:#f5f5f5;
	padding:0;
	overflow:hidden;
	margin:10px;
	display:block;
	width:324px;
	float:left;
	border:1px solid #DCDCDC;

}
.content-agd:hover {
	background-color:#FFFFFF;
	padding:0;
	overflow:hidden;
	margin:10px;
	display:block;
	width:324px;
	float:left;
	border:1px solid #c3c3c3;

}

.content-agd-tof {
	padding:2px;
	height:100px;
	overflow:hidden;
	margin:1px;
	display:block;
	float:left;
	width:105px;
}
.content-agd-txt {
	padding:2px;
	height:100px;
	overflow:hidden;
	margin:1px;
	display:block;
	float:left;
	width:188px;
}

.content-agd-txt-Title {
  font-size: 13px;
  font-weight: bold;
}

.content-agd-txt-SubTitle {
  font-size: 12px;
  font-weight: normal;
  color: #999999;
}



.div-clear {
	clear:both;
}
/*--------------------FIN CSS AGENDA--------------------------*/

/*--------------------DEBUT CSS COMMUNIQUE--------------------------*/
.content-cmq {
background:url(../images/icon-Com.png) no-repeat;
  padding: 0;
  overflow: hidden;
  margin: 3px;
  display: block;
  width: 202px;
  float: left;
  border: none;
  height:193px;
}
.content-cmq:hover{
	background:url(../images/icon-Com-h.png) no-repeat;
	border: none;
}
.content-cmq-txt {
  padding: 5px;
  height: 103px;
  overflow: hidden;
  margin: 0px;
  display: block;
  width: 193px;
  border-top: 1px solid #DCDCDC;
  position: relative;
  background:none !important;
}

.content-cmq-tof{
	background-color:#FFFFFF !important;
	padding:5px;
	height:75px;
	overflow:hidden;
	margin:2px !important;
	display:block;
	width:188px !important;
	text-align:center;

}
/*--------------------FIN CSS COMMUNIQUE--------------------------*/
/*--------------------DEBUT CSS COMMUNIQUE SPECIAL--------------------------*/
 .content-cmq-sp {
	padding:0;
	overflow:hidden;
	margin:0;
	display:block;
	width:298px;
	float:left;
	border:1px solid #DCDCDC;
}
.content-cmq-sp:hover {
	padding:0;
	overflow:hidden;
	margin:0;
	display:block;
	width:298px;
	float:left;
	border:1px solid #c3c3c3;
}
.content-cmq-sp-tof {
	background-color:#FFFFFF;
	padding:5px;
	height:75px;
	overflow:hidden;
	margin:0px;
	width:auto;
	display:block;
	width:288px;
	text-align:center;
}
.content-cmq-sp-txt {
	background-color:#f5f5f5;
	padding:5px;
	height:60px;
	overflow:hidden;
	margin:0px;
	width:auto;
	display:block;
	width:288px;
	border-top:1px solid #DCDCDC;
}
/*--------------------FIN CSS COMMUNIQUE SPECIAL--------------------------*/


/*--------------------DEBUT CSS COMMUNIQUE OLD--------------------------
.content-cmq {
	background-color:#FFFFFF;
	border:2px solid #DCDCDC;
	padding:0;
	overflow:hidden;
	margin:3px;
	display:block;
	width:254px;
	float:left;
	border:1px solid #DCDCDC;
}
.content-cmq-tof {
	padding:2px;
	height:120px;
	overflow:hidden;
	margin:1px;
	width:auto;
	display:block;
	float:left;
	width:81px;
}
.content-cmq-txt {
	padding:2px;
	height:120px;
	overflow:hidden;
	margin:1px;
	width:auto;
	display:block;
	float:left;
	width:161px;
}
--------------------FIN CSS COMMUNIQUE--------------------------*/


/*-------------------- DEBUT Effet sur les images avec l'ombre --------------------------*/

img.shadow {
	background: url(http://www.abidjan.net/images/shadow-1000x1000.gif) no-repeat right bottom;
	padding: 5px 10px 10px 5px;
}

/*-------------------- FIN Effet sur les images avec l'ombre --------------------------*/

/* GRAND MENU PRINCIPALE */
.content-nav {
    clear: both;
    margin: 0 auto;
    padding: 0 1px;
    text-align: center;
    width: 1040px;
}

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 16px Arial, Helvetica, sans-serif}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 10px 10px;
	/*width: 129px;*/
	width: 127px;
	background: #ECECEC;
	color: #000000;
	text-align: center;
	text-decoration: none}
	


#sddm li a:hover
	{	background: #D51835;
		color: #FFFFFF}
		
#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	z-index: 2;
}
	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 10px 15px;
		width: 117px;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #666666;
		border-bottom: 1px solid #999999;
		color: #FFFFFF;
		font: 12px Arial, Helvetica, sans-serif;
		}
	.sddmdiv-w {
	}
	#sddm div a:hover
	{	background: #D51835;
		color: #FFFFFF;
	}

/*--------------------DEBUT NEW BOUTON ELECTION----------------------------*/

#sddmn
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddmn li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 16px Arial, Helvetica, sans-serif}


#sddmn li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 10px 10px;
	/*width: 129px;*/
	width: 172px;
	background: #ECECEC;
	color: #000000;
	text-align: center;
	text-decoration: none}

#sddmn li a:hover
	{	background: #D51835;
		color: #FFFFFF}
		
#sddmn div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	z-index: 2;
}
	#sddmn div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 10px 15px;
		width: 162px;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #666666;
		border-bottom: 1px solid #999999;
		color: #FFFFFF;
		font: 12px Arial, Helvetica, sans-serif;
		}
	
	#sddmn div a:hover
	{	background: #D51835;
		color: #FFFFFF;
	}


/*--------------------FIN NEW BOUTON ELECTION----------------------------*/
/*--------------------DEBUT NEW BOUTON----------------------------*/
select{
		background:#fff;
		border: 1px solid #d8d8d8;
		color: #666666;
		font-size: 12px;
		padding: 3px;
		height: 25px;
	}
input[type="text"]{
		background:#f5f5f5;
		border: 1px solid #E7E7E7;
		color: #666666;
		font-size: 12px;
		padding: 3px;
}

input[type="email"]{
		background:#f5f5f5;
		border: 1px solid #E7E7E7;
		color: #666666;
		font-size: 12px;
		padding: 3px;
		margin-right:5px;
		height: 17px;
}

input[type="text"]:focus,input[type="email"]:focus,select:focus{
		background:#fff;
}
input[type="submit"]{
	background:#D51835;
	border:1px solid #D51835;
	padding:3px 6px;
	font-size:12px;
	color:#fff;
	border-radius:3px;
	cursor:pointer;
	font-weight:bold;
}

input[type="submit"]:hover{
	background:#ec0b2e;
	border:1px solid #ec0b2e;
}


/*--------------------FIN NEW BOUTON----------------------------*/

/*--------------------DEBUT ENCART APP MOBILE----------------------------*/
.text_app{

	display:block;

	margin-bottom:13px;

	text-align:left;

	color:#555;

	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	border:1px solid #DCDCDC;
	padding:4px;
	background-color:#FFF;

}

#box_app{
	margin:auto;
	width:292px;
	height:150px;
	border:1px solid #DCDCDC;
	padding:10px 5px 5px;
	background:#fff;
	background-image:url(../images/bckgnd-repeat-ray.png)
}

.img{

	display:block;

	float:left;

}

.box-text{
	display:block;
	float:left;
	margin-top:40px;
	margin-left:5px;
}



 a.play{

	  font-size:8px;

	 display:block;

	background:url(../images/play2.png) no-repeat center left;

	color:#FFF;

	text-decoration:none;

	border-radius:3px;

	height:30px;

	width:89px;

}

 a.store{

	 font-size:8px;

	 display:block;

	background:url(../images/apple2.png) no-repeat center left;

	color:#FFF;

	text-decoration:none;

	margin-top:5px;

	border-radius:3px;

	height:30px;

	width:89px;

}


a.store:hover{

	background:url(../images/_apple2.png) no-repeat center left;

}

a.play:hover{

	background:url(../images/_play2.png) no-repeat center left;



}

/*--------------------FIN ENCART APP MOBILE----------------------------*/


/*--------------------DEBUT ENCART ANNIVERSAIRE----------------------------*/

.divBallonBD {
	height: 60px;
	vertical-align: middle;
	margin-top:-50px;
	margin-left:-30px
}

/*--------------------FIN ENCART ANNIVERSAIRE----------------------------*/
.boxNavigationPosition {
	background-color:#FFFFFF;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #ECECEC;
	border-bottom-color: #ECECEC;
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
	color: #808080;
	margin-top:8px;
}

.boxNavigationPositionGray {
	background-color:#F5F5F5;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #DCDCDC;
	border-bottom-color: #DCDCDC;
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
	color: #808080;
	margin-top:8px;
	
}

.boxNavigationPositionGray2 {
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #DCDCDC;
	border-bottom-color: #DCDCDC;
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
	color: #808080;
	margin-top:8px;
	
}


.FontboxNavigationPosition {
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
	color: #808080;
}

/***********************DEBUT LINK BUTTON***************************/
.linkBtnRg{
	background:#D51835;
	border:1px solid #D51835;
	padding:5px 8px;
	font-size:12px;
	color:#fff;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
}
a.linkBtnRg{
	background:#D51835;
	border:1px solid #D51835;
	padding:5px 8px;
	font-size:12px;
	color:#fff;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
}
a.linkBtnRg:hover{
	background:#ec0b2e;
	border:1px solid #ec0b2e;
}

.linkBtnGray{
	background:#ececec;
	border:1px solid #dcdcdc;
	padding:5px 8px;
	font-size:12px;
	color:#fff;
	border-radius:5px;
	font-weight:bold;
}
a.linkBtnGray{
	background:#ececec;
	border:1px solid #dcdcdc;
	padding:5px 8px;
	font-size:12px;
	color:#fff;
	border-radius:5px;
	font-weight:bold;
}
a.linkBtnGray:hover{
	background:#c8c8c8;
	border:1px solid #ec0b2e;
}




/***********************FIN LINK BUTTON*****************************/

/***********************DEBUT BUTTON PAGINATION*****************************/
.btnPage{
display:block;
float:left;
padding:7px 12px;
margin:0 2px 2px 0;
background:#D51838;
color:#FFF;
border-radius:3px;
border:1px solid #ddd;
font-weight: bold;
}

a.btnPage{
background:#FFF;
color:#999999;
}

a.btnPage:hover{
background:#D51838;
color:#FFF;
}

a.btnPage:active{
background:#D51838;
color:#FFF;

}
/***********************FIN BUTTON PAGINATION*****************************/
/***********************INTROOOOOOOOOOO*****************************/

#div-intro{
	position:static;
	z-index:99999;
}

#page-intro-in{
	display: block;
	margin: auto;
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0px;
	left: 0px;
	right:0;
	bottom: 0;
	overflow: hidden;
}
#page-intro-in .intro-in{
	display:block;
	margin:auto;
	width:600px;
	margin-top:55px;
	height:500px;
}
#header-head{
	height:48px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index: 200000;
	background-color:#ececec;
}

#header-head a.hide{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	background:#aaa;
	padding:5px;
	border:1px solid #ccc;
	border-radius:3px;
}

#countdown{
	background:#d21939;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin:auto;
    padding: 10px;
    text-align: center;
    width: 30px;
	margin-top:10px;
	border:5px solid #FFF;
	box-shadow:0 1px 2px #CCC;
	cursor:pointer;
}

/*-----------------FLASH TECH---------------*/
.content-fl-tch {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: block;
    float: left;
    margin: 3px;
    overflow: hidden;
    padding: 0;
    width: 280px;
	border-bottom-color:#DCDCDC;
	border-bottom-style:dotted;
	border-bottom-width:1px;
}

.content-fl-tch-tof {
    display: block;
    float: left;
    height: 50px;
    margin: 1px;
    overflow: hidden;
    padding: 2px;
    width: 55px;
}


.content-fl-tch-txt {
    display: block;
    float: left;
    margin: 1px;
    overflow: hidden;
    padding: 2px;
    width: 210px;

}

.img_-fl-tch-txt {
	float:left;
	/*margin: 5px 5px 5px 0;*/
    border-image: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}



/*-----------------NEW ACTIVITE---------------*/



/*Activites */
div.h100{
	height:160px;
	background:url(../images/bgBoxAct2.png) no-repeat;
	padding:5px;
}

div.boxActCol2 {
  width: 525px;
  margin-right: 0px;
  float: left;
  display: block;
}



#column_left_f3_b {
  width: 350px;
  margin-right: 0px;
  float: left;
}

#column_right_f3_b {
  width: 350px;
  margin-right: 0px;
  float: left;
}
div.h100x{
	height:280px;
	background:url(../images/bgBoxAct1.png) no-repeat;
	padding:5px;
}



div.h100b{
	height:280px;
	background:url(../images/bgBoxAct3.png) no-repeat;
	padding:5px;
}


#column_left_f3_b2 {
  width: 262px;
  margin-right: 0px;
  float: left;
}

#column_right_f3_b2 {
  width: 262px;
  margin-right: 0px;
  float: left;
}


/*Voice Chat*/

div.voiceChat{
	position:relative;
	margin-top:55px;
	padding: 10px !important;
  	padding-top: 5px !important;
}

div.invitImg{
	position:absolute;
	right:5px;
	top:-70px;
	/*border-radius:50%;
	border:3px solid #fff;
	box-shadow:1px 2px 0 #ddd;*/
}
span.sonTitre{
	display:block;
	font-weight:bold;
	margin-top:-3px;
	margin-bottom:7px;
}

div.invitImg img{
	border-radius:50%;
}

.invitImgBorder {
	border:1px solid #DCDCDC;
	margin: 5px;
	vertical-align: middle;
}



h2.nomInvite{
	margin:0 !important;
	margin-bottom:5px !important;
	color:#333;
	font-size:18px;
}


h2.nomInvite2{
	margin:0 !important;
	margin-bottom:5px !important;
	color:#333;
	font-size:12px;
}

span.textVchat{
	display:block;
	line-height:17px;
	margin-bottom:5px;
}
span.tInvite{
	font-size:17px;
	color:#D51835;
	font-weight:bold;
	display:block;
	margin-top:-2px;
}

span.dInvite{
	font-size:12px;
	color:#D51835;
	font-weight:bold;
}

a.btnPart
{
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  background-color: #427fed;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: 1px solid transparent;
  color: #fff;
  padding:5px 20px;
  border-radius:3px;
  font-size:14px;
}

a.btnPart:hover
{
	background:#0090ff;
}

/*-----------------DEBUT NEW CINEMA---------------*/
.contentCine {
	padding:3px;
	background: none repeat scroll 0 0 #BDB6B0;
	font-family: 'Trebuchet MS';
	color:#333;
}

.headBlck  {
	padding:8px 4px;
	background: none repeat scroll 0 0 #2B2421;
}

.headRed  {
	padding:8px 4px;
	background: none repeat scroll 0 0 #a81736;
}

.headInLeft  {
	float:left;
	padding-left:10px;
}
.headInRight  {
	float:right;
	text-align:right;
	padding-right:10px;
	line-height: 27px;
}

.DivClear {
	clear:both;
}

.txtCineBigWht {
	color:#FFF;
	font-size:x-large;
	font-weight:bold;
}

.txtCineMedWht {
	color:#FFF;
	font-size:medium;
	font-weight:bold;
}

.txtCineBoldSmallWht {
	color:#FFF;
	font-size:20px;
	font-weight:bold;
}

.ContentCineCouv {
	width:360px;
	height:478px;
	float:left;
	margin:5px;
	background-image: url('http://www.abamako.com/cinema/images/bckg_flyer.gif');
	background-repeat: no-repeat;
	background-position: top left;
}

.ContentCineDetail {
	float:left;
	width:660px;
	margin:5px;

}

.ContentCineDetailTop {
	border-bottom:2px solid #2b2421;
	width:638px;
	padding:5px;
	clear:both;
	margin-top:8px; 
}
.ContentCineDetailBot {
	width:638px;
	padding:5px;
	clear:both;
}

.ContentCineDetailLeft {
	float:left;
	width:245px;
	font-size:14px;
}

.ContentCineDetailLeftSml {
	float:left;
	width:90px;
	font-size:18px;
	color:#FFF;
	vertical-align:top;
}

.CineTxtBoldWth {
	font-size:14px;
	color:#FFF;
}


.ContentCineDetailRightSml {
	float:left;
	width:295px;
	font-size:16px;
	color:#2b2421;
}

.ContentCineDetailRightLong {
	float:left;
	width:295px;
	color:#2b2421;
	font-size:14px;
	line-height: 20px;
}


.ContentCineDetailRightSml2 {
	float:left;
	width:295px;
	font-size:14px;
	color:#2b2421;
}


.ContentCineDetailRight {
	float:right;
	width:385px;
}


.fwBold {
	font-weight:bold;
}

.txtCineRed {
	color:#a81736;
}

a.txtCineRed {
	text-decoration:none;
	color:#a81736;
}

a.txtCineRed {
	text-decoration:;
	color:#a81736;
}

.txtCineRedBig {
	text-decoration:none;
	color:#a81736;
	font-size:14px;
}

.spacerCine {
	clear:both;
	height:15px;
}

.txtCineMedWht2 {
	color:#FFF;
	font-size:18px;
	font-weight:bold;
}

.DivClearSeparationWth {
	clear:both;
	border-bottom:1px solid #FFF;
	margin:10px 0;
}




.ItemCine {
  width: 320px;
  height: 630px;
  float: left;
  position: relative;
  margin: 0 15px 15px 15px;
  border: 0px solid #DCDCDC;
  padding: 0px;
  -moz-box-shadow: 0 0 2px 0px #888;
  -webkit-box-shadow: 0 0 2px 0px #888;
  box-shadow: 0 0 2px 0px #888;
  background-color: #FFF;
}

.ItemCine : hover {
  -moz-box-shadow: 0 0 5px 0px #888;
  -webkit-box-shadow: 0 0 5px 0px #888;
  box-shadow: 0 0 5px 0px #888;
}


.ItemCineSalle {
  width: 320px;
  height: 241px;
  float: left;
  position: relative;
  margin: 0 15px 15px 15px;
  border: 0px solid #DCDCDC;
  padding: 0px;
  -moz-box-shadow: 0 0 2px 0px #888;
  -webkit-box-shadow: 0 0 2px 0px #888;
  box-shadow: 0 0 2px 0px #888;
  background-color: #FFF;
}

.ItemCineSalle : hover {
  -moz-box-shadow: 0 0 5px 0px #888;
  -webkit-box-shadow: 0 0 5px 0px #888;
  box-shadow: 0 0 5px 0px #888;
}


.InItemCineImg {
	width: 100%;
	margin: 0 auto;
	height: 400px;
	overflow: hidden;
}

.InItemCineImgSalle {
	width: 100%;
	margin: 0 auto;
	height: 241px;
	overflow: hidden;
}


.InItemCineDetail {
  height: 100px;
  overflow:hidden;
  padding:10px;
}


.InItemCineLogo {
  width: 100%;
  height: 110px;
  overflow:hidden;
  padding:5px 0;
  text-align:center;
}

.InItemCineTitle {
  font-family: 'Trebuchet MS';
  color: #a81736;
  font-size: 20px;
  font-weight: bold;
  text-decoration:none;
}
a.InItemCineTitle {
  text-decoration:none;
}

.InItemCineSubTitle {
  font-family: 'Trebuchet MS';
  color: #a81736;
  font-size: 14px;
  font-weight: bold;
  text-decoration:none;
}
a.InItemCineSubTitle {
  text-decoration:none;
}

.InItemCineTxt {
  font-family: 'Trebuchet MS';
  color: #333;
  font-size: 13px;
  text-decoration:none;
}

a.InItemCineTxt {
  text-decoration:none;
}


.InItemCineMargTB {
	margin: 4px 0;
}

/*-----------------FIN NEW CINEMA---------------*/

/*-----------------DEBUT CHRONOLOGIE---------------*/

div.boxChronoPE{
	margin-top:0;
}

div.boxChronoFleche{
	width:100%;
	height:5px;
	background:#a8a8a8;
	margin-top:10px;
	margin-bottom:60px;
	position:relative;
}

div.flechePointe {
	position: absolute;
	top: -13px;
	right: -3px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #a8a8a8;
}

div.boxChronoImg{
	height:100px;
	overflow:hidden;
	
}

div.boxChronoText{
	background:#FFF;
	padding:10px;
	border-top:none;
	box-shadow: 1px 0 1px #ddd;
	height: 65px;
}



#column_right_f3_bChro{
  padding: 0;
  margin: 3px;
  display: block;
  width: 202px;
  float: left;
}

div.boxBarHaut{
	display:block;
	height:30px;
	width:5px;
	background:#a8a8a8;
	margin-left:98px;
	margin-top:-66px;
}

#column_right_f3_bChro div.importantDate{
	  color: #fff;
	  text-align: center;
	  display: block;
	  background: #d51835;
	  padding: 10px;

}

#column_right_f3_bChro div.boxDateChrono{
	  color: #fff;
	  text-align: center;
	  display: block;
	  background: #a8a8a8;
	  padding: 10px;
}
/*-----------------FIN CHRONOLOGIE---------------*/

/*-----------------DEBUT Sponsoring FER---------------*/

.newBoxFlashInfo2FER {
  padding: 4px;
  border-top: 0 solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  background-color: #E3E3E3;
  height: 45px;
}

.divLogoFER {
  float: right;
  vertical-align: middle;
  line-height: 45px;
}

.divLeftFER {
  float: left;
  width: 160px;
  text-align: left;
  color: #5e5e5e;
  font-size: 10px;
  padding: 0 0 6px 6px;
  margin-top: 20px;
}
/*-----------------FIN Sponsoring FER---------------*/

/*-----------------DEBUT SOCIAL HOVER---------------*/
.social_hover {
border: 1px solid #FFF;
}

.social_hover:hover {
border: 1px solid #999;
}
/*-----------------FIN SOCIAL HOVER---------------*/

/*-----------------DEBUT NEW VIDEO STYLE---------------*/
/*box Video PE*/


#videoContent{
	width:700px;
	border:1px solid #DCDCDC;
}
#video{
	background:#ddd;
}


#video .bigVideo .capVideo{
	float:left;
	width:340px;
	margin:auto;
	display:block;
	margin-bottom:15px;
	position:relative;
	}
	
#video .bigVideo .capVideo1Col{
	float:left;
	width:288px;
	margin:auto;
	display:block;
	margin-bottom:15px;
	position:relative;
	}

.capVideoMrgRght6{
	margin-right: 6px;
	}
	
	
	
div.boxBigVideo{
	
	float: left;
  	margin-left: 12px;
}

div.boxBigVideoNoMarg{
	float: left;
	margin: 0 auto;
}
	
	
#video .bigVideo .right {
	
}

#video .bigVideo .1Col {
	width:288px;
	
}

#video .bigVideo .capVideo .iVideo{
	display:block;
	width:55px;
	height:55px;
	position:absolute;
	bottom:40px;
	left: 150px;
	background:url(../images/video-play-red.png) no-repeat;

}



#video .bigVideo .capVideo1Col .iVideo{
	display:block;
	width:55px;
	height:55px;
	position:absolute;
	bottom:40px;
	left: 120px;
	background:url(../images/video-play-red.png) no-repeat;

}


#video .bigVideo .capVideo img{
	background:#FFF;
}

#video .bigVideo .capVideo1Col img{
	background:#FFF;
}

#video .bigVideo .capVideo img:hover{
	opacity:0.5;

}

#video .bigVideo .capVideo1Col img:hover{
	opacity:0.5;

}

#video .bigVideo .capVideo .tVideo a{
	display:block;
	text-align:left;
	color:#39a2c9;
	font-size:14px;
	text-decoration:none;

}

#video .bigVideo .capVideo1Col .tVideo a{
	display:block;
	text-align:left;
	color:#39a2c9;
	font-size:14px;
	text-decoration:none;

}


#video .bigVideo .capVideo .fVideo{
	color:#999999;
	font-weight:bold;
	display:block;
	text-align:left;
	margin-top:5px;
	font-size:12px;
}


#video .bigVideo .capVideo1Col .fVideo{
	color:#999999;
	font-weight:bold;
	display:block;
	text-align:left;
	margin-top:5px;
	font-size:12px;
}



#video .smallVideo .capVideo{
	float:left;
	width:160px;
	margin:auto;
	display:block;
	padding:5px;
	margin-bottom:15px;
	position:relative;
	  margin-left: 7px;
	}
	
	
#video .smallVideo .capVideo1Col{
	float:left;
	width:140px;
	display:block;
	margin-bottom:15px;
	position:relative;
	}


#video .smallVideo .capVideo .iVideo{
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	bottom: 105px;
	left:70px;
	background:url(http://abidjan.net/images/video-play-red-small.png) no-repeat;

}

#video .smallVideo .capVideo1Col .iVideo{
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	bottom: 105px;
	left:54px;
	background:url(http://abidjan.net/images/video-play-red-small.png) no-repeat;

}

#video .smallVideo .capVideo img{
	background:#fff;
}

#video .smallVideo .capVideo1Col img{
	background:#fff;
}

#video .smallVideo .capVideo img:hover{
	opacity:0.5;

}

#video .smallVideo .capVideo1Col img:hover{
	opacity:0.5;

}


#video .smallVideo .capVideo .tVideo a{
	text-decoration:none;
	display:block;
	text-align:left;
	color:#39a2c9;
	font-size:14px;

}

#video .smallVideo .capVideo1Col .tVideo a{
	text-decoration:none;
	display:block;
	text-align:left;
	color:#39a2c9;
	font-size:12px;

}

#video .smallVideo .capVideo .fVideo{
	color:#999999;
	font-weight:bold;
	display:block;
	text-align:left;
	margin-top:5px;
	font-size:12px;
}


#video .smallVideo .capVideo1Col .fVideo{
	color:#999999;
	font-weight:bold;
	display:block;
	text-align:left;
	margin-top:5px;
	font-size:12px;
}


#video .smallVideo .capVideo .right{
	margin-right:30px;
}


#video .smallVideo .capVideo1Col .right{
	margin-right:30px;
}

.piedVideo {
  background: #555;
  padding:10px;
  box-shadow: 5px 0 -5px 5px #cccccc;
  font-size: 15px;
  margin: -5px;
  vertical-align:middle;
}
.piedVideo a{
	text-decoration:none;
	color:#39a2c9;
	font-weight:bold;
	}


div.boxBvideo{
	padding:5px;
	padding-top:15px;
	background:#fff;
	height:50px;
}

div.boxBvideoSml{
	padding:5px;
	padding-top:15px;
	background:#fff;
	height:95px;
}

div.bVideob{
	background:#ddd !important;
}

span.boxFooterB{
	display:block;
	float:left;
}

span.boxRightB{
	float:right;
}

a.boxRti{
	display:inline-block;
	padding:0px 15px;
}
.contentVidBig {
	height: 170px;
	overflow: hidden;
}

.contentVidBig1Col {
	height: 160px;
	overflow: hidden;
	width:288px;
}


.contentVidSmall {
	height: 80px;
	overflow: hidden;
}

.contentAudSmall {
	height: 105px;
	overflow: hidden;
}


#clear{
	clear:both;
}
.clear{
	clear:both;
}
/*--- ENCART VIDEO ABIDJAN.NET TV----*/

#video .bigVideo .capVideob{
	float:left;
	width:330px;
	margin:auto;
	display:block;
	margin-bottom:15px;
	position:relative;
	}

div.boxBigVideo{
	
	float: left;
  	margin-left: 12px;
}
	
	
#video .bigVideo .right {
	
}
#video .bigVideo .capVideob .iVideo{
	display:block;
	width:55px;
	height:55px;
	position:absolute;
	bottom:40px;
	left: 150px;
	background:url(../images/video-play-red.png) no-repeat;

}
#video .bigVideo .capVideob img{
	background:#FFF;
}
#video .bigVideo .capVideob img:hover{
	opacity:0.5;

}
#video .bigVideo .capVideob .tVideo a{
	display:block;
	text-align:left;
	color:#39a2c9;
	font-size:14px;
	text-decoration:none;

}
#video .bigVideo .capVideob .fVideo{
	color:#999999;
	font-weight:bold;
	display:block;
	text-align:left;
	margin-top:5px;
	font-size:12px;
}

#video .smallVideo .capVideob{
	float:left;
	width:160px;
	margin:auto;
	display:block;
	padding:5px;
	margin-bottom:15px;
	position:relative;
	  margin-left: 7px;
	}

#video .smallVideo .capVideob .iVideo{
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	bottom: 90px;
	left:60px;
	background:url(../images/video-play-red-small.png) no-repeat;

}
#video .smallVideo .capVideob img{
	background:#fff;
}
#video .smallVideo .capVideob img:hover{
	opacity:0.5;

}
#video .smallVideo .capVideob .tVideo a{
	text-decoration:none;
	display:block;
	text-align:left;
	color:#39a2c9;
	font-size:14px;

}

/*---FIN ENCART VIDEO ABIDJAN.NET TV----*/


/*--- ENCART AUDIO ABIDJAN.NET ----*/

#video .smallVideo .capAudio{
	float:left;
	width:190px;
	margin:auto;
	display:block;
	padding:5px;
	margin-bottom:15px;
	position:relative;
	  margin-left: 7px;
	}

#video .smallVideo .capAudio .iVideo{
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	bottom: 95px;
	left:8%;
	background:url(../images/play-small-audio.png) no-repeat;

}
#video .smallVideo .capAudio img{
	background:#fff;
}
#video .smallVideo .capAudio img:hover{
	opacity:0.5;

}
#video .smallVideo .capAudio .tVideo a{
	text-decoration:none;
	display:block;
	text-align:left;
	color:#39a2c9;
	font-size:14px;

}
#video .smallVideo .capAudio .fVideo{
	color:#999999;
	font-weight:bold;
	display:block;
	text-align:left;
	margin-top:5px;
	font-size:12px;
}

.boxBaudioSml{
	padding:5px;
	padding-top:15px;
	background:#fff;
	height:85px;
}

/*--- FIN ENCART AUDIO ABIDJAN.NET ----*/

/*--- DEBUT ENCART ELECTION ----*/

.encartElectionP_In{
	height: 190px;
	width: 1040px;
	display: block;
	margin: 0 auto;
}

.encartElectionP_In2{
	height: 245px;
	width: 1040px;
	display: block;
	margin: 0 auto;
}
.encartElectionP_In3{
	width: 1040px;
	display: block;
	margin: 0 auto;
}


.encartElectionP_User{
	height: 180px;
	width: 95px;
	float: left;
	margin: 4px;
	text-align: center;
}
.encartElectionP_User2{
	width: 70px;
	float: left;
	margin: 4px;
	text-align: center;
	font-size:10px;
	height:85px;
	overflow:hidden;
	padding:3px;
	border:1px solid #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.02);
}
.encartElectionP_User2:hover{
	border:1px solid #f1f1f1;
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.encartElectionP_UserInfo{
	height: 130px;
	width: 100%;
	display:block;
	text-align: center;
}

.encartElectionP_UserInfo2{
	width: 100%;
	display:block;
	text-align: center;
}

.encartElectionP_Logo{
	height:40px;
	width:90px;
	float:left;
	margin:4px auto;
	text-align:center;
	padding:2px;
	color:#999999;
	font-size:11px;
	font-weight:bold;
	vertical-align: middle;
	line-height:36px;
	border-top: 1px dotted #dcdcdc;
	border-bottom: 1px dotted #dcdcdc;
}

.encartElectionP_Voix{
	height:30px;
	width:90px;
	float:left;
	margin:4px auto;
	text-align:center;
	padding:2px;
	color:#999999;
	font-size:16px;
	font-weight:bold;
	vertical-align: middle;
	line-height:36px;
	border-top: 1px dotted #dcdcdc;
}


.encartElectionP_Logo img{
	vertical-align:middle;
}

.encartElectionP_UserName{
	color:#4c4c4c;
	text-decoration:none
}
a.encartElectionP_UserName{
	color:#4c4c4c;
	text-decoration:none
}

.encartElectionP_Menu{
	display:block;

}

.encartElectionP_MenuItem{
	height:15px;
	float:left;
	padding:0 10px;
	border-right: 1px dotted #dcdcdc;
}

.encartElectionP_NoteDiv{
	float:right;
	width:300px;
	text-align:right;
	padding-right:20px;
}

.encartElectionP_Note{
	color:#999;
	text-decoration:none;
	font-size:11px;
}

a.encartElectionP_Note{
	color:#999;
	text-decoration:none;
	font-size:11px;
}

.encartElectionPCachUser{
  background-color: #fff;
  height: 180px;
  position: absolute;
  width: 95px;
  z-index: 1;
  filter:alpha(opacity=50);
  opacity:0.5;
}

.encartElectionPOpacityUser{
  background-color: #fff;
  height: 180px;
  width: 95px;
  opacity:0.5;
}

.encartElectionPOpacityUser2{
  background-color: #fff;
  height: 85px;
  width: 70px;
  opacity:0.1;
}

.btnResultatMainPage{
	width:250px; 
	margin:0 auto; 
	height:25px; 
	background-color:#D90003 !important; 
	line-height: 26px; 
	vertical-align: middle; 
	color:#FFF; 
	text-align:center; 
	background:url(http://www.abidjan.net/ELECTIONS/presidentielle/2015/images/puce-fch-anim.gif) no-repeat right top; 
	background-position:220px 2px;
}
.btnResultatMainPage a{
color:#FFFFFF; 
font-weight:bold; 
text-decoration:none;
}


.bckCheck-win {
    background-image: url("http://www.abidjan.net/ELECTIONS/presidentielle/2015/images/check-win.png");
    background-origin: padding-box;
    background-position: 62px 10px;
    background-repeat: no-repeat;
    background-size: auto auto;
	width: 65px;
}


/*--- FIN ENCART ELECTION ----*/

/*-----------------FIN NEW VIDEO STYLE---------------*/

.titlePageGray3c {
    color: #ccc;
    font-weight: 500;
    float: left;
    font-family: "Century Gothic",Arial,Helvetica,sans-serif;
    font-size: 45px;
    margin-top: -12px;
	padding-left: 5px;
}

h1.titlePageGray3c_0 {
    color: #ccc;
    font-weight: 500;
	margin:5px 0;
    font-family: "Century Gothic",Arial,Helvetica,sans-serif;
    font-size: 45px;
}

div.encartElectionP_UserInfo a:hover{
	color:#d81631;
	}
div.encartElectionP_UserInfo a:hover img{
	border:2px solid #d81631;
	box-shadow:0 2px 3px #999;
	}
	
.div-w1335{
	/*width:1335px;*/
	width: 1475px;
	
	}
.div-center{
	margin: 0 auto;
	}

/***********************Bouton Resultat PE***************************/
div.resultatElectDisp table{
	width:100%;
}

div.resultatElectDisp table td{
	text-align:center;
}		
div.resultatElectDisp a{
	display: block;
    background: #ff0000;
    color: #FFFFFF;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    width: 580px;
    margin-left: 211px;
    font-size: 15px;
	border-radius: 20px;
	font-weight: bold;
	margin-bottom:10px;
}

div.resultatElectDisp a:hover{
    background: #2eb101;
}


span.cgeciBoxT{
	display:block; margin-left: 7px; margin-top: 5px; font-weight: bold; font-style: italic; color: #18A04F;
}

/***********************Direct Static PE***************************/
a.YmD{
	font-weight:bold;
	font-size:13px;
}

div.directBorderRedPe{
	border:1px solid red !important;
}


.DivTauxVoix {
    border-top: 1px dotted #dcdcdc;
    color: #666;
	width:100%;
	padding:2px;
	margin-top: 2px;
	text-align:center;
	font-size:12px;
}

.DivHeightGouv {
	height:250px;
}

.DivHeightGouvMain {
	height:230px;
}

.DivHeightPresiMain {
	height:280px;
}

.DivPaddingGouvMain {
	padding:5px;
}

#moduleGouv{
	background-color:#FFFFFF;
	border:1px solid #DCDCDC;
	font-family: Arial, Helvetica, sans-serif;
	position:relative;
}

#moduleOrdrePro{
	position:absolute;
	top:5px;
	right:5px;
	padding:5px;
	background-color:#999;
	border-radius:50%;
	color:#FFF !important;
	width:15px;
	height:15px;
	text-align: center;
}

#moduleOrdrePro span{
	color:#FFF !important;
	font-weight:bold;
}

.TableGouv{
	border-collapse:collapse;
	margin:-1px;
	padding:0;
	
}

.imgAllGouv{
	width:100%;
	

}
/***********************DEBUT BOX UEFA EURO 2016***************************/
.img-vertical-text {
  vertical-align:middle;
}

.pointille-Vert-gray {
    border-top: 1px dotted rgb(153, 153, 153);
    border-bottom: 1px dotted rgb(153, 153, 153);
    margin: 10px 5px;
    padding: 5px 0;
    border-top-color: #DCDCDC;
}

.pointille-Vert-gray:hover {
	background-color: #f7f7f7;
}

.font-red {
    color:#D51835;
}

.DivLogoUEuro {
	width:50px;
	float:left;
	padding:5px;
}
.DivLinkUEuro {
	width:305px;
	float:left;
	padding-top:26px;
}
/***********************FIN BOX UEFA EURO 2016***************************/

#moduleSportPE {
    background-color: #84ad09;
    border: 1px solid #84ad09;
	color:#FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    padding: 5px;
}
.txtChaineUEFA{
	color:#FFF !important;
	text-decoration:none !important;
}
.txtChaineUEFA:hover{
	color:#FFF !important;
	text-decoration: underline !important;
}


/***********************DEBUT BOX CARTE VISAS***************************/

.DivBtnVisa {
	padding:5px;
	background:#efefef;
	    margin-top:8px;
}

.bgK{
	background:#DFDFDF !important;
}

.DivBtnVisa a.VisaMargTop13 {
	color: #d51835;
    border-radius: 20px;
    transition: all 0.3s ease;
    display: inline-block;
    background: #ffffff !important;
    padding: 8px 8px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
    width: 92%;
    text-align: center !important;
    box-shadow: 0px 1px 1px #a98282;
    border: 1px solid #d51835;
	border-radius: 11px !important;
}

.iconPied{
	margin-top:-10px;
}
.DivBtnVisa .VisaMargTop13:hover {
    background: #ae0321;
}

a.DivLinkVisa2{
	clear:both !important;
	display:block !important;
	text-align:left !important;
	font-size:10px !important;
	color: #003266 !important;
	font-weight:normal !important;
	padding: 6px 0 !important;
	line-height: 13px !important;
	margin-bottom: 6px !important;
	text-align:center !important;
	background:none;
}

.DivLinkVisa:hover {
	/*background-position:3% 75% !important;
	*/
	color:#ae0321 !important;
}	

.VisaMargTop13 {
	margin-top: 13px !important;
}

.VisaMargRight4 {
	margin-right: 4px !important;
}

.InputTxtVisa {
    width: 78%;
    border: 2px solid #ececec !important;
    background: #fff !important;
    padding: 8px 8px !important;
    color: #333 !important;
    font-size: 12px !important;
    vertical-align: 3px;
	border-radius: 4px;
	margin:3px 5px 10px 0;
	-webkit-appearance: none;
}

 .un{
	padding: 5px;
    border-radius: 6px;
    width: 18px;
    height: 9px;
    text-align: center;
    color: #d51835;
    padding-bottom: 8px;
    border: 1px solid #d51835;
    margin-right: 5px;
	margin-top: 9px;
    display: block;
    float: left;
	
 }

.BtnFormVisa {
    background: #d51835 !important;
    padding: 10px 29px !important;
    color: #fff !important;
    font-size: 15px !important;
    vertical-align: 3px;
    border-radius: 11px !important;
    width: 100%;
    margin: 3px 0 10px 0;
    font-weight: bold;
    box-shadow: 0px 1px 1px #a98282;
    text-align: center;
    -webkit-appearance: none;
    border: none;
	margin-top:5px;
}

.BtnFormVisa:hover {
	background: #e60729 !important;
	color:#fff !important;
	-webkit-appearance: none;
}

.FormVisaHidMargBtm {
	margin-bottom: -2px !important;
	text-align:center !important;
}

.RowVisa {
	width:393px;
	height:60px;
	display:block;
	clear:both;
	margin-top:20px;
	background-color:#f5f5f5 !important;
}

.RowVisaLeft {
	width:330px;
	height:60px;
	/*float:left;*/
	display:block;
	clear:both;
	border-top: 1px solid #DCDCDC;
	padding-top:6px;
	padding-left: 3px;
}

.RowVisaRight {
	width: 94px !important;
    height: 75px !important;
    vertical-align: middle;
    margin-top: -84px;
    margin-left: 316px;
}

.RowVisaSubTitle {
	width: 330px !important;
	border-bottom: 1px dotted rgb(153, 153, 153);
	margin: 0 0 6px 0 !important;
	padding-bottom:7px !important;
	display:block;
	clear:both;
	/*color:#d21939;
	font-size:15px !important;
	*/
}

.left{
	float:left;
}

.float1{
	float: left;
	width: 38%;
	padding: 5px;
	background: #fff;
	margin-right: 10px;
	border-radius: 5px;
}
.float2{
	float: left;
    width: 59%;
    padding: 5px;
    background: #fff;
	border-radius: 5px;
}

.encartElectionP_In4{
}
.encartElectionP_User_ok{
	float:left;
}

.CadreCandidatNom {
    font-family: verdana;
    font-size: xx-small;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    color: #999999;
}

/***********************css SAPHIR***************************/

/***********************Fin css SAPHIR***************************/
#prix_gaz_saphir{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px; 
font-weight: bolder;
font-style: normal;
font-variant: normal;
color: #595959;margin: 5px 0 10px;
text-align:center;
	
	}
	
	#cadre_gaz_saphir{
width:253px;
height:35px;
 background:#9C6;
  float:left;
	}
	
	

/***********************FIN BOX CARTE VISAS***************************/
/***********************FIN CESS V3***************************/


/***********************Encart prix du butan Saphir***************************/
.prix-butan-saphir{
	width:198px;
	 height:20px;
	  float:left;
	   margin-left:5px;
	    line-height:2.2;
		  border-right:1px solid #DCDCDC;
		  margin:3px;	
		
		}
		
.prix-butan-saphir-right{
	width:198px;
	 height:20px;
	  float:left;
	   margin-left:5px;
	    line-height:2.2;
		  margin:3px;	
		
		}
/***********************fin Encart prix du butan Saphir***************************/