﻿/* CSS layout */

/* GENERAL SETTING */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #333333;
}
a:link {
	color: #003266;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #003266;
}


.FontCategory {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #BC0000;
}
.FontCategorySml {
	font-style: normal;
	font-variant: normal;
	color: #BC0000;
}

FontBodyLive {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #666666;
	text-decoration:none;
}
A.FontBodyLive {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #ff3300;
}

.FontFlashInfoCI {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #000000;
}

.FontFlashInfoInter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.FontCategoryLive {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #666666;
}
A.FontCategoryLive {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #666666;
	text-decoration:none;
}
A.FontCategoryLive:hover {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #ff3300;
	text-decoration:underline;
}


/* GRAND MENU PRINCIPALE */

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 16px Arial, Helvetica, sans-serif}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 10px 10px;
	width: 129px;
	background: #ECECEC;
	color: #000000;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
	{	background: #D51835;
		color: #FFFFFF}
		
#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	border: 1px solid #ECECEC}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 10px 15px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #000000;
		color: #FFFFFF;
		font: 12px Arial, Helvetica, sans-serif}

	#sddm div a:hover
	{	background: #D51835;
		color: #FFFFFF}

/* CUISINE PAGE D'ENTREE */

.FontRecetteTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	
}


/* LEGISLATIVES 2011 PAGE D'ENTREE */

.CadreCandidatNom {
	font-family: verdana;
	font-size: xx-small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}


.FontCategoryGd {
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #BC0000;
	font-size:13px;
}

.FontMainTitle {
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}

.FontMainTitle-orange {
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	color:#ee7f00;
}

.FontMainTitleSml {
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	font-size:11px;
}




.FontPharmacie {
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	font-size: small;
}




/* Effet sur les images avec l'ombre */

img.shadow {
	background: url(http://www.abidjan.net/images/shadow-1000x1000.gif) no-repeat right bottom;
	padding: 5px 10px 10px 5px;
}





fieldset.search {
	border: none;
	width: 243px;
	margin: 0 auto;
	background: #fffff;
}
.search input, .search button {
	border: none;
	float: left;
}
.search input.box {
	color: #fff;
	font-size: 1.2em;
	width: 190px;
	height: 30px;
	padding: 8px 5px 0;
	background: #616161 url(http://www.abidjan.net/photos/search_bg.gif) no-repeat;
	margin-right: 5px;
}
.search input.box:focus {
	background: #616161 url(http://www.abidjan.net/photos/search_bg.gif) no-repeat left -38px;
	outline: none;
}
.search button.btn {
	width: 38px;
	height: 38px;
	cursor: pointer;
	text-indent: -9999px;
	background: #fbc900 url(http://www.abidjan.net/photos/search_bg.gif) no-repeat top right;
}
.search button.btn:hover {
	background: #fbc900 url(http://www.abidjan.net/photos/search_bg.gif) no-repeat bottom right;
}


/* Tricker */


.TrickertPointilleVertical {
	border-right: 1px dotted rgb(153, 153, 153);
	margin-right: 10px;
	padding-bottom: 10px;
	border-right-color: #DCDCDC;
}

.TrickertPointille {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 2px;
	padding-bottom: 2px;
	border-top-color: #DCDCDC;
}




/* Pointiller de separation */

.pointille {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 10px;
	border-top-color: #DCDCDC;
}



.pointilleShadow {
	background: url("http://www.abidjan.net/images/bckgnd-menu-rubrik.gif") repeat-x scroll center bottom #FFFFFF;
	border-bottom: 1px dotted rgb(153, 153, 153);
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	border-bottom-color: #DCDCDC;
}

.pointille-orange {
	border-top: 1px dotted #ee7f00; 
	margin-top: 10px; 
	padding-bottom: 10px;
}

.pointille-h15 {
	border-top: 1px dotted rgb(153, 153, 153); 
	margin-top: 8px; 
	height:8px;
}

.pointille-menu {
border-top:1px dotted #B4B3B3;
height:1px;
margin-top:2px;
padding-bottom:2px;
}

.pointilleGreen {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 10px;
	border-top-color: rgb(185, 227, 70);
}
.pointilleHrGreen {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 2px;
	border-top-color: rgb(185, 227, 70);
}

.images {
	border-style: solid;
	border-width: 1px;
	margin-left: 5px;
	margin-right: 5px;
}


/* LAYOUT */

#masthead {
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}
#masthead2 {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}


#top_nav {
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}
#top_nav2 {
	width: 751px;
	margin-right: auto;
	margin-left: auto;
}

#top_nav_menu {
	padding: 5px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #EFEFEF;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C0C0C0;
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
}

#rsx_fixed{
	position:fixed;
	top:0;
	left:0;
	right:0;
}
.rsx_top25{
	margin-top:30px;
}

#top_nav_menu_reseau_weblogy {
	/*background-position: left center;*/
	position:relative;
	padding: 8px;
	width: 1045px;
	margin-right: auto;
	margin-left: auto;
	background-color: #2C2C2C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-image: url('http://www.abamako.com/images/red_arrow_reseau.jpg');
	background-repeat: no-repeat;
}



#container {
	padding: 5px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}

#container-module {
	padding: 5px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}

#container-module_color {
	border-style: solid none none none;
	border-color: #D51835;
	border-width: medium;
	padding: 5px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}



#container2 {
	padding: 0px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}


#right_col {
	width: 300px;
	float: right;	
}

#page_content {
	margin-right: 310px;
	height: auto;
}
#page_content2 {
	height: auto;
}


#right_col_content {
	margin-right: 0px;
	float: right;
	width: 300px;	
}

#left_col_content {
	margin-right: 310px;

}

#page_content_bottom {
	margin-right: 310px;
}

#right_col_content_bottom {
	margin-right: 0px;
	float: right;
	width: 300px;
}

#left_col_content_bottom {
	border-color: #830000;
	margin-right: 310px;
}


#footer {
	width: 1050px;
	right: auto;
	left: auto;
	clear: both;
	background-color: #FFFFFF;	
}

/* LAYOUT MODULE */


.boxNavigationPosition {
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #ECECEC;
	border-bottom-color: #ECECEC;
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
	color: #808080;
}

.FontboxNavigationPosition {
	font-family: Verdana;
	font-size: x-small;
	font-weight: bold;
	color: #808080;
}


.box {
	border-top: 6px solid #ECECEC;
	padding: 3px;
	border-left-color: #ECECEC;
	border-left-width: 10px;
	border-right-color: #ECECEC;
	border-right-width: 10px;
	border-bottom-color: #ECECEC;
	border-bottom-width: 10px;
}


.newBoxVideo {
	border: 1px solid #DCDCDC;
	background-color: #ECECEC;
}


.newBox {
	border-top: 6px solid #ECECEC;
	padding: 3px;
	border: 1px solid #DCDCDC;
	background-color: #ECECEC;
}

.newBoxBlack {
	border-top: 6px solid #010101;
	padding: 3px;
	border: 1px solid #010101;
	background-color: #010101;
}


.newBoxSports {
	border-top: 6px solid #6FAA12;
	padding: 3px;
	border: 1px solid #DCDCDC;
	background-color: #6FAA12;
}

.contentBox {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
}

.fullContentBox {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
}

.CarreContentBox {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
}

.fullContentBoxFlashInter {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px 5px 5px 0px;
}


.fullContentBoxService {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
	height: 240px;
}

.fullContentBoxService2 {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
	/*height: 240px;*/
}

.newBoxFlashInfoHot {
	border-top: 6px solid #D51835;
	padding: 5px;
	border: 1px solid #D51835;
	background-color: #F9F9F9;
}


.newBoxFlashInfo {
	border-top: 6px solid #D51835;
	padding: 3px;
	border: 1px solid #D51835;
	background-color: #D51835;
}

.newBoxFlashInfo_Black {
	border-top: 6px solid #DCDCDC;
	padding: 3px;
	border: 1px solid #DCDCDC;
	background-color: #DCDCDC;
}


.fullContentBoxFlash {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px 5px 5px 0px;
	background-color: #F5F5F5;
}

.fullContentBoxDepeche {
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
	background-color: #F5F5F5;	
}


.boxRed {
	border-top: 6px solid #830000;
	padding: 3px;
	border-left-color: #830000;
	border-left-width: 10px;
	border-right-color: #830000;
	border-right-width: 10px;
	border-bottom-color: #830000;
	border-bottom-width: 10px;

}

.boxBlack {
	border-top: 6px solid #000000;
	padding: 3px;
	border-left-color: #000000;
	border-left-width: 10px;
	border-right-color: #000000;
	border-right-width: 10px;
	border-bottom-color: #000000;
	border-bottom-width: 10px;

}

.FontConsultezChaine {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #222222;
}

.boxTitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #222222;
}
.boxTitreLive {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #ff3300;
}

.boxTitreWhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #FFFFFF;

}

.boxTitreRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #830000;
}


.boxTitreRed2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #D51835;
}


.boxTitreFluo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #819401;

}


.boxTitreOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #ff9900;

}

.boxTitreYellow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #ffcc00;

}


h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #FF0000;
}
.fullbox {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ECECEC #ECECEC #ECECEC #ECECEC;
	padding: 3px;
}

.boxfooter {
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	border-color: #ECECEC #ECECEC #ECECEC #ECECEC;
	padding: 3px;
}




.boxRedbgGris {
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	border-color: #830000;
	padding: 5px;
	background-color: #FAFBFC;
}


.boxServices {
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	border-color: #000000;
	padding: 5px;
}



.fullboxbgGrisClair {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ECECEC #ECECEC #ECECEC #ECECEC;
	padding: 3px;
	background-color: #F8F8F8;
}


.fullboxYellow {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ffcc00 #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
}

.fullboxblue {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #8083E0 #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
}

.fullboxblack {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #000000 #ECECEC #ECECEC #ECECEC;
	padding: 3px;
}


.fullboxLive {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ff3300 #ff3300 #ff3300 #ff3300;
	height:204px
	padding: 3px;
	background-image:url('../images/live/bckgnd-encart-live.gif')
}


.fullboxJaune {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #ffe405 #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
}
.fullboxJauneF {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #e7fc57 #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
}


.fullboxRed {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #830000;
	padding: 3px;
}


.fullboxOrange {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #E76B13;
	padding: 3px;
}



.fullboxGreen {
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: #BAE545;
	padding: 3px;
}



.fullboxGreenTitro {
	background-position: bottom;
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	border-color: #BAE545;
	padding: 3px;
	
}


.tableBanner {
	border-right-style: dotted;
	border-right-width: 1px;
	border-right-color: #CCCCCC;
}



.fontText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}


.FontPlusContenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}


.FontTextSousTitle {
	font-family: verdana;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}


.FontTextSousTitleViolet {
	font-family: verdana;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #c793fe;
}


.FontArticleMainTitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontArticleEclusif{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}



.shadowBox {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 0 7px 1px #999;
-webkit-box-shadow: 0 0 7px 1px #999;
/*box-shadow: 0 0 7px 1px #999;*/
box-shadow: 0 0 3px 1px #ccc;
}

.shadowInBox {
-moz-box-shadow: inset 0 0 5px #888;
-webkit-box-shadow: inset 0 0 5px#888;
box-shadow: inner 0 0 5px #888;
}

.shadowBoxCarre {
-moz-box-shadow: 0 0 11px 2px #999;
-webkit-box-shadow: 0 0 11px 2px #999;
box-shadow: 0 0 11px 2px #999;
}



.p {
	margin-bottom: 2px;
	margin-top: 8px;
}


.PhotoVideoUne {
	text-align: center;
}


.ALaUne {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: small;
	font-weight: bold;
	font-style: normal;
	color: #666666;
	font-variant: normal;
}

/* LOGO ABIDJAN.NET */

#logo_content {
	float: left;
	width: 260px;
	height: 60px;
}

.logo {
	margin: 5px;
}


/* CHIFFRES CLES */

.ChiffreBoxNoDesc {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
	min-height: 300px; 
	width: 220px;
}

.ChiffreBox {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;
	padding: 5px;
	min-height: 480px; 
	width: 220px;
}

.ChiffreSource {
	color: #999999;
	font-size: 12px;
	clear:left;
}

/*.ChiffreUnite {
	color: #d51834;
	font-size: 30px;

}
.Chiffre {
	font-family: "Century Gothic";
	font-size: 60px;
	font-weight: bolder;
}*/
.ChiffreDescription {
	color: #000000;
	font-size: 13px;
	clear:both;	
}




.ChiffreSourcePage {
	color: #999999;
	font-size: 12px;
}

/*.ChiffreUnitePage {
	color: #d51834;
	font-size: 60px;

}
.ChiffrePage {
	font-family: "Century Gothic";
	font-size: 100px;
	font-weight: bolder;
}*/
.ChiffreDescriptionPage {
	color: #000000;
	font-size: 16px;
	clear:left;
}



.ChiffrePage {
  font-family:"Century Gothic", Arial, Helvetica, sans-serif;
  color:#4c4c4c;
  font-size:100px;
  font-weight:bolder;
  float:left;
}

.ChiffreUnitePage {
	color:#4c4c4c;
	font-size:60px;
	float:left;
	margin-left: 12px;
	padding-top: 17px;
}


.Chiffre {
  font-family:"Century Gothic", Arial, Helvetica, sans-serif;
  color:#4c4c4c;
  font-size:45px;
  font-weight:bolder;
  float:left;
  margin-top:-12px;
}

.ChiffreUnite {
	color:#4c4c4c;
	font-size:20px;
	float:left;
	margin-left: 0px;
}

.sup-chiffre{
	font-size: 30px; 
	position: relative;
	top: 12px;
	font-weight: normal;
}





/* PENSEE DU JOUR */

#Pensee_content {
	margin-right: 0px;
	width: 500px;
	text-align: center;
	height: auto;
}

.PenseeTableau {	
	white-space: nowrap;}


.PenseeTalkBull {	
	padding: 5px; 
	border: 2px solid #ECECEC; 
	width: auto; 
	height: auto; 
	right: auto; 
	left: auto;	
	text-align: left;	
}

.PenseeTalkArrow {
	vertical-align: top;
}

.PenseeAuthorImage {
	border-style: solid;
	border-width: 1px;
	margin: 5px;
	vertical-align: middle;
}

.PenseeAuthorName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	font-style: normal;
}


/* PRESSE */

.FontArticleMainTitle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	/*font-family: "TheSerifOffice", georgia, serif;*/
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.FontArticleTitle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontTitleDepeche {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


.FontArticleSource {
	font-family: verdana;
	font-size: x-small;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	color: #999999;
}
.FontArticleDate {
	font-family: verdana;
	font-size: xx-small;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
}
.Legende {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}


/* TRICKER */

.TrickerBgColor {
	background-color: #F5F5F5;
}
.TrickerCenterCell {
	text-align: center;
}
.TrickerFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.pointilleVertical {
	border-right-style: dotted;
	border-right-width: 1px;
	border-right-color: #DCDCDC;
}



/* RELATTED ARTICLES */

.pointilleVerticalLeft {
	border-Left-style: dotted;
	border-Left-width: 1px;
	border-Left-color: rgb(153, 153, 153);
}

.FontTitleRelatedDepeche {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}


/* AGENDA */

.Agenda_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	font-style: normal;
}

li {
	list-style-type: square;
	list-style-position: inside;
}

.MainCategoryFont {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.MainCategory {
	border-right-style: dotted;
	border-right-width: 1px;
	border-right-color: rgb(153, 153, 153);
}



.CategoryArticleTitle {
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
	font-size: 19px;
	line-height: 21px;
	text-align: left;
	text-transform: uppercase;
	color: #D10000;
}


/* FLOATING AD */

#flotingad {
	margin: auto;
	position: absolute;
	visibility: visible;
	top: 450px;
	left: 309px;
	width: 500px;
	height: 500px;
	z-index: 1;
}
.FontRubriqueName {
	font-family: "Times New Roman", Times, serif;
	color: #0045A3;
	font-size: 30px;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}



/* Abidjan.net Paroles
------------------------------------------ */

/*#container {width:727px; padding:0 0 50px; margin:0 auto;}*/

.example-right {
	position: relative;
	padding: 5px 30px;
	margin: 0;
	color: #000000;
	background: #ECECEC;
/* default background for browsers without gradient support */ /* css3 */	border-radius: 15px; /* NOTE: webkit gradient implementation is not as per spec */;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ECECEC));
	background: -moz-linear-gradient(top, #FFFFFF, #ECECEC);
	background: -o-linear-gradient(top, #FFFFFF, #ECECEC);
	background: linear-gradient(top, #FFFFFF, #ECECEC);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	font-style: italic;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-right + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.example-right:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-50px;
	left:50px;
	width:0;
	height:0;
	border-width:0 20px 50px 0px;
	border-style:solid;
	border-color:transparent #ECECEC;
}




/* Bubble pour GRAND QUESTIONS pour les commentaires
------------------------------------------ */

.triangle-isosceles-QUESTIONS {
   position:relative;
   padding:15px;
   margin:1em 0 1.5em;
   color:#000;
   background:#FEDE5C;

   /* css3 */
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   background:-moz-linear-gradient(top, #f9d835, #f3961c);
   background:linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles-QUESTIONS:after {
   content:"";
   display:block; /* reduce the damage in FF3.0 */
   position:absolute;
   bottom:-15px;
   left:40px;
   width:0;
   border-width:15px 15px 0;
   border-style:solid;
   border-color:#FEDE5C transparent;
}


.triangle-isosceles-REPONSES {
   position:relative;
   padding:15px;
   margin:1em 0 1.5em;
   color:#000;
   background:#F5F5F5;

   /* css3 */
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   background:-moz-linear-gradient(top, #f9d835, #f3961c);
   background:linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles-REPONSES:after {
   content:"";
   display:block; /* reduce the damage in FF3.0 */
   position:absolute;
   bottom:-15px;
   left:40px;
   width:0;
   border-width:15px 15px 0;
   border-style:solid;
   border-color:#F5F5F5 transparent;
}









.Parole_Photo {
	border-style: solid;
	border-width: 1px;
	margin-left: 5px;
	margin-right: 5px;
}
.slm-txt-gray-italik {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: italic ;
	font-variant: normal;
	color: #ff6600;
}
.smlboxgray {
	border-style: dotted;
	border-width: 1px 1px 1px 1px;
	border-color: #CCCCCC #CCCCCC #CCCCCC #CCCCCC;
	padding: 3px;
	background-color:#f9f4fe;
}
.smlboxmoov {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ECECEC #ECECEC #ECECEC #ECECEC;
	padding: 1px;
}
.TDMenuDTop {
    border-top: 1px dotted;  
    border-bottom: 1px dotted;  
    border-color: #9798AA;
    background-color: #FFFFFF;
    height: 29px;
    color: #363740;
    width:auto
}

.pointille-menu {
	border-top: 1px dotted #b4b3b3; 
	margin-top: 2px; 
	padding-bottom: 2px;
	height:1px;
}

.td_pointille-b {
	border-bottom: 1px dotted #b4b3b3;
	height:24px; 
}

.text-rg-A24 {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #db3f42;
	font-weight:bold;
}
.text-blue-A24 {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #1f3e6a;
	font-weight:bold;
}


.whitebgChat {
	background-color: #FFFFFF;
}

.cadreIphone{
  background-image:url(http://www.abidjan.net/images/img_abidjan-net_iphone.gif);
  background-repeat: no-repeat;
  height:120px;
  width:300px;
  padding-top:42px;
}

.barreSeparation {
	border-style: solid;
	border-width: 10px 0px 1px 0px;
	border-color: #ECECEC #ECECEC #ECECEC #ECECEC;
	padding:3px;
}

#icone a.bouton:hover {
    background-position: 0px -22px;
}

#icone a.bouton {
    background: url("http://www.abidjan.net/mobile/images/btn_download_app.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    height: 22px;
    vertical-align: middle;
    width: 217px;
}

/*----------------------- Style Encart Video sponsorisee ------------------------------------*/
.fullboxVertFonce {
    background-color: #008f58;
    border-color: #008f58;
    border-style: solid;
    border-width: 10px 1px 5px;
    padding: 3px;
}

.fullboxVidSponRouge {
    background-color: #B30000;
    border-color: #B30000;
    border-style: solid;
    border-width: 10px 1px 5px;
    padding: 3px;
}

.boxTitreVidSpons {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #000000;
	padding-left:5px;
}


.boxTitreOrange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: ffad37;
	padding-left:5px;
}

.linkwhite {
	color: #FFFFFF;
}
A.linkwhite {
	color: #FFFFFF;
	text-decoration:none;
}


/*-----------------------End Moov ------------------------------------*/

.pointilleMenuRubrk {
	border-top: 1px dotted rgb(153, 153, 153); 
	margin-top: 5px; 
	padding-bottom: 0px;
}
.lignMenuRubrk {
	background: url("http://www.abidjan.net/images/bckgnd-menu-rubrik.gif") repeat-x scroll center bottom #FFFFFF;
	border-bottom: 1px dotted rgb(153, 153, 153);
	margin: 0px;
	padding: 2px 2px 8px 2px;
	height: 25px;
	/*border-bottom-color: #DCDCDC;	*/
	border-bottom-color: #DCDCDC;
}
.LinkMenuRubrk {
	margin: 0px; 
	padding: 0px 2px;
	height:25px;
	width:230px;
	text-align:left;
	float:left;
	line-height:25px;
	vertical-align:middle;
	/*border-style:solid;
	border-width:1px;
	border-color: blue;*/
}
.ImgMenuRubrk {
	margin: 2px 0; 
	padding: 0px;
	height:25px;
	width:35px;
	text-align:left;
	float:left;
	/*border-style:solid;
	border-width:1px;
	border-color:gray;*/
}

/*BACKGROUNG RUBRIQUE SANTE*/
.bckRubSante {
    /*background: url("http://www.abidjan.net/sante/images/backgnd-rubrk-sante.jpg") no-repeat fixed center top #FFFFFF;*/
  
}

/*Formulaire bas de page Recensement Ministere FOnction Publique*/
.champ2 {
    border: 1px solid #CCCCCC;
    color: #636262;
    font: 11px Arial,sans-serif;
    height: 15px;
    margin: 0;
    padding: 1px 4px;
    width: 170px;
}

.div_lib2 {
    color: #555555;
    font-size: 12px;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    font-weight:normal;
}

/*--------------------DEBUT ENCART FLASH SPONSORING BNI--------------------------*/

.fullContentBoxBNI {
	border-style: solid;
	border-width: 0px 1px 0px 1px;
	/*border-color: #009e54 #009e54 #009e54 #009e54;*/
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;	
	padding: 5px;
	background-image: url('../images_diverses/logo-BNI-bckgnd.gif'); background-repeat: no-repeat; background-position: center center;
}

.newBoxFlashInfoBNI {
	border-top: 6px solid #009e54;
	padding: 3px;
	border: 1px solid #515558;
	/*background-color: #009e54;*/
	background-color: #515558;
}
.newBoxFlashInfo2BNI {
	border-top: 6px solid #009e54;
	padding: 3px;
	border: 1px solid #515558;
	/*background-color: #009e54;*/
	background-color: #515558;
	height:45px;
}


.boxTitreWhiteBNI {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	/*color: #f7a800;*/
	color: #ffffff;

}
.divLogoBNI {
	height:45px;
	float:right;
	width:55px;
	vertical-align:middle;
	line-height:45px;
}
.divLeftBNI {
	float:left;
	width:200px;
	/*	height:45px;
	vertical-align:bottom;
	line-height:45px;*/
	text-align:left;
	color:#FFF;
	font-size:10px;
	padding:0 0 6px 6px;
	margin-top: 30px;
	
}

.FontFlashInfoCIBNI {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	/*color: #009e54 - FF6600;*/
	color: #009e54
}

.newBoxFlashInfoHotBNI {
	border-top: 6px solid #009e54;
	padding: 5px;
	border: 1px solid #009e54;
	background-color: #F9F9F9;
}

.pointilleBNI {
	border-top: 1px dotted rgb(153, 153, 153);
	margin-top: 10px;
	padding-bottom: 10px;
	border-top-color: #33af75;
}

/*--------------------FIN ENCART FLASH SPONSORING BNI--------------------------*/

/*--------------------DEBUT SPONSORING ENCART DEPECHE ASKY--------------------------*/
.fullContentBoxDpchAsky {
	border-style: solid;
	border-width: 0px 1px 0px 1px;
	/*border-color: #009e54 #009e54 #009e54 #009e54;*/
	border-color: #DCDCDC #DCDCDC #DCDCDC #DCDCDC;	
	padding: 5px;
	background-image: url('../images_diverses/asky/logo-asky-bckg.png'); background-repeat: no-repeat; background-position: center center;
}

.newBoxDpchAsky {
	padding: 3px;
	/*border-top: 6px solid #009e54;
	border: 1px solid #515558;
	background-color: #009e54;
	background-color: #633A15;*/
	background-image:url(../images_diverses/asky/bckg-bottom.jpg);
	height:45px;
}
.divLogoDpchAsky {
	height:45px;
	float:right;
	width:74px;
	vertical-align:middle;
	line-height:45px;
}
.divLeftDpchAsky {
	float:left;
	width:200px;
	/*	height:45px;
	vertical-align:bottom;
	line-height:45px;*/
	text-align:left;
	color:#F2A413;
	font-size:10px;
	padding:0 0 6px 6px;
	margin-top: 30px;
	
}
.newBoxTopDpchAsky {
	border-top: 6px solid #009e54;
	padding: 3px;
	border: 1px solid #515558;
	/*background-color: #009e54;*/
	background-color: #633a15;
}


/*--------------------FIN SPONSORING ENCART DEPECHE ASKY---------------------------*/

/*--------------------DEBUT SPONSORING ENCART CHIFFRES CLES SIB---------------------------*/
/* CSS depeche Sib */
.fullContentBoxDpchSib{
	border:1px solid #ddd;
	border-bottom:none;
	padding: 5px;
}
.newBox_sib_sponsor {
	padding: 4px;
	border: 1px solid #fabb00;
	background: #fabb00;
}
.boxTitre_sib_sponsor{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	color: #fff;
}
.newBoxDpchSib {
	padding: 3px;
	background: url(../images_diverses/sib/logo-sib-bckg.png) repeat-x bottom;
	height: 56px;
	margin:-5px;
	margin-top:4px;
}

.newBoxDpchSib2 {
	padding: 3px;
	/*background: url(../images_diverses/sib/logo-sib-bckg.png) repeat-x bottom;*/
	height: 56px;
	margin:-5px;
	margin-top:4px;
}

.divLogoDpchSib {
	height: 67px;
	float: right;
	vertical-align: middle;
	margin-top:-10px;
}

.divLogoDpchSib2 {
	height: 50px;
	float: right;
	vertical-align: bottom;
	margin-top:9px;
}

.divLeftDpchSib {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	float: left;
	text-align: left;
	color: #fff;
	font-size: 10px;
	padding: 0 0 6px 6px;
	margin-top:38px;
}

/*Fin CSS depeche SIB*/

/*--------------------FIN SPONSORING ENCART CHIFFRES CLES SIB---------------------------*/

/*--------------------DEBUT ENCART COMPTE REBOURS AIR FRANCE-------------------------*/
#count_air_f {
	width: 300px;
	margin: auto;
}
#rebour{
	display:block;
	text-align:center;
	margin-top:-35px;
	
}
.jour{
	color:#F00;
	font-weight:bold;
	font-size:25px;
	font-family:Arial, Helvetica, sans-serif;
}

/*--------------------FIN ENCART COMPTE REBOURS AIR FRANCE---------------------------*/


/*--------------------DEBUT BOUTON FACEBOOK DEPECHE--------------------------*/
.bulle_nombre
{
 font-size:11px;
 color:#999999;
 line-height:19px;
 margin:2px 0 0;
 text-align:center;
 background-position:0 -230px;
 height:18px;
 text-indent:0;
 width:40px;    
 display:block;
 border:1px solid #DDDDDD;
 border-radius:10px 0 0 0;
 
}
/*--------------------FIN BOUTON FACEBOOK DEPECHE--------------------------*/


/*--------------------DEBUT CSS AGENDA- COMMUNIQUE--------------------------*/
.mainDivAgdCmq {
	width:1050px;
	min-height:90px;
	margin-left:auto;
	margin-right:auto;
}
.mainDivAgd {
	width:800px;
	min-height:90px;
	margin-left:10px;
}
.DivAgdCmq {
	width:262px;
	float:left;
}

.DivAgd {
	width:257px;
	float:left;
	margin-left:3px;
	height:100px;
	overflow: visible;
}


.DivLeftCmq {
	width:172px;
	height:90px;
	vertical-align:middle;
	display:table-cell;
	text-align:center;
}

.DivLeftAgd {
	width:172px;
	height:90px;
	display:table-cell;
}


.DivRightAgdCmq {
	width:85px;
	height:90px;
	float:left;
	line-height:90px;
	vertical-align:middle;
}

.pointilleAgdCmq {
    border-top: 1px dotted #DCDCDC;
    clear: both;
    margin-top: 10px;
    padding-bottom: 10px;
}

/*--------------------FIN CSS AGENDA- COMMUNIQUEE--------------------------*/
/*--------------------DEBUT FLECHE UP--------------------------*/
#fleche_up
{
	display:none;
position: fixed;
bottom: 80px;
right: 35px;
cursor: pointer;
}
#fleche_up img
{
	opacity:0.2;
}
#fleche_up img:hover
{
	opacity:1;
}

/*--------------------FIN FLECHE UP----------------------------*/

/*--------------------DEBUT TRICKER----------------------------*/
#editorial{
  display:block;
  width:310px;
  height:86px;
  background:url("images/logoSIFCA_sp2.jpg") no-repeat;
  background-position:0 15px;
  margin:0 auto;
  border:dotted 1px #F0F;
}
/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#editorial:hover,#editorial:active,#editorial:focus{
  background-position:0 -105px;
}


.tricker_main{
  display:block;
  width:1050px;
  height:85px;
  margin:0 auto;
  background-color:#FFF;
  
 font-family: Arial,Helvetica,sans-serif;
 font-size: x-small;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 clear:both;
  
}
.tricker_main2{
	display:block;
	width:1050px;
	height:85px;
	border-bottom: 1px dotted #DCDCDC;
	background-color:#FFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: x-small;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	clear:both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;  
}
.in_tricker_main2{
  display:block;
  width:175px;
  height:75px;
  margin-left:0px;
}

/*DEBUT TRICKER 0---------------------*/
#tricker0{
  display:block;
  width:202px;
  height:85px;
  background:url("../images/logoPETROCI_sp.jpg") no-repeat;
  background-position:5px 8px;
  margin-top:0;
  float:left;
  border-right: 1px dotted #DCDCDC;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker0:hover,#tricker0:active,#tricker0:focus{
  background-position:5px -80px;
}


.link_tricker0{
  display:block;
  width:60px;
  height:85px;
  margin-left:0px;
  float:left;
}
.right_tricker0{
	display:block;
	width:115px;
	float:left;
	padding-top:12px;
}
.lg_tricker0{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:left;
}
.lg_date_tricker0{
  display:block;
  width:98px;
  height:15px;
  margin-bottom:2px;
  float:left;
  text-align:right;
  padding-right:40px;
}

.lg_tricker0-lft{
	width:40px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}

.lg_tricker0-ght{
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	padding-left:4px;
}

.lg_tricker0-mdl{
 width:11px;
 height:15px;
 vertical-align:middle;
 float:left;
 display:block;
 margin:0 2px;
}


/*FIN TRICKER 0---------------------*/

/*DEBUT TRICKER 1---------------------*/
#tricker1{
  display:block;
  width:223px;
  height:85px;
  background:url("../images/logoECOBANK_sp.jpg") no-repeat;
  background-position:5px 13px;
  margin-top:0;
  float:left;
  border-right: 1px dotted #DCDCDC;
  margin-left:20px;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker1:hover,#tricker1:active,#tricker1:focus{
  background-position:5px -105px;
}

.link_tricker1{
  display:block;
  width:103px;
  height:85px;
  margin-left:0px;
  float:left;
}

.lg_tricker1-lft{
	width:35px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}

.lg_date_tricker1{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:right;
  margin-right:37px;
}

/*FIN TRICKER 1---------------------*/


/*DEBUT TRICKER 2---------------------*/
#tricker2{
	display:block;
	width:294px;
	height:85px;
	background:url("../images/logoSIFCA_sp2.jpg") no-repeat;
	background-position:0 15px;
	margin-top:0;
	margin-left:15px;
	float:left;
	border-right: 1px dotted #DCDCDC;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker2:hover,#tricker2:active,#tricker2:focus{
  background-position:0 -104px;
}
.right_tricker2{
	display:block;
	width:180px;
	float:left;
	padding-top:12px;
}

.link_tricker2{
  display:block;
  width:108px;
  height:85px;
  margin-left:0px;
  float:left;
}
.lg_tricker2-lft{
	width:77px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}
.lg_date_tricker2{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:right;
  margin-right:15px;
}
.lg_tricker2{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:left;
}

/*FIN TRICKER 2---------------------*/

/*DEBUT TRICKER 3---------------------*/
#tricker3{
  display:block;
  width:250px;
  height:85px;
  background:url("../images/logoBRVM_sp.jpg") no-repeat;
  background-position:5px 13px;
  margin-top:0;
  margin-left:20px;
  float:left;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker3:hover,#tricker3:active,#tricker3:focus{
  background-position:5px -97px;
}

.link_tricker3{
  display:block;
  width:75px;
  height:85px;
  margin-left:0px;
  float:left;
}
.right_tricker3{
	display:block;
	width:160px;
	float:left;
	padding-top:12px;
}

.lg_tricker3{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:left;
}

.lg_tricker3-lft{
	width:55px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}
.lg_tricker3-ght{
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	padding-right:4px;
}

.lg_date_tricker3{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:left;
}



/*FIN TRICKER 3---------------------*/

/*DEBUT TRICKER 4---------------------*/
#tricker4{
  display:block;
  width:695px;
  height:75px;
  background:url("../images/logoCCC_OLAM_sp.jpg") no-repeat;
  background-position:0px 8px;
  margin:0 auto;
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker4:hover,#tricker4:active,#tricker4:focus{
  background-position:0px -99px;
}
.right_tricker4{
	display:block;
	width:155px;
	float:left;
	padding-top:12px;
	margin-left: 12px;
}
.lg_tricker4-ght{
	height:15px;
	vertical-align:middle;
	float:right;
	display:block;
	padding-left:6px;
	text-align:right;
}

.lg_date_tricker4{
  display:block;
  height:15px;
  margin-bottom:2px;
  float:right;
  text-align:right;
  padding-right:20px;
}

.lg_tricker4-lft{
	width:45px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}

.lg_tricker4{
  display:block;
  width:135px;
  height:15px;
  margin-bottom:2px;
  float:left;
}
.link_tricker4-1{
	display:block;
	width:397px;
	height:75px;
	margin-left:0px;
	float:left;
}
.link_tricker4-2{
	display:block;
	width:129px;
	height:75px;
	margin-left:0px;
	float:left;
}



/*FIN TRICKER 4---------------------*/



/*DEBUT TRICKER 4 - V2---------(Only CCC)------------*/
#tricker4-v2{
	display:block;
	width: 568px;
	height:85px;
	background:url("../images/logoCCC_OLAM_sp.jpg") no-repeat;
	background-position:0px 8px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 90px;
	float:left;
	border-right: 1px dotted #DCDCDC;

}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
 #tricker4-v2:hover,#tricker4-v2:active,#tricker4-v2:focus{
	background-position:0px -99px;
	float: left;
}

/*FIN TRICKER 4 - V2---------------------*/



/*DEBUT TRICKER 5---------------------*/
#tricker5{
	display:block;
	width:294px;
	height:85px;
	background:url("../images/logoBFA_sp.jpg") no-repeat;
	background-position:0 15px;
	margin-top:0;
	margin-left:15px;
	float:left;
	/*border-right: 1px dotted #DCDCDC;*/
}

/* on décale l'image de fond de la hauteur du lien, soit 31 px */
#tricker5:hover,#tricker5:active,#tricker5:focus{
  background-position:0 -100px;
}
.right_tricker5{
	display:block;
	width:180px;
	float:left;
	padding-top:12px;
}

.link_tricker5{
  display:block;
  width:108px;
  height:85px;
  margin-left:0px;
  float:left;
}
.lg_tricker5-lft{
	width:55px;
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
}
.lg_date_tricker5{
	display:block;
	height:15px;
	margin-bottom:2px;
	float:right;
	margin-right:35px;
	width: 130px;
	text-align: right;
}
.lg_tricker5{
	display:block;
	height:15px;
	margin-bottom:2px;
	float:left;
	width: 170px;
}
.lg_tricker5-ght{
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	padding-left:4px;
	width: 90px;
}


/*FIN TRICKER 5---------------------*/

.txt_tricker_big_gray{
	/*width:55px;*/
	height:15px;
	vertical-align:middle;
	float:left;
	display:block;
	color:#999999;
}


/*--------------------FIN TRICKER----------------------------*/

/*--------------------DEBUT NEW BOUTON----------------------------*/
select{
		background: none repeat scroll 0 0 #f5f5f5;
		border: 1px solid #E7E7E7;
		color: #666666;
		font-size: 12px;
		padding: 3px;
	}
input[type="text"]{
		background:#f5f5f5;
		border: 1px solid #E7E7E7;
		color: #666666;
		font-size: 12px;
		padding: 3px;
}

input[type="email"]{
		background:#f5f5f5;
		border: 1px solid #E7E7E7;
		color: #666666;
		font-size: 12px;
		padding: 3px;
		margin-right:5px;
		height: 17px;
}

input[type="text"]:focus,input[type="email"]:focus,select:focus{
		background:#fff;
}
input[type="submit"]{
	background:#D51835;
	border:1px solid #D51835;
	padding:3px 6px;
	font-size:12px;
	color:#fff;
	border-radius:3px;
	cursor:pointer;
	font-weight:bold;
}

input[type="submit"]:hover{
	background:#ec0b2e;
	border:1px solid #ec0b2e;
}


/*--------------------FIN NEW BOUTON----------------------------*/
/*--------------------DEBUT ENCART APP MOBILE----------------------------*/
.text_app{

	display:block;

	margin-bottom:13px;

	text-align:left;

	color:#555;

	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	border:1px solid #DCDCDC;
	padding:4px;
	background-color:#FFF;

}

#box_app{

	margin:auto;

	width:286px;

	height:190px;

	border:1px solid #DCDCDC;

	padding:10px 5px 5px;

	background:#fff;
	background-image:url(../images/bckgnd-repeat-ray.png)

}

.img{

	display:block;

	float:left;

}

.box-text{

	display:block;

	float:left;

	margin-top:68px;

	margin-left:5px;

}



 a.play{

	  font-size:8px;

	 display:block;

	background:url(../images/play2.png) no-repeat center left;

	color:#FFF;

	text-decoration:none;

	border-radius:3px;

	height:30px;

	width:89px;

}

 a.store{

	 font-size:8px;

	 display:block;

	background:url(../images/apple2.png) no-repeat center left;

	color:#FFF;

	text-decoration:none;

	margin-top:5px;

	border-radius:3px;

	height:30px;

	width:89px;

}


a.store:hover{

	background:url(../images/_apple2.png) no-repeat center left;

}

a.play:hover{

	background:url(../images/_play2.png) no-repeat center left;



}

/*--------------------FIN ENCART APP MOBILE----------------------------*/