@charset "UTF-8";
/* CSS Document */

.sportprin {
        background:#FFF; 
		width:100%; 
		box-shadow: 0 1px 3px #CCC; 
		border-radius: 5px 5px 5px 5px; 
		border: 1px solid #FFFFFF; 
		font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif ; 
		font-weight:bold;
		text-align:center;
}

.entetew {
       /* background:#DCDCDC; */
		font-size:18px; 
		color:#717171; 
		padding:5px;
		text-align: left;
}

.contenuableau1 {
        width:40%; 
		float:left; 
		text-align:center; 
		background:#FFFFFF; 
		padding-top:10px; 
		padding-bottom: 10px; 
		font-size:11px;
		height: 22px;
}

.contenuableau2 {
        width:40%; 
		float:left; 
		text-align:center; 
		background:#F3F3F3; 
		padding-top:10px; 
		padding-bottom: 10px; 
		font-size:11px;
		height: 22px;
}

.ladate {
        background:#CBEDC2; 
		font-size:12px; 
		color:#666; 
		text-align:left; 
		padding:5px;
}

.autredate {
         
		font-size:11px; 
		color:#666; 
		text-align:left; 
		font-weight:bold;
}

.pasmatch {
        color:#458A32; 
		font-size:13px; 
		font-weight:bold; 
		background: none repeat scroll 0 0 #F3F3F3;
		margin-bottom: 0;
		padding: 10px 24px;
		text-align:center;
}

.heuretscrore {
        width:20%; 
		float:left; 
		background:#458A32; 
		font-size:14px; 
		color:#FFF; 
		text-align:center; 
		padding-top:6px; 
		padding-bottom: 10px; 
		height: 26px;
}

.heuretbas {
		font-size:11px; 
		color:#CBEDC2; 
		text-align:center; 
}

.enbas {
        clear: both;
}

/* Classement */

#content-right p.classem{
	color:#999;
	font-weight:bold;
	margin-top:5px;
}
.classement{
	padding:0px;
	display:block;
	width:100%;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
	margin-top:10px;
}


.tabl{
	border-collapse:collapse;
	width:100%;
}

.classement tr{
	background:#fff;
	color:#3E8229;
	padding:2px;
}
.classement tr td{
	border-bottom:1px solid #f3f3f3;
	font-size:12px;
	font-weight:bold;
	padding:5px 5px;
	text-align:center;
	color:#666666;
}
.classement tr td.rang{
	color:#FE7F1E;
	font-weight:b;
	text-align: left;
}
.classement .box_t{
	font-size:12px;
	text-align:center;
	color:#3E8229;
}
.classement .box_t td{
	color:#3E8229;
	font-weight:bold;
}
.classement .gris{
	background:#F3F3F3;
}
.classement .blanc{
	background:#fff;
}
.classement tr td.left{
	text-align:left;
}

.classement tr td.titre{
	color: #318317;
    font-size: 24px;
	width: 100%;
}


.classement_b{
	padding:0;
	display:block;
	width:100%;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
	margin-top:10px;
}


.classement_b tr{
	background:#fff;
	color:#3E8229;
	padding:3px;
}
.classement_b tr td{
	border:none;
	font-size:11px;
	font-weight:bold;
	padding:4px;
	text-align:center;
	color:#999;
}
.classement_b tr td.rang{
	color:#999;
	font-weight:bold;
}
.classement_b .box_t{
	font-size:12px;
	padding:4px 4px;
	text-align:center;
	color:#3E8229;
}
.classement_b .box_t td{
	color:#3E8229;
	font-weight:bold;
}
.classement_b .gris{
	background:#F3F3F3;
}
.classement_b .blanc{
	background:#fff;
}
.classement_b tr td.left{
	text-align:left;
}
.monimage {
	padding:5px;
	margin-top:2px;
	margin-right: 8px;
	box-shadow: 0 2px 3px #cccccc;
	-moz-box-shadow: 0 2px 3px #cccccc;
	-webkit-box-shadow: 0 2px 3px #cccccc;
	}
	
.actu {
	border-bottom: 1px solid #CBEDC2;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 15px;
    padding-top: 5px;
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif ; 
	
	}
	
.titre {
    color: #458A32;
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}
	
.pasart{
	color: #458A32;
    font-size: 14px;
    font-weight: bold;
	background: none repeat scroll 0 0 #F3F3F3;
    margin-bottom: 0;
    padding: 10px 24px;
}

.champ{
	color: #458A32;
    font-size: 14px;
    font-weight: bold;
	text-align:center;
    padding: 5px 2px;
}
#458A32

.plus a {
    background: none repeat scroll 0 0 #458A32;
    border: 1px solid #93B788;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    margin-top: 10px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
}

.resum{
	text-align:justify;
	color:#999;
	font-size:13px;
	padding:0;
	padding-bottom:5px;
	padding-top:3px;
	font-weight:normal;
	line-height:25px;
}

.suite a{
	display:block;
	text-decoration:none;
	color:#999;
	text-align:right;
	font-size:13px;
}
.suite a:hover{
	color:#458A32;
}
	
.imgflag{
	margin-right:5px;
}

.titre_demo{
	font-family: 'Poiret One', cursive;
	font-size:20px;
	color:#458A32
}