.footer-head {
    background: #494949;
    padding: 29px 0 24px;
}

.footer-head h1 {
    margin: 0;
}

.footer-head .col-lg-4 {
    color: #fbc00e;
}

.footer-head .col-lg-4:nth-of-type(2) {
    color: #CDCDCD;
    padding-left: 8%;
}

.footer-head .col-lg-4:nth-of-type(3) {
    color: #00B37C;
    padding-left: 16%;
}

.mid-section {
    background: #aeaeae;
}

.mid-section a {
    color: #323232;
    font-size: 0.813em;
}

.mid-section .wraper {
    max-width: 1292px;
    margin: auto;
    padding: 70px 0 115px;
}

.wraper p {
    margin: 0;
}

.wraper .franchisee {
    color: #262626;
    padding-top: 15px;
}

.wraper .franchisee span {
    font-weight: 500;
    border-bottom: 1px dashed;
    margin-right: 15px;
}

.wraper .line-btn-gray {
    border-width: 1px;
    font-weight: 400;
    vertical-align: top;
}

.wraper .social-box {
    background: #fbc00e;
    padding: 16px 18px;
    min-width: 383px;
}

.wraper .social-box + .course-box {
    padding-top: 80px;
}

.wraper .social-box h4 {
    margin: 0 auto 10px;
    font-size: 0.875em;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2.3px;
}

.wraper .follow-us {
    padding: 6px 0 13px;
}

.follow-us .list-inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.follow-us .list-inline:after {
    content: '';
    display: table;
    clear: both;
}

.follow-us li {
    float: left;
}

.follow-us li + li {
    padding-left: 14px;
}

.follow-us li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background: #FFF;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.15);
}

.follow-us li a:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url(/img/site_content/meritnation/newHome/home-sprite.png?v=02112016);
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.follow-us li .facebook:after {
    background-position: -28px -21px;
    width: 8px;
    height: 17px;
}

.follow-us li .facebook:hover:after {
    background-position: -40px -21px;
}

.follow-us li .youtube:after {
    background-position: -53px -21px;
    width: 19px;
    height: 13px;
}

.follow-us li .youtube:hover:after {
    background-position: -53px -36px;
}

.follow-us li .twitter:after {
    background-position: -76px -27px;
    width: 18px;
    height: 16px;
}

.follow-us li .twitter:hover:after {
    background-position: -98px -27px;
}

.follow-us li .google:after {
    background-position: 0 -42px;
    width: 16px;
    height: 17px;
}

.follow-us li .google:hover:after {
    background-position: -20px -42px;
}

.courses-list:after {
    content: "";
    display: table;
    clear: both;
}

.courses-list .left-side {
    float: left;
    width: calc(100% - 430px);
}

.courses-list .left-side:after {
    content: "";
    display: table;
    clear: both;
}

.courses-list .left-side .colm-left {
    width: 45%;
    padding-right: 4%;
    float: left;
}

.courses-list .left-side .colm-right {
    float: left;
    width: 55%;
    padding-left: 4%;
}

.courses-list .right-side {
    float: right;
    width: 390px;
}

.course-box + .course-box {
    padding-top: 32px;
}

.course-box h3,
.course-box h4 {
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 10px;
}

.course-box h3:after,
.course-box h4:after {
    content: "";
    display: block;
    width: 150%;
    height: 3px;
    background: #575757;
    position: relative;
    margin-top: 5px;
}

.course-box .course-class {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.course-box .course-class:after {
    content: "";
    display: table;
    clear: both;
}

.course-class li {
    float: left;
    line-height: 1;
    position: relative;
}

.course-class li:last-child a:after {
    content: none;
}

.course-class li a {
    display: inline-block;
    padding: 6px 12px;
    position: relative;
}

.course-class li a:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 0.875em;
    background: #323232;
    top: 7px;
    right: 0;
    z-index: 8;
}

.course-class li a span {
    position: relative;
    display: block;
    z-index: 11;
}

.course-class li a em {
    display: block;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #bcbcbc;
    background: #aeaeae;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 10;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
}

.course-class li a:hover em {
    transform: scale(1.03);
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.course--block {
    padding-left: 35px;
}

.course--block + .course--block {
    padding-top: 20px;
}

.course--block li {
    float: none;
    position: relative;
}

.course--block li a {
    padding: 6px 7px;
}

.course--block li a:after {
    content: none;
}

.course--block h3,
.course--block h4 {
    font-size: 0.875em;
}

.course--block h3:after,
.course--block h4:after {
    content: none;
}

.features-box {
    padding-top: 60px;
}

.features-box:after {
    content: "";
    display: table;
    clear: both;
}

.features-box .left-block {
    width: 65%;
    float: left;
    border: 1px dashed rgba(50, 50, 50, 0.5);
    padding: 25px 0 16px;
    display: table;
}

.features-box .left-block .col {
    display: table-cell;
}

.features-box .left-block .col:not(:last-child) {
    border-right: 1px solid rgba(50, 50, 50, 0.3);
}

.features-box h3 {
    margin: 0;
}

.meritonSummary {
    float: left;
    font-size: 0.750em;
    padding: 50px 50px 30px 0;
    font-weight: 300;
}

.meritonSummary span {
    font-size: 1.833em;
    font-weight: 400;
}

.footer-group {
    background: #696969;
    padding-bottom: 25px;
}

.footer-group .footer-feet {
    max-width: 1292px;
    margin: auto;
    background: #009769;
    position: relative;
    margin-top: -25px;
    padding: 23px;
}

.footer-group .left-panel {
    float: left;
}

.footer-group .left-panel .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0 0 25px;
}

.footer-group .left-panel .footer-nav li {
    display: inline-block;
    line-height: 1;
    padding: 0 10px;
    border-left: 1px solid #FFF;
}

.footer-group .left-panel .footer-nav li:nth-child(2) {
    padding-left: 0;
    border: 0;
}

.footer-group .left-panel .footer-nav li:first-child {
    padding: 0;
}

.footer-group .left-panel .footer-nav li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.813em;
    display: block;
    text-transform: uppercase;
}

.footer-group .left-panel .footer-nav li a:hover {
    color: #FFF;
}

.footer-group .left-panel .support a {
    color: #FFF;
    font-size: 0.813em;
    padding: 5px 23px;
}

.footer-group .left-panel .support a:first-child {
    padding-left: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-group .left-panel .support a span {
    margin-right: 4px;
    vertical-align: middle;
}

.footer-group .left-panel .support a:last-child {
    cursor: default;
}

.footer-group .right-panel {
    float: right;
}

.footer-group .right-panel .copyright {
    padding-left: 5;
    position: relative;
}

.footer-group .right-panel .copyright:before {
    content: "";
    background: #007753;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
}

.footer-group .right-panel .copyright:after {
    content: "";
    background: #19a178;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -9px;
}

.footer-group .right-panel .copyright p {
    margin: 0 0 27px;
    padding-left: 41px;
}

.footer-group .right-panel .copyright p:before {
    content: "";
    display: inline-block;
    background-image: url(/img/site_content/meritnation/newHome/home-sprite.png?v=02112016);
    background-repeat: no-repeat;
    background-position: -99px -47px;
    width: 30px;
    height: 37px;
    position: absolute;
    left: 0;
}

.footer-group .right-panel .copyright span {
    color: rgba(0, 0, 0, 0.8);
}

.footer-group .right-panel .copyright em {
    color: rgba(0, 0, 0, 0.8);
    font-style: normal;
    font-size: 0.750em;
    font-weight: 500;
}

.footer-group .right-panel .partners-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-group .right-panel .partners-list:after {
    content: "";
    display: table;
    clear: both;
}

.footer-group .right-panel .partners-list li {
    display: inline-block;
    float: left;
    padding: 0 9px;
    line-height: 1;
}

.footer-group .right-panel .partners-list li + li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-group .right-panel .partners-list li a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    display: block;
}

.footer-group .right-panel .partners-list li a:hover {
    color: rgba(255, 255, 255, 0.8);
}


/* media query */

@media screen and (max-width: 1350px) {
    .mid-section .wraper {
        padding: 30px 0 100px;
        max-width: 98%;
    }
    .mid-section .features-box .right-block {
        padding-left: 30px;
    }
    .footer-group .footer-feet {
        max-width: 98%;
    }
}

@media screen and (max-width: 1024px) {
    .courses-list .left-side {
        width: calc(100% - 300px);
    }
    .courses-list .right-side {
        width: 300px;
    }
    .courses-list .right-side .social-box {
        min-width: initial;
    }
    .features-box {
        padding-top: 40px;
    }
    .features-box .left-block {
        width: 67%;
    }
    .features-box .right-block {
        width: 33%;
    }
    .footer-head {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .courses-list .left-side {
        padding-right: 30px;
        padding-top: 20px;
    }
    .courses-list .left-side .colm-left {
        width: 100%;
        padding-right: 0;
    }
    .courses-list .left-side .colm-right {
        width: 100%;
        padding-left: 0;
    }
    .footer-head .row .col-lg-4 {
        padding-left: 0;
    }
    .features-box {
        clear: both;
    }
    .features-box .left-block {
        float: none;
        width: 100%;
    }
    #meritonSummary {
        padding-top: 60px;
        font-size: 0.750em;
    }
    #meritonSummary span {
        font-size: 2.000em;
    }
    .footer-feet {
        padding: 15px;
    }
    .footer-feet .left-panel {
        float: none;
    }
    .footer-feet .left-panel .footer-nav {
        float: left;
    }
    .footer-feet .left-panel .support {
        float: right;
    }
    .footer-group .right-panel {
        float: left;
    }
    .footer-group .right-panel .copyright:before,
    .footer-group .right-panel .copyright:after {
        content: none;
    }
}

@media screen and (max-width: 767px) {
    .main-header .top-row .right-section .mobSearch {
        margin-right: 12px;
    }
    .footer-group {
        padding-bottom: 0;
    }
    .footer-group .left-panel {
        float: none;
    }
    .footer-group .left-panel .footer-nav {
        text-align: center;
    }
    .footer-group .left-panel .footer-nav li:nth-child(1) {
        padding-right: 10px;
        border: none;
    }
    .footer-group .left-panel .footer-nav li:nth-child(2) {
        padding-left: 10px;
        border-left: 1px solid #FFF;
    }
    .footer-group .left-panel .footer-nav li a {
        font-size: 1.125em;
        color: #FFF;
    }
    .footer-group .left-panel .support {
        text-align: center;
    }
    .footer-group .left-panel .support a {
        display: inline-block;
        font-size: 1.250em;
    }
    .footer-group .left-panel .support a:first-child {
        padding: 0;
        border: none;
    }
    .footer-group .footer-feet {
        margin-top: 0;
        max-width: 100%;
        padding: 23px 15px;
    }
    .footer-head .row .col-lg-4 {
        padding-left: 0;
        margin-bottom: 30px;
    }
    .footer-head .row .col-lg-4 h1 {
        font-size: 2.225em;
    }
    .footer-head .row .col-lg-4 span {
        font-size: 1.45em;
    }
    .footer-head .row .col-lg-4:nth-of-type(2n+2) {
        padding-right: 15px;
    }
    .footer-head .row .col-xs-6:nth-of-type(2n+2) {
        text-align: right;
    }
    .footer-head .row .col-xs-6 .purchase-btn {
        font-size: 1.375em;
        font-weight: 500;
        padding: 19px 32px;
        border-radius: 50px;
    }
}

@media screen and (max-width: 479px) {
    .footer-head .row .col-xs-6 {
        width: 100%;
        float: none;
        text-align: center !important;
    }
}
