/* UOS Version: 2.2 - 2009-08-05 */
 
/*****************************************************************************/
/* Common
/*****************************************************************************/	

.clear:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;} .clear {display: inline-block;} /* Hides from IE-mac \*/ * html .clear {height: 1%;} .clear {display: block;} /* End hide from IE-mac */ 

.firstline{margin-top:0;}
.lastline{margin-bottom:0;}
.divider-dash{background: url(../images/layout/divider-dash.gif) left repeat-x;margin:0 0 12px 0;font-size:1px;line-height:1px;height:1px;clear:both;}
.divider-gradient{background: url(../images/layout/divider-gradient.gif) left repeat-x;margin:0 0 12px 0;font-size:1px;line-height:1px;height:17px;clear:both;}
img.icon{vertical-align:middle;}

ul.noindent{margin-left:0}
ol.noindent{margin-left:20px;*margin-left:23px}
ul.bullets-arrow{}
ul.bullets-arrow li{background: url(../images/layout/bullet-link.gif) 0 .45em no-repeat;}
ul li.bullets-arrow{background: url(../images/layout/bullet-link.gif) 0 .45em no-repeat;}
ul.bullets-chevron{}
ul.bullets-chevron li{background: url(../images/layout/bullet-chevron.gif) 0 .45em no-repeat;}
ul li.bullets-chevron{background: url(../images/layout/bullet-chevron.gif) 0 .45em no-repeat;}
ul.bullets-icons{margin:0;}	
ul.bullets-icons li{background-image:none;padding:0;margin:0 0 4px 0}	
ul.bullets-sitemap{margin:0}
ul.bullets-sitemap li{background: url(../images/layout/bullet-link.gif) 0 .5em no-repeat;padding:0 0 0 10px;}
ul.bullets-sitemap li a{text-decoration:none;}
ul.bullets-sitemap li a:hover{text-decoration:underline;background:none;}
ul.bullets-sitemap ul{}
ul.bullets-sitemap ul li{background: url(../images/layout/bullet-link-level2.gif) 0 .7em no-repeat;}
ul.bullets-sitemap ul li ul{margin:0;}
ul.bullets-sitemap ul li ul li{font-size:.844em;background: url(../images/layout/bullet-link-level3.gif) 0 .7em no-repeat;}


.copyred, th.copyred, td.copyred{color:#9c0000 !important}
.copygreen, th.copygreen, td.copygreen{color:#005a00 !important}
.copygray, th.copygray, td.copygray{color:#595959 !important}

.subcopy{font-size:.845em;}
h1 .subcopy, h2 .subcopy, h3 .subcopy, h4 .subcopy, h5 .subcopy, h6 .subcopy{font-weight:normal;}
.subcopygray{font-size:.845em;color:#595959}
h1 .subcopygray, h2 .subcopygray, h3 .subcopygray, h4 .subcopygray, h5 .subcopygray, h6 .subcopygray{font-weight:normal;}

.photo{padding:1px;background:#fff;border:1px solid #c3cce0;}
.photo.photofloatleft{float:left;margin:0 15px 12px 0;}
.photo.photofloatright{float:right;margin:0 0 12px 15px}
	
.floatleft{float:left;margin:0 15px 12px 0;}
.floatright{float:right;margin:0 0 12px 15px}
.verticalalign{vertical-align:middle;}

.spacerrow{margin:0 0 5px 0;font-size:1px;line-height:1}
.code{display:block;border:1px solid #595959;background:#eeeeee;padding:0 10px;height:200px;overflow:auto;font-family:Consolas,Monaco,"Courier New",Courier,monospace;position:relative;}
.back{}
	
.backtotop{text-align:right;font-size:.845em;}
.backtotop a{}	
.backtotop img{vertical-align:middle;_vertical-align:text-top}

a.linkedtextandicon{text-decoration:none;}
a.linkedtextandicon span{text-decoration:underline;}
a.linkedtextandicon img{}

a:visited.nevervisitedlinks, .nevervisitedlinks a:visited{color:#002888}
a:hover.nevervisitedlinks, .nevervisitedlinks a:hover{color:#000}
	
.nowrap{white-space:nowrap;}

.hide{display:none}
.jshide{} /*display:none: applied via JS */
.jsaccessiblehide{} /*hidden to everyone except screen readers: applied via JS */

/*****************************************************************************/
/* Templates
/*****************************************************************************/	

#wrapper{width:976px;margin:0 auto;background:#fff}

/* Standard Template  -------------------------------------------------------- */
#layout{padding:0 12px 36px 12px;clear:both;}
#layout-column-left{float:left;margin:0 12px 0 0;overflow:hidden;padding:0 0 82px 0}
#banner{margin:0 0 12px 0;}
#banner h1{margin:0;}
#pagetitlearea{}
#layout-column-main{float:left;}
#layout #layout-column-main #banner{float:none;zoom:1}
#layout-column-right{float:left;margin:0 0 0 12px;overflow:hidden}

/* Standard Template, all 3 columns */
#layout.layout-111{}
#layout.layout-111 #layout-column-left{width:172px;}
#layout.layout-111 #banner{float:left;}
#layout.layout-111 #pagetitlearea{float:left;width:768px}
#layout.layout-111 #layout-column-main{width:540px;}
#layout.layout-111 #layout-column-right{width:216px;}	

/* Standard Template, no left column */
#layout.layout-011{}
#layout.layout-011 #banner{float:left;}
#layout.layout-011 #pagetitlearea{float:none;width:auto}
#layout.layout-011 #layout-column-main{width:724px;}
#layout.layout-011 #layout-column-right{width:216px;}

/* Standard Template, no right column */
#layout.layout-110{}
#layout.layout-110 #layout-column-left{width:172px;}
#layout.layout-110 #banner{float:left;}
#layout.layout-110 #pagetitlearea{float:left;width:768px}
#layout.layout-110 #layout-column-main{width:768px;}

/* Standard Template, no left or right column */
#layout.layout-010{}
#layout.layout-010 #layout-column-main{width:auto;float:none}

/* Narrow Template -------------------------------------------------------- */
.template-narrow{background: #fff url(../images/layout/bg-narrow.gif) top;background-attachment:fixed;}
.template-narrow #wrapper{width:792px}

/* Narrow Template, no left column */
.template-narrow #layout.layout-011{}
.template-narrow #layout.layout-011 #banner{float:left;}
.template-narrow #layout.layout-011 #pagetitlearea{float:left;width:768px}
.template-narrow #layout.layout-011 #layout-column-main{width:540px;}
.template-narrow #layout.layout-011 #layout-column-right{width:216px;}

/* Narrow Template, no right column */
.template-narrow #layout.layout-110{}
.template-narrow #layout.layout-110 #banner{float:left;}
.template-narrow #layout.layout-110 #layout-column-left{width:172px;}
.template-narrow #layout.layout-110 #pagetitlearea{float:left;width:584px;}
.template-narrow #layout.layout-110 #layout-column-main{width:584px;}


/* Legacy Template  -------------------------------------------------------- */
.template-legacy {background: #fff url(../images/layout/bg-legacy.gif) top repeat-y;background-attachment:fixed;}
.template-legacy #wrapper{width:1000px;}

/* Legacy Template, all 3 columns */
.template-legacy #layout.layout-111{}
.template-legacy #layout.layout-111 #layout-column-left{margin:0 6px 0 0;}
.template-legacy #layout.layout-111 #banner{}
.template-legacy #layout.layout-111 #pagetitlearea{float:left;width:798px}
.template-legacy #layout.layout-111 #layout-column-main{width:570px;}
.template-legacy #layout.layout-111 #layout-column-right{width:216px;}

/* Legacy Template, no left column */
.template-legacy #layout.layout-011{}
.template-legacy #layout.layout-011 #banner{float:left;}
.template-legacy #layout.layout-011 #pagetitlearea{float:left;width:798px}
.template-legacy #layout.layout-011 #layout-column-main{width:798px;}
.template-legacy #layout.layout-011 #layout-column-right{width:216px;}

/* Legacy Template, no right column */
.template-legacy #layout.layout-110{}
.template-legacy #layout.layout-110 #layout-column-left{margin:0 6px 0 0;}
.template-legacy #layout.layout-110 #banner{float:left;}
.template-legacy #layout.layout-110 #pagetitlearea{float:left;width:792px}
.template-legacy #layout.layout-110 #layout-column-main{width:792px;}

/* Popup Template -------------------------------------------------------- */
.template-popup{background:#fff !important;background-image:none !important}
.template-popup #wrapper{width:auto;}

/*****************************************************************************/
/* Header
/*****************************************************************************/	

#globalheader{position:relative;padding:12px 12px 12px 12px;clear:both}
.globalheader-basic{border-bottom:3px solid #002888;margin:0 0 12px 0}
.globalheader-secure{background: url(../images/header/secure-bg.gif) bottom right no-repeat;}
#globalheader-logo{margin:0}
#globalheader-logo a:hover, #globalheader-logo a:active, #globalheader-logo a:focus{background:transparent;}
#globalheader-links{position:absolute;top:12px;right:12px;font-size:.845em;line-height:1.2em;margin:0;padding-left:310px}
#globalheader-links a:visited{color:#002888}
#globalheader-links a:hover,
#globalheader-links a:active,
#globalheader-links a:focus{color:#000;}
#globalheader-links img{vertical-align:middle;_vertical-align:bottom}
#globalheader-search{position:absolute;top:40px;right:12px}
#globalheader-search-textfield{float:left;width:160px;color:#595959;margin:0 5px 0 0;font-size:.845em;vertical-align:middle;padding:2px 5px}
#globalheader-tools{position:absolute;bottom:10px;right:12px;font-size:.845em;line-height:1.2em;margin:0}
.globalheader-secure #globalheader-secureinfo{position:absolute;bottom:6px;}
#globalheader-secureinfo{position:absolute;bottom:12px;*bottom:10px;right:250px;font-size:.845em;line-height:1.2em;text-align:right;margin:0;*width:500px}
#globalheader-secureinfo .button{font-size:1em;float:right;margin:0 0 0 12px;}
#globalheader-secureinfo img.icon{vertical-align:middle;padding:0 0 4px 0}
#globalheader-secureinfo strong{color:#595959;}
#globalheader-secureinfo a:visited{color:#002888}


/*****************************************************************************/
/* Page Title
/*****************************************************************************/	

#pagetitlearea{margin:0 0 12px 0}

/* Path */
p#path{font-size:.845em;background: url(../images/layout/divider-dash.gif) bottom left repeat-x;padding:0 0 5px 0;margin:0 0 5px 0;}
p#path a{}
p#path a:visited{color:#002888}
p#path a:hover,
p#path a:active,
p#path a:focus{text-decoration:underline;color:#000}
html > body p#path a:hover, html > body p#path a:focus, html > body p#path a:active{background-color:#e5ebf2;}

#path-tools{font-size:.845em;float:right;margin:0 0 0 24px;_padding:3px 0 0 0;position:relative;z-index:2}
#path-tools .path-tool{margin:0 0 0 12px;float:left;}	

/* Application Title  */
p#applicationtitle{border:1px solid #8996a6;margin:0 0 5px 0;color:#fff;zoom:1}
p#applicationtitle #applicationtitle-content{display:block;background: #002888 url(../images/layout/applicationtitle-bg.gif) top left repeat-x;border:1px solid #fff;padding:5px 10em 6px 10px;margin:0;position:relative;zoom:1}
p#applicationtitle a,
p#applicationtitle a:hover,
p#applicationtitle a:active,
p#applicationtitle a:focus{color:#fff;text-decoration:underline;background-color:transparent}

p#applicationtitle-tools{float:right;font-size:.845em;}
.applicationtitle-tool {margin:0 0 0 12px;float:left;}

/* Page Title */
h1#homepagetitle{margin:0;background: url(../images/layout/divider-dash.gif) bottom left repeat-x;padding:0 0 5px 0;}
h1#pagetitle{margin:0;}

p#pagetitle-tools{float:right;color:#000;font-size:.845em;margin:.5em 0 0 0;margin:0 0 0 12px}
.pagetitle-tool{margin:0 0 0 12px;float:left}	

/*****************************************************************************/
/* Footer
/*****************************************************************************/	

#globalfooter{clear:both;zoom:1}
#globalfooter-relatedlinks{border-top:1px solid #cbc19b;clear:both;}
.globalfooter-relatedlinks-5{background: url(../images/footer/relatedlinks-5-gradient-bg.gif) bottom left repeat-x;}
.globalfooter-relatedlinks-5 #globalfooter-relatedlinks-block1{width:160px}
.globalfooter-relatedlinks-5 #globalfooter-relatedlinks-block2{width:164px;}
.globalfooter-relatedlinks-5 #globalfooter-relatedlinks-block3{width:164px;}
.globalfooter-relatedlinks-5 #globalfooter-relatedlinks-block4{width:164px;}
.globalfooter-relatedlinks-5 #globalfooter-relatedlinks-block5{width:204px}
.globalfooter-relatedlinks-4{background: url(../images/footer/relatedlinks-4-gradient-bg.gif) bottom left repeat-x;clear:both;}
.globalfooter-relatedlinks-4 #globalfooter-relatedlinks-block1{width:220px;}
.globalfooter-relatedlinks-4 #globalfooter-relatedlinks-block2{width:220px;}
.globalfooter-relatedlinks-4 #globalfooter-relatedlinks-block3{width:220px;}
.globalfooter-relatedlinks-4 #globalfooter-relatedlinks-block4{width:220px}
.globalfooter-relatedlinks-3{background: url(../images/footer/relatedlinks-3-gradient-bg.gif) bottom left repeat-x;clear:both;}
.globalfooter-relatedlinks-3 #globalfooter-relatedlinks-block1{width:301px;}
.globalfooter-relatedlinks-3 #globalfooter-relatedlinks-block2{width:301px;}
.globalfooter-relatedlinks-3 #globalfooter-relatedlinks-block3{width:301px;}
.globalfooter-relatedlinks-2{background: url(../images/footer/relatedlinks-2-gradient-bg.gif) bottom left repeat-x;clear:both;}
.globalfooter-relatedlinks-2 #globalfooter-relatedlinks-block1{width:464px;}
.globalfooter-relatedlinks-2 #globalfooter-relatedlinks-block2{width:464px;}
.globalfooter-relatedlinks-block{float:left;padding:10px 12px 0 12px;}
.globalfooter-relatedlinks-block h3{color:#000;font-weight:bold;font-size:.925em;margin:0 0 10px 0;background:none}
.globalfooter-relatedlinks-block ul{margin:10px 0 12px 0;padding:0;font-size:.845em;line-height:1.2em}
.globalfooter-relatedlinks-block ul li{margin:0 0 5px 0; background-position:0 .4em}
.globalfooter-relatedlinks-block ul li a{text-decoration:none;}
.globalfooter-relatedlinks-block ul li a:visited{color:#002888}
.globalfooter-relatedlinks-block ul li a:hover,
.globalfooter-relatedlinks-block ul li a:active,
.globalfooter-relatedlinks-block ul li a:focus{color:#000;text-decoration:underline;background-color:transparent}
.globalfooter-relatedlinks-block ul li ul{margin-top:6px;font-size:1em;}

table#globalfooter-relatedlinks{border:1px solid #cbc19b;border-collapse:collapse;width:100%}
td.globalfooter-relatedlinks-block{float:none;background: url(../images/footer/relatedlinks-wide-gradient-bg.gif) bottom right no-repeat;vertical-align:top}
td.globalfooter-relatedlinks-block-last{background-position:bottom left;}

#globalfooter-searchbar{clear:both;border-top:1px solid #cbc19b;background:#e9e4d1;padding:8px 12px 8px 12px;position:relative;}
#globalfooter-searchbar a:visited{color:#002888}
#globalfooter-searchbar a:hover,
#globalfooter-searchbar a:active,
#globalfooter-searchbar a:focus{text-decoration:underline;color:#000}
html > body #globalfooter-searchbar a:hover, html > body #globalfooter-searchbar a:focus, html > body #globalfooter-searchbar a:active{background-color:#e5ebf2;}
p#globalfooter-searchbar-links{margin:0;font-size:.845em;}
#globalfooter-searchbar-search{display:block;position:absolute;top:5px;right:12px;}
#globalfooter-searchbar-search-textfield{float:left;width:289px;color:#595959;margin:0 5px 0 0;vertical-align:middle;font-size:1em;padding:2px 5px}
#globalfooter-searchbar-search .button{margin:2px 0 0 0}

#globalfooter-main{clear:both;padding:12px 15em 6px 12px;font-size:.845em;border-top:1px solid #cbc19b;border-bottom:1px solid #cbc19b;position:relative;margin:0 0 12px 0}
#globalfooter-main p{margin:0 0 4px 0;}
#globalfooter-main a:visited{color:#002888}
#globalfooter-main a:hover,
#globalfooter-main a:active,
#globalfooter-main a:focus{text-decoration:underline;color:#000}
html > body #globalfooter-main a:hover, html > body #globalfooter-main a:focus, html > body #globalfooter-main a:active{background-color:#e5ebf2;}

#globalfooter-tool-line1{position:absolute;top:12px;_top:15px;right:12px;text-align:right;}
#globalfooter-tool-line1 .globalfooter-tool{float:left}
#globalfooter-tool-line1 img{vertical-align:middle;_vertical-align:bottom;*vertical-align:bottom;}
#globalfooter-tool-line2{position:absolute;top:34px;_top:38px;right:12px;text-align:right;}
#globalfooter-tool-line2 .globalfooter-tool{float:left}
#globalfooter-tool-line2 img{vertical-align:middle;_vertical-align:bottom;*vertical-align:bottom;}

#tool-totop{}
#tool-totop a:visited{color:#002888}
#tool-totop a:hover,
#tool-totop a:active,
#tool-totop a:focus{text-decoration:underline;color:#000}
html > body #tool-totop a:hover, html > body #tool-totop a:focus, html > body #tool-totop a:active{background-color:#e5ebf2;}

#tool-textresize{text-align:left}
#tool-textresize strong{font-weight:normal;}
#tool-textresize img{width:18px;height:12px;vertical-align:middle}
a#tool-textresize-normal img{background: url(../images/tools/textresize-normal.gif);background-position:bottom}
a#tool-textresize-large img{background: url(../images/tools/textresize-large.gif)}
a#tool-textresize-extralarge img{background: url(../images/tools/textresize-extralarge.gif)}				
#tool-textresize a:hover,
#tool-textresize a:active,
#tool-textresize a:focus{background-color:transparent !important}

/*****************************************************************************/
/* Link Grid
/*****************************************************************************/	

.homepagelinkgrid{margin:0 0 12px 0;clear:both}
.homepagelinkgrid-row{background: url(../images/layout/homepagelinkgrid-row-bg.gif) bottom no-repeat;}
.homepagelinkgrid-row-wide{background: url(../images/layout/homepagelinkgrid-row-wide-bg.gif) bottom no-repeat;}
.homepagelinkgrid-row-wide .homepagelinkgrid-block{width:auto;float:none;}
.homepagelinkgrid-row-first .homepagelinkgrid-block{padding-top:0}
.homepagelinkgrid-row-last{background: url(../images/layout/homepagelinkgrid-row-last-bg.gif) bottom no-repeat;padding:0 0 12px 0}
.homepagelinkgrid-row-last.homepagelinkgrid-row-wide{background: url(../images/layout/homepagelinkgrid-row-last-wide-bg.gif) bottom no-repeat;}
.homepagelinkgrid-block{margin:0;padding:17px 24px 7px 24px;float:left;width:222px;overflow:hidden}
.homepagelinkgrid-block h2{margin:0 0 6px -12px;background: url(../images/layout/chevron.gif) 0 5px no-repeat;padding:0 0 0 12px;}
.homepagelinkgrid-block-left{}
.homepagelinkgrid-block-right{}
.homepagelinkgrid-block ul{margin-left:0}

/*****************************************************************************/
/* Expand/Collapse
/*****************************************************************************/					

a.toggleiconlink{text-decoration:none;color:#002888}
a.toggleiconlink:visited{color:#002888}
a.toggleiconlink:hover, a.toggleiconlink:active, a.toggleiconlink:focus{color:#000;background-color:transparent;text-decoration:none}
a.toggleiconlink span.toggleiconlink-label{text-decoration:underline;}
a.toggleiconlink img{vertical-align:middle;}

a.togglehelplink{text-decoration:none;color:#002888;}
a.togglehelplink:visited{color:#002888}
a.togglehelplink:hover, a.togglehelplink:active, a.togglehelplink:focus{color:#000;background-color:transparent;text-decoration:none}
a.togglehelplink span.togglehelplink-label{text-decoration:underline;}
a.togglehelplink img{vertical-align:middle;}
.help-closeicon{float:right;}
.help-closeicon img{vertical-align:middle;}
.contentframework-helprow td{border-top:2px solid #fff;}
.contentframework-altrow.contentframework-helprow td{border-top:2px solid #f6f4ef}

/*****************************************************************************/
/* Call-outs
/*****************************************************************************/	

.callout{margin:0 0 12px 0;zoom:1;overflow:hidden}
.callout.calloutfloatleft{float:left;margin:0 15px 12px 0;width:172px;}
.callout.calloutfloatright{float:right;margin:0 0 12px 15px;width:172px;}
.callout .callout-top{display:block;font-size:1px !important;line-height:1;padding:0 0 0 4px;}
.callout .callout-top span{display:block;font-size:1px !important;line-height:1;padding:0 4px 0 0;height:4px;}
.callout .callout-bottom{display:block;font-size:1px !important;line-height:1;padding:0 0 0 4px;height:4px;}
.callout .callout-bottom span{display:block;font-size:1px !important;line-height:1;padding:0 10px 0 0;height:4px;}
.callout .callout-clear{font-size:1px;line-height:1;display:block;}
.callout .callout-content{zoom:1;padding:3px 10px 1px 10px;line-height:1.3em;font-size:.845em;}
.callout .callout-content fieldset{border:none;margin:0;padding:0;}
.callout .callout-content fieldset.callout-accessibilityfieldset legend {font-size:0px;line-height:0;position:absolute;left:-5000px;}
.callout .callout-content h2{color:#000;margin:-3px -10px 6px -10px;padding:0;border:none;padding:4px 10px 6px 10px;font-size:1.09em}
.callout .callout-content h2 a{}
.callout .callout-content h2 a:visited{color:#000;}
.callout .callout-content h2 img.callout-titleicon{float:right;margin:0 0 0 3px}
.callout .callout-content h2 a.linkedtextandicon{}
.callout .callout-content h2 a.linkedtextandicon, .callout .callout-content h2 a:link.linkedtextandicon, .callout .callout-content h2 a:visited.linkedtextandicon{color:#002888;}
.callout .callout-content h2 a:active.linkedtextandicon, .callout .callout-content h2 a:hover.linkedtextandicon{color:#000;background-color:transparent}
.callout .callout-content h2 .subcopy a, .callout .callout-content h2 .subcopy a:link, .callout .callout-content h2 .subcopy a:visited{color:#002888;}
.callout .callout-content h2 .subcopy a:active, .callout .callout-content h2 .subcopy a:hover{color:#000;background-color:transparent}
.callout .callout-content h3{font-size:1.18em;margin:12px 0 5px 0}
.callout .callout-content h4{font-size:1.09em;margin:12px 0 5px 0}
.callout .callout-content h6{font-size:1em;margin:12px 0 5px 0}
.callout .callout-content ul{margin:0 0 5px 0px;padding:0 0 1px 0;}
.callout .callout-content ul li{margin:0 0 6px 0;background-position: 0 .4em}
.callout .callout-content .button{font-size:.998em;}
.callout .callout-content .button-tertiary{font-size:.91em;}
.callout .callout-content .button-tertiary-disabled{font-size:.91em;}	
.callout .callout-content .contentframework-select{float:left;font-size:1.18em}
.callout .callout-content .contentframework-textfield{float:left;font-size:1.18em;}
.callout .callout-content table.contentframework .contentframework-dataheadertop{font-size:1em;}
.callout .callout-content table.contentframework .contentframework-dataheaderleft{font-size:1em;}
.callout .callout-contenttable.contentframework th.contentframework-formdatalabel, .callout .callout-content table.contentframework td.contentframework-formdatalabel{font-size:1em;}
.callout .callout-content table.contentframework td table.contentframework td{font-size:1.18em}
.callout .callout-content table.contentframework td table.contentframework td .contentframework-select{font-size:1em;float:none}
.callout .callout-content table.contentframework td table.contentframework td .contentframework-textfield{font-size:1em;float:none}
.callout .callout-content .standardtextsize{font-size:1.18em;line-height:1.4em}

/* Notices -------------------------------------------------------- */
.callout.callout-notice{margin:0 0 12px 0}		
.callout .callout-content h5{color:#000;margin:-3px -10px 12px -10px;border:none;font-size:1.09em;position:relative;zoom:1;padding:6px 10px 8px 32px}	
.callout .callout-content h5 a{color:#000;}
.callout .callout-content h5 a:visited{color:#000;}
.callout .callout-content h5 img.callout-titleicon{position:absolute;top:1px;left:4px;}			

/* Wide Notices -------------------------------------------------------- */
.callout.callout-largenotice{margin:0 0 12px 0}
.callout.callout-largenotice .callout-content{}
.callout.callout-largenotice .callout-content h5{position:relative;zoom:1;padding:12px 10px 4px 45px;min-height:23px;*height:23px;}
.callout.callout-largenotice .callout-content h5 img.callout-titleicon{position:absolute;top:1px;left:5px;}

/* Call-outs with gradients (border with gradient behind content, no colour behind call-out title) -------------------------------------------------------- */
.callout-lightblue-gradient{}
.callout-lightblue-gradient .callout-top{background: url(../images/callouts/corners-gradient-lightblue-bg.gif) top left no-repeat;}
.callout-lightblue-gradient .callout-top span{background: url(../images/callouts/corners-gradient-lightblue-bg.gif) top right no-repeat;}
.callout-lightblue-gradient .callout-content{border-left:1px solid #c3cce0;border-right:1px solid #c3cce0;background: #fff url(../images/callouts/gradient-lightblue-bg.gif) bottom left repeat-x;}
.callout-lightblue-gradient .callout-content h2{font-size:1.275em;color:#595959}
.callout-lightblue-gradient .callout-bottom {background: url(../images/callouts/corners-gradient-lightblue-bg.gif) bottom left no-repeat;}
.callout-lightblue-gradient .callout-bottom span{background: url(../images/callouts/corners-gradient-lightblue-bg.gif) bottom right no-repeat}

.callout-noticeblue-gradient{}
.callout-noticeblue-gradient .callout-top{background: url(../images/callouts/corners-gradient-noticeblue-bg.gif) top left no-repeat;}
.callout-noticeblue-gradient .callout-top span{background: url(../images/callouts/corners-gradient-noticeblue-bg.gif) top right no-repeat;}
.callout-noticeblue-gradient .callout-content{border-left:1px solid #002888;border-right:1px solid #002888;background: #fff url(../images/callouts/gradient-noticeblue-bg.gif) bottom left repeat-x;}
.callout-noticeblue-gradient .callout-content h2{font-size:1.275em;color:#595959}
.callout-noticeblue-gradient .callout-bottom {background: url(../images/callouts/corners-gradient-noticeblue-bg.gif) bottom left no-repeat;}
.callout-noticeblue-gradient .callout-bottom span{background: url(../images/callouts/corners-gradient-noticeblue-bg.gif) bottom right no-repeat}

.callout-red-gradient{}
.callout-red-gradient .callout-top{background: url(../images/callouts/corners-gradient-red-bg.gif) top left no-repeat;}
.callout-red-gradient .callout-top span{background: url(../images/callouts/corners-gradient-red-bg.gif) top right no-repeat;}
.callout-red-gradient .callout-content{border-left:1px solid #9c0000;border-right:1px solid #9c0000;background: #fff url(../images/callouts/gradient-red-bg.gif) bottom left repeat-x;}
.callout-red-gradient .callout-content h2{font-size:1.275em;color:#595959}
.callout-red-gradient .callout-bottom {background: url(../images/callouts/corners-gradient-red-bg.gif) bottom left no-repeat;}
.callout-red-gradient .callout-bottom span{background: url(../images/callouts/corners-gradient-red-bg.gif) bottom right no-repeat}

.callout-yellow-gradient{}
.callout-yellow-gradient .callout-top{background: url(../images/callouts/corners-gradient-yellow-bg.gif) top left no-repeat;}
.callout-yellow-gradient .callout-top span{background: url(../images/callouts/corners-gradient-yellow-bg.gif) top right no-repeat;}
.callout-yellow-gradient .callout-content{border-left:1px solid #fedf01;border-right:1px solid #fedf01;background: #fff url(../images/callouts/gradient-yellow-bg.gif) bottom left repeat-x;}
.callout-yellow-gradient .callout-content h2{font-size:1.275em;color:#595959}
.callout-yellow-gradient .callout-bottom {background: url(../images/callouts/corners-gradient-yellow-bg.gif) bottom left no-repeat;}
.callout-yellow-gradient .callout-bottom span{background: url(../images/callouts/corners-gradient-yellow-bg.gif) bottom right no-repeat}

.callout-green-gradient{}
.callout-green-gradient .callout-top{background: url(../images/callouts/corners-gradient-green-bg.gif) top left no-repeat;}
.callout-green-gradient .callout-top span{background: url(../images/callouts/corners-gradient-green-bg.gif) top right no-repeat;}
.callout-green-gradient .callout-content{border-left:1px solid #005a00;border-right:1px solid #005a00;background: #fff url(../images/callouts/gradient-green-bg.gif) bottom left repeat-x;}
.callout-green-gradient .callout-content h2{font-size:1.275em;color:#595959}
.callout-green-gradient .callout-bottom {background: url(../images/callouts/corners-gradient-green-bg.gif) bottom left no-repeat;}
.callout-green-gradient .callout-bottom span{background: url(../images/callouts/corners-gradient-green-bg.gif) bottom right no-repeat}	

.callout-taupe-gradient{}
.callout-taupe-gradient .callout-top{background: url(../images/callouts/corners-gradient-taupe-bg.gif) top left no-repeat;}
.callout-taupe-gradient .callout-top span{background: url(../images/callouts/corners-gradient-taupe-bg.gif) top right no-repeat;}
.callout-taupe-gradient .callout-content{border-left:1px solid #cbc19b;border-right:1px solid #cbc19b;background: #fff url(../images/callouts/gradient-taupe-bg.gif) bottom left repeat-x;}
.callout-taupe-gradient .callout-content h2{font-size:1.275em;color:#595959}
.callout-taupe-gradient .callout-bottom {background: url(../images/callouts/corners-gradient-taupe-bg.gif) bottom left no-repeat;}
.callout-taupe-gradient .callout-bottom span{background: url(../images/callouts/corners-gradient-taupe-bg.gif) bottom right no-repeat}

.callout-gray-gradient{}
.callout-gray-gradient .callout-top{background: url(../images/callouts/corners-gradient-gray-bg.gif) top left no-repeat;}
.callout-gray-gradient .callout-top span{background: url(../images/callouts/corners-gradient-gray-bg.gif) top right no-repeat;}
.callout-gray-gradient .callout-content{border-left:1px solid #b8b8b8;border-right:1px solid #b8b8b8;background: #fff url(../images/callouts/gradient-gray-bg.gif) bottom left repeat-x;}
.callout-gray-gradient .callout-content h2{font-size:1.275em;color:#595959}
.callout-gray-gradient .callout-bottom {background: url(../images/callouts/corners-gradient-gray-bg.gif) bottom left no-repeat;}
.callout-gray-gradient .callout-bottom span{background: url(../images/callouts/corners-gradient-gray-bg.gif) bottom right no-repeat}

/* Call-outs with titles (border with colour behind call-out title) -------------------------------------------------------- */
.callout-lightblue-withtitle{}
.callout-lightblue-withtitle .callout-top{background: url(../images/callouts/corners-withtitle-lightblue-bg.gif) top left no-repeat;}
.callout-lightblue-withtitle .callout-top span{background: url(../images/callouts/corners-withtitle-lightblue-bg.gif) top right no-repeat;}
.callout-lightblue-withtitle .callout-content{border-left:1px solid #c3cce0;border-right:1px solid #c3cce0;background: #fff}
.callout-lightblue-withtitle .callout-content h2{background:#d8deeb}
.callout-lightblue-withtitle .callout-content h5{background:#d8deeb;}
.callout-lightblue-withtitle .callout-bottom {background: url(../images/callouts/corners-withtitle-lightblue-bg.gif) bottom left no-repeat;}
.callout-lightblue-withtitle .callout-bottom span{background: url(../images/callouts/corners-withtitle-lightblue-bg.gif) bottom right no-repeat;}

.callout-noticeblue-withtitle{}
.callout-noticeblue-withtitle .callout-top{background: url(../images/callouts/corners-withtitle-noticeblue-bg.gif) top left no-repeat;}
.callout-noticeblue-withtitle .callout-top span{background: url(../images/callouts/corners-withtitle-noticeblue-bg.gif) top right no-repeat;}
.callout-noticeblue-withtitle .callout-content{border-left:1px solid #002888;border-right:1px solid #002888;background: #fff}
.callout-noticeblue-withtitle .callout-content h2{background:#d8deeb;}
.callout-noticeblue-withtitle .callout-content h5{background:#d8deeb;}
.callout-noticeblue-withtitle .callout-bottom {background: url(../images/callouts/corners-withtitle-noticeblue-bg.gif) bottom left no-repeat;}
.callout-noticeblue-withtitle .callout-bottom span{background: url(../images/callouts/corners-withtitle-noticeblue-bg.gif) bottom right no-repeat;}

.callout-yellow-withtitle{}
.callout-yellow-withtitle .callout-top{background: url(../images/callouts/corners-withtitle-yellow-bg.gif) top left no-repeat;}
.callout-yellow-withtitle .callout-top span{background: url(../images/callouts/corners-withtitle-yellow-bg.gif) top right no-repeat;}
.callout-yellow-withtitle .callout-content{border-left:1px solid #fedf01;border-right:1px solid #fedf01;background: #fff}
.callout-yellow-withtitle .callout-content h2{background:#fff7da;}
.callout-yellow-withtitle .callout-content h5{background:#fff7da;}
.callout-yellow-withtitle .callout-bottom {background: url(../images/callouts/corners-withtitle-yellow-bg.gif) bottom left no-repeat;}
.callout-yellow-withtitle .callout-bottom span{background: url(../images/callouts/corners-withtitle-yellow-bg.gif) bottom right no-repeat;}

.callout-taupe-withtitle{}
.callout-taupe-withtitle .callout-top{background: url(../images/callouts/corners-withtitle-taupe-bg.gif) top left no-repeat;}
.callout-taupe-withtitle .callout-top span{background: url(../images/callouts/corners-withtitle-taupe-bg.gif) top right no-repeat;}
.callout-taupe-withtitle .callout-content{border-left:1px solid #cbc19b;border-right:1px solid #cbc19b;background: #fff}
.callout-taupe-withtitle .callout-content h2{background:#e9e4d1;}
.callout-taupe-withtitle .callout-content h5{background:#e9e4d1;}
.callout-taupe-withtitle .callout-bottom {background: url(../images/callouts/corners-withtitle-taupe-bg.gif) bottom left no-repeat;}
.callout-taupe-withtitle .callout-bottom span{background: url(../images/callouts/corners-withtitle-taupe-bg.gif) bottom right no-repeat;}

.callout-gray-withtitle{}
.callout-gray-withtitle .callout-top{background: url(../images/callouts/corners-withtitle-gray-bg.gif) top left no-repeat;}
.callout-gray-withtitle .callout-top span{background: url(../images/callouts/corners-withtitle-gray-bg.gif) top right no-repeat;}
.callout-gray-withtitle .callout-content{border-left:1px solid #b8b8b8;border-right:1px solid #b8b8b8;background: #fff}
.callout-gray-withtitle .callout-content h2{background:#eeeeee;}
.callout-gray-withtitle .callout-content h5{background:#eeeeee;}
.callout-gray-withtitle .callout-bottom {background: url(../images/callouts/corners-withtitle-gray-bg.gif) bottom left no-repeat;}
.callout-gray-withtitle .callout-bottom span{background: url(../images/callouts/corners-withtitle-gray-bg.gif) bottom right no-repeat;}

.callout-red-withtitle{}
.callout-red-withtitle .callout-top{background: url(../images/callouts/corners-withtitle-red-bg.gif) top left no-repeat;}
.callout-red-withtitle .callout-top span{background: url(../images/callouts/corners-withtitle-red-bg.gif) top right no-repeat;}
.callout-red-withtitle .callout-content{border-left:1px solid #9c0000;border-right:1px solid #9c0000;background: #fff}
.callout-red-withtitle .callout-content h2{background:#faf3f3;}
.callout-red-withtitle .callout-content h5{background:#faf3f3;}
.callout-red-withtitle .callout-bottom {background: url(../images/callouts/corners-withtitle-red-bg.gif) bottom left no-repeat;}
.callout-red-withtitle .callout-bottom span{background: url(../images/callouts/corners-withtitle-red-bg.gif) bottom right no-repeat;}

.callout-green-withtitle{}
.callout-green-withtitle .callout-top{background: url(../images/callouts/corners-withtitle-green-bg.gif) top left no-repeat;}
.callout-green-withtitle .callout-top span{background: url(../images/callouts/corners-withtitle-green-bg.gif) top right no-repeat;}
.callout-green-withtitle .callout-content{border-left:1px solid #005a00;border-right:1px solid #005a00;background: #fff}
.callout-green-withtitle .callout-content h2{background:#e2ede2}
.callout-green-withtitle .callout-content h5{background:#e2ede2}
.callout-green-withtitle .callout-bottom {background: url(../images/callouts/corners-withtitle-green-bg.gif) bottom left no-repeat;}
.callout-green-withtitle .callout-bottom span{background: url(../images/callouts/corners-withtitle-green-bg.gif) bottom right no-repeat;}

/* Call-outs with no titles (border with no background colour/gradient) -------------------------------------------------------- */
.callout-lightblue-notitle{}
.callout-lightblue-notitle .callout-top{background: url(../images/callouts/corners-lightblue-bg.gif) top left no-repeat;}
.callout-lightblue-notitle .callout-top span{background: url(../images/callouts/corners-lightblue-bg.gif) top right no-repeat;}
.callout-lightblue-notitle .callout-content{padding-top:3px;padding-bottom:0;border-left:1px solid #c3cce0;border-right:1px solid #c3cce0;background: #fff}
.callout-lightblue-notitle .callout-content h2{margin-bottom:0;}
.callout-lightblue-notitle .callout-content h5{margin-bottom:0;}
.callout-lightblue-notitle .callout-bottom {background: url(../images/callouts/corners-lightblue-bg.gif) bottom left no-repeat;}
.callout-lightblue-notitle .callout-bottom span{background: url(../images/callouts/corners-lightblue-bg.gif) bottom right no-repeat;}

.callout-taupe-notitle{}
.callout-taupe-notitle .callout-top{background: url(../images/callouts/corners-taupe-bg.gif) top left no-repeat;}
.callout-taupe-notitle .callout-top span{background: url(../images/callouts/corners-taupe-bg.gif) top right no-repeat;}
.callout-taupe-notitle .callout-content{padding-top:3px;padding-bottom:0;border-left:1px solid #cbc19b;border-right:1px solid #cbc19b;background: #fff}
.callout-taupe-notitle .callout-content h2{margin-bottom:0;}
.callout-taupe-notitle .callout-content h5{margin-bottom:0;}
.callout-taupe-notitle .callout-bottom {background: url(../images/callouts/corners-taupe-bg.gif) bottom left no-repeat;}
.callout-taupe-notitle .callout-bottom span{background: url(../images/callouts/corners-taupe-bg.gif) bottom right no-repeat;}

.callout-gray-notitle{}
.callout-gray-notitle .callout-top{background: url(../images/callouts/corners-gray-bg.gif) top left no-repeat;}
.callout-gray-notitle .callout-top span{background: url(../images/callouts/corners-gray-bg.gif) top right no-repeat;}
.callout-gray-notitle .callout-content{padding-top:3px;padding-bottom:0;border-left:1px solid #b8b8b8;border-right:1px solid #b8b8b8;background: #fff}
.callout-gray-notitle .callout-content h2{margin-bottom:0;}
.callout-gray-notitle .callout-content h5{margin-bottom:0;}
.callout-gray-notitle .callout-bottom {background: url(../images/callouts/corners-gray-bg.gif) bottom left no-repeat;}
.callout-gray-notitle .callout-bottom span{background: url(../images/callouts/corners-gray-bg.gif) bottom right no-repeat;}

/* Call-outs with flat colour (notices only) -------------------------------------------------------- */
.callout-noticeblue-flatcolour{}
.callout-noticeblue-flatcolour .callout-top{background: url(../images/callouts/corners-flatcolour-noticeblue-bg.gif) top left no-repeat;}
.callout-noticeblue-flatcolour .callout-top span{background: url(../images/callouts/corners-flatcolour-noticeblue-bg.gif) top right no-repeat;}
.callout-noticeblue-flatcolour .callout-content{padding-bottom:0;border-left:1px solid #002888;border-right:1px solid #002888;background: #d8deeb}
.callout-noticeblue-flatcolour .callout-content h2{margin-bottom:0;}
.callout-noticeblue-flatcolour .callout-content h5{margin-bottom:0;}
.callout-noticeblue-flatcolour .callout-bottom {background: url(../images/callouts/corners-flatcolour-noticeblue-bg.gif) bottom left no-repeat;}
.callout-noticeblue-flatcolour .callout-bottom span{background: url(../images/callouts/corners-flatcolour-noticeblue-bg.gif) bottom right no-repeat;}

.callout-yellow-flatcolour{}
.callout-yellow-flatcolour .callout-top{background: url(../images/callouts/corners-flatcolour-yellow-bg.gif) top left no-repeat;}
.callout-yellow-flatcolour .callout-top span{background: url(../images/callouts/corners-flatcolour-yellow-bg.gif) top right no-repeat;}
.callout-yellow-flatcolour .callout-content{padding-bottom:0;border-left:1px solid #fedf01;border-right:1px solid #fedf01;background: #fff7da}
.callout-yellow-flatcolour .callout-content h2{margin-bottom:0;}
.callout-yellow-flatcolour .callout-content h5{margin-bottom:0;}
.callout-yellow-flatcolour .callout-bottom {background: url(../images/callouts/corners-flatcolour-yellow-bg.gif) bottom left no-repeat;}
.callout-yellow-flatcolour .callout-bottom span{background: url(../images/callouts/corners-flatcolour-yellow-bg.gif) bottom right no-repeat;}

.callout-red-flatcolour{}
.callout-red-flatcolour .callout-top{background: url(../images/callouts/corners-flatcolour-red-bg.gif) top left no-repeat;}
.callout-red-flatcolour .callout-top span{background: url(../images/callouts/corners-flatcolour-red-bg.gif) top right no-repeat;}
.callout-red-flatcolour .callout-content{padding-bottom:0;border-left:1px solid #9c0000;border-right:1px solid #9c0000;background: #faf3f3}
.callout-red-flatcolour .callout-content h2{margin-bottom:0;}
.callout-red-flatcolour .callout-content h5{margin-bottom:0;}
.callout-red-flatcolour .callout-bottom {background: url(../images/callouts/corners-flatcolour-red-bg.gif) bottom left no-repeat;}
.callout-red-flatcolour .callout-bottom span{background: url(../images/callouts/corners-flatcolour-red-bg.gif) bottom right no-repeat;}

.callout-green-flatcolour{}
.callout-green-flatcolour .callout-top{background: url(../images/callouts/corners-flatcolour-green-bg.gif) top left no-repeat;}
.callout-green-flatcolour .callout-top span{background: url(../images/callouts/corners-flatcolour-green-bg.gif) top right no-repeat;}
.callout-green-flatcolour .callout-content{padding-bottom:0;border-left:1px solid #005a00;border-right:1px solid #005a00;background: #e2ede2}
.callout-green-flatcolour .callout-content h2{margin-bottom:0;}
.callout-green-flatcolour .callout-content h5{margin-bottom:0;}
.callout-green-flatcolour .callout-bottom {background: url(../images/callouts/corners-flatcolour-green-bg.gif) bottom left no-repeat;}
.callout-green-flatcolour .callout-bottom span{background: url(../images/callouts/corners-flatcolour-green-bg.gif) bottom right no-repeat;}

/*****************************************************************************/
/* Navigation
/*****************************************************************************/

.skipnav{position:absolute;top:-1000px}
.skipnavanchor{position:absolute;clear:both;font-size:1px;line-height:1px;width:1px}

#stepnav{margin:0 0 12px 0;position:relative;width:100%;height:1.5em}
span#stepnav-back{}
span#stepnav-next{position:absolute;top:0;right:0}

/* Main Navigation -------------------------------------------------------- */
#mainnav{line-height:1.2em;clear:both;margin:0 0 12px 0;position:relative;z-index:2}
#mainnav-level1{clear:both;background: #002888 url(../images/navigation/mainnav/level1-bg.gif) top left repeat-x;font-weight:bold;padding:5px 12px 0 0}
#mainnav-level1 ul{margin:0;padding:0;}
#mainnav-level1 ul li{float:left;list-style:none;margin:0 0 0 13px;background:none;padding:0;display:inline}
#mainnav-level1 ul li .mainnav-level1-screenreaderimage{position:absolute;top:0;left:0;}	
#mainnav-level1 ul li span{float:left;display:block;border-left:1px solid #8699c6;margin:3px 0 0 0;padding:0 0 0 12px;display:inline}
#mainnav-level1 ul li span a{color:#ffffff;text-decoration:none;}
#mainnav-level1 ul li span a:visited{color:#ffffff;}
#mainnav-level1 ul li span a:hover,
#mainnav-level1 ul li span a:active,
#mainnav-level1 ul li span a:focus{color:#fff;text-decoration:underline;background-color:transparent}
#mainnav-level1 ul li.mainnav-level1-firstlink span{border:none}
#mainnav-level1 ul li.mainnav-level1-rightofcurrentpage{margin-left:0;}
#mainnav-level1 ul li.mainnav-level1-rightofcurrentpage span{border:none;}
#mainnav-level1 ul li.mainnav-level1-currentpage{background: url(../images/navigation/mainnav/level1-tab-bg.gif) 0 0 no-repeat;padding:0 0 0 11px}
#mainnav-level1 ul li.mainnav-level1-currentpage span {padding:5px 11px 5px 0px;margin:0;background: url(../images/navigation/mainnav/level1-tab-bg.gif) 100% 0 no-repeat;border:none;}
#mainnav-level1 ul li.mainnav-level1-currentpage span a{text-decoration:underline;color:#002888;}
#mainnav-level1 ul li.mainnav-level1-currentpage span a:visited{color:#002888;}
#mainnav-level1 ul li.mainnav-level1-currentpage span a:hover,
#mainnav-level1 ul li.mainnav-level1-currentpage span a:active,
#mainnav-level1 ul li.mainnav-level1-currentpage span a:focus{color:#000;}
html > body #mainnav-level1 ul li.mainnav-level1-currentpage span a:hover, html > body #mainnav-level1 ul li.mainnav-level1-currentpage span a:focus, html > body #mainnav-level1 ul li.mainnav-level1-currentpage span a:active{background-color:#e5ebf2;}
#mainnav-level2{clear:both;background: #fff url(../images/navigation/mainnav/level2-bg.gif) bottom left repeat-x;padding:5px 12px 0 0px;}
#mainnav-level2 ul{margin:0;padding:0;}
#mainnav-level2 ul li{float:left;list-style:none;margin:0 0 0 13px;background:none;padding:0;display:inline}
#mainnav-level2 ul li .mainnav-level2-screenreaderimage{position:absolute;top:0;left:0;}	
#mainnav-level2 ul li span{display:block;border-left:1px solid #002888;margin:3px 0 0 0;padding:0 0 0 12px;}
#mainnav-level2 ul li span a{}
#mainnav-level2 ul li span a:visited{color:#002888;}	
#mainnav-level2 ul li span a:hover,
#mainnav-level2 ul li span a:active,
#mainnav-level2 ul li span a:focus{color:#000}
#mainnav-level2 ul li.mainnav-level2-firstlink span{border-left:none;}
#mainnav-level2 ul li.mainnav-level2-rightofcurrentpage{margin-left:0;}
#mainnav-level2 ul li.mainnav-level2-rightofcurrentpage span{border:none;}
#mainnav-level2 ul li.mainnav-level2-currentpage{background: url(../images/navigation/mainnav/level2-tab-bg.gif) 0 0 no-repeat;padding:0 0 0 11px;font-weight:bold}
#mainnav-level2 ul li.mainnav-level2-currentpage span {padding:5px 11px 5px 0px;margin:0;background: url(../images/navigation/mainnav/level2-tab-bg.gif) 100% 0 no-repeat;border:none;}
#mainnav-level2 ul li.mainnav-level2-currentpage span a{text-decoration:underline}
#mainnav-level2 ul li.mainnav-level2-currentpage span a:hover{}

/* Primary/In Page tabs-------------------------------------------------------- */
.primarytabs{line-height:1.2em;font-size:.845em;margin:0 0 12px 0;padding:12px 0 0 0;clear:both}
.primarytabs .primarytabs-screenreaderimage{position:absolute;top:0;left:0;}
.primarytabs-level1{clear:both;background: url(../images/navigation/primarytabs/level1-lightblue-bg.gif) bottom left repeat-x;}
.primarytabs-level1 ul{margin:0;padding:0;}
.primarytabs-level1 ul li{list-style:none;float:left;background: url(../images/navigation/primarytabs/level1-tab-lightblue-bg.gif) 0 -250px no-repeat;padding:0 0 0 12px;margin:0 0 0 3px;border-bottom:1px solid #002888}
.primarytabs-level1 ul li span{float:left;display:block;background: url(../images/navigation/primarytabs/level1-tab-lightblue-bg.gif) 100% -250px no-repeat;padding:.35em 12px .4em 0}
.primarytabs-level1 ul li span a{text-decoration:none;}
.primarytabs-level1 ul li span a:visited{color:#002888;}
.primarytabs-level1 ul li span a:hover,
.primarytabs-level1 ul li span a:active,
.primarytabs-level1 ul li span a:focus{background-color:transparent;text-decoration:underline;color:#000}
.primarytabs-level1 ul li.primarytabs-currentpage{font-weight:bold;background: url(../images/navigation/primarytabs/level1-tab-lightblue-bg.gif) 0 0 no-repeat;border-bottom:1px solid #ffffff;}
.primarytabs-level1 ul li.primarytabs-currentpage span {background: url(../images/navigation/primarytabs/level1-tab-lightblue-bg.gif) 100% 0 no-repeat;}
.primarytabs-level1 ul li.primarytabs-currentpage span a,
.primarytabs-level1 ul li.primarytabs-currentpage span a:visited,
.primarytabs-level1 ul li.primarytabs-currentpage span a:active,
.primarytabs-level1 ul li.primarytabs-currentpage span a:hover {color:#000;text-decoration:none}
.primarytabs-tabbedcontent{display:none}
.primarytabs-tabbedcontenttitle{position:absolute;left:-5000px}
.primarytabs-container{padding:12px 12px 0px 12px;border:1px solid #c3cce0;border-top:none;margin:-12px 0 12px 0;}
.primarytabs-container-lightblue-gradient{background: url(../images/navigation/primarytabs/container-lightblue-gradient-bg.gif) bottom left repeat-x;}

/* Dark Blue */	
.primarytabs.primarytabs-darkblue .primarytabs-level1{}
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li{background: url(../images/navigation/primarytabs/level1-tab-lightblue-darkblue-bg.gif) 0 -250px no-repeat;border-bottom:1px solid #002888}
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li span{background: url(../images/navigation/primarytabs/level1-tab-lightblue-darkblue-bg.gif) 100% -250px no-repeat;}
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li span a,
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li span a:visited,
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li span a:hover,
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li span a:active,
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li span a:focus{color:#fff}
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li.primarytabs-currentpage{background: url(../images/navigation/primarytabs/level1-tab-lightblue-darkblue-bg.gif) 0 0 no-repeat;border-bottom:1px solid #ffffff;}
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li.primarytabs-currentpage span {background: url(../images/navigation/primarytabs/level1-tab-lightblue-darkblue-bg.gif) 100% 0 no-repeat;}
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li.primarytabs-currentpage span a,
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li.primarytabs-currentpage span a:visited,
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li.primarytabs-currentpage span a:hover,
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li.primarytabs-currentpage span a:active,
.primarytabs.primarytabs-darkblue .primarytabs-level1 ul li.primarytabs-currentpage span a:focus{color:#000;}

/* Gray */	
.primarytabs.primarytabs-gray .primarytabs-level1{background: url(../images/navigation/primarytabs/level1-gray-bg.gif) bottom left repeat-x;}
.primarytabs.primarytabs-gray .primarytabs-level1 ul li{background: url(../images/navigation/primarytabs/level1-tab-gray-bg.gif) 0 -250px no-repeat;border-bottom:1px solid #6e6e6e}
.primarytabs.primarytabs-gray .primarytabs-level1 ul li span{background: url(../images/navigation/primarytabs/level1-tab-gray-bg.gif) 100% -250px no-repeat;}
.primarytabs.primarytabs-gray .primarytabs-level1 ul li.primarytabs-currentpage{background: url(../images/navigation/primarytabs/level1-tab-gray-bg.gif) 0 0 no-repeat;border-bottom:1px solid #ffffff;}
.primarytabs.primarytabs-gray .primarytabs-level1 ul li.primarytabs-currentpage span {background: url(../images/navigation/primarytabs/level1-tab-gray-bg.gif) 100% 0 no-repeat;}
.primarytabs-container.primarytabs-container-gray{background:#fff;border:1px solid #b8b8b8;border-top:none;}
.primarytabs-container.primarytabs-container-gray-gradient{background: url(../images/navigation/primarytabs/container-gray-gradient-bg.gif) bottom left repeat-x;border:1px solid #b8b8b8;border-top:none;}

/* Taupe */	
.primarytabs.primarytabs-taupe .primarytabs-level1{background: url(../images/navigation/primarytabs/level1-taupe-bg.gif) bottom left repeat-x;}
.primarytabs.primarytabs-taupe .primarytabs-level1 ul li{background: url(../images/navigation/primarytabs/level1-tab-taupe-bg.gif) 0 -250px no-repeat;border-bottom:1px solid #61593a}
.primarytabs.primarytabs-taupe .primarytabs-level1 ul li span{background: url(../images/navigation/primarytabs/level1-tab-taupe-bg.gif) 100% -250px no-repeat;}
.primarytabs.primarytabs-taupe .primarytabs-level1 ul li.primarytabs-currentpage{background: url(../images/navigation/primarytabs/level1-tab-taupe-bg.gif) 0 0 no-repeat;border-bottom:1px solid #ffffff;}
.primarytabs.primarytabs-taupe .primarytabs-level1 ul li.primarytabs-currentpage span {background: url(../images/navigation/primarytabs/level1-tab-taupe-bg.gif) 100% 0 no-repeat;}
.primarytabs-container.primarytabs-container-taupe{background: #fff;border:1px solid #d7ceaf;border-top:none;}
.primarytabs-container.primarytabs-container-taupe-gradient{background: url(../images/navigation/primarytabs/container-taupe-gradient-bg.gif) bottom left repeat-x;border:1px solid #d7ceaf;border-top:none;}

/* Multiline */	
.primarytabs-multiline{line-height:1.2em;font-size:.845em;margin:0 0 12px 0;}
.primarytabs-multiline .primarytabs-multiline-screenreaderimage{position:absolute;top:0;left:0;}
.primarytabs-multiline-level1{clear:both;background: url(../images/navigation/primarytabs/level1-lightblue-bg.gif) bottom left repeat-x;}
.primarytabs-multiline-level1 ul{margin:0;padding:0;}
.primarytabs-multiline-level1 ul li{list-style:none;float:left;background: url(../images/navigation/primarytabs/level1-tab-lightblue-bg.gif) 0 -250px no-repeat;padding:0 0 0 12px;margin:0 0 0 3px;border-bottom:1px solid #002888}
.primarytabs-multiline-level1 ul li span{float:left;display:block;background: url(../images/navigation/primarytabs/level1-tab-lightblue-bg.gif) 100% -250px no-repeat;padding:.8em 12px 0 0;height:2.2em}
.primarytabs-multiline-level1 ul li span a{text-decoration:none;}
.primarytabs-multiline-level1 ul li span a:visited{color:#002888;}
.primarytabs-multiline-level1 ul li span a:hover,
.primarytabs-multiline-level1 ul li span a:active,
.primarytabs-multiline-level1 ul li span a:focus{background-color:transparent;text-decoration:underline;color:#000}
.primarytabs-multiline-level1 ul li.primarytabs-wrap span{padding:.2em 12px 0 0;height:2.81em}
.primarytabs-multiline-level1 ul li.primarytabs-currentpage{font-weight:bold;background: url(../images/navigation/primarytabs/level1-tab-lightblue-bg.gif) 0 0 no-repeat;border-bottom:1px solid #ffffff}
.primarytabs-multiline-level1 ul li.primarytabs-currentpage span {background: url(../images/navigation/primarytabs/level1-tab-lightblue-bg.gif) 100% 0 no-repeat;}		

/* Side Tabs -------------------------------------------------------- */
.sidetabs-container{width:100%;border-collapse:collapse;margin:4px 0 6px 0;_margin-top:10px}
.sidetabs-container td.sidetabs-container-tabs{vertical-align:top;width:30%;padding:0 0 5px 0;background: url(../images/navigation/sidetabs/verticalline-lightblue.gif) top right repeat-y}
.sidetabs-container td.sidetabs-container-content{vertical-align:top;padding:0 0 0 12px}
.sidetabs-container td.sidetabs-container-content.sidetabs-container-content-lightblue-gradient{background: url(../images/navigation/sidetabs/gradient-lightblue-bg.gif) top right repeat-y;padding:12px}
.sidetabs-screenreaderimage{position:absolute;top:0;left:0}
.sidetabs-container-content .sidetabs-tabbedcontent{display:none}
.sidetabs-container-content .sidetabs-tabbedcontenttitle{position:absolute;left:-5000px}
.sidetabs-container-content h2{margin-top:0;}
.sidetabs-container-content h3{margin-top:0;}

.sidetabs-container .sidetabs ul{margin:0;padding:6px 0 0 0;zoom:1}
.sidetabs-container .sidetabs ul li{display:block;clear:both;list-style:none;background: url(../images/navigation/sidetabs/tab-lightblue-bg.gif) 0 0 no-repeat;padding:8px 0 0 0;margin:0 1px 1px 0}
.sidetabs-container .sidetabs ul li span{display:block;background: url(../images/navigation/sidetabs/tab-lightblue-bg.gif) 0 100% no-repeat;padding:0 10px 8px 10px;zoom:1}
.sidetabs-container .sidetabs ul li span a{text-decoration:none;}
.sidetabs-container .sidetabs ul li span a:visited{color:#002888;}
.sidetabs-container .sidetabs ul li span a:hover,
.sidetabs-container .sidetabs ul li span a:active,
.sidetabs-container .sidetabs ul li span a:focus{background-color:transparent;text-decoration:underline;color:#000}
.sidetabs-container .sidetabs ul li.sidetabs-currentpage{background: url(../images/navigation/sidetabs/tab-lightblue-bg.gif) -500px 0 no-repeat;font-weight:bold;margin:0 0px 1px 0}
.sidetabs-container .sidetabs ul li.sidetabs-currentpage span {background: url(../images/navigation/sidetabs/tab-lightblue-bg.gif) -500px 100% no-repeat;}
.sidetabs-container .sidetabs ul li.sidetabs-currentpage span a{color:#000 !important;text-decoration:none;cursor:default}
.sidetabs-container .sidetabs ul li.sidetabs-currentpage span a:hover,
.sidetabs-container .sidetabs ul li.sidetabs-currentpage span a:active,
.sidetabs-container .sidetabs ul li.sidetabs-currentpage span a:focus{text-decoration:none;color:#000}

/* Gray */
.sidetabs-container td.sidetabs-container-tabs-gray{background: url(../images/navigation/sidetabs/verticalline-gray.gif) top right repeat-y}
.sidetabs-container td.sidetabs-container-tabs-gray .sidetabs ul li{background: url(../images/navigation/sidetabs/tab-gray-bg.gif) 0 0 no-repeat}
.sidetabs-container td.sidetabs-container-tabs-gray .sidetabs ul li span{background: url(../images/navigation/sidetabs/tab-gray-bg.gif) 0 100% no-repeat;}
.sidetabs-container td.sidetabs-container-tabs-gray .sidetabs ul li.sidetabs-currentpage{background: url(../images/navigation/sidetabs/tab-gray-bg.gif) -500px 0 no-repeat}
.sidetabs-container td.sidetabs-container-tabs-gray .sidetabs ul li.sidetabs-currentpage span {background: url(../images/navigation/sidetabs/tab-gray-bg.gif) -500px 100% no-repeat;}
.sidetabs-container td.sidetabs-container-content.sidetabs-container-content-gray-gradient{background: url(../images/navigation/sidetabs/gradient-gray-bg.gif) top right repeat-y;padding:12px}

/* Taupe */
.sidetabs-container td.sidetabs-container-tabs-taupe{background: url(../images/navigation/sidetabs/verticalline-taupe.gif) top right repeat-y}
.sidetabs-container td.sidetabs-container-tabs-taupe .sidetabs ul li{background: url(../images/navigation/sidetabs/tab-taupe-bg.gif) 0 0 no-repeat}
.sidetabs-container td.sidetabs-container-tabs-taupe .sidetabs ul li span{background: url(../images/navigation/sidetabs/tab-taupe-bg.gif) 0 100% no-repeat;}
.sidetabs-container td.sidetabs-container-tabs-taupe .sidetabs ul li.sidetabs-currentpage{background: url(../images/navigation/sidetabs/tab-taupe-bg.gif) -500px 0 no-repeat}
.sidetabs-container td.sidetabs-container-tabs-taupe .sidetabs ul li.sidetabs-currentpage span {background: url(../images/navigation/sidetabs/tab-taupe-bg.gif) -500px 100% no-repeat;}
.sidetabs-container td.sidetabs-container-content.sidetabs-container-content-taupe-gradient{background: url(../images/navigation/sidetabs/gradient-taupe-bg.gif) top right repeat-y;padding:12px}

/* Dark Blue */
.sidetabs-container td.sidetabs-container-tabs-darkblue{background: url(../images/navigation/sidetabs/verticalline-darkblue.gif) top right repeat-y}
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li{background: url(../images/navigation/sidetabs/tab-darkblue-bg.gif) 0 0 no-repeat}
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li span{background: url(../images/navigation/sidetabs/tab-darkblue-bg.gif) 0 100% no-repeat;}
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li a,
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li a:hover,
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li a:active,
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li a:focus{color:#fff !important;}
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li.sidetabs-currentpage{background: url(../images/navigation/sidetabs/tab-darkblue-bg.gif) -500px 0 no-repeat}
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li.sidetabs-currentpage span {background: url(../images/navigation/sidetabs/tab-darkblue-bg.gif) -500px 100% no-repeat;}
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li.sidetabs-currentpage span a,
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li.sidetabs-currentpage span a:hover,
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li.sidetabs-currentpage span a:active,
.sidetabs-container td.sidetabs-container-tabs-darkblue .sidetabs ul li.sidetabs-currentpage span a:focus{color:#000 !important;}

/* Segment Nav -------------------------------------------------------- */
#segmentnav{margin:0 0 12px 0;zoom:1;}
#segmentnav .segmentnav-top{display:block;font-size:1px;line-height:1;padding:0 0 0 4px;background: url(../images/navigation/segment/corners-withtitle-segmentnav-bg.gif) top left no-repeat;}
#segmentnav .segmentnav-top span{display:block;font-size:1px;line-height:1;padding:0 4px 0 0;height:4px;background: url(../images/navigation/segment/corners-withtitle-segmentnav-bg.gif) top right no-repeat;}
#segmentnav .segmentnav-bottom{display:block;font-size:1px;line-height:1;padding:0 0 0 4px;height:4px;background: url(../images/navigation/segment/corners-withtitle-segmentnav-bg.gif) bottom left no-repeat;}
#segmentnav .segmentnav-bottom span{display:block;font-size:1px;line-height:1;padding:0 10px 0 0;height:4px;background: url(../images/navigation/segment/corners-withtitle-segmentnav-bg.gif) bottom right no-repeat;}
#segmentnav .segmentnav-content{zoom:1;padding:0;line-height:1.2em;font-size:.925em;border-left:1px solid #c3cce0;background: #f1f4f9}
#segmentnav .segmentnav-content h2{margin:0 0px 0 0px;padding:4px 10px 8px 10px;font-size:1.165em;background:#09308d url(../images/navigation/segment/gradient-segmentnav-title-bg.gif) top left repeat-x;color:#fff}
#segmentnav .segmentnav-content h2 a{color:#000;}
#segmentnav .segmentnav-content h2 a:visited{color:#000;}
#segmentnav .segmentnav-content p{padding:8px 0 0px 6px;margin:0;border-right:1px solid #c3cce0;height:1%}
#segmentnav .segmentnav-content div{border-right:1px solid #c3cce0;margin:0;}
#segmentnav .segmentnav-content ul{margin:0;padding:1px 0 4px 4px;border-right:1px solid #c3cce0;}
#segmentnav .segmentnav-content ul.segmentnav-content-nested{padding:1px 0 4px 12px;}
#segmentnav .segmentnav-content ul li{background: url(../images/layout/bullet-link.gif) 6px 5px no-repeat;margin:7px 0 7px 0;padding:1px 5px 1px 17px;}
#segmentnav .segmentnav-content ul li .segmentnav-screenreaderimage{position:absolute;top:0;left:0;}
#segmentnav .segmentnav-content ul li a{color:#002888;}
#segmentnav .segmentnav-content ul li a:visited{color:#002888;}
#segmentnav .segmentnav-content ul li a:hover,
#segmentnav .segmentnav-content ul li a:active,
#segmentnav .segmentnav-content ul li a:focus{color:#000}
#segmentnav .segmentnav-content ul li.segmentnav-currentpage{font-weight:bold;background: #fff url(../images/navigation/segment/bullet-chevron.gif) 5px 9px no-repeat;margin:7px -2px 7px 0;padding:6px 5px 7px 16px;border-top:1px solid #c3cce0;border-left:1px solid #c3cce0;border-bottom:1px solid #c3cce0;border-right:1px solid #fff}	

/* Left Nav-------------------------------------------------------- */	
#leftnav{line-height:1.2em;font-size:.845em;margin:0 0 12px 0;clear:both}
#leftnav ul{margin:0;padding:0px;list-style:none;zoom:1}
#leftnav ul li{margin:0 0 0 15px;padding:5px 0 6px 0px;background: url(../images/navigation/leftnav/divider-bg.gif) bottom left repeat-x;position:relative;zoom:1}
#leftnav ul li a{color:#002888;text-decoration:none;}
#leftnav ul li a:visited{color:#002888;}
#leftnav ul li a:hover,
#leftnav ul li a:active,
#leftnav ul li a:focus{color:#000;text-decoration:underline;background-color:transparent}
#leftnav ul.leftnav-currentsection{border:1px solid #8996a6;margin:0 0 3px 0;padding:1px}
#leftnav ul li.leftnav-sectionheader{font-weight:bold;color:#fff;font-size:1em;line-height:1.2em;margin:0;padding:6px 12px 7px 15px;background: url(../images/navigation/leftnav/sectionheader-bg.gif) bottom left repeat-x;border:1px solid #c3cce0;margin:0 0 3px 0}
#leftnav ul.leftnav-currentsection li.leftnav-sectionheader{background: #09308d url(../images/navigation/leftnav/sectionheader-current-bg.gif) top left repeat-x;border:none;margin:0;font-size:1.09em}
#leftnav ul.leftnav-currentsection li.leftnav-sectionheader a{color:#fff}
#leftnav ul.leftnav-currentsection li.leftnav-sectionheader a:visited{color:#fff}
#leftnav ul.leftnav-currentsection li.leftnav-sectionheader a:hover,
#leftnav ul.leftnav-currentsection li.leftnav-sectionheader a:active,
#leftnav ul.leftnav-currentsection li.leftnav-sectionheader a:focus{color:#fff;text-decoration:underline;background-color:transparent}
#leftnav ul.leftnav-currentsection li.leftnav-currentsectionheader{}
#leftnav ul li.leftnav-path{background:#fff url(../images/navigation/leftnav/path-bg.gif) bottom left no-repeat;margin:0;padding:6px 12px 9px 15px}
#leftnav ul li.leftnav-lastpage{background:none}
#leftnav ul li.leftnav-currentpage{font-weight:bold;padding:5px 0px 6px 0px;}
#leftnav ul li.leftnav-currentpage ul li{font-weight:normal;padding:4px 12px 5px 0px;}
#leftnav ul li ul{padding:3px 0 0 0;}
#leftnav ul li ul li, #leftnav ul li.leftnav-currentpage ul li {margin:0 0 0 6px;padding:3px 12px 3px 7px;background: url(../images/navigation/leftnav/bullet-childpage.gif) 0 8px no-repeat;}
#leftnav ul li ul li ul li, #leftnav ul li ul li.leftnav-currentpage ul li{margin:0 0 0 2px;padding:3px 0px 3px 8px;background: url(../images/navigation/leftnav/bullet-childchildpage.gif) 0 9px no-repeat}
#leftnav ul li ul li.leftnav-currentpage{padding:3px 12px 3px 7px;}
#leftnav ul li ul li ul li.leftnav-currentpage{padding:3px 0px 3px 8px;}

/* Highlighting */
#leftnav li.leftnav-sectionheader .leftnav-highlight{position:absolute;top:9px;left:3px;}
#leftnav li.leftnav-currentsectionheader .leftnav-highlight{position:absolute;top:10px;left:3px;}
#leftnav li.leftnav-sectionheader .leftnav-screenreaderimage{position:absolute;top:0;left:0;}
#leftnav ul.leftnav-currentsection li.leftnav-currentsectionheader .leftnav-highlight{position:absolute;top:10px;left:4px;}
#leftnav li.leftnav-path .leftnav-highlight{position:absolute;top:10px;left:3px;}
#leftnav li.leftnav-currentpage .leftnav-highlight{position:absolute;top:6px;left:-17px}
#leftnav li ul li.leftnav-currentpage .leftnav-highlight{position:absolute;top:6px;left:-23px;}
#leftnav li ul li ul li.leftnav-currentpage .leftnav-highlight{position:absolute;top:6px;left:-32px;}		

/* Left Wayfinding-------------------------------------------------------- */
#leftwayfinding{line-height:1.2em;font-size:.845em;margin:0 0 7px 0}
#leftwayfinding ul{border:1px solid #8996a6;margin:0 0 5px 0;padding:1px;list-style:none;zoom:1}
#leftwayfinding ul li{margin:0 0 0 15px;padding:5px 0 5px 15px;background: url(../images/navigation/leftwayfinding/divider-bg.gif) bottom left repeat-x;position:relative;zoom:1}
#leftwayfinding ul li a{display:block;color:#002888;padding-right:15px;}
#leftwayfinding ul li a:visited{color:#002888;}
#leftwayfinding ul li a:hover,
#leftwayfinding ul li a:active,
#leftwayfinding ul li a:focus{color:#000;text-decoration:underline;background-color:transparent}
#leftwayfinding ul li .leftwayfinding-digit{position:absolute;top:4px;left:0;}
#leftwayfinding ul li .leftwayfinding-check{position:absolute;top:6px;right:5px;}
#leftwayfinding ul li.leftwayfinding-sectionheader{color:#fff;font-size:1.09em;line-height:1.2em;padding:7px 12px 7px 15px;font-weight:bold;background: #09308d url(../images/navigation/leftwayfinding/sectionheader-current-bg.gif) top left repeat-x;border:none;margin:0}
#leftwayfinding ul li.leftwayfinding-sectionheader a{color:#fff;padding-right:0}
#leftwayfinding ul li.leftwayfinding-sectionheader a:visited{color:#fff;}
#leftwayfinding ul li.leftwayfinding-sectionheader a:hover,
#leftwayfinding ul li.leftwayfinding-sectionheader a:active,
#leftwayfinding ul li.leftwayfinding-sectionheader a:focus{color:#fff;text-decoration:underline;background-color:transparent}
#leftwayfinding ul li.leftwayfinding-lastpage{background:none}
#leftwayfinding ul li.leftwayfinding-currentpage{font-weight:bold;padding:4px 0px 6px 15px;}
#leftwayfinding ul li.leftwayfinding-currentpage ul li{font-weight:normal;}
#leftwayfinding ul li ul{padding:3px 0 0 0;margin:0;border:none}
#leftwayfinding ul li ul li{margin:0;padding:3px 12px 3px 15px;background:none}
/* Highlighting bullet/chevron */
#leftwayfinding li.leftwayfinding-sectionheader .leftwayfinding-highlight{position:absolute;top:11px;left:3px;}
#leftwayfinding li .leftwayfinding-highlight{position:absolute;top:11px;left:3px;}
#leftwayfinding li.leftwayfinding-currentpage .leftwayfinding-highlight{position:absolute;top:6px;left:-17px}
#leftwayfinding li ul li.leftwayfinding-currentpage .leftwayfinding-highlight{position:absolute;top:6px;left:-32px;}

/* Top Wayfinding-------------------------------------------------------- */
#topwayfinding{line-height:1.2em;margin:0 0 12px 0;background: url(../images/navigation/topwayfinding/divider-bg.gif) top left repeat-x;padding:12px 0 0 0}
#topwayfinding ul{margin:0;padding:0;background: url(../images/navigation/topwayfinding/divider-bg.gif) bottom left repeat-x;height:3.5em;min-height:3.5em}
#topwayfinding .topwayfinding-screenreaderimage{position:absolute;top:0;left:0;}
#topwayfinding ul#topwayfinding-steps-2 li{width:50%;}
#topwayfinding ul#topwayfinding-steps-3 li{width:33%;}
#topwayfinding ul#topwayfinding-steps-4 li{width:25%;}
#topwayfinding ul#topwayfinding-steps-5 li{width:20%;}
#topwayfinding ul#topwayfinding-steps-6 li{width:15%;}
#topwayfinding ul li{float:left;position:relative;background:none;padding:0;margin:0}
#topwayfinding ul li a{color:#002888}
#topwayfinding ul li a:hover,
#topwayfinding ul li a:active,
#topwayfinding ul li a:focus{text-decoration:underline;color:#000}
#topwayfinding ul li span.topwayfinding-label{z-index:2;position:relative;line-height:1.1em;font-size:.845em;padding:0 0 0 2.6em;display:block;}
#topwayfinding ul li .topwayfinding-check{position:absolute;top:2.5em;left:.5em;}
#topwayfinding ul li .topwayfinding-digit{display:block;font-weight:normal;position:absolute;left:0;font-size:1.69em;line-height:1.1em;background:#002888;padding:1px;}
#topwayfinding ul li .topwayfinding-digit span {display:block;padding:0px 3px 1px 3px;background:#fff}
#topwayfinding ul li .topwayfinding-digit span a{display:block;}
#topwayfinding ul li .topwayfinding-digit span a:hover{background-color:transparent;text-decoration:none;}
#topwayfinding ul li.topwayfinding-currentpage{font-weight:bold;}
#topwayfinding ul li.topwayfinding-currentpage .topwayfinding-digit{}
#topwayfinding ul li.topwayfinding-currentpage .topwayfinding-digit span {background:#002888;color:#fff;border:1px solid #fff}
#topwayfinding ul li.topwayfinding-currentpage .topwayfinding-digit span a{color:#fff;}
#topwayfinding ul li.topwayfinding-inactive{color:#595959}
#topwayfinding ul li.topwayfinding-inactive a{color:#595959}
#topwayfinding ul li.topwayfinding-inactive .topwayfinding-digit{background:#b8b8b8;}
#topwayfinding ul li.topwayfinding-inactive .topwayfinding-digit span{color:#404040;background:#d6d7d6}

/*****************************************************************************/
/* Content Framework
/*****************************************************************************/	

table.contentframework{width:100%;border-collapse:collapse;border-top:1px solid #d1d1d1;border-bottom:3px solid #d1d1d1;margin:0 0 12px 0}
table.contentframework-notableborder, table.contentframework-notableborder td, table.contentframework-notableborder th{border:none !important;}
table.contentframework tbody{}
table.contentframework caption{font-size:0px;line-height:0;position:absolute;left:-5000px;text-indent:-5000px}

/* Table Header General */
table.contentframework th{color:#000000;text-align:left;padding:3px 9px 4px 11px;vertical-align:top;font-weight:normal;border-bottom:1px solid #d1d1d1;border-right:1px solid #fff;}
table.contentframework th img{vertical-align:middle;}

/* Table Data General */
table.contentframework td{color:#000000;text-align:left;padding:3px 9px 4px 11px;vertical-align:top;font-weight:normal;border-bottom:1px solid #d1d1d1;border-right:1px solid #fff;}

/* Top Data Header */
table.contentframework .contentframework-dataheadertop{background:#ccd4e5;border-bottom:1px solid #fff;font-size:.845em;line-height:1.3em}
table.contentframework tr.contentframework-altrow th.contentframework-dataheadertop, table.contentframework tr.contentframework-altrow td.contentframework-dataheadertop,
table.contentframework tr.contentframework-hoveredrow th.contentframework-dataheadertop, table.contentframework tr.contentframework-hoveredrow td.contentframework-dataheadertop{background: #ccd4e5;}	
table.contentframework .contentframework-dataheadertop.contentframework-dataheadertop-empty{padding:1px 0 2px 0;font-size:1px;line-height:1;border-bottom:1px solid #d1d1d1;}
table.contentframework .contentframework-dataheadertop h4{font-size:1em;margin:0;}
table.contentframework .contentframework-dataheadertop h6{font-size:1em;margin:0;}		
table.contentframework .contentframework-dataheadertop sup{_font-size:13px !important;}
table.contentframework .contentframework-dataheadertop .floatleft{margin-bottom:0;}
table.contentframework .contentframework-dataheadertop .floatright{margin-bottom:0;}

/* Left Data Header */
table.contentframework .contentframework-dataheaderleft{background:#ede9db;font-size:.845em;line-height:1.3em}
table.contentframework .contentframework-dataheaderleft .button{font-size:.998em;}
table.contentframework .contentframework-dataheaderleft .button-tertiary{font-size:.91em;}
table.contentframework .contentframework-dataheaderleft .button-tertiary-disabled{font-size:.91em;}
table.contentframework tr.contentframework-altrow .contentframework-dataheaderleft,
table.contentframework tr.contentframework-altrow .contentframework-dataheaderleft, tr.contentframework-hoveredrow .contentframework-dataheaderleft{background:#ede9db}
table.contentframework tr.contentframework-hoveredrow th.contentframework-dataheaderleft, table.contentframework tr.contentframework-hoveredrow td.contentframework-dataheaderleft{background:#e6e1d0}	

/* Sub Header */
table.contentframework .contentframework-subheader{background:#e7e3d6;font-size:.845em;line-height:1.3em}
table.contentframework tr.contentframework-altrow th.contentframework-subheader, table.contentframework tr.contentframework-altrow td.contentframework-subheader,
table.contentframework tr.contentframework-hoveredrow th.contentframework-subheader, table.contentframework tr.contentframework-hoveredrow td.contentframework-subheader{background:#e7e3d6}
table.contentframework .contentframework-subheader.contentframework-subheader-empty{padding:1px 0 2px 0;font-size:1px;line-height:1;border-bottom:1px solid #d1d1d1;}
table.contentframework .contentframework-subheader h4{font-size:1em;margin:0;}
table.contentframework .contentframework-subheader h6{font-size:1em;margin:0;}
table.contentframework .contentframework-subheader .subcopy{font-weight:normal;}

/* Total Row */
table.contentframework tr.contentframework-totalrow th, table.contentframework tr.contentframework-totalrow td, .contentframework-totalrow{background:#ede9db !important}

/* Dividers */
table.contentframework tr.contentframework-dividerrow-top td, .contentframework-dividerrow-top{background: url(../images/contentframework/dividerrow-bg.gif) top left repeat-x !important;border-top:2px solid #fff}
table.contentframework tr.contentframework-dividerrow-bottom td, .contentframework-dividerrow-bottom{background: url(../images/contentframework/dividerrow-bg.gif) bottom left repeat-x !important;border-top:2px solid #fff}
div.contentframework-dividerrow{background: url(../images/contentframework/dividerrow-bg.gif) bottom left repeat-x;font-size:1px;line-height:1;margin:0 0 12px 0}
table.contentframework tr.contentframework-altrow .contentframework-dividerrow{background: url(../images/contentframework/dividerrow-bg.gif) top left repeat-x}

/* Data Layout */
table.contentframework th.contentframework-cellindent, table.contentframework td.contentframework-cellindent{padding-left:32px}
table.contentframework th.contentframework-aligncentre, table.contentframework td.contentframework-aligncentre{text-align:center;}
table.contentframework th.contentframework-alignmiddle, table.contentframework td.contentframework-alignmiddle{text-align:center;vertical-align:middle;}
table.contentframework th.contentframework-alignright, table.contentframework td.contentframework-alignright{text-align:right;}
.contentframework-spacerrow{border-top:3px solid #d1d1d1;border-bottom:1px solid #d1d1d1;padding-left:12px;padding-right:12px}
tr.contentframework-mergerow td{border-bottom:1px solid #fff}

/* Nested contentframework tables */
table.contentframework table.contentframework{width:auto;border:none;margin:0}
table.contentframework table.contentframework tbody{border:none;}
table.contentframework table.contentframework tbody td{border:none;padding:3px 9px 3px 0px}
table.contentframework .contentframework-container-content table.contentframework{border:1px solid #d1d1d1;width:100%;margin:0 0 12px 0}
table.contentframework .contentframework-container-content table.contentframework tbody td{padding:3px 9px 3px 11px}
table.contentframework table.contentframework th.contentframework-cellindent, table.contentframework table.contentframework td.contentframework-cellindent{padding-left:21px}

/* Form elements */
table.contentframework th.contentframework-formdatalabel, table.contentframework td.contentframework-formdatalabel{border-right:none;font-size:.845em;}
table.contentframework th.contentframework-formdatalabel div, table.contentframework td.contentframework-formdatalabel div{font-size:1em;}
table.contentframework th.contentframework-formdatalabel span, table.contentframework td.contentframework-formdatalabel span{font-size:1em;}
table.contentframework fieldset{border:none;margin:0;padding:0;position:relative;}
table.contentframework legend{font-size:0px;line-height:0;position:absolute;left:-5000px;text-indent:-5000px}
.contentframework input{vertical-align:middle;margin:0;}
.contentframework-button{vertical-align:middle}
.contentframework-select{font-size:1em;vertical-align:middle}
.contentframework-textfield{font-size:1em;padding-top:0px;padding-bottom:0px;}
.contentframework-textfield-super{font-size:1.5em;}
.contentframework-textarea{font-size:1em}
.contentframework-contextualhelp{font-size:.84em;;font-weight:normal;line-height:1.4em;}
.contentframework-calendarbutton{vertical-align:middle}
.contentframework-negativeindent{position:relative;display:block;}
.contentframework-negativeindent span{position:absolute;left:-10px;top:1px;}
.contentframework-negativeindent b{position:absolute;left:-10px;top:1px;}

/* Row Banding */
.contentframework-stripedtable{} /* Banding applied with JS */
table.contentframework tr.contentframework-altrow th, table.contentframework th.contentframework-altrow, table.contentframework tr.contentframework-altrow td, table.contentframework td.contentframework-altrow{background: #f6f4ef;}

/* Column Banding */
table.contentframework td.contentframework-altcolumn{background: #f6f4ef;}

/* Row Hover Colour, applied with JS */
table.contentframework tr.contentframework-hoveredrow td, table.contentframework tr.contentframework-hoveredrow th{background: #f2f5f9;} 

/* Highlighted Cells */
table.contentframework tr td.contentframework-highlight{background:#fffde2;}
table.contentframework tr.contentframework-hoveredrow th.contentframework-highlight, table.contentframework tr.contentframework-hoveredrow td.contentframework-highlight{background:#f2f5f9}
table.contentframework tr.contentframework-altrow td.contentframework-highlight{background:#f8f6d6;}
.contentframework-disabled{color:#595959}

/* Required */
.contentframework-required-highlight{color:#9c0000}
input.contentframework-required-highlight, textarea.contentframework-required-highlight, select.contentframework-required-highlight{border:1px solid #9c0000}
.contentframework-required-note{font-size:11px !important}
b.contentframework-required-asterisk{color:#9c0000;font-size:11px !important}
.contentframework-required-icon{vertical-align:middle}
ul.contentframework-required-description{margin:0;padding:0;height:1%;font-weight:normal;list-style:none}
ul.contentframework-required-description li{zoom:1;list-style:none;margin:0;padding:1px 0 1px 12px;color:#9c0000;position:relative;background:none;}
ul.contentframework-required-description li img.contentframework-required-icon{position:absolute;top:0;left:0;}
.contentframework-required-cellhighlight{background-color:#f1e5e5}
table.contentframework tr.contentframework-required-cellhighlight td, table.contentframework tr.contentframework-altrow.contentframework-required-cellhighlight{background-color:#f1e5e5}

/* Table Actions */
.contentframework-actions{width:100%;position:relative;margin:0 0 12px 0;height:1.5em;_float:left}
.contentframework-actions .contentframework-actions-left{}
.contentframework-actions .contentframework-actions-left .button{margin:0 6px 0 0}
.contentframework-actions .contentframework-actions-right{position:absolute;top:0;right:1px}
.contentframework-actions .contentframework-actions-right .button{float:right;margin:0 0 0 6px}
.contentframework-actions a{}
.contentframework-actions p{margin:0}
.contentframework-actions-divider{padding:1px 0 2px 0;font-size:1px;line-height:1;background:#e7e3d6;margin:0 0 12px 0;border-top:1px solid #d1d1d1;border-bottom:2px solid #d1d1d1;}

/* Pagination Actions */
.contentframework-pagination-actions{text-align:center;overflow:hidden;margin:0 0 12px 0;width:auto;font-size:.845em}
.contentframework-pagination-actions input{vertical-align:middle;}
.contentframework-pagination-actions img{vertical-align:middle;}
.contentframework-pagination-previous{padding:0 3px 0 0}
.contentframework-pagination-index{float:none}
.contentframework-pagination-index input{width:2em;font-size:1em}
.contentframework-pagination-next{padding:0 0 0 3px}

/* Tabs */
.contentframework-tabs-primary{clear:both;line-height:1.2em;margin:-13px 0 12px 12px}
.contentframework-tabs-primary ul{margin:0;padding:0;clear:both}
.contentframework-tabs-primary ul li{list-style:none;float:left;background: url(../images/contentframework/tab-primary-bg.gif) bottom left no-repeat;padding:0 0 0 12px;margin:0 3px 0 0;border-top:1px solid #002888}
.contentframework-tabs-primary ul li span{float:left;display:block;background: url(../images/contentframework/tab-primary-bg.gif) bottom right no-repeat;padding:.35em 12px .4em 0;}
.contentframework-tabs-primary ul li.contentframework-tabs-primary-active{font-weight:bold;background: url(../images/contentframework/tab-primary-active-bg.gif) bottom left no-repeat;border-top:1px solid #ffffff}
.contentframework-tabs-primary ul li.contentframework-tabs-primary-active span {background: url(../images/contentframework/tab-primary-active-bg.gif) bottom right no-repeat}
.contentframework-tabs-primary ul li.contentframework-tabs-primary-active span a{text-decoration:none;}
.contentframework-tabs-primary ul li .contentframework-tabs-accessibilityimage{position:absolute;top:0;left:0;}
.contentframework-tabs-primary-tabbedcontenttitle{position:absolute;left:-5000px}

/* Likert Scale */
table.contentframework-likertscale {border-collapse:collapse;}
table.contentframework-likertscale tbody{border:none;}
table.contentframework-likertscale td{border:none;background: url(../images/contentframework/likertscale-bg.gif) 0 12px repeat-x  !important;text-align:center;padding:3px 3px;}

/* Sliders */
table.contentframework-sliderlegend{width:100%;border-collapse:collapse;border:none;}
table.contentframework-sliderlegend td{border:none;padding:3px 0px;text-align:center !important;white-space:no-wrap}
table.contentframework-sliderlegend td.contentframework-sliderlegend-firstcell{text-align:left !important;padding:3px 0 3px 7px;}
table.contentframework-sliderlegend td.contentframework-sliderlegend-lastcell{text-align:right !important;padding:3px 7px 3px 0}
table.contentframework-sliderlayout{width:100%;border-collapse:collapse;border:none;}
table.contentframework-sliderlayout td{border:none;}
table.contentframework-sliderlayout td.contentframework-sliderlayout-slider{position:relative;}
table.contentframework-sliderlayout td.contentframework-sliderlayout-slider .fd-slider{width:75%;float:left;}
table.contentframework-sliderlayout td.contentframework-sliderlayout-slider input{float:left;margin:0 0 0 6px}
table.contentframework-sliderlayout td.contentframework-sliderlayout-slider.contentframework-sliderlayout-slider-digit{float:left}
.fd-slider {position:relative; width:100%; height:20px; text-align:center; border:0 none; text-decoration:none; display:block; -moz-user-select:none;  -khtml-user-select:none  cursor:pointer;}
.fd-slider-inner {position:relative; display:block; z-index:1;}
.fd-slider-bar {position:absolute; display:block; z-index:2; height:4px; border:1px solid #5c5c5e; border-bottom:1px solid #b5b5b5; border-right:1px solid #b5b5b5; background:#f6f6f8 url(/uos/_assets/images/contentframework/sliderbar-bg.gif) top left repeat-x; margin:0; padding:0; overflow:hidden; line-height:4px; top:8px; bottom:none; left:0px; right:0px;}
.fd-slider-vertical {position:relative; border:0 none; text-decoration:none; display:block; width:20px; height:100%; text-align:center; -moz-user-select:none;  -khtml-user-select:none  cursor:pointer;
cursor:hand;}
.fd-slider-vertical .fd-slider-inner {display:block; width:18px; height:100%; text-align:left; background:#fcfcfc; border:1px solid #ccc;}
.fd-slider-vertical .fd-slider-bar {width:2px; top:10px; bottom:10px; left:8px; right:none; height:auto;}
.fd-slider-vertical .fd-slider-handle {cursor:N-resize;}
.focused .fd-slider-inner {}
/* black handle, no glow */
.fd-slider-handle {position:absolute; display:block; padding:0; border:0 none; margin:0; z-index:3; top:0; left:0; width:20px; height:20px; outline:0px none; background:transparent url(/uos/_assets/images/contentframework/sliderhandle-disabled.gif) no-repeat 0px 0px; cursor:W-resize; line-height:20px; font-size:20px; -webkit-user-select: none; -moz-user-select:none; -moz-user-focus:none; -moz-outline:0px none;}
.fd-slider-handle:focus {outline:0px none; border:0 none; -moz-user-focus:normal;}
button.fd-slider-handle:focus::-moz-focus-inner {border-color: transparent;}
/* black handle, glow */
.fd-slider-hover .fd-slider-handle {background:transparent url(/uos/_assets/images/contentframework/sliderhandle-disabled-active.gif) no-repeat 0px 0px;}
/* blue handle, no glow */
.focused .fd-slider-handle {background:transparent url(/uos/_assets/images/contentframework/sliderhandle.gif) no-repeat 0px 0px;}
/* blue handle glow */
.focused.fd-slider-hover .fd-slider-handle {background:transparent url(/uos/_assets/images/contentframework/sliderhandle-active.gif) no-repeat 0px 0px;}
body.slider-drag-vertical {cursor:N-resize !important;}
body.slider-drag-horizontal {cursor:W-resize !important;}
.fd_hide_slider_input {display:none;}
.halfSize{}
.quarterSize{}
.fd-slider-handle{_outline:expression(hideFocus='true');}
.fd-slider{cursor:hand;}
.fd-slider-bar{_top:8px;_bottom:none;_left:10px;_right:none;_width:expression((this.parentNode.offsetWidth - 20) + "px");}
.fd-slider-vertical .fd-slider-bar{_top:10px;_bottom:none;_left:8px;_right:none;_height:expression((this.parentNode.offsetHeight - 20) + "px");}

/* Accumulator Box */
table.contentframework-accumulatorboxtable{width:auto;border-collapse:collapse;border:none;}
table.contentframework-accumulatorboxtable tbody{border:none;}
table.contentframework-accumulatorboxtable td{padding:0px 4px 0px 0;background:none;border:none;white-space:nowrap}
table.contentframework-accumulatorboxtable td.contentframework-accumulatorboxtable-actions{vertical-align:middle;}
table.contentframework-accumulatorboxtable td.contentframework-accumulatorboxtable-actions .button-tertiary{width:9.5em;margin:2px 0 2px 0;clear:both}
table.contentframework-accumulatorboxtable td.contentframework-accumulatorboxtable-reorder .button-tertiary{margin:2px 6px 2px 0;}

/* Super Container */
.contentframework-container-super{clear:both;margin:0 0 12px 0}
.contentframework-container-super .contentframework-container-header{}
.contentframework-container-super .contentframework-container-header h2{float:left;background: url(../images/contentframework/container-super-bg.gif) top right no-repeat;color:#ffffff;padding:6px 24px 6px 12px;margin:0}
.contentframework-container-super .contentframework-container-header h2 img{vertical-align:middle;}
.contentframework-container-super .contentframework-container-header h2 a{color:#ffffff;text-decoration:none;}
.contentframework-container-super .contentframework-container-header h2 a:hover{background-color:transparent;color:#ffffff;text-decoration:underline}
.contentframework-container-super .contentframework-container-content{border:2px solid #002888;padding:12px 12px 0 12px;}

/* Primary Container */
.contentframework-container-primary{border:1px solid #9fb0d5;clear:both;margin:0 0 12px 0}
.contentframework-container-primary-withtabs{border-bottom:1px solid #002888}
.contentframework-container-primary .contentframework-container-header{background: url(../images/contentframework/container-primary-bg.gif) top left repeat-x;padding:6px 12px 6px 12px}
.contentframework-container-primary .contentframework-container-header h3{margin:0;display:inline}
.contentframework-container-primary .contentframework-container-header h3 img{vertical-align:middle;}
.contentframework-container-primary .contentframework-container-header h3 a,
.contentframework-container-primary .contentframework-container-header h3 a:link,
.contentframework-container-primary .contentframework-container-header h3 a:visited{color:#000}
.contentframework-container-primary .contentframework-container-header h3 a:hover{background-color:transparent;color:#000}
.contentframework-container-primary .contentframework-container-header a.togglehelplink, .contentframework-container-primary .contentframework-container-header a:link.togglehelplink, .contentframework-container-primary .contentframework-container-header a:visited.togglehelplink{color:#002888;font-size:.845em;font-weight:normal;}
.contentframework-container-primary .contentframework-container-header a.togglehelplink:hover, .contentframework-container-primary .contentframework-container-header a.togglehelplink:active, .contentframework-container-primary .contentframework-container-header a.togglehelplink:focus{color:#000;} 
.contentframework-container-primary .contentframework-container-header a.toggleiconlink span.toggleiconlink-label{text-decoration:none}
.contentframework-container-primary .contentframework-container-header a.toggleiconlink:hover span.toggleiconlink-label{text-decoration:underline}		
.contentframework-container-primary .contentframework-container-header a.toggleiconlink:hover,
.contentframework-container-primary .contentframework-container-header a.toggleiconlink:active,
.contentframework-container-primary .contentframework-container-header a.toggleiconlink:focus{background-color:transparent;color:#000000;text-decoration:underline}
.contentframework-container-primary .contentframework-container-header h3 span a,
.contentframework-container-primary .contentframework-container-header h3 span a:link,
.contentframework-container-primary .contentframework-container-header h3 span a:visited{color:#002888;text-decoration:underline}
.contentframework-container-primary .contentframework-container-header h3 span a:hover,
.contentframework-container-primary .contentframework-container-header h3 span a:focus,
.contentframework-container-primary .contentframework-container-header h3 span a:active{color:#000}
.contentframework-container-primary .contentframework-container-header .floatright{margin-bottom:0;}
.contentframework-container-primary .contentframework-container-header .contentframework-container-header-context{float:right;font-weight:normal;font-size:.785em;color:#000}
.contentframework-container-primary .contentframework-container-content{padding:12px 12px 0 12px;border:none}

/* Secondary Container */
.contentframework-container-secondary{border:1px solid #cec5a3;clear:both;margin:0 0 12px 0}
.contentframework-container-secondary .contentframework-container-header {background: url(../images/contentframework/container-secondary-bg.gif) top left repeat-x;padding:6px 12px 6px 12px}
.contentframework-container-secondary .contentframework-container-header h4{margin:0;display:inline}
.contentframework-container-secondary .contentframework-container-header h4 img{vertical-align:middle;}
.contentframework-container-secondary .contentframework-container-header h4 a{color:#000000;text-decoration:none;}
.contentframework-container-secondary .contentframework-container-header h4 a:hover{background-color:transparent;color:#000000;text-decoration:underline}
.contentframework-container-secondary .contentframework-container-header .contentframework-container-header-context{float:right;font-weight:normal;font-size:.927em}
.ccontentframework-container-secondary .contentframework-container-content{padding:12px 12px 0 12px;border:none}

/* Tertiary Container */
.contentframework-container-tertiary{border:1px solid #c7bfb6;clear:both;margin:0 0 12px 0}
.contentframework-container-tertiary .contentframework-container-header {background: url(../images/contentframework/container-tertiary-bg.gif) top left repeat-x;padding:6px 12px 6px 12px}
.contentframework-container-tertiary .contentframework-container-header h6{margin:0;display:inline}
.contentframework-container-tertiary .contentframework-container-header h6 img{vertical-align:middle;}
.contentframework-container-tertiary .contentframework-container-header h6 a{color:#000000;text-decoration:none;}
.contentframework-container-tertiary .contentframework-container-header h6 a:hover{background-color:transparent;color:#000000;text-decoration:underline}
.contentframework-container-tertiary .contentframework-container-header .contentframework-container-header-context{float:right;font-weight:normal;font-size:.927em}
.ccontentframework-container-tertiary .contentframework-container-content{padding:12px 12px 0 12px;border:none}

/*****************************************************************************/
/* Buttons
/*****************************************************************************/
button {overflow: visible;}
.button{float:left;text-align:center;display:block;text-decoration:none;font-size:.845em;line-height:1.2em;white-space:nowrap;position:relative}
.button span{padding:2px 8px 4px 8px;text-align:center;position:relative;left:1px;top:1px;display:block;text-decoration:none;font-weight:bold;}
.button span a{text-decoration:none;}
.button span a:hover,
.button span a:active,
.button span a:focus{text-decoration:underline;background-color:transparent !important}
.button img{border:none;vertical-align:bottom;}
.button a img{position:relative}
.button button{margin:-1px -3px -1px -3px;margin:0\9;*margin:0 0 -2px 0;background:transparent;border:none;padding:0;font-weight:bold;cursor:pointer;font-size:1em;}
.button button:hover{text-decoration:underline}
.button.buttonfloatright{float:right;}

/* Primary Button */
.button-primary{background: url(../images/buttons/primary-bg.gif) top left no-repeat}
.button-primary span{color:#fff;background:url(../images/buttons/primary-bg.gif) bottom right no-repeat;}
.button-primary span button{color:#fff}
.button-primary span a{color:#fff}
.button-primary span a:visited{color:#fff;}
.button-primary span a:hover,
.button-primary span a:active,
.button-primary span a:focus{color:#fff}

/* Primary Reverse Button */
.button-primary-reverse{background: url(../images/buttons/primary-reverse-bg.gif) top left no-repeat}
.button-primary-reverse span{color:#fff;background:url(../images/buttons/primary-reverse-bg.gif) bottom right no-repeat;}
.button-primary-reverse span button{color:#002888}
.button-primary-reverse span a{}
.button-primary-reverse span a:visited{color:#002888}
.button-primary-reverse span a:hover,
.button-primary-reverse span a:active,
.button-primary-reverse span a:focus{color:#000}

/* Secondary Button */
.button-secondary{background: url(../images/buttons/secondary-bg.gif) top left no-repeat}
.button-secondary span{background:url(../images/buttons/secondary-bg.gif) bottom right no-repeat;}
.button-secondary span button{color:#002888}
.button-secondary span a{}
.button-secondary span a:visited{color:#002888}
.button-secondary span a:hover,
.button-secondary span a:active,
.button-secondary span a:focus{color:#000}

/* Disabled Button */
.button-disabled{background: url(../images/buttons/disabled-bg.gif) top left no-repeat}
.button-disabled span{color:#404040;background:url(../images/buttons/disabled-bg.gif) bottom right no-repeat;}
.button-disabled span button{color:#404040;cursor:default}
.button-disabled span button:hover{text-decoration:none}
.button-disabled span a{color:#404040}
.button-disabled span a:visited{color:#404040}
.button-disabled span a:hover,
.button-disabled span a:active,
.button-disabled span a:focus{color:#404040;text-decoration:none;cursor:default}

/* Tertiary Button */
.button-tertiary{background: url(../images/buttons/tertiary-bg.gif) top left no-repeat;font-size:.77em;}
.button-tertiary span{color:#002888;padding:2px 5px 3px 5px;background:url(../images/buttons/tertiary-bg.gif) bottom right no-repeat;}
.button-tertiary span button{color:#002888}
.button-tertiary span a{}
.button-tertiary span a:visited{color:#002888}
.button-tertiary span a:hover,
.button-tertiary span a:active,
.button-tertiary span a:focus{color:#000}

/* Tertiary Button Disabled */
.button-tertiary-disabled{background: url(../images/buttons/disabled-bg.gif) top left no-repeat;font-size:.77em;}
.button-tertiary-disabled span{color:#404040;padding:2px 5px 3px 5px;background:url(../images/buttons/disabled-bg.gif) bottom right no-repeat;}
.button-tertiary-disabled button{color:#404040}
.button-tertiary-disabled span a{color:#404040}
.button-tertiary-disabled span a:visited{color:#404040;}
.button-tertiary-disabled span a:hover,
.button-tertiary-disabled span a:active,
.button-tertiary-disabled span a:focus{color:#404040;text-decoration:none;cursor:default}

/* Super Buttons */
.button-super{font-size:.921em;}
.button-super span{padding:4px 8px 6px 8px;}
.button-super button{}

/*****************************************************************************/
/* Test Pages
/*****************************************************************************/		

body.testingpage{background-image:none;background:#fff;padding:15px;max-width:1000px;text-align:left}