﻿/* line 1, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-grid {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
/* line 4, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-grid *, .mz-cms-grid *:after, .mz-cms-grid *:before {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

/* line 10, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-row {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
/* line 15, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-block {
  background-color: transparent;
  min-height: 14px;
  min-width: 80px;
  position: relative;
  padding: 0;
  word-wrap: break-word;
}

/* line 31, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-content {
  overflow: hidden;
  padding: 5px;
}
/* line 35, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-content > :first-child {
  margin-top: 0;
}
/* line 39, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-content .mz-cms-image-maintain {
  width: 100%;
}
/* line 43, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-content .mz-cms-image-cover {
  background-position: center center;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
}

/* line 52, ../../sass/etc/chorizo/_grid.scss */
[class*='mz-cms-col-'] {
  float: left;
  max-height: 99999px;
  overflow: visible;
  position: relative;
}
/* line 58, ../../sass/etc/chorizo/_grid.scss */
[class*='mz-cms-col-'].mz-cms-drop-over {
  background-color: rgba(52, 173, 142, 0.1);
  outline-color: #34ad8e !important;
}
/* line 63, ../../sass/etc/chorizo/_grid.scss */
[class*='mz-cms-col-'] .mz-cms-content {
  padding: 10px;
}
/* line 67, ../../sass/etc/chorizo/_grid.scss */
[class*='mz-cms-col-'] .resizer-column {
  cursor: ew-resize;
  height: 100%;
  margin-right: -8px;
  opacity: 0;
  padding: 0 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  -moz-transition: opacity 150ms;
  -o-transition: opacity 150ms;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}
/* line 79, ../../sass/etc/chorizo/_grid.scss */
[class*='mz-cms-col-'] .resizer-column div {
  background: #34ad8e;
  height: 100%;
  width: 1px;
}
/* line 85, ../../sass/etc/chorizo/_grid.scss */
[class*='mz-cms-col-'] .resizer-column:hover, [class*='mz-cms-col-'] .resizer-column.active {
  opacity: 1;
}

/* line 91, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-row > [class*='mz-cms-col-']:last-child .resizer-column {
  display: none;
}

/* line 95, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-row {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

/* line 101, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 107, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-push-right {
  float: right;
}

/* line 111, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-1, .mz-cms-col-12-12 {
  width: 100%;
}

/* line 114, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-2-3, .mz-cms-col-8-12 {
  width: 66.66%;
}

/* line 118, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-2, .mz-cms-col-6-12 {
  width: 50%;
}

/* line 122, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-3, .mz-cms-col-4-12 {
  width: 33.33%;
}

/* line 126, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-4, .mz-cms-col-3-12 {
  width: 25%;
}

/* line 130, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-5 {
  width: 20%;
}

/* line 134, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-6, .mz-cms-col-2-12 {
  width: 16.667%;
}

/* line 138, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-7 {
  width: 14.28%;
}

/* line 142, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-8 {
  width: 12.5%;
}

/* line 146, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-9 {
  width: 11.1%;
}

/* line 150, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-10 {
  width: 10%;
}

/* line 154, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-11 {
  width: 9.09%;
}

/* line 158, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-1-12 {
  width: 8.33%;
}

/* Layout Columns */
/* line 164, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-11-12 {
  width: 91.66%;
}

/* line 168, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-10-12 {
  width: 83.333%;
}

/* line 172, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-9-12 {
  width: 75%;
}

/* line 176, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-5-12 {
  width: 41.66%;
}

/* line 180, ../../sass/etc/chorizo/_grid.scss */
.mz-cms-col-7-12 {
  width: 58.33%;
}

@media handheld, only screen and (max-width: 767px) {
  /* line 185, ../../sass/etc/chorizo/_grid.scss */
  .mz-cms-row {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 194, ../../sass/etc/chorizo/_grid.scss */
  [class*='mz-cms-col-'] {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto !important;
    float: none;
  }
}
