@charset "utf-8";
/*--------------------------------------------------------------------------
							[ Table of Contents ]							
--------------------------------------------------------------------------*/ 
  
/*--------------------------------------------------------------------------
							1.Typography
---------------------------------------------------------------------------*/
body {color:#5d5d5e; font-size:14px; line-height: 1.6; font-family: 'Lato', sans-serif; padding:0 !important;}
 
/*----------- Heading -----------*/
h1,h2,h3,h4,h5,h6 {margin:0px 0px 10px 0px; color:#000000;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {text-decoration:none;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {text-decoration:underline;}
h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1em;}
h6 {font-size: 0.8em;}

/*----------- Links -----------*/
a {color:#62A8C6; text-decoration:none;}
a, a:focus, a:hover, a:active {outline:0 !important;}
a:focus {text-decoration: none;}
a:hover {color:#3bd4ff; text-decoration:none;} 
a:hover,a:focus{text-decoration:none; outline:none;}
 
/*----------- Lists -----------*/
ul {list-style:none;}
ul, ol {margin:0; padding:0;}
li ul, li ol {padding:0; margin:0;}

/*----------- Paragraph -----------*/
p {font-size:16px; line-height:26px; margin-bottom:10px;}
p img.left {float:left; margin:1.5em 1.5em 1.5em 0; padding:0;}
p img.right {float:right; margin:1.5em 1.5em 1.5em 0;}
strong {font-weight:bold; }
em, dfn {font-style:italic; }
dfn {font-weight:600;}
sup{line-height:0; vertical-align:super; font-size:smaller;}
sub {line-height:0; vertical-align:sub; font-size:smaller;}
abbr, acronym {border-bottom:1px dashed #ccc; }
address {margin:0 0 1.5em; font-style:italic; }
del {color:#666;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace; line-height:1.5em; display:block; }
code {background-color:#eee; display:inline; padding:0px 2px 1px 2px; line-height:1.1em; }
pre {margin:1.5em 0; white-space:pre; }
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.hide { display:none}
.block { display:block !important;}
.inline { display:inline !important;}
.bold { font-weight:600;}
.italic { font-style:italic;}

/*----------- Flot And Alignment -----------*/
.fl {float:left;}
.fr {float:right !important;}
.ac {text-align:center;}
.ar {text-align:right;}
.al {text-align:left;}

/*----------- Button And Border -----------*/
.btn{}
.btn:hover{}

/*----------- Margin -----------*/
.mr_none {margin:0px !important;}
.mr_b5,.mr_b10,.mr_b15,.mr_b20,.mr_b25,.mr_b30,.mr_b35,.mr_b40,.mr_b45,.mr_b50,.mr_b55,.mr_b60 {clear:both;}

.mr_b5 {margin-bottom:5px;}
.mr_b10 {margin-bottom:10px;}
.mr_b15 {margin-bottom:15px;}
.mr_b20 {margin-bottom:20px;}
.mr_b25 {margin-bottom:25px;}
.mr_b30 {margin-bottom:30px;}
.mr_b35 {margin-bottom:35px;}
.mr_b40 {margin-bottom:40px;}
.mr_b45 {margin-bottom:45px;}
.mr_b50 {margin-bottom:50px;}
.mr_b55 {margin-bottom:55px;}
.mr_b60 {margin-bottom:60px;}

/*----------- Padding -----------*/ 
.pd_none {padding:0px !important;}

/*----------- Fonts -----------*/
.ft6{font-size:6px;}
.ft7{font-size:7px;}
.ft8{font-size:8px;}
.ft9{font-size:9px;}
.ft10{font-size:10px;}
.ft11{font-size:11px;}
.ft12{font-size:12px;}
.ft13{font-size:13px;}
.ft14{font-size:14px;}
.ft15{font-size:15px;}
.ft16{font-size:16px;}
.ft17{font-size:17px;}
.ft18{font-size:18px;}
.ft19{font-size:19px;}
.ft20{font-size:20px;}
 
/*----------- Page Heading -----------*/
.heading{}
.heading h2{font-size:17px; color:#222; display:block; margin-bottom:15px; text-transform:uppercase; border-bottom:1px solid #ccc; padding-bottom:10px;}


/*--------------------------------------------------------------------------
							2. Main Content
--------------------------------------------------------------------------*/ 

/*----------- Header -----------*/
header{padding:6px 0px 9px 0px; background:#323a45;}
header .navbar{border-radius:0px; margin:0; background:none; border:none;}
header .navbar-brand{padding:6px 30px 10px 10px; margin-left:0 !important;}
.navbar-inverse .navbar-nav > li > a{color:#ffffff; font-size:17px; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px;}
.navbar-inverse .navbar-nav > li > a.dropdown-toggle{padding-left:24px;}
.navbar-inverse .navbar-nav > li > a.btn.btn-primary{background:#426b8f; text-transform:uppercase; border:1px solid #426b8f; border-radius:0px;}
.navbar-inverse .navbar-nav > li > a.btn.btn-success{background:#e74c3c; text-transform:uppercase; border:1px solid #e74c3c; margin:0px 17px; border-radius:0px;}
.navbar-inverse .navbar-nav > li > a .fa.fa-navicon{font-size:25px; margin-top:-3px; position:absolute; left:0px;}
.navbar-inverse .navbar-nav > li.search-icon{font-size:24px; font-weight:normal; color:#ffffff; cursor:pointer;}
.collapse.navbar-collapse.js-navbar-collapse {margin-top:8px;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{background:none;}
/*sticky header*/
.navbar-fixed {z-index: 999; position: fixed; opacity: .98; width: 100%; top: 0; padding:2px 0px 6px 0px; -webkit-animation:fadeInDown 600ms; -moz-animation: fadeInDown 600ms; -ms-animation: fadeInDown 600ms; -o-animation: fadeInDown 600ms; animation: fadeInDown 600ms; -webkit-backface-visibility:hidden;}
.copy-content.text-center {background:#ffe100 none repeat scroll 0 0; margin-left:-10px; margin-right:-10px; padding:12px 12px 0px 12px;}
.copy-content-btm.text-center{background:#ffe100;margin-left:-10px; margin-right:-10px; padding:5px 12px 7px 12px; font-size:12px; color:#333333;}
.fix-pad{top:56px !important;}
.copy-content ul li{margin:5px;}
.copy-content ul li a{color:#222222;}
.copy-content ul li a:hover{background-color:transparent !important; color:#000000 !important;}
/*browse*/
.dropdown-large{position: static !important;}
.dropdown-menu-large {margin-left: 16px; margin-right: 16px; padding:7px 0px 0px 0px !important; top:58px; background:#323a45; margin:0 10px !important;}
.dropdown-menu-large > li > ul {padding: 0; margin: 0;}
.dropdown-menu-large > li > ul > li {list-style: none;}
.dropdown-menu-large > li > ul > li > a {display:block; padding:5px 5px; clear:both; font-weight:normal; line-height:1.428571429; color:#ffffff; white-space: normal; font-size:16px;}
.dropdown-menu-large > li ul > li > a:hover,.dropdown-menu-large > li ul > li > a:focus{text-decoration: none; color: #222222; background-color: #ffe100;}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {color: #999999;}
.dropdown-menu-large .disabled > a:hover,.dropdown-menu-large .disabled > a:focus {text-decoration: none; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); cursor: not-allowed;}
.dropdown-menu-large .dropdown-header {color: #428bca; font-size: 18px;}
@media (max-width: 768px) {
.dropdown-menu-large {margin-left:0; margin-right:0;}
.dropdown-menu-large > li {margin-bottom: 30px;}
.dropdown-menu-large > li:last-child {margin-bottom:0;}
.dropdown-menu-large .dropdown-header{padding: 3px 15px !important;}
}

/*----------- Main Content -----------*/
#main-content{}
#main-content .main-content-inn{padding:15px 0px; background:#ffffff;}
/*article*/
#main-content .main-content-inn .candy-article{margin-bottom:20px; border:1px solid #eeeded;}
#main-content .main-content-inn .candy-article:hover{box-shadow:0px 3px 5px rgba(0,0,0,0.2);}
#main-content .main-content-inn .candy-article .article-images{position:relative;}
#main-content .main-content-inn .candy-article .article-images .top-label{position:absolute; background:#ffe100; top:10px; left:0; font-size:14px; padding:7px 20px 7px 7px; line-height:100%; color:#222222;}
#main-content .main-content-inn .candy-article .article-description{margin:10px 0px; position:relative; height:auto;}
#main-content .main-content-inn .candy-article .article-description .description{bottom:0; position:relative; width:100%; padding:5px 15px; background:#ffffff;}
#main-content .main-content-inn .candy-article .article-description .description h2{font-size:1.5em; color:#222222; line-height:1.4em; margin:0; font-weight:bold;}
#main-content .main-content-inn .candy-article .article-description .post-view{position:absolute; right:15px; top:45px;}
#main-content .main-content-inn .candy-article .article-description .post-view i{margin-right:2px;}

/*-------------------------------------------------------------------
					Sidebar
-------------------------------------------------------------------*/
.fixed-sidebar{background:#eee; padding:15px 15px; border-left:1px solid #cccccc;}
.post-right{}
.post-right .side-title h3{font-size:17px; color:#222; display:block; margin-bottom:15px; text-transform:uppercase; border-bottom:1px solid #ccc; padding-bottom:10px;}
.post-right .post-rightInn .popular-post{margin-bottom:15px; display:block; overflow:hidden;}
.post-right .post-rightInn .popular-post .popular-postImg{}
.post-right .post-rightInn .popular-post .pop-postdetails{padding:15px 5%; background:#ffffff; position:relative; float:left; display:block;}
.post-right .post-rightInn .popular-post .pop-postdetails h2{font-size:1.1em; color:#222222; line-height:1.5em; margin:0;}
.post-right .post-rightInn .popular-post .pop-postdetails span{font-size:0.9em; color:#999999; margin-bottom:7px; line-height:100%; text-transform:uppercase; display:block;}

/*post list*/
.post-right .post-rightInn .popular-list{margin:18px 0px 20px 0px;}
.post-right .post-rightInn .popular-list li{}
.post-right .post-rightInn .popular-list li a{background:#ffffff; display:block; overflow:hidden; padding:10px;}
.post-right .post-rightInn .popular-list li a:hover{background:#f8f8f8;}
.post-right .post-rightInn .popular-list .postList-img{float:left; width:80px; height:80px;}
.post-right .post-rightInn .popular-list .postList-img img{width:80px; height:80px;}
.post-right .post-rightInn .popular-list .postList-details{padding-left:100px;}
.post-right .post-rightInn .popular-list .postList-details p{margin-bottom:5px; color:#222222;}
.post-right .post-rightInn .popular-list .postList-details span{color:#969696; font-size:0.9em;}

/*top post*/
.top-post{background:#ffffff; padding:10px; position:relative;}
.top-post .post-category{position:absolute; left:0; bottom:0; width:100%; box-sizing:border-box;}
.top-post .post-category h3{color:#ffffff; padding:10px; background:rgba(0,0,0,0.4); margin:0;}
.top-post .post-category span{background:#ffe100; padding:5px 10px; font-size:15px; color:#222222; margin-bottom:10px; display:inline-block;}
.top-post .view{position:absolute; top:20px; right:10px; color:#ffffff;}
.top-post .pop-postdetails h2{font-size:1.5em; line-height:1.3em; margin-bottom:5px; font-weight:normal;}
.top-post .pop-postdetails span{color:#787878; font-size:1em;}

/*search box*/
#search-box{background:#000000; padding:10px; position:fixed; width:100%; z-index:99999; top:0; left:0; display:none;}
#search-box h1{font-size:4rem; color:#ffe100; margin-bottom:15px; font-weight:bold;}
#search-box h1 span{color:#ffffff; font-weight:normal;}
#search-box .close-icon{position:absolute; right:20px; top:15px; color:#ffffff; font-size:20px; z-index:9999; cursor:pointer;}
#search-box input{background:#303030; color:#ffffff; border:1px solid #303030; font-size:24px; border-radius:0px;}
#search-box .form-control:focus{box-shadow:none;}

/*signin*/
#signin .modal-body{padding:15px 0px;}
#signin .modal-header,#signup .modal-header{background:#e5d900;}
#signin .modal-header h4{}
.signin-content{overflow:hidden;}
.signin-content .signin-social{width:50%; padding:15px 20px; float:left;}
.signin-content .signin-social .btn.btn-primary{background:#3b5998; font-size:13px; text-transform:uppercase; width:100%; margin-bottom:12px; text-align:left; border:1px solid #3b5998; border-radius:3px;}
.signin-content .signin-social .btn.btn-primary span{float:left;}
.signin-content .signin-social .btn.btn-primary i{float:right; font-size:20px; padding-left:15px; border-left: 1px solid rgba(255, 255, 255, 0.2);}
.signin-content .signin-social .btn.btn-danger{background:#dd4b39; font-size:13px; text-transform:uppercase; width:100%; margin-bottom:20px; text-align:left; border:1px solid #dd4b39; border-radius:3px;}
.signin-content .signin-social .btn.btn-danger span{float:left;}
.signin-content .signin-social .btn.btn-danger i{float:right; font-size:20px; padding-left:15px; border-left: 1px solid rgba(255, 255, 255, 0.2);}
.signin-content .signin-social .social-button p{font-size:11px; color:#b3b3b0; line-height:15px;}
.signin-content .sign-email{width:50%; padding:15px 20px; float:left;}
.signin-content .sign-email input[type="email"]{border-radius:0px; box-shadow:none; height:40px;}
.signin-content .sign-email input[type="text"]{border-radius:0px; box-shadow:none; height:40px;}
.signin-content .sign-email input[type="password"]{border-radius:0px; box-shadow:none; height:40px;}
.signin-content .sign-email .forgot{color:#39F; font-size:14px;}
.signin-content .sign-email .btn.btn-primary{border-radius:3px; font-size:13px; text-transform:uppercase; width:100%; height:50px; background:#2fa6d3; border:1px solid #2fa6d3; transition:all 300ms;}
.signin-content .sign-email .btn.btn-primary:hover{background:#ffffff; color:#2fa6d3;}
.signin-content .separater{position:relative;}
.signin-content .separater:after{position:absolute; background:#cccccc; width:1px; height:300px; left:50%; display:block; content:''; top:5%;}
.signin-content .separater span{position:absolute; top:120px; background:#ffffff; width:30px; margin-left:-11px; padding:20px 0px; z-index:9999;}
.create-signup{padding-top:10px;}
.create-signup p{margin:0;}
.create-signup p a{font-weight:bold;}

/*Load More*/
.load-more{margin:15px 0px 30px 0px;}

/*Left Sidebar*/
.left-sidebar{padding:10px 0px 30px 0px;}

/*-------------------------------------------------------------------
					 Details Page
-------------------------------------------------------------------*/
.sponsored{margin:5px 0px 20px 0px;}
.sponsored img{margin:0 auto;}
.post-details-list{margin-bottom:15px;}
.post-details-list .post-title h2{font-size:2em; color:#34495e; font-weight:400;}
.post-details-list .post-title h3{font-size:1.6em; color:#34495e; font-weight:400;}
.post-details-list .post-author{position:relative; width:100%; margin:22px 0px 15px 0px; overflow:hidden;}
.post-details-list .post-author .auth-img{float:left;}
.post-details-list .post-author .auth-img img{width:60px; height:60px; border-radius:100%;}
.post-details-list .post-author .auth-name{padding-left:80px;}
.post-details-list .post-author .auth-name .auth-by{padding-bottom:5px; margin-bottom:2px; border-bottom:1px solid #dddddd; width:100%; font-size:15px; overflow:hidden;}
.post-details-list .post-social-share{margin:20px 0px 10px 0px; overflow:hidden;}
.post-details-list .post-social-share ul li{float:left;}
.post-details-list .post-social-share ul li span{font-size:2.8rem; line-height:22px; color:#333333;}
.post-details-list .post-social-share ul li .caption{display:block; font-size:1.1rem; color:##8a8c8e;}
.post-details-list .post-social-share ul li a.btn.btn-primary{background:#2d609b; border:1px solid #2d609b; border-radius:2px;}
.post-details-list .post-social-share ul li a.btn.btn-success{background:#00c3f3; border:1px solid #00c3f3; border-radius:2px;}
.post-details-list .post-author .auth-name .auth-by .auth-left{float:left;}
.post-details-list .post-author .auth-name .auth-by .visit-rank{float:right;}
.post-details-list .post-author .auth-name .item-category span{font-size:16px; color:#ababab;}
.post-details-list .post-author .auth-name .item-category span a{color:#ababab;}
.post-details-list .post-author .auth-name .item-category span a:hover{text-decoration:underline;}
.post-details-list .post-description p{font-size:16px; line-height:24px;}
.post-details-list .gallery-item{position:relative;  margin:20px 0px 5px 0px;}
.post-details-list .gallery-item img{margin:0 auto;}
.post-details-list .gallery-item .hover-social{position:absolute; top:20px; right:0; opacity:0; transition:all 500ms;}
.post-details-list .gallery-item:hover .hover-social{opacity:1; right:22px;}
.post-details-list .gallery-item .hover-social ul li{margin-bottom:5px;}
.post-details-list .gallery-item .hover-social ul li a{text-align:center; font-size:20px; color:#ffffff; display:inline-block;}
.post-details-list .gallery-item .hover-social ul li a i{width:40px; height:32px;  padding:7px 10px; border-radius:3px;}
.post-details-list .gallery-item .hover-social ul li a .fa.fa-facebook{background:#3b5998;}
.post-details-list .gallery-item .hover-social ul li a .fa.fa-twitter{background:#55acee;}
.post-details-list .gallery-item .hover-social ul li a .fa.fa-pinterest-p{background:#cb2027;}
.post-details-list .gallery-item .source a{font-size:12px; color:#9d9d9d; text-transform:uppercase;}
.post-details-list .gallery-item .source a i{color:#f7d700;}
.count-tag::before {border-color: transparent #000 transparent transparent; border-style: solid; border-width: 0 9px 7px 0; content: ""; height: 0; left: 0;  position: absolute; top: 100%; width: 0;}
.count-tag::after {border-color: transparent transparent transparent #787777; border-style: solid; border-width: 11px 0 11px 10px; content: ""; height: 0;    position: absolute; right: -11px; width: 0;}
.count-tag {background: #787777 none repeat scroll 0 0; color: #fff; font-size: 13px; font-weight: 400; height: 22px; left: -8px; line-height: 23px;    position: absolute; text-align: center; text-indent: 4px; top: 30px; width: 23px; z-index: 2;}

/*pagination*/
.continue-area{text-align:center; margin:25px 0px;}
.next-prev-outer {background: #dddddd none repeat scroll 0 0; height: 50px; margin-top: 20px; overflow: hidden; padding: 0 10px;}
.next-prev-outer .prev_post {float: left; padding: 15px 0; width: 20%;}
.next-prev-outer .fbshare {background: rgba(0, 0, 0, 0) url("../images/pagination.png") no-repeat scroll center center; color:white; float:left; height:50px; text-align: center; width: 60%;}
.next-prev-outer .fbshare span{line-height:47px; display:block;}
.next-prev-outer  .next_post {float: left; padding: 15px 0; text-align: right; width: 20%;}
.prev_post img {float: left; margin-right: 5px; margin-top:3px;}
.next_post img {float: right; margin-left: 5px;	margin-top:3px;}
.prev_post a,.next_post > a {color: #9a9a9a; font-size: 14px;}
.prev_post a:hover,.next-prev-outer .next_post a:hover{color:#ffffff;}

/*social login*/
.also-like,.script-area{padding:20px 0px;}
.social-login{margin-bottom:20px;}
.social-login li{margin-bottom:5px; padding-bottom:5px;}
.social-login li a{width:100%; text-align:left;}
.social-login li a i{padding-right:15px; margin-right:10px;}
.social-login li .btn.btn-primary{background:#3b5999; border:1px solid #3b5999; border-radius:4px;}
.social-login li .btn.btn-primary i{border-right: 1px solid rgba(255, 255, 255, 0.5);}
.social-login li .btn.btn-warning{background:#00acee; border:1px solid #00acee; border-radius:4px;}
.social-login li .btn.btn-warning i{border-right: 1px solid rgba(255, 255, 255, 0.5);}

/*Details Sidebar*/
.fixed-sidebar3 .post-rightInn .candy-article{position:relative; border: 1px solid #f8f8f8; margin-bottom:20px;}
.fixed-sidebar3 .post-rightInn .candy-article:hover{box-shadow:0px 3px 5px rgba(0,0,0,0.2);}
.fixed-sidebar3 .post-rightInn .candy-article .article-images{position:relative;}
.fixed-sidebar3 .post-rightInn .candy-article .article-images .top-label{position:absolute; background:#ffe100; top:10px; left:0; font-size:14px; padding:7px 20px 7px 7px; line-height:100%; color:#222222;}
.fixed-sidebar3 .post-rightInn .candy-article .article-description{margin:10px 0px; position:relative; height:auto;}
.fixed-sidebar3 .post-rightInn .candy-article .article-description .description{bottom:0; position:relative; width:100%; padding:5px 15px; background:#ffffff;}
.fixed-sidebar3 .post-rightInn .candy-article .article-description .description h2{font-size:1.2em; color:#222222; line-height:1.4em; margin:0; font-weight:bold;}
.fixed-sidebar3 .post-rightInn .candy-article .article-description .post-view{position:absolute; right:15px; top:31px;}
.fixed-sidebar3 .post-rightInn .candy-article .article-description .post-view i{margin-right:2px;}
.modal-open{overflow:auto;}

/*Top Message*/
#top-msg{width:100%; position:fixed; top:0; left:0; background:#ffffff; padding:0px; display:none; z-index:99999;}
#top-msg .navbar{margin:0; border-radius:0px; background:#323a45; border:none; padding-top:2px;}
#top-msg .logo2{margin-top:5px;}
#top-msg .share-count{color:#ffffff; text-align:center; margin-right:12px; line-height:19px;}
#top-msg .share-count span{display:block;}
#top-msg .social-share .btn.btn-primary{background:#3b5999; border:1px solid #3b5999; font-size:15px; text-transform:none;}
#top-msg .social-share .btn.btn-success{background:#00acee; border:1px solid #00acee; font-size:15px; text-transform:none;}
#top-msg h3{margin:5px 0 0 0; color:#ffffff;}

/*Comment*/
.comments-sec{}
.comments-sec h3{color:#e81919;}
.comments-sec textarea{border-radius:0px;}

/*-------------------------------------------------------------------
						Mobile View
-------------------------------------------------------------------*/
#mobile-view{font-size:13px; position:fixed; width:100%; z-index:9999;}
#mobile-view .heading h1{font-size:20px; font-weight:bold; text-transform:uppercase;}
#mobile-view #header {background: #323a45 none repeat scroll 0 0; padding: 14px 0; width:100%; z-index:9999;}
#mobile-view .header-top{background:#4a535e !important; padding:2px 0px !important;}
#mobile-view #header .logo-sec{float:left; margin-top:13px;}
/*menu*/
#mobile-view #header .mob-memu{width:98%; overflow:hidden; padding:0px 1%;}
#mobile-view #header .mob-memu .mobile-list{float:left;}
#mobile-view #header .mob-memu .mobile-list ul li{line-height:21px;}
#mobile-view #header .mob-memu .mobile-list ul li a{color:#ffffff;}
#mobile-view #header .mob-memu .menu-btn{cursor:pointer; color:#ffffff; font-size:20px; line-height:20px; float:right; margin-left:5px;}
#mobile-view #header .mob-memu .mobile-menu{position:absolute; top:30px; left:0; width:100%; background:#323a45; box-sizing:border-box; padding:10px; z-index:99999; display:none; overflow:scroll;}
#mobile-view #header .mob-memu .mobile-menu ul li{}
#mobile-view #header .mob-memu .mobile-menu ul li a{color:#ffffff; display:block; border-bottom:1px solid #424b59; margin-bottom:10px; padding-bottom:5px; font-size:18px;}
#mobile-view #header .mob-memu .mobile-menu ul li a i{margin-right:5px;}
#mobile-view #header .mob-memu .mobile-menu ul li:last-child a{border-bottom:0px;}
#mobile-view #header .mob-memu .mobile-menu .social-media{margin-top:10px; border-top:1px solid #424b59; padding-top:15px;}
#mobile-view #header .mob-memu .mobile-menu .social-media ul li a{border-bottom:0px;}
#mobile-view #header .mob-memu .mobile-menu .copy-contentMob{text-align:center; padding:8px 0px; background:#ffe100; margin-left:-8px; margin-right:-8px;}
#mobile-view #header .mob-memu .mobile-menu .copy-contentMob ul li{margin:0;}
#mobile-view #header .mob-memu .mobile-menu .copy-contentMob ul li a{border-bottom:none; font-size:12px; color:#000000;}
#mobile-view #header .mob-memu .mobile-menu .copy-right{margin:0px; text-align:center; padding-bottom:20px; color:#000000; font-size:10px;  background:#ffe100; margin-left:-8px; margin-right:-8px;}
#mobile-view #header .hdr-rt{float:right;}
#mobile-view #header .hdr-rt ul li{margin:0px; line-height:20px;}
#mobile-view #header .hdr-rt ul li a{font-size:20px; color:#ffffff; text-align:center; display:inline-block;}
#mobile-view #header .hdr-rt ul li a span{font-size:10px; display:block;}
#mobile-view #header .hdr-rt ul li.search-icon i{font-size:20px; color:#ffffff; cursor:pointer;}
#mobile-view #header .hdr-rt ul li.search-icon span{font-size:10px; display:block; color:#ffffff;}
/*content area*/
#mobile-view #content-area{padding-top:50px;}
#mobile-view .heading{margin:15px 0px 20px 0px;}
#mobile-view .mobile-post{margin:5px 0px;}
#mobile-view .mobile-post .main-post{margin:20px 0px;}
#mobile-view .mobile-post .main-post .post-img{margin-bottom:15px;}
#mobile-view .mobile-post .main-post .post-content h3{font-size:22px; margin-bottom:0.35em;}
#mobile-view .mobile-post .main-post .post-content p {color:#888888; font-size:14px; line-height:20px;}
#mobile-view .mobile-post .post-list{}
#mobile-view .mobile-post .post-list ul li{display:block; margin-left:-10px; margin-right:-10px;}
#mobile-view .mobile-post .post-list ul li a{display:inline-block; padding:7px 10px; border-top:1px solid #dddddd; width:100%;}
#mobile-view .mobile-post .post-list ul li:last-child a{border-bottom:1px solid #dddddd;}
#mobile-view .mobile-post .post-list ul li .post-imgages{float:left;}
#mobile-view .mobile-post .post-list ul li .post-imgages img{width:70px; height:60px;}
#mobile-view .mobile-post .post-list ul li .post-contentList{padding:3px 0 0 80px;}
#mobile-view .mobile-post .post-list ul li .post-contentList h4{margin-bottom:5px; font-size:1.1em; color:#222222; font-weight:bold; line-height:1.2em;}
#mobile-view .mobile-post .post-list ul li .post-contentList span{color:#ccc; font-size:11px;}

/*-------------------------------------------------------------------
						Profile Page
-------------------------------------------------------------------*/
#profile{background:#f8f8f8; padding:30px 0px; min-height:650px;}
#profile .sidebar .user-profile{text-align:center;}
#profile .sidebar .user-profile h3{margin:10px 0px 5px 0px;}
#profile .sidebar .user-profile p{font-size:13px; margin:0;}
#profile .sidebar .user-profile figure a{display:table; margin:0 auto;}
#profile .sidebar .user-profile figure a i{font-size:5rem; color:#444444; width:125px; height:125px; margin:0 auto; background:#ffffff; border-radius:100%; display:block; display:table-cell; vertical-align:middle; text-align:center;}
#profile .sidebar .profile-menu ul li{display:block; margin-bottom:2px;}
#profile .sidebar .profile-menu ul li a{display:block; padding:10px; color:#959595;}
#profile .sidebar .profile-menu ul li a:hover{color:#444444;}
#profile .sidebar .profile-menu ul li.active a{display:block; padding:8px 15px; color:#ffffff; background:#444444;}
#profile .sidebar .profile-menu ul li a i{margin-right:5px;}

/*account info*/
#profile .profile-details .account-info h3{border-bottom:1px solid #dddddd; padding-bottom:5px; font-size:20px; margin-bottom:20px;}
#profile .profile-details .account-info .account-infoInn{background:#ffffff; padding:20px 28px; box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2); border-radius:4px;}
#profile .profile-details .account-info .account-infoInn .form-horizontal .control-label{font-weight:normal; text-align:left;}
#profile .profile-details .account-info .account-infoInn .btn.btn-danger{margin-top:10px;}

/*add story*/
#add-story{padding:30px 0px;}



#profile-header{}
#profile-header .profile-headerInn{position:relative;}
#profile-header .profile-headerInn span{position:absolute; top:20px; right:60px; font-size:20px; transition:all 300ms; display:none;}
#profile-header .profile-headerInn span a{color:#ffffff;}
#profile-header .profile-headerInn:hover span{display:block;}
#profile-header .profile-headerInn img{margin:0 auto;}
#profile-header .profile-headerInn .thumb{position:absolute; left:20px; bottom:-30px; width:150px; height:150px; border:5px solid rgba(255,255,255,0.7);}
#profile-header .profile-description{padding:20px; box-shadow:0 2px 5px -2px rgba(0,0,0,0.5); margin-bottom:12px;}
#profile-header .profile-description .name-social{margin-top:20px;}
#profile-header .profile-description .name-social .name{float:left;}
#profile-header .profile-description .name-social .name ul li{color:#9d9d9d; font-size:13px;}

#profile-header .profile-description .name-social .social{float:right;}
#profile-header .profile-description .name-social .social ul li {padding-right:0;}
#profile-header .profile-description .name-social .social ul li a{background:#ababab; width:34px; height:34px; text-align:center; display:inline-table;}
#profile-header .profile-description .name-social .social ul li a.facebook:hover{background:#3d5a98;}
#profile-header .profile-description .name-social .social ul li a.twitter:hover{background:#00b6f1;}
#profile-header .profile-description .name-social .social ul li a.linkedon:hover{background:#006699;}
#profile-header .profile-description .name-social .social ul li a.google:hover{background:#dc483b;}
#profile-header .profile-description .name-social .social ul li a.pinterest:hover{background:#cb2027;}

#profile-header .profile-description .name-social .social ul li a i{color:#ffffff; vertical-align:middle; margin-top:11px; display:block;}
#profile-header .profile-description .profile-details p{font-size:17px; color:#979797; font-style:italic; line-height:30px;}


/*--------------------------------------------------------------------------
							6.Contact Page
--------------------------------------------------------------------------*/ 
#contact-us{background:#eeeeee; padding:45px 0px;} 
#contact-us .contact-desc{margin-bottom:30px;}
#contact-us .contact-form input{border-radius:0px; box-shadow:none; height:50px;}
#contact-us .contact-form textarea{border-radius:0px; box-shadow:none;} 
#contact-us .contact-form button.btn.btn-warning{margin-top:20px; border-radius:0px; background:#de3519; border:1px solid #de3519; color:#ffffff; font-size:15px; text-transform:uppercase; width:200px; transition:all 500ms; height:50px;}
#contact-us .contact-form button.btn.btn-warning:hover{background:none; color:#222222;}
#contact-us .our-map{margin-bottom:30px;}
#contact-us .our-map .google-maps {position: relative; padding-bottom: 75%; height: 0; overflow: hidden;}
#contact-us .our-map .google-maps iframe {position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important;}
#contact-us .our-address ul li{margin-bottom:10px; padding-bottom:10px;}
#contact-us .our-address ul li .adrs-icon{float:left; font-size:20px; color:#de3519; margin-top:-7px;}
#contact-us .our-address ul li .adrs-details{padding-left:35px; font-size:14px; color:#2b2b2b; font-weight:bold;}
#contact-us .our-map{margin-bottom:30px; margin-top:30px;}
#contact-us .our-map .google-maps {position: relative; padding-bottom:40%; height: 0; overflow: hidden;}
#contact-us .our-map .google-maps iframe {position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important;}
#contact-us .social-media{margin-top:15px;}
#contact-us .social-media ul li a{width:50px; height:50px; background:#b6b5b5; display:block; text-align:center; border-radius:5px; transition:all 50ms;}
#contact-us .social-media ul li a.facebook:hover{background:#3d5a98;}
#contact-us .social-media ul li a.twitter:hover{background:#00b6f1;}
#contact-us .social-media ul li a.linkedon:hover{background:#006699;}
#contact-us .social-media ul li a.google:hover{background:#dc483b;}
#contact-us .social-media ul li a.pinterest:hover{background:#cb2027;}
#contact-us .social-media ul li a i{color:#ffffff; font-size:35px; margin-top:9px;}

/*Gutter Space*/
.container-fluid {margin-left:auto; margin-right:auto; padding-left:10px; padding-right:10px;}
.row {margin-left:-10px; margin-right:-10px;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {min-height:1px; padding-left:10px; padding-right:10px; position:relative;}


/*Miscellaneous*/
header .navbar-inverse .navbar-nav > li > a.dropdown-toggle{cursor:pointer;}
header .navbar-right .dropdown-menu{top:50px;}
.continue-area .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{background:#dddddd; color:#222222; border-color:#dddddd;}
.pagination > li > a, .pagination > li > span{color:#222222;}

.modal.fade {
    overflow: auto;
}
.countinueArticleBtn>a, .nextpreBtn {
        border: 0px;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff !important;
    background: #323A45;
    height: 70px;
    line-height: 70px;
    padding: 0px;
    margin: 20px 0px 0px 0px;
    border-radius: 0px;
    border-bottom: 5px solid #323A45;
    transition: all 0.5s ease;
	border-radius:5px;
}
.nextpreBtn{
	 text-transform: initial;
}
.countinueArticleBtn>a>span.rightArrow>img {
    margin-left: 15px;
    height: 20px;
    position: relative;
    top: -1px;
}


.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px !important;
}


.customicon{
	
    font-size: 25px;
}


.utmdetails{
	BORDER-TOP: 1PX SOLID #dddddd;
    MARGIN-TOP: 17PX;
    PADDING-TOP: 15PX;
    margin-left: 10px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.MPLSecondPage_titleClick>i {
    width: 5%;
}
.MPLSecondPage_titleClick>span {
    width: 95%;
}
.MPLSecondPage_titleClick>span {
    font-size: 18px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 95%;
    float: left;
    margin: 0px 0px 15px 0px;
}
.expandTitle span {
    -webkit-line-clamp: 10!important;
}
.mplPagination {
    height: 65px;
    margin: 0px 0px 20px 0px;
}
.mplPagination>div.preBtn {
    padding: 0px;
    text-align: center;
    height: 65px;
    border-bottom: 5px solid #323A45;
    background: #323A45;
}
.mplPagination>div.nextBtn {
    height: 65px;
    border-bottom: 5px solid #323A45;
    background: #323A45;
    border-left: 1px solid #323A45;
}
.mplPagination>div.nextBtn>a {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0px;
    line-height: 65px;
    display: block;
    font-family: "museo_sans500",serif;
    margin-top: -5px;
}
.mplPagination>div.nextBtn>a>i {
    font-size: 40px;
    position: relative;
    top: 17px;
    float: right;
    border: 1px solid #323A45;
    box-shadow: inset 0 1px 20px rgba(0,0,0,.125);
}
.mplPagination>div.nextBtn>a>span {
    font-size: 11px;
    text-transform: capitalize;
    position: absolute;
    bottom: -20px;
    right: 8px;
    font-family: "museo_sans300",serif;
    opacity: .8;
    left: 0px;
}
.mplPagination>div.preBtn>a>i {
    line-height: 65px;
    font-size: 40px;
    color: #fff;
}




















































































 