html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
//  font-size: 100%;
//  font: inherit;
  vertical-align: baseline; }
body {
//  line-height: 1;
}
ol, ul {
  list-style: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }
q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }
a img {
  border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
//  font: 14px/22px Arial, Helvetica, sans-serif;
//  color: #333;
//  background: #ddd;
//  margin: 50px auto;
//  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
//	font-weight:bold;
//	font-size: 16px;
//	margin: 12px 0;
}

h1 {
//	margin: 35px 0 5px;
//	font-size: 26px;
//	font-weight: normal;
}

#slider {
	text-align: center;
}

h2 {
	margin: 40px 0 25px;
	border-bottom: 1px solid #bbb;
	padding: 0 0 10px;
}

p {
	margin: 0 0 16px;
}

strong { 
	font-weight: bold;
}

label, a {
	color: teal;
	cursor: pointer;
	text-decoration: none;
}
label:hover, a:hover {
	color: #000;
}
label, #active, img { -moz-user-select:none;-webkit-user-select:none; }
.catch { display: block; height: 0; overflow: hidden; }
#slider {
	margin: 0 auto;
}
#description {
	margin: 25px auto;
	text-align: left;
	max-width: 650px;
	padding: 0 25px;
}
.respond {
	margin: 0 auto;
	max-width: 370px;
}









/* NEW EXPERIMENT */
/* Slider Setup */

input {
	display: none;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }


#overflow {
	width: 100%;
	overflow: hidden;
}

//article img {
//	width: 100%;
//	height: 400px;
//}

#slides .inner {
	width: 500%;
//	line-height: 0;
}

#slides article {
	width: 20%;
	float: left;
}

/* Slider Styling */

/* Control Setup */

#controls {
	margin: -25% 0 25% 0;
	width: 100%;
//	height: 50px;
}

#controls label { 
	display: none;
	width: 20px;
	height: 74px;
//	opacity: 0.3;
}

#active {
	margin: 23% 0 0;
	text-align: center;
}

#active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls label:hover {
	opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(1) {
background: url(../images/controls.png) no-repeat right 0px;
//	background: url('next.png') no-repeat;
	float: right;
//	margin: 0 -20px 0 0;
	display: block;
}


#slide1:checked ~ #controls label:nth-child(3),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2) {
background: url(../images/controls.png) no-repeat 0 0;
//	background: url('prev.png') no-repeat;
	float: left;
//	margin: 0 0 0 -20px;
	display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3) {
	background: #333;
	border-color: #333 !important;
}

/* Info Box */

.info {
	line-height: 20px;
	margin: 0 0 -150%;
	position: absolute;
	font-style: italic;
	padding: 30px 30px;
	opacity: 0;
	color: #000;
	text-align: left;
}

.info h3 {
	color: #333;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 22px;
	font-style: normal;
}

/* Slider Styling */

#slides {
//	margin: 45px 0 0;
//	-webkit-border-radius: 5px;
//	-moz-border-radius: 5px;
//	border-radius: 5px;
//	box-shadow: 1px 1px 4px #666;
//	padding: 1%;
//	background: #fff;
//	background: rgb(252,255,244); /* Old browsers */
//	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
//	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
//	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
//	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
//	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
//	background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
//	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}


/* Animation */

@keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@-webkit-keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

#slides .singleSlider {
//  opacity: 0;
//  transition: opacity 200ms ease-out 0s;
}

#slides .singleSlider.currentSlide li {
animation-name: zoomInRight;
animation-duration: 2s;
}

#slides .inner {

  transition: margin-left 200ms linear 0.2s;

/*	-webkit-transform: translateZ(0);
	-webkit-transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart * /

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart * /
*/
}

#slider {
//	-webkit-transform: translateZ(0);
//	-webkit-transition: all 0.5s ease-out;
//	-moz-transition: all 0.5s ease-out;
//	-o-transition: all 0.5s ease-out;
//	transition: all 0.5s ease-out;
}

#controls label{
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}

#slide1:checked ~ #slides article:nth-child(1) .singleSlider,
#slide2:checked ~ #slides article:nth-child(2) .singleSlider,
#slide3:checked ~ #slides article:nth-child(3) .singleSlider {
	opacity: 1;
//	-webkit-transition: all 1s ease-out 0.6s;
//	-moz-transition: all 1s ease-out 0.6s;
//	-o-transition: all 1s ease-out 0.6s;
//	transition: all 1s ease-out 0.6s;
  -webkit-animation-name: zoomInRight;
  -moz-animation-name: zoomInRight;
  -o-animation-name: zoomInRight;
  animation-name: zoomInRight;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;

  -webkit-transition: opacity 0.5s linear 0.2s;
  -moz-transition: opacity 0.5s linear 0.2s;
  -o-transition: opacity 0.5s linear 0.2s;
  transition: opacity 0.5s linear 0.2s;
}

.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.singleSlider > * {
  margin-left: 25px;
}

.singleSlider .sliderLeft {
  margin-right: 25px;
}

#controls {
  margin: -283px 0 283px 0;
}

.singleSlider .sliderRight {
  overflow: hidden;
  text-align:center;
  margin-right: 25px;
}
.singleSlider .sliderRight ul li {
  display: inline-block;
}

@media only screen and (max-width: 899px)
{
.singleSlider .sliderRight {
  max-height: 210px;
}
}
@media only screen and (min-width: 900px)
{
.singleSlider .sliderRight {
  max-height: 430px;
  width: auto;
}
}
@media only screen and (min-width :900px)
{
.singleSlider .sliderLeft {
  float:left;
  width: 635px;
  margin-right: 0px;
}
.singleSlider .sliderRight {
//  float:right;
  margin-left: 0px;
//  width: 170px;
}
#slider #controls {
  margin: -25% 0 25% 0;
}

}
@media only screen and (min-width :1070px)
{
.singleSlider .sliderRight {
//  float:right;
  margin-left: 0px;
//  width: 340px;
}
}
@media only screen and (min-width :1220px)
{
.singleSlider .sliderRight {
//  float:right;
  margin-left: 0px;
  width: 510px;
}
}
/* Respond Options */

#slider {
	max-width: 1200px;
}
#desktop:checked ~ #slider {
	max-width: 1200px;
}

#tablet:checked ~ #slider {
	max-width: 1200px;
}

#mobile:checked ~ #slider {
	max-width: 1200px;
}

#desktop:checked ~ #slider .desktop,
#tablet:checked ~ #slider .tablet,
#mobile:checked ~ #slider .mobile {
	color: #777;
	opacity: 1;
}

.desktop, .tablet, .mobile {
//	display: inline-block;
//	width: 60px;
//	height: 60px;
//	padding-top: 50px;
//	opacity: 0.35;
//	font-size: 12px;
}

.desktop:hover, .tablet:hover, .mobile:hover {
	opacity: 0.2;
}

.desktop {
	background: url('desktop.png') no-repeat;
}

.tablet {
	background: url('tablet.png') no-repeat;
}

.mobile {
	background: url('mobile.png') no-repeat;
}

