@font-face {font-family:'Conv_ITCAvantGardeStd-DemiCn';src:url('../fonts/ITCAvantGardeStd-DemiCn.eot');src:local('☺'), url('../fonts/ITCAvantGardeStd-DemiCn.woff') format('woff'), url('../fonts/ITCAvantGardeStd-DemiCn.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-DemiCn.svg') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'Conv_ITCAvantGardeStd-BoldCn';src:url('../fonts/ITCAvantGardeStd-BoldCn.eot');src:local('☺'), url('../fonts/ITCAvantGardeStd-BoldCn.woff') format('woff'), url('../fonts/ITCAvantGardeStd-BoldCn.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-BoldCn.svg') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'Conv_ITCAvantGardeStd-MdCn';src:url('../fonts/ITCAvantGardeStd-MdCn.eot');src:local('☺'), url('../fonts/ITCAvantGardeStd-MdCn.woff') format('woff'), url('../fonts/ITCAvantGardeStd-MdCn.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-MdCn.svg') format('svg');font-weight:normal;font-style:normal;}

body{font-family:'Conv_ITCAvantGardeStd-MdCn',Sans-Serif;font-size:0.83em;text-align:center;color:#000;}
body, h1, h2, h3, h4, h5, p, table, table th, form, a img, ul{border:none;margin:0px;padding:0px;}
ul{list-style:none;}
.clear{clear:both;}
a{color:#000;text-decoration:none;}
a:hover{color:#000;text-decoration:underline;}
a:hover{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transition:all 0.5s ease}
.clear{clear:both;}
#header{background:#46B0A2;border-bottom:solid 1px #fff;}
#headert1{padding:0px 10px 0px 10px;float:left;}
#headert2{float:left;}
#headert3{float:right;padding-top:42px;}
#searchform p{margin:0;padding:0;float:left;}
#searchform #dd_user_input{width:200px;height:29px;border:0;background:#2D7D72;margin:0;padding:0;padding-left:15px;color:#fff;}
#slinks a{display:block;text-decoration:none;height:29px;width:39px;background:url('../images/slinks.jpg') top left no-repeat;}
#slinks span,#testConsole{display:none;}
#slinks li{float:left;}
#slinks .slink1{background-position:0px top;}
#slinks .slink2{background-position:-39px top;}
#slinks .slink3{background-position:-78px top;}
#slinks .slink4{background-position:-117px top;}

#searchform{float:left;padding-right:15px;} 
#slinks{float:left;padding-right:35px;}
#footer{color:#fff;background:#313131;font-size:12px;padding:1em;height:auto;}
#footert{text-align:right; margin:0 auto;}
#footer a{color:#fff;text-decoration:none;}
#footer a:hover{color:#fff;text-decoration:underline;}
#headert1 a span{display:none;}
#headert2{display:none;}
#headert4{float:left;padding-right:35px;color:#fff;}
#headert4{padding-top:12px;text-transform:uppercase;}
#headert4 a{text-decoration:none;color:#fff;}

.fluid-width-video-wrapper, .single-post .full-width-video-layout .fluid-width-video-wrapper{width:100%;position:relative;padding:0;} 
.slider-text{visibility:hidden;}
.slider-text.active-slide{visibility:visible;}

.loadbutton{text-align:center;}
#sendcmt{background:#ED4947;border:0;color:#fff;padding:1em;cursor:pointer;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;font-family:'Conv_ITCAvantGardeStd-MdCn',Sans-Serif;font-size:13px;text-transform:uppercase;float:right;margin-top:1em;text-align:center;}
.loadmore{width:150px;background:#ED4947;border:0;color:#fff;margin:0auto;padding:1em;cursor:pointer;border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;-webkit-border-radius:10px 10px 10px 10px;font-family:'Conv_ITCAvantGardeStd-MdCn',Sans-Serif;font-size:13px;text-transform:uppercase;}
#loaderDiv,#loaderDiv1,#loaderDiv2{text-align:center;}
.ad{text-align:center;margin:0 auto;}
.rate-ex2-cnt{width:150px;height:30px;}
.rate-ex2-cnt .rate-btn{width:30px;height:30px;float:left;background:url('../images/rate-btn2.png') no-repeat;cursor:pointer;}
.rate-ex2-cnt .rate-btn:hover, .rate-ex2-cnt  .rate-btn-hover, .rate-ex2-cnt  .rate-btn-active{background:url('../images/rate-btn2-hover.png') no-repeat;}
.votes1{padding:0 0 1em 1em;}
.votes2{padding:0 0 2em 1em;}
.votes1 button{background:#46b1a2; border:0; color:#fff; text-align:center; font:12px Arial, Helvetica, sans-serif; padding:5px; cursor:pointer; }
#mtext1 .votes1{padding:0 0 1em 0;}

.rate-result-cnt{background-color: #ccc;width:125px;height:28px;position:relative;}
.rate-stars{width:125px;height:28px;background:url('../images/rate-stars.png') no-repeat;position:absolute;}
.rate-bg{height:28px;background-color:#DA7559;position:absolute;}

.bx-wrapper{position:relative;margin:0 auto;padding:0;*zoom:1;}
.bx-wrapper img{max-width:100%;display:block;margin:auto;}
.bx-wrapper .bx-viewport{-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0);}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position:absolute;bottom:10px;width:100%;}
.bx-wrapper .bx-loading{min-height:50px;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000;}
.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:bold;color:#666;padding-top:20px;}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline;}
.bx-wrapper .bx-pager.bx-default-pager a{text-indent:-9999px;display:block;width:13px;height:12px;margin:0 5px;outline:0;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{}
.bx-wrapper .bx-prev{left:0px;background:url(../images/controls.png) no-repeat 0 0;}
.bx-wrapper .bx-next{right:0px;background:url(../images/controls.png) no-repeat right 0px;}
#ptext .bx-wrapper .bx-prev{left:-20px;}
#ptext .bx-wrapper .bx-next{right:-20px;}
.home .pbox1t .bx-wrapper .bx-prev{left:-25px;}
.home .pbox1t .bx-wrapper .bx-next{right:-5px;}
.bx-wrapper .bx-controls-direction a{position:absolute;top:40%;margin-top:-24px;outline:0;width:20px;height:74px;text-indent:-9999px;z-index:10;}
.home .bx-wrapper .bx-controls-direction a{top:52%;}
.video_wrapper .bx-wrapper .bx-controls-direction a{top:45%;}
.bx-wrapper .bx-controls-direction a.disabled{display:none;}
.bx-wrapper .bx-controls-auto{text-align:center;}
.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(images/controls.png) -86px -11px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(images/controls.png) -86px -44px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px;}
.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666\9;background:rgba(80, 80, 80, 0.75);width:100%;}
.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px;}
.video_wrapper img{display:block;}
.video_content_wrapper{width:100%;margin:0 auto;color:#fff;text-align:center;-webkit-box-shadow:0 8px 8px -6px black;-moz-box-shadow:0 8px 8px -6px black;box-shadow:0 8px 8px -6px black;}
.video_content_wrapper > img{margin:0 auto;}
.video_content_wrapper > img{max-width:100%;width:100%;display:block;height:auto;margin:0 auto;}

.spot_light_three{position:absolute;left:8%;top:10%;text-align:left;padding:20px;width:50%;-moz-border-radius:0.80em;border-radius:0.80em;-webkit-border-radius:0.80em;}
.spot_light_three h1,.spot_light_three p,#viewlr{display:none;}
.spot_light_three .hmore{background:#ED4947;border:solid 1px #fff;padding:0.50em;text-align:center;text-transform:uppercase;width:100px;}
.spot_light_three  .hmore a{color:#ccc;text-decoration:none;}
.spot_light_three  .hmore a:hover{color:#fff;text-decoration:none;}
.spot_light_three h1{text-transform:uppercase;font-size:30px;line-height:30px;font-weight:bold;margin-bottom:50px;}
.spot_light_three h2{text-transform:uppercase;font-weight:normal;margin-bottom:15px;font-size:24px;line-height:30px;}
#viewlr{text-transform:uppercase;font-weight:bold;padding-bottom:5px;}
.spot_light_three p{line-height:18px;font-size:16px;}

/* ***************** Sub Carousel *******************/

.pbox1t{margin:0 auto;padding:1em 0 3em 0;}
.pbox1{background:#fff;text-align:left;margin-top:2em;}
.pbox1a a{background:url('../images/hbg.jpg') top left no-repeat;height:422px;display:block;max-width:100%;width:100%;background-size:100% 100%;}
.pbox1a a:hover{color:#fff;text-decoration:none;}
.pbox1a .pbox1c{display:block;max-width:100%;height:383px;background-repeat:no-repeat;background-position:center center;width:100%;background-size:100% 100%;}
.pbox1a span span{display:block;color:#fff;font-size:24px;text-transform:uppercase;text-align:center;padding-top:3em;}
.pbox1b a{display:block;width:150px;height:200px;float:left;margin:15px 15px 15px 0;position:relative;}
.pbox1b a img{width:100%;vertical-align:top;}
.pbox1b a:after{content:'\A';position:absolute;width:100%;height:100%;top:0;left:0;background:url('../images/vw.jpg') rgba(0, 0, 0, .8) no-repeat center center;opacity:0;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.pbox1b a:hover:after{opacity:1;}
.pbox1 h1{font-size:28px;font-weight:normal;text-transform:uppercase;margin-bottom:18px;}
.pbox1 h1 span{font-family:'Conv_ITCAvantGardeStd-BoldCn',Sans-Serif;color:#000;}

/* ***************** Content Area *******************/

.pbox2a{border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;-webkit-border-radius:10px 10px 10px 10px;background:#fafafa;padding:1em;margin-bottom:10px;text-transform:uppercase;}
.pbox2a li{float:left;padding-right:10px;}
.pbox2a li span{font-weight:bold;}
.pbox2b{width:110px;float:right;padding:1em 0 1em 1.5em;}
.pbox2c{float:right;}
.pbox3{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;background:#fafafa;padding:2.5em;margin-bottom:3em;}
#ptext1{text-align:left;margin:0 auto;padding:3em 0 3em 0;}
#ptext{text-align:left;background:#F2F0F1;}
#ptext h2{font-size:24px;font-weight:normal;text-transform:uppercase;margin-bottom:9px;}
#ptext h2 span{font-family:'Conv_ITCAvantGardeStd-BoldCn',Sans-Serif;color:#000;}
.nomar{padding-bottom:0; margin-bottom:0; }
#ptext1.nomar{padding-bottom:0; margin-bottom:0; }
#mpanel{text-align:left;background:#222;color:#fff;}
#mpanelt{text-align:left;margin:0 auto;padding:1em;text-align:right; text-transform:capitalize;font:12px Arial, Helvetica, sans-serif;}
#mpanel a{color:#fff; text-decoration:none;}
#mpanel a:hover{color:#fff; text-decoration:underline;}

/* ***************** Thumb Grid  *******************/

.more{line-height:20px;}
#loaderDiv,#loaderDiv1,#loaderDiv2{display:none;}
.wrap{overflow:hidden;margin:10px;}
.box{float:left;position:relative;width:20%;padding-bottom:11%;}
.boxInner{position:absolute;left:10px;right:10px;overflow:hidden;cursor:pointer;}
.boxInner img{width:100%;}
.boxInner .titleBox{position:absolute;bottom:0;left:0;right:0;background:#000;background:rgba(0, 0, 0, 0.8);color:#FFF;padding:10px;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;font-size:15px;}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox{margin-bottom:0;}
.boxInner:after{content:'\A';position:absolute;width:100%;height:100%;top:0;left:0;background:url('../images/vw.jpg') rgba(0, 0, 0, .8) no-repeat center center;opacity:0;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.boxInner:hover:after{opacity:1;}

/* ***************** Genre Description *******************/

#ptext .pbox4 h2{padding:0;}
#ptext .pbox4{font:12px Arial, Helvetica, sans-serif;padding:0 2em 2em 2em; display:none;}
#ptext .pbox4 p{padding-bottom:15px;line-height:20px;}
.morelink{padding:1em;}
.morelink a{display:block;text-decoration:none;height:20px;width:74px;margin:0 auto;color:#666;text-transform:uppercase;font-size:11px;text-align:center;}
.morelink a span{display:block;padding-top:25px;}
.smore a{background:url('../images/smore.png') top left no-repeat;}
.sless a{background:url('../images/sless.png') top left no-repeat;}

#slider-next,#slider-prev{text-align:center;}

#mtext1{background:#fff;padding:2em 0 2em 0;text-align:left;}
#mtext1t{margin:0 auto;padding:0 2em 0 2em;}
#mtext1 h1{font-size:28px;font-weight:normal;text-transform:uppercase;margin-bottom:18px;}
#mtext1 h1 span{font-family:'Conv_ITCAvantGardeStd-BoldCn',Sans-Serif;color:#000;}
#mtext1 h2{font-size:24px;font-weight:normal;text-transform:uppercase;margin-bottom:9px;}
#mtext1 h2 span{font-family:'Conv_ITCAvantGardeStd-BoldCn',Sans-Serif;color:#000;}
#mright h2{margin-top:1em;}
.minfo1{font:0.90em Arial, Helvetica, sans-serif;padding:3em 0 3em 0;}
.minfo2{line-height:20px;}
.minfo2 p{padding-bottom:1em;}
.minfo{padding-bottom:0.50em;line-height:20px;}
.minfo span{font-weight:bold;}
.minfo span{padding-bottom:0.50em;}
.mlike a{display:block;width:150px;height:200px;float:left;margin:1px;position:relative;}
.mlike a img{width:100%;vertical-align:top;}

#commentpanel{background:url('../images/cbg.jpg') #E7E5E6 top left repeat-x;padding:2em 0 2em 0;text-align:left;font:0.90em Arial, Helvetica, sans-serif;color:#666;}
#commentpanelt{margin:0 auto;padding:0 2em 0 2em;}
#commentpanel h1{font-family:'Conv_ITCAvantGardeStd-MdCn',Sans-Serif;font-size:28px;font-weight:normal;text-transform:uppercase;margin-bottom:18px;color:#000;}
#commentpanel h1 span{font-family:'Conv_ITCAvantGardeStd-BoldCn',Sans-Serif;color:#000;}
#cmtotal{padding:2em 0 0.75em 0;color:#000;font-weight:bold;border-bottom:solid 2px #0066E9;width:100px;}
#commentform{background:url('../images/user.jpg') top left no-repeat;padding-left:65px;margin:2em 0 4em 0;} 
#commentform textarea{width:100%;background:#E7E5E6;border:solid 2px #CFD4D8;font:14px Arial, Helvetica, sans-serif;color:#444;}
#cmlist li{border-top:solid 1px #CFD4D8;padding:1em 0 1em 0;font-size:1.15em;line-height:20px;}
#cmlist li p{padding-bottom:0.50em;font-size:1.00em;}
#cmlist .cname{font-weight:bold;color:#000;}
#cmlist .cdate{font-style:italic;font-size:12px;} 
#caccount{background:#504C4B;color:#fff;text-align:center;padding:2em;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin-bottom:2em;}
#caccount h2{font-family:'Conv_ITCAvantGardeStd-DemiCn',Sans-Serif;font-size:16px;margin-bottom:0.75em;}
#caccount a{background:url('../images/reg.jpg') no-repeat top left;display:block;width:243px;height:52px;color:#fff;text-align:right;margin:0 auto;margin-top:1em;}
#caccount a span{padding:2em 1em 0 0;display:block;}
.cname{text-transform:capitalize;}
.nomovie{background:#000;color:#fff;padding:2em;text-align:center;}


@media(max-width:480px)
{
.spot_light_three{ top:0; }
#slinks{display:none;}.bx-wrapper .bx-prev{background:url('../images/controls1.png') no-repeat 0 0;}
.bx-wrapper .bx-next{background:url('../images/controls1.png') no-repeat right 0px;}
.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-11px;outline:0;width:10px;height:37px;text-indent:-9999px;z-index:10;}
.spot_light_three h2{font-size:13px; line-height:16px;}
}
@media(max-width:1219px) {
.pbox1b a{margin:5px ;}
}
@media(min-width:760px)
{
.spot_light_three  .hmore{background:url('../images/imvideo.png') #ED4947 no-repeat center left;padding:15px 10px 15px 50px;width:100px;font-size:16px;margin-top:25px;}
#viewlr{display:block;}
}
@media(min-width:960px)
{
.spot_light_three p{ display:block; }
}
@media(min-width:1179px)
{
.spot_light_three h1{ display:block; }
}

@media all and (max-width:1179px)
{
#togglemenu{background:#fff;text-align:right;padding:0.50em;}
#centeredmenu ul li a{display:block;text-decoration:none;color:#fff;padding:0.50em 1em 0.50em 1em;background:#000;border-bottom:solid 1px #aaa;width:100%;text-align:left;}
#headert1{float:none;}
#headert2{float:none;clear:both;}
#headert1 a{background:url('../images/logo1.jpg') top left no-repeat;width:200px;height:68px;display:block;}
#headert4{padding-top:10px;}
#headert4 a:hover{color:#fff;text-decoration:none;}
}
@media all and (min-width:1180px)
{#headert1 a{background:url('../images/logo.jpg') top left no-repeat;width:300px;height:102px;display:block;}
#headert2{display:block;}
#headert4 a:hover{color:#000;text-decoration:none;}
#togglemenu{display:none;}
#centeredmenu{z-index:3000;position:relative;padding:0;display:block;}
#centeredmenu ul li a{display:block;margin:0;padding:18px 30px 0px 30px;height:31px;padding:0;background:none;border:0px;background:none;}
#centeredmenu ul{margin:0;padding:0;list-style:none;position:relative;}
#centeredmenu ul li{padding:0;float:left;position:relative;}
#centeredmenu ul li a{display:block;margin:0;padding:55px 30px 0px 30px;height:52px;text-decoration:none;color:#fff;background:none;text-transform:uppercase;}
#centeredmenu ul li.active a, #centeredmenu ul li.current_page_item a{color:#fff;background:#00ABC8;}
#centeredmenu ul li a:hover{color:#fff;}
#centeredmenu ul #explore{border-left:solid 1px #99D0CD;}
#centeredmenu ul li:hover a,#centeredmenu ul li.hover a{color:#000;}
#centeredmenu ul ul li:hover a,#centeredmenu ul ul li.hover a{color:#000;}
#centeredmenu ul ul{display:none;position:absolute;top:107px;left:0;float:left;right:auto;padding:1em;width:250px;overflow:hidden;background:#0F1317;opacity:0.7;-webkit-opacity:0.7;-moz-opacity:0.7;filter:alpha(opacity=50);}
#centeredmenu ul ul li{left:auto;margin:0;float:left;width:50%;float:left;display:inline;}
#centeredmenu ul ul li a,#centeredmenu ul li.active li a,#centeredmenu ul li:hover ul li a,#centeredmenu ul li.hover ul li a{text-transform:none;font-weight:normal;line-height:1.4em;float:left;padding:0.50em 1em 0.50em 1em;margin:0px;height:auto;background:none;color:#fff;}
#centeredmenu ul ul li a:hover,#centeredmenu ul li.active ul li a:hover,#centeredmenu ul li:hover ul li a:hover,#centeredmenu ul li.hover ul li a:hover{background:none;color:#EE5051;float:left;}
#centeredmenu ul ul.last{left:auto;right:0;}
#centeredmenu ul ul.last li{float:right;position:relative;right:.8em;}
#centeredmenu ul li:hover ul,#centeredmenu ul li.hover ul{display:block;}
#centeredmenu ul li ul li a{margin-left:0;}
#centeredmenu ul li#menu-item-1487 a{border-right:solid 1px #fff;}
}
@media only screen and (max-width :1219px) {
  .pbox1b {
    max-height: 210px;
  }
}

@media only screen and (min-width :1220px)
{
#footer{color:#fff;padding:30px 15px 0px 15px;font-size:12px;}

#header1{width:1200px;margin:0 auto;}
#ptext1{width:1200px;}
#footert{width:100%;background:url('../images/flogo.jpg') #313131 top left no-repeat;height:120px;}
#mpanelt{width:1200px;}
#mtext1t{width:1200px;padding:0;}
#commentpanelt{width:1200px;padding:0;}
.pbox1t{width:1200px;}

.pbox1a a{float:left;}
.pbox1b a{margin:0px 10px 10px 10px;}
.pbox1a{float:left;width:635px;}
.pbox1b{float:right;width:535px;}
.pbox1d{float:right;width:550px;}
#mleft{float:left;width:872px;}
#mright{float:right;width:304px;}
#cmleft{float:left;width:872px;}
#cmright{float:right;width:304px;}
.tipso_bubble {position:absolute;z-index:9999;background:#fff;font:11px Arial, Helvetica, sans-serif;-webkit-box-shadow:0 10px 10px -6px #aaa;-moz-box-shadow:0 10px 10px -6px #aaa;box-shadow:0 10px 10px -6px #aaa;width:270px;min-height:150px;text-align:left;}
.tipso_bubble  span{padding:15px;display:block;color:#333;line-height:18px;}
.tipso_bubble  h3 span{padding:10px 15px 10px 70px;color:#fff;text-transform:capitalize;}
.tipso_bubble  h3{background:url('../images/toolh.jpg') top left no-repeat;height:50px;}
}
@media only screen and (max-width:1220px) 
{#header1{height:auto;}
#headert3{float:none;padding:15px 0px 10px 10px;margin:0px;background:#313131;clear:both;}
#sidebar .widget{width:auto;}
}
@media (min-width:1400px){.video_content_wrapper img{width:100%;height:100%;max-width:100%;max-height:100%;}}
@media only screen and (max-width :760px){.box:hover .pop{display:none;}}
@media only screen and (max-width :480px){.box{width:100%;padding-bottom:60%;} .mo{ display:none; }.mr0,.mr1,.mr9,.mr10,.op0,.op1,.op4,.op5,.cw0,.cw1,.cw4,.cw5{ display:block; }}
@media only screen and (max-width :650px) and (min-width :481px){.box{width:50%;padding-bottom:30%;}.cw2,.cw3,.cw6,.cw7,.mr4,.mr5,.mr6,.mr7,.mr12,.mr13,.mr14,.mr15,.op2,.op3,.op6,.op7{display:none;}}
@media only screen and (max-width :1050px) and (min-width :651px){.box{width:33.3%;padding-bottom:20%;}.cw3,.cw7,.mr6,.mr7,.mr14,.mr15,.op3,.op7{display:none;}}
@media only screen and (max-width :1290px) and (min-width :1051px){.box{width:25%;padding-bottom:15%;}}
@media only screen and (min-width :1291px){.box{width:25%;padding-bottom:15%;}}

#imh25 {
  overflow: hidden;
  -o-overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.5em;
}

@media (max-width:1219px){#ptext1{padding:1em;}.pbox1t{padding:1em;}}
@media only screen and (min-width :651px)
{#imh1{background:url('../images/imh1.jpg') no-repeat top left;}
#imh2{background:url('../images/imh2.jpg') no-repeat top left;}
#imh3{background:url('../images/imh3.jpg') no-repeat top left;}
#imh4{background:url('../images/imh4.jpg') no-repeat top left;}
#imh5{background:url('../images/imh5.jpg') no-repeat top left;}
#imh6{background:url('../images/imh6.jpg') no-repeat top left;}
#imh25 {
  background: url('../images/imh25.jpg') no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  font-weight: normal;
  margin-top: 15px;
  padding-top: 5px;
  padding-left: 75px;
  background-size: contain;
}
#ptext h2{padding:15px 0 5px 95px;}
#mright h2{padding:15px 0 5px 95px;}
.pbox1 h1{padding:22px 0 8px 110px;}
#commentpanel h1{padding:22px 0 8px 110px;background:url('../images/imh7.jpg') no-repeat top left;}
}

#rateresult{ color:#000066; padding:1em 0 1em 0; font-weight:bold;}

.memberMenu a {
  color: gold !important;
}

.pbox1b {
  text-align: center;
}
.pbox1b li {
  display: inline-block;
}

@media (min-width: 1220px) {
  .a-d-movieTop728 {
    float: right;
  }

  .a-d-genreTop728 {
    float: right;
    margin-right: 22px;
  }
}

@media (min-width: 720px) {
  .a-d-movieBelow468 {
    float: right;
  }
}
@media (max-width: 719px) {
  .a-d-movieBelow468 {
    margin-bottom: 10px;
  }
}

@media (min-width: 1090px) {
  .a-d-homeTop468 {
    margin-right: 35px;
    margin-top: 3em;
    float: right;
    margin-bottom: -60px;
  }
  .a-d-homeMid728 {
    float: right;
  }
}

@media (max-width: 1089px) {
  .a-d-homeTop468, .a-d-homeMid728 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 900px) {
  .a-d-homeMid728 {
    position: relative;
    margin-top: -35px;
  }
}

@media (max-width: 899px) {
  .a-d-homeMid728 {
    margin-top: -20px;
    margin-bottom: 15px;
  }
}

.a-d-homeMid728 {
  position: relative;
}
