.mct_bidheeShare {
    width: 100%;
    margin: 10px auto;
    position: relative;
    display: inline-block;
}

.mct_bidheeShare * {
    box-sizing: border-box;
}

.mct_bidheeShare_container {
    display: flex;
}

.mct_bidheeShare_counter {
    font-size: 45px;
    line-height: 45px;
    font-family: Helvetica neue, arial;
    font-weight: 700;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: #ED1C24;
    padding-right: 20px;
    margin-right: 20px;
    text-align: center;
}

.mct_bidheeShare_counter div {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    bottom: 2px;
    /*font-weight: 100;*/
    color: #000;
    font-weight: bold;
}

.mct_bidheeShare_buttons {
    height: 100%;
    width: 100%;
}

.mct_bidheeShare_buttons a {
    margin-right: 10px;
    float: left;
    margin-top: 15px;
}

.mct_bidheeShare_buttons a:hover {
    border-radius: 5px;
}

.bidheeShare_btn {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px 5px 32px;
    position: relative;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.07);
    font-family: Helvetica;
    font-weight: bold;
    color: #fff;
    background: #2d2d2d;
    transition: All 0.3614s ease-in-out;
    -webkit-transition: All 0.3614s ease-in-out;
    -moz-transition: All 0.3614s ease-in-out;
    -o-transition: All 0.3614s ease-in-out;
}

.bidheeShare_btn:hover {
    color: #fff !important;
}

.bidheeShare_btn:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
}

.bidheeShare_btn.facebook {
    background: #3F51B5;
}

.bidheeShare_btn.facebook:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M22.439%2010.95h4v-4.95h-4c-3.311%200-6%202.92-6%206.5v2.5h-4v4.97h4v12.03h5v-12.03h5v-4.97h-5v-2.55c0-.86.532-1.5%201-1.5z%22%2F%3E%3C%2Fsvg%3E') no-repeat left;
}

.bidheeShare_btn.twitter:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M26.67%209.38c-.779.35-1.63.58-2.51.69.9-.54%201.6-1.4%201.92-2.42-.85.5-1.78.87-2.78%201.06-.8-.85-1.94-1.38-3.19-1.38-2.42%200-4.379%201.96-4.379%204.38%200%20.34.04.68.11%201-3.64-.18-6.86-1.93-9.02-4.57-.38.65-.59%201.4-.59%202.2%200%201.52.77%202.86%201.95%203.64-.72-.02-1.39-.22-1.98-.55v.06c0%202.12%201.51%203.89%203.51%204.29-.37.1-.75.149-1.15.149-.28%200-.56-.029-.82-.08.56%201.74%202.17%203%204.09%203.041-1.5%201.17-3.39%201.869-5.44%201.869-.35%200-.7-.02-1.04-.06%201.94%201.239%204.24%201.97%206.71%201.97%208.049%200%2012.45-6.67%2012.45-12.45l-.01-.57c.839-.619%201.579-1.389%202.169-2.269z%22%2F%3E%3C%2Fsvg%3E') no-repeat left;
}

.bidheeShare_btn.google:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%3Ctitle%3ESVG-white%2Fgoogle_plusone_share%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cpath%20d%3D%22M12%2015v2.4h3.97c-.16%201.03-1.2%203.02-3.97%203.02-2.39%200-4.34-1.98-4.34-4.42s1.95-4.42%204.34-4.42c1.36%200%202.27.58%202.79%201.08l1.9-1.83c-1.22-1.14-2.8-1.83-4.69-1.83-3.87%200-7%203.13-7%207s3.13%207%207%207c4.04%200%206.72-2.84%206.72-6.84%200-.46-.05-.81-.11-1.16h-6.61zm15%200h-2v-2h-2v2h-2v2h2v2h2v-2h2v-2z%22%20sketch%3Atype%3D%22MSShapeGroup%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E') no-repeat left
}

.bidheeShare_btn.linkedin:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%3Ctitle%3Eicons%2FSVG%2Flinkedin%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cpath%20d%3D%22M26%2025.963h-4.186v-6.55c0-1.562-.027-3.571-2.175-3.571-2.179%200-2.511%201.702-2.511%203.46v6.661h-4.181v-13.468h4.012v1.841h.058c.558-1.059%201.924-2.175%203.96-2.175%204.239%200%205.022%202.789%205.022%206.416v7.386zm-17.771-15.308c-1.344%200-2.429-1.087-2.429-2.428%200-1.34%201.084-2.427%202.429-2.427%201.339%200%202.426%201.087%202.426%202.427%200%201.341-1.087%202.428-2.426%202.428zm-2.096%201.84h4.19v13.468h-4.19v-13.468z%22%20sketch%3Atype%3D%22MSShapeGroup%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E') no-repeat left;
}

.bidheeShare_btn.pinterest:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2032%2032%22%20title%3D%22Pinterest%22%20alt%3D%22Pinterest%22%20style%3D%22fill%3A%20white%3B%20width%3A%2032px%3B%20height%3A%2032px%3B%22%3E%3Cg%3E%3Cpath%20d%3D%22M15.06%2024.81c2.22%201.69%206.29.67%208.04-.84%202.53-2.17%203.7-6.57%203.33-10.06-.42-3.9-4.04-7.34-8.32-7.82-6.58-.74-12.57%203.32-12.61%209.77-.02%203.04.95%204.95%203.6%206.01%201.81-1.81-.34-2.99-.56-5.03-.56-5.42%205.84-10.64%2011.51-7.26%203.96%202.35%203.28%2012.44-1.52%2013.41-.96.19-2.16-.11-2.63-.56-2.28-2.16%201.89-5.95.55-9.08-1.16-2.72-4.49-.54-4.85%201.81-.19%201.28.41%202.51.42%203.63.01%202.66-1.65%206.29-2.08%208.94-.16%201.03-.31%203.15-.07%204.23l-.04.04h1.74c1.22-2.08%202.05-5.21%202.67-7.89.38-.29.52.46.82.7z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat left;
}

.bidheeShare_btn.pinterest {
    background: rgb(203, 32, 39);
}

.bidheeShare_btn.buffer:before {
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2032%2032%22%20title%3D%22Buffer%22%20alt%3D%22Buffer%22%20class%3D%22at-icon%20at-icon-buffer%22%20style%3D%22fill%3A%20white%3B%20width%3A%2032px%3B%20height%3A%2032px%3B%22%3E%3Cg%3E%3Cpath%20d%3D%22M15.998%2017.617L5.113%2011.1l10.904-6.545%2010.885%206.514z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M15.99%2023.1L5.105%2016.582%208.24%2014.7l7.756%204.654%207.85-4.628%203.05%201.826z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M15.982%2028.54L5.098%2022.02l3.134-1.88%207.756%204.653%207.85-4.63%203.05%201.827z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat left;
}

.bidheeShare_btn.twitter {
    background: #2196F3;
}

.bidheeShare_btn.linkedin {
    background: #00589E;
}

.bidheeShare_btn.google {
    background: #F44336;
}

.bidheeShare_mct {
    position: absolute;
    right: 0px;
    top: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-decoration: none;
    padding: 2px 4px;
    font-family: cursive;
    font-size: 9px;
}

.mct_bidheeShare_counter > div {
    text-align: center;
}

@media screen and (max-width: 479px) {
    .mct_bidheeShare_container {
        flex-direction: column;
    }

    .mct_bidheeShare_counter {
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0px;
        margin: 0px;
        padding-bottom: 20px;
        font-size: 39px;
        line-height: 39px;
    }

    .mct_bidheeShare_counter div {
        font-size: 17px;
        line-height: 17px;
    }

    .bidheeShare_btn_text {
        display: none
    }

    .mct_bidheeShare_buttons a {
        width: 32px;
        height: 32px;
        float: none;
        display: inline-block;
        text-align: center;
    }

    .mct_bidheeShare_buttons a:hover {
        margin-top: 15px;
    }

    .mct_bidheeShare_buttons {
        text-align: center
    }

    .bidheeShare_btn {
        padding-right: 0px;
        margin-right: 5px !important;
    }
}
