.inner-section p {
    font-size: 1.1em;
    line-height: 1.9em;
}

a.go-to-home {
    color: #1488ca;
}

a.go-to-home:hover {
    color: #000000;
}

.thought-title-one img {
    border-radius: 100px !important;
}

.recent-news h1 a {
    font-size: 50px !important;
    color: #000;
    line-height: 1.4em;
}

.news-caption h1 a {
    font-size: 50px !important;
    color: #FFF;
}

.single-page h3 a {
    line-height: 1.4em !important;
    color: #000;
    font-size: 32px
}

.first-one h1 a {
    font-size: 30px !important;
    color: #000;
    line-height: 1.4em !important;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 15px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.recent-news a img {
    margin: 0 auto;
}

.news-highlights {
    background: #DEDEDE;
    padding: 10px 0 10px 25px;
}

.no-image-table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 160px;
    font-size: 24px;
    width: 100%;
    text-align: center;
    line-height: 28px;
}

.no-image-table-related {
    border-collapse: collapse;
    border-spacing: 0;
    height: 140px;
    font-size: 24px;
    width: 100%;
    text-align: center;
    line-height: 28px;
}

.no-image-table-related a, .no-image-table a {
    color: #aeaeae;
}

#error-message, .registration-form .msg-error, .register-error {
    color: #F00;
    text-align: center;
    font-size: 11px;
}

.loading-on-submit {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5) url("../images/loading.svg") no-repeat 108px;
    z-index: 5;
}

/*Remove dotted outline*/
a {
    outline: none !important;
}

a img {
    outline: none !important;
}

img {
    border: 0 !important;
}

.left-on .headline-time {
    background: #f9f9f9;
}

.cover-news.news-on .add-container .img-responsive {
    margin: 0 auto;
}

.local-time-block > span {
    line-height: 40px;
    color: #FFF;
    font-size: 12px;
}

.col-sm-4.part-ent.related-news-single h3 {
    padding-bottom: 15px !important;
}

.tag-line {
    font-size: 14px;
    background: #F00;
    width: 100%;
    padding: 5px 15px;
    color: #fff;
}

.recent-news > span.tag-line {
    font-size: 16px;
    background: #F00;
    width: 100%;
    padding: 5px 15px;
    color: #fff;
}

span.author-name {
    display: block;
    font-size: 19px;
    color: #787878;
    padding-bottom: 10px;
}

.author-location {
    background: #f8f8f8;
    padding: 5px 15px;
}

span.media-social > a {
    display: inline;
}

.local-time-block {
    text-align: center;
}

.AuthorBlockCat span a {
    color: #787878;
    font-size: 14px;;
}

.inner-featured-image {
    padding-bottom: 15px;
}

.AuthorBlockCat {
    text-align: center;
    padding-top: 5px;
}

div#newsContent p {
    color: #444 !important;
}

.links-top-block {
    float: right;
}

.links-top-block a {
    padding: 0 10px;
    color: #FFF;
    text-decoration: none;
}

.image-category-page img, .mid-one img, img.featured-image {
    width: 100%;
}

.nagarik-show.section {
    margin-bottom: 25px;
}

.video-container {
    padding: 20px 0 10px 0;
}

a.ytp-watermark.yt-uix-sessionlink {
    display: none !important;
}

.modal-backdrop {
    background: #FFF !important;
    opacity: 1 !important;
}

.skip-ad .modal.in .modal-dialog {
    top: 20px;
}

.skip-ad .modal-content {
    border: none;
    background: #FFF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.skip-ad .skip-ad-top-logo {
    width: 295px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.skip-ad .modal-footer a {
    color: #1488CA;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.skip-ad .modal-footer a:hover {
    color: #000;
}

.box-layout > div:nth-child(3n+1) {
    clear: left;
}

/*!*CSS for Dashain Banner *!*/
/*body {*/
/*background: url('../images/dashain-bg.jpg') top center no-repeat fixed;*/
/*}*/

/*CSS for Tihar Banner*/
/*body {*/
/*background: url(../images/tihar-bg.jpg) bottom center fixed;*/
/*}*/
