@charset "utf-8";

@media (min-width: 1200px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .title-second {
        width: 29.33%;
        box-sizing: border-box;
    }

    .title-third {
        width: 28%;
    }

    .single-page {
        width: 71%;
    }

    .news-on .left-on {
        width: 71%;
    }

    .small-img {
        width: auto;
        padding-right: 0;
    }

    .double-line {
        width: 72.666667%;
    }

    .recent-news {
        text-align: center;
        background: #f5f5f5;
        -moz-box-shadow: 0 0 10px #ccc;
        -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 10px #ccc;
        padding: 30px 54px;
        border-bottom: 1px solid #dbdbdb

    }

    .sports-add .sports-caption {
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        text-align: center;
    }

}

@media (max-width: 1024px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .video-sub-news .news-list-detail {
        text-align: left;
    }

    .news-list-detail p, .news-list-detail p a {
        font-size: 23px;
        line-height: 21px;
    }

    .artha-section .travel-add {
        position: static;
        text-align: center;
    }

    .blog .blog-news-group, .img-on, .add-sect {
        padding-bottom: 20px;
    }

    .sports-add .sports-caption {
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        text-align: center;
    }

}

@media (max-width: 1024px) and (min-width: 769px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .head-wrapper .navbar-wrapper .navbar-inverse .navbar-nav li a {
        padding: 10px 8px;
    }

    .wrapper-menu .navbar-wrapper .navbar-inverse .navbar-nav li a {
        padding-right: 0px;
    }

    .news-caption {
        left: 7%;
        bottom: 5%;
    }

    .sports-add .sports-caption {
        bottom: 30px;
        left: 5%;
    }

    .right-tag .small-img {
        width: auto;
    }

    .cover-news .title-one, .politic-section .sec-one, .social-section .social-left-one, .social-section .social-right-one, .art-section, .art-section .art-left, #video .large-video, .interview-section .interview-left-one, .interview-section .interview-right-one, .sports-section .sport-left-item, .feature-section, .feature-section .photo-feature, .video-sub-news {
        width: 100%;
        margin-bottom: 30px;
    }

    .next-section .next-right {
        text-align: center;
    }

    .cover-news .title-one img, .sec-one img, .sport-left-item img {
        float: left;
        width: 50%;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .title-second, .title-third,
    .sec-two, .sec-three,
    .politic-section .sec-two,
    .politic-section .sec-three,
    .artha-section .artha-leftside,
    .sport-mid-item,
    .sport-right-item,
    .interview-item-left img, .left-on {
        width: 50%;
    }

    .cover-news .title-one h1, .politic-section .sec-one .headline h2, .sport-left-item h3 {
        margin-top: 0;
    }

    .cover-news .headline, .sec-one .headline {
        width: 50%;
        float: right;
    }

    .img-on, .detail-on, .next-section .next-right, .next-section .next-left {
        width: 100%
    }

    .part-ent, .thought-section .thought-title-one, .artha-section .artha-middleside {
        width: 50%;
        margin-bottom: 20px;
    }

    .social-section .social-right-one, .interview-section .interview-right-one, .art-section, #video {
        text-align: center;
    }

    .politic-section .sec-one:after, .politic-section .heading:after {
        display: block;
        content: '';
        clear: both;
    }

    #video .large-video h3 {
        text-align: left;
    }

    .col-sm-4.search-bar-section {
        width: auto;
        float: right;
    }

    .nav-top-head {
        float: left;
        width: auto;
    }

    .sports-add .sports-caption {
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        text-align: center;
    }

}

@media (max-width: 992px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .news-list-video {
        display: none
    }

    .news-list-detail {
        width: 100%;
    }

}

@media (max-width: 992px) and (min-width: 769px ) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .top-head {
        padding-bottom: 20px;
    }

    .feature-section .slider-feature, .feature-section .slider-feature img {
        width: 100%;
    }

    .feature-section .feature-blog, .feature-section .feature-add {
        width: 50%;
    }

    .news-list-detail p, .news-list-detail p a {
        padding-bottom: 20px;
    }

    .sports-add .sports-caption {
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        text-align: center;
    }

}

@media (min-width: 769px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .header .navbar {
        height: auto !important;
        margin-bottom: 0;
    }

    footer .other-product {
        width: 48%;
    }

    footer .subcribe {
        width: 35.33333333%;
    }

    .next-left {
        width: 71%;
    }

    .next-right {
        width: 29%;
    }

    .sports-add .sports-caption {
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        text-align: center;
    }

}

@media (max-width: 768px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .photo-feature .carousel-caption h3 {
        font-size: 25px;
    }

    .cover-news,
    .entertaint,
    .politic-section,
    .social-section,
    .interview-section,
    .thought-section,
    .sports-section,
    .art-section,
    .artha-section,
    .feature-section,
    .news-on {
        text-align: left;
    }

    .title-third .right-head {
        margin-left: 5%;
        margin-right: 5%;
    }

    .title-second, .title-third {
        padding-top: 50px;
    }

    .feature-section .blog {
        padding-top: 50px;
    }

    .social-section .social-right-one {
        padding-top: 0;
    }

    .artha-section .travel-add {
        display: none;
    }

    .artha-section .artha-leftside {
        padding-bottom: 20px;
    }

    .artha-section .phar-title p {
        margin-top: 10px;
    }

    .artha-section .artha-middleside .phar-title, .sports-section .mid-one, .sports-section .sport-right-item, .sports-section .line-caption, .politic-section .summary-caption, .blog .blog-caption {
        padding-top: 0px;
    }

    .artha-section .phar-title {
        padding-top: 0 !important;
    }

    .artha-section h3 {
        margin-top: 20px;
    }

    .recent-news h1 {
        font-size: 40px;
    }

    .news-caption h1 a {
        font-size: 30px;
    }

    .news-caption {
        left: 15%;
        bottom: 5%;
    }

    .sports-add .sports-caption {
        bottom: 0;
        left: 5%;
        right: 5%;
    }

    #footer .footer-menu {
        padding-bottom: 10px;
    }

    #footer .subcribe {
        padding-top: 10px;
    }

    #footer .other-product {
        background: #343434;
        padding: 5px 0;
    }

    .other-product .product-one {
        margin-bottom: 10px !important;
    }

    .head-wrapper .navbar-inverse .navbar-toggle, .wrapper-menu .navbar-inverse .navbar-toggle {
        border-color: #333;
        box-shadow: inherit;
        border: none;
        padding: 0;
        float: left;
        margin-left: 20px;
    }

    header .top-head {
        padding-bottom: 15px;
    }

    .top-head .head-wrapper {
        padding-top: 10px;
    }

    .feature-section .blog-news-group {
        width: 50%;
        float: left;
    }

    .recent-news, .interview-item-right, .main-cover, .add-section, .social-section, .interview-section, .pay-add, .entertaint, .middle-pic, .politic-section, .add-section, .cover-news, .purbeli-section, .thought-section, .art-section, .full-cover-add, .artha-section, .sports-add, .sports-section, .section, .feature-section, .politic-section .sec-three {
        margin-top: 15px;
    }

    .social-item-right li, .new-summ li {
        list-style: none;
    }

    .wrapper-menu .navbar-header {
        padding: 10px;
    }

    .title-third-news .double-line {
        text-align: left;
    }

    .title-third-news .small-img {
        width: auto;
    }

    .title-third-news .right-tag {
        border-bottom: #777777 dashed 1px;
        margin-bottom: 20px;
    }

    .photo-feature .carousel img {
        width: 100%;
    }

    .purbeli-sub-news .block-news-detail {
        margin-top: 20px
    }

    .sports-section .line-caption {
        padding-top: 0;
        text-align: left;
    }

    .purbeli-sub-news .block-news-detail p {
        margin-bottom: 0;
    }

    .middle-pic .middle-caption {
        right: 0;
        left: 0;
        text-align: center;
    }

    .middle-pic .middle-caption h1 a, .sports-add .sports-caption h1 a {
        font-size: 107px;
    }

    #video .col-sm-4.pull-right {
        float: none !important;
    }

    .news-list-detail p, .next-section .next-right, .main-next {
        text-align: center;
    }

    .head-wrapper .navbar-header .navbar-toggle {
        margin-left: 10px;
    }

    .bharkharai {
        bottom: 100px;
        top: auto;
    }

    .title-second, .title-third {
        padding-top: 0;
    }

    .title-third .right-head {
        margin: 0;
    }

    .title-third .title-third-news .nav-tabs > li > a {
        font-size: 1em;
    }

    .middle-pic .middle-caption h1 a, .sports-add .sports-caption h1 a {
        font-size: 40px;
    }

    .sports-add .sports-caption {
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        text-align: center;
    }

}

@media (max-width: 768px)and (min-width: 480px) {
    .sports-add .sports-caption h2 a {
        font-size: 30px;
    }

    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .item-img {
        float: left;
        width: 130px;
    }

    .item-summary {
        float: left;
        width: calc(100% - 130px);
        margin-bottom: 20px;
        text-align: left;
    }

    .title-third:after, .title-third-add:last-child {
        display: block;
        content: '';
        clear: both
    }

    .interview-section .interview-left-one, .artha-section, .title-third-news .right-tag {
        padding-left: 10px;
        padding-right: 10px
    }

    .phar-title {
        float: right;
        width: 130px;
    }

    .ath-title {
        float: left;
    }

    .phar-title {
        float: left;
        width: calc(100% - 130px);
        text-align: left;
    }

    .artha-section h3 {
        text-align: left
    }

    .artha-middleside h3 {
        padding-top: 20px;
    }

}

@media (max-width: 480px) {
    .sports-add .sports-caption h2 a {
        font-size: 16px;
    }

    .photo-feature .carousel-caption h3 {
        font-size: 14px;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .cartoon-block {
        margin-top: 30px;
    }

    .title-third .right-head {
        margin-left: 5%;
        margin-right: 5%;
    }

    .sports-add h2 {
        font-size: 14px;
    }

    .sports-add .sports-caption {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }

    .sports-add .sports-caption h1 a, .middle-pic .middle-caption h1 a {
        font-size: 20px;
    }

    .sports-caption h1 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .sports-caption h2 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .subcribe a {
        float: none;
    }

    .sub-block img {
        margin-top: 10px;
    }

    .inner-left .comment-side input[type="text"], .comment-side textarea {
        width: 100%;
    }

    .cover-news .title-third .right-head a {
        font-size: 20px;
    }

    .recent-news p {
        font-size: 25px;
    }

    .top-head .head-wrapper {
        padding-top: 10px;
    }

    #search-field input[type="search"] {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 8px;
    }

    /*css added*/
    .recent-news {
        text-align: left;
        padding: 10px !important;
    }

    .recent-news p {
        width: 100%;
        font-size: 18px;
    }

    .cover-news,
    .entertaint,
    .politic-section,
    .social-section,
    .interview-section,
    .thought-section,
    .sports-section,
    .art-section,
    .artha-section,
    .feature-section,
    .news-on {
        text-align: left;
    }

    p, li, div, .right-tag h5 a, .line-caption h3 a {
        text-align: left;
    }

    .new-summ ul {
        margin-left: 0;
        padding-left: 0;
    }

    .hovereffect a.info {
        margin: 0;
    }

    .mid-one p {
        text-align: left;
    }

    .interview-section .interview-left-one {
        padding: 10px;
        margin: 10px;
    }

    .bharkharai a {
        font-size: 16px;
        padding: 10px;
        border-radius: 15px 0 0 1px;

    }

    .thought-title-one {
        width: 100%;
    }

    .interview-group .item-img {
        padding-bottom: 15px;
        float: left;

    }

    .inner-section h1 a {
        color: #000000;
        font-size: 30px;
        padding-left: 15px;
    }

    .sign-in.pull-left {
        padding-left: 0;
        padding-top: 20px;
    }

    .head-right .pull-right {
        float: left !important;
    }

    .block-news-image img {
        float: left;
        padding: 0 10px 10px 0
    }

    .mid-one img {
        float: left;
        padding: 0 10px 10px 0
    }

    .ath-title img {
        float: left;
        padding: 0 10px 10px 0;
    }

    .photo-feature .carousel-caption p {
        display: none;
    }

    .main-header {
        background: #535453;
        height: 100px !important;
    }

    .main-header .logo {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        margin: 7px 0 0;
        position: relative;
        text-align: center;
    }

    .main-header .logo h1 {
        margin-bottom: 10px !important;
        margin-top: 11px !important;
    }

    .sign-in a {
        color: #fff !important;
    }
}

@media (max-width: 320px) {
    .mobile-only {
        display: block;
    }

    .photo-feature .carousel-caption h3 {
        font-size: 14px;
    }

    .sports-add .sports-caption h2 a {
        font-size: 16px;
    }

    .cartoon-block {
        margin-top: 30px;
    }

    .title-third .right-head {
        margin-left: 5%;
        margin-right: 5%;
    }

    .sports-add h2 {
        font-size: 24px;
    }

    .sports-add .sports-caption {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        text-align: center;
    }

    .sports-add .sports-caption h1 a, .middle-pic .middle-caption h1 a {
        font-size: 20px;

    }

    .sports-add .sports-caption h1 a, .middle-pic .middle-caption h1 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .subcribe a {
        float: none;
    }

    .sub-block img {
        margin-top: 10px;
    }

    .inner-left .comment-side input[type="text"], .comment-side textarea {
        width: 100%;
    }

    .cover-news .title-third .right-head a {
        font-size: 20px;
    }

    .recent-news p {
        font-size: 25px;
    }

    .top-head .head-wrapper {
        padding-top: 10px;
    }

    #search-field input[type="search"] {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 8px;
    }

    /*Css added*/
    .recent-news {
        text-align: left;
        padding: 10px !important;
    }

    .recent-news p {
        width: 100%;
        font-size: 18px;
    }

    .cover-news,
    .entertaint,
    .politic-section,
    .social-section,
    .interview-section,
    .thought-section,
    .sports-section,
    .art-section,
    .artha-section,
    .feature-section,
    .news-on {
        text-align: left;
    }

    .sports-add .sports-caption {
        left: 5%;
        right: 5%;
    }

    .sports-add .sports-caption h1 a, .middle-pic .middle-caption h1 a {
        font-size: 30px;
    }

    .sports-add .sports-caption h2 a {
        font-size: 16px;
        margin-top: 10px;
    }

    .cover-news .title-second h2 span, #video .heading span, #purbeli-pachimeli .purbeli-section .heading span, .heading span {
        padding-right: 0;
        padding-left: 0;
    }

    .photo-feature .carousel-caption {
        text-align: center;
    }

    .photo-feature .carousel-caption h3 {
        font-size: 12px;
        margin: 0;
        padding-top: 15px;
    }

    .photo-feature .carousel-caption p {
        font-size: 9px;
        margin-bottom: 0;
    }

    .new-summ ul {
        margin-left: 0;
        padding-left: 0;
    }

    .hovereffect a.info {
        margin: 0;
    }

    .mid-one p {
        text-align: left;
    }

    p, li, div, .right-tag h5 a, .line-caption h3 a {
        text-align: left;
    }

    .bharkharai a {
        font-size: 16px;
        padding: 10px;
        border-radius: 15px 0 0 15px;
    }

    .bharkharai-wrap li {
        padding: 2px;
        margin: 2px;
        font-size: 12px;
    }

    .thought-title-one {
        width: 100%;
    }

    .interview-group .item-img {
        padding-bottom: 15px;
    }

    .cover-news .title-second h2 span, #video .heading span, #purbeli-pachimeli .purbeli-section .heading span, .heading span {
        padding-right: 0;
        padding-left: 0;
    }

    .inner-section h1 a {
        color: #000000;
        font-size: 30px;
        padding-left: 15px;
    }

    .sign-in.pull-left {
        padding-left: 0;
        padding-top: 20px;
    }

    .head-right .pull-right {
        float: left !important;
    }

    ._56q9 {
        max-width: 290px;
    }

    .head-right .pull-right {
        float: left !important;
    }

    .mid-one img {
        float: left;
        padding: 0 10px 10px 0;
    }

    .block-news-detail img {
        float: left;
        padding: 0 10px 10px 0;
    }

    .photo-feature .carousel-caption p {
        display: none;
    }

    .ath-title img {
        float: left;
        padding: 0 10px 10px 0;
    }

    .main-header {
        background: #535453;
        height: 100px !important;
    }

    .main-header .logo {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        margin: 7px 0 0;
        position: relative;
        text-align: center;
    }

    .main-header .logo h1 {
        margin-bottom: 10px !important;
        margin-top: 11px !important;
    }

    .sign-in a {
        color: #fff !important;
    }
}

/*Social Icons footer*/

.icon-link {
    width: 45px;
    height: 45px;
    background-color: #666;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin: 5px;
    box-sizing: content-box;
}

.icon-link.fill.facebook {
    background-color: #3b5998;
}

.icon-link.fill.facebook:hover {
    background-color: #fff;
}

.icon-link.fill.facebook:hover .fa-facebook {
    color: #3b5998;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.tumblr {
    background-color: #32506d;
}

.icon-link.fill.tumblr:hover {
    background-color: #fff;
}

.icon-link.fill.tumblr:hover .fa-tumblr {
    color: #32506d;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.linkedin {
    background-color: #007bb6;
}

.icon-link.fill.linkedin:hover {
    background-color: #fff;
}

.icon-link.fill.linkedin:hover .fa-linkedin {
    color: #007bb6;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.twitter {
    background-color: #00aced;
}

.icon-link.fill.twitter:hover {
    background-color: #fff;
}

.icon-link.fill.twitter:hover .fa-twitter {
    color: #00aced;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.google-plus {
    background-color: #dd4b39;
}

.icon-link.fill.google-plus:hover {
    background-color: #fff;
}

.icon-link.fill.google-plus:hover .fa-google-plus {
    color: #dd4b39;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.reddit {
    background-color: #8bbbe3;
}

.icon-link.fill.reddit:hover {
    background-color: #fff;
}

.icon-link.fill.reddit:hover .fa-reddit {
    color: #8bbbe3;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.youtube {
    background-color: #df1c31;
}

.icon-link.fill.youtube:hover {
    background-color: #fff;
}

.icon-link.fill.youtube:hover .fa-youtube {
    color: #df1c31;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.pinterest {
    background-color: #b81621;
}

.icon-link.fill.pinterest:hover {
    background-color: #fff;
}

.icon-link.fill.pinterest:hover .fa-pinterest {
    color: #b81621;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.github {
    background-color: #444;
}

.icon-link.fill.github:hover {
    background-color: #fff;
}

.icon-link.fill.github:hover .fa-github {
    color: #444;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.envelope {
    background-color: #333;
}

.icon-link.fill.envelope:hover {
    background-color: #fff;
}

.icon-link.fill.envelope:hover .fa-envelope {
    color: #333;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.fill.soundcloud {
    background-color: #f50;
}

.icon-link.fill.soundcloud:hover {
    background-color: #fff;
}

.icon-link.fill.soundcloud:hover .fa-soundcloud {
    color: #f50;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link.brand {
    background-color: #fff;
}

.icon-link.brand .fa {
    color: #006FC2;
}

.icon-link.round {
    border-radius: 50%;
}

.icon-link.round-corner {
    border-radius: 5px;
}

.icon-link:hover {
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    height: 41px;
    line-height: 41px;
    width: 41px;
    background-color: #fff;
}

.icon-link:hover.facebook {
    border: 2px solid #3b5998;
}

.icon-link:hover.tumblr {
    border: 2px solid #32506d;
}

.icon-link:hover.linkedin {
    border: 2px solid #007bb6;
}

.icon-link:hover.twitter {
    border: 2px solid #00aced;
}

.icon-link:hover.google-plus {
    border: 2px solid #dd4b39;
}

.icon-link:hover.reddit {
    border: 2px solid #8bbbe3;
}

.icon-link:hover.youtube {
    border: 2px solid #df1c31;
}

.icon-link:hover.pinterest {
    border: 2px solid #b81621;
}

.icon-link:hover.github {
    border: 2px solid #444;
}

.icon-link:hover.envelope {
    border: 2px solid #333;
}

.icon-link:hover.soundcloud {
    border: 2px solid #f50;
}

.icon-link:hover .fa {
    line-height: 45px;
}

.icon-link:hover .fa-facebook {
    color: #3b5998;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-tumblr {
    color: #32506d;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-linkedin {
    color: #007bb6;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-twitter {
    color: #00aced;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-google-plus {
    color: #dd4b39;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-reddit {
    color: #8bbbe3;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-youtube {
    color: #df1c31;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-pinterest {
    color: #b81621;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-github {
    color: #444;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-envelope {
    color: #333;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-soundcloud {
    color: #f50;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.icon-link .fa {
    color: #fff;
    line-height: 45px;
    font-size: 28px;
}

/* Social plugins */
.stButton .st-twitter-counter, .stButton .st-facebook-counter {
    height: auto !important
}

.stButton .stButton_gradient {
    height: auto !important
}

.stButton .st-pinterest-counter, .stButton .st-email-counter {
    height: auto !important
}
