/*
Theme Name: Nariknews
Theme URI: Nariknews.com
Description: Description
Version: 1.0.0
Tags: html, html5, css, css3, Bootstrap
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

.clear {
    clear: both;
}

a:hover {
    -webkit-transition: all 0.8ms ease;
    -moz-transition: all 0.8ms ease;
    -ms-transition: all 0.8ms ease;
    -o-transition: all 0.8ms ease;
    transition: all 0.8ms ease;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    color: #000000;
    text-rendering: optimizeLegibility;
    line-height: 1.7em;
    font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

a {
    color: #000;
}

a:focus {
    outline: thin dotted;
    color: #a5a5a5;
    text-decoration: none;
}

a:hover, a:active, a .heading:hover {
    outline: 0;
    color: #1488ca !important;
    text-decoration: none;
}

a img {
    border: 0;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

blockquote {
    border: none;
    font-weight: 300;
    font-size: 1.1em;
    padding-left: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
}

p, li, div, .right-tag h5 a, .line-caption h3 a {
    font-size: 15px;
    color: #787878;
    line-height: 1.7em;
}

p a, li a {
    color: #787878;
}

h2, h3 {
    font-size: 20px
}

.middle-pic .middle-caption h1 a, .sports-add .sports-caption h1 a, body h1 a {
    font-size: 80px;
    color: #fff;
}

.middle-pic .slide {
    position: relative;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    border: 1px solid #ccc;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
    color: #111;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
    padding: 3px;
}

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
    max-width: 100%;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
    width: 120px;
    background: #f0f0f0
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

#search-field {
    width: 120px;
    position: relative;
}

#search-field i {
    position: absolute;
    left: 6px;
    top: 3px;
    color: #cfcecd;
}

#search-field input[type="search"] {
    width: 112px;
    padding-left: 26px;
    background: #f0f0f0
}

/*--------------------------------------------------------------
# CUSTOM COMMON RESET
--------------------------------------------------------------*/
.news-caption h1 a:hover, .middle-pic .middle-caption h1 a:hover, .sports-add .sports-caption h1 a:hover, .cover-news .title-one ul a:hover, .new-summ li a:hover, .news-list-detail p a:hover {
    color: #1488ca;
}

.recent-news, .main-cover, .add-section, .social-section, .interview-section, .pay-add, .entertaint, .middle-pic, .politic-section, .add-section, .cover-news, .thought-section, .art-section, .full-cover-add, .artha-section, .sports-add, .sports-section, .section, .feature-section {
    margin-top: 20px;
}

.heading {
    height: 23px;
    line-height: 22px;
}

.main-heading a {
    font-size: 40px !important;
    color: #000000;
}

.cover-news .title-second h2, #video .heading, #purbeli-pachimeli .purbeli-section .heading, .heading {
    font-size: 30px;
    color: #000;
    margin-top: 0px;
    background: url(../images/heading-bg.png) no-repeat right center #e5e4e4;
    line-height: 28px !important;
    margin-bottom: 20px;
}

.heading-link:hover .heading {
    background-image: url(../images/heading-bg-hover.png);
    background-color: #efeeee;
}

.cover-news .title-second h2 span, #video .heading span, #purbeli-pachimeli .purbeli-section .heading span, .heading span {
    background: #fff;
    padding-right: 12px;
}

.block-news-detail h3 {
    margin-top: 0;
}

/*--------------------------------------------------------------
# Basic css
--------------------------------------------------------------*/

header {
    background: #212121;
}

header .head-right .sign, header .head-right .subscribe {
    margin-right: 20px;
    color: #fff;
}

header .head-right i {
    padding-right: 5px;
    font-size: 14px;
}

.head-right .fa-search {
    font-size: 14px;
}

header .head-right a {
    text-decoration: none;
}

.head-wrapper .navbar-wrapper .navbar-inverse {
    background: none;
    border-bottom: none;
    font-family: 'Open Sans', sans-serif;
    height: auto !important;
}

header .head-right p {
    margin-bottom: 0;
}

.head-wrapper .navbar-wrapper .navbar-inverse .active a {
    font-family: 'Open Sans', sans-serif;
    background: #535453 !important;
    color: #fff !important;
}

header .head-right {
    padding-top: 4px;
    font-family: 'Open Sans', sans-serif;
}

header .top-head {
    /*padding-top: 3px;*/
}

header .nav-section a:hover, header .nav-section a:active a {
    color: #000;
    text-shadow: 1px 0 0 #000000;
}

header .navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .nav-section li:nth-child(2) a, header .nav-section li:nth-child(3) a, header .nav-section li:nth-child(4) a {
    color: #fff !important;
}

.main-header {
    background: #535453;
    height: 150px;
}

.main-header .logo {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0 0 0;
    position: relative;

}

.main-header a {
    padding-right: 10px;
    font-size: 12px;
}

.main-header .date {
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding-left: 15%;
    margin-top: -10px;
}

span.categories-title {
    position: absolute;
    right: 195px;
    top: 17px;
    font-size: 24px;
    border-left: 1px solid #fff;
    padding: 0px 0 0 18px;
    line-height: 60px;

}

/*--------------------------------------------------------------
# wrapper-menu
--------------------------------------------------------------*/

.wrapper-menu .navbar-wrapper .navbar-inverse .navbar-nav li a {
    color: #fff;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper-menu .navbar-wrapper .navbar-inverse .navbar-nav .active a, .wrapper-menu .navbar-wrapper .navbar-inverse .navbar-nav a:hover {
    background: #1488ca;
    color: #fff !important;
}

.wrapper-menu h1 {
    margin-top: 0;
}

.navbar-inverse {
    margin-bottom: -10px;
}

/*--------------------------------------------------------------
# RECENT-NEWS
--------------------------------------------------------------*/

.recent-news h1 {
    text-align: center;
    margin-top: 10px;
}

.recent-news p {
    font-size: 22px;
    padding: 0;
    color: #58595b;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 28px;
}

.recent-news p a {
    color: #58595b;
}

/*--------------------------------------------------------------
# MAIN-COVER
--------------------------------------------------------------*/
.main-cover {
    max-width: 100%;
    position: relative;
}

.news-caption {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    text-align: center;
}

.news-caption h1 a {
    display: inline-block;
    color: #fff;
    text-align: center;
}

/*--------------------------------------------------------------
# COVER-NEWS
--------------------------------------------------------------*/
.cover-news .title-one h1 {
    color: #000;
}

.cover-news .title-one .tag {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.cover-news .title-one ul {
    -webkit-padding-start: 0;
    padding-left: 20px;
}

.cover-news .title-one p {
    margin-bottom: 5px;
}

.cover-news .title-one i {
    padding-right: 10px;
    font-size: 10px;
}

.cover-news .title-second h3, .cover-news .title-second h3 a {
    margin-top: 20px;
    color: #585858;
}

.cover-news .title-second p, .listed-main-news li {
    color: #686a6c;
    border-bottom: 1px solid #c5c5c4;
    padding: 6px 0;
}

.cover-news .title-second p a, .cover-news .listed-main-news li a {
    color: #686a6c;
}

.listed-main-news {
    padding: 0;
    list-style: none !important;
}

.title-second img {
    width: 100%;
    height: auto
}

.cover-news a {
    display: block
}

.cover-news h3 a {
    font-size: 20px;
}

.cover-news .title-second .tag-bottom {
    border-bottom: none;
}

.title-second .mid-tag {
    padding-bottom: 20px;
}

.cover-news .title-third .right-head ul, .news-on .right-on .right-head ul {
    padding-left: 0px;
    margin-top: -10px;
}

.right-tag {
    padding: 0 10px;
}

.cover-news .title-third .right-head li, .news-on .right-on .right-head li {
    float: left;
    list-style: none;
    width: 33.33%;
}

.cover-news .title-third .right-head a, .news-on .right-on .right-head a {
    text-decoration: none;
    padding: 10px 8px;
}

.cover-news .title-third .right-head .active a, .news-on .right-on .right-head .active a, .cover-news .title-third .title-third-news .right-head li a:hover, .news-on .right-on .title-third-news .right-head li a:hover, .title-third .right-tag, .right-on .right-tag,
.title-third .right-head .active a, .right-on .right-head .active a {
    background: none !important;
    color: #000 !important;
    border: none;
}

.cover-news .title-third .tag-two, .cover-news .title-third .right-head a, .news-on .right-on .tag-two, .news-on .right-on .right-head a {
    background: #f4f4f4;
    text-align: center;
    border-radius: 0;
}

.title-third .title-third-news .nav-tabs > li > a {
    border-right: 1px solid #dbdbdb;
    margin-right: 0;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1.3em;
}

.title-third .title-third-news .nav-tabs > li:last-child a {
    border-right: 0;
}

.title-third .right-tag, .title-third .right-head {
    padding-bottom: 15px;
    border-bottom: 0;
}

.title-third .right-tag p {
    line-height: 12px;
}

.right-tag .double-line h5 {
    margin: 0 0 5px 0;
}

.right-tag .double-line p, .right-tag .double-line p a {
    color: #787878;
}

.cover-news .title-third .title-third-add {
    padding-top: 20px;
}

.title-third .title-third-news {
    background: #fff;
    border: 1px solid #d7d7d7;
    padding: 0px
}

.entertaint .part-ent h3 {
    color: #000;
}

.entertaint .part-ent p {
    font-size: 16px;
}

.part-ent {

}

.part-ent .image-container .dummy-box {
    height: 165px;
    font-size: 24px;
    width: 100%;
    text-align: center;
    background: #f1f1f1;
    border-bottom: 1px solid #eee;
}

.part-ent .image-container .dummy-box h3 {
    margin: 0;
    padding: 20px 0 0 0;
    line-height: 121px;
}

p.headline-time {
    margin: 8px 0;
}

/*--------------------------------------------------------------
# middle-pic
--------------------------------------------------------------*/
.middle-pic {
    max-width: 100%;
    position: relative;
}

.middle-pic .middle-caption {
    position: absolute;
    right: 0%;
    left: 0;
    color: #fff;
    bottom: -20px;
    text-align: center;
}

/*--------------------------------------------------------------
# middle-pic
--------------------------------------------------------------*/

.politic-section .sec-one h2, .interview-section .interview-item-left h2, .art-section .art-left h2 {
    color: #000;
}

.interview-section .interview-item-left h2 {
}

.politic-section .sec-one p, .sec-two .summary-caption p, .sec-two .summary-caption-one p, .social-section .social-caption p, .interview-section .interview-item-left p {
    margin-bottom: 20px;
}

.blog-section .politic-section .summary-caption h2, .politic-section .summary-caption-one h2, .social-section .social-caption h2 {
    margin: 0 0 20px 0;
}

.blog-section {
    margin-top: 50px;
}

.sec-two .new-summ p, .social-section .social-summ p, .new-summ li {
    /*font-size: 15px;*/
    margin-bottom: 5px;
}

.new-summ ul {
    margin-left: 0;
    padding: 0;
}

.new-summ li {
    list-style: none;
    border-bottom: 1px solid #c5c5c4;
    padding: 6px 0;
}

.sec-two .new-summ i, .social-section .social-summ i, .news-on .social-summ i {
    padding-right: 10px;
    color: #3f96d0;
    font-size: 10px;
}

.sec-three .first-add {
    padding-bottom: 15px;
}

.social-right-one h1, .thought-section h1, .art-section h1 {
    margin: 0 0 20px;
    color: #000;
}

.social-left-one h1, .interview-left-one h1 {
    margin: 20px 0;
    padding: 0;
}

.social-section .social-right-one p, .social-section .social-right-one li, .news-on .social-right-one li {
    border-bottom: 1px solid #c5c5c4;
}

.social-item-pic {
    margin-bottom: 20px;
}

.thought-section p {
    text-align: center;
}

.social-right-one ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

.social-right-one li {
    padding: 10px 0;
    border-bottom: 1px solid #c5c5c4;
}

.interview-item-right .item-summary h3, .thought-section .thought-title-one h3 {
    margin-top: 0;
    color: #000;
}

.thought-title-one .AuthorBlockCat {
    padding-top: 10px;
    text-align: center;
}

.thought-title-one .AuthorBlockCat span a {
    color: #787878;
    font-size: 14px;

}

.social-right-one {
    margin-top: 20px;
}

.social-right-one-home {
    margin-top: 17px;
}

.interview-right-one {
    margin-top: 17px;
}

.interview-item-right .item-summary p, .interview-right-one img {
    margin-bottom: 20px;
}

.thought-section h1 {
    text-align: center;
    margin-bottom: 40px;
}

.thought-section .heading {
    background: url(../images/heading-bg.png) no-repeat right center #e5e4e4, url(../images/heading-bg1.png) no-repeat left center #e5e4e4
}

.thought-section .heading span {
    padding-left: 12px;
}

.thought-title-one {
    text-align: center;
    width: 20%;
}

.art-section .art-left p {
    font-size: 16px;
    border-top: 1px solid #B9B9B9;
}

.artha-section .artha-middleside p {
    margin-bottom: 30px;
}

.artha-section .artha-middleside h3, .sport-right-item .line-caption h3 {
    margin-top: 0;
}

.art-section .listed-main-news li {
    font-size: 16px;
}

.artha-section {
    position: relative;
}

.artha-section .travel-add {
    position: absolute;
    right: 0;
    bottom: 5%;
}

.sports-add {
    position: relative;
}

.sports-add .sports-caption p {
}

.sports-add .sports-caption h2 a {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    color: #fff !important;

}

.mid-one {
    float: left
}

.sport-mid-item .mid-one h4 {
    font-size: 15px;
    color: #000;
    margin-top: 20px;
}

.sport-right-item .line-caption {
    padding-left: 0;
}

.sport-right-item .row {
    padding-bottom: 20px;
}

/*--------------------------------------------------------------
# feature-section
--------------------------------------------------------------*/

/*##Additional Styles (required)##*/

.photo-feature #myCarousel .carousel-indicators {
    bottom: -130px;
    left: 0px;
    margin-left: 0px;
    width: 100%;
}

.photo-feature #myCarousel .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 90px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 4%;
    margin-top: 0;
    width: 22%;
}

.photo-feature #myCarousel .carousel-indicators li:last-child {
    margin-right: 0;
}

.photo-feature #myCarousel .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 90px;
    left: 0;
    width: 120px;
}

.photo-feature .carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    box-sizing: border-box;
    -webkitbox-sizing: border-box;
    text-align: left;
    bottom: 0;
}

.photo-feature .carousel-control.left {
    background: url(../images/pre.png) no-repeat;
    width: 49px;
    height: 92px;
    top: 30%;
    opacity: 1;
}

.photo-feature .carousel-control.right {
    background: url(../images/next.png) no-repeat;
    width: 49px;
    height: 92px;
    top: 30%;
    opacity: 1;
}

.photo-feature .carousel-caption h3 {
    text-shadow: 0;
    font-size: 25px;
    margin: 0
}

.photo-feature .carousel-caption p {
    font-size: 14px;
    text-shadow: 0;
    margin-bottom: 0;
    color: #eceaea;
}

.blog .blog-news-group {
    padding-bottom: 21px;
}

.blog-news-group .blog-caption h4 {
    font-size: 15px;
    color: #000;
    margin-top: 0;
}

.add-banner {
    margin-top: 35px;
}

.add-banner .add-part {
    margin-bottom: 20px;
}

.blog-caption h4 {
    font-size: 15px;
}

.blog-caption p {
    font-size: 16px;
    color: #787878;
}

/*--------------------------------------------------------------
# purbeli-section
--------------------------------------------------------------*/
.purbeli-section .main-new-purbeli-section {
    padding-bottom: 20px;
}

.purbeli-sub-news {
    border-top: 1px solid #dddddd;
    padding: 20px 0;
}

.block-news-detail {
    min-height: 150px;
}

.subnews-list {
}

.subnews-list ul.new-summ {
    margin: 0;
    padding: 0 0 0 15px;
}

.techonology-sub-news {
    padding: 0 0 25px 0;
    margin-bottom: 25px;
}

.health-sub-news {
}

.health-sub-news-block {
    margin-bottom: 20px;
    min-height: 140px;
}

.purbeli-sub-news .new-summ ul {
    margin-top: 20px !important;
}

.purbeli-sub-news .new-summ li {
    margin-bottom: 0px;

}

/*--------------------------------------------------------------
# video
--------------------------------------------------------------*/
.news-list-video {
    background: #e5e4e4;
    padding: 4px;
    margin-left: 15px;
}

.video-sub-news li {
    background-color: #e5e4e4;
    padding: 10px;
    border: 1px solid #e5e4e4;
    height: auto;
    margin-bottom: 16px;
    list-style: none;
}

.news-list-detail p, .news-list-detail p a {
    font-size: 17px;
    color: #737373;
}

.video-sub-news ul {
    padding-left: 0;
}

.news-list-video a:hover {
    color: #1488ca !important;
}

.video-sub-news {
    border: 1px solid #ccc;
    padding: 5px;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.subcribe span, .subcribe p, .subcribe a {
    font-family: 'Open Sans', sans-serif;
}

.subcribe a {
    float: left;
    display: inline-block;
}

.subcribe span {
    float: left;
    display: inline-block;
}

#footer h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

#footer p, #footer a, #footer, .bottom-footer span, #footer h4 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#footer ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

#footer ul a {
    text-transform: uppercase;
    font-size: 13px;
}

#footer .subscribe {
    padding-right: 0 !important;
}

#footer .footer-menu ul li {

    line-height: 20px;
}

#footer .other-product p {
    text-align: center;
    margin-bottom: 5px;
}

#footer .other-product p a {
    padding: 0 10px;
}

#footer .other-product .social-icon {
    margin-top: 30px;
    text-align: center
}

#footer .other-product .social-icon {
}

footer {
    padding: 20px 0;
    background: #585a5c;
}

.bottom-footer {
    background: #343333;
    padding: 20px 0;
}

#footer .sub-block {
    padding: 10px;
    color: #d6d7d7;
    font-weight: 700;
    text-transform: uppercase;
}

#footer .sub-block:first-child {
    border-bottom: 1px solid #838485;
    padding-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 31px;
}

#footer .sub-block ul {
    margin: 0;
    padding: 0;
}

#footer .sub-block ul li a {
    padding-left: 5px;
}

.bharkharai {
    position: fixed;
    right: 0;
    top: 395px;
    z-index: 99;
}

.bharkharai a {
    background: #1488ca;
    border-radius: 20px 0 0 20px;
    color: #f5f5f5;
    padding: 15px;
    font-size: 21px;
}

.bharkharai a:hover {
    color: #fff !important;
    opacity: 0.8;
}

.bharkharai-wrap li p {
    font-size: 14px;
}

.bharkharai-wrap li {
    border-bottom: #777777 dashed 1px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bharkharai-wrap li p a {
    color: #58595b;
    margin-bottom: 0;
}

.bharkharai-wrap li span {
    font-size: 10px;
    color: #383535;
    font-family: 'Open Sans', sans-serif;
}

.read-more-btn a {
    color: #fff !important;
    margin-top: 20px;
}

.list-bharkharai ul {
    padding-left: 5px;
}

.bharkharai-wrap .modal-dialog {
    width: 375px;
    max-width: 100%;
}

.bharkharai-wrap .modal-header {
    border: none;
}

.bharkharai-wrap .modal-header span {
    background: url(../images/close.png) no-repeat;
    width: 17px;
    height: 16px;
    display: block;
}

.bharkharai-wrap .modal-header button {
    opacity: 1
}

.image-responsive-wrap img {
    width: 100%;
}

/*--------------------------------------------------------------
INNER-SECTION
--------------------------------------------------------------*/
.inner-section h1 {
    padding-bottom: 15px;
    color: #000000;
    line-height: 50px;
}

.inner-section h1 a {
    color: #000000;
    font-size: 45px;
    padding-left: 15px;
}

.inner-section .inner-left h1 {
    margin: 0 0 20px 0;
    font-size: 30px;

}

.inner-section .inner-left h6 {
    margin-bottom: 20px;
    color: #666;
}

.inner-left .date-time {
    float: left;
    padding-bottom: 15px;
    width: 100%;
}

.inner-left .share {
    float: right;
    padding-bottom: 15px;
}

.inner-section h6 {
    font-size: 14px;
}

.inner-section p {
    font-size: 14px;
}

.inner-right .inner-add img {
    padding-bottom: 20px;
}

.others-news {
    padding: 30px 0 0 0;
}

/*#####################
Hightlighter css
######################*/
.box {
    padding: 15px 15px 15px 25px;
    background-color: #f2f2f2;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0 25px 0 0;

}

.box-author {
    padding: 15px 15px 15px 25px;
    background-color: #f2f2f2;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0 25px 0 0;
    width: 320px;
    float: left;

}

.box-author-details {
    padding: 15px 15px 15px 25px;
    background-color: #f2f2f2;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0 0 25px 0;
    width: 100%;
    overflow: hidden

}

.author-related-news {
    float: left;
    width: 320px;
}

.author-related-news li {
    list-style: none !important;
    padding: 2px 0;
}

.box-news-ad {
    padding: 15px 15px 15px 25px;
    margin: 0 25px 0 0;
    width: 320px;
    float: left;
}

/*blockquote */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    width: 300px;
    float: right;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.box ul {
    margin: 0;
    padding: 0px 0 10px 10px;;

}

.inner-section .imgLeft {
    float: left;
    margin: 10px 10px 10px 0;
}

.box h2 {
    padding: 0;
    margin: 0;
}

.taja-news li a {
    font-size: 14px;
    color: #1488ca;
}

.taja-news li {
    border-bottom: 1px solid #dfdfdf;
    font-size: 15px;
    color: #1488ca;
    list-stylen: none;
}

.inner-right .taja-news ul {
    -webkit-padding-start: 20px;
}

.inner-right .taja-news {
    padding-bottom: 40px;
}

.inner-sub {
    margin-top: 20px;
}

.inner-left .comment-side input[type="text"] {
    width: 60%
}

.inner-left .comment-side input[type="text"], .comment-side textarea {
    padding: 10px;
    box-shadow: border-box;
}

.comment-side textarea {
    min-height: 200px;
    width: 80%;
}

.inner-left .comment-side input, .comment-side textarea {
    background: #efebeb;
}

.comment-side {
    padding-top: 50px;
}

.comment-side h5 {
    font-size: 14px;
    margin-top: 15px;
}

.comment-side .btn-comment {
    background: #1488ca !important;
    box-shadow: inherit;
    padding: 10px 20px;
    text-align: inherit;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    border: none;
}

.comment-side .btn-comment:hover {
    box-shadow: inherit;
}

.taja-news.new-summ li {
    margin: 10px 0;
}

/*--------------------------------------------------------------
NEXT-SECTION
--------------------------------------------------------------*/
.next-section {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.next-section .next-left h1 {
    margin: 0 0 20px 0;
    font-size: 30px;
}

.next-section .next-left .next-detail p {
    font-size: 23px;
}

.next-section .next-right img {
    padding-bottom: 10px;
}

.next-section .next-right {
    text-align: right;
}

.entertaint-on {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.news-on .right-on {
    padding: 30px 0;
}

.news-on .first-on {
    border-bottom: 1px solid #ccc;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;

}

.news-on .first-main {
    border-bottom: 1px solid #ccc;
    padding: 10px 0 30px 0;
}

.news-on .left-on p span {
    font-family: 'Open Sans', sans-serif;
}

.left-on .headline-time {
    color: #999999;
    font-size: 12px;

    background: #eee;
    max-width: 310px;
}

.news-on .left-on .detail-on p {
    font-size: 16px;
}

.news-on .left-on .be {
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.news-on .left-on h1 {
    margin: 0;
    font-size: 30px;
}

.news-on .first-in-on {
    padding: 30px 0 30px 0;
    border-bottom: 1px solid #ccc;
}

.right-on .social-right-one {
    padding: 20px 0;
}

.news-on .right-on img {
    padding-bottom: 10px;
}

.right-on .title-third-news {
    margin-bottom: 20px;
}

.overlap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6)
}

.inner-left .inner-section p img {
    display: block;
}

.relative-add {
    position: relative;
}

.thap-samachar .thumbnail {
    border: none;
}

.next-left h2 {
    font-size: 30px;
    color: #000;
    margin-top: 0px;
    background: url(../images/heading-bg.png) no-repeat right center #e5e4e4;
    line-height: 28px !important;
    margin-bottom: 20px;
}

.next-left span {
    background: #fff;
    padding-right: 12px;
}

.related-news a {
    font-size: 20px !important
}

.first-list .headline-time {
    padding: 0 0 0 3px;
}

.news-on .first-on:first-child {
    padding: 0 0 30px 0;
}

.first-on h3:first-child {
    padding: 0;
    margin: 0;
}

.blog-author .AuthorBlockCat h3 {
    padding: 10px 0 0 0;
    margin: 0;
}

.blog-author .AuthorBlockCat h3 a {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.blog-author .AuthorBlockCat {
    border-right: 1px solid #ccc;
    text-align: center;
    padding-right: 20px
}

.readmore-btn a {
    color: #fff;
}

.inner-section .add-container {
    margin: 0 0 20px 0;
}

.inner-section .add-container .img-responsive {
    margin: 0 auto;
}

@media (min-width: 1190px) {
    .wrapper-menu .navbar-wrapper .navbar-inverse .navbar-nav li a {
        padding-left: 22px;
        padding-right: 22px;
    }
}

/*#####################
Additional Styles (required)
######################*/

#myCarousel .thumbnail {
    margin-bottom: 0;
}

.thap-samachar .caption {
    padding: 0;
}

.thap-samachar h3 {
    margin: 10px 0
}

.thap-samachar .carousel-control.left, .thap-samachar .carousel-control.right, .section-containt .carousel-control.left, .section-containt .carousel-control.right {
    background-image: none !important;
}

.thap-samachar .carousel-control, .section-containt .carousel-control {
    top: 40%;
    color: #428BCA;
    bottom: auto;
    padding-top: 4px;
    width: 25px;
    height: 25px;
    text-shadow: none;
    opacity: 1;
}

.thap-samachar .carousel-control.left, .thap-samachar .carousel-control.right, .section-containt .carousel-control.left, .section-containt .carousel-control.right {
    background-image: none !important;
    color: #818181;
    border: 1px solid #b2b2b2;
    background: #ececec;
    top: -43px;
    font-size: 5px;
    padding-top: 3px;
}

.thap-samachar .carousel-control.right, .section-containt .carousel-control.right {
    left: auto;
    right: 13px;
}

.thap-samachar .carousel-control.right {
    right: 2px;
}

.thap-samachar .carousel-control.left, .section-containt .carousel-control.left {
    left: auto;
    right: 26px;
}

.section-containt .carousel-control.left {
    right: 40px;
}

.section-containt .thumbnail {
}

.thap-samachar .carousel-indicators {
    bottom: -30px;
}

.thap-samachar .carousel-indicators li {
    border-radius: 0;
    width: 10px;
    height: 10px;
    background: #ccc;
    border: 1px solid #ccc;
}

.thap-samachar .carousel-indicators .active {
    width: 12px;
    height: 12px;
    background: #3276b1;
    border-color: #3276b1;
}

.section-containt .carousel-control.left, .section-containt .carousel-control.right {
    top: -50px;
}

.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #222;
    z-index: 5;
}

.add-sect {
    margin-bottom: 20px;
}

.cartoon-block .cartoon-wrapper {
    margin-bottom: 20px;
}

.cartoon-thuumb .hovereffect h2 {
    font-size: 7px;
}

/*#####################
Cartoon Css Home Image hover
######################*/
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 30px 0 0;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h2, .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    Login Model     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.modal-footer button {
    font-size: 1em;
    margin-top: 10px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg > .btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
    border-radius: 0px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe !important;
    padding: 10px 0px;
    font-family: roboto;
    font-size: 20px;
    box-shadow: none !important
}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8 !important;
}

.btn-facebook {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #3b5998 !important;
    padding: 10px 0px;
    font-family: roboto;
    font-size: 20px;
    box-shadow: none !important
}

.btn-facebook:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #224286 !important;
}

.btn-twitter {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #329ef0 !important;
    padding: 10px 0px;
    font-family: roboto;
    font-size: 20px;
    box-shadow: none !important
}

.btn-twitter :hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #1a7fcc !important;
}

.btn-gplus {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #c2543c !important;
    padding: 10px 0px;
    font-family: roboto;
    font-size: 20px;
    box-shadow: none !important
}

.btn-gplus :hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #af3a21 !important;
}

.date-time {
    font-size: 18px;
}

span.publish-date {
    color: #635f5f;
    font-size: 1em;
}

.navbar-form {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;

}

.sign-in.pull-left {
    padding-top: 2px;
    padding-left: 54px;
}

.sport-right-item .headline-time {
    color: #999999;
    font-size: 12px;

}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.atss .at-share-btn, .atss a {
    width: 2pc !important
}

.recent-news a img {
    padding-bottom: 15px;
}

.fixed-ad {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}
