@charset "utf-8";
/* CSS Document, mod by henryasdasd */

body{
	/* 
	background-repeat:repeat-x;
	*/
	background-repeat: repeat-x;
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #030303;
	background-image: url(bg.gif);
}
/*	overflow-x:hidden; */
/* moved to /css/styleb.css --> access thru overall_header
.contener {
	width:987px;
	margin:  auto;

}
*/
/*
#sub{
	background-image: url(sub.gif);
	background-repeat: no-repeat;
	width:987px;
	float:left;
	height:54px;
}
*/


#sortby{
float:right;
font-size:10pt;
margin-top:12px;
margin-right:15px;
font-weight:bold;
font-family: Arial, Helvetica, sans-serif;
color: #FFFFFF;
}

#sortby a{
color: #FFFFFF;
}

#sortby a.selected{
color: #FF0000;
}

#login{
	width:100%;
	float:left;
	height:19px;
	padding-top:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}

#login a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

#login a:hover{
text-decoration:underline;
}

#top{
width:100%;
margin-top:5px;
margin-bottom:5px;
float:left;
height:109px;}


a.logo{
	display:block;
	float:left;
	background-image: url(yjlogo.jpeg);
	background-repeat: no-repeat;
	width:214px;
	height:111px;
}

#youjizzsearch{
	margin-top:2px;
	}
	
#yjsearch{
	margin-top:2px;
	}

#b_top{
/*width:724px;*/
height:93px;
float:right;
margin-top:10px;
}


#menu{
	height:41px;
	width:100%;
	float:left;
	margin-top:2px;
	_margin-top:0px;
	}
	
#menu ul {
	float: left;
	margin:0;
	padding:0px 0px 0 0px;
	list-style:none;
	}

#menu li {
	display:inline-block;
	margin:0;
	padding:0;
   position: relative;
   display: inline;
}

#menu a {
	float:left;
	margin:0;
	padding:0 0 0 8px;
	text-decoration:none;
	background-image: url(left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	}

#menu a span {
	float:left;
	display:block;
	margin-right:2px;
	color:#FFFFFF;
	background-image: url(right.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	padding-top: 12px;
	padding-right: 6px;
	padding-bottom: 12px;
	padding-left: 0px;
	font-weight: bold;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu a span {float:none;}

/* End IE5-Mac hack */
#menu a:hover span {
	}

#menu a:hover {
	background-position:0% -41px;
	}

#menu a:hover span {
	background-position:100% -41px;
	}
	

#links{
height: 30px;
margin-left:5px;
margin-top:2px;
float:left;}

#links a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

#links a:hover{
	color: #CFCFCF;
}

#search{
margin-top:-30px;
}

.input{
	background-image: url(rec.gif);
	width:180px;	
	padding-left:11px;
	height:22px;
	padding-top:7px;
	display:block;
	float:left;
	background-repeat: no-repeat;
/* jeremy@swiftco.net changed this:
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
to:*/
        border-style:none;
        border-width:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}





#main{
width:100%;
float:left;

margin-top:2px;}

#left{
float:left;
padding-left:20px;}


.right{
width:250px;
float:left;}

.row{
width:100%;
float:left;}

#main a{
color:#FF0000;}

#popular_tags{
	background-image: url(popular_tags.gif);
	background-repeat: no-repeat;
	width:241px;
	padding-left:5px;
	padding-right:5px;
	margin-top:30px;
	text-align:center;
	padding-top:50px;
	padding-bottom:30px;
	float:left;
	background-position: top;
}
#popular_tags a{
	color: #FFFFFF;
	text-decoration: none;
}

#popular_tags a:hover{
	text-decoration: underline;
}

#live_cams{
	background-image: url(live_cmas.gif);
	background-repeat: no-repeat;
	width:251px;

	margin-top:30px;
	text-align:center;
	padding-top:60px;
	padding-bottom:30px;
	float:left;
	background-position: top;
}

#fotter{
	width:100%;
	float:left;
	margin-top:20px;
	padding-top:15px;
	padding-bottom:20px;
	background-image: url(fotter.gif);
	background-repeat: repeat-x;
}

#pagination {
font-size:22px;
height:20px;
text-align:center;
margin:1px auto 1px;
padding-top:0;
}

#pagination a {
	color:#FFFFFF;
	font-size:22px;
	font-weight:bold;
	text-decoration:underline;
}

#pagination span {
	color:#FFFFFF;
	font-weight:bold;
	
}

#top_paging {
font-size:22px;
height:20px;
text-align:center;
margin:auto;
padding-top:0;
padding-right:30px;
}

#top_paging a {
	color:#FFFFFF;
	font-size:22px;
	font-weight:bold;
	text-decoration:underline;
}

#top_paging span {
	color:#FFFFFF;
	font-weight:bold;
}




.thumb {
text-align:left;

height:290px;
display:inline-block;
position:relative;
zoom:1;
*display:inline;

width:308px;
margin:5px 4px 4px;


}




.title_bg{
	margin-left:1px;
}


#title1 {
	color:#ffffff;
	float:left;
	font-size:14px;
	font-weight:bold;
	height:17px;
	margin-top:1px;
	padding-top:4px;
	float:left;
	display:block;
	text-align:center;
	width:308px;
}

#title2 {

color:#605F5F;
float:left;
display:block;
font-size:12px;
height:20px;
text-align:center;
width:308px;
}
.thumbtime {
color:#605F5F;
display:block;
float:left;
font-size:14px;
font-weight:bold;
padding-top:5px;
width:90px;
}

.thumbviews {
	color:#808080;
	display:block;
	float:left;
	font-size:14px;
	font-weight:bold;
	padding-top:5px;
	width:115px;
}

.thumbrating {
	background-image:url(star_off.gif);
	display:block;
	float:left;
	height:14px;
	margin-top:4px;
	width:85px;
}

.thumbratingon {
    background-image:url(star_on.gif);
	display:block;
	float:left;
	height:14px;
	
}


 #fotter3{ 
       margin-top:20px; 
       text-align:right; 
       line-height:22px; 
       padding-top:20px; 
       padding-bottom:30px; 
       border-top-width: 1px; 
       border-top-style: solid; 
       border-top-color: #4b4b4b; 
       font-size: 15px; 
       color: #FFFFFF; 
          width: 100%; 
  } 
  #fotter3 .contener { 
      width: 900px 
  }

#fotter2{
	width:100%;
	float:left;
	margin-top:20px;
	/*text-align:right;*/
	line-height:22px;
	padding-top:20px;
	padding-bottom:30px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #4b4b4b;
	font-size: 15px;
	color: #FFFFFF;
}

#fotter2 a{
	font-size: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
#fotter2 a:hover{
text-decoration:underline;}

#fotter2 span{
	font-size: 12px;
	color: #ff0120;
}

#related_bg{
	width:100%;
	float:left;
	background-image: url(related_bg.gif);
	background-repeat: repeat-x;
	padding-top:20px;
}

#player{
width:960px;
height:550px;}

#player_watch{
	background-image: url(player_option.gif);
	background-repeat: no-repeat;
	width:945px;
	padding-left:15px;
	height:32px;
	word-spacing:4px;
	padding-top:12px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

#player_watch a{
	text-decoration:none;
	color: #ff0120;
}

#player_watch a:hover{
text-decoration:underline;}

#video_text{
	width:960px;
	line-height:17px;
	margin-top:10px;
	font-size: 14px;
	color: #FFFFFF;
}

#video_text a{
	text-decoration:none;
	color: #ff0120;
	font-weight: bold;
}

#video_text a:hover{
text-decoration:underline;}

#video_text h2 {
   margin: 5px;
   text-align: left;
}

#tags{
	background-image: url(tags.gif);
	background-repeat: no-repeat;
	width:946px;
	height:38px;
	padding-top:10px;
	float:left;
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	
}

#tags a{
	color: #ff0120;
	font-weight: normal;
	text-decoration: none;
}

#tags a:hover{
text-decoration:underline;}

#related_buttons{
width:100%;
float:left;
margin-top:0px;}

#related_buttons a{
	background-image: url(realated_botton.gif);
	background-repeat: no-repeat;
	width:200px;
	padding-left:0px;
	height:40px;
	padding-top:12px;
	display:block;
	float:left;
	margin-right:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-decoration:none;

}


#related_buttons a:hover{
text-decoration:underline;
color:white;
cursor:pointer;
}

.rel_on{
	color: #FFFFFF;
	font-weight:bolder;
}

.rel_off{
	color: #888888;
}


#miniatura{
height:290px;
width:308px;
display:table-cell; display:inline-table; display:inline-block;
margin:2px;}
#min{
height:232px;
width:308px;
float:left;}

#title1{
	width: 308px;
	
	margin-top:1px;
	height:15px;
	float:left;
	/*background-image: url(http://java.youjizz.com/title1.gif);*/
	background-repeat: repeat-x;
	font-size: 14px;
	color: #FFFFFF;
	text-align:center;
	padding-top:4px;
	font-weight: bold;
}
#title2{
	width:308px;
	height:20px;
	text-align:center;
	float:left;
	/*background-image: url(http://java.youjizz.com/title2.gif);*/
	background-repeat: repeat-x;
	font-size: 12px;
	color: #605f5f;
}
.thumbtime, .thumbviews {
font-size:14px;
width:130px;
padding:0px;
margin-top: 5px;
text-align:right;
font-weight:normal;
color: #808080;
}

.thumbtime {
	background-image: url(https://www.youjizz.com/gfx/social/clock.png);
	background-repeat: no-repeat;
	margin-left: 5px;
	padding-left:15px;
	text-align:left;
	width:30px;
	background-position: left center;
}
/*.thumbviews {*/
/*	display: block;*/
/*	width: 115px;*/
/*	padding-top: 5px;*/
/*		font-size: 14px;*/
/*	float: left;*/
/*	font-weight: bold;*/
/*		color: #605f5f;*/
/*}*/
.thumbrating {
	display: block;
	width: 80px;
	height: 16px;
	margin-top: 5px;
	background-image:url(star_off.png);
	font-size: 16px;
	float: right;
	margin-left:10px;
	margin-right: 5px;
	font-weight: bold;
	background-repeat: repeat-x;
}
.thumbratingon {
	display: block;
	height: 16px;
	background-image:url(star_on.png);
	float: left;
	background-repeat: repeat-x;
}
#min img {
	border: 1px solid black;
}

#miniatura{
	height:290px;

	position:relative;
}
#min{
	height:243px;
	width:310px;
	text-align:center;
}

#min img{
	border:none;
}
.title_bg{
	margin-left:1px;
}


.frame {
	display:block;
	height:243px;	
	float:left;
	width:310px;
	z-index:3;
/*	background: url("no_image.gif"); */
}
.frame img{
	border: 1px solid #FFFFFF;
}


.pic {
	clear:both;
	cursor:pointer;
	display:block;
	float:left;
	height:243px;
	position:relative;
	width:310px;
}
.pic .frame {
	left:0px;
	position:absolute;
	top:0px;
}

.pic img {

	height:232px;
	left:1px;
	position:absolute;
	top:10px;
	width:308px;
	z-index:2;
}
.pic:hover {
	text-decoration:none;
}

.vid-rotater {
	position:absolute;
	visibility:hidden;
	margin:0 0 0 25px;
	padding:3px 5px 5px;
	left: 0px;
}
.vid-rotater li, .vid-rotater a {
	display:block;
	float:left;
	width:29px;
}
.vid-rotater li {
	margin:0 0 0 2px;
	padding:0;
}
.vid-rotater a {
	overflow:hidden;
	padding:4px 0 3px;
}
.vid-rotater span {
	background:#FFFFFF none repeat scroll 0 0;
	border-bottom:1px solid #333333;
	border-right:1px solid #333333;
	display:block;
	height:3px;
	line-height:999em;
	overflow:hidden;
}
.vid-rotater .active span {
	background:#CC3366 none repeat scroll 0 0;
	border-color:#660033;
	cursor:pointer;
}


#opis{
   display: inline-block;	
}


/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; z-index: 999; padding: 0px;}
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: transparent; list-style-type: none;}
ul.dropdown a:hover		    { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 0px 10px; border-right: 1px solid #333; color: #222; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: transparent; color: red; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul	{ 
	width: 180px; 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
	text-align: left; 
	border-top: none; 
	background-color: black;
	padding-left: 5px;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-top: 3px;
}
ul.dropdown ul li {
	font-weight: normal; background: transparent; color: #000; 
}
									  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
	border-right: none;
	width: 100%;
	display: inline-block;
} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul {
	left: 100%; top: 0;
}

ul.dropdown li:hover > ul {
	visibility: visible;
}

#links #cat_list a{
	font-size: 11px;
	width: 80px;
}

#menu ul li  {float: left;}

#menu ul li ul {
   list-style: none;
	position: absolute;
	left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */

	top: 30px;
	background-color: #0C0C0C;
   margin: auto;
   padding: 5px 15px 5px 10px;
   z-index: 1000;
}

#menu ul li:hover ul {/* Display the dropdown on hover */
	left: 3px; /* Bring back on-screen when needed */
}

#menu ul li ul li {
	display: block;
	float: none;
}

#menu ul li ul li a {
	padding: 5px;
	font-weight: bold;
	color: white;
	background-image: none;
	white-space: nowrap;
}

#menu ul li ul li:hover a {
	color: #CFCFCF;
}

#video_text .buttona  {
    display: inline;
    height: 10px;
    background: rgb(221, 221, 221);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 1px;
    color: black;
    font-size: 12px;
}

	
#sorty{
font-size:8pt;
font-family: Arial,Helvetica,sans-serif;
text-transform: uppercase;
margin-right:15px;
font-weight:bold;
font-family: Arial, Helvetica, sans-serif;
color: #FFFFFF;
padding-top: 10px;
text-align: left;
}

#sorty a {

	margin:0;
	padding:0 0 0 0;
	text-decoration:underline;
	background: none;
	float: none;
	color: #FFFFFF;
	}

#sorty a.selected{
color: #FF0000;
}

#sorty a:hover {
	color: red;
}

#sorty .selsort {
	
	text-decoration: none;
	pointer-events: none;
   	cursor: default;
}
	