.bkg-embed {
background: url(images/bkg-embed.png) repeat-x;
height: 69px;
}

.corner-embed {
position: absolute;
top: 0;
width: 9px;
height: 69px;
background: url(images/embed-sprite.png) no-repeat;
}

