/**
 * @brightcove/videojs-custom-endscreen
 * @version 2.0.7
 * @copyright 2016 Brightcove, Inc.
 * @license UNLICENSED
 */
.video-js .vjs-custom-endscreen-overlay {
	text-align: center
}

.video-js .vjs-endscreen-overlay-content {
	margin-top:10%;
	background-color:rgba(0, 0, 0, 0.5);
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: auto;
	position: static
}

.video-js .vjs-endscreen-overlay-content a {
	color: #fff
}

.video-js .vjs-endscreen-overlay-content a:hover {
	text-decoration: none
}

.video-js .vjs-endscreen-overlay-buttons {
	height: 4em
}

.video-js .vjs-endscreen-overlay-buttons .vjs-control {
	cursor: pointer;
	display: inline-block;
	font-size: 4em;
	height: 1em;
	margin: 0 0.2em;
	width: 1em
}

.video-js .vjs-endscreen-overlay-buttons .vjs-control:before {
	font-size: inherit;
	line-height: inherit
}

.video-js .vjs-endscreen-overlay-buttons .vjs-control:hover:before,
	.video-js .vjs-endscreen-overlay-buttons .vjs-control:focus:before {
	text-shadow: 1px -1px 20px #fff, -1px 1px 20px #fff
}

@media only screen and (max-device-width: 480px) {
	.video-js .vjs-endscreen-overlay-buttons .vjs-icon-share {
		display: none
	}
}