.form-group.has-error input{
background-color:#FFF0F0;
}


.padding10{
  padding:10px;
}



::-webkit-input-placeholder	{ color:#ccc !important; }
input:-moz-placeholder { color:#ccc !important; }
input:-ms-placeholder { color:#ccc !important; }
::-ms-input-placeholder	{ color:#ccc !important; }
:-ms-input-placeholder	{ color:#ccc !important; }




/*.myform-group input{
	border: 1px solid #eeeeee;
	width: 98%;
	font-size: 13px;
	color: #747474;
	padding: 20px 5px;
	margin: 0 1% 2% 0;
	border-radius: 2px;
	background: #f9f9f9;
}*/

.btn-default,.btn-primary,.btn-default:hover,.btn-primary:hover, {
	background-color: #ffd600;
	border:0 none;
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	padding-top:10px;
	padding-bottom:10px;
	font-size:14px;
	font-weight: bold;
}

.button.large, .single_add_to_cart_button{
	padding-top: 0px;
	font-family:BebasNeueRegular, sans-serif;
	font-size:25px;
	height:40px;

}

.categorylink p{
	color:black !important;
}

.btn-default:hover,.btn-primary:hover{

}

.checkbox input[type="checkbox"]{
	background-color: white;
	border:2px solid #333;
	width:20px;
	height:20px;

}
.checkbox label{
	line-height:25px;

	font-size:18px;

	margin-bottom:15px;

	margin-top:15px;
}
.checkbox label:before{
	/*content:"";*/
}

.text20{
	font-size:20px;
}

.errormsg{
background-color: #FFA0A0;
color:white;
padding:10px;
font-weight:bold;
display:none;
}


fieldset legend{
	cursor:inherit;
	display:inherit;
	background:white;
	margin-left:20px;
	padding-left:5px;
	padding-right:5px;
}
fieldset{
	border:2px solid #ccc;
	padding:10px;
}



a.yellow{
	/*background-color: rgb(255, 255, 221);*/
	padding: 10px;
	border:3px solid #ffd600;
	margin-bottom:10px;
}



@media (max-width: 100px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}




.input-group.form-control{
	z-index:0 !important;
}
.mondaycolor{
	color:rgb(42,208,133);
}

/*.homecooltext{
	font-size:18px;
	margin-top: 5px;
}
.homecooltext span{
	font-style: italic;
	color:#ffd600;
	float:right;
}*/





/*.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
  background-color:white;
}*/








/* nice big checkbox pure CSS */
/* html code=<input class="bigcheckbox" type='checkbox' name='thing' value='valuable' id="thing"/><label for="thing"><span>Education</span></label>*/

  input[type=checkbox].bigcheckbox {
    display:none;
  }

  input[type=checkbox].bigcheckbox + label
   {
       background: white;
       height: 22px;
        width: 22px;
       display:inline-block;
	   border:6px solid #CCC;
       padding: 0 0 0 0px;
	   cursor:pointer;
	   margin-right: 100px;
   }
   input[type=checkbox].bigcheckbox + label span{
	margin-left: 37px;
    line-height: 28px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	display:inline-block;

	width: 100px;

	cursor:pointer;
   }

   input[type=checkbox].bigcheckbox:checked + label
    {
        background: #0080FF;
        height: 22px;
        width: 22px;
        display:inline-block;
		border:6px solid #CCC;
        padding: 0 0 0 0px;
		cursor:pointer;
    }



    .btn-white{
    	background-color:white;
    	color:#555;
    }

    .btn-blue{
        background-color:white;
        color:#0071b9;
        border: solid 1px #0071b9;
    }
    .btn-blue:hover{
        background-color:#0071b9;
        color:white;
    }



    .minitoast div{
    box-shadow: 0px 0px 0px 3px white;
    border: 5px solid #0071b9;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    color: #0071b9;
    font-size: 18px;
    text-align: center;
	font-family:'BebasNeueRegular', sans-serif
}


/*inscription form */
.backForm .initform{
    background-color: white;
    color: grey;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: solid 2px #EDEDED;
    border-top: none;
}

.backForm .initform a{
    color: #0071b9;
}

.backForm .initform .cart{
    text-align: center;
    padding-top: 25px;
    margin: auto;
    width: 60%;
}

.backForm .initform .inputCaptcha{
    margin: auto;
    width: 40%;
}
.backForm .initform .captcha{
    width: 144px;
    margin-bottom: 10px;
    /*margin-left: 46px;*/
}
.backForm .initform .next{
    border-top: solid 2px #EDEDED;
    display: block;
    text-align: center;
    padding: 14px;
}
.backForm .initform .reset{
    float: right;
    position: absolute;
    display: inline-flex;
    font-size: 10px;
    margin: 12px;
    color: grey;
    right: 85px ; /*2016_05_02*/
}
@media screen and (max-width:600px) {
    .backForm .initform .reset {
        float: inherit;
        position: inherit;
        min-width: 200px;
        display: inherit;
    }
}
.backForm H1 {
    border-left-color: #0071b9;
    border-left: solid 20px #0071b9;
    border-top-left-radius: 8px;
    margin-bottom: 0px;
    background-color: white;
    font-size: 26px;
    color: #0071b9;
    border-bottom: solid 2px #0071b9;
    border-top-right-radius: 8px;
    padding: 6px;
    border-top: solid 2px #EDEDED;
    border-right: solid 2px #EDEDED;
}
.backForm .fa-search,.backForm .fa-home {
    font-size: 39px;
}
.backForm{
    /*position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 560px;
   
    width: 90%;*/
	 text-align: center;
}

.backForm .noaccount{
    font-size: 16px;
}

.backsigninlilo {
    background-color: rgba(255, 255, 255, 0.7);
    /*height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;*/
}

.installStep2 .initform > div > div {
    text-align: initial;
    margin-left: 60px;
}

div.tab_image{
    max-width: inherit !important;
}

div.tab_video{
    max-width: inherit !important;
}

#map{
    width : 100% !important
}

/*responsive design*/
/*tablette*/
@media (max-width: 991px){
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navbar-right {
        float: right;
    }
    .navbar-right > li {
        float: left;
    }

    #logo{
        margin-left: 0px !important;
        /*margin-top: 63px!important;*/
    }
    #searchbloc{
        text-align: center;
        /*margin-top: 20px !important;*/
    }

    /*#searchbloc .searchbutton span{
        display: none;
    }*/
    #searchbloc .searchbar{
        padding-right: 8px;
    }
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .preferences{
        width: auto !important;
        max-width: 700px;
    }

    .gsc-result-info-container,#nbresults{
        display: none;
    }
    .choose_search_engine{
        display: none !important;
    }
    .prefweel {
        display: inherit !important;
        margin-bottom: 5px !important;
    }
    .gsc-search-box{
        width: 90% !important;
        min-width: 258px;
    }

    /*#droppng,#openprefs{
        width: 35px;
        height: 35px;
    }*/
    #dropcount,.prefweel,#droppng{
        /*margin-bottom: -4px !important;*/
    }

    input.gsc-input{
        max-width: none;
    }

    .navbar-right li .tooltip{
        display: none !important;
    }


    #socialfeed .socialproject {
        width: 100% !important;
        max-width: 780px;
    }
    #socialfeed .thumbnail {
        width: 50% !important;
        max-width: 361px;
    }
    #socialfeed .projectText {
        width: 50% !important;
        max-width: 418px;
    }
    .modal-dialog{
        width: 95%!important;
    }

    .modal-dialog .welcome_notif{
        width: 100% !important;
    }
    .modal-dialog .welcome_notif img{
        width: 100% !important;
    }
    .resulturl{
        word-wrap:break-word;
    }
    .adproducts{
        overflow-y: scroll;
    }
    .adproducts::-webkit-scrollbar {
        display: none;
    }
    .adproducts > div{
        width: 650px;
    }
    .tab_image .images,.tab_video .videos {
        padding-right: 0 !important;
        margin: 0;
    }
    #map{
        width: 100% !important;
        margin-top: -20px;
       
    }
    #map {
        padding-right: 0px;
    }
}

/*HHHH*/

/*responsive design*/
/*mobile*/
@media (max-width: 768px){

    .installStep2 .initform > div > div {
        text-align: center;
    }
    .toolbar-c {
        width:120px !important;
    }
    ul.toolbar {
        margin-left: 2px !important;
    }
    .toolbar li{
       margin-right: 1px !important;
    }
    .images .image .infos{
        display: none !important;
    }

    .infodisconnect .loginpopup a{
        white-space: normal!important;
    }

    #socialfeed .socialproject{
        margin-bottom: 220px;
    }
    
    
    #socialfeed .thumbnail {
        width: 100% !important;
        max-width: none !important;
        margin: 0px;
        height: 200px !important;
        min-height: 200px;
    }
    #socialfeed .bg-image { height: 190px; }
    #socialfeed .projectText {
        width: 100% !important;
        max-width: none !important;
    }
    .gsc-tabsArea{
        white-space: nowrap;
    }
    .gsc-tabsArea{
        overflow-y: scroll;
    }
    .gsc-tabsArea::-webkit-scrollbar {
        display: none;
    }
    .tab_image .images_filter{
        display: none;
    }
    .navbar-nav .open .dropdown-menu {
         position: absolute;
         background-color: #fff;
        border: solid;
        border-color: #D9D9D9;
        border-radius: 5px;
        border-width: 2px;
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }
    #map{
     margin-top: -20px;
    }

}

@media (max-width: 740px) and (min-width: 430px){
    .prefweel {
        display: inherit!important;
    }
}

.infodisconnect .loginpopup .center{
    text-align: center;
}




.gsc-above-wrapper-area{
    display: none;
}
.web .gsc-above-wrapper-area{
    display: block;
}

.choose_search_engine{
    margin-bottom: 15px;
}

.icon_user {
    font-size: 30px;
}

.user_connected{
    color: #0072B6;
}
.user_drops{
    color: #FE7700;
}

#droplink{
    padding-top: 10px;
}
@media (max-width: 768px){
    #droplink{
        padding-top: 5px;
    }
}

#col1{
    display: table;
}
#col1 .search_input,#col1 .search_input input{
    /*width: 100%;
    max-width: none;
    padding: 0px;
    padding-left: 10px;*/
	/*width: 100%;
    max-width: none;*/
    /*padding-left: 10px;*/
    /*margin-left: 10px;
    outline:none;*/
}
.bandeau .gosearch{
    font-size: 1.33em;
}
#col1 .bandeau{
    max-width: 820px;/*795px; 950px;*/
	padding-top:8px;
}
#col1 .toolbar ul{
    display: inline-flex;
    padding: 0px;
}
/*#col1 #dropcount{
    line-height: 2.4;
}*/
.tablecell{
    display: table-cell;
	vertical-align: top;
    padding-top: 7px;
}

.bandeau .tablecell:first-child{
	padding-top:0px;
}

.bg-image {
    /* image specified in separate class below */
    height: 240px;
    
    width: 100%;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;

    /* scale bg image proportionately */
    background-size: cover;
}



/* example media queries */

/*social bar*/
.bg-image { height: 220px;/*280px;*/ }
.addMoreResult{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #64B7F1;
    padding-bottom: 10px;
}
.addMoreResult i{
    font-size: 20px;
    margin-right: 5px;
}
.socialBaseProjects .socialproject:last-child {
    margin-bottom: 0;
}
.socialImg{
    margin:0;
}

.bandeau #logolilo{
    margin-right: 10px;
    margin-left: 13px;
    margin-top: 6px;
}

/*notification*/

/*.modal_notification b,.modal_notification span{
    width: auto;
}*/

.modal-backdrop{
    background-color: white;
}

.info_change_engine,.info_new_tab{
    position: fixed;
    height: 43px;
    background-color: white;
    border-top: 1px solid #ddd;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    z-index: 300;
}

.modal_notification .modal-header b{
    font-size: 1.5em;
}






.lilopopup{
	background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position:absolute;
    z-index: 900;
    overflow-x: hidden;
    overflow-y: auto;
}

.lilopopup > div:first-child{
	position:relative;
	max-width:650px;
	width:auto;
	margin:10px;
	z-index:1000;
}

@media (min-width: 670px){
	.lilopopup > div:first-child{
	margin:auto;
	margin-top:50px;
	max-width:650px;	
	}
}





/* search engine */
.external_bar{
	top:0px;
	position:fixed;
	background-color:#eee;
	width:100%;
}
.external_bar span{
	cursor:pointer;
}
.external_bar a{
	text-decoration:underline;
}


.modal-content{
	border-radius:0 !important;	
}





