

.navigation.colored.sticky-nav{
	height:50px;	
}

.main-menu.large, .logo.large{
	height:50px;
}


#undefined-sticky-wrapper{
	height: 80px !important;
}

.home-text-wrapper{
background:none !important;
}

.home-slide-content{
font-size:100px !important;
background:none !important;
}


.lbl_pop_install{
    display: inline;
    position: absolute;
    /*top: -36px;
    right: 183px;*/
    left: 148px;
    bottom: 26px;
    color: white;
    white-space: nowrap;
}

.popupbtn{
	position:relative;margin-left:auto;margin-right:auto;width:300px;cursor:pointer;
}

.popupbtn img{
	width:300px;
}

/*@media (max-width: 640px){
    .lbl_pop_install{
        top: -54px;
        left: 216px;
    }
}*/


/* FIXME 
image below footer
*/

#home_install_chrome{
	/* code origine 
	display:none;
	position: fixed;
	line-height: 1.45;
	z-index:100;
    left: 50%;
    margin-left: -21%;
	bottom: 1%;*/
	/* nouveau code */
	display: none;
    position: fixed;
    line-height: 1.45;
    z-index: 100;
    margin-left: 36%;
    width: 378px;
    bottom: 1%;
}

#home_install_chrome_img{
/*code origine
	margin-left: auto;
	margin-right: auto;
	display:block;
	width:500px;
	z-index:101;*/
/*nouveau code: */
    display: block;
    z-index: 101;
}

.home_install_chrome_title{
    position: absolute;
    top: 14.5%;
    font-size: 4.3em;
    left: 6%;
    width: 63%;
    z-index: 102;
}

.home_install_chrome_msg{
    position: absolute;
    top: 58.5%;
    left: 8%;
    width: 85%;
    z-index: 102;
    font-size: 1.9em;
}

/*a.scroll-down{
margin-left:-51px !important;
}*/

.main-menu li:last-child a{
/*color:black !important;*/
}

.back-to-top img,.logo.large img{
max-height: 104px !important;
max-width: 160px !important;
/*max-height:46px !important;*/
}

@media only screen and (max-width: 479px){
	.back-to-top img,.logo.large img{
	max-height: 80px !important;
	}	
}

.selectnav{
margin-top:13px !important;
}

.parallax-overlay{
background:none !important;
}

.fa.fa-tint{
color:#0071B9;
font-size:20px;
}

.fa.fa-money{
color:#0AA936;
font-size:20px;
}

.home .section{
padding-bottom:3px !important;
padding-top:3px !important;
margin-top:70px;
}

/*.page-wrap .section{
padding-top:50px !important;
}*/

#undefined-sticky-wrapper{
height:10px !important;
}

.full-width{
padding-top:10px !important;
}

.home .container{
margin-top:0px;
margin-bottom:0px;
}

.home-2 .container{
margin-top:0px;
margin-bottom:0px;
width:100%;
}
/*
.home-3 .container{
margin-top:0px;
margin-bottom:0px;
width:100%;
}*/

/*#home{
  background-image:none !important;
}

#home .highlight{
color:#333 !important;
}

#home .button.home-button{
  background-color:white;
  color:rgb(255, 214, 0);
}*/

/*.home-text p{
   font-family: 'Open Sans', 'Times New Roman', Times, serif;
   font-weight:normal;
   text-transform:uppercase;
   color:white;
   width:600px;
}*/

#home .home-button{
position:inherit;
margin-left:-21px;
margin-top:10px;

}

#home .scroll-down, a.scroll-down span{
position:inherit !important;
margin-left:20px !important;
color:#6D7B91;
}

.home-button{
position:relative;
left:50%;
margin-left:-125px;
width:250px;
font-size: 30px;
/*font-family:'Open Sans', 'Times New Roman', Times, serif !important; */
font-family:BebasNeueRegular, sans-serif;
font-weight:normal;
text-transform:uppercase;

}

.home-text p{
font-size:30px !important;
/*background-color:rgba(255, 214, 0,0.8) !important;
max-width:800px;
margin-left:-400px;
text-align:center;
left:50%;*/

}

.home-slide-content{
padding:0 !important;
/*background-color:rgba(255, 214, 0,0.8) !important;*/
color:#6D7B91 !important;
text-align:left !important;
margin-left:100px !important;
max-width:640px !important;
margin-top:100px !important;
}

.home-slide-content .highlight{
color:rgb(79, 76, 98);
}


.woocommerce span.onsale{
	background:-webkit-linear-gradient(#FFE800,#FFCB00) !important;
}

b{
font-weight: bold;
}


.woocommerce ul.products li.product{
	width:21%; /*!important*/
	
}

a{
	color:#0071B9;
}
a:hover{
	color:rgb(65, 118, 255);
}

.text16{
	font-size:17px;
}

.capitalize{
	text-transform:capitalize;
}

.products h3{
height: 42px !important;
line-height: 21px !important;
padding: 0 !important;
overflow: hidden !important;
}

/*update new home*/



/*TODO => remove this, update css for home-section instead*/
/*update new home*/



/*TODO => remove this, update css for home-section instead*/
.home-3 .container,.welcome-2 .container,.bienvenido .container{
	width:100%;
}
.home-3 .fadeInUp,.welcome-2 .fadeInUp,.bienvenido .fadeInUp{
	width:100% !important;
	margin-right:0px !important;
	margin-left:0px !important;
}
.home-3 .title,.welcome-2 .title,.bienvenido .title{
display:none;
}

/* flags */

.lang-item-en,.lang-item-es{
	margin-left:5px !important;
}

.lang-item-en .tit,.lang-item-es .tit,.lang-item-fr .tit{
	display:none;
}

.main-menu-wrapper .container{	
	width:auto !important;
}





.wpml-mobile {
    padding-top: 16px !important;
    vertical-align:top;
    min-width: 72px;
    display:none;
}



@font-face {
	font-family: "sunn";
	src: url("fonts/SUNN.otf");
}



.nicebutton{
	background-color:#0071B9;
	color:white;
	border:none;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	font-family:Open Sans;
	border-radius:3px;
	
}
.nicebutton:hover,.nicebutton:visited{
	color:#FCFCFC;
}

.tabvote td{
	vertical-align:top;
	padding-left:10px;
}

.tabvote .infos{
	width:430px;
}
.tabvote .infos p{
	height:75px;
	overflow:hidden;
}
.tabvote .desc{
	height:100px;
}
.tabvote .shownbvote{
	font-size:20px;
	color:#0071B9;
	padding:10px;
}

.tabvote .nicebutton{
	margin-top:30px;
}

.single_subscribe_btn {
width: 410px;
position: relative;
}

.single_subscribe_btn_txt {
width: 180px;
top: 12%;
left: 21%;
color: #FFF !important;
font-size: 23px;
position: absolute;
padding: 6px;
text-transform: uppercase;
font-family: "BebasNeueRegular",sans-serif;
line-height: 1.2;
}

.ie .welcome_button_install_browser{
    font-size: 15px;
}

@media (max-width: 1100px){
    /*.divdownload .welcome_button_install_browser {
        position: relative;
        display: initial;
        left: 280px;
        top: 62px;
        height: 50px;
        color: white;
    }*/

    .P1blocSupLeftBottom .divdownload_t {
        position: relative;
        display: flex;
        top: -102px !important;
        left: -81px !important;
    }

    .ie .welcome_button_install_browser{
        font-size: 9px !important;
    }

    .P1blocSupRight .popupDownload_ext {
        position: relative;
        top: -94px !important;
    }
}



.favoritestar{
	position:absolute;
	/*right:10px;
	top:10px;*/
	color:white;
	font-size:18px;
	/*text-shadow: -5px 0 #0071b9, 0 5px #0071b9, 5px 0 #0071b9, 0 -5px #0071b9;*/
	border-radius: 25px;
	background: #0071b9;
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 5px;
    margin-top: 3px;
}


/*languecustom*/
[lang="en-GB"] .textprojSecond{
		font-size:25px;					
}


#infofirefox{
width: 500px;
position: fixed;
top: 150px;
left: 50px;
color: rgb(0, 113, 185);
font-size: 30px;
font-family: Arial;
z-index: 1000 ;
background:rgba(255,255,255,0.5);
padding:20px;

}



@media only screen and (max-width: 767px){
.section .container {
    width: 100% !important;
}
.section .sixteen.columns{
	width: 100% !important;
}
}



