/*--------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------*/
@media only screen and (max-width: 960px) {
	  .home-quote {
	   margin:0 10px;
	  }
	   .member-bio {
	   max-height:800px;
	  }
	  }
	   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	  .parallax, .home-parallax {
	   background-attachment: scroll !important;
	   background-position:center top !important;
	   background-size: cover !important;
	  }
	  .member-bio {
	   max-height:600px;
	  }
	  #portfolio-wrap.grid-portfolio .portfolio-item {
		  margin: 10px;
		  padding: 0;
		  margin-bottom:15px;
	  }	  
  
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	  .parallax, .home-parallax {
	   background-attachment: scroll !important;
	   background-position:center top !important;
	   background-size: cover !important;
	  }
	  .member-bio {
	   max-height:800px;
	  }
}
 @media only screen and (min-width: 768px) and (max-width: 959px) {
	  h1 {
	   font-size: 80px;
	  }
	  .main-menu li, .main-menu.iconic li {
	   margin-left:20px;
	  }
	   .main-menu a {
	   font-size:18px;
	  }
	   .testimonial-slider .flex-direction-nav li .flex-next, .twitter-slider .flex-direction-nav li .flex-next {
	   right:44%;
	  }
	   .testimonial-slider .flex-direction-nav li .flex-prev, .twitter-slider .flex-direction-nav li .flex-prev {
	   left:44%;
	  }
	   .team-member.team-two, .team-member.team-four {
	   width: 50%;
	  }
	   .selectnav {
	   display: block;
	   margin-top:26px;
	  }
	   .main-menu {
	   display: none;
	  }
	  .wpml-mobile {
		  display: table-cell;	  
		  vertical-align: middle;
		  padding-left: 20px;
	  }
	  .wpml-desktop {
		  display:none;
	  }
	  	 	   
}
 @media only screen and (max-width: 767px) {
	  h1 {
	   font-size: 54px;
	   line-height: 1;
	  }
	   .home-parallax.pagescroll, .home-gradient.pagescroll {
	   margin-bottom: 0;
	  }
	   .title h1 {
	   font-size:40px;
	  }
	   .subtitle {
	   font-size:14px !important;
	   margin-bottom:0;
	  }
	  .member-bio {
	   max-height:300px;
	  }
	   .home-logo, .home-logo-text {
	   margin:40px 0 50px;
	  }
	   .home3 h1 {
	   font-size: 20px;
	   margin: 0 20px;
	   width:400px;
	  }
	   nav .container .four.columns {
	   width: 50%;
	  }
	   .main-menu {
	   display: none;
	  }
	   .main-menu.large, .logo.large {
	   height: 60px;
	  }
	   .logo.large img {
	   max-height: 40px;
	  }	  
	   .selectnav {
	   display: block;
	  }
	  .wpml-mobile {
		  display: table-cell;	  
		  vertical-align: middle;
		  padding-left: 20px;
		  max-width: 75px;
	  }
	  .wpml-desktop {
		  display:none;
	  }

	   .home-parallax .home-text-wrapper{
	   padding: 60px 0 !important;
	  }	  
	  
	  .home-banner2 .home-text-wrapper{
	   padding: 0 !important;
	  }	
	  
	  .home-logo img {
		  width:50%;
		  height:auto;
		  margin:0 auto;
	  }
	  
	   #slidecaption {
	   display:none;
	  }
	  #prevslide {
	   left:34%;
	  }
	  #nextslide {
	   right:34%;
	  }
	   .container .columns, .container .column {
	   margin-bottom:40px;
	  }
	   nav .container .columns, nav .cotainer .column, #ajaxpage .columns, #ajaxpage .column, .project-media {
	   margin:0;
	  }
	  .caption {
	   position:relative;
	   left:0;
	   bottom:5px;
	   margin:0;
	  }
	   .testimonial-slider .flex-direction-nav li .flex-next, .twitter-slider .flex-direction-nav li .flex-next {
	   right:36%;
	  }
	   .testimonial-slider .flex-direction-nav li .flex-prev, .twitter-slider .flex-direction-nav li .flex-prev {
	   left:36%;
	  }
	   .testimonial-slider, .twitter-slider, .contact-details, #contact-input {
	   width:100%;
	  }
	   #contact-textarea {
	   width: 93%;
	   float: left;
	   margin: 0 1%;
	  }
	   #contact-submit input[type="submit"] {
	   width:94%;
	   margin:1%;
	   float:left;
	  }
	   .copyright .social-icons .social-icon {
	   margin-bottom:10px;
	  }
	   .copyright p {
	   margin-top:20px;
	   font-size:11px;
	  }
	  .parallax .parallax-content {
		  padding:70px 0;
	  }
	   .team-member {
	   width:100% !important;
	   float:none;
	   margin-bottom:40px;
	  }
	   .testimonial-icon, .twitter-feed-icon {
	   display:none;
	  }
	   #filters {
	   margin-top:40px;
	  }
	   #filters ul li a {
	   padding:0;
	   margin:0;
	  }
	   #portfolio-wrap .one-third {
	   width: 50%;
	  }
	   .project-media {
	   margin-top: 70px !important;
	  }
	   #filters ul li a h3 {
	   margin-bottom:5px;
	  }
	   .home3 .container {
	   width:440px;
	   height:440px;
	  }
	   .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
	   width: 100%;
	   margin:0;
	   margin-bottom:40px;
	   float:none;
	  }
	   .parallax, .home-parallax {
	   background-attachment: scroll !important;
	   background-position:top center !important;
	   background-size: cover;
	  }
	   p.quote, .contact-details h2 {
	   font-size:30px;
	  }
	   #twitter-feed ul.slides > li {
	   font-size:16px;
	   margin-bottom:25px;
	  }
	   a#button-newsletter {
	   width: 66%;
	  }
	  .home-newsletter .home-quote h3 {
	   font-size:20px;
	  }
	  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		  width: 48% !important;
	  }	 
	  .woocommerce .products.related .product, .woocommerce .products.upsells .product {
		  margin-bottom: 2%;
		  margin-right: 1% !important;
		  width: 48% !important;
	  } 
	  
    .home-parallax h1,
	.home-parallax h2,
	.home-parallax h3,
	.home-parallax h4,
	.home-parallax h5,
	.home-parallax h6,
	.home-fullscreenslider h1,
	.home-fullscreenslider h2,
	.home-fullscreenslider h3,
	.home-fullscreenslider h4,
	.home-fullscreenslider h5,
	.home-fullscreenslider h6,
	.home-video h1,
	.home-video h2,
	.home-video h3,
	.home-video h4,
	.home-video h5,
	.home-video h6,	
	.parallax h1,
	.parallax h2,
	.parallax h3,
	.parallax h4,
	.parallax h5,
	.parallax h6,
	.parallax p.quote,
	#slidecaption,
	.parallax .twitter-author a,
	.contact-details h2,
	.home3 h1 {
	   font-size:20px !important;		
	}
	
	.wpcf7 div.rnr-input, .wpcf7 div.rnr-textarea , .wpcf7 div.rnr-submit {
		float:left !important;
		width:100% !important;
	}
	.wpcf7 div.rnr-input input, .wpcf7 div.rnr-textarea textarea, .wpcf7 div.rnr-submit input[type="submit"] {
		float:left !important;
		width:100% !important;
	}
	
    .pricing-table{
			width: 100%;
			padding: 20px 0 0 0;
		}
		
		.pricing-table.col-2 .plan,
		.pricing-table.col-3 .plan,
		.pricing-table.col-4 .plan,
		.pricing-table.col-5 .plan{
			width:100%;
			margin-bottom:20px;
		}	
		
		.pricing-table .featured{
			margin-top:10px !important;
		}	
		
		.mc4wp-form {
			padding:0 20px;
		}
		
		.parallax .contact-details h1 {
	        font-size: 38px !important;
        }
		
		.rnr-carousel .item .rnr-column {
			width:400px !important;
		}	
		#pp_full_res {
			padding:0 2%;
		}
		.result-item {
			width:100%;
		}
}
 @media only screen and (max-width: 479px) {
	   .home-logo-text a {
	   font-size:32px;
	  }
	  .main-menu.large, .logo.large {
	   height: 60px;
	  }
	  .selectnav {
	   width:50px;/*MHS*/
	   background-size:30px;
	   margin-top:20px;
	   font-size:24px;
	   min-width:auto;
	  }
	  #portfolio-wrap .one-third {
	   width: 100%;
	  }
	  .home3 .container {
	   width:280px;
	   height:280px;
	  }
	  .home3 h1 {
	   font-size:15px;
	   margin:0 20px;
	   width: 240px;
	  }
	  #prevslide {
	   left:30%;
	  }
	  #nextslide {
	   right:30%;
	  }
	  a#button-newsletter {
	   width: 92%;
	  }
	   .mc4wp-form input {
	   width: 92%;
	  }
	   .member-bio {
	   max-height:400px;
	  }
      .woocommerce table.shop_table th, 
	  .woocommerce-page table.shop_table th	{
		  padding:8px 0;
	  }
	  .woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
	      padding:6px !important;
      }
		.rnr-carousel .item .rnr-column {
			width:300px !important;
		}	  

}
 @media only screen and (min-width: 1200px) {
	  nav .container {
	   width: 96%;
	   display:block;
	  }
	  .home-logo-text a {
	   font-size:90px;
	  }
	  .slider-text {
	   width: 100%;
	  }
	  
	   .home4 .container {
	   width: 65%;
	  }
	   #respond-inputs p {
	   width: 222px;
	   margin-right: 10px;
	   float: left;
	  }
	  #respond-inputs p.last {
	   margin: 0;
	  }
	  #respond input {
	   display: block;
	   width: 200px;
	   margin: 0;
	  }
	  #respond textarea {
	   display: block;
	   width: 650px;
	  }
	   .member-bio {
	   max-height:650px;
	  }
}

/*responsive design*/
@media only screen and (max-width: 500px){
    .welcome_carbonLink{
        font-size: 15px !important;
    }
    .textP1carbon_1 {
        padding-top: 21px;
    }


}


/*responsive design*/
@media only screen and (max-width: 1100px){

    .welcome_button_install_browser {
        /*font-size: 12px !important;*/
    }
        .divdownload_t {
            margin-left: auto !important;
            margin-right: auto !important;
            padding-right: 111px !important;
            left: -177px !important;
            right: 0 !important;
            top: 43% !important;
            /*background-size: 224px !important;*/
        }
        .popupDownload_ext {
            margin-left: auto !important;
            margin-right: auto !important;
            left: 0 !important;
            right: 0 !important;
            top: 51% !important;
        }
        .submit_project_0_start{
            margin-left: auto !important;
            margin-right: auto !important;
            left: 0 !important;
            right: 0 !important;

        }

}

@media only screen and (max-width: 767px) {
    #contact .container div > a {
        margin-right: auto/*0 !important*/;
        margin-left: auto/*0 !important*/;
    }

    .carbon-offsetting > div.text-carbon, .carbon-offsetting > img.carbon-img {
        margin-left: -30px;
    }
    .carbon-offsetting > img.carbon-img {
       padding-top: 10px;
    }

}

@media only screen and (min-width: 616px) and (max-width: 767px) {
    .category .post-single .container{
        width: 90%;
    }

    .category .post-single .container ul.products >li > a > img{
        width: 100% !important;
    }
    .category .post-single .container ul.products >li.product{
        width: 255px!important;
    }

    .category .post-single .container ul.products .popupDesc{
        width: 255px!important;
        max-width: 255px !important;
        height: 161px !important;
        max-height: 161px !important;
    }


}
@media only screen and (max-width: 959px) and (min-width: 768px){
    #contact .container div > a {
        margin-right: 170px !important;
        margin-left: 170px !important;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px){
    #les-projets-soutenus-par-lilo .container{
        width: 100%;
    }
    #les-projets-soutenus-par-lilo .container .sixteen{
        width: 100%;
    }
}
@media only screen and (max-width: 959px) and (min-width: 768px){
    #les-projets-soutenus-par-lilo .container{
        width: 766px;
    }
}

.technobot1 .highlight{
    float: left;
    margin-left: 13%;
}

.technobot1 img,.technobot1 p{
    float: left;
}

