/*--------------------------------------------------------
Resets
--------------------------------------------------------*/
html, body {
	height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------------
BEGIN THEME STYLESHEET
--------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext);
 @font-face {
 font-family: 'BebasNeueRegular';
 src: url('../fonts/BebasNeue-webfont.eot');
 src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}

::-moz-selection {
 background: #FFD600;
 color: white;
}
::selection {
 background: #FFD600;
 color: white;
}
a, a:visited, a:hover {
	outline: none;
}
body {
	background: white;
	font: 13px/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #515A5F;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	padding-top: 30px; /* IE6 workaround*/
	height: 0;
	overflow: hidden;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
img.responsive {
	width: 100%;
	height: auto;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
small {
	font-size: 80%;
}
hr {
	border: solid #eeeeee;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
pre {
	height: auto;
	font-family: Consolas, monospace;
	border: 1px solid #f0f0f0;
	background: #fafafa;
	padding: 10px 20px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 0 0 20px 0;
	overflow-x: auto;
}
.hidden {
	display: none !important
}
.responsive img, .responsive iframe, .responsive object, .responsive embed {
	width: 100%;
	width: 100%;
	height: auto;
}
/*==== Anchor Links ====*/
img {
	max-width: 100%;
	height: auto;
}
a {
	color: #FFD600;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.highlight {
	color: #FFD600;
}
a:hover, a:focus {
	color: inherit;
}
a:focus {
	outline: none;
	outline-offset: 0;
}
p a, p a:visited {
	line-height: inherit
}
/*==== Lists ====*/
ul, ol {
	margin-bottom: 20px
}
ul {
	list-style: none;
}
ol {
	margin: 0;
	padding: 0 0 0 30px;
}
ul li ul, ol li ul, ol li ul, ol li ol {
	margin-bottom: 0
}
.left {
	float: left;
}
.right {
	float: right;
}
/*--------------------------------------------------------
/* TYPOGRAPHY
--------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 10px;
}
body #load {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	z-index: 1001;
	background-color: #ffffff;
}
#qLpercentage {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 60px !important;
	line-height: 1;
}
h1 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 0px;
}
h2 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 44px;
	text-transform: uppercase;
	position: relative;
}
h3 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 30px;
}
h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}
h5 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}
h6 {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}
p {
	margin-bottom: 10px;
}
/*--------------------------------------------------------
/* MENU STYLING
--------------------------------------------------------*/

nav {
	width: 100%;
	position: relative;
	z-index: 1000;
	top:0;
}
nav.page_scroll {
	top:0;
	position:fixed;
}
nav.page-scroll {
	top:0;
	position:fixed;
}
.home-parallax.pagescroll, .home-gradient.pagescroll, .home-fullscreenslider.pagescroll {
	margin-bottom:-80px;
}
.pagescroll .slider-text {
	bottom:140px;
}
/*== DARK NAVIGATION ==*/
nav.dark {
	background: #151515;
	border-bottom: 1px solid #000000;
}
.navigation.dark .logo h1 {
	color: #ffffff !important;
}
/*== LIGHT NAVIGATION ==*/
nav.light {
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
	border-bottom: 1px solid #f0f0f0;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
nav.light.sticky {
	background: #ffffff;
	background: rgba(255, 255, 255, 0.95);
}
/*== TRANSPARENT NAVIGATION ==*/
nav.transparent {
	background: transparent;
	border-bottom: 1px solid transparent;
	box-shadow: none;
	position:fixed;
	width:100%;
	top:0;
}
nav.transparent a {
	color:#ffffff;
}
nav.transparent.scroll {
	background: #ffffff;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
}
nav.transparent.scroll a {
	color: #515A5F;
}
.dark-skin nav.transparent.scroll {
	background: #111111;
	background: rgba(0, 0, 0, 0.95);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
}
/* ------------------------------------------------------------------------ */
/*  COLORED MENU
/* ------------------------------------------------------------------------ */

nav.colored, nav.light.colored {
	background: #ffd600;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
	border-bottom: 0px;
}
nav.colored ul > li > a {
	color:#ffffff;
}
nav.colored ul > li.active > a {
	color:#515A5F;
}
nav .container .four.columns {
	float: left;
	width: auto
}
nav .container .twelve.columns {
	float: right;
	width: auto
}
.main-menu, .logo.large, .wpml-desktop {
	display: table-cell;
	vertical-align: middle;
}
.wpml-desktop {
	padding-left:20px;
}
.wpml-mobile {
	display:none;
}
.main-menu, .logo.large img {
	max-height: 60px;
	display: table-cell;
	vertical-align: middle;
}
.main-menu.large, .logo.large {
	height: 80px;
}
.logo a {
	display: block;
	margin: auto;
	font-size:36px;
	color: inherit !important;
}
.main-menu li {
	display: inline;
	margin-left: 30px;
}
.main-menu a {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 22px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
nav.light .main-menu a {
	color: inherit;
}
nav.light .main-menu a:hover, nav.dark .main-menu a:hover {
	color: #FFD600;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
}
nav.light .main-menu li.active a, nav.dark .main-menu li.active a {
	color: #FFD600;
}
.main-menu a i {
	margin-right: 3px;
	font-size: 22px;
}
ul#nav, ul#nav ul {
	padding-left: 0;
}
ul#nav li {
	display: block;
	float: left;
	position: relative;
}
#nav .sub-menu {
	position: absolute;
	top: 52px;
	left: -15px;
	z-index: 2000;
	display: none;
	background: #ffffff;
	-webkit-box-shadow: 0px 7px 30px 2px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 7px 30px 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 7px 30px 2px rgba(0, 0, 0, 0.07);
}
#nav .sub-menu li {
	display: block;
	margin: 0;
	padding: 0;
	height: auto;
	border-bottom: 1px solid #f3f3f3;
}
#nav .sub-menu li a, #nav .sub-menu li .sub-menu li a, #nav .sub-menu li .sub-menu li .sub-menu li a {
	border: none !important;
	display: block;
	width: 160px;
	margin: 0;
	padding: 15px;
	line-height: normal;
	height: auto;
	box-shadow: none;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	box-shadow: none;
	font-size:13px;
	color:#888888;
}
#nav .sub-menu li a:hover, #nav .sub-menu li .sub-menu li a:hover, #nav .sub-menu li .sub-menu li .sub-menu li a:hover {
	color: #FFD600;
}
#nav .sub-menu li.current-menu-item a, #nav .sub-menu li.current-menu-item a:hover, #nav .sub-menu li.current_page_item a, #nav .sub-menu li.current_page_item a:hover, #nav .sub-menu li .sub-menu li.current-menu-item a, #nav .sub-menu li .sub-menu li.current-menu-item a:hover, #nav .sub-menu li .sub-menu li.current_page_item a, #nav .sub-menu li .sub-menu li.current_page_item a:hover, #nav .sub-menu li a.active, #nav .sub-menu li a.active:hover {
	background: #FFD600;
	color: #fff;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	box-shadow: none;
}
#nav .sub-menu li:last-child {
	border: none;
}
#nav .sub-menu li ul {
	top: 10px;
	left: 178px;
}
.selectnav {
	display: none;
}
/*-----------------------------------------------------------------------------------*/
/*	HOME 1 STYLING
/*-----------------------------------------------------------------------------------*/
.home-text-wrapper {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
	width:100%;
	background: url(../images/pattern.png);
}
.home1 .slabtextdone {
	color: #ffffff;
}
.home1 .slabtextdone .slabtext.second-child {
	background: #FFD600;
	padding: 15px 10px;
	display: inline-block;
	width: auto;
	margin-left: -10px;
	color: #000000;
}
.home1.home-gradient .slabtextdone .slabtext.second-child {
	background: none;
}
/*-----------------------------------------------------------------------------------*/
/*	HOME 2 STYLING
/*-----------------------------------------------------------------------------------*/

.home-slide .home-slide-content {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 90px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 0px;
	text-align: center;
	line-height: 1.2;
}
.home-slide .home-slide-content {
	padding: 50px 10px;
	background: rgba(0, 0, 0, 0.3);
 -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
	color: #ffffff;
}
/*-----------------------------------------------------------------------------------*/
/*	HOME 3 STYLING
/*-----------------------------------------------------------------------------------*/

.home3 .container {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.81);
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.24);
	overflow: hidden;
}
.home3 .container.no-safari {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.home3 .home-quote {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: table-cell;
	vertical-align: middle;
	height: inherit;
	text-align: center;
	width: inherit;
	overflow: hidden;
	color: white;
}
.home3 h1 {
	color: #ffffff;
	font-family: 'BebasNeueRegular', sans-serif;
	width:460px;
}
.home3 .slabtextdone .slabtext.second-child {
	display: inline-block;
	width: auto;
	color: #FFD600;
	text-shadow: none;
	overflow: hidden;
}
.home3 .container:hover {
	-webkit-transform: scale(1.09);
	-moz-transform: scale(1.09);
	-o-transform: scale(1.09);
	-ms-transform: scale(1.09);
	transform: scale(1.09);
	box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.24);
	-webkit-transform-style: preserve-3d;
	overflow: hidden;
}
.home3 h1 {
	font-size: 30px;
	overflow: hidden;
	margin: 0 20px;
}
/*-----------------------------------------------------------------------------------*/
/*	HOME 4 STYLING
/*-----------------------------------------------------------------------------------*/

.home4 .slabtextdone {
	text-shadow: none;
	color:#000000;
	line-height:1;
}
.home4 .home-quote {
	padding: 10px 10px 0;
	background: rgba(255, 255, 255, 0.63);
 -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.32);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.home4.home-gradient .home-quote {
	background: #ffffff;
}
.home4 .home-quote:hover {
	box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.32);
}
.home4 .slabtextdone .slabtext.second-child {
	background: #FFD600;
	padding: 15px 10px;
	display: inline-block;
	width: auto;
	margin-left: -10px;
	color: #ffffff;
}
/* ------------------------------------------------------------------------ */
/*  HOME FULLSCREEN VIDEO
/* ------------------------------------------------------------------------ */
.home-fullscreenvideo {
	background:#1F2224;
}
/* ------------------------------------------------------------------------ */
/*  HOME VARIATIONS
/* ------------------------------------------------------------------------ */
.home-banner {
	height: auto !important;
	color:#ffffff !important;
}
.home-banner .home-text-wrapper {
	padding:150px 0 !important;
}
.home-banner2 {
	height: auto !important;
	padding:0 !important;
	color:#ffffff !important;
}
.home-banner .slabtextdone {
	text-shadow:none;
}
.home-newsletter {
	color:#ffffff !important;
}
.home-newsletter .slabtextdone {
	text-shadow:none;
	color:#ffffff;
}
/*--------------------------------------------------------
/* PARALLAX STYLING
--------------------------------------------------------*/
.parallax {
	width: 100%;
	background-attachment:  fixed !important;
	background-size: cover !important;
	background: #f8f8f8;
	color: #ffffff;
	background-repeat: repeat-y;
	background-position: top center;
}
.parallax h1, .parallax h2, .parallax h3, .parallax h4, .parallax h5, .parallax h6 {
	color:inherit;
}
.parallax .parallax-content {
	padding:170px 0;
	z-index:10;
}
.parallax-content {
	text-align: center;
}
.parallax-overlay {
	background: url(../images/pattern.png);
	width: 100%;
	position: relative;
	overflow:hidden;
	height:100%;
	top:0;
	left:0;
}
.home-parallax .overlay, .home-video .overlay, .home-fullscreenslider .overlay {
	z-index:-1;
}
/*--------------------------------------------------------
/* PARALLAX SECTION 1
--------------------------------------------------------*/
p.quote {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 48px;
	line-height: 1;
	margin-bottom: 20px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	z-index: 200;
	margin: 0 5%;
}
.quote i {
	font-size: 25px;
	display: inline-table;
	vertical-align: top;
	margin: 0 5px;
}
.parallax .quote i {
	color: #FFD600;
}
.quote-author {
	height: 24px;
	width: auto;
	font-size: 17px;
	position: relative;
	margin-top: 25px;
	z-index: 200;
	font-style: italic;
	text-align: center;
}
/*--------------------------------------------------------
/* PARALLAX SECTION 2
--------------------------------------------------------*/
.twitter-slider {
	width: 85%;
	margin: 0 auto !important;
}
#twitter-feed {
	text-align: center;
	padding: 10px 0;
}
#twitter-feed li {
	margin-bottom: 20px;
}
.twitter-feed-icon i {
	font-size: 22px;
	width: 23px;
	color: #ffffff;
	display: inline-block;
	padding: 17px;
	background: #FFD600;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
}
.twitter-author {
	text-transform: uppercase;
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 25px;
}
#twitter-feed ul.slides > li p {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	line-height: 1.4;
	margin: 5px auto 10px;
	padding: 15px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.20);
	border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}
.twitter#twitter-feed {
	text-align: left;
}
.twitter ul {
	padding:0;
}
.twitter .twitter-feed-icon i {
	display: none;
}
.twitter .twitter-author {
	display: none;
}
.twitter li {
	font-family: 'HelveticaNeue Light', sans-serif;
	font-size: 13px;
	color: inherit;
	width: auto;
	line-height: inherit;
	margin-bottom: 20px;
	padding: 0px;
	border: none;
}
/*--------------------------------------------------------
/* PARALLAX SECTION 3
--------------------------------------------------------*/

.testimonial-slider {
	position: relative;
	width: 85%;
	margin: 0 auto !important;
}
.testimonial-slider ul {
	text-align: center;
	padding: 10px 0;
}
.testimonial-icon i {
	font-size: 22px;
	width: 23px;
	color: #ffffff;
	display: inline-block;
	padding: 17px;
	background: #FFD600;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
}
.testimonial-slide .client-testimonial {
	font-size: 13px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	line-height: 1.67;
	margin: 5px auto 10px;
	padding: 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.20);
	border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}
.client-info {
	font-size: 14px;
	margin-bottom: 20px;
	font-style: italic;
}
/*--------------------------------------------------------
/* PAGE SECTIONS
--------------------------------------------------------*/

.section {
	padding: 60px 0 60px;
	position: relative;
	background: #ffffff;
	z-index:6;
	overflow:hidden;
}
.page.multipage {
	text-align: left;
	padding: 30px 0 0;
}
.page.multipage .copyright {
	text-align: center;
}
/*======== TITLE SECTION ========*/

.title {
	text-align: center;
}
.title h1 {
	margin-bottom: 20px;
	line-height: 1;
	display: inline-block;
	padding: 10px;
	background: #FFD600;
	color: #ffffff;
	border: 4px solid #ffffff;
	box-shadow: 0px 0px 0px 3px #FFD600;
}
.multipage .title h1 {
	margin: 60px 0 40px;
	line-height: 0.8;
}
.subtitle {
	font-family: 'Open Sans', "Times New Roman", Times, serif;
	font-size: 25px;
	line-height: 1.2;
	padding: 0;
	margin-bottom: 40px;
	position: relative;
	z-index: 1;
	font-weight: 700;
	text-transform: uppercase;
}
/*======== HOME SECTION ========*/	

.home-video, .home-fullscreenslider {
	padding:0 !important;
	display:table;
	width:100%;
	background: transparent;
	z-index:10;
}
.home-video {
	background:none;
}
.home-video.home-banner, .home-fullscreenslider.home-banner {
	padding:150px 0 !important;
}
.home-video.home-banner #home-background-video, .home-video.home-banner .home-background-vimeo {
	position:static !important;
}
.home-parallax {
	background-size: cover !important;
	background-color: #FFD600;
	background-attachment:fixed !important;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: table;
	color: #010101;
	z-index:10;
	padding:0;
}
/*======== HOME LOGO ========*/	

.home-logo, .home-logo-text {
	margin: 30px 0 100px;
	position: relative;
	display: block;
	text-align: center;
	width: 100%;
	color:#000000;
}
.home-fullscreenslider .home-logo, .home-fullscreenslider .home-logo-text {
	margin: 60px 0 100px;
}
.home-logo-text a {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 60px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 0px;
	text-align: center;
	line-height: 1;
	padding: 5px 25px 0;
	border: 5px solid;
	color: inherit;
}
.home-logo-text.light a {
	color: rgba(255, 255, 255, 0.9);
}
.home-logo-text a:hover {
	color: #ffffff;
}
.slabtextdone {
	line-height: 0.9;
	color: #020202;
	text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}
.slabtexted .slabtext {
	display: -moz-inline-box;
	display: inline-block;
	white-space: nowrap;
}
.slabtextinactive .slabtext {
	display: inline;
	white-space: normal;
	font-size: 1em !important;
	letter-spacing: inherit !important;
	word-spacing: inherit !important;
 *letter-spacing:0 !important;
 *word-spacing:0 !important;
}
.slabtextdone .slabtext {
	display: block;
}
/*=== PORTFOLIO SECTION ===*/

/*==== PORTFOLIO FILTERS ====*/

#filters {
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	display: block;
	float: none;
	z-index: 2;
	position: relative;
}
#filters ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
#filters ul li {
	display: inline-block;
}
#filters ul li a {
	display: block;
	float: left;
	padding: 2px 5px;
	color: inherit;
	margin-right: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}
#filters ul li a h3 {
	font-size: 18px;
	padding: 2px 6px 0px;
	border: 2px solid;
}
#filters ul li a:hover h3, #filters ul li a.active h3 {
	color: #FFD600;
}
/*==== PORTFOLIO AJAX NAVIGATION =====*/
#project-navigation {
	width: 100%;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 0;
	margin: 0;
	z-index: 1;
}
#project-navigation ul {
	float: none;
	margin: 0;
	list-style: none;
	display: none;
	padding: 0;
}
#project-navigation ul li#prevProject a {
	background: url(../images/arrow_left.png) center center no-repeat;
	float: right;
	margin-right: 64px;
}
#project-navigation ul li#nextProject a {
	background: url(../images/arrow_right.png) center center no-repeat;
	float: right;
	margin-right: 10px;
}
#project-navigation ul li#prevProject a, #project-navigation ul li#nextProject a {
	background-color: #151515;
	background-size: 30px;
}
#project-navigation ul li a {
	width: 40px;
	height: 40px;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#project-navigation ul li#prevProject a:hover, #project-navigation ul li#nextProject a:hover {
	background-color: #FFD600;
}
#project-navigation ul li a:hover {
	background-color: #FFD600;
}
#project-navigation ul li a.disabled, #project-navigation ul li a.disabled:hover {
	cursor: default;
	background-color: rgba(0, 0, 0, 0.2) !important;
}
/*=== PROJECT CLOSE ===*/
#closeProject {
	top: 10px;
	position: absolute;
	right: 62px;
	z-index: 1;
}
#closeProject a {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0px;
	display: none;
	background: #151515;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#closeProject a:hover {
	background: #FFD600;
}
#closeProject a i {
	font-size: 14px;
	color: #ffffff;
	line-height: 40px;
	display: inline-table;
	vertical-align: middle;
}
#ajax-section {
	position: relative;
	padding: 0;
	background: #f8f8f8;
	text-align: left;
}
#ajax-section #loader {
	width: 100%;
	height: 20px;
	display: none;
	position: absolute;
	top: -30px;
}
#ajax-section #loader.projectError {
	text-align: center;
	height: auto !important;
	background-position: top center;
}
#ajax-section #loader.projectError p {
	display: none;
	padding-top: 16px;
}
#ajax-section #loader {
	background: url(../images/loader.gif) center center no-repeat;
}
#ajax-section #loader.projectError p {
	color: #666 !important;
}
#ajax-content-outer {
	width: 100%;
	overflow: hidden;
	position: relative;
}
#ajax-content-inner {
	float: left;
	opacity: 0;
}
#ajaxpage {
	float: left;
	display: block;
}
.project-media {
	margin-top: 70px;
	margin-bottom: 30px;
	overflow: hidden;
	display: block;
}
.project-info {
	margin-top: 60px;
	margin-bottom: 30px;
}
.sixteen .project-info {
	margin-top: 0px;
}
.project-info {
	height: auto;
	float: left;
	margin-bottom: 30px;
}
.project-description, .project-details {
	margin-bottom: 30px;
}
.project-description h3, .project-details h3 {
	margin-bottom: 10px;
}
.project-details p {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 7px;
}
.project-details p span {
	font-weight: bold;
}
/*==== PORTFOLIO GRID ====*/
#portfolio-wrap {
	position: relative;
	padding: 0;
	width: 100%;
	margin: 0 auto;
	display: block;
}
#portfolio-wrap .portfolio-item {
	margin: 0;
	padding: 0;
	line-height:0;
	z-index:5;
}
#portfolio-wrap.grid-portfolio .portfolio-item {
	margin: 10px;
	padding: 0;
	margin-bottom:15px;
}
.portfolio-item.current {
	box-shadow: 0 0px 0px 10px rgba(255, 255, 255, 0.37);
	z-index: 101 !important;
}
.portfolio-item {
	padding: 0;
	position: relative;
	overflow: hidden;
}
.portfolio-item .portfolio-image {
	overflow: hidden;
	display: block;
	position: relative;
}
.portfolio-item .portfolio-image img {
	max-width: 100%;
	height: auto;
	opacity:0;
}
.portfolio .portfolio-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	z-index: 4;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #000000;
	background: rgba(0, 0, 0, 0.8);
}
.portfolio > a, .portfolio > a:hover {
	color: #ffffff;
}
.portfolio-item .portfolio > a:hover > .portfolio-overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.portfolio > a img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio > a:hover img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio .thumb-info {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio a:hover .portfolio-overlay .thumb-info {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.portfolio-overlay .thumb-info h3 {
	top: 38%;
	font-size: 22px;
	line-height: 1.1;
}
.portfolio-overlay .thumb-info p {
	top: 59%;
	font-size: 10px;
	line-height: 1.3;
	text-transform:uppercase;
}
.portfolio-overlay .thumb-info h3 {
	color: #ffffff;
	width: 96%;
	position: absolute;
	text-align: center;
	padding:0 2%;
}
.portfolio-overlay .thumb-info p {
	color: #ffffff;
	width: 96%;
	position: absolute;
	text-align: center;
	font-weight: bold;
	padding:0 2%;
}
.portfolio-overlay .thumb-info i {
	color: #ffffff;
	width: 100%;
	position: absolute;
	text-align: center;
	display: block;
}
.portfolio-description, .project-details {
	margin-bottom:20px;
}
.project-details .button {
	margin-top: 10px;
	float: none;
	display: inline-block;
	padding: 0 20px;
}
/**** Isotope CSS3 transitions ****/

.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/*======== BLOG PAGE ========*/	
.post {
	margin-bottom: 60px;
}
.post-media {
	margin-bottom: 30px;
}
.post-title {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 10px;
}
.post-title a {
	color: inherit;
}
.post-title a:hover {
	color: #FFD600;
}
.post.sticky {
	padding: 30px 15px;
	background: rgba(0, 0, 0, 0.04);
 -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.09);
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.09);
}
/*=== BLOG POST TYPES ===*/
.post-image, .post-gallery, .post-video, .post-audio {
	margin-bottom: 30px !important;
}
.post-image img, .post-gallery img {
	max-width: 100%;
	height: auto;
	width: 100%;
}
.post-link {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: normal;
}
.post-quote {
	position: relative;
	padding: 20px 0px 20px;
}
.post-quote i {
	margin:0px 10px;
}
.post-quote h2 {
	margin: 0 0 0px 0;
	padding: 15px 0;
	font-size: 30px;
	font-weight: normal;
}
.post-quote h2 a {
	color:inherit;
}
.post-quote .quote-source a {
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	color:inherit;
}
/*=== BLOG POST TAGS ===*/
.post-tags {
	margin-top: 20px;
}
.post-tags i {
	display: inline-table;
	margin-right: 4px;
	font-size: 16px;
	vertical-align: middle;
}
.post-tags ul {
	display: inline-block;
	padding: 0;
}
.post-tags li {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-size: 11px;
}
.post-tags li:after {
	content: ' . ';
}
.post-tags li:last-child:after {
	content: '';
}
.post-tags li a {
	color: inherit;
	text-decoration: none;
}
.post-tags li a:hover {
	color: #FFD600;
}
.post-meta {
	font-size: 11px;
	margin-bottom: 20px;
	padding: 5px 0;
	border-top: 1px solid #f0f2f5;
	border-bottom: 1px solid #f0f2f5;
	font-size: 16px;
}
.post-meta a {
	color:inherit;
}
.post-meta span {
	text-align: right;
	float: right;
}
.sidebar {
	padding-left: 10px;
}
.widget {
	margin-bottom: 40px;
}
.widget-title {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 10px;
}
.tags-list li {
	font-size: 11px;
	margin-top: 5px;
	display: inline-block;
	padding: 3px 9px;
	border: 1px solid #e8e8e8;
}
.tags-list li:first-child {
	margin-top: 0;
}
.tags-list li a {
	color: #151515;
	text-decoration: none;
}
.tags-list li a:hover {
	color: #FFD600;
}
.blog-tweet {
	font-size: 11px;
	margin-top: 16px;
}
.blog-tweet span {
	display: block;
	margin-top: 7px;
	color: #868991;
	font-size: 10px;
}
.pagination {
	position: relative;
	width: 100%;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
.pages {
	text-align: center;
}
.pages li {
	display: inline-block;
}
.pages li {
	display: inline-block;
	margin: 0px 2px 0px 0;
}
.pages li a {
	font-size: 13px;
	display: block;
	padding: 5px;
	color: #151515;
}
.pages li a.current {
	border-top: 2px solid #FFD600;
	border-bottom: 2px solid #FFD600;
	color: #1c1f26;
}
.pages li a:hover {
	color: #FFD600;
}
/* ------------------------------------------------------------------------ */
/* 11. PAGINATION */
/* ------------------------------------------------------------------------ */
#pagination a, #pagination span {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	padding: 10px 15px 11px 15px;
	border: 1px solid #000000;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 12px;
	line-height: 12px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-weight:bold;
	color:inherit;
}
#pagination a:hover {
	color: #ffffff !important;
	background: #000000;
}
#pagination span.current {
	background: #000000;
	color: #ffffff;
	font-weight: bold;
}
/*=== AUTHOR INFO ===*/
#author-info {
	margin: 0px 0px 20px 0px;
	overflow: hidden;
	display: block;
	position: relative;
}
#author-info .author-image {
	position: absolute;
	width: 45px;
	padding: 20px 0px 20px 0;
}
#author-info .author-image img {
	display: block;
	border: 3px solid #fff;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
#author-info .author-bio {
	float: left;
	margin-left: 70px;
	padding: 20px 20px 20px 0px;
}
#author-info .author-bio h4 {
	margin: 0px 0 10px 0
}
.author .date {
	font-weight: bold;
	margin-bottom:10px;
}
.form-allowed-tags {
	display:none !important;
}
/*=== SOCIAL SHARING ===*/
.socialsharing {
	border: 1px solid #efefef;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom: 30px;
	padding: 10px;
}
.socialsharing h4 {
	float: left;
	font-size: 16px;
	margin-bottom: 0px;
	padding-top: 8px;
}
.socialsharing .social-icons {
	float: right;
	list-style: none;
	margin: 0;
}
.socialsharing .social-icons li {
	float:left;
}
.socialsharing .social-icons a {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	display: block;
	width: 40px;
	line-height: 40px;
	background-repeat: no-repeat;
}
.posts-nav {
	margin: 15px 0 30px;
	padding:10px 0;
}
.posts-nav a {
	display: inline-block;
	margin-right: 10px;
	border-radius: 2px;
	background:#f6f6f6;
	color:inherit;
	font-size:16px;
	padding: 8px 15px;
}
/*=== SOCIAL SHARING ===*/
.socialsharing {
	border: 1px solid #efefef;
	margin-bottom: 30px;
	padding: 10px;
}
.socialsharing h4 {
	float: left;
	font-size: 16px;
	margin-bottom: 0px;
	padding-top: 3px;
}
.socialsharing .social-icons {
	float: right;
	list-style: none;
	margin: 0;
}
.socialsharing .social-icons a {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
/* ------------------------------------------------------------------------ */
/* 12. COMMENTS */
/* ------------------------------------------------------------------------ */
.comments {
	margin-top: 40px;
}
.commentlist {
	list-style: none;
	margin: 30px 0 0 0;
	padding:0;
}
.commentlist li {
	padding: 10px;
	margin: 0 0 20px 0;
}
.commentlist li .comment-text {
	position: relative;
	padding: 10px;
	margin-left: 65px;
	border: 1px solid #f0f0f0;
	border-bottom-color: #e8e8e8;
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.25), /* The top layer shadow */ 0 7px 0 -4px #fff, /* The second layer */ 0 7px 1px -3px rgba(0, 0, 0, 0.15), /* The second layer shadow */ 0 14px 0 -8px #fff, /* The third layer */ 0 14px 1px -7px rgba(0, 0, 0, 0.15)
}
.comment-text:before {
	border: 10px solid #f3f3f3;
	position: absolute;
	top: 12px;
	left: -20px;
	content: '';
	border-top-color: transparent !important;
	border-left-color: transparent !important;
	border-bottom-color: transparent !important;
	z-index: 100;
}
.commentlist > li {
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #efefef;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.commentlist li:last-child {
	margin: 0;
	background: none;
}
.commentlist li ul {
	list-style: none;
	margin: 0 0 0 80px;
}
.commentlist li ul li {
	margin: 10px 0 0px 0 !important;
	padding: 40px 0 0 0;
}
.commentlist li .avatar {
	float: left;
	position: absolute;
}
.commentlist li .avatar img {
	display: block;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.commentlist li .comment-text {
	position: relative;
	background:#ffffff;
	color:#222222;
}
.commentlist li .author {
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 17px;
}
.commentlist li .author span {
	display: inline;
	font-weight: bold;
	font-size: 16px;
}
.commentlist li .date {
	font-size: 11px;
	color: #999999;
}
.commentlist li .date a {
	color: #999999
}
.commentlist li .date a:hover {
	color: #333333
}
.commentlist li em {
	font-size: 11px;
	color: #cccccc;
	font-style: normal;
	margin-bottom: 20px;
	display: block;
}
/*=== COMMENT FORM ELEMENTS ===*/


#respond {
	overflow: hidden;
	margin-bottom: 13px;
}
#respond input {
	width: 28%;
	font-size: 13px;
	padding: 13px 2%;
	float: left;
	margin-right: 1%;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.05);
}
#respond textarea {
	width: 95%;
	height: 150px;
	font-size: 13px;
	padding: 8px 11px;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.05);
}
#respond input:last-child {
	margin-right: 0;
}
#respond input, #respond textarea {
	width: 70%;
}
#respond input[type="submit"], .woocommerce #respond input#submit, .woocommerce ul.products li.product a.button, .woocommerce-page ul.products li.product a.button, .woocommerce div.product form.cart .button, .woocommerce-page .woocommerce-message .button, .woocommerce .cart-collaterals .shipping_calculator .button, .woocommerce-page .cart-collaterals .shipping_calculator .button, .woocommerce .login input.button, .woocommerce .checkout_coupon input.button, .woocommerce a.wc-backward, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order, .woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button, div.wpcf7 div.stretch-submit input[type="submit"] {
	padding: 0px 24px;
	border: 0 none;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	line-height:44px;
	-webkit-box-shadow: inset 0 12px 19px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 12px 19px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 12px 19px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	font-size: 13px;
	font-weight: bold;
	text-shadow: none;
	border: 0 none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	color: #ffffff;
	cursor: pointer;
	background: #FFD600;
	outline:none;
	-webkit-appearance: none;
}
/*======== CONTACT SECTION ========*/
#contact {
	padding-bottom: 0;
}
.contact-box {
	width: 100%;
	text-align: center;
	padding: 45px 0px 60px;
}
.contact-details {
	width: 70%;
	padding: 5px 0;
	margin: 0 auto 10px;
}
.contact-details h2 {
	margin-bottom: 0px;
	color:inherit;
}
.contact-details h1 {
	background: rgba(255, 255, 255, 0.50);
 -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
}
.parallax .contact-details h1 {
	color: #000000 !important;
}
/*=== COPYRIGHT SECTION ===*/
.copyright {
	width: 100%;
	padding: 40px 0;
	background: #FFD600;
	font-size: 11px;
}
.copyright h1, .copyright h2, .copyright h3, .copyright h4, .copyright h5, .copyright h6, .copyright a {
	color: inherit;
}
.copyright-logo a {
	display: inline-block;
	text-align: center;
	margin-bottom: 30px;
}
.copyright .social-icons {
	text-align: center;
}
.copyright .social-icons .social-icon {
	display: inline-block;
	float: none;
	margin: 0 5px 5px 0;
	background-color: rgba(0, 0, 0, 0.05) !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 30px;
}
/*=== CONTACT FORM ELEMENTS ===*/
.wpcf7 div.rnr-input {
	overflow: hidden;
	width: 50%;
	float: left;
}
.wpcf7 div.rnr-input input[type="text"], .wpcf7 div.rnr-input input[type="email"] {
	border: 1px solid #eeeeee;
	width: 98%;
	font-size: 13px;
	color: #747474;
	padding: 20px 2%;
	margin: 0 1% 2% 0;
	border-radius: 2px;
	background: #f9f9f9;
}
.wpcf7 div.rnr-textarea textarea {
	border: 1px solid #eeeeee;
	width: 95%;
	height: 128px;
	font-size: 13px;
	color: #747474;
	padding: 20px 11px 10px;
	border-radius: 2px;
	margin:0 0 10px !important;
	background: #f9f9f9;
}
.wpcf7 div.rnr-input input:last-child {
	margin-right: 0;
}

.wpcf7 div.rnr-textarea {
	width: 50%;
	float: right;
}
.wpcf7 div.rnr-input label, .wpcf7 div.rnr-textarea label {
	display: block;
	text-align:left;
	font-weight:bold;
	padding-left: 2%;
}
.wpcf7 div.rnr-submit input[type="submit"] {
	padding: 20px 24px 20px 24px;
	border: 0 none;
	color: #ffffff;
	display: block;
	width: 50%;
	cursor: pointer;
	text-indent: -9999px;
	background-image: url(../images/mail.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: right;
	height:57px;
	line-height:57px;
	-webkit-appearance: none;
	border-radius: 3px;
	outline:none;
}
.wpcf7 div.rnr-input > span, .wpcf7 div.rnr-textarea > span {
	display: inline !important;
}
span.wpcf7-not-valid-tip {
	display: none !important;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select {
	background: #fff;
	padding: 8px 8px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
	margin: 0;
	width: 200px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	width: 180px;
	color: #999;
	border: 1px solid #e8e8e8;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
	border: 1px solid #e0e0e0;
}
.fittext-content {
	line-height: 0.8;
}
* html .title h1 {
	display: inline;
}
* + html .title h1 {
	display: inline;
}
/* ------------------------------------------------------------------------ */
/*  BACK TO TOP BUTTON
/* ------------------------------------------------------------------------ */
#back-to-top {
	position: fixed;
	z-index: 1000;
	bottom: 20px;
	right: 20px;
	display: none;
}
#back-to-top a {
	display: block;
	width: 40px;
	height: 40px;
	background: #515A5F url(../images/backtotop.png) no-repeat center center;
	text-indent: -9999px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-transition: 0.2s all linear;
	-moz-transition: 0.2s all linear;
	-o-transition: 0.2s all linear;
	transition: 0.2s all linear;
}
#back-to-top a:hover {
	background-color: #222222;
}
/* ------------------------------------------------------------------------ */
/*  GOOGLE MAP
/* ------------------------------------------------------------------------ */

#google-map {
	height:450px;
	position: relative;
	width: 100%;
	background: white;
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.06);
}
#google-map:before, #google-map:after {
	background: none;
	text-align:center;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	z-index:2;
}
#google-map:after {
	bottom: 0;
	top: auto;
}
#google-map .captionMap {
	background: black;
	background: rgba(0, 0, 0, 0.8);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), black);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.6), black);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.6), black);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.6), black);
	background: linear-gradient(rgba(0, 0, 0, 0.6), black);
	border-radius: 4px;
	z-index: 1;
	top:5px;
	color: white;
	padding: 12px;
	font: 12px HelveticaNeue, Helvetica, Arial;
	display: inline-block;
	position: absolute;
	text-shadow: black 0px 1px 1px;
	width:254px;
}
#google-map .captionMap span {
	font-weight: bold;
	display:block;
	padding-top:5px;
}
#google-map .captionMap:after {
	content: '';
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -5px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(0, 0, 0, 0.6);
	width:0px;
	height:0px;
	z-index:2;
}
#google-map .captionMap img {
	width:60px;
	margin-bottom:5px;
	margin-right:13px;
	float:left;
}
.mapPreLoading {
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-15px;
	margin-left:-25px;
}
.mapPreLoading span {
	display: block;
	margin: 0 auto;
}
 .mapPreLoading span[class*="l-"] {
 display: inline-block;
 background: #000;
 width: 6px;
 height: 6px;
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 border-radius: 100%;
 margin: 12px 2px;
 position: relative;
 -webkit-animation: loader 4s infinite;
 -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
 -webkit-animation-fill-mode: both;
 -moz-animation: loader 4s infinite;
 -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
 -moz-animation-fill-mode: both;
 -ms-animation: loader 4s infinite;
 -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
 -ms-animation-fill-mode: both;
 animation: loader 4s infinite;
 animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
 animation-fill-mode: both;
}
.mapPreLoading span.l-1 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}
.mapPreLoading span.l-2 {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-ms-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.mapPreLoading span.l-3 {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.mapPreLoading span.l-4 {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.mapPreLoading span.l-5 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.mapPreLoading span.l-6 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
 @-webkit-keyframes loader {
 0% {
-webkit-transform: translateX(-30px);
opacity: 0;
}
 25% {
opacity: 1;
}
 50% {
-webkit-transform: translateX(30px);
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-moz-keyframes loader {
 0% {
-moz-transform: translateX(-30px);
opacity: 0;
}
 25% {
opacity: 1;
}
 50% {
-moz-transform: translateX(30px);
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-ms-keyframes loader {
 0% {
-ms-transform: translateX(-30px);
opacity: 0;
}
 25% {
opacity: 1;
}
 50% {
-ms-transform: translateX(30px);
opacity: 0;
}
 100% {
opacity: 0;
}
}
@keyframes loader {
 0% {
transform: translateX(-30px);
opacity: 0;
}
 25% {
opacity: 1;
}
 50% {
transform: translateX(30px);
opacity: 0;
}
 100% {
opacity: 0;
}
}
 @-webkit-keyframes bounceInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateY(30px);
}
 80% {
 -webkit-transform: translateY(-10px);
}
 100% {
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes bounceInDown {
 0% {
 opacity: 0;
 -moz-transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -moz-transform: translateY(30px);
}
 80% {
 -moz-transform: translateY(-10px);
}
 100% {
 -moz-transform: translateY(0);
}
}
 @-ms-keyframes bounceInDown {
 0% {
 opacity: 0;
 -ms-transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -ms-transform: translateY(30px);
}
 80% {
 -ms-transform: translateY(-10px);
}
 100% {
 -ms-transform: translateY(0);
}
}
 @-o-keyframes bounceInDown {
 0% {
 opacity: 0;
 -o-transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -o-transform: translateY(30px);
}
 80% {
 -o-transform: translateY(-10px);
}
 100% {
 -o-transform: translateY(0);
}
}
 @keyframes bounceInDown {
 0% {
 opacity: 0;
 transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 transform: translateY(30px);
}
 80% {
 transform: translateY(-10px);
}
 100% {
 transform: translateY(0);
}
}
.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-ms-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
/*-----------------------------------------------------------------------------------*/
/*	REVOLUTION SLIDER
/*-----------------------------------------------------------------------------------*/
.fullwidthbanner-container {
	width:100% !important;
	position:relative;
	padding:0;
	max-height:750px !important;
	overflow:hidden;
}
.portfolio-bannercontainer {
	width: 100% !important;
	position: relative;
	padding: 0;
	max-height: 600px !important;
	overflow: hidden;
	margin-bottom: 50px;
}
.revolution ul {
	visibility: hidden;
	margin: 0;
	list-style: none;
}
.tp-leftarrow.default, .tp-rightarrow.default {
	z-index: 100;
	cursor: pointer;
	position: relative;
	top: 50% !important;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	background: rgba(0, 0, 0, 0.3);
	color: #f7f7f7;
	line-height: 1;
	font-size: 20px;
	padding: 15px 19px;
	width: auto;
	height: auto;
}
.tparrows:before {
	font-family: 'fontAwesome';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
}
.tp-leftarrow.default:before {
	content: "\f053";
}
.tp-rightarrow.default:before {
	content: "\f054";
}
.tparrows:hover {
	background: rgba(0, 0, 0, 0.5);
}
.tp-bullets.simplebullets.round .bullet {
	width: 15px;
	height: 15px;
	margin-left: 5px;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	background: rgba(0, 0, 0, 0.3);
}
.tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.round .bullet:hover {
	background: rgba(0, 0, 0, 0.5);
}
.tp-bullets.hidebullets {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.tp-loader {
	background: url(style/images/loading.gif) no-repeat;
	background-color: #fff;
	margin: -15px -15px;
	top: 50%;
	left: 50%;
	z-index: 10000;
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}
/* ------------------------------------------------------------------------ */
/*  NEWSLETTER FUNCTION
/* ------------------------------------------------------------------------ */

.mc4wp-form {
	margin-top: 0;
	display: block;
	text-align: center;
}
.mc4wp-form div {
	display: block;
	margin:0 auto 10px;
	max-width: 600px;
}
.mc4wp-form input[type="text"], .mc4wp-form input[type="email"] {
	height: 50px !important;
	display: inline-block;
	width: 49.5% !important;
	padding: 0 10px;
	margin: 8px 0px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid rgba(255, 255, 255, 0.09);
	box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.1);
	color: #3A3838;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.7);
	font-weight: bold;
	text-transform: none;
}
.mc4wp-form input[type="text"] {
	float:left;
}
.mc4wp-form input[type="email"] {
	float:right;
}
.mc4wp-form label {
	color: #fff;
	text-shadow: 1px 1px rgba(0, 0, 0, .25);
	font-size: 12px
}
.mc4wp-form input[type="submit"] {
	color: #FFFFFF;
	font-size: 16px;
	display: block;
	padding: 5px 0;
	width: 100% !important;
	margin: 13px auto 0;
	text-align: center;
	-webkit-box-shadow: inset 0 12px 19px rgba(255, 255, 255, 0.1), 0 1px 7px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 12px 19px rgba(255, 255, 255, 0.1), 0 1px 7px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 12px 19px rgba(255, 255, 255, 0.1), 0 1px 7px rgba(0, 0, 0, 0.2);
	padding: 13px 24px;
	font-size: 13px;
	font-weight: bold;
	text-shadow: none;
	border: 0 none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	color: #ffffff;
	cursor: pointer;
	background-color: #FFD600;
}
input:-moz-placeholder, textarea:-moz-placeholder {
 color: #3A3838;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 color: #3A3838;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #3A3838;
}
.page-template-default .section, .blog .section, .page-template-default .section {
	padding-top:60px;
}
.page-template-default nav.transparent .main-menu a, .blog nav.transparent .main-menu a, nav.transparent.scroll .main-menu a {
	color:#000000;
}
/* Mobile Menu */
.selectnav {
	display: none;
	font-family: 'BebasNeueRegular', sans-serif;
	text-transform: uppercase;
	-webkit-appearance: none;
	background-color: transparent !important;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	line-height: 1;
	padding: 0px 10px;
	border-radius: 0;
	background-image: url(../images/menu.png);/*/selectmenu.png*/
	background-position: center right;
	background-repeat: no-repeat;
	color: inherit;
	outline: none;
	width:150px;
	background-size:30px;
	margin-top: 13px;
	font-size:24px;
	min-width:auto;
}
.selectnav {
	color: transparent;
}
.selectnav option {
	color:#000000;
}
/* CUSTOM STYLED LISTS */
ul.styled-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.styled-list li i {
	margin-right: 6px;
	margin-top: 0px;
	font-size: 15px;
}
#wrapper_mbYTP_bgndVideo, .mbYTP_wrapper {
	z-index:-1 !important;
}
#okplayer {
	max-height:115%;
}
#home-background-video, .home-background-vimeo {
	position: absolute !important;
	width:100%;
	height:inherit;
	top:0;
	left:0;
	z-index:-1;
}
.rnr-video-control, .rnr-audio-control {
	bottom: 20px;
	position: absolute;
	text-indent:-9999px;
	width:50px;
	height:50px;
	left: 50%;
	margin-left:-23px;
	display:block;
}
.rnr-mute {
	background-attachment: scroll;
	background-image: url('../images/rnr-unmute.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.rnr-unmute {
	background-attachment: scroll;
	background-image: url('../images/rnr-mute.png');
	background-repeat: no-repeat;
	background-position: center center;
}
#infscr-loading {
	display:none !important;
}
#port-pagination a {
	padding:20px 0;
	text-align: center;
	background:#efefef;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	color: inherit;
	width:100%;
	display: block;
}
#port-pagination a:hover {
	color: #ffffff;
	background: #ffd600;
}
.rnr-portfolio {
	padding-bottom: 0px !important;
}
/*-----------------------------------------------------------------------------------*/
/* Blog
/*-----------------------------------------------------------------------------------*/
.latest-blog .blog-item {
	position: relative;
	margin-bottom: 20px;
	text-align: left;
	float: none !important;
	display: inline-table;
	vertical-align:top;
}
.latest-blog .blog-item .inner {
	overflow: hidden;
}
.latest-blog .blog-item .blog-image, .portfolio-item .portfolio {
	overflow: hidden;
	display: block;
	position: relative;
}
.latest-blog .blog-item .blog-image img {
	width: 100%;
}
.latest-blog .blog-item .blog-overlay, .portfolio .portfolio-overlay {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.latest-blog .blog-item .inner .blog-item-description .desc.post-icon.standard, .post .desc.post-icon.standard {
	background-image: url(../images/postformat-standard-dark.png);
}
.latest-blog .blog-item .inner .blog-item-description .desc.post-icon.imagegallery, .post .desc.post-icon.imagegallery {
	background-image: url(../images/postformat-gallery-dark.png);
}
.latest-blog .blog-item .inner .blog-item-description .desc.post-icon.link, .post .desc.post-icon.link {
	background-image: url(../images/postformat-link-dark.png);
}
.latest-blog .blog-item .inner .blog-item-description .desc.post-icon.quote, .post .desc.post-icon.quote {
	background-image: url(../images/postformat-quote-dark.png);
}
.latest-blog .blog-item .inner .blog-item-description .desc.post-icon.video, .post .desc.post-icon.video {
	background-image: url(../images/postformat-video-dark.png);
}
.latest-blog .blog-item .inner .blog-item-description .desc.post-icon.audio, .post .desc.post-icon.audio {
	background-image: url(../images/postformat-audio-dark.png);
}
.latest-blog .blog-item .inner:hover .blog-item-description .desc.post-icon.standard, .post:hover .desc.post-icon.standard {
	background-image: url(../images/postformat-standard.png);
}
.latest-blog .blog-item .inner:hover .blog-item-description .desc.post-icon.imagegallery, .post:hover .desc.post-icon.imagegallery {
	background-image: url(../images/postformat-gallery.png);
}
.latest-blog .blog-item .inner:hover .blog-item-description .desc.post-icon.link, .post:hover .desc.post-icon.link {
	background-image: url(../images/postformat-link.png);
}
.latest-blog .blog-item .inner:hover .blog-item-description .desc.post-icon.quote, .post:hover .desc.post-icon.quote {
	background-image: url(../images/postformat-quote.png);
}
.latest-blog .blog-item .inner:hover .blog-item-description .desc.post-icon.video, .post:hover .desc.post-icon.video {
	background-image: url(../images/postformat-video.png);
}
.latest-blog .blog-item .inner:hover .blog-item-description .desc.post-icon.audio, .post:hover .desc.post-icon.audio {
	background-image: url(../images/postformat-audio.png);
}
.latest-blog .blog-item .inner:hover .blog-item-description .desc.post-icon {
	background-color: #ffd600;
}
.latest-blog .blog-item img {
	display: block;
}
.latest-blog .inner .desc.post-icon, .post .desc.post-icon {
	position: absolute;
	top: 50%;
	left: 0;
	text-indent: -9999px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	top: 0;
	opacity: 1;
	filter: alpha(opacity=1);
	margin: 0;
	background-color: #f0f0f0;
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24px 24px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.latest-blog .blog-item-description, .post .blog-item-description {
	position: relative;
}
.latest-blog .blog-item-description .post-details, .post .blog-item-description .post-details {
	margin-left: 20px;
	padding-left: 35px;
	border-left: 1px solid #f0f0f0;
}
.latest-blog .blog-item-description .post-details p, .post .blog-item-description .post-details p {
	margin-bottom: 10px;
}
.latest-blog .blog-item h4 {
	margin-bottom: 0px;
	padding: 0;
	line-height: 24px;
}
.latest-blog .blog-item .blog-item-description span, .post .blog-item-description .post-title span {
	line-height: 1;
	display: inline-block;
	padding: 5px 10px;
	margin: 10px 0 20px;
	font-size: 11px;
}
.latest-blog .blog-item .blog-item-description span.date, .post .blog-item-description span.date {
	background: #ffd600;
	color: #ffffff;
}
.latest-blog .blog-item .blog-item-description span.post-comments, .post .blog-item-description span.post-comments {
	background: #f0f0f0;
}
.post-details p a.read-more-link {
	display: inline-block;
}
.blog-item .blog {
	padding: 5px;
	border: 1px solid #e8e8e8;
	margin-bottom: 10px;
	box-shadow: 0px 0px 13px rgb(228, 221, 221);
}
.blog .blog-overlay, .portfolio .portfolio-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	z-index: 4;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin: 0.4px;
	padding: 0.6px;
}
.blog > a, .blog > a:hover, .portfolio > a, .portfolio > a:hover {
	color: #ffffff;
}
.blog-item .blog > a:hover > .blog-overlay, .portfolio-item .portfolio > a:hover > .portfolio-overlay {
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter: alpha(opacity=90);
}
.blog > a img, .portfolio > a img {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog > a:hover img, .portfolio > a:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog .thumb-info, .portfolio .thumb-info {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden; /*for a smooth font */
}
.blog a:hover .blog-overlay .thumb-info, .portfolio a:hover .portfolio-overlay .thumb-info {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.blog-overlay .thumb-info h4, .portfolio-overlay .thumb-info h4 {
	position: absolute;
	top: 53%;
	line-height: 20px;
	padding: 0 10%;
	width: 80%;
	text-align: center;
	-moz-text-shadow: 0 0 5px rgba(0, 0, 0, .2);
	-webkit-text-shadow: 0 0 5px rgba(0, 0, 0, .2);
	text-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.blog-overlay .thumb-info i {
	color: #ffffff;
	width: 100%;
	position: absolute;
	top: 50%;
	font-size: 44px;
	margin-top: -10px;
	height: 30px;
	line-height: 33px;
	text-align: center;
}

.error404 #supersized-loader {
	display;: none !important;
}
/*============ Contactform 7 Styling ============*/


form, fieldset {
	margin-bottom: 20px
}
textarea {
	min-height: 60px
}
label, legend {
	cursor: pointer;
	display: block;
}
label span, legend span {
	font-weight: bold
}
span.wpcf7-form-control-wrap{
	width: 100%;
}
.wpcf7-form input[type="text"], .wpcf7-form input[type="password"], .wpcf7-form input[type="tel"], .wpcf7-form input[type="email"], .wpcf7-form input[type="url"], .wpcf7-form input[type="number"], .wpcf7-form input[type="date"], .wpcf7-form textarea, .wpcf7-form select {
	background: #fff;
	padding: 15px 8px;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #777777;
	display: block;
	margin-bottom: 20px;
	width: 100%;
	margin: 5px 0 0 0;
	border: 1px solid #e8e8e8;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);

}
.wpcf7-form input[type="text"]:focus, .wpcf7-form input[type="password"]:focus, .wpcf7-form input[type="tel"]:focus, .wpcf7-form input[type="email"]:focus, .wpcf7-form input[type="url"]:focus, .wpcf7-form input[type="number"]:focus, .wpcf7-form input[type="date"]:focus, .wpcf7-form textarea:focus, .wpcf7-form select:focus {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: whitesmoke;
}
.wpcf7-form textarea{
	
}
.wpcf7-form input[type="submit"]{
    padding: 7px 11px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    width: auto;
    font-size: 12px; 
    border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

div.wpcf7 input[disabled="disabled"] {
	background: gray !important; /* FF15, Chrome22 */
}
input.wpcf7-form-control.wpcf7-captchar{
	width: 200px;
}

.wpcf7-form input[type="checkbox"] {
	width: auto;
}
.wpcf7 form.wpcf7-form p {
	margin: 0 0 20px 0 !important;
}
.wpcf7-list-item-label {
	font-weight: normal;
}
.wpcf7-response-output {
	display: none;
}
.wpcf7-form .invalid {
	color: #bf1515 !important;
}
.wpcf7-not-valid {
	border: 1px solid #FFBEBE !important;
}
div.wpcf7-response-output {
	margin: 0px !important;
	padding: 5px 10px !important;
}
div.wpcf7-mail-sent-ok, div.wpcf7-mail-sent-ng, div.wpcf7-spam-blocked, div.wpcf7-validation-errors {
	position:relative;
	border:1px solid #ddd !important;
	display:block;
	background-color:#F7F7F7;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	font-weight:bold;
	padding:10px 40px !important;
	text-align:center;
	margin-bottom:20px;
}
div.wpcf7-mail-sent-ok {
	background-color: #e9f2d2;
	border-color: #c0da66 !important;
	color: #88b12b;
}
div.wpcf7-mail-sent-ng {
	background-color: #ffe9e9;
	border-color: #e99f9f !important;
	color: #d25c5a;
}
div.wpcf7-spam-blocked {
	background-color: #fbf6e3;
	border-color: #efd877 !important;
	color: #c4a80a;
}
div.wpcf7-validation-errors {
	background-color: #fbf6e3;
	border-color: #efd877 !important;
	color: #c4a80a;
}

/*===== Contact Form 7 Customization =====*/

div.wpcf7 div.full span.wpcf7-form-control-wrap {
	display:block !important;
}
div.wpcf7 div span.wpcf7-form-control-wrap input {
	width: 99%;
	margin-bottom: 8px;
}
div.wpcf7 div span.wpcf7-form-control-wrap textarea {
	width: 100%;
	margin-bottom: 8px;
}
div.wpcf7 div.side-by-side span.wpcf7-form-control-wrap, div.wpcf7 div.side-by-side input.wpcf7-form-control.wpcf7-submit {
	width: 49%;
	float: right;
}
div.wpcf7 div.side-by-side span.wpcf7-form-control-wrap:first-child {
	width: 49%;
	float: left;
}
div.wpcf7 div.side-by-side span.wpcf7-form-control-wrap > input {
	width: 100%;
	float: left;
}
div.wpcf7 div.stretch-submit {
	padding: 10px 0px;
}
div.wpcf7 div.stretch-submit input[type="submit"] {
	width: 100% !important;/*	padding-top: 10px;
	padding-bottom: 10px;*/
}
div.wpcf7 div input[type="text"], div.wpcf7 div input[type="email"] {
	font-size: 14px;
	padding-right: 0;
}
div.wpcf7 div.wpcf7-response-output {
	margin: 0 1px 0 0;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.6);
	margin-top: -17px;
	border-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	-ms-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 1px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 1px rgba(0, 0, 0, 0.3);
}
div.wpcf7 div.wpcf7-response-output.wpcf7-mail-sent-ok {
	background-color: transparent;
	background-color: rgba(57, 143, 20, 0.6);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99398F14, endColorstr=#99398F14);
	zoom: 1;
	border-color: #96C085;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
	display:inline-block;
}
div.wpcf7 div.wpcf7-response-output.wpcf7-validation-errors {
	background-color: crimson;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99F7E700, endColorstr=#99F7E700);
	zoom: 1;
	color: white;
	display:inline-block;
}
input.wpcf7-not-valid {
	border-color: #F7E700;
	display:inline-block;
}
.wpml-mobile img {
	margin:2px 3px;
}
/* ==== Woocommerce styles ========*/


.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3, .shipping-calculator-button {
	font-size:24px;
}
.woocommerce-page div.product .product_title, .woocommerce div.product .product_title {
	font-size:45px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	margin-bottom:5em;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
	box-shadow:none;
}
.woocommerce .panel {
	/* border: 0; */	
	padding: 20px 25px !important;
}
.woocommerce-tabs ul.tabs {
	padding-left:0 !important;
	border-radius:0px;
	margin-bottom: 0 !important;
}
.woocommerce-tabs ul.tabs li {
	border-radius:0px !important;
	background: #f7f7f7 !important;
	margin:0px !important;
}
.woocommerce-tabs ul.tabs li.active {
	background: #ffffff !important;
}
.woocommerce-tabs ul.tabs li:before, .woocommerce-tabs ul.tabs li:after {
	display:none;
}
.woocommerce #commentform > p label {
	width:100%;
	display:block;
	padding:5px 0;
}
.woocommerce #review_form #respond, .woocommerce-page #review_form #respond {
	margin-top:40px;
}
.woocommerce #review_form #reply-title, .woocommerce-page #review_form #reply-title {
	margin-bottom:20px;
}
.woocommerce #respond input, .woocommerce #respond textarea {
	float:none;
	width:95%;
	-moz-box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
	-webkit-box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
	box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
	margin-bottom:20px;
	background:#f8f8f8;
}
.woocommerce p.stars, .woocommerce-page p.stars {
	margin-bottom:20px !important;
}
.woocommerce #respond input#submit, .woocommerce ul.products li.product a.button, .woocommerce-page ul.products li.product a.button, .woocommerce div.product form.cart .button, .woocommerce-page .woocommerce-message .button, .woocommerce .cart-collaterals .shipping_calculator .button, .woocommerce-page .cart-collaterals .shipping_calculator .button, .woocommerce a.wc-backward, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order, .woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
	width:auto;
	display:inline-block !important;
	background:#ffd600;
}
.woocommerce #respond input#submit:hover, .woocommerce-page .woocommerce-message .button:hover, .woocommerce button.button.alt, .woocommerce a.wc-backward:hover, .woocommerce #payment #place_order:hover, .woocommerce-page #payment #place_order:hover, .woocommerce .widget_price_filter .price_slider_amount .button:hover, .woocommerce-page .widget_price_filter .price_slider_amount .button:hover {
	background:#ffd600;
}
.woocommerce mark {
	background-color: transparent!important;
}
.cart .quantity input[type=button].plus, .cart .quantity input[type=button].minus {
	background: #f3f3f3;
	border: 1px solid #e8e8e8;
	border-radius: 0px !important;
	cursor: pointer;
	display: inline!important;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 40px;
	position: relative;
	float: left;
	outline:none;
	box-shadow:none;
	-webkit-appearance: none;
}
.cart .quantity input.plus:hover, .cart .quantity input.minus:hover {
	background-color:#f0f0f0;
}
.woocommerce .cart .quantity input.qty {
	border: 1px solid #f0f0f0;
	border-left: none;
	border-right: none;
	display: inline;
	height: 38px;
	line-height: 40px;
	margin: 0;
	padding: 0 5px;
	text-align: center;
	vertical-align: middle;
	width: 35px;
	position: relative;
	-webkit-appearance: none;
}
.woocommerce #content .quantity, .woocommerce .quantity, .woocommerce-page #content .quantity, .woocommerce-page .quantity {
	width:auto !important;
}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
	margin-bottom:80px;
	clear:both;
}
.woocommerce .products.related .product, .woocommerce .products.upsells .product {
	margin-bottom: 2%;
	margin-right: 2% !important;
	width: 23.45% !important;
}
.woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce-page .cart .shop_table .button, .woocommerce-page .cart .shop_table input.button, .woocommerce .login input.button, .woocommerce .checkout_coupon input.button, .woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
	line-height: 0 !important;
	height: 30px;
	background: #f3f3f3;
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-shadow: none;
	outline:none;
	-webkit-appearance: none;
}
.woocommerce .cart input.button.alt, .woocommerce .login input.button,  .woocommerce .checkout_coupon input.button {
	background:#ffd600;
}
.woocommerce .cart input.button.alt:hover {
	text-shadow:none;
}
.cart-collaterals {
	margin-top:80px;
}
.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info, .woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error {
	border:1px solid #f0f0f0;
	padding:20px 10px 10px !important;
	background:#f8f8f8;
	border-radius:0px !important;
	box-shadow:none;
}
.woocommerce .woocommerce-message a, .woocommerce-page .woocommerce-message a {
	margin-top:-10px;
}
.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info, .woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error {
	padding:10px !important;
}
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before, .woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-error:before {
	display:none;
}
.woocommerce .price_slider_amount .clear {
	padding: 0px!important;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
	height: 10px;
	background-color: #EBEBEB;
	height: 10px;
	background-image: none!important;
	border-radius: 300px 300px 300px 300px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	border-bottom: 1px solid #FFFFFF;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #ffd600;
	height: 10px;
	border: none!important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	background-image: none!important;
	border-radius: 300px 300px 300px 300px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16) inset!important;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset!important;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset!important;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset!important;
	border-bottom: 1px solid #FFFFFF;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #F5F5F5!important;
	background-image: none!important;
	height: 20px!important;
	width: 20px!important;
	top: -5px!important;
	border: none!important;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 9px 8px rgba(0, 0, 0, 0.035), 0px 1px 0px #fff inset!important;
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 9px 8px rgba(0, 0, 0, 0.035), 0px 1px 0px #fff inset!important;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 9px 8px rgba(0, 0, 0, 0.035), 0px 1px 0px #fff inset!important;
	-o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 9px 8px rgba(0, 0, 0, 0.035), 0px 1px 0px #fff inset!important;
}
.woocommerce .price_slider_amount button.button, .woocommerce .price_slider_amount .price_label {
	background-color: #F8F8F8!important;
	background-repeat: repeat-x;
	color: #666666!important;
	line-height: 14px!important;
	border: 1px solid #E1E1E1!important;
	padding: 7px 8px!important;
	border-radius: 0 0 0 0;
	margin-top: 9px;
	font-size: 12px;
	-webkit-box-shadow: inset 0 12px 19px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 12px 19px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 12px 19px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.woocommerce .price_slider_amount button.button:hover {
	background-color: #F4f4f4!important;
}
.woocommerce .price_slider_amount .price_label {
	float: right;
	position: relative;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a {
	font-weight: normal!important;
}
.woocommerce .widget_recent_reviews .product_list_widget li, .woocommerce .widget_top_rated_products .product_list_widget li {
	line-height: 26px;
}
.woocommerce-page ul.product_list_widget li img {
	height: 62px!important;
	width: 62px!important;
	margin-left: 0px!important;
	margin-right: 15px;
	float: left!important;
	margin-bottom: 0px;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-o-box-shadow: none!important;
	-moz-box-shadow: none!important;
}
.woocommerce .widget_layered_nav_filters ul li a, .woocommerce-page .widget_layered_nav_filters ul li a {
	background-color: #333!important;
	border: none!important;
	transition: all 0.2s linear!important;
	-webkit-transition: all 0.2s linear!important;
	-o-transition: all 0.2s linear!important;
	-moz-transition: all 0.2s linear!important;
}
.woocommerce-page .widget_layered_nav_filters ul li {
	padding: 0 1px 1px 0!important;
	border-bottom: 0px!important;
}
.woocommerce .ppt {
	text-indent: -9999px!important;
}
.cbp-rfgrid {
	margin: 35px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}
.portfolio-item {
	position: relative;
	float: left;
	overflow: hidden;
}
.portfolio-item.port-grid6 {
	width: 16.666667%; /* Fallback */
	width: -webkit-calc(100% / 6.008);
	width: calc(100% / 6.008);
}
.portfolio-item.port-grid5 {
	width: 20%; /* Fallback */
	width: -webkit-calc(100% / 5.007);
	width: calc(100% / 5.007);
}
.portfolio-item.port-grid4 {
	width: 25%; /* Fallback */
	width: -webkit-calc(100% / 4.006);
	width: calc(100% / 4.006);
}
.portfolio-item.port-grid3 {
	width: 33.3333333%; /* Fallback */
	width: -webkit-calc(100% / 3.005);
	width: calc(100% / 3.005);
}
.portfolio-item.port-grid2 {
	width: 50%; /* Fallback */
	width: -webkit-calc(100% / 2.004);
	width: calc(100% / 2.004);
}
.portfolio-item a, .portfolio-item a img {
	display: block;
	width: 100%;
	cursor: pointer;
}
.portfolio-item a img {
	max-width: 100%;
}
#google-map label {
	width: auto;
	display:inline;
}
#google-map img {
	max-width: none;
}
/* Flexbox is used for centering the heading */
.portfolio-item a div {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	opacity: 0;
}
 @media screen and (max-width: 1170px) {
 .portfolio-item.port-grid6,  .portfolio-item.port-grid5,  .portfolio-item.port-grid4,  .portfolio-item.port-grid3,  .portfolio-item.port-grid2 {
 width: 25%; /* Fallback */
 width: -webkit-calc(100% / 4.006);
 width: calc(100% / 4.006);
}
}
 @media screen and (max-width: 960px) {
 .portfolio-item.port-grid6,  .portfolio-item.port-grid5,  .portfolio-item.port-grid4,  .portfolio-item.port-grid3,  .portfolio-item.port-grid2 {
 width: 33.3333333%; /* Fallback */
 width: -webkit-calc(100% / 3.005);
 width: calc(100% / 3.005);
}
}
 @media screen and (max-width: 768px) {
 .portfolio-item.port-grid6,  .portfolio-item.port-grid5,  .portfolio-item.port-grid4,  .portfolio-item.port-grid3,  .portfolio-item.port-grid2 {
 width: 50%; /* Fallback */
 width: -webkit-calc(100% / 2.004);
 width: calc(100% / 2.004);
}
}
 @media screen and (max-width: 480px) {
 .portfolio-item.port-grid6,  .portfolio-item.port-grid5,  .portfolio-item.port-grid4,  .portfolio-item.port-grid3,  .portfolio-item.port-grid2 {
 width: 100%;
}
}
.rnr-lazyload {
	opacity:0;
	backface-visibility: hidden;
	-webkit-transition:  all 700ms;
	-moz-transition:  all 700ms;
	transition:  all 700ms;
}
.rnr-animate {
	visibility:hidden;
}
/*============== RNR CAROUSEL ============= */
.rnr-carousel-navigation {
	text-align:center;
	margin-top:40px;
}
.rnr-carousel-navigation li {
	display:inline-block;
	margin:0 5px;
}
.rnr-carousel-navigation li a {
	cursor:pointer;
}
.rnr-carousel-navigation li a i {
	border:2px solid #999;
	color:#222;
	border-radius: 100px;
	line-height: 28px;
	padding-top: 2px;
	width: 30px;
	opacity:0.5
}
.rnr-carousel-navigation li a i:hover {
	opacity:1
}
.rnr-carousel .item {
	float:left !important;
	display:block;
}
.rnr-carousel .item .rnr-column {
	width:293px;
	margin:0 !important;
	display:block;
	float:none !important;
	padding:0 10px;
	position: relative;
}
/*============================ 2 COLUMNS CAROUSEL STYLING ========================== */

.rnr-carousel .item .one_half, .rnr-carousel .item .one_half.last {
	width:450px;
}
.rnr-carousel.rnr-wide .item .one_half, .rnr-carousel.rnr-wide .item .one_half.last {
	width:565px;
}
.rnr-carousel .item .team-member.team-2 {
	padding:0px 0px 30px;
	width:470px;
}
.rnr-carousel.rnr-wide .item .team-member.team-2 {
	width:585px;
	padding:0px 0px 40px;
}
/*============================ 3 COLUMNS CAROUSEL STYLING ========================== */

.rnr-carousel .item .one_third, .rnr-carousel .item .one_third.last {
	width:293px;
}
.rnr-carousel.rnr-wide .item .one_third, .rnr-carousel.rnr-wide .item .one_third.last {
	width:370px;
}
.rnr-carousel .item .team-member.team-3 {
	padding:0px 0px 30px;
	width:313px;
}
.rnr-carousel.rnr-wide .item .team-member.team-3 {
	width:390px;
	padding:0px 0px 40px;
}
/*============================ 4 COLUMNS CAROUSEL STYLING ========================== */

.rnr-carousel .item .one_fourth, .rnr-carousel .item .one_fourth.last {
	width:215px;
}
.rnr-carousel.rnr-wide .item .one_fourth, .rnr-carousel.rnr-wide .item .one_fourth.last {
	width:272px;
}
.rnr-carousel .item .team-member.team-4 {
	padding:0px 0px 30px;
	width:235px;
}
.rnr-carousel.rnr-wide .item .team-member.team-4 {
	width:292.5px;
	padding:0px 0px 40px;
}
div.modal.in span {
	display: block;
	font-size: 15px;
	line-height: 18px;
	border: 1px solid ;
	width: 40px;
	height: 40px;
	line-height: 40px;
	-webkit-border-radius: 50%;
	-mox-border-radius: 50%;
	border-radius: 50%;
	margin: 10px auto 0;
	text-align: center;
	z-index: 1000;
	position: relative;
}

div.modal.in p {
	text-align:center;
	display: block;
	text-transform:uppercase;
	letter-spacing:2px;
}

.result-item {
	width: 50%; /* Fallback */
	width: -webkit-calc(100% / 2.004);
	width: calc(100% / 2.004);
	float:left;
	margin-bottom: 10px;
	display: inline-table;
	vertical-align: top;	
}

.result-item .result-box {
	margin:10px;
	display: block;
	border: 1px solid #f0f0f0;
	border: 1px solid rgba(0,0,0,0.03);
	background: #f9f9f9;
	background: rgba(0,0,0,0.02);	
}

.result-item .title span {
	display: block;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: 'Open Sans';
	color: #999;
	margin-top: 3px;
}

.result-item h2 {
	margin-bottom: 5px;
	font-size: 22px;
}

.result-item p {
	padding-bottom: 0px;	
}

.result-item .title a:hover {
	color: inherit!important;
}

a.scroll-down {
	color: #ffffff;
	position: absolute;
	bottom: 90px;
	left: 50%;
	margin-left: -30px;
}

a.scroll-down span {
	font-size: 25px;
	line-height: 28px;
	border: 2px solid #ffffff ;
	width: 60px;
	height: 60px;
	line-height: 60px;
	-webkit-border-radius: 50%;
	-mox-border-radius: 50%;
	border-radius: 50%;
	margin: 10px auto 0;
	text-align: center;
	z-index: 1000;
	position: relative;
	text-align:center;
	display:block;
}


