@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  src: url(DroidNaskh-Regular.eot);
  src: url(DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh Bold';
  font-style: normal;
  src: url(DroidNaskh-Bold.eot);
  src: url(DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(DroidNaskh-Bold.ttf) format('truetype');
}
html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: #03389e;
    color: #ffe300;
    font-family: Droid Arabic Naskh, arial;
    font-size: 10px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: Droid Arabic Naskh Bold;
    display: inline;
    line-height: 1.7;
}

h2 {
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #0ef;
}

#main-block {
    background: url(shafaqna-first-page.png) no-repeat center center;
    width: 1050px;
    height: 500px;
    margin: 20px auto;
}

#sub-block {
    width: 350px;
    text-align:right;
    direction: rtl;
    height: 75px;
    float:right;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}