@charset "utf-8";
body,div,a,ul,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6{margin:0; padding:0;border:0;}
body{
	font-family:宋体;Verdana,Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #ffffff;
	width:100%;
	margin:0 auto; 
	min-width:960px; 
	float:none; 
	*width:expression((this.offsetWidth < 960) ? (this.width = 960 +'px') : true);
}
h1{font-weight:bold;font-size:16px;}
h2{font-weight:bold;font-size:15px;}
em{color: #ff0000;font-style: normal;}
.w{
	width: 1200px;
}
.c{
	margin:0 auto;
}
.l{
	float: left;
}
.r{
	float: right;
}
.cl{
	clear: both;
}
ul,li{list-style: none;}
a{
	text-decoration:none;
	color:#0243A5;
}
a:hover{
	color: #ff0000;
}
.myhide{overflow: hidden;}

.fgx{
	width:100%; 
	margin-top:10px; 
	height:1px; 
	border-top:1px dotted #EAD6BF; 
	font-size:1px; 
	line-height:1px;
	margin-bottom:10px;
}

/* 头部页面 */
.headtop{
	width:100%;
	margin:0 auto;
	background:#3E92CF;
	height:35px;
	margin-top:2px;	
}
.headtop_f{
	color: #ffffff;
	padding-top:8px;
	float:right;
}
.headtop_rightad{
	color: #ffffff;
	padding-top:8px;
	padding-bottom:10px;
	float:right;
	padding-right:3px;
	border: 0px solid #3E92CF;
}
.site_head{
	border: 0px solid #3c89cf;
	height:80px;
	margin-top:15px;
}
.sitelogo{
	width:380px;
	height:80px;
	display:inline;
	border: 0px solid #3c89cf;
}
.site_tip{
	width:720px;
	height:60px;
	line-height: 25px;
	
	margin-top:10px;
	border: 0px solid #ff0000;
	color:#888;

}
/* 搜索框 */
.search{
	height:165px;
	margin-top:10px;
	margin-bottom:10px;
	border: 0px solid #3c89cf;
	
}
.search ul{
	margin:0;
	padding-left:10px;
}
.search ul li{
	list-style:none;
	float:left;
	width:80px;
	height:30px;
	color:#888;
	line-height:30px;
	text-align:center;
	cursor:pointer;
}
.search li.sel,.search li:hover{
	background: #3E92CF;
	color:#fff;
}
#wd{
	width:500px;
	height:31px;
	margin-left:5px;
	margin-bottom:10px;
	line-height:25px;
	margin:0;
	
}
#Su{
    background: none repeat scroll 0 0 #3E92CF;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    height: 38px;
    line-height: 36px;
    width: 95px;

}
.so_tsk{
	margin-top:5px;
	border: 0px solid #3c89cf;
	height:120px;
}
.so_sowd{
	padding:8px 5px 5px 10px;
	background: #80b8f3;
	
	font-weight: bold;
	height:25px;
}
.so_wdpx{
	padding-top:10px;
	padding-left:8px;
	height:30px;
	
}
.sel{
	background: #3c89cf;
	color: #ffffff;
	border: 0px solid #3c89cf;
	padding: 5px 3px 5px 3px;

}
.so_tsk a{
	padding: 5px 3px 5px 3px;
}
.so_tsk a:hover{
	background: #3c89cf;
	color: #ffffff;
	border: 0px solid #3c89cf;
	padding: 5px 3px 5px 3px;
	
}

/* 其它 */
.main{
	margin-top:10px;
	border: 0px solid #ff0000;
}


/* 导航 */

.menu{
background:#3E92CF;
height: 45px;
margin-top:15px;
}
.menu a{
	text-decoration:none;
	color:#ffffff;
	}
.menu a:hover{
	color: #ff0000;
}
.menu ul li{
	list-style:none;
	float:left;
	width: 80px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding-left:5px;
	padding-top:13px;
	
}
.smenu{
	width:1198px;
	height:35px;
	border: 1px solid #3E92CF;
}
.smenu_nav{
	padding-top:10px;
	padding-left:5px;
	
	font-size: 15px;
}
.smenu_nav a{
	
	padding-right:15px;
	
}

/* 达人头像 */
.hytx_bt{padding-left:5px;line-height:35px;background:#80b8f3;color: #FF0033;}
.hytx{margin-top:10px;padding-left:3px;line-height:35px;width:100%;height:130px;border: 0px solid #3E92CF;}
.hytx img{float:left;margin-right:8px;margin-top:10px;line-height:34px;}

/* 首页内容 */
.index_new{border: 0px solid #3E92CF;height:200px;}
.index_new .index_new_tip{background:#bce672; height:40px; line-height:40px;font-weight: bold;}
.index_new_tip img{padding-left:5px;margin-right:8px;line-height:34px;}
.index_new ul{}
.index_new ul li{ width:285px; overflow:hidden; font-size:14px; float:left; height:30px; line-height:30px; font-size:14px; padding-left:10px;}

/*首页分类和公告*/
.index_type_gonggao
{
	border: 0px solid #3E92CF;
}
/* 分类提示 */
.index_type_tip{
	width:900px;
	margin-top:10px;
	background:#80b8f3;
	border: 0px solid #3E92CF;
}
.type_tip{
	width:100%;
	margin-top:10px;
	background:#80b8f3;
	border: 0px solid #3E92CF;
}
.type_tip_bt{
	padding-left:10px;
	font-weight: bold;
	padding-left:10px;
	line-height: 35px;
	height: 35px;
	border-bottom: 1px solid #e7e7e7;
	}

.type_tip_bt a{
	color: #ffffff;
	padding-left:10px;
	cursor:pointer;
}


.type_tip_bt a.current {
    height: 32px;
    color: #ff0000;
    font-weight: bold;
	}


.index_type_tip ul li{
	list-style:none;
	float: left;
    width: 289px;
    height: 28px;
    line-height: 30px;
    font-size: 14px;
    padding-right: 10px;
    overflow: hidden;
	background:#ffffff;
	
	
}

/*网站公告*/
.site_gg
{
	float: right;
	width:290px;
	border: 0px solid #3E92CF;
	height:230px;
	
}
.site_gg .bt{
    font-weight: bold;
	background: #009966;
	line-height: 35px;
	color:#ffffff;
	padding-left:5px;
}
.site_gg ul li{
	list-style:none;
	border: 0px solid #3E92CF;
    height: 28px;
    line-height: 30px;
    overflow: hidden;	
}

/*内容页面*/
.art_bt_box{
	width:100%;
	margin-top:10px;
	background:#80b8f3;
}
.art_bt_box ul li{
text-align:center;
overflow:hidden;
color: #ffffff;
height: 35px;
line-height: 35px;
padding-top:8px;
}

.art_box{
	width:100%;
	overflow: hidden;
	font-size: 14px;
	margin-top:5px;
}
.art_box ul li{
	list-style:none;
	border: 0px solid #3E92CF;
	float: left;
    width: 250px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-right: 10px;
    overflow: hidden;
}
.art_box_nr{
	overflow: hidden;
	display:inline;
}
.art_foot{width:100%;margin-top:10px;line-height:25px;margin-bottom:10px;text-indent:10px;}

.art_left_bt{
	color: #ffffff;
	background:#3E92CF;
	height:30px;
	font-weight: bold;
	padding-top:5px;
	padding-left:10px;
	line-height: 30px;
	
}
.art_left ul li{
	list-style:none;
	border: 0px solid #3E92CF;
    width: 195px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
	padding-left:10px;
}

/* 列表页面 */
.list_left_tip{
	width:100%;
	background:#80b8f3;
	border: 0px solid #ff0000;
}
.list_left_tip_bt{
	color: #ffffff;
	font-weight: bold;
	padding-top:5px;
	padding-left:10px;
	line-height: 30px;
	height: 30px;
}
.list_left{
	width:250px;
	float:left;
	overflow: hidden;
	border: 1px solid #3E92CF;
}
.list_left ul li{
	list-style:none;
    width: 245px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 5px;
	padding-right: 5px;
    overflow: hidden;
}
.list_right{
	width:79%;
	margin-left:270px;
	overflow: hidden;
	border: 1px solid #3E92CF;
}
.list_right ul li{
	list-style:none;
	border: 0px solid #3E92CF;
    width: 79%;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    padding-left: 5px;
	padding-right: 5px;

    overflow: hidden;
}
.list_right_bt{
	background:#80b8f3;
	color: #ffffff;
	font-weight: bold;
}
.list_right_mx{
	padding-left:5px;
	padding-right:5px;
	font-weight: bold;
	font-size: 13px;
}

/* 达人页面 */
.daren{
	width:100%;
	overflow: hidden;
	margin-top:5px;
}
.daren img{float:left;margin-right:10px;margin-top:10px;line-height:34px;}

/* 专题页面 */
.remenk{width:100%;overflow: hidden;margin:12px 0px 0px 0px;}
.remenk li{list-style:none;float:left;margin-bottom:12px; word-wrap: break-word; word-break: normal;}
.remenk li a{display:block;float:left; height:20px; border:#CAE1C7 1px solid; padding:5px 10px 3px 10px!important;padding:5px 5px 3px 5px; color:#5E7C5A; margin-right:10px; white-space:nowrap;}

/* 底部页面 */
.youqing{width:100%;margin-top:10px;line-height:40px;}
.foot{width:100%;margin-top:10px;line-height:20px;text-align:center;margin-bottom:20px;}

/* soso 验证码 */
.soyzm{width:450px;height:200px;border: 0px solid #ff0000;margin-top:15%;}

/* 广告 */
.top_allsite{
	height:80px;
	width:810px;
	border: 0px solid #3E92CF;
	float:right;
	background:#ffffff
	display:inline;
	
	}
.top_allsite ul li{
	list-style:none;
	float: left;
    width: 195px;
    line-height: 25px;
    font-size: 14px;
	padding-left:5px;
	overflow: hidden;
	
	
}
#times{
	margin:0 auto;
	border: 1px solid #3E92CF;
	width: 600px;
	height:100px;
	margin-top:10%;
	text-align:center;
}

/*资源发布*/
.fabu{
	margin-top:50px;
	border: 0px solid #3E92CF;
	height:35px;
	margin-bottom:70px;
}
.showerr{
	margin-top:10%;
	width:600px;
	border: 1px solid #ff0000;
	line-height:30px;
	padding:10px 10px 10px 10px;
}