/* Add here all your CSS customizations */
@font-face {
    font-family: 'Mitra';
    src: url('/uploads/WebMitraBold.eot');
    src: url('/uploads/WebMitraBold.eot?#iefix') format('embedded-opentype'),
         url('/uploads/WebMitraBold.woff') format('woff'),
         url('/uploads/WebMitraBold.ttf') format('truetype'),
         url('/uploads/WebMitraBold.svg#WebMitraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    unicode-range: U+0600â€“06FF;
}


*{font-family: b_mitraregular, tahoma !important; 
text-decoration: none !important;
}
/* end font */

html .scroll-to-top {
    background: url("arrowtoup.png") no-repeat scroll center center #404040;
}

.btn-responsive-nav {
    background: url("mbtnr.png") no-repeat scroll 0 0 #171717;
    height: 32px;
    width: 36px;
}

.captionOrange p{
	text-align:right;padding-right:110px;font-size:12px;font-family:tahoma;
	
	}
	
.typenewsr{
	float: right;
    background-color: #498eed;
    height: 32px;
    width: 128px;
    font-size: 13px;
    font-family: tahoma;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 32px;	
         }
		 
.typenewsl{		 
		 
   float: right;
   font-size: 12px;
   font-family: tahoma;
   padding-right: 10px;
   
   color: #696969;
   width: 60%;
   padding-top: 5px;
}

 .time{
	  float: right;
   font-size: 12px;
   font-family: tahoma;
   padding-right: 10px;
   line-height: 32px;
   color: #498eed;
	 
	 
	 }
  .date{
	  float: right;
   font-size: 12px;
   font-family: tahoma;
   padding-right: 110px;
   line-height: 32px;
   color: #498eed;
	 
	 
	 }	 
	 
 .head{
	background-color: rgb(246, 246, 246); width: 100%; background-image: url("head.jpg"); height: 145px; background-repeat: no-repeat; background-position: center center; 
	 
	 
	 
	 }	 
	 
.khadamat{
	 margin-top:20px;
	
	
	}
	
.khabar{
	
	
	font-size:14px;
	
	
	}
.onvan{
	
	width: 96%;
    padding-right: 100px;
	font-size:12px;
	color:#696969!important;
	
	
	
	}	
a .onvan {
 
	color:#696969;
	
	}
.onvan a:hover{
	color:#4a8fee;
	
	}	
.khabar a{
	color:#000;
	
	
	}
.khabar a:hover{
	color:#4a8fee;
	
	}		
.khabar p{
	padding-right:20px;
	
	font-size:16px;
	
	}	
#tarikh{
	 text-align:right;
	 color:#4a8fee;
	 font-size:14px;
	 
	
	}	
	
.tabs ul.nav-tabs li.active a {
    
    border-bottom-color: #08c!important;font-size: 13px;}
	
.newscol{
border-right: 1px solid rgb(199, 199, 199);
margin-top: 30px;	
	
	
	}	
 /* This is a video */
.videoonv{
    float:left;
    padding-right:10px;
	width: 35%;
	padding-left: 25px;
}
	
	
.titr{
	color:#000000;
	font-size:14px;
	
	font-weight: bold;

	
	}	
.datevideo{
	color:#498EED;
	text-align:left;
	
	
	
	}	
.owl-carousel .owl-item {
padding:10px;	
	
	
	}	
	
.titrcarusel	{
	
	height:50px;
	text-align:center;
	width:100%;
	font-size:14px;

	color:#000000;
	
	
	
	
	}
/* 6 box */	
.6box{	
	}

a.icon1 {
background: url("estelamnew2.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon1:hover{
background: url("estelamnew2.png") no-repeat;
background-position: 0px -13px;
}
a.icon2 {
background: url("pardakhte.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon2:hover{
background: url("pardakhte.png") no-repeat;
background-position: 0px -13px;
}
a.icon3 {
background: url("eslahm.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon3:hover{
background: url("eslahm.png") no-repeat;
background-position: 0px -13px;
}


a.icon4 {
background: url("nomremanfi1.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon4:hover{
background: url("nomremanfi1.png") no-repeat;
background-position: 0px -13px;
}


a.icon5 {
background: url("peygirih.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon5:hover{
background: url("peygirih.png") no-repeat;
background-position: 0px -13px;
}

a.icon6 {
background: url("rahgirimadarek.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon6:hover{
background: url("rahgirimadarek.png") no-repeat;
background-position: 0px -13px;
}

a.icon7 {
background: url("adpark.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon7:hover{
background: url("adpark.png") no-repeat;
background-position: 0px -13px;
}

a.icon8 {
background: url("iconsafnew2-1.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon8:hover{
background: url("iconsafnew2-1.png") no-repeat;
background-position: 0px -13px;
}
a.icon9 {
background: url("kashf.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon9:hover{
background: url("kashf.png") no-repeat;
background-position: 0px -13px;
}
a.icon10 {
background: url("est.png") no-repeat;
background-position: 0px -116px;
width: 280px;
height: 100px;
display: block;
}
a.icon10:hover{
background: url("est.png") no-repeat;
background-position: 0px -13px;
}

#footer .footer-ribbon {
	background-image:url(mobile.png);
	background-repeat: no-repeat;
	
	
	}
	
#footer .footer-ribbonxs{
	background-image:url(mobile.png);
	background-repeat: no-repeat;
	
	
	}	
	
#footer .footer-ribbonxs {
    position: absolute;
    margin: -213px 400px 0px 930px;
    padding: 169px 150px 5px 0px;	
	}
 .back{
               background-color:#ffffff;
                 width:100%;


}	
 .backcont{
background-color:#f7f7f7;


}	
#TreeMenu1 li.has_ul {
    color: #000!important;
    text-indent: 22px!important;
    background:url("cplus.png") no-repeat scroll right 9px #efefef!important;
}

#TreeMenu1 li.clicked {
    background: url("cminus.png") no-repeat scroll right 9px #ddd!important;
}

#TreeMenu1 li {
    background-color: #efefef!important;
    border-bottom: 1px solid #ccc!important;
    cursor: pointer;
    font-family: wroya!important;
    font-size: 1.1em!important;
    line-height: 35px!important;
    width: 100%;
}

#TreeMenu1 li a {
    color: #000000;
    display: block;
    text-decoration: none;
    text-indent: 22px!important;
}

#TreeMenu1 ul {
    background: transparent!important;
    padding-right: 0!important;
}

#TreeMenu1 ul li {
    font-size:1.1em!important;
    background: url("cbullet-imenu.png") no-repeat scroll center right #fff!important;

}


#TreeMenu1 ul li a{
    color: #5e5e5e!important;
    font-size:0.9em!important;
    text-indent: 34px!important;
}

#TreeMenu1 ul li a:hover{
    color: #c3161c!important;
    background-color:transparent!important;
}


.titr9box a{
	color:#000;
	
	
	}
.titr9box a:hover{
	color:#4a8fee;
	
	}



	
	