.smarticker {
    /background: none repeat scroll 0 0 #fff;
    direction: ltr;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.box {
    /background: none repeat scroll 0 0 #fff;
    min-height: 30px;
    overflow: auto;
}
.border {
    border: 1px solid #ccc;
}
.rounded {
    border-radius: 20px;
}
.shadow {
    /box-shadow: 0 0 5px #999;
}
.size1 {
    height: 30px;
    overflow: hidden;
}
.smarticker .sec1, .smarticker .sec1-2, .smarticker .sec2, .smarticker .sec3, .smarticker .sec4, .smarticker .sec5, .smarticker .sec6, .smarticker .sec7 {
    float: left;
}
.smarticker .sec1 {
    min-width: 10%;
}
.smarticker .sec1-2 {
    min-width: 15%;
}
.smarticker .sec2 {
    min-width: 20%;
}
.smarticker .sec3 {
    min-width: 33.333%;
}
.smarticker .sec4 {
    min-width: 25%;
}
.smarticker .sec5 {
    min-width: 50%;
}
.smarticker .sec6 {
    min-width: 60%;
}
.smarticker .sec7 {
    max-width: 70%;
}
.s-rtl.smarticker .newsholder, .smarticker .newsholder {
    float: none;
    width: auto;
	/background-color:#f77b2c;
	color:#000;
}
.smarticker ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.smarticker .smarticker-category, .smarticker .smarticker-cats, .smarticker .smarticker-news, .smarticker-cats .catlist {
    height: 100%;
    overflow: hidden;
}
.catlist li{
	
background-color: #498EED!important;	
}
.smarticker .smarticker-category, .smarticker .smarticker-cats {
    text-align: center;
}
.smarticker li {
    height: 30px;
    line-height: 28px;
}
.smarticker a {
    text-decoration: none;
}
.smarticker .smarticker-news {
    position: relative;
    text-align: left;
}
.smarticker .smarticker-news ul {
    display: none;
    margin-left: 15px;
}
.smarticker .smarticker-news ul li {
    display: none;
    height: 100%;
    left: auto;
    position: absolute;
    right: auto;
    top: 0;
    white-space: nowrap;
}
.smarticker .smarticker-news ul li a {
    white-space: nowrap;
}
.smarticker-category a {
    font-size: 16px;
    padding: 0 5px;
}
.cover {
    float: right;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.ltr .flasher {
    float: left;
    height: 100%;
    line-height: 28px;
    margin-left: 15px;
    width: 10px;
}
.rtl .flasher {
    float: right;
    height: 100%;
    line-height: 28px;
    margin-left: 0;
    margin-right: 5px;
    width: 10px;
}
.smart-controller {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.s-rtl .smart-controller {
    left: 0;
    right: auto;
}
.smarticker-news a {
    color: #666;
    font-family: Calibri,Tahoma;
    font-size: 12px;
}
.googlefont .smarticker-news a {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.smarticker-cats {
    background: none repeat scroll 0 0 #999;
    position: relative;
}
.smarticker-cats a {
    color: #fff;
    font-family: Calibri,Tahoma;
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px;
    text-decoration: none;
}
.smarticker-category a {
    color: #999;
    font-family: Calibri,Tahoma;
    font-weight: 700;
    text-decoration: none;
}
.googlefont .smarticker-cats a {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.googlefont .smarticker-category a {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.theme1 {
    background: none repeat scroll 0 0 #fff;
}
.theme1 .smarticker-cats .left {
    background: url("../images/left-flc-w.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: absolute;
    width: 20%;
}
.theme1 .smarticker-cats .right {
    background: url("../images/right-flc-w.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    z-index: 1;
}
.theme1 .flasher {
    color: #666;
}
.smarticker-cats li {
    background-color: #498EED;
}
.theme1 .smarticker-cats ul a img {
    margin: 0 5px 0 20px;
}
.theme2 {
    /background: none repeat scroll 0 0 #333;
}
.theme2 .smarticker-news a {
    color: #000;
}
.theme2 .smarticker-cats {
    background: none repeat scroll 0 0 #498EED;
}
.theme2 .smarticker-cats .left {
    background: url("../images/left-flc-b.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: absolute;
    width: 20%;
}
.theme2 .smarticker-cats .right {
    background: url("../images/right-flc-b.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    z-index: 1;
}
.no-category .smarticker-cats .left {
    display: none;
}
.theme2 .smarticker-cats ul a {
    color: #fff;
    text-decoration: none;
}
.theme2 .smarticker-category a {
    color: #ccc;
    text-decoration: none;
}
.theme2 .flasher {
    color: #fff;
}
.theme2 .tickertitle {
    background-color: #f77b2c;
}
.theme2 .smarticker-cats ul a img {
    margin: 0 5px 0 20px;
}
.theme3 {
    background: none repeat scroll 0 0 #333;
}
.theme3 .smarticker-news a {
    color: #fff;
}
.theme3 .smarticker-cats {
    background: none repeat scroll 0 0 #fff;
}
.theme3 .smarticker-cats .left, .theme3 .smarticker-cats .right {
    display: none;
}
.theme3 .smarticker-cats a {
    color: #fff;
    text-decoration: none;
}
.theme3 .smarticker-category a {
    color: #ccc;
    text-decoration: none;
}
.theme3 .flasher {
    color: #fff;
}
.theme3 .tickertitle {
    background-color: #cd0074;
}
.theme4 {
    background: none repeat scroll 0 0 #fff;
}
.theme4 .smarticker-news a {
    color: #666;
}
.theme4 .smarticker-cats {
    background: none repeat scroll 0 0 #999;
}
.theme4 .smarticker-cats .left, .theme4 .smarticker-cats .right {
    display: none;
}
.theme4 .smarticker-cats a {
    color: #fff;
    text-decoration: none;
}
.theme4 .smarticker-category a {
    color: #999;
    text-decoration: none;
}
.theme4 .flasher {
    color: #666;
}
.theme4 .tickertitle {
    background-color: #00b64f;
}
.c1 .smart-controller span {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #eee;
    color: #ccc;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Calibri,Tahoma;
    font-size: 11px;
    height: 100%;
    line-height: 30px;
    padding: 0 9px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
}
.googlefont .c1 .smart-controller span {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.c1 .smart-controller span:hover {
    background: none repeat scroll 0 0 #efefef;
    color: #bbb;
    transition: all 0.2s ease-in-out 0s;
}
.c1 .smart-controller span:active {
    background: none repeat scroll 0 0 #dfdfdf;
    color: #999;
    transition: all 0.1s ease-in-out 0s;
}
.c2 .smart-controller span {
    background-color: transparent;
    background-repeat: no-repeat;
    border-left: 1px solid #eee;
    color: #ccc;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0 12px;
    text-indent: -100000px;
    transition: all 0.2s ease-in-out 0s;
}
.s-rtl.c2 .smart-controller span {
    border-left: 0 none;
    border-right: 1px solid #eee;
    direction: ltr;
}
.googlefont.c2 .smart-controller span {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.theme2.c2 .smart-controller span, .theme3.c2 .smart-controller span {
    background-color: #333;
    border-left: 1px solid #999;
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
}
.theme1.c2 .smart-controller span, .theme4.c2 .smart-controller span {
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
}
.c2 .smart-controller span:hover {
    background-color: transparent;
    color: #bbb;
    transition: all 0.2s ease-in-out 0s;
}
.c2 .smart-controller span:active {
    background-color: transparent;
    color: #999;
    transition: all 0.1s ease-in-out 0s;
}
.c2 .next-news, .c2 .next-news:active, .c2 .next-news:hover {
    background-image: url("controller.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.c2 .prev-news, .c2 .prev-news:active, .c2 .prev-news:hover {
    background-image: url("controller.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.c2 .pause-news, .c2 .pause-news:active, .c2 .pause-news:hover {
    background-image: url("controller1.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.c2 .play-news, .c2 .play-news:active, .c2 .play-news:hover {
    background-image: url("controller1.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.c2 .prev-news {
    background-position: left center;
}
.c2 .next-news {
    background-position: right center;
}
.progress-bar {
    background-color: #eee;
    bottom: 0;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.no-subcategory .smarticker-category {
    background: none repeat scroll 0 0 #eee;
    border-right: 1px solid #ccc;
}
.tickertitle {
    background-color: #e20048;
    color: #fff;
    font-weight: 700;
    height: 100%;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
}
.theme2.c2 .smart-controller span:hover, .theme3.c2 .smart-controller span:hover {
    background-color: #555;
}
.theme2.c2 .smart-controller span:active, .theme3.c2 .smart-controller span:active {
    background-color: #777;
}
.smarticker .item-date {
    color: #999;
    font-size: 10px;
    margin: 0 5px;
}
.s-rtl {
    direction: rtl;
}
.s-rtl .sec1, .s-rtl .sec1-2, .s-rtl .sec2, .s-rtl .sec3, .s-rtl .sec4, .s-rtl .sec5, .s-rtl .sec6, .s-rtl .sec7 {
    float: right;
}
.s-rtl .smarticker-news ul {
    margin-left: 0;
    margin-right: 15px;
}
.s-rtl .smarticker-cats a {
    font-size: 11px;
    font-weight: 400;
}
.s-rtl .smarticker-category a {
    font-size: 11px;
    font-weight: 400;
    padding: 0 5px;
}
.s-rtl .smarticker-news a {
    font-size: 11px;
}
.googlefont.s-rtl .smarticker-cats a {
    font-size: 12px;
    font-weight: 400;
}
.googlefont.s-rtl .smarticker-category a {
    font-size: 12px;
    font-weight: 400;
}
.googlefont.s-rtl .smarticker-news a {
    font-size: 12px;
}
.s-rtl.theme2 .smarticker-cats .left {
    background: url("../images/right-flc-b-rtl.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.s-rtl.theme2 .smarticker-cats .right {
    background: url("../images/left-flc-b-rtl.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.s-rtl.theme1 .smarticker-cats .left {
    background: url("../images/right-flc-w-rtl.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.s-rtl.theme1 .smarticker-cats .right {
    background: url("../images/left-flc-w-rtl.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
@media screen and (max-width: 850px) {
.left, .right {
    display: none;
}
}