/* CSS Site RATP.FR - Author : TRSb Etudes et Dev Wyniwyg - dec 2013
*
*  Feuille CSS contenant uniquement les styles requit pour le mode responsif (media queries)
*  Les éléments NON responsifs doivent être déclarés dans ratp_fixed.css
*/

/* ==========================================================================
   Tablettes - portrait
   ========================================================================== */
   
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .container {
    /* border: 1px solid orange; */
    width: 100% !important;
  }
  .ratp-container {
    width: auto;
  }
  #maratp-widget-container, div#pubEncart1, div#pubPubliCommunique ,div#pubEncart2 ,div#pubEncart1Src, div#pubPubliCommuniqueSrc, div#pubEncart2Src, div#pubBandeau{
    display:none;
  }
  .screen{
    width: auto; 
    overflow: hidden;
  }
  #CNIL {
    padding-bottom: 20px;
    padding-top: 10px;
  }
  #CNIL p {
    font-size: 1.1em;
  }
  .colLeft {
    float: left;
    width: 39.0625%;
    margin-right: 1.953125%;
  }
  .colMiddle {
    float: left;
    width: 16.66666667%;
    margin-right: 1.953125%;
  }
  .colRight {
    float: left;
    width: 40.36458333%;
    min-width: 310px;
  }   
  .skinBlocActuHome header {
    min-height: 130px;
  }
  .js .lienPlusActus a img {
    left: 49% !important;
  }
  #espace_n3 .block_right {
    width: 100%!important;
  }
  .skinBlocServices ul li {
    padding-top: 5px;
  }
  .skinBlocServices ul li a {
    padding: 60px 0 5px;
    text-align: center;
    background-position: center top;
  }
  .skinBlocServices ul li a.servicePlanInter {
    background-position: center top;
    padding: 60px 0 5px 0;
  }
  header nav .sousMenu .colPub {
    display: none;
  }
  #carousel-wrapper li , #bandeau_menu {
    background-position: center center;
  }
  #bandeau_menu {
    width: auto!important;
  }
  #bandeau_menu #bandeau_menu_category h1 {
    font-size: 2.5em;
  }
  #espace_n3 .block_left{
  width: auto!important;
  }
  #bandeau_menu_category {
    left: 58%;
    top: 35px;
  }
  
  /* ---------- Refonte page d'accueil maRATP ------------- */

  .colonneCarrouselMaRatp{
  	padding:0px;
  }
  
}

/* ==========================================================================
   Petites tablettes - portrait
   ========================================================================== */
   
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	 .borneHeader :not(.carrousel) .logo a {
    background: url('../images/logo-home-mobile.png') top left no-repeat;
  }
  
  .container {
    /* border: 1px solid green; */
    width: 100% !important;
  }
  .ratp-container {
  width: auto;
  }
  .screen{
    width: auto; 
    overflow: hidden;
  }
  #espace_n3 .block_right {
    width: 100%!important;
  }
  #input.headerSearch {
  max-width: 100px;
  }
  #maratp-widget-container, div#pubEncart1, div#pubPubliCommunique ,div#pubEncart2 ,div#pubEncart1Src, div#pubPubliCommuniqueSrc, div#pubEncart2Src, div#pubBandeau{
    display:none;
  }
  .lienPlusActus a img {
    left:49% !important;
  }
  ul.touristInfo {
    border-left: none;
    padding-top: 3px;
  }
  header .touristInfo h2 {
    font: normal 1.1em/1.5 Arial, Helvetica, sans-serif;
    margin: 4px 5px 0;
  }
  .touristInfo li img {
    margin-top: 5px;
  }
  input.headerSearch {
    padding: 8px 20px 5px 8px;
    max-width: 70px;
  }
  .submitHeaderSearch {
    margin-left: -20px;
  }
  .skinBlocActuHome header {
    min-height: 110px;
  }
  .skinBlocActuHome header h1 {
    font-size: 2.6em;
  }
  .js .lienPlusActus a img {
    left: 49% !important;
  }
  .footerCol {
    margin: 30px 2%;
    width: 29.33333333333333%;
  }
  .footerCol .btnTwitter {
    margin-left: 10px;
  }
  .marginLeft55 {
    margin-left: 10px;
  }
  .footerGroupe {
    font-size: 1.6em;
  }
  .lastFooterCol li a {
    font-size: 1.6em;
  }
  .lastFooterCol li:first-child a,.lastFooterCol li:last-child a {
    padding: 15px 0 12px 55px;
  }
  .lastFooterCol li:last-child {
    padding-top: 0;
  }
  .bottomLinks li {
    font-size: 1em;
    font-weight: normal;
    margin-right: 6px;
  }
  .bottomLinks li a {
    font-size: 1.1em;
  }
  /* Colonnes centrales */
  .colLeft,
  .colMiddle,
  .colRight {
    float: none;
    width: auto;
    margin: 0 0 20px 0;
    clear: both;
  }
  .colRight {
    margin-bottom: 0;
  } 
  .skinBlocServices {
    border-right: none;
    border-left: none;
  }
  .skinBlocServices ul {
    overflow: hidden;
  }
  .skinBlocServices ul li {
    padding-top: 5px;
    display: inline-block;
    border-top: none;
    width: 19.4%;
    margin: 0;
  }
  .skinBlocServices ul li a {
    padding: 60px 0 5px;
    text-align: center;
    background-position: center top;
  }
  .skinBlocServices ul li a.servicePlanInter {
    background-position: center top;
    padding: 60px 0 5px 0;
  }
  header nav .sousMenu .colPub {
    display: none;
  }
  #carousel-wrapper li , #bandeau_menu {
    background-position: center center;
  }
  #bandeau_menu {
    width: auto!important;
  }
 #bandeau_menu #bandeau_menu_category h1 {
    font-size: 1.8em;
  }
  #espace_n3 .block_left{
  width: auto!important;
  }
  #bandeau_menu_category {
 	top: 20%;
    text-align: right;
    width: 43%;
    left: inherit;
    right: 10px;
  }
  
  /* ---------- Refonte page d'accueil maRATP ------------- */

  .colonneCarrouselMaRatp{
  	padding:0px;
  }
  
}
 

/* ==========================================================================
   Petites tablettes - portrait - Smartphones paysage
   ========================================================================== */
   
@media only screen and (min-width: 480px) and (max-width: 599px) and (orientation: landscape) {
  
  .container {
    /* border: 1px solid blue; */
    width: 100% !important;
  }
  .ratp-container {
  width: auto;
  }
  .screen{
    width: auto; 
  }
  #maratp-widget-container, div#pubEncart1, div#pubPubliCommunique ,div#pubEncart2 ,div#pubEncart1Src, div#pubPubliCommuniqueSrc, div#pubEncart2Src, div#pubBandeau{
    display:none;
  }
  #CNIL{
    display: block;
  }
  #CNIL p{
    font-size: 1.2em;
  }
  #CNIL .cnilWarningMsg {
    width:100%;
  }
  #CNIL .acceptButton {
    margin-top:5px;
    width: 100%;
    padding: 5px;
    font-size: 1.4em;
  }
  .mobile {
    display: block;
  }
  header.container {
    padding-top: 100px;
  }
  #espace_n3 .block_right {
    width: 100%!important;
  }
  .menuSearch {
    position: absolute;
    right: 28%;
    top: 40px;
    z-index: 200;
  }
  .menuLang {
    position: absolute;
    right: 16%;
    top: 40px;
    z-index: 200;
  }
  .menuMobile {
    position: absolute;
    right: 4%;
    top: 40px;
    z-index: 200;
  }
 
  .liensSurHeader {
    display: none;
  }
  #titreLangues {
    display: none;
  }
  #titreLangues.active {
    display: block;
  }
  .titreLangues {
    position: absolute;
    top: 85px;
    left: 55%;
    width: 50%;
    z-index: 120;
    color: #000;
    font: normal 1.6em/1.5 'Parisine', Arial, Helvetica, sans-serif;
  }
  #langues {
    display: none;
  }
  #langues.active {
    display: block;
  }
  ul.langues {
    position: absolute;
    top: 120px;
    left: 55%;
    float: none;
    z-index: 120;
    width: 41%;
  }
  ul.langues abbr {
    display: none;
  }
  ul.langues span,
  ul.langues a {
    background: none;
    color: #000;
    padding: 0;
    width: 100%;
  }
  ul.langues span img,
  ul.langues a img {
    margin-left: 5px;
    float: right;
  }
  ul.langues a:hover,
  ul.langues a:active,
  ul.langues a:focus {
    background: none;
    text-decoration: underline;
    color: #000;
  }
  ul.langues li {
    display: block;
    float: none;
  }
  #blocRight {
    display: none;
  }
  #blocRight.active {
    display: block;
  }
  .blocRight {
    position: absolute;
    float: none;
    z-index: 100;
    top: 0;
    right: 0;
    padding-top: 180px;
    width: 50%;
    background: #FFF;
    min-height: 255px;
  }
  ul.touristInfo {
    width: 83%;
    margin: 0 7% 0 10%;
    float: none;
    padding-right: 0;
    border: none;
  }
  header .touristInfo h2 {
    color: #000;
    font: normal 1.6em/1.5 'Parisine', Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .touristInfo li {
    display: block;
    float: none;
    clear: both;
  }
  .touristInfo li a {
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: block;
  }
  .touristInfo li a:hover,
  .touristInfo li a:focus,
  .touristInfo li a:active {
    text-decoration: underline;
    background-color: #eee;
  }
  .touristInfo li a .mobile {
    display: inline-block;
    width: 50%;
    padding-top: 5px;
  }
  .touristInfo li a img {
    float: right;
  }
  .liensSurHeader {
    position: absolute;
    top: 0;
    right: 3%;
    z-index: 100;
    float: none;
  }
  .liensSurHeader li {
    border-right: none;
  }
  .carrousel {
    margin-top: -5px;
  }

  #carousel-wrapper li , #bandeau_menu {
    background-position: center center;
  }
  #bandeau_menu {
    width: auto!important;
  }
  /* Menu */
  
  #menu {
    display: none;
  }
  #menu.active {
    display: block;
  }
  header nav {
    min-height: 54px;
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 150;
    width: 100%;
  }
  header nav li {
    background-image: none;
    border-left: none;
    float: none;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #007F68;
    padding-left: 3%;
  }
  header nav li:first-child {
    width: 100%;
  }
  header nav li h2 {
    border: none;
  }
  header nav li h2 a {
    background-image: none;
    color: #FFFFFF;
    display: block;
    padding: 11px 0;
    text-decoration: none;
  }
  header nav .sousMenu a {
    line-height: 1.7em;
  }
  header nav .sousMenu .colPub {
    display: none;
  }
  header nav .sousMenu .colSsMenu {
    width: auto;
    margin-right: 10px;
    padding-left: 0;
  }
  header nav .deco {
    position: relative;
    top: 0;
    background: none;
  }

  /* Slideshow */
  
  .listeArticles article {
    background-color: rgb(0, 62, 145);
    min-height: 115px;
    right: auto;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .listeArticles header {
    margin-top: 0;
  }
  .listeArticles p {
    display: none;
  }
  .navigationSlideshow {
    border-top: none;
    bottom: 75%;
    padding-top: 10px;
    right: 0;
    text-align: center;
    width: 100%;
  }
  .navigationSlideshow li {
    width: auto;
    padding: 15px;
    background-color: rgba(0, 62, 145, 0.8);
    position: absolute;
    top: 0;
    left: 45%;
    display: none;
  }
  .navigationSlideshow li:first-child,.navigationSlideshow li:last-child {
    width: auto;
    display: inline-block;
  }
  .navigationSlideshow li:first-child {
    left: 0;
  }
  .navigationSlideshow li:last-child {
    right: 0;
    left: auto;
  }
  
  .filArianeSlideshow {
    right: 43%;
    top: auto;
    bottom: 115px;
    background-color: rgb(0, 62, 145);
    padding: 5px 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .filArianeSlideshow li:first-child {
    margin-left: 4px;
  }

  /* Colonnes centrales */
  #espace_n3 .block_left{
    width: auto!important;
  }
  .colLeft,.colMiddle,.colRight {
    float: none;
    width: auto;
    margin: 0 0 20px 0;
    clear: both;
  }
  .colRight {
    margin-bottom: 0;
  }
  
  .skinBlocServices {
    border-right: none;
    border-left: none;
  }
  .skinBlocServices ul {
    overflow: hidden;
  }
  .skinBlocServices ul li {
    padding-top: 5px;
    display: inline-block;
    border-top: none;
    width: 19.4%;
    margin: 0;
  }
  .skinBlocServices ul li a {
    padding: 60px 0 5px;
    text-align: center;
    background-position: center top;
  }
  .skinBlocServices ul li a.servicePlanInter {
    background-position: center top;
    padding: 60px 0 5px 0;
  }
  /* Actualités */
  
  .titreActusMobile {
    font: normal 2.2em/1.5 'Parisine', Arial, Helvetica, sans-serif;
    color: #303030;
    padding: 3px 0 8px 15px;
    border-top: 6px solid #000;
  }
  .actus li:first-child {
    border-top: none;
  }
  .actus li {
    float: none;
    margin-left: 0;
    width: 100%;
    border-top: 2px solid #FFF;
  }
  .actus .categArticle .sousTitre {
    display: none;
  }
  .plusActus .actus {
    margin-top: 0;
  }
  .skinBlocActuHome header {
    min-height: 0;
  }
  .actus p.illustration img {
    width: 100%;
  }
  .js .lienPlusActus a img {
    left: 48% !important;
  }

  /* Footer */
  
  .footerCol {
    float: none;
    margin: 0 3.125% 8px 3.125%;
    width: auto;
    clear: both;
  }
  .footerCol .logoRatpFooter {
    display: none;
  }
  .lastFooterCol li {
    padding-right: 0;
  }
  .lastFooterCol li a {
    padding: 11px 0 11px 55px;
  }
  .lastFooterCol li:last-child {
    padding-top: 0;
  }
  .lastFooterCol li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .bottomLinks {
    padding-top: 60px;
    margin: 0 3.125% 20px 3.125%;
  }
  .bottomLinks li {
    display: block;
  }
  .bottomLinks li.logoRatpFooter {
    display: inline-block;
  }
  .bottomLinks li.logoRatpFooter,
  .bottomLinks li.copyright {
    padding-bottom: 10px;
  }
  .bottomLinks li a {
    text-decoration: underline;
  }
  .bottomLinks li a:hover,
  .bottomLinks li a:focus,
  .bottomLinks li a:active {
    text-decoration: none;
  }
  h2.footerGroupe {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .noLink {
    cursor: pointer;
    text-decoration: none;
    padding: 10px 0;
    display: block;
  }
  .noLink:active {
    text-decoration: underline;
  }
  .titreLiensFooter {
    border-top: none;
    margin-top: 0;
    padding: 0 25px 0 0;
    border-bottom: 1px solid #595959;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: url(../images/mobile/fleche-menu-bas.png) no-repeat right center;
  }
  .titreLiensFooter a {
    background: url(../images/footer-acces.png) no-repeat left center;
    display: block;
    width:100%;
    font-family: 'Parisine', Arial, Helvetica, sans-serif;
    margin: 10px 0;
    padding: 10px 0 11px 55px;
    text-transform: none;
    font-size: 1.25em;
    font-weight: normal;
  }
  .titreLiensFooter a:hover,
  .titreLiensFooter a:active {
    background: url(../images/footer-acces-hover.png) no-repeat left center;
  }
  .footerGroupe {
    background: url(../images/mobile/fleche-menu-bas.png) no-repeat right center;
  }
  .footerGroupe a {
    padding: 10px 0 11px 55px;
  }
  .footerGroupe a:hover,
  .footerGroupe a:active {
    background: url(../images/footer-twitter-hover.png) no-repeat left center;
  }
  footer .toggleSection {
    /*  Pas de display none car entraine disfonctionnement du js de twitter à l'ouverture*/
    position:absolute; 
    top:-6000000px;
  }
  footer .active .toggleSection {
   position:relative;
   display: block;
   top:0;
   margin-left: 30px
  }
  .lastFooterCol li {
    background: url(../images/mobile/fleche-menu-droite.png) no-repeat right center;
  }
  #bandeau_menu #bandeau_menu_category h1 {
    padding-right: 35px;
  }
  #bandeau_menu_category {
/*   left: 70%; */
  }
}

  

/* ==========================================================================
   Téléphones - portrait
   Résolution mobile standard 
   OU Hack résolution Galaxy S2
   ========================================================================== */
@media only screen and (max-width: 600px), 
       only screen and (device-width: 320px) 
          and (device-height: 534px)
          and (-webkit-device-pixel-ratio: 1.5) 
          and (orientation: portrait) {
  .borneHeader .logo-mobile a{
    top: -5px;
    z-index: 20;
    padding-top: 0;
    background: url('../images/logo-home-mobile.png') top left no-repeat;
    padding: 0 0 99px 180px;
    display: block;
    position: absolute;
  }
  .borneHeader .logo a{
    display: none;
  }
  .container {
    /* border: 1px solid red; */
    width: 100% !important;
  }
  .ratp-container {
  width: auto;
  }
  .screen{
    width: auto; 
    overflow: hidden;
  }
  #maratp-widget-container, div#pubEncart1, div#pubPubliCommunique ,div#pubEncart2 ,div#pubEncart1Src, div#pubPubliCommuniqueSrc, div#pubEncart2Src, div#pubBandeau{
    display:none;
  }
  #espace_n3 .block_right {
    width: 100%!important;
  }
  #carousel-wrapper li , #bandeau_menu {
    background-position: center center;
  }
  #bandeau_menu {
    width: auto!important;
  }
  #CNIL{
    display: block;
  } 
  #CNIL p{
    font-size: 1.2em;
    width:100%;
  }
  #CNIL .cnilWarningMsg {
    width:100%;
  }
  #CNIL .acceptButton {
    margin-top:5px;
    width: 100%;
    padding: 5px;
    font-size: 1.4em;
  }
  .lastFooterCol div {
    background: url(../images/mobile/fleche-menu-droite.png) no-repeat right
      center;
    padding-right: 20px;
    width: 80%;
  }
  .titreLiensFooter div {
    background: url(../images/mobile/fleche-menu-bas.png) no-repeat right
      center;
    padding-right: 20px;
    width: 80%;
  }
  .footerGroupe div {
    background: url(../images/mobile/fleche-menu-bas.png) no-repeat right
      center;
    padding-right: 20px;
    width: 80%;
  }
  #carousel-wrapper li , #bandeau_menu{
    background-position: center center;
  }
  .mobile {
    display: block;
  }
  header.container {
    padding-top: 100px;
  }
  .borneHeader {
    position: static;
  } 
  h1.logo {
    height: 18%;
    top: -5px;
    padding-top: 0;
    z-index: 20;
    width: 50%;
  }
  .menuSearch {
    position: absolute;
    right: 30%;
    top: 40px;
    z-index: 200;
    width: 12%;
  }
  .menuLang {
    position: absolute;
    right: 17%;
    top: 40px;
    z-index: 200;
    width: 12%;
  }
  .menuMobile {
    position: absolute;
    right: 3%;
    top: 40px;
    z-index: 200;
    width: 12%;
  }
  
  .menuConnexion {
    position: absolute;
    right: 3%;
    top: 50px;
    z-index: 200;
    width: 12%;
    display: none;
  }

  .liensSurHeader {
    display: none;
  }
  #titreLangues {
    display: none;
  }
  #titreLangues.active {
    display: block;
  }
  .titreLangues {
    position: absolute;
    top: 85px;
    left: 55%;
    width: 45%;
    z-index: 120;
    color: #000;
    font: normal 1.6em/1.5 'Parisine', Arial, Helvetica, sans-serif;
  }
  #langues {
    display: none;
  }
  #langues.active {
    display: block;
  }
  ul.langues {
    position: absolute;
    top: 120px;
    left: 55%;
    float: none;
    z-index: 120;
    width: 45%;
  }
  ul.langues abbr {
    display: none;
  }
  ul.langues span,
  ul.langues a {
    background: none;
    color: #000;
    padding: 0;
    width: 83%;
  }
  ul.langues span img,
  ul.langues a img {
    margin-left: 5px;
    float: right;
  }
  ul.langues a:hover,
  ul.langues a:active,
  ul.langues a:focus {
    background: none;
    text-decoration: underline;
    color: #000;
  }
  ul.langues li {
    display: block;
    float: none;
  }
  #blocRight {
    display: none;
  }
  #blocRight.active {
    display: block;
  }
  #espace_n3 .block_left{
    width: auto!important;
  }
  .blocRight {
    position: absolute;
    float: none;
    z-index: 100;
    top: 0;
    right: 0;
    padding-top: 180px;
    width: 50%;
    background: #FFF;
    min-height: 255px;
  }
  #blocRight.blocRight.connexion{
  	padding-top: 0px;
  	display:block;
  	width:100%;
  	background:transparent;
  }
  #blocRight.blocRight.connexion >ul{
  	display:none;
  }
  ul.touristInfo {
    width: 83%;
    margin: 0 7% 0 10%;
    float: none;
    padding-right: 0;
    border: none;
  }
  header .touristInfo h2 {
    color: #000;
    font: normal 1.6em/1.5 'Parisine', Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .touristInfo li {
    display: block;
    float: none;
    clear: both;
  }
  .touristInfo li a {
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: block;
  }
  .touristInfo li a:hover,
  .touristInfo li a:focus,
  .touristInfo li a:active {
    text-decoration: underline;
  }
  .touristInfo li a .mobile {
    display: inline-block;
    width: 50%;
    padding-top: 5px;
  }
  .touristInfo li a img {
    float: right;
  }

  .liensSurHeader {
    position: absolute;
    top: 0;
    right: 3%;
    z-index: 100;
    float: none;
  }
  .liensSurHeader li {
    border-right: none;
  }
  .carrousel {
    margin-top: -5px;
  }

/* Surcharge de la boite de connexion pour la home */
  
#loginBox.grand {
  font-family: 'Parisine Office', Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: #0c388d;
  z-index: 10000;
  opacity: 1; /* Opacity for Modern Browsers */
  filter: alpha(opacity =       100); /* Opacity for IE8 and lower */
  zoom: 1; /* Fix for IE7 */
  width: 200%;
  height: 358px;
  color: white;
  top: 97px;
  right: 0px;
  font-size: 13px;
}

#loginBox.grand #loginForm {
  padding-top: 4%;
  padding-left: 7%;
}

#loginBox.grand #loginForm label.compulsory {
  margin-top: 9px;
  font-size: 11px;
  cursor: auto;
  color: white;
  margin-bottom: 5px;
}

#loginBox.grand #loginForm label {
  margin-bottom:5px;
}

#loginBox.grand #loginForm .error-message-box.show-error{
  margin-top:1.5%;
}

#loginBox.grand #loginForm .forgotten-password {
  left: 12.5%;
}

#loginBox.grand #loginForm .creationCompte{
    font-size: 15px;
    width:66%;
    
}

  /* Surcharge de la boite de connexion pour les pages filles */
  
#loginBox.moyen,
#loginBox.petit {
  font-family: 'Parisine Office', Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: #0c388d;
  z-index: 10000;
  opacity: 1; /* Opacity for Modern Browsers */
  filter: alpha(opacity =       100); /* Opacity for IE8 and lower */
  zoom: 1; /* Fix for IE7 */
  width: 200%;
  height: 358px;
  color: white;
  top: 97px;
  right: 0px;
  font-size: 13px;
}

#loginBox.moyen #loginForm,
#loginBox.petit #loginForm {
  padding-top: 4%;
  padding-left: 7%;
}

#loginBox.moyen #loginForm label.compulsory,
#loginBox.petit #loginForm label.compulsory {
  margin-top: 9px;
  font-size: 11px;
  cursor: auto;
  color: white;
  margin-bottom: 5px;
}

#loginBox.moyen #loginForm label,
#loginBox.petit #loginForm label {
  margin-bottom:5px;
}

#loginBox.moyen #loginForm label[for='email'],
#loginBox.petit #loginForm label[for='email'] {
  left:13%;
  top:5%;
}

#loginBox.moyen #loginForm input[type='text'],
#loginBox.petit #loginForm input[type='text']  {
  width: 71%;
  height: 20px;
  top:12%;
  left:13%;
}

#loginBox.moyen #loginForm label[for='password'],
#loginBox.petit #loginForm label[for='password']{
  left:13%;
  top:20%;
}

#loginBox.moyen #loginForm input[type='password'],
#loginBox.petit #loginForm input[type='password'] {
  width: 55%;
  top:27%;
  left:13%;
}

#loginBox.moyen a#loginButton,
#loginBox.petit a#loginButton {
  right: 16%;
  top: 27%;
  border-style: none;
  width: 12%;
  padding-bottom: 2px;
  line-height: 20px;
  padding-top: 2px;
  font-size: 13px;
}

#loginBox.moyen #loginForm label.compulsory,
#loginBox.petit #loginForm label.compulsory {
  left:13%;
  top:32%;
  font-size: 11px;
}

#loginBox.moyen #loginForm label[for='rememberme'],
#loginBox.petit #loginForm label[for='rememberme'] {
  top:41%;
  left:13%;
}

#loginBox.moyen #loginForm .error-message-box.show-error,
#loginBox.petit #loginForm .error-message-box.show-error{
  width: 67%;
  padding:8px;
  left:13%;
  bottom:33%;
}


#loginBox.moyen #loginForm .forgotten-password,
#loginBox.petit #loginForm .forgotten-password {
  bottom: 3%;
  left: 13%;
}

#loginBox.moyen #loginForm .creationCompte,
#loginBox.petit #loginForm .creationCompte{
    font-size: 15px;
    width:66%;
  	padding-right:12px;
 	padding-left:12px;
    font-size: 1.15em;
    left:13%;
    bottom:9%;
    text-align:center;
    
}

  /* Surcharge de la boite de menu maRATP*/
  
#menuBox.moyen,
#menuBox.petit,
#menuBox.grand {
  font-family: 'Parisine Office', Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: #0c388d;
  /*background-color: #2559a0;*/
  z-index: 10000;
  opacity: 1; /* Opacity for Modern Browsers */
  filter: alpha(opacity =       100); /* Opacity for IE8 and lower */
  zoom: 1; /* Fix for IE7 */
  width: 200%;
  color:#0c388d;
  height: 361px;
  top: 95px;
  right: 0px;
  font-size: 14px;
}

#menuBox.moyen .listeMenu,
#menuBox.petit .listeMenu,
#menuBox.grand .listeMenu{
  padding-top:4%;
  font-weight:bold;
}

#menuBox.moyen .listeMenu li img,
#menuBox.petit .listeMenu li img,
#menuBox.grand .listeMenu li img{
  margin-top:1.25%;
  position:absolute;
  right:15%;
}

#menuBox.moyen .listeMenu li,
#menuBox.petit .listeMenu li,
#menuBox.grand .listeMenu li{
  width:100%;
}

#menuBox.moyen .listeMenu a,
#menuBox.petit .listeMenu a,
#menuBox.grand .listeMenu a{
  text-decoration:none;
  display:block;
  padding-top:7px;
  vertical-align:middle;
  padding-left:5%;
  background-color:white;
  color:#0c388d;
  text-align:left;
  margin-top:2px;
  margin-left:10%;
  width:75%;
  height:31px;
}

#menuBox.moyen #logoutButton,
#menuBox.petit #logoutButton,
#menuBox.grand #logoutButton{
  cursor: pointer;
  position:absolute;
  padding-top:9px;
  text-decoration:none;
  left:12%;
  bottom:45%;
  background-color:#00AA91;
  color:white;
  text-transform:uppercase;
  height:7%;
  width:75%;
  text-align:center;
}

  /* Menu */
  #menu {
    display: none;
  }
  #menu.active {
    display: block;
  }
  header nav {
    min-height: 54px;
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 150;
    width: 100%;
  }
  header nav li {
    background-image: none;
    border-left: none;
    float: none;
    text-align: left;
    width: 97%;
    border-bottom: 1px solid #007F68;
    padding-left: 3%;
  }
  header nav li:first-child {
    width: 97%;
  }
  header nav li h2 {
    border: none;
  }
  header nav li h2 a {
    background-image: none;
    color: #FFFFFF;
    display: block;
    padding: 11px 0;
    text-decoration: none;
  }
  header nav .sousMenu a {
    line-height: 1.7em;
  }
  header nav .sousMenu .colPub {
    display: none;
  }
  header nav .sousMenu .colSsMenu {
    width: auto;
    margin-right: 10px;
    padding-left: 0;
  }
  header nav .deco {
    position: relative !important;
    top: 0;
    background: none;
  }
  /* Slideshow */
  .listeArticles article {
    background-color: rgb(0, 62, 145);
    min-height: 115px;
    right: auto;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .listeArticles header {
    margin-top: 0;
  }
  .listeArticles p {
    display: none;
  }
  .navigationSlideshow {
    border-top: none;
    bottom: 75%;
    padding-top: 10px;
    right: 0;
    text-align: center;
    width: 100%;
  }
  .navigationSlideshow li {
    width: auto;
    padding: 15px;
    background-color: rgba(0, 62, 145, 0.8);
    position: absolute;
    top: 0;
    left: 45%;
    display: none;
  }
  .navigationSlideshow li:first-child,.navigationSlideshow li:last-child {
    width: auto;
    display: inline-block;
  }
  .navigationSlideshow li:first-child {
    left: 0;
  }
  .navigationSlideshow li:last-child {
    right: 0;
    left: auto;
  }
  .filArianeSlideshow {
    right: 38%;
    top: auto;
    bottom: 115px;
    background-color: rgb(0, 62, 145);
    padding: 5px 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .filArianeSlideshow li:first-child {
    margin-left: 4px;
  }
  
  /* Slideshow maRATP */

  .carrouselMaRatp .listeArticles article {
    background-color:inherit;
    min-height: inherit;
    right: inherit;
    top: inherit;
    left: inherit;
    bottom: inherit;
    width: inherit;
  }
  
  .carrouselMaRatp .listeArticles header {
    margin-top: 40px;
  }
  .carrouselMaRatp .listeArticles p {
    display: inherit;
  }
  .carrouselMaRatp .navigationSlideshow {
    border-top: none;
    bottom: 75%;
    padding-top: 10px;
    right: 0;
    text-align: center;
    width: 100%;
  }
  .carrouselMaRatp .navigationSlideshow li {
    width: auto;
    padding: 15px;
    background-color: rgba(0, 62, 145, 0.8);
    position: absolute;
    top: 0;
    left: 45%;
    display: none;
  }
  .carrouselMaRatp .navigationSlideshow li:first-child,.navigationSlideshow li:last-child {
    width: auto;
    display: inline-block;
  }
  .carrouselMaRatp .navigationSlideshow li:first-child {
    left: 0;
  }
  .carrouselMaRatp .navigationSlideshow li:last-child {
    right: 0;
    left: auto;
  }
  .carrouselMaRatp .filArianeSlideshow {
    position: absolute;
    top: inherit;
    bottom: 9rem;
    right: 0;
    z-index: 100;
    background-color: #00AA91;
    padding: 12px 4px 12px 4px;
    border-radius: 9px 0 0 9px;
    width: 22px;
  }
  .carrouselMaRatp .filArianeSlideshow li:first-child {
    margin-left: auto;
  }

  /* Colonnes centrales */
  .colLeft,.colMiddle,.colRight {
    float: none;
    width: auto;
    margin: 0 0 20px 0;
    clear: both;
  }
  .colRight {
    margin-bottom: 0;
  }
  .skinBlocServices {
    border-right: none;
    border-left: none;
  }
  .skinBlocServices ul li {
    float: left;
    padding-top: 5px;
    display: table-cell;
    border-top: none;
    width: 19.4%;
    margin: 0;
  }
  .skinBlocServices ul li a {
    padding: 60px 0 5px;
    text-align: center;
    background-position: center top;
  }
  .skinBlocServices ul li a.servicePlanInter {
    background-position: center top;
    padding: 60px 0 5px 0;
  }

  /* Actualités */
  .titreActusMobile {
    font: normal 2.2em/1.5 'Parisine', Arial, Helvetica, sans-serif;
    color: #303030;
    padding: 3px 0 8px 15px;
    border-top: 6px solid #000;
  }
  .actus li:first-child {
    border-top: none;
  }
  .actus li {
    float: none;
    margin-left: 0;
    width: 100%;
    border-top: 2px solid #FFF;
  }
  .actus .categArticle .sousTitre {
    display: none;
  }
  .plusActus .actus {
    margin-top: 0;
  }
  .skinBlocActuHome header {
    min-height: 0;
  }
  .actus p.illustration img {
    width: 100%;
  }
  .js .lienPlusActus a img {
    left: 48%;
  }

  /* Footer */
  .footerCol {
    float: none;
    margin: 0 3.125% 8px 3.125%;
    width: auto;
    clear: both;
  }
  .footerCol .logoRatpFooter {
    display: none;
  }
  .lastFooterCol li {
    padding-right: 25px;
  }
  .lastFooterCol li a {
    width:100%;
    padding: 11px 0 11px 55px;
  }
  .lastFooterCol li:last-child {
    padding-top: 0;
  }
  .lastFooterCol li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .bottomLinks {
    padding-top: 60px;
    margin: 0 3.125% 20px 3.125%;
  }
  .bottomLinks li {
    display: block;
  }
  .bottomLinks li.logoRatpFooter {
    display: inline-block;
  }
  .bottomLinks li.logoRatpFooter,.bottomLinks li.copyright {
    padding-bottom: 10px;
  }
  .bottomLinks li a {
    text-decoration: underline;
  }
  .bottomLinks li a:hover,.bottomLinks li a:focus,.bottomLinks li a:active
    {
    text-decoration: none;
  }
  h2.footerGroupe {
    margin-bottom: 0;
    padding-top: 5px;
    padding-right: 25px;
  }
  .noLink {
    cursor: pointer;
    text-decoration: none;
    padding: 10px 0;
    display: block;
  }
  .noLink:active {
    text-decoration: underline;
  }
  .titreLiensFooter {
    border-top: none;
    margin-top: 0;
    padding: 0 25px 0 0;
    border-bottom: 1px solid #595959;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .titreLiensFooter a {
    background: url(../images/footer-acces.png) no-repeat left center;
    display: block;
    font-family: 'Parisine', Arial, Helvetica, sans-serif;
    margin: 10px 0;
    padding: 10px 0 11px 55px;
    text-transform: none;
    font-size: 1.25em;
    font-weight: normal;
    width:100%;
  }
  .titreLiensFooter a:hover,.titreLiensFooter a:active {
    background: url(../images/footer-acces-hover.png) no-repeat left center;
  }
  .footerGroupe a {
    padding: 10px 0 11px 55px;
    width: 100%;
  }
  .footerGroupe a:hover,.footerGroupe a:active {
    background: url(../images/footer-twitter-hover.png) no-repeat left
      center;
  }
  footer .toggleSection {
    /*  Pas de display none car entraine disfonctionnement du js de twitter à l'ouverture*/
    position:absolute; 
    top:-6000000px;
  }
  footer .active .toggleSection {
    position:relative;
   display: block;
   top:0;
   margin-left: 30px
  }
  #bandeau_menu #bandeau_menu_category h1 {
    padding-right: 10px;
    font-size: 16px;
    line-height: 22px;
    margin-top: -22px;
  }  
  #bandeau_menu_category {
    right: 10px;
    top: 50%;
    left: inherit;
    width: 50%;
    text-align: right;
  }  
  #surHeader div tr td.gsc-search-button{
  border-right: none;
  }

  /* Cacher le background bleu du caroussel en responsive */
  div#caroussel-background {
  display: none; 
  }
  
  #___gcse_1 {
    width: 100%;
    height: 24px;
  }
  .appliActu .imprimer {
  display: none;
  }
  
  /* ---------- Refonte page d'accueil maRATP ------------- */

  .colonneCarrouselMaRatp{
  	padding:0px;
  }
  
}

/********************************************************/
/* Gestion de la taille des bandeaux en mode responsive */
/********************************************************/

@media only screen and (min-width: 420px){
  #bandeau_menu .imgBandeauMobile{
    display: none;
  }
}
@media only screen and (max-width: 419px){
  #bandeau_menu .imgBandeauTablette{
    display: none;
  }
	  #bandeau_menu .imgBandeauMobile{
	  display: inline;
	 }
	 #bandeau_menu_category{
	       width: 70%;
	 }
}

@media only screen and (max-width: 510px){
   div div #portlet_contenu_complet .tab-pane .tab-row .tab_selected,
   div div #portlet_contenu_complet .tab-pane .tab-row .tab,
   .tab{
     width: 100%;
     padding-right: 16px;
   }
   .demarche_et_condition .tab-row{
    display: none;  
   }
   
   .demarche_et_condition .masquer-desktop{
    width: 100%;
    color: white;
    height: 45px;
    float: left;
    border-right: 1px solid white;
    background-color: #5ac1b4;
    text-align: center;
    display: block;
    margin-left: 1px;
    margin-right: 15px;
    margin-bottom: 0;
    padding: 5px;
    border: none;
    background-image: none;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-right: 15px;
   }
   .demarche_et_condition .masquer-desktop-selected{
       margin-top: 1px;
      background-color: #2a9a85;
   }
	}