/* CSS Site RATP.FR - Author : TRSb Etudes et Dev Wyniwyg - dec 2013
*
*  Feille CSS contenant les styles communs à toutes les pages.
*  Les éléments responsifs doivent être déclaré dans ratp_responsive.css (@media ....)
*/

/* ----------------------------- */
/* ==reset                       */ 
/* ----------------------------- */

/* Uniquement sur les éléments de la home page et du menu transverse 
 * pour éviter la surcharge de CSS 
 */
header p,
header ul,
#contenu ul,
footer p,
footer ul,
.menuTransverse p,
.menuTransverse ul {
	margin: .75em 0 0;
	line-height: 1.5;
}
#contenu p {
	line-height: 1.5;
}
/* soft reset */
html,
body {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
ul.design {
	list-style: none;
	padding-left: 0;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* neutralise la marge du premier élément pour le footer*/
footer p:first-child,
footer ul:first-child,
footer ol:first-child,
footer dl:first-child,
footer blockquote:first-child,
footer pre:first-child,
footer h1:first-child,
footer h2:first-child,
footer h3:first-child,
footer h4:first-child,
footer h5:first-child,
footer h6:first-child {
  margin-top: 0;
}

/* neutralise la marge du premier élément pour le header*/
header p:first-child,
header ul:first-child,
header ol:first-child,
header dl:first-child,
header blockquote:first-child,
header pre:first-child,
header h1:first-child,
header h2:first-child,
header h3:first-child,
header h4:first-child,
header h5:first-child,
header h6:first-child {
  margin-top: 0;
}

/* neutralise la marge du premier élément pour le menuTransverse*/
.menuTransverse p:first-child,
.menuTransverse ul:first-child,
.menuTransverse ol:first-child,
.menuTransverse dl:first-child,
.menuTransverse blockquote:first-child,
.menuTransverse pre:first-child,
.menuTransverse h1:first-child,
.menuTransverse h2:first-child,
.menuTransverse h3:first-child,
.menuTransverse h4:first-child,
.menuTransverse h5:first-child,
.menuTransverse h6:first-child {
  margin-top: 0;
}
/* neutralise les marges des éléments imbriqués */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* Comportement image responsive uniquement sur la home */
header img,
.container .skinBlocServices img,
.container .actus img,
footer img
	{
	max-width: 100%;
}
/* Google Gmap3 bug fix des images */
:not  (.gm-style  ) img {
	height: auto !important;
}
.ie678 .gm-style img {
	height: 100%; /* IE678 hack */
}
.gm-style img,
.gmnoscreen img,
.gmnoprint img {
	max-width: none !important;
}

a img {	border: 0; }

/* scripts */
body>script { 	display: none !important; }

.clear {
	clear: both;
}


/* alignements (block et inline) */
/* ------------------------------ */

.left {
	float: left;
}
img.left {
	margin-right: 1em;
}


.right {
	float: right;
}
img.right {
	margin-left: 1em;
}

img.left,img.right {
	margin-bottom: 5px;
}


/*   Anciens navigateurs IE6-7-8  */
/* ------------------------------ */


/* hasLayout pour IE6/IE7 */
.ie67 .clearfix {
	zoom: 1;
}
.ie8 img {
	width: auto; /* @bugfix pour IE8 */
}

/* ----------------------------- */
/* ==forms                       */
/* ----------------------------- */

/* merci à HTML5boilerplate,
* github.com/nathansmith/formalize 
* and www.sitepen.com
*/
header form,
header fieldset {
	border: none;
}

header input,
header button,
header select,
header label {
	vertical-align: middle;
	font-family: inherit;
	font-size: inherit;
}

header label {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

header legend {
	border: 0;
	white-space: normal;
}

header textarea {
	overflow: auto; /* Removes default vertical scrollbar on empty textarea in IE6/7/8/9 */
	min-height: 5em;
	vertical-align: top;
	font-family: inherit;
	font-size: inherit;
	resize: vertical;
}

header button,
header input[type="button"],
header input[type="reset"],
header input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button; /* clickable input types in iOS */
}

header input[type="checkbox"],
header input[type="radio"] {
	padding: 0; /* Corrects excess space around these inputs in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield;
}

/* if select styling bugs on WebKit */
/* select { -webkit-appearance: none; } */

/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #777;
}

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Neutralise l'héritage des couleurs par défaut JCMS */
a:focus,
a:active,
a:hover {
	color: inherit;
}

/* ----------------------------- */
/* ==tables                      */
/* ----------------------------- */
th {
	text-align: left;
}

/* ---------------------------------------------------------------
    FONT LEAGUE GOTHIC POUR REMPLACER LA KNOCKOUT
 -----------------------------------------------------------------*/


/* Regular */
@font-face {
	font-family: 'League Gothic';
	src: url('../webfonts/leaguegothic-regular-webfont.eot');
	src: url('../webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/leaguegothic-regular-webfont.woff') format('woff'),
		url('../webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
		url('../webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Parisine';
	src: url('../webfonts/parisineoffice-regular-webfont.eot');
	src: url('../webfonts/parisineoffice-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/parisineoffice-regular-webfont.woff') format('woff'),
		url('../webfonts/parisineoffice-regular-webfont.ttf') format('truetype'),
		url('../webfonts/parisineoffice-regular-webfont.svg#parisine_office-regular')format('svg');
	font-weight: normal;
	font-style: normal;

}

/* ---------------------------------------------------------------
    CSS RATP - BODY
 -----------------------------------------------------------------*/

body {
	font-size: 0.625em;
	line-height: 1.5em;
}
header,
.container .skinBlocServices,
.container .actus,
footer {
	font-family: Helvetica, Arial, sans-serif;
}
.container {
	width: 960px !important;
	margin: 0 auto;
}

/* ---------------------------------------------------------------
  HEADER
------------------------------------------------------------------*/

header {
	position: relative;
}
.borneHeader {
	position: relative;
} 

.borneHeader .logo a{
  background: url('../images/logo-home.png') top left no-repeat;
  padding : 0 0 113px 205px;
  position: absolute;
  z-index: 1000;
  top: 0px;
  margin :0;
}
.borneHeader .logo-mobile a{
  display: none;
}
header ul {
	list-style: none;
	padding-left: 0;
}
header ul li {
	display: inline-block;
}
#surHeader {
	overflow: hidden;
	height: 32px;
}
#surHeader ul {
	float: left;
}
.evitement {
	position: absolute;
	top: 0;
	left: 0;
}
.evitement li {
	display: inline-block;
}
.evitement li a {
	position: absolute;
	top: -9999em;
}
.evitement li a:focus {
	position: relative;
	top: 0;
}
ul.langues li {
	display: block;
	float: left;
}
ul.langues a,
ul.langues span {
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
	color: #787778;
	text-decoration: none;
}
ul.langues a:hover,
ul.langues a:focus {
	background-color: #303030;
	color: #FFF;
}
ul.langues span {
	color: #FFF;
	background: #303030;
}
ul.langues abbr {
	border-bottom: none;
}
div#recherche {
	float: right;
	width: 25%;
	height: 32px;
	border-left: 1px solid #e5e4e3;
}

div#recherche form {
	display: table;
	width: 100%;
}
div.autocompletion {
	background-color: #FFF;
	padding: 6px;
	border-top: none;
	border-left: 2px solid #E5E4E3;
	border-right: 2px solid #E5E4E3;
	border-bottom: 2px solid #E5E4E3;
	color: #000;
	font-size: 1.2em;
	visibility: hidden;
	position: absolute;
	z-index: 1010;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
div.autocompletion div {
	padding: 0 2px;
}
div.autocompletion div.selected {
	background-color: #36c;
	color: #fff;
	cursor: default;
}
#surHeader #recherche .searchWrapper input.headerSearch {
	border-bottom: none;
	border-top: none;
	border-left: 1px solid #E5E4E3;
	font-size: 1.2em;
	font-weight: bold;
	padding: 8px 25px 9px 10px !important;
	color: #787778;
	margin: 0;
	/* Empêche l'arrondi par défaut Mac */
	-webkit-appearance: none;
	border-radius: 0;
}
input.headerSearch[placeholder] {
	color: #000;
}
input.headerSearch[placeholder].placeholder {
	color: #777;
}
#recherche .searchWrapper .submitHeaderSearch {
	text-indent: -9999em;
	background: url(../images/picto-loupe-search.png) no-repeat;
	width: 13px;
	height: 15px;
	border: none;
	margin-left: -23px;
}
.blocRight {
	float: right;
}
.touristInfo {
	margin-right: 0;
}
header .touristInfo h2 {
	color: #787778;
	font: bold 1.2em/1.5 Arial, Helvetica, sans-serif;
	margin: 7px 10px 0 10px;
	padding: 0;
}
ul.touristInfo {
	border-left: 1px solid #e5e4e3;
	border-right: 1px solid #e5e4e3;
	padding-bottom: 5px;
	padding-right: 10px;
}
.touristInfo li {
	float: left;
}
.touristInfo li a img {
	border: 1px solid transparent;
}
.touristInfo li a:hover img {
	border: 1px solid #00aa91
}
.touristInfo li img {
	margin-top: 7px;
}
.liensSurHeader {
	margin: 0;
}
.liensSurHeader li {
	border-right: 1px solid #e5e4e3;
	display: block;
	float: left;
}
/* .liensSurHeader li.active {
	border-right: none;
} */
.liensSurHeader a  {
	color: #303030;
	padding: 7px 10px;
	font-size: 1.2em;
	display: block;
}

.liensSurHeader a img {
	padding: 3px 0px;
}

.liensSurHeader a:hover,
.liensSurHeader a:focus,
.liensSurHeader li.active a {
	color: white;
	text-decoration:none;
	background-color: #303030;
}

.liensSurHeader .maRatp {
	width: 82px;
}
.liensSurHeader .maRatp img {
	background: url('../images/maRATP.png') no-repeat center center;
	width: 62px;
	height: 12px ! important;
}
.liensSurHeader .maRatp a:hover img {
	background: url('../images/maRATP-hover.png') no-repeat center center;
}
.blocConnexion {
	position: absolute;
	background: #303030;
	top: 32px;
	right: 0;
	z-index: 100;
	color: white;
	min-height: 328px;
	width: 260px;
}
#blocConnexion ul {
	float: none;
}
.blocConnexion li {
	float: none;
	border: none;
}
.blocConnexion a {
	color: white;
}
.blocConnexion p,
.blocConnexion input {
	width: 84.61538461538462%;
	margin: 0 7.692307692307692%;
}
.blocConnexion input {
	padding: 5px 0;
}
.blocConnexion label {
	display: block;
	font-size: 1.6em;
	margin-top: 10px;
	margin: 10px 7.692307692307692% 5px 7.692307692307692%;
}
.blocConnexion .btnSubmit input {
	border: 1px solid white;
	background: #14B19A;
	color: white;
	font-size: 1.6em;
	margin: 5px 0 5px 0;
	width: 100%;
}
.blocConnexion .resterConnecte input {
	padding: 0;
	margin: 0;
	width: auto;
}
.blocConnexion .resterConnecte label {
	display: inline-block;
	margin: 0 5px;
	font-size: 1.2em;
}
.blocConnexion .mdpOublie {
	margin-top: 90px;
}
.blocConnexion .mdpOublie a {
	padding: 0;
}

/*--CNIL----*/
#CNIL {
	background-color: rgb(0, 170, 144);
	padding: 10px 15px 15px 15px;
	text-align:center;
	font-size: 1em;
	position:relative;
 }
#CNIL p {
	color: rgb(255, 255, 255);
	font-family: 'Parisine',Arial,Helvetica,sans-serif; 
	font-size: 1.3em;
}
#CNIL .cnilWarningMsg {
	margin-right: 1em;
	flex: 1;
	float:left;
	width:84%;
}
#CNIL .cnilWarningMsg a {
	color: #FFF;
	text-decoration: underline;
}
#CNIL .acceptButton{
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	color: rgb(0, 170, 144);
	height: 100%;
	padding: 7px;
	border: 1px solid rgb(204, 204, 204);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1em;
	font-family: 'Parisine',Arial,Helvetica,sans-serif;
	font-weight: bold;
	width:auto;
}

/* ----------- Slideshow 
   --------------------- */
   
.carrousel {
	position: relative;
	clear: both;
}
.filArianeSlideshow {
	position: absolute;
	top: 15px;
	right: 190px;
	z-index: 30;
}
.filArianeSlideshow2Elts {
	right: 210px;
}
.filArianeSlideshow3Elts {
	right: 190px;
}
.filArianeSlideshow4Elts {
	right: 170px;
}
.filArianeSlideshow5Elts {
	right: 150px;
}
.filArianeSlideshow li {
	margin-right: 4px;
}
.container .fil {
	padding-left: 10px;
}

/* Carousel (JS) */
#carousel-wrapper {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.listeArticles {
	width: 10000px;
}

.listeArticles li {
	height: 328px;
	position: relative;
	float: left;
}

.single-slide .listeArticles,
.single-slide .listeArticles li { width: 100%; }

.filArianeSlideshow img {
	height: 14px;
	width: 14px;
	background: url(../images/slideshow/point-non-selected.png) no-repeat top left;
}

.filArianeSlideshow .carousel-current img {
	background: url(../images/slideshow/point-selected.png) no-repeat top left;
}

.navigationSlideshow a.carousel-control {
	display: inline-block;
}
.navigationSlideshow a.carousel-control img,
.navigationSlideshow a.carousel-control:focus img,
.navigationSlideshow a.carousel-control:visited img {
	filter: alpha(opacity =   65);
	opacity: 0.65;
}
.navigationSlideshow a.carousel-control:hover img,
.navigationSlideshow a[rel="pause"].carousel-paused img {
	filter: alpha(opacity =   100);
	opacity: 1;
}

.listeArticles {
	position: realtive;
}
.listeArticles article {
	z-index: 20;
	position: absolute;
	top: 0;
	right: 0;
	width: 260px;
	min-height: 328px;
	color: white;
}
div#caroussel-background {
  height: 328px;
  width: 260px;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 62, 145, 0.85); 
	}
.listeArticles header {
	margin-top: 40px;
}
.listeArticles h1 {
	font: normal 3.8em/.9 'League Gothic', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	/*
  font: normal 2.6em/1 Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  */
}
.listeArticles p,
.listeArticles h1 {
	margin: 10px !important;
}
.listeArticles article:hover h1 {
	text-decoration: underline;
}
.listeArticles p {
	font: normal 1.2em/1.2 Arial, Helvetica, sans-serif;
}
.listeArticles a {
	color: white;
	display: block;
	width: 100%;
	height: 100%;
}
.listeArticles .fauxLien {
	text-decoration: underline;
}
.navigationSlideshow {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 30;
	border-top: 1px solid #6a90be;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	width: 260px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.navigationSlideshow li {
	width: 55%;
}
.navigationSlideshow li.prev,
.navigationSlideshow li.next {
	width: 20%;
}


/* ----------- Bloc image 
   --------------------- */
   
.blocImage {
	position: relative;
	clear: both;
}


/* ----------- Nav - menu principal 
   -------------------------------- */
       
header nav {
	position: relative;
	clear: both;
	background-color: #00AA91;
	min-height: 54px;
	z-index: 20;
}
header nav li {
	display: block;
	float: left;
	width: 20%;
	text-align: center;
}
header nav li:hover,
header nav li.active {
	background: #007C6A url(../images/bg-ombre-nav.png) repeat-x top;
}
header nav li:first-child h2 {
	border-left: none;
}
header nav li h2 {
	font: normal 2.2em/1.5 'Parisine', Arial, Helvetica, sans-serif;
	border-left: 1px solid #80c1b8;
	margin: 0;
	padding: 0;
}
header nav li h2 a,
header nav li h2 a:focus,
header nav li h2 a:hover {
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 11px 0;
	background: #00AA91 url(../images/bg-ombre-nav.png) repeat-x top;
}
header nav li h2 a:hover,
header nav li.active h2 a {
	background: #007C6A url(../images/bg-ombre-nav.png) repeat-x top;
}

header nav li h2 a:hover span,
header nav li.active h2 a span {
	border-bottom: 4px solid #FFF;
}

/* ----------- Nav - Sous-menus Sans JS
   -------------------------------- */
.sousMenu li {
	width: 100%;
	float: left;
	text-align: center;
}

.SsMenuListe li {
	width: 100%;
}

h3 a {
	color: white;
}

.colSsMenu {
	width: 100%;
	background: #00AA91;
}
.colPub {
	background: #00AA91;
	width: 100%;
}

.colPub a {
	color: white;
}
.colSsMenu li a {
	color: black;
	font-size: 12px;
}
.categArticle {
	color: white;
}

/* ----------- Nav - Sous-menus avec JS
   -------------------------------- */
.js header nav .sousMenu {
  width: 100%;
  background: #007C6A;
  overflow: hidden;
}
.js header nav .deco {
  display: none;
}
.js header nav .active .deco {
  display: block;
}
.js header .deco{
	position:absolute;
}
header nav .deco {
  left: 0;
  width: 100%;
  padding-bottom: 6px;
  background: transparent url(../images/bg-ombre-nav.png) repeat-x bottom;
  z-index: 100;
}
.js header nav .sousMenu li {
  border-left: none;
  background: none;
  width: auto;
  text-align: left;
}
.js header nav .sousMenu .colSsMenu {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid transparent;
  padding-bottom: 20px;
  width: 180px;
}
.js header nav .sousMenu .colSsMenu h3 {
  margin: 0 0 5px 0;
  color: white;
  font-size: 1.2em;
  padding-left: 10px;
  text-transform: uppercase;
  padding-top: 2px;
}
.js header nav .colSsMenu .SsMenuListe li {
  float: none;
  padding-left: 10px;
  width: 100%;
}
.js header nav .sousMenu a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'Parisine', Arial, Helvetica, sans-serif;
}
.js header nav .colSsMenu a:hover,
header nav .colSsMenu a:focus {
  text-decoration: underline;
}

.js header nav .sousMenu .colPub {
  margin: 25px 20px;
  max-width: 180px;
  float: right;
  max-width: 286px;
  background-color: #00AA91;
}
.js header nav .sousMenu .colPub p.categArticle {
  margin: 5px 15px 15px 15px;
}
.js header nav .sousMenu .colPub h3 {
  text-transform: uppercase;
  font: normal 1.8em/1 Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  margin: 15px 15px 5px 15px;
}
.js header nav .sousMenu .colPub a:hover h3,
header nav .sousMenu .colPub a:hover .fauxLien {
  text-decoration: underline;
}



/* ---------------------------------------------------------------
  CONTENU PAGE ACCUEIL
------------------------------------------------------------------*/
	
.container {
	clear: both;
	margin-bottom: 15px;
	overflow: hidden;
}
header.container {
	overflow: visible;
	z-index: 210; /* Le z-index de la pub est à 200. Le header passe par dessus. */
}
footer.container {
	margin-bottom: 0;
}

.colLeft {
	float: left;
	width: 49.16666666666667%;
	margin-right: 1.5625%;
}
.colMiddle {
	float: left;
	width: 15.41666666666667%;
	margin-right: 1.5625%;
}
.colRight {
	float: left;
	width: 32.29166666666667%;
}
.titreBloc {
	font: normal 2.2em/2 'Parisine', Arial, Helvetica, sans-serif;
	margin: 15px 0 0 0;
	padding-left: 15px;
	border-bottom: 1px solid #DEDEDE;
}
.titreBloc:first-letter {
	text-transform: uppercase;
}

/* Bloc itinéraire ----------------
   -------------------------------- */

.skinBlocItineraire {
	border: 1px solid #DEDEDE;
	border-top: none;
	min-height: 422px;
	background: #F5F5F5 url(../images/bg-recherche-itineraire.png) no-repeat left top;
}
.skinBlocItineraire .titreBloc {
	border-top: 6px solid #00AA91;
}

/* Bloc Services ------------------
   -------------------------------- */
   
.skinBlocServices {
	border: 1px solid #DEDEDE;
	border-top: none;
}
.skinBlocServices .titreBloc {
	border-top: 6px solid #003E91;
	color: #003E91;
	line-height: 51px;
}
#contenu .skinBlocServices ul {
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin-top: 0;
}
.skinBlocServices ul li {
	margin: 0 10px;
	border-top: 1px solid #DEDEDE;
}
.skinBlocServices ul li:first-child {
	border-top: none;
}
.skinBlocServices ul li a {
	padding: 27px 0 27px 65px;
	color: #003E91;
	text-decoration: none;
	font: bold 1.2em/1.5 Arial, Helvetica, sans-serif;
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
}
.skinBlocServices ul li a:hover,
.skinBlocServices ul li a:focus,
.skinBlocServices ul li a:active {
	color: #003E91;
	text-decoration: underline;
}

/* Bloc Trafic --------------------
   -------------------------------- */
   
.skinBlocTrafic {
	border: 1px solid #DEDEDE;
	border-top: none;
	min-height: 422px;
}
.skinBlocTrafic .titreBloc {
	border-top: 6px solid #FFCF00;
}

/* Actualités ---------------------
   -------------------------------- */
  
.actus {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.actus li {
	float: left;
	margin-left: 1.5625%;
	width: 32.29166666666667%;
	color: white;
	list-style: none;
}
.actus li:first-child {
	margin-left: 0;
}

.actus article {
	background-color: #003E91;
	overflow: hidden;
}
.skinBlocActuHome header {
	background-color: #003E91;
	min-height: 100px;
}
.skinBlocActuHome header h1 {
	text-transform: uppercase;
	font: normal 3.2em/1 'League Gothic', Arial, Helvetica, sans-serif;
	padding-right: 0; /* Evite que les titres d'actualitées soit sur 4 lignes */
	/*font: normal 2.3em/1.1 Arial, Helvetica, sans-serif;
  letter-spacing: -1px;*/
}
.actus a {
	text-decoration: none;
}
.actus .categArticle .fauxLien {
	text-decoration: underline;
}
.actus a:hover h1,
.actus a:focus h1,
.actus a:active h1 {
	text-decoration: underline;
}
.actus a:hover img,
.actus a:focus img,
.actus a:active img {
	filter: alpha(opacity =   65);
	opacity: 0.65;
	/* Fix opacity bug in FF */
	/* https://bugzilla.mozilla.org/show_bug.cgi?id=745446 */
	box-shadow: #000 0 0 0;
}
.actus header h1 {
	margin: 15px 15px 5px 15px;
}
.actus p {
	font: normal 1.2em/1.2 Arial, Helvetica, sans-serif;
	margin: 5px 15px 15px 15px;
}
.actus a {
	color: white;
}
.actus p.illustration {
	margin: 10px 0 0 0;
}
.plusActus .actus {
	margin-top: 15px;
}
.js p.lienPlusActus {
	text-align: center;
	margin: 15px 0 50px 0;
	position: relative;
}
.lienPlusActus a{
  display:none;
}
.js .lienPlusActus a {
	display: block;
	background-color: #f5f5f5;
	border: 1px solid #cbcac8;
	color: #003e91;
	text-transform: uppercase;
	text-decoration: none;
	font: normal 3.2em/1.4 'League Gothic', Arial, Helvetica, sans-serif;
	/*font: normal 2.3em/1.8 Arial, Helvetica, sans-serif;
  letter-spacing: -1px;*/
}

.js .lienPlusActus a:hover,
.lienPlusActus a:focus {
	color: #FFF;
	background-color: #003e91;
}

.js .lienPlusActus a img {
	position: absolute;
	bottom: -24px;
	left: 460px;
	width: 32px;
	height: 26px;
	background: url(../images/picto-fleche-actus.png) no-repeat;
}

.js .lienPlusActus a:hover img,
.lienPlusActus a:focus img {
	background: url(../images/picto-fleche-actus-hover.png) no-repeat;
}

.js .plusActus .actus { display: none; }
.js .plusActusExpanded .actus { display: block; }
.js .plusActusExpanded .lienPlusActus { display: none; }

/* ---------------------------------------------------------------
  FOOTER
------------------------------------------------------------------*/

footer {
	background-color: #303030;
	color: white;
	overflow: hidden;
	position: relative;
}
footer a {
	color: white;
}
footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.footerCol {
	float: left;
	margin: 30px 3.125%;
	width: 27.08333333333333%;
	font-family: 'Parisine', Arial, Helvetica, sans-serif;
}
.titreLiensFooter {
	font-size: 1.6em;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #595959;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.menuFooter a {
	font-size: 1.6em;
	text-decoration: none;
	line-height: 1.4;
}
.menuFooter a:hover,
.menuFooter a:focus {
	text-decoration: underline;
}
.menuFooterLignes li {
	display: inline-block;
	margin: 0px 0px 10px 0px;
	width:49px;
}
ul.menuFooterLignes {
	margin-bottom: 10px;
}
.footerGroupe {
	font-size: 2em;
	font-weight: normal;
}
.footerGroupe a {
	padding: 5px 0 5px 55px;
	background: url(../images/footer-twitter.png) no-repeat left;
	display: block;
}
.footerCol .btnTwitter {
  display: block;
	margin-left: 54px;
  margin-bottom: 10px;
}
.lastFooterCol li {
	border-top: 1px solid #595959;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/* correction des espaces des deux liens dont les textes ne sont que sur une ligne */
.lastFooterCol li:first-child {
	border-top: none;
	margin-bottom: 10px;
}
.lastFooterCol li:first-child a,
.lastFooterCol li:last-child a {
	padding: 11px 0 11px 55px;
}
.lastFooterCol li:last-child {
	padding-top: 5px;
}
.lastFooterCol li a {
	font-size: 2em;
	margin: 10px 0;
	padding: 18px 0 5px 55px;
	background-position: left;
	background-repeat: no-repeat;
	text-decoration: none;
	display: block;
}
.lastFooterCol li a:hover,
.lastFooterCol li a:focus,
.lastFooterCol li a:active {
	text-decoration: underline;
	color: inherit;
}
.bottomLinks {
	clear: both;
	border-top: 1px solid #595959;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	margin: 15px 0;
	padding-top: 15px;
	text-align: center;
}
.bottomLinks li {
	display: inline-block;
	margin-right: 10px;
	font-size: 1.2em;
	font-weight: bold;
}
.bottomLinks li.logoRatpFooter {
	display: none;
}
.bottomLinks li a {
	text-decoration: none;
}
.bottomLinks li a:hover,
.bottomLinks li a:focus {
	text-decoration: underline;
}
.noLink {
	cursor: auto;
	text-decoration: none;
}

/* ---------------------------------------------------------------
  MENU TRANSVERSE
------------------------------------------------------------------*/

.menuTransverse {
	border: 1px solid #DEDEDE;
	border-top: none;
	background-color: #F5F5F5;
}

.menuTransverse .menu {
	border-top: 6px solid #00AA91;
}

.menuTransverse ul,.menuTransverse li {
	list-style: none;
	margin: 1px 0 0 0;
	padding: 0;
}

.menuTransverse li.open>a {
	color: #00AA91;
	font-weight: bold;
}

.menuTransverse ul.menu>li {
	border-bottom: 1px solid #DEDEDE;
	border-top: 1px solid #fff;
	margin: 0 5px;
	padding: 10px 0 10px 7px;
}
.menuTransverse ul.menu li:first-child {
	border-top: none;
}


.menuTransverse ul.menu>li:last-child {
	border-bottom: none;
}

.menuTransverse .level1>ul {
	padding-top: 4px;
}
.menuTransverse li.level2 {
	padding-left: 5px;
}

.menuTransverse a {
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 1.2em;
	line-height: 1.3em;
}
.menuTransverse a.currentCat {
	color: #00AA91;
}

.menuTransverse a.level0 {
	font-size: 2em;
	line-height: 1.1em;
	font-family: 'Parisine', Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}
.menuTransverse a.level1,
.menuTransverse a.level2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}
.menuTransverse a.level1 {
	padding-left: 15px;
	text-transform: uppercase;
	font-weight: bold;
	background: url('../images/puce-carre-verte.png') no-repeat 1px 5px;
}
.menuTransverse a.level2 {
	padding-left: 0;
}

.menuTransverse a:hover,
.menuTransverse a:hover,
.menuTransverse a:hover {
	text-decoration: none;
	color: #00AA91;
}
.menuTransverse ul.open>li.open a.level1 {
	background: url('../images/fleche-bas-verte.png') no-repeat left center;
}

.menuTransverse .currentCat {
	font-weight: bold;
}
.menuTransverse .level2 .currentCat {
	text-decoration: underline;
	font-weight: normal;
}

.menuTransverse ul.close {
	display: none;
}
.menuTransverse ul.open {
	display: block;
}

#bandeau_menu #bandeau_menu_category h1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: normal;
  line-height: 30px;
}

/* ---------------------------------------------------------------
  MEDIA QUERIES
------------------------------------------------------------------*/

.mobile {
	display: none;
}



.appliActu .imprimer{
	font-size: 10px;
	font-weight: normal;
	color: #414141;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  float: right;
	background: url("../../../images/ratp/picto_print.gif") no-repeat scroll right center transparent;
  padding-right: 15px;
  padding-left: 5px;
  cursor: pointer;
  
}
  .imgBandeauMobile{
    display: none;
  }
  
  /************ Style Gabarit Demarche Et Condition *****************/
  
  .demarche_et_condition .portlet_header span
  {
    font-family: verdana;
    background-position: 0px 7px;
  }
  
  .demarche_et_condition p,
  .demarche_et_condition h3,
  .demarche_et_condition h4,
  .demarche_et_condition .portlet_middle span
  {
    font-size: 11px;
    font-family: verdana, Arial, Helvetica, sans-serif;
        white-space: pre-line;
  }
  
  div div .demarche_et_condition .portlet_middle p.chapeau
  {
    font-weight: bold;
    color: #1BA997!important;
    margin-bottom: 10px;
  }
  #content .demarche_et_condition div.portlet_middle p,
  .demarche_et_condition div.portlet_middle p,
  .demarche_et_condition div.portlet_middle div,
  .demarche_et_condition div.portlet_middle .contenuParagraphe{
    font-size: 11px!important;
    font-family: verdana, Arial, Helvetica, sans-serif;
  }
  .demarche_et_condition div.portlet_middle h4{
        margin: 10px 0 5px 0!important;
  }

  .demarche_et_condition  .vignette-container{
    text-align: center;
    margin: 15px;
  }
  .demarche_et_condition .entete-perso{
    margin-bottom: 10px;
  }
  
  .demarche_et_condition  .vignette{
    width: 100%;
  }
  
  #portlet_contenu_complet .tab-page{
    min-width: 100%;
    width: auto;
    font-size: 11px;
    line-height: 15px;
    font-family: verdana;
    padding: 10px;
  }
  .demarche_et_condition .tab-pane{
    margin-right: 22px;
  }

  #portlet_contenu_complet .tab-pane .tab-row h2.tab_selected,
  #portlet_contenu_complet .tab-pane .tab-row h2.tab{
    min-height: 45px;
    height: auto;
  }
    .demarche_et_condition .masquer-desktop{
    display: none;
    cursor: pointer;
  }
  
  /* ---------- REFONTE PAGE D'ACCUEIL maRATP  --------- */
  
  .carrouselMaRatp{
	position:relative;
	margin-top: -15px;
	margin-bottom:15px;
  }  
  
  .carrouselMaRatp .listeArticles  article{
  	right:initial;
  	left: 3rem;
  	max-width:15rem;
  }  
  
  .carrouselMaRatp .listeArticles article:hover h1.titreCarrousel{
  	text-decoration:initial;
  	color: #003E91;
  }
  
  .carrouselMaRatp .listeArticles article h1.titreCarrousel{
  	color: #003E91;
  	margin:initial;
  }
  
  .carrouselMaRatp .listeArticles article h1.sousTitreCarrousel{
  	
    font: normal 3.8em/.9 'League Gothic', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color:#00AA91;
  }
  
  .carrouselMaRatp .listeArticles article:hover h1.sousTitreCarrousel{
  	text-decoration:initial;
  }
  
  .carrouselMaRatp .listeArticles article .texteCarrousel p{
  	color: grey;
  	font: normal 1.5em 'Parisine', Arial, Helvetica, sans-serif;
  }
  
  .carrouselMaRatp .listeArticles article .texteCarrousel{
  	max-height: 6rem;
  	overflow: hidden;
  }
  
  .carrouselMaRatp .filArianeSlideshow{
  	position: absolute;
	top: 7rem;
    right: 0;
    z-index: 100;
    background-color: #00AA91;
    padding: 12px 4px 12px 4px;
    border-radius: 9px 0 0 9px;
    width: 22px;
  }
  
  .carrouselMaRatp .listeArticles {
  	padding:0px;
  }
  
  .carrouselMaRatp .listeArticles h1{
  	margin-bottom:0px !important;
  }
  
  .carrouselMaRatp .bandeauBas{
  	position: absolute;
    text-align: center;
    height:3rem;
    width: 100%;
    bottom: 0px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .carrouselMaRatp .bandeauBas div{
  	display:inline-block;
  	position: relative;
  	margin-top:0.4rem;
  	
  }
  
  .carrouselMaRatp .jeMInscris{
  	margin-right:1rem;
  }
  
  .carrouselMaRatp .boutonOu{
  	margin-right:1.6rem;
  }
  
  .carrouselMaRatp .jeMInscris a{
  	width: 100%;
    height: 100%;
    color: white;
    top: 0;
    padding: 0.7rem 0.7rem;
    left: 0;
    text-decoration: none;
    background-color: #003E91;
    z-index: 10;
    font-weight: bold;
  }
  
  .carrouselMaRatp .boutonOu p{
  	width: 100%;
    height: 100%;
    color: grey;
    top: 0;
    padding: 0.5rem 0.3rem;
    border-radius:50%;
    left: 0;
    text-decoration: none;
    background-color: white;
    z-index: 10;
    font-weight: bold;
  }
  
  .carrouselMaRatp .jeMeConnecte p{
  	width: 100%;
    height: 100%;
    cursor:pointer;
    color: white;
    top: 0;
    padding: 0.6rem 0.4rem;
    left: 0;
    text-decoration: none;
    background-color: #00AA91;
    z-index: 10;
    font-weight: bold;
  }
  
  .carrouselMaRatp .carousel-jumper .filArianeButton{
  	margin:auto;
    background-color: white;
    -webkit-border-radius:0.7rem;
    -moz-border-radius:0.7rem;
    border-radius:0.7rem;
    width:8px;
    height:8px;
  }
  
  .carrouselMaRatp .carousel-current .filArianeButton{
  	border: 2px solid #003E91;
    background-color: white;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    border-radius:1rem;
    width:10px;
    height:10px;
  }
  
  .carrouselMaRatp .filArianeSlideshow li {
  	padding: 0 !important;
    margin: 0 auto 5px auto;
    width: 15px;
    text-align:center;
  }
  
  .colonneCarrouselMaRatp{
  	padding:0 10px;
  }
  
    
  