@import url(/t/1.css?apiType=css&projectid=7492f661-79f4-4ab2-90f2-6a9eaf984a75);
@font-face{
font-family:"Frutiger Neue W02 Bd";
src:url("/dv2/2/df8cdd77-a94a-4ab9-a957-5fe084222a1d.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/df8cdd77-a94a-4ab9-a957-5fe084222a1d.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/dcf71479-a541-4325-b0c3-4d85ce6f647c.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/4b603308-1f36-48f6-be79-dd806bf12b9e.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/2e7c7763-eea5-4948-bf03-449a5290c2e9.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/1a08d2b3-db40-4a33-835d-0a476a906ece.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#1a08d2b3-db40-4a33-835d-0a476a906ece") format("svg");
}
@font-face{
font-family:"Frutiger Neue W02 Book";
src:url("/dv2/2/7185b340-9701-425d-8791-3eb2acc159ec.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/7185b340-9701-425d-8791-3eb2acc159ec.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/8593785e-4020-4a45-a34c-b8387d6af89d.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/415da429-1421-4092-8734-6d98c54791b0.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/36e7ce83-6f26-472f-bc5d-f3a10e9eafb5.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/66cc592b-4fb3-44ab-b2db-8ce9ca1cf1ff.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#66cc592b-4fb3-44ab-b2db-8ce9ca1cf1ff") format("svg");
}
@font-face{
font-family:"FrutigerNeueW02-BookIt";
src:url("/dv2/2/4316f8b6-fc85-4ac6-9d49-190c9fb67509.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/4316f8b6-fc85-4ac6-9d49-190c9fb67509.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/6d93e8ed-892b-4212-8385-033ba4f9e44c.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/06e7486a-0895-4f45-9291-3a0976a0372a.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/d190049e-1d65-4771-9896-c73a9c1d25f5.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/278ba193-91e9-48ce-b9e0-d4a9ccca8d97.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#278ba193-91e9-48ce-b9e0-d4a9ccca8d97") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnMd";
src:url("/dv2/2/2f9adff9-8412-476f-a5c6-447d2e228f78.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/2f9adff9-8412-476f-a5c6-447d2e228f78.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/5263aa91-3523-4f60-8a11-e25e556a723d.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/d06ce606-83ae-4a0d-b2d3-b436b11b26a6.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/ea6036a7-6067-4255-810b-a743e7694e22.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/9e2d0c59-f3fc-452c-bb4e-3ee64a6d04c2.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#9e2d0c59-f3fc-452c-bb4e-3ee64a6d04c2") format("svg");
}
@font-face{
font-family:"Frutiger Serif LT W01";
src:url("/dv2/2/4760db97-1c17-4f02-810e-38f69d56cef9.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/4760db97-1c17-4f02-810e-38f69d56cef9.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/79a8cb0a-0750-49c2-99fa-9833804f2036.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/41b594af-29e4-4dde-9d19-3e77dab584cf.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/adfcd997-7658-479c-b8c0-8ec203a2cd2c.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/1296064a-ca84-4104-9a70-2cf37d410b1f.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#1296064a-ca84-4104-9a70-2cf37d410b1f") format("svg");
}
@font-face{
font-family:"FrutigerSerifLTW01-Medi 722278";
src:url("/dv2/2/2640f2b3-63b6-4cb3-88c9-5ff3ba363248.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/2640f2b3-63b6-4cb3-88c9-5ff3ba363248.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/3522c3c2-097e-458d-86a2-0060865cef44.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/a28baa95-21a7-4784-ad1b-2a0934cb39d8.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/0a9d35c8-364b-44f6-b1fc-6419877f47db.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/eb9d86e8-0389-4830-a31c-d59ea13aa70f.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#eb9d86e8-0389-4830-a31c-d59ea13aa70f") format("svg");
}
@font-face{
font-family:"FrutigerSerifLTW01-Medi 722281";
src:url("/dv2/2/4e3382bf-b8b5-494f-ba4a-c49b70117225.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/4e3382bf-b8b5-494f-ba4a-c49b70117225.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/19987023-b50e-468d-b1f4-6f49220b8840.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/9b397fff-bc0c-4271-b2bc-2a664eec7cc4.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/32712bf0-06f6-4204-b619-f069640105f4.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/b96a270b-26c2-487e-98f5-5beef7e873d2.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#b96a270b-26c2-487e-98f5-5beef7e873d2") format("svg");
}
@font-face{
font-family:"FrutigerSerifLTW02-Bold 724935";
src:url("/dv2/2/d452ab07-62ca-434e-8de6-61fd1a6dea9b.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/d452ab07-62ca-434e-8de6-61fd1a6dea9b.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/de9d8c75-5268-41bd-a15f-11399f3a5d82.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/9da6cc71-76f9-40bf-bdb9-c5e7e01dc8d0.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/bc987e6c-6c80-4290-9512-b7468c7ec581.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/6ea9f404-0f45-4a35-9b1a-1017a471715a.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#6ea9f404-0f45-4a35-9b1a-1017a471715a") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW02-CnBol 775088";
src:url("/dv2/2/2bb73857-fc8d-4f1a-b416-21e39642d384.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/2bb73857-fc8d-4f1a-b416-21e39642d384.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/c3d8d95d-5382-4838-b575-0bec927de1f6.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/78f21e53-0425-446a-b4c7-d04c0d205ae9.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/9319e3b3-8e6b-422e-85b9-a35076e3f8da.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/1259d29b-eb57-40e8-a0ab-bac2f6a5cf5c.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#1259d29b-eb57-40e8-a0ab-bac2f6a5cf5c") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW15-BoldI";
src:url("/dv2/2/796c58a7-7405-4f21-9583-58396729bef2.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/796c58a7-7405-4f21-9583-58396729bef2.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/7f7f572b-c9ea-4fc3-be77-f43b3b7b0980.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/8c5cecd4-0d6b-4ff5-8cde-7106d53293a4.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/d88160e1-2877-464a-b254-726aee58ab12.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/1704019f-5c77-4706-97b2-8ed5ad330690.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#1704019f-5c77-4706-97b2-8ed5ad330690") format("svg");
}
@font-face{
font-family:"Frutiger Neue W02 Thin";
src:url("/dv2/2/15304c27-8a0a-4bb1-accf-b0e024c8d2b1.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/15304c27-8a0a-4bb1-accf-b0e024c8d2b1.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/bf8a390f-7ba2-4311-bcdb-127b720a6657.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/d546ab81-5c6c-4e39-b8c5-6f2a287d882a.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/625b545d-29e9-42bc-af75-d0fe94f9c799.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/954e0b90-880e-4c38-ac69-e2a884df02a5.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#954e0b90-880e-4c38-ac69-e2a884df02a5") format("svg");
}
@font-face{
font-family:"SS Pika";
src:url("/dv2/2/c6670402-c332-48c6-8f6d-234a12199531.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix");
src:url("/dv2/2/c6670402-c332-48c6-8f6d-234a12199531.eot?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#iefix") format("eot"),url("/dv2/14/71493b26-0629-4181-ab36-a883d21a9f20.woff2?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff2"),url("/dv2/3/d1d36735-064c-45c5-a0d1-5181fcf94213.woff?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("woff"),url("/dv2/1/433b0813-edde-4414-b247-1622f3dd990c.ttf?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75") format("truetype"),url("/dv2/11/4b612e4e-a23d-4375-8d1d-ab0fe1ca564a.svg?d44f19a684109620e484147fa790e81859e92aaaea3d337f84586d5df8888fe5455f55e0f83ed0be044ddfaa95e824a4b1318d5b552aaa24a44025e9&projectId=7492f661-79f4-4ab2-90f2-6a9eaf984a75#4b612e4e-a23d-4375-8d1d-ab0fe1ca564a") format("svg");
}
