body{	background:#fff;	color:#000;}
body *{ margin: 0; padding: 0; font-family:verdana, "Comic Sans MS",Helvetica,sans-serif;}
a img,:link img,:visited img { border: none; }
a	{ text-decoration:none; color:#aa0000; }
a:hover { text-decoration: none; }
body, td{  margin: 0;  padding: 0;  font-size: small;}
b{ font-weight:bold; }
textarea{ font-size:small; }

.tCenter	{ text-align:center; }
.logo	{ background:#000; color:#ffffff; padding:2px; text-align:center; }
.logo	a { color:#fff; font-weight:bold; }
.search	{ background: #960000; 
background: -moz-linear-gradient(top, #c60000 0%, #960000 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c60000), color-stop(100%,#960000)); 
background: -webkit-linear-gradient(top, #c60000 0%, #960000 100%); 
border:1px dashed #fff; padding:2px; color: #fff; font-weight:bold; text-align:center; }

hr{background-color:#D2D2D2; border:medium none; height:1px; margin:2px 0; padding:0;}
h1, h2, h3{ background:#eee; color:#222; border:1px solid #ddd; font-size:120%; padding:2px; margin:0; text-align:center;}
h2 a{ color:#ffffff; }
h3{ text-align:left; }

.clr { clear:both; }
.absmiddle	{ vertical-align:middle; border:none; border-radius:10px; }
.ct	{ margin-right:3px; vertical-align:middle; padding:1px; border:1px solid #999; }
.odd, .even, .sl	{ vertical-align:middle; }
.odd { background:#f5f5fa; }
.even { background:#fff; }
.description { background:#f5f5f5; color:#222; padding:2px; text-align:center; }
.description a { text-decoration:underline; }
.filedescription { background:#f5f5f5; padding: 5px 0; text-align: center; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.fl { }
.fl td{ padding:7px 2px; border-bottom:1px solid #ccc; }
.fl a{ vertical-align:middle; }
.fl img{ border:1px solid #bbb; padding:1px; }
.fl div{ display:table-cell; }
.tblimg	{ width:65px; text-align:center; }

.catRow div{ display:table-cell; }
.catRow div img { padding-right:5px; }

.link1{ color:#0E71C6; }
.button { color:#086C8F; font-weight:bold; }
.red { color:red;}
.info	{ color:red; background:#fff; text-align:center; padding:2px; }
p{ padding:2px 0; }
table	{ width:100%; margin:auto;}
.devider	{ height:5px;}
.dtype	{ border-bottom:1px solid #ccc; font-size:small; padding:5px; text-align:center; }
.dtype span{ border:1px solid #d50; padding:3px; border-radius:5px; background:#d50; color:#f5f5f5; }
.dtype a { border:1px solid #ccc; padding:3px; border-radius:5px; background:#f5f5f5; }
.fileName	{ font-weight:bold; }
.fileName	span{ color:#555; text-decoration:none;}
.fileName	img{ padding-right:3px;}
.downLink	{ margin:5px 0; }
.dwnLink	{ font-weight:bold; }
.pgn	{ text-align:center; padding-top:10px; background:#eee; }
.pgn a,.pgn span	{ border:1px solid #ccc; padding:2px 5px; margin:0 2px; background:#ddd; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-decoration:none; font-weight:bold; }
.pgn a:hover, .pgn span	{ background:#ddd; border-color:#ddd; }
.pgn div { padding-top:5px; }

img	{ vertical-align:middle; }
.showimage	{ padding:5px; text-align:center;}
a.top {color:#FF7F00; text-decoration:none; }
.updates div	{ border-bottom:1px solid #ddd; padding:4px; }

.catRow,.catRowHome	{ border-top:1px solid #ddd; font-weight:bold; }
.catRow:hover,.catRowHome:hover	{ background:#f5f5f5; }
.catRow a,
.catRowHome a { display:block; font-weight:bold; background:url(../images/arrow.png) right center no-repeat; padding:9px; }
.catRow a div span,
.catRowHome  a div span,{ font-size:x-small; color:#5a5; font-weight:normal; }

.fl { border-bottom:1px solid #ddd; background:#fff;}
.fl:hover	{background:#f5f5f5;}
.fl span{ font-weight:normal; }
.fl span.ar { color: #d2691e; font-style:italic;}
.fl a{ display:block; padding:8px; }
.fl a img{ border: 1px solid #ddd; border-radius: 3px; padding:0;margin-right:5px;}

.fl a div div{ vertical-align:middle; display:table-cell; }
.fl a div{ }

.path { border-bottom:1px dashed #bbb; font-weight:bold; background:#ddd; border-top:1px solid #ccc; padding:3px; }
.error{ background:#FFEFEF; border:1px solid #f00; margin:5px; padding:5px; font-weight:bold; text-align:center; color:#f00; }

.fshow { padding:3px; text-align:center; background:#fff; border-bottom:1px solid #ddd;}
.thumbimg{ vertical-align:middle; border:none; border-radius:10px; }
.db{ font-size:small; text-align:center; padding:5px;}

.top21	{ background:#960000; 
background: -moz-linear-gradient(top, #c60000 0%, #960000 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c60000), color-stop(100%,#960000)); 
background: -webkit-linear-gradient(top, #c60000 0%, #960000 100%); 
color:#fff; font-weight:bold; padding:2px;}
.top21 a	{ color:#fff; font-weight:bold; }

.ad1	{ background:#960000; 
background: -moz-linear-gradient(top, #c60000 0%, #960000 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c60000), color-stop(100%,#960000)); 
background: -webkit-linear-gradient(top, #c60000 0%, #960000 100%); 
color:#fff; font-weight:bold; padding:2px;}
.ad1 a	{ color:#fff; font-weight:bold; }

.fhd{ background:#F4F4F4; color:#555; border-bottom: 1px solid #ccc; border-radius:5px; font-weight:bold; margin:7px 0 0 0; padding:0 5px; display:inline-block; }
.fb { font-weight:bold; }
.f1 {padding:3px; font-weight:bold; text-align:center; background:#960000;
background: -moz-linear-gradient(top, #c60000 0%, #960000 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c60000), color-stop(100%,#960000)); 
background: -webkit-linear-gradient(top, #c60000 0%, #960000 100%); }
.f1 a { color:#fff; }

#online{ text-align:center;}
