@charset "utf-8";
.reportTable td{
	padding:10px;
}

.reportTable li{
	margin-bottom:5px;
}

.responseContent{
	line-height:2em;
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: 60px;
	/* Fallback for non-webkit */
	margin: 0 auto;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.commonArticle div{ line-height:2em;}