
@font-face {
    font-family: 'bolalob2-ico';
    src:    url('../assets/fonts/bolalob2-ico/bolalob2-ico.eot?jcui2e');
    src:    url('../assets/fonts/bolalob2-ico/bolalob2-ico.eot?jcui2e#iefix') format('embedded-opentype'),
        url('../assets/fonts/bolalob2-ico/bolalob2-ico.ttf?jcui2e') format('truetype'),
        url('../assets/fonts/bolalob2-ico/bolalob2-ico.woff?jcui2e') format('woff'),
        url('../assets/fonts/bolalob2-ico/bolalob2-ico.svg?jcui2e#bolalob2-ico') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-bl2"], [class*=" icon-bl2"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bolalob2-ico' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bl2pencil:before {
  content: "\e91a";
}

.icon-bl2to_top:before {
    content: "\e919";
}
.icon-bl2sex:before {
    content: "\e900";
}
.icon-bl2fullname:before {
    content: "\e90a";
}
.icon-bl2birthday:before {
    content: "\e901";
}
.icon-bl2camera:before {
    content: "\e902";
}
.icon-bl2comment:before {
    content: "\e903";
}
.icon-bl2datepicker:before {
    content: "\e904";
}
.icon-bl2dribble:before {
    content: "\e905";
}
.icon-bl2email:before {
    content: "\e906";
}
.icon-bl2fav_brand:before {
    content: "\e907";
}
.icon-bl2fav_futsalteam:before {
    content: "\e908";
}
.icon-bl2fav_team:before {
    content: "\e909";
}
.icon-bl2fb:before {
    content: "\e90b";
}
.icon-bl2Goal:before {
    content: "\e90c";
}
.icon-bl2hobby_icon:before {
    content: "\e90d";
}
.icon-bl2location:before {
    content: "\e90e";
}
.icon-bl2number:before {
    content: "\e90f";
}
.icon-bl2phisic:before {
    content: "\e910";
}
.icon-bl2position:before {
    content: "\e911";
}
.icon-bl2sex_female:before {
    content: "\e912";
}
.icon-bl2sex_male:before {
    content: "\e913";
}
.icon-bl2share:before {
    content: "\e914";
}
.icon-bl2shoes:before {
    content: "\e915";
}
.icon-bl2speed:before {
    content: "\e916";
}
.icon-bl2twitter:before {
    content: "\e917";
}
.icon-bl2view:before {
    content: "\e918";
}