@font-face {
	font-family: 'bolalob-ico';
	src:url('../assets/fonts/bolalob-ico/bolalob-ico.eot?-n2wfgh');
	src:url('../assets/fonts/bolalob-ico/bolalob-ico.eot?-n2wfgh#iefix') format('embedded-opentype'),
		url('../assets/fonts/bolalob-ico/bolalob-ico.ttf?-n2wfgh') format('truetype'),
		url('../assets/fonts/bolalob-ico/bolalob-ico.woff?-n2wfgh') format('woff'),
		url('../assets/fonts/bolalob-ico/bolalob-ico.svg?-n2wfgh#bolalob-ico') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="bolalob-icon-"], [class*=" bolalob-icon-"] {
	font-family: 'bolalob-ico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bolalob-icon-whatsapp:before {
	content: "\e606";
}
.bolalob-icon-plus:before {
	content: "\e600";
}
.bolalob-icon-left-arrow:before {
	content: "\e601";
}
.bolalob-icon-menu:before {
	content: "\e602";
}
.bolalob-icon-right-arrow:before {
	content: "\e603";
}
.bolalob-icon-search:before {
	content: "\e604";
}
.bolalob-icon-remove:before {
	content: "\e605";
}

