#loading-spin:before,
#loading-spin:after,
#loading-spin {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load3 1.8s infinite ease-in-out;
  animation: load3 1.8s infinite ease-in-out;
}
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  font-size: 4px;
  margin: auto;
  margin-top: 40%;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #cccccc;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #cccccc;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #cccccc;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #cccccc;
  }
}

@-webkit-keyframes load3 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #d81b35;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #d81b35;
  }
}
@keyframes load3 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #d81b35;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #d81b35;
  }
}