@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(font-ico.css);
@import url(animate.css);
body,
html {
    margin: 0;
    padding: 0;
    height: 100%
}

title {
    text-transform: capitalize;
}

body {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #252525;
    -webkit-font-smoothing: antialiased;
    background-color: #e6e6e6;
}

a {
    color: #252525;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #d81b35;
    text-decoration: none;
    outline: 0
}

a.other-link {
    color: #d81b35
}

a.other-link a:focus,
a.other-link:hover {
    color: #252525
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0
}

input[disabled=disabled] {
    cursor: not-allowed;
}

.video-container {
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    max-width: 100%;
}

h1,
h2,
h3,
h3 {
    margin: 0;
}

hr {
    height: 1px;
    color: #ebebeb;
    background-color: #ebebeb;
    border: none;
}

table {
    width: 100%;
    border-spacing: 0;
}

td {
    background-color: #ebebeb;
    border-bottom: 1px solid #cccccc;
}

tr {
    padding: 0 15px;
}

th,
td {
    text-align: left;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 11px;
}

tr:last-child td {
    border: none;
}

thead {
    color: #fff;
}


/*Begin Layout*/

.hideScroll {
    overflow: hidden;
}

#container {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    margin-top: 155px;
}

#header {
    background-color: #fff;
    height: 45px;
    width: 100%;
    position: fixed;
    top: 110px;
    -webkit-backface-visibility: hidden;
    z-index: 50;
    -moz-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#header .inner {
    margin-top: 2px;
}

.header-search {
    padding-bottom: 40px;
}

#header .search {
    margin-top: 15px;
    opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.header-search .search {
    opacity: 1 !important;
}

#header .search .pull-left {
    margin-left: 18px;
    padding-top: 2px;
    color: #003471;
}

#header .search input {
    color: #252525;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    padding: 5px 0;
    margin: 0 10px;
    border: none;
    font-size: 16px;
}

#header .search .bl-icon {
    position: relative;
    top: 3px;
}

#header .search input:focus {
    outline: none;
}

#logo a {
    display: inline-block;
}

#logo img {
    position: relative;
    top: 2px;
    height: 26px;
}

#breadcrumb .centering-layout {
    background: none;
}

#breadcrumb ul {
    position: relative;
    padding: 8px 18px;
    right: 0;
    left: 0;
    transition: left .3s ease;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -ms-transition: left .3s ease;
    -o-transition: left .3s ease;
}

#breadcrumb ul li {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
}

#breadcrumb ul li a {
    color: #fff;
}

#breadcrumb ul li .bl-icon {
    font-size: 8px;
    padding: 4px;
    position: relative;
    bottom: 1px;
    z-index: 1;
}

#sidebar {
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    top: 0;
    left: -250px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

#sidebar nav {
    padding-bottom: 20px;
    border-top: 1px solid #001e5a;
    position: relative;
    top: -150px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.sbisloggedin nav {
    top: 0 !important;
}

#sidebar .move-down {
    top: 0;
}

#sidebar nav ul {
    list-style: none;
    padding: 25px 0 25px;
}

#sidebar nav li {
    position: relative;
    padding-bottom: 30px;
}

#sidebar nav li .bl-icon {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    padding: 15px 25px;
    position: absolute;
    right: -5px;
    top: -15px;
    float: right;
    cursor: pointer;
    font-size: 1em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate90 {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#sidebar a {
    padding: 0 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

#sidebar a:hover,
#sidebar .active {
    font-weight: 700;
    /*color: #FFC313;*/
}

#sidebar nav .sub-menu {
    background-color: #002a5a;
    margin-top: 12px;
    display: none;
}

#sidebar nav .opened {
    display: block
}

#sidebar nav .sub-menu li {
    padding-bottom: 25px;
}

#sidebar nav .sub-menu li.last {
    padding-bottom: 0;
}

#sidebar nav .sub-menu li a {
    font-size: 12px;
    padding-left: 35px;
    display: block;
    line-height: 17px;
}

#container {
    width: 100%;
    margin-top: 155px;
}

#container.display-left #sidebar {
    left: 0;
}

.hideScroll #sidebar {
    left: 0;
}

.hideScroll .wrapper-sidebar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: block;
    z-index: 1001;
    position: fixed;
    top: 0;
    cursor: pointer;
}

.hideScroll #sidebar {
    cursor: default;
}

.display-left #content,
.display-left #breadcrumb ul {
    left: 0;
}

#content {
    position: relative;
    right: 0;
    left: 0;
    transition: left .3s ease;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -ms-transition: left .3s ease;
    -o-transition: left .3s ease;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

#content-img .text-8 {
    padding-left: 15px;
}

#content-body {
    padding: 15px 15px 0 15px;
    line-height: 26px;
    font-size: 16px;
}

#footer {
    color: #fff;
    padding: 20px 0;
}

#footer .logo img {
    margin-right: 10px;
}

#footer ul {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#footer ul li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 8px;
}

#footer a {
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 11px;
}

#footer .copyright {
    font-size: 9px;
    letter-spacing: .5px;
}

#footer .find-us {
    padding-top: 0;
}

#footer .find-us li a {
    webkit-transition: 150ms;
    -moz-transition: 150ms;
    transition: 150ms;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: #003471;
    display: block;
    font-size: 18px;
    height: 36px;
    line-height: 34px;
    width: 35px;
    text-align: center;
    will-change: background-color;
}

#footer .find-us li a.i-fb:hover {
    color: #3b5998
}

#footer .find-us li a.i-twitter:hover {
    color: #00aced
}
#footer .find-us li a.i-ytube:hover{
    color: #b31217;
}
#footer .find-us li a.i-ig span{
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/bolalobfutsal/web-static/img/footer-ig-hover.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 18.5px;
    height: 18px;
    display: inline-block;
    top: 33%;
    padding: 0;
}
#footer .find-us li a:hover,
#footer .find-us li a:focus {
    background-color: #fff;
    color: #003471;
}

#footer .find-us li a.i-ig:hover span{
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/bolalobfutsal/web-static/img/footer-ig.png');    
}

#footer .find-us span {
    position: relative;
    top: 1px;
    margin: 0 auto;
    text-align: center;
}

#loadmore a {
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.centering-layout {
    background-color: #fff;
    max-width: 768px;
    margin: 0 auto;
}

.page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 25px;
}

.list-title {
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .5px;
    text-transform: capitalize;
    display: block;
}

.paging-list {
    text-align: center;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 30px;
}

.paging-list li {
    font-size: 14px;
    display: inline-block;
    background-color: #ebebeb;
    padding: 6px 10px;
    margin-right: -4px;
}

.paging-list li .color-secondary {
    font-weight: 700;
}

.paging-list li:first-child {
    padding-left: 20px;
    border-radius: 15px 0 0 15px;
}

.paging-list li:last-child {
    padding-right: 20px;
    border-radius: 0 15px 15px 0;
}

.paging-list li .bl-icon {
    font-size: 13px;
    position: relative;
    top: 1px;
}


/*.content-slider {
    list-style: none;
    position: relative;
    overflow: hidden;
}

.content-slider > li {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
}*/

#headline .title {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: auto;
    z-index: 5;
}

#headline .card {
    margin-bottom: 0 !important;
}


/*#headline .swiper-slide .content:after {
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}*/

#headline img {
    display: block;
}

#headline .title h1 {
    color: #fff;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .5px;
    text-transform: capitalize;
    display: block;
    line-height: 22px;
    padding: 5px 12px;
}

#headline .swiper-slide a {
    display: block;
}

#headline .swiper-container,
#gallery .swiper-container {
    position: relative;
}

#headline .swiper-container .control,
#gallery .swiper-container .control,
.gallery .real-picture .control {
    display: block;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 1.3em;
    width: 60px;
    height: 100%;
    top: 0;
    z-index: 10005;
    position: absolute;
}

#headline .swiper-container .control:hover,
#gallery .swiper-container .control:hover,
.gallery .real-picture .control:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#headline .swiper-container .touch-control:hover,
#gallery .swiper-container .touch-control:hover,
.gallery .real-picture .touch-control:hover {
    background-color: transparent;
}

#headline .swiper-container .touch-control:focus,
#gallery .swiper-container .touch-control:focus,
.gallery .real-picture .touch-control:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

#headline .swiper-container .control-left,
.gallery .real-picture .control-left {
    left: 0;
}

#headline .swiper-container .control-left:after,
.gallery .real-picture .control-left:after {
    background-image: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    background-image: -moz-linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    bottom: -1px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#headline .swiper-container .control-right,
.gallery .real-picture .control-right {
    right: 0;
}

#headline .swiper-container .control-right:after,
.gallery .real-picture .control-right:after {
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    bottom: -1px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#gallery .swiper-container .control-left {
    left: -45px;
}

#gallery .swiper-container .control-left:after {
    background-image: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    background-image: -moz-linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    bottom: -1px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#gallery .swiper-container .control-right {
    right: -45px;
}

#gallery .swiper-container .control-right:after {
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 100%);
    bottom: -1px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#featured .content {
    position: relative;
}

#headline .swiper-container .control-left {
    left: 0;
}

#headline .swiper-container .control-right {
    right: 0;
}

#gallery .swiper-container .control-left {
    left: -8%;
}

#gallery .swiper-container .control-right {
    right: -8%;
}

#spec-channel .inner {
    /*padding-bottom: 10px;*/
}

#spec-channel li {
    list-style: none;
    width: 32.4%;
    display: inline-block;
    padding-right: 10px;
    margin-right: -4px;
    position: relative;
}

#spec-channel li a {
    display: block;
}

#spec-channel li:last-child {
    padding-right: 0;
}

#spec-channel li i {
    position: absolute;
    height: 38px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 38px;
    background-image: url("../assets/images/special_canal_icon.png");
}

#spec-channel img {
    vertical-align: top;
    display: inline-block;
}

#featured .content {
    position: relative;
}


/*#featured .content:after {
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    bottom: -1px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}*/

#featured a {
    display: block;
}

#featured img {
    vertical-align: top;
}

#featured .date-title h1 {
    padding: 5px 15px;
    font-size: 16px;
}

#featured .date-title {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: auto;
    z-index: 5;
    color: #fff;
}

.dot-slider {
    padding-top: 13px;
    text-align: center;
}

#circle {
    width: 10px;
    height: 10px;
    margin: 0 1px;
    background: #aaaaaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.dot-slider .active {
    background-color: #d81b35 !important;
}

.list-body {
    margin-top: 8px;
    margin-bottom: 8px;
}

.article-header {
    color: #fff;
    padding: 8px 18px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
}

#featured {}

.tabbing-header .title {
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.tabbing-header hr {
    visibility: hidden;
}

.tabbing-header .active hr {
    /*background-color: #d81b35;*/
    visibility: visible;
    height: 4px;
    background-color: #d81b35;
    margin: 0 auto;
    width: 60px;
    position: relative;
    top: -5px;
}

.tabbing-header h3 {
    text-transform: uppercase;
    color: #898989;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 0 8px 0;
}

.tabbing-header .active h3 {
    color: #003471;
}


/*End Layout*/

.navbar-toggle,
.navbar-toggle:focus,
.navbar-toggle:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 26px;
    margin: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease
}

.navbar-toggle .bl-icon {
    color: #003471;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    outline: none;
}

.btn-menu .bl-icon {
    left: 10px;
}

.btn-search .bl-icon {
    right: 8px;
}

.effect-ico .f-out {
    opacity: 0;
    transition: opacity .2s ease;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease
}

.material-icons {
    color: #aaaaaa;
    font-size: 12pt !important;
    position: relative;
    top: 4px;
}

.iperson {
    font-size: 13pt !important;
}

.ibold {
    font-weight: 700;
    font-size: 11pt !important;
}

.author-date {
    padding-bottom: 6px;
}

.author-date div {
    display: inline-block;
    margin-bottom: 2px;
}

.author {
    padding-right: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.datetime {
    padding-right: 20px;
}


/* #content-body p, */

#content-body ul {
    line-height: 26px;
    font-size: 16px;
}

#content-body ul {
    margin-left: 50px;
}

#content-body a {
    color: #d81b35;
    border-bottom: 1px solid;
}

#content-body a:hover {
    border: none;
    color: inherit;
}

#tag {
    padding: 15px 15px 0 15px;
}

#tag .label {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 9pt;
    margin-bottom: 12px;
}

#tag .item {
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 12px;
}

#share-socmed {
    margin: 15px;
}

#share-socmed li {
    list-style: none;
    float: left;
    width: 25%;
    padding-top: 8px;
    height: 25px;
    cursor: pointer;
}

#share-socmed li:first-child {
    border-radius: 3px 0 0 3px;
}

#share-socmed li:last-child {
    border-radius: 0 3px 3px 0;
}

#share-socmed li i {
    font-size: 14pt;
    color: #fff;
}

#share-socmed li .bl-icon {
    font-size: 18pt;
    position: relative;
    bottom: 3px;
}

#share-socmed .label {
    background-color: #ebebeb;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 9pt;
}

#share-socmed .label span {
    position: relative;
    top: 2px;
}

#share-socmed .fb {
    background-color: #3b5998
}

#share-socmed .tweet {
    background-color: #55acee
}

#share-socmed .wa {
    background-color: #0fae09
}

#content-bottom {
    padding: 10px;
}

#content .card {
    position: relative;
    margin-bottom: 10px;
}

#content .card a:after {
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%);
    bottom: -1px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#content .card .text-upper {
    font-weight: 700;
    padding: 3px 4px 1px 8px;
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
}

#content .wrapper-card .last {
    margin-bottom: 0;
}

#content .card img {
    vertical-align: top;
}

#content .card .date-title {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: auto;
    z-index: 5;
    color: #fff;
}

#content .card .date {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    width: 20%;
    margin-right: 12px;
    height: 100%;
    letter-spacing: .5px;
}

#content .card .date .wrap {
    width: 48px;
    /*margin: 0 auto;*/
    padding: 0 12px;
}

#content .card h1 {
    padding: 5px 15px;
    color: #fff;
    margin-top: 4px;
}

.gallery {
    padding-bottom: 1px;
}

.gallery hr {
    margin-left: 10px;
    margin-right: 10px;
}

.gallery .author-date {
    padding-bottom: 0;
}

.gallery .gallery-body {
    /*background-color: #ebebeb;*/
}

.gallery .gallery-body .title {
    min-height: 1.4em;
    padding: 10px 10px 6px;
    font-size: 1em;
    font-weight: normal;
}

.gallery-control .paging-list {
    padding: 0 0 10px 0;
}

.gallery-control .paging-list li {
    cursor: pointer;
    background: none;
}

.gallery .thumb-picture {
    height: 20%;
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: 15px;
}

#content-body .gallery-body .swiper-pagination {
    position: relative;
    top: 0;
    padding: 15px 0;
}

#content-body .gallery-body .total-slides {
    position: absolute;
    right: 0;
    bottom: 15px;
}

.gallery .thumb-picture .swiper-wrapper {
    left: 0;
}

.gallery .thumb-picture .swiper-slide {
    opacity: 1;
}

.gallery .thumb-picture {
    overflow: hidden;
}

.gallery .thumb-picture .swiper-container {
    overflow: visible !important;
    width: 33%;
}

.gallery #share-socmed {
    margin: 25px 15px;
}

.gallery .thumb-picture .swiper-slide-active {
    border: 3px solid #d81b35;
    overflow: hidden;
}

.gallery .thumb-picture .swiper-slide-active img {
    margin: -3px 0;
    overflow: hidden;
}

.gallery-list .square {
    display: block;
    width: 48%;
    padding-bottom: 27%;
    margin-right: 4%;
    margin-bottom: 4%;
    float: left;
    position: relative;
}

.gallery-list .square:nth-child(2n+2) {
    margin-right: 0;
}

.gallery-list img {
    display: block;
}

.gallery-list a {
    position: relative;
    display: block;
}

.gallery-list .iplay {
    border-bottom: none;
    z-index: 100;
    text-align: center;
}

.gallery-list .iplay i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 4em !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
    border-radius:50%;
}

.cardlist .img,
.article-list .img {
    position: relative;
}

.cardlist .iplay,
.article-list .iplay,
.gallery .real-picture .iplay {
    border-bottom: none;
    text-align: center;
    cursor: pointer;
}

.cardlist .iplay i,
.article-list .iplay i,
.gallery .real-picture .iplay i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 6em !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
    border-radius:50%;
}

.article-list .pull-left {
    width: 30%;
}

.article-list .pull-right {
    width: 67%;
    margin-top: 0;
}

.article-list .content {
    padding: 10px 0;
    /*border-bottom: 1px solid #ebebeb;*/
}

.article-list .first {
    padding-top: 0;
    padding-bottom: 20px;
}

.article-list .first .list-title {
    font-size: 18px;
    line-height: 20px;
}

.article-list .top-1 .img {
    margin-bottom: 8px;
}

.home-page #content {
    padding-bottom: 20px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    /* Center slide text vertically */
    opacity: 0.4;
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}

.swiper-slide-active {
    opacity: 1;
}

#headline .swiper-container-horizontal>.swiper-pagination-progress {
    bottom: 0 !important;
    top: inherit;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #d81b35 !important;
}

.home-page #gallery .swiper-pagination span {
    opacity: 1;
    width: 10px !important;
    height: 10px !important;
    margin: 0 3px !important;
    background: #ebebeb !important;
}

.home-page #gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #aaaaaa !important;
}


/*General Style*/

.vlign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.text-7 {
    font-size: 7pt;
}

.text-8 {
    font-size: 8pt;
}

.text-9 {
    font-size: 9pt;
}

.text-10 {
    font-size: 10pt;
}

.text-12 {
    font-size: 12pt;
}

.text-14 {
    font-size: 14pt;
}

.text-16 {
    font-size: 16pt;
}

.text-18 {
    font-size: 18pt;
}

.text-bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase !important;
}

.bg-primary {
    background-color: #003471;
}

.color-primary {
    color: #003471;
}

.sponsored {
    background-color: #ffc113;
    color: #333333;
}

.bg-secondary {
    background-color: #d81b35;
}

.color-secondary {
    color: #d81b35;
}

.color-graybold{
    color: #999999;
}

.bg-gray {
    background-color: #ebebeb;
}

.block {
    display: block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.overflow-hidden {
    overflow: hidden;
}

.circle {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    cursor: pointer;
}

.m-top-md {
    margin-top: 20px !important;
}

.m-top-lg {
    margin-top: 40px !important;
}

.m-bottom-md {
    margin-bottom: 20px !important;
}

.m-bottom-lg {
    margin-bottom: 40px !important;
}

.padding-xs {
    padding: 5px !important
}

.padding-sm {
    padding: 15px 10px !important
}

.padding-md {
    padding: 20px !important
}

.padding-lg {
    padding: 40px !important
}

.margin-xs {
    margin: 5px !important
}

.margin-sm {
    margin: 15px 10px !important
}

.margin-md {
    margin: 20px !important
}

.margin-lg {
    margin: 40px !important
}

.clearfix {
    clear: both;
}

.collapse {
    display: none;
}

.visibly {
    visibility: hidden;
}

#loading-spin {
    text-align: center;
    margin: 10px auto 25px;
    font-size: 8px;
    position: relative;
    top: -10px;
}

.readmore a {
    display: block;
    color: #d81b35;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 15px;
}

.block-header {
    /*background-color: #d81b35;*/
    margin-bottom: 12px;
}

.block-header .title {
    text-align: center;
    color: #003471;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
}

.block-header hr {
    height: 4px;
    background-color: #d81b35;
    margin: 5px auto;
    width: 60px;
    position: relative;
    top: -3px;
}

#gallery .block-body {
    overflow: hidden;
}

#gallery .swiper-container {
    overflow: visible !important;
    width: 88%;
    padding-bottom: 25px;
}

#gallery .swiper-slide {
    /* Center slide text vertically */
    opacity: 0.4;
}

#gallery .swiper-slide-active {
    opacity: 1;
}

#gallery .swiper-pagination {
    bottom: 0;
}

#medsos {}

#medsos .swiper-wrapper {
    position: relative;
}

#medsos .swiper-slide {
    position: relative;
    display: block;
}


/* Smartphone view: 1 tile */

#medsos .square {
    float: left;
    position: relative;
    width: 49%;
    padding-bottom: 49%;
    margin-right: 1.6%;
    margin-bottom: 1.6%;
}

.squarein {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #ebebeb;
}

.squarein img {
    width: 100%;
}

#medsos .item .ig {
    margin: 0;
}

#medsos .item label {
    font-weight: 700;
    font-size: 13px;
    color: #000;
    display: none;
}

#medsos .item p {
    color: #000;
    font-size: 14px;
    margin: 0;
    line-height: 18px;
    height: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

#medsos .paging-list {
    padding-bottom: 0;
}

#medsos .paging-list li {
    padding: 0 40px;
    background: none !important;
}

#medsos .paging-list li .bl-icon {
    font-size: 16px;
    cursor: pointer;
}

#comment .readmore a {
    padding: 5px 0;
}

.triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #125688;
    border-right: 50px solid transparent;
}

.triangle i {
    font-size: 17px;
    color: #fff;
    position: absolute;
    left: 8px;
    top: -44px;
}

.block-schedule .block-header {
    /*margin-bottom: 0;*/
}

.block-schedule .block-body {
    background-color: #ebebeb;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Condensed', sans-serif;
}

.block-schedule .date {
    padding-top: 2px;
    padding-bottom: 15px;
}

.block-schedule .match div {
    width: 40%;
}

.block-schedule .match .separate {
    width: 18%;
    color: #aaa;
    font-weight: 700;
    font-size: 25px;
    margin-top: -6px;
}

.block-schedule .score div {
    font-size: 25px;
}

.block-schedule .score .color-secondary {
    font-weight: 700;
}

.block-schedule p {
    padding: 50px 0;
    text-align: center;
    font-weight: 700;
    margin: 0;
    text-transform: capitalize;
}

.standings {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.standings::-webkit - scrollbar {
    width: 8 px;
    height: 18 px
}

.standings::-webkit - scrollbar - thumb {
    height: 6 px;
    border - top: 5 px solid transparent;
    border - bottom: 5 px solid transparent;
    border - right: 5 px solid transparent;
    border - left: 0;
    background - color: #ccc;
    background - clip: padding - box;
    - webkit - box - shadow: inset - 1 px - 1 px 0 transparent, inset 1 px 1 px 0 transparent
}

.standings::-webkit - scrollbar - button {
    width: 0;
    height: 0;
    display: none
}

.standings::-webkit - scrollbar - corner {
    background - color: transparent
}

.standings .block-header {
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
    background-color: #003471;
}

.standings .block-header .title {
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 8px 0 8px 12px;
}

.standings .block-header .bl-icon {
    position: absolute;
    /* padding: 15px; */
    right: 12px;
    bottom: 5px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.standings .block-body {
    height: 0;
    overflow: hidden;
    -moz-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
}

.standings .active {
    height: 345px;
}

.standings table {
    table-layout: fixed;
    width: 100%;
}

.standings thead {
    background-color: #a1a1a1;
}

.standings tbody {
    height: 315px;
    overflow: auto;
    display: block;
}

.standings td:nth-child(2) {
    font-weight: 700;
}

.match-list .group-date {
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 10px;
    padding-top: 5px;
}

.match-list .block-schedule {
    margin-bottom: 10px;
}

.article-header .keyword {
    text-transform: none;
    font-weight: 400;
    letter-spacing: normal;
}

.article-header .competition {
    text-transform: uppercase;
    letter-spacing: inherit;
}

#breadcrumb .trimtext {
    letter-spacing: normal;
    text-transform: none;
}

label {
    font-family: 'Robot Condensed', sans-serif;
    font-weight: 700;
}

#terkait {
    margin-bottom: 0 !important;
    padding-bottom: 20px;
}


/*.lax {
    background-image: url("../assets/images/bg-sub.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 640px;
}
.lax .content{
    height: 768px;
}
.lax .content h2{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}
*/

#subscribe {
    background-color: none;
    overflow: hidden;
    position: relative;
}

.lax::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../assets/images/bg-sub.jpg") no-repeat center center;
    background-color: #fff;
    background-size: cover;
    will-change: transform;
    z-index: -1;
    box-sizing: border-box;
}

.lax .content {
    padding-bottom: 150%;
    width: 100%;
}

.lax::after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}

.detail-content .centering-layout {
    background: none !important;
}

.detail-content #content .content-detail {
    background-color: #fff;
    padding-bottom: 10px;
}

.detail-content .content-bottom {
    background-color: #fff;
}


/*MEDIA CSS*/

@media ( min-width: 768px) {
    #logo {
        margin-left: 15px;
    }
    .page-title {
        font-size: 24px;
    }
    .block-title,
    .tabbing-header h3 {
        font-size: 15px !important;
    }
    .list-title {
        font-size: 18px;
        line-height: 20px;
    }
    #content .card .date {
        width: 10% !important;
    }
    #headline .title h1 {
        font-size: 26px;
        padding: 15px 30px !important;
        line-height: 30px;
    }
    #featured .date-title {
        padding: 5px;
    }
    #featured .date-title h1 {
        font-size: 18px;
        line-height: 20px;
    }
    #featured .card .text-upper {
        font-size: 14px;
    }
    #container.display-left #content,
    #container.display-left #breadcrumb ul {
        left: 0;
    }
    .gallery-list .triangle i {
        font-size: 24px !important;
        right: 10px;
        top: 22px;
    }
    #medsos .item .inner {
        margin: 0;
    }
    #medsos .item label {
        display: block;
        font-size: 15px;
        margin-bottom: 5px;
    }
    #medsos .item p {
        color: #000;
        font-size: 15px;
        margin: 0;
        line-height: normal;
    }
    #medsos .item .ig {
        margin: 0;
    }
    #medsos .item .inner .ig {
        border-top: 75px solid #125688;
    }
    #medsos .item .inner .fb {
        border-top: 75px solid #3b5998;
    }
    #medsos .item .triangle i {
        font-size: 24px !important;
        left: 12px;
        top: -65px;
    }
    .triangle {
        border-top: 75px solid #34bdef;
        border-right: 75px solid transparent;
    }
    #medsos .square {
        margin-right: 1.1%;
        margin-bottom: 1.1%;
        width: 32.6%;
        padding-bottom: 32.6%;
    }
    #medsos .square:nth-child(3n+3) {
        margin-right: 0;
    }
    .cardlist .iplay i,
    .gallery .real-picture .iplay i {
        font-size: 8em !important;
    }
    .gallery-list .iplay i {
        font-size: 4em !important;
    }
    #header .inner {
        display: none;
    }
    .desktop-header {
        display: block;
        height: 45px;
        max-width: 960px;
    }
    .desktop-header #logo {
        padding: 9px 0 6px;
    }
    #desktop-menu .list-menu {
        margin-right: 15px;
    }
    #desktop-menu .list-menu li {
        float: left;
        list-style: none;
    }
    #desktop-menu .list-menu li a {
        padding: 14px 14px;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 2px;
        color: #003471;
        font-weight: 700;
        display: block;
    }
    #desktop-menu .list-menu li:hover>a {
        color: #fff;
        background-color: #003471;
    }
    #desktop-menu .list-menu li:hover hr {
        display: none;
    }
    #desktop-menu .list-menu li hr {
        background-color: #d81b35;
        margin-top: -12px;
        height: 3px;
        width: 40px;
    }
    #desktop-menu .list-menu .has-sub {
        position: relative;
    }
    #desktop-menu .list-menu .has-sub ul {
        background-color: #003471;
        position: absolute;
        top: 45px;
        padding: 10px 18px;
        display: none;
    }
    #desktop-menu .list-menu .has-sub i {
        float: none;
        font-size: 0.8em;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        bottom: 38%;
        right: 8px;
        letter-spacing: normal;
    }
    #desktop-menu .list-menu .has-sub:hover .sub-nav {
        display: block;
    }
    #desktop-menu .list-menu .sub-nav li {
        float: none;
        border: none;
    }
    #desktop-menu .list-menu .sub-nav a {
        color: #fff;
        padding: 8px 0;
        font-weight: normal;
        width: 150px;
        font-size: 0.9em;
        line-height: 17px;
    }
    #desktop-menu .competition .sub-nav a {
        width: 250px;
    }
    #desktop-menu .sub-nav li:hover a {
        border: none;
        font-weight: 700;
    }
    #desktop-menu .btn-search {
        top: 10px;
    }
    .dd-login {
        float: left;
        margin: 8px 15px 0 0;
    }
    .dd-login > li {
        list-style: none;
        height: 32px;
        position: relative;
    }
    .dd-login .btn-login {
        border: 1px solid #003471;
        border-radius: 4px;
        color: #003471;
        text-transform: capitalize;
        padding: 4px 22px;
        cursor: pointer;
        display: inline-block;
    }
    .dd-login .btn-login:hover,
    .dd-login .btn-login-active {
        background-color: #003471;
        border: 1px solid #003471;
        color: #fff;
    }
    .isloggedin .btn-login {
        border: none;
        text-transform: none;
        height: 40px;
        padding: 0;
    }
    .isloggedin .btn-login i {
        display: block;
        width: 28px;
        padding-bottom: 28px;
        background: url('../assets/images/default-pic.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        float: left;
        margin-right: 8px;
    }
    .isloggedin .btn-login span {
        display: inline-block;
        color: #4d4d4d;
        margin-top: 5px;
    }
    .isloggedin .btn-login:hover span,
    .isloggedin .btn-login-active span {
        color: #aaa;
    }
    .isloggedin .btn-login:hover,
    .isloggedin .btn-login-active {
        background: none;
        border: none;
    }
    .dd-login #login-form {
        top: 37px;
        position: absolute;
        width: 250px;
        height: auto;
        right: -16px;
        background-color: #003471;
    }
    .isloggedin #login-form {
        min-width: 110px;
        width: auto;
        height: auto;
        text-align: right;
    }
    .isloggedin .profile {
        display: none;
    }
    .isloggedin #login-form .user-menu a {
        color: #fff;
        display: block;
        padding-bottom: 10px;
        text-align: right;
    }
    .isloggedin #login-form .user-menu a:last-child {
        padding-bottom: 0;
    }
    .dd-login #login-form:after,
    .dd-login #login-form:before {
        bottom: 100%;
        right: 32px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .dd-login #login-form:after {
        border-bottom-color: #003471;
        border-width: 8px;
        margin-left: 0px;
    }
    .dd-login #login-form .link {
        display: none;
    }
    .dd-login #login-form form {
        color: #fff;
    }
}

@media ( max-width: 599px) {
    #kincirbar .centering-layout .logo label {
        display: none !important;
    }
    #kincirbar .centering-layout .logo li:first-child {
        padding-left: 0 !important;
    }
    #kincirbar .centering-layout .pull-right i {
        bottom: 2px !important;
    }
}

@media ( max-width: 767px) {
    #medsos .square:nth-child(2n+2) {
        margin-right: 0;
    }
    .article-list .iplay i {
        font-size: 3.3em !important;
    }
}

@media (max-width: 640px) {
    #spec-channel li {
        margin-right: 0;
    }
    #spec-channel .top {
        width: 100%;
        margin-bottom: 2%;
        padding: 0;
    }
    #spec-channel .bottom {
        width: 49%;
        padding-right: 2%;
        float: left;
    }
    #spec-channel .bottom-right img {
        float: right;
    }
}

@media (max-width: 320px) {
    .lax::before {
        transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        -ms-transform: scale(1.5);
        /* IE 9 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
        /* IE8 */
        filter: progid: DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
        /* IE6 and 7 */
    }
    .article-list .pull-right {
        margin-top: 0;
    }
    .article-list .list-title {
        font-size: 13px;
        line-height: 15px;
    }
    .article-list .first {
        padding-bottom: 13px;
    }
    .article-list .first .list-title {
        font-size: 15px;
        line-height: 18px;
    }
    #headline .title h1 {
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 0;
    }
    #content .card h1 {
        padding-bottom: 0;
    }
}

.static {
    min-height: 450px;
}

.contact h1 {
    margin: 0;
    margin-bottom: 20px;
}

.contact label {
    text-align: left;
}

.contact ul {
    margin: 0 !important;
    padding: 0;
}

.contact textarea {
    min-height: 10em;
    resize: none;
}

.parsley-error {
    border-color: #d02d2d !important;
    color: #d02d2d
}

label.parsley-error {
    border-color: inherit !important;
    color: inherit
}

.parsley-errors-list {
    list-style: none
}

.parsley-errors-list li {
    color: #d02d2d;
    font-size: 0.9em;
}

.sbnotLoggedin .parsley-errors-list li,
.dd-login .parsley-errors-list li {
    text-shadow: 1px 1px 1px #333;
}

.page-regional .centering-layout {
    box-shadow: none !important;
}

.page-regional .static {
    padding: 0;
    text-align: center;
    background-color: #e6e6e6;
    min-height: 400px;
}

.input-field {
    margin-bottom: 15px;
}

.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password] {
    border: 2px solid #cccccc;
    border-radius: 4px;
    color: #333333;
    width: 100%;
    padding: 6px 8px 8px;
    outline: none;
    font-size: 13px;
    box-sizing: border-box;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    color: #333333;
    border: 2px solid #0050b6;
    background-color: #fff;
}

.input-field input::-webkit-input-placeholder {
    font-style: italic;
}

.input-field input:-moz-placeholder {
    font-style: italic;
    color: #b2b2b2;
}

.input-field input::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: #b2b2b2;
}

.input-field input:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    color: #b2b2b2;
}

.input-field input::-ms-input-placeholder {
    /* Edge */
    font-style: italic;
    color: #b2b2b2;
}

.input-field input:placeholder-shown {
    /* Standard one last! */
    font-style: italic;
    color: #b2b2b2;
}

.input-field input.error {
    border: 2px solid red;
    background-color: #fdd8e1;
}

.input-field input.error:focus {
    border: 2px solid red;
    background-color: #fdd8e1;
}

.input-field select {
    border: 2px solid #cccccc;
    border-radius: 4px;
    color: #333333;
    width: 100%;
    padding: 6px 8px 8px;
    outline: none;
    font-size: 13px;
    box-sizing: border-box;
}

.input-field .not_chosen {
    font-style: italic;
    color: #b2b2b2;
}

.input-field select:focus {
    border: 2px solid #0050b6;
}

.input-field select:focus option {
    font-style: normal;
    color: #333333;
    background-color: #fff;
}

.input-field select option:first-child {
    display: none;
}

.btn-bolalob {
    border-radius: 4px;
    font-size: 15px;
    background-color: #47c873;
    border: 1px solid #47c873;
    color: #fff;
    padding: 6px 0 8px;
    width: 100%;
    outline: none;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
}

.btn-bolalob:hover,
.btn-bolalob:focus {
    background-color: #30914a;
    border: 1px solid #30914a;
    color: #fff;
}

.fb-bg {
    background-color: #395897;
    border: 1px solid #395897;
}

.fb-bg:hover,
.fb-bg:focus {
    background-color: #395897;
    border: 1px solid #395897;
}

.form-bolalob .alert {
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
}

.form-bolalob .msg-error li {
    list-style: none;
    text-align: right;
    color: #FF3552;
    font-style: italic;
    font-size: 13px;
}

.login .move-down {
    top: 0;
}

#login-form {
    position: relative;
    top: -160px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.sbisloggedin #login-form {
    top: 0;
    height: auto;
}

#login-form .link {
    padding-top: 15px;
    padding-left: 15px;
}

.sbisloggedin #login-form .link {
    display: none;
}

#login-form .link a {
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: capitalize !important;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 13px;
}

#login-form .link .bl-icon {
    position: relative;
    top: 1px;
    padding-right: 7px;
}

#login-form .wrap-form {
    padding: 15px;
}

#login-form .wrap-form p {
    margin-bottom: 0;
}

#login-form .btn-blb {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    letter-spacing: normal;
    font-size: 15px;
    padding: 6px 0 8px;
    width: 80%;
    outline: none;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: capitalize !important;
}

#login-form .icon {
    background-color: #395897;
    display: block;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    width: 16.5%;
    border-radius: 4px;
}

#login-form .btn-blb:hover {
    color: #003471;
    background-color: #fff;
}

#login-form .input-field,
#login-form form .info-field {
    margin-bottom: 10px;
}

#login-form form .info {
    margin-bottom: 40px;
}

#login-form form p {
    margin: 8px 6px;
}

#login-form input[type=checkbox] {
    position: relative;
    top: 2px;
    margin: 0;
    margin-right: 4px;
}

#login-form input[type=email],
#login-form input[type=password] {
    background-color: #001e5a;
    font-size: 13px;
    color: #fff;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 6px 8px 8px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

#login-form input[type=email]:focus,
#login-form input[type=password]:focus {
    color: #333333;
    border: 1px solid#fff;
    background-color: #fff;
}

#login-form::-webkit-input-placeholder {
    /* Safari, Chrome and Opera */
    font-style: italic;
    color: #808080;
}

#login-form:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: #808080;
}

#login-form::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: #808080;
}

#login-form:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    color: #808080;
}

#login-form::-ms-input-placeholder {
    /* Edge */
    font-style: italic;
    color: #808080;
}

#login-form:placeholder-shown {
    /* Standard one last! */
    font-style: italic;
    color: #808080;
}

#login-form form a {
    color: #fff;
    text-decoration: underline;
    letter-spacing: normal;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: capitalize !important;
    padding: 0;
    font-size: 13px;
    font-weight: 700;
}

.sbisloggedin #login-form .user-menu a {
    text-transform: capitalize !important;
    letter-spacing: 1px;
    padding-left: 0;
    padding-bottom: 20px;
    font-size: 16px;
    display: block;
}

.sbisloggedin #login-form .user-menu a:last-child {
    padding-bottom: 0;
}

.sbisloggedin .profile {
    clear: both;
    padding-bottom: 10px;
}

.sbisloggedin .profile i {
    display: block;
    width: 50px;
    padding-bottom: 50px;
    background: url('../assets/images/default-pic.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}

.sbisloggedin .profile span {
    display: inline-block;
    color: #fff;
    margin: 20px 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 550px;
    margin-left: -275px;
    height: 350px;
    margin-top: -175px;
    background: #FFF;
    z-index: 100;
}

.overlay-email {
    width: 350px;
    margin-left: -175px;
    height: 250px;
    margin-top: -125px;
}

.overlay-email .margin-lg {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.overlay-email .block-title {
    margin-top: 0;
}

.overlay-email .input-field span {
    font-size: 12px;
    line-height: normal;
    display: block;
    font-style: italic;
    margin-top: 15px;
}

.overlay-email #submit {
    width: 48%;
    display: inline-block !important;
    margin: 0 !important;
    background-color: #003471;
    border: 1px solid #003471;
    color: #fff;
}

.overlay-email #cancel,
.overlay-email #submit[disabled=disabled] {
    width: 48%;
    display: inline-block !important;
    margin: 0 !important;
    background-color: #ddd;
    border: 1px solid #ddd;
    color: #252525;
}

#popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.overlayinner {
    position: relative;
}

.overlay .fa-times {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #b2b2b2;
    font-size: 1.8em;
    cursor: pointer;
}

.overlay .img {
    background-image: url('../assets/images/img_popup_survey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    width: 50%;
    height: 100%;
}

.overlay .img-comment {
    background-image: url('../assets/images/img_komen.jpg');
}

.overlay .login {
    float: right;
    width: 50%;
}

.overlay #login-form {
    top: 30px;
}

.overlay #login-form .wrap-form {
    padding-top: 0;
}

.overlay #login-form .link {
    display: none;
}

.overlay #login-form .parsley-errors-list li {
    text-shadow: none;
}

.overlay #login-form .state-popup {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10px;
}

.overlay #login-form input[type=email],
.overlay #login-form input[type=password] {
    background-color: #fff;
    font-size: 13px;
    color: #333333;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    padding: 6px 8px 8px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

.overlay #login-form input[type=email]:focus,
.overlay #login-form input[type=password]:focus {
    color: #333333;
    border: 1px solid #b2b2b2;
    background-color: #fff;
}

.overlay #login-form a {
    color: #003471;
}

.overlay #login-form button {
    background-color: #47c873;
}

.overlay #login-form button:hover {
    background-color: #30914a;
    color: #fff;
}

.overlay #login-form .icon {
    color: #fff;
}

.form-page #content {
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-page .max-form {
    max-width: 480px;
    margin: 0 auto;
}

.form-page .preword p {
    margin: 0;
    margin-bottom: 30px;
}

.form-page .preword .btn-bolalob {
    margin-bottom: 25px;
}

.form-page .form-bolalob .action-field {
    margin-top: 34px
}

.register-page .form-bolalob,
.login-page .form-bolalob {
    border-top: 2px solid #E5E5E5;
    padding-top: 25px;
}

.login-page #sidebar nav {
    top: 0;
}

.reminder {
    position: relative;
    background-image: url('../assets/images/background_left.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    background-color: #F2F2F2;
}

.reminder .inner {
    text-align: right;
    padding: 15px 20px;
}

.reminder .inner .link {
    margin-bottom: 20px;
    font-size: 11px;
}

.reminder h2 {
    color: #003471;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 2px;
}

.reminder .btn-bolalob {
    max-width: 130px;
    display: block;
    float: right;
}

#kincirbar {
    background-color: #4d4d4d;
    height: 35px;
    width: 100%;
    position: fixed;
    top: 75px;
    z-index: 51;
}

#kincirbar .centering-layout {
    background: inherit;
    color: #aaaaaa;
    max-width: 960px;
}

#kincirbar .logo {
    margin-left: 15px;
}

#kincirbar .centering-layout .open-bar {
    color: #aaaaaa;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    right: 25px;
}

#kincirbar .centering-layout .opened {
    color: #fff;
}

#kincirbar .centering-layout .logo label {
    font-size: 0.7em;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: .5px;
    display: block;
    padding-top: 3px;
    display: block;
    float: left;
    padding-right: 6px;
}

#kincirbar .centering-layout .logo ul {
    float: left;
}

#kincirbar .centering-layout .logo li {
    display: inline;
    padding-left: 6px;
}

#kincirbar .centering-layout .logo li span {
    font-size: 1.4em;
    color: #aaaaaa;
}

#kincirbar .centering-layout .logo li:hover span {
    color: #ffffff;
}

#kincirbar .centering-layout .pull-right {
    position: relative;
}

#kincirbar .centering-layout .pull-right a {
    letter-spacing: 0.7px;
}

#kincirbar .centering-layout .pull-right a:hover {
    color: #fff;
}

#kincirbar .centering-layout .pull-right i {
    font-size: 0.8em;
    position: absolute;
    bottom: 1px;
    right: -8px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#kincirbar .bar-dd {
    background-color: #333333;
    position: absolute;
    top: 25px;
    z-index: 51;
    width: auto;
    right: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

#kincirbar .bar-dd li {
    border-bottom: 1px solid #aaaaaa;
    list-style: none;
    width: 160px;
}

#kincirbar .bar-dd li:last-child {
    border: none;
}

#kincirbar .bar-dd a {
    text-align: center;
    display: block;
    color: #333333;
    opacity: 0.6;
}

#kincirbar .bar-dd a:hover {
    opacity: 1;
}

#gdpContent .img a {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    height: 0;
    padding-bottom: 56.5%;
}

.competition-header .inner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}

.competition-header .pfl {
    background-image: url("../assets/images/web_banner_FSL.jpg");
}

.competition-header .pocari {
    background-image: url("../assets/images/web_banner_pocari_rev2.png");
}

.competition-header .carlsberg {
    background-image: url("../assets/images/web_banner_carlsberg.jpg");
}

.competition-header .carlsberg-euro {
    background-image: url("../assets/images/web_banner_carlsberg_quiz.png");
}

.competition-header .euro {
    background-image: url("../assets/images/banner_web.jpg");
}

.competition-header .timnas {
    background-image: url("../assets/images/web_banner_timnas_futsal_indonesia.jpg");
}

.quiz h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.quiz .question {
    margin-bottom: 20px;
}

.quiz .question:last-child {
    margin-bottom: 0;
}

.quiz .question .title,
.quiz .question .answer-wrap {
    margin: 0 8%;
}

.quiz .question .img-question {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}

.quiz .choices {
    position: relative;
}

.quiz .center-choice {
    left: 25%;
}

.quiz .choices .answer {
    float: left;
    position: relative;
    margin-right: 1.6%;
    margin-bottom: 1.6%;
    width: 23.8%;
    padding-bottom: 35%;
}

.quiz .choices .answer:nth-child(4n+4) {
    margin-right: 0;
}

.quiz .choices .answerin {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.quiz .choices .answerin a {
    display: block;
    text-align: center;
    border-bottom: none !important;
    color: inherit !important;
    line-height: 18px;
}

.quiz .choices .img {
    position: relative;
}

.quiz .choices .img img {
    border-radius: 50%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.quiz .choices .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.quiz #enabled-answer .choices .mask {
    cursor: pointer;
    border-radius: 50%;
    bottom: 7px;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(51, 190, 126, 0.6);
}

.quiz #disabled-answer .choices .mask {
    cursor: default;
    border-radius: 0;
    bottom: -35%;
    overflow: hidden;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
}

.quiz #enabled-answer .choices .answerin:hover .mask,
.quiz .choices .active .mask {
    bottom: 7px !important;
    border-radius: 50% !important;
    background-color: rgba(51, 190, 126, 0.6) !important;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}

.quiz .essay .answer {
    border-bottom: 2px dashed #ebebeb;
    position: relative;
}

.quiz .essay i {
    position: absolute;
    top: 8px;
    color: #ebebeb;
}

.quiz .essay .input-field {
    margin-bottom: 0;
    width: 80%;
    padding-bottom: 3px;
}

.quiz .essay .input-field input {
    border: none;
    width: 100%;
    margin-left: 20px;
}

.quiz .essay .answer button {
    position: absolute;
    background-color: #003471;
    border: none;
    right: 0;
    top: 0;
    padding: 6px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

.quiz .btn-bolalob {
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.quiz .btn-bolalob:disabled {
    background-color: #ddd;
    border-color: #ddd;
    cursor: not-allowed;
}

.quiz .result {
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
}

.quiz .result img {
    vertical-align: top;
}

#jfy {
    position: relative;
}

#jfy .block-header {
    cursor: pointer;
}

#jfy .greeting {
    width: 100%;
}

#jfy .greeting .wrapper {
    background-color: #ffc113;
    min-height: 40px;
}

#jfy .greeting .pull-left {
    padding: 4px 10px;
    font-size: 14px;
}

#jfy .greeting .pull-right {
    background-color: #000;
    height: 40px;
    padding: 4px 10px;
}

#jfy .wrapper label {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4d4d4d;
}

#jfy .greeting .readmore a {
    color: #ffc113;
    margin-top: 0;
}

#jfy .greeting .readmore .bl-icon {
    font-size: 9px;
}

#jfy-greeting {
    background-color: #ffc114;
}

#jfy-greeting .centering-layout {
    background: inherit;
}

#jfy-greeting .wrapper {
    padding: 13px 15px;
    line-height: 14px;
}

#jfy-greeting .wrapper label {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4d4d4d;
}

#jfy-greeting .wrapper .text {
    font-size: 1.1em;
    line-height: 15px;
}

#verification {
    background-color: #ffc114;
}

#verification .centering-layout {
    background: inherit;
}

#verification .wrapper {
    padding: 10px;
}

#verification .text {
    line-height: 14px;
}

#verification strong {
    cursor: pointer;
}

.jfylist-page #verification .wrapper {
    padding-bottom: 0 !important;
}

.verification-success {
    background-color: #47c873 !important;
    position: absolute;
    height: 33px;
    top: 0;
    z-index: 10;
    width: 100%;
}

.verification-success .text {
    color: #fff;
}

#suggest_downloadapp {
    background-color: #ebebeb;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 51;
}

#suggest_downloadapp .centering-layout {
    background-color: inherit;
    max-width: 960px;
}

#suggest_downloadapp .pull-left {
    width: 70%;
}

#suggest_downloadapp .pull-left ul {
    margin-left: 30px;
    position: relative;
}

#suggest_downloadapp .pull-left li {
    list-style: none;
    float: left;
    display: inline-flex;
}

#suggest_downloadapp .pull-left p {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

#suggest_downloadapp .pull-left img {
    height: 60px;
    position: relative;
    top: 50%;
}

#suggest_downloadapp .pull-left i {
    position: absolute;
    top: 20px;
    left: -25px;
    width: 20px;
    padding-bottom: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    cursor: pointer;
}

#suggest_downloadapp .pull-right .btn-bolalob {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    margin-right: 10px;
    width: inherit;
    margin-top: 14px;
}

#gotop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #999;
}

#gotop:hover {
    border: 1px solid #999;
    background-color: rgba(255, 255, 255, 1);
}

#sidebar nav li:first-child {
    padding-bottom: 20px;
}

#search-block {
    margin: 15px;
    position: relative;
}

#search-block input {
    color: #252525;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 6px 10px 6px 25px;
    border: none;
    font-size: 13px;
    box-sizing: border-box;
    border-radius: 4px;
}

#search-block .bl-icon {
    color: #003471;
    padding: 0 !important;
    top: 6px !important;
    left: 6px !important;
    font-size: 1.5em !important;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 12px;
}

#search-block input:focus {
    outline: none;
}

#mobile-register {
    width: auto;
    margin: 0 10px 0 0;
    padding: 3px 10px;
    text-transform: uppercase;
    background-color: #ffc113;
    border: 1px solid #ffc113;
    color: inherit;
    font-weight: 700;
    margin-top: -1px;
}

#mobile-profile {
    margin-right: 12px;
    margin-top: -2px;
}

#mobile-profile i {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    background-size: contain;
    border-radius: 50%;
}

.dfp-ads {
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

.dfp-ads img {
    vertical-align: top;
}

.channel-bottom-ads {
    padding-top: 0;
}

#homeTopAds {
    padding: 0;
    margin-bottom: 10px;
}

#homeBottomAds {
    padding: 0;
}

#channelTopAds {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: -5px;
}

#detailBottomAds {
    padding-bottom: 0;
}

@media ( max-width: 320px) {
    #suggest_downloadapp .pull-left i {
        top: 10px;
    }
    #suggest_downloadapp .pull-left img {
        height: 45.5px;
        margin-top: 0px;
    }
    #suggest_downloadapp .pull-left p {
        margin-top: 0px;
    }
    #suggest_downloadapp .pull-right .btn-bolalob {
        margin-top: 5px;
    }
    #mobile-register {
        font-size: 12px;
        padding: 4px 8px;
    }
}

@media (min-width: 600px) {
    .quiz .btn-bolalob {
        max-width: 480px;
    }
}

@media ( max-width: 599px) {
    .reminder {
        background-image: none;
        text-align: center;
    }
    .reminder .inner {
        text-align: center;
    }
    .reminder .inner .link {
        text-align: right;
    }
    .reminder .btn-bolalob {
        margin: 20px auto 0;
        float: none;
    }
}

@media (max-width: 480px) {
    .quiz .question .title .quiz .question .answer-wrap,
    {
        margin: 0 3%;
    }
    .quiz .result {
        margin-left: 3%;
        margin-right: 3%;
    }
    .quiz .choices .answer {
        width: 49%;
        padding-bottom: 60%;
        margin-bottom: 3%;
    }
    .quiz .center-choice {
        left: 0;
    }
    .quiz .choices .answer:nth-child(2n+2) {
        margin-right: 0;
    }
    .quiz .choices .answerin a {
        font-size: 0.9em;
    }
    .overlay .img {
        display: none;
    }
    .overlay .login {
        width: 100%;
    }
    #jfy .readmore .more {
        display: none;
    }
    #jfy .greeting .readmore .bl-icon {
        font-size: 1.3em;
        position: relative;
        top: 2px;
        padding-left: 3px;
    }
}

@media ( max-width: 640px) {
    .competition-header .inner {
        max-height: 200px;
        min-height: 100px;
    }
    .competition-header .pfl {
        background-image: url("../assets/images/m_banner_FSL.jpg");
    }
    .competition-header .pocari {
        background-image: url("../assets/images/mweb_banner_pocari_rev2.png");
    }
    .competition-header .carlsberg {
        background-image: url("../assets/images/m_banner_carlsberg.jpg");
    }
    .competition-header .carlsberg-euro {
        background-image: url("../assets/images/m_banner_carlsberg_quiz.png");
    }
    .competition-header .euro {
        background-image: url("../assets/images/banner_mobileweb.jpg");
    }
    .competition-header .timnas {
        background-image: url("../assets/images/m_banner_timnas_futsal_indonesia.jpg");
    }
    #headline .swiper-container .control,
    #gallery .swiper-container .control,
    .gallery .real-picture .control {
        width: 42px;
        font-size: 0.9em;
    }
    .overlay {
        position: fixed;
        top: 50%;
        left: 0;
        width: 90%;
        margin-left: 5%;
        height: 350px;
        margin-top: -175px;
        background: #FFF;
        z-index: 100;
    }
}

@media ( max-width: 768px) {
    #gotop {
        bottom: 15px;
        right: 15px;
        z-index: 20;
    }
}
