html, body {
  background: #fff;
}

h1, h2 {
    font-size: 1.55rem;
    color: #2c3e50;
}

a, a:focus {
    color: #bd2717;
}

a:hover {
    color: #e74c3c;
    text-decoration: underline;
}

.callout {
	background-color: #fff;
	margin-top: 1.25rem;
    color: #2c3e50;
}

.callout p, .callout h1, .callout h2, .callout h3, .callout h4, .callout h5, .callout li {
	color: #2c3e50;
}

.callout h1, .callout h2, .callout h3 {
    font-size: 1.35rem;
}

.email-footer {
    color: #2c3e50;
    margin: 0.5rem 0;
}

.email-footer label {
    color: #2c3e50;
}

/* site name */
.title-bar {
    background-color: #333;
}
.menu-top {
    background-color:#333;
    font-size: 0.95rem;
}

.menu-top .menu .name a .gt{
    color: #bd2717;
    vertical-align: bottom;
}

.menu-top .menu .name a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.menu-top .menu a {
    color: #ccc;
}

.menu-top .menu a:hover {
    color: #fff;
}

.menu-bottom {
    background-color:#f0f0f0;
    font-size: 1.1rem;
}

.menu-bottom .menu a {
    color: #b0120a;
}

/* search */
.search {
    background: #f9f9f9;
    padding-top: 0.75rem;
}

#search{
	display: none;
}

.search-mob {
	position: absolute;
	top: 8px;
	right: 3%;
}

.search-string {
    /*height: 3.5rem !important;*/
    /*font-size: 1.35rem !important;*/
}
.search-button {
    /*height: 3.5rem;*/
    /*font-size: 1.35rem !important;*/
}

/* page body */
.main-body {
    background: #f9f9f9;
    border-bottom: 1px #e0e0e0 solid;
}

.wback {
    background: #fff;
}

.main-body .item-row {
    margin-top: 0.75rem;
}

.main-body .ads {
    margin: 0.75rem 0;
}

.main-body .ads-game {
    padding: 1rem 0;
}

.main-body h3 {
    font-size: 1.35rem;
    color: #2c3e50;
}

.main-body .search-results {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-body .online-game {
    padding-bottom: 2rem;
}

/* card */
.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-size: 0.86rem;
    margin-bottom: 20px;
    text-align: center;
}

.card img {
    border-radius: 5px 5px 0 0;
}

.card a {
    text-decoration: none;
}

.card a:hover .title {
    text-decoration: underline;
}

.card .tag {
    border-bottom: 1px #e0e0e0 solid;
    color: #2c3e50;
    font-size: small;
}

.card .stats {
    background-color: #f5f5f5;
    border-radius: 0 0 3px 3px;
    color: #2c3e50;
    font-size: small;
    padding: 0.25rem 0;
}

/* button */
.more_button {
    margin: 0;
    padding: 0.5rem 0.6rem;
}

.game-left img {
    margin: 0.5rem 0 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.tags {
    margin: 0 0 0.75rem 0;
}

.main-body .item-row2rem {
    padding-top: 2rem;
}

/* 404 error */
.error-msg {
    padding: 12rem 0 35rem 0;
}

/* best games */
.best li {
    margin: 1.5rem 0;
}

.best .num {
    font-size: 1.35rem;
}

.best img {
    padding: 0 1rem;
}

/* ad banners */
.banner-300x250 {

}

/* footer */
.footer {
    text-align: center;
}

.footer .links {
    margin: 0.5rem 0;
}

.footer .cl {
    padding: 0.7rem 0;
    border-bottom: 1px #e0e0e0 solid;
}

.footer .cl li {
    list-style: none;
    font-size: 0.8rem;
    text-align: left;
}

.footer .cl a {
    color: #2c3e50;
}

.footer .links a {
    list-style: none;
    font-size: 0.9rem;
    color: #2c3e50;
    padding: 1rem 0.5rem 0 1rem;
}

.footer .links a:hover {
}

.columns+.columns:last-child {
    float: left;
}

.input-group {
    margin-bottom: 0;
}

@media only screen and (min-width: 320px) and (max-width: 500px)
{
    .card {
        font-size: 0.75rem;
    }
    h1, h2 {
    font-size: 1.3rem;
    }
}

/*navbar for menu*/
/* Navigation Menu - Background */
.navigation {
    /* critical sizing and position styles */
    width: 250px;
    position: absolute;
    top: 0;
    z-index: 0;
    margin-left: 0;
    /* non-critical appearance styles */
    list-style: none;
    background-color: #333;
}

.navigation a {
    /* non-critical appearance styles */
    display: block;
    padding: .5rem .7rem;
    color: #ffffff;
    font-size: 1.3rem;
}

.navigation .nested {
    list-style: none;
}

.navigation .nested a {
    font-size: 1.1rem;
    color: #ddd;
}

/* Site Wrapper - Everything that isn't navigation */
.main-body {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  position: relative;
  left: 0;
  z-index: 1;
}

.site-wrap {
	position: relative;
    width: 100%;
    left: 0;
    background: #333;
}

.site-wrap span {
	color: #fefefe;
    font-weight: 700;
    height: 50px;
    padding: 11px;
    margin-left: 40px;
    display: block;
}

.btn {
	background: none;
	border: none;
}

.search-icon{
    background-image: url(http://storage.googleapis.com/gt_img/i-mg.svg);
	background-size: 32px;
	height: 32px;
	width: 32px;
}

/* Blog */
.blog h2 {
    font-size: 1.25rem;
    color: #2c3e50;
    margin: 1.25rem 0 0.5rem 0;
    text-align: left;
}

.blog img {
    padding: 0.5rem 0 1.25rem 0;
    display: block;
    margin: 0 auto;
}

.blog_block {
    margin-top: 0;
    text-align: center;
}

.blog_block .more {
    color: #bd2717;
}

.blog_block img {

}

.blog_block a {
    text-decoration: none;
}

.blog_block .title {
    padding-bottom: 0.5rem;
}

.blog_block .title_big {
    font-size: 1.35rem;
}

.blog_block .left {
    text-align: left;
}

.blog_block a:hover .title {
    text-decoration: underline;
}

.blog_block .tag {
    text-align: left;
    color: #2c3e50;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.blog_block .post_break {
    margin: 2rem 0;
    border-top: solid 1px #e0e0e0;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 16px;
  width: 20px;
  cursor: pointer;
  background: transparent;
  /*border-top: 9px double #fefefe;
  border-bottom: 3px solid #fefefe;*/
}

label[for="nav-trigger"]:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #fefefe;
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 #fefefe,0 14px 0 #fefefe;
}

/* Make the Magic Happen */
.nav-trigger + label, .main-body, .site-wrap {
  transition: left 0.5s;
}

.nav-trigger:checked + label {
  left: 250px;
}

.nav-trigger:checked ~ .main-body , .nav-trigger:checked ~ .site-wrap {
	left: 250px;
	box-shadow:  0 0 10px hsla(0,0%,4%,.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

@media (min-width:1024px){
	.navigation {
		display: none;
	}
	.site-wrap {
		display: none;
	}
	#nav-trigger {
		display: none;
	}
}

@media (max-width:1023px){
	.menu-top {
		display: none;
	}
	.menu-bottom {
		display: none;
	}
    .blog_block .title_big {
    font-size: 0.9rem;
}
}

.fb, .fb:hover {
    background-color: #3b5998;
}