#headerImage 
{
  position: absolute;
  height: 35px;
  top: 15px;
  left: 20px;
}
#menu
{
  position: absolute;
  top: 18px;
  left: 260px;
  width: 440px;
  height: 30px;
}
#headerContact
{
  position: absolute;
  top: 45px;
  left: 908px;
  width: 87px;
}
#headerContactProfile
{
  position: absolute;
  top: 45px;
  left: 865px;
  width: 130px;
}
#headerContact a:link,
#headerContact a:visited,
#headerContact a:active,
#headerContactProfile a:link,
#headerContactProfile a:visited,
#headerContactProfile a:active
{
  color:#636B80;
  text-decoration:none;
}
#headerContact a:hover,
#headerContactProfile a:hover
{
  color:#353F53;
  text-decoration:underline;
}
#headerOrange
{
  position: absolute;
  height: 13px;
  width: 995px;
  top: 65px;
  left: 0px;
	font-size: 6pt;
  background: url(../images/orange_page_header_slice.gif);
}
#headerOrangeCorner
{
  position: absolute;
  width:7px;
  height: 13px;
  top: 0px;
  left: 988px;
	font-size: 6pt;
  background: url(../images/orange_page_header_right_end.gif);
}

#subheaderMenuLogin
{
	position:absolute;
	top: 78px;
	left: 0px;
	height:26px;
	width:135px;
	padding: 0px;
	margin: 0px;
	background: #636B80;
	border-top:1px solid #838895;
}

#subheaderMenuFriend
{
	position:absolute;
	top: 104px;
	left: 0px;
	height:26px;
	width:135px;
	padding: 0px;
	margin: 0px;
	background: #636B80;
	border-top:1px solid #838895;
}

.subheaderMenuImage
{
	position:absolute;
	top:0;
	left:0;
}

.subheaderMenuItem
{
	position:absolute;
	top:4;
	left:19;
	color: #FFFFFF;
	font-weight: bold;
	height: 26px;
	padding: 0px;
	margin: 0px;
}

.subheaderMenuItem a:link,
.subheaderMenuItem a:visited,
.subheaderMenuItem a:active
{
  color:#FFFFFF;
  background:transparent;
  text-decoration:none;
}

.subheaderMenuItem a:hover
{
  color:#FFFFFF;
  background:transparent;
  text-decoration:underline;
}

.subheaderMenu
{
	width: 135px;
	border-right:1px solid #DEE1FB;
}

#subHeaderBlock
{
  position: absolute;
  top: 78px;
  left: 135px;
  width: 540px;
  height: 52px;
	background: #353F53;
}

#subheaderImage
{
  position: absolute;
  top: 0px;
  left: 0px;
}

#subheaderLabel
{
	position: absolute;
	top: 13px;
	left: 45px;
  color:#FFFFFF;
 	font-family: Hallmarke Condensed Light, Arial, Verdana, sans-serif;
	font-size: 18pt;
}

#sidebarBlock
{
  border-right:1px solid #CECFCE;
  position: absolute;
  top: 130px;
  margin: 0;
  width: 135;
  max-width:134;
  height: 370;
  left: 0;
}

#sidebarBlockWidgets
{
  position: absolute;
  top: 240px;
	left: 5px;
  width: 120px;
	padding: 0px;
	margin: 0px;
	border: 1px solid #D8DADF;
}
#sidebarBlockWidgetsContent
{
	margin: 0px;
	padding: 5px;
}			

#sidebarBlockAdSense
{
 position: absolute;
  left: 0px;
  top: 544px;
  width: 120px;
  margin: 0;
  padding: 0;
}
#applicationBlockLonger
{
  position: absolute;
  padding:0;
  margin:0;
  top: 130px;
  left: 135px;
  width: 540px;
  max-width: 539px;
  height: 900px;
  z-index: 80;
  border-right:1px solid #CECFCE;
}
#applicationBlockLong
{
  position: absolute;
  padding:0;
  margin:0;
  top: 130px;
  left: 135px;
  width: 540px;
  max-width: 539px;
  height: 580px;
  z-index: 80;
  border-right:1px solid #CECFCE;
}
#applicationBlockLongNoHeight
{
  position: absolute;
  padding:0;
  margin:0;
  top: 130px;
  left: 135px;
  width: 540px;
  max-width: 539px;
  z-index: 80;
  border-right:1px solid #CECFCE;
}
#applicationBlock
{
  position: absolute;
  padding:0;
  margin:0;
  top: 130px;
  left: 135px;
  width: 540px;
  max-width: 539px;
  height: 240px;
  z-index: 80;
  border-right:1px solid #CECFCE;
}
#appInputBlock
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 280px;
  max-width:260px;
  height: 240px;
  max-height:230px;
  padding-right:10px;
  padding-left:10px;
  padding-top:10px;
}
#moreAppsBlock
{
  position: absolute;
  top: 0px;
  left: 280px;
  width: 260px;
  height: 240px;
}
#moreAppsPhotoBlock
{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 240px;
  height: 100px;
}
#moreAppsContentBlock
{
  position: absolute;
  left: 10px;
  top: 115px;
  width: 240px;
  height: 125px;
 	font-size: 8pt;
}
#moreAppsContentBlock ul
{
	list-style-image: url(../images/orange_arrow_icon.gif); 
	margin:0; 
	margin-left:12; 
	padding:0;
}
#moreAppsContentBlock li
{
	margin-bottom:2px;
	padding-bottom:0px;
}
#topRightBlockAdSense
{
  position: absolute;
  padding: 10px;
  top: 78px;
  left: 675px;
  width: 320px;
  max-width: 300px;
  height: 270px;
}
#topRightBlockNoAdSense
{
  position: absolute;
  padding: 10px;
  top: 78px;
  left: 675px;
  width: 320px;
  max-width: 300px;
}
#remainingSubHeaderBlock
{
  width: 320px;
  height: 52px;
	background: #E7E8EC;
}
#topRightBlockResults
{
  position: absolute;
  padding-right:10px;
  padding-left:10px;
  top: 348px;
  left: 675px;
  width: 320px;
  max-width: 300px;
  height: 22px;
}
#resultsBlock
{
  position: absolute;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0;
  top: 370px;
  left: 135px;
  width: 860px;
  max-width: 850px;
}
#footer
{
  position: absolute;
  height: 60px;
  width: 995px;
  background-color: #FFFFFF;
	visibility:hidden;
}
#footerContent
{
  position: absolute;
  top: 10px;
  left: 135px;
}
