.iplayer-login {-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.36);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.36);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.36);border-radius: 5px;width:530px; position: fixed; padding:26px; font-size: 14px; color: #3a6380; background-color: white; top: 35%; left: 50%; margin-left: -290px; margin-top: -150px; z-index: 100; display:none}
.iplayer-login .input {width:100%;  color: #517691; box-sizing: border-box;}
.iplayer-login .input:focus {background-color: #e3f5ff; border: 1px solid #39c1ef}
.iplayer-login .login-form .enter {width: 90px; background-color: #00b0ea; margin-right: 8px}
.iplayer-login .login-form .register {width: 128px; background-color: #9db6c9; box-shadow:none; -moz-box-shadow: none }

.iplayer-login .register-form .enter {width: 90px; background-color: #9db6c9; margin-right: 8px}
.iplayer-login .register-form .register {width: 128px; background-color: #00b0ea; }

.iplayer-login .social {position: relative; height: 24px}
.iplayer-login .oauth {display: inline-block; background-repeat: no-repeat; background-position: center center; width: 24px; line-height: 24px; height: 24px; border-radius: 24px; position: absolute; -moz-transform-origin: center center;
}
.iplayer-login .oauth:hover {
	transform: scale(1.17);
	-moz-transform:  scale(1.17,1.17);
}
.iplayer-login .oauth:active {
	box-shadow:  inset 0px 0px 100px 0px rgba(255, 255, 255, 0.2) !important;
}

/*.iplayer-login .fb {background-image: url(images/fb.png); margin-left: -48px; left:114px}
.iplayer-login .vk {background-image: url(images/vk.png); margin-left: -12px;left:114px}
.iplayer-login .gp {background-image: url(images/g+.png); margin-left:24px;left:114px}
.iplayer-login .mailru {background-image: url(images/mailru.gif); margin-left:-84px;left:114px; border-radius:3px}

*/

.iplayer-login .lostpass {position: absolute; top:0px; right:10px;font-size: 10px; color:#00b0ea; line-height: 38px; text-decoration: none;}
#ip-login .lostpass:hover {text-decoration: underline;}
.iplayer-login .register-form .lostpass {display: none}
.iplayer-login .pwrap {position: relative;}
.iplayer-login .close {right:0px; top:0px; position: absolute; line-height: 12px; cursor: pointer; border-radius: 3px; margin: 9px 7px; font-size: 14px; color:#9db6c9;}
.iplayer-login .close:hover {	
	transform: scale(1.2);
	-moz-transform:  scale(1.2,1.2);}
.iplayer-login .close:active {color: #3a6380} 
.iplayer-login .error {color:#d50023; background-color: #ffe6d9; padding: 3px 7px; font-size: 11px; line-height: 16px; margin-bottom: 15px}
.iplayer-login .notice {font-size: 11px; line-height: 1.5em;}
.iplayer-login .cancel {color: #00b0ea; float: left; font-size: 13px; border: none; text-align: center; padding: 10px;}
.iplayer-login .send {width: 150px; float: right; background-color: #00b0ea}
.iplayer-login .checkmail {background-color: #00b0ea; width: 100%}
.iplayer-login .sendagain {background-color: white; color: #00b0ea; width: 100%; margin-top: 3px}
.iplayer-login .loginlink {display: inline-block; line-height: 1em; color: #00b0ea; font-weight: bold; text-decoration: none; text-align: center; font-size: 12px}
.iplayer-login .loginlink:hover {color: #008ABA}
.iplayer-recover-finish {padding-bottom: 10px}

.iplayer-login .input{border-radius: 5px; border: 1px solid #d0dfe9; line-height: 1em; font-size: 12px; color: #3a6380; padding: 10px 7px; }
.iplayer-login .button { line-height: 1em; cursor: pointer; border-radius: 5px; font-weight: bold; font-size: 13px; border: none; text-align: center; padding: 10px; color: white; margin: 0px}
.iplayer-login .button:active {box-shadow:         inset 0px 0px 10px 0px rgba(50, 48, 50, 0.5) !important;}
.iplayer-login .button:hover {background-color: #008ABA !important; color: white !important}
.iplayer-login .button:focus {outline:0;}
.iplayer-login .r5{ border-radius: 5px;}
.iplayer-login .r3{ border-radius: 3px; }

.iplayer-login .center { text-align: center; }
.iplayer-login .left { text-align: left }
.iplayer-login .right {text-align: right}

.iplayer-login .clear {clear: both;}

.iplayer-login .mb5 {margin-bottom: 5px;}
.iplayer-login .mb10 {margin-bottom: 10px;}
.iplayer-login .mb15 {margin-bottom: 15px;}
.iplayer-login .mb20 {margin-bottom: 20px;}

.iplayer-login .s10 {font-size: 10px}
.iplayer-login .s12 {font-size: 12px}
.iplayer-login .s14 {font-size: 14px}
.iplayer-login .s16 {font-size: 16px}
.iplogin-left {float:left; width:232px}

.iplogin-left table td{padding-right: 20px; vertical-align:top; height:50px}

.iplogin-right {float:right; width:232px}

.blockUI {display:none;position: absolute; z-index: 1000;}
.blockUI img {margin: 102px 10px;}
.profile-info { background-color: #f2f1a1;
    border: 1px solid #e6e36c;        
    padding: 10px;
    text-align: center;
    margin: 5px 0;
}
.block-system .blue-tip {margin: 15px;}
.games-list .menu li {width: 50%}

#ipoverlay {display:none; position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); 
}

.overlay-body{
  overflow: hidden;
}

.iplayer-login .button3d {
  
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:arial;
  font-size:8px;
  font-weight:bold;
  padding:0px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  height:36px;
  width:110px;
  background-image: url('images/social.png');
  background-repeat: no-repeat
}

.button3d.fb, .button3d:hover.fb {background-position: 18px 9px; }
.button3d.mr, .button3d:hover.mr {background-position: -92px -62px; }
.button3d.yn, .button3d:hover.yn {background-position: -94px -100px; }
.button3d.gm, .button3d:hover.gm {background-position: 18px -28px; }
.button3d.ok, .button3d:hover.ok {background-position: -94px 9px; }
.button3d.li, .button3d:hover.li {background-position: 18px -136px; }
.button3d.tw, .button3d:hover.tw {background-position: 18px 9px; }
.button3d.vk, .button3d:hover.vk {background-position: -92px -27px; }
.button3d.yh, .button3d:hover.yh {background-position: 18px -100px; }

.button3d:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color:#e9e9e9;
  background-image: url('images/social.png');
  background-repeat: no-repeat;
}
.button3d:active {
  position:relative;
  top:1px;
}

