body{text-align:center;margin:0px;}
body,input,select,textarea,div,tr{
	font-size:14px;
	font-family:Arial;
}
a{color:#3E5864;}img{ border:0;}
#main{margin-left:auto;margin-right:auto;text-align:left;}
form{margin:0px;padding:0px;}
/*Main control*/
/*Begin circle table*/
.cir{border:1px solid #656565;background-color:#F9F9F9;}
.lt,.lb,.rt,.rb{display:block;position:relative;font-size:0px;margin:0px;line-height:0px;height:4px;}
.lt,.lb{width:100%;right:-1px;}
.rt,.rb{width:4px;left:-2px;}
.lt{background:url(../images/cr_tr.gif) no-repeat right top;top:-1px}
.lb{background:url(../images/cr_br.gif) no-repeat right bottom;bottom:-1px;}
.rt{background:url(../images/cr_tl.gif) no-repeat left top;}
.rb{background:url(../images/cr_bl.gif) no-repeat left bottom;}
.cirIn{padding:12px;line-height:145%;}
/*End circle table*/
/*color*/
.snote{font-weight:normal;font-size:12px;line-height:20px;padding:3px 5px;}
.note{font-weight:normal;font-size:13px;line-height:24px;padding:5px 10px;margin:5px 50px;}
.exp{background-color:#FFFFE1;border:1px solid #999900;}
.error{background-color:#FFECEC;border:1px solid #C60000;}
.errorInput{border:2px solid #C60000;}
.noteClose{float:right;position:relative;padding:3px;}
.bglb{background-color:#EBF2FF;}
.noteStar{color:#CC0000;}
.redFont{padding-left:10px;padding-right:10px;color:#C60000;}
.g13{font-size:13px;color:#008000!important;}
/*color*/
/*web*/
.grBut{padding:3px 5px 1px;}
.bot{margin-top:22px;padding-top:5px;border-top:1px solid #999;line-height:24px;text-align:center;}
.bot a{ font-size:12px;}
.botExp{margin-top:10px;margin-left:10px;line-height:140%;}
.logbut{
	padding:2px 5px 0px 5px;
	height:20px;
	background-color:#E0E1E5;
	color:#333333;
	letter-spacing:0.8em;
	border-top:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #E0E1E5;
	border-bottom:1px solid #E0E1E5;}
.logbutout{
	border:1px solid #A6A6A6;
}
.two{margin-top:20px;}
/*index*/
/*div{border:1px dotted #008000;}*/
.my,.iInt{width:1000px;}
.logo{
	padding-bottom: 18px;
	padding-top: 18px;
	height:37px;
}
.iLog{
	float:right;
	margin-right:10px;
	width:307px;
	position:relative;
	z-index:10;
	padding-top: 5px;
}
.iInt{float:left;position:absolute;}
.banner{border-bottom:2px solid #FFF;background:#C60000 url(../images/cirRt.gif) no-repeat right top;}
.banImg{padding:0px;border-right:2px solid #FFF;}
.banbot{background-color:#F3DCDA;height:18px;}
.logTop{
	margin-bottom:10px;
	margin-top: 5px;
}
.logName{font-size:16px;text-align:center;margin-top:5px;margin-bottom:10px;}
.iform{border-bottom:1px solid #ccc;margin-bottom:7px;}
.iform table td { line-height: 35px;}
.iform .china{ margin-left:62px;}
.t_r{
	line-height: 36px;
	margin: 7px 0 0 62px;
}
.t_r .china{ margin-left:20px;}
.t_l{
	text-align:left;
	line-height:24px;
	margin-top: 7px;
}
.iTit{font-weight:bold;border-bottom:1px solid #CCC;padding-bottom:5px;margin-bottom:8px;}
.inExp{
	width:592px;
	line-height:20px;
}
.inExp p{margin-top:12px;margin-bottom:0px;}
.inExp h4{font-weight:normal;color:#C60000;margin:5px 0px;font-size:13px;}
.tour{vertical-align:top;padding-top:25px;padding-left:10px;}
.tour li{list-style-type:none;list-style-position:outside;margin-top:40px;}
.tour a{color:#FFF;font-weight:bold;}
.note_ad{
	border:1px solid #EAEAEA;
	color:#333333;
	padding:5px 5px 5px 45px;
	width:750px;
	height:25px;
	line-height:25px;
	margin:0px auto 10px auto;
	background:#FFFFE1 url(../images/icon_notice_25.gif) no-repeat 10px 5px;
	text-align:left;}
.r{ float:right;}.l{ float:left;}

.tip-y{background-color:#f3dcda;border:1px solid #999; font-size:12px; line-height:24px;padding:5px 10px; text-align: center;}
