body{background:#fff;}
/*头部*/
.fs_head {min-width:900px;height:54px;margin:0 auto; padding:0 10px; position:relative;}
.fs_head .l_txt{line-height:54px;}
.fs_head .l_txt a{ color:#666;padding-left:5px;padding-right:5px; font-family:"宋体";}
.fs_head .l_txt a:hover{color:#006cd3;}
html{overflow-y:scroll;}


.fs_head .t_txt{text-align:right;line-height:54px;color:#ccc;}
.fs_head .t_txt a{padding-left:10px;padding-right:10px;font-weight:bold;color:#333;}
.fs_head .t_txt a:hover{color:#006cd3;}

.fs_head p{float:right;line-height:54px;margin-right:100px;}

.userSpan{display:inline-block;padding:0 1px 0  1px;}
.userSpan a{color:#646566 !important; background:url(../images/lojt.jpg) no-repeat scroll right center;padding-right:15px !important;margin:0 5px;}
.userSpanCont{padding-top:5px;overflow:hidden;width:75px; position:absolute; z-index:10000;zoom:1; top:35px; background:url(../images/tbg.jpg) no-repeat;right:10px;border-top:none;display:none;}
.userUl { overflow:hidden;border:1px solid #E5E5E5;border-top:none;float:left;padding-top:10px;padding-bottom:10px;}
.userUl li{width:73px;text-align:center;line-height:25px;height:25px; overflow:hidden;float:left;border-bottom:1px solid #eee;}
.userUl li a{color:#2f8ce6; text-align:center;}

.userHover{color:#f00 !important;}
.userHover a{background: url(../images/lojt2.jpg) no-repeat scroll right center;color:#2f8ce6 !important;}



.userSpan1{display:inline-block;padding:0 1px 0  1px;}
.userSpan1 a{ background:url(../images/lojt.jpg) no-repeat scroll right center;padding-right:15px !important;margin:0 5px;}
.userSpanCont1{overflow:hidden;border:1px solid #E5E5E5;padding-left:10px;width:213px;padding-top:10px;padding-bottom:10px;position:absolute; z-index:10000;zoom:1; top:35px;line-height:35px;background:#f5f5f5;left:10px;border-top:none; display:none}
.userUl2 { overflow:hidden;float:left;padding-right:10px;}
.userUl2 a{}

.userHover1{background:#f5f5f5;border:1px solid #E4E4E4;border-bottom:none;border-top:none; padding:0}
.userHover1 a{background: url(../images/lojt2.jpg) no-repeat scroll right center;}


.cpchi_show {background: none repeat scroll 0 0 #fff;border: 1px solid #e4e4e4;display: none;min-height: 170px;margin-top: 46px;padding: 5px;position: absolute;width: 640px;}
.cpchi_show p a {display: block;float: left;font-size: 12px;height: 25px;overflow: hidden;padding: 0;text-overflow: ellipsis;white-space: nowrap;width: 80px;word-break: keep-all;line-height:25px; color:#555;margin:0 5px;}
.cpchi_show span a {font-weight: bold;margin:0 5px; color:#555;}


.fs-reg-con{min-width:900px;}

/*logo*/
.y_logo{width:434px;height:75px;margin:100px auto 40px auto;}
.y_logo img{width:100%;}

/*内容搜索*/
.s_content{width:645px; margin:0 auto;}
.s_search_title{ font-size:14px; height:28px; line-height:28px;}
.s_search_title span{ padding:0px 10px; display:inline-block; height:28px;cursor: pointer; cursor: hand;}
.s_search_title span:hover{ color:#0c6dca;}
.s_search_title .on{ padding:0 10px; font-weight:bold; color:#0c6dca;}
.s_search{height:auto; padding:3px 0 0 3px; overflow:hidden; zoom:1;}
.s_simg{float:left;}
.s_search .s_sinput{float:left; height:38px; line-height:38px\9; width:512px; border:#333 0px solid; font-size:14px; color:#b3b3b3; padding:0 0 0 8px;border:1px solid #ccc;border-right:none; }

.s_sinput:focus{border-color: rgba(82, 168, 236, 0.8); outline: 0;color: #000;}
.s_sbutton{float:left;width:116px;height:38px;line-height:38px;background:#2f8ce6;border:1px solid #177be0; text-align:center; font-family:"微软雅黑";font-size:20px; color:#fff;}

.s_hotsearch{color:#999; margin:10px 0 0 5px;}
.s_hotsearch a{color:#999;}
.s_hotsearch a:hover{color:#006CD3;}

.dropdown-menu {width: 520px;}


#focus {height:25px; line-height:25px; overflow:hidden; position:relative; font-size:14px; margin-top:40px; margin-bottom:50px;}
#focus img{border:#e1ddd5 1px solid;}
#focus ul {position:absolute; width:100%;}
#focus ul li {width:100%; height:25px; float:left; overflow:hidden; position:relative; background:#fff; text-align:center;font-size:14px;}
#focus span a{color:#3385ff;}

/*图片滚动*/
.industry{width:640px;height:auto;overflow:hidden;margin:0 auto;}

#full-screen-slider { width:100%; height:155px; float:left; position:relative}
#slides { display:block; width:100%; height:155px; list-style:none; padding:0; margin:0; position:relative}
#slides p { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides p a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination p a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination { display:block; list-style:none; position:absolute; left:14%; top: 5px; z-index:990;  padding:5px 10px 5px 0; margin:0}
#pagination p { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:5px; border-radius:5px; background: #fff; opacity:0.5;filter:alpha(opacity:50);}
#pagination p.current1 { background: #ffffff;opacity:1;filter:alpha(opacity:100);}




/*登录后内容块*/
.login_con{width:908px;height:308px;margin:0 auto;border:1px solid #e9e9e9;}

.title{height:40px;background:url(../images/titbg.jpg) no-repeat;}

/*天气预报*/
.mobile04 {font-size: 12px;height: 24px;overflow: hidden;width: 100%;}
.mobile04 ul {list-style-type: none;margin: 0;padding: 0;}
.mobile04 ul li {display: inline;float: left;height: 24px;line-height: 24px;overflow: hidden;width: 100%;}
.mobile04 .f1 {background: none repeat scroll 0 0 #54a932;color: #fff;line-height: 12px;padding: 1px 2px 2px;}
.mobile9 .wtdate, .mobile9 .wtname, .mobile9 .wtwt, .mobile9 .wttemp {float: left;height: 24px;line-height: 24px;width: auto;}
.wtname {margin-right: 5px;}
.mobile9 .wtdate, .mobile9 .wtname, .mobile9 .wtwt, .mobile9 .wttemp {float: left;height: 24px;line-height: 24px;width: auto;}
.img {float: left;}
.wtwt {margin-left: 5px;}
#mobile2 .wtpath, .wtwt, .wtfx {float: left;height: 18px;line-height: 18px;overflow: hidden;text-align: center;width: 100%;}
.wttemp {margin-left: 5px;}

/*标题*/
.conTitle01{height:40px;margin-left:21px;float:left;}
.conTitle01 a{font-family:"微软雅黑";font-size:14px;margin-left:25px; color:#666;padding-top:10px;padding-bottom:9px;_padding-bottom:5px; display:inline-block;}
.conTitle01 a:hover{border-bottom:2px solid #2f8ce6; display:inline-block; color:#2f8ce6;}
.conTitle01 .current2{border-bottom:2px solid #2f8ce6; display:inline-block; color:#2f8ce6;}


.gbBtn{width:17px;height:17px;margin-top:5px;margin-right:5px;float:right;}



.product{height:220px;padding-top:23px;padding-left:50px;}
.product li{width:150px;height:220px;border-right:1px solid #f0f0f0; float:left;padding-left:24px;padding-right:24px;}
.product li .img1{width:150px;height:135px;margin-bottom:18px;}
.product li .img1 img{max-width:150px;max-height:135px;_width:150px;_height:135px;}
.product li .text1{line-height:20px;}
.product li .text1 strong{ color:#4d4949;}
.product li .text1 p{color:#999;}
.product li .text1 span{ color:#cc0000; font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
.product li .text1 em{ color:#999;}


/* 底部信息 */
.s_flinkDiv {height:24px;margin: 0 auto;text-align: center;padding-top:5px;width:455px;}

.s_footer{width:800px; right:50%; position:absolute; margin-top:40px;}
.s_footerOn{width:800px;right:50%; position:absolute; bottom:50px;}
.s_footerC{width:800px;  position:relative; left:50%;}

.s_fnav{border:#e4e4e4 1px solid; width:800px; margin:0 auto 0 auto; position:relative;}
.s_fnav ol{margin:0 15px; border-bottom:1px #efefef solid; height:31px; line-height:31px; font-size:14px; color:#555;}
.s_fnav ol span{ height:31px; display:inline-block; padding:0 15px;cursor: pointer; cursor: hand;}
.s_fnav ol span a{color:#555;}
.s_fnav ol .on{ font-weight:bold; color:#01519c; background:url(../../css/images/index/s_headL_xbg.gif) no-repeat center -23px; padding:0 13px;}
.s_fnav ol .on a{color:#01519c;}

.s_fedit{ width: 15px; height: 25px; position: absolute; right: 0; top: 4px; margin-right: 10px; cursor: pointer; background: url(../images/index_bg.png) 0 -75px; background-repeat: no-repeat; }
.fenlei{ height:80px; color:#b2b2b2; padding:10px 25px;}
.fenlei a{ color:#666; line-height:26px; display:inline-block;}

.s_fnav ul{overflow:hidden; zoom:1; padding: 10px 0 10px 25px; font-size:14px;}
.s_fnav ul li{float:left; width:96px; height:40px; line-height:40px;}
.s_fnav ul li a{color:#666; white-space:nowrap; text-overflow:ellipsis;}
.fenlei a:hover,.s_fnav ul li a:hover{color:#006CD3;}
.s_fbottom{text-align:center; color:#999;padding-bottom:20px;overflow:hidden;}
.s_fbottom p{height:24px; line-height:24px;}
.s_fbup a{color:#999;padding-left:5px;padding-right:5px;}
.s_fbup a:hover{color:#006CD3;}
.s_flink{text-align:left;float:left;height:24px;overflow:hidden;width:395px;}
.s_flink p{height:24px;line-height:24px;float:left;width:100%; overflow:hidden;margin:0;padding:0;}
.s_flink a{color:#adadad; margin-left:6px; float:left;}
.s_flink .s_flNobor{border:none;}
.s_flink a:hover{color:#006CD3;}
.bottom_img{ color:#999;}
.s_fbdown a{color:#999;}
.bottom_img img{ position:absolute; margin:-35px 0 0 -20px; display:none;}



/*搜索历史内容下拉   start*/
.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


/*搜索历史内容下拉   end*/
.hx_yBgLeft {
    background: url(http://s2.youboy.com/IMG/common/y1.png) no-repeat left center;
    height: 16px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding-left: 5px;
    position: relative;
}
.hx_yBgRight {
    background: url(http://s2.youboy.com/IMG/common/y2.png) no-repeat right center #ff2202;
    color: #fff;
    height: 16px;
    line-height: 17px;
    display: inline-block;
    padding-right: 5px;
    font-weight: normal;
}



/* #ajaxTop{height:54px;} */
.b2b_blank{color:#333 !important;}
