/*--------------------------------------------------

Layout

--------------------------------------------------*/

body, .nii_body{
    background-image: none;
	background-color: #f7f7ee;
}

.nii_container {
	background-color: #f7f7ee;
    border-left: none;
    border-right: none;
    color: #333333;
    font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3",Osaka;
    font-size: 12px;
    margin: 0 auto;
    width: 950px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

nii2 a,
nii2 a:active {
    line-height: 1.5em !important;
}

div.headercolumn_menu{
	background:#f7f7ee;	
}

a[href$='.xlsx'] {
	padding: 5px 20px 5px 0;
	background: transparent url(/userimg/icon_xls.gif) no-repeat center right;
}
a[href$='.docx'], a[href$='.rtf'] {
	padding: 5px 20px 5px 0;
	background: transparent url(/userimg/icon_doc.gif) no-repeat center right;
}


/*--------------------------------------------------

Header

--------------------------------------------------*/
.headercolumn,
.centercolumn{
	background-color: #f7f7ee;
}



/* SubNavi
---------------------------------------------- */
.nii2 .nii_head_subnav{
	float:right;	
}

.nii2 .nii_head_subnav li{
	float:left;	
	padding-left:12px;
	padding-bottom:6px;
}

.nii2 .nii_head_subnav li a{
	padding-left:10px;
	background:url(../img/nii_arrow.gif) no-repeat left center;
	text-decoration:none;
	color:#333;
    line-height: 1.5em !important;
}

.nii2 .nii_searchBox{
	float:right;
	width:260px;
}

.nii2 .nii_searchBox .searchform{
	position:relative;
}

.nii2 .nii_searchBox .keywords {  
    width: 174px;  
    height: 20px;  
    background: url(../img/nii_search_icon.gif) no-repeat;  
    border: none;  
    padding: 4px 4px 4px 24px;  
    color: #333;  
}  

.nii2 .nii_searchBox .searchBtn {  
    position: absolute;  
    top: 0;  
    left: 206px;  
} 


/*--------------------------------------------------

Global Navi

--------------------------------------------------*/
.nii2 .nii_head_gnav{
	list-style:none;
	margin:12px 0 0;
	padding:0;
	height:25px;
	border-left:1px solid #9a9a89;
}

/*.nii2 .nii_head_gnav li{
	float:left;
	width:135px;
	height:25px;
}

.nii2 .nii_head_gnav li a{
	display:block;
	width:125px;
	height:15px;
	padding:5px 5px;
	border-right:1px solid #9a9a89;
	color:#333;	
	font-weight:normal;
	text-align:center;
	text-decoration:none;
    line-height: 1.5em !important;
}*/

/*20150715 add start -------------*/

.nii2 .nii_head_gnav li{
	float:left;
	width:115px;
	height:25px;
	text-align:center;
}

.nii2 .nii_head_gnav li a{
	display:block;
	width:105px;
	height:15px;
	padding:5px 5px;
	border-right:1px solid #9a9a89;
	color:#333;	
	font-weight:normal;
	text-align:center;
	text-decoration:none;
    line-height: 1.5em !important;
}

.nii_head_gnav li.gnavGraduate{
	width:120px;
}

.nii2 .nii_head_gnav li.gnavGraduate a{
	width:110px;
}

/*20150715 add end---------------*/

.nii2 .nii_head_gnav li.gnavReserch{
	width:139px;
}

.nii2 .nii_head_gnav li.gnavReserch a{
	width:129px;
}

.nii2 .nii_head_gnav li a:hover{
	background:	#9a9a89;
	color:#fff;	
	font-weight:bold;
}


/*
.nii2 .nii_head_gnavi a.cur{
	background:	#0066bb;
	width:118px;
	color:#fff;
	border-right:none;
}*/

.nii2 .nii_gnav_CurRes .nii_head_gnav li.gnavReserch a,
.nii2 .nii_gnav_CurFac .nii_head_gnav li.gnavFaculty a,
.nii2 .nii_gnav_CurSer .nii_head_gnav li.gnavService a,
.nii2 .nii_gnav_CurNew .nii_head_gnav li.gnavNews a,
.nii2 .nii_gnav_CurEve .nii_head_gnav li.gnavEvent a,
.nii2 .nii_gnav_CurAbo .nii_head_gnav li.gnavAbout a,
.nii2 .nii_gnav_CurTop .nii_head_gnav li.gnavTop a{
	background:	#9a9a89;
	color:#fff;	
	font-weight:bold;
}

/*--------------------------------------------------

Local Navi

--------------------------------------------------*/
.nii_sideMenu{
	color:#333;
	background:url(../img/nii_localnavi_back.gif) repeat-y left top;
}

.nii_sideMenu td{
	padding-bottom:0;	
}

.nii_sideMenu a,
.nii_sideMenu a:link,
.nii_sideMenu a:visited,
.nii_sideMenu a:active,
.nii_sideMenu a:hover{
	color:#333;
	text-decoration:none;
}

.nii_sideMenu ul{
	list-style:none;
	margin:-1px 0 0 0;
	padding:0;
	background:url(../img/nii_localnavi_bottom.gif) no-repeat left bottom;
}

.nii_sideMenu li ul{
	background:none;
}

.nii_sideMenu li{ /* 既存スタイルをリセット */
	margin:0;
	padding:0;
	border-bottom:none;
}

.nii_sideMenu h2.nii_pageTitle{
	margin:0;
	padding:10px 12px;
	background:url(../img/nii_localnavi_head.gif) no-repeat left top;
}

.nii_sideMenu h2.nii_pageTitle a{
	color:#fff !important;	
	padding-left:8px;
	background:url(../img/nii_arrow_w.gif) no-repeat left center;
    line-height: 1.5em !important;
}

.nii_sideMenu h2.nii_pageTitle{
	border-bottom-style:none;
	font-size:14px;
	width:100%;
}

.nii_sideMenu li.nii_sideSub{
	border-top:1px dotted #9a9a89;
	padding:10px 12px;
}

.nii_sideMenu li.nii_sideSub a{
	padding-left:8px;
	background:url(../img/nii_arrow.gif) no-repeat left center;
    line-height: 1.5em !important;
}

.nii_sideMenu li.nii_current{
	border-top:none;
	background:url(../img/nii_localnavi_current.gif) repeat-x left top #7ea2d7    !important;
}	

.niimenugreen .nii_sideMenu li.nii_current{
	border-top:none;
	background:url(../img/nii_localnavi_current_green.gif) repeat-x left top #559c20    !important;
}	

.niimenuorange .nii_sideMenu li.nii_current{
	border-top:none;
	background:url(../img/nii_localnavi_current_orange.gif) repeat-x left top #d27834    !important;
}	

.niimenublue .nii_sideMenu li.nii_current{
	border-top:none;
	background:url(../img/nii_localnavi_current_blue.gif) repeat-x left top #129a9a    !important;
}	

.niimenupink .nii_sideMenu li.nii_current{
	border-top:none;
	background:url(../img/nii_localnavi_current_pink.gif) repeat-x left top #d56ea0    !important;
}	

.nii_sideMenu li.nii_current a{
	color:#fff !important;	
	padding-left:8px;
	background:url(../img/nii_arrow_w.gif) no-repeat left center    !important;
    line-height: 1.5em !important;
}

.nii_sideMenu li.nii_sideSub{
	border-top:1px dotted #9a9a89;
	padding:10px 12px;
}

.nii_sideMenu li.nii_in2Menu{
	padding:2px 12px 2px 16px;
}

.nii_sideMenu li.nii_in2Menu a{
	padding-left:8px;
	background:url(../img/nii_arrow.gif) no-repeat left center;
    line-height: 1.5em !important;
}

.nii_sideMenu li li ul{
	margin:5px 0;
}


/*--------------------------------------------------

Footer

--------------------------------------------------*/
.nii2 .nii_footer{
	background:#dadacf;
	margin-top:30px;
}

.nii2 .nii_foot_link{
	width:75%;
	padding:20px;
	background:url(../img/nii_footer_logo.gif) no-repeat 20px 20px


}

.nii2 .nii_foot_link table{
	margin-left:75px;
}

.nii2 .nii_foot_link ul,
.nii2 .nii_foot_labo ul{
	list-style:none;
	margin:0;
	padding:0;
}

.nii2 .nii_foot_labo ul{
	border-left:1px dotted #333;
	padding-left:10px;
}

.nii2 .nii_foot_link ul li{
	float:left;	
}

.nii2 .nii_foot_link ul li a{
	color:#333;
	text-decoration:none;
	font-size:85%;
	line-height:1.5em;
}

.nii2 .nii_location{
	color:#333;
	text-decoration:none;
	font-size:85%;
	margin-top:10px;
}

.nii2 .nii_foot_labo{
	width:25%;
	padding:20px;
}

.nii2 .nii_foot_labo ul li a{
	color:#333;
	text-decoration:none;
	padding-left:12px;
	padding-right:6px;
	font-size:85%;
	background:url(../img/nii_arrow.gif) no-repeat left center;	
	line-height:1.5em;
}

.nii2 .nii_foot_labo ul li a:active{
	line-height:1.5em;
}

.nii2 .nii_copy{
	padding:10px;
	font-size:85%;
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
	border-top:1px dotted #333;
}

/*--------------------------------------------------

Top

--------------------------------------------------*/
#nii_slides{
	width:950px;
	height:302px;
	position:relative;
	padding:6px 6px;
	background:url(../img/top/top_main_back.gif) no-repeat left top;
}

#nii_slides .slides_container{
	width:938px;
	height:290px;
	overflow:hidden;
	cursor:pointer;
}

#nii_slides .slides_container div { 
	width:938px;
	height:290px;
}

#nii_slides .slides_container div a:hover img{
		opacity:0.8;
}

#nii_slides a[href$=".pdf"] {
    background: none !important;
}

#nii_slides .prev{
	display:block;
	width:40px;
	height:40px;
	position:absolute;
	top:130px;
	left:-20px;
	z-index:100;
}

#nii_slides .next{
	display:block;
	width:40px;
	height:40px;
	position:absolute;
	top:130px;
	left:930px;
	z-index:100;
}

#nii_slides .pagination{
	display:none;	
}

.nii2 .nii_top_relationsite p{
	margin-bottom:10px;
}

.nii2 .nii_top_relationsite p strong{
	font-weight:bold;
	border-left:3px solid #333;
	padding-left:5px;
}

.nii2 .nii_top_relationsite ul{ 
	list-style:none;
	padding:0;
}

.nii2 .nii_top_relationsite li{	
	height:48px;
	margin-bottom:8px;
}
.nii2 .nii_top_relationsite li a img{ line-height:0; }


.nii2 .nii_bar_News_J{
	background:url(../img/top/top_hl_news.gif) no-repeat left top;
	widht:512px;
	height:26px;
	margin-bottom:15px;	
}

.nii2 .nii_bar_Event_J{
	background:url(../img/top/top_hl_event.gif) no-repeat left top;
	widht:512px;
	height:26px;	
	margin-bottom:15px;
}

.nii2 .nii_news td a{
	text-decoration:none;
}


/* Pickup動画 */
.nii2 .nii_top_pickupmovie,
.nii2 .nii_top_topics{
	background:url(../img/top/top_pickup_bottom.gif) no-repeat left bottom #d1dfea;
}

.nii2 .nii_top_pickupmovie p.title,
.nii2 .nii_top_topics p.title{
	width:182px;
	height:19px;
	background:url(../img/top/top_pickup_title.gif) no-repeat left top;
	color:#fff;
	margin:0;
	padding:8px 10px;
}

.nii2 .nii_top_pickupmovie p{
	margin:0;
	padding:5px 10px;
	color:#333;
}

.nii2 .nii_top_topics ul{
	list-style:none;
	margin:0;
	padding:0;	
}

.nii2 .nii_top_topics ul li{
	padding:6px 10px;
	border-bottom:1px dotted #333;
	text-indent:-15px;
	padding-left:25px;
	overflow:hidden;
}

.nii2 .nii_top_topics ul li.end{
	border-bottom:none;
}

.nii2 .nii_top_topics ul li a{
	background:url(../img/nii_arrow_l.gif) no-repeat left 4px;
	padding-left:15px;
	text-decoration:none;
	color:#333;
	line-height:1.5em;
}

.nii2 .nii_top_movie{
	padding:10px 10px 0;	
}	

.nii2 .nii_top_movieInfo{
	font-weight:bold;
	margin:0;
	padding:0;	
}

.nii2 .nii_top_movieInfo span{
	margin-right:5px;
	padding:3px;
	background:#7799cb;
	color:#fff;
	font-size:10px;
	border-radius: 2px;        /* CSS3草案 */  
    -webkit-border-radius: 2px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 2px;   /* Firefox用 */ 
}


/* Twitter */
.nii2 .twtr-hd{
	padding:15px 5px;	
}

.nii2 .twtr-timeline{
	margin:5px !important;	
}

.nii2 .twtr-ft{
	display:none;	
}



/*--------------------------------------------------

Contents 共通

--------------------------------------------------*/

.nii2 .nii_contents_frameHead{
	height:20px;
	background:url(../img/nii_content_head.gif) no-repeat left top;	
}

.nii2 .nii_contents_frame{
	padding:0 20px;
	background:url(../img/nii_content_back.gif) repeat-y left top;
	border-collapse: inline-table;
	overflow:hidden;
}

.nii2 .nii_contents_frameBottom{
	height:20px;
	background:url(../img/nii_content_bottom.gif) no-repeat left top;	
}

/* headline
---------------------------------------------- */
.nii2 h1.nii_title2nd{
	font-size:18px;
	height:18px;
	margin-bottom:10px;
	padding:20px 20px 20px 25px;
	color:#fff;
	background:url(../img/nii_pagetitle.jpg) no-repeat left top;	
}

.nii2 h1.nii_title2nd_2L{
	font-size:18px;
	/*height:18px;*/
	margin-bottom:10px;
	padding:12px 20px 12px 25px;
	line-height:1em;
	color:#fff;
	background:url(../img/nii_pagetitle.jpg) no-repeat left top;	
}

.nii2 h1.nii_title2nd_green{ /* グリーン */
	font-size:18px;
	height:18px;
	margin-bottom:10px;
	padding:20px 20px 20px 25px;
	color:#fff;
	background:url(../img/nii_pagetitle_green.jpg) no-repeat left top


}

.nii2 h1.nii_title2nd_orange{ /* オレンジ */
	font-size:18px;
	height:18px;
	margin-bottom:10px;
	padding:20px 20px 20px 25px;
	color:#fff;
	background:url(../img/nii_pagetitle_orange.jpg) no-repeat left top


}

.nii2 h1.nii_title2nd_blue{ /* ブルー */
	font-size:18px;
	height:18px;
	margin-bottom:10px;
	padding:20px 20px 20px 25px;
	color:#fff;
	background:url(../img/nii_pagetitle_blue.jpg) no-repeat left top


}

.nii2 h1.nii_title2nd_pink{ /* ピンク */
	font-size:18px;
	height:18px;
	margin-bottom:10px;
	padding:20px 20px 20px 25px;
	color:#fff;
	background:url(../img/nii_pagetitle_pink.jpg) no-repeat left top


}

.nii2 h2.nii_title_h2{	
	font-size:16px;
	color:#fff !important;
	width:672px;
	height:18px;
	margin:30px 0 24px;
	padding:8px 10px;
	background:url(../img/nii_index_hl.jpg) no-repeat left top;	
}

.nii2 h2.nii_title_h2w{	
	font-size:16px;
	color:#fff !important;
	width:672px;
	height:58px;
	line-height:1.3em;
	margin:30px 0 24px;
	padding:10px 10px;
	background:url(../img/nii_index_hlw.jpg) no-repeat left top;	
}

.nii2 h3.nii_title_h3,
.nii2 h3.nii_category{
	font-size:14px;
	width:692px !important;
	border-bottom:3px solid #c6c6bb;
	margin:20px 0 10px 0 !important;
	padding:0 0 5px 0 !important;
	color:#333 !important;	
	background:none !important;
}

.nii2 h4.nii_title_h4{	
	margin:0 0 0.5em 0;
	color:#333 !important;	
	line-height:1.5em;
}

.nii2 .nii_contents_frame p{
	margin:0 0 1em 0;	
	line-height:1.4em;
}

.nii2 .nii_contents_frame a{
	color:#7799cb;
	text-decoration:none;		
}

.nii2 .nii_contents_frame ul,
.nii2 .nii_contents_frame ol{
	margin:0 0 1em 1.5em;	
	padding:0;
}

.nii2 .nii_contents_frame ul{ list-style:disc; }
.nii2 .nii_contents_frame ol{ list-style:decimal; }

.nii2 .nii_contents_frame ul li,
.nii2 .nii_contents_frame ol li{
	margin:0 0 5px;	
	line-height: 1.5em;
}

.nii2 .nii_contents_frame p.list{
	line-height:1.5em;
}


.nii2 .nii_contents_frame .nii_tbl{
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
}

.nii2 .nii_contents_frame .nii_tbl th,
.nii2 .nii_contents_frame .nii_tbl td{
	padding:8px;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
}

.nii2 .nii_contents_frame .nii_tbl th{
	font-weight:bold;
	color:#fff;
	background:#7799cb;
}

.nii2 .nii_contents_frame .nii_tbl td.nii_tdtitle{
	font-weight:bold;
	color:#333;
	background:#d3ddea;
}

.nii2 .nii_contents_frame .nii_imgL{
	display:block;
	float:left;
	margin:0 2em 2em 0;
}


.nii2 .nii_contents_frame .nii_imgR{
	display:block;
	float:right;
	margin:0 0 2em 2em;
}


/* pakuzu
---------------------------------------------- */
.nii_pankuzu{
	margin:0 0 10px 0 !important;
}

.nii_pankuzu a{ line-height:1.5em; }


/* Category Index
---------------------------------------------- */

.nii2 .nii_contents_frame h1{
	margin:15px 0 35px;	
}

.nii2 .nii_contents_frame p.catch{
	font-size:150%;
	font-weight:bold;
	margin:0 0 15px;
	color:#333;
}

/*.nii2 .nii_contents_frame h3{
	color:#fff;
	width:672px;
	height:18px;
	margin:30px 0 8px;
	padding:8px 10px;
	background:url(../img/nii_index_hl.jpg) no-repeat left top;	
}*/

.nii2 .nii_contents_frame h3 a,
.nii2 .nii_contents_frame h3 a:active{
	color:#fff;
	line-height:1.2em !important;
}

.nii2 .nii_contents_frame p.leadcopy{
	margin:0 0 15px;
	line-height:1.5em;
	color:#333;
}


/* コンテンツが左右にならぶ場合 */
.nii2 .nii_index_frame_d{
	width:692px;
	margin:0 0 8px 0;
}

.nii2 .nii_index_frame_d .nii_idxfrm_top{
	width:692px;
	height:18px;
	background:url(../img/nii_idxfrm_top.gif) no-repeat left top;
}

.nii2 .nii_index_frame_d .nii_idxfrm_cnt{
	width:692px;
	background:url(../img/nii_idxfrm_back.gif) repeat-y left top;
	color:#333;
}

.nii2 .nii_index_frame_d .nii_idxfrm_bottom{
	width:692px;
	height:18px;
	background:url(../img/nii_idxfrm_bottom.gif) no-repeat left top;
}

.nii2 .nii_index_frame_d .nii_idxfrm_cntL{
	width:306px;
	float:left;
	padding:0 18px;
}

.nii2 .nii_index_frame_d .nii_idxfrm_cntR{
	width:306px;
	float:right;
	padding:0 18px;
}

.nii2 .nii_index_frame_d .fltL{
	float:left;
	width:70px;
	padding-right:10px;	
}

.nii2 .nii_index_frame_d .fltR{
	float:left;
	width:225px;
}

.nii2 .nii_idxfrm_cnt .fltR p{
	margin:0;	
}

.nii2 .nii_idxfrm_cnt p.link, .nii2 p.link{
	background:url(../img/nii_arrow_l.gif) no-repeat left 0.5em;
	margin:0 0 5px 0;	
	padding-left:15px;
	font-size:120%;
	font-weight:bold;
	color:#777777;	
}

.nii2 .nii_idxfrm_cnt p.link a{
	font-weight:bold;
	font-size:100%;
	color:#7799cb;
	text-decoration:none;
	line-height:1.5em;
	padding-right:6px;
}


/* コンテンツが左ひとつの場合 */
.nii2 .nii_index_frame_s{
	width:342px;
	margin:0 0 8px 0;
}

.nii2 .nii_index_frame_s .nii_idxfrm_top{
	width:342px;
	height:18px;
	background:url(../img/nii_idxfrm_top_s.gif) no-repeat left top;
}

.nii2 .nii_index_frame_s .nii_idxfrm_cnt{
	width:306px;
	padding:0 18px;
	background:url(../img/nii_idxfrm_back_s.gif) repeat-y left top;
	color:#333;
}

.nii2 .nii_index_frame_s .nii_idxfrm_bottom{
	width:342px;
	height:18px;
	background:url(../img/nii_idxfrm_bottom_s.gif) no-repeat left top;
}

.nii2 .nii_index_frame_s .fltL{
	float:left;
	width:70px;
	padding-right:10px;	
}

.nii2 .nii_index_frame_s .fltR{
	float:left;
	width:225px;
}


/* コンテンツが横幅いっぱいのサイズの場合 */
.nii2 .nii_index_frame_w{
	width:692px;
	margin:0 0 8px 0;
}

.nii2 .nii_index_frame_w .nii_idxfrm_top{
	width:692px;
	height:18px;
	background:url(../img/nii_idxfrm_top_w.gif) no-repeat left top;
}

.nii2 .nii_index_frame_w .nii_idxfrm_cnt{
	width:656px;
	padding:0 18px;
	background:url(../img/nii_idxfrm_back_w.gif) repeat-y left top;
	color:#333;
}

.nii2 .nii_index_frame_w .nii_idxfrm_bottom{
	width:692px;
	height:18px;
	background:url(../img/nii_idxfrm_bottom_w.gif) no-repeat left top;
}

.nii2 .nii_index_frame_w .fltL{
	float:left;
	width:220px;
	padding-right:10px;	
}

.nii2 .nii_index_frame_w .fltR{
	float:left;
	width:420px;
}

/*コンテンツ横幅いっぱいで背景透明 */
.nii2 .nii_index_frame_c{
	width:692px;
	margin:0 0 8px 2px;
}


/* テキストリンクリスト（先頭マーカー大） */
.nii2 .nii_linkL, .nii2 .nii_linkL_indt{
	width:100%;
	list-style:none !important;
	margin:10px 0 !important;
	padding:0;
}

.nii2 .nii_linkL li, .nii2 .nii_linkL_indt li{
	margin:0 0 5px 0;	
}

.nii2 .nii_linkL li a,
.nii2 .nii_linkL_indt li a,
.nii2 .nii_linkL li a:active
.nii2 .nii_linkL_indt li a:active{
	 line-height:1.5em !important;	
}

.nii2 .nii_linkL li a,
.nii2 .nii_linkL_indt li a{
	color:#7799cb;
	text-decoration:none;
	background:url(../img/nii_arrow_l.gif) no-repeat left center;
	padding-left:15px;		
}

.nii2 .nii_linkL_indt li a{
	margin-left:35px;
}

.nii2 .nii_linkL li.linkpdf{
	color:#7799cb;
	text-decoration:none;
	background:url(../img/nii_arrow_l.gif) no-repeat left center;
}

.nii2 .nii_linkL li.linkpdf a{
	color:#7799cb;
	text-decoration:none;
	background:url(../img/icon_pdf.gif) no-repeat right center;
	padding-bottom:2px;
	padding-right:18px;		
}


/* テキストリンク単独（先頭マーカ大） */
.nii2 p.nii_linkL{
	margin:10px 0 !important;
	padding:0;
	text-align:right;
}

.nii2 p.nii_linkL a{
	color:#7799cb;
	text-decoration:none;
	background:url(../img/nii_arrow_l.gif) no-repeat left center;
	padding-left:15px;
}


/* ニュースページ内リンク */
.nii2 .nii_newsframe{
	background:url(../img/news/nii_newsfrm_bottom.gif) no-repeat left bottom;	
}

.nii2 .nii_newsframe ul{
	list-style:none;
	margin:0 !important;
	padding:10px;	
	background:url(../img/news/nii_newsfrm_head.gif) no-repeat left top;	
}

.nii2 .nii_newsframe ul li{
	float:left;	
	padding:0 15px 0 0; 
}

.nii2 .nii_newsframe ul li a{
	padding:0 0 0 15px;
	background:url(../img/nii_arrow_l.gif) no-repeat left center;
	text-decoration:none;
	line-height:1.5em;
}


/* ニュースリスト表示 */
.nii2 .nii_newslist{
	width:692px;
	list-style:none;
	margin:0 0 30px 0 !important;
	padding:0;	
}

.nii2 .nii_newslist li{
	padding:5px 0;
	overflow:hidden;
	border-bottom:1px dotted #c1c1b4;
}

.nii2 .nii_newslist li{
	padding:5px 0;
	overflow:hidden;
	border-bottom:1px dotted #c1c1b4;
}

.nii2 .nii_newslist li span{
	width:70px;
	float:left;
}

.nii2 .nii_newslist li a{
	float:right;
	width:622px;
	color:#7799CB;
	text-decoration:none;
	line-height:1.5em;
}


/*--------------------------------------------------

Research

--------------------------------------------------*/
.nii2 .nii_research_title_green{
	font-size:14px;
	font-weight:bold;
	color:#4aac00;
	border-left: 3px solid #4aac00;
	margin:0 0 6px 0;
	padding:0 0 0 12px;	
}

.nii2 .nii_research_title_orange{
	font-size:14px;
	font-weight:bold;
	color:#eb9a71;
	border-left: 3px solid #eb9a71;
	margin:0 0 6px 0;
	padding:0 0 0 12px;	
}

.nii2 .nii_research_title_blue{
	font-size:14px;
	font-weight:bold;
	color:#3ebcc7;
	border-left: 3px solid #3ebcc7;
	margin:0 0 6px 0;
	padding:0 0 0 12px;	
}

.nii2 .nii_research_title_pink{
	font-size:14px;
	font-weight:bold;
	color:#eb9bc2;
	border-left: 3px solid #eb9bc2;
	margin:0 0 6px 0;
	padding:0 0 0 12px;	
}

.nii2 .nii_research_title_midori{
	font-size:14px;
	font-weight:bold;
	color:#2d8c3a;
	border-left: 3px solid #2d8c3a;
	margin:0 0 6px 0;
	padding:0 0 0 12px;	
}

.nii2 .nii_research_title_ao{
	font-size:14px;
	font-weight:bold;
	color:#2986c9;
	border-left: 3px solid #2986c9;
	margin:0 0 6px 0;
	padding:0 0 0 12px;	
}

.nii2 .nii_researchname{
	font-size:12px;
	font-weight:bold;
	color:#000;	
}

.nii2 .nii_research_txt{
	line-height:1.6em;
}

.nii2 .nii_research_info{
	line-height:1.5em;
	margin-top:15px;
	padding-top:15px;
	border-top:1px dotted #c6c6bb;
}


/*--------------------------------------------------

faculty

--------------------------------------------------*/

/* プロフィールランダム表示 */

.nii2 .nii_bd{
	border:none;
	background:url(../img/faculty/nii_profile_bottom.gif) no-repeat left bottom;	
}

.nii2 .nii_barText{
	background:url(../img/faculty/nii_profile_head.gif) no-repeat left top;
}

.nii2 .nii_barText td{
	padding:10px;
	text-align:left;
	border-bottom:3px solid #c6c6bb;	
}

.nii2 .nii_pd7{
	padding:10px;	
}

.nii2 .nii_ft16{
	font-size:14px;	
}


/* プロフィール */
/*.nii_bar_profile{
	font-size:18px;
	color:#fff;
	background:url(../img/nii_pagetitle.jpg) no-repeat left top;
	text-indent:0;
	border:none;
}

.nii_bar_profile td{
	height:58px;
	padding:0px 20px 20px 25px;
	text-align:left;
}

.nii_bar_profile td p{
	margin:0;
}*/

.nii_frameLine_space{
	padding:0;
	background:none !important;
	border:none !important;	
}


/*--------------------------------------------------

service

--------------------------------------------------*/

.nii2 .nii_systeminfo{
	background:url(../img/faculty/nii_profile_bottom.gif) no-repeat left bottom;	
}

.nii2 .nii_systeminfo .title{
	margin:0;
	padding:10px;
	background:url(../img/faculty/nii_profile_head.gif) no-repeat left top;
}

.nii2 .nii_systeminfo ul{
	list-style:none;
	margin:0;
	padding:0 10px 10px;	
}

.nii2 .nii_systeminfo ul li{
	padding:0 0 5px 0;
}

.nii2 .nii_systeminfo ul li a{
	background:url(../img/nii_arrow.gif) no-repeat left center;
	padding:0 0 0 8px;	
	color:#333;
	text-decoration:none;
	line-height:1.5em;
}


/*--------------------------------------------------

news

--------------------------------------------------*/
.nii2 .nii_newsdate{ margin:0 0 15px 0;	}

.nii2 .nii_newstitle{
	font-size:14px;
	font-weight:bold;
	width:692px !important;
	border-bottom:3px solid #c6c6bb;
	margin-bottom:20px;
	padding:0 0 5px 0 !important;
	color:#000 !important;	
	background:none !important;
}

.nii2 .nii_newscontents{
	width:692px !important;
	line-height:1.5em;
}

.nii2 .nii_newscontents p{
	margin:0 0 15px 0;
	line-height:1.8em;
}

.nii2 .nii_newscontents p.indent{
	margin-left:1em;	
}

.nii2 .nii_newspagenavi{
	border-top:1px dotted #9a9a89;
	padding:15px 0 0;
}

.nii2 .nii_newspagenavi p{ margin:0; }

.nii2 .nii_newsbackbtn{
 	text-align:right;	
}

.nii2 .nii_newsbackbtn a{
	color:#7799cb;
	text-decoration:none;
	background:url(../img/nii_arrow_l.gif) no-repeat left center;
	padding-left:15px;	
	line-height:1.5em;
		
}

/*--------------------------------------------------

jyouhouken series

--------------------------------------------------*/

.book16{
	background-color:#ffffff;
	border-radius:5px;
	line-height:22px;
}

.book16b{
	background-color: #f4f4ea;
	border:1px solid #eaeae5;
	border-radius:10px;
	line-height:22px;
	box-shadow:#e0e0d5 3px 3px 6px 0;
}

.nii2 table.maruzen td.title div.comment{
/*background: #d3e4f8;*/
background-color:#ededed;
border-radius: 5px;
color: #666;
padding: 10px;
position: relative;
margin-bottom:15px;
line-height:1.4em;
}

.comment h5{
	font-weight:bold;
	font-size:130%;
	color:#ff3300;
}
	

.balloon-left::after {
border-top: solid 7px transparent;
border-bottom: solid 7px transparent;
border-right: solid 10px #ededed;
left: -10px;
content:"";
display:block;
height:0;
top:50%;
margin-top:-7px;
position: absolute;
width:0;
}

/*--------------------------------------------------

misc

--------------------------------------------------*/


table.a14table {
	border: 1px solid #c6c6bb; 
	border-collapse: collapse;
	padding: 0px; width: 100%;
}

table.a14table td, th{
	line-height: 1.4em; 
	border: 1px solid #c6c6bb; 
	font-weight: normal; 
	padding: 5px 10px;
}

table.a14table td.head40{
	background-color:#edede7;
	width: 40px;
}

table.a14table td.head75{
	background-color:#edede7;
	/*text-align: center; 
	font-weight: bold; */
	width: 75px;
}

table.a14table th.head90{
	background-color:#edede7;
	/*text-align: center; 
	font-weight: bold; */
	width: 90px;
}

table.a14table th.head90l{
	background-color:#edede7;
	text-align: center; 
	font-weight: normal; 
	width: 90px;
}

table.a14table td.head140{
	background-color:#edede7;
	/*text-align: center;
	font-weight: bold; */
	width: 140px;
}

table.a14table td.head150{
	background-color:#edede7; 
	/*text-align: center;*/
	/*font-weight: bold; */
	width: 150px;
}

table.a14table td.head200{
	background-color:#edede7;
	width: 200px;
}

table.a14table td.head400{
	background-color:#edede7;
	/*text-align: center;
	font-weight: bold; */
	width: 400px;
}

table.a14table td.head450{
	background-color:#edede7;
	/*text-align: center;
	font-weight: bold; */
	width: 450px;
}

div.QA_block{
	margin: 20px 0px 50px; 
	padding-left: 10px;
}

img.shimin_l{
	border-radius: 3px; 
	border: 1px solid #999;
}

p.q_block{
	background-color: #fefefe;
	border: 1px solid #999; 
	border-radius: 5px; 
	padding: 10px; 
	margin-right: 10px;
}

p.q_block span{
	color: #336699; 
	font-weight: bold; 
	padding: 3px;
}

p.a_block{
	padding: 5px 11px;
}

p.a_block span{
	color: #ffcc66; 
	font-weight: bold; 
	padding: 3px;
}

.nii_hyo001{
	width: 690px;
}

#jumpmenu{
	width: 690px;
	margin:15px 0;
}
	

#jumpmenu ul{
margin: 0; 
padding: 0; 
list-style: none;
background-color:#fff;
border-left:1px solid #9a9a89;
}

#jumpmenu li{ 
display: inline; 
padding: 0; 
margin: 0; 
float: left;
}

#jumpmenu li a{
display:inline-block;
border-right:  1px solid #9a9a89;
border-top: none;
border-bottom: none;
background-color:inherit;
padding: 3px;
text-decoration: none;
color: #333;
width: 50px; 
margin: 3px 0px;
text-align: center;
}

#jumpmenu li.first a{
border-left:  1px solid #9a9a89;
}

#jumpmenu li a:hover{
border-left: 1px solid #9a9a89;
border-top: none;
border-bottom: none;
background-color: #9a9a89;
text-decoration:none;
color: #fff;
}

.nii2 h3.nii_title_h3 a{
	color:#333;
}

/* 概要＞年代リスト表示 */
.nii2 .nii_historylist, .nii2 .nii_sympolist{
	width:692px;
	list-style:none;
	margin:0 0 30px 0 !important;
	padding:0;	
}

.nii2 .nii_historylist li, .nii2 .nii_sympolist li{
	padding:5px 0;
	overflow:hidden;
	border-bottom:1px dotted #c1c1b4;
}

.nii2 .nii_historylist li span{
	float:right;
	width:522px;
	line-height:1.5em;
}

.nii2 .nii_sympolist li span{
	float:right;
	width:600px;
	line-height:1.5em;
}

nii_historylist

/* 研究者紹介（研究系ごと）*/

.nii2 .nii_idxfrm_cnt p.profile{
	color:#7799cb;
	margin:0;	
}

.nii2 .nii_idxfrm_cnt p.profile a{
	font-weight:bold;
	font-size:105%;
	color:#7799cb;
	text-decoration:none;
	line-height:1.2em;
	padding-right:6px;
}

.nii2 .nii_idxfrm_cnt p.professor {
	line-height: 1.2em;
	padding: 0.5em 0;
}

.nii2 .nii_idxfrm_cnt p.field {
	padding: 0px;
}

/* 研究者ごとのページ reserchmap引用部 */

.nii2 .nii_contents_frameHead_wh{
	height:20px;
	margin-top:-20px;
	background:url(../img/nii_content_head_wh.gif) no-repeat left top;	
}

.nii2 .nii_contents_frame_wh{
	padding:0 19px 0 11px;
	background:url(../img/nii_content_back_wh.gif) repeat-y left top;
	background-color:#fff;
	border-collapse: inline-table;
	overflow:hidden;
}

.nii2 .nii_contents_frameBottom_wh{
	height:20px;
	background:url(../img/nii_content_bottom_wh.gif) no-repeat left top;	
}

.nii2 .nii_index_frame_wh{
	width:702px;
	margin:0 0 8px 0;
}

/* 研究者紹介ランダム表示2014年度版 */

div.prof_ramdom{
width: 202px;
background-color:#fff;
}

div.prof_ramdom_top {
	width: 202px;
	height:0;
	padding: 6px 0 0;
	background-image: url(../img/prof_ramdom_head.gif);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: left;
}

div.prof_ramdom_middle {
	padding: 10px 12px;
	font-size: 12px;
	background-image: url(../img/prof_ramdom_middle.gif);
	background-position: center top;
	background-repeat: repeat-y;
	text-align: left;
}

div.prof_ramdom_bottom {
	padding: 0 0 6px;
	height:0;
	background-image: url(../img/prof_ramdom_bottom.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
	text-align: left;
}

div.prof_ramdom_middle h1{
	font-size:14px;	
	font-weight:normal;
	line-height: 1.8em;
}

div.prof_ramdom_middle h2{
	font-size:13px;
	font-weight:bold;
	padding:8px 0 5px;
	line-height:1.2em;
}

div.prof_ramdom_middle h2 a{
	color: #7799cb;
	text-decoration: none;
}

.clm_wrapper {
	margin:0;
	padding:0;
}

.clm_wrapper img{
	border: none;
	width: 70px;
	height: 70px;
	margin-left: 6px;
	padding-bottom:10px;
	vertical-align: top;
	float: right;
}

.clm_wrapper img.eng{
	border: none;
	width: 60px;
	height: 60px;
	margin-left: 6px;
	padding-bottom:10px;
	vertical-align: top;
	float: right;
}

.clm_wrapper p{
	float: left;
	line-height: 1.3em;
	padding: 0 0 3px;
	display:block;
}

.clm_wrapper p.prof{
	padding-right: 5px;
}

.clm_wrapper p.writer{
	padding-top: 10px;
}

div.prof_ramdom_middle p.details{
	text-align:right;
}

div.prof_ramdom_middle p.details a{
	padding-left:10px;
	background:url(../img/nii_arrow_b.gif) no-repeat left center;
	text-decoration:none;
	color:#7799cb;
	text-align:right;
}

/* 市民講座 2014 */

.nii2 .poster{
	float:right;
	padding:5px 5px 0 15px;
}

.nii2 .poster img{
	margin:0;
	padding:0;
	border: 1px solid #c6c6bb;
}

.nii2 .poster .noicon{
	background:none; 
}

.nii2 .poster span{
	text-align:center;
	display:block;
	line-height:2em;
}

.nii2 .nii_contents_frame dl.list309 dt {
  clear: left;
  float: left;
  margin: 0 0 0.8em;
  width: 9em;
  padding-left: 5px;
  border: none;
  line-height:1.6em;
}

dl.list309 dd {
  margin-bottom: 0.8em;
  margin-left: 9em;
  line-height:1.6em;
}

.nii2 table.shimin{
	margin: 0;
	padding: 10px;
	border:1px solid #c6c6bb; 
	width:692px; 
	border-right:none;
	border-left: none;
	border-collapse: collapse;
	line-height:1.4em;
}

.nii2 table.shimin td{
	margin:0;
	padding:10px;
	border: none;
	border-bottom: 1px solid #c6c6bb;
	text-align: left;
	vertical-align: top;
}

.nii2 table.shimin td.date{
	width:160px;
	text-align: left;
	padding-left:10px;
}



.nii2 table.shimin td.date span.end{
	padding-top:10px;
	color:#ff3300;
	display:block;
}
	

.nii2 table.shimin td.img{
	width: 130px;
	text-align: center;
}

.nii2 table.shimin td.movie{
	width: 140px;
	text-align: left;
}

.nii2 table.shimin td.movie img{
	margin-bottom:5px;
}

.nii2 table.shimin td.title{
	width: 452px;
	text-align: left;
	line-height:1.6em;
}

.nii2 table.shimin td.title span{
	line-height: 2em;	
}

.nii2 table.shimin td.title span.outline_hidden{
	padding:0 10px;
	background:url(../img/nii_arrow_d.gif) no-repeat left center;
	text-decoration:none;
	display:block;
	color:#7799cb;
}

.nii2 table.shimin div.hidden_block{
	display:none;
	padding:8px;
}
	

.nii2 table.shimin td.btn{
	width: 125px;
	text-align: center;
	padding: 25px 15px 15px 15px;
}

.nii2 table.shimin div.btn{
	float:right; 
	width: 125px; 
	text-align: center; 
	padding: 25px 10px 10px 15px;
}

.reservbtn{
    width:106px;
    height:37px;
    display:block;
    background:url(../img/reservbtn.png) left top no-repeat;
	text-indent: -9999px;
}
.reservbtn:hover{
    background-position:right top;
}

td.movie span a{
	padding:0 10px 0 0;
	text-decoration:none;
	color:#7799cb;
}

td.movie2 span a{
	padding:0 10px 0 0;
	text-decoration:none;
	color:#7799cb;
}

.w-em-sp li a{
	padding-left: 1em;
}

.pdfDL{
	width: 200px; 
	border-radius: 10px; 
	border: 1px solid #deded6; 
	margin: 0; 
	padding: 12px;
	background-color: #fbfbf7;
}

.pdfDL p {
	padding: 12px;
}

.pdfDL p img{
	padding: 8px 0 0;
}

.nii2 h1.documentFirstHeading{
	display:none;
	color:#CCC;
	/*visibility:hidden;*/
}

/* 市民講座 アーカイブ */

.nii2 dl.lec_qa{
	padding:0;
}

.nii2 dl.lec_qa dt{
	float:left;
	width:3em;
	margin-left:20px;
	padding-top:12px;
	line-height:1.6em;
}

.nii2 dl.lec_qa dd{
	padding-left: 4em;
	padding-top:12px;
	line-height:1.6em;
}

.nii2 dl.lec_qa dd.answer{
	border-bottom:1px solid #c6c6bb;
	padding-bottom:10px;
}

.nii2 .page-back {
 position: fixed;
 bottom: 330px;
 right: 0;
}

.nii2 div.movie{
	/*float:right;
	padding:5px 5px 0 15px;*/
	float:left;
	padding:0 20px 0 5px;
	text-align:center;
}

.nii2 div.movie img{
	margin:0 0 5px;
	padding:0;
	border: 1px solid #c6c6bb;
}

.nii2 .nii_contents_frame span.cap{
	color:#999;
	display:block;
}

/*------ 軽井沢土曜懇話会 --------------*/

.nii2 td.karuizawa{
	background-color:#edede7;
	line-height:1em;
}

.nii2 .jasrac{
	padding-top:1em;
}

.nii2 .jasrac img{
	float:right; padding:5px;	
}


/*-------NII today & 情報研シリーズ -----------------------*/

.nii2 p.title{
	font-weight:bold;
	font-size:14px;
}

.nii2 dl.niitoday_credit, .nii2 dl.niitoday_credit_en{
	padding:0;
}

.nii2 dl.niitoday_credit dt{
	float:left;
	width:5em;
	margin-left:20px;
	line-height:1.6em;
	padding-bottom: 10px;
}

.nii2 dl.niitoday_credit dd{
	padding-left: 7em;
	line-height:1.6em;
	padding-bottom: 10px;
}

.nii2 dl.niitoday_credit_en dt{
	float:left;
	width:9em;
	margin-left:20px;
	line-height:1.6em;
	padding-bottom: 10px;
}

.nii2 dl.niitoday_credit_en dd{
	padding-left: 11em;
	line-height:1.6em;
	padding-bottom: 10px;
}

.nii2 .cover{
	float:left;
	padding:0 20px 0 5px;
	/*float:right;
	padding:5px 5px 0 15px;*/
}

.nii2 .cover img{
	margin-bottom:10px;
	padding:0;
	border: 1px solid #c6c6bb;
}

.nii2 .cover .noicon{
	background:none; 
}

.nii2 table.today, .nii2 table.maruzen{
	margin: 0;
	padding: 10px;
	border:1px solid #c6c6bb; 
	width:692px; 
	border-right:none;
	border-left: none;
	border-collapse: collapse;
	line-height:1.4em;
}

.nii2 table.today .noicon{
	background:none; 
}

.nii2 table.today td, .nii2 table.maruzen td{
	margin:0;
	padding:15px;
	border: none;
	border-bottom: 1px solid #c6c6bb;
	text-align: left;
	vertical-align: top;
}

.nii2 table.today td.img{
	width: 100px;
	text-align: center;
}

.nii2 table.maruzen td.img{
		width: 135px;
		padding-right:0;
}

.nii2 table.maruzen td.imglast{
		width: 135px;
		padding-right:0;
		border-bottom:none;
}

.nii2 table.today img, .nii2 table.maruzen img{
	border:1px solid #ededed;
}

.nii2 table.maruzen img{
	border:1px solid #ededed;
	margin-left:15px;
}

.nii2 table.today td.title, .nii2 table.maruzen td.title, .nii2 table.maruzen td.titlelast{
	width: 592px;
	text-align: left;
	line-height:1.6em;
}

.nii2 table.today td.title span, .nii2 table.maruzen td.title span, .nii2 table.maruzen td.titlelast span{
	line-height: 1.6em;	
	display:block;
}

.nii2 table.today td.title p a, .nii2 table.maruzen td.title p a, .nii2 table.maruzen td.titlelast p a{
	font-weight:bold;
}

.nii2 table.maruzen td.titlelast{
	border-bottom:none;
}

.nii2 table.maruzen ul{
	list-style:none;
	margin:0;
	padding:5px 5px 0px;
}

.nii2 table.maruzen ul li{
	margin:0;
	padding:0;
	line-height:1.4;
}

.nii2 table.maruzen td.title h4{
	margin:7px 0 15px;	
}

.nii2 table.maruzen span.outline_hidden{
	padding:0px 10px 0px;
	background:url(../img/nii_arrow_d.gif) no-repeat left 7px;
	text-decoration:none;
	display:block;
	color:#7799cb;
}

.nii2 table.maruzen span.outline_hidden{
	padding:0px 10px 0px;
	background:url(../img/nii_arrow_d.gif) no-repeat left 7px;
	text-decoration:none;
	display:block;
	color:#7799cb;
}

.nii2 table.maruzen div.hidden_block{
	padding-top:10px;
}

.nii2 dl.jsinterview{
	padding:0;
}

.nii2 dl.jsinterview dt{
	float:left;
	width:4em;
	margin-left:10px;
	padding-top:12px;
	line-height:1.6em;
}

.nii2 dl.jsinterview dt:after {
	content: " ： ";
}

.nii2 dl.jsinterview dd{
	padding-left: 6em;
	padding-top:12px;
	line-height:1.6em;
}


/*-------------- 受賞（ニュース）修正 ---------------*/

prise_block{
	/*border: 1px solid #e2e1de;  
	border-radius: 8px; 
	padding: 8px 8px 13px;
	padding:100px;*/
}

.prise_block dl{
	color:#333;
}

.prise_block dl dt {
  clear: left;
  float: left;
  width: 6em;
  padding: 5px 0 0 15px;
  border: none;
  line-height:1.6em;
}

.prise_block dl dt:after {
	content: " ： ";
}

.prise_block dl dd {
 	margin-left: 8em;
	padding: 5px 15px 0 0;
  	line-height:1.6em;
}

/*--------------　ワークショップ ------------------------*/

.nii2 table.workshop{
	margin: 0;
	margin-bottom:15px;
	padding: 8px 10px;
	/*border:1px solid #c6c6bb; */
	width:692px; 
	border-right:none;
	border-left: none;
	border-collapse: collapse;
	line-height:1.4em;
}

.nii2 table.workshop td, .nii2 table.poster td{
	margin:0;
	padding: 8px 10px;
	border: none;
	border-bottom: 1px dotted #c6c6bb;
	text-align: left;
	vertical-align: top;
}

.nii2 table.workshop td.time{
	width:100px;
	text-align: left;
	padding-left:10px;
	background-colo:#CFC;
}

 .nii2 table.poster td.number{
	width:150px;
	text-align: left;
	padding-left:10px;
	colo:#ff3300;
 }

.nii2 table.workshop td.time span.end{
	padding-top:10px;
	color:#ff3300;
	display:block;
}
	

.nii2 table.workshop td.img{
	width: 130px;
	text-align: center;
}

.nii2 table.workshop td.title{
	width: 420px;
	text-align: left;
	line-height:1.6em;
}

.nii2 table.workshop td.title span{
	line-height: 2em;	
}

.nii2 table.workshop td.title span.outline_hidden{
	padding:0 10px;
	background:url(../img/nii_arrow_d.gif) no-repeat left center;
	text-decoration:none;
	display:block;
	color:#7799cb;
}

.nii2 table.workshop div.hidden_block{
	display:none;
	padding:8px;
}

.reservbtnL{
    width:216px;
    height:37px;
    display:block;
    background:url(../img/reservbtnL.png) left top no-repeat;
	text-indent: -9999px;
}
.reservbtnL:hover{
    background-position:right top;
}

.nii2 table.workshop li{
	list-style:disc;
	margin:5px 0 5px;	
	line-height: 1.5em;
	background-image:none;
	padding-left:0;
}

