/* ============ */
/*  MONTSERRAT  */
/* ============ */
/* MONTSERRAT LIGHT */
@font-face {
  font-family: 'montserrat';
  src: url('http://c.res.24o.it/fonts/montserrat-light-webfont.eot');
  src: url('http://c.res.24o.it/fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype');
  src: url('http://c.res.24o.it/fonts/montserrat-light-webfont.woff') format('woff'), url('http://c.res.24o.it/fonts/montserrat-light-webfont.ttf') format('truetype'), url('http://c.res.24o.it/fonts/montserrat-light-webfont.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* MONTSERRAT REGULAR */
@font-face {
  font-family: 'montserrat';
  src: url('http://c.res.24o.it/fonts/montserrat-regular-webfont.eot');
  src: url('http://c.res.24o.it/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype');
  src: url('http://c.res.24o.it/fonts/montserrat-regular-webfont.woff') format('woff'), url('http://c.res.24o.it/fonts/montserrat-regular-webfont.ttf') format('truetype'), url('http://c.res.24o.it/fonts/montserrat-regular-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* MONTSERRAT SEMIBOLD */
@font-face {
  font-family: 'montserrat';
  src: url('http://c.res.24o.it/fonts/montserrat-semibold-webfont.eot');
  src: url('http://c.res.24o.it/fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype');
  src: url('http://c.res.24o.it/fonts/montserrat-semibold-webfont.woff') format('woff'), url('http://c.res.24o.it/fonts/montserrat-semibold-webfont.ttf') format('truetype'), url('http://c.res.24o.it/fonts/montserrat-semibold-webfont.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
/* MONTSERRAT BOLD */
@font-face {
  font-family: 'montserrat';
  src: url('http://c.res.24o.it/fonts/montserrat-bold-webfont.eot');
  src: url('http://c.res.24o.it/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype');
  src: url('http://c.res.24o.it/fonts/montserrat-bold-webfont.woff') format('woff'), url('http://c.res.24o.it/fonts/montserrat-bold-webfont.ttf') format('truetype'), url('http://c.res.24o.it/fonts/montserrat-bold-webfont.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
/* =========== */
/*  USE FONTS  */
/* =========== */
.montserrat {
  font-family: "montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
