@font-face {
	font-family: 'icon-meteo';
	src:url('../fonts/icon-meteo.eot?lq3ps5');
	src:url('../fonts/icon-meteo.eot?lq3ps5#iefix') format('embedded-opentype'),
		url('../fonts/icon-meteo.ttf?lq3ps5') format('truetype'),
		url('../fonts/icon-meteo.woff?lq3ps5') format('woff'),
		url('../fonts/icon-meteo.svg?lq3ps5#icon-meteo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="i-meteo-"], [class*=" i-meteo-"] {
	font-family: 'icon-meteo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/*line-height: 1;*/
	font-size:15px;
	line-height: 15px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-meteo-sereno:before,.i-meteo-sereno_vento:before {
	content: "\21";
}
.i-meteo-parzialmente_nuvoloso:before,.i-meteo-parz_nuv_strati:before,.i-meteo-poc_nuv_conv:before,
.i-meteo-velato:before,.i-meteo-velo_spesso:before,.i-meteo-velo-spesso:before,
.i-meteo-poco_nuvoloso:before,.i-meteo-poco-dnuvoloso:before,.i-meteo-var_no_prec:before,.i-meteo-var-no-prec:before {
	content: "\22";
}
.i-meteo-var_rovesci_30:before,.i-meteo-var_rovesci-30:before {
	content: "\23";
}
.i-meteo-var_rovesci_70:before,.i-meteo-var_rovesci-70:before {
	content: "\24";
}
.i-meteo-sereno-gelo:before,.i-meteo-sereno_gelo:before{
	content: "\25";
}
.i-meteo-var_rovesci_90:before,.i-meteo-var_rovesci-90:before { 
	content: "\26";
}
.i-meteo-coperto_strati:before {
	content: "\27";
}
.i-meteo-molto_nuvoloso:before,.i-meteo-nuvoloso_70:before {
	content: "\29";
}
.i-meteo-pioggia_30:before,.i-meteo-pioggia-30:before,.i-meteo-pioviggine_30:before {
	content: "\29";
}
.i-meteo-pioggia_70:before,.i-meteo-pioggia-70:before {
	content: "\2a";
}
.i-meteo-pioggia_90:before,.i-meteo-pioggia-90:before {
	content: "\2b";
}
.i-meteo-temporale:before,.i-meteo-var_temporale:before,.i-meteo-var_temporale_lieve:before,.i-meteo-var-temporale:before {
	content: "\2c";
}
.i-meteo-temporali_isolati:before {
	content: "\2d";
}
.i-meteo-neve_debole:before,.i-meteo-nevischio:before,.i-meteo-var_neve:before,.i-meteo-var-neve:before {
	content: "\2e";
}
.i-meteo-neve_forte:before,.i-meteo-coperto_neve_forte:before {
	content: "\2f";
}
.i-meteo-neve_moderata:before {
	content: "\30";
}
.i-meteo-pioggia_neve:before {
	content: "\31";
}
.i-meteo-nebbia:before {
	content: "\32";
}
.i-meteo-foschia:before,.i-meteo-nebbia_banchi:before,.i-meteo-foschia_lieve:before {
	content: "\33";
}


