/* fix player */
.smb .btn {
  padding: initial;
  border: 0;
  white-space: initial;
}

/* indici apertura finanza */
#graphIndex{height:250px;}

.s24map {height:400px;}
.s24map h3 {font-size: 14px;}

/*#fixed-bottom {padding-bottom:0px;}
#fixed-bottom #alert-left {margin-bottom:0px;}
#fixed-bottom #for-you {margin-top:15px;padding-bottom:15px;}
#fixed-bottom section:last-child {border:0px!important;margin-bottom:0!important;}
#fixed-bottom section.last-child {border-bottom:1px solid #F5E5D5!important;padding-bottom:15px;margin-bottom:0!important;}
*/
/* pagina azioni: forzare altezza contenitori dei grafici */
#vwdGraphFTSE, #vwdGraphDAX30, #vwdGraphNASDAQ, #vwdGraphDJIA{height:150px;}
#vwdGraphCereali, #vwdGraphPreziosi, #vwdGraphMetalli, #vwdGraphLiffe, #graphSpreadRend, #vwdGraphOro1, #vwdGraphOro2, #graphPetrolioGasolio {height:240px;}
#EURUSFX, #JPYVSFX, #EUR83IND,#XWEUR10YFX,#XICEUR10YFX{height:155px;}

.mv-widget,.quizz-container {margin-bottom:30px;}
form .error{border:1px solid red;}

/* fix masthead */
 @media (max-width: 1007px) {
	.touch .a-masthead {
		overflow-y: hidden;
	}
	.touch .a-masthead .zoom-tablet {
		-ms-transform-origin: 0 0; /* IE 9 */
		-webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
		transform-origin: 0 0;
		-ms-transform: scale(0.79, 0.79); /* IE 9 */
		-webkit-transform: scale(0.79, 0.79); /* Safari */
		transform: scale(0.79, 0.79);
		margin: 0 auto;
	}
}
/* fine fix masthead */


/* blog this */
#blogthis_back/*,
#sbt_help_bck*/{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#000;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
	z-index:909950;
}
#blogthis{
	/*background:url(blogthis_bck-btm.png) bottom left no-repeat;*/
	background: #fff;
	width:193px;
	height:30px;
	position:fixed;
	z-index:909951;
	font-size:13px;
	display:none;
	margin-left:15px;
	/*padding-bottom:15px;*/
}

#blogthis_int{
	/*background:url(blogthis_bck-top.png) top left no-repeat;
	padding:11px;*/
}
#blogthis_int div.btalert{
	display:none;
	font-size:11px;
	color:#555555;
	cursor:default;
	position:relative;
	z-index:909951;
}
/*#blogthis_int .btalert p{
	padding-bottom:5px;
}
#blogthis_int .btalert strong{
	color:#B32612;
}*/
#blogthis menu{width:193px;position:static;padding:10px 0px;display:block;margin:0px;height:50px;}
#blogthis menu:before{border-right:8px solid white;border-top:8px solid transparent;border-bottom:8px solid transparent;top:32%;left:0%;margin-left:-16px;}

#blogthis menu li{
	display:block;
	list-style:none outside none;
	margin:0;
	padding:0;
}
#blogthis menu li{
	/*padding:0 0 0 20px;
	background-position:0px 3px;
	background-repeat:no-repeat;
	position:relative;*/
	float:left;
	width:30px;
	height:30px;
	background: #234357;
	border-radius: 30px;
	margin-left: 7px;
}
#blogthis menu li > div{
	position:relative;
}
#blogthis menu li a{
	/*display:block;
	padding:4px 0 6px 6px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:13px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	background:url(blogthis_bck-li.gif) left bottom no-repeat;*/
	text-align:center;
	line-height:30px;
	height:30px;
	display: block;
}
#blogthis menu li a span{
	/*position:absolute;
	right:0px;
	font-weight:bold;
	color:#063;*/
	display: block;
	color:#fff;
	font-size:15px;
	line-height:30px;
}
#blogthis menu li > div > div{
	top:0 !important;
	left:0 !important;
	width:30px !important;
	overflow:hidden !important;
	z-index:909999 !important;
}
#blogthis menu li#sbt_twit a{
	background-position:left top;
}
/*#blogthis menu li.hover a,*/
#blogthis menu li a:hover{
	color:#B32612;
}

#blogthis li#sbt_copy{
	background-image:url(blogthis_icn_copy.gif);
}
#blogthis li#sbt_code{
	background-image:url(blogthis_icn_code.gif);
}
#blogthis li#sbt_mail{
	background-image:url(blogthis_icn_mail.gif);
}
#blogthis li#sbt_fbok{
	background-image:url(blogthis_icn_fbok.gif);
}
#blogthis li#sbt_twit{
	background-image:url(blogthis_icn_twit.gif);
}

/* IE6 hacks */
#blogthis{
	_background-image:none;
}
#blogthis menu{
	_background:none #f7f7f7;
	_border:1px solid #df4035;
}
#blogthis li{
	_height:3px;
	_line-height:0px;
	_font-size:1px;
}

.tt-menu {margin-left:18px;background:white;border:1px solid #8D9496; border-top:0px;padding:5px;width:482px;}
.tt-menu .tt-highlight {background-color:yellow}


@media (min-width: 768px){
	.section.graficiAM {width:638px;height:351px;}
}



@media (min-width: 1440px){
	.section.graficiAM{width:750px;height:351px;}
}

@media (min-width: 768px){

	.row.pdf_sfogliabile, iframe[src*="submarinecablemap"] {
		width:768px;
		height:500px;
	}
}

@media (min-width: 1008px){

	.row.pdf_sfogliabile, iframe[src*="submarinecablemap"] {
		width:1008px;
		height:600px;
	}
}

@media (min-width: 1440px){
	.row.pdf_sfogliabile, iframe[src*="submarinecablemap"] {

		width:1170px;
		height:600px;


	}
}

/*div.innergraphcontainer{min-height:351px;width:672px}
div.innergraphcontainer div[id^="amchart"] {min-height:190px;}
@media (max-width:1439px){
	div.innergraphcontainer{min-height:338px;width:538px}
	div.innergraphcontainer div[id^="amchart"] {min-height:190px;}
}
@media (max-width:768px){
	div.innergraphcontainer{min-height:387px;width:616px}
	div.innergraphcontainer div[id^="amchart"] {min-height:190px;}
}*/

div.innergraphcontainer{width:672px; line-height:1em;}
div.innergraphcontainer div[id^="amchart"] {min-height:351px;}
@media (max-width:1439px){
	div.innergraphcontainer{width:538px}
	div.innergraphcontainer div[id^="amchart"] {min-height:338px;}
}
@media (max-width:768px){
	div.innergraphcontainer{width:616px}
	div.innergraphcontainer div[id^="amchart"] {min-height:387px;}
}

div.innergraphcontainer div[id^="amchart"].altezzavariabile {min-height:10px;}
@media (max-width:1439px){
	div.innergraphcontainer div[id^="amchart"].altezzavariabile {min-height:10px;}
}
@media (max-width:768px){
	
	div.innergraphcontainer div[id^="amchart"].altezzavariabile {min-height:10px;}
}



/* per link su "partecipa alla discussione" */
#comments header a {text-decoration: none;}

/* mappe viaggi */
.map {
  width: 100%;
  background: #f5e5d5;
}
#chartdiv {
  border: 1px solid #ad9a88;
}
#chartdiv-side {
  border-right: 0.5px solid #ad9a88;
  border-left: 0.5px solid #ad9a88;
}

.map-bordered {
	border: 0.5px solid #ad9a88;
}

/* nuovi video, css dell'iframe */
iframe.videocont {width:650px; height:418px;border:0px;}
@media (max-width:1439px){
    iframe.videocont{width:554px;height:330px;}
}
@media (max-width:768px){
    iframe.videocont{width:612px;height:393px;}
}

.opening iframe.videocont{width:750px; height:482px;;}
@media (max-width:1439px){
    .opening iframe.videocont{width:638px;height:394px;}
}
@media (max-width:768px){
    .opening iframe.videocont{width:736px;height:473px;}
}

/* embed fluido video youtube */
.video-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.video-embed iframe, .video-embed object{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.game-results .scroller-container {
    left: 116px;
}


/* pagina terms conditions */

.terms h3.rss:last-child {
	border-bottom: none;
}

/* aggiornamento  mappe */
.s24_infowindow {
    font-family: Roboto,Arial,sans-serif; font-size: small; width: 210px;
}
.s24_infowindow .title {
    font-weight: 500; font-size: medium; margin-bottom: 1em; line-height: 1em;
}
.s24_infowindow .description{line-height:normal;}
.s24_infowindow .description img {
    width:200px; height: auto; line-height: 1em;
}
.s24map .gm-compass-tooltip-text {line-height: 8px}

#amchart_2016_11_339 .amcharts-balloon-div,#amchart_2016_11_340 .amcharts-balloon-div {line-height:normal;}

.obj-auct .img-wrapper {
	background-color: #F5E5D5;
}

.color-black {
	color: #1A171B;
}
