@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?gk5q39');
    src:    url('../fonts/icomoon.eot?gk5q39#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?gk5q39') format('truetype'),
        url('../fonts/icomoon.woff?gk5q39') format('woff'),
        url('../fonts/icomoon.svg?gk5q39#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dehaze:before {
    content: "\e15c";
}
.icon-local_florist:before {
    content: "\e1dd";
}
.icon-face2:before {
    content: "\e291";
}
.icon-face:before {
    content: "\e290";
}
.icon-home2:before {
    content: "\e901";
}
.icon-eraser3:before {
    content: "\e917";
}
.icon-image:before {
    content: "\e93b";
}
.icon-image2:before {
    content: "\e93c";
}
.icon-image3:before {
    content: "\e93f";
}
.icon-gamepad:before {
    content: "\e96b";
}
.icon-bullhorn:before {
    content: "\e979";
}
.icon-file-presentation2:before {
    content: "\e9c0";
}
.icon-cart-add:before {
    content: "\ea03";
}
.icon-basket:before {
    content: "\ea06";
}
.icon-compass5:before {
    content: "\ea43";
}
.icon-mobile:before {
    content: "\ea75";
}
.icon-database2:before {
    content: "\ea91";
}
.icon-database-refresh:before {
    content: "\ea9a";
}
.icon-search:before {
    content: "\eb2d";
}
.icon-pulse:before {
    content: "\eb6c";
}
.icon-stats-bars2:before {
    content: "\eb87";
}
.icon-trophy4:before {
    content: "\eba8";
}
.icon-gift2:before {
    content: "\ebaa";
}
.icon-chicken:before {
    content: "\ebbe";
}
.icon-cup:before {
    content: "\ebc5";
}
.icon-paw:before {
    content: "\ebd5";
}
.icon-lamp4:before {
    content: "\ebf3";
}
.icon-airplane:before {
    content: "\ec02";
}
.icon-car:before {
    content: "\ec07";
}
.icon-gas:before {
    content: "\ec0a";
}
.icon-tree6:before {
    content: "\ec62";
}
.icon-lan2:before {
    content: "\ec65";
}
.icon-eye:before {
    content: "\ecab";
}
.icon-heart3:before {
    content: "\ece6";
}
.icon-warning2:before {
    content: "\ed4d";
}
.icon-arrow-down:before {
    content: "\edbc";
}
.icon-circle-right2:before {
    content: "\ede5";
}
.icon-share3:before {
    content: "\eedd";
}
.icon-instagram:before {
    content: "\eeec";
}
.icon-youtube:before {
    content: "\eef3";
}
.icon-apple2:before {
    content: "\ef1b";
}
.icon-android:before {
    content: "\ef1d";
}
.icon-windows8:before {
    content: "\ef1f";
}

