@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* global */
body {
  font: 15px Tahoma;
  color: #000000;
  background:#FFFFFF;
  line-height: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.float-left, #header .head .logo, #header .head .logo a, #header .head .logo:after, .emobar ul li, .emobar ul li a img, #nav ul li, .tophit .today, .tophit .topten ul li, .tophit .news-tab .today li, #highlight ol li, #highlight [class*=mainhilight-] ul li, #highlight .mainhilight-tab2 li, #highlight .mainhilight-tab3 .travel-tab li, #highlight .mainhilight-tab3 .cooking-tab li, #highlight .mainhilight-tab3 .homedec-tab li, #highlight .mainhilight-tab4 li, #highlight .mainhilight-tab5 .movie-tab li, #highlight .mainhilight-tab5 .music-content-tab li, #highlight .mainhilight-tab6 .women-tab1 li, #highlight .mainhilight-tab6 .women-tab2 li, #highlight .mainhilight-tab6 .women-tab3 li, #highlight .mainhilight-tab7 .men-tab li, #highlight .mainhilight-tab7 .it-tab li, #highlight .mainhilight-tab7 .car-tab li, #highlight .mainhilight-tab8 .variety-tab li, #highlight .mainhilight-tab3 .home-dec-tab li, #highlight .mainhilight-tab8 .home-dec-tab li, #highlight .mainhilight-tab9 .football-tab li, .zone ul li, #women-zone, #star-ig-zone,  #variety-zone, #horo-zone, #wedding-zone, #baby-zone, #health-zone, #cooking-zone, #home-zone, #pet-zone, #travel-zone, #guide-zone, #money-zone, #car-zone, #social-zone, #social-zone > div, #icare-zone, #mobile-zone > div, #oil-gold-exchangerate-zone #exchangerate-zone, #oil-gold-exchangerate-zone #oil-zone, #oil-gold-exchangerate-zone #gold-zone, #info-zone, #greet-zone, #glitter-zone, #game-zone, #quiz-zone, #quiz-zone ul li:first-child img, #pr-zone, #pr-zone ul li img, #gift-zone, #directory-zone ul, #directory-zone ul.radio-link li, #footer .sitemap, #footer .sitelink {
  display: inline;
  float: left;
}

.float-right, #header .bar-top ul li, #header .head .bannertop, .tophit .topten {
  display: inline;
  float: right;
}

.clear-overflow, #women-igstar, #variety , #horo-wedding-baby, #health-cooking, #home-pet, #travel-guide, #pr-gift, #money-car, #social-icare, #info-greet-glitter, #game-quiz, #directory-zone, #footer {
  overflow: hidden;
  clear: both;
}

/* global */
#header {
  background: #6db600;
  width: 100%;
}

@media screen and (max-width: 1199px) {
#header {
  background: #6db600;
  width: 100%;
}
}
@media screen and (max-width: 1199px) {
#header .head {
 display:block; margin:0 auto;
  width: 1000px;
}

}

#header .bar-top {
  background: #000;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
}
#header .bar-top ul {
  overflow: hidden;
}
#header .bar-top ul li {
  display: inline;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
#header .bar-top ul li a {
  font: 33px psl_imperialregular;
  color: #FFF;
}
#header .bar-top ul li:first-child {
  float: left;
}
#header .head {
  overflow: hidden;
  padding: 0px 0;
}
#header .head .logo a {
  background-image: url(../images/logo.svg);
  display: block;
  background-size: cover;
  width: 200px;
  height: 80px;
  text-indent: -300px;
  overflow: hidden;
  margin: 10px 10px 0 0;
}
#header .head .logo:after {
  content: "เว็บแรกที่คุณเลือก";
  font: 59px psl_imperialregular;
  color: #FFFFFF;
  padding-top: 16px;
}

@media screen and (max-width: 1199px) {
#header .head .logo:after {
  content: "เว็บแรกที่คุณเลือก";
  font: 59px psl_imperialregular;
  color: #FFFFFF;
  padding-top: 16px;
}
}

#header .head .bannertop {
  width: 728px;
  height: 90px;
  margin-top: 5px;
  background: #FFFFFF;
}

.emobar {
  width: 100%;
  background: #6db600;
  border-bottom: 2px solid #e9e9e9;
}
.emobar ul {
  padding-top: 5px;
  overflow: hidden;
}
.emobar ul li a {
  font: 33px psl_imperialregular;
  padding: 5px 26px 5px 15px;
  display: block;
  height: 50px;
  line-height: 45px;
  color: #000000;
  background: #FFF;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  border: 1px solid #e9e9e9;
  border-bottom: 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px;
  border-radius: 20px 20px 0 0;
}
.emobar ul li a img {
  width: 40px;
  height: auto;
  margin: 0 6px 0 0;
}

#nav {
  width: 100%;
  overflow: hidden;
}
#nav ul {
  overflow: hidden;
}
#nav ul li {
  width: 7.692307692307692%;
  padding: 3px 2px 0;
  box-sizing: border-box;
}
#nav ul li a {
  display: block;
  color: #000;
  padding: 6px 0 4px;
  text-align: center;
  position: relative;
  font: 30px psl_imperialregular;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
}
#nav ul li a:before {
  height: 3px;
  background: #6db600;
  position: absolute;
  top: 0;
  width: 100%;
  content: "";
  left: 0;
}
#nav ul li a:hover:before, #nav ul li a.selected:before {
  height: 100%;
  z-index: -1;
  -moz-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;
  -webkit-transition: height 0.1s linear;
  transition: height 0.1s linear;
}
#nav ul li a:hover, #nav ul li a.selected {
  color: #FFFFFF;
}
#nav ul li:nth-child(2) a:before {
  background: #fd562a;
}
#nav ul li:nth-child(3) a:before {
  background: #3073a5;
}
#nav ul li:nth-child(4) a:before {
  background: #542a66;
}
#nav ul li:nth-child(5) a:before {
  background: #484848;
}
#nav ul li:nth-child(6) a:before {
  background: #da2e0b;
}
#nav ul li:nth-child(7) a:before {
  background: #f14d9a;
}
#nav ul li:nth-child(8) a:before {
  background: #0095da;
}
#nav ul li:nth-child(9) a:before {
  background: #37ba8e;
}
#nav ul li:nth-child(10) a:before {
  background: #681717;
}
#nav ul li:nth-child(11) a:before {
  background: #ff9300;
}
#nav ul li:nth-child(12) a:before {
  background: #093f65;
}
#nav ul li:nth-child(13) a:before {
  background: #02a2d1;
}
#nav ul li:nth-child(14) a:before {
  background: #38b98d;
}

.tophit [class*=-tab] {
  clear: both;
  overflow: hidden;
}
.tophit [class*=-tab] ul li a {
  display: block;
  overflow: hidden;
  position: relative;
  background: #000;
}
.tophit [class*=-tab] ul li a img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}
.tophit [class*=-tab] ul li a h3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: block;
  color: #FFFFFF;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0.5)), color-stop(60%, rgba(0, 0, 0, 0.8)), color-stop(90%, rgba(0, 0, 0, 0.9)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.9) 90%);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.9) 90%);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.9) 90%);
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.tophit {

  position: relative;
}
.tophit .today {
  width: 250px;
}
.tophit .today h2 {
  display: block;
  background: #6db600;
  margin: 4px 4px 0;
  color: #FFFFFF;
  font: 30px psl_imperialregular;
  padding: 0 10px;
  line-height: 31px;
}
.tophit .today ul {
  overflow: hidden;
  margin: 0 4px 4px;
}
.tophit .today ul li {
  box-sizing: border-box;
  padding: 4px 2px;
  width: 100%;
}
.tophit .today ul li a {
  height: 225px;
}
.tophit .today ul li a h3 {
  padding: 10px;
  font: 32px psl_imperialregular;
  line-height: 28px;
}
.tophit .bigbanner {
  width: 443px;
  height: 262px;
  background: #000000;
  position: absolute;
  top: 7px;
  left: 250px;
}
.tophit .topten {
  width: -moz-calc(100% - 693px);
  width: -webkit-calc(100% - 693px);
  width: -o-calc(100% - 693px);
  width: calc(100% - 693px);
}
.tophit .topten ul {
  overflow: hidden;
  margin: 4px;
  position: relative;
}


.tophit .topten ul li {
  width: 33%;
  margin: 5px 0 0;
}
.tophit .topten ul li a {
  margin: 0 3px;
  box-sizing: border-box;
  height: 110px;
}
.tophit .topten ul li a h3 {
  font-size: 13px;
  padding: 16px 4px 4px;
  line-height: 16px;
}
.tophit .topten ul li a:before {
  content: attr(data-view);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 10px;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 16px;
  padding: 0px 4px 0 20px;
  color: rgba(255, 255, 255, 0.8);
}
.tophit .topten ul li a:after {
  content: "\ecab";
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 12px;
  line-height: 16px;
  z-index: 2;
  font-family: 'icomoon';
  color: rgba(255, 255, 255, 0.6);
}
.tophit .topten ul li a:hover h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.tophit .topten ul li a:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tophit .topten ul li.more a {
  background: #e6bc17;
  color: #FFFFFF;
  padding: 10px 0 0;
  margin: 0 3px;
  text-align: center;
  font: 36px psl_imperialregular;
  line-height: 30px;
}
.tophit .topten ul li.more a:before {
  display: none;
}
.tophit .topten ul li.more a:after {
  content: "\ede5";
  font-family: 'icomoon';
  font-size: 30px;
  color: #FFFFFF;
  position: absolute;
  top: inherit;
  bottom: 2px;
  left: 50%;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0 0 0 -20px;
}
.tophit .topten ul:before {
  content: "";
  display: block;
  background: #6db600;
  color: #FFFFFF;
  font: 30px psl_imperialregular;
  padding: 0 10px 0 30px;
  line-height: 31px;
}
.tophit .topten ul:after {
  content: "\eb87";
  font-family: 'icomoon';
  font-size: 22px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 5px;
  left: 4px;
}

.tallbox, .tophit .horo-tab .topten li:first-child a, .tophit .horo-tab .topten li:nth-child(2) a, .tophit .tded-tab .topten li:first-child a, .tophit .health-tab .topten li:first-child a, .tophit .travel-tab .topten li:first-child a, .tophit .home-tab .topten li:first-child a, .tophit .car-tab .topten li:first-child a, .tophit .mobile-tab .topten li:first-child a, .tophit .mobile-tab .topten li:nth-child(2) a, .tophit .money-tab .topten li:first-child a, .tophit .game-tab .topten li:first-child a, .tophit .game-tab .topten li:nth-child(2) a {
  height: 225px;
}
.tallbox img, .tophit .horo-tab .topten li:first-child a img, .tophit .horo-tab .topten li:nth-child(2) a img, .tophit .tded-tab .topten li:first-child a img, .tophit .health-tab .topten li:first-child a img, .tophit .travel-tab .topten li:first-child a img, .tophit .home-tab .topten li:first-child a img, .tophit .car-tab .topten li:first-child a img, .tophit .mobile-tab .topten li:first-child a img, .tophit .mobile-tab .topten li:nth-child(2) a img, .tophit .money-tab .topten li:first-child a img, .tophit .game-tab .topten li:first-child a img, .tophit .game-tab .topten li:nth-child(2) a img {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
  height: 100%;
  width: auto;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tallbox:hover img, .tophit .horo-tab .topten li:first-child a:hover img, .tophit .horo-tab .topten li:nth-child(2) a:hover img, .tophit .tded-tab .topten li:first-child a:hover img, .tophit .health-tab .topten li:first-child a:hover img, .tophit .travel-tab .topten li:first-child a:hover img, .tophit .home-tab .topten li:first-child a:hover img, .tophit .car-tab .topten li:first-child a:hover img, .tophit .mobile-tab .topten li:first-child a:hover img, .tophit .mobile-tab .topten li:nth-child(2) a:hover img, .tophit .money-tab .topten li:first-child a:hover img, .tophit .game-tab .topten li:first-child a:hover img, .tophit .game-tab .topten li:nth-child(2) a:hover img {
  -moz-transform: scale(1.1) translateX(-50%);
  -ms-transform: scale(1.1) translateX(-50%);
  -webkit-transform: scale(1.1) translateX(-50%);
  transform: scale(1.1) translateX(-50%);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tophit .news-tab {
  border-top: 3px solid #6db600;
}
.tophit .news-tab .today h2 {
  background: #6db600;
}
.tophit .news-tab .today li {
  width: 50%;
}
.tophit .news-tab .today li a {
  height: 230px;
  padding-top: 180px;
  box-sizing: border-box;
  width: 100%;
  background: transparent;
}
.tophit .news-tab .today li a img {
  height: 175px;
  position: absolute;
  left: 50%;
  top: 0;
  width: auto;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tophit .news-tab .today li a h3 {
  height: 49px;
  padding: 3px 3px 3px;
  font: 24px psl_imperialregular;
  line-height: 22px;
  color: #000000;
  background-image: none !important;
}
.tophit .news-tab .today li a h3:after {
  height: 3px;
  background: #f14d9a;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  content: "";
}
.tophit .news-tab .today li:hover h3 {
  color: #FFFFFF;
}
.tophit .news-tab .today li:hover h3:after {
  height: 100%;
  z-index: -1;
  -moz-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;
  -webkit-transition: height 0.1s linear;
  transition: height 0.1s linear;
}
.tophit .news-tab .today li:last-child h3:after {
  background: #00a2d1;
}
.tophit .news-tab .topten ul:before {
  content: "Top 5 ประเด็นข่าวเด็ด";
  background: #6db600;
}
.tophit .news-tab .topten .more a {
  background: #6db600;
}
.tophit .clip-tab {
  border-top: 3px solid #fd562a;
}
.tophit .clip-tab .today h2 {
  background: #fd562a;
}
.tophit .clip-tab .topten ul:before {
  content: "Top 5 คลิปเด็ด คลิปฮิต";
  background: #fd562a;
}
.tophit .clip-tab .topten .more a {
  background: #fd562a;
}
.tophit .photo-tab {
  border-top: 3px solid #3073a5;
}
.tophit .photo-tab .today h2 {
  background: #3073a5;
}
.tophit .photo-tab .topten ul:before {
  content: "Top 5 รูปสวยๆ รูปฮิต";
  background: #3073a5;
}
.tophit .photo-tab .topten .more a {
  background: #3073a5;
}
.tophit .horo-tab {
  border-top: 3px solid #542a66;
}
.tophit .horo-tab .today h2 {
  background: #542a66;
}
.tophit .horo-tab .topten ul:before {
  content: "ดูดวงความรัก วันเกิด";
  background: #542a66;
}
.tophit .horo-tab .topten .more a {
  background: #542a66;
}
.tophit .tded-tab {
  border-top: 3px solid #484848;
}
.tophit .tded-tab .today h2 {
  background: #484848;
}
.tophit .tded-tab .topten ul:before {
  content: "เลขเด็ดงวดนี้ หวยเด็ดๆ ทำนายฝันแม่นๆ";
  background: #484848;
}
.tophit .tded-tab .topten .more a {
  background: #484848;
}
.tophit .cooking-tab {
  border-top: 3px solid #da2e0b;
}
.tophit .cooking-tab .today h2 {
  background: #da2e0b;
}
.tophit .cooking-tab .topten ul:before {
  content: "สูตรอาหาร ขนม เครื่องดื่ม สุดฮิต";
  background: #da2e0b;
}
.tophit .cooking-tab .topten .more a {
  background: #da2e0b;
}
.tophit .health-tab {
  border-top: 3px solid #f14d9a;
}
.tophit .health-tab .today h2 {
  background: #f14d9a;
}
.tophit .health-tab .topten ul:before {
  content: "วิธีลดน้ำหนัก ออกกำลังกาย การดูแลสุขภาพ";
  background: #f14d9a;
}
.tophit .health-tab .topten .more a {
  background: #f14d9a;
}
.tophit .travel-tab {
  border-top: 3px solid #0095da;
}
.tophit .travel-tab .today h2 {
  background: #0095da;
}
.tophit .travel-tab .topten ul:before {
  content: "แหล่งท่องเที่ยวฮิตๆ เที่ยวที่ไหนดี";
  background: #0095da;
}
.tophit .travel-tab .topten .more a {
  background: #0095da;
}
.tophit .home-tab {
  border-top: 3px solid #38b98d;
}
.tophit .home-tab .today h2 {
  background: #38b98d;
}
.tophit .home-tab .topten ul:before {
  content: "แบบห้องนอน แบบบ้าน จัดสวน";
  background: #38b98d;
}
.tophit .home-tab .topten .more a {
  background: #38b98d;
}
.tophit .car-tab {
  border-top: 3px solid #681717;
}
.tophit .car-tab .today h2 {
  background: #681717;
}
.tophit .car-tab .topten ul:before {
  content: "รถใหม่ ราคารถยนต์ ฤกษ์ออกรถ";
  background: #681717;
}
.tophit .car-tab .topten .more a {
  background: #681717;
}
.tophit .mobile-tab {
  border-top: 3px solid #ff9300;
}
.tophit .mobile-tab .today h2 {
  background: #ff9300;
}
.tophit .mobile-tab .topten ul:before {
  content: "มือถือรุ่นใหม่ มาแรง ราคามือถือใหม่";
  background: #ff9300;
}
.tophit .mobile-tab .topten .more a {
  background: #ff9300;
}
.tophit .money-tab {
  border-top: 3px solid #093f65;
}
.tophit .money-tab .today h2 {
  background: #093f65;
}
.tophit .money-tab .topten ul:before {
  content: "บัตรเครดิต สินเชื่อ วิธีเก็บเงิน เรื่องเงินทองน่ารู้";
  background: #093f65;
}
.tophit .money-tab .topten .more a {
  background: #093f65;
}
.tophit .game-tab {
  border-top: 3px solid #02a2d1;
}
.tophit .game-tab .today h2 {
  background: #02a2d1;
}
.tophit .game-tab .topten ul:before {
  content: "เกมแต่งตัว เกมทำอาหาร เกมทายใจ";
  background: #02a2d1;
}
.tophit .game-tab .topten .more a {
  background: #02a2d1;
}
.tophit .market-tab {
  border-top: 3px solid #38b98d;
}
.tophit .market-tab .today h2 {
  background: #38b98d;
}
.tophit .market-tab .today li a {
  height: 110px;
}
.tophit .market-tab .topten ul:before {
  content: "รถมือสอง สินค้ามือหนึ่ง มือสอง ลงประกาศฟรี";
  background: #38b98d;
}
.tophit .market-tab .topten .more a {
  background: #38b98d;
}

#highlight {
  position: relative;
}
#highlight ol {
  height: 45px;
}
#highlight ol li {
  width: 11.11111%;
  padding: 0 2px 0;
  box-sizing: border-box;
}
#highlight ol li a {
  display: block;
  color: #000;
  padding: 6px 0 4px;
  text-align: center;
  position: relative;
  font: 32px psl_imperialregular;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px;
}
#highlight ol li a:before {
  height: 3px;
  background: #a6d32e;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#highlight ol li a.selected:after {
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  border-top: 16px solid #a6d32e;
  border-left: 65px solid transparent;
  border-right: 64px solid transparent;
  position: absolute;
  bottom: -16px;
  left: 0;
}
#highlight ol li a:hover:before, #highlight ol li a.selected:before {
  height: 100%;
  z-index: -1;
  -moz-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;
  -webkit-transition: height 0.1s linear;
  transition: height 0.1s linear;
}
#highlight ol li a:hover, #highlight ol li a.selected {
  color: #FFFFFF;
}
#highlight ol li:nth-child(2) a:before {
  background: #ec093f;
}
#highlight ol li:nth-child(2) a.selected:after {
  border-top: 16px solid #ec093f;
}


#highlight ol li:nth-child(3) a:before {
  background: #fabd27;
}
#highlight ol li:nth-child(3) a.selected:after {
  border-top: 16px solid #fabd27;
}
#highlight ol li:nth-child(4) a:before {
  background: #88c100;
}
#highlight ol li:nth-child(4) a.selected:after {
  border-top: 16px solid #88c100;
}
#highlight ol li:nth-child(5) a:before {
  background: #fa00ab;
}
#highlight ol li:nth-child(5) a.selected:after {
  border-top: 16px solid #fa00ab;
}


#highlight ol li:nth-child(6) a:before {
  background: #023f85;
}
#highlight ol li:nth-child(6) a.selected:after {
  border-top: 16px solid #023f85;
}

#highlight ol li:nth-child(7) a:before {
  background: #ff8a00;
}
#highlight ol li:nth-child(7) a.selected:after {
  border-top: 16px solid #ff8a00;
}


#highlight ol li:nth-child(8) a:before {
  background: #00bac1;
}
#highlight ol li:nth-child(8) a.selected:after {
  border-top: 16px solid #00bac1;
}
#highlight ol li:nth-child(9) a:before {
  background: #5c5c5c;
}
#highlight ol li:nth-child(9) a.selected:after {
  border-top: 16px solid #5c5c5c;
}

#highlight [class*=mainhilight-] {
  clear: both;
  margin-top: 5px;
}
#highlight [class*=mainhilight-] ul {
  overflow: hidden;
}
#highlight [class*=mainhilight-] ul li {
  display: inline;
  width: 16.66667%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 165px;
}
#highlight [class*=mainhilight-] ul li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight [class*=mainhilight-] ul li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight [class*=mainhilight-] ul li a img.icon {
  display: inline;
  float: none;
  height: auto;
  width: auto;
}
#highlight [class*=mainhilight-] ul li img.icon {
  display: inline;
  float: none;
  height: auto;
  width: auto;
}

#highlight .mainhilight-tab1 ul li:first-child {
  width: 33.33333%;
  height: 330px;
}
#highlight .mainhilight-tab1 ul li:first-child strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab1 ul li:nth-child(20) {
  clear: left;
}
#highlight .mainhilight-tab1 .keyword {
  background: #f1ffca;
  padding: 6px 0;
  margin: 8px 0;
}
#highlight .mainhilight-tab1 .keyword:before {
  content: "คำฮิต";
  background: #cee19a;
  color: #405605;
  padding: 6px 12px;
}
#highlight .mainhilight-tab1 .keyword a {
  color: #517A00;
  font-size: 15px;
}
#highlight .mainhilight-tab1 a.more {
  display: block;
  background: #a6d32e;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
}
#highlight .mainhilight-tab2 ul li:first-child {
  width: 33.33333%;
  height: 330px;
}
#highlight .mainhilight-tab2 ul li:first-child strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab2 li {
  display: inline;
  width: 16.66667%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 165px;
}
#highlight .mainhilight-tab2 li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab2 li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab2 ul li:nth-child(20) {
  clear: left;
}
#highlight .mainhilight-tab2 .keyword {
  background: #fff2f5;
  padding: 6px 0;
  margin: 8px 0;
}
#highlight .mainhilight-tab2 .keyword:before {
  content: "คำฮิต";
  background: #fbaec0;
  color: #7d001e;
  padding: 6px 12px;
}
#highlight .mainhilight-tab2 .keyword a {
  color: #7d001e;
  font-size: 15px;
}
#highlight .mainhilight-tab2 a.more {
  display: block;
  background: #ec093f;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
}

#highlight .mainhilight-tab3 .travel-tab {
  width: 49.5%;
  display: inline;
  float: left;
  margin-right:1%;
}
#highlight .mainhilight-tab3 .travel-tab h3 {
  height: 40px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #1f910b;
  border-top: 2px #1f910b solid;
}
#highlight .mainhilight-tab3 .travel-tab h3 a {
  color: #fff;
  float: right;
  background: #1f910b;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab3 .travel-tab li:first-child {
  padding-bottom: 5px;
  width: 67%;
  height: 340px;
}
#highlight .mainhilight-tab3 .travel-tab li:first-child strong {
  font-weight: bold;
  color: #1f910b;
  margin-right:6px;
}
#highlight .mainhilight-tab3 .travel-tab li {
  display: inline;
  width: 33%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 173px;
}
#highlight .mainhilight-tab3 .travel-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab3 .travel-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}


#highlight .mainhilight-tab3 .travel-tab {
  width: 49%;
  display: inline;
  float: left;
  margin:8px 12px 8px 0;
}
#highlight .mainhilight-tab3 .travel-tab h3 {
  height: 40px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #1f910b;
  border-top: 2px #1f910b solid;
}
#highlight .mainhilight-tab3 .travel-tab h3 a {
  color: #fff;
  float: right;
  background: #1f910b;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab3 .travel-tab li:first-child {
  padding-bottom: 5px;
  width: 67%;
  height: 340px;
}
#highlight .mainhilight-tab3 .travel-tab li:first-child strong {
  font-weight: bold;
  color: #1f910b;
}
#highlight .mainhilight-tab3 .travel-tab li {
  display: inline;
  width: 33%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 173px;
}
#highlight .mainhilight-tab3 .travel-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab3 .travel-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}



#highlight .mainhilight-tab3 .cooking-tab {
  width: 49.5%;
  display: inline;
  float: left;
   margin:8px 0;
}
#highlight .mainhilight-tab3 .cooking-tab h3 {
  height: 40px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #ed5621;
  border-top: 2px #ed5621 solid;
}
#highlight .mainhilight-tab3 .cooking-tab h3 a {
  color: #fff;
  float: right;
  background: #ed5621;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab3 .cooking-tab li:first-child {
  padding-bottom: 5px;
  width: 67%;
  height: 340px;
}
#highlight .mainhilight-tab3 .cooking-tab li:first-child strong {
  font-weight: bold;
  color: #ed5621;
    margin-right:6px;
}
#highlight .mainhilight-tab3 .cooking-tab li {
  display: inline;
  width: 33%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 173px;
}
#highlight .mainhilight-tab3 .cooking-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab3 .cooking-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}


#highlight .mainhilight-tab3 .home-dec-tab {
  width: 33%;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab3 .home-dec-tab h3 {
  height: 40px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #1fad87;
  border-top: 2px #1fad87 solid;
}
#highlight .mainhilight-tab3 .home-dec-tab h3 a {
  color: #fff;
  float: right;
  background: #1fad87;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab3 .home-dec-tab li:first-child {
  padding-bottom: 5px;
  width: 50%;
  height: 340px;
}
#highlight .mainhilight-tab3 .home-dec-tab li:first-child strong {
  font-weight: bold;
  color: #20ad83;
}
#highlight .mainhilight-tab3 .home-dec-tab li {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 175px;
}
#highlight .mainhilight-tab3 .home-dec-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab3 .home-dec-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}


#highlight .mainhilight-tab3 .health-tab2 {
  width: 33%;
  display: inline;
  float: left;
  margin-left:1%;
}
#highlight .mainhilight-tab3 .health-tab2 h3 {
  height: 40px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #5b64d0;
  border-top: 2px #5b64d0 solid;
}
#highlight .mainhilight-tab3 .health-tab2 h3 a {
  color: #fff;
  float: right;
  background: #5b64d0;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab3 .health-tab2 li:first-child {
  padding-bottom: 5px;
  width: 50%;
  height: 340px;
}
#highlight .mainhilight-tab3 .health-tab2 li:first-child strong {
  font-weight: bold;
  color: #5b64d0;
}
#highlight .mainhilight-tab3 .health-tab2 li {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 175px;
}
#highlight .mainhilight-tab3 .health-tab2 li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab3 .health-tab2 li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}



#highlight .mainhilight-tab3 ul li:first-child {
  width: 33.33333%;
  height: 330px;
}
#highlight .mainhilight-tab3 ul li:first-child strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab3 li {
  display: inline;
  width: 16.66667%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 165px;
}
#highlight .mainhilight-tab3 li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab3 li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab3 ul li:nth-child(20) {
  clear: left;
}
#highlight .mainhilight-tab3 .keyword {
  background: #ffedd8;
  padding: 6px 0;
  margin: 8px 0;
}
#highlight .mainhilight-tab3 .keyword:before {
  content: "คำฮิต";
  background: #ffb45c;
  color: #794100;
  padding: 6px 12px;
}
#highlight .mainhilight-tab3 .keyword a {
  color: #794100;
  font-size: 15px;
}
#highlight .mainhilight-tab3 a.more {
  display: block;
  background: #b96400;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
}
#highlight .mainhilight-tab4 ul li:first-child {
  width: 33.33333%;
  height: 330px;
}
#highlight .mainhilight-tab4 ul li:first-child strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab4 li {
  display: inline;
  width: 16.66667%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 165px;
}
#highlight .mainhilight-tab4 li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab4 li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab4 ul li:nth-child(20) {
  clear: left;
}
#highlight .mainhilight-tab4 .keyword {
  background: #fff1ce;
  padding: 6px 0;
  margin: 8px 0;
}
#highlight .mainhilight-tab4 .keyword:before {
  content: "คำฮิต";
  background: #feca4b;
  color: #886100;
  padding: 6px 12px;
}
#highlight .mainhilight-tab4 .keyword a {
  color: #886100;
  font-size: 15px;
}
#highlight .mainhilight-tab4 a.more {
  display: block;
  background: #e5a405;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
}
#highlight .mainhilight-tab5 .movie-tab {
  width: 67%;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab5 .movie-tab li:first-child, #highlight .mainhilight-tab5 .movie-tab li:nth-child(2) {
  padding-bottom: 5px;
  width: 25%;
  height: 340px;
}
#highlight .mainhilight-tab5 .movie-tab li:first-child strong, #highlight .mainhilight-tab5 .movie-tab li:nth-child(2) strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab5 .movie-tab li {
  display: inline;
  width: 25%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 175px;
}
#highlight .mainhilight-tab5 .movie-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab5 .movie-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab5 .now-showing-tab {
  display: inline;
  float: left;
  height: 330px;
  background: #fa0064;
  border: 3px #fff solid;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px 8px;
}
#highlight .mainhilight-tab5 .now-showing-tab h3 {
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
}
#highlight .mainhilight-tab5 .now-showing-tab .now-showing {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  width: 95%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab5 .now-showing-tab .now-showing a {
  border-bottom: dashed 1px #555;
  font-size: 12px;
  display: block;
  overflow: hidden;
  padding: 3px 0 10px 0;
  text-align: left;
  height: 30px;
  margin-bottom: 3px;
  color: #9999a5;
}
#highlight .mainhilight-tab5 .now-showing-tab .now-showing a strong {
  font-size: 13px;
  color: #fa0064;
  display: block;
  text-align: left;
}
#highlight .mainhilight-tab5 .now-showing-tab a.more {
  text-align: center;
  color: #8e0039;
  background: #ffe4ef;
  padding: 3px 0;
  font-size: 13px;
  width: 95%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab5 .coming-soon-tab {
  display: inline;
  float: left;
  height: 330px;
  background: #42c210;
  border: 3px #fff solid;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px 8px;
}
#highlight .mainhilight-tab5 .coming-soon-tab h3 {
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
}
#highlight .mainhilight-tab5 .coming-soon-tab .coming-soon {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  width: 95%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab5 .coming-soon-tab .coming-soon a {
  border-bottom: dashed 1px #555;
  font-size: 12px;
  display: block;
  overflow: hidden;
  padding: 3px 0 10px 0;
  text-align: left;
  height: 30px;
  margin-bottom: 3px;
  color: #9999a5;
}
#highlight .mainhilight-tab5 .coming-soon-tab .coming-soon a strong {
  font-size: 13px;
  color: #836b0b;
  display: block;
  text-align: left;
}
#highlight .mainhilight-tab5 .coming-soon-tab a.more {
  text-align: center;
  color: #185400;
  background: #c8ffb2;
  padding: 3px 0;
  font-size: 13px;
  width: 95%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab5 .music-tab {
  width: 33.33333%;
  height: 340px;
  background: #00bac1;
  border: 3px #fff solid;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px 8px;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab5 .music-tab h3 {
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
}
#highlight .mainhilight-tab5 .music-tab .tab-menu-music-hits {
  overflow: hidden;
  width: 100%;
}
#highlight .mainhilight-tab5 .music-tab .tab-menu-music-hits a.tab01 {
  background: #fd8d08;
  display: inline;
  float: left;
  width: 40%;
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
  margin-left: 2.5%;
}
#highlight .mainhilight-tab5 .music-tab .tab-menu-music-hits a.tab02 {
  background: #9fd300;
  display: inline;
  float: left;
  width: 55%;
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
  margin-right: 2.5%;
}
#highlight .mainhilight-tab5 .music-tab .tab-menu-music-hits a:hover.tab01 {
  background: #004244;
  display: inline;
  float: left;
  width: 40%;
  font-weight: bold;
  color: #defeff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
  cursor: pointer;
  margin-left: 2.5%;
}
#highlight .mainhilight-tab5 .music-tab .tab-menu-music-hits a:hover.tab02 {
  background: #002829;
  display: inline;
  float: left;
  width: 55%;
  font-weight: bold;
  color: #defeff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
  cursor: pointer;
  margin-right: 2.5%;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-thai {
  background: #fff;
  padding: 7px 0 0px 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 95%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-thai a {
  border-bottom: dashed 1px #555;
  font-size: 12px;
  display: block;
  overflow: hidden;
  padding: 5px 0 10px 0;
  text-align: left;
  margin-bottom: 3px;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-thai a img {
  width: 15px;
  height: 15px;
  float: left;
  display: inline;
  margin: 0 4px 0 8px;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-thai a strong {
  font-size: 13px;
  color: #bd6700;
  float: left;
  display: inline;
  margin-right: 4px;
  text-align: left;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-thai a span {
  font-size: 13px;
  color: #9999a5;
  float: left;
  display: inline;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-inter {
  background: #fff;
  padding: 7px 0 0px 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 95%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-inter a {
  border-bottom: dashed 1px #555;
  font-size: 12px;
  display: block;
  overflow: hidden;
  padding: 5px 0 10px 0;
  text-align: left;
  margin-bottom: 3px;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-inter a img {
  width: 15px;
  height: 15px;
  float: left;
  display: inline;
  margin: 0 4px 0 8px;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-inter a strong {
  font-size: 13px;
  color: #40b400;
  float: left;
  display: inline;
  margin-right: 4px;
  text-align: left;
}
#highlight .mainhilight-tab5 .music-tab .music-hits-inter a span {
  font-size: 13px;
  color: #9999a5;
  float: left;
  display: inline;
}
#highlight .mainhilight-tab5 .music-tab a.more {
  text-align: center;
  color: #007074;
  background: #dbf3f4;
  padding: 3px 0;
  font-size: 13px;
  width: 95%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab5 .music-content-tab {
  width: 33%;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab5 .music-content-tab li {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 175px;
}
#highlight .mainhilight-tab5 .music-content-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab5 .music-content-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab5 ul li:nth-child(10) {
  clear: left;
}
#highlight .mainhilight-tab5 .keyword {
  background: #f1ffca;
  padding: 6px 0;
  margin: 8px 0;
}
#highlight .mainhilight-tab5 .keyword:before {
  content: "คำฮิต";
  background: #cee19a;
  color: #405605;
  padding: 6px 12px;
}
#highlight .mainhilight-tab5 .keyword a {
  color: #517A00;
  font-size: 15px;
}
#highlight .mainhilight-tab5 a.more {
  display: block;
  background: #a6d32e;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
}
#highlight .mainhilight-tab6 .women-tab1 {
  width: 100%;
  display: block;
}
#highlight .mainhilight-tab6 .women-tab1 ul li:first-child, #highlight .mainhilight-tab6 .women-tab1 ul li:nth-child(2), #highlight .mainhilight-tab6 .women-tab1 ul li:nth-child(3), #highlight .mainhilight-tab6 .women-tab1 ul li:nth-child(4) {
  padding-bottom: 5px;
  width: 16.66667%;
  height: 340px;
}
#highlight .mainhilight-tab6 .women-tab1 ul li:first-child strong, #highlight .mainhilight-tab6 .women-tab1 ul li:nth-child(2) strong, #highlight .mainhilight-tab6 .women-tab1 ul li:nth-child(3) strong, #highlight .mainhilight-tab6 .women-tab1 ul li:nth-child(4) strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab6 .women-tab1 li {
  display: inline;
  width: 16.66667%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 170px;
}
#highlight .mainhilight-tab6 .women-tab1 li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab6 .women-tab1 li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab6 .women-tab2 {
  width: 33.33%;
  float: left;
  display: inline;
}
#highlight .mainhilight-tab6 .women-tab2 h3 {
  height: 40px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #ed3d78;
  border-top: 2px #ed3d78 solid;
}
#highlight .mainhilight-tab6 .women-tab2 h3 a {
  color: #fff;
  float: right;
  background: #ed3d78;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab6 .women-tab2 ul li:first-child {
  padding-bottom: 5px;
  width: 50%;
  height: 340px;
}
#highlight .mainhilight-tab6 .women-tab2 ul li:first-child strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab6 .women-tab2 li {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 170px;
}
#highlight .mainhilight-tab6 .women-tab2 li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab6 .women-tab2 li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab6 .women-tab3 {
  width: 33.33%;
  float: left;
  display: inline;
  clear: right;
}
#highlight .mainhilight-tab6 .women-tab3 h3 {
  height: 40px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #d1b361;
  border-top: 2px #d1b361 solid;
}
#highlight .mainhilight-tab6 .women-tab3 h3 a {
  color: #fff;
  float: right;
  background: #d1b361;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab6 .women-tab3 ul li:first-child {
  padding-bottom: 5px;
  width: 50%;
  height: 340px;
}
#highlight .mainhilight-tab6 .women-tab3 ul li:first-child strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab6 .women-tab3 li {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 170px;
}
#highlight .mainhilight-tab6 .women-tab3 li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab6 .women-tab3 li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab6 .keyword {
  background: #ffe6f7;
  padding: 6px 0;
  margin: 8px 0;
}
#highlight .mainhilight-tab6 .keyword:before {
  content: "คำฮิต";
  background: #ff76d4;
  color: #960067;
  padding: 6px 12px;
}
#highlight .mainhilight-tab6 .keyword a {
  color: #960067;
  font-size: 15px;
}
#highlight .mainhilight-tab6 a.more {
  display: block;
  background: #fa00ab;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
}
#highlight .mainhilight-tab7 .men-tab {
  width: 67%;
  display: inline;
  float: left;
  padding-top: 30px;
}
#highlight .mainhilight-tab7 .men-tab li:first-child, #highlight .mainhilight-tab7 .men-tab li:nth-child(2) {
  padding-bottom: 5px;
  width: 25%;
  height: 340px;
}
#highlight .mainhilight-tab7 .men-tab li:first-child strong, #highlight .mainhilight-tab7 .men-tab li:nth-child(2) strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab7 .men-tab li {
  display: inline;
  width: 25%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 175px;
}
#highlight .mainhilight-tab7 .men-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab7 .men-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab7 .it-tab {
  width: 33%;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab7 .it-tab h3 {
  height: 30px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #00798f;
  border-top: 2px #00798f solid;
}
#highlight .mainhilight-tab7 .it-tab h3 a {
  color: #fff;
  float: right;
  background: #00798f;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab7 .it-tab li:first-child {
  padding-bottom: 5px;
  width: 50%;
  height: 340px;
}
#highlight .mainhilight-tab7 .it-tab li:first-child strong {
  font-weight: bold;
  color: #FF8E00;
}
#highlight .mainhilight-tab7 .it-tab li {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 175px;
}
#highlight .mainhilight-tab7 .it-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab7 .it-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab7 .car-tab {
  width: 67%;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab7 .car-tab h3 {
  height: 40px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #792ca1;
  border-top: 2px #792ca1 solid;
}
#highlight .mainhilight-tab7 .car-tab h3 a {
  color: #fff;
  float: right;
  background: #792ca1;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab7 .car-tab li:first-child {
  padding-bottom: 5px;
  width: 50%;
  height: 340px;
}
#highlight .mainhilight-tab7 .car-tab li:first-child strong {
  font-weight: bold;
  color: #792ca1;
}
#highlight .mainhilight-tab7 .car-tab li {
  display: inline;
  width: 25%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 165px;
}
#highlight .mainhilight-tab7 .car-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab7 .car-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab7 ul li:nth-child(10) {
  clear: left;
}
#highlight .mainhilight-tab7 .keyword {
  background: #e0eeff;
  padding: 6px 0;
  margin: 8px 0;
}
#highlight .mainhilight-tab7 .keyword:before {
  content: "คำฮิต";
  background: #539aec;
  color: #002044;
  padding: 6px 12px;
}
#highlight .mainhilight-tab7 .keyword a {
  color: #002044;
  font-size: 15px;
}
#highlight .mainhilight-tab7 a.more {
  display: block;
  background: #023f85;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
}
#highlight .mainhilight-tab8 .variety-tab {
  width: 100%;
  display: inline;
  float: left;
  padding-top: 30px;
}

#highlight .mainhilight-tab8 .variety-tab li:first-child {
  padding-bottom: 5px;
  width: 33.33%;
  height: 340px;
}
 #highlight .mainhilight-tab8 .variety-tab li:nth-child(2) ,  #highlight .mainhilight-tab8 .variety-tab li:nth-child(3){
  padding-bottom: 5px;
  width: 16.6%;
  height: 340px;
}

#highlight .mainhilight-tab8 .variety-tab li:nth-child(12)  { clear:left;}

#highlight .mainhilight-tab8 .variety-tab li:first-child strong {
  font-weight: bold;
  color: #0ab0b6;
  margin-right:6px;
}
#highlight .mainhilight-tab8 .variety-tab li {
  display: inline;
  width: 16.6%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 175px;
}
#highlight .mainhilight-tab8 .variety-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab8 .variety-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}

/*#highlight .mainhilight-tab8 .home-dec-tab {
  width: 67%;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab8 .home-dec-tab h3 {
  height: 40px;
  width: 100%;
  font: 32px psl_imperialregular;
  text-indent: 15px;
  color: #2e8095;
  border-top: 2px #2e8095 solid;
}
#highlight .mainhilight-tab8 .home-dec-tab h3 a {
  color: #fff;
  float: right;
  background: #2e8095;
  padding: 4px 10px;
  font: 25px psl_imperialregular;
  text-align: center;
}
#highlight .mainhilight-tab8 .home-dec-tab li:first-child {
  padding-bottom: 5px;
  width: 50%;
  height: 340px;
}
#highlight .mainhilight-tab8 .home-dec-tab li:first-child strong {
  font-weight: bold;
  color: #005a80;
}
#highlight .mainhilight-tab8 .home-dec-tab li {
  display: inline;
  width: 25%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 185px;
}
#highlight .mainhilight-tab8 .home-dec-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab8 .home-dec-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}*/

#highlight .mainhilight-tab8 .keyword {
  background: #f1ffca;
  padding: 6px 0;
  margin: 8px 0;
}
#highlight .mainhilight-tab8 .keyword:before {
  content: "คำฮิต";
  background: #cee19a;
  color: #405605;
  padding: 6px 12px;
}
#highlight .mainhilight-tab8 .keyword a {
  color: #517A00;
  font-size: 15px;
}
#highlight .mainhilight-tab8 a.more {
  display: block;
  background: #a6d32e;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
}
#highlight .mainhilight-tab9 .football-tab {
  width: 100%;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab9 .football-tab li:first-child {
  padding-bottom: 5px;
  width: 33.33333%;
  height: 340px;
}
#highlight .mainhilight-tab9 .football-tab li:first-child strong {
  font-weight: bold;
  color: #038488;
}
#highlight .mainhilight-tab9 .football-tab li:first-child img {
  margin-bottom: 15px;
}
#highlight .mainhilight-tab9 .football-tab li {
  display: inline;
  width: 16.66667%;
  box-sizing: border-box;
  padding: 4px 8px 0;
  height: 190px;
}
#highlight .mainhilight-tab9 .football-tab li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
#highlight .mainhilight-tab9 .football-tab li a img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
#highlight .mainhilight-tab9 .football-today-tab {
  width: 32%;
  height: 350px;
  background: #007579;
  border: 3px #fff solid;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab9 .football-today-tab h3 {
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
}
#highlight .mainhilight-tab9 .football-today-tab .title-football-today {
  overflow: hidden;
  width: 100%;
  padding-bottom: 0px;
}
#highlight .mainhilight-tab9 .football-today-tab .title-football-today strong.tab01 {
  background: #00494b;
  display: block;
  float: left;
  width: 100%;
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
}
#highlight .mainhilight-tab9 .football-today-tab .title-football-today strong.tab02 {
  background: #007579;
  display: block;
  float: left;
  width: 98%;
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-align: right;
  margin-right: 40px;
}
#highlight .mainhilight-tab9 .football-today-tab .football-today-table {
  background: #fff;
  padding: 0px 0 0px 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 98%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab9 .football-today-tab .football-today-table a {
  border-bottom: dashed 1px #555;
  font-size: 12px;
  display: block;
  overflow: hidden;
  line-height: 25px;
  padding: 0px 15px 0px 12px;
  text-align: center;
  margin-bottom: 0px;
}
#highlight .mainhilight-tab9 .football-today-tab .football-today-table a strong {
  font-size: 13px;
  color: #006d71;
  display: inline;
  margin-right: 4px;
  text-align: center;
}
#highlight .mainhilight-tab9 .football-today-tab .football-today-table a span {
  font-size: 12px;
  color: #555;
  float: left;
  display: inline;
  border-right: 2px solid #007579;
  padding-right: 8px;
}
#highlight .mainhilight-tab9 .football-today-tab .football-today-table a:hover {
  background: #eee;
}
#highlight .mainhilight-tab9 .football-today-tab a.more {
  text-align: center;
  color: #007074;
  background: #dbf3f4;
  padding: 3px 0;
  font-size: 13px;
  width: 95%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab9 .football-result-tab {
  width: 33%;
  height: 350px;
  background: #30c98a;
  border: 3px #fff solid;
  display: inline;
  float: left;
}
#highlight .mainhilight-tab9 .football-result-tab h3 {
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-indent: 15px;
}
#highlight .mainhilight-tab9 .football-result-tab .title-football-result {
  overflow: hidden;
  width: 96%;
  padding-bottom: 0px;
  display: block;
  margin: 0 auto;
  background: #00a25f;
  font-weight: bold;
  color: #fff;
  font: 25px psl_imperialregular;
  text-align: right;
  overflow: hidden;
  padding-right: 10px;
}
#highlight .mainhilight-tab9 .football-result-tab .football-result-table {
  background: #fff;
  padding: 0px 0 0px 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 98%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab9 .football-result-tab .football-result-table a {
  border-bottom: dashed 1px #555;
  font-size: 12px;
  display: block;
  overflow: hidden;
  line-height: 25px;
  padding: 0px 15px 0px 12px;
  text-align: left;
  margin-bottom: 0px;
}
#highlight .mainhilight-tab9 .football-result-tab .football-result-table a strong:first-child {
  width: 12%;
  display: inline;
  float: left;
  color: #666;
  font-size: 13px;
  text-align: center;
}
#highlight .mainhilight-tab9 .football-result-tab .football-result-table a strong:nth-child(2) {
  width: 36%;
  display: inline;
  float: left;
  color: #00b269;
  font-size: 13px;
  text-align: right;
}
#highlight .mainhilight-tab9 .football-result-tab .football-result-table a strong:nth-child(3) {
  width: 16%;
  display: inline;
  float: left;
  color: #666;
  font-size: 13px;
  text-align: center;
}
#highlight .mainhilight-tab9 .football-result-tab .football-result-table a strong:nth-child(4) {
  width: 36%;
  display: inline;
  float: left;
  color: #00b269;
  font-size: 13px;
  text-align: left;
}
#highlight .mainhilight-tab9 .football-result-tab .football-result-table a:hover {
  background: #eee;
}
#highlight .mainhilight-tab9 .football-result-tab a.more {
  text-align: center;
  color: #007074;
  background: #dbf3f4;
  padding: 3px 0;
  font-size: 13px;
  width: 95%;
  display: block;
  margin: 0 auto;
}
#highlight .mainhilight-tab9 .keyword {
  background: #e8e8e8;
  padding: 6px 0;
  margin: 8px 0;
}
#highlight .mainhilight-tab9 .keyword:before {
  content: "คำฮิต";
  background: #909090;
  color: #484848;
  padding: 6px 12px;
}
#highlight .mainhilight-tab9 .keyword a {
  color: #484848;
  font-size: 15px;
}
#highlight .mainhilight-tab9 a.more {
  display: block;
  background: #5c5c5c;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 0;
}
#highlight .targetbanner-hilight {
  width: 300px;
  height: 250px;
  background: #000000;
  position: absolute;
}

/* All zone */
#highlight ol li a:hover, #nav ul li a:hover, .bar-top ul li a:hover {
  text-decoration: none;
}

#header {
  position: relative;
}

.zone header {
  overflow: hidden;
  padding: 10px 5px 10px 50px;
  position: relative;
  margin-top: 20px;
  border-bottom: 2px solid #eeeeee;
}
.zone header a:hover {
  text-decoration: none;
}
.zone header h2 {
  font: 34px psl_imperialregular;
  line-height: 22px;
  color: #000000;
}
.zone header span {
  font: 12px Tahoma;
  color: #A3A3A3;
  display: block;
}
.zone header:before {
  font: 20px icomoon;


  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  background: #ea87bd;
  border-radius: 100%;
  position: absolute;
  left: 4px;
  top: 8px;
}
.zone header a.more {
  text-align: right;
  font: 13px Tahoma;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  top: 7px;
  right: 2px;
  padding-right: 40px;
  line-height: 16px;
}
.zone header a.more:after {
  content: "\ede5";
  font: 20px icomoon;
  color: #FFFFFF;
  display: block;
  position: absolute;
  top: 11px;
  right: 10px;
}
.zone ul {
  overflow: hidden;
}
.zone ul li {
  box-sizing: border-box;
  padding: 10px 5px 0;
  overflow: hidden;
  height: 190px;
}
.zone ul li a {
  font-size: 15px;
  color: #000000;
  line-height: 18px;
  font-family: Tahoma;
}
.zone ul li a img:first-child {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 4px;
}
.zone ul li a h3 {
  display: inline;
  font-family: Tahoma;
}
.zone ul li a img.icon {
  padding: 0 5px;
  display: inline;
}
@media screen and (max-width: 1199px) {
  .zone ul li a {
    font-size: 13px;
    color: #000000;
    line-height: 18px;
    font-family: Tahoma;
  }
  .zone ul li a img:first-child {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 4px;
  }
  .zone ul li a h3 {
    display: inline;
    font-family: Tahoma;
  }
  .zone ul li a img.icon {
    padding: 0 5px;
    display: inline;
  }
}
.zone .keyword {
  padding: 5px 0;
  margin: 8px 0;
}
.zone .keyword:before {
  content: "คำฮิต";
  padding: 7px 12px;
  font-size: 14px;
  margin-right: 5px;
}
.zone .keyword:before a {
  font-size: 14px;
}
@media screen and (max-width: 1199px) {
  .keyword .zone:before {
    font-size: 13px;
  }
}
@media screen and (max-width: 1199px) {
  .keyword .zone:before a {
    font-size: 13px;
  }
}

/* fix zone */
#social-news header {
  border-top: 2px solid #ffac2a;
}
#social-news header:before {
  content: "\eedd";
}
#social-news header:before, #social-news header a.more {
  background: #ffac2a;
}
#social-news ul li {
  width: 16.66%;
  height: 200px;
}



  
  
#thaihealth header {
 border-top: 2px solid #fff;
border-bottom: 2px solid #f17e23; margin-bottom:15px;
padding: 0px 0px 0px 0px;}


#thaihealth header h2 { float:left; display:inline; line-height:20px; padding:15px 0 0 20px;}


#thaihealth header h2 a { 
    font-family: 'kwamsookregular' !important; font-size:28px;
    line-height: 30px;
    color: #000000; }
  
#thaihealth header a img { float:right; }


#thaihealth header:before { display:none;
}
#thaihealth header:before, #thaihealth header a.more { display:none
}


#thaihealth li:first-child h3 {
  color: #fff;
  padding: 5px 0 0;
  font-weight: bold;

}

#thaihealth li h3 {
  color: #fff;
  padding: 5px 0 0;
  font-weight: bold;

  
}



#thaihealth ul li a { color:#fff}

#thaihealth ul  li:last-child { padding:10px 15px 10px 15px; }

@media screen and (max-width: 1199px) 
{ 


#thaihealth header h2 a { 
    font-family: 'kwamsookregular' !important; font-size:28px !important;
    line-height: 30px;
    color: #000000; }
  
#thaihealth ul li { background-color:#009881;
padding:10px 15px 0px 15px;
  width: 33%;
   height: auto;
}

#thaihealth li:first-child { background-color:#009881;
  width: 33%;
  height: 338px;
  box-sizing: border-box;
  padding:10px 15px 0px 15px;
}

#thaihealth li:first-child  a img { width: 310px; height:auto; display:block; margin:0 auto; margin-bottom:5px;}

#thaihealth li:nth-child(3) { text-align:center;   background-color:#fff;
float:right;   width: 33%;
  height: auto;
  box-sizing: border-box;
  padding:10px 5px;}  
  
  #thaihealth ul li:nth-child(3) a img { width:300px; height:auto; display:block; margin:0 auto}
  
  #thaihealth ul li a img { width:150px; height:auto; float:left; display:inline-block; margin-right:6px;}

}
  
  
@media screen and (min-width: 1200px) {

#thaihealth li:first-child { background-color:#009881;
  width: 33%;
  height: 403px;
  box-sizing: border-box;
  padding:10px 15px 0px 15px;
}

#thaihealth li:first-child  a img { width: 386px; height:auto; display:block; margin:0 auto; margin-bottom:5px;}

#thaihealth li:nth-child(3) { text-align:center;   background-color:#fff;
float:right;   width: 27%;
  height: 403px;
  box-sizing: border-box;
  padding:10px 15px;}  
  
  
#thaihealth ul li:nth-child(3) a img { width:300px; height:auto; display:block; margin:0 auto}

#thaihealth ul li { background-color:#009881;
padding:10px 15px 0px 15px;
  width: 39%;
  height: auto;
}
#thaihealth ul li a img { width:187px; height:auto; float:left; display:inline-block; margin-right:6px;}
}

@media screen and (max-width: 1199px) {
  #social-news ul li {
    height: 180px;
  }

  
}
#social-news .keyword {
  background: #fff3ce;
}
#social-news .keyword:before {
  background: #ffac2a;
  color: #FFFFFF;
}
#social-news .keyword a {
  color: #8b6900;
  font-size: 13px;
}


#thaihealth .keyword:before {  content: ""; }
#thaihealth .keyword { background: #f17e23; text-align:right; padding: 7px 12px; overflow:hidden; }

#thaihealth .keyword a { float:right; margin-right:15px;
  color: #fff;
  font-size: 13px;
}

#clip-zone header {
  border-top: 2px solid #525252;
}
#clip-zone header:before {
  content: "\eef3";
}
#clip-zone header:before, #clip-zone header a.more {
  background: #525252;
}
#clip-zone ul li {
  width: 16.66%;
  height: 187px;
}
#clip-zone ul li strong {
  display: block;
  background: #525252;
  padding: 5px 10px;
  margin: 0;
  color: #FFFFFF;
  width: 580px;
  box-sizing: border-box;
}
#clip-zone ul li h3 {
  padding: 5px 0 0;
}
@media screen and (max-width: 1199px) {
  #clip-zone ul li:first-child a img {
    width: 95%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  #clip-zone ul li:first-child div.ads2 {
    width: 100%;
    height: auto;
    margin-top: 30px;
    float: left;
    text-align: center;
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  #clip-zone ul li:first-child a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1199px) {
  #clip-zone ul li:first-child a strong {
    width: 95%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  #clip-zone ul li {
    height: 160px;
  }
}
#clip-zone li:first-child {
  width: 50%;
  height: 368px;
  box-sizing: border-box;
  padding: 5px 0;
}
#clip-zone li:first-child div.ads2 {
  width: 580px;
  height: 120px;
  margin-top: 20px;
  float: left;
  text-align: center;
}
#clip-zone li:first-child a img {
  width: 95%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
#clip-zone li:first-child a strong {
  width: 95%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  #clip-zone ul li:first-child {
    height: 320px;
  }
}
#clip-zone .keyword {
  background: #c5c5c5;
}
#clip-zone .keyword:before {
  background: #525252;
  color: #FFFFFF;
}
#clip-zone .keyword a {
  color: #525252;
  font-size: 13px;
}

#photo-zone header {
  border-top: 2px solid #88c100;
}
#photo-zone header:before {
  content: "\eedd";
}
#photo-zone header:before, #photo-zone header a.more {
  background: #88c100;
}
#photo-zone ul li {
  width: 16.66%;
  height: 260px;
}
#photo-zone .keyword {
  background: #f1ffca;
}
#photo-zone .keyword:before {
  background: #cee19a;
  color: #485a05;
}
#photo-zone .keyword a {
  color: #485a05;
  font-size: 13px;
}

#women-zone {
/*   width: 66%; */
  box-sizing: border-box;
  padding: 3px;
}
#women-zone header {
  border-top: 2px solid #ea87bd;
}
#women-zone header:before {
  content: "\e290";
}
#women-zone header:before, #women-zone header a.more {
  background: #ea87bd;
}
#women-zone ul li {
/*   width: 25%; */
  width: 16.66%;
/*   height: 170px; */
}


#variety-zone {
/*   width: 66%; */
  box-sizing: border-box;
  padding: 3px;
}
#variety-zone header {
  border-top: 2px solid #97d307;
}
#variety-zone header:before {
  content: "\ebc5";
}

#variety-zone header:before, #variety-zone header a.more {
  background: #97d307;
}
#variety-zone ul li {
  width: 16.66%;

}
@media screen and (max-width: 1199px) {
  #women-zone ul li {
    height: 167px;
  }
  
    #variety-zone ul li {
    height: 167px;
  }
}
@media screen and (max-width: 1199px) {
  #women-zone ul li:first-child {
    height: 320px;
  }
  

  }
}
@media screen and (max-width: 1199px) {
  #women-zone li:first-child a h3 {
    font-size: 14px;
  }
  

}
@media screen and (max-width: 1199px) {
  #women-zone li a {
    font-size: 14px;
  }
  
    #variety-zone li a {
    font-size: 14px;
  }
  
}
@media screen and (max-width: 1199px) {
  #women-zone ul li:nth-child(5) {
    clear: right;
  }
  

}
#women-zone li:first-child {
  width: 33%;
    height: 380px;
    box-sizing: border-box;
    padding: 10px 5px;
/*
  width: 50%;
  height: 330px;
  box-sizing: border-box;
  padding: 10px 5px;
*/
}
#women-zone li:first-child b
h3 {
  color: #cd3989;
  padding: 5px 0 0;
  font-weight: bold;
}
#women-zone .keyword {
  background: #ffe9f5;
}
#women-zone .keyword:before {
  background: #f5b1d6;
  color: #c05792;
}
#women-zone .keyword a {
  color: #c05792;
  font-size: 13px;
}





#star-ig-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#star-ig-zone header {
  border-top: 2px solid #b05416;
}
#star-ig-zone header:before {
  content: "\eeec";
}
#star-ig-zone header:before, #star-ig-zone header a.more {
  background: #b05416;
}
#star-ig-zone ul li {
  width: 33%;
  font-size: 13px;
  position: relative;
  height: 170px;
}
#star-ig-zone ul li strong {
  color: #fff;
  display: block;
  font-size: 12px;
  position: absolute;
  top: 110px;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  color: #FFFFFF;
  z-index: 0;
  padding: 1px 4px;
  overflow: hidden;
  width: 110px;
}
#star-ig-zone ul li h3 {
  font-size: 12px;
}



#variety-zone .keyword {
  background: #f3ffd5;
}
#variety-zone .keyword:before {
  background: #a8d43e;
  color: #4d670e;
}
#variety-zone .keyword a {
  color: #8b9c62;
  font-size: 13px;
}


@media screen and (max-width: 1199px) {
  #star-ig-zone ul li strong {
    position: absolute;
    top: 88px;
    width: 89px;
  }
}
@media screen and (max-width: 1199px) {
  #star-ig-zone ul li {
    height: 167px;
  }
}
@media screen and (max-width: 1199px) {
  #star-ig-zone ul li a h3 {
    font-size: 12px;
    line-height: 8px;
  }
}
@media screen and (max-width: 1199px) {
  #star-ig-zone ul li a img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
#star-ig-zone .keyword {
  background: #ffeec6;
}
#star-ig-zone .keyword:before {
  background: #f0ad80;
  color: #5a3500;
}
#star-ig-zone .keyword a {
  color: #5a3500;
  font-size: 13px;
}

#horo-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#horo-zone header {
  border-top: 2px solid #eda924;
}
#horo-zone header:before {
  content: "\eb2d";
}
#horo-zone header:before, #horo-zone header a.more {
  background: #eda924;
}
#horo-zone ul li {
  width: 50%;
}
#horo-zone .keyword {
  background: #ffefcf;
}
#horo-zone .keyword:before {
  background: #f6d087;
  color: #593b00;
}
#horo-zone .keyword a {
  color: #593b00;
  font-size: 13px;
}

#wedding-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#wedding-zone header {
  border-top: 2px solid #f86d8e;
}
#wedding-zone header:before {
  content: "\eba8";
}
#wedding-zone header:before, #wedding-zone header a.more {
  background: #f86d8e;
}
#wedding-zone ul li {
  width: 50%;
}
#wedding-zone .keyword {
  background: #ffe9ee;
}
#wedding-zone .keyword:before {
  background: #ffa7bc;
  color: #631628;
}
#wedding-zone .keyword a {
  color: #631628;
  font-size: 13px;
}

#baby-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#baby-zone header {
  border-top: 2px solid #b69460;
}
#baby-zone header:before {
  content: "\e1dd";
}
#baby-zone header:before, #baby-zone header a.more {
  background: #b69460;
}
#baby-zone ul li {
  width: 50%;
}
#baby-zone .keyword {
  background: #f4e3ca;
}
#baby-zone .keyword:before {
  background: #ceb083;
  color: #674003;
}
#baby-zone .keyword a {
  color: #674003;
  font-size: 13px;
}

#men-zone header {
  border-top: 2px solid #088dda;
}
#men-zone header:before {
  content: "\e291";
}
#men-zone header:before, #men-zone header a.more {
  background: #088dda;
}
#men-zone ul li {
  width: 16.66%;
}
#men-zone li:first-child {
  width: 33%;
  height: 380px;
  box-sizing: border-box;
  padding: 10px 5px;
}
#men-zone li:first-child h3 {
  color: #088dda;
  padding: 5px 0 0;
  font-weight: bold;
}
#men-zone .keyword {
  background: #daf1ff;
}
#men-zone .keyword:before {
  background: #67b9e8;
  color: #136292;
}
#men-zone .keyword a {
  color: #136292;
  font-size: 13px;
}

#health-zone {
  width: 50%;
  box-sizing: border-box;
  padding: 3px;
}
#health-zone header {
  border-top: 2px solid #14bb92;
}
#health-zone header:before {
  content: "\eb6c";
}
#health-zone header:before, #health-zone header a.more {
  background: #14bb92;
}
#health-zone ul li {
  width: 33%;
}
#health-zone .keyword {
  background: #e1fdf6;
}
#health-zone .keyword:before {
  background: #99e4d2;
  color: #06775b;
}
#health-zone .keyword a {
  color: #06775b;
  font-size: 13px;
}

#cooking-zone {
  width: 50%;
  box-sizing: border-box;
  padding: 3px;
}
#cooking-zone header {
  border-top: 2px solid #ff4729;
}
#cooking-zone header:before {
  content: "\ebbe";
}
#cooking-zone header:before, #cooking-zone header a.more {
  background: #ff4729;
}
#cooking-zone ul li {
  width: 33%;
}
#cooking-zone .keyword {
  background: #ffe5e1;
}
#cooking-zone .keyword:before {
  background: #ff9a8a;
  color: #a21700;
}
#cooking-zone .keyword a {
  color: #a21700;
  font-size: 13px;
}

#home-zone {
  width: 66%;
  box-sizing: border-box;
  padding: 3px;
}
#home-zone header {
  border-top: 2px solid #2e8194;
}
#home-zone header:before {
  content: "\e901";
}
#home-zone header:before, #home-zone header a.more {
  background: #2e8194;
}
#home-zone ul li {
  width: 25%;
}
#home-zone li:first-child {
  width: 50%;
  height: 380px;
  box-sizing: border-box;
  padding: 10px 5px;
}
#home-zone li:first-child h3 {
  color: #088dda;
  padding: 5px 0 0;
  font-weight: bold;
}
#home-zone .keyword {
  background: #e2faff;
}
#home-zone .keyword:before {
  background: #87ccdc;
  color: #0e5f72;
}
#home-zone .keyword a {
  color: #0e5f72;
  font-size: 13px;
}

#pet-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#pet-zone header {
  border-top: 2px solid #e2aa00;
}
#pet-zone header:before {
  content: "\ebd5";
}
#pet-zone header:before, #pet-zone header a.more {
  background: #e2aa00;
}
#pet-zone ul li {
  width: 50%;
}
#pet-zone .keyword {
  background: #fff0c4;
}
#pet-zone .keyword:before {
  background: #fbd256;
  color: #8e6b00;
}
#pet-zone .keyword a {
  color: #8e6b00;
  font-size: 13px;
}

#travel-zone {
  width: 66%;
  box-sizing: border-box;
  padding: 3px;
}
#travel-zone header {
  border-top: 2px solid #15ae20;
}
#travel-zone header:before {
  content: "\ec02";
}
#travel-zone header:before, #travel-zone header a.more {
  background: #15ae20;
}
#travel-zone ul li {
  width: 25%;
}
#travel-zone li:first-child {
  width: 50%;
  height: 380px;
  box-sizing: border-box;
  padding: 10px 5px;
}
#travel-zone li:first-child h3 {
  color: #088dda;
  padding: 5px 0 0;
  font-weight: bold;
}
#travel-zone .keyword {
  background: #e5ffe7;
}
#travel-zone .keyword:before {
  background: #62db6a;
  color: #055d0b;
}
#travel-zone .keyword a {
  color: #055d0b;
  font-size: 13px;
}

#guide-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#guide-zone header {
  border-top: 2px solid #88c100;
}
#guide-zone header:before {
  content: "\ea43";
}
#guide-zone header:before, #guide-zone header a.more {
  background: #88c100;
}
#guide-zone ul li {
  width: 33%;
}
#guide-zone .keyword {
  background: #f1ffca;
}
#guide-zone .keyword:before {
  background: #cee19a;
  color: #485a05;
}
#guide-zone .keyword a {
  color: #485a05;
  font-size: 13px;
}

#money-zone {
  width: 50%;
  box-sizing: border-box;
  padding: 3px;
}
#money-zone header {
  border-top: 2px solid #1cb9ac;
}
#money-zone header:before {
  content: "\ea91";
}
#money-zone header:before, #money-zone header a.more {
  background: #1cb9ac;
}
#money-zone ul li {
  width: 33%;
}
#money-zone .keyword {
  background: #d8fffc;
}
#money-zone .keyword:before {
  background: #99e4d2;
  color: #136b64;
}
#money-zone .keyword a {
  color: #148f85;
  font-size: 13px;
}

#car-zone {
  width: 50%;
  box-sizing: border-box;
  padding: 3px;
}
#car-zone header {
  border-top: 2px solid #05529a;
}
#car-zone header:before {
  content: "\ec07";
}
#car-zone header:before, #car-zone header a.more {
  background: #05529a;
}
#car-zone ul li {
  width: 33%;
}
#car-zone .keyword {
  background: #daf1ff;
}
#car-zone .keyword:before {
  background: #67b9e8;
  color: #05529a;
}
#car-zone .keyword a {
  color: #05529a;
  font-size: 13px;
}

#social-zone {
  width: 66.66%;
  box-sizing: border-box;
  padding: 3px;
}
#social-zone header {
  border-top: 2px solid #ec9923;
}
#social-zone header:before {
  content: "\eedd";
}
#social-zone header:before, #social-zone header a.more {
  background: #ec9923;
}
#social-zone > div {
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
}
#social-zone > div:nth-child(odd) {
  background: #f8f8f8;
}
#social-zone > div h3 {
  background: #155984;
  color: #FFFFFF;
  padding: 8px;
}
#social-zone > div ul {
  height: 360px;
}
#social-zone > div ul li:first-child {
  height: 175px;
  display: block;
}
#social-zone > div ul li {
  width: 100%;
  padding: 5px 0 0;
  height: auto;
  position: relative;
}
#social-zone > div ul li h4:before {
  content: "+ ";
}
#social-zone > div ul li img {
  display: block;
}
#social-zone > div ul li:first-child h4 {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 98%;
  background: rgba(0, 0, 0, 0.9);
  color: #FFFFFF;
  padding: 8px;
}
#social-zone > div ul li:first-child h4:before {
  content: "";
}
#social-zone > div:nth-child(3) h3 {
  background: #834414;
}
#social-zone > div:nth-child(4) h3 {
  background: #00c300;
}
#social-zone > div:nth-child(5) h3 {
  background: #1acff6;
}
#social-zone a.more {
  border-top: 1px dashed #D5D5D5;
  background: #DFDFDF;
  padding: 6px;
  text-align: center;
  display: block;
  margin: 8px 0 0;
  color: #3D3D3D;
}

#icare-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#icare-zone header {
  border-top: 2px solid #80cbea;
}
#icare-zone header:before {
  content: "\ece6";
}
#icare-zone header:before, #icare-zone header a.more {
  background: #80cbea;
}
#icare-zone ul li {
  width: 50%;
  height: 213px;
}

#mobile-zone {
  overflow: hidden;
}
#mobile-zone header {
  border-top: 2px solid #a51663;
}
#mobile-zone header:before {
  content: "\ea75";
}
#mobile-zone header:before, #mobile-zone header a.more {
  background: #a51663;
}
#mobile-zone > div {
  width: 33%;
  box-sizing: border-box;
  padding: 5px;
}
#mobile-zone > div a.more {
  border-top: 1px dashed #D5D5D5;
  background: #DFDFDF;
  padding: 6px;
  text-align: center;
  display: block;
  margin: 8px 0 0;
  color: #3D3D3D;
}
#mobile-zone > div:nth-child(odd) {
  background: #f8f8f8;
}
#mobile-zone > div h3 {
  background: #000000;
  color: #FFFFFF;
  padding: 8px;
}
#mobile-zone > div ul {
  height: 300px;
}
#mobile-zone > div ul li {
  width: 100%;
  padding: 5px 0 0;
  height: auto;
  position: relative;
  padding: 6px 3px;
  box-sizing: border-box;
}
#mobile-zone > div ul li h4:before {
  content: "+ ";
}
#mobile-zone > div ul li:first-child, #mobile-zone > div ul li:nth-child(2) {
  width: 50%;
}
#mobile-zone > div ul li:first-child h4:before, #mobile-zone > div ul li:nth-child(2) h4:before {
  content: "";
}
#mobile-zone > div:nth-child(3) h3 {
  background: #93c500;
}
#mobile-zone > div:nth-child(4) h3 {
  background: #00468f;
}

#technology-zone header {
  border-top: 2px solid #a51663;
}
#technology-zone header:before {
  content: "\ea75";
}
#technology-zone header:before, #technology-zone header a.more {
  background: #a51663;
}
#technology-zone ul li {
  width: 16.66%;
}
#technology-zone li:first-child {
  width: 33%;
  height: 380px;
  box-sizing: border-box;
  padding: 10px 5px;
}
#technology-zone li:first-child h3 {
  color: #088dda;
  padding: 5px 0 0;
  font-weight: bold;
}
#technology-zone .keyword {
  background: #ffdae8;
}
#technology-zone .keyword:before {
  background: #a51663;
  color: #e0abc8;
}
#technology-zone .keyword a {
  color: #136292;
  font-size: 13px;
}

#oil-gold-exchangerate-zone {
  overflow: hidden;
}
#oil-gold-exchangerate-zone #exchangerate-zone {
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
}
#oil-gold-exchangerate-zone #exchangerate-zone header {
  border-top: 2px solid #4893b7;
}
#oil-gold-exchangerate-zone #exchangerate-zone header:before {
  content: "\ea9a ";
}
#oil-gold-exchangerate-zone #exchangerate-zone header:before, #oil-gold-exchangerate-zone #exchangerate-zone header a.more {
  background: #4893b7;
}
#oil-gold-exchangerate-zone #exchangerate-zone a.more {
  display: block;
  background: #e4e4e4;
  text-align: right;
  font-size: 12px;
  padding: 5px 8px;
  color: #000;
}
#oil-gold-exchangerate-zone #exchangerate-zone ul {
  height: 200px;
}
#oil-gold-exchangerate-zone #exchangerate-zone ul li {
  width: 100%;
  height: auto;
  position: relative;
  padding: 6px 3px;
  box-sizing: border-box;
  border-bottom: 1px #dddddd solid;
}
#oil-gold-exchangerate-zone #exchangerate-zone ul li strong {
  color: #fff;
  font-weight: bold;
  width: 32%;
  text-align: center;
  display: inline-block;
  font-size: 13px;
}
#oil-gold-exchangerate-zone #exchangerate-zone ul li span {
  color: #000;
  font-weight: none;
  width: 32%;
  text-align: center;
  display: inline-block;
  font-size: 13px;
}
#oil-gold-exchangerate-zone #exchangerate-zone ul li:hover {
  background: #f3f3f3;
  overflow: hidden;
}
#oil-gold-exchangerate-zone #exchangerate-zone ul li:first-child {
  width: 100%;
  background: #4893b7;
}
#oil-gold-exchangerate-zone #exchangerate-zone ul li:nth-child(2) strong, #oil-gold-exchangerate-zone #exchangerate-zone ul li:nth-child(3) strong, #oil-gold-exchangerate-zone #exchangerate-zone ul li:nth-child(4) strong, #oil-gold-exchangerate-zone #exchangerate-zone ul li:nth-child(5) strong, #oil-gold-exchangerate-zone #exchangerate-zone ul li:nth-child(6) strong {
  color: #000;
  font-weight: bold;
  width: 32%;
  text-align: center;
  display: inline-block;
}
#oil-gold-exchangerate-zone #oil-zone {
  width: 41%;
  box-sizing: border-box;
  padding: 5px;
}
#oil-gold-exchangerate-zone #oil-zone header {
  border-top: 2px solid #fc5d57;
}
#oil-gold-exchangerate-zone #oil-zone header:before {
  content: "\ec0a";
}
#oil-gold-exchangerate-zone #oil-zone header:before, #oil-gold-exchangerate-zone #oil-zone header a.more {
  background: #fc5d57;
}
#oil-gold-exchangerate-zone #oil-zone a.more {
  display: block;
  background: #e4e4e4;
  text-align: right;
  font-size: 12px;
  padding: 5px 8px;
  color: #000;
}
#oil-gold-exchangerate-zone #oil-zone ol {
  width: 100%;
  margin: 0 auto 5px;
  height: 64px;
  background: #ddd;
}
#oil-gold-exchangerate-zone #oil-zone ol li {
  display: inline-block;
  text-align: center;
  lign-height: 64px;
}
#oil-gold-exchangerate-zone #oil-zone ol li a img {
  width: 30px;
  height: 30px;
  margin: 16px 0px 0 6.5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px #ddd solid;
}
#oil-gold-exchangerate-zone #oil-zone ol li a img:hover, #oil-gold-exchangerate-zone #oil-zone ol li a img.here {
  width: 30px;
  height: 30px;
  margin: 16px 0px 0 6.5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px #3d3d3d solid;
}
#oil-gold-exchangerate-zone #oil-zone ul {
  height: 131px;
  background: #e4e4e4;
}
#oil-gold-exchangerate-zone #oil-zone ul li {
  width: 48.5%;
  height: auto;
  margin: 0 0 0 5px;
  position: relative;
  padding: 6px 3px;
  box-sizing: border-box;
  border-top: 1px #dddddd dashed;
  background: #fff;
}
#oil-gold-exchangerate-zone #oil-zone ul li span {
  color: #000;
  font-weight: none;
  width: 67%;
  text-align: left;
  display: inline-block;
  font-size: 13px;
  padding-left: 3%;
}
#oil-gold-exchangerate-zone #oil-zone ul li em {
  color: #000;
  font-weight: none;
  width: 28%;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  font-style: none;
}
#oil-gold-exchangerate-zone #oil-zone ul li:hover {
  background: #f3f3f3;
  overflow: hidden;
}
#oil-gold-exchangerate-zone #gold-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 5px;
}
#oil-gold-exchangerate-zone #gold-zone header {
  border-top: 2px solid #e8ca00;
}
#oil-gold-exchangerate-zone #gold-zone header:before {
  content: "\e917";
}
#oil-gold-exchangerate-zone #gold-zone header:before, #oil-gold-exchangerate-zone #gold-zone header a.more {
  background: #e8ca00;
}
#oil-gold-exchangerate-zone #gold-zone a.more {
  display: block;
  background: #e4e4e4;
  text-align: right;
  font-size: 12px;
  padding: 5px 8px;
  color: #000;
}
#oil-gold-exchangerate-zone #gold-zone ol li ul {
  height: 100px;
}
#oil-gold-exchangerate-zone #gold-zone ol li ul li:first-child {
  background: #e8ca00;
  width: 100%;
  height: auto;
  position: relative;
  padding: 6px 3px;
  box-sizing: border-box;
  border-bottom: 1px #dddddd solid;
}
#oil-gold-exchangerate-zone #gold-zone ol li ul li:first-child strong {
  color: #fff;
  font-size: 15px;
}
#oil-gold-exchangerate-zone #gold-zone ol li ul li {
  width: 100%;
  height: auto;
  position: relative;
  padding: 6px 3px;
  box-sizing: border-box;
  border-bottom: 1px #dddddd solid;
}
#oil-gold-exchangerate-zone #gold-zone ol li ul li strong {
  color: #000;
  font-weight: bold;
  width: 50%;
  text-align: left;
  display: inline-block;
  font-size: 13px;
  padding-left: 40px;
  backrground: #555;
}
#oil-gold-exchangerate-zone #gold-zone ol li ul li span {
  color: #000;
  font-weight: none;
  width: 38%;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  backrground: #555;
}
#oil-gold-exchangerate-zone #gold-zone ol li ul li:hover {
  background: #f3f3f3;
  overflow: hidden;
}

#info-zone {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
}
#info-zone header {
  border-top: 2px solid #285781;
}
#info-zone header:before {
  content: "\e9c0";
}
#info-zone header:before, #info-zone header a.more {
  background: #285781;
}
#info-zone ul li {
  width: 16.66%;
  height: 195px;
}

#greet-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#greet-zone header {
  border-top: 2px solid #fc5d57;
}
#greet-zone header:before {
  content: "\e93f";
}
#greet-zone header:before, #greet-zone header a.more {
  background: #fc5d57;
}
#greet-zone ul li {
  width: 50%;
  height: 195px;
}

#glitter-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#glitter-zone header {
  border-top: 2px solid #00a8ff;
}
#glitter-zone header:before {
  content: "\e93b";
}
#glitter-zone header:before, #glitter-zone header a.more {
  background: #00a8ff;
}
#glitter-zone ul li {
  width: 50%;
  height: 195px;
}

#game-zone {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
}
#game-zone header {
  border-top: 2px solid #2e8194;
}
#game-zone header:before {
  content: "\e96b";
}
#game-zone header:before, #game-zone header a.more {
  background: #2e8194;
}
#game-zone ul li {
  width: 16.66%;
  height: 152px;
}
#game-zone .keyword {
  background: #e2faff;
}
#game-zone .keyword:before {
  background: #87ccdc;
  color: #0e5f72;
}
#game-zone .keyword a {
  color: #0e5f72;
  font-size: 13px;
}

#quiz-zone {
  width: 33%;
  box-sizing: border-box;
  padding: 3px;
}
#quiz-zone header {
  border-top: 2px solid #e2aa00;
}
#quiz-zone header:before {
  content: "\ebf3";
}
#quiz-zone header:before, #quiz-zone header a.more {
  background: #e2aa00;
}
#quiz-zone ul li {
  width: 100%;
  height: auto;
}
#quiz-zone ul li h3:before {
  content: "+ ";
}
#quiz-zone ul li:first-child {
  overflow: hidden;
}
#quiz-zone ul li:first-child h3 {
  text-align: left;
}
#quiz-zone ul li:first-child h3:before {
  content: "";
}
#quiz-zone ul li:first-child img {
  width: 42%;
  margin-right: 10px;
}
#quiz-zone ul li:first-child img.icon {
  width: auto;
  height: auto;
  display: inline;
}
#quiz-zone .keyword {
  background: #fff0c4;
}
#quiz-zone .keyword:before {
  background: #fbd256;
  color: #8e6b00;
}
#quiz-zone .keyword a {
  color: #8e6b00;
  font-size: 13px;
}

#pr-zone {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
}
#pr-zone header {
  border-top: 2px solid #999999;
}
#pr-zone header:before {
  content: "\e979";
}
#pr-zone header:before, #pr-zone header a.more {
  background: #999999;
}
#pr-zone ul li {
  width: 25%;
  height: 65px;
}
#pr-zone ul li a {
  font-size: 13px;
  color: #454545;
  line-height: 18px;
  display: block;
}
#pr-zone ul li img {
  width: 55px;
  height: 55px;
  margin-right: 5px;
}
#pr-zone ul li img.icon {
  width: auto;
  height: auto;
  display: inline;
}

#gift-zone {
  width: 33.33%;
  box-sizing: border-box;
  padding: 3px;
}
#gift-zone header {
  border-top: 2px solid #dcb039;
}
#gift-zone header:before {
  content: "\ebaa";
}
#gift-zone header:before, #gift-zone header a.more {
  background: #dcb039;
}
#gift-zone ul li:first-child, #gift-zone ul li:nth-child(2) {
  width: 50%;
  height: 185px;
}
#gift-zone ul li:nth-child(3), #gift-zone ul li:nth-child(4), #gift-zone ul li:nth-child(5), #gift-zone ul li:nth-child(6) {
  width: 100%;
  height: auto;
  padding: 4px;
}
#gift-zone ul li:nth-child(3):before, #gift-zone ul li:nth-child(4):before, #gift-zone ul li:nth-child(5):before, #gift-zone ul li:nth-child(6):before {
  content: "+ ";
  margin-right: 3px;
}
#gift-zone ul li:nth-child(3) a img, #gift-zone ul li:nth-child(4) a img, #gift-zone ul li:nth-child(5) a img, #gift-zone ul li:nth-child(6) a img {
  display: none;
}

#xfile-zone header {
  border-top: 2px solid #636363;
}
#xfile-zone header:before {
  content: "\ed4d";
}
#xfile-zone header:before, #xfile-zone header a.more {
  background: #636363;
}
#xfile-zone ul li {
  width: 16.6%;
  height: 190px;
}

#directory-zone header {
  border-top: 2px solid #a3c831;
}
#directory-zone header:before {
  content: "\ec62";
}
#directory-zone header:before, #directory-zone header a.more {
  background: #a3c831;
}
#directory-zone ul {
  width: 15%;
  padding: 10px 10px 0;
  box-sizing: border-box;
}
#directory-zone ul li {
  width: 100%;
  height: auto;
  padding: 2px 0;
}
#directory-zone ul li a {
  line-height: 14px;
  font-size: 13px;
  color: #7B7B7B;
}
#directory-zone ul li:first-child {
  border-bottom: 3px solid #eeeeee;
}
#directory-zone ul li:first-child:before {
  content: "\ec65";
  font: 14px icomoon;
  padding-right: 8px;
  color: #7B7B7B;
}
#directory-zone ul li:first-child a {
  font: 30px psl_imperialregular;
}
#directory-zone ul.radio-link {
  width: 40%;
}
#directory-zone ul.radio-link li {
  width: 50%;
  padding: 2px 10px 2px 0;
}
#directory-zone ul.radio-link li:first-child {
  width: 100%;
}
#directory-zone .radio-link, #directory-zone .data-link, #directory-zone .entertain-link {
  float: right;
}

#footer {
  background: #6db600;
  width: 100%;
  margin: 25px 0 0;
  overflow: hidden;
}
#footer .sitemap {
  width: 60%;
  box-sizing: border-box;
  padding: 20px 10px;
}
#footer .sitelink {
  width: 40%;
  box-sizing: border-box;
  padding: 20px 10px;
}
#footer .sitelink ul li {
  width: 30%;
  float: left;
  display: inline;
  margin: 0 5px;
}
#footer .sitelink ul li h2 {
  display: block;
  padding: 8px 0;
  margin: 10px 0 10px;
  background: #b6e035;
  text-align: center;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
}
#footer .sitelink ul li h2 a {
  color: #000;
  font: 28px psl_imperialregular;
  font-weight: normal;
}
#footer .sitemap ul li strong, #footer .sitelink ul li strong {
  color: #485327;
  font-size: 13px;
  font-weight: bold;
}
#footer .sitemap ul li a, #footer .sitelink ul li a {
  color: #edff9d;
  font-size: 13px;
}

/* size screen */
.wrapper, #header .bar-top ul, #header .head, .emobar ul {
  width: 1200px;
  margin: 0 auto;
}

.tophit .topten {
  width: 507px;
}

@media screen and (max-width: 1199px) {
.tophit .topten { width:305px !important;}
}


@media screen and (max-width: 1199px) {
  .wrapper, #header .bar-top ul, #header .head, .emobar ul {
    width: 1000px;
    margin: 0 auto;
  }

  .emobar {
    height: 55px;
  }

  .zone ul li:hover a, .zone ul li:hover a h3 {
    text-decoration: underline;
  }

  #nav {
    height: 46px;
  }

  #header .head .logo:after {
    font-size: 59px;
  }

  .tophit .topten ul li a:after {
    display: none;
  }

  .emobar ul li a {
    padding: 5px 10px 5px 9px;
  }

/*  #header .head .logo:after {
    content: "";
  }
*/
  .targetbanner-hilight {
    bottom: 150px;
    right: 1.5%;
  }

  .now-showing-tab, .coming-soon-tab {
    width: 15.5%;
  }

  .bar-top ul li a.btnloginnow img {
    float: left;
    display: inline;
  }

  .bar-top ul li a.btnloginnow span {
    line-height: 20px;
    margin-left: 4px;
  }

  .tophit .topten ul:before {
    font-size: 26px;
  }

  .tophit .topten ul li {
    height: 110px;
  }

  .tophit .topten ul li.more a {
    font-size: 23px;
    line-height: 24px;
  }

  .tophit .horo-tab .topten ul li, .tophit .mobile-tab .topten ul li, .tophit .game-tab .topten ul li {
    width: 50%;
  }

  .tophit .horo-tab .topten ul li a, .tophit .tded-tab .topten ul li:first-child a,  .tophit .health-tab .topten ul li:first-child a, .tophit .travel-tab .topten ul li:first-child a, .tophit .home-tab .topten ul li:first-child a, .tophit .car-tab .topten ul li:first-child a, .tophit .money-tab .topten ul li:first-child a, .tophit .mobile-tab .topten ul li a, .tophit .game-tab .topten ul li a {
    height: 110px !important;
  }

  .tophit .horo-tab .topten li a img, .tophit .tded-tab .topten ul li:first-child a img, .tophit .health-tab .topten ul li:first-child a img, .tophit .home-tab .topten ul li:first-child a img, .tophit .travel-tab .topten ul li:first-child a img, .tophit .car-tab .topten ul li:first-child a img, .tophit .money-tab .topten ul li:first-child a img {
    width: 100% !important;
    height: auto !important;
  }

  .tophit .tded-tab .topten ul li:first-child, .tophit .health-tab .topten ul li:first-child, .tophit .home-tab .topten ul li:first-child, .tophit .travel-tab .topten ul li:first-child, .tophit .car-tab .topten ul li:first-child, .tophit .money-tab .topten ul li:first-child {
    width: 66%;
  }

  #highlight ol li a.selected:after {
    border-left: 54px solid transparent;
    border-right: 53px solid transparent;
  }

  #highlight .targetbanner {
    bottom: 140px;
    right: 10px;
  }

  #photo-zone ul li {
    height: 230px;
  }

  .zone ul li {
    height: 180px;
  }

  #men-zone ul li:first-child, #home-zone ul li:first-child, #travel-zone ul li:first-child,  #technology-zone ul li:first-child {
    height: 340px;
  }

/*  #clip-zone ul li {
    height: 165px;
  }*/
  #clip-zone ul li strong {
    width: 490px;
  }
  #clip-zone ul li:first-child iframe {
    width: 490px;
    height: 276px;
  }

  #star-ig-zone header a.more, #info-zone header a.more {
    width: 25%;
    padding-left: 0px;
    font-size: 11px;
  }

  #health-zone header a.more {
    width: 25%;
    padding-left: 0px;
    font-size: 10px;
  }

  #pet-zone header a.more {
    width: 38%;
    padding-right: 35px;
    padding-left: 0px;
    font-size: 13px;
  }

  #horo-zone header a.more {
    width: 13%;
    font-size: 9px;
    padding-left: 0px;
    padding-right: 35px;
  }

  #quiz-zone header a.more {
    width: 28%;
    padding-left: 0px;
    padding-right: 35px;
    font-size: 13px;
  }

  #horo-zone ul li, #horo-zone ul li:nth-child(2), #wedding-zone ul li, #wedding-zone ul li:nth-child(2), #baby-zone ul li, #baby-zone ul li:nth-child(2) {
    height: 165px;
  }

  #health-zone ul li, #cooking-zone ul li {
    height: 168px;
  }

  #travel-zone ul li, #guide-zone ul li {
    height: 175px;
  }

  #money-zone ul li, #car-zone ul li {
    height: 185px;
  }

  #icare-zone {
    width: 33%;
  }

  #icare-zone ul li, #car-zone ul li {
    height: 190px;
  }

  #social-zone a.more {
    font-size: 13px;
  }

  #social-zone > div ul {
    height: 360px;
  }

  #mobile-zone > div ul {
    height: 260px;
  }

  #mobile-zone > div a.more {
    font-size: 13px;
  }

  #xfile-zone ul li {
    height: 180px;
  }

  #men-zone ul li, #home-zone ul li, #pet-zone ul li, #technology-zone ul li {
    height: 170px;
  }

  #gift-zone ul li:first-child, ul li:nth-child(2) {
    height: 165px;
  }

  #quiz-zone ul li:last-child {
    margin-bottom: 13px;
  }

  .sitemap ul li {
    height: auto;
  }

  #footer {
    height: 120px;
  }

  #lotto {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin: 15px 0 0px 0;
    z-index: 0;
  }

  #lotto header {
    background: url(/images_CF/lotto-bg.png) bottom left no-repeat;
    width: 391px;
    height: 99px;
    display: inline;
    float: left;
    position: relative;
    z-index: 2;
    padding: 0;
  }

  #lotto article {
    background: #DEDDBC;
    width: 608px;
    overflow: hidden;
    display: inline;
    float: left;
    height: 100px;
    margin-top: 5px;
    position: relative;
    left: -5px;
    z-index: 1;
  }

  #lotto header h3 {
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
    width: 137px;
    text-align: center;
    margin: 5px 0 0 33px;
  }

  #lotto header h3 strong {
    display: block;
    color: #03397C;
    font-size: 16px;
  }

  #lotto header h3.first {
    color: #690;
    width: 163px;
    margin: 5px 0 0 10px;
  }

  #lotto header h3.first strong {
    padding: 5px 0 0 0;
    font-size: 32px;
    color: #000000;
    letter-spacing: 6px;
  }

  #lotto header h3.first:before {
    content: "ตรวจสลากกินแบ่งรัฐบาล ตรวจหวย";
    display: block;
    font-weight: normal;
    color: #333333;
    font-size: 11px;
  }

  #lotto header h3.first:after {
    content: "รางวัลละ 3,000,000 บาท";
    display: block;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
  }

  #lotto article p.three {
    display: inline;
    float: left;
    width: 150px;
    text-align: center;
    font-size: 14px;
    margin: 5px 0 0 15px;
  }

  #lotto article p.three:before {
    content: "";
    font-size: 14px;
  }

  #lotto article p.three strong {
    display: block;
    margin: 5px 3px;
    border: 1px solid #633;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
  }

  #lotto article p.three strong span {
    font-size: 26px;
    margin: 8px 5px 0 5px;
    color: #5A2C00;
    font-family: Tahoma;
    line-height: 30px;
  }

  #lotto article p.three:after {
    content: "2 รางวัล รางวัลละ 2,000 บาท";
    display: block;
    font-size: 12px;
  }

  #lotto article p.two {
    display: inline;
    float: left;
    width: 120px;
    text-align: center;
    font-size: 14px;
    margin: 5px 0 0 8px;
  }

  #lotto article p.two strong {
    display: block;
    margin: 5px 10px;
    border: 1px solid #633;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
  }

  #lotto article p.two strong span {
    font-size: 26px;
    margin: 8px 5px 0 5px;
    color: #5A2C00;
    font-family: Tahoma;
    line-height: 30px;
  }

  #lotto article p.two:after {
    content: "รางวัลละ 1,000 บาท";
    display: block;
    font-size: 12px;
  }

  #lotto footer {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 159px;
    height: 90px;
    z-index: 2;
  }
}
@media screen and (min-width: 1200px) {
  .targetbanner-hilight {
    bottom: 140px;
    right: 50px;
  }

  .now-showing-tab, .coming-soon-tab {
    width: 16%;
  }

  .tophit .topten ul li a:after {
    display: none;
  }

  .zone ul li:hover a, .zone ul li:hover a h3 {
    text-decoration: underline;
  }

  #header .head .logo:after {
    font-size: 59px;
  }

  .bar-top ul li a.btnloginnow img {
    float: left;
    display: inline;
  }

  .bar-top ul li a.btnloginnow span {
    line-height: 20px;
    margin-left: 4px;
  }

  #lotto {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin: 15px 0 0px 0;
    z-index: 0;
  }

  #lotto header {
    background: url(/images_CF/lotto-bg.png) bottom left no-repeat;
    width: 391px;
    height: 99px;
    display: inline;
    float: left;
    position: relative;
    z-index: 2;
    padding: 0;
  }

  #lotto article {
    background: #DEDDBC;
    width: 808px;
    overflow: hidden;
    display: inline;
    float: left;
    height: 100px;
    margin-top: 5px;
    position: relative;
    left: -5px;
    z-index: 1;
  }

  #lotto header h3 {
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
    width: 137px;
    text-align: center;
    margin: 5px 0 0 33px;
  }

  #lotto header h3 strong {
    display: block;
    color: #03397C;
    font-size: 16px;
  }

  #lotto header h3.first {
    color: #690;
    width: 163px;
    margin: 5px 0 0 10px;
  }

  #lotto header h3.first strong {
    padding: 5px 0 0 0;
    font-size: 32px;
    color: #000000;
    letter-spacing: 6px;
  }

  #lotto header h3.first:before {
    content: "ตรวจสลากกินแบ่งรัฐบาล ตรวจหวย";
    display: block;
    font-weight: normal;
    color: #333333;
    font-size: 11px;
  }

  #lotto header h3.first:after {
    content: "รางวัลละ 3,000,000 บาท";
    display: block;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
  }

  #lotto article p.three {
    display: inline;
    float: left;
    width: 210px;
    text-align: center;
    font-size: 14px;
    margin: 5px 0 0 15px;
  }

  #lotto article p.three:before {
    content: "";
    font-size: 14px;
  }

  #lotto article p.three strong {
    display: block;
    margin: 5px 3px;
    border: 1px solid #633;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
  }

  #lotto article p.three strong span {
    font-size: 26px;
    margin: 8px 5px 0 5px;
    color: #5A2C00;
    font-family: Tahoma;
    line-height: 30px;
  }

  #lotto article p.three:after {
    content: "2 รางวัล รางวัลละ 2,000 บาท";
    display: block;
    font-size: 12px;
  }

  #lotto article p.two {
    display: inline;
    float: left;
    width: 160px;
    text-align: center;
    font-size: 14px;
    margin: 5px 0 0 0;
  }

  #lotto article p.two strong {
    display: block;
    margin: 5px 10px;
    border: 1px solid #633;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
  }

  #lotto article p.two strong span {
    font-size: 26px;
    margin: 8px 5px 0 5px;
    color: #5A2C00;
    font-family: Tahoma;
    line-height: 30px;
  }

  #lotto article p.two:after {
    content: "รางวัลละ 1,000 บาท";
    display: block;
    font-size: 12px;
  }

  #lotto footer {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 159px;
    height: 90px;
    z-index: 2;
  }
}
/* size screen */
