/* COLORS */

.razz {color: #bd192b;}
.blue {color: #00b2de;}


/* UNIVERSAL */

/* box model correction for IE5/Win (the Tantek Celik hack)
	height: [correct height] + [top and bottom padding] + [top and bottom border widths] ;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: [correct height] ; }
/* (must be just before the end curly bracket) */

body {margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;}

body,p,td,th,ul,ol,li {font-family: Verdana, Helvetica, sans-serif; color: #666666;}
h1, h2, h3, h4, h5 {font-family: Georgia, "Times New Roman", Times, serif; color: #666666; line-height: 1.5em; font-weight: normal;}
h1 {font-size: 25px;}
h2 {font-size: 20px;}
h3 {font-size: 14px;}
h4 {font-size: 11px; text-transform: uppercase; letter-spacing: 1px;}
h5 {font-size: 11px;}
p, ul, ol, form {font-size: 12px; line-height: 1.5em;}
li {margin-bottom: .8em;}
hr {height:0px; border:0px; border-top:1px solid #CCCCCC;}

.serif {font-family: Georgia, "Times New Roman", Times, serif;}
.sans {font-family: Verdana, Helvetica, sans-serif;}

a {color: #666666; font-weight: normal; text-decoration: underline;}
a:hover {color: #00b2de;}


/* LAYOUT */

div#wrapper {width: 915px; margin: auto; text-align:center;}
div#content {width: 915px; margin: 25px 25px 0px 10px;}
div#inner {width: 900px; margin: 40px 0 15px 15px; text-align:left;}

div.stuff {width: 730px; float:right;}
div.stuff a {text-decoration: none;}

div.item {width: 720px; margin: 0 20px 20px 0; float:right;}
div.retailer {clear: both;} 

div.half {width: 370px;}
div.halfcol {width: 350px;}
div.thirdcol {width: 240px;}
div.fourthcol {width: 165px;}
div.fifthcol {width: 148px;}

div.hline {width: 90%; height: 0; border: 0; border-top: 1px solid #CCC;}
div.gutter1 {width: 24px;}
div.gutter2 {width: 10px;}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}


/* IMAGES */

img.lefty {float:left; border:1px solid #CCC; margin: 0 10px 5px 0;}
img.left0 {border:1px solid #FFF; margin: 0 10px 5px 0;}
img.righty {float:right; border:1px solid #CCC; margin: 0 0 5px 10px;}
a:hover img.lefty, a:hover img.righty {border: 1px solid #FF6600;}
img.icon-fav {float: left; border: 0; margin-right: 7px; margin-bottom: 2px;}


/* UNIQUE TEXT */

.intro {font-size: 17px; font-style:italic; margin-bottom: .5em;}
.emphasis {font-weight: bold;}
.wide {letter-spacing: 1px; }
.normal {font-family: Verdana, Helvetica, sans-serif; font-size: 12px; line-height:1.5em;}
.url {font-size: 10px; text-transform: uppercase;}
.loud {text-transform: uppercase; font-weight: bold; letter-spacing: 2px;}
.aside {text-transform:lowercase; font-weight: normal; letter-spacing:0;}
.small {font-size: 10px;}

/* TOP NAV */

div#nav-logo {height: 49px; vertical-align:bottom;}
div#nav-links {height: 11px; text-align: right; background-image:url(/images/nav/logo-bottom.gif); background-position: top left; background-repeat:no-repeat;}
div.nav-link {float: left; background-position: top right; background-repeat: no-repeat;}
img.nav {margin-left: 70px; border: 0;}

div#topnav1 {background-image: url(/images/nav/line-px.gif); background-repeat: repeat-x; background-position: 0 47px; text-align: left;}
div#topnav2 {background-image: url(/images/nav/logo-bottom.gif); background-repeat: no-repeat; text-align: right;}


/* FOOTER */

div#footer {margin-top: 20px; margin-bottom: 20px; border-top: 1px solid #CCC; padding-top: 2px; font-size: 11px; text-align:center; color:#999999; line-height: 200%}
#footer a {text-decoration: underline;}
#footer a:hover {color: #FF6600; text-decoration: underline;}
.footspace {margin-right: 10px;}
.legal {font-size: 9px; color:#CCCCCC;}

/* PROFILE PAGES */

span.bar {border: 1px solid rgb(204, 204, 204); padding: 10px; text-transform: uppercase; font-size: 16px; letter-spacing: 4px; font-family: Verdana, Helvetica,sans-serif; color: #bd192b; position: relative; top: 9px;}
div.profiler {border-bottom: 1px solid rgb(204, 204, 204); padding: 10px; float:left;}
div.profiler img {float: right; margin-left: 10px;}
div.number {float:left; margin-right: 5px; height:100%; line-height:1em; font-family: Georgia, "Times New Roman", Times, serif;}
body.profile div#inner {margin-top: 30px;}


/* RETAILER INDEX */

div.category {font-size: 12px; margin-top: 1em; margin-bottom: .5em; color: #bd192b;}
div.category-ps {font-size: 12px; margin-top: 1em; margin-bottom: .5em; color: #00b2de;}
div.retailer {font-size: 11px;}
div.sitescol {width: 180px;}

