/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {/*width: 100%;*/ display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; position: relative;zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: 10px; background:url(https://img.tim.it/img/slide_freccia_sx.png) no-repeat center center rgba(0,0,0,0); height:44px; width:44px;}
.flex-direction-nav .flex-next { right: 10px; text-align: right; background:url(https://img.tim.it/img/slide_freccia_dx.png) no-repeat center center rgba(0,0,0,0);  height:44px; width:44px;}
.flexslider:hover .flex-prev { opacity: 0.7;  }
.flexslider:hover .flex-next { opacity: 0.7;  }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; text-align: center;}
.flex-control-nav li {margin: 10px 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 40px; height: 4px; display: block; background-color:#b3b3b3; cursor: pointer; text-indent: -9999px; }
.flex-control-paging li a:hover { background-color:#0078c1; }
.flex-control-paging li a.flex-active { background-color:#ed1c24; cursor: default; }

.flex-control-thumbs {margin: 25px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 65px;height:65px; margin: 2%; text-align:center; padding:5px;border:1px solid #d8d8d8; vertical-align:middle}
.flex-control-thumbs img {height: 100%; display: inline-block; cursor: pointer;	 max-width: 100%;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.flex-control-thumbs li:hover,
.flex-control-thumbs li.flex-active-list{border:1px solid #0078c1;box-shadow: 0 0 2px #dbecf6;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
.tablet .flex-direction-nav a:hover,
.tablet .flex-direction-nav a{
	display:none;
}



/* Flex slider per loghi */
.flexslider_gen a:active,
.flexslider_gen a:focus  {outline: none;}

/* flexslider_gen Necessary Styles
*********************************/
.flexslider_gen {margin: 0; padding: 0;}
.flexslider_gen .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider_gen .slides img {display: block;}

/* flexslider_gen Default Theme
*********************************/
.flexslider_gen { margin: 0 0 60px; background: #fff; position: relative;zoom: 1; }
.flexslider_gen .slides { zoom: 1; }
.flexslider_gen:hover .flex-next:hover, .flexslider_gen:hover .flex-prev:hover { opacity: 1; }

/* Direction Nav */
.flexslider_gen .flex-direction-nav {*height: 0;}
.flexslider_gen .flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -8px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 1; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flexslider_gen .flex-direction-nav .flex-prev { left: -30px; background:url(https://img.tim.it/img/slide_freccia_dx_wp.png) no-repeat center center rgba(0,0,0,0); height:18px; width:10px;}
.flexslider_gen .flex-direction-nav .flex-next { right: -25px; text-align: right; background:url(https://img.tim.it/img/slide_freccia_sx_wp.png) no-repeat center center rgba(0,0,0,0);  height:18px; width:10px;}
/*.flexslider_gen:hover .flex-prev { opacity: 0.7;  }
.flexslider_gen:hover .flex-next { opacity: 0.7;  }*/
.flexslider_gen:hover .flex-next:hover, .flexslider_gen:hover .flex-prev:hover { opacity: 1; }
.flexslider_gen .flex-direction-nav .flex-disabled { opacity: 1!important; cursor: default; }

