.fix_slide {
    background: none;
}

/**
 * Banner
 */
.fix_slide {
  background: none;
}
/**
 * Scheda Prodotto
 */
/* Tabs categorie */
.box_fixed.wp .menu-box .container {
  max-width: none;
}
.box_fixed.wp .menu-box li {
  width: 155px;
  margin: 0 10px;
}
.box_fixed.wp .menu-box li a {
  white-space: nowrap;
}
.box_fixed.wp .menu-box li a span {
  white-space: normal;
  vertical-align: middle;
  display: inline-block;
  max-width: 105px;
}
/* Lista colori */
.cont-color ul.list-color a {
  border: 1px solid #d8d8d8;
}

.border_navtool {
	margin-bottom: 87px;
}

