/* sitetop.css */

a:hover {
  text-decoration: underline;
}

/* おすすめアイテムのリンクアイコン */
div.recommended-item div.recommended-footer {
  text-align:right;
}

span.ri-download-link,
span.ri-article-link {
    background: url("../nav-arrow1.png") no-repeat scroll 0 50%;
    border: 1px solid #D0D0D0;
    font-size: 70%;
    margin-left: 0;
    padding: 2px 4px 0 10px;
}

span.ri-download-link {
  background-color: #0066CC;
  border-color: #0044FF;
}

span.ri-article-link {
  background-color: #338F33;
  border-color: #007700;
}

span.ri-download-link a,
span.ri-article-link a{
	color:white;
}

span.ri-download-link a:hover,
span.ri-article-link a:hover{
	text-decoration: underline;
}

div.recommended-item p {
  margin-bottom: 4px;
}

/* タブ上のサイト説明文 */
#site-description {
  margin: 4px 10px 8px;
  clear: both;
  font-weight: bold;
  font-size: 80%;
  color: #E76C00;
/*  color: #747A7E;*/
  }

#site-description span {
  padding: 2px 0.5em 0 0;
  border-top: 1px solid #747A7E;
}

#project-finder {
  margin-bottom: 16px;
}

#about-soruceforge {
  margin-bottom: 8px;
  font-size: 92%;
  color: #345;
  background: url(../dotnet/arrows-back.png) top left no-repeat;
  padding: 0.8em 4px;
}

#about-soruceforge > div > a {
    background-color: #eee;
    padding: 0px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
}

/* 左のカテゴリリスト */
#category-list {
  float:left;
  width: 9em;
  margin-right:2px;
  padding:0;
  border: 1px solid #d3d3d3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#category-list h4 {
  border: none;
  border-bottom: 1px solid #d3d3d3;
  -moz-border-radius: 8px 8px 0 0 ;
  -webkit-border-radius: 8px 8px 0 0 ;
  border-radius: 8px 8px 0 0 ;
  margin-bottom: 0;
}


#category-list ul {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

#category-list ul li {
  list-style-type: none;
  display: table-row;
}
#category-list ul li.has-child {
  background: url(../nav-arrow.png) no-repeat scroll 98% center;
}

#category-list ul li:first-child .inner {
  border-style: none;
}

#category-list ul li .inner {
  border-style: dotted none none none;
  border-color: gray;
  display: table-cell;
  border-width: 1px;
  padding-left: 4px;
  padding-right: 16px;
}

#category-list ul li a {
  font-size: 80%;
  display: block;
  padding: 8px 13px 8px 4px;
  vertical-align: middle;
}

#category-list ul li:hover {
  background-color: #f0ffff;
}

#category-list ul li.selected {
  background-color: #D9DDE2;
}

/* ダウンロードランキング */
#dl-ranking {
  font-size: 90%;
}

#dl-ranking ol {
  margin: 0 0 0 3em;
  padding: 0;
}

#dl-ranking li {
}

div.news-entry h4 {
  line-height: 1.3em;
  margin: 0 0 0.2em;
}

div.news-entry,
div.article-entry {
  border-bottom: 1px dotted gray;
  margin: 0 0 0.5em;
}

/* 新着Magazine記事 */
#magazine-index div.article-entry {
  padding: 4px 1px;
}
#magazine-index div.article-entry h4 a {
  font-size: 130%;
  font-weight: bold;
}
#magazine-index div.article-entry p {
  margin-top: 4px;
  padding-right: 1em;
  clear: left;
}
#magazine-index .more {
  margin: 0;
  padding: 0;
}
#magazine-index {
  margin: 0;
}

/* 新着プロジェクトニュース */
#recent-news-with-lead div.news-entry {
  margin: 0;
  border-bottom: 1px dotted gray;
  min-height: 40px;
  padding: 6px 1px 6px 1px;
}

#recent-news-with-lead div.more {
  margin-top: 8px;
}

#recent-news-with-lead h4 {
  font-size: small;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0 0 0.2em;
}

/* 新着FAQ */
#faq-index div.faq-entry {
  margin: 0;
  border-bottom: 1px dotted gray;
  min-height: 40px;
  padding: 6px 1px 6px 1px;
}

#faq-index div.more {
  margin-top: 8px;
}

#faq-index h4 {
  font-size: small;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0 0 0.2em;
}


/* 注目プロジェクト */
div.pickup_project {
  border-width: 1px;
  border-style: none none dotted none;
  border-color: #aaa;
  padding: 6px 0 0;
}

.block-contents .more, 
#home_content .more {
  padding: 0;
  margin: 0.5em 0;
}

h4.subtitle {
border:none !important;
}

div.newrelease-block {
  font-size: 90%;
}


div.new-project-item {
  border-bottom: 1px dotted #aaa;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

div.new-project h4 {
  margin-bottom: 2px;
  margin-top: 0px;
}

p.registered-project-entry-body {
  margin-top: 0;
  margin-bottom: 0;
}

/*div.news-entry:hover,*/

div.pickup_project_body {
  min-height:48px;
}


/* サイトアナウンスのh4は並字に */
#site_announce div.news-entry h4 {
  font-weight: normal;
}

/* 最新登録プロジェクトのh4は並字に */
div.new-project div.new-project-item h4 {
  font-weight: normal;
}

/* single.css */
#project-finder-contents-wrap {
    margin-left: 160px;
}

#project-finder-contents-ja {
  border: 1px solid #d3d3d3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding:0;
  background: url("../1x1gray.png") repeat-y scroll 98px 0px transparent;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#project-finder-contents #document-project {
  border: 1px solid #d3d3d3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding:0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* おすすめジャンル */
#recommended-genres {
  float: left;
  margin: 0;
  padding: 0;
}

#recommended-genres .recommended-genre-item{
  width: 97px;
  border-bottom: 1px dotted gray;
  background: url(../nav-arrow.png) no-repeat scroll 85px 27px transparent;
  margin-right: 0px;
  padding: 3px 0 0 0;
  cursor: pointer;
}

#recommended-genres .recommended-genre-item:hover, #recommended-genres div.selected {
  background: url(../nav-arrow.png) no-repeat scroll 86px 28px #f0ffff;
  border-bottom: 1px sotted gray;
}

#recommended-genres div.recommended-genre-item img{
  width: 48px;
  margin-left: 24px;
}
#recommended-genres div.recommended-genre-item span{
  font-size: 80%;
  text-align: center;
  display: block;
}

/* おすすめ */
#recommended-projects-single {
  margin-top: 0;
}

#recommended-projects-single .recommended-title {
  font-weight: bold;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 2px;
}

#recommended-projects-single .recommended-item {
  margin-left: 99px;
  margin-right: 0px;
  min-height: 36px;
  padding: 6px 12px;
  border: 1px solid #fff;
  border-bottom: 1px dotted gray;
}

#project-finder-contents .recommended-item {
  margin-right: 0px;
  min-height: 36px;
  padding: 6px 12px;
  border: 1px solid #fff;
  border-bottom: 1px dotted gray;
}

#recommended-projects-single .recommended-item:last-child,
#project-finder-contents .recommended-item:last-child {
  border-bottom: none;
}


.recommended-item h5 {
  margin: 0 0 6px;
  padding: 0;
  font-size: 100%;
}

.recommended-item h5 img {
  float: left;
  padding-right: 4px;
}

.recommended-item a {
  font-weight: bold;
}

.recommended-item p {
  margin-top: 0;
  margin-left: 40px;
  font-size: 95% !important;
}

#project-finder-contents h4, #project-finder-contents-ja h4 {
  margin-bottom: 0;
}

/* design.css */
.content-block {
  border: 1px solid #d3d3d3;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
word-break:break-all; 
word-wrap:break-word;
  padding: 0;
  margin: 1em 0;
}

div.sitetop-multicol div.content-block {
  margin: 0 4px 1em 0;
}
div.sitetop-multicol + div.sitetop-multicol
 div.content-block {
  margin: 0 0 1em 4px;
}

.titlebar {
  background:none repeat scroll 0 0 #f0f0f0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  border-top:medium none;
  border-bottom: 1px solid #d3d3d3;
  padding: 6px;
  margin: 0 0 4px;
}

.titlebar img {
  margin-right: 4px;
  vertical-align: middle;
}

.block-contents {
  padding: 0 6px;
}


#newrelease-block div.release-item {
  margin: 0;
  border-bottom: 1px dotted gray;
  min-height: 40px;
  padding: 6px 1px 6px 1px;
}
#newrelease-block div.release-item p {
  margin: 0.2em;
  font-size: small;
}

#newrelease-block div.release-item h4 {
  font-weight: normal;
}

#newrelease-block .release-date {
  color: #778899;
  font-style: italic;
  font-size: small;
}

div.sitetop-multicol {
  float: left;
  width: 50%;
  margin-right: 0;
  margin-left: 0;
}

#frame table .sitetop-multicol table tr td {
  font-size: 100%;
}

.sitetop-multicol table th {
	border: 0;
	padding: 0;
	margin: 0;
}

#category-list #subnav li {display:block;zoom:1;}
#category-list #subnav li li a {display:block;margin:0;padding:5px 1px 5px 8px;zoom:1;}
#category-list #subnav li a.no_children{background:none;}
#category-list #subnav .inner:hover,#sidebar #subnav .inner.hover{position:relative;}
#category-list #subnav li .flyout{border:1px dotted #999; display:none;position:absolute;top:0;left:8.9em;background:#fff;width:250px;z-index:1;zoom:1;margin-bottom:10px;}
#category-list #subnav li .flyout .frame{padding:2px 10px;overflow:hidden;}
#category-list #subnav li:hover .flyout,#sidebar #subnav li.hover .flyout{display:block;}
#category-list #subnav li .flyout .related{display:none;}
#category-list #subnav li .flyout li{background-image:none;}
#category-list #subnav li .flyout li:hover{font-weight:bold;}
#category-list #subnav li .flyout li a,#sidebar #subnav li:hover .flyout li a,#sidebar #subnav li.hover .flyout li a{padding:0;background-image:none;}
#category-list #subnav li .inner{display:block;padding:0;margin:0;}
#category-list #subnav li .flyout li{padding:4px 2px; ;margin:.25em 0;font-weight:normal!important; border-top: 1px dotted #aaa; }
#category-list #subnav li .flyout li.first {border-top: none;}
#category-list #subnav li .flyout li STRONG,#sidebar #subnav li .flyout li STRONG A{font-weight:bold!important;}


.user_photo, .user_misc_info, .user_links {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}

.user_links {
    width: 300px;
}

.user_links h5.subtitle {
    font-size: 100%;
    font-weight: bold;
    border-bottom: none;
    color: #000;
    text-shadow: 1px 1px 0 rgba(240, 240, 240, 0.7);
}

.user_links a.user_links_menu {
    text-decoration: underline;
}
