/*Big socials share buttons*/
#big_socials{
    background-color: #fff;
    padding: 10px 0;
}
#big_socials .clear{
    clear: both;
}
#big_socials table{
    width: 100%;
    height: 50px;
    border:none;
    opacity: .8;
}
#big_socials td{
    background-color: #CCC;
    color: #FFF;
    font-size: 14px;
    font-family: inherit;
    
    width: 25%;
    
    text-align: center;
    vertical-align: middle;
    
    cursor:pointer;
    margin: 0;
    padding: 0;
    border:none;
}
#big_socials td:hover{
    opacity: .9;
}
#big_socials td img{
    margin-right: 5px;
    vertical-align: middle;
}
#big_socials .big_socials_fb{
    background-color: #405D9A;
}
#big_socials .big_socials_tw{
    background-color: #55ACEE;
}
#big_socials .big_socials_gp{
    background-color: #D64136;
}
#big_socials .big_socials_nk{
    background-color: #00609E;
}
#big_socials .big_socials_prnt{
    background-color: #666666;
}
/*end Big socials share buttons*/