a.g-more {
	padding-left: 15px;
	font-size: 11px !important;
	background: transparent url(../new_images/b_more_01.gif) no-repeat left center;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.mbb10 {
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0 !important;
}
.w423px { width:423px; }
.col425, .w425px {width: 425px;}
.col425 {float: left;}
.col325 {width: 325px; float: left;}
.mb10px {margin-bottom: 10px !important; }

/* NOWE MENU */

div#new_m_men {
	width: 980px;
}
div#new_m_menu ul.nawi {
	margin: 0px;
	padding: 0px;
}
div#new_m_menu ul.nawi li {
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
	padding: 0px;
	float: left;
	display: inline;
}
div#new_m_menu ul.nawi li a {
	display: block;
	width: 39px;
	height: 39px;
	color: #3F8DEA;
	background: transparent url(../new_images/new_mm_menu_pz.gif) no-repeat top left;
}
div#new_m_menu ul.nawi li a:hover {
	background-position: 0 -39px;
}
div#new_m_menu ul.nawi li a span {
	position: absolute;
	text-indent: -99999px;
	z-index: -99999;
}
div#new_m_menu ul.nawi li#mm_zdrowie a {
	width: 84px;
	background-position: 0px 0px;
}
div#new_m_menu ul.nawi li#mm_zdrowie.on a,
div#new_m_menu ul.nawi li#mm_zdrowie a:hover { background-position: 0px -39px; }
div#new_m_menu ul.nawi li#mm_uroda a  {
	width: 70px;
	background-position: -84px 0px;
}
div#new_m_menu ul.nawi li#mm_uroda.on a,
div#new_m_menu ul.nawi li#mm_uroda a:hover { background-position: -84px -39px; }
div#new_m_menu ul.nawi li#mm_odchudzanie a  {
	width: 123px;
	background-position: -154px 0px;
}
div#new_m_menu ul.nawi li#mm_odchudzanie.on a,
div#new_m_menu ul.nawi li#mm_odchudzanie a:hover { background-position: -154px -39px; }
div#new_m_menu ul.nawi li#mm_zywienie a  {
	width: 84px;
	background-position: -277px 0px;
}
div#new_m_menu ul.nawi li#mm_zywienie.on a,
div#new_m_menu ul.nawi li#mm_zywienie a:hover { background-position: -277px -39px; }
div#new_m_menu ul.nawi li#mm_seks a  {
	width: 52px;
	background-position: -361px 0px;
}
div#new_m_menu ul.nawi li#mm_seks.on a,
div#new_m_menu ul.nawi li#mm_seks a:hover { background-position: -361px -39px; }
div#new_m_menu ul.nawi li#mm_ciaza a  {
	width: 189px;
	background-position: -413px 0px;
}
div#new_m_menu ul.nawi li#mm_ciaza.on a,
div#new_m_menu ul.nawi li#mm_ciaza a:hover { background-position: -413px -39px; }
div#new_m_menu ul.nawi li#mm_psychologia a  {
	width: 118px;
	background-position: -602px 0px;
}
div#new_m_menu ul.nawi li#mm_psychologia.on a,
div#new_m_menu ul.nawi li#mm_psychologia a:hover { background-position: -602px -39px; }
div#new_m_menu ul.nawi li#mm_sprawdz a  {
	width: 105px;
	background-position: -720px 0px;
}
div#new_m_menu ul.nawi li#mm_sprawdz.on a,
div#new_m_menu ul.nawi li#mm_sprawdz a:hover { background-position: -720px -39px; }
div#new_m_menu ul.nawi li#mm_fitness a  {
	width: 155px;
	background-position: -825px 0px;
}
div#new_m_menu ul.nawi li#mm_fitness.on a,
div#new_m_menu ul.nawi li#mm_fitness a:hover { background-position: -825px -39px; }


div#new_m_menu ul.nawi li ul.mm_submenu {
    background: #F1F5F9 url(../new_images/mmenu_podmenu_tlo.gif) no-repeat 10px 0 !important;
    display: block; 
    visibility: hidden;
    position: absolute;
    margin: -8px 0px 0px 4px;
    font-weight:bold;
    padding: 8px 0;
    width:196px;
    z-index: 1000 !important;
}
#new_m_menu ul.nawi li ul.mm_submenu li {
    margin: 3px 10px;
    padding: 0px;
}
#new_m_menu ul.nawi li ul.mm_submenu li a {
    background-image: none !important;
    display: block;
    height: inherit;
    line-height: 12px;
    width: 180px !important;
}

div#new_m_menu ul.nawi li:hover ul.mm_submenu {
    visibility: visible;
    z-index: 100;
    behavior: url(csshover3.htc);
}



div.pzz_szukaj {
	background: transparent url(../new_images/bg_box_kupuj.jpg) no-repeat 0px 0px;
	width: 980px;
	height: 70px;
	position: relative;
}
div.pzz_szukaj input.searchText {
	background-color: #FFF;
	border: 0px none;
	color: #3D76BD;
	font: italic bold 16px "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	height: 25px;
	top: 17px;
	left: 108px;
	width: 549px;
	position: absolute;
}
div.pzz_szukaj input.searchButton {
	background:  transparent url(../new_images/blank.gif) repeat left top;
	border: 0px none;
	height: 37px;
	width: 105px;
	position: absolute;
	top: 12px;
	left: 660px;
	cursor: pointer;
}

div.pzz_szukaj #liczba_ofert {
	width: 100px;
	text-align: center;
	position: absolute;
	left: 870px;
	top: 37px;
	font: normal bold 18px "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	color: #3D76BD;
	overflow: hidden;
}
div.pzz_szukaj #orange {
	width: 113px;
	height: 84px;
	background: transparent url(../new_images/orange_fruit.png) no-repeat top left;
	position: absolute;
	top: 0px;
	left: 760px;
}
div.pzz_szukaj  #najczesciej_szukane {
	color: #70A5E3;
	font-size: 10px;
	position: absolute;
	top: 52px;
	left: 105px;
}
div.pzz_szukaj  #najczesciej_szukane a { color: #70A5E3; }
div.pzz_szukaj  #najczesciej_szukane a:hover { color: #37548a;  text-decoration: none;}



/* END NOWE MENU */



.top_open_article {
	position: relative;
	background-color: #93B1D5;
	clear: both;
	overflow: hidden;
	height: 302px;
	margin-bottom: 10px;
}
.top_open_article .box_sekcje_01 .content {
	height: 280px !important;
	margin: 0px 10px;
	padding-left: 231px;
}
.top_open_article .headrc {
	height: 10px;
	overflow: hidden;
	float: none;
	background: transparent url(../new_images/spray_images.gif) no-repeat 0 0;
}
.top_open_article .headrc  .inheadrc {
	height: 10px;
	width: 10px;
	float: right;
	overflow: hidden;
	background: transparent url(../new_images/spray_images.gif) no-repeat -1540px 0px;
}

.top_open_article .footerrc {
	height: 10px;
	overflow: hidden;
	float: none;
	background: transparent url(../new_images/spray_images.gif) no-repeat 0 -20px;
}
.top_open_article .footerrc  .infooterrc {
	float: right;
	height: 10px;
	width: 10px;
	overflow: hidden;
	background: transparent url(../new_images/spray_images.gif) no-repeat -1540px -20px;
}


.top_open_article .zakladki {
	height: auto;
	width: 250px;
	top: 11px;
	left: 11px;
	z-index: 10;
}
.top_open_article .zakladki ul li {
	margin: 0px 0px 1px 0px !important;
	padding: 0px !important;
	background: transparent;
}
/*.top_open_article .zakladki ul li a {
	display: block;
	width: 215px !important; 
	font-size: 12px;
	padding: 8px;
	height: 23px;
	line-height: 100% !important;
	background-color: #D3DFEE;
	text-decoration: none;
	color: #256CC2;
	z-index: 10;
}*/

.top_open_article .zakladki ul li a {
	display: block;
	width: 223px !important; 
	font-size: 12px;
	padding: 4px;
	height: 38px;
	line-height: 115% !important;
	background-color: #D3DFEE;
	text-decoration: none;
	color: #256CC2;
	z-index: 10;
}

.top_open_article .zakladki ul li a div.zakladka_content {
	height:28px;
	overflow:hidden;
}


.top_open_article .zakladki ul li.products a {
	background-color: #6991C0;
	color: #FFF;
	padding: 14px 8px 3px;
}
.top_open_article .zakladki ul li a:hover {
	background-color: #c1d3e8;
}
.top_open_article .zakladki ul li.products a:hover {
	font-weight: bold;
	background-color: #6991C0;
}


.top_open_article .zakladki ul li.active {z-index: 50 !important;}
/*.top_open_article .zakladki ul li.active a {
	width: 234px !important;
	background: transparent url(../new_images/active_arrow.png) no-repeat top left;
	color: #FFF;
	font-weight: bold;
}*/
.top_open_article .zakladki ul li.active a {
	width: 226px !important;
	background: transparent url(../new_images/active_arrow2.png) no-repeat top left;
	color: #FFF;
	font-weight: bold;
	padding-right: 20px;
}
/*  {
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;  
	-khtml-opacity: 0.70;  
	opacity: 0.70;
}
*/
.top_open_article span.contentdescription,
.top_open_article span.contentdescription span.ch, 
.top_open_article span.contentdescription span.cf {
	display: block;
	width: 531px;
}
.top_open_article span.contentdescription{
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.top_open_article span.contentdescription span.ch, 
.top_open_article span.contentdescription span.cf {
	height: 10px;
	background: transparent url(../new_images/white_bg.gif) no-repeat top center;
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;  
	-khtml-opacity: 0.80;  
	opacity: 0.80;
}
.top_open_article span.contentdescription span.cd {
	display: block;
	background-color: #FFF;
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;  
	-khtml-opacity: 0.80;  
	opacity: 0.80;
}
.top_open_article span.contentdescription span.cd span{
	padding: 0px 10px 3px 10px;
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
.top_open_article span.contentdescription span.cd span.comment {
	color:#256CC1 !important;
	font-size: 11px !important;
}
.top_open_article span.contentdescription span.cd span.comment strong {
	font-weight: bold !important;
	zoom: 1;
}

.top_open_article span.contentdescription span.cf {
	background: transparent url(../new_images/white_bg.gif) no-repeat bottom center;
}

.top_open_article .box_sekcje_01 .content .sekcja {
	position: absolute;
	top: 11px;
	left: 242px;
	width: 551px;
	height: 280px;
	z-index: 10 !important;
}
.top_open_article .box_sekcje_01 .content .sekcja img { z-index: 10 !important; }
.box_sekcje_01 .content .zobacz_rowniez  {float: right !important;}


.reklama600h { margin: 0px !important; }
.box_temat_miesiaca {
	margin-bottom: 10px;
	position: relative;
}
.box_temat_miesiaca .box_header {
	position: relative;
}
.box_temat_miesiaca .box_header .more_article {
	position: absolute;
	right: 10px;
	top: 4px;
	color: #FFF;
}
.box_temat_miesiaca .box_header .more_article a {
	font-weight: bold;
	color: #FFF;
}
.box_temat_miesiaca .box_header .more_article a:hover {
	text-decoration: underline;
}
.box_temat_miesiaca .content {
	background-color: #F6F1EC;
	border: 1px solid #F8BB85;
	height: 280px;
}
.box_eksperci_radza .content li span {
	font-size: 9px;
}
.box_eksperci_radza .zakladki ul li.last {
	padding-right: 0px;
}
.box_eksperci_radza .content {
	background: url(../new_images/eksperci_radza_tlo.jpg) no-repeat scroll 120px bottom #F6F1EC;
	border: 1px solid #E7DFD7;
	height: 256px;
	padding: 12px 100px 12px 12px;
}
.box_temat_miesiaca .content p {
	font-size:12px;
	line-height: 150%;
}
.box_temat_miesiaca .content .col1 {
	position: relative;
	height: 280px;
}
.box_temat_miesiaca .content .col1 .patroni {
	position: absolute;
	bottom: 0px;
	width: 330px;
}

.box_sekcje_02 .content .morearticle ul {
	border-right: 1px solid #D8E2F0;
	width: 220px;
}
.box_sekcje_02 .content .morearticle ul.last {
	border-right: 0px none;
	margin-left: 15px;
}
.box_sekcje_02 .content .morearticle .morebox {
	text-align: right;
	border-top: 1px solid #D8E2F0;
	margin-top: 5px;
	padding-top: 8px;
	padding-right: 10px;
}
.box_sekcje_02 .content .zobacz_rowniez .lista {
	height: 190px;
}
.box_newsletter span.zapiszsie {
	display:block
}
.box_newsletter {
	position: relative;
	margin-bottom: 20px;
}
.col230b .box_newsletter {
	margin-bottom: 40px;
}
.box_newsletter span.zapiszsie span {
	z-index: -99999;
	text-indent: -99999px;
	position: absolute;
}
.box_newsletter .txtbtns_02 span.lnk {
	background: transparent url(../new_images/btt_zapisz_sie_na_newsletter.gif) no-repeat top left;
	display: block;
	position: absolute;
	width:157px;
	height: 41px;
	cursor: pointer;
	right: 0px;
	bottom: -10px;
	padding: 0px;
	margin: 0px;
}

.box_newsletter .email {
	background-color: #FFFFFF;
	border: 1px solid #ADAEB0;
	padding: 2px;
	width: 133px;
}
.col230b{
	width:300px;
	padding-left:20px;
}
.col230b .box_newsletter .email {
	width: 187px;
}
.box_newsletter .icomail {
	width: 90px;
	float: right;
	margin-right: 10px;
	margin-top: -30px;
}
.col230b .box_newsletter .txtbtns_02 span.lnk {
	bottom: -30px !important;
}
.col230b .box_eksperci_radza_02 {
	clear: both;
	overflow: visible;
}
/* forum widget */
#widget_1 {
	/*padding-top: 23px;*/
}
#content_area{
	width:960px !important;
}
.trzymam_widget {
	font-family: helvl;
	height: auto;
	margin: 0 auto 27px;
	padding: 5px 0px 0px 0px;
	width: 316px;
	position: relative;
}
.col230b .trzymam_widget {
	border-top: 5px solid #6AB4EB;
	width: 300px;
}
.col230b .trzymam_widget .icon_wid1 {
	right: 0px;
}
.nadcontent {
	background: transparent;
	width: 100%;
}
.content_wid {
	height: auto;
	min-height: 100%;
	overflow: hidden;
	padding: 7px 0;
}
.head_wid1, .icon_wid1, .wid_stopka {
	position: absolute;
}
.head_wid1 {
	top: -24px;
	left: -1px;
}
.icon_wid1 {
	top: -25px;
	right: 10px;
}
.wid_stopka {
	width: 100%;
	background-color: #468ADB;
	text-align: right;
	color: #FFF;
}
.wid_stopka a {
	color: #FFF;
	display: block;
	padding: 3px 5px;
}
.widinfo {
	border-bottom:1px solid #D8E2F0;
	margin-bottom:5px;
	overflow:hidden;
}
.ttf3  {
	float: right;
	font-size: 11px;
	font-weight: normal;
	padding-right: 5px;
	padding-bottom: 5px;
	color: #75A4DD;
	display: none;
}
.ttf {
	display: block;
	font-size: 12px;
	font-weight: bold;
	display: none;
}
.ttf span.tt {
	color: #666;
}
.ttf2 {
	display: block;
	font-size: 16px;
	font-weight: normal;
	color: #000;
	padding: 10px 0 0 0;
	font-family: helv;
}
.ttf2:hover span.tt {
	color: #666;
	text-decoration: none !important;
}
.ttt {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #999;
	line-height: 130%;
}
.trzymam_widget .head_wid:after{
	content: 'Forum';
	color: #6AB4EB;
	font-size: 17px;
}
.trzymam_widget .head_wid1{
	display: none;
}
.widinfo .date.big {
	float: left;
	display: block;
	margin-right: 5px;
	margin-top: 10px;
}
.widinfo p.date{
	margin-left: 25px;
	margin-top: 9px;
	font-family: helvl;
    font-size: 12px;
    color: #999;
    line-height: 150%;
}
/* END forum widget */


.siteinfo {
	border: 1px solid #D8E2F0;
	background-color: #F3F6FA;
	clear: both;
	overflow: hidden;
}
.siteinfo .nfo {
	float: left;
	border-left: 1px solid #D8E2F0;
	background: transparent url(../new_images/bg_for_nfo_box.gif) repeat-y left top;
	height: 258px;
	/*width: 184px;*/
	width: 164px;
	padding: 15px;
}
.siteinfo .magazine {
	/*width: 152px;*/
}
.siteinfo .first { border-left: 0px none; }
.siteinfo .nfo h4 {
	padding: 5px 0;
	margin: 0px;
}
.siteinfo .nfo h4 a {
	font-size: 12px;
	color: #222;
}
.siteinfo .nfo p {
	padding: 5px 0;
	margin: 0px;
}
.siteinfo .nfo ul {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 0px 3px;
}
.siteinfo .nfo ul li {
	background:url("../new_images/red_arrow.gif") no-repeat scroll 0 5px transparent;
	padding-left:9px;
}
.siteinfo .nfo ul li a {
	color: #555;
}
.siteinfo .magazine h4 {
	font-size: 11px;
	color: #F0770B;
}


/* oznaczenie sponsorowanego na sg */
.box_09 .zajawki .zajawka {
	overflow: hidden;
	clear: both;
	padding-bottom: 0px;
	margin-bottom: 5px;
}
.box_09 .content .zajawka img {
	display: block;
	float: left;
	margin: 0 10px 3px 0;
}
.box_09 .zajawki .art_spons {
	background: #D8E2F0 url(../new_images/bg_art_spons.gif) no-repeat 3px 3px;
	padding:  22px 3px 3px 3px;
	margin-left: -3px;
}
.col420 .box_09 .content .zajawka img {
	width: 135px;
	float: left;
}
.col420 .box_09 .content .nazwa_sekcji,
.col420 .box_09 .content h4,
.col420 .box_09 .content p {
	width: 249px;
	float: left;
}
.col420 .box_09 .content p {
	padding-bottom: 5px;
}
/* end oznaczenie sponsorowanego na sg*/
#header .shop {
	top: 58px;
}

#header #wyszukiwarka, #header #zamow_newsletter  {
	height: 53px;
	width: 310px;
	background: transparent url(../new_images/spray_images.gif) no-repeat  -20px -40px;
}
#header #zamow_newsletter  {
	width: 210px;
	float: right;
	margin-left: 1px;
}
#header #wyszukiwarka .bg, #header #zamow_newsletter .bg {
	height: 43px;
	width: 291px;
	padding: 5px 10px;
	background: transparent url(../new_images/spray_images.gif) no-repeat  300px -40px;
}
 #header #zamow_newsletter .bg {
	width: 190px;
	background: transparent url(../new_images/spray_images.gif) no-repeat  200px -40px;
 }
#header #wyszukiwarka .szukaj, 
#header #zamow_newsletter .szukaj {
	padding: 0px 0px  0px 5px;
}
#header #wyszukiwarka .funct {
	float: right;
	margin-right: 30px;
}
#header #wyszukiwarka .funct  a {
	float: right;
}
#header #wyszukiwarka .funct  a.m10 {
	margin-right: 10px;
}
#header #wyszukiwarka div, #header #wyszukiwarka .szukaj,
#header #zamow_newsletter div, #header #zamow_newsletter .szukaj {
	background: transparent none;
	height: auto;
	border: 0px none;
	float: left;
}
#header #wyszukiwarka div input, #header #wyszukiwarka div select ,
#header #zamow_newsletter div input, #header #zamow_newsletter div select { margin-top: 5px;}
#header #wyszukiwarka .hdr, #header #zamow_newsletter .hdr { margin-top: 3px;}
#header #zamow_newsletter .fraza {
	width: 160px;
}


.artykul .social {
	position: relative;
	padding: 5px 0px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.artykul .social .tagi {
	width: 440px;
	float: left;
	margin: 0px;
}
.addthis_toolbox {float: right;}
.addthis_button_compact  {color: #8CB245 !important;}
.at300bs.at15t_expanded, .at300bs.at15t_compact {
	background-image: url(../new_images/logo1414.gif) !important;
}
.foto_01 div.minifoto {
	margin-bottom: 5px;
}
.foto_01 div.minifoto img {
	float: left;
	margin-right: 4px;
}
.foto_01 div.minifoto img.last {
	margin-right: 0px;
}
.artykul {
	position: relative;
}
.artykul .back_to_article {
	position: absolute;
	right: 0px;
	top: 0px;
}

.artykul .w302 {
	width: 302px !important;
	background:url(../new_images/box_302_cien_tlo.gif) no-repeat scroll left bottom transparent;
	margin-top: 10px;
	position: relative;
	padding-top: 23px;
	margin-right: 0px;
}
.artykul .w302 img {
	border: 0px none;
}
.artykul .w302 .header {
	position: absolute;
	top: 0px;
	left: 0px;
}
.artykul .w302 .content ul {
	list-style-type:none;
	margin:0 !important;
	padding:0px;
}
.artykul .w302 .content ul li {
	margin:0 0 3px;
}

.artykul .w640 {
	width: 640px !important;
	background:url(../new_images/box_640_cien_tlo.gif) no-repeat scroll left bottom transparent;
	margin-top: 10px;
	position: relative;
	padding-top: 23px;
	margin-right: 0px;
}
.artykul .w640 img {
	border: 0px none;
}
.artykul .w640 .header {
	position: absolute;
	top: 0px;
	left: 0px;
}
.artykul .w640 .content ul {
	list-style-type:none;
	margin:0;
	padding:0px;
}
.artykul .w640 .content ul li {
	margin:0 0 3px;
}
.artykul .column1 {
	width: 200px;
	margin-right: 5px !important;
}
.artykul .columnLast {
	width: 200px;
	margin-right: 0px !important;
}
.box_komentarz {
	border: 0px none !important;
}

.bottom_funct {
	padding-bottom:20px;
	background:url(../new_images/box_640_cien_tlo.gif) no-repeat scroll left bottom transparent;
	}
	.bottom_funct .btns_01 {
		border-bottom: 1px solid #E5E5E5;
		padding-bottom: 15px;
		margin-bottom: 0px;
	}
	.artykul .stopka { padding: 10px 0 0 0; }
.box_narzedzia .narzedzia_container {
	height: auto;
	background-color: #FFF;
	border-left: 1px solid #F1F1F2;
	border-right: 1px solid #F1F1F2;
	border-bottom: 1px solid #F1F1F2; 
}
div.box_narzedzia div.open {
	margin-top: -5px;
	padding-top: 5px !important;
	padding-bottom: 5px;
}
.box_narzedzia div.narzedzia_container  { padding: 0px !important;}
.box_narzedzia div.narzedzia_container div.clear { padding: 0px !important; margin: 0px; height: 0px; line-height: 0px;}

.box_narzedzia .narzedzia_container div.btt_funkcjonalnosci {
	height: 145px !important;
	width: 135px;
	overflow: hidden;
	background: none;
	padding: 3px 0;
	float: left;
	margin: 0px 10px;
}
.box_narzedzia .narzedzia_container div.btt_funkcjonalnosci span {
	display: block;
	padding-top: 5px;
	}

.box_narzedzia .narzedzia_container div.btt_funkcjonalnosci img {
	margin: 0px;
}
.box_najczesciej_czytane .content .columnl, .box_najczesciej_czytane .content .columnr {
	width: 140px;
	margin-right: 10px;
}
.box_najczesciej_czytane .content ul li {
	background: transparent url(../new_images/bg_dotted_line.gif) repeat-x left bottom;
	padding-bottom: 4px;
	margin-bottom: 4px;
}
.box_najczesciej_czytane .content ul li.last {
	background: transparent none;
	margin-bottom: 0px;
}
.box_najczesciej_czytane .content p.tit {
	font-weight: bold;
	margin-bottom: 10px;
}
.box_najczesciej_czytane .content .columnr {
	margin-right: 0px;
}

.box_komentarz .onecomment {
	padding: 10px;
	position: relative;
}
.box_komentarz .onecomment div.re {
	position: absolute;
	top: 10px;
	right: 10px;
}
.box_komentarz .onecomment div.re a {
	filter: alpha(opacity=40);
	-moz-opacity: 0.40;  
	-khtml-opacity: 0.40;  
	opacity: 0.40;
}
.box_komentarz .onecomment div.re a:hover {
	filter: alpha(opacity=100);
	-moz-opacity: 1.00;  
	-khtml-opacity: 1.00;  
	opacity: 1.00;
}
.box_komentarz .odd {
	background-color: #F7F7F7;
}
.box_komentarz .even {
	background-color: #FFF;
}
.box_komentarz .reply {
	border-left: 1px solid #CCC;
}
.box_komentarz .reply .p {
	margin-bottom: 10px;
}
.box_komentarz .onecomment p.data, .box_komentarz .onecomment h4 {
	margin-bottom: 5px;
	width: 80%;
}
.box_komentarz .onecomment p.data {
	font-size: 11px;
	color: #555;
}
.box_komentarz .onecomment .p {
	font-size: 11px;
	line-height: 170%;
	color: #444;
}

.box_komentarz .onecomment p.data span {
	color: #222;
}
.more_on_forum {
	text-align: right;
	margin-bottom: 10px;
	padding-top: 5px;
	border-top: 1px solid #E5E5E5;
}

.gallery_engine {
	margin-bottom: 10px;
}
.gallery_engine .gbtt {
	margin-bottom: 10px;
	float: right;
	overflow: visible;
}
.gallery_engine .gbtt a {
	cursor: pointer;
	display: block;
	width: 119px;
	height: 17px;
	line-height: 0px;
	float: left;
}
.gallery_engine .gbtt a.btt_prev {
	width: 139px;
	background: transparent url(../new_images/btt_gallery_prev.gif) no-repeat top left;
}
.gallery_engine .gbtt a.btt_next {
	background: transparent url(../new_images/btt_gallery_next.gif) no-repeat top left;
}
.gallery_engine  .gdesc {
	padding: 10px 10px 0px 10px;
	font-size: 11px;
	color: #666;
	line-height: 130%;
}
.gallery_engine  .noslide-images {
	padding-top: 10px;
}
.gallery_engine  .noslide-images .mini {
	float: left;
	padding-bottom: 8px;
}

.gallery_engine .noslide-images .prl {
	padding-left: 8px;
	* padding-left: 7px;
}
.gallery_engine  .noslide-images .mini a{
	display: block;
	line-height: 0px;
}
/*.gallery_engine  .noslide-images .mini a.zaznaczony {
	outline: 3px solid #F17A10; 
}*/
.gallery_engine  .noslide-images .mini a.zaznaczony {
	border: 3px solid #F17A10;
	margin: -3px;
}
.col230b .box_eksperci_radza_02 .w218px .specjalizacja {
	min-height: inherit !important;
}
.col230b .box_nasze_blogi .content {
	height: auto;
	padding:12px 100px 30px 12px;
}
.col230b .box_nasze_blogi .bbtn {
	left: auto;
	top: auto;
	bottom: -25px;
	right: 0px;
	width: auto;
}
.col230b .box_nasze_blogi .bbtn img {
	width: auto;
	height: auto;
}
.col230b  .box_newsletter .icomail {
	margin-right: -10px !important; 
}
/* XXX: MIESIĘCZNIK ZDROWIE */
.miesiecznik_zdrowie {
	border-top: 1px solid #E5E5E5;
	margin: 0px 0px 10px 0px;
}
.miesiecznik_zdrowie .mz_logo {
	float: left;
	margin: 10px 0px;
	width: 350px;
}
.miesiecznik_zdrowie .mz_logo img{
	width: 100%;
}
.miesiecznik_zdrowie .glosuj {
	position: relative;
	float: right;
	margin: 10px 0px;
}

.miesiecznik_zdrowie .glosuj ul {
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
	clear: both;
	overflow: hidden;
}
.miesiecznik_zdrowie .glosuj ul li{
	display: inline;
	float: left;
	margin-left: 5px;
}
.miesiecznik_zdrowie .glosuj .btt_glosuj_okladki {
	position: absolute;
	bottom: 5px;
	left: -20px;
}
.miesiecznik_zdrowie .glosuj .btt_glosuj_okladki a {
	display: block;
	width: 306px;
	height: 23px;
	background: transparent url(../../new_images/btt_glosuj_okladki.gif) no-repeat top left;
}
.miesiecznik_zdrowie .glosuj .btt_glosuj_okladki a span {
	position: absolute;
	text-indent: -99999px;
	z-index: -99999;
}

/* XXX:MENU ZDROWIE*/
.menu_zdrowie ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
	padding: 0px 0px 10px 0px;
	clear: both;
	overflow: hidden;
}
.menu_zdrowie ul li {
	display: inline;
	float: left;
	margin-right: 6px;
}
.menu_zdrowie ul li a:hover{
	text-decoration: none;
}
.menu_zdrowie ul li a span:hover{
	color: #eee;
}
.menu_zdrowie ul li a span:active{
	color: #eee;
}
.menu_zdrowie .active span{
	color: #bbb;
}
.menu_zdrowie ul li a{
    color: #444;
    text-decoration: none;
    font-size: 15px;
	font-family:helvl;
}
.box_row .small_row .small_article{
	min-height: 235px;
}
.small_row .small_article h5 a{
	color:#000;
}
.small_row .small_article h5{
	margin-top:1px;
	margin-bottom:1px;
	font-size: 15px;
}
.small_row .small_article p{
	margin-top: 2px;
}
/*.menu_zdrowie ul li a {
	display: block;
	width: 145px;
	height: 31px;
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat 0px 0px;
}
.menu_zdrowie ul li a.zsg {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat 0px 0px;
}
.menu_zdrowie ul li a.zst {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat -151px 0px ;
}
.menu_zdrowie ul li a.ztm {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat -302px 0px;
}
.menu_zdrowie ul li a.zaz {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat -453px 0px;
}
.menu_zdrowie ul li a.zr {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat -605px 0px;
}

.menu_zdrowie ul li a.zsg:hover, .menu_zdrowie ul li.active a.zsg  {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat 0px -31px;
}
.menu_zdrowie ul li a.zst:hover, .menu_zdrowie ul li.active a.zst {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat -151px -31px ;
}
.menu_zdrowie ul li a.ztm:hover, .menu_zdrowie ul li.active a.ztm {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat -302px -31px;
}
.menu_zdrowie ul li a.zaz:hover, .menu_zdrowie ul li.active a.zaz {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat -453px -31px;
}
.menu_zdrowie ul li a.zr:hover, .menu_zdrowie ul li.active a.zr {
	background: transparent url(../new_images/main_menu_zdrowie.jpg) no-repeat -605px -31px;
}*/

/*.menu_zdrowie ul li {
	color: #444;
	text-decoration: none;
	font-size: 15px;
	width:155px;
	text-align: center;
}
.menu_zdrowie .zsg span{
	float:left;
}
.menu_zdrowie .last span{
	float:right;
}*/

.menu_zdrowie ul li {
	color: #444;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	padding: 0px 95px 0 0;
}
.menu_zdrowie .zsg span{

}
.menu_zdrowie ul li.last {
	margin-right: 0px;
    padding: 0;
}
.radaprogramowa {
	padding: 10px;
}
.radaprogramowa .osoba {
	display: block;
	float: left;
	width: 196px;
	overflow: hidden;
	margin-bottom: 15px;
	margin-right: 15px;
}
.radaprogramowa .last {
	margin-right: 0px;
}
.content.radaprogramowa .osoba .fotografia {
	width: 100px;
	margin:0 auto;
	display: block;
	height: 100px;
	overflow:hidden;
}
.content.radaprogramowa.okladki .osoba .fotografia {
	width: 100px;
	margin:0 auto;
	display: block;
	height: 130px;
	overflow:hidden;
}
.radaprogramowa .osoba .fotografia img.mask{
	position:absolute;
}
.radaprogramowa .osoba .opis h4{
	text-decoration: none;
	font-family: "helvb";
	font-size: 13px;
	color: #6AB4EB;
	margin:7px 0;
	float:left;
	width:100%;
}
.radaprogramowa .osoba .opis p{
	width: 190px;
	margin-top: 10px;
	font-family: helv;
	color: #444;
	font-size: 13px;
	line-height: 130%;
}
.radaprogramowa .oradzie {
	padding-bottom: 10px;
	color: #444;
	font-family: helv;
	line-height: 130%;
}
.motto {
	/*background-color: #E6ECF5;*/
	background-image: url("/media/v3/images/diag_bg.gif");
	padding: 5px;
	font-weight: bold;
	width: 641px;
	float: left;
	margin-top: 7px;
	margin-bottom: 10px;
	font-size: 13px;
    color: #444;
    font-family: helvb;
    line-height: 130%;
	box-sizing: border-box;
}
.content.issue_archiwe{
	border:0px;
}
.issue_archiwe {
	padding: 10px;
}
.issue_archiwe .year, .issue_archiwe .year .monthlist {
	width: 290px;
	
}
.issue_archiwe .year {
	margin-right: 20px;
}
.issue_archiwe .last {
	margin-right: 0px;
}
.issue_archiwe .year .monthlist ul.procent50 {
	display: block;
	width: 145px;
	float: left !important;
	clear: none;
}
.issue_archiwe .year .monthlist ul li a {
    font-weight: normal;
    color: #666666;
}
.issue_archiwe .year .monthlist ul li {
	color: #CCCCCC;
	font-weight: normal;
}
.issue_archiwe .year .monthlist .off{
	padding-left: 10px;
    font-family: helvl;
    font-size: 13px;
    line-height: 180%;
	font-weight: 400;
	color:#ccc;
	background: transparent url("/media/v3/images/arrow.png") no-repeat scroll 0px 50%;
}

.issue_archiwe .year h4 {
	border-bottom: 1px solid #D8E2F0;
	margin-bottom: 6px;
	padding-bottom: 6px;
	font-size: 15px;
	color: #92B1D3;
	font-weight: normal;
}
.issue_archiwe .buy {
	border-top: 1px solid #D8E2F0;
	padding: 6px 0;;
	margin-top: 6px;
	text-align: right;
}

.issue_archiwe .buy a {
	color: #6AB4EB;;
	text-decoration: underline;
	font-weight: bold;
	padding-left: 15px;
	font-family: helvb
}
.ad_rectangle.newsletter{
	padding-top:15px;
}
.nowe_zdrowie {
	background-color: #FFFFFF;
}
.nowe_zdrowie .top_nz p{
	margin: 0;
}
.nowe_zdrowie .top_nz .lead{
	margin-bottom: 15px;
	display: block;
}
.nowe_zdrowie .top_nz p span stong{
	color: #6AB3EB;
    font-family: helvb;
    margin-bottom: 5px;
}
.nowe_zdrowie .top_nz .okladka_duza {
	width: 255px;
	height: auto;
	line-height: 0px;
	font-size: 0px;
	float: right;
	margin-top:15px;
	
}
.col750.gazeta .nowe_zdrowie .top_nz .okladka_duza .img_okladka{
	height: 322px;
	margin-bottom: 20px;
}
.col750.gazeta .nowe_zdrowie .top_nz .okladka_duza .img_okladka img{
	width:100%
}
.raport .buttons{
	margin-left: -5px;
}
.raport .buttons .button{
	width: 195px;
	margin-left: 5px;
	display:inline-block;
}
.buttons .button{
	margin: 10px auto 10px auto;
    font-family: "helv";
    font-size: 14px;
    padding: 5px 5px;
    line-height: 130%;
	text-align: center;
	width: 200px;
	border-radius: 7px;
	display: block;
}
.buttons .button.prenumerata{
	color: #F39C11;
	border: 1px solid #F39C11;
}
.buttons .button.archiwum{
	color: #EF007F;
	border: 1px solid #EF007F;
}
.buttons .button.itunes{
	color: #6BB4EB;
	border: 1px solid #6BB4EB;
}
.buttons .button.facebook{
	color: #fff;
	border: 1px solid #3b5999;
	background-color: #3b5999;
}
.buttons .button.facebook span,
.buttons .button.facebook img{
	vertical-align: middle;
}
a{
	text-decoration: none !important;
}
.number a{
	color: #F39C11;
}
.buttons a:hover{
	text-decoration: none !important;
}
.buttons .button.prenumerata:hover{
	color: #fff;
	background-color:#F39C11;
}
.buttons .button.archiwum:hover{
	text-decoration: none;
	color: #fff;
	background-color:#EF007F;
}
.buttons .button.itunes:hover{
	color: #fff;
	background-color:#6BB4EB;
	text-decoration: none;
}
.buttons .button.facebook:hover{
	color: #fff;
	border: 1px solid #3b5999;
	background-color: #193777;
}
.nowe_zdrowie .top_nz .okladka_duza .okladka_opis {
	font-size: 12px;
    line-height: 16px;
    margin: 2px 0;
}
.list_content_left,
.list_content_right{
	line-height: 150%;
    color: #222;
    font-family: helv;
	font-size: 12px;
}
.list_content_left{
    width: 375px;
    float: left;
}
.nowe_zdrowie .top_nz .list_content_left h1{
	color: #6BB4EB;
	font-size: 22px;
	margin-top:10px;
}
.col750.gazeta h2{
	font-family: "helv";
    font-size: 17px;
    color: #6AB4EB;
    margin-bottom: 8px;
	font-weight: 400;
}
.menu_zdrowie{
	border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.main_column .raport h1{
	margin-top: 10px;
    font-size: 22px;
    color: #000;
    font-family: helvb;
}
.raport p{
    font-size: 14px;
    color: #222;
    font-family: "helv";
    line-height: 150%;
    margin-bottom: 10px;
}
.lead_top p{
	font-family: helvb;
    font-size: 16px;
    color: #222;
    margin: 10px 0;
    line-height: 130%;
}
.lead_photo{
	margin-bottom: 10px;
}
.lead_photo img {
	width: 100%;
}
.order_e{
	float:right;
}
.order_e a{
	margin: 10px auto 10px auto;
    font-family: "helv";
    font-size: 14px;
    padding: 5px 5px;
    line-height: 130%;
    text-align: center;
    width: 200px;
    border-radius: 7px;
    display: block;
	border: 1px solid #ED145B;
	color: #ED145B;
}
.order_e a:hover{
	color: #fff;
	background-color: #ED145B;
}
.order_e a.sec{
	border: 1px solid #F39C11;
	color: #F39C11;
}
.order_e a.sec:hover{
	background-color: #F39C11;
	color: #fff;
}
/* strong,
.nowe_zdrowie .top_nz .list_content_right strong{
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
}*/
.nowe_zdrowie .top_nz .opsi_numeru {
	width: 375px;
	float: left;
	margin-right: 10px;
	padding-top: 10px;
	font-family: helv;
    font-size: 12px;
    color: #222;
    line-height: 130%;
}
.nowe_zdrowie .top_nz .opsi_numeru h2,
.spistresci .miniissue .issuetxt h4 {
	color: #6AB4EB;
	font-size: 17px;
	font-family: helv;
	margin-bottom: 20px;
	width:640px;
	border-top: 1px dashed #6AB4EB;
	padding-top: 5px;
	font-weight: 400;
	margin-top: 20px;
	clear:both;
	line-height: 120%;
}
.nowe_zdrowie .top_nz .opsi_numeru h2 {
	width: 100%;
}
.nowe_zdrowie .top_nz .opsi_numeru h2:first-child{
	border-top: 0;
	font-size: 26px;
	margin-top:0;
}
.nowe_zdrowie .top_nz .opsi_numeru h3 {
	margin: 0px;
}
.nowe_zdrowie .top_nz .opsi_numeru ul {
	margin-left: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
.nowe_zdrowie .top_nz .opsi_numeru .txt .signature{
	float: right;
	padding:10px 0;
	margin-bottom: 30px;
	margin-top:15px;
	width: 200px;
}
.nowe_zdrowie .top_nz .opsi_numeru .txt .signature img{
	width: 100%;
}
.row .label{
	display: inline-block;
	vertical-align: top;
	position: relative;
	top:9px;
}
.nowe_zdrowie .top_nz h1 {
    color: #6BB4EB;
    font-size: 22px;
    margin-top: 10px;
}
.top_nz span.message{
	color: #3CBD3C;
    font-weight: bold;
    width: 640px;
    display: block;
    box-sizing: border-box;
}
.top_nz .formule_ask .row.cont textarea,
.top_nz .formule_ask input {
	width: 450px;
}
.col750.gazeta{
	width: 640px;
}
.box_09.cat_box_a.w750px{
	width: 640px;
}
.box_09.cat_box_a.w750px .header{
	padding-bottom: 20px;
	width: 100%;
}
.box_09.cat_box_a.w750px .header span{
	font-size: 17px;
	font-family: helv;
	margin-bottom: 20px;
	width:680px;
	color:#6AB4EB;
	font-weight: 400;
	font-family: helvl;
}
.head_title{
	height:5px;
	background: #6AB4EB none repeat scroll 0% 0%;
	margin-bottom: 5px;
}
.box_09.cat_box_a.w750px .header img{
	display: none;
}
.box_09.cat_box_a.w750px .content.radaprogramowa{
	background-color: #fff;
	border: 0;
	width: 100%;
}
.nowe_zdrowie .top_nz .opsi_numeru ul li.specjal { margin-top: 10px;}
.nowe_zdrowie .top_nz .opsi_numeru ul li.specjal a { font-weight: bold; 	color: #BD006D; text-decoration: underline;}

.nowe_zdrowie .top_nz .opsi_numeru ul li {
	padding-left: 15px;
	margin: 3px 0px;
	background: transparent url(../new_images/b_more_01.gif) no-repeat 0px 3px;
}
.nowe_zdrowie .bottom_nz .nrissue {
	background-color: #D8E2F0;
	float: left;
	width: 276px;
	padding: 10px;
	height: 40px;
	font-weight: normal;
	font-size: 18px;
	color: #BD006C;
}
.nowe_zdrowie .bottom_nz .nrissue span {
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #333;
}

.nowe_zdrowie .bottom_nz .minisocial {
	padding: 25px 25px 0px 25px;
	background-color: #EBF0F7;
	height: 35px;
	width: 294px;
	float: right;
}
.nowe_zdrowie .bottom_nz .minisocial a {
	font-size: 13px;
	font-weight: normal;
	color: #666666
}
.nowe_zdrowie .bottom_nz .minisocial a.polec {
	padding-left: 20px;
	background: transparent url(../new_images/ico_polec_znajomemu.gif) no-repeat left center;
	float: left;
}
.nowe_zdrowie .bottom_nz .minisocial a.mailus {
	padding-left: 20px;
	background: transparent url(../new_images/ico_napisz_do_nas.gif) no-repeat left center;
	float: right;
}
.zamowwydanie {
	border-bottom: 1px solid #D8E2F0;
	margin-bottom: 10px;
	padding: 10px;
}
.zamowwydanie  a {
	padding-left: 15px;
	background: transparent url(../new_images/b_more_01.gif) no-repeat 0px 3px;
	font-weight: bold;
	color: #666;
	margin-right: 60px;
}
.zamowwydanie  a.last {
	margin-right: 0px;
}
.spistresci .miniissue {
	margin-bottom: 15px;
}
.spistresci .miniissue .cover {
	width: 157px;
	float: left;
	margin-right: 10px;
}
.issuetxt ul.buy li a {
	padding-left: 15px;
	background: transparent url(../new_images/b_more_01.gif) no-repeat 0px 3px;
	color: #666;
	font-weight: normal;
}
.spistresci .miniissue .issuetxt  {
	width: 180px;
	float: right;
}
.spistresci .miniissue .issuetxt ul.buy {
	clear: none;
}
.spistresci .miniissue .issuetxt ul.buy li {
	list-style-image: none;
	list-style-type: none;
	background: transparent none;
	margin: 4px 0;
	padding: 0px;
}
.spistresci .miniissue .issuetxt h4 {
	margin-bottom: 5px;
}
.spistresci .miniissue .issuetxt span {
	font-weight: bold;
	color: #333;
	font-size: 13px;
	margin-bottom: 10px;
	display: block;
}
.kontakt_form .formularz {
	padding: 10px;
}
.kontakt_form .formularz .row {
	width: 515px;
	margin: 0px auto;
	padding-bottom: 10px;
}
.kontakt_form .formularz label {
	display: block;
	float: left;
	width: 115px;
	padding-top: 6px;
	font-weight: bold;
	font-size: 12px;
}

.kontakt_form .formularz input,
.kontakt_form .formularz select,
.kontakt_form .formularz textarea {
	border: 1px solid #D8E2F0;
	background-color: #FFF;
	font-size: 12px;
	color: #333;
	padding: 5px;
}
.kontakt_form .formularz input {
	width: 388px;
}
.kontakt_form .formularz select {
	width: 400px;
}
.kontakt_form .formularz textarea {
	width: 388px;
	height: 120px;
}
.kontakt_form .formularz .buttons {}

.kontakt_form .formularz .buttons button {
	border: 0px;
	padding: 0px;
	margin-left: 115px;
	margin-right: 10px;
	width: 198px;
	height: 31px;
	background: transparent url(../new_images/btt_wyslij_wiadomosc.gif) no-repeat left top;
}
.kontakt_form .formularz .buttons button span {
	position: absolute;
	text-indent: -99999px;
	z-index: -99999;
}


.search_cosmetics {
	height: auto !important;
}
.search_cosmetics .header_search {
	margin: 0px 10px 1px 10px;
	border-bottom: 3px solid #D8E2F0;
	padding-bottom: 3px;
	position: relative;
}
.search_cosmetics .box_sekcje_01 .content {
	height: auto !important;
	background-color: #93B1D5;
	padding-left: 0px;
}
.search_cosmetics .form_kosmetyki {
	float: left;
	padding: 10px;
}
.search_cosmetics .form_kosmetyki .row {
	margin-bottom: 10px;
}
.search_cosmetics .form_kosmetyki label {
	color: #FFF;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	width: 100px;
	padding-top: 5px;
}
.search_cosmetics .form_kosmetyki .other label {
	width: 100px;
}
.search_cosmetics .form_kosmetyki select {
	padding: 4px;
	border: 1px solid #B3C8E2;
	background-color: #F3F6FA;
	font-size:  12px;
	color: #666666;
	width: 350px;
}
.search_cosmetics .form_kosmetyki .other  {
	border-top: 1px solid #D8E2F0;
	margin-top: 10px;
	padding-top: 10px;
}
.search_cosmetics .form_kosmetyki .other select {
	width: 300px;
}

.search_cosmetics .product_list {
	position: absolute;
	right: 0px;
	top: 0px;
}
.search_cosmetics .product_list .imgbtt {
	padding-top: 3px;
	display: block;
}
.search_cosmetics .product_list select {
	padding: 4px;
	border: 1px solid #B3C8E2;
	background-color: #F3F6FA;
	font-size:  12px;
	color: #666666;
	width: 250px;
}
.search_cosmetics .content .producenci {
	width: 250px;
}
.search_cosmetics button.btt_s_product {
	margin: 0 0 10px 0;
	padding: 0px;
	border: 0px;
	background: transparent none;
        float:left;
        width:232px;
	}
.search_cosmetics button.btt_s_product span {
	display: block;
	background: transparent url(../new_images/bg_button_search-l.gif) no-repeat left center;
	margin: 0px;
	padding: 0px;
}
.search_cosmetics button.btt_s_product span span {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #468BD8;
	background: transparent url(../new_images/bg_button_search-r.gif) no-repeat right center;
	height: 24px;
	width: 232px;
	margin: 0px;
	padding: 8px 0 0 0;
	text-align: center;
}
.boxkosmetyczny {
	padding: 10px;
}
.boxkosmetyczny .rowkosmetyczny {
	border-bottom: 1px solid #D8E2F0;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
}
.boxkosmetyczny .last {
	border-bottom: 0px none;
	margin: 0px;
	padding: 0px;
}
.boxkosmetyczny .rowkosmetyczny .kosmetyk {
	border-right: 1px solid #D8E2F0;
	float: left;
	width: 241px;
	text-align: center;
}
.boxkosmetyczny .rowkosmetyczny .last {
	border-right: 0 none;
    padding-left: 35px;
    width: 200px;
}
.boxkosmetyczny .rowkosmetyczny .first {
	padding-right: 35px;
    width: 200px;
}
.boxkosmetyczny .rowkosmetyczny .middle {
	width: 255px;
}
.lupa_new {
	background: url("../new_images/lupa_new.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 46px;
    position: absolute;
    width: 56px;
    }
.kosmetyk .body_kosmetyk {}
.boxkosmetyczny .rowkosmetyczny .kosmetyk .inPic,
.wwproduktow .inPic {
	position: relative;
	margin: 0px auto 10px;
	border: 1px solid #D8E2F0;
	background-color: #FFF;
	width: 180px;
	height: 150px;
	overflow: hidden;
	line-height: 150px;
	vertical-align: middle;
	text-align: center;
}
.wwproduktow .inPic {
	margin: 0px 10px 10px 0px;
	float: left;
}

.boxkosmetyczny .rowkosmetyczny .kosmetyk .inPic img, .wwproduktow .inPic img {
	vertical-align: middle;
}
.boxkosmetyczny .rowkosmetyczny .kosmetyk .inDesc h5 {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
}
.box_sekcje_01 .noline {
	border: 0px none;
	padding: 0px;
	margin-bottom: -5px;
}
.box_zapytanie .kryteria {width: auto;}
.box_zapytanie .kryteria .title {font-size: 13px; font-weight: bold; margin-top: 5px;}

.boxOpinie .product_opinion {
	border-bottom: 1px solid #D8E2F0;
	margin-bottom: 0px;
	padding: 15px;
}
.boxOpinie  .comment {
	border-bottom: 1px solid #D8E2F0;
	height: auto;
	overflow: hidden;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 750px;
}
.boxOpinie .comment .left {
	display: inline;
	float: left;
	height: auto;
	margin-left: 10px;
	padding: 0;
	width: 480px;
}
.boxOpinie .comment .right {
	background-color: #F3F6FA;
	float: right;
	height: 96px;
	margin-top: 10px;
	width: 250px;
	text-align: left;
}
.boxOpinie .comment .right p {
	padding-left: 10px;
	text-align: left;
}
.boxOpinie .comment .title {
	color: #FA4123;
	font: bold 14px/32px Arial,Tahoma,Verdana,Helvetica,sans-serif;
}
.boxOpinie .comment img {
	border: medium none;
	margin-bottom: -3px;
	margin-right: 4px;
}
.boxOpinie .comment .right .rate {
	background-color: #FFFFFF;
	height: 36px;
	line-height: 36px;
	margin-left: 10px;
	margin-top: 5px;
	padding: 0;
	text-indent: 10px;
	width: 230px;
}
.boxOpinie  .comment .right .rate strong {
	margin-right: 15px;
}
#item {margin-bottom: 30px; clear: both; overflow: auto; margin-top:30px;}
#item #itemPic  {
	background-color: #FFF;
	border: 1px solid #D8E2F0;
	display: table-cell;
	float: left;
	height: 300px;
	line-height: 300px;
	position: relative;
	text-align: center;
	width: 300px;
}
#item .pic {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
#item #itemDesc {
	float: right;
	height: auto;
	text-align: left;
	width: 429px;
	line-height: 200%;
	font-size: 12px;
}
#item #itemDesc h2 {
	font-weight: normal;
	font-size: 20px;
}

#item #itemDesc div.opis {
	font-size: 12px;
	line-height: 150%;
	margin-bottom: 10px;
}
.price {
	color: #F0770B;
	font: bold 13px Arial,Tahoma,Verdana,Helvetica,sans-serif;
}

.wwproduktow .box_wpis .opis {
	width: 500px;
}
.wwproduktow  .box_wpis .opis h4 { font-size: 12px; margin-bottom: 5px;}

/* XXX:ZPZ */
.box_zpz {
	width: 418px;
	border: 1px solid #478BDC;
	margin-bottom: 10px;
}
.col320 .box_zpz {
	width: 318px !important;
}
.box_zpz #insert_passage_products .centered {
	background: url(http://zakupy.poradnikzdrowie.pl/media/externals/images/zpz-bg.jpg) 0 0 repeat-x;
	position: relative;
	padding-top: 48px;
}
.box_zpz #insert_passage_products .centered .zpzbox-product {
	width: 84px;
	float: left;
	margin: 10px;
	color: #666;
}
.box_zpz #insert_passage_products .centered .zpzbox-product img.zpz-product {
	margin-top:5px;
	border: 1px solid #DDD;
}

.zpzbox-logo {
	position: absolute;
	top: 0px;
	left: 8px;
}
.zpzbox-orange {
	position: absolute;
	top: 0px;
	right: 10px;
}
.zpzbox-title {
	color: #FA4123;
	display: block;
	font-weight: bold;
}
.zpzbox-name {
	color: #333;
	font-size: 11px;
	line-height: 92%;
	display: block;
	height: 42px;
	overflow: hidden;
	margin: 4px 0px;
}
.zpzbox-price {
	font-weight: bold;
	color: #FA4123;
	font-size: 12px;
}
.zpzbox-buy {
	display: block;
	margin-top: 5px;
	width: 83px;
}
/* END ZPZ */

.glosuje_okladki {
	border: 0px;
	padding: 0px;
	width: 198px;
	height: 31px;
	background: transparent url(../../new_images/btt_wyslij_glosuj.gif) no-repeat left top;
	cursor: pointer !important;
	margin-bottom: 15px;
}
.glosuje_okladki span {
	position: absolute;
	text-indent: -99999px;
	z-index: -99999;
}
.glosuje_okladki:hover{
	opacity: 0.8;
}
/* Niebieski box promocyjny */

.promobox_blue {
	background: #468ADB url(../new_images/blue_promobox_bl.gif) no-repeat bottom left;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}
.promobox_blue .content_blue {
	background: transparent url(../new_images/blue_promobox_br.gif) no-repeat bottom right;
}
.promobox_blue .content_blue .head {
	background: transparent url(../new_images/blue_promobox_tl.gif) no-repeat top left;
}
.promobox_blue .content_blue .head .imagepromo {
	background: transparent url(../new_images/blue_promobox_tr.gif) no-repeat top right;
}
.promobox_blue .content_blue .head .imagepromo img {
	margin-top: 10px;
	margin-left: 10px;
}
.promobox_blue .content_blue .content_box {
	color: #FFF;
	padding: 10px;
}
.promobox_blue .content_blue .content_box .zajawka h4 {
	margin: 0px 0px 5px 0px;
	padding: 3px 0px;
	text-align:left;
}
.promobox_blue .content_blue .content_box .zajawka h4 a {
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
}
.promobox_blue .content_blue .content_box .zajawka h4 a:hover {
	color: #d2e2f7;
	text-decoration: none;
}

.promobox_blue .content_blue .content_box .zajawka p{
	padding: 0px 0px 5px 0px;
	margin: 0px;
}
.promobox_blue .content_blue .content_box .zajawka img {
	/*width: 200px;*/
	/*width: 135px;*/
	width: 100%;
	margin-bottom: 5px;
}
.promobox_blue .content_blue .content_box .zajawka span {
	display:block;
	text-align:center;
}
.promobox_blue .content_blue .content_box .zajawka p.nazwa_sekcji {
	display:none;
}

.header.new {
    background: url("../new_images/headerNEW.png") no-repeat scroll left top transparent;
    height: 79px;
    position: static;
}
.header.new .TxT {
    color: #488BDB;
    float: right;
    font-size: 19px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 15px;
    text-align: left;
    width: 526px;
}
.header.new .logZDR {
    background: url("../new_images/logZDR.png") no-repeat scroll left top transparent;
    cursor: pointer;
    float: left;
    height: 39px;
    margin: 15px 0 0 30px;
    width: 170px;
}



.LoginOrange {
    background: url("../new_images/logIN.png") no-repeat scroll left top transparent;
    height: 45px;
    margin-bottom: 10px;
}
.LoginOrange .buttonLogIN {
    background: url("../new_images/button_adProd.png") no-repeat scroll left top transparent;
    cursor: pointer;
    float: left;
    height: 31px;
    margin: 7px 0 0 17px;
    width: 157px;
}
.LoginOrange .buttonLogIN:hover {
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);

}
.LoginOrange .TxtCont {
}
.LoginOrange .TxtCont .rejestracja {
     float: left;
    margin-right: 10px;
    margin-top: 5px;
    color: #fff;
}
.LoginOrange .TxtCont .rejestracja span {
}
.LoginOrange .TxtCont .rejestracja .RejLink {
	cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
    color: #fff;
}

.LoginOrange .TxtCont .rejestracja .RejLink:hover {
color: #FCD7B6
}
.LoginOrange .TxtCont {
    float: right;
    margin-right: 17px;
    margin-top: 10px;
}
.LoginOrange .TxtCont .LogInPlace {
    float: right;
}
#loginInPut {
}
.loginInPut {
    border: 1px solid #B3C8E2;
    color: #666666;
    height: 15px;
    padding: 4px;
    width: 100px;
}
#loginInPut_button {
	vertical-align: middle;
}



.boxkosmetyczny.NewBoxKos {
}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny {
	border-bottom: 0 none;
    padding: 0;
}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .kosmetyk {
}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .first {
    padding-right: 17px;
    width: 120px;
}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .middle {
    padding: 0 15px;
    width: 120px;
}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .last {
    padding-left: 17px;
    width: 120px;
}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .kosmetyk .body_kosmetyk {
}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .kosmetyk .body_kosmetyk .inDesc {overflow: hidden;
}

.boxkosmetyczny.NewBoxKos .rowkosmetyczny .kosmetyk .body_kosmetyk .inDesc .box_wpis {border-bottom: 0 none;
    overflow: hidden;
    text-align: center;
    width: auto;}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .kosmetyk .body_kosmetyk .inDesc .opis {float: none;
    width: auto;}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .kosmetyk .body_kosmetyk .inDesc p {}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .kosmetyk .inPic {
    height: 83px;
    line-height: 0;
    width: 100px;
}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .kosmetyk .inPic img {
}
.boxkosmetyczny.NewBoxKos .rowkosmetyczny .inDesc h5 {
    height:46px;
    overflow:hidden;
}
.boxkosmetyczny.NewBoxKos.Orange {
	background-color: #F6F1EC;
    border-color: #E7DFD7;
}
.boxkosmetyczny.NewBoxKos.Orange .rowkosmetyczny .kosmetyk .body_kosmetyk .inDesc p span a {
	   font-weight: bold;
    text-decoration: underline;
}
.boxkosmetyczny.NewBoxKos.Orange .rowkosmetyczny .kosmetyk {
    border-color: #E7DFD7;
}

.boxkosmetyczny.NewBoxKos.Orange .rowkosmetyczny .kosmetyk .inPic {
    border-color: #E7DFD7;
}

.LoginOrange .TxtCont .rejestracja .Who {  color: #FCD7B6;
    margin-left: 10px;}
.LoginOrange .TxtCont .rejestracja .Who .LogOut { margin-left: 50px; text-decoration: underline; cursor: pointer; color: #fff;}
.LoginOrange .TxtCont .rejestracja .Who .LogOut:hover { color: #FCD7B6;}
.LoginOrange .buttonTXT {
    background: url("../new_images/ButtonTXT.png") no-repeat scroll left top transparent;
    float: left;
    height: 20px;
    margin: 14px 0 0 20px;
    width: 254px;
}

.BoxSORTnew {
    font-size: 12px;
    overflow: hidden;
    text-align: right;
    width: 750px;
}
.BoxSORTnew .SortTit {
    color: #9A9A9A;
    float: right;
}
.BoxSORTnew .SortOpin {
    float: right;
    margin-left: 10px;
}
.BoxSORTnew .SortPrice {
    float: right;
    margin-left: 15px;
}
.BoxSORTnew .SortOpin .grot, .BoxSORTnew .SortPrice .grot {
    float: left;
    height: 15px;
    margin-right: 5px;
    width: 9px;
}
.BoxSORTnew .SortOpin .grot .top, .BoxSORTnew .SortPrice .grot .top {
    background: url("../new_images/sortNEW.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 7px;
    width: 9px;
}
.BoxSORTnew .SortOpin .grot .bottom, .BoxSORTnew .SortPrice .grot .bottom {
    background: url("../new_images/sortNEW.png") no-repeat scroll 0 -6px transparent;
    cursor: pointer;
    height: 7px;
    width: 10px;
}
.BoxSORTnew .SortOpin span, .BoxSORTnew .SortPrice span {
    color: #F0770C;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

h4.GrayNew a, h2.GrayNew {
	color: #9A9A9A;
}
#item #itemDesc h2.GrayNew {
	font-size: 20px;
	margin-top: 0;
}
.box_wpis .ocena span {margin-left: 10px;}

p.ocena:first-child {}
.box_wpis span.more {margin-left: 10px;
    padding-left: 0;}

.box_wpis .opis .TitKos  {
color: #333333;
    display: block;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    width: 500px;
    
    }
#itemDesc .TitKos, .comment .left .TitKos {
	color: #333333;
    display: block;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
   
}
.LineNewForm {
	background-color: #D8E2F0;
    height: 1px;
    margin: 10px 0;
    width: 708px;
}

.AdProd_n .w220px {
   width: 390px;
}

.AdProd_n .w260px {
    width: 170px;}
    
.AdProd_n .w230px {
    width: 400px;
}
.AdProd_n textarea {
     width: 391px;
}

.AdProd_n .odpowiedzi ul li {
    display: block;
    float: left;
    list-style: none outside none;
    margin-left: 0px;
    margin-right: 25px;
}

.AdProd_n .odpowiedzi ul {
 margin: 0;
    overflow: hidden;
    padding-left: 0;
}
.AdProd_n .odpowiedzi ul li input {
margin-right: 5px;
}
#id_wyb_produc {}

.AdProd_n .w430px {
    width: 520px;
    
}
.AdProd_n #id_weight {height: 17px;}
.AdProd_n #id_weight, .AdProd_n #id_price, .AdProd_n #id_unit {width: 100px;}

.AdProd_n .btn.one_n:hover, .AdProd_n .btn.two_n:hover {opacity: 0.8;}

.txtPoz_butt {
	color: #CCCCCC;
    display: block;
    float: right;
    margin-right: 50px;
    margin-top: 3px;
    width: 290px;
}

.AdProd_n .txt_Bold {
	font-weight: bold;
}
input#find {
	background-color: #F3F6FA;
	border: 1px solid #B3C8E2;
	color: #666666;
	font-size: 12px;
	padding: 5px;
	width: 338px;
}

.boxkosmetyczny .more {
margin:0;
padding:0;
text-align:right;
}

.artykul .paginacja {
	padding: 4px 0px;
	clear: both;
	overflow: hidden;
	text-align: center;
}
.artykul .paginacja ul {
	text-align: center;
	width: 100%;
	display: block;
	clear: both;
	overflow: hidden;
	left: 50%;
	margin: 10px 50%;
}
.artykul .paginacja li {
	border: 1px solid #D9E2F1;
	display: block;
	float: left;
	padding: 0px;
	margin-left: 3px;
}
.artykul .paginacja li.active {
	padding: 4px 8px;
	display: block;
	border: 1px solid #468ADB;
	background-color: #468ADB;
	color: #FFF;
	font-size: 13px;
	font-weight: bold !important;
}
.artykul .paginacja li a {display: block; padding: 4px 8px; background-color: #F3F6FB;}
.col660 .box_temat_miesiaca .content .col1 .art_spons {
    padding-top: 24px;
    background: transparent url(/media/images/gt_art_spons.gif) no-repeat 12px 7px;
}
.box_narzedzia .narzedzia_container .videoPlayer {
    width: 300px;
    height: 225px;
    padding: 4px 0px 0px 8px !important;
}
.box_narzedzia .narzedzia_container p.title {
    font-weight: bold;
    padding: 0px 0px 5px 8px;
}
.bill_bottom {
    text-align: center;
    clear:both;
}
.bill_bottom div div {
    height: auto;
    margin: 20px auto 20px;
    width: 468px;
}
.bill_bottom div div a img {
	background: url("../images/reklama_h_tlo.gif") no-repeat scroll center top transparent;
    margin: 0 !important;
    padding-bottom: 0px;
    padding-top: 15px;
}
.kosmetyk .inDesc {
    padding:0px 10px;
}
.kosmetyk .body_kosmetyk .inDesc {
    padding:0px;
}
#itemDesc p {
    margin-top:0px;
}
.top_open_article .zakladki ul li.cosmetics {
    display: none;
	visibility: hidden;
}
.top_open_article .zakladki ul li.cosmetics a {
    background-color: #6991C0;
    color: #FFFFFF;
    padding: 14px 8px 3px;
}
.cosmetics-search {
    margin-bottom:10px;
}
.cosmetics-search a:hover {
    cursor:default;
}
.trzymam_widget .konkurs {
    background:#F0770B;
    padding:4px;
    margin:10px;
}
.trzymam_widget .konkurs a {
    color:#fff;
    font:bold 16px sans-serif;
}
.zakupyDzial {
    clear: both;
    overflow: hidden;
    margin-top:20px;
}
.zakupyDzial .product-row {
    border: 1px solid #E8E8E8;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 638px;
}
.zakupyDzial .product-row .c-1 {
    display: inline;
    float: left;
    height: auto;
    margin-left: 20px;
    margin-top: 0;
    text-align: center;
    width: 100px;
}
.zakupyDzial .product-row .c-2 {
    color: #666666;
    float: left;
    font: 15px Georgia,Arial;
    height: auto;
    margin-left: 20px;
    margin-top: 0;
    width: 290px;
}
.zakupyDzial .product-row .c-2 a {
    color:#468ADB;
    font-family:arial,sans-serif;
}
.zakupyDzial .product-row .c-2 .c-2Head a {
    font:bold 16px sans-serif;
}
.zakupyDzial .product-row .c-3 {
    border-left: 1px solid #E8E8E8;
    float: left;
    height: 76px;
    margin-left: 30px;
    margin-top: 6px;
    padding-top: 14px;
    text-align: center;
    width: 176px;
}
.zakupyDzial .product-row.produktyMargines {
    margin-top:10px;
}
.gt-prod a.compare {
    display:block;
    margin-top:6px;
}

/* fajf style*/
.fajf_style .w270px {
	width: 270px;
}
.fajf_style .fajf_logo {
	float: left;
	margin: 0px 10px 0px 0px;
}
.fajf_style .miniissue {
	font-size: 12px;
	line-height: 150%;
}
.fajf_style .zamow {
	background-color: #468ADB;
	color: #FFF;
	padding: 6px ;
}
.fajf_style .zamow a {
	background: transparent url(/media/images/blue_fajf_arrow.gif) no-repeat 3px 6px;
	padding-left: 15px;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
}
.fajf_style .nowe_zdrowie .top_nz p {
	font-size: 12px;
}
.fajf_style .nowe_zdrowie .col2  h4 {
	font-size: 14px;
	color: #468ADB;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
}
.fajf_style .fajf_line {
	border-right: 1px solid #D8E2F0;
	width: 349px;
}

#article_main .headEkspert {
	position: relative !important;
	top: auto !important;
	float: none;
	width: 618px;
	margin: 10px 0;
	right: auto !important;
}

#article_main .headEkspert .articleBlock5RightR {
	float: left;
	width: 486px;
}
#article_main .headEkspert .articleBlock5RightR .articleBlock5RightR1 ul {
	margin: 0px;
	padding: 0px;
}
#article_main .headEkspert .articleBlock5RightR2 h5 {
	margin-top: 10px;
	margin-bottom: 6px;
}
#article_main .headEkspert .articleBlock5RightR2 p {
	font-size: 12px;
	line-height: 135% !important;
	margin: 0px;
}
.article_main_text table {
	margin-bottom: 20px;
	float: none;
}
.article_main_text table,
.article_main_text table td {
	border: 1px solid #ADCBF6; 
}

.article_main_text table td {
	padding: 5px;
	font-size: 14px;
}
.article_main_text table td p { margin: 0 0 10px 0 ;  padding: 0px; font-size: 11px;}

.ekspert_answer .content ol,
.ekspert_answer .content ul {
	margin-left: 20px !important;
}
.row-arch {
    margin-top: 20px;
}
.head_title {
    height: 5px;
    background: #6AB4EB;
    margin-bottom: 5px;
}
.row-arch .category h1{
    font-family: "helv";
    font-size: 17px;
    color: #6AB4EB;
    margin-bottom: 10px;
}
.archive {
    background: #eee;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
}
.line.red {
    border: none;
    float: left;
}
.line.red:first-child {
    margin-right: 250px;
}
.line.red h4{
	color: #6AB3EB;
    margin-bottom: 10px;
    font-family: helv;
}
.line .uno {
    margin-bottom: 20px;
}
.line.red p {
    font-size: 13px;
    color: #222;
    margin-bottom: 5px;
	font-family: 'helv';
	line-height: 140%;
}
.line.red a {
    color: #F39C12;
    text-decoration: none;
    font-family: helv;
}
.nowe_zdrowie .formule_ask .sending button:hover {
    background: #6AB3EB;
}
.nowe_zdrowie .formule_ask .sending button{
    color: #fff;
    background: #F39C12;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
	border: 0;
	margin-left: 480px;
}
/*=== widgets ===*/
/*-- widget_box --*/
.widget_box a {
    overflow: hidden;
    float: left;
}
.widget_box .top_wg {
    overflow: hidden;
    padding-left: 24px;
    margin-top: 10px;
}
.widget_box > img {
	float: left;
}
.widget_box .top_wg .title_wg{
	font-family: helv;
    font-size: 20px;
    text-decoration: none;
    color: #444;
    padding-bottom: 10px;
    border-bottom: 5px solid #F39C12;
	display: inline-block;
}
.widget_box ul.news {
    list-style: none;
    width: 240px;
    padding-left: 15px;
    overflow: hidden;
    float: left;
}
.widget_box ul.news li a {
    float: left;
    width: 160px;
    font-family: "helvb";
    color: #000;
    line-height: 130%;
    margin-left: 10px;
    font-size: 13px;
    text-decoration: none;
    margin-top: 15px;
	height: 35px;
	font-size: 14px;
}
.wg_type_2.widget_box ul.news li a {
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
}
.widget_box ul.news li img {
    float: left;
    margin-top: 15px;
    float: left;
    cursor: pointer;
}
.widget_box ul.news.right {
    float: right;
    overflow: hidden;
    padding-left: 0;
    margin-right: 35px;
}
.widget_box ul.news {
    list-style: none;
    width: 240px;
    padding-left: 15px;
    overflow: hidden;
    float: left;
}
.widget_box ul.news li{
	display: inline-block;
	padding-bottom: 10px;
}
.wg_type_cover.widget_box ul.news li{
	border-bottom: 1px solid #ddd;
}
.widget_box p.lead_wg {
    display: inline-block;
    height: 50px;
    line-height: 130%;
    overflow: hidden;
    color: #000;
    margin-top: 10px;
	font-family: helv;
	font-size: 12px;
}
/*-- /widget_box --*/
.all_toggle_boxes{
	position: fixed;
	top: calc(100vh - 500px);
	left: 0;
	width: 50px;
	height:310px;
	z-index: 5555;
}
.wg_type_1 .box_wg,
.wg_type_2 .box_wg,
.wg_type_3 .box_wg,
.wg_type_4 .box_wg,
.wg_type_cover .box_wg{
	display: none;
}
.wg_type_1,
.wg_type_2,
.wg_type_3,
.wg_type_4{
	width: 50px;
	height: 50px;
}
.wg_type_cover{
	width: 50px;
	height: 182px;
}
.wg_type_1:hover .box_wg,
.wg_type_2:hover .box_wg,
.wg_type_3:hover .box_wg,
.wg_type_4:hover .box_wg,
.wg_type_cover:hover .box_wg{
	display: block;
    width: 550px;
    position: absolute;
    background-color: #fff;
    left: 50px;
    z-index: 20;
    height: 195px;
    top: 0;
    -webkit-box-shadow: 0px 0px 7px #999;
	-moz-transition: all;
    -moz-transition-timing-function: ease;
    -moz-transition-duration: 0.2s;
    -webkit-transition: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition: all;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.wg_type_1.widget_hot,
.wg_type_2.widget_hot,
.wg_type_3.widget_hot,
.wg_type_4.widget_hot,
.wg_type_cover.widget_hot{
	width: 600px;
	height: 182px;
}
.widget_box.wg_type_1 .news_hot .right_side_hot a:hover,
.widget_box ul.news li a:hover{
	cursor: pointer;
    color: #F39C12;
}
/*-- wg_type_1 --*/
.widget_box.wg_type_1{
    background: #fff;
    z-index: 5500;
    -moz-box-shadow: 0px 2px 5px #999;
    -webkit-box-shadow: 0px 2px 5px #999;
    box-shadow-bottom: 2px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";
    position: relative;
    background: #fff url("../../images/bg_widget.png")no-repeat center;
	margin-bottom: 5px;
}
.widget_box.wg_type_1 .img_wg {
    margin: 10px 0 0 24px;
    float: left;
    cursor: pointer;
	width: 100px;
	max-height: 70px;
	overflow: hidden;
}
.widget_box.wg_type_1 .img_wg img{
	width: 100%;
}
.widget_box.wg_type_1 p.lead_wg {
    height: 45px;
}
.widget_box.wg_type_1 .news_hot .right_side_hot {
    float: left;
    width: 380px;
    margin-left: 10px;
    margin-top: 10px;
}
.widget_box.wg_type_1 .news_hot .right_side_hot a {
    font-family: helvb;
    font-size: 16px;
    color: #444;
    text-decoration: none;
    line-height: 130%;
}
.widget_box.wg_type_1 .news_hot .right_side_hot .lead_hot {
    color: #444;
    font-size: 13px;
    line-height: 130%;
    cursor: pointer;
}
/*-- /wg_type_1 --*/

/*-- wg_type_2 --*/
.widget_box.wg_type_2 {
    background: #fff;
    z-index: 5200;
    -moz-box-shadow: 0px 2px 5px #999;
    -webkit-box-shadow: 0px 2px 5px #999;
    box-shadow-bottom: 2px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";
    position: relative;
    background: #fff url("../../images/bg_widget.png")no-repeat center;
	margin-bottom: 5px;
}
/*-- /wg_type_2 --*/

/*-- wg_type_cover --*/
.widget_box.wg_type_cover{
    background: #fff;
    z-index: 100;
    -moz-box-shadow: 0px 0px 7px #999;
    -webkit-box-shadow: 0px 0px 7px #999;
    box-shadow-bottom: 2px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";
    position: relative;
    background: #fff url("../../images/bg_widget.png")no-repeat center;
	z-index: 5300;
	margin-bottom: 5px;
}
.widget_box.wg_type_cover {
	height: 195px;
}
.widget_box.wg_type_2 > img,
.widget_box.wg_type_1 > img,
.widget_box.wg_type_cover > img {
    width: 50px;
    height: 100%;
	position: relative;
    z-index: 100;
}
.widget_box.wg_type_cover .cover_box {
    float: left;
    width: 105px;
    margin-left: 24px;
    margin-top: 5px;
}
.widget_box.wg_type_cover .cover_box img {
    width: 100%;
}
.widget_box.wg_type_cover ul.news {
    width: 195px;
    margin-top: 10px;
}
.widget_box.wg_type_cover ul.news.right {
    margin-right: 15px;
}
/*-- /wg_type_cover --*/
/*=== /widgets ===*/