#piano-root, #piano-root iframe {
	display: none !important;
}
body {
    margin: 0 auto;
    /*background: url('../../images/adv_bg.png') repeat-x center 110px;*/
    width: 100%;
    height: 100%;
    position: relative;    
}
.header {
    margin: 0 auto;
    width: 960px;
    padding-top: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    background: #fff;
}
.container {
    background: #fff;
}
.logo {
    float: left;
    cursor: pointer;
}
.right-socials {
    float: right;    
    margin-left: 20px;
}
.shopping {
    margin-bottom: 4px;
}
.right-socials a {
    margin-left: 2px;
}
.right-socials a:hover {
    opacity: 0.6;
}
.miesiecznik-logo {
    float: left;
    margin-left: 20px;
    width: 126px;
    height: 40px;
}
.miesiecznik-logo img {
    width: 100%;
    margin-top: 3px;
}
.search-space {
    float: left;
    margin-left: 20px;
    background: #F0F0F0;
}
form.search input {
    width: 354px;
    height: 28px;    
    background-color: #F0F0F0;
    border: 1px solid #ddd;
    padding: 5px;
    font-family: "helv";
    color: #878787;
    font-size: 18px;
    background: url("../../images/search_button.png") no-repeat scroll 5px transparent;
    padding-left: 44px;
    outline: none;
   
}
#ad_sky2 {
	position: absolute;
	left: -130px;
}
.menubar {
    margin-top: 0px;
    position: relative;
    height: 46px;
    background-image: url('../../images/menubg.png');        
    display: block;
    width: 100%;
    z-index: 6003;
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow-bottom: 0px 2px 5px rgba(0, 0, 0, 0.3);
    /* For IE 8 */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";*/
}
.menubar.fixed {
    top: 0px;
    position: fixed;
    z-index: 999999;
}
.menubar ul {
    line-height: 10%;    
    width: 990px;
    margin: 0 auto;
    list-style: none;    
}
.menubar ul li {
    display: block;
    margin: 0px;
    position: relative;
    z-index: 3;
    float: left;
    padding-right: 0px;
}
.menubar ul li a {
    line-height: 48px;
    font-family: "futura";
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px; 
}
.wide-bg{
    background-image: url('../../images/bg.png');
    width: 100%;
    position: relative;
    height: 350px;
}
.wrinkle {
    width: 960px;
    margin: 0 auto;
}
.li-wrap {
    overflow: hidden;
}
.limg {
    
    float: left;
    width: 11px;
    height: 46px;
}
.rimg {
    float: left;
    width: 12px;
    height: 46px;
}
.li-wrap a {
    display: block;
    height: 46px;
    line-height: 46px;
    float: left;
}
.menubar ul li:hover .li-wrap a,.menubar ul li.active .li-wrap a  {
    background: #6AB4EB; 
}
.menubar ul li:hover .rimg, .menubar ul li.active .rimg {
    background: url('../../images/liright.png') no-repeat;
}
.menubar ul li:hover .limg, .menubar ul li.active .limg  {
    background: url('../../images/lileft.png') no-repeat;    
}
/*PZU*/
.menubar ul li.droga_menu .li-wrap a,.menubar ul li.droga_menu.active .li-wrap a  {
    background: #005BA8; 
}
.menubar ul li.droga_menu .rimg, .menubar ul li.droga_menu.active .rimg {
    background: url('../../images/lirightpzu.png') no-repeat;
}
.menubar ul li.droga_menu .limg, .menubar ul li.droga_menu.active .limg  {
    background: url('../../images/lileftpzu.png') no-repeat;    
}
/*END PZU*/
.subcat {
    left: 14px;
    width: 500px;    
    padding: 10px;
    position: absolute;    
    background: #fff url('../../images/bg-menu.png') no-repeat top left;
    z-index: 100;
    -moz-box-shadow: 0px 2px 5px #999;
    -webkit-box-shadow: 0px 2px 5px #999;
    box-shadow-bottom: 2px #999;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";*/
}
.subcat {
    display: none;
}
.menubar ul li:hover .subcat {
    display: block;
}
.subcat ul.first {
    float: left;
    width: 250px;
    list-style: none;    
}
.subcat ul.two_verse {
    float: left;
    width: 250px;
    list-style: none;
    margin-left: -40px;
}
.subcat ul.two_verse li {
    text-align: left;
    border-bottom: 1px dotted #F39C12;
    float: left;
}
.subcat ul.first li {
    text-align: left;
    border-bottom: 1px dotted #F39C12;
    float: left;
}
.subcat ul li a {
    width: 190px;
    text-transform: none;
    font-family: helv;
    font-size: 16px;
    line-height: 180%;   
    height: auto;
    display: block;
}
.subcat ul li a:hover {
    color: #F39C12;
}
.subcat ul.second li a {
    width: 230px;
}
.subcat ul.second {
    float: right;
    width: 245px;
}
.subcat ul.second a {
    font-family: "helv";
    color: #444;
    line-height: 120%;
    margin-left: 10px;
    font-size: 13px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.subcat ul.second a img {
    float: left;
    margin-right: 10px;
}
.subcat ul.second li {
    margin-bottom: 20px;
}
.subcat ul.second li.title {
    color: #F39C12;
    padding-bottom: 10px;
    border-bottom: 5px solid #F39C12;
    font-family: "helv";
    font-size: 18px;
    line-height: 120%;
    margin-left: 10px;
}
.subcat .menu_ad {    
    margin: 0 auto;
    width: 520px;
    height: 100px;
    display: block;
    margin-left:-10px;
}
li#menu_item2 .subcat,
li#menu_item10 .subcat {
    width: 745px;
    background: #fff url('../../images/bg_menu_width.png') no-repeat top left;
}

li#menu_item10 .subcat ul.two_verse {
	margin-left: -20px !important;
}

li#menu_item2 .menu_ad {
    width: 765px;
    overflow: hidden;
    background: #eee;
    display: none;
}
li#menu_item8 .subcat {
    left: -182px;
}
li#menu_item7 .subcat {
    left: -195px;
}
li#menu_item9 .subcat {
    left: -195px;
}
li#menu_item10 .subcat {
    left: -560px;
}
li#menu_item11 .subcat,
li#menu_item12 .subcat{
    left: -640px;
    width: 745px;
    background: #fff url('../../images/bg_menu_width.png') no-repeat top left;
}
li#menu_item11 .subcat ul.first li a {
    width: 350px;
}



li#menu_item2 .subcat ul.first li a {
width: 154px;
text-transform: none;
font-family: helv;
font-size: 14px;
line-height: 160%;
height: auto;
display: block;
}

li#menu_item10 .subcat ul.first li a {
width: 154px;
text-transform: none;
font-family: helv;
height: auto;
display: block;
}


li#menu_item2 .subcat ul.two_verse li a {
width: 154px;
text-transform: none;
font-family: helv;
font-size: 14px;
line-height: 160%;
height: auto;
display: block;
}

li#menu_item10 .subcat ul.two_verse li a {
width: 154px;
text-transform: none;
font-family: helv;
height: auto;
display: block;
}


.ad_billboard {    
    width: 960px;    
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}
.ad_billboard > div > div {
    background: url('../../images/reklama.png') no-repeat top left;
    padding-top: 7px;
    margin-top: 10px;
}
.content {
    width: 960px;
    margin: 10px auto 0 auto;    
    background: #fff;
    padding: 1px 10px;
}
.lead_news {
	word-wrap: break-word;
}
.left_collumn {
    width: 223px;
    float: left;
    margin-right: 18px;
}
.category {
    font-family: "helv";    
    font-size: 17px;
    color: #6AB4EB;
    margin-bottom: 8px;
}
.head_title {
    height: 5px;
    background: #6AB4EB;
    margin-bottom: 5px;
}
.expert {
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}
.expert_head {
    float: left;    
    margin-bottom: 10px;
}
.head_exp.big {
    float: left;
    width: 100px;
}
.head_exp.small {
    width: 45px;
    float: left;
}
.question_title {    
    height: auto;   
    /* word-break: break-all; */
}
.question_title.small {
    float: left;
    width: 168px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.question_title a {
    text-decoration: none;
    font-family: "helvb";
    color: #444;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 10px;
}
.question_title a.small {
    /*font-size: 14px;
    font-family: "helvb";*/
}
.question_title a:hover {
    color: #F39C12;
}
.dr_title a {
    text-decoration: none;
    font-family: "helvb";
    color: #444;
    font-size: 13px;
    color: #6AB4EB;    
}
.dr_title a:hover {
    color: #F39C12;
}
.expert p.lead {
    margin-top: 10px;
    font-family: "helv";
    font-size: 13px;
    color: #444;
    padding-bottom: 20px;
    line-height: 130%;
    clear: both;
}
.middle_collumn {
    float: left;
    width: 400px;
    background: #F0F0F0;
}
.big_news {
    border-bottom: 1px solid #E7E7E7;
}
.big_news h2 a {
    font-family: "helv";
    font-size: 18px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;    
}
.big_news h2 {
    background-color: #F39C12;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 5;
}
.big_news .photo_big {
    margin-bottom: 10px;
    position: relative;
}
.big_news .photo_big .play {
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -34px;
    margin-left: -34px;
    padding: 0 !important;
}
.big_news p {
    font-family: "helv";
    font-size: 13px;
    color: #444;
    padding-bottom: 10px;
    line-height: 130%;
    margin: 0 5px 0 10px;
}
.comments {
    overflow: hidden;
    padding-right: 10px;
    padding-bottom: 10px;
}
.comments .cloud, .number, .share {
    float: right;
}
.comments .share {
    padding-left: 10px;
    border-left: 1px solid #ccc;
}
.comments .cloud, .number {
    padding-right: 5px;
    line-height: 16px;
    /* color: #ccc; */
    cursor: pointer;

    font-family: "helv";
    font-size: 13px;
    color: #F39C12;
    text-decoration: none;
}
.comments .cloud, .number:hover {
    /* color: #F39C12; */
    color: #6AB4EB;
}
/*.comments .number a {
    font-family: "helv";
    font-size: 13px;
    color: #F39C12;
    text-decoration: none;
}
.number a:hover {
    color: #6AB4EB;
}*/
.big_news.without {
    margin-top: 20px;
}
.big_news .title_news h3 {
    padding: 0 10px 10px 10px;
}
.big_news .title_news h3 a {
    font-family: "helvb";
    font-size: 18px;
    color: #444;    
    line-height: 120%;
    text-decoration: none;    
}
.big_news .title_news h3 a:hover {
    cursor: pointer;
    color: #F39C12;
}
.big_news.nopic {
    margin-top: 20px;
}
.right_collumn {
    width:300px;
    float: right;
}
.big_news.weeksubject p {
    margin: 10px 0 0 0;
    
}
.big_news.weeksubject span {
    text-decoration: none;
    font-family: "helv";
    font-size: 16px;
    color: #6AB3EB;
    margin-bottom: 10px;
    line-height: 120%;
    cursor: pointer;
}
.big_news.weeksubject span:hover {
    color: #F39C12;
}
.big_news.weeksubject {
    margin-bottom: 20px;
    position: relative;
}
.big_news.weeksubject.top.sonda .big_news.weeksubject{
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.ad_flash a img {
    margin-top: 10px;
}
.ad_flash {
    margin-bottom: 20px;
}
.ad_rectangle {
    margin-bottom: 10px;
}
.ad_rectangle img:first-child {
    display: none;
}
.ad_rectangle table img:first-child {
    display: block;
}
.ad_rectangle div img, .ad_rectangle a img  {
    display: block !important;
}
.ad_rectangle .ad_flash > div > div:before {
    position: relative;
    clear: both;
    overflow: hidden;
    padding: 0px;
    content: url('../../images/reklama.png');
    height: 5px;
    /*float: right;*/
    float: none;
    display: block;
    margin-bottom: 3px;
    background-position: right -48px;
}
.head_title.premium {
    background-color: #F39C12;
}
.category.premium {
    font-family: "helv";
    font-size: 18px;
    color: #F39C12;
}
.premium_block {
    margin-bottom: 20px;
}
.premium_block ul li a {
    color: #F39C12;
    text-decoration: none;
    font-family: "helv";
    font-size: 13px;
    padding-bottom: 10px;
}
.premium_block ul li a:hover {
    text-decoration: underline;
}
.premium_block ul li {
    margin: 10px 0 10px 0;
     border-bottom: 1px solid #eee;
     padding-bottom: 10px;
}
.premium_block ul li a img {
    margin-right: 5px !important;
}
.order_newsletter {
    background-color: #6AB4EB;
    height: 80px;
    margin-bottom: 20px;
}
.order_newsletter p {
    font-family: "helv";
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.order_newsletter form input {
    margin-left: 10px;
    height: 25px;
    width: 185px;
    font-family: helv;
    outline: none;
    background-color: #F0F0F0;    
    padding-left: 5px;
    border: 1px solid #ccc;
}
.order_newsletter a {
    background-color: #F39C12;
    padding: 5px 7px 7px 7px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}
.autodiagnoza .head_title {
    margin-top: 20px;
}
.autodiagnoza .category {
    font-family: "helv";
    font-size: 18px;
    color: #6AB4EB;
}
.diagnoza {
    margin: 10px 0 10px 0;
}
.diagnoza select {
    width: 240px;
    height: 30px;
    border: 1px solid #ccc;
    background: #eee;
    /* margin-bottom: 30px; */
    font-family: helv;
}
.sub_options input {
    width: 240px;
    height: 30px;
    border: 1px solid #ccc;
    background: #eee;
    margin-bottom: 10px;
    font-family: helv;
    padding-left: 5px;
}
.advice_exp .head_title {
    margin-top: 20px;
}
.advices ul li span {
    font-family: helv;
    font-size: 13px;
    color: #444;
    padding-left: 2px;
}
.advices {
    padding-top: 4px;
    background: url('../../images/rada.png') bottom right no-repeat;
}
.advices ul {
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.advices ul li a {    
    text-decoration: none;
    color: #6AB2EB;
    font-size: 12px;
    font-family: helv;
    line-height: 150%;
    background: url("../../images/arrow.png") no-repeat scroll 0 50% transparent;
    padding-left: 10px;
}
.advices ul li a:hover {
    text-decoration: underline;
}
.ask_expert a {
    background-color: #F39C12;
    padding: 5px 7px 7px 7px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-left: 70px;
    display: block;
    margin-top: 10px;
    text-align: center;
}
.ask_expert a.more {
    background-color: #6AB4EB;
}
.main_column {
    float: left;
    width: 641px;
}
.clear {
    clear: both;
}
.ad_wideshort {
    background: url('../../images/reklama.png') no-repeat top left;
    padding-top: 10px;    
    margin: 10px 0 10px 0;
    overflow: hidden;
    width: 641px;
}
.ad_wideshort a {
    margin-top: 5px;
}
.bottom_column .category {
    font-family: "helv";
    font-size: 18px;
    color: #6AB4EB;
    margin-bottom: 10px;
}
.big_article {
    overflow: hidden;
}
.grey_bg {
    background: #F0F0F0;
}
.grey_bg h3 {
    padding: 10px;
}
.grey_bg h3 a {
    font-family: "helvb";
    font-size: 20px;
    color: #444;    
    line-height: 120%;
    text-decoration: none;
}
.grey_bg.wideo h3 {
    font-family: "helv";
    font-size: 20px;
    color: #444;    
    line-height: 120%;
    text-decoration: none;
}
.grey_bg h3 a:hover {
    color: #F39C12;
    cursor: pointer;
}
.grey_bg h3:hover {
    color: #F39C12;
    cursor: pointer;
}
.grey_bg p {
    font-family: "helv";
    font-size: 13px;
    color: #444;
    padding: 5px 10px;
    line-height: 130%;
}
.med_article {
    margin: 20px 0 0px 0;    
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.opsi_numeru .med_article {
    margin: 20px 0 0px 0;    
    border-bottom: 1px solid #eee;
    overflow: hidden;
	width:641px;
}
.med_article .left_photo img {
    float: left;
    margin-right: 15px;
}
.med_article .right_lead h3 a {
    font-family: "helvb";
    font-size: 20px;
    color: #444;
    line-height: 120%;
    text-decoration: none;
}
.med_article .left_photo {
    overflow: hidden;
    position: relative;
    width: 200px;
    margin-right: 15px;
    float: left;
}
.med_article .left_photo img.play {
    position: absolute;
    z-index: 10;
    margin-left: -34px;
    margin-top: -34px;
    top:50%;
    left: 50%;
}
.med_article .right_lead h3 a:hover {
    cursor: pointer;
    color: #F39C12;
}
.med_article .right_lead p {
    margin: 10px 0 10px 0;
    font-family: "helv";
    font-size: 13px;
    color: #444;
    padding: 5px 0;
    line-height: 130%;
}
.small_article {
    width: 200px;
    float: left;
    margin-right: 20px;
    position: relative;
	box-sizing: border-box;
}
.small_article .play {
    position: relative;
}
.main_column .small_article img:hover{
	opacity:0.7;
}
.small_article a img {
    margin-bottom: 5px;
	width: 100%;
}
.small_article h3 a {
    font-size: 16px;
    color: #444;
    font-family: helvb;
    margin-bottom: 10px;
    line-height: 120%;
    text-decoration: none;
}
.main_column .small_article .box_main h3 {
	height: 40px;
	overflow: hidden;
}
.small_article h3 {
    margin-bottom: 10px;
}
.small_article h3 a:hover {
    cursor: pointer;
    color: #F39C12;
}
.small_article h5:hover {
    cursor: pointer;
    color: #F39C12;
}
.small_article h5 {
    font-size: 13px;
    color: #444;
    font-family: helvb;
    margin-bottom: 10px;
    line-height: 120%;
    text-decoration: none;
}

.small_article p {
    font-size: 13px;
    color: #444;
    font-family: helv;
    margin-bottom: 10px;
    line-height: 130%;
}
.small_row {
    width: 641px;    
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin: 20px 0 5px 0;
}
.small_article.last {
    margin-right: 0px;
}
.small_article .comments a img {
    margin-bottom: 0px;
}
.big_news.weeksubject.bottom h5 a{
    color: #444;
}
.big_news.weeksubject.bottom h5 a:hover {
    color: #F39C12;
}
.left_calc input, .left_calc select {
    outline: none;
    width: 220px;
    height: 30px;
    font-family: helv;
    font-size: 16px;
    color: #444;
    padding-left: 5px;
    display: block;
    margin-bottom: 20px;
    background: #EEEEEE;
    border: 1px solid #ddd;    
}
.calcs {
    margin-bottom: 20px;    
}
.search_row a:hover {
    background: #F39C12!important;
}
.calcs .left_calc p, .autodiagnoza p {
    font-family: helv;
    font-size: 16px;
    color: #444;
    /* margin-bottom: 10px; */
    margin: 10px 0;
}
.calcs .left_calc p.title {
	width: 205px;
}
.calcs .left_calc {
    float: left;
    width: 220px;
    margin-right: 20px;
}
.calcs .right_calc p.others {
    font-family: helv;
    font-size: 16px;
    color: #6AB2EB;
    margin-bottom: 10px;
}
.right_calc {    
    position: relative;    
}
.right_calc .zip {
    background: #F0F0F0;
    width: 380px;
    height: 160px;
    float: right;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: auto;
    /* min-height: 260px; */
}
.right_calc .zip ul li a {
    background: url("../../images/arrow.png") no-repeat scroll 0 50% transparent;
    padding-left: 10px;
    font-family: helv;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    line-height: 180%;
    text-overflow: ellipsis;
}
.right_calc .zip ul li a:hover {
    color: #6AB4EB;
}
.right_calc a.more_but {
    float: right;
    padding: 5px 22px;
    color: #fff;
    background: #6AB4EB;
    text-decoration: none;
    font-size: 16px;
}
.category.calc {
    margin-bottom: 30px;
}
.zip_button {
    float: right;
}

.buttons_leftcalc {
    float: left;
    margin-top: 50px;
}
.buttons_leftcalc a.count {
    width: 110px;
    background-color: #6AB4EB;
    padding: 5px 22px 5px 22px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-right: 3px;
}
.buttons_leftcalc a.clear {
    width: 100px;
    background-color: #F39C12;
    padding: 5px 22px 5px 22px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.zip_button a {
    width: 110px;
    background-color: #6AB4EB;
    padding: 5px 22px 5px 22px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;    
}
.cover_img {
    position: absolute;
    z-index: 1;
    right: 0;
    top: -53px;
}
.big_article.wideo {
    margin-top: 10px;
}
.big_article.wideo a {
    position: relative;
    display: block;
}
.big_article.wideo img.play {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 68px;
    height: 68px;
    margin: auto;
}
.big_article.wideo img.play:hover {
    cursor: pointer;
    opacity: 0.6;
}
.grey_bg.wideo {
    padding: 5px 0;
    background: none;
}
.grey_bg.wideo h3 {
    padding: 0;
    margin-bottom: 10px;
}
.small_row.wideo a {
    position: relative;
    display: block;
}
.small_row.wideo .small_article img.play {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 68px;
    height: 68px;
    margin: auto;
}
.small_row.wideo .small_article img.play:hover {
    cursor: pointer;
    opacity: 0.6;
}
.middle_collumn.low {
    margin-top: 20px;
}
.small_article.low {
    display: block;
    margin-top: 20px;
    margin-right: 40px;
    border-bottom: 1px solid #eee;
	height: auto;
}
.category.mid {
    padding-left: 10px;
}
.big_news p.date {
    font-family: helv;
    font-size: 12px;
    color: #999;
    line-height: 150%;
}
.big_news img.date {
    float: left;
    padding-left: 10px;
    margin-right: 5px;
}
.top_10 {
    overflow: hidden;
    margin-bottom: 20px;
}
.top_10 a.title {
    background: #6AB4EB;
    color: #fff;
    text-decoration: none;
    font-family: helv;
    font-size: 18px;
    padding: 5px 64px 5px 10px;   
}
.top.img {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #eee;    
}
.top.img img {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.top.img p.frst {
    font-size: 15px;
    line-height: 130%;
}
.top.img p {
    font-family: helv;    
    font-size: 13px;
    color: #444;    
}
.line_soc a {
    text-decoration: none;
    color: #6AB4EB;
    font-family: helv;
    font-size: 12px;
}
.top.img a {
    text-align: right;
    text-decoration: none;
    color: #6AB4EB;
    font-family: helvb;
    font-size: 15px;
    text-align: right;
    line-height: 120%;
}
.line_soc p {
    text-align: right;
    text-decoration: none;
    color: #6AB4EB;
    font-family: helv;
    font-size: 12px;
    float: left;
    color: #6AB4EB !important;
    cursor: pointer;
}
.line_soc p:hover {
    color: #F39C12 !important;
}
.line_soc p.eye {
    float: right;
    background: url("../../images/eye.gif") no-repeat;
    padding-left: 38px;
    line-height: 18px;
}
.top.img a:hover {
    color: #F39C12;
}
.big_news.weeksubject.bottom h3 {
    padding-left: 0px !important;
}
.top.img.no {
    padding: 10px 0;
}
.joinus a{
    margin: 10px 10px 10px 0;
    padding-bottom: 10px;
}
.joinus a:hover {
    opacity: 0.6;
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    filter:alpha(opacity=70);
}
.joinus {
    overflow: hidden;
    margin-top: 10px;
    border-bottom: 1px solid #eee;   
}
.joinus .social-widgets {
    margin: 10px 0;
}
.magazine {
    margin: 10px 0 20px 0;
    overflow: hidden;
}
.magazine .leftmag a img {
	width: 100%;
}
.magazine .leftmag {
	float: none;
	margin-right: 0;
	width: 100%;
}
.magazine p.new {
    font-family: helv;
    font-size: 17px;
    color: #444;
    margin-bottom: 10px;
}
.leftmag {    
    float: left;
    margin-right: 20px;
}
.rightmag {
    float: right;
}
.magazine .rightmag {
	float: none;
}
.magazine .rightmag a {
	display: inline-block;
	margin-bottom: 8px;
}
.magazine .rightmag a[href^="https"],
.magazine .rightmag a[title~=archiwalne],
.magazine .rightmag a[title~=Prenumerata]{
	background: #6AB4EB;
	padding: 10px 0px;
	color: #fff;
    width: 148px;
    text-align: center;
}
.rightmag a {
    display: block;
    text-decoration: none;
    color: #F19A10;
    font-family: helv;
    font-size: 13px;
    line-height: 150%;
    background: url("../../images/orange_arrow.png") no-repeat scroll 0 50% transparent;
    padding-left: 15px;
}
.rightmag a:hover {
    text-decoration: underline;
}
.category.bottom {
    margin-bottom: 10px;
}
.rec {
    margin-top: 10px;
}
.footer {
    background: #444;   
    padding-bottom: 40px;
}
.footer ul {
    width: 960px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}
.footer ul li {
    line-height: 180%;
    font-size: 11px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 160px;
    font-family: arial;
}
.footer span.footerHead {
    float: left;
    margin-left: -160px;
    font-weight: bold;
    cursor: default;
    font-family: arial;
}
.footer span {
    color: #3498DC;
    margin-right: 10px;
    cursor: pointer;
    font-family: arial;
}
.footer a {
    font-family: arial;
    color: #B8B8B8;
    text-decoration: none;
    margin-right: 10px;
}
.footer-logo {
    margin: 10px auto;
    width: 280px;
    padding-top: 10px;
    float: left;
    overflow: hidden;
}
.footer ul li a:hover {
    color: #3498DC;
}
.signup {
    padding-top: 20px;
    float: right;
    width: 400px;
}
.signup input {
    width: 220px;
    height: 30px;
    font-family: helv;
    font-size: 16px;
    color: #444;
    padding-left: 5px;    
    margin-bottom: 20px;
    background: #EEEEEE;
    border: 1px solid #ddd;
}
.foot_head {
    width: 960px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}
.footer ul li b {
    color: #fff;
}
.signup a {
    background: #3498DC;
    color: #fff;
    padding: 8px 12px 8px 12px;
    margin-left: 5px;
    text-align: center;
    font-family: helv;
    font-size: 14px;
}
.signup a:hover {
    background: #f0770b;
}
.bottomtext {    
    margin: 0px auto;
    width: 960px;
    padding: 20px 10px;
    background: #fff;
}
.bottomtext p {
    margin-top:0px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-family: helv;
    font-size: 12px;
    color: #AFAFAF;
    line-height: 120%;
    padding-bottom: 10px;
}
.bottomtext p.second {
    margin-bottom: 0px;
}
.footer a.blue {
    color: #3498DC;
}
.footer a.blue:hover {
    color: #fff;
}
.copyright {
    margin: 0 auto;
    width: 960px;
    margin-top: 25px;
    overflow: hidden;
}
.copy {
    float: left;
    font-family: arial;
    font-size: 11px;
}
.copyrighty {
    float: right;
    font-family: arial;
    font-size: 11px;
}
.about_bottom {
    padding-top: 20px;
    margin: 0 auto;
    width: 960px;
    color: #B8B8B8;
    line-height: 130%;
}
.big_news.weeksubject.top .title_right a {    
    position: absolute;   
    z-index: 1;
    text-decoration: none;
    color: #fff;
    font-family: helv;
    font-size: 13px;
    background: #6AB4EB;
    line-height: 150%;
    padding: 5px;
    top: 146px;
}
.big_news.weeksubject.top .title_right a:first-child {
    top: 120px;
}
.big_article img {
    cursor: pointer;
}
.photo_big {
    cursor: pointer;
}
.small_article img {
    margin-bottom: 10px;
}
.left_photo img {
    cursor: pointer;
}
.big_news.weeksubject.top .photo_big a img {
    position: relative;
}
.small_article.low.last {
    border: none;
}
.big_news.nopic.last {
    border: none;
}
.big_news.last {
    border: none;
}
.looking_for_answer {
    background: url("../../images/form_bg.png") no-repeat;
    height: 200px;
    width: 640px !important;
    overflow: hidden;
    margin-bottom: 20px;
}
.looking_for_answer p.big {    
    font-size: 18px;    
    padding-top: 20px;
    padding-left: 20px;
    font-family: helv;
}
.looking_for_answer p {
    font-size: 13px;
    font-family: helv;
    color: #fff;
    padding: 10px 20px;
    line-height: 130%;
}
.looking_for_answer input {
    margin-top: 10px;
    width: 420px;
    height: 30px;
    font-family: helv;
    font-size: 14px;
    color: #444;
    padding-left: 5px;
    margin-left: 20px;
    background: #EEEEEE;
    border: 1px solid #ddd;
}
.looking_for_answer a {
    margin: 10px 0 0 10px;
    background: #F39C12;
    text-decoration: none;
    color: #fff;
    padding: 8px 10px 8px 10px;
    font-family: helv;
    font-size: 14px;
    text-align: center;
}
.experto {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.experto a {
    font-family: helv;
    color: #6AB4EB;
    text-decoration: none;
    font-size: 16px;
}
.experto a.name {
    display: block;
    font-size: 18px;
    line-height: 120%;
}
.experto p {
    margin: 10px 0 10px 0;
    font-family: helv;
    font-size: 13px;
    line-height: 120%;
    color: #444;
    line-height: 130%;
}
.remember {
    overflow: hidden;
}
.remember .rememb_info {
    float: left;
    width: 310px;
    margin-bottom: 20px;
    font-family: "helv";
    color: #888;
    font-size: 12px;
    line-height: 130%;
}
.remember .ask_que {
    margin-top: 7px;
    float: right;   
}
.remember .ask_que a {   
    background: #F39C12;
    text-decoration: none;
    color: #fff;
    padding: 4px 15px 6px 15px;
    font-size: 15px;
}
.remember .ask_que a:hover {
    background: #6AB4EB;
}
.questions {
    background: #EEEEEE;
    overflow: hidden;
    padding: 18px 16px;
}
.questions p {
    font-family: helv;
    color: #F29B12;
    font-size: 18px;
    padding: 10px 26px;
}
.questions_left {
    width: 275px;
    float: left;
    margin-bottom: 20px;
}
.questions_left a {
    text-decoration: none;
    font-size: 13px;
    color: #444;
    font-family: helv;
    line-height: 160%;
    display: block;
    background: url("../../images/orange_arrow.png") no-repeat scroll 0 50% transparent;
    padding: 0px 0px 3px 15px;
}
.questions_right a {
    text-decoration: none;
    font-size: 13px;
    color: #444;
    font-family: helv;
    line-height: 160%;
    display: block;
    background: url("../../images/orange_arrow.png") no-repeat scroll 0 50% transparent;
    padding: 0px 0px 3px 15px;
    margin-left: 10px;
}
.questions_right {
    width: 275px;
    float: right;
}
.paginate {
    overflow: hidden;
    border-bottom: 1px solid  #eee;
    margin-bottom: 20px;
}
.paginate .next_page {
    float: right;
    margin: 10px 5px 10px 0;    
    background: #eee;
}
.paginate .next_page a {
    color: #444;
    text-decoration: none;
    font-size: 13px;
	display: block;
	padding: 10px 12px;
}
.paginate .next_page:hover {
    background: #6AB4EB;
    color: #fff;
}
.paginate .next_page.active {
    background: #6AB4EB;    
}
.paginate .next_page.active span {
	padding: 10px 12px;
	display: block;
}
.paginate .next_page.active a {
    color: #fff;
}
.paginate .next_page.nxt {
    background: #F39C12;
}
.paginate .next_page.nxt:hover {
    background: #6AB4EB;
}
.paginate .next_page.nxt a {
    color: #fff;
    font-size: 13px;
}
.head_title.btt {
    width: 230px;
}
.logotype_partner {
    float: right;
}
.formule_ask {
    margin: 10px 0;
    width: 621px;
    background: #F5F5F5;
    padding: 10px;
}
.formule_ask input {
    width: 480px;
    height: 30px;
    margin-left: 20px;
    background: #EEEEEE;
    border: 1px solid #ddd;
    padding-left: 5px;
    font-family: helv;
    font-size: 14px;
    color: #444;
}
.formule_ask .row {
    font-family: helv;
    font-size: 15px;
    color: #444;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: right;
}
.formule_ask .row.cont textarea {
    height: 250px !important;
    width: 478px;
    margin-left: 20px;
    background: #EEEEEE;
    border: 1px solid #ddd;
    padding-left: 5px;
    font-family: helv;
    font-size: 14px;
    color: #444;    
}
.formule_ask .row.cont {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}
.formule_ask .row.sel select {
    margin-left: 20px;
    margin-right: 387px;
    width: 100px;
    height: 30px;
    background: #EEEEEE;
    color: #444;
    border: 1px solid #ddd;
}
.formule_ask .row.check form input.checkbox {
    width: 20px;
    height: 20px;
    background: #ccc;    
}
.formule_ask .row.check {
    border-bottom: 1px solid  #ddd;
    padding-bottom: 10px;
    padding-right: 350px;
}
.formule_ask .row.check input {
    width: 20px;
    height: 10px;    
}
.formule_ask .row.captch {    
    clear: both;
    padding: 5px;
}
.formule_ask .row.captch input {
    width: 100px;
}
.formule_ask .row.captch .captcha {
    display: inline;
    position: relative;
    top: 10px;
}
.formule_ask .row.captch .captcha img {
    top: 0px;
    left: 5px;
    position: relative;
}
.formule_ask .row.info {
    color: #ccc;
    font-size: 13px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid  #ddd;    
    margin-left: 0;
    padding-left: 0;
    width: 610px;
}
.formule_ask .row.left {
    text-align: left;
    border-bottom: 1px solid  #ddd;
    padding-bottom: 20px;    
}
.formule_ask .row.butt {
    padding-top: 10px;
}
.formule_ask .row.butt a {    
    margin: 10px 0 0 10px;
    background: #F39C12;
    text-decoration: none;
    color: #fff;
    padding: 8px 10px 8px 10px;
    font-family: helv;
    font-size: 15px;
    text-align: center;
}
.formule_ask .row.butt a:hover {
    background: #6AB4EB;
}
.footy_ask p {
    margin-top: 10px;
}
.footy_ask p span {
    color: #F39C12;
}
.face_expert img.mask {
    position: absolute;
    z-index: 1;
}
.face_expert img {
    position: relative;
    width: 40px;
    height: 40px;
}
.diety .face_expert img {
    /*position: absolute;*/
    width: auto;
    height: auto;
}
.face_expert {
    overflow: hidden;
}
.face_av {
    height: auto;
    float: left;
    margin-right: 6px;
}
.experto_info {
    width: 580px;
}
.looking_for_answer.exp {
    background: url("../../images/bg_exp.png") no-repeat;
    height: 98px;
}
.looking_for_answer.exp input {
    width: 350px;
}
.looking_for_answer.exp p.big.exp {
    padding-top: 8px;
    font-family: helv;
    font-size: 22px;
}
.looking_for_answer.exp select {
    width: 230px;
    height: 30px;
    background: #EEEEEE;
    border: 1px solid #ddd;
    color: #444;
}
.looking_for_answer.exp.ask {
    background: url("../../images/bg_exp2.png") no-repeat;
    height: 98px;
}
.looking_for_answer.exp input {
    height: 25px;
    padding-bottom: 2px;
    margin-right: 10px;
}
.text_exp a {
    font-family: helv;
    color: #6AB4EB;
    text-decoration: none;
    font-size: 13px;
}
.text_exp a.higher {
    display: block;
}
.text_exp p {
    font-family: helv;
    font-size: 13px;
    color: #444;
    width: 190px;
    margin: 10px 10px 10px 110px;
}
.exp_lefty {
    width: 310px;
    float: left;
    margin-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.exp_row {
    margin-bottom: 20px;
    overflow: hidden;
}
.exp_lefty .face_av {
    width: 110px;
    float: left;
}
.exp_lefty .face_av img.mask {
    position: absolute;
    z-index: 1;
}
.exp_lefty .face_av img {
    position: relative;
}
.exp_lefty .zip.exp {
    background: #F0F0F0;
    width: 290px;
    height: 152px;    
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}
.exp_lefty .zip.exp ul {
    list-style: none;
}
.exp_lefty .zip.exp li a {
    background: url("../../images/arrow.png") no-repeat scroll 0 50% transparent;
    padding-left: 10px;
    font-family: helv;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    line-height: 180%;
    text-overflow: ellipsis;
}
.exp_lefty .zip.exp li a:hover {
    color: #6AB4EB;
}
.exp_lefty.right {
    margin: 0;
}
.exp_lefty .buttons_exp a.ask {    
    background-color: #F39C12;
    padding: 5px 22px 5px 22px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-right: 3px;
}
.exp_lefty .buttons_exp a.see {
    background-color: #6AB4EB;
    padding: 5px 17px 5px 17px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-align: center;    
}
.paginate.exp {
    border: none;
}
.questions.response {
    background: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.questions.response p {
    color: #6AB3EB;
}
.questions.response .questions_left a, .questions_right a{
    background: url("../../images/orange_arrow.png") no-repeat scroll 0 50% transparent;
}
.questions_left a:hover, .questions_right a:hover {
    color: #F39C12;
}
.remember.response {
    border-bottom: 1px solid #eee;
}
.questions.response p.re {
    padding-left: 10px;
}
.odp {
    margin-top: 20px;
}
.odp p {
    color: #444;
    font-size: 13px;
    line-height: 130%;
}
.asking_why {
    margin-top: 20px;
    background: url("../../images/diag_bg.gif");
    padding: 10px;
}
.asking_why p.big_ask {
    color: #F39C12;
    font-size: 20px;
    margin-bottom: 10px;
    font-style: normal;
}
.asking_why p {
    font-size: 13px;
    color: #777;
    font-style: italic;
    margin-bottom: 10px;
    line-height: 130%;
}
.right_bttns a.more_but {
    float: right;
    background-color: #6AB4EB;
    padding: 5px 22px 5px 22px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.right_bttns a.more_but:hover {
    background: #F39C12;
}
.right_bttns {
    margin-bottom: 20px;
}
.top_10 .top.img p.scnd {
    margin-top: 10px;
    font-family: helv;
    line-height: 130%;
}
.line_soc {
    margin-top: 10px;
    overflow: hidden;
}
.line_soc a.eye {
    float: right;
    background: url("../../images/eye.gif") no-repeat;
    padding-left: 38px;
    line-height: 20px;
}
.soc_butt {
    margin-bottom: 10px;
}
.top_10 .bottom_button a.biggest {
    background-color: #6AB4EB;
    padding: 5px 65px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.top_10 .bottom_button a.biggest:hover {
    background: #F39C12;
}
.bottom_button {
    margin: 20px 0;
}
.forum_leads .big_news.weeksubject.bottom .title_news h5 {
    text-decoration: none;
    font-family: "helv";
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
    line-height: 120%;
}
.forum_leads .big_news.weeksubject.bottom img.big {
    padding-left: 0;
}
.promo_slider {
    overflow: hidden;
    padding-bottom: 20px;
    font-family: helv;
    font-size: 13px;
    position: relative;
}
.promo_slider .play {
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -34px;
    margin-left: -34px;
    padding: 0 !important;
}
.promo_slider p {
    width: 240px;    
    color: #444;
    margin-top: 80px;
    line-height: 120%;
}
.promo_slider img {
    float: right;
    position: relative;
}
.promo_slider .big_bar {
    width: 490px;
    position: absolute;

}
.promo_slider .big_bar h2 a {
    text-decoration: none;
    color: #fff;    
    font-size: 18px;
    font-family: helv;
    line-height: 130%;
}
.promo_slider .big_bar h2 {
    padding: 10px;
    background: #6AB4EB;
    position: relative;
    z-index: 5;
    width: 320px;
}

.diety #sg_slider .big_bar .left-side-slider p {
    max-height: 110px;
}

.left-side-slider {
    width: 230px;
    float: left;
    margin-left: 10px;
}
.left-side-slider p {
    width: 210px;
    margin-top: 5px;
    overflow: hidden;
}
.commento {
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
}
.commento a, .commento span {
    position: absolute;
    z-index: 2;
    top: 18px;
    right: 23px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: futura;
    cursor: pointer;
}
.payed {
    float: left;
    margin: 10px 0;
}
.submenu_section ul li {
    display: block;
    float: left;
    border-left: 1px solid #666;
}
.submenu_section ul li:first-child {
    border: 0px none;
}
.submenu_section {
    width: 100%;
    background-image: url('../../images/submenu_bg.png');
    height: 33px;
    -webkit-box-shadow: 0px 2px 5px #999;
    box-shadow-bottom: 2px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.submenu_section ul {
    position: relative;
}
.submenu_section ul li a {
    text-decoration: none;
    color: #ddd;
    font-size: 13px;
    font-family: helv;
    padding: 9px 14px;
    display: block;
    position: relative;
    z-index: 2;
}

.submenu_section ul li.act a {    
    color: #444;
    margin-top: -6px;
    padding-top: 16px;   
    background-image: url('../../images/act_sub_bg.png');
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
}
.submenu_section ul li .mini_subcat {
    display: none;
    width: auto;
    position: absolute;
    background: #444;
    height: auto;
    right: 0px;
    z-index: 50;
    float: left;
    padding: 5px 10px 20px 5px;
    -webkit-box-shadow: 0px 1px 4px #999;
box-shadow-bottom: 2px #999;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";
}
.mini_subcat .coll {
    width: 220px;
    float: left;
}
.mini_subcat .coll.left {
    margin-right: 10px;
}
.mini_subcat a {
    float: left;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    min-width: 180px;
}
.mini_subcat .coll a:hover {
    background: none;
    color: #F39C12;
}
.submenu_section ul li a:hover {    
    color: #444;
    margin-top: -6px;
    padding-top: 16px;   
    background-image: url('../../images/act_sub_bg.png');
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
}
.submenu_section ul li.more:hover .mini_subcat {
    display: block;
}
.breadcrumb {
    margin: 10px 0;
}
.breadcrumb a {
    color: #BBB;
    text-decoration: none;
}
.breadcrumb span{
	color: #CCC;
}
.content h1 {
    color: #3498DC;
    font-family: helv;
    font-size: 42px;
    margin-bottom: 20px;
}
.options .check {    
    margin: 10px 0;
    text-decoration: none;
    color: #444;
    font-family: helv;
    font-size: 16px;    
}
.options input.sonda {
    float: left;
    width: 20px;
    line-height: 16px;    
}
.options .check input {
    margin-right: 10px;
    width: auto;
}
.patron {
    position: absolute;
    z-index: 1;
    background: #fff;
    margin-top: 10px;    
}
.category.sonda {
    position: relative;
}
.patron img {
    display: block;
    padding: 5px 10px 10px 10px;
}
.patron a.logo img {
    padding: 0 20px 10px 20px;
}
element.style {
}
.big_news.weeksubject.top.sonda h5 a {
    color: #444;
}
.med_article.nopic .right_lead p {
    padding: 0 10px 0 0;
}
.sub_bar {
    background-image: url('../../images/subbar_bg.png');
    overflow: hidden;
    padding: 10px;
    -webkit-box-shadow: 0px 1px 4px #999;
    box-shadow-bottom: 2px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";
    margin-bottom: 20px;
    margin-top: -1px;
}
.sub_bar ul li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #ccc;
}
.sub_bar ul li:first-child {
    padding-left: 0px;
}
.submenu_section.down {
    margin-bottom: 0;
}
.sub_bar ul li a {
    text-decoration: none;
    color: #444;
    font-size: 12px;   
}
.sub_bar ul li a:hover {
    color: #F39C12;
}
.content.diety .category , .content.diety .dr_title a, .content.diety .advices ul li a{
    color: #2ECC71;   
}
.content.diety .head_title {
    background: #2ECC71;
}
.content.diety .number a{
    color: #FF410E;
}
.content.diety .advice_exp .ask_expert a {
    margin-left: 0;
    padding: 10px 20px;
    background: #FF410E;
}
.content.diety .big_news h2 {
    background-color: #2ECC71;
}
.content.diety .premium_block .head_title.premium {
    background-color: #FF410E;
}
.content.diety .premium_block .category.premium {
   color: #FF410E;
}
.content.diety .premium_block ul li a {
     color: #FF410E;
}
.big_news .today a {
    font-family: "helv";
    font-size: 18px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;    
}
.big_news .today {
    background-color: #2ECC71;
    padding: 5px;
    text-align: center;
}
.big_news.recipe {
    position: relative;
    height: 240px;
    background: #fff;
    border: none;
}
.big_news.recipe .slide_info, .slide_lead, .slides {
    position: absolute;
    z-index: 2;
}
.big_news.recipe .slide_info {
    float: left;
    font-family: helv;
    font-size: 16px;
    color: #444;    
}
.big_news.recipe .slide_title {
    margin: 10px 0 10px 10px;
    width: 230px;
}

.big_news.recipe img {
    float: right;
}
.big_news .slide_lead {
    width: 145px;
}
.kcal {    
    position: absolute;
    z-index: 2;
    right: 4px;
    top: 40px;
    background: url('../../images/circle.png');
    width: 94px;
    height: 94px;   
}

.kcal a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: helv;
    margin-top: 20px;
    text-align: center;
    display: block;
    position: relative;
}
.bx-wrapper .big_news .photo_big img {
    padding-top: 40px;
}
.kcal a span {
    display: block;
}
.bx-wrapper {
    position: relative;
}
.nonpromo .bx-wrapper {
    height: 360px;
}
.bx-wrapper .bx-pager .bx-pager-item {
    display: inline-block;
}
.bx-wrapper .bx-pager {
    text-align: right;    
    color: #666;
    z-index: 50;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 50px;
    right: 6px;
    width: 100%;
}
.nonpromo .bx-wrapper .bx-pager, .nonpromo .bx-wrapper .bx-controls-auto {
    bottom: 100px !important;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    text-decoration: none;
    margin-right: 5px;
    background-color: #fff;    
    padding: 0px 8px;
}
 .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #6AB4EB;
}
.search_diets {
    margin: 20px 0;
    width: 619px;
    border: 1px solid #eee;
    padding: 10px 10px 20px 10px;
    float: left;
    margin-right: 19px;
    min-height: 200px;
}
.search_diets a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-family: helv;
    background: #2ECC71;
    width: 150px;
    text-align: center;
    margin: 4px 0 0 340px;
}
.search_diets p.big {
    color: #2ECC71;
    font-family: helv;
    font-size: 32px;    
}
.search_diets p.lower {
    color: #2ECC71;
    font-family: helv;
    font-size: 22px;
    margin-top: 20px;
}
.search_diets select {
    width: 510px;
    height: 30px;
    margin-top: 10px;
    background: #eee;
    border: 1px solid #ccc;
}
.search_diets a {
    display: block;    
}
#sel_diet_step2 .sub_options input {
	margin-top: 5px;
	float: left;
}
.small_article.low.diets {
    overflow: hidden;    
    margin-right: 20px;
    margin-top: 0;
    display: block;
}
.often .small_article.low.diets {
    width: auto;
    float: none;
}
.often .small_article.low {
    width: auto;
    float: none;
    margin-right: 0;
}
.often .small_article {
    margin-right: 0;
}


.opening {
    margin-bottom: 20px;
    z-index: 5;
    position: relative;
}
.opening .mask-op {
    position: absolute;
    z-index: 1;
}
.opening a {    
    z-index: 2;
    text-decoration: none;
    text-align: left;
    background: #2ECC71;    
    font-size: 34px;
    color: #fff;
    font-family: helv;
    line-height: 120%;
}
.opening h2 {
    width: 680px;
    position: absolute;
    z-index: 2;
    left: 65px;
    top: 280px;
}
.menubar.diety {
    background-color: #2ECC71;
    background-image: none;
    z-index: 10;
    position: relative;
}
.menubar.diety ul li:hover .li-wrap a,.menubar.diety ul li.active .li-wrap a  {
    background: #9AE6BA; 
}
.menubar.diety ul li:hover .rimg, .menubar.diety ul li.active .rimg {
    background: url('../../images/si-right.png') no-repeat;
}
.menubar.diety ul li:hover .limg, .menubar.diety ul li.active .limg  {
    background: url('../../images/si-left.png') no-repeat;    
}
.menubar.diety ul li a {
    font-family: helv;
    text-transform: none;
    font-size: 16px;    
}
.menubar.diety ul li#menu_logo  {   
    padding: 4px 24px 0 4px;
}
.menubar.diety ul li {
    padding-right: 10px;
}
.opening_slider .bx-controls a.bx-prev {
    left: 0px;
    background: url('../../images/controls2.png') no-repeat 0 0;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    outline: 0;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    z-index: 9999;    
}
.opening_slider .bx-controls a.bx-next {
    right: 0px;
    background: url('../../images/controls2.png') no-repeat -50px 0;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    outline: 0;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    z-index: 9999;    
}
.opening_slider .bx-controls a.bx-next:hover {
    background-position: -50px -50px;
}
.opening_slider .bx-controls a.bx-prev:hover {
    background-position: 0px -50px;
}
.calcs.right {
    border-bottom: 1px solid #eee;
}
.calcs.right .zip {
    width: 280px;
    height: 155px;
    margin-bottom: 10px;    
}
.calcs.right .cover_img {
    top: -74px;
}
.calcs.right .category {
    margin-bottom: 51px;
}
.order_newsletter.diety {
    background-color: #2ECC71;
}
.order_newsletter.diety a {
    background-color: #FF410E;
}
.calcs.right.diety .zip ul li a {
    background: url("../../images/arrow_green.png") no-repeat scroll 0 50% transparent;
}
.big_article.landing {
    margin-top: 10px;
    position: relative;
}
.big_article.landing .grey_bg {
    background: url("../../images/diag_bg.gif");
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.big_article.landing p span {
    font-weight: bold;
}
.big_article.landing p {
    line-height: 120%;
    padding-top: 20px;
}
.big_article.landing p.akapit {
    font-family: helv;
    font-size: 20px;
    color: #F39C12;
}
.big_article.landing ul li a {
    text-decoration: none;
    font-size: 13px;
    font-family: helv;
    line-height: 150%;
    background: url("../../images/arrow.png") no-repeat scroll 0 50% transparent;
    padding-left: 10px;
    color: #444;    
}
.big_article.landing ul li {
    text-decoration: none;
    font-size: 13px;
    font-family: helv;
    line-height: 150%;
    background: url("../../images/arrow.png") no-repeat scroll 0 5px transparent;
    padding-left: 10px;
    color: #444;    
}
.big_article.landing ul {
    padding: 5px 10px;
}
.head_title.landing {
    border-bottom: 1px dotted #6AB4EB !important;
    background: transparent none;
    margin-bottom: 10px;
}
.grey_bg h3 {
    font-family: helv;
    font-size: 20px;
    color: #F39C12;
}
.intro {
    overflow: hidden;
    border-top: 1px dotted #2ECC71;
    margin: 10px 0;
    background: url('../../images/woman.png') no-repeat 520px 32px;
    width: 960px;
}
.main_column .intro {
	width: 100%;
}
.intro .ad_rectangle {
    margin-top: 20px;
}
.experts_left {
    margin-top: 20px;
}
.content.diety.index .right_collumn {
    /*margin-top: -326px;*/
    margin-top: 0px;
}
.text_opening p {
    position: absolute;
    width: 368px;
    color: #444;
    font-family: helv;
    z-index: 2;
    line-height: 120%;
    font-size: 13px;
    left: 65px;
    top: 380px; 
}
.wideos {
    margin-top: 20px;
}
.przepisy {
    margin-top: 20px;
}
.przepisy .small_row.wideo .small_article .kcal {
    top: 6px;
}
.experts_wide .experts {
    float: left;    
    margin: 20px 20px 20px 0;
}
.experts_wide .experts.last {
    float: left;
    margin-right: 0px;    
}
.experts_wide .experts .expert_head {
    display: block;
    overflow: hidden;
    text-align: center;
    float: none;
}
.experts_wide .experts .dr_title {
    width: 200px;
    display: block;
    float: none;
}
.experts_wide .experts p.lead {
    width: 190px;
    margin-top: 10px;
    font-family: helv;
    color: #444;
    font-size: 13px;
}
.experts_wide .experts .ask_expert a {
    margin-top: 20px;
    margin-left: 0;
}
.experts_wide .experts .expert_head .head_exp.big {
    float: none;
    width: auto;
}
.expert_head .head_exp.small img.mask2 {
    position: absolute;
}
.experts_wide {
    overflow: hidden;
    border-bottom: 1px dotted #6AB4EB;
}
.experts_wide .expert .expert_head {
    margin-right: 25px;
}
.experts_wide .expert .ask_expert a {
    margin-bottom: 20px;
    width: 220px;
    float: right;
}
.experts_wide .expert .ask_expert p {
    margin-top: 10px;
    width: 282px;
    float: left;
}
.experts_wide .experts.two {
    width: 310px;
}
.experts_wide .experts.two .expert_head {
    float: left;
    overflow: auto;
    margin-right: 10px;
}
.experts_wide .experts.two .expert_head .head_exp.big {
    width: 100px;
    float: left;   
}
.experts_wide .experts.two p.lead {
    width: 310px;
}
.experts_wide .experts.two .dr_title {
    margin-left: 110px;
}

.experts_wide .experts.two .ask_expert {
    width: 150px;
    float: right;
}
.content.diety .right_collumn.diety.landing {
    margin-top: 0px !important;
}
.little_open {
    position: relative;
    margin-top: 20px;
}
.little_open .little_slider {
    width: 641px;
    float: left;
}
.main_column .little_open {
	margin-top: 0px
}
.little_open .promo_slider .big_bar h2 {
    background: #2ECC71;
}
.little_open .ad_rectangle {
    float: right;
}
.looking_for_answer.news {
    height: 70px;    
}
.looking_for_answer.news input {
    margin-top: 20px;
}
.looking_for_answer.news a {
    padding: 8px 50px;
}
.newsletter_rules {
    font-size: 12px;
    color: #888;
    line-height: 120%;
    padding-bottom: 10px;
    border-bottom: 1px dotted #6AB4EB;
}
.mobile_space {
    position: relative;
}
.mobile_space a {
    position: absolute;
    z-index: 2;
    text-decoration: none;
    color: #fff;
    background: #F39C12;
    padding: 8px 20px;
    font-size: 16px;
    right: 0px;
    bottom: 50px;
}
.mobile_space a:hover {
    background: #6AB4EB;
}
.grey_bg p.akapit.small  {
    font-size: 16px;
}
.healthy_comm {
    margin-top: 20px;
}
.bx-wrapper .promo_slider .bx-pager.bx-default-pager a.active {
    background-color: #6AB4EB;
}
.promo_slider .kcal {
    right: 20px;
}
.search_diets.rec p.big {
    color: #6AB4EB;
}
.search_diets.rec p.lower {
    color: #6AB4EB;
}
.search_diets.rec a {
   background: #6AB4EB;
}
.search_diets.rec select, .search_diets.rec input {
    width: 615px;
}
.newsletter_rules input {
    width: auto;
}
.search_diets.rec a {
    margin: 10px 0 0 445px;
}
.search_diets.rec input {
    height: 30px;
    margin-top: 10px;
    background: #eee;
    border: 1px solid #ccc;
    padding-left: 5px;
    color: #444;
}
.sponsor {
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 4px #999;
    box-shadow-bottom: 2px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')";
    margin-bottom: 10px;
}
.sponsor span {
    float: left;
    padding: 10px 5px;
    color: #3498DC;
    font-family: helv;
    font-size: 24px;
}
.sponsor img {
    float: right;
    padding: 5px;
}
.head_title.article {
    width: 640px;
    margin-bottom: 20px;
}

.grey_bg.article {
    margin-top: 20px;
    background: #F5F5F5!important;
}

.grey_bg.article p.akapit {
    color: #6AB4EB;
}
.kcal.article {
    right:20px;
    top: 20px;
}
.big_article span {
    margin-bottom: 5px;
}
.how_to p {
    font-family: helv;
    color: #444;
    font-size: 13px;
    line-height: 120%;
}
.small_row.gallery {
    border-bottom: none;
}
.ask_expert.article {
    width: 240px;
    float: right;
    margin-bottom: 20px;
}
.likeit {
    float: left;
    overflow: hidden;
}
.search_perf {
    margin: 25px 0px 32px 0px;
    width: 619px;
    border: 1px solid #CCCCCC;
    padding: 10px 10px 20px 10px;
    float: left;
    margin-right: 19px;
}
.search_perf p.big {
    font-family: helv;
    font-size: 29px;
    color: #6AB3EB;
    border-bottom: 1px dotted #6AB3EB;
    padding: 10px 0px 15px 0px;
    width: 470px;
}
.search_perf select {
    width: 260px;
    height: 30px;
    margin-top: 10px;
    background: #eee;
    border: 1px solid #ccc;
}
.search_perf .row {
    font-family: helv;
    font-size: 15px;
    color: #444;    
    margin-bottom: 10px;
    text-align: right;
    width: 335px;
}
.search_perf .row.last {
    padding-bottom: 10px;
    border-bottom: 1px dotted #6AB3EB;
}
.search_perf input {
    width: 463px;
    height: 30px;
    float: left;
    margin-top: 12px;
    background: #eee;
    border: 1px solid #ccc;
    padding-left: 5px;
}
.search_perf .row.last input {
	margin-top: 12px;
	float: left;	
  height: 30px;  
  background: #eee;
  border: 1px solid #ccc;  
  overflow: hidden;
  width: 463px;
}
.search_perf .row.last input#id_research {
	width: 240px;
}
.search_perf .row.last a.search {
	display: block;
	margin-top: 10px;
  background-color: #6AB4EB;
  padding: 10px 65px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin: 4px 0 0 300px;

}
.left_side {
    width: 350px;
    overflow: hidden;
    float: left;
}
.right_side {
    float: right;
    width: 230px;
    margin-top: 8px;
    margin-right: 10px;
}
.right_side p.big.nu {
    border-bottom: none;
    font-size: 18px;
}
.left_side p {
	color: #000;
	font-size: 16px;
}
.right_side .zipper {
    background: #F0F0F0;
    padding: 10px;
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.search_perf.sprawdz .row.last {
	width: 470px;
	display: block;
	overflow:hidden;
	clear: both;	
}
.search_perf.sprawdz .row.last .sub_options {
	overflow: hidden;
	float: left;
}

.right_side .zipper ul li a {
    background: url("../../images/arrow.png") no-repeat scroll 0 50% transparent;
    padding-left: 10px;
    font-family: helv;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    line-height: 180%;
    text-overflow: ellipsis;
}
.right_side a.szukaj {    
    text-decoration: none;
    color: #fff;
    background: #6AB4EB;
    font-family: helv;
    padding: 5px 96px;
    font-size: 13px;    
}
.right_side a.szukaj:hover {
    background: #F39C12;
}
.search_perf .kremy select {
    float: right;
    margin-top: 0px;
    width: 230px;
    margin-right: 10px;
    font-family: helv;
    font-size: 13px;
}
.looking_for_answer.exp.ask.cosme {
    padding-top: 10px;
}
.looking_for_answer.exp.ask.cosme input {
    width: 200px;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-right: 0;
}
.looking_for_answer.exp.ask.cosme a.add {
    padding: 6px 20px;
    background: #6AB4EB;
    margin-left: 20px;
}
.looking_for_answer.exp.ask.cosme a.add:hover {
     background: #F39C12;
}
.looking_for_answer.exp.ask.cosme p {
    font-family: helv;
    font-size: 13px;
    color: #fff;
}
.looking_for_answer.exp.ask.cosme p span {
    color: #F39C12;
}
.looking_for_answer.exp.ask.cosme p a {
    background: none;
    text-decoration: underline;
    margin-left: 0px;
}
.looking_for_answer.exp.ask.cosme p a:hover {
    color: #F39C12;
}
.product {
    background: url("../../images/shadow_bottom.png") no-repeat bottom;
    width: 212px;
    height: 285px;
    float: left;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.product:first-child {
    border-left: 0px none;
}
.product .name_product a {
    text-decoration: none;
    color: #444;
    font-family: helv;
    font-size: 16px;
    margin: 0 10px;
    padding: 0 10px;
    display: inline-block;
}
.product .product_pic {
    display: block;
    text-align: center;
}
.product .product_pic img {
    margin-top: 20px;
}
.product .price_row {
    margin-top: 20px;
    overflow: hidden;
}
.product .price_row .price {    
    float: left;
    padding-top: 5px;
}
.product .price_row .price a {
    background: #444;
    color: #fff;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 13px;
    margin-left: 10px;
}
.product .price_row .rate {
    float: right;
    border: 1px solid #F39C12;
    padding: 8px;
    margin-right: 10px;
}
.product .price_row .rate a {
    float: left;
    margin: 0;
    padding: 0;
}
.small_row.products {
    border-bottom: none;
    margin: 0;
}
.alphabet .row {
    margin-top: 10px;
}
.alphabet .row a {
    width: 20px;
    height: 20px;   
    text-align: center;
    border: 1px solid #ccc;
    display: inline-block;
    line-height: 20px;
    text-decoration: none;
    margin-left: 5px;
    background: #eee;
    color: #6AB4EB;
    text-transform: uppercase;
}
.alphabet a:hover {
    background: #6AB4EB;
    color: #fff;
}
.payed {
    bottom: 20px;
    display: block;
    position: absolute;
    left: 10px;
}
#sky {
    width: 960px;
    position: relative;
    margin: 0 auto;
    overflow: visible;
}
.ad_sky {        
    position: absolute;
    left: 970px;
    
}
.ad_sky > div > div {
    background: url('../../images/reklama.png') no-repeat top left;
    padding-top: 10px;
    margin-top: 20px;
}
.alphabet .row.last {
    margin-bottom: 10px;
}
.alphabet {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.autodiagnoza {
    background: url('../../images/bg_diagnoza.png') no-repeat 192px 6px;
}
.search_perf.sprawdz .left_side {
    width: 570px;
}
.search_perf.sprawdz .row select {
    width: 470px;    
}
.search_perf.sprawdz .row {
    width: 470px;
	display: inline-block;
}
.outside  {
    overflow: hidden;
}
.row a.search {
    margin-top: 10px;
    background-color: #6AB4EB;
    padding: 4px 38px 6px 38px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.row a.search:hover {
    opacity: 0.6;
}
.text_lead p {
    font-family: helv;
    font-size: 16px;
    color: #444;
    margin: 10px 0;
    line-height: 130%;
}

.row.buttons {
    margin-top: 20px;    
}
.search_perf.sprawdz.calc .row.last {
    border: none;
}
.row.buttons a.count {
    margin-top: 10px;
    background-color: #F39C12;
    padding: 4px 45px 6px 45px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.row.buttons a.count:hover {
    opacity: 0.6;
}

.psycho_answers {
    padding: 2px 0;
}
.psycho_answers ul {
    display: block;    
}
.psycho_answers ul li {
    list-style: none;
    margin-bottom: 10px;
}
.psycho_answers ul li label input {    
    width: auto;
}
.psycho_answers ul li label {
    color: #444;
    font-size: 14px;
    margin-bottom: 20px;
}
.grey_bg.psycho {
    margin: 20px 0 10px 20px;    
    padding-left: 50px;    
}
.question_number {    
    position: absolute;
    background: #F39C12;
    margin-top: 10px;
    width: 65px;
    text-align: center;
    height: 65px;
    line-height: 65px;
}
.question_number p {
    font-family: "futura";
    color: #fff;    
    font-size: 50px;
    display: inline-block;
}
.one_question {
    border-bottom: 1px dotted #6AB4EB;
}
.questions.psycho .questions_left a {
    background: url("../../images/arrow.png") no-repeat scroll 0 50% transparent;
}
.questions.psycho .questions_right a {
    background: url("../../images/arrow.png") no-repeat scroll 0 50% transparent;
}
.questions.psycho .questions_right a:hover {
    color: #6AB4EB;
}
.questions.psycho .questions_left a:hover {
    color: #6AB4EB;
}
.questions.calc {
    padding-top: 15px;
}
.box {
    margin-top: 10px;
}
.box.recommend_content {
    margin-top: 0;
    margin-bottom: 10px;
}
.sponsored_exp img {
    margin: 0 0 15px 125px;
}
.big_news.weeksubject.top.sponsored .title_right div {
    background: #F39C12;
}
.big_news.weeksubject.top.sponsored .title_right a {
    background: #F39C12;
}
.ask_expert a:hover {
    opacity: 0.6;
}

/* search */
.ac_results {
    z-index: 7010 !important;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    background-color: #eee !important;
    width: 549px !important;
}
.ac_results ul {
    max-height: none;
}
.ac_results ul li {
    display: block;
    padding: 4px 4px !important;
    color: #444 !important;
    font-size: 15px !important;
    text-decoration: none !important;
    cursor: pointer !important;
    font-family: helv;
}
.ac_results ul li strong {
    font-weight: bold !important;
}
.ac_results ul .ac_over, .ac_results ul li:hover {
    background-color: #ccc !important;
}
/* end search */

.comments .logo_sponsor img.spons {
    float: left;
    margin-top: 10px;
}
.comments .logo_sponsor img {
    float: right;
}
.big_article .comments .cat_name a {
    padding-left: 10px;
}
.big_news .comments .cat_name a {
    padding-left: 10px;
}
.comments .cat_name a:hover {
    color: #F39C12;
}
.dr_title {
    margin-top: 10px;
}
.big_news.weeksubject .cat_name a {
    padding-left: 0px;
}
.experts_wide .experts .expert_head .face_expert .face_av {
    float: none;
    display: inline-block;
}
.experts_wide .expert .expert_head {
    /*margin-right: 25px;*/
    margin-right: 10px; /*MS ujednolicenie glowek eksperta*/
}
.content.diety .number {
    color: #FF410E !important;
}
.content.diety .number:hover {
    color: #2ECC71 !important;
}
.content.diety .cat_name a {
    color: #2ECC71
}
.menubar ul li .li-wrap {
    cursor: pointer;
}
.menubar.diety ul li .li-wrap {
    cursor: pointer;
}
.experts_wide .experts .ask_expert a {    
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.content.diety .experts_wide .experts {
    float: left;    
    height: 240px;
    position: relative;
}
.content.diety .experts .ask_expert a {
    background-color: #FF410E;
}
.content.diety .grey_bg h2 {
    font-family: helv;
    font-size: 20px;
    color: #FF410E;
    margin-left: 10px;
    margin-top: 10px;
}
.content.diety .grey_bg h3 {
    font-family: helv;
    font-size: 20px;
    color: #FF410E;
    margin-left: 10px;    
    cursor: default;
}
.right_collumn .zip {
    margin-top: 5px;
}
.right_collumn .head_title {
    margin-bottom: 6px !important;
}
/*article*/
.article_title h1 {
    font-family: helvb;
    font-size: 30px;
    margin-bottom: 10px;
    color: #000;
    line-height: 120%;
}
.consul .expert_head .face_expert {
    float: left;
}
.consul_name span {
    font-family: helv;
    font-size: 14px;
    color: #444;
    margin-right: 10px;
    float: none;
}
.consul_name {
    width: 335px;
    color: #6AB2EB;
    line-height: 130%;
    font-family: helv;
    font-size: 14px;
}
.under_title .commento {
    float:right;    
}
.under_title {
    border-bottom: 1px dotted #6AB4EB;
    overflow: hidden;
    padding-bottom: 10px;
}
.author_bar {
    margin-top: 10px;
}
.author_bar .author {
    float: left;
    font-family: helv;
    font-size: 13px;
    color: #444;
    font-style: italic;
}
.author_bar .place_logo {
    float: right;    
}
.author_bar .place_logo img {
    display: block;    
}

.lead_article p {
    font-family: helv;
    font-size: 16px;
    color: #444;
    margin: 10px 0;
    line-height: 130%;
}
.big_pic {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.text_article p {
    font-size: 14px;
    color: #444;
    font-family: helv;
    line-height: 150%;
    margin-bottom: 10px;
}
.midtext_title h2 {
    margin: 10px 0;
    color: #444;
    font-family: helvb;
    font-size: 20px;    
}
.expert.art {
    margin: 20px 0;
}
.expert.art .lead.art {
    clear: none;
    float: none;
}
.expert.art .face_av img.mask {
    position: absolute;
}
.two_articles {
    margin: 20px 0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.two_articles .article_small_one {
    width: 300px;
    float: left;
    margin-right: 40px;
}
.two_articles .article_small_one.right {
    margin-right: 0;
}
.two_articles .article_small_one p {
    font-family: helv;
    font-size: 13px;
    color: #444;
    margin: 10px 0;
    line-height: 130%;
}
.three_pics {
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.three_pics .single_pic {
    float: left;
    width: 200px;
    margin-right: 20px;
}
.three_pics .single_pic.last {
    margin-right: 0;
}
.three_pics .single_pic p {
    margin: 10px 0;
    font-family: helv;
    font-size: 13px;
    color: #444;
    line-height: 130%;
}
.big_gallery_slider {
    margin-bottom: 20px;
}
.category a, .category span {
    float: right;
}
.category span {
    line-height: 23px;
}
.category a {
    text-decoration: none;
    font-family: helv;
    font-size: 20px;
    color: #6AB3EB;
    border: 3px solid #6AB3EB;
    line-height: 18px;
    width: 15px;
    text-align: center;
    margin-left: -3px;
}
.category a:hover {
    background: #F39C12;
    color: #fff;
}
.category a.lefts {
    margin-left: 10px;
}
.middle_info p.subj {
    position: absolute;
    left: 42px;
    color: #6AB2EB;
    font-size: 18px;
    top: 0px;
    font-family: helv;
}
.middle_info img {
    position: absolute;
    z-index: 2000;
    top: 3px;
}
.middle_info {
    margin: 20px 0;
    position: relative;
    padding-top: 26px;
}
.text_info {
    position: relative;
    padding: 10px;
    background-image: url("/media/v3/images/diag_bg.gif");
    margin-top: 0px;
}
.text_info p {
    padding-left: 35px;
    font-family: helv;
    color: #444;
    line-height: 150%;
}
.grey_bg p.art {
    padding-bottom: 20px;
}
.text_article h6 {
    background-image: url("/media/v3/images/cytat_bg.png");
    float:right;
    width: 276px !important;
    padding: 40px 20px 20px 20px;
    margin-left: 10px;
}
.text_article h6 strong {
    color: #6AB4EB;
    font-size: 13px;
    border-left: 3px solid #6AB4EB;
    padding-left: 10px;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-style: italic;
    line-height: 130%;
    font-family: helv;
}
.title_news a.jac {
    font-family: helvb;
    font-size: 14px;
    color: #444;
    text-decoration: none;
}
.title_news a.jac:hover {
    color: #F39C12;
}
.place_logo img {
    margin-bottom: 5px;
}
.signat {
    overflow: hidden;
    float: right;   
}
.sign-pic {
    position: absolute;
    background: #000;
    color: #fff;
    padding: 5px;
    opacity: 0.6;
    bottom: 12px;
}
.tags {
    display: block;
    font-family: helvb;
    color: #6AB4EB;
    font-size: 13px;
}
.tags a {
    color: #6AB4EB;
    font-family: helvb;
    font-size: 13px;
    text-decoration: none;
}
.tags a:hover {
    color: #F39C12;
}
.author_fot {
    color: #ccc;
    font-size: 12px;
    }
.author_fot p {
    margin-top: 20px;
    line-height: 150%;
}
.form_new_promo {
    margin: 20px 0;
}
.title_right span.tit {
    top: 120px;
    position: absolute;
    z-index: 1;
    text-decoration: none;
    color: #fff;
    font-family: helv;
    font-size: 13px;
    background: #6AB4EB;
    line-height: 150%;
    padding: 5px;
}
.title_right span.tit:hover {
    color: #fff;
}
.big_pic.small {
    float: right;
    margin-left: 20px;
    margin-bottom: 0;
    overflow: hidden;
}

/*hottopic*/
.content.hottopic .head_title, .content.hottopic .order_newsletter, .content.hottopic .search_row a, .content.hottopic .alphabet .row a:hover{
    background: #2EC6CC !important;
    color:#FFF !important;
}
.content.hottopic h1, .content.hottopic .category, .content.hottopic .dr_title a, .content.hottopic .advices ul li a, .content.hottopic .cat_name a, .content.hottopic .number, .content.hottopic .grey_bg h3, .content.hottopic .alphabet .row a{
    color: #2EC6CC !important;
}

.content.hottopic .title span{
    display: block;
    color: #000;
    font-family: "helvb";
    font-size: 24px;
    margin-bottom: 10px;
}

.wizytowka_firmy{
    font-family: "helv";
    font-size: 13px;
    color: #444;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.wizytowka_firmy .logo {
    margin-bottom: 10px;
    overflow: hidden;
    float:none;
}
.wizytowka_firmy .logo a{
    display: block;
    vertical-align: middle;
    text-align: center;
}
.wizytowka_firmy .logo a img{
    max-height: 100px;
    max-width: 300px;
}

.wizytowka_firmy .title{
    font-family: "helvb";
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
}
.wizytowka_firmy .info p{
    margin-bottom: 5px;
}
/*end hottopic*/

/* sonda */
.sonda .title_news h5 {
    font-size: 16px;
    line-height: 120%;
    font-family: "helv";
    color: #444;
    margin-top: 10px;
}

.sonda .sondaGlosuj a {
    background-color: #F39C12;
    padding: 5px 7px 7px 7px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    float: left;
}

.sonda {
    overflow: hidden;
    padding-bottom: 20px;
}

.sonda .zobaczWyniki a:hover, .sonda .sondaGlosuj a:hover {
    opacity: .6;
    filter: alpha(opacity=60)
}

.sonda .zobaczWyniki a {
padding: 5px 7px 7px 7px;
text-decoration: none;
color: #fff;
font-size: 15px;
display: inline-block;
margin-top: 10px;
text-align: center;
background-color: #6AB4EB;
color: #fff;
text-decoration: none;
float: right;
}

.sonda .options .check input {
    margin-right: 3px !important;
    vertical-align: bottom;
    margin-bottom: 3px;
    float: left;
}

.sonda .options .check {
    font-size: 14px;
    line-height: 120%;
    overflow: hidden;
}

.sonda .resultFirstRed {
    background-color: #F39C12;
    height: 20px;
    margin-top: -20px;
}

.sonda .resultProc {
    height: 20px;
    background-color: #ddd;
    color: #fff;
}

.sonda .resultProc span {
    font-size: 14px;
    padding: 2px 0px 0px 5px;
    display: inline-block;
    color: #000;
    cursor: default;
}

.sonda .resultProc span:hover {
    color: #000;
}

.middle_collumn .payed {


}

.middle_collumn .big_news {

}

.right_collumn table {
    margin-bottom: 20px;
}

.right_collumn table:before {
    position: relative;
clear: both;
overflow: hidden;
padding: 0px;
content:url('../../images/reklama.png');
height: 5px;
float: right;
display: block;
margin-bottom: 3px;
background-position: right -48px;
}

 .promo_box_top {
	width: 940px;
	font-family: "helv";
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #ddd;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 22px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.2);
	line-height: 30px;
	position:relative;
	background: #ffffff; /* Old browsers */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 64%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(64%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 64%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 64%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 64%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 64%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */

    }
    
    .promo_box_top p {
	color: #3598dc;
	font-size: 21px;
	margin-left: 5px;
	display: inline-block;
	margin-top: 0px;
    }
	    
    .promo_box_top img {
	position: absolute;
	right: -30px;
	top: -30px;
	opacity: 1;
	z-index: 99;

    }
    
     .promo_box_top img:hover {
	opacity: .9;
     }
    
    .promo_box_top span {
	color: #444;
	margin-left: 10px;
		margin-top: 0px;
    }
    
    .promo_box_top p.copy {
	float: right;
	margin-right: 80px;
	font-family: "helv";
	margin-top: 0px;
	cursor: pointer;
	
    }
    
    .promo_box_overflow {
	margin-top: 35px;
    }

    .med_article_sponsored {
	background-image: url('../../images/artykul_sponsor.png');
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
    }
    
.big_news .payed {
bottom: auto;
left: auto;
display: block;
position: absolute;
top: 4px;
left: 11px;
margin: 0;
z-index: 95;
}

.ad_468{
	text-align: center;
}
li#menu_item1 .subcat {
    padding-bottom: 0px;
}

body.dedykowany_3 {
	background: #000 url('../../images/tapeta_sala_operacyjna.jpg') center 110px no-repeat;
	width: 100%;
	height: 100%;
	position: relative;	
	background-repeat: no-repeat;
}
body#dedykowany.dedykowany_3 .right_column_dedykowany {
	margin-top: 0px;
}
body#dedykowany.dedykowany_3 .main_column {
	margin-top: 0px;
}
body#dedykowany.dedykowany_3 .content {
	padding: 5px;
	margin-top: 280px;
}
body.droga_body {
    background: url('../../images/pzu-wall.jpg') center top no-repeat;
     background-attachment: fixed;
}
.pzu-bar {
    margin: 10px auto;
    width: 960px;
}
body.dedykowany_4 {
	background: url('../../images/zakochaj_sie.jpg');
	width: 100%;
	height: 100%;
	position: relative;
	background-position: center 108px;
	background-repeat: no-repeat;
}
body.dedykowany_4 .content {
    margin-top: 40px !important;
}


.indeks-badan {
	width: 641px;
	float: left;
}
.indeks-badan .index-title {
	font-size: 42px;
	font-family: 'helvl';
	line-height: 120%;
	color: #3498DC;
	margin-bottom: 35px;
}
.indeks-badan form {
	border-bottom: 1px dotted #3498DC;	
	margin-bottom: 15px;
}
.indeks-badan form p {
	font-size: 22px;
	font-family: 'helv';
	line-height: 120%;
	color: #3498DC;
	margin-top: 0;
	margin-bottom: 8px;
}
.indeks-badan form input {
	width: 606px;
	padding: 8px 15px;
	border: 1px solid #ccc;
	background-color: #eee;
	font-family: 'helv';
	font-size: 18px;
	line-height: 120%;
	margin-bottom: 10px;
}
.alphabetic-list {
	margin-bottom: 20px;
}
.alphabetic-list span {
	font-family: 'helv';
	font-size: 15px;
	color: #333;
	float: left;
  display: block;
  line-height: 100%;
}
.alphabetic-list span a {
	text-decoration: none;
	color: #444;
}
.alphabetic-list ul {
	float: right;
	width: 338px;
	padding: 0;
	margin: 0;
	cursor: default;
}
.alphabetic-list ul li {
	display: inline-block;
	background-color: #eee;
	border: 1px solid #ccc;
	width: 21px;
	text-align: center;
	margin-bottom: 8px;
	font-family: 'helvl';
	height: 25px;
	line-height: 25px;
}
.alphabetic-list ul li:hover {
	background-color: #3498DC;
	border: 1px solid #3498DC;
	
}
.alphabetic-list ul li:hover a {
	color: #fff;
}
.alphabetic-list ul li a {
	text-decoration: none;
	display: block;
	color: #3498DC;
	text-transform: uppercase;
}
.indeks-badan form button {
	width: 170px;
	height: 30px;
	background-color: #3498DC;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	font-family: 'helv';
	font-size: 15px;
	float: right;
	cursor: pointer;
	margin-right: 3px;
}
.indeks-badan form button:hover {
	background-color: #eee;
	color: #3498DC;
	border: 1px solid #ccc;
}
.index-letter {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #3498DC;
	margin-bottom: 15px;
}
.index-letter .letter {
	font-family: 'helv';
	font-size: 16px;
	line-height: 20px;
	color: #3498DC;
	background-color: #eee;
	border: 1px solid #ccc;	
	text-align: center;
	margin-bottom: 15px;
	cursor: pointer;
	vertical-align: middle;
	height: 20px;
	padding: 5px;
}
.index-letter span {
	margin-left: 15px;
}
.index-letter ul {
	padding: 0;
	margin: 0;
}
.index-letter ul li {
	list-style-type: none;
	display: inline-block;
	width: 295px;
	vertical-align: top;
	padding-bottom: 10px;
	padding-right: 10px;
	
}
.index-letter ul li a {
	text-decoration: none;
	font-family: 'helv';
	font-size: 13px;
	color: #333;
	line-height: 100%;
}
.index-letter ul li a:hover {
	color: #F39C12;
}
.likeit {
	margin-top: 10px;
	float: left;
}
.lubie .item {
	margin-bottom: 10px;
}
.left_side .row span.label {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.alphabetic-list span a:hover {
	color: #F39C12;
}
.result {
	margin-top: 20px;
	font-size: 15px;
	color: #444;
	line-height: 150%;
	font-family: helv;
}

.index_glikemiczny1 {
	float: left;	
	background: #6AB4EB;
	padding: 10px;
	text-align: center;
	margin-left: 40px;
	color: #fff;
	width: 160px;
	margin-top: 10px;
}
.index_glikemiczny2 {
	float: right;	
	background: #6AB4EB;
	padding: 10px;
	text-align: center;
	margin-right: 40px;
	color: #fff;
	width: 160px;
	margin-top: 10px;
}
.wynik_name {
	margin-bottom: 10px;
	text-transform: uppercase;
}
.wynik_name_two {
	margin-bottom: 10px;
	text-transform: uppercase;
}
.row.index_wynik {
	overflow: hidden;
	display: block;
}
.wynik_obliczenia.index_wysoki{
	text-align: center;
	background: #FF0000;
	color: #fff;
	padding: 10px;
	margin: 0 40px;
}
.wynik_obliczenia.index_sredni{
	text-align: center;
	background: #F39C12;
	color: #000;
	padding: 10px;
	margin: 0 40px;
}
.wynik_obliczenia.index_niski{
	text-align: center;
	background: #F8DF30;
	color: #000;
	padding: 10px;
	margin: 0 40px;
}
.test_info p {
	color: #000;
	font-size: 12px;
	border: 1px solid #ccc;
	padding: 10px;
	background: #eee;
	font-family: helv;
}

.indeks_link{
	font-family: helv;
	text-decoration: none;
	color: #6AB4EB;
}

.indeks_link:hover{
	color: #F39C12;
}
#content_wynik{
	width:470px;
}
#content_wynik .title {
	text-align: left;
	font-size: 20px;
	margin: 20px 0px;
	color: #6AB4EB;
}
#id_jadlospis_lista_produktow {
	float: left;
	width: 470px;
}
#id_jadlospis_lista_produktow .jadlospis_row {
	float: left;
	width: 470px;
}
#id_jadlospis_lista_produktow .etykieta {
	float:  left;
	padding: 14px 10px 0px 0px;
}
#id_jadlospis_lista_produktow .pole {
	float:  left;
}
#id_jadlospis_lista_produktow .pole input{
	width: 40px;
	margin-right: 5px;
}
#id_wynikiSumyElementowJadlospisu {
	clear: both;
	padding-top: 10px;
}
.licznik_kalorii .row.buttons{
	float: left;
	margin-top: 30px;
}
.idealna_waga{
	background: url('../../images/running.png') no-repeat 495px 12px;
}
.dni_plodne{
	background: url('../../images/dni_plodne.png') no-repeat 487px 100px;
}
.indeks_glikemiczny{
	background: url('../../images/indeks.png') no-repeat 486px 95px;
}
.jak_tyjesz{
	background: url('../../images/tyjesz.png') no-repeat 487px 111px;
}
.kalkulator_miar{
	background: url('../../images/miary.png') no-repeat 487px 104px;
}
.kalkulator_wagi_bmi{
	background: url('../../images/bmi.png') no-repeat 487px 45px;
}
.koszty_nalogu{
	background: url('../../images/koszty_nalogu.png') no-repeat 486px 117px;
}
.oblicz_termin_porodu{
	background: url('../../images/termin_porodu.png') no-repeat 487px 117px;
}
.sprawdz_jaka_grupe_krwi_moze_miec_dziecko{
	background: url('../../images/krew_dziecko.png') no-repeat 488px 150px;
}
.sprawdz_jakim_jestes_dawca_i_biorca_krwi{
	background: url('../../images/dawca.png') no-repeat 487px 98px;
}


/*== reklama natywna ==*/

.top_10 .box.native h3{
	text-align: left;
    text-decoration: none;
    color: #6AB4EB;
    font-family: helvb;
    font-size: 15px;
    line-height: 120%;
}
.top_10 .box.native h3:hover {
    color: #F39C12;
}
.top_10 .box.native .img img {
    float: left;
    margin-right: 10px;
    cursor: pointer;
	width: 100px;
    height: auto;
}
.top_10 .box.native:after{
	clear: both;
	content: '';
}
.top_10 .box.native{
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #eee;
	display: inline-block;
}
.top_10 .box.native a {
    margin-top: 10px;
    font-family: helv;
    line-height: 130%;
	color: #222;
}

#poradnikzdrowiePL_zobaczTakze{
	width: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
    position: relative;
}
.small_row .box.native .img img {
    cursor: pointer;
    margin-bottom: 10px;
}
.small_row .box.native a:hover {
    cursor: pointer;
    color: #6AB4EB;
}
.small_row .box.native a {
    font-size: 16px;
    color: #222;
    font-family: helvb;
    margin-bottom: 10px;
    line-height: 120%;
    text-decoration: none;
}
.small_row .box.native a h3{
    margin-bottom: 10px;
    overflow: hidden;
    height: 40px;
}


#poradnikzdrowiePL_najnowsze{
	margin-top: 20px;
    border-bottom: 1px solid #E7E7E7;
}
.middle_collumn .box.native a h3:hover {
    cursor: pointer;
    color: #F39C12;
}
.middle_collumn .box.native a h3{
    font-family: "helvb";
    font-size: 18px;
    color: #444;
    line-height: 120%;
    text-decoration: none;
}
.middle_collumn .box.native h3 {
    padding: 0 0px 10px 0px;
}
.middle_collumn .box.native a{
	font-family: "helv";
    font-size: 13px;
    color: #444;
    padding-bottom: 10px;
    line-height: 130%;
	padding: 0 10px 10px 10px;
	display: block;
}


.left_collumn .box.native h3{
	text-align: left;
    text-decoration: none;
    color: #6AB4EB;
    font-family: helvb;
    font-size: 15px;
    line-height: 120%;
}
.left_collumn .box.native h3:hover {
    color: #F39C12;
}
.left_collumn .box.native .img img {
    float: left;
    margin-right: 10px;
    cursor: pointer;
	width: 100px;
    height: auto;
}
.left_collumn .box.native:after{
	clear: both;
	content: '';
}
.left_collumn .box.native{
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #eee;
	display: inline-block;
}
.left_collumn .box.native a {
    margin-top: 10px;
    font-family: helv;
    line-height: 130%;
	color: #222;
}
.box.native p{
	margin-top: 10px;
}
.box.native:before{
	content: "";
    background-image: url(http://cdn.muratordom.smcloud.net/t/scripts/zpr_sprite.png);
    background-color: transparent;
    display: block;
    margin: 0 auto;
    height: 5px;
	width: 35px;
    background-position: 0 0;
}
.top.img:after {
    clear: both;
    display: table;
    content: '';
}
.archiwum-aktualnosci {
    /*display: flex;*/
    /*justify-content: flex-end;*/
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}
.archiwum-aktualnosci a {
    padding: 5px 7px 7px 7px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: block;
    margin-top: 10px;
    text-align: center;
    background-color: #6AB4EB;
    display: inline-block;
}
.archiwum-aktualnosci a:hover{
	opacity: 0.8;
}