div[id^="pianoArticle"] {
    display: block;
    position: relative;
	color:#333333;
	line-height:135%;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
    line-height: 170% !important;
}
.pianoTextInfo {
    text-align:center;
    font:bold 14px arial,sans-serif;
    margin:20px 0px 10px;
    border-bottom:2px solid #000;
}
.how-piano-works {
    margin-bottom: 70px;
}
.how-piano-works span a {
    font-size:18px;
    text-decoration:underline;
}
.how-piano-works p {
    margin:10px 0px;
}
.how-piano-works div p a {
    font:bold 14px arial,sans-serif;
    text-decoration: none;
}
.how-piano-works br {
    display:block;
    height:1px;
    line-height:1px;
    font-size:1px;
}
.pianoBottomText {
    position: absolute;
    bottom: -70px;
    padding:10px 10px 10px 100px;
    margin:10px 0px;
    background:#3ca1db url(http://muratordom.pl/media/images/pianobar.png) no-repeat 6px 10px;
    color:#fff;
    font:bold 12px arial,sans-serif;
}
#ad_sky2 {
	position: absolute;
	left: -130px;
}