/* menu */
.subcat ul.first, .subcat ul.two_verse {
    white-space: nowrap;    
}
/* end menu */

/* diagnoza */
.sub_options select {
    width: 240px;
    height: 30px;
    border: 1px solid #ccc;
    background: #eee;
    margin-bottom: 10px;
    font-family: helvl;
}
/* end diagnoza */

/* promo slider */
.bx-wrapper .bx-pager.bx-custom-pager a {
    text-decoration: none;
    margin-right: 5px;
    background-color: #fff;    
    padding: 0px 8px;
    border: 1px solid #eee;
}
 .bx-wrapper .bx-pager.bx-custom-pager a.active {
    background-color: #6AB4EB;
}
.bx-wrapper .promo_slider .bx-pager.bx-custom-pager a.active {
    background-color: #6AB4EB;
}
.middle_collumn .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 5px;
}
/* end promo slider */
#ad_sky2 {
	position: absolute;
	left: -130px;
}
/* theme of week - right */
.big_news.weeksubject.top .title_right div {    
    position: absolute;   
    z-index: 1;
    text-decoration: none;
    color: #fff;
    font-family: helv;
    font-size: 13px;
    background: #6AB4EB;
    line-height: 150%;
    padding: 5px;
    top: 146px;
} 
.big_news.weeksubject.top .title_right a:first-child {
    top: 146px !important;
}
.big_news.weeksubject.top .title_right div:first-child {
    top: 120px;
}
/* end theme of week - right */

/* footer */
.footer a.czerwony {
    color: #3498DC;
}
/* end footer */

/* piano-key */
.small_article img.piano-key {
    margin-bottom: 2px;
}
/* end piano-key */

/* autodiagnoza SG */
.search_row {
    padding: 10px 0 10px;
    overflow: hidden;
    border-bottom: 1px dashed #6AB4EB;
}
.search_row a {
    background: none repeat scroll 0 0 #6AB4EB;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 5px 133px;
    text-decoration: none;
}
/* end autodiagnoza SG */

/* scroll kalkulatorow */
.zip .jspPane {
    /* padding: 0px !important; */
}
.zip .jspVerticalBar {
    width: 12px !important;
    background: inherit !important;
    z-index: 2 !important;
}
.zip .jspTrack {
    background: #d1d1d1;
    /* background: inherit !important; */
    border-left: none !important;

    width: 8px !important;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.zip .jspDrag {
    background: #7f7f7f;
    width: 8px !important;

    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.zip div.lista ul {
    /* max-height: 200px; */
    height: 100%;
}
/* end scroll kalkulatorow */

/* nazwy kategorii  */
.comments .cat_name a {
	color: #6AB4EB;
    float: left;
    font-size: 13px;
    margin-top: 4px;
    text-decoration: none;
}
/* end nazwy kategorii  */

/* wiecej */
.more_row {
    overflow: hidden;
    background: none repeat scroll 0 0 #FFFFFF;
}
.more_row span {
    background: none repeat scroll 0 0 #6AB4EB;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 4px 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: right;
}
.more_row span:hover {
	background: #F39C12;
}
.middle_collumn .more_row {
    padding: 15px 0 10px;
}
.catbottom .more_row span {
}
/* end autodiagnoza SG */


/* slider przepisow */
.today_recipe span {
    font-family: "helvl";
    font-size: 18px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;    
}
.today_recipe {
    background-color: #2ECC71;
    padding: 5px;
    text-align: center;
    position: relative;
}
.big_news.recipe .mask-recipe {
  left: 145px;
  position: absolute;
  z-index: 1;
}/* end slider przepisow */


/* slider wideo */
.video_slider {
	margin-top: -10px;
	border-bottom: 1px solid #EEEEEE;
}
.video_slider .bx-controls a.bx-prev {
    left: 0px;
    background: url('../../images/controls2.png') no-repeat 0 0;
    position: absolute;
    top: 50%;
    margin-top: -33px;
    outline: 0;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    z-index: 9999;    
}
.video_slider .bx-controls a.bx-next {
    right: 0px;
    background: url('../../images/controls2.png') no-repeat -50px 0;
    position: absolute;
    top: 50%;
    margin-top: -33px;
    outline: 0;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    z-index: 9999;    
}
.video_slider .bx-controls a.bx-next:hover {
    background-position: -50px -50px;
}
.video_slider .bx-controls a.bx-prev:hover {
    background-position: 0px -50px;
}
.video_slider .small_article {
    height: 195px;
}
/* end slider wideo */


/* diety */
.content.diety h1 {
    color: #2ECC71;
}
.content.diety .order_newsletter {
    background-color: #2ECC71;
}
.content.diety .order_newsletter a {
    background-color: #FF410E;
}
.head_title.spacer {
	margin: 20px 0 20px;
}
/* end diety */


/* video */
.content .posts-teasers {
	width: auto;
}
/* end video */


/* komentarze */
#content.comments h3, div.komentarze h3 { 
	color: #f0770b;
	font-size: 17px;
	font-weight: bold;
	margin: 14px;
}
#content.comments p {
	margin: 15px;
	color: #333333;
	font-size: 14px;
	font-family: helv;
}
#content.comments a {
    color: #F0770B;
    outline: medium none;
    text-decoration: none;
}

div.komentarze input, div.komentarze select, div.komentarze textarea {
    color: #999999;
    font-family: Arial,Tahoma,Verdana,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
}
.form_02 input, .form_02 select, .form_02 textarea {
    border: 1px solid #B2B2B2;
    color: #999999;
    font-size: 12px;
    padding: 4px;
}
.form_02 .btn {
    border: medium none;
    margin: 0;
    padding: 0;
}

.errorlist li {
    background-color: #FF0000;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    margin: 0 0 3px;
    padding: 4px 5px;
}
li {
    line-height: 14px;
}
.form_02 .etykieta3 {
    float: left;
    padding: 7px 0 0;
}
.w130px {
    width: 130px;
}
.form_02 {
    color: #999999;
    font-size: 12px;
}
.w100pr {
    width: 100%;
}
.form_02 .pole2 {
    float: left;
    padding: 2px 0;
}
.w430px {
    width: 430px;
}
.form_02 {
    color: #444;
    font-size: 12px;
}
/* end komentarze */


/* sociale */
.face3 {
	width: 80px;
	float: left;
	margin-top: 13px;
}

.face2 {
	width: 120px;
	float: left;
	margin-top: 15px;
	overflow: hidden;
}

.face1 {
	margin-top: 15px;
	float: left;
	width: 150px;
	overflow: hidden;
}
/* end sociale */


/* box nastepny artykul fixed */
.toggle_box {
    z-index: 7000;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0px;
    right: -332px;
    padding: 5px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 320px;
}

.toggle_box_top {
    border-bottom: 1px solid #4B8DDC;
    overflow: hidden;
    padding-bottom: 2px;
}

.toggle_box_top .readelse {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

.toggle_box_top .closeit {
    float: right;
    margin-top: 1px;
}

.toggle_box_top .closeit a {
    font-size: 10px;
    color: #948d8d;
    text-decoration: none;
}

.toggle_box_top .closeit a:hover {
    text-decoration: underline;
}

.toggle_box_top .closeit img {
   cursor: pointer;
   float: right;
   margin-left: 4px;
}

.toggle_box_cont {
    padding-top: 2px;
   padding-bottom: 2px;
    overflow: hidden;
}

.toggle_box_cont a {
    color: #6AB4EB !important;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.toggle_box_cont a:hover {
    text-decoration: underline;
    color: #F39C12 !important;
}

.toggle_box_cont a.readmore {
    margin-top: 6px;
	# color: #5f5858 !important;
    font-size: 11px;
    float:right;
}

.toggle_box_cont .left {
    float:left;
    width:60px;
    margin-right:10px;
}

.toggle_box_cont .right {
    float:left !important;
    width:250px;
    text-align: left !important;
}

.toggle_box_cont .right a {
    display:block;
    margin-bottom:-2px;
    
}
/* end box nastepny artykul fixed */


/* question fixed */
.question{
    width: 120px;
    padding: 20px;
    border: 1px solid #E9E9E9;
    background-color: #FCFCFB;
    text-align: center;
    
    position: fixed;
    left: 0;
    top: 85px;
    z-index: 10000;
}
.question .out {
    position: absolute;
    cursor: pointer;
    right: 10px;
    color:#2875E8;
}
.question .out a {
    color:#2875E8;
}
.question .title{
    color: #464545;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
}

.question .desc{
    
    color: #999;
    line-height: 160%;
    text-align: left;
    margin-left: 0;
    font-size: 14px;
    margin-bottom: 20px;
}

.question a.button{
    color: #FFF;
    padding: 5px 15px;
    background-color: #2875E8;
    border: 1px solid #155fcc;
    display: inline-block;
    text-decoration: none;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.question a.button:hover{
    background-color: #155fcc;
}
/* end question */

/* recaptcha */
#form_openmail1 #recaptcha_area {
    margin-left: 60px;
}
#form_openmail1 #newsletter_captcha .errorlist li {
    text-align: left;
}
#form_openmail1 .inputbox input {
    box-sizing: border-box;
    width: 100%;
}
/* end recaptcha */
