/**/
.zpr_header > [id*="bmone2n"] > [id*="bmone2t"]{
	width: 995px;
	margin: 0 auto;
}
/**/


/**/
.zpr_top_1 > [id*="bmone2n"] > [id*="bmone2t"]{
	margin: 10px 0;
}
.zpr_bottom_1 {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
}
.zpr_inside_bottom {
	float: none;
	clear: both;
}
.zpr_inside_bottom:before {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
     .zpr_inside_bottom > [id*="bmone2n"] > [id*="bmone2t"] {
	padding-top: 10px;
     }
.zpr_adv_top {
   overflow: hidden;
   text-align: center;
     }
.zpr_inside_top_a, .zpr_inside_top_b {
	display: inline-block;
}
.zpr_inside_top_a > [id*="bmone2n"] > [id*="bmone2t"],
.zpr_inside_top_b > [id*="bmone2n"] > [id*="bmone2t"] {
	margin: 20px 0px;
	vertical-align: top;
} 
[class*="zpr_side"] > [id*="bmone2n"] > [id*="bmone2t"],
[class*="zpr_red"] > [id*="bmone2n"] > [id*="bmone2t"] {
	margin-bottom: 20px;
}

.zpr_sky_left.zpr_fix [id*="bmone2n"] > [id*="bmone2t"]{
	margin-left: -120px;
	margin-top: 60px;
}
.menubar.fixed {
	z-index: 5100;
}
/**/
.zpr_screening.zpr_fix{
	background-attachment: fixed;
}
/**/
.zpr_sky{
	width: 960px;
	margin: 10px auto 0 auto;
	position: relative;
}
.zpr_sky_left.zpr_fix > [id*="bmone2n"]{
	position: fixed !important;
	top: 0;
}
/*screening*/
body.screening{
    background: #fff !important;
}
body.screening .content{
	padding: 20px;
	margin-top: 0;
}
body.screening .zpr_sky{
	width: 1000px;
}