@font-face {
    font-family: 'MontserratExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
    url('../fonts/Montserrat-ExtraBold.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MontserratLight';
    src: url('../fonts/MontserratLight.eot');
    src: url('../fonts/MontserratLight.eot') format('embedded-opentype'),
         url('../fonts/MontserratLight.woff2') format('woff2'),
         url('../fonts/MontserratLight.woff') format('woff'),
         url('../fonts/MontserratLight.ttf') format('truetype'),
         url('../fonts/MontserratLight.svg#MontserratLight') format('svg');
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../fonts/montserrat-semibold-webfont.eot');
    src: url('../fonts/montserrat-semibold-webfont.eot') format('embedded-opentype'),
         url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-semibold-webfont.svg#MontserratLight') format('svg');
}
@keyframes show {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes hide {
    0% {
        display: block;
        opacity: 1;
    }
    99% {
        display: block;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
/* -- general css --*/
body {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    color: #18b9d6;
}
p {
    font-size: 1.6em;
    line-height: 1.4em;
    color: #666;
    font-weight: 400;
    padding-bottom: 1em;
}
h2.section-title {
    text-align: center;
    font-size: 2em;
    padding: 0.5em 0;
    width: 24%;
    margin: 0 auto 2em;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h3 {
    font-size: 1.9em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    color: #444;
}
h3 a {
    color: #444;
}
h3 a:hover {
    color: #18b9d6;
}
h4 {
    font-size: 3.9em;
    text-align: center;
    color: #444;
    font-weight: 300;
    margin-bottom: 1em;
}
h4 span {
    font-weight: 700;
}
h5 {
    font-size: 2.3em;
    text-transform: uppercase;
    font-weight: 300;
}
.center {
    max-width: 1280px;
    margin: 0 auto;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clear {
    clear: both;
}
.hidden{
    display: none;
}
.show{
    display:block !important;
}

/*-- recurring elements --*/
/*-- author --*/

.author {
    float: left;
}
.author a {
    float: left;
    text-transform: uppercase;
    color: #444;
    font-size: 1.4em;
    font-style: normal;
    text-decoration: none;
    line-height: 30px;
    padding-right: 15px;
    transition: all 0.25s ease;
}
.author img {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
    display: inline-block;
}
.main-action {
    font-size: 2em;
    padding: 0.5em 1em;
    background: #18b9d6;
    color: #fff;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    outline: none;
}
.main-action:hover {
    background: #fab21d;
}

/*-- top bar --*/
.site-header {
    padding: 11px 0 13px;
    border-bottom: solid 5px #c6dee3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    width:100%;
    background-color: #fff;
    z-index: 3;
    transition: padding 0.3s ease-out;
}
.site-header.collapsed{
    padding:5px 0px;
    height:46px;
    border: none;
}

.site-header.collapsed .lt-logo{
    max-width:140px;
    margin-top: 1px;
}


.site-header.collapsed .social-nav{
    top:10px;
}

.site-header.collapsed .navig-left{
    top:5px;
}

.site-header.collapsed .hamburg-dd{
    top:55px;
}

.site-header.collapsed .hamburger-menu-wrapper{
    top:40px;
}

.lt-logo {
    max-width: 189px;
    margin: 0 auto;
    transition: max-width 0.3s ease-out;
}
.lt-logo img {
    width: 100%;
}
.site-header .navig-left {
    position: absolute;
    top: 14px;
}
.site-header .navig-left a.hamburg-activation {
    width: 36px;
    height: 36px;
    display: block;
    font-size: 36px;
    text-align: center;
    color: #444;
    background: url('../img/hamburg-menu.png') no-repeat left top;
}
.site-header .navig-left:hover a.hamburg-activation {
    color: #18b9d6;
    background: url('../img/hamburg-menu.png') no-repeat right top;
}
.site-header .center {
    position: relative;
    max-width: inherit;
    margin: 0 1.5%;
}
.social-nav {
    top: 19px;
    right: 1%;
    position: absolute;
    min-width: 100px;
}
.social-nav a {
    margin-left: 10px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #999;
    display: block;
    float: left;
    outline:0;
    background: url('../img/social-icons.png') no-repeat;
}
.social-nav a.soc-facebook { background-position: 0 0; }
.social-nav a.soc-pinterest { background-position: -38px 0; }
.social-nav a.soc-twitter { background-position: -74px 0; }
.social-nav a.soc-email { background-position: -297px 0; }
.social-nav a.fa.fa-ellipsis-h { color: rgba(0, 0, 0, 0); background-position: -179px 0; margin: 0 5px 0 10px; }
.social-nav a.fa.fa-times { color: rgba(0, 0, 0, 0); background-position: -145px 0; margin-right: 5px; }
.social-nav .more-social {
    float: left;
    display: none;
}
.fa.fa-facebook-official {color: #3b5998;}
.fa.fa-twitter {color: #58ccff;}
.fa.fa-pinterest {color: #bd081c;}
.fa.fa-linkedin-square {color: #0077b5;}
.fa.fa-google-plus-square {color: #d34836;}


form.navig-search{
    position: relative;
    width: 26px;
    height: 26px;
    line-height: 26px;
    right: 0;
    top: 0;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    border:2px solid #fff;
    float:left;
    display:block;
}
form.navig-search.searchbox-open {
    width: 350px;
    position:absolute;
    background-color:#fff;
    border:2px solid #c6dee3;
}
.navig-search .search-input{
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    width: calc(100% - 60px);
    margin: 0 40px 0 20px;
    font-size: 20px;
    display: none;
    background-color: transparent;
}

.navig-search.searchbox-open .search-input {
    display: block;
}


.navig-search .search-submit{

    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #dcddd8;
    background-color: transparent;

}

.navig-search .site-search{
    display: block;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right:0px;
    top:0px;
    background-position: -214px 0;
    color: rgba(255, 0, 0, 0);
}

.navig-search.searchbox-open .fa.fa-search{
   color: #18b9d6;
   color: rgba(0, 0, 0, 0);
   background-position: -264px 0;
}

.main-nav {
    text-align: center;
    margin: 0 0 -1.8em;
    z-index: 10;
    position: relative;
    margin: 18px 0 0;
}
.main-nav li {
    display: inline-block;
    border-right: solid 1px #ccc;
    background: #fff;
}
.main-nav li > a{
    font-size: 1.8em;
    color: #444;
    padding: 0 1.5em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.main-nav li:last-child {
    border-right: 0;
}
.main-nav li:hover > a {
    color: #18b9d6;
}
.main-nav li:hover .main-drop-down{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}

    .main-drop-down  {
        background: transparent;
        width:100%;
        left: 0px;
        right:0px;
        position: absolute;
        top: 20px;
        z-index:100;
        padding-bottom: 2.3em;
        visibility: hidden;
        opacity: 0;
        transition-property: opacity, visibility;
        transition-duration: .25s, 0s;
        transition-delay: 0s, .0s;
    }
    .main-drop-down-wrapper{
        background: #f6f6f6;
        padding: 2.3em 0;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
        position: relative;
        float: left;
        margin-top:16px;
    }
    .main-drop-down-wrapper .menu-items-wrapper{
        display:flex;
    }
    .main-drop-down h2, .hamburg-dd h2 {
        text-align: center;
        font-size: 2.6em;
        padding: 0 0 1em;
        font-weight: 300;
    }
    .main-drop-down h2 > a{
        color: #444;
    }
    .main-drop-down h2 > a:hover{
        color: #18b9d6;
    }

    .hamburg-dd h3 a,
    .hamburg-dd h3 a:hover,
    .hamburg-dd h2 a,
    .hamburg-dd h2 a:hover{
        color: #fff;
    }

    .main-drop-down h2 span, .hamburg-dd h2 span {
        font-weight: 700;
    }
    .main-drop-down h2 i, .hamburg-dd h2 i {
        margin-left: 0.3em;
    }
    .main-drop-down .menu-story {
        float: left;
        width: 22%;
        margin: 0 1.5%;
        padding: 1em;
        box-sizing: border-box;
        border: solid 1px #ddd;
        background: #fff;
        text-align: left;
    }
    .main-drop-down .menu-story figure,
    .main-drop-down .menu-story figure img {
        display: block;
        width: 100%;
    }
    .main-drop-down .menu-story figure,
    .hamburg-dd .sub-story figure {
        margin-bottom: 1em;
    }
    .main-drop-down .menu-story address {
        font-style: normal;
        font-size: 1.2em;
        text-transform: uppercase;
        color: #444;
    }

    .hamburger-menu-wrapper{
        position: fixed;
        width: 100%;
        left: 0px;
        right: 0px;
        padding: 40px 0;
        min-height: 329px;
        top:55px;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: .25s, 0s;
        transition-delay: 0s, .0s;
    }
    .navig-left:hover .hamburger-menu-wrapper,
    .hamburger-menu-wrapper:hover{
        opacity: 1;
        visibility: visible;
        transition-delay: 0s, 0s;
    }

    .hamburg-dd {
        overflow: hidden;
        padding-bottom: 2em;
        position: fixed;
        top: 90px;
        min-height: 409px;
        left: 0;
        right: 0;
        z-index: 100;
        background-image: url('../img/dark-pattern.png');
        border-top: solid 1px #e3e3e3;
        box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    }

    .hamburg-dd .sub-navig {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding-top: 2em;
        width: 323px;
        background: #ccc;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hamburg-dd .sub-navig a {
        font-size: 2em;
        font-weight: 700;
        color: #fff;
        padding: 0.6em 40px;
        margin-bottom: 0.3em;
        box-sizing: border-box;
        height: 42px;
        display: block;
        position: relative;
        text-transform: uppercase;
    }
    .hamburg-dd .sub-navig li.active a {
        background: #18b9d6;
    }
    .hamburg-dd .sub-navig li.active a span {
        width: 0;
        height: 0;
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
        border-left: 21px solid #18b9d6;
        position: absolute;
        right: -21px;
        top: 0;
        display: none;
    }
    .hamburg-dd .sub-navig li.active a span {
        display: block;
    }
    .hamburg-dd .sub-navig li.about-lt-nav a {
        text-transform: none;
        font-size: 1.8em;
        line-height: 21px;
        font-weight: 500;
    }
    .hamburg-dd .subnav-stories {
        margin-left: 339px;
    }
    .hamburg-dd .subnav-stories .substory-wrapper{
        display:none;
        float: left;
        animation: hide 250ms linear;
        animation-fill-mode: forwards;
    }
    .hamburg-dd .subnav-stories .substory-wrapper.show{
        display:block;
        float: left;
        animation: show 250ms linear;
        animation-fill-mode: forwards;
    }
    .hamburg-dd .subnav-stories .substory-wrapper.sub-aboutit {
        z-index: 1000;
        position: relative;
    }
    .hamburg-dd .sub-story {
        width: 31.333333333%;
        margin: 0 1%;
        float: left;
    }
    .hamburg-dd .sub-story figure{ width: 100%; }
    .hamburg-dd .sub-story figure img {
        border:5px solid #5e5c5d;
        width: calc(100% - 10px);
    }

    .hamburg-dd h2 { text-align: left; padding: 1em 0 1em 1%; }
    .aboutlt-sub {
        padding-top: 3em;
    }
    .aboutlt-sub .menu1 {
        float: left;
        min-width: 190px;
        min-height: 270px;
    }
    .aboutlt-sub .menu1 a, .aboutlt-sub .menu2 > a {
        display: block;
        font-size: 1.6em;
        padding: 0.7em 1em;
        cursor: pointer;
        color:#fff;
    }
    .aboutlt-sub .menu1 a:hover, .aboutlt-sub .menu2 > a:hover {
        font-weight: 700;
        cursor: pointer;
    }
    .aboutlt-sub .menu2 {
        float: left;
        min-height: 270px;
        position: relative;
    }
    .aboutlt-sub .menu2 > a {
        font-size: 1.46em;
    }
    .aboutlt-sub .menu2 p {
        position: absolute;
        bottom: 0;
        font-size: 1.3em;
        color: #333;
        width: 276px;
        padding: 1em;
        background: #f6f6f6;
    }
    .aboutlt-sub .menu2 p span {
        font-weight: bold;
        display: block;
    }
    .aboutlt-sub .menu2 p a {
        color: #18b9d6;
    }
.menu-subline{
    visibility:hidden;
}
.menu-hover-overlay{
    width:100%;
    position: fixed;
    top:0px;
    right:0px;
    bottom:-10px;
    left:0px;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
    height:100vh;
}
/*-- promo post --*/
.promo-posts{
    padding-top: 115px;
}
.promo-slide {
    position: relative;
	cursor: pointer;
}
.overlay-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.6) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
}
.promo-slide figure {
    width: 100%;
    max-height: 716px;
    overflow: hidden;
}
.promo-slide figure img {
    width: 100%;
    display: block;
    position: relative;
}
.promo-slide .main-post-header {
    position: absolute;
    bottom: 12%;
    width: 70%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}
.promo-slide .promo-title {
    display: inline-block;
    text-align: center;
    padding: 0.3em 2em;
    background: #18b9d6;
    color: #fff;
    font-size: 2em;
    margin: -13px 0 10px;
    text-transform: uppercase;
}
.promo-slide .title-wrap {
    position: relative;
    display: inline-block;
}
.promo-slide h2 {
    background: rgba(255, 255, 255, 0.66);
    margin-bottom: 0.3em;
    padding: 0 3em;
}
.promo-slide h2 a.main-title {
    display: block;
    font-size: 3.5em;
    color: #222;
    font-weight: 300;
    line-height: 42px;
    padding: 0 1em;
}
.promo-slide h2 a.main-title span {
    font-weight: 700;
}
.promo-slide .author {
    float: right;
}
.promo-slide .author a {
    color: #444;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: 300;
}
.promo-slide .author img {
    background: #4b8b3f;
}

/*-- promo post stories --*/
.carousel-posts {
    z-index: 10;
    margin-top: -106px;
}
.carousel-storie, .top-story {
    width: 29%;
    margin: 0 2% 4em;
    float: left;
}
.carousel-storie figure {
    position: relative;
    margin-bottom: 2em;
    border-bottom: solid 8px #ccc;
}
.carousel-storie figure a {
    display: block;
}
.carousel-storie figure, .carousel-storie figure img {
    width: 100%;
    display: block;
}
.carousel-storie figcaption {
    position: absolute;
    top: -9px;
    text-align: center;
    width: 100%;
}
.carousel-storie figcaption span {
    display: inline-block;
    padding: 0.4em 1em;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    background: #ccc;
    text-transform: uppercase;
}
.carousel-storie h3{
	height: 70px;
	overflow: hidden;
	}
.carousel-storie .sponsored span {
    float: left;
    color: #fff;
    background: #666;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0 10px;
    font-style: normal;
    margin: 14px 20px 0 0;
    position: relative;
}
.carousel-storie .sponsored span::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #666;
    position: absolute;
    right: -10px;
}
.carousel-storie .author img {
    background: #525feb;
}
.carousel-storie .author a:hover {
    color: #444;
}
.carousel-storie h3 a {color:#444;}
.post-yellow figcaption span { background: #fab21d; }
.post-yellow figure { border-color: #fab21d; }
.post-turquoise figcaption span { background: #74c8ba; }
.post-turquoise figure { border-color: #74c8ba; }
.post-blue figcaption span { background: #18b9d6; }
.post-blue figure { border-color: #18b9d6; }

/*-- top stories --*/
.topstories {
    background: #f6f6f6;
    position: relative;
    clear: both;
}
.topstories .title-wrap hr {
    position: absolute;
    width: 36%;
    right: 0;
    top: 1.4em;
}
.topstories .title-wrap hr:first-child { left: 0; right: auto; }
.topstories h2.section-title { background: #c6dee3; top: -13px; position: relative; }

    .topstories figure, .topstories figure img {
        width: 100%;
        display: block;
    }
    .top-story {
        padding: 2em;
        box-sizing: border-box;
        background: #fff;
        border: solid 1px #e5e5e5;
    }
    .single-top-story figure { margin-bottom: 1.5em; }
    .single-top-story .author img, .double-top-storys address img { background: #515eea; }
    .double-top-storys .inner-story-wrap {
        margin-bottom: 2em;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    .double-top-storys .inner-story-wrap a {
        position: absolute;
        bottom: 0;
        padding: 0.5em 0.8em;
        background: rgba(0, 0, 0, 0.49);
        width: 100%;
        box-sizing: border-box;
        font-size: 1.5em;
        color: #fff;
        line-height: 1.3em;
    }
    .double-top-storys .inner-story-wrap a:hover {
        background: rgba(0, 0, 0, 0.33);
    }
    .double-top-storys address {
        padding-top: 0.5em;
        font-style: normal;
        margin-bottom: 2em;
        float: none;
        overflow: hidden;
    }
    .double-top-storys .sponsored-by {
        margin-top: 2em;
    }
    .double-top-storys .sponsored-by span {
        float: left;
        padding: 0.3em 0.5em;
        font-size: 1.2em;
        margin-right: 1.8em;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        position: relative;
        height: 20px;
        box-sizing: border-box;
    }
    .double-top-storys .sponsored-by span small {
        width: 0;
    	height: 0;
    	border-top: 10px solid transparent;
    	border-bottom: 10px solid transparent;
    	border-left: 10px solid rgba(0, 0, 0, 0.6);
        position: absolute;
        right: -10px;
        top: 0;
    }
    .top-story.ad-placement {
        padding: 0;
        background: none;
        border: none;
    }
    .top-story.ad-placement .ad-holder {
        max-width: 300px;
        margin: 0 auto;
    }
    .top-story.ad-placement .ad-holder img {
        width: 100%;
    }
    .topstories .show-more { clear: both;  text-align: center; }
    .topstories .show-more a {
        font-size: 1.4em;
        color: #444;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 4em;
    }
    .topstories .show-more a:hover {
        color: #18b9d6;
    }
    .topstories .show-more a i {
        margin-left: 0.3em;
    }
    .newsletter-wrap {
        text-align: center;
        padding: 0;
        background: rgb(25,185,211);
        background: -moz-linear-gradient(top,  rgba(25,185,211,1) 0%, rgba(122,213,232,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(25,185,211,1) 0%,rgba(122,213,232,1) 100%);
        background: linear-gradient(to bottom,  rgba(25,185,211,1) 0%,rgba(122,213,232,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b9d3', endColorstr='#7ad5e8',GradientType=0 );
    }
    .newsletter-wrap .modals-wrapper{
        background: url('../img/clauds-nl.png') no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    .newsletter-wrap .inner-wrap {
        height: 509px;
        padding: 10em 0;
        box-sizing: border-box;

    }
    .newsletter-wrap h2 {
        font-size: 4.9em;
        font-weight: 700;
        color: #fff;
        text-shadow: 1px 1px 0 #0da1bc;
        padding-bottom: 0.3em;
    }
    .newsletter-wrap h2 small {
        font-size: 0.66em;
        font-weight: 500;
    }
    .newsletter-wrap h3 {
        text-transform: uppercase;
        color: #294e56;
    }
    .newsletter-wrap input {
        width: 80%;
        padding: 1em;
        font-size: 1.6em;
        color: #444;
        text-align: center;
        outline: none;
        margin-bottom: 1em;
        border-radius: 0.3em;
        border: none;
    }
    .newsletter-wrap button {
        padding: 0.6em 1em;
        font-size: 1.6em;
        background: #fbb41e;
        text-align: center;
        min-width: 179px;
        color: #fff;
        text-shadow: #a5740a;
        border: none;
        border-radius: 0.3em;
        font-weight: 700;
        cursor: pointer;
    }
    .newsletter-wrap .error-message{
        margin: 15px 0;
        padding: 10px 10px 10px 35px;
        list-style: initial;
        background-color: #ffe5e5;
        color:red;
        font-size: 14px;
        display:none;
    }
    .newsletter-wrap .loader-cloud {
        display: none;
        width: 96px;
        height: 96px;
        background-image: url(../img/icons/lt-animated-transparent.gif);
        background-size: 100% auto;
        vertical-align: middle;
        text-align: center;
        position: relative;
        left: calc(50% - 48px);
        top: 10px;
        background-color: transparent;
    }
    .newsletter-wrap .modal-thankyou {
        background: #fff;
        display:none
    }
    .newsletter-wrap .modal-thankyou h3 {
        color: #18b9d6;
        padding-top: 70px;
        margin-bottom: 20px;
        font-size: 40px;
        text-align: center;
        font-family: 'MontserratExtraBold';
    }
    .newsletter-wrap .modal-thankyou .thank-you-envelope {
        width: 158px;
        margin: 0 auto;
        display: block;
    }
    .newsletter-wrap .modal-thankyou .thank-you-note {
        text-align: center;
        color: #4a4a4a;
        font-size: #4a4a4a;
        font-family: 'MontserratLight';
        font-size: 24px;
    }
    .newsletter-wrap .modal-thankyou .thank-you-note span {
        font-family: 'MontserratExtraBold';
    }
    .newsletter-wrap .modal-thankyou .keep-reading {
        color: #00b8d4;
        font-size: 16px;
        text-align: center;
        display: block;
        font-family: 'MontserratLight';
    }
/*-- recent stories --*/
.latest_posts_wrapper {
    display: flex;
}
address.author.top-closer {
    margin-top: -15px;
}
address.author.top-closer:last-of-type {
    margin-bottom: 0px;
}
.recentstories {
    background: #f6f6f6;
    position: relative;
    clear: both;
}
.recentstories .title-wrap hr {
    position: absolute;
    width: 36%;
    right: 0;
    top: 1.4em;
}
.recentstories .title-wrap hr:first-child { left: 0; right: auto; }
.recentstories h2.section-title { background: #74C8B9; top: -13px; position: relative; }

    .recentstories figure, .recentstories figure img {
        width: 100%;
        display: block;
    }
    .recent-story {
        padding: 2em;
        box-sizing: border-box;
        background: #fff;
        border: solid 1px #e5e5e5;
    }
    .single-recent-story figure { margin-bottom: 1.5em; }
    .single-recent-story .author img, .double-recent-storys address img { background: #515eea; }
    .double-recent-storys .inner-story-wrap {
        margin-bottom: 2em;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    .double-recent-storys .inner-story-wrap a {
        position: absolute;
        bottom: 0;
        padding: 0.5em 0.8em;
        background: rgba(0, 0, 0, 0.49);
        width: 100%;
        box-sizing: border-box;
        font-size: 1.5em;
        color: #fff;
        line-height: 1.3em;
    }
    .double-recent-storys .inner-story-wrap a:hover {
        background: rgba(0, 0, 0, 0.33);
    }
    .double-recent-storys address {
        padding-top: 0.5em;
        font-size: 1.2em;
        font-style: normal;
        margin-bottom: 2em;
        float: none;
        overflow: hidden;
    }
    .double-recent-storys .sponsored-by {
        margin-top: 2em;
    }
    .double-recent-storys .sponsored-by span {
        float: left;
        padding: 0.3em 0.5em;
        font-size: 1.2em;
        margin-right: 1.8em;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        position: relative;
        height: 20px;
        box-sizing: border-box;
    }
    .double-recent-storys .sponsored-by span small {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid rgba(0, 0, 0, 0.6);
        position: absolute;
        right: -10px;
        top: 0;
    }
    .recent-story.ad-placement {
        padding: 0;
        background: none;
        border: none;
    }
    .recent-story.ad-placement .ad-holder {
        max-width: 300px;
        margin: 0 auto;
    }
    .recent-story.ad-placement .ad-holder img {
        width: 100%;
    }
    .recentstories .show-more { clear: both;  text-align: center; }
    .recentstories .show-more a {
        font-size: 1.4em;
        color: #444;
        display: inline-block;
        text-transform: uppercase;
    }
    .recentstories .show-more a:hover {
        color: #18b9d6;
    }
    .recentstories .show-more a i {
        margin-left: 0.3em;
    }
    .recentstories .loading-wrapper {
        font-size: 18px;
        color: #333;
        text-align: center;
        width: 100%;
        margin: 20px auto 0px auto;
        padding-bottom:20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        visibility:hidden;
    }

    .recentstories .loading-wrapper .loading {
        display: inline-block;
        width: 65px;
        height: 65px;
        background-image: url("../img/icons/lt-animated-transparent.gif");
        background-size: 100% auto;
        vertical-align: middle;
    }
/*-- videos --*/
.featured-videos {
    position: relative;
}
.featured-videos h2, .recipes h2 {
    background: #fab21d;
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -12%;
    z-index: 1;
}
.main-video {
    height: 533px;
    background: #000;
}

.main-video .center{
    position:relative;
    height:100%;
}
.main-video .center .video-wrap{
    position: relative;
    height: 100%;
}

.main-video .center .video-wrap #video-holder{
    position: relative;
    height:100% !important;
}
.main-video p {
    margin: -80px 0 80px;
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight: 500;
    text-shadow: 1px 1px 2px #333;
    position:relative;
    pointer-events: none;
}
.videos-list {
    background: #000;
    padding: 2em 0;
    overflow: hidden;
}
.videos-list .center {
    min-height: 174px;
}
.video-article {
    width: 23%;
    float: left;
    margin: 0 1%;
    box-sizing: border-box;
    position: relative;
    opacity: 0.85;
    cursor: pointer;
    position: relative;
}
.video-article:hover {
    opacity: 1;
}
.video-article figure, .video-article figure img {
    width: 100%;
    display: block;
}
.video-article figure {
    width: 100%;
    display: block;
    transition: all 0.5s ease;
    position: relative;
    left: 0;
    top: 0;
}
.video-article:hover figure {
    position: relative;
    width: 110%;
    left: -5%;
    top: -5%;
    right: -5%;
    bottom: -5%;
}
.video-article .play-btn {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -33px 0 0 -33px;
    background: url('../img/play-btn.png') no-repeat;
    background-size: cover;
    transition: all 0.5s ease;
    opacity: 0;
}
.video-article .video-desc {
    position: absolute;
    bottom: 0;
    left: -5%;
    opacity: 0;
    width: 110%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    line-height: 2em;
    padding: 0.5em 1em;
    height: 69px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
.video-article:hover .play-btn, .video-article:hover .video-desc {
    opacity: 1;
}
.video-article .video-desc p, .video-article .video-desc a {
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 0.6em;
}
.video-article .video-desc a {
    font-size: 1.9em;
    font-weight: 500;
}
.video-article .video-desc p {
    line-height: 1em;
    padding-bottom: 0.4em;
}

/*-- recipes --*/
.recipes {
    position: relative;
    clear: both;
}
.recipes-slider-wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 3em;
    max-width: 1280px;
    overflow:hidden;
}

.recipes-slider-wrapper .bx-wrapper .bx-viewport{
    box-shadow:none;
    border:none;
    left:0;
}
.recipe-slide {
    overflow: hidden;
    position: relative;
    height: 560px;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
}
.top-recipe-carousel {
    margin-bottom: 3em;
    position: relative;
}
.top-recipe-carousel figure {
    width: 100%;
}
.top-recipe-carousel figure img {
    display: block;
    width: 100%;
}
.recipes-slider-wrapper .bx-wrapper .bx-controls-direction a{
    z-index:1;
}
.recipes-slider-wrapper .bx-wrapper .bx-controls-direction a.disabled {
    display: block!important;
}
.description-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 6em 3.9em 3em;
    box-sizing: border-box;
}
.description-wrap .inner-border {
    border: solid 2px #fff;
    height: 100%;
    position: relative;
}
.description-wrap .inner-border > div {
    width: 36%;
    background: #fff;
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 2em 0;
    box-sizing: border-box;
    overflow: hidden;
}
.description-wrap .inner-border .center-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.description-wrap h3 {
    font-size: 3em;
    font-weight: 300;
    padding-bottom: 1em;
}
.description-wrap p {
    font-size: 2.3em;
    line-height: 1.6em;
    padding-bottom: 2em;
}
.description-wrap .article-link {
    font-size: 2.3em;
    color: #444;
}
.description-wrap .article-link:hover {
    color: #18b9d6;
}
.food-cat {
    margin-bottom: 6em;
    overflow: hidden;
}
.food-cat .food-box {
    float: left;
    width: 31.3333333333%;
    margin: 0 1% 3em;
    position: relative;
	height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.food-cat .food-box img {
    width: 100%;
    display: block;
}
.food-cat .food-box a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 250px;
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
    transition: all 0.5s ease;
}
.food-cat .food-box a:hover {
    background: rgba(0, 0, 0, 0);
}
/*-- site footer --*/
.site-footer {
    background: #444;
    overflow: hidden;
    padding: 0 0 1em;
    text-align: center;
}
.site-footer .footer-link-list {
    list-style: none;
    margin-bottom: 7px;
}
.site-footer .footer-link-list li {
    display: inline-block;
    padding: 2px 1em 0;
    height: 69px;
}
.site-footer .footer-link-list li a {
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    color: #fff;
    margin: 0 0.7em;
    -webkit-font-smoothing: antialiased;
}
.site-footer .footer-link-list li a:hover,
.sub-footer .sub-footer-nav a:hover {
    opacity: 1;
    color: #18b9d6;
}
.site-footer .footer-logo {
    display: block;
    height: 75px;
    padding: 25px 19px;
}
.sub-footer {
    padding-top: 2.8em;
    border-top: solid 1px #616161;
}
.sub-footer .sub-footer-nav {
    padding-bottom: 1.8em;
}
.sub-footer .sub-footer-nav a {
    text-transform: uppercase;
    color: #fff;
    padding: 0 0.4em;
    margin: 0 0.7em;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
}
.sub-footer p.copy-r {
    color: #fff;
    font-family: Raleway;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    padding-bottom: 19px;
    -webkit-font-smoothing: antialiased;
}
/*-- live brodcast --*/
.live-brodcasts {
    padding: 6em 0;
    overflow: hidden;
    background: #f6f6f6;
}
.broadcast-link,
.broadcast-link:hover {
    color: #444;
}
.live-video {
    width: 31.333333%;
    margin: 0 1%;
    float: left;
    background: #fff;
    box-sizing: border-box;
    text-align: left;
    border: solid 1px #ccc;
}
.live-video .live-holder {
    height: 190px;
    background: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
}
.live-video h3 {
    font-weight: 300;
    font-size: 1.6em;
    padding: 0.5em 1em;
}
.live-video .video-actions {
    padding: 1em 2em;
    border-top: solid 1px #eee;
    overflow: hidden;
}
.live-video .video-actions a {
    font-size: 1.3em;
    color: #666;
    margin-right: 3em;
    display: inline-block;
}
.live-video .video-actions a span {
    padding-left: 0.5em;
    font-family: 'Raleway', sans-serif;
}
.live-video .video-actions a:hover {
    color: #18b9d6;
}

/************ SUBSCRIBE POPUP MODULE ****************/
.disable-scroll{
    overflow: hidden;
    position: relative;
}
.modal-popup-overlay{
    width:100%;
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
    cursor: pointer;
}
.modal-popup {
    width: 760px;
    position: fixed;
    z-index: 10000;
    top: 20%;
    left: 50%;
    display: none;
    margin-left: -380px;
}
.modal-close{
    position: absolute;
    right: 112px;
    top: 62px;
    display: block;
    background: url(../img/icons/close-button_v1.png) center no-repeat;
    background-size: cover;
    height: 46px;
    width: 46px;
    background-color: #242424;
    border-radius: 28px;
}
.modal-close:before{
    content: '';
    font-size:0;
    font-family: 'MontserratExtraBold';
}
.modal-popup .iner-module {
    height: 476px;
    width: 100%;
    display: none;
}
.modal-popup .modal-thankyou,
.modal-popup .modal-loader,
.modal-popup .modal-subscribe,
.modal-popup .modal-push-notifications,
.modal-popup .modal-dont-miss {
    background: url(../img/popup-cloud-bg.png) no-repeat;
}
.modal-popup .modal-dont-miss::before {
    background: url(../img/panda-popup.png) no-repeat;
    content: '';
    position: absolute;
    width: 122px;
    height: 177px;
    top: -40px;
    left: 104px;
}
.modal-logo {
  display: block;
  width: 63px;
  margin: 0 auto;
  padding: 70px 0 0;
}
.modal-popup h2 {
    padding-top: 15px;
    font-size: 33px;
    color: #333;
    font-family: 'MontserratLight';
    text-align: center;
}
a.click-happi {
    height: 475px;
    display: block;
    cursor: pointer;
    z-index: 10001;
    border: none;
    outline: none;
    text-decoration: none;
}
.modal-popup h2 span {
    font-family: 'MontserratSemiBold';
    display: block;
    font-size: 59px;
    padding: 5px 0;
}
.modal-popup .modal-dont-miss h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-indent: 0;
    width: 420px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.modal-popup .modal-dont-miss h2::before {
    content: '';
    width: 83px;
    height: 56px;
    display: block;
    float: left;
    margin-top: -6px;
    margin-right: 10px;
    background: url(../img/mike-icon.png) no-repeat;
}
.modal-popup .modal-dont-miss .heart-icon {
    width: 39px;
    height: 34px;
    display: block;
    margin: 20px auto 0;
}
.modal-popup .sub-description {
    font-size: 25px;
    color: #444;
    font-family: 'MontserratLight';
    text-align: center;
    padding-bottom: 15px;
}
.modal-popup .modal-dont-miss p {
    font-size: 20px;
}
.modal-popup .sbscribe-wrap {
    margin: 0 20%;
}
.modal-popup .sbscribe-wrap input[type="text"],
.modal-popup .sbscribe-wrap button,
.modal-popup .modal-dont-miss .click-happi {
    font-size: 18px;
    color: #4a4a4a;
    font-family: 'MontserratLight';
    padding: 10px;
    width: 64%;
    border-radius: 5px;
    border: solid 1px #ccc;
    text-align: center;
}
.modal-popup .modal-dont-miss .click-happi {
    font-family: 'MontserratSemiBold';
    display: block;
    max-width: 270px;
    margin: 20px auto 0;
    float: none;
    border: none;
    color: #fff;
}
.modal-popup .error-message{
    margin: -15px 0 5px;
    padding: 10px 10px 10px 35px;
    list-style: initial;
    background-color: #ffe5e5;
    border-radius: 5px;
    color:red;
    display:none;
}
.modal-popup .sbscribe-wrap button {
    background: #18b9d6;
    width: 30%;
    text-align: center;
    float: right;
    color: #fff;
    font-family: 'MontserratSemiBold';
    border: none;
}
.modal-popup .sbscribe-wrap input[type="text"]:focus {
    outline: none;
    border: solid 1px #18b9d6;
}
.modal-popup .click-dismiss {
    text-align: center;
    font-size: 14px;
    color: #666;
    padding-top: 15px;
    display: block;
}
.modal-popup .click-dismiss:hover {
    color: #333;
}
.modal-popup .loader-cloud {
    width: 48px;
    height: 48px;
    background-image: url(../img/subscribe-loader.gif);
    background-size: 100% auto;
    vertical-align: middle;
    text-align: center;
    position: relative;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    background-color: transparent;
}
.modal-popup .modal-thankyou h3 {
    padding: 100px 0 10px;
    font-size: 29px;
    text-align: center;
    font-family: 'MontserratLight';
}
.modal-popup .modal-thankyou h3 span {
    font-family: 'MontserratExtraBold';
}
.modal-popup .modal-thankyou .thank-you-envelope {
    width: 139px;
    margin: 0 auto 30px;
    display: block;
}
.modal-popup .modal-thankyou .thank-you-note {
    text-align: center;
    color: #4a4a4a;
    font-size: #4a4a4a;
    font-family: 'MontserratLight';
    font-size: 24px;
}
.modal-popup .modal-thankyou .thank-you-note span {
    font-family: 'MontserratExtraBold';
}
.modal-popup .modal-thankyou .keep-reading {
    color: #00b8d4;
    font-size: 16px;
    text-align: center;
    display: block;
    font-family: 'MontserratLight';
}

.survey-close.modal-popup-overlay {
    background: none;
}
.survey-close.modal-popup-overlay .modal-popup {
    bottom: 0;
    top: auto;
    width: auto;
    padding: 1em;
    background: rgb(23,185,214);
    background: -moz-linear-gradient(top,  rgba(23,185,214,1) 0%, rgba(154,224,237,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(23,185,214,1) 0%,rgba(154,224,237,1) 100%);
    background: linear-gradient(to bottom,  rgba(23,185,214,1) 0%,rgba(154,224,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17b9d6', endColorstr='#9ae0ed',GradientType=0 );
}
.survey-close.modal-popup-overlay .logo-inpopup {
    width: 56px;
    margin: 0 auto 10px;
    display: block;
}
.survey-close.modal-popup-overlay .modal-popup h2 {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    font-size: 26px;
    font-weight: 500;
    font-family: Montserrat;
}
.survey-close.modal-popup-overlay .modal-popup p {
    text-align: center;
    padding: 0 4em;
    font-size: 17px;
    color: #002b32;
    padding-bottom: 20px;
}
.survey-close.modal-popup-overlay .modal-popup .survey-link {
    display: block;
    width: 213px;
    border-radius: 6px;
    background: #fbb31e;
    font-size: 21px;
    font-weight: 500;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.45);
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    font-family: Montserrat;
    margin-bottom: 20px;
}
.survey-close.modal-popup-overlay .modal-popup .iner-module {
    height: auto;
}
.survey-close.modal-popup-overlay .modal-popup .no-thanks {
    width: 199px;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 13px;
    color: #000;
    font-weight: bold;
}
.survey-close.modal-popup-overlay .modal-close {
    top: -18px;
}


@media only screen and (max-width: 500px) {
    .modal-popup .sbscribe-wrap input[type="text"],
    .modal-popup .sbscribe-wrap button{
        width:100%;
    }
    .modal-popup .sbscribe-wrap button{
        margin-top:10px;
    }
}

@media (max-width: 1400px) {
    .hamburg-dd {
        min-height: 329px;
    }
}
@media (max-width: 1200px) {

    /*-- top recipe --*/
    .description-wrap .inner-border > div {
        width: 49%;
    }
    .description-wrap h3 {
        font-size: 2.3em;
        padding-bottom: 0;
    }
    .description-wrap p {
        font-size: 1.6em;
        padding-bottom: 1em;
    }
    .description-wrap .article-link {
        font-size: 1.6em;
    }
    .videos-list .center {
        min-height: 163px;
    }
}
@media (max-width: 1100px) {
    .hamburg-dd {
        min-height: 299px;
    }
	.food-cat .food-box{
		height: 220px;
		}
	.food-cat .food-box a{
		line-height: 220px;
		}
}
@media (max-width: 1024px) {
    /*-- main banner --*/
    .promo-slide h2 a.main-title {
        font-size: 2.8em;
    }
    .promo-slide .promo-title{
        font-size: 2.3em;
    }
}
@media (max-width: 1000px) {
    /*--- general css --*/
    p {
        font-size: 1.3em;
    }
    h2.section-title {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.56em;
    }
    h4 {
        font-size: 3.13em;
    }
    h5 {
        font-size: 1.86em;
    }

	form.navig-search.searchbox-open{
		width: 230px;
	}
    form.navig-search.searchbox-open input {
	    margin: 0 40px 0 10px;
        font-size: 19px;
	}
    /*-- sub nav --*/
    .main-drop-down .menu-story {
        width: 24%;
        margin: 0 0.5%;
    }
    /*--- hamburg --*/
    .hamburg-dd .sub-navig {
        width: 253px;
    }
    .hamburg-dd .sub-navig a {
        font-size: 1.9em;
        padding: 0.6 1.6em;
    }
    .hamburg-dd .sub-navig a span {
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
        border-left: 21px solid #18b9d6;
        right: -21px;
        display: none;
    }
    .hamburg-dd .subnav-stories {
        margin-left: 279px;
    }

    /*-- aditional --*/
    .double-top-storys .inner-story-wrap a {
        font-size: 1.3em;
    }
    .main-video p {
        font-size: 2.3em;
    }
    .news-letter {
        margin: 10px 0 0 120px;
    }
    .newslet-wrap {
        width: 60%;
    }
    .news-letter input[type="button"] {
        font-size: 1.6em;
    }
    .news-letter input[type="text"] {
        font-size: 1.1em;
    }
    .more-links {
        width: 40%;
    }
    .site-footer .footer-link-list{
        padding-left: 0;
        padding-right: 0;
    }
    .site-footer .footer-link-list li {
        padding: 0;
    }
    .videos-list .center {
        min-height: 133px;
    }
    .video-article .play-btn {
        display: none;
    }
    .newsletter-wrap .inner-wrap {
        height: 439px;
    }
    .newsletter-wrap h2 {
        font-size: 3.6em
    }
	.food-cat .food-box{
		height: 180px;
		}
	.food-cat .food-box a{
		line-height: 180px;
		}

}

@media (max-width: 768px) {
    .newsletter-wrap{
        overflow:hidden;
    }
    .newsletter-wrap button{
        min-width: 0;
    }
}

@supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto))
and (not (-moz-appearance:none))
{

  .navig-search.searchbox-open .fa.fa-search {
    margin-top: 4px;
  }

}
