/*! perfect-scrollbar - v0.5.7
* http://noraesae.github.com/perfect-scrollbar/
* Copyright (c) 2014 Hyunje Alex Jun;
     Licensed MIT */

.ps-container.ps-active-x>.ps-scrollbar-x-rail, .ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block;
}
.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0.5;
    -ms-filter: "alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    height: 8px;
}
.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    position: absolute;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    bottom: 0;
    height: 8px;
}
.ps-container>.ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.ps-container>.ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0.5;
    -ms-filter: "alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 3px;
    width: 8px;
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    right: 0;
    width: 8px;
}
.ps-container>.ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.ps-container:hover>.ps-scrollbar-x-rail, .ps-container:hover>.ps-scrollbar-y-rail {
    opacity: 0.9;
    -ms-filter: "alpha(Opacity=90)";
    filter: alpha(opacity=90);
}
.ps-container:hover>.ps-scrollbar-x-rail.in-scrolling, .ps-container:hover>.ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.ps-container:hover>.ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
    background-color: #999;
}
.ps-container:hover>.ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #999;
}