.pw.pw-widget a:hover {
	cursor: pointer;
}

.pw.pw-widget {
	display: table;
	
}

.pw-widget .pw-button{
	display: table-row;
	overflow-y: hidden;
	margin: 10px;
	position: relative;
	margin-bottom: 10px;	
}

.pw-widget .pw-button:hover{
	background: gray;
}

.pw-button-counter{
	padding: 0 0 0 10px;
	/* margin: 1px; */
	background: white;
	width: 58px;
	text-align: center;
	display: none;
	position: relative;
	font: 18px/24px Arial,Helvetica,sans-serif;
}

.pw-icon{
	display: none;
}

.lt-icon{
	padding: 0 20px 0;
	background: url(fb_ico.png) no-repeat 10px;
	display: table-cell;
	top: 0;
	border-radius: 6px 0 0 6px;
}

.pw-button-text{
	font: 700 18px/22px Arial,Helvetica,sans-serif;
	display: table-cell;
	width: 100%;
	border-radius: 0 6px 6px 0;
	text-align: left;
	vertical-align: middle;
	color: white;
	padding: 0 5px;
}

.pw-button-text .pw-hide-tier-one, .pw-button-text .pw-hide-tier-two {
	visibility: hidden;
	position: absolute;
}

.ra1-pw-popup-close:before{
	content: "×";
	color: #CCC;
	font-size: 30px;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 13px;
	right: 5px;
}

.ra1-pw-popup-close:hover:before{
	color: #999;
}


.button-facebook .pw-button {
	background-color: #3c56a2;

}

.button-facebook .pw-button:hover {
	background-color: #4360b5;
}

.pw-button-counter__count.ra1-pw-button-counter-value {
	border: 1px solid #ADADAD;
	padding: 0 10px;
	border-radius: 6px;
	color: #575757;
	height: 100%;
	display: table;
	text-align: center;
}

.pw-button-counter__brd{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 9px 9px 0;
	border-color: transparent #ADADAD;
	display: block;
	width: 0;
	z-index: 2;
	left: 2px;
	top: 41%;
}

.pw-button-counter__brd:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 7px 7px 0;
	border-color: transparent #FFF;
	display: block;
	width: 0;
	z-index: 1;
	left: 2px;
	top: 1px;
}

.ra1-pw-popup {
	background-color:rgba(0,0,0,0.3);
	height:100%;
	width:100%;
	position:fixed;
	top:0!important;
	left:0!important;
	z-index:1001;

}

.ra1-pw-popup-i {
	display: block;
	position: absolute;
	top: 40%;

	width: 100%;
	height: 300px;

}

.ra1-pw-popup-o {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	min-width: 280px;
	background: #FFF;
	width: 60%;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	height: 300px;

}
.ra1-pw-popup-area {
	padding: 10px;
}

.ra1-pw-popup-area ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ra1-pw-popup-area ul li {
	display: inline-block;
	width: 48%;
}


.ra1-pw-popup-title{
	padding: 14px 20px;
	border-bottom: 1px solid #CCC;
	display: block;
	position: relative;
	line-height: 27px;
	font-size: 18px;
}

.ra1-pw-popup-body {
	height: 230px;
	overflow-y:auto;
}

.ra1-pw-popup-footer {
	display: none;
}

.ra1-pw-small-btn.ra1-pw-tools__again{
	display: block;
	text-decoration: none;
	background: #00686D;
	padding: 15px 10px;
	border-radius: 6px;
	position: absolute;
	bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.ra1-pw-small-btn.ra1-pw-tools__again:hover{
	background: #000;
}

.ra1-pw-txt{
	font-size: 1.6em;
}

.ra1-pw-txt:hover{
	color: #FF3300;
}

.pf-counter-value {
	display: table-cell;
	vertical-align: middle;
}


@media(max-width: 765px) {

	.ra1-pw-popup-body {
		height: 0;
		overflow-y: hidden;
		display: none;
	}

	.ra1-pw-popup-o {
		height: 60px;
	}

	.ra1-pw-popup-title {
		border: none;
	}

	.ral-pw-share-success-title {
		margin: 0;
		padding: 0;
		font-size: 1.3em;
	}

	.ra1-pw-share-txt-text, .ra1-pw-share-txt, .ra1-pw-share-offer, .ra1-pw-tools, .ra1-pw-popup-body, .ra1-pw-popup-area {
		display: none;
	}
}