#sidebar-right{
	position: relative;
	width: 100% ;
        padding-right:10px;
	background: #f8f8f8;
	z-index: 0;
        margin: 0px 0 30px 0px;
        height: 660px;
        overflow:hidden;
        border-bottom: 1px solid #DBDBDB;
        border-top: 1px solid #DBDBDB;
        border-left: 1px solid #F2F2F2;
}

#sidebar-right #sidebar-scroll {
	height:     100%;	
	padding:    0; 
        z-index:1;
}

#sidebar-right #sidebar-scroll .sidebar-infinite-holder{
    float:left;
    width:100%;
    z-index:1;
}


.infinite-slider-title:before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 7px 7px;
    border-style: solid;
    border-color: #FFAD33 #FFAD33 transparent transparent;
}

.infinite-slider-title:after{
    content: ' ';
    position: absolute;
    width: 45px;
    height: 0;
    right: -45px;
    top: 0;
    border-width: 20px 20px;
    border-style: solid;
    border-color: #FFD333 transparent #FFD333 #FFD333;
}

.infinite-slider-title{
    position: relative;
    width: calc(100% - 25px);
    font-size: 1.5em;
    font-weight: bold;
    height: 40px;
    padding: 6px 20px 6px 25px;
    margin: 0px 10px 10px -15px;
    color: #333;
    background-color: #FFD333;
    text-shadow: 0px 1px 2px #FFD333;
}
#sidebar-right #sidebar-scroll .popular {
	width: 100%;
	margin: 1px 0 0 0;
	float: left;
	padding: 10px 8px 10px 8px;
	background: #fff;
        cursor: pointer;
}

#sidebar-right #sidebar-scroll .popular a{
    float:left;
    background-color: #00beed;
    color:#fff;
    width:100%;
}
#sidebar-right #sidebar-scroll .popular:hover a{
	/*
        padding: 10px 8px 10px 3px;
	border-left: 5px solid #00beed;
        */
    background-color:#FFD333;
    color:#000;
        
}
#sidebar-right #sidebar-scroll .popular.active a{
        background: #fab11e;
}
#sidebar-right #sidebar-scroll .popular.active .title{
	color: #fff;
        line-height:16px;       
}

#sidebar-right #sidebar-scroll .popular.active .title span{
    color:#000;
}
#sidebar-right #sidebar-scroll .popular .post-link-image {
	float:left;
}
#sidebar-right #sidebar-scroll .popular .title {
	font-size: 14px;
	margin: 0px;
	line-height: 16px;
        padding: 5px;
        text-align:center;
}

#sidebar-loader{
    background: none repeat scroll 0 0 #00beed;
    color: #fff;
    display: block;
    float: left;
    font-weight: bold;
    padding: 5px 30px 5px 10px;
    width: 100%;
    text-align: center;
    cursor:pointer;
    margin:0 5px 0 0;
}

#sidebar-loader:hover{
    color: #444;
}

#sidebar-loader span{
    display:inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    visibility: hidden;
}

.sidebar-loader-span{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 3px 5px;
    visibility: hidden;
    vertical-align: middle;
}

#sidebar-loader span img, .sidebar-loader-span img{
    width:100%;
}

.sidebar-scroll-cat{
    margin: 0 8px 5px 8px;
    float: left;
    width: calc(100% - 16px);
}

.sidebar-scroll-cat .title{
    float:left;
    margin-right:2%;
    font-weight:bold;
    font-size:15px;
    line-height:22px;
    width:35% !important;
}

div.ltips-infinite-sidebar div.sidebar-scroll-cat div#sidebar-category-dropdown .dd-option{
    padding: 5px 10px;
    cursor:pointer;
}

#sidebar-category-dropdown{
    float:left;
    width:50% !important;
}

#sidebar-category-dropdown > .dd-select{
    width:100% !important;
    height:22px !important;
}

#sidebar-category-dropdown > .dd-select .dd-selected{
   padding: 0px 10px !important;
}
#sidebar-category-dropdown > ul{
    width:100% !important;
}

@media only screen and (max-width: 1300px) {
    .ltips-infinite-sidebar .infinite-slider-title{
        font-size:1.4em !important;
    }
}

@media only screen and (max-width: 1190px) {
    .ltips-infinite-sidebar .infinite-slider-title{
        font-size:1.2em !important;
        line-height:15px !important;
    }
}

@media only screen and (max-width: 1100px) {
    .sidebar-scroll-cat{
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    
    .sidebar-scroll-cat{
        width: 100%;
    }
    
    .sidebar-scroll-cat .title{
        width: 34% !important;
        font-size: 13px;
    }
}

@media only screen and (max-width: 899px) {
    .ltips-infinite-sidebar{
        display: none !important;
    }
}