 html {     
   width: 100% ;
   max-width: 1280px ;
   min-height: 100%;
   margin-right: auto;
   margin-left: auto;      
   overflow-y: scroll;
   overflow-x: hidden;        
}
     
@media(max-width:359px) {
 body { margin-right: 2px; margin-left: 2px; }	     	   	   
}

@media(min-width:360px) {
 body { margin-right: 5px; margin-left: 5px; }	     	   	   
}

@media(min-width:768px) {
 body { margin-right: 10px; margin-left: 10px; }	     	   	   
}

@media(min-width:980px) {
 body { margin-right: 15px; margin-left: 15px; }	     	   	   
}

body {
  background:#FFFAF0;
}
  
/***** preloader */

	@media screen {
		div#preloader {
			position: absolute;
			left: 0;
			top:  -5px;
			}
		div#preloader img {
			display: block;
			width: 1px ;
			height: 1px;
			}
		}
	@media print {
		div#preloader, 
		div#preloader img {
			visibility: hidden;
			display: none;
			}
		}

/* top */

	.mbrtop1 {
	    position: absolute;
    		top: 0;
    		width: 213px ;
    		height: 39px;
    		z-index: 102;    	
	    background: url('../images/hr_top_right.gif');	    
	    background-repeat: no-repeat;
	    border-top-right-radius:8px;	    
	}  
	.mbrtop2 {
	    position: absolute;
    		top: 38px;
    		width: 187px ;
    		height: 51px;	
	    z-index: 102;
	    background: url('../images/hr_top_right3.gif');
	    background-repeat: no-repeat;	    
	    border-bottom-right-radius:8px;    	    
	}
	
	.menubox {
	    position: relative;
    	top: 0;
    	height: 39px;
    	width: 100% ;
    	z-index: 101;
	    background: url('../images/hr_top_right_back.gif')  ;
	    background-repeat: repeat-x;	    
	    border-bottom-left-radius:8px;
	    border-top-right-radius:8px;
	}	
	
	.menubox .menut {
		margin-right: 213px;
		padding-top: 15px ;
	}
	
  	.menubox .ltdate {
		color: black ;
		position: absolute ;
		left : 2px;
		top: 15px;
		z-index: 110 ;
  	}		


@font-face {
  font-family: 'isharp';
  src: url('/lp/fonts/sharp/iransharp_noen.eot'); /* IE9 Compat Modes */
  src: url('/lp/fonts/sharp/iransharp_noen.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/lp/fonts/sharp/iransharp_noen.woff') format('woff'), /* Modern Browsers */
       url('/lp/fonts/sharp/iransharp_noen.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/lp/fonts/sharp/iransharp_noen.svg#svgFontName') format('svg'); /* Legacy iOS */

/*  فونتهای ایران شارپ یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونتها به سایت fontiran.com مراجعه کنید. */       
/*  این مجموعه فونت تحت اجازه نامه ( JLWU4 ) در این پروژه استفاده می شود */      
}
    
body{
    font-family: isharp, Tahoma, "Times New Roman" , sans-serif;
    font-size: 11px;
    line-height: 20px;
}
 		

/*  Vije Ads */

     .vijlogo {
	    background: url('../stars/spad.gif') top left ;
	    background-repeat: no-repeat;    
     }

	.cdiv  {	  
	  overflow: hidden;
	  position: relative;
	  padding: 5px 10px 10px 10px;
	  height: 150px;
	}
	
	.cdiv .htit {
	    display: inline-block;
		max-width: 100%;
		overflow: hidden;
		vertical-align: top;
		white-space: nowrap;
		text-overflow: ellipsis;	
		padding-right: 1px;	
		padding-bottom: 5px ; 
	}
  
	.cdiv .ccont {
	  height: 125px;
	  padding: 0px;
	}
	
	.cdiv .ccont h5 {
	  font-size:12px; 
	  line-height: 20px;
	  max-height : 40px ;
	  overflow: hidden;
	  margin : 0px;
	}
	
	.cdiv .cimg {
	  padding: 0px;
	  padding-bottom: 10px ;
	}
	
	.cdiv .img-contain {
	  float: left ;
	  margin-right: 10px ;
	  margin-top: 2px ;
	  padding-bottom: 5px ;
	  width: 150px ;
	  height: 120px ;
	  overflow: hidden; 
	}
	
	.cdiv .ctxt {
	  font-size: 10px;
	  float: left ;
	  margin-right: 10px ;
	  margin-top: 2px ;
	  padding-bottom: 5px ;
	  width: 120px ;
	  height: 120px ; 
	  overflow: hidden;
	  text-overflow: ellipsis;	
	}
		
	
	.cdiv .ccont .cpos {
    		position: absolute;
    		bottom: 18px;
    		max-width: 55% ;
    		font-size: 10px ;
	}
			
	.cdiv .clink {
		padding-right: 10px ;
		direction: ltr; 
		font-weight: bold;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;		 
	}
	
	.cdiv .clink a {
	  position: absolute;
	  color: #006621 ;
	  bottom: 0px;
	}
	
	.tavans {
		color: blue ;
		font-weight: bold ;
	
	}
	
	.tavans:before { 		
		content:" \e162 ";
	  	font-family:"Glyphicons Halflings";
	}	
	
	.sflash {
	    border: 0px none !important;
	    background-color: #006621 !important;
	    color: #FFF !important;
	    right: 0px !important;
		font-weight: normal !important;
		padding: 3px 12px 2px 5px !important;	
		width: 50px !important;
			    
	}
	
	.sflash:before {
		content:"\e162";
	  	font-family:"Glyphicons Halflings";	
	}	

	.flashprice {
	  position : absolute; 
	  top:30px; 
	  left:210px; 
	  color:#006621 ;
	}
	.flashprice:before {
		content:"\e162";
	  	font-family:"Glyphicons Halflings";
	    font-size:50px; 	
	}
		
 	.para-vij {
 	  padding: 0 ;
	  max-width: 500px ;
	}
	
	ul.para-vij  li {
	  margin-bottom: 5px; 
	  list-style-type: none;
	}
	
 	ul.para-vij  li:before {
 	  content:"\e162";
	  font-family:"Glyphicons Halflings";
	}
		
			
		
/*  Show Ad */ 

	#avshow  h1 {
	   font-size: 16px;
	   color:blue;
	   margin:0;
	   margin-bottom: 10px;
	}
	
	#avshow  .avimg {
	   float:left; 
	   margin: 20px 20px 20px 0px ;
	   min-width: 250px; 
	   max-width: 360px;
	   width:100% ;
	   text-align: center;
	}
		
	#avshow  .avutop {
	   font-weight: bold;
	   color:#FF6600;
	   margin-top: 5px;
	}
	
	#avshow .avkeys {
	  line-height:20px;
	}
	
	#avshow .avkeys a {
	    border: 0px none;
	    background-color: #FFFAF0;
	    color: blue;
	}
	
	#avshow  .so-share {
	   font-weight: bold;
	   color:#FF6600;
	}
	
	#avshow  .avucont {
	   font-weight: bold;
	   color:#FF6600;
	   margin-top: 10px;
	   margin-bottom: 5px;
	}
	
	#avshow #contactform {
	  margin-top: 10px;
	}
		
		
	#avshow  .avp:before {
	  content: "";
	  width: 180px;
	  display: block;
	  overflow: hidden;
	}	
			
	#avshow  .avp {
	    width: 100%  ;
		max-width: 480px; 
		line-height: 20px ;
		padding-top: 12px;				
	}
	
	#avshow  .glyphicon {
	  margin-left: 10px ;
	}
	
	#avshow  .uinfo {
		font-weight: bold; 
		line-height: 160% ;
		padding-bottom: 20px ;
	}
	
	
	#avshow .dl-horizontal dt{
	    width: 45px;
	}
		
    @media(min-width:768px)
    {
		#avshow .dl-horizontal dd{
	      margin-right: 55px;
	    }  
    }
				
	#avshow  .avl {
		background: url('../stars/clhere.gif') ;
		background-repeat: no-repeat;
		height: 18 ;
		padding-left: 55px ;
		direction: ltr;
	}
	
	
/* in List  */
		
	#inli  {	  
	  overflow: hidden;
	}
	
	.media  {	  
	  margin-bottom: 10px;
	}
			
	#inli .badge  {	
	  width: 90px;
	  margin-right: 5px; 
	}
	
	#inli .media-img  {
	  width: 90px;
	  height: 90px;
	  margin: 5px ;
	}
	
	.media {
	  margin-top: 10px ;
	}
		
	#inli .media-body {
		position: relative ;
		max-width: 480px ;
		line-height: 20px ;
		padding-left: 5px ;
		padding-right: 5px ;
		height: 140px ;
	}

	#inli .media-heading  {
		padding-left: 5px ;
	}
	
	#inli .liname {
	  color : #777;
	  font-size: 10px ;
	  position : absolute;
	  bottom: 0px;  
	}

	#inli .lidate  {
		padding-right : 5px ;
		font-size:10px;
		color: #777;
	}


	#inli .lititle  {
		font-size: 12px ;
		line-height: 22px;
		color: blue;
	}

	#inli .limore {
	  float: left ;
	  margin-left: 40px ;
	}
	
	#inli .limore , #inli .limore>a {
		color: #006621 ;
		padding-top: 5px;
	}
		
	#inli .media-right  {
	  padding: 0 ;
	  min-width: 100px;
	}	
	
	#inli .media-right p {
	  padding: 5px ;
	  margin: 0;
	}	
	
	
	.listvij  {
	  background: url('../stars/sspad.gif') top 10px left 10px  ;
	  background-repeat: no-repeat; 
	}
	
	
	.hrdiv {
	  text-align: center ;
	  border: 1px solid #FFDDBB;
	  height: 1px ;
	  width: 80% ;
	  margin-right: 10%;
	  margin-top: 5px;
	  margin-bottom: 5px;
	}
			
		
			