/*                                                    */
/*  main 'top-level' form elements                    */
/*                                                    */
@import "calendar.css";

.cform {
    margin: 10px auto 0;
    width: 510px;
}

.cform fieldset	{ 
	margin-top:0; 
	padding:5px 0 15px 0; 
	border:0; 
}

.cform .cf_hidden {
	display:none; 
	border:none!important;
	background:none!important;
	padding:0!important;
	margin:0!important;
}

.cform legend { 
    background: none repeat scroll 0 0 #eaeaea;
    border-radius: 0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-khtml-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;	
    color: #777777;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 7px 3px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.cform fieldset:first-child legend { 
    border-radius: 0 0 3px 0;
	-moz-border-radius:0 0 3px 0;
	-khtml-border-radius:0 0 3px 0;
	-webkit-border-radius:0 0 3px 0;
}

ol.cf-ol { 
	margin:0!important; 
	padding:0!important;
}

ol.cf-ol li	{
	background:none!important; 
	margin:5px 0!important;
	padding:0; 
	list-style:none!important; 
	text-align:left;
	line-height:1.3em;
}


/*                                                    */
/* just for text-only fields (no input)               */
/*                                                    */

ol.cf-ol li.textonly {
	letter-spacing:1px;
	margin:10px 0pt !important;
	padding:5px 0pt;
	text-align:center;
	font-size:0.8em;
	text-shadow: 0 1px 0 #FFFFFF;
}


/*                                                    */
/* global definitions for field labels                */
/*                                                    */

.cform label {
    display: inline-block;
    line-height: 1.3em;
    margin: 0.6em 1% 0.5em 1%;
    text-align: right;
    vertical-align: top;
    width: 20%;
}

.cform label span {
}

label.cf-before {
	margin:0.4em 5px; 
}

label.cf-after 	{
	margin:0.4em 5px;
	text-align:left;
	width:115px;
}

label.cf-after span {
	width:115px;
	display:block;
}

label.cf-group-after {
	margin:0.4em 5px;
	width:72px;
	text-align:left;
}
label.cf-group-after span {
	width:72px;
	display:block;
}

/*                                                    */
/*   FORM FIELDS general formatting                   */
/*                                                    */

.cform input,
.cform textarea,
.cform select { 
	text-shadow: 0 1px 0 #FFFFFF;
	color: #111111;
    font-size: 0.9em;
    padding: 5px 10px;
	
	background: #f9f9f9; 
	border: 1px solid #e2e2e2; 
	vertical-align:top;

	box-shadow: none;	
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
/*
.cform input:hover,
.cform textarea:hover,
.cform select:hover	{
background: #ffffff; 
background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); 
background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); 
background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); 
background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%);
background: linear-gradient(top,  #ffffff 0%,#efefef 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); 
}
*/
.cform input:hover,
.cform textarea:hover,
.cform select:hover,
.cform input:focus,
.cform textarea:focus,
.cform select:focus	{ 
	text-shadow: none;
	border: 1px solid #999; 
	background: #fff;
	box-shadow: 0 1px 2px #ccc inset;
}

.cform textarea,
.cform input {
	width: 65%;
}
.cform select {
	padding: 2px 5px;
    width: 69%; /* attempt to have equal length */
}  

.cform select.cfselectmulti	{ 
	height:7.5em; 
}

.cform textarea {
	font-family: arial;
	font-size: 0.9em;
	overflow:auto;
	resize:none;
}

.ui-datepicker-trigger{
	cursor:pointer;
}
/*                                                    */
/*   radio button title                               */
/*                                                    */

ol.cf-ol li.cf-box-title {
    color: #999999;
    font-size: 0.8em;
    font-weight: bold;
	margin-left:1.5em;
    padding: 8px 0 0 22%; /* check with label 'width' incl. */
}

/*                                                    */
/*   check boxes                                      */
/*                                                    */

.cform input.cf-box-a,
.cform input.cf-box-b 	{ 
	margin:1px 0 0 0; 
	width:14px;
	height:22px;
	border:none!important;
	background:none!important; 
}

.cform input.cf-box-a 	{ 
	margin-left:22%; /* check with label 'width' incl. */
} 


/*                                                    */
/* check box groups                                   */
/*                                                    */

ol.cf-ol li.cf-box-group {
	margin:10px 0pt 0px !important;
	padding-left: 22%; 
} 

/*                                                    */
/* formatting for text:  "(required)"  & other        */
/*                                                    */

span.reqtxt,
span.emailreqtxt { 
    color: #9B4D4D;
    font-size: 0.7em;
    height: 14px;
    line-height: 1em;
    margin: 0;
	padding:5px 0 0 3px;
    text-align: right;
    vertical-align: top;
    width: 65%;
	position:relative;
	top:2px;
}

/*                                                    */
/*   FORM submit button                               */
/*                                                    */

p.cf-sb {
	text-align:right;
	margin: 0;
	padding: 0 10px 10px;
}
.cform input.backbutton,
.cform input.resetbutton,
.cform input.sendbutton	{  
	padding:5px 10px; 
	margin: 0 0 0 5px;
	font-size:0.8em;
	cursor:pointer;
	width:auto;

    border-radius: 3px 0 0 0;
	-moz-border-radius:3px 0 0 0;
	-khtml-border-radius:3px 0 0 0;
	-webkit-border-radius:3px 0 0 0;

	border:1px solid #ccc;
	
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 1%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 1%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 1%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 1%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top,  #f7f7f7 1%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.cform input.backbutton:hover,
.cform input.resetbutton:hover,
.cform input.sendbutton:hover {
	border:1px solid #aaa;
	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 1%, #c1c1c1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f7f7f7), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 1%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 1%,#c1c1c1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 1%,#c1c1c1 100%); /* IE10+ */
	background: linear-gradient(top,  #f7f7f7 1%,#c1c1c1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
}
.cform input.resetbutton {
	width: auto;
	padding:5px 1em;
}
.cform input.backbutton {
	width: auto;
	padding:5px 1em;
}

/*                                                    */
/*   FORM FIELDS enhanced error display               */
/*                                                    */
ol.cf-ol li.cf_li_err {
	background:#FFDFDF url(li-err-bg.png) repeat!important;
	border-color:#EDC4C4;
	border-style:solid;
	border-width:1px 0pt;
	padding:10px 0 1px!important;
	margin:5px 0!important;
}

ol.cf-ol li ul.cf_li_text_err {
	height:1%;
	min-height:1%;
	margin:0 0 0 100px;
	padding:0;
	color:#333;
}

ol.cf-ol ul.cf_li_text_err li {
	background:url(icon-alert.png) no-repeat left 1px!important;
	list-style:none!important;
	font-weight:bold;
	text-indent:0;
	margin:0 0 2px!important;
	padding-left:15px;
}
ol.cf-ol ul.cf_li_text_err li:before {
	content:'';
}

/*                                                    */
/* 'visitor verification' related styles              */
/*                                                    */

label.secq,
label.seccap {
	vertical-align:text-bottom;
	margin-bottom:4px;
}

input.secinput {
	vertical-align:text-bottom;
}

#cforms_captcha6,
#cforms_captcha5,
#cforms_captcha4,
#cforms_captcha3,
#cforms_captcha2,
#cforms_captcha {
	height:15px;
	width:50px;
	padding: 4px 4px;
	margin: 0;
}

img.captcha	{
	vertical-align:text-bottom;
	margin:0 0 0 10px!important;
	padding:0!important;
	border:none!important;
	float:none!important;
}

img.captcha-reset {
	vertical-align:text-bottom;
	background:	url(captcha_reset_grey.gif) no-repeat;
	margin:0 0 2px 3px;
	width:21px;
	height:21px;
	border:none;
}

img.imgcalendar {
	border:none;
}

/*                                                    */
/* change formatting of response msgs here            */
/*                                                    */

div.cf_info {
	font-size:0.9em;
	color:#333;
	display:none;
	padding:10px 15px!important;
	width:480px;
	line-height:1.3em;
	margin:10px auto;
	text-align:center;
}
div.cf_info > span{
	text-shadow: 0 1px 0 #FFFFFF;
	font-weight: bold;
}
div.cf_info ol {
	margin:0;
	padding:5px 15px 0 30px;
}
div.cf_info ol li {
	padding:1px 0;
	margin:2px 0;
}
div.cf_info a	{
	color:#ad2929!important;
	text-decoration:underline!important;
}
div.success {
	background:#F7F7F7 none repeat scroll 0% 50%;
	color:#444444;
	display:block;
}
div.failure {
	display:block;
    background: url("li-err-bg.png") repeat scroll 0 0 #FFDFDF !important;
    border: 1px solid #EDC4C4;
    border-radius: 3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
}
div.waiting {
	background:#F9F9F9;
	color:#AAAAAA;
	display:block;
}
/*                                                    */
/*   formatting for invalid user inputs               */
/*                                                    */
.cform .cf_error { 
	color:#ad2929; 
	border:1px solid #ad2929; 
}
div.mailerr {
	display:block;
}
.mailerr,
.cform .cf_errortxt {
	color:#ad2929; 
}

/*                                                    */
/* disabled fields [disabled] does not work on IE!    */
/*                                                    */

.disabled,
.disabled:hover,
[disabled]:hover,
[disabled] {
	color:#aaa!important;
	border-color:#dddddd!important;
	background:none!important;
	box-shadow: none!important;
}

/*                                                    */
/* upload box styling                                 */
/*                                                    */
.cform input.cf_upload  {
	width:220px;
	background: #f9f9f9;
	border:1px solid #888888;
}

/*                                                    */
/*  Other: link love                                  */
/*                                                    */
.linklove {
	width:510px;
	margin:0 auto 10px!important;
	padding:0!important;	
	text-align:center!important;
}
.linklove a,
.linklove a:visited {
    color: #888888 !important;
    font-family: Tahoma;
    font-size: 9px;
}

/*                                                    */
/*  Other: browser hacks                              */
/*                                                    */
/*
* html .cform fieldset {
	position: relative;
	margin-top:15px;
	padding-top:25px; 
}
* html .cform legend { 
	position:absolute; 
	top: -10px; 
	left: 10px; 
	margin-left:0;
}
*+html .cform fieldset {
	position: relative;
	margin-top:15px;
	padding-top:25px; 
}
*+html .cform legend { 
	position:absolute; 
	top: -10px; 
	left: 10px; 
	margin-left:0;
}
/*for ie6*/
/*
* html ol.cf-ol,
* html ol.cf-ol li,
* html span.reqtxt,
* html span.emailreqtxt { 
	display: inline-block;  
}
*/
/*for ie7*/
/*
*+html .cform label,
*+html ol.cf-ol,
*+html ol.cf-ol li,
*+html span.reqtxt,
*+html span.emailreqtxt {
	display: inline-block; 
}

* html img.captcha {
	margin-bottom:1px!important;
}
*+html img.captcha {
	margin-bottom:1px!important;
}
*/
.cform  img
{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}