html, body {
    margin: 0;
    padding: 0;
    height: 100%;
	font-family: Arial, Verdana;
	font-size:13px;
	color:#000;
	background:#fff;
	background: url("images/bg.jpg");
}
a
{
	text-decoration:underline;
	color:#0071bc;
}
a:hover
{
	text-decoration:none;
}
a img
{
	border:0;
}
ul
{
	padding:0 0 0 40px;
	margin:15px 0;
}
p
{
	margin:0;
	padding:0 0 10px;
}
#container {
    margin:0;
    padding:0;
    min-height:100%;
    height:auto !important;
    height:100%;
	min-width:1000px;
    _width: expression(((document.documentElement.clientWidth || document.body.clientWidth) < 1000)? "1000px" : "100%");
}
#contents     
{
   margin: 0;
   padding-bottom:70px;
}
#footer
{
	margin-top:-60px;
    min-width:1000px;
    _width: expression(((document.documentElement.clientWidth || document.body.clientWidth) < 1000)? "1000px" : "100%");
	height:60px;
}
.header
{
	width:960px;
	height:122px;
	padding:25px 0;
	background: url("images/header_border_bottom.jpg") bottom repeat-x;
}
.for_logo
{
	float:left;
}
.clear
{
	clear:both;
}
.top_menu
{
	padding-left: 83px;
	float:left;
}
.top_menu_ul
{
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:left;
}
.top_menu_ul li
{
	display:block;
	padding:0 20px 7px 0;
	position:relative;
	display:block;
}
.top_menu_ul a
{
	color:#cccccc;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
}
.top_menu_ul a.current
{
	color:#000;
	font-weight:600;
}
.top_menu_ul li.menu-item-53:hover, .top_menu_ul li.menu-item-477:hover, .top_menu_ul li.menu-item-51:hover, .top_menu_ul li.menu-item-492:hover
{
	background: url("images/menu_str.png") bottom right no-repeat;
}
.top_menu_ul li.current-menu-item a, .top_menu_ul li.current-menu-item li a:hover, .top_menu_ul li li a:hover
{
	color:#000;
}
.top_menu_ul a:hover
{
	color:#505051;
}
.top_menu_ul li.current-menu-item li a
{
	color:#595959;
}
.top_menu_ul ul
{
	margin:0;
	padding: 20px 0 20px 60px;
	list-style-type:none;
	display:none;
	position:absolute;
	left:125px;
/*	top:7px;*/
	top:-20px;
	width:220px;
}
.top_up
{
	top:-50px;
}
.top_up_10
{
	top:-10px;
}
.top_menu_ul ul ul
{
	top:-45px;
	left:175px;
}
.top_menu_ul li:hover ul
{
	display:block;
	z-index:1000;
}
.top_menu_ul ul li:hover
{
	background:none;
}
.sub_menu li
{
	display:block;
}
.top_menu_ul li ul a
{
	color:#595959;
	font-size:14px;
}
.header_right
{
	float:right;
}
#mail
{
	display:block;
	background: url("images/mail.png") left;
	_background: url("images/mail2.png") left;
	width:19px;
	height:14px;
	float:left;
	margin-top:7px;
}
#mail:hover
{
	background: url("images/mail.png") right;
	_background: url("images/mail2.png") left;
}
#twitter
{
	display:block;
	background: url("images/twitter.png") left;
	_background: url("images/twitter2.png") left;
	width:17px;
	height:17px;
	float:left;
	margin-top:5px;
}
#twitter:hover
{
	background: url("images/twitter.png") right;
	_background: url("images/twitter2.png") left;
}
#fb
{
	display:block;
	background: url("images/fb.png") left;
	_background: url("images/fb2.png") left;
	width:10px;
	height:21px;
	float:left;
}
#fb:hover
{
	background: url("images/fb.png") right;
	_background: url("images/fb2.png") left;
}
#gplus
{
	display:block;
	background: url("images/g+.png") left;
	/* _background: url("images/g+2.png") left; */
	width:14px;
	height:15px;
	float:left;
	margin-top:8px;
}
#gplus:hover
{
	background: url("images/g+.png") right;
	/* _background: url("images/g+2.png") left; */
}
#yuotoob
{
	display:block;
	background: url("images/yuotoob.png") left;
	_background: url("images/yuotoob2.png") left;
	width:17px;
	height:13px;
	float:left;
	margin-top:8px;
}
#yuotoob:hover
{
	background: url("images/yuotoob.png") right;
	_background: url("images/yuotoob2.png") left;
}
#rss
{
	display:block;
	background: url("images/rss.png") left;
	width:22px;
	height:20px;
	float:left;
}
#rss:hover
{
	background: url("images/rss_active.png") left;
}
.mmm
{
	overflow:hidden;
}
.mmm a
{
	margin-right:10px;
}
.search form
{
	padding:0;
	margin:0;
	background: url("images/search.png");
	width:146px;
	height:20px;
	text-align:left;
}
.search
{
	padding-top:12px;
}
input.txt
{
	border:0;
	background:none;
	color:#fff;
	width:110px;
	font-size:11px;
	margin-top:1px;
	float:left;
}
.s_padd
{
	padding:1px 5px 0;
	overflow:hidden;
}
.s_sub
{
	position:relative;
	top:3px;
	float:right;
}

.bug
{
	background: url("images/guk.png") left bottom no-repeat;
	min-width:165px;
	min-height:49px;
	display:block;
	color:#000;
	font-size:16px;
	text-transform:uppercase;
	text-align:left;
	padding: 0 0 5px 25px;
	font-weight:600;
	text-decoration:none;
}
.bug a
{
	color:#000;
}
.bug a:hover
{
	color:#0071bc;
}

.guk
{
	background: url("images/donate.png") left bottom no-repeat;
	min-width:165px;
	min-height:49px;
	display:block;
	color:#000;
	font-size:16px;
	text-transform:uppercase;
	text-align:left;
	padding: 0 0 38px 35px;
	font-weight:600;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
	border:0px;
}
.guk a
{
	color:#000;
}
.guk a:hover
{
	color:#0071bc;
}
.header_right_top
{
	text-align:left;
	padding:0 0 12px 40px;
}
.block1_bottom_1_big
{
	font-size:24px;
	text-transform:uppercase;
}
.block1_bottom_1_big a
{
	color:#000;
	text-decoration:none;
}
.gray a
{
	color: #666666 !important;
}
.block1_bottom_1_big_red
{
	color:#ff0000;
}
.block1_bottom_1_sm
{
	font-size:16px;
	text-transform:uppercase;
	padding-top:2px;
}
.block1
{
	text-align:left;
	width:960px;
	line-height:1.5em;
}
.block1_bottom_1
{
	float:left;
	width:150px;
	font-weight: 600;
}
.block1_bottom_2
{
	float:left;
	width:350px;
	margin-left:17px;
}
.sister
{
	font-size:16px;
	text-transform:uppercase;
	font-weight:600;
}
.block1_bottom_3
{
	margin-left:26px;
	float:left;
	width:140px;
	padding-top:50px;
}

.block1_bottom_banner
{
	margin-left:45px;
	float:left;
	width:200px;
	padding-top:15px;
}

.s_p, .s_p_menu
{
	padding:15px 0 0;
	margin:0;
	list-style-type:none;
}
.s_p a, .s_p_menu a
{
	color:#0071bc;
	font-size:14px;
	display:block;
}
.s_p li, .s_p_menu li
{
	padding-bottom:15px;
}
.block1_bottom_4
{
	float:right;
}
.latest
{
	font-size:16px;
	color:#666666;
	font-weight:600;
	text-transform:uppercase;
}
.downloads
{
	font-size:16px;
	color:#004dd4;
	font-weight:600;
	text-transform:uppercase;
}
.downloads a
{
	color:#004dd4;
	text-decoration:none;
}
.downloads a:hover
{
	color:#0071BC
}
.version_date
{
	color:#666666;
	font-size:12px;
	padding-bottom:3px;
}
.version_name
{
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
}
.version
{
	padding-top:20px;
}
.s_p li.vers_1
{
	background: url("images/vers_1.png") left 5px no-repeat;
	padding-left:25px;
	line-height:25px;
	padding-bottom:0;
}
.s_p li.vers_2
{
	background: url("images/vers_2.png") left 5px no-repeat;
	padding-left:25px;
	line-height:25px;
	padding-bottom:0;
}
.s_p li.vers_3
{
	background: url("images/vers_3.png") left 5px no-repeat;
	padding-left:25px;
	line-height:25px;
	padding-bottom:0;
}
.s_p li.vers_4
{
	background: url("images/vers_4.png") left 5px no-repeat;
	padding-left:25px;
	line-height:25px;
}
.m_b li
{
	margin-bottom:10px;
}
.block1_bottom_4_padd
{
	padding-left:20px;
}
.block2_top
{
	background: url("images/center_block_top.png");
	height:14px;
}
.block2_bottom
{
	background: url("images/center_block_bottom.png");
	height:14px;
}
.for_width
{
	text-align:left;
}
.block2_center
{
	background: url("images/center_block_center.jpg");
	padding:20px 0;
}
.block2
{
	width:960px;
}
.block2_center_padd
{
	padding:0 20px;
	text-align:left;
}
.block1
{
	padding:10px 0;
}
.block1_bottom
{
	padding-top:10px;
}
.green
{
	color:#6ccc30;
}
.block2_2
{
	float:left;
	width:665px;
	margin-left: 17px;
}
.block2_2_one
{
	float:left;
	width:25%;
}
.new_title
{
	font-size:14px;
}
.new_anonse
{
	padding-top:3px;
}
.block2_2_one_padd
{
	padding-right:10px;
}
.new_more
{
	float:right;
	padding-top:5px;
	text-align:center;
	padding-right:20px;
}
.block3
{
	width:960px;
	text-align:left;
	padding:10px 0;
}
.gray
{
	color:#666666;
}
.block3_one
{
	width:50%;
	float:left;
}
.block3_one_padd
{
	padding-right:10px;
}
.img_block
{
	float:left;
	padding-right:13px;
}
.img_block img
{
	padding:3px;
	/*background:#fff;*/
}
.d_title
{
	font-size:14px;
}
.d_an
{
	padding-top:15px;
}
.foot
{
	width:960px;
	background: url("images/header_border_bottom.jpg") repeat-x scroll center top;
	height:60px;
	line-height:60px;
	color:#666666;
	text-align:left;
}
.cont_versions_left
{
	float:left;
	width:50%;
}
.cont_versions_right
{
	float:right;
	width:50%;
	padding-top: 30px;
}
.cont_versions
{
	width:960px;
	text-align:left;
	padding-top:10px;
}
.cont_versions_left_padd
{
	padding-left:148px;
}
.head_r_b_ul
{
	padding:0;
	margin:0;
	list-style-type:none;
	text-transform:uppercase;
	font-size:16px;
}
.head_r_b_ul li
{
	padding-bottom:2px;
}
.h111
{
	text-transform:uppercase;
	font-size:16px;
}
.head_r_b_cont
{
	padding-top:30px;
}
.head_r_b_cont_dop_padd
{
	padding: 0 20px 0 162px;
}
.cont
{
	padding:10px 0;
}
.text_blocks
{
	width:960px;
	text-align:left;
	padding:20px 0;
}
.text_blocks_left
{
	width:50%;
	float:left;
}
.text_blocks_right
{
	width:50%;
	float:right;
}
.f_18
{
	font-size:18px;
}
.j111
{
	width:320px;
	float:left;
}
.s_p_no_padd
{
	padding-top:0;
}
.text_blocks_one
{
	padding-bottom:20px;
}
.no_padd
{
	padding:0;
}
.block3_padd
{
	padding-bottom:25px;
}
.fff
{
	padding-left:150px;
}
.ggg {font-family: Arial, sans-serif;}
/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
.banner_top p
{
	padding:0;
	margin:0;
}
h1
{
	padding:20px 0 10px;
	margin:0;
	font-size:22px;
	font-weight:600;
}
.nav a
{
	color:#000;
}
.block1 img
{
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border:1px solid #aeaeae;
}
.block2 img
{
	border:0px
}
.block2_2_one_cat
{
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px dashed #aeaeae;
}
.m_b_p
{
	padding-left:22px;
}
.nav-previous
{
	float:left;
}
.nav-next
{
	float:right;
}
.navigation
{
	overflow:hidden;
}
#nav-above
{
	border-bottom:1px dashed #aeaeae;
	padding-bottom:10px;
	margin-bottom:10px;
}
#nav-below
{
	border-top:1px dashed #aeaeae;
	padding-top:10px;
	margin-top:10px;
}
.nav2
{
	width:1000px;
	padding:0 0 15px;
	text-align:left;
}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;} 
.banner_top img
{
	border:0;
}