/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
/*************nas4cwoqjp*****************/
body {background: #165496; font-family: Helvetica,​Arial,​sans-serif;}
.v5dvk7idz8 {height: 30px; line-height: 30px; vertical-align: middle; position: relative;
        background: #008cc2;
        background: -moz-linear-gradient(top,  #008cc2 0%, #008cc2 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008cc2), color-stop(100%,#008cc2));
        background: -webkit-linear-gradient(top,  #008cc2 0%,#008cc2 100%);
        background: -o-linear-gradient(top,  #008cc2 0%,#008cc2 100%);
        background: -ms-linear-gradient(top,  #008cc2 0%,#008cc2 100%);
        background: linear-gradient(to bottom,  #008cc2 0%,#008cc2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cc2', endColorstr='#008cc2',GradientType=0 );
}
.v5dvk7idz8 span {font-size: 20px; font-weight: bold; margin-left: 30px; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);}
/**************s form******************/
#xyfmqpuhgb {width: 375px; height: 26px; position: absolute; right: 2px; top: 2px;}
#xywe17ehqz {float: left; height: 26px; line-height: 26px; vertical-align: middle; margin: 0; padding: 0; border: 0; width: 270px;}
#uqxfecg6qv {float: right; border: none; height: 26px; line-height: 30px; vertical-align: middle; border: 1px solid #fff;color: #fff;
                     background: #008cc2;
                     background: -moz-linear-gradient(top,  #008cc2 0%, #008cc2 100%);
                     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008cc2), color-stop(100%,#008cc2));
                     background: -webkit-linear-gradient(top,  #008cc2 0%,#008cc2 100%);
                     background: -o-linear-gradient(top,  #008cc2 0%,#008cc2 100%);
                     background: -ms-linear-gradient(top,  #008cc2 0%,#008cc2 100%);
                     background: linear-gradient(to bottom,  #008cc2 0%,#008cc2 100%);
                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cc2', endColorstr='#008cc2',GradientType=0 );
}
/*************cia9wrl5un*****************/
@media only screen and (max-width: 640px) {
    #mnheivm9fg {height: auto;}
    #bhscsri1zy {display: none;}
    #re8elrgv2n {float: none; margin: 0 auto; display: block;}
    #xdg6opxq9h {position: relative; width: 100%;}
    #shotn8zteu {height: 110px;}
    #e62lydhmte {display: none;}

    .v5dvk7idz8 {height: auto; padding-bottom: 5px;}
    #xyfmqpuhgb {position: relative; width: 100%;}
    #xywe17ehqz {max-width: 70%}
    #uqxfecg6qv {max-width: 29%}
    .v5dvk7idz8 span {margin-left: 20px;}
    .mwgz13ay6l.jcb545rvq2 li {overflow: auto; height: auto;}

}/*************subam33pg3*****************/
#dzfj1kg5fv {height: 60px; width: 305px; margin: 5px auto; background: url("../images/qbpqyg5yf1.png") 0 0;}/**************thumbs list******************/
.v5dvk7idz8 .hk7do3bffd {font-size: 14px;}
.v5dvk7idz8 .hk7do3bffd a {color: #fff;}
.v5dvk7idz8 .l325j97b1f {font-size: 16px;}
.v5dvk7idz8 .l325j97b1f a {color: #fff;}
/************** index ******************/
.dua8mqvmcm {list-style: none; text-align: center; padding: 7px 0;}
.dua8mqvmcm li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.dua8mqvmcm li a {position: relative; text-decoration: none; display: block;}
.dua8mqvmcm li a img {display: block;}
.dua8mqvmcm li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/vkujdgrf.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}

.dua8mqvmcm.q9wkb26s1y li {height: 257px; overflow: hidden;}
.dua8mqvmcm .avxu59xski {position: absolute; left: 0px; top: 214px; line-height: 20px; height: 20px; vertical-align: middle; background: url("../images/vkujdgrf.png") repeat; display: block;
                                 color: #fff; width: 311px; font-size: 12px;}
.dua8mqvmcm .avxu59xski a {float: left; color: #fff; margin-left: 5px; text-decoration: underline;}
.dua8mqvmcm .avxu59xski span {float: right; margin-right: 5px;}
.dua8mqvmcm .n2cpqq8khf {display: block; position: relative; padding-bottom: 3px; overflow: hidden;}
.dua8mqvmcm .n2cpqq8khf a {display: block; padding: 2px 4px; margin: 2px; color: #fff; float: left; font-size: 12px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); background: #165496; height: 13px; line-height: 13px; vertical-align: middle; text-decoration: underline;}/************** index ******************/
.sjrmergini {list-style: none; text-align: center; padding: 7px 0;}
.sjrmergini li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.sjrmergini li a {position: relative; text-decoration: none; display: block;}
.sjrmergini li a img {display: block;}
.sjrmergini li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/vkujdgrf.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}

.sjrmergini.jocmsx88bp li {height: 257px; overflow: hidden;}
.sjrmergini .eif9l1my53 {position: absolute; left: 0px; top: 214px; line-height: 20px; height: 20px; vertical-align: middle; background: url("../images/vkujdgrf.png") repeat; display: block;
                                 color: #fff; width: 311px; font-size: 12px;}
.sjrmergini .eif9l1my53 a {float: left; color: #fff; margin-left: 5px; text-decoration: underline;}
.sjrmergini .eif9l1my53 span {float: right; margin-right: 5px;}
.sjrmergini .xcsosi3h4o {display: block; position: relative; padding-bottom: 3px; overflow: hidden;}
.sjrmergini .xcsosi3h4o a {display: block; padding: 2px 4px; margin: 2px; color: #fff; float: left; font-size: 12px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); background: #165496; height: 13px; line-height: 13px; vertical-align: middle; text-decoration: underline;}
/*************mnqq485v5m*****************/
#wian2xegvv {text-indent: 30px; color: #fff; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);}
#wian2xegvv span {text-indent: 0; margin: 0;}
#wian2xegvv a {text-decoration: none;}
#iz74cau8zf {overflow: hidden; width: 100%; padding: 0 4px; height: 257px; margin: 5px 0;}
#iz74cau8zf li {float: left; margin-left: 5px; margin-bottom: 12px;}
#f8m5aenu15 {width: 588px; height: 497px; position: relative; float: left;}
.sjrmergini.cbe8uyk8xi {padding-top: 23px;}
#gt9i3i3re3 {width: 588px; height: 497px; background: none; position: absolute; top: 0px; left: 0px; z-index: 9000; display: block; overflow: hidden;}
#qa8rn51i8o {text-indent: 4px; color: #fff; font-weight: bold; background: #165496; line-height: 1.15;}/**************thumbs list******************/
.v5dvk7idz8 .hk7do3bffd {font-size: 14px;}
.v5dvk7idz8 .hk7do3bffd a {color: #fff;}
.v5dvk7idz8 .l325j97b1f {font-size: 16px;}
.v5dvk7idz8 .l325j97b1f a {color: #fff;}
/************** index ******************/
.b3h7zl5bsv {list-style: none; text-align: center; padding: 7px 0;}
.b3h7zl5bsv li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.b3h7zl5bsv li a {position: relative; text-decoration: none; display: block;}
.b3h7zl5bsv li a img {display: block;}
.b3h7zl5bsv li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/vkujdgrf.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}

.b3h7zl5bsv.v55mshnmic li {height: 257px; overflow: hidden;}
.b3h7zl5bsv .blr2xie3k5 {position: absolute; left: 0px; top: 214px; line-height: 20px; height: 20px; vertical-align: middle; background: url("../images/vkujdgrf.png") repeat; display: block;
                                 color: #fff; width: 311px; font-size: 12px;}
.b3h7zl5bsv .blr2xie3k5 a {float: left; color: #fff; margin-left: 5px; text-decoration: underline;}
.b3h7zl5bsv .blr2xie3k5 span {float: right; margin-right: 5px;}
.b3h7zl5bsv .bc54hpzpy3 {display: block; position: relative; padding-bottom: 3px; overflow: hidden;}
.b3h7zl5bsv .bc54hpzpy3 a {display: block; padding: 2px 4px; margin: 2px; color: #fff; float: left; font-size: 12px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); background: #165496;
                              height: 13px; line-height: 13px; vertical-align: middle; text-decoration: underline;}/*************hk5s2qdigw*****************/
#mnheivm9fg {position: relative; height: 120px;}

#bhscsri1zy {width: 150px; height: 120px; float: left;}
#bhscsri1zy a {display: block; width: 149px; height: 30px; line-height: 30px; vertical-align: middle; font-size: 14px; text-transform: uppercase; text-decoration: none; text-indent: 20px; color: #fff; font-weight: bold;  border-bottom: 1px solid #fff; border-right: 1px solid #fff;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); float: left; border-left: 1px solid #53cbf1;
              background: #008cc2;
              background: -moz-linear-gradient(top,  #008cc2 0%, #008cc2 40%, #05abe0 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008cc2), color-stop(40%,#008cc2), color-stop(100%,#05abe0));
              background: -webkit-linear-gradient(top,  #008cc2 0%,#008cc2 40%,#05abe0 100%);
              background: -o-linear-gradient(top,  #008cc2 0%,#008cc2 40%,#05abe0 100%);
              background: -ms-linear-gradient(top,  #008cc2 0%,#008cc2 40%,#05abe0 100%);
              background: linear-gradient(to bottom,  #008cc2 0%,#008cc2 40%,#05abe0 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cc2', endColorstr='#05abe0',GradientType=0 );
}
#bhscsri1zy a:hover {background: #165496;
                    background: -moz-linear-gradient(top,  #165496 0%, #165496 44%, #05abe0 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#165496), color-stop(44%,#1654962), color-stop(100%,#05abe0));
                    background: -webkit-linear-gradient(top,  #165496 0%,#165496 44%,#05abe0 100%);
                    background: -o-linear-gradient(top,  #165496 0%,#165496 44%,#05abe0 100%);
                    background: -ms-linear-gradient(top,  #165496 0%,#165496 44%,#05abe0 100%);
                    background: linear-gradient(to bottom, #165496 0%,#165496 44%,#05abe0 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#165496', endColorstr='#165496',GradientType=0 );
}

#xdg6opxq9h {width: 150px; position: absolute; right: 0px; top: 0px;}
#ujtvvzi8xx {display: block; height: 30px; line-height: 30px; vertical-align: middle; font-size: 14px; text-transform: uppercase; text-decoration: none; text-indent: 20px; color: #fff; font-weight: bold;
           cursor: pointer; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); position: relative;
           background: #008cc2;
           background: -moz-linear-gradient(top,  #008cc2 0%, #008cc2 47%, #008cc2 100%);
           background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008cc2), color-stop(47%,#008cc2), color-stop(100%,#008cc2));
           background: -webkit-linear-gradient(top,  #008cc2 0%,#008cc2 47%,#008cc2 100%);
           background: -o-linear-gradient(top,  #008cc2 0%,#008cc2 47%,#008cc2 100%);
           background: -ms-linear-gradient(top,  #008cc2 0%,#008cc2 47%,#008cc2 100%);
           background: linear-gradient(to bottom,  #008cc2 0%,#008cc2 47%,#008cc2 100%);
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cc2', endColorstr='#008cc2',GradientType=0 );
}
#ujtvvzi8xx.exuqcxbo57 {font-size: 11px;}
#tdrn4luqa5 {width: 0px; height: 0px; margin: 0 auto; border-left: 7px solid transparent; border-right: 7px solid transparent; position: absolute; right: 10px; top: 12px; display: block; overflow: hidden;}
#tdrn4luqa5.we7bd6vp2d {border-top: 7px solid #fff;}
#tdrn4luqa5.gg9lysvz1j {border-bottom: 7px solid #fff;}
#shotn8zteu {height: 260px; display: none; overflow-x: hidden; overflow-y: scroll; position: absolute; left: 0; top: 30px; z-index: 1000; width: 100%;}
#shotn8zteu a {display: block; height: 20px; line-height: 20px; vertical-align: middle; text-indent: 25px; text-decoration: none; font-size: 12px; color: #000; float: left; width: 100%;
                  background: #fefcea;
                  background: -moz-linear-gradient(top,  #fefcea 0%, #008cc2 100%);
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#008cc2));
                  background: -webkit-linear-gradient(top,  #fefcea 0%,#008cc2 100%);
                  background: -o-linear-gradient(top,  #fefcea 0%,#008cc2 100%);
                  background: -ms-linear-gradient(top,  #fefcea 0%,#008cc2 100%);
                  background: linear-gradient(to bottom,  #fefcea 0%,#008cc2 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#008cc2',GradientType=0 );
}

#re8elrgv2n {float: left; margin-left: 20px;}

#e62lydhmte {position: absolute; left: 370px; bottom: 43px;}/************** index ******************/
.mwgz13ay6l {list-style: none; text-align: center; padding: 7px 0;}
.mwgz13ay6l li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.mwgz13ay6l li a {position: relative; text-decoration: none; display: block;}
.mwgz13ay6l li a img {display: block;}
.mwgz13ay6l li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/vkujdgrf.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}
/**************cat list******************/
#gsq34mgd7k {position: relative; padding: 10px; overflow: hidden;}
#gsq34mgd7k a {display: block; float: left; margin: 2px 1px; width: 250px; max-width: 47%; color: #fff; text-decoration: none;}
#gsq34mgd7k a span {color: #61C419;}/**************thumbs list******************/
.v5dvk7idz8 .hk7do3bffd {font-size: 14px;}
.v5dvk7idz8 .hk7do3bffd a {color: #fff;}
.v5dvk7idz8 .l325j97b1f {font-size: 16px;}
.v5dvk7idz8 .l325j97b1f a {color: #fff;}
/************** index ******************/
.qd1sfs2mlj {list-style: none; text-align: center; padding: 7px 0;}
.qd1sfs2mlj li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.qd1sfs2mlj li a {position: relative; text-decoration: none; display: block;}
.qd1sfs2mlj li a img {display: block;}
.qd1sfs2mlj li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/vkujdgrf.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}

.qd1sfs2mlj.g66r5fnm6n li {height: 257px; overflow: hidden;}
.qd1sfs2mlj .ogs2lm7ul6 {position: absolute; left: 0px; top: 214px; line-height: 20px; height: 20px; vertical-align: middle; background: url("../images/vkujdgrf.png") repeat; display: block;
                                 color: #fff; width: 311px; font-size: 12px;}
.qd1sfs2mlj .ogs2lm7ul6 a {float: left; color: #fff; margin-left: 5px; text-decoration: underline;}
.qd1sfs2mlj .ogs2lm7ul6 span {float: right; margin-right: 5px;}
.qd1sfs2mlj .bm7clvbzff {display: block; position: relative; padding-bottom: 3px; overflow: hidden;}
.qd1sfs2mlj .bm7clvbzff a {display: block; padding: 2px 4px; margin: 2px; color: #fff; float: left; font-size: 12px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); background: #165496; height: 13px; line-height: 13px; vertical-align: middle; text-decoration: underline;}/************** index ******************/
.voqbbbtbuu {list-style: none; text-align: center; padding: 7px 0;}
.voqbbbtbuu li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.voqbbbtbuu li a {position: relative; text-decoration: none; display: block;}
.voqbbbtbuu li a img {display: block;}
.voqbbbtbuu li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/vkujdgrf.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}.eck1y9pbgz {list-style: none; text-align: center; padding: 7px 0;}
.eck1y9pbgz>span {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.eck1y9pbgz span a {position: relative; text-decoration: none; display: block;}
.eck1y9pbgz span a img {display: block;}
.eck1y9pbgz span a>span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/vkujdgrf.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}
.eck1y9pbgz.kup9noh26w {padding-top: 23px;}