@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local('Teko Regular'), local('Teko-Regular'), url(https://fonts.gstatic.com/s/teko/v5/ROKgN8nYdPV9gtIro5zTug.ttf) format('truetype');
}
