﻿/*General font and other styles*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/content/fonts/BebasNeue-webfont.eot');
    src: url('/content/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/content/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/content/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;}
/*@font-face {
    font-family: 'Lobster Two';
    src: url('/content/fonts/lobstertwo-bolditalic-webfont.eot');
    src: url('/content/fonts/lobstertwo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/fonts/lobstertwo-bolditalic-webfont.woff') format('woff'),
         url('/content/fonts/lobstertwo-bolditalic-webfont.ttf') format('truetype'),
         url('/content/fonts/lobstertwo-bolditalic-webfont.svg#Lobster Two') format('svg');
    font-weight: bold;
    font-style: italic;
}*/


@font-face {
    font-family: 'YWFT Ultramagnetic';
    src: url('/content/fonts/ywft-ultramagnetic-webfont.eot');
    src: url('/content/fonts/ywft-ultramagnetic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/fonts/ywft-ultramagnetic-webfont.woff') format('woff'),
         url('/content/fonts/ywft-ultramagnetic-webfont.ttf') format('truetype'),
         url('/content/fonts/ywft-ultramagnetic-webfont.svg#YWFT Ultramagnetic') format('svg');
    font-weight: normal;
    font-style: normal;
}
.playfair {font-family: 'Playfair Display', serif;}
.ultramagnetic {font-family: 'YWFT Ultramagnetic', Arial, Helvetica, sans-serif;}
.lobster {font-family: 'Lobster Two', cursive, Serif;}
.palatino {font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;   }
.best {font-family: 'Open Sans', arial, sans-serif;}
.bebas {font-family: BebasNeueRegular, Verdana, Sans-Serif;}
.impact {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', Futura-CondensedExtraBold, sans-serif ;}
.trebuchet {font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.tahoma {font-family: Tahoma, Geneva, sans-serif;}
.arial {font-family: Arial, Helvetica, sans-serif;}
.gothic {font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;}
.rounded {font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;}
.lucida {font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Geneva, sans-serif;}

.slideshow_desc {text-align:center; display:none;}
.slideshow_desc p{padding:0 0 1em 0;}
.slideshow_desc .ten{font-size:1em;}
.slideshow_desc .twelve{font-size:1.1em;}
.slideshow_desc .fourteen{font-size:1.3em;}
.slideshow_desc .sixteen{font-size:1.4em;}
.slideshow_desc .eighteen{font-size:1.6em;}
.slideshow_desc .twenty{font-size:2.0em;}
.slideshow_desc .twentytwo{font-size:2.3em;}
.slideshow_desc .twentyfive{font-size:2.4em;}
.slideshow_desc .thirty{font-size:2.9em;}
.slideshow_desc .thirtyfive{font-size:3.1em;}
.slideshow_desc .fourty{font-size:4em;}


.slideshow_desc .wide_spacing{letter-spacing:2.5px;}
.slideshow_desc .no_pad{padding:0;}

.slideshow_desc img{margin:5px 0;}
.slideshow_desc .body_copy{line-height:1.6em;}

/*.slideshow_desc .blue{color:#86adbc;}*/
 
.slideshow_desc .aqua{color:#b7e7d2;}
.slideshow_desc .black{color:#1f2429;}
.slideshow_desc .blue{color:#daf4ff;}
.slideshow_desc .paleyellow{color:#f8f58c;}
.slideshow_desc .periwinkle{color:#6daaeb;}
.slideshow_desc .brightblue{color:#08dcfe;}
.slideshow_desc .brandblue{color:#0fd6ff;}
.slideshow_desc .brandaqua{color:#77f7bf;}
.slideshow_desc .brightyellow{color:#f6e434;} 
.slideshow_desc .scienceyellow{color:#fac823;}
.slideshow_desc .red{color:#b6333c;}
.slideshow_desc .turquoise{color:#7dcfe1;}
.slideshow_desc .purple{color:#aea7eb;}
.slideshow_desc .white{color:#fff;}
.slideshow_desc .orange{color:#f3cb83;}
.slideshow_desc .redorange{color:#fc5c24;}
.slideshow_desc .brightorange{color:#ffcb00;}
.slideshow_desc .green{color:#afbd75;}
.slideshow_desc .brightgreen{color:#5ae632;}
.slideshow_desc .palegreen{color:#daefbb;}
.slideshow_desc .beige{color:#fcf9ce;}
.slideshow_desc .yellow{color:#f9fb6a;}
.slideshow_desc .lemonyellow{color:#eff634;}
.slideshow_desc .gold{color:#feb43b;}
.slideshow_desc .lavender{color:#fb5ef9;}
.slideshow_desc .pink{color:#fecde2;}
.slideshow_desc .medorange{color:#d97731;}
.slideshow_desc .gray{color:#333333;}
.slideshow_desc .teal{color:#006699;}


div.space{height:10px;}
div.space20{height:20px;}

.superscript {
    font-size: .5em;
    line-height: 1em;
    vertical-align: .5em;
    position: relative;
    top: -0.4em;
}

