/*
	Express News E-paper StyleSheet
	www.express.com.pk
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
div, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	overflow: hidden;
}
body {
	/*background: url('../Images/front-bg.jpg') no-repeat top center fixed;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/front-bg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/front-bg.jpg', sizingMethod='scale')";
*/
background-color:#e3e3e3;
}

#map
{
	background: url('../Images/front-bg.jpg') no-repeat top center fixed;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/front-bg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/front-bg.jpg', sizingMethod='scale')"; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main Style */
#main {
	
}

#sub-main {
	width: 100%;
	margin: 0 auto;
	background-size: 100% 100%;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#map {
	width: 100%;
	margin: 0 auto;
	min-height:100%;
}

#head-container, #container, #sub-footer {
	width: 980px;
	margin: 0 auto;
	display:block;
}

#container {
	/*padding-bottom: 10px;*/
}

#header {
	height: 38px;
	/* background: url('../Images/frontpage/hd-bg.png'); */
	background-size: 100% 32px;
	background-color: #373536;
	display: none;
}

#head-left {
	float: left;
	width: 800px;
	padding: 14px 0 8px 0px;
}

#head-right {
	float: left;
	width: 180px;
	padding-top: 4px;
}

#head-right li{
	display: inline !important;
	padding-right: 5px;
	
}

#head-left li {
	display: list-item;
	padding-right: 5px;
	float: left;
	height: 11px;
	padding-bottom: 0px;
	margin-right: 6px;
	border-right: 1px solid white;
}

#head-left li:last-child {
	border-right: 0px;
}


#head-left li a{
	font-size: 11px;
	font-family: Arial,Helvetica,'Lucida Grande','MS Sans Serif',sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	padding-top: 0px;
	float: left;
}

#head-left li a span {
	background-color: #8f0b28;
	color: white;
	padding: 1px 5px;
}

#head-right li {
	float: left;
}

#head-right li a img {
	opacity: 0.6;
	transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
}

#head-right li a img:hover {
	opacity: 1.0;
	transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
}

#logo {
	text-align: center;
	padding-top: 33px;
}

#logo img {
/*	margin-left: 57px;*/
}


/*Container*/
.row {
	float: left;
	width: 100%;
	padding-bottom: 160px;
	padding-top: 18px;
	text-align: center;
	display: block;
}

.row li {
	display: inline-block;
	text-align: center;
	width: 230px;
	margin-right: 25px;
	margin-bottom: 12px;
}



.imgFrame {
	float: left;
	width: 100%;
}

.eThumb img
{
 width: 100%;
 height: auto;	
}
/*.imgFrame img:last-child */
.eThumb{
	/*background-color: white;*/
	margin-top: 10px;
	border-radius: 2px;
	height: 143px;
	border: 8px solid white;
	transition: border 1s ease-in-out;
	-moz-transition: border 1s ease-in-out;
	-webkit-transition: border 1s ease-in-out;
	/*border-bottom: 15px solid white;*/
}

/*.imgFrame:hover img:last-child*/ 
.eThumb:hover{
	/*box-shadow: 0px 0px 20px #711d25;*/
	/*background-color: #b72b2e;*/
	opacity: 1.0;
	border: 8px solid #363636;
	transition: border .55s ease-in-out;
	-moz-transition: border .55s ease-in-out;
	-webkit-transition: border .55s ease-in-out;
	/*border-bottom: 15px solid #b72b2e;*/
}

/*Footer*/
#footer {
	/*height: 43px;*/
	border-top: 3px solid #373536;
	position: fixed;
background: white;
bottom: 0;
width: 100%;
}

#sub-footer p {
	color: #acacac;
	font-size: 13px;
	font-family: Arial,Helvetica,'Lucida Grande','MS Sans Serif',sans-serif;
	padding-top: 5px;
	text-align: center;
	padding-bottom: 5px;
}

#f-logo {
	text-align: center;
}

#f-logo img {
	text-align: center;
	margin-top: 5px;
}

.fBorder-left, .fBorder-right {
border-bottom: 1px solid #a3a3a3;
width: 47.3%;
}

div.fBorder-left {
margin-top: -20px;
}

div.fBorder-right {
float: right;
margin-top: -1px;

}

.ad728x90
{
	width: 720px;
	height: 90px;
	border:1px solid #acacac;
	margin: 12px auto;
}

/*--- Media Quries ----*/

@media only screen and (max-width: 1000px){ 

#main, #header {
	width: 100%;
	height: auto;
}

#head-container,  #sub-footer {
width: 100%!important;
margin: 0 auto;
padding-bottom: 10px;
}

#head-left {
width: auto;
padding: 14px 0 8px 10px;
margin: 0 auto;
overflow: hidden;
text-align: center;
float: none;

}

#head-left li {
	float: none;
	display: inline-block;
}

#head-right {
padding-top: 4px;
margin: 0 auto;
overflow: hidden;
text-align: center;
float: none;
}

#sub-footer p {
	padding-left: 5px;
	padding-right: 5px;
}

div.fBorder-left, div.fBorder-right {
	width: 45.3%;
}

div.fBorder-left{
	margin-top: -28px;
}

}


@media only screen and (max-width: 835px){ 

#container {width:100%}

.fBorder-left, .fBorder-right {
	width: 40.3%;
}

}
