/*Style Media Kueri*/
@media screen and (max-width:478px) {
    h1 {
    font-size: 40px;
    padding: 1px;
}
h2 {
    font-size: 12px;
    padding: 1px;
}
body {
    font-size: 10px;
}
}@media screen and (max-width:740px) {
    .left-col, .sidebar {
    width: 100%}
}img {
    max-width: 100%;
    height: auto;
}
