/*Style untuk reset*/
a ,
abbr ,
acronym ,
address ,
applet ,
article ,
aside ,
audio ,
b ,
big ,
blockquote ,
body ,
canvas ,
caption ,
center ,
cite ,
code ,
command ,
datalist ,
dd ,
del ,
details ,
dfn ,
div ,
dl ,
dt ,
em ,
embed ,
fieldset ,
figcaption ,
figure ,
font ,
footer ,
form ,
h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 ,
header ,
hgroup ,
html ,
i ,
iframe ,
img ,
ins ,
kbd ,
keygen ,
label ,
legend ,
li ,
meter ,
nav ,
object ,
ol ,
output ,
p ,
pre ,
progress ,
q ,
s ,
samp ,
section ,
small ,
source ,
span ,
strike ,
strong ,
sub ,
sup ,
table ,
tbody ,
tdvideo ,
tfoot ,
th ,
thead ,
tr ,
tt ,
u ,
ul ,
var {
    background: 0 0;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}