body,td,th {
	margin: 0px;
	padding: 0px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #000000;

}
.head_bar
{
	background: #1f1f1f; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f4f4f 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f4f4f 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */	
	padding: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	position: relative;

}
.head_bar .home
{
	display: inline-block;
	padding: 5px 10px;
	border: 3px solid #3E3E3E;
	position: absolute;
	top: 14px;
	right: 15px;
	color: #FFFFFF;
	border-radius: 12px; /* Old browsers */
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(255,25,196,1.00)),color-stop( 100% , rgba(150,0,121,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(255,25,196,1.00) 0%,rgba(150,0,121,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,25,196,1.00) 0%,rgba(150,0,121,1.00) 100%);
	background-position: bottom;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-color: #F501C4;
}


a
{
	color: #999999;
	text-decoration: none;
}
.catbox
{
	padding: 15px;
	margin: 0px;
}
.catbox a
{
	display: inline-block;
	padding: 5px 5px;
	margin: 4px;
	border: 1px solid #CCCCCC;
	background: #F1F1F1;
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	color: #666666;
	text-decoration: none;
	border-radius: 4px;
	font-size: 15px;
	font-weight: bold;
	width: 70px;
	text-align: center;
}
.search_bar
{
	padding: 15px;
}
.search_bar .search_box
{
	border: 1px solid #D6D6D6;
	width: 70%;
	padding: 5px;
	background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(231,231,231,1.00)),color-stop( 100% , rgba(255,255,255,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(231,231,231,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(231,231,231,1.00) 0%,rgba(255,255,255,1.00) 100%);
	border-radius: 6px;
}
.search_bar .search_button
{
	border: 1px solid #D6D6D6;
	padding: 5px;
	width: 15%;
	background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(231,231,231,1.00)),color-stop( 100% , rgba(255,255,255,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(231,231,231,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(231,231,231,1.00) 0%,rgba(255,255,255,1.00) 100%);
	border-radius: 6px;

}
.search_bar .container
{
	border: 1px solid #CCCCCC;	
}
.search_bar a
{
	display: inline-block;
	padding: 5px 5px;
	margin: 4px;
	border: 1px solid #CCCCCC;
	background: #F1F1F1;
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	color: #666666;
	text-decoration: none;
	border-radius: 4px;
	font-size: 15px;
	font-weight: bold;
	width: 70px;
	text-align: center;
}
.tab_bar
{
	padding: 10px;
	color: #FFFFFF;
	font-weight: bold;
background: #1f1f1f; /* Old browsers */
background: -moz-linear-gradient(top,  #4f4f4f 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4f4f4f 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	font-size: 15px;
	margin: 0px;
	#text-transform: uppercase;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;

}
.mainbox
{
	padding: 8px;
	font-size: 12px;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(255,255,255,1.00)),color-stop( 100% , rgba(217,217,217,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	background-image: linear-gradient(to bottom, rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	margin: auto;
	border-bottom: 1px solid #999999;
}
.mainbox .image img
{
	height: 100%;
	width: 100%;
}
.mainbox .image
{
	display: inline-block;
	border: 4px solid #ffffff;
	width: 120px;
	height: 90px;
	float: left;
	margin-right: 10px;
    box-shadow:0 0 6px #666;
	position: relative;
}

.mainbox .preview_image
{
	display: inline-block;
	border: 4px solid #ffffff;
	float: center;
	margin-right: 10px;
    box-shadow:0 0 6px #666;
	position: relative;
}
.mainbox .image .stamp
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 2px 5px 2px 10px;
	background: rgba(0,0,0,0.6);
	box-sizing: border-box;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.mainbox .btitle
{
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	color: #666666;
}
.mainbox .btitle a{
	color: #666666;
	text-decoration: none;
	display: block;
	padding:2px 5px;
	text-transform: capitalize;
}
.mainbox .sub-hl
{
	color: #999999;
	line-height: 18px;
}
.page
{
	font-size: 16px;
	font-weight: bold;
}
.page a
{
	display: inline-block;
	padding: 4px 10px;
	background: #F1F1F1;
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	color: #666666;
	text-decoration: none;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
.page .now
{
	display: inline-block;
	padding: 4px 10px;
	background: #F1F1F1;
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	color: #000;
	text-decoration: none;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
#kfbvsjvdcsdcs
{
}
.dlod_page_box
{
	/* [disabled]text-align: center; */
	padding: 10px;
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	width: 300px;
	max-width: 100%;
	margin: 20px auto;
	border: 1px solid #DADADA;
	border-radius: 10px;
	background-color: #E6E6E6;
	box-shadow: 0px 0px 10px #858585;
}
.dlod_page_box img
{
	width: 100%;
	border: 1px solid #999999;
}
.dlod_page_box .video_title
{
	padding: 8px;
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	color: #666666;
	border-bottom: 1px solid #CCCCCC;
	display: block;
}
.tail_bar
{
background: #1f1f1f; /* Old browsers */
background: -moz-linear-gradient(top,  #4f4f4f 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4f4f4f 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */	padding: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-top: 1px solid #CCCCCC;
}
.top
{
	padding: 10px;
	text-align: left;
}
.top a,.top .txt
{
	display: inline-block;
	padding: 5px 5px;
	margin: 4px;
	border: 1px solid #CCCCCC;
	background: #FF0000;
	#background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	color: #000000;
	text-decoration: none;
	border-radius: 4px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

@media screen and (min-width:500px) and (max-width:800px){
.mainbox
{
	padding: 8px;
	font-size: 12px;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(255,255,255,1.00)),color-stop( 100% , rgba(217,217,217,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	margin: 15px 10px;
	width: 95%;
	float: none;
	/*border: 1px solid #CCCCCC;*/
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 10px 0px #666666;
	box-shadow: 2px 2px 10px 0px #666666;
	box-sizing: border-box;
}
.ultrabox
{
	margin: auto;
	#max-width: 1050px;
	border: thin none #999999;
}
.catbox
{
	padding: 15px;
	margin: 0px;
	text-align: center;
}
.page
{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.page a
{
	display: inline-block;
	padding: 4px 10px;
	background: #F1F1F1;
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	color: #666666;
	text-decoration: none;
	/* [disabled]margin: 5px; */
	border: thin solid #CCCCCC;
	border-radius: 5px;
}
.tail_bar
{
background: #1f1f1f; /* Old browsers */
background: -moz-linear-gradient(top,  #4f4f4f 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4f4f4f 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */	padding: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-top: 1px solid #CCCCCC;
	margin-top: 10px;
}
.mainbox .image
{
	display: inline-block;
	border: 4px solid #ffffff;
	width: 160px;
	height: 120px;
	float: left;
	margin-right: 10px;
	box-shadow: 0 0 6px #666;
	position: relative;
	border-radius: 6px;
}
.mainbox .image img
{
	height: 100%;
	width: 100%;
	border-radius: 6px;
}
.mainbox .image .stamp
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 2px 5px 2px 10px;
	background: rgba(0,0,0,0.6);
	box-sizing: border-box;
	font-size: 12px;
	color: rgba(255,255,255,1);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
}



@media screen and (min-width:800px){
.mainbox
{
	padding: 8px;
	font-size: 12px;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(255,255,255,1.00)),color-stop( 100% , rgba(217,217,217,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	margin: 10px;
	width: 350px;
	float: left;
	display: inline-block;
	/*border: 1px solid #CCCCCC;*/
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 10px 0px #666666;
	box-shadow: 2px 2px 10px 0px #666666;
}
.ultrabox
{
	margin: auto;
	max-width: 1200px;
	border: thin none #999999;
}
.catbox
{
	padding: 15px;
	margin: 0px;
	text-align: center;
}
.page
{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.page a
{
	display: inline-block;
	padding: 4px 10px;
	background: #F1F1F1;
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(217,217,217,1.00) 100%);
	color: #666666;
	text-decoration: none;
	margin: 5px;
	border: thin solid #CCCCCC;
	border-radius: 5px;
}
.tail_bar
{
background: #1f1f1f; /* Old browsers */
background: -moz-linear-gradient(top,  #4f4f4f 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4f4f4f 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4f4f4f 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */	padding: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-top: 1px solid #CCCCCC;
	margin-top: 10px;
}
.mainbox .image
{
	display: inline-block;
	border: 4px solid #ffffff;
	width: 160px;
	height: 120px;
	float: left;
	margin-right: 10px;
	box-shadow: 0 0 6px #666;
	position: relative;
	border-radius: 6px;
}
.mainbox .image img
{
	height: 100%;
	width: 100%;
	border-radius: 6px;
}
.mainbox .image .stamp
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 2px 5px 2px 10px;
	background: rgba(0,0,0,0.6);
	box-sizing: border-box;
	font-size: 12px;
	color: rgba(255,255,255,1);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}


.video_desc
{
	padding: 8px;
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	color: #666666;
	border-bottom: 1px solid #CCCCCC;
	display: block;
}

.btn, .btnList a, .btnDark, .btnDarkList a , .btnColor, .btnColorList a, .btnBig, .btnBigList a{
    text-decoration: none;
    display: inline-block;
    padding: 4px;
    border: 1px solid #d8d8d8;
    border-radius:3px;
    box-shadow:0 1px rgba(255,255,255,0.5);
    background-color: #fbfbfb;
    background: -moz-linear-gradient(top,  #FBFBFB, #F2F2F2);
    background: -webkit-linear-gradient(top,  #FBFBFB,#F2F2F2);
    background: -o-linear-gradient(top,  #FBFBFB,#F2F2F2);
    background: -ms-linear-gradient(top,  #FBFBFB,#F2F2F2);
    background: linear-gradient(to bottom,  #FBFBFB,#F2F2F2);
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
    color: #666;
    font-family: Arial,sans-serif;
}
.box {
    margin: 10px;
    padding: 5px;
    min-width: 288px;
    border-radius:3px;
    background: #eaeaea;
    border: 1px solid #d8d8d8;
    color: #666;
    font-family: Arial,sans-serif;
}

.catList a {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    padding: 0 10px;
    margin: 5px 3px;
    width: auto;
    color: #666;
    font-family: Arial,sans-serif;
}

