﻿@charset "utf-8";
/* CSS Document */



/*--------------------------------------reset 此區塊請勿更動*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------------------------------------------------*/


body {
	font-family: Verdana, "新細明體";
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
hr {
	margin: 0;
	padding: 0;
	clear: both;
	visibility:hidden;
}
.hidden, h1, h2, h3 {
	display: none;
}
a {
	*cursor: pointer;
}


/*主結構*/
.colaweb-container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.leftcolumn, .maincolumn {margin: 0; padding: 0; float: left;}
.leftcolumn {width: 220px; margin-bottom: -10px;}
.maincolumn {width: 720px; margin-left: 20px; margin-bottom: -20px;}


/*左欄外-上&下banner*/
.leftcolumn-banner li {
	margin-bottom: 10px;
}

/*左欄外-左上特開banner*/
.left-specialbn li {
	width: 220px;
	height: 95px;
	position: relative;
	margin-bottom: 10px;
}
.left-specialbn li a {
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	color: #404040;
}
.left-specialbn li a:hover {color: #00a3e0;}
.left-specialbn li a img {
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;
}
.left-specialbn li a .left-specialbn-tag {
	background-position: 0 bottom;
	background-repeat: no-repeat;
	padding-bottom: 5px;
	/* 5766 2015/06/22 原為absolute 改為static. 因為共用會造成企劃部有問題. 所以先改回來. 到時再自己拉一份出去用*/
	position: absolute;
	z-index: 20;
	left: 0;
	top: 6px;
}
.left-specialbn li.left-specialbn-org a .left-specialbn-tag {background-image: url(/C000_Portal/Images/Portal/colaweb-specialbn-tag-org.png);}
.left-specialbn li.left-specialbn-blue a .left-specialbn-tag {background-image: url(/C000_Portal/Images/Portal/colaweb-specialbn-tag-blue.png);}
.left-specialbn li a .left-specialbn-tag p {
	font-size: 16px;
	font-size: 15px\9;
	line-height: 22px;
	font-family: Verdana, "微軟正黑體";
	color: white;
	display: inline-block;
	border-radius: 2px 2px 2px 0;
	margin: 0;
	padding: 1px 9px;
	padding: 2px 9px 0 9px\9;
}
.left-specialbn li.left-specialbn-org a .left-specialbn-tag p {
	background-color: #fc4c02;
}
.left-specialbn li.left-specialbn-blue a .left-specialbn-tag p {
	background-color: #005eb8;
}
.left-specialbn a .left-specialbn-content {
	/*position: absolute;
	z-index: 10;
	left: 5px;
	top: 0;*/
	margin-left:5px;
}
.left-specialbn a .left-specialbn-text {
	background-color: #d1eefa;
	height: 25px;
	*margin-top: -6px;
}
.left-specialbn a .left-specialbn-text p {
	margin: 2px 0 0 0;
	margin: 5px 0 0 0\9;
	padding: 0 8px;
	font-size: 13px;
	line-height: 18px;
	font-family: Verdana, "新細明體";
}
.left-specialbn a p.left-specialbn-title {
	float: left;
}
.left-specialbn a p.left-specialbn-price {
	float: right;
	color: #e00016;
	margin-top: 5px\0;
}




/*左欄*/
.leftcolumn-block {
	margin-bottom: 10px;
	border: 1px solid #d5d5d5;
	border-top: none;
	border-radius: 4px;
}
.left-area {margin-left: -1px;}
.left-title {
	width: 220px;
	height: 35px;
	background: url(/C000_Portal/Images/Portal/colaweb-left-titlebg.png) 0 0 no-repeat;
}
.left-title p {
	font-size: 16px;
	line-height: 22px;
	font-family: Verdana, "微軟正黑體";
	color: #84329b;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0 white;
	margin: 0;
	padding: 7px 0 0 0;
}
.left-content {
	padding: 15px 0;
	overflow: hidden;
}
.left-content li img {margin: 0 0 10px 15px;}
.leftcolumn a img {
	filter:alpha(opacity=90); /*IE,透明度50%*/
	-moz-opacity:0.9; /*Firefox,透明度50%*/
	opacity:0.9;/*其他瀏覽器,透明度50%*/
}
.leftcolumn a img:hover {
	filter:alpha(opacity=100); /*IE,透明度50%*/
	-moz-opacity:1.0;
	opacity:1.0;
}
.leftcolumn a:hover, .leftcolumn a span:hover {color: #00a3e0 !important;}


	/*左欄-E點通系列 left-hotcity-area*/
	.left-hotcity-area .left-content {
		padding: 9px 0 0 0;
		padding: 12px 0 0 0\9;
	}
	.left-content-title {
		font-size: 13px;
		line-height: 18px;
		font-family: Verdana, "新細明體";
		margin: 2px 0 2px 12px;
	}
	.colaweb-tour .left-content-title,
	.colaweb-pkg .left-content-title,
	.colaweb-tkt .left-content-title,
	.colaweb-htl .left-content-title {color: #d40f7d;}
	.colaweb-dom .left-content-title,
	.colaweb-domhtl .left-content-title {color: #00a3e0;}
	.hotcity-col-2, .hotcity-col-3 {
		overflow: hidden;
		margin-bottom: 7px;
	}
	.hotcity-col-2 {padding-left: 29px;}
	.hotcity-col-3 {padding-left: 12px;}
	.left-hotcity-area li {
		margin: 0 0 5px 0;
		float: left;
	}
	.left-hotcity-area li a {
		font-size: 13px;
		line-height: 18px;
		font-family: Verdana, "新細明體";
		color: #404040;
		background: url(/C000_Portal/Images/Portal/colaweb-icon-list.png) 3px 8px no-repeat;
		background: url(/C000_Portal/Images/Portal/colaweb-icon-list.png) 3px 4px no-repeat\9;
		text-decoration: none;
		padding: 2px 0 2px 12px;
		float: left;
	}
	.left-hotcity-area .hotcity-col-2 li a {width: 82px;}
	.left-hotcity-area .hotcity-col-3 li a {width: 54px;}


	/*左欄-純圖片banner left-imgbanner-area*/
	.left-imgbanner-area .left-content {padding: 15px 0 5px 0;}
	.left-imgbanner-area .left-content li img {*margin-bottom: 6px;}


	/*左欄-小圖+文上下系列*/
	.left-help-area .left-content,
	.left-theme-area .left-content{padding-bottom: 1px; *margin-bottom: 15px;}
	.left-help-area .left-content .help-col-2 li,
	.left-help-area .left-content .help-col-3 li,
	.left-theme-area .left-content .theme-col-3 li {
		width: 60px;
		float: left;
		text-align: center;
		margin-bottom: 15px;
	}
	.left-help-area .left-content .help-col-2 li a,
	.left-help-area .left-content .help-col-3 li a,
	.left-theme-area .left-content .theme-col-3 li a {
		font-size: 12px;
		font-family: Verdana, "新細明體";
		color: #404040;
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: block;
	}
	.left-help-area .left-content .help-col-2 li a img,
	.left-help-area .left-content .help-col-3 li a img,
	.left-theme-area .left-content .theme-col-3 li a img {
		margin: 0;
		padding: 0;
		filter:alpha(opacity=100); /*IE,透明度50%*/
		-moz-opacity:1.0; /*Firefox,透明度50%*/
		opacity:1.0;/*其他瀏覽器,透明度50%*/
	}
	.left-help-area .left-content li a p,
	.left-theme-area .left-content li a p{
		margin: 0;
		*margin-top: -4px;
		padding: 0;
	}
	.left-help-area .left-content .help-col-2 li a:hover,
	.left-help-area .left-content .help-col-3 li a:hover,
	.left-theme-area .left-content .theme-col-3 li a:hover {padding-top: 1px;}

		/*左欄-小幫手系列 left-help-area*/
		.left-help-area .help-col-2 {padding-left: 35px;}
		.left-help-area .help-col-3 {padding-left: 10px;}
		.left-help-area .left-content .help-col-2 li,
		.left-help-area .left-content .help-col-3 li {height: 69px;}
		.left-help-area .help-col-2 li {margin-right: 28px;}
		.left-help-area .help-col-3 li {margin-right: 9px;}
		.left-help-area .left-content .help-col-2 li a,
		.left-help-area .left-content .help-col-3 li a {
			line-height: 2.4em;
			line-height: 2.5em\9;
			*line-height: 2.5em;
		}
		.left-help-area .left-content .help-col-2 li a:hover,
		.left-help-area .left-content .help-col-3 li a:hover {
			line-height: 2.2em;
			line-height: 2.4em\9;
			*line-height: 2.3em;
		}

		/*左欄-主題系列 left-theme-area*/
		.left-theme-area .theme-col-3{
			padding-left: 12px;
			margin-top: -8px;
		}
		.left-theme-area .left-content .theme-col-3 ul{margin-top: -5px;}
		.left-theme-area .left-content .theme-col-3 li{height: 60px;}
		.left-theme-area .theme-col-3 li {margin-right: 9px;}
		.left-theme-area .left-content .theme-col-3 li a {
			line-height: 1em;
			line-height: 1.1em\9;
			*line-height: 1.1em;
		}
		.left-theme-area .left-content .theme-col-3 li a:hover {
			line-height: 0.9em;
			line-height: 1em\9;
			*line-height: 0.9em;
		}

	/*左欄-小圖+文左右條列系列 left-themelist-area*/
	.left-themelist-area .left-content{padding-bottom: 1px;}
	.left-themelist-area .left-content ul {margin-bottom: 9px;}
	.left-themelist-area .left-content li {
		margin-bottom: -5px;
		*margin-bottom: 0;
		margin-left: 15px;
		margin-right: 10px;
	}
	.left-themelist-area .left-content li a {
		font-size: 12px;
		line-height: 1em;
		*line-height: 1.2em;
		font-family: Verdana, "新細明體";
		color: #404040;
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
	}
	.left-themelist-area .left-content li a img {
		float:left;
		filter:alpha(opacity=100);
		-moz-opacity:1.0;
		opacity:1.0;
		margin-right: 6px;
		margin-left: 0;
	}
	.left-themelist-area .left-content li a .themelist-text {
		float:left;
		margin-top: 10px;
	}
	.left-themelist-area .left-content li a .themelist-title {color: #00a3e0;}

	/*左欄-卡友優惠系列 left-cardoffer-area*/
	.left-cardoffer-area .left-content{padding-bottom: 1px;}
	.left-cardoffer-area .left-content ul {margin-bottom: 9px;}
	.left-cardoffer-area .left-content li {
		margin-left: 12px;
		margin-right: 10px;
		*margin-bottom: -4px;
	}
	.left-cardoffer-area .left-content li a {
		font-size: 12px;
		line-height: 1em;
		*line-height: 1.2em;
		font-family: Verdana, "新細明體";
		color: #404040;
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
	}
	.left-cardoffer-area .left-content li a img {
		float:left;
		filter:alpha(opacity=100);
		-moz-opacity:1.0;
		opacity:1.0;
		margin-right: 4px;
		margin-left: 0;
	}
	.left-cardoffer-area .left-content li a p {
		margin: 0;
		padding: 0;
	}
	.left-cardoffer-area .left-content li a .cardoffer-text {
		float:left;
		width: 174px;
		margin-top: 4px;
		padding-bottom: 5px;
		*padding-bottom: 12px;
		background: url(/C000_Portal/Images/Portal/colaweb-underline.png) 0 16px repeat-x;
	}
	.left-cardoffer-area .left-content li:last-child a .cardoffer-text {background: none;}

/*主欄*/
.maincolumn-block {
    /*margin-bottom: 10px;*/
    /*overflow:hidden;*/
    clear: both;
    *zoom: 1;
    /*display: table;*/
}
.main-title {
	width: 714px;
	height: 35px;
	margin-bottom: 10px;
	background-color: #f2f2f2;
	border-radius: 2px;
	border-left: 6px solid #84329b;
}
.main-title p {
	font-size: 16px;
	line-height: 22px;
	font-family: Verdana, "微軟正黑體";
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 0 0 12px;
	padding: 6px 0 0 0;
}
.main-content {
	overflow: hidden;
	margin-bottom: 20px;
	*margin-bottom: 30px;
}


	/*主欄-大banner main-bigban-five　main-bigban-three*/
	#adblock {
		overflow: hidden;
		width: 720px;
		height: 285px;
		position:absolute;
		background-color:#737373;
	}
	#adblock img{
		display:block;
		width:720px;
		height:250px;
	}
	#adblock ul, #adblock li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#adblock ul.showbox {
		position:absolute;
		width:720px;
		height:285px;
	}
	#adblock ul.link {
		position:absolute;
		width:720px;
		height:35px;
		/*top:250px;*/
		bottom: 0;
		background:#fff;
	}
	#adblock ul.showbox li a {
		display: block;
		width:720px;
		height:250px;
		*margin-bottom: -3px;
	}
	#adblock ul.link li {
		float:left;
	}
	#adblock ul.link li a {
		display: block;
		border-bottom:5px solid #eed3f5 ;
		font-size:13px;
		color:#434343;
		font-family: Verdana, "新細明體";
		text-decoration:none;
		float:left;
		line-height:34px;
		background-color:#eed3f5;
		text-align:center;
		margin-right:2px;
	}
	#adblock ul.link li a.selected {
		background-color:#9d5baf;
		border-bottom:5px solid #883e9d ;
		color:#fff;
	}

		/*主欄-大banner-五則和三則連結 寬度設定*/
		.main-bigban-five, .main-bigban-three {
			clear:both;
			overflow:hidden;
			height:285px;
			margin:0 0 20px 0;
			padding:0;
		}
		.main-bigban-five #adblock ul.link li a{
			width:142px;
			height:30px;
		}
		.main-bigban-three #adblock ul.link li a{
			width:238px;
			height:30px;
		}



	/*主欄-搜尋 colaweb-search*/
	.colaweb-search {
		border: 1px solid #d5d5d5;
		float: left;
		margin-bottom: 20px;
	}
	.colaweb-search-block {padding-left: 10px; padding-right: 10px;}
		/*主欄-各網站搜尋上方空間*/
		.colaweb-index #search-a .colaweb-search-block,
		.colaweb-index #search-b .colaweb-search-block,
		.colaweb-index #search-c .colaweb-search-block,
		.colaweb-index #search-d .colaweb-search-block,
		.colaweb-index #search-e .colaweb-search-block,
		.colaweb-index #search-f .colaweb-search-block {
			padding-top: 12px;
			padding-left: 10px\9;
		}
		.colaweb-tour .colaweb-search-block {padding-top: 12px;}
		.colaweb-pkg .colaweb-search-block {padding-top: 20px;}
		.colaweb-tkt .colaweb-search-block {padding-top: 12px;}
		.colaweb-htl .colaweb-search-block {padding-top: 10px; padding-top: 5px\9;}
		.colaweb-dom .colaweb-search-block {padding-top: 12px;}
		.colaweb-domhtl .colaweb-search-block {padding-top: 8px;}
		.colaweb-txg #tour-search .colaweb-search-block,
		.colaweb-txg #tkt-search .colaweb-search-block,
		.colaweb-txg #pkg-search .colaweb-search-block {
			padding-top: 12px;
			padding-left: 10px\9;
		}
		.colaweb-khh #tour-search .colaweb-search-block,
		.colaweb-khh #tkt-search .colaweb-search-block,
		.colaweb-khh #pkg-search .colaweb-search-block {
			padding-top: 12px;
		}


		/*主欄-各網站搜尋尺寸*/
		.colaweb-index .colaweb-search {width: 438px; height: 250px;}
		.colaweb-pkg .colaweb-search,
		.colaweb-tkt .colaweb-search,
		.colaweb-htl .colaweb-search {width: 438px; height: 270px;}
		.colaweb-tour .colaweb-search,
		.colaweb-dom .colaweb-search,
		.colaweb-domhtl .colaweb-search {width: 438px; height: 235px;}
		.colaweb-txg .colaweb-search,
		.colaweb-khh .colaweb-search {width: 418px; height: 278px;}

	/*主欄-搜尋：關鍵字*/
		.colaweb-search-keyblock {
			background-color: #f2f2f2;
			height: 30px;
		}
		.colaweb-search-keyblock p {
			font-size: 13px;
			line-height: 20px;
			color: #6d6d6d;
			font-family: Verdana, "新細明體";
			padding: 4px 0 0 25px;
			padding: 6px 0 0 25px\9;
			*padding: 8px 0 0 25px\9;
		}
		.colaweb-search-keyblock p a {
			color: #404040;
			text-decoration: none;
		}
		.colaweb-search-keyblock p a:hover {
			color: #00a3e0;
		}

	/*主欄-便宜專區 main-cheap*/
	.main-cheap {
		width: 260px;
		float: left;
		margin: 0 0 20px 20px;
		padding: 0;
		*padding-bottom: 20px;
	}
	.main-cheap-title {
		width: 260px;
		height: 45px;
		background: url(/C000_Portal/Images/Portal/colaweb-cheap-titlebg.png) 0 0 no-repeat;
		margin: 0;
		padding: 0;
	}
	.main-cheap-title p {
		font-size: 18px;
		line-height: 22px;
		color: #84329b;
		font-weight: bold;
		font-family: Verdana, "微軟正黑體";
		margin: 0 0 0 113px;
		padding: 11px 0 0 0;
	}
	.main-cheap-content {
		width: 258px;
		border: 1px solid #d5d5d5;
		border-top: none;
		margin-top: -8px;
		padding: 0;
	}
		/*主欄-便宜專區灰框高度*/
		.colaweb-pkg .main-cheap-content,
		.colaweb-tkt .main-cheap-content,
		.colaweb-htl .main-cheap-content {height: 233px;}
		.colaweb-tour .main-cheap-content {height: 199px;}
		.colaweb-dom .main-cheap-content,
		.colaweb-domhtl .main-cheap-content {height: 198px;}

	.main-cheap-content ul {
		padding: 0 10px;
		overflow: hidden;
	}
		/*主欄-便宜專區內容和標題距離*/
		.colaweb-pkg .main-cheap-content ul,
		.colaweb-tkt .main-cheap-content ul,
		.colaweb-htl .main-cheap-content ul {padding-top: 10px;}
		.colaweb-tour .main-cheap-content ul,
		.colaweb-dom .main-cheap-content ul,
		.colaweb-domhtl .main-cheap-content ul {padding-top: 8px;}

	.main-cheap-content li {
		font-size: 12px;
		line-height: 18px;
		font-family: Verdana, "新細明體";
		margin: 0;
		padding: 0;
		clear: both;
		overflow: hidden;
	}
	.main-cheap-content li p {
		margin: 0;
		padding: 0;
		float: left;
	}
	.main-cheap-content li a {
		color: #404040;
		text-decoration: none;
		margin: 0 0 3px 0;
		*margin: 0 0 1px 0;
		padding: 5px 0 3px 0;
		width: 100%;
		height: 20px;
		display: block;
	}
	.main-cheap-content li a:hover {
		color: #00a3e0;
	}
	.main-cheap-content li .main-cheap-number {
		font-size: 11px;
		font-family: Verdana;
		color: white;
		border-radius: 2px;
		float: left;
		width: 17px;
		height: 18px;
		margin-right: 5px;
		margin-top: 0px;
		padding-left: 1px;
		padding-left: 0px\9;
		text-align: center;
	}
	.colaweb-tour .main-cheap-content li .main-cheap-number,
	.colaweb-pkg .main-cheap-content li .main-cheap-number,
	.colaweb-tkt .main-cheap-content li .main-cheap-number,
	.colaweb-htl .main-cheap-content li .main-cheap-number	{
		background-color: #d40f7d;
	}
	.colaweb-dom .main-cheap-content li .main-cheap-number,
	.colaweb-domhtl .main-cheap-content li .main-cheap-number {
		background-color: #00a3e0;
	}
	.main-cheap-content li .main-cheap-product {
		background: url(/C000_Portal/Images/Portal/colaweb-underline.png) 0 bottom repeat-x;
		padding-bottom: 6px;
		padding-bottom: 5px\0;
		*padding-bottom: 5px;
		overflow: hidden;
	}
	.main-cheap-content li .main-cheap-text {
		margin-top: 1px\0;
		*margin-top: 1px;
	}
	.main-cheap-content li .main-cheap-price {
		float: right;
		color: #e00016;
	}
	.main-cheap-content li:last-child .main-cheap-product {
		background: none;
	}



		/*主欄-便宜專區：台中高雄 main-cheap*/
		.colaweb-txg .main-cheap,
		.colaweb-khh .main-cheap {
			width: 280px;
		}
		.colaweb-txg .main-cheap-title,
		.colaweb-khh .main-cheap-title {
			width: 280px;
		}
		.colaweb-txg .main-cheap-content, .colaweb-khh .main-cheap-content {
			width: 280px;
			border: none;
			margin-top: 2px;
		}
		.colaweb-txg .main-cheap-content ul,
		.colaweb-khh .main-cheap-content ul {
			padding: 0;
		}
		.colaweb-txg .main-cheap-content li .main-cheap-product,
		.colaweb-khh .main-cheap-content li .main-cheap-product{
			background: none;
		}

		.colaweb-txg .main-cheap-content li .main-cheap-number,
		.colaweb-khh .main-cheap-content li .main-cheap-number {
			color: #646464;
			border: 1px solid #66c681;
			border-right: none;
			border-radius: 2px 0 0 2px;
			width: 15px;
			height: 17px;
			margin: 0;
			margin-top: 0;
			padding: 0;
			*line-height: 15px;
		}
		.colaweb-txg .main-cheap-content li .main-cheap-style,
		.colaweb-khh .main-cheap-content li .main-cheap-style {
			color: white;
			background-color: #009a44;
			width: 44px;
			height: 18px;
			height: 17px\9;
			border-radius: 0 2px 2px 0;
			float: left;
			text-align: center;
			padding-top: 1px;
			padding-top: 2px\9;
			margin-right: 5px;
			}
		.colaweb-txg .main-cheap-content li a,
		.colaweb-khh .main-cheap-content li a {
			padding-bottom: 1px;
		}


















	/*主欄-左上小標籤廣告 main-tagad*/
	.main-tagad li {
		width: 167px;
		height: 130px;
		position: relative;
		margin-bottom: 16px;
		margin-left: 17px;
		float: left;
	}
	.main-tagad li:first-child {
		margin-left: 0;
	}
	.main-tagad li a {
		width: 100%;
		height: 100%;
		display: block;
		text-decoration: none;
		color: #404040;
	}
	.main-tagad li a:hover {
		color: #00a3e0;
	}
	.main-tagad li a img {}
	.main-tagad li a .main-tagad-tag {
		background-position: 0 bottom;
		background-repeat: no-repeat;
		padding-bottom: 7px;
	    /* 5766 2015/06/22 原為absolute 改為static*/
	    position: absolute;
    	z-index: 20;
		left: 0;
		top: 0;
	}
	.main-tagad-blue li a .main-tagad-tag {	background-image: url(/C000_Portal/Images/Portal/colaweb-main-tag-blue.png);}
	.main-tagad-pink li a .main-tagad-tag {	background-image: url(/C000_Portal/Images/Portal/colaweb-main-tag-pink.png);}
	.main-tagad-green li a .main-tagad-tag {background-image: url(/C000_Portal/Images/Portal/colaweb-main-tag-green.png);}
	.main-tagad li a .main-tagad-tag p {
		font-size: 12px;
		line-height: 18px;
		color: white;
		display: inline-block;
		border-radius: 2px 2px 2px 0;
		margin: 0;
		padding: 1px 7px;
	}
	.main-tagad-blue li a .main-tagad-tag p {background-color: #00a3e0;}
	.main-tagad-pink li a .main-tagad-tag p {background-color: #d40f7d;}
	.main-tagad-green li a .main-tagad-tag p {background-color: #009a44;}
	.main-tagad a .main-tagad-content {
		/*position: absolute;
		z-index: 10;
		left: 7px;
		top: 14px;*/
		margin-left: 7px;
		margin-top: 14px;
	}
	.main-tagad a .main-tagad-text {
		border: 1px solid #d5d5d5;
		border-top: none;
		padding: 5px 0 6px 0;
		padding: 3px 0 5px 0\9;
		*margin-top: -3px;
	}
	.main-tagad a .main-tagad-text p {
		margin: 2px 0 0 0;
		margin: 5px 0 0 0\9;
		padding: 0 6px;
		font-size: 12px;
		line-height: 18px;
		font-family: Verdana, "新細明體";
	}
	.main-tagad a p.main-tagad-title {}
	.main-tagad a p.main-tagad-price {
		float: right;
		color: #e00016;
		margin-top: 4px\9;
	}


	/*主欄-最新促銷廣告 main-promote*/
	.main-promote li {
		width: 168px;
		margin-bottom: 10px;
		margin-left: 16px;
		float: left;
	}
	.main-promote li:first-child {
		margin-left: 0;
	}
	.main-promote li a {
		width: 100%;
		height: 100%;
		display: block;
		text-decoration: none;
		color: #6d6d6d;
	}
	.main-promote li a:hover {color: #00a3e0;}
	.main-promote li a img {}
	.main-promote a .main-promote-text {
		border: 1px solid #d5d5d5;
		border-top: none;
		padding: 5px 10px;
		padding: 8px 10px 5px 10px\9;
		*margin-top: -6px;
	}
	.main-promote a .main-promote-text p {
		font-size: 12px;
		line-height: 20px;
		font-family: Verdana, "新細明體";
		margin: 0;
		padding: 0;
	}
	.main-promote a p.main-promote-title {
		font-size: 13px;
		margin-bottom: 1px;
	}
	.colaweb-tour .main-promote a p.main-promote-title,
	.colaweb-pkg .main-promote a p.main-promote-title,
	.colaweb-tkt .main-promote a p.main-promote-title,
	.colaweb-htl .main-promote a p.main-promote-title {color: #d40f7d;}
	.colaweb-dom .main-promote a p.main-promote-title,
	.colaweb-domhtl .main-promote a p.main-promote-title {color: #00a3e0;}
	.main-promote .main-promote a p.main-promote-content {
		margin-top: -3px\9;
	}


	/*主欄-熱門城市 main-hotcity*/
	.main-hotcity {
		width: 230px;
		margin-bottom: 10px;
		margin-left: 15px;
		float: left;
	}
	.main-hotcity-first  {
		margin-left: 0;
	}
	.main-hotcity-title {
		width: 230px;
		height: 40px;
		margin: 0;
		padding: 0;
	}
	.main-hotcity-focus {
		width: 230px;
		border-top-width: 2px;
		border-top-style: solid;
		padding-top: 3px\0;
	}
	.main-hotcity-focus-blue {
		background-color: #e4f7ff;
		border-top-color: #5dc2e8;
	}
	.main-hotcity-focus-pink {
		background-color: #ffe1f1;
		border-top-color: #d80d82;
	}
	.main-hotcity-focus-purple {
		background-color: #f8e6fc;
		border-top-color: #9e52b6;
	}
	.main-hotcity-focus-orange {
		background-color: #ffe4d1;
		border-top-color: #f58354;
	}
	.main-hotcity-focus-yellow {
		background-color: #fff2b4;
		border-top-color: #ff9e1b;
	}
	.main-hotcity-focus-green {
		background-color: #dbfdd4;
		border-top-color: #76cd54;
	}
	.main-hotcity ul {
		margin: 0 10px;
	}
	.main-hotcity li {
		font-size: 12px;
		line-height: 18px;
		font-family: Verdana, "新細明體";
		margin: 0;
		padding: 0 2px;
	}
	.main-hotcity li a {
		color: #404040;
		text-decoration: none;
		padding: 5px 0;
		width: 100%;
		height: 100%;
		display: block;
	}
	.main-hotcity-listtour {
		border: 1px solid #d5d5d5;
		border-top: none;
	}
	.main-hotcity .main-hotcity-listtour li {
		background: url(/C000_Portal/Images/Portal/colaweb-underline.png) 0 bottom repeat-x;
	}
	.main-hotcity .main-hotcity-listtour li:last-child {background: none;}
	.main-hotcity li a:hover {color: #00a3e0;}
	.main-hotcity .main-hotcity-price {
		color: #e00016;
		float: right;
		margin-top: -1px\0;
	}


	/*主欄-最愛航空假期 main-airholiday*/
	.main-airholiday ul {
		margin-bottom: 9px;
		overflow: hidden;
	}
	.main-airholiday li {
		float:left;
		margin: 0 0 0 15px;
		padding: 0;
		height: 51px;
	}
	.main-airholiday li a img {
		margin: 0;
		padding: 0;
	}
	.main-airholiday li:first-child {margin-left: 0;}
	.main-airholiday li:last-child {margin-left: 14px;}
	.main-airholiday li a img:hover {
		margin-top: 1px;
	}




/* 頁籤樣式 */

ul.tab-title-link {
	text-align:center;
	padding:0px;
	background-color:#f2f2f2;
	border-bottom:solid 1px #d5d5d5;
	}
ul.tab-title-link li {
	display:inline-block;
	float:left;
	border-right:1px solid #f2f2f2;
	border-left:1px solid #f2f2f2;
	}
ul.tab-title-link li a {
	display:block;
	border-top:3px solid #f2f2f2;
	padding-top:1px;
	text-align:center;
	color:#404040;
	text-decoration:none;
	}
ul.tab-title-link li a:hover{
	color:#84329B;
	}
ul.tab-title-link li.active{
	border-right:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
	border-bottom:1px solid #fff;
	background-color:#fff;
	}
ul.tab-title-link li.active a {
	color:#84329b !important;
	border-top:3px solid #b34cd1 !important;
	padding-top:1px;
	border-bottom:solid 1px #fff;
	text-decoration:none;
	}
.tab-container {
	background-color: white;
	}



/*------台中出發&高雄出發-設定------*/

#main-morelocaion-search{
	margin:0 0 10px 0;
	/*overflow:hidden;*/
	clear:both;
	*zoom: 1;
	}
#main-morelocaion-search ul.tab-title-link {
	height:35px;
	}
#main-morelocaion-search ul.tab-title-link li {
	}
#main-morelocaion-search ul.tab-title-link li:last-child{
	}
#main-morelocaion-search ul.tab-title-link li a {
	font-size:16px;
	font-family:'微軟正黑體';
	font-weight:bold;
	height:31px;
	line-height:32px;
	padding:0px 20px;
	}

#main-morelocaion-search .tab-container #tkt-search,#main-txg-search .tab-container #pkg-search{
	display:none;
	}

/*----台中出發&高雄出發-搜尋頁籤-設定-end------*/



/*----台中出發&高雄出發-行程頁籤-設定------*/
#main-more-tour{
	margin:0 0 10px 0;
	overflow:auto;
	}
#main-more-tour ul.tab-title-link {
	background-color:#fff !important;
	height:44px;
	padding-left:317px;
	*padding-left:294px;
	}
#main-more-tour ul.tab-title-link li{
	*width:140px;
	}

#main-more-tour ul.tab-title-link li {
	background-color:#f2f2f2;
	border-top:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	height:43px;
	float:left;
	display:block;
	}

#main-more-tour ul.tab-title-link li a {
	font-size:16px;
	font-family:'微軟正黑體';
	font-weight:bold;
	height:30px;
	line-height:36px;
	letter-spacing:1px;
	padding:0px 35px;
	*padding:0px 25px;
	}

#main-more-tour  ul.tab-title-link li.active{
	background-color:#FFFFFF;
	border-left:1px solid #d5d5d5 !important;
	border-right:1px solid #d5d5d5 !important;
	}

#main-more-tour .tab-container{
	clear:both;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
	padding-top: 8px;
	}

#main-more-tour ul.tab-title-link li.active a.tour{
	border-top:3px solid #31b700 !important;
	color:#31b700 !important;
	}
#main-more-tour ul.tab-title-link li a.tour:hover{
	color:#31b700 !important;
	}
#main-more-tour ul.tab-title-link li.active a.pkg{
	border-top:3px solid #00a3e0 !important;
	color:#00a3e0 !important;
	}
#main-more-tour ul.tab-title-link li a.pkg:hover{
	color:#00a3e0 !important;
	}
#main-more-tour ul.tab-title-link li.active a.tkt{
	color:#84329b !important;
	border-top:3px solid #b34cd1 !important;
	}
#main-more-tour ul.tab-title-link li a.tkt:hover{
	color:#84329b !important;
	}



/*----台中出發&高雄出發-行程頁籤-end------*/







/*側邊浮水印廣告*/
.slideshow {
	width: 80px\9;
	position:fixed;
	top:150px;
	right:0;
	*position: absolute;  /*position fixed for IE7 */
	top:expression(documentElement.scrollTop+100)\9;
	z-index: 999;

	margin: 0;
	padding: 0;
}
.slideshow li {
	cursor: pointer;
	list-style-type: none;
	margin-bottom: 12px;
}
.slideshow li img{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;
}
.slideshow li a {
	width: 100%;
	height: 100%;
	display: block;
}






