﻿@charset "utf-8";
/* CSS Document */

/*------------------reset 此區塊請勿更動-------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,blockquote, pre,
a,abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset,blockquote, th, td {
	margin:0;
	padding:0;
	border:0;
	/*font-family:verdana;*/
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------reset 此區塊請勿更動-------------------*/





/*搜尋按鈕*/
.search_btn{
	border:none;
	color:#FFFFFF;
	border-radius:2px;
	height:30px;
	line-height:30px;
	padding:0 14px;
	font-size:15px;
	font-family:"微軟正黑體";
	box-shadow: 0 2px 0 #1a78b4;
	background-color:#00a3e0;
	cursor:pointer;
	margin-right:3px;
	}

/*搜尋按鈕放大鏡*/
.search_btn img {
    position: relative;
    top: -1px;
}


/*--- tab切換---*/

.search-tab {
	display:block;
	overflow:hidden;
	margin:0;
	padding:0;
	}
ul.search-tab-link {
	margin:0;
	padding:0;
	}
ul.search-tab-link li {
	*height:30px;
	margin:0;
	padding:0;
	*float:left !important;
	}
ul.search-tab-link li a {
	margin:0;
	float:left !important;
	*display:inline;
	color:#6d6d6d !important;
	margin-right:5px;
	text-decoration:none;
	font-size: 14px;
	height:21px;
	border-bottom:2px solid #fff;
	padding:0px 8px 7px 8px;
	font-size:14px;
	font-family:"微軟正黑體";
	}
ul.search-tab-link li a:hover{
	color:#00a3e0 !important;
	}
ul.search-tab-link li.active{
	}
ul.search-tab-link li.active a {
	color:#00a3e0 !important;
	border-bottom:2px solid #00a3e0;
	background:url("/C000_Portal/Images/tab_bg.png") no-repeat center bottom;
	}

	
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
   .search_btn{
	   	line-height:28px !important;
	   }
}

.search_btn img{
	display:inline;
	vertical-align:middle;
	margin:0 5px 1px 0px;
	}
.search_btn:hover{
	box-shadow: 0 2px 0 #0f5a8a;
	background-color:#1a78b4;
	}
		
/*月曆按鈕*/
.calendar_icon a{
	*display:block;
	display:inline-block;
	text-indent:-9999px;
	margin-left:2px;
	background:url("/C000_Portal/Images/calendar_icon_search.png") left top;
	width:18px;
	height:20px;
	vertical-align:middle;
	}

.calendar_icon a:hover{
	background:url("/C000_Portal/Images/calendar_icon_search.png") right top;
	}

/* input文字內預設淺灰色 */		
.txttypeform{
	color:#666666;
	} 
/* input輸入後文字 */	
.blur {color:#C7C7C7;}
.myBlur {color:#C7C7C7;}

/*============= 國外票券&國內票券===============*/

/*.couponIndex .lineheight 行高設定*/

.couponIndex{
	}

.couponIndex .lineheight {
	margin-top:10px !important;
	}
.couponIndex  .lineheight  ul li{
	margin-bottom:12px;
	}
.couponIndex  .lineheight input.uniform-input{
	height:22px !important;
	}
.couponIndex  .lineheight div.selector span {
	height:22px;
	line-height:22px;
	}

/* 下拉位置調整 */
.couponIndex .jqTransformSelectWrapper{
	height:26px !important;
	line-height:26px !important;
	}
.couponIndex .jqTransformSelectWrapper ul{
	top:27px;
	}
.couponIndex  .jqTransformSelectWrapper div span{
	height:22px !important;
	display:block;
	padding:0 6px;
	line-height:26px !important;
	}

		
/* 搜尋 */
.coupon_new{
	margin:0px auto;
	color:#666666;
	font-size:14px;
	font-family:"微軟正黑體";	
	}
	
.coupon_new .title{
	height:30px;
	margin-bottom:12px;
	line-height:26px;
	vertical-align:middle;
	overflow:hidden;
	border-bottom:solid 1px #d5d5d5;
	}
		
.coupon_new .title p{
	display:block;
	font-size:16px;
	font-weight:bold;
	color:#00a3e0;	
	font-family:微軟正黑體;
	margin-right:15px;
	float:left;
	}

.coupon_search{
	font-size: 14px;
}
.coupon_search .title a{
	display:block;
	float:right;
	text-decoration:none;
	color:#00a3e0;
	}
	
.coupon_search .title a:hover{
	color:#ff9e1b;
	}

.coupon_search .calendar_icon a{
	margin:0;
	}
	
.coupon_search ul li{
	margin-bottom:13px;
	padding:0 10px;
	position:relative;
	display:block;}
	
.coupon_search ul li input,.coupon_search ul li p,.coupon_search ul li a,.coupon_search ul li a img{
	display:inline-block;
	vertical-align:middle;
	}

.coupon_search ul li{
	vertical-align:middle;
	}

.coupon_search ul li p.listName{
	width:70px;
	display:inline-block;
	text-align:right;
	margin:0px 3px 0px 0px;
	font-family:"微軟正黑體";
	font-size:14px;
	}

.coupon_search ul li div.half_sel{
	vertical-align:middle;
	margin-bottom:10px;
	}

.coupon_search ul li div.re_intype{
	display:inline-block;
	width:70%;
	vertical-align:middle;
	}

/* 月歷寬度 */
.coupon_search  ul li div.nd_w{
	width:56% !important;
	margin-right:15px;
	}

.coupon_search ul li div.re_intype2{
	display: inline-block;
	width:70%;
	vertical-align:middle;
	}

.coupon_search ul li p.listName span{
	font-family:Arial;
	*line-height:1.3;
	padding-right:3px;
	vertical-align:middle;
	}
	
.coupon_search ul li p{
	*display:inline;
	}
	
.coupon_search ul li select{
	margin-right:5px;
	}
	
.coupon_search .red_c{
	color:#e00016;
	}

.coupon_search .txt_s{
	font-size:12px;
	}

.coupon_search a.otherairtime{
	text-decoration:none;
	font-size:12px;
	color:#00a3e0;
	margin:0;
	}
.coupon_search a.otherairtime img{
	margin-right:5px;
	}

.coupon_search a.otherairtime:hover{
	color:#ff9e1b;
	}
.coupon_search .search_btn{
	display:block;
	width:130px;
	margin:0 auto;
	font-size: 15px;
	font-family: Verdana, "微軟正黑體"
	}

/*.coupon_search .search_btn img{
	display:none;
	}*/

	
/*===============================================================*/

/* -------------
 * Selects預設值
 * ------------- */
.transform  .jqTransformSelectWrapper {
	width:100% !important;
}
.transform .jqTransformSelectWrapper ul {
	width:99.6% !important;
}
.transform .jqTransformSelectWrapper div,.transform .jqTransformSelectWrapper div span {
	width:100% !important;
}

.form1  .jqTransformSelectWrapper{
	z-index:12 !important;
	width: 100% !important;
	}

.form2  .jqTransformSelectWrapper{
	z-index:11 !important;
	width: 100% !important;
	}

.jqTransformSelectWrapper {
	width:45px; 
	position:relative;
	float:left;
	border:solid 1px #d4d4d4;
	box-shadow:inset 0px 1px 3px #eeeeee;
	background-color:#FFFFFF;
	border-radius:2px;
	z-index:1 !important;
}

.jqTransformSelectWrapper:hover{
	border:solid 1px #00a3e0;
	cursor:pointer;
	outline: none;
	box-shadow:0px 1px 3px #d4d4d4;
}

.jqTransformSelectWrapper div span {
	float:none;
	position:absolute;
	white-space: nowrap;
	cursor:pointer;
	font-size:14px;
	font-family:"微軟正黑體";
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display:block;
	position:absolute;
	right:10px;
	width:31px;
	outline:none;
	height:23px;
	background: url("/C000_Portal/images/select.png") no-repeat center 1px;
}

.jqTransformSelectWrapper ul {
	position:absolute;
	width: 43px;
	top:32px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px!important;
	padding: 0px !important;
	height:150px ;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
	box-shadow:0px 1px 3px #d4d4d4;
}

.jqTransformSelectWrapper ul li{
	margin:0 !important;
	padding:0 !important;
	}

.jqTransformSelectWrapper ul a {
	display:block !important;
	padding:5px !important;
	margin:0 !important;
	text-decoration: none;
	color:#333;
	line-height:1.2;
	background-color: #FFF;
	font-size:14px;
	font-family:"微軟正黑體";
}

.jqTransformSelectWrapper ul a.selected {
	background-color: #FFF;
	color:#333;
}

.jqTransformSelectWrapper ul a.selected:hover {
	background:#00a3e0;
	color:#fff;
	}

.jqTransformSelectWrapper ul a:hover{
	background:#00a3e0;
	color:#fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}


/*===============================================================*/

/* -------------
 * input
 * ------------- */
 
.coupon_search input.typeintext:hover,
.coupon_search input.typeintext:active,
.coupon_search input.typeintext:focus{
	border:solid 1px #00a3e0;
	cursor:pointer;
	outline: none;
	box-shadow:0px 1px 3px #d4d4d4;
	}
	
.coupon_search input.typeintext[type=text] {   
    /* Remove First */
	box-shadow:inset 0px 1px 3px #eeeeee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	font-family:verdana,'微軟正黑體';
	font-size: 14px;
	}

.coupon_search input.typeintext[type=text]:hover{
	box-shadow:0px 1px 3px #d4d4d4 !important;
	}

.coupon_search input.typeintext{
	outline: none;
	padding:0 6px;
	margin:0;
	border:solid 1px #d4d4d4;
	height:26px;
	line-height:26px;
	box-shadow:inset 0px 1px 3px #eeeeee !important;
	background-color:#FFFFFF !important;
	border-radius:2px;
	width:98%;
	font-size:14px;
	}
	
	

@media only screen and (min-width:400px) {
	.coupon_search ul li div.re_intype2{
		width:75%;
	}
	
	.coupon_search  ul li div.nd_w{
	width:65% !important;
	margin-right:15px;
	}
	
	.coupon_search ul li div.re_intype{
	display:inline-block;
	width:70%;
	vertical-align:middle;
	}
	
}

