﻿@charset "utf-8";
/* CSS Document */

.colaweb-index a {text-decoration: none;}

/*頁籤*/
.tab-title {
	width: 270px;
	height: 29px;
	background: url(/C000_Portal/Images/Portal/Index/index_tab_bgs.png) 0 0 no-repeat #f2f2f2;
	border-bottom: 1px solid #d9d9d9;
}
.tab-title li {
	*float: left;
	width: 90px;
	height: 30px;
	font-size: 13px;
	line-height: 28px;
	line-height: 34px\9;
	color: #585858;
	float: left;
	text-align: center;
}
.tab-title li a {
	width: 100%;
	height: 100%;
	display: block;
	color: #585858;
}
.tab-title li a:hover {
	color: #84329b;
}
.tab-title li.active {
	width: 88px;
	height: 29px;
	/*border-top: 3px solid #b34cd1;*/
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #white;
	background-color: white;
	line-height: 20px;
	line-height: 26px\9;
}
.tab-title li.active a {
	color: #84329b;
	border-top: 3px solid #b34cd1;
}
.tab-content {
	width: 268px;
	border: 1px solid #d9d9d9;
	border-top: none;
	clear: both;
}


/*左欄*/
.colaweb-index .leftcolumn {width: 170px;}
.colaweb-index .maincolumn {width: 770px;}
.colaweb-index .left-title {
	width: 170px;
	height: 35px;
	background: url(/C000_Portal/Images/Portal/Index/index_left_titlebg.png) 0 0 no-repeat;
}
.colaweb-index .left-content li img {margin-left: 9px;}

	/*左欄-企業專區入口 b2ebtn*/
	.b2ebtn a {
		width: 170px;
		height: 35px;
		background: url(/C000_Portal/Images/Portal/Index/index_left_b2ebtn.png) -173px 0 no-repeat;
		text-indent: -5000px;
		display: block;
	}
	.b2ebtn a:hover {
		background: url(/C000_Portal/Images/Portal/Index/index_left_b2ebtn.png)  0 no-repeat;
	}

	/*左欄-E點通系列 left-hotcity-area*/
	.colaweb-index .hotcity-col-2 {padding-left: 13px;}
	.colaweb-index .left-hotcity-area .hotcity-col-2 li a {width: 66px;}
	
	
	/*左欄-主題旅遊 left-theme-area*/
	.left-theme-area {}
	.left-theme-area a img {
		filter:alpha(opacity=100);
		-moz-opacity:1.0;
		opacity:1.0;
	}
	.left-theme-area a {
		color: #404040;
	}
	.left-theme-area a p {
		font-size: 13px;
		line-height: 18px;
		line-height: 24px\9;
		*line-height: 18px;
		font-family: Verdana, "新細明體";
		background: url(/C000_Portal/Images/Portal/colaweb-icon-list.png) 5px 10px no-repeat;
		padding: 4px 0 6px 14px;
		padding: 4px 0 1px 14px\9;
		*padding: 6px 0 4px 14px;
	}
	.left-theme-area li a .theme-header p {
		padding: 2px 0 2px 12px;
	}
	.left-theme-area a:hover {
		color: #00a3e0;
	}
	.theme-header {
		*height: 20px;
	}
	.theme-pic {
		*height: 110px;
	}
	
	.left-theme-area .left-theme-top {
		margin-bottom: 9px;
		*margin-bottom: 14px;
		padding: 0 9px 7px 10px;
		*padding: 0 9px 1px 10px;
		background: url(/C000_Portal/Images/Portal/Index/index_left_bottombg.png) 0 bottom no-repeat;
	}
	.left-theme-topblock {
		margin-bottom: 10px;
	}
	.left-theme-topblock p {
		border-top: 3px solid #d6d6d6;
		border-left: 1px solid #e9e9e9;
		border-right: 1px solid #e9e9e9;
	}
	
	
	.left-theme-area .left-theme-menu{
		margin-left: 1px;
		height: 270px;
	}
	.left-theme-area .left-theme-menu li {
		margin-bottom: -1px;
		margin-bottom: 0\9;
		*margin-bottom: 9px;
	}
	.left-theme-area .left-theme-menu li a .theme-header {
		margin-left: 10px;
		*margin-left: 9px;
	}
	.left-theme-area .left-theme-menu li a p {
		background: url(/C000_Portal/Images/Portal/colaweb-icon-list.png) 5px 8px no-repeat;
		padding-left: 14px;
		*padding-left: 15px;
		margin-bottom: 4px;
	}
	.theme-header {
		height: 26px\9;
		*height: auto;
	}
	
	
	/*左欄-卡友優惠 left-bank-area*/
	.left-bank-area .left-content {
		padding-bottom: 10px;
		padding-left: 6px;
		padding-right: 5px;
	}

	.left-bank-area .tab-title {
		margin-bottom: 10px;
		width: 158px;
		background: none;
		background-color: #f2f2f2;
	}
	.left-bank-area .tab-title li {
		width: 78px;
		width: 79px\9;
	}
	.left-bank-area .tab-title li.active {
		width: 77px;
		width: 77px\9;
	}
	.left-bank-area .left-content ul.tab-title li a:hover {color: #84329b !important;}
	
	
	.left-bank-area .tab-content {
		width: 168px;
		padding-left: 4px;
		height: 140px;
		border: none;
	}
	.left-bank-area .tab-content .left-bank-img {	
		margin-bottom: 10px;
		margin-bottom: 8px\9;
		*margin-bottom: 1px;
	}
	.left-bank-area .tab-content li {
		overflow: hidden;
		margin-bottom: 9px;
		*margin-bottom: 6px;
	}
	.left-bank-area .tab-content li a p {
		width: 100%;
		height: 100%;
		display: block;
		font-size: 13px;
		line-height: 16px;
		color: #404040;
	}
	.left-bank-area .tab-content li a p:hover {color: #00a3e0;}
	.left-bank-area .tab-content li a p .left-bank-name {
		color: white;
		background-color: #84329b;
		border-radius: 2px;
		margin-right: 6px;
		padding: 0 6px 2px 6px;
		padding: 2px 6px 0 6px\9;
		display: inline-block;
	}
	.left-bank-area .tab-content li a p .left-bank-name:hover {
		color: white !important;
	}
	
	.left-bank-list {
		width: 158px;
		height: 130px;
		background: url(/C000_Portal/Images/Portal/Index/index_left_banklist.png) -3px 0 no-repeat;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	.left-bank-list a {
		width: 100%;
		height: 100%;
		display: block;
	}

	.card-list {
		width: 158px;
		height: 35px;
		background: url(/C000_Portal/Images/Portal/Index/index_left_cardlist.png) -4px 0 no-repeat;
		margin-left: 1px;
	}
	.card-list p {display: none;}
	
	
	
	/*左欄-旅遊新知 left-news-area*/
	.colaweb-index .left-news-area .left-content {
		*padding-bottom: 25px;
	}
	.colaweb-index .left-news-area a {
		width: 168px;
		height: 50px;
		display: block;
		font-size: 13px;
		line-height: 18px;
		color: #404040;
		overflow: block;
	}
	.colaweb-index .left-news-area a:hover {
		color: #00a3e0;
	}
	.colaweb-index .left-news-area a img {
		float: left;
		margin-left: 9px;
		width: 50px;
		height: 60px;
		filter:alpha(opacity=100);
		-moz-opacity:1.0;
		opacity:1.0;
	}
	.colaweb-index .left-news-area a .news-text {
		float: left;
		margin: 1px 6px 0 10px;
		margin: 3px 6px 0 10px\9;
		width: 93px;
	}
	.colaweb-index .left-news-area a .news-text p {
		margin-bottom: 2px;
	}
	.colaweb-index .left-news-area a .news-text p.title {
		color: #00a3e0;
	}
	
	

	/*左欄-小幫手系列 left-help-area*/
	.colaweb-index .left-help-area .help-col-2 {padding-left: 20px;}
	.colaweb-index .left-help-area .help-col-2 li {margin-right: 10px;}
	



	
	
	
	
/*主欄*/
.maincolumn { position:relative; left:0; top:0;}
.colaweb-index .main-title {width: 764px;}

.maincolumn-block-left {
	width: 480px;
	float: left;
}
.maincolumn-block-right {
	width: 270px;
	float: right;
	*margin-bottom: 20px;
}
.maincolumn-block-right a img {
	filter:alpha(opacity=90); /*IE,透明度50%*/
	-moz-opacity:0.9; /*Firefox,透明度50%*/
	opacity:0.9;/*其他瀏覽器,透明度50%*/
}
.maincolumn-block-right a img:hover {
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;
}


	/*主欄-大banner main-bigban-five*/
	.colaweb-index #adblock, .colaweb-index #adblock ul.showbox {
		width: 480px;
		height: 260px;
	}
	.colaweb-index #adblock img, .colaweb-index #adblock ul.showbox li a{
		width:480px;
		height:230px;
	}
	.colaweb-index #adblock ul.link {
		width:480px; 
		height:30px;
	}
	.colaweb-index #adblock ul.link li a {
		border-bottom:3px solid #eed3f5;
		line-height:28px;
		line-height:34px\9;
		margin-right:1px;
	}
	.colaweb-index #adblock ul.link li a.selected {
		border-bottom:3px solid #883e9d;
	}
	.colaweb-index .main-bigban-five {height:260px;}
	.colaweb-index .main-bigban-five #adblock ul.link li a{
		width:95px;
		height:27px;
	}
	
	/*主欄-一起可樂吧 letscola*/
	#letscola {margin-bottom: 20px; *margin-bottom: 17px;}
	.letscola-tabtop {
		width: 270px;
		height: 30px;
		background: url(/C000_Portal/Images/Portal/Index/index_letscola_title.png) 0 0 no-repeat;
		margin: 0;
		padding: 0 0 0 217px;
	}
	.letscola-tabtop li {
		float: left;
		margin-right: 5px;
		font-size: 18px;
		color: #e0e0e0;
		margin-top: 5px;
	}
	.letscola-tabtop li a {color: #e0e0e0;}
	.letscola-tabtop li a:hover {color: #00a3e0;}
	.letscola-tabtop li.active a {color: #00a3e0;}
	
	
	
	
	/*主欄-小頁籤：旅遊台 colachannel*/
	#colachannel  {width: 270px;}
	#colachannel .tab-content {
		height: 65px;
		padding: 9px 0 10px 0;
	}
	#colachannel .tab-content a {
		width: 100%;
		height: 65px;
		display: block;
		color: #404040;
	}
	#colachannel .tab-content img {
		float: left;
		margin-left: 9px;
		filter:alpha(opacity=100);
		-moz-opacity:1.0;
		opacity:1.0;
	}
	#colachannel .tab-content .cheap-text {
		float: left;
		width: 148px;
		margin-left: 12px;
		margin-top: 4px;
	}
	#colachannel .tab-content a p {
		font-size: 12px;
		line-height: 18px;
	}
	#colachannel .tab-content a p.title {
		color: #84329b;
		margin-bottom: 3px;
	}
	#colachannel .tab-content a:hover {color: #00a3e0;}
	
	
	/*主欄-小頁籤：便宜專區 colacheap*/
	#colacheap  {width: 270px;}
	#colacheap .tab-content {height: 244px;}
	#colacheap .tab-title {height: 34px;}
	#colacheap .tab-title li {
		height: 35px;
		line-height: 34px;
		line-height: 38px\9;
	}
	#colacheap .tab-title li.active {
		height: 34px;
		line-height: 26px;
		line-height: 30px\9;
	}
	#colacheap .main-cheap-content {
		*margin-top: 0;
		padding-top: 15px;
	}
	#colacheap .main-cheap-number {background-color: #84329b;}
	#colacheap .main-cheap-img {
		width: 250px;
		height: 75px;
		margin-left: 9px;
	}
	#colacheap .main-cheap-content ul {margin-top: 8px;}


	/*主欄-搜尋頁籤 colasearch*/
	#colasearch {
		width: 480px;
		height: 295px;
		margin-bottom: 20px;
	}
	#colasearch .tab-title {
		width: 480px;
		height: 34px;
		background: url(/C000_Portal/Images/Portal/Index/index_tab_searchbgs.png) 0 0 no-repeat #f2f2f2;
		border-bottom: 1px solid #d9d9d9;
		font-size: 15px;
		font-size: 13px\9;
		line-height: 22px;
		line-height: 28px\9;
		*line-height: 28px;
		color: #84329b;
		font-family: Verdana, "微軟正黑體" !important;
		font-weight: bold;
		*position: relative;
	}
	#colasearch .tab-title div {
		float: left;
		padding-top: 5px;
		width: 58px;
		height: 30px;
		text-align: center;
		color: #84329b;
		font-family: Verdana, "微軟正黑體" !important;
	}
	#colasearch .tab-title .tab-subtitle1 {
		color: #d40f7d;
		background: url(/C000_Portal/Images/Portal/Index/index_search_icon.png) 0 13px no-repeat;
		font-family: Verdana, "微軟正黑體" !important;
	}
	#colasearch .tab-title .tab-subtitle2 {
		/*border-left: 1px solid #dfdfdf;*/
		color: #00a3e0;
		background: url(/C000_Portal/Images/Portal/Index/index_search_icon.png) 6px -87px no-repeat;
		padding-left: 6px;
		margin-right: -6px;
		*position: absolute;
		*left: 306px;
		*top: 0;
		*line-height: 27px;
		font-family: Verdana, "微軟正黑體" !important;
	}
	#colasearch .tab-title .width-dom {
		*margin-left: 58px;
	}
	#colasearch .tab-title li {
		height: 34px;
		text-align: center;
		border-left: 1px solid #f2f2f2;
		border-right: 1px solid #f2f2f2;
		font-family: Verdana, "微軟正黑體" !important;
	}
	#colasearch .tab-title li:last-child {border-right: none;}
	#colasearch .tab-title li.width-2 {
		width: 56px;
	}
	#colasearch .tab-title li.width-3 {
		width: 72px;
	}
	#colasearch .tab-title li a {
		font-size: 15px;
		font-size: 13px\9;
		color: #626262;
		line-height: 32px;
		line-height: 38px\9;
		*line-height: 38px;
		font-family: Verdana, "微軟正黑體" !important;
	}
	/*#colasearch .tab-title li a:hover {	color: #84329b;}*/
	#colasearch .tab-title li.active a {
		/*color: #84329b;*/
		line-height: 25px;
		line-height: 30px\9;
		*line-height: 30px;
	}
	#colasearch .tab-title li.active {
		height: 34px;
		text-align: center;
		border-left: 1px solid #d9d9d9;
		border-right: 1px solid #d9d9d9;
	}
	
	
	#colasearch .tab-content {
		width: 478px;
		height: 259px;
		border: 1px solid #d9d9d9;
		border-top: none;
	}
	
		/*主欄-搜尋頁籤：特殊設定*/
		#colasearch .tab-title li.search-pink a:hover {
			color: #d40f7d;
		}
		#colasearch .tab-title li.active.search-pink a {
			color: #d40f7d;
			border-top: 3px solid #e987be;
		}
		#colasearch .tab-title li.search-blue a:hover {
			color: #00a3e0;
		}
		#colasearch .tab-title li.active.search-blue a {
			color: #00a3e0;
			border-top: 3px solid #66c8ec;
		}
		

	
	/*主欄-團體.個人.國內三大區塊*/
	.maincolumn-block-index {margin-bottom: 10px;}
	.index-leftcolumn, .index-rightcolumn {
		width: 385px;
		border-bottom: 1px solid #d5d5d5;
	}
	.index-leftcolumn {float: left;}
	.index-rightcolumn {float: right;}
	
	.maincolumn-block-index .tab-title {height: 35px;}
	.maincolumn-block-index .index-leftcolumn .tab-title {
		width: 385px;
		background: url(/C000_Portal/Images/Portal/Index/index_tab_bgextra.png) 0 0 no-repeat #f2f2f2;
	}
	.maincolumn-block-index .index-rightcolumn .tab-title {
		background: url(/C000_Portal/Images/Portal/Index/index_tab_bgextra.png) right 0 no-repeat #f2f2f2;
		width: 372px;
		padding-left: 13px;
	}
	.maincolumn-block-index .tab-title li {
		width: 93px;
		height: 35px;
		line-height: 36px;
	}
	.maincolumn-block-index .tab-title li.active {
		width: 91px;
		line-height: 28px;
	}
	
	.maincolumn-block-index .tab-content {
		border: 0;
		padding-top: 15px;
	}
	.maincolumn-block-index .index-leftcolumn .tab-content {
		width: 369px;
		border-left: 1px solid #d5d5d5;
		padding-left: 15px;
	}
	.maincolumn-block-index .index-rightcolumn .tab-content {
		width: 368px;
		border-right: 1px solid #d5d5d5;
		border-left: 1px solid #eaeaea;
		padding-right: 15px;
	}
	
	.more-list {
		height: 30px;
		background-color: #f2f2f2;
		text-align: right;
	}
	.index-leftcolumn .more-list {border-left: 1px solid #d5d5d5;}
	.index-rightcolumn .more-list {border-right: 1px solid #d5d5d5;}
	.more-list p {
		font-size: 13px;
		line-height: 18px;
		padding-top: 5px;
		padding-top: 7px\9;
	}
	.more-list p a {
		margin-right: 8px;
		padding: 1px 0 5px 8px;
		border-radius: 2px;
	}
	
	
		/*左-大圖行程*/
		.maincolumn-block-index .index-leftcolumn .bigpic {
			position: relative;
			margin-bottom: 10px;
		}
		.maincolumn-block-index .index-leftcolumn .bigpic a img {
			filter:alpha(opacity=90);
			-moz-opacity:0.9;
			opacity:0.9;
		}
		.maincolumn-block-index .index-leftcolumn .bigpic a:hover img {
			filter:alpha(opacity=100);
			-moz-opacity:1.0;
			opacity:1.0;
		}
		.maincolumn-block-index a .description {
			height: 25px;
			background:rgba(0%,0%,0%,0.9);
			background:url(/C000_Portal/Images/Portal/colaweb-blackbg.png) 0 0 repeat\9;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.maincolumn-block-index a .description p {
			font-size: 12px;
			line-height: 18px;
			padding-top: 4px;
		}
		.maincolumn-block-index a{color: white;}
		.maincolumn-block-index a .description p.tourname {
			float: left;
			margin-left: 8px;
		}
		.maincolumn-block-index a .description p.price {
			float: right;
			margin-right: 8px;
		}
		
		/*左-行程列表*/
		.maincolumn-block-index .tourlist {
			*margin-top: -14px;
			*width: 350px;
		}
		.maincolumn-block-index .tourlist li {
			margin-bottom: 6px;
			*margin-bottom: -9px;
			*background:url(/Images/Portal/colaweb-icon-list.png) 0 21px no-repeat;
		}
		.maincolumn-block-index .tourlist li a {
			font-size: 12px;
			line-height: 18px;
			color: #404040;
			background:url(/C000_Portal/Images/Portal/colaweb-icon-list.png) 0 4px no-repeat;
			padding-left: 8px;
			*padding-left: 0;
		}
		.maincolumn-block-index .tourlist li a p {
			display: inline-block;
			background:url(/C000_Portal/Images/Portal/colaweb-underline.png) 0 bottom repeat-x;
			padding-bottom: 7px;
			*padding-left: 8px;
		}
		.maincolumn-block-index .tourlist li:last-child a p {
			background:none;
		}
		.maincolumn-block-index .tourlist li a p .price {
			float: right;
		}
		
		/*右-頁籤AD*/
		.main-tagad {overflow: hidden;}
		.colaweb-index .main-tagad ul {margin-left: 15px;}
		.colaweb-index .main-tagad li {margin-bottom: 22px;}
		.colaweb-index .main-tagad li .main-tagad-tag p {width: 75px;}
		.colaweb-index .main-tagad li .main-tagad-text {border: none;}
		.colaweb-index .main-tagad li .main-tagad-text p {padding: 0 3px;}
	
	
	
			/*主欄-團體區塊 maincolumn-block-indextour*/
            .maincolumn-block-indextour {margin-top:50px;}
			.maincolumn-block-indextour .tab-content {height: 360px;}
			
			.maincolumn-block-indextour .main-title {border-left-color: #d40f7d;}
			.maincolumn-block-indextour .tab-title li a:hover {	color: #d40f7d;}
			.maincolumn-block-indextour .tab-title li.active a {
				color: #d40f7d;
				border-top: 3px solid #e987be;
			}
			
			.maincolumn-block-indextour .index-leftcolumn .bigpic {
				width: 350px;
				height: 140px;
			}
			/*.maincolumn-block-indextour .index-leftcolumn .bigpic a:hover {color: #d40f7d;}*/

			.maincolumn-block-indextour a .description {width: 350px;}
			.maincolumn-block-indextour .tourlist li a p {width: 342px;}
			.maincolumn-block-indextour .tourlist li a:hover {color: #d40f7d;}
			
			.maincolumn-block-indextour .main-tagad {
				margin-bottom: 8px;
				*margin-bottom: 30px;
			}
			.maincolumn-block-indextour .main-tagad li a:hover {color: #d40f7d;	}
			.maincolumn-block-indextour .tour-more {
				clear: both;
				background-color: #fbe9f2;
				border-radius: 2px;
				text-align: center;
				box-shadow: 1px 1px rgba(229, 209, 219, 1.0);
				margin-left: 15px;
				padding: 4px 0;
				*padding: 6px 0 2px 0;
				*height: 16px;
			}
			.maincolumn-block-indextour .tour-more p a {
				font-size: 12px;
				line-height: 16px;
				color: #6d6d6d;
				width: 100%;
				height: 100%;
				display: block;
			}
			.maincolumn-block-indextour .tour-more p a:hover {color: #d40f7d;}
			
			.maincolumn-block-indextour .main-cheap-content {
				border: none;
				width: 370px;
				padding-left: 8px;
			}
			.maincolumn-block-indextour .main-cheap-content li .main-cheap-product {
				*background-position: 0 23px;
			}
			.maincolumn-block-indextour p.main-cheap-number {
				color: #d40f7d;
				background-color: #fbe7f2;
				width: 80px;
				height: 21px;
				padding-top: 2px;
				font-size: 12px\0;
			}
			.maincolumn-block-indextour li a .main-cheap-text,
			.maincolumn-block-indextour li a .main-cheap-money{
				padding-top: 2px;
			}
			.maincolumn-block-indextour li .main-cheap-money{
				float: right;
			}
			.maincolumn-block-indextour .main-cheap-content li{
				margin-bottom: 1px;
			}
			.maincolumn-block-indextour .main-cheap-content li a:hover{
				color: #d40f7d;
			}
			
			
			.maincolumn-block-indextour  .more-list p a {color: #d40f7d;}
			/*.maincolumn-block-indextour  .more-list p a:hover {background-color: #fae2ef;}*/
			
			
			
			
			
			/*主欄-個人區塊 maincolumn-block-indexfit*/
			.maincolumn-block-indexfit .tab-content {height: 160px;}
			
			.maincolumn-block-indexfit .main-tagad li a:hover {color: #009a44;}

			.maincolumn-block-indexfit .main-title {border-left-color: #009a44;}
			.maincolumn-block-indexfit .tab-title li a:hover {color: #009a44;}
			.maincolumn-block-indexfit .tab-title li.active a {
				color: #009a44;
				border-top: 3px solid #66c28f;
			}
			
			.maincolumn-block-indexfit .index-leftcolumn .bigpic {
				width: 100px;
				height: 130px;
				float: left;
			}
			/*.maincolumn-block-indexfit .index-leftcolumn .bigpic a:hover {color: #009a44;}*/

			.maincolumn-block-indexfit a .description {width: 350px;}

			.maincolumn-block-indexfit .tourlist {
				margin-top: 8px;
				padding-right: 15px;
				float: right;
				*width: 245px;
				*margin-top: -8px;
			}
			.maincolumn-block-indexfit .tourlist li a p {width: 235px;}
			.maincolumn-block-indexfit .tourlist li a:hover {color: #009a44;}
			.maincolumn-block-indexfit a .description {width: 100px;}
			.maincolumn-block-indexfit a .description p.tourname {
				float: none;
				margin-left: 0;
				text-align: center;
			}
			
			
			.maincolumn-block-indexfit  .more-list p a {color: #009a44;}
			/*.maincolumn-block-indexfit  .more-list p a:hover {background-color: #d6f1cc;}*/

			
			/*主欄-國內區塊 maincolumn-block-indexdom*/
			.maincolumn-block-indexdom .tab-content {height: 160px;}

			.maincolumn-block-indexdom .main-tagad li a:hover {color: #00a3e0;}

			.maincolumn-block-indexdom .main-title {border-left-color: #00a3e0;}
			.maincolumn-block-indexdom .tab-title li a:hover {color: #00a3e0;}
			.maincolumn-block-indexdom .tab-title li.active a {
				color: #00a3e0;
				border-top: 3px solid #66c8ec;
			}
			
			.maincolumn-block-indexdom .index-leftcolumn .bigpic {
				width: 100px;
				height: 130px;
				float: left;
			}
			/*.maincolumn-block-indexdom .index-leftcolumn .bigpic a:hover {color: #00a3e0;}*/

			.maincolumn-block-indexdom a .description {width: 350px;}

			.maincolumn-block-indexdom .tourlist {
				margin-top: 8px;
				padding-right: 15px;
				float: right;
				*width: 245px;
				*margin-top: -8px;
			}
			.maincolumn-block-indexdom .tourlist li a p {width: 235px;}
			.maincolumn-block-indexdom .tourlist li a:hover {color: #00a3e0;}
			.maincolumn-block-indexdom a .description {width: 100px;}
			.maincolumn-block-indexdom a .description p.tourname {
				float: none;
				margin-left: 0;
				text-align: center;
			}
			
			
			.maincolumn-block-indexdom p.more-dom a {
				width: 75px;
				*height: 25px;
				font-size: 13px;
				line-height: 36px;
				line-height: 38px\9;
				*line-height: 36px;
				color: #585858;
				margin-top: -36px;
				margin-bottom: -2px\9;
				padding-left: 15px;
				*padding-top: 2px;
				display: inline-block;
				float: right;
			}
			.maincolumn-block-indexdom  p.more-dom a:hover {
				color: #00a3e0;
			}
		
		
			.maincolumn-block-indexdom  .more-list p a {color: #00a3e0;}
			/*.maincolumn-block-indexdom  .more-list p a:hover {background-color: #ccedf9;}*/


	/*颱風訊息露出按鈕*/
	.index-typhoon {
		width: 480px;
		height:35px;
		margin: 0 0 10px 0;
		padding: 0;
		background-color:#fc4c02;
		border-left: none;
		border-radius:2px;
		position:relative;
		letter-spacing: 1px;
	}
	.index-typhoon a {
		width: 100%;
		height: 100%;
		display: block;
	}
	.index-typhoon .typhoon-title{
		width:125px;
		height:35px;
		border-radius: 2px 0 0 2px;
		position:relative;
		float:left;
	}
	.index-typhoon .typhoon-title p{
		display:block;
		padding-left:40px;
		text-indent:5px;
		line-height:31px;
		background:url(/C000_Portal/Images/Portal/Index/news_icon.png) 8px 5px no-repeat;
		font-size:16px;
		height:31px;
		font-family:微軟正黑體;
		font-weight:bold;
		color:#fff;
		padding-top: 2px;
	}

	.index-typhoon .typhoon-text {
		/*width:440px;*/
		height:31px;
		position:absolute;
		left: 130px;
		top: 2px;
	}
	.index-typhoon .typhoon-text p {
		font-size:15px;
		color: white;
		line-height:25px;
		line-height:28px\9;
		text-decoration:none;
		border-left: 1px solid white;
		padding-left: 15px;
		margin-top: 3px;
	}
		
		
	/*掀頁廣告設定*/
	#ad {
		position: absolute;
		top:0;
		right:0;
		z-index: 50;
	}
	#ad img, #ad .adBody {
		position: absolute;
		width: 105px;
		height: 105px;
		right: 0;
		top: 0;
	}
	#ad img {
		z-index: 999;
		filter:alpha(opacity=100);
		-moz-opacity:1.0;
		opacity:1.0;
	}
	#ad .adBody {
		overflow: hidden;
		z-index: 998;
		position: absolute;
		background: url(/webDM/Portal/Index/adbanner/index_peel01.png) right top no-repeat;
	}

	
	/* 瘋狂廣告 */
	#crazyduma {
		position: absolute;
		width: 770px;
		height: 260px;
		left: 0px;
		top: 0;
		*left:-385px;
		background-color:  rgba(255, 255, 255, 0);
		z-index: 99;
		text-align: center;
	}
	#crazyduma .abgne_close_ad {
		position: absolute;
		display: block;
		width: 30px;
		height: 30px;
		right: 0;
		*right: -380px;
		text-align: right;
		cursor: pointer;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background: url(/C000_Portal/Images/Portal/Index/btn_close.png) 0 0 no-repeat;
		z-index: 100;
	}
	#crazyduma .harry_ad {
		position: absolute;
		display: block;
		width: 740px;
		height: 285px;
		left: 0;
		cursor: pointer;
		border: 1px solid red;
	}

    /*201606 票券館配套修改樣式*/
	.more-list p a {
		margin-right: 12px;
		padding: 1px 12px 5px 8px;
		font-family: "微軟正黑體";
		font-weight: bold;
	}
	.maincolumn-block-indextour  .more-list p a {background: url(/webDM/Portal/css/images/colaweb-arrow.png) right 4px no-repeat;}
	.maincolumn-block-indexfit  .more-list p a {background: url(/webDM/Portal/css/images/colaweb-arrow.png) right -96px no-repeat;}
	.maincolumn-block-indexdom  .more-list p a {background: url(/webDM/Portal/css/images/colaweb-arrow.png) right -196px no-repeat;}

    /*2016聖誕視覺_放css_index.css  >>資訊部*/
    .colaweb-index .left-hotcity-area-tour .left-title {background: url(/webDM/Portal/Index/images/holiday/index_left_titlebg1-xmas.png) 0 0 no-repeat;}
    .colaweb-index .left-hotcity-area-domtour .left-title {background: url(/webDM/Portal/Index/images/holiday/index_left_titlebg2-xmas.png) 0 0 no-repeat;}
    .colaweb-index .left-theme-area .left-title {background: url(/webDM/Portal/Index/images/holiday/index_left_titlebg3-xmas.png) 0 0 no-repeat;}
    .colaweb-index .left-bank-area .left-title {background: url(/webDM/Portal/Index/images/holiday/index_left_titlebg4-xmas.png) 0 0 no-repeat;}
    .colaweb-index .left-news-area .left-title {background: url(/webDM/Portal/Index/images/holiday/index_left_titlebg5-xmas.png) 0 0 no-repeat;}
    .colaweb-index .left-help-area .left-title {background: url(/webDM/Portal/Index/images/holiday/index_left_titlebg6-xmas.png) 0 0 no-repeat;}

    .main-title p {color: white;}
    .colaweb-index .maincolumn-block-indextour .main-title {background: url(/webDM/Portal/Index/images/holiday/main-title-bg1-xmas.jpg) right 0 no-repeat #d40f7d;}
    .colaweb-index .maincolumn-block-indexfit .main-title {background: url(/webDM/Portal/Index/images/holiday/main-title-bg2-xmas.jpg) right 0 no-repeat #d40f7d;}
    .colaweb-index .maincolumn-block-indexdom .main-title {background: url(/webDM/Portal/Index/images/holiday/main-title-bg3-xmas.jpg) right 0 no-repeat #d40f7d;}
    .maincolumn-block-indextour .main-title, .maincolumn-block-indexfit .main-title, .maincolumn-block-indexdom .main-title {border-left-color: #ffc600;}