﻿@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}
body, p, li {
	-webkit-text-size-adjust: none !important;/*防止allpe的safari瀏覽器字體變大*/
}
.cola-footer img {border: 0;}
.cola-footer a {text-decoration: none;}

.cola-footer p {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 26px;
	color: #404040;
	font-family: Verdana, "新細明體";
	-webkit-text-size-adjust: none !important;/*防止allpe的safari瀏覽器字體變大*/
}
.cola-footer p .tel-title {
	font-size: 13px;
	color: white;
	background-color: #84329b;
	border-radius: 2px;
	margin: 0 4px 0 0;
	padding: 1px 6px 3px 6px;
	*padding: 3px 6px 1px 6px;
}
.cola-footer p .tel-subtitle {color: #84329b;}


/*大區塊設定*/
.cola-footer {
	width: 960px;
    margin: 20px auto 0 auto;
	padding: 0;
	text-align:left;
	border-top: 2px solid #9a349f;
	font-family: Verdana, "新細明體";
}
.colafoot-tel, .colafoot-service, .colafoot-data {
	margin: 0 auto;
	text-align: center;
}
.colafoot-tel {
	background-color: #f4f4f4;
	padding: 14px 0 18px 0;
	padding: 15px 0 14px 0\9;
	overflow: hidden;
}
.colafoot-service, .colafoot-data {background-color: #eeeeee;}
.colafoot-service {
	border-bottom: 1px solid white;
	padding: 20px 0 17px 0;
	overflow: hidden;
}
.colafoot-data {
	padding: 15px 0 20px 0;
	*padding: 15px 0 25px 0;
}


/*第一區：電話區*/
.colatour-tel {}
.colafoot-tel a {color: #00a3e0;}
.colafoot-tour .tel-col-1 {
	text-align: left;
	/*margin-left: 110px;*/
	margin-left: 100px;
}
.colafoot-tour .tel-number {
	/*width: 105px;*/
	width: 120px;
	display: inline-block;
}
.colafoot-tour p .tel-title {
	margin-right: 10px;
}
.colafoot-txg p .tel-title, .colafoot-khh p .tel-title {margin-right: 8px;}
.colafoot-pkg .tel-col-1, .colafoot-tkt .tel-col-1 {
	text-align: left;
	margin-left: 270px;
}
.colafoot-dom .tel-col-1 {
	text-align: left;
	margin-left: 125px;
}
.colafoot-domhtl .tel-col-1 {
	text-align: left;
	margin-left: 230px;
}
.colafoot-index {padding-left: 30px;}
.colafoot-index .tel-col-2 {
	text-align: left;
	margin-left: 55px;
	float: left;
}
.tel-col-3 {
	text-align: left;
	margin-left: 65px;
	float: left;
}
.colafoot-txg {padding-left: 75px;}
.colafoot-khh {padding-left: 85px;}


/*第二區：服務區*/
.colafoot-service, .colafoot-service a {
	font-size: 12px;
	line-height: 22px;
	color: #404040;
	font-family: Verdana, "新細明體";
}
.colafoot-service a:hover {color: #00a3e0;}
.colafoot-logo, .colafoot-service-btn, .colafoot-service-btn div {float: left;}
.colafoot-logo {
	width: 160px;
	height: 70px;
	background: url(../images/colafoot-logo.png) 0 0 no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 121px;
	margin-right: 28px;
}
.colafoot-logo a, .colafoot-service-btn a {
	width: 100%;
	height: 100%;
	display: block;
}
	/*第二區：服務區：按鈕*/
	.colafoot-service-btn {margin-top: 2px;}
	.colafoot-service-btn div a {
		width: 53px;
		height: 70px;
		margin-right: 15px;
		background-repeat: no-repeat;
	}
	.colafoot-service-btn span {
		padding-top: 51px;
		display: block;
	}
	.service-location a {background: url(../images/colafoot-service-icon0615.png) 2px 0;}
	.service-mail a {background: url(../images/colafoot-service-icon0615.png) -98px 0;}
	.service-qna a {background: url(../images/colafoot-service-icon0615.png) -198px 0;}
	.service-visa a {background: url(../images/colafoot-service-icon0615.png) -298px 0;}
	.service-bankcard a {background: url(../images/colafoot-service-icon0615.png) -398px 0;}
	.service-webmap a {background: url(../images/colafoot-service-icon0615.png) -498px 0;}
	.service-blog a {background: url(../images/colafoot-service-icon0615.png) -598px 0;}
	.service-fb a {background: url(../images/colafoot-service-icon0615.png) -698px 0;}
	.service-domtrip a {background: url(../images/colafoot-service-icon0615.png) -798px 0;}
	.service-privacy a {background: url(../images/colafoot-service-icon0615.png) -894px 0; width: 62px !important; margin-right: 10px !important; margin-left: -4px;}
	.service-location a:hover {background-position: 2px 1px;}
	.service-mail a:hover {background-position: -98px 1px;}
	.service-qna a:hover {background-position: -198px 1px;}
	.service-visa a:hover {background-position: -298px 1px;}
	.service-bankcard a:hover {background-position: -398px 1px;}
	.service-webmap a:hover {background-position: -498px 1px;}
	.service-blog a:hover {background-position: -598px 1px;}
	.service-fb a:hover {background-position: -698px 1px;}
	.service-domtrip a:hover {background-position: -798px 1px;}
	.service-privacy a:hover {background-position: -894px 1px;}

/*第三區*/
.colafoot-data, .colafoot-data p, .colafoot-data a {
	font-size: 12px;
	line-height: 22px;
	color: #7d7d7d;
	font-family: Verdana, "新細明體";
	-webkit-text-size-adjust: none !important;/*防止allpe的safari瀏覽器字體變大*/
}
.colafoot-data {
}
.colafoot-copyright {
}
.colafoot-copyright span a {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.copyright-word {
	position: relative;
	top: -4px;
	*top: 2px;
}
.copyright-btn {
	position: relative;
	top: 1px;
}

	/*第三區：按鈕*/
	.copyright-btn span a {
		height: 21px;
		display: inline-block;
		background-image: url(../images/colafoot-approve-icon.png);
		background-repeat: no-repeat;
	}
	.copyright-tata a {background-position: 0 0; width: 30px;}
	.copyright-tqaa a {background-position: -50px 0; width: 26px;}
	.copyright-iata a {background-position: -100px 0; width: 31px;}
	.copyright-smart a {background-position: -150px 0; width: 23px;}
	.copyright-travel a {background-position: -200px 0; width: 33px;}
	.copyright-nca a {background-position: -250px 0; width: 25px;}
	.copyright-verisign a {background-position: -300px 0; width: 18px;}
	
	.copyright-smart {
		width: 23px;
		height: 21px;
		display: inline-block;
		background: url(../images/colafoot-approve-icon.png) -150px 0 no-repeat;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	
	
/*2016聖誕視覺_放footer.css  >>宜純*/
.service-location a, .service-mail a, .service-qna a, .service-visa a, .service-bankcard a, .service-webmap a, .service-blog a, .service-fb a, .service-domtrip a, .service-privacy a {background-image: url(/webDM/Portal/Index/images/holiday/colafoot-service-icon-xmas.png);}
