﻿@charset "utf-8";
/* CSS Document */

/*------------------reset 此區塊請勿更動-------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,blockquote, pre,
a,abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset,blockquote, th, td {
	margin:0;
	padding:0;
	border:0;
	font-family:verdana;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------reset 此區塊請勿更動-------------------*/



/*搜尋按鈕*/
.search_btn{
	border:none;
	color:#FFFFFF;
	border-radius:2px;
	height:25px;
	height:28px \9;
	line-height:1.8;
	line-height:27px \9;
	padding:0 14px;
	*padding:0px 6px;
	*height:auto;
	font-size:13px;
	font-family:新細明體;
	box-shadow: 0 2px 0 #1a78b4;
	background-color:#00a3e0;
	cursor:pointer;
	margin-right:3px;
	}
	
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
   .search_btn{
	   	line-height:28px !important;
	   }
}

.search_btn img{
	display:inline;
	vertical-align:middle;
	margin:0 5px 1px 0px;
	}
.search_btn:hover{
	box-shadow: 0 2px 0 #0f5a8a;
	background-color:#1a78b4;
	}
		
/*月曆按鈕*/
.calendar_icon a{
	*display:block;
	display:inline-block;
	text-indent:-9999px;
	background:url("/C000_Portal/Images/calendar_icon_search.png") left top;
	width:18px;
	height:20px;
	vertical-align:middle;
	margin-right:5px;
	}

.calendar_icon a:hover{
	background:url("/C000_Portal/Images/calendar_icon_search.png") right top;
	}
	
/*--- 個人&團體自由行切換---*/

.search-tab {
	display:block;
	overflow:hidden;
	margin:0;
	padding:0;
	}
ul.search-tab-link {
	margin:0;
	padding:0;
	}
ul.search-tab-link li {
	*height:30px;
	margin:0;
	padding:0;
	*float:left !important;
	}
ul.search-tab-link li a {
	margin:0;
	float:left !important;
	*display:inline;
	color:#6d6d6d !important;
	margin-right:5px;
	height:21px;
	border-bottom:2px solid #fff;
	padding:0px 8px 7px 8px;
	+padding:0px 4px 7px 4px;
	*padding:0px 2px 7px 2px;
	}
ul.search-tab-link li a:hover{
	}
ul.search-tab-link li.active{
	}
ul.search-tab-link li.active a {
	color:#00a3e0 !important;
	border-bottom:2px solid #00a3e0;
	background:url("/C000_Portal/images/tab_bg.png") no-repeat center bottom;
	}
#pkg_tour{
	display:none;
	}
#pkg_personal li{
	margin-bottom:11px;
	}
#pkg_tour li{
	margin-bottom:13px;
	}

/* 自由行館搜尋 */

.pkg_search{
	margin:0 auto;
	min-width:398px;
	height:223px;
	color:#666666;
	font-size:13px;
	}
.pkg_search .title{
	height:30px;
	margin-bottom:10px;
	line-height:26px;
	vertical-align:middle;
	overflow:hidden;
	border-bottom:solid 1px #d5d5d5;
	}
.pkg_search .title p{
	display:block;
	font-size:16px;
	font-weight:bold;
	color:#00a3e0;	
	font-family:微軟正黑體;
	margin-right:15px;
	float:left;
	}

.pkg_search .title a{
	display:block;
	float:right;
	text-decoration:none;
	color:#00a3e0;
	}
	
.pkg_search .title a:hover{
	color:#ff9e1b;
	}

	
.pkg_search ul li{
	padding:0 10px;
	position:relative;
	display:block;}

.pkg_search ul li input,.pkg_search ul li select,.pkg_search ul li p,.pkg_search ul li a,.pkg_search ul li a img{
	display:inline-block;
	vertical-align:middle;
	*display:inline;
	}

.pkg_search .title li a{
    font-size:13px;
}

.pkg_search ul li p.listName{
	width:61px;
	text-align:right;
	margin:0px 3px 0px 0px;
	*display:inline;
	}

.pkg_search ul li p.listName span{
	font-family: Arial;
	padding-right:3px;
	}


.pkg_search ul li p.listName span{
	font-family:Arial;
	padding-right:3px;
	}
	
.pkg_search ul li select{
	margin-right:5px;
	}
	
.pkg_search .red_c{
	color:#e00016;
	}

.pkg_search .txt_s{
	font-size:12px;
	}

.pkg_search a.otherairtime{
	text-decoration:none;
	font-size:12px;
	color:#00a3e0;
	margin:0;
	}
.pkg_search a.otherairtime img{
	margin-right:5px;
	}

.pkg_search a.otherairtime:hover{
	color:#ff9e1b;
	}

.pkg_search .search_btn{
	right:10px;
	bottom:0px;
	margin-bottom:2px;
	float:right;
	}

.pkg_search .sel_w1{
	width:113px;
	width:112px \9;
	}

.pkg_search .sel_w2{
	width:303px;
	}
.pkg_search .sel_w3{
	width:80px;
	}
.pkg_search .sel_w4{
	width:75px;
	}

.pkg_search .sel_w5{
	width:90px;margin-right:3px;
	}

.pkg_search .sel_w6{
	width:180px;
	}


.m-l-1{
	margin-left:5px;
	margin-right:4px;
	}

.t-title-l{
	*padding-left:8px;
	}
	
/* ios系統 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.pkg_search ul li p.listName{
		width:61px;
	}
	.pkg_search .sel_w1{
		width:111px;
	}
	.pkg_search .sel_w6{
		width:179px;
	}
	.pkg_search .sel_w2{
		width:302px;
	}
	
}


/* firefox */
@-moz-document url-prefix()
{
	.pkg_search ul li p.listName{
		width:61px;
	}
	.pkg_search .sel_w1{
		width:111px;
	}
	.pkg_search .sel_w6{
		width:179px;
	}
	.pkg_search .sel_w2{
		width:302px;
	}
}





