/* CSS Document */
/************************************************************************************
RESET
*************************************************************************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {line-height: 1; -webkit-text-size-adjust: none;}
ol, ul { list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {
   /* border-collapse: collapse;*/
    border-spacing: 0;
}
a img {border: none;}
.clean { clear:both;}
a {color: #626262; text-decoration: none; blr:expression(this.onFocus=this.blur()); outline: none; /* for Firefox */hlbr:expression(this.onFocus=this.blur()); /* for IE */}
a:hover {text-decoration:none;}
a:focus{ -moz-outline-style: none;}
.b-box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body { margin: 0; padding: 0;}

.cola_new_search {
    width: 480px;
    height: 295px;
    margin-bottom: 20px; 
}
.tab_title {
    width: 480px;
    height: 35px;
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
	border-top: 1px solid #eaeaea;
	border-bottom: none;
    font: bold 15px "微軟正黑體",Arail;
}
.tab_title li {
    height: 34px;
	position:relative;
	background: #f2f2f2;	
    border-bottom: 1px solid #d9d9d9;
}
.tab_title p.slide_handle {
    cursor: pointer;
    display: block;
    width: 68px;
    height: 35px;
    padding: 7px 10px 0 0;
	*padding: 7px 0 0 0;
    text-align: center;
    *text-align: left;
	*text-indent:10px;
    font: bold 15px "微軟正黑體";
    border-bottom: 1px solid #d9d9d9;
}
.tab_title p.title_pink {
    color: #d40f7d;
    border-left: 4px solid #D40F7D;
    background: url(/C000_Portal/Images/Portal/Index/index_search_icon2.png) 47px 0 no-repeat;
}
.tab_title p.title_blue{ 
	color:#00a3e0; 
	border-left: 4px solid #00a3e0;
	background: url(/C000_Portal/Images/Portal/Index/index_search_icon2.png) 47px -34px no-repeat;
}


/* 標題hover加這段 */
.tab_title .slide_opened p.title_pink,.tab_title p.title_pink:hover
{ 
	color:#fff;
	background: url(/C000_Portal/Images/Portal/Index/index_search_icon2.png) #e56fb1 47px -68px no-repeat;
}
.tab_title .slide_opened p.title_blue,.tab_title p.title_blue:hover
{ 
	color:#fff;
	background: url(/C000_Portal/Images/Portal/Index/index_search_icon2.png) #66c8ec 47px -68px no-repeat;
}


.tab_title .slide_content {
    color: #626262;
    left: 68px;
    position: absolute;
    top: 0;
}
.abgne_tab {
    clear: left;
    width: 480px;
    height: 260px;
    border: 1px solid #d9d9d9;
    border-top: none;
}
ul.tabs {
    width: 100%;
    height: 34px;
    display: block;
}
.slide_content ul li {
    float: left;
    width: 68px;
    *width: 67px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    overflow: hidden;
}
.space{ width:70px ! important;}
.slide_content ul li a {
	display: block;
	width:100%;
	height:100%;
    font-family: "微軟正黑體";
}
.slide_content ul li.active  {
	background: #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    line-height: 26px;
}
.slide_content ul li.active a.tabs_pink{border-top: 4px solid #e987be; color: #d40f7d;}
.slide_content ul li.active a.tabs_blue{border-top: 4px solid #66c8ec; color: #00a3e0;}
.slide_content ul li a:hover.tabs_pink { color: #d40f7d;}
.slide_content ul li a:hover.tabs_blue { color: #00a3e0;}

div.tab_container { clear: left;	width: 100%;}
div.tab_container .tab_content { padding: 12px 10px 0 10px;}
