#countryHeader {
    background: #e61e50;
    height: 45px;
}

#countryHeader #branding {
    background: transparent url('/content/dam/sigma-aldrich/head/day/sigma-aldrich_logo.png') top left no-repeat;
    float: left;
    display: block;
    height: 30px;
    margin: 8px 0 0;
    text-indent: -9000px;
    width: 275px;
}

.countryPage #pageWrapper{background: #f7f6f3 url(/etc/designs/sigma-aldrich/headers/newsa/sial-countryselector-rbg.gif) top left repeat-x; width: 100%;}

    .countryPage #contentWrapper {
    background: #f7f6f3 url(/etc/designs/sigma-aldrich/headers/newsa/sial-countryselector-bg.gif) top center no-repeat;
    margin: 0px auto;
    height: auto;
}

.countryPage #subFooter {background-color:#f7f6f3;}

#countryLanding {
    margin: 0 10px;
    width: 930px;
    }

#countryLanding div#selectCountryHeader {
    background: transparent url(/etc/designs/sigma-aldrich/headers/newsa/selectcountryheader.png) bottom center no-repeat;
    height: 54px;
    text-indent:-9000px;
    padding-top: 96px;
    width: 930px;
}

#countryLanding div#countries {
    width: 930px;
    margin: 10px auto;
    text-align:center;
    border-bottom: 1px dotted #C3C2BD;
    margin: 10px auto 32px;
}

/*NEW*/
        #countryTable a {
            font-size: 11px;
            color: #67655c;
            padding: 2px 3px;
            cursor: pointer;
             display: inline-block;
            zoom: 1; // IE hack to trigger hasLayout
            *display: inline; // IE hack to achieve inline-block behavior
        }

        #countryTable .countriesLeft a {font-size: 15px; font-weight: bold;}

        #countryTable .countriesLeft a:hover,
        #countryTable .countriesRight a:hover {
            background-color:#e61e50;
            text-decoration: none;
            color: #fff;
        }
/* end NEW */

#countrySelect {
    display: block;
    width: 594px;
    margin: 0 auto 20px;
}

#countrySelect select {
    font-size:15px;
    border: 1px solid #c9c7c3;
    padding: 0;
    color: #67655c;
    font-weight: bold;
    float: left;
}

#countrySelect input#submitCountry {
    float: right;
    background: transparent url(/etc/designs/sigma-aldrich/headers/newsa/go.gif) top left no-repeat;
    height: 33px;
    text-indent:-9000px;
    width: 72px;
    border: none;
    cursor: pointer;
}

#countryLinks {
    border-top: 1px solid #c3c2bd;
    border-bottom: 1px dotted #e61e50;
    padding-top: 174px;
    margin-bottom: 25px;
    width: 100%;
}
#countryLinks .countryLinksWrapper {width:396px; margin: 0px auto;}

#countryLinks a.investorRelations {
    background: transparent url(/etc/designs/sigma-aldrich/headers/newsa/investorrelations.gif) top left no-repeat;
    display: block;
    height: 33px;
    text-indent:-9000px;
    width: 192px;
    border: none;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#countryLinks a.privacyStatement {
    background: transparent url(/etc/designs/sigma-aldrich/headers/newsa/privacystatement.gif) top left no-repeat;
    height: 33px;
    display: block;
    text-indent:-9000px;
    width: 192px;
    border: none;
    cursor: pointer;
    float: left;
    margin-bottom: 20px;
}

.countryPage #pageWrapper #subFooter div.contentStage {width: 930px;}
.countryPage #pageWrapper #subFooter div.contentStage p {width: 594px;}

/* footer css*/
#subFooter {
    background: #efefef;
    padding: 30px 0;
    height: 25px;
    border-bottom: 5px solid #e61e50;
}
#subFooter p {
    float:left;
    color: #7f7c77;
    font-size: 10px;
    padding: 0 6px;
    margin: 0px 30px;
    width: 604px;
}
#subFooter p strong {color: #2c2c2c; font-weight: bold;}
#subFooter p a {color: #153e74; font-style: italic; text-decoration: none;}
#subFooter .logo {
    background: transparent url('/etc/designs/sigma-aldrich/headers/newsa/sigma-aldrich-logo.jpg') top left no-repeat;
    float: left;
    display: block;
    height: 30px;
    text-indent: -9000px;
    width: 275px;
}

#subFooter .socialLinks {
    float: right;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 19px;
    width: 92px;
}
#subFooter .socialLinks ul {margin: 0px; padding: 0px;}
#subFooter .socialLinks li {
    background: #efefef url(/etc/designs/sigma-aldrich/headers/newsa/social.gif) scroll 0 0 no-repeat;
    display: block;
    float: right;
    height: 19px;
    margin: 0 0 0 4px;
    padding: 0px;
    text-indent: -9000px;
    width: 19px;
}
#subFooter .socialLinks li.facebook {background-position: 0 0;}
#subFooter .socialLinks li.myspace {background-position: -24px 0;}
#subFooter .socialLinks li.twitter {background-position: -46px 0;}
#subFooter .socialLinks li.youtube {background-position: -69px 0;}
#subFooter .socialLinks li a {display: block; zoom:1;}
#primaryFooter .box .searchfoot img {}