#sw_ads {
	width: 720px;
	min-height: 440px;
	margin: 0 0 26px 210px;
	position: relative;
}
#sw_slideshow {
	height: 275px;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}
#sw_slideshow .tiles {
	background: url(https://media.sweetwater.com/include/homepage/images/tile-bg.gif) no-repeat 0 0 #000;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
		top: 0;
		left: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
}
#sw_slideshow .tiles li {
	display: none;
	position: absolute;
		top: 0;
		left: 0;
	z-index: 0;
}
#sw_slideshow .tiles li,
#sw_slideshow .tiles a {
	height: 100%;
	width: 100%;
}
#sw_slideshow .tiles .selected,
#sw_slideshow .tiles a {
	display: block;
}
#sw_slideshow .tiles img {
	border: none;
}
#sw_slideshow .menu {
	margin: 0;
	padding: 0;
	position: absolute;
		right: 0;
		bottom: -22px;
		left: 0;
	text-align: center;
}
#sw_slideshow .menu li {
	display: inline-block;
		*display: inline;
	margin: 0 6px;
	text-align: center;
	zoom: 1.0;
}
#sw_slideshow .menu a {
	border: 1px solid #156DA1;
	border-radius: 50%;
	display: block;
	height: 10px;
	overflow: hidden;
	text-align: left;
	text-decoration: none;
	text-indent: -9999px;
	width: 10px;
}
#sw_slideshow .menu a:hover {
	background: rgba(21, 109, 161, 0.2);
}
#sw_slideshow .menu .selected a {
	background: #156DA1;
	border-color: transparent;
}

.sw_brand_ads {
	width: 720px;
}
.sw_brand_ads a {
	display: inline-block;
		*display: inline;
	height: 135px;
	margin: 0 0 0 15px;
	text-align: center;
	width: 230px;
	zoom: 1.0;
}
.sw_brand_ads .story {
	top: 0;
	bottom: auto;
}
.sw_brand_ads img {
	border: none;
	display: block;
	height: 100%;
	width: 100%;
}
.sw_brand_ads .tile1 {
	margin: 0;
}