img {
	border:none;
}
#swShop {
	margin:0 auto;
	width:930px;
}
#searchHeader {
	margin: 0 0 6px;
}
#searchHeader, #searchHeader h2 {
	color: #808080;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 11px;
}
#searchHeader .meta {
	display: inline-block;
	*display: inline;
	margin: 0;
	width: 774px;
	zoom: 1.0;
}
#searchHeader .crumbtrail {
	margin-bottom: 5px;
}
#searchHeader .crumbtrail a {
	color: #808080;
	font-family: inherit;
}
.no-touch #searchHeader .crumbtrail a:hover {
	color: #2d84cc;
}
#searchHeader h2 {
	color: #005887;
	font-size: 32px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0;
}
#searchHeader img {
	display: inline-block;
	*display: inline;
	height: 60px;
	margin-bottom: 5px;
	vertical-align: bottom;
	width: 140px;
	zoom: 1.0;
}

#swShopNav {
	float:left;
	width:274px;
}
#filters {
	border-color: #c7daeb;
	float: none;
	overflow: visible;
	position: relative;
	width: 274px;
	z-index: 150;
}
#filters, #filter h3, #filters h4, #filter a {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
#filters ul {
	padding-bottom: 10px;
}
#filters h4 {
	background: #cedfeb;
	background: rgba(190, 213, 230, 0.7);
	border: none;
	margin: 0 -1px 0 0;
	padding: 5px 10px;
	position: relative;
}
#filters #category {
	padding:0;
}
#filters #category li {
	position: relative;
}
#filters #category a {
	background: none;
	border: none;
	color: #00598c;
	font-weight: 400;
	padding: 0;
	position: relative;
		z-index: 100;
}
#filters #category a:before {
	display: none;
}
#filters #category a {
	border-top: 1px solid #d1e1f0;
	font-size: 14px;
	line-height: 1;
	padding: 11px 25px 9px 10px;
}
#filters #category a:hover {
	background: #e1edf7;
	color: #2d84cc;
}
#filters #category li:first-child > a,
#filters #category .flyout li:first-child a {
	border-top: none;
}
#filters #category li i {
	line-height: 1;
	margin-top: -8px;
	position: absolute;
	right: 5px;
	top: 50%;
}

/* Flyout menus */
#filters .flyout {
	background: #f2f8ff;
	border: 1px solid;
	border-color: #b4c6d6 #b4c6d6 #9eadba #c7daeb;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	display: none;
	padding: 0;
	position: absolute;
		right: -202px;
		top: 0;
		z-index: 10;
	width: 200px;
}
#filters #category li ul.checkpoint {
	display: block;
	left: -9999px;
}
#filters #category li.hover .flyout {
	display: block;
}
#filters #category .flyout li,
#filters #category .flyout a {
	background: none;
	box-shadow: none;
	padding: 0;
}
#filters #category .flyout a {
	border: solid #dee9f0;
	border-width: 1px 0 0;
	font-size: 12px;
	padding: 8px 12px;
}
#filters #category .flyout a:hover {
	background: #e1edf7;
}

/* Brand Menu */
#filters #brand li {
	display: inline-block;
	*display: inline;
	vertical-align: top;
	width: 125px;
	zoom: 1.0;
}
#filters #brand .viewall {
	border-top: 1px solid #dee9f0;
	display: block;
	margin-top: 5px;
	width: auto;
}
#filters #brand .viewall a {
	background:none;
	padding:
}
#filters #brand .viewall a:before {
	display: none;
}
#filters #brand .viewall i {
	font-size: 10px;
	position: absolute;
		top: 5px;
		left: 2px;
}

/* inSync and Product Grid Buttons */
.sw_featured .links,
.is_content .links,
.local_content .links {
	border-top: 1px solid #ddd;
	clear: both;
	padding: 15px 15px;
	text-align: center;
}
.local_content .links {
	border-top-color: #BCD2E8;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
}
.sw_featured .links a,
.is_content .links a,
.local_content .links a {
	background: #104e85;
	background: linear-gradient(to bottom, #104e85, #003b73);
	border: 1px solid;
	border-color: #002e59 #002e59 #002140;
	border-radius: 3px;
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
	color: #FFF;
	display: inline-block;
	*display: inline;
	cursor: pointer;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #002140;
	-webkit-appearance: none;
	zoom: 1.0;
}
.sw_featured .links a:hover,
.is_content .links a:hover,
.local_content .links a:hover {
	background: #155e9e;
	background: linear-gradient(to bottom, #155e9e, #00488c);
}
.sw_featured .links a:active,
.is_content .links a:active,
.local_content .links a:active {
	background: #002e59;
	background: linear-gradient(to bottom, #002e59, #0e406b);
	border-color: #001426 #002140 #002140;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(255, 255, 255, 0.2);
	text-shadow: 1px 1px 0 #001426;
}
.sw_featured .links a:after,
.is_content .links a:after,
.local_content .links a:after {
	content: '\e601';
	display: inline-block;
	font: 12px 'sw-icons';
	margin-left: 5px;
	width: 12px;
}
#guitar-gallery .links a {
	background: #E00000;
	background: linear-gradient(to bottom, #E00000, #A00201);
	border-color: #000;
	text-shadow: 1px 1px 0 #6b0101;
}
#guitar-gallery .links a:hover {
	background: #f70000;
	background: linear-gradient(to bottom, #f70000, #b80202);
}
#guitar-gallery .links a:active {
	background: #780101;
	background: linear-gradient(to bottom, #780101, #b50000);
	text-shadow: 1px 1px 0 #4f0101;
}
.is_content .links a {
	background: #ff6f00;
	background: linear-gradient(to bottom, #ff9000, #ff6f00);
	border-color: #ff6500 #ff6500 #d44700;
	display: block;
	font-size: 16px;
	padding: 0;
	text-shadow: 1px 1px 0 #c25100;
}
.is_content .links a:hover {
	background: #ff5b00;
	background: linear-gradient(to bottom, #ff7400, #ff5b00);
	border-color: #ff5300 #ff5300 #d43800;
	text-shadow: 1px 1px 0 #bf4300;
}
.is_content .links a:active {
	background: #e65000;
	background: linear-gradient(to bottom, #e65000, #e66700);
	border-color: #6b1b00 #b33900 #b33900;
	text-shadow: 1px 1px 0 #bf4300;
}

/* inSync */
.sw_insync,
.sw_local {
	margin-top: 20px;
}
.is_intro,
.local_intro {
	background: #222;
	border-bottom: 5px solid #f47234;
	height: 58px;
	padding: 5px 0 0;
	text-align: center;
}
.local_intro {
	background: #cbe0f7;
	background: linear-gradient(to bottom, #cbe0f7, #94c3f9);
	border-bottom: 5px solid #064a71;
	height: auto;
	padding: 0;
	position: relative;
	text-align: left;
	z-index: 20;
}
.local_intro a {
	background: url(https://media.sweetwater.com/include/homepage/images/bg-local-news.png) no-repeat right 0;
	border: solid #5789c2;
	border-width: 1px 1px 0;
	border-radius: 5px 5px 0 0;
	color: #104172;
	display: block;
	height: 56px;
	padding: 5px 8px 0;
	text-decoration: none;
}
.sw_insync h2, .sw_insync h3, .sw_insync h4, .sw_insync h5,
.sw_local h2, .sw_local h3, .sw_local h4, .sw_local h5 {
	margin: 0;
}
.sw_insync h2,
.sw_local h2 {
	height: 36px;
	margin-right: 3px;
	width: 146px;
}
.sw_local h2 {
	border-bottom: 1px solid #8eb6e3;
	box-shadow: 0 1px rgba(255, 255, 255, 0.4);
	color: #104172;
	font: italic bold 22px/22px Arial, Helvetica, sans-serif;
	height: auto;
	margin: 0;
	padding: 3px 2px 4px;
	text-transform: uppercase;
	width: auto;
}
.sw_local h2,
.sw_local h4 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.sw_insync .is_intro a {
	color: #fff;
	display: block;
	text-decoration: none;
}
.sw_insync h2 {
	background: url('https://media.sweetwater.com/include/homepage/images/insync-logo.png') no-repeat 0 0;
	display: block;
	overflow: hidden;
	text-align: left;
	text-indent: -99999px;
}
.sw_insync h2, .sw_insync h3,
.sw_local h2, .sw_local h3 {
	display: inline-block;
	vertical-align: bottom;
	*display: inline;
	*float: left;
	*margin-left: 10px;
}
.sw_insync h3,
.sw_local h3 {
	color: #fff;
	font-size: 20px;
	padding-bottom: 5px;
	text-shadow: 1px 1px 0 #000;
}
.sw_insync h4,
.sw_local h4 {
	color: #C47540;
	font-size: 12px;
	margin-top: 3px;
	font-weight: normal;
	*clear: both;
}
.sw_local h4 {
	color: #003161;
	font-style: italic;
}
.is_content,
.local_content {
	background: #ebebeb;
	border: solid #d6d6d6;
	border-width: 0 1px 1px;
}
.local_content {
	background: #ebf2fa;
	border-color: #6199d8;
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, 0.7),
		inset -1px 0 0 rgba(255, 255, 255, 0.7),
		inset 1px 0 0 rgba(255, 255, 255, 0.7),
		inset 0 0 20px #bbd6f2;
}
.is_post,
.local_post {
	border-top: 1px solid #d6d6d6;
	clear: both;
	padding: 10px;
}
.local_post {
	border-top-color: #bcd2e8;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
}
.is_content .is_post:first-child,
.local_content .local_post:first-child {
	border-top: none;
}
.is_post .img,
.local_post .img {
	background: #fff;
	border: 1px solid #ddd;
	display: block;
	float: left;
	height: 56px;
	margin-bottom: 8px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 85px;
}
.is_post .img:after,
.local_post .img:after {
	background: rgba(255, 115, 22, 0.6);
	content: '';
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 3px solid #FF7116;
}
.local_post .img:after {
	background: rgba(255, 0, 0, 0.4);
	border: 3px solid #ee0000;
}
.is_post .img:hover:after,
.local_post .img:hover:after {
	display: block;
}
.is_post .img img,
.local_post .img img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	width: auto;
}
.is_post .info,
.local_post .info {
	margin-left: 95px;
}
.is_post a,
.local_post a {
	color: #1B78C1;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
}
.is_post a:hover {
	color: #FF5100;
}
.is_post a .icon {
	background: url(https://media.sweetwater.com/include/homepage/images/insync-video.gif) no-repeat 0 0;
	border-radius: 2px;
		display: inline-block;
		*display: inline;
	height: 13px;
	overflow: hidden;
	text-align: left;
	text-indent: -9999px;
	margin: -3px 4px 0 0;
	vertical-align: middle;
	width: 47px;
	zoom: 1.0;
}
.local_post a:hover {
	color: #ee0000;
}
.is_post h5, .is_post h5 a,
.local_post h5, .local_post h5 a {
	color: #111;
	font-size: 14px;
	line-height: 1.2;
	text-decoration: none;
	white-space: normal;
}
.local_post h5, .local_post h5 a {
	color: #012a45;
}
.is_post h5,
.local_post h5 {
	margin-bottom: 4px;
}
.is_post .text,
.local_post .text {
	color: #555;
	font-size: 11px;
}
.is_post p,
.local_post p {
	margin: 0;
}

/* Help Block
---------------------------------*/
#scHelp {
	background:#f2ecd3;
	background: linear-gradient(to bottom, #e7dfad, #f2ecd3 4%, #f2ecd3 96%, #e7dfad);
	border:1px solid #c9ae73;
	border-radius:5px;
	box-shadow: 0px 0px 30px #decc7e inset;
	margin-top:20px;
}
#scHelp h3 {
	background:url(https://media.sweetwater.com/include/shop/images/help-header-bg.gif) repeat-x 0 0 #fcb10e;
	background: linear-gradient(to bottom, #fbd06a, #fcb10e);
	border-bottom:1px solid #c98d0c;
	border-radius:4px 4px 0 0;
	color:#000;
	font-size:18px;
	font-style:italic;
	margin:0;
	text-shadow:1px 1px 0 #fef1d4;
}
#scHelp h3 span {
	display:block;
	border:1px solid #fbd06a;
	border-radius:4px 4px 0 0;
	height:30px;
	line-height:30px;
	padding:0 0 0 10px;
}
#scHelpSE {
	border-bottom:1px solid #c7a35e;
}

#scHelp .button {
	background:url(https://media.sweetwater.com/include/search/images/cart-bg.gif) repeat-x 0 0 #02562c;
	background: linear-gradient(to bottom, #11b163, #028d4d 40%, #04713a 40%, #02562c);
	border:1px solid #02542b;
	border-radius:4px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	color:#FFF;
	cursor:pointer;
	display:inline-block;
	*display:inline;
	font-size:11px;
	text-decoration:none;
	zoom:1.0;
}
#scHelp .button strong {
	border:solid #0a9752;
	border-right-color:#02542b;
	border-width:0 1px 1px;
	border-radius:4px 0 0 4px;
	cursor:pointer;
	display:inline-block;
	*display:inline;
	height:18px;
	line-height:20px;
	*line-height:18px;
	padding:0 5px;
	text-shadow:1px 1px 0px #013214;
	vertical-align:middle;
	zoom:1.0;
}
#scHelp .button span {
	background:url(https://media.sweetwater.com/include/search/images/forward-button.gif) no-repeat 5px 3px;
	border:solid #0a9752;
	border-width:0 1px 1px;
	border-radius:0 4px 4px 0;
	cursor:pointer;
	display:inline-block;
	*display:inline;
	height:18px;
	vertical-align:middle;
	width:15px;
	zoom:1.0;
}
#scHelp .button:hover {
	background:url(https://media.sweetwater.com/include/search/images/cart-bg-hover.gif) repeat-x 0 0 #01682c;
	background: linear-gradient(to bottom, #08c874, #01a958 40%, #02843b 40%, #01682c);
	border-color: #016028;
}
#scHelp .button:hover strong {
	border-color:#05b05d;
	border-right-color:#016028;
}
#scHelp .button:hover span {
	border-color:#05b05d;
}

/* Sales Engineer */
#scHelpSE h4, #scHelpGuides h4, #scHelpForums h4 {
	margin: 0;
}
#scHelpSE .wrap, #scHelpGuides .wrap, #scHelpForums .wrap {
	border: solid #fefad4;
}
#scHelpSE {
	background: linear-gradient(to bottom, rgba(222,204,126,1), rgba(222,204,126,0) 20px);
	position:relative;
}
#scHelpSE .wrap {
	border-width: 0 1px;
	padding: 10px 10px 13px;
}
#scHelpSE.single {
	border-bottom: none;
}
#scHelpSE.single .wrap {
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
}
#scHelpSE p {
	margin:0;
	padding:0 73px 0 0;
}
#scHelpSE .phone {
	color:#008945;
	display:block;
	font-size:24px;
	margin-top:4px;
}
#scHelpSE .se {
	height:123px;
	position:absolute;
		bottom:0;
		right:0;
	width:103px;
}

/* Buying Guides */
#scHelpGuides h4 {
	background: linear-gradient(to bottom, #fbd06a, #fcb10e);
	border-bottom:1px solid #c98d0c;
	border-radius:4px 4px 0 0;
	color:#000;
	font-size:18px;
	font-style:italic;
	margin:0;
	position: relative;
	text-shadow:1px 1px 0 #fef1d4;
}
#scHelpGuides h4 span.inner {
	display:block;
	border:1px solid #fbd06a;
	border-radius:4px 4px 0 0;
	height:30px;
	line-height:30px;
	padding:0 0 0 49px;
}
#scHelpGuides h4 span.inner span {
	background:url(https://media.sweetwater.com/include/shop/images/guides.png) no-repeat 0 0;
	*background:url(https://media.sweetwater.com/include/shop/images/guides.gif) no-repeat 0 0;
	display:block;
	height:50px;
	position:absolute;
		top:-9px;
		left:-8px;
	width:56px;
}
#scHelpGuides .wrap {
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
	height: auto !important;
	height: 45px;
	min-height: 45px;
	padding: 0 0 0;
}
#scHelpGuides ul, #scHelpForums ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#scHelpGuides li {
	border-bottom: 1px solid #fefefe;
	display: block;
}
#scHelpGuides li a {
	border-bottom: 1px solid #ddbf7e;
	color: #00458c;
	display: block;
}
#scHelpGuides li a:hover {
	background: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.0));
}
#scHelpGuides li a span {
	background: url(https://media.sweetwater.com/include/shop/images/guides-bullet.gif) no-repeat 10px 5px;
	display: block;
	padding: 7px 10px 7px 30px;
}
#scHelpGuides li.last {
	border:none;
}
#scHelpGuides li.last a {
	border: none;
}
#scHelpGuides.single .wrap {
	background: url(https://media.sweetwater.com/include/shop/images/guides-screen.gif) no-repeat -45px -25px;
	padding: 10px 5px 10px 100px;
}
#scHelpGuides.single p {
	margin: 0 0 5px;
}

/* Forums */
#scHelpForums {
	background:#f6d4b5;
	background: linear-gradient(to bottom, #f6d4b5 75%, #f1c298);
	border-top: 1px solid #ffead6;
	position: relative;
}
#scHelpForums .wrap {
	background: linear-gradient(to bottom, rgba(241, 194, 152, 1), rgba(241, 194, 152, 0) 4%, rgba(241, 194, 152, 0) 96%, rgba(241, 194, 152, 1));
		border-color:#f6d4b5;
	border-width:0 1px 1px;
	border-radius: 0 0 4px 4px;
}
#scHelpForums .wrap div {
	background:url(https://media.sweetwater.com/include/shop/images/forums-screen.gif) no-repeat -30px bottom;
	padding:6px 5px 8px 100px;
}
#scHelpForums .wrap span.icon {
	background:url(https://media.sweetwater.com/include/shop/images/forums.png) no-repeat right 0;
	*background:url(https://media.sweetwater.com/include/shop/images/forums.gif) no-repeat right 0;
	display:inline;
	float:left;
	height:38px;
	margin: -17px 5px 0 -18px;
	width:41px;
}

#scHelpForums h4 {
	text-transform: uppercase;
	color:#0C3D6F;
	font-size:13px;
	margin:0;
}
#scHelpForums h4 span {
	color:#000;
	font-size:12px;
	text-transform: none;
}
#scHelpForums p {
	font-size:11px;
	margin:5px 0 0;
	padding:0 0 5px;
}

/* Last Help block styles */
#scHelp #scHelpSE.last, #scHelp #scHelpGuides.last {
	border-bottom:none;
}
#scHelp #scHelpSE.last {
	border-radius:4px;
}
#scHelp #scHelpSE.last .wrap {
	border-radius:4px;
	border-width:0 1px 1px;
}
#scHelp #scHelpSE.last .se {
	border-radius:0 0 4px 0;
}
#scHelp #scHelpGuides.last {
	border-radius:0 0 4px 4px;
}
#scHelp #scHelpGuides.last .wrap {
	border-radius:0 0 4px 4px;
	border-width:0 1px 1px;
}

/* Product Column
---------------------------------*/
#swShopProds {
	float:right;
	width:646px;
}

/* Featured Banners
---------------------------------*/
#sws_featured {
	height: 247px;
	margin-bottom:10px;
	overflow:hidden;
	position:relative;
	width:646px;
}
#fTiles {
	background: #000;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#fTiles li {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
}
#fTiles li a,
#fTiles li img {
	display: block;
	height: 100%;
	width: 100%;
}
.slideshow #fTiles li {
	display: none;
}
.slideshow #fTiles li.selected {
	display: block;
}
#fTabs {
	color: transparent;
	font-size: 0;
	margin: 0;
	padding: 0;
	position:absolute;
		top: auto;
		right: 0;
		bottom: 8px;
		left: 0;
		z-index:100;
	text-align: center;
	text-decoration: none;
}
#fTabs li {
	display: inline-block;
}
#fTabs a {
	border: 1px solid rgba(255,255,255, 0.5);
	border-radius: 50%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	display: inline-block;
	height: 10px;
	margin: 0 6px;
	width: 10px;
}
#fTabs li.selected a {
	background: #fff;
	border-color: transparent;
}
#fTabs a:hover {
	background: rgba(255,255,255,0.7);
	border-color: #fff;
}
#fTabs li.selected a:hover {
	background-color: #fff;
	border-color: transparent;
}

/* Product Grid
---------------------------------*/
.sw_featured {
	width: 646px;
}
.sw_featured h2 {
	color: #ffda54;
	font: italic 500 18px/33px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	height: 33px;
	text-align: center;
	text-transform: uppercase;
}
.sw_featured ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.swf_menu {
	background: #156DA1;
	border-width: 1px 1px 0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	height: 68px;
}
.swf_menu ul {
	border-spacing: 3px 0;
	display: table;
	*display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
.swf_menu li {
	display: table-cell;
	height: 34px;
	width: 25%;

	*display: inline;
	*margin: 0 2px;
	*width: 23%;
	*zoom: 1.0;
}
.swf_menu a {
	background: #F2F2F2;
	background: linear-gradient(to bottom, #F2F2F2, #ccc);
	border-radius: 5px 5px 0 0;
	display: block;
	color: #00233d;
	font: bold 14px/34px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
	text-decoration: none;
	text-transform: uppercase;
}
.swf_menu a:hover {
	background: #d8e0f0;
	background: linear-gradient(to bottom, #d8e0f0, #a1a9ba);
}
.swf_menu a:active {
	background: #8a909e;
	background: linear-gradient(to bottom, #8a909e, #aab0bd);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
}
.swf_menu .active,
.swf_menu .active:hover {
	background: #dfaa22;
	background: linear-gradient(to bottom, #fed779, #dfaa22 80%);
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, 0.5),
		inset -1px 0 0 rgba(255, 255, 255, 0.3),
		inset 1px 0 0 rgba(255, 255, 255, 0.3);
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.swf_menu .active:before, .swf_menu .active:after {
	background: url(https://media.sweetwater.com/include/homepage/images/tab-selected.png) no-repeat center bottom;
	content: '';
	cursor: pointer;
	height: 22px;
	margin-left: -50%;
	position: absolute;
	top: 34px;
	left: 50%;
	width: 100%;
}
.swf_menu .active:before {
	border-color: #7b7B7B transparent;
	bottom: -16px;
}
.swf_mask {
	overflow: hidden;
}
.swf_slide {
	background: #fff;
	border: solid #ddd;
	border-width: 0 1px 1px 1px;
	display: none;
	padding-top: 18px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.swf_slide.active {
	display: block;
	position: static;
}
.swf_slide .links {
	margin-top: 15px;
}


/* Header */
#swShopProds h3 {
	background: #156da1;
	color: #fff;
	font: 400 20px/36px 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	height: 36px;
	margin: 0;
	padding: 0 10px;
	zoom: 1.0;
}
#swShopProds h3 strong {
	font-weight: 600;
	font-style: italic;
}

/* Grid */
.productGrid {
	border-top: none;
	border-radius: 0 0 5px 5px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.productGrid,
.productGrid a,
.productGrid h1, .productGrid h2, .productGrid h3, .productGrid h4, .productGrid h5, .productGrid h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.productGrid a {
	color: #005887;
}
.no-touch .productGrid a:hover {
	color: #3883AF;
}
.no-touch .productGrid a:active,
.productGrid a:active {
	color: #00456D;
}
.productGrid li {
	color: #4c4c4c;
	display: inline-block;
		*display: inline;
	font-size: 11px;
	vertical-align: top;
	width: 25%;
	zoom: 1.0;
}
.productGrid li .wrap {
	border: solid #e6e6e6;
	border-width: 1px 0 0;
	padding: 10px;
}
.productGrid li:nth-child(-n+4) .wrap {
	border-top: none;
}
.productGrid .img {
    display: block;
    position:relative;
    text-align: center;
    vertical-align: middle;
    height: 125px;
}
.productGrid .img:before, .productGrid .img img {
    vertical-align: middle;
}
.productGrid .img:before {
	content: '';
	display: inline-block;
    height: 100%;
    width: 0;
}
.productGrid .img .icon {
	top: -5px;
}
.productGrid h5 {
	font-size: 12px;
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 5px;
}
.productGrid h5 a {
	text-decoration: none;
}
.no-touch .productGrid h5 a:hover {
	text-decoration: underline;
}
.productGrid .price .list,
.productGrid .price .final {
	display: inline-block;
	*display: inline;
	padding: 0 6px;
	zoom: 1.0;
}
.productGrid .price .final {
	color: #E13233;
	font-size: 16px;
	line-height: 1;
}

.productGrid .price .final b {
	display: inline-block;
	*display: inline;
	font-size: 0.7em;
	line-height: 1.2;
	margin-right: 1px;
	vertical-align: top;
	zoom: 1.0;
}
.productGrid .price .final b ~ b {
	margin-right: 0;
}

.productGrid .price .shipping {
	color: #E13233;
	display: block;
	font-size: 10px;
}
.productGrid .price .shipping em {
	font-style: normal;
	text-transform: uppercase;
}
.productGrid .desc {
	display: block;
	font-size: 11px;
	line-height: 1.2;
	margin-top: 5px;
	text-align: left;
}
.productGrid .headline {
	display: block;
	font-weight: normal;
	margin: 3px 0;
}
.productGrid.deals .headline {
	background: #fff566;
	color: #ee0000;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 4px;
	padding: 2px;
}
.productGrid .reviews {
	display: block;
	margin: 4px auto 0;
}
.no-touch .productGrid .reviews:hover {
	color: #156DA1;
}

/* Accessories Category Menu
---------------------------------*/
#accCatMenu {
	border:1px solid #9abde3;
	border-top:none;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 3px rgba(154, 189, 227, 0.8) inset;
	list-style:none;
	margin:0;
	padding:5px 10px 5px;
	text-align:center;
}
#accCatMenu li {
	display:inline-block;
	*display:inline;
	padding:7px;
	text-align:left;
	vertical-align: top;
	width:192px;
	zoom:1.0;
}
#accCatMenu li img {
	display:block;
}
#accCatMenu li .name {
	background:#134e8a;
		background: linear-gradient(to bottom, #134e8a, #002141);
		*background: url(https://media.sweetwater.com/include/search/images/sideheaderbg.gif) repeat-x 0 0 #002141; /* IE6 and 7 */
		background: url(https://media.sweetwater.com/include/search/images/sideheaderbg.gif) repeat-x 0 0 #002141\0/; /* IE8 */
	border:1px solid #002141;
	box-shadow: inset 0 1px 0px #1d77c5;
	color:#FFF;
	display:block;
	font:bold 14px Arial, Helvetica, sans-serif;
	letter-spacing:0.5px;
	*letter-spacing:0;
	letter-spacing:0\0/;
	margin:0 0 3px;
	padding:4px 6px;
	text-align:center;
	text-shadow: 1px 1px 5px #000;
	zoom:1.0;
}
#accCatMenu li .name a {
	color:#FFF;
}
#accCatMenu li .name a:hover {
	color:#ffcc51;
}

#accCatMenu li ul {
	list-style:none;
	margin:0;
	padding:0;
}
#accCatMenu li li {
	border:none;
	display:block;
	margin:0;
	padding:0;
	text-align:left;
	width:auto;
}
#accCatMenu li li a {
	background:url(https://media.sweetwater.com/include/shop/images/bullet.gif) no-repeat 0 center;
	display:block;
	font-size:12px;
	padding:3px 0 3px 15px;
}
.cattext {
	font-size:11px !important;
	margin-top:15px !important;
}