#sw_head {

}
.rgba #sw_head {
	background: linear-gradient(to bottom, #91b0cc, rgba(180, 220, 255, 0.55) 3%, #fff 50%),
	url(https://media.sweetwater.com/include/holiday/images/snow-transparent.gif) #b4dcff;
}

/* Deadlines popup */
#shippingDeadlines .outer {
	background: linear-gradient(to bottom, #fff 277px, #e6d9c3 277px, #e6d9c3 278px, #fff8eb 278px) #fff;
}
#shippingDeadlinesWhiteout {
	background:#FFF;
	z-index:220;
}
#shippingDeadlines {
	left:50%;
	margin-left:-445px;
	z-index:500;
}
#shippingDeadlines .inner {
	border:none;
}
#shippingDeadlines .holidayribbon {
	background:url(https://media.sweetwater.com/include/holiday/images/ribbon.png) no-repeat 0 0;
	display:block;
	height:129px;
	position:absolute;
	top:-13px;
	left:-1px;
	width:208px;
}

#shippingDeadlines .holidayshipheader {
	height:62px;
	overflow:hidden;
	text-align:center;
}
#shippingDeadlines .holidayshipheader h3 {
	color:#d02124;
	font-size:28px;
	line-height:34px;
	margin:0;
	overflow:hidden;
	padding:5px 0 0;
	text-align:center;
}
#shippingDeadlines .holidayshipheader h4 {
	color:#98181a;
	font-size:14px;
	line-height:14px;
	margin:0;
	text-align:center;
}

/* Col 1 */
#shippingDeadlines .holidaycol1 {
	display:inline;
	float:left;
	margin-left:33px;
	text-align:center;
	width:453px;
}
#shippingDeadlines .holidayulwrap {
	background:#f5fff2;
	border:2px solid #63aa3c;
	border-radius:8px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	width:448px
}
#shippingDeadlines ul {
	border-radius:8px;
	list-style:none;
	margin:0;
	padding:0;
}
#shippingDeadlines li {
	border-top:1px solid #bbdda9;
	padding:10px 0;
}
#shippingDeadlines .holidayfirst {
	border-top:0;
}
#shippingDeadlines h5,
#shippingDeadlines .holidaylabel,
#shippingDeadlines .number,
#shippingDeadlines .holidaydetails {
	display:inline-block;
	*display:inline;
	vertical-align: middle;
	zoom:1.0;
}
#shippingDeadlines h5 {
	color:#cf2124;
	margin: 0;
	text-align:right;
	width:94px;
}
#shippingDeadlines h5 strong {
	font-size:14px;
	line-height:14px;
	text-transform: uppercase;
}
#shippingDeadlines h5 span {
	font-size:36px;
	text-transform: uppercase;
}
#shippingDeadlines .holidaydetails {
	color:#646464;
	font-size:11px;
	margin-left:10px;
	text-align:left;
	width:335px;
}
#shippingDeadlines .holiday-ship-deadline {
	color:#272727;
	display:block;
	font-size:16px;
	margin-bottom:2px;
}
#shippingDeadlines .holiday-ship-rate {
	color:#272727;
	display:block;
	font-size:14px;
	margin-bottom:2px;
}
#shippingDeadlines .holidaydetails em {
	color:#cf2124;
	font-style:normal;
}
#shippingDeadlines .disabled,
#shippingDeadlines .disabled h5,
#shippingDeadlines .disabled .holidaydetails,
#shippingDeadlines .disabled .holidaydetails strong,
#shippingDeadlines .disabled .holidaydetails em {
	color:#aaa;
}

/* Col 2 */
#shippingDeadlines .holidaycol2 {
	background: no-repeat right bottom;
	height:216px;
	*height:215px;
	float:right;
	position:relative;
	width:355px;
}
#shippingDeadlines .holidaycol2 .holidaytext {
	font-size:12px;
	padding-top:8px;
	position:absolute;
	bottom:10px;
	left:0;
	text-align: left;
}
#shippingDeadlines .holidaycol2 h4 {
	color:#d02124;
	font-size:22px;
	font-style: italic;
	margin:0;
	text-align:left;
}
#shippingDeadlines .holidaycol2 .holidaycall {
	color:#318900;
	font-size:16px;
	white-space:nowrap;
}
#shippingDeadlines .holidaycol2 .holidaycall em {
	font-size:20px;
	font-style:normal;
}
#shippingDeadlines .holidaycol2 p {
	padding-right:135px;
	line-height:18px;
}

/* Note */
#shippingDeadlines .holidaynote {
	color:#656565;
	font-size:10px;
	line-height:11px;
	margin:0;
	position:absolute;
	top:305px;
	right:16px;
	text-align:center;
	width:372px
}

/* Close */
#holidaycloseblock {
	clear:both;
	height:39px;
	margin:0;
	padding-top:18px;
}
#holidaycloseblock a {
	color: #fff;
	display: block;
	font-size: 16px;
	height: 28px;
	line-height: 28px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 91px;
	zoom: 1.0;
}

/* Holiday Nav */
.holiday-nav-wrap {
	margin: 0 auto;
	width: 100%;
}
.holiday-nav {
	background: #E13233;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
}
.holiday-nav .holiday-message {
	color: #FFF;
	display: block;
	font-size: 17px;
	font-weight: 600;
	padding: 6px 6px 6px;
	text-decoration: none;
}
.no-touch .holiday-message:hover {
	color: #fff;
}
.holiday-message .h-overnight {
	font-size: 16px;
}
.holiday-message strong {
	font-weight: 600;
	text-transform: uppercase;
}
.holiday-nav .holiday-nav-btn {
	background: #fff;
	border-radius: 4px;
	color: #d12628;
	display: inline-block;
	*display: inline;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin-left: 10px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	zoom: 1.0;
}
.holiday-nav ul,
.holiday-nav li {
	display:inline-block;
	*display:inline;
	padding:0;
	vertical-align: middle;
	*zoom:1.0;
}
.holiday-nav ul {
	background: #d12628;
	display: block;
	list-style:none;
	margin: 0;
	text-align:center;
}
.holiday-nav .h-item {
	padding: 0;
}
.holiday-nav .h-item a {
	color: #fae6e6;
	display:block;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	padding: 4px 15px;
	text-decoration: none;
}
.no-touch .holiday-nav .h-item a:hover {
	background: #b52225;
	color: #fff;
}
#ship-deadline-msg .time {
	background: #bf1b24;
	border-radius: 4px;
	display: inline-block;
	*display: inline;
	font-size: 9px;
	margin-right: 4px;
	padding: 5px 5px 3px;
	vertical-align: middle;
	zoom: 1.0;
}
#ship-deadline-msg .time em {
	display: block;
	font-size: 20px;
	font-style: normal;
	height: 21px;
	line-height: 1;
}

/* Holiday nav: no message */
.holiday-nav.no-msg:before {
	background: url(https://media.sweetwater.com/include/holiday/images/holly.png) no-repeat 0 0;
	content: '';
	display: inline-block;
	*display: inline;
	height: 32px;
	margin: -5px -5px -5px 0;
	vertical-align: middle;
	width: 34px;
	zoom: 1.0;
}
.holiday-nav.no-msg .h-item a {
	color: #fff;
	margin: 3px 0;
}
.no-touch .holiday-nav.no-msg .h-item a:hover {
	background: none;
	text-decoration: underline;
}
.holiday-nav.no-msg .ship-deadline-li a {
	color: #fff;
	line-height: 20px;
	margin: 5px 0 5px -1px;
}

/* Gift Certs */
a.hn-gift-cert {
	background: url(https://media.sweetwater.com/include/holiday/images/bg-header.jpg) repeat-x center -5px #fff;
	border-bottom: 1px solid #d8e6f0;
	color: #134462;
	display: block;
	font-size: 15px;
	line-height: 1.2;
	margin: 0 auto 8px;
	position: relative;
	text-align: center;
	text-decoration: none;
}
.hn-gift-cert .hn-msg {
	margin: 0 auto;
	padding: 6px;
	width: 624px;
}
#swhome .hn-gift-cert .hn-msg {
	width: 590px;
}
.hn-gift-cert span {
	display: block;
}
.hn-gift-cert em {
	font-size: 18px;
}
.hn-gift-cert .holiday-nav-btn {
	margin-top: -4px;
}
#swhome .hn-gift-cert .holiday-nav-btn {
	margin-left: 5px;
}
.hn-gift-cert .holiday-nav-btn {
	background: #45920E;
	color: #fff;
}
.no-touch .hn-gift-cert .holiday-nav-btn:hover {
	background: #307900;
}


/* Clearance Sale */
.hn-clearance {
	background: url(https://media.sweetwater.com/include/header/images/885x60-cash-back.jpg) no-repeat scroll 0 0 #FFFFFF;
	display: block;
	height: 60px;
	margin: 0 auto 8px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	text-indent: -99999px;
	width: 885px;
}

/* Homepage holiday Menu */
#swhome .holiday-nav-wrap {
	margin-top: 13px;
	margin-bottom: -15px;
	width: 930px;
}
#swhome .holiday-nav.no-msg .h-item a {
	margin: 10px 0;
}
#swhome .holiday-nav {
	border-radius: 4px;
	margin: 0 0 0 auto;
	width: 720px;
}
#swhome .holiday-nav ul {
	border-radius: 4px 4px 0 0;
}
#swhome .hn-gift-cert {
	border: 1px solid #a4cfef;
	width: 706px;
}