/* New tile layout */

.home-tile-grid {
    display: block;
    width: 950px;
    text-align: center;
    font-size: 0;
    margin: 20px -8px;
}

.home-tile-grid .tile {
	display: inline-block;
	*display: inline;
	font-size: 14px;
	zoom: 1.0;
}
.home-tile-grid .tile.two-wide {
	width: 66.666666%;
}
.home-tile-grid .tile.one-wide {
	width: 33.333333%;
}
.home-tile-grid .tile.one-wide img.tile-img {
	max-width: 300px;
}
.home-tile-grid .tile a {
	display: block;
	height: 300px;
	margin: 8px;
	overflow: hidden;
	position: relative;
}
.home-tile-grid .tile img.tile-img, 
.home-tile-grid .tile svg {
	/*border: 1px dotted #ddd;*/
	display: block;
	height: 300px;
	transition: all .2s ease-in-out;	
	width: 100%;
}
.home-tile-grid .tile img:hover {
	/*-webkit-filter: brightness(103%);*/
	/*border: 1px solid #ddd;*/
}
.home-tile-grid .tile a:hover .arrow {
	opacity: .7;
}
.home-tile-grid .arrow {
	border-radius: 20px;
	bottom: 10px;
	height: 40px;
	line-height: 40px;
	opacity: 0.4;
	position: absolute;
	right: 10px;
	width: 40px;
	z-index: 10;
	transition: 0.2s all ease-in-out;
}
.home-tile-grid .profile-d .arrow {
	background-color: #a1a1a1;
}
.home-tile-grid .profile-d .arrow i {
	color: #fff;
}
.home-tile-grid .profile-l .arrow {
	background-color: #fff;
}
.home-tile-grid .profile-l .arrow i {
	color: #444;
}
.home-tile-grid .arrow a {
	color: #fff;
}
.home-tile-grid .arrow i {
	font-size: 22px;
	margin-left: 2px;
}
.home-tile-grid a {
	text-decoration: none;
	position: relative;
}
.home-tile-grid .tile svg .animate
{
	transition: all .4s ease-in-out;
}
.home-tile-grid .tile svg:hover .animate.hover-upleft {
	transform: translate(-10px, -10px);
}
.home-tile-grid .tile svg:hover .animate.hover-up {
	transform: translate(0, -10px);
}
.home-tile-grid .tile svg:hover .animate.hover-down {
	transform: translate(0, 5px);
}
.home-tile-grid .tile svg:hover .animate.hover-scale {
	/*transform: scale(1.01, 1.01);*/
}

/* Banners */

.home-tile-grid .type-insync h3 {
	background: url(https://media.sweetwater.com/insync/include/images/insync-logo.png) no-repeat rgba(35,35,35,0.9);	
	background-position: center;
	background-size: 40%;
	color: #fff;
	display: inline-block;
		*display: inline;
	font-size: 32px;
		-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	height: 41px;
	font-size: 32px;
	left: 0;	
	line-height: 41px;
	margin: 0;
	padding: 0;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	transition: 0.2s all ease-in-out;		
	width: 100%;	
	zoom: 1.0;
}

/*.home-tile-grid .type-insync .arrow, .home-tile-grid .type-rebate .arrow {
	display: none;
}*/
.home-tile-grid .type-insync:hover h3 {
	background: url(https://media.sweetwater.com/insync/include/images/insync-logo.png) no-repeat rgb(35,35,35);	
	background-position: center;
	background-size: 40%;	
}
.home-tile-grid .type-insync:hover h4 {
	/*background-position-y: -10px;*/
	/*padding-bottom: 40px;*/
}

.home-tile-grid .type-insync h4 {
	background: rgba(0,0,0,0.65);
	background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.65) 30%); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.65) 30%); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,0.65) 30%); /*Fx 3.6-15*/
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.65) 30%); /*Standard*/
	bottom: 0;
	color: #fff;
	font-family: Lato, Helvetica, Arial;
	font-size: 24px;
	font-weight: normal;
	min-height: 30px;
	margin: 0 0 -20px;
	padding: 30px 0 30px;
	position: absolute;
	transition: 0.2s all ease-in-out;	
	width: 100%;
}

.type-rebate 
{
	
}
.type-rebate a:hover .image-container {
	transform: scale(1.02);
}
.type-rebate a
{
    border: 1px solid #eee;
	height: 298px;
}
.type-rebate .rebate-badge {
    display: block;
    width: 100%;
    background-size: 120px 120px;
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
	background-position: 5px bottom;
}

.type-rebate h3 {
    color: #E13233;
    display: block;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: bold;
    margin: 0 0 120px;
    padding: 5px;
    position: relative;
    text-transform: uppercase;
    z-index: 3;
}

.type-rebate h4 {
	background: rgba(255,255,255,0.8);
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.8) 30%);
    background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,0.8) 30%);
    background: -moz-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,0.8) 30%);
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.8) 30%);
	bottom: 0;	
	color: #186B9D;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;	
    font-size: 24px;
    margin-bottom: 4px;
    padding: 30px 5px 2px;
	position: absolute;
	text-transform: uppercase;
	width: 290px;
	z-index: 3;
}

.type-rebate .image-container {
    background-size: 200px;
    background-repeat: no-repeat;	
    bottom: 15px;	
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    overflow: hidden;
    z-index: 1;	
	transition: all 0.3s ease-out;
}

.type-rebate .image-container img {
    max-height: 200px;
    max-width: 200px;
    line-height: 200px;
    vertical-align: middle;
}

.carousel {
	border-top: 1px solid #ddd;
}


/* Open shop dropdown */
#swhome #swh_search {
	position: relative;
	z-index: 20;
}
#swhome #swh_search .shop .swh_menu {
	background: #fff;
	background-image: linear-gradient(to right, rgba(232, 243, 255, 0), #F2F8FF 180px);
	border-color: #D1E1F0;
	border-width: 0 1px 0 0;
	box-shadow: none;
	left: 1px;
}
#swhome #swh_search .shop .swh_menu:after {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	content: '';
	height: 10px;
	position: absolute;
		right: -7px;
		bottom: 0;
		left: -1px;
		z-index: 20;
}
#swh_search .feature_item .submenu img {
	position: relative;
		z-index: 20;
}

/* Local Links */
.local-links {
	background: #f2f8ff;
	border: 1px solid #cad8e6;
	border-radius: 3px;
	margin-top: 35px;
	overflow: hidden;
	position: relative;
	color: #003857;
}
.ll-intro {
	padding: 5px 0 0 200px;
	text-align: left;
}
.local-links h3 {
	color: #003857;
	font-size: 22px;
	font-weight: normal;
	margin: 0;
}
.local-links p {
	font-size: 12px;
	line-height: 1.2;
	margin: 2px 0 6px;
}
.ll-intro ul {
	margin: 0 0 6px;
	padding: 0 0 0 14px;
}
.ll-intro li {
	margin: 2px 0;
}
.ll-menu {
	background: #e6f2ff;
	border-top: 1px solid #c5d3e0;
	list-style: none;
	margin: 0 -1px -1px 0;
	padding-left: 190px;
	text-align: right;
}
.ll-menu li {
	display: inline-block;
	vertical-align: top;
	width: 33.33%
}
.ll-menu a {
	border: solid #c5d3e0;
	border-width: 0 1px 1px 0;
	color: #003857;
	display: block;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	padding: 0 0 0 10px;
	position: relative;
	text-align: left;
	text-decoration: none;
}
.ll-menu a:hover {
	background: #d3e4f5;
}
.ll-menu [data-icon] {
	display: block;
	font-size: 13px;
	line-height: inherit;
	position: absolute;
		top: 0;
		right: 0;
	width: 20px;
	text-align: center;
}
.ll-menu [data-icon]:before {
	display: block;
}
.ll-icon {
	background: url(https://media.sweetwater.com/include/homepage/images/bg-local-links-201406.png) no-repeat right center;
	position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	width: 190px;
}

/* Featured products */
.sw_featured {
	float: left;
	margin: 26px 0 22px;
	width: 600px;
}
.sw_featured.wide {
	float: none;
	width: auto;
}
.sw_featured.wide .productGrid li:nth-child(-n+6) {
	border-top: none;
}
.productGrid li {
	padding: 10px 5px;
	width: 135px;
}
.productGrid .img .icon {
	background: url(https://media.sweetwater.com/include/search/images/prod-badges.png) no-repeat 0 0;
	*background: url(https://media.sweetwater.com/include/search/images/prod-badges.gif) no-repeat 0 0;
	background: url(https://media.sweetwater.com/include/search/images/prod-badges.gif) no-repeat 0 0\0/;
	display: block;
	height: 44px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -6px;
	text-align: left;
	text-indent: -9999px;
	width: 41px;
}
.productGrid .img .new {
	background-position: 0 0;
}
.productGrid .img .hot {
	background-position: 0 -44px;
}
.productGrid .img .pricedrop {
	background-position: 0 -88px;
	width: 60px;
}
.productGrid .img .blowout {
	background-position: 0 -132px;
	width: 53px;
}
.productGrid .reviews a {
	color: #888888;
	font-size: 10px !important;
}
.productGrid .reviews span {
	color: #888888;
	display: block;
	white-space: nowrap;
}
.productGrid .reviews a {
	color: #888888;
	font-size: 10px !important;
}

/* GG Products */
#guitar-gallery .links {
	border-top: 1px solid #2f2f2f;
	box-shadow: 0 -1px 0 #000;
}
#guitar-gallery {
	background: url("https://media.sweetwater.com/guitargallery/include/images/noise-20.png") repeat 0 0 #202020;
	border-color: #000;
}
.gg_product_grid {
	position: relative;
	*position: static;
	text-align: center;
}
.gg_product_grid li {
	background: #1a1a1a;
	box-shadow: inset 0 0 20px 10px #000, 0 0 5px rgba(0, 0, 0, 0.7);
	display: inline-block;
	*display: inline;
	font: normal 11px Tahoma, Geneva, Arial, Helvetica, sans-serif;
	margin: 10px 3px 0;
	text-shadow: 1px 1px 0 #000;
	vertical-align: top;
	width: 139px;
	zoom: 1.0;
}
.gg_product_grid li:hover {
	background: #272727;
}
.gg_product_grid .img_wrap {
	position: relative;
	*position: static;
}
.gg_product_grid .img {
	background: #000;
	border: 1px solid #282828;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	color: #eee;
	position: relative;
	*position: static;
	text-decoration: none;
}
.gg_product_grid li.demo .img:before,
.gg_product_grid li.b-stock .img:before,
.gg_product_grid li.used .img:before {
	background: url(https://media.sweetwater.com/guitargallery/include/images/badges-bstock-demo.png) no-repeat 0 0;
	content: 'Demo';
	display: block;
	*display: none;
	height: 68px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	left: -2px;
	text-align: left;
	text-indent: -9999px;
	width: 68px;
}
.gg_product_grid li.b-stock .img:before {
	background-position: 0 -73px;
	content: 'B-stock';
}
.gg_product_grid li.used .img:before {
	background-position: 0 -146px;
	content: 'B-stock';
}
.gg_product_grid .img:hover {
	border-color: #53441d;
}
.gg_product_grid img {
	border: none;
	display: block;
	text-align: center;
}
.gg_product_grid .img img {
	color: #000;
	height: 206px;
	overflow: hidden;
	width: 137px;
}
.gg_product_grid .info {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 20px);
	border: solid #282828;
	border-width: 0 1px 1px;
	display: block;
	padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
	*position: static;
	z-index: 10;
}
.gg_product_grid .small_img {
	background: url(https://media.sweetwater.com/guitargallery/include/images/loading-24.gif) no-repeat center center #000;
	border: 1px solid #282828;
	display: block;
}
.gg_product_grid .smallView {
	display: block;
}
.gg_product_grid .name {
	color: #fff;
	display: block;
	font-size: 11px;
	font-weight: normal;
	height: 26px;
	line-height: 13px;
	margin: 0 7px 5px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	text-decoration: none;

	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: -o-ellipsis-lastline;
}
.gg_product_grid .man,
.gg_product_grid .pricing {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	zoom: 1.0;
}
.gg_product_grid .man {
	height: 38px;
	text-align: left;
	text-decoration: none;
	margin-left: 7px;
	width: 50px;
}
.gg_product_grid .man:before,
.gg_product_grid .man img {
	display: inline-block;
	vertical-align: middle;
}
.gg_product_grid .man:before {
	content: '';
	height: 100%;
	width: 0;
}
.gg_product_grid .man img {
	height: auto;
	_height: 24px;
	max-height: 24px;
	max-width: 50px;
	width: auto;
}
.gg_product_grid .pricing {
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 7px 0 0;
	padding-left: 0;
	width: 70px;
}
.gg_product_grid .final,
.gg_product_grid .pricing {
	color: #ff0000;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
}

/* Events */
.sw_featured .local-event {
	border-top: 1px solid #E3E3E3;
	clear: left;
	color: #333;
	display: block;
	font-size: 12px;
	line-height: 1.2;
	padding: 15px;
	text-decoration: none;
}
.sw_featured .local-event:after {
	clear: both;
	content: '';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}
.swf_slide .local-event:first-child {
	border-top: none;
	padding-top: 0;
}
.sw_featured .le-img {
	float: left;
	position: relative;
	width: 200px;
}
.sw_featured .le-img:after {
	border: 1px solid;
	border-color: #ccc;
	border-color: rgba(0,0,0,0.2);
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.sw_featured .le-img img {
	border: none;
	display: block;
	height: auto;
	width: 100%;
}
.sw_featured .le-content {
	padding-left: 215px;
}
.local-event h3, .local-event h4, .local-event h5, .local-event p {
	margin: 0;
}
.local-event h3 {
	font-size: 18px;
	margin-bottom: 4px;
}
.local-event h3, .local-event h3 a {
	color: #3065a0;
	text-decoration: none;
}
.local-event h3 strong {
	color: #e13233;
	text-transform: uppercase;
}
.local-event h4,
.local-event h5,
.local-event .le-price {
	color: #2c2c2c;
	font-size: 15px;
	margin-bottom: 3px;
}
.local-event h5 {
	color: #737373;
	font-size: 13px;
	font-weight: normal;
}
.local-event .le-loc {
	color: #737373;
	margin-bottom: 3px;
}
.local-event .le-price {
	color: #e13233;
	font-weight: bold;
}
.local-event .le-price em {
	font-style: normal;
	text-transform: uppercase;
}
.local-event .le-desc {
	line-height: 1.3;
}
.local-event .le-directions {
	color: #1d5b94;
	display: inline-block;
	font-size: 11px;
	text-decoration: underline;
	vertical-align: middle;
}
.local-event .le-actions {
	margin-top: 8px;
}
.local-event .btn {
	height: 22px;
	line-height: 22px;
	margin-right: 10px;
	padding: 0 10px;
}
.local-event .le-img:hover:after {
	border-color: #2d84cc;
}
.local-event h3 a:hover {
	color: #2d84cc;
}
.local-event .le-directions:hover {
	color: #2d84cc;
}
/* New Manufacturers Block */
.new-manus {
	border-top: 1px solid #ddd;
}
.new-manus li {
    display: inline-block;
    text-align: center;
	width: 20%;
}
.new-manus .img-container {
	height: 60px;
	line-height: 60px;
}
.new-manus img {
	max-height: 60px;
	vertical-align: middle;
}
.new-manus ul {
    list-style-type: none;
	padding: 0;
	margin-bottom: 35px;
}
.new-manus h3 {
    text-align: center;
    color: #146ba0;
    font-weight: normal;
    font-size: 20px;
}

/* inSync articles slider (8/12/16) */
#sw_homepage #sw_insync {
	text-align: center;
	padding: 10px 18px 5px;
}
#sw_homepage #sw_insync h3 {
	margin: 0 0 8px;
	font-size: 22px;
	font-size: 1.4rem;
	line-height: 1em;
	color: #333;
}
#sw_homepage #sw_insync h3 > a { color: inherit; text-decoration: none; }
#sw_homepage #sw_insync h3 > a > span.orange {
	color: #ef7100;
}
#sw_homepage #sw_insync h3 > a > em {
	font-style: italic;
	color: #4f4f4f;
	padding-left: 3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#sw_homepage #sw_insync p {
	color: #777777;
	margin: 0;
	font-size: 13px;
	font-weight: 600;
}
#sw_homepage #sw_insync .insync-list {
	width: 100%;
	margin: 10px 0 12px;
}
#sw_homepage #sw_insync .post {
	position: relative;
	background-size: cover;
	background-position: center center;
	margin: 0 8px;
	box-sizing: border-box;
}
#sw_homepage #sw_insync .post a {
	display: block;
	width: 100%;
	min-height: 200px;
	background: rgba(0, 0, 0, 0.4);
	transition: background 0.2s;
}
.no-touch #sw_homepage #sw_insync .post a:hover {
	background: rgba(0, 0, 0, 0.8);
}
#sw_homepage #sw_insync .post .info {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 15px 15px 10px;
	text-align: left;
	transition: background 0.2s;
}
.no-touch #sw_homepage #sw_insync .post a:hover .info {
	background: rgba(0, 0, 0, 0.9);
}
#sw_homepage #sw_insync .post a .info > h5 {
	color: #fff;
	font-size: 23px;
	font-weight: 700;
	line-height: 1.1em;
	margin: 0 0 6px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
#sw_homepage #sw_insync .post a .info > .desc {
	color: #999999;
	font-size: 13px;
	line-height: 1.1em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
#sw_homepage #sw_insync .links {

}
#sw_homepage #sw_insync .links > a {
	position: relative;
	display: inline-block;
	padding: 9px 20px 7px;
	border: 1px solid #5a5a5a;
	border-radius: 2px;
	text-decoration: none;
	font-size: 13px;
	font-weight: 600;
	line-height: 1em;
	background: #fff;
	color: #5a5a5a;
	transition: background 0.2s, color 0.2s;
}
#sw_homepage #sw_insync .links > a:hover {
	background: #ebebeb;
}