/*************************************************
*
* Sweetwater Popup CSS
*
**************************************************/

.whiteout, .popup {
	display:none;
}
.whiteout {
	background:none;
	position:absolute;
		top:0;
		left:0;
		z-index:200;
}
.popup {
	background:#868686;
	background: rgba(82, 82, 82, 0.7);
	border-radius:13px;
		-moz-border-radius:13px;
		-webkit-border-radius:13px;
	padding:15px;
	position:absolute;
		z-index:210;
	width:860px;
	zoom:1.0;
}
.popup .outer {
	background:#FFF;
	border:1px solid #555555;
	border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
}
.popup .inner {
	border:3px solid #ffcc00;
	border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
}

.popup .close {
	background:url(https://media.sweetwater.com/include/search/images/popup-close.png) no-repeat 0 0;
	*background:url(https://media.sweetwater.com/include/search/images/popup-close.gif) no-repeat 0 0;
	background:url(https://media.sweetwater.com/include/search/images/popup-close.gif) no-repeat 0 0\0/;
	border:none;
	cursor:pointer;
	display: none;
	height:39px;
	overflow:hidden;
	position: absolute;
		left: 1px;
		top: 2px;
		z-index:300;
	text-indent:-9999px;
	width:38px;
}

.popup .close:hover, .popup .close.hover {
	background-position:0 -39px;
}

.popup .contentClose {
	border-top:1px solid #DDD;
	color:#BBB;
	display:block;
	font-size:13px;
	font-weight:bold;
	padding:5px 0 0;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.popup .contentClose:hover {
	color:#f80000;
}
.popup .contentClose span {
	background:url(https://media.sweetwater.com/include/search/images/popup-close-inline.gif) no-repeat 0 0;
	display:inline-block;
	*display:inline;
	height:12px;
	margin:0 3px 2px 0;
	width:12px;
	vertical-align:middle;
	zoom:1.0;
}
.popup .contentClose:hover span {
	background-position:0 -12px;
}