.kwicks {
	height:103px !important; list-style: none; position: relative; width:880px !important; display:inline-block; position:relative; margin:7px 0; }

.kwicks li {
	width: 176px; height: 103px; display: inline-block; overflow: hidden; float: left; position:relative; cursor:pointer; }
.kwicks:hover > li {
	opacity:0.5; }
.kwicks:hover > li.active {
	opacity:1; }
.kwicks li:hover {
	background:#fff; border-radius:7px;  box-shadow:0 0 10px #666; z-index:9999;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E3E3E3 100%); }
.kwicks li .gorsel {
	width: 165px; height: 93px; display:inline-block; float:left; margin:6px; border-radius:5px; overflow:hidden; background:#fff; box-shadow:0 0 6px #000; }
.kwicks li:hover > .gorsel {
	box-shadow:none; }
.kwicks li .gorsel img {
	width: 165px; height: 93px; border-radius:3px; }
.kwicks li .ozet {
	width: 155px; height:14px; overflow:hidden; padding:2px 5px; position:absolute; bottom:4px; left:6px; background:url(../img/siyah-bg-alt.png); color:#fff; font-size:12px; font-weight:bold; line-height:14px; text-shadow:0 0 10px #000; text-align:left;
	/*-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;*/
	border-bottom-left-radius:3px; border-bottom-right-radius:3px;
	text-overflow: ellipsis; white-space:nowrap;  }
.kwicks li:hover .ozet {
	opacity:0; }
.kwicks li .type {
	max-width: 120px; height: 14px; line-height:14px; padding:0 5px; position:absolute; bottom:5px; left:5px; background:#f60; color:#fff; font-size:10px; font-weight:bold; border-top-right-radius:3px; text-transform:uppercase;
	/*-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;*/
	display:none; }
.kwicks li:hover > .type {
	 left:5px; line-height:22px; height:22px; font-size:14px; background:url(../img/siyah-bg-alt.png); }
.kwicks li .play {
	position:absolute; top:36px; left:74px; width:23px; height:27px; background:url(../img/kwicks-play.png) left top no-repeat; visibility:hidden; }
.kwicks li:hover > .play {
	visibility:visible; }
.kwicks li .ayrinti {
	width: 278px; height: 84px; display:inline-block; float:right; margin:5px 5px 5px 0;
	opacity:0;
	/*-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;*/
	position:relative; }
.kwicks li:hover > .ayrinti {
	opacity:100; }
.kwicks li .ayrinti .title {
	width: 260px; height:74px; overflow:hidden; margin:10px 10px 2px 10px; display:inline-block; font-size:18px; font-weight:bold; line-height:24px; color:#f30; text-align:center; text-shadow: 1px 1px 2px #ccc; }
.kwicks li .ayrinti .info {
	margin:0 5px 2px 5px; display:inline-block; font-size:11px; line-height:15px; position:absolute; bottom:-16px; right:-10px; background:#fff; color:#666; padding:0 5px; line-height:14px; border-top-left-radius:5px; border-bottom-right-radius:5px; }
.kwicks li .ayrinti .summary {
	width: 270px; margin:0 5px; display:inline-block; font-size:12px; line-height:15px; color:#333; display:none; }