.incelemeSlider>ul {
    margin: 0;
    padding: 0;
    list-style:none;
   	width: 320px;
	float:left;
	display:inline-block;
}

.incelemeSlider>ul>li {
    display:block;
	overflow: hidden;
    margin: 0;
    padding: 0;
    list-style:none;
	height:90px;
	width: 320px;

    /* Decorative CSS */
    background-color:#f0f0f0;

    /* CSS3 Transition Effect */
    transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;

}

.incelemeSlider>ul>li>h3 {
	font-size:14px;
	line-height:20px;
	overflow:hidden;
	width:310px;
    display:block;
    margin: 0;
    padding:5px;
    height:80px;

    /* Decorative CSS */
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #333;
    background: #F1F1F1; border-top:1px solid #DEDEDE;

    /* CSS3 Gradient Effect */
    /*background: -moz-linear-gradient( top, #FFFFFF, #F1F1F1);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F1F1F1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffFFFFFF, endColorstr=#ffF1F1F1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffFFFFFF, endColorstr=#ffF1F1F1)";*/
}

.incelemeSlider>ul>li>h3 .tarih {
	font-size:11px;
	line-height:16px;
	display:inline-block;
	width:150px;
	color:#666;
	margin-top:3px;
}

.incelemeSlider>ul>li>h3 .onizleme {
	width:142px;
	height:80px;
	margin-right:10px;
	float:left;
	display:inline-block;
}
.incelemeSlider>ul>li>h3 .onizleme img {
	width:142px;
	height:80px;
}

.incelemeSlider>ul>li>div {
    margin:0;
    overflow: auto;
	width:320px;
    height:180px;
	position:relative;
}
.incelemeSlider>ul>li>div .ozet {
	position:absolute;
	top:0;
	left:0;
	width:296px;
    height:155px;
	border:2px solid #FFF;
	border-bottom:3px solid #FFF;
	padding:10px;
	background:#F1F1F1;
	color:#666;
	font-size:14px;
	line-height:18px;
	font-family:Arial, Helvetica, sans-serif;
	opacity:1; 
	filter: alpha(opacity = 100);
}
/*.incelemeSlider>ul>li>div .ozet:hover {
	opacity:0.9;
	filter: alpha(opacity = 90);
}*/
.incelemeSlider>ul>li>div .ozet a {
	font-weight:bold;
	color:#666;
	text-decoration:none;
	float:none;
}
.incelemeSlider>ul>li>div .ozet a:hover {
	/*text-decoration:underline;*/
	color:#000;
}
.incelemeSlider>ul>li>div a {
	border:none;
	float:left;
}

.incelemeSlider>ul>li>div img {
	width:320px;
    height:180px;
	float:left;
	border:none;
}

.incelemeSlider>ul>li:hover {
	height: 270px;
}

.incelemeSlider:hover>ul>li:hover>h3 {
    /* Decorative CSS */
    color:#FFF;
    background: #000;

    /* CSS3 Gradient Effect */
    /*background: -moz-linear-gradient( top, #333333, #000000);  
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000));  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000, endColorstr=#ff333333); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000, endColorstr=#ff333333)"; */
}

.incelemeSlider>ul>li>h3:hover {
    cursor:pointer;
}

