

/* base.css index */
/* =============================================={{ layout }}========== */
/* =============================================={{ header }}========== */
/* =============================================={{ footer }}========== */
/* =============================================={{ reset }}========== */
/* =============================================={{ link }}========== */
/* =============================================={{ common }}========== */



/* =============================================={{ layout }}========== */

body{
padding-top:10px;
line-height:1.5;
font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,"MS UI Gothic",'ＭＳ Ｐゴシック',sans-serif;
color:#333;
font-size:12px;
}
.hd{
width:950px;
height:92px;
margin:0 auto;
position:relative;
$z-index:1;
}
.contents{
-webkit-box-shadow:inset 0px 2px 0px #fff,inset 0px -2px 0px #fff;
-moz-box-shadow:inset 0px 2px 0px #fff,inset 0px -2px 0px #fff;
box-shadow:inset 0px 2px 0px #fff,inset 0px -2px 0px #fff;
background-color: #FFF9FC; 
min-height:100%;
padding-bottom:20px;
}
.wrap{
position:relative;
padding-top:20px;
}
.contentstheme{
margin:0 auto;
width:950px;
position:relative;
}
.side{
float:left;
width:170px;
}
.mainwrap{
float:left;
width:770px;
}
.mainwrap_wide{
width:930px;
margin:0 auto;
}
.main{
background:#fff;
-webkit-border-radius:  5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
-webkit-box-shadow:1px 1px 0px #ccc,-1px -1px 0px #ccc;
-moz-box-shadow:1px 1px 0px #ccc,-1px -1px 0px #ccc;
box-shadow:1px 1px 0px #ccc,-1px -1px 0px #ccc;
min-height:1200px;
height:100%;
padding:10px;
margin-bottom:30px;
}
.main:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .main{
  zoom: 1;
} /* IE6 */
*:first-child+html .clearfix{
  zoom: 1;
} /* IE7 */

.ft{
width:950px;
margin:30px auto 10px;
}



/* =============================================={{ header }}========== */

.hd h1{
position:absolute;
top:10px;
left:0;
width:196px;
height:23px;
}
.logoseesaa{
background:url(/img/bl/logo_seesaa.jpg) no-repeat;
width:101px;
height:23px;
overflow:hidden;
text-indent:-3000em;
float:left;
}
.logoblog{
background:url(/img/bl/logo_blog.gif) no-repeat;
width:95px;
height:23px;
overflow:hidden;
text-indent:-3000em;
float:left;
}
.hdinfo{
width:93px;
height:31px;
text-align:center;
position:absolute;
bottom:0;
left:0;
}
.hdinfo_elementwrap{
position:relative;
z-index:300;
}
.hdinfo_ex{
background:#D8323E;
color:#fff;
position:absolute;
top:-10px;
right:-3px;
width:22px;
height:22px;
line-height:2;
-webkit-border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
text-align:center;
}
.hdinfo_switch{
background:#D8E6D6 url(/img/bl/ico_inforss.png) no-repeat 8px 7px;
padding-left:10px;
-webkit-border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
cursor:pointer;
height:31px;
line-height:31px;
}
.hdinfo_list{
display:none;
width:590px;
background:#D8E6D6;
-webkit-border-radius: 0px 5px 5px 5px;
-moz-border-radius: 0px 5px 5px 5px;
border-radius: 0px 5px 5px 5px;
position:absolute;
top:31px;
left:0;
$top:26px;
_left:-27px;
padding: 10px;
}
.hdinfo_p{
background:#fff;
text-align:left;
padding: 5px 0 0;
$width:570px;
font-size:12px;
}

.hdinfoBloglist{
text-align:right;
border-bottom:solid 1px #ccc;
background-color:#f8f8f8;
padding:2px 5px;
}
.hdinfoListwrap{
padding:5px 0 5px 5px;
}
.hdinfoList{
float:left;
width:130px;
margin-right:5px;
}
.hdinfo_parent li{
padding:3px 3px 0px 3px;
line-height:1.2;
}
.hdinfoParent{
background:#f3f3f3;
font-size:12px;
padding:3px 3px 1px 3px;
margin-bottom:2px;
line-height:1.5;
color:#9a9a9a;
}
.hdinfoParent a{
display:block;
}
.hdinfoParent2{
font-size:10px;
padding:3px 3px 1px 3px;
margin-bottom:2px;
line-height:1.5;
border:solid 1px #ccc;
color:#999;
}
.hdinfoParent3{
font-size:10px;
padding:6px 3px 1px 3px;
margin-bottom:2px;
line-height:1.5;
}


.hdinfo_pp{
padding:23px 5px 5px 5px;
color:#a3a3a3;
font-size:12px;
}
.hdinfo_ul{
padding:0 10px;
line-height:2;
}
.hdinfo_ul .fa-envelope-o {
color: red;
}
.hdinfo_ul .icon-open {
color: #999;
}
.hdinfo_ul .fa-envelope-o:before,
.hdinfo_ul .icon-open:before {
margin-right: -3px;
font-size: 14px;
margin-left: 8px;
}
.hdinfo_link{
display:block;
background:#EEF3ED;
padding:0px 0px;
text-align:center;
font-weight:bold;
font-size:12px;
color:#007bbb !important;
line-height:2.5;
margin-top: 5px;
}
.sitemap{
width:113px;
height:31px;
text-align:center;
position:absolute;
bottom:0;
left:100px;
}
.sitemap_switch{
background:#D8E6D6;
padding-left:0px;
-webkit-border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
cursor:pointer;
height:31px;
line-height:31px;
}
.sitemap_elementwrap{
position:relative;
z-index:290;
}
.shortcut{
position:absolute;
bottom:10px;
right:15px;
color:#666;
}
.sitemap_list{
display:none;
width:565px;
background:#D8E6D6;
-webkit-border-radius: 0px 5px 5px 5px;
-moz-border-radius: 0px 5px 5px 5px;
border-radius: 0px 5px 5px 5px;
position:absolute;
top:31px;
left:0px;
$top:22px;
_left:-27px;
}
.sitemapCategory{
font-size:14px;
font-weight:bold;
padding-left:3px;
padding-bottom:0px;
background:#eef4ed;
line-height:21px;
}
.sitemapCategory a:link{
color:#1e8ac1 ! important;
}
.sitemapminTitle{
background:#f6f6f6;
padding:2px;
border-top:solid 1px #fff;
}
.sitemap_p{
background:#fff;
margin:10px;
text-align:left;
padding:0px 0px;
font-size:12px;
$width:550px;
}
.account{
position:absolute;
top:0;
right:0;
width:468px;
height:20px;
border:solid 0px #000;
font-size:10px;
text-align:right;
}
.account ul li{
display:inline;
background:url(/img/bl/ico_account_arrow.png) 20px 4px no-repeat;
padding:0 0px 0 28px;
}
.hdbanner{
position:absolute;
bottom:10px;
right:0;
width:468px;
height:60px;
border:solid 0px #000;
}

/* $.fn.increment_search */

.hdinfoList li a.on{
    display:block;
    color:#000 ! important;
    font-weight:bold;
    background-image:url(/img/bl/ico_account_arrow.png);
    background-position:120px 10px;
    background-repeat:no-repeat;
    background-color:#faf26e;
    margin-bottom:3px;
    padding:3px;
    -moz-box-shadow:  1px 1px 2px #a6a028;
    -webkit-box-shadow:  1px 1px 2px #a6a028;
    box-shadow: 1px 1px 2px #a6a028;
    -webkit-border-radius:  5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.hdinfoList li a.on:hover{
    -moz-box-shadow: inset 1px 1px 2px #a6a028;
    -webkit-box-shadow: inset 1px 1px 2px #a6a028;
    box-shadow: inset 1px 1px 2px #a6a028;
    text-decoration:none;
}
.incrementWH{
    width:150px;
    height:17px;
}
#suggest{
    display:none;
    position:absolute;
    top:0px;
    left:-150px;
    width:150px;
    background:#fff;
    border:solid 1px #ccc;
    margin:0;
    padding:0;
    text-align:left;
    -moz-box-shadow: 1px 1px 1px #aaa;
    -webkit-box-shadow: 1px 1px 1px #aaa;
    box-shadow: 1px 1px 1px #aaa;
}
.suggestTop{
    border-bottom:solid 1px #ccc;
    background:#f8f8f8;
    color:#666;
    font-size:8px;
    text-align:right;
}
#suggest a{
    padding:2px;
    display:block;
    border-bottom:dotted 1px #ccc;
}
#suggest a.select,
#suggest a.show:hover{
    background:#000;
    color:#fff;
    text-shadow:1px 1px #666;
}
#suggest a.show{
    display:block;
}
#suggest a.hide{
    display:none;
}

#oldbrowserAttention{
    background:#fff2e3;
    padding:20px 0;
    border:solid #fba345;
    border-width:2px 0;
    text-align:center;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50px;
}
.obInner{
    width:590px;
    margin:0 auto;
    text-align:left;
}
.obAttention{
    float:left;
    width:49px;
    margin-right:11px;
}
.obText{
    float:left;
    width:250px;
    margin-right:10px;
    font-weight:bold;
}
.obBrowsers{
    float:left;
    width:55px;
    margin-right:10px;
}
.obClose{
    position:absolute;
    top:10px;
    right:10px;
    width:20px;
}



/* =============================================={{ footer }}========== */

.prwrap{
border:solid 1px #D5DDD2;
background:#fff;
-webkit-border-radius:  5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
padding:10px;
}
.prtitle{
background:#8A8A8A;
text-align:center;
color:#fff;
line-height:24px;
height:24px;
width:40px;
-webkit-border-radius:  5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
margin-bottom:10px;
}
.prlist{
float:left;
width:340px;
margin-right:25px;
margin-bottom:15px;
}
.prlist h2{
font-weight:bold;
color:#8A8A8A;
}
.prlist p{
font-size:10px;
color:#8A8A8A;
}
.prlist a{
text-decoration:underline ! important;
color:#8A8A8A ! important;
}
.ftlinks{
padding-bottom:20px;
}
.ftlinks h1{
border-bottom:solid 2px #DEDEDE;
font-size:14px;
padding:0 0 10px 5px;
margin-bottom:5px;
color:#565656;
font-family:Arial;
}
.ftlinks ul{
overflow:hidden;
$zoom:1;
}
.ftlinks li{
border-bottom:solid 1px #dedede;
padding:5px 0px 6px 5px;
margin-bottom:-1px;
}
.ftlinks li a{
text-decoration:none ! important;
color:#565656;
}
.ftinfo{
float:left;
width:365px;
margin-right:30px;
}
.ftlink{
float:left;
width:165px;
margin-right:30px;
}
.fthelp{
float:left;
width:360px;
}
.ftmore{
background:url(/img/bl/ico_ftarrow.gif) no-repeat 0 5px;
padding-left:10px;
}
.companyabout_wrap{
padding-bottom:50px;
font-size:10px;
}
.companyabout{
float:right;
}
.companyabout li{
display:inline;

color:#BFBFBF;
}
.companyabout li a{
}
.servicelinks{
font-size:10px;

padding-left:20px;
}
.servicelinks li{
display:inline;

color:#BFBFBF;
}
.servicelinks li a{
color:#565656 ! important;
}



/* =============================================={{ Reset }}========== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
margin:0;
padding:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
font-style:normal;
}
header,article,nav,footer,section,aside,hgroup,p{
display:block;
}
table{
border-collapse:collapse;
border-spacing:0;
}
caption,th{
text-align: left;
}
q:before,q:after{
content:'';
}
object,embed{
vertical-align:top;
}
hr,legend{
display: none;
}
h1,h2,h3,h4,h5,h6,th{
font-size:100%;
font-weight:normal;
}
img,abbr,acronym,fieldset{
border:0;
}
ul,ol{
list-style-type:none;
}
img{
vertical-align:bottom;
}
button{
cursor: pointer;
padding:0;
margin:0;
}



/* =============================================={{ link }}========== */

a:link    {color:#2ca9e1;text-decoration:none;}
a:active  {color:#2ca9e1;text-decoration:none;}
a:visited {color:#3696C9;text-decoration:none;}
a:hover   {color:#3696C9;text-decoration:underline;}



/* =============================================={{ common }}========== */

.nTbl{
  width:100%;
  border-collapse:collapse;
  font-size:12px;
  }
  .nTbl th{
    padding:0;
    vertical-align:top;
  }
  .nTbl td{
    padding:0 0 5px 0;
    vertical-align:top;
  }

.ul{
  list-style:none;
  padding:0px;
  margin:0px;
  text-align:left;
  list-style-position:outside;
  }
  .ul li{
    text-align:left;
    margin:0px;
  }

.none{
  border:solid 0px #fff ! important;
  text-decoration:none ! important;
  background-image:none ! important;
}
.relative  {position:relative;}
.absolute  {position:absolute;}
.pointer   {cursor:pointer;}
.default   {cursor:default ! important;}
.vmiddle   {vertical-align:middle ! important;}
.vinherit  {vertical-align:inherit;}
.oh        {overflow:hidden;}
.underline {text-decoration:underline ! important;}
.inactive  {ime-mode:inactive;}
.nowrap    {white-space:nowrap;$white-space:normal;}
/** Safari **/
html:not(:only-child:only-child) .nowrap {white-space:normal;}

.center    {text-align:center;}
.left      {text-align:left;}
.right     {text-align:right;}

.fleft     {float:left;}
.fright    {float:right;}
.both      {clear:both;}

.bold      {font-weight:bold;}
.normal    {font-weight:normal ! important;}

.red
,a.red     {color:#f00 ! important;}
.blue
,a.blue    {color:#2ca9e1 ! important;}
.black
,a.black   {color:#000 ! important;}
.white
,a.white   {color:#fff ! important;}
.gray
,a.gray    {color:#999 ! important;}
.gray2
,a.gray2   {color:#999 ! important;}
.orange
,a.orange  {color:#F18202 ! important;}

.smaller   {font-size:smaller;}
.larger    {font-size:larger; }

.lh10  {line-height:1;}
.lh15  {line-height:1.5;}
.lh17  {line-height:1.7;}
.lh20  {line-height:2;}

.px10  {font-size:10px;}
.px11  {font-size:11px;}
.px12  {font-size:12px;}
.px13  {font-size:13px;}
.px14  {font-size:14px;}
.px16  {font-size:16px;}
.px18  {font-size:18px;}
.px20  {font-size:20px;}
.px22  {font-size:22px;}
.px24  {font-size:24px;}
.px28  {font-size:28px;}
.px30  {font-size:30px;}
.px40  {font-size:40px;}
.px50  {font-size:50px;}

.p0    {padding:0px ! important;}
.p3    {padding:3px;}
.p5    {padding:5px;}
.p10   {padding:10px;}
.p15   {padding:15px;}
.p20   {padding:20px;}
.p30   {padding:30px;}
.pt3   {padding-top:3px;}
.pt5   {padding-top:5px;}
.pt10  {padding-top:10px;}
.pt15  {padding-top:15px;}
.pt20  {padding-top:20px;}
.pt25  {padding-top:25px;}
.pt40  {padding-top:40px;}
.pt50  {padding-top:50px;}
.pt60  {padding-top:60px;}
.pt90  {padding-top:90px;}
.pb0   {padding-bottom:0px;}
.pb2   {padding-bottom:2px;}
.pb3   {padding-bottom:3px;}
.pb5   {padding-bottom:5px;}
.pb7   {padding-bottom:7px;}
.pb10  {padding-bottom:10px;}
.pb15  {padding-bottom:15px;}
.pb20  {padding-bottom:20px;}
.pb30  {padding-bottom:30px;}
.pb40  {padding-bottom:40px;}
.pl5   {padding-left:5px;}
.pl10  {padding-left:10px;}
.pl15  {padding-left:15px;}
.pl20  {padding-left:20px;}
.pl23  {padding-left:23px;}
.pl30  {padding-left:30px;}
.pl35  {padding-left:35px;}
.pl40  {padding-left:40px;}
.pl50  {padding-left:50px;}
.pl60  {padding-left:60px;}
.pl80  {padding-left:80px;}
.pl90  {padding-left:90px;}
.pl160 {padding-left:160px;}
.pl200 {padding-left:200px;}
.pl220 {padding-left:220px;}
.pr0   {padding-right:0px ! important;}
.pr1   {padding-right:1px;}
.pr2   {padding-right:2px;}
.pr3   {padding-right:3px;}
.pr5   {padding-right:5px;}
.pr10  {padding-right:10px;}
.pr15  {padding-right:15px;}
.pr20  {padding-right:20px;}
.pr30  {padding-right:30px;}
.pr50  {padding-right:50px;}
.pr80  {padding-right:80px;}

.ma    {margin:auto;}
.m0    {margin:0px ! important;}
.m5    {margin:5px;}
.m10   {margin:10px;}
.m15   {margin:15px;}
.m20   {margin:20px;}
.mt5   {margin-top:5px;}
.mt10  {margin-top:10px;}
.mt15  {margin-top:15px;}
.mt20  {margin-top:20px;}
.mt-23 {margin-top:-23px;}
.mb1   {margin-bottom:1px;}
.mb2   {margin-bottom:2px;}
.mb3   {margin-bottom:3px;}
.mb5   {margin-bottom:5px;}
.mb10  {margin-bottom:10px;}
.mb15  {margin-bottom:15px;}
.mb20  {margin-bottom:20px;}
.mb30  {margin-bottom:30px;}
.mb60  {margin-bottom:60px;}
.ml5   {margin-left:5px;}
.ml10  {margin-left:10px;}
.ml15  {margin-left:15px;}
.ml20  {margin-left:20px;}
.ml60  {margin-left: 60px;}
.mr0   {margin-right:0px ! important;}
.mr5   {margin-right:5px;}
.mr9   {margin-right:9px;}
.mr10  {margin-right:10px;}
.mr11  {margin-right:11px;}
.mr12  {margin-right:12px;}
.mr15  {margin-right:15px;}
.mr20  {margin-right:20px;}
.mr50  {margin-right:50px;}

.w1p   {width:1%;}
.w33p  {width:33%;}
.w48p  {width:48%;}
.w50p  {width:50%;}
.w100p {width:100%;}
.w20   {width:20px;}
.w40   {width:40px;}
.w50   {width:50px;}
.w80   {width:80px;}
.w100  {width:100px;}
.w120  {width:120px;}
.w150  {width:150px ! important;}
.w200  {width:200px;}
.w220  {width:220px;}
.w250  {width:250px;}
.w300  {width:300px;}
.w340  {width:340px;}
.w350  {width:350px;}
.w360  {width:360px;}
.w400  {width:400px;}
.w450  {width:450px;}
.w500  {width:500px;}
.w700  {width:700px;}

.h5    {height:5px;}
.h10   {height:10px;}
.h15   {height:15px;}
.h20   {height:20px;}
.h80   {height:80px;}
.h100  {height:100px;}
.h200  {height:200px;}
.h300  {height:300px;}

.hide  {display:none;}
.block {display:block;}

/* Clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix{
  zoom: 1;
} /* IE6 */
*:first-child+html .clearfix{
  zoom: 1;
} /* IE7 */

.t{border:solid 1px #f00;margin:-1px;}

/* iPhone */
@media screen and (max-device-width: 480px) { html { -webkit-text-size-adjust: none; } }
