
.contents{
background-color:#EEF7EC;
border:solid #D8E6D6;
border-width:1px 0px 1px 0;
}
.contentstheme .contentstheme_bg{
background:#b3d649 url(/img/bl/green/bg.jpg) repeat-x;
border:solid 1px #88a420;
}
.contentstheme .blogpulldown{
border:solid 1px #D1D6C3;
box-shadow:inset 0 -2px 2px #D8E2AD;
background:#EFF4D7 url(/img/bl/pulldown_arrow.png) no-repeat 205px 10px;
color:#573c3c;
}
.pdownlists{
background-color:#EFF4D7;
}
.pdowns,
.newblogadd{
border-bottom:solid 1px #CFD3C4;
}
.pdowns:hover,
.newblogadd:hover,
.pdownnow{
background:#DFEB99;
}
.btnmiddle{
background:url(/img/bl/green/bt_category_line.gif) repeat-x;
color:#ffffff ! important;
}
.btnmiddle:active{
background-image:url(/img/bl/green/bt_category_ov_line.gif);
}
.ptitle{
background:url(/img/bl/green/myblog_pagetitle.jpg) no-repeat 7px 0px;
}
.blogdata_title{
background:url(/img/bl/green/ico_blogdata.png) no-repeat;
}
.blogdata{
border-top:solid 1px #83BCC0;
border-left:solid 1px #83BCC0;
border-bottom:solid 1px #cccccc;
border-right:solid 1px #83BCC0;
background:#CFE9E9;
}
.sideblog_list{
background:url(/img/bl/green/ico_arrow_list.png) no-repeat;
}
.articletitle_wrap{
background-color:#EFF4D7;
}
.hdinfo_link{
background-color:#EFF4D7;
color:#007bbb ! important;
}
.hdinfo_switch,
.hdinfo_list,
.sitemap_switch,
.sitemap_list{
background-color:#D8E6D6;
}
.sitemapCategory{
background-color:#ececec;
}
.articlesearch_optionwrap{
background:#EFF4D7;
border:solid #b3d649;
border-width:1px 1px 0px;
}
.articlelistoption_viewarea{
border:solid #b3d649;
border-width:1px 1px 0px;
}
.articlelistoption_switch{
background:#b3d649;
}
.uploadareaWrap{
background:#EFF4D7;
border:solid 1px #b3d649;
}
.uploadoption_viewarea{
border:solid #b3d649;
border-width:0 1px 1px;
}
.uploadoption_switch{
background-color:#b3d649;
}

/* input */
.input-submit,
.panel-submit{
background-image:url(/img/bl/button_green.png);
}
.input-regist{
background-position:0px 0px;
}
.input-regist:active{
background-position:-125px 0px;
}
.input-save{
background-position:0px -35px;
}
.input-save:active{
background-position:-125px -35px;
}
.input-listadd{
background-position:0px -70px;
}
.input-listadd:active{
background-position:-125px -70px;
}
.input-delete2{
background-position:0px -105px;
}
.input-delete2:active{
background-position:-125px -105px;
}
.input-import{
background-position:0px -140px;
}
.input-import:active{
background-position:-125px -140px;
}
.input-export{
background-position:0px -175px;
}
.input-export:active{
background-position:-125px -175px;
}
.input-moving{
background-position:0px -245px;
}
.input-moving:active{
background-position:-125px -245px;
}
.input-csv{
background-position:0px -280px;
}
.input-csv:active{
background-position:-125px -280px;
}
.input-trash{
background-position:0px -315px;
}
.input-trash:active{
background-position:-125px -315px;
}
.input-send{
background-position:0px -350px;
}
.input-send:active{
background-position:-125px -350px;
}
.input-reader{
background-position:0px -385px;
}
.input-reader:active{
background-position:-125px -385px;
}


.input-submit2{
background-image:url(/img/bl/button_aqua.png);
}
.input-confirm{
background-position:0px 0px;
}
.input-confirm:active{
background-position:-125px 0px;
}
.input-diet{
background-position:0px -35px;
}
.input-diet:active{
background-position:-125px -35px;
}
.input-preview{
background-position:0px -70px;
}
.input-preview:active{
background-position:-125px -70px;
}
.input-blank{
background-image:url(/img/bl/button_green.png);
background-position:0px -420px;
color:#447826;
}
.input-blank:active{
background-position:-125px -420px;
}
.input-blank2{
background-image:url(/img/bl/button_aqua.png);
background-position:0px -105px;
color:#006494;
}
.input-blank2:active{
background-position:-125px -105px;
}

#upload-area-fileselect .btn-upload,
.dz-upload {
  background-color: #B2D116;
  border: 1px solid #A5C600;
}

#upload-area-fileselect .btn-upload:hover {
  background: #A5C600;
}

.fileselect-upload {
  background: #eff4d7;
  border: 1px solid #b3d649;
}