
/* bl.css index */
/* =============================================={{ theme default }}========== */
/* =============================================={{ theme }}========== */
/* =============================================={{ side }}========== */
/* *** twitter anywhere *** */
/* =============================================={{ main }}========== */
/* *** article *** */
/* *** upload *** */
/* *** article list *** */
/* *** comment, tb, ignore *** */
/* *** blog list *** */
/* *** blog regist *** */
/* *** settings *** */
/* *** contents *** */
/* *** acesslog *** */
/* *** storage *** */
/* *** emoji palette *** */
/* =============================================={{ common }}========== */
/* *** error *** */
/* *** help *** */
/* =============================================={{ overlay }}========== */


/* =============================================={{ theme default }}========== */


/* =============================================={{ orginal font icon }}========== */
@font-face {
    font-family: 'icomoon';
    src:    url('/img/webfont_org/icomoon.eot?8b41fp');
    src:    url('/img/webfont_org/icomoon.eot?8b41fp#iefix') format('embedded-opentype'),
        url('/img/webfont_org/icomoon.ttf?8b41fp') format('truetype'),
        url('/img/webfont_org/icomoon.woff?8b41fp') format('woff'),
        url('/img/webfont_org/icomoon.svg?8b41fp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-open:before {
    content: "\e900";
}




.contentstheme .contentstheme_bg{
color:#fff;
position:absolute;
top:10px;
height:975px;
/* height:880px; */
width:100%;
border-radius: 5px;
}
.contentstheme .blogpulldown{
font-size:10px;
line-height:22px;
padding:0 20px 0 10px;
cursor:pointer;
}
.pdownlists{
display:none;
position:absolute;
top:46px;
right:0;
border:solid 1px #CFD3C4;
width:218px;
background:#F0F6DA;
z-index:200;
max-height:500px;
$height:300px;
overflow:auto;
}
.pdowns,
.newblogadd{
padding:5px 8px 5px 5px;
font-size:12px;
display:block;
white-space:nowrap;
border-bottom:solid 1px #CFD3C4;
}
.pdowns:hover,
.newblogadd:hover,
.pdownnow{
background:#DFEB99;
cursor:pointer;
}
.btnmiddle{
height:23px;
line-height:23px;
border:none;
padding:0px 10px;
text-indent:0px;
overflow:hidden;
vertical-align:middle;
margin:0;
font-size:12px;
text-align:center;
cursor:pointer;
border-radius: 5px;
font-weight:normal;
}
.btnmiddle:active{}

.buttonarea {
  margin: 20px 0;
  text-align:center;
}

.buttonarea:after {
  content: "";
  clear: both;
  display: block;
}

.buttonsingle{
width:135px;
margin-left:auto;
margin-right:auto;
}
.buttondouble{
width:280px;
margin-left:auto;
margin-right:auto;
}

.input-submit,
.panel-submit{
width:125px;
height:35px;
text-indent:-30000em;
overflow:hidden;
vertical-align:middle;
font-size:14px;
font-weight:bold;
font-family:Arial;
border:0;
background-repeat:no-repeat;
background-position:0px 0px;
background-color:#fff;
cursor:pointer;
display: inline-block;
}
.input-submit2{
width:125px;
height:35px;
text-indent:-30000em;
overflow:hidden;
vertical-align:middle;
font-size:14px;
font-weight:bold;
font-family:Arial;
margin-right:10px;
border:0;
background-repeat:no-repeat;
background-position:0px 0px;
background-color:#fff;
cursor:pointer;
display: inline-block;
}

.input-blank{
width:125px;
height:35px;
line-height:35px;
text-indent:0em;
overflow:hidden;
vertical-align:middle;
font-size:14px;
font-weight:bold;
font-family:Arial;
border:0;
background-repeat:no-repeat;
background-color:#fff;
cursor:pointer;
margin-right:10px;
display: inline-block;
}
.input-blank2{
width:125px;
height:35px;
line-height:35px;
text-indent:0em;
overflow:hidden;
vertical-align:middle;
font-size:14px;
font-weight:bold;
font-family:Arial;
border:0;
background-repeat:no-repeat;
background-color:#fff;
cursor:pointer;
margin-right:10px;
display: inline-block;
}
.input-back{
width:125px;
height:35px;
text-indent:-30000em;
overflow:hidden;
vertical-align:middle;
font-size:14px;
font-weight:bold;
font-family:Arial;
border:0;
background-image:url(/img/bl/button_gray.png);
background-repeat:no-repeat;
background-position:0px 0px;
background-color:#fff;
cursor:pointer;
margin-right:10px;
display: inline-block;
}
.input-back:active{
background-position:-125px 0px;
}
.deletewrap{
text-align:right;
padding:5px 5px 0px 0px;
}
.delete-submit{
padding:2px;
}
.ptitle{
padding-left:19px;
font-size:12px;
margin:15px 0 10px;
}
.blogdata_title{
position:relative;
line-height:24px;
padding-left:30px;
font-weight:bold;
color:#666;
font-size:14px;
margin-bottom:20px;
}
.sideblog_list{
line-height:17px;
padding-left:22px;
padding-bottom:5px;
color:#666;
font-weight:bold;
}
.articletitle_wrap{
border-radius: 5px;
background-color:#F0F6DA;
padding:10px;
margin-bottom:10px;
}
.blogswitch_wrap{
border-radius: 5px;
background-color:#F3F3F3;
padding:5px 10px;
margin-bottom:10px;
$z-index:1;
}



/* =============================================={{ side }}========== */

.nav{
padding-left:10px;
padding-top:10px;
}
.nav li{
padding-bottom:20px;
padding-left:35px;
position:relative;
$padding-top:4px;
$padding-bottom:10px;
}
.navarticle{
background:url(/img/bl/ico_article.png) no-repeat;
}
.navarticlelist{
background:url(/img/bl/ico_articlelist.png) no-repeat;
}
.navupload{
background:url(/img/bl/ico_upload.png) no-repeat;
}
.navuploadShare{
background:url(/img/bl/ico_upload_02.png) no-repeat;
}
.navuploadShare span{
color:#efefef;
font-family:Arial;
font-size:12px;
font-weight:bold;
display:block;
line-height:29px;
}
.navdesign{
background:url(/img/bl/ico_design.png) no-repeat;
}
.navdesignShare{
background:url(/img/bl/ico_design_02.png) no-repeat;
}
.navdesignShare span{
color:#efefef;
font-family:Arial;
font-size:12px;
font-weight:bold;
display:block;
line-height:29px;
}
.navcomment{
background:url(/img/bl/ico_comment.png) no-repeat;
}
.navaccess{
background:url(/img/bl/ico_access.png) no-repeat;
}
.navsettings{
background:url(/img/bl/ico_settings.png) no-repeat;
}
.nav li a{
color:#fff;
font-family:Arial;
font-size:12px;
font-weight:bold;
display:block;
text-decoration:none ! important;
}
.navarticle a{
line-height:24px;
}
.navarticlelist a{
line-height:26px;
}
.navupload a{
line-height:29px;
}
.navcomment a{
line-height:19px;
}
.navaccess a{
line-height:22px;
}
.navsettings a{
line-height:23px;
}
.nav li a.on,
.nav li a:hover{
background:url(/img/bl/ico_navarrow.png) no-repeat 100% 50%;
}
.blogdata{
border-top:solid 1px #ffba26;
border-left:solid 1px #ffba26;
border-bottom:solid 1px #ffba26;
border-right:solid 1px #e2d7bc;
border-radius: 5px 0 0 5px;
background:#FFEBBA;
padding:10px;
box-shadow: 1px 1px 0 #fffcf6 inset;
height:620px;
}
.blogdata_blogview{
position:absolute;
top:17px;right:0px;
}
.blogdata_blogview a{
background-image:url('/img/bl/icn_blogview.png');
background-repeat:no-repeat;
background-position:0% 50%;
padding:3px 0px 0px 20px;
font-weight:normal;
font-size:10px;
display:block;
}
.blogdata_list{
padding:0 0 5px 0;
}
.blogdata_list dt{
float:left;
width:90px;
}
.blogdata_list dd{
float:left;
color:#017CBB;
font-weight:bold;
}
.sidemenu{
border-top:solid 1px #C4C4C4;
border-left:solid 1px #C4C4C4;
border-bottom:solid 1px #C4C4C4;
border-right:solid 1px #BFD0D2;
border-radius: 5px 0 0 5px;
background:#E8E8E8;
padding:10px;
box-shadow: 1px 1px 1px #fff inset;
margin-bottom:10px;
}
.disc{
border-bottom:dotted 1px #aaaaaa;
margin-bottom:5px;
padding-bottom:5px;
}
.sideprofile{
line-height:30px;
font-weight:bold;
color:#666;
}
.sideblog_payment{
background:url(/img/bl/ico_arrow_liston.png) no-repeat;
line-height:17px;
padding-left:22px;
font-weight:bold;
}
/* *** twitter anywhere *** */
.tw-ttl{
background-color:#fff;font-size:12px;padding:1px;border-top:1px solid #32CCFF;border-left:1px solid #32CCFF;border-right:1px solid #32CCFF;border-radius: 5px 5px 0 0;
}
.tw-ttl-bg{
padding:5px 10px 5px 30px;background:#32CCFF url(/img/myblog/twitter_s.png) 10px 3px no-repeat;font-weight:bold;color:#fff;border-radius: 5px 5px 0 0;
}
#twitter_logout_btn{
cursor:pointer;font-size:10px;background:url(/img/myblog/twitter_arrow.jpg) 0 3px no-repeat;padding-left:15px;
}
.tw-body{
position:relative;border-bottom:1px solid #32CCFF;border-left:1px solid #32CCFF;border-right:1px solid #32CCFF;padding:10px 5px 3px 10px;font-size:12px;
}
.tw-login-area{
padding:10px 0;text-align:center;cursor:pointer;
}
.tw-status-area{
text-align:right;font-size:10px;padding-right:38px;
}
.tw-bird{
position:absolute;bottom:-4px;right:0px;
}
#twitter_login_status{
vertical-align:middle;
}

.top-rc2{
font-size:10px;
margin:auto 0px;
width:23%;
float:left;
padding:0px 2px;
text-align:center;
}
.pbt{
padding:3px 0px 0px;
}
.imgLst3{
        display:block;
        float:left;
        margin-right:15px;
        text-align:center;
        font-size:80%;
        width:50px;
}
.presentBox{
	background:url(/img/portal/present_t.jpg) no-repeat;
	padding-top:5px;
	margin-bottom:15px;
}
.presentBg{
	border:solid #E9E9E9;
	border-width:0 1px;
	background-color:#FEFBEB;
}
.presentLst{
	border-top:dotted 1px #666;
	margin-top:5px;
	padding-top:5px;
	font-size:smaller;
}
.cms_theme_setting img{
cursor:pointer;
}
.sidecmnSections{
border:solid 1px #eff2e1;
margin-bottom:10px;
background:#f0f5d5;
padding:5px;
}
.sidePresent{
padding:10px;
border:solid 1px #e1e4d1;
background-image:url(/img/bl/top_present.jpg);
background-repeat:no-repeat;
background-position:0 0;
background-color:#fff;
}
.sidePresentsite{
display:block;
overflow:hidden;
text-indent:-3000em;
border-bottom:dotted 1px #565656;
line-height:49px;
margin-bottom:10px;
}
.sidecmnInner{
padding:10px;
background:#fff;
border:solid 1px #e1e4d1;
}
.sidecmnTitle{
border-bottom:dotted 1px #565656;
padding-bottom:5px;
margin-bottom:5px;
font-size:14px;
}
.topThemetext{
color:#f60;
padding-bottom:5px;
font-size:10px;
}
.topThemelink{
background-image:url(/img/bl/top_icon_pen.jpg);
background-repeat:no-repeat;
background-position:0 0;
padding-left:20px;
}


/* =============================================={{ main }}========== */

.inputedit_pager{
color:#B3B3B3;
padding-top:5px;
}
.link_viewarticle{
background:url(/img/bl/ico_viewarticle.jpg) 0 2px no-repeat;
padding-left:15px;
}
.link_deletearticle{
background:url(/img/bl/ico_deletearticle.jpg) 0 2px no-repeat;
padding-left:15px;
}
.blogtitle{
float:left;
font-size:16px;
width:490px;
}
.blogswitch{
float:right;
width:240px;
position:relative;
white-space:nowrap;
cursor:pointer;
$z-index:1;
}
.blogswitch_blogview{
background-image:url('/img/bl/icn_blogview.png');
background-repeat:no-repeat;
background-position:0% 50%;
padding:3px 0px 0px 18px;
font-weight:normal;
font-size:12px;
}


/* *** article *** */
.articletitle {
  width: 100%;
  height: 34px;
  padding: 0 10px;
  line-height: 34px;
  border: 1px solid #d1d6d6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
  box-sizing: border-box;
  overflow: hidden;
}

.articletitle_wrap select {
  width: 126px;
  margin: 0;
  padding: 4px;
  border: 1px solid #d1d6d6;
}

.articlecategory {
  width: 350px;
  margin-right: 10px;
  vertical-align: middle;
}
.articlecategory_add {
  width: 140px;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  border: 1px solid #d1d6d6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
}

.articletitle_wrap .tagging input[type="text"]{
  height: 16px;
  margin-right: 0;
  padding: 4px 0 4px 4px;
  background: none #fff;
  border: 1px solid #d1d6d6;
  line-height: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
}

.articlecategory_addbtn{
/*
background:url(/img/bl/btn_categoryadd_bg.jpg) no-repeat;
*/
border:solid 1px #9EC9CB;
line-height:20px;
padding:0px 5px 0px 15px;
background:#CCE7E9 url(/img/bl/panel_sign.gif) no-repeat 5px 4px;
text-indent:15px;
overflow:hidden;
vertical-align:middle;
margin:0;
font-size:12px;
color:#3F9BCB;
text-shadow:0 1px #fff;
text-align:center;
cursor:pointer;
display:inline;
border-radius: 5px;
box-shadow:inset 1px 1px 0px #fff,inset -1px -1px 0px #fff;
}
.articlebody_wrap{
position:relative;
padding-top:27px;
/*margin-bottom:10px;*/
}
.tabs{
position:absolute;
top:0px;
left:0;
}
.tabs li{
float:left;
display:block;
background:#F8F8F8;
text-align:center;
width:115px;
height:26px;
line-height:26px;
border:solid 1px #D1D1D1;
border-bottom:solid 1px #D1D1D1;
border-radius: 5px 5px 0 0;
cursor:pointer;
margin-right:2px;
color:#A3A3A3;
font-weight:bold;
font-family:Arial;
box-shadow:inset 1px 1px 0 #fff;
}
.tabs li.responsive{
width: auto;
padding: 0 20px;
}
.tabs li.on{
background:#fff url(/img/bl/tab_bg.jpg) repeat-x;
color:#575757;
border-bottom:solid 1px #ffffff;
cursor:text;
}
.tabs li.on a{
display:block;
color:#575757 ! important;
}
.tabs li a{
display:block;
color:#A3A3A3 ! important;
}
.articlesettings_btn{
position:absolute;
top:2px;
right:90px;
$right:110px;
width:84px;
height:20px;
line-height:20px;
border:0;
padding:0 0px;
background:url(/img/bl/btn_pngsettings_bg.jpg) no-repeat;
text-indent:15px;
overflow:hidden;
vertical-align:middle;
margin:0;
font-size:12px;
color:#3F9BCB;
text-shadow:0 1px #fff;
text-align:center;
cursor:pointer;
display:block;
}
.articlepings_btn{
position:absolute;
top:2px;
right:0px;
$right:20px;
width:84px;
height:20px;
line-height:20px;
border:0;
padding:0 0px;
background:url(/img/bl/btn_pngsettings_bg.jpg) no-repeat;
text-indent:15px;
overflow:hidden;
vertical-align:middle;
margin:0;
font-size:12px;
color:#3F9BCB;
text-shadow:0 1px #fff;
text-align:center;
cursor:pointer;
display:block;
}
.view_articlebody{
border:solid 1px #D1D1D1;
padding:0px;
}
.view_articlebody_more{
border:solid 1px #D1D1D1;
padding:0px;
}
.articlebody_textarea{
width:734px;
height:300px;
padding:5px;
line-height:1.5;
border-top:solid 1px #cacaca;
font-size:12px;
overflow:auto;
}
.articledisp_wrap{
border:solid 1px #D1D1D1;
border-radius: 5px;
background:#F8F8F8;
box-shadow: 0 1px 0 #D1D1D1;
margin-bottom:10px;
padding:10px;
$width:728px;
}
.articledisp_p{
border:solid 1px #ECECEC;
background:#fff;
}
.articledisp_ttl{
float:left;
width:100px;
font-weight:bold;
font-family:Arial;
color:#555;
padding:20px 50px 20px 20px;
border-right:dotted 1px #D7D7D7;
}
.articledisp_area{
float:left;
width:450px;
padding:20px 50px 20px 20px;
}
.articlesubmit_area{
text-align:center;
margin-bottom:100px;
}
.articlepreviewIcon{
background:url(/img/bl/article_preview_button.gif) no-repeat;
height:26px;
line-height:26px;
padding-left:26px;
font-size:14px;
width:70px;
margin:0 auto;
display:block;
}

.articlesave{
width:125px;
height:36px;
border:0;
padding:0 0px;
background:url(/img/bl/btn_cmn1.jpg) no-repeat;
text-indent:0em;
overflow:hidden;
vertical-align:middle;
margin-right:15px;
font-size:14px;
font-weight:bold;
font-family:Arial;
color:#46790A;
cursor:pointer;
}
.articlesave:active{
background:url(/img/bl/btn_cmn1_on.jpg) no-repeat;
}
.articlepreview{
width:125px;
height:36px;
border:0;
padding:0 0px;
background:url(/img/bl/btn_cmn2.jpg) no-repeat;
text-indent:0em;
overflow:hidden;
vertical-align:middle;
margin-right:15px;
font-size:14px;
font-weight:bold;
font-family:Arial;
color:#01669D;
cursor:pointer;
}
.articlepreview:active{
background:url(/img/bl/btn_cmn2_on.jpg) no-repeat;
}
.article-edit{
width:125px;
height:36px;
border:0;
padding:0 0px;
background:url(/img/bl/btn_cmn2.jpg) no-repeat;
text-indent:0em;
overflow:hidden;
vertical-align:middle;
margin-right:15px;
font-size:14px;
font-weight:bold;
font-family:Arial;
color:#01669D;
cursor:pointer;
}
.article-edit:active{
background:url(/img/bl/btn_cmn2_on.jpg) no-repeat;
}
.modaltitle{
font-weight:normal;
background:#efefef;
padding:7px 10px;
font-size:14px;
margin-bottom:5px;
border-radius: 5px 5px 0 0;
border-bottom:solid 1px #d1d1d1;
}
.modalformlist{
border:solid 1px #D7D7D7;
margin-bottom:5px;
background:url(/img/bl/bgdot_gray.gif) repeat-y 150px 0;
}
.modalformlist dt{
float:left;
width:130px;
padding:10px;
height:auto;
}
.modalformlist dd{
float:left;
width:430px;
padding:10px;
/* border-left:dotted 1px #D7D7D7; */
min-height:20px;
overflow:hidden;
height:auto;
}

.tags_viewares {
  border:solid 1px #ccc;
  margin-bottom:10px;
}



/* *** upload *** */

.uploadwrap{
border:solid 1px #ccc;
background:#fff;
font-size:12px;
margin-bottom:20px;
}
.embed_options{
text-align:center;
padding:5px 0px;
border-bottom:solid 1px #eee;
font-size:x-small;
background:#f2f2f2;
}
.embed_listoptions{
text-align:left;
padding:5px 0px;
font-size:x-small;
}
.jPaginate{
height:34px;
position:relative;
color:#a5a5a5;
font-size:small;
/* width:100%; */
margin-left:auto;
margin-right:auto;
}
.jPaginate a{
line-height:15px;
height:18px;
cursor:pointer;
padding:2px 5px;
margin:2px;
float:left;
}
.jPag-control-back{
position:absolute;
left:0px;
}
.jPag-control-front{
position:absolute;
top:0px;
}
.jPaginate span{
cursor:pointer;
}
ul.jPag-pages{
float:left;
list-style-type:none;
margin:0px 0px 0px 0px;
padding:0px;
}
ul.jPag-pages li{
display:inline;
float:left;
padding:0px;
margin:0px;
}
ul.jPag-pages li a{
float:left;
padding:2px 5px;
}
span.jPag-current{
cursor:default;
font-weight:normal;
line-height:15px;
height:18px;
padding:2px 5px;
margin:2px;
float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
height:22px;
margin:2px;
float:left;
line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
margin:2px 0px 2px 2px;
font-size:12px;
font-weight:bold;
width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
margin:2px 2px 2px 0px;
font-size:12px;
font-weight:bold;
width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
margin:2px 0px 2px 2px;
font-size:18px;
width:15px;
text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
margin:2px 2px 2px 0px;
font-size:18px;
width:15px;
text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
background:transparent url(../images/previous.png) no-repeat center right;
}
ul.jPag-pages li span.jPag-next-img{
background:transparent url(../images/next.png) no-repeat center left;
}
span.jPag-sprevious-img{
background:transparent url(../images/sprevious.png) no-repeat center right;
}
span.jPag-snext-img{
background:transparent url(../images/snext.png) no-repeat center left;
}
.upload_list{
padding:5px 0;
}
.upload_list li{
float: left;
text-align: center;
width: 48px;
height: 66px;
border: solid 1px #ccc;
display: block;
position: relative;
padding: 2px;
margin-right: 16px;
margin-bottom: 10px;
}
.upload_list li img{
cursor:pointer;
vertical-align: -2px;
}
.upload_edit{
display: inline-block;
margin-right: 6px;
}
.jPag-first,
.jPag-last{
border:solid 1px #ccc;
background-color:#fff ! important;
color:#000 ! important;
}

.mp3Img{
position:relative;
float:left;
}
.mp3Imgabs{
position:absolute;
top:27px;
left:1px;
width:48px;
font-size:86%;
}
.uploadOptions{
text-align:left;
border:solid 1px #efefef;
margin:10px;
}
.uploadOptionstitle{
background:#efefef;
padding:5px;
}
.upload_add_input_file,
.add_input_file{
cursor:pointer;
}
.clip_btn_desc{
background:#ffffff;
border:solid #ccc;
border-width:0px 1px 1px;
font-size:10px;
color:#000;
}

/* *** first image selection in article edit page *** */

.first_image_candidates_wrap{
background-color: #FFF;
border: 1px solid #CCC;
}

.first_image_candidates li{
border-style: solid;
border-width: medium;
border-color: white;
float: left;
text-align: center;
width: 48px;
height: 48px;
display: block;
position: relative;
padding: 2px;
margin-right: 10px;
margin-bottom: 5px;
}

.first_image_candidates li.selected{
border-color: red;
}

.first_image_candidates li img{
cursor: pointer;
}

/* *** Instagram *** */

.instagramlist{
float:left;
width:220px;
padding-bottom:10px;
margin-right:10px;
overflow:hidden;
}
.instagramlistImage{
float:left;
width:120px;
margin-right:10px;
overflow:hidden;
}
.instagramlistSelect{
float:left;
width:90px;
overflow:hidden;
}

/* *** flickr *** */

.flickrlist{
float:left;
width:220px;
padding-bottom:10px;
margin-right:10px;
}
.flickrlistImage{
float:left;
width:100px;
margin-right:10px;
height:120px;
overflow:hidden;
}
.flickrlistSelect{
float:left;
width:110px;
}

/* *** miil *** */

.miillist{
float:left;
width:220px;
padding-bottom:10px;
margin-right:10px;
}
.miillistImage{
float:left;
width:100px;
margin-right:10px;
height:120px;
overflow:hidden;
}
.miillistSelect{
float:left;
width:110px;
}

/* *** dropbox *** */

.dropboxlist{
float:left;
width:220px;
padding-bottom:10px;
margin-right:10px;
}
.dropboxlistImage{
float:left;
width:100px;
margin-right:10px;
height:120px;
overflow:hidden;
}
.dropboxlistSelect{
float:left;
width:110px;
}

/* *** article list *** */

.articlelist{
border:solid 1px #D1D1D1;
padding:10px;
}
.articlesearch_optionwrap{
background:#F0F6DA;
padding:10px;
margin-bottom:0px;
border:solid #ABCD34;
border-width:1px 1px 0px;
}
.submit_articlesearch{
width:85px;
height:23px;
border:0;
padding:0px 0px;
background:url(/img/bl/submit_articleserch.jpg) no-repeat;
text-indent:-3000em;
overflow:hidden;
vertical-align:middle;
margin-right:0px;
font-size:14px;
font-weight:bold;
font-family:Arial;
color:#46790A;
cursor:pointer;
}
.articlesearch_optionbtn{
float:right;
width:100px;
display:block;
color:#3E9ACA;
height:20px;
line-height:20px;
background:#CBE9E7 url(/img/bl/panel_sign.gif) 5px 7px no-repeat;
vertical-align:middle;
cursor:pointer;
text-indent:20px;
border-radius: 5px;
font-size:10px;
border:solid 1px #B5D8DC;
box-shadow:inset #fff 1px 1px 0,inset #fff -1px -1px 1px;
}
.articlelistoption_viewarea{
border:solid #ABCD34;
border-width:0px 1px 0px;
padding:10px;
}
.articlelistoption_switch{
background:#ABCD34;
border-radius: 0 0 10px 10px;
color:#fff;
font-size:12px;
cursor:pointer;
padding:3px 20px;
margin-bottom:15px;
}
.tabs_viewarea{
/* js use */
background:#F6F6F6;
padding:10px;
}
.entrytable_wrap{
background:#fff;
padding:10px;
border:solid 1px #E6E6E6;
}
.entrytable{
width:100%;
font-size:12px;
}
.entrytable th{
background:url(/img/bl/1x1.jpg) repeat-x 0 90%;
padding-bottom:5px;
text-align:center;
vertical-align:top;
white-space:nowrap;
padding-left:5px;
padding-right:5px;
}
.entrytable tr{
$border-bottom:solid 1px #efefef;
}
.entrytable tr:nth-child(even){
background:#f6f6f6;
}
.entrytable td{
vertical-align:top;
padding:5px;
color:#878787;
}
.checktd{
width:41px;
text-align:center;
white-space:nowrap;
}


.statussign_on{
background:#fff;
text-align:center;
border:solid 1px #D2D4D3;
width:70px;
height:16px;
padding-top:2px;
box-shadow:inset 0 -2px 5px #CACCCB;
margin:0 auto;
}
.statussign_off{
background:#E3E3E3;
text-align:center;
border:solid 1px #D2D4D3;
width:70px;
height:16px;
padding-bottom:2px;
box-shadow:inset 0 2px 5px #CACCCB;
margin:0 auto;
}



/* *** file manager *** */

.guidelinebnr{
position:absolute;
top:20px;
right:20px;
}
.dropboxbnr{
position:absolute;
top:65px;
right:20px;
}
.uploadoption_tabs{
position:absolute;
top:0;
right:0;
}
.uploadoption_tabs li{
float:left;
display:block;
background:#F0F6DA;
text-align:center;
width:60px;
height:24px;
line-height:24px;
border:solid 1px #ABCD34;
border-bottom:solid 1px #ABCD34;
border-radius: 5px 5px 0 0;
cursor:pointer;
color:#57691B;
font-weight:bold;
font-family:Arial;
box-shadow:inset 1px 1px 0 #fff;
margin-left:2px;
}
.uploadoption_tabs li.on{
border-bottom:solid 1px #F0F6DA;
cursor:text;
}
.uploadoption_viewarea{
border:solid #ABCD34;
border-width:0 1px 1px;
padding:10px;
}
.uploadoption_switch{
background:#ABCD34;
border-radius: 0 0 10px 10px;
color:#fff;
font-size:12px;
cursor:pointer;
padding:3px 20px;
}
.pageoptions{
/* js use */
background:#F0F6DA;
padding:17px;
border:solid 1px #ABCD34;
}
.uploaddrop_area{
border:dotted 5px #666;
text-align:center;
height:60px;
line-height:60px;
border-radius: 15px;
}
.dropbox_file li{
padding-bottom:10px;
}
.uploaddrop_area:hover{
border:dotted 5px #ccc;
}
.dd_upload{
float:left;
width:200px;
}
.file_upload{
float:left;
width:166px;
}
.upload_options{
float:left;
width:119px;
}
.fmanager_uploadarea{
border:solid 1px #A9ACAC;
background:#ffffff url(/img/bl/input_bg.jpg) repeat-x;
height:31px;
line-height:31px;
width:100%;
$width:710px;
margin:0;
text-indent:10px;
$text-indent:0px;
}
.fmanager_listlimit{
position:absolute;
top:2px;
right:0px;
$right:20px;
height:20px;
line-height:20px;
border:0;
padding:0 0px;
overflow:hidden;
vertical-align:middle;
margin:0;
font-size:12px;
color:#3F9BCB;
text-align:center;
cursor:pointer;
display:block;
}
.uploadareaWrap{
background:#F0F6DA;
padding:17px;
border:solid 1px #ABCD34;
border-radius: 5px 5px 0 0;
position:relative;
}



/* *** comment, tb, ignore *** */

.ignoresettings_btn{
float:right;
$right:110px;
width:84px;
height:20px;
line-height:20px;
border:0;
padding:0 0px;
background:url(/img/bl/btn_pngsettings_bg.jpg) no-repeat;
text-indent:15px;
overflow:hidden;
vertical-align:middle;
margin:0;
font-size:12px;
color:#3F9BCB;
text-shadow:0 1px #fff;
text-align:center;
cursor:pointer;
display:block;
}



/* *** blog list *** */

.bloglist_left{
float:left;
width:600px;
margin-right:10px;
padding-bottom:20px;
}
.bloglist_info{
background:#F6F6F6;
padding:5px;
margin-bottom:20px;
}
.bloglist_infobg{
background:#fff;
border:solid 1px #E6E6E6;
padding:10px;
}
.important-message {
	
}
.bloglist_infotitle i{
  font-size: 20px;
  margin-left: 5px;
}
.bloglist_infotitle h1{
font-size:18px;
color:#808080;
border-bottom:dotted 1px #333;
margin-bottom:5px;
}
.bloglist_infomore{
text-align: right;
}
.bloglist_infomore a{
background:url(/img/bl/ico_ftarrow.gif) no-repeat 0 4px;
padding-left:10px;
font-size:10px;
color:#000 ! important;
}
.bloglist_infomore i{
  display: inline-block;
  margin-left: 4px;
}
.main .fa-envelope-o {
	color: red;
}
.main .fa-envelope-o:before {
  font-size: 14px;
  margin-left: 8px;
  margin-right: -4px;
}
.main .icon-open {
	color: #999;
	font-weight: bold;
}
.main .icon-open:before { 
    font-size: 13px;
    vertical-align: 0px;
    margin-right: -5px;
    margin-left: 8px;
}
.main .fa-exclamation-circle:before {
    font-size: 18px;
}
.main i.fa-exclamation-circle:before {
    font-size: 20px;
}
.bloglist_message {
border-bottom: 1px dotted #333;
padding-bottom: 10px;
}
.bloglist_infolist{
margin-top: 5px;
}
.bloglist_title{
font-size:18px;
color:#808080;
float:left;
}
.addnew_blog{
float:right;
width:138px;
}
.addnew_blog a{
display:block;
background:url(/img/bl/regist_newblog.jpg) no-repeat;
width:138px;
height:21px;
line-height:21px;
text-indent:30px;
color:#777;
font-size:10px;
}
.bllist{
background:#F6F6F6;
padding:10px;
margin-bottom:10px;
}
.bllist_showhide{
float:left;
width:18px;
margin-right:10px;
border:solid 1px #f6f6f6;
}
.bllist_img{
float:left;
width:50px;
margin-right:10px;
}
.bllist_material{
float:left;
width:470px;
margin-right:10px;
}
.bllist_title{
padding-bottom:2px;
}
.bllist_url{
color:#777;
font-size:10px;
padding-bottom:2px;
}
.bllist_profilebtn{
color:#777;
font-size:12px;
padding-bottom:2px;
}
.bllist_movebtns{
float:left;
width:70px;
}
.bllist_status{
background:#fff;
border:solid 1px #E6E6E6;
padding:10px;
}
.bllist_menuswrap{
padding-bottom:3px;
margin-bottom:3px;
}
.bllist_menuswrap2{
border-bottom:solid 1px #E6E6E6;
padding-bottom:5px;
margin-bottom:5px;
}
.bllist_menus{}
.bllist_menus li{
display:block;
float:left;
width:150px;
$white-space:nowrap;
}
.bllist_listsettings{
width:50px !important;
}
.bllist_menus a{
height:19px;
line-height:19px;
color:#000 ! important;
font-family:sans-serif;
display:block;
}
.bllist_listarticle a{
background:url(/img/bl/ico_listarticle.jpg) no-repeat;
padding-left:20px;
}
.bllist_listarticle_list a{
background:url(/img/bl/ico_listarticle_list.jpg) no-repeat 2px 0;
padding-left:20px;
}
.bllist_listfmanager a{
background:url(/img/bl/ico_listfmanager.jpg) no-repeat;
padding-left:18px;
}
.bllist_listcomments a{
background:url(/img/bl/ico_listcomments.jpg) no-repeat;
padding-left:23px;
}
.bllist_listdesign a{
background:url(/img/bl/ico_design.png) no-repeat;
padding-left:23px;
}
.bllist_listaccesslog a{
background:url(/img/bl/ico_listaccesslog.jpg) no-repeat;
padding-left:22px;
}
.bllist_listsettings{
padding-right:0px;
}
.bllist_listsettings a{
background:url(/img/bl/ico_listsettings.jpg) no-repeat;
padding-left:23px;
}
.diskwrap{
float:left;
width:300px;
border:solid 1px #D6D6D6;
border-radius: 15px;
}
.disk{
background:url(/img/bl/diskbar_bg.jpg);
width:50%;
height:12px;
}
.news{
background:#EBF7F6;
padding:10px;
}
.news h1{
color:#555;
font-size:16px;
}
.designtab_wrap{
position:relative;
padding-top:23px;
}
.designtab{
position:absolute;
top:0px;
left:0px;
}
.designtab li{
float:left;
}
.designtab a{
display:block;
-webkit-border-radius:  15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
border-radius: 5px 5px 0px 0px;
text-align:center;
line-height:22px;
height:22px;
margin-right:1px;
cursor:pointer;
padding:0px 5px;
color:#555 ! important;
font-size:10px;
}
.designtype{
/*
position:absolute;
top:0;
right:0;
*/
float:right;
padding-right:20px;
text-align:right;
}
.newstab_wrap{
background:url(/img/bl/1x1.jpg) repeat-x 0 100%;
color:#555;
}
.newstab{
float:right;
}
.newstab li{
float:left;
}
.newstab a{
display:block;
float:left;
-webkit-border-radius:  15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
border-radius: 5px 5px 0px 0px;
text-align:center;
line-height:22px;
height:22px;
margin-right:1px;
cursor:pointer;
padding:0px 5px;
color:#555 ! important;
font-size:10px;
}
.designtab .ntBlue,
.newstab .ntBlue{
border:solid 1px #C9DEEA;
background:#C9DEEA url(/img/bl/tab_news_b.jpg) repeat-x 0 0;
box-shadow:#C9DEEA 0 -1px 0;
}
.newstab .ntRed{
border:solid 1px #EF908D;
background:#F08F8D url(/img/bl/tab_news_r.jpg) repeat-x 0 0;
box-shadow:#EF908D 0 -1px 0;
}
.newstab .ntOrange{
border:solid 1px #FAD26A;
background:#FAD36D url(/img/bl/tab_news_o.jpg) repeat-x 0 0;
box-shadow:#FAD26A 0 -1px 0;
}
.newstab .ntGreen{
border:solid 1px #DAED7A;
background:#dcf17a  url(/img/bl/tab_news_g2.jpg) repeat-x 0 0;
box-shadow:#F2F8F1 0 -1px 0;
}
.newstab .on{
background:#fff ! important;
cursor:auto;
border-bottom:solid 1px #fff ! important;
box-shadow:#fff 0 0 0;
}
.designtab .ntBlueon,
.newstab .ntBlueon{
background:#fff ! important;
cursor:auto;
border:solid 1px #C9DEEA;
border-bottom:solid 1px #fff ! important;
box-shadow:#fff 0 0 0;
}
.newstab .ntGreenon{
background:#fff ! important;
cursor:auto;
border:solid 1px #DAED7A;
border-bottom:solid 1px #fff ! important;
box-shadow:#fff 0 0 0;
}
.newsbody{
border:solid #C9DEEA;
border-width:0 1px 1px;
background:#fff;
padding:10px;
}
.newsbody_img{
padding-bottom:10px;
}
.newsbody_img img{
box-shadow:#ccc 1px 1px 5px,#ccc -1px -1px 5px;
}
.newsbody_left{
float:left;
width:265px;
margin-right:20px;
}
.newsbody_right{
float:left;
width:265px;
}

.bloglist_right{
float:left;
width:300px;
background:#fff;
min-height:90%;
}
.bloglist_affiliatewrap{
margin-bottom:10px;
}
.bloglist_sidebox{
background:#fff;
padding:10px;
margin-bottom:10px;
}
.bloglist_sidetitle{
border-bottom:dotted 1px #000;
padding-bottom:5px;
margin-bottom:5px;
}
.bloglist_sharecodewrap{
margin-bottom:10px;
background:#F0F6DA;
width:280px;
padding:10px;
}



/* *** blog regist *** */

.blogregist_title{
font-size:20px;
color:#808080;
}
.blogregist_box{
background:#F6F6F6;
padding:10px;
margin-bottom:10px;
}
.blogregist_left{
float:left;
width:440px;
}
.blogregist_right{
float:right;
width:440px;
}
.blogregist_forms{
border:solid 1px #E6E6E6;
background:#fff;
margin-bottom:5px;
}
.blogregist_formstitle{
float:left;
width:100px;
font-weight:bold;
padding:10px;
color:#555;
}
.blogregist_formsbody{
background:#fff;
float:left;
font-size:10px;
color:#888;
border-left:dotted 1px #D7D7D7;
padding:10px;
width:296px;
}
.type195{
width:195px;
$width:185px;
padding-left:5px;
}
.type291{
width:291px;
$width:281px;
padding-left:5px;
}
.type286_textarea{
width:286px;
$width:276px;
height:76px ! important ;
padding:5px;
}
.textarea_0{
line-height:1.7;
font-size:14px;
display:block;
padding:5px;
width:715px;
$width:705px;
height:300px;
}
.textarea_1{
line-height:1.7;
font-size:14px;
display:block;
padding:5px;
width:670px;
$width:660px;
height:300px;
}
.textarea_2{
line-height:1.7;
font-size:14px;
display:block;
padding:5px;
width:95%;
$width:90%;
height:300px;
}
.textarea_rowsno_header{
height:100px;
}

.usedcheck{
background:#C9DEEA;
width:150px;
text-align:center;
border-radius: 5px;
color:#7A7976;
}
.column-wrap{
float:left;
width:185px;
position:relative;
margin-right:5px;
}

.column-tab{
position:absolute;
top:0;
left:0;
width:40px;
border:solid #E6E6E6;
border-width:1px 1px 0;
background:#fff;
text-align:center;
font-size:10px;
-webkit-border-radius:  5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 0px 0px;
height:18px;
line-height:18px;
}

.column-select{
    border:solid 1px #E6E6E6;
    background:#fff;
    padding:5px;
    margin-top:18px;
}

.column-select ul {
    list-style-type: none;
}

.column-select li {
    float:left;
    cursor:pointer;
}


#reset-column {
    display:block;
    float:left;
    text-align:center;
    width:77px;
    height:53px;
    line-height:56px;
    border:solid 1px #4b82f6;
    margin-top:2.5px;
    margin-left:2.5px;
}

.design-wrap{
float:left;
width:385px;
position:relative;
margin-right:5px;
}
.design-tab{
position:absolute;
top:0;
left:0;
width:385px;
text-align:center;
font-size:10px;
}
.design-tab li{
float:left;
background:#fff url(/img/bl/tab_blogregist.jpg) repeat-x;
-webkit-border-radius:  5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 0px 0px;
height:18px;
line-height:18px;
padding: 0 3px;
border:solid #C7DFE8;
border-width:1px 1px 0;
margin-right:2px;
cursor:pointer;
}
.design-tab li.design-tab-on{
background:#fff;
border:solid #E6E6E6;
border-width:1px 1px 0;
}
.design-tab li a{
color:#000 ! important;
}
.design-select{
border:solid 1px #E6E6E6;
background:#fff;
padding:5px;
margin-top:18px;
}

#design-select-box{
float:left;
border:solid 1px #E6E6E6;
background:#F5F5F5;
width:210px;
padding:5px;
border-radius: 5px;
margin-right:5px;
}
.design-selects{
    width:195px;
}

.design-thumb{
float:left;
width:290px;
border:solid 1px #E6E6E6;
background:#fff;
padding:5px;
height:191px;
overflow:hidden;
}
.blog-regist-thumbbox{
float:left;
border:solid 1px #E6E6E6;
background:#F5F5F5;
width:134px;
padding:5px;
border-radius: 5px;
text-align:center;
}
.registcode{
border:solid 1px #A9ACAC;
background:#ffffff url(/img/bl/input_bg.jpg) repeat-x;
height:31px;
line-height:31px;
width:300px;
margin:0;
text-indent:10px;
$text-indent:0px;
}
.blogregist_submit{
border:0;
padding:0px;
background:url(/img/bl/btn_blogregist.jpg) no-repeat;
text-indent:-3000em;
overflow:hidden;
margin:30px auto;
width:125px;
height:35px;
cursor:pointer;
display:block;
}
.blogregist_submit:active{
background:url(/img/bl/btn_blogregist_on.jpg) no-repeat;
}



/* *** settings *** */

.ptitle strong{
font-size:16px;
}
.settings_settings{
border:solid 1px #D1D1D1;
padding:10px;
}
.settings_settings li{
background:#F6F6F6;
padding:10px 10px 10px 10px;
}
.settings_btns{
background:#fff;
border:solid 1px #E8E8E8;
padding:10px 0 10px 10px;
}
.settings_btn{
float:left;
background:url(/img/bl/settingbtns_bg.jpg) no-repeat;
width:90px;
height:37px;
line-height:37px;
text-align:center;
color:#fff ! important;
font-size:10px;
margin-right:9px;
display:block;
padding-bottom:9px;
}
.settings_textarea{
border:solid 1px #A9ACAC;
background:#ffffff url(/img/bl/input_bg.jpg) repeat-x;
width:286px;
$width:276px;
height:76px ! important ;
padding:5px;
}
.whitemargin{
background:#fff;
padding:10px;
border:solid 1px #E6E6E6;
}
.tab_delete{
position:absolute;
top:0;
right:0;
display:block;
background:#F8F8F8;
text-align:center;
width:115px;
height:26px;
line-height:26px;
border:solid 1px #D1D1D1;
border-bottom:solid 1px #D1D1D1;
border-radius: 5px 5px 0 0;
cursor:pointer;
color:#A3A3A3;
font-weight:bold;
font-family:Arial;
box-shadow:inset 1px 1px 0 #fff;
}
.tab_delete a{
display:block;
color:#A3A3A3 ! important;
}
.tab_delete_on{
position:absolute;
top:0;
right:0;
display:block;
text-align:center;
width:115px;
height:26px;
line-height:26px;
border:solid 1px #D1D1D1;
border-bottom:solid 1px #D1D1D1;
border-radius: 5px 5px 0 0;
cursor:pointer;
font-weight:bold;
font-family:Arial;
box-shadow:inset 1px 1px 0 #fff;
background:#fff url(/img/bl/tab_bg.jpg) repeat-x;
color:#575757;
border-bottom:solid 1px #ffffff;
cursor:text;
}
.tab_delete_on a{
display:block;
color:#575757 ! important;
}
.settwitter_img{
width:60px;
float:left;
overflow:hidden;
}
.settwitter_body{
float:left;
padding-top:3px;
}
.settwitter_margin{
padding-bottom:7px;
}

.setgrow_img{
width:50px;
float:left;
overflow:hidden;
}
.setgrow_img > img{
width:50px;
}
.setgrow_body{
float:left;
padding-top:3px;
}
.setgrow_margin{
padding-bottom:7px;
}

.input_twitter_body_format{
width:350px;
height:18px;
}
.settinglist{
background:#fff;
padding:10px;
border:solid 1px #E6E6E6;
}
.settinglist li{
padding-right:5px;
padding-bottom:5px;
display:block;
float:left;
}

/* *** setting design *** */

.designSettingList li{
  margin-top:5px;
  marginn-bottom:5px;
  float:left;
/*  border:solid 2px #e7e7e7;*/
  width:130px;
  text-align:center;
}

.dispRightTopImgParent{
  position:relative;
}

.dispRightTopImgchild{
  position:absolute;
  top:-12px;
  right:0px;
}

/* *** access log  *** */

.access_log_table{
   width:100%;
   color:#888888;
   border:solid 1px #e6e6e6;
   text-align:center;
}
.access_log_table h1{
   text-align:center;
   background-color:#f6f6f6;
   border-bottom:solid 1px #e6e6e6;
   padding:5px;
}

.access_log_table thead th{
   text-align:center;
   background-color:#f6f6f6;
   border:solid 1px #e6e6e6;
   padding:5px;
}

.access_log_table tbody td{
   border:dotted 1px #e6e6e6;
   padding:5px;
}

td.access_log_table_value{
   border:solid 1px #e6e6e6;
   text-align: right;
   background-color:#f6f6f6;
}

.border_solid{
   border:solid 1px #e6e6e6;
   padding:5px;
}

.top_total,
.access_log_table tfoot td{
   border:solid 1px #e6e6e6;
   font-weight:bold;
   background-color:#f6f6f6;
   padding:5px;
}

.graph_access_daily_access{
  background-image:url(/img/bl/access_log_bar_red.png);
  width:1px;
  height:8px;
}

.graph_access_daily_visitor{
  background-image:url(/img/bl/access_log_bar_yellow.png);
  width:1px;
  height:8px;
}

.graph_access_monthly_access{
  background-image:url(/img/bl/access_log_bar_blue.png);
  width:1px;
  height:8px;
}

.graph_access_monthly_visitor{
  background-image:url(/img/bl/access_log_bar_green.png);
  width:1px;
  height:8px;
}


/* *** css edit***  */

.css_edit_box{
   width:46%;
   background-color: #f6f6f6;
   background-image: none;
   background-repeat: repeat;
   background-attachment: scroll;
   background-position: 0% 0%;
   background-clip: border-box;
   background-origin: padding-box;
   background-size: auto auto;
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
}
.css_edit_table{
   font-size:9px;
   width:100%;
   padding:5px;
}

.css_edit_table thead th{
   border-bottom:solid 1px #e6e6e6;
   padding:5px;
}

.css_edit_table tbody td{
   padding:5px;
}

.css_edit_header{
   width:50px;
   height:20px;
   color:#3e9bcb;
   background-image:url("/img/bl/btn_pngsettings_bg.jpg");
   -moz-background-size:50px 20px;
   background-size:50px 20px;
   text-align:center;
   line-height:20px;
}

.css_edit_delete_btn{
   font-size:14px;
   width:26px;
   height:18px;
   text-align:center;
   line-height:18px;
   -moz-background-size:26px 18px;
   background-size:26px 18px;
   background-image:url("/img/bl/checkbox_off.jpg");
}

.css_edit_apply_off{
   width:26px;
   height:18px;
   text-align:center;
   line-height:18px;
   -moz-background-size:26px 18px;
   background-size:26px 18px;
   background-image:url("/img/bl/checkbox_off.jpg");
}

.css_edit_apply_on{
   width:26px;
   height:18px;
   text-align:center;
   line-height:18px;
   -moz-background-size:26px 18px;
   background-size:26px 18px;
   background-image:url("/img/bl/checkbox_on.jpg");
}

.css_edit_add_btn{
   font-size:10px;
   width:85px;
   height:23px;
   color:#fff;
   text-align:center;
   line-height:23px;
   background-image:url("/img/bl/btn_categoryadd_bg.jpg");
}

.css_edit_layout_img{
   width:55px;
}

.selected_html{
   color:#888888;
}

/* *** theme *** */

.themebox{
background:#fff;
border:solid 1px #E8E8E8;
padding:10px 0 10px 10px;
}

.design_setting a{
color:#555555;
}



/* *** contents *** */
.contentsHtmlpanelTitle{
font-weight:bold;
font-size:18px;
}
.p_material{
cursor:move;
}
.p_ft{
min-height:50px;
}
.cbox{
float:left;
width:90px;
margin-right:5px;
}
.pluginwrap{
background:#fff;
padding:5px;
}
.contentsleft{
float:left;
width:200px;
margin-right:15px;
}
.plugincategory_box{
border:solid 1px #d7d7d7;
margin-bottom:5px;
}
.plugincategory_ttl{
background:#f6f6f6;
padding:5px;
font-size:14px;
}
.contentsright{
float:left;
width:475px;
}
.plugin{
}
.p_hd{
border:solid 1px #e2e2e2;
padding:5px 0;
margin-bottom:2px;
}
.p_l{
border:solid 1px #e2e2e2;
padding:5px 0;
margin-right:2px;
float:left;
width:130px;
/*padding-bottom:32768px;
margin-bottom:-32768px;*/
}
.p_c{
border:solid 1px #e2e2e2;
padding:5px 0;
margin-right:2px;
float:left;
width:205px;
/*padding-bottom:32768px;
margin-bottom:-32768px;*/
}
.p_r{
border:solid 1px #e2e2e2;
padding:5px 0;
float:left;
width:130px;
/*padding-bottom:32768px;
margin-bottom:-32768px;*/
}
.p_ft{
margin-top:2px;
padding:5px 0;
border:solid 1px #e2e2e2;
}
.p_close{
background:#656565;
color:#fff;
position:absolute;
top:-5px;
right:-5px;
width:16px;
height:16px;
line-height:1.2;
border:solid 2px #fff;
border-radius: 15px;
text-align:center;
cursor:pointer;
}
.p_name{
color:#fff;
width:92px;
height:37px;
text-align:center;
line-height:37px;
}
.p_name a{
  text-decoration: none;
}
.p_name a:link{
  color:#fff;
}
.p_name a:visited{
  color:#fff;
}
.p_material{
position:relative;
width:92px;
margin:0 auto 10px;
}
.p_switch{
width:92px;
margin:0 auto;
}
.p_trash{
border:solid 1px #ff4d4d;
background:#ffd8d9;
padding:5px;
text-align:center;
}
.contentsList{
float:left;
width:92px;
}

.btn_block{
text-align:center;
padding:15px 0 5px;
}
.p_trashbtn{
width:125px;
height:35px;
border:0;
background: url(/img/bl/btn_plugintrash.jpg) no-repeat;
cursor:pointer;
}
.p_savebtn{
width:125px;
height:35px;
border:0;
background: url(/img/bl/btn_pluginsave.jpg) no-repeat;
cursor:pointer;
}

.p_viewswitch{
padding:5px;
margin-bottom:5px;
border-bottom:dotted 1px #b7b7b7;
font-size:10px;
}
.p_viewswitch .on{
font-weight:bold;
font-size:14px;
}
.help_message{
width:108px;
position:absolute;
top:0px;
left:90px;
z-index:100;
}
.help_message .bubble_body{
padding:3px;
font-size:10px;
word-wrap:break-word;
/*border:1px solid rgb(225, 209, 136);*/
background: none repeat scroll 0% 0% rgb(249, 246, 231);
}

.help_message .bubble_tail{
border-bottom: 10px solid transparent;
border-right: 10px solid  rgb(249, 246, 231);
top:3px;
left:-9px;
position: absolute;
}

.edit_id_switch{
position:relative;
}

.contentsarrow_top{
display:none;
/* background:url('/img/contentsarrow_top.png'); */
width:11px;
height:6px;
position:absolute;
top:24px;
left:0px;
z-index:100;
}
.edit_middle{
overflow:hidden;
}


/* ad setting jquery */

.colorpicker {
width: 356px;
height: 176px;
overflow: hidden;
position: absolute;
background: url(/img/bl/jqueryadsetting/colorpicker_background.png);
font-family: Arial, Helvetica, sans-serif;
display: none;
}
.colorpicker_color {
width: 150px;
height: 150px;
left: 14px;
top: 13px;
position: absolute;
background: #f00;
overflow: hidden;
cursor: crosshair;
}
.colorpicker_color div {
position: absolute;
top: 0;
left: 0;
width: 150px;
height: 150px;
background: url(/img/bl/jqueryadsetting/colorpicker_overlay.png);
}
.colorpicker_color div div {
position: absolute;
top: 0;
left: 0;
width: 11px;
height: 11px;
overflow: hidden;
background: url(/img/bl/jqueryadsetting/colorpicker_select.gif);
margin: -5px 0 0 -5px;
}
.colorpicker_hue {
position: absolute;
top: 13px;
left: 171px;
width: 35px;
height: 150px;
cursor: n-resize;
}
.colorpicker_hue div {
position: absolute;
width: 35px;
height: 9px;
overflow: hidden;
background: url(/img/bl/jqueryadsetting/colorpicker_indic.gif) left top;
margin: -4px 0 0 0;
left: 0px;
}
.colorpicker_new_color {
position: absolute;
width: 60px;
height: 30px;
left: 213px;
top: 13px;
background: #f00;
}
.colorpicker_current_color {
position: absolute;
width: 60px;
height: 30px;
left: 283px;
top: 13px;
background: #f00;
}
.colorpicker input {
background-color: transparent;
border: 1px solid transparent;
position: absolute;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
color: #898989;
top: 4px;
right: 11px;
text-align: right;
margin: 0;
padding: 0;
height: 11px;
}
.colorpicker_hex {
position: absolute;
width: 72px;
height: 22px;
background: url(/img/bl/jqueryadsetting/colorpicker_hex.png) top;
left: 212px;
top: 142px;
}
.colorpicker_hex input {
right: 6px;
}
.colorpicker_field {
height: 22px;
width: 62px;
background-position: top;
position: absolute;
}
.colorpicker_field span {
position: absolute;
width: 12px;
height: 22px;
overflow: hidden;
top: 0;
right: 0;
cursor: n-resize;
}
.colorpicker_rgb_r {
background-image: url(/img/bl/jqueryadsetting/colorpicker_rgb_r.png);
top: 52px;
left: 212px;
}
.colorpicker_rgb_g {
background-image: url(/img/bl/jqueryadsetting/colorpicker_rgb_g.png);
top: 82px;
left: 212px;
}
.colorpicker_rgb_b {
background-image: url(/img/bl/jqueryadsetting/colorpicker_rgb_b.png);
top: 112px;
left: 212px;
}
.colorpicker_hsb_h {
background-image: url(/img/bl/jqueryadsetting/colorpicker_hsb_h.png);
top: 52px;
left: 282px;
}
.colorpicker_hsb_s {
background-image: url(/img/bl/jqueryadsetting/colorpicker_hsb_s.png);
top: 82px;
left: 282px;
}
.colorpicker_hsb_b {
background-image: url(/img/bl/jqueryadsetting/colorpicker_hsb_b.png);
top: 112px;
left: 282px;
}
.colorpicker_submit {
position: absolute;
width: 22px;
height: 22px;
background: url(/img/bl/jqueryadsetting/colorpicker_submit.png) top;
left: 322px;
top: 142px;
overflow: hidden;
}
.colorpicker_focus {
background-position: center;
}
.colorpicker_hex.colorpicker_focus {
background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
background-position: bottom;
}
.colorpicker_slider {
background-position: bottom;
}
.colorprev__bg
,.colorprev__title
,.colorprev__text{
padding:0px 5px;
border:solid 1px #ccc;
}




/******* set tag button ***********/
.settagbutton img,.settagbutton object,.settagbutton embed{
  vertical-align:middle;
}
.settagbutton{
padding-bottom:2px;
}
.stbi{
  float:left;
  text-indent:-3000em;
  overflow:hidden;
  width:22px;
  height:22px;
  margin-right:2px;
  cursor:pointer;
}


/* *** acesslog *** */
.day_style,
.day_style a:link,
.day_style a:visited          {color:#f00 ! important;}
.day_style_saturday,
.day_style_saturday a:link,
.day_style_saturday a:visited {color:#00f ! important;}
.on_day_style,
.on_day_style a:link,
.on_day_style a:visited       {color:#000 ! important;}
.day_selected a:link,
.day_selected a:visited,
.day_selected a:active,
.day_selected a:hover
          {font-weight:bold ! important;border:solid 1px #ccc ! important;background:#eaeaea ! important;}



/* *** storage *** */

.storageabout{
    background:url(/img/bl/storage_bg.png) no-repeat;
    height:238px;
}
.storagemargin{
    padding:0;
}
.storagetable{
    border-collapse:collapse;
    margin-bottom:20px;
    width:100%;
}
.storagetable td{
    border:solid 1px #cccccc;
    width:50%;
}
.storagetable td .margin{
    padding:10px 10px 10px 50px;
}
.storagepaymentTable{
    border-collapse:collapse;
    width:100%;
}
.storagepaymentTable td{
    border:solid 1px #cccccc;
    padding:5px;
}
.storageSection{
    padding: 10px;
    border: solid 1px #cccccc;
    margin-bottom: 20px;
    display: inline-block;
    width: 45.2%;
    margin-right: 10px;
    vertical-align: top;
    min-height: 320px;
}
.storageSection-extension {
    width: 97%;
}
.storagetitle{
    color:#528fb4;
    font-weight:bold;
    font-size:18px;
    padding-bottom:5px;
}
.storageh3{
    font-weight:bold;
    color:#528fb4;
    font-size:14px;
}
.storageh3 + div {
    vertical-align: bottom;
    margin-top: 20px;
    padding-top: 0;
    margin-bottom: 25px;
}
.storage10gb{
    background:url(/img/bl/storage_10gb.jpg) no-repeat 5px 50%;
}
.storage20gb{
    background:url(/img/bl/storage_20gb.jpg) no-repeat 5px 50%;
}
.storage50gb{
    background:url(/img/bl/storage_50gb.jpg) no-repeat 5px 50%;
}
.storage100gb{
    background:url(/img/bl/storage_100gb.jpg) no-repeat 5px 50%;
}
.storagecapacity{
    font-size: 16px;
    margin: 10px 10px 0 0;
}
.storageselectCard{
    background:url(/img/bl/bt_credit.png) no-repeat;
    width:241px;
    height:95px;
    text-indent:-3000em;
    overflow:hidden;
    border:0;
    cursor:pointer;
    display:block;
    margin:0 auto;
}
.storageselectBank{
    background:url(/img/bl/bt_bank.png) no-repeat;
    width:241px;
    height:95px;
    text-indent:-3000em;
    overflow:hidden;
    border:0;
    cursor:pointer;
    display:block;
    margin:0 auto;
}
.upload_limit_size_bar{
    background:url(/img/bl/storage_usedbar_bg.png);
    border-radius:10px;
    border:solid 1px #cccccc;
    height:60px;
    width:726px;
    position:relative;
    overflow:hidden;
    margin: auto;
}
.total_upload_size_bar{
    border-radius:10px 10px 10px 10px;
    height:60px;
    line-height:60px;
    background:url(/img/bl/storage_userdbar_on_bg.png);
    width:0px;
    color:#ffffff;
    overflow:hidden;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    max-width:708px;
}
.storagemap{
    background:url(/img/bl/storage_roadmap.jpg) no-repeat;
    height:44px;
}
.storagestatusTable{
    width:100%;
    border-collapse:collapse;
}
.storagestatusTable th{
    border:solid 1px #d1d1d1;
    padding:5px;
    color:#ffffff;
    background-color:#9e9e9e;
    text-align:center;
}
.storagestatusTable td{
    border:solid 1px #d1d1d1;
    padding:5px;
    text-align:center;
}
.paymentstatus{
    display:block;
    width:80px;
    margin:0 auto;
}
.storage-payment-explan {
    margin-top: 15px;
    margin-bottom: 15px;
}
.storage-payment-explan__title {
    color: #528fb4;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}
.storage-payment-explan__item {
    margin-bottom: 10px;
}

.payment-notify {
    background: #efefef;
    padding: 5px 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}

.payment-maintenance {
    background: #4682B4;
    margin: 30px 0;
    padding: 100px 0;
    text-align: center;
    font-size: 20px;
    color: white;
    border: 3px solid #373D8B;
}

/* *** emoji palette *** */
table.pictogram-font {
    /* border-collapse: collapse; */
    margin: 0.3em;
}
table.pictogram-font td {
    /* border: solid 1px #ddd; */
    font-size: larger;
    padding: 2px;
    cursor: pointer;
    text-align: center
}

/* =============================================={{ common }}========== */

.list-table{
background-color:#f2f2f2;
margin-bottom:15px;
}
.list-title{
color:#626262;
font-weight:bold;
padding:5px;
background-color:#fcfcfc;
text-align:center;
font-size:12px;
}
.list-title2{
color:#626262;
font-weight:bold;
padding:5px;
background-color:#fcfcfc;
font-size:12px;
}
.list-body{
color:#626262;
padding:5px;
background-color:#FFF;
font-size:12px;
}
.cmnformlist{
border:solid 1px #D7D7D7;
margin-bottom:5px;
background:#fff url(/img/bl/bgdot_gray.gif) repeat-y 150px 0;
}
.cmnformlist dt{
float:left;
width:130px;
padding:10px;
height:auto;
}
.cmnformlist dd{
float:left;
width:500px;
padding:10px;
/* border-left:dotted 1px #D7D7D7; */
min-height:20px;
height:auto;
}
.ignoreformlist{
border:solid 1px #D7D7D7;
margin-bottom:5px;
background:url(/img/bl/bgdot_gray.gif) repeat-y 40px 0;
}
.ignoreformlist dt{
float:left;
width:20px;
padding:10px;
height:auto;
}
.ignoreformlist dd{
float:left;
width:500px;
$width:450px;
padding:10px;
/* border-left:dotted 1px #D7D7D7; */
min-height:20px;
height:auto;
}

.overlayformlist{
border:solid 1px #D7D7D7;
margin-bottom:5px;
background:url(/img/bl/bgdot_gray.gif) repeat-y 100px 0;
}
.overlayformlist dt{
float:left;
width:85px;
padding:10px;
height:auto;
}
.overlayformlist dd{
float:left;
width:195px;
padding:10px;
/* border-left:dotted 1px #D7D7D7; */
min-height:20px;
height:auto;
}
.main-iframe {
margin: 0px;
width:95%;
}
.optionTbl{
  width:100%;
  border-collapse:collapse;
  font-size:12px;
  }
  .optionTbl th{
    padding:0;
    vertical-align:top;
  }
  .optionTbl td{
    padding:0 5px 5px 0;
    vertical-align:top;
    white-space:nowrap;
  }
.cancel-submit{
height:36px;
line-height:36px;
border:solid 1px #c4c4c4;
padding:0px 20px;
background:url(/img/bl/bt_cancel_line.gif) repeat-x;
text-indent:0em;
overflow:hidden;
vertical-align:middle;
margin-right:15px;
font-size:14px;
font-weight:bold;
font-family:Arial;
color:#767676;
cursor:pointer;
border-radius: 5px;
box-shadow: inset 1px 1px 1px #fff;
}
.cancel-submit:active{
background:url(/img/bl/bt_cancel_ov_line.gif) no-repeat;
}
#is_blog_name{
vertical-align:middle;
}
.hostcheck{
vertical-align:middle;
width:110px;
height:17px;
line-height:17px;
border:none;
padding:0px 0px;
background:url(/img/bl/bt_hostchack_line.gif) repeat-x;
text-indent:0px;
overflow:hidden;
vertical-align:middle;
margin:5px 0 0px 0;
font-size:12px;
color:#999;
text-align:center;
cursor:pointer;
border-radius: 5px;
font-weight:normal;
}
.hostcheck:active{
background-image:url(/img/bl/bt_hostchack_ov_line.gif);
}
.main-section{
margin-bottom:10px;
}
.showhide_wrap_off{
margin-bottom:10px;
}
.showhide_wrap_off .mainsection{
background:url(/img/bl/main-section.png) no-repeat 0px 0px ;
height:38px;
line-height:38px;
font-size:14px;
cursor:pointer;
}
.showhide_wrap_off .mainsectionTitle{
background:url(/img/bl/ico_open.gif) no-repeat 10px 10px ;
padding-left:35px;
}

.showhide_wrap_on{
margin-bottom:10px;
background-color:#f8f8f8;
border:solid 1px #ccc;
border-radius: 5px;
box-shadow: 0 2px 0 #eee;
}
.showhide_wrap_on .mainsection{
width:748px;
height:38px;
line-height:38px;
font-size:14px;
cursor:pointer;
background:none;
}
.showhide_wrap_on .mainsectionTitle{
background:url(/img/bl/ico_close.gif) no-repeat 10px 10px ;
padding-left:35px;
}
.showhide_viewarea{
background-color:#e6e6e6;
width:720px;
margin:0 auto;
padding:5px 5px 4px;
margin-bottom:10px;
}


.showhide_wrap_off2{
margin-bottom:10px;
background-color:#f8f8f8;
border:solid 1px #ccc;
border-radius: 5px;
box-shadow: 0 2px 0 #eee;
}
.showhide_wrap_off2 .mainsection{
height:38px;
line-height:38px;
font-size:14px;
cursor:pointer;
}
.showhide_wrap_off2 .mainsectionTitle{
background:url(/img/bl/ico_open.gif) no-repeat 10px 10px ;
padding-left:35px;
}

.showhide_wrap_on2{
margin-bottom:10px;
background-color:#f8f8f8;
border:solid 1px #ccc;
border-radius: 5px;
box-shadow: 0 2px 0 #eee;
}
.showhide_wrap_on2 .mainsection{
height:38px;
line-height:38px;
font-size:14px;
cursor:pointer;
background:none;
}
.showhide_wrap_on2 .mainsectionTitle{
background:url(/img/bl/ico_close.gif) no-repeat 10px 10px ;
padding-left:35px;
}
.showhide_viewarea2{
background-color:#e6e6e6;
margin:0 auto;
padding:5px 5px 4px;
margin-bottom:10px;
}
.showhide_viewarea2inner{
background:#fff;
padding:5px;
}
.tooltip{
padding:5px;
/* background: none repeat scroll 0 0 rgba(125, 125, 125, 0.6); */
background-color:#fff;
border:solid 1px #ccc ! important;
min-width:120px;
max-width:500px;
overflow:hidden;
border-radius: 5px;
}
.recent_tags li{
border:solid 1px #ccc;
display:inline-block;
margin:2px;
cursor:pointer;
background-color:#ccc;
padding-right:20px;
padding-left:3px;
background-image:url(/img/bl/tag_add.gif);
background-repeat:no-repeat;
background-position:99% 40%;
border-radius: 5px;
}

.remove_tag img{
vertical-align:middle;
cursor:pointer;
}

.showHidewrap{}

/* Rich switch show hide trigger*/
.rs{
margin-bottom:10px;
background:#f8f8f8;
border:solid 1px #ccc;
border-radius: 5px;
box-shadow: 0 2px 0 #eee;
}
.rssht{
height:38px;
line-height:38px;
font-size:14px;
cursor:pointer;
padding-left:10px;
}
.rsshti img{
padding-bottom:7px;
vertical-align:middle;
}
.rsshc{
background-color:#e6e6e6;
margin:0 5px 200px;
padding:5px 5px 4px;
margin-bottom:10px;
}
.rsi{
background:#fff;
padding:5px;
}
.dotul li{
padding-left:20px;
background:url(/img/bl/li.gif) no-repeat 0 3px;
display:block;
}
.tagLists{
max-height:65px;
overflow:auto;
float:left;
padding-top:3px;
}
.list_more{
position:absolute;
top:0;
left:0;
border:solid 1px #ccc;
padding:10px;
background-color:#fff;
z-index:255;
color:#000;
}
/* *** error *** */

.main-error{
  margin:10px 0px;
  padding:5px;
  border:1px solid #fcb646;
}
.main-error-message{
  color:#fcb646;
  line-height:120%;
}
.caution{
color:#fcb646;
font-weight:bold;
}


/* *** help  *** */
.help-tooltip {
   display: none;
   font-size:12px;
   color:#fff;
z-index:355;
}
.help {
background: #FFF;
/* background:url(/img/myblog/tips_sankaku.gif) no-repeat 0px 0px; */
top:-20;
left:20px;
}
.help-title{
background-color:#6b768c;
border:1px solid #6b768c;
color:#FFF;
padding:3px 8px;
width:300px;
font-size: 12px;
text-align:left;
font-weight: normal;
margin-left:5px;
}
.help-body{
background-color:#FFF;
padding:8px;
width:300px;
border-left:1px solid #6b768c;
border-right:1px solid #6b768c;
border-bottom:1px solid #6b768c;
line-height:1.2;
font-size: 12px;
text-align:left;
font-weight: normal;
color:#626262;
line-height:120%;
margin-left:5px;
word-break:break-all;
}




.cmnwrap{
border:solid 1px #D1D1D1;
padding:10px;
}
.inputtext{
border:solid 1px #A9ACAC;
background:#ffffff url(/img/bl/input_bg.jpg) repeat-x;
height:20px;
line-height:20px;
}
.main_finished{
text-align:center;
border:solid 1px #FFA264;
color:#FFA264;
padding:10px;
margin-bottom:10px;
}
.mainpager{
text-align:center;
padding-top:10px;
}
.nowpage_num{}
.page_num{}
.toggle_btn img{
vertical-align:middle;
}


/* =============================================={{ overlay }}========== */

a.close {
/*
    background-image: url(/img/close.png);
    position: absolute;
    top: -15px;
    right: -15px;
    display:block;
    cursor: pointer;
    height: 36px;
    width: 36px;
    background-image: url(/img/bl/ico_panelclose.png);
*/
    background-image: url(/img/bl/p_close.png);
    position: absolute;
    top: -20px;
    right: -20px;
    display:block;
    cursor: pointer;
    height: 35px;
    width: 35px;
}
.modal a.close {
    top: -30px;
    right: 10px;
}

.iframepanel{
border-radius: 15px 15px 0 0;
}
#iframe_area{
margin:0;
padding:0 0 0px 0;
border-radius: 10px 10px 0 0;
}
#iframe_area iframe{
border-radius: 10px 10px 0 0;
}
.iframeTitle{
border-radius: 10px 10px 0 0;
background:#efefef;
font-size:14px;
padding:10px;
border-bottom:solid 1px #d1d1d1;
}
.iframeWrap{
font-size:12px;
margin:0 auto;
width:500px;
padding:20px;
}

#overlay, #overlay-internal {
background: none repeat scroll 0 0 rgba(255, 255, 255, 1.0);
border-radius: 10px;
padding:0px;
display:none;
width:650px;
height:auto;
max-height: 600px;
border:solid 5px #333;
color:#333333;
background-color: #fff;
}
.noheader #overlay,.noheader #overlay-internal {
width:600px ! important;
}

.overlaywrap{
background: none repeat scroll 0 0 rgba(255, 255, 255, 1.0);
border-radius: 20px;
padding:0px;
display:none;
width:650px;
height:auto;
max-height: 600px;
border:solid 5px #333;
color:#333333;
}
.overlayinner{
background:#fff;
border-radius: 15px;
padding:10px;
margin:0 auto;
height:100%;
/* overflow:auto; */
}
/* =============================================={{ recommend style }}========== */

.recommendThemeArea{
   margin: 0 ;
   background:#f6f6f6;
   border:solid 1px #d1d1d1;
/*   -webkit-border-radius: 5px 5px 5px 5px;
   -moz-border-radius:5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;*/
}
.recommendThemeTtl{
   font-weight:bold;
   font-size:14px;
/*   color:#333;*/
   background:#f6f6f6;
   padding:5px;
/*   -webkit-border-radius: 5px 5px 0px 0px;
   -moz-border-radius:5px 5px 0px 0px;
   border-radius: 5px 5px 0px 0px;*/
}
.recommendThemeBox{
   border:solid 1px #d1d1d1;
   background:#ffffff;
   padding:20px 0px 20px 25px;
   margin:0px 0px 20px 0px;
/*   padding:10px 20px 5px;*/
}
.themelistBox{
   border:solid 1px #d1d1d1;
   background:#ffffff;
   padding:10px 0px 20px 25px;
   margin:0px 0px 20px 0px;
/*   padding:10px 20px 5px;*/
}
.thmeTitle{
/*   font-weight:bold;*/
   font-size:14px;
}
.themeArea{
}
.themeLst{
   background:#fff;
   float:left;
   border:solid 1px #d1d1d1;
   margin-right:40px;
}
.themeLst a{
    color:#555555;
}
.themeLst .pt3 a{
   color:#2ca9e1;
}
.themeLst .on .pt3{
   color:#333;
}
.themeSolid{
}
.themeLst .on{
/*   border:solid 1px #999;*/
/*   margin:-1px;*/
   background:#ccc;
/*   -webkit-border-radius: 5px 5px 5px 5px;
   -moz-border-radius:5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;*/
}
.themeLst .on a{
   color:#333;
}



/* =============================================={{ menu_tabs style }}========== */

.content_submenu {
  margin:5px 0;
  padding:10px;
  border-top: solid 0px #d1d1d1;
  border-left: solid 0px #d1d1d1;
  border-right: solid 0px #d1d1d1;
}

.content_submenu li:first-child:before {
  padding:0px;
  content:'';
}
.content_submenu li:before {
  padding:7px;
  content: '|';
}
.submenu_list li{
  float:left;
}
.contents_wrap_border{
  border-bottom: solid 1px #d1d1d1;
  border-left: solid 1px #d1d1d1;
  border-right: solid 1px #d1d1d1;
}

/* =============================================={{option article }}========== */
.option_article{
    cursor:pointer;
}

.icon-bl-editoricon-sprite__icon_21 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: 0px -162px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_21:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -176px -27px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_22 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -27px -162px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_22:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -54px -162px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_23 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -81px -162px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_23:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -108px -162px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_24 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -135px -162px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_24:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -162px -162px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_25 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -203px 0px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_25:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -203px -135px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_26 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -203px -162px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_26:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -114px -81px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_27 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: 0px -108px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_27:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -27px -108px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_28 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -54px -108px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_28:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -81px -108px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_29 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -108px -108px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_29:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -149px 0px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_30 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -149px -27px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_30:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -149px -54px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_31 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -149px -81px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_31:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -149px -108px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_32 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: 0px -135px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_32:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -27px -135px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_33 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -54px -135px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_33:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -81px -135px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_36 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -176px 0px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_36:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -114px -54px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_39 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: 0px 0px;
  width: 52px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_39:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -57px -54px;
  width: 52px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_40 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -50px -81px;
  width: 45px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_40:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: 0px -81px;
  width: 45px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_41 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: 0px -54px;
  width: 52px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_41:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -57px -27px;
  width: 52px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_45 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -203px -81px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_45:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -203px -108px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_47 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -57px 0px;
  width: 52px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_47:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: 0px -27px;
  width: 52px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_48 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: 0px -189px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_48:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -27px -189px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_49 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -54px -189px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_49:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -81px -189px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_50 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -203px -27px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_50:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -203px -54px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_51 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -114px 0px;
  width: 30px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_51:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -114px -27px;
  width: 30px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_52 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -108px -189px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_52:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -135px -189px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_53 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -176px -108px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_53:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -176px -135px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_54 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -108px -135px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_54:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -135px -135px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_55 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -176px -54px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_55:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -176px -81px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_57 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -162px -189px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_57:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -189px -189px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_58 {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -230px 0px;
  width: 22px;
  height: 22px;
}
.icon-bl-editoricon-sprite__icon_58:hover {
  display: inline-block;
  background-image: url(/img/icon/sprite.png?20150710);
  background-position: -230px -27px;
  width: 22px;
  height: 22px;
}

/* =============================================={{ syntax_highlight }}========== */
.CodeMirror {
  width: 100% !important;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  font-size: 13px;
}

#highlight_toggle_html a:link,
#highlight_toggle_html a:visited,
#highlight_toggle_html a:hover {
  color: #666;
}

.highlight_toggle {
  color: #666;
  font-weight: bold;
  font-size: 12px;
  float: left;
  margin-top: 6px;
}
.highlight_toggle #highlight_state {
  color: #2ca9e1;
}

.highlight_caption {
  color: #989898;
  margin-left: 0.5em;
}
.cm_textarea_down {
  float: right;
  margin: 4px 3px 0 0;
}
.cm_textarea_up {
  float: right;
  margin-top: 4px;
}

/* =============================================={{ cover photo }}=========== */

/* Slider */

#cover_photo_settings label {
    display: inline-block;
    margin-right: 5px;
}
#cover_photo_settings input[type="text"] {
    display: inline-block;
    width: 3em;
}
#cover_photo_settings input.color-hex {
    width: 5em;
}
#cover_photo_settings ul {
    margin-bottom: -10px;
}
#cover_photo_settings li {
    margin-bottom: 10px;
}
ul.rgb-color-setting {
    float: left;
}
div.opacity-setting label {
    visibility: hidden;
}
div.opacity-setting div {
    display: inline-block;
    width: 410px;
}
ul.rgb-color-setting div,
ul.bg-position-setting div {
    display: inline-block;
    width: 360px;
}
div.opacity-slider,
div.rgb-slider,
div.position-slider {
    margin-left: 10px;
}
ul.rgb-color-setting li.color-hex label:after {
    margin-left: 5px;
    content: ":";
}
div.sample-color {
    float : right;
    width: 40px;
    height: 70px;
    border: 1px solid #cccccc;
}
.ui-corner-all { border-radius: 4px; } /* jQuery UIに記述がない為 */
.rgb-red .ui-slider-range { background: #ef2929; }
.rgb-red .ui-slider-handle { border-color: #ef2929; }
.rgb-green .ui-slider-range { background: #8ae234; }
.rgb-green .ui-slider-handle { border-color: #8ae234; }
.rgb-blue .ui-slider-range { background: #729fcf; }
.rgb-blue .ui-slider-handle { border-color: #729fcf; }

/* =============================================={{ drag and drop upload }}========== */
#upload-area {
  box-sizing: border-box;
}

#upload-area.article__body,
#upload-area.content__header,
#upload-area.content__footer,
#upload-area.html__main_html,
#upload-area.mobile_html__main_html {
  padding: 10px;
}

.upload-area-title {
  float: left;
  font-size: 16px;
}

.dropzone > .inner {
  clear: both;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.my-dropzone {
  clear: both;
  position: relative;
  display: table-cell;
  width: 100%;
  height: 160px;
  padding: 10px;
  background: #F7F7F7;
  border: 2px dashed #D1D6D6;
  color: #999;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
  box-sizing: border-box;
}

.my-dropzone p > span {
  display: block;
  font-size: 12px;
}

.my-dropzone:hover {
  background: #F0F0F0;
}

.my-dropzone-ondrag {
  color: #546B7A;
  border: 2px dashed #A0C9E5;
  background: #E8EFF4;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.article__body .my-dropzone {
  height: 120px;
}

/* preview */
.dz-preview {
  position: relative;
  margin: 10px 0;
  padding: 6px;
  background: #FFF;
  font-size: 12px;
  border: 1px solid #DDD;
}

.dz-preview:last-of-type {
  margin-bottom: 0;
}

.dz-preview-remove {
  display: none;
  position: absolute;
  top: 14px;
  right: 10px;
  width: 36px;
  height: 36px;
  text-align: center;
  background: #FFF;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #DDD;
  border-radius: 4px;
}
.dz-preview-remove:hover {
  background: #F6F6F6;
}

.dz-preview-remove img {
  vertical-align: middle;
}


.dz-details .thumb {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
  border: 1px solid #EEE;
  box-sizing: border-box;
  overflow: hidden;
}

.dz-details .thumb img {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}

.dz-details .summary {
  display: block;
  padding-left: 72px;
  text-align: left;
  font-size: 14px;
  word-break: break-all;
}

.dz-success-mark,
.dz-error-mark,
.dz-error-message {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.dz-success .dz-success-mark {
  display: block;
  background: #ADE070;
  border-radius: 50%;
}

.dz-error .dz-error-mark {
  display: block;
  background: #E07570;
  border-radius: 50%;
}

.dz-error .dz-error-message {
  display: block;
  padding: 8px 10px;
  background: #FEE;
  border: 1px solid rgba(255,0,0,.1);
  border-radius: 4px;
  color: #C64949;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.dz-progress {
  clear: both;
  width: 100%;
  height: 8px;
  margin-top: 8px;
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35) inset;
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.dz-upload {
  float: left;
  width: 0;
  height: 8px;
  -webkit-animation: animate-stripes 2s linear infinite;
  animation: animate-stripes 2s linear infinite;
  background-color: #888;
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.07) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0.07) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.07) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0.07) 75%, transparent 75%, transparent);
  background-size: 30px 30px;
  border-radius: 8px;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  box-sizing: border-box;
}

@keyframes animate-stripes {
  0% {
    background-position: 30px 0;
  }
  100% {
    background-position: 0 0;
  }
}


/* uoload fileselect */
.upload-copybanner {
  float: right;
  display: block;
  margin-bottom: 8px;
}

div[id^="my-dropzone-preview-template-"] {
  display: none;
}

/* fileselect*/
#upload-area-fileselect {
  margin: 10px 0 20px;
}

.article__body #upload-area-fileselect,
.content__header #upload-area-fileselect,
.content__footer #upload-area-fileselect,
.html__main_html #upload-area-fileselect,
.mobile_html__main_html #upload-area-fileselect {
  margin: 10px 0 0;
}

#upload-area-fileselect .select {
  padding: 10px;
  background: #F7F7F7;
  border: 1px solid #D1D6D6;
  text-align: center;
  color: #666;
  cursor: pointer;
}

#upload-area-fileselect .select:hover {
  background: #F0F0F0;
}

#upload-area-fileselect .select:after {
  content: "▼";
  display: inline-block;
  margin-left: 3px;
}

#upload-area-fileselect .select.open:after {
  content: "▲";
}

#upload-area-fileselect .option {
  display: none;
  padding: 12px;
  border-left: 1px solid #D1D6D6;
  border-right: 1px solid #D1D6D6;
  border-bottom: 1px solid #D1D6D6;
  background: #FAFAFA;
}

#upload-area-fileselect .option  input {
  outline: none;
}

#upload-area-fileselect .btn-upload {
  display: block;
  width: 240px;
  margin: 0 auto;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-shadow: 0 -1px 1px rgba(0,0,0,.05);
}

#upload-option > h2 {
  margin-bottom: 4px;
  font-size: 12px;
  color: #666;
}

#upload-option dl {
  clear: both;
  display: table;
  width: 100%;
  background: #FFF;
  border: 1px solid #DDD;
  border-bottom: none;
}

#upload-option dl:last-of-type {
  border-bottom: 1px solid #DDD;
}

#upload-option dt {
  display: table-cell;
  width: 120px;
  padding: 10px;
  vertical-align: middle;
}

#upload-option dd {
  padding: 10px;
  border-left: 1px solid #DDD;
}

#upload-option input[type="text"],
.search-option input[type="text"] {
  padding: 4px 8px;
  border: 1px solid #D1D6D6;
}

#upload-option .directory select,
#dummy_upload__del_form select,
.search-option select {
  float: left;
  padding: 3px 8px;
  border: 1px solid #D1D6D6;
  margin-right: 6px;
}

#upload-option .directory #id_add_upload__dirname {
  margin-right: 4px;
}

#upload-option .tag input[type="text"] {
  background: none #FFF;
  border: 1px solid #d1d6d6;
  height: 14px;
  line-height: 14px;
  padding: 4px 8px;
}

#upload-option .modalformlist dt {
  float: none;
}

.add_dirname_error_message {
  font-size: 12px;
  color: #F66;
}
.upload_input_file_list div {
  margin-bottom: 5px;
}

.add_file {
  margin: 10px 0;
}
.add_file a {
  text-decoration: underline;
}

.add_file a:hover {
}

.upload_input_file_list:after,
.upload-option dl:after,
.dz-preview:after,
.dz-details:after,
.search-option:after,
.fileselect-upload:after {
  content: "";
  clear: both;
  display: block;
}

.fileselect-upload {
  clear: both;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* =============================================={{ fileselector }}======= */

div.fs-filter label:after {
    content: ":";
}
ul.fs-uplist {
    overflow: auto;
    display: block;
    background-color: #f0f0f0;
}
ul.fs-uplist li {
    float: left;
    border: 1px solid white;
    cursor: pointer;
}
li.fs-selected {
    border: 1px solid red !important;
}

/* =============================================={{ placeholder  }}========== */
::-webkit-input-placeholder {
  color: #AAA;
}
::-moz-placeholder {
  color: #AAA;
}
:-moz-placeholder {
  color: #AAA;
} 
:-ms-input-placeholder {
  color: #AAA;
} 


/* =============================================={{ search-option }}========== */
.search-option {
  display: table;
  width: 100%;
  margin-bottom: 6px;
  padding: 2px 0;
  box-sizing: border-box;
}

.search-option dl {
  float: left;
  margin-right: 10px;
}

.search-option dt,
.search-option dd {
  display: table-cell;
  vertical-align: middle;
}

.search-option dl.keyword dd:after {
  content: "|";
  padding-left: 6px;
  color: #CCC;
}

.search-option dl.limit {
  float: right;
  margin: 0;
}

.search-option dl.limit select {
  margin: 0;
}

.help-tooltip-trigger img {
  vertical-align: middle;
}

/* =============================================={{ draft }}========== */
.draft_message {
  display: block;
  margin: 15px 0;
  padding: 10px;
  font-size: 16px;
  color: #a94442;
  border: 1px solid #efced6;
  border-radius: 4px;
  background: #f9e5e5;
}

.draft_message a {
  display: inline-block;
  margin-left: 6px;
  text-decoration: underline;
}

.draft_message a:hover {
  text-decoration: none;
}

.draft_label {
  margin-top: 5px;
  color: #666;
  text-align: right;
}

/* =============================================={{ blog_theme }}========== */
#use_blog_theme_button.blog_theme_genre {
  background: #de5654;
  margin-bottom: 9px;
  padding: 8px 12px;
  line-height: 1;
  height: auto;
}
#use_blog_theme_button.blog_theme_genre:hover {
	opacity: 0.8;
}

.message {
	width: 100%;
	margin-top: 5px;
}
.message tr {
	border-bottom:solid 1px #E6E6E6;
}
.message th {
    text-align: center;
    background: #999;
    color: white;
    border-right: 1px solid #fff;
    padding: 10px;
}
.message td {
    text-align: center;
    padding: 10px 10px;
}
.message .th-subject {
    border-right: 0;
    text-align: left;
    padding-left: 20px;
}
.message .td-subject {
	text-align: left;
	padding-left: 20px;
}
.message .confirm {
    padding: 10px 0;
}
.message .confirm a {
    display: inline-block;
    padding: 6px 11px;
    background: #00bfee;
    color: white;
}
.message .confirm a:hover {
	text-decoration: none;
	background: #00B2DE;
}
.message .fa-envelope{
  font-size: 16px;
  vertical-align: -1px;
}
.message .fa-envelope-unread {
  color: #cc0000;
}
.message .icon-open:before {
    font-size: 15px;
    vertical-align: -2px;
    color: #bbb;
    margin-right: 0;
    margin-left: 0;
}

.message-detail-wrap {
    padding: 15px;
    border: 1px solid #ddd;
}
.message-detail {
    margin: 10px;
	border-bottom: 1px solid #999;
}
.message-detail-date {
    padding: 10px;
    background: #999;
    color: white;
}
.message-detail-text {
	padding: 20px 10px;
}

.upload_pagenation {
	text-align: center;
}
.pagenation_counter {
	margin-bottom: 5px;
}
.pagenation {
	
}
.pagenation ul {
	
}
.pagenation ul li {
	display: inline-block;
	margin-right: 10px;
}
.pagenation ul li:last-child {
	margin-right: 0;
}
.pagenation ul li a {
	display: block;
	border: 1px solid #333;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
.pagenation ul li a:hover {
	background: #333;
	color: #fff;
}
.pagenation ul li.current a {
	background: #333;
	color: #fff;
}

/* =========={{ domain purchase }}========== */

#order_check_result {
    display: inline-block;
    margin-left: 5px;
}

.domain-notify-updatable {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(44,169,225,1);
}
.domain-notify-updatable:hover {
    background-color: rgba(44,169,225,0.8);
}
.domain-notify-updatable-link:hover {
    color:#fff;
    text-decoration: none;
}
.domain-pending-update {
    margin: 10px 0;
    padding: 10px 15px;
    border: 1px solid rgba(44,169,225,1);
    border-radius: 5px;
    color: rgba(44,169,225,1);
}

.domain-purchase-check-list {
    margin: 20px 15px;
    font-size: 110%;
    font-weight: bold;
}
.domain-purchase-check-list li {
    margin-bottom: 1em;
    line-height: 1.5em;
}
.domain-purchase-check-list label {
    display: table;
}
.domain-purchase-check-list input[type="checkbox"] {
    display: table-cell;
}
.domain-purchase-check-list .domain-purchase-check-list-text {
    display: table-cell;
    padding-left: 10px
}
.domain-purchase-all-agreed-caption {
    margin: 15px;
}

.domain-purchase-table {
    width:100%;
    border-collapse:collapse;
}

.domain-purchase-table th {
    padding: 5px 15px;
    color:#ffffff;
    background-color:#9e9e9e;
}

.domain-purchase-table td {
    padding: 5px 15px;
    border-bottom:solid 1px #d1d1d1;
}

.domain-purchase-table .price {
    text-align: right;
}

/* use by jQuery */

.domain-order-check {
    font-weight: normal;
    color: #999;
}
.domain-order-check-ok {
    font-weight: bold;
    color: #c00;
}
.domain-btn-disable {
    opacity: 0.5;
    cursor: default;
}
.domain-btn-enable {
    opacity: 1.0;
    cursor: pointer;
}
.domain-btn-confirm {
    font-size: 12px;
}
.domain-btn-regist {
    font-size: 14px;
}
