
/**************** portal layout *****************/

.portalleft{
float:left;
width:600px;
margin-right:10px;
/*overflow:hidden;*/
}
.portalleftInner_g{
background:#f4fbd2;
padding:8px;
}
.portalleftInner_g_box{
border:solid #daed7a;
border-width:0 1px 1px;
background:#ffffff;
padding:10px;
}
.portalleftInner_g_box2{
border:solid #daed7a;
border-width:1px 1px 1px;
background:#ffffff;
padding:10px;
}
.portalleftInner_b{
background:#ecf6f8;
padding:8px;
position:relative;
}
.portalleftInner_b_box{
border:solid #cbdddf;
border-width:0 1px 1px;
background:#ffffff;
padding:10px;
}
.portalleftInner_b_box2{
border:solid #cbdddf;
border-width:1px 1px 1px;
background:#ffffff;
padding:10px;
}

.portalleft a:link   {color:#2ca9e1;}
.portalleft a:visited{color:#2d7de0;}
.portalleft a:active {color:#2ca9e1;}
.portalleft a:hover  {color:#2d7de0;}

.portalright{
float:left;
width:300px;
margin-right:0px;
overflow:hidden;
}
nav{
background-image:url(/img/bl/portal_nav_bg.jpg);
margin-bottom:5px;
overflow:hidden;
}
nav li{
float:left;
display:block;
}
nav a{
display:block;
text-align:center;
line-height:26px;
width:180px;
border-right:solid 1px #d9f272;
border-left:solid 1px #adca44;
font-size:12px;
text-shadow:#fff 1px 1px;
color:#666 ! important;
}
.navRecommend{
border-left:0;
}
.navMypage{
border-right:0;
width:181px;
}

.navRecommendOn{
background-image:url(/img/bl/navi_ov.jpg);
background-position:0px 0px;
}
.navPoplarOn{
background-image:url(/img/bl/navi_ov.jpg);
background-position:182px 0px;
}
.navRecentOn{
background-image:url(/img/bl/navi_ov.jpg);
background-position:182px 0px;
}

nav a:hover{
background-image:url(/img/bl/navi_ov.jpg);
}
.navRecommend:hover{
background-position:0 0;
}
.navPoplar:hover{
background-position:182px 0px;
}
.navRecent:hover{
background-position:182px 0px;
}
.navAfilliate:hover{
background-position:182px 0px;
}
.navMypage:hover{
background-position:100% 0;
}


/***************** common *****************/

.portaltitle{
color:#555;
font-size:16px;
}
.tabsunder{
background:url(/img/bl/1x1_g.jpg) repeat-x 0 100%;
color:#555;
}



/***************** blogparts *****************/

.blogparts-main{
margin-bottom:5px;
float:left;
width:570px;
}
.blogparts-tbl{
width:100%;
color:#000;
margin-bottom:20px;
padding:5px 5px 10px 5px;
background:#F9F6E7;
}
.ol-blogparts{
padding:0px;
margin:15px 10px 10px 40px;
color:#f00;
font-weight:bold;
}
.ol-blogparts li{
padding-bottom:3px;
}
.blogparts-font-normal{
color:#000;
font-weight:normal;
}
.blogparts-how{
background:#88BBE8;
color:#fff;
font-weight:bold;
padding:2px 5px 7px 17px;
font-size:12px;
}
.blogparts-recommend-ttl{
color:#5F5300;
font-weight:bold;
}
.blogparts-hide-area{
width:250px;
height:80px;
font-size:12px;
}

.blogparts-list{
padding-top:3px;
text-align:center;
float:left;
width:67px;
}
.blogparts-list-on{
padding-top:3px;
text-align:center;
float:left;
width:67px;
background-image:url(/img/blog_parts/navi_on.jpg);
border-bottom:solid 1px #fff;
font-weight:bold;
margin-bottom:-1px;
}
.blogparts-list-on a{
color:#000;
}
#other-blog-list img{
border:0;
vertical-align:middle;
}

a.blogPartsReview{
display:block;
cursor:pointer;
}
a.blogPartsReview:hover{
background:#FCFFC1;
text-decoration:none;
}

/** 2009.3.30 **/

/** h5 , h6 **/
.h5_01 , .h5_02 , .h5_03 , .h5_04{
background:url(/img/blog_parts/h5.jpg) no-repeat;
width: 600px;
height: 45px;
margin: 0px;
}
.h6_01 , .h6_02 , .h6_03 , .h6_04 , .h6_05{
background:url(/img/blog_parts/h6.jpg) no-repeat;
width: 300px;
height: 45px;
margin: 0;
}

.h5_01 span , .h5_02 span , .h5_03 span , .h5_04 span , .h6_01 span , .h6_02 span , .h6_03 span , .h6_04 span , .h6_05 span{ display: none;}
.h5_01 , .h6_01{background-position:top;}
.h5_02{background-position:0px -45px;}

.h6_02{background-position:0px 25%;}
.h5_03{background-position:0px 67%;}
.h6_03{background-position:0px 50%;}
.h6_04{background-position:0px 75%;}
.h5_04 , .h6_05{background-position:bottom}

.blogparts_link_bold{
font-size:13px;
font-weight:bold;
}

/** left_box **/
.blogparts_leftbox{
width:600px;
background:url(/img/blog_parts/h5_bottom.gif) left bottom no-repeat;
margin-bottom:30px;
padding-bottom:7px;
}

/** left_box - recommend **/
#blogparts_recommend01{
padding:10px 0;
margin: 0 10px;
border-bottom:#dddddd 1px solid;
}
#blogparts_recommend02{padding: 10px 10px 3px 10px;}

.blogparts_recommend_img{
width:160px;
text-align:center;
background-color:#ffffff;
float:left;
}

.blogparts_recommend_txt{
float:right;
width:415px;
}

/** left_box - pickup **/
#blogparts_pickup01 , #blogparts_pickup02{
width:274px;
margin:10px 0 3px 0;
padding:0 10px 0 10px;
}
* html #blogparts_pickup01{ padding:0 9px; }
* html #blogparts_pickup02{ padding:0 10px; }


#blogparts_pickup01{float:left;}
#blogparts_pickup02{float:right; border-left: #dddddd 1px solid;}

.blogparts_pickup_script{
width:160px;
margin:10px auto 0 auto;
}

/** left_box - button **/
a.blogparts_button_recommend , a.blogparts_button_pickup{
display:block;
width:120px;
height:30px;
background: url(/img/blog_parts/button.gif) bottom;
text-indent:-9999px;
overflow:hidden;
margin-top: 10px;
}
a.blogparts_button_recommend { float:right;}
a.blogparts_button_pickup { margin:12px auto 12px auto;}
a:hover.blogparts_button_recommend , a:hover.blogparts_button_pickup {background: url(/img/blog_parts/button.gif);}


/** right_box **/
.blogparts_both{margin-bottom:5px;}
.blogparts_margin_b{margin-bottom:10px;}
.blogparts_right_width{width:280px; margin:10px auto 30px auto;}
.blogparts_arrow_box{margin-top:10px; text-align:right;}
.blogparts_arrow_box2{margin-top:5px; text-align:right;}
.blogparts_link_arrow{background:url(/img/blog_parts/arrow.gif) top left no-repeat; padding-left:15px;}

.blogparts_img_over img{width:60px; height:60px; border:none; background-color:#eeeeee;}
.blogparts_img_over a img , .blogparts_img_over a{
float:left;
overflow: hidden;
}
.blogparts_img_over a:hover{border:#555555 4px solid;}
.blogparts_img_over a:hover img{margin: -4px;}

.blogparts_new_txt{
float:right;
width:215px;
}

.blogparts_right_info dt , .blogparts_right_info2 dt{
border-bottom:#dddddd 1px dashed;
font-weight:bold;
padding-bottom:3px;
margin-bottom:3px;
}
.blogparts_right_info2 dt{margin-top:15px;}
.blogparts_right_info , .blogparts_right_info2 , .blogparts_right_info dd , .blogparts_right_info2 dd{margin:0; padding:0;}


/** float **/
#blogparts_recommend01 , #blogparts_recommend02 , .blogparts_leftbox , .blogparts_both , .blogparts_ranking_list{overflow: hidden;}
#blogparts_recommend01:after , #blogparts_recommend02:after , .blogparts_leftbox:after , .blogparts_both:after , bblogparts_ranking_list:after{
    content: "";
    display: block;
    clear: both;
    height: 0px;
    overflow: hidden;
}
/*\*/
* html #blogparts_recommend01 , * html #blogparts_recommend02 , * html .blogparts_leftbox , * html .blogparts_both , * html .blogparts_ranking_list{
    height: 1em;
    overflow: visible;
}
/**/

.stickedTogether{
font-size:10px;
margin:auto 0px;
width:19%;
float:left;
padding:0px 2px;
text-align:center;
}



/***************** theme *****************/

.recommendThemeBox{
padding:15px 0px 15px 10px;
margin: 0 0 10px 0;
}
.thmeTitle{
	font-weight:bold;
	font-size:14px;
}
.themeArea{
}
.themeLst{
margin-right:10px;
}
.portalthemeLst{
margin-right:0px;
border:0;
overflow:hidden;
}
.themeLst .pt3,
.themeLst .pt3 a{
	color:#fff;
}
.themeLst .on .pt3{
	color:#333;
}
.themeSolid{
}
.themeLst .on{
	border:solid 1px #999;
	margin:-1px;
	background:#ccc;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.themeLst .on a{
	color:#333;
}



/***************** top *****************/

.imgLst{
float:left;
width:80px;
margin-right:11px;
background:#ebebeb;
text-align:center;
padding:2px;
}
.newsLst{
float:left;
width:300px;
overflow:hidden;
}
#recommendArea{
padding-bottom:0px;
padding-left:0px;
overflow:hidden;
position:relative;
height:110px;
}
.scroll{
position:absolute;
width:1250px;
}
.recommendLst{
display:block;
float:left;
width:70px;
margin-right:5px;
text-align:center;
font-size:80%;
}
.camLst{
display:block;
float:left;
margin-right:10px;
text-align:center;
font-size:80%;
}
.blogCategory{
height:auto;
overflow:hidden;
}
.bC-ul{
padding-bottom:32767px;
margin-bottom:-32767px;
float:left;
width:145px;
border-right:dotted 1px #666;
}
.mainPresent{
float:right;
width:310px;
background:url(/img/portal/main_present_t.jpg) no-repeat;
padding-top:5px;
margin-bottom:0px;
}
.mP-act{
float:left;
padding-top:15px;
width:120px;
margin-right:5px;
font-weight:bold;
color:#FD8A03;
border:solid 0px #000;
}
.mP-lst{
float:right;
width:160px;
border:solid 0px #000;
font-size:smaller;
}
.mP-u{
overflow:hidden;
height:3px;
background:url(/img/portal/main_present_u.jpg) no-repeat;
}
/* now reading */
.topRecentarea{
background:url(/img/bl/top_recent_bg.jpg) no-repeat;
height:127px;
overflow:hidden;
padding:5px 10px;
margin-bottom:10px;
}
.topRecentbox{
background:#fff;
border:solid 1px #efefef;
padding:5px 8px 2px 8px;
}
.topPopulararea{
background:url(/img/bl/top_popular_bg.jpg) no-repeat;
height:354px;
overflow:hidden;
padding:10px;
margin-bottom:10px;
}
.news{
margin-bottom:10px;
}
.topCmnsections{
margin-bottom:10px;
background:#EBF7F6;
padding:10px;
}
.topCmninner{
border:solid 1px #C9DEEA;
background:#fff;
padding:10px;
}
.topCategorylist li a{
background-image:url(/img/bl/arrow.jpg);
background-repeat:no-repeat;
background-position:0 6px;
float:left;
width:170px;
padding-left:10px;
}

.topRanking li {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E8F4F9;
}

.topRanking li:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}

.topRanking li > .rank {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 2px;
  background: #B3D649;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
}

.topRanking li dl {
  margin-left: 38px;
}

.topRanking li dd {
  color: #999;
}
.topRanking li:before,
.topRanking li:after　{
  content: "";
  display: table;
}

.topRanking li:after　{
  clear: both;
}




/***************** sidebar *****************/

.sidecmnSections{
border:solid 1px #eff2e1;
margin-bottom:10px;
background:#f0f5d5;
padding:5px;
}
.sidecmnInner{
padding:10px;
background:#fff;
border:solid 1px #e1e4d1;
}
.sidecmnTitle{
border-bottom:dotted 1px #565656;
padding-bottom:3px;
margin-bottom:10px;
font-size:14px;
}

.topInfolist li {
margin-left: 1em;
text-indent: -1em;
margin-bottom: 8px;
}

.topInfolist li a {
padding-left: 5px;
background: url(/img/bl/arrow.jpg) no-repeat;
background-position: 0 6px;
}

.submore{
font-size:10px;
background-image:url(/img/bl/arrow.jpg);
background-repeat:no-repeat;
background-position:center left;
padding-left:7px;
font-weight:bold;
color:#7b7b7b ! important;
}
.topThemetext{
color:#f60;
padding-bottom:5px;
font-size:10px;
}
.topThemelink{
background-image:url(/img/bl/top_icon_pen.jpg);
background-repeat:no-repeat;
background-position:0 0;
padding-left:20px;
}
.topPartslist{
float:left;
width:59px;
text-align:left;
margin-right:10px;
}
.sidePresent{
padding:10px;
border:solid 1px #e1e4d1;
background-image:url(/img/bl/top_present.jpg);
background-repeat:no-repeat;
background-position:0 0;
background-color:#fff;
}
.sidePresentsite{
display:block;
overflow:hidden;
text-indent:-3000em;
border-bottom:dotted 1px #565656;
line-height:49px;
margin-bottom:10px;
}
.searchblog{
cursor:pointer;
color:#000 ! important;
display:block;
float:left;
font-weight:bold;
text-align:center;
padding:2px 0;
width:57px;
background:url(/img/portal/search_sel_1.jpg) no-repeat;
}
.searchblogOn{
background:url(/img/portal/search_sel_1_on.jpg) no-repeat;
cursor:default;
text-shadow: 1px 1px #ffffff;
}
.searchimage,
.searchmovie{
cursor:pointer;
color:#000 ! important;
display:block;
float:left;
font-weight:bold;
text-align:center;
padding:2px 0;
width:57px;
background:url(/img/portal/search_sel_2.jpg) no-repeat;
}
.searchimageOn,
.searchmovieOn{
background:url(/img/portal/search_sel_2_on.jpg) no-repeat;
cursor:default;
text-shadow: 1px 1px #ffffff;
}
.searchBg{
background:url(/img/portal/search_bg.jpg);
text-align:center;
padding:5px 0 0px;
}
.searchInput{
border:solid 1px #aaa;
vertical-align:middle;
height:15px;
width:180px;
}
.searchBg .searchInput{
border:solid 1px #aaa;
vertical-align:middle;
height:17px;
width:180px;
}
.searchBtn{
border:solid 0 #fff;
background:url(/img/portal/search_button_bg.jpg) no-repeat 0 50%;
padding:4px 0px;
width:57px;
vertical-align:middle;
cursor:pointer;
}

/* pager */
.main-pager{
	font-size:12px;
	margin:10px 0px;
	text-align:center;
}
.now-page-num{
	color:#d9d9d9;
	border:1px solid #d9d9d9;
	padding:3px;
	font-size:12px;
}
.page-num{
	padding:3px;
	font-size:12px;
}
/* pager */

/*fortune*/
.fortune-table-bg{
margin-top:10px;
background:url(/img/fortune/uranai_bg.gif) no-repeat 0% 0%;
}
.uranai-title{
float:left;
font-size:16px;
width:60px;
padding:3px;
font-weight:bold;
}
.uranai-rank{
color:#fff;
background:#f93;
border:1px solid #c90;
padding:2px 0px;
text-align:center;
width:50px;
float:left;
}
.uranai-comment{
margin:5px 0px;
}

.uranai-point{
margin-bottom:15px;
margin-right:10px;
}
.uranai-point-img{
width:450px;
}

.uranai-item{
background:url(/img/fortune/bload_lucky.gif) no-repeat 0% 0%;
margin-left:20px;

}
.uranai-item-last{
background:url(/img/fortune/bload_lucky_bg.gif) no-repeat 0% 0%;
margin-left:20px;

}
.uranai-item .uranai-item-title{
color:#fff;
width:125px;
font-weight:bold;
float:left;
padding:5px 0px 4px 0px;
margin-left:8px;
font-size:12px;
line-height:100%;
}
.uranai-item-body{
width:350px;
padding:5px 0px 4px 0px;
font-size:12px;
line-height:100%;
}
.uranai-item-last .uranai-item-title{
color:#fff;
width:125px;
font-weight:bold;
float:left;
padding:5px 0px 5px 0px;
margin-left:8px;
font-size:12px;
line-height:100%;
}
.uranai-item-last .uranai-item-body{
width:350px;
padding:5px 0px 5px 0px;
font-size:12px;
line-height:100%;
}
.uranai-famous{
margin-left:20px;
}
.uranai-famous-title{
width:100px;
font-weight:bold;
float:left;
padding:5px 0px 5px 0px;
font-size:12px;
}
.uranai-famous-body{
width:350px;
padding:5px 0px 5px 0px;
font-size:12px;
}
.fortune-rank-body{
text-align:left;
background-color:#FBF7E1;
padding:5px 10px;
margin-bottom:15px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
line-height:140%;
}
.uranai-profile{
background:url(/img/fortune/profile_bg.gif);
padding:15px;
}
.uranai-profile-body{
background:#fff;
padding:10px;
}
/*fortune*/

.main-error{
  margin:10px 0px;
  padding:5px;
  border:1px solid #FCB646;
}

.caution,
.main-error-message{
  color: #FCB646;
}
.mailmag_input{
width:320px;
}


/* maps */
.tooltip{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
padding:5px ! important;
$padding:0px ! important;
}
/*
.popup-map-title{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
padding:5px ! important;
}
*/
.popup-map-box1{
position:relative;
background:#fff;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
padding:10px;
}
.popup-map-box2{
}



/***************** recent *****************/

.recentVideolist,
.recentMobloglist,
.recentMmakerlist{
float:left;
width:97px;
margin-right:15px;
text-align:center;
height:95px;
}
.recentMoblogimage,
.recentVideoimage,
.recentMmakerimage{
border:1px solid #000;
background:#000;
height:75px;
overflow:hidden;
}
.recentMoblogdate,
.recentVideodate,
.recentMmakerdate{
padding-bottom:5px;
font-size:10px;
}

.recentArticleBox,
recentAudioBox{
  width: 270px;
}

.genre_menu{
    position:relative;
    padding:10px;
    width:100%;
}
.genre_box{
    width:17%;
    border-left: 2px dotted #ccc;
    padding: 5px;
    z-index: 1;
    float:left;
}
.genre_title{
    font-size: 12px;
    z-index: 1;
}
.genre_children{
    width:360px;
    position:absolute;
    border: 1px solid #000;
    background-color: #fff;
    color: #ccc;
    padding: 2px 0 2px 5px;
    z-index: 200;
    display:none;
}
.genre_children li{
    z-index:200;
    font-size: 12px;
    width:112px;
    border-right: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    float: left;
}
.genre_children li a{
    padding: 2px 3px;
    display:block;
}
.genre_children li a:hover{
    background: none repeat scroll 0 0 #000080;
    color: #FFFFFF;
}
/*
.genremenu {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px;
    width: 100%;
}
.genremenu td {
    font-size: 12px;
    vertical-align: top;
}
.genreMenuLine {
    border-left: 2px dotted #CCCCCC;
    padding-left: 5px;
}
.children2Box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    color: #CCCCCC;
    padding: 2px 0 2px 5px;
}
.genreChildren2 {
    border-right: 1px dotted #CCCCCC;
    float: left;
    margin-right: 10px;
    padding: 2px 3px;
    width: 114px;
}
.genreChildren2:hover {
    background: none repeat scroll 0 0 #000080;
    color: #FFFFFF;
}
*/
/***************** recommend blog *****************/

.recommendCategoryLst{
    z-index: 10;
    position:relative;
  }

.recommendCategoryLst li{
    float: left;
  }

.recommendCategoryLst .ntBlue {
    background: url("/img/bl/tab_news_b.jpg") repeat-x scroll 0 0 #C9DEEA;
    border: 1px solid #C9DEEA;
    box-shadow: 0 -1px 0 #C9DEEA;
}

.recommendCategoryLst a{
    border-radius: 5px 5px 0 0;
    color: #555555 !important;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
    margin-right: 1px;
    padding: 0 5px;
    text-align: center;
    }
    
.recommendCategoryLst .ntBlueon {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-bottom: 1px solid #FFFFFF !important;
    border-left: 1px solid #C9DEEA;
    border-right: 1px solid #C9DEEA;
    border-top: 1px solid #C9DEEA;
    box-shadow: 0 0 0 #FFFFFF;
    cursor: auto;
}

.recommendWrap {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C9DEEA;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: -1px 0 0 0;
    position:relative;
}

/***************** popular *****************/

.popularCategoryLst{
  position: relative;
  
  }

.popularCategoryLst ul{
    z-index: 10;
    float: right;
    position:absolute;
    right:0px;
    bottom:-1px;
  }

.popularCategoryLst li{
    float: left;
  }

.popularCategoryLst .ntBlue {
    background: url("/img/bl/tab_news_b.jpg") repeat-x scroll 0 0 #C9DEEA;
    border: 1px solid #C9DEEA;
    box-shadow: 0 -1px 0 #C9DEEA;
}

.popularCategoryLst a{
    border-radius: 5px 5px 0 0;
    color: #555555 !important;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
    margin-right: 1px;
    padding: 0 5px;
    text-align: center;
    }

.popularCategoryLst .ntBlueOn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-bottom: 1px solid #FFFFFF !important;
    border-left: 1px solid #C9DEEA;
    border-right: 1px solid #C9DEEA;
    border-top: 1px solid #C9DEEA;
    box-shadow: 0 0 0 #FFFFFF;
    cursor: auto;
}

.popularCategoryPeriod{
  position: absolute;
  right: 8px;
  top:48px;
  }

.popularCategoryh2{
  position: absolute;
  left: 8px;
  top:48px;
  }
  
.popBoxL {
    border: 0 solid #000000;
    float: left;
    width: 270px;
}
.popBoxR {
    border: 0 solid #000000;
    float: right;
    width: 270px;
}
.point {
    background: none repeat scroll 0 0 #ECECEC;
    border-radius: 5px 5px 5px 5px;
    font-size: 90%;
    padding-top: 2px;
}
.point2 {
    background: none repeat scroll 0 0 #ECECEC;
    border-radius: 5px 5px 5px 5px;
    color: #555555;
    float: left;
    font-size: 90%;
    margin-right: 10px;
    padding: 5px 0;
    text-align: center;
    width: 80px;
}
.popLstbox {
    float: left;
    width: 170px;
}
.mp3Lnk {
    background: url("/img/portal/icn_play.jpg") no-repeat scroll 0 0 transparent;
    padding-left: 55px;
}
.recLst {
    border: 0 solid #000000;
    float: left;
    width: 450px;
}

.imgLst4 {
    float: left;
    margin-right: 15px;
    padding: 0;
    text-align: center;
    width: 95px;
}
.imgLst4 img {
    border: 1px solid #666666;
}


/*********************************************
 toppage jquery tools */

/*
root element for the scrollable.
when scrolling occurs this element stays still.
*/
.scrollable {
/* required settings */
position:relative;
overflow:hidden;
width: 528px;
height:101px;
}

/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable items.
it's enough that you set width and height for the root element and
not for this element.
*/
.scrollable .items {
/* this cannot be too large */
width:20000em;
position:absolute;
}

/*
a single item. must be floated in horizontal scrolling.
typically, this element is the one that *you* will style
the most.
*/
.items div {
float:left;
}


/* this makes it possible to add next button beside scrollable */
.scrollable {
float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
display:block;
width:15px;
height:34px;
float:left;
margin:20px 0px;
cursor:pointer;
font-size:1px;
}

/* right */
a.right {background:url(/img/bl/jquerytools/right.gif) no-repeat; background-position: 0 0px; clear:right; margin-right: 0px;}
a.right:hover { background:url(/img/bl/jquerytools/right_ov.gif) no-repeat;background-position:0px 0px; }
a.right:active { background:url(/img/bl/jquerytools/right_ov.gif) no-repeat;background-position:0px 0px; } 


/* left */
a.left {background:url(/img/bl/jquerytools/left.gif) no-repeat; background-position: 0 0px; clear:right; margin-right: 0px;}
a.left:hover { background:url(/img/bl/jquerytools/left_ov.gif) no-repeat;background-position:0px 0px; }
a.left:active { background:url(/img/bl/jquerytools/left_ov.gif) no-repeat;background-position:0px 0px; } 

/* up and down */
a.up, a.down{ 
background:url(/img/bl/jquerytools/vert_large.png) no-repeat; 
float: none;
margin: 10px 50px;
}

/* up */
a.up:hover  { background-position:-30px 0; }
a.up:active  { background-position:-60px 0; }

/* down */
a.down { background-position: 0 -30px; }
a.down:hover  { background-position:-30px -30px; }
a.down:active  { background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
visibility:hidden !important;
} 

.navi {
margin-left:258px;
width:200px;
height:20px;
}


/* items inside navigator */
.navi a {
width:8px;
height:8px;
float:left;
margin:3px;
background:url(/img/bl/jquerytools/navigator.png) 0 0 no-repeat;
display:block;
font-size:1px;
}

/* mouseover state */
.navi a:hover {
background-position:0 -8px;      
}

/* active state (current page state) */
.navi a.active {
background-position:0 -16px;     
}
