@charset "utf-8";


/* --------------------------------------------------------------------

  GIG4.0 FMWORLD用カスタマイズ スタイルシート

-------------------------------------------------------------------- */

/* GIG4 ------------------------------------------------*/

body.personal .maincontents h1,
body.personal .maincontents h2,
body.personal .maincontents h3,
body.personal .maincontents h4,
body.personal .maincontents h5,
body.personal .maincontents h6,
body.personal .maincontents li{
 line-height: 130%;
}

.contentsarea ul,
.contentsarea ol{
 list-style: disc outside none !important;
 margin: 0.5em 0 0;
}
.contentsarea p {
 line-height: 150%;
 margin: 0.5em 0 0;
 padding: 0;
}

.contentsarea table {
 margin-bottom: 0;
}

.contentsarea td, th, tr {
 font-size: 98% !important;
}

body.personal div.header { min-height: 68px; _height: 68px; }
body.personal div.headertop { _width: 980px; border: none; padding:0 1px 7px; background: #ffffff url(/images/common/fj/imgv4/common/mainnav-back-bottom-subsidiary.png) no-repeat left bottom;}

body.personal div#corporatesymbol { width: 100px; margin: 5px 10px 3px 11px; height: 51px; _height: 51px; }

body.personal div.headerrightarea h1 { margin: 0; }

body.personal div.headerrightarea div.fwsitelogo { float:right; position: relative; height: 20px; _height: 20px;}
body.personal div.headerrightarea div.headtobiz { position: relative; float: right; margin: 1px 5px 0px 0px;  height: 16px; _height: 16px;}
body.personal div.headerrightarea div.sitenavi { clear: both; font-size: 86%; width: 626px; }
body.personal div.headerrightarea div.sitenavi ul { float: right; margin: 0px; padding: 0px; list-style: none; }
body.personal div.headerrightarea div.sitenavi ul li { float: left; margin: 0px 0px 0px 10px; padding: 0px 0px 0px 14px; background: url(/img/common/head-icon-arrow.gif) no-repeat left 0.4em; }

body.personal div.headerrightarea div.fwphonesitelogo { float:right; position: relative; margin: 7px 0px 0px 0px; }
body.personal div.headerrightarea div.phoneheadtobiz { position: relative; float: right; margin: 10px 5px 0px 0px; }
body.personal div.headerrightarea div.phoneheadtopersonal { position: relative; float: right; margin: 10px 5px 0px 0px; }

body.personal div.headerrightarea div.fwarrowssitelogo { float:right; position: relative; margin: 7px 0px 0px 0px; }

body.personal #mainmenu li strong.current a { padding: 0px !important; background: none !important;}
body.personal #mainmenu h2 { display: block; margin: 0px; padding: 8px 6px 8px 6px; font-weight: normal; font-size: 93%;}

body.personal div#permanentmenu ul.parentcom { margin-top: 10px; }
body.personal div#permanentmenu ul.parentcom li { list-style: none; display: block; float: left; display: inline; /* <-- for IE6 float-margin bug */ margin: 0 5px 0 0; padding: 0px; }



/* for modern browser exclude ie 7, 8 */
html:not(:target) body.personal div#permanentmenu ul.parentcom li div.cssbtn { -moz-border-radius: 7px; -webkit-border-radius: 7px; position: relative; top: 2px; border: 1px solid #999999; }
html:not(:target) body.personal div#permanentmenu ul.parentcom li div.cssbtn div.innerblock { -moz-border-radius: 6px; -webkit-border-radius: 6px; position: relative; top: -2px; border: 1px solid #111111; margin: 0 -1px -2px -1px; padding: 0; }
html:not(:target) body.personal div#permanentmenu ul.parentcom li div.cssbtn div.innerblock a { -moz-border-radius: 5px; -webkit-border-radius: 5px; position: relative; top: 1px;display: block; padding: 2px 6px 3px 6px; margin-bottom: 1px; background: #222222 url(http://img.jp.fujitsu.com/imgv4/common/parentcomlink-bg.gif) left top repeat-x; }
html:not(:target) body.personal div#permanentmenu ul.parentcom li div.cssbtn div.innerblock a img { border: none; vertical-align: middle; margin-left: 3px; }

/* for ie 6 */
* html body.personal div#permanentmenu ul.parentcom li div.cssbtn { position: relative; border: 1px solid #999999; }
* html body.personal div#permanentmenu ul.parentcom li div.cssbtn div.innerblock { border: 1px solid #111111; margin: -2px -1px 0px -1px; padding: 0; }
* html body.personal div#permanentmenu ul.parentcom li div.cssbtn div.innerblock a { position: relative; top: 1px; display: block; padding: 3px 6px 2px 6px; margin-bottom: 1px; background: #222222 url(http://img.jp.fujitsu.com/imgv4/common/parentcomlink-bg.gif) left top repeat-x; word-break: keep-all; }
* html body.personal div#permanentmenu ul.parentcom li div.cssbtn div.innerblock a img { border: none; vertical-align: middle; margin-left: 3px; }

body.personal div#permanentmenu ul.parentcom li div.cssbtn div.innerblock { padding: 0; }

/* GIG3 ------------------------------------------------*/
body.personal.gig3content .bodyarea { width: 980px; float: none; text-align: center; }
body.personal.gig3content .contentsarea { float: none; width: 750px; margin: 0 auto; text-align: left; }
body.personal.gig3content .contentsarea img { border: inherit; vertical-align: bottom; }


body.personal.gig3content .contentsarea .maincontents .mainmenu p { padding-left: 0; }

body.personal.gig3content .maincontents { width: 565px; margin-top: 0; }

body.personal.gig3content .mainmenu { position: static;	float: right; width: 175px; border-style: none; }

/* 旧GIG3からの移植 ------------------------------------------------*/
div.naviscrolltop {
    border-style: none;
    clear: both;
    margin: 0;
    padding: 4px 0 6px;
}

div.naviscrolltop p {
    background: url("/images/common/fj/images/navi-top.gif") no-repeat scroll right center #FFFFFF;
    border-style: none;
    display: block;
    font-size: 90%;
    height: 15px;
    margin: 0;
    overflow: visible;
    padding: 0 17px 0 0;
    text-align: right;
}

div.contentsarea p.navifollowpage { display: block; border: solid white 1px; padding: 10px 0px; text-align: center; font-size: 90%; }
	p.navifollowpage img { margin-bottom: -2px; text-align: center; }
	p.navifollowpage a img { border-style: none; }

div.navifollowpage {
display: block;
clear: both;
width: 100%;
border-style: none;
margin: 1em 0px;
padding: 0px;
text-align: center;
}
	.navifollowpage ul {
	display: inline;
	list-style: none;
	display: block;
	clear: none;
	border-style: none;
	margin: 0px;
	padding: 0px;
	}
	.navifollowpage li {
	display: inline;
	border-style: none;
	margin: 0px;
	padding: 0px 1px;
	vertical-align: middle;
	font-size: 100%;
	white-space: nowrap;
	}
		.navifollowpage strong.current {
		border-style: none;
		margin: 0px;
		padding: 0px 4px;
		font-size: 90%;
		font-weight: bold;
		vertical-align: middle;
		}
		.navifollowpage li.previous {
		width: 4em;
		border-style: none;
		padding: 0px 3px 0px 20px;
		background: #ffffff url("/images/common/fj/images/arrow-back.gif") no-repeat left center;
		}
		.navifollowpage li.next {
		width: 4em;
		border-style: none;
		padding: 0px 20px 0px 3px;
		background: #ffffff url("/images/common/fj/images/arrow-next.gif") no-repeat right center;
		}
			.navifollowpage div.changesection {
			display: inline;
			width: 3em;
			margin: 0px;
			padding: 0px;
			}
	.navifollowpage li a {
	border-style: none;
	margin: 0px;
	padding: 0px 3px;
	font-size: 90%;
	vertical-align: middle;
	}
		.navifollowpage li a:link {
		border-color: #003399;
		}
		.navifollowpage li a:visited {
		border-color: #660099;
		}
		.navifollowpage li a:active {
		border-color: #cc3300;
		}

/* --------------------------------------------------------------------

  FMWORLD個別のスタイルシート

-------------------------------------------------------------------- */

body {
text-align: center;
}
img {
line-height: 0px;
font-size: 10px;
border: 0px none;
margin: 0px;
padding: 0px;
}
input#submit {
height: 16px;
}
div.bodyarea {
width: 980px;
margin: 0px auto;
text-align: left;
}
div.moreinfo {
clear: both;
text-align: right;
margin: 0px 0px 5px 0px;
padding: 0px;
}
	div.moreinfo p {
	display: inline;
	float: right;
	font-size: 80%;
	text-align: left !important;
	width: auto !important;
	height: auto !important;
	border: 1px solid #999 !important;
	line-height: 1.0em !important;
	background-image: url(/img/common/go_detail_bg.gif) !important;
	background-repeat: no-repeat !important;
	background-position: top left !important;
	background-color: #fff !important;
	margin: 5px 0px 0px 0px !important;
	padding: 4px 10px 4px 20px !important;
	}

	div.moreinfo a {
	text-decoration: underline !important;
	}

.brClear {
clear: both;
margin: 0px;
padding: 0px 0px 5px 0px;
}
div.contentsarea {
clear: none;
}
	.contentsarea h2 {
	border: 0px none;
	}
	.contentsarea h3 {
	border: 0px none;
	}
div#headsearch p {
margin-top: 37px;
}
/* グローバルナビ検索窓追加用 2007.10.30 */
div#headsearch p.search {
margin-top: 1px;
}
div.locationback a {
display: inline;
}
div.naviscrolltop a {
display: inline;
}
div.navihidden {
position: relative;
display: block;
z-index: auto;
top: 0px;
left: 0px;
width: 0px;
height: 0px;
}
/* -------------------------------------------------------------------- */
	div.Contents tr {
	text-align: left;
	}
	div.Contents th {
	text-align: center;
	}
	div.center {
	text-align: center;
	margin: 0px auto 0px auto;
	}
/* -------------------------------------------------------------------- */
div#HeadFmworld {background:url(/img/common/HeadFmworld.gif) no-repeat;}

div#tabNavi2 {
	width: 750px;
	margin: 5px 0px;
	padding: 0px;
}
	div#tabNavi2 .tabSiteLogo2{
		height:22px;
		position:absolute;
	}
	div#tabNavi2 .tabSiteLogo2 a{
		display:block;
		width:270px;
		height:22px;
		position:absolute;
		left:480px;
		text-indent:-9999em;
		overflow:hidden;
	}

	div#tabNavi2 .tabSiteNavi2{
		height:22px;
		overflow:hidden;
	}
	div#tabNavi2 .tabSiteNavi2 ul{
		width:530px;
		margin:0px;
		padding:0px;
		list-style:none;
	}
	div#tabNavi2 .tabSiteNavi2 li{
		float:left;
	}
	div#tabNavi2 .tabSiteNavi2 li a{
		display:block;
		width:84px;
		height:22px;
		overflow:hidden;
		text-indent:-9999em;
	}

	div#tabNavi2 .tabSiteNaviSubBiz{
		height:23px;
		position:absolute;
	}
	div#tabNavi2 .tabSiteNaviSubBiz a{
		display:block;
		width:155px;
		height:23px;
		position:absolute;
		left:595px;
		text-indent:-9999em;
		overflow:hidden;
	}
	div#tabNavi2 .tabSiteNaviSub2{
		clear:both;
		height:23px;
	}
	div#tabNavi2 .tabSiteNaviSub2 ul{
		margin:0px;
		padding:0px;
		list-style:none;
	}
	div#tabNavi2 .tabSiteNaviSub2 li{
		float:left;
		margin-bottom:0px;
	}
	div#tabNavi2 .tabSiteNaviSub2 li a{
		display:block;
		height:23px;
		overflow:hidden;
		text-indent:-9999em;
	}
	div#tabNavi2 .tabSiteNaviSub2 li.size94{width:94px;}

	div#tabNavi2 .tabSiteNaviSub2 li.fmv{background:url(/img/common/tab_sub_pc_c.gif);}
	div#tabNavi2 .tabSiteNaviSub2 li.mobile{background:url(/img/common/tab_sub_ktai_c.gif);}
	div#tabNavi2 .tabSiteNaviSub2 li.contact{background:url(/img/common/tab_sub_info_c.gif);}

/*-- clearfix --*/

	div#tabNavi2:after {
		content: "";
		display: block;
		clear: both;
		height: 0px;
		visibility: hidden;
		font-size: 0.1em;
		line-height: 0px;
	}
	div#tabNavi2 { display: inline-block; }
	div#tabNavi2 { display: block; }
	/*  \*//*/
	div#tabNavi2 { overflow: hidden; }
	/* */

div#FMWORLDSiteNavi {
border-top: 3px solid #2F3E8D;
background-image: url(/img/common/navi_bg.gif);
background-repeat: repeat-y;
background-color: #EEE;
margin: 0px;
padding: 1px 0px 0px 0px;
}
	#FMWORLDSiteNavi h2 {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
	#FMWORLDSiteNavi h3 {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
	#FMWORLDSiteNavi p {
	text-align: right;
	margin: 0px 8px 5px 8px;
	padding: 0px;
	}
	#FMWORLDSiteNavi img {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
div.FMWORLDSiteNaviList {
margin: 0px;
padding: 0px;
}
	.FMWORLDSiteNaviList ul {
	margin: 0px;
	padding: 5px 8px 0px 5px;
	}
	.FMWORLDSiteNaviList li {
	font-size: 80%;
	list-style: none;
	background-image: url(/img/common/dot.gif);
	background-position: 0px 4px;
	background-repeat: no-repeat;
	margin: 0px 0px 3px 0px;
	padding: 0px 0px 0px 10px;
	}
div.FMWORLDSiteNaviHead {
clear: both;
border-bottom: 1px solid #FFF;
margin: 0px;
padding: 0px;
}
	.FMWORLDSiteNaviHead ul {
	margin: 0px;
	padding: 0px;
	}
	.FMWORLDSiteNaviHead li {
	font-size: 0px;
	list-style: none;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
div.FMWORLDAbout {
border-top: 1px solid #339;
background-color: #EEE;
margin: 0px;
padding: 5px;
}
	.FMWORLDAbout ul {
	margin: 0px 0px 0px 20px;
	padding: 0px;
	}
	.FMWORLDAbout li {
	background-image: none;
	font-size: 80%;
	}
div.FMWORLDPageNavi {
clear:both;
width: 748px;
margin: 0px 0px 30px 0px;
padding: 20px 0px 0px 0px;
}
div.FMWORLDPageNaviTop {
background-image: url(/img/common/pagenavi_up.gif);
background-repeat: no-repeat;
background-position: 0px 4px;
display: inline;
margin: 0px;
padding: 0px 0px 0px 12px;
}
div.FMWORLDPageNaviBack {
background-image: url(/img/common/pagenavi_back.gif);
background-repeat: no-repeat;
background-position: 0px 4px;
display: inline;
margin: 0px 0px 0px 20px;
padding: 0px 0px 0px 12px;
}
div.ListPDF ul {
	padding: 0px;
	margin: 10px 0px 10px 15px;
}
div.ListPDF li {
	list-style-type: none;
	list-style-position: outside;
	background-image : url(../../../icon/logo/pdficonsmall.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 5px 0px 5px 25px;
	margin: 0px 0px 3px 0px;
}
/* -------------------------------------------------------------------- */
	div.mainmenu {
	float: left;
	width: 175px;
	margin-left: 10px;
	border-style: none;
	}

	.oldmaincontents {
	border-style: none;
	float: left;
	width: 565px;
	}

	.oldmaincontents h1 {
	font-size: 140%;
	font-weight: bold;
	/* text-shadow: 3px 3px #BBB; */
	border-top: 3px solid #2F3E8D;
	border-left: 7px solid #2F3E8D;
	border-bottom: 1px dotted #ccc;
	background-color: #fff;
	background-image: url(/img/common/header2_bg.gif);
	background-repeat: repeat-x;
	margin: 0px 0px 10px 0px;
	padding: 7px 10px 7px 10px;
	}
	.oldmaincontents h2 {
	/* text-shadow: 3px 3px #BBB; */
	border-top: 1px solid #36c;
	background-color: #EBF7FB;
	background-image: url(/img/common/header2_bg.gif);
	background-repeat: repeat-x;
	margin: 0px 0px 10px 0px;
	padding: 5px 10px 5px 10px;
	}
	.oldmaincontents h3 {
	border-top: 1px solid #36c;
	background-image: url(/img/common/dot_blue.gif);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 5px 15px;
	}
	.oldmaincontents h4 {
	font-weight: normal;
	background-color:#EBF7FB;
	border-top: 1px solid #36c;
	margin: 5px 0px 5px 0px;
	padding: 3px 5px 3px 5px;
	}
	.oldmaincontents p {
	padding-left: 10px;
	}
div.maincontentsold2 {
float: left;
width: 277px;
margin: 0px;
padding: 0px;
}
div.ListBasic ul {
	list-style: none;
	margin: 5px 0px 10px 0px;
	padding: 0px;
	}
	.ListBasic li {
	font-size: 100%;
	background-image: url(/img/common/list_blue.gif);
	background-repeat: no-repeat;
	background-position: 8px 4px;
	margin: 0px;
	padding: 0px 8px 3px 18px;
	}
div.ListBasic2 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	.ListBasic2 li {
	float: left;
	width: 250px;
	overflow: hidden;
	background-image: url(/img/common/list_blue.gif);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	margin: 0px;
	padding: 0px 8px 3px 18px;
	}
div.pagetitle {
border: 0px none;
background: none;
margin: 0px 0px 5px 0px;
padding: 0px;
}
	.pagetitle h1 {
	border: 0px none;
	background: none;
	margin: 0px;
	padding: 0px;
	}
div.pagecontents h1 {
	font-size: 140%;
	font-weight: bold;
	/* text-shadow: 3px 3px #BBB; */
	border-top: 3px solid #2F3E8D;
	border-left: 7px solid #2F3E8D;
	border-bottom: 1px dotted #ccc;
	background-color: #fff;
	background-image: url(/img/common/header2_bg.gif);
	background-repeat: repeat-x;
	margin: 0px 0px 10px 0px;
	padding: 7px 10px 7px 10px;
	}
	.pagecontents h2 {
	/* text-shadow: 3px 3px #BBB; */
	border-top: 1px solid #36c;
	background-color: #EBF7FB;
	background-image: url(/img/common/header2_bg.gif);
	background-repeat: repeat-x;
	margin: 0px 0px 10px 0px;
	padding: 5px 10px 5px 10px;
	}
	.pagecontents h3 {
	border-top: 1px solid #36c;
	background-image: url(/img/common/dot_blue.gif);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 5px 15px;
	}
	.pagecontents h4 {
	font-weight: normal;
	background-color:#eee;
	margin: 5px 0px 5px 5px;
	padding: 3px 5px 3px 5px;
	}
	.pagecontents p {
	padding-left: 10px;
	}
div.pagecontents2 {
float: left;
width: 370px;
margin: 0px;
padding: 0px;
}
div.pagecontents3 {
float: left;
width: 240px;
margin: 0px;
padding: 0px;
}
div.maincontentsoldLeft {
float: left;
width: 275px;
margin: 0px;
padding: 0px;
}
div.maincontentsoldRight {
float: right;
width: 275px;
margin: 0px;
padding: 0px;
}
div#maincontentsoldfooter {
clear: both;
margin: 0px;
padding: 20px 0px 0px 0px;
}
div.maincontentsoldSpace {
float: left;
border: 5px solid #fff;
margin: 0px;
padding: 0px;
}
div.maincontentsoldSpaceClear {
clear: both;
border: 5px solid #fff;
margin: 0px;
padding: 0px;
}
.FMright {
float: right;
}
.FMleft {
float: left;
}
.FMimgright {
float: right;
margin: 0px 0px 5px 10px;
padding: 0px;
}
.FMimgleft {
float: left;
margin: 0px 10px 5px 0px;
padding: 0px;
}
.imageLeft {
float: left;
margin: 0px 5px 3px 0px;
padding: 0px;
}
.imageRight {
float: right;
margin: 0px 0px 3px 5px;
padding: 0px;
}
div.FMTableNews {
border-style none;
margin: 0px 0px 10px 0px;
padding: 0px;
}
	.FMTableNews th {
	text-align: left;
	white-space: nowrap;
	font-weight: normal;
	vertical-align: top;
	margin: 0px;
	padding: 0px 10px 0.5em 10px;
	}
	.FMTableNews td {
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	margin: 0px;
	padding: 0px 0px 0.5em 0px;
	}

.FMTable1 {
border-top: 1px dotted #ccc;
margin: 0px 0px 10px 0px;
padding: 0px;
}
	.FMTable1 th{
	font-size: 90%;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	background-color: #EEE;
	border-bottom: 1px dotted #ccc;
	margin: 0px;
	padding: 7px;
	}
	.FMTable1 td {
	font-size: 90%;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	background-color: #FFF;
	border-bottom: 1px dotted #ccc;
	margin: 0px;
	padding: 7px;
	}
	.FMTable1 td ul{
	margin: 0px;
	padding: 0px 0px 0px 20px;
	}
	.FMTable1 td li{
	font-size: 90%;
	font-weight: normal;
	text-align: left;
	}
.FMTableNavi1 {
border-top: 1px solid #666;
border-left: 1px solid #666;
margin: 0px 0px 10px 0px;
padding: 0px;
}
	.FMTableNavi1 th{
	color: #fff;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #666;
	background-image: url(/img/common/table_navi1_bg_c.gif);
	background-repeat: no-repeat;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	margin: 0px;
	padding: 3px 2px 3px 15px;
	}
	.FMTableNavi1 td {
	font-size: 100%;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	background-color: #fff;
	background-image: url(/img/common/table_navi1_bg.gif);
	background-repeat: no-repeat;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	margin: 0px;
	padding: 3px 2px 3px 15px;
	}
.FMRed {
	color: #c00;
}
div.FMMenu {
background-color: #EBF7FB;
margin: 0px;
padding: 0px;
}
	.FMMenu form {
	margin: 0px 5px 5px 5px;
	padding: 0px;
	}
	.FMMenu h3 {
	font-size: 100%;
	color: #FFF;
	background-color: #066;
	margin: 0px 0px 2px 0px;
	padding: 4px 8px 3px 8px;
	}
	.FMMenu h4 {
	font-size: 100%;
	background-image: url(/img/common/header3_bg.gif);
	background-repeat: repeat-x;
	background-position: top right;
	border-top: 2px solid #399;
	margin: 0px;
	padding: 4px 8px 5px 8px;
	}
	.FMMenu h5 {
	font-size: 100%;
	background-image: url(/img/common/dot_green.gif);
	background-repeat: no-repeat;
	background-position: 3px 6px;
	border-top: 1px solid #399;
	margin: 0px;
	padding: 3px 8px 5px 15px;
	}
	.FMMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 10px 0px;
	}
	.FMMenu li {
	font-size: 100%;
	background-image: url(/img/common/list_green.gif);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	margin: 0px;
	padding: 3px 3px 3px 18px;
	}
	.FMMenu p {
	margin: 0px 5px 10px 5px;
	padding: 0px;
	}

div#TopRegist {
background-image: url(/img/common/regist_bg.gif);
background-repeat: repeat-x;
background-position: top;
border-top: 1px solid #3D865C;
border-left: 6px solid #3D865C;
margin: 0px 0px 10px 0px;
padding: 0px;
}

.TopUserInfo {
float: left;
font-size: 90%;
background-image: url(/img/common/user_icon.gif);
background-repeat: no-repeat;
background-position: 5px 3px;
vertical-align: middle;
margin: 0px;
padding: 3px 0px 3px 40px;
}
.TopRegistDetail {
margin: 2px 0px 0px 0px;
padding: 0px;
}
/* -------------------------------------------------------------------- */
@media print {


}

div#FMWORLDFooter {
clear: both;
text-align: center;
margin: 0px auto 0px auto;
padding: 20px 0px 20px 0px;
letter-spacing: 0px;
}
	#FMWORLDFooter .child {
	line-height: 1.2em;
	border-right: 1px solid #999;
	margin: 0px;
	padding: 0px 10px 0px 5px;
	}
	#FMWORLDFooter .lastchild {
	line-height: 1.2em;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	}
	#FMWORLDFooter ul {
	border-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
	#FMWORLDFooter li {
	float: left;
	list-style: none;
	line-height: 1.2em;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: #999999;
	margin: 0px;
	padding: 0px 5px 0px 5px;
	}
	#FMWORLDFooter li.firstchild {
	border-width: 0px;
	}
div#FMWORLDTabFooter {
clear: both;
text-align: center;
margin: 0px auto 0px auto;
padding: 0px;
letter-spacing: 0px;
}
	#FMWORLDTabFooter .child {
	line-height: 1.2em;
	border-right: 1px solid #999;
	margin: 0px;
	padding: 0px 10px 0px 5px;
	}
	#FMWORLDTabFooter .lastchild {
	line-height: 1.2em;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	}
