@charset "utf-8";

/* --------------------------------------------------------------------

# FUJITSU CSS v2.0 -- FUJITSU.COM EDITION #

Copyright 2010 FUJITSU LIMITED 

-------------------------------------------------------------------- */

/*---------------- Initialize font-size  ----------------*/
body { font-size: 81.25%; /* 13px */ font-family: Arial, Verdana, "Lucida Grande", 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', sans-serif; }

p,ul,ol,dl,th,td,caption,address,blockquote,pre,legend,code { font-size: 108%; }
h1 { font-size: 138.5%; }
h2 { font-size: 123.1%; }
h3 { font-size: 108%; }
h4,h5,h6 { font-size: 108%; }
textarea { font-size: 108%; font-family: Arial, Verdana, "Lucida Grande", 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', sans-serif; }
input,option,select { font-size: 100%; font-family: Arial, Verdana, "Lucida Grande", 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', sans-serif; }
* html table { font-size: 100%; } 

/*---------------- reset recurse font-size  ----------------*/
li li,dd li,td li,address li,blockquote li { font-size: 100%; }
li ul,li ol,li dl,li th,li th,li caption,li h1,li h2,li h3,li h4,li h5,li h6,li p,li pre,li form { font-size: 100%; }
dt ul,dt ol,dt dl,dt h1,dt h2,dt h3,dt h4,dt h5,dt h6,dt p,dt form { font-size: 100%; }
dd ul,dd ol,dd dl,dd th,dd td,dd caption,dd h1,dd h2,dd h3,dd h4,dd h5,dd h6,dd p,dd pre,dd form { font-size: 100%; }
td ul,td ol,td dl,td h1,td h2,td h3,td h4,td h5,td h6,td p,td pre,td form { font-size: 100%; }
address ul,address ol,address dl,address th,address h1,address h2,address h3,address h4,address h5,address h6,address p { font-size: 100%; }
blockquote ul,blockquote ol,blockquote dl,blockquote h1,blockquote h2,blockquote h3,blockquote h4,blockquote h5,blockquote h6,blockquote p { font-size: 100%; }
p textarea,li textarea,dd textarea,td textarea { font-size: 100%; }
pre code { font-size: 100%; }

hr { margin-top: 0px; margin-bottom: 0.5em; padding: 0px; border-style: solid; border-width: 1px 0px 0px 0px; border-color: #cccccc; }
* html hr { text-align: left; height: 1px; color: #cccccc; }

/*---------------- elements form controll (margin, padding, line-height...) ----------------*/

body { margin: 0px; }
*:first-child+html body { letter-spacing: 0; }

a:link { color: #003399; }
a:visited { color: #660099; }
a:active { color: #cc3300; }


h1 { margin-top: 0px; margin-bottom: 1.35em; } /* This value is adjusted to "p" element's value.   */
h2 { margin-top: 0px; margin-bottom: 0.75em; } /* This value is adjusted to "p" element's value.   */
h3 { margin-top: 0px; margin-bottom: 0.87em; }
h4 { margin-top: 0px; margin-bottom: 0.87em; }
h5 { margin-top: 0px; margin-bottom: 0.87em; }
h6 { margin-top: 0px; margin-bottom: 0.87em; }

p { margin-top: 0px; margin-bottom: 1.75em; padding: 0px; line-height: 1.75; }

ul,ol { margin-top: 0px; margin-bottom: 1.75em; margin-left: 0; padding: 0px 0px 0px 2.8em; }
li { margin-top: 0px; margin-bottom: 0.75em; margin-left: 0; padding: 0px; line-height: 1.75; }
li ul,li ol { margin-top: 0px; margin-bottom 0em; padding-top: 0.75em;}

dl { margin-bottom: 1.75em; }
*:first-child+html dl { zoom: 1; }
dt { line-height: 1.75; }
dd { margin-top: 0px; margin-bottom: 1.75em; margin-left: 0; padding: 0px 0px 0px 2.8em; line-height: 1.75; }
dd dl { margin-top: 0px; margin-bottom: 1.75em; padding: 1em 0px 0px 0px; }

table { margin-top: 0px; margin-bottom: 1.75em; }
caption {}
th {}
td {}

strong {}
em { font-style: italic; }

form { margin: 0px; padding: 0px; }
input {}
select {}
option {}
textarea { margin-top: 0px; margin-bottom: 1.75em; }
fieldset { margin-top: 0px; margin-bottom: 1.75em; }

address, cite { margin-top: 0px; margin-bottom: 1.75em; }
pre { margin-top: 0px; margin-bottom: 1.75em; }

/*---------------- clear fix ----------------*/
.clearfix:after { content: "."; display: block; clear: both; width: 0; height: 0; line-height: 0; visibility: hidden; }
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hides from IE-mac \*/

/*---------------- textsmall ----------------*/
h2.textsmall { font-size: 116%; }
h3.textsmall { font-size: 100%; }
h4.textsmall { font-size: 86%; }
h5.textsmall { font-size: 86%; }
h6.textsmall { font-size: 86%; }

p.textsmall,
ul.textsmall,
ol.textsmall,
dl.textsmall,
th.textsmall,
td.textsmall,
caption.textsmall,
address.textsmall,
blockquote.textsmall,
pre.textsmall,
legend.textsmall { font-size: 93%; }

div.textsmall,
table.textsmall,
tr.textsmall,
li.textsmall,
dt.textsmall,
dd.textsmall,
span.textsmall,
strong.textsmall,
em.textsmall,
q.textsmall,
a.textsmall { font-size: 86%; }