@charset "utf-8";

/* --------------------------------------------------------------------

# FUJITSU CSS v2.0 -- FUJITSU.COM EDITION #

Copyright 2010 FUJITSU LIMITED 

-------------------------------------------------------------------- */

/* GIG4 styles --------------------------------------------------------------------- */




.maincontents div.grid3span { width: 582px; }/* <-- with clearfix class */
.maincontents div.grid4span { width: 781px; }/* <-- with clearfix class */
.maincontents div.grid5span { width: 980px; }/* <-- with clearfix class */
.maincontents div.col1span { width: 184px; float: left; margin-right: 15px; }
.maincontents div.col2span { width: 383px; float: left; margin-right: 15px; }
.maincontents div.col3span { width: 582px; float: left; margin-right: 15px; }
.maincontents div.col4span { width: 781px; float: left; margin-right: 15px; }

.maincontents fieldset { border-style: solid; border-width: 1px; border-color: #cccccc; margin: 0px; margin: 1em 0px 0px 0px; padding: 10px; }
.maincontents fieldset { padding: 15px 15px 0px 15px; border: solid 1px #b5b5b5; }
.maincontents textarea { padding: 4px; }

div.stage-newwindow { border-style: none; width: 95%; margin: 15px 0px; text-align: left; }
div.buttonnewwin { text-align: center; }
	.buttonnewwin button { font-size: 93%; margin: 0 5px 10px 5px; padding: 3px 13px; }
	*:first-child+html .buttonnewwin button { padding: 5px 8px 3px 8px; } /* <-for IE7 IE8 */
	* html .buttonnewwin button { padding: 5px 8px 3px 8px; } /* <-for IE6 */
.maincontents .new-window img { margin-left: 5px; }

ol.number-type-alp-u { list-style-type: upper-alpha; }
ol.number-type-alp-l { list-style-type: lower-alpha; }
ol.number-type-roman-u { list-style-type: upper-roman; }
ol.number-type-roman-l { list-style-type: lower-roman; }

.maincontents ul.langchanger { list-style: none; padding: 0; font-size: 93%; margin-bottom: 1.2em; }
.maincontents ul.langchanger li { list-style: none; float: left; margin: 0 4px 0 0; padding: 0; line-height: 1.2; word-break: keep-all; }
.maincontents ul.langchanger li a { display: block; padding: 2px 4px; background: #e3e3e3 url(/images/common/fj/imgv4/common/langchanger-bg.gif) left bottom repeat-x; border: solid 1px #d2d2d2; }
.maincontents ul.langchanger li a:link,
.maincontents ul.langchanger li a:visited,
.maincontents ul.langchanger li a:active { text-decoration: none; }
.maincontents ul.langchanger li a:hover { text-decoration: underline; }

.maincontents ul.alsoindex { list-style: none; padding: 0px; } /* with clearfix class */
.maincontents ul.alsoindex li { list-style: none; float: left; margin: 0px 4px 0px 0px; padding: 0px; line-height: 1.2; word-break: keep-all;  }
.maincontents ul.alsoindex li a { display: block; padding: 4px 8px; background: #f2f2f2; border: solid 1px #e5e5e5; }
.maincontents ul.alsoindex li a:link,
.maincontents ul.alsoindex li a:visited,
.maincontents ul.alsoindex li a:active { text-decoration: none; }
.maincontents ul.alsoindex li a:hover { text-decoration: underline; }
.maincontents ul.alsoindex strong.current { display: block; padding: 4px 8px; background: #ffffff; color: #000000; font-weight: normal; border: solid 1px #e5e5e5; }

.maincontents div.wordindex { margin-bottom: 2em; }
.maincontents div.wordindex div.heading { float: left; background: #e5e5e5 url(/images/common/fj/imgv4/common/wordindex-header-bg.gif) left bottom repeat-x; }
.maincontents div.wordindex h2,
.maincontents div.wordindex h3,
.maincontents div.wordindex h4 { margin: 0px; padding: 0px 8px; background: url(/images/common/fj/imgv4/common/wordindex-separator.gif) right top repeat-y; font-size: 108%; line-height: 2em; font-weight: bold; word-break: keep-all; }
.maincontents div.wordindex ul { list-style: none; display: block; margin: 0px; padding: 0px; } /* with clearfix class */
.maincontents div.wordindex li { list-style: none; display: block; float: left; margin: 0px; padding: 0px 8px; background: #f7f7f7 url(/images/common/fj/imgv4/common/wordindex-bg.gif) left bottom repeat-x; line-height: 2em; word-break: keep-all; border-style: solid; border-width: 0px 1px; border-color: #ffffff #b5b5b5 #ffffff #ffffff; white-space: nowrap; }
.maincontents div.wordindex li:first-child a { border-left: none; } /* IE lte 8 uses first-child selector width jquery */
.maincontents div.wordindex li a { padding: 0px; }
.maincontents div.wordindex li a:link,
.maincontents div.wordindex li a:visited,
.maincontents div.wordindex li a:active { text-decoration: none; }
.maincontents div.wordindex li a:hover { text-decoration: underline; }

.maincontents div.pagenate {}
.maincontents div.pagenate h2,
.maincontents div.pagenate h3 { margin-bottom: 4px; text-align: center; }
.maincontents div.pagenate div.innerblock { margin-bottom: 2em; text-align: center; }
.maincontents div.pagenate div.innerblock p { display: inline; }
.maincontents div.pagenate div.innerblock p.previous a { margin: 5px 5px 5px 0px; }
.maincontents div.pagenate div.innerblock p.previous img { border: none; padding-right: 5px; vertical-align: middle; }
.maincontents div.pagenate div.innerblock p.next a { margin: 5px 0px 5px 5px; }
.maincontents div.pagenate div.innerblock p.next img { border: none; padding-left: 5px; text-decoration: underline; vertical-align: middle; }
.maincontents div.pagenate div.innerblock a:link,
.maincontents div.pagenate div.innerblock a:visited,
.maincontents div.pagenate div.innerblock a:active { text-decoration: none; }
.maincontents div.pagenate div.innerblock a:hover { text-decoration: underline; }
*:first-child+html .maincontents div.pagenate div.innerblock a { display: inline-block; }
*:first-child+html .maincontents div.pagenate div.innerblock strong { display: inline-block; }
* html .maincontents div.pagenate div.innerblock a { display: inline-block; }
* html .maincontents div.pagenate div.innerblock strong { display: inline-block; }
.maincontents div.pagenate div.innerblock ul { list-style: none; display: inline; margin: 0px; padding: 0px; }
.maincontents div.pagenate div.innerblock li { list-style: none; display: inline; }
.maincontents div.pagenate div.innerblock li a { padding: 5px 6px; background: url(/images/common/fj/imgv4/common/pagenate-num-bg.gif) left bottom repeat-x; border: solid 1px #b8b8b8; }
.maincontents div.pagenate div.innerblock li strong.current { padding: 5px 6px; background: #ffffff none; color: #000000; border: solid 1px #e5e5e5; }
*:first-child+html .maincontents div.pagenate div.innerblock li { line-height: 1.2em; }
* html .maincontents div.pagenate div.innerblock li { line-height: 1.2em; }

.maincontents div.moreinfo { clear: both; border-style: none; margin: 0; padding: 4px 0px 6px; }
.maincontents div.moreinfo p { display: block; overflow: visible; border-style: none; margin: 0; padding: 0; text-align: right; font-size: 93%; }
.maincontents div.moreinfo p.textleft { text-align: left; }
.maincontents div.moreinfo p.textcenter { text-align: center; }
.maincontents div.moreinfo p.textright { text-align: right; }
.maincontents div.moreinfo p img { margin-left: 5px; border: none; }
.maincontents div.moreinfo a:link,
.maincontents div.moreinfo a:visited,
.maincontents div.moreinfo a:active { text-decoration: none; }
.maincontents div.moreinfo a:hover { text-decoration: underline; }

.maincontents div.scrolltop { clear: both; border-style: none; margin: 0; padding: 4px 0px 6px; }
.maincontents div.scrolltop p { display: block; overflow: visible; border-style: none; margin: 0; padding: 0; text-align: right; font-size: 93%; }
.maincontents div.scrolltop p img { margin-left: 5px; border: none; }
.maincontents div.scrolltop a:link,
.maincontents div.scrolltop a:visited,
.maincontents div.scrolltop a:active { text-decoration: none; }
.maincontents div.scrolltop a:hover { text-decoration: underline; }

.maincontents div.locationback { clear: both; border-style: none; margin: 0; padding: 4px 0px 6px; }
.maincontents div.locationback p { display: block; overflow: visible; border-style: none; margin: 0; padding: 0; text-align: right; font-size: 93%; }
.maincontents div.locationback img { margin-left: 5px; border: none; }	
.maincontents div.locationback a:link,
.maincontents div.locationback a:visited,
.maincontents div.locationback a:active { text-decoration: none; }
.maincontents div.locationback a:hover { text-decoration: underline; }


.maincontents div.lastcol { margin-right: 0px; }

@media print { .maincontents div.lastcol { margin-right: -1px; } }


/* 3-2 substitute */


.maincontents .textindent { text-indent: 1em; }
.maincontents .textindent1 { text-indent: 1em; }
.maincontents .textindent2 { text-indent: 2em; }
.maincontents .textindent3 { text-indent: 3em; }

.maincontents .textleft { text-align: left; }
.maincontents .textright { text-align: right; }
.maincontents .textcenter { text-align: center; }

.maincontents .alignleft { float: left; }
.maincontents .alignright { float: right; }

.maincontents .clearleft { clear: left; }
.maincontents .clearright { clear: right; }
.maincontents .clearall { clear: both; }

.maincontents .vtop { vertical-align: text-top; }
.maincontents .vmiddle { vertical-align: middle; }
.maincontents .vbottom { vertical-align: text-bottom; }

.maincontents img.bordernone { border-style: none; }
.maincontents img.border010 { border: solid 1px #666666; }

.maincontents .notice { color: #bb0000; }
.maincontents em.notice { font-style: italic; }

.maincontents a.deconone { text-decoration: none; }
.maincontents a.deconone:hover { text-decoration: underline; }


.maincontents h1 { line-height: 1.5; }
.maincontents h2 { line-height: 1.5; }
.maincontents h3 { line-height: 1.5; }
.maincontents h4 { line-height: 1.5; }
.maincontents h5 { line-height: 1.5; letter-spacing: -0.05em; }
.maincontents h6 { line-height: 1.5; letter-spacing: -0.1em; }
.maincontents h2.bg010 { padding: 6px 10px; background: #f2f2f2 url(/images/common/fj/imgv4/common/heading-bg010-bg.gif) left top repeat-x; border: solid 1px #d2d2d2; }
.maincontents h3.bg010 { padding: 4px 10px; background: #f2f2f2 url(/images/common/fj/imgv4/common/heading-bg010-bg.gif) left top repeat-x; border: solid 1px #d2d2d2; }
.maincontents h4.bg010 { padding: 3px 10px; background: #f2f2f2 url(/images/common/fj/imgv4/common/heading-bg010-bg.gif) left top repeat-x; border: solid 1px #d2d2d2; }
.maincontents h5.bg010 { padding: 3px 10px; background: #f2f2f2 url(/images/common/fj/imgv4/common/heading-bg010-bg.gif) left top repeat-x; border: solid 1px #d2d2d2; }
.maincontents h6.bg010 { padding: 3px 10px; background: #f2f2f2 url(/images/common/fj/imgv4/common/heading-bg010-bg.gif) left top repeat-x; border: solid 1px #d2d2d2; }
*:first-child+html .maincontents h2.bg010 { background-position: 0px 1px; }
*:first-child+html .maincontents h3.bg010 { background-position: 0px 1px; }
*:first-child+html .maincontents h4.bg010 { background-position: 0px 1px; }
*:first-child+html .maincontents h5.bg010 { background-position: 0px 1px; }
*:first-child+html .maincontents h6.bg010 { background-position: 0px 1px; }
* html .maincontents h2.bg010 { background-position: 0px 1px; }
* html .maincontents h3.bg010 { background-position: 0px 1px; }
* html .maincontents h4.bg010 { background-position: 0px 1px; }
* html .maincontents h5.bg010 { background-position: 0px 1px; }
* html .maincontents h6.bg010 { background-position: 0px 1px; }
.maincontents h2.accent010 { border-left: 5px solid #bb2222; padding: 2px 0 1px 4px; }
.maincontents h3.accent010 { border-left: 5px solid #bb2222; padding: 2px 0 1px 4px; }
.maincontents h4.accent010 { border-left: 5px solid #bb2222; padding: 2px 0 1px 4px; }
.maincontents h5.accent010 { border-left: 5px solid #bb2222; padding: 2px 0 1px 4px; }
.maincontents h6.accent010 { border-left: 5px solid #bb2222; padding: 2px 0 1px 4px; }


.maincontents div.heading-link { position: relative; zoom: 1; }

.maincontents div.heading-link h2,
.maincontents div.heading-link h3,
.maincontents div.heading-link h4,
.maincontents div.heading-link h5,
.maincontents div.heading-link h6 { padding-right: 9.5em; }

.maincontents div.heading-link p.link { display: block; position: absolute; z-index: 2; top: 0px; right: 12px; text-align: right; font-weight: normal; font-size: 93%; }
.maincontents div.heading-link p.link a { text-decoration: none; }
.maincontents div.heading-link p.link a:hover { text-decoration: underline; }
.maincontents div.heading-link p.link a img { margin-left: 5px; border: none; }

.maincontents div.heading-link p.h2 { padding-top: 0.8em; }
.maincontents div.heading-link p.h3 { padding-top: 0.4em; }
.maincontents div.heading-link p.h4 { padding-top: 0.2em; }
.maincontents div.heading-link p.h5 { padding-top: 0.2em; }
.maincontents div.heading-link p.h6 { padding-top: 0.2em; }

* html .maincontents div.heading-link p.h2 { padding-top: 1em; }
* html .maincontents div.heading-link p.h3 { padding-top: 0.7em; }
* html .maincontents div.heading-link p.h4 { padding-top: 0.5em; }
* html .maincontents div.heading-link p.h5 { padding-top: 0.5em; }
* html .maincontents div.heading-link p.h6 { padding-top: 0.5em; }


.maincontents ol.compact,
.maincontents ul.compact { padding-left: 1.5em; }
.maincontents dl.compact dd { padding-left: 0; }
*:first-child+html .maincontents ol.compact,
*:first-child+html .maincontents ul.compact { padding-left: 1.9em; }
*:first-child+html .maincontents dl.compact dd { padding-left: 0; }
* html .maincontents ol.compact,
* html .maincontents ul.compact { padding-left: 1.9em; }
* html .maincontents dl.compact dd { padding-left: 0; }

.maincontents hr,
.maincontents hr.line010,/* <-- className of GIG3 */
.maincontents hr.line020 { height: 1px; margin: 0px 0px 2em 0px; padding: 0px; border-width: 0px 0px 1px 0px; border-color: #d2d2d2; background: none; color: #d2d2d2; } /* <-- className of GIG3 */

.maincontents ul.datelist2col { list-style: none; padding: 0px; zoom: 1; }
.maincontents ul.datelist2col li { list-style: none; margin-bottom: 0; padding-left: 24px; background: url(/images/common/fj/imgv4/common/li_dot_lv1.gif) no-repeat 6px 0.5em; zoom: 1; }
.maincontents ul.datelist2col li:after { content: "."; display: block; clear: both; width: 0; height: 0; line-height: 0; visibility: hidden; }
* html .maincontents ul.datelist2col li { display: inline-block; }
.maincontents ul.datelist2col li dl { margin: 0 0 8px; padding: 0px; zoom: 1; } /* <-- with clearfix class */
.maincontents ul.datelist2col li dt,
.maincontents ul.datelist2col li dd { margin-bottom: 0px; }
.maincontents ul.datelist2col li dt { float: left; width: 103px; padding: 0px; }
.maincontents ul.datelist2col li dd { margin-left: 113px; padding: 0px; }

.maincontents ul.datelist2col-wide { list-style: none; padding: 0px; zoom: 1; }
.maincontents ul.datelist2col-wide li { list-style: none; margin-bottom: 0; padding-left: 24px; background: url(/images/common/fj/imgv4/common/li_dot_lv1.gif) no-repeat 6px 0.5em; zoom: 1; }
.maincontents ul.datelist2col-wide li:after { content: "."; display: block; clear: both; width: 0; height: 0; line-height: 0; visibility: hidden; }
* html .maincontents ul.datelist2col-wide li { display: inline-block; }
.maincontents ul.datelist2col-wide li dl { margin: 0 0 8px; padding: 0px; zoom: 1; } /* <-- with clearfix class */
.maincontents ul.datelist2col-wide li dt,
.maincontents ul.datelist2col-wide li dd { margin-bottom: 0px; }
.maincontents ul.datelist2col-wide li dt { float: left; width: 150px; padding: 0px; }
.maincontents ul.datelist2col-wide li dd { margin-left: 160px; padding: 0px; }

.maincontents ul.datelist2col li dl.add-icon { clear: both; overflow: hidden; /* <-- fitting boxes height */ }
.maincontents ul.datelist2col li dl.add-icon dt { width: 180px; float: left; }
.maincontents ul.datelist2col li dl.add-icon dt span.date { display: block; float: left; display: inline; /* <-- for IE6 float box margin bug*/ width: 103px; }
.maincontents ul.datelist2col li dl.add-icon dt span.type { display: block; float: right; width: 70px; }
.maincontents ul.datelist2col li dl.add-icon dt span.type img { line-height: 1; vertical-align: -0.4em; }
*:first-child+html .maincontents ul.datelist2col li dl.add-icon dt span.type img { vertical-align: -0.7em; }
* html .maincontents ul.datelist2col li dl.add-icon dt span.type img { vertical-align: -0.7em; }
.maincontents ul.datelist2col li dl.add-icon dd { margin-left: 190px; }

.maincontents ul.datelist2col-wide li dl.add-icon { clear: both; overflow: hidden; /* <-- fitting boxes height */ }
.maincontents ul.datelist2col-wide li dl.add-icon dt { width: 230px; float: left; }
.maincontents ul.datelist2col-wide li dl.add-icon dt span.date { display: block; float: left; display: inline; /* <-- for IE6 float box margin bug*/ width: 150px; }
.maincontents ul.datelist2col-wide li dl.add-icon dt span.type { display: block; float: right; width: 70px; }
.maincontents ul.datelist2col-wide li dl.add-icon dt span.type img { line-height: 1; vertical-align: -0.4em; }
*:first-child+html .maincontents ul.datelist2col-wide li dl.add-icon dt span.type img { vertical-align: -0.7em; }
* html .maincontents ul.datelist2col-wide li dl.add-icon dt span.type img { vertical-align: -0.7em; }
.maincontents ul.datelist2col-wide li dl.add-icon dd { margin-left: 240px; }

.maincontents table.standard { border-collapse: collapse; border-spacing: 0px;  border: solid 1px #b8b8b8; color: #000000; }
.maincontents table.standard caption { caption-side: top; padding-bottom: 0.5em; }
.maincontents table.standard tr {}
.maincontents table.standard th { background-color: #f2f2f2; color: #000000; border: solid 1px #aaaaaa; line-height: 1.6; }
.maincontents table.standard td { background-color: #ffffff; color: #000000; border: solid 1px #b8b8b8; line-height: 1.6; }
.maincontents table.standard thead {}
.maincontents table.standard thead th { background-color: #d2d2d2; }
.maincontents table.standard thead td { background-color: #d2d2d2; }
.maincontents table.standard tfoot {}
.maincontents table.standard tfoot th { background-color: #999999; color: #000000; }
.maincontents table.standard tfoot td { background-color: #999999; color: #000000; }
.maincontents table.standard tbody {}
.maincontents table.standard tbody td { background-color: #ffffff; color: #000000; }

.maincontents div.emphasis table.standard { border: solid 1px #ffffff; }
.maincontents div.emphasis table.standard th { background-color: #d2d2d2; border: solid 1px #ffffff; }
.maincontents div.emphasis table.standard td { border: solid 1px #ffffff; }
.maincontents div.emphasis table.standard thead th,
.maincontents div.emphasis table.standard thead td,
.maincontents div.emphasis table.standard tfoot th,
.maincontents div.emphasis table.standard tfoot td { background: #c2c2c2; color: #000000; }
.maincontents div.emphasis table.standard tbody td { background-color: #eeeeee; color: #000000; }
.maincontents div.emphasis table.standard tr.odd td { background-color: #eeeeee; color: #000000; }
.maincontents div.emphasis table.standard tr.even td { background-color: #dddddd; color: #000000; }

.maincontents div.stripe table.standard {}
.maincontents div.stripe table.standard th { background-color: #e2e2e2; }
.maincontents div.stripe table.standard td { background-color: #f2f2f2; color: #000000; }
.maincontents div.stripe table.standard thead th,
.maincontents div.stripe table.standard thead td { background: #d2d2d2; }
.maincontents div.stripe table.standard tfoot th,
.maincontents div.stripe table.standard tfoot td { background: #d2d2d2; }
.maincontents div.stripe table.standard tr.even {} /* with jquery '/images/common/fj/incv4/common/libraries/include_funcs.js' */
.maincontents div.stripe table.standard tr.even td { background-color: #ffffff; color: #000000; }

.maincontents div.stripe div.emphasis table.standard {}
.maincontents div.stripe div.emphasis table.standard th { background-color: #d2d2d2; }
.maincontents div.stripe div.emphasis table.standard td { background-color: #e2e2e2; color: #000000; }
.maincontents div.stripe div.emphasis table.standard thead th,
.maincontents div.stripe div.emphasis table.standard thead td,
.maincontents div.stripe div.emphasis table.standard tfoot th,
.maincontents div.stripe div.emphasis table.standard tfoot td { background: #c2c2c2; color: #000000; }
.maincontents div.stripe div.emphasis table.standard tr.even {} /* with jquery '/images/common/fj/incv4/common/libraries/include_funcs.js' */
.maincontents div.stripe div.emphasis table.standard tr.even td { background: #f2f2f2; color: #000000; }

.maincontents div.frm { margin-bottom: 2em; border: solid 1px #b8b8b8; }
.maincontents div.frm-bg { margin-bottom: 2em; background: #f2f2f2; border: solid 1px #b8b8b8; }
.maincontents div.bg { margin-bottom: 2em; background: #f2f2f2; border: solid 1px #f2f2f2; }
.maincontents div.frm-grd { margin-bottom: 2em; background: #ffffff url(/images/common/fj/imgv4/common/box-bg-demo.gif) 0px 0px repeat-x; border: solid 1px #b8b8b8; }
.maincontents div.inside { border: solid 1px #ffffff; padding: 14px 14px 0px 14px; }
.maincontents div.frm div.innerblock ,
.maincontents div.bg div.innerblock { padding: 15px 15px 0px 15px; } 
.maincontents div.frm-grd div.innerblock,
.maincontents div.frm-bg div.innerblock { padding: 14px 14px 0px 14px; }

div.rounded {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.maincontents div.rounded div.rounded-inside {
	border: solid 1px #ffffff;
	padding: 14px 14px 0px 14px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.maincontents div.lay2col { width: 100%; border: none; margin-top: 10px; }
.maincontents div.lay3col { width: 100%; border: none; margin-top: 10px; }
.maincontents div.lay4col { width: 100%; border: none; margin-top: 10px; }
.maincontents div.lay5col { width: 100%; border: none; margin-top: 10px; }

.maincontents div.lay2col div.col1 { float: left; width: 49.2%; }
.maincontents div.lay2col div.col2 { float: left; width: 49.2%; }
	.maincontents div.lay2col div.col1 > div.innerblock { margin: 0 8px 0 0; }
	.maincontents div.lay2col div.col2 > div.innerblock { margin: 0 1px /* This is a value to keep column width*/ 0 7px; }

.maincontents div.lay3col div.col1 { float: left; width: 33%; }
.maincontents div.lay3col div.col2 { float: left; width: 33%; }
.maincontents div.lay3col div.col3 { float: left; width: 33%; }
	.maincontents div.lay3col div.col1 > div.innerblock { margin: 0 10px 0 0; }
	.maincontents div.lay3col div.col2 > div.innerblock { margin: 0 5px 0 5px; }
	.maincontents div.lay3col div.col3 > div.innerblock { margin: 0 0 0 10px; }

.maincontents div.lay4col div.col1 { float: left; width: 24%; }
.maincontents div.lay4col div.col2 { float: left; width: 24%; }
.maincontents div.lay4col div.col3 { float: left; width: 24%; }
.maincontents div.lay4col div.col4 { float: left; width: 24%; }
	.maincontents div.lay4col div.col1 > div.innerblock { margin: 0 12px 0 0; }
	.maincontents div.lay4col div.col2 > div.innerblock { margin: 0 9px 0 3px; }
	.maincontents div.lay4col div.col3 > div.innerblock { margin: 0 6px 0 6px; }
	.maincontents div.lay4col div.col4 > div.innerblock { margin: 0 3px /* This is a value to keep column width */ 0 9px; }

.maincontents div.lay5col div.col1 { float: left; width: 19%; }
.maincontents div.lay5col div.col2 { float: left; width: 19%; }
.maincontents div.lay5col div.col3 { float: left; width: 19%; }
.maincontents div.lay5col div.col4 { float: left; width: 19%; }
.maincontents div.lay5col div.col5 { float: left; width: 19%; }
	.maincontents div.lay5col div.col1 > div.innerblock { margin: 0 12px 0 0; }
	.maincontents div.lay5col div.col2 > div.innerblock { margin: 0 9px 0 3px; }
	.maincontents div.lay5col div.col3 > div.innerblock { margin: 0 6px 0 6px; }
	.maincontents div.lay5col div.col4 > div.innerblock { margin: 0 3px 0 9px; }
	.maincontents div.lay5col div.col5 > div.innerblock { margin: 0 0 0 12px; }
	
	.maincontents div.col1 > div.innerblock { padding: 0; }
	.maincontents div.col2 > div.innerblock { padding: 0; }
	.maincontents div.col3 > div.innerblock { padding: 0; }
	.maincontents div.col4 > div.innerblock { padding: 0; }
	.maincontents div.col5 > div.innerblock { padding: 0; }
	
	.maincontents div.frm > div.innerblock { padding: 15px 15px 0; margin: 0 !important; }
	.maincontents div.frm-grd > div.innerblock { padding: 14px 14px 0; margin: 0 !important; }
	.maincontents div.frm-bg > div.innerblock { padding: 14px 14px 0; margin: 0 !important; }
	.maincontents div.bg > div.innerblock { padding: 15px 15px 0; margin: 0 !important; }

img.alert { margin-left: 0.5em; }
input.form-error { background-color: #feeeee; }

/* Search & Results */
.maincontents div.search-area { text-align: center; }
.maincontents div.search-area div.search-input h2 { display: inline; margin-right: 0.5em; font-size: 108%; }
.maincontents div.search-area div.search-input { margin-bottom: 0.5em; }
.maincontents div.search-area div.search-input p { display: inline; margin-bottom: 0px; }
.maincontents div.search-area div.search-input input.text { margin-right: 0.2em; vertical-align: middle; }
.maincontents div.search-area div.search-input input.button { margin-right: 0.5em; vertical-align: middle; }
.maincontents div.search-area div.search-select-scope {}
.maincontents div.search-area div.search-select-scope input { vertical-align: baseline; }

.maincontents h2.search-results-title { margin-bottom: 0.2em; font-size: 108%; font-weight: normal; border-bottom: solid 1px #d2d2d2; }
.maincontents h2.search-results-title strong { font-weight: bold; }
.maincontents h2.search-results-title span.label { margin-right: 2em; }

.maincontents div.search-results { margin-bottom: 1.75em; }
.maincontents div.search-results div.frm-bg h3 { margin-bottom: 0.5em; }
.maincontents div.search-results div.frm-bg h4 { margin-bottom: 0.5em; font-size: 108%; }
.maincontents div.search-results div.result { margin-bottom: 1.7em; }
.maincontents div.search-results div.result.indent { margin-left: 5em; }
.maincontents div.search-results div.result h3 { font-weight: normal; margin-bottom: 0.2em; }
.maincontents div.search-results div.result p { margin-bottom: 0px; padding-left: 0px; }
.maincontents div.search-results div.result p.sub { font-size: 93%; }
.maincontents div.search-results div.result p.sub span.host-info { color: #008000; }

strong.icon_pdf { display: inline; background: #cc0033; color: #ffffff; margin: 0px 2px 0px 0px; padding: 1px 3px; font-weight: bold; font-size: 88%; }
	.maincontents strong.icon_pdf a:link { text-decoration: none; color: #ffffff; }
	.maincontents strong.icon_pdf a:visited { text-decoration: none; color: #ffffff; }
	.maincontents strong.icon_pdf a:active { text-decoration: none; color: #ffffff; }
	.maincontents strong.icon_pdf a:hover { text-decoration: none; color: #ffffff; }
	.maincontents a strong.icon_pdf { text-decoration: none; color: #ffffff; }

strong.icon_compression { display: inline; background: #666666; color: #ffffff; margin: 0px 2px 0px 0px; padding: 1px 3px; font-weight: bold; font-size: 88%; }
	.maincontents strong.icon_compression a:link { text-decoration: none; color: #ffffff; }
	.maincontents strong.icon_compression a:visited { text-decoration: none; color: #ffffff; }
	.maincontents strong.icon_compression a:active { text-decoration: none; color: #ffffff; }
	.maincontents strong.icon_compression a:hover { text-decoration: none; color: #ffffff; }
	.maincontents a strong.icon_compression { text-decoration: none; color: #ffffff; }

/* Ajax Object Base ---------------------------------------------------------------------------------------------------------------------*/


	/* (1) News Ticker Base ------------------------------------------------- */
	#rownews { position: relative; width: 980px; background: url(/images/common/fj/imgv4/common/ajax/newsticker/news-bg.png) no-repeat left bottom; padding-bottom: 6px; margin-bottom: 15px; }
	/* Hides from IE-mac \*/ * html #news { height: 1%; }
	#rownews { display: block; } /* End hides from IE-mac \*/
		#rownewsinner { float: left; padding: 0; width: 980px; background: #484848 url(/images/common/fj/imgv4/common/ajax/newsticker/news-shadow.jpg) no-repeat left top; }
		#rownewsinner2 { float: left; padding: 8px 14px 0 9px; }
		
		#rownews a:link,
		#rownews a:visited,
		#rownews a:active { color: #ffffff; }
		
		#rownews h2 { float: left; width: 65px; font-weight: bold; font-size: 93%; line-height: 1.5; margin: 0 10px 0 0; padding: 0; }
		#rownews .playpause { width: 18px; position: absolute; cursor: pointer; }
			#rownews .playpause p { width: 18px; height: 17px; margin: 0; padding: 0; line-height: 1; }
		#rownews #rownews-list { float: left; width: 850px; }
				
				#rownews .datelist2col { width: 800px; list-style: none; margin: 0; padding: 0 0 0 30px; color: #ffffff; }
				* html #rownews .datelist2col { width: 830px; }
					#rownews .datelist2col li { clear: left; margin: 0; padding: 0; background: none; }
					#rownews .datelist2col dl { margin: 0; padding: 0; }
					#rownews .datelist2col dt { width: 150px; line-height: 1.5; background: #484848; }
					#rownews .datelist2col dd { line-height: 1.5; background: #484848; margin-right: 0; }
		#rownews p#rss { position: absolute; right: 0; top: 0; width: 20px; height: 20px; float: right; margin: 7px 10px 0 0;  padding: 0; }

	/* (2) Accordion Base --------------------------------------------*/
	div.accd1span { width: 184px; padding-bottom: 2em; border: }
	div.accd2span { width: 383px; padding-bottom: 2em; }
	div.accd3span { width: 582px; padding-bottom: 2em; }
	div.accd4span { width: 781px; padding-bottom: 2em; }
	div.accd5span { width: 980px; padding-bottom: 2em; }
	
	div.accd1span div.accdsection { width: 184px; }
	div.accd2span div.accdsection { width: 383px; }
	div.accd3span div.accdsection { width: 582px; }
	div.accd4span div.accdsection { width: 781px; }
	div.accd5span div.accdsection { width: 980px; }
	
	div.accd1span div.accdsection .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-1col.png) no-repeat left top; }
	div.accd2span div.accdsection .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-2col.png) no-repeat left top; }
	div.accd3span div.accdsection .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-3col.png) no-repeat left top; }
	div.accd4span div.accdsection .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-4col.png) no-repeat left top; }
	div.accd5span div.accdsection .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-5col.png) no-repeat left top; }
	div.accdsection .heading { padding: 0 1px; min-height: 38px; }
		div.accdsection .heading .innerblock { border-top: 1px solid #dddddd; border-bottom: 1px solid #ffffff; position: relative; }
		*html div.accdsection .heading .innerblock { position: static; }
		
		
		div.accdsection .heading p.rss { position: absolute; top: 0; right: 0; padding-top: 0.6em; margin-right: 33px; font-size: 100%; }
		*:first-child+html div.accdsection .heading p.rss { padding-top: 1.0em; }
		*html div.accdsection .heading p.rss { padding-top: 0.9em; }
		div.accdsection .heading p.rss a img { vertical-align: middle; }
		
		div.accd1span div.accdsection.first .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-top-bg-1col.png) no-repeat left top; }
		div.accd2span div.accdsection.first .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-top-bg-2col.png) no-repeat left top; }
		div.accd3span div.accdsection.first .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-top-bg-3col.png) no-repeat left top; }
		div.accd4span div.accdsection.first .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-top-bg-4col.png) no-repeat left top; }
		div.accd5span div.accdsection.first .heading { background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-top-bg-5col.png) no-repeat left top; }
			div.accdsection.first .heading .innerblock { border-top: none; }
			
		div.accd1span div.accdsection.last .heading { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-1col.png) no-repeat left top; }
		div.accd2span div.accdsection.last .heading { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-2col.png) no-repeat left top; }
		div.accd3span div.accdsection.last .heading { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-3col.png) no-repeat left top; }
		div.accd4span div.accdsection.last .heading { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-4col.png) no-repeat left top; }
		div.accd5span div.accdsection.last .heading { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-5col.png) no-repeat left top; }
			div.accdsection.last .heading .innerblock { border-bottom: 1px solid #ffffff; }
		
		
		div.accd1span div.accdsection.last .heading.accordion-open { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-1col.png) no-repeat left top !important; }
		div.accd2span div.accdsection.last .heading.accordion-open { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-2col.png) no-repeat left top !important; }
		div.accd3span div.accdsection.last .heading.accordion-open { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-3col.png) no-repeat left top !important; }
		div.accd4span div.accdsection.last .heading.accordion-open { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-4col.png) no-repeat left top !important; }
		div.accd5span div.accdsection.last .heading.accordion-open { border-bottom: none; background: url(/images/common/fj/imgv4/common/ajax/accordion/tab-bg-5col.png) no-repeat left top !important; }

		div.accdsection .heading h2 { padding: 14px 30px 14px 10px; margin: 0 10px 0 0; background: url(/images/common/fj/imgv4/common/ajax/accordion/icon-accordion_headings-close.gif) no-repeat right center; color: #555555; font-size: 108%; line-height: 1; }
		div.accdsection .heading h3 { padding: 14px 30px 14px 10px; margin: 0 10px 0 0; background: url(/images/common/fj/imgv4/common/ajax/accordion/icon-accordion_headings-close.gif) no-repeat right center; color: #555555; font-size: 108%; line-height: 1; }
		div.accdsection .heading h4 { padding: 14px 30px 14px 10px; margin: 0 10px 0 0; background: url(/images/common/fj/imgv4/common/ajax/accordion/icon-accordion_headings-close.gif) no-repeat right center; color: #555555; font-size: 108%; line-height: 1; }
		div.accdsection .heading h5 { padding: 14px 30px 14px 10px; margin: 0 10px 0 0; background: url(/images/common/fj/imgv4/common/ajax/accordion/icon-accordion_headings-close.gif) no-repeat right center; color: #555555; font-size: 108%; line-height: 1; }
		div.accdsection .heading h6 { padding: 14px 30px 14px 10px; margin: 0 10px 0 0; background: url(/images/common/fj/imgv4/common/ajax/accordion/icon-accordion_headings-close.gif) no-repeat right center; color: #555555; font-size: 108%; line-height: 1; }
			* html div.accdsection .heading h2 { zoom: 1; }
			* html div.accdsection .heading h3 { zoom: 1; }
			* html div.accdsection .heading h4 { zoom: 1; }
			* html div.accdsection .heading h5 { zoom: 1; }
			* html div.accdsection .heading h6 { zoom: 1; }
		
		div.accdsection .heading.accordion-open h2 { background: none; }
		div.accdsection .heading.accordion-open h3 { background: none; }
		div.accdsection .heading.accordion-open h4 { background: none; }
		div.accdsection .heading.accordion-open h5 { background: none; }
		div.accdsection .heading.accordion-open h6 { background: none; }

	div.accd1span div.accdsection .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion_child-bg-1col.gif) repeat-y left top; line-height: 1; padding: 0; zoom: 1; }
	div.accd2span div.accdsection .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion_child-bg-2col.gif) repeat-y left top; line-height: 1; padding: 0; zoom: 1; }
	div.accd3span div.accdsection .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion_child-bg-3col.gif) repeat-y left top; line-height: 1; padding: 0; zoom: 1; }
	div.accd4span div.accdsection .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion_child-bg-4col.gif) repeat-y left top; line-height: 1; padding: 0; zoom: 1; }
	div.accd5span div.accdsection .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion_child-bg-5col.gif) repeat-y left top; line-height: 1; padding: 0; zoom: 1; }
	
		div.accd1span div.accdsection.last .content .innerframe { background: transparent url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-1col.png) no-repeat left bottom; padding-bottom: 8px; }
		div.accd2span div.accdsection.last .content .innerframe { background: transparent url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-2col.png) no-repeat left bottom; padding-bottom: 8px; }
		div.accd3span div.accdsection.last .content .innerframe { background: transparent url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-3col.png) no-repeat left bottom; padding-bottom: 8px; }
		div.accd4span div.accdsection.last .content .innerframe { background: transparent url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-4col.png) no-repeat left bottom; padding-bottom: 8px; }
		div.accd5span div.accdsection.last .content .innerframe { background: transparent url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-5col.png) no-repeat left bottom; padding-bottom: 8px; }
		
			* html div.accd1span div.accdsection.last .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-1col.png) no-repeat left 101%; }
			* html div.accd2span div.accdsection.last .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-2col.png) no-repeat left 101%; }
			* html div.accd3span div.accdsection.last .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-3col.png) no-repeat left 101%; }
			* html div.accd4span div.accdsection.last .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-4col.png) no-repeat left 101%; }
			* html div.accd5span div.accdsection.last .content .innerframe { background: #ffffff url(/images/common/fj/imgv4/common/ajax/accordion/accordion-bottom-bg-5col.png) no-repeat left 101%; }
		
		div.accdsection .content .innerframe { border-top: 1px solid #dddddd; }
		div.accdsection.last .content .innerframe .innerblock { background: #ffffff; border-left: 1px solid #b8b8b8; border-right: 1px solid #b8b8b8; border-bottom: 1px solid transparent; }
		* html div.accdsection.last .content .innerframe .innerblock { border-bottom: none; }
		
		div.accdsection .innerframe ul.inside-box { list-style: none; padding: 0; margin: 0; font-size: 108%; }
			div.accdsection .innerframe ul.inside-box h2 { font-size: 100%; }
			div.accdsection .innerframe ul.inside-box h3 { font-size: 100%; }
			div.accdsection .innerframe ul.inside-box h4 { font-size: 100%; }
			div.accdsection .innerframe ul.inside-box h5 { font-size: 100%; }
			div.accdsection .innerframe ul.inside-box h6 { font-size: 100%; }
		
		div.accdsection .innerframe ul.inside-box li { border-top: 1px solid #dddddd; padding: 16px 10px; line-height: 1.5; margin: 0; zoom: 1; }
		* html div.accdsection .innerframe ul.inside-box li { margin-top: -1px; }
		div.accdsection .innerframe ul.inside-box li:first-child { border-top: none; }
		div.accdsection .innerframe ul.inside-box li li { border-top: none; margin: 0px 0px 0.75em 0px; padding: 0px; line-height: 1.75; }
		
		div.accdsection .innerframe div.inside-box { border-top: 1px solid #dddddd; padding: 16px 10px; line-height: 1; margin: 0; }
		* html div.accdsection .innerframe div.inside-box { margin-top: -1px; }
		div.accdsection .innerframe div.inside-box h2 { margin-bottom: 0; }
		div.accdsection .innerframe div.inside-box h3 { margin-bottom: 0; }
		div.accdsection .innerframe div.inside-box h4 { margin-bottom: 0; }
		div.accdsection .innerframe div.inside-box h5 { margin-bottom: 0; }
		div.accdsection .innerframe div.inside-box h6 { margin-bottom: 0; }
		div.accdsection .innerframe div.inside-box:first-child  { border-top: none; }
		
		div.accdsection div.moreinfo { clear: both; border-top: 1px solid #dddddd; margin: 0; padding: 4px 10px 6px 10px; }
		div.accdsection div.inside-box div.moreinfo { border: none; padding: 4px 0 6px 0; }

	/* (3) Generic Dropdown Base --------------------------------------------*/
	/* (4) Dropdown in CountrySelector Base --------------------------------------------*/
	/* (5) Tab Base --------------------------------------------*/
	/* (6) Toggle Base --------------------------------------------*/

/* (ex) for manual & assetinfo -------------------------------------------------------- */
div.assetinfo { text-align: left; font-size: 108%; }

div.frm-bg-man { position: relative; border: solid 1px #99cc99; margin-top: 8px; background: #eeffee; }
div.frm-bg-man h2.bg010 { background: #ccffcc; }
div.frm-bg-man pre { font-size: 90%; }
div.frm-bg-man strong.man { font-weight: normal; color: #009900; }
div.frm-bg-man em { font-weight: normal; font-style: normal; color: #cc0066; }

div.frm-bg-man2 { position: relative; border: solid 1px #cccc99; margin-top: 8px; background: #ffffee; }
div.frm-bg-man2 h2.bg010 { background: #ffffcc; }
div.frm-bg-man2 pre { font-size: 90%; }
div.frm-bg-man2 strong.man { font-weight: normal; color: #cc6600; }
div.frm-bg-man2 em { font-weight: normal; font-style: normal; color: #cc0066; }

div.frm-bg-man3 { position: relative; border: solid 1px #cc99cc; margin-top: 8px; background: #ffeeff; }
div.frm-bg-man3 h2.bg010 { background: #ffccff; }
div.frm-bg-man3 pre { font-size: 90%; }
div.frm-bg-man3 strong.man { font-weight: normal; color: #990099; }

strong.man { font-weight: normal; color: #009900; }

div.contentsarea p.prop { margin-top: 2em; text-align: right; }
	div.contentsarea p.prop strong {
	display: inline;
	border: solid #99cc99 1px;
	background: #eeffee;
	margin: 0px 2px;
	padding: 1px 1px 0px 1px;
	font-weight: normal;
	}

div.contentsarea strong.opt {
display: inline;
border: solid #cccc00 1px;
background: #ffff00;
color: #cc6600;
margin: 0px 2px;
padding: 1px 1px 0px 1px;
font-weight: bold;
font-size: 80%;
}