@charset "utf-8";

/* --------------------------------------------------------------------

# FUJITSU CSS v2.0 -- FUJITSU.COM EDITION #

Copyright 2010 FUJITSU LIMITED 

-------------------------------------------------------------------- */

/* Framework -------------------------------------------- */

body { position: relative; text-align: center; }

.stage { width: 100%; min-width: 980px; border-top: 3px solid #666666; background: url(/images/common/fj/imgv4/common/stageborder-bottom.gif) repeat-x left bottom; }

.bodyarea { position: relative; width: 980px; margin: 0 auto; padding-bottom: 60px; text-align: left; z-index: 900; }
.bodyarea:after { content: "."; display: block; clear: both; width: 0; height: 0; line-height: 0; visibility: hidden; }
* html .bodyarea { display: inline-block; }

/* Block Skip */
div#blockskip { z-index: 9999; overflow: visible; margin: 0; padding: 0; width: 100%; }
div#blockskip a { display: block; float: left; background: #666666; margin: 0; margin-top: -1px; padding: 0; width: 100%; min-width: 980px; color: #ffffff; text-align: center; text-decoration: none; font-size: 1px; color: #666666; line-height: 0; cursor: default; height: 1px; overflow: hidden; }
div#blockskip a:hover { text-decoration: underline; }
div#blockskip a.show { color: #ffffff; height:1em; margin-top: -3px; padding: 5px 0; font-size: 93%; line-height: 1; cursor: pointer; }


/* Header Area */
div.header { clear: left; width: 980px; min-height: 94px; _height: 94px; margin: 0 auto 10px; text-align: left; position: relative; z-index: 1000; }
div.header a { text-decoration: none; }
div.header a:hover { text-decoration: underline; }
div.header a img { border: none; }
div.header-extra { width: 980px; min-height: 94px; _height: 94px; margin: 0 auto 10px; text-align: left; position: relative; z-index: 1000; background: #ffffff url(/images/common/fj/imgv4/common/mainnav-back-bottom.png) no-repeat left bottom; padding-bottom: 1px; }

	div.header .vtop, div.header-extra .vtop{ margin-top: 2px; }

	div.headertop{ width: 978px; float: left; background: #ffffff; border-left: 1px solid #b8b8b8; border-right: 1px solid #b8b8b8; }
	div.headertop-extra{ width: 978px; float: left; border-left :1px solid #b8b8b8; border-right: 1px solid #b8b8b8; }

		#corporatesymbol { display: inline; float: left; width: 310px; margin: 11px 10px 7px 11px; }
		#corporatesymbol h1 { padding: 0; margin: 0; font-size: 100%; line-height: 1; }
		#corporatesymbol p { padding: 0; margin: 0; font-size: 100%; line-height: 1; }
		.headerrightarea { display: block; float: right; width: 626px; margin: 8px 11px 7px 0; text-align: right; }
		#headnavi { display: block; float: right; width: 338px; margin: 14px 10px 0 0; text-align: right; }
			#headnavi p { display: inline; line-height: 1.3; margin: 0; }
			#headnavi p.lang { font-size: 93%; border-left: 1px solid #c2c2c2; margin-left: 5px; padding-left: 5px; white-space: nowrap; zoom: 1; }
			#headnavi p.country { font-size: 93%; color: #444444; }
			#headnavi .dd-country-selector { display: inline; zoom: 1; }
			#headnavi .dd-country-selector .lang .vtop { vertical-align: top; margin-top: 2px; }
			#headnavi .dd-country-selector  ul.dropdown-box{ display: none;	}
			#headnavi p.lang-selector { font-size: 93%; line-height: 1.3; display: block; float: left; width: 130px; text-align: right; margin: 0 5px 0 0; }

		div#headsearch { float: right; border-style: none; width: 278px; height: 42px; margin: 0px; padding: 0px; background: url("/images/common/fj/imgv4/common/search-bg.gif") no-repeat top right; text-align: right; }
		 div#headsearch.nonavigation { background: #ffffff; }
		#headsearch form { display: block; margin: 0px; padding: 0px 10px 0px 0px; overflow: hidden; line-height: 0; }
			input#Search { font-size: 123.1%; border-style: solid; border-width: 1px; border-color: #7f9db9; width: 223px; height: 1.2em; margin: 0px; color: #777; padding: 2px 3px 2px 3px; background: #ffffff; vertical-align: middle; overflow: hidden; }
				* html input#Search { height: 1.5em; }
			input.focusin { color: #333333; }			
			input#submit { width: 27px; height: 26px; border-style: none; margin: 8px 0px 8px 4px; padding: 0px; vertical-align: middle; }

	#headerbottom { clear: both; position: relative; display: block; background: #ffffff url(/images/common/fj/imgv4/common/mainnav-back-bottom.png) no-repeat left bottom; padding-bottom: 5px; width: 980px; z-index: 1; }
		#headerbottom.nonavigation { height: 1em; padding: 10px 0px 11px 0px; border-top: 1px solid #b8b8b8; }
	
	#headerbottom ul.glbnavinner { padding: 0; margin: 0; border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; }
	#headerbottom li.glbnavlist { float: left; display: block; line-height: 1; margin: 0; padding: 0; z-index: 1000; }
	#headerbottom li.glbnavlist a.glbnavtitle { display: block; float: left; padding: 6px 0px 7px 0px; color: #555555; font-weight: bold; font-size: 86%; }
	#headerbottom li.glbnavlist a.glbnavtitle span { display: block; float: left; padding: 2px 13px 2px 13px; margin: 0; border-left: 1px solid #ffffff; border-right: 1px solid #999999; }
		#headerbottom li.glbnavlist:hover a.glbnavtitle { padding-bottom: 6px; padding-left: 1px; background: transparent url(/images/common/fj/imgv4/common/mainnav-back-btnover.png) repeat-x left top; border-left: 1px solid #b8b8b8; border-right: 1px solid #b8b8b8; border-bottom: 1px solid #b8b8b8; margin-left: -1px; }
		#headerbottom li.glbnavlist:hover a.glbnavtitle span { border: none; text-decoration: underline; cursor: pointer; }
		#headerbottom li.glbnavlist:active a.glbnavtitle { color: #cc3300; }
		* html #headerbottom li.glbnavlist a.glbnavtitle:hover { padding-bottom: 6px; padding-left: 0px; background: transparent url(/images/common/fj/imgv4/common/mainnav-back-btnover.png) repeat-x left top; border-left: 1px solid #b8b8b8; border-right: 1px solid #b8b8b8; border-bottom: 1px solid #b8b8b8; margin-left: -1px; } /* <- for IE6 */
		* html #headerbottom li.glbnavlist a.glbnavtitle:hover span { border: none; text-decoration: underline; cursor: pointer; }
		* html #headerbottom li.glbnavlist a.glbnavtitle:active { color: #cc3300; }
		
	#headerbottom li.first.glbnavlist a.glbnavtitle span { border-left: none; }
		#headerbottom li.first.glbnavlist:hover a.glbnavtitle { background: transparent url(/images/common/fj/imgv4/common/mainnav-back-btnover.png) repeat-x left top; padding-bottom: 7px; border-left: none; border-bottom: none; }
		* html #headerbottom li.first a.glbnavtitle:hover { padding-left: 1px; background: transparent url(/images/common/fj/imgv4/common/mainnav-back-btnover.png) repeat-x left top; padding-bottom: 7px; border-left: none; border-bottom: none; }
	
	#globalnav { border-left: 1px solid #b8b8b8; border-right: 1px solid #b8b8b8;  border-top: 1px solid #b8b8b8; margin: 0; padding: 0; }
	
	
	#headerbottom .signin-status { float: right; width: 262px; text-align: right; padding: 0 15px; margin-top: 6px; zoom: 1; }
		#headerbottom .signin-status p { margin: 0; padding: 0; line-height: 1.3; font-size: 77%; zoom: 1; }
		#headerbottom .signin-status a { font-size: 120%; margin-left: 1em; zoom: 1; }
		#headerbottom .signin-status a:link,
		#headerbottom .signin-status a:visited,
		#headerbottom .signin-status a:active { text-decoration: none; }
		#headerbottom .signin-status a:hover { text-decoration: underline; }
		#headerbottom .signin-status a img { margin-left: 3px; vertical-align: middle; }
		*:first-child+html #headerbottom .signin-status p { font-size: 73%; } /* <-for IE7 IE8 */
		* html #headerbottom .signin-status p { font-size: 73%; } /* <-for IE6 */

/* Location Area */
#location { width: 978px; background: #f7f7f7; border: 1px solid #eeeeee; padding: 0; margin-bottom: 15px; text-align: left; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius: 4px; }

	#location ol { padding: 7px 10px 7px; margin: 0; list-style: none; font-size: 93%; }
		ol.location-inside { border: 1px solid #ffffff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius: 3px; }
		*:first-child+html #location div.highlight_v { padding: 0 !important; }

	#location li { display: inline; margin: 0; margin-right: 2px; line-height: 1.3; }
	#location li a { margin-right: 2px; }
	#location li a:link,
	#location li a:visited,
	#location li a:active { margin-right: 2px; text-decoration: none; }
	#location li a:hover { margin-right: 2px; text-decoration: underline; }



/* Aside Area */
.aside { float: left; width: 184px; }

	.aside .submenu { float: none; }

/* MainMenu Area */
#mainmenu { width: 184px; margin-bottom: 15px; background: url(/images/common/fj/imgv4/common/mainmenu-li-open-bg.gif) repeat-y; line-height: 1.2; }

#mainmenu a:link,
#mainmenu a:visited,
#mainmenu a:active { text-decoration: none; }
#mainmenu a:hover { text-decoration: underline; }

#mainmenu p.top { margin: 0px; padding: 0; font-size: 93%; background: #f3f3f3 url(/images/common/fj/imgv4/common/mainmenu-p-bg.gif) left top no-repeat; border-bottom: 1px solid #cecfce; }
#mainmenu p.top strong { display: block; padding: 8px 6px; font-weight: normal; }
#mainmenu p.top strong.current { display: block; background: #ffffff url(/images/common/fj/imgv4/common/mainmenu-p-current-bg.gif) left top no-repeat; }

#mainmenu ul { list-style: none; margin: 0px; margin-top: -1px; padding: 2px 0px 0px 0px; background: url(/images/common/fj/imgv4/common/mainmenu-li-spr182.gif) center top no-repeat; font-size: 93%; }
#mainmenu li ul { padding: 0px; background: #e5e5e5 url(/images/common/fj/imgv4/common/mainmenu-li-spr.gif) left bottom repeat-x; font-size: 100%; border-style: solid; border-width: 1px 1px 0px 1px; border-color: #cdcdcd #cdcdcd #cdcdcd #cdcdcd; zoom: 1; }
#mainmenu li li ul { background-image: none; border-style: none; }
#mainmenu li li { margin-left: 8px; } /* indent the lebel 2 */
#mainmenu li li li { margin-left: 15px; } /* indent below the lebel 3 */

#mainmenu li { display: block; margin: 0px; padding: 0px 0px 2px 0px; background: url(/images/common/fj/imgv4/common/mainmenu-li-bg.gif) 0px 100% no-repeat; line-height: 1.2; }
#mainmenu li a { display: block; margin: 0px; padding: 8px 6px 8px 17px; background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; zoom: 1; }

#mainmenu li strong.current { display: block; margin-left: 1px; margin-right: 1px; padding: 8px 6px 8px 16px; background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; font-weight: normal; zoom: 1; } /* menu selected sign */
#mainmenu li.open li strong.current { margin-right: 0px; }
#mainmenu li.open { background: url(/images/common/fj/imgv4/common/mainmenu-li-open-bg.gif) 0px 0px no-repeat; }
#mainmenu li.open a {}
#mainmenu li.open > a { display: block; margin: 0px 1px; padding: 8px 4px 8px 15px; background: #f3f3f3 url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 2px 0.8em no-repeat; border-style: solid; border-color: #ffffff; border-width: 0px 1px; } /* menu selected sign */
#mainmenu li.open li.open > a { margin: 0px 2px; background-color: #e5e5e5; border: none; } /* menu selected sign */
#mainmenu li.open strong.current { display: block; padding: 8px 6px 8px 16px; background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; font-weight: normal; } /* menu selected sign */
#mainmenu li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }
#mainmenu li.open li.open > strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }

#mainmenu li.open li.open strong.current,
#mainmenu li.bottom-gray li.open strong.current { margin: 0px 0px 0px 1px; padding-left: 16px; }
#mainmenu li.open li { background-image: none; }
#mainmenu li.open li > strong.current {} /* menu selected sign */


 /* menu selected sign for IE lte 6 below... */
 
* html #mainmenu li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }
 
* html #mainmenu li.open li a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }

* html #mainmenu li.open li.open li a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }

* html #mainmenu li.open li.open li.open li a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }

* html #mainmenu li.open li.open li.open li.open li a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }

* html #mainmenu li.open li.open li.open li.open li.open li a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }

* html #mainmenu li.open li.open li.open li.open li.open li.open li a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }

* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }

* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open li a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }

* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open li.open li a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open li.open li.open a { background: url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 4px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open li.open li.open strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-bottom.gif) 3px 0.8em no-repeat; }
* html #mainmenu li.open li.open li.open li.open li.open li.open li.open li.open li.open li.open li strong.current { background: #ffffff url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }

#mainmenu li.bottom { background: #f3f3f3 url(/images/common/fj/imgv4/common/mainmenu-li-last-bg.gif) left bottom no-repeat; }
#mainmenu li.bottom strong.current { background: transparent url(/images/common/fj/imgv4/common/arrows/mainmenu-arrow-right.gif) 3px 0.8em no-repeat; }
#mainmenu li.bottom a { padding-bottom: 12px; }
#mainmenu li.bottom-gray { padding-bottom: 8px; background: transparent url(/images/common/fj/imgv4/common/mainmenu-li-last-open-bg.gif) left bottom no-repeat; border-style: none; }
#mainmenu li.bottom-gray ul { background: #e5e5e5 none; }
#mainmenu li.bottom-gray a { margin: 0px 1px; padding: 8px 4px 8px 15px; background-color: #f3f3f3; border-style: solid; border-width: 0px 1px; border-color: #ffffff; }
#mainmenu li.bottom-gray li a { margin: 0px; padding-left: 17px; background-color: #e5e5e5; border-style: none; }

/* SubMenu common */
	
	.submenu { display: block; float: right; width: 184px; line-height: 1.5; text-align: left; }
		.submenu img { margin: 0 auto 20px; border: none; }
		
		.submenu div.frm { margin-bottom: 10px; border: solid 1px #b8b8b8; }
		.submenu div.frm-bg { margin-bottom: 10px; background: #f2f2f2; border: solid 1px #b8b8b8; }
		.submenu div.bg { margin-bottom: 10px; background: #f2f2f2; border: solid 1px #ffffff; }
		.submenu div.frm-grd { margin-bottom: 10px; background: #ffffff url(/images/common/fj/imgv4/common/box-bg-demo.gif) 0px 0px repeat-x; border: solid 1px #b8b8b8; }
		.submenu div.inside { border: solid 1px #ffffff; padding: 8px 8px 0px 8px; }
		.submenu div.frm div.innerblock,
		.submenu div.frm-bg div.innerblock,
		.submenu div.bg div.innerblock,
		.submenu div.frm-grd div.innerblock { padding: 8px 8px 0px 8px; }
		.submenu div.frm.title,
		.submenu div.frm-bg.title,
		.submenu div.bg.title,
		.submenu div.frm-grd.title { margin-bottom: 5px; }
		
		.submenu div.rounded {
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
			border-radius: 8px;
		}
		.submenu div.rounded-inside {
			border: solid 1px #ffffff;
			padding: 0;
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			border-radius: 7px;
		}

	.submenu .textindent { text-indent: 1em; }

	.submenu .textleft { text-align: left; }
	.submenu .textright { text-align: right; }
	.submenu .textcenter { text-align: center; }

	.submenu .alignleft { float: left; }
	.submenu .alignright { float: right; }

	.submenu .clearleft { clear: left; }
	.submenu .clearright { clear: right; }
	.submenu .clearall { clear: both; }

	.submenu .vtop { vertical-align: text-top; }
	.submenu .vmiddle { vertical-align: middle; }
	.submenu .vbottom { vertical-align: text-bottom; }

	.submenu .bordernone { border-style: none; }
	.submenu .border010 { border: solid 1px #666666; }
	
	.submenu .notice { color: #bb0000; }
	.submenu em.notice { font-style: italic; }

	.submenu a.deconone { text-decoration: none; }
	.submenu a.deconone:hover { text-decoration: underline; }
	
	.submenu p { font-size: 93%; line-height: 1.5; }
	.submenu ul { font-size: 93%; padding-bottom: 16px; padding-left: 0; width: 100%; margin: 0; }
	.submenu h2 { font-size: 93%; color: #555; margin-bottom: 8px; padding: 0 8px; padding-top: 10px; }
	.submenu h3 { font-size: 93%; color: #555; margin-bottom: 3px; padding: 0 8px; font-weight: normal; }
	.submenu li { padding-left: 24px; padding-right: 8px; margin: 0; list-style: none; background: url(/images/common/fj/imgv4/common/li_dot_lv1.gif) no-repeat 6px 4px; }
	.submenu #changelanguage li { background: none; }
	
	.submenu .tasks { width: 182px; background: url(/images/common/fj/imgv4/common/box-bg-demo.gif) repeat-x left top; margin-bottom: 15px; text-align: left; border: 1px solid #b8b8b8; }
	.submenu .tasks { -moz-border-radius:8px; -webkit-border-radius:8px; border-radius: 8px; }
	.submenu .tasks img { margin-bottom: 0; border: none; }
		.submenu .tasks a:link,
		.submenu .tasks a:visited,
		.submenu .tasks a:active { text-decoration: none; }
		.submenu .tasks a:hover { text-decoration: underline; }

	.submenu .tasks ul.newlist { background: url(/images/common/fj/imgv4/common/hr.gif) repeat-x left top; padding-top: 16px; margin: 0; }
		.submenu .tasks li.image { background: none; padding: 0; text-align: center; }

/* Pickup Banner Area */

.submenu .pickup { margin-bottom: 15px; }
.submenu .pickup div.frm-bg.title div.rounded-inside { padding: 10px; }
.submenu .pickup div.frm-bg.title div.highlight_v { padding: 4px 10px 10px 10px !important; } /* <-- This is className on boxrounded.js. for IE & Opera */ 

.submenu .pickup h2 { padding: 0; }
.submenu .pickup p { font-size: 93%; }
.submenu .pickup div.frm-bg.title { margin-bottom: 15px; }
.submenu .pickup div.frm-bg.title h2{ font-size: 93%; text-align: left; line-height: 1.1; margin: 0; color: #555555; }
.submenu .pickup div.frm-bg.title p { font-size: 93%; text-align: left; margin-bottom: 10px; color: #555555; }
.submenu .pickup p.pickupthumb { margin-bottom: 15px; padding: 0; line-height: 1.5; width: 184px; }
.submenu .pickup p.pickupthumb br { display: none; }
.submenu .pickup p.pickupthumb img { display: block; text-align: center; vertical-align: bottom; border: none; margin-bottom: 5px; padding: 0; }

.submenu div.optionnav { clear: left; border-style: none; margin: 10px 0px 0px 0px; padding: 0px; }
.submenu div.optionnav ul { display: block; list-style: none; border-style: none; margin: 0px; padding-bottom: 15px; }
.submenu div.optionnav li { display: block; border-style: none; margin: 4px 0px 0px 0px; padding-left: 16px; word-wrap: break-word; background: none; }
.submenu div.optionnav img { border-style: none; margin: 0px 4px 0px 0px; padding: 0px; }

.submenu div.pickup-shortlead { margin-bottom: 15px; }
.submenu .pickup-shortlead div.highlight_v { padding: 3px 8px 0 8px !important; }
.submenu .pickup-shortlead h2 { padding: 0; }
.submenu .pickup-shortlead h3 { padding: 0; }
.submenu .pickup-shortlead p { margin: 0 0 15px 0; }
.submenu .pickup-shortlead img { margin: 0; }
.submenu .pickup-shortlead img.alignleft { margin: 0 5px 5px 0; }
.submenu .pickup-shortlead img.alignright { margin: 0 0 5px 5px; }
.submenu .pickup-shortlead img { margin-bottom: 5px; }
.submenu .pickup-shortlead div.moreinfo { clear: both; border-style: none; margin: 0; padding: 6px 0px 6px; }
.submenu .pickup-shortlead div.moreinfo p { background: none; display: block; overflow: visible; border-style: none; margin: -15px 0 0; padding: 0; text-align: right; font-size: 93%; }
.submenu .pickup-shortlead div.moreinfo p.textleft { text-align: left; }
.submenu .pickup-shortlead div.moreinfo p.textcenter { text-align: center; }
.submenu .pickup-shortlead div.moreinfo p.textright { text-align: right; }
.submenu .pickup-shortlead div.moreinfo p img { margin-left: 5px; margin-bottom: 0; border: none; }
.submenu .pickup-shortlead div.moreinfo a:link,
.submenu .pickup-shortlead div.moreinfo a:visited,
.submenu .pickup-shortlead div.moreinfo a:active { text-decoration: none; }
.submenu .pickup-shortlead div.moreinfo a:hover { text-decoration: underline; }

.submenu div.pickup div.title { margin-top: 0px !important; }

.submenu div.highlight_v { padding-top: 0; padding-left: 8px; padding-rIght: 8px; }

/* Contents Area */
.contentsarea { float: right; width: 781px; }
	
	.contentsarea .submenu { float: right; }
	
	/* MainContents Area */
	.maincontents { float: left; width: 582px; }

/* Deep Footer Area */
#deepfooter {
	width: 100%;
	min-width: 980px;
	background: #f5f5f5 url(/images/common/fj/imgv4/common/deepfooter_bg.jpg) repeat-x left bottom;
	line-height: 1.3;
	color: #444;
}
	#deepfooter a { text-decoration: none; }
	#deepfooter a:hover { text-decoration: underline; }
	#deepfooterinner { display: inline-block; width: 980px; margin: 0 auto; padding: 20px 0 15px; text-align: left; }

	#deepfooter p.dfooter-title {
		padding-bottom: 4px;
		margin-bottom: 8px;
		font-size: 93%;
		padding-left: 9px;
		font-weight: bold;
		border-bottom: 1px solid #bbbbbb;
	}
	
	#deepfooter ul { padding-left: 9px; margin: 0; font-size: 93%; font-weight: normal; list-style: none; }
	#deepfooter li { line-height: 1.3; margin-bottom: 5px; }
	
	#deepfooter div.grid3span { width: 582px; }/* <-- with clearfix class */
	#deepfooter div.grid4span { width: 781px; }/* <-- with clearfix class */
	#deepfooter div.grid5span { width: 980px; }/* <-- with clearfix class */
	#deepfooter div.col1span { width: 184px; float: left; margin-right: 15px; }
	#deepfooter div.col2span { width: 383px; float: left; margin-right: 15px; }
	#deepfooter div.col3span { width: 582px; float: left; margin-right: 15px; }
	#deepfooter div.col4span { width: 781px; float: left; margin-right: 15px; }
	#deepfooter div.lastcol { margin-right: 0px; }
	
	@media print { #deepfooter div.lastcol{ margin-right: -1px; } }
	
		#deepfooter p#country-select { display: block; margin: 12px 0 0 4px; }
		#deepfooter p#country-select img{ border: none; }
		#deepfooter p.lang { display: inline; font-size: 85%; border-left: 1px solid #c2c2c2; padding-left: 3px; margin-left: 0px; }
		#deepfooter p.country { display: inline; font-size: 85%; color: #444444; margin-left: 0px; margin-right: 0px; }



/* Footer Area */
.footer {
	width: 100%;
	min-width: 980px;
	color: #fff;
	background: #666 url(/images/common/fj/imgv4/common/footer_bg.gif) repeat-x left bottom;
}
	.footer a { text-decoration: none; }
	.footer a:hover { text-decoration: underline; }
	.footer a:link, .footer a:visited, .footer a:hover { color: #fff; }
	
	#footerinner { display: inline-block; width: 980px; margin: 0 auto; padding: 4px 0 25px 0; text-align: left; }
	
	#permanentmenu { float: left; width: auto; }

	.footer ul { font-size: 93%; list-style: none; padding: 0; margin: 0; }
	.footer li { display: inline; margin: 0; margin-left: 16px; line-height: 1.3; }
		.footer li.firstchild { margin-left: 0; }

	#creditline { float: right; line-height: 0; width: auto; }
		#creditline p { margin: 0; padding: 0; font-size: 93%; line-height: 1.3; text-align: right; white-space: nowrap; }

@media print {

.stage { background: none; }
.stage .bodyarea { clear: both; float: none; }

div.contentsarea { padding-bottom: 40px; }
div.contentsarea .maincontents { float: none; clear: both; display: table-cell; }
div.contentsarea .submenu { float: none; clear: both; display: table-cell; padding-left: 15px; }

body.body4span-noleftnav div.contentsarea .maincontents { float: none; clear: both; }
body.body4span-noleftnav div.contentsarea .submenu { float: none; clear: both; }

/*IE7*/
*:first-child+html div.contentsarea { display: block; padding-bottom: 0; }
*:first-child+html div.contentsarea .maincontents { float: left; clear: none; display: block; }
*:first-child+html div.contentsarea .submenu { float: right; clear: none; display: block; padding-left: none; }

*:first-child+html body.body4span-noleftnav div.contentsarea { display: table; padding-bottom: 40px; }
*:first-child+html body.body4span-noleftnav div.contentsarea .maincontents { float: left; clear: both; display: table-cell; }
*:first-child+html body.body4span-noleftnav div.contentsarea .submenu { float: right; clear: both; display: table-cell; }

/*IE6*/
* html div.contentsarea { display: block; padding-bottom: 0; }
* html div.contentsarea .maincontents { float: left; clear: none; display: block; }
* html div.contentsarea .submenu { float: right; clear: none; display: block; padding-left: 0; }

* html body.body4span-noleftnav div.contentsarea { display: table; padding-bottom: 40px; }
* html body.body4span-noleftnav div.contentsarea .maincontents { float: left; clear: both; display: table-cell; }
* html body.body4span-noleftnav div.contentsarea .submenu { float: right; clear: both; display: table-cell; }


#deepfooter { clear: both; float: left; display: inline-block; border-top: 1px solid #e8e8e8; }
.footer { clear: both; float: none; display: inline-block; border-top: 1px solid #e8e8e8; }

}


/* Contents Width Optional */

body.new-window .contentsarea { width: 980px; float: none; }
body.new-window .maincontents { width: 980px; float: none; }
body.new-window .stage { border-top: none; }
body.new-window .bodyarea { padding-top: 50px; padding-bottom: 30px; }

body.body5span .contentsarea { width: 980px; float: none; }
body.body5span .maincontents { width: 980px; float: none; }

body.body4span .contentsarea { width: 781px; }
body.body4span .maincontents { width: 781px; }

body.body4span-noleftnav .contentsarea { width: 980px; float: left; }
body.body4span-noleftnav .maincontents { width: 781px; float: left; }

body.allover .stage { text-align: left; zoom: 1; }
body.allover #blockskip a { padding-left: 0; }
body.allover .bodyarea { width: 100%; margin: 0; }
body.allover .header { width: 980px; margin: 0 0 10px 10px; }
body.allover #location { margin-left: 10px; }
body.allover .aside { margin-left: 10px; }
body.allover .mainmenu { width: 184px; float: left; }
body.allover .contentsarea { width: auto; float: none; margin-left: 209px; }
body.allover .maincontents { width: 100%; }
body.allover #deepfooter { text-align: left; margin-left: 0; padding-right: 0; } body.allover #deepfooterinner { margin: 0 0 0 10px; }
body.allover .footer { text-align: left; margin-left: 0; padding-right: 0; } body.allover #footerinner { margin: 0 0 0 10px; }

body.allover-noleftnav .stage { text-align: left; zoom: 1; }
body.allover-noleftnav #blockskip a { padding-left: 0px; }
body.allover-noleftnav .bodyarea { width: 100%; margin: 0; }
body.allover-noleftnav .header { width: 980px; margin: 0 0 10px 10px; }
body.allover-noleftnav #location { margin-left: 10px; }
body.allover-noleftnav .contentsarea { width: auto; float: none; margin-left: 10px; }
body.allover-noleftnav .maincontents { width: 100%; }
body.allover-noleftnav #deepfooter { text-align: left; margin-left: 0; padding-right: 0; } body.allover-noleftnav #deepfooterinner { margin: 0 0 0 10px; }
body.allover-noleftnav .footer { text-align: left; margin-left: 0; padding-right: 0; } body.allover-noleftnav #footerinner { margin: 0 0 0 10px; }

body.gig3-750 .contentsarea { width: 980px; float: none; text-align: center; }
body.gig3-750 .maincontents { width: 750px; float: none; margin: 0 auto; text-align: left; }

body.gig3-new-window { width: auto; }
body.gig3-new-window .contentsarea { width: 100%; float: none; }
body.gig3-new-window .maincontents { width: 100%; float: none; }
body.gig3-new-window div.stage { width: 100%; min-width: 0; border-top: none; }
body.gig3-new-window .bodyarea { width: auto; padding-top: 50px; padding-left: 15px; padding-right: 15px; padding-bottom: 30px; }
body.gig3-new-window .footer { min-width: 0; width: auto; text-align: right; }
body.gig3-new-window #footerinner { width: auto; padding-right: 15px; }
body.gig3-new-window #creditline p { white-space: normal; }

body.gig3-allover div.stage { width: auto; padding-left: 10px; min-width: 0; border-top: none; }
* html body.gig3-allover div.stage { width: 100%; text-align: left; padding-left: 20px; margin-left: -10px; }
body.gig3-allover #blockskip a { min-width: 980px; margin-left: -10px; padding-left: 10px; border-top: 3px solid #666666; }
* html body.gig3-allover #blockskip { margin-left: -10px; }
* html body.gig3-allover #blockskip a { margin-left: 0; padding-left: 0; }
body.gig3-allover .bodyarea { width: auto; zoom: 1; }
body.gig3-allover .header { margin-left: 0; text-align: left; }
body.gig3-allover .contentsarea { width: auto; margin-right: 10px; float: none; }
body.gig3-allover .maincontents { width: 100%; }
body.gig3-allover #deepfooter { text-align: left; padding-left: 10px; width: auto; }
body.gig3-allover #deepfooterinner { margin: 0; }
body.gig3-allover .footer { text-align: left; padding-left: 10px; width: auto; }
body.gig3-allover #footerinner { margin: 0; }

/* Ajax Object Base */

/* (1) MegaDropdown Base --------------------------------------------*/
#headerbottom p.megaclosebtn{ display: none; margin-bottom: 10px; }
#headerbottom .hidemenu{ display: none; }

#headerbottom p.mdthumb { margin: 0; padding: 0; line-height: 0; }
#headerbottom p.mdthumb img { vertical-align: bottom; }
#headerbottom p.mdtitle { color: #a30b1a; font-weight: bold; border-bottom: 1px solid #a30b1a; margin-bottom: 0; padding: 3px 0 3px 0; margin: 3px 0 0 0; }
#headerbottom p.mdtitle a { display: block; }
	#headerbottom p.mdtitle a:link,
	#headerbottom p.mdtitle a:visited { color: #a30b1a; text-decoration: none; }
	#headerbottom p.mdtitle a:hover { color: #861718; text-decoration: underline; background-color: #eaeaea; }
	#headerbottom p.mdtitle a:active { color: #003399; text-decoration: underline; }

/* subsidiary -------------------------------------------------------*/
body.subsidiary #corporatesymbol { margin-top: 5px; margin-bottom: 3px; }
body.subsidiary div.header { min-height: 68px; _height: 68px; }
body.subsidiary div.headertop { border: none; padding:0 1px 7px 1px; background: #ffffff url(/images/common/fj/imgv4/common/mainnav-back-bottom-subsidiary.png) no-repeat left bottom; }

body.subsidiary div#permanentmenu ul.parentcom { margin-top: 10px; }
body.subsidiary div#permanentmenu ul.parentcom li { list-style: none; display: block; float: left; display: inline; /* <-- for IE6 float-margin bug */ margin: 0 5px 0 0; padding: 0px; }


/* for modern browser exclude ie 7, 8 */
html:not(:target) body.subsidiary div#permanentmenu ul.parentcom li div.cssbtn { -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; position: relative; top: 2px; border: 1px solid #999999; }
html:not(:target) body.subsidiary div#permanentmenu ul.parentcom li div.cssbtn div.innerblock { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; position: relative; top: -2px; border: 1px solid #111111; margin: 0 -1px -2px -1px; padding: 0; }
html:not(:target) body.subsidiary div#permanentmenu ul.parentcom li div.cssbtn div.innerblock a { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; position: relative; top: 1px;display: block; padding: 2px 6px 3px 6px; margin-bottom: 1px; background: #222222 url(/images/common/fj/imgv4/common/parentcomlink-bg.gif) left top repeat-x; }
html:not(:target) body.subsidiary div#permanentmenu ul.parentcom li div.cssbtn div.innerblock a img { border: none; vertical-align: middle; margin-left: 3px; }

/* for ie 6 */
* html body.subsidiary div#permanentmenu ul.parentcom li div.cssbtn { position: relative; border: 1px solid #999999; }
* html body.subsidiary div#permanentmenu ul.parentcom li div.cssbtn div.innerblock { border: 1px solid #111111; margin: -2px -1px 0px -1px; padding: 0; }
* html body.subsidiary div#permanentmenu ul.parentcom li div.cssbtn div.innerblock a { position: relative; top: 1px; display: block; padding: 3px 6px 2px 6px; margin-bottom: 1px; background: #222222 url(/images/common/fj/imgv4/common/parentcomlink-bg.gif) left top repeat-x; word-break: keep-all; }
* html body.subsidiary div#permanentmenu ul.parentcom li div.cssbtn div.innerblock a img { border: none; vertical-align: middle; margin-left: 3px; }

body.subsidiary div#permanentmenu ul.parentcom li div.cssbtn div.innerblock { padding: 0; }