@charset "utf-8";

.sp {
	display: none;
}

.pc {
	display: block;
}

/* タイトル -------------------------------------------------------------------- */

div.TopTitle h1{
	margin: 0px 0px 3px 0px;
}

/* サイト内検索 -------------------------------------------------------------------- */

div.TopSearch {
	border-style: none;
	width: 781px;
	height: 42px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	background: url("/img/top/search-bg.gif") no-repeat top left;
	text-align: left;
}

	div.TopSearch p{
		float: left;
		padding: 11px 0px 8px 10px;
		margin: 0px;
		font-size: 100%;
	}

	div.TopSearch form{
		float: left;
		display: block;
		margin: 0px;
		overflow: hidden;
		line-height: 0;
	}

		input.q{
			font-size: 100%;
			border: solid 1px #7f9db9;
			height: 1.2em;
			margin: 10px 0px 0px 10px;
			padding: 2px 3px 2px 3px;
			color: #777;
			background: #ffffff;
			vertical-align: middle;
			overflow: hidden;
		}

		* html input.q { height: 1.5em; }

		input.TopSubmit{
			width: 42px;
			height: 22px;
			border-style: none;
			padding: 0px;
			margin: 9px 0px 0px 0px;
			vertical-align: middle;
		}


/* FMVコンテンツエリア -------------------------------------------------------------------- */
div.TopFmvContents{
	float: left;
	border: 1px solid #4A4A4A;
	width: 478px;
	_width: 476px;
	margin: 0px 16px 0px 0px;
	padding: 1px;
}

/* 携帯電話コンテンツエリア -------------------------------------------------------------------- */

div.TopPhoneContents{
	float: left;
	border: 1px solid #4A4A4A;
	width: 478px;
	_width: 476px;
	margin: 0px 0px 0px 0px;
	padding: 1px;
}

/* ARROWS Tab Wi-Fiコンテンツエリア -------------------------------------------------------------------- */

div.TopArrowsContents{
	width: 781px;
	margin: 10px 0px 10px 0px;
}

/* マイクラウド コンテンツエリア -------------------------------------------------------------------- */

div.TopMycloudContents{
	width: 981px;
	margin: 10px 0px 10px 0px;
}

/* マイクラウドPICK UPエリア -------------------------------------------------------------------- */

div.TopMycloudPickup{
	margin: 0px 0px 10px 0px;
	min-height: 16px;
	_height: 16px;
}

	div.TopMycloudPickup div.icon_pickup{
		float: left;
		margin-right: 5px;
	}

	div.TopMycloudPickup div.icon_pickup img{
		margin: 0px;
		padding: 0px;
	}

	div.TopMycloudPickup p{
		float: left;
		margin-top: 1px;
		line-height: 100%;
	}

/* メインイメージ -------------------------------------------------------------------- */
	div.TopMainimgTitle{
		margin: 0px 0px 1px 0px;
		width: 478px;
		_width: 478px;
	}

	div.TopMainimgTitle h2 {
		margin-bottom: 0 !important;
		width:478px;
		_width:478px;
		min-height: 23px;
		_height: 26px;
		background:url(/img/top/mainimg_title-bg.gif) no-repeat center;
		font-size:120%;
		padding:3px 0px 0px 0px;
	}

	div.TopMainimgTitle h2 a {
		color: #FFFFFF;
		padding:0px 0px 0px 20px;
	}

	div.TopMainimgTitle h2 a:link {
		color: #FFFFFF;
	}

	div.TopMainimgTitle h2 a:visited {
		color: #FFFFFF;
	}

	div.TopMainimgTitle h2 a:hover {
		color: #FFFFFF;
	}

	div.TopMainimgPCImage{
		margin: 0px 0px 5px 0px;
		height:188px;
		_height:188px;
		z-index:0px;
		position:relative;
		overflow:hidden;
	}

	div.TopMainimgPCImage p {
		z-index:0;
		margin:0;
		position:absolute;
	}

	div.TopMainimgPCImage p img {
		display:none;
	}

	div.TopMainimgPhoneImage{
		margin: 0px 0px 5px 0px;
		height:188px;
		_height:188px;
		z-index:0px;
		position:relative;
		overflow:hidden;
	}

	div.TopMainimgPhoneImage p {
		z-index:0;
		margin:0;
		position:absolute;
	}

	div.TopMainimgPhoneImage p img {
		display:none;
	}

	div.PCchip{
		margin:0 0 2px 5px;
		padding:0;
	}

	div.PCchip ul {
		bottom:0;
		margin:0;
		padding:0;
	}
	
	div.PCchip li {
		display:none;
		padding-right:5px;
	}

	div.phonechip{
		margin:0 0 2px 5px;
		padding:0;
	}

	div.phonechip ul {
		bottom:0;
		margin:0;
		padding:0;
	}
	
	div.phonechip li {
		display:none;
		padding-right:7px;
	}

/* お知らせ -------------------------------------------------------------------- */
div.TopInformation div.infolist ul{
	display: block;
	list-style: none;
	border-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

div.TopInformation div.infolist li{
	display: block;
	list-style: none;
	border-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
	word-wrap: break-word;
}

div.TopInformation div.infolist p.index-col1{
	float: left;
	width: 110px;
	_width: 110px;
	margin: 0;
	padding: 0;
	line-height: 150% !important;
	word-wrap: break-word;
}

div.TopInformation p.index-col2{
	float: left;
	width: 348px;
	_width: 338px;
	margin: 0;
	padding: 0;
	line-height: 150% !important;
	word-wrap: break-word;
}

div.TopInformationMore{
	clear: both;
	text-align: right;
	margin: 3px 5px 2px 0px;
}


/* 過去のお知らせ -------------------------------------------------------------------- */

.TopOldInformation{
	clear :both;
	float: right;
	text-align: right;
	padding: 0px 0px 0px 12px;
	background: url("/img/common/go_detail.gif") no-repeat 0px 1em;
}


/* 左メニュー -------------------------------------------------------------------- */

.TopLeftMenu div.frm-grd {
    font-size: 100%;
}

.TopLeftMenu div.frm-grd {
    margin-bottom: 15px;
}

.TopLeftMenu h2 {
    margin: 0 0 0.84em;
    font-size: 93%;
}

.TopLeftMenu ul {
    padding-left: 0;
    font-size: 93%;
}

.TopLeftMenu li {
    background: url("/images/common/fj/imgv4/common/li_dot_lv1.gif") no-repeat scroll 0 0.3em transparent;
    list-style-type: none;
    padding: 0 0 0 16px;
}


.TopLeftMenu a.deconone {
    text-decoration: none;
}

.TopLeftMenu .pickup p.pickupthumb {
    line-height: 1.5;
    margin-bottom: 15px;
    padding: 0;
    width: 184px;
}

/* 注目のイベント・キャンペーン -------------------------------------------------------------------- */
div.TopCampaign{
	margin: 0px 0px 0px 0px;
	clear: both;
}

div.TopCampaign h2{
	background-image: url("/img/top/information_title-bg.gif");
	background-position: 0 0;
	background-repeat: repeat-x;
	font-size: 93%;
	margin: 0px 0px 10px 0px;
	padding: 6px 8px 6px;
}


div.TopCampaign div.TopCampaignBanner{
	float: left;
	width: 184px;
	margin: 0px 15px 0px 0px;
}

div.TopCampaign div.TopCampaignBanner img{
	margin: 0px 0px 5px 0px;
}

div.TopCampaign div.TopCampaignBannerLast{
	float: left;
	width: 184px;
	margin: 0px 0px 0px 0px;
}

div.TopCampaign div.TopCampaignBannerLast img{
	border: none;
	margin: 0px 0px 5px 0px;
}

/* ピックアップ -------------------------------------------------------------------- */
div.TopPickup{
	margin: 15px 0px 20px 0px;
	clear: both;
}

div.TopPickup h2{
	background-image: url("/img/top/information_title-bg.gif");
	background-position: 0 0;
	background-repeat: repeat-x;
	font-size: 90%;
	margin: 0px 0px 10px 0px;
	padding: 6px 8px 6px;
}

div.TopPickup div.TopPickupBanner{
	float: left;
	width: 184px;
	margin: 0px 15px 0px 0px;
}

div.TopPickup div.TopPickupBannerLast{
	float: left;
	width: 184px;
	margin: 0px 0px 0px 0px;
}


/*　TEXT_PR 2009.11.17設置 -------------------------------------------------------- */
div.CmapText	{margin:10px 0 10px 0; padding:0;}

	.CmapText p	{ font-size:90%;margin:0; padding:0 0 2px 0;}
	.CmapText p span.webmart	{ color:#FFFFFF; background-color:#18779D; padding:2px 4px;}
	.CmapText p span.azbyclub	{ color:#FFFFFF; background-color:#2D7953; padding:2px 4px;}
	.CmapText p span.pickup		{ color:#FFFFFF; background-color:#DE3400; padding:2px 4px;}
	
