@media screen and (max-width: 990px), screen and (max-width: 990px) and (-webkit-min-pixel-ratio: 2), all and (max-width: 990px) and (min-pixel-ratio: 2) {
  #blog-admin {
    display: none !important; }

  main#bloghu .bloghu-bar {
    display: none;
    background: #000;
    position: relative;
    top: 36px;
    height: 54px;
    min-height: 53px;
    margin: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    z-index: 5; }
    main#bloghu .bloghu-bar .sign-out,
    main#bloghu .bloghu-bar .register-bloghu {
      display: block; }
    main#bloghu .bloghu-bar .bloghu-navi {
      margin: 28px 0 0 18px; }
      main#bloghu .bloghu-bar .bloghu-navi a.dash {
        margin: 0 20px 0 0; }
      main#bloghu .bloghu-bar .bloghu-navi a:before {
        font-size: 32px; }
    main#bloghu .bloghu-bar .register-bloghu {
      color: #fff;
      float: right;
      font-size: 13px;
      margin: 16px 0 0;
      text-transform: uppercase;
      -webkit-transition: all 0.1s linear 0s;
      transition: all 0.1s linear 0s; }
      main#bloghu .bloghu-bar .register-bloghu:before {
        font-family: fontello;
        content: "k";
        float: left;
        text-transform: none;
        margin: 0 6px 0 0;
        font-size: 16px; }
    main#bloghu .bloghu-bar .mobile-logo {
      position: relative;
      display: block;
      float: left;
      width: 56px;
      height: 56px;
      z-index: 1; }
      main#bloghu .bloghu-bar .mobile-logo img {
        width: 56px;
        height: 56px; }
    main#bloghu .bloghu-bar .login {
      margin: 15px 0 0; }
    main#bloghu .bloghu-bar section {
      width: auto;
      margin: 0;
      padding: 0 15px 0 0; }
      main#bloghu .bloghu-bar section .user-admin {
        background: none transparent;
        position: static;
        float: none;
        width: auto;
        margin: 0 0 0 68px;
        padding: 17px 0;
        border: 0 none;
        font-size: 18px;
        text-transform: none;
        font-weight: 400; }
        main#bloghu .bloghu-bar section .user-admin .settings:before {
          content: none; }
        main#bloghu .bloghu-bar section .user-admin .user-settings {
          display: none; }
        main#bloghu .bloghu-bar section .user-admin .arrow {
          padding: 0;
          top: 9px;
          left: 68px;
          width: 200px; }
          main#bloghu .bloghu-bar section .user-admin .arrow:hover {
            color: #fff; }
          main#bloghu .bloghu-bar section .user-admin .arrow:before {
            float: left;
            font-family: fontello;
            content: "e";
            font-size: 25px;
            margin: 10px 6px 0 0; }
          main#bloghu .bloghu-bar section .user-admin .arrow:after {
            float: right;
            font-family: fontello;
            content: "w";
            font-size: 20px;
            margin: 10px 10px 0 0;
            border: 0 none; }
        main#bloghu .bloghu-bar section .user-admin .drop-down {
          background: rgba(0, 0, 0, 0.9);
          top: 56px;
          font-weight: 400;
          border: 0 none;
          border-bottom: 1px solid #f47629;
          padding: 0; }
          main#bloghu .bloghu-bar section .user-admin .drop-down .small-text {
            display: none; }
          main#bloghu .bloghu-bar section .user-admin .drop-down ul {
            margin: 0;
            height: 141px; }
          main#bloghu .bloghu-bar section .user-admin .drop-down li {
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #575858;
            border-bottom: 1px solid rgba(255, 255, 255, 0.24); }
            main#bloghu .bloghu-bar section .user-admin .drop-down li a:first-of-type {
              float: none;
              display: block;
              padding: 8px 5px; }
            main#bloghu .bloghu-bar section .user-admin .drop-down li em {
              font-size: 18px; }
        main#bloghu .bloghu-bar section .user-admin .new-user,
        main#bloghu .bloghu-bar section .user-admin .sign-out {
          background: rgba(0, 0, 0, 0.6);
          margin: 0;
          text-transform: uppercase;
          font-size: 18px;
          padding: 12px 0; }
          main#bloghu .bloghu-bar section .user-admin .new-user span,
          main#bloghu .bloghu-bar section .user-admin .sign-out span {
            background: transparent;
            border-radius: 0;
            margin: 1px 20px 0 5px;
            color: #fff; }
            main#bloghu .bloghu-bar section .user-admin .new-user span:after,
            main#bloghu .bloghu-bar section .user-admin .sign-out span:after {
              display: block;
              font-family: fontello;
              content: "a";
              font-size: 20px;
              margin: 0 -3px 0 6px;
              text-transform: none; }
        main#bloghu .bloghu-bar section .user-admin .new-user {
          border-top: 1px solid #f47629; }
        main#bloghu .bloghu-bar section .user-admin .sign-out {
          border-top: 1px solid #575858;
          border-top: 1px solid rgba(255, 255, 255, 0.24); }
          main#bloghu .bloghu-bar section .user-admin .sign-out span {
            float: left;
            width: 20px;
            height: 20px;
            margin: 1px 12px 0 13px; }
            main#bloghu .bloghu-bar section .user-admin .sign-out span:after {
              content: "c";
              margin: 0; }
    main#bloghu .bloghu-bar .user-admin .settings {
      position: absolute;
      left: 102px;
      max-width: 185px; }

  body.loggedin main#bloghu .bloghu-bar {
    display: block; }
  body.loggedin .ribbon {
    display: none; } }
@media screen and (max-width: 700px), screen and (max-width: 700px) and (-webkit-min-pixel-ratio: 2), all and (max-width: 700px) and (min-pixel-ratio: 2) {
  .box-index2,
  .box-tutorial,
  .info-line,
  .dynamic-elem,
  .box-tutorial .logo,
  .ribbon,
  .box-index2980px .more,
  .feeds > form,
  .feeds .tags,
  .your-ad-here,
  #guide,
  #jpreOverlay,
  .blog-admin,
  .login,
  .new-blog,
  .ujcimlappant {
    display: none !important; }

  .index2-bar {
    position: absolute; }
    .index2-bar strong, .index2-bar b {
      font-weight: bold; }

  #bloghu-main,
  #bloghu-sub,
  #sub-page {
    background: url(/assets/frontend/img/frontpage/bloghu_mobil_bg.jpg) repeat 0 0 #020202 !important;
    background-size: contain !important; }

  .loggedin .landing-page .feeds {
    padding: 0 10px 2px; }

  body.loggedin #bloghu-sub {
    padding: 45px 0 0; }

  body.aloldal #bloghu-sub {
    padding: 45px 0 1px; }

  main#bloghu {
    display: block !important; }

  .back-to-home {
    font-size: 12px; }
    .back-to-home:before {
      margin: -0.5px 3px 0 0; }

  #bloghu-main {
    padding: 45px 0 0;
    height: auto;
    min-height: 0; }
    #bloghu-main.bg-2 {
      background-repeat: repeat;
      background-attachment: scroll;
      background-size: 100%; }

  #boxes {
    width: auto;
    margin: 0 10px;
    padding: 0 0 10px; }

  .box-login {
    float: none;
    width: auto;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 25px 30px 18px;
    border-radius: 3px; }
    .box-login .indapass {
      display: none; }
    .box-login .facebook {
      display: block;
      width: 98%;
      padding: 7px 0 7px 4px;
      font-size: 17px;
      line-height: 30px; }
      .box-login .facebook span {
        margin: 0 11px 0 10px;
        padding: 5px 13px 7px 0; }
    .box-login .or {
      margin: 15px auto;
      width: 100%; }
      .box-login .or span {
        color: #575757;
        font-size: 14px;
        width: 100%; }
        .box-login .or span:before, .box-login .or span:after {
          background: #575757;
          width: 41%; }
    .box-login.login-error .error-msg {
      top: -31px;
      font-size: 15px;
      line-height: 31px;
      width: 100%; }
    .box-login input[type="text"],
    .box-login input[type="password"] {
      display: block;
      margin: 0 auto;
      width: 100%;
      font-size: 17px;
      border-color: #dfcec4;
      padding: 10px;
      color: #959494;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .box-login input[type="password"] {
      border-top: 0 none; }
    .box-login form input[type="submit"] {
      -webkit-appearance: none;
      display: block;
      position: relative;
      float: none;
      margin: 0 auto;
      font-size: 19px;
      width: 100%;
      height: 44px; }
    .box-login form .log-in {
      position: relative;
      float: none;
      width: auto;
      margin: 12px auto 0; }
      .box-login form .log-in a {
        float: none;
        display: block;
        margin: 8px 0 11px;
        text-align: center;
        font-size: 15px; }
    .box-login .stay-in {
      padding: 11px 0 0; }
      .box-login .stay-in label {
        margin: 0;
        font-size: 15px; }
      .box-login .stay-in a {
        margin: 3px 0 0; }

  #bloghu-sub {
    background: url(/assets/frontend/img/frontpage/sub-bg1-mobil.jpg) repeat scroll 0 0;
    margin: 0;
    padding: 0 0 3px;
    border: 0 none; }

  .feeds,
  .search-results {
    padding: 0 10px;
    width: auto; }
    .feeds .box,
    .feeds .list,
    .search-results .box,
    .search-results .list {
      float: none;
      width: 100%;
      margin: 0 0 10px !important;
      padding: 0 0 5px;
      font-size: 0.6em; }
      .feeds .box .scrollbar,
      .feeds .list .scrollbar,
      .search-results .box .scrollbar,
      .search-results .list .scrollbar {
        display: none; }
      .feeds .box:nth-child(3), .feeds .box:nth-child(5), .feeds .box:nth-child(8),
      .feeds .list:nth-child(3),
      .feeds .list:nth-child(5),
      .feeds .list:nth-child(8),
      .search-results .box:nth-child(3),
      .search-results .box:nth-child(5),
      .search-results .box:nth-child(8),
      .search-results .list:nth-child(3),
      .search-results .list:nth-child(5),
      .search-results .list:nth-child(8) {
        margin: 0 0 20px; }
      .feeds .box .articles,
      .feeds .list .articles,
      .search-results .box .articles,
      .search-results .list .articles {
        overflow: hidden;
        max-height: none;
        margin: 0; }
      .feeds .box article,
      .feeds .list article,
      .search-results .box article,
      .search-results .list article {
        padding: 8px 15px;
        line-height: 18px;
        font-size: 15px; }
        .feeds .box article h1,
        .feeds .list article h1,
        .search-results .box article h1,
        .search-results .list article h1 {
          font-size: 16px;
          margin: 5px 0 0; }
        .feeds .box article > a,
        .feeds .list article > a,
        .search-results .box article > a,
        .search-results .list article > a {
          display: block;
          width: 100%;
          height: 166px;
          overflow: hidden; }
          .feeds .box article > a img,
          .feeds .list article > a img,
          .search-results .box article > a img,
          .search-results .list article > a img {
            width: 100%;
            height: auto;
            margin: -37px 0 0; }
      .feeds .box article + article + article + article + article,
      .feeds .list article + article + article + article + article,
      .search-results .box article + article + article + article + article,
      .search-results .list article + article + article + article + article {
        display: none; }
      .feeds .box .label,
      .feeds .list .label,
      .search-results .box .label,
      .search-results .list .label {
        background: #f47629;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        position: relative;
        top: 0;
        left: 0;
        font-size: 18px;
        padding: 8px 15px;
        margin: 0 0 4px;
        font-weight: 600;
        color: #fff;
        border-radius: 3px 3px 0 0;
        border-bottom: 0 none; }
      .feeds .box.kult .label,
      .feeds .list.kult .label,
      .search-results .box.kult .label,
      .search-results .list.kult .label {
        color: #fff;
        background: #6e196b; }
      .feeds .box.divat .label,
      .feeds .list.divat .label,
      .search-results .box.divat .label,
      .search-results .list.divat .label {
        color: #fff;
        background: #23b05f; }
      .feeds .box.kozelet .label,
      .feeds .list.kozelet .label,
      .search-results .box.kozelet .label,
      .search-results .list.kozelet .label {
        color: #fff;
        background: #2e56b1; }
      .feeds .box.gasztro .label,
      .feeds .list.gasztro .label,
      .search-results .box.gasztro .label,
      .search-results .list.gasztro .label {
        color: #fff;
        background: #df8c09; }
      .feeds .box.tech .label,
      .feeds .list.tech .label,
      .search-results .box.tech .label,
      .search-results .list.tech .label {
        color: #fff;
        background: #228bd5; }
      .feeds .box.auto-sport .label,
      .feeds .list.auto-sport .label,
      .search-results .box.auto-sport .label,
      .search-results .list.auto-sport .label {
        color: #fff;
        background: #060105; }
      .feeds .box.sex .label,
      .feeds .list.sex .label,
      .search-results .box.sex .label,
      .search-results .list.sex .label {
        color: #fff;
        background: #d91a34; }

  .feeds .show-more {
    padding: 5px 0 12px 15px; }

  .search-results .show-more {
    display: block;
    font-size: 15px; }

  .search-results,
  .search-results .list {
    padding: 0; }

  .search-results article p {
    font-weight: 400; }

  footer {
    padding-bottom: 40px; }
    footer section {
      font-size: 12px;
      width: auto;
      margin: 0 auto;
      text-align: center;
      padding: 20px 0; }
      footer section .links,
      footer section .info {
        float: none;
        margin: 0 20px; }
      footer section .info {
        margin: 20px auto 0;
        width: auto; }
        footer section .info span {
          display: block;
          float: none;
          text-align: center;
          margin: 10px 0; }
        footer section .info .index,
        footer section .info .inda {
          display: inline-block;
          float: none;
          margin: 5px 10px 10px;
          vertical-align: middle; }

  #sub-page {
    padding: 47px 0; }
    #sub-page article {
      font-size: 12px;
      width: auto;
      margin: 0 10px;
      padding: 12px 10px;
      line-height: 18px; }
      #sub-page article h1 {
        font-size: 19px;
        line-height: 25px; }
      #sub-page article p {
        margin: 10px 0; }
      #sub-page article h2 {
        font-size: 16px;
        line-height: 20px; }
      #sub-page article blockquote {
        margin: 12px 20px; }
      #sub-page article .label {
        display: none; }
      #sub-page article.impressum {
        width: auto;
        margin: 0 10px;
        padding: 16px 15px 1px;
        line-height: 15px; }
        #sub-page article.impressum .contact-mail span {
          padding: 0 4px; }
        #sub-page article.impressum h1 {
          font-size: 21px;
          line-height: 20px; }
        #sub-page article.impressum h2 {
          font-size: 13px; }
        #sub-page article.impressum section {
          margin: 15px 0 0;
          padding: 15px 0 0; }
          #sub-page article.impressum section label {
            float: none;
            width: auto; }
          #sub-page article.impressum section h2 {
            margin: 0 0 5px;
            font-weight: 600; }
          #sub-page article.impressum section .block {
            margin: 0 0 25px; }
          #sub-page article.impressum section .cont {
            width: auto;
            float: none; }
          #sub-page article.impressum section .member {
            margin: 0 0 15px; }
          #sub-page article.impressum section .old-members {
            width: 100%;
            left: -15px;
            padding: 20px 15px 0; }
            #sub-page article.impressum section .old-members:after {
              left: 6%; } }
@media screen and (max-width: 400px), screen and (max-width: 400px) and (-webkit-min-pixel-ratio: 2), all and (max-width: 400px) and (min-pixel-ratio: 2) {
  main#bloghu .bloghu-bar section .user-admin .arrow {
    width: 45px; }
  main#bloghu .bloghu-bar section .user-admin .settings {
    display: none; } }

/*# sourceMappingURL=mobile.css.map */
