/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2015, 1:22:56 PM
    Author     : khoomy
*/
#classified_search_form .form-type-radios,#classified_search_form .form-type-checkboxes  {
    display: inline-block;
    min-height: 100px;
    min-width: 150px;
    padding-left: 18px;
    padding-right: 10px;
    vertical-align: top;
    margin-bottom: 5px;
}
#classified_search_form .form-type-select {
    display: inline-block;
    /*min-height: 150px;*/
    min-width: 150px;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 18px;
}

.add-post-ad-section label {
    font-weight: normal;
    margin-bottom: 0;
    font-family: "Franklin Gothic Book";
    color: rgba(255, 255, 255, 0.5);
}
label.b-options-block--el-label {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium";
    font-size: 11px;
    letter-spacing: 0.34px;
    line-height: 100%;
    cursor: pointer;
    position: relative;
    text-decoration: none !important;
    outline: none !important;
    color: inherit;
}
#classified_search_form .form-radios .form-type-radio,
#classified_search_form .form-checkboxes .form-type-checkbox {
    display: block;
}

.b-options-block.d-half .form-type-radio,.b-options-block.d-half .form-type-checkbox{
    width: 49%;
    display: inline-block !important;
    vertical-align: top;
    margin-right: -4px; 
}
.b-options-block.d-third .form-type-radio ,.b-options-block.d-third .form-type-checkbox{
    width: 33.33%;
    display: inline-block !important;
    vertical-align: top;
    margin-right: -4px; 
}
.b-options-block.d-fourth .form-type-radio,.b-options-block.d-fourth .form-type-checkbox{
    width: 24.33%;
    display: inline-block !important;
    vertical-align: top;
    margin-right: -4px; 
}
.b-options-block.d-fifth .form-type-radio,.b-options-block.d-fifth .form-type-checkbox{
    width: 19.33%;
    display: inline-block !important;
    vertical-align: top;
    margin-right: -4px; 
}


 .section-jobs .b-options-block.d-fifth .form-type-checkbox {
       width: 25%;
 }


.form-radios .form-type-radio,
.form-checkboxes .form-type-checkbox {
    display: inline-block;
}
form.node-form .form-checkboxes.b-options-block .form-type-checkbox,
form.node-form .form-radios.b-options-block .form-type-radio{
    margin-bottom: 0;
}
.form-type-radio input, #edit-job-role input {
    display: none !important;
}


body[data-color-id="properties"] .b-options-block--el-label {
    color: #D33C57;
}

#classified_search_form label.b-options-block--el-link:not(.active), 
#classified_search_form label.b-options-block--el-label:not(.active) {
    color: #FFF;
}
#classified_search_form .b-options-block--el-label.active {
    background: #FFF;
}
#classified_search_form .b-filtered-category .b-options-block--el-label.active {
    background: #479E6D;
}
/*.form-type-radio label.active {
    background: #FFF !important;
}*/
label.b-options-block--el-link.active, 
label.b-options-block--el-label.active {
    padding: 1px 3px;
    left: -3px;
}
body[data-color-id="properties"] .b-filters-block.additional::before, 
body[data-color-id="properties"] .b-filters-block.additional::after {
    background-color: transparent;
}

.feedback .add-post-ad-section--el-input {
    margin-right: 0;
}

.form-type-select label {
    display: block;
}

.form-item-search-input:before {
    position: absolute;
    content: "";
    background-image: url("../images/general/sprites.svg") !important;
    width: 15px;
    height: 16px;
    background-position: 44.07114624505929% 94.5010183299389%;
    bottom: 6px;
}

form-item-search-input:after {
    background: url("../images/general/sprites.svg") no-repeat;
    background-position: 16.155419222903884% 98.91540130151844%;
}
.b-filters-group.first .b-filter[data-filter-id="search"] {
    display: block !important;
}

input.form-text.error {
    border-color: red;
}
.feedback .form-textarea-wrapper {
    width: calc(100% - 160px);
}
.feedback .form-item-copy {
    text-align: right;
}
.chosen-container.form-select {
    top: -7px;
    /*width: auto !important;*/
}
.chosen-container.form-select.chosen-with-drop a,
.chosen-container.form-select a {
    background: transparent none repeat scroll 0% center;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    height: auto;
    padding: 0 28px 6px 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: auto;
    top: 8px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 15px;
    height: 15px;
    padding-left: 0;
}
.block-node-ajax-node-ajax .select2-selection__placeholder {
    color: #FFF;
}
.select2-container {
    min-width: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 8px;
    line-height: 15px;
}


.page-node-edit.node-type-post .select2-container{
    max-width:300px !important;        
}



.select2-container--default .select2-selection--single {
    background: transparent none repeat scroll 0% center;
    box-shadow: none;
    border: none;
    border-radius: 0;
    height: auto;
    font-family: "Franklin Gothic Book";
    font-size: 14px;
    line-height: 15px;
    color: #393635;
}
.select2-container--default .select2-selection--single:focus {
    outline: none;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
        width: 13px;
    height: 7px;
    top: 50%;
    margin-top: -3.5px;
    position: absolute;
    background-image: url("../images/general/sprites.svg");
    background-position: 54.724409448818896% 50.2%;
    border-style: none;
}
.chosen-container.form-select div b, 
.chosen-container-active.chosen-with-drop .chosen-single div b
{
    background-image: url("../images/general/sprites.svg") !important;
    width: 13px;
    height: 7px;
    background-position: 51.18577075098814% 53.389830508474574%;
    top: 50%;
    margin-top: -3.5px;
    position: absolute;

}
#classified_search_form .select2-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}
#classified_search_form .select2-container--default .select2-selection--single .select2-selection__placeholder,
#classified_search_form .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #FFF;
}
#classified_search_form .select2-container--default .select2-selection--single .select2-selection__arrow b {
        background-position: 73.17554240631164% 14.8%;
}

#classified_search_form .chosen-container.form-select a span {
    color: rgba(255, 255, 255, 0.5);
}
#classified_search_form .chosen-container.form-select {
    margin-top: 6px;
}
#classified_search_form .chosen-container.form-select a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#classified_search_form .chosen-container.form-select div b {
    background-position: 43.1493% 34.4758%;
}
.b-filter--el-button-block {
    display: block;
}
.b-filters-group.first .b-filter--el-button-block {
    bottom: 10px;
    top: auto;
    right: 55px;
}
#classified_search_form .price-field {
    position: relative;
    width: 170px;
}
.b-filters-group.first .b-filter--el-apply-button,
.price-field .b-filter--el-apply-button {
    display: none;
    color: transparent;
    text-indent: -1000px;
}
.search-button {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 234px;
    top: auto;
}

.section-restaurants .search-button,
.section-restaurants a.b-clear-filters,
.section-restaurants .b-filters-block .b-expand-filters-button {
    bottom: 3px;
}
#edit-mobile-options {
    display: none;
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 5px;
}
@media only screen and (min-width: 768px) {
    form.node-form .form-checkboxes.b-options-block,
    form.node-form .form-radios.b-options-block {
        width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .items-landing .main .search-button {
        right: 145px;
        /*display:none;*/
    }

    .items-landing  .b-filters-block > .b-filter:not(.m-half):not(:last-of-type){
        border-bottom:none;
    }
    .search-button {
        display: inline-block;
        position: absolute;
        /*bottom: 15px;*/
        right: 145px;
        top: auto;
    }
    .b-filters-block .b-expand-filters-button {
        width: 32px;
        height: 32px;
        bottom: 5px;
        right: 15px;
        top: auto;
    }

    .jobs-list .b-options-block.d-fifth .form-type-radio {
        width: auto;
    }
    .add-post-steps .add-post-ad-section--el-input {
        width: 100%;
        float: none;
    }
    .chosen-container.form-select {
        width: 100% !important;
    }
    .feedback .form-textarea-wrapper {
        width: 100%;
        float: none;
    }
    .feedback .add-post-ad-section--el-title {
        margin-bottom: 0;
    }
     /*.hide-expand-filters .b-expand-filters-button{
        display: none;
    }*/
   .hide-expand-filters .b-filters-block--el-mobile-control {
        display:none;
    }
    #classified_search_form .form-type-radios {
        padding-bottom: 5px;
        padding-top: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
        min-height: auto;
    }
    .add-post-steps .add-post-ad-section--el-title {
        width: auto;
    }
    .form-type-radios label {
        margin-right: 15px;
    }
    .form-type-radio label {
        margin-right: 15px;
    }
    .form-type-radios .form-radios {
        display: inline-block;
    }
    #classified_search_form .form-radios .form-type-radio, 
    #classified_search_form .form-checkboxes .form-type-checkbox {
        display: inline-block;
        width: auto;
        margin-right: 10px;
    }
    /*    .form-type-radios .form-type-radio {
            display: inline;
        }*/
    .multiline_li {
        width: auto;
    }
    .b-options-block.d-half .form-type-radio,
    .b-options-block.d-half .form-type-checkbox {
        width: auto;
    }
    .form-type-select {
        min-height: auto;
        width: 100%;
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
        /*padding-bottom: 15px;*/
    }
    #classified_search_form .form-type-select {
        min-height: auto;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-type-select select {
        width: 100%;
    }
    .b-filters-group.first {
        position: relative;
        padding-left: 6px;
        padding-bottom: 3px;
        margin-bottom: 0;
        padding-right: 15px;
    }
    body .b-filter[data-filter-id="search"] {
        width: 100%;
        position: relative;
    }

    .form-item-search-input {
        padding-left: 12px;
        padding-right: 65px;
    }
    .form-item-search-input input{
        margin-left: 28px !important;

    }

    b-filters-group.first .m-inline-options {
        display: none;
    }
    
    .select2-container--default .select2-selection--single .select2-selection__arrow {

    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {

    }
    #classified_search_form .select2-container {
        width: 100% !important;
    }
    .select2-container--default .select2-selection--single {

    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        background-position: 54.724409448818896% 50.2%;
    }
    #classified_search_form .select2-container--default .select2-selection--single .select2-selection__arrow b {
        background-position: 73.17554240631164% 14.8%;
    }

}