/**
 * Admin menu
 */
#admin-menu ul#admin-menu-account li.admin-menu-account {
  display: none;
}

/**
 * WYSIWYG
 */
.cke_contents {
  height: auto !important;
}

/**
 * Responsiveness
 */
@media all and (min-width: 480px) {
  #admin-menu ul#admin-menu-account li.admin-menu-account {
    display: block;
  }
}
