/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
.page-user-showroom .b-filters-block.additional {
  position: relative; }
.page-user-showroom .b-profile-head {
  margin-bottom: 0; }
@media only screen and (max-width: 767px) {
  .page-user-showroom .b-profile-timeline {
    margin-top: 0; } }
.page-user-showroom .b-card-mod-v .b-card--el-details {
  min-height: 100px;
  padding-bottom: 30px; }
.page-user-showroom .b-filters-block--el-mobile-control .b-filters-control.active,
.page-user-showroom .b-filters-block .b-filters-control.active {
  background-color: #FFF;
  color: #3f8c61; }
.page-user-showroom .b-filters-block .clear-button .b-filters-control {
  position: relative;
  right: auto;
  bottom: auto;
  margin-top: 0;
  line-height: 100%;
  background-color: #3f8c61;
  color: #FFF; }
.page-user-showroom .clear-button {
  display: block;
  float: right;
  margin-right: 10px; }
.page-user-showroom .seller-contact .b-seller--el-contacts {
  position: absolute;
  right: 30px;
  bottom: 24px;
  background-color: #FFF;
  padding: 8px; }
.page-user-showroom .b-seller--el-show-contacts {
  padding: 0; }

.user_classified_search_form .b-filters-block.additional {
  display: block; }
.user_classified_search_form .price-filter {
  display: inline-block;
  margin-bottom: 0; }
  @media only screen and (max-width: 767px) {
    .user_classified_search_form .price-filter .add-post-ad-section--el-title {
      display: inline-block; } }
@media only screen and (max-width: 767px) {
  .user_classified_search_form .price-filter {
    display: block;
    padding: 0 10px; } }
.user_classified_search_form .add-post-ad-section label {
  color: rgba(255, 255, 255, 0.5);
  width: auto;
  margin-right: 10px; }
.user_classified_search_form .price-field {
  display: inline-block;
  margin-bottom: 0; }
  .user_classified_search_form .price-field .form-item {
    display: inline-block;
    margin-bottom: 0; }
.user_classified_search_form .search-button {
  position: relative;
  float: right;
  top: auto;
  bottom: auto;
  right: auto; }
@media only screen and (max-width: 767px) {
  .user_classified_search_form .search-button {
    display: block;
    text-align: right;
    padding-right: 10px;
    float: none; } }

.vehicles-detailed-page #featured_classifieds {
  margin-top: 15px; }

.profile-landing .b-similar-vehicles--el-header {
  margin-bottom: 24px; }

.showroom-banner .b-card--el-description {
  padding: 5px; }

.showroom-banner img {
  width: 100%;
  height: auto; }

.promoted-classifieds-dfp {
  padding-top: 10px;
  /*display: inline-block;*/
  /*    min-width: 300px;
      min-height: 250px;*/ }

@media only screen and (max-width: 767px) {
  .promoted-classifieds-dfp {
    text-align: center; } }
.widget-groups-articles .b-news-n-posts--el-single-news-caption,
.widget-groups-articles .b-news-n-posts--el-single-news-teaser {
  margin-top: 5px; }

#ql-memberships-node-toggle-form {
  margin: 20px; }
  #ql-memberships-node-toggle-form .form-item-expire-date label.add-post-ad-section--el-title {
    display: inline-block; }
  #ql-memberships-node-toggle-form .container-inline-date .date-padding {
    display: inline-block;
    float: none; }
  #ql-memberships-node-toggle-form label {
    font-weight: bold; }
  #ql-memberships-node-toggle-form .form-textarea-wrapper {
    width: auto; }
  #ql-memberships-node-toggle-form .form-textarea-wrapper textarea {
    width: auto; }
  #ql-memberships-node-toggle-form .add-post-content--el-navigation-next {
    margin-left: 32%; }
