 .snip-img{
 	max-width: 260px;
 }

.page-snip div .block-pm-existing-pages h2.block-title{
  	background: -moz-linear-gradient(center top , #BF4079, #C44E83) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #DADDE1;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 10px;
}

#snip-snip{
	background:url(snip.png) no-repeat right top rgba(0, 0, 0, 0);
}

#edit-ql-url {
    width: 90% !important;
}