/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2015, 12:59:10 PM
    Author     : khoomy
*/

#panels-dnd-main #panel-region-container_top {
    margin-bottom: 5px;    
}
#panels-dnd-main #panel-region-content_top_left {
    float: left;
    width: 66%;
    margin-bottom: 5px;
}
#panels-dnd-main #panel-region-content_top_right {
    float: right;
    margin-bottom: 5px;
    width: 33%;
}
#panels-dnd-main #panel-region-content_middle {
    clear: both;
    margin-bottom: 5px;
}
#panels-dnd-main #panel-region-left_sidebar {
    float: left;
    width: 49%;
}
#panels-dnd-main #panel-region-right_sidebar {
    float: right;
    width: 49%;
}
#panels-panel-context-edit-content #edit-buttons{
    margin-top: 5px;
        clear: both;
}