/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2015, 10:14:35 AM
    Author     : khurram
*/

#panels-dnd-main .panel-v3-main-default .header #panel-region-header_left {
    margin: .5em 0;
    width: 40%;
    float: left;
}
#panels-dnd-main .panel-v3-main-default .header #panel-region-header_right {
    margin: .5em 0;
    width: 59%;
    float: right;
}
#panels-dnd-main .panel-v3-main-default .header #panel-region-header_bottom {
    margin: .5em 0;
    width: 99%;
    clear: both;
}
#panels-dnd-main .panel-v3-main-default main #panel-region-content {
    margin: .5em 0;
    width: 99%;
}
#panels-dnd-main .panel-v3-main-default footer #panel-region-footer {
    margin: .5em 0;
    width: 99%;
}