@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'Bree Serif', serif;
  src: url('../fonts/BreeSerif-Regular.otf');
}
.img-link {
  display: block;
}
.avina-link {
  color: #7D346C;
  font-family: 'Lato', serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.avina-link:hover {
  color: #7D346C;
  text-decoration: none;
}
.avina-button {
  background-color: #883B77 !important;
  color: #FFF;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  float: left;
  display: block;
}
.avina-button:hover {
  background-color: #883B77 !important;
  color: #FFF;
  text-decoration: none;
}
.avina-button:focus {
  background-color: #883B77 !important;
  color: #FFF;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
body.avina-style #header {
  margin-bottom: 0;
}
body.avina-style #header .navbar {
  margin-bottom: 0;
  padding-bottom: 0;
}
body.avina-style #body {
  padding-bottom: 20px;
  background-color: #000;
}
body.avina-style #body #wide-sidebar {
  margin-top: 4px;
}
body.avina-style #body #wide-sidebar #sidebar-right .pagina {
  margin-top: 0px;
  border-top: 0;
}
body.avina-style #footer {
  margin-top: 0;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
}
#intro-avina .thumbnail-lateral {
  border: 0;
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 16px;
}
#intro-avina .thumbnail-lateral .caption {
  background-color: #111;
  padding: 15px;
}
#intro-avina .thumbnail-lateral .caption p {
  color: #BBB !important;
}
@media (min-width: 767px) and (max-width: 979px) {
  #intro-avina .thumbnail-lateral .caption p {
    font-size: 11px;
    line-height: 1.3em;
  }
}
#avina-more {
  border-radius: 0;
}
#avina-carousel {
  max-height: 463px;
  overflow: hidden;
  margin-top: 4px;
}
#avina-carousel .carousel-indicators {
  bottom: 0;
  right: 0;
  top: auto;
  left: inherit;
  margin: 0;
  width: auto;
}
#avina-carousel .carousel-indicators li {
  width: 30px;
  height: 30px;
  border-radius: 0;
  text-indent: 0;
  text-align: center;
  background-color: #000;
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
  color: #FFF;
  margin: 0;
  border: none;
}
#avina-carousel .carousel-indicators li.active {
  background-color: rgba(125,53,109,0.8);
  background-color: #7D356D;
}
#avina-carousel .caption {
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 10px 20px;
  padding-top: 10%;
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.7)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#33000000',GradientType=0);
}
#avina-carousel .caption h2 {
  color: #FFF;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  line-height: 1em;
}
@media (min-width: 768px) {
  #avina-carousel .caption h2 {
    font-size: 36px;
  }
}
#avina-carousel .caption .btn-avina {
  margin-top: 10px;
  display: block;
}
#avina-carousel .image {
  max-height: 463px;
  display: block;
  overflow: hidden;
  position: relative;
}
#avina-carousel .image img {
  width: 100%;
}
#category-menu-avina {
  margin: 0;
  margin-top: 20px;
}
#category-menu-avina #menu-menu-sub-avina {
  text-align: center;
}
#category-menu-avina #menu-menu-sub-avina li {
  display: inline-block;
  padding: 0 5px;
}
#category-menu-avina #menu-menu-sub-avina li a {
  color: #FFF;
  font-family: 'Lato', serif;
  text-transform: uppercase;
  font-family: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
#category-menu-avina #menu-menu-sub-avina li a:hover {
  color: #FFF;
  text-decoration: none;
  background: #666;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
#category-menu-avina #menu-menu-sub-avina li a.active {
  background: #666;
}
.article.avina {
  margin: 0 !important;
  padding: 0 !important;
  max-height: auto !important;
  overflow: hidden !important;
}
@media (min-width: 480px) {
  .article.avina {
    max-height: 203px !important;
  }
}
.article.avina .img-link {
  padding-bottom: 71%;
  height: 0;
}
.article.avina .article-content {
  position: relative;
  cursor: pointer;
}
.article.avina .article-content .theTitleContainer {
  height: 50px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.article.avina .article-content .theTitleContainer .theTitle {
  margin-top: 5px;
}
.article.avina .article-content .theTitleContainer .theTitle a {
  color: #FFF;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  display: block;
  padding: 0 10px;
  font-weight: 300;
  height: 50px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.article.avina .article-content .theTitleContainer .theTitle a:hover {
  text-decoration: none;
}
.article.avina .article-content .theTitleContainer .entry-content a {
  color: #FFF;
  padding: 20px 10px 0;
  text-decoration: none;
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 14px;
}
.article.avina .article-content .theTitleContainer .entry-content a:hover {
  text-decoration: none;
}
.article.avina:hover .article-content .theTitleContainer {
  height: 208px;
  margin-top: -208px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.article.avina:hover .article-content .theTitleContainer .theTitle a {
  font-size: 20px;
  margin-top: 30px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#avina-news-container {
  width: 100%;
  padding: 0;
  margin-top: 25px;
}
#avina-pagination {
  display: block;
}
#avina-pagination #loadMore {
  float: none;
  display: inline-block;
}
#timeline-container {
  margin-top: 45px;
}
#timeline-container .timeline-title {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border-top: 1px solid #7D356D;
  border-bottom: 1px solid #7D356D;
  color: #FFF;
  margin: 0;
  line-height: 33px;
}
#footer-menu-container {
  margin-top: 20px;
  margin-bottom: 80px;
}
#footer-menu-container #menu-menu-avina {
  text-align: center;
}
#footer-menu-container #menu-menu-avina li {
  display: inline-block;
  border-left: 1px solid #FFF;
  padding: 10px;
}
#footer-menu-container #menu-menu-avina li a {
  color: #FFF;
  font-family: 'Lato', serif;
  text-transform: uppercase;
  font-family: 14px;
}
#footer-menu-container #menu-menu-avina li a:hover {
  color: #FFF;
  text-decoration: none;
}
#footer-menu-container #menu-menu-avina li:last-child {
  border-right: 1px solid #FFF;
}
@media (min-width: 768px) {
  .article.avina {
    width: 25% !important;
  }
  #footer-menu-container #menu-menu-avina li {
    min-width: 80px;
    max-width: 131px;
  }
}
@media (max-width: 480px) {
  #footer-menu-container #menu-menu-avina {
    text-align: left;
    margin-left: 12px;
  }
  #footer-menu-container #menu-menu-avina li {
    border: none !important;
  }
}
@media (max-width: 768px) {
  #footer {
    text-align: center;
  }
  #footer .text-widget {
    text-align: center !important;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  #nm_footer_row_2 .text-widget a {
    padding-bottom: 10px;
    display: block;
  }
}
#nm_footer_row_2 .text-widget a:after {
  content: " / ";
}
@media (max-width: 768px) {
  #nm_footer_row_2 .text-widget a:after {
    content: "";
  }
}
#tl2 .timeline_line,
#content #tl2 .timeline_line {
  width: 920px;
}
#tl2 h4.t_line_month,
#content #tl2 h4.t_line_month {
  color: #ccc;
}
#tl2 .t_line_view,
#content #tl2 .t_line_view {
  width: 920px;
}
#tl2 .t_line_m,
#content #tl2 .t_line_m {
  width: 458px;
}
#tl2 .t_line_m.right,
#content #tl2 .t_line_m.right {
  left: 459px;
  width: 459px;
}
#tl2 .t_node_desc span,
#content #tl2 .t_node_desc span {
  background: #000000;
}
#tl2 .t_node_desc span:after,
#content #tl2 .t_node_desc span:after {
  border-top-color: #000000;
}
#tl2 .t_line_node,
#content #tl2 .t_line_node {
  color: #ccc;
  font-size: 10px;
  padding-top: 42px;
}
#tl2.flatLine .t_line_holder:before {
  content: " ";
  display: block;
  width: 100%;
  border-top: 1px solid #ccc;
  position: absolute;
  top: 50px;
}
#tl2.flatLine .t_line_holder,
#content #tl2.flatLine .t_line_holder {
  background: none;
}
#tl2 .t_line_node:after,
#content #tl2 .t_line_node:after {
  background: #fff;
  height: 9px;
  width: 9px;
  margin: 1px 0 0 -5px;
  top: 25px;
}
#tl2 .t_line_node.active:after,
#content #tl2 .t_line_node.active:after {
  background: #883C78;
  border-color: #883C78;
  width: 16px;
  height: 16px;
  margin: 0 0 0 -10px;
  top: 20px;
}
#tl2 .item.item_node_hover:before,
#content #tl2 .item.item_node_hover:before {
  background: #000000;
}
#tl2 .item.item_node_hover:after,
#content #tl2 .item.item_node_hover:after {
  border-top-color: #000000;
}
#tl2 #t_line_right:hover,
#content #tl2 #t_line_right:hover,
#tl2 #t_line_left:hover,
#content #tl2 #t_line_left:hover {
  color: #000000;
}
#tl2 .item h2,
#content #tl2 .item h2 {
  font-size: 24px;
  color: #000000;
  text-align: left;
  line-height: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-weight: normal;
  font-style: normal;
}
#tl2 .item h2 a,
#content #tl2 .item h2 a {
  color: #000;
}
#tl2.flatNav .t_left,
#tl2.flatNav .t_right,
#content #tl2.flatNav .t_left,
#content #tl2.flatNav .t_right {
  opacity: 1;
  background: #000;
  display: block !important;
}
@media (max-width: 480px) {
  #tl2.flatNav .t_left,
  #tl2.flatNav .t_right,
  #content #tl2.flatNav .t_left,
  #content #tl2.flatNav .t_right {
    width: 48px;
  }
}
#tl2.flatNav .t_left:after,
#tl2.flatNav .t_right:after,
#content #tl2.flatNav .t_left:after,
#content #tl2.flatNav .t_right:after {
  position: absolute;
  content: ">";
  color: #fff;
  top: 50%;
  left: 0;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-top: -25px;
}
#tl2.flatNav .t_left:after {
  content: "<";
}
#tl2 .item span,
#content #tl2 .item span {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#tl2 .item span.date,
#content #tl2 .item span.date {
  margin: 5px 0;
  color: #666;
}
#tl2 .item,
#content #tl2 .item {
  width: 340px;
  height: 360px;
  background: #dbd5c7 url() repeat;
  font-size: 12px;
  color: #333333;
  line-height: 12px;
  font-weight: normal;
  font-style: normal;
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=0,Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=5,Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=5,Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=0,Direction=270);
}
@media (max-width: 480px) {
  #tl2 .item,
  #content #tl2 .item {
    width: 235px;
    height: 420px;
  }
}
#tl2 .item_open h2,
#content #tl2 .item_open h2 {
  font-size: 24px;
  color: #000000;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
}
#tl2 .item_open,
#content #tl2 .item_open {
  width: 490px;
  height: 360px;
  background: #dbd5c7 url() repeat;
  font-size: 12px;
  color: #333333;
  line-height: 12px;
  font-weight: normal;
  font-style: normal;
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=0,Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=5,Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=5,Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=0,Direction=270);
}
#tl2 .item .con_borderImage,
#content #tl2 .item .con_borderImage {
  border: 0px;
  border-bottom: 0px solid #1986ac;
  height: 150px;
  overflow: hidden;
}
#tl2 .item .con_borderImage img,
#content #tl2 .item .con_borderImage img {
  max-width: 100%;
}
#tl2 .item .post_date,
#content #tl2 .item .post_date {
  border: 0px;
  background: #1986ac;
}
#tl2 .item_open .con_borderImage,
#content #tl2 .item_open .con_borderImage {
  border-bottom: 0px solid #1986ac;
}
#content #tl2 .item_open_cwrapper,
#content #tl2 .item_open .con_borderImage {
  width: 490px;
}
#tl2 .item_open .t_close:hover,
#content #tl2 .item_open .t_close:hover {
  background: #444444;
}
#tl2.flatButton .item .read_more,
#tl2.flatWideButton .item .read_more,
#content #tl2.flatButton .item .read_more,
#content #tl2.flatWideButton .item .read_more {
  background: #000000;
  margin: 20px;
}
#tl2.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#tl2.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#content #tl2.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#content #tl2.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #000000;
}
#tl2 .item .read_more:hover,
#content #tl2 .item .read_more:hover {
  background: #444444;
}
#tl2.flatButton .item_open.item_open_noImg .t_close,
#tl2.flatWideButton .item_open.item_open_noImg .t_close,
#content #tl2.flatButton .item_open.item_open_noImg .t_close,
#content #tl2.flatWideButton .item_open.item_open_noImg .t_close {
  color: #000000 !important;
}
#tl2.flatButton .item_open.item_open_noImg .t_close:hover,
#tl2.flatWideButton .item_open.item_open_noImg .t_close:hover,
#content #tl2.flatButton .item_open.item_open_noImg .t_close:hover,
#content #tl2.flatWideButton .item_open.item_open_noImg .t_close:hover {
  color: #444444 !important;
}
#tl2 .item .read_more,
#content #tl2 .item .read_more,
#tl2 .item_open .t_close,
#content #tl2 .item_open .t_close {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#44000000',endColorstr='#44000000');
}
#tl2 .t_node_desc,
#content #tl2 .t_node_desc {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc1a86ac',endColorstr='#cc1a86ac');
}
#tl2 .timeline_open_content,
#content #tl2 .timeline_open_content {
  padding: 20px;
}
