@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
a {
  color: #0059B2;
}
a:hover {
  color: #5DB2FF;
}
body {
  background: #EFEFEB;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}
.container {
  background: #fff;
}
@media screen and (max-width: 400px) {
  .container {
    overflow: hidden;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bree Serif', serif;
}
.top-bar.container {
  background: transparent;
  padding: 0 4px;
  padding-top: 5px;
}
.top-bar .top-nav {
  float: right;
}
.top-bar .top-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-bar .top-nav ul li {
  float: right;
}
.top-bar .top-nav ul li a {
  display: block;
  background-color: #E3E5E1;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  color: #999999;
  padding: 0 10px;
  line-height: 32px;
  text-decoration: none;
  margin-left: 5px;
}
.top-bar .top-nav ul li a:hover {
  background-color: #5DB2FF;
  color: #fff;
}
.sb-search {
  position: relative;
  width: 0%;
  min-width: 32px;
  height: 32px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}
.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 100%;
  height: 32px;
  margin: 0;
  z-index: 10;
  padding: 0 16px 0 16px;
  font-family: inherit;
  font-size: 17px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #2c3e50;
}
.sb-icon-search,
.sb-search-submit {
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}
.sb-search-submit {
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.sb-icon-search {
  color: #ccc;
  background: #EFEFEB;
  z-index: 90;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 25%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #ccc;
  color: #efefeb;
  z-index: 11;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}
@media screen and (max-width: 767px) {
  .sb-search {
    width: 100% !important;
    margin: 3px 0;
  }
  .sb-search .sb-icon-search {
    background: #ccc;
    color: #efefeb;
    z-index: 11;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
  }
  .sb-search .sb-search-submit {
    z-index: 90;
  }
}
.main-header {
  position: relative;
}
.main-header .logo {
  text-align: center;
  margin-top: 20px;
}
.main-header .slogan {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Bree Serif', serif;
  font-size: 11px;
  margin-top: 3px;
  letter-spacing: -0.5px;
  line-height: 1em;
  text-rendering: optimizeSpeed;
}
@media screen and (min-width: 340px) {
  .main-header .slogan {
    font-size: 12px;
  }
}
.main-header .slogan span {
  border-top: 5px solid #723068;
}
.main-header .second-nav {
  position: absolute;
  right: -16px;
  top: 50px;
}
@media screen and (max-width: 768px) {
  .main-header .second-nav {
    top: 5px;
  }
}
.main-header .second-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 40px;
}
.main-header .second-nav ul li {
  float: left;
}
.main-header .second-nav ul li a {
  background-color: #FFDE00;
  color: #9F7C00;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  padding: 10px 15px;
  display: inline-block;
}
.main-header .second-nav ul:after {
  content: " ";
  width: 10px;
  height: 40px;
  background-color: #FFDE00;
  position: absolute;
  top: 0;
  right: -9px;
}
.main-header .second-nav ul:before {
  content: " ";
  border-left: 10px solid #9F7C00;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  right: -9px;
}
.main-header .navbar {
  margin-bottom: 0;
  background-color: #333;
  color: #fff;
  font-family: 'Bree Serif', serif;
  border: none;
  border-radius: 0;
  min-height: 40px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(50,50,50,0.51);
  -moz-box-shadow: 0px 5px 7px 0px rgba(50,50,50,0.51);
  box-shadow: 0px 5px 7px 0px rgba(50,50,50,0.51);
}
.main-header .navbar .container {
  background-color: transparent;
}
.main-header .navbar .navbar-brand {
  padding: 3px;
  display: inline-block;
  width: 0;
  overflow: hidden;
  margin: 0;
  height: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main-header .navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .main-header .navbar ul {
    display: inline-block;
    float: none;
    margin-bottom: -4px;
  }
}
.main-header .navbar ul li a {
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 4px solid #333;
  border-bottom-width: 0px;
}
@media (min-width: 1200px) {
  .main-header .navbar ul li a {
    font-size: 20px;
  }
}
.main-header .navbar ul li a:hover {
  background-color: transparent;
  border-bottom-width: 4px;
}
.main-header .navbar ul li.active a {
  color: #000;
  border-bottom: 4px solid #333;
}
.main-header .navbar.fix {
  position: fixed;
  top: 0;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .main-header .navbar.fix {
    width: 100%;
  }
}
.main-header .navbar.fix .navbar-brand {
  margin-left: 40px;
  width: 98px;
  height: 50px;
}
.main-header .navbar.fix ul li a {
  padding-top: 12px;
  padding-bottom: 8px;
}
.main-footer {
  bottom: 0;
  z-index: 50;
}
.main-footer >.container {
  padding-top: 28px;
  font-size: 13px;
  -webkit-box-shadow: 0px -5px 5px -3px rgba(50,50,50,0.46);
  -moz-box-shadow: 0px -5px 5px -3px rgba(50,50,50,0.46);
  box-shadow: 0px -5px 5px -3px rgba(50,50,50,0.46);
}
.main-footer .logo {
  display: block;
  margin-bottom: 10px;
}
.main-footer .logo img {
  width: 94px;
}
.main-footer .footer-nav a {
  color: #666;
  font-size: 13px;
}
.main-footer .footer-nav a:not([href]):hover {
  text-decoration: none;
}
.main-footer .footer-nav li:before {
  content: "|";
  margin-right: 10px;
}
.main-footer .footer-nav li:first-child:before {
  content: "";
  margin: 0;
}
.main-footer .copies-links {
  font-size: 12px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main-footer .copies-links {
    margin-top: 111px;
  }
}
.main-footer .copies-links li {
  width: 50%;
  float: right;
}
@media screen and (min-width: 992px) {
  .main-footer .copies-links li {
    width: auto;
    margin-left: 30px;
    text-align: left;
  }
}
.main-footer .copies-links li a {
  color: #666;
}
.main-footer .copies-links li a img {
  height: 17px;
}
.main-footer .widget.social {
  float: none;
}
.main-footer .widget.social > nav {
  float: none;
}
@media screen and (min-width: 768px) {
  .main-footer .widget.social {
    position: absolute;
    top: 25px;
    left: 121px;
  }
}
.box {
  background-color: #fff;
  border-top: 4px solid #000;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(50,50,50,0.51);
  -moz-box-shadow: 0px 5px 7px 0px rgba(50,50,50,0.51);
  box-shadow: 0px 5px 7px 0px rgba(50,50,50,0.51);
  margin-bottom: 10px;
}
.box:not(.box-big) {
  overflow: hidden;
}
.box h3 {
  font-size: 20px;
  color: #000;
  margin: 10px 13px;
}
.box h4 {
  font-size: 24px;
  padding: 0 20px;
  margin: 10px 0;
}
.box h4 a {
  color: #444;
}
.box .entry-content {
  color: #444;
  padding: 0 20px;
  font-size: 15px;
}
.box .img-responsive {
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .box.category-al-minuto .widget-post-small-thumb {
    text-align: center;
  }
  .box.category-al-minuto .widget-post-small-thumb img {
    float: none;
    margin-bottom: 0;
  }
}
.box-mini {
  padding-bottom: 30px;
}
.box-mini .widget-media {
  display: block;
  width: 100%;
  height: 0;
  box-sizing: inherit;
  padding-bottom: 67%;
}
@media screen and (max-width: 768px) {
  .box-mini .widget-media {
    height: auto;
    float: right;
    padding-bottom: 0;
    margin: 5px;
    width: auto;
  }
  .box-mini .widget-media img {
    width: 100px;
  }
}
.box-mini h4 {
  font-size: 16px;
  padding: 0 10px;
  margin: 10px 0;
}
.box-mini h4 a {
  color: #333;
}
.box-mini .entry-content {
  color: #666;
  padding: 0 10px;
  font-size: 13px;
}
.box-mini .share-links {
  position: absolute;
  bottom: 20px;
  padding: 0;
  width: 100%;
  padding-right: 10px;
}
.box-mini .share-links a {
  margin: 0 5px;
}
@media screen and (min-width: 769px) {
  .box-author .avatar {
    float: left;
  }
}
.box-author .avatar img {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}
.box-author h4 {
  padding: 0 10px;
}
.box-author .author {
  font-style: italic;
  font-size: 10px;
}
.box-author .author a {
  color: #444;
}
.box-main-author {
  padding: 0 20px 20px;
}
.box-main-author #author-avatar {
  float: left;
  margin-right: 20px;
}
.box-main-author .entry-title {
  margin-top: 30px;
}
.category-page header {
  margin-left: -15px;
  margin-right: -15px;
  font-size: 16px;
  color: #444;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.category-page header h1 {
  font-size: 42px;
  margin: 10px;
  margin-bottom: 0;
  color: #444;
}
.category-page header a {
  color: #444;
}
.category-page header a.active {
  font-weight: bold;
}
.comments-box {
  background-color: #fff;
  padding: 15px 30px;
}
.comments-box .comments-title {
  color: #666;
  font-size: 14px;
  margin-bottom: 15px;
}
.comments-box .comments-title .fa {
  color: #b2b2b2;
  font-size: 85px;
  float: left;
  display: block;
  margin-right: 30px;
}
#wide-sidebar {
  margin-top: 20px;
}
#entry-post {
  padding: 0 0 24px 14px;
}
#entry-post .nav-single {
  margin-top: 30px;
  padding: 0;
}
#entry-post .entry-content img {
  max-width: 100%;
  height: auto !important;
}
.box-big .meta-category {
  float: right;
  font-family: "Bree Serif", serif;
  font-size: 1.1em;
  padding: 5px 14px;
  margin-top: 10px;
  text-transform: uppercase;
}
.box-big .meta-category a {
  color: #333;
}
.box-big .cat-info {
  font-size: 12px;
  color: #444;
  padding: 5px 24px;
  line-height: 1.1em;
}
.box-big .entry-title {
  font-size: 28px;
  padding: 0 24px;
  margin: 39px 0 10px;
  color: #444;
}
.box-big .entry-excerpt {
  padding: 6px 24px;
  font-size: 16px;
}
.box-big .entry-excerpt p {
  margin: 0;
}
.box-big .meta-posted-by {
  padding: 6px 24px;
  font-size: 14px;
}
.box-big .meta-posted-by a {
  color: #444;
  font-weight: bold;
}
.box-big .meta-posted-by .other-metas {
  display: inline-block;
  color: #999;
}
.box-big .meta-posted-by .other-metas span {
  margin-left: 20px;
}
.box-big .meta-posted-by .other-metas i.fa {
  margin-right: 2px;
}
.box-big .meta-posted-by .other-metas a {
  font-weight: normal;
  color: #999;
}
.box-big .entry-content {
  color: #333;
  padding: 6px 24px;
  font-size: 14px;
}
.box-big .widget-post-big-thumb {
  padding: 15px;
}
.box-big .widget-post-big-thumb img {
  max-width: 100%;
}
.lista-al-minuto {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
}
.lista-al-minuto li {
  background-color: #C1C1C1;
  padding: 10px;
  height: 107px;
  overflow: hidden;
}
.lista-al-minuto li a {
  color: #000;
}
.lista-al-minuto li h5 {
  margin: 0;
}
#submit-news h1 {
  font-size: 30px;
  margin: 20px;
  display: none;
}
#submit-news .sub-title {
  font-size: 28px;
  margin: 20px;
}
#submit-news .wp-editor-wrap .mce-tinymce {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  overflow: hidden;
}
#submit-news fieldset {
  padding: 13px 50px 25px 90px;
  border-top: 1px solid #ddd;
  position: relative;
}
@media screen and (max-width: 768px) {
  #submit-news fieldset {
    padding: 20px;
  }
  #submit-news fieldset .form-group {
    overflow: hidden;
  }
}
#submit-news fieldset:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "1";
  background-color: #ddd;
  height: 100px;
  width: 60px;
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  #submit-news fieldset:before {
    height: auto;
    font-size: 25px;
    line-height: 1.5em;
  }
}
#submit-news fieldset .required {
  color: #8D3174;
  font-size: 10px;
}
#submit-news fieldset#attachment .fa-camera {
  font-size: 40px;
  color: #8D3174;
}
#submit-news fieldset#attachment:before {
  content: "2";
}
#submit-news fieldset#user-submit:before {
  content: "3";
}
#submit-news fieldset#submit {
  padding-bottom: 50px;
}
#submit-news fieldset#submit:before {
  font-family: FontAwesome;
  content: "\f058";
}
#submit-news fieldset .btn-usf-submit {
  color: #444;
  font-weight: bold;
  background-image: -moz-linear-gradient(42% 0% -90deg,#fce500 0%,#ffc926 100%);
  background-image: -webkit-gradient(linear,42% 0%,42% 100%,color-stop(0,#fce500),color-stop(1,#ffc926));
  background-image: -webkit-linear-gradient(180deg,#fce500 0%,#ffc926 100%);
  background-image: -o-linear-gradient(180deg,#fce500 0%,#ffc926 100%);
  background-image: -ms-linear-gradient(180deg,#fce500 0%,#ffc926 100%);
  background-image: linear-gradient(180deg,#fce500 0%,#ffc926 100%);
  border: 1px solid #dcb520;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffce500,endColorstr=#ffffc926,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffce500,endColorstr=#ffffc926,GradientType=0);
}
#submit-news fieldset .parsley-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
#submit-news fieldset .parsley-errors-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#submit-news fieldset .parsley-errors-list li {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #d9534f;
}
@media screen and (max-width: 400px) {
  #submit-news .mce-toolbar-grp,
  #submit-news .mce-statusbar {
    display: none;
  }
}
.widget.social {
  float: right;
}
.widget.social .social-icons {
  float: right;
}
.widget.social .social-icons a {
  background: url(../images/sprites/icons-social.png) no-repeat;
  display: inline-block;
  height: 27px;
  text-indent: -9999px;
  margin-left: 10px;
  opacity: .7;
  width: 27px;
}
.widget.social .social-icons a:hover {
  opacity: 1;
}
.widget.social .social-icons a.facebook {
  background-position: -10px -153px;
  height: 27px;
  width: 27px;
}
.widget.social .social-icons a.twitter {
  background-position: -10px -116px;
  height: 27px;
  width: 26px;
}
.widget.social .social-icons a.youtube {
  background-position: -10px -79px;
  height: 27px;
  width: 26px;
}
.widget.social .social-icons a.rss {
  background-position: -10px -41px;
  height: 27px;
  width: 26px;
}
.widget.social .social-icons a.google {
  background-position: -10px -2px;
  height: 27px;
  width: 26px;
}
.carousel-widget {
  position: relative;
}
.carousel-widget .btn-category {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  z-index: 60;
  border: 1px solid #ddd;
  color: #999;
}
.carousel-widget .btn-category:hover {
  color: #723068;
  border-color: #723068;
}
.carousel-widget .item {
  height: 296px;
}
@media screen and (max-width: 768px) {
  .carousel-widget .item {
    height: 432px;
  }
}
.carousel-widget .item >a {
  display: block;
  color: #444;
}
.carousel-widget .item >a .inner {
  display: table;
  height: 204px;
  padding-left: 10px;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .carousel-widget .item >a .inner {
    height: auto;
    padding-top: 10px;
  }
}
.carousel-widget .item >a .inner h4 {
  font-size: 23px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .carousel-widget .item >a .inner h4 {
    font-size: 20px;
  }
}
.carousel-widget .item >a > img {
  float: left;
  width: 50%;
  height: 204px;
}
@media screen and (max-width: 768px) {
  .carousel-widget .item >a > img {
    min-width: 330px;
    max-width: 100%;
    height: auto;
    max-height: 228px;
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.carousel-widget .item .text-container {
  font-size: 15px;
  padding: 10px 40px;
}
.carousel-widget .carousel-control {
  background: none;
  color: #666;
  width: 46px;
  height: 82px;
  top: inherit;
}
.carousel-widget .carousel-control .glyphicon {
  font-size: 15px;
}
.news-widget {
  background-color: #FFDE00;
  position: relative;
  padding: 0 13px;
  margin-right: -15px;
  min-height: 300px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .news-widget {
    min-height: 432px;
  }
}
.news-widget h2 {
  font-size: 20px;
  color: #444;
  text-transform: uppercase;
  margin: 0;
  padding: 6px 17px;
  border-bottom: 1px solid #f1d100;
}
.news-widget .send-news {
  background-color: #444;
  color: #fff;
  position: absolute;
  z-index: 85;
  top: 0;
  right: 0;
  border-radius: 0 0 4px 4px;
}
.news-widget .send-news:hover {
  text-decoration: underline;
}
.news-widget .send-news .glyphicon {
  font-size: 0.5em;
  vertical-align: 3px;
}
@media screen and (max-width: 400px) {
  .news-widget {
    height: 334px;
  }
  .news-widget .send-news {
    position: relative;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .news-widget:after {
    height: 334px;
  }
}
.news-widget .ticker ul {
  width: 100%;
}
.news-widget .ticker ul li {
  border-bottom: 1px solid #f1d100;
  padding: 3px 17px;
}
.news-widget .ticker ul li a {
  color: #000;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-widget .ticker ul li a:hover span {
  color: #000;
}
.news-widget .ticker ul li a .title {
  font-size: 12px;
  line-height: 12px;
}
@media screen and (max-width: 768px) {
  .news-widget .ticker ul li a .title {
    font-size: 15px;
    line-height: 24px;
  }
}
.news-widget .ticker ul li a .author {
  font-style: italic;
  font-size: 10px;
  line-height: 10px;
}
@media screen and (max-width: 768px) {
  .news-widget .ticker ul li a .author {
    display: block;
    font-size: 11px;
    line-height: 11px;
  }
}
.news-widget .link-bottom {
  margin: 0;
  padding: 10px 17px;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.news-widget .link-bottom a {
  color: #B28500;
}
.news-widget .link-bottom a .glyphicon {
  font-size: 0.5em;
  vertical-align: 3px;
}
.news-widget:after {
  content: " ";
  width: 10px;
  height: 300px;
  background-color: #FFDE00;
  position: absolute;
  top: 0;
  right: -9px;
}
@media screen and (max-width: 768px) {
  .news-widget:after {
    height: 432px;
  }
}
.news-widget:before {
  content: " ";
  border-left: 10px solid #9F7C00;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  right: -9px;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .col-sm-4 .col-xs-12 .news-widget {
    min-height: 334px;
  }
  .col-sm-4 .col-xs-12 .news-widget .send-news {
    position: relative;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .col-sm-4 .col-xs-12 .news-widget:after {
    height: 334px;
  }
}
.three-column-widget .col-xs-4 .entry-content {
  padding-bottom: 40px;
}
.three-column-widget .col-xs-4 .share-links {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
}
.empty-widget {
  margin-bottom: 10px;
}
.columnists-posts-widget h3 {
  font-size: 20px;
  color: #000;
  margin: 20px 15px;
}
.columnists-posts-widget h3 a {
  color: #000;
  text-decoration: none;
}
.columnists-posts-widget h3 a:hover {
  text-decoration: underline;
}
.columnists-posts-widget ul li {
  padding: 0 15px 15px 15px;
}
.columnists-posts-widget .avatar {
  float: left;
  display: block;
  margin-right: 13px;
}
.columnists-posts-widget .avatar img {
  width: 40px;
  height: 40px;
}
.columnists-posts-widget .post-title {
  font-size: 11px;
  margin-left: 50px;
}
.columnists-posts-widget .post-title h5 {
  font-size: 13px;
  margin: 0;
}
.columnists-posts-widget .post-title h5 a {
  color: #444;
}
.columnists-posts-widget .post-title .posted-by a {
  color: #666;
}
.recomendados-widget h3 {
  font-size: 20px;
  color: #000;
  margin: 10px 13px;
}
.recomendados-widget ul li {
  padding: 0 10px 20px 10px;
}
.recomendados-widget .post-thumb {
  float: left;
  display: block;
  margin-right: 13px;
}
.recomendados-widget .post-thumb img {
  width: 100px;
  height: 71px;
}
.recomendados-widget .post-title {
  font-size: 13px;
  margin-left: 113px;
}
.recomendados-widget .post-title h5 {
  font-size: 15px;
  margin: 0;
}
.recomendados-widget .post-title h5 a {
  color: #444;
}
.ui-special-widget.box {
  border-top: none;
  border-bottom: 4px solid #004798;
}
.ui-special-widget.box .image_top {
  display: block;
}
.ui-special-widget.box .image_top img {
  width: 100%;
}
@font-face {
  font-family: 'Bree Serif', serif;
  src: url('../fonts/BreeSerif-Regular.otf');
}
.img-link {
  display: block;
}
.avina-link {
  color: #7D346C;
  font-family: 'Lato', serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.avina-link:hover {
  color: #7D346C;
  text-decoration: none;
}
.avina-button {
  background-color: #883B77 !important;
  color: #FFF;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  float: left;
  display: block;
}
.avina-button:hover {
  background-color: #883B77 !important;
  color: #FFF;
  text-decoration: none;
}
.avina-button:focus {
  background-color: #883B77 !important;
  color: #FFF;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
body.avina-style #header {
  margin-bottom: 0;
}
body.avina-style #header .navbar {
  margin-bottom: 0;
  padding-bottom: 0;
}
body.avina-style #body {
  padding-bottom: 20px;
  background-color: #000;
}
body.avina-style #body #wide-sidebar {
  margin-top: 4px;
}
body.avina-style #body #wide-sidebar #sidebar-right .pagina {
  margin-top: 0px;
  border-top: 0;
}
body.avina-style #footer {
  margin-top: 0;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
}
#intro-avina .thumbnail-lateral {
  border: 0;
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 16px;
}
#intro-avina .thumbnail-lateral .caption {
  background-color: #111;
  padding: 15px;
}
#intro-avina .thumbnail-lateral .caption p {
  color: #BBB !important;
}
@media (min-width: 767px) and (max-width: 979px) {
  #intro-avina .thumbnail-lateral .caption p {
    font-size: 11px;
    line-height: 1.3em;
  }
}
#avina-more {
  border-radius: 0;
}
#avina-carousel {
  max-height: 463px;
  overflow: hidden;
  margin-top: 4px;
}
#avina-carousel .carousel-indicators {
  bottom: 0;
  right: 0;
  top: auto;
  left: inherit;
  margin: 0;
  width: auto;
}
#avina-carousel .carousel-indicators li {
  width: 30px;
  height: 30px;
  border-radius: 0;
  text-indent: 0;
  text-align: center;
  background-color: #000;
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
  color: #FFF;
  margin: 0;
  border: none;
}
#avina-carousel .carousel-indicators li.active {
  background-color: rgba(125,53,109,0.8);
  background-color: #7D356D;
}
#avina-carousel .caption {
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 10px 20px;
  padding-top: 10%;
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.7)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#33000000',GradientType=0);
}
#avina-carousel .caption h2 {
  color: #FFF;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  line-height: 1em;
}
@media (min-width: 768px) {
  #avina-carousel .caption h2 {
    font-size: 36px;
  }
}
#avina-carousel .caption .btn-avina {
  margin-top: 10px;
  display: block;
}
#avina-carousel .image {
  max-height: 463px;
  display: block;
  overflow: hidden;
  position: relative;
}
#avina-carousel .image img {
  width: 100%;
}
#category-menu-avina {
  margin: 0;
  margin-top: 20px;
}
#category-menu-avina #menu-menu-sub-avina {
  text-align: center;
}
#category-menu-avina #menu-menu-sub-avina li {
  display: inline-block;
  padding: 0 5px;
}
#category-menu-avina #menu-menu-sub-avina li a {
  color: #FFF;
  font-family: 'Lato', serif;
  text-transform: uppercase;
  font-family: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
#category-menu-avina #menu-menu-sub-avina li a:hover {
  color: #FFF;
  text-decoration: none;
  background: #666;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
#category-menu-avina #menu-menu-sub-avina li a.active {
  background: #666;
}
.article.avina {
  margin: 0 !important;
  padding: 0 !important;
  max-height: auto !important;
  overflow: hidden !important;
}
@media (min-width: 480px) {
  .article.avina {
    max-height: 203px !important;
  }
}
.article.avina .img-link {
  padding-bottom: 71%;
  height: 0;
}
.article.avina .article-content {
  position: relative;
  cursor: pointer;
}
.article.avina .article-content .theTitleContainer {
  height: 50px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.article.avina .article-content .theTitleContainer .theTitle {
  margin-top: 5px;
}
.article.avina .article-content .theTitleContainer .theTitle a {
  color: #FFF;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  display: block;
  padding: 0 10px;
  font-weight: 300;
  height: 50px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.article.avina .article-content .theTitleContainer .theTitle a:hover {
  text-decoration: none;
}
.article.avina .article-content .theTitleContainer .entry-content a {
  color: #FFF;
  padding: 20px 10px 0;
  text-decoration: none;
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 14px;
}
.article.avina .article-content .theTitleContainer .entry-content a:hover {
  text-decoration: none;
}
.article.avina:hover .article-content .theTitleContainer {
  height: 208px;
  margin-top: -208px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.article.avina:hover .article-content .theTitleContainer .theTitle a {
  font-size: 20px;
  margin-top: 30px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#avina-news-container {
  width: 100%;
  padding: 0;
  margin-top: 25px;
}
#avina-pagination {
  display: block;
}
#avina-pagination #loadMore {
  float: none;
  display: inline-block;
}
#timeline-container {
  margin-top: 45px;
}
#timeline-container .timeline-title {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border-top: 1px solid #7D356D;
  border-bottom: 1px solid #7D356D;
  color: #FFF;
  margin: 0;
  line-height: 33px;
}
#footer-menu-container {
  margin-top: 20px;
  margin-bottom: 80px;
}
#footer-menu-container #menu-menu-avina {
  text-align: center;
}
#footer-menu-container #menu-menu-avina li {
  display: inline-block;
  border-left: 1px solid #FFF;
  padding: 10px;
}
#footer-menu-container #menu-menu-avina li a {
  color: #FFF;
  font-family: 'Lato', serif;
  text-transform: uppercase;
  font-family: 14px;
}
#footer-menu-container #menu-menu-avina li a:hover {
  color: #FFF;
  text-decoration: none;
}
#footer-menu-container #menu-menu-avina li:last-child {
  border-right: 1px solid #FFF;
}
@media (min-width: 768px) {
  .article.avina {
    width: 25% !important;
  }
  #footer-menu-container #menu-menu-avina li {
    min-width: 80px;
    max-width: 131px;
  }
}
@media (max-width: 480px) {
  #footer-menu-container #menu-menu-avina {
    text-align: left;
    margin-left: 12px;
  }
  #footer-menu-container #menu-menu-avina li {
    border: none !important;
  }
}
@media (max-width: 768px) {
  #footer {
    text-align: center;
  }
  #footer .text-widget {
    text-align: center !important;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  #nm_footer_row_2 .text-widget a {
    padding-bottom: 10px;
    display: block;
  }
}
#nm_footer_row_2 .text-widget a:after {
  content: " / ";
}
@media (max-width: 768px) {
  #nm_footer_row_2 .text-widget a:after {
    content: "";
  }
}
#tl2 .timeline_line,
#content #tl2 .timeline_line {
  width: 920px;
}
#tl2 h4.t_line_month,
#content #tl2 h4.t_line_month {
  color: #ccc;
}
#tl2 .t_line_view,
#content #tl2 .t_line_view {
  width: 920px;
}
#tl2 .t_line_m,
#content #tl2 .t_line_m {
  width: 458px;
}
#tl2 .t_line_m.right,
#content #tl2 .t_line_m.right {
  left: 459px;
  width: 459px;
}
#tl2 .t_node_desc span,
#content #tl2 .t_node_desc span {
  background: #000000;
}
#tl2 .t_node_desc span:after,
#content #tl2 .t_node_desc span:after {
  border-top-color: #000000;
}
#tl2 .t_line_node,
#content #tl2 .t_line_node {
  color: #ccc;
  font-size: 10px;
  padding-top: 42px;
}
#tl2.flatLine .t_line_holder:before {
  content: " ";
  display: block;
  width: 100%;
  border-top: 1px solid #ccc;
  position: absolute;
  top: 50px;
}
#tl2.flatLine .t_line_holder,
#content #tl2.flatLine .t_line_holder {
  background: none;
}
#tl2 .t_line_node:after,
#content #tl2 .t_line_node:after {
  background: #fff;
  height: 9px;
  width: 9px;
  margin: 1px 0 0 -5px;
  top: 25px;
}
#tl2 .t_line_node.active:after,
#content #tl2 .t_line_node.active:after {
  background: #883C78;
  border-color: #883C78;
  width: 16px;
  height: 16px;
  margin: 0 0 0 -10px;
  top: 20px;
}
#tl2 .item.item_node_hover:before,
#content #tl2 .item.item_node_hover:before {
  background: #000000;
}
#tl2 .item.item_node_hover:after,
#content #tl2 .item.item_node_hover:after {
  border-top-color: #000000;
}
#tl2 #t_line_right:hover,
#content #tl2 #t_line_right:hover,
#tl2 #t_line_left:hover,
#content #tl2 #t_line_left:hover {
  color: #000000;
}
#tl2 .item h2,
#content #tl2 .item h2 {
  font-size: 24px;
  color: #000000;
  text-align: left;
  line-height: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-weight: normal;
  font-style: normal;
}
#tl2 .item h2 a,
#content #tl2 .item h2 a {
  color: #000;
}
#tl2.flatNav .t_left,
#tl2.flatNav .t_right,
#content #tl2.flatNav .t_left,
#content #tl2.flatNav .t_right {
  opacity: 1;
  background: #000;
  display: block !important;
}
@media (max-width: 480px) {
  #tl2.flatNav .t_left,
  #tl2.flatNav .t_right,
  #content #tl2.flatNav .t_left,
  #content #tl2.flatNav .t_right {
    width: 48px;
  }
}
#tl2.flatNav .t_left:after,
#tl2.flatNav .t_right:after,
#content #tl2.flatNav .t_left:after,
#content #tl2.flatNav .t_right:after {
  position: absolute;
  content: ">";
  color: #fff;
  top: 50%;
  left: 0;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-top: -25px;
}
#tl2.flatNav .t_left:after {
  content: "<";
}
#tl2 .item span,
#content #tl2 .item span {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#tl2 .item span.date,
#content #tl2 .item span.date {
  margin: 5px 0;
  color: #666;
}
#tl2 .item,
#content #tl2 .item {
  width: 340px;
  height: 360px;
  background: #dbd5c7 url() repeat;
  font-size: 12px;
  color: #333333;
  line-height: 12px;
  font-weight: normal;
  font-style: normal;
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=0,Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=5,Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=5,Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=0,Direction=270);
}
@media (max-width: 480px) {
  #tl2 .item,
  #content #tl2 .item {
    width: 235px;
    height: 420px;
  }
}
#tl2 .item_open h2,
#content #tl2 .item_open h2 {
  font-size: 24px;
  color: #000000;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
}
#tl2 .item_open,
#content #tl2 .item_open {
  width: 490px;
  height: 360px;
  background: #dbd5c7 url() repeat;
  font-size: 12px;
  color: #333333;
  line-height: 12px;
  font-weight: normal;
  font-style: normal;
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=0,Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=5,Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=5,Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#888888,Strength=0,Direction=270);
}
#tl2 .item .con_borderImage,
#content #tl2 .item .con_borderImage {
  border: 0px;
  border-bottom: 0px solid #1986ac;
  height: 150px;
  overflow: hidden;
}
#tl2 .item .con_borderImage img,
#content #tl2 .item .con_borderImage img {
  max-width: 100%;
}
#tl2 .item .post_date,
#content #tl2 .item .post_date {
  border: 0px;
  background: #1986ac;
}
#tl2 .item_open .con_borderImage,
#content #tl2 .item_open .con_borderImage {
  border-bottom: 0px solid #1986ac;
}
#content #tl2 .item_open_cwrapper,
#content #tl2 .item_open .con_borderImage {
  width: 490px;
}
#tl2 .item_open .t_close:hover,
#content #tl2 .item_open .t_close:hover {
  background: #444444;
}
#tl2.flatButton .item .read_more,
#tl2.flatWideButton .item .read_more,
#content #tl2.flatButton .item .read_more,
#content #tl2.flatWideButton .item .read_more {
  background: #000000;
  margin: 20px;
}
#tl2.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#tl2.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#content #tl2.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#content #tl2.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #000000;
}
#tl2 .item .read_more:hover,
#content #tl2 .item .read_more:hover {
  background: #444444;
}
#tl2.flatButton .item_open.item_open_noImg .t_close,
#tl2.flatWideButton .item_open.item_open_noImg .t_close,
#content #tl2.flatButton .item_open.item_open_noImg .t_close,
#content #tl2.flatWideButton .item_open.item_open_noImg .t_close {
  color: #000000 !important;
}
#tl2.flatButton .item_open.item_open_noImg .t_close:hover,
#tl2.flatWideButton .item_open.item_open_noImg .t_close:hover,
#content #tl2.flatButton .item_open.item_open_noImg .t_close:hover,
#content #tl2.flatWideButton .item_open.item_open_noImg .t_close:hover {
  color: #444444 !important;
}
#tl2 .item .read_more,
#content #tl2 .item .read_more,
#tl2 .item_open .t_close,
#content #tl2 .item_open .t_close {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#44000000',endColorstr='#44000000');
}
#tl2 .t_node_desc,
#content #tl2 .t_node_desc {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc1a86ac',endColorstr='#cc1a86ac');
}
#tl2 .timeline_open_content,
#content #tl2 .timeline_open_content {
  padding: 20px;
}
@media (min-width: 1200px) {
  .container {
    width: 1220px;
  }
}
.main {
  min-height: 800px;
  padding-bottom: 30px;
}
.main.container {
  background-color: #f8f8f8;
}
#content.index {
  margin-top: 20px;
}
.error-notification {
  background-color: #D3F2FC;
  text-align: center;
  padding: 13px 40px;
  margin-top: 25px;
}
#content.my-spacing .row {
  margin-right: -5px;
  margin-left: -5px;
}
#content.my-spacing .row [class^="col-"],
#content.my-spacing .row [class*=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
#content.my-spacing .row [class^="col-"].no-padding,
#content.my-spacing .row [class*=" col-"].no-padding {
  padding: 0;
}
.nav-single {
  display: none;
}
.share-links {
  text-align: center;
  padding: 10px;
}
.share-links a {
  color: #999;
  font-size: 18px;
  margin: 0 10px;
}
.share-links .facebook:hover {
  color: #3D70AB !important;
}
.share-links .twitter:hover {
  color: #1CBAEB;
}
.share-links .email .fa-envelope {
  display: none;
}
.share-links .email:hover {
  color: #7D3772;
}
.share-links .email:hover .fa-envelope-o {
  display: none;
}
.share-links .email:hover .fa-envelope {
  display: inline-block;
}
.share-links-single.addthis_toolbox {
  position: absolute;
  margin-left: -54px;
  top: 270px;
  width: 38px;
}
.share-links-single.addthis_toolbox a {
  display: block;
  color: #fff;
  margin: 0;
  line-height: 38px;
  text-align: center;
}
.share-links-single.addthis_toolbox a.facebook {
  background-color: #3A579A;
  border-top-right-radius: 5px;
}
.share-links-single.addthis_toolbox a.twitter {
  background-color: #1CBAEB;
}
.share-links-single.addthis_toolbox a.googleplus {
  background-color: #DF4A32;
}
.share-links-single.addthis_toolbox a.email {
  background-color: #7D3773;
  border-bottom-right-radius: 5px;
}
.share-links-single.addthis_toolbox a:hover {
  width: 45px !important;
}
#pbd-alp-load-posts {
  text-align: center;
  margin-top: 20px;
}
#pbd-alp-load-posts a {
  background-color: #883F7E;
  color: #fff;
}
.twitter_sidebar {
  color: #fff;
  background-color: #03B4F2;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  min-height: 75px;
}
.twitter_sidebar .fa {
  float: left;
  font-size: 50px;
}
.twitter_sidebar iframe {
  margin-top: 5px;
  display: inline-block;
}
.facebook_sidebar {
  color: #fff;
  background-color: #3D70AB;
  text-align: center;
  padding: 10px 30px;
  font-weight: bold;
  margin-top: 10px;
}
.facebook_sidebar .fa {
  float: left;
  font-size: 50px;
}
.facebook_sidebar iframe {
  margin-top: 5px;
  display: inline-block;
  background-color: rgba(255,255,255,0.6);
  padding: 10px 10px;
  width: 100%;
  height: 40px;
}
.mailchimp_sidebar {
  background-color: #723068;
  padding: 5px 20px;
  position: relative;
  margin-top: 8px;
  padding-top: 30px;
}
.mailchimp_sidebar #mc_embed_signup {
  background-color: transparent;
}
.mailchimp_sidebar #mc_embed_signup .button {
  color: #444;
  margin: 0 auto;
  background-image: -moz-linear-gradient(50% 0% 180deg,#ffe200 0%,#ffbf00 100%);
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,#ffe200),color-stop(1,#ffbf00));
  background-image: -webkit-linear-gradient(180deg,#ffe200 0%,#ffbf00 100%);
  background-image: -o-linear-gradient(180deg,#ffe200 0%,#ffbf00 100%);
  background-image: -ms-linear-gradient(180deg,#ffe200 0%,#ffbf00 100%);
  background-image: linear-gradient(180deg,#ffe200 0%,#ffbf00 100%);
  width: 98px;
  height: 30px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffe200,endColorstr=#ffffbf00,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffe200,endColorstr=#ffffbf00,GradientType=0);
}
.mailchimp_sidebar #mc_embed_signup form {
  padding: 0;
}
.mailchimp_sidebar label {
  color: #fff;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
}
.mailchimp_sidebar input[type=text],
.mailchimp_sidebar input[type=email] {
  width: 90% !important;
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
  font-size: 16px;
  color: #666;
  position: relative;
  z-index: 10;
}
.mailchimp_sidebar:after {
  content: " ";
  position: absolute;
  background: transparent url('../images/sobre.png') top left no-repeat;
  width: 120px;
  height: 102px;
  right: 8px;
  top: -8px;
}
.wp-caption {
  margin-bottom: 12px;
  text-align: center;
  padding: 5px;
  background: #dfdfdf;
  max-width: 100%;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption .wp-caption-text {
  font: normal 12px/18px Trebuchet MS, Arial, sans-serif !important;
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
  font-style: italic;
}
