﻿/*
Theme Name: 2 Orillas - Use It
Theme URI: http://useitweb.com
Description: Responsive
Author: UseIt Web
Author URI: http://useitweb.com
Version: 1.0.1
Tags: flexible-width, custom-menu, featured-images, flexible-header, microformats, post-formats, sticky-post, theme-options, translation-ready
*/


 /* estilos */ 
.attachment img { max-width: 740px; }
.alignnone, img.alignnone {display: block; clear: both; margin-bottom: 12px;}
.alignleft, img.alignleft { margin-right: 12px; display: inline; float: left; }
.alignright, img.alignright { margin-left: 12px; display: inline; float: right; margin-right: 12px; }
.aligncenter, img.aligncenter { margin-right: auto; margin-left: auto; display: block; clear: both; }
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 12px; }
/*.wp-caption { margin-bottom: 12px; text-align: center; padding-top: 5px; background: #dfdfdf; }
.wp-caption img { border: 0 none; padding: 0; margin: 0; }
.wp-caption p.wp-caption-text { font: normal 12px/18px Trebuchet MS, Arial, sans-serif!important; line-height: 1.5; font-size: 10px; margin: 0; font-style: italic; }*/
.wp-smiley { margin: 0 !important; max-height: 1em; }
.gallery { margin: 0 auto 18px; }
.gallery .gallery-item { float: left; margin-top: 0; text-align: center; width: 33%; }
.gallery .gallery-caption { color: #888; font-size: 12px; margin: 0 0 15px; }
.gallery dl { margin: 0; }
.gallery br+br { display: none; }
.attachment img { /* single attachment images should be centered */ display: block; margin: 0 auto; }

.Poder { border-top:5px solid #A6BDFF; }
.ElGoce { border-top:5px solid #fbb1ff; }
.EnProfundidad { border-top:5px solid #cac1af; }
.LaGente { border-top:5px solid #ffcaba; }
.opinion { border-top:5px solid #46EDB5; }
.Opinion { border-top:5px solid #46EDB5; }
.NotaCiudadana { border-top:5px solid #ffde00; }
.AlMinuto { border-top:5px solid #000000; }
.pagina { border-top:5px solid #000000; }

#nota-bottom , #nota-bottom a { float: right; color: #000; text-transform: uppercase; font-size: 10px; } 

.clear:after { content: "."; display: block; clear: both; visibility: hidden; }
div.cat-interna img{ float:left; margin:2%; width:40%}
.text-categoria {float:right;margin-right:3%;max-width:48%}
.text-categoria100 { float:right; margin-right:3%; width:94%}
.text-categoria100 h1{ font-size: 1em !important; margin-bottom:0 !important }
.text-categoria100 .meta-posted-by{padding-top:0;margin-bottom:0}
.text-categoria100 .entry-content{ font:11px/16px Verdana,sans-serif; }
.text-categoria h1{ font-size:1em !important; margin-bottom:0 !important}
.text-categoria .meta-posted-by {padding-top:0;margin-bottom:0}

div.text-author { padding: 5px; }
h3.entry-title, h3.entry-title a { font-size: 14px; line-height: 19px; margin-bottom: 10px; color: #000000; }
h1.entry-title a { font: 30px/42px 'Bree Serif',serif; margin-bottom: 8px; color: #000000; }
h1.tag-title { font: 18px/26px 'Bree Serif',serif; margin-bottom: 15px; color: #000000; }
h1.thetitle a { font: 14px/16px 'Bree Serif',serif; color: #000000; }
h1.cat-entry a { font: 14px/18px 'Bree Serif',serif; margin-bottom: 10px; margin-top: 5px; color: #000000; }  
div.text-categoria p { margin-top: 5px; font:11px/16px Verdana,sans-serif; }
article.span6:nth-child(odd) {clear:both;}
div.span6:nth-child(odd) {clear:both;}
.article-columnistas .avatar-columnista{float:left;margin-left:3%;width:25%}
.article-columnistas .text{float:right;margin-right:3%;width:65%}
.article-columnistas .text .meta-posted-by{padding-top:0px;margin-bottom:0px}

#infinite-handle span{margin: 3px; padding-top:15px;text-align:center}
#infinite-handle span {background-color:#5db3ff;color:#fff; font-family:'Bree Serif',serif; font-size:1.1em; font-weight:100;text-transform: uppercase;padding:4px 10px}
#infinite-handle span a:hover{background-color:#4b94d6;text-decoration:none}

#header #menu-item-620 a:hover,
#header #menu-item-620.current-menu-item a{ border-bottom:4px solid #FBB1FF }
#header #menu-item-621 a:hover,
#header #menu-item-621.current-menu-item a{ border-bottom:4px solid #a6bdff }
#header #menu-item-622 a:hover,
#header #menu-item-622.current-menu-item a{ border-bottom:4px solid #FFCABA }
#header #menu-item-623 a:hover,
#header #menu-item-623.current-menu-item a{ border-bottom:4px solid #46EDB5 }
#header #menu-item-624 a:hover,
#header #menu-item-624.current-menu-item a{ border-bottom:4px solid #CAC1AF }

/*
.menu-item-621 a:hover { border-bottom:4px solid #a6bdff }
.menu-item-622 a:hover { border-bottom:4px solid #FFCABA }
.menu-item-623 a:hover { border-bottom:4px solid #46EDB5 }
.menu-item-624 a:hover { border-bottom:4px solid #CAC1AF }
.menu-item-620 a:hover { border-bottom:4px solid #FBB1FF }
*/
#header .main-nav ul li.current-menu-item a {border-bottom:4px solid #000}
#header .sub-nav { position: relative; width: 550px; float: right;}
#header .sub-nav .second-nav { float:left; margin-top: 6px; }
#header .sub-nav .second-nav ul li { display:inline-block }
#header .sub-nav .second-nav ul li a { background:url(./assets/images/sprites/btn-misc.png) no-repeat -10px -58px; display:inline-block; text-indent:-9999px; height:38px; width:132px }
#header .sub-nav .second-nav ul li+li a { background-position:-10px -106px; height:38px; width:132px}
#header .sub-nav .cont-search-bar input[type=submit] { background:url(./assets/images/sprites/search.png) no-repeat -10px -60px; height:38px; position:absolute; text-indent:-9999px; width:40px }
#header .sub-nav .cont-search-bar a:hover { background-position:-10px -58px}
#header #searchform { height:37px; padding:5px; float:right; width: 260px; }
#header #searchform input[type=submit] { background:url(./assets/images/sprites/search.png) no-repeat -10px -60px; height:38px; position:absolute; text-indent:-9999px; width:40px }

#header #searchform input[type=text] { -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; height: 30px; }
#header .cont-search-bar { width: 500px; }

/*ul.lista-al-minuto  { width: 100%; list-style-type: none; }
ul.lista-al-minuto li { width: 47%; margin: 0px; float: left; padding: 10px; position: relative; display:table-row; min-height: 110px; background-color: #c1c1c1; } 
ul.lista-al-minuto li a { font: 16px/24px 'Bree Serif',serif; color: #000000; } 
div.post-minuto { width: 98%; } */
/*ul.lista-al-minuto li:nth-last-of-type(-n+2){ width: 100%;  } */

#entry-blog { margin-bottom: 100px; }

/*#entry-post{padding:4.628330995792% 3.225806451613%}*/
#entry-post article header{*zoom:1;margin-bottom:20px}
#entry-post article header:before,#entry-post article header:after{display:table;content:"";line-height:0}
#entry-post article header:after{clear:both}
/*#entry-post article h1{ font: 30px/42px 'Bree Serif',serif; margin-bottom: 8px; color: #000000;}
#entry-post .meta-posted-by{color:#787878;font-family:Verdana,Geneva,sans-serif;font-size:11px;}
#entry-post .meta-posted-by a{color:#787878;font-weight:bold} */
#entry-post .date{color:#787878;font-family:'Old Standard TT',serif;font-size:1em;margin-bottom:10px}
#entry-post .entry-tags{background:url((./assets/images/icons/ico-tag.gif) no-repeat top left;color:#787878;font-family:Verdana,Geneva,sans-serif;font-size:.9em;font-style:italic;margin-bottom:17px;padding:1px 20px 6px;vertical-align:middle}
#entry-post .entry-tags a{color:#787878}
/*#entry-post .meta-category{float:right;font-family:'Bree Serif',serif;font-size:1.1em;padding:5px 14px}
#entry-post .meta-category a{color:#000;text-transform:uppercase}
#entry-post .meta-category a+a{display:none}*/
#entry-post .form-allowed-tags{display:none}
#entry-post .entry-thumb{margin-bottom:20px}
#entry-post .post-like{margin-right:15px}
#entry-post .entry-share{border-bottom:1px solid #ebebeb;border-top:1px solid #ebebeb;margin-bottom:30px;padding-bottom:10px;padding-top:13px;position:relative}
#entry-post .entry-share h4{margin-bottom:0}
#entry-post .entry-share .post-title{float:left;margin-right:10px}

/*#sidebar-right .popular ul li a{color:#000;text-decoration:none; font: 13px/16px 'Bree Serif', serif; }
#sidebar-right .popular ul li a:hover{text-decoration:underline}
.popular ul  { list-style-type: none; padding: 6px; }
.popular ul li { margin-bottom: 6px; }
.popular ul li a{ color:#000;text-decoration:none; font: 13px/16px 'Bree Serif', serif; margin-bottom: 3px; }*/

#sidebar-right  ol.wpp-list li a{color:#000; text-decoration:none; font: 13px/27px 'Bree Serif', serif; margin-left: 38px;
display: table; }
#sidebar-right  ol.wpp-list li a:hover{text-decoration:underline}

#sidebar-right .widget-sidebar ol li { padding-left: 40px; }

ol.wpp-list { list-style: none; counter-reset: li; margin: 15px 0px; }
ol.wpp-list li{ position:relative; margin-bottom: 10px; }
ol.wpp-list > li:before{ content:counter(li); counter-increment:li; text-align: center; display:block; position:absolute; width: 27px; height: 27px; line-height: 27px; font: bold italic 20px/26px serif; top: 0; left:0; color: #888888; }

#sidebar-right .widget-sidebar ul{list-style:none}
#sidebar-right .widget-sidebar ol{list-style-position:inside}
.widget-sidebar ol li{padding-left:40px}

.widget-post-big-thumb { text-align: center; }
.wid-pad { padding:0 3.947368421053%; }
.wid-especial{ padding:0.5% 2.947368421053%; color: #FFFFFF; }
.img-especial { float: right; text-align: right; margin: 2px; width: 250px; }
.img-multiespecial { float: left; text-align: left; margin: 0px 2px; }
.img-multiespecial img { width: 70px; height: 70px; }
.img-multimundial img { width: 163px; height: 115px; }
.img-multimundial { float: left; text-align: left; margin: 0px 2px;}
h2.especial { font: 20px/28px 'Bree Serif',serif; margin:15px; padding:0; text-transform: uppercase; text-align: center; color: #ffde00; }
h2.multi-color { font: 20px/26px 'Bree Serif',serif; margin:15px; padding:0; text-transform: uppercase; text-align: center; color: #000000; }
.img-multicolor img { width: 70px; height: 70px; }
.img-multicolor { float: right; text-align: left; margin: 0px 2px; }
.multicolor-posts-widget {list-style:none}
.multicolor-posts-widget li {margin-bottom:20px}
.multicolor-posts-widget li .avatar {float:right; margin-right:6px;width:37px}
.multicolor-posts-widget li .post-title {display:table-row}
.multicolor-posts-widget li .post-title h5 {font-size:12px; font-weight: normal;line-height: 1;}
.multicolor-posts-widget li .post-title h5 a {color:#000000;font-weight: normal;}
.multicolor-posts-widget li .post-title .posted-by a {color:#000000; font: 10px/14px Verdana,Geneva,sans-serif; line-height: 1;}
h4.title-especial a { color: #ffffff; margin: 0px 0px 15px; }
div#especial-content.wid-especial p { color: #e7e7e7; font-size: 12px; }

#opinion_disc { font: 9px/11px Verdana, sans-serif; padding: 5px; background: #46EDB5;  }  
#nota_disc { font: 9px/11px Verdana, sans-serif; padding: 5px; background: #FFDE00; margin-bottom: 10px; }
.entry-content ol { margin: 0px 20px 0px 50px; }

#mc_signup_form{ margin: 0 0 20px 20px; }

blockquote.quotederecha {  
font: italic 15px/21px 'Bree Serif', sans-serif; width: 250px;
margin: 0.25em 0; padding: 0.25em 20px; float: right; position: relative;
color: #000000; border-left:5px solid #999999; }
blockquote.quotederecha cite { color: #efefef; font-size: 14px; display: block; margin-top: 5px; }
blockquote.quotederecha cite:before { content: "\2014 \2009"; }
span.met { font-size: 10px; }
#entry-post blockquote.quote { font-size: 11px; line-height: 14px; margin: 15px; padding: 10px 15px; }
#entry-post blockquote.quote p { font-size: 11px; line-height: 14px;  }

h2.especial-multi {font: 15px/21px 'Bree Serif',serif; margin:15px; padding:0; text-transform: uppercase; text-align: center; color: #ffde00;}
.multitulo-posts-widget{list-style:none}
.multitulo-posts-widget li{margin-bottom:20px}
.multitulo-posts-widget li .avatar{float:left;margin-right:6px;width:37px}
.multitulo-posts-widget li .post-title{display:table-row}
.multitulo-posts-widget li .post-title h5{font-size:13px; font-weight: normal;}
.multitulo-posts-widget li .post-title h5 a{color:#FFFFFF;font-weight: normal;}
.multitulo-posts-widget li .post-title .posted-by a {color:#FFFFFF; font: 10px/14px Verdana,Geneva,sans-serif;}
a.leer-mas { color:#000!important;font-family:'Old Standard TT',serif;font-size:11px;font-style:italic;opacity:1;text-decoration:underline; }
a.leer-mas:hover { text-decoration:none; }
span.nav-previous { width:35%; float: left; color: #444; background: #f1f1f1; font-size: 10px; line-height: 14px; } 
span.nav-next { width: 35%; float: right; color: #444; background: #f1f1f1; font-size: 10px; line-height: 14px; }
span.nav-previous a { color: #444; text-decoration: none; } 
span.nav-next a { color: #444; text-decoration: none; } 
span.nav-previous a:hover { color: #444; text-decoration: none; }  
span.nav-next a:hover { color: #444; text-decoration: none; } 
.entry-content h2 { font: 16px/25px 'Bree Serif', sans-serif; }
.entry-content h3 { font: 14px/22px 'Bree Serif', sans-serif; }

.article-columnistas {padding:8px;width:45.4%;height:150px;float:left;margin-right:2%; overflow: hidden;}
.article-columnistas .avatar-columnista {float:left;margin-left:3%;width:25%}
.article-columnistas .text {float:right;margin-right:3%;width:65%}
.article-columnistas .text .meta-posted-by{padding-top:0px;margin-bottom:0px}
.article-columnistas .text .entry-content{ font:10px/14px Verdana,sans-serif; }

img#thumbnail { width: 160px; margin: 0 5px 0 3px; float: left; }

.peregrinos-posts-widget{ list-style:none; }
.peregrinos-posts-widget li{ margin: 10px -2px 20px 3px; }
.peregrinos-posts-widget li .avatar{float:left;margin-right:6px;width:37px}
.peregrinos-posts-widget li .post-title{display:table-row}
.peregrinos-posts-widget li .post-title h5{font-size:12px;line-height:1;}
.peregrinos-posts-widget li .post-title h5 a{color:#000}

select#author { width: 230px; height: 27px; margin-top: 0px; vertical-align:text-top; border: 1px solid #5db3ff; -webkit-border-radius: 0px; }
#buscarop input[type=submit] { background: #5db3ff; border:none; color: #FFFFFF; font: 15px/21px 'Bree Serif',serif; height: 30px; margin-top: 3px; } 
#buscarop { width: 90%; margin: 0 auto 20px; padding: 10px; border: 2px solid #5db3ff; text-align: center;  }
/* clase menu flotante*/ 
#nav.affix {
    top: 0;
    right:0;
    left:0;
    width: 1180px;
	z-index: 9999;
	margin: 0 auto;
	width:100%;
	border: 0px;
	-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0px;
-moz-box-shadow: 0px;
box-shadow: 0px;
}

div.navbar-inner {
background: rgb(255,255,255);
background: rgba(255,255,255,.9);
	border: 0px;
	-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0px;
-moz-box-shadow: 0px;
box-shadow: 0px;
padding-left:18%;
}
#nav-wrapper { background-color: #f1f1f1; border: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 ;
-moz-box-shadow: 0;
box-shadow: 0;
} 

@media (max-width: 979px) {
	body { background-color:#f1f1f1;}
	#nav.affix, #nav.affix-top { position: relative; }
	div.navbar-inner { display: none; } 
}

@media (max-width:767px) {
#infinite-handle span { display: block; height: 30px; clear: both; }
.article-columnistas {padding:8px;width:97%;height:150px;float:left;margin-right:2%; overflow: hidden;}
div.navbar-inner { display: none; } 
}

.wp-pagenavi { clear: both; font: 14px/18px 'Bree Serif', serif; text-align: center; margin-bottom: 25px; }
.wp-pagenavi a, .wp-pagenavi span { text-decoration: none; border: 1px solid #FFFFFF; padding: 3px 5px; margin: 2px; }
.wp-pagenavi a  { color: #BFBFBF; }
.wp-pagenavi a:hover{ color: #000; text-decoration:none; }
.wp-pagenavi a:hover, .wp-pagenavi span.current { border-color: #000 !important; }
.wp-pagenavi span.current { font-weight: bold; }

.my-paginated-posts { clear: both; font: 15px/18px 'Bree Serif', serif; text-align: center; background: #000; padding: 10px; color: #FFFFFF; margin-bottom: 25px; }
.my-paginated-posts a, .my-paginated-posts span { text-decoration: none; padding: 4px 5px; margin: 2px; }
.my-paginated-posts a { color: #BFBFBF; }
.my-paginated-posts a:hover{ color: #000; text-decoration:none; }
.my-paginated-posts a:hover, .my-paginated-posts span.current { border-color: #000; }
.my-paginated-posts span.current { font-weight: bold; }

h2.wid-pad { font-size: 15px; line-height: 1; margin-top: 10px; }
.posts-widget{ list-style:none; }
.posts-widget li{ margin: 10px 20px 20px 10px; }
.posts-widget li .avatar{float:left;margin-right:6px;width:37px}
.posts-widget li .post-title{display:table-row}
.posts-widget li .post-title h5{font-size:12px;line-height:1;}
/*div.meta-posted-by {font-size:10px;line-height:1;}
div.meta-posted-by a {color: #626262; font-size:10px;line-height:1;}*/
.posts-widget li .post-title h5 a{color:#000}
.espacio { margin-top: 15px; }

#sidebar-right .bg-box.full-width{border-top:5px solid #000000;}
#sidebar-right .bg-box.full-width h2{color:#000;font-size:1.1em;margin-bottom:20px;text-transform:uppercase}
/*#twitter-widget-0{margin-top:20px;padding-bottom:20px;}*/
