@charset "utf-8";
/*-----------------------------------------------
  背景（#abd2d2）
-----------------------------------------------*/

#header {
	background: url(/images/header/header_bg.gif) top repeat-x;
	background-color: #abd2d2;
}


/*-----------------------------------------------
  緊急告知
-----------------------------------------------*/

#notice {
	display: block;
	padding: 0 0 6px 0;
}
#notice p {
	color: #cc0000;
}

/*-----------------------------------------------
  特集リスト
-----------------------------------------------*/
.special_list_title {
	margin-left: 6px;
	position: relative;
	border-bottom: 1px dotted #ddd;
	padding: 14px 0;
}

/*-----------------------------------------------
 PC用(2015/7/1)
-----------------------------------------------*/
#header {
	background: none;
	background-color: #fff;
}
.ttlbar {
	margin: 0px 0 20px 0;
	position: relative;
}
.ttlbar {
	border-left: 6px solid #00B8F4;
	font-size: 26px;
	line-height: 1.3em;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 5px;
}
/* 20151202 */.ttlbar_sp {
	margin: 0px 0 20px 0;
	position: relative;
}
/* 20151202 */.ttlbar_sp {
	border-left: 6px solid #00B8F4;
	font-size: 26px;
	line-height: 1.3em;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 5px;
}
.specialbox {
	margin: 15px 15px 20px 0;
	position: relative;
}
.specialbox a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.sbdr{
	height:2px;
	background-color:#ddd;
	margin-bottom:20px;
}

.specialbox .ph {
	float: left;
}
.specialbox .ph img {
	width: 400px;
}
.specialbox .txt {
	padding-left: 410px;
	font-size: 14px;
	line-height: 1.5em;
}
.specialbox .txt .mds {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.sparealnk{
	line-height:1em;
	font-size:14px;
	margin-bottom:20px;
}
.machi .ttl {
    display: none;
}
.special_list_title a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.sparealnk a {
	padding-bottom:1px;
}
.sparealnk a:hover {
    color: #0769A9;
    text-decoration:none;
}
h4 {
    font-size: 15px;
    color: #00B8F4;
	
    background: transparent url(/images/arrow_entertainment2.gif) no-repeat scroll 2px 10px;
	
    padding: 5px 5px 0 15px;
}
.special_list_title span {
    color: #333;
    font-weight: 100;
}
.special_list_title p {
    display: block;
    margin-top: 5px;
}
.special_list_title.last {
    border: none;
}
.machi {
    display: none;
}

/* 20151202 */.specialAll_list {
	margin-bottom: 40px;
}
.area_special {
	margin-bottom: 40px;
}
/* wppc areatop.css 20151202 */
.t_headline .p04 {
	border-top: 1px dotted #ddd;
	margin: 0 15px 40px 0;
}
.t_headline .p04 li {
	border-bottom: 1px dotted #ddd;
	padding: 10px 0 10px 15px;
	position: relative;
}
.t_headline .p04 li .subtxt {
	    padding-bottom: 1px;
}
.t_headline .p04 li .ttltxt {
	font-weight: normal;
	padding: 0px 50px 0px 0px;
}
.t_headline .p04 li .subtxt::before {
	color: #00b8f4;
	content: "●";
	padding-right: 2px;
}
.t_headline .p04 li a {
	background: /*rgba(0, 0, 0, 0) IE8対応*/ url("/images/top/nav_lnk.png") no-repeat scroll right center;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
}
.module p{
	padding:3px 0;
	font-size:14px;
	line-height:1.5em;
}
.module p.ttltxt{
	font-weight:bold;
	font-size:14px;
	line-height:1.5em;
}
.module p.subtxt{
	font-size:14px;
	padding-top:0;
	color:#666;
}
/* PDSD共有特集モジュール2 */
.specialbox_inner {
	margin: 15px 15px 20px 0;
	position: relative;
}
.specialbox_inner .ph {
	float: left;
}
.specialbox_inner .ph img {
	width: 400px;
}
.specialbox_inner .txt {
	padding-left: 410px;
	font-size: 14px;
	line-height: 1.5em;
}
.specialbox_inner .txt .mds {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.specialbox_inner a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.sparealnk2_wrap  {
	margin: 0px auto 20px;
}
.sparealnk2 {
	width: 620px;
	background: url("/images/common/dot_ddd.png") left 7px no-repeat;
	background-size: 1px 14px;
}
.sparealnk2 p  {
	float:left;
	display: inline-block;
	margin: 0 0 15px;
	font-size: 14px;
	/*border-right: 1px solid #ddd;
	border-left: none;*/
	width: 124px;
	text-align: center;
	background: url("/images/common/dot_ddd.png") right center no-repeat;
	background-size: 1px 14px;
}
.sparealnk2 p:first-child {
	/*border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;*/
}
.sparealnk2 p a {
	display: block;
	position: static;
	padding: 5px 41px;
}

/*0120追加 エリアTOP「特別企画をもっと見る」の上の余白調整*/
.ftop_lnk{
	margin:20px 15px 40px 15px;
}
.ftop_lnk p{
	text-align:center;
	font-size:16px;
	background-color:#f8f8f8;
	padding:15px;
	color:#333;
	border:2px solid #eee;
}
.ftop_lnk a:hover{
	text-decoration:none;
}
.ftop_lnk a:hover p{
	background-color:#eee;
}

/*0120追加 エリアTOP「特別企画」直後のライン削除*/
.t_headlinetop_list{
	margin:0 0 15px 0px;
	width:620px;
/*	border-top:1px dotted #ddd;*/
}

/*0120追加 エリアTOP「特別企画」三角の大きさの調整*/
h4.sp {
    font-size: 15px;
    color: #00B8F4;
    background: transparent url(/images/top/arrow_sp.gif) no-repeat scroll 2px 8px;
    padding: 5px 5px 0 15px;
}
