@charset "UTF-8";

/* 背景グレー等カスタム */
body{
	background-color:#f6f6f6;
}
#header{
	width:1050px;
	margin:0 auto;
	background-color:#fff;
	border-top:3px solid #00B8F4;
}
#top,
#areatop{
	width:1050px;
	margin:0 auto;
	background-color:#fff;
	padding:20px 0 5px 0;
}
#footer{
	width:1050px;
	margin:0 auto;
	background-color:#fff;
}
#a:hover.hover{
	background-color:#fff;
	opacity:0.2;
	filter: alpha(opacity=20);
}

/*-----------------------------------------------
  PR
-----------------------------------------------*/
#pr{
	margin:10px 0;
}
#pr li{
	font-size:14px;
	line-height:1.5em;
	font-weight:bold;
}

/* SNSボタン */

#sns{
	margin:40px 15px 0px 0;
	background:#ddd;
}
#sns #twitter,
#sns #facebook,
#sns #googleplus,
#sns #linebutton{
	float:left;
	width:33.33%;
	height:45px;
	text-align:center;
	margin:0 0 0 0;
	position:relative;
}
#sns #twitter{
	background:url(../images/top/tw.png) no-repeat center 5px #55ACEE;
	background-size:26px auto;
}
#sns #facebook{
	background:url(../images/top/fb.png) no-repeat center 5px #3B579D;
	background-size:24px auto;
}
#sns #googleplus{
	background:url(../images/top/gplus.png) no-repeat center #CC3D2C;
	background-size:28px auto;
}
#sns #linebutton{
	background:url(../images/top/line.png) no-repeat center #1DCD00;
	background-size:36px auto;
}
#sns .num{
	color:#fff;
	font-size:12px;
	padding-top:27px;
}
#sns #twitter a,
#sns #facebook a,
#sns #googleplus a,
#sns #linebutton a{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
}

/* トレンド系スタイル */

.fullbox{
	margin-bottom:40px;
}
.normalbox{
	margin-bottom:40px;
}
.mainbox{
	float:left;
	width:635px;
}
.subbox{
	float:right;
	width:300px;
}
.subbox .rec{
	margin-bottom:20px;
}

.trend_area_list{
	border-left:1px solid #ddd;
	margin:30px 0;
}
.trend_area_list li{
	float:left;
	width:170px;
}
.trend_area_list li p{
	text-align:center;
	font-size:14px;
	border-right:1px solid #ddd;
	padding:15px 0;
	background-color:#00B8F4;
	color:#fff;
	font-weight:bold;
}
.trend_area_list li a p{
	background-color:#fff;
	color:#333;
	font-weight:normal;
}
.trend_area_list li a{
	text-decoration:none;
	cursor:pointer;
}
.trend_area_list li a p:after{
	content:" ▼";
	color:#f00;
}
.trend_area_list li a:hover p{
	background-color:#00B8F4;
	color:#fff;
}
.ta_tokyobox,
.ta_tokaibox,
.ta_kansaibox{
	display:none;
}

.ttlbar{
	border-left:6px solid #00B8F4;
	font-size:26px;
	line-height:1.5em;
	font-weight:bold;
	padding-left:15px;
}
.ttlbar2{
	border-left:6px solid #00B8F4;
	font-size:18px;
	line-height:1.5em;
	font-weight:bold;
	padding:2px 0 0 10px;
}
.ttlbar_both{
	border-left:6px solid #00B8F4;
	font-size:26px;
	line-height:1.5em;
	font-weight:bold;
	padding-left:15px;
}
.mt30{
	margin-top:30px;
}
.mb40{
	margin-bottom:40px;
}




.f_lnk{
	margin:0 15px 30px 20px;
}
.f_lnk p{
	text-align:center;
	font-size:16px;
	background-color:#f8f8f8;
	padding:20px;
	color:#333;
	border:2px solid #eee;
}
.f_lnk a:hover{
	text-decoration:none;
}
.f_lnk a:hover p{
		background-color:#eee;
}




.p01{
	margin-left:5px;
}
.p01 li{
	float:left;
	padding-bottom:15px;
	margin:0 15px 30px 15px;
	position:relative;
}

.p01 li .module{
	width:180px;
	position:relative;
}
.p01 li a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:url(../images/top/boxbg.png) no-repeat right bottom;
}
.module p{
	padding:3px 0;
	font-size:14px;
	line-height:1.5em;
}
.module p.area{
	padding:3px 0 0 0;
	color:#666;
	font-size:1.3rem;
}
.module p.ttltxt{
	font-weight:bold;
	font-size:14px;
	line-height:1.5em;
}
.module p.txt{
	font-size:14px;
	color: #666;
}
.module p.day{
	padding:0 0 2px 0;
	font-size:12px;
}
.module p.subtxt{
	font-size:14px;
	padding-top:0;
	color:#666;
}
.module .ph img{
	width:100%;
	height:auto;
	margin-bottom:8px;
}
.module img.icon{
	width:18px;
	height:18px;
	padding-right:3px;
	vertical-align:-4px;
}

.p02{
	margin-left:5px;
}
.p02 li{
	float:left;
	padding-bottom:15px;
	margin:0 15px 30px 15px;
	position:relative;
}
.p02 li .module{
	width:285px;
}
.p02 li a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:url(../images/top/boxbg.png) no-repeat right bottom;
}
.p02 li.matomebox{
	margin:0 15px 20px 15px;
}
.p02 li.matomebox .module{
	min-height:235px;
}

/* ぱんくず */

.fpkz{
	border-left:none;
	min-width:950px;
}
.fpkz ul{
	border-top:1px solid #ddd;
	height:38px;
	overflow:hidden;
}
.fpkz li{
	float:left;
	background:url(../images/footer/fpkzbg.png) no-repeat right center;
	font-size:12px;
}
.fpkz li p{
	padding:10px 0 10px 10px;
	margin-right:30px;

}

/* TOP・エリアTOPスタイル */


.topimage{
	height:390px;
	overflow:hidden;
}

.topimage_area{
	height:328px;
	overflow:hidden;
}

.ttlbar,
.ttlbar_both {
	margin:0px 0 20px 0;
	position:relative;
}
.ttlbar p.righttxt{
	font-weight:normal;
	font-size:14px;
	line-height:1em;
	position:absolute;
	right:15px;
	bottom:4px;
	text-align:right;
}
.ttlbar p.righttxt a{
	padding-right:15px;
}
.t_headline{
	margin-bottom:40px;
}
.t_headline .phbox_single{
	position:relative;
	margin-bottom:10px;
}
.t_headline .phbox_single a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.t_headline .phbox_single .ph{
	float:left;
	width:200px;
	height:160px;
	text-align:center;
	background:url(../images/top/sbg.png) repeat #f8f8f8;
	display:table-cell;
	vertical-align:middle;
}
.t_headline .phbox_single .ph img{
	max-width:200px;
	max-height:160px;
}
.t_headline .phbox_single .txt{
	padding:0 15px 0 215px;
	font-size:14px;
	line-height:1.5em;
}
.t_headline .phbox_single .txt .mds{
	padding-bottom:5px;
	font-size:18px;
	line-height:1.5em;
	font-weight:bold;
}
.t_headline .phbox_single .txt .da{
	padding-bottom:5px;
	color:#999;
}
.t_headline .phbox_triple{
	position:relative;
	margin-bottom:15px;
}
.t_headline .phbox_triple li{
	float:left;
	width:200px;
	margin-right:10px;
	position:relative;
}
.t_headline .phbox_triple li a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.t_headline .phbox_triple .ph{
	width:200px;
	height:160px;
	text-align:center;
	background:url(../images/top/sbg.png) repeat #f8f8f8;
	display:table-cell;
	vertical-align:middle;
}
.t_headline .phbox_triple .ph img{
	max-width:200px;
	max-height:160px;
}
.t_headline .phbox_triple .txt{
	padding-top:5px;
	font-size:13px;
	line-height:1.5em;
}
.t_headline .phbox_triple .txt .mds{
	padding-bottom:3px;
	font-size:15px;
	line-height:1.5em;
	font-weight:bold;
}
.t_headline .phbox_triple .txt .stxt{
	padding-bottom:3px;
}
.t_headline .phbox_triple .txt .day{
	padding-bottom:3px;
	color:#999;
}
.t_headline_list{
	margin:0 0 15px 0px;
	width:620px;
	border-top:1px dotted #ddd;
}
.t_headline .ttlbar2{
	margin:0 0 10px 0px;
}
.t_headline_list li{
	border-bottom:1px dotted #ddd;
	position:relative;
}
.t_headline_list li a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:url(../images/top/nav_lnk.png) no-repeat right center;
}
.t_headline_list li .inr{
	font-size:14px;
}
.t_headline_list li .txt{
	padding:12px 50px 10px 15px;
}
.t_headline_list li .txt2{
	padding:12px 50px 10px 0px;
}
.t_headline_list li .day{
	padding-left:10px;
	color:#999;
}
.t_headline_list li .cat{
	color:#333;
}
.t_headline_list li .cat:before{
	content:"●";
	color:#00B8F4;
	padding-right:2px;
}
.t_headline .p04 {
    border-top: 1px dotted #ddd;
    margin: 0 15px 15px 0;
}
.t_headline .p04 li {
    border-bottom: 1px dotted #ddd;
    padding: 10px 0 10px 15px;
    position: relative;
}
.t_headline .p04 li .subtxt {
    padding-bottom: 1px;
}
.t_headline .p04 li .ttltxt {
    font-weight: normal;
    padding: 0px 50px 0px 0px;
}
.t_headline .p04 li .subtxt::before {
    color: #00b8f4;
    content: "●";
    padding-right: 2px;
}
.t_headline .p04 li a {
    background: rgba(0, 0, 0, 0) url("../images/top/nav_lnk.png") no-repeat scroll right center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.f_lnk{
	margin:0 15px 15px 0;
}
.f_lnk p{
	text-align:center;
	font-size:16px;
	background-color:#f8f8f8;
	padding:15px;
	color:#333;
	border:2px solid #eee;
}

.f_lnk_pro p {
	text-align:center;
	font-size:16px;
	background-color:#f8f8f8;
	padding:15px;
	color:#333;
    margin:0 auto;
    width:285px;
    float:left;
}


.f_lnk a:hover{
	text-decoration:none;
}
.f_lnk a:hover p{
	background-color:#eee;
}
.s_lnk{
	margin:0 15px 15px 0;
}
.s_lnk a:hover{
	text-decoration:none;
}
.s_lnk p{
	font-size:14px;
	padding:0 0 20px 0;
	color:#333;
	border-bottom:1px dotted #ddd;
}
.s_lnk p img{
	padding-right:15px;
}

.eventcal{
	margin-bottom:40px;
}
.cal table{
	width:620px;;
	border-spacing:0;
	border-collapse:collapse;
	margin:0 0 20px 0;
}
.cal table th{
	text-align:center;
	padding:15px 10px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-size:14px;
	background:#f3f3f3;
}
.cal table tr:nth-child(odd){
	background:#fafafa;
}
.cal table td{
	text-align:center;
	border-bottom:1px solid #ddd;
	font-size:14px;
}
.cal table td p{
	font-size:14px;
	padding:15px 10px;
}
.cal table td a p{
	font-weight:bold;
}
.cal table th.sat{
	background-color:#D9FFFF;
}
.cal table td.sat{
	background-color:#ECFFFF;
}
.cal table th.sun{
	background-color:#FFE5E5;
}
.cal table td.sun,
.cal table td.holiday{
	background-color:#FFF2F2;
}
.cal .callnk{
	text-align:center;
	font-size:14px;
}
.cal .callnk a{
	padding:0 15px;
}

.lnkbox{
	border:1px solid #ddd;
	margin:0 15px 0 0;
}
.lnkbox li{
	float:left;
	font-size:14px;
	padding:20px 0px 15px 15px;
}
.lnkbox li.cttl{
	font-weight:bold;
	padding:20px 20px 15px 15px;
}
.lnkbox li a{
	border-right:1px solid #ddd;
	padding-right:15px;
}

.area_special{
	margin-bottom:40px;
}
.twalker{
	margin-bottom:40px;
}
.specialbox{
	margin:15px 15px 20px 0;
	position:relative;
}
.specialbox a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.specialbox .ph{
	float:left;
}
.specialbox .ph img{
	width:400px;
}
.specialbox .txt{
	padding-left:410px;
	font-size:14px;
	line-height:1.5em;
}
.specialbox .txt .mds{
	font-size:18px;
	font-weight:bold;
	padding-bottom:10px;
}
.sparealnk{
	line-height:1em;
	font-size:14px;
	margin-bottom:20px;
}
.site_info .sparealnk{
	border-bottom:1px dotted #ddd;
	padding-bottom:20px;
	margin-right:15px;
}
.sparealnk a{
	padding-right:20px;
}

/* PDSD共有特集モジュール2 */
.specialbox_inner {
	margin: 15px 15px 20px 0;
	position: relative;
}
.specialbox_inner .ph {
	float: left;
}
.specialbox_inner .ph img {
	width: 400px;
}
.specialbox_inner .txt {
	padding-left: 410px;
	font-size: 14px;
	line-height: 1.5em;
}
.specialbox_inner .txt .mds {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.specialbox_inner a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.sparealnk2_wrap  {
	margin: 0px auto 20px;
}
.sparealnk2 {
	width: 620px;
	background: url(../images/common/dot_ddd.png) left 7px no-repeat;
	background-size: 1px 14px;
}
.sparealnk2 p  {
	float:left;
	display: inline-block;
	margin: 0 0 15px;
	font-size: 14px;
	/*border-right: 1px solid #ddd;
	border-left: none;*/
	width: 124px;
	text-align: center;
	background: url(../images/common/dot_ddd.png) right center no-repeat;
	background-size: 1px 14px;
}
.sparealnk2 p:first-child {
	/*border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;*/
}
.sparealnk2 p a {
	display: block;
	position: static;
	padding: 5px 41px;
}


.twalker .sparealnk span{
	font-weight:bold;
	color:#333;
}
.twalker .sparealnk span:after{
	content:" ／ ";
}
.twalker .sparealnk a{
	color:#666;
}
.area_ranking{
	margin-bottom:40px;
}
.area_ranking .num1-3{
	margin:0 0 20px 0;
}
.area_ranking .num1-3 li{
	float:left;
	width:200px;
	margin-right:10px;
	position:relative;
}
.area_ranking .num1-3 li a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.area_ranking .num1-3 li .num{
	text-align:center;
	margin:0 0 5px 0;
	background:url(../images/top/numbg.png) no-repeat center top;
	height:37px;
}
.area_ranking .num1-3 li .num p{
	padding-top:14px;
	font-weight:bold;
	font-size:14px;
}
.area_ranking .num1-3 li .ph{
	width:200px;
	height:160px;
	text-align:center;
	background:url(../images/top/sbg.png) repeat #f8f8f8;
	display:table-cell;
	vertical-align:middle;
}
.area_ranking .num1-3 li .ph img{
	max-width:200px;
	max-height:160px;
}

.area_ranking .num1-3 li .txt{
	font-size:14px;
	line-height:1.5em;
	padding-top:5px;
}
.area_ranking .num1-3 li .txt .area{
	font-weight:bold;
}
.area_ranking .num1-3 li .txt .event{
	font-weight:bold;
}
.area_ranking .num1-3 li .txt .spot{
	font-weight:bold;
	font-size:12px;
	line-height:1.3em;
	padding-top:2px;
}
.area_ranking .num4-10{
	margin:0 15px 20px 0;
	border-bottom:1px dotted #ddd;
}
.area_ranking .num4-10 li{
	border-top:1px dotted #ddd;
	font-size:14px;
	line-height:1.5em;
	padding:6px 0 10px 0;
	position:relative;
}
.area_ranking .num4-10 li a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:url(../images/top/nav_lnk.png) no-repeat right center;
}

.area_ranking .num4-10 .num{
	float:left;
	width:45px;
	text-align:center;
	background:url(../images/top/numbg2.png) no-repeat center top;
	height:26px;
}
.area_ranking .num4-10 .num p{
	font-weight:bold;
	padding-top:5px;
	font-size:12px;
}
.area_ranking .num4-10 .txt{
	padding:5px 50px 0 50px;
}
.area_ranking .num4-10 li .txt .area{
	font-weight:bold;
	padding-right:15px;
}
.area_ranking .ttlbar2{
	margin-bottom:10px;
}
.area_ranking .ttlbar2 .righttxt{
	float:right;
	font-weight:normal;
	font-size:14px;
	color:#666;
	margin-right:15px;
}
.area_ranking .tablnk{
	margin:0 15px 15px 0;
	border-bottom:2px solid #00B8F4;
}
.area_ranking .tablnk li{
	float:left;
	width:68px;
	cursor:pointer;
}
.area_ranking .tablnk li p{
	font-size:14px;
	padding:10px 0;
	text-align:center;
	border-right:1px solid #00B8F4;
	border-top:1px solid #00B8F4;
}
.area_ranking .tablnk li.select{
	background:#00B8F4;
}
.area_ranking .tablnk li.select p{
	color:#fff;
}
.area_ranking .tablnk li:first-child p{
	border-left:1px solid #00B8F4;
}
.area_event-ranking02,
.area_event-ranking03,
.area_event-ranking04,
.area_event-ranking05,
.area_event-ranking06,
.area_event-ranking07,
.area_event-ranking08{
	display:none;
}

.left_lnkbox{
	float:left;
	width:300px;
	border:1px solid #ddd;
}
.right_lnkbox{
	float:right;
	width:300px;
	margin-right:15px;
	border:1px solid #ddd;
}
.inr_lnkbox{
	float:left;
	width:300px;
	border:1px solid #ddd;
}
.site_info{
	margin-bottom:40px;
}
.sbdr{
	height:2px;
	background-color:#ddd;
	margin-bottom:20px;
}
.sbdr p{
	width:50px;
	height:2px;
	background-color:#00B8F4;
	float:right;
}


#odekake_search{
	border-top:1px dotted #ddd;
	border-bottom:1px dotted #ddd;
	padding:15px 0;
	margin:0 15px 30px 0;
}
#odekake_search .searchttl{
	float:left;
	width:230px;
	height: 40px;
}
#odekake_search .search{
	float:left;
	width:390px;
}
#odekake_search form, input {
	margin: 0;
}
#odekake_search form {
	position: relative;
}
#odekake_search input[type="text"] {
	background-color: #DDF0F6;
	border: 0;
	height: 40px;
	width: 310px;
	padding: 0 10px; 
	position: absolute;
	left: 0;
	top: 0;
	font-size:14px;
	box-sizing: content-box;
	outline: none;
}
#odekake_search input[type="image"] {
	border: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 330px;
	top: 0;
}

/* SEARCH_LIST 20150626追記 */
.list_b {
     margin-bottom: 40px;
}

.list_b .rd {
     border-bottom: 1px dotted #dddddd;
     font-size: 16px;
     margin: 0px 15px 20px 0px;
     padding-bottom: 20px;
}

.list_b .phbox_single {
     background: rgba(0, 0, 0, 0) url("/images/trend/nav_lnk.png") no-repeat scroll right center;
     border-bottom: 1px dotted #dddddd;
     margin: 0px 15px 20px 0px;
     padding: 0px 20px 20px 0px;
     position: relative;
}

.list_b .phbox_single a {
     bottom: 0px;
     left: 0px;
     position: absolute;
     right: 0px;
     top: 0px;
}

.list_b .phbox_single .ph {
     background: #f8f8f8 url("/images/top/sbg.png") repeat scroll 0% 0%;
     display: table-cell;
     float: left;
     height: 160px;
     text-align: center;
     vertical-align: middle;
     width: 200px;
}

.list_b .phbox_single .ph img {
     max-height: 160px;
     max-width: 200px;
}

.list_b .phbox_single .txt {
     font-size: 14px;
     line-height: 1.5em;
     padding: 0px 15px 0px 215px;
}


.list_b .phbox_single .txt .subtxt {
     color: #666666;
     padding-bottom: 3px;
}

.list_b .phbox_single .txt .ttl {
     font-size: 18px;
     font-weight: bold;
     line-height: 1.5em;
     padding-bottom: 5px;
}

.list_b .phbox_single .txt .day {
     color: #666666;
     padding-bottom: 3px;
}

.list_b .phbox_single .txt .name {
     font-weight: bold;
     padding-bottom: 3px;
}

.list_b .phbox_single .txt .subtxt::before {
     color: #00b8f4;
     content: "●";
     padding-right: 2px;
}

.list_b .phbox_single .txt .subtxt.event-mark::before {
     color: #f2588a;
     content: "●";
     padding-right: 2px;
}

.list_b .phbox_single .txt .subtxt.topics-mark::before {
     color: #91cf0a;
     content: "●";
     padding-right: 2px;
}


.listnav {
     margin-right: 15px;
     padding-bottom: 30px;
}

.listnav ul {
     background: #f8f8f8 none repeat scroll 0% 0%;
     margin: 0px 0px 10px;
     padding: 10px 10px 5px;
     text-align: center;
}

.listnav ul li {
     display: inline;
     font-size: 14px;
     margin: 0px 2px;
     padding: 0px;
}

.listnav ul li a {
     background: #00b8f4 none repeat scroll 0% 0%;
     border: 1px solid #00b8f4;
     color: #ffffff;
     display: inline-block;
     margin-bottom: 5px;
     padding: 6px 10px;
     text-decoration: none;
     vertical-align: middle;
}

.listnav ul li span {
     background: #ffffff none repeat scroll 0% 0%;
     border: 1px solid #00b8f4;
     display: inline-block;
     margin-bottom: 5px;
     padding: 6px 10px;
     text-decoration: none;
     vertical-align: middle;
}

.listnav ul li a:hover {
     background: #ffffff none repeat scroll 0% 0%;
     border-color: #00b8f4;
     color: #333333;
}

/* 週末UI仕様 20151106追記 */

.ttlbar2.mt20 {
    border-left: 6px solid #00B8F4;
    font-size: 26px;
    line-height: 1.5em;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 15px;
}

.subtxt span.red {
    color: #c00;
}

/* 週末UI仕様 20151113追記 */

.base_btn.mgn a p {
    display: none;
}

/* GW日別LINK */
.holyday .ttlbar2 {
	margin: 20px 0px 0px 0px;
}
.holyday ul {
	margin: 0px 15px 10px 0px;
}
.holyday li.lnkmark2 {
	border-bottom: none;
	padding: 0px;
	position: relative;
	float: left;
	width: 20%;
}
.holyday li.lnkmark2 .module {
	border-right: 1px solid #ddd;
	border-left: 10px solid #fff;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.holyday li.lnkmark2 .ttltxt2 {
	font-weight: normal;
	padding: 0px;
}
.holyday li.lnkmark2 a {
	background: url("../images/top/nav_lnk.png") no-repeat scroll right center;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
}

/*---------------------本誌告知部分-----------------------*/
.publish {
	margin-bottom:20px;
}

.publish img {
    float: left;
    border: 1px solid #ddd;
    margin-right: 10px;
    padding: 4px;
    width: 200px;
}

.publish .title {
    background: #012aa4;
    margin: 0 15px 10px 220px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.0;
    color: #fff;
    text-align: center;
}
.publish .text {
    margin: 0 16px 30px 0;
    font-size: 14px;
    line-height: 1.5;
    word-break: normal;
    word-wrap: break-word;
    color: #333;
}
.publish .text a:link { color: #333; }
.publish .text a:visited { color: #000080; }
.publish .text a:hover { color: #ff0000; }
.publish .text a:active { color: #ff8000; }