@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}
a {
	/* macIE対策\*/
	overflow: hidden;
	/* macIE対策*/
	text-decoration: none;
	color:#09f;
}
a:hover {
	text-decoration: underline;
	color:#09f;
}

a img {
	border: 0;
	text-decoration: none;
}

img {
	vertical-align: bottom;
	padding:0px;
	margin:0px;
	border:0px;
}

a.lnk:hover img{
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
}

ul,ol,dl{
	list-style:none;
}

.left {
	float: left;
}

.right {
	float: right;
}

img,a img {
	border : 0;
	text-decoration: none;
}
img{vertical-align:bottom;}

.clr{clear:both;}

body{
	font-size:12px;
	line-height:1.5em;
	color:#333;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku GothicPro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.sbnr{
       text-align:center;
       margin-bottom:10px;
}

.Important{
        text-align:left;
/*        margin-bottom:15px;*/
        color:#c00;
        font-weight:bold;
        margin: 15px auto;
		width: 950px;
}
.Important a{
        color:#0099FF;
}

/* モダンブラウザ（Firefox Opera Safari）対策 */
.clearfix:after{
content: "";
display: block;
clear: both;
}

.clearfix {
zoom:1;
}

/* Win版IE7とMac版IE5対策 */
.clearfix{
display:inline-block;
}

/* Win版IE5および6対策 */
/* Hides from IE-mac \*/
* html .clearfix{
height:1px;
}

.clearfix{
display:block;
}
/* End hide from IE-mac */

#page{
	
}
#contents{
	width:950px;
	margin: 0 auto;
}
#main{
	float:left;
	width:635px;
	margin-bottom: 40px;
}
#sub{
	float:right;
	width:300px;
}
#crumb{
	margin:4px 0 15px 0;
	width:950px;
}
#crumb li{
	float:left;
}
#crumb li a{
	background:url(../images/common/pankuzubg.gif) no-repeat right 5px;
	padding-right:10px;
	margin-right:7px;
}

/* --- device_switch 20141216追記 --- */
.fr-device_switch {
margin: 30px auto 30px;
width: 520px;
}
.fr-device_switch a {
display: block;
font-size: 28px;
font-weight: bold;
text-decoration:none;
line-height: 1.4;
text-align: center;
padding: 20px;
background: #ffffff;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
background: -webkit-gradient(linear, left top, left bottom,
from(#ffffff), to(#eeeeee));
background: -moz-linear-gradient(top, #ffffff, #eeeeee);
border: 3px solid #0098d9;
}


/* 2015年新デザイン版style */

.fullbox{
	margin-bottom:40px;
}
.normalbox{
	margin-bottom:40px;
}
.mainbox{
	float:left;
	width:635px;
}
.subbox{
	float:right;
	width:300px;
}
.subbox .rec{
	margin-bottom:20px;
}

/* ぱんくず */

.fpkz{
	border-left:none;
	min-width:950px;
}
.fpkz ul{
	border-top:1px solid #ddd;
	height:38px;
	overflow:hidden;
}
.fpkz li{
	float:left;
	background:url(../images/footer/fpkzbg.png) no-repeat right center;
	font-size:12px;
}
.fpkz li p{
	padding:10px 0 10px 10px;
	margin-right:30px;

}

/* ボタン */
.f_lnk{
	margin:0 15px 30px 20px;
}
.f_lnk p{
	text-align:center;
	font-size:16px;
	background-color:#f8f8f8;
	padding:20px;
	color:#333;
	border:2px solid #eee;
}
.f_lnk a:hover{
	text-decoration:none;
}
.f_lnk a:hover p{
		background-color:#eee;
}

/* SNSボタン */

#sns{
	margin:40px 15px 0px 0;
	background:#ddd;
}
#sns #twitter,
#sns #facebook,
#sns #googleplus,
#sns #linebutton{
	float:left;
	width:33.33%;
	height:45px;
	text-align:center;
	margin:0 0 0 0;
	position:relative;
}
#sns #twitter{
	background:url(../images/top/tw.png) no-repeat center 5px #55ACEE;
	background-size:26px auto;
}
#sns #facebook{
	background:url(../images/top/fb.png) no-repeat center 5px #3B579D;
	background-size:24px auto;
}
#sns #googleplus{
	background:url(../images/top/gplus.png) no-repeat center #CC3D2C;
	background-size:28px auto;
}
#sns #linebutton{
	background:url(../images/top/line.png) no-repeat center #1DCD00;
	background-size:36px auto;
}
#sns .num{
	color:#fff;
	font-size:12px;
	padding-top:27px;
}
#sns #twitter a,
#sns #facebook a,
#sns #googleplus a,
#sns #linebutton a{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
}

/* --- PC/SD共通化パーツ --- */
/* ボタン */
.base_btn_both {
	margin: 0 15px 15px 0;
}
.base_btn_both a:hover p {
	background-color: #eee;
}
.base_btn_both p {
	text-align: center;
	font-size: 16px;
	background-color: #f8f8f8;
	padding: 15px;
	color: #333;
	border: 2px solid #eee;
}
.base_btn_both a {
	text-decoration: none;
}
.base_btn_both p img {
	height: 20px;
	width: 28px;
}
.mgn_relate {
	margin: 10px 0 30px 0;
}
.bdr {
	border-bottom: 1px solid #ddd;
}
.sbdr {
    height: 2px;
    background-color: #ddd;
    margin-bottom: 20px;
}
.sbdr p {
    width: 50px;
    height: 2px;
    background-color: #00B8F4;
    float: right;
}

.d_link {
	font-size: 14px;
	text-align: center;
	margin: 0 0 20px 0;
}

/* eventlink */
.mt25 {
	margin-top: 25px !important;
}
.ml15 {
	margin-left: 15px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.eventlink {
	margin: -20px 0px 20px -15px;
}
.eventlink ul {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 15px 0;
}
.eventlink li {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-right: 1px solid #ddd;
	border-bottom: 3px solid #ddd;
}
.eventlink li.txt {
	font-size: 13px;
	font-weight: normal;
	line-height: 1.2;
}

.eventlink li.txt a  {
	padding: 10px 5px 10px 10px;
	display: block;
	background: url("../images/top/nav_lnk.png") no-repeat scroll right center;
	color: #333;
	text-decoration: none;
}
.eventlink li.txt a:hover  {
	background: url("../images/top/nav_lnk.png") no-repeat scroll right center,#f8f8f8;
}
.mctrl {
	margin: 20px 0px -10px 15px;
}
.mctrl2 {
	margin: 35px 5px 0px 5px;
}
/* 見出し帯 */
.ttlbar_both {
	margin: 0px 0 20px 0;
	position: relative;
	border-left: 6px solid #00B8F4;
	font-size: 26px;
	line-height: 1.5em;
	font-weight: bold;
	padding-left: 15px;
}
.ttlbar_both_s1 {
	margin-bottom: 10px;
	font-size: 16px;
	padding: 5px 10px 4px 6px;
	border-left: 4px solid #00B8F4;
	font-weight: bold;
}

/* 罫線 */
.sbdr_both {
    height: 2px;
    background-color: #ddd;
}
.sbdr_both p {
	width: 50px;
	height: 2px;
	background-color: #00B8F4;
	float: right;
}
/* 余白調整 */
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}

/* クラウドサーチ共通パーツ */
.ttlbar_separate {
	border-bottom: 1px solid #fff;
	padding: 8px;
	background: url(../images/sub/subbg.jpg) repeat-x #eee;
}
.ttlbar_separate p {
	font-size: 14px;
	font-weight: bold;
	border-left: 3px solid #0098D9;
	padding-left: 5px;
}
.csparts_case{
	border: 1px solid #ddd;
	padding: 1px;
	margin: 0 0 20px;

}
.csparts_case .inner_mod {
	border-top: 1px solid #ddd;
}
.csparts {
	display: table;
	width: 280px;
	margin: 0 8px;
}
.csparts p {
	display: table-cell;
	padding: 12px 0 0;
	border-bottom: 1px dotted #ddd;
	vertical-align: top;
}
.csparts p.nobdr {
	border-bottom: none;
}
.csparts p.season {
	width: 34px;
	font-size: 14px;
	font-weight: bold;
	padding-right: 0px;
	padding-top: 17px;
}
.csparts p.season:before {
	font-size: 14px;
	color: #333;
	content: "■";
}
.csparts p.theme {
	font-size: 13px;
}
.csparts p.theme span a {
	margin: 0 3px 6px;
	padding: 4px 6px;
	background: #CEEBF3;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
}
.csparts p.theme span a:hover {
	background: #98DDF3;
	text-decoration: none;
}

/* btn_chosei */
.btn_mod {
	margin: 0 0 10px;
}
.btn_mod .btn_chosei {
	font-size: 14px;
	line-height: 1.4;
	font-weight: bold;
	text-align: center;
	background: #34A21A;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #26771e;
}
.btn_mod .btn_chosei a {
	display: block;
	padding: 5px 5px 5px 5px;
	color: #fff;
	text-decoration: none;
}
.btn_mod .btn_chosei:hover {
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
.btn_mod .btn_chosei img {
	vertical-align: middle;
	margin-right: 3px;
}
.btn_mod p.annotation {
	font-size: 12px;
	color: #888888;
	text-align: left;
	margin-top: 3px;
	border: 0px solid #34A21A;
}
.btn_mod p.annotation img {
	float: right;
}

/*-----------------------------------▼観光コンテンツ▼--------------------------------------------*/

.travel .ttlbar {
    border-left: 6px solid #0098D9;;
    font-size: 26px;
    line-height: 1.3em;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
}
.travel .ttlbar2.mt20,.ttlbar2.mt2{
    border-left: 6px solid #0098D9;;
    font-size: 26px;
    line-height: 1.5em;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 0;
}

.travel .travellink ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px 0;
}
.travel .p02 li a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/top/boxbg.png) no-repeat right bottom;
}
.travel .module p.ttltxt {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5em;
}
.travel .module .ph img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.travel .p02 li.matomebox .module {
    min-height: 235px;
}
.travel .p02 li .module {
    width: 285px;
}

.travel .p02 li.matomebox {
    margin: 0 15px 20px 15px;
}
.travel .p02 li {
    float: left;
    padding-bottom: 15px;
    margin: 0 15px 30px 15px;
    position: relative;
}

.travel .p02 {
    margin-left: 5px;
}

.travel .module p.ttltxt {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5em;
}
.travel .ttlrd {
    font-size: 16px;
   	line-height: 1.5em;
    margin: 0px 5px 15px 20px;
		}
        
.travel .module p.subtxt {
    font-size: 14px;
    padding-top: 0;
    color: #666;
}


.sparealnk2 {
    width: 620px;
    background: url("/images/common/dot_ddd.png") left 7px no-repeat;
    background-size: 1px 14px;
}
.sparealnk_t_kyoto p {
    float: left;
    display: inline-block;
    margin: 0 0 15px;
    font-size: 14px;
    width: 150px;
    text-align: center;
}

.sparealnk_t_kyoto p a {
    display: block;
    position: static !important;
    padding:5px 19px;
    border-left: 1px solid #ddd;
}

.sparealnk_t_kyoto {
    width: 620px;
    background: none;
    background-size: 1px 14px;
}
.ttlrd_m {
    font-size: 16px;
    line-height: 1.5em;
    margin: 0px 5px 25px 20px;
}

.travel .p02 li.gourmet_matome img {
	width:600px;
    }

.travel .p02 li.gourmet_matome {
	margin-bottom:0;
    }
    
.travel .p02 .pick {
	width:600px;
    clear:both;
    margin: 0 15px 5px 15px;
    padding-bottom:20px;
    }
.travel .p02 .pick a {
	background:none;
    }
.travel .p02 .pick span {
	font-size:1rem;
    }
    
.t_headlinetop_list {
    margin: 10px 0px 20px 0px;
    width: 620px;
}

.specialbox_inner .txt {
    padding-left: 410px;
    font-size: 14px;
    line-height: 1.5em;
}
.specialbox_inner .ph {
    float: left;
}
.specialbox_inner .ph img {
    width: 400px;
}
.travel h4.sp {
    font-size: 15px;
    color: #00B8F4;
    background: transparent url(/top/travel/images/arrow_sp.gif) no-repeat scroll 2px 8px;
    padding: 5px 5px 0 15px;
}

.special_list_title {
    margin-left: 6px;
    position: relative;
    border-bottom: 1px dotted #ddd;
    padding: 5px 0;
}

.t_headlinetop_list {
    margin: 10px 0px 20px 0px;
    width: 620px;
}
.specialbox_inner .ph img {
    width: 400px;
}
.specialbox_inner {
    margin: 15px 15px 20px 0;
    position: relative;
}
.specialbox_inner a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*-----------------------------------▲観光コンテンツ▲--------------------------------------------*/
/*-----------------------------------▼もっと見るボタン▼--------------------------------------------*/
.more_look_btn {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin: 10px auto 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 520px;
    color:#09f;
}

/*-----------------------------------▲もっと見るボタン▲--------------------------------------------*/

/* free_insert_mod */
.free_insert_mod {
	margin: 0 10px 20px;
}
.free_insert_mod .lead {
	font-size: 16px;
	margin-bottom: 15px;
}
.free_insert_mod .note {
	font-size: 12px;
	color: #888;
	text-align: right;
	padding: 5px 10px 10px;
}
.free_insert_mod .photo {
	display: table-cell;
	position: relative;
	width: 150px;
	height: 150px;
	background: url(../images/top/sbg.png) repeat #f8f8f8;
	vertical-align: middle;
	text-align: center;
}
.free_insert_mod .photo img {
	max-width: 150px;
	max-height: 150px;
}
.free_insert_mod .photo a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.free_insert_mod .text  {
	display: table-cell;
	width: 485px;
	padding-left:10px;
	font-size: 14px;
}
.free_insert_mod .text li:first-child {
	border-top: 1px dotted #ddd;
}
.free_insert_mod .text li {
	position: relative;
	margin: 0;
	padding: 10px 25px 10px 10px;
	background: url(../images/top/nav_lnk.png) no-repeat right center;
	border-bottom: 1px dotted #ddd;
}
.free_insert_mod .text li:before {
	color: #00b8f4;
	content: "●";
	padding-right: 2px;
}
.free_insert_mod .text li a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.free_insert_mod .text .price.regular  {
	color: #333;
	text-decoration: line-through;
}
.free_insert_mod .text .price.off  {
	color: #f00;
	font-weight: bold;
}
.free_insert_mod .text .date {
	display: inline-block;
	padding-top: 8px;
	color: #093;
}
