@charset "UTF-8";

#footer{
	
}
#footer .machi{
	width:950px;
	margin:0 auto;
}
#footer .machi .ttl{
	border-left:3px solid #0098D9;
	margin-bottom:8px;
	padding-left:5px;
	font-weight:bold;
	font-size:14px;
}
#footer .machi ul{
	float:left;
	width:90px;
	margin-right:5px;
}
#footer .machi ul li{
	font-weight:bold;
}
#footer .machi ul li.child a{
	color:#666;
	font-weight:normal;
}
#footer .pagetop{
	width:950px;
	margin:0 auto;
	text-align:right;
	background:url(../images/footer/pagetop.gif) no-repeat right 5px;
}
#footer .pagetop p{
	padding:3px 16px 3px 0;
}
#footer .box{
	width:950px;
	margin:0 auto;
	padding:10px 0 0 0;
}
#footer .foot{
	background-color:#eee;
	padding-bottom:10px;
}
#footer .foot ul{
	float:left;
	width:190px;
	margin:10px 0 0 0;
}
#footer .foot ul li{
	font-weight:bold;
	padding-bottom:2px;
}
#footer .foot ul li.child{
	background:url(../images/footer/h_point.png) no-repeat 0px 7px;
	padding:0 0 0 10px;
	font-weight:normal;
}
#footer .foot2{
	background-color:#FFFFFF;
	color:#ddd;
	margin:5px 0;
}
#footer .foot2 .logo{
	float:right;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	margin-left:10px;
}
#footer .foot2 .lnks{
	float:right;
	padding:2px 0 0 0;
	line-height:1.4em;
}
#footer .foot2 .lnks div {
	text-align:right;
}
#footer .foot2 .lnks img{
	vertical-align:middle;
}
