@charset "UTF-8";

.free_insert_mod {
	margin: 0 10px 20px;
}
.free_insert_mod .lead {
	font-size: 16px;
	margin-bottom: 15px;
}

.free_insert_mod .photo {
	display: table-cell;
    position: relative;
	width: 150px;
	height: 150px;
    background: url(../images/top/sbg.png) repeat #f8f8f8;
	vertical-align: middle;
}
.free_insert_mod .photo img {
	max-width: 150px;
	max-height: 120px;
}
.free_insert_mod .photo a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.free_insert_mod .text  {
	display: table-cell;
    width: 485px;
    padding-left:10px;
    font-size: 14px;
}

.free_insert_mod .text li:first-child {
	border-top: 1px dotted #ddd;
}
.free_insert_mod .text li {
	position: relative;
	margin: 0;
    padding: 10px;
	background: url(../images/top/nav_lnk.png) no-repeat right center;
	border-bottom: 1px dotted #ddd;
}
.free_insert_mod .text li:before {
	color: #00b8f4;
	content: "●";
	padding-right: 2px;
}
.free_insert_mod .text li a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}