@charset "UTF-8";

#sub{
	
}
#sub .box{
	margin-bottom:10px;
	background-color:#fff;
}
#sub .waku01{
	border:1px solid #ddd;
	padding:1px;
}
#sub .waku01 .inner{
	width:296px;
}
#sub .waku01 .ttl{
	border-bottom:1px solid #fff;
	padding:8px;
	background:url(../images/sub/subbg.jpg) repeat-x #eee;
}
#sub .waku01 .ttl p{
	font-size:14px;
	font-weight:bold;
	border-left:3px solid #0098D9;
	padding-left:5px;
}
#sub .waku01 .ttl p span{
	font-size:12px;
	font-weight:normal;
}
#sub .waku01 .contents{
	border-top:1px solid #ddd;
	padding:8px;
}
#sub .waku01 .contents .borderBox {
margin-bottom: 5px;
}

#sub .waku01 .contents{
	border-top:1px solid #ddd;
	padding:8px;
}


#sub_newssp .block{
	border-bottom:1px dotted #ccc;
	margin-bottom:5px;
	padding-bottom:5px;
}
#sub_newssp .ph{
	float:left;
	width:60px;
	padding-top:1px;
}
#sub_newssp .txt{
	float:right;
	width:215px;
	font-weight:bold;
}
#sub_newssp .txt p{
	font-size:10px;
	line-height:1.4em;
	font-weight:normal;
}
#sub_newssp .txt p a{
	color:#333;
}


#sub .waku02{
	border:1px solid #ddd;
	padding:1px;
}
#sub .waku02 .inner{
	width:296px;
}
#sub .waku02 .ttl{
	border-bottom:1px solid #fff;
	padding:8px;
	background-color:#0098D9;
}
#sub .waku02 .ttl p{
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
#sub .waku02 .ttl p span{
	font-size:12px;
	font-weight:normal;
	color:#fff;
}
#sub .waku02 .contents{
	padding:8px;
}

#sub .waku03{
	border:1px solid #ddd;
	padding:1px;
}
#sub .waku03 .inner{
	width:296px;
}
#sub .waku03 .ttl{
	border-bottom:1px solid #fff;
	padding:8px;
	background:url(../images/sub/subbg.jpg) repeat-x #eee;
}
#sub .waku03 .ttl p{
	font-size:14px;
	font-weight:bold;
	background:url(../images/sub/pr.gif) no-repeat 0px 2px;
	padding-left:32px;
}
#sub .waku03 .ttl p span{
	font-size:12px;
	font-weight:normal;
}
#sub .waku03 .contents{
	border-top:1px solid #ddd;
	padding:8px;
}

#sub .waku04{
	background:url(../images/sub/waku04mid.gif) repeat-y;
}
#sub .waku04 .inner{
	background:url(../images/sub/waku04bg.jpg) no-repeat;
	width:300px;
}
#sub .waku04 .ttl{
	text-align:center;
	color:#fff;
	height:46px;
}
#sub .waku04 .ttl p{
	text-align:center;
	color:#fff;
	padding-top:17px;
	font-size:14px;
	font-weight:bold;
}
#sub .waku04 .contents{
	background:url(../images/sub/waku04btm.gif) no-repeat bottom;
	padding:3px 10px 10px 10px;
}
#sub .ttl span.right{
	width:115px;
	text-align:right;
}

/*-----------------------------------------------
  天気
-----------------------------------------------*/

#sub_weather{

}
#sub_weather .today{
	float:left;
	width:130px;
}
#sub_weather .center{
	float:left;
	height:65px;
	border-left:1px solid #ddd;
	margin-left:9px;
	padding-right:9px;
}
#sub_weather .tommorrow{
	float:right;
	width:130px;
}
#sub_weather .day{
	text-align:center;
	background-color:#eee;
	padding:1px 0;
}
#sub_weather .area{
	font-size:14px;
	font-weight:bold;
	padding-bottom:2px;
}
#sub_weather .left{
	width:65px;
	text-align:center;
	margin-top:5px;
}
#sub_weather .right{
	width:65px;
	margin-top:7px;
	line-height:1.4em;
}
#sub_weather .tbdr{
	border-top:1px solid #eee;
	padding-top:5px;
	margin-top:3px;
}

/*-----------------------------------------------
  天気TOP
-----------------------------------------------*/

#sub_weather_top{

}
#sub_weather_top .clearfix{
	border-bottom:1px dotted #ddd;
	margin-top:2px;
	padding-bottom:2px;
}
#sub_weather_top .area{
	float:left;
	width:50px;
	padding-top:9px;
	font-weight:bold;
	font-size:14px;
}
#sub_weather_top .img{
	float:left;
	width:70px;
	text-align:center;
}
#sub_weather_top .data01{
	float:left;
	width:50px;
	padding-top:10px;
	text-align:right;
}
#sub_weather_top .data02{
	float:right;
	width:80px;
	padding-top:10px;
}


/*-----------------------------------------------
  おすすめ情報
-----------------------------------------------*/

#sub_recommend{

}
#sub_recommend .block{
	width:283px;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #eee;
}
#sub_recommend .block .left{
	float:left;
	width:120px;
}
#sub_recommend .block .right{
	float:right;
	width:158px;
}
#sub_recommend .block .right div{
	font-weight:bold;
	padding-bottom:3px;
}
#sub_recommend .block .right p a{
	color:#666;
}

/*-----------------------------------------------
  ウォーカー最新号
-----------------------------------------------*/

#sub_latest{

}
#sub_latest .clearfix{
	width:280px;
}
#sub_latest .ph{
	float:left;
	width:100px;
}
#sub_latest .txt{
	float:right;
	width:172px;
}
#sub_latest .txt div{
	color:#ccc;
	line-height:1.4em;
	padding-top:3px;
}

/*-----------------------------------------------
  街角ウォーカー
-----------------------------------------------*/

#sub_mwalker{

}
#sub_mwalker .clearfix{
	width:280px;
}
#sub_mwalker .ph{
	float:left;
	width:100px;
}
#sub_mwalker .txt{
	float:right;
	width:172px;
}
#sub_mwalker .txt .bttl{
	line-height:1.4em;
	padding:3px 0 2px 0;
	font-weight:bold;
	font-size:14px;
}
#sub_mwalker .txt .point{
	background:url(../images/sub/c_point.png) no-repeat 0px 2px;
	padding:0 0 3px 17px;
	margin-top:10px;
}
#sub_mwalker .metc{
	margin-top:5px;
	padding-top:5px;
	border-top:1px dotted #ddd;
}
#sub_mwalker .left{
	float:left;
	width:135px;
	margin-top:3px;
}
#sub_mwalker .right{
	float:right;
	width:135px;
	margin-top:3px;
}

/*-----------------------------------------------
  注目のコンテンツ
-----------------------------------------------*/

#sub_topics{

}
#sub_topics .block{
	width:280px;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #eee;
}
#sub_topics .block .ph{
	float:left;
	width:80px;
}
#sub_topics .block .txt{
	float:right;
	width:194px;
}
#sub_topics ul{
	padding-top:3px;
}
#sub_topics ul li{
	background:url(../images/sub/c_point.png) no-repeat 0px 2px;
	padding:0 0 3px 17px;
}

/*-----------------------------------------------
  スマートフォン＆モバイル
-----------------------------------------------*/

#sub_mob{

}
#sub_mob .block{
	width:280px;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #eee;
}
#sub_mob .block .ph{
	float:left;
	width:80px;
}
#sub_mob .block .txt{
	float:right;
	width:194px;
}

/*-----------------------------------------------
  ランキング
-----------------------------------------------*/
#sub_ranking .lnkall {
	padding-top:6px;
	text-align:right;
}

#sub_ranking{

}
#sub_ranking ul.rnk{
	width:280px;
	clear:both;
}
#sub_ranking ul.rnk li{
	padding:6px 0 6px 42px;
	border-bottom:1px solid #eee;
	margin-bottom:2px;
}
#sub_ranking ul.rnk li.no1{
	background:url(../images/sub/no1.gif) no-repeat 0px 2px;
}
#sub_ranking ul.rnk li.no2{
	background:url(../images/sub/no2.gif) no-repeat 0px 2px;
}
#sub_ranking ul.rnk li.no3{
	background:url(../images/sub/no3.gif) no-repeat 0px 2px;
}
#sub_ranking ul.rnk li.no4{
	background:url(../images/sub/no4.gif) no-repeat 0px 2px;
}
#sub_ranking ul.rnk li.no5{
	background:url(../images/sub/no5.gif) no-repeat 0px 2px;
}
#sub_ranking ul.dpn{
	display:none;
}
#rankingtab{
	background-color:#eee;
}
#rankingtab ul{
	width:286px;
	margin:0 auto;
}
#rankingtab li{
	float:left;
	background-color:#fff;
	border-top:5px solid #eee;
	border-right:1px solid #eee;
}
#rankingtab li a{
	display:block;
	padding:4px 7px;
	cursor:pointer;
}
#rankingtab li a.odekake{
	border-bottom:2px solid #F1AA00;
}
#rankingtab li a.news{
	border-bottom:2px solid #61ABD8;
}
#rankingtab li a.event{
	border-bottom:2px solid #854635;
}
#rankingtab li.select a.odekake,#rankingtab li a:hover.odekake{
	border-top:2px solid #F1AA00;
	border-bottom:none;
	color:#333;
	text-decoration:none;
}
#rankingtab li.select a.news,#rankingtab li a:hover.news{
	border-top:2px solid #61ABD8;
	border-bottom:none;
	color:#333;
	text-decoration:none;
}
#rankingtab li.select a.event,#rankingtab li a:hover.event{
	border-top:2px solid #854635;
	border-bottom:none;
	color:#333;
	text-decoration:none;
}
#sub .ttl .odekake_update span.right{
	width:90px;
	text-align:right;
}

/*-----------------------------------------------
  ニュースまとめ
-----------------------------------------------*/
.ph_top {
    width: 120px;
    float: left;
}
.block.clearfix.news_matome img {
    width: 120px;
}
.txt_top {
    width: 150px;
    float: right;
}

.txt_top a {
    font-size: 13px;
    font-weight: bold;
    line-height:26px;
}

.txt_top p a {
    color: #333;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
}

/*-----------------------------------------------
  注目トレンドまとめ
-----------------------------------------------*/
/* sub_matome_mod trend_matome */
#sub_matome_mod .p02{
	margin-left:0px;
}
#sub_matome_mod .p02 li a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:url(../images/top/boxbg.png) no-repeat right bottom;
}
#sub_matome_mod .p02 li.matomebox{
	padding-bottom:15px;
	margin:0 0 10px;
    position:relative;
}
#sub_matome_mod .p02 li.matomebox:last-child{
	padding-bottom:15px;
	margin:0;
}
#sub_matome_mod .p02 li.matomebox .module{
	min-height:195px;
	width:282px;
}
#sub_matome_mod .p02 li.matomebox .module p{
	padding:3px 0;
	font-size:14px;
	line-height:1.5em;
}
#sub_matome_mod .p02 li.matomebox .module p.ttltxt{
	font-weight:bold;
}
#sub_matome_mod .p02 li.matomebox .module p.txt{
	font-size:14px;
}
#sub_matome_mod .p02 li.matomebox .module p.day{
	padding:0 0 2px 0;
	font-size:12px;
}
#sub_matome_mod .p02 li.matomebox .module .ph img{
	width:100%;
	height:auto;
	margin-bottom:8px;
}
#sub_matome_mod .p02 li.matomebox .module img.icon{
	width:18px;
	height:18px;
	padding-right:3px;
	vertical-align:-4px;
}