@charset "UTF-8";

/* === common.css === */
* {
	margin: 0;
	padding: 0;
}
a {
	/* macIE対策\*/
	overflow: hidden;
	/* macIE対策*/
	text-decoration: none;
	color:#09f;
}
a:hover {
	text-decoration: underline;
	color:#09f;
}

a img {
	border: 0;
	text-decoration: none;
}

img {
	vertical-align: bottom;
	padding:0px;
	margin:0px;
	border:0px;
}

a.lnk:hover img{
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
}

ul,ol,dl{
	list-style:none;
}

.left {
	float: left;
}

.right {
	float: right;
}

img,a img {
	border : 0;
	text-decoration: none;
}
img{vertical-align:bottom;}

body{
	font-size:12px;
	line-height:1.5em;
	color:#333;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku GothicPro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.sbnr{
       text-align:center;
       margin-bottom:10px;
}

.Important{
        text-align:left;
        margin-bottom:15px;
        color:#c00;
        font-weight:bold;
}
.Important a{
        color:#0099FF;
}

.clr{clear:both;}
/* モダンブラウザ（Firefox Opera Safari）対策 */
.clearfix:after{
content: "";
display: block;
clear: both;
}

.clearfix {
zoom:1;
}

/* Win版IE7とMac版IE5対策 */
.clearfix{
display:inline-block;
}

/* Win版IE5および6対策 */
/* Hides from IE-mac \*/
* html .clearfix{
height:1px;
}

.clearfix{
display:block;
}
/* End hide from IE-mac */


#widget_mod .wgt-green{
	color:#333;
}

/* === top.css === */
#widget_mod .mb15{
	margin-bottom:15px;
}
#widget_mod .wgt-inner .wgt-inner_cont{
	padding:10px 15px;
}
#widget_mod .wgt-txt_list p{
	padding:2px 0 3px 0;
	line-height:1.3em;
	font-size:14px;
}
#widget_mod .wgt-txt_list p a {
	display: block;
}
#widget_mod .wgt-txt_list p span{
	font-size:10px;
}
#widget_mod a.i_news{
	background:url(http://imgx.area.walkerplus.com/pc/images/common/point.png) no-repeat 0px 3px;
	padding-left:18px;
}
#widget_mod .wgt-green a.i_news{
	background:url(http://imgx.area.walkerplus.com/pc/images/common/point_green.png) no-repeat 0px 3px;
	padding-left:18px;
}
#widget_mod .wgt-more{
	background:url(http://imgx.area.walkerplus.com/pc/images/common/point.png) no-repeat right 4px;
	text-align:right;
	font-size:14px;
	line-height:1.3em;
	padding: 2px 17px 0 0;
}
#widget_mod .wgt-green .wgt-more{
	background:url(http://imgx.area.walkerplus.com/pc/images/common/point_green.png) no-repeat right 4px;
	text-align:right;
	font-size:14px;
	line-height:1.3em;
	padding: 2px 17px 0 0;
}
#widget_mod .wgt-more a,
#widget_mod .wgt-green .wgt-more a{
	display:block;
}
#widget_mod .wgt-imgtxt_list{
	margin-bottom:0px;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box{
	display:block;
	font-size:14px;
	border-right:none;
	border-left:none;
	border-bottom:none;
	width:100%;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box a{
	display:block;
	padding:10px 0;
	color:#333;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box:nth-child(even){
	background:url(http://imgx.area.walkerplus.com/pc/images/common/lnkbg_arw.png) no-repeat right center #F4FAE6;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box:nth-child(odd){
	background:url(http://imgx.area.walkerplus.com/pc/images/common/lnkbg_arw.png) no-repeat right center #fff;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box a:hover{
	text-decoration:none;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box a:hover img{
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-link{
	color:#09f;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box a:hover .wgt-link{
	text-decoration:underline;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-photo{
	float:left;
	width:128px;
	height:128px;
	border:1px solid #ddd;
	background-color:#fff;
	margin-left:10px;
	text-align:center;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-photo:before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-photo img{
	max-width:120px;
	max-height:120px;
	padding: 4px;
	display: inline-block;
	vertical-align:middle;
}
/*#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-photo{
	float:left;
	border:1px solid #ddd;
	padding:4px;
	background-color:#fff;
	margin-left:10px;
	text-align:center;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-photo img{
	max-width:120px;
	max-height:120px;
}*/
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-txt_cont{
	float:right;
	width:460px;
	margin-right:25px;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-txt_cont .wgt-genre{
	font-size:12px;
	line-height:1.5em;
	color:#c00;
	padding-top:2px;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-txt_cont .wgt-catch{
	font-size:18px;
	line-height:1.5em;
	font-weight:bold;
	padding-bottom:3px;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-txt_cont .wgt-body_txt{
	font-size:14px;
	line-height:1.5em;
	padding-bottom:3px;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-txt_cont .wgt-editor{
	float:left;
	font-size:14px;
	line-height:1.5em;
	color:#79AD0E;
}
#widget_mod .wgt-imgtxt_list .wgt-list_box .wgt-txt_cont .wgt-date{
	float:right;
	font-size:12px;
	line-height:1.5em;
	color:#999;
}
/* === parts.css === */
#widget_mod .wgt-ttl {
	background: url(http://www.walkerplus.com/images/common/ttl_bg1.jpg) repeat-x;
	border-left: solid 1px #DDD;
	border-right: solid 1px #DDD;
	border-bottom: solid 1px #DDD;
	border-radius: 2px 2px 0 0 / 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0 / 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0 / 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0 / 2px 2px 0 0;
	-ms-border-radius: 2px 2px 0 0 / 2px 2px 0 0;
	padding: 11px 10px 8px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e8e9eb));
	background: -moz-linear-gradient(top, #fefefe, #e8e9eb);
}

#widget_mod .wgt-green .wgt-ttl {
	border-top: solid 4px #91CF0A;
	-moz-border-radius: 4px 4px 0 0 / 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0 / 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0 / 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0 / 4px 4px 0 0;
}

#widget_mod .wgt-ttl .wgt-ttl_txt,
#widget_mod .wgt-ttl h1,
#widget_mod .wgt-ttl-pickup .wgt-ttl_txt,
#widget_mod .table-title .wgt-ttl_txt,
#widget_mod .table-title h1,
#widget_mod .wgt-ttl-rec .wgt-ttl_txt,
#widget_mod .wgt-ttl-rec h1 {
	float: left;
	font-size: 14px;
	font-weight: bold;
}
#widget_mod .wgt-inner {
	-mz-border-radius: 0 0 3px 3px / 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px / 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px / 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px / 0 0 3px 3px;
	border-bottom: solid 1px #DDD;
	border-left: solid 1px #DDD;
	border-right: solid 1px #DDD;
}




/* === custom === */
#widget_mod .wgt-inner .wgt-inner_cont2 {
	padding: 0 15px 10px;
}


#widget_mod .wgt-img_list_mod {
	display: table;
	margin: 0 auto;
	padding: 20px 0 0;
	border: 0px solid #ddd;
}
#widget_mod .wgt-img_list {
	display: table-cell;
	padding-left: 25px;
}
#widget_mod .wgt-img_list:first-child {
	display: table-cell;
	padding-left: 19px;
}
#widget_mod .wgt-img_list:last-child {
	display: table-cell;
	padding-left: 25px;
	padding-right: 19px;
}
#widget_mod .wgt-img_list a {
	display: block;
}
#widget_mod .wgt-img_list .wgt-area{
	width:128px;
	padding: 3px 0;
	border:1px solid #ddd;
	border-bottom:none;
	background-color:#91CF0A;
	color: #fff;
	text-align:center;
}
#widget_mod .wgt-img_list .wgt-photo{
	float:left;
	width:128px;
	height:128px;
	border:1px solid #ddd;
	background-color:#fff;
	text-align:center;
}
#widget_mod .wgt-img_list .wgt-photo:before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#widget_mod .wgt-img_list .wgt-photo img{
	max-width:120px;
	max-height:120px;
	padding: 4px;
	display: inline-block;
	vertical-align:middle;
}

/* === New_Widget(201506～) === */

.wgt-t_headline{
	margin-bottom:40px;
}

/* タイトル */
.wgt-ttlbar{
	border-left:6px solid #00B8F4;
	font-size:26px;
	line-height:1.5em;
	font-weight:bold;
	padding-left:15px;
}
.wgt-ttlbar{
	margin:0px 0 20px 0;
	position:relative;
}
.wgt-ttlbar p.wgt-righttxt{
	font-weight:normal;
	font-size:14px;
	line-height:1.4em;
	position:absolute;
	right:15px;
	bottom:4px;
	text-align:left;
	padding-left:215px;
}
.wgt-ttlbar p.wgt-righttxt a{
	padding-right:15px;
}
/* リスト */
.wgt-p01{
	margin-left:5px;
}
.wgt-p01 li{
	float:left;
/*	padding-bottom:15px;*/
	margin:0 15px 20px 15px;
	position:relative;
}

.wgt-p01 li .wgt-module{
	width:180px;
	position:relative;
	min-height:250px;
}
.wgt-p01 li .wgt-ph{
	border:1px solid #ddd;
	height:176px;
	text-align:center;
	margin-bottom:5px;
	padding:1px;
	width: 176px;
}
.wgt-p01 li .wgt-ph:before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.wgt-p01 li a{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:url(http://imgx.area.walkerplus.com/pc/images/trend/boxbg.png) no-repeat right bottom;
}
.wgt-p01 li .wgt-module p.wgt-ttltxt {
	min-height:63px;
}
.wgt-module p{
	padding:3px 0;
	font-size:14px;
	line-height:1.5em;
}
.wgt-module p.wgt-area{
	padding:3px 0 0 0;
	color:#666;
	font-size:13px;
}
.wgt-module p.wgt-ttltxt{
	font-weight:bold;
	font-size:14px;
	line-height:1.5em;
}
.wgt-module .wgt-ph img{
	max-width:176px;
	max-height:176px;
	margin:0;
	padding:0;
	vertical-align: middle;
}

/* ボタンベース */
.wgt-f_lnk{
	margin:0 15px 15px 0;
}
.wgt-f_lnk p{
	text-align:center;
	font-size:16px;
	background-color:#f8f8f8;
	padding:15px;
	color:#333;
	border:2px solid #eee;
}
.wgt-f_lnk a:hover{
	text-decoration:none;
}
.wgt-f_lnk a:hover p{
	background-color:#eee;
}

/* 区切り線 */
.wgt-sbdr{
	height:2px;
	background-color:#ddd;
	margin-bottom:20px;
}
.wgt-sbdr p{
	width:50px;
	height:2px;
	background-color:#00B8F4;
	float:right;
}
