/*
Copyright (c) 2009, Flixya Entertainment LLC. All rights reserved.
*/


/*************************
* float fix
*************************/	
	html, body {
		padding:0px; margin:0px;
                background-color:#F4F4F4;
    }
    .scrollme {
      height: 100%; width: 100%; overflow: auto;
     /* background: #f4f4f4 url(http://1.imagebam.com/static/img/bg.gif) top center repeat-y; */
      background-color:#F4F4F4;
    }
    .dontscrollme{
      position: static;
    }

    img{
        border:none;
}


body{
	font-family:sans-serif;
	
	font-size: 12px;
	color: #000;  
	padding:0px;
	margin: 0px;
	
}


	.abody{
		
		width:800px;
		margin:auto;
		background-color:white;
		border:1px solid #A7A7A7;
		border-top:none;
			margin-bottom:0px; padding-bottom:0px;
	}

	.banner{
		background-image:URL(http://1.imagebam.com/static/img/imagebam.png);
		background-repeat:no-repeat;
		height: 45px;
		width: 201px;
		margin-bottom:5px;
		margin-top:5px;

	}




.content{
		
	padding-bottom:0px;
}

.mybody{

	width:800px;
	
	margin:auto;
	margin-top:5px;
	background-color:white;
}

.header{
	
	
}


.dl_fileinfo{
	font-size:20px;
	font-weight:bold;
	padding-left:5px;
}

.progress {
background-image:url(http://1.imagebam.com/static/img/progressbar.gif);
height:18px;
width:0%;
}
.progressbg {
background-image:url(http://1.imagebam.com/static/img/upload_statusbk.gif);
height:18px;
width:420px;
}




h1{
	color:black;
		
	margin: 0px;
 	padding: 0px;
 	font-size:18px;
}
h2{
	color:black;
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-size: 13px;	
	margin: 3px;
	margin-left: 0px;
	padding: 0px;
}
h3{
	color:black;
	font-family: Arial, sans-serif;
	font-size: 13px;	
	line-height: 13px;
	margin: 3px;
	margin-left: 0px;
	padding: 0px;
}

.uploadB{
background-image:URL(http://1.imagebam.com/static/img/upload_b_1.gif);
width:124px;
height:34px;
border:none;
}


.faq_q{
	font-weight:bold;
	font-size:120%;
}

.faq_a{
	margin-left:10px;
	margin-top:3px;
}



.syndbar{
	background-image:URL(http://1.imagebam.com/static/img/top_bg_med.gif);
	height:20px;
	
	
	margin:auto;
	line-height:20px;

}

.syndbara{
	display:block;
	float:left;
	color:#333;
	text-decoration:none;
	font-size:10px;
	padding-left:15px;
	padding-right:15px;
	
	height:20px;
}

.syndbara:hover{
	color:#666;
	text-decoration:none;
}

.syndbarh{
	background-image:URL(http://1.imagebam.com/static/img/top_hmlabs_med.gif);
	float:left;
	width:75px;
	height:20px;
}








/*************************
*	MENU
*************************/
	.menu{
		font-size:13px;
		text-align:center;
		padding-top:10px;
	}
	.menu_a{
		
		margin-left:6px;
		margin-right:6px;
		text-decoration:none;
		color:#2651A9;
		
	}
	.menu_a:hover{
	text-decoration:none;
		
		
	}

.last{
padding-right:6px;
border-right:1px solid black;
}

.decentinput{
border:none;
border-bottom:1px solid black;

}	
.decentinput:hover{
border:none;
border-bottom:1px solid black;
background-color:#FBFAD9;
}	

.abox{
	margin:15px;
	border:1px solid #BBB;
}

.abox_header{
	background-color: #EEE;
	height:20px;
	border-bottom:1px solid #dadada;
	vertical-align:middle;
	display:table;
	text-align:center;
	width:100%;
}

.abox_header_text{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	font-color:#555;
	font-size:14px;
	font-weight:bold;
}

.abox_content{
	padding:7px;
	
}


		
		a{
			
			text-decoration:none;
		}
		
		
		a:hover{
			color:#2651A9;
			text-decoration:underline;
		}
	
	
	
	
		
		.al{
			text-align:left;
		}
		
		.ac{
			text-align:center;
		}


		
.box_error{
	background-color:#ffdede;
	border:1px solid #ab0000;
	padding:5px;
	margin:15px;
}

.box_info{
	background-color:#e0ffdb;
	border:1px solid #117b00;
	padding:5px;
	margin:15px;
}

.box_wait{
	background-color:#fffcd2;
	border:1px solid #e5d800;
	padding:5px;
	margin:15px;
}
	
.footer{
text-align:center;
color:#CCC;
margin-bottom:5px;
margin-top:5px;
}
.footera{
color:#000;
}

.footera:hover{
color:#000;
text-decoration:underline;
}
	

/****************************
*	ROW AND CELLS
****************************/
	.table{display:inline-table;}
	.row{display:table-row;}
	.cell{display:table-cell; text-align:left; vertical-align:middle;}
	.padding10{padding-left:10px;}


/***************************
*	IMAGE STYLES
***************************/
	.imgBG{border:1px solid #e7e9eb;}
	
/***************************
*	post-upload
***************************/
	
	.dlinput{
	width:90%;
		background-color:#FFF;
		border:2px solid #ff7707;
		color:#000;
		
		background-color:#f9f8f4;
		border:1px inset #c7c0b3;
		
		padding:3px;
	}
	.dlinput_container{}
	.dlinput_header{font-size:11px;}
	.mt3{margin-top:3px;}
	
/***************************
*	ERROR-box
***************************/
	.error{
		margin:15px;
		border:1px solid #6b0000;
		background-color:#ffe7e7;
		font-weight:bold;
		text-align:center;
	}
	
	

		
		
/*******************************
 vs2
*******************************/
		
	.input_sub{
		font-size:14px;
		padding:3px;
		border:1px solid #505050;
		background-image:URL(http://1.imagebam.com/static/img/input_bg.png);
		background-repeat:repeat-x;
		background-position:center left;
		background-color:#FFF;
		color:#484848;
	}
	
	.input_error{
		border:1px solid #AB0000;
	}
	
	.input_sub:focus{
		font-size:14px;
		padding:3px;
		background-image:none;
		border:1px solid #DFDFDF;
		background-color:#FFF;
		color:#000;
	}


        .dropdown{
            border:1px solid #505050;
            font-size:14px;
            padding:3px;
            background-image:URL(http://1.imagebam.com/static/img/input_bg.png);
		background-repeat:repeat-x;
		background-position:center left;
            background-color:#F9F9F9;
		color:#484848;

        }



	.register_desc{
		font-size:16px;
		text-align:right;
		padding-right:5px;
	}


        span.button{
		padding:5px;
		line-height:34px;
		font-size:14px;
		border:1px solid #c1c1c1;
		border-bottom:1px solid #aeaeae;
		border-right:1px solid #aeaeae;
		background-image:URL(http://1.imagebam.com/static/img/input_bg.png);
		background-repeat:repeat-x;
		background-position:center left;
		text-decoration:none;
		color:#000;
                cursor:hand;
		cursor:pointer;
	}

	span.button:hover{
		padding:5px;
		font-size:14px;
		line-height:34px;
		border:1px solid #c1c1c1;
		border-bottom:1px solid #aeaeae;
		border-right:1px solid #aeaeae;
		background-image:URL(http://1.imagebam.com/static/img/input_bg_hover2.png);
		background-repeat:repeat-x;
		background-position:center left;
		text-decoration:none;
		color:#000;
		cursor:hand;
		cursor:pointer;
	}


	a.button{
		padding:5px;
		line-height:34px;
		font-size:14px;
		border:1px solid #c1c1c1;
		border-bottom:1px solid #aeaeae;
		border-right:1px solid #aeaeae;
		background-image:URL(http://1.imagebam.com/static/img/input_bg.png);
		background-repeat:repeat-x;
		background-position:center left;
		text-decoration:none;
		color:#000;
	}
	
	a.button:hover{
		padding:5px;
		font-size:14px;
		line-height:34px;
		border:1px solid #c1c1c1;
		border-bottom:1px solid #aeaeae;
		border-right:1px solid #aeaeae;
		background-image:URL(http://1.imagebam.com/static/img/input_bg_hover2.png);
		background-repeat:repeat-x;
		background-position:center left;
		text-decoration:none;
		color:#000;
		cursor:hand;
		cursor:pointer;
	}
	
	a.button:active{
		padding:5px;
		font-size:14px;
		line-height:34px;
		border:1px solid #c1c1c1;
		border-bottom:1px solid #aeaeae;
		border-right:1px solid #aeaeae;
		background-image:URL(http://1.imagebam.com/static/img/input_bg_hover.png);
		background-repeat:repeat-x;
		background-position:center left;
		text-decoration:none;
		color:#000;
		cursor:hand;
		cursor:pointer;
	}

	a.button2{
		padding:5px;
		padding-top:3px;
		padding-bottom:3px;
		line-height:32px;
		font-size:14px;
		border:1px solid #c1c1c1;
		border-bottom:1px solid #aeaeae;
		border-right:1px solid #aeaeae;
		background-image:URL(http://1.imagebam.com/static/img/input_bg.png);
		background-repeat:repeat-x;
		background-position:center left;
		text-decoration:none;
		color:#000;
	}
	
	a.button2:hover{
		padding:5px;
		padding-top:3px;
		padding-bottom:3px;
		line-height:32px;
		font-size:14px;
		border:1px solid #c1c1c1;
		border-bottom:1px solid #aeaeae;
		border-right:1px solid #aeaeae;
		background-image:URL(http://1.imagebam.com/static/img/input_bg_hover.png);
		background-repeat:repeat-x;
		background-position:center left;
		text-decoration:none;
		color:#000;
		cursor:hand;
		cursor:pointer;
	}
	
	a.button2:active{
		padding:5px;
		padding-top:3px;
		padding-bottom:3px;
		line-height:32px;
		font-size:14px;
		border:1px solid #c1c1c1;
		border-bottom:1px solid #aeaeae;
		border-right:1px solid #aeaeae;
		background-image:URL(http://1.imagebam.com/static/img/input_bg_hover.png);
		background-repeat:repeat-x;
		background-position:center left;
		text-decoration:none;
		color:#000;
		cursor:hand;
		cursor:pointer;
	}
	
	
	.cursor{
		cursor:hand;
		cursor:pointer;
	}
	
	.info{
		color:green;
		font-weight:bold;
	}
	

	
	/******************* ERROR BOX ********/
		.error_box{
			border:1px solid #4D0000;
			width:400px;
			margin:auto;
			text-align:left;
		}
		
		.error_title{
			background-color: #FF4D4D;
			border-bottom:1px solid #4D0000;
			color:#4D0000;
			font-weight:bold;
			padding:2px;
		}
		
		.error_msg{
			padding:2px;
		}
		
		.error_ip{
			padding:2px;
			font-size:10px;
		}	
		
		
	/******************* pagination ****/
		.pagination{
		border:1px solid #dadada;
		font-weight:bold;
		line-height:20px;
		font-size:12px;
		padding:3px;
		margin-right:4px;
		}
		
		.paginations{
		border:1px solid orange;
		font-weight:bold;
		line-height:20px;
		font-size:12px;
		padding:3px;
		margin-right:4px;
		}
	
	/**************** load indicator *********/
	
	
	.loadbar{
		background-color: rgb(204, 68, 68);
		border:1px solid rgb(204, 68, 68);
		color:#fff;
		padding:3px;
		float:right;
		display:none;
	}
	
	
	
	    /***************************
    * well known tabs
    ****************************/
    
		    .dtab{
			background:transparent url(http://1.imagebam.com/static/img/tab-line.gif) repeat-x scroll center bottom;
			padding-right:5px;
			height:28px;
			padding-left:15px;
			vertical-align:bottom;
			}
			
			.dtab ul{
				font-size:14px;
				list-style-image:none;
				list-style-type:none;
				list-style-position:outside;
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border-top:1px solid white;
			}
			
			.dtab li{
				background:transparent url(http://1.imagebam.com/static/img/tab-back.png) repeat scroll 100% -100px;
				border-bottom:1px solid #BBBBBB;
				padding:0pt 5px 0pt 0pt;
				margin:0pt 2px 0pt 0pt;
				text-align:center;
				float:left;
			}
			
			
			.dtab a{
				background:transparent url(http://1.imagebam.com/static/img/tab-back.png) repeat scroll 0pt -100px;
				display:block;
				/*min-height:17px;*/
				text-decoration:none;
				white-space:nowrap;
				padding:0px 5px 0px 10px;
                                /* padding:0px 11px 0px 16px; */
				text-align:center;
				float:left;
				font-size:14px;
				line-height:26px;
				font-weight:bold;
				color:#000;
			}
			
			
			.dtab li:hover{
				background-position:100% -200px;
			}
			
			.dtab li:hover a {
				background-position:0pt -200px;
				font-decoration:none;
				color:black;
			}
			
			.dtab li.active {
				background:transparent url(http://1.imagebam.com/static/img/tab-back.png) repeat scroll 100% 0pt;
				border-bottom:1px solid #FFFFFF;
			}
			
			.active li {
				background:transparent url(http://1.imagebam.com/static/img/tab-back.png) repeat scroll 100% 0pt;
				border-bottom:1px solid #FFFFFF;
			}
			
			.dtab li.active a {
				background:transparent url(http://1.imagebam.com/static/img/tab-back.png) repeat scroll 0pt 0pt;
				display:block;
				float:left;
				text-decoration:none;
				white-space:nowrap;
				color:black;
				text-align:center;
				
			}
			
			.dtab h2{
			font-size:16px;
			background:transparent none repeat scroll 0%;
			margin-bottom:0pt;
			min-height:17px;
			margin:0px;
			position:relative;
			top:10px;
			padding-left:5px;
			line-height:17px;
			float:left;
			}

			.gallery_selected{
				margin:2px;
			}
			
			.thumb_icons{
			 	border:1px solid white; height:16px; width:16px; line-height:16px; margin:0px; display:block; float:left;
			 	background-color:white; margin-right:1px;
			 	border:1px solid #8a8a8a;
			}
			
			.thumb_icons:hover{
			 	border:1px solid orange;
			}
			
			
/***********************************
* overlay windows
***********************************/
	.overlay_container{
		position:absolute;
		top:0px;
		left:0px;
		height:100%;
		width:100%;
		background-image:URL(http://1.imagebam.com/static/img/trans_new.gif);
		padding-top:100px;
		display:none;
	}
	
	.overlay_win{
		
		width:760px;
		top:100px;
		margin:auto;
	}
	
	.overlay_win_top{
		border:1px solid #9d9da1;
		height:22px;
		line-height:16px;
		background-image:URL(http://1.imagebam.com/static/img/win_top.gif);
		background-repeat:repeat-x;
	}
	
	.overlay_win_content{
	border:1px solid #9d9da1;
	border-top:none;
	 background-color:white;
	}			
	
/*****************************
*  ticket-system
******************************/
	.ticket_header{
		font-size:14px; font-weight:bold; border-bottom:1px dotted grey;
		padding:5px;
		background-color:#fffaa4;
		width:700px; margin:auto;
	}
	
	.ticket_updater{
		padding:5px;
		border-bottom:2px solid black;
		width:700px; margin:auto;
		margin-bottom:20px;
	}
	
	
/*****************************
*	gallery vs2
*****************************/

	.editable_input{
		background-color:white;
		border:2px solid #F7F5EB;
		padding:2px;
		font-size:14px;
		font-weight:bold;
		width:624px;
	}

	.editable_input:hover{
		border:2px solid #DDD;
	}
	
	.editable_input:focus{
		border:2px solid black;
	}

	.editable_text{
		background-color:white;
		border:2px solid #F7F5EB;
		padding:2px;
		font-size:12px;
		width:596px;
		height:66px;
		margin-top:2px;
	}

	.editable_text:hover{
		border:2px solid #DDD;
	}
	
	.editable_text:focus{
		border:2px solid black;
	}
	
	
/******************************
*	V2 additions
******************************/	
	
	fieldset {
		border:1px solid #BBBBBB; margin-bottom:20px; padding:20px; margin-left:20px; margin-right:20px;
	}
	
	legend {
		font-size:14px; font-weight:bold; color:#232323; padding-left:8px; padding-right:8px;
	}


        .pagination_link{
            border:1px solid #CCCAC8;
            color:black;
            font-weight: bold;
            background-color:#F4F3F3;
            padding:3px;
            font-size:12px;
            line-height:26px;

        }

        .pagination_current{
            border:1px solid #CFA03C;
            background-color:#EEDCB4;
            padding:3px;
            font-size:12px;
            line-height:26px;
            color:black;
            font-weight: bold;
            text-decoration: none;
        }
	
	
/******************************
*	API
******************************/

	.pre{
		background-color:#EEEEEE;
		padding:4px;
		margin:0px;
	}
	
	.API_h1{
		
		font-weight:bold;
		font-size:20px;
		margin-bottom:10px;
	}
	
	.API_h2{
		color:#FF0084;
		font-size:16px;
		margin-bottom:5px;
	}
	
	.API_h3{
		color:#FF0084;
		font-weight:bold;
		margin-bottom:3px;
		margin-top:18px;
		margin-bottom:7px;
	}
	
	.API_block{
		margin-left:10px;
		margin-bottom:20px;
	}
	
	table.api_table{
	border-collapse: collapse;
	}
	
	table.api_table td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 4px 1px 4px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	background-color: white;
	
	}





          #filelist_header{
        width:600px;
        border:1px solid silver;
        border-bottom:none;
        background-color:#F1F1EF;
    }


    #filelist_header div{

        font-weight:bold;
        font-size:13px;
        padding:4px;
        padding-top:5px;
        padding-bottom:5px;
        font-weight:bold;
        line-height:13px;
        height:13px;

    }

    #filelist{
        border:1px solid silver;
        width:600px;
        height:300px;
        overflow:auto;
    }

    .filecontainer{

    }


    .filecontainer div{
        padding:4px;
}

.fileerror{
    padding:4px;
    color:red;
}

    .filename{
 width:365px;
 float:left;
}

.filesize{
 width:100px;
 float:left;
}

.filestatus{
 width:80px;
 float:left;
}

.filecontainer .filestatus{
    width:70px;
}
.filedel{
    float:left;
}

.clearleft{

}

fieldset legend img{
    vertical-align:middle;
    line-height:16px;
    height:16px;
    padding-right:5px;
}

span.tip{
    background-image:URL(/img/icons/lightbulb.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left:18px;
    line-height:16px;
    margin-left:50px;
}

div.uploader_input_label{
    width:100px; float:left; font-size:13px; font-weight:bold; line-height:27px; padding-left:50px; width:160px;
}