html {
  overflow-x: hidden;
  width: 100%;
}
body, #web {
  background: #191c22;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100%;
}
input:focus, textarea:focus { outline: none; }
input { font-family: "Roboto",sans-serif; }
textarea { resize:vertical; font-family: 'Roboto', sans-serif; }
input[type="submit"] { cursor: pointer }
a {
  text-decoration: none;
  color: #0066c6;
}
a:visited {
  color: #0066c6;
}
#album, #content, #header, #footer, #stats, #intro, #user{
  width: 1060px;
  margin: 0 auto;
}
.clear{
  clear:both;
}

#notice{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #3a4152;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
#notice a{
  text-decoration: underline;
  color: white;
}
#notice a#close{
  background-color: #9aa7b8;
  color: #191c22;
  padding: 3px 7px;
  border-radius: 4px;
  margin: 0 0 0 15px;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#headerc{
  background: #222630;
}
#header #logo{
  float: left;
  width: 160px;
  display: block;
  margin-top: 9px;
}
#header #search {
  float: left;
  width: 220px;
  margin-left: 30px;
}
#search-mobile {
  display: none;
  padding: 5px 0 15px;
  background-color: #13161d;
}
#search-mobile #search {
  width: 95%;
  margin: 0 auto;
}
#search-mobile #q {
  background: #191c22;
  border:0;
  padding: 11px;
  margin: 10px 0 0 0;
  color: white;
  border-radius: 3px 0 0 3px;
  width: calc(85% - 22px);
}
#header #q{
  background: #191c22;
  border:0;
  padding: 12px;
  margin: 10px 0 0 0;
  color: white;
  border-radius: 3px 0 0 3px;
}
::-webkit-input-placeholder {
   color: #7c8796;
}
:-moz-placeholder { /* Firefox 18- */
   color: #7c8796;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #7c8796;
}
:-ms-input-placeholder {  
   color: #7c8796;  
}
#submitsearch {
  width: 37px;
  height: 35px;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url(/img/search.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 37px 35px;
  text-indent: -1000em;
  border-radius: 0 4px 4px 0;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  background-color: #3a4053;
}
#header #menu{
  float: right;
  font-size: 12px;
}
#header #menu li{
  float: left;
  padding-left: 31px;
  margin-left: 1px;
  list-style: none;
  color: white;
}
#header #menu li a{
  padding-left: 17px;
  margin-top: 10px;
}
#header #menu li#myfavorites a {
  margin-top: 7px;
}
#header #menu li#myfavorites-loggedout a, #header #menu li#myfavorites a {
  background: url(/img/myfavorites.svg) no-repeat top 4px left 0;
  background-size: 11px 9px;
}
#header #menu li#addalbum a{
  background: url(/img/addalbum.png) no-repeat 0 4px;
  background-size: 9px 9px;
}
#header #menu li#myfavs a{
  background: url(/img/myfavs.png) no-repeat 0 4px;
  background-size: 10px 9px;
}
#header #menu li#signin a{
  background: url(/img/signin.png) no-repeat 0 3px;
  background-size: 10px 11px;
}
#header #menu li#signup a{
  border-radius: 4px;
  background-color: #3a4152;
  width: 150px;
  text-align: center;
  margin-top: 0;
  padding: 10px 0;
}
#header #menu a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
#header #menu li#signedin{
  float: left;
  text-align: right;
  margin-top: 7px;
  margin-bottom: 11px;
}
#header #menu li#signedin a{
  display: inline;
  background: url(/img/signout.png) no-repeat top 3px left;
  margin-left: 10px;
  background-size: 13px;
  padding-left: 18px;
}
#content {
  margin: 0 auto 40px;
}
#content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} 
#album {
  margin: 0 auto 40px;
}
#album:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} 
.other {
  margin: 0 auto 40px;
}
.other:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} 

#footerc{
  float: left;
  width: 100%;
  clear: both;
  background: #10131a url(/img/subheaderbg.svg) repeat-x 50% 10px;
  background-size: 100%:
}
#home #footerc{
  /*margin-top: 0;*/
}
#footer{
  font-size: 13px;
  color: #525d6a;
  padding: 25px 0 0 0;
}
#footer a{
  color: #525d6a;
  text-decoration: none;
}
#footer a:hover{
  color: #9aa7b8;
}
#footer h2{
  font-size: 15px;
  color: #9aa7b8;
  width: 160px;
  padding-bottom: 10px;
  margin: 0 0 17px 0;
  border-bottom: 1px solid #ffd30d;
}
#footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer li{
  margin: 8px 0;
  font-weight: bold;
}
#finfo{
  width: 250px;
  float: left;
  margin-right: 100px;
}
#finfo p{
  margin: 4px 0 8px 0;
  line-height: 23px;
}
#fpopular{
  width: 255px;
  float: left;
  margin-right: 25px;
}
#fnav{
  width: 165px;
  float: left;
}
#fsocial{
  float: right;
  width: 156px;
}
#igram{
  display: block;
  margin: -19px 0 0 0;
}
#rights{
  clear: both;
  text-align: center;
  border-top: 1px solid #323940;
  padding: 12px 0;
  margin-top: 30px;
  float: left;
  width: 100%;
}


h1{
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
  font-weight: 300;
  color: white;
}

.albumthumbnail{
  width: 300px;
  float: left;
}
#home .albumthumbnail, #searchpage .albumthumbnail{
  width: 330px;
  float: left;
}
.albumthumbnail p{
  line-height: 20px;
  margin: 5px 0;
}
.albumthumbnail p.title{
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.albumthumbnail p.number{
  font-size: 14px;
  color: #747f8c;
}
#popular .middle{
  margin: 0 35px;
}
.even{
  background: #222630;
}
.odd{
  background: #272c37;
}
.albumthumbnail img{
  border-radius: 50%;
  width: 93px;
  height: 93px;
  display: block;
  float: left;
}
.albumthumbnail .aall {
	position: relative;
	float: left;
	cursor: pointer;
}
/*
.albumthumbnail .aall:before {
	background: none;
}

.albumthumbnail .aall:hover:before {
	content: attr(photos);
  color: white;
  text-align: center;
	display: block;
	position: absolute;
  font-size: 30px;
  font-weight: 600;
  padding-top: 25px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*background: rgba(11,122,221, 0.7);
  background: rgba(29,98,164, 0.7);
  width: 93px;
  height: 68px;
  border-radius: 50%;
  margin: 18px 0 0 29px;
}
*/
.albumthumbnail .albumphoto {
  width: 93px; height: 93px;
  display: block;
  float: left;
  position: relative;
  margin: 18px 18px 18px 29px;
}
.albumthumbnail .overlay {
  color: white;
  text-align: center;
	display: none;
	position: absolute;
  font-size: 30px;
  font-weight: 600;
  padding-top: 25px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background: rgba(29,98,164, 0.7);
  width: 93px;
  height: 68px;
  border-radius: 50%;
  pointer-events: none;
}
.albumthumbnail:hover .overlay {
  display: block;
}
#home .albumthumbnail .aall:hover:before {
  margin: 24px 0 0 32px;
}
.psc {
  display: table;
  width: 145px;
  height: 129px;
  float: left;
}
#home .psc {
  width: 165px;
  height: 135px;
}
.ps {
  display: table-cell;
  vertical-align: middle;
}

#introc{
  /*
  http://i.imgur.com/NGXZusH.jpg 300
  http://i.imgur.com/xIMkEA4.jpg 240
  http://i.imgur.com/r6m8oXk.jpg 100
  http://i.imgur.com/vGVA3J8.jpg 340
  
  */
  background-color: linear-gradient(rgba(10, 11, 14, 0.45), rgba(10, 11, 14, 0.45));
  background-image: url("/img/headerbg.jpg");
  background-repeat: no-repeat;
  background-size: 50% 50%;
  -moz-background-size:cover; 
  -webkit-background-size:cover; 
  background-size:cover;
  background-position: top 50% center;
  margin-bottom: 47px;
  
}
#intro{
  text-align: center;
  height: 284px;
  color: white;
  padding-top: 87px;
}
#intro h1{
  font-size: 37px;
  margin: 0 0 20px;
}
#intro p{
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  width: 502px;
  margin: 0 auto;
}
#intro p#button a{
  border: 0;
  border-radius: 4px;
  background: #0b7add url(/img/promoupload.png) no-repeat 20px 12px;
  background-size: 14px;
  padding: 5px 21px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  width: 160px;
  margin: 40px auto 0 auto;
  font-weight: 400;
  padding-left: 50px;
}

#statsc{
  background: #10131a;
  margin-top: 50px;
  float: left;
  width: 100%;
}
#stats{
  border-bottom: 1px solid #323940;
  padding: 35px 0;
}
#stats p{
  color: #9ca3b6;
  font-size: 18px;
  width: 147px;
  float: left;
  margin: 0;
}
#stats span{
  color: white;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
  display: block;
}
#stats p#nwallpapers{
  margin-left: 105px;
  padding-left: 78px;
  background: url(/img/nwallpapers.png) no-repeat 0 5px;
  background-size: 57px 52px;
}
#stats p#nalbums{
  margin-left: 105px;
  padding-left: 78px;
  background: url(/img/nalbums.png) no-repeat 0 7px;
  background-size: 59px 44px;
}
#stats p#nviews{
  margin-left: 105px;
  padding-left: 78px;
  background: url(/img/nviews.png) no-repeat 0 11px;
  background-size: 55px 38px;
}

#album h1{
  
}
#albuminfo{
  width: 710px;
  float: left;
  text-align: center;
}
#wpinfo{
  width: 100%;
  float: left;
  text-align: left;
}
#prev, #next{
  width: 175px;
  height: 190px;
  font-size: 15px;
  display: table;
}
#prev p, #next p{
  display: table-cell;
  vertical-align: middle;
}
#prev a, #next a{
  color: white;
  text-decoration: none;
  display: block;
}
#prev a{
  background: url(/img/prev.png) no-repeat 0 50%;
  background-size: 10px 16px;
  padding-left: 31px;
}
#prev {
  float: left;
}
#next{
  text-align: right;
  float: right;
}
#next a{
  background: url(/img/next.png) no-repeat 100% 50%;
  background-size: 10px 16px;
  padding-right: 31px;
}
#ainfo{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  height: 40px;
  padding-left: 6px;
  padding-top: 6px;
  display:inline-block;
}
#ainfo li{
  margin: 0;
  padding: 0;
  float: left;
  font-size: 13px;
  font-weight: 300;
  color: white;
}
#ainfo li span{
  padding-top: 5px;
  float: left;
}
#ainfo li span.semantic{
  display: none;
}
#ainfo li#author{
  background: url(/img/albuminfo.png) no-repeat 0 0;
  background-size: 346px 41px;
  padding: 6px;
}
#author img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  float: left;
  margin-right: 8px;
}
#ainfo li#time{
  padding: 6px 0 16px 45px;
  background: url(/img/atime.png) no-repeat 0 0;
  background-size: 346px 41px;
}
#ainfo li#views{
  padding: 6px 18px 16px 30px;
  background: url(/img/aviews.png) no-repeat 100% 0;
  background-size: 346px 41px;
}
#ainfo li#views span{
  padding-left: 24px;
  background: url(/img/views.png) no-repeat 0 10px;
  background-size: 15px 10px;
}

#albumwp{
  width: 750px;
  float: left;
}
#sidebar{
  float: right;
  width: 300px;
}
#sidebar #user-widget {
  background: #222630;
  padding: 20px 25px;
}
#sidebar #user-widget h2 {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin: 0;
  line-height: 25px;
}
#sidebar #user-widget span {
  font-size: 14px;
  color: #747f8c;
  display: block;
}
.wallpaper{
  float: left;
  width: 750px;
  margin-bottom: 10px;
}
.wallpaper > img, .wallpaper img.wpimg {
  width: 700px;
}
.wpbuttons{
  float: left;
  width: 45px;
  font-size: 10px;
  color: white;
  font-weight: 300;
}
.download{
  background: url(/img/bgdownload.png) no-repeat 0 0;
  background-size: 45px 52px;
  margin-top: 25px;
  color: #fff;
  text-decoration: none;
}
.comment{
  background: url(/img/bgdownload.png) no-repeat 0 0;
  background-size: 45px 52px;
  color: #fff;
  text-decoration: none;
}
a.comment:visited {
  color: white;
}
.download span {
  background: url(/img/download.png) no-repeat center;
  background-size: 14px 17px;
  width: 14px; height: 17px;
  display: block;
  margin: 0 auto 4px;
}
.download:hover span {
  background: url(/img/download-hover.png) no-repeat center;
  background-size: 14px 17px;
}
.addtofavorite {
  background-size: 45px 52px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  height: 42px;
  cursor: pointer;
  background: url(/img/bgfavs.png) no-repeat 0 0;
  background-size: 45px 52px;
  text-decoration: none;
}
.addtofavorite p, .addtofavorite a {
  font-size: 10px;
  color: white;
  font-weight: 300;
}
.fav {
  position: relative;
}
.fav span {
  background: url(/img/fav.png) no-repeat center;
  width: 18px; height: 15px;
  background-size: 18px 15px;
  display: block;
  margin: 0 auto 5px;
}
.fav:hover span {
  background: url(/img/fav-hover.png) no-repeat center;
  background-size: 18px 15px;
}
.loginreq {
  display: none;
  position: absolute;
  left: 45px;
  top: 83px;
  width: 100px;
  background-color: #d60000;
  padding: 9px 0 9px 12px;
  border: none;
  font-size: 12px;
  line-height: 145%;
}
.loginreq a {
  color: white;
  text-decoration: underline;
}
.download {
  background-size: 45px 52px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  height: 42px;
  cursor: pointer;
}
.download p, .fav p{
  margin: 1px 0 8px 0;
}
.comment {
  background-size: 45px 52px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  height: 42px;
  cursor: pointer;
}
.comment p, .fav p{
  margin: 1px 0 8px 0;
}
.wpfb, .wptw, .wppt{
  margin-bottom: 4px;
}
.wppt {
  background: #cd1d1e;
  width: 45px;
  border-radius: 2px 0 0 2px;
  height: 25px;
  padding-top: 8px;
  text-align: center;
  display: block;
}
.wpimage{
  float: left;
  width: 700px;
}
#related{
  width: 300px;
  margin-top: 13px;
}

#sharealbum {
  margin: 13px 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  text-transform: uppercase;
  float: left;
  width: 100%;
}
#sharealbum a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  float: left;
  display: block;
  width: 343px;
  margin-right: 15px;
}
#sharefb a {
  background: #395399;
  margin-left: 45px;
  padding: 15px 0 14px;
  text-align: center;
}
#sharefb a:hover {
  background: #5170b2;
}
#sharefb a span {
  background-image: url(/img/facebook.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 11px 20px;
  display: inline-block;
  width: 11px; height: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
}
#sharetw a {
  background: #00a8f3;
  float: left;
  padding: 15px 0 15px;
  text-align: center;
  margin-right: 0;
}
#sharetw a:hover {
  background: #36c5ff;
}
#sharetw a span {
  background-image: url(/img/twitter.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px 17px;
  width: 20px; height: 17px;
  margin-right: 10px;
  margin-bottom: -5px;
  display: inline-block;;
}
#sharept a {
  background: #cd1d1e;
  float: left;
  padding: 15px 0 14px;
  text-align: center;
  margin-right: 0;
}
#sharept a span {
  background-image: url(/img/pinterest.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 13px 17px;
  width: 13px; height: 17px;
  margin-right: 10px;
  margin-bottom: -5px;
  display: inline-block;;
}

#subheader {
  background-image: url(/img/subheaderbg.svg);
  background-color: #13161d;
  text-align: center;
  background-size: 100%;
  background-position: center;
  color: white;
  padding: 31px 0;
  background-repeat: no-repeat;
}
#subheader:after  {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#subheader h1{
  margin: 0;
  padding: 0;
}
#mform{
  width: 610px;
  padding: 35px;
  margin: 0 auto;
  background: #222630;
  margin-top: 33px;
}
#mform p.intro {
  color: #7c8796;
  font-size: 13px;
  line-height: 19px;
	margin: 0 0 30px 0;
}
#passwordrecovery-process {
  width: 610px;
  padding: 35px;
  margin: 35px auto;
  background: #222630;
  color: #7c8796;
  font-size: 13px;
}
#passwordchanged {
  font-size: 14px;
  color: #fff;
  float: left;
  margin-top: 1px;
  display: inline;
}
#mform div {
  float: left;
}
#mform .remember {
  margin: 0 0 5px 0;
  float: none;
}
#mform .remember a:hover{
  text-decoration: none;
}

#mtxt{
  width: 700px;
  padding: 35px;
  margin: 0 auto;
  background: #222630;
  margin-top: 33px;
  color: #7c8796;
  font-size: 13px;
  line-height: 16px;
}
#mtxt h2{
  color: white;
  font-weight: 300;
  font-size: 15px;
  margin: 35px 0 10px 0;
}
#mtxt a{
  color: #7c8796;
}

#socialuser{
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  float: left;
  width: 100%;
}
#socialuser a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  float: left;
  display: block;
  width: 148px;
  padding-left: 48px;
  padding-top: 16px;
  padding-bottom: 15px;
}
#userfb a{
  background: url(/img/userfb.png) no-repeat 0 0;
  background-size: 194px 47px;
  padding-left: 43px;
  width: 153px;
}
#usertw a{
  background: url(/img/usertw.png) no-repeat 0 0;
  background-size: 194px 47px;
  margin: 0 10px;
}
#usergp a{
  background: url(/img/usergp.png) no-repeat 0 0;
  background-size: 194px 47px;
}
#mform form{
  margin: 0;
  padding: 0;
}
#mform p.error {
  margin: 20px 0 5px 0;
  color: red;
}
#mform input[type=text], #mform input[type=password], textarea{
  background: #191c22;
  border: 1px #191c22 solid;
  padding: 12px;
  font-size:12px;
  margin: 0 0 20px 0;
  color: white;
  width: 586px;
}
textarea{
  height: 55px;
  color: white;
}
#mform input[type=submit]{
  border:0;
  border-radius: 4px;
  background-color: #3a4152;
  padding: 10px 35px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  float: right;
}
.remember{
  font-size: 13px;
  width: 400px;
  float: left;
  color: #7c8796;
}
.remember label{
  vertical-align: middle;
}

#mobile-menu, #mobile-search {
  display: none;
}

#userheaderc {
  background-image: url("/img/userheader.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top 20% center;
}
#userheader {
  width: 1060px;
  margin: 0 auto;
  text-align: center;
  padding: 32px 0 30px;
  position: relative;
}
#umain {
  text-align: center;
}
#umain h1 {
  margin-top: 0;
  font-size: 20px;
  display: inline-block;
}
#uavatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-top: 0px;
  margin-right: 10px;
  margin-bottom: -20px;
  display: inline-block;
}
#usocial {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
#usocial li {
  display: inline-block;
}
#usocial li a {
  font-size: 0;
}
#usocial .instagram {
  background-image: url("/img/uinstagram.svg");
  background-size: 15px 15px;
  width: 15px; height: 15px;
  float: left;
  display: block;
  margin-right: 20px;
}
#usocial .twitter {
  background-image: url("/img/utwitter.svg");
  background-size: 18px 15px;
  width: 18px; height: 15px;
  float: left;
  display: block;
  margin-right: 20px;
}
#usocial .facebook {
  background-image: url("/img/ufacebook.svg");
  background-size: 7px 15px;
  width: 7px; height: 15px;
  float: left;
  display: block;
}
#editprofile {
  background-image: url("/img/editprofile.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: top 50% left 10px;
  background-color: #383e4e;
  padding: 8px 15px 8px 25px;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #a5abb9;
  position: absolute;
  top: 40px;
  right: 0;
}
#uinfo {
  background: rgba(120, 135, 148, 0.15);
  border-radius: 20px;
  height: 40px;
  list-style: none;
  padding: 0 10px;
  display: inline-block;
  margin-top: 27px;
  margin-bottom: 25px;
}
#uinfo li {
  display: inline-block;
  font-size: 14px;
  color: #fff;
}
#uinfo li a {
  text-decoration: none;
  color: #fff;
}
#ulocation {
  background-image: url("/img/ulocation.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 5px;
  background-size: 13px 13px;
  padding: 11px 10px 11px 25px;
}
#uwebsite {
  background-image: url("/img/uweb.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 5px;
  background-size: 13px 13px;
  padding: 11px 10px 11px 25px;
}
#udate {
  background-image: url("/img/udate.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 5px;
  background-size: 12px 13px;
  padding: 11px 10px 11px 25px;
}
#ubio {
  font-size: 14px;
  line-height: 25px;
  color: #9fa8be;
  width: 575px;
  margin: 0 auto;
}
  
#utabsc {
  background-color: #222630;
  padding: 0;
}
#utabs {
  width: 1060px;
  margin: 0 auto;
}
#utabs:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#ustats {
  list-style: none;
  padding: 0;
  display: block;
  float: left;
}
#ustats li {
  height: 32px;
  display: inline-block;
  border-right: 1px solid #333948;
  margin-right: 30px;
  padding-right: 29px;
}
#ustats li img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 4px;
}
#ustats li p {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  display: inline-block;
  margin: 0;
}
#ustats li p span {
  color: #9da2af;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  display: block;
}
#ustats li#udownloads {
  border-right: none;
}
#ustats li > span {
  display: inline-block;
  width: 36px; height: 28px;
  margin-right: 10px;
}
#ualbums > span {
  background-image: url("/img/ualbums.svg");
  background-repeat: no-repeat;
  background-size: 36px 27px;
  background-position: top 50% left 50%;
}
#uviews > span {
  background-image: url("/img/uviews.svg");
  background-repeat: no-repeat;
  background-size: 36px 25px;
  background-position: top 50% left 50%;
}
#uwallpapers > span {
  background-image: url("/img/uwallpapers.svg");
  background-repeat: no-repeat;
  background-size: 25px 27px;
  background-position: top 50% left 50%;
}
#udownloads > span {
  background-image: url("/img/udownloads.svg");
  background-repeat: no-repeat;
  background-size: 34px 28px;
  background-position: top 50% left 50%;
}
/*
#ustats li {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  display: inline-block;
  line-height: 17px;
  float: left;
}
#ustats li span {
  color: #9da2af;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  display: block;
}
#ualbums {
  border-right: 1px solid #333948;
  background-image: url("/img/ualbums.svg");
  background-repeat: no-repeat;
  background-size: 36px 27px;
  background-position: 0 0;
  padding: 0 40px 0 50px;
}
#uviews {
  border-right: 1px solid #333948;
  background-image: url("/img/uviews.svg");
  background-repeat: no-repeat;
  background-size: 36px 25px;
  background-position: top 50% left 20px;
  padding: 0 40px 0 70px;
}
#uwallpapers {
  border-right: 1px solid #333948;
  background-image: url("/img/uwallpapers.svg");
  background-repeat: no-repeat;
  background-size: 25px 27px;
  background-position: top 50% left 20px;
  padding: 0 40px 0 70px;
}
#udownloads {
  background-image: url("/img/udownloads.svg");
  background-repeat: no-repeat;
  background-size: 34px 28px;
  background-position: top 50% left 20px;
  padding: 0 40px 0 70px;
}
*/
#ufavorites, #ucomments {
  background-color: #383e4e;
  color: #a5abb9;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: left;
  font-size: 12px;
  text-decoration: none;
  display: block;
  float: left;
  width: 143px;
  margin-top: 15px;
}
#ufavorites {
  background-image: url("/img/next.png");
  background-size: 6px 10px;
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
  margin-right: 15px;
}
#ucomments {
  background-image: url("/img/next.png");
  background-size: 6px 10px;
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
}

#userwallpapersc {
  width: 735px;
  float: left;
  margin-top: 30px;
}
.userwallpaper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.userwallpaper {
  padding: 19px;
  background: #222630;
  margin-bottom: 20px;
}
.userwallpaper h2 {
  font-size: 17px;
  color: #fff;
  padding-bottom: 19px;
  border-bottom: 1px solid #282e36;
  margin-top: 0;
  font-weight: 400;
}
.userwallpaper .number {
  font-size: 14px;
  color: #747f8c;
  float: right;
  margin-top: -50px;
}
.userwallpaper a {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 23px;
}
.userwallpaper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.userwallpaper .seemore {
  margin-right: 0;
}

h2#commenttitle {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 30px 0;
}
h2#commenttitle span {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  padding: 1px 8px;
  margin-left: 10px;
  background: #0b7add;
}
#comments {
  background: #222630;
  padding: 20px;
}
.commentc {
  margin-bottom: 20px
}
.commentedin {
  font-size: 14px;
  color: #7c8796;
  margin-bottom: 15px;
}
.commentedin a {
  font-weight: 700;
  color: #0b7add;
  text-decoration: none;
}
.commentedin .when {
  font-size: 12px;
  color: #7c8796;
  float: right;
  margin-top: 2px;
}
/*.comment {
  background: #272c37;
  padding: 1px 20px;
  position: relative;
}*/
.comment .arrow {
  background-image: url("/img/commentarrow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 11px 9px;
  width: 11px; height: 9px;
  position: absolute;
  left: 20px;
  top: -9px;
}
/*.comment p {
  font-size: 14px;
  color: #7c8796;
}*/

#pagenotfound {
  background-image: url("/img/404.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top 30% left 50%;
  text-align: center;
}
#pagenotfound h1 {
  font-size: 150px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 80px;
  margin: 0;
  padding: 220px 0;
}
#pagenotfound h1 span {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  display: block;
  font-weight: 400;
}

#latestfavc {
  width: 300px;
  float: right;
}  
#latestfavc h2 {
  margin-top: 30px;
  font-size: 17px;
  color: #fff;
  padding-bottom: 19px;
  margin-bottom: 0;
  font-weight: 400;
}
#latestfav {
  background: #222630;
  padding-top: 6px;
}
#latestfav .tmb {
  width: 225px; height: 220px;
  display: block;
  padding: 15px 21px 0 21px;
}
#latestfav .tmb img {
  width: 255px; max-height: 220px;
}
#latestfav .viewall {
  background: #383e4e;
  padding: 15px 0;
  margin-top: 21px;
  width: 100%;
  color: #a5abb9;
  font-weight: 700;
  text-align: center;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

#createalbumform {}
.addimage {
  height: 150px;
  margin-bottom: 35px;
}
.addimage .imagepreview {
  width: 150px;
  height: 150px;
  float: left;
  background-color: #191c22;
  margin-right: 20px;
}
#mform input[type=text].enterurl {
  width: 414px;
}
.addimage span {
  display: block;
  margin: 0 0 10px;
}
.addimage .addfile {}
.addmoreimage {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #3a4152;
  border-radius: 2px;
  background-image: url(/img/addmore.svg);
  background-size: 9px 9px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: top 50% left 10px;
  padding: 10px 15px 10px 25px;
  text-transform: uppercase;
  display: inline-block;
}
#mform #createalbumform input[type="submit"] {
  background-color: #0b7add;
  font-weight: 700;
  border-radius: 2px;
}
#create-action {
  padding-top: 20px;
  border-top: 1px solid #303543;
}
.collectionc {
  width: 1060px;
  margin: 30px auto 0;
}
.collectionc:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.collectionc .wp-grid {
  margin: 0 -2%;
}
.wp-list {
  width: 750px;
  float: left;
  margin-right: 10px;
}
.wp-listc {
  width: 1060px;
  margin: 30px auto 0;
}

.collectionc .wp-grid > a {
  width: 23%;
  margin: 1%;
  float: left;
  height: 219px;
  display: inline-block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
#favmenu {
  width: 86px;
  margin: 20px auto;
}
#favmenu > a {
  width: 35px; height: 35px;
  border-radius: 2px;
  float: left;
  cursor: pointer;
  font-size: 0;
  display: block;
}
#favgrid {
  background: #383f50 url(/img/favgrid.svg) no-repeat center;
  background-size: 19px 19px;
}
#favlist {
  background: #383f50 url(/img/favlist.svg) no-repeat center;
  background-size: 23px 18px;
  margin-right: 16px;
}
#favgrid:hover, #favgrid.active {
  background: #383f50 url(/img/favgrid-hover.svg) no-repeat center;
  background-size: 19px 19px;
}
#favlist:hover, #favlist.active {
  background: #383f50 url(/img/favlist-hover.svg) no-repeat center;
  background-size: 23px 18px;
}
#fav-userprofile {
  padding: 20px;
  background: #222630;
  margin-bottom: 15px;
}
#fav-userprofile img {
  width: 57px; height: 57px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  margin-top: 7px;
}
#fav-userprofile p {
  font-size: 15px;
  color: #fff;
}
#fav-userprofile p span {
  display: block;
  font-size: 14px;
  color: #747f8c;
}
.placeholderad {
  width: 300px;
  height: 600px;
  background: gray;
}
#twitter-widget-0 {
  float: left;
  margin-top: 10px;
}

.aad{
  margin: -10px auto 6px auto;
  width: 100%;
  float: left;
  text-align: center;
}

#comments {
  clear: both;
  margin: 20px 0 0 45px;
  float: left;
  color: white;
  width: 660px;
}
#comments h2 {
  margin: 0;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
#comments h2 span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  padding: 2px 8px 0px 8px;
  margin-left: 5px;
  background: #0b7add;
}
#comments div {
  margin: 30px 0 0 10px;
}
#comments p {
  margin: 0;
  font-size: 14px;
}
#comments p.meta {
  margin-top: 5px;
  font-size: 12px;
  color: #747f8c;
}
#commentform {
  margin: 10px 0 40px 0;
}
#commentform input[type="submit"] {
  display: block;
  height: 35px;
  margin: 0;
  padding: 0 10px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  background-color: #3a4053;
  color: white;
  font-size: 14px;
}
#commentform textarea {
  margin: 0 0 5px 0;
}
#comments p#cantcomment {
  margin: 10px 0 40px 0;
}
#comments p#cantcomment a {
  color: white;
  text-decoration: underline;
}
#comments p.error {
  margin: 20px 0 5px 0;
  color: red;
}

#newsletter {
  background: transparent url(/img/newsletter-bg.jpg) no-repeat;
  height: 25px;
  padding: 40px 150px 45px 150px;
  width: 1811px;
  background-size: 50%;
  clear: both;
  margin: 30px 0 -10px 2px;
  float: left;
}
#newsletter p {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin: 0 90px 0 0;
  padding-top: 6px;
  letter-spacing: 1px;
}
#newsletter form {
  margin-top: -5px;
}
#newsletter form input[type="text"] {
  width: 240px;
  background: white;
  border: 0;
  padding: 12px;
  margin: 0;
  color: #7c8796;
  border-radius: 3px 0 0 3px;
}
#newsletter form input[type="submit"] {
  border: 0;
  border-radius: 0 3px 3px 0;
  background-color: #fecc18;
  padding: 11px 20px;
  color: #272c37;
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: bottom;
  margin-left: -4px;
  margin-top: 0;
}

@media screen and (max-width: 1060px) {
  #album, #content, #header, #footer, #stats, #intro, #user, #userheader, #utabs, .collectionc, .wp-listc {
    width: 95%;
  }
  #header #menu {
    float: right;
    width: auto;
  }
  #header #menu li#signedin {
    width: auto;
  }
  #home .albumthumbnail, #searchpage .albumthumbnail {
    width: 30%;
  }
  #popular .middle {
    margin: 0 5%;
  }
  #ainfo {
    margin: 0 auto 30px;
  }
  .albumthumbnail .aall {
    float: none;
  }
  #home .psc, .psc {
    text-align: center;
    width: 90%; height: 109px;
    padding: 0 5%;
  }
  .albumthumbnail .albumphoto {
    float: none;
    margin: 0 auto;
  }
  #home .albumthumbnail img {
    float: none;
    margin: 0;
  }
  #finfo {
    width: 100%;
    margin-bottom: 20px;
  }
  #mtxt {
    width: 85%;
    padding: 5%;
  }
  #albuminfo {
    width: 50%
  }
  #prev, #next {
    width: 25%;
  }
  #albumwp, .collectionc .wp-grid, .wp-list {
    width: 100%;
  }
  .favoritesidebar {
    display: none;
  }
  .wallpaper {
    width: 100%;
  }
  .wallpaper > img, .wallpaper img.wpimg {
    width: 90%;
  }
  #sidebar {
    width: 28%;
  }
  #related {
    width: 100%;
  }
  .albumthumbnail {
    width: 100%;
  }
  .albumthumbnail .albumphoto {
    margin: 20px auto 0;
  }
  .psc {
    width: 95%;
    padding: 0 2.5%;
    margin: 0 auto;
    height: 100px;
    text-align: center;
  }
  #sharefb a {
    margin: 0 auto 10px;
    float: none;
  }
  #sharetw a {
    float: none;
    margin: 0 auto 10px;
  }
  #introc {
    background-position: top 20% center;
  }
  #ustats {
    margin: 0 auto;
    padding: 15px 0;
    width: 603px;
    float: none;
  }
  #ustats li#udownloads {
    margin-right: 0;
    padding-right: 0;
  }
  #userwallpapersc {
    float: none;
    margin: 30px auto 20px;
  }
  #latestfavc {
    width: 300px;
    margin: 0 auto;
    float: none;
  }
  #pagenotfound h1 {
    padding: 150px 0;
  }
  .collectionc .wp-grid {
    margin: 0;
  }
}
.gic{
    font-size: 14px;
}
.gic a, .gic a:visited{
      color: #525d6a;
}
@media screen and (max-width: 900px) {
  #albuminfo {
    width: 100%;
    margin-top: -80px;
    margin-bottom: 20px;
  }
  #prev, #next {
    width: 50%;
    margin-top: -70px;
  }
  #ainfo {
    margin: 0 auto;
  }
  .collectionc .wp-grid > a {
    height: 175px;
  }
}
@media screen and (max-width: 800px) {
  #mform {
    width: 85%;
    padding: 5%;
  }
  #mform input[type=text], #mform input[type=password], textarea {
    width: 94%;
    padding: 12px 3%;
  }
  #albumwp, .wp-list {
    width: 100%;
  }
  .psc {
    width: 95%;
    padding: 0 2.5%;
  }
  #sidebar {
    width: 100%;
  }
  #header #search {
    width: 76%;
    top: -10px;
    position: absolute;
    margin: 10px auto;
    display: none;
    background-color: #222630;
    height: 50px;
  }
  #header #menu {
    display: none;
    margin-bottom: 0;
    padding-left: 0;
    float: right;
    text-align: right;
    margin: 0 auto;
  }
  #header #menu li {
    padding-left: 10px;
  }
  #header #menu li#myfavorites a {
    margin-top: 0;
  }
  #header {
    position: relative;
  }
  #mobile-menu {
    display: block;
    position: absolute;
    top: 10px; right: 0px;
    cursor: pointer;
  }
  #mobile-search {
    display: block;
    position: absolute;
    top: 10px; left: 0px;
    cursor: pointer;
    background: url(/img/search-mobile.png);
    background-size: 38px 35px;
    width: 38px; height: 35px;
    display: block;
  }
  #mobile-search.hidesearch {
    background: url(/img/search-mobile-close.png);
    background-size: 38px 35px;
  }
  #header #q {
    width: 75%;
    padding: 11px 5% 12px;
  }
  #submitsearch {
    width: 15%;
  }
  #header #menu li#signedin {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  #header > a {
    padding: 10px 0;
    height: 15px;
    display: block;
  }
  #header #logo {
    float: none;
    margin: 0 auto;
    padding-top: 0;
  }
  #header #menu li#signin {
    margin-top: 20px;
  }
  #header #menu li#signup {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  #header #menu li#myfavorites-loggedout {
    margin-top: 20px;
  }
  #uavatar {
    margin-left: 0;
  }
  #umain {
    text-align: left;
    float: left;
    width: 100%;
  }
  #userwallpapersc {
    width: 95%;
  }
  .userwallpaper a {
    width: 15%;
    height: 15%;
    margin-right: 1%;
  }
  #mtxt {
    margin-top: 10px;
  }
  /*
  #ustats {
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;
    float: none;
  }
  #ualbums {
    width: 7%;
    padding: 0 5% 0 8%;
  }
  #uviews {
    width: 15%;
    padding: 0px 5% 0 12%;
  }
  #uwallpapers {
    width: 10%;
    padding: 0 5% 0 10%;
  }
  #udownloads {
    width: 7%;
    padding: 0 5% 0 10%;
  }
  */
  #header #menu li#myfavorites {
    float: left;
    padding: 0;
    margin-top: 20px;
  }
  #header #menu li#myfavorites-loggedout a, #header #menu li#myfavorites a {
    background: url(/img/myfavorites.svg) no-repeat top 4px right 90px;
    background-size: 11px 9px;
  }
}
@media screen and (max-width: 650px) {
  #ustats {
    width: 95%;
  }
  #ustats li {
    width: 40%;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 9%;
  }
  #ustats li#uviews {
    border-right: none;
  }
  #intro h1 {
    font-size: 20px;
  }
  #intro {
    height: auto;
    padding: 20px 0;
  }
  #intro p {
    width: 85%;
    font-size: 16px;
  }
  #home .albumthumbnail, #searchpage .albumthumbnail {
    width: 100%;
  }
  #popular .middle {
    margin: 0;
  }
  .albumthumbnail .aall {
    float: left;
  }
  .psc, #home .psc {
    text-align: left;
    width: auto;
    float: none;
    height: 109px;
    width: auto;
    padding: 0;
  }
  .albumthumbnail .albumphoto {
    margin: 14px 14px 14px 12px;
    float: left;
  }
  #finfo {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  #footer h2 {
    margin: 0 auto 17px;
  }
  #fpopular, #fnav, #fsocial {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  #footer ul {
    margin-bottom: 20px;
  }
  #finfo p {
    text-align: left;
  }
  #prev, #next {
    font-size: 13px;
  }
  .download, .addtofavorite:first-child {
    height: 24px;
    padding-top: 8px;
    margin-top: 0;
    margin-right: 10px;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    background-color: #383e51;
  }
  .download, .fav, .comment {
    height: auto;
    margin-bottom: 0;
  }
  .wallpaper {
    padding-bottom: 0;
    position: relative;
  }
  .wallpaper > img, .wallpaper img.wpimg {
    width: 100%;
  }
  .download p, .fav p, .comment p {
    float: left;
  }
  .wpbuttons {
    width: 100%;
  }
  .fav { width: auto; padding-top: 0;}
  .wpbuttons > a, .wpbuttons .addtofavorite {
    margin-bottom: 0;
    margin-right: 10px;
    float: left;
    display: block;
    width: auto;
  }
  .wpfb {
    background-color: #395399 ;
  }
  .wptw {
    background-color: #00a8f3;
  }
  .wpfb, .wptw, .wppt {
    margin-bottom: -4px;
    border-radius: 3px 3px 0 0;
  }
  .download span, .addtofavorite span {
    float: left;
    margin-right: 5px;
  }
  .wpbuttons > a {
    margin-bottom: -3px;
  }
  #sharealbum a {
    width: 100%;
  }
  #mform {
    margin-top: 0;
  }
  #uterms {
    width: 80%;
  }
  .userwallpaper a {
    width: 27%;
    height: 27%;
    margin-bottom: 5.5%;
    margin-right: 5.5%;
  }
  .userwallpaper {
    padding: 5% 5% 0 5%;
    width: 90%;
    background: #222630;
    margin-bottom: 20px;
  }
  #umain {
    text-align: center;
    float: none;
    width: auto;
  }
  #umain h1 {
    font-size: 16px;
  }
  #editprofile {
    position: static;
    margin: 10px auto 0;
    width: 100px;
    display: block;
  }
  #uinfo {
    margin-top: 20px;
  }
  #passwordrecovery-process {
    width: 85%;
    padding: 5%;
    margin: 20px auto;
  }
  .collectionc .wp-grid > a {
    width: 31%;
    margin: 1%;
    height: 125px;
  }
  #twitter-widget-0 { float:none }
  #pagenotfound h1 {
    font-size: 50px;
    line-height: 40px;
  }
  #pagenotfound h1 span {
    font-size: 16px;
  }
  #pagenotfound h1 {
    padding: 90px 0;
  }
  #header #menu li#myfavorites-loggedout a, #header #menu li#myfavorites a {
    background: url(/img/myfavorites.svg) no-repeat top 2px left 0;
    background-size: 11px 9px;
  }
  .wpbuttons > a, .wpbuttons .addtofavorite {
    width: calc(25% - 28px);
  }
  .wpbuttons > a:first-of-type {
    background: #383E51;
    padding: 2px 11px;
  }
  .wpbuttons .addtofavorite {
    padding: 12px 10px 0px;
  }
  .wpbuttons > a:nth-of-type(2) {
    background: #3A5897;
    border-radius: 2px 2px 0 0;
    padding: 3px 10px;
    text-align: center;
  }
  .wpbuttons > a:last-of-type {
    margin-right: 0;
    background: #00ABF0;
    border-radius: 2px 2px 0 0;
    padding: 3px 10px;
    text-align: center;
  }
  .download img {
    display: inline-block;
    margin-bottom: -5px;
    margin-top: 9px;
    margin-right: 8px;
  }
  .addtofavorite img {
    display: inline-block;
    margin-bottom: -4px;
    margin-right: 8px;
    margin-top: 0px;
  }
  .addtofavorite p, .addtofavorite a, .download p, .fav p, .comment p {
    display: inline-block;
    float: none;
  }
}
@media screen and (max-width: 500px) {
  #uinfo {
    height: auto;
  }
  #uinfo li {
    display: block;
  }
  /*
  #uinfo {
    padding: 0 5px;
  }
  #uinfo li {
    font-size: 10px;
  }
  #umain h1 {
    font-size: 14px;
  }
  */
  #uavatar {
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
  }
  #utabs {
    padding-bottom: 5px;
  }
  #ulocation, #udate, #ulocation {
    padding: 11px 10px 11px 20px;
  }
  #ufavorites, #ucomments {
    padding: 10px 5%;
    width: 80%;
    margin: 11px auto 20px;
    float: none;
  }
  #ucomments {
    margin-bottom: 15px;
  }
  .collectionc img {
    width: 100%;
  }
  h1#favsubheader {
    font-size: 24px;
  }
  .collectionc .wp-grid > a {
    height: 100px;
  }
  .remember {
    font-size: 15px;
  }
  #mform div {
    width: 100%;
    margin: 20px 0 0;
  }
  #mform .remember {
    width: 100%;
  }
  #mform .remember a {
    display: block;
    margin: 10px 0 15px;
  }
  #mform {
    text-align: center;
  }
  #mform input[type=submit] {
    width: 100%;
  }
}


@media screen and (max-width: 425px) {
  .psc, #home .psc {
    width: auto;
    text-align: left;
    padding: 0;
    float: left;
    max-width: 60%;
  }
  .albumthumbnail p.title {
    font-size: 13px;
  }
  .albumthumbnail p.number {
    font-size: 11px;
  }
  .wallpaper {
    margin-bottom: 15px;
  }
  .wallpaper > img, .wallpaper img.wpimg {
    width: 100%;
  }
  #album h1 {
    margin-top: -70px;
    padding: 0 10%;
    pointer-events: none;
  }
  #album #wpinfo h1 {
    margin-top: 10px;
  }
  #albuminfo {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  #ainfo li {
    display: inline-block;
    float: none;
    line-height: 25px;
  }
  #ainfo {
    padding: 6px;
    background-color: rgba(120, 135, 148, 0.15);
    border-radius: 20px;
    height: auto;
    text-align: center;
    
    margin-bottom: 20px;
  }
  #ainfo li#author {
    padding: 0;
    background: none;
  }
  #ainfo li#time {
    background: url("/img/date.svg");
    background-position: 9px 12px;
    background-repeat: no-repeat;
    background-size: 12px 13px;
    padding: 6px 0 0 30px;
  }
  #ainfo li#time span, #ainfo li#views span {
    background: none;
    padding: 0;
  }
  #ainfo li#views {
    background: url("/img/views.svg");
    background-position: 8px 12px;
    background-repeat: no-repeat;
    background-size: 15px 13px;
    padding: 6px 10px 0 38px;
  }
  #header #menu {
    width: 100%;
    text-align: left;
    margin: 20px 0 10px;
  }
  #header #menu li {
    width: 100%;
    margin: 5px 0 !important;
    padding-left: 5px;
  }
  #header #menu li a {
    margin: 0;
  }
  #header #menu li#myfavorites-loggedout a, #header #menu li#myfavorites a {
    background: url(/img/myfavorites.svg) no-repeat top 2px left;
    background-size: 11px 9px;
  }
  #next, #prev {
    height: auto;
    margin: 50px 0 10px;
  }
  #prev a, #next a {
    width: 10px;
    height: 25px;
  }
  #prev a { margin-left: 20px }
  #next a { margin-right: 20px; float: right; }
  #prev a span, #next a span {
    display: none;
  }
  .collectionc .wp-grid > a {
    height: 75px;
  }
  #finfo p {
    text-align: center;
  }
}