@charset "UTF-8";
#container {
	width: 100%;
	clear: both;
	float: left;
	background-color: #F7F9FA;
	padding-top: 105px;
}
html,body {
	height: 100%;
}
body,h1,h2,h3,h4,h5,h6,div,ul,li,p,table,td,tr,img,dl,dt,dd {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #036EB8;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 1px;
}

ul,li {
	list-style-type: none;
}

.both {
	clear: both;
	width: auto;
	float: left;
}
.centering {
	text-align: center;
}
input[type="text"],textarea {
	border: 1px solid #3E3A39;
	color: #333333;
	font-size: 10pt;
}
input[type="text"], 
input[type="password"] {
	height: 20px;
	color: #333333;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	background-color: #FFFEF7;
	color: #333;
}
input[type="submit"],
input[type="image"] {
	cursor: pointer;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


input[type="submit"].over,
input[type="image"].over,
a img.over,
a.over {
	opacity:1.0;
	filter: alpha(opacity=100);
}

input.over:focus,
input.over:active, 
input.over:hover,
a:hover img.over,
a.over:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
}


.ban {
	clear: both;
	float: left;
	margin-bottom: 20px;
}
#side .ban a {
	display: block;
	float: left;
}
#side .ban img{
	height: auto;
	width: 100%;
	float: left;
}

.textbox {
	float: left;
	clear: both;
	margin-bottom: 20px;
}
.dec_shadow {
 box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
.main_attention_text  {
	background-color: #F1FDD2;
	border: 1px solid #2E8415;
	padding: 10px;
	clear: both;
	margin-bottom: 20px;
	font-size: 9pt;
}
.main_attention_text .topic {
	font-size: 12pt;
	font-weight: bold;
	color: #2E8415;
}
