@charset "UTF-8";
footer {
	clear: both;
	width: 100%;
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C9C9CA;
	float: left;
}
#footer_outline {
	width: 98%;
	max-width: 1200px;
	min-width: 950px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

#footer_inner {
	width: 100%;
	clear: both;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}


footer .menu {
	width: auto;
	float: right;
	clear: right;
	margin-bottom: 5px;
}
footer .menu li {
	padding-right: 5px;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #036EB8;
	width: auto;
	float: left;
	font-size: 9pt;
}
footer .menu li a {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
footer ul li:first-child {
	border: none;
}
footer .sitetext {
	padding: 15px;
	clear: both;
	border: 1px solid #C9C9CA;
	float: left;
	width: 98%;
	max-width: 1168px;
	margin-top: 15px;
	font-size: 9pt;
}
footer .sitetext h1,
footer .sitetext h2 {
	color: #e60012;
	font-size: 10pt;
	margin-bottom: 5px;
}

footer .copyright {
	clear: both;
	width: 100%;
	text-align: center;
	float: left;
	color: #FFF;
	line-height: 30px;
	background-color: #595757;
}
footer .copyright a {
	color: #FFF;
}
#topcontrol img:hover {
	opacity:.8;
	filter: alpha(opacity=80);
}