@charset "UTF-8";
header {
	width: 100%;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C9C9CA;
	clear: both;
	float: left;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 9999;
}
#header_top {
	background-color: #595757;
	clear: both;
	float: left;
	width: 100%;
}
.header_outline {
	width: 98%;
	max-width: 1200px;
	min-width: 950px;
	margin-right: auto;
	margin-left: auto;
}
#b_language {
	float: right;
	margin-top: 3px;
	width: auto;
	min-width: 80px;
}
#b_language a {
	background-color: #FFF;
	display: block;
	float: left;
	width: 38px;
	margin-left: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #595757;
	height: 27px;
}
#loginmenu {
	float: right;
	width: auto;
	line-height: 30px;
	font-size: 9pt;
}
#loginmenu li {
	float: left;
	width: auto;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #333;
	box-shadow: inset 1px 0px 0px rgba(255,255,255,0.3);
}
#loginmenu li:last-child {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333;
	box-shadow: inset 1px 0px 0px rgba(255,255,255,0.3), 1px 0px 0px rgba(255,255,255,0.3);
}

#loginmenu a {
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	color: #d3e1f3;
}
#loginmenu a:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,0.2);
}
#loginmenu .b_viewlist a,
#loginmenu .b_login a,
#loginmenu .b_myaccount a,
#loginmenu .b_comlist a {
	background-repeat: no-repeat;
	background-position: 10px center;
}
#loginmenu .b_login a {
	background-image: url(img/b_icon_login.png);
	padding-left: 30px;
}
#loginmenu .b_comlist a {
	background-image: url(img/b_icon_mycom.png);
	padding-left: 33px;
}
#loginmenu .b_myaccount a {
	background-image: url(img/b_icon_myaccount.png);
	padding-left: 30px;
}
#loginmenu .b_viewlist a {
	background-image: url(img/b_icon_viewlist.png);
	padding-left: 35px;
}




#header_inner {
	float: left;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	clear: both;
}

.logo {
	float: left;
	width: 20%;
	max-width: 240px;
	min-width: 192px;
	height: auto;
}

header .logo {
	margin-right: 10px;
}
header .header_content {
	float: right;
	width: 78%;
	max-width: 940px;
}
header .buttonbox {
	width: auto;
	float: right;
}
header .buttonbox li{
	float: left;
	text-align: center;
	margin-left: 10px;
	font-size: 10.5pt;
}
header .buttonbox li a{
	padding-right: 13px;
	padding-left: 13px;
	line-height: 35px;
	font-weight: bold;
}
header .buttonbox .b_mylist a:before{
	content: url(img/b_icon_mylist.png);
	margin-right: 5px;
	margin-left: -3px;
	display: inline-block;
	float: left;
	width: auto;
	margin-top:2px;
}



#searchbox  {
	float: left;
	width: 63%;
	margin-top: 8px;
	position: relative;
}

#searchbox input[type="text"] {
	color: #595757;
	padding-left: 2px;
}
#searchbox .searchtext {
	height: 21px;
	float: left;
	width: 60%;
	max-width: 400px;
	min-width: 250px;
}

#searchbox input[type="image"] {
	float: left;
}

#searchbox .b_detailsearch {
	font-size: 9pt;
	color: #0868AC;
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	cursor: pointer;
}
#searchbox .b_detailsearch:hover {
	text-decoration: underline;
}

#search_suggest {
	position: absolute;
	background-color: #FFFFFF;
	font-size: 10pt;
	width: 240px;
	z-index: 500;
	left: 5px;
	top: 100%;
	cursor: pointer;
 box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
 -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
#search_suggest div {
	overflow: hidden;
	white-space: nowrap;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5D5D5;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 28px;
}
#search_suggest div:hover {
	background-color: #DBEAEE;
}

#search_suggest div:first-child {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
#search_suggest div:last-child {
	border-bottom-color: #999999;
}


header .detail_searchbox {
	background-color: #dcdddd;
	clear: both;
	width: 100%;
	margin-top: 15px;
	float: left;
	display: none;
}
header .detail_searchbox ul {
	clear: both;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
}
header .detail_searchbox li {
	float: left;
	width: auto;
	margin-right: 20px;
	margin-bottom: 10px;
	min-width: 150px;
	font-size: 10pt;
	color: #595656;
}
header .detail_searchbox .text_word {
	clear: both;
	width: 100%;
	margin-right: 0px;
}

header .detail_searchbox .text_word input {
	width: 50%;
}
header .detail_searchbox li select {
	min-width: 130px;
}

header .detail_searchbox .b_submit {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
	margin-top: 10px;
}
header .detail_searchbox .b_submit input {
	font-size: 13px;
	line-height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}
