@charset "UTF-8";
#wrap {
	width: 98%;
	max-width: 1200px;
	min-width: 1000px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
#outline {
	clear: both;
	width: 100%;
	float: left;
	display: flex;
	flex-direction: row-reverse;
	justify-content:space-between;
}
#detail #outline {
	flex-direction: row;
}
section {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}



main {
	max-width: 950px;
	width: 79%;
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
}
#detail main {
	float: left;
	max-width: 900px;
	width: 75%;
	margin-top: 20px;
	margin-right: 15px;
}




main section {
	max-width: 930px;
	min-width: 696px;
	width: 98%;
	background-color: #FEFEFE;
	float: left;
	padding: 10px;
	margin-bottom: 10px;
}

#detail main section {
	max-width: 880px;
	width: 99%;
}

main section .itembox{
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 10px;
}
main h1 .count,
main h2 .count {
	font-size: 9pt;
	line-height: 20px;
	color: #FFF;
	background-color: #595757;
	text-align: center;
	display: block;
	float: right;
	width: auto;
	margin-top: 10px;
	margin-right: 10px;
	padding-right: 5px;
	padding-left: 5px;
}

.title-test .count {
	font-size: 9pt;
	line-height: 20px;
	color: #FFF;
	background-color: #595757;
	text-align: center;
	display: block;
	float: right;
	width: auto;
	margin-top: 10px;
	margin-right: 10px;
	padding-right: 5px;
	padding-left: 5px;
}

main .content_vlist .itembox{
	margin-top: 20px;
	margin-bottom: 10px;
}

/*sortbox*/
main .sortbox {
	clear: both;
	width: 100%;
	float: left;
	margin-top: 10px;
	min-height: 22px;
	background-color: #DCDCDD;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 10px;
}
main .sortbox li {
	display: inline;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 10pt;
	color: #595656;
}

/*pagelist*/

.pagebox {
	width: 100%;
	clear: both;
	float: left;
}
h1 + .pagebox,
h2 + .pagebox {
	margin-top: 10px;
}

.pagebox .switchbox,
.title_videorank .locationbox {
	float: right;
	width: auto;
}
.title_videorank .locationbox {
	margin-top: 8px;
	margin-right: 10px;
}

.pagebox .switchbox li,
.title_videorank .locationbox li {
	float: left;
	position: relative;
	margin-left: 10px;
	background-color: #FFF;
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
}

.pagebox .switchbox li,
.pagebox .switchbox label {
	width: 30px;
	height: 29px;
}
.title_videorank .locationbox li,
.title_videorank .locationbox label {
	width: 25px;
	height: 25px;
}

.pagebox .switchbox label,
.title_videorank .locationbox label {
	left: 0px;
	top: 0px;
	text-align: center;
	display: block;
	cursor: pointer;
	float: left;
	background-image: url(img/b_row_any.png);
	background-position: left top;
	position: absolute;
	z-index: 2;
	line-height: 100px;
	overflow: hidden;
}

.pagebox .switchbox #b_anylist + label {
	background-image: url(img/b_row_any.png);
}
.pagebox .switchbox #b_singlelist + label {
	background-image: url(img/b_row_single.png);
}
.title_videorank .locationbox #b_locate + label {
	background-image: url(img/b_locate.png);
}
.title_videorank .locationbox #b_view + label {
	background-image: url(img/b_view.png);
}

.pagebox .switchbox input:checked[type="radio"] + label {
	background-position: left bottom;
	cursor: default;
}

.title_videorank .locationbox input:checked[type="checkbox"] + label {
	background-position: left bottom;
}

.pagebox .switchbox input[type="radio"],
.title_videorank .locationbox input[type="checkbox"] {
	opacity: 0.0;
	filter: alpha(opacity=0);
}

.pagebox .switchbox label:focus,
.pagebox .switchbox label:hover,
.title_videorank .locationbox label:focus,
.title_videorank .locationbox label:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.pagebox .switchbox input:checked[type="radio"] + label:focus,
.pagebox .switchbox input:checked[type="radio"] + label:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
.pagebox .page_count {
	display: block;
	float: right;
	width: auto;
	font-size: 8pt;
	line-height: 30px;
	color: #595656;
}

.pagebox .pagelist {
	float: left;
	width: auto;
}
.pagelist li {
	width: auto;
	float: left;
	text-align: center;
	margin-right: 8px;
}

.pagelist li a,
.pagelist .current {
	display: block;
	color: #595757;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 28px;
	line-height: 28px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 9pt;
	min-width: 18px;
}
.pagelist .current {
	background-color: #DCDCDD;
	border: 1px solid #036EB8;
	font-weight: bold;
}
.pagelist li a {
	background-color: #F7F9FA;
	border: 1px solid #C9C9CA;
}
.pagelist li a:hover {
	background-color: #EEEFF0;
	text-decoration: none;
}

main .content_vlist article {
	width: 210px;
	float: left;
	color: #888888;
	padding-top: 10px;
	padding-right: 11px;
	padding-bottom: 10px;
	padding-left: 11px;
	margin-bottom: 10px;
	min-height: 240px;
}

.content_vlist article:hover,
.content_vlist article:focus {
	background-color: #F7F9FA;
}

.content_vlist article .thumbbox {
	float: left;
	position: relative;
	width: 100%;
	max-width: 208px;
	margin-bottom: 8px;
}
.content_vlist article .thumbbox .thumb {
	border: 1px solid #595757;
	float: left;
	width: 100%;
	height: auto;
}
main .content_vlist article .thumbbox .thumb {
	width: 100%;
	max-width: 208px;
	height: auto;
	max-height: 117px;
}

.content_vlist article:hover .thumbbox .thumb {
	border: 1px solid #036EB8;
}

.content_vlist article .thumbbox time {
	line-height: 18px;
	color: #FFF;
	text-align: center;
	display: block;
	float: right;
	height: 17px;
	min-width: 35px;
	position: absolute;
	z-index: 100;
	right: 3px;
	bottom: 3px;
	font-size: 8pt;
	text-decoration: none;
	background-color: rgba(0,0,0,0.6);
	padding-right: 3px;
	padding-left: 3px;
	margin-right: 0px;
	margin-left: 0px;
}

.content_vlist article .thumbbox .b_mylist.animated + a time,
.content_vlist article .thumbbox:hover .b_mylist + a time {
	display: none;
}

.content_vlist article .thumbbox .b_mylist {
	position: absolute;
	z-index: 1000;
	right: 3px;
	bottom: 3px;
	float: right;
	display: none;
}

.content_vlist article .thumbbox:hover .b_mylist {
	display: inline;
}


main .content_vlist article .infobox {
	width: 100%;
	float: left;
	font-size: 8pt;
	line-height: 18px;
}


main .content_vlist article .vtitle {
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	line-height: 19px;
	height: 36px;
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 5px;
}
main .content_vlist article .vtitle a:link {
	color: #036EB8;
}
main .content_vlist article .vtitle a:hover {
	text-decoration: underline;
}
main .content_vlist article .vtitle a:visited {
	color: #9642B9;
}
main .content_vlist article ul {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
main .content_vlist article ul li {
	float: left;
	width: auto;
	font-weight: bold;
	font-size: 8pt;
}
main .content_vlist article ul .date {
	clear: both;
	width: 100%;
	font-weight: normal;
}
main .content_vlist article ul .value {
	float: right;
}
.content_vlist article .value span {
	background-repeat: no-repeat;
	background-position: left 3px;
	margin-left: 8px;
	padding-left: 20px;
	display: inline-block;
}
.content_vlist article .value .good {
	background-image: url(img/icon_good.png);
}
.content_vlist article .value .bad {
	background-image: url(img/icon_bad.png);
}
main .content_vlist article .comment {
	word-break: break-all;
	word-wrap: break-word;
	color: #818181;
	height: 50px;
	line-height: 18px;
	overflow: hidden;
	font-size: 8.5pt;
	clear: both;
	padding-top: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DBE8EB;
	float: left;
	width: 100%;
	display: none;
}
main .content_vlist article .tag {
	margin-top: 8px;
	clear: both;
	float: left;
	width: 100%;
	height: 20px;
	overflow: hidden;
}
main #comlist article .tag {
	display: none;
}
main .content_vlist article .tag a {
	line-height: 17px;
	display: block;
	float: left;
	width: auto;
	margin-right: 7px;
	padding-right: 4px;
	padding-left: 4px;
	border: 1px solid #888889;
	margin-bottom: 5px;
	padding-top: 1px;
	font-size: 8pt;
  background: white;
}


main .content_vlist #singlelist article {
	width: 98%;
	clear: both;
	float: left;
	margin-right: 0px;
	padding-right: 1%;
	padding-left: 1%;
	min-height: auto;
}
main .content_vlist #singlelist article .thumbbox {
	width: 27%;
}

main .content_vlist #singlelist article .infobox {
	width: 72%;
	min-width: 454px;
	max-width: 690px;
	margin-left: 1%;
}

main .content_vlist #singlelist:not(.encoding) article .vtitle {
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
	-o-text-overflow: ellipsis; /* Opera */
	font-size: 10pt;
	height: 20px;
}

main .content_vlist #singlelist article ul li {
	margin-right: 15px;
}

main .content_vlist #singlelist article ul .date {
	width: auto;
	clear: none;
}
main .content_vlist #singlelist article ul .value {
	float: left;
}
main .content_vlist #singlelist article ul .value span {
	margin-right: 8px;
	margin-left: 0px;
}
main .content_vlist #singlelist article .comment {
	max-height: 55px;
	height: auto;
	display: block;
}

main .content_vlist #singlelist article .tag {
	display: block;
}
main #comlist #singlelist article .tag {
	margin-bottom: 8px;
}
main .content_vlist .encoding#singlelist li {
	font-weight: bold;
}

main .content_vlist .encoding#singlelist article .vtitle {
	overflow: visible;
	height: auto;
	color: #000;
	word-break: normal;
	word-wrap: normal;
	font-size: 10pt;
}

main .content_vlist .encoding#singlelist .state span {
	color: #FFF;
	display: inline-block;
	line-height: 17px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
}
main .content_vlist .encoding#singlelist .state .open {
	background-color: #1A9798;
}
main .content_vlist .encoding#singlelist .state .close {
	background-color: #CC003A;
}


main .content_vlist #singlelist .user_comment {
	padding: 8px;
	clear: both;
	margin-left: 10px;
	position: relative;
}
main .content_vlist #singlelist .user_comment:after,
main .content_vlist #singlelist .user_comment:before {
	top: 15px;
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none;
	right: 100%; 
}

main .content_vlist #singlelist .user_comment:after{
	border-right-color: #f6f8fa; 
	border-width: 5px; 
	margin-top: -5px;
}
main .content_vlist #singlelist .user_comment:before {
	border-right-color: #c9caca; 
	border-width: 6px; 
	margin-top: -6px;
}
main .content_vlist #singlelist .user_comment .index {
	font-weight: bold;
	display: block;
	font-size: 9pt;
	color: #333;
	margin-bottom: 3px;
}
main .content_vlist #singlelist .user_comment .date {
	color: #036EB8;
}
main .content_vlist #singlelist .user_comment .time {
	margin-right: 10px;
}
main .content_vlist .itembox.rankinglist {
	margin-top: 0px;
}
main #ranklist .itembox article {
	width: 18%;
	padding-right: 1%;
	padding-left: 1%;
 	min-height: 220px;
}

main #ranklist .rank {
	font-size: 9pt;
	line-height: 27px;
	background-image: url(img/icon_videoranking.png);
	background-repeat: no-repeat;
	background-position: center -257px;
	text-align: center;
	display: block;
	height: 35px;
	width: 30px;
	position: absolute;
	left: -10px;
	top: -10px;
	z-index: 10;
	font-weight: bold;
	color: #000;
}

main #ranklist article:nth-of-type(1) .rank {
	background-position: center top;
	color: #FFF;
}
main #ranklist article:nth-of-type(2) .rank {
	background-position: center -85px;
	color: #FFF;
}
main #ranklist article:nth-of-type(3) .rank {
	background-position: center -170px;
	color: #FFF;
}
main #ranklist article ul .value {
	float: right;
	clear: both;
}

.content_vlist article .user_comment {
	clear: both;
	font-size: 8.5pt;
	background-color: #f6f8fa;
	border: 1px solid #c9caca;
	line-height: 18px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	color: #000;
}
.content_vlist article .user_comment .text {
	height: 20px;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	display: block;
	width: 100%;
}
.content_vlist #singlelist article .user_comment .text {
	height: auto;
	display: inline;
	white-space: normal;
}
.content_vlist article .user_comment .date {
	color: #036EB8;
	font-size: 7.5pt;
}
.content_vlist article .user_comment .time {
	margin-right: 0px !important;
}



main .content_info .itembox {
	margin-top: 10px;
	width: auto;
	border: 1px solid #C9C9CA;
	overflow: auto;
	float: none;
	height: 150px;
}
main .content_info article  {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d0e8d2;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 9pt;
	line-height: 20px;
	margin-right: 20px;
	margin-left: 15px;
}
main .content_info article  .index {
	font-weight: bold;
	color: #61B669;
	font-size: 10pt;
	background-image: url(img/icon_arrow_g.png);
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 25px;
	margin-bottom: 2px;
}
main .content_info article  .index .date {
	font-size: 9pt;
	font-weight: normal;
	margin-right: 10px;
}
main .content_genrelist .itembox {
	margin-top: 10px;
	margin-bottom: 20px;
}

main .content_genrelist .itembox li{
	float: left;
	width: 25%;
	margin-top: 10px;
	margin-bottom: 5px;
}
main .content_genrelist .itembox li a {
	background-image: url(img/icon_arrow_y.png);
	background-repeat: no-repeat;
	background-position: 5px 3px;
	display: block;
	padding-left: 25px;
	font-weight: bold;
	color: #F28500;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 3px;
	margin-left: 5px;
}
main .content_genrelist .itembox li a:hover {
	background-color: #eeefef;
}

main .content_genrelist .itembox a .count {
	font-size: 80%;
	font-weight: normal;
	margin-left: 5px;
	color: #8A8A8A;
}


#videoplayer {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
#detail .content_detail .mylistbox{
	float: left;
	width: 60%;
	font-size: 9pt;
	margin-left: 10px;
}
#detail .content_detail .mylistbox .date {
	margin-right: 15px;
	font-weight: bold;
}
#detail .content_detail .mylistbox .poster {
	font-weight: bold;
}
#detail .content_detail .mylistbox .mylistbutton {
	margin-top: 10px;
}
#detail .content_detail .mylistbox .mylistbutton a img{
	float: left;
	width: 40px;
	margin-right: 10px;
}
#detail .content_detail .mylistbox .mylistbutton p {
	float: left;
	width: auto;
	line-height: 30px;
	font-size: 9pt;
	background-color: #dbe8eb;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 5px;
}
/* 会員 */
#detail .content_detail .mylistbox .mylistbutton a + p:after{
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(219, 232, 235, 0);
	border-right-color: #dbe8eb;
	border-width: 5px;
	margin-top: -5px;
}
#detail .content_detail .mylistbox .mylistbutton p .mylist_count {
	color: #3F3F3F;
	text-align: center;
	display: block;
	float: right;
	width: auto;
	font-size: 8pt;
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}
/* 会員 */
#detail .content_detail .mylistbox .mylistbutton a + p .mylist_count {
	color: #9F9FA0;
	background-color: #FFF;
	margin-left: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
#detail .content_detail .mylistbox .mylistbutton p .mylist_count .unit {
	font-weight: normal;
}

#detail .content_detail .valuebox {
	float: right;
	width: 35%;
	font-size: 9pt;
	font-weight: bold;
	color: #595757;
	text-align: right;
	margin-right: 10px;
}
#detail .content_detail .valuebox ul {
	clear: both;
	float: right;
	margin-top: 10px;
	width: auto;
}
#detail .content_detail .valuebox ul li {
	float: left;
	width: auto;
	margin-left: 20px;
	min-width: 75px;
	text-align: left;
	line-height: 30px;
}
#detail .content_detail .valuebox ul li a {
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 30px;
	width: 30px;
	float: left;
	line-height: 100px;
	margin-right: 10px;
	overflow: hidden;
}
#detail .content_detail .valuebox ul li a.done {
	background-position: left bottom;
	cursor: default;
	opacity:1.0;
	filter: alpha(opacity=100);
}
#detail .content_detail .valuebox ul li a.good {
	background-image: url(img/b_good.png);
}
#detail .content_detail .valuebox ul li a.bad {
	background-image: url(img/b_bad.png);
}

#detail .content_detail .valuebox .view_count {
	margin-right: 5px;
	margin-left: 3px;
	font-size: 12pt;
}
#detail .content_detail .videoinfo {
	margin-bottom: 10px;
	font-size: 9pt;
	margin-top: 10px;
}

#detail .content_detail .videoinfo .b_info {
	width: 100%;
	clear: both;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DBE8EB;
	margin-bottom: 15px;
}

#detail .content_detail .videoinfo .b_info li {
	float: left;
	width: auto;
	line-height: 23px;
	font-size: 10pt;
	background-color: #DCDCDD;
	padding-right: 10px;
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 3px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DCDCDD;
	border-right-color: #DCDCDD;
	border-bottom-color: #DCDCDD;
	border-left-color: #DCDCDD;
	font-weight: bold;
	color: #036EB8;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
	margin-bottom: -1px;
	padding-top: 2px;
}
#detail .content_detail .videoinfo .b_info li:hover {
	background-color: #E5E6E9;
}

#detail .content_detail .videoinfo .b_info .on {
	color: #595757;
	background-color: #FFF;
	border-bottom-color: #e60012;
	cursor: default;
}
#detail .content_detail .videoinfo .b_info .on:hover {
	background-color: #FFF;
}

#detail .content_detail .videoinfo .item {
	clear: both;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	width: 98%;
	display: none;
}
#detail .content_detail .videoinfo .item:first-of-type {
	display: block;
}

#detail .content_detail .videoinfo .commentbox {
	padding-top: 5px;
	font-size: 13px;
	line-height: 20px;
	color: #595757;
	/* [disabled]position: relative; */
}
#detail .content_detail .videoinfo .commentbox .actress,
#detail .content_detail .videoinfo .commentbox .tag {
	text-align: left;
	clear: both;
	margin-top: 10px;
	float: left;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DBE8EB;
	padding-top: 10px;
}

#detail .content_detail .videoinfo .commentbox .index {
	font-weight: bold;
	background-repeat: no-repeat;
	width: auto;
	float: left;
	padding-left: 20px;
	background-image: url(img/icon_tag.gif);
	background-position: 0px 3px;
}
/*
#detail .content_detail .videoinfo .commentbox .actress .index {
	background-image: url(img/icon_actress.gif);
	background-position: left 4px;
}
 */
#detail .content_detail .videoinfo .linkbox {
	width: 75%;
	float: left;
}
#detail .content_detail .videoinfo .linkbox li {
	float: left;
	width: auto;
	margin-left: 8px;
	margin-bottom: 5px;
	border: 1px solid #888889;
}

#detail .content_detail .videoinfo .linkbox a {
	padding-right: 3px;
	padding-left: 3px;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	float: left;
	width: auto;
	font-size: 9pt;
}
#detail .content_detail .videoinfo .linkbox span {
	display: block;
}
#detail .content_detail .videoinfo .linkbox .b_edittag {
	line-height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 20px;
	overflow: hidden;
	background-image: url(img/b_taglock.png);
	padding: 0px;
	float: left;
	display: none;
	margin-right: 3px;
}
#detail .content_detail .videoinfo .linkbox .user .b_edittag {
	margin-top: 2px;
	background-image: url(img/b_tagdel.png);
}
#detail .content_detail .videoinfo .linkbox .user .b_edittag:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
}
#detail .content_detail .videoinfo .commentbox .actress > .textbutton,
#detail .content_detail .videoinfo .commentbox .tag > .textbutton {
	float: right;
	margin-left: 10px;
	font-size: 8pt;
	margin-top: -2px;
	line-height: 25px;
	padding-right: 8px;
	padding-left: 8px;
}

#detail .content_detail .videoinfo .commentbox .tag .textbutton:before,
#detail .content_detail .videoinfo .commentbox .actress .textbutton:before {
	display: inline-block;
	float: left;
	margin-right: 5px;
	height: 25px;
	margin-top: 3px;
	margin-bottom: -3px;
}
#detail .content_detail .videoinfo .commentbox .tag .textbutton:before {
	content: url(img/b_icon_tag.png);
}
/* #detail .content_detail .videoinfo .commentbox .actress .textbutton:before {
	content: url(img/b_icon_actress.png);
} */
#detail .content_detail .videoinfo .commentbox .slidebox {
	clear: both;
	width: 90%;
	margin-top: 10px;
	float: right;
	margin-bottom: 20px;
	background-color: #dcdddd;
	padding-top: 10px;
	padding-right: 1%;
	padding-bottom: 10px;
	padding-left: 1%;
	position: relative;
	display: none;
}

#detail .content_detail .videoinfo .commentbox .slidebox .arrow,
#detail .content_detail .videoinfo .commentbox .slidebox:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(220, 221, 221, 0);
	border-bottom-color: #dcdddd;
	border-width: 10px;
	margin-left: -10px;
	left: 97%;
}
/* 
#detail .content_detail .videoinfo .commentbox .slidebox .word_search {
	clear: both;
	width: 96%;
	background-image: url(img/icon_search.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 35px;
	margin-bottom: 5px;
}

#detail .content_detail .videoinfo .commentbox .slidebox p .exp_tagcontact {
	display: inline-block;
	float: right;
}

 */
#detail .content_detail .videoinfo .commentbox .slidebox p {
	font-size: 8pt;
	clear: both;
	float: left;
	width: 100%;
}
#detail .content_detail .videoinfo .commentbox .slidebox p a {
	font-weight: bold;
}

#detail .content_detail .videoinfo .commentbox .slidebox ul {
	clear: both;
	float: left;
	width: 100%;
	background-color: #FFF;
	box-shadow: inset 1px 1px 0px #666, inset -1px -1px 0px #666;
	-moz-box-shadow: inset 1px 1px 0px #666, inset -1px -1px 0px #666;
	-webkit-box-shadow: inset 1px 1px 0px #666, inset -1px -1px 0px #666;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 5px;
}
#detail .content_detail .videoinfo .commentbox .slidebox ul li {
	float: left;
	width: 25%;
	padding-top: 5px;
	padding-bottom: 5px;
}
#detail .content_detail .videoinfo .commentbox .slidebox ul li a {
	display: block;
	margin-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	margin-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 17px;
}
#detail .content_detail .videoinfo .commentbox .slidebox ul li a:before {
	content: '＋';
	display: inline-block;
	float: left;
	border: 1px solid #036EB8;
	width: 15px;
	margin-right: 5px;
	font-size: 10pt;
	text-align: center;
	line-height: 15px;
	background-color: #f3eec1;
}

#detail .content_detail .videoinfo .commentbox .slidebox ul li a:hover {
	background-color: #eeefef;
}
/* 
#detail .content_detail .videoinfo .commentbox .add_actbox ul li a {
	font-size: 8pt;
	line-height: 40px;
}
#detail .content_detail .videoinfo .commentbox .add_actbox ul li a:before {
	margin-top: 12px;
}
#detail .content_detail .videoinfo .commentbox .add_actbox ul li img {
	float: left;
	height: auto;
	width: 40px;
	border: 1px solid #036EB8;
	margin-right: 5px;
}
 #detail .content_detail .videoinfo .commentbox .detail_box {
	margin-bottom: -15px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#detail .content_detail .videoinfo .commentbox .detail_box:after {
	display: none;
}
#detail .content_detail .videoinfo .commentbox .detail_box .textbutton {
	width: auto;
	font-size: 10pt;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
}

#detail .content_detail .videoinfo .commentbox .detail_box .default {
	line-height: 30px;
	font-weight: bold;
}

#detail .content_detail .videoinfo .commentbox .detail_box .b_delete {
	float: left;
}
#detail .content_detail .videoinfo .commentbox .detail_box .b_delete:before {
	content: url(img/b_icon_delete.png);
	float: left;
	display: inline-block;
	width: auto;
	margin-top: 8px;
	margin-right: 5px;
}

#detail .content_detail .videoinfo .commentbox .detail_box .b_list {
	float: right;
}

#detail .content_detail .videoinfo .commentbox .b_req {
	font-weight: bold;
	color: #036EB8;
	padding-right: 5px;
	padding-left: 5px;
	cursor: pointer;
}
#detail .content_detail .videoinfo .commentbox .b_req:hover {
	text-decoration: underline;
}
#detail .content_detail .videoinfo .commentbox .b_req:before {
	content:"▼";
}
#detail .content_detail .videoinfo .commentbox .b_req.active:before {
	content:"▲";
}
 */

#detail .content_detail .videoinfo .commentbox .reqbox{
	background-color: #FFF;
	clear: both;
	border: 1px solid #333;
	padding: 10px;
}
#detail .content_detail .videoinfo .commentbox .reqbox p {
	float: none;
	font-size: 9pt;
}

#detail .content_detail .videoinfo .commentbox .reqbox input[type="text"] {
	width: 80%;
	margin-right: 10px;
	margin-bottom: 5px;
}
#detail .content_detail .videoinfo .commentbox .reqbox .mark {
	line-height: 25px;
	font-weight: bold;
	background-color: #f2dae1;
	display: block;
	color: #333;
	margin-top: 5px;
	margin-bottom: 5px;
}
#detail #pan {
	font-size: 8pt;
	font-weight: normal;
	color: #666;
	text-align: right;
	clear: both;
	padding-top: 3px;
}
#detail #pan a {
	margin-right: 3px;
	margin-left: 3px;
}










#detail .content_detail #codebox p {
	font-size: 9pt;
}
#detail .content_detail #codebox .inner {
	float: left;
	width: 100%;
	clear: both;
	margin-top: 10px;
}
#detail .content_detail #codebox .thumbbox {
	float: left;
	width: 16%;
	max-width: 130px;
	position: relative;
}
#detail .content_detail #codebox .thumbbox:before {
	content: ' ';
	background-image: url(img/b_play.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	left: 0px;
	top: 0px;
}
#detail .content_detail #codebox .thumbbox img {
	float: left;
	border: 1px solid #036EB8;
	height: auto;
	width: 100%;
}
#detail .content_detail #codebox .selectbox {
	width: 83%;
	max-width: 720px;
	float: right;
}
#detail .content_detail #codebox .selectbox p {
	margin-bottom: 13px;
}
#detail .content_detail #codebox .index {
	line-height: 25px;
	font-weight: bold;
	color: #FFF;
	background-color: #595757;
	text-align: center;
	display: block;
	float: left;
	width: auto;
	padding-right: 8px;
	padding-left: 8px;
}

#detail .content_detail #codebox #b_size {
	float: right;
	width: 88%;
}
#detail .content_detail #codebox #b_size li {
	width: auto;
	cursor: pointer;
	text-align: center;
	padding-right: 8px;
	padding-left: 8px;
	font-size: 9pt;
	line-height: 22px;
	padding-top: 1px;
	color: #035A8B;
	text-shadow: 1px 1px 0px #FFF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-left: 10px;
}
#detail .content_detail #codebox #b_size li:not(.customize) {
	float: left;
	border: 1px solid #c9caca;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFFFFF, EndColorStr=#d3d3d4);
	background: -moz-linear-gradient(top, #FFFFFF, #d3d3d4);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#d3d3d4));
}
#detail .content_detail #codebox #b_size li.customize {
	float: right;
}

#detail .content_detail #codebox #b_size li:not(.customize):hover {
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFFFFF, EndColorStr=#E9E9E9);
	background: -moz-linear-gradient(top, #FFFFFF, #E9E9E9);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E9E9E9)); 
}
#detail .content_detail #codebox #b_size li.on {
	background-color: #DCDCDD;
	background: #DCDCDD;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#DCDCDD, EndColorStr=#DCDCDD);
	font-weight: bold;
	text-decoration: none;
	color: #e60012;
	border: 1px solid #036EB8;
	cursor: default;
}


#detail .content_detail #codebox #b_size li input {
	width: 40px;
	margin-left: 3px;
	height: 16px;
	margin-right: 3px;
}
#detail .content_detail #codebox .codearea {
	float: right;
	margin-top: 10px;
	width: 100%;
	clear: both;
	display: none;
}
#detail .content_detail #codebox .codearea:first-of-type {
	display: block;
}
#detail .content_detail #codebox .codearea textarea {
	height: 40px;
	width: 99%;
	font-size: 9pt;
}

#detail .content_detail #reportbox p {
	font-size: 9pt;
	color: #333;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

#detail .content_detail #reportbox .topic {
	font-size: 11pt;
}
#detail .content_detail #reportbox .exp_text {
	font-size: 8pt;
	color: #666;
	line-height: 16px;
	font-weight: normal;
}
#detail .content_detail #reportbox ul {
	padding: 5px;
}
#detail .content_detail #reportbox li {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 10pt;
}

#detail .content_detail #reportbox input:checked + label {
	font-weight: bold;
	color: #e60012;
}
#detail .content_detail #reportbox ul .dmca_link {
	font-size: 9pt;
	font-weight: bold;
	display: block;
	margin-right: 10px;
	margin-left: 10px;
}


#detail .content_detail #reportbox .button {
	margin-top: 20px;
	margin-left: 5px;
}
#detail .content_detail #reportbox .button input {
	font-size: 10pt;
	line-height: 28px;
	padding-right: 10px;
	padding-left: 10px;	
}
#detail .content_detail #reportbox .button input[disabled="disabled"] {
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: default;
}
#detail .content_detail #reportbox .fin {
	background-color: #F1FDD2;
	border: 1px solid #2E8415;
	padding: 10px;
	font-weight: bold;
	margin-top: 10px;
	color: #2E8415;
}

main .content_comment .postcomment {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C9C9CA;
}
main .content_comment .postcomment p {
	font-weight: bold;
	color: #595757;
	font-size: 9pt;
	float: left;
	width: auto;
	margin-left: 10px;
}
main .content_comment .postcomment input.post_name {
	width: 150px;
	margin-top: 5px;
}
main .content_comment .postcomment input.post_comment {
	width: 610px;
	margin-top: 5px;
}
main .content_comment .postcomment .textbutton {
	float: right;
	width: 55px;
	margin-top: 20px;
	text-align: center;
	height: 25px;
	margin-right: 10px;
	font-weight: bold;
}
main .content_comment .postcomment input.b_submit {
	padding-left: 25px;
	float: left;
	font-size: 9pt;
	width: 60px;
	min-width: auto;
	padding-right: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background: url(img/bg_clear.gif) no-repeat;/* url(img/bg_clear.gif)で背景削除 */
	background-image: url(img/b_icon_comment.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	color: #FFF;
	text-shadow: inherit;
	line-height: 20px;
}
main .content_comment article {
	font-size: 9pt;
	clear: both;
	float: left;
	width: 100%;
	color: #595757;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dbe8eb;
}
main .content_comment article .info {
	float: left;
	padding-left: 10px;
	width: 17%;
	max-width: 150px;
}
main .content_comment article .info .poster{
	font-weight: bold;
	font-size: 9pt;
	color: #595757;
}
main .content_comment article .info .date {
	font-size: 8pt;
	color: #9F9FA0;
}

main .content_comment article .comment {
	font-size: 9pt;
	background-color: #FDFBE6;
	border: 1px solid #c9caca;
	margin-left: 10px;
	line-height: 18px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	float: right;
	width: 77%;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	max-width: 670px;
	clear: none;
	margin-right: 10px;
}
main .content_comment article:nth-child(even) .comment {
	background-color: #F7F9FA;
}
main .content_comment article .comment:after,
main .content_comment article .comment:before {
	top: 15px;
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none;
	right: 100%; 
}

main .content_comment article:nth-child(odd) .comment:after {
	border-right-color: #FDFBE6; 
	border-width: 5px; 
	margin-top: -5px;
}
main .content_comment article:nth-child(even) .comment:after {
	border-right-color: #F7F9FA; 
	border-width: 5px; 
	margin-top: -5px;
}
main .content_comment article .comment:before {
	border-right-color: #c9caca; 
	border-width: 6px; 
	margin-top: -6px;
}

main .content_faq .accordion .item {
	margin-top: 10px;
	clear: both;
	border: 1px solid #C9C9CA;
	background-color: #FFF;
}

main .content_faq .accordion .question {
	background-image: url(img/icon_accordion.png);
	background-repeat: no-repeat;
	background-position: 10px 12px;
	padding-right: 15px;
	padding-left: 35px;
	padding-top: 10px;
	cursor: pointer;
	font-size: 11pt;
	font-weight: bold;
	padding-bottom: 10px;
	clear: both;
	color: #036EB8;
}
main .content_faq .accordion .question:hover {
	text-decoration: underline;
}

main .content_faq .accordion .question.active {
	background-position: 10px -103px;
	color: #DF9491;
}
main .content_faq .accordion .answer  {
	clear: both;
	min-height: 20px;
	line-height: 20px;
	font-size: 10pt;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	height: auto;
	width: auto;
}
main .content_user .itembox {
	margin-bottom: 0px;
}

main .content_user .item  {
	clear: both;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	width: auto;
}
main .content_user p.text {
	padding-top: 10px;
}

main .content_user p.topic {
	font-size: 12pt;
	font-weight: bold;
	color: #61B669;
}


main .content_user .item ul {
    margin: 10px 0 0;
}

main .content_user .item li {
	list-style: decimal;
	text-indent: -1em;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 2em;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 1em;
}


main .content_user .item ul.brackets li {
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
}

main .content_user .item ul.brackets li:before{
  display: marker;
  content: "(" counter(cnt) ") ";
}



main .content_user p.text a {
	padding-right: 5px;
	padding-left: 5px;
}
main .content_user .text span.bold {
	font-size: 12pt;
}

main .content_form .check_agreebox  {
	border: 1px solid #036EB8;
	background-color: #F7F9FA;
	text-align: center;
	padding: 15px;
	clear: both;
	margin-bottom: 10px;
	font-size: 10pt;
	line-height: 25px;
}
main .content_form .check_agreebox label {
	font-size: 11pt;
	color: #e60012;
}
main .content_form input:checked + label {
	font-weight: bold;
}

main .content_form .itembox{
	padding: 10px;
	clear: both;
	float: none;
	width: auto;
}


main .content_form .itembox .item {
	margin-bottom: 5px;
	clear: both;
	width: 100%;
	clear: both;
	display: table;
	border: 1px solid #AEC5DF;
}
main .content_form .itembox.regist_form .item {
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
}

main .content_form .item > div {
	display: table-cell;
}
main .content_form .item .index {
	color: #3E3A39;
	clear: both;
	font-size: 11pt;
	padding: 10px;
	width: 25%;
	max-width: 230px;
	font-weight: bold;
	background-color: #D3E1F3;
	vertical-align: top;
}
main .content_form .itembox.regist_form .item .index {

}


main .content_form .item .inputitem {
	line-height: 20px;
	font-size: 9pt;
	background-color: #FFFFFF;
	width: 70%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #AEC5DF;
	max-width: 639px;
	padding-top: 10px;
	padding-right: 1%;
	padding-bottom: 8px;
	padding-left: 1%;
}
main .content_form .item .inputitem input[type="text"],
main .content_form .item .inputitem textarea,
main .content_form .item .inputitem input[type="password"] {
	width: 86%;
	margin-bottom: 5px;
}
main .content_form .item .inputitem textarea {
	height: 100px;
}
main .content_form .item .inputitem span.count {
	font-size: 8pt;
	color: #539856;
	margin-left: 5px;
}

main .content_form .item .inputitem .error {
	display: block;
	line-height: 30px;
}
main .content_form .item .inputitem .localbox {
	margin-bottom: 10px;
}
main .content_form .item .inputitem .posttype label {
	color: #036EB8;
	font-size: 10pt;
	margin-top: 10px;
	margin-bottom: 10px;
}
main .content_form .item .inputitem .urlbox {
	margin-top: 10px;
}
main .content_form .item .inputitem .topic   {
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 5px;
}
main .content_form .item .inputitem .topic.tag {
	line-height: 30px;
	background-color: #F3EEC1;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 10px;
}
main .content_form .item .inputitem .exp_text  {
	background-color: #EEEFEF;
	padding: 8px;
	color: #e60012;
	width: 98%;
	clear: both;
	display: block;
	float: none;
	margin-top: 10px;
}
main .content_form .item .inputitem .exp_text img {
	border: 1px solid #333;
}
main .content_form .item .inputitem .exp_text ul {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	display: table;
}
main .content_form .item .inputitem .exp_text ul li {
	text-align: center;
	width: 16%;
	display: table-cell;
	float: left;
}
main .content_form .item .inputitem .exp_text ul li img {
	height: auto;
	width: 90px;
}
main .content_form .item .inputitem .taglist {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
main .content_form .item .inputitem .taglist li {
	font-size: 10pt;
	float: left;
	width: auto;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
}
main .content_form .item .inputitem .taglist input:checked + label {
	color: #F28500;
}


main .content_form .item .inputitem #suggest_faq {
	background-color: #EEEFEF;
	clear: both;
	margin-top: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	padding-top: 10px;
}
main .content_form .item .inputitem #suggest_faq:after {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(238, 239, 239, 0);
	border-bottom-color: #EEEFEF;
	border-width: 8px;
	margin-left: -8px;
}
main .content_form .item .inputitem #suggest_faq > p {
	line-height: 30px;
	font-size: 10pt;
	font-weight: bold;
	color: #e60012;
	padding-right: 15px;
	margin-bottom: -10px;
	padding-left: 15px;
}

main .content_form .itembox .button {
	margin-top: 30px;
	font-size: 11pt;
	clear: both;
	text-align: center;
	width: 100%;
}
main .content_form .itembox .button .textbutton {
	line-height: 40px;
	min-width: 200px;
	margin-right: auto;
	margin-left: auto;
	font-size: 13pt;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
}
main .content_form .itembox .check_remember {
	text-align: center;
	clear: both;
	margin-bottom: 20px;
	width: 100%;
	margin-top: 10px;
	float: left;
	color: #57B361;
}



main .content_form #uploadform .textbutton {
	width: 240px;
	margin-top: 30px;
	text-align: center;
	height: 55px;
	margin-right: auto;
	clear: both;
	margin-left: auto;
}
main .content_form #uploadform input.b_submit {
	font-size: 13pt;
	width: 240px;
	min-width: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background: url(img/bg_clear.gif) no-repeat;/* url(img/bg_clear.gif)で背景削除 */
	background-image: url(img/b_icon_upload.png);
	background-repeat: no-repeat;
	background-position: 20px 12px;
	color: #FFF;
	text-shadow: inherit;
	text-align: center;
	font-weight: bold;
	line-height: 52px;
	padding-left: 30px;
}
main .content_form #uploadform .more_link {
	text-align: right;
	margin-right: 5px;
}
main .content_form #uploadform .more_link a {
	font-weight: bold;
	color: #F28500;
	background-image: url(img/icon_arrow_y.png);
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	padding-left: 20px;
}
main .content_form .b_leave {
	font-size: 11pt;
	float: right;
	width: auto;
	margin-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 30px;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
}

.content_form .text.finish_comment {
	background-color: #F1FDD2;
	border: 1px solid #2E8415;
	font-weight: bold;
	color: #2E8415;
	margin: 10px;
}
main .regist_merit {
	display: table;
	clear: both;
	width: 98%;
	padding-right: 1%;
	padding-left: 1%;
	margin-bottom: 20px;
}
main .regist_merit article {
	display: table-cell;
	width: 33%;
	position: relative;
}
main .regist_merit .inner {
	padding: 15px;
}
main .regist_merit .preparation {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
main .regist_merit .preparation p {
	color: #FFF;
	background-color: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;
	font-size: 15pt;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 25px;
	text-align: center;
	letter-spacing: 1px;
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}


main .regist_merit h3 {
	background-color: #dcdddd;
	clear: both;
	font-size: 10pt;
	line-height: 36px;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	height: 35px;
}
main .regist_merit h3:before,
main .regist_merit h3:after,
main .regist_merit .dec:before,
main .regist_merit .dec:after {
	content:"";
	display: block;
	position: absolute;
	bottom: -10px;
	z-index: 10;
	height: 0px;
	width: 0px;
	border: 10px solid #dcdddd;
	border-color:transparent;
}

main .regist_merit h3:before{
	left: -10px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	border-right-color: #dcdddd;
}
main .regist_merit h3:after{
	right: -10px;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	border-left-color: #dcdddd;
}
main .regist_merit .dec:before{
	left: -10px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	border-top-color: #dcdddd;
}
main .regist_merit .dec:after{
	right: -10px;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	border-top-color: #dcdddd;
}
main .regist_merit .dec {
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	position: relative;
	margin-top: 10px;
}
main .regist_merit .dec img {
	height: auto;
	width: 100%;
	max-width: 220px;
}

main .regist_merit .exp {
	border: 1px solid #CCCCCC;
	font-size: 8pt;
	padding: 15px;
	margin-top: 10px;
	border-radius: 5px;
	line-height: 18px;
}




.stepbox {
	display: table;
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}
.stepbox li {
	display: table-cell;
	width: 33%;
	box-shadow: inset 1px 1px 0px #CCC, inset -1px -1px 0px #CCC;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	border-right-width: 8px;
	border-left-width: 8px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-left-color: #FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	font-size: 8pt;
}
.stepbox li:after {
	display: block;
	position: absolute;
	z-index: 5;
	top: 50%;
	content: " ";
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 20px solid #dcdddd;
	left: 100%;
	margin-top: auto;
	margin-bottom: auto;
	bottom: 50%;
}
.stepbox li:last-child:after {
	display: none;
}
.stepbox li .index {
	font-size: 10pt;
	font-weight: bold;
	display: block;
	color: #E60012;
	margin-bottom: 5px;
}



/* #side */
#side {
	float: left;
	width: 18%;
	max-width: 220px;
	min-width: 172px;
  background: white;
  border-right: 1px solid #ccc;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	margin-right: 15px;
}
#detail #side {
  border-left: 1px solid #ccc;
  border-right: none;
	float: right;
	width: 22%;
	max-width: 270px;
	min-width: 210px;
	order: 2;
	margin-right: 0px;
}

#side section .itembox {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}
#side .button {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

#side .button .textbutton {
	clear: both;
	float: left;
	width: 98%;
	padding-right: 1%;
	padding-left: 1%;
}

#side .content_sword .itembox {
	overflow: hidden;
	max-height: 203px;
}
#side .content_sword li {
	float: left;
	width: auto;
	margin-left: 5px;
	margin-bottom: 5px;
}
#side .content_sword li a {
	display: block;
	text-align: center;
	line-height: 20px;
	font-size: 9pt;
	padding-right: 3px;
	padding-left: 3px;
	background: #F7F7F7;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#ffffff, EndColorStr=#d6d7d7);
	background: -moz-linear-gradient(top, #ffffff, #d6d7d7);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d6d7d7));
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8f9ba2;
}

#side .content_sword li a:hover {
	background-color: #EBEBEB;
	filter: #EBEBEB;
	background: #EBEBEB;
	text-decoration: none;
}
#side .content_genrelist li {
	margin-top: 1px;
	margin-bottom: 1px;
}
#side .content_genrelist li a {
	color: #F28500;
	font-weight: bold;
	display: block;
	line-height: 25px;
	padding-left: 35px;
	background-image: url(img/icon_arrow_y.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size: 9pt;
}
#side .content_genrelist li a:hover {
	background-color: #eeefef;
}
#side .content_genrelist .current a {
	color: #E60012;
	background-image: url(img/icon_arrow_r.png);
	background-color: #eeefef;
}
#side .content_genrelist a .count {
	font-size: 8pt;
	font-weight: normal;
	margin-left: 5px;
	color: #8A8A8A;
}


#side .content_genrelist .textbutton,
#side .content_comment .textbutton,
#side .content_siterank .textbutton {
	line-height: 28px;
	font-weight: bold;
	padding-top: 2px;
}
#side .content_genrelist .textbutton:hover,
#side .content_comment .textbutton:hover,
#side .content_siterank .textbutton:hover {
	padding-top: 4px;
}


#side .content_genrelist .textbutton:before,
#side .content_comment .textbutton:before,
#side .content_siterank .textbutton:before {
	margin-right: -5%;
	display: inline-block;
	width: auto;
	float: left;
	margin-left: 10%;
	height: 28px;
}
#side .content_genrelist .textbutton:before {
	content: url(img/b_icon_genrelist.png);
	margin-top: 5px;
	margin-bottom: -2px;
}

#side .content_comment .textbutton:before {
	content: url(img/b_icon_comlist.png);
	margin-top: 5px;
	margin-bottom: -2px;
}

#side .content_siterank .textbutton:before {
	content: url(img/b_icon_siterank.png);
	margin-top: 3px;
}

#side .content_comment .itembox {
	margin-bottom: 0px;
}

#side .content_comment li {
	font-size: 8.5pt;
	background-color: #f6f8fa;
	border: 1px solid #c9caca;
	margin-bottom: 10px;
	line-height: 18px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	word-break: break-all;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 8px;
	padding-left: 5px;
	clear: both;
	float: left;
	width: 100%;
	box-sizing: border-box;
}
#side .content_comment li a {
	line-height: 18px;
}
/* #side .content_comment li:nth-child(even) {
	margin-right: 5px;
	margin-left: 8px;
}
#side .content_comment li:after,
#side .content_comment li:before {
	top: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	left: 100%;
	display: none;
}

#side .content_comment li:after {
	border-left-color: #f6f8fa; 
	border-width: 5px; 
	margin-top: -5px; 
}
#side .content_comment li:before {
	border-left-color: #c9caca; 
	border-width: 6px; 
	margin-top: -6px;
}
 */

#side .content_comment li a .arrow {
	position: relative;
}
#side .content_comment li a .arrow:before,
#side .content_comment li a .arrow:after {
	position: absolute;
	top: 15px;
	right: 8px;
	display: inline;
	content: " ";
	border-right-color: #f6f8fa; 
	border-width: 5px; 
	margin-top: -5px;
	border: solid transparent; 
	height: 0; 
	width: 0; 
	pointer-events: none;
}

#side .content_comment li a .arrow:after{
	border-right-color: #f6f8fa; 
	border-width: 5px; 
	margin-top: -5px;
}

#side .content_comment li a .arrow:before {
	border-right-color: #595757; 
	border-width: 6px; 
	margin-top: -6px;
}

/* #side .content_comment li:nth-child(odd):after,
#side .content_comment li:nth-child(odd):before {
	left: 100%;
}
#side .content_comment li:nth-child(even):after,
#side .content_comment li:nth-child(even):before {
	right: 100%; 
}
#side .content_comment li:nth-child(odd):after {
	border-left-color: #f6f8fa; 
	border-width: 5px; 
	margin-top: -5px; 
}
#side .content_comment li:nth-child(even):after{
	border-right-color: #f6f8fa; 
	border-width: 5px; 
	margin-top: -5px;
}
#side .content_comment li:nth-child(odd):before {
	border-left-color: #c9caca; 
	border-width: 6px; 
	margin-top: -6px;
}
#side .content_comment li:nth-child(even):before {
	border-right-color: #c9caca; 
	border-width: 6px; 
	margin-top: -6px;
}
 */

#side .content_comment li a img {
	height: auto;
	width: 33%;
	border: 1px solid #595757;
	float: left;
	margin-right: 8px;
}
#side .content_comment li a:hover img {
	opacity: .8;
	filter: alpha(opacity=80);
}
#side .button.b_encoding {
	margin-bottom: 30px;
}
#side .button.b_encoding .textbutton {
	line-height: 50px;
	font-weight: bold;
}
#side .button.b_encoding .textbutton .dec {
	font-size: 8pt;
	line-height: 16px;
	background-image: url(img/dec_b_encode.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	float: left;
	height: 39px;
	width: 48px;
	text-align: center;
	padding-top: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: -15px;
	margin-top: 3px;
}
#ranklist .more_link,
#side .more_link {
	text-align: right;
	clear: both;
	float: left;
	width: 100%;
}
#ranklist .more_link a,
#side .more_link a {
	color: #717071;
	background-image: url(img/icon_arrow_gy.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	display: inline-block;
	padding-left: 20px;
	font-size: 10pt;
	font-weight: bold;
}
#side .content_vlist article {
	width: 100%;
	float: left;
	font-size: 9px;
	clear: both;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#side .content_vlist article .thumbbox {
	width: 45%;
	max-width: 118px;
	float: left;
	position: relative;
	margin-left: 5px;
}
#side .content_vlist article .thumbbox time {
	line-height: 15px;
	height: 15px;
	width: auto;
	right: 0px;
	bottom: 0px;
	font-size: 9px;
	padding-right: 3px;
	padding-left: 3px;
}

#side .content_vlist article .infobox {
	float: right;
	max-width: 122px;
	width: 49%;
  padding-left: 1%;
	margin-right: 5px;
	color: #717071;
	font-weight: bold;
}

#side .content_vlist article .vtitle {
	font-weight: bold;
	font-size: 8pt;
	height: 32px;
	overflow: hidden;
	margin-bottom: 5px;
	line-height: 16px;
}
#side .content_vlist article .value span {
	margin-right: 8px;
	margin-left: 0px;
	line-height: 20px;
}
#side .content_siterank li {
  padding: 5px 0;
	clear: both;
	width: 100%;
}
#side .content_siterank li a {
	color: #DA9CC5;
	font-weight: bold;
	display: table;
	font-size: 9pt;
	clear: both;
	float: left;
	width: 96%;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2%;
	padding-left: 2%;
	word-break: break-all;
}
#side .content_siterank li a:hover {
	background-color: #eeefef;
}
#side .content_siterank li a .rank {
	background-image: url(img/side_bg_rank.png);
	background-repeat: no-repeat;
	background-position: left -206px;
	display: table-cell;
	line-height: 23px;
	text-align: center;
	height: 24px;
	width: 24px;
	color: #666;
	letter-spacing: -1px;
	font-size: 8pt;
	padding-top: 1px;
	padding-right: 1px;
	margin-top: 2px;
}
#side .content_siterank li.first a .rank {
	background-position: left 1px;
	color: #FFF;
}
#side .content_siterank li.second a .rank {
	background-position: left -68px;
	color: #FFF;
}
#side .content_siterank li.third a .rank {
	background-position: left -137px;
	color: #FFF;
}
#side .content_siterank li a .sitename{
	display: table-cell;
	line-height: 18px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 7px;
}
#side .content_siterank li .count {
	font-weight: normal;
	color: #666;
	font-size: 8pt;
	display: inline-block;
	float: right;
	margin-right: 5px;
}

.js_tooltip {
	color: #FFF;
	background-color: rgba(0,0,0,0.8);
	display: none;
	position: absolute;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	font-size: 8pt;
	z-index: 9999;
	border: 1px solid #FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.js_tooltip:after, .js_tooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.js_tooltip:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 5px;
	margin-left: -5px;
}
.js_tooltip:before {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 6px;
	margin-left: -6px;
}

/* 広告 */
#video_ad {
	float: left;
	clear: both;
	width: 100%;
	max-width: 900px;
	position: relative;
}

#video_ad.none:before,
#video_ad.none:after,
#video_ad.none .inner {
	display: none;
}
/*
#video_ad:before,
#video_ad:after {
	content: " ";
	display: block;
	width: 5%;
	max-width: 50px;
	position: absolute;
	z-index: 100;
	height: 7%;
	background: rgba(0,0,0,0.5);
	bottom: 3%;
}
#video_ad:before {
	padding-left: 0px;
}

#video_ad:after {
	right: 0px;
}
*/
#video_ad .inner {
	text-align: center;
	width: 100%;
	max-width: 900px;
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 92%;
	max-height: 465px;
	background: rgba(0,0,0,0.5);
}
#video_ad:after {
	content: " ";
	display: block;
	width: 100%;
	position: absolute;
	z-index: 99;
	bottom: 3px;
	height: 13px;
	background: rgba(0,0,0,0.5);
	left: 0px;
}

#player_ad {
	width: 100%;
	max-width: 900px;
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 0px;
	height: 92%;
	/* [disabled]max-height: 465px; */
}
 #player_ad .b_skip {
	color: #FFF;
	background-color: rgba(0,0,0,0.7);
	/* [disabled]display: none; */
	right: 0px;
	bottom: 15%;
	font-size: 10pt;
	line-height: 35px;
	text-align: center;
	float: right;
	position: absolute;
	z-index: 1100;
	/* [disabled]cursor: pointer; */
	border-radius: 5px 0 0 5px;
	letter-spacing: 1px;
	width: 150px;
 }
/*  #player_ad .b_skip:hover {
	text-decoration: underline;
}
 */
#player_ad .b_skip a{
	display: block;
	color: #FFF;
}
 #player_ad .b_skip a:before {
	content:"≫";
	display: inline;
	margin-right:3px;
}
#player_ad #videolink {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1090;
	height: 100%;
	width: 100%;
}

 #player_ad img {
	width: 100%;
	height: auto;
}

input[type="select"] {
  border: 1px solid #ccc;
  background: white;
}

/* animation */
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
main .content_vlist article .b_mylist.animated,
.js_tooltip.animated{
	display: block !important;
}

@-webkit-keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}


@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.ad_movieupdown a {
  display: inline !important;
  width: 100% !important;
  height: auto !important;
}
