@charset "UTF-8";
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 10pt;
	color: #231815;
	font-weight: normal;
	font-variant: normal;
}

header h1,
header h2 {
	font-size: 7pt;
	color: #FFFFFF;
	font-weight: normal;
	line-height: 30px;
	float: left;
	width: auto;
}


.title-test {
	color: #2B2B2B;
	line-height: 40px;
	background-image: url(img/title_icon.png);
	padding-left: 48px;
	clear: both;
	background-repeat: no-repeat;
	height: 40px;
	font-weight: bold;
	font-size: 11pt;
}
section h1 a,
section h2 a {
	color: #383635;
	text-decoration: none;
}
section h1 a:hover,
section h2 a:hover {
	text-decoration: none;
}

.title_vlist {
	background-position: 5px -475px;
	background-color: #dbe8eb;
}
.title_encode {
	background-position: 5px -1195px;
	background-color: #dbe8eb;
}
.title_mylist {
	background-position: 5px -555px;
	background-color: #dbe8eb;
}
.title_faq {
	background-position: 5px -955px;
	background-color: #f6dfdb;
}
.title_upload {
	background-position: 5px -795px;
	background-color: #d3e1f3;
}
.title_contact {
	background-position: 5px -715px;
	background-color: #d3e1f3;
}
.title_info {
	background-position: 5px -875px;
	background-color: #d0e8d2;
}
.title_text {
	background-position: 5px -635px;
	background-color: #d0e8d2;
}
.title_sword{
	background-position: 5px 5px;
	background-color: #dadcec;
}
.title_userword {
	background-position: 5px 5px;
	background-color: #e6d8ea;
}
.title_tag {
	background-position: 5px -75px;
	background-color: #f3eec1;
}
.title_genre {
	background-position: 5px -1115px;
	background-color: #f3eec1;
}

.title_comment {
	background-position: 5px -235px;
	background-color: #dbe8eb;
}

.title_recommend {
	background-position: 5px -315px;
	background-color: #dcdddd;
}
.title_viewlist {
	background-position: 5px -395px;
	background-color: #dcdddd;
}
.title_rank {
	background-position: 5px -1275px;
	background-color: #f2dae1;
}

.title_videorank {
	background-position: 5px -1355px;
	background-color: #f2dae1;
}
.title_login {
	background-position: 5px -1435px;
	background-color: #d3e1f3;
}
.title_regist {
	background-position: 5px -1515px;
	background-color: #d3e1f3;
}

.title_account {
	background-position: 5px -1595px;
	background-color: #d3e1f3;
}


.title_attention {
	background-position: left top;
	background-color: #F5DFDB;
	font-size: 10pt;
	line-height: 30px;
	font-weight: bold;
	color: #e60012;
	background-image: url(img/icon_attention.gif);
	background-repeat: no-repeat;
	clear: both;
	height: 30px;
	padding-left: 40px;
}

#detail .videotitle {
  line-height: 32px;
  font-size: 16pt;
  background-image: none;
  padding-right: 10px;
  padding-left: 10px;
  height: auto;
  font-weight: bold;
	padding-bottom: 20px;
}
.title_info span {
	font-size: 9pt;
	font-weight: normal;
	color: #FFF;
	background-color: #E60012;
	line-height: 20px;
	display: inline-block;
	float: right;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 9px;
	margin-right: 10px;
}

.red {
	color: #E60012;
}
.error {
	color: #E60012;
	font-weight: bold;
}
.error_box {
	border: 1px solid #E60012;
	background: #F5DFDB;
	width: 99%;
	color: #E60012;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 0;
	padding-bottom: 30px;
	padding-left: 0;
	clear: both;
}
.attention {
	color: #E60012;
}
div.attention {
	clear: both;
	padding: 10px;
}
.require {
	color: #E60012;
	margin-left: 5px;
}

.bold {
	font-weight: bold;
}
.mark {
	color: #72be79;
	font-weight: bold;
}
.unit {
	font-size: 8pt;
	margin-left: 5px;
}
.time {
	margin-left: 5px;
}

.date {
	color: #e60012;
}


p.text {
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	line-height: 22px;
	font-size: 10pt;
	clear: both;
}

p.text .topic {
	font-weight: bold;
}
.dec_topic_balloon {
	font-size: 11pt;
	font-weight: bold;
	background-color: #dcdddd;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	clear: both;
	border-radius: 5px;
	position: relative;
	margin-bottom: 15px;
	margin-right: 10px;
	margin-left: 10px;
}
.dec_topic_balloon:after {
	top: 100%;
	left: 5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(220, 221, 221, 0);
	border-top-color: #dcdddd;
	border-width: 8px;
	margin-left: -8px;
}

.textbutton {
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	cursor: pointer;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 4px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.textbutton:hover {
	text-decoration: none;
	border-bottom-width: 1px !important;
	padding-top: 2px;
	padding-bottom: 1px;
}

input.textbutton {
	border-bottom-width: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
}
input.textbutton:hover {
	padding-top: 0px;
	padding-bottom: 0px;
}


.textbutton.black {
	color: #FFFFFF;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background: #7d7d7d;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#7d7d7d, EndColorStr=#4d4a4a);
	background: -moz-linear-gradient(top, #7d7d7d, #4d4a4a);
	background: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(#4d4a4a));
}
.textbutton.black:hover {
	background: #a8a9a9;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#a8a9a9, EndColorStr=#4d4a4a);
	background: -moz-linear-gradient(top, #a8a9a9, #4d4a4a);
	background: -webkit-gradient(linear, left top, left bottom, from(#a8a9a9), to(#4d4a4a));
}

.textbutton.white {
	text-shadow: 1px 1px 0px #FFF;
	background: #d6d7d7;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#ffffff, EndColorStr=#d6d7d7);
	background: -moz-linear-gradient(top, #ffffff, #d6d7d7);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d6d7d7));
	color: #035A8B;
	border-top-color: #035A8B;
	border-right-color: #035A8B;
	border-bottom-color: #8f9ba2 ;
	border-left-color: #035A8B;
	box-shadow: 0px 1px 0px #035A8B;
	-moz-box-shadow: 0px 1px 0px #035A8B;
	-webkit-box-shadow: 0px 1px 0px #035A8B;
	border-bottom-width: 3px;
}

.textbutton.white:hover {
	background: #E6E6E6;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#ffffff, EndColorStr=#E6E6E6);
	background: -moz-linear-gradient(top, #ffffff, #E6E6E6);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#E6E6E6));
	border-bottom-style: none !important;
}

.textbutton.blue {
	color: #FFF;
	background: #5BB1E4;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#5BB1E4, EndColorStr=#0673BB);
	background: -moz-linear-gradient(top, #5BB1E4, #0673BB);
	background: -webkit-gradient(linear, left top, left bottom, from(#5BB1E4), to(#0673BB));
	border-top-width: 1px;
	border-top-color: #003975;
	border-right-color: #003975;
	border-bottom-color: #003975;
	border-left-color: #003975;
}
.textbutton.blue:hover {
	background: #62C6F1;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#62C6F1, EndColorStr=#0673BB);
	background: -moz-linear-gradient(top, #62C6F1, #0673BB);
	background: -webkit-gradient(linear, left top, left bottom, from(#62C6F1), to(#0673BB));
}

.textbutton.red {
	color: #FFF;
	background: #DA4350;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#DA4350, EndColorStr=#BD3135);
	background: -moz-linear-gradient(top, #DA4350, #BD3135);
	background: -webkit-gradient(linear, left top, left bottom, from(#DA4350), to(#BD3135));
	border-top-color: #7B1519;
	border-right-color: #7B1519;
	border-bottom-color: #7B1519;
	border-left-color: #7B1519;
}
.textbutton.red:hover {
	background: #EC6F77;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#EC6F77, EndColorStr=#BD3135);
	background: -moz-linear-gradient(top, #EC6F77, #BD3135);
	background: -webkit-gradient(linear, left top, left bottom, from(#EC6F77), to(#BD3135));
}
.browser {
	border: 1px solid #e60012;
	padding: 10px;
	color: #e60012;
	background-color: #FFF;
	margin-bottom: 10px;
}
.highlight {
	background-color: #A9FFF6;
}
