/* Enter Your Custom CSS Here */
body {
  
}

/*Related Links Styles */
ul.relatedLinks li {
	list-style-type:none;
 	font-weight:300;
  	font-size:.9em;
  	line-height:1.5em;
  	margin-bottom:1.1em;
}



/*margins and paddings*/
.imgMarginTop {
	margin-top:1rem;
}

.zero-margin-top {
	margin-top:0;
}

.zero-margin-bottom {
	margin-bottom:0;
}

.zero-padding-top {
	padding-top:0;
}

.zero-padding-bottom {
	padding-bottom:0;
}

/*History Page margins for alignment - desktop only*/
.margin-top-1 {
	margin-top:1rem;
}

.margin-top-2 {
	margin-top:2rem;
}

.margin-top-3 {
	margin-top:3rem;
}

.margin-bottom-1 {
	margin-bottom:1rem;
}

.padding-top-2 {
	padding-top:2rem;
}

.padding-bottom-2 {
	padding-bottom:2rem;
}

/*anchor tag margin */
.anchorMarginTop {
	margin-top:5rem;
}
.anchorMarginBottom {
	margin-bottom:5rem;
}
/*Blockquotes*/

blockquote p {
	font-style:italic;
  	font-size:1.250em;
  	color:#8CABCE;
  	padding-left:2.813em;
  	padding-right:2.813em;
}

blockquote {
	border-left:none;
}

/*H3 style*/

h3 {
	font-size:1.125em;
  	font-weight:300;
  	color:#000;
}

/*Indent*/
.indentLeft {
padding-left:1.5em;
}


/*Links*/
a:hover {
	color:#df9511;
}

/*YouTube Padding */
iframe {
	padding: 1.250em 0;
}

/* Link Leading associated with an img */
.adjustedLeading {
	line-height:1.3em;
}

/*Prospective Student margins */
.pushMargin {
margin-top:3rem;
}

.pushMarginLess {
margin-top:1.3rem;
}

/* Table styles */
table {
font-size:0.9375rem;
}

tr {
	font-weight:300;
}

.blueBg {
	background-color:#e8eef5;
  	border-top: 1px solid #8cabce;
  	border-bottom:1px solid #8cabce;
}
.tablePadding {
	padding-top: .8em;
  	padding-bottom:.8em;
}
.tablePaddingExtra {
	padding-top: 1.8em;
  	padding-bottom:.8em;
}

.topMargin {
margin-top:1.8em;
}

.td-padding-left {
	padding-left:.8em;
}


.tableIndent {
	padding-left:1.2em;
}

.blackText {
	color:#000;
}

.disclaimer {
	font-size: .8em;
  	line-height:1.5em;
}
.paddingTop {
	padding-top:1.8em;
}

/* History page dates */
.timeline {
	font-size:6em;
  	font-weight:100;
  	color:#eee;
  	line-height: inherit;
}

/*Parallax Image copy */

.parallaxProspectiveCopy {
	font-size:.9em;
 	line-height:1.3em;
}
  
 .parallaxCampusCopy {
	font-size:.6em;
 	/*line-height:1.3em;*/
  	font-weight:400;
  	 padding-bottom:10px;
  
}

/*Links*/
.tp-caption a {
	color:#ffffff;
	text-decoration:underline;
  	font-weight:bold;
}

.tp-caption a:hover {

}

.tp-caption a.btn {
	border:1px solid #ffffff;
  	text-decoration:none;
  	padding-left:5px;
  	padding-right:5px;
  	padding-bottom:4px;
  	padding-top:2px;
  	border-radius:3px;
}

.tp-caption a.btnTiny {
	color:#03357a;
  	text-decoration:none;
  	font-weight:normal;
}

.tp-caption a:hover.btnTiny {
	color:#ffffff;
  	text-decoration:none;
  	font-weight:normal;
}

/*Parallax button fix */
.parallaxBtn {
	padding-top:.625rem !important;
  	padding-right:1.25rem !important;
  	padding-bottom:.6875rem !important;
  	padding-left:1.25rem !important;
  	background:#f2f2f2;
  	border:1px solid #ccc;
  	text-transform:uppercase;
}

/* New color for link hover states 
a:hover {
color:#ffa902;
}*/

/*Admissions Page spaceing fix */
.paddingFixAdmin {
	padding:0;
}

/*Homepage Slider */
.sliderHeader {
	font-size:1.8rem;
	margin-bottom:0 !important;
}

.sliderCopy {
	line-height:1.3rem;
	margin-bottom:.3rem;
  	font-size:14px;
}

@media only screen and (max-width: 40em) { 
  .admin-padding-bottom {
  	padding-bottom:0px;
  }
  
  .full-width-img {
  	width:100%;
  	height:auto;
  }
  
  .margin-top-1-small {
  	margin-top:1rem;
  }
  
   .padding-bottom-1-small {
  	padding-bottom:1rem;
  } 
    .float-left-medium {
  	float:left;
  }
    .half-width-small {
  	width:48%;
  }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.margin-top-1-medium {
  		margin-top:1rem;
  	}
  
  	.padding-bottom-1-medium {
  		padding-bottom:1rem;
  	}
  
  .float-left-medium {
  	float:left;
  }
  
  .half-width-medium {
  	width:48%;
  }

}