/*        < blank >       */
/*     Nicolas Taffin     */
/*  http://polylogue.com  */
/*  licence CC: BY-NC-SA   */


/* couleur du texte : color: #353537; */

html {overflow:scroll;}

/****************************************/
/*     	            html   		        */							
/****************************************/

/* links */

.document a,.document a:visited, .document a:link { color:rgb(69,100,135); }
.document-ss-menu a,.document-ss-menu a:visited, .document-ss-menu a:link { color:rgb(69,100,135); }



/*.document a:visited
{
color: #453856;
}*/
.document a:hover { color:rgb(0,41,75); }
.document a:active { color:rgb(0,41,75); }

.document-ss-menu a:hover { color:rgb(0,41,75); }
.document-ss-menu a:active { color:rgb(0,41,75); }



/* images */

.document img, .document-ss-menu img
{
}

/* titles */

.document h1, .document-ss-menu h1
{
	font-weight: normal;
	font-size: 2em;
	line-height: 1.2em;
	color: #202020;
	padding-top: 15px;
	padding-bottom: 20px;
}
.document h2, .document-ss-menu h2
	{
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.2em;
	color: #303030;
	padding-top: 13px;
	padding-bottom: 4px;
	}
.document h3, .document-ss-menu h3
{
	font-weight:bold;
	font-size: 1.1em;
	line-height: 1.2em;
	color: #598097;
	padding-top: 12px;
	padding-bottom: 4px;
}
.document h4, .document-ss-menu h4
{
	font-weight: bold;
	font-size: 1em;
	line-height: 1.2em;
	color: #404042;
	padding-top: 8px;
	padding-bottom: 2px;
}
.document h5, .document-ss-menu h5
{
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.2em;
	color: #404042;	
	padding-top: 11px;
	padding-bottom: 4px;
}
.document h6, .document-ss-menu h6
{
	font-weight: bold;
	font-size: 1em;
	line-height: 1.2em;
	color: #404042;	 
	padding-top: 10px;
	padding-bottom: 6px;
}

/* sauvegarde

.document h1
{
	font-weight: normal;
	font-size: 1.9em;
	line-height: 1.2em;
	color: #404042;	
	padding-top: 15px;
	padding-bottom: 8px;
}
.document h2
	{ 
	font-weight: normal;
	font-size: 1.65em;
	line-height: 1.3em;
	color: #404042;	 
	padding-top: 15px;
	padding-bottom: 8px;
	}
.document h3
{
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.3em;
	color: #404042;	
	padding-top: 12px;
	padding-bottom: 8px;
	font-weight: bold;
}
.document h4
{
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.25em;
	color: #404042;	 
	padding-top: 12px;
	padding-bottom: 8px;
	font-weight: normal;
}
.document h5
{
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.25em;
	color: #404042;	
	padding-top: 11px;
	padding-bottom: 7px;
}
.document h6
{
	font-weight: bold;
	font-size: 1.15em;
	line-height: 1.4em;
	color: #404042;	 
	padding-top: 10px;
	padding-bottom: 6px;
} */




.document hr, .document-ss-menu hr
{
	margin: 5px 0px 15px 0px;
	border-top: 2px rgb(177, 193, 208) solid;
}

/* text */

.document p, .document-ss-menu p
{
	font-weight: normal;
	font-size: 0.95em;
	line-height: 1.45em; 
	padding-top: 4px;
	padding-bottom: 2px;
}

em
{
	font-style: italic;
}

strong
{
	font-weight: bold;
}

code
{
	display: block;
	font-family: monospace;
	font-size: 0.85em;
	line-height: 1.3em;
	padding: 10px 5px 10px 29px;
	background-color: #DBECEB;
	border: 1px solid #DDD;
	margin: 5px 5px 5px 20px;
	background: #DBECEB url(../images/caroll.png) repeat-y;
}
pre
{
}

blockquote
{
	margin-left: 20px;
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.45em;
	color: black; 
	padding-top: 5px;
	padding-bottom: 8px;
}

address
{
	font-weight: normal;
	font-size: 0.75em;
	line-height: 1.45em;
	color: rgb(112, 106, 97);
	padding-top: 5px;
	padding-bottom: 8px;
}


/* lists */

.document ul, .document-ss-menu ul
{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.45em;
	list-style-image: url(../images/liDash.png);
}
.document ul li, .document-ss-menu ul li
{

}

.document ul ul, .document-ss-menu ul ul
{
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
	padding-left: 20px;
	
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.45em;
}
.document ul ul li, .document-ss-menu ul ul li
{
}

.document ol, .document-ss-menu ol
{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.45em;
}
.document ol li, .document-ss-menu ol li
{
}
.document ol ol, .document-ss-menu ol ol
{
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
	padding-left: 20px;
}
.document ol ol li, .document-ss-menu ol ol li
{
}

.document dl, .document-ss-menu dl
{
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.45em;
}
.document dl dt, .document-ss-menu dl dt
{
	font-weight: bold;
}
.document dl dd, .document-ss-menu dl dd
{
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
}

/* tables */

.document table, .document-ss-menu table
{
	border-collapse: collapse; /* separate */
	margin: 3px 0px 10px 0px;
	
	font-weight: normal;
	font-size: 0.9em;
	line-height: 1.45em;
	
	border: 1px solid #ccc;
}

.document thead, .document-ss-menu thead
{
}

.document tfoot, .document-ss-menu tfoot
{
}

.document tr, .document-ss-menu tr
{
}

.document th, .document-ss-menu th
{
	border: 1px white solid;
	padding: 3px;
	background: #d9f3f8 url(../images/thBack.png) repeat-x;
	color: rgb(0,41,75);
}
.document .row tr:nth-child(even){ background-color: #EBEEF3; }

.document-ss-menu .row tr:nth-child(even){ background-color: #EBEEF3; }


.document .row tr:nth-child(odd) {background: white;}
.document-ss-menu .row tr:nth-child(odd) {background: white;}


.document td.alt { background-color: #EBEEF3; }
.document-ss-menu td.alt { background-color: #EBEEF3; }

.document td, .document-ss-menu td
{
	border: 1px solid #ccc; 
	padding: 3px;
	color: #333;
}

.document td img, .document-ss-menu td img
{
	vertical-align: top;
}

.document caption, .document-ss-menu caption
{
	color: #606064;
	padding: 20px 0px 10px 0px;
	font-weight: bold;
}
.document table.invisible, .document table.invisible th,
.document table.invisible tr, .document table.invisible td,
.document-ss-menu table.invisible, .document-ss-menu table.invisible th,
.document-ss-menu table.invisible tr, .document-ss-menu table.invisible td
{
	border: none;
	background-color: transparent;
	background-image: none;
}
