/*        < blank >       */
/*     Nicolas Taffin     */
/*  http://polylogue.com  */
/*  licence CC: BY-NC-SA   */


/****************************************/
/*     	        formulaires	            */							
/****************************************/

/* used against spam */
.piege, .textFieldKey
{
	display: none;
}





/****************************************/
/*     	        toolbar	               */							
/****************************************/

.toolbar form
{
	display: inline;
	font-size: 11px;
	vertical-align: baseline;
}
.toolbar fieldset
{
	display: inline;
	padding-top: 2px;
}
.toolbar .recherche
{
	font-size: 9pt;
	width: 80px;
	color: rgb(140, 132, 122);
	background: white url(../images/searchFieldBack.png) left top repeat-x;
	margin: 0px 10px 0px 10px;
	padding: 2px 5px 3px 5px;
	border: 1px rgb(161, 151, 133) solid;
	vertical-align: middle;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}
.toolbar .recherche:focus
{
	width: 110px;
	color: rgb(77, 73, 66);
	border: 1px rgb(86, 81, 72) solid;
}












.document label
{
	display: block;
	float: left;
	width: 80px;
	margin-right: 15px;
}

.document label.piege
{
	display: none;
}




/* html5 */

input[type=range] {}


input[type=search] {}
/* attribut html autofocus */







.document input[type=text]

{
}


.document .textField
{
	width: 220px;
	color: #444;
	font-size: 1em;
	line-height: 1.3em;
	background-color: white;
	padding: 3px;
	margin-bottom: 4px;
	border: 1px solid #aaa;
	
}
.document .textField:focus
{
	width: 220px;
	color: #444;
	background-color: #FDFFAE;
	padding: 3px;
	margin-bottom: 4px;
	border: 1px #CDC618 solid;
}

.document textarea
{	
	width: 316px;
	color: #444;
	font-size: 1em;
	line-height: 1.3em;
	background-color: white;
	border: 1px solid #aaa;
}

.document textarea:focus
{	
	background-color: #FDFFAE;
}

.document input[type=submit]
{
	padding: 3px;
	font-weight: bold;
	color: #ADCF8E;
	background-color: #5D9442;
	border-top: 1px #75B953 solid;
	border-left: 1px #72B450 solid;
	border-right: 1px #477132 solid;
	border-bottom: 1px #4A7634 solid;
	-moz-border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
	border-radius: 0.7em;
	cursor: pointer;
}
.document input[type=submit]:hover
{
	padding: 3px;
	font-weight: bold;
	color: #ADCF8E;
	background-color: #3B7E17;
	border-top: 1px #75B953 solid;
	border-left: 1px #72B450 solid;
	border-right: 1px #477132 solid;
	border-bottom: 1px #4A7634 solid;
	-moz-border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
	border-radius: 0.7em;
}