/*        < blank >       */
/*     Nicolas Taffin     */
/*  http://polylogue.com  */
/*  licence CC: BY-NC-SA   */



/****************************************/
/*     	        navigation cnrs	       	*/
/****************************************/


.navigation
{
	display: block;
	float: right;
	width: 474px;
	height: 84px;
	text-align: right;
	margin-right: 0px;
	overflow: visible;
	position: relative;
	color:rgb(69,100,135);
}

#navigationPage
{
	top: 38px;
	right: 0px;
	position: absolute;
	float: none; 
	z-index: 10000;
}



.navigation a
{
	text-decoration: none;
}
.navigation a:hover
{
	color: rgb(0,41,75);

}

.accueil .navigation
{
	width: 556px;
	height: 166px;
	overflow: hidden;
}


/* le sélecteur de menu de la page d'accueil */


ul.menuSelect
{
	display: block;
	width: 200px;
	height: auto;
	left: 0px;
	top: 0px;
	position: absolute;
	font-family: "NimbusSansLReguCond", "Helvetica Condensed", "Arial Narrow", sans-serif;
	font-size-adjust: 0.52;
	font-stretch: condensed;
	font-size: 14.1pt;
	line-height: 1.4em;
	text-align: right;
	list-style-type: none;
	padding: 10px 0px 0px 0px;
}

ul.menuSelect li a
{
	color: rgb(129,160,195);
	margin: 0px 15px 0px 0px;
	padding: 0px 15px 0px 0px;
}

ul.menuSelect li.selected a, ul.menuSelect li.selected a:hover, ul.menuSelect li.ui-tabs-selected a, ul.menuSelect li.ui-tabs-selected a:hover
{
	background: transparent url(../images/menuSelectArrow.png) right center no-repeat;
	color: rgb(0,41,75);
}
ul.menuSelect li a:hover
{
	background: color: rgb(69,100,135);
}

/*  le menu globalement */


.menu
{
	font-family: "NimbusSansLReguCond", "Helvetica Condensed", "Arial Narrow", sans-serif;
	font-size-adjust: 0.52;
	font-stretch: condensed;
	display: block;
	width: 100px;
	text-align: left;
	list-style-type: none;
	position: absolute;
	overflow: visible;
	height: 35px;
	
}

#menu-1 {
   left: 40px;
   top: 50px;
   width: 70px;
}
#menu-2 {
   left: 125px;
   top: 50px;
   width: 100px;
}
#menu-3 {
   left: 235px;
   top: 50px;
   width: 130px;
}
#menu-4 {
   left: 380px;
   top: 50px;
   width: 90px;
}

.anglais #menu-1
{
	top: 50px;
	left: 0px;
	width: 100px;
}
.anglais #menu-2
{
	top: 50px;
	left: 115px;
	width: 80px;

}
.anglais #menu-3
{
	top: 50px;
	left: 200px;
	width: 150px;
}
.anglais #menu-4
{
	top: 50px;
	right: 25px;
	width: 90px;
}



.menu a
{

	font-size: 18px;
	color: rgb(69,100,135);	
}

.menu.selected a
{
	color: rgb(0,41,75);

}
.menu:hover a
{
	color: rgb(0,41,75);

}
.menu:hover a:hover
{
	color: rgb(0,41,75);

}

.menu ul
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu ul a
{
	text-decoration: none;
	font-size: 12px;
	color: rgb(69,100,135);
}




/*  le menu spécifique à l'accueil (2 colonnes, 2 variantes) */

.accueil .menu
{
	display: block;
	width: 356px;
	height: 165px;
	right: 0px;
	top: 0px;
	text-align: left;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	background-color: white;
	
}


.accueil .menu.ui-tabs-hide

{	
	display: none;
}

.accueil ul.col
{
	display: block;
	width: 176px;
	height: 164px;
	float: left;
	text-align: left;
	list-style-type: none;
	margin: 10px 0px 0px 0px;
	font-family: "NimbusSansLReguCond", "Helvetica Condensed", "Arial Narrow", sans-serif;
	font-size: 13pt;
	line-height: 1.5em;
	font-size-adjust: 0.52;
	font-stretch: condensed;
}

.accueil .menu ul a
{
	text-decoration: none;
	font-size: 12pt;
	font-size-adjust: 0.52;
	color: rgb(69,100,135);
	display: block;
	height: 100%;
	padding: 1px 0px 1px 15px;
}


/* le menu la recherche de la page d'accueil  */


.accueil .menu.menuRecherche ul a
{
	font-size: 11.5pt;
	padding: 1px 0px 1px 10px;
}

.menuRecherche li a { border-left: 7px rgb(180, 180, 180) solid; }

.menuRecherche li.inc a { border-color: rgb(89, 179, 197); }
.menuRecherche li.inc a:hover { border-color: rgb(0,126,148); }

.menuRecherche li.inee a { border-color: rgb(158, 214, 116); }
.menuRecherche li.inee a:hover { border-color: rgb(98,174,36); }

.menuRecherche li.inp a { border-color: rgb(106, 150, 220); }
.menuRecherche li.inp a:hover { border-color: rgb(0,68,148); }

.menuRecherche li.in2p3 a { border-color: rgb(242, 160, 115); }
.menuRecherche li.in2p3 a:hover { border-color: rgb(231,81,18); }

.menuRecherche li.insb a { border-color: rgb(209, 120, 177); }
.menuRecherche li.insb a:hover { border-color: rgb(156,18,109);	 }

.menuRecherche li.inshs a { border-color: rgb(203, 135, 142); }
.menuRecherche li.inshs a:hover { border-color: rgb(130,14,18);	 }

.menuRecherche li.insmi a { border-color: rgb(125, 169, 102); }
.menuRecherche li.insmi a:hover { border-color: rgb(84,125,61);	 }

.menuRecherche li.insis a { border-color: rgb(215, 106, 134); }
.menuRecherche li.insis a:hover { border-color: rgb(204, 0, 49); }

.menuRecherche li.insu a { border-color: rgb(239, 113, 190); }
.menuRecherche li.insu a:hover { border-color: rgb(204, 35, 129); }

.menuRecherche li.ins2i a {
	border-color:  #8942D5;
}
.menuRecherche li.ins2i a:hover {
	border-color: rgb(86,42,132);
}




/* le menu la recherche de la page d'accueil anglais  */


.accueil .menu.menuRecherche-en ul a
{
	font-size: 0.80em;
	padding: 1px 0px 1px 10px;
}

.menuRecherche-en li a { border-left: 7px rgb(180, 180, 180) solid; }

.menuRecherche-en li.inc a { border-color: rgb(89, 179, 197); }
.menuRecherche-en li.inc a:hover { border-color: rgb(0,126,148); }

.menuRecherche-en li.inee a { border-color: rgb(158, 214, 116); }
.menuRecherche-en li.inee a:hover { border-color: rgb(98,174,36); }

.menuRecherche-en li.inp a { border-color: rgb(106, 150, 220); }
.menuRecherche-en li.inp a:hover { border-color: rgb(0,68,148); }

.menuRecherche-en li.in2p3 a { border-color: rgb(242, 160, 115); }
.menuRecherche-en li.in2p3 a:hover { border-color: rgb(231,81,18); }

.menuRecherche-en li.insb a { border-color: rgb(209, 120, 177); }
.menuRecherche-en li.insb a:hover { border-color: rgb(156,18,109);	 }

.menuRecherche-en li.inshs a { border-color: rgb(203, 135, 142); }
.menuRecherche-en li.inshs a:hover { border-color: rgb(130,14,18);	 }

.menuRecherche-en li.insmi a { border-color: rgb(125, 169, 102); }
.menuRecherche-en li.insmi a:hover { border-color: rgb(84,125,61);	 }

.menuRecherche-en li.insis a { border-color: rgb(215, 106, 134); }
.menuRecherche-en li.insis a:hover { border-color: rgb(204, 0, 49); }

.menuRecherche-en li.insu a { border-color: rgb(239, 113, 190); }
.menuRecherche li.insu a:hover { border-color: rgb(204, 35, 129); }

.menuRecherche-en li.ins2i a {
	border-color:  #8942D5;
}
.menuRecherche-en li.ins2i a:hover {
	border-color: rgb(86,42,132);
}




/* le menu déroulant  */


.menu .deroulant
{
	position: absolute;
	font-stretch: normal;
	top: 22px;
	left: -9px;
	padding: 15px 0px 6px 0px;
	display: none;
	z-index: 1000;
	width: 190px;
	background-color: rgba(255,255,255,0.85);
	box-shadow: 5px 9px 9px rgba(0,0,0,0.4);
	-moz-box-shadow: 5px 9px 9px rgba(0,0,0,0.4);
	-webkit-box-shadow: 5px 9px 9px rgba(0,0,0,0.4);
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
	list-style-type: none;
}

.menu#menu-4 .deroulant
{
	width: 154px;
}
.deroulant ul
{
	display: none;
}

.menu .deroulant
{

	background: rgba(255,255,255,0.85) url(../images/menuArrow.png) 9px 1px no-repeat;
	
}

.deroulant a, .menu.selected .deroulant a, .menu:hover .deroulant a
 {
 	color: rgb(69,100,135);	
 	display: block;
 	width: auto;
 	background-color: transparent;
 	padding: 2px 10px 2px 10px;
 	border-top: 1px solid rgba(255,255,255,0.4);
 	border-bottom: 1px solid rgba(200,200,200,0.3);
 }
 .deroulant a:hover, .menu.selected .deroulant a:hover, .menu:hover .deroulant a:hover
 {
 	display: block;
 	width: auto;
 	color: rgb(0,41,75);
 	background-color: rgba(98,196,221,0.45);
 }

.deroulant li.intertitre
{
	display: none;
}


/****************************************/
/*     	      menuBar vertical	       	*/
/****************************************/

ul.menuBar.vertical
{
	display: block;
	clear: both;
	width: 100%;
	margin: 0px 0px 8px 0px;

	list-style-type: none;
	text-align: left;
}

ul.menuBar.vertical li
{
	display: block;
	width: 100%;
	height:100%;
	margin: 0px;
}


ul.menuBar.vertical li a
{
	text-decoration: none;
	display: block;
	padding: 2px 8px 1px 42px;
	color: rgb(69,100,135);	
	margin:0px;
	background-image:url(../images/localNavPuce2.png);
	background-repeat: no-repeat;
	background-position: 28px 8px;
}
ul.menuBar.vertical li a:hover
{
	background-color: rgba(255,255,255,0.3);
	color: rgb(0,41,75);
	background-image:url(../images/localNavPuceAlt.png);
}
ul.menuBar.vertical li.selected a
{
	color: rgb(0,41,75);
	background-color: rgba(255,255,255,0.5);

}
ul.menuBar.vertical li ul
{	
	display: none;
}

ul.menuBar.vertical li ul li a
{	
	text-decoration: none;
	display: block;
	padding: 2px 8px 1px 43px;
	color: rgb(69,100,135);	
	margin:0px;
	background-image: url(../images/liDash22.png);
	background-repeat: no-repeat;
	background-position: 28px 12px;
}
ul.menuBar.vertical li ul li a:hover
{
	background-color: rgba(255,255,255,0.3);
	color: rgb(0,41,75);
	background-image: url(../images/liDash3.png);
}

ul.menuBar.vertical li.intertitre
{
	display: none;
}


/****            ajout pour le plan              *****/


.plan ul.menuBar.vertical
{
	line-height: 1.3em;
	padding: 3px 0px 0px 10px;

}
.plan ul.menuBar.vertical li
{
	
	padding: 0px 0px 0px 0px;
}
.plan ul.menuBar.vertical li.intertitre
{
	display: block;
}

.plan ul.menuBar.vertical li a
{	
	color: #c3d0db;	
	display: block;
	padding: 0px 25px 0px 12px;
	width: auto;
	height: 100%;
	font-size: 11px;
	text-decoration: none;
	background-image:url(../images/planPuce.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}
/* 	padding: 0px 40px 0px 12px;
    changé par MC le 9/08          */


.plan ul.menuBar.vertical li a:hover
{
	background-color: transparent;
	color: #E7F0F5;
	background-image: url(../images/planPuceAlt.png);
}

.plan ul.menuBar.vertical ul
{
	display: none;
}


/****************************************/
/*     	        fil d'Ariane  	       	*/
/****************************************/


div.filAriane
{	
	display: block;
	float: right;
	height: auto;
	width: 723px;
	background-color: transparent;
	padding-bottom: 10px;
}

ul.filAriane, ul.breadCrumb,
.document ul.filAriane, .document ul.breadCrumb
{
	display: block;
	float: left;
	width: auto;
	height: auto;
	text-align: left;
	list-style-type: none;
	color: rgb(69,100,135);	
	padding: 10px 10px 15px 60px;
	margin: 0px;
}

ul.filAriane li, ul.breadCrumb li,
.document ul.filAriane li, .document ul.breadCrumb li
{
	display: inline;
	font-size: 0.9em;
	height: 100%;
	color: rgb(69,100,135);	
}
ul.filAriane li:after, ul.breadCrumb li:after,
.document ul.filAriane li:after, .document ul.breadCrumb li:after
{
	content:" | "; 
}
ul.filAriane li.last:after, ul.breadCrumb li.last:after,
.document ul.filAriane li.last:after, .document ul.breadCrumb li.last:after
{
	content:""; 
}
ul.filAriane li a, ul.breadCrumb li a,
.document ul.filAriane li a, .document ul.breadCrumb li a
{
	color: rgb(69,100,135);	
	text-decoration: none;
	padding: 0px 3px 0px 3px;
}


ul.filAriane li a:hover, ul.breadCrumb li a:hover,
.document ul.filAriane li a:hover, .document ul.breadCrumb li a:hover
{
	color: rgb(0,41,75);
	text-decoration: underline;
}


/******************************************************/
/*     	  sélection auto dans menu déroulant      	*/
/******************************************************/

.r200 .deroulant .r200 a, .r300 .deroulant .r300 a,
.r101 .deroulant .r101 a, .r102 .deroulant .r102 a, .r103 .deroulant .r103 a, .r104 .deroulant .r104 a, .r105 .deroulant .r105 a, .r106 .deroulant .r106 a, .r107 .deroulant .r107 a, .r108 .deroulant .r108 a, .r109 .deroulant .r109 a,
.r1011 .deroulant .r1011 a, .r1012 .deroulant .r1012 a, .r1013 .deroulant .r1013 a, .r1014 .deroulant .r1014 a, .r1015 .deroulant .r1015 a, .r1016 .deroulant .r1016 a, .r1017 .deroulant .r1017 a, .r1018 .deroulant .r1018 a, .r1019 .deroulant .r1019 a,
.r201 .deroulant .r201 a, .r202 .deroulant .r202 a, .r203 .deroulant .r203 a, .r204 .deroulant .r204 a, .r205 .deroulant .r205 a, .r206 .deroulant .r206 a, .r207 .deroulant .r207 a, .r208 .deroulant .r208 a, .r209 .deroulant .r209 a,
.r2031 .deroulant .r2031 a, .r2032 .deroulant .r2032 a, .r2033 .deroulant .r2033 a, .r2034 .deroulant .r2034 a, .r2035 .deroulant .r2035 a, .r2036 .deroulant .r2036 a, .r2037 .deroulant .r2037 a, .r2038 .deroulant .r2038 a, .r2039 .deroulant .r2039 a,
.r2041 .deroulant .r2041 a, .r2042 .deroulant .r2042 a, .r2043 .deroulant .r2043 a, .r2044 .deroulant .r2044 a, .r2045 .deroulant .r2045 a, .r2046 .deroulant .r2046 a, .r2047 .deroulant .r2047 a, .r2048 .deroulant .r2048 a, .r2049 .deroulant .r2049 a,
.r2051 .deroulant .r2051 a,.r2052 .deroulant .r2052 a,.r2053 .deroulant .r2053 a,.r2054 .deroulant .r2054 a,.r2055 .deroulant .r2055 a,.r2056 .deroulant .r2056 a,
.r2061 .deroulant .r2061 a, .r2062 .deroulant .r2062 a, .r2063 .deroulant .r2063 a, .r2064 .deroulant .r2064 a, .r2065 .deroulant .r2065 a, .r2066 .deroulant .r2066 a, .r2067 .deroulant .r2067 a, .r2068 .deroulant .r2068 a, .r2069 .deroulant .r2069 a,
.r2080 .deroulant .r2080 a, .r2081 .deroulant .r2081 a, .r2082 .deroulant .r2082 a, .r2083 .deroulant .r2083 a, .r2084 .deroulant .r2084 a, .r2085 .deroulant .r2085 a, .r2086 .deroulant .r2086 a, .r2087 .deroulant .r2087 a, .r2088 .deroulant .r2088 a, .r2089 .deroulant .r2089 a,
.r301 .deroulant .r301 a, .r302 .deroulant .r302 a, .r303 .deroulant .r303 a, .r304 .deroulant .r304 a, .r305 .deroulant .r305 a, .r306 .deroulant .r306 a, .r307 .deroulant .r307 a, .r308 .deroulant .r308 a, .r309 .deroulant .r309 a,
.r3011 .deroulant .r3011 a, .r3012 .deroulant .r3012 a, .r3013 .deroulant .r3013 a, .r3014 .deroulant .r3014 a, .r3015 .deroulant .r3015 a, .r3016 .deroulant .r3016 a, .r3017 .deroulant .r3017 a, .r3018 .deroulant .r3018 a, .r3019 .deroulant .r3019 a,
.r3021 .deroulant .r3021 a, .r3022 .deroulant .r3022 a, .r3023 .deroulant .r3023 a, .r3024 .deroulant .r3024 a, .r3025 .deroulant .r3025 a, .r3026 .deroulant .r3026 a, .r3027 .deroulant .r3027 a, .r3028 .deroulant .r3028 a, .r3029 .deroulant .r3029 a,
.r401 .deroulant .r401 a, .r402 .deroulant .r402 a, .r403 .deroulant .r403 a, .r404 .deroulant .r404 a, .r405 .deroulant .r405 a, .r406 .deroulant .r406 a, .r407 .deroulant .r407 a, .r408 .deroulant .r408 a, .r409 .deroulant .r409 a,
.r501 .deroulant .r501 a, .r502 .deroulant .r502 a, .r503 .deroulant .r503 a, .r504 .deroulant .r504 a, .r505 .deroulant .r505 a, .r506 .deroulant .r506 a, .r507 .deroulant .r507 a, .r508 .deroulant .r508 a, .r509 .deroulant .r509 a,
.r901 .deroulant .r901 a, .r902 .deroulant .r902 a, .r903 .deroulant .r903 a, .r904 .deroulant .r904 a, .r905 .deroulant .r905 a, .r906 .deroulant .r906 a, .r907 .deroulant .r907 a, .r908 .deroulant .r908 a, .r909 .deroulant .r909 a, .r910 .deroulant .r910 a,
.r9091 .deroulant .r9091 a,.r9092 .deroulant .r9092 a,.r9093 .deroulant .r9093 a,.r9094 .deroulant .r9094 a,.r9095 .deroulant .r9095 a,.r9096 .deroulant .r9096 a, .r9097 .deroulant .r9097 a,
.r4011 .deroulant .r4011 a, .r4012 .deroulant .r4012 a, .r4013 .deroulant .r4013 a, .r4014 .deroulant .r4014 a, .r4015 .deroulant .r4015 a, .r4016 .deroulant .r4016 a, .r4017 .deroulant .r4017 a, .r4018 .deroulant .r4018 a, .r4019 .deroulant .r4019 a, .r4020 .deroulant .r4020 a, .r4021 .deroulant .r4021 a

{
	color: rgb(0,41,75) !important;
	background-color: rgba(180, 180, 180, 0.4) !important;
}



/******************************************************/
/*     	  sélection auto dans le menu  gauche       	*/
/******************************************************/

.r200 .localNav .r200 a, .r300 .localNav .r300 a,
.r101 .localNav .r101 a, .r102 .localNav .r102 a, .r103 .localNav .r103 a, .r104 .localNav .r104 a, .r105 .localNav .r105 a, .r106 .localNav .r106 a, .r107 .localNav .r107 a, .r108 .localNav .r108 a, .r109 .localNav .r109 a,
.r1011 .localNav .r1011 a, .r1012 .localNav .r1012 a, .r1013 .localNav .r1013 a, .r1014 .localNav .r1014 a, .r1015 .localNav .r1015 a, .r1016 .localNav .r1016 a, .r1017 .localNav .r1017 a, .r1018 .localNav .r1018 a, .r1019 .localNav .r1019 a,
.r201 .localNav .r201 a, .r202 .localNav .r202 a, .r203 .localNav .r203 a, .r204 .localNav .r204 a, .r205 .localNav .r205 a, .r206 .localNav .r206 a, .r207 .localNav .r207 a, .r208 .localNav .r208 a, .r209 .localNav .r209 a,
.r2031 .localNav .r2031 a, .r2032 .localNav .r2032 a, .r2033 .localNav .r2033 a, .r2034 .localNav .r2034 a, .r2035 .localNav .r2035 a, .r2036 .localNav .r2036 a, .r2037 .localNav .r2037 a, .r2038 .localNav .r2038 a, .r2039 .localNav .r2039 a,
.r2041 .localNav .r2041 a, .r2042 .localNav .r2042 a, .r2043 .localNav .r2043 a, .r2044 .localNav .r2044 a, .r2045 .localNav .r2045 a, .r2046 .localNav .r2046 a, .r2047 .localNav .r2047 a, .r2048 .localNav .r2048 a, .r2049 .localNav .r2049 a,
.r2051 .localNav .r2051 a,.r2052 .localNav .r2052 a,.r2053 .localNav .r2053 a,.r2054 .localNav .r2054 a,.r2055 .localNav .r2055 a,.r2056 .localNav .r2056 a,
.r2061 .localNav .r2061 a, .r2062 .localNav .r2062 a, .r2063 .localNav .r2063 a, .r2064 .localNav .r2064 a, .r2065 .localNav .r2065 a, .r2066 .localNav .r2066 a, .r2067 .localNav .r2067 a, .r2068 .localNav .r2068 a, .r2069 .localNav .r2069 a,
.r2080 .localNav .r2080 a, .r2081 .localNav .r2081 a, .r2082 .localNav .r2082 a, .r2083 .localNav .r2083 a, .r2084 .localNav .r2084 a, .r2085 .localNav .r2085 a, .r2086 .localNav .r2086 a, .r2087 .localNav .r2087 a, .r2088 .localNav .r2088 a, .r2089 .localNav .r2089 a,
.r301 .localNav .r301 a, .r302 .localNav .r302 a, .r303 .localNav .r303 a, .r304 .localNav .r304 a, .r305 .localNav .r305 a, .r306 .localNav .r306 a, .r307 .localNav .r307 a, .r308 .localNav .r308 a, .r309 .localNav .r309 a,
.r3011 .localNav .r3011 a, .r3012 .localNav .r3012 a, .r3013 .localNav .r3013 a, .r3014 .localNav .r3014 a, .r3015 .localNav .r3015 a, .r3016 .localNav .r3016 a, .r3017 .localNav .r3017 a, .r3018 .localNav .r3018 a, .r3019 .localNav .r3019 a,
.r3021 .localNav .r3021 a, .r3022 .localNav .r3022 a, .r3023 .localNav .r3023 a, .r3024 .localNav .r3024 a, .r3025 .localNav .r3025 a, .r3026 .localNav .r3026 a, .r3027 .localNav .r3027 a, .r3028 .localNav .r3028 a, .r3029 .localNav .r3029 a,
.r401 .localNav .r401 a, .r402 .localNav .r402 a, .r403 .localNav .r403 a, .r404 .localNav .r404 a, .r405 .localNav .r405 a, .r406 .localNav .r406 a, .r407 .localNav .r407 a, .r408 .localNav .r408 a, .r409 .localNav .r409 a,
.r501 .localNav .r501 a, .r502 .localNav .r502 a, .r503 .localNav .r503 a, .r504 .localNav .r504 a, .r505 .localNav .r505 a, .r506 .localNav .r506 a, .r507 .localNav .r507 a, .r508 .localNav .r508 a, .r509 .localNav .r509 a,
.r901 .localNav .r901 a, .r902 .localNav .r902 a, .r903 .localNav .r903 a, .r904 .localNav .r904 a, .r905 .localNav .r905 a, .r906 .localNav .r906 a, .r907 .localNav .r907 a, .r908 .localNav .r908 a, .r909 .localNav .r909 a, .r910 .localNav .r910 a,
.r9091 .localNav .r9091 a,.r9092 .localNav .r9092 a,.r9093 .localNav .r9093 a,.r9094 .localNav .r9094 a,.r9095 .localNav .r9095 a, .r9096 .localNav .r9096 a, .r9097 .localNav .r9097 a,
.r4011 .localNav .r4011 a, .r4012 .localNav .r4012 a, .r4013 .localNav .r4013 a, .r4014 .localNav .r4014 a, .r4015 .localNav .r4015 a, .r4016 .localNav .r4016 a, .r4017 .localNav .r4017 a, .r4018 .localNav .r4018 a, .r4019 .localNav .r4019 a, .r4020 .localNav .r4020 a, .r4021 .localNav .r4021 a
{
	color: #00294b !important;
	background-color: rgba(255,255,255,0.5) !important;
}



/******************************************************/
/*     	  sélection auto dans le plan de site      	*/
/******************************************************/


.r200 .plan .r200 a, .r300 .plan .r300 a,
.r101 .plan .r101 a, .r102 .plan .r102 a, .r103 .plan .r103 a, .r104 .plan .r104 a, .r105 .plan .r105 a, .r106 .plan .r106 a, .r107 .plan .r107 a, .r108 .plan .r108 a, .r109 .plan .r109 a,
.r1011 .plan .r1011 a, .r1012 .plan .r1012 a, .r1013 .plan .r1013 a, .r1014 .plan .r1014 a, .r1015 .plan .r1015 a, .r1016 .plan .r1016 a, .r1017 .plan .r1017 a, .r1018 .plan .r1018 a, .r1019 .plan .r1019 a,
.r201 .plan .r201 a, .r202 .plan .r202 a, .r203 .plan .r203 a, .r204 .plan .r204 a, .r205 .plan .r205 a, .r206 .plan .r206 a, .r207 .plan .r207 a, .r208 .plan .r208 a, .r209 .plan .r209 a,
.r2031 .plan .r2031 a, .r2032 .plan .r2032 a, .r2033 .plan .r2033 a, .r2034 .plan .r2034 a, .r2035 .plan .r2035 a, .r2036 .plan .r2036 a, .r2037 .plan .r2037 a, .r2038 .plan .r2038 a, .r2039 .plan .r2039 a,
.r2041 .plan .r2041 a, .r2042 .plan .r2042 a, .r2043 .plan .r2043 a, .r2044 .plan .r2044 a, .r2045 .plan .r2045 a, .r2046 .plan .r2046 a, .r2047 .plan .r2047 a, .r2048 .plan .r2048 a, .r2049 .plan .r2049 a,
.r2051 .plan .r2051 a,.r2052 .plan .r2052 a,.r2053 .plan .r2053 a,.r2054 .plan .r2054 a,.r2055 .plan .r2055 a,.r2056 .plan .r2056 a,
.r2061 .plan .r2061 a, .r2062 .plan .r2062 a, .r2063 .plan .r2063 a, .r2064 .plan .r2064 a, .r2065 .plan .r2065 a, .r2066 .plan .r2066 a, .r2067 .plan .r2067 a, .r2068 .plan .r2068 a, .r2069 .plan .r2069 a,
.r2080 .plan .r2080 a, .r2081 .plan .r2081 a, .r2082 .plan .r2082 a, .r2083 .plan .r2083 a, .r2084 .plan .r2084 a, .r2085 .plan .r2085 a, .r2086 .plan .r2086 a, .r2087 .plan .r2087 a, .r2088 .plan .r2088 a, .r2089 .plan .r2089 a,
.r301 .plan .r301 a, .r302 .plan .r302 a, .r303 .plan .r303 a, .r304 .plan .r304 a, .r305 .plan .r305 a, .r306 .plan .r306 a, .r307 .plan .r307 a, .r308 .plan .r308 a, .r309 .plan .r309 a,
.r3011 .plan .r3011 a, .r3012 .plan .r3012 a, .r3013 .plan .r3013 a, .r3014 .plan .r3014 a, .r3015 .plan .r3015 a, .r3016 .plan .r3016 a, .r3017 .plan .r3017 a, .r3018 .plan .r3018 a, .r3019 .plan .r3019 a,
.r3021 .plan .r3021 a, .r3022 .plan .r3022 a, .r3023 .plan .r3023 a, .r3024 .plan .r3024 a, .r3025 .plan .r3025 a, .r3026 .plan .r3026 a, .r3027 .plan .r3027 a, .r3028 .plan .r3028 a, .r3029 .plan .r3029 a,
.r401 .plan .r401 a, .r402 .plan .r402 a, .r403 .plan .r403 a, .r404 .plan .r404 a, .r405 .plan .r405 a, .r406 .plan .r406 a, .r407 .plan .r407 a, .r408 .plan .r408 a, .r409 .plan .r409 a,
.r501 .plan .r501 a, .r502 .plan .r502 a, .r503 .plan .r503 a, .r504 .plan .r504 a, .r505 .plan .r505 a, .r506 .plan .r506 a, .r507 .plan .r507 a, .r508 .plan .r508 a, .r509 .plan .r509 a,
.r901 .plan .r901 a, .r902 .plan .r902 a, .r903 .plan .r903 a, .r904 .plan .r904 a, .r905 .plan .r905 a, .r906 .plan .r906 a, .r907 .plan .r907 a, .r908 .plan .r908 a, .r909 .plan .r909 a, .r910 .plan .r910 a,
.r9091 .plan .r9091 a,.r9092 .plan .r9092 a,.r9093 .plan .r9093 a,.r9094 .plan .r9094 a,.r9095 .plan .r9095 a, .r9096 .plan .r9096 a, .r9097 .plan .r9097 a,
.r4011 .plan .r4011 a, .r4012 .plan .r4012 a, .r4013 .plan .r4013 a, .r4014 .plan .r4014 a, .r4015 .plan .r4015 a, .r4016 .plan .r4016 a, .r4017 .plan .r4017 a, .r4018 .plan .r4018 a, .r4019 .plan .r4019 a, .r4020 .plan .r4020 a, .r4021 .plan .r4021 a

{
	color: white !important;
	background: transparent url(../images/planPuceAlt.png)  0px 0px no-repeat !important;
}
