/*        < blank >       */
/*     Nicolas Taffin     */
/*  http://polylogue.com  */
/*  licence CC: BY-NC-SA   */

@import url("main.css");



.printOnly
{
	display: block;
}
.screenOnly, .handHeldOnly 
{
	display: none;
}

body.pageweb
{
	background-color: white;
	background-image: none;
}
body.pageweb .bodyWrapper
{
	background-color: white;
	background-image: none;
}


body.pageweb #pageWrapper
{
	background-color: white;
	background-image: none;
	width: 100%;
	margin: 0px auto 0px auto;
}

body.pageweb #page
{
	background-color: white;
	background-image: none;

	width: 100%;
	height: 100%;
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
body.pageweb #main
{
	float: none;
	background-color: white;
	background-image: none;
}


body.pageweb #mainContent
{
	float: left;
	background-color: white;
	background-image: none;
}

body.pageweb .document
{
    width: 100%;
}

body.pageweb div.filAriane
{
	width: 100%;

}
body.pageweb ul.filAriane
{
	float: right;

}

body.pageweb #footer
{
	background-color: white;
	background-image: none;
	
	 color: #00294b;
}
body.pageweb #footerContent
{
	background-color: white;
	background-image: none;
}
body.pageweb h2.signature
{
	border-top: 2px #A0B4C6 solid;
	padding-top: 20px;
	width: 100%;
	border-bottom: none;
}
body.pageweb ul.autresLiens
{
	display: none;
}

body.pageweb .toolbar, body.pageweb .navigation, body.pageweb .sideBar,
body.pageweb .bottomLinks, body.pageweb .plan
{
	display: none;
}
