html,body {
  font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
  font-size: 8pt;
  background: url(/pic/bg.gif) repeat-x;
  background-color: #F5F4EA;
  color: #000000;
/*
  text-align:center;
*/
  margin: 0px;
  padding:0px;
}

h1 {
  font-size: 12pt;
  text-align: center;
}

h2 {
  font-size: 10pt;
  margin-bottom: 6px;
}

p {
  font-size: 8pt;
}

a {
  color: #0A50A1;
  text-decoration: none;
}
img {
  border:0px;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

#newslisttd li {
	margin-left: 6pt;
}

ul {
  margin-left: 5pt;
  margin-top: 0px;
  margin-bottom: 0px;
}



table {
  font-size: 8pt;
}

label {
	font-weight:normal;
	cursor:pointer;
}

td.topheader {
	PADDING-RIGHT: 27px; 
	FONT-SIZE: 11px;
	COLOR: #666666
}
td.topheader a {
	color: #000000;
	font-family: Tahoma, sans-serif;
}

A.toph {
	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none
}
A.toph:hover {
	TEXT-DECORATION: underline
}

/*Applyed to all A descedents of the table with id tbl_menu*/
table#tbl_menu {
  background-color:transparent;
  border:0px;
}

table#tbl_menu a {
  FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: none; FONT-FAMILY: tahoma;
}
table#tbl_menu a:hover {
  TEXT-DECORATION: underline;
}

.space2 {
	padding-top: 8px
}

table#user_box {
  font-size: 8pt;
  border: #000000 1px solid;
  margin-top:8px;
}
/*Descendent selector of table user_box a tag*/
table#user_box a { 
  color:#000000;
  text-decoration: underline;
}
.invisible {
  visibility:hidden;
}
.li {
	font-weight: bold;
	color: #333333;
	font-size: 11px;
	font-family: Verdana;
}

table {
  border-collapse: collapse;
  border: none;
  background-color: #ECE9D8;
}

div#content table {
background-color: transparent;
}

table.main, table.mainouter, table.menu {
  background-color: transparent;
}
.transparent {
  background-color:transparent;
}

.clear {
	clear:both;
}

td {
	border: solid #a79f72 1px;
}

td.embedded {
   border: none;
   padding: 0px;
   text-align: left;
}

td.noBg {
   border: none;
}

#no_td_border td {
  border: none;
  padding: 0px;
  margin:0px;
}

.no_td_border td {
  border: none;
}

td.colhead {
  font-weight: bold;
  color: #ffffff;
  background-color: #0055A4;
}

td.colheadGalb {
  font-weight: bold;
  color: #F7F7EF;
  background-color: #D3CCA5;
}

td.rowhead {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

td.bottom {
  border: none;
}

table.bottom {
  background: transparent;
}

td.bottom {
  border: none;
}

.hideit, .lang_ro, .lang_ru, .lang_hide {
    DISPLAY: none;VISIBILITY: hidden;
}
.showit {
	DISPLAY: table;VISIBILITY: visible;
}
.showit_inline {
	DISPLAY: inline;VISIBILITY: visible;
}
.showit_tr {
	DISPLAY: table-row;VISIBILITY: visible;
}
.plutitorul {
  position:absolute;
  left:1px;
  top:1px;
  visibility:hidden;
  background-color:#F6FBFD;
}
table#login_form {
  background-color:#F6FBFD;
}
table#login_form td {
  border: #3E6692 1px solid;
}
table#help_box {
  background-color:#F6FBFD;
}
table#help_box td {
  border: #3E6692 1px solid;
}
.btn {
  width: 75px;
  height: 23px;
}
input, select, textarea {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 9pt;
	vertical-align: middle;
}

.button
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.girly_button {
  BORDER-RIGHT: #838383 1px solid;
  BORDER-TOP: #838383 1px solid;
  BORDER-LEFT: #838383 1px solid;
  BORDER-BOTTOM: #838383 1px solid;
  font-family: tahoma;
  font-size: 8pt;
  font-weight: bold;
  color: #000000;
  background-color: #DDE0E1;
}

textarea {
	overflow: auto;
}
input.disabled  {background-color: #D4D0C8}

.fixedsidebar { left:8px; visibility:hidden; background-color:#F6FBFD; }

.but_blue {
	border: #3E6692 1px solid;
	font-size: 11px;
	cursor: pointer;
	color: #000000;
	font-family: Verdana;
	background-color: #ffffff;
}
#users_online,#users_online a {
  color: #000000;
  font-weight: bold;
}
a.a_cur_selected {
	color: black;
	text-decoration: none;
}
.a_inactive {
	cursor: pointer;
}
.pointer {
	cursor: pointer;
}
.zburator_invizibil {
	position:absolute;
	display:none;
	visibility:hidden;
}
#navbar_login_menu {
	z-index:1601;
}

.PopularTag { margin-bottom: 10px; text-decoration: none; padding-bottom: 2px; }

#newPostStartLine {
	color: #90EE90;
	background-color: #90EE90;
	height: 5px;
	border: 0;
}

.lottext {
	FONT-SIZE: 12px; 
	LINE-HEIGHT: 17px;
	TEXT-DECORATION: none;
}

.rulestxt {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif;
	LINE-HEIGHT: 17px;
	TEXT-DECORATION: none;
}

/** Cul culoare la selectare **/
::-moz-selection{
	background:#3E9269;
	color:white;
}

::selection {
	background:#3E9269;
	color:white;
}
/** /> **/

.lnk {
  font-size: 11px;
  color: #0A50A1;
	cursor: pointer;
	white-space: nowrap;
}

.bigger * {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
}


/* fireworks styles */

#fireworks-template {
 display:none;
}

#fireContainer {
 position:absolute;
 left:0px;
 top:0px;
 z-index:706;
}

.firework {
 /* containing box which flies out first */
 position:absolute;
 left:0px;
 top:0px;
 font-size:1px;
 width:4px;
 height:4px;
 border:1px solid #333;
 background:#666;
}

.fireworkParticle {
 /* elements that explode from the container */
 position:absolute;
 font-size:1px;
 width:10px;
 height:10px;
 overflow:hidden;
}

.fireworkParticle img {
 display:block;
 width:100px;
}

#sound {
 position:absolute;
 left:-706px;
 top:-706px;
}

#debug {
 position:absolute;
 left:8px;
 top:8px;
 width:220px;
 height:165px;
 overflow:hidden;
 color:#666;
 display:none;
}

.imgforumcontainer,.imgtorrentcontainer,.imgprofilecontainer {
	overflow: auto;
	overflow-y: visible;
}
.imgforumcontainer {
	width: 690px;
}
.imgtorrentcontainer {
	width: 681px;
}
.imgprofilecontainer {
	width: 738px;
}

/**
 * jQuery lightBox plugin http://www.huddletogether.com/projects/lightbox2/
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}
/* end lightBox css */

.jucarie{position:absolute;}

#overlay {
	background-image:url(/pic/transparency.gif);
	display:none;
	height:100%;
	left:0pt;
	position:absolute;
	top:0pt;
	width:100%;
	z-index:1600;
}
#overlay[id] {
	position:fixed;
}

.bold {
	font-weight:bold;
}

/* spoiler */

.sp-wrap, .c-wrap {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#E9E9E6 none repeat scroll 0 0;
	padding:0;
	
	border-color:#A79F72;
	border-style:solid;
	border-width:1px 1px 1px 2px;
	clear:both;
	
	width:98%;
	
	margin:8px;
}

td.comment {
	line-height:16px;
}

.sp-body, .c-body {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F3F3ED none repeat scroll 0 0;
	border-width:1px 0 0;

	font-weight:normal;
	
	padding:2px 6px;
	
	border-color:#C3CBD1;
	border-style:solid;
	clear:both;
}

.sp-body {
	display:none;
}

.folded {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/pic/icon_plus.gif) no-repeat scroll left center;
	display:block;
	padding-left:14px;
}
.unfolded {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/pic/icon_minus.gif) no-repeat scroll left center;
	display:block;
	padding-left:14px;
}
.clickable {
	cursor:pointer;
}
.sp-head, .c-head {
	border-width:0;
	color:#2A2A2A;
	font-size:11px;
	font-weight:bold;
	line-height:15px;
	text-align:left !important;
}
.sp-head {
	margin-left:6px;
	padding:1px 14px 3px;
	cursor:pointer;
}
.c-head {
	padding:1px 6px 3px;
}

.c-body {
	color:#006600;
}

.post-align {
		display:block;
}

.yt_container {
	float: left;
	height:385px;
	width:640px;
}

.yt_hq_ico {
	float:left;
	width:30px;
	margin-top:360px;
	margin-left:5px;
}

#td_detail_imdb {
	font-size: 13px;
}

tr.semi_transparent td {
	filter: alpha(opacity=45, style=0);
	/* For web browsers who care */
	opacity: 0.67;
}
.like_loader {
	display:inline-block;
	height:7px;
	width:24px;
	background:url("/pic/forum/loader.gif") no-repeat 0 0 transparent;
}
#show_likes_window {
	position:absolute;
    border:1px solid #A79F72;
	background:#DCDCD2;
	padding:8px;
    -moz-border-radius:8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    width:180px;
}
/*
    -moz-border-radius:8px 8px 8px 8px;
    background:none repeat scroll 0 0 rgba(82, 82, 82, 0.7);
    padding:8px;
*/

.floatingAvatar {
    z-index:100;
    position:absolute;
    display:none;
}

.post_like {
    font-weight: bold;
}

.desaturate {
    filter: url(/pic/desaturate.svg#desaturate);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)";
}

.forumPostName {
    margin-top:10px;
    margin-bottom:10px;
}

.tdLeft td {
    text-align:left;
}

#boxNewMessage {
    margin-bottom:10px;
}

#boxNewMessage td {
    padding: 10px; 
    background: red
}

#boxNewMessage a {
    color: white;
    font-weight: bold;
}

.pageContainer {
    width: 880px;
    margin: auto;
    height: auto;
}

.center {
    text-align: center;
}
.mCenter {
    margin:auto;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.fullWidth {
    width:880px;
}
#table_upload_tbody{
    text-align: left;
}

#table_upload {
    margin:auto;
}
#menu_1, #menu_2 {
    margin: auto;
}
.nowrap{
    white-space: nowrap;
}
#users_online span:hover {text-decoration:underline;}
.sysop{color:#990099;}
.admin{color: #FF0000;}
.moder{color: #009933;}
.sanitar{color: #a52a2a;}
.vip{color: #2587A7;}
.releaser{color: #693DED;}
.uploader{color: #3366FF;}
.p_user{color: #FF9966;}

#topmenu {
    margin:0 auto;
    width:340px;
    white-space:nowrap;
    margin-bottom:10px;
}