@charset "utf-8";

@import "top.css";
@import "sitemap.css";
@import "html.css";
@import "common.css";
@import "hack.css";








/*=============================== Frames ===============================*/

#container {
width: 934px;
}




#rogo {
width: 215px;
height: 37px;
background-image: url(../img_index/bunshun_rogo.gif);
background-repeat: no-repeat;
background-position: left top;
}

#rogo a {
display:block;
width: 215px;
height: 37px;
}

#rogo span { display: none; }




#contents-wrapper01 {
margin: 0;
padding: 0 0 10px 0;
float: left;
width: 740px;
}





#contents-wrapper02 {
margin: 0;
padding: 0;
float: right;
background-color:#f6f6f6;
width: 180px;
}


#main {
float: right;
padding: 0 14px 0 0;
width: 532px;
}


#sidebar {
float: left;
padding: 0 10px 0 14px;
width: 170px;
}


/*#footer {
position: relative;
background: url(../images_new/footer.jpg) no-repeat top left;
width: 740px;
height: 80px;
clear: both;
}*/

#footer strong { display: none; }

#ft-linkEx00 { left: 300px; }
#ft-linkEx00 a { width: 98px; }


#ft-linkEx01 { left: 398px; }
#ft-linkEx01 a { width: 59px; }


#ft-linkEx02 { left: 457px; }
#ft-linkEx02 a { width: 128px; }


#ft-linkEx03 { left: 585px; }
#ft-linkEx03 a { width: 78px; }


#ft-linkEx04 { left: 663px; }
#ft-linkEx04 a { width: 61px; }

#ft-linkEx05 { position: absolute; left: 653px; top: 7px; }
#ft-linkEx05 a { display: block; width: 72px; height: 10px; text-indent: -9999px; }


#ft-linkEx00, #ft-linkEx01, #ft-linkEx02, #ft-linkEx03, #ft-linkEx04 {
position: absolute;
top: 26px;
}

#ft-linkEx00 a, #ft-linkEx01 a, #ft-linkEx02 a, #ft-linkEx03 a, #ft-linkEx04 a {
display: block;
height: 13px;
text-indent: -9999px;
}


/*================================ navi ================================*/
#navi {
position: relative;
z-index: 3;
}

#main-menu {
padding: 0 0 0 13px; /* 右の余白分 */
width: 727px;
height: 37px;
background: url(../images_new/naviBg.jpg) repeat-x top left;
}

#main-menu li {
float: left;
list-style: none;
}

#main-menu li span { display: none; }

.navi01 { width: 97px; }
.navi02 { width: 107px; }
.navi03 { width: 77px; }
.navi04 { width: 82px; }
.navi05 { width: 82px; }
.navi06 { width: 82px; }
.navi07 { width: 94px; }


.navi01 a { height: 37px; background: url(../images_new/navi_all.jpg) -14px 0px no-repeat; display: block; }
.navi02 a { height: 37px; background: url(../images_new/navi_all.jpg) -111px 0px no-repeat; display: block; }
.navi03 a { height: 37px; background: url(../images_new/navi_all.jpg) -218px 0px no-repeat; display: block; }
.navi04 a { height: 37px; background: url(../images_new/navi_all.jpg) -295px 0px no-repeat; display: block; }
.navi05 a { height: 37px; background: url(../images_new/navi_all.jpg) -377px 0px no-repeat; display: block; }
.navi06 a { height: 37px; background: url(../images_new/navi_all.jpg) -459px 0px no-repeat; display: block; }
.navi07 a { height: 37px; background: url(../images_new/navi_all.jpg) -541px 0px no-repeat; display: block; }

.navi01 a:hover { background-position: -14px  -37px; }
.navi02 a:hover { background-position: -111px -37px; }
.navi03 a:hover { background-position: -218px -37px; }
.navi04 a:hover { background-position: -295px -37px; }
.navi05 a:hover { background-position: -377px -37px; }
.navi06 a:hover { background-position: -459px -37px; }
.navi07 a:hover { background-position: -541px -37px; }



#menu1 {
left: 14px;
padding: 10px 10px 0 10px;
width: 280px;
}

#menu2 {
left: 111px;
padding: 10px;
width: 140px;
}

#menu3 {
left: 218px;
padding: 10px;
width: 140px;
}



.dropDown {
  position: absolute;
  background-color: #FFFFFF;  
  top: 37px;
  border: 1px solid #CCCCCC;
  
  visibility: hidden;
  z-index: 4;
  
  /*filter: alpha(Opacity=95);
  opacity: 0.95; */ 
}

.dropDown li { list-style: none; }

.dropDown a {
display: block;
width: 140px;
height: 25px;
}

.dropDown a:link    { text-decoration: none; color: #003274; }
.dropDown a:visited { text-decoration: none; color: #003274; }
.dropDown a:hover   { text-decoration: underline; color: #003274; }






/*================ font size changer button ================*/

#size-btn {
position: absolute;
top: 10px;
left: 400px;
width: 120px;
height: 19px;
z-index: 2;
}

#size-btn li {
float: left;
list-style: none;
}

#size-btn li span { display: none; }
#size-btn li a:focus { outline:none; }

.f-sizeA { width: 55px; margin: 0 5px 0 0; /* 余白分 5px */ }
.f-sizeB { width: 18px; margin: 0 3px 0 0; /* 余白分 3px */ }
.f-sizeC { width: 18px; margin: 0 3px 0 0; /* 余白分 3px */ }
.f-sizeD { width: 18px; }

.f-sizeA  { height: 19px; background: url(../images_new/sml_btn.gif) 0px 0px no-repeat; display: block; }
.f-sizeB a { height: 19px; background: url(../images_new/sml_btn.gif) -55px 0px no-repeat; display: block; }
.f-sizeC a { height: 19px; background: url(../images_new/sml_btn.gif) -73px 0px no-repeat; display: block; }
.f-sizeD a { height: 19px; background: url(../images_new/sml_btn.gif) -91px 0px no-repeat; display: block; }

.f-sizeB a a:hover { background-position: -55px -19px; }
.f-sizeC a a:hover { background-position: -73px -19px; }
.f-sizeD a a:hover { background-position: -91px -19px; }


/*================ sitemap link ================*/
#sitemap-btn {
	position: absolute;
	top: 13px;
	left: 550px;
	width: 70px;
	z-index: 2;
}

#mailmag-btn {
	position: absolute;
	top: 13px;
	left: 620px;
	width: 100px;
	z-index: 2;
}

#sitemap-btn p,#mailmag-btn p {
padding: 0 0 0 6px;
background: url(../images_new/arrow02.gif) no-repeat 0px 4px;
}

.safari #sitemap-btn p,.safari #mailmag-btn p {
background: url(../images_new/arrow02.gif) no-repeat 0px 3px;
}

#sitemap-btn a:link,#mailmag-btn a:link    { text-decoration: none; color: #003274; }
#sitemap-btn a:visited,#mailmag-btn a:visited { text-decoration: none; color: #003274; }
#sitemap-btn a:hover,#mailmag-btn a:hover   { text-decoration: underline; color: #003274; }

/*================ RSS link ================*/

#rss-btn {
position: absolute;
top: 12px;
left: 630px;
width: 120px;
z-index: 2;
}

#rss-btn p {
padding: 0 0 0 6px;
background: url(../images_new/arrow02.gif) no-repeat 0px 5px;
}

.safari #rss-btn p {
background: url(../images_new/arrow02.gif) no-repeat 0px 4px;
}

/* rss tricky */
#rss-extra {
position: absolute;
top: 11px;
left: 704px;
width:14px;
height: 14px;
}


#rss-btn a:link    { text-decoration: none; color: #003274; }
#rss-btn a:visited { text-decoration: none; color: #003274; }
#rss-btn a:hover   { text-decoration: underline; color: #003274; }

/*================ flash ================*/


#flash-box {
padding: 2px 0 6px 0;
width: 740px;
height: 220px
}
