@charset "utf-8";

#menu1,
#menu2,
#menu3,
#web-list,
#browse-list,
#news-list,
#ranking,
#update-list {
font-size: 75%;
}


#latest-magazine,
#latest-book {
font-size: 65%;
letter-spacing: 1px;
}


#movie-tv td,
#special-list td {
font-size: 70%;
letter-spacing: 1px;
}

#sitemap-btn,
#rss-btn,
#mailmag-btn {
font-size: 65%;
letter-spacing: 1px;
}


.pd01 {
padding: 10px 10px 0 10px;
}

.pd02 { padding: 10px 0; }
.pd03 { padding: 0 0 5px 0; }
.pd04 { padding: 6px 0 0 0; }
.pd05 { padding: 0 0 30px 0; }
.pd06 { padding: 0 0 10px 10px; }
.pd07 { padding: 10px 0 0 0; }
.pd08 { padding: 10px 0 10px 0; }



.arrow-list ul li {
list-style: none;
padding: 0 0 0 10px;
background: url(../images_new/arrow01.gif) no-repeat 0px 6px;
}

.abs-fontFix { /* for not effected by the fontChanger */
font-size: 1px;
}


.flow-left { float: left; }
.flow-right { float: right; }
.imgFix { display: block; }
.noShow { display: none; }
.cut { clear: both; }




