@charset "utf-8";



#contents-wrapper02:after,
#main:after,


#latest-magazine:after,
#latest-book:after,
#web-list:after,
#browse-list:after,
#news-list:after,

#update-list:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}



*html #main-menu{
width:740px;}

* html #contents-wrapper02,
* html #main,

* html #latest-magazine,
* html #latest-book,
* html #web-list,
* html #browse-list,
* html #news-list,

* html #update-list {
display:inline-block;
}













