@charset "utf-8";
body,input,textarea {
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐ明朝", sans-serif, serif;
}

body{ color:#686868;}

html>body {
height: auto;
min-height: 100%;
}

html, body{ background-color:#f6f6f6; background-image:url(../common/img/body_bg.gif); background-repeat:repeat-y; height: 100%;
margin:0; padding:0;}

h1, h2, h3, h4, h5, h6 {
margin: 0;
/*font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Geneva, Arial, Verdana, sans-serif;*/
}


.gecko h1, .gecko h2, .gecko h3, .gecko h4,.gecko  h5, .gecko h6 {
margin: 0;
/*font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";*/
}

p {
margin: 0;
/*font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Geneva, Arial, Verdana, sans-serif;*/
line-height: 130%;
}

.gecko p {
/*font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";*/
}

br {
margin: 0;
padding: 0;
}

a:focus { outline:none; }
a,a:link,a:visited{text-decoration:none;color:#686868;}
a:hover{ text-decoration:none; color:#2a64be;}
a:active{ text-decoration:none; color:#2a64be;}

fieldset,img,abbr,acronym { 
border:0;
}

address,caption,cite,code,dfn,em,th,var {
font-style:normal;
font-weight:normal;
}


dl {
margin: 0;
}

dt{
/*font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Geneva, Arial, Verdana, sans-serif;*/
line-height: 150%;
}

dd{
margin: 0;line-height:130%}

.gecko dt, .gecko dd {
/*font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";*/
}

ol, ul {
margin: 0;
padding: 0;
}


li {
/*font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Geneva, Arial, Verdana, sans-serif;*/
/*line-height: 130%;*/
}

.gecko li {
/*font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";*/
}



td {
/*font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Geneva, Arial, Verdana, sans-serif;*/
line-height: 130%;
}

td {
/*font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";*/
}


form {
margin: 0;
padding: 0;
}



#wrapper{ width:740px; text-align:left;}
.breadcrumb{ font-size:77%;}
.pageTop{margin:10px; float:right; font-size:77%}
.pageTop img{vertical-align:middle}

/***********************************************
general-class
***********************************************/
.hide{
display: none;
}

.inline{
display: inline;
}
.left{
float:left;
}

.right{
float:right;
}

.clear{
clear: both;
}

.clearLeft{
clear:left;
}

.clearRight{
clear:right;
}

.block{
display:block;
}

.tleft{
text-align:left;
}

.tright{
text-align:right;
}

.tcenter{
text-align:center;
}

/***********************************************
  Header
***********************************************/
#header {
	width:740px;
	height:37px;
	position: relative;
	top:0;
	left:0;
	font-size:80%;
	z-index:2;
}

.logo {
	position:absolute;
	top:5px;
	left:15px;
	width:197px;
	height:27px;
	background:url(../img/header_logo.gif) no-repeat left top;
}
.logo a {
	display:block;
	height:27px;
}
.toTop {
	position:absolute;
	top:7px;
	left:658px;
	width:60px;
	height:23px;
	background:url(../img/header_totop.gif) no-repeat left top;
}
.toTop a{
	display:block;
	height:23px;
	width:60px;
	}

/* Search */

.search{
	width:740px;
	height:35px;
	background:#f6f6f6;
	text-align:right;
}
.search .freeword{
	vertical-align:middle;
	margin-top:8px;
}
.search form input.txtarea{
	width:235px;
	margin-left:7px;
	border:1px solid #bbbaae;
	background:#fff url(http://img.yahoo-search.jp/img/logo_wm.gif) center center no-repeat;
	vertical-align:middle;
	padding:3px;
	margin-top:7px;
}
.search .searchbtn{
	margin-left:4px;
	vertical-align:middle;
	margin-top:7px;
}
.search .detail{
	display:inline;
	margin-left:13px;
}
.search .detail img{
	vertical-align:middle;
	margin-right:20px;
	margin-top:7px;
}

/* Basic code - don't modify */

#navigation {
	display: block;
	margin: 0;
	padding: 0;
}
#navigation li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
}
#navigation a {
	display: block;
}
#navigation a,#navigation a:link,#navigation a:visited{text-decoration:underline;color:#111111;}
#navigation a:hover{ text-decoration:none; color:#2a64be;}
#navigation a:active{ text-decoration:underline; color:##2a64be;}

#navigation ul {
	display: none;
	position: absolute;
	left: 0;
	margin: 0;
	padding: 0;
}
* html #navigation ul {
	line-height: 0;
} /* IE6 "fix" */
#navigation ul a {
	zoom: 1;
} /* IE6/7 fix */
#navigation ul li {
	float: none;
}
#navigation ul ul {
	top: 0;
}
/* Essentials - configure this */

#navigation ul {
	width: 152px;
}
#navigation ul ul {
	left: 152px;
	top:-1px;
}
/* Everything else is theming */
#navigation span {
/*	display:none;*/
}
#navigation li#navi_mag {
	width:97px;
	margin-left:13px;
}
#navigation li#navi_book {
	width:107px;
}
#navigation li#navi_shopping {
	width:81px;
}
#navigation li#navi_company, #navigation li#navi_gallery, #navigation li#navi_award {
	width:82px;
}
#navigation li#navi_search {
	width:77px;
}
#navigation {
	position:absolute;
	top:0;
	left:0;
	width:740px;
	height:37px;
	background-image:url(../common/img/header_navigation_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#navigation *:hover {
	background-color: none;
}
#navigation li a {
	color: #111111;
	font-size: 93%;
	line-height: 1;
	height:37px;
}
#navigation li li a {
	height:16px;
	padding: 6px;
}
#navigation li.hover a {
	background-color: #FFFFFF;
}
#navigation ul {
	top: 37px;
	border-top: 1px solid #ACC0D5;
}
#navigation ul ul {
padding-top:1px;
}
#navigation ul li a {
	margin-top:-1px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #ACC0D5;
}
* html #navigation ul{
padding-top:2px;
}
* html #navigation ul li a {
	margin-top:-2px;
}

#navigation ul li img{
	float:right;
	margin-top:-16px;
}
#navigation ul li a span{
	float:right;
	margin-top:-14px;
	text-decoration:none;
}

#navigation ul a.hover {
	color:#2a64be;
	background-color: #EDEDED;
}

#navigation ul a {
	border-right: 1px solid #ACC0D5;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #ACC0D5;
/*	opacity: 0.9;
	filter: alpha(opacity=95);*/
}
#navigation ul a {
	border-bottom: none;
} /* - I also needed this for IE6/7 */


/***********************************************
  Footer
***********************************************/
#footer{
	width:740px;
	height:80px;
	position:relative;
	top:0;
	left:0;
	background-image: url(../common/img/footer.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	clear: both;
}
#fattention{
	position:absolute;
	top:5px;
	left:8px;
	display:none
}
#fnavi00{
	position:absolute;
	top:5px;
	left:653px;
}
#fnavi00 a{display:block; width: 78px; height: 16px;}


#footer ul#fnavi{
	position:absolute;
	top:26px;
	left:300px;
	width: 425px;
	height:14px;
}
#footer li{ display:inline; height:14px; float:left;}

#footer ul#fnavi li a{ display:block; height:14px;}
#footer ul#fnavi li#fnavi01 a{ width:98px;}
#footer ul#fnavi li#fnavi02 a{ width:59px;}
#footer ul#fnavi li#fnavi03 a{ width:128px;}
#footer ul#fnavi li#fnavi04 a{ width:78px;}
#footer ul#fnavi li#fnavi05 a{ width:61px;}

#footer address{
	position:absolute;
	top:26px;
	left:8px;
	display:none;
}


