@charset "utf-8";





/*================ latest magazine ================*/

body{font-size:100%}
#latest-magazine {
position: relative;
margin: 0 0 4px 0;
padding: 35px 15px 7px 15px;
background: #F2F2F2 url(../images_new/cap_maga.jpg) no-repeat top left;
width: 502px;
z-index: 1;
}

#latest-magazine h3 { display: none; }

#latest-magazine ul{
width:502px;
}

#latest-magazine li {
float: left;
width:100px;
text-align: center;
list-style-type: none;
line-height: 120%;
}


#latest-magazine img { 
display:block; 
margin: 0 auto 3px auto; 
border: 1px solid #DCDCDA;
}


#latest-magazine-smlink {
position: absolute;

top: 7px;
left: 12px;
}

#latest-magazine-smlink  a {
display: block;
width: 150px;
height: 12px;
text-indent: -9999px;
}


/*================ latest book ================*/

#latest-book {
position: relative;
margin: 0 0 10px 0;
padding: 35px 15px 7px 15px;
background: #F2F2F2 url(../images_new/cap_book.jpg) no-repeat top left;
width: 502px;
z-index: 1;
}

#latest-book h3 { display: none; }

#latest-book ul{
width:502px;
}

#latest-book li {
float: left;
width:100px;
text-align: center;
list-style-type: none;
line-height: 120%;
}

#latest-book img { 
display:block; 
margin: 0 auto 3px auto; 
height: 86px; 
border: 1px solid #DCDCDA;
}

#latest-book-smlink, #latest-book-smlink2, #latest-book-smlink3, #latest-book-smlink4 {
position: absolute;

}

#latest-book-smlink a, #latest-book-smlink2 a, #latest-book-smlink3 a, #latest-book-smlink4 a {
display: block;
text-indent: -9999px;
}

#latest-book-smlink  { top: 7px; left: 12px; }
#latest-book-smlink2 { top: 7px; left: 328px; }
#latest-book-smlink3 { top: 7px; left: 405px; }
#latest-book-smlink4 { top: 7px; left: 469px; }

#latest-book-smlink a  { width: 60px; height: 12px; }
#latest-book-smlink2 a { width: 65px; height: 12px; }
#latest-book-smlink3 a { width: 50px; height: 12px; }
#latest-book-smlink4 a { width: 50px; height: 12px; }



/*================ web article ================*/

#web-list {
position: relative;
float: left;
margin: 0 0 9px 0;
padding: 24px 0 0 0;
background: url(../images_new/cap_web_off.jpg) no-repeat top left;
width: 259px;
border: 1px solid #CCCCCC;
}

#web-list h3 { display: none; }
#web-list dt { color: #003274; }
#web-list dd { margin-bottom:10px; background-repeat:no-repeat; background-position:left center;}

#web-list dd.comic{padding-left:40px; line-height:1.3}
#web-list dd.Lh1{ line-height:1.1}
#web-list dd.Lh2{ line-height:2.5}

#web-list dd span.title{ font-weight:bold; padding-right:5px}
#web-list dd span.title:after{content:":"}

#web-list dd#muku{background-image:url(../img_index/muku_thum.jpg); padding-top:3px; padding-bottom:4px;}
#web-list dd#diet{background-image:url(../img_index/diet_thum.jpg); padding-top:3px; padding-bottom:4px;}
#web-list dd#peko{background-image:url(../img_index/peko_thum.jpg); padding-top:3px; padding-bottom:4px;}
#web-list dd#ojisan{background-image:url(../img_index/ojisan_thum.jpg); padding-top:3px; padding-bottom:4px;}
#web-list dd#mya{background-image:url(../img_index/mya_thum.jpg)}
#web-list dd#shy{background-image:url(../img_index/shy_thum.jpg)}
#web-list dd#neko{ height:35px; background-image:url(../img_index/neko_thum.jpg)}
#web-list dd#tohoku{ height:35px; background-image:url(../img_index/tohoku_thum.jpg)}
#web-list dd#ryoko{background-image:url(../img_index/ryoko_thum.jpg); padding-top:3px; padding-bottom:3px;}

#web-smlink, #web-smlink2 {
position: absolute;
text-indent: -9999px;

}

#web-smlink a, #web-smlink2 a {
display: block;
text-indent: -9999px;
}

#web-smlink  { top: 6px; left: 11px; width: 88px; height: 11px; }
#web-smlink2 { top: 6px; left: 211px; }

#web-smlink a  { width: 88px; height: 11px; }
#web-smlink2 a { width: 38px; height: 11px; }


/*================ browse ================*/

#browse-list {
position: relative;
float: right;
margin: 0 0 9px 0;
padding: 24px 0 0 0;
background: url(../images_new/cap_browse_off.jpg) no-repeat top left;
width: 259px;
border: 1px solid #CCCCCC;
}

#browse-list h3 { display: none; }
#browse-list dt { color: #003274; }
#browse-list dd { margin-bottom:10px;  }

#browse-list dd.Lh1{ line-height:1.1}

#browse-list dd span.title{ font-weight:bold; padding-right:5px}
#browse-list dd span.title:after{content:":"}

#browse-smlink {
position: absolute;
width: 80px;
height: 11px;
top: 6px;
left: 11px;
text-indent: -9999px;
}

#browse-smlink a {
display: block;
width: 80px;
height: 11px;
text-indent: -9999px;
}



/*================ news ================*/


#news-list {
position: relative;
margin: 0 0 9px 0;
padding: 27px 0 0 0;
background: url(../images_new/cap_news.jpg) no-repeat top left;
width: 530px;
border: 1px solid #CCCCCC;
clear: both;
}

#news-list h3 { display: none; }
#news-list dt, #news-list dd { float:left; }
#news-list dt { width: 100px; }
#news-list dd { width: 410px; padding: 0 0 10px 0; }


#news-smlink {
position: absolute;

top: 7px;
left: 11px;
}

#news-smlink a {
display: block;
width: 79px;
height: 12px;
text-indent: -9999px;
}


/*================ movie ================*/

#movie-tv {
position: relative;
display: block;
margin: 0 0 5px 0;
padding: 35px 10px 10px 10px;
background: url(../images_new/cap_movie.jpg) no-repeat top left;
border: 1px solid #CCCCCC;
width: 148px;
}

#movie-tv h4 { display: none; }


#movie-tv table {
border-collapse: collapse;
width: 148px;
}

#movie-tv td {
padding: 0 0 0 3px;
border-bottom: 5px solid #FFFFFF;
border-spacing: 0;
vertical-align: middle;
}

#movie-tv img { 
display: block;
margin: 0 3px 0 0;
/*width: 59px; 
height: 86px; */
border: 1px solid #DCDCDA;
}



#movie-tv-smlink {
position: absolute;
top: 7px;
left: 28px;
}

#movie-tv-smlink a {
display: block;
width: 134px;
height: 10px;
text-indent: -9999px;
}



/*================ ranking ================*/

#ranking {
position: relative;
padding: 35px 2px 10px 2px;
background: url(../images_new/cap_rank.jpg) no-repeat top left;
border: 1px solid #CCCCCC;
width: 164px;
}

#ranking h4 { display: none; }

#ranking li {
padding: 0 7px;
list-style-position: inside;
}


#ranking hr {
height: 1px;
color: #E1E1E1; 
background-color: #E1E1E1; 
border: 0 ;
}

#cap-sub-book, #cap-sub-paperback, #cap-sub-newbook, #cap-sub-access, #cap-sub-browse, #cap-sub-ebook { 
position: relative;
display:block;
width: 164px;
height: 17px;
}

#cap-sub-book      { background: url(../images_new/cap_sub_book.jpg) no-repeat top left; }
#cap-sub-paperback { background: url(../images_new/cap_sub_paperback.jpg) no-repeat top left; }
#cap-sub-newbook   { background: url(../images_new/cap_sub_newbook.jpg) no-repeat top left; }
#cap-sub-access    { background: url(../images_new/cap_sub_access.jpg) no-repeat top left; }
#cap-sub-browse    { background: url(../images_new/cap_sub_browse.jpg) no-repeat top left; }
#cap-sub-ebook    { background: url(../images_new/cap_sub_ebook.jpg) no-repeat top left; }



.ranking-smlink, .ranking-smlink2 {
	position: absolute;
	top: 0px;
}


.ranking-smlink a, .ranking-smlink2 a {
display: block;
height: 10px;
text-indent: -9999px;
}

.ranking-smlink  { left: 8px; }
.ranking-smlink2 {
	left: 134px;
}

.ranking-smlink a  { width: 92px; /*background-color: #CC0000;*/ }
.ranking-smlink2 a { width: 27px; }


/*================ search ================*/

#search {
position: relative;
padding: 20px 0 0 0;
height: 38px;
background: url(../images_new/cap_search.jpg) no-repeat 0px 7px;
/*background: url(../images_new/txt_yahoo.gif) no-repeat 0 32px;*/
}

#search h5{
display: none;
}

#search_btn {
position: absolute;
top:23px;
left:140px;
width:43px;
height:20px;
background-color:#464646;
border: 1px solid #333333;
color:#ffffff;
line-height:1.2;
padding-bottom:2px;
}

.search-box,
#search-box {
position: absolute;
top:23px;
left:0px;
color:#666;
width:132px;
height:14px;
_height:20px;
padding:2px;
border:1px solid #BABAAE;
}

/*================ special ================*/

#special-list {
position: relative;
display: block;
margin: 0 0 7px 0;
padding: 16px 0 0 0;
background: url(../images_new/cap_special.jpg) no-repeat top left;
width:180px;
height:219px;
background-color:#FFFFFF;
}

#special-list li{ list-style:none; display:inline;border-bottom: 4px solid #F6F6F6;
}

#special-list li.bookthum { float:left; }
#special-list li.bookthum a {display:block; width:70px; height:70px;}
#special-list li.bookthum a img{border: 1px solid #DCDCDA;}

#special-list li.bookname{border-bottom: 4px solid #F6F6F6; float:right; }
#special-list li.bookname a{display:block; height:70px; width:110px; position:relative; top:0; left:0}
#special-list li.bookname a p{
	position:absolute;
	top:15px;
	left:9px;
	width:84px;
	line-height:1.1
}

#special-list h5 { display: none; }

#special-list table {
border-collapse: collapse;
}

#special-list td {
padding: 1px 5px 1px 1px;
background-color: #FFFFFF;
border-bottom: 4px solid #F6F6F6;
border-spacing: 0;
vertical-align: middle;
}



#special-smlink {
position: absolute;
top: 0px;
left: 0px;
}

#special-smlink a {
display: block;
width: 100px;
height: 10px;
text-indent: -9999px;
}


/*================ related site ================*/

#recruit-site {
padding: 3px 0 0 15px;
background: #FFFFFF;
}
#recruit-site img { border: none; }
#recruit-site ul li { list-style: none; line-height: 100%; }
#recruit-site .banners-list img {
margin: 2px 0;
border: 1px solid #E8E8E8;
}

#related-site {
padding: 29px 0 0 15px;
background: #FFFFFF url(../images_new/cap_related.jpg) no-repeat 0px -10px;
}

#related-site h5 { display: none; } 
#related-site img { border: none; }
#related-site ul li { list-style: none; line-height: 100%; }

.banners-list {
line-height: 100%;
}

#related-site .banners-list img {
margin: 2px 0;
border: 1px solid #E8E8E8;
}

div#entry-list ul{
list-style-type:none;
margin-top:12px;
padding-left:16px;
padding-top:3px;
background-color:#FFFFFF;
}
div#aidoku-bnr{
list-style-type:none;
margin-top:12px;
padding-top:5px;
background-color:#FFFFFF;
}
div#aidoku-bnr img{ border:#CCCCCC solid 1px; margin:0px 29px 7px 29px; }
 
div#entry-list ul li{
margin-bottom:8px;
}

div#entry-list ul a img{
border:0;
}



/*================ update ================*/

#update-list {
position: relative;
display: block;
padding: 44px 10px 0 10px;
background: url(../images_new/cap_update.jpg) no-repeat top left;
background-color: #FFFFFF;
}

#update-list h5 { display: none; }
#update-list dt { color: #003274; }
#update-list dd { padding: 0 0 10px 0; }


#update-smlink {
position: absolute;

top: 18px;
left: 0px;
}

#update-smlink a {
display: block;
width: 83px;
height: 10px;
text-indent: -9999px;
}
