/*
Theme Name: zemtvresponsive
Theme URI: http://underscores.me/
Author: Inherited Arts
Author URI: http://www.inheritedarts.com
Description: Commercial Theme
Version: 1.0
Text Domain: zemtv
*/

.vv .ui.cards>.card {
    width: 100% !important;
}

.vv .ui.cards>.card>.image>img, .ui.card>.image>img {
    display: block;
    width: 100%;
    height: auto !important;
}