@charset "UTF-8";
/* ===================================================================

Common Style

======================================================================*/
/*--------------------------------------------------------------------
 Reset
----------------------------------------------------------------------*/
html {
	overflow-y: scroll;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
span.strong,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: normal;
}
/* ------------------------------------------------------------ body reset */
body {
	font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',MS PGothic,sans-serif;
	font-size: 10px;
	background-color: #FFF;
}
* html body {
	font-size: x-small;
}
*:first-child + html body {
	font-size: x-small;
}
table {
	font-size: 100%;
}
@media only screen and (max-device-width: 480px) {
  /* iPhoneのみ読み込む */
  body {
	-webkit-text-size-adjust: none;
}
}
/* ------------------------------------------------------------ Table Elements */
table,
th,
td {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------ Form Elements */
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input {
	background: transparent;
}
/* ------------------------------------------------------------ etc */
a,
fieldset,
img {
	border: 0;
}
/* img */
img {
	vertical-align: middle;
}
*:first-child + html img {
	vertical-align: bottom;
}
* html img {
	vertical-align: bottom;
}
img {
	margin-bottom: 0;
	font-size: 12px;
}
/* input */
input {
	vertical-align: middle;
}
*:first-child + html input {
	vertical-align: middle;
}
* html input {
	vertical-align: middle;
}
/* select */
select {
	vertical-align: middle;
}
*:first-child + html select {
	vertical-align: middle;
}
* html select {
	vertical-align: middle;
}
/* ------------------------------------------------------------ 基本設定 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dt,
dd,
th,
td,
pre,
caption,
address {
	line-height: 1.5;
	font-size: 120%;
	color: #333;
}
ol li,
ul li {
	list-style: none;
}
/* 入れ子対応 */
p input,
p select,
p textarea,
li p,
li li,
li dt,
li dd,
li input,
li select,
li textarea,
dd p,
dd li,
dd dt,
dd dd,
dd input,
dd select,
dd textarea,
th p,
th li,
th dt,
th dd,
th input,
th select,
th textarea,
td p,
td li,
td dt,
td dd,
td input,
td select,
td textarea,
td th,
td td {
	font-size: 100%;
}
/* 強調スタイル */
em {
	color: #999;
}
strong,
.strong,
span.strong {
	font-weight: bold;
}
strong.more,
.strong.more,
span.strong.more {
	color: #CC0000;
}
strong.most,
.strong.most,
span.strong.most {
	font-weight: bold;
	color: #CC0000;
}
/* リンクスタイル */
a:link,
a:hover,
a:active {
	color: #1470CC;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: #802680;
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}
/*--------------------------------------------------------------------
 General
----------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 general
----------------------------------------------------------------------*/
.mT5 {
	margin-top: 5px;
}
.mT10 {
	margin-top: 10px;
}
.mT20 {
	margin-top: 20px;
}
.bold {
	font-weight: bold !important;
}
.dn {
	display: none !important;
}
.dib {
	display: inline-block !important;
}
/* ▼ clearFix ▼
------------------------------------------------------------*/
.cf {
	*zoom: 1;
}
.cf:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

/* ▼ デザイン ▼
------------------------------------------------------------*/
.wrap {
	border-top: 6px solid #E73820;
	min-width: 950px;
	overflow: hidden;
}
/* ▼ ヘッダー ▼
------------------------------------------------------------*/
.headerWrap {
	position: relative;
	width: 950px;
	margin: 0 auto;
}
.header {
	position: relative;
	padding: 0 0 20px;
	z-index: 1;
}
.header > p {
	float: right;
	margin-top: 3px;
	font-size: 10px;
}
.headerLogo {
	float: left;
	margin-top: 20px;
}
.headerLogo > span {
	display: block;
	margin-bottom: 2px;
	font-size: 10px;
	font-weight: bold;
}
.headerLinks {
	float: right;
	margin-top: 4px;
}
.headerLinks > li {
	display: inline-block;
	margin-left: 20px;
	padding-left: 8px;
	background: url("/SYS/cmn/images/front_002/icn_header_dot_arrow.gif") no-repeat left 5px;
	font-size: 10px;
	*display: inline;
	*zoom: 1;
}
.headerLinks > li.iconNewWindow {
	padding-left: 12px;
	background-image: url("/SYS/cmn/images/front_002/icn_window_blue.png");
}
.headerKv {
	position: absolute;
	width: 550px;
	height: 500px;
	top: 53px;
	left: 485px;
	background-repeat: no-repeat;
}

/* ▼ 都道府県選択 ▼
------------------------------------------------------------*/
.areaSelectWrap {
	padding-bottom: 40px;
}
.areaSelectTitle {
	padding: 4px 0 0 24px;
	line-height: 1;
	background: url("/s/MP/cmn/images/icn_map_red.png") no-repeat left top;
	font-size: 15px;
	font-weight: bold;
}
.areaSelectList {
	margin-top: 9px;
}
.areaSelectList > li ~ li {
	margin-top: 6px;
}
.areaSelectList dl {
	font-size: 14px;
	*zoom: 1;
}
.areaSelectList dl:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.areaSelectList dt {
	float: left;
	position: relative;
	width: 115px;
	height: 40px;
	line-height: 40px;
	background: #EFEFED;
	border-right: 1px solid #EFEFED;
	border-radius: 3px 0 0 3px;
	text-align: center;
	font-weight: bold;
	color: #E73820;
	box-sizing: border-box;
}
.areaSelectList dt:after {
	content: "";
	display: inline-block;
	position: absolute;
	right: -29px;
	border: 20px solid transparent;
	border-left: 8px solid #EFEFED;
	*zoom: 1;
	*display: inline;
}
.areaSelectList dd {
	float: left;
	position: relative;
	width: 64px;
	height: 36px;
	margin: 2px 0 0 16px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	text-align: center;
	box-sizing: border-box;
}
.areaSelectList dd ~ dd {
	margin-left: 8px;
}
.areaSelectList dd > a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 33px;
	text-decoration: none;
	font-weight: bold;
	color: #1470CC;
}

/* ▼ クイック検索 ▼
------------------------------------------------------------*/
.quickSearchWrap {
	background: #EFEFED;
	border-bottom: 1px solid #E0E0DD;
}
.quickSearch {
	position: relative;
	width: 950px;
	margin: 0 auto;
	padding: 15px 0;
}
.quickSearchTitle {
	position: absolute;
	top: -21px;
	padding: 9px 23px 8px 39px;
	background: url("/s/MP/cmn/images/icn_loupe.png") no-repeat 20px center #EFEFED;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}
.quickSearchTitle:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: 5px solid transparent;
	border-top: 5px solid #E73820;
	border-left: 5px solid #E73820;
	border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
}
.quickSearchTitle:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: 5px solid transparent;
	border-right: 5px solid #EFEFED;
	border-bottom: 5px solid #EFEFED;
}
.quickSearchBtn {
	position: absolute;
	top: 19px;
	right: 0;
}
.quickSearchBtn > .disabled {
	cursor: default;
}

.quickSelectBoxList > li {
	position: relative;
	float: left;
	background: #FFFFFF;
}
.quickSelectBoxList > li + li {
	margin-left: 15px;
}
.quickSelectBoxList > li > a {
	overflow: hidden;
}
.quickSelectBoxList > li > a:visited {
	color: #35363F;
}
.quickSelectBoxList > li > a:link {
	color: #35363F;
}
.quickSelectBoxList > li > a.selected:visited {
	color: #E73820;
}
.quickSelectBoxList > li > a.selected:link {
	color: #E73820;
}
.quickSelectBox {
	position: relative;
	display: block;
	padding: 2px;
	color: #35363F;
	border: 1px solid #CCCCCC;
}
.quickSelectBox:hover {
	text-decoration: none;
}
.quickSelectBox > span {
	float: left;
	line-height: 39px;
	font-size: 12px;
	display: block;
	overflow: hidden;
	width: 222px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.quickSelectBox:after {
	position: absolute;
	content: '';
	width: 20px;
	height: 39px;
	top: 2px;
	right: 2px;
	background-color: #BCBFC2;
	background-image: url("/s/MP/cmn/images/icn_selectbox_arrow.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.quickSelectBox.disabled {
	cursor: default;
}
.quickSelectBox.disabled > span {
	color: #999999;
}
.quickSelectBox.disabled:after {
	background-color: #d1d3d6;
}
/* ▼ クイック検索プルダウン ▼
------------------------------------------------------------*/
.quickSelectBoxPullDown {
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 1;
	width: 258px;
	max-height: 336px;
	padding: 5px;
	overflow-y: auto;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.quickSelectBoxPullDown > li > label {
	display: block;
	color: #1470CC;
	font-size: 12px;
}
.quickSelectBoxPullDown > li > label.quickSelectHeadline {
	display: block;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}
.quickSelectBoxPullDown > li > label:hover {
	background-color: #FFE5E4;
	text-decoration: none;
}
.quickSelectBoxPullDown > li > label.quickSelectHeadline:hover {
	background-color: #FFFFFF;
	text-decoration: none;
}
.quickSelectBoxPullDown .selected {
	color: #E73820;
}
.quickSelectHeadline {
	padding: 5px 5px 0;
}
.quickSelectLinkBox {
	position: relative;
	padding: 5px 10px;
	font-size: 14px;
}
.quickSelectLinkBox > input,
.quickSelectLinkBox > label > input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 28px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.quickSelectLinkBox:hover {
	background-color: #FFE5E4;
}
.quickSelectBox > .quickMapIcon {
	padding-left: 42px;
	background-position: 9px 43%;
}
.quickSelectBox > .quickGenreIcon {
	padding-left: 42px;
	background-position: 11px 48%;
}
.quickSelectBox > .quickCourseIcon {
	padding-left: 42px;
	background-position: 12px 48%;
}
.quickMapIcon {
	background-image: url("/s/MP/cmn/images/icn_map.png");
	background-repeat: no-repeat;
}
.quickGenreIcon {
	background-image: url("/s/MP/cmn/images/icn_genre.png");
	background-repeat: no-repeat;
}
.quickCourseIcon {
	background-image: url("/s/MP/cmn/images/icn_yen.png");
	background-repeat: no-repeat;
}

.disabled > .quickGenreIcon {
	background-image: url("/s/MP/cmn/images/icn_genre_dim.png");
}
.disabled > .quickCourseIcon {
	background-image: url("/s/MP/cmn/images/icn_yen_dim.png");
}

/* ▼ コンテンツ ▼
------------------------------------------------------------*/
.contentWrap {
	width: 950px;
	margin: 0 auto;
}
.notice {
	margin-top: 20px;
	font-size: 11px;
	color: #666666;
}
.content {
	float: left;
	width: 465px;
	margin-top: 20px;
}
.content + .content {
	margin-left: 20px;
}
.articleWrap {
	padding: 5px 3px 3px;
	background: #EFEFED;
	border-radius: 3px;
}
.articleWrap ~ .articleWrap {
	margin-top: 20px;
}
.articleTitleWrap {
	padding: 4px 0 10px;
}
.articleTitleWrap:before {
	content: '';
	display: inline-block;
	height: 14px;
	margin-left: -3px;
	border-left: 4px solid #E73820;
	vertical-align: middle;
}
.articleTitle {
	display: inline-block;
	width: 438px;
	padding: 2px 0 0 16px;
	line-height: 18px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: #35363F;
}
.article {
	padding: 0 10px;
	background: #FFFFFF;
	border: 1px solid #E1E1DF;
	border-radius: 4px;
}
.articleInner {
	padding: 10px 0;
	*zoom: 1;
}
.articleInner:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.articleInner ~ .articleInner {
	border-top: 1px dotted #CCCCCC;
}
.sisterSite .articleInner ~ .articleInner {
	border-top: 0;
}
.articleInner h3, .articleInner h3 > a {
	font-weight: bold;
}
.informationList > dt {
	float: left;
	width: 110px;
}
.informationList > dd {
	overflow: hidden;
	word-break: break-all;
}
.articleImg {
	float: left;
	margin-right: 10px;
}
.articleImg + div {
	overflow: hidden;
}
.articleText {
	margin-top: 5px;
	font-size: 11px;
}
.articleLinkList {
	margin-top: 5px;
}
.articleLinkList > li {
	display: inline;
	font-size: 11px;
}
.articleLinkList > li ~ li:before {
	content: "/";
	display: inline-block;
	margin: -1px 4px 0 1px;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}
.articleSubTitle {
	font-size: 11px;
}
.articleSubTitle ~ .articleSubTitle {
	margin-top: 10px;
}
.articleSubList > dt {
	float: left;
	width: 70px;
	font-size: 11px;
}
.articleSubList > dd {
	overflow: hidden;
	font-size: 11px;
}
.articleSubList li {
	display: inline;
	padding-right: 5px;
	font-size: 11px;
}
.articleSubList li ~ li:before {
	content: "";
	display: inline-block;
	height: 12px;
	margin-top: -2px;
	padding-left: 5px;
	vertical-align: middle;
	border-left: 1px solid #CCCCCC;
	*zoom: 1;
	*display: inline;
}
.articleSubList.linebreak li {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.articleSubList.linebreak li ~ li:before {
	display: none;
}
.articleSubList.linebreak li:after {
	content: "";
	display: inline-block;
	height: 12px;
	margin-top: -2px;
	padding-right: 5px;
	vertical-align: middle;
	border-right: 1px solid #CCCCCC;
}
.articleSubList.linebreak li ~ li:last-child:after {
	display: none;
}
.articleSubList a {
	color: #333333;
}
.prBannerList {
	margin-top: 20px;
}
.prBannerList > li ~ li {
	margin-top: 20px;
}
.footerNavi {
	margin-top: 20px;
}
.footerNavi + .footerNavi {
	margin-top: 15px;
}
.footerNavi > p,
.footerNavi > dt,
.footerNavi li {
	font-size: 10px;
}
.footerNavi .articleSubList li ~ li:before {
	height: 10px;
}

/* ▼ フッター ▼
------------------------------------------------------------*/
#footer {
	clear: both;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #FFF;
}
div#footer ul {
	float: right;
	margin-top: 5px;
}
#footer ul li {
	float: left;
	margin-right: 0.5em;
	padding-right: 0.5em;
	border-right: solid 1px #999;
	line-height: 1;
	font-size: 100%;
}
#footer address {
	float: left;
	margin-top: 3px;
	text-align: left;
}
#footer #linkRecruitGroup {
	color: #435B67;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'メイリオ','ヒラギノ角ゴ Pro W3',Meiryo,'ＭＳ Ｐゴシック',MS PGothic,sans-serif;
	line-height: 2;
}
#footer p {
	float: left;
}
#footer .linkForShop {
	float: left;
	padding-left: 25px;
	padding-top: 15px;
}
#footer .linkForShop p {
	display: inline-block;
	padding-right: 8px;
	font-size: 10px;
}
#footer .linkForShop p .mrkTxtLinkOr {
	padding-left: 18px;
	padding-bottom: 2px;
	background-image: url("/SYS/cmn/images/common/mark_link_or.gif");
	background-repeat: no-repeat;
	background-position: 0 2px;
}
#footer .linkForShop p .strong {
	font-weight: bold;
}
#footer ul li.lastChild {
	margin-right: 0;
	padding-right: 0;
	border: none;
}
#footer p, #footer ul, #footer dl {
	margin: 0 0 10px 0;
}
div#header:after, div.inner:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

/* ▼ ページの先頭へ戻る ▼
------------------------------------------------------------*/
.scrollWrap {
	position: fixed;
	right: 20px;
	min-width: 85px;
	height: 85px;
	display: block;
	cursor: pointer;
	z-index: 300;
}

.headerLinks .iconXMarkGray {
    background-image: url("/SYS/cmn/images/front_002/icn_x_mark_gray_11x11.png");
    background-repeat: no-repeat;
}
.headerLinks .samaHeaderPullDownCloseBtn > .iconXMarkGray {
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 14px;
    line-height: 1.5;
    display: inline-block;
}
.headerLinks .samaHeaderPullDownCloseBtn {
    float: right;
}
.headerLinks .languagePullDownList > a {
    display: inline;
    padding-right: 7px;
    line-height: 14px;
}
.headerLinks .languagePullDownList > a + a:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	padding-left: 6px;
	height: 9px;
	border-left: 1px solid #CCCCCC;
}
.headerLinks .languagePullDownList {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #E0E0E0;
}
.headerLinks .languagePullDownList {
	margin: 25px 18px 0 0;
	position: absolute;
	top: 16px;
	right: 0;
	z-index: 1;
	width: 342px;
	max-height: 340px;
	padding: 10px 10px 7px 10px;
	overflow-y: auto;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	font-size: 11px;
}
.headerLinks .samaHeaderPullDownBottom {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #E0E0E0;
}