.player5-aspect-wraper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.player5{
    width: 100%;
	padding-bottom: 56.25%;
    position: relative;
}
.player5 .fullWidth{
	width: 100%;
}
.player5-video{
    display:none;
    z-index: -1;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-size:cover !important;
	width: 100%;
	height: 100%;
}
.full-screen.player5-video{
    background-color: black;
}
.player5-ad-label{
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    color: white;
    display: none;
    z-index: 2147483647;
	font-size: 13px;
}
.full-screen .player5-ad-label{
    position: fixed;
}
.player5-loading{
    left: 50%;
    top:50%;
    margin-left: -16px;
    position: absolute;
    margin-top: -38px;
    display:none;
}
.player5-ad-skip{
    position: absolute;
    z-index: 2147483647;
    color: white;
    padding: 5px 10px;
    right: 20px;
    bottom: 50px;
	font-size: 13px;
    background: #9c2b1b; /* Old browsers */
    background: -moz-linear-gradient(top, #9c2b1b 0%, #730f00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c2b1b), color-stop(100%,#730f00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9c2b1b 0%,#730f00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9c2b1b 0%,#730f00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9c2b1b 0%,#730f00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #9c2b1b 0%,#730f00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c2b1b', endColorstr='#730f00',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.full-screen .player5-ad-skip{
    position: fixed;
    bottom: 60px;
}
.player5-etarget .open{
    background-image: url("http://c.sme.sk/imgs/vp-html5/etarget_open.png");
    width: 12px;
    height: 12px;
    float: right;
    background-size: 12px;
    margin-top: 3px;
    background-repeat: no-repeat;
    margin: 3px 5px 0 2px;
}
.player5-logo{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    fill: white;
    opacity: 0.9;
}
.full-screen .player5-logo{
    position: fixed;
    z-index: 2147483647;
}
.player5-first-start{
    cursor: pointer;
    display: none;
    z-index: 2147483645;
    height: 354px;
}
.player5-first-start > img{
    width: 100%;
    height: 100%;
    display: block;
}
.player5-share{
    background-color: rgba(0,0,0,0.2);
    padding: 5px 10px 5px 10px;
    line-height: 25px;
    cursor: pointer;
}
.player5-share:hover{
    background-color: rgba(0,0,0,0.3);
}
.share-box-play {
    width: 96px;
    height: 96px;
    position: absolute;
    left: 50%;
    top: 50%;
    fill: white;
    -webkit-transform: translate(-50%,-51%);
    -ms-transform: translate(-50%,-51%);
    transform: translate(-50%,-51%);
    opacity: 0.9;
    cursor: pointer;
}
.js-player5-share{
    color: #a7090c;
    cursor: pointer;
}
.js-player5-share:hover{
    text-decoration: underline;
}
.player5-share-box{
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    max-width: 700px;
    padding: 1.7em 1.5em 1.5em;
    z-index: 10000;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transform: translate(-50%,-51%);
    -ms-transform: translate(-50%,-51%);
    -webkit-transform: translate(-50%,-51%);
    color: #BBB;
    width: 80%;
    font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}
.full-screen .player5-share-box{
    position: fixed;
    z-index: 2147483647;
}
.player5-share-box .heading {
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}
.share-box-item {
    margin: 1.3em 0 0 0;
    padding-left: 15px;
    position: relative;
}
.share-box-item a {
    fill: #BBB;
    margin: 5px 10px 0 0;
    display: inline-block;
    transition: all 0.2s ease-out;
    border-radius: 3px;
    color: #BBB;
    text-decoration: none;
}
.share-box-item a .text {
    vertical-align: middle;
}
.share-box-item .icon {
    display: inline-block;
    vertical-align: middle;
}
.share-box-item a:hover {
    fill: white;
    text-decoration: none;
}
.share-box-item a:hover .text {
    text-decoration: underline;
}
.share-box-item .bullet {
    position: absolute;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: transparent;
    border: 1px solid grey;
    top: 5px;
    left: 0;
}
.share-box-item b {
    font-weight: bold;
    color: white;
}
.share-box-item p {
    font-size: 12px;
    margin: 0.5em 0;
    color:white;
}
.share-box-close {
    cursor:pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    fill: #BBB;
    transition: all 0.2s ease-out;
}
.share-box-close:hover {
    color: white;
    fill: white;
}
.share-box-close .text, .share-box-close svg {
    display: inline-block;
    vertical-align: middle;
}
.player5-share-box textarea{
    border-radius: 3px;
    background-color: #494949;
    border: none;
    outline: 0;
    color: #B8B8B8;
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 16px;
    font-size: 11px;
}
.player5-link {
    color: #cf2528;
    cursor: pointer;
    text-decoration: underline;
}
.btn-hide.btn-close {
    top: -5px;
    position: absolute;
    right:  5px;
    cursor: pointer;
    background: none;
    padding: 0;
}
.bar-hidden .btn-close{
    background: rgba(0,0,0,0.7);
    padding: 0 5px 0 5px;
    float: right;
}
.btn-hide.btn-close svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.player5-relevant-videos {
    background-color: rgba(0,0,0,0.8);
	font-family: Verdana, Arial, sans-serif;
    width: 100%;
    height: 310px;
    position: absolute;
    top: 0;
    z-index: 2147483647;
}
.full-screen .player5-relevant-videos {
    position: fixed;
    left: 0;
    top: 0;
}
.player5-relevant-videos .videos {
    width: 440px;
    height: 210px;
    left: 50%;
    position: absolute;
    margin-left: -220px;
    top: 50%;
    margin-top: -105px;
}
.player5-relevant-videos .video {
    width: 380px;
    height: 95px;
    background-color: rgba(255,255,255,0.3);
    margin-left: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;
}
.player5-relevant-videos .videos .video#first {
    margin-top: 0;
}
.player5-relevant-videos .video:hover {
    background-color: rgba(255,255,255,0.4);
}
.player5-relevant-videos .video .img {
    width: 125px;
    height: 95px;
    float: left;
}
.player5-relevant-videos .video img {
    border: 1px rgba(255,255,255, 0.8) solid;
    -moz-border-radius: 5px;
    width: 125px;
    height: 93px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.player5-relevant-videos .video .content {
    width: 250px;
    height: 95px;
    float: left;
    color: white;
    background-color: transparent;
}
.player5-relevant-videos .video .title {
    width: 240px;
    height: 36px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    line-height: 13px;
    margin-top: 11px;
}
.player5-relevant-videos .video .description {
    width: 240px;
    height: 45px;
    font-size: 11px;
    margin-left: 10px;
    line-height: 12px;
}
.player5-relevant-videos .arrow-right {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('http://c.sme.sk/imgs/vp-html5/e_right.png');
    background-repeat: no-repeat;
    margin-left: 410px;
    background-size: 30px 30px;
    cursor: pointer;
    top: 90px;
}
.player5-relevant-videos .arrow-left {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('http://c.sme.sk/imgs/vp-html5/e_left.png');
    background-repeat: no-repeat;
    margin-top: 90px;
    background-size: 30px 30px;
    cursor: pointer;
}

/* native player customization */
audio.player5-video::-webkit-media-controls-panel, video.player5-video::-webkit-media-controls-panel{
    position:absolute;
    left:0;
    bottom:0;
    height: 35px;
    border-radius: 0;
}
audio.player5-video::-webkit-media-controls-overlay-enclosure, video.player5-video::-webkit-media-controls-overlay-enclosure{
    cursor: pointer;
}
video.player5-video::-webkit-media-controls-start-playback-button, audio.player5-video::-webkit-media-controls-start-playback-button {
    display: none;
}
video.player5-video.ad-active::-webkit-media-controls-timeline, audio.player5-video.ad-active::-webkit-media-controls-timeline{
    visibility: hidden;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.player5-upper-panel {
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    text-align: left;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 20%,rgba(0,0,0,0) 100%);
    color: white;
    z-index: 100;
    line-height: 30px;
    font-family: Arial;
}
.full-screen .player5-upper-panel {
    z-index: 2147483647;
    position: fixed;
    display: none;
}
.front-player-position{
    display: block;
}
.player5-title {
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    width: 80%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding: 12px;
}
.player5-title:hover{
    text-decoration: underline;
}
.player5-share-icon {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    opacity: 0.9;
    line-height: normal;
}
.player5-share-icon svg {
    display: inline-block;
    vertical-align: middle;
    fill: white;
}
.player5-share-icon:hover{
    opacity:1;
}
.player5-etarget table {
    border: none;
    margin: 0;
}
.player5-etarget{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display:none;
    z-index: 2147483647;
    left: 0;
    width: 100%;
    bottom: 35px;
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid #484848;
    font-size: 13px;
    line-height: 18px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.full-screen .player5-etarget{
    position: fixed;
    width: 100%;
    z-index: 2147483647;
    visibility: visible;
    bottom: 35px;
}
.player5-etarget.bar-hidden{
    border:0;
    height: 20px;
    background: none;
}
.player5-etarget.edge{
    bottom: 70px;
}
.player5-etarget table{
    width:100%;
}
.player5-etarget table tr{
    background: transparent;
}
.player5-etarget .btn-hide{
    color:white;
    margin-left: 10px;
    float:right;
    font-size: 11px;
}
.player5-etarget .btn-hide, .player5-etarget .pointer{
    cursor:pointer;
}
.player5-etarget .arrow-left{
    padding-right: 10px !important;
}
.player5-etarget .arrow-right{
    padding-left: 10px !important;
}
.player5-etarget td {
    margin: 0;
    vertical-align: middle;
    border: none !important;
    font-size: 12px;
    padding: 0 !important;
}
.player5 img {
    margin: 0;
    border: 0;
}
.etargetTitle {
    font-size: 18px;
    line-height: 24px;
}
.player5-etarget .icon {
    fill: white;
}
.player5-etarget a {
    text-decoration: none;
    color: white;
}
.etarget-left, .etarget-right {
    margin-top: 10px;
    cursor: pointer;
}
.playbtn
{
    white-space: nowrap;
}
.player5-etarget table tr td:last-child{
    border: none;
}
.cl-priloha-video5-inline .video-panel .v-clanok {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    color: black;
}
.cl-priloha-video5-inline .video-panel .v-clanok p {
    margin: 20px 0 20px 0;
}
.cl-priloha-video5-inline .vplayer-box {position:relative; margin: 0; padding: 0; border: 0;}
.cl-priloha-video5-inline .vplayer-box .playbtn {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.36);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 0.8;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.cl-priloha-video5-inline .vplayer-box .playbtn:hover {
    opacity: 1;
}
.cl-priloha-video5-inline .vplayer-box .playbtn svg {
    fill: #FFF;
    vertical-align: middle;
}
.cl-priloha-video5-inline .vplayer-box .playbtn .text {
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    font-family: Trebuchet MS;
    color: #FFF;
    font-weight: bold;
}
.cl-priloha-video5-inline .vplayer-box .playbtn IMG {border: none;}
.cl-priloha-video5-inline .infoline1 {font-size: 16px; margin: 5px 0 20px 0;}
.cl-priloha-video5-inline .v-podcast-box {
    overflow: hidden;
    margin: 5px 0 15px 0;
}
.cl-priloha-video5-inline .v-podcast-box .right {
    margin: 0 10px 0 0;
    text-align: right;
}
.cl-priloha-video5-inline .v-podcast-box .left {width: 280px;}

.player5-piktogram {
    float: right;
    background: transparent;
    position: absolute;
    right: 45px;
    top: 5px;
}

.player5-piktogram img {
    max-width: 28px;
    max-height: 28px;
}
.player5 .playBtn .text{
	white-space: nowrap;
	vertical-align: middle;
	display: inline-block;
	margin-left: 15px;
	font-size: 20px;
	font-family: Trebuchet MS;
	color: #FFF;
	font-weight: bold;
}

.player5 .playBtn{
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.36);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 0.8;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.7em;
    text-align: left;
}
.player5 svg{
	fill: #FFF;
	vertical-align: middle;
}
.player5 .share-box-item text{
    font-size: 12px;
    line-height: 1.7em;
}