﻿html,body{height:100%;background:none}
.cee_html{font:12px Arial,Helvetica,sans-serif;background:url(/assets/images/rewards_popup_contentBg.gif) no-repeat 0 0;text-align:left;color:#000}
#cee_count{display:none;font:10px Arial,Helvetica,sans-serif;-moz-opacity:0.8;opacity:0.8;clear:left;float:left;padding:2px 0 4px}
.cee_html #cee_count{clear:none;padding-left:5px}
* html #cee_count{zoom:1;padding-bottom:6px}
#cee_next,#cee_prev{height:100%;width:49%;text-indent:-10000px;text-decoration:none;visibility:visible;background-repeat:no-repeat}
.cee_html a{border:0;outline:none}
.cee_html a:hover{color:#000}
#cee_closeBtn{background-repeat:no-repeat;display:box;width:19px;height:21px;position:absolute;text-indent:-10000px;top:0;right:0}
.cee_close{cursor:pointer}
.sendquestionceebox #cee_ajax{height:320px!important;width:410px!important}
.cee_html img#cee_img,#cee_vid,#cee_iframeContent,#cee_ajax{display:block;margin:4px 0 0 8px}
#cee_title{overflow:hidden;padding:2px 0!important}
.cee_html #cee_title{height:5px;-moz-border-radius:7px 7px 0 0;-webkit-border-radius:7px 7px 0 0;border-radius:7px 7px 0 0}
#cee_title h2{font-size:1.6em;color:#005593;font-weight:700;margin:0 0 1px;padding:0 0 0 27px}
#cee_ajax{clear:both;overflow:auto;text-align:left;line-height:1.4em;padding:2px 10px 15px}
#cee_load{display:none;height:50px;width:50px;background-position:center center;background-repeat:no-repeat;margin:-25px 0 0 -25px}
#cee_HideSelect{z-index:99;position:fixed;top:0;left:0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;height:100%;width:100%}
* html #cee_HideSelect{position:absolute;height:expression(document.body.scrollHeight>document.body.offsetHeight?document.body.scrollHeight:document.body.offsetHeight+'px')}
#cee_iframe{clear:both;border:none;margin-bottom:-1px;margin-top:1px}
.tncceebox #cee_ajax{height:383px!important;width:538px!important}
.tncceebox{background:url(/assets/images/termsandcondin_bg.gif) no-repeat 0 0}
.tnc p{color:#575757;font-size:1.2em;clear:both;padding:10px 0 0}
.cee_html .tnc a{color:#005593;text-decoration:none}
.cee_html .tnc a:hover{text-decoration:underline}
.tncceebox .tnc h2{border-bottom:1px solid #d0d0d0;float:none;padding:0}
.cee_html .tnc{padding:0 20px 0 10px}
.goldrates #cee_ajax,.treasuryrates #cee_ajax{height:383px!important;width:875px!important}
.goldrates,.treasuryrates{background:url(/assets/images/goldrateslightbox_bg.gif) no-repeat 0 0}
.goldratesdiv p,.goldratesdiv ul.discbullet li,.goldratesdiv ul.numberbullet li{font-size:1.2em;clear:both;padding-bottom:5px}
.goldratesdiv p,.goldratesdiv ul.discbullet li,.goldratesdiv ul.numberbullet li p{font-size:12px!important}
.goldratesdiv ul.discbullet{clear:both;padding:0}
.goldratesdiv ul li .tabledata{float:none}
.goldratesdiv h3,.tnc h3,.normal_popup h3,.base_benchmark_content h3{border-bottom:1px solid #d0d0d0;clear:both;margin:0 0 10px;padding:8px 0 5px}
.goldratesdiv table{border-bottom:1px solid #c6c6c6;border-left:1px solid #c6c6c6;float:left;margin:7px 0 10px}
.goldratesdiv th{background:#248fce;color:#fff;text-align:center}
.goldratesdiv th,.goldratesdiv td,.tnc th,.tnc td{border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;font-size:12px;padding:3px 5px 2px}
.disclaimerDiv{float:left;clear:both}
.goldratesdiv table.firsttable{margin:7px 50px 10px 0}
.reward_desc_popup .reward_lhs{float:left;padding:13px 0 0}
.reward_desc_popup .reward_rhs{float:left;width:258px;padding:0 0 0 15px}
.reward_desc_popup .reward_rhs p a.pdf_link{padding:0 10px 2px 24px}
.reward_desc_popup .reward_rhs .quantitydropdown{float:left;width:39px;background:url(/assets/images/quantity_dropdownbg.png) no-repeat 0 0;border:0;margin:0 5px 0 0}
.reward_desc_popup .reward_rhs .quantitydropdown .selectedvalue{width:25px;font-size:1.1em}
.reward_desc_popup .reward_rhs span{float:left;font-size:1.1em;padding:4px 2px 0 0}
.reward_desc_popup .reward_rhs .desc_divider{border-bottom:1px dashed #B4B4B4;float:left;width:100%;margin:10px 0}
.reward_desc_popup .reward_rhs p span.title{display:block;font-size:1em;font-weight:700;width:100%;padding:0 0 5px}
.sendquestionceebox .rewards_popup{font-size:1.2em}
.base_benchmark #cee_ajax{height:56px!important;width:421px!important}
.base_benchmark{background:url(/assets/images/bg_base_benchmark.gif) no-repeat 0 0}
.base_benchmark #cee_title{height:0;padding:0}
.base_benchmark_content p{padding:24px 0 0}
.offers_popup ul li{background:url(/assets/images/bullet_popup_point.gif) no-repeat scroll 0 4px transparent;font-size:1.2em;padding:0 0 5px 12px}
.offers_popup ul li ul li{background:url(/assets/images/bullet_popup_subpoint.gif) no-repeat 0 4px;font-size:1em}
.select_bg{background:url(/assets/images/bg_paymentselect.gif) #f0f0f0 no-repeat right top;border:1px solid #bdbcbd;float:left;height:24px;position:relative;width:215px;padding:0 0 3px}
.scroll-pane .select_bg{font-size:0.9em}
.select_bg select{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;cursor:pointer;position:absolute;left:-1px;outline:0;width:215px;height:27px}
.select_bg .selectedvalue{font-size:1.1em;height:24px;position:absolute;width:203px;padding:5px 0 0 12px}
.loan_calculator .tabledata,.tnc .tabledata{float:none;margin:0;padding:20px}
.loan_calculator .tabledata table,.tnc .tabledata table{border:1px solid #C6C6C6}
.loan_calculator .tabledata table tr th,.tnc .tabledata table tr th{background:none repeat scroll 0 0 #248FCE;color:#FFF;font-size:1.2em;font-weight:700;text-align:center;padding:5px 15px}
.loan_calculator .tabledata table tr td,.tnc .tabledata table tr td{font-size:1.2em;line-height:1.4em;padding:10px 15px}
.loan_calculator .tabledata table tr td table tr td,.tabledata table tr td table tr td{font-size:1em}
.normal_popup{width:360px;height:200px}
.normalopenpopup{background:#FAFAFA;padding:10px}
.goldratesdiv h3{padding:17px 0 0}
.cee_html #cee_title h2,.reward_desc_popup .reward_rhs .data p{float:left}
.cee_html a:link,.cee_html a:visited,.cee_html a:active,.cee_html a:focus{color:#666}
.tnc h3,.normal_popup h3,..normalopenpopup h3{border-bottom:1px solid #d0d0d0;padding:0 0 5px}
.tncceebox #cee_title,.goldrates #cee_title,.treasuryrates #cee_title{padding:10px 0}
.offers_popup ul,.offers_popup ul li ul{padding-top:5px}
.normal_popup p,..normalopenpopup p{color:#575757;font-size:1.2em;padding:10px 0 0}
.scroll-pane .tabledata tr td table tr td{font-size:1em;}
.proceed_popup h3{border-bottom:1px solid #d0d0d0;clear:both;margin:0 0 10px;padding:8px 0 5px}
.proceed_popup{width:500px;height:350px;}
.proceed_popup p{width:375px;}
.proceed_popup p.proceedbtn{text-align:center;padding-top:15px;}
.proceed_popup p,.proceed_popup p{color:#575757;font-size:1.2em;padding:3px 0 0}
.proceed_popup .jspPane{width:455px!important;}
.proceedbox{background: url(/assets/images/proceed_boxbg.png) no-repeat 0 0;}
.noborder table{border:none}
.noborder table tr td{border:none}
/*.selecteddropval{width:180px;float:left}*/
.selecteddropval{width:275px;float:left}
.goldratesdiv table td .select_bg select { width: 275px}
.hdfc_Inoperative_popup{background:url(/assets/images/hdfc_Inoperative_popup_bg.gif) no-repeat 0 0; width:545px; height:500px; outline:none!important}
.hdfc_Inoperative_popup_bg{outline:none;}
.hdfc_Inoperative_popup #cee_ajax { padding:2px 3px 15px;outline:none!important}
.hdfc_Inoperative_popup .scroll-pane{height:455px!important; outline:none;}
.hdfc_Inoperative_popup .jspContainer{ height:455px!important;width:510px!important}
/*19june12*/
.mobile_banking_popup{background:url(/assets/images/mobile_popup.gif) no-repeat 0 0; width:544px; height:199px; outline:none!important}
.mobile_banking_popup_bg{outline:none;}
.mobile_banking_popup #cee_ajax { padding:2px 3px 0; outline:none!important}
/*19june12*/
/* 04072012 */
.tat_status_popup{ background:url(/assets/images/tat_calc.gif) 0 0 no-repeat; width:529px; height:600px; outline:none!important}
/* 04072012 */
.click2talk_popup{background:url(/assets/images/click2talk_popup_bg.gif) no-repeat 0 0; width:469px; height:480px; outline:none!important}
.click2talk_popup_bg{outline:none;}
.click2talk_popup #cee_ajax { padding:2px 3px 15px;outline:none!important}
.click2talk_popup .scroll-pane{height:400px!important; outline:none;}
.click2talk_popup .jspContainer{ height:400px!important;width:400px!important}


/*select your phone 24august12*/
.select_ur_phone { width:470px; margin:10px 0 0 8px}
.select_ur_phone .heading{background: none repeat scroll 0 0 #248FCE; color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 1.5em; margin: 0 0 0 28px;
 padding: 5px 0 5px 10px; width:428px;}
.select_ur_phone ul{ float:left; margin:0 0 8px 10px}
.select_ur_phone ul li.first{ margin:5px 0 0 0}
.select_ur_phone ul li{float:left; margin:5px 0 0 53px}
.select_ur_phone ul li a{background:none; display: block;  height: 81px; padding: 5px 0 0;  text-align: center; width: 85px;}
.select_ur_phone ul li a:hover{background:url(/assets/images/mob_select.gif) no-repeat top left;}
.select_ur_phone .small_text{ width:444px; color:#666666;  margin:0 0 0 28px; float:left}
.select_ur_phone .small_text p{font-size:11px;}
/*select your phone 24august12*/

/* 23012013 jayshree for homepage 3 icons*/
.select_ur_phone .headingalt{background: none repeat scroll 0 0 #25468a; color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 1.5em; margin: 0 0 0 28px;
padding: 5px 0 5px 10px; width:428px;}
.select_ur_phone ul.contactus { margin: 5px 0 8px 10px;}
.select_ur_phone ul.contactus li p { font-weight: bold; padding: 5px 0 0; text-align: center}
.select_ur_phone ul.contactus li a { height: 64px; padding: 23px 0 0}
/* 23012013 jayshree for homepage 3 icons*/