﻿@charset utf-8;
/*changed on 17-08-16 by J*/
@font-face {
    font-family: 'open_sansregular';
    src: url('/assets/fonts/opensans-regular-webfont.eot');
    src: url('/assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/opensans-regular-webfont.ttf') format('truetype');
        
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('/assets/fonts/opensans-semibold-webfont.eot');
    src: url('/assets/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/opensans-semibold-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}
/*/changed on 17-08-16 by J*/
#mainBanner li{display:none}
div.smallbannerslatestnews{width:940px}
div.smallbannerslatestnews .insidepagebanner{width:auto!important;padding:0!important}
div.smallbannerslatestnews div.smallbanners{float:left;padding:0 19px 0 0}
div.latestnews{float:left;width:340px}
div.latestnews_top{background:url(/assets/images/bg_latestnews_top.gif) no-repeat 0 0;font-size:1%;height:7px;width:340px}
div.latestnews_bottom{background:url(/assets/images/bg_latestnews_bottom.gif) no-repeat bottom left;width:313px;min-height:114px;padding:0 10px 7px 17px}
div.latestnews div.latestnews_bottom div{height:83px!important;}
div.latestnews div.latestnews_bottom div.buttons{height:35px!important}
div.latestnews_bottom ul{float:left;padding:5px 0 0}
div.latestnews_bottom ul li{background:url(/assets/images/bullet_greyarrow.gif) no-repeat 0 3px;font-size:1.3em;width:255px;padding:0 0 7px 15px}
div.latestnews_bottom div.buttons{float:left;width:45px;padding:25px 0 0}
div.latestnews_bottom div.buttons img{float:left;margin:0 0 0 10px}
#cee_overlay{position:fixed;top:0;left:0;background-color:#000;width:100%;height:100%;display:none;z-index:100;opacity:0.5;filter:alpha(opacity=50)!important;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)!important}
.cee_html{position:fixed;z-index:102;opacity:1;display:none;border-width:3px}
div.homebanner div.slidingbanners ul li{position:absolute;/*height:380px;*/width:374px;}/*Modified on 28th Aug'15*/
#slidingbannersbuttons{position:absolute;right:19px;bottom:25px}/*Modified on 28th Aug'15*/
#slidingbannersbuttons a{background:url(/assets/images/butn-homesliding.png) no-repeat 0 0;width:16px;height:9px;display:block;float:left;text-indent:-9999px}/*Modified on 28th Aug'15*/
#slidingbannersbuttons a.selected{background:url(/assets/images/butn-homesliding-active.png) no-repeat 0 0}/*Modified on 28th Aug'15*/
div.homebanner div.loginarea{background:url(/assets/images/bg_homeloginbox_seperator.png) no-repeat 0 0;_background:none;float:left;height:260px;width:255px;_width:200px;padding:5px 0 0 12px}
div.homebanner div.loginarea div.loginbox{width:255px;_width:200px}
div.homebanner div.loginarea div.loginbox div.loginbox_top{background:url(/assets/images/bg_homeloginbox_top.png) no-repeat 0 0;font-size:1%;height:10px;width:255px;_width:255px}
div.homebanner div.loginarea div.loginbox div.loginbox_bottom{background:url(/assets/images/bg_homeloginbox_bottom.png) no-repeat scroll left bottom transparent;min-height:188px;width:210px;_width:205px;padding:5px 25px 5px;}
div.homebanner div.loginarea div.loginbox div.loginbox_bottom p.loginheading{color:#333;font-family:HelveticaNeueBold;font-size:1.8em;font-weight:400;padding:0 0 0}
div.homebanner div.loginarea div.loginbox div.loginbox_bottom div.loginboxfield{border-bottom:1px solid #E6E6E6;width:100%;padding:9px 0}
div.homebanner div.loginarea div.loginbox div.loginbox_bottom div.loginboxfieldlast{clear:both;float:left;padding:7px 0 9px}
div.homebanner div.loginarea div.loginbox div.loginbox_bottom label{font-size:1.3em;float:left;width:175px;padding:0 0 0 10px}
div.homebanner div.loginarea div.loginbox div.loginbox_bottom input { float:left; width:12px; margin-top: 1px; *margin-top: -2px}
div.homebanner div.loginarea div.loginbox div.loginbox_bottom div.loginboxlinks{width:220px;_width:205px;}
div.homebanner div.loginarea div.loginbox div.loginbox_bottom div.loginboxlinks img{float:left}
div.homebanner div.loginarea div.loginbox div.loginbox_bottom div.loginboxlinks p a{float:left;margin:5px 0 0 10px;_margin:5px 0 0 5px;_font-size:0.9em}
/*div.homebanner_wrapper{background:url(/assets/images/newhompageimages/bg-homepage-banner.jpg) repeat-x 0 0; height: 380px; margin:0 0 3px; padding:10px 0 9px; width:100%;}Modified on 28th Aug'15*/
div.homebanner_wrapper{background:url(/assets/images/bg-homepage-banner.jpg) repeat-x 0 0; height:412px; padding:10px 0 0; width:100%;}/*changed on 17-08-16 by J*/
div.homebanner{width:940px;margin:0 auto}
div.homebanner div.slidingbanners{float:right;position:relative; padding-top:10px; width:374px;height:330px;}/*Modified on 28th Aug'15*/
div.homebanner div.slidingbannersbuttons{position:absolute;bottom:45px;right:15px;width:110px}
div.homebanner div.slidingbannersbuttons img{cursor:pointer;float:left;margin-left:10px;margin-top:4px}
div.homebanner div.slidingbannersbuttons div.slidingbutnsdiv{width:22px;height:16px;float:left}
div.homebanner div.slidingbannersbuttons div.playstop img{margin:0 0 0 10px}
div.homebanner div.slidingbanners ul li div.knowmore_butn{position:absolute;bottom:40px;right:252px}
div.homebanner div.slidingbanners ul li div.knowmore_butn a {float:left; height:25px; width:88px}
div.homebanner div.slidingbanners ul li div.banner1_know_more{bottom: 163px;right: 125px;}/*Modified on 28th Aug'15*/
div.homebanner div.slidingbanners ul li div.banner2_know_more{right: 131px;bottom:26px;}
div.homebanner div.slidingbanners ul li div.banner2_know_more a {float:left; height:31px; width:115px}
div.homebanner div.slidingbanners ul li div.banner3_know_more{right: 137px;bottom:42px;}
div.homebanner div.slidingbanners ul li div.banner3_know_more a {float:left; height:26px; width:101px}
div.homebanner div.slidingbanners ul li div.banner4_know_more{bottom: 31px;right: 127px;}
div.homebanner div.slidingbanners ul li div.banner5_know_more{bottom: 21px;right: 136px;}
div.latestnews_bottom div.buttons img.prevBtn{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5; cursor: auto}

.homeloadpopup #cee_title{padding:0}
.homeloadpopup{background:none;}
.homeloadpopup #cee_closeBtn{background:url(/assets/images/ceebox_closebtn.png) no-repeat 0 0;width:31px;height:32px;}



div.homebanner div.loginarea div.loginbox .mob_experience{ width:255px;}


/* Single Tab added on 01/03/13*/
.homeSingleTabcontent{width:955px;margin:19px auto;}
.homeLhs {float:left;width:675px;background:padding-left:8px}
/*.menuContainer {float:left;width:152px;min-height:270px;padding-left:16px;position:relative;padding-bottom:26px}*/
.menuContainer {float:left;width:152px;min-height:240px;padding-bottom:26px;padding-left:16px;position:relative;z-index:1}
.menuContainer h2 {font-size:1.8em;min-height:36px;height: auto!important;height: 52px;padding-top:0px !important;}
.menuContainer ul li {background:url(../images/bullet_greyarrow.gif) no-repeat 0 3px;padding:0 5px 12px 15px;font-size:1.3em}
.morelink {bottom: 0;font-size: 1.3em;position: absolute;color:#005593;text-decoration:underline;}
.homeAccordion {float:left;width:253px;padding-left:9px;padding-top:4px;}
.homeAccordion h3 {background:url(../images/accordionBG.png) no-repeat 0 0; width:221px;height:25px;margin:1px 0 0; float: left; padding:4px 16px;font-size:1.6em;cursor:pointer}
.homeAccordion .accContent {display:none; padding:10px 14px 6px;border:1px solid #ccc; margin-top:-2px; float: left; width: 222px; border-top: none}
.homeAccordion .accContent li {font-size:1.3em;background:url(../images/bullet_greyarrow.gif) no-repeat 0 2px;padding:0 0 7px 15px;}
.homeAccordion .accContent li p {font-size:0.9em}
.homeAccordion h3.open{background-position:0 -34px}
/*.selectBox {background:url(../images/selectBoxBG.png) no-repeat 0 0;margin-left:-17px;position:relative;height:22px;padding-bottom:7px;cursor:pointer;margin-bottom:7px;}
.selectBox select {cursor: pointer;height: 24px;left: 0;opacity: 0;filter: alpha(opacity=0);position: absolute;top: -1px;width: 158px;z-index: 100;}
.selectBox select option {background:url(../images/bullet_greyarrow.gif) no-repeat 5px 9px;padding:5px 0 5px 18px;width:100%;color: #003366;font-family: arial;font-size: 1em;}*/
.selectBox, .dropbox {background:url(../images/selectBoxBG.png) no-repeat 0 0;margin-left:-17px;position:relative;height:22px;padding-bottom:7px;cursor:pointer;margin-bottom:7px;}
.selectBox select, .dropbox select{cursor: pointer;height: 24px;left: 0;opacity: 0;filter: alpha(opacity=0);position: absolute;top: -1px;width: 158px;z-index: 100;}
.selectBox select option , .dropbox select option{color: #003366;font-family: arial;font-size: 1em;width:100%;}
/*.selectBox .loanOpt {background: #fbfdfe;border-left: 1px solid #e3e3e3;border-right: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;left: 3px;padding: 10px 0 5px 10px;position: absolute;top: 28px;width: 144px;display:none;}
.menuContainer .selectBox.open {background-position:0 -32px}
.selectBox .box {color: #003366;font-family: arial;font-size: 1.3em;height: 16px;left: 16px;line-height: 16px;overflow: hidden;position: absolute;top: 6px;width: 126px;margin-left:-5px}*/
.selectBox .loanOpt, .dropbox .dropOpt {background: #fbfdfe;border-left: 1px solid #e3e3e3;border-right: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;left: 3px;padding: 10px 0 5px 10px;position: absolute;top: 28px;width: 144px;display:none; z-index:9999  }
.menuContainer .selectBox.open, .menuContainer .dropbox.add {background-position:0 -32px}
.selectBox .box , .dropbox .box {color: #003366;font-family: arial;font-size: 1.3em;height: 16px;left: 16px;line-height: 16px;overflow: hidden;position: absolute;top: 6px;width: 126px;margin-left:-5px}
.smallbannerslatestnews { float: left; padding: 19px 0 0}
.selectBox ul li, .dropbox ul li{background: url(../images/bullet_greyarrow.gif) no-repeat 0 9px ;padding:5px 0 5px 18px; width:126px }
.selectBox {z-index:2}
.dropbox {z-index:3}
/* /Single Tab added on 01/03/13 */

/* 08072013 Ticker */
.tickerWrapper{ width:100%; background-color:#f2f2f2; border-bottom:2px solid #dbdbdb; border-top:1px solid #dbdbdb; height:40px; padding-top:10px; display:none; box-sizing: border-box} /*changed on 17-08-16 by J*/
.ticker{overflow: hidden; margin:0 auto; width:935px;}
.ticker ul{ /*float:left; width:50000px;*/height: 20px; overflow: hidden;}
.ticker ul li{ color:#333; list-style:none; font-family: 'open_sansregular'; float:left; padding:0 5px 0 0; color:#015595; font-size:1.4em} /*changed on 17-08-16 by J*/
.ticker ul li a { color: #333}/*changed on 17-08-16 by J*/ 
.ticker ul li a:link {text-decoration:none; }
/* 08072013 Ticker */

/*22102013 forgot pwd
div.homebanner div.loginarea div.loginbox div.loginbox_bottom label.netbankinglabel {float: left; width: 76px;}
div.loginbox_bottom a.netbankingforgotpass {font-size: 1.1em; display: block; padding: 2px 0px 0px;}
/*22102013 forgot pwd*/
.noslide{display:none;}
/*Home Flip Banner -Added on 28th Aug'15 Starts*/
.mainBodyContainer.active {z-index:9001}
/*changed on 17-08-16 by J*/
.flipBannerWrap {float:left; height:400px; overflow:hidden; padding:5px 0 0; position:relative; width:566px}
.flipBannerWrap p.title {color:#FFFFFF; font-family:'open_sanssemibold'; font-size:2.4em; line-height: 1.2em; float:left; padding:0 22px 10px 0; text-align:center; width:100%; box-sizing: border-box}
.flipBannerWrap p.title span { display: block}
/*/changed on 17-08-16 by J*/
.flipBannerWrap .flipBanner {float:left; position:relative; width:100%; z-index:9002}
.flipBannerWrap .flipBanner li {float:left; margin:0 15px 15px 0; position:relative; width:123px; z-index:1}
.flipBannerWrap .flipBanner .product {float:left; height:112px; margin:0 15px 15px 0; padding:6px; position:relative; text-align:center; width:111px; z-index:2}
.flipBannerWrap .flipBanner .product.disable {opacity:0.5;filter:alpha(opacity=50)!important;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)!important}
.flipBannerWrap .flipBanner .product.active {background:url(/assets/images/newhompageimages/images/bg-prdct.png) 0 0 no-repeat; z-index:3}
.flipBannerWrap .flipBanner .product .front {cursor:pointer; float:left; height:112px; left:6px; position:absolute; top:6px; width:111px}
.flipBannerWrap .flipBanner .product span.imgBox {float:left; width:100%}
.flipBannerWrap .flipBanner .product span.imgBox img {float:left; width:100%}
.flipBannerWrap .flipBanner .product span.text {color:#fff; float:left; font-size:1.4em; line-height:1.2em; text-align:center; width:100%}
.flipBannerWrap .flipBanner .product span.text.singleLine {line-height:2em}
.flipBannerWrap .flipBanner .product .icon {z-index:1}
.flipBannerWrap .flipBanner .product.active .icon {background:url(/assets/images/newhompageimages/images/bg-product-active.png) center center no-repeat; z-index:3}
.flipBannerWrap .flipBanner .product .back span {display:none}
/*.flipBannerWrap .flipBanner .product .back {background:url(images/bg-product.png) center center no-repeat; background-size:100% 100%; cursor:pointer; display: none; float:left; height:112px; left:6px; position:absolute; top:-100px; width:111px; overflow:hidden;}*/
.flipBannerWrap .flipBanner .product .back {cursor:pointer; display: none; float:left; height:112px; left:50%; position:absolute; top:6px; width:0; overflow:hidden;}
/*changed on 17-08-16 by J*/
.flipBannerWrap .morePrdct {color:#ff0000; font-size:1.3em; left:227px; line-height:1.2em; position:absolute; top:338px}
.flipBannerWrap .backPrdct {color:#ff0000; font-size:1.3em; left:-100px; line-height:1.2em; position:absolute; top:345px}
/*/changed on 17-08-16 by J*/

.flipBannerWrap .product1 .detailBox, .flipBannerWrap .product3 .detailBox, .flipBannerWrap .product5 .detailBox, .flipBannerWrap .product7 .detailBox {background:url(/assets/images/bg-prdct-details.png) 0 0 no-repeat; float:left; height:122px; left:50px; overflow:hidden; position:absolute; top:1px; width:207px; z-index:2}
.flipBannerWrap .detailBox .content {float:left; width:207px}
.flipBannerWrap .product1 .detailBox .close, .flipBannerWrap .product3 .detailBox .close, .flipBannerWrap .product5 .detailBox .close, .flipBannerWrap .product7 .detailBox .close {background:url(/assets/images/declutter/btn-close.png) 0 0 no-repeat; height:13px; position:absolute; right:6px; top:7px; width:14px}
.flipBannerWrap .product1 .detailBox .buttons, .flipBannerWrap .product3 .detailBox .buttons, .flipBannerWrap .product5 .detailBox .buttons, .flipBannerWrap .product7 .detailBox .buttons {float:left; padding:25px 0 0 75px}
.flipBannerWrap .product1 .detailBox .buttons a, .flipBannerWrap .product3 .detailBox .buttons a, .flipBannerWrap .product5 .detailBox .buttons a, .flipBannerWrap .product7 .detailBox .buttons a {float:left; margin-bottom:5px; width:119px}
.flipBannerWrap .product2 .detailBox, .flipBannerWrap .product4 .detailBox, .flipBannerWrap .product6 .detailBox, .flipBannerWrap .product8 .detailBox {background:url(/assets/images/declutter/bg-prdct-details.png) 0 0 no-repeat; float:left; height:122px; right:50px; overflow:hidden; position:absolute; top:1px; width:207px; z-index:2}
.flipBannerWrap .product2 .detailBox .close, .flipBannerWrap .product4 .detailBox .close, .flipBannerWrap .product6 .detailBox .close, .flipBannerWrap .product8 .detailBox .close {background:url(/assets/images/btn-close.png) 0 0 no-repeat; height:13px; position:absolute; left:6px; top:7px; width:14px}
.flipBannerWrap .product2 .detailBox .buttons, .flipBannerWrap .product4 .detailBox .buttons, .flipBannerWrap .product6 .detailBox .buttons, .flipBannerWrap .product8 .detailBox .buttons {float:left; padding:25px 75px 0 0}
.flipBannerWrap .product2 .detailBox .buttons a, .flipBannerWrap .product4 .detailBox .buttons a, .flipBannerWrap .product6 .detailBox .buttons a, .flipBannerWrap .product8 .detailBox .buttons a {float:right; margin-bottom:5px; width:119px}
.flipBannerWrap .product .detailBox {width:0}
.overlayBanner {position:fixed;top:0;left:0;width:100%;height:100%;display:none;background:#fff;z-index:9000;opacity:0.5;filter:alpha(opacity=50)!important;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)!important}
.overlayFlipBanner {position:fixed;top:0;left:0;width:100%;height:100%;display:none;background:#fff;z-index:9001;opacity:0.5;filter:alpha(opacity=50)!important;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)!important}
.overlayflip {position:fixed;top:0;left:0;width:100%;height:100%;display:none;background:#fff;z-index:2;opacity:0.5;filter:alpha(opacity=50)!important;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)!important}
/*Home Flip Banner -Added on 28th Aug'15 Ends*/
.overlayPrdct {position:fixed;top:0;left:0;width:100%;height:100%;display:none;background:#000;z-index:9000;opacity:0.5;filter:alpha(opacity=50)!important;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)!important}
.lightBoxPrdct {background-color:#fff; border-radius:5px; display:none; float:left; left:50%; margin-left:-206px; position:fixed; top:40%; width:412px; z-index:9001}
.lightBoxPrdct .closeBtnPrdct {background:url(/assets/images/newhompageimages/btn-close-prdct.png) 0 0 no-repeat; float:left; height:28px; position:absolute; right:-9px; top:-8px; width:28px}
.lightBoxPrdct .contentBox {float:left; padding:15px; width:382px;}
.lightBoxPrdct .contentBox p {color:#111111; float:left; padding-bottom:9px; width:100%}
.lightBoxPrdct .contentBox p.note {font-size:0.9em; padding:10px 0 15px}
.lightBoxPrdct .contentBox .selectWrapper {background: url(/assets/images/newhompageimages/bg-select.gif) no-repeat right 0 #fff; border:1px solid #a0a0a0; height:36px; position: relative; width: 180px; z-index: 1; float: left; }
.lightBoxPrdct .contentBox .selectWrapper .selectedvalue { position: absolute; width: 165px; top: 0; left: 0; padding: 10px 0 10px 15px; color: #4e4e4e; font-size: 1.3em }
.lightBoxPrdct .contentBox .selectWrapper select { position: absolute; top: 0; left: 0; height: 38px; width: 100%; opacity: 0; filter: alpha(opacity=0); z-index: 2; cursor: pointer }
/*Home Flip Banner -Added on 28th Aug'15 Ends*/

/*Added by Indigo on 16th Mar'16- Starts*/
.login_panel{float:right; position:static; width:374px}
.login_panel .login_button{background:transparent url(images/loginbg.png) right top;width:101px;height:38px;font-size:1.6em;font-weight:700;color:#000;cursor:pointer;float:right; text-indent:-99999px}
.login_panel .loginwrap {/*background:url(../assets/images/bg-loginwrap.png) 0 0 no-repeat;*/ background:#fff; border-radius:5px;float:left; padding:4px 0; width:100%}/*changed on 26-07-16 by Swapnil*/
/* Changed on 17-08-16 by J */
.login_panel .selectWrapper { float:left; margin:2px 4px 0 10px; position: relative; width:257px}
.login_panel .selectedvalue {background: url(/assets/images/hm-netbankingdropdownarrow.png) no-repeat #fff 95% 50%; border: 1px solid #999;  color:#405e7c; cursor:pointer; font-size: 1.4em; height:28px; left:0; line-height:2em; overflow:hidden; position: absolute; text-indent:10px; top:0px; width: 97%; font-family: 'open_sansregular'; border-radius: 4px; -webkit-border-radius: 4px;
	-moz-border-radius: 4px;}
/* /Changed on 17-08-16 by J */
.login_panel .selectWrapper select {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0;	opacity:0;	cursor: pointer; left:0; top:0; width:100%; height:27px;}
.login_panel .selectWrapper select option {border-bottom:1px solid #666; padding:3px}
.login_panel .expand {background:#fff; border-radius:0 0 5px 5px; display:none; float:left; left:0; position:absolute; top:35px; padding:0 8px 0 9px; width:240px; z-index:9}
/* Changed on 17-08-16 by J */
.login_panel .expand ul.loginOption li {background:url(/assets/images/arrow-more.png) 0 10px no-repeat; border-top:1px solid #6aa8e1; color:#333; cursor:pointer; float:left; font-size:1.2em; padding:7px 0 7px 15px; width:225px; font-weight: bold;}
.login_panel .expand ul.loginOption li:first-child { border: none}
/* Changed on 17-08-16 by J */
.login_panel .expand ul.loginOption li:hover {color:#005593}
.login_panel .expand ul.otheropt li {float:left; font-size:1.1em; font-weight:bold; padding:10px 20px 10px 0}
/*Added by Indigo on 16th Mar'16- ends*/
/*Start - Added on 04th April 16 to resolve popup issue on IE*/
.light_warp{display:none}
.light_warp .lightbox { background:#ffffff; border-radius:5px; border:1px solid #000; padding:20px; left:0; margin:0 auto; position:absolute; right:0; top:42%; width:40%; z-index:12; *left:50%; *margin-left:-20%}
.light_warp .lightbox .close { background:url(/assets/images/close.png) no-repeat scroll 0 0; cursor:pointer; height:47px; position:absolute; right:-20px; top:-20px; width:47px; }
.light_warp .lightbox p { line-height:15px;}
.light_warp .overlay_box{ background-color:#333333; display:none; height:100%; left:0; opacity:0.7; filter:alpha(opacity=70); position:fixed; top:0; width:100%; z-index:11; }
/*End - Added on 04th April 16 to resolve popup issue on IE*/

/* Added on 17-06-16 by J*/
div.header { padding-top: 10px}
.navigation { padding-top: 10px}
/*div.footer_wrapper { background: url(/assets/images/bg-footer.gif) repeat-x 0 0 #0862ae;}*/
.homequicklinks { box-sizing: border-box; float: left; width: 100%; padding: 0 10px}
.homequicklinks * {box-sizing: border-box}
.homequicklinkscol { float: left; width: 300px;  margin-left: 15px}
.homequicklinkscol:first-child { margin-left: 0}
.homequicklinkslist {background: #f2f2f2; border-radius: 5px; -webkit-border-radius: 5px;
	-moz-border-radius: 5px; padding: 20px; -webkit-box-shadow: 0px 1px 3px 2px rgba(234,234,234,1);
-moz-box-shadow: 0px 1px 3px 2px rgba(234,234,234,1);
box-shadow: 0px 1px 3px 2px rgba(234,234,234,1); height: 250px}
.homequicklinkscol h2, .homepagenewssection h2 { padding: 12px 0; color: #004b8f; font-size: 1.8em; font-family: 'open_sanssemibold';}
.homequicklinkslist ul li { font-size: 1.6em; font-family: 'open_sansregular'; padding: 10px 0; border-top: 1px solid #e0e0e0}
.homequicklinkslist ul li:first-child { border: none}
.homequicklinkslist ul li a { color: #333; display: block; transition: all 0.1s; -webkit-transition: all 0.1s;
   -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
     -o-transition: all 0.1s;}
.homequicklinkslist ul li a:hover { margin-left: 5px; opacity: 0.7; opacity: filter(alpha=70)}
.scrollbars { overflow-y: scroll; position: absolute; top:0; left: 0; }
.homequicklinkslist.scrollbars {height: 250px;overflow: hidden;position: relative;}
/* Custom Scroll */


.scrollbar-path-vertical {
    position: absolute;
    background-color: #ccc;
    background-color: rgba(220,220,220,0.5); 
    z-index: 3!important;
}

.scrollbar-path-vertical {
    right: 10px; 
    top: 0; 
    height: 100%;
    width: 2px; 
}
.homequicklinkslist .scrollbar-path-vertical {
height: 210px!important; 
}
.scrollbar-handle{
    position: relative;
    top: 0;
    left: 0;
    background-color: #999; 
}
.scrollbar-path-vertical .scrollbar-handle {
    height: 30%;
    left: -2px;
    width: 6px;
    border-radius: 2px; -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    *opacity: 1!important;
}

.scrollbar-content {
    padding: 0 0 0 0;
    width: 95%
}
/* /Custom Scroll */
.homepagenewssection { margin: 19px 0; float: left; width: 100%; padding: 0 10px; box-sizing: border-box; font-family: 'open_sansregular';}
.homepagenewssection * { box-sizing: border-box}
.homepagenewssection .homelearningcenter { float: left; width: 615px; margin-right: 13px}
.homepagenewssection .homelearningcenterinner { float: left; width: 100%; ;background: #f2f2f2; border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;  -webkit-box-shadow: 0px 1px 3px 0 rgba(234,234,234,1);
-moz-box-shadow: 0px 1px 3px 0 rgba(234,234,234,1);
box-shadow: 0px 1px 3px 0 rgba(234,234,234,1);}
.homepagenewssection .homelearningcenterinner .homelearningcenterinnerlist { padding: 20px; height: 219px; overflow-y: scroll; float: left; width: 100%}
.homepagenewssection .homelearningcenterinner ul li { padding: 14px 20px 14px 0; float: left; width: 100%; border-top: 1px solid #e0e0e0}
.homepagenewssection .homelearningcenterinner ul li:first-child { border: none; padding-top: 0}
.homepagenewssection .homelearningcenterinner ul li .image { float: left;  width: 87px}
.homepagenewssection .homelearningcenterinner ul li .content { width: 460px; padding-left: 22px;float: left; color: #333}
.homepagenewssection .homelearningcenterinner ul li .content h3 { margin-top: -4px;  font-size: 1.6em; color: #333; font-weight: normal;  font-family: 'open_sanssemibold'; }
.homepagenewssection .homelearningcenterinner ul li .content h3 span { color: #004b8f; font-style: italic}
.homepagenewssection .homelearningcenterinner ul li .content p.desc { font-size: 1.4em; }
.homepagenewssection .homelearningcenterinner ul li .content p.dateandlikes { font-size: 1.2em; padding: 4px 0}
.homepagenewssection .homelearningcenterinner ul li .content p.dateandlikes span { display: inline-block; padding-right: 25px}
.homepagenewssection .homelearningcenterinner ul li .content p.dateandlikes span.like { padding-left: 20px; background: url(/assets/images/hm-likeicon.png) no-repeat 0 1px} 
.homepagenewssection .scrollbar-content { width: 99%}
.homepagenewssection .scrollbar-path-vertical {
height: 200px!important; 
}
.homepagenewssection .news { width: 307px; float: right;  height: 200px}
.homepagenewssection .news ul li { width: 307px; float: left}
.homepagenewssection .news .homepagenewsTicker { width: 307px; height: 220px; overflow: hidden; position: relative}
.homepagenewssection .news .homepagenewsTicker .prev, .homepagenewssection .news .homepagenewsTicker .next { position: absolute; left: 20px; bottom: 12px;  width: 9px; height: 17px; display: inline-block; background: url(/assets/images/hm-caroicons.png) no-repeat 0 0; cursor: pointer;}
.homepagenewssection .news .homepagenewsTicker .next { left: 42px; background-position: right top}

.homepagenewssection p.readalllink { width: 100%;float: left; width: 100%; ;background: #f2f2f2; border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 8px 8px;  -webkit-box-shadow: 0px -1px 1px 1px rgba(234,234,234,1);
-moz-box-shadow: 0px -2px 3px 1px rgba(234,234,234,1);
box-shadow: 0px -2px 3px 1px rgba(234,234,234,1); padding: 0 20px}
.homepagenewssection p.readalllink a, .homequicklinkslist .animatedseealllink { color: #004b8f; font-family: 'open_sanssemibold'; font-size: 14px; text-transform: uppercase; padding: 17px 0 15px 35px; display: block; transition: all 0.1s;-webkit-transition: all 0.1s;-moz-transition: all 0.1s;-ms-transition: all 0.1s;-o-transition: all 0.1s;background: url(/assets/images/hm-arrowicon.png) no-repeat 0 18px}
.homepagenewssection p.readalllink a:hover, .homequicklinkslist .animatedseealllink:hover { background-position: 8px 18px; opacity: 0.8; filter: alpha(opacity=80);margin-left: -4px}
.homepagenewssection a:hover, .homequicklinks a:hover { text-decoration: none}
.homequicklinkslist .animatedseealllink { border-top: 1px solid #e0e0e0; padding-top: 22px; background-position:  0 23px}
.homequicklinkslist .animatedseealllink:hover {background-position:  8px 23px; }
.login_panel .otheropt li { font-size: 1.3em;  font-family: 'open_sansregular'; font-weight: normal; padding: 0  }
.login_panel .otheropt li a {border-left: 1px solid #d2d2d2; padding: 0 10px 2px;line-height: 13px; display: inline-block}
.login_panel .otheropt li:first-child a { border: none;padding-left: 22px}

a.homeloginbtn::before, .flipBannerWrap .detailBox .buttons a.applynowknowmore::before  {background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    /*transition-duration: 0.8s;*/
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
    border-radius: 0; -webkit-border-radius: 0;
	-moz-border-radius: 0;
}
a.homeloginbtn, .flipBannerWrap .detailBox .buttons a.applynowknowmore { width: 93px; height: 30px; display: block; background: #fe1300; border: 1px solid #fe1300;  border-radius: 3px; -webkit-border-radius: 3px;
	-moz-border-radius: 3px; color: #fff; font-size: 1.4em; font-family: 'open_sanssemibold'; float: left; margin: 2px 0 0; text-transform: uppercase; text-align: center; padding: 5px 0 0; box-sizing: border-box;  position: relative;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: all;}


a.homeloginbtn:hover::before, .flipBannerWrap .detailBox .buttons a.applynowknowmore:hover::before  {transform: scale(1); color: #fe1300 }
a.homeloginbtn:hover, .flipBannerWrap .detailBox .buttons a.applynowknowmore:hover  {background: #ffffff\0;  border: 1px solid #fe1300; text-decoration: none; color: #fe1300;}
ul.otheropt { float: left; width: 100%; padding-top: 5px}
ul.otheropt li a:hover { text-decoration: none; opacity: 0.7}

.homebanner .ad-size-374x330 .active {
    background-image: url(/assets/images/declutter/hmbannercarodot-active.png)!important;
}

.homebanner .thumbnail {
    background-image: url(/assets/images/declutter/hmbannercarodot.png)!important;
   }


a.morePrdct:hover, a.backPrdct:hover {
    opacity: 0.8; filter: alpha(opacity=80);-webkit-transition: all 0.1s;
   -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
     -o-transition: all 0.1s;
}



.flipBannerWrap .detailBox .buttons a.applynowknowmore { width: 110px; margin-top: 8px; margin-left: 10px}


.login_panel .selectedvalue.active { background: #fff url("/assets/images/hm-netbankingdropdownarrow-active.png") no-repeat scroll 95% 50%}
/* /Added on 17-06-16 by J*/