/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


@font-face {
	font-family: "Trade Gothic Light";
	src: url("clientlibs/fonts/1d699af3-0e50-4c4b-a343-42d071e85714.eot");
	src: url("clientlibs/fonts/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("embedded-opentype"),
	     url("clientlibs/fonts/537b145a-6a7d-4787-81d9-7228d3a42458.woff") format("woff"),
	     url("clientlibs/fonts/8e50278c-45cd-4808-b774-24767d958f17.ttf") format("truetype"),
	     url("clientlibs/fonts/d918b947-5fcb-42e2-8286-a98a801876de.svg#d918b947-5fcb-42e2-8286-a98a801876de") format("svg");
}
@font-face {
	font-family: "Trade Gothic Roman";
	src: url("clientlibs/fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot");
	src: url("clientlibs/fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix") format("embedded-opentype"),
	     url("clientlibs/fonts/c4aef0d4-bfcf-4790-acf5-909881f411e8.woff") format("woff"),
	     url("clientlibs/fonts/e741f29c-bc18-4343-bff3-db2465a0be3e.ttf") format("truetype"),
	     url("clientlibs/fonts/853e2a9b-4057-42a5-ad7e-0762cda0b13c.svg#853e2a9b-4057-42a5-ad7e-0762cda0b13c") format("svg");
}
@font-face {
    font-family: "Trade Gothic Bold";
    src: url("clientlibs/fonts/2607A2_1_0.eot");
    src: url("clientlibs/fonts/2607A2_1_0.eot?#iefix") format("embedded-opentype"),
         url("clientlibs/fonts/2607A2_1_0.woff") format("woff"),
         url("clientlibs/fonts/2607A2_1_0.ttf") format("truetype"),
         url("clientlibs/fonts/2607A2_1_0.svg#2607A2_1_0") format("svg");
}
/**/
body {
	background: #fff;
	color: #464646;
	font-family: "Trade Gothic Roman", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.375;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	color: #0171aa;
	font-weight: normal;
	
}
h1 {
	font-size: 30px;
	line-height: 1.05;
}
h2 {
	font-size: 22px;
	line-height: 1.25;
}
h3 {
	font-size: 20px;
	line-height: 1.25;
}
h4 {
	font-size: 18px;
	line-height: 1.22;
}

a {
	color: #0171aa;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section {
	clear: both;
	width: 100%;
}

b, strong {
	font-family: "Trade Gothic Bold", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}
#header {
	background: #b9e4f9;
	position: relative;
}

#header #top {
	background: #ddf2fc;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: normal;
	height: 28px;
}

#header .topmenu {
	float: right;
	margin: 4px 0px;
}
#header .topmenu > div {
	border-right: 1px solid #ccc;
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 0 15px;
}
#header .topmenu > .login {
	padding-right: 0;
	border-right: 0;
}
#header a.button {
	background: #0088ce;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	height: 20px;
	padding: 0 8px;
	text-decoration: none;
}
#header a.button:hover {
	background: #003c69;
}
#header .label a {
	background-image: url("clientlibs/images/icon-dropdown-globe.png");
	background-position: 6px center;
	background-repeat: no-repeat;
	padding-left: 24px;
}
#header .label a:hover {
	background-image: url("clientlibs/images/icon-dropdown-globe.png");
	background-position: 6px center;
	background-repeat: no-repeat;
}
#header .contact {
	color: #0171aa;
}
#header .contact a.button + a {
	margin-left: 8px;
 margin-right:5px;
}

#header .main {
	height: 80px;
}

#header #logo {
	float: left;
	margin-top: 31px;
}
#header #logo a {
	display: block;
	height: 33px;
	width: 199px;
}

#header #navbarRegion {
	float: left;
	margin: 44px 10px 0 20px;
	max-height: 36px;
	max-width: 536px;
}
#header ul.nav {
	float: left;
}
#header ul.nav li {
	float: left;
	font-size: 14px;
	line-height: 1;
	margin: 0;
	padding: 0 10px;
	position: relative;
	text-align: center;
}
#header ul.nav.enanz li,
#header ul.nav.enapac li,
#header ul.nav.enemea li,
#header ul.nav.enlac li,
#header ul.nav.enmea li,
#header ul.nav.enru li,
#header ul.nav.enus li {
	padding: 0 27px;
}
#header ul.nav.eses li {
	padding: 0 17px;
}
#header ul.nav.eslac li {
	padding: 0 14px;
}
#header ul.nav.frfr li,
#header ul.nav.ptlac li {
	padding: 0 21px;
}
#header ul.nav.jajp li {
	padding: 0 18px;
}
#header ul.nav.zhapac li {
	padding: 0 34px;
}
#header ul.nav li a {
	display: block;
	height: 36px;
	text-decoration: none;
}
#header ul.nav li.selected:after,
#header ul.nav li.section_link:after {
	left: 50%;
	margin-left: -21px;
	position: absolute;
	top: 28px;
	z-index: 30;

}
#header ul.nav li.selected:after{
	content: url("clientlibs/images/icon-menu-arrow-hover.png");
}
#header ul.nav li.section_link:after {

    content: url("clientlibs/images/icon-menu-arrow-active.png");
}


#header ul.nav li a.selected:after {
	content: url("clientlibs/images/icon-menu-arrow-hover.png");
}
#header ul.nav li a.selected:after,
#header ul.nav li a.section_link:after {
	left: 50%;
	margin-left: -21px;
	position: absolute;
	top: 28px;
	z-index: 30;

}
#header ul.nav li a.section_link:after {
    content: url("clientlibs/images/icon-menu-arrow-active.png");
}

#header #submenu {
	background: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 2px 5px #999;
	display: none;
	left: 200px;
	padding: 20px 0 0 20px;
	position: absolute;
	top: 80px;
	z-index: 20;
}
#header #submenu .submenu_content {
	display: none;
}
#header #submenu .submenu_content.selected {
	display: block;
}
#header #submenu .column {
	float: left;
	margin: 0 20px 20px 0;
	padding: 0;
	width: 208px;
}
#header #submenu span {
	color: #0171aa;
	font-size: 18px;
	line-height: 1.25;
}
#header #submenu ul {
	margin: 5px 0 0 0;
}
#header #submenu ul ul {
	margin: 0 0 0 30px;
}
#header #submenu li {
	float: none;
	font-size: 14px;
	line-height: 1.25;
}
#header #submenu ul ul.disc {
	margin: 0 0 0 28px;
}

#header .searchWrap {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 2px #666;
	height: 23px;
	padding-top: 5px;
	position: absolute;
	right: 0;
	top: 37px;
	width: 138px;
}
#header .searchWrap input[type="text"] {
	background: transparent;
	border: 0;
	color: #5d5d5d;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: normal;
	height: 20px;
	margin: 0;
	outline: none;
	padding: 0 8px;
	width: 90px;
}
#header .searchWrap input[type="submit"] {
	background: url("clientlibs/images/icon-search.png") no-repeat center;
	border: 0;
	border-left: 1px solid #666;
	float: left;
	font-size: 0;
	height: 20px;
	line-height: 0;
	margin: 0;
	padding: 0 5px;
	width: 32px;
}

.sidebar {
	width: 274px;
}
.blue_box {
            background: #0088ce;
            border-radius: 5px;
            box-shadow: 5px 5px 5px #999;
			margin-bottom: 40px;
            padding: 24px;
 }

.blue_box * {
	color: #fff;
}
.blue_box h3,
.blue_box h4 {
	font-weight: normal;
    margin-top: 0;
	margin-bottom: 5px;
}
.blue_box h3 {
	font-family: "Trade Gothic Bold", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blue_box .login {
	line-height: 25px;
	padding-left: 30px;
}
.blue_box .phone {
	background: url("clientlibs/images/icons/icon-phone.png") no-repeat;
	display: block;
	min-height: 40px;
	padding-left: 46px;
}
.blue_box a.email {
	display: inline-block;
	padding-left: 25px;
}
.blue_box a.orange_btn {
	line-height: normal;
	margin-top: 10px;
}
.blue_box p {
	clear: both;
	margin: 5px 0;
}
.blue_box img {
	background: #eee;
	border-radius: 5px;
	max-width: 206px;
	padding: 20px 10px;
}
#footer {
	color: #666;
	clear: both;
}
#footer * {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
#footer h3 {
	margin: 0 0 5px 0;
}
#footer .main {
	background-color: #ddf2fc;
	padding: 45px 0 30px;
}
#footer .main a {
	color: #666;
}
#footer .main a.orange_btn {
	color: #fff;
}
#footer .column {
	float: left;
	padding: 0 20px 0 0;
	width: 160px;
}
#footer .column h3 {
	text-transform: uppercase;
}
#footer .column ul {
	line-height: 1.25;
	margin: 0;
}

#footer .social {
	clear: both;
	float: left;
	margin-top: 20px;
	position: relative;
	width: 100%;
}
#footer .social ul {
	float: left;
	left: 50%;
	list-style: none;
	margin: 0;
	position: relative;
}
#footer .social ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 5px;
	position: relative;
	right: 50%;
}
#footer .social ul li:first-child {
	margin-left: 0;
}
#footer .social ul li:last-child {
	margin-right: 0;
}
#footer .social a.icon-blog,
#footer .social a.icon-facebook,
#footer .social a.icon-gplus,
#footer .social a.icon-linkedin,
#footer .social a.icon-slideshare,
#footer .social a.icon-twitter,
#footer .social a.icon-youtube {
	display: inline-block;
	height: 25px;
	width: 25px;
}
#footer .social a.icon-blog {
	background: url("clientlibs/images/icon_blog.png") no-repeat;
}
#footer .social a.icon-gplus {
	background: url("clientlibs/css/etcdesignscybersourceclientlibscssext-footer.css") no-repeat;
}

#footer .social a.icon-linkedin {
	background: url("../../../resources/images/global/icon_linkedin.png") no-repeat;
}

#footer .social a.icon-twitter {
	background: url("clientlibs/images/icon_twitter.png") no-repeat;
}
#footer .social a.icon-youtube {
	background: url("../../../resources/images/global/icon_youtube.png") no-repeat;
}

#footer .copyright {
	line-height: normal;
	padding: 22px 0;
	text-align: center;
}
#footer .copyright a.evidon {
	background: url("../../../resources/images/footer/evidon.png");
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 18px;
	padding-left: 15px;
    margin-left:3px;
}


form {
	margin-bottom: 10px;	
}
fieldset {  
	background-color: #fff;
	border: 0px;
	margin: 0 0 10px 0;
	padding: 10px 0;
	position: relative;
}
fieldset label {
	font-weight: normal;
	margin-right: 1px;
}
fieldset p {
	margin-top: 0;
}
fieldset span.asterisk {
	padding-left: 3px;
}
fieldset .form-required {
	font-size: 12px;
	line-height: normal;
	margin-bottom: 10px;
}
fieldset .form-row {
	margin-bottom: 10px;
}
fieldset input[type="text"],
fieldset select,
fieldset textarea {
	border-color: #999 #ccc #ccc #999;
	border-style: solid;
	border-width: 1px;
}
fieldset input[type="text"] {
	padding: 2px;
}
fieldset input[type="checkbox"] {
	height: 1em;
	margin-right: 5px;
	padding: 0;
	position: relative;
	top: -1px;
	vertical-align: bottom;
	width: 1em;
}
fieldset input[type="text"].error {
	border: 1px solid #bd3632;
	color: #bd3632;
}
fieldset select.error {
	border: 1px solid #bd3632;
}
fieldset label.error {
	color: #bd3632;
	padding-left: 0.5em;
}
input#submitButton {
	background: #ff7900;
	border: 0;
	border-radius: 5px;
	color: #fff;
	padding: 7px 20px;
}
.asterisk {
    color: #464646;
}

form td.elementName {
    background-color: #ddf2fc;
    width: 130px;
}
form td {
    border-bottom: 1px solid #b9e4f9;
    padding: 10px;
}

form textarea.privacy {
    height: 220px;
    max-width: 400px;
    width: 400px;
}
.center {
	position: relative;
	margin: 0 auto;
	width: 904px;
}

.clear {
	clear: both;
}

pre {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	padding: 10px;
}

ul.circle,
ul.disc,
ul.square {
	margin-left: 14px;
}
ul.circle,
ul.disc {
	list-style: disc outside none;
}
ul.square {
	list-style: square outside none;
}

#hero {
	height: 360px;
}
#hero ul.slides li {
	background-position: top center;
	color: #999;
	display: none;
	float: left;
	height: 360px;
	position: absolute;
	width: 100%;
	z-index: 0;
}
#hero ul.slides li.active {
	display: inline-block;
}
#hero ul.slides li div.text {
	padding: 0;
	position: absolute;
	right: 0;
	top: 50px;
	width: 390px;
}
#hero ul.slides li div.text.left {
	left: 0;
}
#hero ul.slides li div.text h1,
#hero ul.slides li div.text h2 {
	color: #fff;
	font-size: 36px;
	font-family: "Trade Gothic Bold", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.25;
	margin: 0;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}
#hero ul.slides li div.text p {
	color: #fff;
	font-size: 22px;
	line-height: 1.25;
	margin: 6px 0 10px;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.48);
}
#hero ul.slides li div.text span.tagline {
	font-size: 22px;
	line-height: 1.25;
}
#hero ul.slides li div.text.blue h1,
#hero ul.slides li div.text.blue h2 {
	color: #0171aa;
	text-shadow: 0px 0px 7px rgba(221, 242, 252, 0.9);
}
#hero ul.slides li div.text.blue p {
	color: #0171aa;
	text-shadow: 0px 0px 7px rgba(221, 242, 252, 0.88);
}

#breadcrumbs {
	color: #999;
	font-size: 14px;
	line-height: normal;
    padding: 15px 0 0;
}
#breadcrumbs_inc_order {
    color: #999;
	font-size: 14px;
	line-height: normal;
    padding: 15px 0 17px;

}
#breadcrumbs span.separator {
	display: inline-block;
	font-size: 12px;
	margin: 0 0.7em;
}
#breadcrumbs_inc_order span.separator {
    display: inline-block;
	font-size: 12px;
	margin: 0 1em;
}
.heroVideo {
	background-color: #ddf2fc;
	padding: 40px;
}
.heroVideo .intro {
	float: left;
	margin-right: 20px;
	width: 362px;
}
.heroVideo .intro h2 {
	font-size: 24px;
	line-height: 1.25;
}
.heroVideo .intro p {
	font-size: 18px;
	line-height: 1.25;
}
.heroVideo .videoContainer {
	float: left;
	margin-left: 20px;
	width: 422px;
}
.heroVideo video,
.heroVideo .video-js {
	float: right;
}

.column {
	float: left;
	padding-bottom: 40px;
}
.column hr {
	border: 0;
	border-top: 1px solid rgba(70, 70, 70, 0.1);
	border-bottom: 1px solid rgba(70, 70, 70, 0.7);
	height: 0;
	margin: 25px 0;
}
.column h2.subtitle {
	      margin: 20px 0 10px 0;
}
div.disc>h2.subtitle:first-child{
       margin-top: 0;
       } 
#sub_title {
	      margin: 20px 0 10px 0;
}
.column > h2.subtitle:first-child {
	margin-top: 0;
}
.column > h2.subtitle:nth-child(2) {
    	margin-top: 0;
}
.column h2.subtitle.grey {
	color: #464646;
}
.column.two h2.subtitle {
	font-size: 20px;
}
.column h2.subtitle + p {
	margin-top: 0;
}
.column h2.subtitle + ul {
	margin-top: 0;
}
.column > p:first-child,
.column > ul:first-child {
	margin-top: 0;
}
.column > p:last-child,
.column > ul:last-child {
	margin-bottom: 0;
}
.column ul {
	margin: 15px 0;
}
.column ul.circle,
.column ul.disc,
.column ul.square {
	margin-left: 14px;
}
.column ul ul {
	margin: 0 0 0 30px;
}
.column ul li,
.column ol li {
	float: none;
	margin-bottom: 5px;
}
.column ul li:last-child {
	margin-bottom: 0;
}
.column .columnTitle {
	color: #0171aa;
	font-size: 18px;
	line-height: 1.25;
}
.column .intro {
	font-size: 17px;
	line-height: 1.5;
	width: 590px !important;
}
#introduction {
	font-size: 17px;
	line-height: 1.5;
}
.column .intro > p:first-child {
	margin-top: 0;
}
#introduction > p:first-child{
	margin-top: 0;
}

.column.wrapper {
	width: 630px;
}

.column.one {
	padding-right: 40px;
	width: 590px;
}

.column.two {
	padding-right: 40px;
    padding-bottom:0px;
    width: 275px;

}

.heroVideo {
	display: block;
	margin-bottom: 40px;
}

/* styles for cle columns */
.cle-row {
	float: left;
	border-bottom: 1px solid #e1e1e1;
	margin: 40px 0 0 0;
	padding-bottom: 40px;
}
.cle-row:first-child {
	margin-top: 0;
}
.cle-row:last-child {
	border: none;
	padding-bottom: 0;
}
.cle-row .column {
	margin: 0;
	padding: 0;
}
.cle-row > .column.wrapper {
	margin-right: 40px;
	width: 590px;
}
.cle-row > .column.blue {
	background-color: #e1f4fc;
	padding: 20px;
	width: 550px;
}
.cle-row > .column.blue > .column.two {
	width: 255px;
}
.cle-row > .column.wrapper > .column.two:first-child {
	padding-right: 40px;
}
.cle-row > .column.wrapper img {
	float: right;
}
.cle-row > .sidebar > img {
	margin-bottom: 20px;
}
.cle-row > .sidebar > .blue_box {
	margin-bottom: 0;
}

a.file:after,
a.rss:after,
a.pdf:after,
a.pdfIcon:after,
a.video:after {
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	height: 16px;
	
	vertical-align: text-bottom;
/*	width: 16px;*/
}
a.file:after,
a.pdf:after,
a.pdfIcon:after {
	background-image: url("clientlibs/images/icon-document.png");
}
a.rss:after {
	background-image: url("clientlibs/images/icon-rss.png");
    width:16px;
	margin-left : 5px;
}
a.video:after {
	background-image: url("clientlibNew/new_uploadings/icon-video.png");
}

a.callToAction {
	display: inline-block;
	padding-left: 1em;
	position: relative;
}
a.callToAction:before {
	color: #ff7900;
	content: ">";
	font-family: "Trade Gothic Bold", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	left: 0;
	position: absolute;
	text-decoration: none;
}
a.callToAction:before:hover {
	text-decoration: none;
}

a[href^="tel:"] {
	cursor: text;
	text-decoration: none;
}

.orange_btn {
	background-color: #ff7900;
	border: 0;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	line-height: normal;
	margin: 0;
	padding: 7px 10px;
	text-decoration: none;
	cursor:pointer;
}
p.new_modal::after{
    clear:both;
    content:'';
    display:table;
    }
.orange_btn:hover {
    background: #e8540c;
	text-decoration: none;
}

span.footnote {
	font-size: 12px;
	line-height: normal;
}
div.footnote ol {
	font-size: 12px;
	line-height: normal;
}

.icon-x-small-acceptance-solutions,
.icon-x-small-api,
.icon-x-small-billing-mgmt,
.icon-x-small-card,
.icon-x-small-cloud,
.icon-x-small-customer-support,
.icon-x-small-developer-support,
.icon-x-small-featured,
.icon-x-small-getting-started,
.icon-x-small-globe,
.icon-x-small-industry-solutions,
.icon-x-small-merchant,
.icon-x-small-other-resources,
.icon-x-small-other-services,
.icon-x-small-partner,
.icon-x-small-partner-support,
.icon-x-small-presales-support,
.icon-x-small-product-support,
.icon-x-small-profsvcs,
.icon-x-small-programs,
.icon-x-small-resource-support,
.icon-x-small-target {
	display: block;
	min-height: 36px;
	padding-left: 42px;
}
.icon-x-small-acceptance-solutions {
	background: url("clientlibs/images/icons/icon-x-small-acceptance-solutions.png") no-repeat;
}
.icon-x-small-api {
	background: url("clientlibs/images/icons/icon-x-small-api.png") no-repeat;
}

.icon-x-small-card {
	background: url("clientlibs/images/icons/icon-x-small-card.png") no-repeat;
}

.icon-x-small-customer-support {
	background: url("clientlibs/images/icons/icon-x-small-customer-support.png") no-repeat;
}
.icon-x-small-developer-support {
	background: url("clientlibs/images/icons/icon-x-small-developer-support.png") no-repeat;
}
.icon-x-small-featured {
	background: url("clientlibs/images/icons/icon-x-small-featured.png") no-repeat;
}
.icon-x-small-getting-started {
	background: url("clientlibs/images/icons/icon-x-small-getting-started.png") no-repeat;
}
.icon-x-small-globe {
	background: url("clientlibs/images/icons/icon-x-small-globe.png") no-repeat;
}

.icon-x-small-merchant {
	background: url("clientlibs/images/icons/icon-x-small-merchant.png") no-repeat;
}
.icon-x-small-other-resources {
	background: url("clientlibs/images/icons/icon-x-small-other-resources.png") no-repeat;
}
.icon-x-small-other-services {
	background: url("clientlibs/images/icons/icon-x-small-other-services.png") no-repeat;
}
.icon-x-small-partner {
	background: url("clientlibs/images/icons/icon-x-small-partner.png") no-repeat;
}

.icon-x-small-presales-support {
	background: url("clientlibs/images/icons/icon-x-small-presales-support.png") no-repeat;
}

.icon-x-small-resource-support {
	background: url("clientlibs/images/icons/icon-x-small-resource-support.png") no-repeat;
}
.icon-x-small-target {
	background: url("clientlibs/images/icons/icon-x-small-target.png") no-repeat;
}

.icon-small-acceptance-solutions,
.icon-small-api,
.icon-small-benefits,
.icon-small-billing-mgmt,
.icon-small-billing-solutions,
.icon-small-card,
.icon-small-cloud,
.icon-small-customer-support,
.icon-small-developer-support,
.icon-small-featured,
.icon-small-fraud-solutions,
.icon-small-getting-started,
.icon-small-globe,
.icon-small-industry-solutions,
.icon-small-merchant,
.icon-small-other-resources,
.icon-small-other-services,
.icon-small-other-solutions,
.icon-small-partner,
.icon-small-partners,
.icon-small-partner-support,
.icon-small-presales-support,
.icon-small-product-support,
.icon-small-profsvcs,
.icon-small-programs,
.icon-small-resource-support,
.icon-small-security-solutions,
.icon-small-target {
	display: block;
	min-height: 51px;
	padding-left: 60px;
}

.icon-small-featured {
	background: url("clientlibs/images/icons/icon-small-featured.png") no-repeat;
}

.icon-small-merchant {
	background: url("clientlibs/images/icons/icon-small-merchant.png") no-repeat;
}

.icon-small-partner {
	background: url("clientlibs/images/icons/icon-small-partner.png") no-repeat;
}

.icon-small-target {
	background: url("clientlibs/images/icon-small-target.png") no-repeat;
}

.tabs {
	clear: both;
}
.tabs > ul {
	margin: 0;
}
.ui-widget-header{
  background: none;
    border:none;
    color:none;
    font-weight:none;
    }
.ui-widget-content{
    background: none;
    border:none;
    color:none;
        }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
 background:none repeat scroll 0 0 #ddf2fc;
    border:none;
       }
.tabs > ul li {
	background: #ddf2fc;
	border-left: 1px solid #ddf2fc;
	border-right: 1px solid #ddf2fc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #0171aa;
	float: left;
	margin: 0 0 0 2px;
	text-align: center;
}
.tabs > ul li:first-child {
	margin-left: 0;
}
.tabs > ul li.selected {
	background: #fff;
	border-top: 1px solid #ddf2fc;
	border-right: 1px solid #ddf2fc;
	border-left: 1px solid #ddf2fc;
	position: relative;
	z-index: 5;
}
.tabs > ul li a {
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	padding: 10px 6px;
	text-decoration: none;
	white-space: nowrap;
}
.tabs > ul li a:active,
.tabs > ul li a:focus {
	outline: none;
}
.tabs div.content {
	border: 1px solid #ddf2fc;
	clear: both;
	display: none;
	padding: 25px;
	position: relative;
	top: -1px;
}
.tabs div.content.selected {
	display: block;
}
.tabs div.content > .subtitle:first-child,
.tabs div.content > ul:first-child,
.tabs div.content > p:first-child {
	margin-top: 0 !important;
}
.tabs div.content > ul:last-child,
.tabs div.content > p:last-child,
.tabs div.content > div.showHideContainer:last-child {
	margin-bottom: 0;
}
.aboutTabs .tabs {
	margin-top: 40px;
}
.aboutTabs #news .newsFooter .callToAction {
	margin: 0;
}
.aboutTabs #news .newsFooter .rss {
	float: right;
}

.articles,
.events {
	display: table;
	width: 100%;
}
.article,
.event {
	display: table-row;
}

.articlereplace{
 font-size: 16px;
    line-height: 1.375;
    display:inherit;

}
.article > div,
.event > div {
	border-top: 1px solid #ccc;
	display: table-cell;
	padding: 15px 0;
	vertical-align: top;
}
.article:first-child > div,
.event:first-child > div {
	border: none;
	padding-top: 0;
}

.event:last-child > div {
	padding-bottom: 0;
}
.article .articleDate {
	padding-right: 20px;
	white-space: nowrap;
}
.event .eventDate {
	padding-right: 40px;
	white-space: nowrap;
}
.articleTitle,
.eventDetails {
	width: 99%;
}
.newsFooter {
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding-top: 15px;
}
.newsFooter .callToAction {
	margin-left: 20px;
}
#news p,
#events p,
#careers p {
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
#news p:first-child,
#events p:first-child,
#careers p:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
#news p:last-of-type,
#events p:last-of-type,
#careers p:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
}

.estaff {
	margin-top: 20px;
}
.estaff:first-child {
	margin-top: 0;
}
.estaff > img {
	float: left;
	padding: 3px 20px 10px 0;
}
.estaff > p {
	margin-top: 0;
	padding-top: 0;
}

#searchSupport {
	background: #ddf2fc;
	float: left;
	margin-bottom: 25px;
	padding: 15px;
	width: 560px;
}
#searchSupport .dropdown {
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	z-index: 15;
}
#searchSupport .label {
	background: #0088ce;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #fff;
	float: left;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	padding: 5px 12px;
	text-align: left;
	width: 140px;
}
#searchSupport .arrow {
	background: #33a0d8 url("clientlibs/images/icon-dropdown-arrow-down.png") no-repeat center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: block;
	float: left;
	height: 30px;
	width: 25px;
}
#searchSupport .menu {
	background: #6fbfe8;
	border-radius: 5px;
	border-top-left-radius: 0;
	box-shadow: 0 2px 2px #666;
	color: #fff;
	display: none;
	min-width: 195px;
	padding: 12px 0;
	position: absolute;
	text-align: left;
	top: 30px;
}
#searchSupport .menu ul {
	margin: 0;
	padding: 0;
}
#searchSupport .menu li {
	font-size: 14px;
	line-height: 1.5;
	padding: 0 12px;
}
#searchSupport .menu li:hover {
	background: #0088ce;
}
#searchSupport .dropdown.open .label {
	border-bottom-left-radius: 0;
}
#searchSupport .dropdown.open .arrow {
	border-bottom-right-radius: 0;
}
#searchSupport .searchWrap {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 2px #666 inset;
	float: left;
	height: 25px;
	margin-left: 7px;
	padding-top: 5px;
	width: 360px;
}
#searchSupport .searchWrap input[type="text"] {
	background: transparent;
	border: 0;
	color: #5d5d5d;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	height: 20px;
	margin: 0;
	outline: none;
	padding: 0 8px;
	width: 312px;
}
#searchSupport .searchWrap input[type="submit"] {
	background: url("clientlibs/images/icon-search.png") no-repeat center;
	border: 0;
	border-left: 1px solid #666;
	float: left;
	font-size: 0;
	height: 20px;
	line-height: 0;
	margin: 0;
	padding: 0;
	width: 32px;
}

/* show/hide widget */
.showHideContainer {
	margin-bottom: 10px;
}
.showHideToggle:hover {
	cursor: pointer;	
}
a.showHideLabel:hover {
	text-decoration: none;
}
a.expand:hover,
a.collapse:hover {
	cursor: pointer;
}
a.showHideLabel {
	display: inline-block;
	line-height: 16px;
	padding-left: 25px;
	text-decoration: none;
}
.showHideToggle a.closed {
	background: url("clientlibs/images/expand_down.png") no-repeat 0 0;
}
.showHideToggle a.open {
	background: url("clientlibs/images/expand_right.png") no-repeat 0 0;
}
.showHideContent {
	border: 0;
	padding: 10px 0 20px 25px;
}
.showHideContent > p:first-child,
.showHideContent > ul:first-child {
	margin-top: 0;
}
.showHideContent > p:last-child,
.showHideContent > ul:last-child {
	margin-bottom: 0;
}
/* end show/hide widget */

/* gray matrix (api document tables) */
/*div.gray_matrix tr:nth-child(even) {
	background-color: #ddf2fc;
}*/
.gray_matrix th {
	color: #0171aa;
	font-size: 18px;
	line-height: normal;
	font-weight: normal;
}
.gray_matrix th,
.gray_matrix td {
	padding: 5px 10px;
	text-align: left;
}
.gray_matrix th.gray_matrix_first {
	padding-left: 0;
}
.gray_matrix td.gray_matrix_first {
	padding-left: 0px;
	width: 70%;
}
/* end gray matrix */
div.documentContainer {
	display: table;
	width: 100%;
}
div.document {
	display: table-row;
}
div.document .documentTitle {
	display: table-cell;
	padding: 0 5px 10px 0;
	width: 70%;
}
div.document .documentLinks {
	display: table-cell;
	/**padding: 0 0 10px 5px;*/
	text-align: right;
	width: 30%;
}

/* begin alternating background table */
table.alternate {
	width: 100%;
}
table.alternate th,
table.alternate td {
	padding: 10px;
	text-align: left;
}
table.alternate th {
	background-color: #dcf2fc;
	color: #0171aa;
	font-size: 18px;
	font-weight: normal;
	line-height: normal;
}
table.alternate tr:nth-child(odd) {
	background-color: #f9f9f9;
}
table.alternate td > p:first-child,
table.alternate td > ul:first-child {
	margin-top: 0;
}
table.alternate td > p:last-child,
table.alternate td > ul:last-child {
	margin-bottom: 0;
}
/* end alternating background table */

/* begin compare table */
table.compare tr.title {
	background-color: #f9f9f9;
	border-top: 1px solid #aaa;
}
table.compare tr.title:first-child {
	border-top: none;
}
table.compare tr.title td {
	text-align: center;
}
table.compare tr.title h3 {
	margin: 0;
	padding: 0;
}
table.compare tr.header {
	background-color: #dcf2fc;
}
table.compare tr {
	background-color: #fff;
}
table.compare th,
table.compare td {
	padding: 10px;
}
table.compare th {
	color: #0171aa;
	font-weight: normal;
}
table.compare td {
	vertical-align: top;
}
/* end compare table */

/* begin how it works diagram */
.accordionControls {
	margin: 10px 0 5px 0;
	text-align: right;
}
.accordionControls a.prev,
.accordionControls a.next {
	cursor: pointer;
	position: relative;
}
.accordionControls a.prev {
	padding-left: 1em;
}
.accordionControls a.next {
	padding-right: 1em;
}
.accordionControls a.prev:before {
	content: "<";
	left: 0;
	position: absolute;
	text-decoration: none;
}
.accordionControls a.next:after {
	content: ">";
	position: absolute;
	right: 0;
	text-decoration: none;
}
.accordionControls a.prev.disabled,
.accordionControls a.next.disabled {
	color: #ccc;
	cursor: default;
	text-decoration: none;
}
.accordion {
	border-bottom: 1px solid #ccc;
}
.accordion h2.ui-accordion-header {
	background-color: #ccc;
	background-image: -moz-linear-gradient(top, #f9f9f9 0%, #ccc 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #ccc));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #ccc 100%);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #ccc 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #ccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#f9f9f9", endColorstr="#cccccc");
	margin: 0px;
}
.accordion h2.ui-accordion-header a {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: block;
	font-size: 16px;
	line-height: normal;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.accordion :focus,
.accordion :active {
	outline: none;
}
.accordion .ui-accordion-content {
	background-color: #f9f9f9;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0px;
	padding: 20px;
}
/* end diagram */

/* worldwide sites map */
#worldmap {
	/*
	background: url("clientlibs/images/worldmap.jpg") no-repeat;
	height: 406px;
	padding-top: 90px; */
}
#worldmap .column {
	margin-right: 50px;
}
#worldmap input[type="checkbox"] {
	height: 1em;
	margin-right: 5px;
	padding: 0;
	position: relative;
	top: -1px;
	vertical-align: bottom;
	width: 1em;
}
/* end worldwide map */
/* custom Css */
.columnwidth{
min-width:100px;
}

/******************PaymentRichText*********************/
.disc ul li {
    list-style: outside none disc;
}

.slidefont{
font-size:36px;
color:#0171aa;
    box-shadow:none;
     font-family: "Trade Gothic Bold","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.slidefont-white{
    color: #fff;
    font-family: "Trade Gothic Bold","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.slidefont-smallwhite {
    color: #fff;
    font-size: 22px;
    margin: 6px 0 10px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.48);
    }

.herofont{
font-size:36px !important;
color:#0171aa !important;
text-shadow: 0px 0px 7px rgba(221, 242, 252, 0.9) !important;
font-family: "Trade Gothic Bold","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important;
 
}

.herowhite{
  color: #fff !important;
  font-size: 22px !important;
  line-height: 1.25px !important;
  margin: 6px 0 10px !important;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.48) !important;

 }


/************blue_box*******************/


.blue_box .phone
{
background: url("clientlibs/images/icons/icon-phone.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    min-height: 40px;
    padding-left: 46px;

}

.slides li {
  background-repeat: no-repeat;
}


/*******Below  specific changes are for dialog level Dorpdown width for External & Internal Links ***********/
/*.x-form-field{
width:70% !important;
}
 

 
.x-form-focus{
width:70% !important; 
 
}
.x-form-field-wrap{
width:70% !important;  

}
*/

.x-trigger-noedit{
                width:90% !important; 
} 
.x-form-field-trigger-wrap{
width:70% !important; 

}
 
.x-trigger-wrap-focus{
width:70% !important;

}

.column_replace{
padding-right: 40px; 
width: 600px;
}
.evidon {
background: rgba(0, 0, 0, 0) url("clientlibs/images/evidon.png") no-repeat scroll 0 0;
    display: inline-block;
    line-height: 18px;
	padding-left: 13px;
  	margin-left: 3px;

    }
span.orangearr{
font-family: "Trade Gothic Roman","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 16px !important;
}
span.asterisk {
	color: #464646 !important;
}
form td.paymentInfo {
	color: #0171aa;
	font-size: 10px;
}
form tr.paymentElement td {
	border-bottom: 0px;
}
#logo2{
    background-color: #000066 !important;
    height: 66px !important;
}

.tutorialclass{
    font-family: "Trade Gothic Roman","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 16px !important;
    }

.slidefont-smallblue {
    color: #0171aa;
    font-size: 22px;
    margin: 6px 0 10px;
    text-shadow: 0px 0px 7px rgba(221,242,252,0.88);
    }
.small{
font-size: 80%;
    }

.grouplc {
   width: 590px;
}

.topsubtitle {
    margin: 0 0 10px 0;
}

div.edit {
	background-color: #454545;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
	color: #b4b4b4;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 2px 4px;
}
a.arrow {
	cursor: pointer;
	opacity: 0.66;
	position: absolute;
}
a.arrow:hover {
	opacity: 1.0;
}

#hero a.arrow {
	height: 61px;
	top: 150px;
	width: 61px;
	z-index: 15;
}
#hero a.arrow.left {
	background: url("clientlibs/images/icon-arrow-large-left.png") no-repeat;
	left: -18px;
}
#hero a.arrow.right {
	background: url("clientlibs/images/icon-arrow-large-right.png") no-repeat;
	right: -18px;
}
#hero .indicators {
	top: 320px;
}
#hero .indicators li {
	background: rgba(255, 255, 255, 0.5);
}
#hero .indicators li.active {
	background: rgba(1, 113, 170, 0.5);
}
#hero ul.slides li div.text {
	right: 60px;
}

#featured {
	/*padding: 25px 0;*/
	padding: 10px 0 25px 0;
}
#featured h1 {
	font-size: 22px;
}
#featured h1,
#featured h2 {
	font-size: 22px;
	line-height: normal;
	margin-bottom: 15px;
	padding: 0;
}
#featured > div {
	position: relative;
}
#featured > div > p {
	font-size: 15px;
	line-height: 19px;
}
#featured div.left,
#featured div.right {
	float: left;
}
#featured div.left {
	border-right: 1px solid #cacaca;
	padding-right: 30px;
	width: 430px;
}
#featured div.left .thumbnail {
	float: left;
	margin-right: 20px;
}
#featured div.right {
	padding-left: 30px;
	width: 410px;
    margin-top:-2px;
}
#featured .slideContainer {
	height: 62px;
	padding: 0 40px 20px 40px;
	position: relative;
}
#featured .indicators {
	bottom: 0;
}
#featured a.arrow {
	height: 31px;
	width: 31px;
	z-index: 15;
}
#featured a.arrow.left {
	background: url("clientlibs/images/icon-arrow-left.png") no-repeat;
	left: 0;
}
#featured a.arrow.right {
	background: url("clientlibs/images/icon-arrow-right.png") no-repeat;
	right: 0;
}
#featured ul.slides li {
	display: none;
	position: absolute;
	width: 330px;
}
#featured ul.slides li.active {
	display: inline-block;
}
#featured ul.slides p {
	margin: 0;
	padding: 0;
}

.indicators {
	bottom: 3px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 15;
}
.indicators ol {
	float: left;
	list-style: none;
	left: 50%;
	padding: 0;
	position: relative;
	margin: 0;
}
.indicators li {
	background: rgba(180, 180, 180, 0.5);
	border-radius: 10px;
	cursor: pointer;
	float: left;
	height: 12px;
	padding: 0;
	position: relative;
	margin: 0 3px 0 0;
	right: 50%;
	width: 12px;
}
.indicators li.active {
	background: rgba(1, 113, 170, 0.5);
}

#solutions {
	background: #0088ce;
	color: #fff;
}
#solutions h2 {
	color: #fff;
	font-size: 28px;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	padding: 33px 0 30px;
}
#solutions .column {
	float: left;
	margin-right: 56px;
	width: 104px;
}
#solutions.fiveCols .column {
	width: 136px;
}
#solutions .column.last {
	margin-right: 0;
}
#solutions .column p {
	font-size: 16px;
	line-height: 22px;
	margin-top: 0;
	min-height: 44px;
}

.icon-large-acceptance,
.icon-large-api,
.icon-large-billing,
.icon-large-billing-mgmt,
.icon-large-card,
.icon-large-cloud,
.icon-large-featured,
.icon-large-fraud,
.icon-large-globe,
.icon-large-industry,
.icon-large-merchant,
.icon-large-other,
.icon-large-other-services,
.icon-large-partner,
.icon-large-profsvcs,
.icon-large-security,
.icon-large-target {
	padding: 90px 0 0 0;
}

.icon-large-card {
	background: url("../../../resources/images/global/icon-large-card.png") no-repeat;
}

.icon-large-globe {
	background: url("../../../resources/images/global/icon-large-globe.png") no-repeat;
}

.icon-large-merchant {
	background: url("../../../resources/images/global/icon-large-merchant.png") no-repeat;
}

.icon-large-other-services {
	background: url("../../../resources/images/global/icon-large-other-services.png") no-repeat;
}
.icon-large-partner {
	background: url("../../../resources/images/global/icon-large-partner.png") no-repeat;
}

.icon-large-target {
	background: url("../../../resources/images/global/icon-large-target.png") no-repeat;
}
div.contactInfo {
			margin-bottom: 15px;
		}
		.showHideContainer {
			margin: 0;
			padding: 0;
		}
		.showHideToggle {
			padding-left: 0px;
		}
		.showHideToggle a.closed,
		.showHideToggle a.open {
			background-position: 0 10px;
		}
		a.showHideLabel {
			padding: 10px 0px 10px 25px;
		}
		.showHideContent {
			overflow: auto;
			padding: 10px 20px;
		}
		div.contactInfoRow {
			clear: both;
		}
		div.contactInfoLabel,
		div.contactInfoValue {
			float: left;
		}
		div.contactInfoLabel {
			margin: 0 5px 0 0;
		}
		h2.contactRegion {
			display: inline-block;
			margin: 0;
		}
		span.expandCollapse {
			float: right;
			margin-right: 10px;
		}
		.region {
			clear:both;
		}
		.region h2 {
			margin-left: 10px;
		}
		.regionHeader {
			background-color: #DCF2FC;
			height: 40px;
			line-height: 40px;
			margin-top: 15px;
		}
		.region:first-child .regionHeader {
			margin-top: 0;
		}
		.odd_row {
			background-color:#F9F9F9; 
			margin-top: 15px;
		}
		.col_1 {
			float: left;
			padding-right: 5px;
			width: 281px;
		}
		.col_2 {
			float: left;
			padding: 0 5px;
			width: 281px;
		}
		.col_3 {
			float: left;
			padding-left: 5px;
			width: 281px;
		}

 .locwebsite{
    margin: 0 5px 0 0;
    float: left;
    }
.locbtn {
    padding-left:10px;
    }
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/*#cboxOverlay{background:url(../../../resources/images/colorbox/overlay.png) repeat 0 0;}*/
#cboxOverlay{background: #000 url(clientlibs/images/colorbox/blackdot.gif) repeat 0 0; opacity: 0.8;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(clientlibs/images/colorbox/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(clientlibs/images/colorbox/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(clientlibs/images/colorbox/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(clientlibs/images/colorbox/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(clientlibs/images/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(clientlibs/images/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url("clientlibs/images/colorbox/border.png") 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url("clientlibs/images/colorbox/border.png") 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url("clientlibs/images/colorbox/loading_background.png") no-repeat center center;}
        #cboxLoadingGraphic{background:url("clientlibNew/new_uploadings/loading.gif") no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(clientlibs/images/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(clientlibs/images/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(clientlibs/images/colorbox/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/*!
Video.js Default Styles (http://videojs.com)
Version 4.12.1
Create your own skin at http://designer.videojs.com
*/.vjs-default-skin{color:#ccc}@font-face{font-family:VideoJS;
	src:url(clientlibs/css/font/vjs.eot);src:url(clientlibs/css/font/vjs.eot?#iefix) format('embedded-opentype'),
	url(clientlibs/css/font/vjs.woff) format('woff'),url(clientlibs/css/font/vjs.ttf) format('truetype'),
	url(clientlibs/css/font/vjs.svg#icomoon) format('svg');
	font-weight:400;font-style:normal}
	.vjs-default-skin 
	.vjs-slider{outline:0;position:relative;cursor:pointer;padding:0;background-color:#333;background-color:rgba(51,51,51,.9)}
	.vjs-default-skin .vjs-slider:focus{-webkit-box-shadow:0 0 2em #fff;-moz-box-shadow:0 0 2em #fff;box-shadow:0 0 2em #fff}
	.vjs-default-skin .vjs-slider-handle{position:absolute;left:0;top:0}
	.vjs-default-skin 
	.vjs-slider-handle:before{content:"\e009";font-family:VideoJS;font-size:1em;line-height:1;
	text-align:center;text-shadow:0 0 1em #fff;position:absolute;top:0;left:0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.vjs-default-skin .vjs-control-bar{display:none;position:absolute;bottom:0;left:0;right:0;height:3em;background-color:#07141e;background-color:rgba(7,20,30,.7)}.vjs-default-skin.vjs-has-started .vjs-control-bar{display:block;visibility:visible;opacity:1;-webkit-transition:visibility .1s,opacity .1s;-moz-transition:visibility .1s,opacity .1s;-o-transition:visibility .1s,opacity .1s;transition:visibility .1s,opacity .1s}.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{display:block;visibility:hidden;opacity:0;-webkit-transition:visibility 1s,opacity 1s;-moz-transition:visibility 1s,opacity 1s;-o-transition:visibility 1s,opacity 1s;transition:visibility 1s,opacity 1s}.vjs-default-skin.vjs-controls-disabled .vjs-control-bar{display:none}.vjs-default-skin.vjs-using-native-controls .vjs-control-bar{display:none}.vjs-default-skin.vjs-error .vjs-control-bar{display:none}.vjs-audio.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{opacity:1;visibility:visible}@media \0screen{.vjs-default-skin.vjs-user-inactive.vjs-playing .vjs-control-bar :before{content:""}}.vjs-default-skin .vjs-control{outline:0;position:relative;float:left;text-align:center;margin:0;padding:0;height:3em;width:4em}.vjs-default-skin .vjs-control:before{font-family:VideoJS;font-size:1.5em;line-height:2;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,.5)}.vjs-default-skin .vjs-control:focus:before,.vjs-default-skin .vjs-control:hover:before{text-shadow:0 0 1em #fff}.vjs-default-skin .vjs-control:focus{}.vjs-default-skin .vjs-control-text{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.vjs-default-skin .vjs-play-control{width:5em;cursor:pointer}.vjs-default-skin .vjs-play-control:before{content:"\e001"}.vjs-default-skin.vjs-playing .vjs-play-control:before{content:"\e002"}.vjs-default-skin .vjs-playback-rate .vjs-playback-rate-value{font-size:1.5em;line-height:2;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,.5)}.vjs-default-skin .vjs-playback-rate.vjs-menu-button .vjs-menu .vjs-menu-content{width:4em;left:-2em;list-style:none}.vjs-default-skin .vjs-mute-control,.vjs-default-skin .vjs-volume-menu-button{cursor:pointer;float:right}.vjs-default-skin .vjs-mute-control:before,.vjs-default-skin .vjs-volume-menu-button:before{content:"\e006"}.vjs-default-skin .vjs-mute-control.vjs-vol-0:before,.vjs-default-skin .vjs-volume-menu-button.vjs-vol-0:before{content:"\e003"}.vjs-default-skin .vjs-mute-control.vjs-vol-1:before,.vjs-default-skin .vjs-volume-menu-button.vjs-vol-1:before{content:"\e004"}.vjs-default-skin .vjs-mute-control.vjs-vol-2:before,.vjs-default-skin .vjs-volume-menu-button.vjs-vol-2:before{content:"\e005"}.vjs-default-skin .vjs-volume-control{width:5em;float:right}.vjs-default-skin .vjs-volume-bar{width:5em;height:.6em;margin:1.1em auto 0}.vjs-default-skin .vjs-volume-level{position:absolute;top:0;left:0;height:.5em;width:100%;background:#66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat}.vjs-default-skin .vjs-volume-bar .vjs-volume-handle{width:.5em;height:.5em;left:4.5em}.vjs-default-skin .vjs-volume-handle:before{font-size:.9em;top:-.2em;left:-.2em;width:1em;height:1em}.vjs-default-skin .vjs-volume-menu-button .vjs-menu{display:block;width:0;height:0;border-top-color:transparent}.vjs-default-skin .vjs-volume-menu-button .vjs-menu .vjs-menu-content{height:0;width:0}.vjs-default-skin .vjs-volume-menu-button:hover .vjs-menu,.vjs-default-skin .vjs-volume-menu-button .vjs-menu.vjs-lock-showing{border-top-color:rgba(7,40,50,.5)}.vjs-default-skin .vjs-volume-menu-button:hover .vjs-menu .vjs-menu-content,.vjs-default-skin .vjs-volume-menu-button .vjs-menu.vjs-lock-showing .vjs-menu-content{height:2.9em;width:10em}.vjs-default-skin .vjs-progress-control{position:absolute;left:0;right:0;width:auto;font-size:.3em;height:1em;top:-1em;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;transition:all .4s}.vjs-default-skin:hover .vjs-progress-control{font-size:.9em;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;transition:all .2s}.vjs-default-skin .vjs-progress-holder{height:100%}.vjs-default-skin .vjs-progress-holder .vjs-play-progress,.vjs-default-skin .vjs-progress-holder .vjs-load-progress,.vjs-default-skin .vjs-progress-holder .vjs-load-progress div{position:absolute;display:block;height:100%;margin:0;padding:0;width:0;left:0;top:0}.vjs-default-skin .vjs-play-progress{background:#66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat}.vjs-default-skin .vjs-load-progress{background:#646464;background:rgba(255,255,255,.2)}.vjs-default-skin .vjs-load-progress div{background:#787878;background:rgba(255,255,255,.1)}.vjs-default-skin .vjs-seek-handle{width:1.5em;height:100%}.vjs-default-skin .vjs-seek-handle:before{padding-top:.1em}.vjs-default-skin.vjs-live .vjs-time-controls,.vjs-default-skin.vjs-live .vjs-time-divider,.vjs-default-skin.vjs-live .vjs-progress-control{display:none}.vjs-default-skin.vjs-live .vjs-live-display{display:block}.vjs-default-skin .vjs-live-display{display:none;font-size:1em;line-height:3em}.vjs-default-skin .vjs-time-controls{font-size:1em;line-height:3em}.vjs-default-skin .vjs-current-time{float:left}.vjs-default-skin .vjs-duration{float:left}.vjs-default-skin .vjs-remaining-time{display:none;float:left}.vjs-time-divider{float:left;line-height:3em}.vjs-default-skin .vjs-fullscreen-control{width:3.8em;cursor:pointer;float:right}.vjs-default-skin .vjs-fullscreen-control:before{content:"\e000"}.vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before{content:"\e00b"}.vjs-default-skin .vjs-big-play-button{left:.5em;top:.5em;font-size:3em;display:block;z-index:2;position:absolute;width:4em;height:2.6em;text-align:center;vertical-align:middle;cursor:pointer;opacity:1;background-color:#07141e;background-color:rgba(7,20,30,.7);border:.1em solid #3b4249;-webkit-border-radius:.8em;-moz-border-radius:.8em;border-radius:.8em;-webkit-box-shadow:0 0 1em rgba(255,255,255,.25);-moz-box-shadow:0 0 1em rgba(255,255,255,.25);box-shadow:0 0 1em rgba(255,255,255,.25);-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;transition:all .4s}.vjs-default-skin.vjs-big-play-centered .vjs-big-play-button{left:50%;margin-left:-2.1em;top:50%;margin-top:-1.4000000000000001em}.vjs-default-skin.vjs-controls-disabled .vjs-big-play-button{display:none}.vjs-default-skin.vjs-has-started .vjs-big-play-button{display:none}.vjs-default-skin.vjs-using-native-controls .vjs-big-play-button{display:none}.vjs-default-skin:hover .vjs-big-play-button,.vjs-default-skin .vjs-big-play-button:focus{outline:0;border-color:#fff;background-color:#505050;background-color:rgba(50,50,50,.75);-webkit-box-shadow:0 0 3em #fff;-moz-box-shadow:0 0 3em #fff;box-shadow:0 0 3em #fff;-webkit-transition:all 0s;-moz-transition:all 0s;-o-transition:all 0s;transition:all 0s}.vjs-default-skin .vjs-big-play-button:before{content:"\e001";font-family:VideoJS;line-height:2.6em;text-shadow:.05em .05em .1em #000;text-align:center;position:absolute;left:0;width:100%;height:100%}.vjs-error .vjs-big-play-button{display:none}.vjs-error-display{display:none}.vjs-error .vjs-error-display{display:block;position:absolute;left:0;top:0;width:100%;height:100%}.vjs-error .vjs-error-display:before{content:'X';font-family:Arial;font-size:4em;color:#666;line-height:1;text-shadow:.05em .05em .1em #000;text-align:center;vertical-align:middle;position:absolute;left:0;top:50%;margin-top:-.5em;width:100%}.vjs-error-display div{position:absolute;bottom:1em;right:0;left:0;font-size:1.4em;text-align:center;padding:3px;background:#000;background:rgba(0,0,0,.5)}.vjs-error-display a,.vjs-error-display a:visited{color:#F4A460}.vjs-loading-spinner{display:none;position:absolute;top:50%;left:50%;font-size:4em;line-height:1;width:1em;height:1em;margin-left:-.5em;margin-top:-.5em;opacity:.75}.vjs-waiting .vjs-loading-spinner,.vjs-seeking .vjs-loading-spinner{display:block;-webkit-animation:spin 1.5s infinite linear;-moz-animation:spin 1.5s infinite linear;-o-animation:spin 1.5s infinite linear;animation:spin 1.5s infinite linear}.vjs-error .vjs-loading-spinner{display:none;-webkit-animation:none;-moz-animation:none;-o-animation:none;animation:none}.vjs-default-skin .vjs-loading-spinner:before{content:"\e01e";font-family:VideoJS;position:absolute;top:0;left:0;width:1em;height:1em;text-align:center;text-shadow:0 0 .1em #000}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.vjs-default-skin .vjs-menu-button{float:right;cursor:pointer}.vjs-default-skin .vjs-menu{display:none;position:absolute;bottom:0;left:0;width:0;height:0;margin-bottom:3em;border-left:2em solid transparent;border-right:2em solid transparent;border-top:1.55em solid #000;border-top-color:rgba(7,40,50,.5)}.vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content{display:block;padding:0;margin:0;position:absolute;width:10em;bottom:1.5em;max-height:15em;overflow:auto;left:-5em;background-color:#07141e;background-color:rgba(7,20,30,.7);-webkit-box-shadow:-.2em -.2em .3em rgba(255,255,255,.2);-moz-box-shadow:-.2em -.2em .3em rgba(255,255,255,.2);box-shadow:-.2em -.2em .3em rgba(255,255,255,.2)}.vjs-default-skin .vjs-menu-button:hover .vjs-control-content .vjs-menu,.vjs-default-skin .vjs-control-content .vjs-menu.vjs-lock-showing{display:block}.vjs-default-skin.vjs-scrubbing .vjs-menu-button:hover .vjs-control-content .vjs-menu{display:none}.vjs-default-skin .vjs-menu-button ul li{list-style:none;margin:0;padding:.3em 0;line-height:1.4em;font-size:1.2em;text-align:center;text-transform:lowercase}.vjs-default-skin .vjs-menu-button ul li.vjs-selected{background-color:#000}.vjs-default-skin .vjs-menu-button ul li:focus,.vjs-default-skin .vjs-menu-button ul li:hover,.vjs-default-skin .vjs-menu-button ul li.vjs-selected:focus,.vjs-default-skin .vjs-menu-button ul li.vjs-selected:hover{outline:0;color:#111;background-color:#fff;background-color:rgba(255,255,255,.75);-webkit-box-shadow:0 0 1em #fff;-moz-box-shadow:0 0 1em #fff;box-shadow:0 0 1em #fff}.vjs-default-skin .vjs-menu-button ul li.vjs-menu-title{text-align:center;text-transform:uppercase;font-size:1em;line-height:2em;padding:0;margin:0 0 .3em;font-weight:700;cursor:default}.vjs-default-skin .vjs-subtitles-button:before{content:"\e00c"}.vjs-default-skin .vjs-captions-button:before{content:"\e008"}.vjs-default-skin .vjs-chapters-button:before{content:"\e00c"}.vjs-default-skin .vjs-chapters-button.vjs-menu-button .vjs-menu .vjs-menu-content{width:24em;left:-12em}.vjs-default-skin .vjs-captions-button:focus .vjs-control-content:before,.vjs-default-skin .vjs-captions-button:hover .vjs-control-content:before{-webkit-box-shadow:0 0 1em #fff;-moz-box-shadow:0 0 1em #fff;box-shadow:0 0 1em #fff}.video-js{background-color:#000;position:relative;padding:0;font-size:10px;vertical-align:middle;font-weight:400;font-style:normal;font-family:Arial,sans-serif;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.video-js .vjs-tech{position:absolute;top:0;left:0;width:100%;height:100%}.video-js:-moz-full-screen{position:absolute}body.vjs-full-window{padding:0;margin:0;height:100%;overflow-y:auto}.video-js.vjs-fullscreen{position:fixed;overflow:hidden;z-index:1000;left:0;top:0;bottom:0;right:0;width:100%!important;height:100%!important;_position:absolute}.video-js:-webkit-full-screen{width:100%!important;height:100%!important}.video-js.vjs-fullscreen.vjs-user-inactive{cursor:none}.vjs-poster{background-repeat:no-repeat;background-position:50% 50%;background-size:contain;cursor:pointer;margin:0;padding:0;position:absolute;top:0;right:0;bottom:0;left:0}.vjs-poster img{display:block;margin:0 auto;max-height:100%;padding:0;width:100%}.video-js.vjs-has-started .vjs-poster{display:none}.video-js.vjs-audio.vjs-has-started .vjs-poster{display:block}.video-js.vjs-controls-disabled .vjs-poster{display:none}.video-js.vjs-using-native-controls .vjs-poster{display:none}.video-js .vjs-text-track-display{position:absolute;top:0;left:0;bottom:3em;right:0;pointer-events:none}.vjs-caption-settings{position:relative;top:1em;background-color:#000;opacity:.75;color:#FFF;margin:0 auto;padding:.5em;height:15em;font-family:Arial,Helvetica,sans-serif;font-size:12px;width:40em}.vjs-caption-settings .vjs-tracksettings{top:0;bottom:2em;left:0;right:0;position:absolute;overflow:auto}.vjs-caption-settings .vjs-tracksettings-colors,.vjs-caption-settings .vjs-tracksettings-font{float:left}.vjs-caption-settings .vjs-tracksettings-colors:after,.vjs-caption-settings .vjs-tracksettings-font:after,.vjs-caption-settings .vjs-tracksettings-controls:after{clear:both}.vjs-caption-settings .vjs-tracksettings-controls{position:absolute;bottom:1em;right:1em}.vjs-caption-settings .vjs-tracksetting{margin:5px;padding:3px;min-height:40px}.vjs-caption-settings .vjs-tracksetting label{display:block;width:100px;margin-bottom:5px}.vjs-caption-settings .vjs-tracksetting span{display:inline;margin-left:5px}.vjs-caption-settings .vjs-tracksetting>div{margin-bottom:5px;min-height:20px}.vjs-caption-settings .vjs-tracksetting>div:last-child{margin-bottom:0;padding-bottom:0;min-height:0}.vjs-caption-settings label>input{margin-right:10px}.vjs-caption-settings input[type=button]{width:40px;height:40px}.vjs-hidden{display:none!important}.vjs-lock-showing{display:block!important;opacity:1;visibility:visible}.vjs-no-js{padding:2em;color:#ccc;background-color:#333;font-size:1.8em;font-family:Arial,sans-serif;text-align:center;width:30em;height:15em;margin:0 auto}.vjs-no-js a,.vjs-no-js a:visited{color:#F4A460}
@import url("clientlibs/css/video-js.default.min.css");

.vjs-default-skin .vjs-volume-level {background:#0088ce;}
.vjs-default-skin .vjs-play-progress {background:#0088ce;}
.vjs-default-skin .vjs-big-play-button {background:rgba(0, 136, 206, 0.8);border:2px solid #0088ce;border-radius:50%;width:2.6em;top:50%;left:50%;margin:-1.3em 0 0 -1.3em;}
.vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus {border:2px solid #fff;background:rgba(0, 136, 206, 0.9);}
.vjs-default-skin .vjs-big-play-button::before {color:#fff;left:3px;text-shadow:none;}

.action1 {
    background: url("clientlibs/images/icon-document.png") no-repeat scroll right 2px  rgba(0, 0, 0, 0);
    content: "";
    display: inline;
    width: auto;
    padding: 0 18px 1px 0;
    font-size:16px !important;
}
.action1:hover {
   text-decoration:underline;
}

.block1 {
    font-size:10px;
    color: #528ab2;
    margin:10px;
    padding: 10px;

  font-weight: lighter;
}
#floatright {
float:right;
    }

.disc ul li {
    list-style: outside none disc ;
    margin-left:14px;
}




.multiple p{
	line-height: 0px;
    }

#floatleft{
    left:0px !important;
}

.subtitleh1{
    color: #0171aa;
    margin: 20px 0 10px;
    line-height:1.25;
    font-size:22px;
    font-weight:normal;
}
.titleh1{
            font-size: 30px;
            line-height: 1.05;
            color: #0171aa;
            font-weight: normal;
             margin-top: 0;
        }
 .blackh2
        {
            margin-top: 0;
            color: #464646;
            font-size: 22px;
            line-height: 1.25;
            font-weight: normal;
        }
 .strongtext{
             font-family: "Trade Gothic Bold","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
             font-weight: strong;
            }
 .redBoldtext 
            {
             color:#FF0000;
             font-family: "Trade Gothic Bold","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
             font-weight: strong;
            }
span.orangearr::before {
	 color: #ff7900;
    content: ">";
    font-family: "Trade Gothic Bold","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    left: 0;
    position: absolute;
    text-decoration: none;
}

span.orangearr {
    display: inline-block;
    padding-left: 1em;
    position: relative;
}
span.orangearrowNpdf{ 
    display: inline-block;
    padding-left: 1em;
    position: relative;
}
span.orangearrowNpdf::before{ 
                color: #ff7900;
                
 font-family: "Trade Gothic Bold","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
                content:">";
                position:absolute;
                left:0
}
            span.orangearrowNpdf::after{
 background: url("clientlibs/images/icon-document.png") no-repeat scroll right 2px  rgba(0, 0, 0, 0);
    content: "";

    margin-left: 5px;
    vertical-align: text-bottom;

    padding: 0 18px 0 0;
            }

span.rssicon::after{
 background: url("clientlibs/images/icon-rss.png") no-repeat scroll right 2px  rgba(0, 0, 0, 0);
    content: "";

    margin-left: 5px;
    vertical-align: text-bottom;

    padding: 0 18px 0 0;
            }
.fontsize17{
 font-size: 17px !important;
}
.paragraphsize{
   font-size: 16px !important; 

}
.disc hr{
	border: 0;
	border-top: 1px solid #ccc;
	
	height: 0;
	margin: 0;
}
.sub{
  top: -0.5em;
 /* font-size: 75%;*/
        font-size:25px !important;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
        font-weight:bolder;
}

.sup {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}



