#euCookieNotice {
	background-color: #0088ce;
	color: #fff;
	margin: 10px auto;
	position: relative;
	width: 904px;
}
#euCookieNotice p {
	line-height: normal;
	margin: 0;
	padding: 10px 35px 10px 10px;
}
#euCookieNotice a {
	color: #b9e4f9;
}
#euCookieClose {
	cursor: pointer;
	font-size: 24px;
	position: absolute;
	text-decoration: none;
	top: 10px;
	right: 10px;
}