    a:link { font : bold 11px Verdana, Arial, Helvetica, sans-serif;text-decoration: none; color: #000000;}
   a:visited { font :   bold 11px Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #000000;} 
   a:active { font : bold 11px   Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #000000;}
   a:hover { font :  bold  11px Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; color: #003E5E;} 
   
   
   a.bot:link { font: bold 10px Verdana, Arial, Helvetica, sans-serif;text-decoration: none; color: #ffffff;}
   a.bot:visited { font: bold 10px Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #ffffff;} 
   a.bot:active { font: bold 10px   Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #ffffff;}
   a.bot:hover { font:  bold  10px Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; color: #ffffff;} 


    a.white:link { font : bold 11px Verdana, Arial, Helvetica, sans-serif;text-decoration: none; color: #ffffff;}
   a.white:visited { font :   bold 11px Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #ffffff;} 

   a.white:active { font : bold 11px   Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #ffffff;}
   a.white:hover { font :  bold  11px Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; color: #ffffff;} 
    .red {
font : bold 11px Verdana, Arial, Helvetica, sans-serif;text-decoration: none; color: #cc0000;
}
a.red:link { font : bold 11px Verdana, Arial, Helvetica, sans-serif;text-decoration: none; color: #cc0000;}
   a.red:visited { font :   bold 11px Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #cc0000;} 
   a.red:active { font : bold 11px   Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #cc0000;}
   .red2 {font : bold 11px Verdana, Arial, Helvetica, sans-serif; color: #990000; }
.supp {
	background-color: #E3E3E3;
	border: 1px groove #333333;
	padding: 3px;
	width: 120px;
	margin: 1px;
	clear: right;
	float: left;
	text-align: left;
	white-space: nowrap;
}

   a.red:hover { font :  bold  11px Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; color: #cc0000;} 

.wh { font :bold 12px Verdana, Arial, Helvetica, sans-serif; color: #ffffff;} 
.news {font :  10px Verdana, Arial, Helvetica, sans-serif; color: #000000; }
.red {font :  12px Verdana, Arial, Helvetica, sans-serif; color: #cc0000; }
.small {font :  10px Verdana, Arial, Helvetica, sans-serif; color: #ffffff; }

td { font : 11px Verdana, Arial, Helvetica, sans-serif; color: #000000;} 

p {margin-left: 10px; margin-right: 13px; margin-top: 5px; margin-bottom: 5px; margin-width: 13px; margin-height: 5px; }
image {border-color:#ffffff;}
th {
font : 11px Verdana, Arial, Helvetica, sans-serif; color: #000000;
}
image {border-color:#ffffff;}
.pager {
	text-decoration: none;
	border: 1px outset #333333;
	background-color: #FFFFFF;
	padding: 3px;
	margin: 1px;
}
.selector {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.pager:hover {
	text-decoration: none;
	border: 1px outset #FFFFFF;
	background-color: #000000;
	padding: 3px;
	margin: 1px;
	color: #FFFFFF;
}
.navpan {
	position: relative;
	top: -18px;
	right: 400px;
}
.supp:hover {

	background-color: #FFD9D9;
	border: 1px groove #333333;
	padding: 3px;
	width: 120px;
}
.cat1 { background-color: #FFEAEA; }
.cat2 { background-color: #aff; }
.shift {
	vertical-align: bottom;
	clip: rect(auto,auto,auto,auto);
	position: relative;
	top: 5px;
	left: 4px;
}
.navpan {
	position: relative;
	top: -18px;
	right: 400px;
}
.whitet {
	font : bold 11px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #ffffff;
	margin-right: 5px;
}
.big {
	font-size: 24px;
}
a.big {
	font-size: 24px;
}
a.big:hover {
	font-size: 24px;
}
a.big:visited {
	font-size: 24px;
}

.tb1 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
}
.tb2 {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #cc0000;
}
.tb3 {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #660000;
}
.tb4 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.tb5 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}
.tb6 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
}
.tb7 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}

a.tb9:link {
	font-family: Tahoma;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
	color: #ffff00;
}
a.tb9:visited {
	font-family: Tahoma;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
	color: #ffff00;
}
a.tb9:hover {
	font-family: Tahoma;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #ffff00;
}
a.tb9:active {
	font-family: Tahoma;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
	color: #ffff00;
}
.copy {
	font-family: Tahoma;
	font-size: 9px;
	color: #ffffff;

}