/*
Theme Name: GoodMad
Theme URI: http://magazine3.com/celebritygossip
Author: Magazine3.com
Author URI: http://magazine3.com/
Description: Celebrity Blogging Theme
Version: 1.4
Template: celebritygossip-codebase
*/ 
 
@import url("../celebritygossip-codebase/style.css");
/* =Theme customization starts here */
#header .social-buttons a {background-color: #23AEBB!important;}
#mobile-toggle {color:#23AEBB; border-color: #23AEBB }
#top-menu {background: #23AEBB;}
#menu-22.ddsmoothmenu ul li ul li a { background:#61d8e2; }
#menu-22.ddsmoothmenu ul li ul li.first:after {border-bottom-color: #61d8e2;}
#top-menu ul li a:hover {color: #116c75!important;}
#fnav li a {color: #23AEBB;}
.author .vcard a.url {color: #23AEBB;}
.pagination .current{color: #23AEBB;}
.homepost-masonry .content-area a .image .image-strip {background: #23AEBB;}
.home #main {}
.one-pager .entry-header-single .tags, .one-pager .entry-header-single .tags a{color: #23AEBB;}
.one-pager .theiaPostSlider_nav._upper ._next ._2, .one-pager .theiaPostSlider_nav._upper ._prev ._2 {background: #23AEBB;}
.one-pager .social-buttons a.prev, .one-pager .social-buttons a.next {background-color: #23AEBB;}

.media-credit-container {width: auto!important;}
.media-credit {text-align: center!important; margin: 3px 5px 10px 5px!important;}

/*painfullygood  recirc style */
#sidebar a.ttbnative_btm {position: relative;}
#sidebar a.ttbnative_btm .title {text-align: center;
    width: 85%;
    background: #c1272d;
    color: #ffffff!important;
    border: 3px solid white;
    padding: 3px;
    box-sizing: border-box;
    position: absolute;
    left: 7.5%;
    bottom: 0px;
}

#sidebar a.ttbnative_btm {
    margin-bottom: 15px;
    min-height: initial;
}
#sidebar a.ttbnative_btm .image {margin-bottom:  20px!important;}

#advert-placeholder-header-image-1 {float: right; margin-right: 84px;}
#header .logo {height: 22px;}
.logo-holder {margin-top: 30px;}
#main {padding-top: 110px;}

body:not(.nav-opened) .nav-up .social-buttons {top: - 100%!important; display: none; visibility: none;}
body:not(.nav-opened) .nav-up #mobile-toggle {top:50%!important;}

@media screen and (max-width: 960px) {
    #header .logo {height: 28px;}
    .logo-holder {margin-top: 5px;margin-bottom: 5px;}
    #advert-placeholder-header-image-1 {float: none; margin:4 px auto 0 auto; display: block; height: 90px; clear: both;}
    body:not(.nav-opened) .nav-up #mobile-toggle, #mobile-toggle {top:16px!important;}
    #main {padding-top: 160px;}
}

@media screen and (max-width: 767px) {
    #advert-placeholder-header-image-1 {display: none!important; visibility: hidden;} 
    #main {padding-top: 55px;}
}


#advert-placeholder-post-content-pre-slider-image-1 > .widget {min-height: 173px;}