/* SWITCH */
[data-switch].detected > [data-case]:not(.visible),
[data-switch]:not(.detected) > [data-case]:not(:last-child) {
	display: none;
}
[data-switch]:not(.detected) > [data-case] {
    visibility: hidden;
}
.btn-action {
    text-align: left;
}
