/* Black Friday */
#event_full_line {
	background-color: #000000;
	float: left;
	height: auto;
	width: 100%;
}

#event_full_line .structure {
	background:url(//static.dealabs.com/images/event_pages/black_friday/image_cart.png) no-repeat right 27px bottom,
    url(//static.dealabs.com/images/event_pages/black_friday/img_bf_event_page.png) no-repeat left 15px center;
}

#event_full_line #event {
	color:white;
	position: relative;
	height: 120px;
}

#event_full_line #event a#left_part_event {
	float:left;
	height: 100%;
	width: 528px;
}

#event_full_line #event #center_part_event {
	overflow: hidden;
}

#event_full_line #event #left_part_event h1 {
	position:absolute;
	color:white;
	top:85px;
	left:110px;
	color: white;
	font-size: 1em;
}

#event_full_line #event #left_part_event h2 {
	font-size: 1.1em;
	color: rgba(2, 165, 193, 1);
	text-align: left;
	line-height: 16px;
	padding: 0;
	margin: 0;
	font-family:ProximaNovaSemibold, sans-serif;
}

#event_full_line #stats_event {
	float:left;
	height:auto;
	margin: 30px 0px 0px 0px;
	display: block;
	position: relative;
}

#event_full_line #stats_event p {
	font-size: 1.1em;
	text-align: left;
	line-height: 27px;
	font-family:ProximaNovaSemibold, sans-serif;
}

#event_full_line #stats_event p.date {
	background-image: url(//static.dealabs.com/images/event_pages/black_friday/ic_date_bf_event_page.png);
	background-repeat: no-repeat;
	background-position: left;

	padding-left:28px;
}

#event_full_line #stats_event p.date span#compte_a_rebours, #event_full_line #stats_event p.deal span {
	color: #c3c3c3;
}

#event_full_line #stats_event p.deal {
	background-image: url(//static.dealabs.com/images/event_pages/black_friday/ic_deal_bf_event_page.png);
	background-repeat: no-repeat;
	background-position: left;

	padding-left:28px;
}


#selected_deals_black_friday {
	background-color: white;
}

#selected_deals_black_friday .padding_div_liste_widget {
	padding: 10px 0px;
}

#selected_deals_black_friday .div_liste_widget_black_friday {
	float: left;
	width: 100%;
	background-color: white;
	display: none;
}

#selected_deals_black_friday .image_contener {
	float: left;
	width: 100%;
}

#selected_deals_black_friday .image_contener .previous_selected_deal {
	float: left;
	width: 60px;
	height: 130px;
	display: block;

	background-image: url(//static.dealabs.com/images/event_pages/black_friday/ic_previous.png);
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
}

#selected_deals_black_friday .image_contener .next_selected_deal {
	float: right;
	width: 60px;
	height: 130px;
	display: block;

	background-image: url(//static.dealabs.com/images/event_pages/black_friday/ic_next.png);
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
}

#selected_deals_black_friday .image_contener .center_part {
	overflow: hidden;
	text-align:center;
}

#selected_deals_black_friday .image_contener .center_part a.image_redirect {
	display: block;
	float: none;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	border: none;
}

#selected_deals_black_friday .titre_contener {
	float: left;
	width: 100%;
}

#selected_deals_black_friday .titre_contener a.titre_redirect {
	display: block;
	float: none;
	padding: 0;
	height: auto;
	width: auto;
	border: none;

	color: #333333;

	margin: 10px 10px 0px 10px;
	font-size: 0.9em;
	font-weight: bold;

	line-height: 15px;
}

#selected_deals_black_friday .titre_contener a.titre_redirect:hover,
#selected_deals_black_friday .titre_contener a.titre_redirect:active {
	text-decoration: underline;
}

/* Black Friday */

/* Amazon Prime */
#amazon_prime #event_full_line .structure {
	background-image: none;
	background-repeat: none;
	background-position: none;
}

#amazon_prime #event_full_line .structure {
	background-image: url(//static.dealabs.com/images/event_pages/amazon_prime/image_amazon_bcg.png);
	background-repeat: no-repeat;
	background-position: center right;
}

#amazon_prime #event_full_line #stats_event p.date {
	background-image: url(//static.dealabs.com/images/event_pages/amazon_prime/ic_date.png);
	background-repeat: no-repeat;
	background-position: left;

	padding-left:28px;
}

#amazon_prime #event_full_line #stats_event p.date span#compte_a_rebours, #event_full_line #stats_event p.deal span {
	color: #333333;
}

#amazon_prime #event_full_line #stats_event p.deal {
	background-image: url(//static.dealabs.com/images/event_pages/amazon_prime/ic_deal.png);
	background-repeat: no-repeat;
	background-position: left;

	padding-left:28px;
}

#amazon_prime #event_full_line #event #left_part_event a {
	position: relative;
}

#amazon_prime #event_full_line #event #left_part_event a img {
	float: left;
	display: block;	
	width: 348px;
	height: 44px;
}

#amazon_prime #event_full_line #event #left_part_event a h1 {
	position: absolute;
	font-size: 0.8em;
	right:0;
	bottom: -16px;
	margin: 0;
	padding: 0;
	font-family:arial, sans-serif;
	line-height: 14px;
	width: 238px;
	color: #00a1d2;
	font-weight: bold;
}
/* Amazon Prime */