footer {
    /*width:100%;*/
    float:left;
    height:auto;
}

footer .structure {
    height:100%;
}

/* footer_merchant */
footer #footer_merchant {
    width:100%;
    float:left;
    background-color:white;
    border-top: 1px solid #d9d9d9;
}

footer #footer_merchant div.merchant_group {
    width:16.66%;
    float:left;
    margin-bottom: 12px;
}

footer #footer_merchant p.top_merchant {
    color: black;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
}

footer #footer_merchant .merchant_group a {
    font-size: 1em;
    color: #777777;
    font-weight: normal;
}

footer #footer_merchant .merchant_group a:hover,
footer #footer_merchant .merchant_group a:active {
    text-decoration: underline;
}
/* footer_merchant */


/* footer_social */
footer #footer_social {
    height:38px;
    position: relative;
    width:100%;
    float:left;
    background-color:#333333;
    padding: 12px 0px;
}

footer #footer_social .social_part {
    height:100%;
    float: left;
    padding-right: 20px;
    border-right: 1px solid #6d6d6d;
    margin-right: 20px;
}

footer #footer_social .social_part p.follow {
    float: left;
    width: auto;
    margin-right: 10px;
    line-height: 38px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

footer #footer_social .social_part div.link {
    float: left;
    padding: 3px 0px;
}

footer #footer_social .social_part div.link a {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

footer #footer_social .social_part div.link #contener_rss {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

footer #footer_social .social_part div.link #contener_rss #popup_rss {
    position: absolute;
    background-color: #f88b02;
    width: 250px;
    margin-top:-155px;
    display: none;
}

footer #footer_social .social_part div.link #contener_rss #popup_rss p.title {
    color: white;
    font-weight: normal;
    font-size: 0.9em;
    margin: 10px 10px;
    line-height: 21px;
    padding: 0;
}

footer #footer_social .social_part div.link #contener_rss #popup_rss a.custom_feed {
    float: right;
    width: auto;
    height: auto;
    margin: 10px 10px;
    font-size: 0.9em;
    color: white;
    line-height: 21px;
    padding: 0px 5px;
}

footer #footer_social .social_part div.link #contener_rss #popup_rss div.rss_content {
    overflow: hidden;
    margin: 10px;
    background-color: white;
    padding: 10px;
}

footer #footer_social .social_part div.link #contener_rss #popup_rss div.rss_content p.rss_p,
footer #footer_social .social_part div.link #contener_rss #popup_rss div.rss_content a.rss_a {
    float: left;
    width: auto;
    height: auto;
    font-weight: normal;
    font-size: 1em;
    margin: 0px;
    line-height: auto;
}

footer #footer_social .social_part div.link #contener_rss #popup_rss div.rss_content a.rss_a:hover,
footer #footer_social .social_part div.link #contener_rss #popup_rss div.rss_content a.rss_a:active {
    text-decoration: underline;
}

footer #footer_social .social_part div.link #contener_rss #popup_rss div.rss_content p.rss_p {
    color: black;
}

footer #footer_social .social_part div.link #contener_rss #popup_rss div.rss_content a.rss_a {
    color: #959595;
}

footer #footer_social .social_part div.link #contener_rss #popup_rss div.rss_content span {
    float: left;
}

footer #footer_social .social_part div.link #contener_rss .triangle_popup_footer {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 0 16px;
    border-color: #007bff transparent transparent transparent;
}

footer #footer_social .social_part div.link #contener_rss .triangle_popup_footer.rss {
    border-color: #f88b02 transparent transparent transparent;
}

/* Réseaux sociaux button customisation */
footer #footer_social .social_part div.link a.rss {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/header/icon_all_rss.png);
    
    margin-left: 0px;
}

footer #footer_social .social_part div.link a.rss:hover,
footer #footer_social .social_part div.link a.rss:active {
    background-color: #f88b02;
}

footer #footer_social .social_part div.link a.facebook {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/header/icon_all_facebook_white.png);
}

footer #footer_social .social_part div.link a.facebook:hover,
footer #footer_social .social_part div.link a.facebook:active {
    background-color: #3b5998;
}

footer #footer_social .social_part div.link a.twitter {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/header/icon_all_twitter_white.png);
}

footer #footer_social .social_part div.link a.twitter:hover,
footer #footer_social .social_part div.link a.twitter:active {
    background-color: #00b0ed;
}

footer #footer_social .social_part div.link a.googleplus {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/header/icon_all_google_white.png);
}

footer #footer_social .social_part div.link a.googleplus:hover,
footer #footer_social .social_part div.link a.googleplus:active {
    background-color: #d13f2d;
}

footer #footer_social .social_part div.link a.pinterest {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/header/icon_all_pinterest.png);
}

footer #footer_social .social_part div.link a.pinterest:hover,
footer #footer_social .social_part div.link a.pinterest:active {
    background-color: #bd2026;
}

footer #footer_social .social_part div.link a.instagram {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/header/icon_all_instagram.png);
}

footer #footer_social .social_part div.link a.instagram:hover,
footer #footer_social .social_part div.link a.instagram:active {
    background-color: #ae2bb3;
}

footer #footer_social .social_part div.link a.youtube {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/header/icon_all_youtube.png);
}

footer #footer_social .social_part div.link a.youtube:hover,
footer #footer_social .social_part div.link a.youtube:active {
    background-color: #cc181e;
}
/* Réseaux sociaux button customisation */

footer #footer_social .whatsapp_part {
    height:100%;
    float: right;
    padding-left: 20px;
    border-left: 1px solid #6d6d6d;
    margin-left: 20px;
}

footer #footer_social .whatsapp_part p {
    line-height: 19px;
    color: white;
    font-size: 1em;
    float: left;
    width: auto;
    font-weight: bold;
    margin-right: 20px;
}

footer #footer_social .whatsapp_part a {
    float: right;
    display: block;
    width: 32px;
    height: 32px;
    margin: 3px 0px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/header/icon_all_whatsapp.png);
    background-color: #06cc26;
}

footer #footer_social .newsletter_part {
    overflow: hidden;
}

footer #footer_social .newsletter_part p {
    line-height: 19px;
    font-size: 1em;
}

footer #footer_social .newsletter_part p.abonnement {
    color: white;
    float: left;
    width: auto;
    font-weight: bold;
    margin-right: 20px;
}

footer #footer_social .newsletter_part p.info {
    color: #b1b1b1;
    float: right;
    width: auto;
    font-weight: normal;
    margin-left: 20px;
}

footer #footer_social .newsletter_part div.newsletter_field {
    overflow: hidden;
    padding: 3px 0px;
    height: 32px;
}

footer #footer_social .newsletter_part div.newsletter_field div.image {
    float: left;
    display: block;
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/header/icon_all_messages.png);
    background-color: #60b35c;
}

footer #footer_social .newsletter_part div.newsletter_field a.button_grey_structure {
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: none;
}

footer #footer_social .newsletter_part div.newsletter_field div.input_left input[type="text"] {
    height: 30px;
    border: 1px solid #d9d9d9;
}

footer #footer_social .newsletter_part div.newsletter_field div.input_left input[type="text"]:focus {
    border:1px solid #d9d9d9 !important;
}
/* footer_social */


/* footer_events */
footer #footer_events {
    height:22px;
    position: relative;
    width:100%;
    float:left;
    background-color:#4c4c4c;
    padding: 12px 0px;
}

footer #footer_events .events_part {
    height:100%;
    float: left;
}

footer #footer_events .events_part p {
    float: left;
    width: auto;
    margin-right: 20px;
    line-height: 22px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

footer #footer_events .events_part a {
    float: left;
    display: block;
    margin-left: 20px;
    color: #b1b1b1;
    line-height: 22px;
    font-size: 1em;
    font-weight: bold;
}

footer #footer_events .events_part a:hover,
footer #footer_events .events_part a:active {
    color: white;
}

footer #footer_events .events_part span {
    float: left;
    background-color: #60b35c;
    font-weight: normal;
    color: white;
    font-size: 0.9em;
    line-height: 18px;
    padding: 0px 5px;
    margin:2px 0px 2px 8px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px; 
    border-radius: 4px;
}
/* footer_events */

/* footer_links */
footer #footer_links .structure {
    position: relative;
}

footer #footer_links .structure a.mobile {
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 299px;
    height: 126px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/footer/image_download_apps.png);
}

footer #footer_links {
    position: relative;
    width:100%;
    float:left;
    background-color:white;
}

footer #footer_links p.title {
    color: black;
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

footer #footer_links .mobile_part {
    position: relative;
    float: right;
    margin-left: 40px;
    width: 299px;
    height: auto;
}

footer #footer_links .mobile_part p.title {
    margin-bottom: 0px;
}

footer #footer_links .mobile_part div.button {
    position: absolute;
    top:0;
    right: 0;
    width: auto;
    padding: 5px 8px;
    height: 20px;
    border:1px solid #d9d9d9;

    margin-top: 43px;
}

footer #footer_links .mobile_part div.button p {
    line-height: 20px;
    color:#777777;
    float: left;
    margin-right: 5px;
    font-size: 0.9em;
}

footer #footer_links .mobile_part div.button a {
    margin-left: 5px;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
}

footer #footer_links .mobile_part div.button a.apple {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/footer/ic_apple.png);
}

footer #footer_links .mobile_part div.button a.apple:hover,
footer #footer_links .mobile_part div.button a.apple:active {
    /*background-color: #00b0ed;*/
}

footer #footer_links .mobile_part div.button a.android {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/footer/ic_android.png);
}

footer #footer_links .mobile_part div.button a.android:hover,
footer #footer_links .mobile_part div.button a.android:active {
    /*background-color: #00b0ed;*/
}

footer #footer_links .mobile_part div.button a.windowsphone {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/footer/ic_windosphone.png);
}

footer #footer_links .mobile_part div.button a.windowsphone:hover,
footer #footer_links .mobile_part div.button a.windowsphone:active {
    /*background-color: #00b0ed;*/
}

footer #footer_links .statistiques_part {
    float: right;
    width: auto;
    margin-left: 40px;
}

footer #footer_links .statistiques_part p.stats {
    font-size: 1em;
    color: #777777;
    font-weight: normal;
    line-height: 22px;
}

footer #footer_links .statistiques_part p.stats img {
    display: inline-block;
    margin-bottom: -2px;
    margin-top: -2px;
}

footer #footer_links .statistiques_part p.stats span {
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}

footer #footer_links .reglement_part {
    float: right;
    width: auto;
    margin-left: 40px;
}

footer #footer_links .reglement_part a {
    font-size: 1em;
    color: #777777;
    font-weight: normal;
}

footer #footer_links .reglement_part a:hover,
footer #footer_links .reglement_part a:active {
    text-decoration: underline;
}

footer #footer_links .dealabs_part {
    float: right;
    width: auto;
    margin-left: 40px;
}

footer #footer_links .dealabs_part a {
    font-size: 1em;
    color: #777777;
    font-weight: normal;
}

footer #footer_links .dealabs_part a:hover,
footer #footer_links .dealabs_part a:active {
    text-decoration: underline;
}

footer #footer_links .apropos_part {
    overflow: hidden;
    width: auto;
}

footer #footer_links .apropos_part img.logo {
    margin-top: 32px;
    width: 146px;
    height: 28px;
    margin-bottom: 26px;
    display: block;
}

footer #footer_links .apropos_part p {
    font-size: 1em;
    color: #777777;
    font-weight: normal;
    margin-bottom: 20px;
}

footer #footer_links .apropos_part p a {
    margin-left: 5px;
    display: inline-block;
    margin-bottom: -3px;
    margin-top: -3px;
}

footer #footer_links .apropos_part p a img {
    width: 79px;
    height :16px;
    display: block;
}
/* footer_links */

/* footer_reserv */
footer #footer_reserv {
    height:18px;
    position: relative;
    width:100%;
    float:left;
    background-color:#e8e8e8;
    padding: 8px 0px;
    border-top: 1px solid #d9d9d9;
}

footer #footer_reserv .reserv_part {
    height:100%;
    float: left;
}

footer #footer_reserv .reserv_part p {
    float: left;
    width: auto;
    margin-right: 10px;
    line-height: 18px;
    color: #777777;
    font-size: 0.8em;
    font-weight: normal;
}
/* footer_reserv */