/* global css */
@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('./font/proximanova-semibold-webfont.eot');
    src: url('./font/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/proximanova-semibold-webfont.svg#proximanova-semibold-webfont') format('svg'),
         url('./font/proximanova-semibold-webfont.woff') format('woff'),
         url('./font/proximanova-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* TEST Même nom de typo pour assigner à bold la proximanova bold */
@font-face {
    font-family: 'ProximaNovabold';
    src: url('./font/proximanova-bold-webfont.eot');
    src: url('./font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/proximanova-bold-webfont.woff') format('woff'),
         url('./font/proximanova-bold-webfont.ttf') format('truetype'),
         url('./font/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovalight';
    src: url('./font/proximanova-light-webfont.eot');
    src: url('./font/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/proximanova-light-webfont.woff') format('woff'),
         url('./font/proximanova-light-webfont.ttf') format('truetype'),
         url('./font/proximanova-light-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('./font/Roboto-Regular.eot');
    src: url('./font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('./font/Roboto-Regular.woff') format('woff'),
         url('./font/Roboto-Regular.ttf') format('truetype'),
         url('./font/Roboto-Regular.svg#roboto_rgregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('./font/Roboto-Bold.eot');
    src: url('./font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('./font/Roboto-Bold.woff') format('woff'),
         url('./font/Roboto-Bold.ttf') format('truetype'),
         url('./font/Roboto-Bold.svg#roboto_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html, body
{
    margin:0;
    padding:0;
    height:100%;
    min-width: 1200px;
}

html {
    font-size:100%;
}

body
{
    overflow-x:auto; 
    margin:0px; 
    padding:0px;
    font-family:Arial, sans-serif;
    background-color:#E9EAED;
    font-size:0.8em;
}

body.no_overflow
{
    overflow:hidden;
}

/* Disable font boosting in Chrome for Android */
body * {
  max-height: 1000000em;
}

img
{
    border:none;
    margin:0px; 
    padding:0px; 
}

ol, ul 
{
    list-style: none;
}

a
{
    text-decoration:none;
}

p
{
    margin:0px; 
    padding:0px;
}

/*::-webkit-input-placeholder { color:#777777; font-family:ProximaNovaSemibold, Arial, sans-serif;}
::-moz-placeholder { color:#777777; font-family:ProximaNovaSemibold, Arial, sans-serif; }
:-ms-input-placeholder { color:#777777; font-family:ProximaNovaSemibold, Arial, sans-serif; }
input:-moz-placeholder { color:#777777; font-family:ProximaNovaSemibold, Arial, sans-serif; } */

::-webkit-input-placeholder { color:#777777; font-family:Arial, sans-serif;}
::-moz-placeholder { color:#777777; font-family:Arial, sans-serif; } /* firefox 19+ */
:-ms-input-placeholder { color:#777777; font-family:Arial, sans-serif; } /* ie */
input:-moz-placeholder { color:#777777; font-family:Arial, sans-serif; }

::selection {
    background-color: #69c03c;
    color: #fff;
}

::-moz-selection {
    background-color: #69c03c;
    color: #fff;
}

::-webkit-selection {
    background-color: #69c03c;
    color: #fff;
}

.mouai {
    min-height:1px;
}

.structure
{
    height:auto;
    margin:0 auto;
    padding:0px 15px;
    overflow:hidden;

    width: 1170px;
    
    /*max-width:1170px;
    min-width:1000px;*/
    


    /*width:1170px;*/
}

.structure.black
{
    background:#333333;
}

.structure.white
{
    background:white;
}

#body
{
    float:left;
    height:auto;
    margin-top:30px;
    width:100%;
}

#body.white {
    background:white;
}

.fixed
{
    position:fixed !important;
    top:0;
    z-index:998 !important;
}

#back_to_top {
    position: fixed;
    right:0;
    bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    display: none;
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_footer_top.png);
}
/* global css */

/* INPUT */
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
textarea
{
    outline: none;
    margin:0;
    padding: 0 9px;
    border:1px solid #c5c5c5;
    width:100%;
    overflow-y: auto;
    overflow-x:hidden;
    display:inline-block;
    background:#fff;
    height: 34px;
    line-height: 16px;
}

textarea
{
    min-height:200px;
    resize:vertical;
    padding: 9px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
textarea:focus
{
    border:1px solid #808080 !important;
}

.error input[type="text"],
.error input[type="tel"],
.error input[type="password"],
.error input[type="email"],
.error input[type="number"],
.error textarea
{
    border:1px solid #db3158 !important;
}

div.error > p
{
    color:#db3158 !important;
}

.margin_textarea {
    overflow:hidden;
    padding-right:20px;
}
/* INPUT */

/* Champs global */
#message_erreur_header,
.message_erreur_header
{
    overflow:hidden;
    width:100%;
    background-color:#db3158;
    background-position: 25px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_all_error_white.png);
    padding:0px 0px;
    height: 48px;
    display:none;
}

#message_erreur_header p,
.message_erreur_header p
{
    color:white;
    padding:0px 28px 0px 55px;
    line-height:48px;
}

#message_success,
.message_success
{
    overflow:hidden;
    width:100%;
    background-color:rgba(96, 179, 92, 1);
    background-position: 25px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_activetoogle_white.png);
    padding:0px 0px;
    height: 48px;
    display:block;
}

#message_success p,
.message_success p
{
    color:white;
    padding:0px 28px 0px 55px;
    line-height:48px;
}

.new_ligne_input
{
    overflow: hidden;
    /* border:1px solid black; */
    /*margin-bottom:15px;*/
}

.new_ligne_input > div
{
    margin-bottom:15px;
}

.new_ligne_input:last-child
{
    margin-bottom:0px;
}

.new_ligne_input div p
{
    font-size:1em;
    color:#404040;
    width:100%;
    margin-bottom:6px;
    font-weight:bold;
}

div.facultatif p, div.facultatif label {
    color:#888888;
    font-weight:normal !important;
}

div.facultatif p:before {
    content:"" !important;
}

div.facultatif_non_masquable p {
    color:#888888;
    font-weight:normal !important;
}

div.facultatif_non_masquable p:before {
    content:"" !important;
}

div.obligatoire > p {
    color:#404040;
    font-weight:bold !important;
}

div.obligatoire > p:before {
    content:"* " !important;
}

/* TAG TYPE */
div.flag {
    /*juste a marquer */
}

div.gratuit {
    /*juste a marquer */
}

div.bon_de_reduction {
    /*juste a marquer */
}

div.bon_plan {
    /*juste a marquer */
}
/* TAG TYPE */

.input_left
{
    overflow: hidden;
    padding-right:20px;
}

.input_left_inversed
{
    float:left;
    margin-right:25px; /* margin droite et gauche entre les inputs */
    padding-right:20px;
}



.input_right
{
    float:right;
    margin-left:25px; /* margin droite et gauche entre les inputs */
    padding-right:20px;
}

.input_right_inversed
{
    overflow: hidden;
    padding-right:20px;
}

.input_in_input_div {
    float:left;
    padding-right:20px;
    margin-left:25px; /* margin droite et gauche entre les inputs */
    width:85px;
}

.input_in_input_div:first-child {
    margin-left:0px;
}

.drop_down_list_contener {
    overflow:hidden;
    padding-right:0px !important;
}

.drop_down_list_contener label {
    position:relative;
    float:left;
    width:100%;
}

.drop_down_list_contener label:before {
    content:'';
    position:absolute;
    width:34px;
    height:34px;
    border:1px solid #c5c5c5;
    background:#f2f2f2;
    z-index:999px;
    right:0;
    pointer-events:none;
}

.drop_down_list_contener label .triangle_blanc_bas
{
    position:absolute;
    float:right;
    width: 0;
    height: 0;
    right:0;
    margin-top:15px;
    margin-right:11px;
    border-top: 6px solid #808080;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events:none;
}

.drop_down_list_contener label select {
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px 9px;
    height:36px;
    border-top:1px solid #c5c5c5;
    border-left:1px solid #c5c5c5;
    border-bottom:1px solid #c5c5c5;
    width:100%;
    cursor:pointer;
    color:#777777;
    margin:0;
    text-overflow: "";
    text-indent: 0.01px;  
}

option {
    background-repeat: no-repeat;
    padding-left: 8px;
    padding:5px;
    cursor:pointer;
}

div.reduction_div
{
    float:left;

}

div.border_reduction_div
{
    border:1px solid #C5C5C5;
    float:left;

}

div.border_reduction_div a
{
    float:left;
    width:90px;
    padding:9px 0px;
    color:#404040;
    text-align:center;
    background:white;
}

div.border_reduction_div a:first-child {
    margin-left:0px;
}

div.border_reduction_div a:hover
{
    color:white !important;
    background:#655FAA;
}

div.border_reduction_div a.selected
{
    color:white !important;
    background:#655FAA;
}

/*#deal_detail_center div input[type="radio"] {
    display:none;
}

#deal_detail_center div input[type="radio"] + label {
    font-size:1.1em;
    color:#404040;
    width:100%;
    margin-bottom:6px;
    font-weight:bold;
    cursor:pointer;
    margin-right:10px;
}

#deal_detail_center div input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/post_deal/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

#deal_detail_center div input[type="radio"]:checked + label span {
    background:url(../images/post_deal/check_radio_sheet.png) -57px top no-repeat;
}*/

.validate_form
{
    float:left;
    width:100%;
    line-height:40px;
    margin-top:10px;
}

a.validate_button_form
{
    padding:0px;
    text-align:center;
    float:left;
    margin-right:25px;
    color:white;
    padding:0px 15px;
    line-height:40px;
    display: block;
}

.validate_form p
{
    margin:0px !important;
    padding:0px;
    color:#404040;
}



.spinner_validate {
    height:18px;
    width:18px;
    position:relative;
    float:right;
    margin-top: 8px;
    margin-left: 15px;

    display: none;

    -webkit-animation: rotation_validate .6s infinite linear;
    -moz-animation: rotation_validate .6s infinite linear;
    -o-animation: rotation_validate .6s infinite linear;
    animation: rotation_validate .6s infinite linear;
    border-left:3px solid rgba(255, 255, 255, 0.15);
    border-right:3px solid rgba(255, 255, 255, 0.15);
    border-bottom:3px solid rgba(255, 255, 255, 0.15);
    border-top:3px solid rgba(255, 255, 255, 0.8);

    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -khtml-border-radius: 100%; 
    border-radius: 100%;
}

@-webkit-keyframes rotation_validate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation_validate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation_validate {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation_validate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
/* Champs global */

/* PAGINATION */
.body_pagination {
    float:left;
    padding:15px 0px;
    width:100%;
    /*border-top:1px solid #DFDFDF;*/
    background:white;
    height: 32px;
}

.body_pagination .left_part {
    float:left;
    margin:0px 15px;
    height: 32px;
}

.body_pagination .right_part {
    float:right;
    margin:0px 15px;
    height: 32px;
}
.body_pagination .center_part {
    overflow:hidden;
    text-align:center;
}

.body_pagination a {
    padding:0px 11px;
    line-height:30px;
    border:1px solid #d9d9d9;
    display:inline-block;
    background-color:rgba(242, 242, 242, 1);
    color:#777777;
    white-space: nowrap;
    overflow: hidden;
}

.body_pagination a:hover {
    color:#333333;
}

.body_pagination a:active {
    background-color:rgba(231, 231, 231, 1);
    color:#333333;
}

.body_pagination a.opacity_not_clickable {
    opacity:0.5;
    cursor:default !important;
}

.body_pagination a.precedent.opacity_not_clickable:hover {
    background-color:#f2f2f2;
    color:#777777;
    background-image:url(//static.dealabs.com/images/all/icon_pagination_previous.png) !important;
    background-position:11px !important;
    background-repeat:no-repeat !important;
}

.body_pagination a.precedent.opacity_not_clickable:active {
    background-color:#f2f2f2;
    color:#777777;
    background-image:url(//static.dealabs.com/images/all/icon_pagination_previous_active.png) !important;
    background-position:11px !important;
    background-repeat:no-repeat !important;
}

.body_pagination a.suivant.opacity_not_clickable:hover {
    background-color:#f2f2f2;
    color:#777777;
    background-image:url(//static.dealabs.com/images/all/icon_pagination_next.png) !important;
    background-position: right 11px center !important;
    background-repeat:no-repeat !important; 
}

.body_pagination a.suivant.opacity_not_clickable:active {
    background-color:#f2f2f2;
    color:#777777;
    background-image:url(//static.dealabs.com/images/all/icon_pagination_next_active.png) !important;
    background-position: right 11px center !important;
    background-repeat:no-repeat !important;
}

.body_pagination a.active {
    background-color:rgba(231, 231, 231, 1);
    color:#333333;
}

.body_pagination a.suivant {
    background-image:url(//static.dealabs.com/images/all/icon_pagination_next.png);
    background-position: right 11px center !important;
    background-repeat:no-repeat;
}

.body_pagination a.suivant:hover {
    background-image:url(//static.dealabs.com/images/all/icon_pagination_next_active.png);
}

.body_pagination a.suivant span {
    margin-right:20px;
}

.body_pagination a.precedent {
    background-image:url(//static.dealabs.com/images/all/icon_pagination_previous.png);
    background-position:11px;
    background-repeat:no-repeat;
}

.body_pagination a.precedent:hover {
    background-image:url(//static.dealabs.com/images/all/icon_pagination_previous_active.png);
    background-position:11px;
    background-repeat:no-repeat;
}

.body_pagination a.precedent span {
    margin-left:20px;
}

.body_pagination .center_part > div {
    display:inline-block;
}

.body_pagination .center_part a {
    margin-right:-2px;
}

.body_pagination .center_part a:last-child {
    margin-right:0px;
}

.open_more_page_div {
    margin:0px 3px;
    height: 32px;
}

.open_more_page_div .more_page_block {
    position:absolute;
    width:146px;
    border:1px solid #d9d9d9;
    background:#f2f2f2;
    margin-top:10px;
    margin-left:-57px;
    z-index:998px;
    display:none;
}

.open_more_page_div .more_page_block .triangle_haut {
    position:absolute;
    margin-top:-13px;
    margin-left:65px;
}

.open_more_page_div .more_page_block p {
    line-height:30px;
    float:left;
    color:#777777;
    margin-left:11px;
    margin-right:5px;
}

.open_more_page_div .more_page_block input[type="text"]
{
    outline: none;
}

.open_more_page_div .more_page_block input[type="text"]:focus
{
    border-top:none !important;
    border-bottom:none !important;
    border-left:1px solid #d9d9d9 !important;
    border-right:1px solid #d9d9d9 !important;
}

.open_more_page_div .more_page_block input[type="text"] {
    float:left;
    width:22px;
    margin:0;
    padding:0;
    padding:0px 5px;
    height:30px;
    border-top:none;
    border-bottom:none;
    border-left:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
}

.open_more_page_div .more_page_block a {
    float:left;
    padding:0px;
    width:30px;
    height:30px;
    background:#f2f2f2;
    color:#777777;
    display:block;
    border:none;
    
    background-image:url(//static.dealabs.com/images/all/icon_pagination_next.png);
    background-position:center;
    background-repeat:no-repeat;
}

.open_more_page_div .more_page_block a:hover {
    background-image:url(//static.dealabs.com/images/all/icon_pagination_next_active.png);
    background-position:center;
    background-repeat:no-repeat;
    color:#333333;
}

.open_more_page_div .more_page_block a:active {
    background-image:url(//static.dealabs.com/images/all/icon_pagination_next_active.png);
    background-position:center;
    background-repeat:no-repeat;
    background-color:rgba(231, 231, 231, 1);
    color:#333333;
}

/* PAGINATION */ 




/* Background */

/* Boutton gris */
.button_grey_structure {
    line-height:30px;
    float:left;
    display: inline-block;
    color:#777777;
    background-color:rgba(242, 242, 242, 1);
    border:1px solid #d9d9d9;
}

.button_grey_structure.padding {
    padding: 0px 8px;
}

.button_grey_structure:hover {
    color:#333333;
}

.button_grey_structure:active {
    background-color:rgba(231, 231, 231, 1);
    color:#333333;
}
/* Boutton gris */


.background_color_button_grey {
    background-color:rgba(242, 242, 242, 1);
}

.background_color_button_grey:hover {
    background-color:rgba(242, 242, 242, 1);
}

.background_color_button_grey:active {
    background-color:rgba(231, 231, 231, 1);
}

.background_color_grey {
    background-color:rgba(242, 242, 242, 1);
}


.background_color_button_green {
    background-color:rgba(96, 179, 92, 1);
}

.background_color_button_green:hover {
    background-color:rgba(96, 179, 92, 0.8);
}

.background_color_button_green:active {
    background-color:rgba(96, 179, 92, 0.6);
}

.background_color_green {
    background-color:rgba(96, 179, 92, 1) !important;
}

.background_color_button_green {
    background-color:rgba(96, 179, 92, 1);
}

.background_color_button_green:hover {
    background-color:rgba(96, 179, 92, 0.8);
}

.background_color_button_green:active {
    background-color:rgba(96, 179, 92, 0.6);
}

.background_color_violet {
    background-color:#655FAA;
}

.background_color_333333 {
    background-color:#333333;
}

.background_color_button_333333 {
    background-color:rgba(51, 51, 51, 1);
}

.background_color_button_333333:hover {
    background-color:rgba(51, 51, 51, 0.8);
}

.background_color_button_333333:active {
    background-color:rgba(51, 51, 51, 0.6);
}

.background_color_button_blue {
    background-color:rgba(2, 165, 193, 1);
}

.background_color_button_blue:hover {
    background-color:rgba(2, 165, 193, 0.8);
}

.background_color_button_blue:active {
    background-color:rgba(2, 165, 193, 0.6);
}

.background_color_blue {
    background-color:rgba(2, 165, 193, 1);
}

.background_color_button_gele {
    background-color:rgba(96, 198, 230, 1)
}

.background_color_button_gele:hover {
    background-color:rgba(96, 198, 230, 0.8);
}

.background_color_button_gele:active {
    background-color:rgba(96, 198, 230, 0.6);
}

.background_color_gele {
    background-color:rgba(96, 198, 230, 1);
}

.background_color_EC2E52 {
    background-color:rgba(236, 46, 82, 1);
}

.background_color_777777 {
    background-color:rgba(119, 119, 119, 1);
}

.background_color_button_777777 {
    background-color:rgba(119, 119, 119, 1);
}

.background_color_button_777777:hover {
    background-color:rgba(119, 119, 119, 0.8);
}

.background_color_button_777777:active {
    background-color:rgba(119, 119, 119, 0.6);
}

.background_color_button_orange {
    background-color:rgba(248, 139, 2, 1);
}

.background_color_button_orange:hover {
    background-color:rgba(248, 139, 2, 0.8);
}

.background_color_button_orange:active {
    background-color:rgba(248, 139, 2, 0.6);
}

.background_color_red {
    background-color:rgba(244, 67, 67, 1);
}

.background_color_button_red {
    background-color:rgba(244, 67, 67, 1);
}

.background_color_button_red:hover {
    background-color:rgba(244, 67, 67, 0.8);
}

.background_color_button_red:active {
    background-color:rgba(244, 67, 67, 0.6);
}

.background_color_button_grey_cancel {
    background-color:rgba(190, 190, 190, 1);
}

.background_color_button_grey_cancel:hover {
    background-color:rgba(190, 190, 190, 0.8);
}

.background_color_button_grey_cancel:active {
    background-color:rgba(190, 190, 190, 0.6);
}

.background_color_black {
    background-color:rgba(0, 0, 0, 0.3);
}

.background_color_button_black {
    background-color:rgba(0, 0, 0, 0.3);
}

.background_color_button_black:hover {
    background-color:rgba(0, 0, 0, 0.2);
}

.background_color_button_black:active {
    background-color:rgba(0, 0, 0, 0.1);
}

/* utilisé dans post_form.js */
.background_color_error {
    background-color:#DB3158 !important;
}
/* Background */



/* Text */
.text_color_blue {
    color:#02a5c1 !important;
}

.text_color_gele {
    color:#60C6E6 !important;
}

.text_color_red {
    color:rgba(244, 67, 67, 1) !important;
}

.text_color_333333 {
    color:#333333 !important;
}

.text_color_777777 {
    color:#777777 !important;
}

.text_color_b4b4b4 {
    color:#b4b4b4 !important;
}
/* Text */


/* AUTRE A REVOIR */
/* utilisé dans la'activite du profil */
.background_color_f4f4f4 {
    background-color:rgba(244, 244, 244, 1);
}

.background_color_f4f4f4:hover {
    background-color:rgba(244, 244, 244, 0.8);
}

.background_color_f4f4f4:active {
    background-color:rgba(244, 244, 244, 0.6);
}


/* utilisé dans la messagerie du profil */
.background_color_white {
    background-color:white;
}

/* utilisé dans la messagerie, les paramètre du profil */
.background_color_898989 {
    background-color:rgba(137, 137, 137, 1);
}

.background_color_898989:hover {
    background-color:rgba(137, 137, 137, 0.8);
}

.background_color_898989:active {
    background-color:rgba(137, 137, 137, 0.6);
}


/* Text variable */
/* utilisé dans la messagerie du profil */
.text_color_a1a1a1 {
    color:#a1a1a1;
}

/* utilisé dans la messagerie du profil */
.text_size_1 {
    font-size:1em;
}

/* utilisé dans la messagerie du profil */
.text_size_1_2 {
    font-size:1.2em;
}

/* utilisé dans la messagerie du profil */
.text_bold {
    font-weight:bold;
}

/* utilisé dans les paramètres du profil */
.text_align_center {
    text-align:center;
}

/* utilisé dans la messagerie du profil */
.resize_vertical {
    resize:vertical;
}

/* Border */
/* utilisé dans la messagerie, les paramètre du profil */
.border_1px_field {
    border:1px solid #d9d9d9;
}

/* utilisé dans la messagerie, les paramètre du profil */
.border_1px_field:focus {
    border:1px solid #808080;
}

/* utilisé dans la messagerie du profil */
.border_1px_field_error {
    border:1px solid red;
}


/* Div variable */
/* utilisé dans la messagerie, les paramètre du profil et le header */
.full_width {
    width:100%;
}

/* utilisé dans la messagerie, les paramètre du profil et le header */
.float_left {
 float:left;
}

/* utilisé dans la messagerie du profil et le header */
.float_right {
 float:right;
}

/* utilisé dans la messagerie du profil */
.margin_right_20 {
    margin-right:20px;
}

/* utilisé dans la messagerie du profil */
.padding_15 {
    padding:15px;
}

/* utilisé dans la messagerie du profil */
.padding_9 {
    padding:9px;
}

/* utilisé dans les paramètre du profil */
.padding_bottom_15 {
    padding-bottom:15px;
}
/* Variables end */

.button_specification {
    padding:10px 15px;
    color:white;
}
/* AUTRE A REVOIR */



/* Add emoticone formating text CSS */

.formating_text_contener {
    overflow: hidden;
    margin-bottom: 5px;
}

.empty_part {
    float: left;
    height: 24px;
}

.add_formating_part {
    overflow: hidden;
    float: none;
}

.add_formating_part div.first_part_button {
    border-right: 1px solid #d3d3d3;
    float: left;
    padding-right: 5px;
    margin-right: 10px;
}

.add_formating_part div.second_part_button {
    border-right: 1px solid #d3d3d3;
    float: left;
    padding-right: 5px;
    margin-right: 10px;
}

.add_formating_part div.third_part_button {
    float: left;
}

.add_formating_part div.first_part_button a,
.add_formating_part div.second_part_button a
 {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid white;
    margin-right: 5px;
}

.add_formating_part div.first_part_button a:hover,
.add_formating_part div.second_part_button a:hover {
    background-color: rgba(242, 242, 242, 1);
    border:1px solid #d9d9d9;
}

.add_formating_part div.third_part_button a {
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}

.add_formating_part div.third_part_button a img {
    display: block;
}

.add_formating_part a.bold {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_textformatting_bold.png);
}

.add_formating_part a.italic {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_textformatting_italic.png);
}

.add_formating_part a.underline {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_textformatting_underline.png);
}

.add_formating_part a.strike {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_textformatting_strikethrough.png);
}

.add_formating_part a.size {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_textformatting_size.png);
}

.add_formating_part a.quote {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_textformatting_quote.png);
}

.add_formating_part a.spoiler {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_textformatting_spoiler.png);
}

.add_formating_part a.picture {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/all/icon_textformatting_picture.png);
}

/* Add emoticone formating text CSS */














/*Contener*/
.ui-menu
{
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    color: #777777;
    background-color: white;
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    cursor: default;
    position: absolute;
    max-height: 300px;
    overflow: auto;
}
.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a
{
    display: block;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

/*.ui-menu .ui-menu-item a:hover
{
    color: white;
    background-color: #333333;
}*/

.ui-menu .ui-menu-item a.ui-state-focus
{
    color:white;
    background:#777777;
    outline:none;
}

/*.ui-menu .ui-menu-item a.ui-corner-all
{
    background-color: yellow;
}*/
