/* HEADER */
header
{
    width:100%;
    float:left;
    height:auto;
    background-color:#333333;
    /* background-color:red; */
}

#header_black
{
    height:auto;
    float:left;
    width:100%;
}

#header_black a.logo
{
    margin:0 10px 0 0;
    float:left;
    padding:0;
    height:70px;
    width:183px;
    background: url(//static.dealabs.com/images/header/logo.png) no-repeat center;
}

#header_black a.logo.euro
{
    background: url(//static.dealabs.com/images/header/logo_euro_2016.png) no-repeat center;
}

#header_black a.logo.noel
{
    background: url(//static.dealabs.com/images/header/dealabs-christmas-logo.png) no-repeat center;
}

#header_black a.logo:hover {
   background:rgba(0, 0, 0, 1) url(//static.dealabs.com/images/header/icon_header_home.png) no-repeat center;
}


#type_header_conteneur_left
{
    /*float:left;*/
    overflow: hidden;
    padding:20px 0px;
    /* border:1px solid red; */
    margin:0;
}

#type_header_conteneur_left a.elem_header_menu
{
    float:left;
    line-height:30px;
    color:#c3c3c3;
    padding:0px 8px;
    margin-right:3px;
    /* border:1px solid red; */
}

#type_header_conteneur_left a.elem_header_menu:hover
{
    background-color: rgba(0, 0, 0, 1);
}

#type_header_conteneur_left a.elem_header_menu.active {
    background-color: rgba(0, 0, 0, 1);
    color:white;
}

#type_header_conteneur_left a.elem_dropdown_menu
{
    display: block;
    color:#c3c3c3;
    padding:3px 8px;
}

#type_header_conteneur_left a.elem_dropdown_menu:hover
{
    color:white;
}

#type_header_conteneur_left a.elem_dropdown_menu.active {
    color:white;
}

#type_header_conteneur_left div#type_button_popup,
#type_header_conteneur_left div#plus_button_popup
{
    float:left;
    line-height:30px;
    color:#c3c3c3;
    padding:0px 28px; /* 8px de marge */
    margin-right:3px;
    background-image: url(//static.dealabs.com/images/header/icon_header_menu.png), url(//static.dealabs.com/images/header/icon_header_menu_dropdown.png);
    background-position: left 8px center, right 8px center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#type_header_conteneur_left div#plus_button_popup
{
    background-image: url(//static.dealabs.com/images/header/icon_header_more.png), url(//static.dealabs.com/images/header/icon_header_menu_dropdown.png);
    padding:0px 28px 0px 32px;
}

#type_header_conteneur_left div#type_button_popup:hover,
#type_header_conteneur_left div#plus_button_popup:hover
{
    background-color: rgba(0, 0, 0, 1);
}

#type_header_conteneur_left div#type_button_popup.active,
#type_header_conteneur_left div#plus_button_popup.active
{
    background-color: rgba(0, 0, 0, 1);
    background-image: url(//static.dealabs.com/images/header/icon_header_menu_active.png), url(//static.dealabs.com/images/header/icon_header_menu_dropdown_active.png);
    background-position: left 8px center, right 8px center;
    background-repeat: no-repeat;
    color:white;
}

#type_header_conteneur_left div#plus_button_popup.active
{
    background-image: url(//static.dealabs.com/images/header/icon_header_more_active.png), url(//static.dealabs.com/images/header/icon_header_menu_dropdown_active.png);
}

#type_header_conteneur_left div#type_dropdown_menu,
#type_header_conteneur_left div#plus_dropdown_menu
{
    position: absolute;
    z-index: 999;
    /*margin-top: 30px;*/
    background-color: rgba(0, 0, 0, 1);    
    cursor: default;
    color: white;
    line-height: 15px;
    margin-left: -28px;

    display: none;

    /*visibility: hidden;    
    opacity: 0;
    height: 0;
    
    -webkit-transition:opacity .1s ease .3s;
    -moz-transition:opacity .1s ease .3s;
    -o-transition:opacity .1s ease .3s;
    -ms-transition:opacity .1s ease .3s;
    transition:opacity .1s ease .3s;*/
}

#type_header_conteneur_left div#plus_dropdown_menu {
    margin-left: -32px;
}

#type_header_conteneur_left div#plus_dropdown_menu div.image_redirect_externe {
    width:10px;
    height:10px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_header_external_link.png);
    float: right;
    margin-top: 2px;
    margin-left: 5px;
}

#type_header_conteneur_left div#plus_dropdown_menu a.elem_dropdown_menu:hover div.image_redirect_externe {
    background-image: url(//static.dealabs.com/images/header/icon_header_external_link_active.png);
}

/*#type_header_conteneur_left div#type_button_popup:hover ~ div#type_dropdown_menu, #type_header_conteneur_left div#type_dropdown_menu:hover
{
    visibility:visible;
    opacity: 1;
    height: auto;
}*/

#type_header_conteneur_left a.forum
{
    background-position: 8px center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_header_forum.png);
    padding-left: 35px;
}

#type_header_conteneur_left a.forum.active {
    background-image: url(//static.dealabs.com/images/header/icon_header_forum_active.png);
}

#type_header_conteneur_left a.shoop
{
    background-position: 8px center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_header_shoop.png);
    padding-left: 35px;
}

#type_header_conteneur_left a.shoop.active {
    background-image: url(//static.dealabs.com/images/header/icon_header_shoop_active.png);
}

#type_header_conteneur_left a.perso
{
    background-position: 8px center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_header_perso.png);
    padding-left: 35px;
}

#type_header_conteneur_left a.perso.active {
    background-image: url(//static.dealabs.com/images/header/icon_header_perso_active.png);
}

#login_conteneur_right
{
    display: block;
    float: right;
    padding:15px 0px;
    margin:0;
}

#login_conteneur_black
{
    float:right;
    background:black;
    padding:5px;
}

#login_conteneur_black a,
#login_conteneur_black p
{
    float:right;
}

#login_conteneur_right a#register_green
{
    line-height:30px;
    color:white;
    padding:0px 8px 0px 37px;
    margin:0 10px 0 0;
    background-position: 8px center;
    background-repeat: no-repeat;
    background-image: url(../images/header/icon_header_register.png);

}

#login_conteneur_right a#login_blue
{
    color:white;
    line-height:18px;
    margin:6px 5px 6px 0;
}

#login_conteneur_right p
{
    color:white;
    line-height:18px;
    margin:6px 5px 6px 0;
    font-style:italic;
    color:#929292;
}


#login_conteneur_right a#login_google, #login_conteneur_right a#login_twitter, #login_conteneur_right a#login_facebook
{
    color:white;
    margin:0;
    width:36px;
    height:30px;
    /* border:1px solid red; */
}

#login_google
{
    background:url(//static.dealabs.com/images/header/icon_all_google_white.png) no-repeat center;
}
#login_google:hover
{
    background-color: rgba(221, 75, 57, 1);
}

#login_google:active
{
    background-color: rgba(221, 75, 57, 0.8);
}

#login_twitter
{
    background:url(//static.dealabs.com/images/header/icon_all_twitter_white.png) no-repeat center;
}
#login_twitter:hover
{
    background-color: rgba(0, 176, 237, 1);
}

#login_twitter:active
{
    background-color: rgba(0, 176, 237, 0.8);
}

#login_facebook
{
    background:url(//static.dealabs.com/images/header/icon_all_facebook_white.png) no-repeat center;
}
#login_facebook:hover
{
    background-color: rgba(59, 89, 152, 1);
}

#login_facebook:active
{
    background-color: rgba(59, 89, 152, 0.8);
}

#login_blue
{
    /* background-color: rgba(60, 179, 199, 1); */
    
}

#login_blue:hover
{
    /* background-color: rgba(60, 179, 199, 0.8); */
    text-decoration:underline;
}

#login_blue:active
{
    /* background-color: rgba(60, 179, 199, 0.6); */
}

/*Header connected*/
#login_conteneur_right_connected {
    padding:15px 0px;
    width:auto;
    /*overflow: hidden;*/
    float: right;
    /*background:black;*/
}

#pseudo_right_header_contener {
    color:white;
    margin:0;
    float:right;
    background:black;
    padding:5px;
}

#pseudo_right_header_contener:hover {
    background-color:rgba(1, 1, 1, 0.5);
}

#pseudo_right_header_contener:active {
    background-color:rgba(1, 1, 1, 0.2);
}

#pseudo_right_header_contener img {
    width:30px;
    height:30px;
    float:left;
}

#pseudo_right_header_contener span {
    float:left;
    line-height:18px;
    margin:6px 0px 6px 5px;
    
}

.notif_right_header_contener {
    float:right;
    line-height:40px;
    color:white;
    padding:0px 8px;
    margin:0;
}

.notif_right_header_contener span {
    float:left;
    padding:0px;
}

#login_conteneur_right_connected .notif {
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_header_notif.png);
    padding:0px 34px 0px 8px;
}

#login_conteneur_right_connected .mp {
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_all_messages.png);
    padding:0px 34px 0px 8px;
}

#login_conteneur_right_connected .notif {
    background-color:rgba(2, 165, 193, 1);
}

#login_conteneur_right_connected .notif.empty, #login_conteneur_right_connected .mp.empty {
    background-color:rgba(0, 0, 0, 1) !important;
}

#login_conteneur_right_connected .mp {
    background-color:rgba(96, 179, 92, 1);
}

#login_conteneur_right_connected .notif:hover {
    background-color:rgba(2, 165, 193, 0.8);
}

#login_conteneur_right_connected .mp:hover {
    background-color:rgba(96, 179, 92, 0.8);
}

#login_conteneur_right_connected .notif:active {
    background-color:rgba(2, 165, 193, 0.6);
}

#login_conteneur_right_connected .mp:active {
    background-color:rgba(96, 179, 92, 0.6);
}

.other_right_header_contener {
    float:right;
    width:40px;
    height:40px;
    margin:0;
}

#login_conteneur_right_connected .deconnection {
    background: rgba(0, 0, 0, 1) url(//static.dealabs.com/images/header/icon_header_logout.png) no-repeat center;
}

#login_conteneur_right_connected .parametres {
    background: rgba(0, 0, 0, 1) url(//static.dealabs.com/images/header/icon_header_settings.png) no-repeat center;
}

#login_conteneur_right_connected .deconnection:hover {
    background: rgba(0, 0, 0, 0.5) url(//static.dealabs.com/images/header/icon_header_logout.png) no-repeat center;
}

#login_conteneur_right_connected .parametres:hover {
    background: rgba(0, 0, 0, 0.5) url(//static.dealabs.com/images/header/icon_header_settings.png) no-repeat center;
}

#login_conteneur_right_connected .deconnection:active {
    background: rgba(0, 0, 0, 0.2) url(//static.dealabs.com/images/header/icon_header_logout.png) no-repeat center;
}

#login_conteneur_right_connected .parametres:active {
    background: rgba(0, 0, 0, 0.2) url(//static.dealabs.com/images/header/icon_header_settings.png) no-repeat center;
}

.block_notif_contener_absolute {
    position:absolute;
    margin-top:38px;
    width:350px;
    margin-left:-145px;
    display:none;
    z-index:1000;
}

.block_notif_contener {
    width:100%;
    float:left;
    background:white;
}

.block_notif_contener .top_right {
    float:right;
    line-height:26px;
    background-color:rgba(0, 0, 0, 0.3);
    color:white;
    margin:8px 8px 8px 0px;
    padding:0px 5px 0px 22px;

    background-position: 5px center;
    background-repeat: no-repeat;
}

#messagerie_popup .top_right {
    background-image: url(//static.dealabs.com/images/header/icon_notification_newpm.png);
}

#notification_popup .top_right {
    background-image: url(//static.dealabs.com/images/header/icon_notification_allread.png);
}

.block_notif_contener .top_right:hover {
    background-color:rgba(0, 0, 0, 0.2);
}

.block_notif_contener .top_right:active {
    background-color:rgba(0, 0, 0, 0.1);
}

.block_notif_contener .top_left {
    float:left;
    line-height:26px;
    color:white;
    margin:8px 0px 8px 8px;
}

#login_conteneur_right_connected .triangle_haut {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    margin-left:160px;
    margin-top:8px;
}

#login_conteneur_right_connected .triangle_haut_green {
    border-bottom: 15px solid rgba(96, 179, 92, 1);
}

#login_conteneur_right_connected .triangle_haut_blue {
    border-bottom: 15px solid rgba(2, 165, 193, 1);
}

.block_notif_contener_absolute .switcher {
    float: left;
    width: 100%;
}

.block_notif_contener_absolute .switcher a.part_notif {
    float: left;
    width: 50%;
    background: white;
    text-align: center;
    color: #777777;
    padding: 8px 0px 7px 0px;
    border-bottom: 1px solid #d9d9d9;
}

.block_notif_contener_absolute .switcher a.part_notif:hover,
.block_notif_contener_absolute .switcher a.part_notif.active {
    padding: 8px 0px 4px 0px;
    border-bottom: 4px solid rgba(2, 165, 193, 1);
    color: rgba(2, 165, 193, 1);
    text-align: center;
}

.block_notif_contener_absolute .liste_div {
    overflow: hidden;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.block_notif_contener_absolute .liste_div#alertes_part {
    display: none;
}

.block_notif_contener_absolute .liste_div .item {
    overflow: hidden;
    margin: 0px 8px 0px 8px;
    padding: 8px 0px 8px 0px;
    /*border-bottom: 1px solid #d9d9d9;*/
}

.block_notif_contener_absolute .liste_div div.button {
    float: left;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
}

.block_notif_contener_absolute .liste_div div.button a {
    display: inline-block;
    width: 100%;
    padding: 8px 0px;
    background:#f4f4f4;
}

.block_notif_contener_absolute .liste_div div.button a img {
    display: inline-block;
}

.block_notif_contener_absolute .unsubscrib_notif {
    float: right;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_notification_unsubscribe.png);
}

.block_notif_contener_absolute .unsubscrib_notif:hover {
    background-image: url(//static.dealabs.com/images/header/icon_notification_unsubscribe_active.png);
    background-color: #f4f4f4; 
}

.block_notif_contener_absolute .empty_list {
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
}

.block_notif_contener_absolute .empty_list p {
    width: 100%;
    padding: 8px 0px;
}

.block_notif_contener_absolute .left_part_list {
    overflow: hidden;
}

#messagerie_popup.block_notif_contener_absolute .left_part_list:hover p:nth-child(2) {
    text-decoration: underline;
}

#notification_popup.block_notif_contener_absolute .left_part_list:hover p:nth-child(3) {
    text-decoration: underline;
}

.block_notif_contener_absolute .left_part_list > div {
    float:left; 
    width:32px; 
    height:32px; 
    margin-right:8px;
    text-align: center;
}

.block_notif_contener_absolute .left_part_list img {
    display: inline-block;
}

/*Header connected*/

/* Menu blanc */
.button_grey_structure_menu_categorie {
    min-width:181px;
    padding:0px 15px 0px 15px;
    margin:4px 8px 4px 0px;
    cursor:default;
}

#menu_white_background
{
    width:100%;
    float:left;
    height:auto;
    background-color:#ffffff;
    border-bottom:1px solid #d1d5db;
    /* background-color:red; */
}

#header_cookies_seen {
    display: none;
}

#header_message_seen {
    display: none;
}

#header_message
{
    width:100%;
    float:left;
    height:auto;
    background-color:#f9edbe;
    border-bottom:1px solid #f0c36d;
    /* background-color:red; */
}

#header_message .close_button_header_message
{
    float: right;
    /* background-color:red; */
}

#header_message .close_button_header_message a
{
    position:absolute;
    width:30px;
    height:15px;
    background-color:#fce488;
    margin-left: -30px;
    border:1px solid #f0c36d;
    margin-top: 13px;
    background-image: url(//static.dealabs.com/images/all/icon_headermessage_close.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-color:red; */
}

#header_message .text_header_message a
{
    text-decoration: underline;
}

#header_message .close_button_header_message a:hover {
    background-image: url(//static.dealabs.com/images/all/icon_headermessage_close_active.png);
}

#header_message p
{
    line-height: 29px;
    /* background-color:red; */
}

#menu_white_background_replace_float
{
    width:100%;
    float:left;
    height:auto;
    background-color:#ffffff;
    border-bottom:1px solid #d9d9d9;
    display:none;
    /* background-color:red; */
}

#menu_white_background .triangle_blanc_bas
{
    float:right;
    width: 0;
    height: 0;
    margin-left:5px;
    margin-top:13px;
    border-top: 6px solid #808080;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    /*margin-left:5px;
    margin-top:14px;
    border-top: 4px solid #808080;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;*/
}

nav
{
    height:auto;
    float:left;
    width:100%;
    /* border:1px solid black; */
}

#header_message
{
    height:auto;
    float:left;
    width:100%;
    /* border:1px solid black; */
}
/* Menu blanc */

/* MENU */
#contener_menu_padding {
    position:absolute;
    /*background-color:green;*/
    padding-top:40px;
    margin-top:0px;
    opacity: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    visibility:hidden;
    
    z-index:998;
}

#contener_menu_padding.fixed
{
    position:fixed;
}

#contener_menu {
    background-color:white;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    border-left:1px solid #dadada;
    float:left;
    
}

.button_grey_structure:hover ~ #contener_menu_padding, #contener_menu_padding:hover {
    visibility:visible;
    opacity: 1;
    height: auto;
    max-height:220px;
    
    -webkit-transition:max-height .1s ease .3s;
    -moz-transition:max-height .1s ease .3s;
    -o-transition:max-height .1s ease .3s;
    -ms-transition:max-height .1s ease .3s;
    transition:max-height .1s ease .3s;
}

#contener_menu a {
    float:left;
    color:#777777;
    width:100%;
}

#contener_menu a span {
    padding:5px 15px;
    float:left;
}

#contener_menu a.selected {
    /*background-color:#f6f6f6;*/
    font-weight:bold;
    color:#02a5c1;
}

#contener_menu a.active {
    background-color:#f6f6f6;
    font-weight:bold;
    color:#777777;
}

#contener_menu a:hover {
    background-color:#f6f6f6;
    font-weight:bold;
    color:#777777;
}

#cat_contener {
    background-color:white;
    overflow: hidden;
    word-wrap: break-word;
    border-right:1px solid #dadada;
    float:left;
    width:220px;
}

#contener_menu_padding .subcat_contener {
    background-color:white;
    width:auto;
    float:right;
    border-left:1px solid #dadada;
    margin-left:-1px;
    display:none;
    width:210px;
}
#contener_menu_padding .subcat_contener_empty {
    display:none;
}

#cat_contener ul, #cat_contener li, .subcat_contener ul, .subcat_contener li {
    margin:0;
    padding:0;
}

#contener_type {
    float:left;
}

#contener_type a.home {
    float:left;
    margin-top:11px;
    margin-right:8px;
}

#contener_type p.separate_chemin_deal {
    padding:5px 4px 5px 4px;
    line-height:30px;
    margin:0;
    float:left;
    color:#777777;
    font-size:1.1em;
}

#contener_type a.button_chemin_deal {
    padding:5px 8px 5px 8px;
    line-height:30px;
    margin:0;
    float:left;
    color:#777777;
}

#contener_type a.button_chemin_deal:hover {
    text-decoration:underline;
}

#contener_type .button_type_deal {
    padding:5px 15px 2px 15px;
    border-bottom:3px solid white;
    line-height:30px;
    margin:0;
    float:left;
    color:#777777;
}

#contener_type .button_type_deal:hover {
    border-bottom:3px solid white;
    font-weight:bold;

    -webkit-transition:border-bottom .5s ease;
    -moz-transition:border-bottom .5s ease;
    -o-transition:border-bottom .5s ease;
    -ms-transition:border-bottom .5s ease;
    transition:border-bottom .5s ease;
}

#contener_type .button_type_deal.button_parametre:hover {
    border-bottom:0px solid white;
    font-weight:bold;
}

#contener_type .button_type_deal.selected {
    padding:5px 15px 2px 15px;
    line-height:30px;
    margin:0;
    float:left;
    font-weight:bold;
}

#contener_type .button_type_deal.hot:hover {
    border-bottom:3px solid #F64545;
    color:#F64545;
}

#contener_type .button_type_deal.hot.selected {
    border-bottom:3px solid #F64545;
    color:#F64545;
}

#contener_type .button_type_deal.nouveau:hover {
    border-bottom:3px solid #02a5c1;
    color:#02a5c1;
}

#contener_type .button_type_deal.nouveau.selected {
    border-bottom:3px solid #02a5c1;
    color:#02a5c1;
}

#contener_type .button_type_deal.commente:hover {
    border-bottom:3px solid #52B034;
    color:#52B034;
}

#contener_type .button_type_deal.commente.selected {
    border-bottom:3px solid #52B034;
    color:#52B034;
}

#contener_type .notifications:hover {
    border-bottom:3px solid #704791;
    color:#704791;
}

#contener_type .notifications.selected {
    border-bottom:3px solid #704791;
    color:#704791;
}

#contener_type .plus {
    padding-bottom:3px solid white;
    cursor:default;
}

#contener_type .plus:hover {
    border-bottom:3px solid white;
    color:#777777;
}

#contener_type .plus.selected {
    border-bottom:3px solid #704791;
    color:#704791;
    cursor:default;
    padding:5px 15px 2px 15px;
}

#menu_white_background #contener_type .plus .triangle_blanc_bas
{
    margin-left:5px;
    margin-top:14px;
    border-top: 4px solid #808080;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

#menu_white_background #contener_type .plus.selected .triangle_blanc_bas
{
    border-top: 4px solid #704791;
}

#menu_white_background #contener_type .plus.active .triangle_blanc_bas
{
    border-top: 4px solid #808080;
}

#contener_type .plus.selected:hover {
    border-bottom:3px solid white;
    color:#777777;
}

#menu_white_background #contener_type .plus.selected:hover .triangle_blanc_bas
{
    border-top: 4px solid #777777;
}

#contener_type .plus.active {
    color:#777777;
    font-weight:bold;
    padding:5px 15px 2px 15px;
    border-bottom:3px solid white;
}

#contener_plus {
    position:absolute;
    background-color:white;
    margin-top:40px;
    border:1px solid #dadada;
    opacity: 0;
    height: 0;
    max-height:0;
    overflow: hidden;
    visibility:hidden;
    width:190px;
    z-index: 998;
    
    -webkit-transition:max-height .1s ease .3s, opacity .1s ease .3s;
    -moz-transition:max-height .1s ease .3s, opacity .1s ease .3s;
    -o-transition:max-height .1s ease .3s, opacity .1s ease .3s;
    -ms-transition:max-height .1s ease .3s, opacity .1s ease .3s;
    transition:max-height .1s ease .3s, opacity .1s ease .3s;
}

#contener_plus.fixed {
    position:fixed;
}

#contener_type .plus.selected:hover ~ #contener_plus,
#contener_type .plus:hover ~ #contener_plus,
#contener_plus:hover {
    visibility:visible;
    opacity: 1;
    height: auto;
    max-height:100px; /* TAILLE DIV CATEGORIE */
}

#contener_plus:hover ~ .button_type_deal {
    padding:5px 15px 5px 125px;
    border-bottom:0px solid white;
}

#contener_plus ul, #contener_plus li {
    margin:0;
    padding:0;
}

#contener_plus a {
    float:left;
    color:#777777;
    width:100%;
}

#contener_plus a span {
    padding:5px 15px;
    float:left;
}

#contener_plus a.selected {
    /*background-color:#f6f6f6;*/
    font-weight:bold;
    color:#704791;
}

#contener_plus a.active {
    background-color:#f6f6f6;
    font-weight:bold;
    color:#777777;
}

#contener_plus a:hover {
    background-color:#f6f6f6;
    font-weight:bold;
    color:#777777;
}

#contener_type .button_parametre {
    cursor:pointer;
    height: 30px;
    padding:5px 15px 5px 15px;
    border:none;
    float:left;
    width: 27px;

    background-position: 15px center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_headerbar_settings.png);
}

#contener_type .button_parametre.active {
    background-image: url(//static.dealabs.com/images/header/icon_headerbar_settings_active.png);
}

#menu_white_background #contener_type .button_parametre .triangle_blanc_bas
{
    margin-left:5px;
    margin-top:14px;
    border-top: 4px solid #808080;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

#menu_white_background #contener_type .button_parametre.active .triangle_blanc_bas
{
    border-top: 4px solid #333333;
}

#contener_type #contener_parametre_absolute {
    position: absolute;
    margin-top: 40px;
    z-index: 998;
}

#contener_type #contener_parametre {
    background-color:white;
    border:1px solid #dadada;
    border-bottom: none;
    overflow: hidden;
    display: none;
    /*display: block;*/
    padding: 0px;
    width:320px;
}

#contener_type #contener_parametre .ligne_div {
    
    border-bottom: 1px solid #dadada;
    padding: 10px;
}

#contener_type #contener_parametre .validate_form_option_list {
    
    width: 100%;
    float: left;
    border: none;
    text-align: center;
}

.button_validate {
    display: block;
    padding: 10px;
    text-align: center;
    color: #777777;
}

.departement_div {
    margin-top: 5px;
    overflow: hidden;
}

.departement_div > p {
    font-size: 1em;
    color: #777777;
    margin-top:5px;
}

.departement_div > div {
    float:left; 
    width:100%;
}

.departement_div .button_select_region {
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
}

.departement_div .button_select_region div.arrow_part {
    float:right;
    width:30px;
    height:30px;
    background:#f4f4f4;
    border: 1px solid #dadada;
}

.departement_div.added_deal .button_select_region div.arrow_part,
.departement_div.categorie_select .button_select_region div.arrow_part
{
    border: 1px solid #C5C5C5;
}

/* erreur */
.error .departement_div.added_deal .button_select_region div.arrow_part {
    border: 1px solid #db3158;
}

.departement_div.added_deal .button_select_region div.arrow_part,
.departement_div.categorie_select .button_select_region div.arrow_part
{
    width:34px;
    height:34px;
}

.departement_div .button_select_region div.arrow_part div.triangle_blanc_bas
{
    position:absolute;
    width: 0;
    height: 0;
    right:0;
    margin-right: 21px;
    border-top: 6px solid #808080;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.departement_div.added_deal .button_select_region div.arrow_part div.triangle_blanc_bas,
.departement_div.categorie_select .button_select_region div.arrow_part div.triangle_blanc_bas
{
    position:absolute;
    right: auto;
    left: auto;
    width: auto;
    margin-left: 11px;
    margin-top: 15px;
    border-top: 6px solid #808080;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

/* erreur */
.error .departement_div.added_deal .button_select_region div.arrow_part div.triangle_blanc_bas {
    border-top: 6px solid #db3158;
}

.departement_div .button_select_region div.text_part {
    overflow: hidden;
    border: 1px solid #dadada;
    border-right: none;
    height:30px;
}

.departement_div.added_deal .button_select_region div.text_part,
.departement_div.categorie_select .button_select_region div.text_part
{
    height:34px;
    border: 1px solid #C5C5C5;
    border-right: none;
}

.error .departement_div.added_deal .button_select_region div.text_part {
    border: 1px solid #db3158;
    border-right: none;
}

.departement_div .button_select_region div.text_part span {
    line-height: 30px;
    font-size: 1em;
    color: #777777;
    padding: 0px 8px;
    word-break:break-all;
    float:left;
    height:30px;
}

.error .departement_div .button_select_region div.text_part span {
   color: #db3158; 
}

.departement_div.added_deal .button_select_region div.text_part span,
.departement_div.categorie_select .button_select_region div.text_part span
{
    line-height: 34px;
    height:34px;
    word-break:break-all;
}

.departement_div .list_div_absolute {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    display:none;
    z-index: 999;
}

.departement_div.added_deal .list_div_absolute,
.departement_div.categorie_select .list_div_absolute
{
    right: auto;
    left: auto;
    width: auto;
    display:none;
}

.departement_div div.list_div {
    overflow: auto;
    background: white;
    margin:0px 11px;
    border: 1px solid #dadada;
    border-top: none;
    padding:0;
    max-height:350px;
}

.departement_div.added_deal div.list_div,
.departement_div.categorie_select div.list_div
{
    overflow: auto;
    margin:0px;
}

.departement_div div.list_div p {
    /*border-top: 1px solid #dadada;*/
    background: #f4f4f4;
    padding:5px 10px;
    color: #777777;
    overflow: hidden;
    width: auto;
}

.departement_div div.list_div label {
    display: block;
    padding:5px 10px;
    color:#777777;
    cursor: pointer;
}

.departement_div div.list_div label.categorie {
    font-weight: bold;
}

.departement_div div.list_div label:hover {
    background-color:#F6F6F6;
    font-weight:bold;
}

.departement_div div.list_div label.active {
    font-weight:bold;
    background-color:white;
    color:#60B35C;
}

.departement_div div.list_div label input[type=checkbox] {
    padding:0;
    margin:2px 0 0 0;
    float: left;
}

.departement_div div.list_div label.sous_categorie input[type=checkbox] {
    margin:2px 0 0 8px;
}

.departement_div div.list_div label span {
    margin-left:5px;
}

.departement_div a.button_validate {
    display: block;
    background-color: #f4f4f4;
    text-align: center;
    color: #777777;
    margin:0px 11px;
    padding:8px;
    border: 1px solid #dadada;
    border-top: none;
}

.departement_div.added_deal a.button_validate,
.departement_div.categorie_select a.button_validate
{
    margin:0px 0px;
}

#contener_type #contener_parametre .text_left {
    overflow: hidden;
}

#contener_type #contener_parametre .button_right {
    float:right;
    margin-left: 12px;
    display: block;
}

#contener_type #contener_parametre .text_left p {
    text-align: left;
    line-height: 24px;
    font-size: 1em;
    color: #777777;
}

.bouton_contener_border {
    border: 1px solid #d9d9d9;
    height:22px;
    width: 65px;

}

.yes_part, .no_part {
    height:22px;
    cursor: pointer;
    background: #f4f4f4;
}

.yes_part {
    float:left;
    width: 50%;
    border-right: 1px solid #d9d9d9;

}

.no_part {
    overflow: hidden;
}

.yes {
    background: rgba(96, 179, 92, 1) url(//static.dealabs.com/images/header/icon_activetoogle_white.png) no-repeat center;
}

.no {
    background: rgba(128, 128, 128, 1) url(//static.dealabs.com/images/header/icon_inactivetoogle_white.png) no-repeat center;
}

/* MENU */

/* Search button header blanc */


#contener_search_part {
    float:right;
    width:auto;
}
#contener_search_part .search_button {

    margin:4px 0px 0px 0px;
    float:right;
    height:30px;
    width:30px;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    border-left:none;
    border-right:1px solid #d9d9d9;
    background-image:url(//static.dealabs.com/images/header/icon_headerbar_search.png);
    background-repeat:no-repeat;
    background-position:center;
}

#contener_search_part .search_button:hover {

    background-image:url(//static.dealabs.com/images/header/icon_headerbar_search_active.png);
}

#contener_search_part .search_button:active {

    background-image:url(//static.dealabs.com/images/header/icon_headerbar_search_active.png);
}

#contener_search_part .input_search
{
    float:right;
    border-bottom:1px solid #d9d9d9;
    border-top:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
    border-left:1px solid #d9d9d9;
    width:196px;
    outline: none;
    margin:4px 0px 0px 0px;
    height:32px;
    line-height: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#contener_search_part .input_search:focus
{
    border-bottom:1px solid #808080;
    border-top:1px solid #808080;
    border-right:1px solid #808080;
    border-left:1px solid #808080;
}


#contener_search_part .advanced_search_button
{
    margin:4px 0 0px 5px;
    float:right;
    height:30px;
    width:30px;
    border:1px solid #d9d9d9;
    background-image:url(//static.dealabs.com/images/header/icon_headerbar_advancedsearch.png);
    background-repeat:no-repeat;
    background-position:center;
}

#contener_search_part .advanced_search_button:hover {

    background-image:url(//static.dealabs.com/images/header/icon_headerbar_advancedsearch_active.png);
}

#contener_search_part .advanced_search_button:active {

    background-image:url(//static.dealabs.com/images/header/icon_headerbar_advancedsearch_active.png);
}

#contener_search_part .tout_marquer_comme_lu {
    margin:4px 5px 0px 0px;
    padding:0px 8px 0px 25px;
    height:30px;
    width:auto;
    border:1px solid #d9d9d9;
    background-image:url(//static.dealabs.com/images/forum/icon_forum_allread_mini.png);
    background-repeat: no-repeat;
    background-position: 8px;
}

#contener_search_part .tout_marquer_comme_lu:hover {
    background-image:url(//static.dealabs.com/images/forum/icon_forum_allread_mini_active.png);
}
/* Search button header blanc */


/* LOGIN/REGISTER */
#overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top:0;
    visibility: hidden;
    z-index: 999;

    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
#popup_center_login, #popup_center_register, .popup_center_signalement {
    
    display: block;/*
    left: -webkit-calc(50% - 330px) !important;
    left: -moz-calc(50% - 330px) !important;
    left: -ms-calc(50% - 330px) !important;
    left: -o-calc(50% - 330px) !important;
    left: calc(50% - 330px) !important;*/

    left: 50%;

    margin-left: -330px;

    opacity: 0;
    position: fixed;
    text-align:left;
    top: 5%;
    visibility: hidden;
    z-index: 1000;
    width:660px;

    border: 10px solid rgba(0, 0, 0, 0.4);

    -webkit-transition: opacity .3s ease, top .3s ease;
    -moz-transition: opacity .3s ease, top .3s ease;
    -ms-transition: opacity .3s ease, top .3s ease;
    -o-transition: opacity .3s ease, top .3s ease;
    transition: opacity .3s ease, top .3s ease;
}

/* code signalement */
.popup_center_signalement .header_popup
{
    background-image: url(//static.dealabs.com/images/all/picture_reportdeal.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.popup_center_signalement form
{
    float: left;
    width: 100%;
}


.popup_center_signalement .header_popup p
{
    color:white;
    font-size:2.2em;
    margin-left:15px;
}

.popup_center_signalement .sub_header_popup {
    background-color:#f5f5f5;
    width:100%;
    float:left;
}

.popup_center_signalement .sub_header_popup p {
    line-height:30px;
    color:black;
    font-weight:bold;
    margin:0px 15px;
}

.popup_center_signalement .sub_header_popup p span {
    float:left;
}

.popup_center_signalement .body_signalement {
    padding:15px;
    overflow: hidden;
}

.popup_center_signalement .body_signalement p {
    margin-bottom: 15px;
    color: #777777;
    font-size: 0.9em;
    text-align: justify;
    overflow: hidden;
}

.popup_center_signalement .body_signalement p a {
    color:#02a5c1;
    text-decoration: underline;
}

.popup_center_signalement .body_signalement div {
    overflow: hidden;
    padding-right:20px;
}

.popup_center_signalement .body_signalement textarea {
    min-height:80px !important;
}

.popup_center_signalement div.button_div {
    float:left;
    padding:0px 15px 15px 15px;
}

.popup_center_signalement a.bouton_valider_signalement {
    color:white;
    padding:8px 12px;
    display: block;
}
/* fin code signalement */

/* Doublon */
.popup_center_signalement .header_popup.doublon
{
    background-image: url(//static.dealabs.com/images/all/picture_double_post.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.popup_center_signalement #doublon_part {
    padding:15px;
    overflow: hidden;
}

.popup_center_signalement #doublon_part p {
    color: #777777;
    font-size: 0.9em;
    text-align: justify;
    overflow: hidden;
}

.popup_center_signalement #doublon_part p a {
    color:#02a5c1;
}

.popup_center_signalement #doublon_part p a:hover {
    text-decoration: underline;
}

.popup_center_signalement #doublon_part p.title_top {
    font-weight: bold;
    color: black;
    font-size: 1em;
    margin-bottom: 15px;
}

.popup_center_signalement #doublon_part div.doublon_deal_part {
    overflow: hidden;
}

.popup_center_signalement #doublon_part div.doublon_deal_part .deal_image {
    float: left;
    margin-right: 15px;
}

.popup_center_signalement #doublon_part div.doublon_deal_part .deal_image img {
    display: block;
    border: 1px solid #d9d9d9;
}

.popup_center_signalement #doublon_part div.doublon_deal_part .deal_content {
    overflow: hidden;
}

.popup_center_signalement #doublon_part div.doublon_deal_part .deal_content .deal_temperature {
    font-weight: bold;
    font-size: 1.4em;
    color: #777777;
    line-height: 18px;
    margin-bottom: 10px;

}

.popup_center_signalement #doublon_part div.doublon_deal_part .deal_content .deal_title {
    font-weight: normal;
    font-size: 1.1em;
    color: #333333;
    line-height: 18px;
    margin-bottom: 14px;
}

.popup_center_signalement #doublon_part div.doublon_deal_part .deal_content .deal_informations {
    font-size: 1.1em;
    line-height: 22px;
}

.popup_center_signalement a.bouton_doublon {
    color:white;
    padding:10px 15px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.popup_center_signalement #doublon_part div.doublon_deal_part .more_deals {
    overflow: hidden;
    margin-top: 25px;
}

.popup_center_signalement #doublon_part div.doublon_deal_part .more_deals a.other_deal {
    color:black;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 5px;
}

.popup_center_signalement #doublon_part div.doublon_deal_part .more_deals a.other_deal:last-child {
    margin-bottom: 0px; 
}
/* Doublon */

#popup_center_login.active, #popup_center_register.active, .popup_center_signalement.active {
    top: 20%;
    visibility:visible;
    opacity: 1;
}

#popup_center_login .background_white, #popup_center_register .background_white, .popup_center_signalement .background_white {
    float:left;
    width:100%;

    /*margin-left: -50%;*/
}

#popup_center_login a.close_popup, #popup_center_register a.close_popup, .popup_center_signalement a.close_popup_signalement {
    position:absolute;
    margin-top:-32px;
    font-weight:bold;
    color:white;
    line-height:22px;
    margin-left: 601px;
    top:0;
    width: auto;
    
    /*float:right;
    margin-top:-45px;
    margin-right:-10px;
    font-weight:bold;
    color:white;*/
}

#popup_center_login .header_popup, #popup_center_register .header_popup, .popup_center_signalement .header_popup
{
    padding:15px 0px 15px 0px;
    width:100%;
    float:left;
}

#popup_center_login .header_popup
{
    background:#02a5c1 url(//static.dealabs.com/images/header/picture_login.png) no-repeat right top;
}

#popup_center_register .header_popup
{
    background:#60b35c url(//static.dealabs.com/images/header/picture_login.png) no-repeat right top;
}

#popup_center_login .header_popup p, #popup_center_register .header_popup p
{
    color:white;
    font-size:2.2em;
    margin-bottom:10px;
    margin-left:15px;
}

#popup_center_login .header_popup #top_login_redirect, #popup_center_register .header_popup #top_register_redirect
{
    color:white;
    font-size:0.9em;
    padding:2px 5px;
    margin-left:15px;
}

#popup_center_login .header_popup #top_login_redirect,
#popup_center_register .header_popup #top_register_redirect
{
    background-color: rgba(0, 0, 0, 0.3);
}

#popup_center_login .header_popup #top_login_redirect:hover,
#popup_center_register .header_popup #top_register_redirect:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}

#popup_center_login .header_popup #top_login_redirect:active,
#popup_center_register .header_popup #top_register_redirect:active
{
    background-color: rgba(0, 0, 0, 0.1);
}

#popup_center_login .sub_header_popup,
#popup_center_register .sub_header_popup {
    background-color:#f5f5f5;
    width:100%;
    float:left;
}

#popup_center_login .sub_header_popup p,
#popup_center_register .sub_header_popup p {
    line-height:30px;
    color:black;
    font-weight:bold;
    margin:0px 15px;
}

#popup_center_login .sub_header_popup p span:first-child,
#popup_center_register .sub_header_popup p span:first-child {
    float:left;
}

#popup_center_login .sub_header_popup p span:last-child,
#popup_center_register .sub_header_popup p span:last-child {
    float:right;
}

.body_login_register
{
    float:left;
    height:auto;
    width:100%;
}

#popup_center_login #content_left, #popup_center_register #content_left {
    /*margin-right:300px;*/
    overflow: hidden;
    word-wrap: break-word;
    border-right:1px solid #d9d9d9;
}

#popup_center_login #content_right, #popup_center_register #content_right {
    width:330px;
    float:right;
    border-left:1px solid #d9d9d9;
    margin-left:-1px;
}

#popup_center_login .padding_content_logreg, #popup_center_register .padding_content_logreg {
    padding:15px;
    overflow:hidden;
    background:white;
}

#popup_center_login label, #popup_center_register label
{
    font-size:0.9em;
    color:#777777;
    cursor:pointer;
}

#popup_center_login .input_div, #popup_center_register .input_div
{
    overflow: hidden;
    word-wrap: break-word;
    padding-right:22px;
    margin:0;
    height:auto;
}

.new_ligne_input div.pseudo,
.new_ligne_input div.password,
.new_ligne_input div.password_validation,
.new_ligne_input div.email
{
    float:left;
    width:34px;
    height:34px;
    border-top:1px solid #C5C5C5;
    border-bottom:1px solid #C5C5C5;
    border-left:1px solid #C5C5C5;
}

.new_ligne_input.error div.pseudo,
.new_ligne_input.error div.password,
.new_ligne_input.error div.password_validation,
.new_ligne_input.error div.email
{
    border-top:1px solid #DB3158;
    border-bottom:1px solid #DB3158;
    border-left:1px solid #DB3158;
}

#popup_center_register  div.other,
#popup_center_login  div.other
{
    float:left;
    width:36px;
}

#popup_center_login div.pseudo, #popup_center_register div.pseudo,
.contener_waiting_subscribing .inner .new_ligne_input div.pseudo
{
    background:white url(//static.dealabs.com/images/header/icon_login_username.png) no-repeat center;
}
#popup_center_login div.password, #popup_center_register div.password,
.contener_waiting_subscribing .inner .new_ligne_input div.password
{
    background:white url(//static.dealabs.com/images/header/icon_login_password.png) no-repeat center;
}

#popup_center_register div.password_validation,
.contener_waiting_subscribing .inner .new_ligne_input div.password_validation
{
    background:white url(//static.dealabs.com/images/header/icon_login_confirmpassword.png) no-repeat center;
}
#popup_center_register div.email,
#popup_center_login div.email,
.contener_waiting_subscribing .inner .new_ligne_input div.email
{
    background:white url(//static.dealabs.com/images/header/icon_login_mail.png) no-repeat center;
}

#content_left .checkbox_margin {
    margin-left:12px;
}

#popup_center_register  #content_left div.validate_div,
#popup_center_login  #content_left div.validate_div
{
    float:left;
}

#popup_center_register div.cgu_text,
#popup_center_login div.cgu_text
{
    overflow: hidden;
    word-wrap: break-word;
    margin:0;
    height:auto;
}

#popup_center_register div.cgu_text p,
#popup_center_login div.cgu_text p
{
    font-size:0.9em;
    margin-left:15px;
    line-height:12px;
    color:#777777;
}

#popup_center_register div.cgu_text a,
#popup_center_login div.cgu_text a
{
    color:#02a5c1;
    text-decoration:underline;
}

#popup_center_login a.button_validate, #popup_center_register a.button_validate
{
    width:100%;
    float:left;
    text-align:center;
    color:white;
    padding:10px 0px;
}

#popup_center_login  .reseau_title,
#popup_center_register  .reseau_title
{
    color:#777777;
    width:100%;
    text-align:justify;
    margin-bottom:15px;
    line-height:21px;
}

#popup_center_login .reseau_div, #popup_center_register .reseau_div
{
    overflow: hidden;
    word-wrap: break-word;
    margin:0;
    height:auto;
}

#popup_center_register div.logo_reseau,
#popup_center_login div.logo_reseau
{
    float:left;
    width:36px;
    height:36px;
}

#popup_center_login .reseau_div p, #popup_center_register .reseau_div p
{
    line-height:36px;
    color:white;
    margin-left:15px;
}

#popup_center_login .reseau_margin_bottom_separate,
#popup_center_register .reseau_margin_bottom_separate
{
    margin-bottom:20px;
    width:100%;
    float:left;
}

#popup_center_register .facebook,
#popup_center_login .facebook
{
    background:rgba(59, 89, 152, 1);
}

#popup_center_register .facebook:hover,
#popup_center_login .facebook:hover
{
    background:rgba(59, 89, 152, 0.8);
}

#popup_center_register .facebook:active,
#popup_center_login .facebook:active
{
    background:rgba(59, 89, 152, 0.6);
}

#popup_center_register div.facebook_logo,
#popup_center_login div.facebook_logo
{
    background:rgba(1, 1, 1, 0.3) url(//static.dealabs.com/images/header/icon_all_facebook_white.png) no-repeat center;
}

#popup_center_register .twitter,
#popup_center_login .twitter
{
    background:rgba(0, 176, 237, 1);
}

#popup_center_register .twitter:hover,
#popup_center_login .twitter:hover
{
    background:rgba(0, 176, 237, 0.8);
}

#popup_center_register .twitter:active,
#popup_center_login .twitter:active
{
    background:rgba(0, 176, 237, 0.6);
}

#popup_center_register div.twitter_logo,
#popup_center_login div.twitter_logo
{
    background:rgba(1, 1, 1, 0.3) url(//static.dealabs.com/images/header/icon_all_twitter_white.png) no-repeat center;
}

#popup_center_register .google,
#popup_center_login .google
{
    background:rgba(221, 75, 57, 1);
}

#popup_center_register .google:hover,
#popup_center_login .google:hover
{
    background:rgba(221, 75, 57, 0.8);
}

#popup_center_register .google:active,
#popup_center_login .google:active
{
    background:rgba(221, 75, 57, 0.6);
}

#popup_center_register div.google_logo,
#popup_center_login div.google_logo
{
    background:rgba(1, 1, 1, 0.3) url(//static.dealabs.com/images/header/icon_all_google_white.png) no-repeat center;
}

#motdepasse_part {
    display:none;
}

#popup_center_login #motdepasse_contener {
    overflow: hidden;
    word-wrap: break-word;
    background:red;
}

#popup_center_login #motdepasse_contener p {
    margin-bottom:15px;
    color:#777777;
    text-align:justify;
}

#popup_center_login .oubli_mail_input {
    width:250px;
}

#popup_center_login a.button_oubli
{
    width:100px;
    float:left;
    text-align:center;
    color:white;
    margin-right:15px;
    padding:10px 0px;
}
/* LOGIN/REGISTER end */

/* report confirm message */
.confirm_message {
    width: 100%;
    float: left;
    height: auto;
    background-color: #60b35c;
    border-bottom: 1px solid #d1d5db;
    padding: 10px;
}

.confirm_message p {
    color: white;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.confirm_message p:before {
    content: url(//static.dealabs.com/images/header/icon_activetoogle_white.png);
    margin-right: 20px;
    position: relative;
    top: 2px;
}
/* report confirm message */

#let_it_snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;
}

