/* INDEX + RIGHTBAR */
section {
    /*background-color:#ffffff;*/
    /*margin-right:300px;*/
    min-height:600px;
    overflow: hidden;
    word-wrap: break-word;
}

section div.after_pagination {
    float: left;
    padding: 15px 0px;
    width: 100%;
    background-color: white;
    margin-top:10px;
}

section div.after_pagination p {
    padding: 0px 15px;
    overflow: hidden;
    font-size: 1em;
    text-align: justify;
    color: #777777;
}

section div.after_pagination a {
    color: #02a5c1;
}

section div.after_pagination a:hover {
    text-decoration: underline;
}

section div.after_pagination h2  {
    padding: 15px 15px;
    overflow: hidden;
    font-size: 1em;
    font-weight: bold;
    text-align: justify;
    color: #777777;
}

aside {
    /* background:orange; */
    width:270px;
    float:right;
}

#rightbar_content
{
    margin-left:20px;
    float:right;
}

#select_type_deal_contener .postdeal_button_rightbar
{
    display:none;
}

#body .postdeal_button_rightbar
{
    float:left;
    width:100%;
    height:40px;
    background-color: rgba(130, 118, 185, 1);
}

#body .postdeal_button_rightbar div
{
    float:left;
    width:40px;
    height:40px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/rightbar/plus_postdeal.png);
}

#body .postdeal_button_rightbar p
{
    overflow:hidden;
    line-height:40px;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:1.1em;
}

#body .postdeal_button_rightbar:hover
{
    background-color: rgba(130, 118, 185, 0.8);
}

#body .postdeal_button_rightbar:active
{
    background-color: rgba(130, 118, 185, 0.6);
}

.bloc_rightbar
{
    float:left;
    width:100%;
    margin-top:20px;
    
}

.bloc_rightbar div.title_div
{
    padding:0px;
    background-color: rgba(0, 0, 0, 0.3); 
}

.bloc_rightbar .title_div p,
.bloc_rightbar .title_div a.title_link
{
    text-align:left;
    margin:0;
    color:white;
    padding:8px 8px;
    font-weight:bold;
    font-size:1.1em;
    line-height:16px;
    display: block;
}

.bloc_rightbar .title_div a.title_link:hover {
    text-decoration: underline;
}

.bloc_rightbar .title_div a.plus_button
{
    float: right;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}

.bloc_rightbar .title_div a.open
{
    background-image: url(//static.dealabs.com/images/all/icon_home_unroll.png);
}

.bloc_rightbar .title_div a.close
{
    background-image: url(//static.dealabs.com/images/all/icon_home_roll.png);
}

.bloc_rightbar .title_div a.delete
{
    background-image: url(//static.dealabs.com/images/alertes/icon_alerts_remove.png);
    background-repeat:no-repeat;
    background-position: center;
}

.bloc_rightbar .title_div a.vp_logo
{
    background-image: url(//static.dealabs.com/images/rightbar/voyagespirates_logo_rightbar.png);
}

.bloc_rightbar .premiere_visite {
    overflow: hidden;
    padding:10px;
}

.bloc_rightbar .premiere_visite p {
    float:left;
    font-size:1.2em;
    color:white;
    line-height:40px;
    margin-left:10px;
}

.bloc_rightbar .circle {
    float:left;
    height:40px;
    width:40px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -khtml-border-radius: 20px; 
    border-radius: 20px;
    background:#437d40 url(//static.dealabs.com/images/rightbar/icone_premiere_visite.png) no-repeat center;
    
    /* icone_premiere_visite.png */
}

/* Whatsapp */
.bloc_rightbar #whatsapp {
    display:block;
    background-color: white;
    margin: 15px 10px 15px 20px;
    position: relative;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px; 
    border-radius: 4px;


    -webkit-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    -o-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    -ms-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    -khtml-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
}

.bloc_rightbar #whatsapp .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent white transparent transparent;
    left: -10px;
}

.bloc_rightbar .title_div a.whatsapp_link
{
    background-image: url(//static.dealabs.com/images/rightbar/icon_widget_whatsapp.png);
}

.bloc_rightbar #whatsapp div.content {
    overflow: hidden;
    padding: 15px;
}

.bloc_rightbar #whatsapp div.content p {
    font-size: 0.95em;
    line-height: 15px;
    font-weight: bold;
    color:#777777;
    float: left;
}

.bloc_rightbar #whatsapp div.content p#text_registration {
    font-weight: normal;
    margin-top:15px;
    display: none;
}

.bloc_rightbar #whatsapp div.content p#text_registration img {
    display: inline-block;
}

.bloc_rightbar #whatsapp div.content p a {
    text-decoration: underline;
    color: #02a5c1;
}

.bloc_rightbar #whatsapp div.content a.register {
    float: left;
    width: 100%;
    font-size:0.95em;
    color: white;
    background-color: rgba(12, 97, 87, 1);
    line-height: 32px;
    text-align: center;
    margin-top:15px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px; 
    border-radius: 4px;
}

.bloc_rightbar #whatsapp div.content a.register:hover {
    background-color: rgba(12, 97, 87, 0.8);
}

.bloc_rightbar #whatsapp div.content a.register:active {
    background-color: rgba(12, 97, 87, 0.6);
}

/* concours */

.bloc_rightbar#contest div{
    background-color: #148fa6;
}

.bloc_rightbar#contest a{
    display: block;
}

.bloc_rightbar#contest a img{
    display: block;
    background-color: #02a5c1;
}

/* Whatsapp */

/* Dealivreasy */
/*.bloc_rightbar .dealivreasy {
    overflow: hidden;
    padding:10px;
}

.bloc_rightbar .dealivreasy p {
    overflow: hidden;
    font-size:1.1em;
    color:white;
    line-height:20px;
}

.bloc_rightbar .dealivreasy .circle {
    float:left;
    height:40px;
    width:40px;

    margin-right:10px;

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -khtml-border-radius: 20px; 
    border-radius: 20px;
    background:rgba(0, 0, 0, 0.3) url(//static.dealabs.com/images/other_pages/dealivreasy/icon_widget_dealivreasy.png) no-repeat center; 
}*/
/* Dealivreasy */

.bloc_rightbar div.selection_top
{
    width:100%;
    float:left;
}

.bloc_rightbar div.selection_top a
{
    width:25%;
    background:white;
    float:left;
    text-align:center;
    color:#777777;
    padding:8px 0px 7px 0px;
    border-bottom: 1px solid #d9d9d9;
}

#add_alert.bloc_rightbar div.selection_top a
{
    width:50%;
}

.bloc_rightbar div.selection_top a:hover
{
    background:rgba(0, 0, 0, 0);
}

.bloc_rightbar div.selection_top a.active
{
    background:rgba(0, 0, 0, 0);
}

/*.bloc_rightbar img
{
    padding:0;
    margin:0;
    border:none;
    display:block;
    width:250px;
}*/

.bloc_rightbar div.padding_div_liste_widget
{
    overflow:hidden;
    background:rgba(0, 0, 0, 0);
    padding:2px 10px 2px 10px;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget
{
    padding:15px 10px 15px 10px;
}

.bloc_rightbar div.div_liste_widget,
.bloc_rightbar div.div_liste_alert
{
    float:left;
    width:100%;
    background:white;
    display:none;
}

.bloc_rightbar div.padding_div_liste_widget div.div_liste_widget:first-child,
.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert:first-child
{
    display:block;
}

.bloc_rightbar div.div_liste_alert a.alert_list
{
    display:block;
    line-height: 20px;
    padding-left: 17px;
    color: #777777;
    border-left: 3px solid rgba(0, 0, 0, 0);
}

.bloc_rightbar div.div_liste_alert a.alert_list.selected,
.bloc_rightbar div.div_liste_alert a.alert_list:hover
{
    padding-left: 17px;
    border-left: 3px solid rgba(2, 165, 193, 1);
    color: rgba(2, 165, 193, 1);
    font-weight: bold;
}

#purge_button {
    float:left;
    width:100%;
    margin-top:10px;
    border-top:1px solid #d9d9d9;
    padding-top:10px;
}

#purge_button a {
    margin:0px 15px;
    text-align:center;
    padding-left:25px; 
    display:block;
    overflow:hidden; 
    background-color:rgba(242, 242, 242, 1);
    background-position:10px; 
    background-repeat:no-repeat; 
    background-image:url(//static.dealabs.com/images/alertes/icon_alerts_reset.png);
    border:1px solid #d9d9d9; 
    line-height:26px;
    color:#777777;
}

#purge_button a:hover {
    color:#333333;
    background-image:url(//static.dealabs.com/images/alertes/icon_alerts_reset_active.png);
}

#purge_button a:active {
    background-color:rgba(231, 231, 231, 1); 
}

#rightbar_content div.bloc_rightbar div.onglet_contener {
    display:none;
    float:left;
    width:100%;
}

#rightbar_content div.bloc_rightbar div.onglet_contener#block_alert_configuration {
    display:block;
}

.bloc_rightbar div.padding_div_deal_hot,
.bloc_rightbar div.padding_div_thread
{
    overflow:hidden;
    /*padding:6px;*/
}

.bloc_rightbar div.padding_div_deal_hot.plus,
.bloc_rightbar div.padding_div_thread.plus
{
    overflow:hidden;
    /*padding:0px 6px 6px 6px;*/
    display:none;
}

.bloc_rightbar div.padding_div_liste_widget div.div_liste_widget div.padding_div_deal_hot a:last-child,
.bloc_rightbar div.padding_div_liste_widget div.div_liste_widget div.padding_div_thread a:last-child
{
    border-bottom:none;
}

.bloc_rightbar div.padding_div_liste_widget div.div_liste_widget a
{
    float:left;
    width:100%;
    border-bottom:1px solid #d9d9d9;
    padding-bottom:8px;
    padding-top:8px;
}

#add_alert .message_success
{
    overflow:hidden;
    width:100%;
    background-color:rgba(96, 179, 92, 1);
    background-position: 25px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/header/icon_activetoogle_white.png);
    padding:0px 0px;
    height: 48px;
    display:block;
}

#add_alert .message_success p
{
    color:white;
    padding:0px 28px 0px 55px;
    line-height:48px;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert
{
    margin-bottom: 4px;
    background: rgba(2, 165, 193, 1);
    color: white;
    margin-right: 4px;
    float: left;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert.exclude
{
    background: #777777;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert tr
{
    width: auto;
    display: block;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert td p
{
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    padding: 0px 4px;
    width: auto;
    color: white;
    word-break: break-all;

}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert td.operateur_and
{
    width:26px;
    height:22px;
    background:white;
    margin:0;
    padding:0;
    background-image: url(//static.dealabs.com/images/alertes/icon_alerts_and.png);
    background-repeat:no-repeat;
    background-position: left;
    padding-right: 0px;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert td.operateur_or_grey
{
    width:26px;
    height:22px;
    background:white;
    margin:0;
    padding:0;
    background-image: url(//static.dealabs.com/images/alertes/icon_alerts_or_black.png);
    background-repeat:no-repeat;
    background-position: left;
    padding-right: 0px;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert td.operateur_or_blue
{
    width:26px;
    height:22px;
    background:white;
    margin:0;
    padding:0;
    background-image: url(//static.dealabs.com/images/alertes/icon_alerts_or.png);
    background-repeat:no-repeat;
    background-position: left;
    padding-right: 0px;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert td.delete
{
    margin-left: 8px;
    background-color: rgba(1, 1, 1, 0);
    color: white;
    width: :20px;
    cursor: pointer;

    background-image: url(//static.dealabs.com/images/alertes/icon_alerts_delete.png);
    background-repeat:no-repeat;
    background-position: center;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert td.delete:hover
{
    background-color: rgba(1, 1, 1, 0.2);
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert table.keyword_alert td.delete:active
{
    background-color: rgba(1, 1, 1, 0.3);
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert .add_button {
    line-height: 34px;
    padding: 0px 8px;
    border: 1px solid #c5c5c5;
    border-left: none;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert .validate_form,
#all_notification_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert .validate_form {
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
    overflow:hidden;
}

#add_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert .validate_form a,
#all_notification_alert.bloc_rightbar div.padding_div_liste_widget div.div_liste_alert .validate_form a {
    margin-right: 0px;
    display:inline-block;
    float: none;
}

a.tuto_step_open {
    display: block;
    width: 15px;
    height: 15px;
    border:1px solid #dfdfdf;
    background-color: #f4f4f4;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/alertes/icon_help.png);
}

#add_alert a.flux_rss_button,
#all_notification_alert a.flux_rss_button {
    float: left;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
}


#add_alert a.flux_rss_button > div,
#all_notification_alert a.flux_rss_button > div {
    background-image: url(//static.dealabs.com/images/alertes/icon_all_rss.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(1, 1, 1, 0.3);
    width: 30px;
    height: 30px;
    float: left;
    display: block;
}

.new_ligne_input div p.tuto_step_selected {
    font-weight: bold !important;
    color: rgba(2, 165, 193, 1);
}


/* Tutoriel alerte */
.tuto_step {
    /*margin-top:67px;*/ /* overwrite */
    position: absolute;
    margin-top: 0px;
}

.tuto_step > div {
    position: absolute;
    z-index: 989;
}

.tuto_step > div.deactive_top {
    z-index: 988;
    margin-top: -55px; /* overwrite */
    /* 37 pixels en plus par rapport au haut du carré */
}

.tuto_step > div.deactive_bottom {
    z-index: 988;
    margin-top: 141px; /* overwrite */
}

.tuto_step > div > div {
    float: left;
    background-color: white;
    border:1px solid #d9d9d9;
}

.tuto_step > div.deactive_top > div,
.tuto_step > div.deactive_bottom > div {
    float: left;
    background-color: rgba(0,0,0,0);
    border:1px solid rgba(0,0,0,0);
    cursor: pointer;
}

.tuto_step > div > div > div:first-child {
    float: left;
    width: 30px;
    min-height: 25px;
}

.tuto_step > div > div > div:last-child {
    overflow: hidden;
    border-left:1px solid #d9d9d9;
    padding: 20px;
}

.tuto_step > div.deactive_top > div > div:last-child {
    padding: 0px 20px 20px 20px;
    margin-top: 20px;
}

.tuto_step > div.deactive_bottom > div > div:last-child {
    padding: 20px 20px 0px 20px;
    margin-bottom: 20px;
}

.tuto_step > div > div > div:last-child div.step_number {
    position: absolute;
    background-color: white;
    width: 22px;
    height: 22px;
    border:2px solid #02a5c1;
    color: #02a5c1;
    text-align: center;
    line-height: 22px;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: -3px;
    margin-left: -34px;
}

.tuto_step > div.deactive_top > div > div:last-child div.step_number,
.tuto_step > div.deactive_bottom > div > div:last-child div.step_number {
    background-color: #e8e8e8;
    width: 24px;
    height: 24px;
    border:1px solid #d9d9d9;
    color: #777777;
    text-align: center;
    line-height: 24px;
    font-size: 1.3em;
    font-weight: normal;
    margin-top: -3px;
    margin-left: -34px;
}


.tuto_step > div.deactive_top > div > div:last-child div.content,
.tuto_step > div.deactive_bottom > div > div:last-child div.content {
    display: none;
}

.tuto_step > div > div > div:last-child h2,
.tuto_step > div > div > div:last-child h3,
.tuto_step > div > div > div:last-child p {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

.tuto_step > div > div > div:last-child h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
}

.tuto_step > div > div > div:last-child h2 a {
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/alertes/icon_tutorial_close.png);
    display: block;
    width: 20px;
    height: 20px;
}

.tuto_step > div.deactive_top > div > div:last-child h2 a,
.tuto_step > div.deactive_bottom > div > div:last-child h2 a {
    display: none;
}

.tuto_step > div.deactive_top > div > div:last-child h2,
.tuto_step > div.deactive_bottom > div > div:last-child h2 {
    color:#777777 !important; 
    font-weight: normal;
    margin-bottom: 0px;
}

.tuto_step > div.deactive_top > div > div:last-child h2:hover,
.tuto_step > div.deactive_bottom > div > div:last-child h2:hover {
    text-decoration: underline;
}

.tuto_step > div > div > div:last-child h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tuto_step > div > div > div:last-child p {
    font-size: 1em;
    font-weight: normal;
}

.tuto_step > div > div > div:last-child div.image {
    text-align: center;
}

.tuto_step > div > div > div:last-child img {
    margin: 10px 0px;
    display: inline-block;
}
/* Tutoriel alerte */

.bloc_rightbar a.voyagespirates img {
    display: block;
}

.bloc_rightbar a.voyagespirates {
    border-bottom: 1px solid #d9d9d9 !important;
}

.bloc_rightbar a.voyagespirates .titre_vp {
    overflow: hidden;
}

.bloc_rightbar a.voyagespirates:hover span.titre_vp {
    text-decoration: underline;
}

.bloc_rightbar div.vp_footer_widget {
    float:left;
    width: 100%;
    margin-top:10px; 
    margin-bottom:8px; 
    font-size:0.8em;
    text-align: center;
}

.bloc_rightbar div.vp_footer_widget a:hover {
    text-decoration: underline;
}

.bloc_rightbar div.padding_div_liste_widget div.div_liste_widget .padding_div_deal_hot a:hover
{
    text-decoration:underline;
}

.bloc_rightbar div.padding_div_liste_widget div.div_liste_widget .padding_div_deal_hot a:hover span.underline_merchant
{
    text-decoration:underline !important;
}



.bloc_rightbar div.padding_div_deal_hot a div,
.bloc_rightbar div.padding_div_deal_hot.plus a div
{
    float:left;
    width:50px;
    height:50px;
    margin-right:8px;
    text-align: center;
}

.bloc_rightbar div.padding_div_deal_hot a img,
.bloc_rightbar div.padding_div_deal_hot.plus a img
{
    display: inline-block;
}

.bloc_rightbar div.padding_div_deal_hot a p,
.bloc_rightbar div.padding_div_deal_hot.plus a p
{
    overflow:hidden;
    word-wrap: break-word;
    /*font-weight:bold;*/
    font-size:0.9em;
}

.bloc_rightbar div.padding_div_deal_hot a p span,
.bloc_rightbar div.padding_div_deal_hot.plus a p span
{
    color:white;
    padding:2px;
    display: inline-block;
    text-decoration:none !important;
    margin-right: 4px;
    font-weight: bold;
}

.bloc_rightbar div.padding_div_thread a:hover p:first-child,
.bloc_rightbar div.padding_div_thread.plus a:hover p:first-child
{
    text-decoration:underline;
}

.bloc_rightbar div.padding_div_thread a p:first-child,
.bloc_rightbar div.padding_div_thread.plus a p:first-child
{
    float:left;
    width:100%;
    color:black;
    font-weight:bold;
}

.bloc_rightbar div.padding_div_thread a p:last-child,
.bloc_rightbar div.padding_div_thread.plus a p:last-child
{
    float:left;
    width:100%;
}

.bloc_rightbar div.padding_div_deal_hot.plus a:last-child,
.bloc_rightbar div.padding_div_thread.plus a:last-child
{
    border-bottom:none !important;
}

.bloc_rightbar div.plus_div
{
    float:left;
    width:100%;
    text-align: center;
    border: none;
    margin-top: 8px;
}

.bloc_rightbar div.plus_div a
{
    color:#02a5c1;
    display: block;
    width: 100%;
    background: #f4f4f4;
    color: #777777;
    border:1px solid #d9d9d9;
}

.bloc_rightbar div.plus_div a:hover
{
    text-decoration: none;
}

/* Gestion couleur rightbar */

#hot_deals.bloc_rightbar, #actif_thread.bloc_rightbar, #add_alert.bloc_rightbar {
    background-color:white;
}

#add_alert .title_div {
    background-color:rgba(130, 118, 185, 1);
}

#all_notification_alert .title_div {
    background-color:rgba(130, 118, 185, 1);
}

#my_alert .title_div {
    background-color:#333333;
}

#hot_deals .title_div {
    background-color:rgba(654, 67, 67, 1);
}

#hot_deals.bloc_rightbar div.selection_top a:hover,
#hot_deals.bloc_rightbar div.selection_top a.active

{
    padding:8px 0px 4px 0px;
    border-bottom: 4px solid rgba(244, 67, 67, 1);
    color:rgba(244, 67, 67, 1);
}

#add_alert.bloc_rightbar div.selection_top a.hover,
#add_alert.bloc_rightbar div.selection_top a.active
{
    padding:8px 0px 4px 0px;
    border-bottom: 4px solid rgba(130, 118, 185, 1);
    color: rgba(130, 118, 185, 1);
}

#actif_thread .title_div {
    background-color:#148fa6;
}


.empty_message {
    float: left;
    width: 100%;
}

.empty_message > div:first-child {
    float: left;
    height: 107px;
    width: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/alertes/icon_alerts_sucess.png);
}

.empty_message > div:last-child {
    overflow: hidden;
    margin-top: 20px;
}

.empty_message > div:last-child > p:first-child {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.empty_message > div:last-child > p:last-child {
    font-weight: normal;
    font-size: 1em;
}
/* INDEX + RIGHTBAR */



/* VISITE GUIDEE */
#black_background_visite {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top:0;
    visibility: hidden;
    z-index: 999;

    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
/* VISITE GUIDEE */

/* CUSTOM TAB */
#custom_tab_contener {
    overflow: hidden;
    margin:0px 0px 20px 0px;
    background-color: white;
}

#custom_tab_contener #top_custom_tab {
    overflow: hidden;
    border:1px solid #d9d9d9;
    display: block;
}

#custom_tab_contener a#top_custom_tab {
    background-image: url(//static.dealabs.com/images/all/icon_customtab_settings.png);
    background-repeat:no-repeat;
    background-position:6px;
    color:#777;
}

#custom_tab_contener a#top_custom_tab:hover {
    background-image: url(//static.dealabs.com/images/all/icon_customtab_settings_active.png);
    color:#333;
}

#custom_tab_contener #top_custom_tab div:first-child {
    float: left;
    line-height: 30px;
}

#custom_tab_contener #top_custom_tab div:first-child span {
    float:left;
    margin-left: 32px;
}

#custom_tab_contener #top_custom_tab div:last-child {
    float: right;
}

#custom_tab_contener #top_custom_tab div:last-child .triangle
{
    position:absolute;
    margin-top: 12px;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-top: 6px solid #808080;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

/* CE CSS SE TROUVE DANS OTHER_PAGE.CSS */
#custom_tab {
    display: none;
    overflow: hidden;
    border-left:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}

#custom_tab .contener {
    overflow: hidden;
    border-bottom:1px solid #d9d9d9;
}

#custom_tab .contener_margin {
    overflow: hidden;
    margin: 15px;
}

/* CUSTOM TAB */

/* NO DEAL */
#no_deal {
    overflow: hidden;
    background-image: url(//static.dealabs.com/images/all/icon_all_error_grey.png);
    background-position: left 6px center;
    background-repeat: no-repeat;
    border: 1px solid #F0C36D;
    background-color: #F9EDBE;
}

#no_deal p {
    line-height:30px;
    overflow: hidden;
    margin-left: 32px;
}
/* NO DEAL */

/* SUGGESTION RECHERCHE */
#suggestion_search {
    overflow: hidden;
    background-image: url(//static.dealabs.com/images/all/icon_all_information.png);
    background-position: left 9px center;
    background-repeat: no-repeat;
    border: 1px solid #d9d9d9;
    background-color: white;
    margin-bottom: 20px;
}

#suggestion_search p {
    line-height:30px;
    overflow: hidden;
    margin-left: 32px;
}

#suggestion_search a:hover, #suggestion_search a:active {
    text-decoration: underline;
}
/* SUGGESTION RECHERCHE */


/* DEAL NEW INDEX */
article.deal_index_article {
    padding:0px 20px 0px 0px;
    overflow:hidden;
    margin-bottom:15px;
    background-color:white;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;

    border:1px solid #d1d5db;   

    /* -moz-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.2);
    -khtml-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.2); 
    box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.2); */
}

article.deal_index_article.expired {
    opacity: 0.7;
}

article.deal_index_article .image_part {
    float: left;
    width: 160px;
    height: 224px;
}

article.deal_index_article .image_part div.image_part_contener {
    position:absolute;
    display: block;
    height: 160px;
    width: 180px;
}

article.deal_index_article .image_part a.link_to_deal {
    position:absolute; 
    width:100%; 
    height:100%;
}

article.deal_index_article .image_part a.link_to_deal div#over {
    position:absolute; 
    width: 140px;
    height: 140px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;

    /*-moz-border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -o-border-top-left-radius: 8px;
    -ms-border-top-left-radius: 8px;
    -khtml-border-top-left-radius: 8px;
    border-top-left-radius: 8px;*/
}

article.deal_index_article .image_part a.link_to_deal img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

article.deal_index_article.expired .image_part a.link_to_deal img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

article.deal_index_article .image_part div.addon-element {
    position:absolute;
    height: 34px;
    width: auto;

    top:20px;
    left: -4px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px; 
    border-radius: 3px;
}

article.deal_index_article .image_part div.addon-element a {
    display: block;
    float: right;
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.4);

    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -khtml-border-top-right-radius: 3px; 
    border-top-right-radius: 3px;

    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    -khtml-border-bottom-right-radius: 3px; 
    border-bottom-right-radius: 3px;
}

article.deal_index_article .image_part div.addon-element a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

article.deal_index_article .image_part div.addon-element a:active {
    background-color: rgba(0, 0, 0, 0.2);
}

article.deal_index_article .image_part div.addon-element p {
    font-size: 1em;
    float: left;
    color:white;
    line-height: 34px;
    padding: 0px 12px 0px 12px;
}

article.deal_index_article .image_part div.addon-element.pined {
    background-color: #8276b9;
}

article.deal_index_article .image_part div.addon-element.pined a {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/icon_deal_hide.png);
}

article.deal_index_article .image_part div.addon-element.pined p {
    background-position: center left 12px; /* 12px margin-left + width icon + 8px margin right */
    padding-left: 34px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/icon_deal_pinned.png);
}

article.deal_index_article .image_part div.addon-element.maj {
    background-color: #f1974e;
}

article.deal_index_article .image_part div.addon-element.maj p {
    background-position: center left 12px; /* 12px margin-left + width icon + 8px margin right */
    padding-left: 30px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/icon_deal_update.png);
}

article.deal_index_article .image_part div.addon-element.expired {
    background-color: #b0b7bd;
}

article.deal_index_article .image_part div.addon-element.expired p {
    background-position: center left 12px; /* 12px margin-left + width icon + 8px margin right */
    padding-left: 30px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/icon_deal_date.png);
}

article.deal_index_article .image_part div.addon-element.date {
    background-color: #60b35c;
}

article.deal_index_article .image_part div.addon-element.date p {
    background-position: center left 12px; /* 12px margin-left + width icon + 8px margin right */
    padding-left: 30px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/icon_deal_date.png);
}

article.deal_index_article .image_part div.price-element {
    position: absolute;
    top:160px;

    margin: auto;
    height: 64px;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
}

article.deal_index_article .image_part div.price-element div.shipping {
    float:right;
    text-align: center;
    width: 54px;
    height: 34px;

    padding: 15px 0px;
}

article.deal_index_article .image_part div.price-element div.shipping .left_border {
    float:left;
    display:block;
    width:1px;
    height: 24px;
    margin:4px 0px;
    background-color:#d2d2d2;
}

article.deal_index_article .image_part div.price-element div.shipping img {
    text-align: center;
    width: 24px;
    margin:0px 15px;
    height:14px;
    display: block;
    margin-bottom: 8px;
}

article.deal_index_article .image_part div.price-element div.shipping p {
    text-align: center;
    font-size: 0.9em;
    color: #8899a6;
    line-height: 12px;
    overflow: hidden;
}

article.deal_index_article .image_part div.price-element p.price {
    overflow: hidden;
    text-align: center;
    height: 34px;

    padding: 15px 0px 15px 0px;
}

article.deal_index_article .image_part div.price-element p.price span.deal_price {
    color:#fe2e12;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    margin-bottom: 2px;
    float: left;
    width: 100%;
}

article.deal_index_article .image_part div.price-element p.price.alone span.deal_price {
    margin-top: 6px;
}

article.deal_index_article.expired .image_part div.price-element p.price span.deal_price {
    color: #b0b7bd;
}

article.deal_index_article .image_part div.price-element p.price span.original_price {
    color:#292f33;
    font-size: 0.9em;
    font-style: normal;
    text-align: center;
    line-height: 12px;
    float: left;
    width: 100%;
}

article.deal_index_article.expired .image_part div.price-element p.price span.original_price {
    color:#666d72;
}

article.deal_index_article .vote_part {
    float: right;    
    width: 105px;
    height: 184px;
    margin: 20px 0px;
}

article.deal_index_article .vote_part a.link_to_deal {
    overflow: hidden;
    display: block;
    background-color: rgba(2, 165, 193, 1);
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/icon_get_deal.png);
    color: white;
    text-align: left;
    padding-left: 10px;
    font-size: 0.9em;
    line-height: 34px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

article.deal_index_article .vote_part a.link_to_deal.instore {
    background-image: url(//static.dealabs.com/images/deals/icon_instore_deal.png);
}

article.deal_index_article.expired .vote_part a.link_to_deal {
    background-color: rgba(176, 183, 189, 1);
}

article.deal_index_article .vote_part a.link_to_deal:hover {
    background-color: rgba(2, 165, 193, 0.8);
}

article.deal_index_article .vote_part a.link_to_deal:active {
    background-color: rgba(2, 165, 193, 0.6);
}

article.deal_index_article.expired .vote_part a.link_to_deal:hover {
    background-color: rgba(176, 183, 189, 0.8);
}

article.deal_index_article.expired .vote_part a.link_to_deal:active {
    background-color: rgba(176, 183, 189, 0.6);
}


article.deal_index_article .vote_part .vote_div_deal_index {
    /*background:orange;*/
    width:100%;
    float:right;
    margin-right:0px;
    margin-top:20px;
    height: 130px;
}

article.deal_index_article .vote_part .vote_div_deal_index .tube_flat_contener {
    float:right;
}

article.deal_index_article .vote_part .vote_div_deal_index .vote_contener {
    /*margin-right:300px;*/
    height:130px;
    width: 100px;
    float:left;
}


article.deal_index_article .vote_part .tube_flat_contener .contener_progress_bar {
    height:130px;
    width:5px;
    margin: 0;
    background:#e8e8e8;
    position: relative;
}

article.deal_index_article.expired .vote_part .tube_flat_contener .contener_progress_bar {
    background:#b0b7bd  !important;
    background:-webkit-linear-gradient(#b0b7bd , #e0e6ec) !important;
    background:-o-linear-gradient(#b0b7bd , #e0e6ec) !important;
    background:-moz-linear-gradient(#b0b7bd , #e0e6ec) !important;
    background:-ms-linear-gradient(#b0b7bd , #e0e6ec) !important;
    background:-khtml-linear-gradient(#b0b7bd , #e0e6ec) !important;
    background:linear-gradient(#b0b7bd , #e0e6ec) !important;
}

article.deal_index_article .vote_part .tube_flat_contener .contener_progress_bar .color_fill {
    width:100%;
    background:#e8e8e8; 
}

article.deal_index_article.expired .vote_part .tube_flat_contener .contener_progress_bar .color_fill {
    height: 0% !important;
}

article.deal_index_article .vote_part .tube_flat_contener .contener_progress_bar .color_fill.gele {
    background-color: #55cce0;
}

article.deal_index_article .vote_part .tube_flat_contener .contener_progress_bar .bottom_crop_round {
    position: absolute;
    overflow: hidden;
    bottom: -1px; /* same as border in .round */
    left: -1px; /* same as border in .round */
    height: 6px;
    width: 7px;
}

article.deal_index_article .vote_part .tube_flat_contener .contener_progress_bar .bottom_crop_round .round {
    position: absolute;
    bottom:0;
    width: 5px;
    height: 5px;

    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border: 1px solid white;
}

article.deal_index_article .vote_part .tube_flat_contener .contener_progress_bar .top_crop_round {
    position: absolute;
    overflow: hidden;
    top: -1px; /* same as border in .round */
    left: -1px; /* same as border in .round */
    height: 6px;
    width: 7px;
}

article.deal_index_article .vote_part .tube_flat_contener .contener_progress_bar .top_crop_round .round {
    position: absolute;
    top:0;
    width: 5px;
    height: 5px;

    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px;

    border: 1px solid white;
}

/* article.deal_index_article.expired .vote_part .tube_flat_contener .contener_progress_bar .color_fill {
    background:#bebebe !important; 
} */



article.deal_index_article .vote_part .vote_contener a.vote_button {
    height:38px;
    width:38px;
    display: block;
    margin-left: 30px; /* Décalage de 5px */
    background-color: white;

    border: 1px solid #d1d5db;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    
    text-align: center;
}

article.deal_index_article .vote_part .vote_contener a.up.voted {
    cursor: default;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/ic_more_selected.png);
    background-color: #ff7900;
    border: 1px solid #ff7900;
    /*opacity: 0.6;*/
}

article.deal_index_article .vote_part .vote_contener a.up.voted:hover {
    background-color: #ff7900;
}

article.deal_index_article .vote_part .vote_contener a.up {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/ic_more_normal.png);
}

article.deal_index_article .vote_part .vote_contener a.up:hover {
    background-color: #f5f5f5;
}

article.deal_index_article .vote_part .vote_contener a.down.voted {
    cursor: default;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/ic_less_selected.png);
    background-color: #00a9e0;
    border: 1px solid #00a9e0;
    /*opacity: 0.6;*/
}

article.deal_index_article .vote_part .vote_contener a.down.voted:hover {
    background-color: #00a9e0;
}

article.deal_index_article .vote_part .vote_contener a.down {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/ic_less_normal.png);
}

article.deal_index_article .vote_part .vote_contener a.down:hover {
    background-color: #f5f5f5;
}

article.deal_index_article.expired .vote_part .vote_contener a.up,
article.deal_index_article.expired .vote_part .vote_contener a.up:hover,
article.deal_index_article.expired .vote_part .vote_contener a.up:active,
article.deal_index_article .vote_part .vote_contener a.up.blocked {
    cursor: default;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/ic_more_expired.png);
    border: 1px solid #b0b7bd;
    background-color: white;
}


article.deal_index_article.expired .vote_part .vote_contener a.down,
article.deal_index_article.expired .vote_part .vote_contener a.down:hover,
article.deal_index_article.expired .vote_part .vote_contener a.down:active,
article.deal_index_article .vote_part .vote_contener a.down.blocked {
    cursor: default;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/ic_less_expired.png);
    border: 1px solid #b0b7bd;
    background-color: white;
}

article.deal_index_article .vote_part .vote_contener div.temperature_div {
    height:22px;
    padding:14px 0px;
    line-height:22px;
    text-align:center;
    width:100%;
    font-size:1.7em;
    font-weight:bold;
    color:#ffb612;
}

article.deal_index_article.expired .vote_part .vote_contener div.temperature_div {
    color:#b0b7bd !important;
}

article.deal_index_article .content_part {
    overflow:hidden;
    padding: 20px;
}

article.deal_index_article .content_part .fix_height_content {
    float: left;
    width: 100%;
    height: 160px;
    overflow:hidden;
}

article.deal_index_article .content_part p.categorie {
    float: left;
    width: 100%;
    font-size: 0.9em;
    font-weight: bold;
}

article.deal_index_article .content_part p.categorie a:nth-child(1) {
    color: #aab8c2;
}

article.deal_index_article .content_part p.categorie a:nth-child(2) {
    color: #aab8c2;
    margin-left: 20px;
}

article.deal_index_article .content_part p.categorie a:hover,
article.deal_index_article .content_part p.categorie a:active {
    text-decoration: underline;
}

article.deal_index_article .content_part a.title {
    float: left;
    width: 100%;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
}

article.deal_index_article .content_part a.title:hover,
article.deal_index_article .content_part a.title:active {
    text-decoration: underline;
}

article.deal_index_article .content_part div.voucher_code {
    float:left;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

article.deal_index_article .content_part div.voucher_code div.div_right {
    float:left;
}

article.deal_index_article .content_part div.voucher_code div.div_right p {
    line-height: 32px;
    display: block;
    text-align: center;
    width: auto;
    font-size: 0.9em;
    padding:0px 10px 0px 32px;

    color: white;
    border-top: 1px solid #60b35c;
    border-left: 1px solid #60b35c;
    border-bottom: 1px solid #60b35c;
    background-color: #60b35c;
    background-position: center left 10px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/deals/icon_deal_voucher.png);

    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -ms-border-top-left-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    -ms-border-bottom-left-radius: 3px;
    -khtml-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

article.deal_index_article.expired .content_part div.voucher_code div.div_right p {
    border-top: 1px solid #b0b7bd;
    border-left: 1px solid #b0b7bd;
    border-bottom: 1px solid #b0b7bd;
    background-color: #b0b7bd;
}

article.deal_index_article .content_part div.voucher_code div.field {
    overflow: hidden;    
    padding-right: 20px;
}

article.deal_index_article .content_part div.voucher_code div.field input[type="text"] {
    border: 1px dashed #60b35c !important;
    border-left: none !important;
}

article.deal_index_article .content_part div.voucher_code div.field input[type="text"] {
    outline: none;
    margin: 0;
    padding: 0 9px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    background: #fff;
    height: 32px;
    line-height: 16px;
    color: #60b35c;
    cursor: text;

    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    border-top-right-radius: 3px;

    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    -khtml-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

article.deal_index_article.expired .content_part div.voucher_code div.field input[type="text"] {
    border: 1px dashed #b0b7bd !important;
    border-left: none !important;
    color: #b0b7bd;
}

article.deal_index_article .content_part div.voucher_code div.hidden {
    position: absolute;
    background-color: #60b35c;
    top:0;
    bottom:0;
    left:122px;
    right:30px;
}

article.deal_index_article .content_part div.voucher_code div.hidden a.open_voucher {
    position: absolute;
    top:0;
    bottom:0;
    left: -123px;
    right: -30px;
    z-index: 800;
}

article.deal_index_article .content_part div.voucher_code div.hidden p.text_voucher {
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: -30px;
    z-index: 799;

    color: white;
    text-align: center;
    line-height: 34px;
}

article.deal_index_article .content_part div.voucher_code div.hidden div.border {
    float: left;
    background-color: #4c964a;
    width: 1px;
    height: 26px;
    margin: 4px 0px;
}

article.deal_index_article .content_part div.voucher_code div.hidden div.triangle_background {
    float: right;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 0 0 24px;
    border-color: transparent transparent transparent #60b35c;
    margin-right: -24px;
}

article.deal_index_article .content_part div.voucher_code div.hidden div.contener_rotate {
    position: absolute;
    width: 44px;
    height: 44px;    
    overflow: hidden;

    right: -16px;
    top:8px;

    transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -moz-transform: rotate(55deg); 
}

article.deal_index_article .content_part div.voucher_code div.hidden div.onglet {
    transform: rotate(58deg);
    -ms-transform: rotate(58deg);
    -webkit-transform: rotate(58deg);
    -o-transform: rotate(58deg);
    -moz-transform: rotate(58deg); 
    background-color:#4c964a;
    width:36px;
    height:36px;
    top: -21px;
    left: 2px;
    position:relative;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 4px 4px 8px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 8px -6px rgba(0,0,0,0.75);
    -o-box-shadow: 4px 4px 8px -6px rgba(0,0,0,0.75);
    -ms-box-shadow: 4px 4px 8px -6px rgba(0,0,0,0.75);
    -khtml-box-shadow: 4px 4px 8px -6px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 8px -6px rgba(0,0,0,0.75);
}

article.deal_index_article .content_part p.description {
    float: left;
    width: 100%;
    font-size: 1em;
    color: #8899a6;
    margin-top: 10px;
}

article.deal_index_article .content_part p.description a {
    color: #02a5c1;
    font-weight: bold;
}

article.deal_index_article.expired .content_part p.description a {
    color: #b0b7bd;
}

article.deal_index_article .content_part p.description a:hover,
article.deal_index_article .content_part p.description a:active {
    text-decoration: underline;
}

article.deal_index_article .content_part div.poster_part {
    float: left;
    width: 100%;
    height: 24px;
    font-size: 1em;
}

article.deal_index_article .content_part div.poster_part a.poster_link {
    float: left;
    display: block;
    color: #02a5c1;
    font-weight: bold;
    line-height: 24px;
}

article.deal_index_article .content_part div.poster_part a.poster_link:hover, 
article.deal_index_article .content_part div.poster_part a.poster_link:active {
    text-decoration: underline;
}

article.deal_index_article .content_part div.poster_part a.poster_link img {
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 7px;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
}

article.deal_index_article .content_part div.poster_part span.privilege {
    color:white;
    padding:0px 5px;
    font-size:0.85em;
    line-height:normal;
    float:left;
    margin-top: 6px;
    margin-left:5px;
    font-weight: normal;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px; 
    border-radius: 3px;
}

article.deal_index_article .content_part div.poster_part span.admin {
    background:#e44d58;
}

article.deal_index_article .content_part div.poster_part span.admin:before {
    content:"Admin";
}

article.deal_index_article .content_part div.poster_part span.modo {
    background:#60B35C;
}

article.deal_index_article .content_part div.poster_part span.modo:before {
    content:"Modo";
}

article.deal_index_article .content_part div.poster_part span.dev {
    background:#8276b9;
}

article.deal_index_article .content_part div.poster_part span.dev:before {
    content:"Dev";
}

article.deal_index_article .content_part div.poster_part span.editor {
    background:#00a9e0;
}

article.deal_index_article .content_part div.poster_part span.editor:before {
    content:"Rédac";
}

article.deal_index_article .content_part div.poster_part p.date_deal {
    float: left;
    color: #8899a6 ;
    line-height: 24px;
}

article.deal_index_article .content_part div.poster_part p.date_deal img, 
article.deal_index_article .content_part div.poster_part a.editer img {
    float: left;
    display: block;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 10px;
}

article.deal_index_article .content_part div.poster_part a.editer {
    float: left;
    display: block;
    color: #aab8c2;
    font-weight: bold;
    line-height: 24px;
}

article.deal_index_article .content_part div.poster_part a.editer:hover {
    text-decoration: underline;
}

article.deal_index_article .content_part div.poster_part a.favoris {
    float: right;
    width: 24px;
    height: 24px;

    margin-right: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/deals/icon_deal_save.png);
}

article.deal_index_article .content_part div.poster_part a.favoris.active {
    background-image: url(//static.dealabs.com/images/deals/icon_deal_saved.png);
}

article.deal_index_article .content_part div.poster_part a.favoris img {
    display: block;
    width: 16px;
    height: 16px;
}

article.deal_index_article .content_part div.poster_part a.total_comment {
    float: right;
    color: #aab8c2;
    line-height: 24px;
    font-weight: bold;
}

article.deal_index_article .content_part div.poster_part a.total_comment img {
    float: left;
    display: block;
    width: 16px;
    height: 16px;

    margin-top: 4px;
    margin-right: 7px;
}

article.deal_index_article .content_part div.poster_part a.total_comment span {
    float: left;
}
/* DEAL NEW INDEX */

/* Tube à essai debut */
.tube_exterieur
{
    width:21px; 
    height:92px;
    background:#676765;
    margin-top:-64px;
    margin-left:48px;
    position:absolute;
    
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

.tube_essai_color 
{

    z-index:3; 
    position:absolute; 
    width:11px; 
    margin-left:5px;
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px; 
    border-bottom-right-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px; 
    border-bottom-left-radius: 6px;

}

.tube_interieur{
    z-index:2;
    position:absolute;
    width:17px;
    margin-top:-2px;
    margin-left:2px;
    height:92px;
    background:white;
    -moz-border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -o-border-bottom-right-radius: 8px;
    -ms-border-bottom-right-radius: 8px;
    -khtml-border-bottom-right-radius: 8px; 
    border-bottom-right-radius: 8px;

    -moz-border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -o-border-bottom-left-radius: 8px;
    -ms-border-bottom-left-radius: 8px;
    -khtml-border-bottom-left-radius: 8px; 
    border-bottom-left-radius: 8px;
}

.effet_blanc{
    z-index:4;
    position:absolute;
    width:3px; 
    margin-top:0px;
    margin-left:8px;
    height:88px;
    background:white;
    opacity: 0.4;
    
}
.tube_haut{
    z-index:1;
    position:absolute;
    width:29px; 
    margin-top:-7px;
    margin-left:-4px;
    height:8px;
    background:#676765;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px; 
    border-radius: 4px;
}
.tube_haut_interieur{
    z-index:2;
    position:absolute;
    width:25px; 
    margin-top:-5px;
    margin-left:-2px;
    height:4px;
    background:white;
    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px; 
    border-radius: 2px;
}

.bulle_circle
{
    z-index:5;
    position:absolute;
    background-color: rgba(204, 0, 102, 0);
    border: 2px solid rgba(255,0,0,1);
    height: 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px; 
    border-radius: 10px;
    width: 4px;
}

.bulle_full
{
    z-index:5;
    position:absolute;
    background-color: rgba(255, 0, 0, 1);
    height: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px; 
    border-radius: 4px;
    width: 8px;
}
/* Tube à essai fin */


/* idealo search */
#idealo_suggestions {
    overflow: hidden;
}

#idealo_suggestions .idealo_logo {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

#idealo_suggestions .idealo_logo img {
    float: left;
    display: block;
}

#idealo_suggestions .idealo_logo p {
    float: left;
    font-size: 1em;
    color: #777777;
    line-height: 25px;
    margin-left: 16px;
}

#idealo_suggestions .idealo_logo a {
    float: right;
    color: #777777;
    line-height: 30px;
    padding: 0px 14px 0px 43px;
    border:1px solid #d9d9d9;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center left 14px;
    background-image: url(//static.dealabs.com/images/idealo/icon_compare_hide.png);
}

#idealo_suggestions .idealo_logo a:hover {
    color: #333333;
    background-image: url(//static.dealabs.com/images/idealo/icon_compare_hide_active.png);
}

#idealo_suggestions .idealo_cards {
    float: left;
    width: 100%;
}

#idealo_suggestions .idealo_cards .loader_div {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.6);
    z-index: 9999;
}

#idealo_suggestions .idealo_cards .loader {
    border: 6px solid #f2f2f2; /* Light grey */
    border-top: 6px solid #02a5c1; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.8s linear infinite;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#idealo_suggestions .idealo_cards .idealo_cards_contener {
    overflow:hidden;
    margin-right:-26px;
}

#idealo_suggestions .idealo_cards .idealo_cards_contener .idealo_card {
    float: left;
    width: 25%;
    margin-bottom: 26px;
}

#idealo_suggestions .idealo_cards .idealo_cards_contener .idealo_card a.idealo_card_margin {
    overflow: hidden;
    margin-right: 26px;
    display: block;
    position: relative;
    background-color: white;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
}

#idealo_suggestions .idealo_cards .idealo_cards_contener .idealo_card a.idealo_card_margin div.image_part {
    margin:10px;
    position:relative;
}

#idealo_suggestions .idealo_cards .idealo_cards_contener .idealo_card a.idealo_card_margin div.image_part img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-height: 140px;
    max-width: 100%;
}


#idealo_suggestions .idealo_cards .idealo_cards_contener .idealo_card a.idealo_card_margin div.text_part {
    position:relative;
    margin-top:160px;
    border-top:1px solid #d1d5db;
    overflow:hidden;
    padding:10px;
}

#idealo_suggestions .idealo_cards .idealo_cards_contener .idealo_card a.idealo_card_margin div.text_part p.title {
    font-size: 1em;
    color:#333333;
    line-height: 16px;
    height: 48px;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 10px;
}

#idealo_suggestions .idealo_cards .idealo_cards_contener .idealo_card a.idealo_card_margin div.text_part p.price {
    font-size: 1em;
    color:#ff6600;   
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}

#idealo_suggestions .idealo_cards .idealo_cards_contener .idealo_card a.idealo_card_margin div.text_part p.price img {
    float:left;
    width:12px;
    height:12px;
    margin-right:7px;
    margin-top:1px;
}

#idealo_suggestions .idealo_cards .idealo_cards_contener .idealo_card a.idealo_card_margin div.text_part p.price span {
    font-size: 0.9em;
}

#idealo_suggestions .idealo_cards .see_more { 
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#idealo_suggestions .idealo_cards .see_more a {
    text-align: center;
    display: inline-block;
    color: #777777;
    line-height: 30px;
    padding: 0px 30px;
    border:1px solid #d9d9d9;
    background-color: #f2f2f2;
}

#idealo_suggestions .idealo_cards .see_more a:hover {
    color: #333333;
}

#overlay_idealo {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top:0;
    visibility: hidden;
    z-index: 999;

    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.modal {
    /*position: absolute;*/
    position: fixed;
    overflow-x: hidden;
    overflow-y:auto;


    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999998;
    padding: 5%;
    transform: translate(0, 0);
    text-align: center;
    white-space: nowrap;
}

.popup_center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    width:660px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    white-space: normal;
    border: 10px solid rgba(0, 0, 0, 0.4);

    -webkit-transition: opacity .3s ease, top .3s ease;
    -moz-transition: opacity .3s ease, top .3s ease;
    -ms-transition: opacity .3s ease, top .3s ease;
    -o-transition: opacity .3s ease, top .3s ease;
    transition: opacity .3s ease, top .3s ease;
}

/* .popup_center {
    display: block;

    left: 50%;

    margin-left: -330px;

    opacity: 0;
    position: relative;
    text-align:left;
    top: 5%;
    visibility: hidden;
    z-index: 1000;
    width:660px;

    border: 10px solid rgba(0, 0, 0, 0.4);

    -webkit-transition: opacity .3s ease, top .3s ease;
    -moz-transition: opacity .3s ease, top .3s ease;
    -ms-transition: opacity .3s ease, top .3s ease;
    -o-transition: opacity .3s ease, top .3s ease;
    transition: opacity .3s ease, top .3s ease;
}*/

.popup_center.active {
    top: 20%;
    visibility:visible;
    opacity: 1;
}

.popup_center .background_white {
    float:left;
    width:100%;
}

.popup_center .header_popup
{
    padding:15px;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
}

.popup_center .header_popup .top_header,
.popup_center .header_popup .content_header
{
    float: left;
    width: 100%;
}

.popup_center .header_popup .top_header img {
    float: left;
    display: block;
}

.popup_center .header_popup .top_header p {
    float: left;
    font-size: 1em;
    color: #777777;
    line-height: 25px;
    margin-left: 16px;
}

.popup_center .header_popup a.close_popup_signalement {
    position:absolute;
    margin-top:-32px;
    font-weight:bold;
    color:white;
    line-height:22px;
    margin-left: 601px;
    top:0;
    width: 56px;
}

.popup_center .header_popup .content_header
{
    margin-top: 15px;
}

.popup_center .header_popup .content_header .image_part {
    float:right;
    width: 200px;
    height: 200px;
    margin-left: 15px;
}

.popup_center .header_popup .content_header .image_part .absolute_part {
    position:absolute;
    width:200px;
    height:200px;
}

.popup_center .header_popup .content_header .image_part .absolute_part img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-height: 200px;
    max-width: 200px;
}

.popup_center .header_popup .content_header .content_part {
    overflow: hidden;
}

.popup_center .header_popup .content_header .content_part p.title {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}

.popup_center .header_popup .content_header .content_part p.price {
    font-size: 1.2em;
    color: #ff6803;
    font-weight: bold;
}

.popup_center .header_popup .content_header .content_part div.feedback {
    overflow: hidden;
    margin:15px 0px;
}

.popup_center .header_popup .content_header .content_part div.feedback img {
    float: left;
    margin-right: 3px;
    display: inline-block;
}

.popup_center .header_popup .content_header .content_part div.feedback p {
    float: left;
    font-size: 1em;
    color: black;
    margin-left: 5px;
}

.popup_center .header_popup .content_header .content_part p.description {
    color: #777777;
    font-size: 1em;
}

.popup_center .header_popup .content_header .content_part #descriptionLong.description {
    display: none;
}

.popup_center .header_popup .content_header .content_part p.description span {
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.popup_center .header_popup .content_header .content_part p.description a {
    color: #02a5c1;
    font-size: 1em;
}

.popup_center .header_popup .content_header .content_part p.description a:hover,
.popup_center .header_popup .content_header .content_part p.description a:active
{
    text-decoration: underline;
}

.popup_center .separate_popup
{
    padding:10px 15px;
    overflow: hidden;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d9d9d9;
}

.popup_center .separate_popup p
{
    font-size: 1em;
    color: #5d5d5d;
}

.popup_center .result_popup
{
    padding:15px;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
}

.popup_center .result_popup .right_part
{
    float: right;
    width: 120px;
    margin-left: 15px;
    text-align: center;
}

.popup_center .result_popup .right_part a.see_offer
{
    display: block;
    font-size: 0.9em;
    color: white;
    padding: 0px 20px 0px 10px;
    line-height: 36px;
    text-align: left;
    background-color: #02a5c1;
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-image: url(//static.dealabs.com/images/deals/icon_get_deal.png);
    margin-bottom: 5px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px; 
    border-radius: 3px;
}

.popup_center .result_popup .right_part img.merchand
{
    text-align: center;
    display: inline-block;
    width: 82px;
}

.popup_center .result_popup .right_part p.stars
{
    overflow: hidden;
    text-align: center;
    width: 82px;
    margin-bottom: 5px;
    display: inline-block;
}

.popup_center .result_popup .right_part p.stars img
{
    float: left;
    margin-right: 3px;
}

.popup_center .result_popup .right_part p.stars img:last-child
{
    margin-right: 0px;
}

.popup_center .result_popup .right_part p.feedback
{
    text-align: center;
    color: #777777;
    font-size: 1em;
}

.popup_center .result_popup .content_part
{
    overflow: hidden;
}

.popup_center .result_popup .content_part a.title
{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

.popup_center .result_popup .content_part a.title:hover,
.popup_center .result_popup .content_part a.title:active
{
    text-decoration: underline;
}

.popup_center .result_popup .content_part a.title span
{
    color: #ff6803;
}

.popup_center .result_popup .content_part p.delivery_info
{
    color: #777777;
    font-size: 1em;
}

.popup_center .result_popup .content_part p.shipping_delay
{
    color: black;
    font-size: 1em;
}

.popup_center .result_popup .content_part p.shipping_delay img
{
    float: left;
    margin-right: 7px;
    margin-top: 1px;
}

.popup_center .see_more { 
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.popup_center .see_more a {
    text-align: center;
    display: inline-block;
    color: #777777;
    line-height: 30px;
    padding: 0px 30px;
    border:1px solid #d9d9d9;
    background-color: #f2f2f2;
}

.popup_center .see_more a:hover {
    color: #333333;
}
/* idealo search */


/* Blackfriday */
#BF_banner_index {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: #000000; 
    margin-bottom: 15px;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;

    background:url(//static.dealabs.com/images/event_pages/black_friday/img_banner_bf.png) no-repeat left 12px center, 
    url(//static.dealabs.com/images/event_pages/black_friday/img_banner_bf_cart.png) no-repeat right 50px bottom,
    black;
}

#BF_banner_index a.clic_zone {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    width: 850px;
}

#BF_banner_index p.remaining {
    float: left;
    width: 104px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 40px;
    margin-left: 12px;
}

#BF_banner_index div.blue_border {
    float: left;
    margin-left: 261px;
    width: 1px;
    margin-top: 8px;
    height: 24px;
    background-color: #02a5c1;
}

#BF_banner_index p.text_message {
    float: left;
    margin-left: 16px;
    width: auto;
    height: 40px;
    text-align: left;
    color: white;
    font-size: 1em;
    line-height: 40px;
}

#BF_banner_index a.close {
    float: right;
    margin-right: 12px;
    margin-top: 16px;
    display: block;
    width: 9px;
    height: 9px;
}

#BF_banner_index a.close img {
    display: block;
    width: 9px;
    height: 9px;
}
/* Blackfriday */
