#post_conteneur
{
    float:right;
    width:100%;
    height:100%;
    position: relative;
}

#post_conteneur div.reglespublication
{
    position: absolute;
    bottom: 15px;
    left:15px;
    width: 230px;
    padding: 20px 0px;
    background-color: white;
    text-align: center;
}

#post_conteneur div.reglespublication .arrow
{
    position: absolute;
    top:-10px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 16px solid white;
}

#post_conteneur div.reglespublication p
{
    font-size: 0.95em;
    color: #777777;
}

#post_conteneur div.reglespublication p a
{
    text-decoration: underline;
    color: #655faa;
}

/*#post_conteneur.flou {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    filter: url(./svg/blur.svg#blur);

    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelRadius=3)";
}*/

#post_left 
{
    float:left;
    width:260px;
    /*background-color:#585858;*/
    font-size:1.25em;
}

#left_global
{
    /*margin-left:140px;*/
    /*background-color:#F1F0F0;*/
    background-color:white;
    overflow:hidden;
    position: relative;
}

#post_deal_right 
{
    float:right;
    width:215px;
    height:100%;
    margin-left:25px;

}

#deal_detail_center
{
    /*margin-right:250px;*/
    overflow: hidden;
    word-wrap: break-word;
    /*margin-bottom:15px;*/
}

#post_left .title_selection_div {
    padding:13px 10px;
    overflow:hidden;
    background:rgba(0, 0, 0, 0.3);
}

#post_left .title_selection_div p {
    text-align:left;
    width:100%;
    /* color:#655faa; */
    color:white;
    /* font-weight:bold; */
    font-size:1.1em;
}

#post_left .selection_type_div {
    padding:15px 15px;
    overflow:hidden;
}

#post_left .selection_type_div a {
    line-height:28px;
    float:left;
    width:100%;
    color:white;
    font-size:0.9em;
    /* font-weight:bold; */
}

#post_left .selection_type_div a span {
    padding:0px 10px;
}

#post_left .selection_type_div a:hover {
    background:rgba(0, 0, 0, 0.3);
}

#post_left .selection_type_div a.selected {
    background:rgba(0, 0, 0, 0.3);
}

#post_left .selection_type_div p {
    line-height:normal;
    float:left;
    width:100%;
    color:white;
    font-weight:normal;
    text-align:justify;
    
    font-size:0.9em;
}

#post_left .selection_type_div label {
    position:relative;
    float:left;
    width:100%;
    margin-bottom:15px;
    font-size:0.8em;
}

#post_left .selection_type_div label:before {
    content:'';
    position:absolute;
    width:36px;
    height:36px;
    background:#464276;
    z-index:999px;
    right:0;
    pointer-events:none;
}

#post_left .selection_type_div label.error:before
{
    background:#DB3158 !important;
}

#post_left .selection_type_div label .triangle_blanc_bas
{
    position:absolute;
    float:right;
    width: 0;
    height: 0;
    right:0;
    margin-top:15px;
    margin-right:11px;
    border-top: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events:none;
}

#post_left .selection_type_div label select {
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 9px 9px;
    height:36px;
    border: none;
    width:100%;
    cursor:pointer;
    color:#777777;
    margin:0;
}

#post_left .selection_type_div label.error select
{
    color:#DB3158 !important;
}

option {
    background-repeat: no-repeat;
    padding-left: 8px;
    padding:5px;
    cursor:pointer;
}

#left_global .padding_left_global {
    padding:25px;
    min-height:700px; /* taille minimal de la page */
}

#left_global #accueil_help {
    position:absolute;
    margin-top:39px;
    display:none;
    width: 100%;
}

#left_global #accueil_help p {
    color:#777777;
    font-size:1.1em;
    line-height: 16px;
}

#left_global #accueil_help a {
    color:#02a5c1;
    text-decoration: underline;
}

#left_global #accueil_help img {
    display:block;
    float:left;
    margin:0px 20px;
}

#left_global #message_header
{
    overflow:hidden;
    width:100%;
    padding:10px 0px;
    text-align: center;
}

#left_global #message_header a
{
    color:white;
    line-height:28px;
    background-color:rgba(0, 0, 0, 0.3); 
    /* background:#655FAA;*/
    display: inline-block;
    width: auto;
    padding:0px 10px;
    text-align: center;
}

#left_global #message_header a.hide
{
    background-image: url(//static.dealabs.com/images/post_deal/icon_postdeal_display_optional_fields.png);
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#left_global #message_header a.show
{
    background-image: url(//static.dealabs.com/images/post_deal/icon_postdeal_hide_optional_fields.png);
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#left_global #message_header a:hover
{
    background-color:rgba(0, 0, 0, 0.2);
}

#left_global #message_header a:active
{
    background-color:rgba(0, 0, 0, 0.1);
}

#post_deal_right div.border_online_instore_div
{
    border:1px solid #c5c5c5;
    overflow:hidden;
    margin-top:22px;
    margin-bottom:15px;

}

#post_deal_right div.online_instore_div
{
    float:right;
    width:100%;
    background:white;

}

#post_deal_right div.online_instore_div #online_button,
#post_deal_right div.online_instore_div #instore_button
{
    float:right;
    width:50%;
    text-align:center;
    padding:9px 0px;
    color:#404040;
}

#post_deal_right div.online_instore_div .selected
{
    color:white !important;
    background:#655FAA;
}

#post_deal_right div.picture_div
{
    float:left;
    width:100%;
}

#post_deal_right div.picture_div .left
{
    float:left;
    margin-right:15px;
}

#post_deal_right div.picture_div .right
{
    overflow: hidden;
    margin-top:22px;
    height:109px; /* Hauteur reglable +2px pour la bordure */
}

#post_deal_right div.picture_div .right a {
    float:left;
    width:100%;
    text-align:center;
    background:rgba(96, 179, 92, 1);
    overflow: hidden;
    color:white;
    font-weight:bold;
    font-size:0.85em;
}

#post_deal_right div.picture_div .right a.upload {
    height: 36px;
    background:rgba(96, 179, 92, 1);
    overflow: hidden;
}

#post_deal_right div.picture_div .right a:hover {
    background:rgba(96, 179, 92, 0.8);
}

#post_deal_right div.picture_div .right a:active {
    background:rgba(96, 179, 92, 0.6);
}

#post_deal_right div.picture_div .right a.upload p {
    position:absolute;
    line-height:36px;
    width:91px;
}

#post_deal_right div.picture_div .right a.upload input {
    display: block !important;
    width: 100% !important;
    height: 36px !important; /* 36px effectif */
    opacity: 0 !important;
    overflow: hidden !important;
}



#post_deal_right div.picture_div .right a:last-child {
    line-height:36px;
}

#post_deal_right div.picture_div .right p.ou {
    float:left;
    width:100%;
    text-align:center;
    line-height:37px;
}

#post_deal_right div.picture_div .left p
{
    font-size:1em;
    width:100%;
    margin-bottom:6px;
    color:#888888;
    font-weight:normal;
}

#post_deal_right div.picture_div .left div.image_div
{
    float:left;
    border:1px solid #c5c5c5;
    width:108px; /* Hauteur reglable */
    height:108px; /* Hauteur reglable */

    text-align: center;
}

#post_deal_right div.picture_div .left div.image_div img
{
    display:inline-block;
    text-align: center;
}

#post_deal_right div.picture_div .left div.arrow
{
    position: absolute;
    overflow: hidden;
    width: 108px;
    margin-left: 0px;
    height:30px;
    margin-top: 78px;
    opacity: 0.8;
    color: white;
}


#post_deal_right div.picture_div .left div.arrow a.left_arrow,
#post_deal_right div.picture_div .left div.arrow a.right_arrow {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 30px;
}

#post_deal_right div.picture_div .left div.arrow a.left_arrow:hover,
#post_deal_right div.picture_div .left div.arrow a.right_arrow:hover {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 30px;
}

#post_deal_right div.picture_div .left div.arrow a.left_arrow:active,
#post_deal_right div.picture_div .left div.arrow a.right_arrow:active {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 30px;
}

#post_deal_right div.picture_div .left div.arrow a.left_arrow {
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/post_deal/icon_postdeal_left_arrow.png);
}

#post_deal_right div.picture_div .left div.arrow a.right_arrow {
    float: right;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/post_deal/icon_postdeal_right_arrow.png);
}

#post_deal_right div.picture_div .left div.arrow a img
{
    display: block;
}

#post_deal_right div.picture_div .left div.arrow div
{
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    color: white;

}

.padding_left_global div#message_magasin
{
    width:100%;
    background:#f4f4f4;
    padding:9px;
    border-top:1px solid #C5C5C5;
    border-left:1px solid #C5C5C5;
    border-right:1px solid #C5C5C5;
}

.padding_left_global .error div#message_magasin {
    border-top:1px solid #db3158;
    border-left:1px solid #db3158;
    border-right:1px solid #db3158;
}

.padding_left_global div#message_magasin img
{
    display:inline-block;
    margin-left:8px;
    margin-right:10px;
    margin-bottom:-2px;
}

.padding_left_global div#message_magasin span
{
    color:#777777;
    font-size:0.9em;
}

/* CALENDRIER */
#error_message_date_fin, #error_message_date_debut {
    float: left;
    color:#DB3158;
    margin-top:3px;
}

.calendar_button {
    float:right;
    width:36px;
    height: 36px;
    display: inline-block;
    background-image:url(//static.dealabs.com/images/post_deal/icon_postdeal_calendar.png);
    background-position:center;
    background-repeat:no-repeat;
}


.calendar {
    position:absolute;
    margin-top:-236px; /* petit soucis ici suivant les navigateurs */

}

.calendar section.mounth 
{
  float: left;
  width: 218px; 
  height: auto;
  background: #fff;
  display:none;
}
.calendar .header_calendar {
    position: relative;
    display: block;
    background: #655FAA;
    padding:8px;
}

.calendar .header_calendar a {
    display:block;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3)
}

.calendar .header_calendar a:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.calendar .header_calendar a:active {
    background-color: rgba(0, 0, 0, 0.1)
}

.calendar .header_calendar a:nth-child(1) {
    float:left;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/post_deal/icon_postdeal_left_arrow.png);
}

.calendar .header_calendar a:nth-child(2) {
    float:right;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/post_deal/icon_postdeal_right_arrow.png);
}

.calendar .header_calendar div {
    overflow:hidden;
    color:white;
    font-size:1.3em;
    text-align:center;
    line-height: 30px;
}


.calendar .article_calendar {
    border-left:1px solid #e3e3e3;
}

.calendar .article_calendar div {
    display: block;
    overflow: hidden;
    clear: both;
}

.calendar .article_calendar div.days {
    background:#e3e3e3;
}

.calendar .article_calendar b {
    float:left;
    width:30px;
    border-right:1px solid #e3e3e3;
    border-bottom:1px solid #e3e3e3;
    text-align:center;
    font-size:0.9em;
    padding:5px 0px;
    color:#777777;
}


.calendar .article_calendar a {
    float: left;
    width: 30px; 
    height: 30px;
    border-right:1px solid #e3e3e3;
    border-bottom:1px solid #e3e3e3;
    text-align: center;
}
.calendar .article_calendar a {
    line-height:30px;
    color:#777777;
    font-weight:bold;
    cursor: pointer;
}

.calendar .article_calendar a.disable {
    color: #cfcfcf;
    cursor: default;
}
.calendar .article_calendar a:not(.disable):hover {
    background: #655faa;
    color: white;
}
.calendar .article_calendar a.active,
.calendar .article_calendar a.active:hover,
.calendar .article_calendar a.active:active {
    background: #655faa;
    color: white;
}


/* HEADER EDITION ERROR */
#now_edit_header {
    margin-top:30px;
    text-align: center;
}

#now_edit_header p:nth-child(1) {
    color:#333333;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
}

#now_edit_header p:nth-child(2) {
    color:#777777;
    font-size: 1.2em;
}

#now_edit_header img {
    display: block;
}

/* CHARGEMENT */
.spinner_image {
    display: none;
    height:50px;
    width:50px;
    margin-top: 23px;
    /*margin-bottom: 23px;*/
    margin-left: 23px;
    /*margin-right: 23px;*/
    position:absolute;

    -webkit-animation: rotation_image .6s infinite linear;
    -moz-animation: rotation_image .6s infinite linear;
    -o-animation: rotation_image .6s infinite linear;
    animation: rotation_image .6s infinite linear;
    border-left:6px solid rgba(101, 95, 170, 0.15);
    border-right:6px solid rgba(101, 95, 170, 0.15);
    border-bottom:6px solid rgba(101, 95, 170, 0.15);
    border-top:6px solid rgba(101, 95, 170, 0.8);

    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -khtml-border-radius: 100%; 
    border-radius: 100%;
}

@-webkit-keyframes rotation_image {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation_image {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation_image {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation_image {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
/* CHARGEMENT */
