.a{
	width:100%;
}
.b{
	width:50%;
	float:left;
}
.c{
	width:50%;
	float:left;
}

.sub-logg-menu{
	display: none;
	overflow: hidden;
	width: 180px;
	right: 100%;
	z-index: 300;
	padding: 0 ;
	position: absolute;
	text-align: center;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.39);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.39);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.39);
}
.sub-logg-menu ul { margin: 15px 15px 0 15px !important; }
.sub-logg-menu li{ margin-bottom: 15px; }
.sub-logg-menu input, .sub-logg-menu button{ width: 100%; }
.sub-logg.is-active .sub-logg-menu{ display: block; }
.close-button{ position: absolute; top: 0; right: 0; }
.message-box{ display: none; width: 100%;  color: #fff; text-align: center; padding: 10%; z-index: 400; }
button.validate{ background-color: #4783b2; }
button.validate:hover{ background-color: #19264b; }

@media only screen and (max-width: 38.000em){
	.logged .content-toggle{ width: 100%; }
	.sub-logg-menu{ right: auto; left: 0; top: 0; width: 100%; padding: 0; }
	.sub-logg-menu ul{ margin: 15px 15px 0 15px  }
	.sub-logg-menu li{ text-align: center !important; }
	.sub-logg-menu input, .sub-logg-menu button{ width: 60%; }
	.back{ text-align: left !important; }
	.back span.icon{ float: left; }
}

@media only screen and (min-width: 39.000em) and (max-width: 64.000em){
	.logged .content-toggle{ width: 130%; }
	.sub-logg-menu{ width: 170px; padding: 0; }
	/*.sub-logg-menu ul{ margin: 15px 15px 0 15px  }
	.sub-logg-menu li{ text-align: center !important; }*/
}
