/* 404 */
.form404 {
width:65%;
}
.form404 .search-form {
position:relative;
margin-top:20px;
margin-bottom:24px;
}
.form404 .search-form input {
width:100%;
}
.form404 .search-form button {
position:absolute;
top:0;
right:4px;
font-size:1.75rem;
}
/* sitemap */
.sm-title a{
font-family: 'Merriweather';
font-size:16px;
color: #4783b2;
text-transform: uppercase;
}
.sm-section{
margin-bottom:20px;
padding-left: 20px;
}
.sm-item a{
font-family: 'Merriweather';
font-size:16px;
color: #757575; 
}
.sm-title img{
margin-right:5px;
padding-bottom: 5px;
}
.sm-main img{
margin-right:15px;
padding-bottom: 5px;
}
.sm-title{
margin-bottom:5px;
margin-left:40px;
}
.sm-item{
margin-bottom:5px;
margin-left:40px;
}
.no-tog{
margin-left:40px;
} 
.mostrar{
display: block !important;
}
.ocultar{
 display: none !important;
}
.toggler{
 display:none;
}
/* contacto */
.cont-logo {
text-align:center;
padding-bottom:25px;
border-bottom:2px solid #f4f4f6;
}
.cont-head {
text-align:center;
padding-top:25px;
color:#757575;
margin-bottom:25px;
}
.cont-block {
width:90%;
margin-bottom:25px;
}
.cont-block h1 {
font-size:24px;
border-bottom:2px solid #f4f4f6;
padding-bottom:15px;
font-weight: bold;
}
.cont-sites {
width:50%;
float:left;
margin-bottom:25px;
}
.cont-agencia {
margin-bottom:25px;
}
.cont-agencia h1 {
font-size:18px;
padding-bottom:5px;
font-weight: bold;
}
.cont-block p {
margin-bottom:10px;
font-style: italic;
color: #757575;
}
.h-alpha span {
color:#757575;
}
.cont-agencias {
cursor:pointer;
}
.form404 .search-form button .text,.toggler,.cont-agencia p {
display:none;
}
.sm-title,.sm-item {
margin-bottom:5px;
margin-left:40px;
}
  @media only screen 
and (max-width : 47.93688em){
.text404 {
width:320px;
margin:0 auto;
}
.form404 {
width:100%!important;
}
.dept {
margin-bottom:0;
}
.no-tog {
margin-left:70px;
}
.sm-item{
display:none !important;
margin-left: 70px !important;
}
.dept{
margin-bottom: 0px;
}
.toggler{
display:block !important;
float:left;
}
}

/* Fix Galerias Nota */
.photogallery-wrapper .bx-viewport {
   height: 497px;
}
