@charset "utf-8";
/* CSS Document */
/* ====================================================================================================
* Public Styles (公共样式)
* ==================================================================================================== */
/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse;border-spacing:0px;}
fieldset,img { border:0;}
ol,ul { list-style:none;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
q:before,q:after { content:'';}
abbr,acronym { border:0;}

html{ -webkit-text-size-adjust:none;}
body{ position:relative; z-index:1; margin:0;padding:0; font-weight:normal;color:#333; background:#fff;}
body, button, input, select, textarea{font-size:12px;font-family:"Microsoft YaHei","微软雅黑","SimHei","MSYH"}
div,ol,ul,li,dir{text-align:left;margin:0;padding:0;border:0;list-style-type:none;}
form,img,span,h1,h2,h3,h4,h5{margin:0;padding:0;border:0;}
table,td,th,p,dl,dt,dd,pre{margin:0;padding:0;}
pre{white-space: pre-wrap;word-wrap: break-word;}
img,input{vertical-align:middle;}
img,button,iframe,input{ border:0;}
input,textarea{ background:#fff;}
button{ display:block; cursor:pointer;}
button,input{filter:chroma(color=#000000);}
input:focus, textarea:focus { outline: none;}/*去除chrome 浏览器额外的黄色或蓝色的边框*/
textarea{resize: none;}
a{text-decoration:none; font-size:14px; color:#333;}
a:hover{text-decoration:underline; color:#cc0000;}

/*clearfix*/
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{zoom:1;}/*for ie6*/
.clear{clear:both;}
.fl{ float:left!important;}
.fr{ float:right!important;}
.nofl { float:none!important}
.f12{ font-size:12px!important;}
.f14{ font-size:14px!important;}
.f16{ font-size:16px!important;}
.f18{ font-size:18px!important;}
.f20{ font-size:20px!important;}
.hide{ display:none!important;}
.show{ display:block;}
.tl{ text-align:left!important;}
.tr{ text-align:right!important;}
.tc{ text-align:center!important;}
.no_pr{ padding-right:0!important;}
.no_mr{ margin-right:0!important;}
.no_padding{ padding:0!important;}
.no_margin{ margin:0!important;}
.no_border{ border:0!important;}
.no_bt{ border-top:0!important;}
.no_bb{ border-bottom:0!important;}
.no_br{ border-right:0 !important;}
.m_t5{ margin-top:5px!important;}
.m_t6{ margin-top:10px!important;}
.m_t10{ margin-top:10px!important;}
.m_t20{ margin-top:20px!important;}
.m_l10{ margin-left:10px!important;}
.m_r20{ margin-right:20px!important;}
.m_b0{ margin-bottom:0!important;}
.m_b5{ margin-bottom:5px!important;}
.m_b6{ margin-bottom:8px!important;}
.m_b10{ margin-bottom:10px!important;}
.m_b20{ margin-bottom:20px!important;}
.m_b30{ margin-bottom:30px!important;}
.p_b0{ padding-bottom:0px!important;}
.p_t0{ padding-top:0px!important;}
.p_t8{ padding-top:8px!important;}
.p_t15{ padding-top:15px!important;}
.p_b5{ padding-bottom:5px!important;}
.p_b15{ padding-bottom:15px!important;}
.bold{ font-weight:bold!important;}
.red{ color:#c00!important;}
.orange{ color:#ff6600!important;}
.blue{color:#0590eb!important;}
.pr{ position:relative;}
.yh{font-family:"Microsoft YaHei","微软雅黑","SimHei","MSYH"!important;}

/* Image Center Public Styles 公共样式 */
.img50{display:table-cell; *display:block; _display:block; vertical-align:middle; text-align:center; overflow:hidden;}
.img50 img{ vertical-align:middle;}
.img50{ width:50px; height:50px;}

.transparent_black{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#44444444',endColorstr='#44444444');_background:#000; _filter:alpha(opacity=50); background:rgba(0,0,0,.5);}
.transparent_white{ filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#00FFFFFF',endColorstr='#B2FFFFFF');_background:#fff; _filter:alpha(opacity=50); background:rgba(255, 255, 255, 0.5);}
.radius{ -webkit-border-radius:3px; -khtml-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; border-radius:3px;}

/*layout*/
.layout,.content{ margin:0 auto; width:1000px;}
.content{ margin:0 auto; width:1000px;overflow:hidden;}
/*header_top*/
.header_top,.footer_area{ width:100%;}

.header_top{ height:36px; border-bottom:1px solid #e5e5e5; font-size:12px; color:#999; background:#f9f9f9;}
.header_top ul,.header_top ul li,.header_top ul li a{ display:inline-block;height:36px; line-height:36px;}
.header_top ul li{ float:left; padding:0 12px;font-family:"Microsoft YaHei","微软雅黑","SimHei","MSYH";}
.header_top ul li a,.phone_bx span{ font-size:12px; color:#999;font-family:"Microsoft YaHei","微软雅黑","SimHei","MSYH","宋体";}
.header_top ul li a.zm,.header_top ul li a.login{ background:url(../images/index/icon_indexsprite_01.png) no-repeat;}
.header_top ul li a.zm{ padding-left:16px;background-position:-51px -75px;}
.header_top ul li a.login{ padding-left:16px; background-position:-51px -31px;}
#ewm_area,#wxgzh_area{ position:relative; z-index:20;}
.phone_bx em{ background:url(../images/icon_sprite_03.png) no-repeat;}
.phone_bx i{ background:url(../images/index/icon_indexsprite_02.png) no-repeat;}
.phone_bx{ height:36px; line-height:36px; overflow:hidden; cursor:pointer;}
.phone_bx i,.phone_bx em,.phone_bx span{ float:left; display:inline-block; overflow:hidden;}
.phone_bx i{ margin:9px 5px 0 0; width:13px; height:19px; background-position:-37px -248px;}
.phone_bx em{ margin:17px 0 0 5px; width:9px; height:5px; background-position:-791px -208px;}
.phone_bx.hover{ text-decoration:underline}
.phone_bx.hover i{ background-position:-37px -248px;}
.phone_bx.hover em{ background-position:-791px -187px;}
.ewm_phone_bx{ display:none; position:absolute; left:12px; top:36px; z-index:99; display:none; padding:10px 10px 0; width:152px; height:180px; border:1px solid #e5e5e5; background:#fff;}
.ewm_phone_bx dd{ width:150px; height:150px; border:1px solid #e5e5e5;}
.ewm_phone_bx dt{ height:28px; line-height:28px; font-size:12px; color:#888; text-align:center;}
.header_top ul li.webSite{ position:relative; z-index:100; margin-left:6px; padding:0; width:92px;border-left:1px solid #f9f9f9; border-right:1px solid #f9f9f9;}
.header_top ul li.webSite a.nav{ position:absolute; left:0; top:0; z-index:201; padding:0 14px 0 30px; background:url(../images/index/icon_nav_01.png) no-repeat 12px center;}
.header_top ul li.webSite.cur{border-left:1px solid #ddd; border-right:1px solid #ddd; background:#fff;}
.header_top ul li.webSite.cur a.nav,.header_top ul li.webSite a.nav:hover{ text-decoration:none; background:url(../images/index/icon_nav_01.png) no-repeat 12px center #fff;}

/*网站导航*/
.webNav{ display:none; position:absolute; right:-1px; top:34px; z-index:200; padding:14px 30px 10px; width:700px;border:1px solid #ddd;background:#fff;}
.webNav_dl{ width:700px; border-bottom:1px dashed #ccc; overflow:hidden;}
.webNav_dl dt,.webNav_dl dd{ float:left; padding:10px 0; line-height:27px; font-size:14px;}
.webNav_dl dt{ padding-right:20px; width:65px; height:27px; text-align:right; color:#000;}
.webNav_dl dd{ width:614px; overflow:hidden;}
.webNav_dl dd a.item{ float:left; margin-right:13px; display:inline-block; height:27px; line-height:27px; font-size:14px; color:#000; overflow:hidden;}
.webNav_dl dd a.item.bold{color:#0590eb; font-weight:600;}

/*footer_area*/
.footer_area{ margin:20px 0 0 0; padding:14px 0 29px 0; border-top:1px solid #e5e5e5; overflow:hidden; background:#fff;}
.footer_area p{ width:100%; line-height:24px; font-size:12px; color:#999; text-align:center;}
.footer_area p em{ font-size:12px; font-style:normal;}
.footer_area p a{ font-size:12px; color:#999;}
.navlink_list{ margin:0 auto 10px; width:800px;}
.navlink_list li.item,.navlink_list li.item a{ display:inline-block;height:25px; line-height:25px;font-size:12px; color:#666;}
.navlink_list li.item{ float:left;color:#ccc;}
.navlink_list li.item a{ padding:0 13px;}
.authoritative_website{ margin:15px auto 0; width:544px; height:52px;}
.authoritative_website li.item{ float:left; margin:0 7px; _margin:0 5px; width:120px; height:50px; overflow:hidden; border:1px solid #d2d2d2;}
.authoritative_website li.item a,.authoritative_website li.item a img{ display:block; width:120px; height:50px; overflow:hidden;}
/*快速提问*/
.fast_ask,#ask_closed,#ask_btn,.fast_askEntry{ background:transparent!important; background:url(../images/index/sprit_ask.png) no-repeat!important;}
.fast_ask,.fast_askEntry{position:fixed;right:10px;z-index:800;}
.fast_ask{bottom:30px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-10); height:200px;width:260px;overflow:hidden; background-position:0 0!important;}
.ask_inner{ position:relative; width:100%; height:100%;}
#ask_closed,#ask_textarea,#ask_btn{ position:absolute; z-index:2;}
#ask_closed{ right:11px; top:14px; display:block; width:14px; height:14px; cursor:pointer; background-position:-235px -14px!important;}
#ask_textarea{left:25px; top:52px;display:block; width:210px;  height:80px; line-height:20px; border:0; resize:none; font-size:12px; color:#666;}
#ask_btn{left:79px; top:156px;display:block; padding-bottom:5px; width:104px; height:31px; line-height:27px; font-size:16px; color:#fff; font-weight:600; text-align:center; background-position:0 -204px!important;}
.fast_askEntry{bottom:160px; display:none;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-140); height:68px;width:68px;overflow:hidden; background-position:0 -239px!important; text-indent:-9999em;}

/* Forms Public Styles 表单 公共样式 */
.forms .onCorrect,.forms .onError,.forms .onTip,.forms .onFocus,.forms .onShow{ float:right; margin-top:5px; margin-bottom:5px; padding:5px 0; display:inline-block; width:280px; height:18px; line-height:18px; font-size:12px; color:#999;}
.forms .onCorrect,.forms .onError,.forms .onTip,.forms .onFocus{ padding-left:24px; width:256px; background:url(../images/icon_sprite_register.png) no-repeat;}
.forms .onCorrect{ background-position:-283px -30px;}
.forms .onTip{ background-position:-283px 7px;}
.forms .onError{ background-position:-283px -67px;}
.onlogin{ float:left!important; margin-top:0!important;}

.forms .input{padding:8px 5px 8px 11px; width:292px; height:22px; line-height:22px; border:1px solid #cdcdcd; font-size:14px; color:#999; -webkit-border-radius:2px; -khtml-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; border-radius:2px; background:#fafafa;}
.edit_ul{ width:100%;}
.edit_ul li.item{ margin:0 0 15px 0; position:relative; z-index:1;}
.edit_ul li.delete_f{ position:static; z-index:inherit;}
.edit_ul li.item label.defaults{ position:absolute; left:7px; top:10px; font-size:14px; color:#999;}
.edit_ul li.item span.user_defaults{ font-size:14px; color:#888; float:left; height:36px; line-height:36px; padding-right:20px; text-align:right; width:104px;}
.edit_ul li.item span.user_defaults font { color:#F00; padding-right:10px; font-size:14px}
.edit_ul li.item .input,.edit_ul li.item .input_one,.input_two,.select_one,.textarea_one,.textarea_two,.textarea_three,.input_three,.select_two,.select_three{float:left; padding:8px 5px 8px 11px; width:282px; height:20px; line-height:20px; border:1px solid #cdcdcd; font-size:14px; color:#666; -webkit-border-radius:2px; -khtml-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; border-radius:2px; background:#fafafa;}
.edit_ul li.item .input_focus{ border-top:1px solid #9e9e9e; border-left:1px solid #9e9e9e; background:#f5f5f5;}
.edit_ul li.item .input_one,.textarea_one{padding:7px 5px 6px 11px; width:407px;}
.textarea_one{ width:297px;}
.textarea_two{ margin-top:15px; width:556px; height:54px; font-size:14px; color:#999; background:#f5f5f5; overflow-x:hidden; overflow-y:auto;}
.textarea_three{ width:440px; height:85px;}
.it_w1{ width:159px!important;}
.it_w2{ width:142px!important;}

.edit_ul li.item p{ float:left; width:575px; line-height:36px; font-size:14px;}
.edit_ul li.item p input.radio{ margin-right:5px;}
.edit_ul li.item p label.experience{ margin-right:20px;}

.input_three{ width:547px; height:16px; ling-height:16px;}
.textarea_one{ height:64px; line-height:22px;}
.select_one,.select_two,.select_three{ margin:0 0 0 0; padding:0;width:94px; *width:93px; _width:93px; vertical-align:middle; color:#333; vertical-align:middle;}
.select_two,.select_three{ float:none; width:81px;}
.select_three{ width:150px; height:22px; line-height:22px;}

.select_one option{vertical-align: middle;}
.validate_box{ float:left; width:300px; height:38px; line-height:38px;}
.validate_box .input_validate{ float:left; display:inline-block; width:151px; height:38px; line-height:38px; border:0; font-size:14px; color:#999; background:transparent;}
.validate_box .validate_code,.validate_box .validate_refresh{ float:left; margin-left:5px; display:inline-block; height:38px; overflow:hidden;}
.validate_box .validate_code{ width:90px; height:38px; overflow:hidden;}
.validate_box .validate_code img{width:90px; height:38px; overflow:hidden;}
.validate_box .validate_refresh{ margin-left:8px; line-height:36px; font-size:12px; color:#0064a5;}

.edit_ul li.item .ps{ float:left; padding-top:5px; display:inline-block; width:300px; height:20px; line-height:20px;}
.edit_ul li.item a{ color:#0064a5;}
.edit_ul li.item .forget_password{ float:right; *margin-top:-20px; color:#666; font-family:Verdana;}
/*按钮*/
.edit_ul li.item .btn,a.l_blue,a.l_blue_s,a.l_gray,.b_orange,.b_blue_s{ display:block; padding:0!important; padding-bottom:5px!important; width:298px; height:38px; line-height:32px; border:1px solid #005288; font-size:16px!important; color:#fff!important; font-family:"Microsoft YaHei","微软雅黑","SimHei","MSYH"; -webkit-border-radius:3px; -khtml-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; border-radius:3px; text-align:center; background:url(../images/icon_sprite_btn_01.png) repeat-x;}
a.l_blue,a.l_blue_s,a.l_gray{ padding:0!important; line-height:34px;}
a.l_blue_s,.b_orange,.b_blue_s{ width:107px; height:30px;font-size:14px!important; border:0; line-height:30px; background:#0080d5;}
.b_orange,.b_blue_s{ padding-bottom:5px!important; line-height:28px; background:#ff9900;}
.b_blue_s{ background:#0085d5;}
.b_orange:hover{ background:#ff6600;}
.b_blue_s:hover{ background:#005e9d;}

.edit_ul li.item .b_gray,a.l_gray{ border:1px solid #ccc; color:#333!important; background-position:0 0;}
.edit_ul li.item .b_gray.hover,a.l_gray:hover{ background-position:0 -39px;}
.edit_ul li.item .b_blue,a.l_blue{background-position:0 -78px;}
.edit_ul li.item .b_blue{ line-height:25px;}
.edit_ul li.item .b_blue.hover,a.l_blue:hover{background-position:0 -117px;}
/*其他交通工具登录*/
.other_tools{ margin-top:20px; height:34px;}
.ot_bt{ padding-top:15px; border-top:1px solid #dfdfdf;}
.other_tools dt,.other_tools dd{ float:left; height:34px; line-height:34px;}
.other_tools dt{ width:111px; font-size:12px; color:#999; font-family:Verdana, Arial, Helvetica, sans-serif;}
.other_tools dd{ width:189px;}
.other_tools dd a{ float:left; margin-right:13px; display:inline-block; width:34px; height:34px; overflow:hidden; text-indent:-9999em; background:url(../images/icon_sprite_register.png) no-repeat;}
.other_tools dd a.sina{ background-position:-1px -225px;}
.other_tools dd a.qq{ background-position:-38px -225px;}
.other_tools dd a.new{ float:right; width:auto; margin-right:0; background:none; color:#0064a5!important;text-indent:0;}

/*登录身份选*/
.identity{ float:left; display:inline-block; width:145px; height:40px; line-height:40px; font-size:14px; color:#999; text-align:center; cursor:pointer; background:url(../images/icon_sprite_register.png) no-repeat;background-position:-122px -303px;}
.identity.selected{color:#666; font-weight:bold; background-position:-122px -345px;}



/*友情链接、合作医院、合作媒体、合作机构*/
.relative_partners{ margin:20px auto; width:1000px;overflow: hidden;}
.relative_partners .rp_holder{ padding:0; height:35px; border-bottom:1px solid #e5e5e5;}
.relative_partners .rp_holder li.item,.relative_partners .rp_holder li.item h3{display:inline-block; _display:inline; height:35px; line-height:35px;}
.relative_partners .rp_holder li.item{ float:left; _display:block; margin-right:25px;}
.relative_partners .rp_holder li.item h3{ padding:0 1px; font-size:16px; color:#000; font-weight:normal; cursor:pointer;}
.relative_partners .rp_holder li.item.cur{ color:#d2162f; border-bottom:1px solid #d2162f;}
.relative_partners .rp_holder li.item.cur h3{ color:#d2162f;}
.relative_partners .rp_content{ padding:12px 0;}
.relative_partners .rp_content .panel{ display:none;}
.relative_partners .rp_content a.item{ float:left; display:inline-block; padding-right:10px; width:150px; height:24px; line-height:24px; font-size:12px; color:#333; overflow:hidden;}
/*友链-绿色版本-减肥、养生*/
.green .rp_holder li.item.cur,.green .rp_holder li.item.cur h3{ color:#2f8903;}
.green .rp_holder li.item.cur{ border-bottom-color:#2f8903;}
/*友链-玫红版本-两性、产科妇科*/
.rose .rp_holder li.item.cur,.rose .rp_holder li.item.cur h3{ color:#ce438f;}
.rose .rp_holder li.item.cur{ border-bottom-color:#ce438f;}
.relative_partners .cur a{
    color: #d2162f;
}



.par_mod{float:left; margin:0 22px 0 0; width:124px; height:95px; overflow:hidden;}
.par_mod dd,.par_mod dd a,.par_mod dd img{display:block;width:122px; height:48px; overflow:hidden;}
.par_mod dd{ border:1px solid #e6e6e6;}
.par_mod dt{ padding:4px 0 0 0;}
.par_mod dt,.par_mod dt a{ display:inline-block; width:124px; height:34px; line-height:17px; font-size:12px; color:#666; text-align:center; overflow:hidden;}
.relative_partners .rp_content .panel .par_mod:nth-child(7n){ float:right; margin-right:0;}


.catalog_link{position:fixed;right:10px;bottom:490px;z-index:800;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-470); width:142px; height:42px; text-indent:-9999em; background:url(../images/icon_catalog.png) no-repeat 0 0;}

/*公众号*/
.public_code{position:fixed;right:10px;z-index:800;bottom:250px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-230); height:234px;width:140px; border:1px solid #0080d5; overflow:hidden; background:#fff;}
.public_code dt{ padding:5px; font-weight:600;}
.public_code dt strong,.public_code dt span{ width:100%; display:inline-block; height:20px; line-height:20px; color:#333; text-align:center;}
.public_code dt strong{ padding-bottom:5px; font-size:18px;}
.public_code dt span{font-size:14px;}
.public_code dd .code{ margin:0 auto 9px; display:block; overflow:hidden;}
.public_code dd .code,.public_code dd .code img{ width:120px; height:120px;}
.public_code dd.ps{ padding:7px 0; line-height:18px; text-align:center; background:#0080d5;}
.public_code dd.ps span{ width:100%; display:inline-block; line-height:18px; font-size:14px; color:#fff;}

.nav_new{
    width: 100%;
    float: left;
    overflow: hidden;
    border-bottom: 5px solid black;
}

.nav_new_con{
    width: 1000px;
    overflow: hidden;
    margin: 50px auto 0 auto;
}

.nav_new .nav_new_con h1{
    background: url("../images/women_new/logo_new.png") no-repeat;
    height: 34px;
    width: 116px;
    float: left;
    display: inline-block;
    padding-bottom: 10px;
}

.nav_new_con ul{
    margin-left: 40px;
    float: left;
    overflow: hidden;
}

.nav_new_con ul li{
    float: left;
    overflow: hidden;
    padding: 0 14px;
    height: 34px;
    line-height: 50px;
}

.nav_new_con ul li a{
    display: inline-block;
    float: left;
    overflow: hidden;
    font-size: 16px;
    color: black;
}

.nav_new_con ul .on a{
    color: #d2162f;
}

.nav_new_con ul li:hover a{
    color: #d2162f;
}

.select_new{
    float: right;
    overflow: hidden;
    width: 260px;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-top: 13px;
}

.select_new input{
    font-size: 14px;
    color: #333;
}

input[placeholder], [placeholder], *[placeholder] {
    color: #cccccc !important;
    font-size: 14px;
}

*::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 14px;
}
*:-moz-placeholder {
    color: #cccccc;
    font-size: 14px;
}
*:-ms-input-placeholder {
    color: #cccccc;
    font-size: 14px;
}

.select_new button{
    position: absolute;
    top: 5px;
    right: 3px;
    background: url("../images/women_new/select_new.png") no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.nav_new_tab{
    background-color: #f7f7f7;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}


.JS_tabContent1{
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}

.JS_tabContent1 ol{
    width: 100%;
    float: left;
    overflow: hidden;
}

.JS_tabContent1 ol li{
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.JS_tabContent1 ol li em{
    padding: 0 15px;
    display: inline-block;
    color: #ccc;
}

.JS_tabContent1 ol li:first-child{
    padding-left: 170px;
}

/*.JS_tabContent1 ol:first-child{*/
    /*padding-left: 190px;*/
/*}*/

/*.JS_tabContent1 ol:nth-child(2){*/
    /*padding-left: 280px;*/
/*}*/

/*.JS_tabContent1 ol:nth-child(3){*/
    /*padding-left: 370px;*/
/*}*/

/*.JS_tabContent1 ol:nth-child(4){*/
    /*padding-left: 460px;*/
/*}*/

/*.JS_tabContent1 ol:nth-child(5){*/
    /*padding-left: 555px;*/
/*}*/

.JS_tabContent1 ol li a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.JS_tabContent1 ol li a:hover{
    color: #d2162f;
}

.header_nav ol li a:hover{
    color: #d2162f;
}

.panel{
    display:none;
}
