/**
 * Copyright 2012, Athena UI Library
 * MIT Licensed
 * @ dialog.css
 * @author imbingdian@gmail.com
 * @build 2012/12/07
 */
#overlay {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#fff;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	z-index:1000000000;
}
*html { background:url(img/blank.gif) fixed; }
*html body { margin:0; height:100%; }
*html #overlay { position: absolute; left: expression(documentElement.scrollLeft + documentElement.clientWidth - this.offsetWidth); top: expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight); }

.dialog_outter{
	position: absolute;
	z-index: 10000000000;
	left: 50%!important;
	top: 50%;
	overflow: hidden;
	padding:6px!important;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	outline: 0;
	background-clip: padding-box;
	background:#000;
}
.ui-dialog {
	position: absolute;
	z-index: 10000000001;
	left: 50%!important;
	top: 50%;
	overflow: hidden;
	text-align:left;
	outline: 0;
	padding:0;
	border:1px solid #676767; 
	background:#fff;
}
.ui-dialog-hd {
	margin:0;
	padding:28px 39px 0;
	height:52px;
	line-height: 52px;
	font-size:21px; 
	color:#000; 
	font-family:"Microsoft YaHei","微软雅黑","SimHei","MSYH"; 
	background:#fff;
	overflow:hidden;
}
.ui-dialog-bd{ padding:10px 39px; overflow:hidden; height:auto;background:#fff;}
a.ui-dialog-close {
	display: block;
	width: 51px;
	height: 51px;
	text-indent: -9999em;
	position: absolute;
	right: 0px;
	top: 0px;
	background:url(img/dialog_close.png) no-repeat 0 0;
	overflow: hidden;
}
a.ui-dialog-close:hover { background-position:0 -52px;}

.ui-dialog-noreg {
    padding-left: 33px;
    padding-top: 20px;
    border-top: 1px #ccc solid;
}
.ui-dialog-alreg {
    padding-left: 33px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px #ccc solid;
}
.ui-dialog-notice {
	height: 35px;
	line-height: 35px;
	border-bottom: 1px #ccc solid;
	background: #fffbcc;
	font-size: 12px;
	text-align: center;
	margin-bottom: 5px;
}


