/* 
Hardboiled CSS3 Media Queries by Andy Clarke:
http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
	body { width: 1024px;}
	.panelSlide {padding: 5px 0 20px 5px;}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

@media only screen and (max-width: 319px) and (orientation: portrait) {
	
	.responsive-contentasset.mobile-home-column-1, .responsive-contentasset.mobile-hub-column-1 {
		width: 100%;
	}
	
	.responsive-page-slot-container {
		margin: 0;
	}
}

@media only screen and (min-width: 320px) and (orientation: portrait) {
	
	.responsive-page-slot-container {
		margin: 0 10px;
	}
}

@media only screen and (min-width: 320px) and (orientation: landscape) {
	
	.responsive-page-slot-container {
		margin: 0 30px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.touch html { -webkit-text-size-adjust:none; }
	.touch body { 
		width: 100%; 
	}
	body > iframe[src*="doubleclick"] {
		display: none;
	}

	.container.toggle-panel {
		min-height: 51px;
	}
	
	div#tfc-fitrec-register-dialog {
		position: fixed;
	}
	
	div#tfc-fitrec-register-content-wrapper {
		margin-top: 40px
	}
		
	.collectionInfoWindow .description:first-child { width:240px; display:block;}
	.collectionInfoWindow .store-address { white-space: normal;}
	
	#map_container img { -webkit-transform: translateZ(0);}
	
	#storesTable th.center {
		width: 131px;
	}
	
	#storesTable th.rightText {
		width: 107px;
	}
	
	a.hof-btn-mini.hof-btn-addtobag {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	.global-message-bar .hide-message {
		padding-top: 2px;
		box-sizing: border-box;
	}
	
	.priceSliderFix {
		padding: 0 20px;
	}
	
	.priceSliderFix > p {
		padding-bottom: 25px;
	}
	
	.priceSlider.ui-slider.ui-slider-horizontal .ui-slider-handle {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		top: -7px;
	}

	.priceSliderMin,
	.priceSliderMax {
		margin-top: 25px;
	}
	
	.rollover-image .tablet {
		display: inline;
	}
	
	.rollover-image .desktop {
		display:none;
	}

	/* This 2px and not 1px areset to have the underline visible at any scale. Reason: iOS7+ */
	abbr[title] { 
		border-bottom: 2px dotted;
	}
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	html { -webkit-text-size-adjust:none; }
	#bookmarks ol li a, #bookmarks ol li span {
	    border-radius: 5px 5px 5px 5px;
	    height: 30px;
	    line-height: 30px;
	    margin: 0 5px 0 0;
	    padding: 8px 10px;
	    text-decoration: none;
	    white-space: nowrap;
		cursor: pointer;
	
	}
	#bookmarks ol li span.storeterm {
		font-family: sans-serif;
		font-size: 17px;
    	font-style: normal;
    	font-weight: normal;
	}
	.error404 #hof-header .hof-basics {
		width: 100%;
	}
	div#tfc-fitrec-register-dialog {
	    padding-top: 0px;
	}
	.hof-container {
        min-height: 1220px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	html { -webkit-text-size-adjust:none; }
	.container {
		min-height: 900px;
	}
	.touch .error404 #hof-header .hof-basics {
		width: 100%;
	}
	#bookmarks ol li span.storeterm {
		font-family: sans-serif;
		font-size: 17px;
	    font-style: normal;
	    font-weight: normal;
	}
	#bookmarks ol li a, #bookmarks ol li span {
		 height: 25px;
		 line-height: 25px;
		 margin: 0 5px 0 0;
		 padding: 8px 2px;
		 text-decoration: none;
		 white-space: nowrap;
		cursor: pointer;
	}
	.hof-container {
		min-height: 1220px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}

/* iPhone 4 and high pixel ratio devices ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }

  #pageHeader { display: none;}
  #pageContainer { width: auto;}
  .col { float: none; width: auto; margin: 0 !important;}
  
}

