/* reset css */

/**/
#acMdChat{
    display:none;
    line-height: 1;
}
div.popup {
    display:none;
    position:fixed;
    _position:absolute;
    right:50px;
    /*bottom:-169px;*/
    z-index: 1;
    width: 260px;
    height: 210px;
    padding: 4px;
    background-color: #f7ac34;
    /*border: solid 1px #f7ac34;*/
    /*border-radius: 15px 15px 0px 0px / 15px 15px 0px 0px;*/
}

div.chat_head {
    height: 25px;
    width: 220px;
    margin-left: 8px;
    margin-top: 2px;
    padding: 10px;
    background-color: #f7ac34;
    color: #ffffff;
}

span.chat_head {
    /*margin: 10px 10px 0px 10px;*/
    background-color: #f7ac34;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

div.chat_body {
    width: 230px;
    height: 150px;
    background-color: #ffffff;
    padding: 20px 15px 0px 15px;
}

span.chat_body {
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #000000;
    padding: 1px;
    font-size: 13px;
}

a.chat_button {
    width: 175px;
    height: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    background-color: #8c6044;
    /*border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;*/
}

a.close {
    font-size: 13px;
    display: block;
    color: #ffa07a;
    text-decoration: none;
    margin-top: 15px;
    text-align: center;
}

span.chat_button {
    height: 40px;
    text-align: center;
    background-color: #8c6044;
    font: bold 25px;
    color: #ffffff;
}

p.default_note {
    text-align: left;
    margin-top: 12px;
    margin: 0 auto;
    line-height: 16px;
    font-size: 13px;
}
.mail_link {
    text-decoration: underline;
}
p.close_note {
    text-align: left;
    margin-top: 12px;
    margin: 0 auto;
    line-height: 14px;
    font-size: 11px;
}
p.alert_heavy {
    margin-top: 1px;
    padding: 2px;
    text-align: center;
    font-size: 15px;
    border:2px solid red;
}

