*{margin: 0; padding: 0;}
html{height: 100%;}
body{
    width: 100%;
    height: 100%;
    background: #474747 url(http://cdn.1pornn.com/sts/img/top.png) repeat-x left top;
    font-family: Tahoma, "Geneva CY", sans-serif;
    font-size: 12px;
    color: #fff;
}
input{vertical-align: top;}
input:focus{outline: 0 none;} 
textarea:focus{outline: 0 none;}
ul{
    list-style: none;
}
img{
    border: 0;
}
a{
    color: #58c7fb;
    text-decoration: none;
    outline: 0;
}
a:hover{
    text-decoration: underline;
}
.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.clear {*min-height:1px;}
.alignleft{float: left;}
.alignright{float: right;}

#wrapper{
    position: relative;
}


/* Header
******************************************************************************/
#header{
    height: 82px;
    position: relative;
    margin: 0 10px;
    padding: 0 490px 0 395px;
    padding-top: 8px;
    z-index: 100;
}
.logo{
    position: absolute;
    top: 5px;
    left: 0;
}
.head-r{
    position: absolute;
    top: 27px;
    right: 0;
}
.descr{
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px 0 #036390;
    line-height: 14px;
    height: 70px;
    overflow: hidden;
}
.search{
    width: 242px;
    height: 31px;
    float: left;
    margin-left: 2px;
    background: url(http://cdn.1pornn.com/sts/img/search.png);
    line-height: 31px;
    overflow: hidden;
}
.search input{
    width: 195px;
    height: 31px;
    border: 0;
    background: transparent;
    padding: 0 10px;
    color: #000;
    font-size: 11px;
    line-height: 31px;
    font-family: Tahoma, "Geneva CY", sans-serif;
    text-shadow: 1px 1px 0 #fff;
    float: left;
}
input.search-bttn{
    width: 25px !important;
    padding: 0;
    cursor: pointer;
    margin: 0;
}
.head-list>a{
    width: 197px;
    height: 31px;
    line-height: 31px;
    display: block;
    padding: 0 35px 0 10px;
    background: url(http://cdn.1pornn.com/sts/img/head-list.png);
    color: #000;
    font-size: 11px;
    text-shadow: 1px 1px 0 #fff;
    text-decoration: none;
}
.head-list .drop-list{
    display: none;
    background: #6c6b6b;
    padding: 10px;
    position: absolute;
    z-index: 100;
    text-shadow: 1px 1px 0 #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    *top: 31px;
    *left: 0;
}
.head-list:hover .drop-list{
    display: block;
}
.head-list .drop-list ul{
    float: left;
    margin: 0 10px;
}
.head-list .drop-list ul li{
    padding: 3px 0;
}
.head-list .drop-list ul li a{
    color: #fff;
    text-decoration: none;
}
.head-list .drop-list ul li a:hover{
    color: #58c7fb;
}
.menu{
    height: 38px;
    overflow: hidden;
    margin: 0 10px;
}
.menu ul{
    overflow: hidden;
    float: left;
    width: 64%;
    height: 30px;
    margin-top: 4px;
}
.menu ul li{
    width: 103px;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 0 #f2f2f2;
    background: url(http://cdn.1pornn.com/sts/img/menu.png);
    overflow: hidden;
    margin-right: 3px;
    text-align: center;
}
.menu ul li a{
    display: block;
    color: #000;
    text-decoration: none;
}
.menu ul li a:hover, .menu ul li.active a{
    color: #0493d6;
}
.menu ul li.uniqe a{
    color: #fdda19;
    background: none;
}
.menu ul li a span{
    padding-left: 12px;
    background: url(http://cdn.1pornn.com/sts/img/menu-bullet.png) no-repeat left center;
}
.addthis_toolbox{
    float: right;
    text-shadow: none;
    min-width: 244px;
    margin: 3px 0 0;
}


/* Content
******************************************************************************/
#content{
    margin-bottom: 20px;
    padding-top: 5px;
}
.title{
    height: 37px;
    line-height: 37px;
    background: url(http://cdn.1pornn.com/sts/img/title.png) repeat-x left top;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0 3px;
    overflow: hidden;
    text-shadow: 1px 1px 0 #373737;
    margin: 0 4px;
}
.title-l{
    height: 37px;
    background: url(http://cdn.1pornn.com/sts/img/title-l.png) no-repeat left top;
    padding: 0 5px 0 50px;
}
.title h2{
     font-size: 12px;
}
.title .search{
    width: 408px;
    background: url(http://cdn.1pornn.com/sts/img/search-big.png);
    float: right;
    margin-top: 3px;
}
.title .search input{
    width: 360px;
}
.title .pagination{
    margin: 0;
    float: right;
}
.title .pagination a, .title .pagination span{
    margin: 0 1px;
}
.pagination {
    text-align: center;
}
.pagination li {
    margin: 5px 0 20px;
    color: #fff;
    font-weight: bold;
    font-size: 0;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    position: relative;
}
.pagination a, .pagination span{
    height: 37px;
    line-height: 37px;
    font-size: 13px;
    padding: 0 13px;
    color: #fff;
    margin: 1px;
    background: #000;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}
.pagination a:hover, .pagination .highlight a{
    background: #ededed;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    text-decoration: none;
}
.related{
    background: #363636;
    padding: 1px 10px;
    margin: 2px 4px 4px;
    font-size: 12px;
    color: #58c7fb;
}
.related a{
    height: 15px;
    line-height: 15px;
    padding-left: 22px;
    background: url(http://cdn.1pornn.com/sts/img/related.png) no-repeat left center;
    color: #58c7fb;
    margin: 6px 15px 6px 0;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}
.related span{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
    margin-right: 15px;
}


/* Video
******************************************************************************/
#video-page{
    min-width: 1256px;
}
.video-area{
    width: 1256px;
    margin: 0 auto;
}
.video{
    width: 855px;
    padding: 20px;
    float: left;
    background: #363636;
    margin: 2px 0 7px 4px;
}
.video p{
    margin-top: 10px;
    font-size: 13px;
    color: #58c7fb;
    text-shadow: 1px 1px 0 #000;
}
.video span{
    color: #f2f2f2;
}
.sidebar{
    width: 350px;
    float: right;
    background: #363636;
    padding: 18px 0;
    text-align: center;
    font-size: 0;
    margin: 2px 4px 7px 0;
}
.side-banner{
    font-size: 14px;
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom; 1;
}
.side-banner:first-child{
    margin-top: 0;
}
.side-banner img{
    display: block;
}
#player iframe {width:860px !important;}

/* Thumbs
******************************************************************************/
.thumbs{
    text-align: center;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    margin: 1px 0 5px;
}
.thumb{
    width: 242px;
    padding: 3px;
    background: #363636;
    font-size: 11px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #f2f2f2;
    text-shadow: 1px 1px 0 #000;
    margin: 1px;    
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.thumb-sm{
    width: 182px !important;
    padding: 8px !important;
    text-align: center;
}
.thumb img{
    vertical-align: middle;
    border: 0;
    margin: 0 3px;
}
.thumb .th-img{
    border: 1px solid #000;
    position: relative;
    display: block;
    margin-bottom: 5px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.thumb .th-img img{
    display: block;
    margin: 0;
    height: 180px;
}
.thumb .th-img .frame-inside{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: block;
    transition: all 0.2s ease 0s;    
}
.thumb .th-img .outside-frame{
    position: absolute;
    left: 9px;
    bottom: 9px;
    top: 9px;
    right: 9px;
    display: block;
    transition: all 0.5s ease 0s;
}
.thumb .name{
    display: block;
    line-height: 15px;
    height: 32px;
    overflow: hidden;
    padding: 0 3px;
}
.thumb .name img{
    margin-left: 0;
}
.thumb a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}
.thumb-sm a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
}
.thumb a:hover{
    color: #58c7fb;
}
.thumb a:hover .th-img .frame-inside{
    border: 9px solid #474747;
    opacity: 0.5;
}
.thumb a:hover .th-img .outside-frame{
    border: 1px solid #4c97bd;
}
.thumb a:hover .th-img .dur{
    display: none;
}
.thumb a.cat{
    font-size: 16px !important;
    line-height: 24px;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-align: center;
}
.thumb p{
    margin: 2px 3px;
}
.thumb .th-name{
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}
.thumb p{
    margin: 2px;
}
.thumb p a{
    font-size: 11px;
    margin: 0;
    display: inline;
}
.thumb .tags{
    line-height: 14px;
    height: 14px;
    overflow: hidden;
    margin: 2px 2px 5px;
    color: #58c7fb;
}
.thumb .tags a{
    color: #58c7fb;
    font-weight: normal;
}
.thumb .tags a:hover{
    text-decoration: underline;
}
.thumb .tags span{
    font-weight: bold;
    color: #f2f2f2;
}
.dur{
    position: absolute;
    bottom: 1px;
    right: 1px;
    background: url(http://cdn.1pornn.com/sts/img/dur.png) repeat left top;
    font-size: 11px;
    color: #f2f2f2;
    text-shadow: 1px 1px 0 #000;
    padding: 5px 10px;
    display: block;
}

.v-thumbs{
    padding-left: 1px;
    margin-bottom: 1px;
}
.v-thumb{
    width: 146px;
    float: left;
    padding: 5px;
    border: 1px solid #1d1da0;
    background: #020252;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0 #1f2326;
    margin: 0 2px 2px 0;    
}
.v-thumb img{
    display: block;
}
.v-thumb span{
    display: block;
    padding: 3px 3px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side-thumbs{
    background: #02026d;
    border: 1px solid #01014b;
    padding: 3px;
    text-align: center;
    font-size: 0;
}
.side-thumb{
    width: 142px;
    margin: 1px;
    border: 1px solid #1d1da0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}
.side-thumb img{
    display: block;
}
.side-thumb span{
    padding: 2px 5px;
    background: url(http://cdn.1pornn.com/sts/img/th-name.png) repeat left top;
    position: absolute;
    font-size: 10px;
    line-height: 15px;
    width: 132px;
    height: 30px;
    overflow: hidden;
    bottom: 0;
    left: 0;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    text-align: left;
}
.side-thumb:hover span{
    display: none;
}


/* List
******************************************************************************/
.list{
    padding: 10px 20px;
    margin: 2px 4px 20px;
    font-size: 12px;
    font-weight: bold;
    background: #363636;
    color: #58c7fb;
    text-shadow: 1px 1px 0 #000;
}
.list ul{
    width: 20%;
    float: left;
}
.list ul li{        
    padding: 3px 0;
    margin: 0 5px;
}
.list ul li.letter{
    width: 27px;
    height: 27px;
    padding: 0;
    margin: 20px 5px 10px;
    background: url(http://cdn.1pornn.com/sts/img/letter.png);
    text-align: center;
    line-height: 27px;
    font-size: 15px;
    color: #02026d !important;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #f2f2fe;
    font-weight: bold !important;
}
.list ul li.letter:first-child{
    margin-top: 0;
}
.list ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-weight: normal;
}
.list ul li a:hover{
    color: #58c7fb;
}
.bullet ul li{
    background: url(http://cdn.1pornn.com/sts/img/bullet.png) no-repeat 0 7px;
    padding-left: 10px;
    line-height: 14px;
    color: #fff !important;
    font-weight: normal !important;
}


/* Footer
******************************************************************************/
#footer{
    background: url(http://cdn.1pornn.com/sts/img/footer.png) repeat-x left bottom;
    padding: 8px;
    font-size: 12px;
    line-height: 14px;
    color: #efefef;
    text-shadow: 1px 1px 0 #000;
    text-align: center;
    max-height: 145px;
}
#footer img{
    display: block;
    margin: 0 auto;
}
#footer p{
    padding-top: 10px;
}
#footer p:first-child{
    padding-top: 0;
}
#footer a{
    color: #3791bb;
}
#footer span{
    font-size: 11px;
}
#footer span a{
    font-weight: bold;
    text-shadow: 3px 5px 3px #0d0d0d;
    margin: 0 5px;
}
.foot{
    width: 990px;
    margin: 0 auto;
}