/*
------------------------------------------
RESET DEFAULT BROWSER CSS + BASIC STUFF
------------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline;	background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {	content: ''; content: none; }
a{ text-decoration:none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
body, td{ vertical-align:top; }
table {	border-collapse: collapse; border-spacing: 0; }
html,body{ background:#FFF; width:100%; height:100%; font-size:12px; font-family:Tahoma; }

.clearfloat{ clear:both; height:0px; font-size: 1px; line-height: 0px; }
.show{ display:inherit; }
.hidden{ display:none; }

.center{ width:960px; height:auto; margin:0 auto; }

.ga{ /*background:#583737;*/ }
.size-728x90{ width:728px; height:90px; }
.size-728x15{ width:728px; height:15px; }
.size-300x250{ width:300px; height:250px; }
.size-300x250.custom{ width:336px; height:280px; }
.size-160x600{ width:160px; height:600px; }
.size-120x90{ width:120px; height:90px; }
.size-336x280{ width:336px; height:280px; }

/*
------------------------------------------
	ESTRUTURA
------------------------------------------
*/
.mensagem{ /*display:none;*/ border: 1px solid #000; width: 400px; padding: 60px 0; text-align: center; margin: 10px 0; border-radius: 6px; border: 2px solid #007A0A; background: #C3E3C6; }
.mensagem.errors{ border: 1px solid #000; width: 400px; padding: 60px 0; text-align: center; margin: 10px 0; border-radius: 6px; border: 2px solid #FF0000; background: #FFDBDB; }
.FontColor-Blue{ color:#205f86; }
.FontColor-Green{ color:#1eaf63; }
.FontColor-Red{ color:#af1e1e; }
.FontColor-Orange{ color:#fe8f18; }
/*
------------------------------------------
	HEADER
------------------------------------------
*/
section.HeaderMaster{ width:100%; height:224px; background:url(/images/site/HeaderMenuBG.gif) bottom left repeat-x; }

section.HeaderMaster .ga{ float:right; margin:-140px 0 20px 0; visibility:hidden; }

section.HeaderMaster .HeaderLogo{ float:left; margin:37px 0 0 0; overflow:hidden; }

section.HeaderMaster .HeaderLogo h1{ color: #000000; }

section.HeaderMaster #cse-search-box{ width:300px; height:30px; background:#205f86; margin-top:-30px; float:right; }
section.HeaderMaster #cse-search-box input{ color:#FFF; border:none; width:260px; padding:0 30px 0 10px; height:30px; background:#205f86 url(/images/site/SearchMagnifier.gif) 275px 4px no-repeat; }
section.HeaderMaster #cse-search-box input::-webkit-input-placeholder { color: #FFF; }
section.HeaderMaster #cse-search-box input:-moz-placeholder { color: #FFF; }
section.HeaderMaster #cse-search-box input::-moz-placeholder { color: #FFF; }
section.HeaderMaster #cse-search-box input:-ms-input-placeholder { color: #FFF; }
section.HeaderMaster #cse-search-box input.btnBuscar{ display:none; }

section.HeaderMaster ul{ width:960px; height:62px; margin-top:10px; }
section.HeaderMaster ul li{ display:inline-block; height:62px; margin:0; background:url(/images/site/HeaderMenuDivisor.gif) center right no-repeat; }
section.HeaderMaster ul li:last-child{ background:none; }
section.HeaderMaster ul li a{ color:#236186; font-size:13px; display:block; width:auto; height:62px; line-height:62px; padding:0 10px 0 6px; }
section.HeaderMaster ul li a.active{ background:url(/images/site/HeaderMenuActive.png) center 2px no-repeat; }
section.HeaderMaster ul li a:hover{ background:url(/images/site/HeaderMenuActive.png) center 2px no-repeat; }
/*
------------------------------------------
	CONTENT MASTER
------------------------------------------
*/
section.ContentMaster{ margin-top:20px; }
section.ContentMaster .Block .UpperTitle{ display:block; font-size:10px; color:#959595; text-transform:uppercase; margin-bottom:2px; }
section.ContentMaster .Block .UpperTitle a{ color:#959595; }
section.ContentMaster .Block .MainTitle{ display:block; font-size:18px; text-decoration:underline; margin-bottom:15px; }
section.ContentMaster .Block .Content{ display:block; font-size:14px; text-align:justify; }
section.ContentMaster .Block .Content a{ color:#000; }
section.ContentMaster .TopBlock{ width:960px; height:292px; margin-bottom:20px; }
section.ContentMaster .TopBlock .Block{ width:156px; margin:0 20px 12px 0; padding-bottom:10px; border-bottom:solid 1px #959595; }

section.ContentMaster .LowerBlock{ width:960px; }
section.ContentMaster .LowerBlock .LeftBlock{ width:300px; }
section.ContentMaster .LowerBlock .LeftBlock .Block{ width:277px; margin-bottom:20px; padding-bottom:10px; border-bottom:solid 1px #959595; }
section.ContentMaster .LowerBlock .LeftBlock .Block img{ width:277px; height:97px; margin-bottom:12px; }

section.ContentMaster .LowerBlock .MiddleBlock .Block{ width:156px; padding-bottom:10px; margin-bottom:12px; border-bottom:solid 1px #959595; }

section.ContentMaster .LowerBlock .LeftAdBlocks{ width:180px; }
section.ContentMaster .LowerBlock .AdBlocks{ width:300px; }
section.ContentMaster .LowerBlock .AdBlocks .Block{ width:140px; border-bottom:solid 1px #959595; float:left; }
section.ContentMaster .LowerBlock .AdBlocks .Block:first-child{ margin-right:20px; }
section.ContentMaster .LowerBlock .AdBlocks .Block img{ width:140px; height:97px; margin-bottom:12px; }

section.ContentMaster .slider{ width:459px; height:291px; float:left; margin-right:22px; overflow:hidden; }
section.ContentMaster .nivo-controlNav{ position:absolute; z-index:99; margin:250px 0 0 370px; }
section.ContentMaster .nivo-controlNav .nivo-control{ display:inline-block; text-indent:25px; overflow:hidden; background:url(/images/site/SliderBubbleWhite.png) 0px 0px no-repeat; width:12px; height:11px; margin-left:3px; }
section.ContentMaster .nivo-controlNav .nivo-control.active{ display:inline-block; text-indent:25px; overflow:hidden; background:url(/images/site/SliderBubbleBlue.png) 0px 0px no-repeat; width:12px; height:11px; }


section.ContentMaster .ga-block-left{ width: 180px; height:742px; }
section.ContentMaster .ga-block-left .size-120x90{ margin:20px 0 0 22px; }
section.ContentMaster .ga-block-right{ width: 300px; height:366px; margin:30px 0; }
section.ContentMaster .ga-block-right .size-120x90{ margin:20px 0 0 22px; float:left; }
/*
------------------------------------------
	Category
------------------------------------------
*/
section.ContentMaster.Sections{}
section.ContentMaster.Sections h1{ font-size:25px; }
section.ContentMaster.Sections h2{ font-size:14px; font-weight:normal; margin:20px 0; }
section.ContentMaster.Sections hr{ width:730px; margin:0; border:none; border-top:solid 1px #959595; }

section.ContentMaster.Sections .size-300x250{ margin:20px 0; }
section.ContentMaster.Sections .ga-block-right{ float:right; width: 200px; height:366px;}
section.ContentMaster.Sections .ga-block-right .size-120x90{ margin:20px 0 0 22px; float:left; }
section.ContentMaster.Sections .ga-block-left{ float:left; width: 728px; height: 325px; margin:20px 0 30px 0; }
section.ContentMaster.Sections .ga-block-left .size-728x15{ margin-top:20px; }

section.ContentMaster.Sections .category{ float:left; width:360px; margin:0 0 0 14px; }
section.ContentMaster.Sections .category.first-child{ margin-left:0; }
section.ContentMaster.Sections .category li{ border-bottom:solid 1px #959595; width:100%; height:90px; margin-bottom:20px; }
section.ContentMaster.Sections .category li img{ float:left; width:67px; height:67px; margin-right:12px; border:solid 1px #396c8e; }
section.ContentMaster.Sections .category li .title{ display:block; text-decoration:underline; font-size:18px; margin-bottom:10px; }
section.ContentMaster.Sections .category li .text{ color:#959595; font-size:14px; }
section.ContentMaster.Sections .category li a:hover{ text-decoration:none; }

section.ContentMaster.Sections .other-themes{ width:730px; margin:0 0 20px 0; }
section.ContentMaster.Sections .other-themes .mestre{ width:730px; margin:0 0 0 0; display:block; color:#959595; text-transform:uppercase; font-size:10px; }
section.ContentMaster.Sections .other-themes .title{ display:block; font-size:18px; }
section.ContentMaster.Sections .other-themes ul{ margin:15px 0 0 0; }
section.ContentMaster.Sections .other-themes ul li .title{ display:inline; font-size:14px; line-height:25px; }
section.ContentMaster.Sections .other-themes ul li .text{ color:#959595; font-size:12px; }
section.ContentMaster.Sections .other-themes ul li a:hover{ text-decoration:none; }
/*
------------------------------------------
	Content
------------------------------------------
*/
section.ContentMaster.Content{}
section.ContentMaster.Content h1{ font-size:25px; }
section.ContentMaster.Content h2{ font-size:14px; font-weight:normal; margin:20px 0; }
section.ContentMaster.Content hr{ width:730px; margin:0; border:none; border-top:solid 1px #959595; }

section.ContentMaster.Content .size-300x250{ float:left; margin:20px 20px 20px 0; }
section.ContentMaster.Content .ga-block-right{ float:right; width: 200px; height:366px; margin:40px 0 30px 25px; }
section.ContentMaster.Content .ga-block-right .size-120x90{ margin:20px 0 0 22px; float:left; }
section.ContentMaster.Content .ga-block-left{ float:left; width: 728px; height: 325px; margin:20px 0 30px 0; }
section.ContentMaster.Content .ga-block-left .size-728x15{ margin-top:20px; }

section.ContentMaster.Content .body{ font-size:14px; text-align:justify; width:730px; color:#606060; margin-bottom:20px; }
section.ContentMaster.Content .body a{ color:#06C; text-decoration:underline; }
section.ContentMaster.Content .body a:hover{ text-decoration:none; color:#06C; }
section.ContentMaster.Content .body .spacer{ float:left; clear:left; border:solid 0px #000; width:1px; height:80px; }

section.ContentMaster.Content .box-destaque{ float:left; clear:left; width:156px; text-align:left; font-size:10px; font-style:italic; margin:10px 20px 20px 0; }
section.ContentMaster.Content .box-destaque img{ width:156px; margin-bottom:2px; border:solid 1px #205f86; }

section.ContentMaster.Content .div-share{ border-bottom:solid 1px #959595; width:730px; padding:10px 0; }
section.ContentMaster.Content .div-share a{ margin-right:20px; }

section.ContentMaster.Content form{ }
section.ContentMaster.Content form .mensagem{ display:none; margin:20px auto 10px 320px; }
section.ContentMaster.Content form table{ margin:0 auto; }
section.ContentMaster.Content form table td{ padding:10px 0; }
section.ContentMaster.Content form input{ width:400px; height:25px; border:solid 2px #CCC; }
section.ContentMaster.Content form textarea{ width:400px; height:120px; border:solid 2px #CCC; }
section.ContentMaster.Content form button{ border:none; color:#FFF; background:#060; padding:10px 20px; cursor:pointer; margin-left:327px; }

section.ContentMaster.Content section.other-themes{ clear:left; margin:0 0 26px 14px; width:780px; color:#959595; font-size:14px; }
section.ContentMaster.Content section.other-themes .mestre{ display:block; color:#959595; text-transform:uppercase; font-size:10px; }
section.ContentMaster.Content section.other-themes .title{ display:block; font-size:18px; }
section.ContentMaster.Content section.other-themes ul{ padding-left:18px; margin:10px 0 0 0; }
section.ContentMaster.Content section.other-themes ul li .title{ display:inline; font-size:14px; line-height:25px; }
section.ContentMaster.Content section.other-themes ul li a:hover{ text-decoration:underline; }

section.ContentMaster.Content{}
section.ContentMaster.Content{}
section.ContentMaster.Content{}
section.ContentMaster.Content{}

/*
------------------------------------------
	SEE MORE
------------------------------------------
*/
section.SeeMore{ background: #205f85; width:100%; height: 427px; }
section.SeeMore hr{ border:none; border-top:solid 1px #34779f; border-bottom:solid 1px #174d6e; }
section.SeeMore h4{ font-size:18px; color:#FFF; font-weight:normal; margin-bottom:16px; }
section.SeeMore h5{ color:#FFF; font-weight:normal; text-transform:uppercase; margin:16px 0; }

section.SeeMore .AllSections{ width:100%; padding-top:20px; }
section.SeeMore .bx-wrapper{ width:100%; padding-left:0px; }
section.SeeMore .bx-viewport{ width:100% !important; }
section.SeeMore .bx-prev{ display:none; float:left; width:26px; height:26px; background:url(/images/site/PaginationLeft.gif) 0px 0px no-repeat; overflow:hidden; text-indent:-50px; margin:-180px 0 0 -40px; }
section.SeeMore .bx-next{ display:none; float:left; width:26px; height:26px; background:url(/images/site/PaginationRight.gif) 0px 0px no-repeat; overflow:hidden; text-indent:-50px; margin:-180px 0 0 544px; }
section.SeeMore .bx-default-pager{ text-align:center; }
section.SeeMore .bx-pager-item{ display:none; width:8px; height:8px; display:inline-block; margin-right:10px; }
section.SeeMore .bx-pager-item a{ display:none; width:8px; height:8px; background:url(/images/site/PaginationBubbleBlack.gif) 0px 0px no-repeat; overflow:hidden; text-indent:-25px; }
section.SeeMore .bx-pager-item a.active{ display:none; background:url(/images/site/PaginationBubbleWhite.gif) 0px 0px no-repeat; }

section.SeeMore .slider{ width:200px; height:267px; }
section.SeeMore .slider ul{ width:200px; height:267px; }
section.SeeMore .slider ul li{ width:151px; line-height:24px; float:left; color:#FFF; margin-right:10px; }
section.SeeMore .slider ul li a{ display:block; color:#FFF; }

section.SeeMore .AllSections.home{ width:640px; padding-top:20px; }
section.SeeMore .AllSections.home .bx-wrapper{ width:584px; padding-left:40px; }
section.SeeMore .AllSections.home .bx-viewport{ width:544px !important; }
section.SeeMore .AllSections.home .bx-prev{ display:block; float:left; width:26px; height:26px; background:url(/images/site/PaginationLeft.gif) 0px 0px no-repeat; overflow:hidden; text-indent:-50px; margin:-180px 0 0 -40px; }
section.SeeMore .AllSections.home .bx-next{ display:block; float:left; width:26px; height:26px; background:url(/images/site/PaginationRight.gif) 0px 0px no-repeat; overflow:hidden; text-indent:-50px; margin:-180px 0 0 544px; }
section.SeeMore .AllSections.home .bx-default-pager{ text-align:center; }
section.SeeMore .AllSections.home .bx-pager-item{ width:8px; height:8px; display:inline-block; margin-right:10px; }
section.SeeMore .AllSections.home .bx-pager-item a{ display:inline-block; width:8px; height:8px; background:url(/images/site/PaginationBubbleBlack.gif) 0px 0px no-repeat; overflow:hidden; text-indent:-25px; }
section.SeeMore .AllSections.home .bx-pager-item a.active{ background:url(/images/site/PaginationBubbleWhite.gif) 0px 0px no-repeat; }

section.SeeMore .AllSections.home .slider{ width:584px; height:267px; }
section.SeeMore .AllSections.home .slider ul{ width:584px; height:267px; }
section.SeeMore .AllSections.home .slider ul li{ width:171px; line-height:24px; float:left; color:#FFF; margin-right:10px; }
section.SeeMore .AllSections.home .slider ul li a{ display:block; color:#FFF; }

section.SeeMore .OtherThemes{ width:303px; padding-left:20px; padding-top:37px; }
section.SeeMore .OtherThemes ul{}
section.SeeMore .OtherThemes ul li{ margin-bottom:5px; }
section.SeeMore .OtherThemes ul li img{ float:left; width:67px; height:67px; margin-right: 5px; }
section.SeeMore .OtherThemes .MainTitle{ display:block; font-size:16px; color:#FFF; margin-bottom:8px; }
section.SeeMore .OtherThemes .MainTitle a{ color:#FFF; }
section.SeeMore .OtherThemes .Content{ display:block; font-size:12px; text-align:justify; margin-bottom:8px; }
section.SeeMore .OtherThemes .Content a{ color:#9ad9ff; }
section.SeeMore .OtherThemes .galeria{ margin-bottom:15px; }
section.SeeMore .OtherThemes .galeria li{ list-style:none; }
section.SeeMore .OtherThemes .galeria img{ float:left; width:67px; height:67px; margin-right: 5px; }
/*
------------------------------------------
	FOOTER
------------------------------------------
*/
section.BaseBoardMaster{ background:#e1e1e1; height:264px; }
section.BaseBoardMaster .menu{ text-align:center; height:30px; padding-top:18px; background:#FFF; }
section.BaseBoardMaster .menu li{ color:#205f85; display:inline-block; text-align:center; border-left:solid 1px #205f85; }
section.BaseBoardMaster .menu li:last-child{ border-right:solid 1px #205f85; }
section.BaseBoardMaster .menu li a{ color:#205f85; padding:0 20px; }

section.BaseBoardMaster .warning{ width:480px; height:44px; padding:6px 0 0 18px; margin-top:20px; text-align:center; color:#FFF; line-height:16px; background:#939393 url(/images/site/AlertIcon.gif) 8px 12px no-repeat; border-radius:4px 0; }
section.BaseBoardMaster .copy{ margin: 40px 0 0 0; color:#205f85; padding:20px 0 0 0; }
section.BaseBoardMaster .copy img{ float:left; margin: -20px 50px 0 0; }

section.BaseBoardMaster .google_plus_buttom{ float: right; color:#616161; margin: 0 0 0 0; width: 130px; }
section.BaseBoardMaster .google_plus_buttom span{ float: left; margin: 3px 0 0 0; }
section.BaseBoardMaster .google_plus_buttom #___plusone_0{ float: right !important; }

section.BaseBoardMaster .fb-like-box{ float:right; clear:right; margin-top:-10px; }

.content-left {
    width: 77%;
    float: left;
}

.content-right.sessao,
.content-right {
    float: right;
    width: 21%;
    min-height: 1414px;
}

.content-right.sessao {
    min-height: 1800px;
}