.christmasVisual_container {
   width: 100%;
   height: 100%;
   max-width: 1020px;
   padding-top: 10px;
   margin: auto;
   position: relative;
}

.christmasVisual_center {
   width: 960px;
   position: absolute;
   top: 44%;
   left: 50%;
   -webkit-transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
}

.christmasVisual_bg {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/christmasBg.jpg);
}

.general_container {
   width: 300px;
   height: 300px;
   position: relative;
   margin: auto;
}

.flipItem_container {
   width: 150px;
   height: 145px;
   position: relative;
   margin: 5px;
   float: left;
   display: block;
}

.flipItem_cover {
   width: 100%;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;

   position: absolute;
   bottom: 0px;
   right: 0px;
   z-index: 3;

   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;

   transform-origin: left center;
}

.deadpool_frontCover {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/deadpool_frontCover.jpg);
}

.zootropolis_frontCover {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/zootropolis_frontCover.jpg);
}

.junglkeBook_frontCover {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/junglkeBook_frontCover.jpg);
}

.cover1 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover1.jpg);
}

.cover2 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover2.jpg);  
}

.cover5 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover5.jpg);  
}

.cover6 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover6.jpg);
}

.cover8 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover8.jpg);  
}

.cover13 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover13.jpg);  
}

.cover18 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover18.jpg);  
}

.cover22 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover22.jpg);  
}

.cover23 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover23.jpg);  
}

.cover24 {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/cover24.jpg);  
}

.flipItem_backside {
   width: 100%;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;

   position: absolute;
   bottom: 0px;
   right: 0px;
   z-index: 2;

   transform-origin: left center;
}

.deadpool_cover {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/deadpool_cover.jpg);
}

.zootropolis_cover {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/zootropolis_cover.jpg);  
}

.junglkeBook_cover {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/junglkeBook_cover.jpg);  
}

.flipItem_internal {
   width: 100%;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;

   position: absolute;
   bottom: 0px;
   right: 0px;
   z-index: 1;
}

.flipItem_elementContainer {
   width: 100%;
    height: 110%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 1;
}

.zootropolis_elementContainer {
   left: -15px;
}

.deadpool_base {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/deadpool_base.jpg);
}

.zootropolis_base {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/zootropolis_base.jpg);  
}

.junglkeBook_base {
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/junglkeBook_base.jpg);  
}

.flipItem_element {
   position: absolute;
   z-index: 2;
   bottom: 0px;
   right: 0px;
}

/* #parco */
.suicideSquad_bg {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 3;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/suicideSquad_bg.jpg);
   background-position: 100% 100%;
}

.suicideSquad_item {
   width: 100%;
   height: 300px;
   position: absolute;
   
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);

   z-index: 4;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url(/etc/designs/skycommon/html/content/skyit/it/html/christmasVisual/suicideSquad_cast.png);
   background-position: 50% 100%;
}
/* /parco */

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {

   .christmasVisual_center {
      width: 641px;
   }

   .flipItem_container[data-box="christmas6"] {
      display: none;
   }

   .flipItem_container[data-box="christmas7"] {
      display: none;
   }

   .flipItem_container[data-box="christmas11"] {
      display: none;
   }

   .flipItem_container[data-box="christmas12"] {
      display: none;
   }

}

@media only screen and (max-width: 667px), only screen and (max-device-width: 667px) {

   .suicideSquad_item {
      height: 150px;
   }

   .flipItem_container {
      width: 100px;
      height: 95px;
   }

   .christmasVisual_center {
      width: 221px;
      top: 38%;
   }

   .deadpool_element {
      width: 95px;
   }

   .flipItem_container[data-box="christmas3"] {
      display: none;
   }

   .flipItem_container[data-box="christmas4"] {
      display: none;
   }

   .flipItem_container[data-box="christmas9"] {
      display: none;
   }

   .flipItem_container[data-box="christmas10"] {
      display: none;
   }

}