
#bannerprivacy {  
    height: auto;
    min-height: 54px;    
    text-align: left;
    font-family: SkyTextRegular,Helvetica,sans-serif;
    line-height: 1;  
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;   
    z-index: 9999;
}
#bannerprivacy .subprivacy_background { 
    min-height: 54px;
    height:100%;
    background: #000;
    opacity:0.8;
    filter: alpha(opacity=80);
    line-height: 1.2em;
}
#bannerprivacy #subprivacy {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    min-height: 54px;
    margin: 0 auto;
    padding-top: 0;
    max-width: 944px;
    overflow:hidden;

}
#subprivacy {   
    clear: both;
    font-size: 10px; 
}
#bannerprivacy #subprivacy p {
    color: #fff;
     font-size: 12px;
    letter-spacing: 0.17pt;
    text-align: left;
    /*max-width: 889px;*/
    float: left;
	margin: 14px 0px 10px 10px !important;
    width:82%;

}
#bannerprivacy #subprivacy a{
    color: #fff !important;
    text-decoration: underline!important;    
}
#bannerprivacy #subprivacy .info_chiudi {
    color: #fff;
    font-size: 16px;
    margin-top: 18px;
    padding-right: 0;
    float: right;
    /*width: 55px;*/
    width: 10%;
}
#bannerprivacy #subprivacy .info_chiudi a{
    text-decoration: none!important;
    font-size: 16pt;
}


 *{margin:0px;}
 
 
  /*header and footer*/ 
 #head_infcookie{
	width: 100%;
	height: 89px;
	background-color: #393939;
	position:relative;
	padding-left:5.8%;
	font-size: 2.8em;
	color:#fff;
	line-height: 2.4em;
	margin-bottom: 51px;
 }
 #end_infcookie{
	width: 100%;
	height: 21px;
	background-color: #393939;
	position:relative;
	
 }
   /*row article*/ 
 .row_infcookie {
	 width: 100%;
	 max-width: 964px;
	 margin: 0 auto;
	 background-color:#fff;
	 overflow:hidden;
	 font-family: SkyTextRegular,Helvetica,sans-serif;
 }

 .main_infcookie{
	padding: 0 5.8% 23px;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: justify;
	float:left;

    overflow: hidden;
}

 #art_infcookie{
	width:100%;
}

#art_infcookie p {
  
    font-size: 1.06em;
    line-height: 1.5em;
   
}
#art_infcookie h2 {
    display: block;
    font-family: "SkyTextMedium",Helvetica,sans-serif;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
}
#art_infcookie h4 {
    font-size: 1.06em;
    line-height: 1.4em;
    font-family:  SkyTextMedium,Helvetica,sans-serif;
}
#art_infcookie a {
    text-decoration: none;
	padding-bottom: 4px;
	 border-bottom: solid 1px #a3a3a3;
      display: inline;
      padding-bottom: 1px;
}


 .title_infcookie {
    
    display: block;
    font-family: "SkyTextMedium",Helvetica,sans-serif;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
}
 .logo_infcookie {   
    display: block;   
    text-align: center;
    width: 100%;
	padding: 39px 0 43px;
}


 


 #lbl_infcookie{
    /* padding-left: 10px; */
    font-size: 1.06em;
    float: right;
    width: 94%;
  
}
 .sPar{
	height:30px;
}
 .sPar50{
	height:50px;
}

input#cookieprfl {
    float: left;
}

@media only screen and (max-width : 800px) {
	.main_infcookie{
		float:none;
	}
	#art_infcookie{
		width:100%;
	}
}

@media only screen and (max-width : 480px) {
	#head_infcookie{
	font-size: 1.8em;
	line-height: 3.4em;	
   }
 
   .art_infcookie { 
	  font-size: 1.2em;
   }
	  
}
