#mainSlideAllStatus {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.mainSlide_container {
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.mainSlide {
	width: 100%;
	position: relative;
}

.mainSlide_item {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.mainSlide_height {
	height: 680px;
}

.mainSlide_image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-transition: all 5s ease-in-out 0s;
    -moz-transition: all 5s ease-in-out 0s;
    -ms-transition: all 5s ease-in-out 0s;
    -o-transition: all 5s ease-in-out 0s;
    transition: all 5s ease-in-out 0s;

    -webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}

.mainSlide_gomorra {
	background-image: url(/content/dam/html/skyit/home/main_gomorra.jpg);
}

.mainSlide_image:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

html.ie9 .mainSlide_image {
    -webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}

html.ie9 .mainSlide_image:hover {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}

.mainSlide_video {
	background-size: inherit;
}

.mainSlideVideoItem {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0px;
	left: 0px;
}

.mainSlideVideoItem video {
	width: 100% !important;
	height: 100% !important;

	position: absolute;
	left: 0px;
	bottom: 0px;
	top: 0px;
	right: 0px;
	background-size: 100% 100%;
	background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
}

.mainSlide_video:hover {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}

.mainSlide_arrow {
	width: 70px;
	height: 156px;
	position: absolute;
	top: 50%;
	margin-top: -78px;
	z-index: 5;
	cursor: pointer;
	background-position: center center;
	background-repeat: no-repeat;
}

.mainSlide_leftArrow {
	left: -35px;
	opacity: 0.6;
	background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/arrow_left.png);
}

.mainSlide_leftArrow.open {
	left: 0px;
	opacity: 1;
}

.mainSlide_leftArrow:hover {
	left: 0px;
	opacity: 1;
}

.mainSlide_rightArrow {
	right: -35px;
	opacity: 0.6;
	background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/arrow_right.png);
}

.mainSlide_rightArrow.open {
	right: 0px;
	opacity: 1;
}

.mainSlide_rightArrow:hover {
	right: 0px;
	opacity: 1;
}

.mainSlide_titleBar {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;

	-webkit-transform: translateY(100%);
  	-ms-transform: translateY(100%);
  	transform: translateY(100%);
}

.mainSlide_titleBar.open {
	-webkit-transform: translateY(0);
  	-ms-transform: translateY(0);
  	transform: translateY(0);
}

.mainSlide_titleBar-link {
	color: #ffffff;
	font-size: 26px;
	text-decoration: none;
	outline: none;
}

.mainSlide_titleBar-link:hover {
	color: #bebebe;
}

.mobile .mainSlide_titleBar-link:hover {
	color: #ffffff;
}

.mobile .mainSlide_titleBar-link {
	background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/smallArrowMobile.png);
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}

.mainSlide_channelInfo {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 0px;
	top: 20px;
	color: #ffffff;
	font-size: 24px;
	display: block;
	padding-left: 20px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;

	-webkit-transform: translateX(-100%);
  	-ms-transform: translateX(-100%);
  	transform: translateX(-100%);
}

.mainSlide_channelInfo.open {
	-webkit-transform: translateX(0);
  	-ms-transform: translateX(0);
  	transform: translateX(0);
}

.vjs-big-play-button:before {
	display: none;
}

/*.video-js .vjs-big-play-button {
	background-color: transparent;
	width: 64px;
	height: 64px;
	margin-top: -32px;
	margin-left: -32px;
	top: 50%;
	left: 50%;
	border: 0px;
	border-radius: 0px;
	background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/play.png);
	display: none !important;
}*/

/*#parco-mainSlide #video3_html5_api {
	object-fit: scale-down;
}*/

.mainSlide_posterImage {
	display: none !important;
}

.mainSlide_video {
	display: block !important;
}

.copyright_mVievew {
	display: none;
}

#skyFastweb_bg {
	background-color: #cbd0d3;
}

@media only screen and (max-width: 1440px), only screen and (max-device-width: 1440px) {

	.mainSlide_height {
		height: 550px;
	}

	.mainSlide_titleBar {
		height: 70px;
		line-height: 70px;
	}

	.mainSlide_titleBar-link {
		font-size: 22px;
	}

	.mainSlide_channelInfo {
		font-size: 18px;
	}

}

@media only screen and (width:1366px) {

	.mainSlide_height {
		height: 435px;
	}

}

@media only screen and (max-width: 1280px), only screen and (max-device-width: 1280px) {

	.mainSlide_height {
		height: 480px;
	}

	.mainSlide_titleBar {
		height: 60px;
		line-height: 60px;
		font-size: 20px;
	}

	.mainSlide_titleBar-link {
		font-size: 20px;
	}

	.mainSlide_channelInfo {
		font-size: 16px;
	}

}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {

	.copyright_mVievew {
		position: absolute;
		font-size: 9px;
		right: -125px;
		top: 140px;
		color: #ffffff;
		display: block;
		z-index: 4;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	#video2Poster {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/posterProspectLandscape.jpg);
		background-color: #cbd0d3;
	}

	/*#video3Poster {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/posterParcoLandscape.jpg);
	}*/
	
	#parlx-background {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/parlx-background.jpg);
		background-size:cover;
		position:absolute;
		right:0;
		bottom:0;	
		width:1124px;
		height:400px;
	}
	
	#parlx-midground {
		position:absolute;
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/parlx-midground.png);
		background-size:cover;
		right:0;
		bottom:0;
		width:586px;
		height:120px;	
	}
	
	#parlx-foreground {
		position:absolute;
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/parlx-foreground.png);
		background-size:cover;
		right:0;
		bottom:0;
		width:309px;
		height:383px;	
	}
	
	#bgk-calcio {
		position: absolute;
		background: url(/etc/designs/skycommon/html/content/skyit/it/home/bgk-calcio.jpg) top left;
		background-size: cover;
		left: 0;
		bottom: 0;
		width: 1124px;
		height: 400px;
	}
	
	#text1-calcio {
		background: url(/etc/designs/skycommon/html/content/skyit/it/home/text1-calcio.png) top left no-repeat;
		position:absolute;
		left: 12%;
    	bottom: 40%;
		width:300px;
		height:80px;
	}
	
	#text2-calcio {
		background: url(/etc/designs/skycommon/html/content/skyit/it/home/text2-calcio.png) top left no-repeat;
		position:absolute;
		right: 12%;
    	bottom: 34%;
		width:266px;
		height:119px;
		visibility:hidden;
	}

	#mParallax_bgProspect {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/bgProspect_parallax.jpg);
		background-position: 20% 100%;
		height: 400px;
	}

	#mParallax_itemProspect {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/itemProspect_parallax.png);	
		height: 100%;
		background-position: 140% 100%;
	}

	#mParallax_bgSkyFastweb {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/sf_bg_00.jpg);	
		height: 100%;
		background-position: 40% 50%;
	}

	.mainSlide_mParallax_bgProspect {
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 3;
	}

	.mainSlide_mParallax_itemProspect {
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		left: 0px;
		bottom: 0px;
		z-index: 4;
		width: 100%;
	}

	.mainSlide_posterImage {
		display: block !important;
	}

	.mainSlide_video {
		display: none !important;
	}

	.mainSlide_height {
		height: 380px;
	}

	.mainSlide_titleBar {
		height: 50px;
		line-height: 50px;
		font-size: 18px;

		-webkit-transform: translateY(0);
	  	-ms-transform: translateY(0);
	  	transform: translateY(0);
	}

	.mainSlide_titleBar-link {
		font-size: 18px;
	}

	.mainSlide_channelInfo {
		font-size: 15px;

		-webkit-transform: translateX(0);
	  	-ms-transform: translateX(0);
	  	transform: translateX(0);
	}

	.mainSlide_arrow {
		width: 45px;
		height: 100px;
		margin-top: -50px;
	}

	.mainSlide_rightArrow {
		right: 0px;
		opacity: 1;
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/arrow_right_mobile.png);
	}

	.mainSlide_leftArrow {
		left: 0px;
		opacity: 1;
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/arrow_left_mobile.png);
	}

	.mainSlide_image:hover {
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-ms-transform: scale(1.0);
		-o-transform: scale(1.0);
		transform: scale(1.0);
	}

	.supereroeItem {
		position: absolute;
		bottom: 6px;
		right: 0px;
		z-index: 3;
		opacity: 1;
		visibility: visible;
	}

	.supereroe_00 {
		height: 90%;
		right: -100%;
	}

	.supereroe_01 {
		height: 65%;
		right: -100%;
	}

	.supereroe_02 {
		height: 88%;
		right: -100%;
	}

	.supereroe_03 {
		height: 65%;
		right: -100%;
	}
	
	.xf_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/xf_home_tablet_1024.jpg) !important;	
		background-position: 80% 50%;
	}
	
	.st_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/serietv_tablet_1024.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.yp_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/yp_tablet_1024.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.sgp_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/tablet_1024_skygoplus.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.nba_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/NBA_tablet_1024.jpg) !important;	
		background-position: 50% 50%;
	}
	
	#serieTv_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/visore_landscape.jpg);
	}
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

	.mainSlide_gomorra {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/gomorra_tablet.jpg);
	}

	#video2Poster {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/posterProspectPortrait.jpg);
	}

	.hk_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/HK_2016_ipad.jpg) !important;	
		background-position: 80% 50%;
	}
	
	.xf_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/xf_home_tablet_768.jpg) !important;	
		background-position: 80% 50%;
	}
	
	.st_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/serietv_tablet_768.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.yp_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/yp_tablet_768.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.sgp_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/tablet_768_skygoplus.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.nba_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/NBA_tablet_768.jpg) !important;	
		background-position: 50% 50%;
	}

	/*#video3Poster {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/posterParcoPortrait.jpg);
	}*/
	
	#parlx-background {
		width:768px;
		height:380px;
	}
	
	#parlx-foreground {
		width:242px;
		height:300px;	
	}

	/*.supereroe_00 {
		right: 65%;
	}

	.supereroe_01 {
		right: 52%;
	}

	.supereroe_02 {
		right: 31%;
	}

	.supereroe_03 {
		right: 23%;
	}*/
	
	#serieTv_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/visore_portrait.jpg);
	}

}

@media only screen and (max-width: 667px), only screen and (max-device-width: 667px) {

	.mobileAnim_channelMove {
		-webkit-transform: translateX(-100%);
  		-ms-transform: translateX(-100%);
  		transform: translateX(-100%);
	}

	.hk_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/HK_2016_mobile.jpg) !important;	
		background-position: 60% 50%;
	}

	.fx_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/HK_2016_mobile.jpg) !important;	
		background-position: 60% 50%;
	}

	#mParallax_bgSkyFastweb {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/sf_bg_01.jpg);	
		height: 100%;
		background-position: 50% 50%;
		opacity: 1;
		visibility: visible;
	}

	.supereroeItem {
		opacity: 0;
		visibility: hidden;
	}

	.copyright_mVievew {
		font-size: 7px;
		right: -95px;
		top: 115px;
	}

	.supereroe_00 {
		height: 85%;
	}

	.supereroe_01 {
		height: 60%;
	}

	.supereroe_02 {
		height: 80%;
	}

	.supereroe_03 {
		height: 60%;
	}

	#video2Poster {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/posterProspectMobile.jpg);
	}

	/*#video3Poster {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/posterParcoMobile.jpg);
	}*/

	#mParallax_bgProspect {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/bgProspect_parallax_small.jpg);
		background-position: 40% 100%;
		height: 320px;	
	}

	#mParallax_itemProspect {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/itemProspect_parallax_small.png);
		height: 260px;	
		background-position: 100% 100%;
	}

	#parlx-midground {
	    width: 470px;
    	height: 96px;
	}
	#parlx-foreground {
		width:161px;
		height:200px;
		right:-50px;	
	}

	.mainSlide_height {
		height: 320px;
	}

	.mainSlide_titleBar {
		height: auto;
    	line-height: inherit;
    	padding-bottom: 10px;
	}

	.mainSlide_titleBar-link {
		font-size: 14px;
		display: inline-block;
		line-height: 15px;
		padding-left: 20px;
		margin-top: 14px;
	}

	.mainSlide_channelInfo {
		font-size: 14px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.mobile .mainSlide_titleBar-link {
		background-position: 98% center;
	}

	.mobile .mainSlide_titleBar-link {
		padding-right: 25px;
	}

	.mainSlide_arrow {
		width: 15px;
		height: 26px;
		margin-top: -13px;
	}

	.mainSlide_rightArrow {
		right: 20px;
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/singleArrow_right.png);
	}

	.mainSlide_leftArrow {
		left: 20px;
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/singleArrow_left.png);
	}

	.mainSlide_rightArrow.open {
		right: 20px;
	}

	.mainSlide_rightArrow:hover {
		right: 20px;
	}

	.mainSlide_leftArrow.open {
		left: 20px;
	}

	.mainSlide_leftArrow:hover {
		left: 20px;
	}
	
	#bgk-calcio {
		background: url(/etc/designs/skycommon/html/content/skyit/it/home/bgk-calcio-mob.jpg) top left;
	}
	
	#text2-calcio {
		left: 3%;
		bottom: 53%;
	}
	
	.xf_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/xf_home_smartphone_668.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.st_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/serietv_mobile.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.yp_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/yp_smartphone_668.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.sgp_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/smartphone_668_skygoplus.jpg) !important;	
		background-position: 50% 50%;
	}
	
	.nba_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/NBA_smartphone_668.jpg) !important;	
		background-position: 50% 50%;
	}
	
	#serieTv_bg {
		background-image: url(/etc/designs/skycommon/html/content/skyit/it/home/visore_mobile.jpg);
	}

}

@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
	#text2-calcio {
		width: 225px;
		background-size: contain;
	}
	#bgk-calcio {
		background: url(/etc/designs/skycommon/html/content/skyit/it/home/bgk-calcio-less.jpg) top left;
	}
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
	#bgk-calcio {
		background: url(/etc/designs/skycommon/html/content/skyit/it/home/bgk-calcio-mini.jpg) top left;
	}
	#text1-calcio {
	    left: 3%;
	}
}










