@font-face { 
    font-family: "SkyTextRegular";
    font-style: normal; 
    font-weight: normal;
    src: url("/etc/designs/skycommon/fonts/sky_reg-webfont.eot");
    src: local("sky_reg-webfont"), url("/etc/designs/skycommon/fonts/sky_reg-webfont.woff") format("woff"), 
	    url("/etc/designs/skycommon/fonts/sky_reg-webfont.ttf") format("truetype"), 
	    url("/etc/designs/skycommon/fonts/sky_reg-webfont.svg##SkyTextRegular") format("svg"); }
@font-face { 
    font-family: "SkyTextBold";
    font-style: normal; 
    font-weight: normal; 
    src: url("/etc/designs/skycommon/fonts/sky_bold-webfont.eot");
    src: local("sky_bold-webfont"), url("/etc/designs/skycommon/fonts/sky_bold-webfont.woff") format("woff"), 
	    url("/etc/designs/skycommon/fonts/sky_bold-webfont.ttf") format("truetype"), 
	    url("/etc/designs/skycommon/fonts/sky_bold-webfont.svg#SkyTextBold") format("svg"); }
@font-face { 
    font-family: "SkyTextItalic"; 
    font-style: normal; 
    font-weight: normal;
    src: url("/etc/designs/skycommon/fonts/sky_italic-webfont.eot");
    src: local("sky_italic-webfont"), url("/etc/designs/skycommon/fonts/sky_italic-webfont.woff") format("woff"), 
	    url("/etc/designs/skycommon/fonts/sky_italic-webfont.ttf") format("truetype"), 
	    url("/etc/designs/skycommon/fonts/sky_italic-webfont.svg#SkyTextItalic") format("svg"); }
@font-face { 
    font-family: "SkyTextMedium"; 
    font-style: normal; font-weight: normal; 
    src: url("/etc/designs/skycommon/fonts/sky_med-webfont.eot");
    src: local("sky_med-webfont"), 
        url("/etc/designs/skycommon/fonts/sky_med-webfont.woff") format("woff"), 
        url("/etc/designs/skycommon/fonts/sky_med-webfont.ttf") format("truetype"),
        url("/etc/designs/skycommon/fonts/sky_med-webfont.svg#SkyTextMedium") format("svg");