/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.4.1
*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/*
	px to % conversions
	-------------------
	px	|	%
	-------------------
	9	|	70
	10	|	77
	11	|	85
	12	|	93
	13	|	100
	14	|	108
	15	|	116
	16	|	123.1
	17	|	131
	18	|	138.5
	19	|	146.5
	20	|	153.9
	21	|	161.6
	22	|	167
	23	|	174
	24	|	182
	25	|	189
	26	|	197
	27	|	204
	28	|	212
	29	|	219
	30	|	227
	31	|	234
	32	|	242
*/

/* ==================================================================
Global styles
================================================================== */
body {
	font-family:Verdana,Helvetica,Arial,Sans-Serif;
	color:#333333;
	margin:0;
}
a {
	color:#0860a8;
	text-decoration:none;
}
a:hover {
	color:#0860a8;
	text-decoration:underline;
}
h1 {
	font:normal 153.9%/100% Verdana,Helvetica,Arial,Sans-Serif;
	color:#333333;
}
h2 {
	font:normal 138.5%/138.5% Verdana,Helvetica,Arial,Sans-Serif;
	color:#333333;
}
h2.product {
	font:normal 138.5%/138.5% Verdana,Helvetica,Arial,Sans-Serif;
	color:#0860a8;
}
h3 {
	font:normal 108%/108% Verdana,Helvetica,Arial,Sans-Serif;
}
h3.product {
	font:normal 108%/100% Verdana,Helvetica,Arial,Sans-Serif;
	color:#3e82ba;line-height:15pt;padding-bottom:5px;
}
h4 {
	font:normal 100%/100% Verdana,Helvetica,Arial,Sans-Serif;
}
h5 {
	font:normal 93%/100% Verdana,Helvetica,Arial,Sans-Serif;
}
p {
	font:normal 85%/138.5% Verdana,Helvetica,Arial,Sans-Serif;
	color:#707070;
	margin:0 0 1em 0;
}
strong {
	font-weight:bold;
}
h3.hdr {
	font:normal 93%/116% Verdana,Helvetica,Arial,Sans-Serif;
	color:#666666;
	margin:.4em 0 1em 0;
}
em {
	font-style:italic;
}
a.close {
	width:45px;
	height:10px;
	font:normal 70%/123.1% Verdana,Helvetica,Arial,Sans-Serif;
	color:#0860a8;
	padding:0 12px 0 0;
	background:url(/homepage/pix/ico/close-icon.gif) right center no-repeat;
}
a.learn-more {
	font-size:85%;
}
a.printPage {
	width:75px;
	height:10px;
	font:normal 70%/123.1% Verdana,Helvetica,Arial,Sans-Serif;
	color:#0860A8;
	padding:0 24px 0 0;
	background:url(/homepage/pix/ico/print-page-icon.gif) 78px 0 no-repeat;
}
/* horizontal rules: must follow this convention: <div class="hr"><hr></div> for proper styling */
.hr {text-align:left; height:1px; border:0; background-color:#E1E1E1; color:#E1E1E1; width:100%; margin:1.5em 0;}
/* horizontal rule to appear above legal disclaimers - class created to support unique styling still TBD */
.hr-legal {text-align:left; height:1px; border:0; background-color:#E1E1E1; color:#E1E1E1; width:100%; margin:1.5em 0;}
hr {display:none;} /* IE hack to cancel default MARGIN on HR */

/* Tabs global - more below */
.ui-tabs-hide { display: none; }
*>.ui-tabs-nav a span { /* hide from IE 6 */
	width: auto;
	height: auto;
}
.regtitle {
	font-style:normal;
	font-size:77%;
	vertical-align:top;
}
.logo {
}

.chart-note {margin:1.5em 0;}

/* ==================================================================
Containers
================================================================== */
/* Main container */
#main-c  {
	width:1000px;
	_height:425px;
	min-height:425px;
	margin:0 auto;
	text-align:left;
	
}

.one-col, .two-col, .three-col {margin:0 auto; width:100%;}

/* One column layout */
.one-col {
	margin:10px 0 10px 0;
}

/* Two column layout */
.two-col {
	margin:20px 0 40px 0;
}
.two-col .col-a {
	float:left;
	width:469px;
	padding:0 20px 0 0;
	border-right:solid 1px #E1E1E1;
}
.two-col .col-b {
	float:left;
	width:470px;
	padding:0 0 0 20px;
}

/* Three column layout */
.three-col {
	margin:10px 0 10px 0;
}
.three-col .col-a,
.three-col .col-b,
.three-col .col-c  {
	float:left;
	width:285px;
	_height:420px;
	min-height:420px;
	padding:0 20px;
	margin:0 0 10px 0;
}
.three-col .col-a,
.three-col .col-b {
	border-right:solid 1px #E1E1E1;
}

/* Flash container */
#rich-media-c {
	width:99%;
	_height:auto;
	min-height:355px;
	overflow:hidden;
	margin-left: 10px;
}
#flash-media-a {
	overflow:hidden;
}
#flash-media-b {
	overflow:hidden;
}
/* Feature container */
#feature-c {
	width:100%;
	_height:288px;
	min-height:288px;
	}
	
#shopHandler {
	display:none;
}

/* ==================================================================
Nav
================================================================== */
#nav-c {
	position:static;
	width:100%;
	_height:90px;
	min-height:90px;
}
#nav-main {
	float:right;
}
/* Main nav base */
#nav-main li {
	float:left;
	position:relative;
}
a.nav-main-link {
	height:18px;
	display:block;
	font:bold 100%/100% Verdana,Helvetica,Arial,Sans-Serif;
	background-image:url(/homepage/pix/btn/gbl-main-nav-spr.gif);
	background-repeat:no-repeat;
	text-indent:-2000px;
	overflow:hidden;
	margin:0 0 0 40px;
}
/*
	Only used if the sprite won't be used
*/
a.nav-main-link:hover {
	height:18px;
	display:block;
	font:bold 100%/100% Verdana,Helvetica,Arial,Sans-Serif;
	color:#36a5ff;
	text-decoration:none;
	margin:0 0 0 40px;
}
/* What's Inside You default state */
.nav-main-wiy-d {
	width:152px;
	background-position:0 0;
}
/* What's Inside You hover state */
#nav-main-wiy:hover,
.nav-main-wiy-hover {
	width:152px;
	background-position:0 -18px;
}
/* Learn default state */
.nav-main-lrn-d {
	width:45px;
	background-position:-193px 0;
}
/* Learn hover state */
#nav-main-lrn:hover,
.nav-main-lrn-hover {
	width:45px;
	background-position:-193px -18px;
}
/* Shop default state */
.nav-main-shp-d {
	width:43px;
	background-position:-278px 0;
}
/* Shop hover state */
#nav-main-shp:hover,
.nav-main-shp-hover {
	width:43px;
	background-position:-278px -18px;
}
/* Game default state */
.nav-main-gme-d {
	width:49px;
	background-position:-361px 0;
}
/* Game hover state */
#nav-main-gme:hover,
.nav-main-gme-hover {
	width:49px;
	background-position:-361px -18px;
}
/* Secondary nav base */
.nav-sec {
	position:absolute;
	top:20px;
	left:35px; /* Adjust for tab margin */
	z-index:1000;
	font:normal 92%/136% Arial,Helvetica,Verdana,Sans-Serif;
}
.nav-sec li {
	clear:both;
	width:200px;
	margin:0;
	padding:4px;
	background-color:#ffffff;
	border-right:1px solid #0860A8;
	border-bottom:1px solid #0860A8;
	border-left:1px solid #0860A8;
}
.nav-sec li:first-child ,
.nav-sec li.first-child  {
	border-top:1px solid #0860A8;
}
.nav-sec a {
	text-decoration:none;
}
.nav-sec a:hover {
	text-decoration:underline;
}
#nav-sec-lrn {
	width:200px;
}
#gbl-nav {
	position:absolute;
	top:10px;
	right:0px;
	min-width:559px;
	_width:593px;
	font-size:77%;
}
#gbl-nav li {
	float:left;
	margin:5px 15px 0 0;
}
#gbl-nav a {
	color:#666666;
}
#gbl-nav a:hover {
	color:#666666;
	text-decoration:underline;
}

/* Search box */
#gbl-nav div label {
	display:none;
}
#gbl-nav div input {
	width:125px;
	border:1px solid #999999;
	margin:0;
	padding:3px;
	font:normal 108%/108% Arial,Helvetica,Verdana,Sans-Serif;
}
#gbl-nav div button {
	width:56px;
	height:24px;
	margin:0 0 0 4px;
	padding:0;
	border:0;
	background:url(/homepage/pix/btn/gbl-btn-search.gif) 0 0 no-repeat;
	cursor:pointer;
}

/* ==================================================================
Footer
================================================================== */
#footer-c {
	font-size:77%;
	text-align:center;
	border-top:2px solid #cccccc;
	margin:20px 0 0 0;
}
#footer-alt-c {
	font-size:77%;
	text-align:center;
	margin:-10px 0 0 0;
}
#footer-alt-c ul,
#footer-c ul {
	width:492px;
	margin:2px auto;
}
#footer-alt-c li,
#footer-c li {
	float:left;
	margin:5px 15px 0 0;
}
#footer-alt-c li.last,
#footer-c li.last {
	margin:5px 0 0 0;
}
#footer-alt-c a,
#footer-c a {
	color:#666666;
}
#footer-alt-c a:hover,
#footer-c a:hover {
	color:#666666;
	text-decoration:underline;
}


/* ==================================================================
Elements
================================================================== */
/*
.gbl-top-div {
	width:980px;
	height:14px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/homepage/pix/bg/gbl-top-div.png' , sizingMethod='image');
}
.gbl-top-div[class] {
	background:url(/homepage/pix/bg/gbl-top-div.png) 0 0 no-repeat;
}
*/
.rated div {
	float:left;
	color:#707070;
	font-size:11px;
}
.icon-meter {
	width:58px;
	height:12px;
	margin:3px 5px 0 5px;
	padding:0;
	background-image:url(/homepage/pix/bg/rating-meter-bg.gif);
	background-repeat:no-repeat;
}
.gbl-btm-div {
	position:relative;
	top:-9px;
	width:980px;
	height:27px;
	margin:0 0 -9px 0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/general/consumer/resources/images/gbl-btm-div.png' , sizingMethod='image');
}
.gbl-btm-div[class] {
	background:url(/homepage/pix/bg/gbl-btm-div.png) 0 0 no-repeat;
}
.gbl-link-plus {
	vertical-align:top;
	margin:2px 0 0 0;
	_margin:0;
	*margin:0;
	_vertical-align:middle;
	*vertical-align:middle;
	border:0px;
}
.recommended-computer h5 {
	font-size:85%;
	line-height:116%;
	color:#707070;
	margin-top:10px;
}
.gbl-link-arrow {
	vertical-align:middle;
}

/* General Learn More button */
.learn-more-product a {
	display:block;
	_display:inline-block;
	min-width:151px;
	height:26px;
	margin:0 0 7px 0;
	background:url(/homepage/pix/btn/gbl-btn-learn-more-var-spr.gif) 0 0 no-repeat;
	cursor:pointer;
    text-decoration:none;
}
.learn-more-product a span {
	display:block;
	_display:inline-block;
	min-width:170px;
	height:21px;
	padding:5px 40px 0 15px;
	background:url(/homepage/pix/btn/gbl-btn-learn-more-var-spr.gif) right -26px no-repeat;
	cursor:pointer;
}
.learn-more-product a:hover {text-decoration:none !important;}
/* New general Learn More button */
.learn-more-product-new a {
	display:block;
	_display:inline-block;
	min-width:151px;
	height:26px;
	margin:0 35px 7px 0;
	background:url(/homepage/pix/btn/gbl-btn-learn-more-new-spr.gif) 0 0 no-repeat;
	cursor:pointer;
}
	.learn-more-product-new a span {
		display:block;
		_display:inline-block;
		min-width:170px;
		height:21px;
		padding:5px 40px 0 15px;
		background:url(/homepage/pix/btn/gbl-btn-learn-more-new-spr.gif) right -26px no-repeat;
		cursor:pointer;
	}
	.learn-more-product-new a:hover {
		display:block;
		_display:inline-block;
		min-width:151px;
		height:26px;
		color:#ffffff;
		margin:0 35px 7px 0;
		background:url(/homepage/pix/btn/gbl-btn-learn-more-new-spr.gif) 0 -52px no-repeat;
		cursor:pointer;
		text-decoration:none;
	}
	.learn-more-product-new a:hover span {
		display:block;
		_display:inline-block;
		min-width:170px;
		height:21px;
		padding:5px 40px 0 15px;
		background:url(/homepage/pix/btn/gbl-btn-learn-more-new-spr.gif) right -78px no-repeat;
		cursor:pointer;
	}
/* Story page Learn More button */
 h3 .product {
 padding-bottom:3px;
 }
.learn-more-story a {
	display:block;
	_display:inline-block;
	min-width:151px;
	height:33px;
	margin:0 0 7px 0;
	background:url(/homepage/pix/btn/gbl-btn-learn-more-var-spr.gif) 0 -66px no-repeat;
	cursor:pointer;
}
.learn-more-story a span {
	display:block;
	_display:inline-block;
	min-width:170px;
	height:24px;
	padding:9px 40px 0 15px;
	background:url(/homepage/pix/btn/gbl-btn-learn-more-var-spr.gif) right -99px no-repeat;
	cursor:pointer;
}
/* Product detail buttons are extra wide */
.product-detail-review .learn-more-product a span {
	_width:250px;
	min-width:250px;
}
.product-detail-review .learn-more-product a {
	_width:250px;
	min-width:250px;
	font-size:12px;
}
/* Game Learn More button */
.learn-more-game a {
	display:block;
	_display:inline-block;
	min-width:151px;
	height:33px;
	margin:0 0 7px 0;
	background:url(/homepage/pix/btn/gbl-btn-learn-more-var-spr.gif) 0 -132px no-repeat;
	cursor:pointer;
}
.learn-more-game a span {
	display:block;
	_display:inline-block;
	min-width:170px;
	height:24px;
	padding:9px 40px 0 15px;
	background:url(/homepage/pix/btn/gbl-btn-learn-more-var-spr.gif) right -165px no-repeat;
	cursor:pointer;
}

.tagline {width:auto; float:left; margin-top:7px; margin-left:8px;}
/*
	.disclaimer-text is special for the product detail page.
	.gbl-disclaimer should be used for disclaimers throughout the site
*/
.disclaimer-text {display:none; width:100%; height:100%; padding:1em 0; _height:100px;	min-height:100px;}
.disclaimer-text-open {
	display: block;
}
.disclaimer-text p, .gbl-disclaimer p  { color:#aaaaaa; }
.gbl-disclaimer { width:100%; }
.shop-disclaimer { margin:0 18px; }
.shop-disclaimer p { color:#c2c2c2; }


/* ==================================================================
Modules
================================================================== */
/* Promos */
#gbl-promos {
	width:980px;
	margin:0 auto;
}
#gbl-promos a.promo-nav {
	float:left;
	display:block;
	width:9px;
	height:16px;
	background-image:url(/homepage/pix/ico/promos-next-prev-spr.gif);
	text-indent:-200px;
	overflow:hidden;
	opacity:0;
	filter:alpha(opacity=0);
}
#gbl-promos a.carousel-prev {
	position:relative;
	margin:46px 7px 0 0;
	background-position:0 0;
}
#gbl-promos a.carousel-next {
	position:relative;
	margin:46px 0 0 -7px;
	background-position:0 -18px;
}
#promos {
	float:left;
	position:relative;
	width:944px;
	height:108px;
	overflow:hidden;
}
.promo-item {
	float:left;
	position:relative;
	width:288px;
	_height:108px;
	min-height:108px;
	margin:0 12px 0 0;
	padding:0 10px 0 4px;
	background:url(/homepage/pix/bg/gbl-promos-bg-spr.gif) 0 0 no-repeat;
	text-align:left;
}
.promo-item p.img {
	float:left;
	width:100px;
	_height:97px;
	min-height:97px;
	margin:3px 8px 0 0;
}
.offer-procs .promo-item p.img {
	float:left;
	width:102px;
	height:87px;
	padding:6px 0 0 2px;
	margin:6px 8px 0 0;
	background:url(/homepage/pix/bg/promo-img-bg.gif) 0 0 no-repeat;
}
.promo-item .promo-btm {
	position:absolute;
	bottom:0px;
	left:0px;
	width:302px;
	height:6px;
	font-size:.01em;
	background:url(/homepage/pix/bg/gbl-promos-bg-spr.gif) -302px 0 no-repeat;
}
.promo-item h4 { padding:15px 0 5px 0; }
.promo-item p { margin:0 0 5px 0; }
.offer-procs .promo-item p { margin:0 0 2px 0; }
.promo-item strong { color:#333333; }

/* Related Processor */
.related-proc-c {
	margin:0 0px 15px 0px;
}
.related-proc-header { float:left; }
.related-proc-header p {
	font:bold 92%/108% Verdana,Helvetica,Arial,Sans-Serif;
	margin:.4em 0 .4em 0;
}
.related-proc-badge {
	float:left;
	margin:0 37px 0 0;
}
.related-proc-desc {
	float:left;
	width:345px;
	padding: 0px 15px 0px 0px;
	border-right:1px solid #e1e1e1;
}
.related-proc-desc .learn-more {
	font:bold 115%/100% Verdana,Helvetica,Arial,Sans-Serif;
}
.related-proc-icons {
	float:left;
	width:120px;
	text-align: center;
	border-right:1px solid #e1e1e1;height:118px;
}

.proc-contain {
	float:right;
	width:205px;
}

.related-processors-c {
	display:none;
}
.related-proc-spec-details {
	margin:20px 0 0 0;
}
.related-proc-spec-icons,
.related-proc-spec-icons-last {
	float:left;
	width:151px;
	_height:109px;
	min-height:109px;
	padding:20px 13px 0 0;
	text-align: center;
	background:url(/homepage/pix/ico/related-proc-spec-v.gif) top right no-repeat;
}
.related-proc-spec-icons-last {
	background:0;
	border-right:1px solid #e1e1e1;
}
.related-proc-spec-icons p {
	font:normal 77%/100% Verdana,Helvetica,Arial,Sans-Serif;
}

/* ==================================================================
Pages
================================================================== */

/* Global Gateway  */

#gateway-c {
	width:1061px;;
	height:349px;
	padding:90px 0 0 0;
	background:url(/homepage/pix/bg/global-gateway-world-map-bg.jpg) 0 0 no-repeat;
}


.bg p
{position:relative; top:10px; left:15px; width:300px;}

.bg img.newgo-btn
{position:relative; top:-14px; left:280px;}

.bg a.boxlink
{width:325px; height:161px; display:block;}

.bg a 
{text-decoration:none; color:#707070;}

.bg a:hover
{text-decoration:none; color:#707070;}
.bg h2
{position:relative; top:10px; left:15px; color:#006699; width:260px; cursor:hand;}

#gateway-work div.bg
{background-image: url(/homepage/pix/bg/work_bg.jpg); width:327px; height:160px;}

#gateway-play div.bg
{background-image: url(/homepage/pix/bg/play_bg.jpg); width:326px; height:160px;}

#gateway-about div.bg
{background-image: url(/homepage/pix/bg/about_bg.jpg); width:325px; height:161px;}

#gateway-c #country-selector {
	margin:8px 0 0 0;
	color:#0860a8;
}
#gateway-work-play-c {
	margin:154px 0 0 0;
	height:175px;
	width:1061px;
}
#gateway-work-play-c a.go-btn {
	position:absolute;
	bottom:0px;
	left:0px;
	display:block;
	width:67px;
	height:26px;
	background-image:url(/homepage/pix/btn/gateway-btn-go-spr.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	text-indent:-2000px;
	overflow:hidden;
}
#gateway-work-play-c a.go-btn:hover {
	background-position:-67px 0;
}
.gateway-copy {
	position:relative;
	width:327px;
	_height:150px;
	min-height:150px;
	margin-right:6px;
}

/* WIY - User Profile AND Story Detail Page */
#story-detail,
#user-profile {
	_height:288px;
	min-height:288px;
	background:url(/homepage/pix/bg/gbl-featured-bg.jpg) 0 0 no-repeat;
	margin:10px 0 0 0;
}
p.user-profile-attr {
	margin:0;
}
div.user-profile-attr {
	margin:0 0 .7em 0;
}
#wiy-rich-media {
	width:320px; 
	padding:14px 0 0 14px;
}
.user-profile-image {
	float:left;
	width:156px;
	height:204px;
	margin:0 0 0 39px;
	_margin:0 0 0 19px;
	padding:14px 0 0 14px;
	background:url(/homepage/pix/bg/user-profile-image-bg.gif) 0 0 no-repeat;
}
.user-profile-summary {
	float:left;
	width:495px;
	margin:0 0 15px 137px;
	padding:0 35px 0 0;
	height:157px;
	overflow:auto;
}
.user-profile-header h1 {
	float:left;
	padding-bottom:3px;
}
.user-profile-header span {
	float:left;
	font-size:85%;
	margin-left:15px;
	padding-top:5px;
}
.user-profile-description {
	margin-top:15px;
}

.user-profile-description h5 {
	margin-top:15px;
	font-weight:bold;
}
.user-profile-gallery {
	float:left;
	width:416px;
	margin:0 0 0 190px;
}
#user-profile .user-profile-gallery .user-profile-gallery-img {float:left; padding:0 6px;}
#user-profile-gallery-c {
	float:left;
	width:388px;
	height:84px;
	overflow:hidden;
}
#user-profile a.gallery-nav {
	float:left;
	display:block;
	width:9px;
	height:16px;
	background-image:url(/homepage/pix/ico/promos-next-prev-spr.gif);
	text-indent:-200px;
	overflow:hidden;
	opacity:0;
	filter:alpha(opacity=0);
}
#user-profile a.carousel-prev {
	margin:46px 0 0 0;
	background-position:0 0;
}
#user-profile a.carousel-next {
	margin:46px 0 0 0;
	background-position:0 -18px;
}
.see-more-tab {
	background:url(/homepage/pix/bg/user-profile-see-more-tab.gif) 0 0 no-repeat;
	width:226px;
	height:29px;
	margin:-52px 0 0 0;
	padding:14px 0 0 14px;
}
#story-detail .user-marketing {
	float:left;
	width:525px;
	text-align:left;
	margin:0 0 0 20px;
}
#story-detail .profile-summary {
	width:512px;
	height:155px;
	_height:155px;
	margin:0 0 8px 0px;
	padding:0 10px 0 0;
	text-align:left;
	overflow:auto;
}
#story-detail .user-marketing .find-processor {
	_width:231px;
	min-width:231px;
	height:33px;
	display:block;
	background:url(/homepage/pix/btn/gbl-btn-learn-more-spr.gif) 0 0 no-repeat;
	cursor:pointer;
}
#story-detail .user-marketing .find-processor span {
	display:block;
	height:33px;
	padding:9px 45px 0 15px;
	background:url(/homepage/pix/btn/gbl-btn-learn-more-spr.gif) right -33px no-repeat;
	cursor:pointer;
	color:#3e82ba;
}
#story-detail .user-marketing .processor-profile {
 	width:470px;
 	margin:0 0 18px 0;
	padding-top:5px;
}
#story-detail .processor-profile h3 {
	padding:5px 0 0 0;
}
#story-detail .processor-profile .attr {
	font:normal 85%/85% Verdana,Helvetica,Arial,Sans-Serif;
	color:#707070;
}
#story-detail .processor-profile img {
	float:left;
	margin-right:16px;
}
#story-detail .profile-gallery {
	margin:0 0 5px 39px;
}
#user-profile .see-more-tab {
	background:url(/homepage/pix/bg/user-profile-see-more-tab.gif) no-repeat;
	width:240px;
	height:29px;
	margin-top:-6px;
	padding-top:14px;
}
#story-detail .see-more-tab {
	background:url(/homepage/pix/bg/long-tab.gif) no-repeat;
	width:356px;
	height:30px;
	padding:14px 0 0 0;
	margin:-20px 0 0 0;
}
#story-detail .see-more-tab a {
	margin:0 8px 0 8px;
}
#story-gallery-c {
	float:left;
	width:352px;
	height:264px;
	overflow:hidden;
}
.story-gallery {
	float:left;
	width:382px;
}
.story-gallery a.gallery-nav {
	float:left;
	display:block;
	width:9px;
	height:16px;
	background-image:url(/homepage/pix/ico/promos-next-prev-spr.gif);
	text-indent:-200px;
	overflow:hidden;
	opacity:0;
	filter:alpha(opacity=0);
}
.story-gallery a.carousel-prev {
	margin:124px 6px 0 0;
	background-position:0 0;
}
.story-gallery a.carousel-next {
	margin:124px 0 0 6px;
	background-position:0 -18px;
}
.story-gallery-img {
	float:left;
	padding:0;
}

/* WIY - Create Profile */
#create-profile-header {
	width:100%;
	margin-top:15px;
}
#profile-form {
	width:640px;
	margin:20px 0px 0px 0px;
}
#captcha-c {
	width:500px;
	margin-top:25px;
}
#captcha-c input {
	width:100px;
	margin: 7px 0 12px 0;
	padding:2px;
}
#terms-cond-c {
	width:500px;
}
#terms-cond-c textarea {
	width:100%;
	padding:2px;
	height:100px;
}
#terms-cond-c p, #terms-cond-c a {
	display: inline;
	line-height:4em;
}
#terms-cond-c a {
	font-size:0.8em;
}

/* submit story page */
#story-upload-work-header {
	width:777px;
	height:38px;
	background:url(/homepage/pix/bg/story-upload-work-top.gif) no-repeat;
}
#story-upload-work-header h4 {
	padding:12px 0 0 20px;
	font-size:100%;
	font-weight:bold;
	color:#000000;
}
#story-select-proc-header h4 {
	padding:8px 0 0 0;
	font-size:100%;
	font-weight:bold;
	color:#000000;
}
#story-upload-work-footer {
	width:777px;
	height:7px;
	padding:10px 0 0 15px;
	background:url(/homepage/pix/bg/story-upload-work-bot.gif) no-repeat;
}
#story-upload-work-main {
	background:url(/homepage/pix/bg/story-upload-work-mid.gif) repeat-y;
	width:777px;
	_height:155px;
	min-height:155px;
	padding:10px 0 0 20px;
}
#sub-story-main {
	width:795px;
	padding-right:15px;
	border-right: 1px solid #e1e1e1;
}
#sub-story-main h1 {
	margin:10px 0 10px 0;
	color:#666666;
}
#story-select-proc-header {
	width:227px;
	height:45px;
	padding-left:10px;
	background:url(/homepage/pix/bg/story-proc-bg-top.gif) no-repeat;
}
#story-select-proc-header h3 {
	font-size:100%;
	font-weight:bold;
	margin-top:10px;
}
#story-select-proc-footer {
	width:227px;
	height:7px;
	padding-left:10px;
	background:url(/homepage/pix/bg/story-proc-bg-bot.gif) no-repeat;
}
#processor-select {
	background:url(/homepage/pix/bg/story-proc-bg-mid.gif) repeat-y;
	padding-left:10px;
	width:227px;
}
#processor-select h3 {
	float:right;
}
#processor-select p {
	clear:both;
	font-size:80%;
	font-weight:bold;
	color:#000000;
	margin-top:10px;
}
#proc-select-link {
	clear:both;
	margin-right:10px;
}
.proc-c {
	width:110px;
	text-align:center;
	float:left;
	margin:5px 0 15px 0;
}
#proc-link {
	margin-right:8px;
}
.proc-c img{
	margin-bottom:10px;
}
#sub-story-notes {
	width:150px;
	margin-left:15px;
}
#sub-story-notes h1 {font-size:85%;}
#sub-story-notes p {font-size:75%;}
#sub-story-notes h2 {
	font-size:115%;
	font-weight:bold;
}
#story-title-value,
#story-keywords {
	width:275px;
}
#story-upload-work-c {
	_height:180px;
	min-height:180px;
	margin-bottom:20px;
}
#theme-category {
	padding:15px 0 0 25px;
	margin:10px 0 15px 50px;
}
.submit-story-ta {
	width:500px;
	height:100px;
	margin:-10px 0 15px 0;
}
#media-file-type {
	margin:1em 0 0 0;
	line-height:167%;
}
#story-title-info {
	width:300px;
	margin-bottom:5px;
}
#story-title-info h3 {
	font-size:115%;
	font-weight:bold;
	color:#333333;
	margin:10px 0 23px 0;
}
#story-title-info label {
	display:block;
}
#story-upload-work-c label {
	font-size:75%;
	font-weight:bold;
}
#story-upload-work-c h3 {
	font-size:85%;
	font-weight:bold;
}
#keywords-link {
	float:right;
	font-size:85%;
	margin-right:20px;
}
.media-upload {
	width:390px;
	height:180px;
	padding-right:30px;
}
.media-upload input {
	width:280px;
}
.media-upload label {
	display:block;
	width:120px;
	margin:.7em 0 0 0;
}
#theme-category h1 {
	margin:45px 0 0 0;
}
#theme-category h1,
#story-title-info label,
#story-left label {
	font-size:85%;
	font-weight:bold;
	color:#333333;
}
#story-left { width:510px; }

/* WIY - Comments */
.comments-container {
	width:650px;
}
.comment-header {
	padding: 0px 0px 10px 0px;
}
.comments-container .comment {
	_height:60px;
	min-height:60px;
/*
	padding-bottom:15px;
*/
}
.comment .comment-image{
	float: left;
	padding-right:10px;
}
#add-comment {
	position:absolute;
	top:10px;
	left:100px;
	width:652px;
	_height:773px;
	min-height:773px;
	background:#ffffff;
	border:2px solid #0860a8;
	display:none;
	z-index:2000;
}
#add-comment .close {
	float:right;
	margin:10px 18px 5px 0;
}
#add-comment p.desc {
	margin:.7em 0;
}
.add-comment-c,
.add-comment-thanks {
	position:relative;
	width:579px;
	_height:670px;
	min-height:670px;
	margin:6px 0 10px 17px;
	padding:40px 20px 15px 20px;
	background:url(/homepage/pix/bg/add-comment-frame-spr.gif) -619px 0 repeat-y;
}
.add-comment-thanks {
	display:none;
}
.add-comment-top {
	position:absolute;
	top:0px;
	left:0px;
	width:619px;
	height:5px;
	background:url(/homepage/pix/bg/add-comment-frame-spr.gif) 0 0 no-repeat;
}
.add-comment-btm {
	position:absolute;
	bottom:0px;
	left:0px;
	width:619px;
	height:5px;
	background:url(/homepage/pix/bg/add-comment-frame-spr.gif) -1238px 0 no-repeat;
}
#add-comment-form textarea {
	width:256px;
	height:102px;
}

/* WIY - Archive */
.archive-page { margin:0; }
#archive-tabs {background:url(/homepage/pix/bg/archive-results-bg.jpg) 0 0px /*90px*/ repeat-y; width:977px; _height:535px; min-height:535px; }
#archive-tabs ul.tabs-for-archive {background:url(/homepage/pix/bg/archive-tab-menu-bg.jpg) no-repeat; width:980px; height:42px;}
#archive-tabs ul li {font-size:85%;}
.archive-tabs-alt .archive-results { display:none; }
.archive-results {float:left; clear:right; width:776px; margin-right:0; padding:10px 0px 0px 8px;}
.archive-results .tools {float:right; margin:10px; *margin:10px 10px 0px 0px;}
.archive-results .tools a.active {color:#000; padding:0px 5px;}
.archive-results .tools a.active:hover {text-decoration:none;}
.archive-results .featured {float:left; margin-bottom:3px; background:url(/homepage/pix/bg/archive-listing-bg.gif) no-repeat; width:257px; height:90px;}
.archive-results .featured img {float:left; padding:8px 25px 5px 10px;}
.archive-results .featured h4 {padding:14px 0 10px 0;}
.archive-results .featured p {padding:0; margin:0;}

.archive-pagination {float:right; width:417px; margin:6px 6px 0 0;}
.archive-pagination ul {background:url(/homepage/pix/bg/view-main-bg2.gif) no-repeat;}
.archive-pagination ul li {float:left; width:20px; height:20px; padding:8px 0 0 0; margin:0 1px 0 0;}
.archive-pagination li.leftarrow, .archive-pagination li.rightarrow {padding:1px;}
.archive-pagination li.leftarrow a {padding:0;}
.archive-pagination li.selected {width:20px;}
.archive-pagination li.pagenum {width:110px; height:28px; background:url(/homepage/pix/bg/view-main-bg.gif) 0 0 no-repeat;}
.archive-pagination li.pagenum span.setnum {margin-left:12px; font-size:8px; position:relative;}
.archive-pagination li.pagenum span.setnum a {display:inline; padding:0;}
.archive-pagination li.pagenum a.view-selected {display:inline; padding:3px 4px; background:none; background-color:#81ADD2; border:solid 1px #FFF;}
.archive-pagination li.num-selected {width:20px;}
.archive-pagination li.num-selected a {display:inline; padding:2px 5px; color:#FFF; background-color:#81ADD2; border:solid 1px #FFF; position:relative;}
.archive-pagination li.showbg {background:url(/homepage/pix/bg/view-num-bg.gif) no-repeat; *background:url(/homepage/pix/bg/view-num-bg.gif) 0 1px no-repeat; width:20px;}
.archive-pagination li.showbg a,.archive-pagination li.showbg span {position:relative; margin:3px;}
.archive-pagination li.showbg.wide a {position:relative;}

.archive-filter,
.archive-filter-alt {
	float:right;
	margin-top:20px;
	width:184px;
	height:522px;
	*font-size:.9em;
}
.archive-filter {
	background:url(/homepage/pix/bg/archive-rt-nav-bg.gif) 0 0 no-repeat;
}
.archive-filter p,.archive-filter-alt p {display:block; margin:15px 10px 5px 15px; font-size:.8em; font-weight:bold; color:#000;}
.archive-filter input, .archive-filter select, .archive-filter-alt input, .archive-filter-alt select {margin:6px 3px 0 20px; *margin-top:0px;}
.archive-filter span, .archive-filter-alt span {font-size:.8em;}

#archive-tabs .ui-tabs-nav, .ui-tabs-panel {font-size:12px;}
#archive-tabs .ui-tabs-nav:after {display:block; clear:both; content:" ";}
#archive-tabs .ui-tabs-nav li {float:left; margin:0 1.2em 0 1px; padding:17px 0 0 7px;}
#archive-tabs .ui-tabs-nav a, .ui-tabs-nav a span {display:block;}
#archive-tabs .ui-tabs-nav a {padding:0 30px 0 0; color:#0860A8; font-weight:bold; text-decoration:none; white-space:nowrap;}
#archive-tabs .ui-tabs-nav .ui-tabs-selected a {color: #000;}
#archive-tabs .ui-tabs-nav a span {width:64px; height:18px;}

/* Learn - Landing */
.three-col .section-item {margin:.9em 0 1.1em 0;}
.tools-box-hdr {font-size:123.1%; margin:6px 0 0 0;}
.tools-box .top {background:url(/homepage/pix/bg/landing-tools-menu-bg-spr.gif) 0 0 no-repeat; width:288px; height:12px; font-size:.01em;}
.tools-box .btm {background:url(/homepage/pix/bg/landing-tools-menu-bg-spr.gif) -576px 0 no-repeat; width:288px; height:13px;}
.tools-box ul {width:288px; background:url(/homepage/pix/bg/landing-tools-menu-bg-spr.gif) -288px 0 repeat-y;}
.tools-box ul li {width:257px; margin:0 8px 0 16px; border-top:solid 1px #D1D1D1; background:url(/homepage/pix/ico/tools-arrow-icon.gif) center right no-repeat;}
.tools-box ul li a {font-size:93%; padding:8px 0; display:block;}
.tools-box ul li.first {border:0;}

.section-item-icon {float:right; margin:0 0 10px 2px;}

/* Learn - Processor landing */
.proc-container { margin:12px 0; }
.proc-badge {
	margin-left:2px;
	margin-right:12px;
	margin-bottom:12px;
	float:left;
}
.proc-hr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e1e1e1;
	margin:30px 0px 30px 0px;
}

/* Learn - Product Detail */
#product-detail {
	margin:0;
}
.centrino#product-detail {
	_height:292px;
	min-height:292px;
	background:url(/homepage/pix/bg/laptop-centrino.jpg) 0 0 no-repeat;
}
#product-detail .marketing-img {
	position:relative;	
	float:left;
	width:263px;
	height:255px;
	margin-left:-16px;
	
}

.centrino#product-detail .badge {
	position:absolute;
	top:11px;
	right:0px;
	z-index:1;
}

.badge-nudge {
	position:absolute;
	top:11px;
	left:200px;
	z-index:1;
}
.mobile-processor {
	/*djc--position:relative;*/
	_height:292px;
	min-height:292px;
	background:url(/homepage/pix/bg/laptop-core2-extreme.jpg) 0 0 no-repeat;
	z-index:50;
}
.mobile-processor#product-detail .badge {
	position:absolute;
	/*djc--top:50px;
	left:735px;*/
	top:120px;
	left:825px;
	z-index:1;
}

DIV.mobile-processor#product-detail {
z-index:0
}

#product-detail .product-detail-desc {
	float:left;
	width:398px;
}
#product-detail .product-detail-desc p {
	margin-right:3em;
}
#product-detail .product-detail-review {
	float:left;
	width:300px;
	margin:0 0 0 16px;
}
div.detail-overview-desc {
	float:left;
	width:450px;
	margin:25px 0;
}
div.detail-key-features {
	width:100%;
}
div.detail-key-features h2 {
	border-bottom:1px solid #e1e1e1;
}
.detail-feature-img {
	float:right;
	margin:14px 0 0 0;
}
.detail-key-features-list dl {
	float:left;
	width:340px;
	padding:15px 40px 0 0;
	font:normal 92%/123.1% Verdana,Helvetica,Arial,Sans-Serif;
	color:#666666;
}
.detail-key-features-list dt {
	font-weight:bold;
}
.detail-key-features-list dd {
	margin:.4em 0 1.5em 0;
}
.logo-review {
	float: right; padding: 0 10px 0 0;
}
/* -------- Processor Numbers */
#proc-num-expando {margin-left: 797px;}
#proc-num-expando li {float:left; margin: 0; padding:0 0 10px 10px; font-size: 11px; color:#0860a8; }
#proc-num-expando li.div {color:#000;}
#proc-num p.text {
	font-size:10px;
	color:#707070;
	}
#pro-num {position:relative; width:959px; border: 1px solid #e1e1e1; margin:0 0 3em 0;}

#proc-num td { text-align:center };

.pro-num-header-row {width:959px;}

.pro-num-header-table {width:959px;}
.pro-num-header-table td {width:91px; border-left: 1px solid #e1e1e1; font-size: 9px; color:#0860a8; padding: 10px; vertical-align: bottom;}
.pro-num-header-table td.processor-family {width:118px; border-left: none;}
.pro-num-header-table td img {margin:10px 0;}

.pro-num-section-title {width:917px; border: 1px solid #fff; background-color:#e2edf8; font-size: 9px; color:#0860a8; padding:10px 30px 10px 10px; text-align: right;}
.pro-num-section-line {width:917px; border: 1px solid #fff; background-color:#e2edf8; font-size: 9px; color:#0860a8; padding:10px 30px 10px 10px; text-align: right;}
.pro-num-section-title a, .pro-num-section-header a:visited, .pro-num-section-header a:active {color:#0860a8; text-decoration:none;}
.pro-num-section-header a:hover {color:#0860a8; text-decoration:underline;}

.pro-num-row {width:959px;}
.pro-num-processor-family {float: left; width:118px; font-size: 9px; color:#0860a8; vertical-align:middle; padding:20px 1px 10px 45px;}
.pro-num-table {float: left; width:793px;}
.pro-num-table td {width:91px; border-top: 1px solid #e1e1e1; border-left: 1px solid #e1e1e1; font-size: 9px; color:#707070; padding: 10px 10px 5px 10px; vertical-align: middle;}
.pro-num-table tr.odd {background-color:#f4f4f4;}
.pro-num-table tr.first td {border-top: none;}

#pro-num div.pro-num-section-title {
	background-image:url(/homepage/pix/btn/proc-accordion-toggle-spr.gif);
	background-repeat:no-repeat;
	background-position:right 0;
	cursor:pointer;
}

#pro-num div.selected {
	background-position:right -31px;
}

#proc-num-overlay {
	position:absolute;
	display:none;
	top:50px;
	left:190px;
	width:592px;
	height:300px;
	background:#fff;
	border:2px solid #0860a8;
}
#proc-num-overlay h2 {
	margin:10px 0 0 10px;
}
#proc-num-overlay .close {
	float:right;
	margin:5px 5px 5px 0;
}
.overlay-bd {
	width:504px;
	height:170px;
	margin:-1px 0 0;
	padding:16px;
	border:1px solid #d8dcde;
	overflow:auto;
	position: absolute;
	top: 81px;
	left: 28px;
}
#proc-num-overlay .ui-tabs-nav {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 44px;
	right: 40px;
	z-index: 2;
}
#proc-num-overlay .ui-tabs-nav li {
	float: left;
	margin: 0 0 0 1px;
}

#proc-num-overlay .ui-tabs-nav a, #proc-num-overlay .ui-tabs-nav a span {
	display: block;
}
#proc-num-overlay .ui-tabs-nav a {
	margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
	padding-left: 0;
	color: #27537a;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap; /* required in IE 6 */
	outline: 0; /* prevent dotted border in Firefox */
}
#proc-num-overlay .ui-tabs-nav .ui-tabs-selected a {
	position: relative;
	top: 1px;
	margin-top: 0;
	color: #000;
}
#proc-num-overlay .ui-tabs-nav img {
	margin-top: 3px;
}
#proc-num-overlay .ui-tabs-nav a span {
	padding: 0 15px 0;
	*padding-top: 2px;
}
#proc-num-overlay .ui-tabs-nav .ui-tabs-selected a, #proc-num-overlay .ui-tabs-nav a:hover, #proc-num-overlay .ui-tabs-nav .ui-tabs-selected a span, #proc-num-overlay .ui-tabs-nav a:hover span {
	background: url(/homepage/pix/bg/proc-num-overlay-tabs-bg-spr.gif) no-repeat;
}
#proc-num-overlay .ui-tabs-nav .ui-tabs-selected a span, #proc-num-overlay .ui-tabs-nav a:hover span {
	background-position: 100% -40px;
}
#proc-num-overlay .ui-tabs-nav .ui-tabs-selected a span {
	*padding-bottom: 1px;
}
#proc-num-overlay .ui-tabs-nav .ui-tabs-selected a:link, #proc-num-overlay .ui-tabs-nav .ui-tabs-selected a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
	cursor: text;
}
#proc-num-overlay .ui-tabs-nav a:hover, #proc-num-overlay .ui-tabs-nav a:focus, #proc-num-overlay .ui-tabs-nav a:active, #proc-num-overlay .ui-tabs-nav .ui-tabs-unselect a:hover, #proc-num-overlay .ui-tabs-nav .ui-tabs-unselect a:focus, #proc-num-overlay .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
	cursor: pointer;
}

#reviews {
	margin-bottom:1em;
}
.detail-reviews-compare {
	width:950px;
	_height:275px;
	min-height:275px;
	margin:10px 0;
	padding:15px 0 15px 15px;
	border:1px solid #e1e1e1;
}
.detail-reviews-compare div {
	float:left;
	width:425px;
	margin:0 20px 0 0;
}
.detail-reviews-reviews {
	width:965px;
	_height:100px;
	min-height:100px;
	margin:0;
	padding:15px 0 15px 0;
}
.detail-reviews-reviews div {
	float:left;
	width:425px;
	margin:0 25px 0 0;
}
#gwo-flash {
	height:auto;
	border:1px solid #999999;
}
#gwo-results strong { color:#303030; }

/* Learn - Technology */
#foundation {width:970px; _height:590px; min-height:590px; padding:10px 0 0 8px;}
#foundation h2 {line-height:1.2em; padding-top:10px;}
.tech-text-1-bg { background:url(/homepage/pix/bg/learn-tech-main-bg-1.jpg) 0 0 no-repeat; }
.tech-text-2-bg { background:url(/homepage/pix/bg/learn-tech-main-bg-2.jpg) 0 0 no-repeat; }
.tech-text-3-bg { background:url(/homepage/pix/bg/learn-tech-main-bg-3.jpg) 0 0 no-repeat; }
.tech-text-4-bg { background:url(/homepage/pix/bg/learn-tech-main-bg-4.jpg) 0 0 no-repeat; }

#foundation ul.tech-menu {float:right; width:286px;}
#foundation ul.tech-menu li {width:284px; padding:6px 0px 8px 0px; border-bottom:solid 1px #D1D1D1; background:url(/homepage/pix/ico/learn-menu-arrow-off-bg.gif) left center no-repeat;}
#foundation ul.tech-menu li.selected {background:url(/homepage/pix/ico/learn-menu-arrow-on-bg.gif) left center no-repeat;}
#foundation ul.tech-menu li a {padding-left:26px;}
#foundation ul.tech-menu li.selected a {color:#000;}

#foundation .tech-text {float:left; width:286px; _height:350px; min-height:350px; padding-top:15px;}

#foundation .tech-details {float:left; width:295px; margin:0 20px 0 0;}
#foundation .tech-details p {padding:6px 0 12px 0; line-height:131%;}

.tech-history {float:left; width:486px;}
.tech-details-c { display:none; }

.tech-history h3, .meet h3 {padding-bottom:20px;}
.tech-history h3 {padding-left:8px;}
.tech-history img.icon {float:left; padding:0 10px 6px 0;}
.tech-history p {line-height:1.5em;}

.tech-meet {float:left; width:470px; margin-left:10px; padding-left:12px; border-left:solid 1px #E1E1E1;}
.tech-meet h3 {float:left; width:320px;}
.tech-meet p.biotext span {color:#0860A8; line-height:1.3em;}
.tech-meet p.biotext {float:left; width:320px; line-height:1.3em;}
.tech-meet p.biotitle {padding-bottom:6px; font-weight:bold; color:#0860A8; line-height:1.3em;}
.tech-meet p.biodesc {padding-bottom:10px; width:456px;}

/* Game Landing */
#game-land-flash-c {
	width:100%;
	height:395px;
	margin-left:10px;
	padding:10px 0 0 11px;
	background:url(/homepage/pix/bg/game-land-flash-c-bg.jpg) 0 0 no-repeat;
}
#game-land-flash-nav {
	float:left;
	width:165px;
	height:395px;
	margin:0 11px 0 0;
	background:#000000 url(/homepage/pix/bg/game-land-flash-bg-spr.jpg) 0 0 no-repeat;
}
#game-land-flash {
	float:left;
	width:748px;
	height:383px;
	padding:6px;
	background:#000000 url(/homepage/pix/bg/game-land-flash-bg-spr.jpg) -165px 0 no-repeat;
}
#game-land-flash-no-nav {
	width:939px;
	height:383px;
	padding:6px;
	text-align:center;
}
#game-land-flash-nav img {
	margin:6px;
}
#game-land-intro {
	width:830px;
	height:155px;
	padding:100px 0 0 150px;
	background:url(/homepage/pix/bg/game-landing-versus-bg.jpg) 0 0 no-repeat;
}
#game-land-intro h4 {
	font-weight:bold;
}
#game-land-mobile {
	float:left;
	width:300px;
	margin:-5px 0 0 0;
}
#game-land-desktop {
	float:left;
	width:295px;
	margin:-5px 0 0 75px;
}

#game-land-mobile h4, #game-land-desktop h4 {
	margin-bottom: 5px;
}

/* Game Events */
.conference {background:url(/homepage/pix/bg/game-events-hero-bg-2.jpg) no-repeat; width:980px; height:312px;}
.conference .details {float:left; margin:1em 0 0 0; padding:0 20px 0 0; width:492px;}
.conference .details h1 {padding-bottom:25px;}
.conference .details h3 {font-size:85%; color:#0860A8; font-weight:bold; padding-bottom:2px;}
.conference .details p {margin:0; padding:12px 0; line-height:1.4em;}
.conference .details p.subheading {margin:0; padding:0;}
.conference .details a.learn {font-size:85%;}
.conference .hero {float:right; margin:15px 18px; _margin:15px 9px; width:322px; height:242px;}

	.feature {float:left; width:760px;}
	.feature h2 {font-size:140%; line-height:1.2em;}
	.feature h3 {font-size:85%; padding-bottom:10px;}

	.event {width:745px; margin-right:0px;}
	.event .top {background:url(/homepage/pix/bg/game-events-feature-bg-spr.jpg) 0 0 no-repeat; width:745px; height:44px;}
	.event .middle {padding:8px 0 0 20px; background:url(/homepage/pix/bg/game-events-feature-bg-spr.jpg) -745px 0 no-repeat; width:726px;}
	.event .btm {background:url(/homepage/pix/bg/game-events-feature-bg-spr.jpg) -1490px 0 no-repeat; width:755px; height:25px;}
	.event .top h3 {float:left; margin:5px 0 0 20px; font-size:100%; color:#0860A8;}
	.event .top div.moreDetails {float:right; margin:12px 20px 0 0; color:#0860A8; padding-right:33px; background:url(/homepage/pix/ico/proc-accordion-toggle-spr.gif) right -37px no-repeat; cursor:pointer;}
	.event .top div.lessDetails {float:right; margin:12px 20px 0 0; color:#0860A8; padding-right:33px; background:url(/homepage/pix/ico/proc-accordion-toggle-spr.gif) right -6px no-repeat; cursor:pointer;}
	.event .icon {float:left; padding:0 23px 0 0;}
	.event .content {float:left; width:500px;}
	.event h3 {padding:8px 0px 7px 0px;}
	.event p {margin:0; padding:6px 0px; line-height:1.4em;}
	.event p.subheading {margin:0; padding:2px 0;}

	.ads {float:left; background:url(/homepage/pix/bg/game-events-promo-bg.jpg) no-repeat; width:220px;}
	.ads .promo {padding:16px 0px 0px 24px; *height:280px;}
	.ads .promo h3 {font-size:100%;}
	.ads .promo p {margin:0; font-size:.7em;}
	.ads .promo img.icon {padding:10px 50px;}
	.ads .promo p.caption {position:relative; top:-20px; margin:0; width:168px; text-align:center; font-size:.9em;}
.caption-rhc{
position:relative;
	z-index:100;}
	.ads .promo ul.shop {position:relative; top:-6px; width:168px;}
	.ads .promo ul.shop li {width:168px; margin-bottom:5px; background:url(/homepage/pix/ico/arrow-icon.gif) right no-repeat;}
	.ads .promo a {font-size:.8em; *font-size:.7em; font-weight:bold;}

	.ads .world {background:url(/homepage/pix/bg/game-events-world-bg.jpg) no-repeat; width:216px; height:430px; }
	.ads .world h3 {padding:20px 0 0 25px; width:164px;}
	.ads .world p {margin:0; margin-left:25px; font-size:75%; width:164px;}
	.ads .world img.icon {margin:10px 0 0 21px;}
	.ads .world ul.country {margin:15px 0 0 21px; width:176px;}
	.ads .world ul.country li {padding:8px 0; background:url(/homepage/pix/ico/arrow-icon.gif) right no-repeat; border-top:solid 1px #C0C0C0;}
	.ads .world ul.country li.first {border:none;}

/* Game - Tools */
.game-tools-features-c {/*djc-position:relative;*/ width:100%; _height:280px; min-height:280px; margin:10px 5px 0 0; background:url(/homepage/pix/bg/game-tools-features-bg.jpg) 0 0 no-repeat; z-index:50;}
.game-tools-features-c .badge { position:absolute; top:117px; left:785px; z-index:0; /*djc-top:0px; left:700px; z-index:10;*/ }
 DIV.game-tools-features-c { z-index:0; }
.game-tools-features { width:32%; }
.game-tools-intro {float:right; margin:140px 0 0 0; width:370px;}
.game-tools-intro .learn-more-product {margin:90px 0 0 0;}

/* Game XMP */ 
/*djc - removed from below rule (change requires badge fix below)--position:relative;*/
#game-xmp-feature-c { width:100%; _height:280px; min-height:280px; margin:1em 0 0 0; background:url(/homepage/pix/bg/game-xmp-features-bg.jpg) 0 0 no-repeat; z-index:50;}
/*#game-xmp-feature-c .badge { position:absolute; top:35px; left:595px; z-index:10; }*/

#game-xmp-feature-c .badge { position:absolute; top:168px; left:680px; z-index:0; }

#game-xmp-feature-c h1 { font-size:153.9%; }
#game-xmp-feature-c .hdr { font-size:93%; }
.game-xmp-features {width:100%;}
.game-xmp-intro { float:left; width:330px; margin:1em 5px 0 0;}
.game-xmp-experts { float:right; width:304px;}
.game-xmp-features-tbl { width:100%; font-size:85%; margin: 1em 0 0 0; border:1px solid #e5e5e5; }
.game-xmp-features-tbl td { padding:8px 15px; color:#666666; border:1px solid #e5e5e5; }
.game-xmp-features-tbl th { height:34px; text-align:center; font-weight:bold; background:#e6f0f9; }
.game-xmp-features-tbl .alt { background:#f6f6f6; }
.game-xmp-features-tbl .clear-alt { background:#ffffff; }
.game-xmp-features-intro { width:730px; margin:3em 0 1.5em 0; }
.game-xmp-features-intro img { float:left; margin:0 30px 0 0; }

/* Game Teams, Events & Downloads */
#game-teams-event-dl-feature-c {width:100%; _height:260px; min-height:260px; padding:0 0 .5em 0; margin:1em 0 1em 0; background:url(/homepage/pix/bg/gbl-featured-bg.jpg) 0 0 no-repeat;}
.game-teams-event-dl-features { float:left; width:492px; padding:0 20px 0 0; }

/* Game Teams */
#game-teams-c { float:left; width:750px; margin-right:6px; }
#game-teams-c ul { margin:1em 0 0 0; }
#game-teams-c h4 { font-size:116%; margin:0 0 1em 0; }
.game-teams-event-dl-features p {
	font-size:93%;
}
.game-dl-feature-logo {
	margin:25px 0 15px 0;
}
.game-extreme-chip {
	margin-bottom:-50px;
}
#teams-rich-media {
	width:330px;
	height:254px;
	padding:14px 2px 0 12px;
	background:url(/homepage/pix/bg/teams-rich-media-bg.jpg) 0 0 no-repeat;
}

/* Game Downloads */
.game-dl-logo { margin:18px 0 5px 0; }
.game-dl-bd p {
	padding-right:20px;
	margin-bottom:14px;
}
.game-dl-icon-download {
	display:inline;
	vertical-align:middle;
	margin:0 6px 0 0;
}

/* Game Shared */
.game-col-b-c { float:right; position:relative; width:170px; _height:320px; min-height:320px; margin:11px 0 0 0; padding:18px; text-align:center; background:url(/homepage/pix/bg/game-column-bg-spr.png) 0 0 repeat-y; }
.game-col-b-c h4 {
	position:relative;
	font:normal 100%/116% Verdana,Helvetica,Arial,Sans-Serif;
	color:#333333;
	z-index:100;
}
.game-col-b-c p {
	font:normal 77%/100% Verdana,Helvetica,Arial,Sans-Serif;
	color:#707070;
}
.game-col-b-c a {
	display:block;
	height:30px;
	background:url(/homepage/pix/ico/shop-blue-arrow.gif) right center no-repeat;
	margin:1em 0 0 0;
	text-align:left;
	font-size:85%;
}
.game-col-b-btm {
	position:absolute;
	bottom:0px;
	left:0px;
	width:206px;
	height:24px;
	background:url(/homepage/pix/bg/game-column-bg-spr.png) -208px 0 repeat-y;
}
.game-sec-bd {
	width:937px;
	_height:92px;
	min-height:92px;
	padding:14px 18px 0 18px;
	background:url(/homepage/pix/bg/game-bd-spr.gif) 0 0 repeat-y;
}
.game-sec-btm {
	width:973px;
	height:19px;
	margin-bottom:.4em;
	background:url(/homepage/pix/bg/game-bd-spr.gif) -973px 0 repeat-y;
}
.game-sec-bd h3 {
	padding:.7em 0 .4em 0;
}
#game-landing .game-sec-bd img.feat {
	float:right;
	margin-left:.7em;
}
#game-tools .game-sec-bd img.feat {
	float:left;
	margin:0 .7em 2em 0;
}
#game-teams .game-item-bd img.feat {
	float:left;
	margin:0 .7em 0 0;
}
#game-tools h3.em {
	margin-bottom:1.7em;
}
#game-downloads .game-sec-bd img.feat {
	float:left;
	margin:0 .7em 2em 0;
}
.game-item-bd {
	width:716px;
	_height:92px;
	min-height:92px;
	padding:14px 18px 0 18px;
	background:url(/homepage/pix/bg/game-bd-spr.gif) -1946px 0 repeat-y;
}
.game-item-btm {
	width:752px;
	height:19px;
	margin-bottom:.4em;
	background:url(/homepage/pix/bg/game-bd-spr.gif) -2698px 0 repeat-y;
}
/* game-content-template */
.conference .gameContentDetails h1 {padding-bottom:8px;}
.conference .gameContentDetails h3 {font-size:100%; padding-bottom:20px; color:#707070; font-weight:normal;}
.conference .gameContentDetails a.btn {display:block; width:177px; height: 26px; background:url(/homepage/pix/btn/game-content-btn-trial-demo.png) no-repeat; cursor:pointer;
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/general/consumer/resources/images/game-content-btn-trial-demo.png', sizingMethod='image');
}
.conference .gameContentDetails a.btn span {position:absolute; left:-9999em;}
.conference .gameContentDetails p {padding:0 0 12px 0;}
.gameContent-c {margin-top:25px;}
.gameContent-c h3 {border-bottom: 1px solid #e1e1e1; padding-bottom:4px; margin-top:25px; margin-bottom:10px; font-weight:bold;}
.gameContent-c h5 {font-weight:bold;}
.gameContent-c ul {margin:0 0 10px 0 !important; padding:0 !important;}
.gameContent-c ul li {background:url(/homepage/pix/ico/bullet-dot.gif) no-repeat 0 12px; padding:6px 0 0 8px; color:#707070; font-size:85%;}
.gameContent-c ul li ul li {background:url(/homepage/pix/ico/bullet-line.gif) no-repeat 0 12px; padding: 6px 0 0 14px; color:#707070;}
.gameContent-item-bd {width:720px; _height:92px; min-height:92px; padding:20px 16px 0 16px; background:url(/homepage/pix/bg/game-content-box.gif) 0 0 no-repeat;}
.gameContent-item-bd .imgCol {width:215px; float:left; padding:0; margin:0; }
.gameContent-item-bd .imgCol img {padding:10px 0;}
.gameContent-item-bd .contentCol {width:500px; float:left; padding:22px 0 0 0; margin:0;}
.gameContent-item-btm {width:752px; height:25px; margin-bottom:.4em; background:url(/homepage/pix/bg/game-content-box.gif) -752px 0 no-repeat;}
.gameContent-item-promo {width:206px; float:right; padding:0; margin:0;}
.gameContent-col-b-c {width:166px; _height:280px; min-height:280px; padding:20px; background:url(/homepage/pix/bg/game-column-bg-spr.png) 0 0 repeat-y;}
.gameContent-col-b-c h3 {padding-bottom:8px; font-weight:bold;}
.gameContent-col-b-c span.dlLink{display:block; background:url(/homepage/pix/ico/game-dl-icon-download.gif) no-repeat 0 4px; margin:0; padding:0;}
.gameContent-col-b-c a.dlLink {display:block; background:url(/homepage/pix/ico/game-dl-icon-download.gif) no-repeat 0 4px; padding-left:28px; font-size:85%; cursor:pointer;}
.gameContent-col-b-btm{width:206px; height:24px; background:url(/homepage/pix/bg/game-column-bg-spr.png) -208px 0 no-repeat;
}

/* Game - Mobile */
#feature-c h1.mobile-hdr {margin:0; padding-bottom:5px; line-height:100%;}
#feature-c .view-core2 {padding:5px 0 0px 32px; background:url(/homepage/pix/ico/icn-view-arrow.gif) 5px 3px no-repeat;}
#feature-c .view-core2 a {display:block; padding-bottom:3px;}
/* djc
#feature-c .shop-now {position:absolute; top:250px; right:10px; margin:0; padding:0; width:100%; z-index:1000;}
*/
#feature-c .shop-now { margin-left:600px; padding-top:220px; right:10px;   width:370px; z-index:1;}

.mobility {float:left; width:800px;}
.mobility h3 {font-size:93%;}
.mobility p {padding:12px 0;}
.chip {float:right;}
.content {margin-top:20px;}
.content #gwo-flash {float:left; border:none;}
.content #gwo-flash .about {padding-left:8px; background:url(/homepage/pix/ico/arrow-right-white-bg.gif) 324px 0 no-repeat;}
.content #gwo-flash .about a {display:block; padding-bottom:5px; font-size:85%;}
.content .description {float:left; margin-left:20px; width:585px;}
.content .description h3 {padding-top:20px;}
.content .description h3.top {padding:0; padding-bottom:10px;}
.content .description h4 {font-size:85%; font-weight:bold;}
.content .description p {padding:5px 0;}
.content .description p.sub-hdr {margin:0; padding:7px 0;}
.content .built-in li {padding:2px 0 0 10px; font-size:85%; color:#666; line-height:130%; background:url(/homepage/pix/bg/li-star-bg.gif) left 6px no-repeat;}
.content .built-in-game ul {padding-top:10px;}
.content .built-in-game li {padding:2px 0 5px 10px; font-size:85%; color:#666; line-height:130%; background:url(/homepage/pix/bg/li-star-bg.gif) left 6px no-repeat;}
.content .built-in-game-left {width:445px; float:left; padding-right:15px;}
.content .built-in-game-right {width:500px; float:right; padding-right:15px;}

/* Details Overlay */
#print { background:none; }
.print-overlay {width:650px; padding:0 7px 7px 7px; border:solid 2px #0860A8; margin-left:auto; margin-right:auto;}

.print-overlay .pagetools {width:100%; float:right; text-align:right; padding:4px 2px 15px 0; }
.print-overlay .pagetools img {padding-right:15px;}

.print-overlay .print-content {padding:8px; text-align:left;}
.print-overlay .print-content .header {float:left; width:380px; padding-left:15px;}
.print-overlay .print-content .header h2 {font-size:130%; line-height:100%; font-weight:bold; padding-top:12px;}
.print-overlay .print-content .header p.caption {font-weight:bold;}

.print-overlay .print-content .col-a {float:left; margin-top:12px; width:410px;}
.print-overlay .print-content .col-a h3 {padding:12px 0;}
.print-overlay .print-content .col-a dt {padding-top:10px; font-weight:bold; font-size:85%;}
.print-overlay .print-content .col-a dt.first {padding-top:0;}
.print-overlay .print-content .col-a dd {font-size:85%; color:#666;}
.print-overlay .print-content .col-a dd, .print-overlay .print-content .col-a p {line-height:150%;}

.print-overlay .print-content .col-b {float:right; margin-top:12px; width:180px;}
.print-overlay .print-content .col-b .print-details {width:180px; margin-bottom:12px; border:solid 2px #E1E1E1;}
.print-overlay .print-content .col-b .print-details p {padding:6px 18px; font-weight:bold; background:#EDF4FB;}
.print-overlay .print-content .col-b .print-details span {font-size:93%; *font-size:85%; /* IE needs 1 size smaller */}
.print-overlay .print-content .col-b .print-details ul {margin:10px 0 10px 20px; font-size:85%;}
.print-overlay .print-content .col-b .print-details li {padding:2px 0; list-style-type:disc;}
.print-overlay .print-content .col-b .print-details ul.nostyle li {list-style-type:none;}

/* ==================================================================
Form Styles
================================================================== */

.form-col {
	float:left;
	width:284px;
	margin:0 25px 0 0;
}
.form-input {
	width:250px;
	background-repeat:no-repeat;
	padding:2px;
}
.form-item {
	margin:0 0 12px 0;
}
.form-select {
	width:258px;
}
.form-label,
.form-label-optional {
	font-weight:bold;
	font-size:0.75em;
}
.form-label-optional {
	color:#999999;
}
.form-error-img {
	width:16px;
	height:16px;
	margin:4px 0 0 4px;
	display:none;
	background-image:url('/homepage/pix/ico/error-field.gif');
}
.form-error-msgs {
	font:bold 85%/138.5% Verdana,Helvetica,Arial,Sans-Serif;
	color:#990000;
	display:none;
}
.form-btn {
	margin:0 10px 10px 0;
}

/* ==================================================================
Utility Styles
================================================================== */
#popup-screen {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:#333333;
	z-index:1000;
	opacity:0.5;
	_filter:alpha(opacity=50);
}

.no-display {display:none;}

.img-txt {text-indent:-2000px; overflow:hidden;}

.clearfix {zoom:1;}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.left {float:left;}
.right {float:right;}

.skipNav, .print, .hide {display:none;}
.show {display:block;}
.show2 {display:inline;}
.clear {clear:both; margin:0; padding:0;}
.center {text-align:center;}
.autow {width:auto !important;}

/* ==================================================================
Plugins
================================================================== */
/* Tabs */
@media screen {.ui-tabs-hide {display:none;}}
.ui-tabs-nav a,
.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ui-tabs-nav a:active,
.ui-tabs-nav a span,
.ui-tabs-nav a:hover span,
.ui-tabs-nav a:focus span,
.ui-tabs-nav a:active span,
.ui-tabs-nav .ui-tabs-selected a,
.ui-tabs-nav .ui-tabs-selected a span,
.ui-tabs-nav .ui-tabs-disabled a:hover,
.ui-tabs-nav .ui-tabs-disabled a:focus,
.ui-tabs-nav .ui-tabs-disabled a:active,
.ui-tabs-nav .ui-tabs-disabled a:hover span,
.ui-tabs-nav .ui-tabs-disabled a:focus span,
.ui-tabs-nav .ui-tabs-disabled a:active span {text-decoration:none;}

.ui-tabs-nav .ui-tabs-selected a:link,
.ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled a:link,
.ui-tabs-nav .ui-tabs-disabled a:visited {cursor:pointer;  color:#333333;} /* @ Opera, use pseudo classes otherwise it confuses cursor... */

.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover,
.ui-tabs-nav .ui-tabs-unselect a:focus,
.ui-tabs-nav .ui-tabs-unselect a:active {cursor:pointer;} /* @ Opera again */

.ui-tabs-disabled {opacity:.4; filter:alpha(opacity=40);}
/*
.ui-tabs-panel {padding:1em 0 1em 8px;}
*/
/* Additional IE specific bug fixes... */

/* hide from IE 6 */
*>.ui-tabs-nav a span {width:auto; height:auto;}

/* auto clear, @ IE 6 & IE 7 Quirks Mode */
* html .ui-tabs-nav {display:inline-block;}

/* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
*:first-child+html .ui-tabs-nav  {display:inline-block;}

#detail-tabs .sections-tabs{
	width:980px;
	height:37px;
	list-style: none;
	font-size: 92%;
	margin-bottom:.7em;
	padding: 12px 0 0 0;
	background:url(/homepage/pix/bg/product-detail-tab-bg.gif) 0 0 no-repeat;
}
#detail-tabs .sections-tabs:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
#detail-tabs .sections-tabs li {
    float: left;
    margin: 0 0 0 10px;
    min-width: 84px; /* be nice to Opera */
}
#detail-tabs .sections-tabs a, .sections-tabs a span {
    display: block;
    padding: 0 10px 0 2px;
}
#detail-tabs .sections-tabs a {
	margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: #27537a;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */
    outline: 0; /* prevent dotted border in Firefox */
}
#detail-tabs .sections-tabs .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #000;
}
#detail-tabs .sections-tabs a span {
    _width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    _height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
#detail-tabs .sections-tabs .ui-tabs-selected a:link,
#detail-tabs .sections-tabs .ui-tabs-selected a:visited,
#detail-tabs .sections-tabs .ui-tabs-disabled a:link,
#detail-tabs .sections-tabs .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
#detail-tabs .sections-tabs a:hover, #detail-tabs .sections-tabs a:focus, #detail-tabs .sections-tabs a:active,
#detail-tabs .sections-tabs .ui-tabs-unselect a:hover, #detail-tabs .sections-tabs.ui-tabs-unselect a:focus, #detail-tabs .sections-tabs .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}

.v3navdhtml {z-index:100;}

@media print
{
	.disclaimer-text { display:block; }
	a.nav-main-link {
		background:0;
		text-indent:0px;
		overflow:visible;
	}
	.pagetools a {display:none;}
}