@font-face {
	font-family:"Open Sans";
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bolditalic-webfont.eot);
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bolditalic-webfont.eot?#iefix) format("embedded-opentype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bolditalic-webfont.woff2) format("woff2"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bolditalic-webfont.woff) format("woff"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bolditalic-webfont.ttf) format("truetype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bolditalic-webfont.svg#open_sansbold_italic) format("svg");
	font-weight:700;
	font-style:italic;
}
@font-face {
	font-family:"Open Sans";
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bold-webfont.eot);
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bold-webfont.woff2) format("woff2"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bold-webfont.woff) format("woff"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bold-webfont.ttf) format("truetype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-bold-webfont.svg#open_sansbold) format("svg");
	font-weight:700;
	font-style:normal;
}
@font-face {
	font-family:"Open Sans";
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-semibold-webfont.eot);
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-semibold-webfont.woff2) format("woff2"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-semibold-webfont.woff) format("woff"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-semibold-webfont.ttf) format("truetype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-semibold-webfont.svg#open_sansbold_italic) format("svg");
	font-weight:600;
	font-style:normal;
}
@font-face {
	font-family:"Open Sans";
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-italic-webfont.eot);
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-italic-webfont.eot?#iefix) format("embedded-opentype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-italic-webfont.woff2) format("woff2"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-italic-webfont.woff) format("woff"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-italic-webfont.ttf) format("truetype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-italic-webfont.svg#open_sansitalic) format("svg");
	font-weight:400;
	font-style:italic;
}
@font-face {
	font-family:"Open Sans";
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-regular-webfont.eot);
	src: url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-regular-webfont.woff2) format("woff2"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-regular-webfont.woff) format("woff"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-regular-webfont.ttf) format("truetype"),
		 url(http://i.forbesimg.com/assets/fonts/open-sans/opensans-regular-webfont.svg#open_sansregular) format("svg");
	font-weight:400;
	font-style:normal;
}