/* Jetzt im TV-Fragment */
a#tvAllKultur { 
color:#313131;font-size:12px; font-family:Arial,Helvetica,sans-serif;padding-left:38px;line-height:25px;vertical-align:bottom;
}

a#tvAllKultur:hover {
text-decoration:underline;
}
a#tvAllKultur:visited {
color:#313131;
}


/*
.ressortlistkicker{color:#979797;float:left;font-family:Verdana,Helvetica,Arial;font-size:10px;line-height:11px;padding-right:9px;text-align:right;text-decoration:none;width:87px}
.ressortlistct1 {font-size:17px;padding-bottom:3px;margin-bottom:3px;font-family:Arial, Helvetica, sans-serif}

.ressortlisten {float:left;width:100%;background: #fff;padding: 10px 0 20px;font-family: arial,sans-serif;border-top: 4px solid #A2A7BC;}
.ressortliste {float:left;margin: 20px 0;padding: 0;width:auto;}
.reslis.even {width: 610px;margin:0 10px 0 0;padding: 0 10px;border-right:3px solid #DEE3EC;float:left;}
.reslis.odd {width: 300px;float:left;}

.ressortlisten h3 {border-top:4px solid #a2a7bc;padding:1%;font-size:16px;float:left;width:98%;margin-top:-1px;background:#fff;}
.ressortliste ul, .ressortliste li {list-style:none;margin:0;padding:0;background:none;}
.ressortliste h2 {margin:0 0 10px 0;padding:0;font-size:12px;color:#333;background:#dee3ec;border:none;border-left: 13px solid #000;}
.ressortliste h2 a {color:#333;background:#fff;padding: 0 4px;line-height:12px;}
.ressortliste h2 a.morel {float:right;font-size:11px;line-height:12px;color:#11598C;text-transform:none;}
.ressortliste h2 a:hover {text-decoration:underline;}
.ressortliste .channel {float:left;width:100%;margin-right:10px;}
.ressortliste .channel li {margin-bottom:1px;padding-bottom:1px;border-bottom:1px dotted silver;font-size:10px;}
.ressortliste .channel li a {font-weight:100;color:#666666;}
.ressortliste .listen {float:left;padding-right:10px;width:610px;}
.ressortliste .listen li {margin-bottom:4px;padding:0 0 4px 0;font-size:12px;line-height:1.3em;border-bottom: 1px dotted #a2afc2;float:left;float:left;width:100%;background:none;}
.ressortliste .listen li:last-child {border:none;}
.ressortliste .listen img {padding: 1px;border:1px solid #ccc;}
.ressortliste .listen a {font-weight:700;font-size:13px;}
.ressortliste .listen p {margin: 3px 0;}
.ressortliste .listen a:hover {text-decoration:underline;}
.ressortliste .rechts {float:left;width:240px;margin-left:20px;background:#fff;padding:5px;display:none;}
.ressortliste .rechts h3 {margin:0 0 2px 0;padding:0 0 2px 0;border-bottom:3px solid silver;font-size:13px;color:#313131;}
.ressortliste .rechts ul li {font-size:11px;border-bottom:1px solid #d6dde0;padding:5px 0;line-height:15px;}
.ressortliste .rechts ul li a {font-weight:100;}

#content {width: 615px; padding-right:6px;}
#s4 {padding-left: 7px;}
*/
