/* --------------------------------
Buyer Helpdesk
-------------------------------- */
.buyer-helpdesk {
    margin:0 0 15px 0;
}
.buyer-helpdesk h1 {
    font-family: "Open Sans", arial;
    text-align:center;
    font-size:25px;
    margin-bottom: 15px;
    color: #555;
    font-weight: 300;
}
.buyer-helpdesk h2 {
    font-family: "Open Sans", arial;
    font-size: 18px;
    font-weight: 400;
    background-color: #e24141;
    color: #fff !important;
    padding:8px !important;
    text-align: center;
    margin-bottom:12px;
}
.buyer-helpdesk .buyer-helpdesk-form {
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 20px;
    width: 57%;
}
.buyer-helpdesk .buyer-helpdesk-form textarea, .supplier-inquiry textarea {
    background: #fff none repeat scroll 0 0;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-image: none;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #404040;
    display: inline-block;
    font-size: 13px;
    height:80px;
    margin: 0;
    padding:3px 8px;
    *width:97% !important;
}
.buyer-helpdesk .buyer-helpdesk-form input[type="email"]:focus, .buyer-helpdesk .buyer-helpdesk-form input[type="number"]:focus, .buyer-helpdesk .buyer-helpdesk-form input[type="password"]:focus, .buyer-helpdesk .buyer-helpdesk-form input[type="tel"]:focus, .buyer-helpdesk .buyer-helpdesk-form input[type="text"]:focus, input[type="url"]:focus {
    border: 1px solid #4d90fe;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
}
.buyer-helpdesk .buyer-helpdesk-form .tab_container input[type="email"]:focus, .buyer-helpdesk .buyer-helpdesk-form .tab_container input[type="text"]:focus {
    border: 1px solid #4d90fe;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
}
.buyer-helpdesk .buyer-helpdesk-form .tab_container, .supplier-inquiry .tab_container {
    background-color:#f7f7f7;
    border:none;
    box-shadow:none;
    padding:0;
    width:99%;
}
.buyer-helpdesk .buyer-helpdesk-form .tab_container input{
    background: none;
    margin:0 0 5px 0;
    padding: 0 8px;
    background: #fff none repeat scroll 0 0;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-image: none;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #404040;
    display: inline-block;
    font-size: 14px;
    width:95%;
    *width:177px !important;
}
.buyer-helpdesk .buyer-helpdesk-form .tab_container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border:none;
    clear: both;
    float:none;
    border-top:none !important;
    background:none;
}
.buyer-helpdesk .buyer-helpdesk-form .tab_container .captcha-field {
    background: #fff none repeat scroll 0 0 !important;
    border-image: none;
    border-radius: 1px !important;
    border-style: solid !important;
    border-width: 1px !important;
    float: right;
    margin: 0 5px 0 0;
    width: 88% !important;
}

.buyer-helpdesk .buyer-helpdesk-form input[type="email"], .buyer-helpdesk .buyer-helpdesk-form input[type="number"], .buyer-helpdesk .buyer-helpdesk-form input[type="password"], .buyer-helpdesk .buyer-helpdesk-form input[type="tel"], .buyer-helpdesk .buyer-helpdesk-form input[type="text"], .buyer-helpdesk .buyer-helpdesk-form input[type="url"] {
    -moz-border-top-colors: none;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-image: none;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #404040;
    display: inline-block;
    font-size: 14px;
    height:33px;
    line-height:33px;
    margin: 0;
    padding: 0 8px;
    *line-height:33px;
    *width:97% !important;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
.buyer-helpdesk .buyer-helpdesk-form .tab_container .captcha-field {
    width:99% !important;
}
}
.buyer-helpdesk .buyer-helpdesk-form .tab_container #captcha_img, .supplier-inquiry .tab_container #captcha_img{
    padding: 0 10px 0 0;
    margin:0;
   *max-width: none !important;
}
.buyer-helpdesk .buyer-helpdesk-form .tab_container #captcha_audio {
    padding:0 0 0 7px;
    font-size:11px;
}
.buyer-helpdesk .buyer-helpdesk-form .tab_container table td {
    font-size:12px !important;
}

/*
Sourcing Requirements Details
*/    
.buyer-helpdesk .sourcing-requirements-details {
    color: #000000 !important;
    width:85%;
    margin:0 auto;
}
.buyer-helpdesk .sourcing-requirements-details .sourcing-details {
    font-size:14px;
    margin:5px 0;
}
.buyer-helpdesk .sourcing-requirements-details .sourcing-details p {
    width:220px;
    float:left;
    clear:left;
    margin: 6px 0 0 0;
    padding:0;
}
.buyer-helpdesk .sourcing-requirements-details .sourcing-details label {
    font-size:14px;
    text-align:left;
}
.buyer-helpdesk .sourcing-requirements-details .sourcing-details input[type=radio] {
    width:20px;
    border:none;
    margin:8px 0;
}
.buyer-helpdesk .sourcing-requirements-details .sourcing-details .detail-fld{
    *width:20% !important;
    }
.buyer-helpdesk .sourcing-requirements-details .sourcing-details select, .buyer-helpdesk .sourcing-requirements-details .sourcing-details .detail-select  {
    border:1px solid #c2c1c1;
    padding:4px;
    height: 33px;
    width:200px;
}
.buyer-helpdesk .sourcing-requirements-details .sd-button-block {
    padding:0;
    width:25%;
    margin:0 auto;
}
.buyer-helpdesk .sourcing-requirements-details .sd-button-submit {
    background-color: #ff6f00;
    background-image: -moz-linear-gradient(center top, #ff6f00, #e36809);
    border: 1px solid #d46007;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.buyer-helpdesk .sourcing-requirements-details .sd-button, .buyer-helpdesk .sourcing-requirements-details .sd-button:visited {
    -moz-user-select: none;
    border-radius: 3px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    min-width:99%;
    text-align: center;
    text-decoration:none;
    font-size:15px;
    cursor:pointer;
    transition: all 0.218s ease 0s;
}
.buyer-helpdesk .sourcing-requirements-details h3 {
    font-family: "Open Sans", arial;
    font-size:17px;
    text-align:center;
    margin-bottom: 15px;
    color: #555;
    font-weight:700;
}
.buyer-helpdesk .sourcing-requirements-details p {
    font-size:14px;
    line-height:22px;
}
.form-white-wrap .buyer-helpdesk .profile-form {
    width:90%;
    margin-bottom:15px;
}
.form-white-wrap {
    background:#ffffff;
    text-align: left;
    font-family: arial;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(148, 145, 148, 1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(148, 145, 148, 1);
    box-shadow: 0px 0px 5px 3px rgba(148, 145, 148, 1);
    margin:10px 0;
    padding:5px 0;
}
.form-white-wrap .buyer-helpdesk .tab_container .captcha-full-width, .supplier-inquiry .tab_container .captcha-full-width {
    width:98% !important;
    *width:83% !important;
}
.form-white-wrap .buyer-helpdesk .tab_container input{
    background: none;
    margin:0 0 5px 0;
    padding: 0 8px;
    background: #fff none repeat scroll 0 0;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-image: none;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #404040;
    display: inline-block;
    font-size: 14px;
    width:95%;
    *width:205px !important;
}

/* --------------------------------
Supplier Inquiry
-------------------------------- */
.supplier-inquiry {
    background:#ffffff;
    text-align: left;
    font-family: arial;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(148, 145, 148, 1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(148, 145, 148, 1);
    box-shadow: 0px 0px 5px 3px rgba(148, 145, 148, 1);
    margin:10px 0;
    padding:15px;
}
.supplier-inquiry h2 {
    font-family: "Open Sans", arial;
    font-size: 17px;
    font-weight: 400;
    background-color: #0066cc;
    color: #fff;
    height:28px;
    line-height:20px;
    padding: 8px 0 2px 10px;
}
.supplier-inquiry form {
    background:#ececec;
    padding:15px;
}
.supplier-inquiry .tab_container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border:none;
    clear: both;
    float:none;
    border-top:none !important;
    background:#ececec !important;
}
.supplier-inquiry input[type="email"], .supplier-inquiry input[type="number"], .supplier-inquiry input[type="password"], .supplier-inquiry input[type="tel"], .supplier-inquiry input[type="text"], .supplier-inquiry input[type="url"] {
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-image: none;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #404040;
    display: inline-block;
    font-size: 14px;
    height: 33px;
    margin: 0;
    padding: 0 8px;
 *line-height:33px;
 *width:97% !important;
}
.supplier-inquiry .tab_container input{
    background: none;
    margin:0 0 5px 0;
    padding: 0 8px;
    background: #fff none repeat scroll 0 0;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-image: none;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #404040;
    display: inline-block;
    font-size: 14px;
    width:95%;
    *width:205px !important;
    }
.supplier-inquiry .tab_container input[type="email"]:focus, .supplier-inquiry .tab_container input[type="text"]:focus {
    border: 1px solid #4d90fe;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
}

/*
Anchor Tag
*/
.ti-new-design-ver3 .container .s-req {
    position:absolute;
    top:1280px;
    }
.ti-new-design-ver3 .container .s-req-profile {
    position:absolute;
    top:1300px;
    }
.ti-new-design-ver3 .container .s-req-free-profile{
    position:absolute;
    top:850px;
}
.tab_container button[type="button"] {
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    margin-top: 10px;
    width: 149px;
    background: url(https://img.tradeindia.com/new_website1/common/send-inq.jpg) no-repeat scroll 0 0 transparent;
}

.buyer-helpdesk .buyer-helpdesk-form .form-sprite {
    background-image:url(https://img.tradeindia.com/new_website1/ti-new-design-ver3/form-sprite.png);
    background-repeat:no-repeat
    }
    
.buyer-helpdesk .buyer-helpdesk-form .message{
    background-position:3px -39px;
    }
.buyer-helpdesk .buyer-helpdesk-form .subject{
    background-position:-19px 6px;
    }



