@charset "utf-8";
body{font:12px "宋体","Arial Narrow",HELVETICA; background:#fff; -webkit-text-size-adjust:100%; margin:0 auto; padding:0 atuo; font-size:12px;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
li{list-style:none}
img{border:0;vertical-align:middle;}
ol,ul,li,dl,dt,dd{list-style:none;}   
a:link,a:visited{color:#444;text-decoration:none;}
a:active,a:hover{color:#fc3000;text-decoration:underline}
h1,h2,h3,h4,h5,h6 { font-size:100%; }
address,cite,dfn,em,var { font-style:normal; }
code,kbd,pre,samp { font-family:courier new,courier,monospace; }
p{word-wrap:break-word}
.fl{float:left;}
.fr{float:right;}
.layout{width:1000px; margin:0 auto; overflow:hidden;}
.gad_list1{ margin-top:10px;}
.news_box{ border: 1px solid #d2d2d2;}
.news_box2{ margin-bottom:10px;}


#wrap{ margin:0px; padding:0px;}

/*顶部*/
.tc{ width:988px; margin:0 auto; position:relative; height:28px; background:#f8f8f8;  border:1px solid #ccc; border-top:none; line-height:28px; padding:0 5px;}
.ls a{ display:inline; padding:6px 0; background:url(../img/gtb.png) no-repeat; padding-right:14px;}
.ls .mp{ background-position:0 0; padding-left:15px;}
.ls .am{ background-position:0 -20px; padding-left:20px;}
.ls .xl{ background-position:0 -46px; padding-left:21px;}
.ls .tx{ background-position:0 -70px; padding-left:21px;}
.ls .wx{ background-position:0 -97px; padding-left:22px;}

.md{ float:right; color:#ccc;}
.md a:link,.md a:visited{ color:#333;}
.md a:hover,.md a:active{ color:#fc3000; text-decoration:none;}
.md a.red:link,.md a.red:visited{ color:#fc3000;}
.md a.red:hover,.md a.red:active{ color:#fc3000;}

.ptc{ width:1000px; margin:0 auto;}
.welcome{ float:left; color:#444;}
.shortcut{ color:#ccc; float:right;}
.shortcut a:link,.shortcut a:visited{ color:#444; padding:0 6px;}
.shortcut a:hover,.shortcut a:active{ color:#fc3000; text-decoration:none;}

/*底部*/
#footer{ width:1000px; margin:0 auto; overflow:hidden; position:relative; text-align:center; padding-top:18px; height:120px; clear:both; font-family:"微软雅黑";}
#footer .bt{padding-top:12px; border-top:1px solid #d5e7fb;}
#footer .safe{ padding-top:8px;}
#footer .safe a{ display:inline;}
#footer div{ line-height:24px; color:#ccc; white-space:nowrap;}
#footer div span{ color:#333;}
#footer .gd_ban span{ display:block; padding-right:78px;}
#footer div a:link,#footer div a:visited{ color:#333; padding:0 6px;}
#footer div a:hover,#footer div a:active{ color:#fc3000;}
.ewm{ position:absolute; width:200px; height:100px; top:24px; right:0px;}
.ewm img{ width:100px; height:100px;}
.ewm a img{ width:88px; height:88px;}
#footer .safe a img{ width:83px; height:30px;}

.fu_menu{ display:block; float:right;}
.fu_menu .vrlequ{ display:block; width: 60px; height:50px; background:url(../img/home_vr.png) right 5px no-repeat; padding-right: 3px;float: left;font-weight: normal;}
.fu_menu a:link,.fu_menu a:visited{ display:block; float:left; width: 60px; height:50px; line-height:50px; color:#ccc; text-align:center; font-size:14px;}
.fu_menu a:hover,.fu_menu a:active{ color:#ff0; text-decoration:none;}

/*广告*/
.ad_list1{margin-top:5px; clear:both; margin-bottom:10px;}
.ad_list2{ margin-top:5px; float:left; clear:both;}
.ad_list3{ clear:both; margin-top:5px; border:none;}
.ad_list4{ margin-bottom:5px; float:left; clear:both;}
.ad_list5{ margin-bottom:5px;  margin-top:5px; clear:both;}
.ads_c1{ clear:both; margin:0 auto; width:1000px; border:none;}
.ads_c4{ clear:both; margin:0 auto; width:1000px; border:none; overflow:hidden;}
.ads_c4 iframe{ margin:5px 0;}
.ads_c4 div{ margin:5px 0;}
.ads_c2{ clear:both; margin:0 auto; width:1000px; border:none;}
.ads_c3{ clear:both; margin:0 auto; width:1000px; border:none;}
.ads_c3 iframe{ margin-top:5px;}
.ads_c3 div{ margin-top:5px;}
.ads_c3_980{ clear:both; margin:0 auto; width:1000px; border:none;}
.ads_c3_980 iframe{ margin-top:5px;}
.ads_c3_980 div{ margin-top:5px;}
.ads_c2_980{clear:both; margin:0 auto; width:980px; border:none; margin-top:5px;}

/*1000广告宽度*/
.w1000{ width:1000px;}
.ads_cm{ margin-top:10px;}

/*专区顶部样式*/
.gametop1162{background:url(../img/online_topbg.jpg) repeat-x;}
.gametop250{height:38px;  background:url(../img/game_topbg.jpg) repeat-x; position:relative;}
.gametcen{ width:980px; margin:0 auto; color:#ccc; position:relative;}
.gametcen .cnleft{ overflow:hidden; }
.cnleft a:link,.cnleft a:visited{ color:#333; padding:0 6px; line-height:38px; font-size:12px;}
.cnleft a:hover,.cnleft a:active{ color:#fc3000;}
.gametcen .hmore{ display:block; height:38px; line-height:38px; border-bottom:none; width:42px; float:right; text-align:center;  position:absolute; right:0; top:0; z-index:9999;}
.elseg a:link,.elseg a:visited{ color:#333;}
.elseg a:hover,.elseg a:active{ color:#fc3000;}
.gametcen .game_top_more{ position:absolute; right:0px; width:250px;  line-height:24px!important;padding:10px; background:#fff; border:1px solid #dedede; border-top:none; border-bottom:2px solid #e3cf5e; top:38px;}
.gametcen .cnleft .game_top_more a{ color:#333; padding-right:6px;}
.gametcen .else{ display:block; height:37px; background:#fff; line-height:37px; border:1px solid #dedede; border-bottom:none; width:40px; float:right; text-align:center; position:absolute; right:0px; top:0px; z-index:9999;}
.loc_box{ float:left;}


.bdcs-container .bdcs-search-form-input,.bdcs-container .bdcs-search-form-submit{ display:block; float:left;}
.game_heart p span#vote_count{ color:#fc3000; font-weight:bold; padding:0 4px;}

/*专区新版列表*/
.prefectureyb{ display:block; width:298px; height:224px; border:1px solid #a1e0ff;}
.prefectureszs{ display:block; width:298px; height:210px; border:1px solid #a1e0ff;}
.prefectureys{ height:80px; width:282px; overflow:hidden; padding-top:15px; padding-left:15px;}
.prefectureys .li_img{ float:left; width:80px; height:80px; display:block; overflow:hidden;}
.prefectureys .li_info{ width:190px; float:right; overflow:hidden; height:90px;}
.prefectureys .li_info h1{ display:block; font-size:18px; font-family:"微软雅黑"; width: 172px; color:#fe0000; font-weight:normal; padding-bottom:7px; white-space: nowrap; overflow: hidden;}
.prefectureys .li_info p{ display:block; height:23px; line-height:23px; color:#888888;}
.prefectureys .li_info p img{ padding-bottom:3px;}
.moddown_zq_list{ display:block; padding-top:13px; padding-left:15px;}
.moddown_zq_list .godown{ /* padding-right:4px; */ width:280px; height:46px; position: relative; z-index: 19; margin-bottom:10px;}
.moddown_zq_list .anzhuo{ background:url(../img/prefectureyb_azhuo.png) no-repeat;}
.moddown_zq_list .pingguo{ background:url(../img/prefectureyb_pingguo.png) no-repeat; width: 140px; float: left;}
.moddown_zq_list .pingban{ background:url(../img/prefectureyb_ipad.png) no-repeat; width: 140px; float: right;}
.moddown_zq_list .anzhuoNO{ background:url(../img/prefectureyb_azhuohui.png) no-repeat;}
.moddown_zq_list .pingguoNO{ background:url(../img/prefectureyb_pingguohui.png) no-repeat; width: 140px; float: left;}
.moddown_zq_list .pingbanNO{ background:url(../img/prefectureyb_ipadhui.png) no-repeat; width: 140px; float: right;}
.moddown_zq_list .anzhuo_no{ background:url(../img/mu2_anzhuodown_hui.png) no-repeat;}
.moddown_zq_list .pingguo_no{ background:url(../img/mu2_pingguodown_hui.png) no-repeat;}
.moddown_zq_list .pingban_no{ background:url(../img/mu2_padedoen_hui.png) no-repeat;}
.moddown_zq_list .godown .j-count{ display:block; float:left; width:198px; height:46px; outline:none;}
.moddown_zq_list .godown .trigger{ display:block; float:left; width:69px; height:46px;}
.moddown_zq_list .dclist li h3,.dclist li p{ line-height:27px;}
.moddown_zq_list .dclist li h3{ font-size:14px;}
.moddown_zq_list .dclist li h3 a:link,.dclist li h3 a:visited{ color:#049;}
.moddown_zq_list dclist li h3 a:hover,.moddown_zq_list .dclist li h3 a:active{ color:#fc3000;}
.moddown_zq_list .dclist li p{ color:#888;}
.moddown_zq_list .godown .qr {position: absolute; text-indent:0px;top: -5px;right: -160px;width: 140px;height: 145px;padding-top: 15px;background: #fff;border: 1px solid #ebebeb;text-align: center;z-index: 99;}
.moddown_zq_list .godown .qr img{ width:120px; height:120px;}
.moddown_zq_list .godown .qr .tri {position: absolute;top: 5px;left: -16px;display: block;width: 16px;height:36px;background: url(../img/qr_tri.jpg) right center no-repeat;}
.moddown_zq_list .dclist li .qr p {line-height: 22px;font-size: 14px;font-family:"微软雅黑";color:#666;}
.prefectureszs .zushouxiaz{ width:298px; overflow:hidden; padding-bottom:6px;}
.prefectureszs .zushouxiaz ul{ margin:0px; padding:0px; padding-left:12px; padding-top:18px;}
.prefectureszs .zushouxiaz ul li {display: block; float:left; height:94px; width:94px;}
.prefectureszs .zushouxiaz a{ display:block;width:84px; height:84px;}
.prefectureszs .zushouxiaz img{ width:84px; height:84px;}
.layoutingty{width:1000px;}
.aboutrtingty{width:300px;	float:right;}
.newslefttingty{ width:688px; overflow:hidden; padding-top:10px; padding-bottom:5px;}
.newslefttingty ul{padding-top: 0px;}
.newslefttingty ul li{line-height:46px; clear: both;border-bottom: 1px dashed #ebebeb;color: #3d3d3d;overflow: hidden; height: 45.8px;}
.newslefttingty .newsbt,.newsname{ display:block; float:left;}
.newslefttingty .newsbt{ font-size:14px; color:#888; padding:0 3px 0 6px;}
.newslefttingty a.newsname:link,a.newsname:visited{ color:#333; width:560px; font-size: 14px; overflow:hidden; white-space:nowrap; font-family:"微软雅黑";}
.newslefttingty a.newsname:hover,a.newsname:active{ color:#fc3000;}
.newslefttingty .newstime{ display:block; float:right; padding-right:10px; color:#999; font-family:Verdana, Geneva, sans-serif; font-size: 12px;}

.page{line-height:25px !important;}
.color_border{border:1px solid #cbdce9;}
.mt5{ margin-top:5px;}
.mb5{ margin-bottom:5px;}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}

.backelse{ overflow:hidden; height:27px; line-height:27px; color:#ccc;}
.backelse a:link,.backelse a:visited{ color:#333; padding:0 6px;}
.backelse a:hover,.backelse a:active{ color:#fc3000;}
.gamedogcy{ padding:0 10px;}


.news_header{ height:100px; clear:both;}
.news_header .hh_hcon{ width:1000px; margin:0 auto; position:relative; height:100px;}
.news_header .hh_hcon .hhlogo{ display:block; position:absolute; left:0px; top:28px;}
.news_header .hh_hcon .hh_search{ display:block; background:url(../img/newsxin_search.png) no-repeat; width:378px; height:35px; position:absolute; right:0px; top:31px;}
.news_header .hh_hcon .hh_search span{ display:block; float:left;}
.news_header .hh_hcon .hh_search .s_pt{ width:310px; padding:3px; height:29px;}
.news_header .hh_hcon .hh_search .s_pt input{ border:none; background:none; outline:none; width:310px; height:29px; line-height:29px; font-size:13px; color:#888; text-indent:10px;}
.news_header .hh_hcon .hh_search .s_pb{ width:61px; cursor:pointer;}
.news_header .hh_hcon .hh_search .s_pb input{ border:none; background:none; width:61px; height:35px; cursor:pointer; outline:none;}
.news_xnavqb{ background:#333333; height:48px; display:block;}
.news_xnavqb .xnav{ width:1000px; margin:0 auto; overflow:hidden; height:48px; background:#333333; clear:both;}
.news_xnavqb .xnav ul{ display:block; float:left;}
.news_xnavqb .xnav ul li{ display:block; float:left; width:90px; text-align:center; font-size:16px; color:#fff; line-height:46px; font-weight:normal;}
.news_xnavqb .xnav ul .on{ background:#009de8; display:block; font-weight:bold;}
.news_xnavqb .xnav ul li a:Link,.news_xnavqb .xnav ul li a:visited{ color:#fff; display:block; width:100%; height:48px; line-height:48px;}
.news_xnavqb .xnav ul li a:hover,.news_xnavqb .xnav ul li a:active{ color:#fff; text-decoration:none; background:#009de8;}
.news_xnavqb .xnav ul li.current{ background:#7e0000;}
.xnav ul #yuanchuan a{ font-weight:normal;}

.ad_list6{ margin-bottom:10px; clear:both;}

.ls a.assistant{ background:url(../img/home_zs.png) no-repeat left center;padding-left: 25px;}

.nav_top2{ background:#f5f5f5; border-bottom:1px solid #e9e9e9; height:35px; line-height:35px; font-family:"微软雅黑";}
.top2{ display:block; position:relative;}
.t_nav2{ height:35px; position:absolute; right:0; top:0; color:#ccc;}
.t_nav2 a{ padding:0 5px; color:#333333;}
.t_nav2 a:hover{ color:#F00; text-decoration:none;}
.t_nav2{ overflow:hidden; line-height:35px; height:35px; padding-right:5px;}
.t_nav2 a{ color:#333; height:35px; line-height:35px; display:inline-block; padding-left:5px;}
.t_nav2 a:hover{ color:#fc3000; text-decoration:none;}
.t_nav2 a.ditu2{ background:url(../img/map_cion3.png) no-repeat left center !important; padding-left:20px;}
.t_welcome2 .twel1 li{ display:block; float:left; width:100px; text-align:center; margin:0 auto; border-right: 1px solid #e9e9e9; _line-height:35px;}
.t_welcome2 .twel1 .tur{ display:block; width:100px; height:35px; background:url(../img/cion03.png) no-repeat; margin-top:1px; _line-height:35px;}
.t_welcome2 .twel1 li .yxgou{ padding-left:0px; color:#333;}
.t_welcome2 .twel1 li a{ _padding-top:10px; display:block;}
.t_welcome2 .twel1 a:hover{ color:#F00; text-decoration:none;}
.t_welcome2 .twel1 li .yxgou_cion{ display:inline-block; width:19px; height:16px; background:url(../img/cion01.png) no-repeat left 0px scroll; vertical-align:middle; margin-right:7px;}
.t_welcome2 .twel1 li .vrlequ{ padding-left:0px; color:#333;}
.t_welcome2 .twel1 li .vrlequ:hover{ color:#F00; text-decoration:none;}
.t_welcome2 .twel1 li .vrlequ_cion{ display:inline-block; width:17px; height:16px; background:url(../img/cion02.png) no-repeat left 0px scroll; vertical-align:middle; margin-right:7px;}
.twel2{ color:#CCC;}
.twel2{ _padding-top:6px;}
.t_welcome2 .twel2 a{ padding:0 10px; text-align:center; margin:0 auto; color:#333;}
.t_welcome2 .twel2 a:hover{ color:#F00; text-decoration:none;}
.t_welcome2 .twel2 .sjkehu2{ padding-left:10px; color:#333;}
.t_welcome2 .twel2 .sjkehu_cion2{ display:inline-block; width:20px; height:24px; background:url(../img/cion06.png) no-repeat left 0px scroll; vertical-align:middle; margin-right:7px;}
.t_welcome2 .twel2 .shoujz{ padding-left:10px; color:#333;}
.t_welcome2 .twel2 .shoujz_cion{ display:inline-block; width:10px; height:16px; background:url(../img/cion05.png) no-repeat left 0px scroll; vertical-align:middle; margin-right:7px;}


/*新底部*/
.xindibu{ display:block; background:#333333; height:190px; margin-top:10px; clear:both;}
#footerxd{ width:1000px; margin:0 auto; overflow:hidden; position:relative; text-align:center; padding-top:18px; height:160px; clear:both; font-family:"微软雅黑";}
.xindibu2 #footerxd{ padding-top:28px !important; color:#ddd;}
#footerxd .bt{ padding-bottom:8px; color:#ddd;}
#footerxd .safe{ padding-top:8px; color:#ddd;}
#footerxd .safe a{ display:inline; color:#ddd;}
#footerxd div{ line-height:24px; color:#ddd; white-space:nowrap;}
#footerxd div span{ color:#ddd;}
#footerxd .gd_ban span{ display:block; padding-right:78px;}
#footerxd div a:link,#footerxd div a:visited{ color:#ddd; padding:0 6px;}
#footerxd div a:hover,#footerxd div a:active{ color:#fc3000;}
.ewmx2{ position:absolute; width:200px; height:100px; top:20px; right:0px;}
.ewmx2 .ewm1{ display:block; float:left; width:42px; position:relative; padding-left:10px; padding-top:10px;}
.ewmx2 .ewm1 a.weix{ display:block; background:url(../img/cionw1.png) no-repeat; width:44px; height:44px; position:absolute; top:5px; left:15px;}
.ewmx2 .ewm1 a:hover.weix{ display:block; background:url(../img/cionw2.png) no-repeat; width:44px; height:44px; position:absolute; top:5px; left:15px;}
.ewmx2 .ewm1 a.xinl{ display:block; background:url(../img/cionw3.png) no-repeat; width:44px; height:44px; position:absolute; top:55px; left:15px;}
.ewmx2 .ewm1 a:hover.xinl{ display:block; background:url(../img/cionw4.png) no-repeat; width:44px; height:44px; position:absolute; top:55px; left:15px;}
.ewmx2 .ewm2{ display:block; padding-left:70px; width:90px;}
.ewmx2 .ewm2 b{ display:block; width:90px; text-align:center; color:#ddd; font-size:11px; font-family:"微软雅黑"; font-weight:normal; padding-top:2px;}
.ewmx2 .ewm2 img{ width:90px; height:90px; padding-top:8px; padding-left:2px;}
#footerxd .safe a img{ width:83px; height:30px;}
#footerxd .lingj img{ width:72px !important; height:72px !important;}