@charset "utf-8";
#home_body{ width:1000px; overflow:hidden; margin:0 auto;}
.warpmian{position: relative; width: 1000px; margin:0 auto; zoom: 1; z-index: 99;}
/*推荐*/
.pn_game{ background:#fff; overflow:hidden; clear:both;}
.tab_menu{ height:34px; padding-top:3px; display:block;}
.tab_menu li{ display:block; float:left; height:38px; overflow:hidden; line-height:34px; font-size:14px; font-family:"微软雅黑"; width:113px; cursor:pointer; padding-left:30px;}
.tab_menu li.current{ background:url(../img/home_ttcur.png) no-repeat bottom center;}
.tab_menu li.last{ width:112px;}
.tab_menu li p{ padding-left:26px; line-height: 38px; color:#666; width:86px;}
.tab_menu li p.s1{ background:url(../img/home_i1.png) no-repeat left center;}
.tab_menu .current p.s1{ background:url(../img/home_i11.png) no-repeat left center;}
.tab_menu li p.s2{ background:url(../img/home_i22.png) no-repeat left center;}
.tab_menu .current p.s2{ background:url(../img/home_i2.png) no-repeat left center;}
.tab_menu li p.s3{ background:url(../img/home_i44.png) no-repeat left center;}
.tab_menu .current p.s3{ background:url(../img/home_i4.png) no-repeat left center;}
.tab_menu li p.s6{ background:url(../img/home_i33.png) no-repeat left center;}
.tab_menu .current p.s6{ background:url(../img/home_i3.png) no-repeat left center;}
.tab_menu li p.s4{ background:url(../img/home_i5.png) no-repeat left center;}
.tab_menu li p.s5{ background:url(../img/home_i6.png) no-repeat left center;}
.tab_menu li p.s7{ background:url(../img/home_i7.png) no-repeat left center;}

.item_box{ padding-top:5px; float:left; width:1000px;}

.it_tui{ overflow:hidden; clear:both; height:100px; padding-top:8px; border-bottom:1px dashed #d5d5d5; margin-bottom:5px;}
.it_tui li{ display:block; float:left; width:100px; text-align:center; white-space:nowrap; overflow:hidden;}
.it_tui li a:link,.it_tui li a:visited{ display:block; cursor:pointer; color:#333;}
.it_tui li a:hover,.it_tui li a:active{ color:#fc3000; text-decoration:none;}
.it_tui li a img{ width:70px; height:70px;}
.it_tui li a:link span,.it_tui li a:visited span{ display:block; padding-top:5px; color:#333;}
.it_tui li a:hover span,.it_tui li a:active span{ color:#fc3000;}
.item { overflow:hidden; clear:both;}
.item .t{ width:40px; padding-left:8px; overflow:hidden; font-family:"微软雅黑"; padding-top:5px;}
.item .t a:link,.item .t a:visited{ display:block; width:35px; height:17px; line-height:17px; color:#fff; padding-left:5px; text-decoration:none;}
.item .t a:hover,.item .t a:active{ text-decoration:none; color:#fff;}
.item .ol a{ background:url(../img/home_blue.png) no-repeat;}
.item .sl a{ background:url(../img/home_pink.png) no-repeat;}
.item .box{ width:952px; overflow:hidden; font-family:"宋体";}
.item .box li{ white-space:nowrap; overflow:hidden; line-height:27px; width:100%; float:left;}
.item .box li a:link,.item .box li a:visited{ padding:0 4px 0 15px; color:#333;}
.item .box li a:hover,.item .box li a:active{ color:#fc3000;}
.item .box li a.red:link,.item .box li a.red:visited{ color:#fc3000;}

.kawrap{ display:block; width:1000px; height: 103px; position:relative; margin-top:5px; *margin-top:10px; margin-bottom:8px; _margin-bottom:2px;}
.mr_frUl{ display:block; width:935px; margin:0 auto; overflow:hidden; padding-top:5px; padding-top:1px; height: 116px;  white-space:nowrap; position:relative;}
.tempWrap{ display:block; height: 110px; overflow:hidden;}
.mr_frUl ul{ white-space:nowrap; display:block; position:relative}
.the_one_ka{ display:block; width:22px; height:78px; position:absolute; left:0px; top:0;}
.the_one_ka a:link,.the_one_ka a:visited{ display:block; background:url(../img/home_next.png) no-repeat; width:22px; height:99px; background-position:0 0;}
.the_one_ka a:hover,.the_one_ka a:active{ background-position:0 -99px;}
.the_next_ka{ display:block; width:22px; height:78px; position:absolute; right:0px; top:0;}
.the_next_ka a:link,.the_next_ka a:visited{ display:block; background:url(../img/home_next.png) no-repeat; width:22px; height:99px; background-position:-23px 0;}
.the_next_ka a:hover,.the_next_ka a:active{ background-position:-23px -99px;}

.list_lb{ display:block; overflow:hidden; width:936px; margin:0 auto;}
.list_lb li{ display:block; float:left; width:296px; padding-left:8px; padding-right:8px; height: 109px;}
.list_lb li i{ display: block; width:296px; height:99px; background-color: #000; opacity: 0.7; filter:alpha(opacity = 70); position: absolute; left:0px; top: 0;}
.list_lb li a{ display:block; cursor:pointer; position:relative; width:296px; height:99px;}
.list_lb li a:hover{ text-decoration:none;}
.list_lb li a img{ width:296px; height:99px;}
.list_lb li a p{ display:block; margin:0 10px; line-height:24px; color:#fff; font-family:"微软雅黑"; padding-top:20px; height:32px; text-align:center; text-decoration:none; font-size:14px;}
.list_lb li a:link span,.list_lb li a:visited span{ display:block; width:72px; font-family:"微软雅黑"; height:25px; line-height:25px; text-align:center; border-radius:5px; background:#f60; color:#fff; margin:0 auto; overflow:hidden; clear:both;}
.list_lb li a:hover span,.list_lb li a:active span{ color:#fff; background:#f90;}
.dis{ display:block; position:absolute; width:296px; height:99px; left:0px; top:0;}
.no{ display:none;}

/*第一块*/
.ly_tp{ overflow:hidden; clear:both; height:687px;}
/*块一左*/
.col_l{ width:360px; overflow:hidden;}
.slide_show{ width:360px; height:234px; overflow:hidden;}
.modimg_online{ width:360px; height:234px; overflow:hidden;}
.mod_eye{ display:block; position:relative;}
.eye{ position:absolute; left:0px; top:0px; width:360px; height:225px;}
.eye a{ display:block; width:360px; height:225px; overflow:hidden;}
.eye a:Hover{ text-decoration:none;}
.eye a img{ width:360px; height: 180px;}
.eye a p{ display:block; overflow:hidden; font-family:"微软雅黑"; font-size: 16px; text-decoration:none; width: 352px; height: 45px; line-height: 45px; text-align:center; background:#f8f8f8; color:#666; overflow:hidden; white-space:nowrap; padding:0 4px;}
.eye a:hover p{ text-decoration:none !important; color:#fc3000;}
.big_eye{ width:390px; height:9px; position:absolute; left:0px; top:225px;}
.big_eye li{ display:block; width:45px; height:9px; overflow:hidden; float:left;}
.big_eye li a{ display:block; float:left; width:44px; border-left:1px solid #fff; height:9px; background:#fda414; text-indent:-9999px;}
.big_eye li a.current,.big_eye li a.ahover{ background:#41b5ee; border-left:1px solid #41b5ee;}


.award_acti{ overflow:hidden; height:260px;}
.tit{ height:32px; line-height:32px; border-bottom:1px solid #e0e0e0;}
.tit span,.tit a{ display:block; float:left; font-size:18px; color:#333; font-family:"微软雅黑";}
.tit b{display:block; float:left; font-size:18px; color:#333; font-family:"微软雅黑"; font-weight:normal;}
.tit a:Hover{ color:#fc30000; text-decoration:none;}
.lant{ width:4px; height:33px; overflow:hidden; margin-right:9px;}

.actlist{ padding-top:10px;}
.acttop{ width:390px; margin-left:-10px;}
.acttop li{ display:block; width:115px; padding-left:7.5px; float:left; height:136px; padding-top:4px; overflow:hidden;}
.acttop .tm10{ _margin-left:-10px;}
.acttop li a{ display:block; cursor:pointer; text-decoration:none;}
.acttop li a span{ display:block; text-align:center;}
.acttop li a span img{ width:115px; height:87px;}
.acttop li a b{ display:block; line-height:20px; color:#444; font-weight:normal; padding-top:2px; padding-left:3px; *padding-left:2px; overflow:hidden; height:40px;}
.acttop li a b:hover{ color:#F00;}
.acttop li a b:link,.acttop li a b:hover{ color:#444;}
.acttop li a b:hover,.acttop li a b:active{ color:#F00; text-decoration:underline;}

.actbot{ width:390px; margin-left:-10px;}
.actbot li{ display:block; width:175px; padding-left:10px; height:27px; margin-top:10px; float:left;}
.actbot li .at{ display:block; float:left; width:3px; writing-mode:lr-tb; font-family:"微软雅黑"; color:#fff; height:27px;}
.actbot li .co1{ background:#ff286f;}
.actbot li .co2{ background:#fda414;}
.actbot li .co3{ background:#6cd04a;}
.actbot li .co4{ background:#cc64cc;}
.actbot li a:link,.actbot li a:visited{ display:block; float:left; width:161px; padding-right:5px; white-space:nowrap; background:#f8f8f8; height:27px; line-height:27px; padding-left:5px;}
.actbot li a:hover,.actbot li a:active{ -moz-box-shadow:1px 1px 3px #ccc; -webkit-box-shadow:1px 1px 3px #ccc; box-shadow:1px 1px 3px #ccc; color:#fc3000; text-decoration:none;}
.yctext{ overflow:hidden; height:178px;}
.yclist{ overflow:hidden;}
.yctw{ width:115px; overflow:hidden; padding-top:10px;}
.yctw a{ display:block; cursor:pointer;}
.yctw a span{ display:block;}
.yctw a span img{ width:115px; height:87px;}
.yctw a b{ color:#333; font-size:12px; font-weight:normal; line-height:20px; padding-top:4px; display:block;}
.yctw a:Hover b{ color:#fc3000;}
.ycrl{ width:228px; padding-left:12px; overflow:hidden; padding-top:4px;}
.ycrl li{ display:block; float:left; width:100%; line-height:28px; white-space:nowrap; overflow:hidden;}
.ycrl li em{ display:block; float:left; background:#ccc; width:3px; height:3px; border-radius:3px; margin-right:6px; margin-top:14px; overflow:hidden;}
.ycrl li a:link,.ycrl li a:visited{ display:block; float:left; color:#333; width:214px; white-space:nowrap; overflow:hidden;}
.ycrl li a:Hover,.ycrl li a:active{ color:#fc3000;}

/*块一中*/
.col_m{ width:360px; overflow:hidden; padding-left:15px;}
.color1{ height:120px;}
.color1 li {line-height: 26px; height: 26px;font-size: 14px;}
.color1 li.newst1 {font: 18px/26px 'Microsoft Yahei';background: none;text-align: center; padding-bottom:5px; padding-left:0px; text-align:center; white-space:nowrap; text-overflow:ellipsis;-o-text-overflow:ellipsis; overflow:hidden; font-weight:bold;}
.color1 li.newst1 a:link,.color1 li.newst1 a:visited{ color:#fc3000;}
.color1 li.newst1 a:hover,.color1 li.newst1 a:active{ color:#fc3000;}
.color1 li.newst2, .news li.newst2a {text-align: center;font-size: 12px;padding: 0px 10px;}
.newsqh{ border-top:1px dashed #e0e0e0; display:block; overflow:hidden; padding:5px 0;}
.noline{ border-bottom:none;}
.newsqh li{ line-height:30px; padding:0px;}
.newsqh li code{ display:block; float:left; width:46px; color:#888;}
.newsqh li a:link,.newsqh li a:visited{ display:block; width:273px;  white-space:nowrap; overflow:hidden; color:#404040; font-size:14px; float:left;}
.newsqh li a:hover,.newsqh li a:active{ color:#fc3000;}
.newsqh li span{ display:block; float:right; color:#999; font-family:Arial, Helvetica, sans-serif; width:26px;}

.tese{ overflow:hidden; clear:both; padding-top:5px;}
.tstie{ height:47px; overflow:hidden; clear:both; position:relative;}
.tstie span{ display:block; float:left; font-family:"微软雅黑";  width:110px; height:47px; position:absolute; font-size:16px; color:#333; text-align:center; line-height:40px;}
.tstie .tstu{ left:0px; top:0;}
.tstie .tstu a:link,.tstie .tstu a:visited{ background:url(../img/home_tslan.png) no-repeat; display:block; width:110px; height:47px; line-height:40px; background-position:0 0;}
.tstie .tstu a:hover,.tstie .tstu a:active{ background-position:0 -57px; color:#fff; text-decoration:none;}
.tstie .tszm{ left:125px; top:0;}
.tstie .tszm a:link,.tstie .tszm a:visited{ background:url(../img/home_tslan.png) no-repeat; display:block; width:110px; height:47px; line-height:40px; background-position:-125px 0;}
.tstie .tszm a:hover,.tstie .tszm a:active{ background-position:-125px -57px; color:#fff; text-decoration:none;}
.tstie .tsys{ left:250px; top:0;}
.tstie .tsys a:link,.tstie .tsys a:visited{ background:url(../img/home_tslan.png) no-repeat; display:block; width:110px; height:47px; line-height:40px; background-position:-249px 0;}
.tstie .tsys a:hover,.tstie .tsys a:active{ background-position:-249px -57px; color:#fff; text-decoration:none;}
.curimg{ padding-top:5px;}
.curimg .tsys_b{ display:block; width:360px; height: 120px;}
.curimg .tsys_b a{ display:block; overflow:hidden; width:175px; height:118px;}
.curimg .tsys_b .tsys_b_a_l{ display:block; float:left;}
.curimg .tsys_b .tsys_b_a_r{ display:block; float:right;}
.curimg .tsys_b a:link,.curimg .tsys_b a:visited{ display:block; color:#333; line-height:17px; position:relative; cursor:pointer;}
.curimg .tsys_b a:hover,.curimg .tsys_b a:active{ color:#fc3000;}
.curimg .tsys_b a img{ width:175px; height:94px;}
.curimg .tsys_b a:link i,.curimg .tsys_b a:visited i{display:block; position:absolute; left: 55px; top: 27px; width:58px; height:58px; background:url(../img/home_sp3_em.png) no-repeat;filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
.curimg .tsys_b a:hover i,.curimg .tsys_b a:active i{ background:url(../img/home_sp3_em_hover.png) no-repeat;filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;}
.curimg .tsys_b a p{ padding-top:8px;}
.curimg img{ width:360px; height:120px;}

/*块一右*/
.col_r{ width:250px; overflow:hidden;}
.tuite{ display:block; overflow:hidden; clear:both;}
.tuite li{ display:block; float:left; width:100%; overflow:hidden; height:83px;}
.tuite .tuitecur{ height: 83px;overflow: hidden;margin-bottom: 9px;}
.tuite li a{ display:block; cursor:pointer; position:relative; overflow:hidden; text-decoration:none;}
.tuite li a span,.tuite li a b{ display:block; text-align:center; font-family:"微软雅黑";}
.tuite li a span img{ width:250px; height:83px;}
.tuite li a:hover b{ height:31px;  line-height:31px; white-space:nowrap; overflow:hidden; width:250px; font-size:14px; color:#fff; font-weight:normal; position:absolute; left:0px; top:52px;}
.tuite li a:hover i{ display:block; width:250px; position:absolute; left:0px; top:52px; height:31px; background:#000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}
.tuite li a:Hover b{ color:#fff; text-decoration:none;}
.tuite li a i{ display:none;}
.tuite li a b{ display:none;}

.tuinews{ overflow:hidden; clear:both; background:url(../img/home_circle.png) no-repeat left center; height:120px;}
.tuinews ul li{ display:block; float:left; width:248px; height:31px; line-height:31px; white-space:nowrap; overflow:hidden; font-size:14px;}
.tuinews ul li a:link,.tuinews ul li a:visited{ padding-left:25px; color:#333; display:block; height:29px; width:223px; overflow:hidden; white-space:normal;}
.tuinews ul li a:hover,.tuinews ul li a:active{ background:url(../img/home_circle_cure.png) no-repeat left center; color:#fc3000; text-decoration:none;}

.lbbox{ overflow:hidden; clear:both; padding-top:5px; _margin-top:2px;}
.lbbox li{ height:60px; padding-top:8.5px; _padding-top:2px; width:250px; float:left; position:relative; overflow:hidden;}
.lbbox li a{ display:block; cursor:pointer; float:left; width:188px;}
.lbbox li a:Hover{ text-decoration:none;}
.lbbox li.first{ border-top:none;}
.lbbox li span,.lbbox li p{ display:block; float:left;}
.lbbox li img{ width:54px; height:54px;}
.lbbox li a:link h4,.lbbox li a:visited h4{ font-size:14px; color:#333; font-family:"微软雅黑"; white-space:nowrap; overflow:hidden; font-weight:normal; width:120px; padding-left:10px;}
.lbbox li a:Hover h4,.lbbox li a:active h4{ color:#fc3000; text-decoration:none;}
.lbbox li p{ color:#999; padding-top:10px; white-space:nowrap; overflow:hidden; height:14px; padding-left:10px; width:120px;}
.lbbox li span.rob{ width:56px; height:40px; background:#f8f8f8; line-height:40px; position:absolute; top:17px; right:0px;}
.lbbox li span.rob a:link,.lbbox li span.rob a:visited{ display:block; width:54px; height:38px; border:1px solid #efefef; font-size:14px; font-family:"微软雅黑"; color:#333; text-align:center; line-height:38px; font-weight:normal;}
.lbbox li span.rob a:hover,.lbbox li span.rob a:active{ color:#fff; background:#fda414; border:1px solid #e77817; text-decoration:none;}

/*腾讯游戏*/
.tengxun{ overflow:hidden; clear:both;}
.tengxtitle{ height:45px; overflow:hidden;}
.tengxbox1{ overflow:hidden; clear:both; padding-top:10px;}
.tengxutui{ width:497px; height:338px; background-repeat:no-repeat; position:relative;}
.tuicon{ width:470px; height:210px; background:#fff; position:absolute; left:14px; top:116px;}
.links_wrap{ height:99px; _height:90px; padding-top:14px; float:left; width:284px; padding-left:16px;}
.links_wrap .imgWrap{ display:block; padding-right:10px; float:left; width:84px; height:84px;}
.links_wrap .imgWrap img{ width:84px; height:84px;}
.links_wrap h4{ font-size:18px; font-family:"微软雅黑"; height:26px; width:184px; float:left;}
.links_wrap p{ color:#666; display:block; float:left; width:190px; height:24px; line-height:24px;}
.links_wrap p span{ padding-right:10px;}
.links_wrap .wrapbtn{ display:block; height:28px; float:left; padding-top:5px;}
.links_wrap .wrapbtn em{ clear:both; display:none;}
.links_wrap .wrapbtn a:link,.links_wrap .wrapbtn a:visited{ color:#fff; font-size:14px; font-family:"微软雅黑"; display:block; float:left; margin-right:10px; width:43px; height:26px; text-align:center; line-height:26px;}
.links_wrap .wrapbtn a:hover,.links_wrap .wrapbtn a:active{ color:#fff; text-decoration:none; font-weight:bold;}
.links_wrap .wrapbtn a.btw{ background:#0193de; border:1px solid #0075be;}
.links_wrap .wrapbtn a.btq{ background:#6cd04a; border:1px solid #569746;}
.links_wrap .wrapbtn a.bth{ background:#fda414; border:1px solid #d98a06;}
.list_wrap{ width:160px; float:left; margin-top:10px;}
.list_wrap li{ display:block; float:left; width:168px; height:25px;}
.list_wrap li em{ display:block; float:left; width:3px; height:3px; background:#ccc; border-radius:3px; margin:6px 0; overflow:hidden;}
.list_wrap li a:link,.list_wrap li a:visited{ color:#333; display:block; float:left; width:145px; padding-left:8px; white-space:nowrap; overflow:hidden;}
.list_wrap li a:hover,.list_wrap li a:active{ color:#fc3000;}
.vtsm{ overflow:hidden; padding-top:1px; _padding-top:-10px; width:470px;}
.vtsm li{ display:block; float:left; width:138px; height:81px; padding-left:12px; overflow:hidden;}
.vtsm li a{ display:block; cursor:pointer; width:138px; height:81px; position:relative;}
.vtsm li a:hover{ color:#ff0; text-decoration:none;}
.vtsm li a img{ width:138px; height:81px;}
.vtsm li a i{ display:block; position:absolute; left:4px; top:56px; width:21px; height:21px; background:url(../img/home_sp2_em.png) no-repeat;}
.vtsm li a b{ display:block; width:108px; padding-left:30px; height:28px; background:#000;filter:alpha(opacity=30); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; position:absolute; left:0px; bottom:0px;}
.vtsm li a span{ display:block; width:138px; height:28px; line-height:28px; color:#fff; font-size:12px; font-family:"微软雅黑"; white-space:nowrap; overflow:hidden; position:absolute; left:0px; bottom:0px; text-align:center;}
.vtsm li a:hover span{ color:#ff0;}

.tengxutui2{ width:1000px; height:275px; background-repeat:no-repeat; position:relative;}
.tengxutui2 .links_wrap{ width:320px; padding-top:22px;}
.tengxutui2 .links_wrap .imgWrap{ width:95px; height:95px;}
.tengxutui2 .links_wrap .imgWrap img{ width:95px; height:95px;}

.bigbg{ width:678px; height:240px; position:absolute; left:304px; top:18px;}
.bigbg .wrap_l .list_wrap li{ display:block; width:150px; float:left;}
.bigbg .wrap_l .list_wrap li a{ display:block; width:130px; float:left; height:30px; line-height:30px;}
.wrap_l{ width:320px; float:left;}
.wrap_l .list_wrap{ width:300px; padding-left:10px;}
.wrap_l .list_wrap li{ line-height:30px; height:30px;}
.wrap_l .list_wrap li em{ margin:14px 0;}
.tengxutui2 .vtsmbit{ width:340px; float:left; }
.vtsmbit li{ display:block; float:left; width:155px; height:91px; padding-left:12px; overflow:hidden; padding-top:18px;}
.vtsmbit li a{ display:block; cursor:pointer; width:155px; height:91px; position:relative;}
.vtsmbit li a:hover{ color:#ff0; text-decoration:none;}
.vtsmbit li a img{ width:155px; height:91px;}
.vtsmbit li a i{ display:block; position:absolute; left:4px; top:65px; width:21px; height:21px; background:url(../img/home_sp2_em.png) no-repeat;}
.vtsmbit li a b{ display:block; width:125px; padding-left:30px; height:28px; background:#000;filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3; position:absolute; left:0px; bottom:0px;}
.vtsmbit li a span{ display:block; width:125px; padding-left:30px; height:28px; line-height:28px; color:#fff; font-size:12px; font-family:"微软雅黑"; white-space:nowrap; overflow:hidden; position:absolute; left:0px; bottom:0px;}
.vtsmbit li a:hover span{ color:#ff0;}

/*新游戏*/
.new{ overflow:hidden; clear:both; height:705px;}
.new_l{ width:360px; overflow:hidden;}
.bigtit{ height:40px; background:url(../img/ch_linelan.png) no-repeat top left; overflow:hidden; clear:both;}
.bigtit a:link,.bigtit a:visited{   height:29px; line-height:29px; }
.bigtit a:hover,.bigtit a:active{ color:#FC3000; text-decoration:none;}
.newgametiti{ background:url(../img/home_bigico1.png) no-repeat left center;display:block; float:left;font-size:26px; font-family:"微软雅黑"; color:#333;padding-left:39px; margin-top:10px;}
.cet{ height:35px; font-size:18px; color:#333; line-height:35px; font-family:"微软雅黑"; margin-top:12px; border-bottom:2px solid #fda414;}
.cet a{ display:block; float:left; width:50%; font-size:18px; color:#333; font-family:"微软雅黑";}
.cetlist li{ display:block; float:left; width:100%; height:40px; line-height:40px; border-bottom:1px solid #eee; overflow:hidden;}
.cetlist li.cest{ height:35px; line-height:35px; color:#e87816; background:#fef3e7;}
.cetlist li span{ display:block; float:left;}
.cetlist li .sj{ width:58px; text-align:center;}
.cetlist li .day{ color:#fc3000;}
.cetlist li a.mc,.cetlist li .mc{ display:block; float:left; width:112px; padding-left:15px; color:#333; white-space:nowrap; overflow:hidden; }
.cetlist li a.mc:hover{ color:#fc3000;}
.cetlist li .zt{ color:#333; width:88px; padding-left:15px;}
.cetlist li .xz{ text-align:center; width:72px;}
.cetlist li .xz img{ padding:14px 4px;}
.cetlist li.cest span{ color:#e87816;}
.pingce-tit{ background:url(../img/home_smi1.png) no-repeat left center; padding-left:23px; height:37px; line-height:37px; font-size:18px; font-family:"微软雅黑";}
.redian-tit{ background:url(../img/home_smi3.png) no-repeat left center; padding-left:23px; height:37px; line-height:37px; font-size:18px; font-family:"微软雅黑";}
.new_m{ width:360px; overflow:hidden; padding-left:15px; padding-top:12px;}
.bigxy{ width:360px; height: 190px; overflow:hidden; clear:both;}
.bigxy a{ display:block; cursor:pointer; width:360px; height: 180px; position:relative; text-decoration:none; overflow:hidden; text-decoration:none;}
.bigxy a i{ display:block; width:360px; height:30px; background:#000; filter:alpha(opacity=70); -moz-opacity:0.6; -khtml-opacity:0.6; opacity:0.6; position:absolute; left:0px; bottom:0px;}
.bigxy a img{ width:360px; height: 180px;}
.bigxy a:link span,.bigxy a:visited span { display:block; width:360px; height:30px; position:absolute; left:0px; bottom:0px; font-size:16px; color:#fff; text-align:center; line-height:30px; font-family:"微软雅黑";}
.bigxy a:hover span,.bigxy a:active span{ color:#ff0; text-decoration:none;}
.towxy{ display:block; width:370px; _width:380px; margin-left:-10px; _margin-left:-20px; height: 115px;}
.towxy li{ display:block; float:left; width:175px; margin-left:10px;}
.towxy li a{ display:block; cursor:pointer;}
.towxy li a img{ width:175px; height: 90px;}
.towxy li a:link span,.towxy li a:visited span{ display:block; text-align:center; color:#333; overflow:hidden; white-space:nowrap; width:175px; padding-top:6px;}
.towxy li a:hover span,.towxy li a:active span{ color:#fc3000;}

.np_list li{ display:block; float:left; width:100%; border-top:1px dashed #ccc; height:63px; padding-top:9px;}
.np_list li.first{ border-top:none; padding-top:2px;}
.np_list li a{ display:block; cursor:pointer;}
.np_list li a:Hover{ text-decoration:none;}
.np_list li a span{ display:block; float:left; width:54px; height:54px;}
.np_list li a span img{ width:54px; height:54px;}
.np_list li a h3{ font-size:14px; color:#333; font-weight:normal; white-space:nowrap; overflow:hidden; width:290px; padding-left:8px;}
.np_list li a:hover h3{ color:#fc3000; text-decoration:underline;}
.np_list li a p{ line-height:17px; height:32px; padding-top:6px; overflow:hidden; width:290px; padding-left:8px; color:#999;}
.np_list li a:Hover p{ color:#999; text-decoration:none;}
.np_list li a p em{ color:#ff9933;}
.new_rd{ overflow:hidden;}
.xinyoutit{ height:37px; font-size:18px; font-family:"微软雅黑"; color:#333; line-height:37px; background:url(../img/home_smi3.png) no-repeat left center; padding-left:23px;}
.nr_list{ margin-top:4px; display:block; overflow:hidden;}
.nr_list li{ display:block; float:left; width:100%; overflow:hidden; height: 29px; line-height: 29px;}
.nr_list li em{ display:block; float:left; width:3px; height:3px; background:#ccc; border-radius:3px; overflow:hidden; margin:15px 6px 0 0;}
.nr_list li a{ display:block; float:left; width:315px; overflow:hidden; font-size:14px; color:#333; white-space:nowrap;}
.nr_list li a:Hover{ color:#fc3000;}
.nr_list li span{ width:28px; float:right; color:#888; font-family:Verdana, Geneva, sans-serif; font-weight:normal;}
.rdtw{ display:block; height:86px; overflow:hidden;}
.rdtw a:link,.rdtw a:vsiited{ display:block; cursor:pointer;}
.rdtw a:hover,.rdtw a:active{ text-decoration:none;}
.rdtw a img{ width:115px; height:86px; float:left; padding-right:10px;}
.rdtw a:link h4,.rdtw a:visited h4{ font-size:14px; color:#333; display:block; width:235px; white-space:nowrap; overflow:hidden;}
.rdtw a:hover h4,.rdtw a:active h4{ color:#fc3000;}
.rdtw a:link p,.rdtw a:visited p{ color:#999; display:block; width:235px; line-height:17px; height:51px; overflow:hidden; padding-top:10px;}
.rdtw a:hover p,.rdtw a:active p{ color:#999; text-decoration:none;}

.new_r{ width:250px; overflow:hidden; padding-top:12px;}
.qdbtit{ height:37px; font-size:18px; font-family:"微软雅黑"; color:#333; line-height:37px; background:url(../img/home_smi2.png) no-repeat left center; padding-left:23px;}
.qdbtit span,.qdbtit a{ display:block; float:left; text-decoration:none;}
.qdbtit span{ padding-right:10px;}
.bdlist li{ display:block; float:left; width:100%; height:33px; line-height:33px; padding:6px 0; border-top:1px solid #f2f2f2; overflow:hidden;}
.bdlist li.first{ border:none;}
.bdlist li em{ display:block; float:left; width:23px; height:23px; background:url(../img/home_paihangbangdan.png) no-repeat; margin-top:5px; overflow:hidden;}
.bdlist li em.n1{ background-position:0 0;}
.bdlist li em.n2{ background-position:0 -27px;}
.bdlist li em.n3{ background-position:0 -54px;}
.bdlist li em.n4{ background-position:0 -81px;}
.bdlist li em.n5{ background-position:0 -108px;}
.bdlist li em.n6{ background-position:0 -135px;}
.bdlist li em.n7{ background-position:0 -162px;}
.bdlist li em.n8{ background-position:0 -189px;}
.bdlist li em.n9{ background-position:0 -216px;}
.bdlist li em.n10{ background-position:0 -243px;}
.bdlist li a.itname{ display:block; float:left; cursor:pointer;}
.bdlist li a.itname span,.bdlist li a.itname b{ display:block; float:left; height:32px; line-height:32px; font-size:14px; color:#333; font-weight:normal; font-family:"微软雅黑";}
.bdlist li a.itname span img{ width:32px; height:32px; padding:0 15px;}
.bdlist li a.itname:Hover b{ color:#fc3000; text-decoration:underline; font-family:"微软雅黑";}
.bdlist li a.downit:link,.bdlist li a.downit:visited{ display:block; float:right; width:20px; height:21px; background:url(../img/home_downico.png) no-repeat; background-position:0 0; overflow:hidden; margin-top:7px;}
.bdlist li a.downit:hover,.bdlist li a.downit:active{ background-position:0 -30px;}

.news_b{ display:block; overflow:hidden; clear:both;}
.lbtit{ height:32px; line-height:32px; overflow:hidden; clear:both;font-family:"微软雅黑"; }
.lbtit span.lblt{ display:block; float:left; font-size:18px; color:#333; background:url(../img/home_bigico22.png) no-repeat left center; padding-left:23px;}
.lbtit span.lbnav{ display:block; float:right; height:32px; line-height:32px; color:#ccc;}
.lbtit span.lbnav a:link,.lbtit span.lbnav a:visited{ color:#1f1f1f; padding:0 10px;}
.lbtit span.lbnav a:hover,.lbtit span.lbnav a:active{ color:#fc3000;}
.lblist{ overflow:hidden; clear:both; padding-top:10px; width:1028px; margin-left:-14px;}
.lblist li{ display:block; float:left; width:155px; padding-left:14px; position:relative; cursor:pointer; height:115px; overflow:hidden;}
.lblist li .hbig{ display:none;}
.lblist li img{ width:155px; height:115px;}
.lblist .hover .normal i{ display:none;}
.lblist li .normal i{ display:block; width:155px; height:25px; background:#000;filter:alpha(opacity=50); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; position:absolute; left:14px; top:91px;}
.lblist .hover .normal b{ display:none;}
.lblist li .normal b{ display:block;width:155px; height:25px; position:absolute; left:14px; top:93px; color:#fff; text-align:center; line-height:22px; font-weight:normal; z-index:9999;}
.lblist li em{display:block; width:155px; height:115px; background:#000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; _-moz-opacity:0.8; _-khtml-opacity: 0.8; +opacity: 0.8; position:absolute; left:14px; top:0px;}
.lblist li:hover h4{ display:block;}
.lblist li h4 a{ width:155px; line-height:24px; position:absolute; left: 14px; height:100px; top: 15px; padding-top: 20px;font-weight: normal;padding-left: 0px;text-align: center;}
.lblist li h4 a:link,.lblist li h4 a:visited{ color:#fff;}
.lblist li h4 a:hover,.lblist li h4 a:active{ color:#ff0; text-decoration:none;}
.lblist li a.lbkahao:link,.lblist li a.lbkahao:visited{ color:#fff; width:90px; height:25px; text-align:center; line-height:25px; position:absolute; left:46px; top:70px; border-radius:3px; background:#fda414; font-size:14px; font-family:"微软雅黑";}
.lblist li a.lbkahao:hover,.lblist li a.lbkahao:active{ color:#fff; text-decoration:none; background:#f19500;}


/*视频*/
.video{ overflow:hidden; clear:both;}
.videotit{ background:url(../img/home_bigico2.png) no-repeat left center;display:block; float:left;font-size:26px; font-family:"微软雅黑"; color:#333;padding-left:39px; margin-top:10px;}
.vdlist{ display:block; float:right; padding-top:13px;}
.vdlist a:link,.vdlist a:visited{ display:block; float:left; margin-left:10px; width:82px; height:24px; line-height:24px; font-size:14px; color:#333; border:1px solid #dcdcdc; background:#FFF; text-align:center; border-radius:3px;}
.vdlist a:hover,.vdlist a:active{ color:#fff; background:#fda414; border:1px solid #fda414; text-decoration:none;}
.vi_list{ overflow:hidden;}
.vlbig{ width:495px; height:279px; overflow:hidden; padding-top:14px;}
.vlbig a{ display:block; cursor:pointer; width:495px; height:279px; position:relative;}
.vlbig a:hover{ text-decoration:none;}
.vlbig a img{ width:495px; height:279px;}
.vlbig a i{ display:block; background:url(../img/home_sp2_em.png) no-repeat; width:21px; height:21px; position:absolute; left:8px; top:250px;}
.vlbig a:hover i{ background:url(../img/home_sp2_em.png) no-repeat;}
.vlbig a b{ display:block; width:495px; height:38px; background:#000; filter:alpha(opacity=30); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; position:absolute; left:0px; bottom:0px;}
.vlbig a span{ font-size:18px; display:block; color:#fff; font-family:"微软雅黑"; width:460px; padding-left:35px; height:38px; line-height:38px; white-space:nowrap; overflow:hidden; position:absolute; left:0px; bottom:0px;}
.vlbig a:hover span{ color:#ff0;}
.vlsm{ overflow:hidden; padding-top:1px; width:504px;}
.vlsm li{ display:block; float:left; width:240px; height:133px; padding-left:12px; padding-top:13px;}
.vlsm li a{ display:block; cursor:pointer; width:240px; height:133px; position:relative;}
.vlsm li a:hover{ color:#ff0; text-decoration:none;}
.vlsm li a img{ width:240px; height:133px;}
.vlsm li a i{ display:block; position:absolute; left:4px; top:108px; width:21px; height:21px; background:url(../img/home_sp2_em.png) no-repeat; z-index:9999;}
.vlsm li a b{ display:block; width:210px; padding-left:30px; height:28px; background:#000;filter:alpha(opacity=30); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; position:absolute; left:0px; bottom:0px;}
.vlsm li a span{ display:block; width:210px; padding-left:30px; height:28px; line-height:28px; color:#fff; font-size:12px; font-family:"微软雅黑"; white-space:nowrap; overflow:hidden; position:absolute; left:0px; bottom:0px;}
.vlsm li a:hover span{ color:#ff0;}

/*专区*/
.area{ overflow:hidden; clear:both;}
.areatit{ background:url(../img/home_bigico3.png) no-repeat left center;display:block; float:left;font-size:26px; font-family:"微软雅黑"; color:#333;padding-left:39px; margin-top:10px;}
.ar_rm{ display:block; overflow:hidden; width:1016px; margin-left:-8px; _margin-left:-16px;}
.ar_rm li{ width:326px; border:1px solid #eee; height:63px; background:#fff; margin-left:8px;  float:left; margin-top:10px;}
.ar_rm li a.arico{ display:block; float:left; width:64px; text-align:center;}
.ar_rm li a.arico img{ width:54px; height:54px; padding-top:4px;}
.ar_rm li h4{ font-size:16px; padding-left:80px; font-family:"微软雅黑"; color:#333; font-weight:normal; padding-top:6px;}
.ar_rm li p{ color:#ccc; padding-left:74px; padding-top:12px; white-space:nowrap;}
.ar_rm li p a{ color:#666; padding:0 4px;}
.ar_rm li p a:hover{ color:#fc3000;}
.ar_btm{ overflow:hidden; clear:both; padding-top:10px;}
.arb_l{ display:block; width: 360px;float: left;}
.arb_l ul{ width:368px; _width:376px; margin-left:-8px; _margin-left:-16px; float:left;}
.arstit{ padding-left:23px; margin-left:8px; background:url(../img/home_smi5.png) no-repeat left center; font-size:18px; font-family:"微软雅黑"; color:#333; width: 318px;height: 37px;line-height: 37px;}
.arb_l li{ display:block; float:left; overflow:hidden; width:176px; margin-left:8px; _margin-left:8px;height: 129px; padding-top: 6px;}
.arb_l li a:link,.arb_l li a:visited{ display:block; color:#333; line-height:17px; position:relative; cursor:pointer;}
.arb_l li a:hover,.arb_l li a:active{ color:#fc3000;}
.arb_l li a img{ width:176px; height:86px;}
.arb_l li a:link i,.arb_l li a:visited i{display:block; position:absolute; left:58px; top:12px; width:58px; height:58px; background:url(../img/home_sp3_em.png) no-repeat;filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
.arb_l li a:hover i,.arb_l li a:active i{ background:url(../img/home_sp3_em_hover.png) no-repeat;filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;}
.arb_l li p{ padding-top:5px; height: 35px; overflow:hidden;line-height: 19px; text-align:left;}
.arb_m{ width:360px; margin-left:15px; overflow:hidden; float:left;}
.area-tit{background: url(../img/home_smi6.png) no-repeat left center; padding-left: 23px; height: 37px; line-height: 37px; font-size: 18px; font-family: "微软雅黑"; margin-bottom:5px;}
.arb_m .nr_list li { display: block; float: left; width: 100%; overflow: hidden; height: 30px; line-height: 30px;}
.arb_r{ width:250px; float:right; overflow:hidden;}
.raider-tit{background: url(../img/home_smi12.png) no-repeat left center; padding-left: 23px; height: 37px; line-height: 37px; font-size: 18px; font-family: "微软雅黑"; margin-bottom:5px;}
.raitw{ width:266px; margin-left:-8px; _margin-left:-16px; clear:both; height: 264px;}
.raitw li{ display:block; float:left; width:121px; height:135px; margin-left:8px; overflow:hidden;}
.raitw li a:link,.raitw li a:visited{ display:block; color:#333; line-height:17px; cursor:pointer;}
.raitw li a:hover,.raitw li a:active{ color:#fc3000;}
.raitw li a img{ width:121px; height:90px;}
.raitw li a p{ display:block; padding-top:5px; height:35px; overflow:hidden;}
.arb_r .nr_list{ clear:both;}
.arb_r .nr_list li{ height: 26px; line-height: 26px;}
.arb_r .nr_list li a:link,.arb_r .nr_list li a:visited{ width:240px;}

/*新闻*/
.report{ overflow:hidden; clear:both; height:472px;}
.reporttit{ background:url(../img/home_bigico4.png) no-repeat left center;display:block; float:left;font-size:26px; font-family:"微软雅黑"; color:#333;padding-left:39px; margin-top:7px;}
.rep_box{ overflow:hidden; padding-top:10px;}
.repb_l{ display:block; float:left; width:360px; overflow:hidden;}
.repb_ltr{ background:url(../img/home_smi8.png) no-repeat left center; padding-left:23px; font-size:18px; font-family:"微软雅黑"; color:#333; height:37px; line-height:37px;}
.rwzflist{ width:370px; _width:380px; clear:both; overflow:hidden;}
.rwzflist li{ display:block; float:left; width: 175px; margin-left:5px; _margin-left:5px;}
.rwzflist li a:link,.rwzflist li a:visited{ position:relative; color:#333; display:block; cursor:pointer;}
.rwzflist li .xian{ display:none;}
.rwzflist li a:hover,.rwzflist li a:active{ color:#ff0; text-decoration:none;}
.rwzflist li .normal b{ color:#fff !important;}
.rwzflist li a img{ width:175px; height:129px;}
.rwzflist li a i{ display:block; width:175px; height:25px; line-height:25px; position:absolute; left:0px; top:104px;background:#000;filter:alpha(opacity=30); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.rwzflist li a:link b,.rwzflist li a:visited b{ display:block; width:175px; height:25px; line-height:25px; position:absolute; left:2px; top:104px; color:#fff; font-weight:normal; overflow:hidden; z-index:9999;}
.rwzflist li a:hover b,.rwzflist li a:active b{ color:#ff0; text-decoration:none;}
.rwzflist li a .xian i{ display:block; width:175px; height:129px; line-height:129px; position:absolute; left:0px; top:0px;background:#000;filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3;}
.rwzflist li a .xian b{ padding:10px; width:155px; line-height:24px; position:absolute; left: 3px; height:100px; top:23px; padding-top:20px; text-align:center;}
.repb_lts{ background:url(../img/home_smi10.png) no-repeat left center; padding-left:23px; font-size:18px; font-family:"微软雅黑"; color:#333; height:37px; line-height:37px;}
.repbslc{ display:block; overflow:hidden; margin-top:-8px;}
.repbslc li{ display:block; width:360px; float:left; height:41px; border-bottom:1px dashed #dcdcdc; overflow:hidden; white-space:nowrap;}
.repbslc li em{ display:block; float:left; width:3px; height:3px; background:#ccc; border-radius:3px; overflow:hidden; margin:20px 10px 0 0;}
.repbslc li a:link,.repbslc li a:visited{ color:#333; display:block; width:335px; height:41px; line-height:41px; font-size:14px; font-family:"微软雅黑"; float:left; white-space:normal; overflow:hidden;}
.repbslc li a:hover,.repbslc li a:active{ color:#fc3000; text-decoration:none;}
.repbslc li a span{ font-size:24px; color:#0092de;}
.repb_m{ width:360px; overflow:hidden; float:left; margin-left:15px;}
.repb_mtc{ background:url(../img/home_smi9.png) no-repeat left center; padding-left:23px; font-size:18px; font-family:"微软雅黑"; color:#333; height:37px; line-height:37px;}
.repb_mth{ background:url(../img/home_smi11.png) no-repeat left center; padding-left:23px; font-size:18px; font-family:"微软雅黑"; color:#333; height:37px; line-height:37px;}
.repb_m .nr_list{ margin-top:0px;}
.repb_m .nr_list li{ height:29px; line-height:29px;}
.repb_m .nr_list .bcu{ font-weight:bold;}
.repb_rtx{ background:url(../img/home_smi5.png) no-repeat left center; padding-left:23px; font-size:18px; font-family:"微软雅黑"; color:#333; height:37px; line-height:37px;}
.repb_r{ width:250px; float:right; overflow:hidden;}
.repbbc{ margin-top:8px;}
.repbbc li{ display:block; height:95px; overflow:hidden; clear:both;}
.repbbc li a{ display:block; cursor:pointer; position:relative; width:250px; height:85px; text-decoration:none;}
.repbbc li a img{ width:248px; height:83px; position:absolute; left:2px; top:2px;}
.repbbc li a:link span,.repbbc li a:visited span{ display:block; width:70px; height:22px; line-height:22px; text-align:center; font-size:14px; font-family:"微软雅黑"; color:#fff; background:#0193de; position:absolute; left:0px; top:0px;}
.repbbc li a:hover span,.repbbc li a:active span{ color:#fff; text-decoration:none;}
.repbbc li a i{ position:absolute; bottom:0px; left:3px; *left:3px; width:250px; *width:247px; height:30px; line-height:30px; text-align:center; background:#000; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7; opacity:0.7; display:none;}
.repbbc li a b{ position:absolute; bottom:0px; left:5px; width:250px; height:30px; line-height:30px; text-align:center; font-size:14px; font-family:"微软雅黑"; color:#fff; font-weight:normal; display:none;}

/*排行榜*/
.charts{ overflow:hidden; clear:both;}
.chatit {background: url(../img/home_bigico5.png) no-repeat left center; display: block; float: left; font-size: 26px; font-family: "微软雅黑"; color: #333; padding-left: 39px; margin-top: 7px;}
.androidh{ width:390px; float:left; overflow:hidden;}
.atitle,.ititle,.gtitle{ height:48px; overflow:hidden; clear:both;}
.atitle span{ display:block; background:url(../img/home_androidico.png) no-repeat left center; padding-left:32px; font-size:18px; font-family:"微软雅黑"; width:62px; margin:10px auto; height:32px; line-height:32px;}
.atblock{ display:block; overflow:hidden;}
.ont{ width:188px; height:25px; text-align:center; line-height:25px; background:#00c453; color:#fff; font-size:14px; font-family:"微软雅黑";}
.cl_aom{ display:block; overflow:hidden; clear:both; width:188px;}
.cl_aom li{ display:block; width:100%; float:left; position:relative; height:23px; padding:11px 0; border-bottom:1px solid #e3e3e3; cursor:pointer;}
.cl_aom li.hover{height:100px; padding:0px;}
.cl_aom li a span img{ display:none;}
.cl_aom li.hover span img{ display:block !important;}
.azn li em{ display:block; float:left; width:23px; height:23px; background:url(../img/home_phbdang.png) no-repeat; overflow:hidden;}
.pzn li em{ display:block; float:left; width:23px; height:23px; background:url(../img/home_phbdanb.png) no-repeat; overflow:hidden;}
.gzs li em{ display:block; float:left; width:23px; height:23px; background:url(../img/home_paihangbangdan.png) no-repeat; overflow:hidden;}
.cl_aom li.hover em{ margin-top:15px;}
.cl_aom li em.n1{ background-position:0 0;}
.cl_aom li em.n2{ background-position:0 -27px;}
.cl_aom li em.n3{ background-position:0 -54px;}
.cl_aom li em.n4{ background-position:0 -81px;}
.cl_aom li em.n5{ background-position:0 -108px;}
.cl_aom li em.n6{ background-position:0 -135px;}
.cl_aom li em.n7{ background-position:0 -162px;}
.cl_aom li em.n8{ background-position:0 -189px;}
.cl_aom li em.n9{ background-position:0 -216px;}
.cl_aom li em.n10{ background-position:0 -243px;}
.cl_aom li a span{ position:absolute; left:38px; top:35px;}
.cl_aom li a span img{ width:54px; height:54px;}
.cl_aom li a:link h3,.cl_aom li a:visited h3{ font-size:14px; font-family:"微软雅黑"; color:#333; font-weight:normal; position:absolute; left:38px; top:12px;}
.cl_aom li a:hover h3,.cl_aom li a:active h3{ color:#fc3000; text-decoration:none;}
.cl_aom li a:link p,.cl_aom li a:visited p{ display:block; width:21px; height:21px; position:absolute; top:15px; right:0px; background:url(../img/home_downico.png) no-repeat; overflow:hidden; background-position:0 0;} 
.cl_aom li a:hover p,.cl_aom li a:active p{ background-position:0 -30px;}
.appleh{ width:390px; overflow:hidden; float:left; padding-left:15px;}
.ititle span{ display:block; background:url(../img/home_appleico.png) no-repeat left center; padding-left:32px; font-size:18px; font-family:"微软雅黑"; width:62px; margin:10px auto; height:32px; line-height:32px;}
.appleh .ont{ background:#222;}
.gppleh{ width:188px; float:right; overflow:hidden;}
.gtitle span{ display:block; background:url(../img/home_yxgico.png) no-repeat left center; padding-left:32px; font-size:18px; font-family:"微软雅黑"; width:80px; margin:10px auto; height:32px; line-height:32px;}
.gppleh .ont{ background:#0193de;}

/*八卦美图*/
.pic_list { width: 100%; height:300px; margin-top: 20px; overflow:hidden;}
.pic_list li { float: left; position: relative; width:147px; height:300px; margin-right: 2px; overflow: hidden;}
.pic_list li a{ display:block; cursor:pointer; position:relative; text-decoration:none;}
.pic_list li img{ height:300px;}
.pic_list .on { width: 400px;}
.pic_list .big_img { width:400px; height: 300px; max-width: none;}
.pic_list .article_title { display: none; }
.pic_list .on i{ display:block; width:400px; height:36px; background:#000; filter:alpha(opacity=70); -moz-opacity:0.6; -khtml-opacity:0.6; opacity:0.6; position:absolute; left:0px; bottom:0px;}
.pic_list .on .article_title { display:block; width:400px; height:36px; position:absolute; left:0px; top:264px; font-size:18px; color:#fff; text-align:center; line-height:36px; font-family:"微软雅黑";}
.griltit{background: url(../img/home_bigico6.png) no-repeat left center; display: block; float: left; font-size: 26px; font-family: "微软雅黑"; color: #23a1e2; padding-left: 39px; margin-top:10px;}

/*友情链接*/
.link{ overflow:hidden; clear:both;}
.linktit{background: url(../img/home_bigico7.png) no-repeat left center; display: block; font-size: 26px; font-family: "微软雅黑"; color: #333; padding-left: 39px; margin-top: 7px;}
.linkbox{ padding:10px 0; line-height:24px; color:#ccc;}
.linkbox a{ display:inline-block; color:#333; padding:0 6px;}
.linkbox a:hover{ color:#fc3000;}

/*头部腾讯游戏*/
.txrmzq{ width:313px; overflow:hidden; height:257px;}
.titfu{height: 32px;line-height: 32px;}
.titfu b,.titfu a{display: block;float: left;font-size: 18px;color: #333;font-family: "微软雅黑";font-weight: normal;}
.titfu a:link,.titfu a:visited{ color:#333;}
.titfu a:hover,.titfu a:active{ color:#fc3000; text-decoration:none;}
.qglist{ width:313px; overflow:hidden; margin-top:10px; background:#fafafa;}
.qglist li{ display:block; width:102px; height:39px; background:#eee; font-size:14px; text-align:center; color:#333; line-height:39px; margin-bottom:3px; cursor:pointer;}
.qglist li.cur{ display:block; width:109px; border:none; background:none; color:#fff; font-weight:bold; background:url(../img/home_txqhcur.png) no-repeat;}
.qiezl{ width:195px; padding-left:9px; overflow:hidden;}
.zltit{ display:block; width:74px; height:22px; color:#fff; background:url(../img/home_txsyzlbg.png) no-repeat; line-height:22px; text-align:center; clear:both; margin-top:10px; margin-bottom:8px;}
.zlcon{ line-height:26px; color:#ccc;}
.zlcon a:link,.zlcon a:visited{ color:#333;}
.zlcon a:hover,.zlcon a:active{ color:#fc3000;}
.zlcon span{ padding:0 14px;}
.zqnews{ width:180px; height:102px; padding-top:10px;}
.zqnews a{ display:block; width:180px; height:102px; position:relative; cursor:pointer; display:block;}
.zqnews a:hover{ color:#fff; text-decoration:none;}
.zqnews a span img{ width:180px; height:102px;}
.zqnews a i{ display:block; width:180px; height:24px; background:#000;filter:alpha(opacity=70); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; position:absolute; left:0px; bottom:0px;}
.zqnews a b{display:block; width:180px; height:24px; line-height:24px; color:#fff; text-align:center; white-space:nowrap; overflow:hidden;position:absolute; left:0px; bottom:0px; font-weight:normal;}

.txpc{ padding-left:15px; overflow:hidden; width:410px;}
.txpclist{ width:416px; margin-left:-8px; overflow:hidden;}
.txpclist li{ display:block; float:left; width:200px; height:100px; padding-left:8px; padding-top:8px;}
.txpclist li a{ display:block; cursor:pointer; width:200px; height:100px; position:relative;}
.txpclist li a:hover{ color:#ff0; text-decoration:none;}
.txpclist li a img{ width:200px; height:100px;}
.txpclist li a i{ display:block; position:absolute; left:4px; top:76px; width:21px; height:21px; background:url(../img/home_sp2_em.png) no-repeat; z-index:9999;}
.txpclist li a b{ display:block; width:170px; padding-left:30px; height:28px; background:#000;filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; position:absolute; left:0px; bottom:0px;}
.txpclist li a span{ display:block; width:170px; padding-left:30px; height:28px; line-height:28px; color:#fff; font-size:12px; font-family:"微软雅黑"; white-space:nowrap; overflow:hidden; position:absolute; left:0px; bottom:0px;}
.txpclist li a:hover span{ color:#ff0;}

.newest{ width:250px; overflow:hidden;}
.newestlist{ padding-top:10px;}
.newestlist ul{ display:block; overflow:hidden; width:250px; height:208px;}
.newestlist ul li{ display:block; float:left; width:83px; text-align:center; height:86px; overflow:hidden; padding-top:12px;}
.newestlist ul li a{ display:block; cursor:pointer;}
.newestlist ul li a img{ width:64px; height:64px;}
.newestlist ul li a b{ font-weight:normal; display:block; white-space:nowrap; color:#333; overflow:hidden; clear:both; padding-top:8px;}
.newestlist ul li a:hover b{ color:#fc3000;}
.area2{ padding:0 0px !important; border-top:1px solid #f3f3f3;}

.zmsearch{ height:32px; padding-top:8px; overflow:hidden; clear:both;}
.zmsearch a{ display:block; float:left; padding:0 8px; height:20px; line-height:20px; border:1px solid #ddd; color:#333; font-family:Verdana, Geneva, sans-serif; margin-right:8px; white-space:nowrap;}
.zmsearch a:hover{ text-decoration:none;}
.zmsearch a.current{ border:1px solid #00a0d5; background:#00a0d5; color:#fff;}
.zmsearch .screen{ display:block; margin-top:3px; width:130px; float:left;}
.zmsearch .screen i{ font-size:12px; font-family:"宋体" !important; color: #555; font-weight:normal; float:left}
.zmsearch .screen label{ display:block; width: 50px; float:left;}
.zmsearch .screen input{ display:block; width:15px; height:15px;float: left;margin-right: 3px;}
.zmsearch .screen font{ display:block; font-size:12px; font-family:"宋体"; color: #555; font-weight:normal;float: left; padding-right:5px; *padding-right:4px;}

.zmgali{ padding-left:0px; overflow:hidden;}
.zmgali li{ display:block; float:left; width:106px;  line-height:33px; white-space:nowrap; overflow:hidden;}
.zmgali li a{ color:#666; display:block; width:106px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.zmgali li a:hover{ color:#fc3000;}

.ads_i_c6_l{ display:block; float:left;}
.ads_i_c6_r{ display:block; float:right;}
.ads_i_c1{ margin-top:2px; _margin-top:0px;}
.ads_i_c3{ margin-top:10px; margin-bottom:-10px;}
.ads_i_c2{ margin-top:10px;}

.gdproducts{ overflow:hidden; padding-top:10px;}
.gdproducts li{ display:block; float:left; width:124px; text-align:center; height:108px;}
.gdproducts li a{ display:block; cursor:pointer;}
.gdproducts li a span{ display:block; text-align:center;}
.gdproducts li a span img{ width:80px; height:80px;}
.gdproducts li a b{ white-space:nowrap; overflow:hidden; color:#666; font-weight:normal; padding-top:6px; display:block; text-align:center;}
.gdproducts li a:Hover b{ color:#fc3000;}

.nt_mewn{ overflow:hidden; clear:both; padding:5px 0; height:180px;}
.nt_mewn li{ display:block; float:left; width:110px; text-align:center; height:92px;}
.nt_mewn li a{ display:block; cursor:pointer;}
.nt_mewn li a span{ display:block; text-align:center;}
.nt_mewn li a span img{ width:64px; height:64px;}
.nt_mewn li a b{ display:block; text-align:center; white-space:nowrap; overflow:hidden; font-weight:normal; padding-top:6px; color:#666;}
.nt_mewn li a:Hover b{ color:#fc3000;}
.nt_else{ height:60px; background:#f9f9f9; border-top:1px solid #f3f3f3; padding-top:3px; line-height:30px; padding-left:30px;}
.nt_else a{ display:block; float:left; width:90px; padding-right:6px; color:#666; white-space:nowrap; overflow:hidden;}
.nt_else a:hover{ color:#fc3000;}

.top_toolbar{ display:block; width:1000px; margin:0 auto;}
.qukalist .tit{ padding-top:10px;}
.mt20{ margin-top:20px;}
#footer{ padding-bottom:40px;}
i{font-style:normal;}

.item_boxti{ padding-top:5px; width:1000px; margin:0 auto; margin-bottom:8px;}
.newestlistto{ overflow:hidden; clear:both; height:100px; padding-top:10px; position:relative;}
.newestlistto li{ display:block; float:left; width:100px; text-align:center; white-space:nowrap; overflow:hidden; height:100px; position:relative;}
.newestlistto .ti a i{ display:block; position:absolute; background:url(../img/qiehuantop.png) no-repeat; width:100px; height:6px; position:absolute; top:95px; color:#f08100 !important; left:0px;}
.newestlistto .ti a span{ color:#f08100 !important;}
.newestlistto li a:link,.newestlistto li a:visited{ display:block; cursor:pointer; color:#333; font: 12px "宋体","Arial Narrow",HELVETICA;}
.newestlistto li a:hover,.newestlistto li a:active{ color:#f08100; text-decoration:none;}
.newestlistto li a img{ width:70px; height:70px;}
.newestlistto li a:link span,.newestlistto li a:visited span{ display:block; padding-top:5px; color:#333;}
.newestlistto li a:hover span,.newestlistto li a:active span{ color:#f08100;}
.newestlistmo{ display:block; width:998px; height:225px; border:1px solid #eba450; background:#fff; overflow:hidden;}
.newestlistmo1{ display:block; width:780px; float:left; height:200px;}
.newestlistmo1 li{ display:block; float:left; width:378px; text-align:center; white-space:nowrap; overflow:hidden; padding-top:8px; padding-left:8px;}
.newestlistmo1 .t2{ padding-left:12px;}
.newestlistmo1 li a:link,.newestlistmo1 li a:visited{ display:block; cursor:pointer; color:#333; font:14px "宋体","Arial Narrow",HELVETICA;}
.newestlistmo1 li a:hover,.newestlistmo1 li a:active{ color:#f08100; text-decoration:none;}
.newestlistmo1 li a img{ width:378px; height:182px;}
.newestlistmo1 li a:link span,.newestlistmo1 li a:visited span{ display:block; padding-top:10px; color:#333;}
.newestlistmo1 li a:hover span,.newestlistmo1 li a:active span{ color:#f08100;}
.newestlistmo2{ display:block; width:200px; float:left;}
.newestlistmo2 li{ display:block; float:left; width:200px; height:100px; padding-left:8px; padding-top:8px;}
.newestlistmo2 li a{ display:block; cursor:pointer; width:200px; height:100px; position:relative;}
.newestlistmo2 li a:hover{ color:#ff0; text-decoration:none;}
.newestlistmo2 li a img{ width:200px; height:100px;}
.newestlistmo2 li a i{ display:block; position:absolute; left:4px; top:76px; width:21px; height:21px; background:url(../img/home_sp2_em.png) no-repeat; z-index:9999;}
.newestlistmo2 li a b{ display:block; width:170px; padding-left:30px; height:28px; background:#000;filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; position:absolute; left:0px; bottom:0px;}
.newestlistmo2 li a span{ display:block; width:170px; padding-left:30px; height:28px; line-height:28px; color:#fff; font-size:12px; font-family:"宋体"; white-space:nowrap; overflow:hidden; position:absolute; left:0px; bottom:0px;}
.newestlistmo2 li a:hover span{ color:#ff0;}


.header{ height:80px; overflow:hidden; width:1000px; margin:0 auto; clear:both; position:relative; background:#fff;}
.header .logo2{ width:298px; height:48px; background:url(../img/home_logo20.png) no-repeat; text-indent:-9999px; position:absolute; left:0px; top:17px;}
.header .logo2 a{ display:block; width:100%; height:100%;}
.pn_tit{ width:1000px; height: 41px; line-height: 41px; background:url(../img/home_tt.png) repeat-x bottom;}
.pn_tit ul{ display:block; width:858px; float:left;}
.pn_tit .last{ display:block; width: 122px; float:left; overflow:hidden;margin: 0 auto;padding-left: 20px;}
.pn_tit .last p.zs{ background: url(../img/cion06.png) no-repeat left center;}
.pn_tit .last p.zs a{ padding-left: 26px; line-height: 43px; color: #666;  width: 142px;font-family: "微软雅黑";font-size: 14px;text-align: center; text-decoration:none;}
.pn_tit .last p.zs a:hover{ color:#F00;}
