@charset "utf-8";
.top_toolbar{ height:28px; background:#f9f9f9; overflow:hidden; clear:both; }
.warpper{ width:1000px; margin:0 auto;}
.quick_link{ width:310px; padding-left:5px;}
.quick_link a{ display:block; float:left; padding-left:27px; color:#666; font-size:12px; line-height:28px; margin-right:16px;}
.quick_link a:hover{ color:#fc3000; text-decoration:none;}
.quick_link a.phone{ background:url(../img/home_p.png) no-repeat left center;}
.quick_link a.weibo{ background:url(../img/home_wb.png) no-repeat left center;}
.quick_link a.weixin{ background:url(../img/home_wxi.png) no-repeat left center;}
.quick_link a.assistant{ background:url(../img/home_zs.png) no-repeat left center;}
.sewe{ overflow:hidden; line-height:28px; height:28px; padding-right:5px;}
.sewe a{ color:#666; height:28px; line-height:28px; display:inline-block; padding-left:5px;}
.sewe a:hover{ color:#fc3000; text-decoration:none;}
.sewe a.semo{ background:url(../img/home_xh.png) no-repeat left center; padding-left:20px;}

.header{ height:80px; overflow:hidden; width:1000px; margin:0 auto; clear:both; position:relative; background:#fff;}
.header .logo{ width:298px; height:48px; background:url(../img/home_logo2.png) no-repeat; text-indent:-9999px; position:absolute; left:0px; top:17px; margin-left:9px;}
.header .logo a{ display:block; width:100%; height:100%;}
.header .logoindex{ width:298px; height:48px; background:url(../img/home_logo21.png) no-repeat; text-indent:-9999px; position:absolute; left:0px; top:17px;}
.header .logoindex a{ display:block; width:100%; height:100%;}

.header .search{ width:339px; height:35px; background:url(../img/home_search.png) no-repeat; position:absolute; right:160px; top:22px;}
.header .search input{ display:block; float:left; background:none; border:none;}
.header .search input.input_search{ width:272px; padding-left:5px; height:33px; margin:1px 1px 0px 1px; outline:none; line-height:33px; color:#888; font-size:14px;}
.header .search input.btn_search{ width:60px; cursor:pointer; height:35px;}
.header .remm{ width:131px; height:73px; position:absolute; right:10px; top:5px;}

#nav{ width:1000px; margin:0 auto; overflow:hidden; height:50px; background:#222; border-bottom:2px solid #fda414; line-height:50px; font-size:16px; font-family:"微软雅黑";}
.zhu_menu{ display:block; float:left;}
.zhu_menu a:link,.zhu_menu a:visited{ display:block; float:left; width:64px; height:50px; line-height:50px; color:#fff; text-align:center;}
.zhu_menu a:hover,.zhu_menu a:active{ color:#ff0; text-decoration:none;}
.fu_menu{ display:block; float:right;}
.fu_menu .vrlequ{ display:block; width: 60px; height:50px; background:url(../img/home_vr.png) right 5px no-repeat; padding-right: 3px;float: left;font-weight: normal;}
.fu_menu a:link,.fu_menu a:visited{ display:block; float:left; width: 60px; height:50px; line-height:50px; color:#ccc; text-align:center; font-size:14px;}
.fu_menu a:hover,.fu_menu a:active{ color:#ff0; text-decoration:none;}

.subnav{ width:998px; border:1px solid #ebebeb; background:#f5f5f5; border-top:none; overflow:hidden; clear:both; height:26px; padding-top:10px; margin:0 auto;}
.subline{ border-right:1px solid #cdcdcd; display:block; float:left; height:17px;}
.subnav a:link,.subnav a:visited{ display:block; float:left; color:#202020; font-size:14px; font-family:"微软雅黑"; padding:0 13px; height:17px; line-height:17px;}
.subnav a:hover,.subnav a:active{ color:#fc3000;}

/*微信弹窗新*/
.xbgamedog_wxsm{ background:url(../img/gamedog_wenxinbg.png) no-repeat; width:616px; height:265px; overflow:hidden; position: absolute; z-index: 9000; left: 30%; top: 200px; display: none; box-shadow: 1px 1px 6px 5px rgba(0,0,0,.3);}
.xbgamedog_closedfr{ float:right; padding-top:4px; padding-right:4px; _padding-right:0px; display:block; width:17px !important; height:17px;}
.xbgamedog_closedquan{ padding-left:24px;}
.xbgamedog_closedewz{ padding-top:27px; _padding-top:20px; width:185px; text-align:center; float:left;}
.xbgamedog_closedewz span{ display:block; text-align:center;}
.xbgamedog_closedewy{ width:380px; float:right; padding-left:15px; display:block; _padding-top:5px; *padding-top:5px;}
.xbgamedog_closedewy h3{ font-size:32px; line-height: 45px; font-family:"微软雅黑"; color:#fff; font-weight:bold;}
.xbgamedog_closedewy p{ width:260px; color:#fff; font-size:16px; font-family:"微软雅黑"; line-height: 35px; padding-top: 10px;}

/** 关键字 **/
.ac_results {  border:1px solid #3C91E0; background:#FFF;  overflow: hidden; z-index: 99999; }
.ac_results ul { width: 100%; list-style-position: outside;}
.ac_results li{ padding: 2px 5px; cursor: default; display: block; font: menu; font-size: 12px; line-height: 16px; overflow: hidden; }
.ac_loading{ background: white url('indicator.gif') right center no-repeat; }
.ac_odd{ background-color: #eee;}
.ac_over{ background:#2D7EC9; color:#FFF}
.red{ color:#F00}

/*二级导航*/
.nav_small{ width:1000px; margin:0 auto; overflow:hidden; height:30px; line-height:30px; background:#f2f2f2; color:#ccc; margin-bottom:5px;}
.nav_small a{ padding:0 6px; color:#333;}
.nav_small a:Hover{ color:#fc3000;}
.nav_small .current:link,.nav_small .current:visited{ font-weight:bold; color:#F00;}

/*旧版路径*/
.location {width:1000px; font-size: 12px; height:34px;  color:#333; margin:0 auto;}
.location .lujing,.loc_box,.path { float:left; line-height:34px; display:block; width:680px; overflow:hidden; padding-right:0px;color:#888; font-family:"微软雅黑";}
.location .lujing a:link,.location .lujing a:visited{ color:#888;}
.location .path a:link,.location .path a:visited{ color:#888;}
.search_box{ float:right; display:block; margin-top:6px; _width:270px;}
.search_box input{ display:block; float:left;}
.search_box .search_text{ background:url(../img/dog_news_search_bg.jpg) no-repeat; border:none; height:22px; width:197px; margin-right:3px; color:#888; padding-left:5px; line-height:22px;}
.search_box .search_btn{ height:22px; width:45px; background:url(../img/dog_news_search_btn.jpg) no-repeat; line-height:22px; border:none;}

.subnavtype{ width:998px; background:url(../img/subnav_bg1.jpg) repeat-x bottom; margin:0 auto; border:1px solid #C2E0FF; color:#ccc; border-bottom:none; overflow:hidden;}
.subnavtype .gd109{ height:109px;}
.subnavtype .s_one{ width:998px; overflow:hidden;  padding-top:15px; padding-bottom:10px;}
.subnavtype .s_tit{ padding-top:3px;}
.subnavtype .s_tit{ width:62px; padding-left:11px; padding-right:13px; float:left;}
.subnavtype .s_tit span{ display:block; width:65px; height:22px; background:#8dc9e8; text-align:center; color:#FFFFFF; font-weight:bold; font-weight:bold; line-height:23px;}
.subnavtype .s_con{ display:block; float:left; width:860px; line-height:26px;}
.subnavtype .s_con span{ padding:0 2px;}
.subnavtype .s_con span a:link,.subnavtype .s_con span a:visited{ padding:4px 6px; color:#049;_text-decoration:none;}
.subnavtype .s_con span a:hover,.subnavtype .s_con span a:active{ background:#f60; color:#FFFFFF; text-decoration:none; _text-decoration:none;}

/*列表*/
.kustyle2{ border:1px solid #e9e9e9; overflow:hidden; clear:both; width:738px !important; margin-left:0px !important;}
.kustyle2 li{ display:block; float:left; width:245px; border-right:1px dashed #c8c8c8; border-top:1px dashed #c8c8c8; height:135px;}
.kustyle2 li:nth-child(3n){ border-right:none;}
.kustyle2 li a{ display:block; width:100%; height:100%; cursor:pointer; text-decoration:none;}
.kustyle2 li a .ol_i{ display:block; float:left; width:74px; padding-left:22px; padding-right:10px; overflow:hidden; padding-top:20px; text-align:center;}
.kustyle2 li a .ol_i .ol_img{ width:74px; height:74px; margin-bottom:5px;}
.kustyle2 li a .ol_n{ font-size:16px; color:#333; display:block; width:135px; overflow:hidden; white-space:nowrap; padding-top:20px;}
.kustyle2 li a .ol_c{ height:16px; line-height:16px; color:#999; margin:10px 0 5px 0;}
.kustyle2 li a .ol_c span{ padding-right:5px;}
.kustyle2 li a .ol_c span img{ padding:0 4px;}
.kustyle2 li a .ol_t{ color:#999; padding-top:6px;}
.kustyle2 li.upt{ border-top:none;}
.kustyle2 li.nor{ border-right:none;}

/*推荐*/
.ku_right{ width:250px; overflow:hidden;}
.kur_tit{ height:36px; background:#f4f4f4; line-height:36px; padding-left:10px; font-size:14px; font-weight:bold; color:#333; border-top:2px solid #e77817; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9; font-family:"宋体";}
.kur_list{ border:1px solid #e9e9e9; overflow:hidden; border-top:none; width:248px; padding-bottom:14px;}
.kur_list li{ display:block; float:left; border-top:1px dashed #c8c8c8; height:90px;}
.kur_list li:nth-child(3n){ border-right:none;}
.kur_list li a{ display:block; width:100%; height:100%; cursor:pointer; text-decoration:none;}
.kur_list li a .ol_i{ display:block; float:left; width:74px; padding-left:16px; padding-right:10px; overflow:hidden; padding-top:15px; text-align:center;}
.kur_list li a .ol_i .ol_img{ width:74px; height:74px; }
.kur_list li a .ol_n{ font-size:16px; color:#333; display:block; width:135px; overflow:hidden; white-space:nowrap; padding-top:15px;}
.kur_list li a .ol_c{ height:16px; line-height:16px; color:#999; margin:2px 0;}
.kur_list li a .ol_c span{ padding-right:5px;}
.kur_list li a .ol_c span img{ padding:0 4px;}
.kur_list li.upt{ border-top:none;}
.kur_list li a .ol_s{ padding-top:6px; display:block; float:left;}
.kur_list li a .ol_s span{ display:block; width:80px; height:25px; text-align:center; background:#e77817; line-height:23px; font-size:12px; font-family:"微软雅黑"; color:#fff; border-radius:3px;}
.kur_list li a:hover .ol_s span{ background:#f90;}

#main{ display:block; width:1000px; margin:0 auto; overflow:hidden;}


/*选择机型-未选择*/
.model_not{ width:248px; padding-bottom:6px; border:1px solid #c2e0ff; background:#fff; overflow:hidden; clear:both;}
.thumbnail{ text-align:center; padding-top:8px; padding-bottom:2px;}
.thumbnail img{ width:160px; height:120px;}
.choi{ clear:both; padding-top:12px; height:22px; clear:both; overflow:hidden; text-align:center;}
.choi select{ width:160px; height:22px; line-height:22px;  color:#333;}
.in_area{ clear:both; padding-top:14px;}
.in_area a:link,.in_area a:visited{ display:block; text-decoration:none; width:160px; height:30px; line-height:30px; color:#fff; text-align:center; font-weight:bold; background:#00aaff; margin:0 auto; font-size:14px;}
.in_area a:hover,.in_area a:active{ background:#ffa735;}
.subnavtype2{ height:auto !important;}

/*选择机型-已选择*/
.model_yes{width:248px; padding-bottom:15px; border:1px solid #c2e0ff; background:#fff; overflow:hidden; clear:both;}
.phone_ico{ text-align:center; padding-top:14px; padding-bottom:2px; height:156px; border-bottom:1px solid #e7f9ff;}
.phone_ico img{ width:160px; height:120px;}
.phone_ico span{ display:block; text-align:center; font-size:14px; color:#464646; text-align:center; padding-top:8px;}
.phone_info{ clear:both; overflow:hidden; padding-top:14px; padding-left:14px; font-size:13px;}
.phone_info p{ padding:0px; margin:0px;}
.p_tips{ color:#3d3d3d; height:26px;}
.p_info{ color:#767676; line-height:23ppx;}
.p_info span{ display:block; text-align:left;}
.in_or{ clear:both; overflow:hidden; padding-top:14px; padding-left:5px;}
.in_or a:link,.in_or a:visited{ display:block; height:30px; background:#00aaff; padding:0 9px; margin:0 5px; float:left; text-align:center; line-height:30px; font-size:14px; color:#FFF; font-weight:bold; text-decoration:none;}
.in_or a:hover,.in_or a:active{ background:#ffa735;}
.xz_jx{clear:both; overflow:hidden; padding-top:14px; padding-left:14px; font-size:13px;} 
.chico{ clear:both; padding-top:3px; padding-bottom:9px; height:22px; clear:both; overflow:hidden; text-align:center;}
.chico select{ width:160px; height:22px; line-height:22px;  color:#333;}
.subnavtype3{ width:996px; border:1px solid #ebebeb; background:#f5f5f5; border-top:none; overflow:hidden; clear:both; height:26px; padding-top:10px; margin:0 auto; margin-top:10px !important;padding: 6px 0px !important;}
.subnavtype3 .min a:link,.subnavtype3 .min a:visited{ display:block; float:left; color:#202020; font-size:12px !important; font-family:"宋体" !important; padding:0 13px; height:22px !important; line-height:22px !important;}
.subnavtype3 .min a:hover,.subnavtype3 .min a:active{ color:#fc3000;}
.ads_c1{ margin-top:5px;}