*{
    margin: 0px;
    padding: 0px;
}

body{
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

body.login-page{
    background: #EEF2F5;
}

a:hover, a:active, a:focus {
    outline: 0;
}

/* Bootstrap */
.center-block{
    float: none !important;
}

.form-control{
    border-color: #d2d6de;
    border-radius: 0 !important;
    box-shadow: none;
}

.form-control:focus {
    border-color: #3c8dbc !important;
    box-shadow: none;
}

/* Bootstrap Buttons*/
.btn {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
}

.btn.uppercase {
    text-transform: uppercase;
}

.btn.btn-flat {
    border-radius: 0;
    border-width: 1px;
    box-shadow: none;
}

.btn:active,
.btn:focus {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}


.btn-primary {
    background: #3c8dbc;
    border-color: #367fa9;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background: #367fa9;
}


/* Login and SignUp Pages
--------------------------- */
.login-box{
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    padding: 40px 35px;
    margin-top: 20px;
}

.login-box-header{
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    margin-bottom: 30px;
}

.logo-img img{
    width:100px;
    height: 100px;
}

.login-box-body .form-control-feedback{
    color: #999;
}