.trans-all {-webkit-transition: all 0.1s ease-in; -moz-transition: all 0.1s ease-in; 
-ms-transition: all 0.1s ease-in; -o-transition: all 0.1s ease-in; transition: all 0.1s ease-in;}
.trans-all-slow {-webkit-transition: all 0.7s ease-in, background 0.2s ease-in; -moz-transition: all 0.7s ease-in, background 0.2s ease-in; 
-ms-transition: all 0.7s ease-in, background 0.2s ease-in; -o-transition: all 0.7s ease-in, background 0.2s ease-in; transition: all 0.7s ease-in, background 0.2s ease-in;}
.trans-all-mid {-webkit-transition: all 0.5s ease-in, background 0.2s ease-in; -moz-transition: all 0.5s ease-in, background 0.2s ease-in; 
-ms-transition: all 0.5s ease-in, background 0.2s ease-in; -o-transition: all 0.5s ease-in, background 0.2s ease-in; transition: all 0.5s ease-in, background 0.2s ease-in;}
.trans-all-fast {-webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; 
-ms-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;}

img.opacity-pic, .opacity-pic img {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;}
img.opacity-pic:hover, a:hover img.opacity-pic, .opacity-pic:hover img {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}

img.trans-pic, .trans-pic img, img.trans-pic-less, .trans-pic-less img {-webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; 
-ms-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;}
.csstransforms img.trans-pic:hover, .csstransforms a:hover img.trans-pic, .csstransforms .trans-pic:hover img {-moz-transform: scale(1.05); -webkit-transform: scale(1.05); -o-transform: scale(1.05); transform:  scale(1.05);}
.csstransforms img.trans-pic-less:hover, .csstransforms a:hover img.trans-pic-less, .csstransforms .trans-pic-less:hover img {-moz-transform: scale(1.02); -webkit-transform: scale(1.02); -o-transform: scale(1.02); transform:  scale(1.02);}

img.bw-pic, .bw-pic img {-webkit-filter: grayscale(0); filter: grayscale(0); -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;}
img.bw-pic:hover, a:hover img.bw-pic, .bw-pic:hover img {-webkit-filter: grayscale(70%); filter: grayscale(70%); filter: gray;}

img.bw-rev, .bw-rev img {-webkit-filter: grayscale(40%); filter: grayscale(40%); -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;}
img.bw-rev:hover, a:hover img.bw-rev, .bw-rev:hover img { -webkit-filter: grayscale(0); filter: grayscale(0); filter: gray;}


@keyframes blur-load {
  0%, 50%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 3.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 3.000);
  }

  0% {-webkit-filter: blur(0); -moz-filter: blur(0); filter: blur(0); filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');}
  50% {-webkit-filter: blur(6px); -moz-filter: blur(6px); filter: blur(6px); filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');  }
  100% {-webkit-filter: blur(0); -moz-filter: blur(0); filter: blur(0); filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');}
}

.blur-load {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: blur-load;
          animation-name: blur-load;
}

@keyframes bw-load {
  0%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }

  0% {-webkit-filter: grayscale(95%); filter: grayscale(95%); filter: gray;}
  100% {-webkit-filter: grayscale(0); filter: grayscale(0);}
}

.bw-load {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: bw-load;
          animation-name: bw-load;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

.animate-spin-fast {
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  display: inline-block;
}

@keyframes fadein {
  0%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }

  0% {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;}
  100% {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}
}

.fade-in, #mpajax_cover, #tooltip, #modal-overlay {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadein;
          animation-name: fadein;
}

@-webkit-keyframes playClick {
  0%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }

  0% {
    -webkit-transform: none;
            transform: none;
  }

  100% {
    opacity: 0;
    -moz-transform: scale(1.05); -webkit-transform: scale(1.05); -o-transform: scale(1.05); transform:  scale(1.05);

  }
}

@keyframes playClick {
  0%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }

  0% {
    -webkit-transform: none;
            transform: none;
  }

  100% {
    opacity: 0;
    -moz-transform: scale(2); -webkit-transform: scale(2); -o-transform: scale(2); transform:  scale(2);

  }
}

.player-control.active:after {
    -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: playClick;
          animation-name: playClick;
          display: block;
}

.player-control:after {
  content:''; display: none; width: 67px; height: 67px; border-radius: 50%; border: solid 2px #fff;
}

.big .player-control:after {
    width: 120px; height: 120px; margin: 12px;
}

.radio-player.player-control:after {
    width: 36px; height: 36px; margin: 5px;
}

@-webkit-keyframes blinker {  
  0%, 50%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  -webkit-animation-name: blinker;  
    animation-name: blinker;
  -webkit-animation-iteration-count: infinite;  
  animation-iteration-count: infinite; 
  -webkit-animation-duration: 2s; 
  animation-duration: 2s; 
}   


@-webkit-keyframes colorblinker {  
  0%, 50%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }

  0% {
    color:#FFA000;
  }

  50% {
    color:#FFF;
  }

  100% {
    color:#FFA000;
  }
}

.colorblink {
  -webkit-animation-name: colorblinker; 
  animation-name: colorblinker; 
  -webkit-animation-iteration-count: infinite;  
  animation-iteration-count: infinite;  
  -webkit-animation-duration: 2s; 
  animation-duration: 2s; 
}  


@-webkit-keyframes play-blink {  
  0%, 50%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 3.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 3.000);
  }

  0% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.9;
  }
}