.auxfull.index {border-top: solid 1px #979797;  border-bottom: solid 1px #979797;}
.auxfull.index img, .auxfull.index embed, .auxfull.index object {width: 100%; min-width: 1400px; max-height: 300px}
.auxfull.central img, .auxfull.central embed, .auxfull.central object {width: 100%; min-width: 1400px; max-width: 1450px; max-height: 200px}

.banner-counter {position: absolute; top: 0; left: 0; width: 1px; height: 1px; visibility: hidden;}

/* MarketGid */
.news-block-magick {width: 240px; background: #fff; max-height: 400px; height: 400px}
.news-block-magick .mg_addad14640 {display: none;}
.news-block-magick .mgline {min-width: 240px !important; margin-bottom: 0 !important;}
.news-block-magick div.mcimg {float: left!important; width: 60px!important; height: 60px!important; margin: 0 6px 0px 0!important;}
.news-block-magick img.mcimg {width: 60px!important; height: 60px!important;}
.news-block-magick .mctitle14640 {font-size: 13px!important; font-family: Arial, Helvetica, sans-serif!important; overflow: hidden; width: 140px!important; color: #1e1546 !important;}
.news-block-magick .mcdesc14640 {display: none;}
.news-block-magick .mctitle a, #MarketGid14640 .mcdesc a {font-weight: normal !important; color: #808080 !important;}

#yandex_ad_R-38489-1 td {font-family: Verdana !important;
    font-size: 10px !important;}
#yandex_ad_R-38489-1 b {font-family: Verdana !important;}
#yandex_ad_R-38489-1 .yap-title-block__text span {font-size: 11px;}

#preroll {left: 140px; bottom: 95px; z-index: 50; position: fixed; display: none;}
#preroll .icon-close {right: -25px; top: -25px; background-color: #fff; border-radius: 50%; width: 25px; height: 25px; box-shadow: 0 0 7px 0px #000;}
#preroll .icon-close:before {top: -3px; position: relative;}
#preroll #preroll-pic {box-shadow: 0 0 10px 0px #000; border: solid 2px #fff; background-color: #fff;}
#outreachCover {position: absolute; width: 100%; height: 1px; z-index: 100;}
#channel-preroll {display: none; margin-top: 30px;}

.content .relap-default__title-font-family-arial .relap-default__item-title {font-family: 'BlogSans'; font-size: 16px !important;}
.content .relap-default__view-strings.relap-default_img-size-3 .relap-default__item-thumbnail ~ .relap-default__item-title {margin-left: 100px;}
.content .relap-default__view-strings .relap-default__item-thumbnail {margin-right: 10px; margin-top: 4px;}