body {
-webkit-font-smoothing: subpixel-antialiased !important;
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}

@font-face {
font-family: 'BlogSans';
src: url('/design/images/fonts/BlogSans.eot');
src: url('/design/images/fonts/BlogSans.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/BlogSans.woff') format('woff'),
 url('/design/images/fonts/BlogSans.ttf') format('truetype'),
 url('/design/images/fonts/BlogSans.svg#BlogSans') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'BlogSansI';
src: url('/design/images/fonts/BlogSansI.eot');
src: url('/design/images/fonts/BlogSansI.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/BlogSansI.woff') format('woff'),
 url('/design/images/fonts/BlogSansI.ttf') format('truetype'),
 url('/design/images/fonts/BlogSansI.svg#BlogSansI') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'BlogSansB';
src: url('/design/images/fonts/BlogSansB.eot');
src: url('/design/images/fonts/BlogSansB.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/BlogSansB.woff') format('woff'),
 url('/design/images/fonts/BlogSansB.ttf') format('truetype'),
 url('/design/images/fonts/BlogSansB.svg#BlogSansB') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'BlogSansBI';
src: url('/design/images/fonts/BlogSansBI.eot');
src: url('/design/images/fonts/BlogSansBI.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/BlogSansBI.woff') format('woff'),
 url('/design/images/fonts/BlogSansBI.ttf') format('truetype'),
 url('/design/images/fonts/BlogSansBI.svg#BlogSansBI') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'BlogSansM';
src: url('/design/images/fonts/BlogSansM.eot');
src: url('/design/images/fonts/BlogSansM.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/BlogSansM.woff') format('woff'),
 url('/design/images/fonts/BlogSansM.ttf') format('truetype'),
 url('/design/images/fonts/BlogSansM.svg#BlogSansM') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'BlogSansMI';
src: url('/design/images/fonts/BlogSansMI.eot');
src: url('/design/images/fonts/BlogSansMI.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/BlogSansMI.woff') format('woff'),
 url('/design/images/fonts/BlogSansMI.ttf') format('truetype'),
 url('/design/images/fonts/BlogSansMI.svg#BlogSansMI') format('svg');
font-style: normal;
font-weight: normal;
}


@font-face {
font-family: 'LytigaC';
src: url('/design/images/fonts/LytigaC.eot');
src: url('/design/images/fonts/LytigaC.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/LytigaC.woff') format('woff'),
 url('/design/images/fonts/LytigaC.ttf') format('truetype'),
 url('/design/images/fonts/LytigaC.svg#LytigaC') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'LytigaCI';
src: url('/design/images/fonts/LytigaCI.eot');
src: url('/design/images/fonts/LytigaCI.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/LytigaCI.woff') format('woff'),
 url('/design/images/fonts/LytigaCI.ttf') format('truetype'),
 url('/design/images/fonts/LytigaCI.svg#LytigaCI') format('svg');
font-style: italic;
font-weight: normal;
}

@font-face {
font-family: 'ALSreg';
src: url('/design/images/fonts/als_reg.eot');
src: url('/design/images/fonts/als_reg.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/als_reg.woff') format('woff'),
 url('/design/images/fonts/als_reg.ttf') format('truetype'),
 url('/design/images/fonts/als_reg.svg#als_reg') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'ALSlight';
src: url('/design/images/fonts/als_light.eot');
src: url('/design/images/fonts/als_light.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/als_light.woff') format('woff'),
 url('/design/images/fonts/als_light.ttf') format('truetype'),
 url('/design/images/fonts/als_light.svg#als_light') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'ALSbold';
src: url('/design/images/fonts/als_bold.eot');
src: url('/design/images/fonts/als_bold.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/als_bold.woff') format('woff'),
 url('/design/images/fonts/als_bold.ttf') format('truetype'),
 url('/design/images/fonts/als_bold.svg#als_bold') format('svg');
font-style: normal;
font-weight: normal;
}


@font-face {
font-family: 'Circe-Regular';
src: url('/design/images/fonts/Circe-Regular.eot');
src: url('/design/images/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/Circe-Regular.woff') format('woff'),
 url('/design/images/fonts/Circe-Regular.ttf') format('truetype'),
 url('/design/images/fonts/Circe-Regular.svg#Circe-Regular') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'Circe-Bold';
src: url('/design/images/fonts/Circe-Bold.eot');
src: url('/design/images/fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/Circe-Bold.woff') format('woff'),
 url('/design/images/fonts/Circe-Bold.ttf') format('truetype'),
 url('/design/images/fonts/Circe-Bold.svg#Circe-Bold') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'Circe-ExtraBold';
src: url('/design/images/fonts/Circe-ExtraBold.eot');
src: url('/design/images/fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/Circe-ExtraBold.woff') format('woff'),
 url('/design/images/fonts/Circe-ExtraBold.ttf') format('truetype'),
 url('/design/images/fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'Circe-Light';
src: url('/design/images/fonts/Circe-Light.eot');
src: url('/design/images/fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/Circe-Light.woff') format('woff'),
 url('/design/images/fonts/Circe-Light.ttf') format('truetype'),
 url('/design/images/fonts/Circe-Light.svg#Circe-Light') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'Circe-ExtraLight';
src: url('/design/images/fonts/Circe-ExtraLight.eot');
src: url('/design/images/fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/Circe-ExtraLight.woff') format('woff'),
 url('/design/images/fonts/Circe-ExtraLight.ttf') format('truetype'),
 url('/design/images/fonts/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'Circe-Thin';
src: url('/design/images/fonts/Circe-Thin.eot');
src: url('/design/images/fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
 url('/design/images/fonts/Circe-Thin.woff') format('woff'),
 url('/design/images/fonts/Circe-Thin.ttf') format('truetype'),
 url('/design/images/fonts/Circe-Thin.svg#Circe-Thin') format('svg');
font-style: normal;
font-weight: normal;
}


@font-face {
  font-family: '101icons';
  src: url('/design/images/fonts/101icons.eot?04');
  src: url('/design/images/fonts/101icons.eot?04#iefix') format('embedded-opentype'),
       url('/design/images/fonts/101icons.woff?04') format('woff'),
       url('/design/images/fonts/101icons.ttf?04') format('truetype'),
       url('/design/images/fonts/101icons.svg?04#101icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


 [class^="icon-"]:before, [class*=" icon-"]:before, .icon:before, #mpajax_cover:after, #tooltip ins:before, .pageup ins:before, .gallery_close_btn:before, .gallery_left_arrow:before, .gallery_right_arrow:before, .loading-circle:after {
  font-family: "101icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: none;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  line-height: 1em;
  font-variant: normal;
  text-transform: none;

 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-radio:before { content: '\e800'; } /* '' */
.icon-microphone:before { content: '\e801'; } /* '' */
.icon-news:before { content: '\e802'; } /* '' */
.icon-gift:before { content: '\e803'; } /* '' */
.icon-music:before { content: '\e804'; } /* '' */
.icon-chat-empty:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-lock-open:before { content: '\e807'; } /* '' */
.icon-lock-close:before { content: '\e808'; } /* '' */
.icon-spin:before { content: '\e809'; } /* '' */
.icon-vinyl:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */
.icon-star-empty:before { content: '\e80d'; } /* '' */
.icon-link:before { content: '\e80e'; } /* '' */
.icon-link-ext:before { content: '\e80f'; } /* '' */
.icon-edit:before { content: '\e810'; } /* '' */
.icon-trash:before { content: '\e811'; } /* '' */
.icon-trash-empty:before { content: '\e812'; } /* '' */
.icon-settings:before { content: '\e813'; } /* '' */
.icon-angle-left:before { content: '\e814'; } /* '' */
.icon-angle-right:before { content: '\e815'; } /* '' */
.icon-angle-up:before { content: '\e816'; } /* '' */
.icon-angle-down:before { content: '\e817'; } /* '' */
.icon-left:before { content: '\e818'; } /* '' */
.icon-right:before { content: '\e819'; } /* '' */
.icon-up:before { content: '\e81a'; } /* '' */
.icon-down:before { content: '\e81b'; } /* '' */
.icon-left-th:before { content: '\e81c'; } /* '' */
.icon-right-th:before { content: '\e81d'; } /* '' */
.icon-up-th:before { content: '\e81f'; } /* '' */
.icon-down-th:before { content: '\e81e'; } /* '' */
.icon-play-circled-1:before { content: '\e820'; } /* '' */
.icon-play-circled-2:before { content: '\e821'; } /* '' */
.icon-search:before { content: '\e822'; } /* '' */
.icon-plus-alt:before { content: '\e823'; } /* '' */
.icon-plus:before { content: '\e824'; } /* '' */
.icon-info-circled:before { content: '\e825'; } /* '' */
.icon-close-outline:before { content: '\e826'; } /* '' */
.icon-close:before { content: '\e827'; } /* '' */
.icon-check:before { content: '\e828'; } /* '' */
.icon-crossed:before { content: '\e829'; } /* '' */
.icon-heart:before { content: '\e82a'; } /* '' */
.icon-heart-broken:before { content: '\e82b'; } /* '' */
.icon-play:before { content: '\e82c'; } /* '' */
.icon-pause:before { content: '\e82d'; } /* '' */
.icon-stop:before { content: '\e82e'; } /* '' */
.icon-apple:before { content: '\e82f'; } /* '' */
.icon-windows:before { content: '\e830'; } /* '' */
.icon-android:before { content: '\e831'; } /* '' */
.icon-vk:before { content: '\e832'; } /* '' */
.icon-facebook:before { content: '\e833'; } /* '' */
.icon-instagram:before { content: '\e834'; } /* '' */
.icon-odnoklassniki:before { content: '\e835'; } /* '' */
.icon-dot-3:before { content: '\e836'; } /* '' */
.icon-minus-alt:before { content: '\e837'; } /* '' */
.icon-minus:before { content: '\e838'; } /* '' */
.icon-youtube-play:before { content: '\e839'; } /* '' */
.icon-phone:before { content: '\e83a'; } /* '' */
.icon-twitter:before { content: '\e83b'; } /* '' */
.icon-youtube:before { content: '\e83c'; } /* '' */
.icon-volume:before { content: '\e83d'; } /* '' */
.icon-volume-off:before { content: '\e83e'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-move:before { content: '\e83f'; } /* '' */
.icon-loop:before { content: '\e840'; } /* '' */
.icon-download:before { content: '\e841'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-stop-circled:before { content: '\e842'; } /* '' */
.icon-mymail:before { content: '\e843'; } /* '' */
.icon-mirtesen:before { content: '\e844'; } /* '' */

.icon-lock-open:before, .icon-lock-close:before{margin-left: -6px;}
.icon-vk:before {margin-left: -3px;} 
.icon-twitter:before {margin-left: -2px;}
#tooltip h5 ins:before { content: '\e800'; margin-left: 9px;} /* icon-radio */
#tooltip h4 ins:before { content: '\e806'; margin-top: 3px;} /* icon-user */
.svg #mpajax_cover:after, .form-info.loading:before, .loading-circle:after {content: '\e809';}  /* icon-spin */
.pageup ins:before {content: '\e81a';} /* icon-up */
.menu-profile .icon-lock-close:hover.icon-lock-close:before {content: '\e807';}  /* icon-lock-close */
#menu1 .icon-menu:before, #smenu1 .icon-menu:before { content: '\e800'; } /* icon-radio */
#menu2 .icon-menu:before, #smenu2 .icon-menu:before { content: '\e804'; } /* icon-music */
#menu3 .icon-menu:before, #smenu3 .icon-menu:before { content: '\e802'; margin-top: -1px;} /* icon-news */
#menu4 .icon-menu:before, #smenu4 .icon-menu:before { content: '\e803'; } /* icon-gift */
#menu5 .icon-menu:before, #smenu5 .icon-menu:before { content: '\e820'; } /* icon-play */
#menu6 .icon-menu:before, #smenu6 .icon-menu:before { content: '\e801'; }  /* icon-microphone */
#menu10 .icon-menu:before, #smenu10 .icon-menu:before {  content: '\e807'; } /* icon-lock-open */
