body::-webkit-scrollbar {width: 10px; height: 10px; background-color: #232323;}
body::-webkit-scrollbar:hover {background-color: #B7B7B7;}
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6); border-radius: 5px; border: solid 1px #5D5D5D; background-color: rgba(0,0,0,0.4);}
body::-webkit-scrollbar-thumb {border-radius: 5px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6); background-color: #B7B7B7;}
body::-webkit-scrollbar-thumb:hover {background-color: #FE690F;}

#layout {width: 100%; position: relative; min-width: 1004px; overflow: hidden; margin-bottom: 100px;}
.content {width: 100%; display: table; min-width: 1004px; max-width: 1640px;}
.central {padding: 0 30px 0 160px; display: table-cell; vertical-align: top; min-width: 1004px; position: relative;}
.auxfull.index {padding-left: 114px}
.aux240 {width: 260px; display: table-cell; vertical-align: top; padding: 30px 20px 0 0;}
#menuhelper {display: none;}

@media (max-width: 1660px) {
.aux240 {width: 290px;}
}

@media (max-width: 1400px) {
#top-block {padding-left: 90px !important;}
.central {padding-left: 140px !important;}
}

@media (max-width: 1280px)  {
.aux240 {display: none !important;}
}

@media (max-width: 1024px)  {
.aux240 {display: none !important;}
#top-block {padding-left: 40px !important;}
.central {padding-left: 92px !important;}
.auxfull.index {padding-left: 59px !important;}
}

.no-svg .icon:before, .no-svg .icon-menu:before {content: '' !important;}

.top-bage {position: fixed; top: -3px; right: 50px; background-color: rgba(0,0,0,0.7); z-index: 50; padding: 3px 10px; border-style: solid; border-color: rgba(255,255,255,0.6); border-radius: 0 0 10px 10px; border-width: 0 2px 2px 2px;}
.top-bage:hover {background-color: #ffa000;}
.top-bage a {color: #fff; text-decoration: none;}
.top-bage:hover a {color: #383838;}
@media (max-width: 1620px) {.top-bage.radio {right: 2%;}}
@media (max-width: 1590px) {.top-bage.radio {right: 20%;}}
@media (max-width: 1500px) {.top-bage.radio {right: 14%;}}

/* Левый блок меню */
#left-block {height: 100%; position: fixed; top: 0; left: 0; color: #B6B6B6; z-index: 20; line-height: 100%;}
#left-block .logo {margin-top: 18px; display: block;}
#left-block .menu-logo {width: 80px; opacity: 0.9;}
#left-block .menu-logo:hover {opacity: 1;}
#left-block li {margin-bottom: 15px;}
#left-menu-first {height: 100%; background-color: #2b2b2b; width: 110px; top: 0; left: 0; position: absolute; z-index: 20; padding: 0 14px; font-size: 14.5px;}
#left-block .hr {width: 100%; float: left; height: 2px; background-color: #000; border-top: 1px solid #383838; margin: 15px auto; display: block;}
#left-menu-first a {color: #B6B6B6; text-decoration: none;}
#left-menu-first a:hover, #left-menu-first a.active {color: #F08600;}
#left-menu-first #menu1:hover, #left-menu-first #menu1.active, #left-menu-first #menu1.current {color: #F08600;}
#left-menu-first #menu2:hover, #left-menu-first #menu2.active, #left-menu-first #menu2.current {color: #967dff;}
#left-menu-first #menu3:hover, #left-menu-first #menu3.active, #left-menu-first #menu3.current {color: #46dc5a;}
#left-menu-first #menu4:hover, #left-menu-first #menu4.active, #left-menu-first #menu4.current {color: #dc3c28;}
#left-menu-first #menu5:hover, #left-menu-first #menu5.active, #left-menu-first #menu5.current {color: #b4c3dc;}
#left-menu-first #menu6:hover, #left-menu-first #menu6.active, #left-menu-first #menu6.current {color: #3cb4f0;}
/* #left-menu-first #menu10:hover, #left-menu-first #menu10.active, #left-menu-first #menu10.current {color: #ffd75a;} */
#left-menu-first a.current:hover, #left-menu-first a.current:hover .icon-menu {opacity: 0.9;}

#left-menu-first .menu-first {margin-top: 15px;}
#left-menu-first .icon-menu {width: 16px; height: 16px; margin-right: 6px; float: left; display: block; font-size: 16px;}


.no-svg #left-menu-first .icon-menu {background-image: url('/design/images/main-design/left-block-icons.png'); background-color: #B6B6B6; background-position: -3px -3px;}
.no-svg #left-menu-first .icon-menu {background-image: url('/design/images/main-design/left-block-icons.png'); background-color: #B6B6B6; background-position: -3px -3px;}
.no-svg #menu1 .icon-menu {background-position: -3px -3px;}
.no-svg #menu2 .icon-menu {background-position: -23px -3px;}
.no-svg #menu3 .icon-menu {background-position: -63px -3px;}
.no-svg #menu4 .icon-menu {background-position: -83px -3px;}
.no-svg #menu5 .icon-menu {background-position: -103px -3px;}
.no-svg #menu6 .icon-menu {background-position: -43px -3px;}
.no-svg #menu10 .icon-menu {background-position: -123px -3px;}
.no-svg #menu1:hover .icon-menu, .no-svg #menu1.active .icon-menu, .no-svg #menu1.current .icon-menu {background-color: #F08600;}
.no-svg #menu2:hover .icon-menu, .no-svg #menu2.active .icon-menu, .no-svg #menu2.current .icon-menu {background-color: #967dff;}
.no-svg #menu3:hover .icon-menu, .no-svg #menu3.active .icon-menu, .no-svg #menu3.current .icon-menu {background-color: #46dc5a;}
.no-svg #menu4:hover .icon-menu, .no-svg #menu4.active .icon-menu, .no-svg #menu4.current .icon-menu {background-color: #dc3c28;}
.no-svg #menu5:hover .icon-menu, .no-svg #menu5.active .icon-menu, .no-svg #menu5.current .icon-menu {background-color: #b4c3dc;}
.no-svg #menu6:hover .icon-menu, .no-svg #menu6.active .icon-menu, .no-svg #menu6.current .icon-menu {background-color: #3cb4f0;}
.no-svg #menu10:hover .icon-menu, .no-svg #menu10.active .icon-menu, .no-svg #menu10.current .icon-menu {background-color: #ffd75a;}

#left-menu-first .menu-profile.pr {margin-top: 0; height: 70px;}
@media (max-width: 1024px)  {
 #left-menu-first .menu-profile.pr {height: 50px;}
 #left-menu-first .userpic, #left-menu-first .icon-right-th {display: none;} 
 #left-menu-first .menu-profile.pr .icon-lock-open {display: block !important;}
}
#left-menu-first .menu-profile .icon-lock-close, #left-menu-first .menu-profile .icon-lock-open {display: block; width: 30px; height: 42px; margin: 5px auto 10px auto; color: #b6b6b6; font-size: 40px;} 
#left-menu-first .menu-profile .icon-lock-open {color: #5E5E5E;}
#left-menu-first .menu-profile .icon-lock-close:hover {color: #EEBA33;}
.no-svg .menu-profile .icon-lock-close {background-image: url('/design/images/main-design/left-block-icons.png'); background-position: -150px -80px; display: block;}
.no-svg .menu-profile .icon-lock-open, .no-svg .menu-profile .icon-lock-close:hover {background-position: -150px -122px;}

#left-menu-first .menu-profile.pr .icon-lock-open {display: none;}
#left-menu-first .menu-profile .userpic {border: solid 1px #000; margin-left: 7px; width: 70px; height: 70px;}
#left-menu-first .menu-profile.pr #menu10 {display: block;}
#left-menu-first .menu-profile.pr a.active .userpic {border-color: #EEBA33;}
#left-menu-first .menu-profile .icon-right-th {position: absolute; top: 24px; right: -5px; font-size: 25px;}
#left-menu-first .menu-profile .icon-mail {position: absolute; left: 1px; bottom: -6px; font-size: 16px; color: #fff; background: #000;
    width: 17px; cursor: pointer;}
#left-menu-first .menu-profile .icon-mail:hover {color: #FFCB43;}
#left-menu-first .menu-profile.pr a.active, #left-menu-first  .menu-profile.pr a:hover, #left-menu-first .menu-profile.pr .icon-lock-open:hover {color: #ffd75a;}

.menu-apps {margin-top: 20px;}
#left-menu-first .menu-apps a {width: 30px; height: 30px; position: relative; display: block; margin: 0 auto; font-size: 30px; color: #000;}
#left-menu-first .menu-apps a:hover {color: #5E5E5E;}
.no-svg .menu-apps a {background-image: url('/design/images/main-design/left-block-icons.png');}
.no-svg .menu-apps .icon-apple {background-position: 0 -80px;}
.no-svg .menu-apps .icon-android {background-position: -30px -80px;}
.no-svg .menu-apps .icon-windows {background-position: -60px -80px;}
.no-svg .menu-apps .icon-vk {background-position: -90px -80px;}
.no-svg .menu-apps .icon-facebook {background-position: -120px -80px;}
.no-svg .menu-apps .icon-apple:hover {background-position: 0 -110px;}
.no-svg .menu-apps .icon-android:hover {background-position: -30px -110px;}
.no-svg .menu-apps .icon-windows:hover {background-position: -60px -110px;}
.no-svg .menu-apps .icon-vk:hover {background-position: -90px -110px;}
.no-svg .menu-apps .icon-facebook:hover {background-position: -120px -110px;}
@media (max-height: 800px) {
#left-block .hr {margin: 5px auto;}
#left-menu-first .menu-profile .icon-lock-close, #left-menu-first .menu-profile .icon-lock-open {width: 25px; height: 35px; margin: 4px auto 4px auto;font-size: 35px;}
#left-menu-first .menu-apps li {margin-top: 0;}
#left-menu-first .menu-apps a {width: 25px; height: 25px; font-size: 25px;}
#left-menu-first .menu-profile .userpic {margin-left: 10px; width: 60px; height: 60px;}
#left-menu-first .menu-profile .icon-right-th {top: 19px;}
#left-menu-first .menu-profile.pr {height: 60px;}
}

#left-menu-second {height: 100%; background-color: rgba(180,180,180,0.9); width: 160px; top: 80px; left: -45px; position: absolute; border-radius: 0 10px 0 0; box-shadow: 0 0 8px 0px #000; z-index: 10; text-transform: uppercase; font-size: 14px;}
#left-menu-second.openmenu {left: 110px;}
#left-menu-second li {margin-bottom: 10px;}
#left-menu-second a {color: #000; text-decoration: none;}
#left-menu-second a:hover, #left-menu-second a.active, #left-menu-second a.current {color: #fff;}
#left-menu-second a.current:hover {opacity: 0.9;}
.menu-second {display: none; position: absolute; top: 15px; left: 10px; width: 150px;}
.menu-second ul {margin-top: 15px; margin-right: 10px;}
.menu-second.active {display: block;}
#left-menu-second .icon-menu {width: 25px; height: 25px; position: relative; left: 110px; margin-bottom: 5px; display: block; font-size: 25px; color: #000;}
.no-svg #left-menu-second .icon-menu {background-image: url('/design/images/main-design/left-block-icons.png');}
.no-svg #smenu1 .icon-menu {background-position: 0 -54px;}
.no-svg #smenu2 .icon-menu {background-position: -25px -54px;}
.no-svg #smenu3 .icon-menu {background-position: -75px -54px;}
.no-svg #smenu4 .icon-menu {background-position: -125px -54px;}
.no-svg #smenu5 .icon-menu {background-position: -150px -54px;}
.no-svg #smenu6 .icon-menu {background-position: -50px -54px;}
.no-svg #smenu10 .icon-menu {background-position: -100px -54px;}

@media (max-width: 1024px)  {
#left-menu-first {width: 60px; padding: 0 10px;}
#left-menu-first .logo {width: 42px; height: 23px; overflow: hidden; margin-bottom: 7px;}
#left-menu-first .menu-logo {width: 70px;}
#left-menu-first .menu-first {margin-top: 12px;}
#left-menu-first .menu-first li span {display: none;}
#left-menu-first .icon-menu {width: 26px; height: 26px; margin: 0 auto; float: none; font-size: 26px;}
.no-svg #menu1 .icon-menu {background-position: -3px -23px;}
.no-svg #menu2 .icon-menu {background-position: -33px -23px;}
.no-svg #menu3 .icon-menu {background-position: -92px -23px;}
.no-svg #menu4 .icon-menu {background-position: -152px -23px;}
.no-svg #menu5 .icon-menu {background-position: -184px -23px;}
.no-svg #menu6 .icon-menu {background-position: -62px -23px;}
.no-svg #menu10 .icon-menu {background-position: -122px -23px;}

#left-menu-second {left: -95px; top: 60px;}
#left-menu-second.openmenu {left: 60px;}
#left-block .hr {margin: 10px auto;}
}


/* Верхний блок */
#top-block {position: relative; width: 100%; overflow: hidden; padding-left: 110px; height: 200px; background: #000 url('/design/images/top-block/top-block-bg-oran.jpg') 100px 0 no-repeat;}

#top-block.block2 {background-image: url('/design/images/top-block/top-block-bg-vio.jpg');}
#top-block.block3 {background-image: url('/design/images/top-block/top-block-bg-green.jpg');}
#top-block.block4 {background-image: url('/design/images/top-block/top-block-bg-red.jpg');}
#top-block.block5 {background-image: url('/design/images/top-block/top-block-bg-gray.jpg');}
#top-block.block6 {background-image: url('/design/images/top-block/top-block-bg-blue.jpg');}
#top-block.block10 {background-image: url('/design/images/top-block/top-block-bg-yel.jpg');}

#top-block.index-page {padding-left: 0 !important; height: 380px; background: #000;}
#top-block.index-page .toppic-control {position: absolute; color: #fff; top: 165px; font-size: 65px; text-shadow: 0px 0px 8px rgba(0,0,0,0.8); cursor: pointer;}
#top-block.index-page .toppic-control:hover {color: #ffa000;}
#top-block.index-page .icon-left-th {left: 105px;}
#top-block.index-page .icon-right-th {right: 10px;}
#topblock-wrap {height: 380px; position: relative; overflow: hidden;}
#topblock-block {position: relative; width: 100%; height: 380px;}
#topblock-block li {min-width: 1004px; padding-left: 110px;}
#top-block.index-page li a {width: 100%; display: block;}

@media (max-width: 1400px) {
#topblock-block li {padding-left: 90px !important;}
#top-block.index-page .toppic-control {font-size: 48px;}
#top-block.index-page .icon-left-th {left: 105px;}
#top-block.index-page .icon-right-th {right: -15px;}
}

@media (max-width: 1024px) {
#topblock-block li {padding-left: 40px !important;}
#top-block.index-page .toppic-control {font-size: 48px;}
#top-block.index-page .icon-left-th {left: 55px;}
#top-block.index-page .icon-right-th {right: -15px;}
}

#top-block .fade {position: absolute; height: 100%; right: 0; top: 0; width: 20%; background: linear-gradient(to right, rgba(0,0,0,0), #000);}
@media (max-width: 1024px) {
#top-block .fade {width: 10%;}
}


/* Нижний блок */
#footer-wrapper {position: fixed; bottom: 0; z-index: 30; height: 350px; width: 100%;}
#footer-block {width: 100%; bottom: 0; left: 0; position: fixed; z-index: 30; color: #B6B6B6;}
.no-rgba #footer-line-slide {background-color: #1F1F1F;}
#footer-line-slide {background-color: rgba(0,0,0,0.5); width: 100%; height: 170px; border-top: 1px solid #000; position: absolute; bottom: -115px; left: 0; z-index: 30;}
#footer-block.player #footer-line-slide {background-image: url('/design/images/main-design/101logos-wall-black2.png');}

#footer-block h3, #footer-block .h3, #footer-block h4, #footer-block .h4, #footer-block a {color: #B6B6B6;}
#footer-block a {text-decoration: none;}
#footer-block a:hover, #footer-block a.active h3, #footer-block a.active h4 {color: #ffa000 !important;}
#footer-block #footer-line-slide.active .footer-titles a.active {color: #ffa000 !important;}
#footer-block .footer-titles {text-align: center; font-size: 12px; background-color: #222; width: 100%; padding: 2px 0 3px 0; margin-top: 1px; border-top: #4e4e4e 1px solid; border-bottom: #4e4e4e 1px solid;}
#footer-block .footer-titles .icon-search {font-size: 15px;}
/*#footer-block:hover .footer-titles {margin-top: 1px;}*/
#footer-line-slide.active .footer-titles {background-color: #000;}
#footer-block .footer-titles a {margin: 0 10px; color: #B6B6B6;}
#footer-line-slide .ajax-block {height: 150px;}

#footer-line {background-color: #0C0C0C; width: 100%; height: 27px; border-top: 1px solid #343434; position: absolute; bottom: 0; left: 0; z-index: 40;}
#footer-block.copyright #footer-line-slide {bottom: -137px;}
#footer-block.copyright:hover #footer-line-slide, #footer-block.copyright #footer-line-slide.active {bottom: -70px; background-color: rgba(0,0,0,0.85);}
#footer-block.copyright {font-size: 14px;}
#footer-block.copyright .one-third {margin: 3px 0; padding: 2px 20px;}
#footer-block.copyright.volume #footer-line {height: 35px;}
#footer-block.copyright.volume #footer-line-slide {bottom: -130px;}
#footer-block.copyright.volume .player-volume {margin-left: 60px; padding: 2px 0; height: 23px; position: relative;}
#footer-block.copyright.volume #footer-line .last {border-left: solid 1px #606060;}
#footer-block.copyright.volume .one-third.parentmenu {width: 40%; font-size: 11px;}
#footer-block.copyright.volume .one-third.last {width: 27%;}
#footer-block.copyright.volume.player #footer-line-slide {bottom: -108px;}
#footer-block.copyright.volume.player #footer-line-slide.active {bottom: 35px;}

#modal-content .information {overflow: auto; max-height: 500px; min-height: 300px;}
#modal-content .information h3 {margin-top: 30px;}

/* Нижний плеер */

#footer-block .radio-player.player-control.pchide, #top-channel-block .player-control.pchide {opacity: 0.4; -webkit-animation-name: play-blink; animation-name: play-blink; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-duration: 3s; animation-duration: 3s;}
#footer-block:hover .radio-player.player-control.pchide, #top-channel-block:hover .player-control.pchide {opacity: 1 !important; -webkit-animation-name: play-blink; animation-name: play-blink; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-duration: 1s; animation-duration: 1s;}


#footer-block .radio-player.player-control.icon {position: absolute; left: 90px; bottom: -4px; top: inherit; background-image: none; margin: 0; color: #fff; font-size: 34px;}
#footer-block .radio-player.player-control.icon:hover {color: #ffa000;}
#footer-block .radio-player.player-control.play.icon:before {content: '\e820'; background-color: #000; border-radius: 50%;  -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%;}
#footer-block .radio-player.player-control.stop.icon:before {content: '\e842'; left: 0.5px; top: -1px; font-size: 30px; border-radius: 50%;  -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%; border: solid 2px #000; background-color: #000; position: relative;}
#footer-block .radio-player.player-control.icon:after {margin-top: -40px; margin-left: -3px;}

#footer-block .notitle-radio .radio-player.player-control.icon {left: 21px; bottom: 4px;}

#footer-block.player #footer-line-slide {bottom: -94px;}
/*#footer-block.player:hover #footer-line-slide {bottom: -94px;}*/
#footer-block.player #footer-line {height: 50px;}
#footer-block.player #footer-line-slide.active {bottom: 50px; background-color: rgba(0,0,0,0.7);}
#footer-block .player-block {min-width: 1004px;}
#footer-block .player-block .inline-mid {margin-top: 2px;}
#footer-block .onair-pic {width: 95px; height: 95px; float: left; position: relative; bottom: 56px; left: 8px; background-color: #232323; border: solid 1px #979797; overflow: hidden; box-shadow: 1px 3px 7px -2px #000; margin-right: 20px;}
#footer-block .onair-pic img {width: 95px; height: 95px; margin-top: -1px; margin-left: -1px;}
#footer-block .player-block .onair-title {width: 30%; font-size: 13px; position: relative; padding-left: 15px; margin-right: 20px; margin-top: -10px; padding-top: 12px;}
#footer-block .player-block .onair-title .TitleSongAir  {overflow: hidden; height: 32px;}
#footer-block .onair-title.mobile {padding-left: 0;}
#footer-block .onair-title a {border-bottom: solid 1px;}
#footer-block .onair-title a:hover {border: none; color: #B6B6B6 !important;}

#footer-block .player-block.notitle-radio .onair-pic {width: 61px; height: 61px; bottom: 17px; background-color: #000;}
#footer-block .player-block.notitle-radio .onair-pic img {display: none;}

#footer-block .onair-time {margin-left: 20px; margin-top: 3px;}
#footer-block .onair-actions {position: absolute; left: -20px; top: -25px; display: none; padding: 10px 35px; text-shadow: 0px 0px 6px rgba(0,0,0,0.9);}
#footer-block .onair-actions .icon {display: none; margin-right: 3px; color: #e2e2e2;}
#footer-block .onair-actions .icon:hover {color: #FFA000;}
#footer-block .onair-actions .r3 {background-color: #000; padding: 4px 10px; border: solid 1px #5D5D5D; box-shadow: 1px 3px 7px -2px #000;}
#footer-block .onair-title .icon {cursor: pointer;}
#footer-block .onair-actions .TitleSongAirPollVoted, #footer-block .onair-actions .TitleSongAirPollVoted:hover {cursor: default; color: rgba(255,255,255,0.6);}
#footer-block .onair-actions .TitleSongAirPollActive, #footer-block .onair-actions .TitleSongAirPollActive:hover {color: #ffa000;}
#footer-block .onair-pic:hover ~ .onair-title .onair-actions {display: block;}
#footer-block .onair-title:hover .onair-actions {display: block;}
#footer-block .onair-station {margin-top: 3px !important; margin-right: 20px; width: 35%; border-right: solid 1px #323232; box-shadow: 1px 0 0 0 rgba(255,255,255,0.3);}
#footer-block .onair-station ins {top: 3px; position: relative; color: #B6B6B6; margin-right: 3px;}
#footer-block .onair-station span {margin-right: 5px;}
#footer-block .onair-station .small-font {font-size: 13px;}
#footer-block .onair-station a:hover ins {color: #ffa000;}
#footer-block .onair-station .addFavorite:before { content: '\e824'; }
#footer-block .onair-station .remFavorite:before { content: '\e838'; }

#footer-block .radio-player.player-control {width: 50px; height: 50px; margin-top: -25px; margin-left: -25px; z-index: 10; top: 50%;}
#footer-block .radio-player.player-control.play {background-position: -296px -218px;}
#footer-block .radio-player.player-control.play:hover {background-position: -346px -218px;}
#footer-block .radio-player.player-control.stop {background-position: -296px -318px;}
#footer-block .radio-player.player-control.stop:hover {background-position: -346px -318px;}

#footer-block .player-volume {margin-right: 20px; height: 40px; padding-top: 10px;}
.player-volume {opacity: 0.7;}
.player-volume:hover {opacity: 1;}
.player-volume .icon {cursor: pointer;}
#footer-block .player-volume .icon {color: #fff;}
#footer-block .player-volume .icon:hover, .player-volume .icon:hover {color: #FFA000;}
#footer-block .sliderStrip {border-radius: 5px; width: 120px; position: relative; height: 8px; margin: 6px 0 0 10px; cursor: pointer; border: solid 1px #959595; background-color: #3B3B3B;}
#footer-block .sliderThumb {width: 16px; height: 16px; border-radius: 50%; position: absolute; left: 0; top: -5px; cursor: pointer; border: solid 1px #5D5D5D; background-color: #fff; box-shadow: 0 0 5px #000;}
#footer-block .sliderThumb:hover {border: solid 2px #FFA000; background-color: #fff;}
#footer-block .sliderThumb:active {background-color: #FFA000;}

#footer-block .sliderBack {width: 0%; height: 6px; position: absolute; left: 0; top: 0; background-color: #FFA000; border-radius: 3px;}

.sm-channels {width: 100%; float: none;}
.sm-channels li {margin-right: 3%; width: 23%; height: 50px; margin: 7px 0;}
.sm-channels li img {margin-right: 5px; vertical-align: middle; display: inline-block; width: 50px; height: 50px;}
.sm-channels li h4 {color: #cecece !important; font-size: 17px; display: inline-block; width: 70%; vertical-align: middle; margin-top: -3px;}
.sm-channels li a:hover h4 {color: #ffa000 !important; word-break: break-word;}
.scrollbar {overflow-y: scroll; overflow: auto; height: 130px; width: 990px; margin: 10px auto;}
.scrollbar::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6); border-radius: 5px; border: solid 1px #5D5D5D; background-color: rgba(0,0,0,0.4);}
.scrollbar::-webkit-scrollbar {width: 8px;}
.scrollbar::-webkit-scrollbar-thumb {border-radius: 5px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6); background-color: #ffa000;}
.scrollbar::-webkit-scrollbar-thumb:hover {background-color: #FE690F;}
#footer-search-result.scrollbar {height: 80px;}

@media (max-width: 1200px)  {
.scrollbar {width: 880px; margin-left: 110px;}
}
#footer-block .search {width: 290px; margin: 20px auto 10px auto;}
#footer-block .search .sinput {width: 250px; background-color: #000; border: solid 1px #B6B6B6; padding: 3px 10px;}
#footer-block .search .icon-search {top: 3px;}
#footer-block .footer-titles .icon-search {top: 1px;}

/* Главная страница */

.aux240.index-page {padding-top: 90px;}
@media (max-width: 1400px) {.index-page h2 {letter-spacing: -1px;}}
.index-page h2 span {font-size: 19px; margin-left: 20px; position: relative;}
.index-page h2.top span {top: -3px;}
@media (max-width: 1400px) {.index-page h2 span {margin-left: 10px !important;}}
@media (max-width: 1100px) {.index-page h2 span {font-size: 18px !important;}}
.index-page h2 span {font-size: 19px; margin-left: 20px; position: relative;}
.index-page h2 span a, .list.menu a {text-decoration: none; border: none;}
.index-page h2 span a:hover, .list.menu a:hover {border-bottom: solid 1px #FFA000; color: #FFA000;}
.index-page h2 span a.active, .list.menu a.active {border-bottom: solid 1px #484848; color: #0F0F0F;}
span.more {margin-left: 20px; position: relative;}
span.more .icon.icon-dot-3 {font-size: 24px;}
span.more .icon.icon-dot-3:hover {border-bottom: none; color: #FFA000;}

.list.menu {margin: 30px 0 2% 0; border-bottom: dotted 1px #b1b1b1;; width: 96%;}
.list.menu li {margin-right: 20px; margin-bottom: 10px;}
.list.menu a.active {line-height: 60%;}
.list.menu li.pr {top: -2px; margin-bottom: 5px; margin-right: 3%;}
.list.menu.alp {margin: 0 0 10px 0; font-size: 25px; width: 96%;}
.list.menu.alp .h1.active {top: 2px; font-size: 35px;}
@media (max-width: 1600px) {.list.menu.alp {font-size: 22px;} .list.menu.alp .h1.active {font-size: 30px;}}
@media (max-width: 1400px) {.list.menu.alp {font-size: 20px;} .list.menu.alp .h1.active {font-size: 26px;}}

.list.dotted.menu li:not(.pr) {margin-right: 10px;}
.list.dotted.menu li .icon {margin-right: 6px; font-size: 17px;}
.list.dotted.menu li .icon:before {content: '\2022';}
.list.dotted.menu li .icon-dot-3 {margin-right: 15px; font-size: 16px; overflow: hidden; display: block; width: 5px; float: left;}

.control {display: block; position: absolute;}
.control:hover {color: #FFA000;}
.carousel-controls-wrap {width: 100%; float: left; position: relative;}
.carousel-wrap {width: 100%; height: 530px; overflow: hidden;}

#proradio-block {height: 580px;}
#proradio-block .control, #persradio-block .control {width: 50px; height: 40px; font-size: 50px; cursor: pointer}
#proradio-block .control.icon-up-th {top: -23px; left: 46.2%; overflow: hidden;}
#proradio-block .control.icon-up-th:before {top: -22px; position: relative;}
#proradio-block .control.icon-down-th {bottom: -23px; left: 46.2%;}
#proradio-block .control.hide-element {display: none;}

.chan-groups li {width: 31%; margin-right: 2%; margin-bottom: 20px;}
.chan-groups .cover {width: 100%; height: 230px;}
.chan-groups li .cover img {height: 100%;}
.csstransforms .chan-groups .cover img {position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.chan-groups h3 {text-align: center; font-size: 15px; margin-top: 8px;}
.no-rgba .chan-groups .clist {background-image: url('/design/images/main-design/opacity-bg-black.png');}
.chan-groups .clist {background-color: rgba(0,0,0,0.6); height: 230px; width: 140px; position: absolute; top: 0; left: -140px; padding: 14px 20px; color: #fff; border-right: 1px solid rgba(255,255,255,0.5);}
.chan-groups li:hover .clist {left: 0;}
.chan-groups .clist .icon-radio {width: 18px; height: 18px; display: block; font-size: 18px; margin-bottom: 5px; float: left;}
.chan-groups .clist a {color: #fff; text-decoration: none;}
.chan-groups .clist a:hover, .chan-groups li:hover h3 a {color: #FFA000;}
.chan-groups .clist p {margin-top: 6px; font-size: 13px; width: 100%; float: left; line-height: 100%;}
.tooltip-block {display: none;}

#proradio-block #toppro .carousel-wrap, #proradio-block #favor .carousel-wrap {height: 550px;}

#persradio-block, #toppers .carousel-wrap {height: 370px;}
#persradio-block .list.list-channels li {width: 31%;}
#persradio-block .control.icon-up-th {top: -35px; left: 46.2%;}
#persradio-block .control.icon-down-th {bottom: -40px; left: 46.2%;}

#persradio-block .list.list-channels li:hover .cover.logo img {margin: 11px auto; width: 122px; height: 122px;}
#persradio-block .list.list-channels li:hover .cover.logo:before {width: 118px; height: 118px; margin-top: -59px; margin-left: -59px;}
#persradio-block .list.list-channels .htitle {height: 20px; font-size: 15px;}
@media (max-width: 1400px) {.index-page .personal-block h2 {font-size: 28px;}}
@media (max-width: 1440px)  { #persradio-block .list.list-channels .htitle {font-size: 13px;} }


.ind-create-radio {width: 96%; height: 336px; margin-top: 2px; float: left;}
.ind-create-radio a {width: 100%; height: 336px; display: block;}
.ind-create-radio  img.trans-pic-less {height: 360px; margin-top: -15px;}
.ind-create-radio h3 {color: #fff; position: absolute; bottom: 20px; left: 20px;}
.ind-create-radio .icon {color: #fff; font-size: 20px;}
.ind-create-radio a:hover h3, .ind-create-radio a:hover .icon {color: #ffa000;}
.ind-create-radio.cover.logo h3 img {width: 50px; height: 50px; margin-top: -10px; float: left; margin-right: 7px;}

.index-page .search {position: absolute; top: -10px; right: -2px; width: 265px; padding-bottom: 8px; background-color: #FFFBF6; display: none;}
.index-page .search .sinput {border: #484848 solid 1px; background-color: #FFFBF6; color: #484848; padding: 3px 20px 3px 10px; width: 230px; box-shadow: -2px 0px 10px rgba(0,0,0,0.5);}
.index-page .search .icon-search {position: relative; top: 3px;}
.index-page .search .icon-close {position: absolute; top: 2px; left: 210px; cursor: pointer;}
.index-page .search .icon-close:hover {color: #ffa000;}


/* Список станций */

.list.list-channels li a, .list.sm-channels li a, .list.groups li a {text-decoration: none; border-bottom: none;}
.cover {position: relative; overflow: hidden;}
.list.list-channels .cover, .list.groups .cover {border: solid 1px #f1f1f1; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;}
.list.list-channels {width: 103%;}
.list.list-channels li {width: 22%; margin-right: 2%; margin-bottom: 20px;}
.list.list-channels .cover.logo {height: 145px; background-image: url('/design/images/main-design/101logos-wall4.png'); background-color: #93949E; background-position: center; box-shadow: 0 0 50px -20px #000 inset; text-align: center; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in;}
.list.list-channels li:hover .cover.logo {background-image: url('/design/images/main-design/101logos-wall3.png');}
.list.list-channels .cover.logo img {margin: 22px auto; width: 100px; height: 100px;}
.list.list-channels .cover.logo:before {box-shadow: 0 0 8px 0px #000; display: block; width: 98px; height: 98px; position: absolute; top: 50%; left: 50%; margin-top: -49px; margin-left: -49px; content: ''; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%;}
.list.list-channels li:hover .cover.logo img {margin: 10px auto; width: 125px; height: 125px;}
.list.list-channels li:hover .cover.logo:before {width: 122px; height: 122px; margin-top: -60px; margin-left: -61px;}
.list.list-channels .cover.logo:before, .list.list-channels .cover.logo img {-webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in;}
.list.list-channels .htitle {width: 100%; text-align: center; font-size: 17px; margin-top: 5px; height: 22px;}
@media (max-width: 1024px)  { .list.list-channels .htitle {font-size: 15px;} }
.list.list-channels a:hover .htitle {color: #ffa000;}

.search.top-block {position: absolute; top: -60px; right: 15px; text-shadow: 0px 0px 8px rgba(0,0,0,0.8);}
.search.top-block .icon-search {color: rgba(255,255,255,0.8); position: relative; top: 3px; left: 5px;}
.search.top-block:hover .icon-search {color: rgba(255,255,255,1);}
.search.top-block .sinput {border: solid 1px; border-color: rgba(255,255,255,0.8); background-color: rgba(0,0,0,0.7); color: #fff; padding: 3px 10px;}
.search.top-block:hover .sinput {border-color: rgba(255,255,255,1);}

#tooltip h5 {margin-left: 22px; text-indent: -20px;}
#tooltip h5 b {font-size: 12px;}
#tooltip h4 {margin-bottom: 7px; }
#tooltip h4 ins, #tooltip h5 ins {width: 16px; height: 16px; margin-right: 5px; float: left; display: block; font-size: 16px; color: #FFA000;}


/* Список треков */

.player-control, .player-control.play {position: absolute; top: 48.5%; left: 50%; width: 72px; height: 72px; margin-top: -36px; margin-left: -36px; background-position: -295px 0; display: block; background-image: url('/design/images/main-design/player-controls.png'); cursor: pointer;}
.player-control:hover, .player-control.play:hover {background-position: -367px 0; border: none;}
.player-control.pause {background-position: -295px -72px;}
.player-control.pause:hover {background-position: -367px -72px;}
.player-control.stop {background-position: -295px -144px;}
.player-control.stop:hover {background-position: -367px -144px;}

.list.tracks .cover img {border: solid 1px #f1f1f1; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;}

.cover.big .player-control, .cover.big .player-control.play {width: 147px; height: 147px; margin-top: -74px; margin-left: -74px;  background-position: 0 0; top: 49.5%;}
.cover.big .player-control:hover, .cover.big .player-control.play:hover {background-position: -147px 0;}
.cover.big .player-control.pause {background-position: 0 -147px;}
.cover.big .player-control.pause:hover {background-position: -147px -147px;}
.list .player-control {display: none;}
.list .player-control.pause, .list .player-control.mob {display: block;}
.list .cover:hover .player-control, .list .cover:hover .track-player {display: block !important;}
.list.tracks .cover {overflow: inherit;}
.list.tracks .track-player {position: absolute; left: 0; bottom: 10px; visibility: visible; padding: 0 10px; width: 97%; height: auto !important;}
.list.tracks .big .track-player {left: 25px; bottom: 30px; width: 90%;}
.list.tracks .player-control.play + .track-player {visibility: hidden;}

.list.tracks li {text-align: center; width: 14%; margin: 5px 1.9% 10px 0; position: relative; display: inline-block; float: none; vertical-align: top;}
.list.tracks.bigfirst li {margin-bottom: 0;}
.list.tracks h4 {font-size: 13px;}
.list.tracks h5 {font-size: 11px;}
.list.tracks.bigfirst h4, .list.tracks.bigfirst h5 {height: 15px; overflow: hidden;}
.list.tracks li.first {width: 32%; min-width: 272px; max-width: 372px; float: left;}
.list.tracks li.first .cover {max-height: inherit;}
.list.tracks li.first h4 {font-size: 19px; height: auto;}
.list.tracks li.first h5 {font-size: 13px; height: auto;}

.list.tracks li .num {position: absolute; top: -7px; right: -7px; background-color: rgba(255,255,255,0.9); border: solid 1px #BFBFBF; text-align: center; width: 38px; height: 38px;}
.list.tracks li .num.h1 {width: 50px; height: 50px;}
.no-rgba .list.tracks li .num {background-color: #fff;}

.list.tracks li .style, .list.videos li .style {background-color: rgba(0,0,0,0.7); top: 8px; right: -5px; position: absolute; padding: 2px 5px; border: solid 1px #979797; color: #fff; text-decoration: none;}
.list li a.style:hover {background-color: #ffa000;}

.list.tracks li .clip {background-color: rgba(0,0,0,0.7); bottom: 8px; right: -5px; position: absolute; border: solid 1px #979797; color: #fff; height: 20px; width: 30px;}
.list.tracks li .clip:before {margin: 3px 0 0 2px;}
.list li a.clip:hover {background-color: #ffa000;}
.list.tracks li.first .clip {height: 25px; width: 36px;}

.no-rgba .list.tracks li .style, .no-rgba .list.videos li .style, .no-rgba .list.tracks li .clip {background-color: #000;}
.list.tracks li .icon-plus {position: absolute; background-color: #fff; display: none; border-right: solid 1px #fff; border-bottom: solid 1px #fff; top: 0; left: 0;}
.list.tracks li .icon-plus:hover {color: #ffa000;}

.list.tracks li .icon-plus.h1 {top: -8px; left: -8px; width: 28px; height: 28px;}
.list.tracks li .icon-plus.h2 {top: -6px; left: -6px; width: 23px; height: 23px;}
.list.tracks li:hover .icon-plus {display: block;}
.addTrackToStation {cursor: pointer;}
.tracks-loader {display: none;}

.list.videos .cover {border: solid 1px #f1f1f1; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;}
.list.videos li {text-align: center; width: 30%; margin: 5px 3% 20px 0; position: relative; display: inline-block; float: none; vertical-align: top;}
.list.videos li .cover {height: 210px;}
.list.videos.big li {width: 45.5%; margin: 5px 4% 20px 0;}
.list.videos li .cover img {width: 365px; height:auto;}
.list.videos.big li .cover {height: 310px;}
.list.videos.big li .cover img {width: 550px;}
.list.videos h4 {margin-top: 3px; font-size: 19px; height: auto;}
.csstransforms .list.videos .cover img {position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.videos-loader {display: none;}

.list.artists .cover img {border: solid 1px #f1f1f1; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;}
.list.artists li {text-align: center; width: 14%; margin: 5px 2% 20px 0; position: relative; display: inline-block; float: none; vertical-align: top;}
.list.artists li .cover {background-size: 100%;}
.list.artists h4 {font-size: 13px; margin-top: 3px;}
.list.artists h5 {font-size: 11px;}
.icon-dot-3.more {margin-left: 10px;}

/* Страница исполнителя */

#about-artist .social-share {position: relative; top: -60px;}
#about-artist .pics {width: 355px; margin: 42px 15px 0 0; position: relative; margin-top: -60px;}
#about-artist .pics img {width: 65px; border: solid 1px #f1f1f1;}
#about-artist .pics a {margin: 0 6px 5px 0; display: block; float: left;}
#about-artist .pics #main-pic {width: 352px; height: 352px; margin-bottom: 5px; overflow: hidden;}
#about-artist .pics #main-pic img {width: 350px;}
#about-artist .pics a:last-child {margin-right: 0;}
#about-artist .pics a.active img {opacity: 0.3;}
#about-artist .pics a.active:hover img {opacity: 0.7;}
#about-artist .pics a:hover img {opacity: 0.7;}
#about-artist h1 {font-size: 50px;}
#about-artist h4.top {margin-bottom: 5px;}
#about-artist h3.top {margin-bottom: 10px;}
#about-artist .inproj:after {content: ''; display: inline-block; width: 6px; position: relative; height: 10px; left: -8px; top: 3px; background-color: #FFFBF6;}

@media (max-width: 1280px)  {
#about-artist .pics {width: 305px;}
#about-artist .pics #main-pic {width: 302px; height: 302px;}
#about-artist .pics #main-pic img {width: 300px;}
}

/* Страница трека / альбома */

#about-track {position: relative; top: -60px;}
#about-track .track {position: relative; margin-right: 20px;}
#about-track .cover {width: 300px; height: 300px;}
#about-track .cover img {width: 300px; height: 300px; border: solid 1px #f1f1f1; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;}
#about-track .title {width: 60%;}
#about-track .title .icon-plus-alt {top: -5px; left: 10px;}
#about-track h1 {font-size: 44px;}
#about-track h4, #about-track h3 {margin-bottom: 10px;}
#about-track .track-player {position: absolute; left: 10px; bottom: 40px; visibility: visible; padding: 0 10px; width: 95%; height: auto !important;}

#about-track .track .clip {background-color: rgba(0,0,0,0.7); right: -5px; position: absolute; padding: 1px 7px; border: solid 1px #979797; color: #fff; top: 87%; height: 25px; width: 36px;}
#about-track .track .clip:hover {color: #ffa000;}
#about-track .cover .clip:hover {background-color: #ffa000;}
#about-track .released {margin-right: 5px; font-size: 0.8em; border: solid 1px #383838; padding: 0 0 0 5px; width: 18px; height: 18px; display: inline-block; line-height: 106%;}
#about-track  .lyrics {overflow: auto; height: 300px;}

.linetracks {display: table; width: 70%;}
.linetracks li {display: table-row;}
.linetracks .tc {display: table-cell; padding-bottom: 10px; vertical-align: top;}
.linetracks .num, .linetracks .plbut {width: 4%;}
.linetracks .num {text-align: right; padding-right: 10px;}
.linetracks .dur {width: 70px;}
.linetracks .track-player {margin-top: -5px; margin-left: -3px;}
.linetracks .act .icon:hover {color: #ffa000;}
.linetracks .act .icon.r3 {width: 20px; height: 20px; background-color: #383838; color: #fff; font-size: 13px; margin-right: 6px; position: relative; top: -4px; display: inline-block;}
.linetracks .act .icon.r3:before {margin: 4px 0 0 3px;}
.linetracks .act .icon.r3:hover {background-color: #ffa000;}

.linetracks.overline li {position: relative;}
.linetracks.overline li:hover, .linetracks.overline li.active {background-color: #FAF5EA;}
.linetracks.overline .plbut {width: 5%; text-align: right;}
.linetracks.overline .lineplay-track {display: none; margin-right: 5px;}
.linetracks.overline .lineplay-track.icon-pause {display: block;}
.linetracks.overline li.active .num {display: none;}
.linetracks.overline li:hover .lineplay-track {display: block;}
/*.linetracks.overline li.active .track-player {height: 18px !important;}
.linetracks.overline li.active .track-player object {visibility: visible !important;}*/
.linetracks.overline li:hover .num {display: none;}
.linetracks.overline .act {display: none;}
.linetracks.overline li:hover .act, .linetracks.overline li.active .act {display: table-cell;}
.linetracks.overline .tc {padding-top: 5px; padding-bottom: 4px;}
.linetracks.overline .icon-trash {cursor: pointer;}

/* Страница клипа */

#about-video .social-share {position: relative; top: -60px;}
#about-video h1 {font-size: 45px;}

@media (max-width: 1400px)  {
.video-player object, .video-player embed, .video-player iframe {max-width: 910px; height: 530px;}
}
@media (max-width: 1280px)  {
.video-player object, .video-player embed, .video-player iframe {height: 530px;}
}
@media (max-width: 1024px)  {
.video-player object, .video-player embed, .video-player iframe {height: 450px;}
}

/* Новости */

.add-news input[type=text], .add-news textarea {width: 97%;}    
.add-news .announce {height: 90px;}  
.add-news .news-text {height: 280px;}  
.add-news .error {color: red; font-size: 12px; display: none;}

.list.news {width: 103%;}
.list.news li {width: 29%; margin-right: 3%; margin-bottom: 20px; position: relative; height: 300px;}
.list.news li a {text-decoration: none;}
.list.news .cover {max-height: 250px; margin-bottom: 3px; border: solid 1px #f1f1f1; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; text-align: center;}
.list.news li .chapt {background-color: rgba(0,0,0,0.7); top: 8px; right: -5px; position: absolute; padding: 2px 5px; border: solid 1px #979797; color: #fff; text-decoration: none;}
.list li a.chapt:hover {background-color: #ffa000;}

#news .social-share {position: relative; top: -60px;}

#news .pics {width: 355px; margin: 42px 15px 0 0; position: relative; margin-top: -60px;}
#news .pics img {width: 65px; border: solid 1px #f1f1f1;}
#news .pics a {margin: 0 6px 5px 0; display: block; float: left;}
#news .pics #main-pic {width: 352px; height: 352px; margin-bottom: 5px; overflow: hidden;}
#news .pics #main-pic img {width: 350px;}
#news .pics a:last-child {margin-right: 0;}
#news .pics a.active img {opacity: 0.3;}
#news .pics a.active:hover img {opacity: 0.7;}
#news .pics a:hover img {opacity: 0.7;}

#news h3.date {margin-top: 20px; color: #989696;}
#news p {font-size: 18px;}
#news p br {content: "."; display: block; margin-bottom: 15px;}
#news p br + br {display: none;}

#news p b, #news p strong {font-family: 'BlogSansB';}
#news p i, #news p em {font-family: 'BlogSansI';}
#news p b i, #news p i b, #news p em strong, #news p strong em {font-family: 'BlogSansBI';}
#news iframe {margin-top: 30px; border: none}
#news object, #news embed, #news iframe {width: 96%; height: 600px;}
@media (max-width: 1400px)  {
#news object, #news embed, #news iframe {max-width: 910px; height: 530px;}
}
@media (max-width: 1280px)  {
#news object, #news embed, #news iframe {height: 530px;}
}
@media (max-width: 1024px)  {
#news object, #news embed, #news iframe {height: 450px;}
}
.list.neib .icon-left-th, .list.neib .icon-right-th {position: absolute; top: 68px; font-size: 70px; color: #fff; text-shadow: 0px 0px 8px rgba(0,0,0,1); cursor: pointer;}
.list.neib li:hover .icon-left-th, .list.neib li:hover .icon-right-th {color: #ffa000;}
.list.neib .icon-left-th {left: -13px;}
.list.neib .icon-right-th {right: -25px;}

/* Команда */

.command img {margin-right: 10px;}
.command .icon-vk {margin-left: 5px;}
.command .list li {margin-top: 20px;}

/* Социалка */

#vk_comments, #vk_comments iframe {width: 100% !important;}
.comments.table {width: 96%}
.comments .tab-cel{padding-right: 2%;}
.comments .tab-cel.last {padding: 0;}
#comment-widget {width: 300px;}

.social-share {width: 480px;}
.social-share .h4.caps {margin-right: 10px; opacity: 0.7;}
.social-share .h4.caps span {letter-spacing: 1.5px;}
.social-share a, .social-share a:hover {border: none;}
.social-share .share, .search-links .link {width: 42px; height: 42px; background-image: url('/design/images/main-design/social-icons-42.png'); background-position: 0 0; margin-right: 10px; display: block; float: left; opacity: 0.6;}
.social-share .share:hover, .search-links .link:hover  {opacity: 1;}
.social-share .share_counter {font-family: ALSlight, Tahoma, Verdana, Helvetica, Arial, sans-serif; font-size: 20px; color: #fff; padding: 8px 0; opacity: 0.7; display: block; float: left; border: solid 1px rgba(255,255,255,0.7); height: 40px; min-width: 60px; max-width: 100px; width: 65px ; text-align: center;}
.social-share .share_counter:hover {opacity: 0.9;}
.social-share .vk {background-position: 0 0;}
.social-share .facebook {background-position: -43px 0;}
.social-share .twitter {background-position: -86px 0;}
.social-share .ok {background-position: -129px 0;}
.social-share .gplus {background-position: -173px 0;}
.social-share .mailru {background-position: -216px 0;}

.social-share.color-icons .vk {background-position: 0 -86px;}
.social-share.color-icons .facebook {background-position: -43px -86px;}
.social-share.color-icons .twitter {background-position: -86px -86px;}
.social-share.color-icons .ok {background-position: -129px -86px;}
.social-share.color-icons .gplus {background-position: -173px -86px;}
.social-share.color-icons .mailru {background-position: -216px -86px;}
.social-share.color-icons .share_counter {border: solid 1px rgba(0,0,0,0.7); color: #000;}
.social-share.color-icons a {opacity: 0.8;}
.social-share.color-icons a:hover {opacity: 1;}


/* Профайл */

.login-social {width: 460px; margin: 20px auto 0 auto;}
#login-form {width: 550px; margin: 20px auto 0 auto;}

#login-form input[type=text], #login-form input[type=email], #login-form input[type=password] {width: 100%; margin-top: 3px}
#login-form .one-third, #login-form .two-thirds {float: none; display: inline-block; vertical-align: bottom;}
#login-form .one-third {padding-left: 20px;}

.errors {color: #E30000;  margin-bottom: 5px;}

#registration .information {height:200px;}
.form-info {margin-top: 6px;}
.form-info.success {color: #009505;}
.form-info.error {color: #E30000;}
.form-info.loading:before {position: relative; left: -5px; top: 0; -moz-animation: spin 1s infinite linear; -o-animation: spin 1s infinite linear; -webkit-animation: spin 1s infinite linear; animation: spin 1s infinite linear; display: inline-block; font-size: 12px; color: #000;  font-family: "101icons"; display: inline-block;}
#login-form .success {font-size: 17px;}

#login-form #agreement-block {top: -40px; left: 20px; display: none; background: #FFFBF6; box-shadow: 0 0 8px 0px #000; width: 95%; padding: 5px;}
#login-form #agreement-text {padding: 20px; height: 380px;}

.iconsocial64 {display: inline; position: relative; border: none; background-image: url('/design/images/main-design/social-icons-block.png'); background-repeat: no-repeat; width: 64px; height: 64px; float: left; margin: 0 15px 0 0; opacity: 0.8;}
.iconsocial64:hover { opacity: 1;}
.iconsocial64.vkontakte {background-position: 0 0;}
.iconsocial64.facebook {background-position: -64px 0;}
.iconsocial64.mymail {background-position: -128px 0;}
.iconsocial64.google {background-position: -192px 0;}
.iconsocial64.yandex {background-position: -256px 0;}
.iconsocial64.instagram {background-position: -320px 0;}
.iconsocial64.twitter {background-position: -384px 0;}

.profile-pic {position: relative; margin-top: -60px; margin-right: 20px;}    
.profile-pic img {width: 350px; height: 350px; border: solid 1px #f1f1f1;}
@media (max-width: 1280px)  {
.profile-pic img {width: 300px; height: 300px;}
}
.profile-pic .icon-edit {position: absolute; left: 15px; bottom: 15px; text-shadow: 0px 0px 5px rgba(0,0,0,0.9);}
.profile-info h1 {margin-top: 20px;}
.profile-info p {margin-top: 0.5em;}
.profile-info ins {margin-right: 5px;}
.profile-info .social {margin: 20px 0;}
.profile-info .social a.icon {margin-right: 3px; border: solid 1px #949494 !important; font-size: 25px; text-align: center; display: inline-block; width: 40px; height: 40px; padding: 7px;}

#profile-form input[type=text], #profile-form input[type=email], #profile-form input[type=password], #profile-form textarea {width: 80%;}
/*#profile-form .submit-password, #profile-form .submit-code {display: none;}*/
#profile-form .submit-password, #profile-form #change-phone-code {display: none;}
#profile-form input.red {border: solid 1px #E30000;}

#profile-form.add-pic {width: 47%; border: solid 1px #DBDBDB; margin-top: 20px; padding: 20px; background-color: #f3f2ec; display: none;}
.list.user-pics li {width: 22%; margin-right: 3%; margin-bottom: 20px; position: relative; height: 210px;}
.list.user-pics .cover {border: solid 1px #f1f1f1; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; max-height: 190px; margin-bottom: 3px; text-align: center; overflow: hidden;}
.list.user-pics .cover img {cursor: pointer;}
.list.user-pics li h5 {height: 30px; overflow: hidden;}
.list.user-pics .actions {position: absolute; bottom: -35px; left: 0; width: 100%; height: 30px; background-color: rgba(0,0,0,0.5); padding: 3px;
    border-top: solid 1px rgba(255,255,255,0.7);}
.list.user-pics li:hover .cover .actions {bottom: 0;}
.list.user-pics .icon {margin-right: 5px;}
.list.user-pics .icon-edit {display: none; margin-left: 3px; margin-right: 3px;}
.list.user-pics li:hover .icon-edit {display: inline-block;}
.list.user-pics li .edit-name {position: absolute; bottom: -13px; left: 0; width: 100%; height: 30px; background-color: #fff; display: none;}
.list.user-pics li .edit-name input[type=text] {width: 155px; margin-right: 5px;}
.list.user-pics li .edit-name input[type=submit] {padding: 3px 10px; width: 38px;}
#site .galleryModal {z-index: 300 !important;}
#site .gallery_close_btn, #site .gallery_left_arrow, #site .gallery_right_arrow {background-image: none; color: #fff;}
#site .gallery_close_btn:hover, #site #gallery_left_btn:hover .gallery_left_arrow, #site #gallery_right_btn:hover .gallery_right_arrow {color: #ffa000;}
#site .gallery_close_btn:before {content: '\e827'; font-size: 45px;}
#site .gallery_left_arrow:before {content: '\e81c'; font-size: 90px;}
#site .gallery_right_arrow:before {content: '\e81d'; font-size: 90px;}
#site .gallery_right_arrow {right: 60px;}

/* Персональные сообщения */

#messcenttop span.h6 {cursor: help;}
#messcent {width: 96%;}
#messcent .icon-angle-up {margin-left: -7px;}
#messcent tr.newmess .title, #messcent tr.newmess .sender {font-weight: bold}
#messcent tr {border-bottom: solid 1px #eaeaea;}
#messcent th {padding: 5px 0; font-weight: normal; text-align: left;}
#messcent td {padding: 8px 0;}
#messcent label {top: 6px;}
#messcent .smpad {width: 20px;}
#messcent .date {font-size: 12px; width: 10%;}
#messcent .sender {width: 15%; padding-left: 10px;}
#messcent .title {padding-left: 10px;}
#messcent .form input[type=text], #messcent .form textarea {width: 750px;}

/* Блок проверки Flash */

#flash-warn {right: 40px; bottom: 95px; z-index: 50; position: fixed; display: none;}
#flash-warn .icon-close {right: -25px; top: -25px; background-color: #fff; border-radius: 50%; width: 25px; height: 25px; box-shadow: 0 0 7px 0px #000;}
#flash-warn .icon-close:before {top: -3px; position: relative;}
#flash-warn-block {box-shadow: 0 0 10px 0px #000; border: solid 2px #fff; background-color: #C40000; padding: 10px 15px; color: #fff; width: 500px;}
#flash-warn-block h3 {color: #fff;}
#flash-warn-block .radio-styled label:before, #flash-warn-block .checkbox-styled label:before {background-color: #de4d4d;}
#flash-warn-block .radio-styled input[type=radio]:checked + label:before, #flash-warn-block .checkbox-styled input[type=checkbox]:checked + label:before {background-color: #4c4c4c;}

/* Блок Соцгрупп */

#social-groups {position: fixed; right: 0; bottom: 95px; z-index: 20; width: 45px;}
#social-groups a.icon {font-size: 26px; width: 40px; height: 40px; color: #fff; background: #000; box-shadow: 0 0 2px 1px #fff; margin-right: 5px; margin-bottom: 5px; border-radius: 3px; opacity: 0.7; display: block; text-align: center; padding-top: 3px; padding-left: 5px; float: left;}
#social-groups a.icon:hover {opacity: 1;}
#social-groups a.icon.icon-vk {padding-left: 0;}
#social-groups a.icon.icon-vk:hover {background-color: #507299;}
#social-groups a.icon.icon-facebook:hover {background-color: #3B5998;}
#social-groups a.icon.icon-odnoklassniki:hover {background-color: #EE8208;}
#social-groups a.icon.icon-mymail:hover {background-color: #0064B1;}
#social-groups a.icon.icon-mirtesen:hover {background-color: #EF0808;}

/* FAQ */
#faq .text h3 {font-size: 24px;}
#faq .text p {padding-left: 20px; margin-top: 10px; width: 100%; float: left;}
#faq .text p img {border: solid 1px #dedede; border-radius: 4px;}

#not-activated {position: fixed; bottom: 76px; z-index: 10; background-color: #D80000; padding: 2px 0; color: #fff;}
#not-activated a {color: #fff;}