/* =========================================================================                                           
    CSS for common attributes and elements
   ======================================================================== */
body {
	background-color: #999999;
}

a {
	color: #006699;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-bottom: 1px;
}

/* =========================================================================                                           
   Updated CSS style for pdf online -- updated on 11/12/2014 -- START HERE
   ======================================================================== */
   
/* =========================================================================                                           
   CSS for Wrapper 
   ======================================================================== */
   
.wrapper {
    width: 880px;
    border: 0px;
    margin: auto;
}

td.header-wrapper {
    border-color: grey;
    border: 0px;
    padding: 0px;
    background-color: #999;
}

/* =========================================================================                                           
  CSS for Main Navigation Top Links
   ======================================================================== */

.TopNavLinkContainer {
 margin-top:5px; 
 float:right;
 }
 
.tdNavContainer {
	width:93%;
    background-color:#333333;
}

/* =========================================================================                                           
	CSS for Custom Style for table, td 
   ======================================================================== */
.customStyleTable{
	width:100%;
	border:0px;
}

.customTdStyle {
	background-color:#fff;
}

/* =========================================================================                                           
  CSS for Logos
   ======================================================================== */

.smallBCLlogo {
	width: 60px;
	height: 26px;
}
.BCLlogoContainer {
	width:7%;
	background-color:#fff;
}

.tdLogoContainer {
 width:93%;
 background-color:#333333;
 }
 
.logoLayout {
float:left; 
background-color:#FFF;
}

.logoLayout img {
width: 256px;
height: 62px;
border: 0;
}

/* =========================================================================                                           
 CSS style for google site search box
   ======================================================================== */
   
.searchContainer {
float:right; 
margin:18px 18px 0 0;
}

td.container{
	background-color: #fff;
}

/* =========================================================================                                           
 CSS for BCL Product Navigation --PDF to Word Online, Word to PDF online,
 PDF reader, PDF to HTML, Web to PDF, PDF for iphone  
   ======================================================================== */

.tdProductNav{
background-image:url(../images/background-grey-gradation.png);
background-repeat:repeat-x;
background-position: 0px -20px;
}

.divProductNavContainer{
 width: 500px; 
 float: left;
 }

.tdProductNavContainer1 {
width: 240px;
background-color: #FFFFFF ;
border-top:solid 5px #C30;
border-right:solid 1px #333; 
padding: 5px 0 10px 0;
}

.tdProductNavContainer2 {
width: 240px;
background-color: #DCDCDC;
border-top:solid #333 5px; 
border-left:solid 1px #333;
border-right:solid 1px #333;
}

.tdProductNavContainer2 a{
font-family:Arial, Helvetica, sans-serif; 
font-size:16px; 
color:#666;
}

.productNavLink {
font-family:Arial, Helvetica, sans-serif; 
font-size:16px;
color:#666; 
 }
 
.padProductNav{
width:10px;
}

.productLinks {
float:right; 
font-size:12px; 
margin: 10px 10px 0 0; 
color:#666;
font-family:Arial, Helvetica, sans-serif;
}

.productLinks a {
color:#666; 
font-family:Arial, Helvetica, sans-serif; 
 }

/* =========================================================================                                           
 CSS for iframe (or first content )- image and content
   ======================================================================== */
   
.iframeImage{
	 float:right;
	 width: 350px;
	 margin: 20px 0 0 0; 
	 height: 70px;
	 background-image: url(../images/iphone-ipad-icon.png); 
	 background-repeat:no-repeat;
 }
 
.iframeContent{
	margin: -10 0 0 55px;
}

.iframeImageText{
	font-size:18px;
	margin-left:55px;
	margin-top:8px
}

h1.iframeHeaderText{
	margin: 5px 0 0 15px;
	font-size: 34px;
}

/* =========================================================================                                           
   CSS for left content and right content
   ======================================================================== */

/* CSS for a second content     */
.second-content{
	position: static; 
	background-color:#FFF; 
	background-image: url(../images/hero-easypdfcloud-5.png); 
	background-repeat:no-repeat; 
	background-position: 370px -30px; 
	height:300px; margin:0px; 
	padding: 0 0 0 0; width:100%; 
	border-top:solid 1px #999; 
	border-bottom:solid 1px #999;
}

.second-contents{
	position: static; 
	background-color:#FFF; 
	background-image: url(../images/hero-easypdfcloud-5.png); 
	background-repeat:no-repeat; 
	background-position: 370px -30px; 
	height:300px; margin:0px; 
	padding: 0 0 0 0; width:100%; 
	
	border-bottom:solid 1px #999;
}


.first-header {
	margin: 0 0 0 40px;
	padding: 30px 0 0 0; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 55px;
}

.first-header a {
	text-decoration:none;
	color:#D77D00; 
}

.second-header {
	margin: 0 0 20px 40px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 22px;
}
.subSecondHeader{
	color:#666;
	text-decoration:none;
}

.text-button {
	float: left; 
	margin: 0 0 10px 40px;
}

.textTwo {
float: left; 
margin: 10px 0 0 20px;
font-size: 24px;
}

.quoteContainer {
float: left;
clear: both; 
margin: 0 0 0 40px;
}
/* End of second content CSS */


/* CSS for left content */
.leftContainer {
float: left; 
width:340px; 
padding-right: 10px; 
margin:0 25px 10px 20px; 
border-right:solid #CCC 1px;
}

.headlineOrangeText {
font-family: Georgia, 'Times New Roman', Times, serif; 
font-style:italic; 
font-size:12px; 
color:#C60;
}

.blueText {
 float:left; 
 margin: 0 10px 10px 0;
}

img.customStyle{
 width: 84px;
 height:101px;
}
 
.spanStyle {
 float:left; 
 margin: 0 10px 10px 0;
}

/* CSS for right content */
.rightContainer {
 float: left; 
 width:460px;
 margin:40px 10px 10px 0px;
 }
 
 .smallRightContainer{
  float:left;
  margin:0 10px 0 0;
 }
 
 .firstRightContent {
  float: left; 
  clear:both; 
  width:460px; 
  margin: -40px 0 20px 0;
 }
 
 .rightSmallContent {
  float: left;
  width:460px; 
  margin: 0 0 30px 0; 
  border-top:1px #999 solid;
 }
 
 .bigOrangeHeadline {
 font-family:Arial, Helvetica, sans-serif; 
 font-size: 34px;
 color:#D77D00;
 }
 
 .smallLogo{
 width:100px; 
 height:100px;
 border:0;
 }
 
 .rightContentText {
 font-size: 18px;
 }
 
 .firstSmallContent {
  float: left; 
  width: 140px;
 }
 
 .secondSmallContent {
 float: left; 
 width: 120px;"
 }
 
 .thirdSmallContent {
 float: left;  
 width: 120px;
 vertical-align: middle;
 }
 
.secondRightContent {
float: left; 
width:460px; 
margin: 0 0 30px 0; 
border-top:1px #999 solid;
}

.Headline-001-smaller a {
color: #333; 
text-decoration:none;
}

.blueLinks {
float:left; 
width: 150px; 
margin: -20px 0 0 0;
}
 
.thirdRightContent {
float: left;
width:460px; 
margin: 10px 0 10px 0; 
border-top:1px #999 solid;
}

.imageRightContent {
float:left; 
margin:15px 10px 0 0;
}

.imageRightContent.img {
 width:160px;
 height:181px;
}

.myButtonText {
  font-size:12px;	
  padding:4px 12px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding: 5px 10px 5px 10px;
  background-color: #D77D00;
  border: 1px solid #CD7300;
  color:#FFF;
  text-decoration:none;
  display:inline-block;
}

.tableBeforeFooter td {
background-color:#9C9A9C;
}
/* End of CSS content */


/* =========================================================================                                           
   CSS for Footer
   ======================================================================== */
.footerWrapper {
    width: 800px;
    border: 0px;
    margin: auto;
}
.emptyInsertedFooter {
background-color:#9C9A9C;
}

.emptyInsertedFooter img {
width:100px;
height:5px;
}

.footerContainer {
width:880px;
border:0;
margin:auto;
}

.footerNav {
width:100%;
border:0 ;
margin:auto ;
}

.tdFooterContainer {
background-color:#999999;
}

.footerLine {
 float:left; 
 background-color:#333; 
 width: 100%;
}
.SiteLinks1 {
float:left; 
width:230px;
height:150px;
}

.SiteLinks1 a{
color: #FFF;
line-height: 20px;
}

.SiteLinks1 p{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
}

.SiteLinks2 {
float:left; 
width:260px; 
height:150px;
}

.SiteLinks2 a {
color: #FFF;
line-height: 20px;
}

.SiteLinks2 p {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
}

.SiteLinks3 {
float:left; 
width:250px; 
height:150px;
}

.SiteLinks3 a { 
color: #FFF;
line-height: 20px;
}

.SiteLinks3 p {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
}

.SiteLinks4 { 
float:left; 
height:150px;
}

.SiteLinks4 a {
color: #FFF;
line-height: 20px;
}

.SiteLinks4 p {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
}

.footerLogo {
float:left; 
width: 80px; 
height:40px;
}

.footerLogo img{
width:60px;
height:26px;
border:0;
}

.SiteLinks5  {
float:left; 
clear:none; 
width:600px;
}

.SiteLinks5 a {
color: #FFF;
}

.trademarkInfo {
 float:left; 
 width:600px; 
 margin-top:10px;
}
 
/* ----- End of updated CSS --------*/

/* =========================================================================                                           
    http://www.lonewolfdesigns.co.uk/css-message-notification-bars/ 
   ======================================================================== */


.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('images/info.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('images/success.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('images/warning.png');
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('images/error.png');
}

/* For Download Free Trial Links in desktop pages */
.DownloadTrialLink {
font-size: 18px;
font-weight: bold;
}

.strikethrough {
	text-decoration: line-through;
}

.FinePrint {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; }

.underline {
	text-decoration: underline; }

/* for PDF Online homepage */
.PremiumContainer p {
margin-bottom: -10px;
}

.PremiumContainer li {
margin-left: -15px;
}

/* Headers Text */
h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: bold;
text-decoration: none;
color: #000000;
padding-top: 8px;
margin-top: 3px;
margin-bottom: -3px;
	}
	
h2 {
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 18px;
text-decoration: none;
color: #993300;
font-weight: normal;
padding-top: 10px;
	}
h3 {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
color: #333333;
padding-top: 5px;
	}
h4 {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
color: #993300;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #993300;
	}
h5 {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
	}
h6 {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
color: #333;
border-bottom-width: 1px;
border-top-style: none;
border-right-style: none;
border-bottom-style: solid;
border-left-style: none;
border-top-color: #000000;
border-right-color: #000000;
border-bottom-color: #666;
border-left-color: #000000;
margin-bottom: 5px;
}
	
.Headline-001-smaller {
margin-bottom: -10px;
margin-top: 0px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
}

.SubHead {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
color: #666666;
padding-bottom: -10px;
margin-bottom: 0px;
}

/* Navigation for easyConverter SDK 3 */
#easyConverterSDKVersionNav {
display: block;
width: 100%;
/*float: right;*/
margin: 0;
		}
	
	#easyConverterSDKVersionNav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		}
		
	#easyConverterSDKVersionNav li {
/*		display: block; */
		float: left;
		margin: 0;
		padding: 0;
		text-align:left;
		}
		
	#easyConverterSDKVersionNav li a {
		display: block;
		overflow: hidden;
		padding-top: 25px;
		text-align: left;
		text-decoration: none;	
		height:0px;	
		}
		
	#easyConverterSDKVersionNav a:hover {
		color: #000000;
		font-weight: bold;
		height:0px;
		}
		
	#easyConverterSDKVersionNav a.overview {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-selector-overview.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
			padding-top: 30px;
			width: 80px;		
			}
			
	#easyConverterSDKVersionNav a.overviewOn {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-on-selector-overview.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
			padding-top: 30px;
			width: 80px;		
			}						
	#easyConverterSDKVersionNav a.wordver {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-selector-cplus2.gif);
		background-repeat: no-repeat;
		background-position: 0px 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 40px; */
		padding-top: 30px;
		width: 40px;
		}
		
	#easyConverterSDKVersionNav a.wordverOn {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-on-selector-cplus2.gif);
		background-repeat: no-repeat;
		background-position: 0px 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 40px; */
		padding-top: 30px;
		width: 40px;
		}		
		
	#easyConverterSDKVersionNav a.htmlver {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-selector-csharp.gif);
		background-repeat: no-repeat;
		background-position: left 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 40px; */
		padding-top: 30px;	
				width: 40px;		
		}
		
	#easyConverterSDKVersionNav a.htmlverOn {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-on-selector-csharp.gif);
		background-repeat: no-repeat;
		background-position: left 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 40px; */
		padding-top: 30px;	
				width: 40px;		
		}		
		
		
			
/* Navigation for Programming Language */
#ProgrammingNav {
display: block;
width: 100%;
/*float: right;*/
margin: 0;
		}
	
	#ProgrammingNav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		}
		
	#ProgrammingNav li {
/*		display: block; */
		float: left;
		margin: 0;
		padding: 0;
		text-align:left;
		}
		
	#ProgrammingNav li a {
		display: block;
		overflow: hidden;
		padding-top: 25px;
		text-align: left;
		text-decoration: none;	
		height:0px;	
		}
		
	#ProgrammingNav li a:hover {
		color: #000000;
		font-weight: bold;
		height:0px;
		}
		
	#ProgrammingNav a.cplus2 {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-selector-cplus2.gif);
		background-repeat: no-repeat;
		background-position: 0px 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 40px; */
		padding-top: 30px;
		width: 40px;
		}
		
	#ProgrammingNav a.cplus2On {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-on-selector-cplus2.gif);
		background-repeat: no-repeat;
		background-position: 0px 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 40px; */
		padding-top: 30px;
		width: 40px;
		}		
		
	#ProgrammingNav a.csharp {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-selector-csharp.gif);
		background-repeat: no-repeat;
		background-position: left 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 40px; */
		padding-top: 30px;	
				width: 40px;		
		}
		
	#ProgrammingNav a.csharpOn {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-on-selector-csharp.gif);
		background-repeat: no-repeat;
		background-position: left 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 40px; */
		padding-top: 30px;	
				width: 40px;		
		}		
		
	#ProgrammingNav a.aspnet {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-selector-asp-net.gif);
		background-repeat: no-repeat;
		background-position: left 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 80px;		*/
		padding-top: 30px;
				width: 80px;		
		}
		
	#ProgrammingNav a.aspnetOn {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-on-selector-asp-net.gif);
		background-repeat: no-repeat;
		background-position: left 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 80px;		*/
		padding-top: 30px;
				width: 80px;		
		}		

	#ProgrammingNav a.asp {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-selector-asp.gif);
		background-repeat: no-repeat;
		background-position: left 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 50px;		*/
		padding-top: 30px;	
				width: 50px;		
		}

	#ProgrammingNav a.aspOn {
/* 		color: #666666; */
		background-color: transparent;
		background-image: url(../images/prog-lang-selectors/button-on-selector-asp.gif);
		background-repeat: no-repeat;
		background-position: left 0px;
/*		margin-top: 10px; */
/*		overflow: hidden; */
/*		width: 50px;		*/
		padding-top: 30px;	
				width: 50px;		
		}

	#ProgrammingNav a.java {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-selector-java.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
	/*		width: 55px;		*/
			padding-top: 30px;	
					width: 55px;		
			}
	
	#ProgrammingNav a.javaOn {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-on-selector-java.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
	/*		width: 55px;		*/
			padding-top: 30px;	
					width: 55px;		
			}
	
	
	#ProgrammingNav a.php {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-selector-php.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
	/*		width: 55px;		*/
			padding-top: 30px;	
					width: 55px;		
			}
	
	#ProgrammingNav a.phpOn {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-on-selector-php.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
	/*		width: 55px;		*/
			padding-top: 30px;	
					width: 55px;		
			}
	
	
	#ProgrammingNav a.html {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/html-pdf.png);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
	/*		width: 55px;		*/
			padding-top: 30px;	
					width: 120px;
                   height: 20px;					
			}
	
	#ProgrammingNav a.htmljava {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/html-pdf-java.png);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
	/*		width: 55px;		*/
			padding-top: 30px;	
					width: 122px;		
			}
	
	
	
	
	#ProgrammingNav a.others {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-selector-others.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
			padding-top: 30px;
			width: 70px;		
			}
			
	#ProgrammingNav a.othersOn {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-on-selector-others.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
			padding-top: 30px;
			width: 70px;		
			}		
			
	#ProgrammingNav a.overview {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-selector-overview.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
			padding-top: 30px;
			width: 80px;		
			}
			
	#ProgrammingNav a.overviewOn {
	/* 		color: #666666; */
			background-color: transparent;
			background-image: url(../images/prog-lang-selectors/button-on-selector-overview.gif);
			background-repeat: no-repeat;
			background-position: left 0px;
	/*		margin-top: 10px; */
	/*		overflow: hidden; */
			padding-top: 30px;
			width: 80px;		
			}				
		
/* Formatting Lists */
	.ListRedArrow {
		padding-bottom: 10px;
		list-style-type: none;
		list-style-image: url(../images/arrow_small_red.gif);
	}
	.ListNavForm {
		list-style-type: none;
		background: url(../images/icon_form.gif) no-repeat 0 50%;
		margin-left: -40px;
		padding-top: 5px;
		padding-left: 25px;
		padding-bottom: 5px;
	}
	.ListNavBlank {
		list-style-type: none;
		background: url(../images/icon_blank.gif) no-repeat 0 50%;
		margin-left: -40px;
		padding-top: 5px;
		padding-left: 25px;
		padding-bottom: 5px;
	}
	.ListNavDownload {
		list-style-type: none;
		background: url(../images/icon_download.gif) no-repeat 0 10%;
		margin-left: -40px;
		padding-top: 5px;
		padding-left: 25px;
		padding-bottom: 5px;

	}
	.ListNavManual {
		list-style-type: none;
		margin-left: -40px;
		padding-top: 5px;
		padding-left: 25px;
		padding-bottom: 5px;
		background-image: url(../images/icon_manual.gif);
		background-repeat: no-repeat;
		background-position: 0 20%;
	}
	.ListNavBuy {
	
		list-style-type: none;
		background: url(../images/icon_buy.gif) no-repeat 0 50%;
		margin-left: -40px;
		padding-top: 5px;
		padding-left: 25px;
		padding-bottom: 5px;
	}
	.ListCheck {
		list-style-type: none;
		color: #000000;
		background-image: url(../images/icon_check.gif);
		background-repeat: no-repeat;
		background-position: left -1px;
		margin-left: -30px;
		padding-left: 20px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.ListBlank {
	
		list-style-type: none;
		background: url(../images/icon_blank.gif) no-repeat 0 8px;
		margin-left: -40px;
		padding-top: 5px;
		padding-left: 25px;
		padding-bottom: 10px;
	}
	#listoffeatures li {
		padding-bottom: 10px;
	}
	.ListFeatureManual {
		list-style-type: none;
		background: #FFFFCC url(../images/icon_manual.gif) no-repeat 0 50%;
		margin-left: -40px;
		padding-top: 5px;
		padding-left: 25px;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	#listoffeatures hr {
	}
	.ListCheckBlack {
	
		list-style-type: none;
		color: #000000;
		background-image: url(../images/icon_check.gif);
		background-repeat: no-repeat;
		background-position: left -1px;
		margin-left: -30px;
		padding-left: 20px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

/* Formatting Tables */
	.tableBottomLine {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #666666;
	}
	.TableFeatureBottomLine {
		border-top: none #CCCCCC;
		border-right: none #CCCCCC;
		border-bottom: 1px dotted #CCCCCC;
		border-left: none #CCCCCC;
	}
	.tableAllAround {
		border: 1px solid #999999;
	}


/* Format Sample Code Snippets*/
	.Code {
		font-family: "Courier New", Courier, mono;
		font-size: 12px;
		color: #CC6600;
	}
	.CodeBlack {
		font-family: "Courier New", Courier, mono;
		font-size: 12px;
		color: #000000;
	}
	.CodeGray {
		font-family: "Courier New", Courier, mono;
		font-size: 12px;
		color: #999999;
	}
	.CodeNormalText {
		color: #CC6600;
	}

/* To format some texts */

	.HeadingCustomSolution {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #FFFFFF;
		font-weight: bold;
	}
	.HeadingConvert {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18px;
		font-weight: bold;
		color: #CC6600;
	}
	.TextBoldOrange {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		color: #CC6600;
	}
	.TextBoldRed {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		color: #CC3300;
	}
	.TextRed {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		text-decoration: none;
		color: #CC3300;
	}		
	.highlight {
		background-color: #FFFFCC;
	}
	.style98 {font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; }
	.style99 {color: #FFCC33}
	.FormStarred {
		color: #CC6600;
	}
	.ClientQuote {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 12px;
		margin-left: 5px;
		background-repeat: no-repeat;
	}

/* Format List tags*/
	.ListCheckHomepage {
		list-style-type: none;
		background: url(../images/icon_check.gif) no-repeat 0 3px;
		margin-left: -40px;
		padding-top: 5px;
		padding-left: 25px;
		padding-bottom: 5px;
	}
	
	.ListQuote {
		list-style-type: none;
		background-image: url(../images/quote_open_trans.gif);
		background-repeat: no-repeat;
		background-position: 0px 0px;
		margin-left: -40px;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 12px;
		color: #333333;
		background-color: #F0F0F0;
		border: 1px solid #CCCCCC;
		border: 0; 
		background-color:#FFFFFF;
		font-size: 16px; 
		color: #666;"
	}
	
	.ListQuoteNoquote {
		list-style-type: none;
		background-repeat: no-repeat;
		background-position: 0px 0px;
		margin-left: -40px;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 12px;
		color: #333333;
		background-color: #F0F0F0;
		border-top: 1px solid #CCCCCC;
		border-left: 1px solid #CCCCCC;
		border-right: 1px solid #CCCCCC;
	}
	
	.ListQuoteWhite {
		list-style-type: none;
		background-image: url(../images/quote_open_trans.gif);
		background-repeat: no-repeat;
		background-position: 0px 0px;
		margin-left: -40px;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid #FFCC99;
		background-color: #FFFFFF;
		padding-right: 10px;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 12px;
}


/* Format page navigation bars */
.NavTableOrange {
	list-style-type: none;
	border: 2px solid #FF9900;
	background-color: #FFEFDE;
}
.NavTableGrey {
	list-style-type: none;
	border: 1px solid #CCCCCC;
	background-color: #dcdcdc;
	background-image: url(../images/box_quotes_body_grey.gif);
}
.TopNavSDK {
clear: none;
float: left;
list-style-type: none;
padding-right: 15px;
padding-bottom: 8px;
padding-left: 15px;
padding-top: 2px;
height: 18px;
}
.TopNavSDKSelected {
clear: none;
float: left;
list-style-type: none;
background-color: #F0F0F0;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
padding-top: 3px;
padding-right: 15px;
padding-bottom: 8px;
padding-left: 15px;
height: 18px;
}
.TopNavLinkUnselectedSDK {
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #FFFFFF;
}
.TopNavMain {
	clear: none;
	float: none;
	padding: 2px 7px 2px 15px;
	list-style-type: none;
	background-image: url(../images/arrow_small_red.gif);
	background-repeat: no-repeat;
	background-position: left;
	margin-left: -30px;
}
.TopNavLinkUnselectedMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CC6600;
	text-decoration: none;
}
.TopNavSDKArrow {
font-weight: bold;
background-image: url(../images/selector_navsecondary_sdk.gif);
background-repeat: repeat-x;
background-position: center bottom;
font-size: 14px;
}
.NavThree {
padding-top: 3px;
padding-bottom: 3px;
margin-left: -20px;
padding-left: 6px;
font-weight: normal;
}

.NavThreeSelected {
background-color: #DCDCDC;
font-weight: bold;
}

/* Format the Webpage Footer */
.Footer {font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; }

/* Styles used for Tip box */
	.TipBox
	{
		background-color: #F7F7DE; 
		padding-bottom: 2px;
	}
	.TipHeading
	{
		background-color:#F7F7DE;
		padding: 0 5px 0 5px;
		margin-left: 5px;
		line-height: 10px;
		position:relative; 
		left:7px; 
		top:7px; 				
		z-index:1;
		overflow: visible;
	}
	.TipContent
	{
		border: solid 1px #CCCCCC; 
		margin: 0 8px 3px 3px;
		padding: 3px 8px 3px 3px; 
	}
/* these 3 selectors are used to construct the sample conversion thumbnails */
	.screenshotLeft table {
clear: none;
float: left;
margin-right: 40px;
	}
	.screenshotRight table {
		clear: right;
	}
	.screenshotConversionArrow {
background-image: url(../images/arrow_orange_right.gif);
background-repeat: repeat-y;
display: block;
background-position: 155px;
width: 400px;
height: auto;
	}
.TagLine {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #CC6600;
	margin-top: 0px;
}
.TopNav {
margin-top: -2px;
}
.superscript {
font-size: 10px;
vertical-align: super;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
}
.backgroundTrial {
background-image: url(../images/background-download-trial.gif);
background-repeat: no-repeat;
padding-left: 15px;
padding-top: 18px;
}
.leftMarginEasyPdf {
margin-left: -3px;
}
.BorderLeftGreyOnePx {
border-left-width: 1px;
border-left-style: solid;
border-left-color: #999;
}

.SiteLinks 
.SiteLinks a{
color: #FFF;
line-height: 20px;
}

.SiteLinks p{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
}


/* CSS Button http://www.cssbuttongenerator.com/*/

.myButtonGrey {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 5px 10px 5px 10px;
	background-color: #8D8D8D;
	border: 1px solid #8D8D8D;
	color:#FFF;
	text-decoration:none;
	/* font-size:10px; */
	/* padding: 2px 6px 2px 6px; */
}

/*.myButtonGrey:active {
	position:relative;
	top:1px;
}*/

.myButtonGreyOld {
	background-color:#8D8D8D;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	color:#FFF;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding:8px 24px;
	text-decoration:none;
}

.myButton {
/*	font-size: 25px; */
/*	padding:8px 25px; */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 5px 10px 5px 10px;
	background-color: #D77D00;
	border: 1px solid #CD7300;
	color:#FFF;
	text-decoration:none;
	display:inline-block;
}

.myButtonBlue {
/*	font-size: 25px; */
/*	padding:8px 25px; */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 5px 10px 5px 10px;
	background-color: #D77D00;
	border: 1px solid #CD7300;
	color:#FFF;
	text-decoration:none;
	display:inline-block;
}


.myButtonGreen {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 0 5px 0 5px;
	background-color: #228B22;
	border: 1px solid #228B22;
	color:#FFF;
	text-decoration:none;
	display:inline-block;
}

.myButtonOld {
	-moz-box-shadow:inset 5px 0px 0px -11px #fed897;
	-webkit-box-shadow:inset 5px 5px 0px -11px #fed897;
	box-shadow:inset 5px 5px 0px -11px #fed897;
	background-color:#ff8400;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8400), color-stop(1, #a65c08) );
	background:-moz-linear-gradient( center top, #ff8400 5%, #a65c08 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8400', endColorstr='#a65c08');
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
 	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;

}.myButtonOld:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a65c08), color-stop(1, #ff8400) );
	background:-moz-linear-gradient( center top, #a65c08 5%, #ff8400 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a65c08', endColorstr='#ff8400');
	background-color:#a65c08;
}.myButtonOld:active {
	position:relative;
	top:1px;
}

.myButtonYellow {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:6px 24px;
	background-color: #ffec64;
	border:2px solid #155dab;
	color:#0e447d;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}

.myButtonYellowOld {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #155dab;
	display:inline-block;
	color:#0e447d;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
}

	.button_gradient{
		border:1px solid #ffad41; -webkit-border-radius: 6px; -moz-border-radius: 6px;border-radius: 6px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
		 background-color: #FFC579; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFC579), to(#CF811D));
		 background-image: -webkit-linear-gradient(top, #FFC579, #CF811D);
		 background-image: -moz-linear-gradient(top, #FFC579, #CF811D);
		 background-image: -ms-linear-gradient(top, #FFC579, #CF811D);
		 background-image: -o-linear-gradient(top, #FFC579, #CF811D);
		 background-image: linear-gradient(to bottom, #FFC579, #CF811D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFC579, endColorstr=#CF811D);
		}

	.button_gradient:hover{
	 border:1px solid #ff9913;
	 background-color: #ffaf46; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#a26517));
	 background-image: -webkit-linear-gradient(top, #ffaf46, #a26517);
	 background-image: -moz-linear-gradient(top, #ffaf46, #a26517);
	 background-image: -ms-linear-gradient(top, #ffaf46, #a26517);
	 background-image: -o-linear-gradient(top, #ffaf46, #a26517);
	 background-image: linear-gradient(to bottom, #ffaf46, #a26517);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#a26517);
	}


#faqText { 
	width: 500px;
}
	
#faqText p { 
	font-size:14px;
}