@font-face {
  font-family: "vt_iconfont";
  src: url("https://storage.googleapis.com/vt-s/assets/fonts/vt_iconfont.eot?eltp95");
  src: url("https://storage.googleapis.com/vt-s/assets/fonts/vt_iconfont.eot?eltp95#iefix") format("embedded-opentype"), url("https://storage.googleapis.com/vt-s/assets/fonts/vt_iconfont.ttf?eltp95") format("truetype"), url("https://storage.googleapis.com/vt-s/assets/fonts/vt_iconfont.woff?eltp95") format("woff"), url("https://storage.googleapis.com/vt-s/assets/fonts/vt_iconfont.svg?eltp95#vt_iconfont") format("svg");
  font-weight: normal;
  font-style: normal; }
.vt_style.logo_group-wrapper {
  color: #fff; }
  .vt_style.logo_group-wrapper .logo_group {
    margin: 0;
    font-size: 32px; }
    .vt_style.logo_group-wrapper .logo_group a {
      color: #fff;
      opacity: .9;
      text-decoration: none;
      font-size: inherit;
      margin: 0;
      padding: 0; }
      .vt_style.logo_group-wrapper .logo_group a:link, .vt_style.logo_group-wrapper .logo_group a:visited, .vt_style.logo_group-wrapper .logo_group a:hover, .vt_style.logo_group-wrapper .logo_group a:active {
        color: #fff;
        text-decoration: none; }
      .vt_style.logo_group-wrapper .logo_group a:hover {
        opacity: 1; }
  .vt_style.logo_group-wrapper .text-vt_iconfont, .vt_style.logo_group-wrapper .logo_group-icon, .vt_style.logo_group-wrapper .logo_group-brand {
    font-family: 'vt_iconfont' !important;
    font-weight: normal;
    padding: 0;
    /* fix for undesirable bold font on iOS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .vt_style.logo_group-wrapper .logo_group-icon {
    vertical-align: middle;
    margin-right: -0.25em; }
  .vt_style.logo_group-wrapper .logo_group-brand {
    vertical-align: middle; }
  .vt_style.logo_group-wrapper .logo_group-sub {
    font-family: Helvetica, Arial, Verdana, "Trebuchet MS", sans-serif;
    font-size: 30%;
    font-weight: 700;
    vertical-align: super;
    text-transform: uppercase;
    margin-left: -0.75em; }

.smart_banner-wrapper {
  background-color: #efefef;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 501; }

.smart_banner {
  padding: 15px 8px; }

.smart_banner-btn-close {
  margin: 9px 0 0 5px;
  color: #000; }

.smart_banner-icon {
  margin: 0 0 0 10px; }

.smart_banner-desc {
  margin: 4px 0 0 10px;
  font-size: 15px;
  color: #000; }

.smart_banner-btn-download {
  margin: 8px 0 0 0; }

.smart_banner-btn-download a {
  display: block;
  padding: 7px 21px;
  border: 1px solid #20b0ff;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #20b0ff;
  text-decoration: none; }

[v-cloak] {
  display: none; }

/*# sourceMappingURL=common.css.map */
