body {
  padding-top: 0;
}
.navbar-inverse .navbar-link {
  color: #fff;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
  color: #fff;
}
.navbar-fixed-top {
 position: fixed;
 background-color: transparent;
}
.navbar-fixed-top.shadow {
 position: fixed;
 background-color: rgba(0,0,0,0.8);
 -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.05);
 -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.05);
 box-shadow: 0 3px 5px rgba(0,0,0,0.05);
}
.navbar-inverse .navbar-inner {
  background: transparent;
  height: 80px;
  border: 0;
  box-shadow: none;
}
.navbar-fixed-top .container {
  margin-top: 20px;
  font-size: 15px;
}
.navbar-inverse .nav li.dropdown.active>.dropdown-toggle {
  background-color: transparent;
  box-shadow: none;
}
.left-section > .category_header {
 font-size: 28px;
 margin: 25px auto;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle {
 background-color: transparent;
}

#container {
 padding-top: 50px;
}

body > #container {
    padding-top: 0;
}

#promo-header {
 width: 995px;
 margin: 0 auto;
}
.voicetube-banner-bottom{background:#4166ab;}
.voicetube-banner-bottom .voicetube-banner-join{font-size:16px;padding:15px 0;text-align:right;color:#ccc;}
.voicetube-banner-bottom .voicetube-banner-join .voicetube-banner-join-num{font-size:larger;font-weight:bold;color:#fff;min-width: 87px;}
.voicetube-banner-bottom .voicetube-banner-quote{vertical-align:middle;height:31px;font-size: 14px;line-height: 2.4em;float:right;width:550px;position:relative;margin-left:30px;padding:10px;padding-left:75px;background:#d7e1ed;color:#272727;text-align:left;background-image:url("https://dt5zaw6a98blc.cloudfront.net/site-static/pages/home/front/quotemark.png");background-repeat:no-repeat;background-position:15px 10px;}
.voicetube-banner-bottom .voicetube-banner-quote:after{content:"";position:absolute;border-style:solid;display:block;width:0;top:20px;left:-20px;bottom:auto;border-width:10px 20px 10px 0;border-color:transparent #dbe3e9}
.voicetube-banner-bottom .voicetube-banner-quote .voicetube-banner-quote-author{display:inline-block;position:absolute;bottom:5px;color:#7e8da2;right:10px}

.intro-bottom {
 margin-top: 45px;
}
.slide-index {
 background-image: url('/assets/img/slide-index.png');
 background-repeat: no-repeat;
 background-position: top right;
}
.slide-index2 {
 width: 244px;
 height: 256px;
 bottom: -52px;
 right: -47px;
 position: absolute;
 background-image: url('/assets/img/slide-headphone.png');
 background-repeat: no-repeat;
 background-position: top right;
}
#slides .slide-camera {
 background-image: url('/assets/img/microphone-bg.png');
 background-repeat: no-repeat;
 background-position: top right;
 min-height: 190px !important;
 width: 1014px !important;
}
.slide-camera .well {
 margin-top: 5px;
 margin-bottom: 0;
 padding: 10px;
}
.slide-camera ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#want-more {
 margin-left: 5px;
}

#headphone-btn {
 margin: -6px 0 0 58px;
}
#challenge-top {
}
.featured-tubes {
 position: relative;
 overflow: visible;
}
.hidden-phone {
 display: block;
}
.featured-tubes ul.pictures {
 list-style: none;
 margin: 0;
}
.featured-tubes .clip {
 position: absolute;
 top: 8px;
 left: -15px;
 z-index: 2;
}
.featured-tubes .featured-tube-links {
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 -ms-border-radius: 3px;
 -o-border-radius: 3px;
 border-radius: 3px;
 -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
 -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
 box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
 text-shadow: 0px 1px 0px #fff;
 background-color: #f1f1f1;
 margin-bottom: 5px;
 width: 100%;
 height: 280px;
}
.featured-tubes .featured-tube-links .feature-block {
 position: relative;
}
.featured-tubes .featured-tube-links .feature-block .left-staple {
 position: absolute;
 top: 5px;
 left: 5px;
}
.featured-tubes .featured-tube-links .feature-block .slides {
 float: right;
 padding: 20px 10px 30px 10px;
}
.featured-tubes .featured-tube-links .feature-block .slides {
 width: 440px;
}
.featured-tubes .featured-tube-links .feature-block .slides h3 {
 text-shadow: 0 1px 1px #fff,0 -1px 1px rgba(0,0,0,0.3);
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
 border-bottom: none;
 color: #900;
 font-size: 20px;
 margin-bottom: 0;
 margin-top: 0;
 text-transform: uppercase;
}
.featured-tubes .featured-tube-links .feature-block .slides h3 span {
 font-size: 14px;
 margin-left: 5px;
 font-style: italic;
}
.featured-tubes .featured-tube-links .feature-block .slides .slide-title {
 margin-left: 0;
 width: 280px;
}
.featured-tubes .featured-tube-links .feature-block .slides ul.slide-title {
 width: 400px;
}
.featured-tubes .featured-tube-links .feature-block .slides .slide-title li {
 -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.5);
 -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.5);
 box-shadow: 0 1px 0px rgba(255,255,255,0.5);
 list-style: none;
 border-bottom: solid 1px #e1e1e1;
 padding-left: 10px;
 width: 440px;
}
#tubes_index:not(.users) .slides ul.slide-title li {
 width: 345px;
}
.featured-tubes .featured-tube-links .feature-block .slides .slide-title li a {
 white-space: nowrap;
 overflow: hidden;
 -ms-text-overflow: ellipsis;
 -o-text-overflow: ellipsis;
 text-overflow: ellipsis;
 color: #4D4D4D;
 display: block;
 font-size: 16px;
 line-height: 40px;
 max-width: 400px;
 text-decoration: none;
}
.featured-tubes .featured-tube-links .feature-block .slides .slide-title li a i {
 display: none;
 background: none;
 position: relative;
 top: 4px;
 margin-right: 5px;
}
.featured-tubes ul.pictures li {
 position: absolute;
   /*
   left: -10px;
   */
   left: 7px;
   top: 28px;
 }
 .featured-tubes ul.pictures li a img {
   width: 286px;
 }
 .featured-tubes ul.pictures li img {
   -webkit-box-shadow: -1px 1px 6px rgba(0,0,0,0.4);
   -moz-box-shadow: -1px 1px 6px rgba(0,0,0,0.4);
   box-shadow: -1px 1px 6px rgba(0,0,0,0.4);
   /*
   -webkit-transform: rotate(-1.5deg);
   -moz-transform: rotate(-1.5deg);
   -ms-transform: rotate(-1.5deg);
   -o-transform: rotate(-1.5deg);
   transform: rotate(-1.5deg);
   */
   background: #fefefe;
   padding: 8px;
   width: 300px;
 }
 #feature-section {
   margin-top: 25px;
   font-size: 14px;
 }
 #feature-section > .span3 {
   padding-bottom: 0px;
 }
 #feature-section h4 {
   text-shadow: 0 1px 1px #fff,0 -1px 1px rgba(0,0,0,0.3);
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   border-bottom: none;
   color: rgb(51, 51, 51);
   font-size: 20px;
   margin-top: 0;
   margin-bottom: 10px;
   text-transform: uppercase;
   font-style: italic;
 }
 #feature-section ul li {
   line-height: 22px;
 }

 #feature-section .nav-tabs > .active > a, #feature-section .nav-tabs > .active > a:hover {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
   -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
   box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
   text-shadow: 0px 1px 0px #fff;
   background-color: rgb(223, 223, 223);
 }

 #feature-tabs {
   margin-bottom: 0;
 }

 #feature-tabs .nav-tabs{
   border-bottom: 1px solid rgb(213, 213, 213);
 }

 #feature-tabs .nav-tabs > .active > a, #feature-tabs .nav-tabs > .active > a:hover {
   background-color: #f1f1f1;
 }

 .featured-tubes .featured-tube-links .feature-block .slides .slide-title .current {
   -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
   -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
   box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
   background-color: #ddd;
 }
 .featured-tubes .featured-tube-links .feature-block .slides .slide-title .current a i {
   display: inline;
   font-size: 26px;
 }
 #recipes_index #sidebar > .span3 {
  margin-left: 0;
  width: 300px;
}
ol.slats, ul.slats {
  border-radius: 4px 4px 4px 4px;
  list-style-type: none;
  margin: 0 auto;
  padding: 3px;
}
#popular-search-panel ol.slats, #popular-lists-panel ol.slats {
  list-style-type: decimal;
  margin-left: 30px;
  margin-right: 8px;
}
ol.slats li, ul.slats li {
  border-bottom: 1px dashed #B3B3B3;
  display: block;
  height: 50px;
  margin: 6px 2px;
  padding: 0 0 10px;
  width: 100%;
}
#popular-search-panel ol.slats li, #popular-lists-panel ol.slats li {
  color: #666666;
  display: list-item;
  height: 23px;
  padding: 0 0 3px 3px;
}
#popular-search-panel ol.slats li a, #popular-lists-panel ol.slats li a {
  font-size: 14px;
  line-height: 14px;
}
#popular-search-panel ol.slats li i, #popular-lists-panel ol.slats li i {
  float: right;
}
#popular-search-panel ol.slats li i.icon-minus, #popular-lists-panel ol.slats li i.icon-minus {
  color: #999999;
}
.icon-minus:before {
  content: "";
}
#popular-search-panel .tooltip-inner {
 text-align: left;
}
#popular-search-panel .important {
 color: red;
 font-weight: bold;
}
#popular-search-panel a.film-anchor {
 color: #ccc;
}
.page-section {
 margin-top: 0;
}
#index_profile {
 height: 310px;
 overflow: hidden;
}
.weektarget-right {
 color: #777;
 font-size: 20px;
 margin-left: 8px;
 margin-top: 20px;
}
.week-hr {
  margin: 8px 0 7px;
}
.profile_sidebar {
 margin-top: -18px;
}
#chart_div {
 width: 270px;
 height: 180px;
}
a.week-edit {
 font-size: 14px;
 cursor: pointer;
}
#index_profile .popover-title {
}
ul#news_ticker {
 width: 98%;
 list-style-type: none;
 margin-left: 0;
 height: 28px;
 padding: 5px;
 margin-bottom: 0;
 overflow: hidden;
}
#promote_block {
 max-width: 1070px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
 border-radius: 6px;
 background: rgba(255,255,255,0.45);
 border: 1px solid #c7c7c7;
 display: block;
 overflow: hidden;
 text-align: center;
 margin-bottom: 20px;
}
#index_fb_comment {
 font-size: 13px;
}
.table td.index_fb_comment_img {
  width: 28px;
  padding-right: 2px;
}
.table td.index_fb_comment_bottom {
  padding-bottom: 2px;
}
.index_fb_say {
 margin-bottom: 5px
}
#index_info_box {
 margin-top: 0;
 margin-bottom: 0;
}
.vt-front-search-banner {
 margin-bottom: 10px;
}
.vt-front-search-banner-hero-container {
 width: 100%;
 background-color: #000;
 height: 640px;
 position: relative;
 /*margin-top: -100px;*/
 margin-bottom: 40px;
}
.vt-front-search-banner-hero-container .vt-hero-banner {
 /* width: 1280px; */
 height: 100%;
 position: relative;
 margin: 0 auto;
 background-color: #97978b;
 background-repeat:no-repeat;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container {
 width: 100%;
 position: absolute;
 top: 80px;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group {
 position: relative;
 width: 80%;
 margin-left: auto;
 margin-right: auto;
 top: 142px;
 max-width: 1122px;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-tagline {
 display: block;
 font-weight: normal;
 font-size: 36px;
 line-height: 1.4em;
 color: #fff;
 position: relative;
 height: 100%;
 max-width: 15em;
 text-shadow: 0 0 24px rgba(0,0,0,0.5),0 0 64px rgba(0,0,0,0.25),0 2px rgba(0,0,0,0.75);
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group {
  position: relative;
  padding: 10px 0;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-form {
  margin: 0;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container {
  display: inline-block;
  position: relative;
  margin: 0;
  border: none;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container #vt-front-search-banner-input {
  height: 30px;
  width: 400px;
  margin: 0;
  border: 0;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 17px;
  padding: 5px 6px 5px 20px;
  -webkit-box-shadow: inset 0 0 0 1px #555,0 0 0 6px rgba(255,255,255,0.5),0 0 4px 6px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 0 1px #555,0 0 0 6px rgba(255,255,255,0.5),0 0 4px 6px rgba(0,0,0,0.25);
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container .vt-front-search-button {
  position: absolute;
  top: 3px;
  right: 0;
  height: 34px;
  width: 40px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #555;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-join {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 0;
  font-size: 21px;
  line-height: 1.3em;
  text-shadow: 0 0 12px rgba(0,0,0,0.5),0 0 32px rgba(0,0,0,0.25),0 1px rgba(0,0,0,0.75);
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-join .vt-front-subtitle {
 margin-top: 10px;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-join .vt-front-subtitle a {
 color: #fff;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-join .vt-front-subtitle a:hover {
 text-decoration: none;
}
.index-sidebar {
  margin-top: 5px;
  margin-bottom: 10px;
}
.top_fb_link {
  font-size: 18px;
}
a.top_fb_link:hover {
 text-decoration: none;
}
#load-more-btn {
  margin: -20px 0 0px;
  width: 100%;
  font-size: 18px;
  padding: 12px;
}
#load-more-hot-btn {
  margin: -20px 0 13px;
  width: 100%;
  font-size: 18px;
  padding: 12px;
}
.everyday_index_banner {
 color: #fff;
 font-size: 18px;
 width: 268px;
 padding-top: 5px;
 padding-bottom: 5px;
 height: 40px;
 margin-left: 3px;
 line-height: 22px;
 text-align: center;
 border-radius: 5px;
 background-color: rgba(0,0,0,.3);
}

.everyday_index_banner a {
 color: #fff;
}
.everyday_index_banner a:hover {
 text-decoration: none;
}
.everyday_host_index_banner {
  color: #EE4D59;
  font-size: 20px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 7px;
  height: 16px;
  margin-left: 4px;
  line-height: 22px;
  text-align: center;
  background-color: rgba(255, 51, 53, 0.5);
  /* position: absolute; */
  /* top: 85.5%; */
  z-index: 100;
  margin-top: -25px;
  position: relative;
}
/*.everyday_host_index_banner {
  color: #EE4D59;
  font-size: 20px;
  width: 268px;
  padding-top: 4px;
  padding-bottom: 7px;
  height: 16px;
  margin-left: 5px;
  line-height: 22px;
  text-align: center;
  background-color: rgba(255, 51, 53, 0.5);
  position: absolute;
  top: 85.5%;
  z-index: 100;
  }*/

  .everyday_host_index_banner a {
   color: #fff;
 }
 .everyday_host_index_banner a:hover {
   text-decoration: none;
 }
 #everyday_index_img {
   position: relative;
   width: 268px;
   height: 214px
 }
 #everyday_index_img img {
   width: 278px;
   height: 211px;
 }
 .everyday_index_vbao {
   position: absolute;
   bottom: -17px;
   right: -17px;
 }
 .everyday_index_listen {
   text-align: center;
   position: absolute;
   top: 92%;
   left: 21%;
 }
 .everyday_index_first {
   position: absolute;
   top: 5px;
   color: #fff;
   left: 68px;
   padding: 4px;
   border-radius: 2px;
 }
 .everyday_index_vbao [class="tooltip-inner"] {
  text-align: center;
  background-color: pink;
  color: #000;
  font-size: 14px;
  min-width: 200px;
}
.everyday_index_vbao img {
 width: 65px;
 height: 113px;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container .vt-front-search-select {
 position: absolute;
 top: 3px;
 font-size: 18px;
 padding-left: 8px;
 padding-top: 8px;
 left: 0;
 background-color: transparent;
 border: none;
 border-left: 1px solid #555;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container .vt-front-search-select .dropdown-menu {
 left: -9px;
 border-top-left-radius: 0px;
 border-top-right-radius: 0px;
 border-bottom-right-radius: 0px;
 border-bottom-left-radius: 0px;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container .vt-front-search-select .dropdown-menu a {
 padding-left: 8px;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container .vt-front-search-select .dropdown-menu a:hover {
 background-color: #ccc;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container .vt-front-search-select a {
 color: #6D6D6D;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container .vt-front-search-select a:hover {
 background: none;
}
.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group .vt-front-search-banner-input-group .vt-front-search-banner-input-container .dropdown-toggle .caret {
 border-top-color: #555;
 border-bottom-color: #555;
}
.demo_txt {
 text-align: center;
 padding: 3px;
 background-color: #fff;
 color: #555;
 margin-left: 9px;
 border-top-left-radius : 0;
 border-top-right-radius : 0;
}
.demo_block {
 position: relative; width: 301px; height: 173px
}
#index_dict a, #index_dict a:hover {
 color: #fff;
}
.qbox, .qbox h3 {
 border-radius: 3px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 padding: 2px 0;
 display: block;
}
.qbox h3 {
 text-shadow: 0 1px 1px #fff,0 -1px 1px rgba(0,0,0,0.3);
 color: #900;
 font-size: 20px;
}
.qbox {
 min-height: 20px;
 padding: 19px;
 padding-top: 0;
 margin-bottom: 20px;
 background-color: #f5f5f5;
 border: 1px solid #e3e3e3;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
 -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
 box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.qbox h3 > label.badge {
 font-family: Arial;
 -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.25);
 box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.25);
}
.shortlist {
 padding: 0;
 margin: 0;
 display: block;
}
.shortlist li {
 display: block;
 position: relative;
 padding: 3px 0;
 margin: 0 0 3px 0;
 font-size: 13px;
 font-weight: bold;
 border-bottom: 1px dashed #A8A8A8;
}
.shortlist li > a {
 text-decoration: none;
}
.shortlist li img {
 display: inline-block;
 margin-right: 3px;
 margin-bottom: 3px;
 vertical-align: top;
 width: 50px;
}
.shortlist li > div {
 position: relative;
 height: 38px;
 padding-top: 7px;
 width: 102%;
}
.shortlist li div {
 display: inline-block;
 line-height: 16px;
 padding-bottom: 5px;
 width: 260px;
 font-size: 16px;
}
.shortlist li div > a {
 color: #C24F19;
}
.shortlist li .short_company {
 margin-top: 3px;
 font-size: 12px;
 position: absolute;
 left: 0;
 bottom: 0;
 width: auto;
 color: #777;
}
ul.search_menu {
  list-style: none;
  margin-left: -8px;
  margin-top: -13px;
  margin-bottom: 29px;
}
ul.search_menu > li{
  display: inline-block;
}
ul.search_menu > li > label{
  font-size: 15px;
  display: inline-flex;
  margin-left: 11px;
}
ul.search_menu > li > label > .option_text {
  display: inline;
  margin-left: 7px;
  cursor:pointer;

}
.hero_banner {
  margin-bottom: 20px;
}
