body {
 font-family: "Helvetica Neue","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif;
 background: url(../img/bg.jpg) 0 0 repeat #f2f2f2;
 padding-top: 80px;
 padding-bottom: 0;
}
*:focus {
  outline: 0;
}

@font-face {
  font-family: 'voicetube_iconfont';
  src:  url('https://storage.googleapis.com/vt-s/assets/fonts/voicetube_iconfont.eot?eltp95');
  src:  url('https://storage.googleapis.com/vt-s/assets/fonts/voicetube_iconfont.eot?eltp95#iefix') format('embedded-opentype'),
    url('https://storage.googleapis.com/vt-s/assets/fonts/voicetube_iconfont.ttf?eltp95') format('truetype'),
    url('https://storage.googleapis.com/vt-s/assets/fonts/voicetube_iconfont.woff?eltp95') format('woff'),
    url('https://storage.googleapis.com/vt-s/assets/fonts/voicetube_iconfont.svg?eltp95#voicetube_iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vt_logo {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vt_iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vt_logo:before {
  content: "\e900";
}

/* fix mobile problem */
.navbar-inverse .header-section-block .brand, .navbar-inverse .header-section-block .nav>li>a {
 color: #fff;
}
.dropdown-backdrop{
  position: static;
}
.tab-content {
 overflow: visible;
}
.navbar-inverse .navbar-inner {
  height: 80px;
}
.navbar-fixed-top .container {
 margin-top: 20px;
 font-size: 15px;

}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
 width: 990px;
}
.navbar-inverse .nav li.dropdown.active>.dropdown-toggle {
  background-color: transparent;
  box-shadow: none;
}

#container {
 background: url(../img/pixel-pattern.png) 0 0 repeat-x;
 padding-top: 25px;
 min-height: 203px;
}
.header-section .nav li.dropdown.open > .dropdown-toggle,
.header-section .nav li.dropdown.active > .dropdown-toggle,
.header-section .nav li.dropdown.open.active > .dropdown-toggle {
  color: rgb(235, 235, 235);
}
.header-section .nav li.dropdown.open > .dropdown-toggle:hover,
.header-section .nav li.dropdown.active > .dropdown-toggle:hover,
.header-section .nav li.dropdown.open.active > .dropdown-toggle:hover {
  color: #fff;
}
.header-section-block .dropdown-menu .divider {
 margin: 3px 1px;
}
.thumbnail {
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.1);
 box-shadow: 0 2px 0 rgba(0,0,0,0.1);
 background-color: white;
 background-image: none;
 border: 0;
 padding: 0;
}
.index-block h3 {
 -webkit-box-shadow: 0 1px 0 #fff;
 -moz-box-shadow: 0 1px 0 #fff;
 box-shadow: 0 1px 0 #fff;
 border-bottom: 2px solid #969696;
 color: #969696;
 display: block;
 font-size: 17px;
 margin: 20px auto 20px auto;
 padding-bottom: 4px;
}
.index-block .left-section {
  min-height: 2000px;
}
.form-block [name="intro"] {
  height: 150px;
}
.search-bar .add-on {
  background-color: #000;
}
.video-sidebar-section h4 {
 -webkit-box-shadow: 0 1px 0 #fff;
 -moz-box-shadow: 0 1px 0 #fff;
 box-shadow: 0 1px 0 #fff;
 border-bottom: 2px solid #969696;
 color: #969696;
 display: block;
 font-size: 15px;
 margin: 10px auto 10px auto;
 padding-bottom: 4px;
}
.hero-unit.content-area {
  font-size: 14px;
  font-weight: normal;
}
.sidebar-nav {
 padding: 9px 0;
}
.view_block .hero-unit li {line-height: 20px;}
.controls{}
ul.controls {list-style-type: none; margin: 0;}
ul.controls > li {line-height: 20px;}
#dict_result {width: 355px !important; padding: 0px 21px;line-height: 17px;}
/*#dict_result {width: 300px; padding: 5px 10px;margin-top: -14px;}*/
#dict_result .title {font-weight: bold}
#caption_block {color: #fff; min-height: 78px; font-size: 17px; text-align: center;padding-top: 5px;}
.navbar-inverse .brand, .logo-font {font-family: 'Peralta', cursive}

.brand.logo {
    font-family: 'vt_iconfont' !important;
    width: 158px;
    height: 21px;
    opacity: .9;
    padding: 10px 15px 9px;
    position: relative;
    font-weight: normal;
}

.brand.logo > .logo-header {
  font-family: 'vt_iconfont' !important;
  font-weight: normal;
}

.brand.logo > .logo-footer {
  font-family: 'vt_iconfont' !important;
  font-weight: normal;
}

.logo-font {
  font-family: 'vt_iconfont' !important;
  font-weight: normal;
}

.brand.logo > img {margin-right: 8px; margin-top: -8px; width: 22px; height: 30px;}
.brand.logo:hover { opacity: 1}
.brand.logo small { font-size: 65% }
.logo-header { color: #fff}
.logo-footer { color: #fff}
.logo-lang { position: absolute; font-size: 11px; font-family: Roboto; top: 0; color: #ECECEC;}
.content-area {padding: 22px;}
.content-area .title-caption {font-size: 12px; color: #B4B0B0;}
/*.row-fluid .span9 {width: 700px}*/
.focus_line {background-color: rgba(121, 120, 120, 0.3)}
.video-bg {background-color: #000; padding: 3px 10px; margin-top: -10px;}
.speed_block {margin-right: 10px; color: #fff}
.lang_block {margin-left: 20px;}
.lang_block a:link {color: #777; text-decoration: none;}
.lang_block a:hover {color: #fff !important; text-decoration: none;}
a.repeat_one:link {color: #777; text-decoration: none;}
a.repeat_one:hover {color: #fff; text-decoration: none;}
a.mode_on:link {color: #fa2c2c;}

.speed_block a.speed_mode:link {color: #777; text-decoration: none;}
.speed_block a.speed_mode:hover {color: #fff; text-decoration: none;}
.speed_block a.speed_mode.active:link {color: #fa2c2c; text-decoration: none;}
.speed_block a.active:link {color: #fa2c2c; text-decoration: none;}

#backtoplayer {
	position: fixed;
	bottom: 0;
	display:none;/*hid the button first*/
}
#backtoplayer a:hover {
	opacity:.95; /*mouse over fade effect*/
}
.clrb {
	clear:both;
}
#maindiv {
	width:700px;
	border:1px solid #999;
	margin:auto;
	padding:20px;
}
.video-collect-section {
 margin: 0 10px;
}
.right_block {
 padding: 10px;
 font-size: 15px;
}

.top-user {margin-top: 10px;}
.top-user.nav > li > a {padding: 10px 2px 6px 2px;}
.nav > li > a:focus{ outline: none;}

.showpop-highlight{
 margin-left: 34px;
}


.form-block {
 max-width: 300px;
 padding: 19px 29px 29px;
 margin: 0 auto 20px;
 background-color: #fff;
 border: 1px solid #e5e5e5;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-block .form-block-heading,
.form-block .checkbox {
 margin-bottom: 10px;
}
.form-block input[type="text"],
.form-block input[type="password"] {
 font-size: 16px;
}

.form-signin {
 max-width: 312px;
 padding: 19px 29px 29px;
 margin: 0 auto 20px;
 background-color: #fff;
 border: 1px solid #e5e5e5;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
 margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
 font-size: 16px;
 height: auto;
 margin-bottom: 15px;
 padding: 7px 9px;
}
.form-signin input[name="username"] {
 width: 85px;
}
.form-signin .custom_url {margin-top: 10px;}

.login-brand {
    font-family: 'vt_iconfont' !important;
    font-weight: normal;
}
.login-brand a {
    font-family: 'vt_iconfont' !important;
    font-weight: normal;
}

.login-brand a:link {color: #000; text-decoration: none}
.login-brand a:hover {color: #000}
.login-brand a:visited {color: #000}
.fb-login {width: 100%; margin-bottom: 13px;}
.login-btn {width: 100%; margin-bottom: 13px;}
.reg-btn {width: 100%}
.use-email-login {text-align: center; margin-bottom: 12px;}

.legal textarea { width: 100%; height: 400px; margin: 20px 0;cursor: default;}
.tabs {overflow: visible}

.thumbnails .progress { width: 142px;}

.thumbnail .caption a:link, .thumbnail .caption a:hover, .thumbnail .caption a:visited {color: #555}
#backtoplayer a:hover {opacity: .5}
.breadcrumb {background-color: transparent}
.breadcrumb .active {
 color: rgb(82, 82, 82);
}
.breadcrumb .divider {
 color: #ccc;
}
/*
.thumbnail { border: 1px solid rgb(117, 117, 117) }
*/
.category_header {
  color: #777;
  font-size: 18px;
  margin: 0 auto;
}
.category_hr {
 margin: 10px auto;
 -webkit-box-shadow: 0 1px 0 #fff;
 -moz-box-shadow: 0 1px 0 #fff;
 box-shadow: 0 1px 0 #fff;
 border-bottom: 2px solid #969696;
 color: #969696;
 display: block;
 font-size: 17px;
 padding-bottom: 4px;
 border-top: 0;
}

/*
.index-thumbnail-title {
   text-overflow: ellipsis;
   -ms-text-overflow: ellipsis;
   display: inline-block;
   width: 140px;
   width: 100px\9;
   white-space: nowrap;
   overflow: hidden;
   vertical-align: top;
}
*/
.index-thumbnail-title {
 word-wrap: break-word;
/*
 word-break: break-all;
 */
 overflow: hidden;
 height: 40px;
}

.nav_login_block {
  float:right;
  width: 95px\9;
}
.nav_login_block > img {
 margin-top: -3px;
 margin-right: 3px;
}
.index-right {
 margin-top: 40px;
}
.thumbnail .caption, .category-block .thumbnail .caption {
 padding: 0px 5px;
}
.thumbnail, .category-block .thumbnail {
}
.index-block h5, .thumbnails h5 {
 height: 40px;
 margin: 5px 0;
}
.index-block h3 {
 margin: 10px auto 10px auto;
}
.index-block ul.sidebar {
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 margin: 0 auto;
 list-style-type: none;
 padding: 3px 3px;
}
.index-block ul.sidebar li {
 display: block;
 height: 50px;
 width: 100%;
 margin: 6px 2px;
 padding: 0 0 10px 0;
 border-bottom: 1px dashed #b3b3b3;
}

.index-block ul.sidebar li .span9 .user-info, .index-block ul.sidebar li .span6 .user-info{
 font-size: 12px;
 color: #818181;
}

.index-right-btn-section {
 margin-top: 10px;
}

.img-polaroid {
 padding: 4px;
 background-color: #fff;
 border: 1px solid #ccc;
 border: 1px solid rgba(0,0,0,0.2);
 -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
 -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
 box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.index-block ul.sidebar li .span9 .user-info img.img-polaroid {
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 width: 45px;
 height: 45px;
 padding: 5px;
 margin: auto;
}

.polaroid-section {
 overflow: hidden;
 width: 48px;
 /*height: 64px;*/
 color: rgb(82, 82, 82) !important;
 font-size: 13px;
 float: left;
 margin: 2px;
 text-align: center;
}
.polaroid-section2 {
 overflow: hidden;
 width: 31px;
 height: 31px;
 color: rgb(82, 82, 82) !important;
 font-size: 12px;
 float: left;
 margin: 2px;
 text-align: center;
}
.polaroid-section-big {
 overflow: hidden;
 width: 110px;
 height: 110px;
 color: rgb(82, 82, 82) !important;
 font-size: 12px;
 float: left;
 margin: 2px;
 text-align: center;
}
.polaroid-section a:link, .polaroid-section a:hover {
 color: rgb(82, 82, 82) !important;
}
img.img-polaroid2 {
 width: 46px;
 height: 46px;
 padding: 1px;
}
img.img-polaroid3 {
 width: 100px;
 height: 100px;
 padding: 1px;
}
img.img-polaroid4 {
 width: 28px;
 height: 28px;
 padding: 1px;
}

/*** user pref ***/
.pref-block {
 width: 52%;
}
.highlight { background-color: rgb(2, 136, 34) }
.player-section.span5 {
 width: 53%;
 margin-left: 0px;
}

.profile_sidebar .table td {
 text-align: center;
 border-top: 0;
}
.profile_sidebar .table tbody td {
 font-size: 24px;
}
.profile_sidebar .avatar img {
  width: 72px;
  height: 72px;
}
.video_user_sidebar td {
 text-align: center;
}
.video_user_sidebar tr {
 font-size: 13px;
 color: #8f8f90;
}
.video_user_sidebar a {
 color: #3c84b5;
}
.video_user_sidebar a:hover {
 color: #2f688f;
}
.navbar .username {
 margin-top: 40px;
 font-size: 16px;
 color: #444;
 font-weight: bold;
}
.navbar .avatar {
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: 0 1px 3px rgba(51,51,51,0.8);
 -moz-box-shadow: 0 1px 3px rgba(51,51,51,0.8);
 box-shadow: 0 1px 3px rgba(51,51,51,0.8);
 background: #f1f1f1;
 height: 50px;
 padding: 6px;
 margin:20px 15px 0px 25px;
 width: 50px;
}
.profile_sidebar hr {
 margin: 0;
 border-top: 1px solid rgb(141, 141, 141);
 border-bottom: 1px solid rgb(255, 255, 255);
}
.profile_sidebar .my_url_text {
 margin-bottom: 10px;
}
.search-section {
 -webkit-box-shadow: 0 1px 0px #fff;
 -moz-box-shadow: 0 1px 0px #fff;
 box-shadow: 0 1px 0px #fff;
 background: url('../img/grid.png') repeat;
 background-color: rgba(255,255,255,0.45);
 border-bottom: 1px solid #C7C7C7;
 margin-top: -13px;
 margin-bottom: 5px;
 padding-top: 10px;
 padding-bottom: 13px;
}
.search-section .search-text {
  font-size: 16px;
  margin: 4px 5px;
}
.search-section .add_video_btn {
  margin-top: -30px;
}
.search-section .add_video_btn .icon-film {
 padding-right: 3px;
 margin-right: 3px;
 border-right: 1px solid #ccc;
}
.navbar .nav.pull-right.search-bar {
  margin-top: 6px;
  margin-right: 30px;
}
.search-bar form{
 margin: 0;
}

.search-bar input[type="text"] {
 background-color: transparent;
 color: #fff;
 width: 73px;
}
.played_time .pink {
 color: #faa732;
 font-weight: bold;
}
.played_time .today {
 color: #5eb95e;
 font-weight: bold;
}
.browser-alert {
 display: none;
}
.video-index-alert {
 background-color: #fff;
 color: #000;
 border: 0;
}
.header-alert {
 background-color: #fff;
 color: #000;

}
.header-alert{
  background-image: url('/assets/img/index-intro-bg.jpg');
  background-repeat: no-repeat;
  background-position: top right;
}
.header-alert .span6, .header-alert .span3 {
 margin-top: 12px;
}
.header-alert .span6 .intro {
 margin: 10px 0;
}
.header-alert .span3 {
 padding-left: 20px;
 border-left: 1px solid #ccc;
}
.progress {
  background-image: -moz-linear-gradient(top, rgb(233, 233, 233), #rgb(155, 155, 155));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(233, 233, 233)), to(#rgb(155, 155, 155)));
  background-image: -webkit-linear-gradient(top, rgb(233, 233, 233), rgb(155, 155, 155));
  background-image: -o-linear-gradient(top, rgb(233, 233, 233), #rgb(155, 155, 155));
  background-image: linear-gradient(to bottom, rgb(233, 233, 233), #rgb(155, 155, 155));
  text-align: center;
}
.video-time {
 padding: 0 4px;
 font-weight: bold;
 font-size: 11px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 background-color: #000;
 color: #fff!important;
 height: 14px;
 line-height: 14px;
 opacity: 0.75;
 filter: alpha(opacity=75);
 display: -moz-inline-stack;
 display: inline-block;
 vertical-align: top;
 zoom: 1;
}
.video-date {
 padding: 0 4px;
 font-weight: bold;
 font-size: 11px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 background-color: #000;
 color: #fff!important;
 height: 14px;
 line-height: 14px;
 opacity: 0.75;
 filter: alpha(opacity=75);
 display: -moz-inline-stack;
 display: inline-block;
 vertical-align: top;
 zoom: 1;
}
.photo {
  position: relative;
  margin: 0 auto;
  display: table;
}
.photo-label {
  position: absolute;
  bottom: 3px;
  right: 0px;
  background-color: transparent;
}
.photo-date-label {
  position: absolute;
  bottom: 3px;
  left: 0;
  background-color: transparent;
}
.readed-label {
 display: none;
 position: absolute;
 top: -12px;
 right: -16px;
 background-color: transparent;
}
.photo .readed-label img {
 width: 31px;
 height: 31px;
}
.collect-label {
  position: absolute;
  top: 3px;
  left: 0;
  display: none;
  background-color: transparent;
}
.teach-collect-label {
  position: absolute;
  top: 32px;
  left: 0;
  display: none;
  background-color: transparent;
}
a.btn-favorite {
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
 border-radius: 6px;
 -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35),0 0 0 1px rgba(126,126,126,0.5);
 -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35),0 0 0 1px rgba(126,126,126,0.5);
 box-shadow: inset 0 1px rgba(255,255,255,0.35),0 0 0 1px rgba(126,126,126,0.5);
 background-image: linear,0% 0%,0% 100%,from(#fcfcfc),to(#f0e0e0),color-stop(0.5, #f7f7f7),color-stop(0.5, #f3f3f3);
 text-shadow: 0 1px rgba(255,255,255,0.9);
 background-color: #f0eded;
 color: #524d4d;
 float: left;
 padding: 5px;
 width: auto;
}
a.btn-favorite:hover {
 text-decoration: none;
}
a.btn-favorite > div {
 display: inline-block;
}
.collect-label a.btn-favorite.btn-follow-video i.icon-heart {
 display: none;
 color: #b03020;
}
.collect-label a.btn-favorite.btn-follow-video i.icon-heart-empty {
 display: inline-block;
}
.collect-label a.btn-favorite {
 text-shadow: 0 1px rgba(255,255,255,0.9);
 color: #524d4d;
}
.photo img {
 width: 170px;
 height: 127px;
}

#showpop-menu {
 padding: 5px;
 line-height: 16px;
 z-index: 99999999;
}
.important-text {
  color: #b94a48;
  font-weight: bold;
}
.index-sidebar .row-fluid > .span3 {
  width: 60px;
}
.book-bar.navbar .nav > .active > a,
.book-bar.navbar .nav > .active > a:hover,
.book-bar.navbar .nav > .active > a:focus {
  color: rgb(27, 27, 27);
}
.book-bar.navbar a {
  color: rgb(70, 70, 70);
}
.book-bar .span8 {
 min-height: 800px;
}
.book-bar #book-header-add {
 margin-top: 10px;
}
.span1.larger-section {
 width: 13px;
 margin-left: 8px;
 height: 270px;
 padding-top: 250px;
 cursor: pointer;
 opacity: .3;
}
.span1.larger-section:hover {
 opacity: 1;
}
.mode-arrow-section {
 line-height: 0;
 cursor: pointer;
 text-align: center;
 opacity: .3;
}
.mode-arrow-section:hover {
 opacity: 1;
}
#sidebar-viewed-captions-section {
 background-color: #E6E6E6;
}
#sidebar-viewed-captions-section .icon-remove {
 opacity: .2;
}
#sidebar-viewed-captions-section .icon-remove:hover {
 opacity: 1;
 text-decoration: none;
}

ul#sidebar-viewed-captions-section {
 margin-left: 5px;
 list-style-type: none;
}
ul#sidebar-viewed-highlights-section {
 margin-left: 5px;
   /*
   list-style-type: decimal;
   padding-left: 22px;
   */
 }

 ul#sidebar-viewed-captions-section .pull-right, ul#sidebar-viewed-highlights-section .pull-right{
   margin-right: 15px;
 }

 ul#sidebar-viewed-captions-section .translate{
   font-size: 13px;
 }

 ul#sidebar-viewed-captions-section > li, ul#sidebar-viewed-highlights-section > li {
   border-bottom: 1px solid #ccc;
   padding: 2px 0;
   line-height: 20px;
 }

 ul#sidebar-viewed-captions-section > li .word, ul#sidebar-viewed-highlights-section > li .word{
   padding-top: 6px;
   margin-right: 20px;
 }

 #mode_search_result {
 }

 #mode_search_result p{
   margin: 0;
 }

 .dialogs {
   display: none;
 }

 /******   start ubaplayer   ********/
 #fallback {
   display: none;
 }

 .audioButton {
   background: url("../img/btn.png?v=4") no-repeat 0 7px !important;
   display: block;
   cursor: pointer;
   margin: 0;
   padding: 10px 10px 18px 25px !important;
   width: 0px;
 }

 .audioButton:hover {
   background-position: 0 -33px !important;
 }

 .audioButton.playing {
   background-position: 0 -73px !important;
 }

 .audioButton.playing:hover {
   background-position: 0 -113px !important;
 }

 .audioButton.loading,
 .audioButton.loading:hover {
   background: url("../img/loading.gif") no-repeat 0 7px !important;
   text-indent: 0!important;
 }

 #player {
   display: none;
 }
 td.align-top { vertical-align: top};
 /******   end ubaplayer   ********/

 .mode-section .input-append,
 .mode-section .input-prepend {
  margin-bottom: 0px;
}

.player_repeat{
  display: inline-block;
  /*color: #fff;*/
}

.header-section .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,.header-section  .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,.header-section  .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
 background-color: transparent;
}

.player-section{
  color: #fff;
}

.top-pattern {
 height: 70px;
 background: url(../img/pattern-top3.png) 0 0 repeat-x;
 margin-top: 50px;
}

body > footer.container {
  background: url(../img/pattern-repeat.png) 0 0 repeat #484f59;
  line-height: 16px;
  color: #fff;
  width: 100%;
}

#footer-bottom {
 width: 1170px;
 margin: 30px auto;
}

body > footer.container h5 {
 font-size: 13pt;
 color: rgb(202, 202, 202);
 text-shadow: 1px 1px 1px #000;
}


body > footer.container a:visited,
body > footer.container a.logo-font:visited,
body > footer.container a.logo-font:link,
body > footer.container a:link {
 color: rgb(235, 235, 235);
}

body > footer.container a:hover,
body > footer.container a.logo-font:hover {
 color: #fff;
}


footer .row {
  margin-left: 10px;
}

footer .span2 h5 {
  font-size: 14px;
  margin-left: 25px;
}

footer ul {
  list-style-type: none;
}

footer li a {
  color: #666;
}

footer .logo-font {
  font-size: 20px;
  color: #423D3D;
  text-decoration: none;
}

footer a:hover {
  color: #888;
  text-decoration: none;
}

footer .footer_text {
  font-size: 11px;
}


.index-fb-like {
 margin: 10px 10px 0 0;
}

.index-fb-like > img {
 vertical-align: baseline;
}
li.iwantchallenge a:link {
 color: rgb(235, 235, 235);
}
li.iwantchallenge a:hover {
 color: #fff;
}
.index-block .thumbnail, .category-block .thumbnail {
  position: relative;
}

.point-section {
  text-align: right;
  position: absolute;
  right: 6px;
  top: 3px;
  opacity: .95;
}
.badge-section img {
  opacity: .3;
}
.badge-section img.active {
  opacity: 1;
}

.icon-green {
  color: #468847;
}
.icon-black {
  color: #000;
}
.icon-white {
  color: #fff;
}
.icon-blue {
  color: #0088cc;
}
.icon-darkblue {
  color: #5473ad;
}
.icon-red {
  color: #da4f49;
}
.icon-facebook-sign {

}
#icon-facebook-sign-section {
 margin: 0px 0 0 5px;
}

#icon-facebook-sign-section a:link {
 color: rgb(0, 119, 179);
}
#icon-facebook-sign-section a:hover {
 text-decoration: none;
 color: #0088cc;
}
.red-badge {
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.4),0 1px 0 rgba(255,255,255,0.4);
 -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.4),0 1px 0 rgba(255,255,255,0.4);
 box-shadow: inset 0 1px 4px rgba(0,0,0,0.4),0 1px 0 rgba(255,255,255,0.4);
 text-shadow: 0 1px 2px rgba(0,0,0,0.5);
 background: #fa2c2c url('../img/button-bg-red.png') repeat;
 color: #fff;
 padding: 1px 5px;
 margin-right: 5px;
 font-size: 10px;
 white-space: nowrap;
 color: white;
 cursor: pointer;
 position: relative;
 top: -1px;
}

#header-new {
  margin-left: -13px;
  top: 8px;
}
.page-header-top {
 background: #f5f5f5;
 padding: 20px 20px 10px;
 margin: 0 0 30px 0;
 border-bottom: 1px solid #ddd;
 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
 -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
 box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.share_buttons {
  width: 179px;
  height: 27px;
  overflow: hidden;
  padding: 4px 0;
}
.share_buttons .facebook {
 display: block;
 width: 79px;
 height: 27px;
 margin-left: 10px;
 float: left;
 background: transparent url('../img/tray_share_buttons.png') no-repeat 0 0;
}
span.book-right {
 min-height: 700px;
}

.fb-like-btn {
 margin-left: 3px;
 width:130px;
 height:24px;
 top:6px;
 position: relative;

}

.channel-like {
 height: 30px;
 margin-left: 8px;
 top: 5px;
}

.cheer-txt {
 color: rgb(190, 91, 64);
 margin-top: 7px;
}

#submit-search {
 cursor:pointer;
 opacity: .7;
}

#submit-search:hover {
 opacity: 1;
}
.caption-section, #caption_block .en {
}
.thumbnail .thumbnail-tags {
 margin: 0px 0 5px;
 /*margin: 3px 0 5px;*/
}
.level-filter-form input[type="submit"] {
 margin-top: -10px;
}
.filter-section.btn-group {
 margin: 2px 0 10px;
 width: 100%;
}
.thumbnails-search.dropdown-menu {
 position: relative;
 top: 0;
 float: none;
 padding: 15px 15px 0 15px;
 margin-bottom: 10px;
 background-color: rgb(248, 248, 248);
}
form.level-filter-form {
 margin: 0 0 5px;
}
.word_test_sidebar {
 margin: 10px;
 text-align: center;
}
.word_test_sidebar .modal-header {
 padding: 0 10px;
 border-bottom: 0;
}
ul.semantic-navigation, #recipes_popular ul.semantic-navigation {
  display: inline-block;
  list-style: none outside none;
  margin-left: 0;
}
ul.semantic-navigation h4, #recipes_popular ul.semantic-navigation h4 {
  display: inline-block;
  font-size: 14px;
}
ul.semantic-navigation li, #recipes_popular ul.semantic-navigation li {
  display: inline-block;
  margin-left: 3px;
}
ul.semantic-navigation li a span, #recipes_popular ul.semantic-navigation li a span {
  border-radius: 4px 4px 4px 4px;
  color: #666666;
  font-weight: normal;
  padding: 5px;
}
ul.semantic-navigation li a:hover, #recipes_popular ul.semantic-navigation li a:hover {
 text-decoration: none;
}
ul.semantic-navigation li.active a span, #recipes_popular ul.semantic-navigation li.active a span {
  background-color: #C0C0C0;
}
.fb_channel {
 margin-top: 5px;
 margin-left: 20px;
 float: left;
}
#loginModal.modal {
 width: 380px;
}
#loginModal .modal-header {
 text-align: center;
}
#loginModal .close {
 display: none;
}
#loginModal hr {
 margin: 7px;
}
#loginModal .modal-body {
 overflow: hidden;
}
#loginModal .form-signin {
 border: 0;
 padding: 0;
 margin: 0 auto;
}
.index-ads {
 margin: 20px 20px 60px;
}
.index-block .modal-header {
 background-color: #1b1b1b;
 background-image: -moz-linear-gradient(top, #222222, #111111);
 background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
 background-image: -webkit-linear-gradient(top, #222222, #111111);
 background-image: -o-linear-gradient(top, #222222, #111111);
 background-image: linear-gradient(to bottom, #222222, #111111);
 background-repeat: repeat-x;
 border-color: #252525;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
 color: #fff;
 text-align: center;
}
#list-info ul li:hover {
 background-color: rgba(200, 200, 200, 0.4);
}
.section {
 margin: 10px 0;
}
.section>h3 {
 font-size: 14px;
 color: #686868;
 line-height: 17px;
 text-transform: uppercase;
 padding-bottom: 3px;
 margin-bottom: 3px;
 margin-top: 35px;
}
.section.list-of-recipes ul {
 margin-left: 0;
 margin-top: 5px;
 padding-left: 22px;
 color: #999;
}
.section.list-of-recipes ul li {
 list-style-type: square;
 list-style-position: inline;
 margin-top: 7px;
}
.section.list-of-recipes ul li a {
 display: block;
 color: #333;
}
.section.list-of-recipes ul li a span {
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 -ms-border-radius: 8px;
 -o-border-radius: 8px;
 border-radius: 8px;
 color: #999;
 font-size: 11px;
 font-weight: bold;
 line-height: 11px;
 padding: 2px 7px;
 margin-left: 9px;
 margin-top: 7px;
 background: transparent;
 text-shadow: none;
 top: -3px;
 position: relative;
 opacity: 0.7;
 display: inline-block;
 float: right;
}
.section.list-of-recipes ul li a:hover span {
 color: white;
 background: #333;
 opacity: 1;
}
.section.list-of-recipes ul li a:hover {
 color: #006CB7;
 text-decoration: none;
}
.section.list-of-recipes ul li.current a {
 /*font-weight: bold;*/
 color: #004e84;
}
.section.list-of-recipes ul li.current a span {
 color: white;
 background: #6a93a7;
 opacity: 1;
}
.section.list-of-recipes ul li a span.red-badge {
 background: #fa2c2c url('../img/button-bg-red.png') repeat;
 color: #fff;
 opacity: 1;
 margin-right: 0;
 margin-left: 0;
 margin-top: 7px;
}
.section .username {
 margin-left: 90px;
 color: #444;
 font-size: 24px;
 margin-top: 10px;
}
.head-alert {
 width: 80%;
 margin: 0 auto;
 padding: 0;
}
.head-alert .alert .close {
 font-size: 16px;
}
iframe {
  border: none;
}
#dict-close {
 cursor: pointer;
 position: absolute;
 right: 8px;
 top: 4px;
}
#subtitle-list {
 min-height: 760px;
 overflow: auto;
}
.channel-right-col {
 margin-top: 24px;
}

/* for search */
.page-section {
}
.page-section .sub-section {
 width: 100%;
 margin: 0 auto;
 position: relative;
}
.page-section .sub-section .search {
 width: 380px;
 height: 36px;
 margin: 0 auto -5px auto;
 display: block;
 background-image: url(/assets/img/search_bg.png);
 background-repeat: no-repeat;
 position: relative;
}
.page-section .sub-section .search .search-input {
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
 background-color: transparent;
 border: none;
 height: 36px;
 margin-left: 15px;
 padding-bottom: 0;
 padding: 0px;
 width: 318px;
}
.page-section .sub-section .search .btn-search {
 background-repeat: no-repeat;
 position: absolute;
 left: 332px;
 top: 0;
 text-indent: -9999px;
 height: 37px;
 width: 43px;
 display: block;
}
.page-section .sub-section .search .btn-search:hover {
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
 opacity: 0.7;
 cursor: pointer;
}
.page-section .sub-section .btn-edit {
 text-shadow: 1px 0 0 #fff;
 color: #666;
 float: right;
 margin-top: -30px;
 margin-right: 10px;
}
.page-section .sub-section .search .keyword {
 position: absolute;
 left: -174px;
 top: 8px;
 font-size: 20px;
 color: rgb(121, 121, 121);
}
.page-section .sub-section .search .toggle_btn {
 position: absolute;
 left: -150px;
 top: 2px;
 font-size: 20px;
}
.other_title {
 margin-top: 30px;
}
#chart_div {
}
a.video_link {
 color: #555;
}
.vote-btn-right {
  width: 100%;
}
.vote-btn-right h2 {
  margin: 0;
  font-size: 25px;
}
.vote-btn-right a {
  color: white;
}
.vote-btn-right a:hover {
  text-decoration: none;
  color: white;
}
footer .company-info {
 background-color: #1b1b1b;
 /*height: 130px;*/
 margin: 20px auto 0 auto;
 padding-top: 20px;
 padding-bottom: 20px;
}
footer .company-info > .company-detail {
 width: 500px;
 margin: 0 auto;
 text-align: center;
 line-height: 28px;
}
footer #footer_logo {
 /*font-family: 'Peralta', cursive; */
 font-family: 'vt_iconfont' !important;
 font-weight: normal;
 font-size: 20px;
 margin-left: 7px;
}
footer .company-detail > img {
 margin-top: -9px;
}

.dropdown-menu {
 margin: 0;
}
.summary .pronun dd {
 display: inline-block;
 vertical-align: top;
 zoom: 1;
 margin: 0;
}
.summary .pronun dt {
 display: inline-block;
 vertical-align: top;
 zoom: 1;
 color: #74787d;
 font-size: 85%;
 margin-top: 2px;
}
.summary .proun_wrapper {
 margin-right: 12px;
 display: inline-block;
 width: 500px;
 line-height: 1.5;
 margin-bottom: 6px;
}
.summary .proun_type {
 color: #797979;
 margin-right: 2px;
}
.summary .proun_value {
 margin-right: 5px;
 display: inline-block;
}
.summary .explanation {
 margin-bottom: 15px;
 padding: 8px 9px;
 border: 2px solid #f4f2f3;
 background: #fbfbfb;
 font-size: 100%;
 font-weight: bold;
 width: 92%;
}
.summary h3 {
 font-size: 100%;
 line-height: 17px;
}
ul.explanations {
  list-style-type: none;
  margin: 0;
}
.explanation_ol{
  width:90% ;
}
.explanations .type {
 display: inline-block;
 vertical-align: top;
 zoom: 1;
 width: 54px;
 margin-left: 4px;
 margin-right: 10px;
 color: #de5b00;
}
.explanations .type-item {
 padding: 13px 0 6px;
}
.explanations .exp-item {
 margin-bottom: 8px;
 color: #505050;
 font-weight: bold;
}
.explanations .exp-list {
 display: inline-block;
 vertical-align: top;
 zoom: 1;
}
.explanations .exp-item {
 list-style: decimal outside none;
}
.explanations .exp {
 font-weight: normal;
}
.explanations .exp-item p {
 margin: 0;
}
.explanations .sample em {
 color: #7b0099;
 font-weight: bold;
}
.group_header_nav {
 margin-bottom: 0;
 margin-left: 4px;
}
.group_header ul ul {
 list-style-type: none;
 margin-left: 15px;
}
ul.group_header li {
 text-align: left;
 margin-left: 5px;
}
.dropdown-menu li.divider {
 margin: 3px 1px;
}
.group_header .dropdown-menu {
 min-width: 0;
 text-align: left;
 padding: 8px;
}

.group_header a {
 color: #333333;
}
.group_header .dropdown-menu li > a {
 padding: 3px 18px 3px 0;
}
#footer_feeback_btn {
 margin-top: 20px;
}
#index_info_box {
 font-size: 15px;
 text-align: center;
 margin-top: -25px;
 margin-bottom: 25px;
 z-index: 1000;

}
#index_info_box a {
}
#index_info_close {
 font-size: 13px;
}
.ribbon-container {
 position: relative;
 width: 100%;
 height: 24px;
 background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAYCAAAAAAaUhg7AAAAVklEQVQI11XISwqAIABAwXeP/ICLSgpNc1GgRVHQ5/73ad0sB2McNiZUZ1Ey4fJGM09IkQnHSxU9oiqE40GOASmW3w/7hU6Bpl7p54LqLFo7Wh8Z7/MDcFwNRoJ/rksAAAAASUVORK5CYII=);
 background-repeat: repeat-x;
 font-size: 16px;
}
.ribbon-container .wrap {
 position: relative;
 width: 970px;
 height: 100%;
 margin: 0 auto;
}
.ribbon-container .show-inline, .drawer-container .show-inline {
  display: inline-block;
}
.ribbon-container .shadow {
  -webkit-box-shadow: inset 0 0 10px 2px #000;
  -moz-box-shadow: inset 0 0 10px 2px #000;
  box-shadow: inset 0 0 10px 2px #000;
  padding: 0px 10px;
}
.ribbon-container .words-center {
  float: right;
  margin-right: 375px;
}
.ribbon-container a {
  text-decoration: none;
}
.ribbon-container .triangle-wrap {
  position: relative;
  z-index: 2;
}
.ribbon-container .metric-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.ribbon-container .value {
  display: inline-block;
  color: #fff;
  font-size: .9em;
  line-height: 24px;
  text-shadow: 1px 0px #1e1e1e;
  background-repeat: no-repeat;
  zoom: 1;
}
.ribbon-container .value.all {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAMAAACecocUAAAAV1BMVEXMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMxQJE8iAAAAHHRSTlM9Slh7iZCUnKGjpqqwtre7yMnNztLU4OLn+fr7eu/yDwAAAExJREFUCNdFyEkSgCAMRNFWFMEJFKdA7n9OoYzFX71u2MRfySJOm4wI9nOP0s7g55Y/ezTVbhna0pHtQ/2Nrl473ZQCg85LboKin+oFkWkJ7He39QUAAAAASUVORK5CYII=);
  background-position: 100% 49%;
  padding-right: 20px;
}
.ribbon-container .points {
  float: left;
}
.ribbon-container .key {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 23px;
  color: #c1c1c1;
  font-size: .6em;
  font-weight: bold;
  text-shadow: 1px 0px #1e1e1e;
  text-transform: uppercase;
  zoom: 1;
}
.ribbon-container .metric-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.ribbon-container .value.points {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAABR1BMVEUAAAD7113+5W/zsC7tnh7yry/93Wj94m3soSbroSbupin82mX+5nLomyTomiT+5nHytTrytTr71l37117pnCjpnSj93GP1vkL82WbspC393mr932rxrzT71VvqnirqnyrxrDH3xkn701j81l78117MZgDMZwLNaAPNaQXNagbQcxbRdBfSeB7SeR/TfCXWgCfWgSjXgibdiyXhmzLimi7jnTHqnizrsjzsszzwnxvwqSPyqyPznAz0pBT0qSH1pyD1qib1sSn2phH2rzL2sDL2yUX3sSv3w0n4rhr4uyv4wkT4wkX5tiL5uzf5vDP5vSz5zE/5zU/6viv6xDr6zk76zlr6z1r7xjT7zkj7zkn70kj71Fr71Fv8zjz8z0r82Fn82Vz82l/82mD91UX911v911z92Ev92Uz943795Hb/3k//31X/5XM3DJL6AAAAJXRSTlMACAwREhJcYHN0dKe6u7y8xMXr6+7u8/T6+/v7/Pz9/f7+/v7+h7c2LQAAANlJREFUCNcFwbFOwzAUBdBrPydukrYibZUCEUMXJBhYWFgQOxK/XhBIsIBYAVVRGogdx3415xAAUcxWD20iAwABpIvrkBMb2jYjCPrs5rgQlJTLyvRMsrotI+mXDaGofnqa3x9BykfT1FJk9bvSaQyfv47ddrZJdK6mPj7bQ2Q3/rVXPKU7gVUbPA4qu2C/JLeOvGiChD5n9k/K+EA2ahVil3E0cozduFfzeq72YxedoJPLIQcAwExevymGoewZzINNPnaO4F1/GgMzTd52FgKAytNi/WUHG4B/2V9rN2yN9fsAAAAASUVORK5CYII=);
  background-position: 100% 49%;
  padding-right: 23px;
}
.shareaholic-canvas {
 padding-top: 30px;
 margin-left: -14px;
}
#header_fb_like {
 top: 10px;
}
.thumbnails .word_big_block {
 text-align: center;
 background-color: #ccc;
}

.userface_info table td {
  padding: 4px;
}

#logo_sub {
 padding-top: 10px;
 margin-left: 8px;
 font-size: 14px;
 color: rgb(253, 253, 98);
 opacity: .95;
}
#logo_sub:hover {
 text-decoration: none;
 color: yellow;
 opacity: 1;
}
.my-error-class {
 color: red;
}

::selection {
  background:#B952F3;
  color:#fff;
}

::-moz-selection {
  background:#B952F3;
  color:#fff;
}

::-webkit-selection {
  background:#B952F3;
  color:#fff;
}
/* for search end */
@media (min-width: 1200px) {
 .index-block .thumbnails {
  margin-bottom: 25px;
}
}

#sub_query_icon:hover {
  color: DeepSkyBlue ;
  cursor: pointer;
}

#notify_button,#pm_button,#friends_button {
  max-height: 520px;
  overflow: auto;
}

#notify_button li>a{
  white-space: inherit ;
  word-break:break-all;
}

#notify_button .divider,#pm_button .divider,#friends_button .divider{
  margin:0;
}

.notify_pic {
 margin: 1px 10px 0 -8px;
 float: left;
 width: 50px;
 height: 50px;
}
.notify_pic_video {
 margin: 1px 10px 0 -15px;
 float: left;
 width: 60px;
 height: 45px;
}
.recommended_translate_video {
 width: 60px;
 height: 45px;
}

.notify_pic.img-polaroid {
 padding: 2px;
}
.notify_contain{
  min-height: 60px ;
}

.notify_font {
  font-size: 14px;
  color: black;
}

.notify_body{
  padding: 1px 0 0 65px;
}

.header_icon {
  font-size: 22px;
  margin: 0 5px 0 5px;
}

.icon_bubble {
  height: 18px;
  width: 22px;
  position: absolute;
  left: -3px;
  top: 2px;
  color:#fff;
  background-color: #b94a48;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
  text-align: center;
  font-size: 10px;
  line-height: 18px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
  border-radius: 9px;
  font-weight: bold;
}
.icon_bubble_dot {
  height: 10px !important;
  width: 10px !important;
  left: 3px !important;
  top: 7px !important;
}

.truncate {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.ico_user {
  width: 22px;
  height: 22px;
  margin: 0 2px 2px 2px;
}

.userface_box .how_coin {
 left: -10px;
 position: relative;
 top: -5px;
}
.userface_text img.coin {
 width: 20px;
 height: 15px;
 position: relative;
 top: -2px;
}
li>a.voicetube_public:hover {
  background: #ffd65e; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
}

.show-label {
  width: 100px;
  height: 100px;
  left: 0;
  bottom: 0;
  position: absolute;
  pointer-events:none;
}

.show-label > img {
  width: 100px;
  height: 100px;
  opacity:.95;
}
.show-label-2 {
  width: 100px;
  height: 100px;
  left: 0;
  bottom: 0;
  position: absolute;
  pointer-events:none;
}

.show-label-2 > img {
  width: 100px;
  height: 100px;
  opacity:.8;
}

#foodie_main_block {
 position: relative;
 margin-top: 160px;
}
#foodie_index {
 position: absolute;
 top: -2px;
}
#foodie_index img {
 width: 225px;
 cursor: pointer;
}
#foodie_blackboard {
 background: url(../img/foodie/blackboard.png) 0 0 no-repeat;
 width: 340px;
 height: 280px;
 position: absolute;
 font-size: 22px;
 line-height: 30px;
 left: -148px;
 top: -156px;
 padding: 30px;
 color: #fdfafa;
 cursor: pointer;
}

#foodie_blackboard a {
 color: #6FCFFF;
}
ul#lagnuage_menu {
 color: #fff;
 list-style: none;
 margin-top: 10px;
 margin-right: 12px;
}
ul#lagnuage_menu .dropdown-menu {
 right: 0;
 width: 92px;
 min-width: 100px;
}
ul#lagnuage_menu .dropdown-menu a {
 padding-left: 17px;
}
ul#lagnuage_menu .dropdown-toggle {
 color: #fff;
 text-decoration: none;
}
#level_block {
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 59px;
 background: #333;
}
#level_block.fix_level {
 position: fixed;
}
time {
 background: #a69e93;
 border-radius: 5px;
 padding: 2px 9px;
 margin-top: 3px;
 color: #fff;
 font-size: 10px;
 font-weight: bold;
 cursor: pointer;
}
.mode_on{
  color:#fa2c2c;
}
.mobile_title_prefix{
  margin:10px;
}
.new_year_2015 .brand.logo > img {width: 22px; height: 30px;}
.new_year_2015.navbar-inverse .navbar-inner {background: #CB1317 !important;}
.new_year_2015.navbar-inverse.navbar-fixed-top .container {position: relative;}
.new_year_2015 #spring_2015 {position: absolute; left: -72px; top: -10px;}
.new_year_2015 #goat_2015 {
 position: absolute;
 right: 237px;
 top: -15px;
}
footer.new_year_2015 .company-info {
 background: #CB1317;
}
@media (max-width: 979px) {
 .new_year_2015 #goat_2015 {
  top: -10px;
}
}
@media (max-width: 640px) {
 .new_year_2015 #goat_2015 {
  position: absolute;
  right: 60px;
  top: 4px;
  width: 115px;
}
.new_year_2015 #spring_2015 {
  right: 153px;
  top: -21px;
  left: initial;
}
.content-area {padding: 0;}
.title-caption{ padding:10px;}
.video-title{ padding: 0 2% ;margin-top: 0px !important}
.new_year_2015.navbar-inverse .btn-navbar, .new_year_2015.navbar-inverse .btn-navbar:hover {background-color: transparent !important; background-image: none !important;}
}
#ps_block {
  margin-bottom:30px;
  margin-left: 40px;
  margin-top: -10px;
}
.ps_block {
  font-size: 14px;
  color:#979797;
}
.nav-collapse .mobile_open > .dropdown-menu {
  display: block !important;
}

/* for typeahead.js */
/* ---------- */
.tt-hint {
  visibility:hidden;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 412px;
  height: 30px !important;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  background: white !important;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  /*width: 422px;*/
  /*width: 100%;*/
  /*word-break: break-word;*/
  margin-right: -1px;
  min-width: 99.5%;
  /*margin: 12px 0;*/
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /*-webkit-border-radius: 8px;*/
  /*-moz-border-radius: 8px;*/
  /*border-radius: 8px;*/
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
  display: block;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #000;
  background-color: #f1f1f1;
  text-decoration: none !important;
}

.tt-suggestion.tt-cursor {
  /*color: #fff;*/
  background-color: #f1f1f1;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
  text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}
.mobile-search-btn, .mobile-search-btn:active {
  color: #fff !important;
  background-color: black !important;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
}
#mobile-search-block {
  width: 100%;
  height: 50px;
  background: black;
  display: none;
}
#mobile-search-block:focus {
  border: 0 !important;
}
.mobile-query-input {
  border: 0 !important;
}
.mobile-block-search-btn, .mobile-block-search-btn:focus {
  margin-left: 15px;
  margin-top: 0px !important;
  height: 45px;
  background: black;
  color: white;
  border: 0px;
  box-shadow: none;
  cursor: pointer;
  margin-top: -10px !important;
  margin-left: 20px;
}
.hero-header-badge {
    padding: 1px 5px;
    font-size: 10px;
    white-space: nowrap;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    top: -8px;
}
#nred-badge {
    background-color: #f00;
}
#nblue-badge {
    background-color: #2daec0;
}
#index_info_box2 {
   cursor: pointer;
   position: relative;
}
#index_info_box2 #hero_blank_block {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#index_info_box2.alert-info {
   color: #f6f6f6;
   background-color: #2ecc71;
   border-color: #fff;
   font-family: "微軟正黑體","";
   border: none;
   border-radius: 0px;
   font-size: 15px;
}
#index_info_box2.alert {
   text-shadow: none;
}
#index_info_box2 .hero-btn-info {
   margin-left:50px;
   color:#fff;
   background-color: transparent !important;
   background-image: transparent;
   border:1px solid #fff;
   border-radius:3px;
   padding:2px 5px;
}
#index_info_box2 #icon-book {
   color:#fff;
}
.username_sub {
  font-size:20px;
  color:#868686;
  line-height: 20px;
  margin: 10px 0 0 90px;
}
