@media (max-width: 1199px)  {
    .group_remove-sign_banner-icon {
        display: inline-block;
    }
    .group_submit_btn {
        float: right;
    }
    .voicetube-app-banner-remove-sign {
        float: left;
        color: #000;
        margin-top: 10px;
        margin-left: 5px;
    }
    .voicetube-app-banner-icon {
        padding-left: 10px;
        float: left;
    }
    .voicetube-app-banner-slogen {
        font-size: 15px;
        color: #000;
    }
    /*.voicetube-app-banner-star-icon {
        padding-bottom: 10px;
    }*/
    img.voicetube-app-banner-star-icon {
        vertical-align: inherit;
    }
    .voicetube-app-banner-slogen-star {
        padding-left: 10px;
        margin-top: 2px;
        float: left;
    }
    .voicetube-btn {
        margin-top: 5px;
        margin-right: -20px;
    }
    .voicetube-btn-primary {
        color: #fff;
        background: #20b0ff;
        border-color: #20b0ff !important;
    }
    .voicetube-btn {
        display: inline-block;
        vertical-align: middle;
        padding: 7px 21px;
        border: 1px solid #bdbdbd;
        border-radius: 3px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        float: right;
    }
    .voicetube-app-banner-background {
        position: relative;
        padding: 15px 36px 5px 14px;
        color: #c09853;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        background-color: #efefef;
        border: 1px solid #efefef;
    }
    .left-section > .category_header_mobile {
        margin-top: 20px;
    }
    #footer-bottom {
        width: auto;
    }
    .row-fluid .span9 {
        width: 69.425532%;
        padding-left: 11px;
    }
    #everyday_index_img {
        width: 100% !important;
    }
    .everyday_index_banner {
        width: 100%  !important;
    }
    .row-fluid .offset1{
        margin-left: 5.638298%;

    }
    /*.span8 {
        width: 152px!important;
        position: relative!important;
        top: -53px!important;
        right: -30%!important;
        }*/

    }
    @media (max-width: 979px){
        #container {
            padding-top: 0 !important;
        }
        /*#progress{
            display: none;
            }*/
            .navbar-fixed-top,.navbar-fixed-bottom{
                margin-bottom: auto;

            }
            .navbar-nav > li:hover > .dropdown-menu {
              display: block;
          }
          li>a:focus, .dropdown-menu li>a:hover, .dropdown-submenu:hover>a {
            background-image: linear-gradient(to bottom,#77B4C9,#98D6F5) !important;
        }
        .nav-collapse.collapse {
            position: absolute;
            z-index: 1200;
            right: 0px;
            top: 80px;
            width: 250px;
            padding-right: 8px;
            background: rgba(0, 0, 0, 0.8);

        }
        .nav-collapse.collapse.in {
            overflow: visible !important;
        }
        .input-prepend input,
        .input-append input,
        .input-prepend input[class*="span"],
        .input-append input[class*="span"] {
            width: 85%;
        }
        .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
            padding : 0  !important;
        }
    }

    @media (max-width: 979px) and (min-width: 768px) {
        .channel-right-col {
            width: 162px !important;
            margin-left: 4px !important;
        }
        .span2 {
         width: 29%;
     }
     .span3 {
        width: 205px;
    }
    input.span2,
    textarea.span2,
    .uneditable-input.span2 {
        width: auto;
    }
    .nav-collapse.collapse {
        position: absolute;
        right: 0px;
        top: 90px;
        width: auto;
        background: rgba(0, 0, 0, 0.8);
    }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .channel-right-col {
        width: 250px !important;
        margin-left: 4px !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
 body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.vt-front-search-banner-hero-container .vt-front-search-banner-container .vt-front-search-banner-main-group {
    margin-left: 50px;
}

.navbar-inverse .nav li.dropdown.active>.dropdown-toggle {
    background-color: #111;
    box-shadow: none;
}
#promo-header {
    width: 798px !important;
}
.index-block .row-fluid .span3 {
    width: 25% !important;
    float: left !important;
}
.index-block .row-fluid .span9 {
    width: 66% !important;
    float: left !important;
    margin-left: 13px;
}
.input-mini {
    width: 15px !important;
}
#container {
    padding-top: 0;
}
.header-section-block {
    background-color: black;
    width: 50%;
    float: right;
    position: absolute;
    left: 50%;
    top: 90px;
    z-index: 50;
}
.header-section-block .dropdown-menu {
    width: 93%;
    padding-left: 5%;
    padding-right: 2%;
}
.nav_login_block {
    float: left;
}
.header-section-block .dropdown-menu >li {
    border-bottom: 1px solid #969696;
}
.top-user .dropdown-menu {
    width: 93%;
    padding-left: 5%;
    padding-right: 2%;
}
.top-user .dropdown-menu >li {
    border-bottom: 1px solid #969696;
}
#notify_button, #pm_button, #friends_button {
}
.search-bar {
    padding-left: 10px;
}
.icon_bubble {
    height: 18px;
    width: 22px;
    position: absolute;
    left: 5px;
    top: 0;
    color: #fff;
    background-color: #b94a48;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17), 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 9px;
    font-weight: bold;
}
.top-area #progress {
    min-width: 768px !important;
    position: relative !important;
    height: 37px !important;
    overflow: hidden;
}
#custom_dic {
    width: 35px !important;
}
#feature-section {
    display: none !important;
}
.index-block .thumbnail, .category-block .thumbnail {
    height: 220px !important;
}
.hidden-tablet {
    display: none
}
.page-section {
    margin-top: 0px !important;
}
}
@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .input-mini {
        width: 15px !important;
    }
    .navbar .nav.pull-right.search-bar {
       margin-right: 0px;
   }
   .hidden-phone {
      display: none;
  }
  span.player-section {
    width :56% !important;
}
.tab-pane > ul > li.span2 {
    width:30% !important;
}
#load-more-btn {
    margin: 0px 0 20px;
}
}
@media only screen and (max-width: 1192px) {
    #feature-section .pictures {
        display: none;
    }
}
@media (max-width: 640px) {
    iframe.fb_edge_widget_with_comment{
        /*margin-top: -20px !important;*/
    }
    #index_info_box2 > div {
        width:100% !important;
    }
    #index_info_dict.alert-info {
        width: 91% !important;
        line-height: 24px;
    }
    ul#news_ticker {
        margin-top: 75px;
        /*margin-top: 150px;*/
    }
    .navbar-fixed-top.shadow {
        background-color: rgba(0,0,0,1) !important;
    }
    .progress {
     margin-bottom: auto;
 }
 .navbar-inverse > .notice_bar {
    line-height: 24px;
}

#motivate > .text{
    top:25% !important;
}
    /*.joyride-tip-guide {
        display: none !important;
    }
    .joyride-modal-bg {
        display: none !important;
        }*/
        .logo-font{
            margin-left: -17px
        }
        .video_right_col > .well {
            margin-left: 20%;
        }
        .pref-block{
            width: auto !important;
        }
        li > .row-fluid {
            height: 121px;
            margin-top: 10px;
        }

        #new_trans {
            position: relative !important;
            width: 71% !important;
            left: 59px !important;
            top: -56px !important;
            margin-left: 5.638298%;
        }

        label.checkbox > .pull-left {
            display: none;
        }
        h5.yt-title{
            margin-bottom: 23px;
            margin-top: 20px;
        }
        h1 img {
            width: 97px;
        }
        #youTubeNav{
            position: relative;
            left: -7%;
            top: -20px;
            height: 100%;
            width: 114%;
        }
        #youtube-content > .content-item {
            width: auto !important;
        }
        #filter-section{
            padding-left: 17%;
            width: auto !important;
        }
        .youTubeSearchInputText {
            width: auto !important;
        }
        .youTubeNavSearch{
            width: auto !important;
        }
        .youTubeSearchInputText > .input-medium {
            width: 182px !important;
        }
        #yt-search{
            width: auto !important;
        }
        .channel-like{
            display: none !important;
        }
        #faq-9{
            word-break: break-all;
        }
        span.span5 > div > iframe {
            width:100%;
        }
        .sub_coupon b{
            font-size: 13.5px !important;
        }
        .form-signin div  ul  li{
            font-size: 13px !important;
        }
        ol.progtrckr[data-progtrckr-steps="9"] li {
            width: auto !important;
        }
        .img-polaroid {
            margin-left:0 !important;
        }
        .pointer textarea {
            width:94% !important;
        }
        .form-signin div{
            width:auto !important;
        }
        #personal_url{
            margin-bottom: 5px !important;
        }
        .section_tour > ul {
            width:auto !important;
        }
        .tourpic img {
            margin-left: auto !important;
        }
        .summary {
            padding: 30px 0px 50px !important;
        }
        .ttshowcase_rl_breed > .tt_quote_info-below{
            padding: 0 !important;
        }
        ul > li > p {
            padding-bottom: 20px !important;
        }
        ul > li > h4 {
            padding-top: 10px !important;
        }
        .summary > .well {
            width: 81% !important;
            height: 100% !important;
        }
        .summary > .well > iframe {
            width:100% !important;
            height: 40% !important;
        }
        #footer-bottom > .row > .span2 {
            float:left !important;
            width:49% !important;
            right: -24px;
        }
        #blog-posts{
            width:auto !important;
        }
        input.search-input{
            width: 60% !important;
        }
        .btn-search{
            position:relative !important;
            text-indent: 0 !important;
            left: -8px !important;
            top: 8px;
            height: auto !important;
            width:auto !important;
            float:right !important;
        }
        .close_dict {
            z-index: 1001 !important;
        }
        .page-section {
            margin-top: 10%;
        }
        .search {
            width:auto !important;
        }
        .sub-section{
            width:auto !important;
        }
        #hot_words{
            width:auto !important;
        }
        #footer_channel{
            display: none;
        }
        .about {
            padding-left: 32px !important;
        }
        h1{
            font-size: 22px !important;
        }
        h4{
            font-size: 12.5px !important;
            padding-left: 16px !important;
        }
        #fb-comment-title{
            margin-left: 17px;
        }
        #collect_title{
            margin-left: 17px;
        }
        #vol-title{
            margin-left: 17px;
        }
        span.book-right {
           min-height: 100%;
       }
       .top-user{
        padding-left: 14px;
    }
    td[class=print] > .more_function {
        display: none;
    }
    .parallax > .text {
        min-width: 308px !important;
        width:  308px;
        left: 54%;
        position: relative;
        top: 0;
        padding: 20px 35px 9px;
    }
    .tt_2cl {
        width:100%;
    }
    #footer-bottom{
        /*display:none !important;*/
    }
    .book-bar > .navbar-inner {
        width: auto !important;
    }
    .book-bar > .navbar-inner > .input-append {
        float: left !important;
    }


    /*.navbar-inner{
        width:103%;
        }*/

        #vocabulary  {
            font-size: 10px;
        }
        #print_words_link{
            display: none !important;
        }
        .caption-section > .pull-right,.caption-section > .pull-left {
            display: none;
        }
        .mode-section .nav.nav-tabs {
            margin-top: 20px;
        }
        #fullscreen_btn {
            display: none;
        }
        .mode-arrow-section{
            display: none;
        }
        .span10  {
            width: 295px !important;
        }
        .search-bar {
            position: relative;
            z-index: -1;
        }
        /*.index-block .left-section {
            margin-top:-16% !important;
            }*/
            .index-block > span.left-section {
                margin-top: -4% !important;
            }
            #iphone-alert {
                margin-bottom: auto;
                position: fixed;
                z-index: 1200;
                top: 16%;
                width: 84%;
            }
            .container{
                margin-top: auto;
            }

            .carousel-control.right{
                right: 0;
            }
            .carousel-control {
             left: 0;
         }
         .summary .proun_wrapper {
            width:auto;
        }
        #caption_detail {
            /*display: none;*/
        }
        .row-fluid .span9 {
            position: relative;
            top: -47PX;
            left: 80PX;
        }
        #container {
            padding-top: 0;
        }

        .vt-front-search-banner{
            display: none;
        }
        footer .company-info > .company-detail {
            width:auto;
            height: 2%;
            /*display: none;*/
        }

        .photo .readed-label img {
            width: 40px;
            float:right;
            height: auto;
        }
        .photo img {
            height: auto;
            width: 258px;
        }
        .mode-section {
            margin: 0 auto;
            width: 97% !important;
            height: auto !important;
        }
        .top-area #progress {
          min-width: 0 !important;
          position: relative !important;
          padding-top: 6px !important;
      }
      #video-container {
         /*padding-top: 22px;*/
     }
     #container {
        /*padding-top: 29%;*/
    }
    #winner-section {
        height: 95px;
        overflow: hidden;
    }
    #welcome_challenge {
        position: relative !important;
        margin: 0 !important;
        height: 651px;
    }
    #welcome_challenge_inner {
        margin: 0 !important;
        width: 100% !important;
    }
    img#welcome_img {
        width: 100% !important;
    }
    div.top-area div.content-area container div.tab-content iframe {
        height: 750px !important;
    }
    .navbar-fixed-top {
        margin-bottom: 0 !important;
    }
    #slides {
        display: none !important;
    }
    .red-badge {
        display: none !important;
    }
    .player-section {
        width: 100% !important;
    }
    .span1.larger-section, #backtoplayer {
        display: none !important;
    }
    .input-medium {
        width: 79px !important;
    }
    .thumbnails {
        margin-left: 0 !important;
    }
    .index-block {
        margin: 20px !important;
        /*margin-top: 110px !important;*/
    }
    .index-block .thumbnail, .category-block .thumbnail {
        height: auto !important;
    }
    #caption_block {
        width: 100% !important;
    }
    .answer-section {
        margin-top: 10px !important;
        width: 100% !important;
    }
    #myModal {
        margin-top: 0px !important;
        width: auto !important;
    }
    .g {
        height: 350px !important;
    }
    #welcome_challenge {
        position: relative !important;
        width: 100% !important;
        margin: 0;
    }
    div.tab-content div.tab-pane iframe {} span.bottom-left-section .fb_iframe_widget {
        margin: 0;
        width: 100%;
    }
    span.bottom-left-section .fb_iframe_widget span {
        margin: 0;
        width: 100%;
    }
    span.bottom-left-section .fb_iframe_widget span iframe {
        margin: 0;
        width: 100%;
    }
    #feature-section {
        display: none !important;
    }
    #promo-header {
        display: none !important;
    }
    #loginModal.modal {
        width: 300px;
        margin: 0 auto;
    }
    #loginModal .close {
        display: block;
    }
    .hidden-phone {
        display: none
    }
}