.reco_inquiry-wrapper {
  width: 820px;
  left: 40%; }

.reco_inquiry-panel-left {
  position: relative;
  margin: 42px 0 0;
  padding: 0 0 1px 130px;
  border: 0 solid #979797;
  border-width: 0 1px 0 0;
  text-align: center; }
  .reco_inquiry-panel-left label {
    font-size: 14px;
    font-weight: normal;
    color: #4e4e4e;
    margin: 0 0 40px;
    cursor: pointer;
    letter-spacing: 1px; }

.reco_inquiry-panel-right {
  margin: 0 80px 0 32px; }

.reco_inquiry-desc-main {
  font-size: 18px;
  font-weight: normal;
  line-height: 2.22;
  letter-spacing: 1.2px;
  text-align: center;
  color: #4e4e4e;
  margin: 23px; }

.reco_inquiry-desc-sub {
  font-size: 12px;
  font-weight: normal;
  line-height: 3.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #4e4e4e; }

.reco_inquiry-interests {
  text-align: center; }

.reco_inquiry-button, .reco_inquiry-button-sm, .reco_inquiry-button-wide {
  border-radius: 4px;
  border: solid 1px #63ccee;
  margin: 0 0 16px;
  background-color: transparent;
  background-image: none;
  color: #63ccee; }
  .reco_inquiry-button.active, .active.reco_inquiry-button-sm, .active.reco_inquiry-button-wide {
    color: #fff;
    background-color: #63ccee;
    text-shadow: none; }

.reco_inquiry-button-sm {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px; }

.reco_inquiry-button-wide {
  width: 160px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  background-color: #63ccee;
  letter-spacing: 4px;
  padding: 6px 0;
  margin: 31px 0 27px; }

/*# sourceMappingURL=reco_inquiry.css.map */
