#slides {
   position: relative;
   width: 85%;
   margin: 10px auto 20px;
   left: -30px;
   /*background: #efefef url(../img/background.png) repeat top center;*/
   background-color: #f5f7f8;
   border: 1px solid #e5e5e5;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#slides h1 {
   font-size: 2em;
}
/*
Slides container
Important:
Set the width of your slides container
If height not specified height will be set by the slide content
Set to display none, prevents content flash
 */

   .slides_container {
      width:100%;
      min-height:230px;
      overflow:hidden;
      position:relative;
      display:none;
   }

   /*
   Each slide
   Important:
   Set the width of your slides
   Offeset for the 20px of padding
   If height not specified height will be set by the slide content
   Set to display block
    */

   #slides .slide {
      padding:20px;
      min-height:190px;
      display:block;
   }

   /*
   Next/prev buttons
    */
   #slides .next:hover, #slides .prev:hover {
      opacity: .9;
   }
   #slides .next, #slides .prev {
      position:absolute;
      top:65px;
      width:24px;
      height:43px;
      display:block;
      z-index:101;
      opacity: .7;
      display: none;
   }
   #slides .next {
      right: -24px;
   }
   #slides .prev {
      left: -25px;
   }


   /*
   Pagination
    */

   .pagination {
      width:100px;
      position: absolute;
      bottom: 0;
      right: 0px;
      z-index: 99;
   }

   .pagination li {
      float:left;
      margin:0 1px;
      list-style:none;
   }

   .pagination li a {
      display:block;
      width:12px;
      height:0;
      padding-top:12px;
      background-image:url(../img/pagination.png);
      background-position:0 0;
      float:left;
      overflow:hidden;
   }

   .pagination li.current a {
      background-position:0 -12px;
   }
