@charset "UTF-8";
/*
 * cmn_style.css
 *
 *  version --- 3.4
 *  updated --- 2012/10/12
 *  function --- Zen-Coding Like Name for Fastest Coder
 */


/* !Base Fonts -------------------------------------------------------------- */
a {
	color: #005396;
}

.fwN { font-weight: normal;}
.fwB { font-weight: bold;}
.fzSS  { font-size:  72%;}/* base 14px -> 10px */
.fzS   { font-size:  86%;}/* base 14px -> 12px */
.fzM   { font-size: 100%;}
.fzL   { font-size: 115%;}/* base 14px -> 16px */
.fzLL  { font-size: 129%;}/* base 14px -> 18px */
.fzLLL { font-size: 143%;}/* base 14px -> 20px */
sup   { font-size: 72%; vertical-align: top;}
sub   { font-size: 72%; vertical-align: baseline;}

/* !Inline Align ------------------------------------------------------------ */
.taL { text-align: left   !important;}
.taC { text-align: center !important;}
.taR { text-align: right  !important;}
.vaT { vertical-align: top    !important;}
.vaM { vertical-align: middle !important;}
.vaB { vertical-align: bottom !important;}
.blockC { margin-right: auto; margin-left: auto; text-align: left;}
* html .blockC { margin-right: 0; margin-left: 0;}
.blockR { margin-left: auto; text-align: left;}
* html .blockR { margin-left: 0;}

/* !Width ------------------------------------------------------------------- */
/* 960px Grid */
.w960   { width: 960px;}
.w800	{ width: 800px;}
.w640	{ width: 640px;}
.w480	{ width: 480px;}
.w320	{ width: 320px;}
.w160	{ width: 160px;}

.wHalf  { width: 48%;}
.wTri   { width: 33%;}
.wQuart { width: 24%;}
.wFull  { width: 99.9%;}
.wMax   { width: 100%;}

.w03per { width: 3%  !important;}
.w05per { width: 5%  !important;}
.w10per { width: 10% !important;}
.w13per { width: 13% !important;}
.w15per { width: 15% !important;}
.w20per { width: 20% !important;}
.w25per { width: 25% !important;}
.w30per { width: 30% !important;}
.w35per { width: 35% !important;}
.w40per { width: 40% !important;}
.w45per { width: 45% !important;}
.w50per { width: 50% !important;}

.w340 { width: 340px !important;}

/* !Floats ------------------------------------------------------------------ */
.flL    { display: inline; float: left;}
.flR    { display: inline; float: right;}
.flImgL { display: inline; float: left; margin: 5px 20px 0 0;}
.flImgR { display: inline; float: right; margin: 5px 0 0 20px;}
.ftBox  { overflow: hidden; *zoom: 1;}
.sp_flNone { float: none; margin: 0; }

/* !Tools ------------------------------------------------------------------- */
.clear { clear: both;}
.block { display: block;}
.hide  { display: none;}
.bgN   { background: none !important;}
.tdU   { text-decoration: underline;}
.tdN   { text-decoration: none;}

/* !pcNone spNone ------------------------------------------------------------------- */
.pcNone { display: block !important;}
.spNone { display: none !important;}
.pcNoneImg { display: inline-block !important;}
.spNoneImg { display: none !important;}

/* !Margin ------------------------------------------------------------------ */
.mt00 { margin-top: 0   !important;}
.mt05 { margin-top: 5px !important;}
.mt10 { margin-top:10px !important;}
.mt12 { margin-top:12px !important;}
.mt15 { margin-top:15px !important;}
.mt20 { margin-top:20px !important;}
.mt25 { margin-top:25px !important;}
.mt30 { margin-top:30px !important;}
.mt35 { margin-top:35px !important;}
.mt40 { margin-top:40px !important;}
.mt45 { margin-top:45px !important;}
.mt50 { margin-top:50px !important;}
.mr00 { margin-right: 0   !important;}
.mr05 { margin-right: 5px !important;}
.mr10 { margin-right:10px !important;}
.mr12 { margin-right:12px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px !important;}
.mr25 { margin-right:25px !important;}
.mr30 { margin-right:30px !important;}
.mr35 { margin-right:35px !important;}
.mr40 { margin-right:40px !important;}
.mr45 { margin-right:45px !important;}
.mr50 { margin-right:50px !important;}
.mb00 { margin-bottom: 0   !important;}
.mb05 { margin-bottom: 5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb12 { margin-bottom:12px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20,
.mb30_20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;}
.mb30 { margin-bottom:30px !important;}
.mb35 { margin-bottom:35px !important;}
.mb40 { margin-bottom:40px !important;}
.mb45 { margin-bottom:45px !important;}
.mb50 { margin-bottom:50px !important;}
.ml00 { margin-left: 0   !important;}
.ml05 { margin-left: 5px !important;}
.ml10 { margin-left:10px !important;}
.ml12 { margin-left:12px !important;}
.ml15 { margin-left:15px !important;}
.ml20 { margin-left:20px !important;}
.ml25 { margin-left:25px !important;}
.ml30 { margin-left:30px !important;}
.ml35 { margin-left:35px !important;}
.ml40 { margin-left:40px !important;}
.ml45 { margin-left:45px !important;}
.ml50 { margin-left:50px !important;}

.sp_mt00 { margin-top: 0   !important;}
.sp_mt05 { margin-top: 5px !important;}
.sp_mt10 { margin-top:10px !important;}
.sp_mt12 { margin-top:12px !important;}
.sp_mt15 { margin-top:15px !important;}
.sp_mt20 { margin-top:20px !important;}
.sp_mt25 { margin-top:25px !important;}
.sp_mt30 { margin-top:30px !important;}
.sp_mt35 { margin-top:35px !important;}
.sp_mt40 { margin-top:40px !important;}
.sp_mt45 { margin-top:45px !important;}
.sp_mt50 { margin-top:50px !important;}
.sp_mr00 { margin-right: 0   !important;}
.sp_mr05 { margin-right: 5px !important;}
.sp_mr10 { margin-right:10px !important;}
.sp_mr12 { margin-right:12px !important;}
.sp_mr15 { margin-right:15px !important;}
.sp_mr20 { margin-right:20px !important;}
.sp_mr25 { margin-right:25px !important;}
.sp_mr30 { margin-right:30px !important;}
.sp_mr35 { margin-right:35px !important;}
.sp_mr40 { margin-right:40px !important;}
.sp_mr45 { margin-right:45px !important;}
.sp_mr50 { margin-right:50px !important;}
.sp_mb00 { margin-bottom: 0   !important;}
.sp_mb05 { margin-bottom: 5px !important;}
.sp_mb10 { margin-bottom:10px !important;}
.sp_mb12 { margin-bottom:12px !important;}
.sp_mb15 { margin-bottom:15px !important;}
.sp_mb20 { margin-bottom:20px !important;}
.sp_mb25 { margin-bottom:25px !important;}
.sp_mb30 { margin-bottom:30px !important;}
.sp_mb35 { margin-bottom:35px !important;}
.sp_mb40 { margin-bottom:40px !important;}
.sp_mb45 { margin-bottom:45px !important;}
.sp_mb50 { margin-bottom:50px !important;}
.sp_ml00 { margin-left: 0   !important;}
.sp_ml05 { margin-left: 5px !important;}
.sp_ml10 { margin-left:10px !important;}
.sp_ml12 { margin-left:12px !important;}
.sp_ml15 { margin-left:15px !important;}
.sp_ml20 { margin-left:20px !important;}
.sp_ml25 { margin-left:25px !important;}
.sp_ml30 { margin-left:30px !important;}
.sp_ml35 { margin-left:35px !important;}
.sp_ml40 { margin-left:40px !important;}
.sp_ml45 { margin-left:45px !important;}
.sp_ml50 { margin-left:50px !important;}

/* !Padding  ---------------------------------------------------------------- */
.pt00 { padding-top: 0   !important;}
.pt05 { padding-top: 5px !important;}
.pt10 { padding-top:10px !important;}
.pt12 { padding-top:12px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt25 { padding-top:25px !important;}
.pt30 { padding-top:30px !important;}
.pt35 { padding-top:35px !important;}
.pt40 { padding-top:40px !important;}
.pt45 { padding-top:45px !important;}
.pt50 { padding-top:50px !important;}
.pr00 { padding-right: 0   !important;}
.pr05 { padding-right: 5px !important;}
.pr10 { padding-right:10px !important;}
.pr12 { padding-right:12px !important;}
.pr15 { padding-right:15px !important;}
.pr20 { padding-right:20px !important;}
.pr25 { padding-right:25px !important;}
.pr30 { padding-right:30px !important;}
.pr35 { padding-right:35px !important;}
.pr40 { padding-right:40px !important;}
.pr45 { padding-right:45px !important;}
.pr50 { padding-right:50px !important;}
.pb00 { padding-bottom: 0   !important;}
.pb05 { padding-bottom: 5px !important;}
.pb10 { padding-bottom:10px !important;}
.pb12 { padding-bottom:12px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb25 { padding-bottom:25px !important;}
.pb30 { padding-bottom:30px !important;}
.pb35 { padding-bottom:35px !important;}
.pb40 { padding-bottom:40px !important;}
.pb45 { padding-bottom:45px !important;}
.pb50 { padding-bottom:50px !important;}
.pl00 { padding-left: 0   !important;}
.pl05 { padding-left: 5px !important;}
.pl10 { padding-left:10px !important;}
.pl12 { padding-left:12px !important;}
.pl15 { padding-left:15px !important;}
.pl20 { padding-left:20px !important;}
.pl25 { padding-left:25px !important;}
.pl30 { padding-left:30px !important;}
.pl35 { padding-left:35px !important;}
.pl40 { padding-left:40px !important;}
.pl45 { padding-left:45px !important;}
.pl50 { padding-left:50px !important;}

.sp_pt00 { padding-top: 0   !important;}
.sp_pt05 { padding-top: 5px !important;}
.sp_pt10 { padding-top:10px !important;}
.sp_pt12 { padding-top:12px !important;}
.sp_pt15 { padding-top:15px !important;}
.sp_pt20 { padding-top:20px !important;}
.sp_pt25 { padding-top:25px !important;}
.sp_pt30 { padding-top:30px !important;}
.sp_pt35 { padding-top:35px !important;}
.sp_pt40 { padding-top:40px !important;}
.sp_pt45 { padding-top:45px !important;}
.sp_pt50 { padding-top:50px !important;}
.sp_pr00 { padding-right: 0   !important;}
.sp_pr05 { padding-right: 5px !important;}
.sp_pr10 { padding-right:10px !important;}
.sp_pr12 { padding-right:12px !important;}
.sp_pr15 { padding-right:15px !important;}
.sp_pr20 { padding-right:20px !important;}
.sp_pr25 { padding-right:25px !important;}
.sp_pr30 { padding-right:30px !important;}
.sp_pr35 { padding-right:35px !important;}
.sp_pr40 { padding-right:40px !important;}
.sp_pr45 { padding-right:45px !important;}
.sp_pr50 { padding-right:50px !important;}
.sp_pb00 { padding-bottom: 0   !important;}
.sp_pb05 { padding-bottom: 5px !important;}
.sp_pb10 { padding-bottom:10px !important;}
.sp_pb12 { padding-bottom:12px !important;}
.sp_pb15 { padding-bottom:15px !important;}
.sp_pb20 { padding-bottom:20px !important;}
.sp_pb25 { padding-bottom:25px !important;}
.sp_pb30 { padding-bottom:30px !important;}
.sp_pb35 { padding-bottom:35px !important;}
.sp_pb40 { padding-bottom:40px !important;}
.sp_pb45 { padding-bottom:45px !important;}
.sp_pb50 { padding-bottom:50px !important;}
.sp_pl00 { padding-left: 0   !important;}
.sp_pl05 { padding-left: 5px !important;}
.sp_pl10 { padding-left:10px !important;}
.sp_pl12 { padding-left:12px !important;}
.sp_pl15 { padding-left:15px !important;}
.sp_pl20 { padding-left:20px !important;}
.sp_pl25 { padding-left:25px !important;}
.sp_pl30 { padding-left:30px !important;}
.sp_pl35 { padding-left:35px !important;}
.sp_pl40 { padding-left:40px !important;}
.sp_pl45 { padding-left:45px !important;}
.sp_pl50 { padding-left:50px !important;}

/* !Color  ---------------------------------------------------------------- */
.color01 {
	color: #666666;
}
.color02 {
	color: #052d5d;
}
.color03 {
	color: #c5001c;
}
