@charset "UTF-8";
/*
 * cmn_layout_sp.css
 *
 *  version --- 3.5
 *  updated --- 2013/6/17
 */


/* !HTML5 elements
---------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{ display: block;}

/* !Reseting
---------------------------------------------------------- */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	-webkit-text-size-adjust: none;
	line-height: 1.75;
	color: #333333;
	width: 100%;
	word-break: keep-all;
	word-wrap: break-word;
}
body.englishPage {
	font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Verdana, sans-serif;
}
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td
{ margin: 0; padding: 0;}
input, textarea
{ margin: 0; font-size: 100%;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ vertical-align: top;}
address, caption, cite, code, dfn, em, th, var
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6
{ font-size: 100%; font-weight: normal;}
q:after, q:before
{ content:'';}
a, input
{ /*outline: none;*/}
abbr, acronym
{ border: 0;}

/* !Reset Module
---------------------------------------------------------- */
.reset div, .reset dl, .reset dt, .reset dd, .reset ul, .reset ol, .reset li, .reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6,
.reset pre, .reset form, .reset fieldset, .reset p, .reset blockquote, .reset th, .reset td
{ margin: 0; padding: 0;}
.reset input, .reset textarea
{ margin: 0; font-size: 100%;}
.reset table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
.reset fieldset, .reset img, .reset abbr, .reset acronym
{ border: 0;}
.reset address, .reset caption, .reset cite, .reset code, .reset dfn, .reset em, .reset th, .reset var
{ font-style: normal; font-weight: normal;}
.reset ol, .reset ul
{ list-style: none;}
.reset caption, .reset th
{ text-align: left;}
.reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6
{ font-size: 100%; font-weight: normal;}
.reset a, .reset input
{ /* outline: none; */ }
.reset q:after, .reset q:before
{ content:'';}

/* !Clearfix
---------------------------------------------------------- */
.clearfix,
#contents,
#mainIn,
.section,
#headerLinks,
#headerSpBox01,
#headerSpBox01 #headerLang,
#lNaviBtnBox01,
#footerIn,
#ftBlockLinks
{
	display: block;
	min-height: 1%;
}
.clearfix:after,
#contents:after,
#mainIn:after,
.section:after,
#headerLinks:after,
#headerSpBox01:after,
#headerSpBox01 #headerLang:after,
#lNaviBtnBox01:after,
#footerIn:after,
#ftBlockLinks:after
{
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
/* !Layout
---------------------------------------------------------- */
html { overflow-y: scroll;}
body { text-align: center; background-color: #000;}

.pcOnly {
	display: none !important;
}

/* !header
---------------------------------------------------------- */
#header {
	width: 100%;
}
	#headerIn {
		margin: 0 auto;
		width: 100%;
		text-align: left;
	}
		#headerLogoWrap {
			position: relative;
			width: 100%;
			z-index: 999;		
			background: url(/common/img/bg_header.gif) left top repeat-x;
			text-align: center;
		}
			#headerLogoWrap #headerLogo {
				display: block;
				margin: 0 auto;
				padding: 10px 0;
			}
				#headerLogoWrap #headerLogo a {
					display: block;
					margin: 0 auto;
					width: 148px;
					height: 30px;
					text-indent: -9999px;
					background-image: url(/common/img/sp/logo_header01.gif);
					background-repeat: no-repeat;
					background-position: 0 0;
					background-size: 148px 30px;
					-moz-background-size: 148px 30px;
					-webkit-background-size: 148px 30px;
				}
			
			#headerLogoWrap #headerMenuBtn01{
				position: absolute;
				right: 0;
				top: 0;
				background-color: #052d5d;
				padding: 13px 14px 12px;
				width: 22px;
				height: 25px;
				overflow: hidden;
				z-index: 999;
			}
			#headerLogoWrap #headerMenuBtn01.open {
				background-color: #fff;
			}
				#headerLogoWrap #headerMenuBtn01 a {
					display: block;
					height: 25px;
					overflow: hidden;
					background-image: url(/common/img/sp/btn_header_menu01.gif);
					background-repeat: no-repeat;
					background-position: left top;
					background-size: 22px 50px;
					-moz-background-size: 22px 50px;
					-webkit-background-size: 22px 50px;
					text-indent: -9999px;
				}
				#headerLogoWrap #headerMenuBtn01.open a {
					background-position: left bottom;
				}
			#headerLogoWrap #headerMenuSec01 {
				display: none;
				position: absolute;
				right: -170px;
				top: 50px;
				width: 170px;
				height: auto;
				background-color: #fff;
				z-index: 999;
			}
				#headerLogoWrap #headerMenuSec01In {
					padding: 10px;
					background-color: #fff;
				}
					#headerLinks {
					}
						#headerLinks ul {
						}
							#headerLinks li {
								float: left;
							}
								#headerLinks li a {
									display: block;
									width: 75px;
									height: 45px;
									text-indent: -9999px;
									background-position: left top;
									background-repeat: no-repeat;
									background-size: 75px 45px;
									-moz-background-size: 75px 45px;
									-webkit-background-size: 75px 45px;
									
								}
								#headerLinks li.link01 a { background-image: url(/common/img/sp/headerLinks01.gif); }
								#headerLinks li.link02 a { background-image: url(/common/img/sp/headerLinks02.gif); }
								#headerLinks li.link03 a { background-image: url(/common/img/sp/headerLinks03.gif); }
								#headerLinks li.link04 a { background-image: url(/common/img/sp/headerLinks04.gif); }
								
								/* english */
								body.englishPage #headerLinks li.link01 a { background-image: url(/english/common/img/sp/headerLinks01.gif); }
								body.englishPage #headerLinks li.link02 a { background-image: url(/english/common/img/sp/headerLinks02.gif); }
								body.englishPage #headerLinks li.link03 a { background-image: url(/english/common/img/sp/headerLinks03.gif); }
								body.englishPage #headerLinks li.link04 a { background-image: url(/english/common/img/sp/headerLinks04.gif); }
							
					#gNavi {
						margin-top: 10px;
					}
						#gNavi li {
						}
						#gNavi li#gNav01 {
							display: none;	
						}
							#gNavi li a {
								display: block;
								width: 150px;
								height: 35px;
								text-indent: -9999px;
								background-position: left top;
								background-repeat: no-repeat;
								background-size: 150px 35px;
								-moz-background-size: 150px 35px;
								-webkit-background-size: 150px 35px;
							}
							#gNavi li#gNav02 a { background-image: url(/common/img/sp/gNav02.gif); }
							#gNavi li#gNav03 a { background-image: url(/common/img/sp/gNav03.gif); }
							#gNavi li#gNav04 a { background-image: url(/common/img/sp/gNav04.gif); }
							#gNavi li#gNav05 a { background-image: url(/common/img/sp/gNav05.gif); }
							#gNavi li#gNav06 a { background-image: url(/common/img/sp/gNav06.gif); }
							
							/* english */
							body.englishPage #gNavi li#gNav02 a { background-image: url(/english/common/img/sp/gNav02.gif); }
							body.englishPage #gNavi li#gNav03 a { background-image: url(/english/common/img/sp/gNav03.gif); }
							body.englishPage #gNavi li#gNav04 a { background-image: url(/english/common/img/sp/gNav04.gif); }
							body.englishPage #gNavi li#gNav05 a { background-image: url(/english/common/img/sp/gNav05.gif); }
							body.englishPage #gNavi li#gNav06 a { background-image: url(/english/common/img/sp/gNav06.gif); }
		
					#tNavi {
						margin-top: 10px;
					}
						#tNavi li {
						}
							#tNavi li a {
								display: block;
								width: 150px;
								height: 35px;
								text-indent: -9999px;
								background-size: 150px 35px;
								-moz-background-size: 150px 35px;
								-webkit-background-size: 150px 35px;
							}
							#tNavi li#tNav01 a { background-image: url(/common/img/sp/tNav01.gif); }
							#tNavi li#tNav02 a { background-image: url(/common/img/sp/tNav02.gif); }
							#tNavi li#tNav03 a { background-image: url(/common/img/sp/tNav03.gif); }
							#tNavi li#tNav04 a { background-image: url(/common/img/sp/tNav04.gif); }
							#tNavi li#tNav05 a { background-image: url(/common/img/sp/tNav05.gif); }
							#tNavi li#tNav06 a { background-image: url(/common/img/sp/tNav06.gif); }
							
							/* english */
							body.englishPage #tNavi li#tNav01 a { background-image: url(/english/common/img/sp/tNav01.gif); }
							body.englishPage #tNavi li#tNav02 a { background-image: url(/english/common/img/sp/tNav02.gif); }
							body.englishPage #tNavi li#tNav03 a { background-image: url(/english/common/img/sp/tNav03.gif); }
							body.englishPage #tNavi li#tNav04 a { background-image: url(/english/common/img/sp/tNav04.gif); }
							body.englishPage #tNavi li#tNav05 a { background-image: url(/english/common/img/sp/tNav05.gif); }

        #headerLogoPrint01 {
			display: none;
		}
		#headerFont {
			display: none;
		}
		#headerSpBox01 {
			position: relative;
			padding: 10px;
			background-color: #000;
		}
			#headerSpBox01 #headerLang {
				float: right;
			}
				#headerSpBox01 #headerLang li {
					display: block;
					float: left;
				}
					#headerSpBox01 #headerLang li a {
						display: block;
						text-indent: -9999px;
						width: 43px;
						height: 24px;
						overflow: hidden;
						background-repeat: no-repeat;
						background-position: left -24px;
						background-size: 43px 48px;
						-moz-background-size: 43px 48px;
						-webkit-background-size: 43px 48px;
						
					}
					#headerSpBox01 #headerLang li.ja a { background-image: url(/common/img/sp/btn_lang01.gif);	}
					#headerSpBox01 #headerLang li.en a { background-image: url(/common/img/sp/btn_lang02.gif);	}
						#headerSpBox01 #headerLang li.ja a.active,
						#headerSpBox01 #headerLang li.en a.active {
							background-position: left top;
						}
						#headerSpBox01 #headerLang li.ja a.none,
						#headerSpBox01 #headerLang li.en a.none {
							cursor: default;
						}
								
			#headerSpBox01 #headerSearch {
			}
				#headerSpBox01 #headerSearch .tit {
					display: none;
				}
				#headerSpBox01 #headerSearch form {
					float: left;
				}
					#headerSpBox01 #headerSearch form .txt {
						float: left;
						display: block;
						padding: 0 0 0 10px;
						width: 140px;
						background-image: url(/common/img/sp/bg_search01.gif);
						background-repeat: no-repeat;
						background-position: 0 0;
						background-size: 151px 24px;
						-moz-background-size: 151px 24px;
						-webkit-background-size: 151px 24px;
					}
						#headerSpBox01 #headerSearch form .txt input {
							padding: 2px;
							height: 18px;
							width: 134px;
							font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
							font-size: 14px;
							outline: none;
							-webkit-appearance: none;
						}
					#headerSpBox01 #headerSearch form .icon {
						float: left;
					}
						#headerSpBox01 #headerSearch form .icon input.spOnly {
							width: 54px;
							height: 24px;
							border-radius: 0;
							-webkit-appearance: none;
						}
	
/* !lNavi
---------------------------------------------------------- */
.lNavi_label {
	padding-top: 10px;
	height: 71px;
	overflow: hidden;
	position: relative;
}
	.lNavi_label a {
		display: block;
		position: relative;
		top: 0;
	}

#lNavi {
	width: 205px;
	margin: 0 0 45px 0;
	font-size: 86%;
}
	#lNavi ul {
	}
		#lNavi ul li {
		}
			#lNavi ul li a {
				display: block;
				background-image: url(/common/img/sp/bg_lnavi01.gif);
				background-repeat: repeat-y;
				background-position: left bottom;
				background-size: 205px 35px;
				-moz-background-size: 205px 35px;
				-webkit-background-size: 205px 35px;
				padding: 8px 9px 9px 9px;
				color: #fff;
				text-decoration: none;
			}
			#lNavi > ul > li > a {
				border-bottom: 1px solid #6b000f;
			}
			#lNavi ul li a.current {
				color: #000;
				background-color: #fff;
				background-image: url(/common/img/sp/bg_lnavi01_cr.gif);
				background-size: 22px 35px;
				-moz-background-size: 22px 35px;
				-webkit-background-size: 22px 35px;

			}
				#lNavi ul li a span {
					display: block;
					background-image: url(/common/img/sp/ico_lnavi01.png);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 5px 6px;
					-moz-background-size: 5px 6px;
					-webkit-background-size: 5px 6px;
					padding-left: 22px;
					*zoom: 1;
				}
			#lNavi ul li ul {
			}
				#lNavi ul li ul li {
				}
					#lNavi ul li ul li a {
						padding: 6px 10px 6px 11px;
						background-image: url(/common/img/sp/bg_lnavi02.gif);
						background-repeat: repeat-y;
						background-position: left bottom;
						background-size: 205px 30px;
						-moz-background-size: 205px 30px;
						-webkit-background-size: 205px 30px;
					}
					#lNavi ul li ul li a.current {
						color: #000;
						background-color: #fff;
						background-image: url(/common/img/sp/bg_lnavi02_cr.gif);
						background-size: 22px 30px;
						-moz-background-size: 22px 30px;
						-webkit-background-size: 22px 30px;
					}
						#lNavi ul li ul li a span {
							background-image: url(/common/img/sp/ico_lnavi02.png);
							background-repeat: no-repeat;
							background-position: left center;
							background-size: 5px 5px;
							-moz-background-size: 5px 5px;
							-webkit-background-size: 5px 5px;
							padding-left: 30px;
						}
				#lNavi ul li img.ico_lnavi01 {
					vertical-align: middle;
					margin-left: 5px;
				}
					#lNavi ul li ul li ul {
						padding-left: 25px;
						background-image: url(/common/img/sp/bg_lnavbtn01.gif);
						background-repeat: repeat;
						background-position: 0 0;
						background-size: 12px 12px;
						-moz-background-size: 12px 12px;
						-webkit-background-size: 12px 12px;
					}
						#lNavi ul li ul li ul li {
						}
							#lNavi ul li ul li ul li a {
								background-image: url(/common/img/sp/bg_lnavi03.gif);
								background-repeat: repeat-y;
								background-position: left bottom;
								background-size: 183px 30px;
								-moz-background-size: 183px 30px;
								-webkit-background-size: 183px 30px;
							}
							#lNavi ul li ul li ul li a.current {
								color: #000;
								background-color: #fff;
								background-image: url(/common/img/sp/bg_lnavi03_cr.gif);
								background-size: 22px 30px;
								-moz-background-size: 22px 30px;
								-webkit-background-size: 22px 30px;
							}
								#lNavi ul li ul li ul li a span {
									background-image: url(/common/img/sp/ico_lnavi03.png);
									background-repeat: no-repeat;
									background-position: left center;
									background-size: 5px 5px;
									-moz-background-size: 5px 5px;
									-webkit-background-size: 5px 5px;
								}
/*							#lNavi ul li ul li ul li ul {
								background: #084389;
							}
								#lNavi ul li ul li ul li ul li {
								}
									#lNavi ul li ul li ul li ul li a {
										background: url(/common/img/bg_lnavi04.gif) left bottom no-repeat;
									}
									#lNavi ul li ul li ul li ul li a.current {
										background: url(/common/img/bg_lnavi04.gif) -360px bottom no-repeat;
									}
										#lNavi ul li ul li ul li ul li a span {
											background-image: url(/common/img/sp/ico_lnavi04.png);
										}
										#lNavi ul li ul li ul li ul li a.current span {
											background-image: url(/common/img/sp/ico_lnavi05.png);
											background-repeat: no-repeat;
											background-position: left center;
											background-size: 8px 8px;
											-moz-background-size: 8px 8px;
											-webkit-background-size: 8px 8px;
										}*/
	#lNavi ul li.li_news01 span {
		display: block;
		background: url(/common/img/bg_lnavi05.gif) left bottom no-repeat;
		color: #fff;
		padding: 3px 13px;
		text-decoration: none;
		*zoom: 1;
	}
		#lNavi ul li.li_news01 ul li a {
			padding: 4px 10px 4px 8px;
		}
			#lNavi ul li.li_news01 ul li a span {
				padding: 0 10px 0 30px;
				background-image: url(/common/img/sp/ico_lnavi05.png);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 8px 8px;
				-moz-background-size: 8px 8px;
				-webkit-background-size: 8px 8px;
			}
			#lNavi ul li.li_news01 ul li a span.minus {
				background-image: url(/common/img/sp/ico_lnavi06.png);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 8px 8px;
				-moz-background-size: 8px 8px;
				-webkit-background-size: 8px 8px;
			}
				#lNavi ul li.li_news01 ul li ul li a {
					padding: 2px 10px;
				}
					#lNavi ul li.li_news01 ul li ul li a span {
						padding: 0 10px 0 25px;
						background-image: url(/common/img/sp/ico_lnavi03.png);
						background-repeat: no-repeat;
						background-position: left center;
						background-size: 5px 5px;
						-moz-background-size: 5px 5px;
						-webkit-background-size: 5px 5px;
					}
					#lNavi ul li.li_news01 ul li ul li a.current span {
						color: #000;
					}
	#lNavi ul li.li_news02 span {
		display: block;
		background: url(/common/img/bg_lnavi05.gif) left bottom no-repeat;
		color: #fff;
		padding: 3px 13px;
		text-decoration: none;
		*zoom: 1;
	}
		#lNavi ul li.li_news02 ul li a {
			padding: 4px 10px 4px 10px;
		}
			#lNavi ul li.li_news02 ul li a span {
				padding: 0 10px 0 26px;
				background-image: url(/common/img/sp/ico_lnavi02.png);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 5px 5px;
				-moz-background-size: 5px 5px;
				-webkit-background-size: 5px 5px;
			}
			#lNavi ul li.li_news02 ul li a.current span {
				color: #000;
			}
				#lNavi ul li.li_news02 ul li ul li a {
					padding: 2px 10px;
				}
					#lNavi ul li.li_news02 ul li ul li a span {
						padding: 0 10px 0 25px;
						background-image: url(/common/img/sp/ico_lnavi03.png);
						background-repeat: no-repeat;
						background-position: left center;
						background-size: 5px 5px;
						-moz-background-size: 5px 5px;
						-webkit-background-size: 5px 5px;
					}
					#lNavi ul li.li_news02 ul li ul li a.current span {
						color: #000;
					}

	#lNavi .newsNavi01 {}
		#lNavi .newsNavi01 li {}
		#lNavi .newsNavi01 li.title {
			padding: 4px 14px;
			color: #fff;
			background-image: url(/common/img/sp/bg_lnavi06.gif);
			background-repeat: repeat-y;
			background-position: left bottom;
			background-size: 205px 30px;
			-moz-background-size: 205px 30px;
			-webkit-background-size: 205px 30px;
		}
			#lNavi .newsNavi01 li a {
				padding: 4px 10px 4px 8px;
			}
				#lNavi .newsNavi01 li a span {
					padding: 0 10px 0 30px;
					background-image: url(/common/img/sp/ico_lnavi05.png);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 8px 8px;
					-moz-background-size: 8px 8px;
					-webkit-background-size: 8px 8px;
				}
				#lNavi .newsNavi01 li a span.minus {
					background-image: url(/common/img/sp/ico_lnavi06.png);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 8px 8px;
					-moz-background-size: 8px 8px;
					-webkit-background-size: 8px 8px;
				}
					#lNavi .newsNavi01 li ul li a {
						padding: 2px 10px;
					}
						#lNavi .newsNavi01 li ul li a span {
							padding: 0 10px 0 25px;
							background-image: url(/common/img/sp/ico_lnavi03.png);
							background-repeat: no-repeat;
							background-position: left center;
							background-size: 5px 5px;
							-moz-background-size: 5px 5px;
							-webkit-background-size: 5px 5px;
						}
	#lNavi .newsNavi02 {}
		#lNavi .newsNavi02 li {}
		#lNavi .newsNavi02 li.title {
			padding: 4px 14px;
			color: #fff;
			background-image: url(/common/img/sp/bg_lnavi06.gif);
			background-repeat: repeat-y;
			background-position: left bottom;
			background-size: 205px 30px;
			-moz-background-size: 205px 30px;
			-webkit-background-size: 205px 30px;
		}
			#lNavi .newsNavi02 li a {
				padding: 4px 10px;
			}
				#lNavi .newsNavi02 li a span {
					padding: 0 10px 0 26px;
				}
			#lNavi .newsNavi02 li a.btn_slide01 {
				padding: 4px 10px 4px 8px;
			}
				#lNavi .newsNavi02 li a.btn_slide01 span {
					padding: 0 10px 0 30px;
					background-image: url(/common/img/sp/ico_lnavi05.png);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 8px 8px;
					-moz-background-size: 8px 8px;
					-webkit-background-size: 8px 8px;
				}
				#lNavi .newsNavi02 li a.btn_slide01 span.minus {
					background-image: url(/common/img/sp/ico_lnavi06.png);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 8px 8px;
					-moz-background-size: 8px 8px;
					-webkit-background-size: 8px 8px;
				}
					#lNavi .newsNavi02 li ul li a {
						padding: 2px 10px;
					}
						#lNavi .newsNavi02 li ul li a span {
							padding: 0 10px 0 25px;
							background-image: url(/common/img/sp/ico_lnavi03.png);
							background-repeat: no-repeat;
							background-position: left center;
							background-size: 5px 5px;
							-moz-background-size: 5px 5px;
							-webkit-background-size: 5px 5px;
							}


/* !breadcrumb
---------------------------------------------------------- */
#breadcrumb {
	display: none;
}

/* !mainImg
---------------------------------------------------------- */
#mainImg {
	position: relative;
	height: 75px;
	width: 100%;
	min-width: 320px;
}
#mainImg.type05,
#mainImg.type05_l {
	background: #fff url(/common/img/sp/mainImg05.jpg) center top no-repeat;
	background-size: 320px 75px;
}
body.englishPage #mainImg.type05,
body.englishPage #mainImg.type05_l {
	background: #fff url(/english/common/img/sp/mainImg05.jpg) center top no-repeat;
	background-size: 320px 75px;
}

	#mainImg p { text-indent: -9999px;}

/* !wrapper
---------------------------------------------------------- */
#wrapper {
	width: 100%;
	overflow: hidden;
}

/* !contents
---------------------------------------------------------- */
#contents{
}
	#contentsIn {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		background-color: #000;
		text-align: left;
		overflow: hidden;
	}
	#contentsIn.menumove {
		padding-top: 48px;
	}
		#lNaviBtnBox01 {
			width: 100%;
			height: 48px;
			position: relative;
			top: 0;
			z-index: 997;
		}
		#lNaviBtnBox01.fixed {
			position: fixed;
		}
			#lNaviBtnBox01 .lNaviBtn01 {
				display: table;
				width: 100%;
				background-image: url(/common/img/sp/bg_lnavbtn01.gif);
				background-repeat: repeat;
				background-position: 0 0;
				background-size: 12px 12px;
				-moz-background-size: 12px 12px;
				-webkit-background-size: 12px 12px;
			}
				#lNaviBtnBox01 .lNaviBtn01 a {
					display: table-cell;
					vertical-align: middle;
					padding-left: 40px;
					height: 48px;
					background-image: url(/common/img/sp/ico_lnavbtn01.png);
					background-repeat: no-repeat;
					background-position: 15px  center;
					background-size: 16px 11px;
					-moz-background-size: 16px 11px;
					-webkit-background-size: 16px 11px;
					text-align: left;
				}
			#lNaviBtnBox01 .headerBack01 {
				display: table;
				width: 64px;
				position:absolute;
				right: 0;
				top: 0;
			}
				#lNaviBtnBox01 .headerBack01 a {
					display: block;
				}
	
		#main {
			padding: 10px 0;
			width: 100%;
			background-color: #052d5d;
			position: relative;
		}
			#main #mainIn {
				background-color: #fff;
				margin: 0 10px;
			}
	
		#sub {
			display: none;
			padding: 0 10px;
			width: 205px;
			background-image: url(/common/img/sp/bg_lnavbtn01.gif);
			background-repeat: repeat;
			background-position: 0 0;
			background-size: 12px 12px;
			-moz-background-size: 12px 12px;
			-webkit-background-size: 12px 12px;
			position: absolute;
			top: 94px;
			left: -230px;
			z-index: 997;
		}
		#sub.fixed {
			position: fixed;
			top: 0;
		}

/* !pageTop
---------------------------------------------------------- */
.pageTop {
	background-color: #052d5d;
	text-align: center;
}
	.pageTop a {
		display: block;
		width: 100%;
		height: 32px;
		text-indent: -9999px;
		background-image: url(/common/img/sp/btn_pagetop01.gif);
		background-repeat: no-repeat;
		background-position: center 12px;
		background-size: 56px 8px;
		-moz-background-size: 56px 8px;
		-webkit-background-size: 56px 8px;

	}
/* !footer
---------------------------------------------------------- */
#footer {
	width: 100%;
	background-color: #f3f3f3;
	text-align: left;
	position: relative;
	z-index: 1;
}
	#ftNavi {
		display: block;
	}
		#ftNavi li {
			display: inline-block;
			width: 50%;
			border-right: 1px solid #b4b4b4;
			border-bottom: 1px solid #b4b4b4;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			text-align: left;
			font-size: 83.3%;
			white-space: nowrap;
		}
			#ftNavi li span {
			}
				#ftNavi li a {
					display: block;
					padding: 9px 10px 7px 19px;
					background-image: url(/common/img/sp/ico_footer01.png);
					background-repeat: no-repeat;
					background-position: 9px center;
					background-size: 5px 5px;
					-moz-background-size: 5px 5px;
					-webkit-background-size: 5px 5px;
					color: #333;
					text-decoration: none;
				}
	#footerIn {
		margin: 0 auto;
		display: block;
		padding: 10px 10px 20px 10px;
	}
		#ftBlock {
		}
			#ftBlockID {
				position: relative;
			}
				#ftSocial {
					margin: 0 0 26px 0;
					display: block;
					min-height: 1%;
				}
				#ftSocial:after {
					display: block;
					content: ".";
					clear: both;
					height: 0;
					visibility: hidden
				}
					#ftSocial li {
						float: left;
						margin-left: 5px;
					}
					#ftSocial li.first {
						margin-left: 0;	
					}
				#footerlogo {
					margin: 0 0 12px 0;
					text-align: center;	
				}
				#copyright {
					font-size: 75%;
					color: #333;
					margin: 0 0 15px 0;
					text-align: center;
					white-space: nowrap;
				}
				#ftSocialIcon {
					position: absolute;
					right: 0;
					top: 0;
				}
					#ftSocialIcon li {
						float: left;
						margin-right: 5px;
					}
					#ftSocialIcon li.last {
						margin-right: 0;
					}
					#ftSocialIcon li a {
						display: block;
						width: 36px;
						height: 36px;
					}
						#ftSocialIcon li.first a {
							background-image: url(/common/img/sp/btn_fotter01.png);
							background-repeat: no-repeat;
							background-position: 0 0;
							background-size: 36px 36px;
							-moz-background-size: 36px 36px;
							-webkit-background-size: 36px 36px;
						}
						#ftSocialIcon li.last a {
							background-image: url(/common/img/sp/btn_fotter02.png);
							background-repeat: no-repeat;
							background-position: 0 0;
							background-size: 36px 36px;
							-moz-background-size: 36px 36px;
							-webkit-background-size: 36px 36px;
						}
							#ftSocialIcon li a img {
								display: none;	
							}
					
			#ftBlockLinks {
				display: none;
			}

/* !Section
---------------------------------------------------------- */
.sectionLv4 {
	border-left: 2px solid #cccccc;
	margin: 0 0 30px 0;
	padding: 0 0 0 15px;
}

.spSection01 {
	padding: 0 15px;
}
.spSection01.bgW01 { background: #fff;}


/* !Clearfix < add zyukensei 20130729>
---------------------------------------------------------- */
.h1_category01,
.columnWrap01,
.columnWrap02
{
	display: block;
	min-height: 1%;
}
.h1_category01:after,
.columnWrap01:after,
.columnWrap02:after
{
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .h1_category01,
* html .columnWrap01,
* html .columnWrap02
{
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
/* !h(n)eading
---------------------------------------------------------- */
.h1_category01 {
	padding: 0 0 10px;
	border-bottom: 1px solid #052d5d;
	position: relative;
}
.h1_category01.noborder {
	border-bottom: none;	
}
	.h1_category01 .ul_sns_head01 {
		display: none;
	}
	.h1_category01 .ul_rss_head01 {
		float: right;
		margin-right: 15px;
	}
		.h1_category01 .ul_rss_head01 li {
			line-height: 0;
			font-size: 0;
			padding-top: 14px;
		}
			.h1_category01 .ul_rss_head01 li a {
				display: block;
				width: 23px;
				height: 23px;
				text-indent: -9999px;
				background-image: url(/common/img/sp/ico_rss01.png);
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 23px 23px;
				-moz-background-size: 23px 23px;
				-webkit-background-size: 23px 23px;
			}

#overlay01 {
	width: 100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 998;
	background-color: rgba(0,0,0,0.8);
}
#overlay02 {
	width: 100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 996;
	background-color: rgba(0,0,0,0.8);
}

	
.updateDate01 {
	margin-bottom: 10px;
	padding-right: 15px;
	text-align: right;
}