@charset "UTF-8";
/*
 * cmn_layout_pc.css
 *
 *  version --- 3.5
 *  updated --- 2013/6/17
 */


/* !HTML5 elements
---------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{ display: block;}

/* !Reseting
---------------------------------------------------------- */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust: none;
	line-height: 1.86;
	color: #333333;
	background: url(/common/img/bg_body.gif) center top repeat-y;
	width: 100%;
	min-width: 1000px;
}
body.englishPage {
	font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Verdana, sans-serif;
}
/* ie7 */ *:first-child+html body { font-size: 88%; /* 75%; */}
/* ie6Below */ * html body { font-size: 88%; /* font-size: 75%; */}
/* ie8 */ html>/**/body { font-size /*\**/: 88%\9;}
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td
{ margin: 0; padding: 0;}
input, textarea
{ margin: 0; font-size: 100%;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ vertical-align: top;}
address, caption, cite, code, dfn, em, th, var
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6
{ font-size: 100%; font-weight: normal;}
q:after, q:before
{ content:'';}
a, input
{ outline: none; }
abbr, acronym
{ border: 0;}

/* !Reset Module
---------------------------------------------------------- */
.reset div, .reset dl, .reset dt, .reset dd, .reset ul, .reset ol, .reset li, .reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6,
.reset pre, .reset form, .reset fieldset, .reset p, .reset blockquote, .reset th, .reset td
{ margin: 0; padding: 0;}
.reset input, .reset textarea
{ margin: 0; font-size: 100%;}
.reset table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
.reset fieldset, .reset img, .reset abbr, .reset acronym
{ border: 0;}
.reset address, .reset caption, .reset cite, .reset code, .reset dfn, .reset em, .reset th, .reset var
{ font-style: normal; font-weight: normal;}
.reset ol, .reset ul
{ list-style: none;}
.reset caption, .reset th
{ text-align: left;}
.reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6
{ font-size: 100%; font-weight: normal;}
.reset a, .reset input
{ /* outline: none; */ }
.reset q:after, .reset q:before
{ content:'';}

/* !Clearfix
---------------------------------------------------------- */
.clearfix,
#contents,
#contentsIn,
.section,
#footerIn,
#ftBlockLinks,
.ul_category_list01 li .inner .detail01 dl
{
	display: block;
	min-height: 1%;
}
.clearfix:after,
#contents:after,
#contentsIn:after,
.section:after,
#footerIn:after,
#ftBlockLinks:after,
.ul_category_list01 li .inner .detail01 dl:after
{
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix,
* html #contents,
* html #contentsIn,
* html .section,
* html #footerIn,
* html #ftBlockLinks,
* html .ul_category_list01 li .inner .detail01 dl
{
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
/* !Layout
---------------------------------------------------------- */
html { overflow-y: scroll;}
body { text-align: center;}
@media print {
/*
	html,
	html body { *zoom: 0.65 !important;}
	
	#contents, x:-moz-broken {
		display:table;
		vertical-align: top;
		direction: rtl;
	}
		#contents #main, x:-moz-broken {
			display:table-cell;
			float: none;
			*float: right;
			direction: ltr;
			vertical-align: top;
			padding-left: 40px;
			
		}
		#contents #sub, x:-moz-broken {
			display:table-cell;
			float: none;
			*float: left;
			direction: ltr;
			vertical-align: top;			
		}
		
	#footer {
		margin: 0 !important;
		padding: 0!important;
	}
*/
}

.spOnly {
	display: none !important;	
}

/* !header
---------------------------------------------------------- */
#header {
	width: 100%;
	background: url(/common/img/bg_header.gif) left top repeat-x;
}
	#headerIn {
		position: relative;
		margin: 0 auto;
		width: 980px;
		height: 116px;
		padding: 0 10px;
		text-align: left;
	}
		#headerLogo {
			display: block;
			padding: 21px 0 0 0;
		}
        #headerLogoPrint01 {
			display: none;
		}
		#headerMenuBtn01{
			display: none;	
		}
		#headerLang {
			position: absolute;
			top: 9px;
			left: 335px;
		}
			#headerLang li {
				display: block;
				float: left;
			}
				#headerLang li a {
					display: block;
					text-indent: -9999px;
					height: 23px;
					overflow: hidden;
				}
				#headerLang li.ja a {
					background: url(/common/img/btn_lang01.gif) left top no-repeat;
					width: 51px;
				}
				#headerLang li.en a {
					background: url(/common/img/btn_lang02.gif) left top no-repeat;
					width: 62px;
				}
					#headerLang li.ja a:hover,
					#headerLang li.en a:hover {
						background-position: left -23px;
					}
					#headerLang li.ja a.active,
					#headerLang li.en a.active {
						background-position: left -46px;
					}
					#headerLang li.ja a.none,
					#headerLang li.en a.none {
						background-position: left -69px;
						cursor: default;
					}
					
				/* english */
				body.englishPage #headerLang li.ja a {
					background: url(/english/common/img/btn_lang01.gif) left top no-repeat;
				}
					body.englishPage #headerLang li.ja a:hover {
						background-position: left -23px;
					}
					body.englishPage #headerLang li.ja a.active {
						background-position: left -46px;
					}
					body.englishPage #headerLang li.ja a.none {
						background-position: left -69px;
						cursor: default;
					}
					
				
				
		#headerFont {
			position: absolute;
			top: 9px;
			left: 461px;
		}
			#headerFont .tit {
				float: left;
				margin: 0 6px 0 0;
			}
			#headerFont ul {
				float: left;
			}
				#headerFont ul li {
					float: left;
				}
					#headerFont ul li a {
						display: block;
						width: 36px;
						height: 23px;
						overflow: hidden;
						position: relative;
					}
					#headerFont ul li.fDefault a {
						background: url(/common/img/btn_font01.gif) no-repeat left -46px;
					}
					#headerFont ul li.fLarge a {
						background: url(/common/img/btn_font02.gif) no-repeat left -46px;
					}
					
					/* english */
					body.englishPage #headerFont ul li.fDefault a {
						background: url(/english/common/img/btn_font01.gif) no-repeat left bottom;
					}
					body.englishPage #headerFont ul li.fLarge a {
						background: url(/english/common/img/btn_font02.gif) no-repeat left bottom;
					}
				
						#headerFont ul li.fDefault a img {
							visibility: hidden;
						}
						#headerFont ul li a:hover img {
							position: relative;
							top: -23px;
						}
		#headerSearch {
			position: absolute;
			top: 41px;
			left: 335px;
		}
			#headerSearch .tit {
				float: left;
			}
			#headerSearch form {
				float: left;
			}
				#headerSearch form .txt {
					float: left;
					display: block;
					padding: 0 0 0 10px;
					background: url(/common/img/bg_search01.gif) left 50% no-repeat;
				}
					#headerSearch form .txt input {
						border: 1px solid #fff;
						padding: 2px;
						height: 17px;
						width: 165px;
						font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
						font-size: 14px;
					}
				#headerSearch form .icon {
					float: left;
				}
		#headerLinks {
			position: absolute;
			top: 0;
			left: 612px;
		}
			#headerLinks ul {
			}
				#headerLinks li {
					float: left;
				}
					#headerLinks li a {
						display: block;
						height: 76px;
						text-indent: -9999px;
					}
					#headerLinks li.link01 a { background: url(/common/img/headerLinks01.gif) left top no-repeat; }
					#headerLinks li.link02 a { background: url(/common/img/headerLinks02.gif) left top no-repeat; }
					#headerLinks li.link03 a { background: url(/common/img/headerLinks03.gif) left top no-repeat; }
					#headerLinks li.link04 a { background: url(/common/img/headerLinks04.gif) left top no-repeat; }
						#headerLinks li.link01 a:hover,
						#headerLinks li.link02 a:hover,
						#headerLinks li.link03 a:hover,
						#headerLinks li.link04 a:hover {
							background-position: left -76px;
						}
						#headerLinks li.link01 a,
						#headerLinks li.link03 a {
							width: 95px;
						}
						#headerLinks li.link02 a,
						#headerLinks li.link04 a {
							width: 94px;
						}
					
					/* english */
					body.englishPage #headerLinks li.link01 a { background: url(/english/common/img/headerLinks01.gif) left top no-repeat; }
					body.englishPage #headerLinks li.link02 a { background: url(/english/common/img/headerLinks02.gif) left top no-repeat; }
					body.englishPage #headerLinks li.link03 a { background: url(/english/common/img/headerLinks03.gif) left top no-repeat; }
					body.englishPage #headerLinks li.link04 a { background: url(/english/common/img/headerLinks04.gif) left top no-repeat; }
						body.englishPage #headerLinks li.link01 a:hover,
						body.englishPage #headerLinks li.link02 a:hover,
						body.englishPage #headerLinks li.link03 a:hover,
						body.englishPage #headerLinks li.link04 a:hover {
							background-position: left -76px;
						}
						body.englishPage #headerLinks li.link01 a,
						body.englishPage #headerLinks li.link03 a {
							width: 95px;
						}
						body.englishPage #headerLinks li.link02 a,
						body.englishPage #headerLinks li.link04 a {
							width: 94px;
						}
					
		#gNavi {
			position: absolute;
			top: 76px;
			left: 10px;
		}
			#gNavi li {
				float: left;
			}
				#gNavi li a {
					display: block;
					height: 40px;
					text-indent: -9999px;
				}
				#gNavi li#gNav01 a {
					background: url(/common/img/gNav01.gif) left top no-repeat;
					width: 40px;
				}
				#gNavi li#gNav02 a {
					background: url(/common/img/gNav02.gif) left top no-repeat;
					width: 188px;
				}
				#gNavi li#gNav03 a {
					background: url(/common/img/gNav03.gif) left top no-repeat;
					width: 188px;
				}
				#gNavi li#gNav04 a {
					background: url(/common/img/gNav04.gif) left top no-repeat;
					width: 187px;
				}
				#gNavi li#gNav05 a {
					background: url(/common/img/gNav05.gif) left top no-repeat;
					width: 188px;
				}
				#gNavi li#gNav06 a {
					background: url(/common/img/gNav06.gif) left top no-repeat;
					width: 189px;
				}
				#gNavi li#gNav01 a:hover,
				#gNavi li#gNav02 a:hover,
				#gNavi li#gNav03 a:hover,
				#gNavi li#gNav04 a:hover,
				#gNavi li#gNav05 a:hover,
				#gNavi li#gNav06 a:hover {
					background-position: left -40px;
				}
				#g01 #gNavi li#gNav01 a,
				#g02 #gNavi li#gNav02 a,
				#g03 #gNavi li#gNav03 a,
				#g04 #gNavi li#gNav04 a,
				#g05 #gNavi li#gNav05 a,
				#g06 #gNavi li#gNav06 a {
					background-position: left -80px;
				}
				
				/* english */
				body.englishPage #gNavi li#gNav01 a {
					background: url(/english/common/img/gNav01.gif) left top no-repeat;
				}
				body.englishPage #gNavi li#gNav02 a {
					background: url(/english/common/img/gNav02.gif) left top no-repeat;
					width: 190px;
				}
				body.englishPage #gNavi li#gNav03 a {
					background: url(/english/common/img/gNav03.gif) left top no-repeat;
					width: 187px;
				}
				body.englishPage #gNavi li#gNav04 a {
					background: url(/english/common/img/gNav04.gif) left top no-repeat;
					width: 186px;
				}
				body.englishPage #gNavi li#gNav05 a {
					background: url(/english/common/img/gNav05.gif) left top no-repeat;
				}
				body.englishPage #gNavi li#gNav06 a {
					background: url(/english/common/img/gNav06.gif) left top no-repeat;
				}
				body.englishPage #gNavi li#gNav01 a:hover,
				body.englishPage #gNavi li#gNav02 a:hover,
				body.englishPage #gNavi li#gNav03 a:hover,
				body.englishPage #gNavi li#gNav04 a:hover,
				body.englishPage #gNavi li#gNav05 a:hover,
				body.englishPage #gNavi li#gNav06 a:hover {
					background-position: left -40px;
				}
				body.englishPage #g01 #gNavi li#gNav01 a,
				body.englishPage #g02 #gNavi li#gNav02 a,
				body.englishPage #g03 #gNavi li#gNav03 a,
				body.englishPage #g04 #gNavi li#gNav04 a,
				body.englishPage #g05 #gNavi li#gNav05 a,
				body.englishPage #g06 #gNavi li#gNav06 a {
					background-position: left -80px;
				}
				
		#tNavi {
			display: none;
		}

/* !lNavi
---------------------------------------------------------- */
.lNavi_label {
	height: 80px;
	overflow: hidden;
	position: relative;
}
	.lNavi_label a {
		display: block;
		height: 240px;
		position: relative;
		top: 0;
	}
	.lNavi_label a:hover {
		top: -80px;
	}
	.lNavi_label a.current {
		top: -160px;
	}

#lNavi {
	width: 230px;
	margin: 0 0 45px 0;
	font-size: 86%;
}
	#lNavi ul {
	}
		#lNavi ul li {
		}
			#lNavi ul li a {
				display: block;
				background: url(/common/img/bg_lnavi01.gif) left bottom no-repeat;
				padding: 11px 11px 11px 11px;
				color: #fff;
				text-decoration: none;
				*zoom: 1;
			}
			#lNavi ul li a:hover {
				background: url(/common/img/bg_lnavi01.gif) -230px bottom no-repeat;
			}
			#lNavi ul li a.current {
				color: #000;
				background: url(/common/img/bg_lnavi01.gif) -460px bottom no-repeat;
			}
				#lNavi ul li a span {
					display: block;
					background: url(/common/img/ico_lnavi01.png) left center no-repeat; 
					padding-left: 25px;
					*zoom: 1;
				}
			#lNavi ul li ul {
			}
				#lNavi ul li ul li {
				}
					#lNavi ul li ul li a {
						padding: 6px 10px 6px 11px;
						background: url(/common/img/bg_lnavi02.gif) left bottom no-repeat;
					}
					#lNavi ul li ul li a:hover {
						background: url(/common/img/bg_lnavi02.gif) -230px bottom no-repeat;
					}
					#lNavi ul li ul li a.current {
						color: #000;
						background: url(/common/img/bg_lnavi02.gif) -460px bottom no-repeat;
					}
						#lNavi ul li ul li a span {
							background: url(/common/img/ico_lnavi02.png) left center no-repeat;
						}
				#lNavi ul li img.ico_lnavi01 {
					vertical-align: middle;
					margin-left: 5px;
				}
					#lNavi ul li ul li ul {
						padding-left: 25px;
						background: #07346d;
					}
						#lNavi ul li ul li ul li {
						}
							#lNavi ul li ul li ul li a {
								background: url(/common/img/bg_lnavi03.gif) left bottom no-repeat;
							}
							#lNavi ul li ul li ul li a:hover {
								background: url(/common/img/bg_lnavi03.gif) -205px bottom no-repeat;
							}
							#lNavi ul li ul li ul li a.current {
								color: #000;
								background: url(/common/img/bg_lnavi03.gif) -410px bottom no-repeat;
							}
								#lNavi ul li ul li ul li a span {
									background: url(/common/img/ico_lnavi03.png) left center no-repeat;
								}
							#lNavi ul li ul li ul li ul {
								background: #084389;
							}
								#lNavi ul li ul li ul li ul li {
								}
									#lNavi ul li ul li ul li ul li a {
										background: url(/common/img/bg_lnavi04.gif) left bottom no-repeat;
									}
									#lNavi ul li ul li ul li ul li a:hover {
										background: url(/common/img/bg_lnavi04.gif) -180px bottom no-repeat;
									}
									#lNavi ul li ul li ul li ul li a.current {
										background: url(/common/img/bg_lnavi04.gif) -360px bottom no-repeat;
									}
										#lNavi ul li ul li ul li ul li a span {
											background: url(/common/img/ico_lnavi04.png) left center no-repeat;
										}
										#lNavi ul li ul li ul li ul li a.current span {
											background: url(/common/img/ico_lnavi05.png) left center no-repeat;
										}
	#lNavi ul li.li_news01 span {
		display: block;
		background: url(/common/img/bg_lnavi05.gif) left bottom no-repeat;
		color: #fff;
		padding: 3px 13px;
		text-decoration: none;
		*zoom: 1;
	}
		#lNavi ul li.li_news01 ul li a {
			padding: 4px 10px 4px 8px;
		}
			#lNavi ul li.li_news01 ul li a span {
				padding: 0 10px 0 30px;
				background: url(/common/img/ico_lnavi05.gif) left center no-repeat;
			}
			#lNavi ul li.li_news01 ul li a span.minus {
				background: url(/common/img/ico_lnavi06.gif) left center no-repeat;
			}
				#lNavi ul li.li_news01 ul li ul li a {
					padding: 2px 10px;
				}
					#lNavi ul li.li_news01 ul li ul li a span {
						padding: 0 10px 0 25px;
						background: url(/common/img/ico_lnavi03.png) left center no-repeat;
					}
					#lNavi ul li.li_news01 ul li ul li a.current span {
						color: #000;
					}
	#lNavi ul li.li_news02 span {
		display: block;
		background: url(/common/img/bg_lnavi05.gif) left bottom no-repeat;
		color: #fff;
		padding: 3px 13px;
		text-decoration: none;
		*zoom: 1;
	}
		#lNavi ul li.li_news02 ul li a {
			padding: 4px 10px 4px 10px;
		}
			#lNavi ul li.li_news02 ul li a span {
				padding: 0 10px 0 26px;
				background: url(/common/img/ico_lnavi02.png) left center no-repeat;
			}
			#lNavi ul li.li_news02 ul li a.current span {
				color: #000;
			}
				#lNavi ul li.li_news02 ul li ul li a {
					padding: 2px 10px;
				}
					#lNavi ul li.li_news02 ul li ul li a span {
						padding: 0 10px 0 25px;
						background: url(/common/img/ico_lnavi03.png) left center no-repeat;
					}
					#lNavi ul li.li_news02 ul li ul li a.current span {
						color: #000;
					}

	#lNavi .newsNavi01 {}
		#lNavi .newsNavi01 li {}
		#lNavi .newsNavi01 li.title {
			padding: 4px 14px;
			color: #fff;
			background: url(/common/img/bg_lnavi06.gif) left bottom no-repeat;
		}
		#lNavi .newsNavi01 li.title.press {
			background: url(/common/img/bg_lnavi05.gif) left bottom no-repeat;
		}
			#lNavi .newsNavi01 li a {
				padding: 4px 10px 4px 8px;
			}
				#lNavi .newsNavi01 li a span {
					padding: 0 10px 0 30px;
					background: url(/common/img/ico_lnavi05.gif) left center no-repeat;
				}
				#lNavi .newsNavi01 li a span.minus {
					background: url(/common/img/ico_lnavi06.gif) left center no-repeat;
				}
					#lNavi .newsNavi01 li ul li a {
						padding: 2px 10px;
					}
						#lNavi .newsNavi01 li ul li a span {
							padding: 0 10px 0 25px;
							background: url(/common/img/ico_lnavi03.png) left center no-repeat;
						}
	#lNavi .newsNavi02 {}
		#lNavi .newsNavi02 li {}
		#lNavi .newsNavi02 li.title {
			padding: 4px 14px;
			color: #fff;
			background: url(/common/img/bg_lnavi06.gif) left bottom no-repeat;
		}
			#lNavi .newsNavi02 li a {
				padding: 4px 10px;
			}
				#lNavi .newsNavi02 li a span {
					padding: 0 10px 0 26px;
				}
			#lNavi .newsNavi02 li a.btn_slide01 {
				padding: 4px 10px 4px 8px;
			}
				#lNavi .newsNavi02 li a.btn_slide01 span {
					padding: 0 10px 0 30px;
					background: url(/common/img/ico_lnavi05.gif) left center no-repeat;
				}
				#lNavi .newsNavi02 li a.btn_slide01 span.minus {
					background: url(/common/img/ico_lnavi06.gif) left center no-repeat;
				}
					#lNavi .newsNavi02 li ul li a {
						padding: 2px 10px;
					}
						#lNavi .newsNavi02 li ul li a span {
							padding: 0 10px 0 25px;
							background: url(/common/img/ico_lnavi03.png) left center no-repeat;
						}

/* !breadcrumb
---------------------------------------------------------- */
#breadcrumb {
	width: 100%;
	background-color: #052d5d;
	text-align: left;
}
	#breadcrumb ul {
		margin: 0 auto;
		display: block;
		width: 980px;
		padding: 5px 10px 7px 10px;
	}
		#breadcrumb ul li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			white-space: nowrap;
			color: #fff;
			font-size: 86%;
			background: url(/common/img/ico_breadcrumb.png) left 50% no-repeat;
			padding: 0 0 0 25px;
			margin: 0 10px 0 0;
		}
		#breadcrumb ul li.home {
			background: none;
			padding: 0 0 0 0;
		}
			#breadcrumb li a {
				color: #fff;
			}

/* !mainImg
---------------------------------------------------------- */
#mainImg {
	position: relative;
	height: 120px;
	width: 100%;
	min-width: 1000px;
}
#mainImg.type06,
#mainImg.type07,
#mainImg.type08,
#mainImg.type09,
#mainImg.type10,
#mainImg.type11,
#mainImg.type12,
#mainImg.type13,
#mainImg.type14 {
	height: 150px;
}
#mainImg.type01 { background: url(/common/img/mainImg01.jpg) center top no-repeat; }
#mainImg.type02 { background: url(/common/img/mainImg02.jpg) center top no-repeat; }
#mainImg.type03 { background: url(/common/img/mainImg03.jpg) center top no-repeat; }
#mainImg.type04 { background: url(/common/img/mainImg04.jpg) center top no-repeat; }
#mainImg.type05 { background: url(/common/img/mainImg05.jpg) center top no-repeat; }
#mainImg.type06 { background: url(/common/img/mainImg06.jpg) center top no-repeat; }
#mainImg.type07 { background: url(/common/img/mainImg07.jpg) center top no-repeat; }
#mainImg.type08 { background: url(/common/img/mainImg08.jpg) center top no-repeat; }
#mainImg.type09 { background: url(/common/img/mainImg09.jpg) center top no-repeat; }
#mainImg.type10 { background: url(/common/img/mainImg10.jpg) center top no-repeat; }
#mainImg.type11 { background: url(/common/img/mainImg11.jpg) center top no-repeat; }
#mainImg.type12 { background: url(/common/img/mainImg12.jpg) center top no-repeat; }
#mainImg.type13 { background: url(/common/img/mainImg13.jpg) center top no-repeat; }
#mainImg.type14 { background: url(/common/img/mainImg14.jpg) center top no-repeat; }
#mainImg.type01_l,
#mainImg.type02_l,
#mainImg.type03_l,
#mainImg.type04_l,
#mainImg.type05_l {
	height: 220px;
}
#mainImg.type01_l { background: url(/common/img/mainImg01_l.jpg) center top no-repeat; }
#mainImg.type02_l { background: url(/common/img/mainImg02_l.jpg) center top no-repeat; }
#mainImg.type03_l { background: url(/common/img/mainImg03_l.jpg) center top no-repeat; }
#mainImg.type04_l { background: url(/common/img/mainImg04_l.jpg) center top no-repeat; }
#mainImg.type05_l { background: url(/common/img/mainImg05_l.jpg) center top no-repeat; }
#mainImg.type06_l,
#mainImg.type07_l,
#mainImg.type08_l,
#mainImg.type09_l,
#mainImg.type10_l {
	height: 330px;
}
#mainImg.type06_l { background: url(/common/img/mainImg06_l.jpg) center top no-repeat; }
#mainImg.type07_l { background: url(/common/img/mainImg07_l.jpg) center top no-repeat; }
#mainImg.type08_l { background: url(/common/img/mainImg08_l.jpg) center top no-repeat; }
#mainImg.type09_l { background: url(/common/img/mainImg09_l.jpg) center top no-repeat; }
#mainImg.type10_l { background: url(/common/img/mainImg10_l.jpg) center top no-repeat; }

/* english */
body.englishPage #mainImg.type01 { background: url(/english/common/img/mainImg01.jpg) center top no-repeat; }
body.englishPage #mainImg.type02 { background: url(/english/common/img/mainImg02.jpg) center top no-repeat; }
body.englishPage #mainImg.type03 { background: url(/english/common/img/mainImg03.jpg) center top no-repeat; }
body.englishPage #mainImg.type04 { background: url(/english/common/img/mainImg04.jpg) center top no-repeat; }
body.englishPage #mainImg.type05 { background: url(/english/common/img/mainImg05.jpg) center top no-repeat; }
body.englishPage #mainImg.type06 { background: url(/english/common/img/mainImg06.jpg) center top no-repeat; }
body.englishPage #mainImg.type07 { background: url(/english/common/img/mainImg07.jpg) center top no-repeat; }
body.englishPage #mainImg.type08 { background: url(/english/common/img/mainImg08.jpg) center top no-repeat; }
body.englishPage #mainImg.type09 { background: url(/english/common/img/mainImg09.jpg) center top no-repeat; }
body.englishPage #mainImg.type10 { background: url(/english/common/img/mainImg10.jpg) center top no-repeat; }
body.englishPage #mainImg.type11 { background: url(/english/common/img/mainImg11.jpg) center top no-repeat; }
body.englishPage #mainImg.type12 { background: url(/english/common/img/mainImg12.jpg) center top no-repeat; }
body.englishPage #mainImg.type13 { background: url(/english/common/img/mainImg13.jpg) center top no-repeat; }
body.englishPage #mainImg.type14 { background: url(/english/common/img/mainImg14.jpg) center top no-repeat; }
body.englishPage #mainImg.type01_l { background: url(/english/common/img/mainImg01_l.jpg) center top no-repeat; }
body.englishPage #mainImg.type02_l { background: url(/english/common/img/mainImg02_l.jpg) center top no-repeat; }
body.englishPage #mainImg.type03_l { background: url(/english/common/img/mainImg03_l.jpg) center top no-repeat; }
body.englishPage #mainImg.type04_l { background: url(/english/common/img/mainImg04_l.jpg) center top no-repeat; }
body.englishPage #mainImg.type05_l { background: url(/english/common/img/mainImg05_l.jpg) center top no-repeat; }
body.englishPage #mainImg.type06_l { background: url(/english/common/img/mainImg06_l.jpg) center top no-repeat; }
body.englishPage #mainImg.type07_l { background: url(/english/common/img/mainImg07_l.jpg) center top no-repeat; }
body.englishPage #mainImg.type08_l { background: url(/english/common/img/mainImg08_l.jpg) center top no-repeat; }
body.englishPage #mainImg.type09_l { background: url(/english/common/img/mainImg09_l.jpg) center top no-repeat; }
body.englishPage #mainImg.type10_l { background: url(/english/common/img/mainImg10_l.jpg) center top no-repeat; }

	#mainImg p {
		text-indent: -9999px;
	}

/* !wrapper
---------------------------------------------------------- */
#wrapper {
}

/* !contents
---------------------------------------------------------- */
#contents {
}
	#contentsIn {
		margin: 0 auto;
		width: 980px;
		padding: 0 10px;
		background: url("/common/img/bg_contents.gif") repeat-y scroll left top rgba(0, 0, 0, 0);
		text-align: left;
		min-height: 535px;
	}
		#main {
			float: right;
			width: 710px;
			padding: 25px 0 0 0;
		}
		#sub {
			float: left;
			width: 230px;
		}
/* !pageTop
---------------------------------------------------------- */
.pageTop {
	display: none;
	position: fixed;
	right: 0;
	bottom: 30px;
	z-index: 2000;
}
/* !footer
---------------------------------------------------------- */
#footer {
	width: 100%;
	text-align: left;
	background: url(/common/img/bg_footer.gif) left top repeat-x #052d5d;
	position: relative;
	z-index: 1000;
}
@media print {
#footer {
	overflow: hidden;
}
}
	#ftNavi {
		margin: 0 auto;
		display: block;
		width: 980px;
		padding: 7px 10px 7px 10px;
		background: url(/common/img/bg_ftNavi.gif) 10px 50% no-repeat;
	}
		#ftNavi li {
			text-align: center;
			display: inline-block;
			*display: inline;
			*zoom: 1;
			white-space: nowrap;
			width: 197px;
			background: url(/common/img/bg_ftNavi.gif) right 50% no-repeat;
		}
		#ftNavi li.last {
			width: 192px;
		}
			#ftNavi li span {
				color: #fff;
				font-size: 12px;
				background: url(/common/img/ico_footer01.png) left 0.3em no-repeat;
				padding: 0 0 0 10px;
			}
				#ftNavi li a {
					color: #333;
					text-decoration: none;
				}
				#ftNavi li a:hover {
					text-decoration: underline;
				}
	#footerIn {
		margin: 0 auto;
		display: block;
		width: 980px;
		padding: 23px 10px 30px 10px;
	}
		#ftBlock {
		}
			#ftBlockID {
				width: 570px;
				float: left;
			}
				#ftSocial {
					margin: 0 0 5px 0;
				}
					#ftSocial li {
						display: inline-block;
						*display: inline;
						*zoom: 1;
					}
					#ftSocial li.first {
						*width: 120px;
					}
				#footerlogo {
					display: none;	
				}
				#copyright {
					font-size: 12px;
					color: #fff;
					margin: 0 0 15px 0;
				}
				#ftSocialIcon {
				}
					#ftSocialIcon li {
						float: left;
						margin: 0 10px 0 0;
					}
			#ftBlockLinks {
				float: right;
				background: url(/common/img/bg_ftBlockLinks.gif) left top repeat-y;
			}
				#ftBlockLinks ul {
					width: 175px;
					float: left;
					padding: 0 0 0 20px;
				}
					#ftBlockLinks ul li {
						line-height: 1.4;
						font-size: 10px;
						background: url(/common/img/ico_footer03.gif) 3px 0.6em no-repeat;
						padding: 0 0 0 14px;
						margin: 0 0 10px 0;
					}
					#ftBlockLinks ul li.window {
						background: url(/common/img/ico_footer02.gif) left 0.5em no-repeat;
					}
					#ftBlockLinks ul li.last {
						margin: 0 0 3px 0;
					}
						#ftBlockLinks ul li a {
							color: #fff;
							text-decoration: none;
						}
						#ftBlockLinks ul li a:hover {
							text-decoration: underline;
							padding-bottom: 1px;
						}

/* !Section
---------------------------------------------------------- */
.section {
	margin: 0 0 30px 0;
}
.sectionLv4 {
	border-left: 2px solid #cccccc;
	margin: 0 0 30px 0;
	padding: 0 0 0 15px;
}


/* !Clearfix < add zyukensei 20130729>
---------------------------------------------------------- */
.h1_category01,
.columnWrap01,
.columnWrap02
{
	display: block;
	min-height: 1%;
}
.h1_category01:after,
.columnWrap01:after,
.columnWrap02:after
{
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .h1_category01,
* html .columnWrap01,
* html .columnWrap02
{
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
/* !h(n)eading
---------------------------------------------------------- */
.h1_category01 {
	background: url(/common/img/bg_h1.gif) left bottom no-repeat;
	padding-bottom: 18px;
	margin-bottom: 25px;
	position: relative;
}
	.h1_category01 h1 {
		color: #927500;
		font-size: 215%;
		background: none;
		font-weight: bold;
		line-height: 1.2;
		margin: 0;
		padding: 0 150px 0 0;
	}
	.h1_category01 h1 {
		font-size: 215%;
	}
	.h1_category01 .ul_sns_head01 {
		position: absolute;
		right: 0;
		top: 0;
	}
		.h1_category01 .ul_sns_head01 li {
			margin-bottom: 6px;
			line-height: 0;
		}
		.h1_category01 .ul_sns_head01 li.last {
			margin-bottom: 0;
		}
			.h1_category01 .ul_sns_head01 li img {
				vertical-align: top;
			}			

	.h1_category01 .ul_rss_head01 {
		float: right;
		margin-left: 10px;
	}
		.h1_category01 .ul_rss_head01 li {
			line-height: 0;
			font-size: 0;
			padding-top: 14px;
			display: inline-block;
			*display: inline;
			*zoom: 1;
			margin: 0 0 0 18px;
		}			

/* !column
---------------------------------------------------------- */
.columnWrap01 {
	background: url(/common/img/bg_column_line01.gif) left top repeat-y;
	margin-bottom: 30px;
	*zoom: 1;
}
	.columnWrap01 .columnMain01 {
		float: left;
		width: 450px;
	}
		.columnWrap01 .columnMain01 h2 {
			padding: 7px 15px 7px 20px;
		}
	.columnWrap01 .columnSub01 {
		float: right;
		width: 220px;
	}
		.columnWrap01 .columnSub01 h4 {
			color: #186b91;
		}
.columnWrap02 {
	margin-bottom: 30px;
}
.columnWrap02.last {
	margin-bottom: 0;
}
	.columnWrap02 .columnMain02 {
		float: left;
		width: 440px;
	}
	.columnWrap02 .columnSub02 {
		float: right;
		width: 240px;
	}
		.columnWrap02 .columnSub02 .ulColumnSub01 {
		}
			.columnWrap02 .columnSub02 .ulColumnSub01 li {
				margin: 0 auto 15px;
			}
			.columnWrap02 .columnSub02 .ulColumnSub01 li.last {
				margin: 0 auto;
			}
				.columnWrap02 .columnSub02 .ulColumnSub01 li .caption {
					color: #666;
					line-height: 1.5;
				}
#lNaviBtnBox01 {
	display: none;	
}
