@charset "UTF-8";
/*
 * print.css
 *
 *  version --- 1.0
 *  updated --- 2015/4/16
 */


#headerLang,
#headerFont,
#headerSearch,
#headerLinks,
#gNavi,
#mainImg,
#sub,
#ftNavi,
#ftBlockLinks,
#ftSocial,
#ftSocialIcon,
#ftSocial,
.pageTop {
	display: none !important;
}

/* body */
html,										
html body { *zoom: 0.65 !important;}
body {
	background: none !important;
	min-width: inherit !important;
}

/* header */
#header {
	background: none !important;
}
	#headerIn {
		width: auto !important;
		height: 80px !important;
	}
    #headerLogo {
    	display: none !important;
    }
    #headerLogoPrint01 {
    	display: block !important;
    }
/* wrapper */
#wrapper {
	background: none !important;
	width: auto !important;
}
	#contents {
		width: auto !important;
		padding: 0 !important;
		min-height: inherit !important;
	}
		#contentsIn {
			background: none;	
		}
			#main {
				float: none !important;
				margin: 0 auto !important;
			}
        
#breadcrumb {
    background-color: #fff !important;
}
	#breadcrumb ul li {
		color: #000 !important;
		background: none !important;
		padding: 0 0 0 5px !important;
		margin: 0 0 0 0 !important;
	}
    
    /* IE7 */
    *:first-child+html #breadcrumb ul li {
		background: url("/common/img/ico_breadcrumb.png") no-repeat scroll left 50% transparent !important;
		padding: 0 0 0 25px !important;
		margin: 0 10px 0 0 !important;
    }
    *:first-child+html #breadcrumb ul li.home {
		background: none !important;
		padding-left: 0 !important;
    }
    
	#breadcrumb ul li a {
		color: #000 !important;
	}
	#breadcrumb ul li:after {
		content: ">";
		padding-left: 10px !important;
	}
	#breadcrumb ul li.last:after {
		content: "";
	}
	#breadcrumb ul li.home {
		padding-left: 0 !important;
	}

/* footer */
#footer {
	background: none !important;
}
	#footerIn {
		width: auto !important;
	}
		#ftBlockID {
			float: none !important;
			width: auto !important;
		}
			#copyright {
				text-align: center !important;
				color: #000 !important;
			}
            
/* !Clearfix
---------------------------------------------------------- */
.boxMaps01
{
	display: block;
	min-height: 1%;
}
.boxMaps01:after
{
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .boxMaps01
{
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* !/maps/
---------------------------------------------------------- */
.sectionMaps01 {
	margin-bottom: 40px;
}
.boxMaps01 {
}
	.boxMaps01 .mapArea {
		float: left;
		width: 335px;
	}
		.boxMaps01 .mapArea .caption01 {
			margin-top: 12px;
		}
	.boxMaps01 .detailArea {
		position: relative;
		float: right;
		width: 350px;
		min-height: 231px;
		height: auto !important;
		height: 265px;
		padding-bottom: 34px;
	}
		.boxMaps01 .detailArea .item {
			margin-bottom: 15px;
		}
	.boxMaps01 .btnArea {
		position: absolute;
		right: 0;
		bottom: 0;
		overflow: hidden;
		*zoom: 1;
	}
		.boxMaps01 .btnArea li {
			float: left;
			margin-right: 10px;
		}
		.boxMaps01 .btnArea li.last {
			margin-right: 0;
		}