@charset "utf-8";

/* !top common
---------------------------------------------------------- */
body {
	background: none;
}

/* !wrapper */
#wrapper {
}

/* contents */
#contents {
}
	#contentsIn {
		background: none;
	}
		#main {
			float: none;
			width: 980px;
			padding: 20px 0 0 0;
		}
		#sub {
			display: none;
			float: none;
			width: auto;
		}
/* title */
h1 {
	background: none;
}

/* anchor */
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

/* !top parts
---------------------------------------------------------- */
#topSliderBox01 {
	position: relative;
	height: 434px;
	overflow: hidden;
	*zoom: 1;
}
	#topSliderBox01In {
		width: 980px;
		height: 434px;
		margin: 0 auto;
		text-align: left;
		position: relative;
	}
		.topSliderSec01Wrap {
		}
			.topSliderSec01Wrap .sp_control {
				display: none;
			}
			.topSliderSec01Wrap .topSliderSec01 {
				height: 434px;
			}
				.topSliderSec01Wrap .topSliderSec01 .leftOpacity {
					width: 1960px;
					height: 434px;
					margin-left: -1960px;
					opacity: 0.6;
					filter: alpha(opacity=60);
					-ms-filter: 'alpha(opacity=60)';
					position: absolute;
					z-index: 101;
					background-color: #000;
					cursor: pointer;
				}
				.topSliderSec01Wrap .topSliderSec01 .rightOpacity {
					width: 1960px;
					height: 434px;
					margin-left: 980px;
					opacity: 0.6;
					filter: alpha(opacity=60);
					-ms-filter: 'alpha(opacity=60)';
					position: absolute;
					z-index: 101;
					background-color: #000;
					cursor: pointer;
				}
				.topSliderSec01Wrap .topSliderSec01 ul {
					/*position: absolute;
					top: 0;*/
					position: relative;
				}
					.topSliderSec01Wrap .topSliderSec01 ul li {
						float: left;
						/*position: relative;*/
						cursor: pointer;
					}
						.topSliderSec01Wrap .topSliderSec01 ul li img {
							width: 980px;
							height: 434px;
						}
		.topSliderTxtBox01 {
			width: 480px;
			height: 127px;
			position: absolute;
			left: 0;
			bottom: 0;
			overflow: hidden;
			*zoom: 1;
		}
			.topSliderTxtBox01In {
				background: url(/img/bg_topslidertxt01_no.png) no-repeat left top;
				width: 480px;
				height: 90px;
				position: relative;
				cursor: pointer;
			}
			.topSliderTxtBox01.sectionHover .topSliderTxtBox01In {
				background: url(/img/bg_topslidertxt01_on.png) no-repeat left top;
			}
				.topSliderTxtBox01 .topSliderTxt01 {
					margin-left: 94px;
					width: 386px;
					height: 90px;
					position: relative;
					overflow: hidden;
					*zoom: 1;
				}
					.topSliderTxtBox01 .topSliderTxt01 ul {
						position: absolute;
					}
						.topSliderTxtBox01 .topSliderTxt01 ul li {
							float: left;
						}
							.topSliderTxtBox01 .topSliderTxt01 ul li img {
								width: 386px;
								height: 90px;
							}

				.topSliderTxtBox01 .topSliderNavi01 {
					background: url(/img/bg_topslidernavi0101.gif) no-repeat left top;
					width: 480px;
					height: 38px;
					position: absolute;
					left: 0;
					bottom: -38px;
				}
					.topSliderTxtBox01 .topSliderNavi01 ul.number {
						float: left;
						padding: 8px 0 0 139px;
					}
						.topSliderTxtBox01 .topSliderNavi01 ul.number li {
							float: left;
							margin-right: 5px;
						}
						.topSliderTxtBox01 .topSliderNavi01 ul.number li a {
							display: block;
							background-position: 0 0;
							background-repeat: no-repeat;
							width: 20px;
							height: 20px;
							text-indent: -9999px;
							overflow: hidden;
							*zoom: 1;
						}
						.topSliderTxtBox01 .topSliderNavi01 ul.number li.li01 a {
							background-image: url(/img/btn_topslidernavi0102.gif);
						}
						.topSliderTxtBox01 .topSliderNavi01 ul.number li.li02 a {
							background-image: url(/img/btn_topslidernavi0103.gif);
						}
						.topSliderTxtBox01 .topSliderNavi01 ul.number li.li03 a {
							background-image: url(/img/btn_topslidernavi0104.gif);
						}
						.topSliderTxtBox01 .topSliderNavi01 ul.number li.li04 a {
							background-image: url(/img/btn_topslidernavi0105.gif);
						}
						.topSliderTxtBox01 .topSliderNavi01 ul.number li.li05 a {
							background-image: url(/img/btn_topslidernavi0106.gif);
						}
						.topSliderTxtBox01 .topSliderNavi01 ul.number li a:hover {
							background-position: 0 -20px;
						}
						.topSliderTxtBox01 .topSliderNavi01 ul.number li.current a {
							background-position: 0 -40px;
						}
					.topSliderTxtBox01 .topSliderNavi01 ul.control {
					}
						.topSliderTxtBox01 .topSliderNavi01 ul.control li.prev {
							position: absolute;
							left: 113px;
							top: 8px;
						}
							.topSliderTxtBox01 .topSliderNavi01 ul.control li.prev a {
								display: block;
								background: url(/img/btn_topslidernavi0101.gif) no-repeat 0 0;
								width: 20px;
								height: 20px;
								text-indent: -9999px;
								overflow: hidden;
								*zoom: 1;
							}
							.topSliderTxtBox01 .topSliderNavi01 ul.control li.prev a:hover {
								background-position: 0 -20px;
							}
						.topSliderTxtBox01 .topSliderNavi01 ul.control li.next {
							position: absolute;
							left: 266px;
							top: 8px;
						}
							.topSliderTxtBox01 .topSliderNavi01 ul.control li.next a {
								display: block;
								background: url(/img/btn_topslidernavi0107.gif) no-repeat 0 0;
								width: 20px;
								height: 20px;
								text-indent: -9999px;
								overflow: hidden;
								*zoom: 1;
							}
							.topSliderTxtBox01 .topSliderNavi01 ul.control li.next a:hover {
								background-position: 0 -20px;
							}
					.topSliderTxtBox01 .topSliderNavi01 p {
						float: right;
						padding: 13px 17px 0 0;
					}
				.topSliderTxtBox01 .topSliderTxtBoxFlag01 {
					position: absolute;
					left: 20px;
					top: 0;
				}
		.topSliderTargetNavi01 {
			position: absolute;
			right: 0;
			top: 0;
		}

.topSliderBtn01,
.topSliderBtn02,
.topSliderBtn03 {
	display: none;
}

.topSection01 {
	overflow: hidden;
	*zoom: 1;
}
	.topSection01L {
		width: 480px;
		float: left;
	}
	.topSection01R {
		width: 480px;
		float: right;
	}
		.h2TopStyle01 {
			position: relative;
		}
			.h2TopStyle01 h2 {
				background: none;
				border: none;
				margin: 0;
				padding: 0;
			}
			.h2TopStyle01 ul {
				position: absolute;
				right: 0;
				top: 0;
				overflow: hidden;
				*zoom: 1;
			}
		.ulTopNews01 {
		}
			.ulTopNews01 li {
				background-color: #0d4f78;
				padding: 15px;
				line-height: 1.5;
				overflow: hidden;
				*zoom: 1;
				*vertical-align: bottom;
				font-size: 86%;
				color: #fff;
				position: relative;
			}
			.ulTopNews01 li a {
				color: #fff;
				text-decoration: underline;
			}
			.ulTopNews01 li a:hover {
				text-decoration: none;
			}
			.ulTopNews01 li.odd {
				background-color: #186b91;
			}
			.ulTopNews01 li.first {
				padding: 0;
			}
				.ulTopNews01 li .img {
					float: left;
					margin-right: 14px;
					height: 80px;
				}
				.ulTopNews01 li.first .img {
					height: auto;
				}
				.ulTopNews01 li .txtBox {
					overflow: hidden;
					*zoom: 1;
				}
				.ulTopNews01 li.first .txtBox {
					padding: 12px 15px 12px 0;
				}
					.ulTopNews01 li .txtBox .date {
						margin-bottom: 25px;
					}
					.ulTopNews01 li .txtBox .linkBox {
						position: absolute;
						bottom: 15px;
						display: block;
						min-height: 1%;
					}
					.ulTopNews01 li .txtBox .linkBox:after {
						clear: both;
						content:".";
						display: block;
						height: 0;
						visibility: hidden;
					}
						.ulTopNews01 li .txtBox .linkBox p {
							margin: 8px 5px 0 0;
							float: left;
							word-break: keep-all;
						}
							.ulTopNews01 li .txtBox .linkBox span {
								display: block;
								background: url(/img/bg_ultopnews0101.png) no-repeat left top;
								height: 24px;
								padding-left: 30px;
							}
							.ulTopNews01 li .txtBox .linkBox span a {
								display: inline-block;
								background: url(/img/bg_ultopnews0102.png) no-repeat right top;
								height: 18px;
								padding: 3px 18px 3px 0;
							}
.ulTopNews01 li.first .linkBox {
	width: 161px;
}
.topFrontLine01 {
	margin-bottom: 20px;
}
	.topFrontLine01In {
		background-color: #0d4f78;
		width: 480px;
		height: 163px;
		overflow: hidden;
		*zoom: 1;
		position: relative;
	}
		.topFrontLine01 .ulTopFrontLine01 {
			line-height: 1.5;
			font-size: 86%;
			color: #fff;
		}
			.topFrontLine01 .ulTopFrontLine01 li {
				background-color: #0d4f78;
				width: 480px;
				height: 163px;
				position: absolute;
				top: 0;
				left: 0;
			}
				.topFrontLine01 .ulTopFrontLine01 li a {
					color: #fff;
					text-decoration: underline;
				}
				.topFrontLine01 .ulTopFrontLine01 li a:hover {
					text-decoration: none;
				}
					.topFrontLine01 .ulTopFrontLine01 li .img {
						float: left;
						margin-right: 14px;
					}
					.topFrontLine01 ul li .txtBox {
						padding: 12px 15px 12px 0;
					}
		.topFrontLine01 .ulTopFrontLineControl01 {
			position: absolute;
			left: 0;
			bottom: -1px;
			overflow: hidden;
			*zoom: 1;
			z-index: 100;
		}
			.topFrontLine01 .ulTopFrontLineControl01 li {
				float: left;
				font-size: 0;
			}

.topSpecialContents01 {
	background-color: #0d4f78;
	width: 480px;
	margin-bottom: 20px;
	line-height: 1.5;
	font-size: 86%;
	color: #fff;
	position: relative;
}
	.topSpecialContentsIn01 {
		overflow: hidden;
		*zoom: 1;
	}
		.topSpecialContents01 a {
			color: #fff;
			text-decoration: underline;
		}
			.topSpecialContents01 a span img {
				width: 12px;
				height: 10px;
			}
		.topSpecialContents01 a:hover {
			text-decoration: none;
		}
		.topSpecialContents01 .img {
			float: left;
			margin-right: 14px;
		}
			.topSpecialContents01 img {
				width: 290px;
				height: 163px;
			}
		.topSpecialContents01 .txtBox {
			padding: 12px 15px 12px 0;
		}

.topNewEvent01 {
	margin-bottom: 20px;
}
	.topNewEvent01 ul {
	}
		.topNewEvent01 ul li {
			font-size: 86%;
			border-top: 1px solid #fff;
			*zoom: 1;
			*vertical-align: top;
		}
		.topNewEvent01 ul li.first {
			border-top: none;
		}
			.topNewEvent01 ul li a {
				display: block;
				background: #eff3f4 url(/common/img/ico_arrow04.png) no-repeat 12px 1.1em;
				padding: 5px 10px 4px 24px;
				text-decoration: none;
				display: block;
				min-height: 1%;
			}
			.topNewEvent01 ul li a:after {
				clear: both;
				content:".";
				display: block;
				height: 0;
				visibility: hidden;
			}
			* html .topNewEvent01 ul li a {
				height: 1%;
				/*\*//*/
				height: auto;
				overflow: hidden;
				/**/
			}
		.topNewEvent01 .h2TopStyle01 ul li {
			border-top: none;
		}
			.topNewEvent01 .h2TopStyle01 ul li a {
				display: block;
				background: none;
				padding: 0;
				text-decoration: none;
			}
			.topNewEvent01 ul li a:hover {
				background: #e3e7e8 url(/common/img/ico_arrow04.png) no-repeat 12px 1.1em;
			}
				.topNewEvent01 ul li a .tit {
					display: block;
					float: left;
					width: 280px;
					text-decoration: underline;
				}
					.topNewEvent01 ul li a:hover .tit {
						text-decoration: none;
					}
				.topNewEvent01 ul li a .date {
					display: block;
					float: right;
					width: 163px;
					color: #333;
				}

.topQuicklink01 {
}
	.topQuicklink01 ul {
		width: 480px;
		font-size: 86%;
	}
		.topQuicklink01 ul li {
			float: left;
		}
		.topQuicklink01 ul li.odd {
			float: right;
		}
			.topQuicklink01 ul li a {
				background: #eff3f4 url(/common/img/ico_arrow04.png) no-repeat 12px 1.1em;
				display: block;
				width: 240px;
				border-bottom: 1px solid #fff;
			}
			.topQuicklink01 ul li.odd a {
				border-left: 1px solid #fff;
				width: 239px;
			}
			.topQuicklink01 ul li.window a {
				background: #eff3f4 url(/common/img/ico_window01.png) no-repeat scroll 7px 0.9em;
			}
			.topQuicklink01 ul li a:hover {
				background: #e3e7e8 url(/common/img/ico_arrow04.png) no-repeat 12px 1.1em;
			}
			.topQuicklink01 ul li.window a:hover {
				background: #e3e7e8 url(/common/img/ico_window01.png) no-repeat scroll 7px 0.9em;
			}
				.topQuicklink01 ul li a span {
					display: block;
					padding: 5px 10px 4px 26px;
				}