@charset "utf-8";

/* !top common
---------------------------------------------------------- */
body {
	background: none;
}

/* !wrapper */
#wrapper {
	background: none;
}

/* contents */
#contents {
}
	#main {
		float: none;
	}
	#sub {
		display: none;
		float: none;
		width: auto;
	}
/* title */
h1 {
	background: none;
}
h2 {
	background: none;
	border: none;
}

/* anchor */
a {
	text-decoration: underline;
}

/* !top parts
---------------------------------------------------------- */
#topSliderBox01 {
	position: relative;
}

	#topSliderBox01In {
		width: 100%;
		height: auto;
	}
		.topSliderSec01Wrap {
			position: relative;			
		}
			.topSliderSec01Wrap .topSliderSec01 {
				width: 100%;
				height: auto;
				overflow: hidden;
			}
				.topSliderSec01Wrap .topSliderSec01 .rightOpacity,
				.topSliderSec01Wrap .topSliderSec01 .leftOpacity {
					display: none;
				}
				.topSliderSec01Wrap .topSliderSec01 ul {
					position: relative;
					overflow: hidden;
				}
					.topSliderSec01Wrap .topSliderSec01 ul li {
						float: left;
						cursor: pointer;
					}
						.topSliderSec01Wrap .topSliderSec01 ul li img {
							width: 100%;
							height: auto;
							display: none;
						}
			.topSliderSec01Wrap .sp_control {
			}
				.topSliderSec01Wrap .sp_control li {
					display: block;
					margin-top: -23px;
					position: absolute;
					top: 50%;
					z-index: 2;
				}
				.topSliderSec01Wrap .sp_control .prev {
					left: 0;
				}
				.topSliderSec01Wrap .sp_control .next {
					right: 0;
				}
					.topSliderSec01Wrap .sp_control li a {
						display: block;
						width: 25px;
						height: 55px;
						cursor: pointer;
					}

		.topSliderTxtBox01 {
			width: 100%;
			height: auto; 
		}
			.topSliderTxtBox01In {
				width: 100%;
				height: auto;
				background-image: url(/common/img/sp/bg_pagenation01.gif);
				background-position: left top;
				background-repeat: repeat;
				background-size: 10px 27px;
				-moz-background-size: 10px 27px;
				-webkit-background-size: 10px 27px;
				position: relative;
			}
				.topSliderTxtBox01 .topSliderTxt01 {
					width: 100%;
					height: auto;
					overflow: hidden;
				}
					.topSliderTxtBox01 .topSliderTxt01 ul {
						position: relative;
						display: block;
						min-height: 1%;
					}
					.topSliderTxtBox01 .topSliderTxt01 ul:after {
						display: block;
						clear: both;
						content: '.';
						visibility: hidden;
						height: 0;
					}
						.topSliderTxtBox01 .topSliderTxt01 ul li {
							float: left;
						}
							.topSliderTxtBox01 .topSliderTxt01 a {
								display: block;
							}
								.topSliderTxtBox01 .topSliderTxt01 a img {
									padding-left: 63px;
									width: 100%;
									height: auto;
									box-sizing: border-box;
									-moz-box-sizing: border-box;
									-webkit-box-sizing: border-box;
									display: none;
								}

				.topSliderTxtBox01 .topSliderNavi01 {
						display: none;
				}		
				.topSliderTxtBox01 .topSliderTxtBoxFlag01 {
					position: absolute;
					left: 13px;
					top: 0;
				}
		.topSliderTargetNavi01 {
			display: none;
		}


.topSliderBox02 {
	width: 100%;
	overflow: hidden;
}
	.topSliderSec02 {
		display: block;
		min-height: 1%;
		position: relative;
		overflow: hidden;
	}
	.topSliderSec02:after {
		clear: both;
		content: ".";
		display: block;	
		height: 0;
		visibility: hidden;
	}
		.topSliderSec02 li {
			float: left;
			margin: 10px 5px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			background-color: #fff;
			line-height: 1.5;
			font-size: 91.6%;
		}
		.topSliderSec02 li a {
		}
			.topSliderSec02 li .img {
			}
				.topSliderSec02 li .img img {
					height: auto;
					display: none;
				}
				
			.topSliderSec02 li .txtBox {
				padding-top: 8px;
				width: 100%;
			}
				.topSliderSec02 li .txtBox .titBox {
				}
					.topSliderSec02 li .txtBox .titBox .tit {
						padding: 0 15px 0 10px;
					}
					.topSliderSec02 li .txtBox .titBox .date {
						margin-top: 5px;
						padding: 0 15px 0 10px;
					}
				.topSliderSec02 li .txtBox .linkBox {
				}
					.topSliderSec02 li .txtBox .linkBox p {
						border-top: 1px solid #ccc;
						word-break: keep-all;
					}
						.topSliderSec02 li .txtBox .linkBox span {
							display: block;
						}
						.topSliderSec02 li .txtBox .linkBox span a {
							display: block;
							padding: 6px 10px 6px 27px;
							background-image: url(/common/img/sp/ico_category01.png);
							background-repeat: no-repeat;
							background-position: 10px center;
							background-size: 12px 8px;
							-moz-background-size: 12px 8px;
							-webkit-background-size: 12px 8px;
							font-size: 75%;
							color: #333;
						}
						
.topSection01L,
.topFrontLine01 {
	margin-bottom: 25px;
}
.topFrontLine01 .topFrontLine01In .ulTopFrontLine01 li .txtBox {
	padding: 8px 10px;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.topNewEvent01 {
	margin-bottom: 10px;
}
	.topNewEvent01 ul li a {
		text-decoration: none;
	}
		.topNewEvent01 ul li a .tit {
			display: block;
			padding-left: 10px;
			background-image: url(/common/img/sp/ico_arrow04.png);
			background-repeat: no-repeat;
			background-position: left 0.75em;
			background-size: 5px 6px;
			-moz-background-size: 5px 6px;
			-webkit-background-size: 5px 6px;
			text-decoration: underline;
		}
		.topNewEvent01 ul li a .date {
			display: block;
			margin-top: 5px;
			padding-left: 10px;
			color: #666;
		}
		
.topFrontLine01 {
}
	.topFrontLine01 .ulTopFrontLineControl01 {
		display: none;
	}

.topSpecialContents01 {
}
	.topSpecialContentsIn01 {
		background-color: #fff;
		margin: 0 10px;
	}
		.topSpecialContents01 .txtBox {
			padding: 10px;
		}
		.topSpecialContents01 .img {}
			.topSpecialContents01 img {
				width: 100%;
			}

.topQuicklink01 {
}
	.topQuicklink01 ul {
	}
		.topQuicklink01 ul li {
		}
			.topQuicklink01 ul li a {
				display: block;
				padding-left: 13px;
				background-image: url(/common/img/sp/ico_arrow04.png);
				background-repeat: no-repeat;
				background-position: left 0.75em;
				background-size: 5px 6px;
				-moz-background-size: 5px 6px;
				-webkit-background-size: 5px 6px;
			}
			.topQuicklink01 ul li.window a {
				background-image: url(/common/img/sp/ico_window01.png);
				background-repeat: no-repeat;
				background-position: 0 center;
				background-size: 9px 7px;
				-moz-background-size: 9px 7px;
				-webkit-background-size: 9px 7px;
			}

.topContentBox01 {
	margin: 0 10px;
	background-color: #fff;
}
	.topContentBox01 li {
		padding: 5px 10px;
		border-bottom: 1px solid #e4e4e4;
	}
  
.topSliderBtn01 {
	position: relative;
	background-image: url(/common/img/sp/bg_pagenation01.gif);
	background-position: left top;
	background-repeat: repeat;
	background-size: 10px 27px;
	-moz-background-size: 10px 27px;
	-webkit-background-size: 10px 27px;
	border-top: 1px solid #2f2f2f;
	text-align: center;
	display: block;
	min-height: 1%;
}
.topSliderBtn02 {
	margin: 0 10px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	background-image: url(/common/img/sp/bg_pagenation01.gif);
	background-position: left top;
	background-repeat: repeat;
	background-size: 10px 27px;
	-moz-background-size: 10px 27px;
	-webkit-background-size: 10px 27px;
	text-align: center;
	display: block;
	min-height: 1%;
}
.topSliderBtn01:after,
.topSliderBtn02:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}
	.topSliderBtn01 li,
	.topSliderBtn02 li {
		float: left;
		width: 33.3%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.topSliderBtn01 li.prev,
	.topSliderBtn02 li.prev {
		border-right: 1px solid #2f2f2f;
	}
	.topSliderBtn01 li.next,
	.topSliderBtn02 li.next {
		float: right;
		border-left: 1px solid #2f2f2f;
	}
		.topSliderBtn01 li a,
		.topSliderBtn02 li a {
			display: block;
			padding: 9px 0 5px;
			height: 12px;
			text-align: center;
			background-repeat: no-repeat;
			background-size: 5px 6px;
			-moz-background-size: 5px 6px;
			-webkit-background-size: 5px 6px;
		}

.topSliderBtn03 {
	margin: 0 10px 10px;
	background-image: url(/common/img/sp/bg_pagenation01.gif);
	background-position: left top;
	background-repeat: repeat;
	background-size: 10px 27px;
	-moz-background-size: 10px 27px;
	-webkit-background-size: 10px 27px;
	text-align: center;
}
	.topSliderBtn03 a {
		display: block;
		height: 19px;
		padding: 8px 0 0;
	}