.lcratingcontainer{width:150px;position:relative;float:left;left:0px}
.lcratingsmall{
    display: inline-block;
    position: relative;
    background:transparent url(https://d2vxgxvhgubbj8.cloudfront.net/scripts/client/64/videositeplate.png) no-repeat;
    height:10px;
    width:48px;
    float:left;
    overflow:hidden
}
.videorated5{background-position:-158px 1px}
.videorated4{background-position:-158px -10px}
.videorated3{background-position:-158px -20px}
.videorated2{background-position:-158px -30px}
.videorated1{background-position:-158px -40px}
.videorated0{background-position:-158px -50px}

.lcplaylist {
    float:left;
    height:320px;
    left:0px;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
    top:40px;
    width:460px;
}

.widgetblock {
    cursor:pointer;
    padding:8px;
    width:430px;
    height:90px;
    margin-bottom:0px;
}



.thumbnail {
    float:left;
    height:90px;
    position:relative;
    width:120px;
    left:0px !important;
    left:-2px;
}

img.thumbnailimg {
    width:60px;
    height:45px;
}



.videoinformation {
    float:left;
    position:relative;
    text-align:left;
    top:0;
    left:10px;
    width:310px;
}

.videometa {
    float: left;
    left: 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color:#666666;
    position: relative;
    text-align: justify;
    top: 8px;
    width: 300px;
}


a.widgetlink {
    text-decoration:none;
    color:#5460A0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight:bold;
    position: relative;
    top: 10%;
    text-align: left;
    position: relative!important;
    display: block !important;
}


.lcplaybtn {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(https://d2vxgxvhgubbj8.cloudfront.net/scripts/client/64/PlayButton.png) no-repeat scroll 0 0;
    height:38px;
    left:42px;
    position:absolute;
    top:29px;
    width:37px;
    z-index:100;
}



.thumbnailcontainer {
    float:left;
    height:95px;
    position:relative;
    width:120px;
}