/********************************
*								*
* Company: Nitro PDF			*
* Web-site Version: 9			*
* Copyright: NitroPDF 2014	    *
* Author: Jason Provencher		*
*								*
********************************/



/**

Nitro Primary Colors
---------------------
Orange: #ee5b21 rgb(238,91,33)
Green: #7fb919
SkyBlue: #169acd
DarkBlue: #2d526a
BackgroundGray:
Gray: #5d5d5d
LightGray: #f1f1f1
DarkGray: #39393a

Nitro Secondary Colors
---------------------
**Any colors used for secondary objects
**/

/**
*
* Reset
*
**/



/**
*
* Nitro Re-Base
*
**/


body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background:#f4f4f4;
    color:#888;
    font-family: "Open Sans", sans-serif !important;
    margin:0;
    padding:0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
    color: #444;
    font-family: "Open Sans", sans-serif;
    line-height:1.3;
    margin-top:0px;
}

.heading-1,
h1 {
    font-weight: bold;
    font-size: 36px;
}

.heading-2,
h2 {
    font-weight: bold;
    font-size: 30px;
}

.heading-3,
h3 {
    font-weight: bold;
    font-size: 24px;
}

.heading-4,
h4 {
    font-weight: bold;
    font-size: 20px;
}

.heading-5,
h5 {
    font-weight: bold;
    font-size: 18px;
}

a, a:visited, a:active {
    color: #169acd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border:none;
    border-bottom:1px solid #dcdcdc;
    height:0px;
    background:transparent;
    margin:0px;
    padding:0px;
}

p {
    margin:10px 0px;
}




/**
*
* Utility Styles
*
**/


.left {
    float:left;
}

.right {
    float:right;
}

.none {
    float:none;
}

.clear {
    clear:both;
}

.clear-left {
    clear:left;
}

.clear-right {
    clear:right;
}

.hidden {
    display:none;
}






/** Text Sizes **/

.x-sm {
    font-size: 7px;
}

.sm {
    font-size: 9px;
}

.med {
    font-size: 11px;
}

.lg {
    font-size: 20px;
}

.x-lg {
    font-size: 24px;
}




/** Background Colors **/

.bkg-orange {
    background-color: #ee5b21;
}

.bkg-green {
    background-color: #7fb919;
}

.bkg-lime-green {
    background-color: #7fb919;
}

.bkg-light-blue {
    background-color: #a0d9ef;
}

.bkg-blue {
    background-color: #169acd;
}

.bkg-dark-blue {
    background-color: #2d526a;
}

.bkg-gray {
    background-color: #5d5d5d;
}

.bkg-light-gray {
    background-color: #f1f1f1;
    text-shadow: 1px 1px 0px #fff;
}

.bkg-dark-gray {
    background-color: #39393a;
}

.bkg-white {
    background-color: #ffffff;
}




/** Text Colors **/

.orange {
    color: #ee5b21;
}

.green {
    color: #7fb919;
}

.lime-green {
    background-color: #7fb919;
}

.blue {
    color: #169acd;
}

.dark-blue {
    color: #2d526a;
}

.gray {
    color: #5d5d5d;
}

.light-gray {
    color: #f1f1f1;
}

.dark-gray {
    color: #39393a;
}




/** Widths **/

.x-small {
    width: 50px;
}

.small {
    width: 100px;
}

.medium {
    width: 200px;
}

.large {
    width: 350px;
}

.x-large {
    width: 450px;
}

.full {
    width: 100%;
}




/** Buttons - Needs color class **/

.button {
    border: 1px solid #10749a;
    border-radius: 3px;
    display:block;
    font-size: 18px;
    font-weight: 700;
    padding:13px 30px;
    text-decoration: none;
    text-shadow:0 -1px 0 rgba(0, 0, 0, .6);
    text-align:center;
    margin:auto;
}

.button:hover {
    text-decoration:none;
}
.button:active {}

.button.outlined {
    text-shadow:none;
    box-shadow:none !important;
    border:1px solid #000;
}

.button.sm {
    font-size:11px;
}
.button.med {
    font-size:14px;
}

.button.outlined.sm {}
.button.outlined.med {}
.button.outlined.lg {}

.button.orange {
    color:white;
    border: 1px solid #9e2200;
    background-color: #ed5b21;
    box-shadow: 0 2px 2px rgba(4,4,4,.2), inset 0 1px 1px #f9b943;
    background-image: -moz-linear-gradient(bottom, #e94519 0%, #f16f27 100%);
    background-image: -o-linear-gradient(bottom, #e94519 0%, #f16f27 100%);
    background-image: -webkit-linear-gradient(bottom, #e94519 0%, #f16f27 100%);
    background-image: linear-gradient(bottom, #e94519 0%, #f16f27 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed5b21', endColorstr='#ed5b21',GradientType=0 );
}

.button.orange:hover {
    background-color: #ed7321 !important;
    box-shadow: 0 2px 2px rgba(4,4,4,.2), inset 0 1px 1px #f9d743;
    background-image: -moz-linear-gradient(bottom, #ef541e 0%, #f9752e 100%);
    background-image: -o-linear-gradient(bottom, #ef541e 0%, #f9752e 100%);
    background-image: -webkit-linear-gradient(bottom, #ef541e 0%, #f9752e 100%);
    background-image: linear-gradient(bottom, #ef541e 0%, #f9752e 100%);
}

.button.orange:active {
    background-color: #ed5b21 !important;
    box-shadow: inset 0 1px 1px #9d2100;
    background-image: -moz-linear-gradient(bottom, #e94519 0%, #f16f27 100%);
    background-image: -o-linear-gradient(bottom, #e94519 0%, #f16f27 100%);
    background-image: -webkit-linear-gradient(bottom, #e94519 0%, #f16f27 100%);
    background-image: linear-gradient(bottom, #e94519 0%, #f16f27 100%);
}

.button.green {
    color:white;
    border: 1px solid #428f00;
    background-color: #7fb919;
    box-shadow: 0 2px 2px rgba(4,4,4,.2), inset 0 1px 1px #dbeb33;
    background-image: -moz-linear-gradient(bottom, #61a913 0%, #9bc91f 100%);
    background-image: -o-linear-gradient(bottom, #61a913 0%, #9bc91f 100%);
    background-image: -webkit-linear-gradient(bottom, #61a913 0%, #9bc91f 100%);
    background-image: linear-gradient(bottom, #61a913 0%, #9bc91f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb919', endColorstr='#7fb919',GradientType=0 );

}
.button.green:hover {
    background-color: #9cb919;
    box-shadow: 0 2px 2px rgba(4,4,4,.2), inset 0 1px 1px #e3eb33;
    background-image: -moz-linear-gradient(bottom, #67ad13 0%, #a5d326 100%);
    background-image: -o-linear-gradient(bottom, #67ad13 0%, #a5d326 100%);
    background-image: -webkit-linear-gradient(bottom, #67ad13 0%, #a5d326 100%);
    background-image: linear-gradient(bottom, #67ad13 0%, #a5d326 100%);
}

.button.green:active {
    background-color: #7fb919;
    box-shadow: inset 0 1px 1px #578300;
    background-image: -moz-linear-gradient(bottom, #61a913 0%, #9bc91f 100%);
    background-image: -o-linear-gradient(bottom, #61a913 0%, #9bc91f 100%);
    background-image: -webkit-linear-gradient(bottom, #61a913 0%, #9bc91f 100%);
    background-image: linear-gradient(bottom, #61a913 0%, #9bc91f 100%);
}

.button.blue {
    color:white;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset, 0 2px 2px rgba(0, 0, 0, 0.4);
    background: #1cb7dc;
    background: -moz-linear-gradient(top,  #1cb7dc 0%, #0f7cbe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1cb7dc), color-stop(100%,#0f7cbe));
    background: -webkit-linear-gradient(top,  #1cb7dc 0%,#0f7cbe 100%);
    background: -o-linear-gradient(top,  #1cb7dc 0%,#0f7cbe 100%);
    background: -ms-linear-gradient(top,  #1cb7dc 0%,#0f7cbe 100%);
    background: linear-gradient(to bottom,  #1cb7dc 0%,#0f7cbe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cb7dc', endColorstr='#0f7cbe',GradientType=0 );
}

.button.blue:hover {
    background-color: #16a4cd;
    box-shadow: 0 2px 2px rgba(4,4,4,.2), inset 0 1px 1px #2fe9f3;
    background-image: -moz-linear-gradient(bottom, #0f89bd 0%, #1dbfdb 100%);
    background-image: -o-linear-gradient(bottom, #0f89bd 0%, #1dbfdb 100%);
    background-image: -webkit-linear-gradient(bottom, #0f89bd 0%, #1dbfdb 100%);
    background-image: linear-gradient(bottom, #0f89bd 0%, #1dbfdb 100%);
}

.button.blue:active {
    border: 1px solid #10739a;
    background-color: #1599cd;
    box-shadow: inset 0 1px 1px #0f7399;
    background-image: -moz-linear-gradient(bottom, #0f7bbd 0%, #1bb7db 100%);
    background-image: -o-linear-gradient(bottom, #0f7bbd 0%, #1bb7db 100%);
    background-image: -webkit-linear-gradient(bottom, #0f7bbd 0%, #1bb7db 100%);
    background-image: linear-gradient(bottom, #0f7bbd 0%, #1bb7db 100%);
}

.button.gray {
    color:white;
    border: 1px solid #414141;
    background-color: #505050;
    background-image: -moz-linear-gradient(bottom, #3b3b3b 0%, #656565 100%);
    background-image: -o-linear-gradient(bottom, #3b3b3b 0%, #656565 100%);
    background-image: -webkit-linear-gradient(bottom, #3b3b3b 0%, #656565 100%);
    background-image: linear-gradient(bottom, #3b3b3b 0%, #656565 100%);
}

.button.gray:hover {
    background-color: #757575;
    box-shadow: 0 2px 2px rgba(4,4,4,.2), inset 0 1px 1px #d9d9d9;
    background-image: -moz-linear-gradient(bottom, #545454 0%, #696969 100%);
    background-image: -o-linear-gradient(bottom, #545454 0%, #696969 100%);
    background-image: -webkit-linear-gradient(bottom, #545454 0%, #696969 100%);
    background-image: linear-gradient(bottom, #545454 0%, #696969 100%);
}

.button.gray:active {
    background-color: #505050;
    box-shadow: inset 0 1px 1px #414141;
    background-image: -moz-linear-gradient(bottom, #3b3b3b 0%, #656565 100%);
    background-image: -o-linear-gradient(bottom, #3b3b3b 0%, #656565 100%);
    background-image: -webkit-linear-gradient(bottom, #3b3b3b 0%, #656565 100%);
    background-image: linear-gradient(bottom, #3b3b3b 0%, #656565 100%);
}

.button.red {
    color:white;
    border: 1px solid #870505;
    background-color: #ce1313;
    box-shadow: 0 2px 2px rgba(4,4,4,.2), inset 0 1px 1px #f65b5b; /* drop shadow and inner shadow */
    background-image: -moz-linear-gradient(bottom, #a30000 0%, #ef4a4a 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #a30000 0%, #ef4a4a 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #a30000 0%, #ef4a4a 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #a30000 0%, #ef4a4a 100%); /* gradient overlay */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1313', endColorstr='#ce1313',GradientType=0 );

}

.button.red:hover {
    border: 1px solid #9e2200;
    background-color: #b31111;
    box-shadow: 0 2px 2px rgba(4,4,4,.2), inset 0 1px 1px #f13b3b; /* drop shadow and inner shadow */
    background-image: -moz-linear-gradient(bottom, #a71616 0%, #fb5353 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #a71616 0%, #fb5353 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #a71616 0%, #fb5353 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #a71616 0%, #fb5353 100%); /* gradient overlay */
}

.button.red:active {
    border: 1px solid #9e2200;
    background-color: #ed5b21;
    box-shadow: inset 0 1px 1px #9d2100;
    background-image: -moz-linear-gradient(bottom, #d12323 0%, #eb3535 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #d12323 0%, #eb3535 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #d12323 0%, #eb3535 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #d12323 0%, #eb3535 100%); /* gradient overlay */
}

.button.outlined.green {}
.button.outlined.green {}
.button.outlined.blue {
    background:white;
    color:#169acd;
    border:3px solid #169acd;
}
.button.outlined.blue {}
.button.outlined.orange {}
.button.outlined.orange {}
.button.outlined.gray {}
.button.outlined.gray {}
.button.outlined.darkGray {}
.button.outlined.darkGray {}



/** Template Structure **/

.row {
    padding:50px 0px;
}

.row.alpha {
    padding:0px;
}


/** Page Intro Rows - Features & Page Title **/

.row.page-title {
    padding:30px 0px;
}

.page-title h1,
.page-title .heading-1 {
    font-weight:bold;
    color:white;
    text-shadow:0 1px 1px #04516f;
    text-transform:uppercase;
    font-size:30px;
    font-weight:600;
    margin:0px;
}


@media only screen and (max-width: 40em) {

    .row.page-title {
        padding:25px 20px;
        border-bottom:none;
    }

    .page-title h1,
    .page-title .heading-1 {
        font-size:20px;
    }

    .row {
        padding:0px 0px;
    }

    .grid-wrapper {
        padding:20px;
    }

}

/* Localization */

form.vlp .button-flat.orange {
  width: 225px;
}

.lang-en .styled-forms label {
    width: 100px !important;
}

.styled-forms label {
    width: 130px !important;
}
.styled-forms label[for=num_employees] {
    padding: 0 8px 0 0;
    line-height: 19px;
}
.styled-forms label[for=comments] {
    line-height: 19px;
}


/*PDF TO WORD PDF TO EXCEL BUY NOW LINK*/
.buy-now-link {
    display: block;
    width: 300px;
    text-align: center;
    padding: 5px 0;
    margin-top: -30px;
    font-size: 20px;
    font-weight: bold;
}

/*BLACKFRIDAY CYBERMONDAY PROMOBAR*/
#promobar {
    position: fixed;
    height: 70px;
    display: block;
    width: 100%;
    /*bottom: 0;*/
    z-index: 999999999;
}

#promobar.blackfriday {
    background-color: rgba(0, 0, 0, .75);
}

#promobar.cybermonday {
    background-color: rgba(65, 159, 210, .90);
}

#promobar .promobar-content {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 15px;
}

#promobar.blackfriday p,
#promobar.blackfriday a {
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

#promobar.cybermonday p,
#promobar.cybermonday a {
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

#promobar.blackfriday a.c2a_alert_close {
    background: url('https://cdn.gonitro.com/images/sites/common/includes/promobar-close.png') no-repeat center right;
    position: absolute;
    text-decoration: none;
    right: 0;
    top: 20px;
    width: 160px;
    padding: 5px 0;
}

#promobar.cybermonday a.c2a_alert_close {
    background: url('https://cdn.gonitro.com/images/sites/common/includes/promobar-close-blue.png') no-repeat center right;
    position: absolute;
    text-decoration: none;
    right: 0;
    top: 20px;
    width: 160px;
    padding: 5px 0;
}

#promobar.cybermonday .c2a_alert_close span {
    color: #06374a;
    font-weight: 600;
}