/********************************
*								*
* Company: Nitro PDF			*
* Web-site Version: 9			*
* Copyright: NitroPDF 2014	    *
* Author: Jason Provencher		*
*								*
********************************/

/**
*
* Modal Styles
*
**/

.modal {
    position:absolute;
}

.close-btn {
    display:block;
    width:30px;
    height:30px;
    background-color:#ccc;
    background-image:url(/public/images/nitroConversionRedo/sprite.png);
    background-repeat:no-repeat;
    background-position:right 5px top 7px;
    position:absolute;
    right:-30px;
    top:10px;
}

.close-btn:hover {
    background-color:#aaa;
}

.modal-close span {
    display:none;
}

.modal-wrapper {
    border-radius:10px;
    overflow:hidden;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
    position:relative;
}




/**
*
* Dialogs Styles
*
**/






/**
*
* Promo Bars Styles
*
**/

.promobar .feature-stage {
    margin-top:139px !important;
    transition: all 0.6s;
}
.feature-stage {
    margin-top:95px !important;
    transition: all 0.4s;
}
