
/**********************************
************ Global ***************
***********************************/


*:focus {
    outline:none;
}

body {
    background-color:#f3f3f3;
    line-height:1.6;
    min-width:1024px;
    font-size:16px;
}

h1,
.heading-1 {
    font-weight:normal;
    font-size:24px;
    margin-bottom:32px;
    -moz-osx-font-smoothing: grayscale;
}

p {
    color:#39393a;
}

.noselect, button, .button-flat {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.relative {
    position:relative;
}

.button-flat {
    display:inline-block;
    border-radius:3px;
    border:none;
    font-size:25px;
    transition:opacity .2s;
}

.button-flat.orange {
    background-color:#ee5b21;
    color:white !important;
    text-shadow: 0 -1px 0 #b64011;
    font-weight:700;
    text-align:center;
    padding:17px 20px;
    min-width:260px;
    font-size:24px;
}

.button-flat.orange:hover {
    text-decoration:none;
    background-color:#f1703d;
}
.button-flat.gray,
.button-flat.grey {
    background-color:#a5a5a5;
    color:white !important;
    text-shadow: 0 -1px 0 #6a6a6a;
    font-weight:700;
    text-align:center;
    padding:15px 20px;
    -webkit-box-shadow:inset 0 -5px 0 0 #626262;
    box-shadow:inset 0 -3px 0 0 #626262;
}
.button-flat.gray:hover,
.button-flat.grey:hover {
    text-decoration:none;
    background-color:#b5b5b5;
}

.button-flat.blue {
    background-color:#169acd;
    color:white !important;
    text-shadow: 0 -1px 0 #0d6b8f;
    font-weight:700;
    text-align:center;
    padding:18px 20px;
    min-width:260PX;
    -webkit-box-shadow:inset 0 -5px 0 0 #0d6b8f;
    box-shadow:inset 0 -3px 0 0 #0d6b8f;
}


.button-flat.blue:hover {
    text-decoration:none;
    background-color:#1caee7;
}

.disabled {
	opacity:0.5;
}
.button-flat.blue.disabled, .button-flat.blue.disabled:hover, .button-flat.blue.disabled:focus {
	outline:none;
	background:#3AA6CF;
	box-shadow:inset 0 -3px 0 0 #0D6B8F;
}


.red {
    color:#d60300;
}


.orange {
    color:#ee5b21 !important;
}




/** Forms **/

.styled-forms *:focus {
    outline: none;
}

form input {
    -moz-box-sizing: border-box;
}

form input[readonly] {
    color:#afafaf;
}

.styled-forms input[type="text"], .styled-forms select {
    border-radius:3px;
    border:1px #ccc solid;
    color:#777;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.15) inset;
    float:left;
    display:block;
    padding:10px 10px 9px 10px;
    width: 250px;

}

.styled-forms li {
    margin-bottom:15px;
}

.styled-forms label {
    font-size:14px;
    color:#555;
    display:block;
    float:left;
    width:100px;
    padding:8px 8px 8px 0px;
    text-align:right;
    margin-right:4px;
    margin-left:-7px;
}

.firefox #vlp label.checkbox {
    margin-left:104px;
}

.firefox #vlp .styled-select {
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #CCC;
    color: #777;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) inset;
    float: left;
    display: block;
    padding: 10px 10px 9px;
    width:223px;
}

.firefox #vlp .styled-select select {
    width:260px;
    border-radius: 0px;
    color: #777;
    float: left;
    display: block;
    padding: 0;
    width:240px;
    border:none;
    box-shadow: none;
}

.firefox #vlp .styled-select select:focus {
    outline:none;
}

.firefox #vlp select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.styled-forms label.checkbox {
	margin: 0 0 0 100px;
	text-align: left;
	width: 280px!important;
	padding: 0;
	height: 20px;
	line-height: 20px;
	float:none;
}

.styled-forms label.checkbox input[type="checkbox"] {
	vertical-align: middle;
}

.styled-forms label span {
    color:red;
}


select {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
    box-sizing: content-box;
	text-indent: 10px;

	width:210px;
	height: auto;

	outline-width: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;

	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

.styled-select:before, .styled-select:after {
	content: '';
	position: absolute;
	left:300px;
	border-width: 6px;
	border-style: solid;
	width: 0;
	pointer-events: none;
}


/* #modal-trial form li .styled-select:before, #modal-trial form li .styled-select:after { */
/*     left:335px;	 */
/* } */

.styled-select:before {
    top: 7px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #656565 rgba(0, 0, 0, 0);
}
.styled-select:after {
    bottom: 6px;
    border-color: #656565 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}


/** Header **/

#header {
    background:#fff;
    height:90px;
    z-index:1000000;
    border-bottom: 1px #ccc solid;
    min-width:1024px;
    transition: all .4s;
}

#header .grid_12 {
    position:relative;
}

#logo {
    position:absolute;
    top:22px;
    left:0px;
    width:110px;
    height:44px;
    background:url(/public/images/nitroConversionRedo/nitro-logo.png) no-repeat top left;
}

#logo img {
    display:none;
}

#main-nav {
    position:absolute;
    right:20px;
    top:30px;
}

#main-nav li {
    float:left;
    list-style-type: none;
    font-size:18px;
    color:#fff;
    margin-left:38px;

}

#main-nav a {
    color:#39393a;
    font-weight:700;
    font-size:14px;
    display:block;
    padding:13px 0px;
}

#main-nav li.active {
    color:#ee5b21;
    list-style-type: none;
}

#main-nav li.active a {
    color:#ee5b21;
}

#main-nav li:hover {
    list-style-type: none;
    color:#ee5b21;
}

#main-nav li:hover a {
    color:#ee5b21;
    text-decoration: none;
}

#locale-list {
    top:0px;
    right:20px;
    opacity: .75;
    font-size: 12px;
    color: #5d5d5d;
    position: absolute;
    z-index:100;
}

#locale-list:hover {
    opacity:1;
}


#locale-list-displayed-item a,
.lang-list li a {
    color: inherit;
    text-decoration: none;
}

#locale-list-displayed-item span,
.lang-list li span {
    margin-left: 5px;
}

#locale-list-displayed-item img,
.lang-list li img {
    color: transparent;
    font-size: 0;
    margin-top: 3px;
    vertical-align: top;
}

#locale-list i {
    display: inline-block;
    margin-top: 3px;
    float: left;
    width: 16px;
    height: 11px;
    background: url(/public/images/header_footer.png) top left no-repeat;
}

#locale-list i.da-icon {
    background-position: 0 -133px;
}

#locale-list i.de-icon {
    background-position: -16px -133px;
}

#locale-list i.en-icon {
    background-position: -32px -133px;
}

#locale-list i.es-icon {
    background-position: -48px -133px;
}

#locale-list i.fi-icon {
    background-position: -64px -133px;
}

#locale-list i.fr-icon {
    background-position: -80px -133px;
}

#locale-list i.it-icon {
    background-position: -96px -133px;
}

#locale-list i.ja-icon {
    background-position: 0 -144px;
}

#locale-list i.nl-icon {
    background-position: -16px -144px;
}

#locale-list i.nb-icon {
    background-position: -32px -144px;
}

#locale-list i.pt-icon {
    background-position: -48px -144px;
}
#locale-list i.ru-icon {
    background-position: -64px -144px;
}
#locale-list i.sv-icon {
    background-position: -80px -144px;
}
#locale-list i.zh-icon {
    background-position: -96px -144px;
}
.lang-menu {
    list-style: none;
}
.lang-menu li {
    display: block;
    position: relative;
    float: left;
}
.lang-menu li ul {
    display: none;
    width: 150px;
}
.lang-menu ul li a {
    color: #5d5d5d;
    display: block;
    text-decoration: none;
    padding: 8px 10px;
    white-space: nowrap;
}
.lang-menu li:hover li {
    float: none;
    font-size: 11px;
    text-align: left;
}
.lang-menu li:hover li:first-child a {
    border-radius: 2px 0 0 0;
    -moz-border-radius: 2px 0 0 0;
    -webkit-border-radius: 2px 0 0 0;
}
.lang-menu li:hover li:last-child a {
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
}
.lang-menu li li a:hover {
    background-color: #bbe5f6;
}
.lang-menu #locale-list-displayed-item {
    cursor: pointer;
    border: 1px solid #b8b8b8;
    border-top:0 none;
    padding: 2px 10px;
    border-radius: 0 0 2px 2px;
    background-color: #fff;
    box-shadow: 0 1px 1px #e4e4e4;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #feffff 100%);
    background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #feffff 100%);
    background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #feffff 100%);
    background-image: linear-gradient(bottom, #e6e6e6 0%, #feffff 100%);
}
.lang-menu #locale-list-displayed-item:hover ul.lang-list {
    display: block;
    position: absolute;
    top: 22px;
    right: -1px;
    z-index: 9999;
    border: 1px solid #b8b8b8;
    border-radius: 3px 1px 3px 3px;
    background-color: #fdffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}



/** Footer **/

#footer {
    background:#222222;
    font-size:13px;
}

#footer p,
#footer a {
    color:#bbb;
}

.trust-logo {
    margin-top:20px;
}

#footer .copy {
    color:#777;
    margin-bottom:5px;
}

.pre-footer {
    padding:35px 0px 20px 0px;
}

#footer-info,
#nitro-info {
    position:relative;
}

#footer-info {
    background:#2b2b2c;
    padding:15px 0px 30px 0px;
}

#footer-info .grid_12 {
    position: relative;
}

#nitro-info {
    width:550px;
    float:left;
}

.footer-column {
    float:left;
    position:relative;
}

.footer-column a {
    color:#bbb;
}

.footer-column li {
    margin-bottom:10px;
}

.footer-column.last-child {
    right:0px;
    float:right;
}

.footer-column.first-child {
    margin-right:105px;
}

.footer-title {
    border-bottom: 1px #bbb solid;
    font-size:14px;
    font-weight:bold;
    padding-bottom:15px;
    color:#bbb;
    margin-bottom:25px;
}

#social {
    margin-bottom:12px;
    padding-bottom:30px;
}

#facebook,
#twitter,
#linkedin,
#goog {
    display:inline-block;
}

#twitter,
#linkedin,
#goog {
    margin-top:36px;
}

#linkedin {
    margin-top:33px;
    margin-left:40px;
}

#twitter {
    margin-left:95px;
}

#goog {
    margin-left:60px;
}

#social .padding-fix {
    height:65px;
}

#facebook {
    border:none;
    overflow:hidden;
    width:230px;
    height:65px;
}

#newsletter-footer {
    float:right;
    margin-top:34px;
}

#newsletter-footer label {
    display:block;
    color: #bbb;
    margin-bottom:10px;
}

#newsletter-footer .button-flat {
    display:inline-block;
    float:right;
    height:39px;
    width:39px !important;
    position:relative;
    padding:0px;
    min-width:0px;
}

#newsletter-footer button {
    line-height:normal;
    font-size:28px;
    background:transparent;
    border:none;
    padding:0px 0px;
    color:white !important;
}

#newsletter-footer input {
    padding:11px;
    font-size: 14px;
    margin-right:8px;
    float:left;
    border-radius:2px;
    border:none;
    -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:inset 0 0 10px 0 rgba(0,0,0,.2);
    width:235px;
}

.copyright-info {
    width:620px;
}


.social_container {
   position:absolute;
   top:45px;
   right:0px;
}

.social_container span{
    background:url(/public/images/header_footer2.png) no-repeat;
    display: inline-block;
}

.social_container span.linkedin{ width:32px; height:32px; background-position:-281px -613px; }
.social_container span.instagram{ width:32px; height:32px; background-position:-276px -763px; }
.social_container span.twitter{ width:32px; height:32px; background-position:-253px -831px; }
.social_container span.gp{ width:32px; height:32px; background-position:-4px -899px; }
.social_container span.yt{ width:32px; height:32px; background-position:-40px -899px; }
.social_container span.fb{ width:32px; height:32px; background-position:-76px -899px; }
.social_container ul {
    margin:0;
}

.social_container ul li {
    float:left;
    margin-left:5px;
}

/** Columns **/

#content {
    overflow:hidden;
    position:relative;
}

#col-sidebar {
    width:330px;
    float:left;
    position:absolute;
    left:0px;
    top:0px;
}

#col-main {
    background:#fff;
    width:2000px;
    float:left;
    position:relative;
    left:320px;
    border-left: 1px #ccc solid;
    min-height:640px;
}

#col-main .col-sizing {
    width:640px;
}

#col-main .col-sizing > div {
    padding: 30px 0px 40px 40px;
}


#about #col-main .col-sizing > div {
    padding: 40px 0px 16px 40px;
}

#about #col-main .col-sizing #lenovo {
	padding: 40px 0px 40px 40px;
}



/** Converter **/

#converter {
    padding:30px 38px 35px 0;
}

#converter h1{
    margin-bottom:22px;
}

#form-terms-body  {
	font-size:13px;
}

.steps li {
    margin-bottom:25px;
    position:relative;
}

.steps li .loader {
	position:absolute;
	right:-25px;
	top:63px;
}
#converter p {
    margin-bottom:12px;
    color:#333;
    position:relative;
}

#converter p.error {
	color:#D60300;
}

.selector-wrapper {
    position:relative;
    float:left;
}

.selector-wrapper ul {
    display:none;
    position:absolute;
    top:45px;
    left:0px;
    z-index:2000;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius:5px;
}

.selector-wrapper:hover ul {
    display:block;
}

.selector-wrapper ul a {
    color:#888;
    display:block;
    padding:15px 20px 15px 48px;
    background-color:#fefefe;
    border-bottom:1px solid #efefef;
    position:relative;
}

.selector-wrapper ul a:hover {
    background:aliceblue;
    text-decoration:none;
}

.selector-wrapper ul li.first-child a {
    border-radius:5px 5px 0px 0px;
}

.selector-wrapper ul li.last-child a {
    border-radius:0px 0px 5px 5px;
}

.selector-wrapper ul a span {
    background-repeat:no-repeat;
    display:block;
    width: 34px;
    height: 42px;
    position:absolute;
    top:5px;
    left:7px;
    background-image: url('/public/images/nitroConversionRedo/sprite.png');
    padding:0px;
}

.icon-word a span {
    background-position:-430px -2px;
}

.icon-excel a span {
    background-position:-431px -134px;

}

.icon-ppt a span {
    background-position:-430px -90px;
}

.icon-pdf a span {
    background-position:-430px -46px;
}

.selector.button-flat {
    padding:3px 0 6px 10px;
    position:relative;
    font-size:23px;
    width:120px;
    text-align:left;
    display:block;
}

.firefox .selector.button-flat {
	width:110px;
}
.selector.button-flat i {
	display:block;
    position:absolute;
    right:10px;
    top:10px;
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat -405px -69px;
    width: 12px;
    height: 24px;
}

#selectors {
    margin-bottom:25px;
}

#selectors span {
    float:left;
    font-weight:bold;
    display:block;
    padding:7px 0;
    color:#646464;
    font-size:20px;
    text-align:center;
    width:52px;
}

#selectors ul a span {
    padding:0px;
}


#file_select .success-file .file-name-container {
	width:292px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:27px;
    font-weight:700;
    color:#00c120;
    font-size:19px;
    position:relative;
    margin:0;
}
#file_select .error-file .file-name-container {
	width:292px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:27px;
    font-weight:700;
    color:#FB0F1C;
    font-size:19px;
    position:relative;
    margin:0;
}
.error-tip {
    color:#FB0F1C;
    font-size:12px;
    position:relative;
}
.firefox #file_select .success-file .file-name-container  {
	width:265px;
}
#file_select .success-file {
    padding-top:0px;
}

#file_select .success-file .checkmark {
    display:block;
    width:22px;
    height:16px;
    position:absolute;
    top:8px;
    left:0;
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat -399px -22px;
}
#file_select .error-file {
    padding-top:0px;
}

#file_select .error-file .error-mark {
    display:block;
    width:22px;
    height:16px;
    position:absolute;
    top:8px;
    left:0;
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat -536px -23px;
}

#file_select .success-file a {
    color:#aaa;
    font-size:14px;
}
#file_select .error-file a {
    color:#aaa;
    font-size:14px;
}

#file_select .button-flat {
    display:block;
    text-align:center;
    min-width:auto;
}

#file_select .file-selector-container {

}

#file_select .file-selector-container .file-name-container {
	display:none;
}
#file_select .file-selector-container.file-selected .file-name-container {
    display:block;
}


#file-uploader.button-flat.grey {
    font-size:22px;
    padding:12px 0px 17px 0px;
}

#file_select .file-selector-container .file-name-container {
	background: white;
	border-radius: 3px 3px 0 0;
	padding: 20px;
	color: #585858;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.15) inset;
	border:1px #CCC solid;
}
#converter .button-flat.gray {
    font-size:24px;
    width:100%;
    line-height:normal;
    height:70px;
    background-color: #a5a5a5;
}
#converter .button-flat.gray:hover {
    background-color: #b5b5b5;
}

#converter input[type="text"],
#converter input[type="email"],
#converter input[type="password"] {
    border:1px #CCC solid;
    padding:20px;
    border-radius: 3px;
    width:100%;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.15) inset;
    outline:none;
    color:#585858;
    font-size:15px;
    font-family: "Open Sans", sans-serif !important;
    margin-bottom:3px;
}

#converter input[type="file"] {
    display:none;
}

#converter-help {
    display:inline-block;
    margin-left:3px;
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat -399px -40px;
    width: 22px;
    height: 22px;
}

#converter .sup {
    font-weight: bold;
    font-size:23px;
}


#converter label {
	position:relative;
    display:block;
    font-size:13px;
    padding:0 0 0 20px;
    line-height:15px;
    margin-top:4px;
}

#converter label input[type="checkbox"] {
	position:absolute;
	left: 4px;
    top: 2px;
}

#newsletter_container {
	position:relative;
}

#convert_submit p {
    position:relative;
}

.loader {
	display:none;
	width:16px;
	height:16px;
}
.loader.visible {
	display:block;
}

.convert-message {
    margin:40px 0 0 0;
    text-align:center;
}

.convert-message div {
	font-size:22px;
    color:#555;
}

.convert-message .file-name {
	width:290px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: nowrap;
}
.convert-message img {
    margin:30px 0 20px 0px;
}

.convert-message p {
    margin:0px;
}





/** Home **/


#home #col-main a {
    color:#ee5b21;
}

#home #col-main {
    position:relative;
}

#home #col-main h3 {
    font-size:17px;
    margin:39px 0px 26px 0px;
}

#home #col-main ul {
    width:260px;
    font-size:16px;
    margin:0px;
}

#home #col-main li {
    margin-bottom:13px;
    padding-left:37px;
    position:relative;
    color:#39393a;
    line-height:22px;
    font-size:14px;
}

#home #col-main li div {
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat -399px -4px;
    width: 21px;
    height: 16px;
    position:absolute;
    top:5px;
    left:0;
}

#home #col-main p {
    margin:2px 0px;
    color:#39393a;
}

#home-laptop {
    position:absolute;
    top:14px;
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat 0 -353px;
    width: 386px;
    height: 198px;
    /*
    transition:right 1s, opacity 1s;
    right:-121px;
    opacity:0;
    */

    right:-101px;
    opacity:1;
}

#home-laptop.located {
	right:-101px;
	opacity:1;
}

#home #col-main .button-flat {
    margin:47px 0px 40px 0px;
    line-height: 1.5;
    min-width:295px;
    padding-left:20;
    padding-right:20;
}




/** About **/

#about #col-main .heading-1.trim {
    padding-right:50px;
    margin-bottom:20px;
}

#about #col-main .col-sizing > div#nitro-row {
    background:#f8f8f8;
    padding:18px 0px 18px 40px ;
    width:2000px;
    margin-top:5px;
}


#nitro-row a {
    font-weight:bold;
    font-size:19px;
}

#nitro-row p {
    margin-bottom:0px;
}

#nitro-row #nitro a {
    color:#ee5b21;
}

#nitro,
#nitro-cloud {
    width:255px;
    float:left;
}

#nitro {
    margin-right:25px;
}

#nitro div {
    background: url('/public/images/nitroConversionRedo/nitro-pro.png') no-repeat;
    background-size : 105px auto;
    width: 105px;
    height: 60px;
    margin-bottom:12px;
}

#nitro-cloud div {
    background: url('/public/images/nitroConversionRedo/nitro-cloud.png') no-repeat;
    background-size : 105px auto;
    width: 105px;
    height: 60px;
    margin-bottom:12px;
}

#about #intro img {
    margin-bottom:10px;
}

#about #nitro-row img {
    margin-bottom:15px;
}

#about #lenovo {
    font-style: italic;
    font-size:18px;
    color:#333;
}

#about #lenovo-logo {
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat 0px -220px;
    width: 255px;
    height: 50px;
    float:left;
    margin:10px 22px 0px 0px;
}

#about #lenovo p {
    float:left;
    width:250px;
    font-size:16px;
}

#about #col-main .heading-1.trim {
    margin-bottom:16px;
}




/** Business **/

#business #col-main .heading-1 {
    margin-bottom:0px;
}

form.vlp {
    margin:16px 0px;
    float:left;
}

form.vlp li {
    margin-bottom:18px;
    position:relative;
}

form.vlp .loader {
	position: absolute;
    display: block;
    top: 26px;
    left: 330px;
}

form.vlp label.checkbox {
    width:222px !important;
}

.firefox form.vlp .loader {
    left:340px;
}

form.vlp input[type="text"] {
    width:223px;
}
form.vlp select {
    text-indent: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 185px;
    padding-right: 27px;
}

@-moz-document url-prefix() {
    form.vlp select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
    }
}


form.vlp .button-flat.orange {
    min-width:225px;
    font-size:21px;
    padding:21px inherit;
    margin-top:2px;
}

form.vlp textarea {
    width: 224px;
    height: 60px;
    resize: none;
    border-radius: 3px;
    border: 1px #ccc solid;
    color: #777;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    float: left;
    display: block;
    padding: 10px 10px 9px 10px;
}


#logobar {
    float:right;
    width:200px;
    margin-right:30px;
    margin-top:25px;
    text-align:center;
}

#logobar p {
   color:#5d5d5d;
}

#logobar div {
    width:120px;
    height:70px;
    background-image: url('/public/images/nitroConversionRedo/sprite.png');
    background-repeat:no-repeat;
    margin:auto;
}

#logobar div#logo-dell {
    background-position: 0 -281px;
    width: 57px;
    height: 59px;
    margin:28px auto 35px auto;
}

#logobar div#logo-xerox {
    background-position: -268px -233px;
    width: 92px;
    height: 31px;
    margin-bottom:50px;
}

#logobar div#logo-pepsi {
    background-position: -65px -280px;
    width: 96px;
    height: 25px;
    margin-bottom:42px;
}

#logobar div#logo-wm {
    background-position: -374px -229px;
    width: 87px;
    height: 39px;
    margin-bottom:51px;
}

#logobar div#logo-boa {
    background-position: -178px -282px;
    width: 90px;
    height: 70px;
}

#logobar div span {
    display:none;
}




/** Thanks **/

#thanks #col-main .heading-1 {
    margin-bottom:0px;
}

#thanks #col-main a {
    color:#ee5b21;
}

#thanks #col-main p {
    margin-bottom:35px;
}

#thanks #col-main p strong {
    color:#444;
    display:block;
    margin-top:-15px;
}

#thanks .trim {
    padding-right:55px;
}

#thanks .resource-center {
    padding:50px 0px 70px 175px;
    position:relative;
    top:35px;
}

#thanks .resource-icon {
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat -399px -353px;
    width: 143px;
    height: 181px;
    position:absolute;
    left:0px;
    top:0px;
}

#thanks #col-main .resource-center .heading-1 {
    margin-bottom:10px;
}


/** Modals **/

.modal-header {
    border-bottom:1px solid #c5c5c5;
}

.modal-header .heading-1 {
    margin:0px;
    color: white;
}
.modal-header .heading-1 strong {
    color: #EF5B23;
}

.modal .modal-wrapper {
    background:#fff;
}

.modal-footer {
    border-top:1px solid #c5c5c5;
}

.modal-header,
.modal-footer {
    background:#39393A;
    padding:20px;
}



/** Faq **/

#modal-faq {
    width:620px;
    line-height:1.4;
}

#modal-faq a {
    color:#ee5b21;
    font-weight:bold;
}


#modal-faq .modal-padding {
    padding:20px;
}

#modal-faq .modal-body {
    height:470px;
    overflow-y:auto;
}

#modal-faq strong {
    color:#333;
}

#modal-faq p {
    color:#666;
    font-size:15px;
}

#modal-faq .margin {
    margin-bottom:30px;
}


/** Errors **/

.modal-error {
    width:480px;
    text-align:center;
}

.modal-error .modal-error-icon {
    margin:20px;
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat -1px -1px;
    width: 107px;
    height: 112px;
    display:inline-block;
}

.modal-error .modal-padding {
    padding:20px;
}

.modal-error .modal-body .heading-1 {
    margin:0px;
}

.modal-error .modal-body a {
    margin:20px 0 10px 0;
    display:block;
    color:#ee5b21;
    font-weight:bold;
}

.modal-error .modal-footer .heading-1 {
    margin:0px;
    font-weight:600;
    color: #fff;
}

.modal-error .modal-footer p {
    padding:0px 20px;
    margin:10px 0px 20px 0px;
}

.modal-error p {
    color:#fff;
    margin:2px 0px;
}

.modal p.subtitle {
    color:#555555;
    margin:2px 0px;
}

.modal-error .heading-1.filename {
    margin-bottom:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:420px;
    padding:0px 10px;
    color: #555;

}
.modal-error .heading-1.filename.green {
	color:#00c120;
}

.modal-error .modal-footer .modal-padding {
    padding:10px 0px 15px;
}

.doc-icon {
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat -1px -124px;
    width: 135px;
    height: 84px;
    display:inline-block;
    margin-bottom:10px;
}

.modal-error.limit .modal-body .trim {
    padding:0px 55px;
}

.modal-error.generic .modal-body .trim {
    padding:0px 0px;
}

.modal-error.generic .orange {
    font-weight:700;
}

.modal-error.success .heading-1.inbox {
    padding:30px 0px 10px 0px;
}

.modal-error.success .modal-success-icon {
    margin:20px;
    background: url('/public/images/nitroConversionRedo/sprite.png') no-repeat -121px -1px;
    width: 145px;
    height: 115px;
    display:inline-block;
}




/** Trial **/

#modal-trial {
    width:580px;
}

#modal-trial .modal-padding {
    padding:40px 30px 30px 30px;

}

#modal-trial .modal-padding .modal-body {
    position:relative;
}

#modal-trial form li {
    margin-bottom:20px;
    position:relative;
}

#modal-trial form li.submit-section {
	width:auto;
}

#modal-trial form .loader {
	position: absolute;
	display: block;
	top: 22px;
	left: 340px;
}
.firefox #modal-trial form .loader {
	left:320px;
}

#modal-trial .button-flat.orange {
    min-width: 235px;
    font-size:22px;
    padding:18px 0px;
}

.firefox #modal-trial .button-flat.orange {
    min-width:200px;
}

#modal-trial .logo-bar {
    position:absolute;
    top: -30px;
    right:15px;
}

#modal-trial .logo-bar li {
    width:100px;
    text-align:center;
    margin-bottom: 5px;
    position:relative;
}

#modal-trial .logo-bar li div {
    background-image: url('/public/images/nitroConversionRedo/sprite.png');
    background-repeat:no-repeat;
    margin:0px auto 10px auto;
    height: 77px;
}

#modal-trial .logo-bar li#create div {
    background-position: -142px -125px;
    width: 79px;
}

#modal-trial .logo-bar li#edit div {
    background-position: -238px -127px;
    width: 81px;
}

#modal-trial .logo-bar li#convert div {
    background-position: -330px -125px;
    width: 72px;
}

/** Trial Redux **/
#modal-trial.redux .modal-header, #modal-trial.redux .modal-footer {
    background: #ffffff;
}
#modal-trial.redux .modal-header {
    text-align: center;
}
#modal-trial.redux .gray-text {
    color: #5d5d5d;
}
#modal-trial.redux .dark-gray-text {
    color: #39393a;
}
#modal-trial.redux .modal-header .heading-1 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
}
#modal-trial.redux .modal-header .heading3 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
#modal-trial.redux .modal-padding {
    background: #f5f5f5;
    padding: 30px 25px 25px;
}
#modal-trial.redux .modal-wrapper {
    border-radius: 3px;
}
#modal-trial.redux form li.checkbox-container {
    float: left;
    width: 100%;
}
#modal-trial.redux form li.shake-container {
    width: 220px;
    float: left;
}
#modal-trial.redux form li:nth-child(even).shake-container {
    margin-right: 20px;
}
#modal-trial.redux form li.submit-section {
    clear: both;
}
#modal-trial.redux form li.checkbox-container label {
    margin-left: 0;
    width: 100% !important;
}
#modal-trial.redux .styled-forms .password-container,
#modal-trial.redux .styled-forms .password-container label {
    position: relative;
}
#modal-trial.redux .styled-forms .password-container label span {
    position: absolute;
    height: 18px;
    width: 18px;
    background: url('https://cdn.gonitro.com/images/sites/gonitro/common/tooltip-sprite.png') no-repeat center top;
    top: 1px;
    right: -16px;
}
#modal-trial.redux .styled-forms .password-container label span.hover,
#modal-trial.redux .styled-forms .password-container label span:hover {
    background-position: center -19px;
}
#modal-trial.redux .styled-forms .password-container .tooltip-bg {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
    background: rgb(0, 0, 0);
}
#modal-trial.redux .styled-forms .password-container .tooltip-message {
    width: 250px;
    height: auto;
    top: -130px;
    left: 0;
    position: absolute;
    z-index: 9999999;
}
#modal-trial.redux .styled-forms .password-container .tooltip-message:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: outset 10px;
    border-color: white transparent transparent transparent;
    border-bottom-style: solid;
    position: absolute;
    bottom: -21px;
    z-index: 98;
    border-width: 11px 8px;
    right: 135px;
}
#modal-trial.redux .styled-forms .password-container .tooltip-message p {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
}
#modal-trial.redux .styled-forms .password-container .tooltip-message p:first-child {
    background: #39393a;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
}
#modal-trial.redux .styled-forms .password-container .tooltip-message p:last-child {
    background: #ffffff;
    color: #39393a;
    border-radius: 0 0 3px 3px;
    padding-bottom: 15px;
}
#modal-trial.redux .styled-forms .password-container .tooltip-message p span {
    position: absolute;
    right: 5px;
    top: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}
#modal-trial.redux .styled-forms .shake-container label {
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 12px;
    color: #c4c4c4;
    /*position: absolute;*/
    /*left: 20px;*/
    /*top: 0;*/
    /*text-align: left;*/
    /*cursor: text;*/
    /*order: 1;*/
}
#modal-trial.redux .styled-forms .shake-container label.active {
    color: #5d5d5d;
}
#modal-trial.redux .styled-forms
#modal-trial.redux .styled-forms input {
    order: 2;
    width: 100%;
    height: 55px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #d3d3d3;
    border: 1px solid #d3d3d3;
}
.styled-forms input[type="password"] {
    padding: 10px 10px 9px 10px;
}
#modal-trial.redux .styled-forms input.active {
    border-color: #5d5d5d;
}
#modal-trial.redux .styled-forms input[type=checkbox] {
    float: left;
    width: 15px;
    height: 15px;
    margin: 3px 10px 0 0;
}
#modal-trial.redux .styled-forms input[type="password"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
}
#modal-trial.redux .modal-wrapper {
    box-shadow: none;
}
#modal-trial.redux input {
    padding: 17px 10px 17px 10px;
    box-shadow: none;
    width: 100%;
}
#modal-trial.redux input:-webkit-autofill,
#modal-trial.redux textarea:-webkit-autofill,
#modal-trial.redux select:-webkit-autofill {
    background-color: white;
    background-image: none;
    color: #ffffff;
    font-weight: normal;
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #39393a !important;
    -moz-box-shadow: 0 0 0 0 rgba(57, 57, 58, 0);
    -ms-box-shadow: 0 0 0 0 rgba(57, 57, 58, 0);
    -o-box-shadow: 0 0 0 0 rgba(57, 57, 58, 0);
}


#modal-trial.redux input::-webkit-input-placeholder {
    color: #c4c4c4;
}
#modal-trial.redux input,
#modal-trial.redux input:focus::-webkit-input-placeholder {
    color: #5d5d5d;
}
/*error states*/
#modal-trial.redux .error input::-webkit-input-placeholder {
    color: red;
}
#modal-trial.redux .error input:-moz-placeholder { /* Firefox 18- */
    color: red;
}
#modal-trial.redux .error input::-moz-placeholder {
    /* Firefox 19+ */
    color: red;
}
#modal-trial.redux .error input:-ms-input-placeholder {
    color: red;
}

#modal-trial.redux .button-flat.orange {
    width: 100%;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
}
#modal-trial.redux .modal-footer-text {
    padding: 0;
    margin: 0;
}
#modal-trial.redux .modal-footer-text p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
#modal-trial.redux .modal-footer-text a {
    color: #ee5b21;
    font-weight: bold;
}
/** Errors **/

.error-page .heading-1 {
    font-size:100px;
    margin:50px 0px 0px 0px;
}

.error-page .heading-3 {
    margin-bottom:25px;
    margin-top:0px;
}

.error-page .content {
    position:absolute;
    right:50px;
    width:350px;
}

.error-page p {
    font-size:20px;
    margin:0px;
}

.error-404 {
    background:url(/public/images/nitroConversionRedo/error-404-icon.png) no-repeat 50px 75px;
    min-height:600px;
    position:relative;
}

.error-500 {
    background:url(/public/images/nitroConversionRedo/error-500-icon.png) no-repeat 20px 75px;
    min-height:600px;
    position:relative;
}

.error-page.error-500 .content {
    position:absolute;
    right:20px;
    width:400px;
}

.error-page.error-500 p {
    margin-bottom:10px;
}

.sitemap h4 {
    font-weight:400;
    margin:20px 0px;
}


/** Maintenance Mode **/

#maintenance-container {
    background:url(/public/images/nitroConversionRedo/maintenance.jpg) no-repeat 0px 25px;
    height:650px;
    position:relative;
    top:0px;
    width:330px;
    margin-top:-30px;
}

#maintenance-message {
    background:white;
    height:360px;
    width:200px;
    border-top:1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-radius: 200px 0 0 200px;
    position:absolute;
    right:0px;
    top:120px;
}

#maintenance-message div {
    font-size:14px;
    text-align:right;
    padding-top:30px;
    background:url(/public/images/nitroConversionRedo/icon-maintenance.png) no-repeat right top;
    line-height:1.4;
    width:160px;
    position:absolute;
    right:20px;
    top:70px;

}

#maintenance-message p {
    margin:20px 0px;
}

#maintenance-message p.trim {
    padding-left:20px;
    margin-bottom:5px;
    padding-right:0px;
}

#maintenance-message a.trim {
    text-decoration:underline;
    color:#ee5b21;
    font-weight:700;
    padding-right:0px;
}



/**********************************
************ Loc Fixes ************
***********************************/


.localized .footer-links {
    width:660px;
    margin:10px 0px 20px 0px;
}

.localized #col-main {
    min-height:690px;
}

.localized .styled-forms label {
    line-height:1.2;
}


/* Converter */

.lang-ru #converter h1 {
    font-size:17px;
    font-weight:bold;
}

.lang-fi #converter h1 {
    padding-right:80px;
    font-size: 18px;
    font-weight: bold;
}

.lang-de #converter {
    padding-top: 20px;
}

.lang-de #converter h1 {
    font-size: 20px;
    font-weight: bold;
}

.lang-fr #converter h1,
.lang-sv #converter h1 {
    font-size:21px;
}

.lang-it #converter h1,
.lang-nl #converter h1,
.lang-pt #converter h1,
.lang-es #converter h1 {
    font-size:22px;
}

.localized #converter .sup {
    float:left;
    margin:-8px 3px 0px 0px;
}

.localized div.form-container {
    width:292px;
}

.localized #converter .steps li {
    margin-top:40px;
}

.localized #converter .label {
    line-height:1.4;
    position:relative;
}

.localized #converter #converter-help {
    position:absolute;
    margin-top:2px;
}

.lang-fr #converter #file_select #file-uploader {
    font-size:20px;
    padding-top:18px;
}

.lang-fi #converter #email_input .label {
    font-size:15px;
}

.lang-fr #converter .button-flat.blue  {
    font-size:22px;
}



/* Home Page */

.localized #home #col-main ul {
    width:345px;
}

.localized #logobar {
    float: left;
    margin-right:0px;
    margin-left:40px;
}

.lang-nb.localized #home #col-main .heading-1 {
    padding-right:110px;
}

.localized #home-laptop {
    right:-160px;
}

.localized #home-laptop.located {
    right:-130px;
}

.lang-nl.localized #home-laptop {
    right:-190px;
}

.lang-nl.localized #home-laptop.located {
    right:-170px;
}

.lang-nl.localized #home #col-main ul {
    width:370px;
}

.lang-ru.localized #home #col-main ul {
    width:355px;
}

.lang-de.localized #home-laptop {
    right:-200px;
}

.lang-de.localized #home-laptop.located {
    right:-160px;
}

.lang-sv.localized #home-laptop {
    right:-200px;
}

.lang-sv.localized #home-laptop.located {
    right:-160px;
}

.lang-nb.localized #home-laptop {
    right:-200px;
}

.lang-nb.localized #home-laptop.located {
    right:-160px;
}

.lang-fi.localized #home-laptop {
    right:-180px;
}

.lang-fi.localized #home-laptop.located {
    right:-150px;
}

.lang-da.localized #home-laptop {
    right:-200px;
}

.lang-da.localized #home-laptop.located {
    right:-160px;
}

.lang-ru.localized #home-laptop {
    right:-200px;
}

.lang-ru.localized #home-laptop.located {
    right:-160px;
}

.lang-pt.localized #home-laptop {
    right:-200px;
}

.lang-pt.localized #home-laptop.located {
    right:-160px;
}

.lang-nl.localized #home-laptop {
    right:-210px;
}

.lang-nl.localized #home-laptop.located {
    right:-180px;
}

.lang-da.localized .home-list {
    margin-top: 52px;
}

.lang-it.localized .home-list {
    margin-top: 42px;
}

.lang-ru.localized .home-list {
    margin-top: 42px;
}

.lang-nl.localized #home #col-main ul li {
    margin-bottom:17px;
}

.lang-sv  #home #col-main,
.lang-nb  #home #col-main,
.lang-fi  #home #col-main {
    padding-bottom:20px;
}

.lang-de #home #col-main h3 {
    margin-top:53px;
}

.lang-es #home #col-main h3 {
    margin-top:56px;
}

.lang-fr #home #col-main h3 {
    margin-top:54px;
}

.lang-it #home #col-main h3 {
    margin-top:52px;
}

.lang-nl #home #col-main h3 {
    margin-top:38px;
}

.lang-da #home #col-main h3 {
    margin-top:51px;
}

.lang-ru #home #col-main h3 {
    margin-top:41px;
}

.lang-pt #home #col-main h3 {
    margin-top:53px;
}

.lang-ru #home #col-main .button-flat {
    margin-top:38px;
}

.lang-fi #nitro-info {
    width: 560px;
}


/* Business */

.localized #vlp label.checkbox,
.localized .trial label.checkbox{
    margin: 0 0 10px 141px;
    text-align: left;
    width: 212px !important;
    padding: 0;
    height: auto;
    line-height: 20px;
    float:none;
}

.localized  #vlp label.checkbox input,
.localized  .trial label.checkbox input {
    margin-left:-16px;
}

.lang-de #business label[for="num-users"],
.lang-ru #business label[for="num-users"],
.lang-es #business label[for="email"] {
    height:39px;
    padding:0px 8px 0px 0px;
}

.lang-sv #business .button-flat.orange {
    font-size:14px;
}

.lang-fi #business .button-flat.orange {
    font-size:18px;
}


/* About */

.localized #about #nitro-row a {
    font-size:16px;
}

.localized #about #lenovo-logo {
    margin:auto;
    float:none;
}

.localized #about #lenovo p {
    width:auto;
    text-align:center;
    float:none;
}


/* Trial Modal */

.lang-ru #modal-trial .submit-section label {
    display:none;
}

.lang-ru #modal-trial .submit-section .button-flat.orange {
    width:360px;
}

/* Business Page Form */

.lang-da .styled-select:before, .lang-da .styled-select:after,
.lang-sv .styled-select:before, .lang-sv .styled-select:after,
.lang-ru .styled-select:before, .lang-ru .styled-select:after,
.lang-fi .styled-select:before, .lang-fi .styled-select:after,
.lang-pt .styled-select:before, .lang-pt .styled-select:after,
.lang-nb .styled-select:before, .lang-nb .styled-select:after,
.lang-fr .styled-select:before, .lang-fr .styled-select:after,
.lang-it .styled-select:before, .lang-it .styled-select:after,
.lang-nl .styled-select:before, .lang-nl .styled-select:after,
.lang-es .styled-select:before, .lang-es .styled-select:after,
.lang-de .styled-select:before, .lang-de .styled-select:after {
    left: 330px;
}



/**********************************
************ IE Fixes ************
***********************************/


.ie8 #converter label input[type="checkbox"] {
    margin-top:-4px;
}

.ie8 form.vlp .button-flat.orange {
    width:225px;
    padding-left:10px;
    min-width: auto;
}

.ie8 .close-btn {
    background-image: url('/public/images/nitroConversionRedo/sprite.png');
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.ie8 .close-btn:hover {
    background-color:#bbb;
}

.hasPlaceholderText {
    color: #aaa;
}

.ie8 .localized #about #nitro-row a {
    font-size:15px;
}

.ie8 #file-uploader,
.ie9 #file-uploader {
    display:none!important;
}

.ie8 input[type="file"],
.ie9 input[type="file"]{
    display:inline!important;
    border:1px #CCC solid;
    background:white;
}


/**********************************
************ Primo Bar ************
***********************************/

#primo-bar {
    background:#103747;
    color:#24aadf;
    text-align:center;
    height:66px;
    margin-top:-66px;
}

#primo-bar a {
    color:#71d3f9;
}

#primo-bar span,
#primo-bar a,
#primo-bar img {
    display:inline-block;
    vertical-align: middle;

}

#primo-bar a {
    margin-left:20px;
}

#primo-logo {
    margin:0px 5px;
}

#primo-bar .grid_12 {
    position:relative;
    padding:15px;
}

#primo-close {
    position:absolute;
    top:8px;
    right:20px;
    width:16px;
    height:16px;
    background:url(/public/images/primo-close.png) no-repeat;
}

#primo-close span {
    display:none;
}
