/* Reset */
.dcwss ul, .dcwss li {
	padding: 0; 
	margin: 0; 
	list-style: none!important;
	background: none;
}
pre .stream {
	white-space: pre-wrap;
}

/* Main styles */

/* Feeds */
.dcwss.dc-feed {
	border-radius: 7px;
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
    list-style: none outside none;
    margin: 0;
    padding: 10px 10px 5px 10px;
	overflow: hidden;
}
.dcwss.dc-feed.dark {
	background: #555 url(../images/noize.png) repeat;
    color: #F0F0F0;
}
.dcwss.dc-feed.light {
	background: #E5E5E5;
    color: #444;
}
.dcwss.dc-feed .stream li {
	padding: 0;
	position: relative;
    font-size: 11px;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
    margin: 0 0 4px 0;
	font-family: Arial, sans-serif;
	line-height: 1.35em;
}
.dcwss.dc-feed.dark .stream li {
	color: #fff;
	background: #333 url(../images/noize.png) repeat;
	border: 1px solid #292929;
}
.dcwss.dc-feed.light .stream li {
	color: #444;
	background: #fff;
    border: 1px solid #D3D3D3;
}
.dcwss.dc-feed.dark .stream li a {
	color: #9BDFE4;
	text-decoration: none;
}
.dcwss.dc-feed.light .stream li a {
	color: #2DB6E8;
	text-decoration: none;
}
.dcwss.dc-feed .dcwss-content {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0 0 5px 0;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
}
.dcwss.dc-feed .dcwss-loading {
	background: url(../images/loading_dark.gif) no-repeat 0 0;
	height: 24px;
	padding: 6px 0 0 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.dcwss.dc-feed .stream li .inner {
	padding: 10px;
	margin: 0;
	position: relative;
	line-height: 1.4em;
}
.dcwss.dc-feed .stream li .icon {
	position: absolute;
	left: 10px;
	bottom: 3px;
	z-index: 2;
	width: 22px;
	height: 22px;
    -webkit-border-radius: 0px;
    -moz-box-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.7);
    box-shadow: 0 0 0 rgba(0,0,0,0.7);
}
.dcwss.dc-feed .stream li .clear {
	clear: both;
}

/* Content blocks */
.dcwss.dc-feed .stream li .section-intro {
	clear: both;
	display: block;
	font-style: italic;
	padding: 7px 0 5px 35px;
	margin: 0;
	height: 18px;
	color: #fff;
	border-radius: 0 0 5px 5px; 
	-webkit-border-radius: 0 0 5px 5px; 
	-moz-border-radius: 0 0 5px 5px; 
}
.dcwss.dc-feed .stream li .section-intro a {
	color: #fff;
	text-decoration: underline;
	margin-right: 3px;
}
.dcwss.dc-feed .stream li .section-title {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
	font-size: 12px;
	color: #f0f0f0;
}
.dcwss.dc-feed .stream li .section-title a {
	color: #FCFBEA;
}
.dcwss.dc-feed .stream li .section-title a:hover {
	color: #9BDFE4;
}
.dcwss.dc-feed.light .stream li .section-title, .dcwss.dc-feed.light .stream li .section-title a {
	color: #2DB6E8;
}
.dcwss.dc-feed .stream li .section-thumb {
	float: left;
	margin: 0 7px 0 0;
	max-width: 100%;
}
.dcwss.dc-feed .stream li .section-thumb img {
	border: 1px solid #222;
	padding: 1px;
	background: #fff;
	max-width: 99%;
	margin-bottom: 5px;
}
.dcwss.dc-feed .stream li .section-text img {
	margin: 0 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 99%;
}
.dcwss.dc-feed .stream li .section-text {
	display: block;
	max-width: 100%;
	margin-bottom: 5px;
}
.dcwss.dc-feed .stream li .section-text br {
	display: block;
}
.dcwss.dc-feed .stream li .section-user {
	clear: both;
	display: block;
	font-style: italic;
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 5px 0 0 15px;
	line-height: 12px;
	background: url(../images/profile.png) no-repeat 0 5px;
}
.dcwss.dc-feed .stream li.dcwss.dc-feed-error {
	color: #990000;
}

/* Toolbar */
.dcwss.dc-feed .dcsns-toolbar {
	padding: 5px 80px 5px 0;
	position: relative;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
}
/* Filter */
.dcwss.dc-feed .filter {
	padding: 0;
	margin: 0;
}
.dcwss.dc-feed .filter li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0 3px 0 0;
	height: 24px;
}
.dcwss.dc-feed .filter li a {
	padding: 0;
	margin: 0 0 2px 0;
	float: left;
	display: block;
	height: 24px;
}
.dcwss.dc-feed .filter li img {
	margin: 0;
	padding: 1px;
	height: 22px;
    -webkit-border-radius: 0px;
    -moz-box-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.7);
    box-shadow: 0 0 0 rgba(0,0,0,0.7);
}
/* Controls */
.dcwss.dc-feed .controls {
	position: absolute;
	right: 0;
	top: 7px;
	height: 22px;
	padding: 0;
	z-index: 12;
}
.dcwss.dc-feed .controls li {
	display: inline;
	background: none;
	margin: 0!important;
}
.dcwss.dc-feed .controls a {
	display: block;
	width: 22px;
	height: 22px;
	float: left;
	margin: 0 0 0 2px;
}
.dcwss.dc-feed.light .controls a {
	background: url(../images/controls.png) no-repeat 0 0;
}
.dcwss.dc-feed.dark .controls a {
	background: url(../images/controls1.png) no-repeat 0 0;
}
.dcwss.dc-feed.light .controls .prev, .dcwss.dc-feed.dark .controls .prev {
	background-position: -44px 0;
}
.dcwss.dc-feed.light .controls .next, .dcwss.dc-feed.dark .controls .next {
	background-position: -66px 0;
}
.dcwss.dc-feed.light .controls .play, .dcwss.dc-feed.dark .controls .play {
	background-position: 0 0;
}
.dcwss.dc-feed.light .controls .pause, .dcwss.dc-feed.dark .controls .pause {
	background-position: -22px 0;
}
.dcwss.dc-feed.light .controls .prev:hover, .dcwss.dc-feed.dark .controls .prev:hover {
	background-position: -44px -22px;
}
.dcwss.dc-feed.light .controls .next:hover, .dcwss.dc-feed.dark .controls .next:hover {
	background-position: -66px -22px;
}
.dcwss.dc-feed.light .controls .play:hover, .dcwss.dc-feed.dark .controls .play:hover {
	background-position: 0 -22px;
}
.dcwss.dc-feed.light .controls .pause:hover, .dcwss.dc-feed.dark .controls .pause:hover {
	background-position: -22px -22px;
}

/* feeds network specific styles */
/* Twitter */
.dcwss.dc-feed .stream li.dcsns-twitter .section-thumb {
	margin-top: 3px;
}
.dcwss.dc-feed .stream li.dcsns-twitter .section-user {
	padding: 0;
	background: none;
}
.dcwss.dc-feed .stream li.dcsns-twitter .section-text img {
	margin: 5px 0 0;
}
.dcwss.dc-feed .stream li.dcsns-twitter a {
	color: #4EC2DC;
}
.dcwss.dc-feed .stream li.dcsns-twitter .section-intro a, .dcwss.dc-feed .stream li.dcsns-twitter .section-intro a:hover {
	color: #fff;
}
.dcwss.dc-feed .stream li.dcsns-twitter .section-intro span a {
	text-decoration: none;
	margin-left: 0;
}
.dcwss.dc-feed .stream li.dcsns-twitter .section-intro span a:hover {
	text-decoration: underline;
}
.dcwss.dc-feed .stream li.dcsns-twitter a:hover {
	color: #4EC2DC;
	text-decoration: underline;
}
.dcwss.dc-feed .stream li.dcsns-twitter .twitter-user {
	margin-bottom: 2px;
	display: block;
}
.dcwss.dc-feed .stream li.dcsns-twitter .twitter-user a {
	color: #999;
	line-height: 1.35em;
}
.dcwss.dc-feed .stream li.dcsns-twitter .twitter-user a:hover {
	color: #999;
	text-decoration: none;
}
.dcwss.dc-feed .stream li.dcsns-twitter .twitter-user a strong{
	color: #fff;
}
.dcwss.dc-feed.light .stream li.dcsns-twitter .twitter-user a strong{
	color: #444;
}
.dcwss.dc-feed .stream li.dcsns-twitter .twitter-user a:hover strong {
	color: #4EC2DC;
	text-decoration: underline;
}
/* Facebook */
.dcwss.dc-feed .stream li.dcsns-facebook .meta {
	display: block;
	clear: both;
}
.dcwss.dc-feed .stream li.dcsns-facebook .meta.item-comments {
	padding: 0;
	min-height: auto;
}
.dcwss.dc-feed .stream li.dcsns-facebook .meta.item-comments a {
	display: block;
	margin: 0 0 2px 0;
}
.dcwss.dc-feed .stream li.dcsns-facebook .share-facebook {
	display: none;
}
/* google */
.dcwss.dc-feed .stream li.dcsns-google .section-title {
	margin-bottom: 5px;
}
.dcwss.dc-feed .stream li.dcsns-google .meta span.plusones {
	padding-left: 0;
}
/* vimeo */
.dcwss.dc-feed .dcwss.dc-feed .stream li.dcsns-vimeo .section-title {
	display: block;
	clear: both;
}
.dcwss.dc-feed .stream li.dcsns-vimeo .section-text {
	margin-bottom: 5px;
}
.dcwss.dc-feed .stream li.dcsns-vimeo .section-text .meta {
	padding-top: 5px;
}
.dcwss.dc-feed .stream li.dcsns-vimeo .logo {
	margin-bottom: 3px;
}
/** Flickr **/
.dcwss.dc-feed .stream li.dcsns-flickr .section-thumb {
	margin: 0;
}
.dcwss.dc-feed .stream li.dcsns-flickr .inner {
	padding-bottom: 5px;
}
/* Pinterest */
.dcwss.dc-feed .stream li.dcsns-pinterest .section-thumb {
	display: block;
}
.dcwss.dc-feed .stream li.dcsns-pinterest .section-text {
	clear: both;
}
/* dribbble */
.dcwss.dc-feed .stream li.dcsns-dribbble .inner img {
	margin-bottom: 5px;
}
/* lastfm */
.dcwss.dc-feed .stream li.dcsns-lastfm .section-title {
	background: url(../images/tracks.png) no-repeat 0 0;
	padding-left: 17px;
	margin-bottom: 0;
}
/* deviantart */
.dcwss.dc-feed .stream li.dcsns-deviantart .section-thumb {
	display: block;
	float: none;
}
/* tumblr */
.dcwss.dc-feed .stream li.dcsns-tumblr .track {
	display: block;
	background: url(../images/tracks.png) no-repeat 0 5px;
	padding: 5px 0 0 17px;
	margin-bottom: 0;
}

/* wall */
.dcsns-toolbar *,
.dcsns-toolbar *:before,
.dcsns-toolbar *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* Feeds */
.dcwss.dc-wall {
    color: #444;
    list-style: none outside none;
    margin: 0;
}
.dcwss.dc-wall ul.stream {
	padding-top: 1px;
	padding-left: 2px;
}
.dcwss.dc-wall .dcwss-content {
	position: relative;
	padding: 0;
}
.dcsns-loading {
	background: url(../images/loading_light.gif) no-repeat 0 center;
	height: 24px;
	font-size: 13px;
	line-height: 24px;
	padding: 0 0 0 28px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.dcsns-toolbar .dcsns-loading {
	right: 10px;
	left: auto;
}
.dcwss.dc-wall .stream li a {
	color: #2DB6E8;
	text-decoration: none;
}
.dcwss.dc-wall .stream li {
	background: #FFF;
	-webkit-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    font-size: 11px;
    padding: 15px 0 0 0;
	position: relative;
	font-family: Arial, sans-serif;
	line-height: 1.35em;
	margin: 0 2% 2% -1px;
}
.dcwss.dc-wall.col-1 .stream li {
	width: 100%;
	margin: 0 0 2% 0;
}
.dcwss.dc-wall.col-2 .stream li {
	width: 48%;
}
.dcwss.dc-wall.col-3 .stream li {
	width: 31%;
}
.dcwss.dc-wall.col-4 .stream li {
	width: 23%;
}
.dcwss.dc-wall.col-5 .stream li {
	width: 18%;
}
.dcwss.dc-wall .stream li .inner {
	overflow: hidden;
	margin: 0 15px 10px 15px;
	width: auto;
}
.dcwss.dc-wall .stream li .icon {
	position: absolute;
	left: 3px;
	bottom: 0;
	z-index: 3;
	margin: 0!important;
    -webkit-border-radius: 0px;
    -moz-box-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.7);
    box-shadow: 0 0 0 rgba(0,0,0,0.7);
}
.dcwss.dc-wall .stream li .section-intro {
    padding: 7px 15px 7px 30px;
	display: block;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	z-index: 2;
	position: relative;
}
.dcwss.dc-wall .stream li .clear {
	clear: both;
}

/* Content blocks */
.dcwss.dc-wall .stream li .section-intro a {
	text-decoration: underline;
	color: #fff;
}
.dcwss.dc-wall .stream li .section-title {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
	max-width: 100%;
}
.dcwss.dc-wall .stream li .section-title a {
	color: #555;
}
.dcwss.dc-wall .stream li .section-title a:hover {
	color: #2DB6E8;
}
.dcwss.dc-wall .stream li .section-thumb {
	float: left;
	margin: 0 7px 0 0;
	max-width: 100%;
}
.dcwss.dc-wall .stream li .section-thumb img {
	border: 1px solid #ccc;
	padding: 1px;
	background: #fff;
	max-width: 98%;
	margin-bottom: 5px;
}
.dcwss.dc-wall .stream li .section-text {
	display: block;
	max-width: 100%;
	margin-bottom: 5px;
}
.dcwss.dc-wall .stream li .section-text img {
	margin: 0 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 98%;
}
.dcwss.dc-wall .stream li .section-text br {
	display: block;
}
.dcwss.dc-wall .stream li .section-user {
	clear: both;
	display: block;
	font-style: italic;
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 5px 0 0 15px;
	line-height: 12px;
	background: url(../images/profile.png) no-repeat 0 5px;
}
.dcwss.dc-wall .stream li.dcsns-error {
	color: #990000;
}
/* Toolbar */
.wall-outer .dcsns-toolbar {
	padding: 0;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 1.5em;
}
/* Filter */
.wall-outer .dcsns-toolbar .filter {
	padding: 0;
	margin: 0 0 15px 0;
}
.wall-outer .dcsns-toolbar .filter li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
	height: 24px;
}
.wall-outer .dcsns-toolbar .filter .link-all {
	color: #fff;
	height: 30px;
	padding: 7px 6px 4px 7px;
	text-shadow: 0 0 1px #555;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
}
.wall-outer .dcsns-toolbar .filter li a {
	padding: 4px 3px 0 3px;
	margin: 0 1px 1px 0;
	display: block;
	float: left;
	height: 30px;
}
.wall-outer .dcsns-toolbar .filter li img {
	margin: 0;
	height: 24px;
	width: 25px;
    -webkit-border-radius: 0px;
    -moz-box-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.7);
    box-shadow: 0 0 0 rgba(0,0,0,0.7);
}
/* Controls */
.dcwss.dc-wall .controls {
	display: none;
}
/* Twitter */
.stream li.dcsns-twitter .section-thumb {
	margin-top: 3px;
}
.stream li.dcsns-twitter .section-thumb img {
	margin-bottom: 0!important;
	width: 48px; 
	height: 48px;
}
.stream li.dcsns-twitter .section-user {
	padding: 0;
	background: none;
}
.stream li.dcsns-twitter .section-text {
	margin-bottom: 0!important;
}
.stream li.dcsns-twitter .section-text img {
	margin-top: 5px!important;
}
.stream li.dcsns-twitter a {
	color: #38AEAE;
}
.stream li.dcsns-twitter .section-intro a, .stream li.dcsns-twitter .section-intro a:hover {
	color: #fff;
}
.stream li.dcsns-twitter .section-intro span a {
	text-decoration: none!important;
	margin-left: 0;
}
.stream li.dcsns-twitter .section-intro span a:hover {
	text-decoration: underline!important;
}
.stream li.dcsns-twitter a:hover {
	color: #38AEAE;
	text-decoration: underline;
}
.stream li.dcsns-twitter .twitter-user {
	margin-bottom: 2px;
	display: block;
}
.stream li.dcsns-twitter .twitter-user a {
	color: #999;
	line-height: 1.35em;
}
.stream li.dcsns-twitter .twitter-user a:hover {
	color: #999;
	text-decoration: none;
}
.stream li.dcsns-twitter .twitter-user a strong{
	color: #444;
}
.stream li.dcsns-twitter .twitter-user a:hover strong {
	color: #38AEAE;
	text-decoration: underline;
}
/* Facebook */
.dcwss.dc-wall .stream li.dcsns-facebook .section-text a {
	margin-right: 4px;
}
.dcwss.dc-wall .stream li.dcsns-facebook .meta {
	display: block;
	clear: both;
}
.dcwss.dc-wall .stream li.dcsns-facebook .meta.item-comments {
	padding: 0;
	min-height: auto;
}
.dcwss.dc-wall .stream li.dcsns-facebook .meta.item-comments a {
	display: block;
	margin: 0 0 2px 0;
}
.dcwss.dc-wall .stream li.dcsns-facebook .share-facebook {
	display: none;
}
/* google */
.dcwss.dc-wall .stream li.dcsns-google .section-title {
	margin-bottom: 5px;
}
.dcwss.dc-wall .stream li.dcsns-google .meta span.plusones {
	padding-left: 0;
}
.dcwss .stream li.dcsns-google .section-share {
	clear: both;
}
/* stumbleupon */
.dcwss.dc-wall .stream li.dcsns-stumbleupon .section-title {
	display: block;
	clear: both;
}
/* vimeo */
.dcsns .dcwss.dc-wall .stream li.dcsns-vimeo .section-title {
	display: block;
	clear: both;
}
.dcwss.dc-wall .stream li.dcsns-vimeo .section-text .meta {
	padding-top: 5px;
}
.dcwss.dc-wall .stream li.dcsns-vimeo .logo {
	margin-bottom: 3px;
}
/** Flickr **/
.dcwss.dc-wall .stream li.dcsns-flickr .section-thumb {
	margin: 0;
}
.dcwss.dc-wall .stream li.dcsns-flickr .section-thumb img{
	margin: 0 0 5px 0;
}
.stream li.dcsns-flickr .section-title {
	clear:both;
}
.stream li.dcsns-flickr .section-share {
	clear:both;
}
/* Pinterest */
.dcwss.dc-wall .stream li.dcsns-pinterest .section-thumb {
	display: block;
}
.dcwss.dc-wall .stream li.dcsns-pinterest .section-text {
	clear: both;
}
/* dribbble */
.dcwss.dc-wall .stream li.dcsns-dribbble .inner img {
	margin-bottom: 5px;
}
/* lastfm */
.dcwss.dc-wall .stream li.dcsns-lastfm .section-title {
	background: url(../images/tracks.png) no-repeat 0 0;
	padding-left: 17px;
	margin-bottom: 0;
}
/* deviantart */
.dcwss.dc-wall .stream li.dcsns-deviantart .section-thumb {
	display: block;
	float: none;
}
/* tumblr */
.dcwss.dc-wall .stream li.dcsns-tumblr .track {
	display: block;
	background: url(../images/tracks.png) no-repeat 0 5px;
	padding: 5px 0 0 17px;
	margin-bottom: 0;
}
/* instagram */
.dcwss .stream li.dcsns-instagram .section-title {
	font-weight: normal;
	clear: both;
}
.dcwss .stream li.dcsns-instagram .meta {
	clear: both;
}
.dcwss .stream li.dcsns-instagram .section-meta .meta .comments, .stream li.dcsns-instagram .section-meta .meta .likes {
	margin: 0 0 5px 0;
	padding-top: 5px;
	background-position: 0px 5px;
	float: none;
	font-size: 100%;
	font-weight: bold;
}

/* Section share */
.dcwss .stream li .section-share {
	display: block;
	margin: 0;
	padding: 4px 0 0;
	float: right;
}
.dcwss .stream li .section-share a {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 2px 0 0;
	background: url(../images/share.png) no-repeat 0 0;
}
.dcwss .stream li .section-share a.share-twitter {
	background-position: 0 -16px;
}
.dcwss .stream li .section-share a.share-reply {
	background-position: 0 -32px;
}
.dcwss .stream li .section-share a.share-retweet {
	background-position: 0 -48px;
}
.dcwss .stream li .section-share a.share-favorite {
	background-position: 0 -64px;
}
.dcwss .stream li .section-share a.share-google {
	background-position: 0 -80px;
}
.dcwss .stream li .section-share a.share-linkedin {
	background-position: 0 -96px;
}
.dcwss .stream li .section-share a.share-facebook:hover {
	background-position: -16px 0;
}
.dcwss .stream li .section-share a.share-twitter:hover {
	background-position: -16px -16px;
}
.dcwss .stream li .section-share a.share-reply:hover {
	background-position: -16px -32px;
}
.dcwss .stream li .section-share a.share-retweet:hover {
	background-position: -16px -48px;
}
.dcwss .stream li .section-share a.share-favorite:hover {
	background-position: -16px -64px;
}
.dcwss .stream li .section-share a.share-google:hover {
	background-position: -16px -80px;
}
.dcwss .stream li .section-share a.share-linkedin:hover {
	background-position: -16px -96px;
}
/* Theme correction */
.entry .dcsns-toolbar img, .entry .dcwss img.icon {
	background: none; 
	border: none; 
	padding: 0; 
	margin: 0;
} 
.post ul.stream li {
	background: none;
}

/*isotope */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/* Common */
.dcwss .stream p {
	margin: 0;
	padding: 0;
}
.dcwss .stream li .meta {
	display: block;
	font-size: 90%;
	color: #999;
}
.dcwss .stream li .meta span {
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 0 0 0 15px;
	line-height: 12px;
}
.dcwss .meta span.shares {
	background: url(../images/shares.png) no-repeat 0 0;
	padding-left: 20px;
}
.dcwss .meta span.views {
	background: url(../images/views.png) no-repeat 0 0;
	padding-left: 18px;
}
.dcwss .meta span.likes {
	background: url(../images/likes.png) no-repeat 0 0;
	padding-left: 16px;
}
.dcwss .meta span.comments {
	background: url(../images/comments.png) no-repeat 0 0;
}
.dcwss .meta span.users {
	background: url(../images/users.png) no-repeat 0 0;
}
.dcwss .meta span.videos {
	background: url(../images/videos.png) no-repeat 0 0;
	padding-left: 16px;
}
.dcwss .stream li .section-meta {
	display: block;
	margin: 0;
	padding: 0;
	clear: both;
}
.dcwss .stream li .meta.item-comments {
	padding: 0 0 0 35px;
	margin: 0 0 5px 0;
	min-height: 30px;
	position: relative;
	clear: both;
	line-height: 1.3em;
}
.dcwss .stream li .meta.item-comments img {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
}
.dcwss .stream li .meta.item-likes {
	padding: 0;
	width: 100%;
	overflow: hidden;
	clear: both;
	line-height: 1.3em;
}
.dcwss .stream li .meta.item-likes img {
	float: left;
	margin: 0 5px 5px 0;
	width: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
}