.ac_results {
	padding: 0px;
	border: 1px solid #B1B1B1;
	background-color: white;
	overflow: hidden;
}

.ac_results strong {
	color:#25A7DE;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	text-align:left;
}
.ac_loading {
	background : url('/sharedDocs/images/frontend/loading.gif') right center no-repeat;
}

.ac_odd {
	background-color: white;
}

.ac_over {
	background-color: #F1F1F1;
}