body {
  min-width: auto;
  overflow-x: hidden; }

#container {
  min-width: auto; }

#un_support_dialog {
  position: fixed; }

/*  Layout  */
body,
#container,
footer {
  min-width: 320px; }

header {
  position: fixed;
  overflow: hidden;
  min-width: 320px;
  -webkit-overflow-scrolling: touch; }

/*  Header  */
header h1 {
  width: 82px; }

header h1 a {
  margin-left: 0;
  width: 100%; }

/*  Header - Nav  */
header nav {
  height: 100%; }

header nav h2 {
  position: relative;
  width: 100%;
  height: 72px;
  margin: 0px;
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.74);
  font-size: 15px;
  text-align: center;
  z-index: 900; }

header nav h2:first-of-type {
  display: block;
  background: center / contain no-repeat;
  background-image: url(../../img/common/header/header-control-open.svg);
  background-color: black;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer; }

header nav h2:last-of-type {
  background: center / contain no-repeat;
  background-image: url(../../img/common/header/header-control-scrollable.svg);
  background-color: black; }

header nav h2:last-of-type:hover {
  background-image: url(../../img/common/header/header-control-scrollable-hover.svg); }

header nav ul {
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
  margin: 0px auto;
  padding: 0px 42px 30px; }

header nav ul:first-of-type {
  min-height: calc(100% - 144px);
  z-index: 200; }

header nav ul:last-of-type {
  margin-top: 0px;
  z-index: 100; }

header nav a {
  justify-content: center; }

/*  Header - Nav - Items  */
header nav li {
  width: 100%;
  padding: 0px;
  text-align: center; }

header nav ul:last-of-type li {
  width: 45%; }

header nav ul li.button {
  width: 100%;
  height: 54px;
  margin: 22px 0px; }

header nav ul li a {
  padding: 0px; }

/*  Themes - White  */
#corporate header nav h2:first-of-type {
  background: url(../../img/common/header/header-control-open-reversal.svg) no-repeat center top;
  background-color: white; }

#corporate header nav h2:first-of-type:hover {
  background: url(../../img/common/header/header-control-open-hover-reversal.svg) no-repeat center top; }

#corporate.covered header nav h2:first-of-type {
  background: url(../../img/common/header/header-control-close-reversal.svg) no-repeat center top;
  background-color: white; }

#corporate.covered header nav h2:first-of-type:hover {
  background: url(../../img/common/header/header-control-close-hover-reversal.svg) no-repeat center top; }

#corporate header nav h2:last-of-type {
  background-color: black; }

#products header nav h2:last-of-type {
  background-image: url(../../img/common/header/header-control-scrollable-reversal.svg);
  background-color: white;
  color: rgba(0, 0, 0, 0.74); }

#products header nav h2:last-of-type a {
  color: inherit; }

#products header nav h2:last-of-type:hover {
  background-image: url(../../img/common/header/header-control-scrollable-hover-reversal.svg); }

/*  Themes - Transparent  */
#corporate header.transparent nav h2:first-of-type {
  background: url(../../img/common/header/header-control-open.svg) no-repeat center top;
  background-color: rgba(128, 128, 128, 0); }

#corporate header.transparent nav h2:first-of-type:hover {
  background: url(../../img/common/header/header-control-open-hover.svg) no-repeat center top; }

#corporate.covered header.transparent nav h2:first-of-type {
  background: url(../../img/common/header/header-control-close-reversal.svg) no-repeat center top; }

#corporate.covered header.transparent nav h2:first-of-type:hover {
  background: url(../../img/common/header/header-control-close-hover-reversal.svg) no-repeat center top; }

#corporate.covered header.transparent nav ul:first-of-type li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.26);
  color: rgba(0, 0, 0, 0.74); }

#corporate.covered header.transparent nav ul:first-of-type li:hover {
  border-bottom: solid 1px black;
  color: black; }

#corporate.covered header.transparent nav ul:first-of-type li.secondary {
  border-style: dotted;
  color: rgba(0, 0, 0, 0.74); }

#corporate.covered header.transparent nav ul:first-of-type li.secondary:hover {
  color: rgba(0, 0, 0, 0.82); }

#corporate.covered header.transparent nav ul:first-of-type li.button {
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.64);
  color: rgba(255, 255, 255, 0.92); }

#corporate.covered header.transparent nav ul:first-of-type li.button:hover {
  background-color: rgba(0, 0, 0, 0.72);
  color: white; }

/*  Effects - Expansion  */
.covered header > div {
  width: 100vw;
  height: 100%; }

header {
  width: 100vw;
  height: 72px;
  min-height: 52px;
  border: solid 0px transparent; }

header:not(.transparent) {
  background: black;
  background-clip: content-box; }

.covered header {
  width: 100vw;
  height: 100%;
  min-height: 0px;
  border: solid 28px rgba(0, 0, 0, 0.22);
  border-bottom: none;
  border-radius: 0px;
  margin: 0px;
  overflow-y: scroll;
  background: url(../../img/common/header/header-cover-bg-black.gif) left bottom 50vh repeat-x, url(../../img/common/header/header-cover-bg-white.gif) left top 50vh repeat-x;
  background-clip: content-box; }

#corporate header:not(.transparent),
#corporate.scrolled header.transparent {
  background: white;
  background-clip: content-box; }

#corporate.covered header {
  background: url(../../img/common/header/header-cover-bg-white.gif) left bottom 50vh repeat-x, url(../../img/common/header/header-cover-bg-black.gif) left top 50vh repeat-x;
  background-clip: content-box; }

.covered header h1 {
  width: 82px;
  height: 72px;
  opacity: 1; }

.covered header nav h2:first-of-type {
  height: 72px; }

header nav {
  background-color: rgba(255, 255, 255, 0); }

#products.covered header nav {
  background-color: black; }

#corporate.covered header nav {
  background-color: white; }

.covered header nav h2:first-of-type {
  background: url(../../img/common/header/header-control-close.svg) no-repeat center top; }

.covered header nav h2:first-of-type:hover {
  background: url(../../img/common/header/header-control-close-hover.svg) no-repeat center top; }

header nav ul:first-of-type li,
#corporate header.transparent nav ul:first-of-type {
  opacity: 0; }

.covered header ul:first-of-type li,
#corporate.covered header.transparent nav ul:first-of-type {
  opacity: 1; }

.covered header ul:first-of-type {
  background-color: #000000; }

#corporate.covered header nav ul:first-of-type,
#corporate.covered header.transparent nav ul:first-of-type {
  background-color: #FFFFFF; }

header,
header nav,
header nav h2 {
  transition-duration: 0.38s; }

.covered {
  overflow: hidden; }

/*  Effects - Scroll  */
.scrolled:not(.covered) header {
  width: 52px;
  height: 52px;
  margin-top: 7px;
  margin-left: calc(100vw / 2 - 26px);
  min-width: 52px;
  border-radius: 26px; }

.scrolled:not(.covered) header h1 {
  width: 0px;
  height: 52px;
  opacity: 0; }

.scrolled:not(.covered) header nav h2:first-of-type {
  height: 52px; }

#corporate.scrolled:not(.covered) header {
  border: solid 1px rgba(0, 0, 0, 0.14);
  background-color: white; }

#corporate.scrolled:not(.covered) header.transparent nav h2:first-of-type {
  background: url(../../img/common/header/header-control-open-reversal.svg) no-repeat left top; }

#corporate.scrolled:not(.covered) header.transparent:hover nav h2:first-of-type {
  background: url(../../img/common/header/header-control-open-hover-reversal.svg) no-repeat left top; }

/*  Effects - Logo  */
header h1 {
  transition-property: all;
  transition-duration: 0.38s;
  transition-delay: 0s; }

#corporate.covered header h1 {
  background: url(../../img/common/header/header-logo-reversal.svg) no-repeat right/contain;
  transition-delay: 0s; }

/*  Effects - Disable  */
header nav ul {
  transition-delay: 0s; }

.covered header nav ul,
.covered header nav ul,
.ready.rolled header nav ul:first-of-type,
.ready.rolled header nav ul:last-of-type {
  transform: rotateX(0deg); }

.ready.rolled header h1 {
  transition-duration: 0.38s;
  transition-delay: 0s; }

#products.ready.rolled header h1 {
  background: url(../../img/common/header/header-logo.svg) no-repeat right/contain; }

#corporate.ready.rolled header h1 {
  background: url(../../img/common/header/header-logo-reversal.svg) no-repeat right/contain; }

#corporate.ready.rolled header nav.transparent h1 {
  background: url(../../img/common/header/header-logo.svg) no-repeat right/contain; }

footer {
  width: 100%;
  min-width: none;
  margin: 70px 0 0 0;
  box-sizing: border-box; }

footer section {
  margin: 0;
  width: 100%;
  height: 66px; }

footer p {
  padding: 14px 0px 18px;
  font-size: 12px; }

/*  Footer - Sharings  */
footer section h2 {
  font-size: 12px; }

footer section li {
  width: 44px;
  height: 44px;
  margin: auto 6px;
  text-indent: -9999px;
  overflow: hidden; }

/*  Footer - Navigation  */
footer nav {
  width: 100%;
  margin: 0; }

footer nav ul {
  margin-top: 16px; }

footer nav li {
  margin: 8px 12px; }
