.navi {
  display: none; }

html, body, #container {
  height: 100%; }

.mobile,
.mobile #container {
  min-height: 500px; }

body {
  min-width: 1280px;
  overflow-y: scroll; }

#container {
  min-width: 1280px;
  min-height: auto; }

header {
  min-width: 1280px; }

#bg {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-width: 1280px; }

#bg div {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/home/top-feature-back-sleipnir-mobile.png) no-repeat center 40% #245c90;
  background-size: 1280px auto; }

#title {
  min-width: 1280px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 2; }

#title h1 {
  width: 840px;
  height: 364px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../../img/home/top-feature-front-sleipnir-mobile.png) no-repeat;
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -420px; }

#news {
  width: 1410px;
  margin: 0 auto 39px;
  visibility: hidden; }

#scroll {
  min-width: 1280px;
  padding: 0 14px 40px;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  border-bottom: 46px solid #fafafa;
  top: calc(100% - 294px - 33px - 23px);
  background: url(../../img/home/top-product-dim.png) repeat-x left top, url(../../img/home/top-product-dim_repeat.png) repeat-x left 480px; }

#product h1 {
  line-height: 1.6em;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7); }

#product ul {
  letter-spacing: -0.40em;
  margin: 0 auto;
  font-size: 0; }

#product ul li {
  letter-spacing: normal;
  width: 282px;
  height: 294px;
  display: inline-block;
  text-align: left; }

#product ul li a {
  width: 282px;
  height: 294px;
  overflow: hidden;
  display: block;
  padding: 18px 0;
  box-sizing: border-box; }

#product ul li a .product_icon {
  width: 282px;
  height: 152px;
  display: block; }

#product ul li a .product_msg {
  width: 282px;
  height: 106px;
  display: block; }

@media screen and (min-width: 3130px) {
  #product ul, #product h1 {
    width: 2820px; } }
@media screen and (max-width: 3130px) {
  #product ul, #product h1 {
    width: 2820px; } }
@media screen and (max-width: 2848px) {
  #product ul, #product h1 {
    width: 2538px; } }
@media screen and (max-width: 2566px) {
  #product ul, #product h1 {
    width: 2256px; } }
@media screen and (max-width: 2284px) {
  #product ul, #product h1 {
    width: 1974px; } }
@media screen and (max-width: 2002px) {
  #product ul, #product h1 {
    width: 1692px; } }
@media screen and (max-width: 1720px) {
  #product ul, #product h1 {
    width: 1410px; } }
@media screen and (max-width: 1438px) {
  #product ul, #product h1 {
    width: 1128px; } }
@media screen and (max-width: 1156px) {
  #product ul, #product h1 {
    width: 846px; } }
#product ul li:hover {
  background: url(../../img/home/top-product-hovered.png) no-repeat; }

.border {
  width: 100%;
  height: 32px;
  padding-right: 17px;
  display: block;
  position: relative;
  bottom: 0;
  left: -17px;
  background: url(../../img/home/top-product-knob-bg.png) repeat-x left bottom; }

#footer {
  position: relative;
  width: 100%;
  margin-top: -31px;
  top: calc(100% - 294px - 33px - 23px); }

#footer_box {
  height: 32px;
  width: 100%;
  display: block;
  position: absolute;
  top: -13px; }

#footer_box .footer_left,
#footer_box .footer_right {
  display: block;
  height: 32px;
  width: calc(50% - 32px);
  position: absolute;
  background: url(../../img/home/top-product-knob-repeat.png) repeat-x; }

#footer_box .f_design {
  display: block;
  width: 112px;
  height: 46px;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 14px;
  background: url(../../img/home/fenrirdesign-logo.png) no-repeat left top; }

#footer_box .footer_left {
  left: 0;
  top: 0; }

#footer_box .footer_right {
  right: 0;
  top: 0; }

#footer_box .footer_center {
  display: block;
  height: 32px;
  position: absolute;
  background: url(../../img/home/top-product-knob.png) no-repeat;
  width: 64px;
  cursor: pointer;
  left: 50%;
  margin-left: -32px; }

footer {
  width: 100%;
  min-width: 1280px;
  background: url(../../img/home/footer_bg.png) repeat-x left 17px;
  z-index: 10;
  position: fixed;
  padding: 10px 0 0px 0;
  display: hidden;
  bottom: -125px;
  box-sizing: content-box; }

footer #sharing {
  position: relative;
  top: -10px; }

footer nav {
  position: relative;
  top: -10px; }

footer p {
  position: relative;
  top: -10px;
  margin: 0; }

#fbg {
  width: 100vw;
  min-width: 1280px;
  height: 300vh;
  display: block;
  position: fixed;
  top: 100%;
  background: #fafafa;
  z-index: 0; }
