body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 150%;
	background: #eee;
	position: relative;
	height: 100%;
}
.headerContainer,
.bodyContainer,
.footerContainer {
	max-width: 960px;
	margin: 0 auto;
	background: #FFF;
}
.padding {
	padding: 20px;
}
.bodyContainer {
	min-height: 500px;
}
a.back-to-top {
	width: 100%;
	height: 40px;
	text-indent: -9999px;
	position: fixed;
	z-index: 1000;
	right: 0px;
	bottom: 0px;
	background: #fdb100 url("line.png") no-repeat center 48%;
	background-size: cover;
}
a:hover.back-to-top {
	background-color: #e9a300;
}


#floatclose {
  position: fixed;
  bottom: 0px !important;
  right: 20px;
  top:auto !important;
  margin-bottom: 40px;
  border: 1px solid #999;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: none;
  background: #000;
  z-index: 500000;
  -webkit-animation-name: adsavuncen;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
}