@charset "UTF-8";
@font-face {
  font-family: "seed-social";
  src:url("fonts/seed-social.eot");
  src:url("fonts/seed-social.eot?#iefix") format("embedded-opentype"),
    url("fonts/seed-social.woff") format("woff"),
    url("fonts/seed-social.ttf") format("truetype"),
    url("fonts/seed-social.svg#seed-social") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "seed-social" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="ss-"]:before,
[class*=" ss-"]:before {
  font-family: "seed-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ss-facebook:before {content: "\e000";}
.ss-facebook-circled:before {content: "\e001";}
.ss-facebook-squared:before {content: "\e002";}
.ss-twitter:before {content: "\e003";}
.ss-twitter-circled:before {content: "\e004";}
.ss-line-square:before {content: "\e006";}
.ss-line-circle:before {content: "\e007";}
.ss-google-plus-circle:before {content: "\e009";}
.ss-google-plus:before {content: "\e008";}
.ss-seedthemes:before {content: "\e00a";}
.ss-line:before {content: "\e005";}


.seed-social {
	font-family: sans-serif;
	font-size: 12px;
	margin: 1.5em 0;
}
	.seed-social:before,
	.seed-social:after{content: "";display: table;}
	.seed-social:after {clear: both;}

	.seed-social > div {
		float: left;
		margin-right: 10px;
		overflow: hidden;
		vertical-align: top;
	}
	.seed-social i {
		font-size: 20px;
		color: #fff;
	}
	.seed-social span {
		color: #fff;
	}
	.seed-social a {
		color: #fff !important;
		text-decoration: none !important;
		display: block;
		height: 36px;
		width: 54px;
		border-radius: 3px;
		text-align: center;
		padding-top: 6px;
	}
	.seed-social a:hover,
	.seed-social a:active,
	.seed-social a:focus {
		color: #fff;
	}
	.seed-social .text {
		display: none;
	}
	.seed-social .count {
		vertical-align: 4px;
	}
	.seed-social .facebook a{
		background-color: #3b5998;
		float: left;
	}
	.seed-social .twitter a{
		background-color: #55acee;
	}
	.seed-social .google-plus a{
		background-color: #dd4b39;
	}
	.seed-social .line a{
		background-color: #00c300;
	}

.woocommerce-cart .seed-social,
.woocommerce-checkout .seed-social,
.woocommerce-account .seed-social {
	display: none;
}
	
@media (min-width:768px) {
	.seed-social i {
		font-size: 14px;
		vertical-align: -2px;
	}
	.seed-social a {
		color: #fff;
		display: block;
		padding: 4px 12px 2px 8px;
		border-radius: 3px;
		width: auto;
		height: auto;
	}
	.seed-social .text {
		margin-left: 7px;
		display: inline-block;
	}
	.seed-social .count {
		vertical-align: 0;
		margin-left: 7px;
	}
}
