html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, menu, header, section {
    margin: 0;
    padding: 0;
}

html, body, table {
    font-size: 9pt;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

HTML, BODY {
    min-height: 100%;
    width: 100%;
    height: 100%;
}

TABLE {
    border-collapse: collapse;
}

input, select, textarea {
    border: 1px solid #BBB;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 3px;
    padding: 1px;
}

textarea:focus {
    -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.7);
    -o-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.7);
    background-color: #EEE;
    border: 1px solid #FFF;
}

input[type=reset], input[type=button], input[type=reset], input[type=submit] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0px none;
    margin: 2px;
    border-radius: 4px;
    ;background: rgb(177,186,105);
    background: -moz-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(177,186,105)), color-stop(100%, rgb(138,144,81)));
    background: -webkit-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -o-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -ms-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: linear-gradient(to bottom, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1ba69', endColorstr='#606438', GradientType=0);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
    padding: 3px;
}

input[type=reset]:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
    color: #FFF;
    text-shadow: 0px 1px 1px #000;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.b-border input[type=button] {
    background: #d7d7d7;
    background: -moz-linear-gradient(top, #d7d7d7 0%, #cecece 50%, #c0c0c0 50%, #cdcdcd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7), color-stop(50%,#cecece), color-stop(50%,#c0c0c0), color-stop(100%,#cdcdcd));
    background: -webkit-linear-gradient(top, #d7d7d7 0%,#cecece 50%,#c0c0c0 50%,#cdcdcd 100%);
    background: -o-linear-gradient(top, #d7d7d7 0%,#cecece 50%,#c0c0c0 50%,#cdcdcd 100%);
    background: -ms-linear-gradient(top, #d7d7d7 0%,#cecece 50%,#c0c0c0 50%,#cdcdcd 100%);
    background: linear-gradient(to bottom, #d7d7d7 0%,#cecece 50%,#c0c0c0 50%,#cdcdcd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#cdcdcd',GradientType=0);
    padding: 2px 6px;
}

.b-border input[type=button]:hover {
    background: rgb(177,186,105);
    background: -moz-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(177,186,105)), color-stop(100%, rgb(138,144,81)));
    background: -webkit-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -o-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -ms-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: linear-gradient(to bottom, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1ba69', endColorstr='#606438', GradientType=0);
}

OL, UL {
    list-style: none;
    list-style-position: inside;
}

HR {
    width: 80%;
    margin-top: 6px;
    margin-right: auto;
    margin-bottom: 6px;
    margin-left: auto;
    padding: 0px;
    height: 1px;
    border: 1px dotted #555;
}

IFRAME {
}

H1, H2, H3 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #000;
}

.clrflt {
    line-height: 0px;
    margin: 0px;
    padding: 0px;
    clear: both;
    height: 40px;
}

A, IMG {
    border: 0 none;
    outline: none;
}

A:link, A:visited, A:active {
    color: #865F28;
    text-decoration: none;
}

A:hover {
    color: #000;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #222;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#header {
    height: 120px;
    width: 100%;
    position: relative;
}

#logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: block;
    height: 120px;
    width: 520px;
    position: absolute;
    left: 20px;
    top: 0px;
}

#infobar {
    line-height: 30px;
    clear: right;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 20px;
    float: right;
}

#mySrch {
    clear: right;
    float: right;
    position: absolute;
    top: 80px;
    right: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 0 rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 0 rgba(0, 0, 0, 0.8) inset;
    -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 0 rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 0 rgba(0, 0, 0, 0.8) inset;
    background-color: #EEE;
    border: 1px solid #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 240px;
    height: 24px;
}

#mySrch form {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-size: 11pt;
}

#mySrch form input[type=text] {
    border: 0px none;
    line-height: 24px;
    background-color: transparent;
    text-indent: 5px;
    width: 210px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: -2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#mySrch form input[type=submit] {
    background-image: url(images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    clear: right;
    float: right;
    height: 24px;
    width: 24px;
    border: 0px none;
    border-left: solid 1px #AAA;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: -2px;
    right: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#mySrch form input[type=submit]:hover {
    background-position: 0px -24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}





#menu {
    display: block;
    height: 35px;
    width: 100%;
    position: relative;
    background: #9f7923;
    background: -moz-linear-gradient(top, #9f7923 0%, #695017 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9f7923), color-stop(100%,#695017));
    background: -webkit-linear-gradient(top, #9f7923 0%,#695017 100%);
    background: -o-linear-gradient(top, #9f7923 0%,#695017 100%);
    background: -ms-linear-gradient(top, #9f7923 0%,#695017 100%);
    background: linear-gradient(to bottom, #9f7923 0%,#695017 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9f7923', endColorstr='#695017',GradientType=0);
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.6);
    border-bottom: solid 1px #ba885d;
    font-size: 12pt;
}

#root {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    height: 35px;
    position: absolute;
    left: 20px;
    bottom: 0px;
    z-index: 11;
}

#root li {
    float: left;
    display: block;
    position: relative;
    z-index: 12;
    height: 35px;
}

#root li:hover, #root li#active {
    background-image: url(images/hover.png);
    background-repeat: repeat;
    color: #FFC993;
}

#root li a {
    line-height: 35px;
    text-align: center;
    display: block;
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}

#root li a:hover {
    color: #FFC993;
}

#root li ul.sub {
    position: absolute;
    left: 10px;
    display: none;
    list-style: none;
    top: 35px;
    z-index: 1;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8) inset;
    -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8) inset;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #725839;
    padding-bottom: 5px;
    border-top: solid 1px #ba885d;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -1px;
}

#root li ul.sub li {
    float: left;
    height: 28px;
    padding: 0px;
}

#root li ul.sub li a {
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: left;
    text-indent: 10px;
    margin: 0px;
    padding: 0px;
    width: 180px;
    font-size: 10pt;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #725839;
    border-bottom-color: #725839;
}

#root li ul.sub li a:hover {
    background: #ba885d;
    color: #4B3A25;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8) inset;
    -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.8) inset;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #8D6D47;
    border-bottom-color: #8D6D47;
}

#root li ul.sub li:last-child a {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 0px none;
    padding-bottom: 5px;
}

#content_wrapper {
    display: block;
    width: 98%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.myBlock {
    padding-bottom: 10px;
    display: block;
}

#sCol .myBlock fieldset {
    border: thin solid #DDD;
    display: block;
    padding: 8px;
}

#sCol .myBlock fieldset legend {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    height: 26px;
    margin-left: auto;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.8);
    width: 100%;
    margin-right: auto;
    text-align: left;
    text-indent: 20px;
}

.myBlock-con {
    display: block;
}

#mCol .myBlock fieldset {
    border: thin solid #DDD;
    padding: 10px;
}

#mCol .myBlock fieldset legend {
    background: #9f7923;
    background: -moz-linear-gradient(top, #9f7923 0%, #695017 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9f7923), color-stop(100%,#695017));
    background: -webkit-linear-gradient(top, #9f7923 0%,#695017 100%);
    background: -o-linear-gradient(top, #9f7923 0%,#695017 100%);
    background: -ms-linear-gradient(top, #9f7923 0%,#695017 100%);
    background: linear-gradient(to bottom, #9f7923 0%,#695017 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9f7923', endColorstr='#695017',GradientType=0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0px 1px 1px #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #FFF;
    height: 26px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    text-indent: 30px;
}

#sCol {
    display: block;
    clear: left;
    float: left;
    width: 210px;
}

#mCol {
    margin-left: 218px;
    display: block;
}

#footer {
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: center;
    background-color: #E6E6E6;
    border-top: solid 1px #ccc;
}

.ttable_headinner {
    border-collapse: collapse;
}

.ttable_head {
    font-family: Verdana;
    color: #FFF;
    text-align: center;
    line-height: 24px;
    text-shadow: 0px 1px 1px #000;
    background: #acb566;
    background: -moz-linear-gradient(top, #acb566 0%, #8b9151 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acb566), color-stop(100%,#8b9151));
    background: -webkit-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -o-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -ms-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: linear-gradient(to bottom, #acb566 0%,#8b9151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb566', endColorstr='#8b9151',GradientType=0);
}

.t-row td:last-child {
    width: 60px;
    padding: 0px 4px;
}

.ttable_col1 {
    padding: 6px 8px;
    border-bottom: 1px solid #CCC;
}

.ttable_col2 {
    padding: 6px 8px;
    border-bottom: 1px solid #CCC;
}

.ttable_colx {
    padding: 0px 4px;
    border-bottom: 1px solid #CCC;
}

.table_table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

.table_head {
    color: #FFF;
    text-align: center;
    line-height: 20px;
    border: 1px solid #CCC;
    background: #acb566;
    background: -moz-linear-gradient(top, #acb566 0%, #8b9151 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acb566), color-stop(100%,#8b9151));
    background: -webkit-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -o-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -ms-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: linear-gradient(to bottom, #acb566 0%,#8b9151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb566', endColorstr='#8b9151',GradientType=0);
}

.table_col1 {
    border: 1px solid #c5d5dd;
    padding: 4px;
}

.table_col2 {
    border: 1px solid #c5d5dd;
    padding: 4px;
}

#downloadbox {
    padding: .75em;
    background: rgb(177,186,105);
    background: -moz-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(177,186,105)), color-stop(100%, rgb(138,144,81)));
    background: -webkit-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -o-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -ms-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: linear-gradient(to bottom, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1ba69', endColorstr='#606438', GradientType=0);
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #8ba7cd;
}

#downloadbox td {
    padding: 6px 10px;
}

#downloadbox a {
    color: #FFF;
}

.download {
    border: 2px solid #6b808d;
    padding: 10px;
}

.download legend {
    color: #FFF;
    text-shadow: 0px 1px 1px #222;
    margin: 0px;
    padding-top: 3px;
    padding-right: 13px;
    padding-bottom: 3px;
    padding-left: 13px;
    background: #acb566;
    background: -moz-linear-gradient(top, #acb566 0%, #8b9151 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acb566), color-stop(100%,#8b9151));
    background: -webkit-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -o-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -ms-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: linear-gradient(to bottom, #acb566 0%,#8b9151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb566', endColorstr='#8b9151',GradientType=0);
    -moz-box-shadow: 0px 0px 4px #333;
    -webkit-box-shadow: 0px 0px 4px #333;
    box-shadow: 0px 0px 4px #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #FFF;
}

.nfo {
    font-family: terminal;
    font-size: 10px;
}

.shoutbox_body {
    font-family: verdana;
    color: black;
    float: middle;
    background-color: White;
}

.shoutbox_contain {
    border: 0;
    height: 150;
    width: 100%;
    overflow: auto;
    align: middle;
}

.shoutbox_history {
    border: 0;
    height: 100%;
    width: 100%;
    align: middle;
}

.shoutbox_messageboxback {
    background-color: White;
}

.shoutbox_noalt {
    background-color: #ECECEC;
}

.shoutbox_alt {
    background-color: #F7F7F7;
}

.shoutbox_msgbox {
    width: 99%;
    border: 1px solid #555;
}

.shoutbox_shoutbtn {
    border: 1px solid #555;
}

.shoutbox_error {
    color: red;
}

.error {
    color: #FF0000;
}

small, .small {
    font-size: 10px;
}

.f-border table {
    border: 1px solid #CCC;
}

.f-header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    background: rgb(177,186,105);
    background: -moz-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(177,186,105)), color-stop(100%, rgb(138,144,81)));
    background: -webkit-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -o-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: -ms-linear-gradient(top, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    background: linear-gradient(to bottom, rgb(177,186,105) 0%, rgb(138,144,81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1ba69', endColorstr='#606438', GradientType=0);
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #8ba7cd;
}

.f-logo {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.f-logo td {
    padding: 6px;
    height: 35px;
}

.f-logo td a {
    font-weight: bold;
    text-decoration: none;
    color: #5E3F00;
}

.f-logo td a:hover {
    color: #FFF;
    text-shadow: 0px 1px 1px #000;
}

.f-logo td img {
    vertical-align: middle;
}

.f-location {
    display: block;
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: #d7d7d7;
    background: -moz-linear-gradient(top, #d7d7d7 0%, #cecece 50%, #c0c0c0 50%, #cdcdcd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7), color-stop(50%,#cecece), color-stop(50%,#c0c0c0), color-stop(100%,#cdcdcd));
    background: -webkit-linear-gradient(top, #d7d7d7 0%,#cecece 50%,#c0c0c0 50%,#cdcdcd 100%);
    background: -o-linear-gradient(top, #d7d7d7 0%,#cecece 50%,#c0c0c0 50%,#cdcdcd 100%);
    background: -ms-linear-gradient(top, #d7d7d7 0%,#cecece 50%,#c0c0c0 50%,#cdcdcd 100%);
    background: linear-gradient(to bottom, #d7d7d7 0%,#cecece 50%,#c0c0c0 50%,#cdcdcd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#cdcdcd',GradientType=0);
    border: 1px solid #AAA;
    line-height: 28px;
    text-align: left;
    text-indent: 10px;
    margin-bottom: 8px;
    color: #333;
}

.f-location a {
    text-shadow: none;
    color: #FFF;
    text-shadow: 1px 1px 0px #000;
}

.f-post {
    padding-bottom: 10px;
}

.f-title, .p-title {
    text-shadow: 0px 1px 1px #000;
}

.f-title, .p-title, .f-cat, .p-foot, .f-topten {
    border: 1px solid #CCC;
}

.f-row td .f-title th, .p-title th {
    padding: 0px 4px;
}

.p-foot {
    padding: 3px;
}

.f-title {
    color: #FFF;
    padding: 3px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    background: #acb566;
    background: -moz-linear-gradient(top, #acb566 0%, #8b9151 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acb566), color-stop(100%,#8b9151));
    background: -webkit-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -o-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -ms-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: linear-gradient(to bottom, #acb566 0%,#8b9151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb566', endColorstr='#8b9151',GradientType=0);
}

.f-title a {
    text-shadow: 0px 1px 1px #000;
    color: #DDD;
    text-decoration: none;
}

.p-title {
    color: #FFF;
    padding: 3px;
    font-weight: bold;
    height: 26px;
    background: #acb566;
    background: -moz-linear-gradient(top, #acb566 0%, #8b9151 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acb566), color-stop(100%,#8b9151));
    background: -webkit-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -o-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -ms-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: linear-gradient(to bottom, #acb566 0%,#8b9151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb566', endColorstr='#8b9151',GradientType=0);
}

.p-title a {
    color: #FFFFFF;
}

.p-foot {
    color: #333;
    font-size: 10px;
    font-weight: normal;
    border-collapse: collapse;
    background-color: #EEE;
}

.f-reply {
    color: #333;
    padding: 3px;
    font-weight: normal;
    border: 1px solid #777;
}

.f-cat {
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0);
    height: 27px;
    font-weight: bold;
    font-size: 11pt;
    color: #000;
}

.f-row TD {
    padding: 0px 4px;
    border-bottom: solid 1px #CCC;
}

.t-row:hover, .f-row:hover {
    background-color: #DFD5AC;
}

.f-img {
    padding-right: 5px;
    padding-left: 5px;
}

.small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.b-border {
}

.b-title {
    border: 1px solid #CCC;
    background: #acb566;
    background: -moz-linear-gradient(top, #acb566 0%, #8b9151 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acb566), color-stop(100%,#8b9151));
    background: -webkit-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -o-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: -ms-linear-gradient(top, #acb566 0%,#8b9151 100%);
    background: linear-gradient(to bottom, #acb566 0%,#8b9151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb566', endColorstr='#8b9151',GradientType=0);
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset, 0 0 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset, 0 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset, 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.comment-details, .bb-btn {
    background-color: #EDE8D1;
    border: 1px solid #BBB;
    padding: 4px;
}

.comment, .bb-comment {
    border: 1px solid #BBB;
    padding: 4px;
}

.firefox {
    background: url("/pic/firefox.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 80px;
    position: fixed;
    right: 0;
    top: 300px;
    width: 25px;
}

a.gltBadge:hover {
    color: #fff;
}

.gltBadge_green {
    background: #7ba60d;
    border-radius: 3px;
}

.gltBadge_blue {
    background: blue;
    border-radius: 3px;
}

.gltBadge_purple {
    background: #af286d;
}

.gltBadge_pill {
    background: #FF00FF;
    border-radius: 3px;
}

.gltBadge_grey {
    background: #5b5b5b;
}

.gltBadge_lightgrey {
    background: #b3b3b3;
}

.gltBadge_orange {
    background: #ED7710;
}

.gltBadge_red {
    background: #bf1d00;
}

.gloGoldAch span,.gloGoldAch {
    background-image: url(images/xxx.gif);
}

.gloSimpleAch span,.gloSimpleAch {
    background-color: green;
}

.gloSpecialAch,.gloSpecialAch span {
    background-color: #af9ddc;
}

.gloSilverAch span,.gloSilverAch {
    background-image: url(images/xxx.gif);
}

.gloBronzeAch span,.gloBronzeAch {
    background-image: url(/images/xxx.gif);
}

.achievement td {
    padding-bottom: 5px;
}

.ipsOrange {
    background: #ED7710;
    border-radius: 3px;
    border-bottom: 1px solid white;
}
/* FB Popup in Footer */
#fbpop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 0px;
    border: 1px solid #000;
    border-right: 0px;
    background-color: #FFFFFF;
    padding: 10px 20px 10px 40px;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
}

.fbpop-header {
    text-align: left;
    font-size: 16px;
    color: #666;
}

.fbpop-closebutton {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/cross-circle-icon.png);
    opacity: 0.7;
    cursor: pointer;
}

.fbpop-closebutton:hover {
    opacity: 1;
}