﻿:focus {
    outline: 1px dotted #333;
}

body {
    font-size: 13px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: #F6F6F6;
    min-width: 320px;
    font-family: "nimbus-sans", Arial;
    font-weight: 400;    
}

.mobile_main_container
{
	display: none;	
}

.main_image_photo_credit_mobile {
		display: none;
	}



a {
    color: #818181;
    text-decoration: none;
}

a:hover {
    color: #818181;
    text-decoration: none;    
}

.acc_skip
{
	background-color: #EDEAE5;
    border: 1px solid #000000;
    color: #624616;
    font-weight: bold;
    left: -9999px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 150px;
    z-index: 9999;	
}

h2 {
    font-size: 1.3em;
    margin: 0px 0px 0.8em;
}

h2 a, h3 a {
    color: #000;
    text-decoration: none;
}

h2 a:hover, h3 a:hover {
    color: #990610;
    text-decoration: underline;
}

html {
    background-color: #F6F6F6;
    color: #000000;
}

.inner {
    margin: 0px auto;
    position: relative;
    width: 960px;
}

.master, .master_header, .master_footer {
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.module {
    position: relative;
}

.wrapper {
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

ol, ul {
    list-style: none outside none !important;
}

.link_group
{
	margin: 0px;	
}


.header_top_inner li {
    display: inline;
}

.master
{
	background-color: #F6F6F6;	
}

.main_wrapper
{
	margin: 0 auto;
    position: relative;
    width: 1200px;
    background: #F6F6F6;
}

.main_container
{	
    width: 100%;
    background: #F6F6F6;
    height: 630px;
    position: relative;
}

.main_panel_container
{	
    width: 100%;
    background: #F6F6F6;
    height: 705px;
    position: relative;
    overflow: hidden;
}

.maincaption_close_container {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
    text-align: right;
    width: 90%;
}

.panel_bottom_bar
{
	width: 100%;
	height: 113px;	
}

.bottom_bar_text
{
	margin-left: 60px;	
	padding-top: 40px;
}

.bottom_bar_link
{
	margin-left: 10px;
    margin-top: 5px;
}

.arrow_image
{
	float: left;
	width: 32px;	
}

.text_by_arrow
{
	float: left;	
}

.bottom_bar_text img
{
	margin: 0;
    padding: 0;
    position: absolute;	
}

.bottompink
{
	background-color: #7E174E;		
}

.bottompink a
{
	color: #EC4FA3;	
	font-size: 18px;
	margin-left: 38px;
}

.bottombrown a {
    color: #D9974D;
    font-size: 18px;
    margin-left: 38px;
}

.bottomblue a
{
	color: #7AB7F0;	
	font-size: 18px;
	margin-left: 38px;
}


.bottombrown
{
	background-color: #894E24;	
}


.bottomblue
{
	background-color: #145693;	
}


.header_panel
{
	float: left;
    margin-left: 60px;
    margin-top: 83px;
    width: 1080px;
}

.photonormal
{
	color: #FFFFFF;
}

.photonormal a
{
	color: #FFFFFF;	
}

.photoblue
{
	background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    padding: 5px;
}

.photoblue a
{
	color: #FFFFFF;	
}

.photoright
{
	float: right;	
}

.photoleft
{
	float: left;	
	margin-left: -40px;
}

.panel_photo_credit_container
{
	float: left;
    font-family: times new roman;
    font-size: 14px;
    margin-left: 79px;
    margin-top: 26px;
    width: 1080px;
}

.column_panel
{
	float: left;
    margin-left: 65px;
    margin-top: 40px;
    width: 1080px;
    height: 400px;
}

.column_panel.columnblue
{
	height: 350px;	
}

.panel_column
{
	width: 220px;
	margin-right: 65px;	
	color: #FFFFFF;
}

.panel_column_last
{
	width: 220px;
	margin-right: 0px;
	color:#FFFFFF;	
}

.item_media_panel
{
	color: #FFFFFF;
    float: left;
    font-size: 14px;
    padding: 8px 20px;	
}

.left
{
	float: left;	
}

.right
{
	float: right;	
}

.pink
{
	background-color: #C8267B;	
}

.brown
{
	background-color: #DB974C;	
}

.blue
{
	background-color: #2667A7;	
}

.column_headline
{
	font-weight: bold;
	margin-top: 10px;
	margin-bottom:10px;
	font-size: 20px;
	overflow: hidden;	
}

.column_content
{
	height: 100px;
	overflow: hidden;
	margin-bottom: 16px;
}

.header_text_white
{
	color: #FFFFFF;
    font-family: "proxima-nova",arial;
    font-size: 78px;
    font-style: normal;
    font-weight: 100;
    margin-top: 62px;
}

.header_text_brown {
    color: #894E24;
    font-family: "proxima-nova",arial;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    margin-top: -26px;
    padding-bottom: 0;
}

.panel_photo_credit_container.columnbrown {
    margin-top: 20px;
}

.columnpink
{
	margin-top: 29px;	
}


.column_panel.columnpink .column_headline {
    padding-top: 17px;
}

.column_panel.columnpink .column_content {
    font-size: 15px;
    height: auto;
    line-height: 1em;
    padding-top: 4px;
}

.header_text_outer
{
	float: left;
	width:100%;	
}

.header_text_blue
{
	background-color: #FFFFFF;
    color: #145593;
    font-family: "proxima-nova",arial;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    padding-left: 12px;
    padding-right: 12px;
    
}

.column_panel.columnbrown
{
	margin-top: 8px;	
}

.column_panel.columnbrown .column_content
{
	height: auto;	
	line-height: 1em;
	font-size: 15px;
}

.column_panel.columnbrown .column_video
{
	padding-top: 8px;
}

.header_wrapper
{
	width: 100%;	
}

.textright
{
	text-align: right;	
}

.sub_inside_content_one_column
{
	background: #FFFFFF;
	margin-top: 10px;
    padding: 10px;
    font-weight: 600;	
}

.sub_text_yellow
{
	color: #DED28A;
    font-family: "museo-sans",Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    padding-left: 6px;
    
}

.sub_text_white
{
	color: #FFFFFF;
	font-size: 19px;
    font-family: "museo-sans", Arial;
    font-weight: normal;
    font-style: normal;
    padding-left: 5px;
}

.sub_text_green
{
	color: #968F4C;	
	font-size: 16px;
    font-family: "museo-sans", Arial;
    font-weight: 600;
    font-style: normal;
}

.bottom_stories_container
{
	width: 100%;
    background: #E9E5D9;
    height: 173px;
    position: relative;
}

.bottom_bottom_container
{
	width: 100%;
	height: 60px;
	background: #DDD6C3;	
}

.bottom_bottom_link
{
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	padding-right: 9px;
	background: none repeat scroll 0 0 #E9E5D9;
    float: left;
    margin-left: 460px;
}

.bottom_bottom_link a
{
	color: #B14D4F;
    font-size: 11.3px;
}


/*.header_top_container {
    position: relative;
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("../../images/home/1x1_black.png"); 
}*/

.header_top_container {
	background-image: url("../../images/home/1x1_black.png");
    float: left;
    margin-bottom: 10px;
    padding-bottom: 11px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 1200px;
    z-index: 2000;
}

.header_top_inner {
    text-align: right;
    width: 95%;
    color: #000000;
    margin: 0 auto;    
}


.header_top_inner a {
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 10px;
    padding-left: 12px;
    text-decoration: none;
}

.header_top_inner a:hover
{
	text-decoration: underline;	
}

.header_top_inner_wrapper
{
	width: 100%;
	text-align: right;
}

.bottom_container {
    position: relative;
    width: 100%;
    float: left;
    background: #FFFFFF;
    height: 200px;
}

/*.header_links_container {
    position: relative;
    width: 100%;
    float: left;
    background: #FFFFFF;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}*/

.header_links_container {
    background: none repeat scroll 0 0 #ffffff;
    float: left;
    height: 70px;
    margin-top: 37px;
    padding-bottom: 10px;
    padding-top: 0;
    position: fixed;
    width: 1200px;
    z-index: 2000;
}

/*.page_nav_container
{
	width: 100%;
	height: 360px;	
}*/

.page_nav_container
{
	width: 100%;
	height: 75px;	
	margin-top: 10px;
}

.page_nav_image
{
	padding-top: 10px;
	float: left;	
	padding-bottom: 10px;
	margin-left: 45px;
}

.page_nav_translate {
    float: right;
    height: 40px;
    margin-left: 985px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
}


#google_translate_element
{
	padding-top: 10px;	
}

.page_nav_search
{
	float: left;	
}

.page_nav
{
	float: left;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.nav_link_across
{
	bottom: 10px;
    color: #818181;
    float: left;
    font-size: 15px;
    font-weight: 400;
    height: 15px;
    margin-left: 24px;
    padding-bottom: 10px;
    position: relative;
    top: 15px;
}

.nav_hover_over_bar
{
	border-bottom: 3px solid #DBCA96;
}

.nav_link_across.search
{	
	bottom: 0;
    height: 18px;
    margin-top: 0;
    position: relative;
    top: 10px;
}

.search_desktop
{
	top: 4px;	
}

.dropdown
{
	margin-top: 0px;
	padding-top: 6px !important;	
}



.sublinks a
{
	
}

.middle
{
	color: #818181;
    float: left;
    font-weight: normal;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 15px;
    width: 193px;
}

.search_left
{
    color: #818181;
    float: left;
    height: 170px;
    margin-top: 20px;
    padding-left: 30px;
    width: 320px;
}

.search_left a:hover
{
	font-weight: normal;	
	color: #000000;
}

.search_textbox
{
	float:left;
	padding-top: 10px;	
	width: 255px;
}

.search_button
{
	padding-left: 5px;
	float: left;	
}

.middle a
{
	border-bottom: 1px solid #818181;
    border-right: medium none;
    color: #818181;
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 4px;
    padding-bottom: 5px;
    position: relative;
    width: 200px;
}

.middle a:hover
{
	font-weight: normal;	
	color: #000000;
}

.right_side
{
    float: right;
    height: 250px;
    margin-top: 13px;
    overflow: hidden;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    width: 220px;
    font-size: 12px;
    line-height: 1em;
    
}

.goog-te-menu2-item div span{
    color: #000000 !important;
}


.search_header
{
	font-size: 20px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}



.jqmWindow {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../images/home/slide_box_fade.png");
    border: medium none;
    border-radius: 10px;
    color: #000000;
    overflow: visible;
    padding: 20px;
    width: auto;
}

.jqmClose {
    background-color: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 4px;
    position: absolute;
    right: 0;
    top: 0;
}


.jqmWindow .video_content {
    opacity: 1;
}

.story_content
{
	width:333px;
	float: left;
	height: 115px;	
	margin-left: 50px;
	background-color: #FFFFFF;
	margin-top: 28px;
}

.story_content_last {
    background-color: #FFFFFF;
    float: left;
    height: 115px;
    margin-left: 50px;
    margin-top: 28px;
    width: 333px;
}

.story_content_image
{
	width: 128px;
	height: 115px;
	float: left;	
}

.story_content_right
{
	width: 205px;
	height: 115px;
	float: left;	
}

.mobile_links
{
	display:none;	
}

.mobile_search_container
{
	display:none;	
}

.story_content_title
{
	font-size: 12px;	
	color: #818181;
	padding-left: 10px;
    padding-top: 10px;
    height:13px;
    overflow: hidden;
}

.story_content_title a
{
	font-size: 12px;	
	color: #818181;
    height:13px;
    overflow: hidden;
}

.story_content_desc
{
	font-size: 13px;	
	color: #B14D4F;
	padding-left: 10px;
    padding-top: 3px;
    height: 60px;
    overflow: hidden;
    font-weight: 400;
}

.main_image_photo_credit
{
	float: left;
    font-family: times new roman;
    font-size: 14px;
    height: 15px;
    margin-left: 80%;
    margin-top: 49%;
}

.main_image_photo_credit a
{
	color: #FFFFFF;
}

.description_multimedia
{
	padding-left: 10px;
	overflow: hidden;
}

.search_contents_left
{
	width: 220px;
	float: left;
	padding-top: 22px;
}

.search_contents_left a {
    border-bottom: 1px solid #818181;
    border-right: medium none;
    color: #818181;
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 4px;
    padding-bottom: 5px;
    position: relative;
    width: 258px;
} 

.mobile_area
{
	display: none;	
}

.mobile_panels
{
	display: none;	
}

.column_video
{
	display: block;	
}

.column_video_mobile
{
	display: none;	
}

.panel_column_first_right
{
	color: #FFFFFF;
    float: left !important;
    height: 355px;
    margin-left: 51%;
    margin-right: 0;
    width: 220px;
    margin-right:65px;
}

.panel_column_one_column {
    background-color: #145595;
    color: #FFFFFF;
    height: 302px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 22px;
    padding: 20px 20px 20px 26px;
    width: 253px;
}

.panel_column_one_column .column_content
{
	font-size: 15px;
    height: 62px;
    line-height: 1;
    padding-top: 20px;
}

.panel_column_one_column .column_headline
{
	margin-top: 3px;
	color: #E2E797;	
}

.column_headline
{
	margin-top: 3px;	
}

.column_image
{
	padding-top: 7px;
}

.column_content
{
	padding-top: 7px;
}

.footer_top {
    height: auto;
    width: 1200px;
    background-color: #404040;
    float:left;
}

.footer_bottom {
    height: 300px;
    width: 1200px;
    background-color: #2E2E2E;
    float: left;
}

.footer_bottom_container
{
	text-align: center;
	color: #FFFFFF;	
	margin-top: 60px;
	font-size: 14px;
}

.column_panel_footer {
    float: left;
    margin-bottom: 48px;
    margin-left: 60px;
    margin-top: 48px;
    width: 1080px;
}

.footer_column
{
	color: #FFFFFF;
    margin-right: 65px;
    width: 220px;	
    float: left;
}

.footer_headers_bars
{
	width: 100%;
	float: left;
	margin-bottom: 16px;	
}

.footer_column span
{
	margin-bottom: 2px;	
}

.footer_column_last
{
	color: #FFFFFF;
    margin-right: 0px;
    width: 220px;	
    float: left;
}

.rss_title
{
	font-size: 14px;
}


.rss_title a
{
	color: #FFFFFF;	
	font-weight: normal;
	line-height: 1.3em;
}

.rss_title a:hover
{
	color: #FFFFFF;
	text-decoration: none;	
}

.footer_column a
{
	color: #FFFFFF;	
}

.footer_column a:hover
{
	color: #FFFFFF;	
}

.footer_headers
{
	color: #979797;
    float: left;
    font-size: 15px;
    margin-bottom: 2px;
    margin-top: 1px;
    width: 100%;
}

.module {
    font-size: 14px;
    position: relative;
    line-height: 1.3em;
}

.sidr {
    background-color: #333333;
}

.darkClass
{
	background-image: url("../../images/home/1x1_black.png");
    background-position: center center;
    height: 95%;
    left: 0;
    margin-top: 90px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

.makeDark
{
	display: block !important;	
}

.sublinks_search
{
	background-color: #FFFFFF;
    color: #000000;
    display: none;
    float: left;
    height: 300px;
    left: 45px;
    margin-top: 5px;
    position: relative;
    top: 100%;
    width: 350px;
    z-index: 999999;
}

.sublinks_across_container
{
	width: 1150px;
	z-index: 999;	
}

.sublinks
{	
	background-color: #FFFFFF;
    color: #000000;
    display: none;
    float: left;
    height: 294px;
    left: 35px;
    margin-top: -45px;
    position: relative;
    top: 100%;
    width: 748px;
    z-index: 999999;
}

.searchLeftSide
{
	left: 15px;	
}

.drop_down_title_header
{
	float: left;
    margin-left: 20px;
    margin-top: 0px;
    width: 440px;
    color: #818181;	
}

.middle_content
{
	border-left: 1px dotted #DADADA;
    border-right: 1px dotted #DADADA;
    float: left;
    margin-top: 13px;
    width: 475px;
    height: 250px;
}

.caption_container
{
	background-color: #000000;
    color: #FFFFFF;
    height: 85px;   
    position: absolute;
    bottom: -85px;
    width: 520px;
    opacity: .8;
}



.caption_containermain
{
	background-color: #000000;
    bottom: -85px;
    color: #FFFFFF;
    height: 85px;
    opacity: 0.8;
    position: absolute;
    width: 520px;
}

.caption_containermainmobile
	{
		display: none;
	}

.captionnoright
{
	left: 0px;
}

.captionnoleft
{
	left: 680px;	
}

.caption_close_container
{
	float: right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    width: 90%;
    overflow: hidden;
}

.caption_close_container a
{
	color: #FFFFFF;
}

.caption_content
{
	float: left;
    height: auto;
    padding-top: 5px;
    width: 100%;
}

.caption_content_inner
{
	padding-left: 10px;
	padding-right: 10px;	
}

.emergency_anchor
	{
		height: 250px;
		position: absolute;
		top: 117px;
		width: 1200px;
		z-index: 99;
	}
		
	.big_emergency_image
	{
		display: block;	
	}
	
	.small_emergency_image
	{
		display: none;	
	}
	
	.emergency_text
	{
		height: 263px;
		position: absolute;
		top: 367px;
		width: 1200px;
		z-index: 99;
		overflow: hidden;
	}
	
	.emergency_text_inside
	{
		font-size: 33px;
		font-weight: bold;
		margin: 40px 65px;	
	}


@media (min-width: 1200px)
{
	
	.main_wrapper
	{
		-moz-box-shadow: 2px 2px 15px #000;
		-webkit-box-shadow: 2px 2px 15px #000;
        box-shadow: 2px 2px 15px #000;
	}
	
	.bottom_bar_link {
		position: relative;
		top: 5px;
	}
	
	.goog-te-gadget-simple {

    font-size: 9pt !important;
    margin-left: 6px;
    width: 147px;
	}

	.makeDark
	{
		display: none !important;	
	}
	
	.container_holder
	{
		height: 100%;
		position: relative;
		width: 100%;
	}
		
	
}


@media (min-width: 768px) and (max-width: 1199px) 
{

	.page_nav_container {
		height: 75px;
		margin-top: 0px;
		width: 100%;
	}
	
	.big_emergency_image
	{
		display: none;	
	}
	
	.small_emergency_image
	{
		display: block;	
		width: 768px;
	}
	
	.emergency_anchor
	{
		float: left;
		height: 160px;
		position: absolute;
		top: 90px;
		width: 768px;
		z-index: 99;
	}
	
	.container_holder {
    height: 100%;
    width: 100%;
    position: relative;
	}
	
	.sidr {
		overflow-y: visible !important;
	}
	
	.captionnoright {
		left: 248px;
	}
	
	.captionnoleft
	{
		left: 248px;	
	}
	
	.main_image_photo_credit {
		float: left;
		font-family: times new roman;
		font-size: 14px;
		height: 15px;
		margin-left: 70%;
		margin-top: 51%;
	}

	.bottombrown a {
		color: #D9974D;
		font-size: 19px;
		margin-left: 38px;
	}
	
	.search_textbox {
		width: 260px;
	}
	
	
	.bottom_bar_link {
		position: relative;
		top: 5px;
	}
	
	.bottom_bottom_container
	{
		height: 55px;
	}
	
	.main_wrapper
	{
		-moz-box-shadow: 2px 2px 15px #000;
		-webkit-box-shadow: 2px 2px 15px #000;
        box-shadow: 2px 2px 15px #000;
	}
	
	
	.right
	{
		float: left;	
	}
	
	.mobile_area
	{
		display: block;	
	}
	
	.main_wrapper {
		width: 768px;
		position: relative;
	}
	
	.header_links_container
	{
		background-color: #333333;	
		height: 90px;
		padding-top: 0px;
		padding-bottom: 0px;
		position: relative;
		width: 100%;
		float: left;
		margin-top: 0px;
	}
	
	.header_top_container {
		display:none;
    }
    
    .main_container {
    background: none repeat scroll 0 0 #F6F6F6;
    height: 510px;
    width: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	overflow: visible;

    
}


.page_nav {
    display:none;
}
	
	.page_menu_expander
	{
		display: block !important;	
		float: left;
		margin-left: 15px;
		padding-bottom: 10px;
		padding-top: 30px;
	}

	.page_nav_image {
		float: left;
		height: 70px;
		margin-top: 13px;
		margin-left: 15px;
	}

	.page_nav_translate {
    float: left;
    height: 40px;
    margin-left: 588px;
    padding-bottom: 10px;
    padding-top: 25px;
}

.mobile_links
{
    float: left;
    top: 0;
    width: 265px;
}

.mobile_search
{
	position: absolute;
    width: 300px;
    float:left;
    top: 90px;	
    display: none;
    background-color: #FFFFFF;
}

.search
{
	padding-left: 35px;
	padding-top: 8px;
	background-color: #FFFFFF;
	position: relative;		
}

.mobile_links_header
{
	background-color: #333333;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 265px;	
}

.link_group {
    padding-left: 20px;
}

.link
{
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom:10px;
}

.link a
{
	color: #FFFFFF;	
	font-size: 14px;
}

.mobile_links_mobile
{
	background-color: #FFFFFF;
    margin-top: 0;
    padding-top: 0px;
    z-index: 99;
}

.sublinks_mobile {
    background-color: #FFFFFF;
    color: #000000;
    display: none;
    margin-top: 0;
    position: relative;
    top: 100%;
    z-index: 999999;
}

.nav_link_across_mobile
{
	background-color: #FFFFFF;
    border-top: 1px solid #D7D7D7;
    color: #515151;
    float: left;
    font-size: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-top: 16px;
    width: 245px;
    
    background-image: url("/include/images/home/245xdown.jpg");
    background-repeat:no-repeat;
	background-position: right center;
    
}

.uparrow
{
	background-image: url("/include/images/home/245xup.jpg");
}

.firstLink
{
	border-top: none;
}


.sublinks_mobile 
{
    background-color: #FFFFFF;
    color: #000000;
    display: none;
    float: left;
    margin-top: 0;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    position: static;
    width: 225px;
    z-index: 0;
}

.mobile_search_links
{
	float: left;
    margin-top: 18px;
    padding-left: 35px;
    padding-right: 35px;	
}

.mobile_links_right_side
{
	padding-top: 15px;
	float: left;
	width: 100%;	
}

.sub_link_menu_mobile
{
	border-bottom: 1px dotted #818181;
    color: #515151;
    float: left;
    font-size: 15px;
    line-height: 1em;
    padding-bottom: 9px;
    padding-top: 7px;
    width: 100%;
}

.sub_link_menu_mobile_last
{
    color: #515151;
    float: left;
    font-size: 15px;
    line-height: 1em;
    padding-bottom: 9px;
    padding-top: 7px;
    width: 235px;
}

.bottom_stories_container {

    height: 305px;

}

.story_content {
    margin-left: 33px;
}

.story_content_last
{
	margin-left: 220px;	
}

.bottom_bottom_link {
    margin-left: 245px;
}

.mobile_search_container
{
	display: block;
    float: left;
    height: 40px;
    margin-left: 260px;
    padding-bottom: 10px;
    padding-top: 35px;
}

.mobile_search {
    float: left;
    position: absolute;
    top: 90px;
    min-width: 768px;
    width: 100%;
    z-index:999;
}

.mobile_search_left
{
	float: left;
	width: 355px;
	border-right: 1px dotted #DADADA;	
	margin-top: 20px;
}

.mobile_search_right
{
	float: left;
	width: 330px;
	padding-left:35px;
	padding-right:35px;
	margin-top: 20px;
}

.mobile_right_a {
    border-bottom: 1px solid #818181;
    border-right: medium none;
    color: #818181;
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 6px;
    padding-bottom: 5px;
    position: relative;
    width: 340px;
}

.mobile_search_right .search_header
{
	padding-left: 0px;
}

.mobile_search_right div *
{
	text-align: left !important;
}

.mobile_search_right div a
{	
	padding-left: 0px;
}

.search_header
{
	margin-bottom: 0;
    padding-left: 35px;
    padding-top: 0px;
    color: #818181;	
}

.mobile_search_bottom_right
{
	float: left;
    margin-top: 25px;	
    margin-bottom: 10px;
}

.mobile_search_links a {
    border-bottom: 1px solid #818181;
    border-right: medium none;
    color: #818181;
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 4px;
    padding-bottom: 5px;
    position: relative;
    width: 258px;
}

.column_panel {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    position: relative;
    width: 768px;
    height: auto;
    margin-top: -1px;
}

.column_panel.columnbrown {
    margin-top: -1px;
}

.column_panel.columnblue {
    height: 220px;
    margin-top: -2px;
    padding-top: 0;
}

.panel_column {
    color: #FFFFFF;
    float: left !important;
    height: 350px;
    margin-left: 30px;
    margin-right: 0;
    width: 340px;
    padding-bottom: 15px;
}


.panel_column_last {
    color: #FFFFFF;
    float: left !important;
    height: 350px;
    margin-left: 30px;
    margin-right: 0;
    width: 340px;
}

.panel_bottom_bar {
    float: left;
    height: 70px;
    margin-top: -1px;
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.header_panel {
    float: left;
    margin-left: 0;
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    width: 708px;
    padding-bottom:10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.column_content {
    height: 80px;
    margin-bottom: 10px;
    overflow: hidden;
}

.columnpink
{
	background-color: #7E174E;
	margin-top: -1px;
}

.columnbrown
{
	background-color: #CA7E2A;
    padding-bottom: 0;
    padding-top: 27px;
}

.columnblue {
    background-color: #145693;
    background-color: #145693;
    padding-top: 22px;
}

.bottom_bar_text {
    margin-left: 30px;
    padding-top: 22px;
}

.pc_container
{
	display: none;
}

.main_panel_container {
    display:none;
    background-image: none !important;
}

.main_panel_container_mobile {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin-top: -1px;
}

.main_panel_container_mobile_two_column {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin-top: -1px;
}

.mobile_background_image
{
	bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;	
}

.mobile_panels
{
	display: block;
    float: left;
    height: auto;
    position: relative;
    width: 100%;	
}

.column_video
{
	display: none;	
}

.column_video_mobile
{
	display: block;	
	padding-top: 20px;
}

.panel_column_first_right {
    color: #FFFFFF;
    float: left !important;
    height: 355px;
    margin-left: 30px;
    margin-right: 0;
    width: 340px;
    padding-bottom: 15px;
}

.header_text_blue {
    margin-top: 15px;
    font-size: 63px;
    padding: 0 10px;
}

.header_text_brown {
    font-size: 63px;
    width: 100%;
    margin-top: 15px;
}


.header_text_white {
    font-size: 73px;
    width: 100%;
    margin-top: 0px;
}


.sub_text_yellow {
    width: 100%;
    font-size: 20px;
}

.sub_text_white {
    width: 100%;
    font-size: 20px;
}

.sub_text_green {
    font-size: 17px;
    width: 100%;
}

.column_tablet_wrapper
{
	width: 708px;	
}

.column_image
{
    width: 245px;	
}

.column_image_one_column
{
	float: left;
    height: 200px;
    padding-right: 20px;
    padding-top: 7px;
    width: 247px;
}

.panel_column_one_column .column_content {
    font-size: 15px;
    height: 62px;
    line-height: 1;
    padding-top: 1px;
}

.panel_column_one_column {
    height: 200px;
    margin-top:0px;
}

.footer_bottom {
    width: 100%;
}

.footer_top {
    width: 100%;
}

.column_panel_footer {
    float: left;
    margin-left: 0;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 768px;
}

.footer_top {
    height: auto;
    width: 768px;
}

.footer_column {
    color: #FFFFFF;
    float: left;
    margin-left: 30px;
    margin-right: 0;
    width: 340px;
    padding-top: 30px;
}

.footer_column_last {
    color: #FFFFFF;
    float: left;
    margin-left: 30px;
    margin-right: 0;
    width: 340px;
    padding-top: 30px;
}



.mobile_one_link
{
	background: #000000;
	color: #FFFFFF;
}

.mobile_one_container a:hover
{
	color: #FFFFFF;
}

.mobile_one_container
{
	float: left;
    left: 10px;
    position: absolute;
    text-align: right;
    top: 525px;
    width: 730px;
}

.mobile_two_link
{
	color: #FFFFFF;
}

.mobile_two_container a:hover
{
	color: #FFFFFF;
}

.mobile_two_container
{
	float: left;
    left: 0;
    position: absolute;
    text-align: center;
    top: 550px;
    width: 768px;
}

.mobile_four_link
{
	color: #FFFFFF;
	margin-right: 25px;
}

.mobile_four_container a:hover
{
	color: #FFFFFF;
}

.mobile_four_container
{
	float: left;
    left: 0;
    position: absolute;
    text-align: right;
    top: 550px;
    width: 768px;
}

.bodyfixed
{
	position: relative !important;
}

.main_image_photo_credit_mobile {
		display: none;
	}
	
	.emergency_text
	{
		float: left;
		height: 260px;
		overflow: hidden;
		position: absolute;
		top: 250px;
		width: 768px;
		z-index: 99;
	}
	
	.emergency_text_inside
	{
		font-size: 28px;
		font-weight: bold;
		margin: 25px 30px;
	}


}



@media (max-width: 767px)
{
	
	.page_nav_container {
		height: 75px;
		margin-top: 0px;
		width: 100%;
	}
	
	.captionnoleft {
		left: 0px;
	}
	
	.captionnoright
	{
		left: 0px;
	}
	
	.caption_container 
	{
		width: 100%;
	}
	
	.caption_containermain 
	{
		width: 100%;
	}
	
	.caption_containermainmobile
	{
		background-color: #000000;
		color: #FFFFFF;
		height: 85px;   
		position: absolute;
		bottom: -85px;
		width: 520px;
		opacity: .8;
		width: 100%;
		display: block;
	}
	
	.page_nav_container {
    height: auto;
    width: auto;
	}
	
	.main_image_photo_credit {
		display: none;
	}
	
	.main_image_photo_credit_mobile {
		font-family: times new roman;
		font-size: 11px;
		height: 15px;
		margin-left: 0px;
		margin-top: 0px;
		position: absolute;
		float: none;
		text-align: center;
		bottom: 15px;
		display: block;
		width: 100%;
	}
	
	.main_image_photo_credit_mobile a
	{
		color: #FFFFFF;
	}
	
	.mobile_area
	{
		display: block;	
	}
	
	.main_wrapper {
		width: 100%;
		margin: 0;
	}
	
	.header_links_container
	{
		background-color: #333333;	
		height: 100px;
		top: 50px;
		position: relative;
		width: 100%;
		float: left;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 0px;
	}
	
	.header_top_container {
		display:none;
    }
    
    .main_container {
    background: none repeat scroll 0 0 #F6F6F6;
    height: 510px;
    width: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 800px;
}

.page_nav {
    display:none;
}
	
	.page_menu_expander
	{
		display: block !important;	
		float: left;
		margin-left: 0px;
		padding-bottom: 10px;
		padding-top: 45px;
		width: 15%;
		text-align: center;
	}

	.page_nav_image {
		float: left;
		height: 70px;
		margin-top: 28px;
		width: 60%;
		text-align: center;
		margin-left: 5px;
	}

	.page_nav_translate {
    float: none;
    height: 40px;
    margin-left: 0px;
    padding-bottom: 15px;
    padding-top: 20px;
    position: absolute;
    top: -55px;
    background-color: #000000;
    text-align: center;
    width: 100%;
    padding-right:0px;
}

.mobile_links
{
    position: absolute;
    width: 300px;
    float:left;
    top: 150px;
}

.mobile_search
{
	position: absolute;
    width: 300px;
    float:left;
    top: 90px;	
    display: none;
    background-color: #FFFFFF;
}

.search
{
	padding-left: 15px;
	padding-top: 10px;
	background-color: #FFFFFF;
	position: relative;		
}

.mobile_links_header
{
	background-color: #333333;
    float: left;
    margin-top: 15px;
    width: 100%;
}

.link_group {
    padding-left: 20px;
}

.link
{
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom:10px;
}

.link a
{
	color: #FFFFFF;	
	font-size: 14px;
}

.mobile_links_mobile
{
	background-color: #333333;
}

.sublinks_mobile {
    background-color: #FFFFFF;
    color: #000000;
    display: none;
    margin-top: 0;
    position: relative;
    top: 100%;
    z-index: 999999;
}

.nav_link_across_mobile
{
	background-color: #FFFFFF;
    border-top: 1px solid #D7D7D7;
    color: #515151;
    float: left;
    font-size: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-top: 16px;
    width: 220px;
    
	background-image: url("/include/images/home/220xdown.jpg");
    background-repeat:no-repeat;
	background-position: right center;
    
}

.uparrow
{
	background-image: url("/include/images/home/220xup.jpg");
}



.sublinks_mobile 
{
    background-color: #FFFFFF;
    color: #000000;
    display: none;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: static;
    width: 200px;
    float: left;
    padding-top: 0 !important;
}

.sub_link_menu_mobile
{
    border-bottom: 1px dotted #818181;
    color: #515151;
    float: left;
    font-size: 15px;
    line-height: 1em;
    margin-right: 13px;
    padding-bottom: 9px;
    padding-top: 7px;
    width: 100%;
}

.sub_link_menu_mobile_last
{
    color: #515151;
    float: left;
    font-size: 15px;
    line-height: 1em;
    margin-right: 13px;
    padding-bottom: 9px;
    padding-top: 7px;
    width: 208px;
}

.bottom_stories_container {

    height: 420px;
    padding-top: 25px;
    overflow: hidden;
    position: relative;

}

.story_content {
    float: none;
    margin: 0 auto 25px;
    width: 80%;
}

.story_content_last
{
	float: none;
    margin: 0 auto 25px;
    width: 80%;
}


.story_content_right {
    float: left;
    height: 115px;
    max-width: 728px;
    min-width: 123px;
    width: 40%;
}

.bottom_bottom_link {
    float: none;
    margin: 0 auto;
    width: 260px;
    font-size: 12px;
}

.mobile_search_container
{
	display: block;
    float: right;
    height: 40px;
    margin-left: 5px;
    padding-bottom: 10px;
    padding-top: 50px;
    margin-right: 0px;
    width: 15%;
    text-align: left;
}

.mobile_search {
    float: left;
    position: absolute;
    top: 150px;
    width: 100%;
    z-index: 9;
}

.mobile_search_links a {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 285px;
    padding-left: 15px;
}

.goog-te-menu-frame skiptranslate
{
	width: 100%;	
}

.column_panel {
    margin-left: 0;
    margin-top: -1px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    position: relative;
    width: 100%;
    height: auto;
}

.panel_column {
    color: #FFFFFF;
    float: left;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    width: 80%;
}


.panel_column_last {
    color: #FFFFFF;
    float: left;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    width: 80%;
    
}

.panel_bottom_bar {
    float: left;
    height: auto;
    margin-top: -1px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    
}

.panel_column_one_column .column_content {
    font-size: 15px;
    height: auto;
    line-height: 1;
    padding-top: 0;
}

.header_panel {
    float: left;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    width: 100%;
    padding-bottom:10px;
    margin-left: 0px;
    padding-top:15px;
}

.column_content {
    height: 80px;
    margin-bottom: 10px;
    overflow: hidden;
}

.columnpink
{
	background-color: #7E174E;
	margin-top: -1px;
}

.columnbrown
{
	background-color: #CA7E2A;
    margin-top: 0;
    padding-top: 68px;
}

.columnblue {
    background-color: #145693;
}

.bottom_bar_text {
    margin-left: 30px;
    margin-right: 9px;
    padding-top: 22px;
    width: 89%;
}

.pc_container
{
	display: none;	
}

.main_panel_container {
    display:none;
    background-image: none !important;
}

.main_panel_container_mobile {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.main_panel_container_mobile_two_column {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.mobile_background_image
{
	width: 100%;	
}

.mobile_panels
{
	display:block;	
}

.column_video
{
	display: none;	
}

.column_video_mobile
{
	display: block;	
}

.panel_column_first_right {
    color: #FFFFFF;
    float: none !important;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.header_text_blue {
    font-size: 49px;
    line-height: 0.9em;
    margin: 15px 12px 7px 20px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.header_text_brown {
    font-size: 63px;
    line-height: 0.9em;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    width: 80%;
}


.header_text_white {
    font-size: 58px;
    margin-left: 17px;
    margin-right: 20px;
    width: 80%;
    margin-top: 0px;
}

.panel_column_one_column {
    padding: 30px;
}

.sub_text_yellow {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.sub_text_white {
    font-size: 20px;
    margin-left: 17px;
    margin-right: 20px;
    width: 80%;
}

.sub_text_green {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 0px;
}

.sub_inside_content_one_column {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: 600;
    margin-right: 14px;
    margin-top: 10px;
    padding: 10px 44px 10px 10px;
}

.column_tablet_wrapper
{
	width: 100%;	
}

.column_image
{
    width: 100%;	
}

.column_image_one_column
{
	float: left;
    height: 200px;
    width: 245px;	
}


.column_panel.columnblue {
    height: auto;
}

.bottomblue a {
    color: #7AB7F0;
    font-size: 20px;
    top: 35px;
    line-height: 1.5em;
}


.bottombrown a {
    color: #D9974D;
    font-size: 20px;
    top: 35px;
    line-height: 1.5em;
}


.bottompink a {
    color: #EC4FA3;
    font-size: 20px;
    top: 35px;
    line-height: 1.5em;
}

.panel_column_one_column {
    height: auto;
}

.right {
    float: left;
}

.panel_column_one_column {
    background-color: #145595;
    color: #FFFFFF;
    height: auto;
    margin: 0 auto 25px;
    padding: 0px 20px;
    width: 80%;
}


.column_tablet_wrapper {
    width: 100%;
}

.column_image_one_column {
    float: left;
    height: auto;
    width: 100%;
}

.column_headline {
    float: left;
    width: 100%;
    margin-top: 0px;
}

.column_content {
    float: left;
    height: auto;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100;
    padding-bottom: 5px;
}

.columnbrown .panel_column
{
	padding-bottom: 0px;	
}


.column_video_mobile {
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.footer_bottom {
    width: 100%;
}


.column_panel_footer {
    float: left;
    margin-left: 0px;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 40px;
}

.footer_column {
    color: #FFFFFF;
    float: none;
    margin-left: 45px;
    margin-right: 67px;
    padding-bottom: 20px;
    width: 72%;
}

.footer_column_last {
    color: #FFFFFF;
    float: none;
    margin-left: 45px;
    margin-right: 45px;
    padding-bottom: 20px;
    width: 72%;
}

.columnpink .panel_column_last
{
	padding-bottom: 10px;	
}

.footer_top {
    height: auto;
    width: 100%;
}

.bottompink {
    background-color: #7E174E;
    padding-top: 0 !important;
}

.bottomblue {
    background-color: #145693;
    padding-top: 0 !important;
}


.mobile_one_link
{
	background: #000000;
	color: #FFFFFF;
	font-size: 11px;
}

.mobile_one_container a:hover
{
	color: #FFFFFF;
}

.mobile_one_container
{
	float: left;
    left: 10px;
    padding-top: 68%;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: bottom;
    width: 96%;
}

.mobile_two_link
{
	color: #FFFFFF;
	margin-right: 25px;
}

.mobile_two_container a:hover
{
	color: #FFFFFF;
}

.mobile_two_container
{
	float: left;
    left: 10px;
    padding-top: 71%;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: bottom;
    width: 96%;
    margin-top: -1px;
}

.mobile_four_link
{
	color: #FFFFFF;
	margin-right: 25px;
}

.mobile_four_container a:hover
{
	color: #FFFFFF;
}

.mobile_four_container
{
	float: left;
    left: 10px;
    padding-top: 68%;
    position: absolute;
    text-align: right;
    top: 0;
    vertical-align: bottom;
    width: 96%;
    margin-top: -1px;
}

.header_links_container {
    padding-bottom: 0;
    padding-top: 0;
}

.jqmWindow iframe
{
	height: 240px;
    width: 260px;	
}

.jqmWindow 
{
	left: 98%;
}

.mobile_search_container
{
	display: block;
    float: left;
}

.story_content_image {
    float: left;
    height: 115px;
    width: 128px;
}


.panel_column_one_column .column_headline {
    color: #E2E797;
    margin-top: 0;
    padding-top: 15px;
}

.main_container
{
    width: 100%;
    background-image: none !important;
    height: 150px;
    overflow: visible;
}

.story_content_desc {
    font-size: 11px;
}


.search_textbox {
    float: left;
    padding-top: 10px;
    width: 75%;
}

.search_header {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 40px;
    padding-top: 0;
    text-align: left;
    width: 80%;
    float: left;
    color: #818181;
}

.mobile_right_a
{
	float: left;	
	width: 80%;
	margin-left:40px;
	border-bottom: 1px solid #818181;
    border-right: medium none;
    color: #818181;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 6px;
    padding-bottom: 5px;
    position: relative;
}

.mobile_search_bottom_right
{
	float: left;
    margin-left: 40px;
    margin-top: 30px;
    width: 80%;
    padding-bottom: 10px;
}

.mobile_search_links a {
    border-bottom: 1px solid #818181;
    border-right: medium none;
    color: #818181;
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 40px;
    margin-top: 6px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-top: 0;
    position: relative;
    width: 80%;
}

.mobile_search_left
{
	padding-top: 30px;	
}

.mobile_search_links
{
	float: left;
	width: 100%;	
}

.mobile_search_box
{
	float: left;
	width: 100%;	
}

.search {
    background-color: #FFFFFF;
    margin-bottom: 42px;
    padding-left: 40px;
    padding-top: 0;
    position: relative;
}

.mobile_search_right .search_header
{
	margin-bottom: 5px;
    margin-top: 30px;	
}

.mobile_search_right div *
{
	text-align: left !important;
}

.mobile_search_right div a
{	
	padding-left: 0px;
}

.mobile_links {
    float: left;
    position: fixed;
    top: 0;
    width: 240px;
}

.darkClass {
    margin-top: 150px;
}

.bodyfixed
{

}

.mobile_main_container
{
	display: block;	
	position: relative;
	top: 0px;
	margin-bottom: 0px;
	
}

.mobile_main_image {
    width: 100%;
  
}


.column_panel.columnbrown {
    margin-top: -1px;
    padding-top: 5px;
}

.mobile_links_right_side
{
	float: left;
	padding-top: 15px;	
}

.caption_containermain {
    display: none;
}

.emergency_anchor
{
	display: none;	
}
	
	
	.emergency_text_mobile
	{
		position: relative;
		width: 100%;
	}
	
	.emergency_text_inside_mobile
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 16px;
		font-weight: bold;
	}
	
	.emergency_text
	{
		display: none;
	}
	
	.emergency_text_inside
	{
		display: none;
	}


.story_content_title {
    font-size: 11px !important;
}

.story_content_title a {
    font-size: 11px !important;
}
	
}
