﻿body 
{
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 0.8em;
    left: 50%;
    margin: 0px 0px 0px -425px;
    min-width: 850px;
    padding: 0px 0px 20px 0px;
    position: relative;
    width: 0px;
    color: #000000;
}

div
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

img
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; 
}

ol
{
    list-style-type: decimal;
}

table p
{
    margin: 0px 0px 10px 0px;
}

ul
{
    list-style-type: disc;
}

A img
{
    border: none;
}

.error
{
    color: Red;
    margin: 5px;
}

.empty_anchor
{
    font-size: 0px;
    height: 0px;
    line-height: 0px;
}

.link_panel
{
    display: none;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

.master
{
    position: relative;
    width: 850px;
}

.master_content
{
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    width: 850px;
}

.master_content_center
{
    bottom: 0px;
    margin: 0px 0px 0px 0px;
    top: 0px;
    z-index: 0;
}

.master_content_left
{
    left: 0px;
    margin: 0px 0px 0px 0px;
    top: 0px;
    z-index: 1;
}

.master_content_notifications
{
}

.master_content_right
{
    float: right;
    margin: 0px 0px 0px 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.master_footer
{
    clear: both;
    margin: 0px 0px 0px 0px;
    padding: 20px 10px 20px 10px;
    text-align: center;
    width: 830px;
}

.master_header
{
    margin: 0px 0px 0px 0px;
    width: 850px;
}

.master_header_links
{
    text-align: center;
    width: 100%;
}

.master_header_time
{
}

.master_header_links
{
    width: 850px;
}

.master_header_color_stripe_top
{
    margin: 0px;
    padding: 0px;
}



.module.form
{
    margin: -15px 0px;
}

.module.form table.form_generator_table
{
    padding: 15px 0px;
}

.module.form table.form_generator_table
{
    border: solid 1px #999;
    border-right: solid 2px #999;
    border-bottom: solid 2px #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    padding: 5px;
}

table.form_generator_table table
{
    border: none;
    padding: 0px;
}

.module.form table.form_generator_table th.field_header
{
    font-weight: normal;
    padding: 2px 10px;
    text-align: left;
    vertical-align: top;
}

.module.form table.form_generator_table td.field
{
    font-weight: normal;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
}

.rss_date {
    font-size: 80%;
}

.validation
{
    color: Red;
    font-weight: bold;
}