﻿@charset "UTF-8";
/* CSS Document */

/* ANNOUNCEMENT PANEL */
.emergency_text {
	text-align:center !important;
	background-color:#85272d !important;
	color:#f5eed1 !important;
	font-family: Palatino,serif !important;
	line-height:50px !important;
}
.emergency_text_inside a {
	color:#ffcc5f !important;
}
@media (max-width: 767px) {
.emergency_text_inside_mobile {
    text-align:center !important;
	background-color:#85272d !important;
	color:#f5eed1 !important;
	font-family: Palatino,serif !important;
	line-height:30px !important;
}
.emergency_text_inside_mobile a {
	color:#ffcc5f !important;
}
}

/*DROPDOWN NAV FIXES*/

#academics_submenu .right_side {
	line-height:1.4em !important; 
}

.sublinks {
	height:325px !important;
}

.sublinks_search {
	height:330px !important;
}

/*#campus_life_submenu .sublinks, #campus_life_submenu .middle_content {
	height:324px !important;
}*/

/* AZTEC EXPERIENCE */

@charset "UTF-8";
/* CSS Document */

/* subtext */
.panel_25043 .header_panel {

    margin-top: 164px !important;

}
.panel_mobile_25043 .header_panel {

    margin-top: 0px !important;
	background:#5e0000 !important;

}
.panel_mobile_25043 .sub_inside_content_one_column {
	
	background:#5e0000 !important;
}
/* column */
.panel_25043 .panel_column_one_column {

    display: none !important;

}
.panel_mobile_25043 .panel_column_one_column {

    display: none !important;

}
/* header */
.panel_25043 .header_text_blue {

    display: none !important;

}
.panel_mobile_25043 .header_text_blue {

    display: none !important;

}
/*column panel*/
.panel_mobile_25043 .column_panel.columnblue {

    display: none !important;

}



/* ENTREPRENEURSHIP */

	/* 2 COLUMN SPACING */
.panel_25296 .column_image, #dpgMyPage_ctl15_pnlPanelContent .mobile_panels .column_image
{
  padding-top: 30px;
  padding-bottom: 17px;

}

.panel_25296 .column_panel a, #dpgMyPage_ctl15_pnlPanelContent .mobile_panels .column_panel a
{
color:#ff8d7e;
font-weight:bold;

}

.panel_19599 .column_image, #dpgMyPage_ctl12_pnlPanelContent .mobile_panels .column_image
{
  padding-top: 30px;
  padding-bottom: 17px;

}
.panel_19599 .column_panel a, #dpgMyPage_ctl12_pnlPanelContent .mobile_panels .column_panel a
{
color:#3faad9;
font-weight:bold;

}


/* INTERNATIONAL */

	/* 2 COLUMN SPACING */
.panel_18149 .column_image, #dpgMyPage_ctl10_pnlPanelContent .mobile_panels .column_image
{
  padding-top: 30px;
  padding-bottom: 17px;

}


/* TRANSPARENCY */


	/* DISCOVERY */
.panel_14388 .header_text_blue
{background-color: rgba(255, 255, 255, 0.8) !important;}

.panel_14388 .sub_inside_content_one_column
{background-color: rgba(255, 255, 255, 0.9) !important;}

.panel_14388 .panel_column_one_column
{background-color: rgba(20, 85, 148, 0.8) !important;}


	/* INTERNATIONAL */
.panel_15159 .header_text_blue
{background-color: rgba(255, 255, 255, 0.9) !important;}

.panel_15159 .sub_inside_content_one_column
{background-color: rgba(255, 255, 255, 0.9) !important;}

.panel_15159 .panel_column_one_column
{background-color: rgba(47, 140, 130, 0.6) !important;}

.panel_mobile_18149 .panel_column_last {height:390px;}



	/* ATHLETICS */
.panel_15121 .header_text_blue
{background-color: rgba(34, 34, 34, 0.9) !important;}

.panel_15121 .sub_inside_content_one_column
{background-color: rgba(34, 34, 34, 0.9) !important;}

/*.panel_15121 .panel_column_one_column
{background-color: rgba(34, 34, 34, 0.9) !important;}*/


/* 3 STORY NEWSCENTER LINK COLOR */

.story_content_title a
{
	font-size: 12px;
	font-weight:bold;	
	color: #818181;
    height:13px;
    overflow: hidden;
}

.story_content_desc {
    color: #B14D4F;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 8px;
}

.story_content_desc a {
    color: #B14D4F;
}


/* CAPTION PANEL */

.caption_container
{
	background-color: #000000;
    color: #FFFFFF;
    height: 150px;   
    bottom: -150px;

}



.caption_containermain
{
	background-color: #000000;
    bottom: -150px;
    color: #FFFFFF;
    height: 120px;

}

.caption_containermainmobile {
    height: 160px;
}

.captionnoleft {bottom:-160px;}

	/* CAPTION TYPE PLACEMENT */
.main_container .main_image_photo_credit
{
  float: right;
  font-family: times new roman;
  font-size: 14px;
  height: 15px;
  padding-right: 20px;
  margin-left: 50%;

}


/* 4-COLUMN HEADER TEXT */

.header_text_white {
    font-size: 58px;
	line-height: 58px;
    margin-left: 17px;
    margin-right: 20px;
    margin-top: 0;
	padding-bottom:20px;
    width: 80%;
}
	/* FOUR COLUMN SUB TEXT HEIGHT */
.sub_text_yellow {
    color: #DED28A;
    font-family: "museo-sans",Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    padding-left: 6px;
}


/* MODAL CLOSE BUTTON */
.jqmClose {
    border: none;
	background-color:transparent;
}

/* NEWSCENTER BOXES */

.story_content_right {
    float: left;
    height: 115px;
    max-width: 728px;
    min-width: 123px;
    width: 52%;
}

/* MOBILE EXPAND MENU BUTTON SIZE */
.expand_link {font-size: 30px;}