.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.chosen-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border-top: 0;
    background-color: #cddae1;
    border-radius: 6px;
    color: #59677d;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}

.chosen-container a {
    cursor: pointer;
}

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
    content: ":";
    padding-left: 2px;
    vertical-align: top;
}

/* @group Single Chosen */
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 8px 12px;
    height: 42px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    border: 2px solid #cddae1;
    border-radius: 6px;
    background-color: #fff;
    line-height: 22px;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
}

.chosen-container-single .chosen-default {
    color: #59677d !important;
}

.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}

.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

.chosen-container-single .chosen-single div b {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-width: 8px 6px;
    border-style: solid;
    border-bottom-style: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-transform: scale(1.001,);
    -ms-transform: scale(1.001,);
    transform: scale(1.001,);
    margin-left: 8px;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-bottom-color: #5db2e1;
    border-top-color: #5db2e1;
}

.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 2px;
    white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
    padding: 8px 30px 8px 15px;
    width: 100%;
    height: auto;
    outline: 0;
    background: url('../images/search.png') #fff right center no-repeat;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 4px 4px 0 0;
    border: 0;
}

.chosen-container-single .chosen-drop:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-width: 8px 6px;
    border-style: solid;
    border-top-style: none;
    margin-left: 8px;
    position: absolute;
    right: 18px;
    top: -5px;
    margin-top: -3px;
    border-bottom-color: #cddae1;
    border-top-color: #cddae1;
}

.chosen-container-single .chosen-drop {
    margin-top: 20px;
    background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}

/* @group Results */
.chosen-container .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0 2px 2px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    font-size: 14px;
    padding: 6px 15px 8px;
    list-style: none;
    line-height: 20px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    transition: background-color 0.25s;
}

.chosen-container .chosen-results li:last-child {
    border-radius: 0 0 4px 4px;
}

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
    cursor: default;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #fff;
}

.chosen-container .chosen-results li.result-selected {
    background: #1abc9c;
    color: #ffffff;
}

.chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4;
    border-radius: 0 0 4px 4px;
}

.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}

.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}

.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}

/* @group Active  */
.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #59677d !important;
}