body {
  padding-bottom: 62px;
  position: relative;
  min-height: 100%;
  height: auto;
}
@font-face {
  font-family: 'icomoon';
  src: url('../../css/fonts/icomoon.eot?jt89ic');
  src: url('../../css/fonts/icomoon.eot?jt89ic#iefix') format('embedded-opentype'), url('../../css/fonts/icomoon.ttf?jt89ic') format('truetype'), url('../../css/fonts/icomoon.woff?jt89ic') format('woff'), url('../../css/fonts/icomoon.svg?jt89ic#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icomoon {
  font-family: 'icomoon', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.b-toggle-menu {
  position: fixed;
  display: block;
  width: 260px;
  background: #384a5c;
  top: 0;
  right: -260px;
  bottom: 0;
  z-index: 900;
  padding: 30px;
}
.b-toggle-menu .b-toggle-menu-item {
  color: #fff;
  display: block;
  margin: 0;
  padding: 10px 0;
  font-size: 15pt;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.b-toggle-menu .b-toggle-anchor {
  margin-left: 25px;
}
.b-header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  margin-bottom: 0;
  z-index: 100;
  border-bottom: 1px solid #adc2d1;
}
.b-header .b-header .navbar-collapse {
  margin-left: 290px;
  padding: 0;
  font-size: 10pt;
}
.b-header .container > .navbar-header {
  margin: 0;
}
.b-header.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  right: auto;
}
.b-header__logo {
  float: left;
  width: 171px;
  margin: 19px 0 0 10px;
}
.b-header__logo img {
  max-width: 100%;
}
.b-header__nav {
  float: left;
  margin-top: 38px;
  padding: 0;
}
.b-header__nav a {
  color: #8b9daa;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin-left: 12px;
}
.b-header__nav a:first-child {
  margin-left: 0;
}
.b-header__nav a:hover {
  color: #384a5c;
}
.b-header__btns {
  float: right;
  margin: 23px -1px 0 0;
}
.b-header__btns:before {
  content: " ";
  display: table;
}
.b-header__btns:after {
  content: " ";
  display: table;
  clear: both;
}
.b-header__btns a {
  display: block;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid;
  width: 104px;
  line-height: 37px;
  letter-spacing: 0.5px;
  text-align: center;
  float: left;
  margin-left: 16px;
}
.b-header__btns a.btn-in {
  background: #fff;
  color: #4b768e;
  border-color: #4b768e;
}
.b-header__btns a.btn-in:hover {
  color: #fff;
  background: #4b768e;
}
.b-header__btns a.btn-up {
  background: #e16f3c;
  color: #fff;
  border-color: #e16f3c;
}
.b-header__btns a.btn-up:hover {
  color: #e16f3c;
  background: #fff;
}
.b-header .b-menu {
  float: none;
  margin-right: 15px;
}
.b-header .navbar {
  position: static;
}
.b-header .navbar-collapse {
  margin-left: 290px;
  padding: 0;
  font-size: 10pt;
}
.b-header .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  border-radius: 4px;
  background: #fff;
  border: 2px solid #4b768e;
  margin: 27px 0 0 0;
  width: auto;
  height: auto;
}
.b-header .navbar-toggle .icon-bar {
  background: #4b768e;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.b-header .navbar-toggle:hover {
  background: #4b768e;
}
.b-header .navbar-toggle:hover .icon-bar {
  background: #fff;
}
.w-nav-list {
  list-style: none;
  display: block;
  width: 244px;
  margin: 0;
  padding: 0;
}
.w-nav-list .w-nav-item {
  display: block;
  float: left;
  position: relative;
}
.w-nav-list .w-nav-item:hover .w-nav-level_2 {
  display: block;
  height: 92px;
  opacity: 1;
  padding-top: 6px;
  padding-bottom: 6px;
  overflow: hidden;
}
.w-nav-list .w-nav-level_2 {
  height: 0px;
  opacity: 0;
  list-style: none;
  margin: 2px 0 0;
  padding: 0;
  position: absolute;
  left: 16px;
  top: 100%;
  z-index: 10;
  background-color: #e16f3c;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  min-width: 150px;
  border-radius: 2px;
  transition: height 0.25s ease-in-out, opacity 0.25s ease-in-out, padding-top 0.25s ease-in-out, padding-bottom 0.25s ease-in-out;
}
.w-nav-list .w-nav-level_2 .w-nav-item_2 {
  display: block;
  position: relative;
  text-align: left;
}
.w-nav-list .w-nav-level_2 .w-nav-item_2 a {
  display: block;
  overflow: hidden;
  position: relative;
  color: #fff;
  line-height: 20px;
  white-space: nowrap;
  padding: 10px 20px;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  width: auto;
  letter-spacing: 0.5px;
  text-align: left;
  float: none;
  margin-left: 0;
}
.w-nav-list .w-nav-level_2 .w-nav-item_2 a:hover {
  color: #e16f3c;
  background-color: #ffffff;
}
.w-nav-list .w-nav-level_2 .w-nav-item_2 a .w-nav-title {
  text-transform: uppercase;
}
.w-nav-list .w-nav-blue.w-nav-level_2 {
  background-color: #4b768e;
}
.w-nav-list .w-nav-blue.w-nav-level_2 .w-nav-item_2 a:hover {
  color: #4b768e;
}
.b-top {
  height: 492px;
  background: url(../images/index/bg_top.jpg) center top no-repeat;
  background-size: auto 100%;
  color: #2c3e50;
}
.b-top .col-md-6 {
  padding: 0;
}
.b-top .container {
  position: relative;
  padding: 0;
}
.b-top .container .bird {
  position: relative;
}
.b-top .container .bird:before {
  content: '';
  display: block;
  max-width: 508px;
  width: 105%;
  height: 454px;
  background: url(../images/index/bird.png) 0 0 no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: 79px;
  left: -7.5%;
}
.b-top__title {
  font-weight: 500;
  font-size: 30pt;
  margin: 87px 0 0 15px;
}
.b-top p {
  font-size: 12pt;
  line-height: 23pt;
  margin: 29px 0 0 15px;
}
.b-top__info {
  margin-top: 42px;
}
.b-top__info:before {
  content: " ";
  display: table;
}
.b-top__info:after {
  content: " ";
  display: table;
  clear: both;
}
.b-top__info .col-md-6 {
  padding-left: 41px;
}
.b-top__info .col-md-6:first-child {
  padding-left: 10px;
}
.b-top__info .col-md-6:first-child .b-top__info__info:after {
  color: #86c5e8;
  content: "\e901";
}
.b-top__info__title {
  font-weight: 500;
  font-size: 15pt;
}
.b-top__info__info {
  font-weight: bold;
  font-size: 54pt;
  margin: 4px 0 0 0;
  text-transform: uppercase;
  position: relative;
}
.b-top__info__info:after {
  font-family: 'icomoon', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e900";
  color: #e8926c;
  position: absolute;
  bottom: -105px;
  left: -5px;
  font-size: 137pt;
}
.b-main {
  font-size: 12pt;
  color: #8b9daa;
}
.b-main ul {
  padding: 0;
}
.b-main ul li {
  position: relative;
  padding-left: 23px;
  list-style: none;
  line-height: 20pt;
}
.b-main ul li:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  left: 7px;
  top: 8px;
  border: 2px solid #8b9daa;
}
.b-main__section .col-sm-4 {
  padding: 0;
}
.b-main__section.section1 {
  background: url(../images/index/bg_section1.jpg?v=2) #fff center top no-repeat;
  height: 408px;
  background-size: auto 100%;
}
.b-main__section.section3 {
  margin: 25px auto 52px;
}
.b-main__section.section2 {
  background: url(../images/index/bg_section2.jpg?v=2) #fff center top no-repeat;
  height: 405px;
  background-size: auto 100%;
}
.b-main__section__num {
  font-weight: bold;
  font-size: 90pt;
  margin: 53px 0 0 0;
  line-height: 90px;
  letter-spacing: -7px;
  color: #384a5c;
}
.b-main__section__title {
  font-weight: 500;
  font-size: 30px;
  margin: 8px 0 0 0;
}
.b-main__section ul {
  margin: 19px 50px 0 0;
}
.b-main__section ul li {
  margin: 0;
}
.b-main__advantages__title {
  text-align: center;
  font-weight: 500;
  margin: 98px 0 73px;
  font-size: 22pt;
  letter-spacing: 0.4px;
  color: #2c3e50;
}
.b-main__advantages .row {
  margin: 0 auto 52px;
  width: 83%;
  line-height: 20pt;
}
.b-main__advantages .col-sm-6 {
  padding: 0 0 0 11.5%;
}
.b-main__advantages__item {
  position: relative;
}
.b-main__advantages__item__title {
  font-weight: 500;
  font-size: 16pt;
  letter-spacing: 0.2px;
  margin: 10px 0 16px;
  color: #2c3e50;
}
.b-main__advantages__item:before {
  font-family: 'icomoon', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #bec7ce;
  position: absolute;
  left: 32px;
  top: 0;
  font-size: 32pt;
}
.b-main__advantages__item.item0:before {
  content: "\e907";
}
.b-main__advantages__item.item1:before {
  content: "\e906";
}
.b-main__advantages__item.item2:before {
  content: "\e905";
}
.b-main__advantages__item.item3:before {
  content: "\e904";
}
.b-main__advantages2 {
  background: #e9f4fb;
  margin-top: 32px;
  padding-bottom: 78px;
}
.b-main__advantages2 .container {
  padding: 0;
}
.b-main__advantages2__item {
  padding: 0 7%;
  margin: 105px 0 0;
  text-align: center;
}
.b-main__advantages2__item__img {
  width: 102px;
  margin: 0 auto;
}
.b-main__advantages2__item__img img {
  max-width: 100%;
}
.b-main__advantages2__item__title {
  font-weight: 500;
  font-size: 13.5pt;
  margin: 37px 0 0;
  color: #384a5c;
}
.b-main__advantages2__item p {
  font-size: 10pt;
  margin: 9px 0 0;
  line-height: 14pt;
}
.b-main__news {
  margin-top: 23px;
}
.b-main__news__title {
  color: #bbcbda;
  font-weight: 500;
  font-size: 14pt;
}
.b-main__news__item {
  margin: 32px 0;
}
.b-main__news__item__text {
  text-decoration: none;
  color: #5db2e1;
  margin: 31px 17px 0 2px;
  font-size: 12pt;
  line-height: 18pt;
  letter-spacing: 0.7px;
}
.b-main__news__item__date {
  margin-top: 5px;
  color: #bbcbda;
}
.b-main__events {
  background: #ecf3fd;
}
.b-main__events__title {
  text-align: center;
  color: #2c3e50;
  font-weight: 500;
  font-size: 23pt;
  margin-top: 78px;
  letter-spacing: -0.2px;
}
.b-main__events__item {
  max-width: 293px;
  margin: 62px auto 70px;
  background: #fff;
  box-shadow: 0 78px 138px rgba(151, 178, 195, 0.35);
  text-align: center;
  padding-bottom: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.b-main__events__item__img {
  line-height: 0;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.b-main__events__item__img img {
  max-width: 100%;
}
.b-main__events__item__place {
  color: #34495e;
  font-weight: 500;
  margin-top: 28px;
  font-size: 14pt;
  letter-spacing: -0.3px;
}
.b-main__events__item__date {
  color: #8b9daa;
  margin-top: 10px;
  font-size: 11pt;
}
.b-main__events__item__btn {
  display: block;
  text-decoration: none;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #c9d6dd;
  font-weight: bold;
  color: #4b768e;
  text-align: center;
  line-height: 47px;
  max-width: 190px;
  width: 90%;
  margin: 24px auto 0;
  font-size: 11pt;
}
.b-main__events__item__btn:hover {
  background: #4b768e;
  color: #fff;
  border-color: #4b768e;
}
.b-quote_slider {
  height: 404px;
  width: 536px;
}
.b-quote_slider__item__quote {
  font-size: 22.5pt;
  line-height: 38pt;
  font-weight: 300;
  margin-top: 76px;
  position: relative;
  color: #2c3e50;
}
.b-quote_slider__item__quote:before {
  content: '';
  display: block;
  width: 31px;
  height: 22px;
  background: url(../images/index/quote.png);
  background-size: 100% 100%;
  position: absolute;
  top: -44px;
  left: 2px;
}
.b-quote_slider__item__author {
  font-size: 13.5pt;
  margin-top: 19px;
  letter-spacing: 0.2px;
  color: #5db2e1;
}
.b-quote_slider .slidesjs-navigation {
  color: transparent;
  display: block;
  width: 54px;
  height: 54px;
  position: absolute;
  background-size: 100% 100%;
  bottom: 3px;
}
.b-quote_slider .slidesjs-navigation:hover {
  opacity: 0.7;
}
.b-quote_slider .slidesjs-navigation.slidesjs-previous {
  background-image: url(../images/index/back.png);
  left: 6px;
}
.b-quote_slider .slidesjs-navigation.slidesjs-next {
  background-image: url(../images/index/next.png);
  left: 85px;
}
.b-footer {
  color: #698599;
  background: #2c3e50;
  height: 62px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.b-footer .col-sm-10:before {
  content: " ";
  display: table;
}
.b-footer .col-sm-10:after {
  content: " ";
  display: table;
  clear: both;
}
.b-footer .container {
  padding: 0;
}
.b-footer__nav {
  float: left;
  font-size: 12pt;
  margin: 23px 0 0;
  padding: 0;
}
.b-footer__nav:before {
  content: " ";
  display: table;
}
.b-footer__nav:after {
  content: " ";
  display: table;
  clear: both;
}
.b-footer__nav li {
  float: left;
  list-style-type: none;
  margin-left: 23px;
}
.b-footer__nav li:first-child {
  margin-left: 0;
}
.b-footer__nav li a {
  text-decoration: none;
  color: #b8cfe0;
  font-weight: 500;
}
.b-footer__copy {
  float: right;
  margin: 24px 6px 0 0;
  font-size: 9pt;
}
.b-footer__copy a {
  color: #698599;
}
.b-footer__copy a:hover {
  text-decoration: none;
}
.b-footer__social {
  text-align: right;
  padding-top: 24px;
}
.b-footer__social__btn {
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 0;
  background-position: 0 0;
  background-size: 100% auto;
  margin-left: 14px;
  transition: all 0.1s linear;
}
.b-footer__social__btn:first-child {
  margin-left: 0;
}
.b-footer__social__btn:hover {
  background-position: 0 bottom;
}
.b-footer__social__btn.tw {
  background-image: url(../images/index/social/twitter.png);
}
.b-footer__social__btn.fb {
  background-image: url(../images/index/social/facebook.png);
}
.b-footer__social__btn.in {
  background-image: url(../images/index/social/linkedin.png);
}
.b-footer__social__btn.mail {
  background-image: url(../images/index/social/mail.png);
}
.contest_close {
  position: relative;
}
.contest_close img {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .b-main .container,
  .b-header .container {
    padding: 0;
  }
  .b-main .container > div,
  .b-header .container > div {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .b-header .container,
  .b-main .container,
  .b-footer .container {
    width: 1000px;
  }
}
@media (max-width: 767px) {
  .b-quote_slider .container {
    width: auto;
  }
}
@media (max-width: 480px) {
  .b-quote_slider .container {
    width: auto;
  }
  .contest_close img {
    width: 15px;
    top: -20px;
    right: -20px;
  }
  .b-footer .container {
    background: #2c3e50;
  }
}
.section-content .news-item {
  font-family: "Arial";
  max-width: 615px;
  padding-bottom: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e2e2e2;
}
.section-content .news-item:last-child {
  border-bottom: none;
}
.section-content .news-item h3 a {
  color: #2c3e50;
  font-weight: bold;
}
.section-content .news-item h3 a:hover,
.section-content .news-item h3 a:focus {
  opacity: 0.8;
}
.section-content .news-item h4 {
  font-size: 14px;
  color: #8b9daa;
}
.section-content .news-item .pull-xs-left {
  float: left;
  margin: 0 30px 30px 0;
}
.section-content .news-item .announces-new {
  clear: both;
  font-size: 16px;
  color: #2c3e50;
  line-height: 1.625;
}
.section-content .news-item .announces-new a {
  font-size: 16px;
  color: #2c3e50;
  line-height: 1.625;
}
.section-content .news-item .announces-new a:hover,
.section-content .news-item .announces-new a:active {
  color: #2a6496;
}
@media (max-width: 1199px) and (min-width: 1024px) {
  .b-header .navbar-collapse {
    margin-left: 22%;
  }
  .b-header__logo {
    width: 15%;
  }
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: right;
  }
}
@media (min-width: 1024px) {
  .navbar-toggle {
    display: none;
  }
  .navbar-header {
    float: left;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  body {
    padding-bottom: 85px;
  }
  .b-header .navbar-collapse {
    margin-left: 22%;
  }
  .b-header__btns {
    float: none;
    margin-top: 0;
  }
  .b-header__nav {
    float: none;
    margin: 0;
  }
  .b-header__nav li {
    list-style-type: none;
  }
  .b-header__nav a {
    float: none;
    color: #fff;
    display: block;
    margin: 0;
    padding: 10px 0;
    font-size: 15pt;
  }
  .b-header__nav a:hover {
    color: #4b768e;
  }
  .b-header .navbar-collapse {
    display: none !important;
  }
  .b-header .navbar-nav {
    margin: 0;
  }
  .b-top__info__info {
    font-size: 39pt;
  }
  .b-top__info__info:after {
    bottom: -76px;
    left: 0;
    font-size: 100pt;
  }
  .b-main__section__num {
    font-size: 83pt;
    margin-top: 64px;
    line-height: 77px;
    letter-spacing: -2px;
  }
  .b-main__advantages__item:before {
    left: 7px;
  }
  .b-main__events__item__btn {
    width: 80%;
    font-size: 10pt;
  }
  .b-quote_slider {
    width: 390px;
  }
  .b-quote_slider__item__quote {
    font-size: 19.5pt;
    line-height: 26pt;
  }
  .b-quote_slider__item__author {
    font-size: 12.5pt;
  }
  .b-quote_slider .slidesjs-container,
  .b-quote_slider .slidesjs-control {
    width: 390px;
  }
  .b-footer {
    height: auto;
  }
  .b-footer__nav {
    float: none;
  }
  .b-footer__copy {
    float: none;
    margin: 8px 0 19px 0;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  body {
    padding-bottom: 139px;
  }
  .b-header__btns {
    float: none;
    margin-top: 0;
  }
  .b-header__nav {
    float: none;
    margin: 0;
  }
  .b-header__nav li {
    list-style-type: none;
  }
  .b-header__nav a {
    float: none;
    color: #fff;
    display: block;
    margin: 0;
    padding: 10px 0;
    font-size: 15pt;
  }
  .b-header__nav a:hover {
    color: #4b768e;
  }
  .b-header .navbar-collapse {
    display: none;
  }
  .b-header .navbar-nav {
    margin: 0;
  }
  .b-top {
    height: 425px;
  }
  .b-top .container .bird:before {
    display: none;
  }
  .b-top__title {
    margin-top: 60px;
  }
  .b-top__info {
    text-align: center;
  }
  .b-top__info__info {
    font-size: 33pt;
    margin-top: 15px;
  }
  .b-top__info__info:after {
    width: 135px;
    bottom: -84px !important;
    left: 50%;
    margin-left: -67px;
    font-size: 100pt;
  }
  .b-main__section {
    text-align: center;
  }
  .b-main__section.section1 {
    background: none;
    height: 370px;
  }
  .b-main__section.section2 {
    background: #e9f4fb;
    height: 370px;
  }
  .b-main__section ul {
    text-align: left;
    margin-top: 35px;
  }
  .b-main__section ul li:before {
    position: relative;
    left: 0;
    margin-right: 7px;
    top: -2px;
    display: inline-block;
  }
  .b-main__advantages__title {
    margin: 55px 0 40px;
  }
  .b-main__advantages .row {
    margin: 0 auto;
  }
  .b-main__advantages__item {
    text-align: center;
    margin: 0 0 40px;
    padding-top: 80px !important;
  }
  .b-main__advantages__item:before {
    left: 50%;
    top: 0;
    margin-left: -10px;
    font-size: 56pt;
  }
  .b-main__advantages2__item {
    margin: 70px auto 0;
    width: 400px;
    text-align: center;
  }
  .b-main__advantages2__item__title {
    font-size: 19.5pt;
  }
  .b-main__advantages2__item p {
    font-size: 14pt;
    margin: 13px 0 0;
    line-height: 22pt;
  }
  .b-main__news {
    text-align: left;
    width: 80%;
    margin: 70px auto 0;
  }
  .b-quote_slider {
    width: 80%;
    text-align: left;
    margin: 0 auto;
  }
  .b-quote_slider__item__quote {
    font-size: 19.5pt;
    line-height: 26pt;
  }
  .b-quote_slider__item__author {
    font-size: 12.5pt;
  }
  .b-quote_slider .slidesjs-container,
  .b-quote_slider .slidesjs-control {
    width: 100%;
    height: 370px !important;
  }
  .b-quote_slider .slidesjs-previous {
    left: 41% !important;
    margin-left: -27px;
  }
  .b-quote_slider .slidesjs-next {
    left: 59% !important;
    margin-left: -27px;
  }
  .b-footer {
    height: auto;
    text-align: center;
  }
  .b-footer__nav {
    float: none;
  }
  .b-footer__nav li {
    float: none;
    display: inline-block;
  }
  .b-footer__copy {
    float: none;
    margin: 10px 0 0;
  }
  .b-footer__social {
    text-align: center;
    padding: 27px 0 24px;
  }
  .item-news h1 {
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  body {
    padding-bottom: 315px;
  }
  .b-header__btns {
    float: none;
    margin-top: 0;
  }
  .b-header__btns .btn {
    width: 100%;
    margin: 10px 0;
    line-height: 45px;
    font-size: 18pt;
  }
  .b-header__nav {
    float: none;
    margin: 0;
  }
  .b-header__nav li {
    list-style-type: none;
  }
  .b-header__nav a {
    float: none;
    color: #fff;
    display: block;
    margin: 0;
    padding: 10px 0;
    font-size: 15pt;
  }
  .b-header__nav a:hover {
    color: #4b768e;
  }
  .b-header .navbar-collapse {
    display: none;
  }
  .b-header .navbar-nav {
    margin: 0;
  }
  .b-top .container .bird:before {
    display: none;
  }
  .b-top__title {
    margin-top: 35px;
  }
  .b-top__info {
    text-align: center;
    margin-top: 30px;
  }
  .b-top__info .col-xs-6 {
    padding: 10px 0 !important;
  }
  .b-top__info__info {
    font-size: 33pt;
    margin-top: 15px;
  }
  .b-top__info__info:after {
    display: none;
  }
  .b-main__section {
    text-align: center;
  }
  .b-main__section__num {
    font-size: 79pt;
    line-height: 77px;
    margin: 53px 0 0;
    letter-spacing: 0;
  }
  .b-main__section.section1 {
    background: none;
    height: 370px;
  }
  .b-main__section.section2 {
    background: #e9f4fb;
    height: 370px;
  }
  .b-main__section ul {
    margin: 20px 0;
    text-align: left;
  }
  .b-main__section ul li:before {
    position: relative;
    left: 0;
    margin-right: 7px;
    top: -2px;
    display: inline-block;
  }
  .b-main__advantages__title {
    margin: 55px 0 40px;
  }
  .b-main__advantages .row {
    margin: 0 auto;
  }
  .b-main__advantages__item {
    text-align: center;
    margin: 0 0 40px;
    padding: 80px 0 0 0 !important;
  }
  .b-main__advantages__item:before {
    left: 50%;
    top: 0;
    margin-left: -40px;
    font-size: 56pt;
  }
  .b-main__advantages2__item {
    margin: 70px auto 0;
    width: 90%;
    text-align: center;
  }
  .b-main__advantages2__item__title {
    font-size: 19.5pt;
  }
  .b-main__advantages2__item p {
    font-size: 14pt;
    margin: 13px 0 0;
    line-height: 22pt;
  }
  .b-main__news {
    text-align: left;
    width: 80%;
    margin: 70px auto 0;
  }
  .b-quote_slider {
    width: 100%;
    height: 370px;
    text-align: left;
    margin: 0 auto;
  }
  .b-quote_slider__item__quote {
    font-size: 15.5pt;
    line-height: 22pt;
  }
  .b-quote_slider__item__author {
    font-size: 12.5pt;
  }
  .b-quote_slider .slidesjs-container,
  .b-quote_slider .slidesjs-control {
    width: 100%;
    height: 300px !important;
  }
  .b-quote_slider .slidesjs-previous {
    left: 38% !important;
    margin-left: -27px;
  }
  .b-quote_slider .slidesjs-next {
    left: 62% !important;
    margin-left: -27px;
  }
  .b-footer {
    height: auto;
    text-align: center;
  }
  .b-footer__nav {
    float: none;
  }
  .b-footer__nav li {
    float: none;
    display: block;
    text-align: left;
    padding: 0;
    margin: 15px 0;
    font-size: 18pt;
  }
  .b-footer__copy {
    float: none;
    margin: 10px 0 0;
    font-size: 11pt;
    line-height: 1.4;
  }
  .b-footer__social {
    text-align: center;
    padding: 27px 0 24px;
  }
  .section-content .news-item .pull-xs-left {
    float: none;
    margin: 0 auto 0;
  }
  .item-news h1 {
    font-size: 22px;
  }
  .item-news .news-date {
    margin-bottom: 29px;
  }
  .news-item h3 {
    font-size: 18px;
  }
}
