body {
	background:repeat-x url(/images/mothership/landingpage/splash-page-half-bkrnd_2.jpg) 0 0 #4277bb;
	color:#fff;
	font: 78%/1.5em Verdana, Geneva, sans-serif;
	padding-top:40px;
	/*padding-top: 100px;*/
	/* padding top changed for 20th anniversary page - revert when done */
}
.cA {
	width:580px;
	height:580px;
	background:no-repeat url(/images/mothership/landingpage/bk-bPlate.png) 0 0 transparent;
}
.logo {
	width:230px;
	padding-top:40px;
	padding-bottom:10px;
}

.logo h1 {
	width:230px;
	height:96px;
	background:no-repeat url(/images/mothership/landingpage/logo-kidsHealth-fromNemours.png) 0 0 transparent;
}
/*.logo h1 a {
	width: 230px;
	height: 96px;
	display: block;
	z-index: 100;
	position: relative;
	background: url(/images/mothership/landingpage/20thAnniversaryLogo_M2.gif);
}*/
/* .logo h1 removed and replaced with .logo h1 a for 20th anniversary page - revert when done */
/*#streamers {
	width: 100%;
	height: 300px;
	background: transparent url(/images/mothership/landingpage/streamers2.png) top center no-repeat;
	position: absolute;
	top: 0;
	pointer-events: none;
	z-index: 90;
}
 #streamers added for 20th anniversary page - revert when done */

.nav {
	width:504px;
}
.nav .en {
	width:504px;
	height:210px;
	margin-top:20px;
}
.nav .en li {
	width:150px;
	height:210px;
	float:left;
	display:block;
	background:no-repeat url(/images/mothership/landingpage/sprite-nav-primary-en-bk.png) -1px -1px transparent;
}
.nav .en li a, .nav .en li a:visited {
	display:block;
	width:150px;
	height:210px;
	float:left;
}
.en .forSprite {
	background:no-repeat url(/images/mothership/landingpage/sprite-nav-primary-en.png) 0 0 transparent;
	display:block;
	width:138px;
	height:25px;
	margin-top:144px;
}
*+html .en .forSprite {
	position:relative;
	top:144px;
}
.par, .kid {
	margin-right:27px;
}
.par .forSprite {
	background-position: -1px 0 !important;
}
.par a:hover .forSprite {
	background-position: -1px -30px !important;
}
.kid {
	background-position: -178px -1px !important;
}
.kid .forSprite {
	background-position: -177px 0 !important;
}
.kid a:hover .forSprite {
	background-position: -177px -30px !important;
}
.tee {
	background-position: -355px -1px !important;
}
.tee .forSprite {
	background-position: -355px 0 !important;
}
.tee a:hover .forSprite {
	background-position: -355px -30px !important;
}
.es {
	margin-top:7px;
}
.es li {
	float:left;
	width:150px;
}
.pad, .nin {
	margin-right:27px;
}
.es a, .es a:visited {
	height:17px;
	display:block;
	float:left;
}
.pad a, .pad a:visited {
	width:90px;
	background:no-repeat url(/images/mothership/landingpage/sprite-nav-primary-es.gif) 0 0 transparent;
	margin-left:32px;
}
.nin a, .nin a:visited {
	width:82px;
	background:no-repeat url(/images/mothership/landingpage/sprite-nav-primary-es.gif) -178px 0 transparent;
	margin-left:32px;
}
.ado a, .ado a:visited {
	width:125px;
	background:no-repeat url(/images/mothership/landingpage/sprite-nav-primary-es.gif) -335px 0 transparent;
	margin-left:12px;
}
.edu {
	width:282px;
	height:52px;
	margin-top:25px;
}
*+html .edu {
	padding-top:25px;
}
.edu a, .edu a:visited {
	float:left;
	width:282px;
	height:52px;
	display:block;
	background:no-repeat url(/images/mothership/landingpage/bk-educators.gif) 0 0 transparent;
}
.edu .forSprite {
	width:165px;
	height:27px;
	display:block;
	margin: 15px 0 0 110px;
	background:no-repeat url(/images/mothership/landingpage/sprite-educators.gif) 0 0 transparent;
}
*+html .edu .forSprite {
	position:relative;
	top:15px;
}
.edu a:hover .forSprite {
	background-position: 0 -30px;
}
.foot {
	margin-top:45px;
	padding-left:27px;
}
.foot li {
	float:left;
}
.foot a, .foot a:visited {
	display:block;
	background:no-repeat url(/images/mothership/landingpage/sprite-nav-footer.gif) 0 0 transparent;
	margin-top:10px;
}
.nem a, .nem a:visited {
	width:100px;
	height:35px;
	margin-right:22px;
	margin-top:0;
	background:no-repeat url(/images/mothership/landingpage/logo-nemours.gif) 0 0 transparent !important;
}
.abo a, .abo a:visited {
	width:118px;
	height:13px;
	border-right:1px solid #fff;
	margin-right:14px;
	background-position:0 -1px;
}
.prt a, .prt a:visited {
	width:63px;
	height:13px;
	border-right:1px solid #fff;
	margin-right:15px;
	background-position:-134px -1px;
}
.prv a, .prv a:visited {
	width:172px;
	height:17px;
	background-position:-212px -1px;
}
.cA, .logo, .nav, .nav .en, .nav .en .forSprite, .nav .es, .edu {
	margin-left:auto;
	margin-right:auto;
}
.hide {
	position:absolute;
	left:-180701px;
	overflow:hidden;
	font-size:0;
	height:0;
	width:0;
}
.clear:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
* html .clear {
	height:1%;
}
.clear {
	display:block;
}
.clear {
	clear:both;
	margin:0;
	padding:0;
	line-height:0;
	font-size:0;
	clear:both;
}
/* AGR | March 2012 */

#kidsHealthFooter {
	width: 200px;
	margin: 42px auto;
	clear: both;
	text-align: center;
	height: 20px;
	font-size: 10px;


}

/* Start mobile linkage */
#deviceSelector {
	text-align: center;
	margin-bottom: 1em;
	color: #fff;
}

#deviceSelector .currentDevice {
	font-weight: bold;
	color: #fff;
}

#deviceSelector a {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	font-weight: normal;
	cursor: pointer;
}
/* End mobile linkage */
