@charset "utf-8";
/*-- default ---- --*/
body{
	font-family:Verdana, Helvetica, "ＭＳ Ｐゴシック", "MS P Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif, /* Meiryo */;
	background-color:#fff;
	line-height:1.5;
}
a,a:link,a:visited	{color:#0044CC; text-decoration:none;}
a:hover,a:active	{color:#FF0000; text-decoration:underline;}
/*-- layout style ---- --*/
div#container{width:900px; margin:0 auto; position:relative;}
#container div#header	{height:140px;}
div#header a			{width:130px; height:45px; text-indent:-9999px; display:block; overflow:hidden;}
div#header h1			{background:url("../img/fc2_logo.gif.png") no-repeat left top; width:auto; float:left; margin:20px 0 0 0;}
div#header h1			{*margin:10px 0 0 0;}
div#header.whenIE7below	{*margin-bottom:60px;}
div#header h1.h1_plus_search_form{width:140px;}
.heada_plus_search_form{padding:32px 0 0 0; #padding:18px 0 0 0; /* IE6-7hack */}
.heada_plus_search_form_text{width:186px; border-top:1px solid #999; border-left:1px solid #999; border-right:1px solid #eee; border-bottom:1px solid #eee; background:#fff;}
div#main{clear:both; position:relative; min-height:0px; width:680px; float:right; text-align:left; margin-bottom:3.0em;}
div#content{}
div#menu{width:200px; float:left; margin-bottom:3.0em;}
.HarfTone	{opacity:0.30; filter:alpha(opacity=30); -ms-filter:alpha(opacity=30);}

/* 右本文 */
#main .content_body{text-align:left;}
#main h2.sh_heading_main_b{}
.content_body p{margin:13px auto; line-height:1.7em;}

.heade_ad{width:468px; height:60px; position:absolute; top:48px; right:0px;}
.text_ad{margin-bottom:10px; padding-top:5px; border-top:1px solid #CCC; border-bottom:1px solid #CCC;}

/* fc2.comTOP専用 */
.ad_300x250{width:300px; height:250px; position:absolute; top:0px; right:0px;}
.ad_300x250{/margin-top:-120px;}
#inf_box{width:370px; height:250px; margin:0 0 20px 0; padding:0px;}
#inf_box ul, #inf_box li, #inf_box p{margin:0; padding:0px; line-height:1.1;}
#inf_box ul.tab li{
	width:73px;
	float:left;
	padding:4px 10px;
	cursor:pointer;
	background:url("../img/header_menu-back.jpg") left bottom;
	background-repeat:repeat-x;
	border:1px solid #999;
	border-left:none;
	border-bottom:1px solid #999;
	position:relative;
	top:1px;
	text-align:center;
}
#inf_box ul.tab li.selected{
	border-top:1px solid #FF0000;
	border-bottom:1px solid #FFF;
	background:url("../img/info_title_back.gif.png") left top #FFF;
	background-repeat:repeat-x;
}
#inf_box ul.tab li.left_side{width:76px; border-left:1px solid #999;}
#inf_box ul.panel li.p_body{
	width:350px;
	height:226px;
	background:#FFF;
	border:1px solid #999;
	padding:0 10px;
	overflow-x:hidden;
	overflow-y:scroll;
	clear:both;
}
#inf_box ul.rss_fc2info li{}
#inf_box li.rss_fc2infolist{margin-bottom:6px; line-height:1em;}

.service_body{overflow:hidden; margin:0 0 39px 0;}
.service_body h3.service_genre_title{color:#444;}
.service_body dl{
	display: inline-block;
	width:292px;
	height:auto;
	position:relative;
	line-height:1.2;
	padding:6px 0 10px 45px;
}
.service_body dt{font-size:115%;}
.service_body dt a{font-weight:bold;}
.service_body .service_img{
	height:50px;
	width:45px;
	top:0;
	left:0;
	position:absolute;
	color:#FFFFFF;
}
.service_body .free{background:url(../img/fc2_service_icon.png) no-repeat 210px 3px;}
.service_body .charge{background:url(../img/fc2_service_icon.png) no-repeat 210px -87px;}
.service_body .charge_too{background:url(../img/fc2_service_icon.png) no-repeat 190px -176px;}

#service_blog, #service_blogranking, #service_bj,
#service_video, #service_livechat, #service_SayMove, #service_himawari,
#service_web, #service_fc2-rentalserver, #service_rentalserver, #service_domain, #service_backup, #service_fc2server, #service_vps,
#service_textad, #service_affiliate, #service_release, #service_analysis, #service_ranking,
#service_pr, #service_icon, #service_k, #service_piyo, #service_c, #service_apps, #service_novel, #service_bbs,
#service_cart, #service_mall, #service_contents, #service_form, #service_counter, #service_vote, #service_chat, #service_clap, #service_seo, #service_r,
#service_spam, #service_bookmark, #service_keyword, #service_rss, #service_diary, #service_sns,
#service_wiki, #service_network, #service_todo, #service_knowhow, #service_creator, #service_translator, #service_wifi ,#service_thebbs, #service_directory,
#service_game, #service_talk, #service_summary{
	background:url(../img/fc2_service_icon.png) no-repeat;
	text-decoration:none;
}
#service_blog		{background-position:0 -290px;}
#service_blogranking{background-position:0 -388px;}
#service_bj			{background-position:0 -492px;}

#service_video		{background-position:-515px -995px;}
#service_livechat	{background-position:-1060px -2295px;}
#service_SayMove	{background-position:-1063px -90px;}
#service_himawari	{background-position:-1063px -192px;}

#service_web		{background-position:0 -1090px;}
#service_fc2-rentalserver{background-position:0 -1190px;}
#service_rentalserver{background-position:0 -1290px;}
#service_domain		{background-position:0 -1490px;}
#service_backup		{background-position:0 -1391px;}
#service_fc2server	{background-position:0 -2093px;}
#service_vps		{background-position:-510px -2193px;}

#service_analysis	{background-position:-510px 5px;}
#service_seo		{background-position:-510px -792px;}
#service_ranking	{background-position:-515px -690px;}
#service_textad		{background-position:5px -692px;}
#service_affiliate	{background-position:0 -892px;}
#service_release	{background-position:0 -995px;}

#service_pr			{background-position:0 -1790px;}
#service_icon		{background-position:0 -1892px;}
#service_k			{background-position:0 -1585px;}
#service_piyo		{background-position:0 -1692px;}
#service_c			{background-position:0 -2191px;}
#service_apps		{background-position:0 -2392px;}
#service_bbs		{background-position:-510px -192px;}
#service_novel		{background-position:-510px -1692px;}

#service_cart		{background-position:0 -1992px;}
#service_mall		{background-position:0 -793px;}
#service_contents	{background-position:0 -591px;}
#service_form		{background-position:-510px -90px;}
#service_counter	{background-position:-510px -287px;}
#service_vote		{background-position:-514px -392px;}
#service_chat		{background-position:-510px -488px;}
#service_clap		{background-position:-510px -590px;}
#service_r			{background-position:-504px -2092px;}

#service_spam		{background-position:-510px -1192px;}
#service_bookmark	{background-position:-510px -1390px;}
#service_keyword	{background-position:-510px -1292px;}
#service_rss		{background-position:-510px -1492px;}
#service_diary		{background-position:-510px -1592px;}
#service_sns		{background-position:-513px -892px;}
#service_wiki		{background-position:-510px -1093px;}
#service_network	{background-position:-510px -1988px;}
#service_todo		{background-position:0px -2292px;}
#service_knowhow	{background-position:-510px -2296px;}
#service_creator	{background-position:-510px -1784px;}
#service_translator	{background-position:-510px -1889px;}

#service_wifi		{background-position: -1063px -292px;}
#service_thebbs		{background-position:-1062px -490px;}
#service_directory	{background-position:-1062px -590px;}
#service_game		{background-position:-1062px -394px;}

#service_talk		{background-position:-1062px -690px;}
#service_summary		{background-position:-1062px -792px;}


/* fc2.com/Privacy.html */
ul.privacy_main{margin-bottom:39px;}
ul.privacy_main li{list-style:disc; margin:6px 0px 0px 26px;}
ol.privacy_sub li{list-style:decimal; margin-left:26px;}

/* fc2.com/Recruit.html */
#recruit_table{width:100%; border-top:1px solid #aaa; border-left:1px solid #aaa; border-right:1px solid #aaa; border-collapse:collapse; margin-bottom:26px;}
#recruit_table td{border-bottom:1px solid #aaa; padding:6px 13px;}
#recruit_table td.back_gray{background:#f6f6f6; border-right:1px solid #aaa;}

/* fc2.com/Conmpany.html */
#company_outline dl{border-left:1px solid #aaa; border-top:1px solid #aaa; border-right:1px solid #aaa; margin:3px auto 26px;}
#company_outline dt{width:130px; height:auto; float:left; display:block; background:#f6f6f6; padding:5px 5px 4px; border-bottom: 1px solid #aaa; border-right:1px solid #aaa;}
#company_outline dd{padding:5px 5px 4px; margin-left:140px; border-bottom:1px solid #aaa;}

#histry_list_table			{width:100%; border-collapse:collapse;}
#histry_list_table TD		{border-bottom:1px dotted #999; padding:6px 0;}
#histry_list_table .year_and_month_td{width:160px; overflow:hidden; height:auto;}
#histry_list_table ul li	{list-style-type:disc;}

/* fc2.com/en/Conmpany.html */
#company_outline #recruit_table .back_gray {width: 30%;}
.recruit_table_subhead {margin-bottom: 4px;}

/* fc2.com/Login.html, Logout.html */
#login-content{width:250px; float:left; text-align:left; display:block;}
#login-content .input_fc2id_login{width:100%;}
#login-content .icon_help{margin-bottom:-0.4em;}
#login-content div.regist_new_around{width:100%; border:1px dotted #ff0000; padding:0.5em 0;}
#ad-content{width:600px; float:right; display:block;}
#ad-content ul#ad{margin:0 auto; clear:both;}
#ad-content ul#ad li.pr{padding:5px 0px; font-weight:bold; background-color:#f6f6f6; color:#666;}
#ad-content ul#ad li{text-align:center; margin:1.0em;}

/* support.fc2.com専用　Support menu
------------------------------------------------------*/
.info_left_menu_p{font-size:11px; line-height:135%; color:#666;}
#info_left_menu_ul{line-height:2.0em;}
.fc2help_icon_margin{margin-bottom:-0.5em;}

/* support.fc2.com右メインコンテンツ用指定
------------------------------------------------------*/
.btnlnk{margin:10px 0 20px;}
.btnlnk li{float:left; width:200px; text-align:center; margin:0;}
.chartbtn p{
	background:url(http://static.fc2cn.com/support_fc2com/img/images_support.png) no-repeat bottom center;
	display:block;
	height:56px;
	width:170px;
	margin:0 auto 10px;
}
/* 障害情報箇所 */
div#info_guide02 ul			{padding:0; margin:0;list-style-type:none;}
div#info_guide02 ul li		{font-size:12px; padding:0; margin:0 0 0 0;}
div#info_guide02 ul li p	{margin:4px 0 -4px 0;}
.chartbtn #trouble_news	{color:#fe4f8a;}
.chartbtn #inquiry		{color:#3ca0fe;}
.chartbtn #others		{color:#2fa22d; height:46px; padding-top:10px;}

.browser_ie		{width:20px; height:20px; background:url(http://static.fc2cn.com/support_fc2com/img/images_support.png) no-repeat 0 0;}
.browser_fox	{width:20px; height:20px; background:url(http://static.fc2cn.com/support_fc2com/img/images_support.png) no-repeat 0 -33px;}
.browser_opera	{width:20px; height:20px; background:url(http://static.fc2cn.com/support_fc2com/img/images_support.png) no-repeat 0 -63px;}
.browser_safari	{width:22px; height:20px; background:url(http://static.fc2cn.com/support_fc2com/img/images_support.png) no-repeat -1px -92px;}
.browser_chrome	{width:22px; height:20px; background:url(http://static.fc2cn.com/support_fc2com/img/images_support.png) no-repeat -80px -0px;}

.round_solid{
	border:1px dotted #ff0000;
	padding:12px 0 12px 36px;
	font-weight:bold;
}
.round_solid_qa{
	text-align:center;
	line-height:150%;
}
.bttn_kochira{
	width:78px;
	height:23px;
	background:url(http://static.fc2cn.com/support_fc2com/img/images_support.png) no-repeat -1px -125px;
	margin:-2px 0 0 0;
	*margin:-6px 0 0 0;
}
.totop{
	text-align:right;
	margin-right:30px;
}
/* support.fc2.com/form.php用 */
table#support_form_php{width:100%; margin-bottom:2.0em;}
table#support_form_php td{padding-bottom:1.0em;}
table#support_form_php h4 a:link, table#support_form_php h4 a:visited{color:#444;}
table#support_form_php .icon_mail{margin:0 0.25em -0.20em 0;}
table#support_form_php .icon_comunity{
	width:16px;
	height:20px;
	background: url(http://static.fc2.com/share/fc2parts/image/share_mini_icons.png) no-repeat 0 -850px;
	margin-bottom:-0.5em;
}

table.service_list		{width:100%; margin:10px auto 0 ;}
table.service_list td	{border-bottom:1px dotted #ccc; width:100px; text-align:left; overflow:visible;}
table.service_list td.no_bottom_border	{border-bottom:1px dotted #fff; *border-bottom:1px dotted #ccc;}
table.service_list td.lst_tt			{width:180px; text-align:left; padding:6px 0 0 0;}
table.service_list td.lst_m				{text-align:right;}
table.service_list td.qa				{text-align:left; width:670px;}

.FC2_unicorn, .service_blank,
.service_blog, .service_blogranking, .service_bj, .service_video, .service_livechat, .service_SayMove, .service_himawari,
.service_contents, .service_textad, .service_mall, .service_affiliate, .service_release,
.service_web, .service_fc2-rentalserver, .service_rentalserver, .service_vps, .service_fc2server, .service_domain,
.service_backup, .service_k, .service_pr, .service_piyo, .service_icon, .service_apps,
.service_cart, .service_analysis, .service_form, .service_bbs, .service_counter,
.service_vote, .service_chat, .service_clap, .service_ranking, .service_seo,
.service_spam, .service_bookmark, .service_rss, .service_todo, .service_keyword, .service_wiki, .service_knowhow,
.service_diary, .service_sns, .service_network, .service_novel, .service_creator, .service_translator, .service_game, .service_wifi,
.service_thebbs, .service_directory, .service_summary {
	width:40px;
	height:40px;
	background:url(../img/fc2_service_icon.png?20130830) no-repeat;
}
.FC2_unicorn			{background-position:-1065px 0px;}
.service_blank			{background-position:0px -40px;}
.service_blog			{background-position:0px -300px;}
.service_blogranking	{background-position:0px -398px;}
.service_bj				{background-position:0px -500px;}
.service_video			{background-position:-517px -1000px;}
.service_livechat		{background-position:-1065px -2305px;}
.service_SayMove		{background-position:-1065px -95px;}
.service_himawari		{background-position:-1065px -200px;}
.service_contents		{background-position:0px -598px; height:42px;}
.service_textad			{background-position:0px -700px;}
.service_mall			{background-position:0px -800px; height:40px;}
.service_affiliate		{background-position:0px -898px;}
.service_release		{background-position:0px -1000px;}

.service_web			{background-position:0px -1100px;}
.service_fc2-rentalserver{background-position:0px -1200px;}
.service_rentalserver	{background-position:0px -1300px;}
.service_vps			{background-position:-510px -2200px;}
.service_fc2server		{background-position:0px -2098px; height:40px;}
.service_domain			{background-position:0px -1498px;}
.service_backup			{background-position:0px -1400px;}
.service_k				{background-position:0px -1600px;}
.service_pr				{background-position:0px -1800px;}
.service_piyo			{background-position:0px -1700px;}
.service_icon			{background-position:0px -1900px;}
.service_apps			{background-position:0px -2400px;}
.service_cart			{background-position:0px -2000px;}

.service_analysis	{background-position:-510px 0px;}
.service_form		{background-position:-510px -100px;}
.service_bbs		{background-position:-510px -200px;}
.service_counter	{background-position:-510px -294px;}
.service_vote		{background-position:-515px -400px;}
.service_chat		{background-position:-510px -500px;}
.service_clap		{background-position:-510px -600px;}
.service_ranking	{background-position:-515px -697px; height:40px;}
.service_seo		{background-position:-512px -800px;}

.service_spam		{background-position:-512px -1200px;}
.service_bookmark	{background-position:-512px -1395px; height:40px;}
.service_rss		{background-position:-512px -1500px;}
.service_todo		{background-position:-512px -1600px;}
.service_keyword	{background-position:-512px -1300px;}
.service_wiki		{background-position:-512px -1100px;}
.service_knowhow	{background-position:-510px -2305px;}
.service_diary		{background-position:-512px -1600px;}
.service_sns		{background-position:-515px -900px;}
.service_network	{background-position:-510px -1996px;}

.service_novel		{background-position:-510px -1700px;}
.service_creator	{background-position:-510px -1792px;}
.service_translator	{background-position:-510px -1900px;}
.service_game		{background-position:-1062px -400px;}
.service_wifi		{background-position: -1063px -300px;}
.service_thebbs		{background-position:-1062px -497px;}
.service_directory	{background-position:-1062px -598px;}

.service_summary	{background-position:-1062px -799px;}

/* support.fc2.com faq各ページ用 */
.click {
	margin-bottom: 10px;
}
.q{
	display: block;
	color:#1941c2;
	cursor:pointer;
	font-size:140%;
	margin-bottom: 10px;
}
.a{
	border:dotted 1px #ff0000;
	padding:5px;
	display:none;
	line-height:200%;
}
.icon{
	margin:5px 0px;
	width:19px;
	height:15px;
	border:none;
}
.close{text-align:right;}
.bttn_to_FC2help{
	width:254px;
	height:48px;
	background:url(http://static.fc2cn.com/support_fc2com/img/images_support.png) no-repeat -0px -161px;
}
.bttn_to_form{
	width:254px;
	height:48px;
	background:url(http://static.fc2cn.com/support_fc2com/img/images_support.png) no-repeat -273px -161px;
}
/* support.fc2.com faqブログページ用 */
.help-search h2 {
	height:28px;
	margin: 20px 0 15px 0;
	background:url(http://static.fc2cn.com/support_fc2com/img/images_support_blog.png) no-repeat 0 0;
}

.help-search div {
	width: 625px;
	margin: 0 0 40px 6px;
	padding:20px;
	border:1px solid #C6C6C6;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 0px 1px 3px 0px #CCC;
	-moz-box-shadow: 0px 1px 3px 0px #CCC;
	box-shadow: 0px 1px 3px 0px #CCC;
}

.help-search ul {
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.help-search li { width: 475px; margin: 0 auto; text-align: left; }

.help-search li input[type="text"] {
	width: 350px;
	margin-right: 15px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #CCC;
	-moz-box-shadow: inset 0px 0px 2px 0px #CCC;
	box-shadow: inset 0px 0px 2px 0px #CCC;
}

.help-search li input[type="submit"] {
	padding: 0;
	margin: 0;
	width: 85px;
	height: 38px;
	border: none;
	background:url(http://static.fc2cn.com/support_fc2com/img/images_support_blog.png) no-repeat 0 -40px;
	text-indent: -9999px;
}

.help-search li input[type="submit"]:hover {
	cursor: pointer;
	background:url(http://static.fc2cn.com/support_fc2com/img/images_support_blog.png) no-repeat 0 -80px;
}

.help-search li.help-search-sample {
	margin-top: 5px;
}

.help-search dl:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}

.help-search dt {
	float: right;
	width: 216px;
	height: 60px;
}

.help-search dt a {
	display: block;
	width: 216px;
	height: 60px;
	background:url(http://static.fc2cn.com/support_fc2com/img/images_support_blog.png) no-repeat 0 -120px;
}

.help-search dt a:hover { background-position: 0 -180px; }

.help-search dd {
	display: table-cell;
	vertical-align: middle;
	width: 390px;
	height: 60px;
}

.form-link li {
	margin: 0 0 20px 7px;
}

.form-link li:first-child {
	margin-top: 20px;
}

.form-link li a {
	display: block;
	width: 665px;
	height: 62px;
	background:url(http://static.fc2cn.com/support_fc2com/img/images_support_blog.png) no-repeat -250px -40px;
}

.form-link li.form-inquiry a { background-position: -250px -40px; }
.form-link li.form-inquiry a:hover { background-position: -250px -110px; }
.form-link li.form-improper a { background-position: -250px -180px; }
.form-link li.form-improper a:hover { background-position: -250px -250px; }
.form-link li.form-blogimport a { background-position: -250px -320px; }
.form-link li.form-blogimport a:hover { background-position: -250px -390px; }
.form-link li.form-blomaga a { background-position: -250px -460px; }
.form-link li.form-blomaga a:hover { background-position: -250px -530px; }

/* support.fc2.com faqレンタルサーバーLiteページ用 */
.rentalserver_lite_faq table {
	border-collapse: collapse;
}

.rentalserver_lite_faq .recheck_button_table {
	background-color: #f7f7f7;
	padding: 20px;
}

.rentalserver_lite_faq .inqury_button_table {
	padding: 40px 20px 20px;
}

.rentalserver_lite_faq .bttn_to_form {
	margin-top: 4px;
}


/* support.fc2.com check各ページ用 */
.JSmessage{
	color:#FF0000;
	padding:13px;
	border:dotted 2px #FF0000;
	line-height:1.5;
	font-size:large !important; /* IE7 */
	font-size:160%;	 /* IE6 */
}
#contents ol{padding-left:30px;}
#contents ol li{
	list-style-type:decimal;
	list-style-position:outside;
}

/* seo.fc2.com専用プロパティ */
#seo_fc2com{line-height:1.7em;}
#seo_fc2com ul#index_list li{
	background:url("http://seo.fc2.com/images/bl_arrow.gif") no-repeat left 4px;
	padding-left:15px;
	line-height:1.7em;
}
#seo_fc2com .ad_img01{
	width:280px;
	height:210px;
	background:url("http://seo.fc2.com/images/ad_e-machi.png") no-repeat -218px -105px;
	border:1px solid #ddd;
}
#seo_fc2com .ad_img02{
	width:280px;
	height:283px;
	background:url("http://seo.fc2.com/images/ad_e-machi.png") no-repeat -218px -363px;
	border:1px solid #ddd;
}
#seo_fc2com .ad_h2{
	width:auto;
	height:32px;
	font-size:16px;
	color:#494949;
	background:url("http://seo.fc2.com/images/h2_title.gif") left top no-repeat;
	margin:0;
	clear:both;
}
#seo_fc2com #ad_table{
	line-height:175%;
	color:#666;
}
.ad_roundStart{
	background:url("http://seo.fc2.com/images/ad_e-machi.png") no-repeat -509px -100px;
	height:16px;
}
#seo_fc2com .ad_roundFix{
	background:url("http://seo.fc2.com/images/ad_e-machi.png") no-repeat -509px -230px;
	height:24px;
}
#seo_fc2com .ad_border1px{
	width:394px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
#seo_fc2com .ad_h3{
	font-size:16px;
	margin:0 0 0 48px;
}
#seo_fc2com .ad_h4{
	height:20px;
	border-bottom:2px solid #EB1F24;
	margin:24px 0 6px 0;
}
#seo_fc2com .bttn_to_form{
	width:313px;
	height:85px;
	background:url("http://seo.fc2.com/images/ad_e-machi.png") no-repeat -365px -702px;
}

/* 左カラム */
#menu .sh_info { padding-left: 32px; }

/* あちこちに残っている「clearfix」セレクタ用処理。念のため。 */
.clearfix{min-height:0px;}
.clearfix:after{content: "."; height: 0px; clear: both; display: block; visibility: hidden;}
/*\*/
* html .clearfix{
	height: 1px;
/*\*/ /*/
	height: auto; overflow: hidden;
/**/
}
/**/


/**************** ＪＰフッター広告 ********************/
#ad-footer {
	width: 900px;
	margin: 0 auto 20px;
	padding: 3px 0px;
	border: 1px solid #EEE;
}

