#sp_bar {
	position: relative;
	z-index: 1001;
    top:0px;
	left: 0px;
	width: 100%;
	height: 90px;
	border-top: 1px solid #CDD5DF;
	border-bottom: 1px solid #2E3744;
	background-image:url(/image/svg/sp_change.svg);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#AEBBCC), to(#6D85A3));
	background-position: initial initial;
	background-repeat: initial initial;
}

#sp_bar a img {
	padding: 7px 0 0 0;
}