html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tfoot,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}
b { font-weight: bold; }
body {
    font-family: arial,sans-serif;
    font-size: 100%;
    background-color: #D7D7D7;
    color: #333;
}
section {
    max-width: 930px;
    width: 99%;
    float: left
}
main {
    float: left;
    width: 100%;
    -moz-box-sizing: padding-box;
    box-sizing: border-box;
}
hr {
    width: 96%;
    border: none;
    border-bottom: solid 1px #B8B8B8;
}
h1 {
    font-size: 1.5rem;
    line-height: 1.4em;
}
a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
textarea {
    font-family: arial,sans-serif;
}
::-webkit-input-placeholder { color: #666;}
header {
    float: left;
    width: 100%;
    text-align: center;
    min-height: 64px;
    padding: 5px 10px;
    margin-top: 2em;
    background: #252525;
    box-shadow: 0 1px 4px rgba(0,0,0,0.30);
}
header * {
    display: inline-block;
    vertical-align: middle;
}

.g-recaptcha div
{
    margin: auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #D7D7D7 inset !important;
}

.input-field .btn, .input-field .btn-flat
{
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 0.8em;
    letter-spacing: 0;
    padding: 0 0.5em;
    height: 1.8em;
    line-height: 1.8em;
    text-transform: none;
}

.input-field .btnbox
{
    position: absolute;
    top: 1em;
    right: 1em;
}

.input-field .btnbox .btn, .input-field .btnbox .btn-flat
{
    position: relative;
    top: initial;
    right: initial;
}

#menu a {
    color: #ff8a00;
    font-size: 0.8rem;
    text-align: center;
    padding: 0 6px 4px 6px;
    min-width: 50px;
    text-shadow: -1px 1px #000;
}
#menu a:hover {
    background-color: #3D3D3D;
    border-radius: 5px;
}
#menu a img {
    margin: auto;
    display: block;
}
#menu .notification {
    position: absolute;
    color: #000;
    font-size: 0.8em;
    margin-left: 15px;
    padding: 4px;
}
#login, #logout, .ddbtn {
    display: none;
}
#mt {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    text-shadow: -1px 1px #222;
    box-shadow: 0 1px 4px rgba(0,0,0,0.30);
}
#mt > div {
    cursor: pointer;
    background: #414141;
    width: 50%;
    padding: 0.8em 0;
    color: #ff8a00;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: inline-block;
    text-align: center;
}
#mt > div:hover {
    background: #3D3D3D;
}
aside {
    font-size: 0.8rem;
    bottom: 0;
    position: relative;
    float: left;
    margin-top: 15px;
    width: 100%;
    background: url('//csgolounge.com/img/sub.jpg') top repeat-x #373737;
    text-align: center;
}
aside .ads {
    display: none;
}
aside a {
    color: #ff8a00;
}
#submenu > nav {
    display: inline-block;
    margin-top: 16px;
    line-height: 2em;
}
#submenu nav a {
    padding: 0.5em;
}
#submenu nav a:hover {
    border-radius: 5px;
    background-color: #3D3D3D;
}
#follow {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}
aside #follow a {
    display: inline-block;
    height: 40px;
    background: url('//csgolounge.com/img/sprites.png') no-repeat;
}
#ftw { width: 44px; background-position: 0 0 !important; margin: 0px 10px 0 14px }
#ffb { width: 36px; background-position: -44px 0 !important; margin: 0px 4px }
#fvk { width: 58px; background-position: -79px 0 !important; margin: 0px 11px }
#ftw:hover { background-position: 0 -40px !important; }
#ffb:hover { background-position: -44px -40px !important; }
#fvk:hover { background-position: -79px -40px !important; }
footer {
    margin: 5px;
    color: #888;
    line-height: 1.4;
}

.format {
    font-size: 0.7em;
    font-weight: bold;
}

#modalPreview {
    z-index: 5;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -194px;
    border-radius: 10px;
    margin-left: -356px;
    box-shadow: #888 1px 1px 3px 1px;
    background-color: #CCC;
    padding: 10px;
}

.announce {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #252525;
    z-index: 2;
    max-width: 500px;
    min-width: 200px;
    padding: 1em;
    bottom: 1em;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.2em;
    color: #CCC;
    text-shadow: -1px 1px #000;
}

.announce a {
    color: #ff8a00;
}

.donor, .donor2, .donor3, .donor4, .donorUq1, .donorUq2, .donorUq3, .donorUq4, .donorUq5, .donorUq6, .donorUq7, .staff, .sr { padding-left: 20px; }
.donor { text-shadow: 0px 1px 1px #5E98D9; background: url(//csgolounge.com/img/donor.png) no-repeat left; }
.box-shiny-alt .donor { color: #A1CDFF; text-shadow: 0px 1px 1px #000 }
.donor2 { text-shadow: 0px 1px 1px #4B69FF; background: url(//csgolounge.com/img/donor2.png) no-repeat left; }
.box-shiny-alt .donor2 { color: #8A9EFF; text-shadow: 0px 1px 1px #000 }
.donor3 { text-shadow: 0px 1px 1px #8847FF; background: url(//csgolounge.com/img/donor3.png) no-repeat left; }
.box-shiny-alt .donor3 { color: #BF9EFC; text-shadow: 0px 1px 1px #000 }
.donor4 { text-shadow: 0px 1px 1px #FFAF00; background: url(//csgolounge.com/img/donor4.png) no-repeat left; }
.box-shiny-alt .donor4 { color: #FFBD00; text-shadow: 0px 1px 1px #000 }
.donorUq1 { text-shadow: 0px 1px 1px #FF7E00; background: url(//csgolounge.com/img/donoruq1.png?06) no-repeat left; }
.box-shiny-alt .donorUq1 { color: #FF7E00; text-shadow: 0 1px 1px #111; }
.donorUq2 { text-shadow: 0px 1px 1px #FF1493; background: url(//csgolounge.com/img/donoruq2.png?03) no-repeat left; }
.box-shiny-alt .donorUq2 { text-shadow: 0px 1px 1px #4B0082; color: #FF1493 }
.donorUq3 { text-shadow: 0px 1px 1px #DB3D00; background: url(//csgolounge.com/img/donoruq3.png?14) no-repeat left; }
.box-shiny-alt .donorUq3 { color: #be0000; text-shadow: 0px 1px 1px #DB3D00; }
.donorUq4 { text-shadow: 0px 1px 1px #D40000; background: url(//csgolounge.com/img/donoruq4.png?02) no-repeat left; }
.box-shiny-alt .donorUq4 { text-shadow: 0px 1px 1px #D40000; }
.donorUq5 { text-shadow: 0px 1px 1px #FF4700; background: url(//csgolounge.com/img/donoruq5.png?02) no-repeat left; color: #BE0000 !important }
.box-shiny-alt .donorUq5 { text-shadow: 0px 1px 1px #FF4700; }
.donorUq6 { text-shadow: 0px 1px 1px #EA870B; background: url(//csgolounge.com/img/donoruq6.png) no-repeat left; }
.box-shiny-alt .donorUq6 { color: #EA870B; text-shadow: 0px 1px 1px #000; }
.donorUq7 { text-shadow: 1px 0px #A7A7A7; font-size: 1.1em; background: url(//csgolounge.com/img/donoruq7.png?01) no-repeat left; }
.box-shiny-alt .donorUq7 { color: #FFF; text-shadow: 0px 1px 1px #000; }
.donorUq2 b, .donorUq3 b, .donorUq7 b, .donorUq4 b { background: url('//csgolounge.com/img/76561197960284155.gif') no-repeat; }

.staff { text-shadow: 0px 1px 1px #C30000; background: url(//csgolounge.com/img/staff.png) no-repeat left; }
.sr { text-shadow: 0px 1px 1px #f20000; background: url(//csgolounge.com/img/sr.png) no-repeat left; }

.usr { line-height: 2em }

.Warning {
    -webkit-box-shadow: 0px 0px 1px 2px #d12121;
    box-shadow: 0px 0px 1px 2px #d12121;
}
.Warning:before {
    content: '';
    font-size: 1.6em;
    background: rgba(197,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
}
.StatTrak {
    -webkit-box-shadow: 0px 0px 1px 2px #CF6A32;
    box-shadow: 0px 0px 1px 2px #CF6A32;
}
.Star {
    -webkit-box-shadow: 0px 0px 1px 2px #8650AC;
    box-shadow: 0px 0px 1px 2px #8650AC;
}
.Souvenir {
    -webkit-box-shadow: 0px 0px 1px 2px #FFD700;
    box-shadow: 0px 0px 1px 2px #FFD700;
}
.picked {
    -webkit-box-shadow: 0px 0px 1px 2px #FF8A00;
    box-shadow: 0px 0px 1px 2px #FF8A00;
}

.Consumer, .Base { box-shadow: 0px 2px #B0C3D9; }
.Industrial { box-shadow: 0px 2px #5E98D9; }
.Mil-Spec { box-shadow: 0px 2px #4B69FF; }
.Restricted { box-shadow: 0px 2px #8847FF; }
.Classified { box-shadow: 0px 2px #D32CE6; }
.Covert, .Extraordinary { box-shadow: 0px 2px #EB4B4B; }

.oitm {
    width: 15.66%;
    min-width: 70px;
    max-width: 103px;
    margin: 4px 0.5%;
    float: left;
    position: relative;
}
.oitm:after {
    padding-top: 67%;
    display: block;
    content: '';
}
.item {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    line-height: 1em;
    color: #DFDFDF;
    background: #cbcbcb;
    text-align: center;
    text-shadow: none;
    border-radius: 3px;
    cursor: pointer;
}
.item .smallimg {
    margin: 2px 2%;
    width: 96%;
    max-width: 99px;
}
.item .noimg {
    float: left;
    width: 100%;
    padding: 10px 0;
    height: 30px;
    color: #ff8a00;
    font-size: 0.8rem;
    overflow: hidden;
}

.item .rarity {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    color: #555;
    font-size: 0.65rem;
    bottom: 0;
    background: rgba(200, 200, 200, 0.8);
    border-radius: 3px;
    width: 100%;
    height: 1rem;
}
.oitm:hover .item {
    z-index: 1;
}
.notavailable {
    opacity: 0.7;
}
.notavailable:hover .name .button {
    display: none;
}

.message.notavailable:hover .name {
    display: none;
}
.name, .opts, .infobox {
    display: none;
    position: absolute;
}
.name {
    z-index: 2;
    top: 100%;
    max-width: 200px;
    overflow: hidden;
    padding: 0.5em;
    border: 1px solid #AAA;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #DDD;
    color: #444;
    text-shadow: none;
    line-height: 1.35em;
    font-size: 0.8rem;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.name a {
    color: #333 !important;
    font-weight: bold;
    text-shadow: -1px 1px 0 #AAA !important;
}
.name a img {
    width: 35px;
}
.oitm:hover .name {
    display: block;
}
.value {
    color: #555;
    text-shadow: -1px 1px #DDD;
    font-size: .65rem;
    padding: 2px 4px 2px 2px;
    right: 0; top: 0;
    border-radius: 5px;
    background: rgba(200, 200, 200, 0.8);
    font-weight: bold;
    position: absolute;
}
.message:hover .opts, .info:hover .infobox  {
    text-align: center;
    z-index: 2;
    color: #252525;
    display: block;
    padding: 0.5rem;
    border-radius: 3px;
    background: #ececec;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
}
.clreff {
    float: left;
    font-size: 0.6rem;
    padding: 1px 2px;
    border-radius: 0 0 6px 0;
    color: #EEE;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
}


.tabholder {
    min-height: 27px;
    width: 96%;
    margin: 0 2%;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}
.tabselect {
    float: left;
    width: 96%;
    margin: 0 2% 8px 2%;
    height: 26px;
    top: 27px;
}
.tabselect:hover .subtabs {
    display: block;
    position: relative;
    z-index: 2;
}
.subtabs {
    float: left;
    width: 100%;
    display: none;
}
.tab {
    cursor: pointer;
    float: left;
    width: 50%;
    text-align: center;
    background-color: #252525;
    letter-spacing: 0.05em;
    color: #CCC;
    line-height: 1.7em;
}
.tab:hover {
    background-color: #3D3D3D;
    color: #ff8a00 !important;
}

.info {
    border-radius: 8px;
    font-size: 8px;
    vertical-align: middle;
    padding: 0px 2px;
    border: 1px solid;
    background: #ff8a00;
    font-weight: bold;
    text-shadow: none!important;
    color: #000!important;
}

.info:hover .infobox {
    font-size: 11px;
}

#noteEdit {
    height: 100px;
    background: #333;
    color: #9AD243;
}
#messages {
    width: 100%;
    float: left;
}
#messages #notes {
    float: left;
    width: 96%;
    height: 45px;
    padding: 1%;
}
#messages .left, #messages #replyTo {
    background: #BBB;
    float: left;
    width: 45%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888;
}
#messages .left .oitm {
    width: 24%;
}
.msgleft {
    margin: 0.75em 1%;
    font-size: 0.8rem;
}
.msgright {
    float: right;
    margin: 0.75em 1%;
    width: 48%;
}
.msgright .oitm {
    width: 24%;
}
.standard {
    float: left;
    width: 98%;
    margin: 12px 1%;
}
.notification {
    float: left;
    padding: 5px;
    margin: 0.4rem;
    text-shadow: 1px 1px #FFB63C;
    border-radius: 5px;
    background-color: #ff8a00;
    box-shadow: 0px 0px 5px #888;
}
.title {
    position: absolute;                
    margin-left: 0.25em;
    color: #CCC;  
    font-size: 2rem;
    z-index: 0;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2em;
}
.title a {
    color: #CCC;
}
.title:hover a {
    color: #ff8a00;
    text-shadow: 1px 1px 1px #888;
}
.box {
    display: block;
    float: left;
    margin: 10px 0.5%;
}
#backpack {
    color: #252525;
    float: left;
    padding-top: 12px;
    width: 100%;
}
#itemlist {
    float: left;
    width: 100%;
}
.message {
    word-wrap: break-word;
    width: 98%;
    margin: 1px 1% 20px 1%;
    line-height: 1.2em;
    font-size: 1rem;
    float: left;
    border: none;
    border-radius: 4px;
    box-shadow: -1px -1px 1px #C5C5C5;
    background: #CCC;
    background: radial-gradient(ellipse at 0 0, #BBB 0%,#D7D7D7 50%);
}
.message hr {
    margin: 0.5em 0;
    width: auto;
    float: none;
}
.msgtxt a {
    padding-left: 19px;
    background: url('//csgolounge.com/img/l.png') no-repeat 3px;
    text-shadow: -1px 0px 0px #ff8a00;
}
#inprofile {
    float: left;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888;
    border-top: 1px solid #CCC;
}
#satrade, .box-shiny-alt {
    color: #CCC;
    float: left;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background: #252525;
}
.box-shiny a, .box-shiny-alt a {
    color: #ff8a00;
    text-shadow: 1px 1px 1px #000;
}
.box-shiny {
    color: #CCC;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background: #252525;
}

#matches-coins {
    max-width: 800px;
    margin: auto;
    line-height: 1.75em;
}

#matches-coins tr { border-bottom: 1px solid #cccccc; }
#matches-coins tr:hover { background-color: #ccc; }
#matches-coins td { border-radius: 0; }

#matches-coins input {
    width: 5em;
    text-align: center;
    margin: 0 0 5px 0;
    height: 1.6rem;
}

.btn.btn-small {
    padding: 0 0.75rem;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
}

.card-lng {
    background: #333;
    padding: 0.25em;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-lng.on {
    box-shadow: 0px -2px #ff9800 inset, 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.tradepoll {
    min-height: 164px;
    float: left;
    margin: 0.5em 1% 20px 1%;
    width: 98%;
}
.tradepoll .oitm {
    width: 24%;
}
.tradecnt {
    float: left;
    width: 100%;
}
.tradeheader, .bpheader {
    width: 100%;
    min-height: 16px;
    border-top: 1px solid #CCC;
    padding: 8px 1%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #e3e3e3;
    background: radial-gradient(ellipse at top, #eee 0%,#d7d7d7 70%);
}
.bpheader {
    color: #999;
}
.tradeheader {
    font-size: 0.8rem;
}
.profilesmallheader {
    float: left;
    margin: 0 10px;
    font-size: 0.8rem;
    line-height: 1.4em;
}
.profilesmall {
    float: left;
    margin: 0 5px;
}
.profilesmall * {
    display: inline-block;
    vertical-align: middle;
}
.slvl {
    color: #9b9b9b;
    font-size: 2em;
    padding: 1rem 0 1rem 0.75rem;
    border-left: 2px solid;
    border-radius: 2em 0 0 2em;
    box-shadow: -5px 3px 3px #333;
}
.sln { display: none; }
.sl10 { color: #c02942; }
.sl20 { color: #d95b43; }
.sl30 { color: #fecc23; }
.sl40 { color: #467a3c; }
.sl50 { color: #4e8ddb; }
.sl60 { color: #7652c9; }
.sl70 { color: #c252c9; }
.sl80 { color: #542437; }
.sl90 { color: #997c52; }
.slh { color: #FFFFFF; text-shadow: 1px 1px #000, 2px 2px #8B8B8B }
#tradelist a {
    text-shadow: 1px 1px 0px #E5E5E5;
}
.left, .right {
    background: #BBB;
    float: left;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.right {
    float: right;
}
.left::before, .right::before {
    content: "Have:";
    color: #999;
    width: 100%;
    float: left;
    padding: 0.5em;
    font-weight: bold;
    font-size: 0.7em;
    box-sizing: border-box;
    text-shadow: none;
}
.right::before {
    content: "Want:";
}
.button, .buttonright {
    line-height: 1;
    border: none;
    color: #C9C9C9 !important;
    float: left;
    margin: 0.4em;
    font-size: 0.8rem;
    padding: 5px;
    text-shadow: 1px 1px 0 #000 !important;
    box-shadow: 1px 2px 2px #2E2E2E;
    border-radius: 3px;
    background: #4D4D4D;
    background: linear-gradient(to bottom, #646464 0%,#4B4B4B 100%)
}
.buttonright {
    float: right;
}
.button:hover, .buttonright:hover, .pressed {
    box-shadow: 0px 1px 2px #121212;
    background: #4B4B4B;
}
.button:active, .buttonright:active, .pressed {
    background: #333;
}
.itemoptions {
    border-radius: 5px;
    color: #CCC;
    background: #414141;
    padding: 5px;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 2em;
    top: 100%;
    text-align: center;
    z-index: 2;
    width: 100%;
    border: 1px solid #222;
    display: none;
}
.itemoptions .quals {
    font-size: 0.8em;
    overflow: hidden;
}
.itemoptions div:hover {
    color: #ff8a00;
}
#satrade .item:hover .itemoptions, #satrade .item:hover .addquality {
    display: block;
}
.filter {
    background: #333;
    border: none;
    float: right;
    width: 35%;
    padding: 5px;
    height: 20px;
    color: #9ad243;
    position: relative;
}
#btoggle {
    float: left;
    height: auto;
}
.srch {
    float: right;
    width: 98%;
    margin: 8px 1%;
    text-align: right;
}
.selectbox {
    background: none repeat scroll 0 0 #4D4D4D;
    position: relative;
    border: none;
    margin: 3px;
    font-size: 0.8rem;
    padding: 3px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 1px 2px 2px #2E2E2E;
}

.simplePagerNav {
    list-style: none;
    float: left;
    margin: 0.5em 1% 0 1%;
}
.simplePagerNav li {
    float: left;
}
.simplePagerNav li a {
    box-sizing: initial;
    float: left;
    color: #555;
    background: #BBB;
    margin: 2px;
    height: 18px;
    padding: 4px;
    text-align: center;
    min-width: 18px;
    border-radius: 3px;
    text-shadow: 1px 1px 0 #CCC;
    box-shadow: 1px 1px #888;
}
.simplePagerNav .currentPage a {
    opacity: 0.5;
}
.simplePagerNav li a:hover {
    background: #AAA;
    padding-right: 3px;
    margin-left: 3px;
    text-shadow: none;
}
.half, .full {
    width: 98%;
    float: left;
    margin: 0.5em 1%;
}
.half {
    width: 48%;
}
.match, .winnings {
    float: left;
    width: 100%;
    min-height: 75px;
    background-color: #BBB;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #888;
}
.matchmain {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.match .oitm {
    width: 24%;
}
.matchheader {
    float: left;
    width: 100%;
    padding: 0.6em 1%;
    border-top: solid 1px #ccc;
    background: #e3e3e3;
    background: radial-gradient(ellipse at top, #eee 0%,#d7d7d7 70%);
}
.matchleft {
    max-width: 555px;
    width: 98%;
    float: left;
    margin: 12px 1%;
}
.matchright {
    width: 28%;
    float: left;
    margin: 0.5em 1%;
}
.whenm, .eventm {
    font-size: 0.8rem;
    float: left;
    text-shadow: 1px 1px 0 #E5E5E5;
}
.eventm {
    float: right;
}
.tournament {
    width: 60%;
    float: right;
}
.betpoll {
    float: left;
    min-height: 10px;
    float: left;
    margin: 0.5em 1.5%;
    width: 97%;
}
.betpoll #active {
    min-height: 50px;
    display: block;
}
.betpoll .oitm {
    width: 24%;
}
.betpoll .left {
    margin: 0;
}
.betpoll .left::before {
    display: none;
}
.winsorloses {
    float: left;
    width: 98%;
    max-width: 400px;
    margin: 0.5em 1%;
    background: #BBB;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.winsorloses .oitm {
    width: 24%;
}
.betheader {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0.5em 2% 0 2%;
    width: 96%;
    float: left;
}
.team {
    width: 60px;
    height: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.teamtext {
    background: rgba(187, 187, 187, 0.9);
    border-radius: 5px;
    padding: 5px;
    line-height: 1.4em;
    text-align: center;
}
.potwin {
    color: #ff8a00;
    margin: 0 1%;
    font-size: 0.8rem;
    padding: 3px;
    float: left;
    background: #171717;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#teamA, #teamB, .yourVal { color: #ff8a00; }
#bets .oitm {
    width: 24%;
}
#avatar {
    margin: 1% 0 0 1%;
}

#replist {
    margin-left: 0.5rem;
    line-height: 1.75rem;
}
#replist a {
    color: #333;
}
#replist li:nth-child(even) {
    background: #CCC
}
.inputfield {
    color: #9AD243;
    border: none;
    background-color: #333;
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
}

@media screen and (min-width: 600px) {
    .matchleft {
        min-width: 380px;
        width: 68%;
    }
}

@media screen and (min-width: 800px) {
    .betpoll .left {
        margin: 0 27.5%;
    }
    .left, .right {
        width: 45%;
    }
    .left::before, .right::before {
        display: none;
    }
    .winsorloses {
        width: 48%;
    }
    .tradecnt, #satrade .tradepoll {
        background: url('//csgolounge.com/img/arrow.png') no-repeat 50% 50%;
        background-size: 7%;
    }
    .tradepoll .oitm {
        width: 32.33%;
    }
    body {
        background: url("//csgolounge.com/img/bsubbg.jpg") repeat-y scroll 100% 0 #D7D7D7;
    }
    header {
        text-align: left;
    }
    main {
        padding-right: 205px;
        height: 0;
    }
    aside {
        font-size: 0.8rem;
        width: 200px;
        float: right;
        bottom: initial;
        text-align: left;
        background: url('//csgolounge.com/img/sub.jpg') top no-repeat #373737;
    }
    #submenu {
        margin-top: 0;
    }
    #submenu > nav {
        line-height: 1.1em;
    }
    #submenu nav a {
        padding: 8px 0px 8px 10px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #252525;
        background-color: #2D2D2D;
        width: 200px;
        display: block;
    }
    #submenu nav a:hover {
        background-color: #252525;
    }
    aside .ads {
        display: block;
        margin: 1.8em 15px;
        text-align: center;
    }
    #follow {
        margin: 10px 0;
    }
    footer {
        margin: 15px;
    }
    footer span {
        display: block;
    }
    .matchleft {
        margin: 14px 5%;
    }
}
@media screen and (min-width: 970px) {
    .name {
        max-width: 280px;
    }
    .tradepoll .oitm {
        width: 24%;
    }
    a#mlog {
        display: none !important;
    }
    #menu a {
        min-width: 72px;
        letter-spacing: 0.05em;
    }
    .mobon {
        display: none;
    }
    #login, #logout {
        margin: 8px;
        display: block;
        float: right;
        width: 114px;
        height: 43px;
    }
    #login { background-image: url(//csgolounge.com/img/sits_large_noborder.png) }
    #logout { background-image: url(//csgolounge.com/img/logout_large_noborder.png) }
    .ddbtn {
        margin: 15px 2px;
        float: right;
        opacity: 0.5;
        width: 42px;
        height: 28px;
        overflow: hidden;
        display: block;
    }
    .ddbtn a {
        margin: 1px;
        display: block;
    }
    .ddbtn:hover {
        opacity: 1;
    }
    .ddbtn div {
        padding: 5px;
    }
    .ddbtn:hover div {
        position: absolute;
        border-radius: 5px;
        background-color: #3D3D3D;
        z-index: 1;
    }
    #armory { float: left; width: 84%; padding: 0 8%; }
    #armory .oitm { width: 12.666%; margin: 5px 2%; }
    .itemoptions {
        line-height: 1.6em;
    }
}
@media screen and (min-width: 1200px) {
    header {
        margin-top: 0;
    }
    #mt {
        display: none;
    }
    section {
        width: 49%;
    }
    .tradepoll .oitm {
        width: 32.33%;
    }
    .matchleft {
        margin: 16px 2%;
    }
    
    #armory { width: 100%; padding: 0; }
    #armory .oitm { width: 14.66%; margin: 4px 1%; }
}
@media screen and (min-width: 1550px) {
    .oitm {
        width: 11.5%;
        margin: 4px 0.5%;
    }
    .tradepoll .oitm {
        width: 24%;
    }
    #armory { float: left; width: 84%; padding: 0 8%; }
    #armory .oitm { width: 12.666%; margin: 5px 2%; }
}

.oit-2 .oitm {
    width: 49%;
}