
/* COMPR. 2048 */
.breadcrumb-cont, .toolmenu, a.call-tooltip, a.close-tooltip, .cont-like-inner, .scheda-dx, .pdf-button-inner,
.citta-link, .cont-like, .pdf-button, .pdf-button, .listing .pag-group, .pagination, .copy-link, 
.tabs, .web-contatti, .push, .scheda-img-pdf, .pag-group, .type-map, .divZoom, .footer-deco01, .link, .list-main,
.listing-h1, .map-list-inner-2, .map-list,.listing-more-info-inner, .listing-more-info, .filter-bottom, .filter-top,
.listing-top, .item-first, .item_dx, .sidebar, .filter, .allargamento_geo, .pluricopertura, .social-like, .copy-link,
.cont-like-inner,.footbord,.push,.copy-logo,.dilatua,.freecall-more,.search-cont,.mypg{display:none;}
.pushbar{display:none!important;}
.content {
    background:#FFFFFF;
    margin: 0 auto;
    padding: 20px 0;
    width: 700px;
    position:relative;
}
.indirizzo {
    float: left;
    font-size: 13px;
    line-height: 17px;
    width: 100%;
}
.col-left {
    float: left;
    padding-bottom: 20px;
    position: absolute;
    top:20px;
    left:0px;
    width: 700px;
    border-bottom:1px solid #ccc;
}
.col-right {
    margin-bottom: 20px;
    position:relative;
    top:140px;
    width: 100%;
}
.scheda-box {
	background: none;
    border: none;
    float: left;
    padding:30px 0;
    width: 100%;
}
.scheda-box .tabs-scheda {
	border: none;
	background: none;
    padding: 30px 14px 0;
    width: 100%;
}
.scheda-sx {
    border-right: medium none;
    float: left;
    height: auto !important;
    margin-bottom: 15px;
    min-height: 300px;
    padding-right: 14px;
    width: 100%;
}
.info p {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
    width: 100%;
}
.info {
    width: 100%;
}
.out-info {
    padding: 0 0 30px;
    text-align: justify;
    width: 100%;
}
.logo-container {
    margin-bottom: 15px;
    width: 143px;
    height: 54px;
    float: left;
    display: block;
    
}
.only-map-h3, .map h3 {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: left;
    margin: 0;
}

.copy-info {
    color: #B3B3B3;
    font-size: 11px;
    line-height: 13px;
    padding-top: 15px;
    padding-left:130px;
}
.copyright {
    background:none;
    margin: 0;
    padding: 18px 0 0;
    width: 100%;
    height:50px;
}
.footer {
    background:#FFFFFF;
    clear:both;
    min-width:700px;
    width:auto!important;
    width:700px;
    margin:0 auto;
    height:68px;
}
.accordion-parent {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #E6E6E6;
    color: #444444;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    padding: 15px 10px;
}
.accordion-parent-sel {
    background: none repeat scroll 0 0 transparent;
}

.accord, .accordion-parent, .accordion-address {
    border: none;
}
.map, .details {
    border-top: 1px solid #CCCCCC;
    display: block;
    padding: 14px 0;
    width: 100%;
}
.item {
    border-top: 1px solid #CCCCCC;
    clear: both;
    display: block;
    width: 642px;
}
.container{width:700px;margin:0 auto 100px auto!important;position:static;}
.tcontent,.item,.list-left{width:100%;}
.copyright-deco01{width:875px;}
.header{border:none;background:none;height:75px;}
.info a{display:none;}
.mappa_point{background:none;}
.palloccio_stampa_img{display:block!important;}
.logo-for-print{display:block!important;}
.header-deco01{background:none;width:700px;height:75px;margin:0px;}
.copyright-deco01 .logo-for-print{float:left;}
#overlayer{display:none!important;}

.mappa_point_sel .num, .mappa_point .num {position: absolute; left: 0px; top: 0px;}
