.transparent {
opacity:0;
}

.ie .transparent {
filter:alpha(opacity=0);
}

.top {
vertical-align:top!important;
}

.bottom {
vertical-align:bottom!important;
}

.middle {
vertical-align:middle!important;
}

.first {
margin-top:0;
padding-top:0;
}

.last {
margin-bottom:0;
padding-bottom:0;
}

.right {
float:right;
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.disabled {
color:#bbb;
}

.clear {
clear:both;
width:1px;
}

.loading {
background-position:50% 50%;
background-repeat:no-repeat;
}

.offscreen {
position:absolute;
left:-9999px;
overflow:hidden;
}

.empty-set {
padding:30px!important;
}

.numeric {
font-family:Georgia,Serif;
}

.no-border {
border:0!important;
}

.round {
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.round-top-right {
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
}

.round-right {
-moz-border-radius-topright:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-right-radius:5px;
}

.round-bottom-right {
-moz-border-radius-bottomright:5px;
-webkit-border-bottom-right-radius:5px;
}

.round-bottom {
-moz-border-radius-topright:0;
-moz-border-radius-topleft:0;
-moz-border-radius-bottomright:5px;
-moz-border-radius-bottomleft:5px;
-webkit-border-top-right-radius:0;
-webkit-border-top-left-radius:0;
-webkit-border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
}

.round-bottom-left {
-moz-border-radius-bottomleft:5px;
-webkit-border-bottom-left-radius:5px;
}

.round-left {
-moz-border-radius-topleft:5px;
-moz-border-radius-bottomleft:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-bottom-left-radius:5px;
}

.round-top-left {
-moz-border-radius-topleft:5px;
-webkit-border-top-left-radius:5px;
}

.round-top {
-moz-border-radius-topright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-bottomright:0;
-moz-border-radius-bottomleft:0;
-webkit-border-top-right-radius:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-bottom-right-radius:0;
-webkit-border-bottom-left-radius:0;
}

#footer {
line-height:1;
background:#fff;
white-space:nowrap;
background-color:transparent!important;
font-size:.88em;
text-align:left;
margin-top:0;
padding:8px 0;
}

#footer li {
display:inline;
padding:0 4px;
}

#footer li.first:before {
content:'';
padding-right:0;
}

.tipsy {
opacity:.8;
filter:alpha(opacity=80);
background-repeat:no-repeat;
padding:5px;
}

.tipsy-inner {
max-width:200px;
font:11px 'Lucida Grande',sans-serif;
-moz-border-radius:4px;
-khtml-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
background-color:#000;
color:#fff;
text-align:left;
line-height:1.5em;
font-weight:700;
padding:10px 15px;
}

.tipsy-north {
background-image:url(./files/53487737.png);
background-position:top center;
}

.tipsy-south {
background-image:url(./files/1982052.png);
background-position:bottom center;
}

.tipsy-east {
background-image:url(./files/44103863.png);
background-position:right center;
}

.tipsy-west {
background-image:url(./files/37446795.png);
background-position:left center;
}

body {
background:#C0DEED;
font:13px/16px "Lucida Grande",Arial,Sans-serif;
color:#789;
margin:0;
padding:0;
}

#container {
width:96%;
margin:0 auto;
}

.wrapper {
display:none;
background:#fff;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
padding:10px 20px;
}

.left-corner {
background:transparent url(./files/4963956.png) no-repeat bottom left;
padding-left:10px;
}

.wrapper-footer-ie .right-corner {
background:transparent url(./files/11173455.png) no-repeat bottom right;
padding-right:10px;
float:none;
}

.wrapper-footer-ie .inner {
background:#023;
font-size:10px;
height:10px;
overflow:hidden;
}

#search .left-corner {
background:transparent url(./files/64650230.png) no-repeat bottom left;
margin-top:-10px;
}

#search .wrapper-footer-ie .right-corner {
background:transparent url(./files/12974651.png) no-repeat bottom right;
}

#search .wrapper-footer-ie .inner {
background:#fff;
}

#content {
width:520px;
min-height:500px;
}

a:link,a:visited {
color:#27b;
text-decoration:none;
}

a img {
border-width:0;
}

#topnav {
font-size:11px;
line-height:23px;
text-align:right;
padding:10px 25px 12px;
display:none;
}

#topnav a.signin {
background:#88bbd4;
text-decoration:none;
font-weight:700;
color:#fff;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
padding:4px 6px 6px;
}

#topnav a.signin:hover {
background:#59B;
}

a.signin {
position:relative;
margin-left:3px;
}

a.signin span {
background-image:url(./files/102558560.png);
background-repeat:no-repeat;
background-position:100% 50%;
padding:4px 16px 6px 0;
}

.ie6 a.signin span {
background:#88bbd4 url(./files/60563279.png) no-repeat center right;
}

.ie6 a.signin:hover span {
background:#59B url(./files/78532424.png) no-repeat center right;
}

.ie #topnav a.signin {
background:transparent url(./files/102983533.png) no-repeat 0 0;
padding:4px 12px 6px;
}

.ie #topnav a.signin:hover {
background:transparent url(./files/105871996.png) no-repeat 0 0;
padding:4px 12px 6px;
}

.ie7 #topnav a.signin,.ie7 #topnav a.signin:hover {
background-position:0 3px!important;
}

.ie6 #topnav a.signin {
background-image:none;
background-color:#88bbd4;
}

.ie6 #topnav a.signin:hover {
background-image:none!important;
background-color:#59B!important;
}

#topnav a.menu-open {
background:#ddeef6!important;
color:#666!important;
outline:none;
}

#small_signup {
display:none;
float:none;
line-height:23px;
width:170px;
margin:25px 0 0;
}

#small_signup span {
color:#789;
font-size:11px;
line-height:16px;
text-align:center;
margin:0 0 6px;
}

#small_signup a.signup-button {
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-x-system-font:none;
display:inline;
font-family:"Lucida Grande",Arial,Sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:700;
line-height:normal;
margin-right:6px;
border-color:#9C2;
padding:3px 6px 5px;
}

a.signin.menu-open span {
background-image:url(./files/105741765.png);
color:#789;
}

.ie6 #topnav a.menu-open span, {
background:#ddeef6 url(./files/13950745.png) no-repeat center right;
color:#789;
}

.ie6 #topnav a.menu-open,.ie6 #topnav a.menu-open:hover {
background-color:#ddeef6!important;
}

#signin_menu {
-moz-border-radius-topleft:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
display:none;
background-color:#ddeef6;
position:absolute;
width:210px;
z-index:100;
border:1px transparent;
text-align:left;
margin-left:-8px;
margin-top:5px;
color:#789;
font-size:11px;
padding:10px;
}

.ie #signin_menu {
margin-left:2px;
}

.ie7 #signin_menu {
margin-left:3px;
}

.ie6 #signin_menu {
border:1px solid #ddeef6;
width:190px;
}

#signin_menu input[type=text],#signin_menu input[type=password] {
display:block;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border:1px solid #ACE;
font-size:13px;
width:203px;
margin:0 0 5px;
padding:5px;
}

#signin_menu a {
color:#6AC;
}

#signin_menu label {
font-weight:400;
}

#signin_menu p.remember {
padding:10px 0;
}

#signin_menu p.forgot,#signin_menu p.complete {
clear:both;
margin:5px 0;
}

#signin_menu p a {
color:#27B!important;
}

#signin_submit {
-moz-border-radius:4px;
-webkit-border-radius:4px;
background:#39d url(./files/28813794.png) repeat-x scroll 0 0;
border:1px solid #39D;
color:#fff;
text-shadow:0 -1px 0 #39d;
font-size:11px;
font-weight:700;
margin:0 5px 0 0;
padding:4px 10px 5px;
}

#signin_submit:hover,#signin_submit:focus {
background-position:0 -5px;
cursor:pointer;
}

#header {
position:relative;
background:#59b url(./files/88909299.png) no-repeat 0 0;
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
}

.ie #header {
background:transparent url(./files/94258241.png) no-repeat 0 0!important;
}

#header2 {
background-color:transparent;
padding:30px 15px;
}

.logo {
outline:none;
cursor:default;
}

#search .logo {
cursor:pointer;
}

#bird {
position:absolute;
top:1px;
right:1px;
width:92%;
max-width:390px;
}

#tagline {
float:right;
width:315px;
font-size:1.5em;
line-height:1.3;
font-weight:400;
font:18px/24px Helvetica,Arial,Sans-serif;
color:#DDEEF6;
margin:8px 149px 0 0;
}

.ie6 #tagline {
position:absolute;
top:30px;
right:0;
float:none;
}

#tagline strong {
color:#fff;
}

#home_search {
margin:25px 0 0;
}

#home_search label {
display:block;
color:#DDEEF6;
margin:0 0 6px 2px;
}

#home_search_q {
background:#fff;
border:1px solid #eee;
border-right-width:0;
outline-width:0;
-webkit-border-top-left-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-bottomleft:5px;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
font:18px Helvetica,Arial,Sans-serif;
width:56%;
margin:0;
padding:8px 10px;
}

#home_search_q:focus {
outline-width:0;
border-color:#fff;
}

#home_search_submit {
background:#bbb url(./files/10273678.png) repeat-x 0 0;
border:1px solid #eee;
margin-left:-.5em;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomright:5px;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
font:14px Helvetica,Arial,Sans-serif;
font-weight:700;
color:#333;
outline:none;
text-decoration:none;
text-shadow:0 1px 0 #fff;
padding:8px 15px;
content:'DOWNLOAD';
}

.chrome #home_search_submit {
padding:8px 10px 9px;
}

.firefox-windows #home_search_submit {
padding:13px 5px 10px;
}

.firefox-windows.firefox2 #home_search_submit {
position:relative;
top:1px;
}

.ie7 #home_search_submit,.ie6 #home_search_submit {
position:relative;
top:-9px;
left:-5px;
padding:8px 10px 8px 20px;
}

#home_search_submit:hover,#home_search_submit:focus {
background-position:0 -5px;
cursor:pointer;
color:#111;
}

#big_signup {
float:right;
width:170px;
display:none;
}

.ie6 #big_signup {
position:absolute;
top:112px;
right:20px;
float:none;
}

#big_signup label {
text-align:center;
color:#ADE1F9;
}

a.signup-button {
background:#9c2 url(./files/110378801.png) repeat-x 0 0;
display:block;
border:1px solid #df6;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
text-decoration:none;
text-align:center;
color:#333;
text-shadow:0 1px 0 #df6;
font:18px Helvetica,Arial,Sans-serif;
font-weight:700;
outline:none;
padding:8px 10px;
}

.safari a.signup-button {
padding:8px 0;
}

a.signup-button:hover,a.signup-button:focus {
background-position:0 -5px;
color:#111;
}

#trend_info {
background-color:#00131E;
text-align:center;
color:#379;
font-size:11px;
letter-spacing:.15em;
width:100%;
height:30px;
line-height:2.8;
padding:0;
}

.ie6 #trend_info {
padding-top:8px;
line-height:1;
}

#trend_info img,#trend_description img {
vertical-align:middle;
margin:1px 5px 3px;
}

.ie8 #trend_info img,.ie8 #trend_description img {
margin-top:-1px;
}

.ie7 #trend_info img,.ie7 #trend_description img {
margin-bottom:-2px;
}

#trend_info img {
margin-left:0;
}

#search #trend_info img {
visibility:hidden!important;
}

#trend_description {
display:none;
background:#023;
line-height:18px;
padding:20px 25px;
}

#trend_description span {
color:#DF6;
font-size:.825em;
}

#trend_description img {
vertical-align:middle;
}

#trend_description p {
color:#ACE;
margin:4px 0 0;
}

#trend_description p strong {
color:#FFF;
}

#trends {
text-align:center;
position:relative;
background:#023;
overflow:hidden;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
padding:20px 25px;
}

#trends div {
overflow:hidden;
width:705px;
padding-left:25px;
height:1.9em;
}

.ie6 #trends div li {
margin:.5em 0;
}

.ie6 #trends div,.ie7 #trends div {
background-position:0 .5em;
}

#trends a,#trends li span {
display:inline-block;
color:#adf;
outline:none;
padding:0 15px 0 0;
}

#trends .current {
background:transparent url(./files/44864824.png) no-repeat center left;
margin-bottom:7px;
}

#trends .current a,#trends .current span {
font:18px Helvetica,Arial,Sans-serif;
color:#adf;
}

#trends .daily {
background:transparent url(./files/84570133.png) no-repeat center left;
margin-bottom:4px;
}

#trends .daily a,#trends .daily span {
font:14px Helvetica,Arial,Sans-serif;
color:#8ce;
}

#trends .weekly {
background:transparent url(./files/71277250.png) no-repeat center left;
}

#trends .weekly a,#trends .weekly span {
font:11px "Lucida Grande",Arial,Sans-serif;
color:#6ac;
}

.safari #trends .weekly {
height:2em;
}

#search #trends {
display:none!important;
}

#trends ul {
white-space:nowrap;
width:870px;
line-height:2;
}

#trends .current ul {
line-height:2.1;
}

.safari #trends .current ul {
line-height:2.2;
}

#trends li {
float:left;
display:inline-block;
margin:0;
}

#trends a:hover {
color:#fff;
text-decoration:none;
}

#trends .fade {
background:url(./files/109163970.png) repeat-y -60px 0;
position:absolute;
display:block;
top:0;
left:auto;
right:25px;
width:60px;
height:150px;
padding:8px 0;
}

#trends_list {
width:200px;
word-spacing:-.1em;
line-height:1.75;
margin:0 0 20px;
}

#trends_list a {
font-size:.95em;
white-space:nowrap;
outline:none;
padding:5px 20px 5px 0;
}

#trends_list li.loading a {
background:#fff url(./files/13700004.png) no-repeat center right;
}

.homepage #timeline {
font-size:1.1em;
color:#333;
margin-left:0;
padding:0;
}

ol .status .status-body {
width:180px!important;
padding-right:40px;
}

h2 {
font:18px Helvetica,Arial,Sans-serif;
font-weight:400;
color:#333;
line-height:1.2;
margin:1em 0 .5em 5px;
}

.timeline-actions {
padding-left:5px;
}

.timeline-actions a {
font-size:.9em;
padding:.1em 30px .1em 20px;
}

.rss {
background:transparent url(./files/45600591.png) no-repeat center left;
}

.tweet-results {
background:transparent url(./files/50135269.png) no-repeat center left;
}

#sidebar {
float:right;
width:200px;
}

#sidebar h2 {
margin:1em 0 .25em;
}

.no-results {
color:#333;
border-top:1px dashed #D2DADA;
font-size:1.2em;
padding:2em 0 .6em 1em !important;
}

#results_update {
margin-top:10px;
}

ol.statuses>li {
border-bottom:1px dotted #D2DADA!important;
position:relative;
line-height:1.1em;
padding:.7em 0 .6em;
}

ol.statuses>li:first-child {
border-top:1px dotted #D2DADA!important;
}

.ie6 #timeline li {
border-top:1px dotted #D2DADA;
padding:8px 0;
}

.ie #footer {
margin-top:-10px;
}

#footer ul {
padding-left:20px;
}

.language-select {
text-align:right;
width:200px;
float:right;
}

.ie7 .language-select,.ie6 .language-select {
position:relative;
top:20px;
}

.language-select li+li {
cursor:pointer;
padding:0 25px 0 5px !important;
}

.language-select small {
font-size:.7em;
}

#footer .language-menu {
text-align:left;
display:none;
background-color:#005277;
position:absolute;
width:150px;
z-index:100;
padding-left:0;
}

.ie7 #footer .language-menu {
margin-left:-1px;
margin-top:10px;
}

#footer .language-menu li {
color:#fff;
display:block!important;
text-align:left;
cursor:pointer;
padding:5px 10px 6px;
}

#footer .language-menu li:hover {
background-color:#59B;
}

#footer .language-menu li:first-child {
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
}

#footer .language-menu li:last-child {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
}

#footer .change-ui {
text-align:center;
display:block;
margin:0 auto -5px;
}

.ie6 .tipsy {
width:250px;
}

.search-tip {
background:#eee;
border:1px solid #ddd;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
font:11px/16px "Lucida Grande",Arial,Sans-serif;
color:#333;
margin:0 0 0 -2px;
padding:8px 9px 10px;
}

.search-tip h3 {
font-size:11px;
color:#111;
margin:0 0 4px;
}

.search-tip em {
font-style:normal;
font-weight:700;
color:#060;
}

.signup-tip {
line-height:18px;
color:#333;
margin:30px 0;
}

.signup-tip a {
font-weight:700;
}

#notifications {
position:fixed;
top:0;
left:0;
width:100%;
overflow:visible;
}

.notification-bar {
position:absolute;
top:0;
left:0;
color:#000;
border-bottom:2px solid rgba(0,0,0,0.07);
width:100%;
cursor:pointer;
}

.notification-bar-bkg {
background-color:#fff;
opacity:.95;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
filter:alpha(opacity=95);
position:static;
}

.notification-bar,.notification-bar-bkg {
padding:1.2em 0;
}

.ie7 .notification-bar,.ie7 .notification-bar-bkg {
border-bottom:2px solid #ccc;
}

.notification-bar-container {
position:relative;
display:block;
width:100%;
overflow:visible;
}

.notification-bar-contents {
width:740px;
text-align:left;
position:relative;
font-size:150%;
margin:0 auto;
}

.notification-bar .message-progress {
padding-left:24px;
background-image:url(./files/48890095.png);
background-repeat:no-repeat;
background-position:left center;
}

.notification-bar .message-error {
color:red;
}

body.timeline #content h1 {
color:#666;
font-size:1.5em;
}

#timeline_heading h1 {
color:#666;
font-size:16px;
font-weight:400;
padding:0 0 3px 4px;
}

#timeline_heading h1 a,#timeline_heading h1 span.loading {
float:right;
font-size:.7em;
margin-top:4px;
padding-left:18px;
}

.save-search-link,.subscribe-list-link {
background:transparent url(./files/24972968.png) no-repeat left bottom;
}

.delete-search-link,.unsubscribe-list-link {
background:transparent url(./files/6226984.png) no-repeat left bottom;
}

#timeline_heading h1 span.loading {
background:transparent url(./files/13700004.png) no-repeat left bottom;
}

body#inbox ol.statuses li:first-child,body#sent ol.statuses li:first-child,body#lists ol.statuses li:first-child,body#direct_messages ol.statuses li:first-child {
border-top:1px solid transparent;
}

#inbox div#timeline_heading,#sent div#timeline_heading,#lists div#timeline_heading,#direct_messages div#timeline_heading {
border-bottom:1px solid #cecece;
}

body#direct_messages #dm_tabs,body#inbox #dm_tabs,body#sent #dm_tabs {
display:block;
padding:1px;
}

ul#dm_tabs li.loading a {
background-image:url(./files/13700004.png);
background-repeat:no-repeat;
background-position:center bottom;
color:transparent!important;
}

#content ul#dm_tabs li a {
padding:3px 40px 1px;
}

#content .tabMenu {
text-align:center;
margin:25px 0 0;
}

#content .tabMenu li {
display:inline;
margin-left:-5px;
}

#content .tabMenu li a {
display:inline;
background-color:#e6e6e6;
text-decoration:none;
color:#4c4c4c;
border-top:1px solid #cecece;
border-right:1px solid #cecece;
border-left:1px solid #cecece;
padding:3px 20px 1px;
}

#content .tabMenu li a:hover {
text-decoration:none;
color:#000;
background-color:#999;
}

#content .tabMenu li.active a {
background-color:#fff;
color:#000;
border-bottom:1px solid #fff;
}

body#direct_messages #content .tabMenu #inbox_tab a,body#inbox #content .tabMenu #inbox_tab a,body#sent #content .tabMenu #sent_tab a {
color:#000;
background-color:#fff;
border-bottom:1px solid #fff;
}

#next_steps {
display:none;
font-size:1.2em;
line-height:1.1;
}

#next_steps td.thumb {
width:50px;
vertical-align:top;
padding:10px 5px 8px;
}

#next_steps td {
border-bottom:1px dashed #d2dada;
vertical-align:middle;
padding:7px 3px;
}

ol.statuses {
list-style:none;
font-size:1.2em;
}

ol.statuses .thumb {
display:block;
width:50px;
height:50px;
position:absolute;
left:0;
overflow:hidden;
margin:0 10px 0 5px;
}

ol.statuses .thumb img {
width:48px;
height:48px;
}

.no-results ol {
padding:5px 0 0 30px;
}

ol.statuses span.status-body {
display:block;
min-height:50px;
width:80%;
overflow:hidden;
margin-left:65px;
}

#users ol.statuses span.status-body {
width:200px;
}

ol.statuses .lock,ol.statuses .screen-name {
margin-right:5px;
}

ol.statuses .embedded_picture {
text-align:center;
margin:10px 0 0;
}

ol.statuses .embedded_picture img {
border:2px solid #DDD;
padding:10px;
}

.search ol.statuses .bio {
margin-left:5px;
}

ol.statuses span.meta,.hentry .meta {
display:block;
font-size:.764em;
color:#999;
margin:3px 0 0;
}

ol.statuses span.meta a,.hentry .meta a {
color:#999;
}

ol.statuses span.meta .call-out,.hentry .meta .call-out {
color:#000;
}

ol.statuses .actions {
position:absolute;
right:5px;
top:.5em;
line-height:1.25em;
border-width:0;
}

.ie6 ol.statuses .actions {
right:25px;
}

ol.statuses .actions a {
display:block;
text-decoration:none;
background-position:50% 50%;
background-repeat:no-repeat;
outline:none;
cursor:pointer;
visibility:hidden;
padding:3px 8px;
}

.hentry .fav {
background-image:url(./files/17127674.png);
}

.hentry .non-fav {
background-image:url(./files/44240255.png);
}

.hentry .fav-throb,.hentry a.del-throb {
background-image:url(./files/24423758.png);
}

body#show .reply,.hentry .reply {
background-image:url(./files/10654786.png);
}

.direct_message a.reply {
background-image:url(./files/102442462.png);
}

ol.statuses li:hover,ol.statuses li.hover {
background-color:#f7f7f7;
}

.status_activity {
margin:4px 0 0;
padding:10px 0 0 20px;
}

.status_activity .activity {
margin:0 0 5px;
}

.status_activity .content {
vertical-align:top;
font-size:.8em;
margin:0 0 0 5px;
}

#flash {
padding-top:45px;
background-repeat:no-repeat;
background-position:24px 0;
margin:1.5em 0;
}

#flash p {
background-color:#fff;
font-size:2.12em;
line-height:1.2em;
font-weight:700;
padding:.5em;
}

.feature-limited {
background-color:#f9f6ba;
border:2px solid #e9e6aa;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:.5em 1em;
}

.minor-notification {
background-color:#ffc;
border-color:#eeb;
border-style:solid none;
border-width:1px 0;
padding:.5em 1em;
}

.bulletin {
display:none;
padding:10px;
}

body#home .bulletin {
display:block;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

body#settings .bulletin {
margin:20px 100px;
}

.bulletin a.close {
float:right;
opacity:.7;
background:transparent url(./files/104139265.png) no-repeat;
padding:6px 6px 7px 7px;
}

.ie .bulletin a.close {
filter:alpha(opacity=70);
}

.bulletin a.close:hover {
opacity:1;
}

.ie .bulletin a.close:hover {
filter:alpha(opacity=100);
}

.bulletin.warning {
background-color:#ff9;
border:1px solid #ecec19;
}

.bulletin.alert {
background-color:#ffab9d;
border:1px solid #f88;
}

.bulletin p,.bulletin h2 {
margin-left:60px!important;
}

.bulletin.info {
background-color:#ff9;
border:1px solid #ecec19;
font-size:.9em;
padding:5px 10px!important;
}

.ie6 .standard-form .info {
background:none;
border:0;
}

.bulletin img {
vertical-align:middle;
float:left;
}

.bulletin h2 {
font-size:1.2em;
margin-bottom:.5em;
}

.yellow-box {
background-color:#FEF6A8;
border:solid 1px #FFFA00;
color:#000;
line-height:1.7em;
font-size:.9em;
text-align:center;
margin:1em;
padding:1em;
}

#pagination {
margin:2em 0 1em;
}

.more {
outline:none;
display:block;
width:100%;
text-align:center;
border:1px solid #ddd;
border-bottom:1px solid #aaa;
border-right:1px solid #aaa;
background-color:#fff;
background-repeat:repeat-x;
background-position:left top;
font-size:14px;
text-shadow:1px 1px 1px #fff;
font-weight:700;
height:auto;
min-height:22px;
line-height:1.5em;
margin-bottom:6px;
background-image:url(./files/47898945.png);
padding:6px 0;
}

.more:hover {
border:1px solid #bbb;
text-decoration:none;
background-position:left -78px;
}

.more:active {
color:#666;
background-position:left -38px;
}

.more.loading {
cursor:default!important;
background-color:#fff;
background-repeat:no-repeat;
background-position:50% 50%;
border:1px solid #eee;
background-image:url(./files/48890095.png);
}

.more::-moz-focus-inner {
border:0;
}

#pagination.pagination {
height:1.5em;
}

#pagination.pagination a,#pagination.pagination .link-like {
border:1px solid #cecece;
float:right;
margin:0 0 0 10px;
padding:.25em 1em;
}

.person .thumb img {
height:48px;
width:48px;
}

.btn {
background:#ddd url(./files/83710922.png) repeat-x 0 0;
font:11px/14px "Lucida Grande",Sans-serif;
width:auto;
overflow:visible;
-moz-border-radius:4px;
-khtml-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
color:#333;
text-shadow:1px 1px 0 #fff;
cursor:pointer;
border-color:#ccc;
border-style:solid;
border-width:1px;
margin:0!important;
padding:4px 10px 5px;
}

.btn-m {
background-position:0 -200px!important;
font-size:15px!important;
line-height:20px!important;
-moz-border-radius:5px!important;
-khtml-border-radius:5px!important;
-webkit-border-radius:5px!important;
border-radius:5px!important;
padding:5px 15px 6px!important;
}

.btn-l {
background-position:0 -400px;
font-size:20px;
line-height:26px;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
padding:7px 20px 9px;
}

.btn:hover,.btn:focus {
background-position:0 -6px;
color:#000;
text-decoration:none;
border-color:#999 #999 #888;
}

.btn-m:hover,.btn-m:focus {
background-position:0 -206px;
}

.btn-l:hover,.btn-l:focus {
background-position:0 -406px;
}

.btn:active {
background-image:none;
text-shadow:none;
outline:none;
}

.red-link {
font-variant:normal;
}

.product-disc {
width:38%;
height:auto;
float:left;
margin-left:10px;
text-align:inherit;
margin-bottom:2px;
}

.product-disc a {
color:#167AC6;
}

.product-box {
width:90%;
border:1px dotted #C0C2C4;
background-color:#F3F3F3;
margin-bottom:7px;
float:left;
height:100px;
position:relative;
border-radius:8px;
overflow:hidden;
padding:15px 15px 8px 10px;
}

.videosince {
margin-left:136px;
bottom:24px;
position:absolute;
font-style:italic;
z-index:32;
}

.videosince li:before {
content:"•";
margin:0 5px;
}

.product-image {
width:129px;
height:92px;
float:left;
position:relative;
}

.product-image span {
background:none repeat scroll 0 0 #000;
opacity:.7;
display:block;
height:12px;
line-height:11px;
overflow:hidden;
color:#FFF;
position:absolute;
bottom:2px;
font-size:11px;
right:1px;
font-weight:700;
padding:2px 3px;
}

.dataform-box-top {
width:750px;
height:24px;
margin-bottom:6px;
background:url(http://www.izlevideo.net/video/images/featured-bar.gif) left top no-repeat;
padding-left:20px;
margin-left:45px;
}

#featur-product-box,.dataform-box {
width:100%;
height:auto;
margin-top:20px;
}

.white-text {
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
line-height:24px;
font-weight:700;
font-variant:normal;
text-transform:none;
color:#fff;
text-decoration:none;
}

#format {
border:0;
background-repeat:repeat-x;
background-color:#59B;
color:#e9e9e9;
padding:2px;
}

body h1 {
font-size:15px;
margin-top:-8px;
}

.mediumtext {
color:#E9E9E9;
font-size:14px;
line-height:14px;
margin-top:6px;
}

#global-actions>li {
height:46px;
overflow:hidden;
}

#global-actions>li>a {
border-bottom:4px solid #33B5E5;
transition:all .15s ease-in-out;
}

#global-actions>li:hover>a,#global-actions>li.active>a {
height:42px;
}

#global-actions>li:hover {
color:#33B5E5;
}

.nav {
margin-right:12px;
text-align:left;
}

.nav>li {
color:#66757f;
}

.nav>li .Icon {
float:left;
width:23px;
height:23px;
margin:11px 5px 0 10px;
}

.nav li a {
position:relative;
font-size:12px;
}

.nav>li>a .text {
float:left;
margin-left:3px;
margin-top:17px;
padding:0;
}

.nav>li>a,.nav>li>button {
color:inherit;
display:block;
font-size:13px;
font-weight:500;
height:46px;
line-height:1;
padding:0 14px 0 4px;
}

.nav .active>a,.nav>li>a:hover {
color:inherit;
text-decoration:none;
}

.nav>li>a:focus {
color:inherit;
text-decoration:underline;
}

.nav .icon {
float:left;
margin:-4px 6px 0 0;
}

.nav .active a {
color:inherit;
background-color:transparent;
}

li {
text-align:inherit;
}

.error,.notice {
color:#801b1b;
}

.left,.nav,.nav>li {
float:left;
}

.clearfix,.ie6 .bulletin {
zoom:1;
}

.inline,#search #small_signup {
display:inline;
}

.hidden,#trends em,#trends_list em,.ie6 #trends .fade,#footer br,#dm_tabs {
display:none;
}

.invisible,#search #trend_info span {
visibility:hidden;
}

a:hover,.language-select li+li:hover span {
text-decoration:underline;
}

.ie #topnav a.menu-open,.ie #topnav a.menu-open:hover,#trends_list li.loading {
background-image:none!important;
}

#signin_menu p,#content div.section #timeline_heading {
margin:0;
}

#signin_submit::-moz-focus-inner,#home_search_submit::-moz-focus-inner,.btn::-moz-focus-inner {
border:0;
padding:0;
}

#logo,body#home #next_steps {
display:block;
}

#home_search_submit:active,a.signup-button:active {
background-image:none;
}

ol.statuses li,.nav li {
position:relative;
}

ol.statuses li:hover .actions a,ol.statuses li.hover .actions a,ol.statuses li:hover .hentry a,ol.statuses li.hover .hentry a,ol.statuses .hentry a.fav,ol.statuses .hentry a.fav-throb,ol.statuses .hentry a.del-throb {
visibility:visible;
}

.hentry .del,.direct_message .hentry .del {
background-image:url(./files/64920490.png);
}

.newbar {
background-color:#DDEEF6;
border-radius:18px 18px 0 0;
-moz-border-radius:18px 18px 0 0;
-webkit-border-radius:18px 18px 0 0;
margin-top:100px;
display:none;
}

.newbar img {
position:absolute;
margin:6px;
height:32px;
width:32px;
}

.newbarfront {
background-color:#2C91B8;
border-radius:180px 18px 0 0;
-moz-border-radius:180px 18px 0 0;
-webkit-border-radius:180px 18px 0 0;
border:0 dashed #DDEEF6;
padding:20px;
}

.newbartitle {
color:#FCE064;
font-size:15px;
font-weight:700;
margin-left:10%;
}

.newbartitle a {
color:#BAF83A;
}

.newbardesc {
color:#E3E1DC;
font-size:12px;
margin-left:10%;
display:none;
}

.ulheader {
display:inline-block;
background-color:#DDEEF6;
margin-top:20px;
width:100%;
border-radius:0 0 8px 8px;
-moz-border-radius:0 0 8px 8px;
-webkit-border-radius:0 0 8px 8px;
}

#trends ul,#trends_list ul,ol,ul {
list-style:none;
margin:0;
padding:0;
}
#fblike{
float:left;margin-top:95px;position:absolute;display:none;
}
#home728,#hrefapp{
display:none;
}
#coco2{

}

#barVista{display:block; width:100%; height:25px; clear:both; background:url(images/barVista.png) top left no-repeat;}
#barVista .bar{display:block; width:0; height:25px; background:url(images/barVista.png) bottom left no-repeat;}
#barVista .step{display:block; float:left; height:25px; line-height:25px; text-align:center;}
#barVista .stepKalan{width:100%;display:block; float:right; height:25px; line-height:25px; text-align:center;}
#ads428{display:none;}
#ads728{display:none;}
#fbbutton{display:none;}
#coco2{display:none;}
#ads340web{display:none;}
#ads340mobile{width:100%;height:260px;overflow:hidden;text-align:center;margin-bottom:10px}
#cocodiv{display:block;text-align:center}
#coco{width:100%;height:250px;margin:0 auto;}
#playlistbuttons{margin-top:10px;}
#adsytsave {display:none; }