#feature-main {
    left: 9px;
    margin: 8px 0 14px;
    position: relative;
    width: 500px;
    height: 360px;
    float: left;
}
#feature-main div#feature-big {
    background-color: #DDDDDD;
    height: 282px;
    overflow: hidden;
    position: relative;
}
.feature-one-of-big {
    cursor: pointer;
    overflow: hidden;
}
.feature-big-info {
    background: url("images/big-info-bg.png") repeat scroll 0 0 transparent;
    bottom: 8px;
    height: 119px;
    position: absolute;
    right: 0;
    width: 282px;
}
* html .feature-big-info {
    background: none repeat scroll 0 0 transparent;
}
.feature-big-info span {
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    left: 16px;
    position: absolute;
    width: 224px;
}
.feature-big-info a {
    text-decoration: none;
}
.feature-big-info span.feature-large {
    color: #000000;
    top: 8px;
}
.feature-big-info span.feature-large a {
    color: #303030;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.feature-big-info span.feature-small {
    color: #000000;
    top: 57px;
}
.feature-big-info span.feature-small a {
    color: #000000;
    font-size: 14px;
}
.feature-big-info span.feature-comments {
    background: url("images/feature-comments-bg.gif") no-repeat scroll 0 2px transparent;
    color: #666666;
    height: 15px;
    line-height: 15px;
    overflow: visible;
    padding: 0 0 0 14px;
    top: 98px;
}
.feature-big-info span.feature-comments a {
    color: #666666;
    font-size: 12px;
}
.feature-big-info-extend {
    height: 140px;
}
* html .feature-big-info-extend {
    background: none repeat scroll 0 0 transparent;
}
.feature-big-info-extend span.feature-small {
    top: 78px;
}
.feature-big-info-extend span.feature-comments {
    top: 119px;
}
#feature-main #feature-many-pages {
    background: url("images/many-pages-bg.jpg") repeat-x scroll 0 0 transparent;
    border-top: 3px solid #990066;
    display: block;
    font-family: Tahoma;
    font-size: 12px;
    height: 75px;
    margin: 0;
    padding: 0;
    position: relative;
}
#feature-main #feature-many-pages li {
    background: url("images/many-pages-li-bg.jpg") no-repeat scroll right 0 transparent;
    color: #000000;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    height: 75px;
    line-height: 75px;
    position: relative;
    width: 166px;
}
#feature-main #feature-many-pages li div a {
    color: #000000;
    text-decoration: none;
}
#feature-main #feature-many-pages li img {
    border: 1px solid #9D9D9D;
    font-size: 12px;
    height: 58px;
    margin: 8px 0 0 9px;
    position: relative;
    width: 58px;
}
#feature-main #feature-many-pages li div {
    left: 79px;
    line-height: 13px;
    position: absolute;
    top: 10px;
    width: 86px;
}
#feature-main #feature-many-pages li.active-feature-tab {
    background: url("images/many-pages-li-active-bg.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
#feature-main #feature-many-pages li.active-feature-tab a {
    color: #FFFFFF;
}
