﻿ 
 
 
.menu {
  list-style-type: none;
  margin: 0;
/*  background: #eeeeee; /* Old browsers */
  padding: 0;
  /*background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
 /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
 /* background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
 /* background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
 /* background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
/*  background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
/*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  line-height: 1;
}

.js .menu {
  /* If we have JavaScript enabled and we're just waiting for flexMenu to load and run, hide list items that don't fit on one line. If JavaScript is not enabled, just show 'em all. */
 /* height: 1.5em;*/
  height: 36px;
  /*overflow: hidden;*/
}

.menu > li {
  margin: 0 0 0 1.5em;
  float: left;
  /*height: 2em;*/
}

.menu > li:first-child {
  margin-left: 0;
}

.menu a {
  display: block;
  text-decoration: none;
  padding:inheight;/* .25em .25em .25em .25em;*/
/*  height: 1em;
  height: 1em;*/
  color: #000;
 /* font-family: 'Quantico', sans-serif;
  font-weight: 700;*/
}


#menutop a {
padding: 5px 3px;
    margin-top:0px;
}
#menutop a:hover {
padding: 5px 3px;
}


.menu a:hover {
  background-color: #006363;
  color: #fff;
}

.flex-multi {
  float: left;
  width: 45%;
  margin-bottom: 100px;
}

.flex-multi + .flex-multi {
  float: right;
}

.clear {
  clear: both;
}
 
/* flexMenu styles */

.flexMenu-viewMore > a {
color:white!important;
 padding: 5px 12px !important;
background: rgb(150, 76, 127);
background: -moz-linear-gradient(90deg, rgb(150, 76, 127) 0%, rgb(183, 88, 152) 100%);
background: -webkit-linear-gradient(90deg, rgb(150, 76, 127) 0%, rgb(183, 88, 152) 100%);
background: -o-linear-gradient(90deg, rgb(150, 76, 127) 0%, rgb(183, 88, 152) 100%);
background: -ms-linear-gradient(90deg, rgb(150, 76, 127) 0%, rgb(183, 88, 152) 100%);
background: linear-gradient(180deg, rgb(150, 76, 127) 0%, rgb(183, 88, 152) 100%);
}

.flexMenu-viewMore.active > a, .flexMenu-viewMore > a:hover {
  background-color: #FF7400;
}

.flexMenu-popup {



  list-style-type: none;
  padding: 0;
background: -moz-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: linear-gradient(180deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
	border: 1px solid #a9a9a7;
 
min-width: 200px;
position: absolute;
right: 1px;
}

.lt-ie8 .flexMenu-popup {
}

.flexMenu-popup a {
  display: block;
}

.flexMenu-popup a:hover {
 background-color: #b72391;
    color: #ffffff;
  display: block;
}






.boxgrid h3 {
  color: #fff !important;
  font: bold 14px Arial,sans-serif !important;
  margin: 10px !important;
  text-align: left;
}









.checkpoint{
	
	position:fixed;
	top:0;
	left:0;
	width:50px;
	height:50px;
	background:white;
	border:1px solid grey;
	font-size:25px;
	text-align:center;
	z-index:999999;
	}
	
	
	.checkpoint:after {
	content:	url("http://www.astromeridian.ru/meridian/assets/templates/mv/device-monitor-screen-computer-desktop-pc-display-glyph-48.png"); 
color:red;
	}



.box_b2{
	
	width:245px;
}


.counter_f1,.counter_f2{
	display:inline-block;
	float:left;
	width:50%;
}

.box_a2{
	
	width:245px;
}

.counter_footer{
	
	height:31px;
	width:300px;
	background:#EBEBEB;
}



.uno_main_container {
	width: 1000px;
	display: block;
	margin: 0 auto;
	   z-index: 99;
	   background:white;
}
.rez {
	width: 100%;
	height: auto;
}
#bglink {
	display: none;
 
}
.checkpoint {
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: white;
	border: 1px solid grey;
	font-size: 25px;
	text-align: center;
	z-index: 999999;
}
.checkpoint:after {
	content: url("http://www.astromeridian.ru/meridian/assets/templates/mv/device-monitor-screen-computer-desktop-pc-display-glyph-48.png");
	color: red;
}
html {
	/*overflow-x: hidden;*/
}
body {
/*background-image:none;*/}
body {
	text-align: center;
	width: 100%;
	margin: 0;
}
#wrapper_main {
	text-align: left;
/*	width: 1000px; 	min-width: 990px;*/
width:100%;
	margin: 0 auto;
	position: relative;
	z-index:2;

}
#content, #header, #footer {
	width: 100%;
}
#header {
	/*position: absolute;*
/*	top: 0;*/
	/*left: 0;*/
	/*height: 27px;*//*background:rgba(255,200,134,0.5);*/
}
#content {
	width: 100%;
	float: left;
	margin: 0;
}
#main-content {
	width: auto;
	float: auto;
	margin: 0;
	margin-right: 260px;
	margin-left: 160px;
/*	background: rgba(123,230,134,0.5);*/

      z-index: 99;
}
#left-column {
	width: 150px;
	float: left;
	margin: 0;
	margin-left: -150px;
	/*background: rgba(15,200,134,0.5);*/
}
#right-column {
	width: 250px;
	float: left;
	margin: 0;
	margin-left: -250px;
	/*background: rgba(15,200,134,0.5);*/
}
#left-column {
	/*margin-left: -100%;*/
	
	
	/*-----------------------------------------*/
	position:absolute;
	margin:0px;
	z-index:999;
}
#content, #left-column, #right-column {
/*	margin-top: 27px;*/
}
#header, #footer, .clear {
	clear: both;
	float: none;
}
#footer {
	background: grey;
}
#sidebar, #main-content, #content, #header, #footer, #wrapper_main, #left-column, #right-column {
	overflow: hidden;
}
.maincontainer1200 {
	max-width: 1200px;
	width: 100%;
	display: block;
	margin: 0 auto;
	background: yellow;
}
.maincont_row {
	display: block;
	width: 100%;
	margin: 0 auto;
}
#menutop {
   border: 1px solid #a9a9a7;
  height: 36px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 9;

/*	background: url("http://www.astromeridian.ru/assets/templates/amv5/images/fon_verh.jpg");*/
	/*height: 27px;*/
 
background: -moz-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: linear-gradient(180deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
	
}
.maintop_banner {
	width: 100%;
	max-width: 1000px;
	display: block;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}
ul.menutop_ul {
	display: block;
	/*width: 100%;*/
	margin: 0 auto;
	 padding-left: 0;
	 
	 display: table;
 
	 
	/*  position: absolute;*/
   /* width: 100%;*/
    z-index: 99999999;
}
.nav_cont {
 width: 100%;
  position: absolute;
  z-index: 99;
}
.menutop_ul li {
display: inline-block;
    line-height: 27px;
    margin-left: -1px;
    padding: 0;
    vertical-align: middle;
}
.main_section {
	/*display:block;*/
	/*position:relative;*/
	width: 100%;/*	max-width:1200px;*//*height:500px;*/
}
.content_section {
	background: rgba(251,133,135,0.46);
	float: left;
	display: inline-block;
	width: calc(100% - 240px);/*960px;*//*	margin-right: -240px;
*/
}

#container  maintop_kirill{
z-index:99;
    
}


.header_block{
height:70px;
z-index:2;
   position: relative;
}
.header_logo_left{
float: left;
width: 280px;
  z-index: 99;
    position: relative;
}

.header_adv_right{
margin-left: 280px;




/*display:none;*/

}

.adv_section {
/*	background: rgba(123,123,123,0.46);*/
	float: right;
	display: inline-block;
	width: 240px;/*
width: 240px;
	float: right;
*/
	height: 1820px;
}
.getborder {
	border: 1px solid grey;
}
.content_slider {
	width: 65%;
	height: 380px;
	float: left;
	background: rgba(112,141,209,0.50);
}
.content_row {
	width: 100%;
	display: inline-block;
	height: auto;
	margin: 0 auto;
	position: relative;
	border: 1px solid grey;
}
.content_horoscope {
	width: 35%;
	height: 380px;
	float: left;
	background: rgba(204,192,81,0.5);
}
.content_topics {
	text-align: center;
	width: 100%;
	/*height: 250px;*/
	display: block;
	background: rgba(230,170,236,0.5);
	position: relative;
}
.content_topics_row {
	width: auto;
}
.content_topics_item {
	display: inline-block;
	width: 28%;
	height: 200px;
	padding: 0 1%;
}
.content_publications {
	width: 65%;
	/*height: 530px;*/
	float: left;
	background: rgba(204,192,81,0.5);
}
.content_astrodates {
	width: 35%;
	/*height: 530px;*/
	float: left;
	background: rgba(112,141,209,0.50);
}
.content_astrodates_item {
	display: block;
	width: 100%;
	height: 55px;
	padding: 5px 0px;
}
.content_rss {
	background: rgba(99,132,32,0.43);/*height: 75px;*/
}
.content_rss_item {
	display: inline-block;
	width: 46%;
	height: 75px;
	padding: 0 1%
}
.content_publications_item {
	text-align: center;
	display: inline-block;
	width: 45%;
	height: 150px;
	padding: 0 2%;
}
.content_phoroscopes {
	width: 46%;
	padding: 0 2%;
	height: 530px;
	float: left;
	background: rgba(112,141,209,0.50);
}
.content_tests {
	width: 46%;
	padding: 0 2%;
	height: 530px;
	float: left;
	background: rgba(7,39,191,0.50);
}
.content_phoroscopes_item {
	display: block;
	width: 100%;
	height: 55px;
	padding: 5px 0px;
}
.content_tests_item {
	display: block;
	width: 100%;
	height: 55px;
	padding: 5px 0px;
}
.content_horosc_1, .content_horosc_2 {
	width: 45%;
	padding: 0 2%;
	height: 85px;
	float: left;
	background: rgba(7,39,191,0.50);
}
.content_horosc_item {
	display: block;
	width: 100%;
	height: 55px;
	padding: 5px 0px;
}
img.dummy {
	width: 100%;
	height: 100%;
}




#right-column a {
    color: #000000;
    text-decoration: none;
}


.extremum-slide {
	border:1px solid;
	padding:50px;
	display:none;
}
.red {
	background-color:red;
}
.extremum-click {
  display: none; /*inline-block !important;*/
  float: left;
  height: 32px !important;
  left: 0;
  position: absolute;
  width: 32px !important;
  z-index: 99;
  padding:2px!important;
  
}
	
	
	.hidePlease{display:none!important;}
.showPlease{display:block!important;}
	
	
	
	
	
 
	
	
	
	
	
	
	.flexMenu-popup li{
	
 
	
	
	 width: 100%;
    border-bottom: thin solid #9c9c9c;
      border-left: thin solid #9c9c9c;
    
    background: -moz-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);
background: linear-gradient(180deg, rgb(225, 225, 225) 0%, rgb(255, 255, 255) 100%);

    }
    
    	.flexMenu-popup li a{
	margin-left: 0px!important;}
	
	
	
	
	.blok_verh_row{
/*	 background:red;   */
	}
	
	
	
	.blok_verh_row {
  position: absolute;
  z-index: 99999;
}

@media screen and (max-width: 1024px) {

/* -_-_-_-_- Sonnik  -_-_-_-_-_-_- */
.blok_verh_row{
display:none;}




#sonnik5_t {
  color: #ffffff;
  float: right;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  margin-left: 0 !important;
  padding-top: 30px;
  text-align: center !important;
  width: 60% !important;
}

#son_h_t {
  background-image: url("http://astromeridian.ru/assets/images/img/son3.jpg");
  border: 1px solid #cabcda;
  margin: 3px 0 3px 10px;
  width: 95% !important;
}


#sonnik6_t {
  width: 95%!important;
}

#imyapoisk_t {
  background-image: url("http://astromeridian.ru/assets/images/img/son1.jpg");
  float: left;
  width: 95%!important;
}

#sonnik8_t select {
 
  width: 100%;
}


#sonnik4_t {
  background: #9999cd url("http://astromeridian.ru/assets/images/img/son2.jpg") no-repeat scroll 0 0!important;
  
  width: 95%!important;
  border: medium none !important;
}

#sonnik8_t {
 
  padding: 10px 0 !important;
    width: 95% !important;
}

/* -_-_-_-_- Sonnik  -_-_-_-_-_-_- */
    
    #footer{
        
 /*       display:none;*/
    }
    
    
    .uno_main_container {
        width:100%;
    }
    
    #main-content {
    margin: 0 0px 0 160px;
    width: calc(100% - 400px);
}
    
.checkpoint:after {
	content: url("http://www.astromeridian.ru/meridian/assets/templates/mv/notebook.png");
}

#blok_verh_rekl_3 {
  display: block;
  float: none;
  height: auto;
  margin: 5px 0 0;
  width: 100%;
}
.header_adv_right {
  display: block;
  margin-left: auto;
  width: 100%;
}
.header_block {
  height: auto;
}
.header_logo_left {
  float: none;
  width: auto;
}

}

@media screen and (max-width: 850px) {
    
    #main-content {
    margin: 0 0px 0 0px;
    width: calc(100% - 240px);
}
#left-column {
 
 
  display: none;
 
  
  
  background: white none repeat scroll 0 0;
border: 1px solid grey;
display: none;
margin-top: -11px;
width: 400px;

-webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.5);
}


#menuleft a {
width:100%;
}

#partleft{
width:100%;
}


#partleft p {
    color: #ad0481;
    font-size: 140%;}
    
    #partleft a {
        font-size: 140%;}
    
    #menuleft a {        font-size: 140%;}
    
.extremum-click {
  display: inline-block !important;
  
  }
ul.menutop_ul {
  display: inline-block;
  float: left;
  margin: 0 auto 0 45px;
  padding-left: 0;
  position: relative;
  width: 100%;
  z-index: 99999999;
}

}

@media screen and (max-width: 768px) { /* разрешение планшета */



.checkpoint:after {
	content: url("http://www.astromeridian.ru/meridian/assets/templates/mv/device-tablet-ipad-vertical-glyph-48.png");
	color: red;
}
    #main-content {
    margin: 0 0px 0 0px;
    width: calc(100% - 0px);
}

#right-column {
float:left;
display:block;
  width: 100%;
  margin: 0;
}

.box_b2 {
  width: 100%;
}

.box_a2 {
  width: 100%;
}




.maintop_banner {
	display: none;
}
.menutop_ul li {
	/*	display:block;*/
	/*padding: 2px;*/
}
img.dummy {
/*	background:red;*/
}
.content_section {
	width: 100%;
}
.content_slider {
	width: 100%;
}
.content_horoscope {
	width: 100%;
}
.adv_section {
	display: none;
}
.content_publications {
	width: 100%;
}
.content_astrodates {
	width: 100%;
}
.content_publications_item {
}
.content_phoroscopes {
	width: 100%;
	padding: 0;
}
.content_tests {
	width: 100%;
	padding: 0;
}
}

@media screen and (max-width: 480px) { /* разрешение смартфона */

#sonnik5_t {
  color: #ffffff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 20px;
  margin-left: 0!important;
  padding-top: 30px;
  text-align: center!important;
  width: 100%!important;
}

.jula{
/*display:none!important;*/
}
.adl{
/*display:none!important;*/
}
#pathway{
display:none!important;
}

#blok_komment{
display:none!important;
}
 .blok_verh_row img{width:100%;}
.blok_verh_row {
  position: absolute;
}
#blok_verh_rekl_3 {

}


#pagination {
    width: 100%!important;
}
.checkpoint:after {
	content: url("http://www.astromeridian.ru/meridian/assets/templates/mv/device-iPhone-smartphone-vertical-glyph-48.png");
	color: red;
}
.menutop_ul li {
	/*	display:block;*/
	/*padding: 5px;*/
}
.content_topics_item {
	width: 100%;
	padding: 0;
}
.content_rss_item {
	width: 100%;
	padding: 10px 0;
}
.content_publications_item {
	width: 100%;
	padding: 0;
	padding: 10px 0;
}
}


  @media screen and (max-width: 320px) { 
 
    }
.checkpoint{
 display:none;   
}




