/* Раскладушка
------------------------------------------------------------------------------- */


.container {
	width: 300px;
	margin: 0 auto;
}
.rasklad {
	width: 300px;
	float: left;
	margin-left: 20px;
	text-align: left; 
}
.rasklad_2 {
	width: 300px;
	float: left;
	margin-left: 20px;
	text-align: left;
}
.rasklad_3 {
	width: 65%;
	min-width: 320px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/fon_vert.jpg);
	border: solid #cccccc 1px;
	min-height: 500px;
	margin: 5px 0px 5px 10px;
	padding: 10px 0px 10px 0px;
	text-align: center; 

}
h2.acc_trigger {
	padding: 0;
	margin: 0;
	background: url(http://www.astromeridian.ru/assets/templates/amv5/images/raskl.jpg) no-repeat;
	height: 41px;
	line-height: 41px;
	width: 300px;
	font-size: 14px;
	font-weight: normal;
	float: left;
}
h2.acc_trigger a {
	color: #545454;
	text-decoration: none;
	display: block;
	padding: 0 0 0 40px;
}
h2.acc_trigger a:hover {
	color: #C128A4;
}
h2.active {background-position: left -41px;}
.acc_container {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 12px;
	width: 297px;
	clear: both;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.acc_container .block1 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service8.jpg);
}
.acc_container .block2 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service2.jpg);
}
.acc_container .block3 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service3.jpg);
}
.acc_container .block4 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service4.jpg);
}
.acc_container .block5 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service5.jpg);
	margin-top: 0px;
}
.acc_container .block6 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service6.jpg);
}
.acc_container .block7 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service7.jpg);
}

.container_2 {
	width: 300px;
	margin: 0 auto;
}

h2.acc_trigger_2 {
	padding: 0;	margin: 0;
	background: url(http://www.astromeridian.ru/assets/templates/amv5/images/raskl.jpg) no-repeat;
	background-position: left -82px;
	height: 41px;	line-height: 41px;
	width: 300px;
	font-size: 14px;
	font-weight: normal;
	float: left;
}
h2.acc_trigger_2 a {
	color: #545454;
	text-decoration: none;
	display: block;
	padding: 0 0 0 40px;
}
h2.acc_trigger_2 a:hover {
	color: #C128A4;
}
h2.active {background-position: left -41px;}
.acc_container_2 {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 12px;
	width: 297px;
	clear: both;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.acc_container_2 .block8 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service1_1.jpg);
}
.acc_container_2 .block9 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service2_1.jpg);
}
.acc_container_2 .block10 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service3_1.jpg);
}
.acc_container_2 .block11 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service4_1.jpg);
}
.acc_container_2 .block12 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service5_1.jpg);
}
.acc_container_2 .block13 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service6_1.jpg);
}
.acc_container_2 .block14 {
	padding: 120px 0px 0px 0px;
	width: 300px;
	height: 60px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/service7_1.jpg);
}
.block15 {
	width: 298px;
	background-image: url(http://www.astromeridian.ru/assets/templates/amv5/images/fon_rasklad.png);
	height: 60px;
	display: block;
}
.block15 a{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	padding: 1px 5px 1px 5px;
	display: block;
}
.block15 a:hover{
	text-decoration: none;

}
