#razd_gl h2 {
color: #A42A8F;
font-family: Arial, Georgia, "Times New Roman", Times, serif;
font-size: 16px;
margin: 0px;
padding-left: 5px;
text-transform: uppercase;
text-decoration:none;
display: inline-block;
background:#ffffff;
font-weight: normal;

}
.razd_zag {
z-index: 2;
position: relative;
background-image: url(http://www.astromeridian.ru/assets/images/magic/03_06/index.png);
background-repeat: repeat-x;
height: 12px;
width: 96%; 
margin: 5px 10px 15px 10px;
}
.razd_zag2 {
z-index: 2;
position: relative;
background-image: url(http://www.astromeridian.ru/assets/images/magic/03_06/index.png);
background-repeat: repeat-x;
height: 12px;
width: 96%; 
margin: 5px 10px 15px 10px;
}
.boxgrid h3{ margin:10px; color:#FFF; font:14px Arial, sans-serif; font-weight: bold;}
.boxgrid{ 
width: 160px; 
height: 400px; 
margin:5px; 
float:left; 
background:#161613; 
border: solid 5px #e6e6db; 
overflow: hidden; 
position: relative; 
-webkit-box-shadow: 0px 0px 4px #333;
-moz-box-shadow: 0px 0px 4px #333
}
.boxgrid img{ 
position: absolute; 
top: 0; 
left: 0; 
border: 0; 
}
.boxgrid img:hover{ 
position: absolute; 
top: 0; 
left: 0; 
border: 0; 
}
.boxgrid p{ 
padding: 0 10px;
padding-left:25px;
font-style: italic;
color:#afafaf; 
font-weight:bold; 
color:#fffccc; font-weight:bold;
font-size:12px; font-family:Arial, Helvetica, sans-serif;
}
.boxcaption{ 
float: left; 
position: absolute; 
background:url(http://www.astromeridian.ru/assets/images/magic/03_06/arrow.png) -1px 40px no-repeat #000;
border-top:2px solid #fff;
height: 170px; 
width: 100%; 
opacity: .9; 
/* For IE 5-7 */
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
/* For IE 8 */
-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
 }
 .captionfull .boxcaption {
 top: 230px;
 left: 0;
 }
 .caption .boxcaption {
 top: 345px;
 left: 0;
 }

.moreLink {
display:block; 
height:29px; 
width:68px; 
background:url(http://www.astromeridian.ru/assets/images/magic/03_06/more.png); 
text-indent:-9999px; 
position:absolute; top:135px; right:10px}


#wrapper {
background-image: url(http://www.astromeridian.ru/assets/images/magic/03_06/son1.jpg);
width: 98%;
margin: 5px;
padding: 15px 0px 10px 20px;
}
#wrapper .d-carousel ul{
border-left: solid #48356B 2px;
list-style-image: url(http://www.astromeridian.ru/assets/images/magic/03_06/son1.jpg);
}
#wrapper .d-carousel ul li {
background-image: url(http://www.astromeridian.ru/assets/images/magic/03_06/fon_razdel_2.jpg);
padding: 15px;
width: 180px;
}

.jcarousel-direction-rtl {
direction: rtl;
}
.d-carousel a{
font-family: Arial;
font-size: 13px;
color: #434045;
pading: 0px;
font-weight: bold;
text-transform: uppercase;
}
.d-carousel a:hover{ font-family: Arial; font-size: 13px;color: #ad0481; text-decoration:underline; margin: 0px;font-weight: bold;text-transform: uppercase; }
.d-carousel p{
font-family: Arial;
font-style: italic;
font-size: 12px;
color: #000000;
pading: 0px;
margin: 0px;

}
.d-carousel .jcarousel-container {
display: block;
overflow: hidden;
margin-bottom: 20px;
}

.d-carousel .jcarousel-item {
width: 190px;
height: 290px;
}

.d-carousel .jcarousel-container-horizontal {
width: 440px;
height: 325px;
padding: 0 45px;
}

.d-carousel .jcarousel-item-horizontal {
margin-left: 3px;
margin-bottom: 3px;
margin-top: 3px;
margin-right: 11px;
}

.d-carousel .jcarousel-next-horizontal {
position: absolute;
top: 149px;
right: 0;
margin-right: 3px;
width: 25px;
height: 25px;
cursor: pointer;
background: transparent url(http://www.astromeridian.ru/assets/images/magic/03_06/blog-arrows.jpg) no-repeat top right;

}

.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
left: 5px;
right: auto;
background-image: url(http://www.astromeridian.ru/assets/images/magic/03_06/blog-arrows.jpg);
}

.d-carousel .jcarousel-next-horizontal:hover {
background-position: bottom right;
}

.d-carousel .jcarousel-prev-horizontal {
position: absolute;
top: 149px;
left: 0;
margin-left: 3px;
width: 25px;
height: 25px;
cursor: pointer;
background: transparent url(http://www.astromeridian.ru/assets/images/magic/03_06/blog-arrows.jpg) no-repeat top left;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
left: auto;
right: 5px;
background-image: url(http://www.astromeridian.ru/assets/images/magic/03_06/blog-arrows.jpg);
}

.d-carousel .jcarousel-prev-horizontal:hover {
background-position: bottom left;
}

.razdel_gl_2 {
width: 95%;
min-height: 150px;
background-image: url(http://www.astromeridian.ru/assets/images/magic/03_06/fon_razdel_2.jpg);
border: solid #b8a590 1px;
margin: 10px 5px 10px 5px;
padding: 10px;
box-shadow: 0 0 10px #ded1c3;
-moz-box-shadow: 0 0 10px #ded1c3;
-webkit-box-shadow: 0 0 10px #ded1c3;
-khtml-box-shadow: 0 0 10px #ded1c3; 
filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#ded1c3, strength=10);
}
img.indexpage {
float: left;
border: 0px;
padding: 0px 9px 0px 2px;
}
.razdel_gl_2 p{
font-family: Arial;
font-style: italic;
font-size: 12px;
color: #151515;
text-align: justify;
font-weight: normal;
}

.razdel_gl_2 a{
font-family: Arial;
font-size: 14px;
color: #434045;
pading: 0px;
font-weight: normal;
text-transform: uppercase;
}
.razdel_gl_2 a:hover{ font-family: Arial; 
font-size: 14px;
color: #ad0481; 
text-decoration:underline; 
margin: 0px;
font-weight: normal;
text-transform: uppercase; }









.heading-tabs{
margin:0;
padding:0;
list-style:none;}

.heading-tabs{
display:inline-block;
vertical-align:middle;
background:#fff;
padding:0 8px 0 0;}

.heading-tabs li{
float:left;
margin-left:10px;}

.heading-tabs a{
float:left;
position:relative;
margin-bottom:2px;
color:#ad0481;
font:16px/18px 'pt_sansbold',sans-serif;
text-shadow:0 2px 0 #fff;
text-decoration:none;
padding:5px 18px;
border:2px solid #dc93bc;
-webkit-border-radius:10px;
border-radius:10px;
background-color:#fff;
-webkit-box-shadow:0 2px 0 #e7b4d1,inset 0 -13px 0 #fee9e5;
box-shadow:0 2px 0 #e7b4d1,inset 0 -13px 0 #fee9e5;}

.heading-tabs a:hover{
color:#003351;
text-shadow:0 2px 0 #fff;
border:2px solid #c2b6d5;
-webkit-box-shadow:0 2px 0 #e0d8ed,inset 0 -13px 0 #e9e3f2;
box-shadow:0 2px 0 #e0d8ed,inset 0 -13px 0 #e9e3f2;}

.heading-tabs h2{
float:left;
position:relative;
margin-bottom:2px;
color:#ad0481;
font:16px/18px 'pt_sansbold',sans-serif;
text-shadow:0 2px 0 #fff;
text-decoration:none;
padding:5px 18px;
border:2px solid #dc93bc;
-webkit-border-radius:10px;
border-radius:10px;
background-color:#fff;
-webkit-box-shadow:0 2px 0 #e7b4d1,inset 0 -13px 0 #fee9e5;
box-shadow:0 2px 0 #e7b4d1,inset 0 -13px 0 #fee9e5;}

.page-heading {
  padding: 0 10px 0 80px;
  margin: 0 5px 0 5px;
  background: url(http://www.astromeridian.ru/assets/images/magic/03_06/index.png) 0 repeat-x;
  z-index: 2;
  position: relative;

}
.razdel_gl_gor {
  height: 110px;
  background: url(http://www.astromeridian.ru/assets/images/magic/03_06/fon_razdel_2.jpg);
  border: solid #dc93bc 1px;
  margin: 10px 5px 10px 5px;
  padding: 2px 10px 2px 10px; 
}
.razdel_gl_gor p{
 	font-family: Georgia;
	font-style: italic;
	color: #545454;
	font-size: 12px;
}
.razdel_gl_gor a{
 	font-family: Georgia;
	font-style: italic;
	color: #ac0481;
	font-size: 12px;
}
.razdel_gl_gor a:hover{
 	font-family: Georgia;
	font-style: italic;
	color: #0066cc;
	font-size: 12px;
}
.goroskop_vst {
	margin: 10px 10px 10px 10px;
}
.page-heading_sovm {
  width: 90%;
  background: url(http://www.astromeridian.ru/assets/images/magic/03_06/index.png) 0 repeat-x;
  height: 12px;
  margin: 0px 0px 0px 20px;

}



#maintxt2 .price td{
	margin:0px;
	vertical-align:middle;
	padding: 4px 12px 10px 8px;
	border-bottom: solid #e3e0ff 1px;
	background-color:#f5f6ff;
}
#maintxt2 .price td p{
	font-family: Arial;
	font-size: 1.5em;
	color: #ad0481;
	margin:10px 0px 0px 0px;
	padding:0;
	font-weight: normal;

}
#maintxt2 .price td a {
	font-family: Georgia;
	color: #545454;
	font-size: 13px;
}
#maintxt2 .price td a:hover {
	font-family: Georgia;
	color: #ad0481;
	font-size: 13px;
}
#maintxt2 .t_b {
	margin: 10px;
        border: 4px double #e3e0ff;
}

.gor_sovmest{
	border: solid #dc93bc 1px;
	margin: 10px 5px 10px 5px;
	padding: 3px;
  	height: auto;
	background: #ecdff0 url(http://www.astromeridian.ru/assets/images/magic/03_06/goroskop/gor_fon.jpg)right repeat-y;


}
.gor_sovmest h2{
	font-family: Georgia;
	font-size: 16px;
	color: #ad0481;
	margin: 0px;
	padding: 0px;
	font-weight: normal;

}
.gor_sovmest p{
	font-family: Arial;
	font-size: 12px;
	color: #151515;
	text-align: justify;
	margin: 5px 10px 5px 10px;
}

#maintxt2 p{
	font-family: Arial;
	font-size: 12px;
	color: #151515;
	text-align: justify;
	margin: 0px 10px 0px 10px;
}

.razdel_gl_poetry {
  height: auto;
  background: url(http://www.astromeridian.ru/assets/images/magic/03_06/fon_razdel_2.jpg);
  border: double #dc93bc 4px;
  margin: 10px 10px 10px 10px;
  padding: 2px 10px 2px 10px; 
}
.razdel_gl_poetry p{
 	font-family: Georgia;
	font-style: italic;
	color: #545454;
	font-size: 12px;
}
.razdel_gl_poetry a{
 	font-family: Georgia;
	font-style: italic;
	color: #ac0481;
	font-size: 12px;
}
.razdel_gl_poetry a:hover{
 	font-family: Georgia;
	font-style: italic;
	color: #0066cc;
	font-size: 12px;
}
.razdel_gor_2 {
background-image: url(http://www.astromeridian.ru/assets/images/magic/03_06/fon_razdel_2.jpg);
border: solid #b8a590 1px;
margin: 5px;
box-shadow: 0 0 10px #ded1c3;
-moz-box-shadow: 0 0 10px #ded1c3;
-webkit-box-shadow: 0 0 10px #ded1c3;
-khtml-box-shadow: 0 0 10px #ded1c3; 
filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#ded1c3, strength=10);
}