@import url('reset.css');
html{height: 100%;}
body{
    width: 100%;
    height: 100%;
    background: #020401 url(/img/top.jpg) repeat-x left top;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    color: #000;
    font-size: 11px;
}
input{vertical-align: top;}
input:focus{outline: 0 none;} 
textarea:focus{outline: 0 none;}
.clear{clear: both;}
.left{float: left;}
.right{float: right;}


.wrapper{
    min-width: 980px;
    overflow: hidden;
    min-height: 100%;
    height: auto !important;
    padding: 0 5px;
}


/* Header
-----------------------------------------------------------------------------*/
.header{
    height: 136px;
    padding: 2px 5px 0;
    *margin-top: -2px;
}
.logo{
    width: 240px;
    height: 95px;
    float: left;
    margin-top: 1px;
    overflow: hidden;
}
.banner-top{
    width: 728px;
    height: 90px;
    overflow: hidden;
    float: right;
}
.head-desc{
    width: 650px;
    height: 28px;
    overflow: hidden;
    float: left;
    font-size: 11px;
    color: #fff;
    line-height: 13px;
    margin-top: 6px;
    *margin-top: 4px;
}
.search{
    width: 317px;
    background: url(/img/search.png) no-repeat left top;
    margin-top: 5px;
}
.search input{
    width: 267px;
    height: 27px;
    background: transparent;
    border: 0 none;
    color: #000;
    font-size: 11px;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    padding: 0 10px;
    line-height: 27px;
    vertical-align: middle;
}
input.search-bttn{
    width: 25px;
    padding: 0;
    cursor: pointer;
}
.filters{
    text-align: right;
    height: 26px !important;
    font-size: 11px;
    color: #ffeb04;
    font-weight: bold;
    padding: 7px 10px 0 !important;
    overflow: hidden;
}
.filters span{margin-left: 40px;}
.filters select{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    width: 100px;
    margin-left: 5px;
    vertical-align: middle;
}
a.home:link, a.home:visited{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    background: url(/img/home.jpg) no-repeat left center;
    padding-left: 22px;
    float: left;
    margin-top: 2px;
}


/* Thumbs
-----------------------------------------------------------------------------*/
.thumbs{
    text-align: center;
    line-height: 0;
    letter-spacing: -1px;
    font-size: 0;
    padding-left: 2px;
    margin-left: -4px;
    min-width: 996px;
}
.thumbs li{
    width: 306px;
    display: inline-block;
    margin: 0 2px 2px 0;
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
    *display: inline;
    *zoom: 1;
}
.thumbs li a.thumb:link, .thumbs li a.thumb:visited{
    color: #fff000;
    display: block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px 0 7px;
    background: #022607;
    font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
}
.thumbs li a.thumb:hover{color: #fff;}
.thumbs li a.thumb img{
    display: block;
    border: 1px solid #000;
    margin: 0 auto 5px;
}
.thumbs li a.thumb:hover img{border: 1px solid #fff000;}


.black-cont{
    max-width: 990px;
    margin: 0 auto;
    background: url(/img/black-cont.png) repeat-x center center;
    padding: 0 2px;
    height: 33px;
}
.advert-block{
    text-align: center;
    line-height: 0;
    font-size: 0;
    letter-spacing: -1px;
}
.advert-block a{margin: 0 5px;}


/* Sites-list
-----------------------------------------------------------------------------*/
.sites-list{
    width: 990px;
    margin: 0 auto;
}
.list-title{
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
}
.list-search{vertical-align: middle;}
.sites-list .black-cont{
    margin-bottom: 1px;
    padding-top: 3px;
    height: 30px;
    *margin-bottom: 0;
}
.black-cont .search{margin: 0;}
table.orange-bg{
    width: 100%;
    margin-bottom: 1px;
    *margin-bottom: 2px;
}
.list-block{
    width: 155px;
    padding: 10px 10px 10px 30px;
    vertical-align: top;
}
.list-block ul{
    color: #34d517;
    font-size: 12px;
}
.list-block li{margin: 10px 0;}
.list-block li span{color: #34d517;}
.list-block li a:link, .list-block li a:visited{
    color: #fff;
    text-decoration: none;
}
.list-block li a:hover{color: #34d517;}


.bttn{
    display: block;
    height: 27px;
    padding: 0 5px;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 27px;
}
a.bttn:link, a.bttn:visited{
    color: #fff;
    text-decoration: none;
}
a.bttn:hover{text-decoration: underline;}


.alphabet a{
    float: left;
    margin: 0 1px;
}
.orange-bg{background: #022607;}


/* More-sites
-----------------------------------------------------------------------------*/
.free-sites{
    width: 100%;
    height: 33px;
    background: #022607;
    text-align: center;
    margin-bottom: 1px;
}
.free-sites td {vertical-align: middle;}
.free-sites a:link, .free-sites a:visited{
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}
.free-sites a:hover{color: #34d517;}


/* Footer
-----------------------------------------------------------------------------*/
.footer{
    width: 100%;
    height: 80px;
    background: url(/img/footer.jpg) repeat-x left center;
    padding-top: 60px;
}
.foot{
    width: 990px;
    margin: 0 auto;
    text-align: center;
    color: #aeaeae;
    font-size: 12px;
}
.foot span{color: #32e711;}
.foot a:link, .foot a:visited{
    color: #32e711;
    text-decoration: underline;
}
.foot a:hover{text-decoration: none;}



/* Galleries
-----------------------------------------------------------------------------*/
.g-item a.thumb{
    text-transform: none !important;
    font-size: 14px !important;
    margin-bottom: 1px;
}
.g-item a span.t{
    width: 236px;
    display: block;
    overflow: hidden;
    padding: 2px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.info{
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    background: #022607;
    overflow: hidden;
    font-size: 11px;
}
.tags{
    color: #fff000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;
    float: left;
    text-align: left;
}
.link{
    color: #fff000;
    width: 35%;
    text-align: right;
    float: right;
}
.info a:link, .info a:visited{
    color: #fff000;
    text-decoration: none;
    display: inline !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-shadow: none !important;
}
.info a:hover{text-decoration: underline;}
span.dur {
    display: block;
    background: url(/img/dur.png) repeat transparent left top;
    color: #000;
    font-size: 11px;
    font-weight: normal;
    height: 18px;
    line-height: 17px;
    padding: 0 3px;
    position: absolute;
    margin: 206px 0 0 265px;
    *margin: 166px 0 0 86px;
}
.nav{
    color: #32e711;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
    line-height: 27px;
}
.nav ul{float: right;}
.nav ul li{
   float: left;
   margin: 0 2px;
   font-weight: bold;
}
.nav ul li a:link, .nav ul li a:visited{
    height: 27px;
    display: block;
    padding: 0 5px;
    line-height: 27px;
    color: #fff;
    text-decoration: none;
    background: url(/img/pagin.gif) repeat-x left center;
    *display: inline;
    *zoom: 1;
}
.nav ul li a:hover{text-decoration: underline;}