/* CSS Document */
.Sel
{
	font-size: 12px;
	font-family:Arial;
	color: #6F6F6F;
	width: 166px;	
	z-index:10; 
	position:absolute;
	display:none;
}


.Selcheck3
{
	font-size: 12px;
	font-family:Arial;
	color: #6F6F6F;
	width: 103px;	
	z-index:10; 
	position:absolute;
	display:none;
}

.Sel1
{
	font-size: 12px;
	font-family:Arial;
	color: #6F6F6F;
	width: 163px;	
	z-index:10; 
	position:absolute;
	display:none;
}
.ComboTR
{
	font-size: 11px;
	color: #6F6F6F;
	width:121px;
	height: 21px;
	background:url('../images/search_bg.gif') top left no-repeat;
	border: 0px none;
	padding:0px;
	
}
.ComboTR1
{
	font-size: 11px;
	color: #6F6F6F;
	width:145px;
	height: 21px;
	background: url(combo_left1.gif) top left no-repeat;
	border: 0px none;
	padding:0px;
	
}
.ComboTD
{
	background-image: url(02.jpg); 
	border: 0px none;
	padding:0px;
}
.ComboInput
{
  align:right;
	font-size: 12px;
	font-family:Arial;
	color: #6F6F6F;
	width: 110px;
	height: 16px;
	margin-left:2px;
	border: 0px none;
	vertical-align:middle;
	background-image: url(grad.jpg);	
	text-align:center; 
}
.ComboForm
{
margin:0px;
padding:0px;
}
/* CSS Document */
.ComboForm1
{
margin:0px;
padding:0px;
}
.Sel3
{
	font-size: 12px;
	font-family:Arial;
	color: #6F6F6F;
	width: 227px;	
	z-index:10; 
	position:absolute;
	display:none;
}
.ComboTR3
{
	font-size: 11px;
	color: #6F6F6F;
	width:198px;
	height: 30px;
	background: url(home_links_bg.gif) top left no-repeat;
	border: 0px none;
	padding:0px;
	
}
.ComboTD1
{
	/*background-image: url(02.jpg);*/ 
	border: 0px none;
	padding:0px;
}
.ComboInput1
{
	font-size: 12px;
	font-family:Arial;
	color: #6F6F6F;
	width: 193px;
	height: 16px;
	margin-left:5px;
	border: 0px none;
	vertical-align:middle;
	background-image: url(grad1.gif);	
	text-align:center; 
}

