/*@@@@DMenu cssClasses **********************************************************************/
.DMenu_Main_TopLevel_Font_normal{font-weight:bold;font-size:9pt;font-family:Arial,helvetica;color:#727272;text-decoration:none;}
.DMenu_Main_TopLevel_Font_selected{font-weight:normal;font-size:9pt;font-family:Arial,helvetica;color:#993333;text-decoration:none;}
.DMenu_Main_TopLevel_Font_descendant_selected{font-weight:normal;font-size:9pt;font-family:Arial,helvetica;color:#993333;text-decoration:none;}

.DMenu_Main_FlatLevel_Font_normal{font-weight:normal;font-size:8pt;font-family:Arial;cursor:pointer;cursor:hand;text-align:left;}
.DMenu_Main_FlatLevel_Font_selected{font-weight:normal;font-size:8pt;font-family:Arial;cursor:pointer;cursor:hand;text-align:left;}
.DMenu_Main_FlatLevel_Font_descendant_selected{font-weight:normal;font-size:8pt;font-family:Arial;cursor:pointer;cursor:hand;text-align:left;}

.DMenu_Main_TopLevel_MouseOver_normal{font-weight:bold;font-size:9pt;font-family:Arial,helvetica;color:#444347;text-decoration:none;cursor:pointer;cursor:hand;}
.DMenu_Main_TopLevel_MouseOut_normal{font-weight:bold;font-size:9pt;font-family:Arial,helvetica;color:#727272;text-decoration:none;cursor:pointer;cursor:hand;}
.DMenu_Main_TopLevel_MouseOver_selected{font-weight:bold;font-size:9pt;font-family:Arial,helvetica;color:#444347;text-decoration:none;cursor:pointer;cursor:hand;}
.DMenu_Main_TopLevel_MouseOut_selected{font-weight:bold;font-size:9pt;font-family:Arial,helvetica;color:#444347;text-decoration:none;cursor:pointer;cursor:hand;}
.DMenu_Main_TopLevel_MouseOver_descendant_selected{font-weight:bold;font-size:9pt;font-family:Arial,helvetica;color:#444347;text-decoration:none;cursor:pointer;cursor:hand;}
.DMenu_Main_TopLevel_MouseOut_descendant_selected{font-weight:bold;font-size:9pt;font-family:Arial,helvetica;color:#444347;text-decoration:none;cursor:pointer;cursor:hand;}
						 		
.DMenu_Main_FlatLevel_MouseOver_normal{background-color:#A9A9A9;color:white;border:1px solid #B3B3B3;cursor:pointer;cursor:hand;padding:3px;}
.DMenu_Main_FlatLevel_MouseOut_normal{background-color:#959695;color:white;border:1px solid #B3B3B3;cursor:pointer;cursor:hand;padding:3px;}
.DMenu_Main_FlatLevel_MouseOver_selected{background-color:#A9A9A9;color:white;border:1px solid #B3B3B3;cursor:pointer;cursor:hand;padding:3px;}
.DMenu_Main_FlatLevel_MouseOut_selected{background-color:#959695;color:white;border:1px solid #B3B3B3;cursor:pointer;cursor:hand;padding:3px;}
.DMenu_Main_FlatLevel_MouseOver_descendant_selected{background-color:#A9A9A9;border:1px solid #B3B3B3;color:white;cursor:pointer;cursor:hand;padding:3px;}
.DMenu_Main_FlatLevel_MouseOut_descendant_selected{background-color:#959695;border:1px solid #B3B3B3;color:white;cursor:pointer;cursor:hand;padding:3px;}

.DMenu_Main_FlatLevel_Container{border:1px solid #B3B3B3;border-collapse:collapse;}

/*****************************************************************************/
.DMenu_Products_TopLevel_Font_normal{font-weight:normal;font-size:8pt;font-family:Arial;color:black;text-decoration:none;}
.DMenu_Products_TopLevel_Font_selected{font-weight:normal;font-size:8pt;font-family:Arial;color:black;text-decoration:none;}
.DMenu_Products_TopLevel_Font_descendant_selected{font-weight:normal;font-size:8pt;font-family:Arial;color:black;text-decoration:none;}

.DMenu_Products_FlatLevel_Font_normal{font-weight:normal;font-size:8pt;font-family:Arial;cursor:pointer;cursor:hand;text-align:left;}
.DMenu_Products_FlatLevel_Font_selected{font-weight:normal;font-size:8pt;font-family:Arial;cursor:pointer;cursor:hand;text-align:left;}
.DMenu_Products_FlatLevel_Font_descendant_selected{font-weight:normal;font-size:8pt;font-family:Arial;cursor:pointer;cursor:hand;text-align:left;}

.DMenu_Products_TopLevel_MouseOver_normal{color:#993333;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOut_normal{color:black;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOver_selected{background-color:#EDF8F5;color:white;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOut_selected{background-color:#EDF8F5;color:white;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOver_descendant_selected{background-color:#EDF8F5;color:white;cursor:pointer;cursor:hand;}
.DMenu_Products_TopLevel_MouseOut_descendant_selected{background-color:#EDF8F5;color:white;cursor:pointer;cursor:hand;}
						 
		
.DMenu_Products_FlatLevel_MouseOver_normal{background-color:#63ACDC;color:white;border:1px solid #666666;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOut_normal{background-color:#E6E6E6;color:black;border:1px solid #666666;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOver_selected{background-color:#E59500;color:white;border:1px solid #666666;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOut_selected{background-color:#FCA401;color:white;border:1px solid #666666;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOver_descendant_selected{background-color:#B2B2B2;border:1px solid #666666;color:black;cursor:pointer;cursor:hand;}
.DMenu_Products_FlatLevel_MouseOut_descendant_selected{background-color:#CCCCCC;border:1px solid #666666;color:black;cursor:pointer;cursor:hand;}

.DMenu_Products_FlatLevel_Container{border:1px solid #666666;border-collapse:collapse;}

/*@@@@DMenu cssClasses **********************************************************************/

.top{font-weight:normal;font-size:8pt;font-family:Arial;color:#5D5D5D;text-decoration:none;}
A.top{font-weight:normal;font-size:8pt;font-family:Arial,helvetica;color:#5D5D5D;text-decoration:underline;}
A.top:hover{color:#006AAB;}


TD.MycartPanelTitle{

}

TD.SearchBarPanelTitle{
	BACKGROUND-COLOR: red;
}
TD.SearchBarPanelBody{
	BACKGROUND-COLOR:#EEEEEE;
}
TD.ProductsCatalogPanelTitle{
	BACKGROUND-COLOR: red;
}
TD.ProductsCatalogPanelBody{
	BACKGROUND-COLOR:#EEEEEE;
}
TD.MembersClubPanelTitle{
	BACKGROUND-COLOR: red;
}
TD.MembersClubPanelBody{
	BACKGROUND-COLOR:#EEEEEE;
}
TD.NewsBarPanelTitle{
	BACKGROUND-COLOR: red;
}
TD.NewsBarPanelBody{
	BACKGROUND-COLOR:#EEEEEE;
}
TD.CartStatusTitle{
	BACKGROUND-COLOR: red;
}
TD.CartStatusBody{
	BACKGROUND-COLOR:#EEEEEE;
}



TD.ProductTableStyle1{
	BACKGROUND-COLOR: #FFFFFF;
}
TD.ProductTableStyle2{
	BACKGROUND-COLOR:#FFFFFF;
}


TD.ProductMycartStyle1{
	BACKGROUND-COLOR: #FFFFFF;
}
TD.ProductMycartStyle2{
	BACKGROUND-COLOR:#F4F4F4;
}
TD.ContactFormTitles{
	BACKGROUND-COLOR:#D0E6F4;
}
TD.ContactFormInputs{
	BACKGROUND-COLOR:#FFFFFF;
}


INPUT.Search{
	WIDTH: 100%;
	MARGIN: 5px 0px 0px 5px;
}
INPUT.MembersClub{
	WIDTH: 100%;
	MARGIN: 0px 0px 0px 0px;
}
INPUT.MembersClubSubmit{
	WIDTH: 90px;
	HEIGHT: 20px;
	MARGIN: 5px 0px 0px 0px;
	TEXT-ALIGN: center;
}
A.ButtonsText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	text-align: left;
	color : #006AAB;
	text-decoration: none;
}
A.ButtonsText:hover{
	color : #5D5D5D;
}

A.MainButton{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
	text-decoration: none;
	cursor:hand;
}
A.MainButton:hover{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
	text-decoration: none;
	cursor:hand;
}

.HeaderBar{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : bold;
	text-align: center;
	color : white;
}
.HTMLtitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : large;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #026AAB;
	
}
.HTMLtitle1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : medium;
	font-style : normal;
	font-weight : normal;
	text-align: left;
	color : #026AAB;
	
}

.HTMLtitle2{
	font-family : Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #026AAB;
	
}
.HTMLtitle3{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #4D4D4F;
	
}
.HTMLtext{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;	
	color : #5D5D5D;
	line-height:18px;
}
.HTMLtextC{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;	
	color : #5D5D5D;
	line-height:14px;
}
.HTMLtextC A{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;	
	color : #0150A4;
	line-height:14px;
	text-decoration:none;
}
.HTMLtextC A:hover{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;	
	color : #0150A4;
	line-height:14px;
	text-decoration:underline;
}
.HTMLtextC ul li{
	list-style-image: none;
}
.NewsTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #006AAB;
	line-height:18px;
	text-decoration:none;
}
A.NewsTitle hover{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #5D5D5D;
	line-height:18px;
	text-decoration:none;
}
.ProductDescriptionTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #0077B4;
}
.ProductDescription{
    margin: 0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	text-align: justify;
	color : #5D5D5D;
}
.MembersClubLoginTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #FFFFFF;
}
.MembersClubLoginBody{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	text-align: center;
	color : #333333;
}
.MembersClubLoginBodyTitles{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #333333;
}
A.MemberPasswardNewUser{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #5D5D5D;
}
A.MemberPasswardNewUser:hover;{
	color : #FF0000;
}

.NewsBarTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #FFFFFF;
}
.NewsTitle{
	/*font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #CC6600;*/
}
.NewsDate{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	text-align: left;
	color : #666666;
}
.NewsContent{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	text-align: left;
	color : #5D5D5D;
}
.ProductsCatalogTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #FFFFFF;
}
.ImageDesc
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	text-align: center;
	color : #5D5D5D;
}
.copyright{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-style : normal;
	font-weight : normal;	
	color : #909090;
}
.address{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	text-align: center;
	color : #909090;
}
.ProductPrice{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.ProductPriceNarrow{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.ItemNo{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.ProductManuf{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.ProductQtn{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.ProductDeliv{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.ProductNotes{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}



.OnsaleDescription{
	margin:0px 0px 0px 0px;
	padding:3px 3px 3px 3px;
	background-color: #EEEEEE;
	border:1px solid #CCCCCC;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #FF0000;
}
.ProductCategoryTitle{
	margin:0px 0px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 17pt;
	font-style : normal;
	font-weight : bold;
	color : #FF0000;
}
.ProductCategoryLongDescription{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.ProductCategoryShortDescription{
	margin:0px 15px 0px 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
}

.FullDetailsText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #333333;
	text-align: left;
}
.CartStatusText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #333333;
	text-align: center;
}
.CartStatusBigPrice{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 17pt;
	font-style : normal;
	font-weight : bold;
	color : #FF0000;
	text-align: center;
}
A.CartStatusLink{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
	text-align: center;
}
A.CartStatusLink:hover{
	color:#FF0000;
}
A.ProductNameTableStyle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	color : #336699;
	text-align: center;
}

.ProductTableTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
	text-align: center;
}

.ProductMycartTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.ProductNameMycart{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	color : #FF0000;
	text-decoration:underline;
}
.ProductPriceMycart{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #666666;
}
.ProductSUBPriceMycart{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.OnsaleCartDesc{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.MycartPriceDesc{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
}

.MycartPrice{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.MycartPanelTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.ContactFormTitles{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
}





.PageName{
	font-family : Arial, Helvetica, sans-serif;
	font-size : large;
	font-style : normal;
	font-weight : bold;
	color : #006AAA;
}

.TitleMain{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
	font-style : normal;
	font-weight : bold;
	color : #5D5D5D;
}
.Title{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
	font-style : normal;
	font-weight : normal;
	color : #336699;
}
.Text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
	
}
A.Text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #003366;
	text-decoration:underline;
}


.ContentTable{
	background-color : #EEEEEE;
}
.ContentTDTitle{
	background-color : #EEEEEE;
}
.ContentTD{
	background-color : #FFFFFF;
}


.PanelTable{
	background-color : #C0C37E;
}
.PanelTDTitle{
	background-color : #C0C37E;
}
.PanelTD{
	background-color : #F3F1D8;
}

.PanelLink{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : bold;
	text-align:center;
	color : #5D5D5D;
}
.PanelTitle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-style : normal;
	font-weight : bolder;
	color : #FFFFFF;
}
.PanelText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #666633;
}

A.NavigationBarStyle{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	text-align: left;
	color : #ADADAD;
	text-decoration: none;
}
A.NavigationBarStyle:hover{
	color : #5D5D5D;
}

.NavigationBarStyleArrow{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 7pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #ADADAD;
}

A.TableCell{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	text-align: left;
	color : #666666;
	text-decoration: underline;
}
A.TableCell:hover{
	color : #333333;
}

/*--@@@@@@@@@@@@@@@@@@@@@@--*/
/*--@@@ Global Classes @@@--*/
/*--@@@@@@@@@@@@@@@@@@@@@@--*/
BODY{ 
 margin:0px 0px 0px 0px;
 background:#FFFFFF; 
}
TD.LeftPanel{
 PADDING: 5px 5px 5px 5px;
 WIDTH: 20%;
}
TD.CenterPanel{
 PADDING: 5px 5px 5px 5px;
 WIDTH: 60%;
}

TD.RightPanel{
 PADDING: 5px 5px 5px 5px;
 WIDTH: 20%;
}

/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
/*---@@@ Modul Box Style @@@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
.ModulBoxTDStyle{
	font-family:Arial;
	font-size:9pt;
	color:#FFFFFF;
	font-weight:bold;
}
.ModulBox{
	background:url('images/sec_zone_bg.gif') top left repeat-y;
}
.ModulLeftBox{
	background:url('images/sec_top_bg.gif') top left repeat-y;
}
.ModulTitle{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;	
	color : #006AAA;
	
}
.ModulTextBig{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;
	color : #006AAA;
}

.ModulTextNormal{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
	line-height:16px;
}
.ModulTextNews{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #9C9C9C;
	line-height:16px;
}
.ModulTextNews A{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #727272;
	line-height:16px;
	text-decoration:none;
}
.ModulTextNews A:hover{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #006AAB;
	line-height:16px;
	text-decoration:none;
}
.ModulTextNormal1{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
}
 table.ModulTextNormal1{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
	line-height:12pt;
}
.ModulTextSmall{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #878787;
}
/*--@@@@@@@@@@@@@@@@@@@@@@--*/
/*---@@@ Footer Style @@@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@--*/
.Copyright{
	font-family : Arial;
	font-size : 10px;
	font-style : normal;
	font-weight : normal;
	color : #909090;
	
}
A.Copyright{
	font-family : Arial;
	font-size : 10px;
	font-style : normal;
	font-weight : normal;
	color : #909090;
	text-decoration:none;
}
A.Copyright:hover{
	font-family : Arial;
	font-size : 10px;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
	text-decoration:none;
}
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
/*---@@@ Products Style @@@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/

.ProductTitle{
	font-family : Arial;
	font-size : 12pt;
	font-style : normal;
	font-weight : bold;
	color : #0077B4;
}

.ProductSalePrice{
	font-family : Arial;
	font-size : 10pt;
	font-style : normal;
	font-weight : bold;
	color : #0077B4;
}
.ProductMarketPrice{
	font-family : Arial;
	font-size : 10pt;
	font-style : normal;
	font-weight : normal;
	color : #8E4A3B;
}
.ProductOnSale{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #0077B4;
}
.ProductTextBig{
	font-family : Arial;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color : #0077B4;
}
.ProductTextNormal{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
}
.ProductTextSmall{
	font-family : Arial;
	font-size : 7pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
}

/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/
/*--@@@ For this template @@---*/
/*--@@@@@@@@@@@@@@@@@@@@@@@@@--*/

.grayborder {
  border:1px solid #E5E4E5;
	background-color:#FCFBF9;
	padding:2px;
}
.membertitle {
  font-family:Arial;
	font-size:10pt;
	color:#FFFFFF;
	font-weight:bold;
	background: #63ACDC url(images/membertitle.gif) top right no-repeat;
}
.tableborder {
 /* border-style:solid;
	border-width:1px;
	border-color:#5D5D5D;*/
	background: url('images/body_bg.jpg') top center repeat-y;
}
.tableborder1 {
 /* border-style:solid;
	border-width:1px;
	border-color:#5D5D5D;*/
	background: url('images/newsletter_bg.jpg') top center repeat-y;
}
.prodTableTitle {
	background-color:#D0E6F4;
}
TABLE .print{
  border:1px solid black;
	border-collapse:collapse; 
}

TABLE .print TH{
  border:1px solid black;
	border-collapse:collapse; 
	background-color:#FFFFFF;
}

TABLE .print TD{
  border:1px solid black;
	border-collapse:collapse; 
}

.HomePage{
	font-family : Arial;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	text-align: left;
	color : #5D5D5D;
	background-color: #FFFFFF;
	padding:2px;
}
H1,H2,H3,H4
{
	margin:0px;
}
.searchBox
{
	font-family : Arial;
	font-size : 12px;
	font-style : normal;
	font-weight : normal;
	color:#6F6F6F;
	border:none;
	background:url('images/search_bg.gif') top left no-repeat;
	text-align:center;
	width:272px;
	height:21px;
	padding-top:2px;
}
.menuTitle
{
	font-family : Arial;
	font-size : 11px;
	font-style : normal;
	font-weight : bold;
	color:#4D4D4E;
	padding-left:15px;
}
.menuText
{
	font-family : Arial;
	font-size : 11px;
	font-style : normal;
	font-weight : normal;
	color:#4D4D4E;
	padding-left:15px;
	text-decoration: none;
}
.menuTextOver
{
	font-family : Arial;
	font-size : 11px;
	font-style : normal;
	font-weight : normal;
	color:#006AAB;
	padding-left:15px;
	text-decoration: none;
}

.menuText1
{
	font-family : Arial;
	font-size : 11px;
	font-style : normal;
	font-weight : normal;
	color:#777777;
	padding-left:15px;
	text-decoration: none;
}

.menuText2
{
	font-family : Arial;
	font-size : 11px;
	font-style : normal;
	font-weight : normal;
	color:#999999;
	padding-left:15px;
	text-decoration: none;
}
A
{
	color:#006AAB;
	text-decoration:none;

}
A:hover
{
	color:#4D4D4E;
}
.ModulTextNormal table td{
	font-family : Arial;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color : #5D5D5D;
	border-bottom:1px solid #E4E3E3;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
}

table{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #5D5D5D;
	line-height:18px;
}
ul, li
{
	margin-top:0px;
	margin-left:10px;
	margin-bottom:0px;
}
.inputBox
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;	
	color : #5D5D5D;
	border:1px solid #CCCCCC;
}
ul,li
{
	list-style-image: url('images/bullet.gif');
}
.custTitle
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : bold;	
	color : #0350A3;
}

.divCustbutton{height:26;background: url('images/cus_button.gif') center center no-repeat;padding-top:3px; font-family:Arial;font-size:12px;color:#727273;font-weight:bold;}

.zonenone
{
display:none;
}

.zoneblock
{
display:block;
}


.langMenu
{
border:1px solid #D2D2D2;width:85px;background-color:#FFFFFF;
font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-style : normal;
	font-weight : normal;
	color:#444444;	
	text-decoration:none;
}
.langMenu a
{
font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color:#444444;	
	text-decoration:none;
}	
.langMenu a:hover
{
font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : normal;
	font-weight : normal;
	color:#4C3389;	
	text-decoration:none;
}	
.langMenu .langout
{
	padding-left:10px;cursor:pointer;
	padding-top:2px;
	padding-bottom:7px;
}
.langMenu .langoin
{
	padding-left:10px;cursor:pointer;
	padding-top:2px;
	padding-bottom:7px;
	color:#4C3389;	
	
}
.padding10
{
padding-top:3px;
text-align:left;
padding-left:5px;
}
.sample_attach_menu_parent
{
background:url('images/langbutton.gif') top left no-repeat;


}
.paddingL3
{
text-align:left;
padding-left:5px;
padding-top:3px;
}


.share_this{margin:15px 0;}
.register_form_table #label1{text-align: right;}
.new-registration-form #label1{width:30%;}
