/*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license
 * 
 * March 2010
 */
 
 #slider{width:935px; margin:-27px 0 15px 11px; clear:both; }
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	background:url("images/loading.gif") no-repeat 50% 50%;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	right:50px;
	bottom:80px;
	background:url("images/slider_bg.png") no-repeat;
	color:#000000;
	opacity:1; /* Overridden by captionOpacity setting */
	width:400px;
	height:121px;
	z-index:8;
	padding-bottom:0px;
	padding-top:0px;
	font-size:14px;
	font-weight: normal;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:-15px;
	
	 text-indent:-9999px;
}
.nivo-nextNav {
	right:0px;
	 text-indent:-9999px;
}
.nivo-controlNav {
	position:absolute;
	z-index:12;
	right:50px;
	bottom:16px;
	
   /* margin-left:-40px;  Tweak this to center bullets */
}
/* Control nav styles (e.g. 1,2,3...) */
 .nivo-controlNav a {
    display:block;
    width:14px;
    height:14px;
    background:url("images/bullet_new.png") no-repeat;
    border:0;
    margin-right:7px;
    float:left;
    cursor:pointer;
    color:#EEEEEE;
    text-align:center;
    line-height:17px;
		font-size:0;
		text-indent:-9999px;
}
.nivo-controlNav a.active {
    background-position:0 -15px;
    color:#EEEEEE;
		font-size:0;
		text-indent:-9999px;
}

/**ornit**/
.nivo-caption_title
{
	font-size: 20px;
	color: #2f2f2f;
	line-height: 20px;
	font-weight: normal;
	margin-bottom:5px;
	padding-bottom:2px;
	padding-right:10px;
	padding-left:10px;
	padding-top:10px;
	}
.nivo-caption_title  a{color: #2f2f2f;}
.nivo-caption_title  a:hover{text-decoration:underline}

.nivo-caption_padding{padding-right:10px;padding-left:10px;padding-bottom:10px; line-height:20px; color:#000000;}
.nivo-caption_padding a{color:#000000;}
.nivo-caption_padding a:hover{}