body.m .FAZPageWrapper {
    width: auto !important;
    float: none;
}

body.m #FAZSeite {
    width: 100%;
    margin: auto;
    /*max-width: 960px;*/
}

body.m #FAZContent {
    width: auto;
    max-width: 650px;
    margin: auto;
}

body.m.nom #FAZContent, body.m.wide-main-content #FAZContent {
    max-width: 960px;
}

body.m #FAZNavigation {
    min-width: 950px;
}

body.m .Eilmeldung {
    max-width: 630px;
}

body.m #FAZHeaderNeu, body.m #FAZSlimHeader {
    display: none;
}

body.m .Breadcrumbs {
    display: none;
}

body.m .ServicesFooter {
    display: none;
}

body.m #FAZFooter {
    display: none;
}

body.m .ContentFooter {
    display: none;
}

body.m .FAZArtikelFunktionen {
    display: none;
}

body.m #FAZContentRight, body.m #FAZContentRight_WPDS, body.m div[id='FAZContentRight WPDS'] {
    display: none;
}

body.m .infoLeiste,
body.m .Package.solo.larger,
body.m .Package.large,
body.m .solo.larger .NachrichtenKamin .Teaser,
body.m .solo.larger .NachrichtenKamin
{
    width: 650px !important;
}

body.m .Package.solo.larger img.PackageImg,
body.m .Package.large img.PackageImg {
    width: 650px;
    height: auto;
}

body.m .boxTopThree {
    width: 207px;
}

body.m .boxTopThree.first {
    padding-right: 0;
}

body.m .boxTopThree.third {
    padding-left: 5px;
}

body.m .boxTopThree.second {
    padding-left: 5px;
    padding-right: 0;
}

body.m .top1ThreeTeaserInfo {
    margin-left: 85px;
}
