/*
    vwd webelements
    Standardformate: F.A.Z
*/

.VWDcomp .overflowed_scroller .mover .svgicon {
    cursor: default;
}

div.vwd_we_faz a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
div.vwd_we_faz a:hover {
    color:#c60000;
}

div.vwd_we_faz .green   { color: #339900; }
div.vwd_we_faz .neutral { color: #000000; }
div.vwd_we_faz .red     { color: #c60000; }
div.vwd_we_faz .pos     { color: #339900; }
div.vwd_we_faz .neg     { color: #c60000; }

div.vwd_we_faz {
    font-family: Verdana,sans-serif;
    font-size: 11px;
}

div.vwd_we_faz table td,
div.vwd_we_faz table th {
  font-size: 11px;
}

div.vwd_we_faz a.edit {
    font-size: 20px;
}

div.vwd_we_faz a.edit:after {
    content: "\270E";
}

div.vwd_we_faz table {
    border-collapse: collapse;
    width:100%;
}
div.vwd_we_faz table th {
    text-align: left;
    color: #000;
    padding: 6px 10px 6px 10px;
    border-bottom: 1px solid #ccc;
}

div.vwd_we_faz table td {
    padding: 6px 10px 6px 10px;
    border-bottom: 1px solid #ccc;
}

div.vwd_we_faz div.header div.depotSelect {
    margin-right: 20px;
    float: left;
}

div.vwd_we_faz div.header div.functions {
    float: left;
    padding: 5px 10px 5px 0px;
}
div.vwd_we_faz div.header div.functions a {
    white-space: nowrap;
    margin: 0px 20px 0px 0px;
}
div.vwd_we_faz div.header div.summary1 {
    position: absolute;
    right: 200px;
    bottom: 16px;
    text-align: center;
}
div.vwd_we_faz div.header div.summary2 {
    position: absolute;
    right: 10px;
    bottom: 16px;
    text-align: right;
}
div.vwd_we_faz div.header div.summary2 span.wert1 {
    font-size: 22px;
    font-weight: bold;
    display: block;
}
div.vwd_we_faz div.header div.summary2 span.wert2 {}
div.vwd_we_faz table tr.summe td {
    font-weight: bold;
}

div.vwd_we_faz table tr.editpositionWp td {
    background-color:#ffffff;
}
div.vwd_we_faz table tr.editpositionForm td {
    padding: 0px;
}

/* Formulare */
div.vwd_we_faz input,
div.vwd_we_faz select,
div.vwd_we_faz textarea {
    border: 1px solid #ccc;
    padding: 3px 5px 3px 5px;
    font-family: Verdana;
    font-size: 11px;
}

div.vwd_we_faz div.formBox {
    background-color: #f1f1f1;
    padding: 10px 10px 10px 10px;
}
div.vwd_we_faz div.formBox label {
    float: left;
    line-height: 24px;
    padding: 2px 0px;
}
div.vwd_we_faz div.formBox div.formElement {
    float: right;
    padding: 2px 0px;
    line-height: 24px;
}
div.vwd_we_faz div.formBox div.formSubmit {
    border-top: 1px solid #fff;
    text-align: right;
    line-height: 24px;
    padding: 10px 0px 0px 0px;
    margin:  5px 0px;
}

/* Formular-Buttons */
div.vwd_we_faz input.cancel,
div.vwd_we_faz input.sell,
div.vwd_we_faz input.delete,
div.vwd_we_faz input.submit {
    background-color: #c60000;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    margin: 2px 0px 0px 5px;
    padding: 3px 10px;
    border: none;
}

div.vwd_we_faz input.delete,
div.vwd_we_faz input.cancel {
    background-color: #bbbbbb;
    font-weight: normal;
}

/* Header */
div.vwd_we_faz div.header {
    background-color: #ffffff;
    position: relative;
    border-top: 2px solid #000;
    border-bottom: 1px solid #fff;
    padding: 10px;
}
div.vwd_we_faz div.header h2 {
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

/* Tab-Navigation */
div.vwd_we_faz div.navigation {
    background-color: #f1f1f1;
    margin-bottom: 10px;
}
div.vwd_we_faz div.navigation div.tabNavigation {
    padding: 10px 10px 0px 10px;
    height: 40px;
}
div.vwd_we_faz div.navigation div.tabNavigation a {
    font-weight: normal;
    font-size: 12px;
    background-color: #fff;
    padding: 6px 9px 6px 9px;
    margin-right: 7px;
    display: inline-block;
    float: left;
}
div.vwd_we_faz div.navigation div.tabNavigation a:hover {
    color:#c60000;
}
div.vwd_we_faz div.navigation div.tabNavigation a.selected:hover {
    color:#000000;
}
div.vwd_we_faz div.navigation div.tabNavigation a.selected {
    font-weight: bold;
}


/* Zeitraum-Umschalter */
div.vwd_we_faz div.header div.timeRangeYear,
div.vwd_we_faz div.header div.timeRangeMonth {
    position: absolute;
    right: 10px;
    top: 10px;
}
div.vwd_we_faz div.header div.timeRangeMonth {
    right: 120px;
}


/*
    --- Portfolioumschalter ----------------------------------------------------
*/
div.vwd_we_faz form[name="frmDepotSelect"] select[name="pId"] {
    width: 120px;
}

/*
    --- C050: Portfolio --------------------------------------------------------
*/
div.vwd_we_faz_c050 div.formBox div.h01,
div.vwd_we_faz_c050 div.formBox div.h02,
div.vwd_we_faz_c050 div.formBox div.h03 {
    margin-right: 20px;
    float: left;
}
div.vwd_we_faz_c050 form[name="frmDepotEdit"] div.h01 { width: 160px; }
div.vwd_we_faz_c050 form[name="frmDepotEdit"] div.h02 { width: 120px; }
div.vwd_we_faz_c050 form[name="frmDepotEdit"] div.h03 { width: 420px; }

div.vwd_we_faz_c050 form[name="frmDepotEdit"] input[name="pname"]       { width: 100px; }
div.vwd_we_faz_c050 form[name="frmDepotEdit"] select[name="frequency"]  { width: 90px; }
div.vwd_we_faz_c050 form[name="frmDepotEdit"] select[name="time"]       { width: 90px; }
div.vwd_we_faz_c050 form[name="frmDepotEdit"] select[name="format"]     { width: 70px; }

div.vwd_we_faz_c050 form[name="frmDepotInsert"] div.h01 { width: 200px; }
div.vwd_we_faz_c050 form[name="frmDepotInsert"] div.h02 { width: 150px; }
div.vwd_we_faz_c050 form[name="frmDepotInsert"] input[name="suchbegriff"] { width: 130px; }


/* Portfolio - insert */
div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] div.h01 { width: 260px; }
div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] div.h02 { width: 260px; }
div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] div.h03 { width: 350px; }

div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] input[name="kaufdatum"]    { width: 150px; }
div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] select[name="waehrung"]    { width: 162px; }
div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] input[name="wkurs"]        { width: 150px; }
div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] input[name="spesen"]       { width: 150px; }

div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] input[name="stueck"]       { width: 150px; }
div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] input[name="kaufkurs"]     { width: 150px; }
div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] select[name="i"]           { width: 162px; }
div.vwd_we_faz_c050 form[name="frmPortfolioWpBuy"] textarea[name="memo"]      { width: 280px; height: 80px; }


/* Portfolio - edit */
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] div.h01 { width: 260px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] div.h02 { width: 260px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] div.h03 { width: 350px; }

div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] input[name="kaufdatum"] { width: 150px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] input[name="verkaufdatum"] { width: 150px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] select[name="waehrung"] { width: 162px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] input[name="wkurs"]     { width: 150px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] input[name="spesen"]    { width: 150px; }

div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] input[name="stueck"]    { width: 150px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] input[name="kaufkurs"]  { width: 150px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] input[name="verkaufkurs"]  { width: 150px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] select[name="i"]        { width: 162px; }
div.vwd_we_faz_c050 form[name="frmDepotEditPosition"] textarea[name="memo"]   { width: 280px; height: 80px; }

div.vwd_we_faz_c050 div.tabNavigation a:last-child {
    float: right !important;
    background-color: #c60000 !important;
    color: #fff !important;
}

/*
    --- C050_2: Historie --------------------------------------------------------
*/
div.vwd_we_faz_c050_2 div.formBox div.h01,
div.vwd_we_faz_c050_2 div.formBox div.h02,
div.vwd_we_faz_c050_2 div.formBox div.h03,
div.vwd_we_faz_c050_2 div.formBox div.h04 {
    margin-right: 20px;
    float: left;
}
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] div.h01 { width: 120px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] div.h02 { width: 180px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] div.h03 { width: 340px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] div.h04 { width: 180px; }

div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] input[name="stueck"]{ width: 50px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] input[name="kaufdatum"]{ width: 60px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] input[name="verkaufdatum"]{ width: 60px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] input[name="kaufkurs"] { width: 70px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] input[name="verkaufkurs"] { width: 70px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] input[name="waehrungskaufkurs"] { width: 50px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] input[name="waehrungsverkaufkurs"] { width: 50px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] input[name="kaufspesen"] { width: 60px; }
div.vwd_we_faz_c050_2 form[name="frmHistoryEditPosition"] input[name="verkaufspesen"] { width: 60px; }

div.vwd_we_faz_c050_2 form[name="monatSelect"] select[name="month"]   { width: 100px; }
div.vwd_we_faz_c050_2 form[name="jahrSelect"] select[name="year"]    { width: 100px; }

/*
    --- C050_3: Konto --------------------------------------------------------
*/
div.vwd_we_faz_c050_3 div.formBox div.h01,
div.vwd_we_faz_c050_3 div.formBox div.h02,
div.vwd_we_faz_c050_3 div.formBox div.h03 {
    margin-right: 20px;
    float: left;
}

div.vwd_we_faz_c050_3 form[name="frmKontoEditPosition"] div.h01 { width: 350px; }
div.vwd_we_faz_c050_3 form[name="frmKontoEditPosition"] div.h02 { width: 250px; }

div.vwd_we_faz_c050_3 form[name="frmKontoEditPosition"] input[name="memo"] { width: 200px; }
div.vwd_we_faz_c050_3 form[name="frmKontoEditPosition"] select[name="accountTypeId"] { width: 212px; }
div.vwd_we_faz_c050_3 form[name="frmKontoEditPosition"] input[name="entryTime"]{ width: 100px; }
div.vwd_we_faz_c050_3 form[name="frmKontoEditPosition"] input[name="quantity"]{ width: 100px; }
div.vwd_we_faz_c050_3 form[name="frmKontoEditPosition"] input[name="amount"]{ width: 100px; }

div.vwd_we_faz_c050_3 form[name="monatSelect"] select[name="month"]   { width: 100px; }
div.vwd_we_faz_c050_3 form[name="jahrSelect"] select[name="year"]    { width: 100px; }

/*
    --- C004: IncludeBox: Kurszeile --------------------------------------------
*/
div.vwd_we_faz_c004 div.contentBox { position:relative; background:#f1f1f1; }
div.vwd_we_faz_c004 div.kursLink { position:absolute;top:0;right:0;height:100%;padding:10px 0.9090909091em 0 0.4545454545em; min-width: 9.0909090909em; text-align:right; }
div.vwd_we_faz_c004 div.kursLink span {
    display:inline-block;font-size:11px;font-weight:bold;line-height:16px;cursor:pointer;padding-right:22px;
    background-image: url("../images/Winkelikon32x32.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px;
}
div.vwd_we_faz_c004 div.kursticker a:hover, div.vwd_we_faz_c004 div.kursLink span:hover { color: #c60000; text-decoration:none;}
div.vwd_we_faz_c004 div.kursticker {
    height: 36px;
    overflow: hidden;
    margin-right: 9.0909090909em;
    position: relative; z-index: 1;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 4px 100%;
    background-image: linear-gradient(to right, rgba(241,241,241,0), rgba(0,0,0,0.35));
}
div.vwd_we_faz_c004 div.kursticker .inner {
    white-space: nowrap;
    padding: 10px 0 10px 10px;
    position: relative;
    height: 100%;
    display: inline-block;
}
div.vwd_we_faz_c004 div.kursticker .inner::after {
    content: "";
    position: absolute;
    display: block;
    top:0;
    right: -2000px;
    z-index: -1;
    width: 2000px;
    height:100%;
    background-color: #f1f1f1;
}
div.vwd_we_faz_c004 div.kursticker div.element {
    display: inline-block;
    margin-right: 15px;
}
div.vwd_we_faz_c004 div.kursticker div.element:last-child { margin-right: 0;}
div.vwd_we_faz_c004 div.kursticker div.element > span {
    line-height: 16px;
    display: inline-block;
}
div.vwd_we_faz_c004 div.kursticker div.element span.name {
    font-weight: bold;
}
div.vwd_we_faz_c004 div.kursticker div.element span.kurs {
    padding: 0px 5px 0px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size:16px;
}
div.vwd_we_faz_c004 div.kursticker .icon_pos{
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%221%22%20height%3D%221%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%22896%22%20cy%3D%22896%22%20r%3D%22700%22%20fill%3D%22%23ffffff%22%20%2F%3E%3Cpath%20fill%3D%22%2321a65f%22%20id%3D%22fa-arrow-circle-up%22%20d%3D%22M1412%20895q0-27-18-45l-362-362-91-91q-18-18-45-18t-45%2018l-91%2091-362%20362q-18%2018-18%2045t18%2045l91%2091q18%2018%2045%2018t45-18l189-189v502q0%2026%2019%2045t45%2019h128q26%200%2045-19t19-45v-502l189%20189q19%2019%2045%2019t45-19l91-91q18-18%2018-45zm252%201q0%20209-103%20385.5t-279.5%20279.5-385.5%20103-385.5-103-279.5-279.5-103-385.5%20103-385.5%20279.5-279.5%20385.5-103%20385.5%20103%20279.5%20279.5%20103%20385.5z%22%2F%3E%3C%2Fsvg%3E");
}
div.vwd_we_faz_c004 div.kursticker .icon_neutral{
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%221%22%20height%3D%221%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%22896%22%20cy%3D%22896%22%20r%3D%22700%22%20fill%3D%22%23ffffff%22%20%2F%3E%3Cpath%20fill%3D%22%237e8688%22%20id%3D%22fa-arrow-circle-right%22%20d%3D%22M1413%20896q0-27-18-45l-91-91-362-362q-18-18-45-18t-45%2018l-91%2091q-18%2018-18%2045t18%2045l189%20189h-502q-26%200-45%2019t-19%2045v128q0%2026%2019%2045t45%2019h502l-189%20189q-19%2019-19%2045t19%2045l91%2091q18%2018%2045%2018t45-18l362-362%2091-91q18-18%2018-45zm251%200q0%20209-103%20385.5t-279.5%20279.5-385.5%20103-385.5-103-279.5-279.5-103-385.5%20103-385.5%20279.5-279.5%20385.5-103%20385.5%20103%20279.5%20279.5%20103%20385.5z%22%2F%3E%3C%2Fsvg%3E");
}
div.vwd_we_faz_c004 div.kursticker .icon_neg{
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%221%22%20height%3D%221%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%22896%22%20cy%3D%22896%22%20r%3D%22700%22%20fill%3D%22%23ffffff%22%20%2F%3E%3Cpath%20fill%3D%22%23d11f40%22%20id%3D%22fa-arrow-circle-down%22%20d%3D%22M1412%20897q0-27-18-45l-91-91q-18-18-45-18t-45%2018l-189%20189v-502q0-26-19-45t-45-19h-128q-26%200-45%2019t-19%2045v502l-189-189q-19-19-45-19t-45%2019l-91%2091q-18%2018-18%2045t18%2045l362%20362%2091%2091q18%2018%2045%2018t45-18l91-91%20362-362q18-18%2018-45zm252-1q0%20209-103%20385.5t-279.5%20279.5-385.5%20103-385.5-103-279.5-279.5-103-385.5%20103-385.5%20279.5-279.5%20385.5-103%20385.5%20103%20279.5%20279.5%20103%20385.5z%22%2F%3E%3C%2Fsvg%3E");
}

/* dunkle Variante */
div.vwd_we_faz_c004.black div.contentBox { background: transparent;  }
div.vwd_we_faz_c004.black div.kursLink { padding-top:4px; background-color:#000000; }
div.vwd_we_faz_c004.black div.kursLink span { line-height:17px;}
div.vwd_we_faz_c004.black div.kursticker span,
div.vwd_we_faz_c004.black div.kursticker a,
div.vwd_we_faz_c004.black div.kursLink span { color: #ffffff; }
div.vwd_we_faz_c004.black div.kursticker a:hover, div.vwd_we_faz_c004.black div.kursLink span:hover { color: #c60000; }
div.vwd_we_faz_c004.black div.kursticker .relativ {color:#cccccc;}
div.vwd_we_faz_c004.black div.kursticker {
    height: 25px;
    background-color:#000000;
    background-size: 6px 100%;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.7));
}
div.vwd_we_faz_c004.black div.kursticker .inner { padding: 4px 0 0 10px; }
div.vwd_we_faz_c004.black div.kursticker .inner::after { background-color: #000000; }
div.vwd_we_faz_c004.black div.kursticker div.element > span { line-height: 17px; }

div.vwd_we_faz table tr.editpositionForm .wait {
    padding: 10px 10px 10px 10px;
}
div.vwd_we_faz table tr.editpositionForm td div.formBox {
    background-color: #ffffff;
    padding: 10px 0px 0px 0px;
}
div.vwd_we_faz table tr.editpositionForm td div.formLine {
    padding: 0px 10px 0px 10px;
}
div.vwd_we_faz table tr.editpositionForm td div.formBox div.formSubmit {
    background-color: #f1f1f1;
    padding: 10px 10px 10px 10px;
    margin: 5px 0px 0px 0px;
}

/*
    --- Link aussehen wie Button --------------------------------------------
*/
.VWDcomp .lookslikebutton {
    background-color: #c60000;
    font-size: 11px;
    padding: 7px 11px 8px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0 10px;
}
.VWDcomp .lookslikebutton,
.VWDcomp .lookslikebutton:hover,
.VWDcomp .lookslikebutton:focus {color: #fff;text-decoration:none;}

/*
    --- C003.02: IncludeBox: MicroPortrait --------------------------------------------
*/
.VWDcomp.vwd_we_faz_c003_02 {padding-top: 10px;}
.VWDcomp.vwd_we_faz_c003_02 .comp_head {margin-bottom: 4px;}
.VWDcomp.vwd_we_faz_c003_02 .comp_head .headline h2.topline {font-size:16px;}
.VWDcomp.vwd_we_faz_c003_02 .quotebox.simple {margin-bottom: 7px;}
.VWDcomp.vwd_we_faz_c003_02 .quotebox.simple .prices .price {font-size: 16px; padding-bottom: 4px;}
.VWDcomp.vwd_we_faz_c003_02 .quotebox.simple .prices .change {line-height:16px;}
.VWDcomp.vwd_we_faz_c003_02 .quotebox .action{ margin-top: 7px;}
.VWDcomp.vwd_we_faz_c003_02 .quotebox .action select { width:122px; font-size: 11px; height: 26px;}

/*
    --- C019: IncludeBox: Akkordeon --------------------------------------------
*/
.VWDcomp.vwd_we_faz_c019 .lookslikebutton.small {
    margin: 0;
}
.VWDcomp.vwd_we_faz_c019 .comp_sizer {
    padding: 10px 0 0 0;
}

/*
    --- C060: Text 'Anzeige' oben drueber --------------------------------------------
*/
.VWDcomp.C060 .holder_carousel::before {
    content: "Anzeige";
    position: absolute;
    top: -17px;
    left: 0;
    font-size: 13px;
    font-family: Georgia,serif;
    line-height: 1;
    color: #999;
}
/*
		--- C008: News Overview: Datum nach Title, inline. Standardhoehe entfernt --------------------------------------------
*/
.VWDcomp .list_news li .date, .VWDcomp .list_news li .title {display:inline;}
.VWDcomp .holder_news {height: auto; max-height: 50em;}
