/*
    vwd webelements
    Standards
*/

div.vwd_we .r { text-align: right; }
div.vwd_we .l { text-align: left; }
div.vwd_we .c { text-align: center; }

div.vwd_we .vtop    { vertical-align: top; }
div.vwd_we .vmiddle { vertical-align: middle; }
div.vwd_we .vbottom { vertical-align: bottom; }

div.vwd_we .nw  { white-space: nowrap; }

div.vwd_we h1,
div.vwd_we h2,
div.vwd_we h3,
div.vwd_we h4,
div.vwd_we h5 {
    padding: 0px;
    margin: 0px;
}
div.vwd_we form,
div.vwd_we p,
div.vwd_we input,
div.vwd_we button,
div.vwd_we ul,
div.vwd_we ol,
div.vwd_we li {
    margin: 0px;
    padding: 0px;
}

div.vwd_we div.clearall {
    clear: both;
    font-size:1px;
    padding:0px;
    margin:0px;

    height: 1px;
    line-height:1px;
    border: none;
}

.VWDcomp .holder_carousel .carousel_btn.prev, .VWDcomp .svg-long-arrow-left {
    background-image: url("../images/blaettern_links.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.VWDcomp .holder_carousel .carousel_btn.prev:hover, .VWDcomp .overflowed_scroller.left.enabled .svg-long-arrow-left:hover {
    background-image: url("../images/blaettern_links_hover.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.VWDcomp .holder_carousel .carousel_btn.next, .VWDcomp .svg-long-arrow-right {
    background-image: url("../images/blaettern_rechts.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.VWDcomp .holder_carousel .carousel_btn.next:hover, .VWDcomp .overflowed_scroller.right.enabled .svg-long-arrow-right:hover {
    background-image: url("../images/blaettern_rechts_hover.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.VWDcomp .overflowed_scroller .svgicon {
    background-color: #fff;
}

