.wdg_board {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 268px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  padding: 14px 16px;
  border-radius: 3px;
  color: #555555;
}
.wdg_board a {
  color: #555555;
  text-decoration: none;
}
.wdg_board a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.wdg_board .wdg_headline {
  opacity: 0.8;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.wdg_board .wdg_headline a {
  opacity: 0.8;
}
.wdg_board .wdg_boardList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.wdg_board .wdg_boardList li {
  margin-bottom: 8px;
  position: relative;
  padding-left: 16px;
  line-height: 1.2em;
}
.wdg_board .wdg_boardList li .wrap {
  display: none;
}
.wdg_board .wdg_boardList li:before {
  font-family: verdana, sans-serif;
  content: "\002022";
  opacity: 0.6;
  font-size: 13px;
  position: absolute;
  top: 0px;
  left: 0;
}
.wdg_board .wdg_boardMore {
  text-align: right;
  display: block;
  font-size: 12px;
}
.wdg_board .wdg_boardMore span {
  opacity: 0.6;
  font-size: 14px;
}
