body{
	background: #f9f9fa;
}

*, h1, h2, h3, h4, h5 ,h6, p, li{
    font-family:'Open Sans', sans-serif;
    font-weight: 300;	
}

	.top-section{
		margin:3em 0;
	}

	.headline{
		margin:1em auto .25em;
		font-size:3em;
		color:#234;
		font-weight:300;
		/*font-weight: lighter;*/
	}

	.subheadline{
		max-width:27em;
		margin:auto;
		font-weight:lighter;
		font-size:1.5em;
		font-weight: lighter;		
	}

	.button{
		font-size:1em;
		padding:.5em 1.2em;
		color:#fff !important;
		text-decoration: none;
		cursor: pointer;
		border: 1px solid #3c5977;	
		border-radius:.2em;
		background:#3c5977;
		display:inline-block;
		margin-top:1em;
	}

	.button--large{
		font-size: 2em;
		padding: .75em 1.5em;
	}

	.button--wide{
		padding: .75em 3em;
	}

	.button--medium{
		padding:1em 1.5em;
	}

	.button--twitter, .button--twitter:active{
		background: #55acee;
		border:none;
	}

	.button.button--twitter:hover{
		background: #449bdd;
	}

	.button--facebook{
		border:none;
	}

		.button--twitter::before, .button--facebook:before{
			content:"";
			background-size: 50px 50px;
			width:50px;
			height:50px;
			display:inline-block;
		  margin-bottom: -18px;
		  top: -5px;
		  position: relative;			
		}

		.button--twitter::before{
			background-image: url(/media/i/referrals/TwitterLogo_white.png);			
		}

		.button--facebook::before{
			background-image: url(/media/i/referrals/FB-f-Logo__white_50.png);	
			  background-size: 40px;
			  background-repeat: no-repeat;
			  background-position: 0 6px;					
		}

	.button:hover{
		background:#324962;
	}	

	.button:active, .button:focus{
		background:#3c5977;
	}	

	.button--submit{
		width:100%;
	}

	.header-bar{
		position:relative;
		width:100%;
		padding: 1em 1em 0;
		text-align: left;
		box-sizing: border-box;
	}

		.button--top-right{
			margin-top:0;
			float:right;
		}

		.logo--top{
			border-radius: 3px;
			border:none;
		}

	#people .content{
		max-height: 680px;
	}

	.action-subtext{
		margin-top:1em;
	}

	#bottomLinks{
		background:transparent;
		border:none;
	}

	#bottomLinks a{
		color: #005;
	}

	form.main{
		margin-top:2em;
		padding-bottom:1.5em;
		background:#fff;
		border: 1px solid #ddd;
		border-radius: 8px;
		box-shadow: none;
	}

		form.main label{
			font-family:'Open Sans', sans-serif;
			color:#234;
		}

		form.main p input{
			background: #f9f9ff;
			border:1px solid #ccc;
		}

		form.main p input:focus{
			border-color:#b6b6b6;
			background:#f8f8fe;
		}

		form.main input:focus{
			outline:none;
		}

	form.main, .column .quotes{
		box-shadow: none;
	}

	a{
		color: #3c5977;
	}

	a.link--below-form{
		display:block;
		margin-top:1em;
	}

#people .tweet_image{
	border: 1px solid #ccc;
	border-radius:3px;
}

/* FOUNDATION BUTTON WEIRDNESS */
.button {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;	
}
