/*  
Theme Name: Eos
Theme URI: 
Description: Eos is a professionally designed, clean and elegant theme inspired by the colors of an aurora. Available in several languages. Leave us a comment on our website: xoopsdesign.ir
Author: SRS Solutions
Author URI: 
Version: 1.3.11
Tags: black, blue, green, dark, three-columns, two-columns, threaded-comments, fixed-width, right-sidebar, theme-options, translation-ready, rtl-language-support
.
Released under the <a href="http://www.opensource.org/licenses/gpl-license.php">GPL</a>.
.
*/


/**
 * Normalize
 */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
ol, ul {
	list-style: none;
}
address, caption, cite, code, dfn, th, var {
	font-style: normal;
	font-weight: normal;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
	padding-bottom:5px;
}
caption, th {
	text-align: left;
}
q:before, q:after {
	content: '';
}
abbr {
	border:0;
}

/**
 * WordPress Static
 */

.alignleft {
	float:left;
	text-align:left;
	margin-right:10px;
}
.alignright {
	float:right;
	text-align:right;
	margin-left:10px;
}
.aligncenter {
	margin: 10px auto;
	text-align: center;
	display: block;
}
.sidebarbox {
	margin-bottom:15px;
}
.sidebarbox li {
	margin-bottom:5px;
	background:url(./images/Lists.png) no-repeat 0 0.4em;
	padding-left:12px;
}
.sidebarbox ul.children {
	margin:0;
}

.headerbox,
.footerbox{
	margin-bottom:10px;
}
.headerbox li,
.footerbox li{
	margin-bottom:5px;
	background:url(./images/Lists.png) no-repeat 0 0.4em;
	padding-left:12px;
}
.headerbox ul.children,
.footerbox ul.children{
	margin:0;
}

.wp-caption {
  border:1px solid #ddd;
  text-align:center;
  background-color:#f3f3f3;
  padding:7px 2px 2px;
  -moz-border-radius:5px;
  -khtml-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.wp-caption p.wp-caption-text {
  font-size:11px;
  line-height:17px;
  padding:2px 4px 5px;
  margin:0;
  color:#111;
}
blockquote,
pre {
	background:#edf1f5 url(./images/blockquote.gif) 3px 3px no-repeat;
	border:1px solid #ddd;
	padding:8px 12px 8px 40px;
	margin:5px 0;
	word-wrap:break-word;
	overflow:hidden;
}
.more-link,
.more-link:visited,
.more-link:hover {
	font-size:11px;
	color:#999;
	text-decoration:none;
}

/**
 * Main design
 */

body {
	background:#0f2233 url(./images/BodyBg.png) repeat-x 0 0;
	font-family:Arial,tahoma;
	font-size:small;
	text-align:center;
	line-height:normal;
}

p {
	margin:10px 0;
}

.PageContainer {
	text-align:left;
	width:964px;
	margin:20px auto;
}

#skipToContent {
	position:absolute;
	top:0;
	left:-9999px;
}

.Header {
	position:relative;
	z-index:900;
}

.HeaderSubArea {
	height:105px;
	background:url(./images/LayoutBgs.jpg) no-repeat 0 -50px;
	position:relative;
	z-index:800;
}
.HeaderSubArea h1 {
	position:absolute;
	left:50px;
	top:22px;
}
.HeaderSubArea h1 a,
.HeaderSubArea h1 a:visited {
	color:#c5ddeb;
	font-size:36px;
	font-family:Arial,tahoma;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:1px;
}
.HeaderSubArea span {
	position:absolute;
	left:52px;
	top:62px;
	color:#abc1cc;
	font-size:12px;
	font-family:Arial,tahoma;
}
.HeaderSubArea .SearchBox {
	width:162px;
	height:22px;
	position:absolute;
	top:9px;
	right:22px;
	background:url(./images/LayoutBgs.jpg) no-repeat -2000px -100px;
}
.HeaderSubArea .SearchQuery {
	padding:4px 5px 4px 10px;
	width:127px;
	height:14px;
	font-size:11px;
	border:0;
	color:#b9d1cd;
	background:none;
}
.HeaderSubArea .SearchButton {
	position:absolute;
	overflow:hidden;
	top:3px;
	right:3px;
	width:16px;
	height:16px;
	padding:0;
	border:0;
	background:none;
	cursor:pointer;
	background:url(./images/LayoutBgs.jpg) no-repeat -2143px -103px;
	
	display:block;
	font-size:0;
	line-height:0;
}

.HeaderMenu {
	position:relative;
	padding:2px 20px 0;
	z-index:950;
	background:url(./images/LayoutBgs.jpg) no-repeat 0 0;
}
.HeaderMenu .clear {
	display:block;
	clear:both;
}
.HeaderMenu ul {
	height:100%;
}
.HeaderMenu li {
	float:left;
	position:relative;
	z-index:1;
	line-height:24px;
}
.HeaderMenu li a,
.HeaderMenu li a:visited {
	display:block;
	height:23px;
	line-height:24px;
	color:#daf0ff;
	font-size:12px;
	padding:0 8px;
}
.HeaderMenu li a:hover {
	background:url(./images/LayoutBgs.jpg) repeat-y -2000px -230px;
	text-decoration:none;
	border:1px solid #16394e;
	border-width:0 1px;
	padding:0 7px;
}
.HeaderMenu ul ul {
	height:auto;
	position:absolute;
	top:23px;
	left:-999em;
	background-color:#1f3d4d;
	border:1px solid #000;
	margin:0;
	z-index:1;
}
.HeaderMenu li li {
	float:none;
	width:180px;
}
.HeaderMenu li li a,
.HeaderMenu li li a:visited {
	height:auto;
	line-height:22px;
	padding:0 8px;
	width:164px;
	position:relative;
}
.HeaderMenu li li a:hover {
	background:#335f7b;
	border:0;
	padding:0 8px;
}
.HeaderMenu li:hover ul,
.HeaderMenu li.jHover ul {
	left:auto;
}
.HeaderMenu ul ul ul,
.HeaderMenu li:hover ul ul,
.HeaderMenu li.jHover ul ul {
	top:-1px;
	left:-999em;
}
.HeaderMenu li li:hover ul,
.HeaderMenu li li.jHover ul {
	left:180px;
}

.HeaderSubMenu {
	position:absolute;
	right:30px;
	bottom:8px;
	z-index:2;
}
.HeaderSubMenu .clear {
	display:block;
	clear:both;
}
.HeaderSubMenu ul {
	height:100%;
}
.HeaderSubMenu li {
	float:left;
	margin:0 0 0 20px;
	position:relative;
}
.HeaderSubMenu a,
.HeaderSubMenu a:visited {
	color:#b8c5cc;
	display:block;
	height:30px;
	line-height:30px;
}
.HeaderSubMenu ul ul {
	height:auto;
	position:absolute;
	top:30px;
	left:-999em;
	background-color:#1f3d4d;
	border:1px solid #000;
	margin:0;
	z-index:1;
}
.HeaderSubMenu li li {
	float:none;
	width:180px;
	margin:0;
}
.HeaderSubMenu li li a,
.HeaderSubMenu li li a:visited {
	height:auto;
	line-height:22px;
	padding:0 8px;
	width:164px;
	position:relative;
}
.HeaderSubMenu li li a:hover {
	background:#335f7b;
	border:0;
	padding:0 8px;
	text-decoration:none;
}
.HeaderSubMenu li:hover ul,
.HeaderSubMenu li.jHover ul {
	left:0;
}
.HeaderSubMenu ul ul ul,
.HeaderSubMenu li:hover ul ul,
.HeaderSubMenu li.jHover ul ul {
	top:-1px;
	left:-999em;
}
.HeaderSubMenu li li:hover ul,
.HeaderSubMenu li li.jHover ul {
	left:180px;
}
.removeSidebarTop {
	background:url(./images/LayoutBgs.jpg) no-repeat 0 -180px;
	height:7px;
	width:964px;
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
}

#contentWrapper {
	background:url(./images/LayoutBgs.jpg) repeat-y -1000px 0;
	min-height:350px;
	padding:2px;
	position:relative;
	overflow:hidden;
	width:960px;
}
#contentWrapper div.breadcrumbs {
	padding:0 0 0 10px;
}
#contentWrapperFull {
	background:url(./images/LayoutBgs.jpg) repeat-y -3000px 0;
	min-height:350px;
	padding:2px;
	position:relative;
	overflow:hidden;
	width:960px;
	margin-top:-7px;
	margin-bottom:-15px;
	z-index:10;
}
#contentWrapperFull .removeSidebarBottom {
	background:url(./images/LayoutBgs.jpg) no-repeat -2000px -260px;
	height:15px;
	width:964px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:10;
}
#contentArea {
	padding:10px 11px 10px 10px;
	float:left;
	width:640px;
	margin-right:-1px;
	overflow:hidden;
}
#contentWrapperFull #contentArea {
	float:none;
	width:auto;
}
.SideBars {
	width:280px;
	padding:5px 10px;
	float:right;
}

.SideBar_Full {
	margin-bottom:20px;
}
.SideBar_Full_Bottom {
	clear:both;
}
.SideBar_Full li {
}
.SideBar_Full h2,
.SideBar_Full_Bottom h2,
.headerbox h3,
.footerbox h3{
	border-bottom:1px solid #a6afb3;
	margin:0 -10px 10px -9px;
	padding:5px 10px;
	font-size:16px;
	font-family:Arial,tahoma;
	font-weight:bold;
	color:#334966;
	font-variant:small-caps;
}

.SideBar_Left {
	float:left;
	width:128px;
	padding:0 10px 0 0;
}
.SideBar_Right {
	float:right;
	width:129px;
	padding:0 0 0 10px;
}
.SideBar_Left h2,
.SideBar_Right h2{
	border-bottom:1px solid #a6afb3;
	margin:0 0 10px 0;
	padding:5px 10px;
	font-size:16px;
	font-family:Arial,tahoma;
	font-weight:bold;
	color:#334966;
	font-variant:small-caps;
}
.SideBar_Left h2 {
	margin-right:-10px;
	margin-left:-9px;
}
.SideBar_Right h2 {
	margin-left:-10px;
	margin-right:-10px;
}

#wp-calendar {
	width:99%;
	border-collapse:separate;
	border-spacing:1px;
}
#wp-calendar tbody a {
	font-weight:bold;
}
#wp-calendar caption {
	font-weight:bold;
	font-size:12px;
	text-align:left;
	padding-bottom:5px;
}
#wp-calendar th, 
#wp-calendar td {
	text-align:center;
}
#wp-calendar th {
	background:#869cb3;
	color:#fff;
	border:1px solid #738599;
}
#wp-calendar tbody td {
	border:1px solid #b8c8d9;
	color:#98a5b3;
}
#wp-calendar td a,
#wp-calendar td a:visited {
	display:block;
}
#wp-calendar tbody td a:hover {
	background:#cee0f2;
	text-decoration:none;
}
#wp-calendar #today {
	background:#fff;
}
#wp-calendar tbody td.pad {
	border:0 none;
}
#wp-calendar td#prev {
	padding-top:5px;
	text-align:left;
}
#wp-calendar td#next {
	text-align:right;
	padding-top:5px;
}

.SidebarButtons {
	overflow:hidden;
	margin-bottom:20px;
}
a.RssButton {
	display:block;
	height:22px;
	width:60px;
	background:url(./images/LayoutBgs.jpg) no-repeat -2840px -100px;
	text-indent:-1000px;
	float:right;
}
.facebookButton {
	display:block;
	height:22px;
	width:60px;
	background:url(./images/LayoutBgs.jpg) no-repeat -2840px -100px;
	text-indent:-1000px;
	float:right;
}
a.TwitterButton {
	display:block;
	height:22px;
	width:73px;
	background:url(./images/LayoutBgs.jpg) no-repeat -2900px -100px;
	text-indent:-1000px;
	float:right;
	margin-right:10px;
}

.ContentFooter {
	background:url(./images/LayoutBgs.jpg) repeat-y -3000px 0;
}
.ContentFooterInner {
	background:url(./images/LayoutBgs.jpg) no-repeat 0 -180px;
	padding:0 2px;
}

.Footer {
	height:90px;
	background:url(./images/LayoutBgs.jpg) repeat-y -2000px 0;
	position:relative;
}
.Footer .copyright {
	position:absolute;
	top:38px;
	left:75px;
	font-size:11px;
	color:#b8c2cc;
}
.Footer .themeInfo {
	position:absolute;
	top:53px;
	left:75px;
	font-size:11px;
	color:#b8c2cc;
}
.Footer .themeInfo a,
.Footer .themeInfo a:visited {
	color:#fff;
	text-decoration:underline;
}
.Footer a.moveToTop,
.Footer a.moveToTop:visited,
.Footer a.moveToTop:hover {
	position:absolute;
	right:16px;
	top:24px;
	padding-left:12px;
	font-size:11px;
	color:#fff;
	text-decoration:none;
	background:url(./images/Arrows.gif) no-repeat 0 -45px;
}

a, a:visited {
	text-decoration:none;
	color:#a02000;
}
a:hover {
	text-decoration:underline;
}

.contentHeader {
	margin:0 -10px 30px;
}
.contentHeader h3 {
	margin:0;
	padding:6px 20px 3px;
	border-bottom:2px solid #bec8cc;
	font-size:14px;
}
.contentHeader span {
	display:block;
	padding:2px 20px;
	font-size:12px;
	font-style:italic;
}

/**
 * Blog Posts
 */

.post {
	margin-bottom:20px;
}

.postHeader {
	position:relative;
	width:630px;
	margin-bottom:10px;
}
.postTitle {
	width:600px;
	margin-left:40px;
	font-size:20px;
	min-height:24px;
	padding:1px 0;
	position:relative;
	border-bottom:1px solid #CCC;
}
.postTitle a,
.postTitle a:visited,
.postTitle a:hover {
	text-decoration:none;
	color:#000;
	padding-left:10px;
	position:relative;
	line-height:24px;
}
.postTitle span {
	display:block;
	width:600px;
	height:5px;
        background-color:#f3f3f3;
	position:absolute;
	bottom:0;
	left:0;
}
.postMonth {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:28px;
	padding-right:4px;
	height:14px;
	padding-top:1px;
	font-size:11px;
	color:#fff;
	text-align:center;
	background:url(./images/LayoutBgs.jpg) no-repeat -2200px -100px;
}
.postDay {
	display:block;
	position:absolute;
	top:13px;
	left:0;
	width:28px;
	padding-right:2px;
	height:13px;
	font-size:10px;
	color:#555;
	text-align:center;
	background:url(./images/LayoutBgs.jpg) no-repeat -2200px -113px;
}
.postSubTitle {
	text-align:right;
	padding-right:10px;
	font-size:13px;
	overflow:hidden; 

}
.postCategories {
	float:right;
	padding:3px 0 3px 25px;
	font-size:11px;
	background:url(./images/LayoutBgs.jpg) no-repeat -4500px 0;
}

.postAuthor {
	float:right;
	padding:3px 0 3px 25px;
	font-size:11px;
	background:url(./images/LayoutBgs.jpg) no-repeat -4500px 0;
}
.postgoogle {

	padding:0 25px 0 25px;
	overflow:hidden;
}
.entry-content , .postContent  {
	font-family:Arial,tahoma;
	font-size:12px;
	line-height:145%;
	padding:0 25px 0 15px;
	overflow:hidden;
}
.entry-content h1 ,
.postContent h1{
	font-size:140%;
}
.entry-content h2 ,
.postContent h2 {
	font-size:130%;
}
.entry-content h3 ,
.postContent h3 {
	font-size:120%;
}
.entry-content h4 ,
.postContent h4 {
	font-size:110%;
}

.postLinkPages {
	margin:20px 20px -16px;
	font-size:11px;
}
.postFooter {
	overflow:hidden;
	border-top:1px solid #d9d9d9;
	padding:3px 10px 0;
	margin:40px 5px 0;
}
.postComments {
	float:left;
	width:95px;
	padding:2px 0 3px 25px;
	font-size:11px;
	background:url(./images/LayoutBgs.jpg) no-repeat -2000px -190px;
	color:#aaa;
}
.postTags {
	float:left;
	width:355px;
	padding:2px 10px 3px 25px;
	font-size:11px;
	background:url(./images/LayoutBgs.jpg) no-repeat -4000px 0;
}
.postTags span {
	color:#aaa;
	font-style:italic;
}
.postReadMore {
	display:block;
	float:right;
	width:100px;
	outline:none;
}
.postReadMore b {
	display:block;
	margin:0 1px;
	border:1px solid #ccc;
	border-width:1px 0;
	background:url(./images/LayoutBgs.jpg) no-repeat -2870px -125px;
}
.postReadMore b b {
	margin:0 -1px;
	border-width:0 1px;
	padding:3px 20px 3px 10px;
	background:none;
}
.postReadMore b b b {
	border-width:0;
	margin:0;
	padding:0;
	cursor:pointer;
	height:14px;
	font-size:11px;
	overflow:hidden;
}
.postReadMore:hover {
	text-decoration:none;
}
.postReadMore:hover b {
	border-color:#9b9b9b;
}
.post-edit-link {
	float:right;
	display:block;
	padding:0 5px;
	font-size:11px;
}

.nocomments {
	margin:0 0 40px;
}

.post ul,
.comment ul,
.post ol,
.comment ol{
	padding:0 0 10px 30px;
	clear:left;
}
.post ul li,
.comment ul li {
	list-style-type:disc;
}
.post ol li,
.comment ol li{
	list-style-type:decimal;
}
.post img {
	max-width:600px;
}
.post table {
	background:#fff;
	border-collapse:collapse;
	margin:5px 0 10px;
}
.post th, 
.post td {
	border:1px solid #ccc;
	padding:3px 10px;
	text-align:left;
	vertical-align:top;
}
.post tr.even td {
	background:#f2f2f2;
}
.post th {
	background:#e5e5e5;
}
.post strong {
	font-weight:bold;
}
.post em {
	font-style:italic;
}

.commentHeader {
	overflow:hidden;
	font-family:Arial,tahoma;
	padding-bottom:5px;
}
.commentHeader h4 {
	float:right;
	margin-right:10px;
	font-size:16px;
}
.commentHeader span {
	float:left;
	font-size:11px;
	font-family:Arial,tahoma;
}
.commentHeader .addComment {
	width:100px;
	padding:5px 10px 0 25px;
	font-size:11px;
	background:url(./images/LayoutBgs.jpg) no-repeat -2000px -158px;
}
.commentHeader .addTrackback {
	width:120px;
	padding:5px 10px 0 23px;
	font-size:11px;
	background:url(./images/LayoutBgs.jpg) no-repeat -2500px -158px;
}

.commentList {
	border-top:1px solid #ddd;
	margin:0 -10px;
	padding:10px 20px 0;
}
li.comment {
	list-style-type: decimal-leading-zero;
	list-style-position:  outside;
	margin-left: 20px;
}
li.comment .avatar {
	margin-left:5px;
	width:60px;
}
li.comment .avatar-32 {
	width:32px;
	height:32px;
}
li.comment .author {
	float:top;
	width:100px;
	margin-bottom:10px;
	overflow:hidden;
	width:500px;
}
li.comment .author .name {
	text-align:left;
	font-size:14px;
	color:#830300;
	margin-left:10px;
}
li.comment .messageBox {
	margin-left:10px;
	background-color:#eee;
	border:1px solid #ddd;
	padding:5px;
	overflow:hidden;
	margin-bottom:10px;
}
li.adminComment .messageBox {
	background-color:#ddd;
	border:1px solid #ccc;
}
li.comment .messageBox .date {
	font-size:11px;
	color:#666;
	float:left;
	height:20px;
}
li.comment .messageBox .links {
	font-size:11px;
	float:right;
	margin-right:10px;
	height:20px;
	color:#aaa;
}
li.comment .messageBox .links a {
	padding:0 3px;
}
li.comment .messageBox .content {
	clear:both;
}
li.comment .messageBox p {
	margin:0 0 10px;
}
ul.children {
	margin:0 0 0 20px;
	clear:both;
}

.commentNavigation {
	overflow:hidden;
	padding:3px 10px;
	text-align:center;
}
.commentNavigation .page-numbers {
	padding:0 3px;
}
.commentNavigation .prev,
.commentNavigation .older {
	background:url(./images/Arrows.gif) no-repeat 0 1px;
	padding:0 10px 0 15px;
}
.commentNavigation .next,
.commentNavigation .newer {
	background:url(./images/Arrows.gif) no-repeat 100% -24px;
	padding:0 15px 0 10px;
}
.commentNavigation .older {
	float:left;
}
.commentNavigation .newer {
	float:right;
}

.commentHelp {
	color: #ccc;
}
.commentabout{
	color: #000;
	font-weight:bold;
}
.hr {
	border-top:1px solid #a6afb3;
	margin:0 -10px 20px;
}
.hr hr {
	display:none;
}
#respond {
	padding:0 10px;
}
#respond textarea {
	width:99%;
}
#respond p {
	margin:0 0 2px;
}
#respond h3 {
	margin:0 0 10px;
}
#respond .textField,
#respond textarea {
	border:1px solid #999;
	padding:2px 5px;
	color:#333;
	background:#f2f2f2;
}
#respond .submitBar {
	overflow:hidden;
	margin:0;
	padding:3px 10px 10px;
}
#respond .submitButton {
	float:right;
}



#pageNavigation {
	background-color:#dee5ee;
	margin:10px -11px 10px -10px;
	padding:3px 10px;
	border:1px solid #a6afb3;
	border-width:1px 0;
	font-size:12px;
	overflow:hidden;
}
#newerEntries {
	float:left;
}
#olderEntries {
	float:right;
}
#newerEntries a {
	background:url(./images/Arrows.gif) no-repeat 0 1px;
	padding-left:15px;
}
#olderEntries a {
	background:url(./images/Arrows.gif) no-repeat 100% -24px;
	padding-right:15px;
}

#feedbox, #searchbox {
	border:1px solid #bbb;
	padding:2px 3px;
}

#postExtra {
	position:relative;
	top:-30px;
	width:300px;
	padding-left:10px;
}
#postExtra .rss {
	padding:3px 10px 2px 25px;
	font-size:11px;
	background:url(./images/LayoutBgs.jpg) no-repeat -2500px -190px;
}

::-moz-selection {
	background:#39f;
	color:#fff;
}

.nextprev {
    height: 1.6em;
    margin-top:10px;
}
.nextprev .prev {
    float: left;
    font-weight:bold;
	text-shadow:2px 2px 2px #fff;
}
.nextprev .next {
    float: left;
    font-weight:bold;
	text-shadow:2px 2px 2px #fff;
}

.facebook {
	background: url(images/icon-facebook.png) no-repeat left center;
	padding: 2px 5px 2px 22px;
}

.subscribe {
	background: url(images/icon-subscribe.png) no-repeat left center;
	margin: 0 0 0 10px;
	padding: 2px 0 2px 22px;
}
	
.twitter {
	background: url(images/icon-twitter.png) no-repeat left center;
	margin: 0 10px;
	padding: 2px 5px 2px 22px;
}
.information
{
	font-family:arial;
	background-color:#e2e9f1;
	padding:10px 10px 10px 10px;
	margin:10px 10px 10px 10px;
	width:94%;
	-webkit-border:1px red dashed;
	-moz-border:1px red dashed;
	text-shadow:2px 2px 2px #fff;
	box-shadow: 4px 4px 2px #888888;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
}
p.report {
	float:right;
}
div.tvdgDate ul li span.tvdgShowName{
	text-shadow : 0px 1px 1px white;
	color : #334966;
	font-family : sans-serif;
	display: block;
	font-weight:bold;
}
div.tvdgDate ul li span.tvdgInfo{
	text-shadow : 0px 1px 1px white;
	color : #334966;
	font-family : serif;
	padding : 2px 0 1px 3px ;
}
div.tvdgDate {
	height: 200px;
	overflow:auto;
}
div.ads{
	padding:10px 0px 10px 95px;
}
div.usenext {
	border: 1px solid #FF0000;
	padding: 10px;
	margin-top: 30px;
	background: url(http://www.rlsbb.com/wp-content/uploads/download.gif) no-repeat;
	padding-left: 90px;
	background-position: 5px 5px;
	background-color: #FFFBD9;
}

.usenext .title {
	font-size: 1.1em;
	font-weight: bold;
}

.usenext p {
	padding: 0px;
	margin: 0px;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
.top_page_sub {
	border:1px solid;
	margin:5px;
}