@charset "gb2312";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 \5fae\8f6f\96c5\9ed1,\5b8b\4f53,arial;}
fieldset,img{border:0;}ol,ul{list-style:none;}:focus{outline:0;}s,u{text-decoration:none;}
.none,legend{display:none;}
html{overflow-x:hidden;overflow-y:auto;}
body{color:#666;background:#fff;width:100%;overflow:hidden;}
a{text-decoration:none;color:#666;}a:hover{text-decoration:underline;color:#ff5800;}a:active{outline:none;}a span,a:hover span{cursor:pointer;}
.clearfix:before,.clearfix:after,#topNav:before,#topNav:after,#ppShow:before,#ppShow:after,#ivtab:before,#ivtab:after,#focus:before,#focus:after,#focus-side h2:before,#focus-side h2:after,#favorites .content:before,#favorites .content:after,.cmbox .title:before,.cmbox .title:after,#friendlink ul:before,#friendlink ul:after{content:".";display:block;height:0;visibility:hidden;font-size:0;}
.clearfix:after,#topNav:after,#ppShow:after,#ivtab:after,#focus:after,#focus-side h2:after,#favorites .content:after,.cmbox .title:after,#friendlink ul:after{clear:both;}
.clearfix,#topNav,#ppShow,#ivtab,#focus,#focus-side h2,#favorites .content,.cmbox .title,#friendlink ul{*zoom:1;}
#topNav,#footer,#page,#container,#fav-soft{width:960px;display:block;margin:0 auto;clear:both;}
#footer{padding:18px 0 12px 0;text-align:center;}#footer p{margin:5px;}#footer a{margin:0 15px;}

/*corner*/
.corner{margin:0 auto;}
.corner li{float:left;text-align:center;z-index:1;position:relative;}
.corner li.hover{z-index:2;}
.corner li a{display:block;cursor:pointer;overflow:hidden;margin:0 auto;}
.corner li a:hover,.corner li.hover a{color:#f60;text-decoration:underline;}
.corner li p{height:18px;padding-top:6px;overflow:hidden;}
.corner li .lb{color:#999;padding-top:0;}
.corner li p a {color:#222;}
.corner li .frame75{background: url(/images/frame75.png) no-repeat;width: 77px;height: 77px;display: inline-block;overflow: hidden;position: absolute;left:2px!important;top: 0!important;left:1px;top:-1px;z-index: 6;}
*html .corner li .frame75{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='/images/frame75.png')}
#azsoft .corner,#azgame .corner,#pgsoft .corner{padding:8px 0 0 2px;}
#azsoft .corner li,#azgame .corner li,#pgsoft .corner li{width:82px;padding:0 22px 0px 0px;height:125px;}
/*autocomplete*/
.autocomplete-w1{background:url(/inc/autocomplete/shadow.png) no-repeat bottom right;position:absolute;top:0px;left:0px; margin:8px 0 0 6px;_background:none;_margin:0;}
.autocomplete{border:1px solid #999;background:#FFF;cursor:default;text-align:left;max-height:350px;overflow:auto;margin:-6px 6px 6px -6px;_height:350px;_margin:0;_overflow-x:hidden;}
.autocomplete .selected{background:#FF6;cursor:pointer;}
.autocomplete div{padding:2px 5px;white-space:nowrap;line-height:22px;overflow:hidden;}
.autocomplete strong{font-weight:normal;color:#06F;font-weight:bold;}
.autocomplete b{float:right;color:#06C;font-size:12px;}
.autocomplete span{line-height:25px;height:20px;margin-left:10px;margin-right:10px;font-size:13px;color:#00F;cursor:pointer;white-space:normal;word-break:break-all;}
#topNav{ text-align:right}
#topNavC{height:31px;line-height:31px;background:#f5f5f5;border-bottom:1px solid #e3e3e3;}#topNav i{float:right;color:#bbb;font-style:normal;}#topNav strong{font-weight:normal;color:#666;float:left;}
#topNav i a,#topNav a{margin:0 10px;}#topNav a.focus{color:#289613;}#topNav a.focus:hover{color:#ff5800;}
#header{position:relative;font:12px/1.5 \5FAE\8F6F\96C5\9ED1,\5B8B\4F53,arial;height:auto;z-index:5;}#logo{display:block;height:66px;width:150px;overflow:hidden;padding:20px 0 2px 0;left:0;top:0;position:relative;z-index:0;}
#nav{position:relative;height:40px;background:#3fb118;overflow:hidden;}#nav span a{height:40px;line-height:40px;overflow:hidden;float:left;display:inline;margin-right:1px;font-size:14px;color:#fff;display:block;padding:0 23px;position:static;}#nav span a.nav-cur,#nav span a.nav-cur:hover{background:#289613;}#nav span a:hover{background:#2b9e15;text-decoration:none;color:#fff;}#nav a{font-size:12px;position:absolute;right:12px;top:12px;color:#ff0;}#nav a:hover{text-decoration:underline;background:#3fb118;color:#ff0;}
#subNav{height:35px;background:#f5f5f5;}#subNav i{font-style:normal;height:35px;line-height:35px;overflow:hidden;float:left;padding:0 15px;}#subNav i.on{background: url(/style/css/images/subnavOn1.gif) no-repeat 8px 7px;}
#search{width:534px;height:38px;position:absolute;right:0;top:18px;z-index:9;}#searchbox,#searchBox{float:left;display:inline;width:385px;height:26px;line-height:26px;overflow:hidden;padding:4px 69px 4px 5px;background:#fff;border:2px solid #40b019;border-right:0 none;font-size:14px;color:#333;}#searchBtn{float:left;width:72px;height:38px;border:0 none;cursor:pointer;background:#3fb019;color:#fff;font-size:14px;}#ssfl{position:absolute;left:386px;top:2px;width:75px;text-indent:7px;background:#fcfcfc;z-index:9;}#ssfl b{display:block;width:73px;height:34px;line-height:34px;border-left:1px solid #ddd;background:url(/style/css/images/syspr14.gif) 25px -64px no-repeat;font-weight:normal;cursor:pointer;}#ssfl span{display:block;border:1px solid #eee;border-top:0 none;}#ssfl span i{display:block;font-style:normal;line-height:25px;cursor:pointer;}#ssfl span i.hover{background:#93CE7A;color:#fff;}#ssk{position:absolute;top:44px;left:0;z-index:1;}#ssk a{padding-right:10px;}
/*bdsearch*/
#bdcs-search-form-input{float:left;display:inline;width:385px;height:20px;line-height:20px;overflow:hidden;padding:7px 69px 7px 5px;background:#fff;border:2px solid #40b019;border-right:0 none;font-size:14px;color:#333;}
#bdcs-search-form-submit{float:left;width:72px;height:38px;border:0 none;cursor:pointer;background:#3fb019;color:#fff;font-size:14px;}
#bdcs .bdcs-hot{position:absolute;top:37px;left:0;z-index:-1;}#bdcs .bdcs-hot-item{padding-right:10px;font-size:12px;color:#666;}#bdcs .bdcs-hot-item:hover{color:#ff5800;}
.bdcs-hot{width:534px;height:30px;line-height:30px;overflow:hidden;position:absolute;top:37px;left:0;z-index:-1;}.bdcs-hot-item{margin-right:10px;padding-right:10px;font-size:12px;color:#666;}.bdcs-hot-item:hover{color:#ff5800;}
.red{color:red;}
.red{color:red;}

#inRec{width:958px;margin:9px 0 0 0;border:1px solid #eee;position:relative;}
#inRec dt{font-size:0;text-indent:-999px;position:absolute;left:-1px;top:-1px;width:43px;height:43px;background:url(/style/css/images/syspr14.gif) 0 0 no-repeat;overflow:hidden;}#inRec dd{padding-bottom:4px;}#ppShow{padding:18px 0 12px 3px;}#ppShow li{float:left;padding:0 0 0 21px;text-align:center;height:80px;overflow:hidden;width:82px;}#ppShow li a{display:block;}#ppShow li img{width:80px;height:60px;display:block;margin-bottom:2px;}#ppShow li a:hover img{border-color:#f90;}
#inRec p{line-height:38px;height:38px;overflow:hidden;}#inRec dd p.clo{background:#f5f5f5;}#inRec dd p.hover{background:#eee;}#inRec dd p.hover b{background-position:0 -22px;color:#fff;}#inRec p.hover b a{color:#fff;}#inRec p b{float:left;display:inline;margin:8px 0 0 15px;font-weight:normal;width:64px;height:22px;line-height:22px;line-height:23px;overflow:hidden;background:url(/style/css/images/litem0.gif) 0 0 no-repeat;text-indent:6px;}#inRec p span a{padding:0 11px;border-right:1px solid #ccc;}

#focus{margin:9px 0 0 0;height:486px;}
#commend{width:202px;float:left;overflow:hidden;}#soft-news{float:left;display:inline;width:746px;margin-left:12px;}#read-hot{width:504px;float:left;overflow:hidden;}#focus-side{width:217px;height:483px;padding-left:13px;float:right;background:url(/style/css/images/ttline.gif) -3px 0 repeat-y;}
#commend h2,#read-hot .title .fl,#focus-side h2,#soft-rank .tabTitle li,#favorites .title,#friendlink .title{font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,arial;font-weight:normal;padding:0 0 4px 11px;background:url(/style/css/images/syspr14.gif) -36px -106px no-repeat;border-bottom:1px solid #e0e0e0;color:#000;}#commend h2{background:#F48B2F;color:#fff;border:0 none;padding:0;height:36px;line-height:36px;text-align:center;}#commend ul{background:#FDE8D5;padding:6px 8px 7px 8px;width:186px;overflow:hidden;}#commend li{height:28px;line-height:28px;margin:0 0 0 5px;padding:0;width:175px;overflow:hidden;}*+html #commend li{margin:0 0 0 5px;}#commend li img{float:left;height:20px;width:20px;display:inline;margin-top:3px;}#commend li a{display:inline;width:12em;height:20px;margin-left:6px;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;}#commend .bbor{padding-bottom:3px;border-bottom:1px dashed rgb(216, 216, 216);margin-bottom:3px;}
#read-hot .title{padding:5px 0 6px 0;border-bottom:1px solid #e0e0e0;}#read-hot .title .fl{position:relative;border-bottom:2px solid #3fb018;background:0 none;padding:0 10px 7px 10px;width:76px;overflow:hidden;bottom:0;bottom:1px\9;_bottom:-1px;}*+html #read-hot .title .fl,*+html #focus-side h2 span{padding-bottom:7px;}#read-hot .title .fr{float:right;width:360px;overflow:hidden;text-align:right;font-size:12px;padding-right:10px;padding-top:4px;}#read-hot .title .fr em{color:#ff1426;padding-right:10px;font-weight:normal;font-style:normal;}#read-hot .title .fr a{color:#289613;}#read-hot .title .fr a:hover{color:#ff5800;}
.topnews{font-size:14px;line-height:24px;width:472px;margin:0 14px;height:71px!important;height:70px;overflow:hidden;text-align:center;border-bottom:1px dashed #ddd;}.topnews .news-top{margin-top:7px;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,arial;}.topnews .news-top a{color:#a54747;font-size:16px;line-height:30px;font-weight:bold;padding-left:40px;height:auto;padding-bottom:2px;background:url(/style/css/images/syspr14.gif) -5px -242px no-repeat;width:auto;overflow:hidden;position:relative;z-index:1;top:2px!important;}.topnews a {font-size:12px;display:inline-block;width:11em;height:14px;line-height:14px;overflow-y:hidden;position:relative;z-index:1;top:3px!important;top:0;}
#ivtab dt{height:392px;width:62px;float:right;display:inline;margin:10px;background:url(/style/css/images/ttline.gif) 1px 0 repeat-y;}#ivtab dt span,#ivtab dt a{display:block;width:47px;height:30px;text-align:center;line-height:30px;_line-height:31px;overflow:hidden;font-size:14px;background:url(/style/css/images/ttbg.gif) 0 -56px no-repeat;margin:10px 0 20px 0;cursor:pointer;padding:0 0 5px 13px;}#ivtab dt .cur{background-position:-62px -56px;color:#fff;}#ivtab dd{display:none;}#ivtab dd.on{display:block;padding:7px 10px 0 10px;}#ivtab dd p{line-height:30px;height:30px;overflow:hidden;}#ivtab dd img{width:20px;height:20px;position:relative;top:4px;margin-right:4px;}#ivtab dd p span{float:right;display:inline;padding-left:10px;position:relative;top:3px;_top:2px;color:#666;}#ivtab dd p i{width:60px;height:17px;line-height:17px;padding:0 10px 0 0;margin:6px 7px 0 0;border-right:1px solid #999;text-align:right;float:left;display:inline;font-style:normal;overflow:hidden;}#ivtab dd p i a{color:#999;font-size:12px;width:auto;}#ivtab dd p i a:hover{color:#ff5800;}#ivtab dd p a{font-size:14px;overflow:hidden;}#ivtab dd p.ge{padding:0 0 7px 0;border-bottom:1px dashed #ddd;margin:0 0 4px 0;}
#focus-side .azsc img{position:relative;display:block;width:216px;height:90px;}#focus-side h2{background:none;margin:3px 0 5px 0;padding:0;border:0 none;position:relative;left:-20px;padding-left:20px;}#zxzx h2{margin:9px 0 2px 0;}#focus-side h2 a{color:#289613;}#zxzx h2 a{color:#F48B2F;}#focus-side h2 span{position:relative;padding:0 10px 6px 10px;border-bottom:2px solid #3fb018;bottom:0px;bottom:1px\9;_bottom:-1px;}
.span_r{color:#999;float:right;}#zxzx li{height:26px;line-height:26px;overflow:hidden;padding:0 2px 0 12px;background:url(/style/css/images/syspr14.gif) -37px -31px no-repeat;}#recomZt .ztImg{padding:4px 0 6px 0;display:block;}#recomZt li{width:86px;padding:0 7px 0 12px;height:26px;line-height:26px;overflow:hidden;float:left;background:url(/style/css/images/syspr14.gif) -37px -31px no-repeat;}#recomZt li a{width:7em;overflow:hidden;display:block;}

.tabContent{padding:6px 9px 5px 9px;width:210px;overflow:hidden;background:url(/style/css/images/orank.gif) no-repeat 12px 11px;}.tabContent li{width:210px;height:35px;line-height:35px;overflow:hidden;text-indent:34px;border-bottom:1px dashed #f0f0f0;}
#fav-soft{margin-top:10px;}#soft-rank{float:right;width:230px}#favorites{width:720px;}
#favorites .title{background-position:-39px -154px;}#favorites .title h2{font-size:16px;font-weight:normal;}#favorites .content{background:url(/style/css/images/nfav_bg.gif) no-repeat 4px 36px;border:1px solid #e0e0e0;border-top:none;overflow:hidden;}#favorites .content dl{float:left;display:inline;width:143px;padding-bottom:11px;}#favorites .content dt{background:#f9f9f9;height:35px;line-height:35px;text-align:center;color:#000;font-size:14px;margin-bottom:7px;}#favorites .content dd{text-indent:38px;margin-top:7px;}
#soft-rank{background:url(/style/css/images/syline.gif) 0px 29px no-repeat;}#soft-rank .tabTitle li{background:0 none;padding:0 0 4px 0;text-align:center;float:left;width:115px;cursor:pointer;line-height:24px;}#soft-rank .tabTitle .tab_2{border-bottom:2px solid #3fb018;}

.cmbox{margin-top:15px;}.cmbox .title{padding:0 0 0 43px;background:url(/style/css/images/syspr14.gif) 0px -282px no-repeat;color:#000;height:42px;line-height:42px;_overflow:hidden;border-top:2px solid #289613;}.cmbox .title h2{font-size:20px;float:left;display:inline;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,arial;font-weight:normal;padding:0 10px;}.cmbox .title span,.cmbox .title p{float:left;width:225px;height:45px;line-height:45px;position:relative;font-size:14px;}.cmbox .title span{width:310px;}.cmbox .title .more{float:right;height:45px;line-height:45px;font-size:14px;width:60px;}.cmbox .title p{overflow:hidden;text-align:right;}.cmbox .title p a{padding:0 7px;border-right:1px solid #cfcfcf;}.cmbox .title span i{font-style:normal;height:28px;line-height:28px;color:#666;float:left;display:inline;margin-top:7px;width:75px;text-align:center;cursor:pointer;}.cmbox .title span .cur{background:#289613;color:#fff;}.cmbox .content .rank{float:right;width:229px;overflow:hidden;}.cmbox .rank h3{padding:0 0 0 12px;color:#000;font-weight:normal;}.cmbox .main-box2{width:730px;float:left;overflow:hidden;}.ctr span{float:right;display:inline;}
#azsoft .content,#azgame .content,#pgsoft .content,#pcgame .content{display:none;}#azsoft .on,#azgame .on,#pgsoft .on,#pcgame .on{display:block;}#azsoft .content,#azgame .content{position:relative;}#azsoft .title p,#azgame .title p{width:532px;}#azsoft .content .ctr,#azgame .content .ctr{z-index:4;display:none;/*padding-left:350px;*/position:absolute;top:-43px;right:0px;height:45px;line-height:45px;font-size:14px;overflow:hidden;}#azsoft .on .ctr,#azgame .on .ctr{display:inline;}#azsoft .content .ctr a,#azgame .content .ctr a{padding:0 7px;border-right:1px solid #cfcfcf;}#azsoft .content .ctr .more,#azgame .content .ctr .more{float:right;border:none;}
#pgsoft .title{background-position:0px -330px;}#pgsoft .title p{width:520px;}#pgsoft .content{position:relative;}#pgsoft .content .ctr{z-index:4;display:none;/*padding-left:415px;*/position:absolute;top:-43px;right:0px;height:45px;line-height:45px;font-size:14px;overflow:hidden;}#pgsoft .on .ctr{display:inline;}#pgsoft .content .ctr a{padding:0 7px;border-right:1px solid #cfcfcf;}#pgsoft .content .ctr .more{float:right;border:none;}
#pcgame .title{background-position:0px -378px;}#pcgame .title p{width:755px;}#pcgame .content{position:relative;}#pcgame .content .ctr{z-index:4;display:none;/*padding-left:415px;*/position:absolute;top:-43px;right:0px;height:45px;line-height:45px;font-size:14px;overflow:hidden;}#pcgame .on .ctr{display:inline;}#pcgame .content .ctr a{padding:0 7px;border-right:1px solid #cfcfcf;}#pcgame .content .ctr .more{float:right;border:none;}
.pBox{padding:6px 0px 0px 0px;}.pBox li{display:inline;float:left;width:124px;padding:0 22px 13px 0;position:relative;}.pBox li .img img{background:#fff;width:120px;height:170px;padding:1px;}.pBox li .img:hover img{background:#289613;}.pBox li .img span{display:block;padding:4px 0;width:10em;text-align:center;overflow:hidden;height:17px;cursor:pointer;}.pBox li .bb{width:10em;text-align:center;display:block;color:#999;height:18px;overflow:hidden;}.pBox .mask{position:absolute;width:118px;height:24px;background:#000;filter:alpha(opacity=50);opacity:0.5;top:147px;left:2px;}.pBox .fen{position:absolute;color:#fff;font-weight:bold;top:150px;left:7px;}.pBox .lan{position:absolute;display:block;width:30px;height:18px;line-height:18px;background:#3fb018;color:#fff;text-align:center;font-weight:bold;top:150px;left:85px;}
#dhang .title{background-position:0px -426px;}#dhang{padding-bottom:4px;}#dhang .cate{margin-top:7px;clear:both;height:30px;line-height:30px;font-size:14px;}#dhang .cate h3{float:left;display:inline;text-indent:5px;font-weight:normal;color:#289613;font-size:13px;width:72px;background:url(/style/css/images/idhk.gif) 0 0 no-repeat;}#dhang .cate p{color:#cfcfcf;}#dhang .cate p a{padding:0 6px;}
#gxsoft .title{background-position:0px -474px;}#gxsoft{margin-top:18px;}#gxsoft .tit{width:706px;float:left;font-size:14px;}#gxsoft .tit li{float:left;color:#666;display:inline;margin-top:7px;width:78px;height:28px;line-height:28px;text-align:center;overflow:hidden;cursor:pointer;}#gxsoft .tit .current{color:#fff;background:#289613;}#gxsoft .cont{display:none;}#gxsoft .on{display:block;}#gxsoft .textList{width:343px;padding:9px 15px;padding:10px 13px;float:left;overflow:hidden;font-size:14px;}#gxsoft .line{border-right: 1px dashed #ddd;padding-left:0;}#gxsoft .textList li{line-height:28px;height:28px;overflow:hidden;}#gxsoft .textList li em{font-style:normal;float:right;color:#999;}#gxsoft .textList li span{padding-right:4px;}#gxsoft .textList li span a{color:#999;}#gxsoft .textList li a{color:#333;}#gxsoft .textList li span a:hover,#gxsoft .textList li a:hover{color:#ff5800;}

#friendlink .title{margin:15px 0 0 0;background-position:-39px -154px;}#friendlink .content ul{border:1px solid #e0e0e0;border-top:0 none;padding:5px 0;}#friendlink .content li{float:left;margin-left:9px;display:inline;white-space:nowrap;line-height:26px;}
.gotop{display:none;}
#gotoBox{display:none;position:fixed;bottom:220px;left:50%;cursor:pointer;margin-top:-50px;margin-left:500px;width:41px;}
#gotoBox{_position:absolute;_top:expression(documentElement.scrollTop + 200 + "px")}
#gotoBox i,#gotoBox a{display:block;line-height:36px;height:36px;width:30px;padding:3px 5px;font-style:normal;text-align:center;background:#fafafa;border:1px solid #eee;}#gotoBox i{background:url(/style/css/images/gtp.gif) 0 0 no-repeat;border:none;padding:4px 6px;}
#gotoBox a{margin-bottom:7px;}
#gotoBox a:hover{text-decoration:none;background-color:#3ba354;border-color:#3ba354;color:#fff;}#gotoBox i.hover{background-position:0 -44px;}
#gotoBox a.cur{color:#5fb733;}#gotoBox a.cur:hover{color:#fff;}