.srkys {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;}A.c51026{
font-size: 9pt;
color: #fff;
text-decoration: none;}
A.c51026:link {
color: #fff;}  
A.c51026:visited {
color: #fff;}  
A.c51026:active {
color: #fff;}  
A.c51026:hover {
color: #fff;}
.c51026_jump {
font-size: 9pt;
font-family: 宋体;}/* 以下样式不用修改 开始*/
    /* 默认ul 无需修改 */
    .nav_menustyle_1_1 ul
    {
        list-style-type:none;
        padding:0px; 
        margin:0px;}
    /* 默认li 无需修改 */
    .nav_menustyle_1_1 li
    {
        float:left;
        text-align:center;
        position:relative;}
    /* 2级以上 li 无需修改 */
    .nav_menustyle_1_1 ul li ul li
    {
        z-index:999999;
        white-space:nowrap;}
    /* 3级以上默认ul 无需修改 */
    .nav_menustyle_1_1 ul li ul li ul
    {
        left:100%;
        top:0px;}
    /* IE6下的table样式 无需修改 */
    .nav_menustyle_1_1 table 
    {
        position:absolute; 
        left:0px;
        border-collapse:collapse; 
        border-spacing:0; 
        z-index:100;}   
    .nav_menustyle_1_1 table table
    {
        top:0px;}
    .nav_menustyle_1_1 td 
    {
        padding: 0;}   
    /* 共6级导航子菜单打开关闭控制 无需修改 */
    .nav_menustyle_1_1 li ul,
    .nav_menustyle_1_1 li:hover ul li ul,
    .nav_menustyle_1_1 li:hover ul li:hover ul li ul,
    .nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul li ul,
    .nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul li:hover ul li ul
    {
        display:none;}
    .nav_menustyle_1_1 li a:hover ul li ul,
    .nav_menustyle_1_1 li a:hover ul li a:hover ul li ul,
    .nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul li ul,
    .nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul li a:hover ul li ul
    {
        visibility:hidden;}
    .nav_menustyle_1_1 li a:hover ul,
    .nav_menustyle_1_1 li:hover ul,
    .nav_menustyle_1_1 li:hover ul li:hover ul,
    .nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul,
    .nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul li:hover ul,
    .nav_menustyle_1_1 li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul    
    {
        display:block;
        position:absolute;}
    .nav_menustyle_1_1 li a:hover ul li a:hover ul,
    .nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul,
    .nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul li a:hover ul,
    .nav_menustyle_1_1 li a:hover ul li a:hover ul li a:hover ul li a:hover ul li a:hover ul
    {
        visibility:visible;}
    /* 默认a属性 无需修改 */
    .nav_menustyle_1_1 a
    {
        display:block;
        text-decoration:none;
        white-space:nowrap;}
/* 以上样式不用修改 结束*/
/* 默认链接样式 可以修改默认的 字体、颜色、宽度、高度、背景色、边框等*/
.nav_menustyle_1_1 a
{
    width: 100px;         /*菜单宽度*/
    height: 25px;        /*菜单高度*/
    font-size: 14px;     /*字体大小*/
    color: #FFF;         /*字体颜色*/
    font-weight: bold;}
/* 默认hover链接样式 可以设置默认的鼠标移上样式 */
.nav_menustyle_1_1 a:hover
{
    color: #FFF; /*鼠标移上颜色*/
    font-size: 14px;
    font-weight: bold;}
/* IE6兼容性代码，在IE6下起效， 必须根据菜单高宽进行设定 */
.nav_menustyle_1_1 table 
{
    top:24px;}   
.nav_menustyle_1_1 table table
{
    left:91px;}   
/* 2级以上链接样式 可以修改2级以上菜单的 字体、颜色、宽度、高度、背景色、边框等*/
.nav_menustyle_1_1 ul li ul li a
{
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: normal;
    line-height: 30px;
    width: 50px;
    height: 35px;
    text-align:center;}
/* 2级以上hover链接样式 可以修改2级以上菜单的鼠标移上样式*/
.nav_menustyle_1_1 ul li ul li a:hover
{
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: normal;
    line-height: 30px;
    width: 50px;
    height: 35px;
    text-align:center;}
/* 3级以上链接样式 可以修改3级以上菜单的 字体、颜色、宽度、高度、背景色、边框等*/
.nav_menustyle_1_1 ul li ul li ul li a
{}
/* 3级以上hover链接样式 可以修改3级以上菜单的鼠标移上样式*/
.nav_menustyle_1_1 ul li ul li ul li a:hover
{}.selectstyle51028{ font-size: 9pt; border-top: #72080a 1px solid; height: 20px; font-family: 宋体; border-right: #72080a 1px solid; border-bottom: #72080a 1px solid; position: relative; color: #72080a; border-left: #72080a 1px solid; width: 87px; background-color: #ffffff ;}
.titlestyle51028{ font-size: 9pt; font-family: 宋体; color: #72080a; text-align: center ;}
.selectstyle51029{ font-size: 9pt; border-top: #72080a 1px solid; height: 20px; font-family: 宋体; border-right: #72080a 1px solid; border-bottom: #72080a 1px solid; position: relative; color: #72080a; border-left: #72080a 1px solid; width: 87px; background-color: #ffffff ;}
.titlestyle51029{ font-size: 9pt; font-family: 宋体; color: #72080a; text-align: center ;}
.font51242{ font-size: 9pt ;}
.fontstyle51242{ display: block; font-size: 9pt; margin: 0px; color: #ffffff; padding-top: 2px; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none ;}
div.sauder-feature
{
    width:  1000px; height: 332px; padding-bottom: 0px; left: 0px;top: 0px;
    position: relative;
    cursor: pointer;
    margin-bottom: 0px;}
div.sauder-feature div.shadow-top
{
    width: 100%; height: 6px;
    overflow: hidden; position: absolute; left: 0px; top: 0px; z-index: 30;}
div.sauder-feature div.featureitem
{

    overflow: hidden; width: 151px;
    float: left; position: relative;
    
    -webkit-box-shadow: 0px 0px 40px #000000; -moz-box-shadow: 0px 0px 40px #000000; box-shadow: 0px 0px 40px #000000;}
div.sauder-feature div.featureitem a
{
    position: relative;
    display: block;
    
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;}
div.sauder-feature div.featureitem a:focus
{
    background: white;}
div.sauder-feature div.featureitem a:focus img
{}
div.sauder-feature div.subcontent
{
    padding: 0px 5px 15px 5px;
    position: absolute; z-index: 1;
    
    display: none;}
div.sauder-feature div.subcontent.Left
{
    bottom: -410px; left: 50px;}
div.sauder-feature div.subcontent.Right
{
    bottom: -340px;
    left: 310px;}
div.sauder-feature div.subcontent.Centre
{
    bottom: -410px; left: 200px;}
div.sauder-feature div.subcontent div
{
    padding: 5px 20px 5px 20px; width: 373px;
    background-image: url(images/wzqbjt.png);}
div.sauder-feature div.subcontent h2
{
   color: white; text-shadow: 1px 1px 1px RGBA(0,0,0,0.2);
    height: 18px;
    text-align: left;
    font-family: "微软雅黑";
    line-height: 18px;
    font-size: 14px;}

.newschangetitlestyle
{
    color: white; text-shadow: 1px 1px 1px RGBA(0,0,0,0.2);
    height: 20px;
    text-align: left;
    font-family: "微软雅黑";
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;}
div.sauder-feature div.subcontent p
{
    margin-top: 5px;}
div.sauder-feature div.subcontent strong
{
    background: #ccd14b;
    font-weight: normal;}
div.sauder-feature div.featureitem.open
{
    width: 780px;}

.no-js div.sauder-feature { display: none !important;}    #c51033 ul {list-style: none; margin: 0px; padding: 0px;} 
    #c51033 ul li a {font-family: 宋体; text-decoration: none; color:#fff; display:block; white-space:nowrap; width:80px; height:38px; line-height:40px; font-size:12px; padding:0 0 0 0;} 
    #c51033 ul li { float:left; margin-left:0px;} 
    #c51033 ul li a:hover {color:#ffffff;}
    #c51033 ul li a#current { color:#ffffff;}
    #c51033 ul li ul { border:0px solid #ccc; display:none; position:absolute;} 
    #c51033 ul li ul li {font-family: 宋体;text-decoration: none;font-size:12px; float:none;  margin:0;}
    #c51033 ul li ul li a {height:28px;line-height:28px; text-align:center; color:#ffffff;} 
    #c51033 ul li ul li a:hover {color:#ffffff;}  
    #c51033 ul li:hover ul { display:block;z-index:9999999;}
    #c51033 ul li.sfhover ul { display:block;}    #c51035 ul {list-style: none; margin: 0px; padding: 0px;} 
    #c51035 ul li a {font-family: 宋体; text-decoration: none; color:#fff; display:block; white-space:nowrap; width:80px; height:38px; line-height:40px; font-size:12px; padding:0 0 0 0;} 
    #c51035 ul li { float:left; margin-left:0px;} 
    #c51035 ul li a:hover {color:#ffffff;}
    #c51035 ul li a#current { color:#ffffff;}
    #c51035 ul li ul { border:0px solid #ccc; display:none; position:absolute;} 
    #c51035 ul li ul li {font-family: 宋体;text-decoration: none;font-size:12px; float:none;  margin:0;}
    #c51035 ul li ul li a {height:28px;line-height:28px; text-align:center; color:#ffffff;} 
    #c51035 ul li ul li a:hover {color:#ffffff;}  
    #c51035 ul li:hover ul { display:block;z-index:9999999;}
    #c51035 ul li.sfhover ul { display:block;}    #c51036 ul {list-style: none; margin: 0px; padding: 0px;} 
    #c51036 ul li a {font-family: 宋体; text-decoration: none; color:#fff; display:block; white-space:nowrap; width:80px; height:38px; line-height:40px; font-size:12px; padding:0 0 0 0;} 
    #c51036 ul li { float:left; margin-left:0px;} 
    #c51036 ul li a:hover {color:#ffffff;}
    #c51036 ul li a#current { color:#ffffff;}
    #c51036 ul li ul { border:0px solid #ccc; display:none; position:absolute;} 
    #c51036 ul li ul li {font-family: 宋体;text-decoration: none;font-size:12px; float:none;  margin:0;}
    #c51036 ul li ul li a {height:28px;line-height:28px; text-align:center; color:#ffffff;} 
    #c51036 ul li ul li a:hover {color:#ffffff;}  
    #c51036 ul li:hover ul { display:block;z-index:9999999;}
    #c51036 ul li.sfhover ul { display:block;}    #c51037 ul {list-style: none; margin: 0px; padding: 0px;} 
    #c51037 ul li a {font-family: 宋体; text-decoration: none; color:#fff; display:block; white-space:nowrap; width:80px; height:38px; line-height:40px; font-size:12px; padding:0 0 0 0;} 
    #c51037 ul li { float:left; margin-left:0px;} 
    #c51037 ul li a:hover {color:#ffffff;}
    #c51037 ul li a#current { color:#ffffff;}
    #c51037 ul li ul { border:0px solid #ccc; display:none; position:absolute;} 
    #c51037 ul li ul li {font-family: 宋体;text-decoration: none;font-size:12px; float:none;  margin:0;}
    #c51037 ul li ul li a {height:28px;line-height:28px; text-align:center; color:#ffffff;} 
    #c51037 ul li ul li a:hover {color:#ffffff;}  
    #c51037 ul li:hover ul { display:block;z-index:9999999;}
    #c51037 ul li.sfhover ul { display:block;}A.c51038{
font-size:9pt;
line-height:150%;
color:#fff;
text-decoration: none;}
A.c51038:link {
    color: #fff;
    text-decoration: none;}  
A.c51038:visited {
color: #fff;
text-decoration: none;}  
A.c51038:active {
color: #fff;
text-decoration: none;}  
A.c51038:hover {
color: #fff;
text-decoration: none;}.morestyle51302{ font-size: 9pt ;}
.leaderfont51302{ font-size: 9pt; color: #ffffff; padding-left: 24px; line-height: 240% ;}
.titlestyle51302{ font-size: 9pt; color: #ffffff; line-height: 240% ;}
.columnstyle51302{ font-size: 9pt; line-height: 150%; text-decoration: none ;}
.timestyle51302{ font-size: 9pt; color: #ffffff ;}
A.c51302 {
font-size: 9pt; color: #ffffff; line-height: 240% 
;}
A.c51302:link {
color:#ffffff;}
A.c51302:visited {
color:#ffffff;}
A.c51302:active {
color: #ffffff;}
A.c51302:hover {
color: #ffffff;}.winstyle51034{ font-size: 9pt ;}