.mainbox{
    overflow:hidden;
    position:relative;
}
.flashbox{
   overflow:hidden;
    position:relative;
}
.imagebox{
    text-align:center;position:relative;z-index:999;
}

.bitdiv{display:inline-block;width:18px;height:18px;margin:0 10px 10px 0px;cursor:pointer; text-align:center;}
.defimg{background-image:url(../images/02.png)}
.curimg{background-image:url(../images/01.png)}


* html .mainbox{
    overflow:hidden;
    position:relative;
}
* html .flashbox{
   overflow:hidden;
    position:relative;
}
* html .imagebox{
    text-align:center;position:relative;z-index:999;
}

* html .bitdiv{display:inline-block;width:18px;height:18px;margin:0 10px 10px 0px;cursor:pointer; text-align:center;}
* html .defimg{background-image:url(../images/02.png)}
* html .curimg{background-image:url(../images/01.png)}


*+html .mainbox{
    overflow:hidden;
    position:relative;
}
*+html .flashbox{
   overflow:hidden;
    position:relative;
}
*+html .imagebox{
    text-align:center;position:relative;z-index:999;
}

*+html .bitdiv{display:inline-block;width:18px;height:18px;margin:0 10px 10px 0px;cursor:pointer; text-align:center;}
*+html .defimg{background-image:url(../images/02.png)}
*+html .curimg{background-image:url(../images/01.png)}