/**
 * Created by PoVoD on 23.11.13.
 */


body {
    background:#ccc;
    color:#000;
    font-size:14px;
    font-family:'Roboto', Arial,sans-serif;
}

[class^="icon-"], [class*=" icon-"] {font-family:'icomoon', 'Roboto', sans-serif;}

a {color:#2591e4;text-decoration:none;}

a:hover {color:#e73366;}

nav.addLinks {background:#000;vertical-align: middle;}
    nav.addLinks a sup {color:#e73366}
    nav.addLinks a b {font-size:24px;color:#e73366;}
    nav.addLinks a:active {color:#fff;}
    nav.addLinks a:hover b {color:#fff;}
    nav.addLinks a:active b {color:#e73366;}

section.logo {background:#fff;}

nav.sections {background:#024685;font-size:24px;}
    nav.sections a b {font-size:32px;}
    nav.sections a, nav.sections a b {color:#fff;}
    nav.sections a:hover, nav.sections a:hover b {color:#e73366;}
    nav.sections a:active, nav.sections a.active, nav.sections a:active b, nav.sections a.active b {color:#002649;}

nav.categories {background:#002649;font-size:18px;}
    nav.categories b{font-size:24px;vertical-align:middle;}
    nav.categories>b{color:#e73366;}
    nav.categories a{color:#fff;}
    nav.categories a:hover{color:#e73366;}
    nav.categories .more {background:#002649;border-left:1px solid #024685}
    nav.categories .more a{color:#e73366;font-weight:bold;}
    nav.categories .more a:hover{color:#2591e4;}
    nav.categories .more a:active{color:#024685;}

main>h1 {font-size:22px;color:#fff;background:#e73366;overflow: hidden;white-space: nowrap;}
main>h2 {font-size:24px;color:#002649}

nav.filter a {color:#000}
nav.filter a:hover {color:#024685}
nav.filter a:active,nav.filter a.active {color:#e73366}

nav.pgn a {color:#000;background:#fff;}
nav.pgn a:hover {color:#fff;background:#024685;}
nav.pgn a:active,.pgn a.active {color:#fff;background:#e73366;}

[rel=btn] {color:#fff;background:#002649;}
[rel=btn] b {color:#e73366;}
[rel=btn]:hover {color:#fff;background:#e73366;}
[rel=btn]:hover b {color:#fff;}
[rel=btn]:active {background:#9b9b9b;}

article .ibg {background:#000;}
article:hover .ibg {background:#000;}
article a.ml {color:#e73366}
article a.ml:hover {color:#fff}
article h2 {font-size:14px; font-weight:normal}
article .origin p {color:#fff}
article .origin p>b {color:#e73366;font-size:16px;}
article .favorite {background: url(../pornalized_images/b80.png);color:#941a3c}
article .favorite:hover {background:#000;color:#e73366}

article .vPlayer {background:#000}
article .vTools {font-size:16px;}
article .vTools .rating {color:#002649;}
article .vTools .rating b{color:#e73366;}
article .vInfo a {color:#024685;}
article .vInfo a b {font-size:32px;color:#e73366;}
article .vInfo a:hover {color:#e73366;}
article .vInfo .watchfull {font-size:30px;font-weight:300;}
article .vInfo .desc {font-size:16px; line-height:150%; color:#002649;font-weight:300}
article .vInfo .origin p {font-size:12px;color:#024685}
article .discount p {font-size:18px;color:#002649}
article .discount .block p {color:#fff;line-height: 125%;}
article .discount p b {color:#e73366}
article .discount .block {background:#002649;color:#fff}
article .discount .savings {background:#024685;font-size:16px;}
article .discount big {font-size:30px;font-weight:bold; color:#fff}
article .discount u {text-decoration: line-through}

article .discount [rel=btn] {color:#fff;background:#e73366;}
article .discount [rel=btn] b {color:#fff;}
article .discount [rel=btn]:hover {color:#002649; background:#2591e4}
article .discount [rel=btn]:hover b {color:#002649;}
article .discount [rel=btn]:active {background:#9b9b9b;}

footer {background:#e73366;color:#cecece}
footer .toolbar {background:#000;}
footer .links a {color:#fff; border-left:1px solid #941a3c}
footer .links a:hover {color:#941a3c;}

#s2t{color:#2591e4; background:#024685}
#s2t:hover{color:#e73366;}
#s2t:active{color:#fff;}

input[type=text],input[type=password] {border:2px solid #002649;background:#fff;color:#002649;}
input[type=text]:focus,input[type=password]:focus {color:#fff;background:#002649;}
input[type=submit]{color:#fff;background:#024685;}
input[type=submit]:hover{color:#2591e4;background:#002649;}
input[type=submit]:active{color:#fff;background:#024685;}
input:focus{box-shadow:0 0 10px 0 #2591e4}

form .alert {color:#e73366;}
form .alert input{color:#e73366;border-color:#e73366}

#splash .sbg {background: url(../pornalized_images/b80.png);}
#splash .login header {background:#024685;color:#fff;}
#splash .login .sclose {color:#fff;}
#splash .login .sclose:hover {color:#2591e4;}