/**
 * Created by PoVoD on 23.11.13.
 */

* {padding:0;margin:0;border:0;line-height:100%;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-o-box-sizing:content-box;-ms-box-sizing:content-box;}

html.hidden * {
    visibility: hidden !important;
}

html {
    position:absolute;
    width:100%;
    min-height:100%;
}

body {
    position:absolute;
    width:100%;
    min-height:100%;    
}

[clr] {
    clear:both;
}

i.dT,i.mS {
    font-style: normal;
}

a {text-decoration:none}

p,h1,h2,h3,h4,h5,h6 {
    margin:0.5em 0;
}

.left {float:left;}
.right {float:right;}

.anmt, main a, nav a, a b,
    main input,nav input {
    -webkit-transition: ease-in-out 0.4s;
    -moz-transition: ease-in-out 0.4s;
    -ms-transition: ease-in-out 0.4s;
    -o-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
}

#pG {
    position: absolute;
    width: 100%;
    min-height: 100%;
    min-width: 1000px;
}

#pGlo {
    position:relative;
}

header.m{
    display:block;
    position:relative;
}

header.m>*{
    position:relative;
    padding-left:18px;
    padding-right:18px;
}

    nav.addLinks {
        height:40px;
        padding-right:0;
        line-height:40px;
    }

        nav.addLinks p {line-height:40px;margin:0}
        nav.addLinks a {margin-right:18px}
        nav.addLinks a b {vertical-align: middle;margin-right:0.25em;}

    section.logo {
        height:80px;
    }

        section.logo>a:first-child {
            position:relative;
            width:400px;
            height:66px;
            float:left;
            top:7px;
        }

        section.logo>a:first-child img {width:100%; height:100%}

        #social {
            position:absolute;
            top:24px;
            right:18px;
            height:18px;
            min-width:300px;
        }

    header.m nav.sections {
        height:80px;
        line-height:80px;
    }

    @media all and (min-width:1530px){

        #pGlo {
            width:100%;
        }

        header.m nav.sections {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 440px;
            right: 340px;
        }
    }

        nav.sections a {margin-right:14px;}
        nav.sections b {position:relative;margin-right:0.12em;top:4px}

        #srch {
            position:absolute;
            float:right;
            top:23px;
            right:18px;
            opacity:1;
            width:auto;
            height:34px;
            z-index:30;
            margin-right:14px;
        }

            #srch form{
                margin-right:0;
            }

            #srch input {
                width:170px;
                height:16px;
                line-height:16px;
                vertical-align:middle;
                padding:8px 32px 8px 8px;
                outline:0;
                font-size:14px;
                border-radius:4px;
                border:1px solid transparent;
            }

            #srch input:focus {
                width:230px;
                background:transparent;
                border-color:white;
                color:white;
            }

            #srch .i_search {
                position:absolute;
                width:32px;
                height:32px;
                text-align:center;
                line-height:32px;
                top:50%;
                right:1px;
                margin-top:-16px;
                overflow:hidden;
                font-size:24px;
                background:transparent;
            }

            #srch .i_search:hover {color:#e73366}

            #srch input:focus + .i_search {
                color:white;
            }

    header.m nav.categories {
        height:40px;
        line-height:40px;
        overflow:hidden;
        white-space:nowrap;
    }

        header.m nav.categories a{margin:0 0.5em;}

        header.m nav.categories .more {
            position:absolute;
            top:0;
            right:0;
            height:100%;
            line-height:40px;
            padding:0 18px;
        }

        header.m nav.categories .more a{margin:0;line-height:40px;}

main {
    position:relative;
    display:block;
    width:1000px;
    margin:0 auto;
    z-index:5;
}
main>h1 {
    padding:4px 18px;
    line-height:28px;
    margin:0;
}

main>h2 {
    padding:0px 18px;
    line-height:30px;
    margin:0;
}

nav.filter {
    line-height:36px;
    font-size:18px;
    font-weight:bold;
    text-transform: uppercase;
    margin:4px 0;
    padding: 0 18px;
}

nav.filter.right {
    padding: 0;
}

    nav.filter a {
        margin-right:1em;
    }

nav.pgn {
    position:relative;
    overflow:auto;
    margin-left:18px;
    float:left;
}

    nav.pgn a{
        float:left;
        line-height:36px;
        min-width:22px;
        padding:0 7px;
        height:36px;
        text-align:center;
        margin:4px;
        border-radius:4px;
    }

    nav.pgn a:hover{
        text-decoration:none;
    }

section.items {
    text-align:center;
    margin: 0 auto;
    padding: 0 18px 15px;
}

    .items article {
        float:left;
        position:relative;
        width:241px;
        text-align:left;
        overflow: visible;
        height:170px;
        z-index:1;
    }

    .items article:hover {
        z-index:2;
    }

        .items article .item {
            position:relative;
            margin:3px;
        }

        article .ibg {
            position:absolute;
            top:0;right:0;bottom:0;left:0;
            z-index:-1;
        }

        article .favorite {
            display:none;
            position:absolute;
            z-index:2;
            top:101px;
            right:-1px;
            width:32px;
            height:32px;
            line-height:32px;
            font-size:24px;
            text-align:center;
            cursor:pointer;
        }

        article:hover .favorite {
            display:block;
        }

            article:hover .favorite b{
                line-height:32px;
            }

            article .favorite .icon-heart{
                display:none;
            }
            article .favorite.added .icon-heart{
                display:inline;
            }
            article .favorite.added .icon-heart2{
                display:none;
            }

        article:hover .ibg {
            top:-6px;right:-6px;bottom:-6px;left:-6px;
        }

        article a.ml {
            display:block;
        }

        article .imgroll {
            position:relative;
            width:100%;
            height:132px;
            overflow:hidden;
        }

            article .imgroll img{
                width:100%;
                height:100%;
            }

        article h2 {
            white-space:nowrap;;
            overflow: hidden;
            text-overflow:ellipsis;
            margin:0;
            padding:9px 6px;
        }

        article:hover h2 {
            overflow:visible;
            white-space: normal;
        }

        article .origin {
            padding:0 6px 6px;
        }

        .items article .origin {
            display:none;
        }

        article:hover .origin {
            display:block;
        }

        article .origin p {
            padding-left: 24px;
            line-height: 16px;
            position:relative;
        }

        article .origin p>b {
            font-size: 16px;
            position:absolute;
            top:0;
            left:0;
        }

footer {
    position:relative;
    margin-top:8px;
}

    section.links {
        position:relative;
        padding:15px 18px;
        min-height:170px;
    }

    .links p {
        margin:0;
        padding:8px 0;
        line-height:16px;
    }

    .links p a {
        line-height:16px;
        padding: 0.5em 0 0.5em 20px;
    }

    .csscolumns .links .cols {
        columns: 4;
        -ms-columns:4;
        -moz-columns:4;
        -webkit-columns:4;
    }

    .no-csscolumns .links p{
        float:left;
        width:25%;
    }

#s2t {
    position:fixed;
    bottom:10px;
    padding:10px 15px;
    left:20px;
    text-align:center;
    font-size:16px;
    line-height:100%;
    z-index:120;
    font-weight:bold;
    cursor:pointer;
    display:none;
}

/* Forms */

    form {
        margin-right:18px;

    }

    form p label {
        display:block;
        text-align:left;
        font-size:16px;
    }

    form p.alert {
        text-align:center;
    }

    input {
        outline-color:rgba(0,0,0,0);
    }

    input[type=text],input[type=password] {
        width:100%;
        padding:7px;
        border-radius: 4px;
    }

    input[type=submit] {
        padding:7px;
        border-radius: 4px;
        font-size:24px;
    }


/* Forms End*/


#splash {
    position:absolute;
    width:100%;
    min-width:1000px;
    min-height:100%;
    z-index:100;
    display:none;
}

    #splash .sbg {
        position:absolute;
        top:0; bottom:0; left:0; right: 0;
        z-index:1;
        display:none;
    }

    #splash .content {
        position:relative;
        z-index:2;
        background:#fff;
        display:none;
    }

    #splash .login {
        position:absolute;
        width:540px;
        height:400px;
        top:50%;
        left:50%;
        margin-top:-200px;
        margin-left:-270px;
    }

    #splash .login header {
        height:70px;
        line-height:70px;
        font-size:30px;
        text-align:center;
    }

    #splash .login header b {
        position: relative;
        top: 3px;
        margin-right: 0.3em;
    }

    #splash .login .sclose {
        position:absolute;
        display:block;
        z-index:10;
        top:25px;
        right:25px;
        line-height:20px;
    }

    #splash .login .sclose b{
        position: relative;
        top: 2px;
        margin-left:0.3em;
    }

    #splash .login .form {
        width:264px;
        margin:0 auto;
    }

    #splash .login .form input{
        margin-top:0.5em;
    }

    #splash .login .form p {
        margin-top:1.5em;
    }

    #splash .login input[type=submit] {
        width:100%;
        border:2px solid transparent;
    }

[rel=btn] {
    padding:7px;
    border-radius: 4px;
}
[rel=bcnt] {
    line-height:220%;
}

section.videoPage {
    position:relative;
    padding:18px;
    padding-top:8px;
}

    section aside {
        float:right;
        width:300px;
        margin-left:18px;
    }

    article.container {
        position:relative;
        float:left;
        width:646px;
    }

        .vPlayer {
            position:relative;
            height:100%;
            overflow:hidden;
        }

        .vPlayer, .vPlayer video, .vPlayer object{
            width:646px;
            height:363px;
        }

        #vpcDiv {
            overflow:hidden;
            width:100%;
            height:100%;
        }

        #vpcDiv video, #vpcDiv object {
            width:100%;
            height:100%;
        }

        .vTools {
            padding-top:18px;
            position:relative;
            float:right;
            margin-left:18px;
            width:190px;
        }

            .vTools .rating {
                text-align:center;
                font-weight:bold;
            }

            .vTools [rel=btn] {
                display:block;
                text-align:center;
            }

            .vTools [rel=btn] b{
                margin-right:0.5em;
            }

            .vTools p {
                margin-bottom:1em;
            }

        .vInfo {
            overflow:auto;
        }

            .vInfo .desc {
                text-align: justify;
            }

            .vInfo .origin {
                margin:1em 0 0;
            }

        .discount .block {
            min-height:127px;
        }

            .discount .block img{
                float:left;
                width:200px;
                height:127px;
            }

            .discount .block p{
                padding:9px 18px;
                overflow:auto;
                margin:0;
            }

            article .discount .savings {
                float:right;
                margin-top:13px;
                padding:13px 0;
                height:75px;
                width:115px;
                text-align:center;
                line-height:25px;
            }

            .discount [rel=btn] {
                display: block;
                float: left;
            }


/*-- ExoClick Ad. PopUp--*/
.allIM {
    display: block;
    width: 100%;
    left: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 9998;
    height: 0;
}

.allIMwindow {
    display: block;
    width: 377px;
    height: 323px;
    top: 0px;
    right: 10px;
    position: absolute;
    z-index: 9999;
    background:url('http://i30.pornoid.com/pornoid_images/sprites.png') -0px -863px;
    font-family: Arial;
    font-size: 11px;
}

.allIMwindow-header {
    line-height: 25px;
    width: 314px;
    height: 30px;
    background-repeat: repeat-none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    padding-top: 5px;
    padding-left: 14px;
    padding-bottom: 0px;
    margin: 0px;
}

.allIMwindow-title {
    position:absolute;
    top:16px;
    left: 40px;
    font-size:14px;
    color:#f00;
}

.allIMwindow-header-close{
    display: block;
    position: absolute;
    top: 6px;
    right: 8px;
    width:26px;
    height:26px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    background:url('http://www.pornalized.com/pornalized_images/sprites.png') 0px -1186px;
}

.allIMwindow-header-close:hover{
    background-position:-26px -1186px;
}

.allIMwindow-header-close:active{
    background-position:-52px -1186px;
}

.IMcontent {
    width: 300px;
    position:absolute;
    top:35px;
    left:40px;
}


#c2p {
    width: 628px !important;
    height: 366px !important;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -314px !important;
    margin-top: -183px !important;
    background: url('../pornalized_images/c2pbg.png?rnd=1') -0px -0px !important;
    z-index: 10000;
    display: none;
}


#c2p .title {
    position:absolute;
    top:1px;
    left:26px;
    width:155px;
    text-align:center;
    font-family:Tahoma, Arial, sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#fff;
    text-shadow:0px 1px 0px #3c1111;
    line-height:24px;
}

#c2p .img
{
    margin-top:35px;
    margin-left:-6px;
}

#c2p .img div {
    border: 0 !important;
    position: absolute;
    top: 30px;
    right: 14px;
}

#c2p .img div:last-child {
    left:14px;
    right:auto;
}

#c2p .btn {
    position: absolute;
    width: 284px;
    height: 51px !important;
    top: 290px;
    left: 50%;
    margin-left:-142px;
    cursor: pointer;
    background: #e73366;
    line-height:51px;
    font-size:30px;
    color:#000;
    text-shadow:0px 1px 0px #ff6161;
    text-align:center;
    text-decoration:none;
}

#c2p .btn:hover {
    background-position:0px -761px;
    color:#fff;
    text-shadow:0px 1px 0px #000;
}

#c2p .btn:active {
    background-position:0px -812px;
    color:#999;
    text-shadow:0px 1px 0px #000;
}
        
        #c2p_small {
            position:absolute;
            /*top:50%;
            left:50%;*/
            top:180px;
            left:350px;         
            width:328px;
            height:367px;
            margin-top:-184px;
            margin-left:-164px;
            background:url(http://i30.pornalized.com/pornalized_images/sprites.png) 0px -343px;
            display: none;
            z-index: 10000;            
        }
        
            #c2p_small .title {
                position:absolute;
                top:1px;
                left:26px;
                width:155px;
                text-align:center;
                font-family:Tahoma, Arial, sans-serif;
                font-size:10px;
                font-weight:bold;
                color:#fff;
                text-shadow:0px 1px 0px #3c1111;
                line-height:24px;
            }        
        
            #c2p_small .img {
                position:absolute;
                top:31px;
                left:14px;
                width:300px;
                height:250px;
                overflow:hidden;
            }
            
            #c2p_small .btn {
                position:absolute;
                top:291px;
                left:23px;
                width:283px;
                height:51px;
                cursor:pointer;
                background:url(http://i30.pornalized.com/pornalized_images/sprites.png) 0px -710px;
                line-height:51px;
                font-size:30px;
                color:#000;
                text-shadow:0px 1px 0px #ff6161;
                text-align:center;
                text-decoration:none;                
            }

            #c2p_small .btn:hover {
                background-position:0px -761px;
            }
            
            #c2p_small .btn:active {
                background-position:0px -812px;
            }

            /* light fix */

article h2 {
    display:none;
}

.items article {
    height:133px;
}

.items article .item {
    margin: 0 1px 1px 0;

}

.items article .ibg {
    top: -1px;
    bottom: -1px;
    right: -1px;
    left: -1px;
}

