@font-face {
	font-family: 'icomoon';
	src:url('../pornalized_fonts/icomoon.eot');
	src:url('../pornalized_fonts/icomoon.svg#icomoon') format('svg'),
        url('../pornalized_fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../pornalized_fonts/icomoon.ttf') format('truetype'),
		url('../pornalized_fonts/icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bookmarks:before {
    content: "\e600";
}
.icon-globe:before {
    content: "\e601";
}
.icon-fire:before {
    content: "\e602";
}
.icon-camera:before {
    content: "\e603";
}
.icon-mobile:before {
    content: "\e604";
}
.icon-contrast:before {
    content: "\e605";
}
.icon-heart:before {
    content: "\e606";
}
.icon-heart2:before {
    content: "\e607";
}
.icon-signup:before {
    content: "\e609";
}
.icon-enter:before {
    content: "\e60a";
}
.icon-exit:before {
    content: "\e60b";
}
.icon-tags:before {
    content: "\e60c";
}
.icon-tag:before {
    content: "\e60d";
}
.icon-bullhorn:before {
    content: "\e60e";
}
.icon-search:before {
    content: "\e60f";
}
.icon-menu:before {
    content: "\e610";
}
.icon-star:before {
    content: "\e611";
}
.icon-star2:before {
    content: "\e612";
}
.icon-star3:before {
    content: "\e613";
}
.icon-play2:before {
    content: "\e614";
}
.icon-download:before {
    content: "\e615";
}
.icon-arrow-right:before {
    content: "\e616";
}
.icon-arrow-up:before {
    content: "\e617";
}
.icon-close:before {
    content: "\e618";
}
.icon-arrow-left:before {
    content: "\e619";
}
.icon-arrow-down-left:before {
    content: "\e61a";
}
.icon-arrow-down:before {
    content: "\e61b";
}
.icon-arrow-down-right:before {
    content: "\e61c";
}
.icon-arrow-up-right:before {
    content: "\e61d";
}
.icon-checkbox-checked:before {
    content: "\e61e";
}
.icon-checkbox-unchecked:before {
    content: "\e61f";
}
.icon-checkbox-partial:before {
    content: "\e620";
}
.icon-radio-checked:before {
    content: "\e621";
}
.icon-radio-unchecked:before {
    content: "\e622";
}
.icon-backward:before {
    content: "\e623";
}
.icon-play:before {
    content: "\e624";
}
.icon-stop:before {
    content: "\e625";
}
.icon-pause:before {
    content: "\e626";
}
.icon-forward:before {
    content: "\e627";
}
.icon-first:before {
    content: "\e628";
}
.icon-last:before {
    content: "\e629";
}
.icon-previous:before {
    content: "\e62a";
}
.icon-next:before {
    content: "\e62b";
}
.icon-volume-mute:before {
    content: "\e62c";
}
.icon-volume-high:before {
    content: "\e62d";
}
.icon-volume-medium:before {
    content: "\e62e";
}
.icon-volume-low:before {
    content: "\e62f";
}
.icon-pause2:before {
    content: "\e630";
}
.icon-stop2:before {
    content: "\e631";
}
.icon-backward2:before {
    content: "\e632";
}
.icon-forward2:before {
    content: "\e633";
}
.icon-checkmark:before {
    content: "\e634";
}
.icon-expand:before {
    content: "\e635";
}
.icon-contract:before {
    content: "\e636";
}
.icon-expand2:before {
    content: "\e637";
}
.icon-contract2:before {
    content: "\e638";
}
.icon-tablet:before {
    content: "\e639";
}
.icon-screen:before {
    content: "\e63a";
}
.icon-cog:before {
    content: "\e63b";
}
.icon-cloud-download:before {
    content: "\e63c";
}
.icon-cloud-upload:before {
    content: "\e63d";
}
.icon-cloud:before {
    content: "\e63e";
}
.icon-earth:before {
    content: "\e63f";
}
.icon-flag:before {
    content: "\e640";
}
.icon-link:before {
    content: "\e641";
}
.icon-bookmark:before {
    content: "\e642";
}
.icon-stack:before {
    content: "\e643";
}
.icon-arrow-up-left:before {
    content: "\e644";
}
.icon-mail:before {
    content: "\e608";
}
.icon-volume-mute:before {
    content: "\e645";
}
.icon-volume-increase:before {
    content: "\e646";
}
.icon-volume-decrease:before {
    content: "\e647";
}
