.clear {
  display: block;
}
.clear:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.euro-groups .table-euro2016 {
  display: block;
  clear: both;
  display: table;
}
.euro-groups .table-euro2016:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.euro-groups .table-euro2016 .ico {
  -webkit-box-shadow: 1px 0 2px rgba(83,83,83,0.35);
  -moz-box-shadow: 1px 0 2px rgba(83,83,83,0.35);
  box-shadow: 1px 0 2px rgba(83,83,83,0.35);
  background-image: url('/img/euro/sprite_euro2016_ico-45x30.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 45px;
  display: inline-block;
  margin: 0 15px 0 0;
}
.euro-groups .table-euro2016 .ico.ico-alb {
  background-position: 0 0;
}
.euro-groups .table-euro2016 .ico.ico-ang {
  background-position: 0 -40px;
}
.euro-groups .table-euro2016 .ico.ico-aus {
  background-position: 0 -80px;
}
.euro-groups .table-euro2016 .ico.ico-cho {
  background-position: 0 -120px;
}
.euro-groups .table-euro2016 .ico.ico-cze {
  background-position: 0 -160px;
}
.euro-groups .table-euro2016 .ico.ico-bel {
  background-position: 0 -200px;
}
.euro-groups .table-euro2016 .ico.ico-his {
  background-position: 0 -240px;
}
.euro-groups .table-euro2016 .ico.ico-fra {
  background-position: 0 -360px;
}
.euro-groups .table-euro2016 .ico.ico-nie {
  background-position: 0 -280px;
}
.euro-groups .table-euro2016 .ico.ico-irp {
  background-position: 0 -320px;
}
.euro-groups .table-euro2016 .ico.ico-irl {
  background-position: 0 -480px;
}
.euro-groups .table-euro2016 .ico.ico-isl {
  background-position: 0 -560px;
}
.euro-groups .table-euro2016 .ico.ico-wlo {
  background-position: 0 -400px;
}
.euro-groups .table-euro2016 .ico.ico-pol {
  background-position: 0 -440px;
}
.euro-groups .table-euro2016 .ico.ico-por {
  background-position: 0 -520px;
}
.euro-groups .table-euro2016 .ico.ico-rum {
  background-position: 0 -640px;
}
.euro-groups .table-euro2016 .ico.ico-ros {
  background-position: 0 -680px;
}
.euro-groups .table-euro2016 .ico.ico-slo {
  background-position: 0 -600px;
}
.euro-groups .table-euro2016 .ico.ico-sui {
  background-position: 0 -720px;
}
.euro-groups .table-euro2016 .ico.ico-szw {
  background-position: 0 -760px;
}
.euro-groups .table-euro2016 .ico.ico-ukr {
  background-position: 0 -840px;
}
.euro-groups .table-euro2016 .ico.ico-tur {
  background-position: 0 -880px;
}
.euro-groups .table-euro2016 .ico.ico-wal {
  background-position: 0 -800px;
}
.euro-groups .table-euro2016 .ico.ico-weg {
  background-position: 0 -920px;
}
@media screen and (max-width: 400px) {
  .euro-groups .table-euro2016 .ico {
    background-image: url('/img/euro/sprite_euro2016_ico-27x18.png');
    background-repeat: no-repeat;
    height: 18px;
    width: 27px;
    margin: 0 10px 0 0;
  }
  .euro-groups .table-euro2016 .ico.ico-alb {
    background-position: 0 -112px;
  }
  .euro-groups .table-euro2016 .ico.ico-ang {
    background-position: 0 0;
  }
  .euro-groups .table-euro2016 .ico.ico-aus {
    background-position: 0 -84px;
  }
  .euro-groups .table-euro2016 .ico.ico-bel {
    background-position: 0 -56px;
  }
  .euro-groups .table-euro2016 .ico.ico-cho {
    background-position: 0 -196px;
  }
  .euro-groups .table-euro2016 .ico.ico-cze {
    background-position: 0 -168px;
  }
  .euro-groups .table-euro2016 .ico.ico-his {
    background-position: 0 -252px;
  }
  .euro-groups .table-euro2016 .ico.ico-fra {
    background-position: 0 -28px;
  }
  .euro-groups .table-euro2016 .ico.ico-nie {
    background-position: 0 -140px;
  }
  .euro-groups .table-euro2016 .ico.ico-irl {
    background-position: 0 -224px;
  }
  .euro-groups .table-euro2016 .ico.ico-irp {
    background-position: 0 -364px;
  }
  .euro-groups .table-euro2016 .ico.ico-isl {
    background-position: 0 -308px;
  }
  .euro-groups .table-euro2016 .ico.ico-wlo {
    background-position: 0 -336px;
  }
  .euro-groups .table-euro2016 .ico.ico-pol {
    background-position: 0 -420px;
  }
  .euro-groups .table-euro2016 .ico.ico-por {
    background-position: 0 -392px;
  }
  .euro-groups .table-euro2016 .ico.ico-rum {
    background-position: 0 -476px;
  }
  .euro-groups .table-euro2016 .ico.ico-ros {
    background-position: 0 -280px;
  }
  .euro-groups .table-euro2016 .ico.ico-slo {
    background-position: 0 -532px;
  }
  .euro-groups .table-euro2016 .ico.ico-sui {
    background-position: 0 -504px;
  }
  .euro-groups .table-euro2016 .ico.ico-szw {
    background-position: 0 -616px;
  }
  .euro-groups .table-euro2016 .ico.ico-tur {
    background-position: 0 -644px;
  }
  .euro-groups .table-euro2016 .ico.ico-ukr {
    background-position: 0 -588px;
  }
  .euro-groups .table-euro2016 .ico.ico-wal {
    background-position: 0 -448px;
  }
  .euro-groups .table-euro2016 .ico.ico-weg {
    background-position: 0 -560px;
  }
}
@media screen and (max-width: 400px) {
  .euro-groups .table-euro2016 .team-name {
    font-size: 16px;
  }
}
.euro-groups .table-euro2016 .pkt {
  font-weight: bold;
}
.euro-groups .btn-detail {
  margin: 0;
  padding: 0;
  background: none;
  border: 0 none;
  cursor: pointer;
  display: inline-block;
  float: right;
  margin: 5px 0;
  text-align: right;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #4493cc;
}
.euro-groups .btn-detail.expanded .show {
  display: none;
}
.euro-groups .btn-detail.expanded .hide {
  display: inline;
  vertical-align: middle;
}
.euro-groups .btn-detail .hide {
  display: none;
}
.euro-groups .group-details-header {
  padding: 12px 0 8px 0;
  line-height: 36px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.euro-groups .detail-wrapper {
  display: block;
  clear: both;
  display: none;
}
.euro-groups .detail-wrapper:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.euro-groups .detail-wrapper.show {
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  animation: fadeIn 500ms;
  display: block;
}
.euro-groups .group-details {
  margin: 1px auto;
  background: #F1F1F1;
}
.euro-groups .match-bar {
  margin: 1px auto;
}
.sport-table-innertext.euro-groups .detail-wrapper {
  display: block;
}
.table-euro2016 {
  position: static;
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table-euro2016 thead,
.table-euro2016 tbody {
  position: static;
}
.table-euro2016 tr {
  position: static;
}
.table-euro2016 tr:last-child td {
  border: 0 none;
}
.table-euro2016 th,
.table-euro2016 td {
  position: static;
  padding: 10px 5px;
  color: #000;
}
.table-euro2016 th {
  font-size: 10px;
}
.table-euro2016 td {
  font-size: 13px;
  border-bottom: 1px solid #e2e2e2;
}
.table-euro2016 .caption {
  display: table-header-group;
  padding: 0 0 8px 0;
  line-height: 36px;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  border-bottom: 1px solid #BDBDBD;
}
@media screen and (max-width: 400px) {
  .table-euro2016 .caption {
    display: table-caption;
    font-size: 20px;
  }
}
.table-euro2016 .row {
  display: table-row;
  border-bottom: 1px solid #e2e2e2;
}
.table-euro2016 .row.thead {
  border: 0 none;
}
.table-euro2016 .row.thead .cell {
  padding: 30px 5px 5px;
  text-transform: uppercase;
  color: #A3A3A3;
}
.table-euro2016 .cell {
  display: table-cell;
  padding: 10px 5px;
  text-align: center;
  font-size: 13px;
  color: #000;
}
.table-euro2016 .cell.team {
  text-align: left;
}
.table-euro2016 .team-name {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}
.table-euro2016 .ico {
  vertical-align: middle;
}
.table-euro2016.wide .caption {
  display: none;
}
.table-euro2016.wide .row.thead .cell {
  text-transform: none;
}
.table-euro2016.wide .cell {
  width: 50px;
}
.table-euro2016.wide .cell.team {
  width: auto;
}
.table-euro2016.wide .ico {
  background-image: url('/img/euro/sprite_euro2016_ico-45x30.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 45px;
  display: inline-block;
}
.table-euro2016.wide .ico.ico-alb {
  background-position: 0 0;
}
.table-euro2016.wide .ico.ico-ang {
  background-position: 0 -40px;
}
.table-euro2016.wide .ico.ico-aus {
  background-position: 0 -80px;
}
.table-euro2016.wide .ico.ico-cho {
  background-position: 0 -120px;
}
.table-euro2016.wide .ico.ico-cze {
  background-position: 0 -160px;
}
.table-euro2016.wide .ico.ico-bel {
  background-position: 0 -200px;
}
.table-euro2016.wide .ico.ico-his {
  background-position: 0 -240px;
}
.table-euro2016.wide .ico.ico-fra {
  background-position: 0 -360px;
}
.table-euro2016.wide .ico.ico-nie {
  background-position: 0 -280px;
}
.table-euro2016.wide .ico.ico-irp {
  background-position: 0 -320px;
}
.table-euro2016.wide .ico.ico-irl {
  background-position: 0 -480px;
}
.table-euro2016.wide .ico.ico-isl {
  background-position: 0 -560px;
}
.table-euro2016.wide .ico.ico-wlo {
  background-position: 0 -400px;
}
.table-euro2016.wide .ico.ico-pol {
  background-position: 0 -440px;
}
.table-euro2016.wide .ico.ico-por {
  background-position: 0 -520px;
}
.table-euro2016.wide .ico.ico-rum {
  background-position: 0 -640px;
}
.table-euro2016.wide .ico.ico-ros {
  background-position: 0 -680px;
}
.table-euro2016.wide .ico.ico-slo {
  background-position: 0 -600px;
}
.table-euro2016.wide .ico.ico-sui {
  background-position: 0 -720px;
}
.table-euro2016.wide .ico.ico-szw {
  background-position: 0 -760px;
}
.table-euro2016.wide .ico.ico-ukr {
  background-position: 0 -840px;
}
.table-euro2016.wide .ico.ico-tur {
  background-position: 0 -880px;
}
.table-euro2016.wide .ico.ico-wal {
  background-position: 0 -800px;
}
.table-euro2016.wide .ico.ico-weg {
  background-position: 0 -920px;
}
@media screen and (max-width: 480px) {
  .table-euro2016.wide .ico {
    background-image: url('/img/euro/sprite_euro2016_ico-27x18.png');
    background-repeat: no-repeat;
    height: 18px;
    width: 27px;
  }
  .table-euro2016.wide .ico.ico-alb {
    background-position: 0 -112px;
  }
  .table-euro2016.wide .ico.ico-ang {
    background-position: 0 0;
  }
  .table-euro2016.wide .ico.ico-aus {
    background-position: 0 -84px;
  }
  .table-euro2016.wide .ico.ico-bel {
    background-position: 0 -56px;
  }
  .table-euro2016.wide .ico.ico-cho {
    background-position: 0 -196px;
  }
  .table-euro2016.wide .ico.ico-cze {
    background-position: 0 -168px;
  }
  .table-euro2016.wide .ico.ico-his {
    background-position: 0 -252px;
  }
  .table-euro2016.wide .ico.ico-fra {
    background-position: 0 -28px;
  }
  .table-euro2016.wide .ico.ico-nie {
    background-position: 0 -140px;
  }
  .table-euro2016.wide .ico.ico-irl {
    background-position: 0 -224px;
  }
  .table-euro2016.wide .ico.ico-irp {
    background-position: 0 -364px;
  }
  .table-euro2016.wide .ico.ico-isl {
    background-position: 0 -308px;
  }
  .table-euro2016.wide .ico.ico-wlo {
    background-position: 0 -336px;
  }
  .table-euro2016.wide .ico.ico-pol {
    background-position: 0 -420px;
  }
  .table-euro2016.wide .ico.ico-por {
    background-position: 0 -392px;
  }
  .table-euro2016.wide .ico.ico-rum {
    background-position: 0 -476px;
  }
  .table-euro2016.wide .ico.ico-ros {
    background-position: 0 -280px;
  }
  .table-euro2016.wide .ico.ico-slo {
    background-position: 0 -532px;
  }
  .table-euro2016.wide .ico.ico-sui {
    background-position: 0 -504px;
  }
  .table-euro2016.wide .ico.ico-szw {
    background-position: 0 -616px;
  }
  .table-euro2016.wide .ico.ico-tur {
    background-position: 0 -644px;
  }
  .table-euro2016.wide .ico.ico-ukr {
    background-position: 0 -588px;
  }
  .table-euro2016.wide .ico.ico-wal {
    background-position: 0 -448px;
  }
  .table-euro2016.wide .ico.ico-weg {
    background-position: 0 -560px;
  }
}
.table-euro2016.wide .team-name {
  display: inline-block;
  margin: 0 0 0 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  .table-euro2016.wide .team-name {
    margin: 0 0 0 5px;
    line-height: 18px;
    font-size: 14px;
  }
}
.table-euro2016 .winner {
  position: static;
}
.table-euro2016 .winner td,
.table-euro2016 .winner .cell {
  position: static;
  background: #D0E5FA;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.group-table {
  padding: 20px 12px;
  color: #969696;
  background: #fff;
}
.group-table .table-name {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #969696;
}
.group-table .table-name a {
  font-size: 12px;
  text-transform: none;
  color: #4493cc;
}
.group-table tr:last-child td {
  border: 0 none;
}
.group-table tr th {
  min-width: 20px;
  padding: 15px 5px 6px 5px;
  font-size: 10px;
  text-align: center;
  color: #000;
  border-bottom: 1px solid #E5E5E5;
}
.group-table tr td {
  text-align: center;
  color: #969696;
}
.group-table .team {
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
}
.group-table .team .ico {
  -webkit-box-shadow: 1px 0 2px rgba(83,83,83,0.35);
  -moz-box-shadow: 1px 0 2px rgba(83,83,83,0.35);
  box-shadow: 1px 0 2px rgba(83,83,83,0.35);
  background-image: url('/img/euro/sprite_euro2016_ico-45x30.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 45px;
  display: inline-block;
  margin: 0 18px 0 0;
}
.group-table .team .ico.ico-alb {
  background-position: 0 0;
}
.group-table .team .ico.ico-ang {
  background-position: 0 -40px;
}
.group-table .team .ico.ico-aus {
  background-position: 0 -80px;
}
.group-table .team .ico.ico-cho {
  background-position: 0 -120px;
}
.group-table .team .ico.ico-cze {
  background-position: 0 -160px;
}
.group-table .team .ico.ico-bel {
  background-position: 0 -200px;
}
.group-table .team .ico.ico-his {
  background-position: 0 -240px;
}
.group-table .team .ico.ico-fra {
  background-position: 0 -360px;
}
.group-table .team .ico.ico-nie {
  background-position: 0 -280px;
}
.group-table .team .ico.ico-irp {
  background-position: 0 -320px;
}
.group-table .team .ico.ico-irl {
  background-position: 0 -480px;
}
.group-table .team .ico.ico-isl {
  background-position: 0 -560px;
}
.group-table .team .ico.ico-wlo {
  background-position: 0 -400px;
}
.group-table .team .ico.ico-pol {
  background-position: 0 -440px;
}
.group-table .team .ico.ico-por {
  background-position: 0 -520px;
}
.group-table .team .ico.ico-rum {
  background-position: 0 -640px;
}
.group-table .team .ico.ico-ros {
  background-position: 0 -680px;
}
.group-table .team .ico.ico-slo {
  background-position: 0 -600px;
}
.group-table .team .ico.ico-sui {
  background-position: 0 -720px;
}
.group-table .team .ico.ico-szw {
  background-position: 0 -760px;
}
.group-table .team .ico.ico-ukr {
  background-position: 0 -840px;
}
.group-table .team .ico.ico-tur {
  background-position: 0 -880px;
}
.group-table .team .ico.ico-wal {
  background-position: 0 -800px;
}
.group-table .team .ico.ico-weg {
  background-position: 0 -920px;
}
.group-table .team span {
  display: inline-block;
  margin: 0 10px 0 0;
  line-height: 30px;
  vertical-align: middle;
}
.group-table .team .nr {
  float: left;
  font-size: 24px;
}
.group-table .pkt {
  color: #000;
}
.match-box {
  display: block;
  clear: both;
  max-width: 972px;
  margin: 20px auto 45px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background: #20334f;
  background: -moz-linear-gradient(top,#20334f 0%,#2f5988 100%);
  background: -webkit-linear-gradient(top,#20334f 0%,#2f5988 100%);
  background: linear-gradient(to bottom,#20334f 0%,#2f5988 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20334f',endColorstr='#2f5988',GradientType=0);
}
.match-box:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.match-box .wrapper {
  background-image: url('/img/euro/bg_euro-match-box.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 20px 5px;
}
@media screen and (max-width: 720px) {
  .match-box .wrapper {
    padding: 2% 0;
  }
}
.match-box .row {
  display: block;
  clear: both;
  margin: 20px 0;
  padding: 0 30px;
}
.match-box .row:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
@media screen and (max-width: 720px) {
  .match-box .row {
    padding: 0 2%;
  }
}
.match-box .row.row-scores {
  height: 55px;
  position: relative;
  margin: 0;
  padding: 0 0 20px 0;
  border-bottom: 1px dashed #315682;
}
.match-box .row.row-players {
  margin: 0;
}
.match-box .col {
  float: left;
  width: 50%;
}
@media screen and (max-width: 720px) {
  .match-box .col {
    width: 48%;
  }
}
.match-box .col.right {
  float: right;
  text-align: right;
}
.match-box .topic {
  margin: 0;
  color: #fff;
}
.match-box .ico {
  background-image: url('/img/euro/sprite_euro2016_ico-81x54.png');
  background-repeat: no-repeat;
  height: 54px;
  width: 81px;
  position: absolute;
  left: 0;
  border-width: 1px;
  border-style: solid;
  border-image: -moz-linear-gradient(left,#32618c 0%,#20334f 100%);
  border-image: -webkit-linear-gradient(left,#32618c 0%,#20334f 100%);
  border-image: linear-gradient(to right,#32618c 0%,#20334f 100%);
  border-image-slice: 1;
}
.match-box .ico.ico-alb {
  background-position: 0 0;
}
.match-box .ico.ico-ang {
  background-position: 0 -192px;
}
.match-box .ico.ico-aus {
  background-position: 0 -128px;
}
.match-box .ico.ico-bel {
  background-position: 0 -64px;
}
.match-box .ico.ico-cho {
  background-position: 0 -256px;
}
.match-box .ico.ico-cze {
  background-position: 0 -320px;
}
.match-box .ico.ico-his {
  background-position: 0 -448px;
}
.match-box .ico.ico-fra {
  background-position: 0 -384px;
}
.match-box .ico.ico-nie {
  background-position: 0 -512px;
}
.match-box .ico.ico-irp {
  background-position: 0 -960px;
}
.match-box .ico.ico-irl {
  background-position: 0 -704px;
}
.match-box .ico.ico-isl {
  background-position: 0 -832px;
}
.match-box .ico.ico-wlo {
  background-position: 0 -576px;
}
.match-box .ico.ico-pol {
  background-position: 0 -640px;
}
.match-box .ico.ico-por {
  background-position: 0 -768px;
}
.match-box .ico.ico-rum {
  background-position: 0 -896px;
}
.match-box .ico.ico-ros {
  background-position: 0 -1024px;
}
.match-box .ico.ico-slo {
  background-position: 0 -1088px;
}
.match-box .ico.ico-sui {
  background-position: 0 -1152px;
}
.match-box .ico.ico-szw {
  background-position: 0 -1216px;
}
.match-box .ico.ico-tur {
  background-position: 0 -1280px;
}
.match-box .ico.ico-ukr {
  background-position: 0 -1344px;
}
.match-box .ico.ico-wal {
  background-position: 0 -1472px;
}
.match-box .ico.ico-weg {
  background-position: 0 -1408px;
}
@media screen and (max-width: 720px) {
  .match-box .ico {
    background-image: url('/img/euro/sprite_euro2016_ico-45x30.png');
    background-repeat: no-repeat;
    height: 30px;
    width: 45px;
    top: 0;
  }
  .match-box .ico.ico-alb {
    background-position: 0 0;
  }
  .match-box .ico.ico-ang {
    background-position: 0 -40px;
  }
  .match-box .ico.ico-aus {
    background-position: 0 -80px;
  }
  .match-box .ico.ico-cho {
    background-position: 0 -120px;
  }
  .match-box .ico.ico-cze {
    background-position: 0 -160px;
  }
  .match-box .ico.ico-bel {
    background-position: 0 -200px;
  }
  .match-box .ico.ico-his {
    background-position: 0 -240px;
  }
  .match-box .ico.ico-fra {
    background-position: 0 -360px;
  }
  .match-box .ico.ico-nie {
    background-position: 0 -280px;
  }
  .match-box .ico.ico-irp {
    background-position: 0 -320px;
  }
  .match-box .ico.ico-irl {
    background-position: 0 -480px;
  }
  .match-box .ico.ico-isl {
    background-position: 0 -560px;
  }
  .match-box .ico.ico-wlo {
    background-position: 0 -400px;
  }
  .match-box .ico.ico-pol {
    background-position: 0 -440px;
  }
  .match-box .ico.ico-por {
    background-position: 0 -520px;
  }
  .match-box .ico.ico-rum {
    background-position: 0 -640px;
  }
  .match-box .ico.ico-ros {
    background-position: 0 -680px;
  }
  .match-box .ico.ico-slo {
    background-position: 0 -600px;
  }
  .match-box .ico.ico-sui {
    background-position: 0 -720px;
  }
  .match-box .ico.ico-szw {
    background-position: 0 -760px;
  }
  .match-box .ico.ico-ukr {
    background-position: 0 -840px;
  }
  .match-box .ico.ico-tur {
    background-position: 0 -880px;
  }
  .match-box .ico.ico-wal {
    background-position: 0 -800px;
  }
  .match-box .ico.ico-weg {
    background-position: 0 -920px;
  }
}
.match-box .team {
  position: absolute;
  top: 0;
  left: 30px;
  padding: 0 0 0 91px;
  line-height: 54px;
  text-transform: uppercase;
  font-size: 24px;
  text-shadow: 0 3px 0 rgba(0,0,0,0.73);
}
@media screen and (max-width: 720px) {
  .match-box .team {
    left: 2%;
    max-width: 50%;
    padding: 40px 0 0 0;
    line-height: 24px;
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .match-box .team {
    padding: 35px 0 0 0;
    line-height: 20px;
    font-size: 16px;
  }
}
.match-box .team.away {
  left: auto;
  right: 30px;
  padding: 0 91px 0 0;
  text-align: right;
}
@media screen and (max-width: 720px) {
  .match-box .team.away {
    right: 2%;
    padding: 40px 0 0 0;
  }
}
@media screen and (max-width: 480px) {
  .match-box .team.away {
    padding: 35px 0 0 0;
  }
}
.match-box .team.away .ico {
  left: auto;
  right: 0;
}
.match-box .team-name {
  padding: 5px 0;
}
.match-box .score-container {
  position: absolute;
  left: 50%;
  top: -20px;
}
@media screen and (max-width: 720px) {
  .match-box .score-container {
    top: 0;
  }
}
.match-box .score-container > div {
  position: relative;
  left: -50%;
  width: 184px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 3px 0 rgba(0,0,0,0.73);
  background: rgba(31,57,86,0.8);
}
@media screen and (max-width: 720px) {
  .match-box .score-container > div {
    background: none;
  }
}
.match-box .score-container .score {
  line-height: 95px;
  font-size: 56px;
}
@media screen and (max-width: 720px) {
  .match-box .score-container .score {
    line-height: 32px;
    font-size: 34px;
  }
}
.match-box .score-container .score.with-penalties {
  font-size: 38px;
  line-height: 53px;
}
.match-box .score-container .score.with-penalties .penalties {
  display: block;
}
.match-box .score-container .score .penalties {
  display: none;
  font-size: 22px;
  font-weight: normal;
  line-height: 42px;
}
.match-box .score-container .state {
  padding: 11px 0 12px 0;
  font-weight: normal;
  font-size: 14px;
  border-top: 1px dashed #315682;
}
.match-box .score-container .state p {
  color: #ffffff;
  line-height: 26px;
  font-weight: bold;
}
.match-box .score-container .state span {
  display: block;
}
.match-box .player-in {
  color: #a8ff00;
}
.match-box .player-out {
  color: #ff3c00;
}
.match-box .card {
  display: inline-block;
  margin: 0 14px 0 0;
  padding: 0 16px 0 0;
}
.match-box .card:after {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  height: 10px;
  width: 8px;
  border: 1px solid #000;
}
.match-box .card.card-red:after {
  background: red;
}
.match-box .card.card-yellow:after {
  background: yellow;
}
.match-box .right .card {
  padding: 0 0 0 16px;
}
.match-box .right .card:after {
  left: 0;
  right: auto;
}
.match-box .squad {
  margin: 0;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .match-box .squad {
    display: inline-block;
    width: 110px;
  }
}
.match-box .row-players.show .list-players {
  display: block;
}
.match-box .row-players.show .btn-more .more {
  display: none;
}
.match-box .row-players.show .btn-more .less {
  display: block;
}
.match-box .list-players {
  display: none;
  margin: 10px 0 0 0;
}
.match-box .list-players span {
  display: block;
  margin: 5px 0;
}
.match-box .btn-more {
  margin: 0;
  padding: 0;
  background: none;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  background-image: url('/img/euro/bg_match-box.png');
  background-repeat: repeat-x;
  background-position: 0 top;
  background-color: #2f5888;
  position: absolute;
  left: 50%;
  bottom: -40px;
  width: 184px;
  margin: 0 0 0 -92px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 10px;
  font-family: Arial;
  color: #fff;
}
.match-box .btn-more .less {
  display: none;
}
@media screen and (max-width: 720px) {
  .match-box .btn-more {
    bottom: -27px;
  }
}
.sport-match-innertext .match-box .score {
  width: 180px;
}
.sport-match-innertext .match-box .state {
  padding: 15px 0;
  width: 180px;
}
.sport-match-innertext .match-box .btn-more {
  width: 180px;
  margin: 0 0 0 -90px;
}
.sport-match-innertext .match-box .team {
  left: 10px;
  padding: 0 0 0 71px;
  line-height: 43px;
  font-size: 18px;
}
@media screen and (max-width: 720px) {
  .sport-match-innertext .match-box .team {
    left: 2%;
    padding: 30px 0 0 0;
    line-height: 32px;
  }
}
.sport-match-innertext .match-box .team.away {
  left: auto;
  right: 10px;
  padding: 0 71px 0 0;
}
@media screen and (max-width: 720px) {
  .sport-match-innertext .match-box .team.away {
    right: 2%;
    padding: 30px 0 0 0;
  }
}
.sport-match-innertext .match-box .ico {
  background-image: url('/img/euro/sprite_euro2016_ico-65x43.png');
  background-repeat: no-repeat;
  height: 43px;
  width: 65px;
}
.sport-match-innertext .match-box .ico.ico-alb {
  background-position: 0 0;
}
.sport-match-innertext .match-box .ico.ico-ang {
  background-position: 0 -53px;
}
.sport-match-innertext .match-box .ico.ico-aus {
  background-position: 0 -106px;
}
.sport-match-innertext .match-box .ico.ico-cho {
  background-position: 0 -212px;
}
.sport-match-innertext .match-box .ico.ico-cze {
  background-position: 0 -265px;
}
.sport-match-innertext .match-box .ico.ico-bel {
  background-position: 0 -159px;
}
.sport-match-innertext .match-box .ico.ico-his {
  background-position: 0 -318px;
}
.sport-match-innertext .match-box .ico.ico-fra {
  background-position: 0 -371px;
}
.sport-match-innertext .match-box .ico.ico-nie {
  background-position: 0 -424px;
}
.sport-match-innertext .match-box .ico.ico-irp {
  background-position: 0 -477px;
}
.sport-match-innertext .match-box .ico.ico-irl {
  background-position: 0 -530px;
}
.sport-match-innertext .match-box .ico.ico-isl {
  background-position: 0 -583px;
}
.sport-match-innertext .match-box .ico.ico-wlo {
  background-position: 0 -636px;
}
.sport-match-innertext .match-box .ico.ico-pol {
  background-position: 0 -689px;
}
.sport-match-innertext .match-box .ico.ico-por {
  background-position: 0 -742px;
}
.sport-match-innertext .match-box .ico.ico-rum {
  background-position: 0 -795px;
}
.sport-match-innertext .match-box .ico.ico-ros {
  background-position: 0 -848px;
}
.sport-match-innertext .match-box .ico.ico-slo {
  background-position: 0 -901px;
}
.sport-match-innertext .match-box .ico.ico-sui {
  background-position: 0 -954px;
}
.sport-match-innertext .match-box .ico.ico-szw {
  background-position: 0 -1007px;
}
.sport-match-innertext .match-box .ico.ico-ukr {
  background-position: 0 -1113px;
}
.sport-match-innertext .match-box .ico.ico-tur {
  background-position: 0 -1060px;
}
.sport-match-innertext .match-box .ico.ico-wal {
  background-position: 0 -1166px;
}
.sport-match-innertext .match-box .ico.ico-weg {
  background-position: 0 -1219px;
}
@media screen and (max-width: 720px) {
  .sport-match-innertext .match-box .ico {
    background-image: url('/img/euro/sprite_euro2016_ico-38x25.png');
    background-repeat: no-repeat;
    height: 25px;
    width: 38px;
  }
  .sport-match-innertext .match-box .ico.ico-alb {
    background-position: 0 0;
  }
  .sport-match-innertext .match-box .ico.ico-ang {
    background-position: 0 -35px;
  }
  .sport-match-innertext .match-box .ico.ico-aus {
    background-position: 0 -70px;
  }
  .sport-match-innertext .match-box .ico.ico-bel {
    background-position: 0 -105px;
  }
  .sport-match-innertext .match-box .ico.ico-cho {
    background-position: 0 -140px;
  }
  .sport-match-innertext .match-box .ico.ico-cze {
    background-position: 0 -175px;
  }
  .sport-match-innertext .match-box .ico.ico-his {
    background-position: 0 -210px;
  }
  .sport-match-innertext .match-box .ico.ico-fra {
    background-position: 0 -245px;
  }
  .sport-match-innertext .match-box .ico.ico-nie {
    background-position: 0 -280px;
  }
  .sport-match-innertext .match-box .ico.ico-irp {
    background-position: 0 -315px;
  }
  .sport-match-innertext .match-box .ico.ico-irl {
    background-position: 0 -350px;
  }
  .sport-match-innertext .match-box .ico.ico-isl {
    background-position: 0 -385px;
  }
  .sport-match-innertext .match-box .ico.ico-wlo {
    background-position: 0 -420px;
  }
  .sport-match-innertext .match-box .ico.ico-pol {
    background-position: 0 -455px;
  }
  .sport-match-innertext .match-box .ico.ico-por {
    background-position: 0 -490px;
  }
  .sport-match-innertext .match-box .ico.ico-rum {
    background-position: 0 -525px;
  }
  .sport-match-innertext .match-box .ico.ico-ros {
    background-position: 0 -560px;
  }
  .sport-match-innertext .match-box .ico.ico-slo {
    background-position: 0 -595px;
  }
  .sport-match-innertext .match-box .ico.ico-sui {
    background-position: 0 -630px;
  }
  .sport-match-innertext .match-box .ico.ico-szw {
    background-position: 0 -665px;
  }
  .sport-match-innertext .match-box .ico.ico-tur {
    background-position: 0 -700px;
  }
  .sport-match-innertext .match-box .ico.ico-ukr {
    background-position: 0 -735px;
  }
  .sport-match-innertext .match-box .ico.ico-wal {
    background-position: 0 -770px;
  }
  .sport-match-innertext .match-box .ico.ico-weg {
    background-position: 0 -805px;
  }
  .sport-match-innertext .match-box .ico.ico-emp {
    background-position: 0 -840px;
  }
}
.inner-table {
  display: block;
  clear: both;
  margin: 20px auto;
  text-transform: uppercase;
}
.inner-table:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.inner-table .text {
  margin: 0 0 10px 0;
}
.inner-table .table-title {
  display: inline-block;
  font-size: 20px;
}
.inner-table .table-link {
  margin: 0 0 0 20px;
  text-transform: none;
  color: #4493cc;
}
.inner-table .col {
  float: left;
  width: 106px;
  background: #F8F8F8;
}
.inner-table .col:nth-child(2n + 2) {
  width: 107px;
  background: #F1F1F1;
}
@media screen and (max-width: 640px) {
  .inner-table .col:nth-child(2n + 2) {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .inner-table .col {
    float: none;
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
  }
}
.inner-table .row {
  display: block;
  clear: both;
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid #E2E2E2;
}
.inner-table .row:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.inner-table .row:first-child {
  padding: 20px 0 8px;
}
@media screen and (max-width: 480px) {
  .inner-table .row:first-child {
    padding: 10px 0 5px;
  }
}
@media screen and (max-width: 640px) {
  .inner-table .row {
    display: inline-block;
    width: 25%;
    border: 0 none;
  }
}
.inner-table .group-name {
  padding: 8px 10px;
  font-weight: bold;
  color: #969696;
  border-bottom: 1px solid #E2E2E2;
}
@media screen and (max-width: 640px) {
  .inner-table .group-name {
    border: 0 none;
  }
}
.inner-table .ico {
  background-image: url('/img/euro/sprite_euro2016_ico-38x25.png');
  background-repeat: no-repeat;
  height: 25px;
  width: 38px;
  float: left;
  margin: 0 10px;
}
.inner-table .ico.ico-alb {
  background-position: 0 0;
}
.inner-table .ico.ico-ang {
  background-position: 0 -35px;
}
.inner-table .ico.ico-aus {
  background-position: 0 -70px;
}
.inner-table .ico.ico-bel {
  background-position: 0 -105px;
}
.inner-table .ico.ico-cho {
  background-position: 0 -140px;
}
.inner-table .ico.ico-cze {
  background-position: 0 -175px;
}
.inner-table .ico.ico-his {
  background-position: 0 -210px;
}
.inner-table .ico.ico-fra {
  background-position: 0 -245px;
}
.inner-table .ico.ico-nie {
  background-position: 0 -280px;
}
.inner-table .ico.ico-irp {
  background-position: 0 -315px;
}
.inner-table .ico.ico-irl {
  background-position: 0 -350px;
}
.inner-table .ico.ico-isl {
  background-position: 0 -385px;
}
.inner-table .ico.ico-wlo {
  background-position: 0 -420px;
}
.inner-table .ico.ico-pol {
  background-position: 0 -455px;
}
.inner-table .ico.ico-por {
  background-position: 0 -490px;
}
.inner-table .ico.ico-rum {
  background-position: 0 -525px;
}
.inner-table .ico.ico-ros {
  background-position: 0 -560px;
}
.inner-table .ico.ico-slo {
  background-position: 0 -595px;
}
.inner-table .ico.ico-sui {
  background-position: 0 -630px;
}
.inner-table .ico.ico-szw {
  background-position: 0 -665px;
}
.inner-table .ico.ico-tur {
  background-position: 0 -700px;
}
.inner-table .ico.ico-ukr {
  background-position: 0 -735px;
}
.inner-table .ico.ico-wal {
  background-position: 0 -770px;
}
.inner-table .ico.ico-weg {
  background-position: 0 -805px;
}
.inner-table .ico.ico-emp {
  background-position: 0 -840px;
}
@media screen and (max-width: 480px) {
  .inner-table .ico {
    background-image: url('/img/euro/sprite_euro2016_ico-27x18.png');
    background-repeat: no-repeat;
    height: 18px;
    width: 27px;
    margin: 0 5px;
  }
  .inner-table .ico.ico-alb {
    background-position: 0 -112px;
  }
  .inner-table .ico.ico-ang {
    background-position: 0 0;
  }
  .inner-table .ico.ico-aus {
    background-position: 0 -84px;
  }
  .inner-table .ico.ico-bel {
    background-position: 0 -56px;
  }
  .inner-table .ico.ico-cho {
    background-position: 0 -196px;
  }
  .inner-table .ico.ico-cze {
    background-position: 0 -168px;
  }
  .inner-table .ico.ico-his {
    background-position: 0 -252px;
  }
  .inner-table .ico.ico-fra {
    background-position: 0 -28px;
  }
  .inner-table .ico.ico-nie {
    background-position: 0 -140px;
  }
  .inner-table .ico.ico-irl {
    background-position: 0 -224px;
  }
  .inner-table .ico.ico-irp {
    background-position: 0 -364px;
  }
  .inner-table .ico.ico-isl {
    background-position: 0 -308px;
  }
  .inner-table .ico.ico-wlo {
    background-position: 0 -336px;
  }
  .inner-table .ico.ico-pol {
    background-position: 0 -420px;
  }
  .inner-table .ico.ico-por {
    background-position: 0 -392px;
  }
  .inner-table .ico.ico-rum {
    background-position: 0 -476px;
  }
  .inner-table .ico.ico-ros {
    background-position: 0 -280px;
  }
  .inner-table .ico.ico-slo {
    background-position: 0 -532px;
  }
  .inner-table .ico.ico-sui {
    background-position: 0 -504px;
  }
  .inner-table .ico.ico-szw {
    background-position: 0 -616px;
  }
  .inner-table .ico.ico-tur {
    background-position: 0 -644px;
  }
  .inner-table .ico.ico-ukr {
    background-position: 0 -588px;
  }
  .inner-table .ico.ico-wal {
    background-position: 0 -448px;
  }
  .inner-table .ico.ico-weg {
    background-position: 0 -560px;
  }
}
.inner-table .team {
  line-height: 25px;
}
@media screen and (max-width: 480px) {
  .inner-table .team {
    line-height: 18px;
    font-size: 12px;
  }
}
.m-euro2016 .sportRightItem {
  display: block;
  clear: both;
}
.m-euro2016 .sportRightItem:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.m-euro2016 .sportRightItem h1 {
  margin: 0 0 2px 0;
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 24px;
  color: #000;
  background: none;
  border-bottom: 5px solid #7c7c7c;
}
.m-euro2016 .sportRightItem .more {
  float: right;
  margin: 10px 0;
  font-size: 12px;
  color: #4493cc;
}
.mainRightColumn .table-euro2016 th {
  background: #F1F1F1;
}
.mainRightColumn .table-euro2016 th:nth-child(2n + 2) {
  background: #f8f8f8;
}
.mainRightColumn .table-euro2016 td {
  text-align: center;
  background: #F1F1F1;
}
.mainRightColumn .table-euro2016 td:nth-child(2n + 2) {
  color: #969696;
  background: #f8f8f8;
}
.mainRightColumn .table-euro2016 td.team {
  text-align: left;
}
.mainRightColumn .table-euro2016 td .ico {
  background-image: url('/img/euro/sprite_euro2016_ico-27x18.png');
  background-repeat: no-repeat;
  height: 18px;
  width: 27px;
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: middle;
}
.mainRightColumn .table-euro2016 td .ico.ico-alb {
  background-position: 0 -112px;
}
.mainRightColumn .table-euro2016 td .ico.ico-ang {
  background-position: 0 0;
}
.mainRightColumn .table-euro2016 td .ico.ico-aus {
  background-position: 0 -84px;
}
.mainRightColumn .table-euro2016 td .ico.ico-bel {
  background-position: 0 -56px;
}
.mainRightColumn .table-euro2016 td .ico.ico-cho {
  background-position: 0 -196px;
}
.mainRightColumn .table-euro2016 td .ico.ico-cze {
  background-position: 0 -168px;
}
.mainRightColumn .table-euro2016 td .ico.ico-his {
  background-position: 0 -252px;
}
.mainRightColumn .table-euro2016 td .ico.ico-fra {
  background-position: 0 -28px;
}
.mainRightColumn .table-euro2016 td .ico.ico-nie {
  background-position: 0 -140px;
}
.mainRightColumn .table-euro2016 td .ico.ico-irl {
  background-position: 0 -224px;
}
.mainRightColumn .table-euro2016 td .ico.ico-irp {
  background-position: 0 -364px;
}
.mainRightColumn .table-euro2016 td .ico.ico-isl {
  background-position: 0 -308px;
}
.mainRightColumn .table-euro2016 td .ico.ico-wlo {
  background-position: 0 -336px;
}
.mainRightColumn .table-euro2016 td .ico.ico-pol {
  background-position: 0 -420px;
}
.mainRightColumn .table-euro2016 td .ico.ico-por {
  background-position: 0 -392px;
}
.mainRightColumn .table-euro2016 td .ico.ico-rum {
  background-position: 0 -476px;
}
.mainRightColumn .table-euro2016 td .ico.ico-ros {
  background-position: 0 -280px;
}
.mainRightColumn .table-euro2016 td .ico.ico-slo {
  background-position: 0 -532px;
}
.mainRightColumn .table-euro2016 td .ico.ico-sui {
  background-position: 0 -504px;
}
.mainRightColumn .table-euro2016 td .ico.ico-szw {
  background-position: 0 -616px;
}
.mainRightColumn .table-euro2016 td .ico.ico-tur {
  background-position: 0 -644px;
}
.mainRightColumn .table-euro2016 td .ico.ico-ukr {
  background-position: 0 -588px;
}
.mainRightColumn .table-euro2016 td .ico.ico-wal {
  background-position: 0 -448px;
}
.mainRightColumn .table-euro2016 td .ico.ico-weg {
  background-position: 0 -560px;
}
.mainRightColumn .table-euro2016 .winner td {
  background: #D0E5FA;
}
.euro-preview {
  margin: 10px auto;
  background: #CACACA;
}
.euro-preview .euro-topic {
  min-height: 44px;
  height: 85px;
  background: url(/img/euro/logo_euro2016.png) no-repeat 20px center #142542;
}
.euro-preview .euro-topic > a {
  position: absolute;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 85px;
  width: 300px;
  text-indent: -200000px;
}
.euro-preview .brnd {
  float: right;
}
@media screen and (max-width: 640px) {
  .euro-preview .brnd {
    display: none;
  }
}
.euro-preview .list-link {
  margin: 39px 10px 0 0;
  float: right;
  color: #0e3968;
}
.euro-preview .list-link a {
  font-size: 13px;
  color: #fff;
}
@media screen and (max-width: 640px) {
  .euro-preview .list-link {
    display: none;
  }
}
.euro-preview .match-short-info {
  display: block;
  clear: both;
}
.euro-preview .match-short-info:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.euro-preview .match-short-info .col {
  position: relative;
  float: left;
  height: 84px;
  width: calc(100% / 3 - 40px);
  padding: 5px 20px;
  text-align: center;
  color: #fff;
  background: #1d558e;
}
@media screen and (max-width: 640px) {
  .euro-preview .match-short-info .col {
    float: none;
    height: 76px;
    width: 96%;
    padding: 5px 2%;
  }
}
.euro-preview .match-short-info .col.count-1 .team.home,
.euro-preview .match-short-info .col.count-2 .team.home {
  right: 50%;
}
.euro-preview .match-short-info .col.count-1 .team.away,
.euro-preview .match-short-info .col.count-2 .team.away {
  right: auto;
  left: 50%;
}
@media screen and (max-width: 640px) {
  .euro-preview .match-short-info .col.count-1 .team.away,
  .euro-preview .match-short-info .col.count-2 .team.away {
    right: 2%;
    left: auto;
  }
}
.euro-preview .match-short-info .col.count-1 {
  width: calc(100% - 40px);
}
.euro-preview .match-short-info .col.count-1 .team {
  width: 20%;
}
@media screen and (max-width: 640px) {
  .euro-preview .match-short-info .col.count-1 {
    width: 96%;
  }
}
.euro-preview .match-short-info .col.count-2 {
  width: calc(100% / 2 - 40px);
}
.euro-preview .match-short-info .col.count-2 .team {
  width: 30%;
}
@media screen and (max-width: 640px) {
  .euro-preview .match-short-info .col.count-2 {
    width: 96%;
  }
}
.euro-preview .match-short-info .col:nth-child(2) {
  background: #0c3d71;
}
.euro-preview .match-short-info .team {
  position: absolute;
  top: 31px;
  width: 50%;
  padding: 25px 0 0 0;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .euro-preview .match-short-info .team {
    left: 2%;
  }
}
.euro-preview .match-short-info .team.away {
  right: 20px;
  text-align: right;
}
@media screen and (max-width: 640px) {
  .euro-preview .match-short-info .team.away {
    left: auto;
    right: 2%;
  }
}
.euro-preview .match-short-info .team.away .ico {
  left: auto;
  right: 0;
}
.euro-preview .match-short-info .ico {
  background-image: url('/img/euro/sprite_euro2016_ico-27x18.png');
  background-repeat: no-repeat;
  height: 18px;
  width: 27px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
}
.euro-preview .match-short-info .ico.ico-alb {
  background-position: 0 -112px;
}
.euro-preview .match-short-info .ico.ico-ang {
  background-position: 0 0;
}
.euro-preview .match-short-info .ico.ico-aus {
  background-position: 0 -84px;
}
.euro-preview .match-short-info .ico.ico-bel {
  background-position: 0 -56px;
}
.euro-preview .match-short-info .ico.ico-cho {
  background-position: 0 -196px;
}
.euro-preview .match-short-info .ico.ico-cze {
  background-position: 0 -168px;
}
.euro-preview .match-short-info .ico.ico-his {
  background-position: 0 -252px;
}
.euro-preview .match-short-info .ico.ico-fra {
  background-position: 0 -28px;
}
.euro-preview .match-short-info .ico.ico-nie {
  background-position: 0 -140px;
}
.euro-preview .match-short-info .ico.ico-irl {
  background-position: 0 -224px;
}
.euro-preview .match-short-info .ico.ico-irp {
  background-position: 0 -364px;
}
.euro-preview .match-short-info .ico.ico-isl {
  background-position: 0 -308px;
}
.euro-preview .match-short-info .ico.ico-wlo {
  background-position: 0 -336px;
}
.euro-preview .match-short-info .ico.ico-pol {
  background-position: 0 -420px;
}
.euro-preview .match-short-info .ico.ico-por {
  background-position: 0 -392px;
}
.euro-preview .match-short-info .ico.ico-rum {
  background-position: 0 -476px;
}
.euro-preview .match-short-info .ico.ico-ros {
  background-position: 0 -280px;
}
.euro-preview .match-short-info .ico.ico-slo {
  background-position: 0 -532px;
}
.euro-preview .match-short-info .ico.ico-sui {
  background-position: 0 -504px;
}
.euro-preview .match-short-info .ico.ico-szw {
  background-position: 0 -616px;
}
.euro-preview .match-short-info .ico.ico-tur {
  background-position: 0 -644px;
}
.euro-preview .match-short-info .ico.ico-ukr {
  background-position: 0 -588px;
}
.euro-preview .match-short-info .ico.ico-wal {
  background-position: 0 -448px;
}
.euro-preview .match-short-info .ico.ico-weg {
  background-position: 0 -560px;
}
.euro-preview .match-short-info .team-name {
  line-height: 14px;
}
.euro-preview .match-short-info .score {
  position: relative;
  top: 15px;
  font-size: 18px;
  font-weight: bold;
}
.euro-preview .match-short-info .score .penalties {
  font-size: 14px;
  margin: 3px 0;
}
.euro-preview article {
  margin: 10px auto;
}
.euro-preview article h1 {
  padding: 10px;
}
.euro-preview article h1 a {
  color: #000;
}
.euro-preview article .lead {
  margin: 0 10px;
  padding: 10px 0 20px;
  border-bottom: 1px solid #fff;
}
