.clear {
  display: block;
}
.clear:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.rio2016-table {
  width: 100%;
}
.rio2016-table caption {
  font-size: 25px;
  padding: 0.7em 10px;
  background-color: #0E65AC;
  color: #fff;
  text-align: left;
}
.rio2016-table thead {
  background-color: #EDEDED;
  font-size: 12px;
}
.rio2016-table th {
  padding: 15px 10px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}
.rio2016-table td {
  background-color: #F4F4F4;
  border: 1px solid #fff;
  padding: 15px 10px;
  box-sizing: border-box;
  vertical-align: middle;
}
.rio2016-table td.last-column {
  background-color: #E6F4F5;
}
@media screen and (max-width: 720px) {
  .rio2016-table td {
    vertical-align: top;
  }
}
.rio2016-table td > img {
  max-width: 50px;
  height: auto;
}
.rio2016-table tr.row-poland td {
  background-color: #ffc7c7 !important;
}
.rio2016-table a {
  color: #368d1d;
}
.rio2016-table.rio2016-medals .last-column {
  white-space: nowrap;
  text-align: right;
}
.rio2016-table.rio2016-medals .medals-container {
  display: inline-block;
}
.rio2016-table.rio2016-medals .medal {
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 25px;
  height: 25px;
  line-height: 21px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}
.rio2016-table.rio2016-medals .medals-gold .medal,
.rio2016-table.rio2016-medals .medal-gold {
  background-color: #FFB903;
}
.rio2016-table.rio2016-medals .medals-silver .medal,
.rio2016-table.rio2016-medals .medal-silver {
  background-color: #BDBDBD;
}
.rio2016-table.rio2016-medals .medals-bronze .medal,
.rio2016-table.rio2016-medals .medal-bronze {
  background-color: #B96300;
}
.rio2016-table.rio2016-medals .medals-none .medal,
.rio2016-table.rio2016-medals .medal-none {
  background-color: #F7F7F7;
}
.rio2016-table.rio2016-medals .medal-group {
  display: inline-block;
}
.rio2016-table.rio2016-medals .medal-group .medal:nth-child(n+2) {
  margin-left: -16px;
}
.rio2016-table.rio2016-medals .medal-group.more-than-four:after {
  content: '+';
  position: absolute;
  right: 0;
  bottom: -0.2em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  color: #368d1d;
  font-size: 20px;
}
.rio2016-table.rio2016-medals-big td {
  font-size: 16px;
  text-align: center;
}
.rio2016-table.rio2016-medals-big .discipline {
  text-align: left;
}
.rio2016-table.rio2016-medals-big th > .medal {
  margin-right: 10px;
}
.rio2016-table.rio2016-medals-big .medals-container .medal {
  margin-right: 3px;
}
.rio2016-table.rio2016-medals-big .medals-container .medal:last-child {
  margin-right: 0;
}
.rio2016-table.rio2016-medals-big .medals-container.medal-group .medal {
  margin-right: 0;
}
.rio2016-table.rio2016-medals-big tr.suma td {
  background-color: #EDEDED;
  color: #BDBDBD;
  font-size: 30px;
}
.rio2016-table.rio2016-medals-big .suma-title {
  text-align: right;
  padding-right: 20px;
}
.rio2016-table.rio2016-medal-classification td {
  font-size: 16px;
}
.rio2016-table.rio2016-medal-classification .position {
  text-align: center;
}
.rio2016-table.rio2016-medal-classification .country {
  padding-left: 45px;
}
.rio2016-table.rio2016-medal-classification .flag {
  margin-right: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}
.rio2016-table.rio2016-medal-classification .medals {
  white-space: nowrap;
}
.rio2016-table.rio2016-medal-classification th > .medal {
  margin-right: 10px;
}
.rio2016-table.rio2016-medal-classification td > .medal {
  margin-right: 5px;
}
.rio2016-table.rio2016-medal-classification .medal-none {
  margin-right: 0;
}
.rio2016-table.rio2016-medal-classification .medal-group .medal {
  margin-right: 3px;
}
.rio2016-table.rio2016-medal-classification .all-medals {
  text-align: center;
}
.rio2016-table.rio2016-discipline-results .place {
  font-weight: bold;
}
.rio2016-table.rio2016-discipline-results .last-column {
  white-space: nowrap;
}
.rio2016-table.rio2016-calendar {
  margin-top: 30px;
}
.rio2016-table.rio2016-calendar .discipline {
  width: 40%;
}
.rio2016-table.rio2016-calendar .competitors {
  width: 25%;
}
.rio2016-table.rio2016-calendar .discipline {
  font-size: 18px;
}
.rio2016-table.rio2016-calendar .discipline .sub {
  font-size: 13px;
  color: #878787;
}
.rio2016-table.rio2016-calendar .type {
  font-size: 14px;
}
.rio2016-table.rio2016-calendar .hour {
  color: #F96A01;
  font-weight: bold;
  font-size: 18px;
}
.rio2016-table.rio2016-calendar .date-row td {
  background-color: #EDEDED !important;
  color: #879CAF;
  font-weight: bold;
  padding: 0.2em 10px;
}
.rio2016-table.rio2016-calendar .otwarcie td {
  color: #fff;
  background-color: #FCB131 !important;
}
.rio2016-table.rio2016-calendar .otwarcie .type {
  font-size: 0;
}
.rio2016-table .tooltip {
  background-color: #FFFFCC;
  display: block;
  padding: 1em;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.rio2016-table .tooltip:after {
  background-color: #FFFFCC;
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  transform: rotateZ(45deg);
  box-shadow: 4px 2px 5px -2px rgba(0,0,0,0.2);
}
.mainLeftColumn .rio2016-table tr:nth-child(2n) td {
  background-color: #E6F4F5;
}
.mainRightColumn .rio2016-table caption {
  font-weight: bold;
  font-size: 20px;
  padding: 0.5em 10px;
  background-image: url('/img/olimpics/rio2016/table-small-header.jpg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-color: #0086CD;
  background-size: auto 100%;
}
.rio2016-calendar-main-title {
  color: #368d1d;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0.3em;
}
.rio2016-calendar-container .slider-date {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #BDBDBD;
}
.rio2016-calendar-container .calendar-slider-viewport-container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  height: 40px;
  margin: 5px 0 0;
}
.rio2016-calendar-container .calendar-slider-viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.rio2016-calendar-container .calendar-list {
  white-space: nowrap;
  position: absolute;
  left: 0;
  -webkit-transition: left 180ms ease-in-out 0s;
  transition: left 180ms ease-in-out 0s;
}
.rio2016-calendar-container .calendar-list > li {
  display: inline-block;
  width: 35px;
  height: 40px;
  vertical-align: top;
  padding: 12px 0;
  margin-right: 10px;
  box-sizing: border-box;
  white-space: normal;
  border: 2px solid #51A5E3;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
}
.rio2016-calendar-container .calendar-list > li:last-child {
  margin-right: 0;
}
.rio2016-calendar-container .calendar-list > li > a {
  color: #000;
}
.rio2016-calendar-container .calendar-list > li.selected {
  border-color: #3262AA;
  background-color: #51A5E3;
}
.rio2016-calendar-container .calendar-list > li.selected > a {
  color: #fff;
}
.rio2016-calendar-container .rio2016-calendar_slider-navigation .btn-current {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 25px;
  text-align: center;
  width: 0;
  height: 0;
  background-color: transparent;
  padding: 0;
  font-size: 0;
  border-style: solid;
}
.rio2016-calendar-container .rio2016-calendar_slider-navigation .btn-current.prev {
  border-width: 20px 20px 20px 0;
  border-color: transparent #077ABB transparent transparent;
  left: 0;
}
.rio2016-calendar-container .rio2016-calendar_slider-navigation .btn-current.next {
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #077ABB;
  right: 0;
}
.rio2016-calendar-container .rio2016-calendar_slider-navigation .btn-current.hide {
  opacity: .1;
}
.rio2016-calendar-container .calendar-description {
  margin-top: 30px;
  font-weight: bold;
}
.rio2016-calendar-container .rio2016-calendar {
  display: none;
}
.rio2016-top-calendar {
  width: 100%;
  max-width: 1198px;
  margin: 0 auto;
}
.rio2016-top-calendar_container {
  background-image: url('/img/olimpics/rio2016/bg_top-calendar.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 10px 0;
  margin-bottom: 10px;
  margin-top: -10px;
  z-index: 1;
}
.rio2016-top-calendar_slider-navigation {
  width: 100%;
  max-width: 1198px;
  margin: 0 auto;
}
.rio2016-top-calendar_slider-navigation .btn-current {
  position: absolute;
  bottom: 0;
  height: 110px;
  width: 25px;
  text-align: center;
  background: rgba(255,255,255,0.75);
  border: 1px solid rgba(0,0,0,0.3);
  font-size: 0;
  padding: 0;
}
.rio2016-top-calendar_slider-navigation .btn-current:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 25px;
  background-image: url('/img/olimpics/rio2016/sprite_rio2016.png');
  background-repeat: no-repeat;
}
.rio2016-top-calendar_slider-navigation .btn-current.prev {
  left: 0;
}
.rio2016-top-calendar_slider-navigation .btn-current.prev:after {
  background-position: left center;
}
.rio2016-top-calendar_slider-navigation .btn-current.next {
  right: 115px;
}
.rio2016-top-calendar_slider-navigation .btn-current.next:after {
  background-position: right center;
}
.rio2016-top-calendar_slider-navigation .btn-current.hide {
  opacity: 0.6;
  border-width: 0;
}
.rio2016-top-calendar_slider-navigation .btn-current.hide:after {
  opacity: 0.3;
}
.rio2016-top-calendar_slider-navigation .btn-current:hover {
  background: rgba(255,255,255,0.95);
}
.rio2016-top-calendar a {
  color: #368d1d;
  font-weight: bold;
}
.rio2016-top-calendar .top-calendar-title {
  font-weight: bold;
  color: #368d1d;
  text-transform: uppercase;
}
.rio2016-top-calendar .top-calendar-slider-viewport-container {
  width: 100%;
  padding-right: 145px;
  padding-left: 30px;
  box-sizing: border-box;
  height: 110px;
  margin: 5px 0 0;
}
.rio2016-top-calendar .top-calendar-slider-viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.rio2016-top-calendar .top-calendar-row {
  white-space: nowrap;
  position: absolute;
  left: 0;
  -webkit-transition: left 180ms ease-in-out 0s;
  transition: left 180ms ease-in-out 0s;
}
.rio2016-top-calendar .top-calendar-unit {
  width: 130px;
  height: 110px;
  vertical-align: top;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
  white-space: normal;
  background-color: #fff;
}
.rio2016-top-calendar .top-calendar-unit:last-child {
  margin-right: 0;
}
.rio2016-top-calendar .top-calendar-unit.active {
  border-color: rgba(0,0,0,0.6);
}
.rio2016-top-calendar .top-calendar-unit.active a {
  color: #E43F29;
}
.rio2016-top-calendar .top-calendar-unit.discipline-image {
  background-image: url('/img/olimpics/rio2016/disciplines-gray.png');
  background-repeat: no-repeat;
  background-size: 1920px;
}
.rio2016-top-calendar .top-calendar-unit.cover {
  opacity: .25;
}
.rio2016-top-calendar .top-calendar-unit_date {
  padding: 3px 8px;
  background-color: #0086CD;
  color: #fff;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  display: inline-block;
}
.rio2016-top-calendar .top-calendar-unit_type {
  font-size: 11px;
  color: #878787;
  margin: 0.3em 0 0.2em;
}
.rio2016-top-calendar .top-calendar-unit_competitors {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 2px;
}
.rio2016-top-calendar .top-calendar-unit_discipline {
  font-size: 11px;
}
.rio2016-top-calendar .top-calendar-see-all {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 110px;
  box-sizing: border-box;
  font-size: 12px;
  padding: 0 13px;
  color: #0E65AC;
  border: 1px solid #FFDD00;
  background-color: #F3F3F3;
  text-align: center;
  white-space: normal;
  text-decoration: none;
}
.rio2016-top-calendar .top-calendar-see-all > span {
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rio2016-top-calendar .top-calendar-see-all :hover {
  color: #b90000;
}
.see-more-container {
  text-align: right;
}
.see-more-container .more {
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .rio2016-top-calendar,
  .rio2016-top-calendar_slider-navigation {
    width: 98%;
  }
}
@media screen and (max-width: 725px) {
  .rio2016-table.rio2016-medal-classification thead,
  .rio2016-table.rio2016-medals-big thead,
  .rio2016-table.rio2016-calendar thead {
    display: none;
  }
  .rio2016-table.rio2016-medal-classification td,
  .rio2016-table.rio2016-medals-big td {
    padding-top: 65px;
    border-width: 0;
  }
  .rio2016-table.rio2016-medal-classification .country,
  .rio2016-table.rio2016-medals-big .discipline,
  .rio2016-table.rio2016-medals-big .suma-title {
    position: absolute;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  .rio2016-table.rio2016-medal-classification td {
    width: 22%;
  }
  .rio2016-table.rio2016-medal-classification .position {
    width: 12%;
    padding-left: 0;
    padding-right: 0;
    border-right-width: 1px;
    padding-top: 15px;
  }
  .rio2016-table.rio2016-medal-classification .country {
    width: 88%;
    border-bottom-width: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
  }
  .rio2016-table.rio2016-medal-classification .flag {
    position: static;
    margin-right: 10px;
    margin-top: auto;
  }
  .rio2016-table.rio2016-medal-classification .all-medals {
    position: relative;
    border-left-width: 1px;
  }
  .rio2016-table.rio2016-medal-classification .all-medals:before {
    content: 'Razem';
    z-index: 3;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .rio2016-table.rio2016-medals-big td {
    width: calc(100% / 3);
    padding-top: 75px;
  }
  .rio2016-table.rio2016-medals-big .discipline {
    padding-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .rio2016-table.rio2016-medals-big .discipline .discipline-image .tooltip {
    background-color: transparent;
    padding: 0;
    bottom: 70%;
    left: 100%;
    -webkit-transform: none;
    transform: none;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    color: #0671b4;
    font-size: 0.8em;
  }
  .rio2016-table.rio2016-medals-big .discipline .discipline-image .tooltip:after {
    display: none;
  }
  .rio2016-table.rio2016-medals-big .suma-title {
    text-align: left;
    padding-left: 25px;
  }
  .rio2016-table.rio2016-medals-big tr.suma td {
    font-size: 20px;
    padding-top: 50px;
  }
  .rio2016-table.rio2016-medals-big tr.suma .suma-title {
    padding-top: 10px;
  }
  .rio2016-table.rio2016-calendar .competitors {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .rio2016-table.rio2016-medal-classification td {
    text-align: center;
  }
  .rio2016-table.rio2016-medal-classification td > .medal {
    display: block;
    margin: 0 auto 3px;
  }
  .rio2016-table.rio2016-medal-classification .country {
    text-align: left;
  }
}
@media screen and (max-width: 360px) {
  .rio2016-table td {
    padding: 15px 5px;
  }
  .rio2016-table.rio2016-calendar .discipline {
    font-size: 16px;
  }
  .rio2016-table.rio2016-calendar .discipline .sub {
    font-size: 12px;
    margin-top: 3px;
  }
  .rio2016-table.rio2016-calendar .hour {
    font-size: 16px;
  }
}
.rio-preview {
  margin: 10px auto;
  background: #e4e4e4;
}
.rio-preview .rio-topic {
  height: 92px;
  background-image: url('/img/olimpics/rio2016/bg_rio-preview.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.rio-preview .rio-topic > a {
  background-image: url('/img/olimpics/rio2016/logo_rio-tvn24.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 12px;
  left: 20px;
  height: 70px;
  width: 258px;
}
@media screen and (max-width: 443px) {
  .rio-preview .rio-topic {
    margin-top: 28px;
  }
}
.rio-preview .olimp-name {
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.rio-preview .brand {
  float: right;
  height: 100%;
}
@media screen and (max-width: 640px) {
  .rio-preview .brand {
    display: none;
  }
}
.rio-preview .brand .txt {
  float: left;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 12px 15px 10px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  border-left: 1px solid #fff;
}
.rio-preview .brand .txt > span {
  display: block;
}
.rio-preview .brand a {
  float: left;
  display: block;
  height: 100%;
}
.rio-preview .brand a img {
  height: 100%;
  max-height: 36px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  margin-right: 20px;
}
.rio-preview .match-short-info {
  display: block;
  clear: both;
}
.rio-preview .match-short-info:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.rio-preview .match-short-info .col {
  position: relative;
  float: left;
  height: 84px;
  width: calc(100% / 3 - 40px);
  padding: 5px 20px;
  text-align: center;
  color: #fff;
  background: #1d558e;
}
@media screen and (max-width: 640px) {
  .rio-preview .match-short-info .col {
    float: none;
    height: 76px;
    width: 96%;
    padding: 5px 2%;
  }
}
.rio-preview .match-short-info .col.count-1 .team.home,
.rio-preview .match-short-info .col.count-2 .team.home {
  right: 50%;
}
.rio-preview .match-short-info .col.count-1 .team.away,
.rio-preview .match-short-info .col.count-2 .team.away {
  right: auto;
  left: 50%;
}
@media screen and (max-width: 640px) {
  .rio-preview .match-short-info .col.count-1 .team.away,
  .rio-preview .match-short-info .col.count-2 .team.away {
    right: 2%;
    left: auto;
  }
}
.rio-preview .match-short-info .col.count-1 {
  width: calc(100% - 40px);
}
.rio-preview .match-short-info .col.count-1 .team {
  width: 20%;
}
@media screen and (max-width: 640px) {
  .rio-preview .match-short-info .col.count-1 {
    width: 96%;
  }
}
.rio-preview .match-short-info .col.count-2 {
  width: calc(100% / 2 - 40px);
}
.rio-preview .match-short-info .col.count-2 .team {
  width: 30%;
}
@media screen and (max-width: 640px) {
  .rio-preview .match-short-info .col.count-2 {
    width: 96%;
  }
}
.rio-preview .match-short-info .col:nth-child(2) {
  background: #0c3d71;
}
.rio-preview .match-short-info .team {
  position: absolute;
  top: 31px;
  width: 50%;
  padding: 25px 0 0 0;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .rio-preview .match-short-info .team {
    left: 2%;
  }
}
.rio-preview .match-short-info .team.away {
  right: 20px;
  text-align: right;
}
@media screen and (max-width: 640px) {
  .rio-preview .match-short-info .team.away {
    left: auto;
    right: 2%;
  }
}
.rio-preview .match-short-info .team.away .ico {
  left: auto;
  right: 0;
}
.rio-preview .match-short-info .ico {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
}
.rio-preview .match-short-info .team-name {
  line-height: 14px;
}
.rio-preview .match-short-info .score {
  position: relative;
  top: 15px;
  font-size: 18px;
  font-weight: bold;
}
.rio-preview article {
  margin: 10px auto;
}
.rio-preview article:last-of-type .lead {
  border-bottom: 0 none;
}
.rio-preview article h1 {
  padding: 10px;
}
.rio-preview article h1 a {
  color: #000;
}
.rio-preview article .lead {
  margin: 0 10px;
  padding: 10px 0 20px;
  line-height: 1.3em;
  border-bottom: 1px solid #fff;
}
