body {
	background-color: #ffffff;
}

/******** Bootstrap generic classes - navigation bar, inverse navigation bar, nav pills **************/

.navbar-inverse .navbar-toggle {
	border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #f2f2f2;
}

.navbar-custom {
    background-color: #f2f2f2;
	border-bottom: 0.250em solid #ffffff;
}

.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
	color: #333333;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #909090;
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #909090;
    color: white;
}

.panel-heading a i {
	color: #ee7000;
}

.lineup-bench-button-div {
    color: #ee7000;
}

/************** general settings ***********************/

.greybackground {
	background-color: #ffffff;
}

/*************** mobile navigation *******************/

#overlay {
	background-color: #f2f2f2;
}

.toprowNavi {
	border-bottom: 6px solid #909090;
}

.newSection {
	background-color: #909090;
}

#naviList li a {
	color: #333333;
}

#naviList li a.active {
	background-color: #909090;
	color: white;
}

#naviList li a:hover {
	background-color: #909090;
	color: white;
}

.dividerNavi {
	background-image: linear-gradient(to bottom, #909090 0%, #909090 51%, transparent 51%);
}

#naviList .dropdown-menu {
	background-color: #ffffff;
}

.backToConfMob {
	color: #ee7000;
}

.teamOneScorersMobile, .teamTwoScorersMobile {
	color: #909090;
}

.minuteMobile, .showConferenceText {
	color: #909090;
}

.stadiumNameMobile, .refereeNameMobile {
	color: #909090;
}

/**************** match view ******************/

.bgMatch {
    background: url(http://prod-lmc.azureedge.net/static/customer/light/euromap_light.jpg) no-repeat;
    background-size: cover;
	background-position: center bottom;
	color: #333333;
}

/************** multiple matches view ************/

.social4Live {
	color: #ee7000;
}

.liveOrNot2Live, .liveOrNot3Live, .liveOrNot4Live, .liveOrNotCL span {
	color: #909090;
}

.scorebox2Live, .scorebox3Live, .scorebox4Live, .scoreboxNew4Live, .scoreboxMobile, .scoreboxNew2LiveMobile, .scoreboxNew4LiveMobile, .clScorebox {
	background-color: #d4d4d4;
}

.scorebox2Live span, .scorebox3Live span, .scorebox4Live span, .scoreboxNew4Live span, .scoreboxMobile span, .scoreboxNew2LiveMobile span, .scoreboxNew4LiveMobile span, .clScorebox span {
	color: #333333;
}

.teamOne4Live, .teamTwo4Live, .teamOneField3Live, .teamTwoField3Live, .teamOneField2Live, .teamTwoField2Live, .clTeamname {
	color: #333333;
}

.matchRefs2Live .stadium2Live, .matchRefs2Live .referee2Live, .matchRefs3Live .stadium3Live, .matchRefs3Live .referee3Live {
	color: #909090;
}

.dynamicMinute2Live, .dynamicMinute3Live {
	background-color: #ee7000;
}

.progress2Live, .progress2LiveMobile, .progress3Live, .progress4Live, .progress4LiveMobile, .progress, .progressCLLive {
    background-color: #994700; /* dunkles orange */
}

.progress-bar-custom2Live, .progress-bar-custom3Live, .progress-bar-custom4Live, .progress-bar-custom, .progress-bar-customCLLive {
	background: #ee7000;
}

.arrow-down {
	border-top: 0.469em solid #ee7000;
}

/**************** section for the live match view - one live match ******************/

.socialTag, .socialMobile {
    color: #ee7000;
}

.liveOrNot {
	color: #909090;
}

.scorebox {
	background-color: #d4d4d4; /* laut PSD */
}

.scorebox span {
	color: #333333;
}

.matchRefs .stadium {
	color: #909090;
}

.matchRefs .referee {
	color: #909090;
}

.activeBar {
    background-color: #333333;
}

.inactiveBar {
    background-color: #a0a0a0;
}

.activeMinute, .activeBar {
	color: #333333;
}

.inactiveMinute, .inactiveBar {
	color: #a0a0a0;
}

#spaceBetweenPens {
    color: #333333;
}

.penaltiesBlockMobile {
    color: #909090;
}

.eventImg {
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.5);
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
}

.eventImg:hover {
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.5);
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
}

#conferenceLinkContent, #confLinkContentMobile {
	color: #ee7000;
}

.minuteBox {
	background-color: #ee7000;
}

.stadiumNameMobile, .refereeNameMobile {
	color: #909090;
}

/******************** tabs section ********************************/

.bgTabs {
    background-color: #f2f2f2;
    border-top: 0.125em solid white;
}

/****************** tabs contents ***************************/

.tabContentBg {
	background-color: #f2f2f2;
}

/****** Statistiken **********/

.databox {
	background-color: #ffffff;
	border: 2px solid #d4d4d4;
}

.databoxsmall {
	background-color: #ffffff;
	border: 2px solid #d4d4d4;
}

.content {
	color: black;
}

/*********** Teams *****************/

.teamContainer {
    border-color: #ee7000;
}

.placesRow {
    border-bottom: 1px solid rgba(238, 112, 0, 0.3);
}

.placesRowTop {
    border-bottom: 1px solid rgba(238, 112, 0, 0.3);
}

.scalaBars {
    background-color: #ee7000;
}

.drawVert {
    background-color: #ee7000;
}

.sepBarsBottom {
    background-color: #ee7000;
}

/******** Spielplan ************/

.resultsMatchDateLive {
	background-color: #ee7000;
}

.liveResultsMin {
	background-color: #ee7000;
}

/************** Spielorte *********************/

.stadiumText {
	color: #333333;
}

.stadiumText  span{
	text-shadow: 1px 1px 2px #333333;
}

/****************** live blogging ***************************/

.row2 {
    background-color: #ffffff;
}
