/* ID: 12535722 */
/* EXPERIMENT #1 VARIANTE 0*/
.experiment_0_pre .vhb-dpl-wrapper-container {
  display:none;
}
body.experiment_0 .vhb-paywall-wrapper .vhb-dpl-container {
    height: 520px;
    background: url(/images/vhb_dpl_paywall/12944414/1-formatOriginal.png) no-repeat;
}
/* Plans table */
body.experiment_0 .vhb-dpl-plans {
    padding-left: 14px;
    margin-top: 60px;
}
 
body.experiment_0 .vhb-dpl-plans .plan{
    width: 165px;
    border: 1px solid white;
    color: white;
    font-size: 9px;
    display: inline-block;
    padding: 5px;
    margin: 0px 5px;
    text-align: center;
}
body.experiment_0 .vhb-dpl-plans .plan:hover{
    border-color: #ee7000;
}
 
body.experiment_0 .vhb-dpl-plans .plan .title{
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 6px;
}
.vhb-dpl-plans .plan .subtitle{
    display: block; 
    padding-bottom:15px;
}
.vhb-dpl-plans .plan .subtitle.tiny{
    font-size: 9px;
}
body.experiment_0 .vhb-dpl-plans .plan a{
    display: block; 
    background-color: #ee7000;
    color: white;
    font-size: 12px;
    padding:6px;
    border-radius: 3px;
}
body.experiment_0 .vhb-dpl-plans .plan a:hover{
    background-color: #CD5F00;
}
body.experiment_0 .vhb-dpl-plans .plan table{
    margin-bottom:15px;
    font-size: 11px;
    font-weight: bold;
    width:100%;
}
body.experiment_0 .vhb-dpl-plans .plan table td{
    width:50%;
}
body.experiment_0 .vhb-dpl-plans .plan table td span{
    color: #ee7000;
}
body.experiment_0 .vhb-dpl-plans .plan table td:first-child{
    border-right: 1px solid white;
}
/* Fix footer Link for existing customers*/
body.experiment_0 .vhb-dpl-container .vhb-dpl-buttons{
    margin-top: 0px;
}
body.experiment_0 .vhb-dpl-wrapper-container div.dropdown.dropdown-no-balloon.dropup{
    display: none;
}
body.experiment_0 .vhb-dpl-container .vhb-dpl-buttons .vhb-dpl-button.vhb-dpl-button-secondary {
    float: right;
    text-align:right;
    border-width: 0px;
    width: 50%;
    padding: 15px 0px;
    font-weight: 300 !important;
}
body.experiment_0 .vhb-dpl-container .vhb-dpl-buttons .vhb-dpl-button.vhb-dpl-button-secondary > div:before {
    content: ">> ";
    font-weight: bold;
    color: #ee7000;
}
/*
* EXPERIMENT #2
*/
body.experiment_2 .push-message-fixed
{
  display:none;
  position:absolute;
  right:230px;
  padding:10px 0;
}
body.experiment_2 .vhb-page-header-navigation-fixed .push-message-fixed
{
  display:block;
}
body.experiment_2 .push-message:hover
{
  text-decoration:underline;
  cursor:pointer;
}
body.experiment_2 #pushArticleBox .preview{
    color: #ee7000;
    text-transform: uppercase;
    font-size: 80%;
    border: 1px solid #ee7000;
    padding: 3px;
}
body.experiment_2 #pushArticleBox .vhb-teaser-list-small .vhb-teaser .vhb-time
{
  float:left;
  min-height:100px;
}
body.experiment_2 #pushArticleBox .vhb-teaser.vhb-type2 .vhb-media-wrapper
{
  margin-top:0;
}
body.experiment_2 .vhb-label-premium.display_false
{
  display:none;
}
body.experiment_2 .vhb-page-header-navigation .push-message-seperator
{
  margin-right:5px;
  margin-left:10px!important;
}
body.experiment_2 .article-mark-read
{
  display:inline;
  float:right;
  padding-top:0;
  position:absolute;
  right:190px;
}
body.experiment_2 .vhb-headline-link{
    line-height: 48px;
    float:right;
    color: #ee7000;
    cursor: pointer;
}
body.experiment_2 .vhb-headline-link:hover{
    text-decoration: underline;
}
body.experiment_2 .vhb-explain-box{
    padding: 20px;
    margin: 20px;
    border: 1px solid #ee7000;
}
body.experiment_2 .vhb-explain-box h3{
    line-height:55px;
    font-size: 120%;
}
/*
 Experiment 3 - Header
*/
/* Header Logo höher machen */
body.experiment_3 .vhb-page-header-navigation-fixed .vhb-page-header-logo{
    height: 70px !important;
    padding-top:15px !important;
    padding-bottom:15px !important;
}
body.experiment_3 .vhb-page-header .vhb-page-header-logo-navigation-wrapper.vhb-page-header-navigation-fixed>div .vhb-page-header-logo>.vhb-page-navigation-social {
    top:23px;
}
body.experiment_3 .vhb-page-header .vhb-page-header-logo-navigation-wrapper.vhb-page-header-navigation-fixed>div .vhb-page-header-logo>.vhb-profile-button>button{
    top: 15px;
}
body.experiment_3 .vhb-page-header .vhb-page-header-logo-navigation-wrapper.vhb-page-header-navigation-fixed.vhb-page-header-navigation-fixed>div .vhb-page-header-logo>.vhb-page-header-logo-search{
  top: 23px;
}
/* Rubriken ausblenden */
body.experiment_3 .vhb-page-header .vhb-page-header-logo-navigation-wrapper.vhb-page-header-navigation-fixed.closed>div .vhb-page-header-navigation-wrapper{
  height: 0px;
  overflow-y: hidden;
}
body.experiment_3 .vhb-page-header .vhb-page-header-logo-navigation-wrapper.vhb-page-header-navigation-fixed.closed>div .vhb-page-header-navigation>ul{
  height: 0px;
  overflow-y: hidden;
  transition: height 250ms ease;
}
body.experiment_3 .vhb-page-header .vhb-page-header-logo-navigation-wrapper.vhb-page-header-navigation-fixed>div .vhb-page-header-navigation>ul{
  height: 32px;
  overflow-y: hidden;
  transition: height 250ms ease;
}
/* Zweite Linie ausblenden */
body.experiment_3 .vhb-page-header .vhb-page-header-logo-navigation-wrapper.vhb-page-header-navigation-fixed.closed>div .vhb-page-header-navigation-wrapper{
  border-bottom-width: 0px;
}
/* Burger Button */
body.experiment_3 .vhb-page-header-navigation-fixed .vhb-page-header-logo #experiment-bb{
  content:' ';
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAi0lEQVRYR+2VwQ2EMAwEZyughINOKIWrDEqhFOiADoxAuhMib2Iem2+k7Hpsb0TyUbI+NmACfwIR0QMj0D48mAvwlTQfOlcDx8XnYfHf84uk7m5gA5pKBlZJJ+l7C6YKFFZgKFpQqfJCxmv4HgLOgYhwDqREwXu2IKX861+QbsA54BxIH0IbMIEsAjtm8UIhcMExWwAAAABJRU5ErkJggg==");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  cursor: pointer;
  display: inline-block;
  margin-left:9px;
  top: 8px;
  left: 124px;  
  position: relative;
  background-color: #ee7000;
  height:24px;
  width: 24px;
  border-radius: 12px;
}
body.experiment_3 .vhb-page-header-navigation-fixed.closed .vhb-page-header-logo #experiment-bb{
  background-color: #666666;
}
body.experiment_3 .vhb-page-header .vhb-page-header-logo-navigation-wrapper>div .vhb-page-header-logo>.vhb-profile-button .dropdown-menu {
  top: 61px;
}
body.experiment_3 .vhb-page-header .vhb-page-header-logo-navigation-wrapper {
  height: 176px;
}
