/* MAIN STYLE & NULL ========================*/ 
body {background:#fff;color:#333;font-family:Tahoma,Verdana,Century gothic,Arial,sans-serif;font-size:13px;margin:0;padding:0;}
#bg {background: #fff url('/img/bg.png') repeat-x;margin:0;padding:0;}
.clr {clear: both;}
*:focus {outline: none;}
li {list-style:none;}
a {color: #2c5207;text-decoration: none;}
a:hover {color: #365b12;text-decoration: underline;}
img {border:0px;}
td {padding:0px;}
table {border-spacing: 0px;}
ul {list-style: none;}
ul, td, tr, table {padding: 0; border: 0;margin: 0; border-spacing: 0px;font-size: 12px;}
iframe {padding: 0; border: 0;margin: 0;outline:none;}
hr {height: 1px;background:#E9E7E7;border: none; }
#catSelector9 {background:none;border:none; color:#888;}
.u-menu {z-index:9999;}
.pbarContainer {display:none;}
table.manTable {text-align: left;}
.wrapper {margin: 0 auto;width: 1000px; display: block;}

.wrapper:after { 
 content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;
}

select.series {width: 100%; background: #000; color: #fff; border:0;}

.slider_bg {width: 100%;height:257px;background: url('/img/slider_bg.png');background-repeat: repeat-x;}

.hslider_full {width:1000px; height:195px; overflow:hidden; position:relative;float: left; }
.hslider {width:1000px; height:195px; position:relative;float: left;}
.hslider_prev {width:35px; height:77px; display:block; position:absolute; left: 10px; top:60px; background:url('/img/prev.png') no-repeat left; cursor:pointer; z-index:9999;}
.hslider_next {width:35px; height:77px; display:block; position:absolute; right: 10px; top:70px; background:url('/img/next.png') no-repeat right; cursor:pointer; z-index:9999;}

.hslider_in {position:relative; overflow:hidden;width: 860px !important;float: left; margin: 0 70px 0 70px;}
.hslider_in ul {position: relative;height: 195px;float: left;}
.hslider_in ul li {width:140px; height:195px; float:left; padding:5px; overflow:hidden;}
.hslider_in ul li img:hover {opacity:0.7;}
.hslider_in ul li img {height: 200px;width: 140px;}

.sl_text {float:left;width: 890px;margin:0 50px;background:#00c0ff;padding:5px;}
.sl_text h1 {padding:0;margin:0;font-size: 16px;color:#fff;text-align:center;}





.top {height:95px;float:left;width:1000px;}
 #uidLogButton {display:none !important;} 
 #baseLogForm {display:block !important;}
 .loginform {float:right;width: 300px;margin: 10px 10px 0 0;}
 .login {float:left;width:300px;margin: 0 0 5px 0;}
 .pass_p_btn {float:left;width:300px;}
 input.loginField {float:left;width:160px;background:#fff;border-radius:7px;border:none;outline:none;height:22px;padding: 0 0 0 5px;}
 .loginButton {float:left;margin: 0 0 0 5px;width:52px;height:31px;background:url('/img/log_btn.png')no-repeat;outline:none;border:none;cursor:pointer;}
 .post_log {float:left;width:300px;margin: 0;font-size:11px;}
.logo {background: url('/img/logo.png') no-repeat;float:left;width:249px;height:94px;}
.user_box {float:right;width: 300px;}
.profile {background: url('/img/profile.png') no-repeat;width:172px;height:51px;margin: 20px 0 0 20px;}

.s_e_o {float:left;width:590px;}
.s_e_o h2, .s_e_o h3 {padding:0;margin:0;float:left;width:590px;text-align:center;}
.s_e_o p {float:left;width:590px;margin: 5px 0 10px 0;text-align:justify;}

.cat_s {float:left;width:570px;padding:10px;background: #EFF5E9;border-radius:5px;margin: 0 0 10px 0;}
.cat_s h2, .cat_s h3 {padding:0;margin:0;float:left;width:570px;text-align:center;}
.cat_s p {float:left;width:570px;margin: 5px 0 10px 0;text-align:justify;}

.hk {float:left;width:590px;margin: 10px 0;}

.main {width:1000px;float:left;margin: 10px 0 0 0;}
.l_sidebar {float:left;width:200px;}
.content {float:left;margin: 0 0 0 5px;width:590px;}
.content_p {float:left;margin: 0 0 0 5px;width:570px;background: #EFF5E9;border-radius: 5px;padding: 10px;}
.r_sidebar {float:left;margin: 0 0 0 5px;width:200px;}

.block {width:200px;float:left;margin:0 0 10px 0;}
.menu_title {background: url('/img/menu_title.png') no-repeat;height:52px;width: 200px;}
.cat_title {background: url('/img/cat_title.png') no-repeat;height:51px;width: 200px;}
.b_body {background: #c6dbb0;width:200px;float:left;border-radius: 0 0 5px 5px;}
.b_body2 {background: #eef4e7;width:200px;float:left;border-radius: 0 0 5px 5px;padding: 0 0 10px 0;}

ul.uMenuRoot, table.catsTable {float:left;width:200px;padding:0;margin:0;}
ul.uMenuRoot li, td.catsTd, ul.liders li {padding:10px;width:180px;background: url('/img/dotted.png') repeat-x;}
ul.uMenuRoot li a:hover {text-decoration:none;}



ul.liders li {padding:5px 10px 7px 10px;width:180px;background: url('/img/dotted.png') bottom repeat-x;color:#2c5207;}
ul.liders li a {color: #0090bf;}
ul.liders li span {color:#2c5207;padding: 0 0 0 15px;}


#search {float:right;width:540px;margin: 24px 0 0 0;}
.auth {float:right;margin: 5px 7px 0 0;}
.search_title {background: url('/img/search_title.png') no-repeat;height: 51px; width: 200px;float:left;}
#search input.sp1 {border: 2px solid #e2e2e2 !important;background: #fff;color:#333;border-radius:5px;width:400px;height:30px;margin:0;float:left;}
#search input.btn1 {float:left;background: #fff url('http://kinoclips.net/img/vid_title2.png') center;color:#fff;border-radius:5px;border: 1px solid #2c5207;height: 36px; width: 119px;margin: 0 0 0 10px;outline:none;cursor:pointer;}


#baseLogFormAjx {display:block !important;}
#uidLogButtonAjx {display:none !important;}
.add_soc_title {background: url('/img/add_soc_title.png') no-repeat;height:51px;width: 200px;}
.lider_title {background: url('/img/lider_title.png') no-repeat;height:52px;width: 200px;}
.random_film_title {background: url('/img/random_film.png') no-repeat;height:50px;width: 200px;}
.today_kino_title {background: url('/img/today_kino.png') no-repeat;height:50px;width: 200px;}
.update_mult_title {background: url('/img/update_mult.png') no-repeat;height:50px;width: 200px;}




.top_s_title {background: url('/img/top_s.png') no-repeat;height:50px;width: 200px;}
.soon_title {background: url('/img/soon_title.png') no-repeat;height:51px;width: 200px;}
.adv_title {background: url('/img/adv_title.png') no-repeat;height:50px;width: 200px;}
.int_title {background: url('/img/int_title.png') no-repeat;height:50px;width: 200px;}
.new_comm_title {background: url('/img/new_comm.png') no-repeat;height:50px;width: 200px;}
.new_c {float:left;border-bottom: 1px solid #8eac6f;margin: 0 0 10px 0;padding:5px;width:190px;}
.new_c:last-child {border:none;}
.new_c h4 {margin: 0 0 0 0;text-align:left;width:100%;font-size:11px;}
.new_c p {margin: 5px 0 0 0;text-align: justify;}





.i_sp {width:190px;height:280px;}
.sp_kont {position:relative;height:280px;width:190px;overflow:hidden;}
.sp_kont span {position:absolute;bottom: 0;width:180px;padding: 5px; background:#444;opacity:0.9;}
.sp_kont a {color:#fff;text-decoration:none;}

.ri_sp {width:136px;height:200px;}
.rel_news {float:left;width:136px;height:200px;margin: 0 9px 0 0;}
.rel_news {position:relative;height:200px;width:136px;overflow:hidden;}
.rel_news span {position:absolute;bottom: 0;width:126px;padding: 5px; background:#444;opacity:0.9;}
.rel_news a {color:#fff;text-decoration:none;}





.kadr {float:left;margin: 0 0 10px 0;width: 590px;height:190px;border-bottom: 1px dotted #2C5207;}
.kadr h3 {background: url('/img/vid_title.png');height: 50px;padding: 0 0 0 50px;margin: 0 auto;width:540px;font-size: 11px;color: #fff;line-height:40px;font-size: 19px;font-weight: bold;}
.kadr img {width: 182px;height:120px;margin: 2px 5px 0 5px;}










.vid {width:590px;float:left;margin: 0 0 10px 0;}
.vid_title {width:590px;float:left;background: url('/img/vid_title.png') no-repeat;height:50px;}
.vid_title h1 {margin: 10px 10px 0 50px;float:left;font-size:17px;font-weight:bold;color:#fff;}
.vid_title span {margin: 10px 10px 0 50px;float:left;}
.vid_title span a {font-size:17px;font-weight:bold;color:#fff;text-decoration:none;}
.vid_body {background: #eff5e9;float:left;width:590px;border-radius: 0 0 5px 5px;}
.vid_mess {float:left;width: 570px;padding: 10px;}
ul.vid_more {float:left; margin: 10px 0 0 0;width:580px;padding: 0 0 12px 10px;border-top: 1px dotted #2c5207;}
ul.vid_more li {background: #8eac6f;float:left;margin: 12px 9px 0 0;padding: 0 5px;color: #2c5207;border-radius: 5px;line-height: 25px;border-bottom: 1px solid #fff;}
.old_border {border: 5px solid #8eac6f;}
.old_border_b {border: 3px solid #8eac6f;}


 #vid_title2 {width: 590px;float: left;background: url('/img/vid_title2.png') no-repeat;height: 59px;}
 #vid_title2 h1 {margin: 7px 10px 0 50px;float:left;font-size:16px;font-weight:bold;color:#fff;}
#vid_title2 span {margin: 7px 10px 0 50px;float:left;}
#vid_title2 span a {font-size:16px;font-weight:bold;color:#fff;text-decoration:none;}

 .vid_title2 {width: 590px;float: left;background: url('/img/vid_title2.png') no-repeat;height: 59px;}
 .vid_title2 h1 {margin: 7px 10px 0 50px;float:left;font-size:16px;font-weight:bold;color:#fff;}
.vid_title2 span {margin: 7px 10px 0 50px;float:left;}
.vid_title2 span a {font-size:16px;font-weight:bold;color:#fff;text-decoration:none;}



 .n_v_img img {border: 5px solid #8EAC6F;width: 280px;margin: 0 160px;}
 .n_v_img {background: url('/img/n_v_img.png') no-repeat center bottom;padding: 0 20px 2px 0;float:left;width:590px;margin: 5px 0 0 0;}
 .higt-level {width: 112px;height:41px;float:left;margin: 0 0 0 239px;margin-top: -26px;}
 .vid_mess_n {float: left;width: 570px;padding: 9px 10px 10px 10px;border-top: 1px dotted #2c5207;margin: 10px 0 0 0;}


.n_v_img_b img {border: 3px solid #8EAC6F;width: 120px;}
 .n_v_img_b {float:left;width:126px;margin: 5px 10px;}
 .vid_mess_n_b {float: left;width: 434px;margin: 5px 10px 0 0;}









 /* VID COMM ========================*/
.comment {float: left;margin: 0 10px 15px 10px;width:570px;}
 .c_top {float: left;width:570px;line-height: 30px;}
 .c_name {float: left;width:370px;color: #0e5a84;font-weight:bold;}
 .c_date {float: right;width:200px;color: #0e5a84;font-weight:bold;text-align:right;}
 
 .c_lr {float: left;width:570px;margin: 5px 0 0 0;}
 .c_l {float: left;width: 100px;}
 .c_l img {width:98px;border: 1px solid #727272;}
 .c_r {float: left; width:448px;margin: 0 0 0 10px;border-radius:5px;padding:5px;background:#fbfbfb;overflow:hidden;text-align:justify;border: 1px solid #fefefe;}



/* VID ADD COMM ========================*/
.f_c_pole {float: left;width:400px;margin:0 10px 0 0;} 
 .f_c_pole textarea {float: left; width: 398px;background: #fff;border: 1px solid #727272 !important;color: #333;}
 .f_c_fight {float: left;width: 160px;}
 
 .f_c_code {float: left;width: 160px;margin:0 0 15px 0;}
 .f_c_code input {width: 158px;background: #fff;border: 1px solid #727272 !important;color: #333;}
 .f_c_code img {float: left; margin: 15px auto 0 3px !important;}
 .f_c_btn {float: left;width: 160px;}
 .f_c_btn input {float: left;width:106px;height:28px;background: url('/img/f_c_btn.png') no-repeat;margin: 0 0 0 27px;border:none;outline:none;cursor:pointer;}

 .f_c_add_title {margin: 0 0 15px 0;float: left;width: 570px;height:40px;line-height:40px;font-size: 14px;color: #2C5207;font-weight:bold;}


.f_error {float: left;width: 550px;margin: 15px 10px 0 10px;padding:10px;background:#f77c7c;border-radius: 5px;} 
 .f_com_body {float: left;width: 570px;margin: 15px 0 0 0;}
 .f_coms_title {margin: 15px 10px 0 10px;float: left;width: 570px;height:40px;line-height:40px;font-size: 14px;color: #2C5207;font-weight:bold;}
 .f_c_add_form {float: left;width: 570px;margin: 0 10px;}



/* PAGE SELECTOR ========================*/
.pagesBlockuz1 a,.pagesBlockuz2 a,#pagesBlock1 a,#pagesBlock2 a, .pagesBlock1 a { font-weight: normal !important;margin: 0;width: auto !important; padding: 3px 7px;color:#2b530a;background: #c6dbb0;
 cursor: pointer;text-decoration: none;}
.pagesBlockuz1 b,.pagesBlockuz2 b,#pagesBlock1 b,#pagesBlock2 b, .pagesBlock1 b { font-weight: normal !important;margin: 0;width: auto !important; padding: 3px 7px;color:#2b530a;background: #8eac70;
 cursor: pointer;text-decoration: none;}
.pagesBlockuz1 a:hover,.pagesBlockuz2 a:hover,#pagesBlock1 a:hover,#pagesBlock2 a:hover, .pagesBlock1 a:hover {background:#8eac70;}
#pagesBlock1 {float:left;width:590px;margin: 15px 0;}








.full_vid_old, .full_mess_new {background: #EFF5E9;float: left;width: 590px;border-radius:5px;padding: 0 0 10px 0;} 
 .full_mess_old {float:left;padding:10px;width:570px;}
 .full_mess_old embed, .full_mess_old iframe, .full_mess_old object {width:570px !important;}
 .full_likes {float:left;width: 570px;padding: 0 10px 10px 10px;margin:0;border-bottom: 1px dotted #2C5207;}
 .full_likes li {float:left;margin: 0 10px 0 0;}
 .full_likes_title {float:left;width: 570px;padding: 0 10px 10px 10px;line-height: 18px;font-size: 14px;}
 .full_soc {float:left;width:560px;padding: 5px;background: #8EAC6F;margin: 10px;border-radius:5px;}
 .soc_t {float:left;width: 150px;line-height: 32px;color: #2C5207;font-weight:bold;}
 .soc_b {float:left;width: 350px;margin: 0 0 0 10px;height: 32px;}
 .soc_b table {padding:0px !important;}


.full_mess_new_b {margin: 10px 0; background: #EFF5E9;float: left;width: 590px;border-bottom: 1px dotted #2C5207;border-top: 1px dotted #2C5207;} 
 
 
 .full_mess_old_b {float:left;width:590px;border-bottom: 1px dotted #2C5207;margin: 0 0 10px 0;}



















/* PROFILE ========================*/
.popuptable {margin:10px auto;padding:10px;background: #fbfbfb;border:1px solid #ccc;color:#333;width: 100%;}
.popuptitle {font-size:16px;border-bottom:1px dotted #bbb;color:#333;padding:0 0 10px 0;text-align:center;}
.popupbody {padding:10px 0 0 0;font-size:12px;color:#333;}
.popupbody * {font-size:12px!important;}
.popuptable table {text-align:left;color:#333;}
.profile_url {width:93px;height: 23px;float: right;background: url('/img/profile.png') no-repeat;margin: 17px 20px 0 0px;}








.linen {float: left;line-height:16px;margin:0 0 5px 0;width:570px;}
.linen2 {float: left;line-height:16px;margin:10px 0 0 0;width:570px;}
.moren {border-top: 1px dotted #2c5207;padding:10px;margin: 10px 0 0 0;width:570px;float:left;}
.textn {border-top: 1px dotted #2c5207;border-bottom: 1px dotted #2c5207;padding:10px;margin:0;width:570px;text-align:justify;float:left;}
.onlonem {float:left;width:570px;padding: 10px;line-height: 18px;font-size: 14px;}
.onlonem2 {float:left;width:570px;padding: 0 10px;line-height: 18px;font-size: 14px;}
.onlonem h2 {line-height: 18px;font-size: 14px;font-weight:bold;}
.onlonem2 h3 {line-height: 18px;font-size: 14px;font-weight:bold;padding: 0;margin:0;}
.onlonem2 b {line-height: 18px;font-size: 13px;font-weight:bold;color:darkGreen;}
 /* TABS CATEGORY ========================*/
 .pleer_s3 {float: left;width: 570px;margin: 10px;overflow:hidden;}
.tab_pleer {overflow:hidden;float: left;width: 570px;margin: 0;}
.tabs a {text-decoration:none;}
.t_cat a:hover {text-decoration:none;color: #2C5207;}
.t_cat a {text-decoration:none;color: #2C5207;}
.c_tab_container{border-top: none;clear: both;float: left;width: 100%;}
.c_tab_content {font-size: 11px;width: 570px; margin: 0;}
 .c_tab_content iframe, .c_tab_content object, .c_tab_content embed {width:570px !important;margin:0;padding:0;}
.c_tab_content a{text-decoration:none;}
.c_tab_content a:hover{text-decoration:none;}
 ul.t_cat {list-style:none;margin:0;padding:0;float: left;}
 ul.t_cat li {float:left;padding:4px 10px 4px 10px;font-size: 12px;background: #C6DBB0;font-weight:bold;margin: 0 3px 0 0;border-radius: 5px 5px 0 0;}
ul.t_cat li.c_active {background: #8EAC6F;border-radius: 5px 5px 0 0;}
#c_tab2, #c_tab3 {display:none;}

.fp_select {float:right;width:90px !important;height:360px !important;margin:0;padding:0;background:#c6dbb0;color:#fff;}
.fp_select option {margin: 4px 3px !important;padding: 4px 0;text-align:center;background:#8eac6f;cursor:pointer;}
.fp_select option:hover {background:#2c5207;}
.pleer_s3 iframe, .pleer_s3 object, .pleer_s3 embed {width:480px !important;height:360px !important;margin:0;padding:0;}
.dn {opacity: 0;}



.pleer_p .pleer_s3 {width:550px;margin:0px;}
.pleer_p .pleer_s3 iframe, .pleer_p .pleer_s3 object, .pleer_p .pleer_s3 embed {width:460px !important;height:340px !important;margin:0;padding:0;}
.pleer_p .fp_select {float:right;width:90px !important;height:340px !important;}

.catAllEntries{float:left;width:590px;}
.manTable {float:left;width:570px;}
.footer {background: url('/img/footer.png') repeat-x;width:960px;height:45px;float:left;margin: 10px 0 0 0;padding: 20px 20px 0 20px;text-align:center;}






.tf_title {background: url('/img/tf_title.png') no-repeat;height:50px;width: 200px;}


 /* TABS CATEGORY ========================*/
 .best_s3 {float: left;width: 180px;margin:0;}
.tab_best {overflow:hidden;float: left;width: 200px;margin: 10px 0 0 0;}
.tabs a {text-decoration:none;}
.t_best a:hover {text-decoration:none;}
.t_best a {text-decoration:none;color: #fff;}
.c_best_container{border-top: none;clear: both;float: left;width: 100%;}
.c_best_content {font-size: 11px;width: 180px; margin: 0;}
 
.c_best_content a{text-decoration:none;}
.c_best_content a:hover{text-decoration:none;}
 ul.t_best {list-style:none;margin:18px 0 0 9px;padding:0;float: left;}
 ul.t_best li {float:left;padding:3px 5px;font-size: 10px;background: #2c5207;margin: 0 2px 0 0;border-radius: 3px;border-bottom: 1px solid #c6dbb0;}
ul.t_best li.c_active {background: #39640f;border-radius: 3px;border-bottom: 1px solid #c6dbb0;}
#c_best2, #c_best3 {display:none;}

 
 
 .bf {float:left;width:180px;margin: 0 0 5px 0;padding:10px;background: url('/img/dotted.png') bottom repeat-x;} 
 .imgbf {float:left;width: 60px;margin: 0;}
 .imgbf img {width: 60px;}
 .infbf {float:left; width:110px;margin: 0 0 0 10px;}





.poster {float:left;width:228px;margin: 0 12px 5px 0;}
.poster img {float:left;width:220px;border: 4px solid #8EAC6F;cursor:pointer;}

.sf_line {margin: 0 0 10px 0;width:100%;height:50px;}

.see_f {
background:#0084d8;
background: linear-gradient(to top, #0084d8, #00d0f1);
background: -o-linear-gradient(to top, #0084d8, #00d0f1);
border-bottom:1px solid #fff;
box-shadow:inset 0 0 10px #d9d9d9;
width:185px;
padding: 0 15px;
height:48px;
line-height:48px;
text-align:center;
color:#fff;
float:right;
display:block;
border-radius:25px;
text-shadow:0 -1px 0 #008dab;
text-decoration:none;
border:1px solid #0084d8;
 cursor:pointer;font-size:18px;
 
}

.vid_mess_n_b .see_f {width:100px;height:32px;line-height:32px;font-size: 16px;}
.vid_mess_n_b .see_f img {width:18px;}




.see_f:hover {box-shadow:inset 0 0 20px #005d89;}



.rate_line2 {width:218px;float:left;line-height:40px;padding: 0 5px;background:#c6dbb0}
.ki_rate {float:left;background: #c6dbb0;width:218px;padding: 0 5px;}
#my-rating1{float:left;width:190px;margin: 5px 0;padding: 0 0 0 28px;cursor:help;line-height:24px;}
#my-rating1 {background: url('/img/kp.jpg') left center no-repeat;}
.s_actors a {color:#00b9ff;}








.new_publ .moren {float:none;width:auto;border:0;padding:0 0 10px 0;}
.new_publ .linen, .new_publ .linen2, .new_publ .textn {float:none;width:auto;padding:0;border:0;}




/* TABS CATEGORY ========================*/
 .pleer_p {float: left;width: 550px;padding:10px;margin: 10px;overflow:hidden;background:#c1efff;border-radius:15px;}
.top_pleer {float:left;width:550px;}
.top_pleer img {margin: 5px 0;width:550px;}
.pleer_telo {width:550px;float:left;}
.tab_pleer {width:550px;float:left;margin: 0 0 10px 0;}




.screen_shot {width:570px;margin: 10px 0 10px 0;}
.screen_shot img {width:180px;float:left;margin: 0 5px !important;}

.tabs a {text-decoration:none;}
.p_cat a:hover {text-decoration:none;color: #fff;}
.p_cat a {text-decoration:none;color: #FFF;}
.p_tab_container{border-top: none;clear: both;float: left;width: 100%;}
.p_tab_content {font-size: 11px; margin: 0;}
 .p_tab_content iframe, .p_tab_content object, .p_tab_content embed {width:570px !important;margin:0;padding:0;}
.p_tab_content a{text-decoration:none;}
.p_tab_content a:hover{text-decoration:none;}
 ul.p_cat {list-style:none; display: block;
 margin-left: auto;
 margin-right: auto;padding:0;}
 ul.p_cat li {display:inline-block;width:auto;padding:8px 20px 8px 20px;font-size: 15px;font-weight:bold;margin: 0 5px 0 0;border-radius: 3px;
background-image: -webkit-gradient(
 linear,
 left top,
 left bottom,
 color-stop(0, #464646),
 color-stop(1, #333333)
);
background-image: -o-linear-gradient(bottom, #464646 0%, #333333 100%);
background-image: -moz-linear-gradient(bottom, #464646 0%, #333333 100%);
background-image: -webkit-linear-gradient(bottom, #464646 0%, #333333 100%);
background-image: -ms-linear-gradient(bottom, #464646 0%, #333333 100%);
background-image: linear-gradient(to bottom, #464646 0%, #333333 100%);
}
ul.t_cat li.p_active {background-image: -webkit-gradient(
 linear,
 left top,
 left bottom,
 color-stop(0, #00CCF0),
 color-stop(1, #0085D8)
);
background-image: -o-linear-gradient(bottom, #00CCF0 0%, #0085D8 100%);
background-image: -moz-linear-gradient(bottom, #00CCF0 0%, #0085D8 100%);
background-image: -webkit-linear-gradient(bottom, #00CCF0 0%, #0085D8 100%);
background-image: -ms-linear-gradient(bottom, #00CCF0 0%, #0085D8 100%);
background-image: linear-gradient(to bottom, #00CCF0 0%, #0085D8 100%);}
#p_tab2, #p_tab3 {display:none;}


.pleer_p iframe, .pleer_p object, .pleer_p embed {width:550px !important;margin:0;padding:0;}

.ddop .textn {border-bottom:0;}
.ddop .screen_shot {float:left;margin: 0 0 0 8px;}




.nm_line {float:left;margin: 0 0 10px 0;width: 570px;}
.nm_line .see_f {width: 100px;
height: 32px;
line-height: 32px;
font-size: 16px;}