/* NSO UJ FOOTER */
#footer.redesigned{
    background-image: url('../img/footer_bg.png');
    background-repeat: repeat-x;
    width: 100%;
    height:751px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

#footer.redesigned .cont{
    width:980px;
    margin: 0 auto;
    text-align: left;
    text-align: left;
    position: relative;
}

div#wrap {
    padding-bottom: 0;
}
#footer.redesigned .floatRight{
    margin-right: 0;
    margin-top:10px;
    height:15px;
    overflow:hidden;
}
#footer.redesigned .floatRight a.white.arrow{
    font-size: 18px;
}

 #footer.redesigned a.white{
color:#fff;
}

 #footer.redesigned .box_title a {
display: block;
height: 48px;
text-indent: -99999px;
width: 100px;
}

 #footer.redesigned .item{
float:left;
width:298px;
margin-right:28px;
margin-top: 20px;
}

 #footer.redesigned .item.lastInRow{
  margin-right:0;
}

#footer.redesigned .item img{
border:3px solid #c0c0c0;
margin-bottom:10px;
}

#footer.redesigned .item h5{
  margin-bottom:30px;
}
 #footer.redesigned .floatRight{
	width:180px;
	float:right;
	margin-top:15px;
	text-align:right;
}

 #footer.redesigned .floatRight a.white.arrow{
	background-image: url('../img/arrow2.png');
	background-repeat:no-repeat;
	background-position: 100% 6px;
	padding-right:13px;
	font-family:NimbusSanNovConDHeaRegular;
	font-weight:normal;
	font-size:17px;
}

#footer.redesigned .lenia_dist{
height:38px;
overflow:hidden;
position:relative;
}

#footer.redesigned .lenia_dist .floatRight{
  margin-top:10px;
}

#footer.redesigned .box_title{
    width:73px;
    height:20px;
    background-image: url('../img/lablecSprite.png');
    background-repeat: no-repeat;
    background-position: -115px -9px;
    display:block;
    overflow:hidden;
    float:left;
    position: relative;
    top:11px;
}
#footer.redesigned .box_title a{
   height: 20px;
}
#footer.redesigned .item{
    margin-right:43px;
    margin-top:15px;
    position: relative;
    margin-bottom:0 !important;
}
#footer.redesigned .item h5 a {
    font-family: 'NimbusSanNovConDHeaRegular', arial !important;
    font-size: 18px;
    font-weight: normal !important;
    color:#fff;
    text-decoration: none;
}
#footer.redesigned .item h5 a:hover{
    color:#c0c0c0;
}

#footer.redesigned .item .play{
    position: absolute;
    width:95px;
    height:95px;
    background-image: url('../img/lablecSprite.png');
    background-repeat: no-repeat;
    background-position: 4px -104px;
    left:102px;
    top:60px;
    display: block;
}

#footer.redesigned  #footer_logo{
    width:106px;
    height:55px;
    background-image: url('../img/lablecSprite.png');
    background-repeat: no-repeat;
    background-position: -1px -37px;
    display:block;
    margin-bottom: 10px;
    margin-top: -10px;
}
#footer.redesigned  .icon_link span{
    width:30px;
    height:30px;
    display: inline-block;
    background-image: url('../img/lablecSprite.png');
    background-repeat: no-repeat;
    background-position: -115px -43px;
    position:absolute;
    left:-10px;
    top:0px;
}

#footer.redesigned  .icon_link {
    padding-left: 35px;
    padding-top:5px;
    position: relative;
}

#footer.redesigned  a.icon_link.impresszum:hover span{
    background-position: -115px -80px;
}

#footer.redesigned  a.icon_link.mediaajanlat span{
     background-position: -151px -43px;
 }

#footer.redesigned  a.icon_link.mediaajanlat:hover span{
    background-position: -151px -80px;
}

#footer.redesigned  a.icon_link.mailto span{
    background-position: -227px -43px;
    top:-4px;
}

#footer.redesigned  a.icon_link.mailto:hover span{
    background-position: -227px -77px;
}

#footer.redesigned  a.icon_link.adatvedelem span{
    background-position: -191px -44px;
    top:-5px;
}

#footer.redesigned  a.icon_link.adatvedelem:hover span{
    background-position: -191px -78px;
}
#footer.redesigned  .sharingLinks{
    width:380px;
    float:left;
}
#footer.redesigned  .sharingLinks a{
    color:#c0c0c0;
    font-weight:bold;
    font-size: 12px;
    text-decoration: none;
    margin-right:40px;
}

#footer.redesigned  .sharingLinks a:hover{
    color:#ffffff;
    cursor: pointer;
}

#footer.redesigned  .sharingLinks span{
    width:18px;
    height:18px;
    display: inline-block;
    position: relative;
    background-image: url('../img/lablecSprite.png');

    margin-right:10px;
    top:4px;
}

#footer.redesigned  .fb_link span{
    background-position:-138px -151px;

}

#footer.redesigned  a.fb_link:hover span{
    background-position: -139px -122px;
}

#footer.redesigned  .twitter_link span{
    background-position: -113px -151px;
}

#footer.redesigned  a.twitter_link:hover span{
    background-position: -115px -123px;
}

#footer.redesigned  .gplus_link span{
    background-position: -170px -151px;
}

#footer.redesigned  a.gplus_link:hover span{
    background-position: -170px -123px;
}

#footer.redesigned .copyright p{
   color: #c0c0c0;
}
.dspnone{
    display: none;
}

#footer.redesigned .copyright{
  font-size: 12px;
}
#footer.redesigned  .dark_bordered{
    background-image: url('../img/dark_border.gif');
    background-repeat: repeat-x;
    background-position: top;
    position: relative;
}
#footer.redesigned  .dark_bordered.second{
    margin-top:4px;
}
#footer.redesigned  .col245, #footer.redesigned  .col140, .col60{
    float:left;
    width:245px;
}
#footer.redesigned  .col140{
    width:140px;
}
#footer.redesigned .col140.col200{
    width: 200px;
}
#footer.redesigned  .col60{
    width:60px;
}
#footer.redesigned  .col245 ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#fff;
    text-decoration: none;
}
#footer.redesigned  .col245 ul li a:hover{
    color:#c0c0c0;
}
#footer.redesigned  .col245 ul li{
    margin-bottom: 8px;
    position: relative;
}
#footer.redesigned  ul#iconLinks li{
    margin-bottom: 26px;
}
#footer.redesigned  #footer_other_links{
    position: absolute;
    top:528px;
    width:100%;
}
#footer.redesigned  #footer_other_links h5 a{
    color:#fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
#footer.redesigned  #footer_other_links h5,#footer.redesigned   #footer_other_links .narrow ul li{
    margin-bottom: 11px;
}
#footer.redesigned  #footer_other_links .narrow ul li a{
    color:#c0c0c0;
    text-decoration: none;
    font-size: 12px;
}
#footer.redesigned  #footer_other_links .narrow ul li a:hover{
    color:#fff;
}
#footer.redesigned .clearfix:after{
content:none;
}

#footer.redesigned .footer_end{
  position:absolute;
  top:707px;
  width:100%;
}

#footer.redesigned  .col{
    float:left;
}
#footer.redesigned  .col205{
    width:205px;
}
#footer.redesigned  .col205.col286{
    width:286px;
}
#footer.redesigned  #mainapLinkek{
    background-image: url('../img/twoCols.png?v=0807');
    background-repeat: repeat-y;
    background-position: center;
    position: relative;
    top:20px;
}
#footer.redesigned  #mainapLinkek .col{
    padding:0 20px;
}
#footer.redesigned  #mainapLinkek .siteName, #footer.redesigned  #mainapLinkek h3{
    margin-bottom: 10px;
}
#footer.redesigned  #mainapLinkek .siteName span{
    background: #fff;
    padding: 2px 3px;
    color:#666;
    margin: 0 auto;
    font-size: 10px;
}
#footer.redesigned  #mainapLinkek h3 a{
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
#footer.redesigned  #mainapLinkek h3 a:hover{
    color:#c0c0c0;
    text-decoration: none;
}
#footer.redesigned  #mainapLinkek p a{
    color:#c0c0c0;
    text-decoration: none;
    font-size: 12px;
}

#footer.redesigned  .mainapLead{
    height:45px;
    overflow:hidden;
}

/* logos, icons */
#footer.redesigned  #mainapLogo{
    width: 74px;
    height:31px;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url('../img/lablecSprite.png');
    background-repeat: no-repeat;
    background-position: -8px -0px;
    display: block;
}

.noInnerPadding .goAdverticum{
padding: 0 !important;
}
/* logos, icons end */
/* NSO UJ FOOTER */
