/**
 * nso print CSS
 */

#header,
#footer,
.col_w260,
.col_w170,
.rovat_title,
.cimkebox,
.twocol_cikklist,
.cikk_related,
.tags,
.tools,
.facebooklike,
.tagsandcomment,
.facebook_box,
.etarget,
.banner,
.cikkbottombox,
.cikkbar,
.ad,
.ad_vertical,
.table_w50p,
#sidebar,
#scoreboardif,
.goAdverticum,
.banner,
.nso_cikk_beuszo,
.cikk,
.submenus,.submenutop,.rovatok, .submenu .friss-hirek, .submenu .rovatok,
#wallpaper_left,#wallpaper_right,
.kommentinfo {
	display: none !important;
}

#container, .lead
{
    font-family:"Arial", Times, serif;
}

h1 {
    font-size: 15pt;
    line-height: 20pt;
    font-weight: normal;

}

a:link, a:visited,a:hover,a:active {
    color: black;
}
.lead {
    font-size: 10pt;
    line-height: 14pt;
    font-weight: bold;
}

p {
    font-size: 10pt;
    line-height: 14pt;
}

table, tr, td, th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.table_w100p {
    width: 100%;
}

#printHeader {
    display: block;
    height: 100px;
    border-bottom: 1px solid #868686;
}

.cikkkeptable,table.cikkkeptable tr,table.cikkkeptable td
{
    border: 0px;
}

