/* 
Theme Name: Counter-Strike Dark
Theme URI: http://blog.counter-strike.net/ 
Description: Counter-Strike Dark
 
Author: Valve
Version: Counter-Strike Dark
Tags: CS Website
*/ 

/***********/
/* CSS Reset */
/***********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

a img {
	border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/************/
/*** Basics ***/
/************/

html{
	overflow: -moz-scrollbars-vertical;
}

body{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/camo_bg2.jpg?v=1002) top center no-repeat  #010713;
	color: #999b9d;
	font-family: Calibri, Candara, Segoe, Geneva, Tahoma, Arial, sans-serif;
	font-size: 16px;
	line-height: 145%;
}

a{
	color: #97b7d1;
	text-decoration: none;
}

a:hover{
	color: #617f99 ;
}

h2 a{
	color: #97b7d1;
	font-size: 32px;
}

h2{
	margin: 0 0 5px 0;
	font-size: 32px;
	line-height: 36px;
	color: #97b7d1;
}

h3{
	color: #97b7d1;
	font-size: 20px;
	margin-bottom: 5px 0;
}

h3 a{
	color: #97b7d1;
	margin-bottom: 5px 0;
}

h4{
	color: #97b7d1;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 6px;
	margin-top: 16px
}

h4 a{
	color: #97b7d1;
	font-size: 20px;
	font-weight: normal;
}

h4 a:hover{
	color: #617f99 ;
}

h5{
	color: #97b7d1;
	font-size: 18px;
	font-weight: bold;
}

h6{
	line-height: 75%;
	font-size: 15px;
	text-transform:uppercase;
}


hr{
	background-color: #3d4958;
	border: none;
	height: 1px;
}

#container{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 266px 0px 0 0px;
}

#content_container{
	overflow: hidden;
	position: relative;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/contentBkndTexture.jpg) repeat-y;
	border-bottom: 4px solid #171b1e;
	padding: 22px 0 58px 0;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

#blog_shadow{
	height: 400px;
	width: 934px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/main_blog_shadow.png) top no-repeat;
	z-index: 2;
}

.fade{
	position: relative;
}

.fade div {
  position: absolute;
  top: 0px;
  left: 0;
  display: none;
}

.inner_post .fade p{
	margin: 0px !important;
}


#language_selector_top {
	margin: 0px 0px 6px 8px;
}


/*****************/
/**** Buy Now ****/
/****************/

#buy{
	height: 28px;
	margin: 0px 0px 6px 8px;
}


#getcsgo{
	display: inline-block;
	width: 95px;
	height: 18px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/getcsgo_sprite.png) no-repeat 0 0;
}

a#getcsgo:hover{
	background-position: 0 -18px;
}

a#getcsgo span{
	position: absolute;
	top: -999em;
}

#getmerch{
	display: inline-block;
	width: 215px;
	height: 18px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/getmerch_sprite.png) no-repeat 0px 0;
}

a#getmerch:hover{
	background-position: 0 -18px;
}

a#getmerch span{
	position: absolute;
	top: -999em;
}

/************************/
/**** Update History ****/
/************************/

#update_history{
	margin-left: 10px;
}

/*


#live_wildfire{
	display: inline-block;
	width: 312px;
	height: 192px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/live_wildfire.jpg") no-repeat 0 0;
}

a#live_wildfire:hover{
	background-position: 0 -192px;
}

a#live_wildfire span{
	position: absolute;
	top: -999em;
}



*/

#update_inferno{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_inferno.jpg") no-repeat 0 0;
}

a#update_inferno:hover{
	background-position: 0 -96px;
}

a#update_inferno span{
	position: absolute;
	top: -999em;
}


/****************/


#update_wildfire {
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_wildfire.jpg") no-repeat 0 0;
}

a#update_wildfire:hover{
	background-position: 0 -96px;
}

a#update_wildfire span{
	position: absolute;
	top: -999em;
}


/****************/


#update_nuke {
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_nuke.jpg") no-repeat 0 0;
}

a#update_nuke:hover{
	background-position: 0 -96px;
}

a#update_nuke span{
	position: absolute;
	top: -999em;
}


/****************/


#update_bloodhound{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_bloodhound_new.jpg") no-repeat 0 0;
}

a#update_bloodhound:hover{
	background-position: 0 -96px;
}

a#update_bloodhound span{
	position: absolute;
	top: -999em;
}



/****************/

#update_vanguard{
    display: inline-block;
    width: 312px;
    height: 96px;
    margin: 2px 0;
    background: url("http://media.steampowered.com/apps/csgo/blog/images/update_vanguard.jpg") no-repeat 0 0;
}

a#update_vanguard:hover{
    background-position: 0 -96px;
}

a#update_vanguard span{
    position: absolute;
    top: -999em;
}

/****************/

#update_train{
    display: inline-block;
    width: 312px;
    height: 96px;
    margin: 2px 0;
    background: url("http://media.steampowered.com/apps/csgo/blog/images/update_train.jpg") no-repeat 0 0;
}

a#update_train:hover{
    background-position: 0 -96px;
}

a#update_train span{
    position: absolute;
    top: -999em;
}

/****************/

#update_dreamhack2014{
    display: inline-block;
    width: 312px;
    height: 96px;
    margin: 2px 0;
    background: url("http://media.steampowered.com/apps/csgo/blog/images/update_dreamhack2014.jpg") no-repeat 0 0;
}

a#update_dreamhack2014:hover{
    background-position: 0 -96px;
}

a#update_dreamhack2014 span{
    position: absolute;
    top: -999em;
}

/****************/

#update_cologne2014{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_cologne2014.jpg") no-repeat 0 0;
}

a#update_cologne2014:hover{
	background-position: 0 -96px;
}

a#update_cologne2014 span{
	position: absolute;
	top: -999em;
}

/****************/

/*

#update_vanguard{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_vanguard.jpg") no-repeat 0 0;
}

a#update_vanguard:hover{
	background-position: 0 -96px;
}

a#update_vanguard span{
	position: absolute;
	top: -999em;
}

*/


/****************/



#update_breakout{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_breakout.jpg") no-repeat 0 0;
}

a#update_breakout:hover{
	background-position: 0 -96px;
}

a#update_breakout span{
	position: absolute;
	top: -999em;
}


/****************/


#update_katowice2014{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_katowice2014.jpg") no-repeat 0 0;
}

a#update_katowice2014:hover{
	background-position: 0 -96px;
}

a#update_katowice2014 span{
	position: absolute;
	top: -999em;
}



/****************/



#update_phoenix{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_phoenix.jpg") no-repeat 0 0;
}

a#update_phoenix:hover{
	background-position: 0 -96px;
}

a#update_phoenix span{
	position: absolute;
	top: -999em;
}

/****************/

#update_huntsman{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_huntsman.jpg") no-repeat 0 0;
}

a#update_huntsman:hover{
	background-position: 0 -96px;
}

a#update_huntsman span{
	position: absolute;
	top: -999em;
}

/****************/

#update_stickers{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_stickers_workshop.jpg") no-repeat 0 0;
}

a#update_stickers:hover{
	background-position: 0 -96px;
}

a#update_stickers span{
	position: absolute;
	top: -999em;
}

/****************/

#update_cz{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_cz.jpg") no-repeat 0 0;
}

a#update_cz:hover{
	background-position: 0 -96px;
}

a#update_cz span{
	position: absolute;
	top: -999em;
}

/****************/

#update_winter_offensive{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_winter_offensive.jpg") no-repeat 0 0;
}

a#update_winter_offensive:hover{
	background-position: 0 -96px;
}

a#update_winter_offensive span{
	position: absolute;
	top: -999em;
}

/****************/

#update_2maps{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_2maps.jpg") no-repeat 0 0;
}

a#update_2maps:hover{
	background-position: 0 -96px;
}

a#update_2maps span{
	position: absolute;
	top: -999em;
}

/****************/

#update_dreamhack2013{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_dreamhack2013.jpg") no-repeat 0 0;
}

a#update_dreamhack2013:hover{
	background-position: 0 -96px;
}

a#update_dreamhack2013 span{
	position: absolute;
	top: -999em;
}

/****************/

#update_90new_weapons{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_90new_weapons.jpg") no-repeat 0 0;
}

a#update_90new_weapons:hover{
	background-position: 0 -96px;
}

a#update_90new_weapons span{
	position: absolute;
	top: -999em;
}

/****************/

#update_weapon_workshop{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_weapon_workshop.jpg") no-repeat 0 0;
}

a#update_weapon_workshop:hover{
	background-position: 0 -96px;
}

a#update_weapon_workshop span{
	position: absolute;
	top: -999em;
}

/****************/

#update_bravo{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_bravo.jpg") no-repeat 0 0;
}

a#update_bravo:hover{
	background-position: 0 -96px;
}

a#update_bravo span{
	position: absolute;
	top: -999em;
}

/****************/

#update_arms_deal{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_arms_deal.jpg") no-repeat 0 0;
}

a#update_arms_deal:hover{
	background-position: 0 -96px;
}

a#update_arms_deal span{
	position: absolute;
	top: -999em;
}

/****************/

#update_payback{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_payback.jpg") no-repeat 0 0;
}

a#update_payback:hover{
	background-position: 0 -96px;
}

a#update_payback span{
	position: absolute;
	top: -999em;
}

/****************/

#update_maps_workshop{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_maps_workshop.jpg") no-repeat 0 0;
}

a#update_maps_workshop:hover{
	background-position: 0 -96px;
}

a#update_maps_workshop span{
	position: absolute;
	top: -999em;
}

/****************/

#update_protips{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_protips.jpg") no-repeat 0 0;
}

a#update_protips:hover{
	background-position: 0 -96px;
}

a#update_protips span{
	position: absolute;
	top: -999em;
}

/****************/

#update_skillgroups{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_skillgroups.jpg") no-repeat 0 0;
}

a#update_skillgroups:hover{
	background-position: 0 -96px;
}

a#update_skillgroups span{
	position: absolute;
	top: -999em;
}

/****************/

#update_trailer{
	display: inline-block;
	width: 312px;
	height: 96px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/update_trailer.jpg") no-repeat 0 0;
}

a#update_trailer:hover{
	background-position: 0 -96px;
}

a#update_trailer span{
	position: absolute;
	top: -999em;
}



/*****************/
/*** Navigation ****/
/****************/

#cs_logo{
	position: absolute;
	top: 5px;
	left: 328px;
}

#cs_logo img{
	width: 281px;
}


#navigation{
	position: absolute;
	top: 16px;
	left: 41px;
    margin:0; 
    padding:0; 
    list-style:none;

}

#navigation_container{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_bar_dark.jpg);
	width: 940px;
	height: 50px;
	position: absolute;
	top: 216px;
	left: 0px;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
	z-index: 100;
}

#navigation a{
	display: block;
	margin-right: 24px;
}


#navigation span{
	display: none;
}

/* Blog */

#nav_home{
	height: 21px;
	width: 40px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) 0 0 no-repeat;
}

#nav_home:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) 0 -21px no-repeat;
}

.blog_selected{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) 0 -21px no-repeat !important;
}

/* Community */

#nav_community{
	height: 21px;
	width: 91px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -73px 0px no-repeat;
}

#nav_community:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -73px -21px no-repeat;
}

.community_selected{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -73px -21px no-repeat !important;
}

. learn_selected{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1511px -21px no-repeat !important;
}

.updates_selected{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1431px -21px no-repeat !important;
}


/* About */

#nav_about{
	height: 21px;
	width: 57px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1180px 0px no-repeat;
}

#nav_about:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1180px -21px no-repeat;
}

.about_selected{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1180px -21px no-repeat !important;
}

/* History */

#nav_history{
	height: 21px;
	width: 70px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1111px 0px no-repeat;
}

#nav_history:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1111px -21px no-repeat;
}

.history_selected{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1111px -21px no-repeat !important;
}

/* Resources */

#nav_resources{
	height: 21px;
	width: 97px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1236px 0px no-repeat;
}

#nav_resources:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1236px -21px no-repeat;
}

.resources_selected{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1236px -21px no-repeat !important;
}

#sub_nav_resources_about{
	height: 21px;
	width: 57px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1180px 0px no-repeat;
}

#sub_nav_resources_about:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1180px -21px no-repeat;
}

#sub_nav_resources_faq{
	height: 21px;
	width: 48px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -252px 0 no-repeat;
}

#sub_nav_resources_faq:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -252px -21px no-repeat;
}


#sub_nav_resources_learn{
	height: 21px;
	width: 98px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1511px 0px no-repeat;
}

#sub_nav_resources_learn:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1511px -21px no-repeat;
}



/* Events */

#nav_events{
	height: 21px;
	width: 60px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -180px 0 no-repeat;
}

#nav_events:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -180px -21px no-repeat;
}

.events_selected{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -180px -21px no-repeat !important;
}


/* FAQ */

#nav_facts{
	height: 21px;
	width: 32px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -252px 0 no-repeat;
}

#nav_facts:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -252px -21px no-repeat;
}

.facts_selected{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -252px -21px no-repeat !important;
}


/* Updates */

#nav_updates{
	height: 21px;
	width: 68px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1431px 0 no-repeat;
}

#nav_updates:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1431px -21px no-repeat;
}



/* Steam */

#nav_steam{
	height: 21px;
	width: 100px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1008px 0 no-repeat;
}

#nav_steam:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1008px -21px no-repeat;
}

#sub_nav_csgo_steam{
	height: 21px;
	width: 47px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -828px 0 no-repeat;
}

#sub_nav_csgo_steam:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -828px -21px no-repeat;
}

#sub_nav_css_steam{
	height: 21px;
	width: 31px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -972px 0 no-repeat;
}

#sub_nav_css_steam:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -972px -21px no-repeat;
}


#sub_nav_cs16_steam{
	height: 21px;
	width: 47px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -900px 0 no-repeat;
}

#sub_nav_cs16_steam:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -900px -21px no-repeat;
}


/* Community */

#nav_community{
	height: 21px;
	width: 91px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -73px 0 no-repeat;
}
#nav_community:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -73px -21px no-repeat;
}

#sub_nav_community_hub{
	height: 21px;
	width: 82px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1686px 0 no-repeat;
}
#sub_nav_community_hub:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1686px -21px no-repeat;
}

#sub_nav_community_discussions{
	height: 21px;
	width: 102px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1776px 0 no-repeat;
}
#sub_nav_community_discussions:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1776px -21px no-repeat;
}

#sub_nav_community_screenshots{
	height: 21px;
	width: 102px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1885px 0 no-repeat;
}
#sub_nav_community_screenshots:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1885px -21px no-repeat;
}

#sub_nav_community_artwork{
	height: 21px;
	width: 76px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -2121px 0 no-repeat;
}
#sub_nav_community_artwork:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -2121px -21px no-repeat;
}

#sub_nav_community_videos{
	height: 21px;
	width: 56px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1999px 0 no-repeat;
}
#sub_nav_community_videos:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1999px -21px no-repeat;
}

#sub_nav_community_workshop{
	height: 21px;
	width: 83px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1336px 0 no-repeat;
}
#sub_nav_community_workshop:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1336px -21px no-repeat;
}

#sub_nav_community_news{
	height: 21px;
	width: 46px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -2064px 0 no-repeat;
}
#sub_nav_community_news:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -2064px -21px no-repeat;
}

#sub_nav_community_guides{
	height: 21px;
	width: 57px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1623px 0px no-repeat;
}
#sub_nav_community_guides:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -1623px -21px no-repeat;
}





/* Forums */

#nav_forums{
	height: 21px;
	width: 62px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -325px 0 no-repeat;
}

#nav_forums:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -325px -21px no-repeat;
}

#sub_nav_csgo_forums{
	height: 21px;
	width: 110px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -685px 0 no-repeat;
}

#sub_nav_csgo_forums:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -685px -21px no-repeat;
}

#sub_nav_css_forums{
	height: 21px;
	width: 93px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -577px 0 no-repeat;
}

#sub_nav_css_forums:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -577px -21px no-repeat;
}


#sub_nav_cs16_forums{
	height: 21px;
	width: 88px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -469px 0 no-repeat;
}

#sub_nav_cs16_forums:hover{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/nav_sprite.png) -469px -21px no-repeat;
}


   

#navigation li {
	float:left; 
	display:block; 
	position:relative;
	z-index:500; 
	margin-right: -6px;
	padding-bottom: 10px;
}
	 
#navigation li a {
	display:block; 
}

#navigation li ul {
	background: #444647;
	padding: 0px;
	border: 4px solid #585753;
	z-index: 10000;
}

#navigation ul {
	position: absolute; 
	left: -5px; 
	top: 18px;
	margin: 0 0 0 -1px; 
	padding: 0; 
	list-style: none;
}
 

#steam_sub_nav {
	background: #1c2025;
	padding: 0 5px;
	border: 4px solid #3d4958;
	z-index: 10000;
	width: 80px;
	position: absolute; 
	left: -4px; 
	top: 22px;
	display: none; 
}

#steam_sub_nav a{
	display: block;
}

#forum_sub_nav{
	background: #1c2025;
	padding: 0 5px;
	border: 4px solid #3d4958;
	z-index: 10000;
	width: 120px;
	position: absolute; 
	left: -4px; 
	top: 22px;
	display: none; 
}


#forum_sub_nav a{
	display: block;
}

#resources_sub_nav{
	background: #1c2025;
	padding: 0 5px;
	border: 4px solid #3d4958;
	z-index: 10000;
	width: 120px;
	position: absolute; 
	left: -4px; 
	top: 22px;
	display: none; 
}


#resources_sub_nav a{
	display: block;
}

#community_sub_nav{
	background: #1c2025;
	padding: 0 5px;
	border: 4px solid #3d4958;
	z-index: 10000;
	width: 120px;
	position: absolute; 
	left: -4px; 
	top: 22px;
	display: none; 
}

#community_sub_nav a{
	display: block;
}


#navigation ul a {
	display:block;  
}

.dropdownItems a{
	margin: 6px 0 6px 0;
}

.nav_hr{
	
	height: 1px;
	width: 90%;
	background-color: #999b9d;
}

/************/
/* Search Box */
/************/

#searchform{
	position: absolute;
	top: 12px;
	left: 605px;
	z-index: 10;
}

.search_button{
	height: 24px;
	width: 24px;
	border: none;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/search_glass.png);
}

.search_button:hover{
	cursor: pointer;
}

.search_textbox{
	color: #ffffff;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/search_bg.png);
	width: 143px;
	padding: 6px 10px 5px 10px;
	height: 13px;
	margin: 0 5px 0 0;
	border: 1px solid #888a8b;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/***********/
/*** Blog ***/
/***********/

#main_blog{
	width: 528px;
	margin: 12px 0 0 43px;
	min-height: 780px;
	float: left;
	z-index: 10;
	position: relative;
	padding: 0 34px 0 0;
	border-right: 1px solid #131820;
}


#blog_title{
	margin-bottom: 3px;
}

#post_container{
	margin-top: 0px;
}

.inner_post{
	padding: 2px 0px 18px 0px;
	line-height: 145%;
	overflow: hidden;
}

.inner_post p{
	margin-top: 10px;
	padding-bottom: 10px;
}

.inner_post img{
	margin-bottom: 10px;
}

.inner_post ul{
	list-style: none;
}

.inner_post li{	
    margin-bottom: 20px;
}

.inner_post hr{
	display: none;
}

.post_date{
	text-transform: uppercase;
	margin: 2px 0 10px 0 !important;
	font-size: 14px;
	padding-top: 5px;
}

.post_date_sidebar{
	margin: -10px 0 10px 30px;
	text-transform: uppercase;
	font-size: 14px;
}

.top_cap {
	height: 25px;
	margin-bottom: 0px;
	padding: 0;
	float: left;
	width: 488px;
}

.bottom_cap{
	height: 25px;
	margin: 10px 0;
	padding: 4px 10px 4px 10px;
	float: left;
	width: 430px;
	position:relative;
}

.bottom_cap a{
	font-size: 14px;
}

.horizontal_rule{
	height: 1px;
	background: #131820;
	margin: 15px 0 32px 0;
}

#older_posts{
	position:absolute;
	left: 0px;
	top: 3px;
}

#backtotop{
	position:absolute;
	left: 315px;
	top: 20px;
	color: #b3b3b3;
}

.embedded_video{
	margin-bottom: 15px;
}

.sharelinks{
	padding-top: 10px;
}

a.sharelink {
	text-decoration: none;
	color: #625b5c;
	font-size: 12px;
}

a.sharelink img {
	vertical-align: middle;
	margin-top: 7px;
}

a.sharelink:hover .sharetext {
	text-decoration: underline;
}	


/***********/
/** Sidebar **/
/***********/

#sidebar{
	width: 329px;
	height: 100%;
	float: left;
	line-height: 145%;
	margin: 0px 0 0 0px;
	position: relative;
	z-index: 10;
	padding-top: 23px;
}

#sidebar h3{
	margin: 0 0 8px 0px;
}

.sidebar_bottom_cap{
	height: 25px;
	width: 288px;
	padding: 4px 10px 0px 10px;
	float: left;
	position: relative;
}

.sidebar_bottom_cap a{
	color: #97b7d1;
	float: right;
	font-size: 14px;
	text-transform: uppercase;
}

.sidebar_bottom_cap a:hover{
	color: #617f99 ;
}

.sidebar_item{
	padding: 2px 0px 0 0px;
	position: relative;
}

.sidebar_container{
	margin: 0 0 0 0;
	padding-bottom: 12px;
}


.title_sidebar{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/sidebar_bg_hdr.png) repeat-y;
	height: 30px;
	width: 319px;
	padding: 5px;
}

.title_sidebar_monthly{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/sidebar_bg_hdr.png) repeat-y;
	height: 60px;
	width: 319px;
	padding: 12px 0px 0px 0px;
	margin: 0px 0 0 0;
}

#sidebar_workshop_queue{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/sidebar_bg_hdr.png) repeat-y;
	height: 115px;
	width: 319px;
	padding: 12px 0px 0px 10px;
	margin: 0px 0px 10px 0px;
}

#workshop_queue_image1{
	display: inline-block;
	width: 100px;
	height: 58px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/workshop/queue/02.jpg") no-repeat 0 0;
}


#workshop_queue_image2{
	display: inline-block;
	width: 100px;
	height: 58px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/workshop/queue/11.jpg") no-repeat 0 0;
}

#workshop_queue_image3{
	display: inline-block;
	width: 100px;
	height: 58px;
	margin: 2px 0;
	background: url("http://media.steampowered.com/apps/csgo/blog/images/workshop/queue/18.jpg") no-repeat 0 0;
}


.monthly{
	color: #eee;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: .11em;
	padding: 0px 0px 10px 0px;
}

#links{
	/*height: 105px;*/
}


.title_sidebar img{
	float: left;
	margin-right: 6px;
}

.sidebar_content{
	background: url(http://media.steampowered.com/apps/csgo/blog/images/sidebar_bg.png) repeat-y;
	padding: 8px 10px 4px;
}

.sidebar_content img{

}

.channel_image{
	margin: 0px 10px 15px 0;
	float: left;
}

.channel_name{
	margin: 7px 0 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.stream_viewers{
	margin: 0 0 0 0;
	width: 225px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 12px;
}

.sidebar_sub_content{
	margin: 0 0 18px 0;
	height: 45px;
}

.sidebar_sub_links{
	margin: 0 0 10px 0;
	height: 32px;
}

#streams a {
	font-weight: bold;
}

#resources{
	/*height: 105px;*/
}

.preview_container{
	position: relative;
	
}

.flag{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}


#competitions{
	height: 70px;
}

#trailer{
	height: 40px;
}

#valvestore{
	height: 40px;
}

#valvestore img{
	margin: -11px 0 0 0;
}

.trailer_link{
	margin: 8px 0 0 3px;	
}

.left{
	float: left;
}

.bold{
	font-weight: bold;
}

.blue{
	color: #a0b6cb;
}

.orange{
	color: #976300;
}

.inner_sidebar_item {
	padding: 0px 0 12px 0;
	line-height: 120%;
	
}

#sidebar_community .inner_sidebar_item img{
	width: 283px;
	max-height: 300px;
	margin-bottom: 10px;
}

.sidebar_title{
	position: absolute;
}

.title img{
	margin-bottom: 11px;
}

#external_links{
	position: absolute;
	top: 14px;
	left: 839px;
}

#external_links a{
	margin-right: 8px;
}

#external_links span{
	display: none;
}

.sidebar_padding10{
	padding-left:10px !important;
}

.score{
	width: 15px;
	height: 20px;
}

.team_name{
	width: 150px;
	height: 20px;
}

.tag{
	height: 23px !important; 
	width: 41px !important;
	position: absolute;
	left: 0px;
	z-index: 5;
	margin: 0 10px 0 0px;
}

.blog_post_title{
	margin-left: 40px !important;
}

.description_text{
	line-height: 75%;
	font-size: 15px;
}

.sidebar_fact_nav{
	font-size: 16px;
	color: #97b7d1;
	margin-bottom: 10px;
	display: block;
}

#sidebar li{
	list-style-type: none !important;
	margin-left: 10px;
}

#lang_sel_list li{
	line-height: 140%;
}

/*************/
/** Trailer **/
/*************/


.ageform{
	position: absolute;
	top: 65px;
	left: 135px;
	font-size: 16px;
	z-index: 101;
}

.ageform select{
	color: #ffffff;
	background: #161b20;
	border: 1px solid #97B7D1;
	margin-right: 7px;
}

.ageform input{
	border: none;
}

.ageform button{
	border: 1px solid #97B7D1;
	color: #97B7D1;
	background: #161b20;
}

.ageform button:hover{
	color: #617F99;
	border: 1px solid #617F99;
	cursor: pointer;
}

.age_gate_error{
	position: absolute;
	top: 80px;
	left: 100px;
	font-size: 18px;
	z-index: 102;
}

#csgo_trailer{
	margin-bottom: 18px;
}

.ageGate{
	position: relative;
	height: 297px;
	z-index: 1;
}

.overlay{
	height: 297px;
	width: 528px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/overlay.png) repeat;
	z-index: 100;
}

.ageGate iframe{
	z-index: 2;
}

/***************/
/** Single Pages **/
/***************/

.page_title{
	display: none;
}

.question{
	color: #97b7d1;
	margin-bottom: 5px;
	font-size: 20px;
}

.answer{
	margin-bottom: 20px;
}

.page_list{
	margin-top: 30px;
}

.page_list li{
	margin-bottom: 33px;
}

.event_date{
	text-transform: uppercase;
	margin-left: 30px;
}

.event_location{
	margin: 1px 0 20px 30px;
}

.no_top_margin{
	margin-top: 0px !important;
}

.no_margin{
	margin: 0px !important;
}

.no_padding{
	padding: 0px !important;
}

/**********/
/** Footer **/
/**********/

#footer{
	height: 300px;
	width: 615px;
	margin: 0 auto 0 auto;
	padding: 20px 0 0 0px;
	position: relative;
}

#footer p{
	color: #4d4e4e;
	font-size: 10px;
	line-height: 100%;
}

#footer img{
	display: inline;
	margin-right: 35px;
}

.esrb{
	float: left;
}

#footer_content{
	float: left;
	width: 428px
}

#footer p{
	margin-top: 15px;
}

#testing{
	display:none;
}

/** Bracket **/
.bracket{
	position: relative;
	background: url(http://media.steampowered.com/apps/csgo/blog/images/bracket.jpg) no-repeat;
	width: 528px;
	height: 420px;
	font-size: 12px;
}
.team1{
	position: absolute;
	top: 108px;
	left: 46px;
}
.team2 {
	left: 46px;
	position: absolute;
	top: 170px;
}
.team3{
	position: absolute;
	top: 298px;
	left: 46px;
}
.team4{
	position: absolute;
	top: 360px;
	left: 46px;
}
.team5{
	position: absolute;
	top: 138px;
	left: 208px;
}
.team6{
	position: absolute;
	top: 327px;
	left: 208px;
}
.team7{
	position: absolute;
	top: 233px;
	left: 368px;
}
.winner{
	color:#ffffff;
}
.label{
	font-size: 16px !important;
	color: #ffffff;
	width: 109px;
	text-align: center;
	position: absolute;
	top: 54px;
}
.round1_label{
	left: 46px;

}
.round2_label{
	left: 208px;
}
.round3_label{
	left: 368px;
}

/** wpml dropdown **/

#lang_sel {height:32px; position:relative; z-index:999; float: right; margin-right: 10px; margin-top:10px;  font-family:calibri, Candara, Segoe, Geneva, Tahoma, Arial, sans-serif;}
/* hack to correct IE5.5 faulty box model */
* html #lang_sel {width:12em; w\idth:12em;}

/* remove all the bullets, borders and padding from the default list styling */
#lang_sel ul, #lang_sel li {padding:0 !important; margin:0 !important; list-style-type:none !important;}
#lang_sel li:before{content:'' !important;}
#lang_sel ul ul {width:149px;}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#lang_sel li {float:left;width:149px;position:relative;}

/* style the links for the top level */
#lang_sel a, #lang_sel a:link, #lang_sel a:visited {
	display:block;
	/*background: #fcfcfc;*/
	font-size:12px;
	text-decoration:none !important;
	color:#97b7d1;
	/*border:1px solid #000;*/
	line-height:18px;
	border-top: 1px solid #0a0d10;
	border-right: 1px solid #0a0d10;
	border-bottom: 1px solid #0a0d10;
	border-left: 1px solid #0a0d10;
	padding: 5px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	font: normal bold 12px Calibri, Candara, Segoe, Geneva, Tahoma, Arial,sans-serif;
	}
/* a hack so that IE5.5 faulty box model is corrected */
* html #lang_sel a, * html #lang_sel a:link, * html #lang_sel a:visited {width:149px; w\idth:138px;}

/* hide the sub levels and give them a positon absolute so that they take up no room */
#lang_sel ul ul {visibility:hidden;position:absolute;height:0;top:25px;left:0; width:149px;border-top:0;}

/* another hack for IE5.5 */
* html #lang_sel ul ul {top:25px;t\op:25px;}

/* style the table so that it takes no part in the layout - required for IE to work */
#lang_sel table {position:absolute; top:0; left:0; border-collapse:collapse;}

/* style the second level links */
#lang_sel ul ul a, #lang_sel ul ul a:link, #lang_sel ul ul a:visited {
	font-weight: normal;
	/*font-size: 11px;*/
	background:#0a0d10;
	color:#97b7d1 !important;
	/*height:auto; line-height:1em; */
	/*padding:3px 10px;*/
	border-width:0 1px 1px 1px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0; /* future proofing */
	-khtml-border-radius: 0; /* for old Konqueror browsers */
	}
/* yet another hack for IE5.5 */
* html #lang_sel ul ul a, * html #lang_sel ul ul a:visited {width:150px;w\idth:128px;}

/* style the top level hover */
#lang_sel a:hover, #lang_sel ul ul a:hover{color:#b4d4ed; background:#13181d;}
#lang_sel :hover > a, #lang_sel ul ul :hover > a {color:#b4d4ed; background:#13181d;}

#lang_sel a.lang_sel_sel{
    background:url(http://media.steampowered.com/apps/csgo/images/dropdown_language.png?v=2) #0a0d10 right no-repeat;
    color: #97b7d1;
}
#lang_sel a.lang_sel_sel:hover{
    text-decoration: none;
    /*color:#000;*/
}

/* make the second level visible when hover on first level list OR link */
#lang_sel ul li:hover ul,
#lang_sel ul a:hover ul{visibility:visible; }

#lang_sel ul li img {
	position: relative;
	margin: 0;
	padding: 0;
	margin-right: -6px;
	border: 1px solid #0a0d10;
	top: 2px;
}

#lang_sel ul li ul li img {
	margin-right: -2px;
}
