@charset "UTF-8";
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px/1.5 arial,"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;color:#666;}
a{color:#444;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word;verflow-wrap:break-word;}
h1,h2,h3{font-family:"Microsoft Yahei";}
.ind{text-indent:2em}
.ind10{text-indent:10px;}
.noborder{border:0;}
.cf:after{content:".";display:block;visibility:hidden;height:0;clear:both}
.cf,.clear{zoom:1}
.l{float:left;}
.r{float:right;}
.mb10{margin:0 0 10px;}
.tx-n:hover,.tx-n a:hover{text-decoration:none;}
.elli{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.red,.red a{color:#c00;}
.green,.green a{color:#8bbd00;}
.yahei{font-family:"Microsoft Yahei";}


/* 背景图标 */
.search .sel-on,
.search .submit,
.tab-menu .arrow,
.area .tit .change,
.partner-tab .arrow,
.region-tbox-bti,
.news-top .bt,
.polity-news-bti,
.footer .phone-ico,
.union-links-arrow,
.union-bti,
.tn-box-arrow{background:url(images/ico.png) no-repeat 30px -107px;display:inline-block;}
.slide-ctrl-current,
.slide-ctrl-point,
.slide-btn-pre,
.slide-btn-next,
.slide4 .arrow{background:url(images/slide.png) no-repeat -14px 0;display:inline-block;}
.area .tit .change {background-position: 0px -358px;}


/*顶部通栏*/
.header {height:45px;background:#e9e9ea;min-width:1000px; border-bottom: 1px solid #e0e0e0; position: fixed;width: 100%;z-index: 9999;}
.emptyHolder {height: 45px;width: 100%;}
.navMain {width:1000px;margin:0 auto;color:#434343;}
.navMain a{color:#434343;}
.navMain a:hover{text-decoration:none;color:#8bbd00;}
.topLeft{float:left;line-height:45px;height:45px;width:520px;}
.topLeft a,
.topLeft span{display:inline-block;vertical-align:middle;}
.topLeft .date{margin:0 10px 0 25px;}
.topLeft .tianqi{margin:0 5px 0 12px;}
.topLeft .wendu{margin:0 6px 0 0;}
.topLeft img{margin-top:-3px;}
.topRight{float:right;line-height:45px;border-right:1px solid #d9d9d9;}
.topRight .tn{border-right:1px solid #e8e8e8;height:45px;float:left;border-left:1px solid #d9d9d9;padding:0 10px;min-width:34px;position:relative;z-index:99;}
.topRight .reg{color:#8bbd00;margin:0 0 0 8px;}
.topRight .tn-item{text-align:center;display:block;cursor:pointer;}
.topRight .tn-item img{*margin:12px 0 0;}
.topRight .tn-item a{display:block;}
.topRight .tn-login{border-left:none;}
.topRight .tn-login img{_margin:10px 0 0;}
.topRight .tn-login .tn-box {width: 175px;padding: 10px 0 0 10px;}
.topRight .formLogin input{width: 154px;height: 28px;padding-left: 8px;line-height: 28px;font-size: 12px;font-weight: 400;display: block;margin-top: 5px;}
.topRight .formLogin .loginbox {margin: 8px 0 0 0;}
.topRight .formLogin .loginbox a {width: 154px;height: 30px;padding:0 4px;text-align:center; line-height:30px;font-size: 14px;font-weight: 700;display: inline-block;cursor: pointer;border: 1px solid #239438;color: #fff;background-color: #5eba6d;}
.topRight .tn-region .tn-box{width:85px;margin:0 0 0 -42px;}
.topRight .tn-weixin .tn-box{width:138px;padding:6px}
.topRight .tn-email img{*margin:16px 0 0;}
.tn-box{background:#fff;width:137px;border:1px solid #e1e1e1;box-shadow:0 0 2px #ddd;-webkit-box-shadow:0 0 2px #ddd;position:absolute;top:50px;left:50%;margin:0 0 0 -67px;z-index:100;display:none;}
.tn-box a{color:#858585;}
.tn-box-arrow{background-position:0 -714px;display:block;width:11px;height:6px;overflow:hidden;position:absolute;top:-6px;left:50%;margin:0 0 0 -5px;}
.tn-box-list{padding:0 6px;_margin-top:-1px;}
.tn-box-list li{border-top:1px dashed #d9d9d9;padding:0 6px;line-height:37px;}
.tn-box-list li:first-child{border-top:none;}
.tn-box-vis .tn-box{}

.content{}
.line{background:url(images/line.png) repeat-x left bottom;padding:0 0 10px;margin:0 0 10px;}

/* topNav */
/*改*/.topNav{ width:1000px; margin:0 auto;}
.topNav .logo{width:220px;margin:11px 0 0;}
.nav{font-size:14px;margin:25px 0 15px;line-height:29px;_width:720px;}
.nav li{width:37px;float:left;display:inline;}
.nav .n1{width:39px;margin:0 0 0 17px;}
.nav .n1 a{color:#8bbd00;}
.nav .n3{width:42px;}

/* region */
.region{background:#f2f2f2;height:38px;padding:0 10px 0 15px;/*改*/ margin:0 auto; width:975px;}
.region .col-l{width:550px;font:14px/38px "Microsoft Yahei";}
.region .col-l a{margin:0 0 0 12px;color:#262626;}
.region .col-l a:hover{color:#cd0200;}
.region .col-r{color:#115aa9;}
.region-tbox-bti{font:14px/40px "Microsoft Yahei";background-position:right 17px;cursor:pointer;margin:0 0 0 15px;padding:0 20px 0 0;}
.region-tbox{position:relative;z-index:2;}
.region-tbox-con{z-index:5;background:#fff;border:1px solid #e1e1e1;position:absolute;top:38px;right:-10px;_right:-11px;width:308px;padding:10px 20px;line-height:35px;box-shadow:0 0 2px #ddd;-webkit-box-shadow:0 0 2px #ddd;color:#858585;display:none;}
.region-tbox-con .fgx{margin:0 10px;}
.region-tbox-con a{color:#858585;}
.region-tbox-con a:hover{color:#cd0200;}
.region-tbox-arrow{background:url(images/ico.png) no-repeat 0 -714px;display:inline-block;width:11px;height:6px;overflow:hidden;position:absolute;top:-6px;right:38px;}
.region-tbox-detail .region-tbox-con{display:none;}
.region-tbox-detail .region-tbox-bti{background-position:right 17px;}

/*20161026 @深圳图标----*/
.isz-icon{ margin:5px 10px 0 0;}


/* paper-links */
.paper-links{padding:10px 0;height:35px;/*改*/ width:1000px; margin:0 auto;}
.paper-links .paper{margin:0 0 0 -7px;line-height:35px;}
.paper-links .paper a{margin:0 5px;}

/* search */
.search{border:1px solid #ccc;height:28px;width:160px;margin:4px 10px 0 0;}
.search .sel{width:44px;height:28px;height:28px;position:relative;border-right:1px solid #ccc;}
.search .sel-list{position:absolute;top:28px;left:-1px;text-align:center;line-height:22px;padding:2px 0;width:44px;border:1px solid #ccc;background:#fff;display:none;}
.search .sel-list li{cursor:pointer;}
.search .sel-list a:hover{text-decoration:none;}
.search .sel-on{display:block;line-height:28px;padding:0 0 0 4px;cursor:pointer;}
.search .sel-ed .sel-list{display:none;}
.search .sel-ed .sel-on-off{background-position:30px -159px;}
.search input{background:none;border:none;height:28px;line-height:100%;*line-height:28px;width:84px;font-size:12px;color:#999;padding:0 0 0 5px;vertical-align:top;}
.search .submit{background-position:5px -254px;width:25px;height:28px;cursor:pointer;}

/* adv */
.adv{ width:1000px; margin:0 auto;}
.adv-1 .col-l{width:323px;float:left;}
.adv-1 .col-r{width:667px;float:right;}

/* adv-top */
.adv-top{/*改*/margin:14px auto 10px;width:1000px; background:url(images/hzgg.gif) no-repeat 950px 108px;}
.adv-top a:hover{color:#2f63ba;text-decoration:none;}
.adv-top .tab-menu{width:38px;}
.adv-top .tab-menu li{width:21px;text-align:center;line-height:16px;background:#f2f2f2;margin:0 0 3px;position:relative;}
.adv-top .tab-menu a{display:block;padding:4px 0 0;height:36px;color:#999;}
.adv-top .tab-menu a:hover,
.adv-top .tab-menu .on a{color:#fff;background:#8bbd00;text-decoration:none}
.adv-top .tab-menu .arrow{background-position:0 -213px;width:6px;height:13px;overflow:hidden;position:absolute;top:14px;right:-6px; display: none;}
.adv-top .tab-menu .on .arrow{display: inline-block;}
.adv-top .tab-con{line-height:24px;margin:1px 0 0;width:132px; display: none;}
.adv-top .tab-con-on{display: block;}
.adv-top .tab-con li{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;height:24px;width:100%;}
.adv-top .col-1{width:170px;float:left;}
.adv-top .col-2{width:620px;float:left;margin:4px 0 0 20px;}
.adv-top .col-3{width:170px;float:right;}
.adv-top .col-3 .tab-menu li{margin:0 0 3px 17px;}
.adv-top .col-3 .tab-menu .arrow{background-position:-15px -213px;right:21px;}
.adv-top .col-3 .tab-menu a{padding-left:1px;}
.adv-top-hot{margin:0 0 0 -10px;overflow:hidden;height:20px;}
.adv-top-hot li{display:inline;margin:0 0 0 10px;}
.adv-top-pic{margin:8px 0;}

/* news-top */
.news-top{background:#f2f2f2;line-height:38px;height:38px;font-size:14px;/*改*/margin:0 auto 18px;overflow: hidden; width:1000px;}
.news-top li{display:inline;margin:0 0 0 16px;}
.news-top li a{color:#333;}
.news-top li a:hover{color:#cd0200;}
.news-top .bt{width:79px;height:40px;color:#fff;background-color:#8bbd00;background-position:13px -467px;margin:-1px 0 0;padding:0 0 0 50px;font-weight:bold;}

/* list */
.list1,
.list3{margin:0 0 19px;}
.list1 li,
.list3 li{font-size:14px;margin:0 0 8px 2px;background:url(images/point1.png) no-repeat left center;text-indent:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}
.list1 li strong,
.list3 li strong{font-size:16px;color:#333;}
.list2{margin:0 0 13px;}
.list2 li{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:url(images/point2.png) no-repeat left center;text-indent:10px;width:100%;margin:0 0 6px;}
.list2a {margin: 0 0 17px;}
.list2a li{background:none;padding:0;}
.list2a li:first-child a{color: #666!important;}
.list3 li{background:url(images/point3.png) no-repeat left center;}
.list4{margin:0 0 0 -10px;}
.list4 li{width:110px;float:left;margin:0 0 0 10px;display:inline;}
.list4 .info{margin:9px 0 0;}

/* slide */
.slide-ctrl{position:absolute;bottom:10px;right:10px;}
.slide-ctrl-current,
.slide-ctrl-point{width:9px;height:9px;overflow:hidden;margin:0 5px 0 0;cursor:pointer;display:block;float:left}
.slide-ctrl-current{background-position:0 0;}
.slide-pic-info{background:rgba(0,0,0,0.4);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);font-size:14px;position:absolute;bottom:0;left:0;height:35px;line-height:35px;width:100%;color:#fff;text-indent:15px;font-family:"Microsoft Yahei";}
a:hover .slide-pic-info{text-decoration:none;}
.slide-btn-pre,
.slide-btn-next{top:135px;width:29px;height:70px;position:absolute;cursor:pointer;}
.slide-btn-pre{background-position:0 -25px;left:3px;}
.slide-btn-next{background-position:-36px -25px;right:3px;}

.slide1{position:relative;}
.slide1 .info{border-bottom:1px dotted #747474;margin:12px 0;padding:0 0 8px;}
.slide1 .slide-pic{display:block;position:relative;height:133px;}
.slide1 .slide-ctrl{top:114px;left:100px;}
.slide1 .slide-ctrl-current,
.slide1 .slide-ctrl-point{margin:0 10px 0 0;}
.slide1 .slide-pic-info{height:30px;line-height:30px;}
.slide2{margin:0 0 25px;height:220px;position:relative;}
.slide3{width:595px;float:left;position:relative;}
.slide3 .menu{position:absolute;top:0;left:0;background:rgba(255,255,255,0.5);}
.slide3 .menu li{height:30px;}
.slide3 .pic-big{position:relative;height:335px;}
.slide3 .pic-small{width:595px;overflow:hidden;margin:10px 0 0;}
.slide3 .pu{width:10000px;}
.slide3 .pi{width:96px;float:left;margin:0 4px 0 0;display:inline;}
.slide3 .slide-pic-info{width:574px;}
.slide3 .slide-ctrl{bottom:75px;}

.slide4{width:560px;position:relative;}
.slide4-tab{position:absolute;top:0;left:0;width:44px;z-index:10;font-size:14px;background:rgba(255,255,255,0.8);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#CDffffff,endcolorstr=#CDffffff);height:314px;}
.slide4-tab li{line-height:38px;text-align:center;height:38px;border-bottom:1px solid #d2d2d2;position:relative;}
.slide4-tab a{width:44px;height:38px;cursor:pointer;display:block;}
.slide4-tab a:hover,
.slide4-tab .on a{background:#81ac0d;color:#fff;}
.slide4-adv{position:absolute;top:0;right:0;}
.slide4-adv-close{width:20px;height:20px;position:absolute;top:0;right:0;background:url(images/adv-close.png) no-repeat center center;z-index: 992;}
.slide4 .slide-pic-info{left:44px;width:516px;}
.slide4 .arrow{background-position:-36px 0;position:absolute;top:50%;margin:-9px 0 0;right:-10px;width:11px;height:17px;display: none;}
.slide4 .on .arrow{display: inline-block;}
.slide4-pic .slide-content{display: none;}
.slide4-pic .slide-content-on{display: block;}
.slide4-pic,#myFocus,#myFocusTo{width: 560px;height: 312px;}
#myFocus .pic li,#myFocusTo .pic li,#myTinyFocus .pic li,#FocusNews .pic li,#enterainFocus .pic li,#FocusNews .pic li,#FocusNews2 .pic li{display: none;}
#myFocus .pic li:first-child,#myFocusTo .pic li:first-child, #myTinyFocus .pic li:first-child,#FocusNews .pic li:first-child,#enterainFocus .pic li:first-child,#FocusNews .pic li:first-child,#FocusNews2 .pic li:first-child{display: block;}

/*cc0000*/

/* photo */
.photo1 .pic{width:153px;}
.photo1 .info{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;margin:5px 0 0;width:100%;}
.photo2 .info{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:7px 0 0;}

.photo3 .pp{float:left;display:inline;width:125px;position:relative;}
.photo3 .pp1{margin:0 8px 7px 0;}
.photo3 .pp2{margin:0 7px 7px 0;}
.photo3 .pp3{margin:0 0 7px 0;}
.photo3 .pp4{margin:0 7px 0 0;width:258px;}
.photo3 .pp5{margin:0 0 7px;}
.photo3 .tx{position:absolute;width:90%;padding:0 5%;height:25px;line-height:25px;color:#fff;bottom:0;left:0;background:rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);display:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.photo3 a:hover .tx{display:block;}

.photo4{margin:0 0 3px;}
.photo4 .info{width:185px;}
.photo4 h3{margin:0 0 7px;font-size:16px;height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.photo4 p{line-height:20px;}

.photo5 ul{width:470px;}
.photo5 .pp{float:left;display:inline;position:relative;}
.photo5 .pp1{margin:0 0 10px;}
.photo5 .pp2{margin:0 10px 10px 0;}
.photo5 .pp5{margin:0 10px 10px 0;}
.photo5 .pp6{margin:0 0 10px 0;}
.photo5 .pp7{margin:0 0 10px;}
.photo5 .pp8{margin:0 10px 10px 0;}
.photo5 .pp9{margin:0 0 10px 0;}
.photo5 .pp10{margin:0 10px 0 0;}
.photo5 .tx{position:absolute;height:36px;line-height:36px;background:rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);bottom:0;left:0;width:100%;color:#fff;text-indent:10px;display:none;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
.photo5 a:hover .tx{display:block;}
.photo5 .pptx {}
.photo5 .pptx h3{font-size: 20px;margin:0;padding: 0 0 0 10px;height: 30px;line-height: 30px;font-weight: normal;}
.photo5 .pptx .news-con {margin: 5px 10px 0 10px;border-bottom: 1px dotted #7d7d7d;padding: 0 0 5px;line-height: 20px;}
.photo5 .pptx .list3{margin: 5px 0 0 5px;}
.photo5 .pptx .list3 li{margin-bottom: 5px;}

/* partner */
.partner{border-top:2px solid #8bbd00;padding:15px 0 0;/*改*/ width:1000px; margin:0 auto;}
.partner-tab{border:1px solid #e9e9e9;font-size:16px;font-family:"Microsoft Yahei";line-height:53px;}
.partner-tab span{margin:0 0 0 40px;height:53px;display:block;position:relative;float:left;cursor:pointer;}
.partner-tab span:hover{color:#cd0200;}
.partner-tab .arrow{background-position:0 -420px;width:21px;height:13px;position:absolute;top:53px;left:50%;margin:0 0 0 -11px;display: none;}
.partner-con{background:#f7f7f7;padding:20px 11px;line-height:22px;display: none;}
.partner-con p{margin:0 0 0 -2px;}
.partner-con a{margin:0 12px;}
.partner .on,.partner-tab .on .arrow{display: block;}

.polity-news{/*改*/margin:0 auto 10px; width:1000px; height:21px;}
.polity-news-bti{font-size:14px;color:#8bbd00;background-position:0 -538px;padding:0 0 0 30px; float: left;}
.polity-news-item{margin:0 15px 0 10px;}
#alistId {float: left;width: 890px;height: 21px;line-height: 21px;}

.union{position:relative;/*改*/ margin:32px auto 15px; width:1000px;}
.union-bti{width:82px;background-position:0 -654px;color:#115aa9;font-size:16px;padding:0 0 0 45px;display:inline-block;margin:8px 0 0;}
.union-links{width:750px;line-height:23px;}
.union-links .fgx{margin:0 8px;}
.union-links .bti{margin:0 2px 0 0;}
.union-links-arrow{background-position:0 -314px;width:15px;height:15px;position:absolute;top:20px;right:105px;cursor:pointer;}
.union-links-arrow-up{background-position:0 -328px;}
.union-btn{background:url(images/btn-join.png) no-repeat;width:74px;height:25px;display:inline-block;line-height:25px;color:#fff;text-align:center;margin:10px 20px 0 0;}
.union-btn:hover{color:#fff;text-decoration:none;}

.tit{border-bottom:1px solid #dcdcdc;margin:0 0 18px;height:32px;}
.tit h2{font-size:16px;}
.tit span{display:inline-block;padding:0 3px 8px;margin:0 23px 0 0;}
.tit a{color:#000;}
.tit .on{border-bottom:1px solid #8bbd00;margin-left:-1px;}
.tit .on a{color:#8bbd00;}
.tit a:hover{text-decoration:none;}
.tit .change{font-size:14px;background-position:0 -359px;padding:0 0 0 30px;font-family:"Microsoft Yahei";}

/* area */
.area{/*改*/margin:0 auto 20px; width:1000px;}
.area .col-1{width:313px;float:left;display:inline-block;}
.area .col-2{width:390px;float:left;margin:0 0 -24px 30px;}
.area .col-2 .list1{margin:0 0 24px;}
.area .col-3{width:236px;float:right;margin:0 0 -13px;}
.area .col-4{width:352px;float:left;margin:0 0 -20px;}
.area .col-5{width:350px;float:left;margin:0 0 -20px 30px;}
.area .col-5 .photo1 .pic{width:169px;}
.area .col-6{width:238px;float:right;}
.area .tab{display: none;}
.area .tab-on{display: block;}

.area-1 .photo{width:562px;float:left;}
.area-1 .news{width:415px;float:right;}
.area-1 .news{margin:-23px 0 0;}
.area-1 .news h3{font-size:24px;text-align:center;margin:25px 0 9px;font-weight:bold;}
.area-1 .news h3 a{color:#333;}
.area-1 .news h3 a:hover{color:#cd0200;}
.area-1 .news .text{line-height:21px;}
.area-1 .news .text a{display:inline; font-size:14px;}

.area-2 .photo{margin:-7px 0 0;}
.area-2 .photo-l,.area-2 .photo-r{margin:0 13px 0 5px;position:relative;}
.area-2 .photo .tx{position:absolute;width:90%;padding:0 5%;height:25px;line-height:25px;color:#fff;bottom:0;left:0;background:rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);display:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.area-2 .photo a:hover .tx{display:block;}
.area-3 .col-1 .list3{margin:0 0 17px;}
.area-3 .col-2{margin-bottom:-30px;}
.area-3 .col-2 .list3{margin:0 0 30px;}
.area-3 .col-3 .list2{/*改*/margin:0 0 20px;}
.col-3 .list2 li:first-child a,.col-6 .list2 li:first-child a{color: #333333; font-weight:bold;}
/*改*/
.area-3 .col-1 .pic .info{ width:153px; height:18px; overflow:hidden;}

.area-4 .photo-line{margin:0 0 8px;padding:0 0 7px;}
/*改*/
.area-4 .photo{margin:-7px 0 0;}
.area-4 .photo-l,.area-4 .photo-r{margin:0 5px;position:relative;}
.area-4 .photo .tx{position:absolute;width:90%;padding:0 5%;height:25px;line-height:25px;color:#fff;bottom:0;left:0;background:rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);display:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.area-4 .photo a:hover .tx{display:block;}

/*活动*/
.area-5 .col-3 .photo{}
.area-5 .col-3 .photo-l,.area-5 .col-3 .photo-r{margin:0 3px;position:relative;}
.area-5 .col-3 .photo img{ width:110px; height:83px;}
.area-5 .col-3 .photo .tx{position:absolute;width:90%;padding:0 5%;height:25px;line-height:25px;color:#fff;bottom:0;left:0;background:rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);display:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.area-5 .col-3 .photo a:hover .tx{display:block;}

.area-6 .col-1{margin:0 0 -20px;}
.area-6 .col-1 .list3 li{margin-bottom:6px;}
.area-6 .ztcar-col-l{width:85px;margin:-13px 0 0;}
.area-6 .ztcar-col-r{width:145px;margin:3px 0 0;}
.area-6 .ztcar-btn{text-align:center;background:#ebf4d4;font:14px/36px "Microsoft Yahei";border:1px solid #8bbd00;height:36px;display:block;margin:20px 0 0;}

.area-7{_margin-bottom:0;}
.area-7 .news{background:#f3f2f2;width:358px;height:360px;padding:20px;float:right;}
.area-7 .news h3{font-size:20px;border-left:2px solid #8bbd00;margin:3px 0 0;padding:0 0 0 10px;height:32px;line-height:32px;font-weight:normal;}
.area-7 .news h3 a{color:#333;}
.area-7 .news h3 a:hover{color:#cd0200;}
.area-7 .list3{margin:0;}
.area-7 .news-con{margin:15px 0 14px 10px;border-bottom:1px dotted #7d7d7d;padding:0 0 10px;line-height:20px;}
.area-7 .list3-o {border-top:1px dotted #727272;margin-top: 5px;padding-top: 5px;}
.area-7 .list3-o li{margin-bottom: 3px;}
.area-7 .col-x {width:667px;}
.area-7 .col-y {width:415px; float: left;}
.area-7 .col-z {width:235px;}

.area-8 .photo4{margin:0 0 16px;}
.area-8 .col-5 .list3 li{margin:0 0 7px;}
.area-8 .col-5 .photo-line{padding:0 0 6px;margin:0 0 7px;}
.area-8 .col-5 .photo1 .info{font-size:12px;}
.area-8 .col-6 .photo2{/*改*/margin:22px 0 0;}
/*改*/
.slide-ms,.slide-ss{width: 350px;height: 220px; position:relative; margin-bottom:20px;}
#FocusMeishi,#FocusShishan{width: 350px;height: 220px; }
#FocusMeishi .pic li,#FocusShishan .pic li{display: none;}
#FocusMeishi .pic li:first-child,#FocusShishan .pic li:first-child{display: block;}




.area-9 .photo4{margin:0 0 16px;}
.area-9 .col-5 .list3 li{margin:0 0 7px;}
.area-9 .col-5 .photo-line{padding:0 0 6px;margin:0 0 7px;}
.area-9 .col-5 .photo1 .info{font-size:12px;}
.area-9 .col-6 .photo2{/*改*/margin:15px 0 0;}

.area-10 .photo4{margin:0 0 16px;}
.area-10 .col-5 .list3 li{margin:0 0 7px;}
.area-10 .col-5 .photo-line{padding:0 0 6px;margin:0 0 7px;}
.area-10 .col-5 .photo1 .info{font-size:12px;}
.area-10 .col-6 .photo2{/*改*/margin:15px 0 0;}

.area-11 .photo-line{margin:0 0 15px;}
.area-11 .list3 li{margin-bottom:12px;}
.area-11 .col-6 .list4{margin:-8px 0 0 -10px;}
.area-11 .col-6 .list4 .info{margin:7px 0 0;}

.area-12{border:9px solid #eee;padding:16px;width:950px;}

/* footer */
.footer{background:#f5f5f5;border-top:1px solid #dcdcdc;margin:35px 0 0;padding:20px 0;min-width:1000px;}
.footer-inner{width:1000px;margin:0 auto;position:relative;}
.footer .link{font-size:14px;margin:0 0 17px;border-bottom:1px solid #ddd;padding:0 0 26px;text-align:center;}
.footer .link .about a{margin:0 20px;font-weight:bold}
.footer .phone{margin:25px 0 0;}
.footer .phone-ico{background-position:0 -590px;padding:0 0 0 22px;}
.footer .info{line-height:28px;}
.footer .report-center,
.footer .trust-center{position:absolute;bottom:41px;right:0;}
.footer .report-center{bottom:106px;}

/* marquee */
.plus-mar-left{overflow:hidden; word-break:keep-all; white-space:nowrap;}
.plus-mar-left ul{list-style:none; margin:0; padding:0; display:inline-block; *display:inline; zoom:1;}
.plus-mar-left li{display:inline-block; *display:inline; zoom:1; text-indent:15px;}


/*--------20161026新加css------------*/
.w1000{ width:1000px;margin:0 auto;}
.area-wrap{ position:relative; overflow:hidden; width:1100px; margin:0 auto; /*background: url(images/area_bg.gif) no-repeat 43px top;*/}
.area-nav{ position:absolute; background:#fff; font-weight:bold; border:1px solid #8bbd00; border-right:none; color:#333; width:18px;line-height:20px; padding:20px 12px; font-size:18px; font-weight:normal; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; border-radius:5px 0 0 5px;}

.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}

/*深网名牌*/
.sw-icon{ width:1000px; margin:0 auto 20px;}
.sw-icon a{width:114px; height:42px; margin-right:10px; display:inline-block;}
.sw-icon a.sw-icon-last{ margin-right:0;}
.sw-icon a img{width:114px; height:42px;  border:1px solid #eee;}

/*深圳论坛导航*/
.szlt-nav{ font-family:Microsoft YaHei,SimHei; margin-bottom:10px; overflow:hidden; zoom:1;}
.szlt-nav dl{background:#f6f6f6; padding:8px 8px 5px; width:176px; float:left; margin-right:10px;}
.szlt-nav dl dd{ overflow:hidden; zoom:1;}
.szlt-nav dl dd a{ color:#333; display:block; float: left; width:44px; margin-top:3px; font-size:14px;}
.szlt-nav dl dd a:hover{ color:#8bbd00; text-decoration:underline;}
.szlt-nav dl.szlt-nav-last{ margin-right:0;}

/*爱深圳栏目*/
.isz-nav img{ height:21px; width:57px;}

/*生活交易版块*/
.sh-jy-mod{ margin-top:20px;}

/*金融理财版块*/
jr-lc-mod{ margin-top:20px;}

/*温泉栏目*/
.wq-nav:hover{ color:#8bbd00;}

/*汽车 二手车 文化 艺术收藏 栏目图片*/
.photo2 .img16-9{ display:block; width:236px; height:120px; overflow:hidden;}



/*娱乐频道滚图*/
.mod18Box { margin: 0px auto; width:595px; }
.mod18{ width:595px;height:400px; margin: 0px auto; position: relative; background: #f7f7f7; }
.mod18 .btn{position:absolute;width:15px;height:54px; top:346px;cursor:pointer;z-index:99;font-size:50px;font-weight:bold;}
.mod18 .prev{left:0;background:url(images/prevBtn.png) no-repeat;}
.mod18 #prevTop,.mod18 #nextTop{top:140px;width:46px;height:48px;}
.mod18 #prevTop{background:url(images/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #nextTop{background:url(images/nextBtnTop.png) 0 0 no-repeat;}
.mod18 .next{right:0; background:url(images/nextBtn.png) no-repeat;}
.mod18 li{float:left;}
.mod18 .mod18img li{position:relative;color:#fff;}
.mod18 .mod18img a{display:block;width:595px;height:335px;position:absolute;color:#fff;}
.mod18 .mod18img li span{display:block;width:575px;position:absolute;left:0;bottom:0;padding:10px 10px;line-height:22px;text-align:left;background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#60000000",endColorstr = "#60000000");}
.mod18 .picBox{height:335px;position:relative;overflow:hidden;}
.mod18 .picBox ul{height:335px;position:absolute;}
.mod18 .picBox li{width:595px;height:335px;}
.mod18 .listBox{ width:595px; height:54px;padding-top:11px; margin: 0 auto; position: relative;overflow: hidden; }/*下排小图一整排长度*/
.mod18 .listBox ul{position:absolute; margin-left:15px;}
.mod18 .listBox li{ width:86px; height:54px;  cursor:pointer; position:relative; margin:0 4px;}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li img{width:86px;height:54px;}
.mod18 .listBox .on {border:1px solid #8BBD00;}
.mod18 .listBox .on i{display:block;}
#message{ width:1000px; margin:40px auto 0;}

