/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
a{color: #fff; font-family: 'Ubuntu', sans-serif; font-weight: 500;}
a:hover{text-decoration: none; color: #dcdcdc;}
ul,li{list-style: none}
ul{padding:0}
h1,h2,h3,h4,h5,h6{margin:0}
section{position:relative}
.bg_1{background:url(/img/bg_1.jpg) no-repeat 0 0; background-size:cover;}
#bb-index{width:100%; display:block; min-height: 700px; background:url(/img/bg_1.jpg) no-repeat center center; background-size:cover}
.right-col{width:472px; min-height:463px; position:absolute; z-index: 11; top:96px; right:50%}
.bb-menu{position:absolute; right:48px; top:20px; z-index: 10}
.bb-dark-btn{position:relative; border: 2px solid #fff; padding: 14px 0 13px; text-align: center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; overflow:hidden; color:#fff; width:119px; font-weight:500; font-size:15px; line-height: 15px; margin-right:8px;}
.bb-dark-btn:last-of-type{margin-right:0}
.bb-dark-btn:hover{color:#fff; font-weight:500}
.bb-dark-btn:before{content: ""; position:absolute; top:0; left:0; background-color: #000; opacity: 0.6; z-index: -1; display: block; width:100%; height:100%}
h1{font-size:60px; line-height: 62px;}
h2{font-size:42px; line-height:44px}
h3{font-size:24px; line-height:26px;}
h4{font-size:18px; line-height:20px;}
.bb-white, .bb-white:hover{color:#fff}
.bb-grey, .bb-grey:hover{color:#999}
.bb-blue-bg{background-color:#018cc5}
.bb-blue-bg:hover{background-color:#37aedf}
.bb-bold{font-weight: 700}
.bb-light{font-weight: 300}
#bb-index h1{margin:15px 0 30px 0; line-height: 45px}
.right-col .input-group{margin-top:24px; }
.right-col .input-group .form-control{border:2px solid #fff; background-color:#efefef;height:39px;border-right:none;}
.right-col .bb-btn{border:2px solid #fff; height:39px; border-left:2px solid #018cc5; margin-left:-2px!important; border-left:none; width:52px; color:#fff}
.right-col .bb-btn{margin-left:0px!important;}
.right-col p{margin-top:8px}
.right-col label{color:#fff}
.bb-underline{text-decoration: underline}
.right-col .checkbox{margin-top:19px}
.bb-blue-btn{
background: #39a5d2;
background: -moz-linear-gradient(top,  #39a5d2 1%, #96cbe0 3%, #39a5d2 6%, #0990c7 51%, #39a5d2 100%);
background: -webkit-linear-gradient(top,  #39a5d2 1%,#96cbe0 3%,#39a5d2 6%,#0990c7 51%,#39a5d2 100%);
background: linear-gradient(to bottom,  #39a5d2 1%,#96cbe0 3%,#39a5d2 6%,#0990c7 51%,#39a5d2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39a5d2', endColorstr='#39a5d2',GradientType=0);
border:1px solid #0077a8;
text-shadow: 0px -1px 2px rgba(5, 104, 145, 1);
color:#fff!important; width:197px; font-size:18px; line-height: 19px; padding:12px 0 9px 0;
}
.right-col .bb-blue-btn{margin-top:27px}

/*--social--*/
#bb-social{min-height:700px; background:url(/img/bg_2.jpg) no-repeat center 257px; width:100%; display:block;}
.bb-text{width:56%;margin:0 auto;padding-top:102px}
.bb-text p{font-size:20px; line-height: 28px}
.bb-text h2{margin-bottom:19px}
/*--social end--*/

/*--safe--*/
#bb-safe{min-height:700px; background:url(/img/bg_3.jpg) no-repeat bottom center; width:100%; display:block; background-size:cover}
.bb-computer{background:url(/img/computer.png) bottom center no-repeat; padding: 0 0 320px;}
/*--safe end--*/

/*--media--*/
#bb-media{min-height:700px; background:#fff; width:100%; display:block;}
.bb-contact{width:56%; margin: 60px auto 0}
.bb-contact ul{font-size:0; width:100%; padding:0}
.bb-contact ul li{font-size:14px; display:inline-block; width:31%; margin-right:2%; text-align: center; height:319px}
.bb-contact ul li:last-of-type{margin-right:0;}
.bg-pic-1{background:url(/img/ball_1.gif) no-repeat center 50px; }
.bg-pic-2{background:url(/img/ball_2.gif) no-repeat center 50px; }
.bg-pic-3{background:url(/img/ball_3.gif) no-repeat center 50px; }
#bb-media h4{margin-bottom:244px}
#bb-media a{width:78%; font-size:15px}
/*--media end--*/

/*--user--*/
#bb-user{min-height:700px; background:#fff; width:100%; display:block;}
#bb-user .bg-pic-1{background:url(/img/p_1.gif) no-repeat center top; background-size:contain}
#bb-user .bg-pic-2{background:url(/img/p_2.gif) no-repeat center top;background-size:contain}
#bb-user .bg-pic-3{background:url(/img/p_3.gif) no-repeat center top;background-size:contain}
#bb-user .bb-contact ul li{height:201px}
#bb-user .font30{font-size:30px; margin-top:49px; margin-bottom:15px}
/*--user end--*/


/*--share--*/
#bb-share{min-height:700px; background:url(/img/bg_4.jpg) no-repeat bottom center; width:100%; display:block; background-size:cover}
.bb-folder{background:url(/img/folder.png) bottom center no-repeat; padding: 0 0 420px;}
/*--share end--*/

/*--footer--*/
footer{width:100%; min-height: 120px; background:url(/img/ft_bg.jpg) repeat 0 0; text-align: center;}

footer .bb-ft-menu{width:100%; font-size:0; padding-top:43px; margin-bottom:20px}
footer .bb-ft-menu li{display:inline-block; margin-right:15px;   margin-bottom: 5px;}
footer .bb-ft-menu li:last-of-type{margin-right:0}
footer .bb-ft-menu li a{font-size:13px; line-height: 13px}
footer .bb-bottom-data div{display:inline-block}
.bb-copyright{margin-right:30px}
footer{padding-bottom:0px}
/*--footer end--*/
@media(max-width:991px){
	#bb-index .right-col{left:0; width:100%; padding:0 10px}
	.bb-contact{width:80%}
	
}
@media(max-width:768px){
	#bb-index .right-col{left:0; width:100%; padding:0 10px}
	.bb-menu{left:0; width:100%; text-align: center}
	h1{font-size:44px}
	
	#bb-social{background-position:center 85%; background-size:contain}
	.bb-text{padding-top:70px; width:80%}
	.bb-text p{font-size:15px}
	.bb-text h2{font-size:30px}
	.bb-contact{margin-top:30px}
	.bb-contact ul li{width:100%; margin-bottom: 30px}
	#bb-user .font30{font-size:20px; margin-top:10px}
	#bb-user .bb-blue-btn{margin-bottom:30px}
	footer .bb-ft-menu li{margin-bottom:4px}
	footer .bb-ft-menu{margin-bottom:10px}
	footer{padding-bottom:10px}
}
@media(max-width:480px){
	.bb-computer{background-position:center 85%; background-size:contain}
	.bb-folder{background-position:center 85%;  background-size: 640px auto;}
	
}
/*---index----*/
.up-body{ background: rgba(0, 0, 0, 0) url("/images/Bigfile/header_menu_bg.gif") repeat-x scroll 0 0;
    min-width: 960px;position:absolute;width:100%
   }
.container{width:960px; margin:auto; position: relative; min-height: 96%; _height: 96%;}
.header .menu{width:960px; height:63px; overflow:hidden;}
.header .logo_big_box{}
.header .menu li{font-size:17px; font-weight:bold;  float:left; text-align:center}
.header .menu li a{color:#fff; text-decoration:none; float:left; height: 63px; line-height: 63px; text-align:center; padding:0 15px}
.header .menu li.logo a, .header .menu li.logo a:hover { background:url(/images/Bigfile/logo.gif) no-repeat; width: 170px; height: 65px; padding: 0; margin-right: 30px; *background:none; *filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='images/Bigfile/logo.gif', sizingMethod='crop'); cursor: pointer;}

.header .menu ul.menu_L { padding-left: 2px; }
.header .menu ul.menu_L li a:hover{background-color:#085575;}
.header .menu ul.menu_L li.active a:hover { background: none; background-color:#085575; }
.header .menu ul.menu_R li a:hover{background-color:#085575;}
.header .menu li.active a{ background-color: #085575; }
.header .menu .menu_L{float:left}
.header .menu .menu_R{padding-right:0; float:right}

.header .menu li.btn_freevpn a { float: left; height: 38px; background-color: #00c9d0; color: #fff; line-height: 38px; text-align: center; margin: 15px 5px 0 0; padding: 0 25px;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px;}
.header .menu ul.menu_R li.btn_freevpn a:hover { background: #fff; color: #00c9d0;}
.header .menu li.btn_buypremium a { float: left; height: 38px; background-color: #ffcc44; color: #000; line-height: 38px; text-align: center; margin: 15px 0 0 0; padding: 0 25px;}
.header .menu ul.menu_R li.btn_buypremium a:hover { background-color: #ffde86;}
.header .menu li.btn_login { margin-left: 10px; }

.header .menu li.btn_user { width: 75px; padding: 0; margin-left: 20px; }
.header .menu li.btn_user a { display: block; padding: 0; margin: 0; width: 75px; height: 63px; background:url(/images/Bigfile/icon_user.png) no-repeat center;
*background:none; *filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='images/Bigfile/icon_user.png', sizingMethod='crop'); }
.header .menu li.btn_user span { display: block; width: 75px; height: 63px; padding: 0; margin: 0 auto; }
.header .menu li.btn_user.active { background-color:#085575;}

.header .menu #list_quest { float: left; width: 20px; height: 69px; padding: 0; }
.header .menu #list_quest a.blue { display: block; padding: 0; margin: 0; width: 20px; height: 69px; text-indent: -9999px; background: url(/images/Bigfile/downarrow.gif) center 0}
.header .menu #list_quest a.blue:hover { background-position: center -65px;background-color: #4483c4;}

.header .menu .blue{color:#1262b3;}
.header .menu .user{font-weight:bold; text-indent: -9999px; font-size: 0; display: block; width:48px; height: 69px; }
.header .menu .menu_dashboard{background:url(/images/dashboard.gif) no-repeat center left; padding-left:25px; padding-top:2px;}
.header .header_main { display: none;}
.header .header_main .sharebox{float:right; padding-top:20px}

.header .header_main .logo, .header .header_main div.section { display: none;}
.header .header_main .searchBox{ width: 307px; overflow:hidden; position: absolute; top: 72px;right: 10px; z-index:999; background: #fff; border: 1px solid #51b6e0; height: 29px;}

.header .header_main .searchBox .txtbox{ border:0; width:220px; padding:6px 10px; float:left; }
.header .header_main .searchBox .submit{ border:none; height:29px; width:33px; cursor:pointer; float:right; background: url(/images/Bigfile/icon_search.gif) no-repeat #0f4680; }
.header .header_main .searchBox a.searchSelect{width:33px; height:29px; float:right}
.header .header_main .searchBox a.on.searchSelect, .header .header_main .searchBox a:hover.searchSelect{}
.header .header_main .searchBox .search_arrow{background:transparent url(/images/Bigfile/search_downarrow.gif) no-repeat top center; width:33px; height:29px; float:right; border-left:1px solid #b8b8b8;}
.tooltip2{ display:none; z-index: 9999; background:#fff; width: 254px; overflow: hidden;
-webkit-box-shadow: 0px 3px 12px -1px rgba(102,100,102,1);
-moz-box-shadow: 0px 3px 12px -1px rgba(102,100,102,1);
box-shadow: 0px 3px 12px -1px rgba(102,100,102,1); }

.tooltip2 a { display: block; height: 44px ; line-height: 44px; color: #474747; font-size: 13px; font-weight: bold;}
.tooltip2 a.last { border-bottom: none;
-webkit-border-radius: 0 0 4px 4px; 
-moz-border-radius: 0 0 4px 4px; 
border-radius: 0 0 4px 4px;}
.tooltip2 a.active { pointer-events: none; cursor: default; background: url(/images/Bigfile/bg_active.gif) repeat-y left center #fff; color: #2a2a2a;}
.tooltip2 a:hover { background-color:#dff1f8; color: #0f3849; }

.tooltip2 a p { margin: 0; padding: 0 0 0 24px; overflow: hidden;}
.tooltip2 a p span { float: left; padding: 0 0 0 12px; background: none; width: auto;}
.tooltip2 a p span.icon { float: left; margin: 8px 0 0 0; padding: 0; width: 36px; height: 36px; background: url(/images/Bigfile/icon_dashboard.gif) no-repeat; }
.tooltip2 a p span.icon.dashboard { background-position: 0 0; }
.tooltip2 a p span.icon.account { background-position: -36px 0; }
.tooltip2 a p span.icon.features { background-position: -72px 0; }
.tooltip2 a p span.icon.logout { background-position: -144px 0; }