﻿.loading_animate {padding-left:22px; background:url(/images/Bigfile/loading_animate.gif) no-repeat left center}

.uploading { margin: auto; width: 634px; margin-top: 50px;}
.uploading .progressBox{padding:8px 10px; background:#fff; text-align:left; width:580px; position:relative; border:1px solid #abc2d5; height:10px; overflow:hidden; float:left}
.uploading .progressBox .fileName{ position:absolute; top:0; left:0; z-index:2;padding:5px 10px;}
.uploading .progressBox .progressPec{ position:absolute; top:0; left:0; z-index:1; background:#ebf5f9; height:27px}
.uploading .OK{background:url(/images/Bigfile/tick.gif) no-repeat center center; height:25px; width:30px; float:left}
.uploading .cross{background:url(/images/Bigfile/cross.gif) no-repeat center center; height:25px; width:30px; float:left}
.uploading .pec{ line-height:27px; text-indent: 2px; }
.uploading li{margin-bottom:10px; float:left; width:100%;}

.remote_button{float: left; width: 240px; overflow: hidden;  }
.remote_button a{ display: block; height: 52px; line-height: 52px; color: #474747; font-size: 16px; font-weight: normal;  }
.remote_button a.on, .remote_button a.on:hover {background: #dff1f8 url("/images/Bigfile/bg_arrow_active.gif") no-repeat scroll 90% center; pointer-events: none; cursor: default; }
.remote_button a:hover{ background: #dff1f8;  }
.remote_button a p { margin: 0; padding: 0 0 0 10px; overflow: hidden;}
.remote_button a p span { float: left; padding: 0 0 0 12px; background: none; }
.remote_button a p span.icon { float: left; margin: 8px 0 0 0; padding: 0; width: 36px; height: 36px; background: url(/images/Bigfile/icon_dashboard.gif) no-repeat; }
.remote_button a p span.f14 { font-size: 14px; }
.remote_button a p span.icon.web { background-position: -216px 0; }
.remote_button a p span.icon.ftp { background-position: -252px 0; }
.remote_button a p span.icon.host { background-position: -288px 0; }
.remote_button a p span.icon.utou { background-position: -324px 0; }


.remoteuploadBox .remoteFull b {width:100%; display: block; margin-bottom: 4px; }
.remoteuploadBox .remoteFull{padding: 20px 0 0 30px;}
.remoteuploadBox .remoteFull textarea {height: 100px; width: 295px; overflow: auto; }
.remoteuploadBox .note{ margin: 0; padding: 0; color:#2a2a2a; font-size:13px; margin: 5px 0 10px; }
.remoteuploadBox .checking_msg{background:url(/images/Bigfile/error.gif) no-repeat 3px 0; color:#e83d3d !important; padding-left: 22px; font-size:13px; height: 16px; margin-top:2px;}
.remoteuploadBox a.btn_send { float: left; height: 34px;  background: #2776b0; color: #fff; line-height: 38px; text-align: center; margin: 35px 0 0 0; padding: 0; font-size: 16px; font-weight: bold; text-align:center; line-height: 34px; width:200px}
.remoteuploadBox a.btn_send span{ padding: 0 30px;}
.remoteuploadBox a.btn_send:hover { background-color: #4dbdeb;}


.remoteuploadBox .ftp_login{width:100%;}
.remoteuploadBox .ftp_login .colL {}
.remoteuploadBox .ftp_login .colAll, .remoteuploadBox .ftp_login .colL, .remoteuploadBox .ftp_login .colR{ display: block;  padding-bottom:10px; position: relative;}
.remoteuploadBox .ftp_login .colAll{width:100%; margin-bottom: 15px;}
.remoteuploadBox .ftp_login .colL{ margin-bottom: 15px; float: left; width: 100%; }
.remoteuploadBox .ftp_login .colR{ margin-bottom: 15px; float: left; width: 100%; height: 75px;}
.remoteuploadBox .ftp_login .input_txt{ width: 295px;}
.remoteuploadBox .ftp_login .colL .input_txt, .remoteuploadBox .ftp_login .colR .input_txt { width: 295px;}
.remoteuploadBox .ftp_login .ftp_pwd { margin-left: 0;}
.remoteuploadBox .ftp_login .ftp_pwd .input_txt { width: 295px;}
.remoteuploadBox .ftp_login select{border: none; outline: none; padding:0; margin: 6px 0 0 4px; *margin: 4px 0 0 4px; width:250px; 
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;}
.ftp_login .checkbox_panel{padding:0;color:#2a2a2a; font-size:13px; position: absolute; top: 62px; left: 0; }
.ftp_login .checkbox_panel.storage_service {position: absolute; top: 62px; _top: 59px;  left: -4px; }

.ftp_login .checkbox_panel .checkbox{  margin:2px; padding:0; *margin-left:-2px; float:left;}
.ftp_login .checkbox_panel .txt{ float:left; *margin-top:3px;  *margin-left: 0; margin-left: 5px; }

.rememberInfo{ background: #fff; width:307px; height: 31px; border: 1px solid #9ecdeb;}
.rememberInfo .input_remember{ height: 25px; line-height: 25px; width: 260px; padding: 3px 5px; border: none; background: none; float: left; display: block; }
.rememberInfo .searchSelect {float:right; width:30px;}
.rememberInfo .search_arrow, .input_a .search_arrow{background: url(/images/Bigfile/btn_remember.gif) #16477f; cursor: pointer;}
.rememberInfo .search_arrow{float:right; height:31px; width:31px;}
.input_a.box { background: #fff; border: 1px solid #9ecdeb; height: 31px; width: 305px; }
.input_a .search_arrow { float: right; width: 46px; height: 31px; background: url(/images/Bigfile/icon_edit.gif) #51b6e0;}
.success_msg {position:relative; width: 634px; margin: 30px auto;}
.caution_msg {position:relative; width: 634px; margin: 30px auto; }
.success_msg a, .caution_msg a{color:#2776b0; text-decoration:none}
.success_msg a:hover, .caution_msg a:hover{color:#4dbdeb ; text-decoration:none;}
.success_msg h1, .caution_msg h1 { font-size:17px; line-height:20px;padding: 13px 15px 20px; text-indent: 20px; margin-bottom: 30px; text-align: left; font-weight: normal; color:#409700} 
.success_msg h1 {background:url(/images/Bigfile/icon_tick.gif) no-repeat #fff 10px 14px; border-bottom: 1px solid #dddddd;} 
.success_msg .left{width:100%; text-align: center; margin-bottom:16px}
.success_msg .right{width:100%;}
.success_msg .right a.btn_send{display:block; width:240px; margin: 0 auto;float:none}
.caution_msg h1{background:url(/images/Bigfile/caution.gif) no-repeat #fff 10px 14px;  color: #d50000; border:none; border-bottom: 1px solid #dddddd; }

.success_msg a.btn_send { color: #fff; font-weight: bold; float: left; height: 34px;  line-height: 34px; background: #2776b0; color: #fff;  text-align: center; font-size: 16px; text-align:center;}
.success_msg a.btn_send span{ padding: 0 20px;}
.success_msg a.btn_send:hover { background: #4483c4; }


.shareFull { text-align:left; padding:25px 0; width: 634px; margin: 0 auto; }
.shareFull select{width:150px; float:left}
.shareFull textarea.sharelink {width:625px; margin-top:5px; height:130px; padding:5px; border:1px solid #abc2d5; margin-bottom:20px}
.sharebox .colL{float:left}
.sharebox .colR{float:right; width:200px }

.caution_msg .btn_send{ float: left; height: 34px; line-height: 34px; padding: 0 28px; background: #2776b0; color: #fff !important; font-size: 16px; font-weight: bold; text-align:center; margin: 20px auto 0;}
.caution_msg .btn_send:hover { background: #4dbdeb ; }

.shareFull .select_box{ padding: 0; float: left; width: 120px; }

.shareFull .select_box select { width: 110px; }

.remoteuploadBox .remoteupgrade{font-size: 15px; color:#1262b3; text-align:center; padding: 80px 0 100px 0; line-height: 20px;}
.remoteuploadBox .remoteupgrade a{font-size: 15px; font-weight: bold; color:#2776b0; text-decoration:underline; display:block}
.remoteuploadBox .remoteupgrade a:hover{font-size: 15px; color:#4dbdeb ; text-decoration:none;}

.fn-yellow{background-color:#ffcc44!important}
.fn-yellow span{color:#000!important; }
.fn-yellow:hover{background-color:#ffde86!important}
