@font-face {
    font-family: 'OswaldBold';
    src: url('/module/fonts/Oswald/bold/Oswald-Bold.eot');
    src: url('/module/fonts/Oswald/bold/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
         url('/module/fonts/Oswald/bold/Oswald-Bold.ttf') format('truetype'),
         url('/module/fonts/Oswald/bold/Oswald-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}