 /*
  ********** CSS Reset *********
  @explain: 这些值在不同的项目中会有所不同，在使用的时候要根据实际项目进行调整
 */
 html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, input, textarea,dl,dt,dd { margin: 0; padding: 0; }
 body { font-family:\5B8B\4F53,Arial Narrow,arial,serif; font-size: 12px;background-color:#fff;}
 img{ vertical-align: top; border-width:0; }
 ol,ul { list-style: none;}
 li{ list-style-type: none;}
 caption,th { text-align: left;}
 address,caption,cite,code,dfn,ins,em,th,var { font-weight:normal; font-style:normal;} 
 input,textarea{ font-size: 12px; padding: 2px;}
 .cursor{ cursor:pointer;}
 
 h1,h2,h3,h4,h5,h6{font-weight:normal;} 
 p{line-height:20px;}
 textarea{overflow:auto;}
 a{color:#252525; text-decoration:none;}
 a.underline-no{text-decoration:none;}
 /* ********** 通栏  (默认960px,根据实际项目行宽度调整)********** */
 .column {width: 960px;margin: 0 auto;float:center; clear:both;}
 /* ********* 三栏布局: 左两栏  + 右一栏  ********** */
 .col-l-main,
 .col-l-main .col-l { float: left; }
 .col-r-extra,
 .col-l-main .col-r { float: right; }
 /* ********* 三栏布局: 左一栏  + 右两栏  *********  */
 .col-r-main,
 .col-r-main .col-r,.col-r{ float: right; }
 .col-l-extra,
 .col-r-main .col-l,.col-l{ float: left; }

 .cor-B40000{color:#B40000;}
 
 /* ********** 栅格化宽度应用(width=960px)  ***********/
 .w-60{width:60px;}
 .w-160{width:160px;}
 .w-165{width:165px;}
 .w-190{width:190px;}
 .w-200{width:200px;}
 .w-210{width:210px;}
 .w-240{width:240px;}
 .w-260{width:260px;}
 .w-280{width:280px;}
 .w-310{width:310px;}
 .w-320{width:320px;}
 .w-330{width:330px;}
 .w-500{width:500px;}
 .w-360{width:360px;}
 .w-365{width:365px;}
 .w-380{width:380px;}
 .w-390{width:390px;}
 .w-400{width:400px;}
 .w-480{width:480px;}
 .w-560{width:560px;}
 .w-630{width:630px;}
 .w-640{width:640px;}
 .w-650{width:650px;}
 .w-300{width:300px;}
 .w-350{width:350px;}
 .w-670{width:670px;}
 .w-690{width:690px;}
 .w-700{width:700px;}
 .w-740{width:740px;}
 .w-770{width:770px;}
 .w-800{width:800px;}
 .w-920{width:920px; margin-left:auto;margin-right: auto;}
 /* ********** hover ***********/ 
 a:hover,.import-new-nav a:hover{color:#AE3F3D;text-decoration:underline;}
 
 /* ********** shortcut ***********/
 .YH{font-family:Microsoft YaHei,SimHei;}
 .ht{font-family:"黑体";}
 .arial{font-family: Arial, Helvetica, sans-serif;}
 .f-l,.per33 li,.per20 li,.per50 li{float:left;} .f-r{float:right;}
 .ov{overflow:hidden;zoom:1;}
 .clear,.hr-h5,.hr-h3,.hr-h0,.hr-h10,.hr-h15,.hr-h20{clear:both;}.hr-h0{height:0px;}.hr-h3{height:3px;}.hr-h5{height:5px;}.hr-h10{height:10px;}.hr-h15{height:15px;/*overflow:hidden;_zoom:1;*/}.hr-h20{ height:20px;}
 .pos-r{position:relative;} .pos-a{position:absolute;}
 .b{font-weight:bold;}
 .ti2{text-indent:2em;}
 .notxt{text-indent:-9999px;display:block;}
 .mar-8{margin:8px;}
 .img1px img{padding:1px;border:1px solid #ddd;}
 .redHover a:hover{color:#f00;}
 .mar-r-10{margin-right:10px;}
 .mar-r-20{margin-right:20px;}
 .mar-t-5{margin-top:5px;}
 .mar-t-10{margin-top:10px;}
 .mar-t-15{margin-top:15px;}
 .mar-t-17{margin-top:17px;}
 .mar-t-14{margin-top:14px;}
 .mar-t-20{margin-top:20px;}
 .mar-t-25{margin-top:25px;}
 .mar-t-28{margin-top:28px;}
 .mar-t-30{margin-top:30px;}
 .mar-t-8{margin-top:8px;}
 .mar-t-7{margin-top:7px;}
 .mar-t-5{margin-top:5px;}
 .mar-b-5{margin-bottom:5px;}
 .mar-b-10{margin-bottom:10px;}
 .mar-b-15{margin-bottom:15px;}
 .mar-b-20{margin-bottom:20px;}
 .mar-l-20{margin-left:20px;}
 .mar-l-35{margin-left:35px;}
 .mar-l-50{margin-left:50px;}
 .mar-l-10{margin-left:10px;}
 .mar-l-5{margin-left:5px;}
 .mar15{margin-right:15px;}
 .mar-r-15{margin-right:15px;}
 .mar-r-5{margin-right:5px;}
 .mar-lr-20{margin-left:20px;margin-right:20px;}
 .mar-lr-10{margin-right:10px;margin-left:10px;}
 .mar-tb-15{margin-top:15px;margin-bottom:15px;}
 .mar-20{margin:20px;}
 .mar-10{margin:10px;}
 .mar-15{margin:15px;}
 .mar-1{margin:1px;}
 .pad-t-2{padding-top:2px;}
 .pad-t-10{padding-top:10px;}
 .pad-b-10{padding-bottom:10px;}
 .pad-8{padding:8px;}
 .pad-10{padding:10px;}
 .pad-20{padding:20px;}
 .pad-l-4{padding-left:4px;}
 .pad-l-10{padding-left:10px;}
 .pad-l-15{padding-left:15px;}
 .pad-l-30{padding-left:30px;}
 .pad-lr-10{padding-left:10px;padding-right:10px;}
 .dotted{height:10px;background:#fff url(images/dotted.png) repeat-x left 6px;}
 .hidden{display:none;}
 .fz-12{font-size: 12px;}
 .fz-14{font-size: 14px;}
 .fz-16{font-size: 16px;}
 .fz-18{font-size: 18px;}
 .fz-20{font-size:20px;}
 .fz-24{font-size: 24px;}
 .fz-26{font-size:26px;}
 .fz-28{font-size:28px;}
 .t-c{text-align:center;}
 .lh-20{line-height:20px;}
 .lh-22{line-height:22px;}
 .lh-24{line-height:24px;}
 .lh-25{line-height:25px;}
 .lh-27{line-height:27px;}
 .lh-30{line-height:30px;}
 .lh-31{line-height:31px;}
 .lh-37{line-height:37px;}
 .lh-40{line-height:40px;}
 .h-22{height:22px;}
 .cor333,.cor444{color:#444;}
 .cor666{color:#666;}
 .cor999{color:#999;}
 .cor777{color:#666;}
 .corfff{color:#fff;}
 .cor-d6{color:#d6d6d6;}
 .cor-brown{color:#885344;}
 .cor-333 a{color:#333;text-decoration: none;}.cor-333 a:hover{color:#B40000;text-decoration:underline;}
 .corred,.corred a{color:#B40000;}
 .cor-blue{color:#004080;}
 .green{color:#009933;}
 .cor-yellow{color:#FDBF86;}a.cor-yellow:hover{color:#FDBF86;text-decoration: underline;}
 .cor-yellow2{color:#E9996B;}
 .cor-yellow3{color:#B88374;}
 .bg-white{background-color:#fff;}
 .bg-blue{background-color:#FFF7EC;}
 
 .bg-red{background-color:#c00;}
 .bg-red2{background-color:#4D140B;}
 .bg-red2 a{color:#FDBF86;}
 .bg-red3{background-color:#B20000;}
 .bg-red4{background-color:#AE3F3D;}
 .bg-yellow{background-color:#F9F3EE;}
 .bg-orange{background-color:#7E2313;}
 .bg-cor333{background-color:#333;}
 .bg-cor222{background-color:#222;}
 .bg-cor000{background-color:#000;}
 .bg-f4f4f4{line-height:18px;}
 .bg-gray{background-color:#F4F4F4;}
 .bd-ddd{border:1px solid #ddd;}
 .bd-yellow{border:1px solid #F0D1C4;}
 .bd-yellow2{border:1px solid #E3CEC8;}
 .bd-cor999{border:1px solid #999;}
 .bd-b-yellow{border-bottom:1px solid #F0D1C4;}
 .bd-b-white{border-bottom:1px solid #fff;}
 .bd-b-gray{border-bottom:1px solid #ccc;}
 .bd-l-yellow{border-left:1px solid #efe3da;}
 .r-line{border-right:1px solid #efe3da;}
 .bd-blue{border: 1px solid #F0D1C4;}
 .bd-white{border:1px solid #fff;}
 /*.bg-blueb{border:1px solid #EFE3DA;}*/
 .center{margin-left:auto;margin-right:auto;}
 .clearfix{display:block;}
 .it2em{ text-indent:2em;}
 
 /* ********** css sprite ***********/
.bg-bar{background-image:url(images/bar.png); background-repeat: repeat-x;background-color:transparent;}
.menu-left .now{background-image:url(images/bar.png); background-repeat: repeat-x;background-color:transparent;}
 .page .now{color:#dd6677;}
 .bg-ico,.history,.nav_txt .history:hover,.txt-list-a li,.txt-list-c li,.mod-title-a .h2,.mod-title-h .ico2,.mod-title-d .h2,.coryellow .tabs-focus,.left-menu1 .now4,.left-menu2 .now5,.tabTitle2 .tabs-focus,.menu-left a,.nav-menu li,.nav-menu2 li.first,.rss-list .now,.txt-list-f li,.hontlist a,.notice-info li{background:url(images/ico.png) no-repeat 0 0;}
 .tabs-focus-roll{background:url(images/tab-ico.png) no-repeat 0 0;}
 .rank-list-a li,.rank-list-b li,.mod-title-b,.h-dotted,.h-dotted-yellow,.mod-title-g{background:url(images/h-dotted.png) repeat-x 0 0;}
 .top-bar a{color:#454545;}
 
 /*------------- 页脚 ---------------*/
 .footer{padding-bottom:15px;}
 .footer .link{padding-left:20px;}
 .footer .link1 a{margin:0 2px;line-height:34px;}
 .footer .txt{margin:10px 0 10px 20px;}
 .footer .txt li{text-align:center; margin:0 10px;line-height:18px;}
 .footer p a{margin:0 5px;}
 body>a>img{opacity:0;filter: alpha(opacity=0);}
 
/*------- 页脚2 --------*/
.footer2 p a{color:#333;line-height:34px; margin:0 10px;}
.footer2 img{border:1px solid #D1D1D1; margin:0 5px;}

/*------- 定高 --------*/
.two-line{height:45px;}
.three-line{height:60px;}
.three-linee{background-color:#FFF1E0;}
.four-line{height:80px;}
.four-li{height:70px;}
.six-line{height:124px;}

.copy {background-position: 0px -342px;}
.print {background-position: 0px -307px;}
.copy, .print {
    line-height: 24px;
    margin-right: 20px;
    padding-left: 20px;
}
.copy, .print {padding: 2px 0 2px 25px;}
  
.pad-10 a:visited{color:/*#CC6699*/#83006F;} 
.pic-des{padding-top:10px;padding-bottom:4px;}
.nowstyle{border-color:#FFFF00;}
/*------- add common --------*/
.cor-EFE3DA,.cor-EFE3DA a{color:#EFE3DA;}
.bg-red5{background-color:#D03535;}
.bd-EFE3DA{border:1px solid #EFE3DA;}
.w-900{width:900px;}
.mar-l-30{margin-left:30px;}
.w-588{width:588px;}
.w-278{width:278px;}
.pad-15{padding:15px;}
.cor-AC3F3D{color:#AC3F3D;}
.bd-l-EFE3DA{border-left:1px solid #EFE3DA;}
.mar-lr-30{margin-left:30px;margin-right:30px;}
.bg-cor666{background-color:#666;}
.cor-ccc{color:#ccc;}
.pad-lr-5{padding-left:5px;padding-right:5px;}
.fz-22{font-size:22px;}
.cor-FE9900{color:#FE9900;}
.bd-EFE3DA{border:1px solid #EFE3DA;}
.pad-tb-15{padding-top:15px;padding-bottom:15px;}
.pad-lr-30{padding-left:30px;padding-right:30px;}
 /* 一周文化指标 */
 .w-235{width:235px;}
 .w-737{width:737px;}
.year80-head{margin:0 auto;height:300px;background: url(images/pic-80year-top.jpg) no-repeat center 0;}

/*搜索*/
#search_list dt a .keyword, .keyword{color:#CC0000;}
.line-bg-index { background: url(images/line-bg-index.gif) repeat-y scroll 385px 0}
.ckweibo em{ background: url(images/ckweibo.gif) no-repeat scroll 0 0; width:24px; height:20px; display:block;}
.ckweibo h2,.ckweibo .h2{color:#B40000;font-size:14px;}}

/*评论样式*/
.ie9 .ie_mar_t{margin-top:11px;}
.ie8 .ie_mar_t{margin-top:15px;}
.ie7 .ie_mar_t{margin-top:12px;}
.ie9 .ie_mar_t5{margin-top:5px;}
.ie8 .ie_mar_t5{margin-top:5px;}
.ie7 .ie_mar_t5{margin-top:3px;}


.per33 .img-summary-a p{width:200px;}

/*幻灯片*/
.blk_jdt_prebtn, .blk_jdt_nextbtn{height:36px; position:absolute; top:88px; width:22px; z-index:1000; display:none; outline:none;}
.blk_jdt_prebtn{background:url('http://img.cankaoxiaoxi.com/templates/cankaoxiaoxi/css/images/news_cq_1130_prebtn.png') 0 0 no-repeat; left:0;}
.blk_jdt_nextbtn{background:url('http://img.cankaoxiaoxi.com/templates/cankaoxiaoxi/css/images/news_cq_1130_nextbtn.png') 0 0 no-repeat; right:0;}

/*中国搜索*/


#chinaso_search .China_search_24_new{height:30px;width:300px; position:relative;}
#chinaso_search .China_search_24_new .logo { float:left;background:url(http://www.chinaso.com/static/image/bg_2_03.png) no-repeat;height: 29px;width: 63px;}
#chinaso_search .China_search_24_new img {border: medium none;float: left;}
#chinaso_tabs a{float:left;padding:0;margin:0 8px;height:16px;overflow:hidden;color:#06c; text-decoration:none}
#chinaso_search #chinaso{color:#E60012;font-weight:bold;}
#chinaso_search .search_input2{margin:0;padding:0;float:left;width:192px;height:26px;border:1px solid #ccc;line-height:26px;font-size:12px; text-indent:5px; font-family:微软雅黑}
#chinaso_search .search_btn2{float:left;width:44px;height:28px;border:1px solid #ccc;margin-left:-1px;background:url(http://www.chinaso.com/static/image/search_03.png) no-repeat -2px -1px;}
#chinaso_search  #searchHotWord{color: #666;cursor: text;font-size: 16px;height: 22px;left: 62px;line-height: 22px;padding: 2px 2px 2px 7px;position: absolute;top: 1px;width: 103px; font-size:12px; font-family:微软雅黑}

/*热搜词弹出*/
.keywords-box { position:absolute; background:#fff; top:28px; left:63px; border:1px solid #ccc; border-top:none; width:192px; font-size:12px; font-family:'宋体'; z-index:5; zoom:1; overflow:hidden;}
.keywords-box h3 { font-size:12px; font-weight:normal; height:30px; line-height:30px; border-bottom:1px dotted #eee; padding:0px 10px;}
.keywords-box p { height:30px; line-height:30px; border-top:1px dotted #eee; padding:0px 10px; text-align:right;}
.keywords-box ul li { height:30px; line-height:30px; }
.keywords-box ul li a { display:block; padding:0 10px;font-size: 12px;}
.keywords-box ul li a:hover { text-decoration:none; background:#eee;}
