img{border: none;}
.class_right{padding:0 0 0 15px;}
#slide ol{left:110px; top: 250px;}
.w-680{width: 680px;}
body{font-family:"\5B8B\4F53", sans-serif;}
.ZT{font-family:"宋体","Arial Narrow",HELVETICA;}
.h3 a, h1 a, h2 a, a{color:#000;}
.tjad a{ color:#252525;}
.roll{height: 30px; width: 640px;background: #f0f0f0; line-height: 30px; overflow:hidden;}
.roll_tab{display: block; background:url(http://img.ihlnews.com/templates/ihlnews/css/img_ihl/ico.png) 0 -456px no-repeat; width: 80px; height: 30px; padding-left: 12px;}
.roll_tab a{color: #333;}
.roll div a,.roll ul span{color: #4c4c4c; display: block;border-left: 1px solid #afafaf; color: #4c4c4c; float: left; padding: 0 10px; line-height: 14px; margin-top: 8px;}
.roll ul li:first-child a,.roll ul span{border: none;}
.roll ul span{padding:0;}
.bg-txt-focus{ background:url(http://upload.cankaoxiaoxi.com/2014/0728/1406534912569.png) 0 0 no-repeat; height:20px; width: 240px; margin-top:0;}
.txt-focus{height:16px; width:180px; line-height: 16px; margin-top: 0px;}
.hot{border:none; padding-bottom: 30px;}
#slide ul, #slide li{height: 290px;}
#slide ol li{background:url(http://upload.cankaoxiaoxi.com/2014/0728/1406537443938.png) 0 0 no-repeat; width: 8px; height: 8px; margin-left: 10px;}
#slide ol li.on{ background:url(http://upload.cankaoxiaoxi.com/2014/0728/1406537485261.png) 0 0 no-repeat}
#slide{ background:#e5e5e5; width: 320px; height: 290px;}
#slide p{line-height: 66px;}
#slide p a{color:#040000; font-weight:bold; font-size:14px;}
.hot h1 a{color: #040000; line-height: 34px;}
.blk_jdt_prebtn{background: url('http://upload.cankaoxiaoxi.com/2014/0626/1403748818848.png') 0 0 no-repeat;}
.blk_jdt_nextbtn{background: url('http://upload.cankaoxiaoxi.com/2014/0626/1403749358852.png') 0 0 no-repeat;}
.blk_jdt_prebtn, .blk_jdt_nextbtn{width: 26px; height: 50px; top: 100px;}
.main_left{ background:none; border-top:none; width: 320px; padding: 0; float: left;}
.title_border{border-top:1px solid #aaa; padding-left:5px;}
.tt_bg{color:#900;}
.news_hot p a{ display:inline; background:#c33 url(http://upload.cankaoxiaoxi.com/2014/0605/1401958684652.jpg) right 3px no-repeat; font-size:14px; color:#fff; line-height:17px; padding:0 7px 0 6px; }
.news_hot li{line-height: 29px; font-size: 14px; padding-left: 15px; background: url(img/icon2.png) 0 -240px no-repeat;}
.news_hot p{line-height:26px;}
.news_hot h4{font-size:14px; line-height:24px; color:#000; margin-top:5px; font-weight:bold;}
.news_hot .desc a{color:#333; line-height:27px; font-size:12px; margin-top:0; background: none;}
.ssmt_img p{width:155px; font-size:12px; line-height: 30px;}
.ssmt_img a{color:#333;}
.imgmask{ position:absolute; background:url(http://img.ihlnews.com/templates/ihlnews/css/img_ihl/img_bak.png) 0 0 repeat-x; bottom:0; left:0; width:260px; height:70px;}
.yaowen li{ background:none; line-height: 32px;}
.yaowen li:first-child a{color:#000;}
.rank{width: 320px;}
.rank #tab-title-1{border:none;}
.rank #tab-title-1 .tabs-focus, .rank #tab-title-2 .tabs-focus, .rank #tab-title-3 .tabs-focus, .rank #tab-title-4 .tabs-focus, .rank #tab-title-5 .tabs-focus{ background:url("http://upload.cankaoxiaoxi.com/2014/0606/1402023461506.png") no-repeat center bottom;}
.rank #tab-title-2, .rank #tab-title-3, .rank #tab-title-4, .rank #tab-title-5 {
    height: 30px;
    overflow: visible;
}
.rank #tab-title-2 li, .rank #tab-title-3 li, .rank #tab-title-4 li, .rank #tab-title-5 li {
    float: left;
    overflow: visible;
}
.rank #tab-title-2 li a, .rank #tab-title-3 li a, .rank #tab-title-4 li a, .rank #tab-title-5 li a {
    color: #666666;
    display: block;
    font-family: Microsoft YaHei,SimHei,arial;
    font-size: 14px;
    height: 35px;
    line-height: 30px;
    padding: 0 15px;
    text-decoration: none;
}

.rank-list-a li{ background:none; line-height: 29px;}
.pic24hour{border:none; background:none; width:660px;}
a.pic24hour-more{ background:url(http://upload.cankaoxiaoxi.com/2014/0606/1402024634564.jpg) 0 10px no-repeat; width:150px; margin-left:5px; float:none; height:45px;}
.pic24hour .per20 li{ position:relative; width:200px; height:150px; color:#fff; margin-right:18px;}
.pic24_desc{ position:absolute; left:5px; bottom:0;}
.pic24_desc a, .pic24_desc .date{color:#fff;}
.pic24_desc a{font-size:17px;}
.pic24_desc .date{line-height:24px;}
.pic24hour .imgmask{left:0; width:200px;}
.w-630{width:630px;}
.pic24hour .per20{margin-right:-13px;}
.main-right{border:none;}
.border-title2{ background:url(http://upload.cankaoxiaoxi.com/2014/0929/1411958091457.jpg) 0 9px repeat-x; width:100%; height:25px; font-family: Microsoft YaHei,SimHei;}
.huanqiunews a{ background:url(img/icon2.png) 112px 5px no-repeat #fff;padding-right:17px; height:30px; font-size:18px;color:#252525;}
.hwkzg a{display:block; background: url(img/icon2.png) 92px -103px no-repeat #fff; width: 117px; height: 30px;}
.quanqiu a{display:block; background:url(img/icon2.png) 0 -144px no-repeat #fff; width:162px; height:30px;}
.ihl a, .hotnews a{ display:block; background: #fff; width:112px; height:30px;}
.hotnews a{width:80px;}
.lh-28{line-height:28px;}
.chan {
    background: none repeat scroll 0 0 #DCDCDC;
    display: block;
    height: 88px;
    padding: 7px 3px 0;
    text-align: center;
    width: 72px;
}
.chan span {
    color: #000000;
    display: block;
    font-weight: bold;
    line-height: 24px;
}
.child div{width:150px; margin-left:7px;}
.class_left{width:280px; padding:0; border:none;}
.class_left li{line-height:26px;}
.class_right{padding-left:10px;}
.yaowen li{ padding-left:0;}
.yaowen li a{color: #040000;}
.class_right .yaowen li{ line-height:30px;}
.relative{position:relative;}
.class_left .imgmask{left:0; width:280px;}
.img_desc{line-height:36px; }
.img_desc a{color:#252525;}
.hqdc span{display:block; background:url(http://upload.cankaoxiaoxi.com/2014/0606/1402043865426.jpg) 0 0 no-repeat #fff; width:140px; height:30px;}
.hqdc, .rui, .tuwen, .rwcq{ background-position:0 12px;}
.quanqiu a{display:block; background:url(img/icon2.png) 0 0 no-repeat #fff; width:158px; height:30px;}
.quanqiu a{display:block; background:url(img/icon2.png) 110px -143px no-repeat #fff; width:135px; height:30px;}
.rui a{display:block; background:url(http://upload.cankaoxiaoxi.com/2014/0929/1411977247725.jpg) 0 0 no-repeat #fff; width:87px; height:30px;}
.hqdc{display:block; width:95px; height:30px;}
.tuwen a{display:block; background:url(img/icon2.png) 36px -60px no-repeat #fff; width:55px; height:30px;}
/*.rui a{background:#fff; width: 60px;}*/
.rwcq a{display:block; background:url(http://upload.cankaoxiaoxi.com/2014/0606/1402045818780.jpg) 5px 0 no-repeat #fff; width:138px; height:30px;}
.tuwen{}
.col-r .imgmask{left:0; width:300px;}
#slide2, #slide2 li{width:300px; height:165px;}
#slide2 ol{top:125px; left:120px;}
#slide2 ol li{ background:url(http://upload.cankaoxiaoxi.com/2014/0606/1402047591232.png) 0 0 no-repeat; width:10px; height:10px; margin-left:7px;}
#slide2 ol li.on{background:url(http://upload.cankaoxiaoxi.com/2014/0606/1402047659274.png) 0 0 no-repeat;}
#slide2 ul li{ position:relative;} 
#slide2 p{ position:absolute; left:5px; bottom:0; font-size:16px; line-height:28px;}
#slide2 p a{color:#fff; font-family:Microsoft YaHei,SimHei; font-weight：normal;}
#slide2 .blk_jdt_btn a{top:65px;}
.hlhw a{display:block; background:url(http://upload.cankaoxiaoxi.com/2014/0606/1402048403935.jpg) 5px 0 no-repeat #fff; width:127px; height:30px;}
.tt_bg a{color: #900;}
.ssmt{background: none; border-top: 1px solid #aaa;}
.ssmt li{margin:20px 0 0 27px; width: 200px; position: relative;} 
.ssmt li img{border:none; }
.footer{border-top: 1px solid #aaa;}
.cor666 a{color: #666;}
.ssmt .imgmask{width: 200px; left: 0;}
.ssmt p{ position: absolute; line-height: 34px; font-size: 14px; left: 0; bottom: 0;}
.ssmt p a{ color: #fff;}
.rank-list-a em{width: 16px;margin-top:5px;}
#tab-cont-1 .rank-list-a em{width: 16px;margin-top:4px;}
.class_main .title_border{margin-bottom:3px;}
.cor757575{color:#757575;}

.blk_jdt_prebtn, .blk_jdt_nextbtn{display:block;}
.search{width:60px;height:30px;left: 243px;}
.headNav{width:800px;}
.headNav ul {float: left;width: 159px;overflow: hidden;padding: 0 0 0 35px;}
.headNav li {width: 148px;}
.headNav ul.end{width: 175px;}
.headNav ul.end li{width:175px;}
.hot div a{color: #757575;}
.hot div a, .sens{font-family: "\5B8B\4F53", sans-serif;}
.hot h1{font-family:Microsoft YaHei,'微软雅黑',SimHei;}
.imglist{margin-right: -14px;}
.imglist li{float: left; margin-right: 14px;}
.imglist p{margin-bottom: 5px;}
.w-220{width: 220px;}
.mttt a{display: block; background:url(img/icon2.png) 110px -27px no-repeat #fff; width:136px; height:30px;text-decoration: none;}
.img-summary-b p{width: 150px;}
.slide_dot{width: 62px; background: #fff;}
.slide_dot span{display: block; float: left; width: 10px; height: 10px; margin-left: 7px; background: url(http://upload.cankaoxiaoxi.com/2014/0729/1406619693672.png) 0 0 no-repeat;margin-top: 6px;}
.slide_dot span.on{background: url(http://upload.cankaoxiaoxi.com/2014/0729/1406619863987.png) 0 0 no-repeat;}
#slide_tuwen, #slide_tuwen .slide_elem{height: 230px; overflow: hidden;}
#slide_shuangyu, #slide_shuangyu .slide_elem{height: 110px; overflow: hidden; width: 260px;}
.shuangyu a{background: url(img/icon2.png) 72px -192px no-repeat #fff; display: block; width: 97px; height: 30px;}
.shuangyu .slide_dot span{margin-top: 5px;}
.tt_bg2{font-size: 28px; line-height: 30px; font-family:Microsoft YaHei,SimHei; background: url(http://upload.cankaoxiaoxi.com/2014/0729/1406623764721.jpg) 0 14px repeat-x; margin-bottom: 15px;}
.tt_bg2 a{color: #900; display: block; width: 70px; background: #fff; padding-left: 5px;}
.w-155{width: 155px;}
.tt_bg3 a{display: inline;background: #c33 url(http://upload.cankaoxiaoxi.com/2014/0605/1401958684652.jpg) right 3px no-repeat;font-size: 14px;color: #fff;line-height: 16px;padding: 0 7px 0 6px; height:16px;}
.tt_bg4{background: url(http://upload.cankaoxiaoxi.com/2014/0729/1406625796481.jpg) 0 0 no-repeat; padding-top: 10px;}
.tt_bg4 .slide_dot span{margin-top: 0;}
.img_desc2{position: absolute;left: 10px;bottom: 0;line-height: 34px;font-size: 14px;}
.img_desc2 a{color: #fff;}
#tab-cont-1 li{line-height: 28px;}
.w-620{width: 620px;}
.border_t_gray{border-top: 2px solid #e5e5e5;}
#slide_tuwen_wrap, #slide_shuangyu_wrap, #slide_read_wrap, #slide_renwu_wrap, #slide_movie_wrap, #slide_shangpin_wrap, #slide_quanqiu_wrap,#slide_rui_wrap, #slide_office_wrap , #slide_war_wrap, #slide_milweek_wrap, #slide_lbsm_wrap, #slide_hotmil_wrap{width: 260px; height: 240px; position: relative; overflow: hidden;}
#slide_tuwen, #slide_shuangyu, #slide_read, #slide_renwu, #slide_movie, #slide_shangpin, #slide_quanqiu, #slide_rui, #slide_office, #slide_war, #slide_milweek, #slide_lbsm, #slide_hotmil{position: absolute; left: 0; top: 0;}
#slide_tuwen li, #slide_shuangyu li, #slide_read li, #slide_renwu li, #slide_movie li, #slide_shangpin li, #slide_quanqiu li, #slide_rui li, #slide_war li, #slide_office li,#slide_milweek li, #slide_lbsm li, #slide_hotmil li{float: left; width: 260px;}
#slide_shuangyu_wrap{height: 80px;}
#slide_read_wrap{height: 135px;}
#slide_renwu_wrap, #slide_movie_wrap, #slide_shangpin_wrap{height: 155px;}
#slide_renwu_wrap li, #slide_movie_wrap li, #slide_shangpin_wrap li{position: relative;}
.scroll-verticale{position: relative; height: 230px;}
.scroll-verticale ul{position: absolute; left: 0; top: 0;}
.advbox{border: 1px solid #b6b3b2; padding: 10px 0 10px 46px; width: 270px; background: url(http://upload.cankaoxiaoxi.com/2014/0806/1407314298233.png) 2px 2px no-repeat; height: 43px;}
.advbox a{line-height: 22px; font-size: 11px; color: #666;}
.dot_list li{background:url(img/icon2.png) 3px -240px no-repeat; padding-left:12px;}
.fz-13{font-size:13px;}
.mar-l-17{margin-left:17px;}
.hr-h25{line-height:25px;}
.ma a{display:block; background:#fff;width:75px; text-decoration: none;}
.tt_bg5 a,.tt_bg5{font-size:14px; color:#900; line-height:20px; margin-top:12px;}
.hqdc{background:url(img/icon2.png) 0 -298px no-repeat;}
.hr-h25{height:25px;}
.people{padding-top:10px;}
.people div{width:185px;}
.white{position:relative; display:block; float:left; }
.white span{position:absolute; width:70px; height:70px; display:block; background:url(img/white_mask.png) 0 0 no-repeat; left:0; top:0px;}
.bor-t-dashed{border-top:1px dashed #e5e5e5;}
.tt_bg3 a.nolink{text-decoration: none;}
