body{font-family: "宋体","Arial Narrow",HELVETICA;}

.HT{font-family:"黑体", Microsoft YaHei,SimHei;}
.pad-b-15{padding-bottom:15px;}

#slide2 ol li, .mobile, .favorite, .column_title2, .column_title, .yaowen li, #slide2 ol li{background:url(images/ico0728.png) 0 0 no-repeat;}
/*首页改版添加样式*/
.tt-news{background:url("http://img.cankaoxiaoxi.com/templates/cankaoxiaoxi/css/images/td-news.gif") no-repeat 0 0; position:absolute; left:285px; top:15px; width:20px; z-index:20;}
.w-358{width:372px;}
.w-670 .hot{padding-left:11px; padding-right:0; height:226px;}
/*标题栏*/
.title{background:url(http://upload.cankaoxiaoxi.com/2012/0918/1347956221531.jpg) repeat-x; }
.tt_bg{color:#c01723; padding-left:2px; font-size:18px; height:36px; line-height:36px; font-family:Microsoft YaHei,SimHei;}
.tt_bg a{color:#c01723;}
.main_spec .tt_bg{padding-left:0;}

/*专题模块样式*/
.bd_main{padding:9px 9px 0;}
.bd_main h2{line-height:26px; }
.bd_main ul{margin-top:6px;}
.bd_main li{line-height:22px;}
.bd_main li a{margin-right:7px;}
.img-summary-b p{width:170px;}
.img-summary-b img{padding:6px 5px 0 0; float:left}

/*观点专栏*/
.main_left{background:#ebebeb; width:264px; height:100%; border-top: 2px solid #333; padding: 0 8px 5px 8px;}
.main_left h3{background:url(http://upload.cankaoxiaoxi.com/2012/0918/1347960544477.jpg) no-repeat 0 bottom; padding-left:12px; color:#B40000;}
.main_left h3 a{color:#B40000;}
.main_left li{line-height:22px;}
.main_right{width:384px;}
.main_right_wrap{padding:0 12px;}
.img-summary-a p{width:180px;}
.per33 .img-summary-a p{width:200px;}

.spec_title h2{ border-top: 2px solid #d7d7d7; font-size: 18px; padding:0 0 3px 3px;}
.spec_title a{color: #c01723;}

/*外媒精要*/
.img-summary-c div{width:180px;} 
.img-summary-c img{padding-right:5px;}
.img-summary-c h2{line-height:30px;}

/*分类新闻*/
.class_main{padding-bottom:16px;}
.class_left{margin:5px 0 0; padding: 0 8px 0 5px; border-right:1px dashed #999; width:269px;}
.class_bg{text-indent:10px;}
.title2{background: url(images/channel_bg.png) 0 0 repeat-x;}
.class_left li{line-height:22px;}
.class_right{width:354px; padding:0 15px 0;}
.tab-bd-left-gray a{height:28px;}
div.tabTitle1{height:28px;}
div.tabTitle1 .tabs-focus{background:url(http://img.cankaoxiaoxi.com/templates/cankaoxiaoxi/css/images/rank_cur.jpg) 0 4px no-repeat; border:none;}
.h-80{height:80px;}

/*时事漫谈*/
.ssmt{background:url(images/ssmt.png) no-repeat;}

.cor-000{color:#000;}
.mar-b-4{margin-bottom:4px;}
.mar-b-7{margin-bottom: 7px;}
.mar-b-18{margin-bottom:18px;}
.mar-l-15{margin-left: 15px;}
.mar-t-8{margin-top:8px;}
.pad-t-5{padding-top:5px;}
.lh-32{line-height:32px;}
.lh-26{line-height:26px;}
.w-278{width:278px;}
.w-668{width:668px; overflow:hidden;}
.h-200{height:200px;}
.h-230{height:230px}
.h-250{height:250px;}
.h-236{height:236px;}
.h-622{height:622px;}
.h-673{height:673px; overflow:hidden;}
.h-940{height:940px;}
.h-1085{height:1085px;}
.cor333{color:#333;}

/*幻灯片*/
#slide, #slide2{width:280px; overflow:hidden; position:relative; height:250px; background: #ededed;}
#slide2{height: 235px; width: 270px;}
#slide ul, #slide2 ul{position:absolute; width:840px; height:246px;}
#slide2 ul{width: 810px;}
#slide li, #slide2 li{float:left;position:relative; height:246px;}
.mask{height:25px; background:#000; opacity:0.5; filter:alpha(opacity=50); position:absolute; top:185px; width:280px;left:0;}
#slide p, #slide2 p{  line-height:50px; text-indent:5px; font-size:14px; }
#slide2 p{line-height: 36px;}
#slide p a{color:#000; font-weight:bold;}
#slide2 p a{color:#333;font-family: "宋体"; font-weight: bold;}
#slide ol{position:absolute; top:217px; left:125px;}
#slide2 ol{position:absolute; top:190px; left:117px;}
#slide ol li{ background:url(http://upload.cankaoxiaoxi.com/2013/0424/1366770033597.png) 0 0 no-repeat; height:12px; width:12px; margin-left:3px;}
#slide2 ol li{height:12px; width:12px; margin-left:3px;}
#slide2 ol li{background-position: 0 -1802px;}
#slide ol li.on, #slide2 ol li.on{background:url(http://upload.cankaoxiaoxi.com/2013/0424/1366769707562.png) 0 -1px no-repeat;}

/*广告位测试添加*/
.w-960{width:960px;}
.w-650{width:650px;}
.w-648{width:648px;}
.w-345{width:345px;}
.w-300{width:300px;}
.h-228{height:228px;}
.h-573{height:573px; overflow:hidden;}
.w-580{width:580px;}
.hot{border:none; padding:0px 0 17px; border-bottom:2px solid #d7d7d7;}
.h-210{height:210px;}
.lh-34{line-height:34px;}
.lh-16{line-height: 16px;}
.lh-22{line-height: 22px;}
.pic24hour{border: 1px solid #b8b8b8; border-left: 2px solid #333; }
.pic24hour .img-summary-d li{height:200px;}
.pic24hour{background:url(images/pic24.png) 12px 0 no-repeat; height: 198px; width: 645px;}
.h-215{height:215px;}
.h-205{height:205px;}
.img-summary-d-info{margin-top:18px;}
.img-summary-d .shadow{left:18px; bottom:29px;}
.pic24hour .per20 li{width:184px; margin-right: 10px;}
.per20 li{width:24%;}
.img-summary-d li{height:197px;}
.ssmt li img{border:1px solid #d2d2d2;}

.kuohao{background:url(http://upload.cankaoxiaoxi.com/2013/0403/1364959149569.png) 30px 3px no-repeat; padding-right:15px;}
/*.new-hot-word{display:block; height:33px; line-height:18px; width:260px;}*/
.new-hot-word a{white-space:nowrap;}
.bg-txt-focus {
    background: url("http://upload.cankaoxiaoxi.com/2013/0326/1364262828880.png") no-repeat scroll 0 0 transparent;
    height: 27px;
    width: 225px;
    margin-top:3px;
}
.txt-focus {
    height: 15px;
    margin-left: 5px;
    margin-top: 2px;
    padding-left: 0;
    width: 165px;
}
.search {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 25px;
    left: 175px;
    position: absolute;
    top: 1px;
    width: 50px;
}
/*.nav_txt{border-width:1px 1px 0 1px; border-color:#F0D1C4; border-style:solid; width:753px;}*/
.adv{height:34px; width:290px; background:url(http://upload.cankaoxiaoxi.com/2013/0403/1364971774294.png) 0 3px no-repeat; padding-left:15px;}
.adv ul{background:url(http://upload.cankaoxiaoxi.com/2013/0403/1364971788594.png) right 0 no-repeat;}
.adv li{float:left; white-space:nowrap; line-height:18px; margin-right:10px;}
.history{background-position:0 -1336px;}
#history_index, #history_index_hover{padding:3px 0 3px 20px; margin-left:10px;}
.top-bar .history{color:#b40000;}

/*modified 2013-04-24*/
.hot h1{padding-top:0px; float:left;}
.hot h1 a{line-height:30px; }
.news_img{margin-right:-5px;}
.news_img li{float:left; margin:0 4px 5px 0; position:relative;}
.mask_imgs{background:#000; opacity:0.5; filter:alpha(opacity=50); position:absolute; bottom:0; left:0; height:20px; width:130px;}
.news_img li p{position:absolute; bottom:-1px; left:0; font-size:12px; color:#fff; padding-left:3px;}
.column_wrap ul{height:45px; overflow:hidden; margin-bottom:10px;}

.new-hot-word{width:290px;}
.h-65{height:65px !important;}
.pad_bottom{padding-bottom:5px;}
.ie7 .pad_bottom{padding-bottom:10px;}
.list0 li{float:left;white-space:nowrap;}
.list0 li a{border-left:1px solid #2B5C83;}
.no-border{border:none;}
.spec-pwid p{width:202px;}
.gjxq p{width:152px;}

/*要闻*/
.yaowen li{background-position: 0 -1565px; padding-left: 10px; line-height: 28px;}
.yaowen li:first-child{line-height: 30px;}
.yaowen li:first-child a{color: #2B5C83; }
.yaowen li a{color: #000;}

.main-right{border: 1px solid #ccc; border-top: 2px solid #333; }
.column_title{background-position: 0 -1623px; padding-left: 10px;}
.column_title2{background-position:0 -1682px; padding-left: 10px;}
.pad-lr-10{padding: 0 10px;}

/*排行榜*/
.rank-list-a{margin: 5px 0;}
.rank{width:280px;}
.rank #tab-title-1 {
    border-bottom: 1px solid #EEEEEE;
    height: 30px;
    overflow: visible;
}
.rank #tab-title-1 li {
    float: left;
    overflow: visible;
}
.rank #tab-title-1 li a {
    color: #666666;
    display: block;
    font-family: Microsoft YaHei,SimHei,arial;
    font-size: 14px;
    height: 35px;
    line-height: 30px;
    padding: 0 15px;
    text-decoration: none;
}
.rank #tab-title-1 .tabs-focus {
    background: url("http://upload.cankaoxiaoxi.com/2013/0407/1365323508225.png") no-repeat scroll center bottom transparent;
}
.rank-list-a .bgred {
    background: url("http://upload.cankaoxiaoxi.com/2013/0407/1365324486734.png") no-repeat scroll 0 2px transparent;
}
.rank-list-a em {
    background: url("http://upload.cankaoxiaoxi.com/2013/0407/1365324811300.png") no-repeat scroll 0 2px transparent;
    color: #FFFFFF;
    height: 20px;
    line-height: 20px;
    margin-top: 7px;
    width: 19px;
}
.gray_title{border-top: 2px solid #333; height: 36px;}
.gray_title h2{line-height: 28px;}
.gray_title_bg{background: #ebebeb; height: 30px;}
.rank-list-a li{background-position:0 32px; line-height: 34px;}
.rank-list-a li.no-back{background: none;}

a.pic24hour-more{width: 50px;}
.img-summary-d p{margin-top: 0; width:170px;}
.img-summary-d .date{color: #666; margin: 5px 0 0 0; padding-left: 0;}
.img-summary-d a{color: #000;}

.class_left .column_title{background-position: 0 -1623px;}
.class_left .column_title a{color: #000;background: url("images/ico0728.png") no-repeat right -1832px; display: inline-block; padding-right:  128px;}
.class_right .yaowen li{line-height: 26px;}

.mobile{ background-position: 0 -1425px; padding: 3px 0 3px 15px;}
.favorite{background-position:0 -1458px;}

.headNav{width:780px;}
.headNav ul{padding: 0 22px; background: url(images/nav_2.png) right center no-repeat; float: left;}
.headNav ul.end{background: none; padding-right: 0;}
.headNav li{font-size: 12px; overflow:hidden;zoom:1; }
.headNav li a{color:#333; line-height: 20px; padding: 0 9px; display: block; float: left;}
