html {min-width:970px;}
body {
	margin:0px;
	background-color: #CCCCCC;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	color:#000;
	font-size:14px;
	min-width:970px;
}
img {border-style:none;}
a { color:#900;}
a:hover {color:#900;}
a:active {color:#900;}
a:visited {color:#900;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#w1 {
	width:100%;
	position:relative;
	overflow:hidden;
}
#wrapper {
	width:1000px;
	margin:0 auto;
}
#header1 {
	width:1000px;
	margin:0 -9999px 20px;
	padding:0 9999px;
	background:#fff;
	box-shadow: 0 6px 10px #aaa;
	-webkit-box-shadow: 0 6px 10px #aaa;
	-moz-box-shadow: 0 6px 10px #aaa;
	border-bottom:1px solid #e5e5e5;
}
.topbar {
	width:1000px;
	overflow:hidden;
	background:#5d1a0f url(/images/bg-topbar.gif) repeat-x;
	height:25px;
	margin:0 -9999px;
	padding:3px 9999px 6px;
}
.search-form {
	float:right;
	width:300px;
	overflow:hidden;
	color:#fff;
}
.search-form .holder {
	float:right;
	width:243px;
}
.search-form input[type="submit"] {
	float:left;
	overflow:hidden;
	width:25px;
	height:25px;
	background:url(/images/btn-search.gif) no-repeat;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	margin:0;
	padding:0;
	border:0;
}
.search-form input[type="submit"]:hover {cursor:pointer;}
.search-form .form-text {
	float:left;
	width:217px;
	height:25px;
	background:url(/images/bg-search-input.gif) no-repeat;
}
.search-form input[type="text"] {
	float:left;
	margin:0;
	padding:4px 9px;
	width:199px;
	border:0;
	background:none;
	font:13px/16px Arial, Helvetica, sans-serif;
	color:#707070;
}
.search-form label {
	float:left;
	margin:5px 0 0;
	font-size:13px;
}
.header-holder {
	width:1027px;
	margin:0 -9999px;
	padding:0 9970px;
	border-bottom:1px solid #8e8e8e;

}
.header-holder .wrap {
	min-height:99px;
	padding:17px 0;
	background:url(/images/bg-header.jpg) no-repeat;
	overflow:hidden;
        
}
.logo-holder {
	width:540px;
	margin:0 0 0 auto;
}
.logo {
	display:block;
	width:540px;
	height:106px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(/images/logo.png) no-repeat;
	margin:0;
}
.logo a {
	display:block;
	height:100%;
}
.slogan {
	display:block;
	text-align:center;
	color:#787878;
	font:17px/20px Arial, Helvetica, sans-serif;
}

/* dosug */

#dosug {
	width:920px;
	height:156px;
	margin:auto;
	padding-top:15px;
}

/* head */

#content {
	padding-top:15px;
	width:1024px;
	margin:auto;
}

#header {
	border:dotted #000 0px;
	padding:5px;
	width:1010px;
	margin:auto;
	background-color:#999;
}

.header {
    border:dotted #000 0px;
    padding:5px;
    margin:auto;
    background-color:#999;
    margin-bottom: 3px;
}

#date {
	font-size:18px;
	float:left;
}

#date small {
	color:#900;
}

#best {
	padding-top:3px;
	float:right;
}

/* thumbs */

.thumbs {
}

.thumbs td {
	text-align:center;	
	border:dotted #000 1px;
	vertical-align:top;
	width:240px;
}

.thumbs td a, .thumbs td a:hover, .thumbs td a:active, .thumbs td a:visited {
	text-decoration:none;
}
	
#category {
	float:left;
	font-size:12px;
}

#category a, #category a:hover, #category a:active, #category a:visited {
	font-size:12px;
	color:#000;
}

#time {
	float:right;
	font-size:12px;
}

/* pagination */

#pa {
	width:1006px;
	margin:auto;
	text-align:center;
	padding:5px;
	border:dotted #000 0px;
}

.pagination {
    padding: 3px;
    margin: 3px;
  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid black; 
    text-decoration: none;
    color: black;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #900;
    color: #900;
  }
  .pagination em {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    font-weight: bold;
    font-style: normal;
    background-color: #900;
    color: white;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    font-weight: bold;
    background-color: #900;
    color: white;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
  }
  
/* categories */

#categories {
	padding-top:25px;
	width:1024px;
	margin:auto;
}

#title {
	font-size:18px;
	padding:5px;
	width:1010px;
	margin:auto;
	border:dotted #000 0px;
	background-color:#999;
}

.categories {
	width:100%;
}

.categories td {
	font-size:14px;
	border:dotted #000 1px;
	width:25%;
	text-align:center;
}

.categories a, .categories a:hover, .categories a:active, .categories a:visited {
	font-size:18px;
}

/* footer */

#footer {
	margin-top:20px;
	padding-top:40px;
	height:102px;
	background:#FFF  url(/images/footer.png) repeat-x;
	text-align:center;
	font-size:12px;
}

/* related */

.related td {
	text-align:center;	
	border:dotted #000 1px;
	vertical-align:top;
	font-size:12px;
}

.related td a, .related td a:hover, .related td a:active, .related td a:visited {
	text-decoration:none;
	font-size:14px;
}

.related--view {
    margin-left: -3px;
    margin-right: -3px;
}

.related--view td {
    width: 25%;
}

.related--view td img{
    width: 96%;
    height: auto;
}

/* player */

.wrapfix {
    min-width: 1100px;
    max-width: 1300px;
    margin: auto;
}

#player_wrap {
    margin-bottom: 15px;
}

.wrapfix__padding {
    margin-left: 50px;
    margin-right: 50px;  
}

.embed__wrapper {
    width: 100%;
    float: left;
}

#embed {
    margin-right: 340px;
}

.tizer {
    float: left;
    width: 340px;
    margin-left: -340px;
}

#tizer_ver {
	width:300px;
	float:left;
	margin-left:28px;
	padding:5px;
	border:dotted #000 1px;
	background-color:#DDDDDD;
}

.tizer_ver2 {
	width:300px;
	float:left;
	margin-left:28px;
	margin-top:5px;
	padding:5px;
	border:dotted #000 1px;
	background-color:#DDDDDD;
}

#player_desc {
	background:#999;
	font-size:18px;
	padding:5px;
}

#player_code {
	padding:5px;
}

#player_banner {
	text-align:center;
	width:680px;
	height:100px;
	overflow:hidden;
}

#tizer_bottom {
	width:1024px;
	margin:auto;
	padding:5px;
	border:solid #000 0px;
	overflow:hidden;
	margin-top:15px;
}

.tizer_bottom {
    margin:auto;
    padding:5px;
    border:solid #000 0px;
    overflow:hidden;
    margin-top:15px;
}

#info {
	margin-bottom:10px;
}

.share42init {
	margin-top:10px;
}
/* alertbox */
.alertcover  {background:none repeat scroll 0 0 #ccc;bottom:0;color:#FFFFFF;height:100%;left:0;opacity:0.85;filter: alpha(opacity=85);position:fixed;right:0;top:0;width:100%;z-index:10000;}
.alertBoxBlock{ margin-top:107px; position:fixed; width:100%; z-index:11105; text-align: center;}
#disclaimer-content{ width:700px; height:445px; border:4px solid #000; background:url("/img/18_plus_icon.jpg") 50% 50px no-repeat #fff; margin:0 auto; text-align: center;}
#disclaimer-txt{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; margin-top:220px; padding:0px 30px;}
.button-sortir{}
.button-entrer{}
.buttons{ text-align:center; margin-top:50px;}
.buttons a{
        font-size:30px;
        color:#900;
        text-decoration:none;
        text-transform:uppercase;
}

.buttons a:active {
        font-size:30px;
        color:#900;
        text-decoration:none;
        text-transform:uppercase;
}

.buttons a:visited {
        font-size:30px;
        color:#900;
        text-decoration:none;
        text-transform:uppercase;
}

.buttons a:hover {
        font-size:30px;
        color:#900;
        text-decoration:none;
        text-transform:uppercase;
}
.button-entrer{ margin-right:50px;}
.bck_logo{ background:url() repeat 0px 0px;}
.backMenu{ background:url() repeat-x top left; height:34px;}
.backMenuContainer{ width:1000px; margin:0 auto;}

#huru {
   font-size:18px;
      float:center;
}

#huru a, #huru a:hover, #huru a:active, #huru a:visited {
   color:#900;
      text-decoration:underline;
         font-size:18px
}

