@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-width: 240px) and (max-width: 320px), only screen and (min-width: 320px) and (max-width: 480px), only screen and (min-width: 480px) and (max-width : 960px){
/* 
                                  25+75, 33+67, 50+50, 67+33, 75+25 
                                  Transformation in one column with two rows
                                  */
                                
                                body { min-width: 0 !important; }
                                .sfPublicWrapper { width: auto !important; }

                                .sf_colsOut.sf_2cols_1_33,
                                .sf_colsOut.sf_2cols_2_67,
                                .sf_colsOut.sf_2cols_1_67,
                                .sf_colsOut.sf_2cols_2_33,
                                .sf_colsOut.sf_2cols_1_50,
                                .sf_colsOut.sf_2cols_2_50,
                                .sf_colsOut.sf_2cols_1_25,
                                .sf_colsOut.sf_2cols_2_75,
                                .sf_colsOut.sf_2cols_1_75,
                                .sf_colsOut.sf_2cols_2_25 {
	                                width: 100% !important;
                                }

                                .sf_colsOut.sf_2cols_2_67 .sf_colsIn,
                                .sf_colsOut.sf_2cols_2_33 .sf_colsIn,
                                .sf_colsOut.sf_2cols_2_50 .sf_colsIn,
                                .sf_colsOut.sf_2cols_2_75 .sf_colsIn,
                                .sf_colsOut.sf_2cols_2_25 .sf_colsIn {
	                                margin-left: 0 !important;
	                                margin-right: 0 !important;
                                }


                                /*------------------- 3 columns layout, 1 hidden, 2 left --------------- */
                                .sf_phones_3cols_hide_3 .sf_colsOut.sf_3cols_1_33,
                                .sf_phones_3cols_hide_3 .sf_colsOut.sf_3cols_2_34,
                                .sf_phones_3cols_hide_1 .sf_colsOut.sf_3cols_2_34,
                                .sf_phones_3cols_hide_1 .sf_colsOut.sf_3cols_3_33,
                                .sf_phones_3cols_hide_2 .sf_colsOut.sf_3cols_1_33, 
                                .sf_phones_3cols_hide_2 .sf_colsOut.sf_3cols_3_33,
                                .sf_phones_3cols_hide_1 .sf_colsOut.sf_3cols_2_50, 
                                .sf_phones_3cols_hide_1 .sf_colsOut.sf_3cols_3_25,
                                .sf_phones_3cols_hide_2 .sf_colsOut.sf_3cols_1_25, 
                                .sf_phones_3cols_hide_2 .sf_colsOut.sf_3cols_3_25,
                                .sf_phones_3cols_hide_3 .sf_colsOut.sf_3cols_1_25,
                                .sf_phones_3cols_hide_3 .sf_colsOut.sf_3cols_2_50 {width: 100% !important;}
                                
                                .sf_phones_3cols_hide_1 .sf_colsOut.sf_3cols_3_33 .sf_3cols_3in_33,
                                .sf_phones_3cols_hide_3 .sf_colsOut.sf_3cols_2_34 .sf_3cols_2in_34,
                                .sf_phones_3cols_hide_2 .sf_colsOut.sf_3cols_3_33 .sf_3cols_3in_33,
                                .sf_phones_3cols_hide_1 .sf_colsOut.sf_3cols_3_25 .sf_3cols_3in_25,
                                .sf_phones_3cols_hide_2 .sf_colsOut.sf_3cols_3_25 .sf_3cols_3in_25,
                                .sf_phones_3cols_hide_3 .sf_colsOut.sf_3cols_2_50 .sf_3cols_2in_50 {margin-left: 0 !important;}


                                /*------------------- 4 columns layout, 2 hidden, 2 left --------------- */
                                .sf_phones_4cols_hide_1.sf_phones_4cols_hide_2 .sf_colsOut.sf_4cols_3_25,
                                .sf_phones_4cols_hide_1.sf_phones_4cols_hide_2 .sf_colsOut.sf_4cols_4_25,
                                .sf_phones_4cols_hide_1.sf_phones_4cols_hide_3 .sf_colsOut.sf_4cols_2_25,
                                .sf_phones_4cols_hide_1.sf_phones_4cols_hide_3 .sf_colsOut.sf_4cols_4_25,
                                .sf_phones_4cols_hide_1.sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_2_25,
                                .sf_phones_4cols_hide_1.sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_3_25,
                                .sf_phones_4cols_hide_2.sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_1_25,
                                .sf_phones_4cols_hide_2.sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_3_25,
                                .sf_phones_4cols_hide_3.sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_1_25,
                                .sf_phones_4cols_hide_3.sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_2_25,
                                .sf_phones_4cols_hide_2.sf_phones_4cols_hide_3 .sf_colsOut.sf_4cols_1_25,
                                .sf_phones_4cols_hide_2.sf_phones_4cols_hide_3 .sf_colsOut.sf_4cols_4_25 {width: 100% !important;}


                                /*------------------- 5 columns layout, 3 hidden, 2 left --------------- */
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_5_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_3_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_5_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_3_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_5_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_3_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_5_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_3_20 {width: 100% !important;}/* 
                                    33+34+33, 25+50+25
                                    Transformation in one column with three rows
                                   */
                    
                                body { min-width: 0 !important; }
                                .sfPublicWrapper { width: auto !important; }

                                .sf_colsOut.sf_3cols_1_33,
                                .sf_colsOut.sf_3cols_2_34,
                                .sf_colsOut.sf_3cols_3_33,
                                .sf_colsOut.sf_3cols_1_25,
                                .sf_colsOut.sf_3cols_2_50,
                                .sf_colsOut.sf_3cols_3_25 {width: 100%  !important}

                                .sf_colsOut.sf_3cols_2_34 .sf_colsIn,
                                .sf_colsOut.sf_3cols_3_33 .sf_colsIn,
                                .sf_colsOut.sf_3cols_2_50 .sf_colsIn,
                                .sf_colsOut.sf_3cols_3_25 .sf_colsIn
                                {
	                                margin-left: 0 !important;
	                                margin-right: 0 !important;
                                }


                                /*------------------- 4 columns layout, 1 hidden, 3 left --------------- */
                                .sf_phones_4cols_hide_1 .sf_4cols_2sf_colsOut._25, 
                                .sf_phones_4cols_hide_1 .sf_colsOut.sf_4cols_3_25, 
                                .sf_phones_4cols_hide_1 .sf_colsOut.sf_4cols_4_25,
                                .sf_phones_4cols_hide_2 .sf_colsOut.sf_4cols_1_25, 
                                .sf_phones_4cols_hide_2 .sf_colsOut.sf_4cols_3_25, 
                                .sf_phones_4cols_hide_2 .sf_colsOut.sf_4cols_4_25,
                                .sf_phones_4cols_hide_3 .sf_colsOut.sf_4cols_1_25, 
                                .sf_phones_4cols_hide_3 .sf_colsOut.sf_4cols_2_25, 
                                .sf_phones_4cols_hide_3 .sf_colsOut.sf_4cols_4_25,
                                .sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_1_25, 
                                .sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_2_25, 
                                .sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_3_25 {width: 100% !important;}

                                .sf_phones_4cols_hide_2 .sf_colsOut.sf_4cols_1_25 .sf_4cols_1in_25, 
                                .sf_phones_4cols_hide_2 .sf_colsOut.sf_4cols_3_25 .sf_4cols_3in_25, 
                                .sf_phones_4cols_hide_2 .sf_colsOut.sf_4cols_4_25 .sf_4cols_4in_25,
                                .sf_phones_4cols_hide_3 .sf_colsOut.sf_4cols_2_25 .sf_4cols_2in_25, 
                                .sf_phones_4cols_hide_3 .sf_colsOut.sf_4cols_4_25 .sf_4cols_4in_25,
                                .sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_2_25 .sf_4cols_2in_25, 
                                .sf_phones_4cols_hide_4 .sf_colsOut.sf_4cols_3_25 .sf_4cols_3in_25 {margin-left: 0 !important;}

                                /*------------------- 5 columns layout, 2 hidden, 3 left --------------- */
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_3_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_5_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_5_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_3_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_5_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_3_20,
                                .sf_phones_5cols_hide_1.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_3_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_3_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_4_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_5_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_3_20,
                                .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_5_20,
                                .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_1_20,
                                .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_2_20,
                                .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_5_20 {width: 100% !important;}/* 
                                    25+25+25+25
                                    Transformation in four rows, one column
                                    */

                                    body { min-width: 0 !important; }
                                    .sfPublicWrapper { width: auto !important; }

                                    .sf_colsOut.sf_4cols_1_25,
                                    .sf_colsOut.sf_4cols_2_25,
                                    .sf_colsOut.sf_4cols_3_25,
                                    .sf_colsOut.sf_4cols_4_25 {
	                                    width: 100% !important;
                                    }
                                    .sf_colsOut.sf_4cols_2_25 .sf_colsIn,
                                    .sf_colsOut.sf_4cols_3_25 .sf_colsIn,
                                    .sf_colsOut.sf_4cols_4_25 .sf_colsIn {
	                                    margin-left: 0 !important;
	                                    margin-right: 0 !important;
                                    }

                                    /*------------------- 5 columns layout, 1 hidden, 4 left --------------- */
                                    .sf_phones_5cols_hide_1 .sf_colsOut.sf_5cols_2_20, 
                                    .sf_phones_5cols_hide_1 .sf_colsOut.sf_5cols_3_20, 
                                    .sf_phones_5cols_hide_1 .sf_colsOut.sf_5cols_4_20,
                                    .sf_phones_5cols_hide_1 .sf_colsOut.sf_5cols_5_20,
                                    .sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_1_20, 
                                    .sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_3_20, 
                                    .sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_4_20,
                                    .sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_5_20,
                                    .sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_1_20, 
                                    .sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_2_20, 
                                    .sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_4_20,
                                    .sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_5_20,
                                    .sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_1_20, 
                                    .sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_2_20, 
                                    .sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_3_20,
                                    .sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_5_20,
                                    .sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_1_20, 
                                    .sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_2_20, 
                                    .sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_3_20,
                                    .sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_4_20 {width: 100% !important;}


                                    .sf_phones_5cols_hide_1 .sf_colsOut.sf_5cols_2_20 .sf_5cols_2in_20, 
                                    .sf_phones_5cols_hide_1 .sf_colsOut.sf_5cols_3_20 .sf_5cols_3in_20, 
                                    .sf_phones_5cols_hide_1 .sf_colsOut.sf_5cols_4_20 .sf_5cols_4in_20,
                                    .sf_phones_5cols_hide_1 .sf_colsOut.sf_5cols_5_20 .sf_5cols_5in_20,
                                    .sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_3_20 .sf_5cols_3in_20, 
                                    .sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_4_20 .sf_5cols_4in_20,
                                    .sf_phones_5cols_hide_2 .sf_colsOut.sf_5cols_5_20 .sf_5cols_5in_20,
                                    .sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_2_20 .sf_5cols_2in_20, 
                                    .sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_4_20 .sf_5cols_4in_20,
                                    .sf_phones_5cols_hide_3 .sf_colsOut.sf_5cols_5_20 .sf_5cols_5in_20,
                                    .sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_2_20 .sf_5cols_2in_20, 
                                    .sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_3_20 .sf_5cols_3in_20,
                                    .sf_phones_5cols_hide_4 .sf_colsOut.sf_5cols_5_20 .sf_5cols_5in_20,
                                    .sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_2_20 .sf_5cols_2in_20, 
                                    .sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_3_20 .sf_5cols_3in_20,
                                    .sf_phones_5cols_hide_5 .sf_colsOut.sf_5cols_4_20 .sf_5cols_4in_20 {margin: 0 !important;}/* 
                                    20+20+20+20+20
                                    Transformation in five rows, one column
                                    */

                                    body { min-width: 0 !important; }
                                    .sfPublicWrapper { width: auto !important; }

                                    .sf_colsOut.sf_5cols_1_20,
                                    .sf_colsOut.sf_5cols_2_20,
                                    .sf_colsOut.sf_5cols_3_20,
                                    .sf_colsOut.sf_5cols_4_20,
                                    .sf_colsOut.sf_5cols_5_20 {
	                                    width: 100% !important;
                                    }
                                    .sf_colsOut.sf_5cols_2_20 .sf_colsIn,
                                    .sf_colsOut.sf_5cols_3_20 .sf_colsIn,
                                    .sf_colsOut.sf_5cols_4_20 .sf_colsIn,
                                    .sf_colsOut.sf_5cols_5_20 .sf_colsIn {
	                                    margin-left: 0 !important;
	                                    margin-right: 0 !important;
                                    }/*------------------------------------------------
                                               1 of 1 is hidden (default transformations)
                                            ------------------------------------------------*/
                                            .sf_phones_1cols_hide_1 .sf_1col_1_100 {display: none}

                                            /*------------------------------------------------
                                               1 of 2 is hidden (default transformations)
                                            ------------------------------------------------*/
                                            .sf_phones_2cols_hide_1 .sf_2cols_1_25,
                                            .sf_phones_2cols_hide_1 .sf_2cols_1_33,
                                            .sf_phones_2cols_hide_1 .sf_2cols_1_50,
                                            .sf_phones_2cols_hide_1 .sf_2cols_1_67,
                                            .sf_phones_2cols_hide_1 .sf_2cols_1_75,
                                            .sf_phones_2cols_hide_2 .sf_2cols_2_25,
                                            .sf_phones_2cols_hide_2 .sf_2cols_2_33,
                                            .sf_phones_2cols_hide_2 .sf_2cols_2_50,
                                            .sf_phones_2cols_hide_2 .sf_2cols_2_67,
                                            .sf_phones_2cols_hide_2 .sf_2cols_2_75 {display: none}

                                            .sf_phones_2cols_hide_1 .sf_2cols_2_25,
                                            .sf_phones_2cols_hide_2 .sf_2cols_1_25,
                                            .sf_phones_2cols_hide_1 .sf_2cols_2_33,
                                            .sf_phones_2cols_hide_2 .sf_2cols_1_33,
                                            .sf_phones_2cols_hide_1 .sf_2cols_2_50,
                                            .sf_phones_2cols_hide_2 .sf_2cols_1_50,
                                            .sf_phones_2cols_hide_1 .sf_2cols_2_67,
                                            .sf_phones_2cols_hide_2 .sf_2cols_1_67,
                                            .sf_phones_2cols_hide_1 .sf_2cols_2_75,
                                            .sf_phones_2cols_hide_2 .sf_2cols_1_75 {width: 100% !important}
                                            
                                            .sf_phones_2cols_hide_1 .sf_2cols_2_25 .sf_2cols_2in_25,
                                            .sf_phones_2cols_hide_1 .sf_2cols_2_33 .sf_2cols_2in_33,
                                            .sf_phones_2cols_hide_1 .sf_2cols_2_50 .sf_2cols_2in_50,
                                            .sf_phones_2cols_hide_1 .sf_2cols_2_67 .sf_2cols_2in_67,
                                            .sf_phones_2cols_hide_1 .sf_2cols_2_75 .sf_2cols_2in_75 {margin-left: 0}



                                            /*------------------------------------------------
		                                       1 of 3 is hidden (default transformations)
                                            --------------------------------------------------*/
                                            .sf_phones_3cols_hide_1 .sf_3cols_1_33,
                                            .sf_phones_3cols_hide_2 .sf_3cols_2_34,
                                            .sf_phones_3cols_hide_3 .sf_3cols_3_33,
                                            .sf_phones_3cols_hide_1 .sf_3cols_1_25,
                                            .sf_phones_3cols_hide_2 .sf_3cols_2_50,
                                            .sf_phones_3cols_hide_3 .sf_3cols_3_25 {display: none}

                                            .sf_phones_3cols_hide_3 .sf_3cols_1_33,
                                            .sf_phones_3cols_hide_3 .sf_3cols_2_34, 
                                            .sf_phones_3cols_hide_2 .sf_3cols_1_33,
                                            .sf_phones_3cols_hide_2 .sf_3cols_3_33,
                                            .sf_phones_3cols_hide_1 .sf_3cols_2_34,
                                            .sf_phones_3cols_hide_1 .sf_3cols_3_33,
                                            .sf_phones_3cols_hide_2 .sf_3cols_1_25, 
                                            .sf_phones_3cols_hide_2 .sf_3cols_3_25 {width: 50%}

                                            .sf_phones_3cols_hide_1 .sf_3cols_2_50,
                                            .sf_phones_3cols_hide_3 .sf_3cols_2_50 {width: 67%} 

                                            .sf_phones_3cols_hide_1 .sf_3cols_3_25,
                                            .sf_phones_3cols_hide_3 .sf_3cols_1_25 {width: 33%}

                                            .sf_phones_3cols_hide_1 .sf_3cols_2_50 .sf_3cols_2in_50,
                                            .sf_phones_3cols_hide_1 .sf_3cols_2_34 .sf_3cols_2in_34 {margin-left: 0}


                                            /*------------------------------------------------
                                                2 of 3 are hidden (default transformations)
                                            ------------------------------------------------*/
                                            .sf_phones_3cols_hide_1.sf_phones_3cols_hide_2 .sf_3cols_3_33,
                                            .sf_phones_3cols_hide_1.sf_phones_3cols_hide_3 .sf_3cols_2_34,
                                            .sf_phones_3cols_hide_2.sf_phones_3cols_hide_3 .sf_3cols_1_33,
                                            .sf_phones_3cols_hide_1.sf_phones_3cols_hide_2 .sf_3cols_3_25,
                                            .sf_phones_3cols_hide_1.sf_phones_3cols_hide_3 .sf_3cols_2_50,
                                            .sf_phones_3cols_hide_2.sf_phones_3cols_hide_3 .sf_3cols_1_25 {width: 100% !important;}


                                             /*------------------------------------------------
                                                1 of 4 is hidden (default transformations)
                                            ------------------------------------------------*/
                                            .sf_phones_4cols_hide_1 .sf_4cols_1_25,
                                            .sf_phones_4cols_hide_2 .sf_4cols_2_25,
                                            .sf_phones_4cols_hide_3 .sf_4cols_3_25,
                                            .sf_phones_4cols_hide_4 .sf_4cols_4_25 {display: none}


                                            .sf_phones_4cols_hide_1 .sf_4cols_2_25, 
                                            .sf_phones_4cols_hide_1 .sf_4cols_4_25,
                                            .sf_phones_4cols_hide_3 .sf_4cols_1_25, 
                                            .sf_phones_4cols_hide_3 .sf_4cols_4_25,
                                            .sf_phones_4cols_hide_2 .sf_4cols_1_25, 
                                            .sf_phones_4cols_hide_2 .sf_4cols_4_25 {width: 33%} 

                                            .sf_phones_4cols_hide_1 .sf_4cols_3_25,
                                            .sf_phones_4cols_hide_2 .sf_4cols_3_25,
                                            .sf_phones_4cols_hide_3 .sf_4cols_2_25 {width: 34%}

                                            .sf_phones_4cols_hide_1 .sf_4cols_2_25 .sf_4cols_2in_25,
                                            .sf_phones_4cols_hide_1 .sf_4cols_2_25 .sf_4cols_2in_25, 
                                            .sf_phones_4cols_hide_1 .sf_4cols_3_25 .sf_4cols_3in_25, 
                                            .sf_phones_4cols_hide_1 .sf_4cols_4_25 .sf_4cols_4in_25 {margin-left: 0;}


                                            /*------------------------------------------------
                                                2 of 4 are hidden (default transformations)
                                            ------------------------------------------------*/


                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_3 .sf_4cols_1_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_3 .sf_4cols_3_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_2 .sf_4cols_1_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_2 .sf_4cols_2_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_4 .sf_4cols_1_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_4 .sf_4cols_4_25,
                                            .sf_phones_4cols_hide_2.sf_phones_4cols_hide_4 .sf_4cols_2_25,
                                            .sf_phones_4cols_hide_2.sf_phones_4cols_hide_4 .sf_4cols_4_25,
                                            .sf_phones_4cols_hide_3.sf_phones_4cols_hide_4 .sf_4cols_3_25,
                                            .sf_phones_4cols_hide_3.sf_phones_4cols_hide_4 .sf_4cols_4_25,
                                            .sf_phones_4cols_hide_2.sf_phones_4cols_hide_3 .sf_4cols_2_25,
                                            .sf_phones_4cols_hide_2.sf_phones_4cols_hide_3 .sf_4cols_3_25 {display: none}


                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_3 .sf_4cols_2_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_3 .sf_4cols_4_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_2 .sf_4cols_3_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_2 .sf_4cols_4_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_4 .sf_4cols_2_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_4 .sf_4cols_3_25,
                                            .sf_phones_4cols_hide_2.sf_phones_4cols_hide_4 .sf_4cols_1_25,
                                            .sf_phones_4cols_hide_2.sf_phones_4cols_hide_4 .sf_4cols_3_25,
                                            .sf_phones_4cols_hide_3.sf_phones_4cols_hide_4 .sf_4cols_1_25,
                                            .sf_phones_4cols_hide_3.sf_phones_4cols_hide_4 .sf_4cols_2_25,
                                            .sf_phones_4cols_hide_2.sf_phones_4cols_hide_3 .sf_4cols_1_25,
                                            .sf_phones_4cols_hide_2.sf_phones_4cols_hide_3 .sf_4cols_4_25 {width: 50% !important;}
                                         

                                            /*------------------------------------------------
                                                3 of 4 are hidden (default transformations)
                                            ------------------------------------------------*/
                                            .sf_phones_4cols_hide_2.sf_phones_4cols_hide_3.sf_phones_4cols_hide_4 .sf_4cols_1_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_3.sf_phones_4cols_hide_4 .sf_4cols_2_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_2.sf_phones_4cols_hide_4 .sf_4cols_3_25,
                                            .sf_phones_4cols_hide_1.sf_phones_4cols_hide_2.sf_phones_4cols_hide_3 .sf_4cols_4_25 {width: 100%}


                                            /*------------------------------------------------
                                                1 of 5 is hidden (default transformations)
                                            ------------------------------------------------*/
                                            .sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_4 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_2 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_3 .sf_5cols_3_20 {display: none}

                                            .sf_phones_5cols_hide_1 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_1 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_2 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_2 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_2 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_2 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_3 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_3 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_3 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_3 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_4 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_4 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_4 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_4 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_5 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_5 .sf_5cols_4_20 {width: 25%}


                                            /*------------------------------------------------
                                                2 of 5 are hidden (default transformations)
                                            ------------------------------------------------*/
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_5 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_4_20 {display: none}

                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3 .sf_5cols_2_20, 
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4 .sf_5cols_2_20, 
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2 .sf_5cols_3_20, 
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_5 .sf_5cols_2_20, 
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_1_20, 
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_5_20 {width: 33%}

                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_2_20 {width: 34%}


                                            /*------------------------------------------------
                                                3 of 5 are hidden (default transformations)
                                            ------------------------------------------------*/

                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_5_20 {display: none}

                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_3 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_4 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_3.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_5_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_3_20 {width: 50%}


                                            /*------------------------------------------------
                                                4 of 5 are hidden (default transformations)
                                            ------------------------------------------------*/
                                            .sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_1_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_2_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_4.sf_phones_5cols_hide_5 .sf_5cols_3_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_5 .sf_5cols_4_20,
                                            .sf_phones_5cols_hide_1.sf_phones_5cols_hide_2.sf_phones_5cols_hide_3.sf_phones_5cols_hide_4 .sf_5cols_5_20 { width: 100%}
}
