body *{
    font-family: 'proxima-nova','Segoe UI','Helvetica' sans-serif;
}
body.isPageOpened{
    overflow-y: hidden;
}
.isw-header-wrapper{
        height: 60px;
        background: rgba(255, 255, 255, 0.94);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000;
}
.no-margin{
    margin: 0;

}
.logo {
display: block;
}
.logo img{
    margin-top: 6px;
    padding-left: 1em;
}
.navbar-default .navbar-nav>li>a{
        padding-top: 0;
    padding-bottom: 0;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 0.87em;
    font-weight: 600;
    color: #00425F !important;

}

.navbar-default .navbar-nav>li>a.linked{
    border-top: 2px solid #E5231D;
}
.sfContentBlock, .sfimageWrp{
    width: 100%;
}
.no-margin-left{
    margin-left: 0;
}
.no-margin-right{
    margin-right: 0;
}
.no-margin-top{
    margin-top: 0;
}
.no-margin-bottom{
    margin-bottom: 0;
}
.no-padding{
    padding: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}
.no-padding-top{
    padding-top: 0;
}
.no-padding-bottom{
    padding-bottom: 0;
}
.navigation.topbarNav{
    position: relative;
}

.transact-link-wrapper{
    display: none;
    position: absolute;
    background-color: #FFF;
    top: 60px;
    right: 0;
}

.transact-link-wrapper li>a{
           display: block;
    padding: 1em;
    color: #003F5D;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.transact-link-wrapper li>a:hover{
    background: #FCFCFC;
}
.transact-link-wrapper.isvisible{
    display: block;
}

.full-width{
   width: 100%;
}
.full-height{
   height: 100%;
}

.responsive-show{
    display: none;
}


.dropdown-wrapper img{
    width: 25px;
    margin-right: 10px;
}

.country-selector {
    margin-top: 0.5em;
}

.country-selector .caret{
    margin-left: 1em;
}
.country-selector .dropdown-menu{
    list-style: none;
    padding: 0;
        width: 96%;

}
.bgImage{
    background-size: cover !important;
}

.bgImage img{
    display: none;
}
.from-top{
    margin-top: 60px;
}

.menu-list{
    padding: 0;
    margin:0;
    padding-top: 8em;
}
.menu-list > li {
    display: block;

}
.menu-list > li > a{
    display: block;
    padding: 1.25em 3em;
    font-weight: 600;
    font-size: 1.01em;
}

.text-align-right{
    text-align: right;
}
.white .menu-list > li > a{
    color: #EEE;
    transition: all 0.2s;

}
.white .menu-list > li > a:hover{
    background: rgba(255,255,255, 0.1);
    color: #FFF;
}
.blue .menu-list > li > a:hover{
     background: rgba(0,0,0, 0.1);
    color: #003553;
}
.blue .menu-list > li > a {
    color:#00425F;
}
.menu-list > li > a:hover
{
    text-decoration: none;
    padding-left: 3.5em !important;
    transition: all 0.3s;
    font-weight: 600;
}


.blue-switch{
    background: #00425F;
}
.blue-dark-switch{
    background: #003553;
}

.blue-switch-light{
    background: #00B2DA;
}
.blue-switch-dark-light{
    background: #0085AB;
}
.color-white{
    color: #FFF;
}
.color-dark-gray{
    color: #333;
}
.color-red{
    color: #EE312A;
}
.color-blue{
    color: #00425F;
}
.content-section-wrapper {
        padding: 1em 3em;
    padding-top: 4em;
}

.content{
    line-height: 1.7;
    font-size: 1.44rem;
    letter-spacing: 0.7px;
    font-weight: 300;
}
.sfContentBlock h3{
    border-bottom:none;
        font-size: 19px;
    font-weight: 300;
    padding-bottom: 5px;
    padding: 0.5em 1em;
    color: #FFF;
    background-color: rgba(238, 238, 238, 0.04);
    letter-spacing: 0.8px;
}

.loader-page{
       position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 63, 93, 0.8);
    text-align: center;
    visibility: hidden;
     opacity:0;
     transition: all 0.4s ease-out;

}

.loader-page.isvisible{
    visibility: visible;
    opacity:1;
    transition: all 0.4s ease-out;


}

.loader-page  .loader-page-wrapper{
    margin-top: 20%;
    text-align: center;
}
.loader-page img{
        border-radius: 6px;
    width: 63px;
    box-shadow: 0 1px 45px rgba(0, 0, 0, 0.44);

}
.loader-page-text{
   display: block;
    color: rgb(255, 255, 255);
    font-weight: 300;
    letter-spacing: 0.7px;
    margin-top: 10px;
}



.text-lg{
   font-size: 4em;
    font-weight: 300;
    line-height: 0.9;
}
.text-reduce{
    font-size: 1em;
    font-weight: 300;
} 

.redline{
    display: inline-block;
    height: 3px;
    background-color: #EE312A;
    width: 150px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.blue-gray-switch{
    background: #EDEDED;

}
.footer-wrapper{
         border-top: 1px solid #EE312A; 
}
.Social-media-footer{
    padding: 4em 2em;
    padding-left: 2.4em;
 }
.blue-gray-switch-light{
    background: #F8F8F8;

}
.smaller{
    font-size: 0.88em;
}
.margin-right-sm{
    margin-right: 1em;
}
.copyright{
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.footer-links-wrapper{
    padding: 1em 4em;
}

.footer-links-wrapper h3{
   
    font-size: 16px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
    letter-spacing: 0.3px;
    background: transparent !important;
}
.footer-links-wrapper p, .footer-links-wrapper ul{
    margin-top: 2em;
    font-size: 0.9em;
    line-height: 1.8;
    letter-spacing: 0.3px;
}
.footer-links-wrapper ul{
    list-style: none;
}
.footer-links-wrapper ul a{
    color: #FFF;
}



.responsive-menu{
     visibility: hidden;
    position: fixed;
    top: -100%;
    left: 0;
    padding-top: 60px;
}
.responsive-menu ul
{
    list-style: none;
    background: #00425F;

}

.responsive-menu ul li
{
    list-style: none;
    display: block;
    text-align: center;

}

.responsive-menu ul li a
{
 display: block;
    height: 70px;
    line-height: 70px;
    font-size: 1em;
    background-color: #00425F;
    color: #FFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    text-transform: uppercase;
    letter-spacing: 0.01em;

}
a{
    cursor: pointer;
}
.display-block{
    display: block;
}

.hamburger-wrapper{
    display: none;

}

.display-none{
    display:none; 
}


.hamburger{
        float: left;
    position: relative;
    top: 0.2em;
    font-size: 2.5em;
    /* margin-right: 10px; */
    color: #00425F;
    height: 45px;
    width: 45px;
    text-align: center;
    background-color: #EEE;
    cursor: pointer;
}
.responsive-menu ul li a:hover
{
    background: rgba(255,255,255,0.1);
    text-decoration: none;

}
.treeopened .childmenu li a{
    //background: #021F2F;

}
.childmenu{
    display: block;
}

.text-align-center{
    text-align: center;
}

.carousel-control{
    color: #FFF !important;
}

.image-gallery-title{
    text-align: center;
    margin: 0 auto;
}
.gallery-item-wrapper{
        padding: 1em;
    padding-bottom: 0.5em;
 }

.gallery-item-wrapper.isViewed {
    background: #144561;
}

.carousel-control .carousel-icons{
    font-size: 4em;
    position: absolute;
    top: 40%;
}
.carousel-control.right .carousel-icons{
    right: 20%;

}
.carousel-control.left .carousel-icons{
    left: 20%;
}
.nav-icon{
    display: inline-block;
    margin-right: 1em;
}
.page-content-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 100;
    visibility: hidden;
}
.page-content-wrapper.isPageOpened{
    visibility: visible !important;
}
.page-content-wrapper .page-overlay{
       position: absolute;
    z-index: 10;
    background: rgb(81, 92, 101);
    width: 100%;
    height: 100%;
    opacity: 0.7;

}

.page-content-wrapper .page-content{
    position: relative;
    z-index: 100;
    min-height: 100%;
    width: 100%;
    padding-top: 60px;
    overflow: hidden;
}

.page-content-wrapper .page-content.gray{
    background: #EEE;
}
.page-content-wrapper .page-content.switch{

}

.full-height-wrapper, 
.carousel-inner .item {
    height: 756px;

}

.image-gallery-folder img {
    opacity: 0.5;
    filter: alpha(opacity:50);
}
.image-gallery-folder.isViewed img {
    opacity: 1;
    filter: alpha(opacity:100);
}
/*LE*/

.pageContentWrapper{
    height: 100%;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    z-index: 100;
    padding-left: 3em;
    right: -100%;

}

.page-content-wrapper.isPageOpened .pageContentWrapper{
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
     right: 0;
}


.pageContentOverlayInner{
    padding: 7.5em 3.5em;
    padding-bottom: 2em
}

.content-ajax{
       padding: 1em 3em;
}
.pageInnerContainer{
    background: #003F5D;
    overflow-y: auto;
    position: relative;
}


.close-icon{
     font-size: 5em;
    display: inline-block;
    min-height: 45px;
    width: 45px;
    position: absolute;
    color: #FFF;
    left: 28px;
    text-align: center;
    cursor: pointer;

}
.inner-menu-list-wrapper .inner-menu-list{

}




.inner-menu-list-wrapper a:hover,
.inner-menu-list-wrapper a:active{
    text-decoration: none;

}
.inner-menu-list-wrapper .inner-menu .inner-menu-list>a{
       display: block;
    padding: 1.25em 3em;
    font-weight: 600;
    font-size: 1.01em;
    color: #EEE;
    letter-spacing: 0.5px;
} 

.inner-menu-list-wrapper a:hover{
    color: #00B8DE !important;
}


.inner-sub-menu-list{
    margin-top: -0.3em;
}

.inner-sub-menu-list  li>a{
    padding: 0.8em 3.34em !important;
}


.pageInnerContainer.lightblue{
    background: #0085AB !important;
}

.pageInnerContainer.gray{
    background:#DEDADB  !important;

}

.pageInnerContainer.blue{
    background: #003553 !important;

}


/* gray theme */

.pageInnerContainer.gray .sfContentBlock{
        color: #333;

}
.pageInnerContainer.gray a{

}

.pageInnerContainer.gray .inner-menu-list-wrapper .inner-menu .inner-menu-list>a{
    color: #00425F;
}
.pageInnerContainer.gray .close-icon{
    color: #00425F;
}
.pageInnerContainer.gray .sfContentBlock h3{
    color: #003F5D;
    background-color: rgba(0, 0, 0, 0.04);
}
/* blue theme */
.pageInnerContainer.blue{

}

/* lighblue theme */


.pageInnerContainer .sfContentBlock  a{
    color: #001094;
    font-weight: 600;

}
.pageInnerContainer.blue .sfContentBlock a{
    color: #00B8DE !important;
}

.pageInnerContainer.gray .sfContentBlock a{
        color: #3E3E3E !important;
}

.pageInnerContainer.lightblue .sfContentBlock a{
    color: #E5E5E6 !important;
}

.main-content-wrapper{
    padding: 3em;
    background-color: #144561;
}
.galleryTitle{
    font-size: 2.3em;
}

.dropdown-toggle{
        width: 70%;
    border-radius: 3px;
    margin-top: 4px;
}

.image-gallery-folder{
    cursor: pointer;
}


.sfBreadcrumbWrp .RadSiteMap .sfBreadcrumbNavigation .rsmLink{
    text-decoration: none;
    color: #FFFFFF;

}
.breadcrumb-wrapper{
    display: none;
}
.RadSiteMap_Default .rsmOneLevel .rsmLink:hover, 
.RadSiteMap_Default .rsmTwoLevels .rsmLevel1 .rsmLink:hover, 
.RadSiteMap_Default .rsmThreeLevels .rsmLevel1 .rsmLink:hover, 
.RadSiteMap_Default .rsmManyLevels .rsmLevel2 .rsmLink:hover{
    background:none;
    color: #FFF !important;
    text-decoration: underline !important;

}

.sfBreadcrumbWrp .RadSiteMap .rsmOneLevel .rsmLink{
        color: rgba(255, 254, 254, 0.61);
}

span.sfBreadcrumbNodeSeparator{
        color: rgba(255, 254, 254, 0.61);
}
@media (max-width: 1100px) {
    .main-content-wrapper {
        padding: 1.8em;
    }

    .galleryTitle{
        font-size: 2em;
    }
   
    .topbarNav{
        padding: 0;
    }
    .content-nav{
        padding: 0;
    }
    .menu-list > li > a{
        padding: 1.2em 1.2em;
        font-size: 0.9em;

    }
    .menu-list > li > a:hover{
        padding: 1.2em 1.3em !important;

    }
    .text-lg{
        font-size: 3em;
    }
    .nav>li>a{
        padding: 10px 9px;
    }
    .content-section-wrapper{
            padding: 1em 2em;
             padding-top: 2em;
    }
    .content{
            font-size: 1.3rem;
                line-height: 1.6;
    }
    .redline{
            margin-top: 0.3em;
    }
    .navbar-default .navbar-nav>li>a{
            font-size: 0.8em;
            padding: 0 7px;
    }

    .inner-menu-list-wrapper .inner-menu .inner-menu-list>a{
            padding: 1.25em 0;
    }

    .image-gallery-folder img{
    width: 100px;
    height: 100px;

    }

}
@media (max-width: 765px) {
    .content-ajax {
    padding: 1em 0;
}
    .main-content-wrapper {
        padding: 1em;
    }

    .galleryTitle{
        font-size: 1.5em;
    }
   
    .pageContentWrapper{
        padding-left: 0;
    }
.hamburger-wrapper{
        display: block;
    }
    .logo img{
        margin-top: 15px;
        padding-left: 0;
    }
    .footer-wrapper{
       display: none;
    }
    .responsive-menu{
        visibility: hidden;
        left: -100%;
        top: 0;
        width: 100%;
        z-index: 1000;
        height: 100%;
        background: #00425F;
        overflow-y: auto;
         transition: all 0.5s;
       
    }
    .responsive-remove{
        display: none;
    }
    .responsive-show {
        display: block !important;
    }
    .responsive-menu.isnavOpened{
        left: 0;
        top: 0;
        visibility: visible;
         transition: all 0.5s;
    }

    .topbarNav {
        display: none;
    }
    .full-height-wrapper, 
    .carousel-inner .item {
        height: 450px;

    }
    .carousel-control .carousel-icons{
        font-size: 3em;
    }
    .carousel-control.left, 
     .carousel-control.right{
     background-image: none;
    }
    .image-gallery-folder img{
    width: 120px;
    height: 120px;

    }



}
.agent-form input,.agent-form select  {
    background: transparent;
    border: 1px solid #009FD9;
    height: 40px;
}
.agent-form input[type='submit' ] {
margin-top:30px;
background-color: #e5231d;
border: none;
width: 120px;
}
