/* main carousel */
#carousel {
  width: 650px;
  height: 410px;
  overflow: hidden;
}
#carousel .item {
  width: 650px;
  height: 410px;
  background: #dddddd url("http://twimg.edgesuite.net/appledaily/images/js/owlcarousel/ajax-loader.gif") center center no-repeat;
  position: relative;
}
#carousel .item a {
  width: 100%;
  height: 100%;
  display: block;
}
#carousel .item img {
  display: block;
  border: none;
}
#carousel a h3 {
  position: absolute;
  top: 311px;
  left: 0;
  width: 610px;
  color: white;
  font-size: 50px;
  line-height: 1em;
  padding: 6px 20px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.7);
  z-index: 12;
}
#carousel a span {
  background-color: #222323;
  position: absolute;
  top: 311px;
  left: 0;
  display: block;
  width: 100%;
  height: 63px;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  z-index: 11;
}
#carousel .owl-dots {
  position: absolute;
  top: 374px;
  left: 0;
  width: 650px;
  height: 36px;
  text-align: center;
  display: none !important;
}
#carousel.on .owl-dots {
  display: block !important;
}
#carousel .owl-dots .owl-dot {
  background-color: #828079;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 10px;
  height: 10px;
  margin-top: 12px;
  margin-right: 1em;
  border-radius: 6px;
  -moz-border-radius: 6px;
  overflow: hidden;
  box-shadow: inset 0 1px 1px black;
  z-index: 100;
  position: relative;
}
#carousel .owl-dots .owl-dot.active {
  background-color: #52c4ff;
}
#carousel .owl-dots .masker {
  background-color: #222323;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 36px;
  z-index: 99;
  opacity: 0.8;
  filter: alpha(opacity = 80);
}
.xPrev {
  width: 40px;
  height: 42px;
  background-image: url("http://twimg.edgesuite.net/appledaily/images/core/iconset.png");
  background-color: #484848;
  box-shadow: 0 0 2px black;
  background-position: 0 -151px;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  margin-top: -21px;
  cursor: pointer;
  text-indent: -200px;
  overflow: hidden;
  display: none;
}
.xNext {
  width: 40px;
  height: 42px;
  background-image: url("http://twimg.edgesuite.net/appledaily/images/core/iconset.png");
  background-color: #484848;
  box-shadow: 0 0 2px black;
  background-position: -42px -151px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  margin-top: -21px;
  cursor: pointer;
  text-indent: -200px;
  overflow: hidden;
  display: none;
}
#splash.on .xPrev,
#splash.on .xNext {
  display: block;
}
