.tuls {
	padding: 0;
	position: absolute;
	width: 1000em;
}

.aad .sqzer {
	width: 850px;
	height: 150px;
	overflow: hidden;
	margin: 0 0 0 62px;
	position: relative;
}

.map .sqzer {
	width: 850px;
	height: 120px;
	overflow: hidden;
	margin: 0 0 0 62px;
	position: relative;
}

#secMoreNews {
	width: 516px;
	overflow: hidden;
	margin: 0 0 0 70px;
}

/*main view slider*/

div.sca div.headline_switcher {
	position: absolute;
	top: 374px;
	left: 0;
	width: 650px;
	height: 36px;
	display:none;
}

div.sca:hover div.headline_switcher {display:block;}
div.sca div.headline_switcher .navi {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 12px;
	padding: 12px 0;
	z-index: 100;
	text-align: center;
	vertical-align: middle;
}
div.sca div.headline_switcher .navi a {
	background-color: #828079;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 1em;
	border-radius: 6px;
	-moz-border-radius: 6px;
	overflow: hidden;
	box-shadow: inset 0 1px 1px black;
	behavior: url(/PIE.htc);
}

div.sca div.headline_switcher .navi a:hover,div.sca div.headline_switcher .navi a.active {background-color:#52c4ff;}
div.sca div.headline_switcher div.holder {position:relative;width:100%;height:36px;}
div.sca div.headline_switcher div.holder span.masker {
	background-color: #222323;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 36px;
	z-index:99;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}



#splash a.bw {
	background-color: #000000;
	position: absolute;
	top: 154px;
	display: block;
	width: 40px !important;
	height: 42px;
	z-index: 999;
	display:none;
}

#splash:hover a.bw {display:block;}