/**/

.vertebrae {
	margin-bottom: 40px;
}

/* splash */

#splash {
	position: relative;
	width: 650px;
	height: 410px;
	margin-bottom: 20px;
}

.sca {
	position: relative;
	width: 100%;
	height: 410px;
	white-space: nowrap;
	overflow: hidden;
}

.its {
	position: absolute;
	width: 20000em;
	height: 410px;
}

.es {
    position: relative;
    float: left;
	width: 650px;
	height: 410px;
    z-index: 98;
}

.es a {
	display: block;
	width: 650px;
	height: 410px;
	text-align: center;
}

.es h1, .es h3 {
	position: absolute;
	top: 311px;
	left: 0;
	width: 610px;
	color: white;
	font-size: 50px;
	line-height: 1em;
	padding:6px 20px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.7);
	z-index: 12;
}

.es span {
	background-color: #222323;
	position: absolute;
	top: 311px;
	left: 0;
	display: block;
	width: 100%;
	height: 63px;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	z-index: 11;
}

.headline_switcher {
	position: absolute;
	top: 384px;
	left: 0;
	width: 100%;
	height: 26px;
}

.bw {
	background-image: url(/appledaily/images/core/iconset.png);
	background-color: #484848;
	position: absolute;
	top: 205px;
	display: block;
	width: 42px;
	height: 42px;
    z-index: 99;
    cursor: pointer;
    box-shadow: 0 0 2px black;
}

#splash .lf {background-position: 0 -151px; left: 0;}
#splash .lf:hover {background-position: 0 -193px; left: 0;}
#splash .rh {background-position: -42px -151px; right: 0;}
#splash .rh:hover {background-position: -42px -193px; right: 0;}

/* Realtime News */

.rts {
	background-color: white;
	zoom: 1;
}

.rts header {
	background-color: #3371c2;
	position: relative;
	color: white;
	padding: 5px 10px;
}

.rts a:hover {
	text-decoration: underline;
}

.rts header h1, .rts header h2 {
	font-size: 1.5em;
	line-height: 24px;
}

.rts header a {
	position: absolute;
	top: 9px;
	right: 16px;
	color: white;
	float: right;
	line-height: 1em;
}

.rts article {
	float: left;
	padding: 10px 0 0 20px;
}

.rtcvr {
	background-color: #d5d5d5;
	width: 300px;
	height: 220px;
	padding: 10px 10px 5px;
	box-shadow: inset 0 1px 2px #4c4c4c;
}

.rtcvr a {
	color: #3371c2;
}

.rtcvr img {
	display: block;
	width: 300px;
	height: 184px;
	margin-bottom: 10px;
}

.hls {
	width: 320px;
}

.hls li {
	padding: 20px 0 20px 1em;
	border-bottom: 1px solid #9c9ea6;
}

.hls li a {
	color: #4a85c7;
}

.hls li a:hover {
	color: #3a699e;
	text-decoration: underline;
}

.rts aside {
	position: relative;
	float: right;
	width: 270px;
}

.mrt {
	margin: 17px 20px 0 0;
}

.mrt li {
	display: table;
	vertical-align: middle;
	padding: 8px 38px 8px 0;
	border-bottom: 1px dashed #9c9ea6;
	zoom: 1;
}

.mrt time,
.mrt a {
	display: table-cell;
	vertical-align: middle;
}

.mrt time {
	color: #999999;
	font-size: 14px;
	font-family: Helvetica;
	font-weight: bold;
	padding: 0 0.75em 0 1em;
	margin-right: 1em;
}

.mrt a {
	color: #303031;
	font-size: 0.9375em;
	line-height: 1.3em;
}

.mrt a:hover {
	color: #696e70;
}

li.last {
	border-bottom: 0;
}

/* Facebook Box */

.fbbx {
	position: relative;
	margin-top: 20px;

}

.fbbx header {
	background: #616d95 url(/appledaily/images/core/fbhd.png) top right no-repeat;
	position: relative;
	color: white;
	padding: 9px 0 9px 46px;
}

.fbbx h1, .fbbx h2 {
	display: none;
}

.fbbx header a {
	color: #8f98b4;
	padding: 0 26px;
	line-height: 1em;

}

.fbbx header a.on,
.fbbx header a:hover {
	color: white;
}

.fbbx header a.last {
	border-right: 0;
}

/* Ani News*/

.aad {
	position: relative;
	height: 224px;
	border-bottom: 4px solid #a30011;
}

.aad header {
	background-color: #a30011;
	position: relative;
	color: white;
	padding: 5px 10px;
}

.aad a:hover {
	text-decoration: underline;
}

.aad header h1, .aad header h2 {
	font-size: 1.5em;
	line-height: 24px;
}

.aad header a {
	position: absolute;
	top: 9px;
	right: 16px;
	color: white;
	float: right;
	line-height: 1em;
}

.aad article {
	background-color: white;
}

.aad .sqzer {
	padding: 20px 0 20px;
	overflow: hidden;
}

.tuls {
	padding: 0 0 0 62px;
}
.ecs{ width:850px;height:120px; float:left;}
.ecs a{display:block;float:left;width:145px;padding:0 12px;margin-left:1px;color: #3f3f41;}

.ecs img {
	display: block;
	width: 144px;
	height: 90px;
	margin-bottom: 10px;
}

.ecs p {
	height: 2.13333em;
	font-size: 15px;
	margin-bottom: 10px;
	overflow: hidden;
}

.ecs span {
	background: transparent url(/appledaily/images/core/eye.png) center left no-repeat;
	color: #3f3f41;
	font-size: 13px;
	padding-left: 28px;
}

.aad .bw {
	top: 107px;
}

.aad .lf {background-position: 0 -151px; left: 10px;}
.aad .lf:hover {background-position: 0 -193px; left: 10px;}
.aad .rh {background-position: -42px -151px; right: 10px;}
.aad .rh:hover {background-position: -42px -193px; right: 10px;}


/* Editor's Select */

.estd {
	position: relative;
	float: left;
	width: 650px;
	margin-bottom: 40px;
}

.estd header {
	position: relative;
	color: #719144;
	padding: 5px 0;
	border-bottom: 4px solid #719144;
	zoom: 1;
}

.estd a:hover {
	text-decoration: underline;
}

.estd header h1, .estd header h3 {
	font-size: 1.5em;
	line-height: 24px;
}

.estd header a {
	position: absolute;
	top: 9px;
	right: 16px;
	color: #719144;
	float: right;
	line-height: 1em;
}

.estd article {
	background-color: white;
	padding: 20px;
	zoom: 1;
}

.estd figure {
	position: relative;
	float: left;
	width: 300px;
	height: 280px;
}

.estd figure p {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 17px;
	font-size: 17px;
	padding: 14px 0;
	text-align: center;
	z-index: 9;
}

.estd figure span {
	background-color: #141414;
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 17px;
	opacity: 0.8;
	padding: 14px 0;
	filter: alpha(opacity = 80);
	z-index: 8;
}

.estd figure a {
	color: white;
}

.estd figure a:hover {
	text-decoration: underline;
}

.estds {
	float: right;
	display: table;
	width: 282px;
}

.estds li {
	display: table;
	width: 282px;
	height: 56px;
	line-height: 1.3em;
	border-bottom: 1px solid #9c9ea6;
}

.estds li:last-child {
	border-bottom: 0px solid #9c9ea6;
}


.estds a {
	display: table-cell;
	color: #3f3f41;
	vertical-align: middle;
}

.estds a:hover {
	color: #cc4a3b;
}

.estds a.estad {
	color: #5ba1ad;
}

.estds a.estad:hover {
	color: #719144;
}

/* Hot Tags */

.hts {
	position: relative;
	float: right;
	width: 300px;
}

.hts header {
	color: #47828c;
	padding: 5px 0;
	border-bottom: 4px solid #47828c;
}

.hts header h1, .hts header h3 {
	font-size: 1.5em;
	line-height: 24px;
}

.hts article {
	background:#fff; 
	height:320px;
	
}

.hts article img {
     flaot:left; margin:20px 0 0 20px;
 }

.hts a {
	line-height: 1.23em;
	white-space: nowrap;
	vertical-align: middle;
}

.hts a:hover {
	color: white;
}

.tagcloud1  {color: #dd4088; font-size: 0.6em;}
.tagcloud2  {color: #c443d7; font-size: 0.8em;}
.tagcloud1:hover {background-color: #dd4088;}
.tagcloud2:hover {background-color: #c443d7;}

.tagcloud3  {color: #efe713; font-size: 1em;}
.tagcloud4  {color: #5b72ad; font-size: 1.4em;}
.tagcloud3:hover {background-color: #efe713;}
.tagcloud4:hover {background-color: #5b72ad;}

.tagcloud5  {color: #98b73f; font-size: 1.2em;}
.tagcloud6  {color: #0f9792; font-size: 1.5em;}
.tagcloud5:hover {background-color: #98b73f;}
.tagcloud6:hover {background-color: #0f9792;}

.tagcloud7  {color: #fe0003; font-size: 1.8em;}
.tagcloud8  {color:#dd4088; font-size: 2.1em;}
.tagcloud7:hover {background-color: #fe0003;}
.tagcloud8:hover {background-color: #dd4088;}

.tagcloud9  {color: #4cdeba; font-size: 2.3em;}
.tagcloud10  {color: #ffb400; font-size: 2em;}
.tagcloud9:hover {background-color: #4cdeba;}
.tagcloud10:hover {background-color: #ffb400;}

a.tagcloudad {font-size: 2.6em;color: #ae0000;}

.tcad:hover {
	background-color: #ae0000;
	color: white;
}

/* More Apple */

.map {
	position: relative;
	zoom: 1;
}

.map header {
	background-color: transparent;
	color: #a30011;
	padding: 5px 0;
	border-bottom: 4px solid #a30011;
	zoom: 1;
}

.map header h1, .map header h2 {
	font-size: 1.5em;
	line-height: 24px;
}

.map article {
	background-color: white;
}

.map .sqzer {
	padding: 20px 0 20px;
	width: 846px;
	margin: 0 auto;
	overflow: hidden;
}

.tuls {
	padding: 0 0 0 62px;
}


.ecs h1, .ecs h3 {
	color: #787e84;
	font-size: 16px;
	margin-bottom: 5px;
}

.ecs img {
	display: block;
	width: 144px;
	height: 90px;
	margin-bottom: 10px;
}

.map .bw {
	top: 107px;
}

.map .lf {background-position: 0 -151px; left: 10px;}
.map .lf:hover {background-position: 0 -193px; left: 10px;}
.map .rh {background-position: -42px -151px; right: 10px;}
.map .rh:hover {background-position: -42px -193px; right: 10px;}


/* Home Aside */

.manu {
	float: right;
	width: 300px;
}