.nl, h1,.nl1,.nl2,.nl3
{
	color:#092CA0; font-size:17px; display:inline; font-family:"Noto Naskh Arabic",Arial,sans-serif; font-weight:bold;
}

body
{
	margin: 0;
	padding: 0;
	direction:rtl;
	background-color:#E6E7E7;
	text-align:center;
}

form
{
	margin: 0;
	padding: 0;
	direction:rtl;
}

t,td,tr,div,table,tbody,p,a,input,body, select
{
	font-family:tahoma, arial;
	text-decoration:none;
	line-height: 1.4;
	font-size: 12px;
}

td
{
	vertical-align:top;
}

#top_main2
{
	background-color:#20409A; width:950px; height:104px;
}


#topline a
{
	color:#FFFFFF; padding-right:2px; padding-left:2px;
}

#topline
{
	background-color:#14184B; height:21px; float:right; width:950px;font-weight:bold; padding-top:3px;color:#FFFFFF; text-align:right;
}

#line_r
{
	float:right; width:820px; text-align:right; padding-right:3px
}

#line_l
{
	float:left; width:127px;
}

#line_s
{
	height:24px; float:right; width:80px;
}

#top_log
{
	background:url(http://www.ghatreh.com/skins/default/images/ghatreh-logo2.gif); background-position:right;
	background-repeat:no-repeat; height:80px; width:134px; float:right;
}

#m_s2
{
	height:20px; float:right; width:816px;background-color:#20409A;
}

#m_s4
{
	height:21px; float:right; width:12px;background-color:#20409A;
}

#search_d
{
	background-color:#20409A; height:21px; float:right; width:803px;font-weight:bold; color:#FFFFFF;
}

#m_s6
{
	width:816px;background-color:#20409A; float:right; height:14px;
}

#m_s7
{
	width:134px; height:40px; float:right
}
#top_menu
{
	width:800px; float:left;background-color:#20409A; height:25px;
}

#topi
{
	width:100%; height:104px; background-color:#20409A;
}

#sp_i
{
	width:134px; float:right; height:80px;
}

#topi_ads
{
	float:right; width:582px; height:80px; background-color:#20409A;
}

#topi_kh
{
	width:234px; float:right; height:80px; background-color:#20409A;
}

#rss
{
	background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 0; width:39px; height:14px; display:inline-block;
}

#icode
{
	background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -425px; width:150px; height:20px; display:inline-block;
}

#ads
{
	background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -35px; width:150px; height:30px; display:inline-block;
}



.top_header_news
{
	 width:730px; float:right;
}

.top_header_title
{
	width:85px; float:right; padding-top:0px; height:17px;
}


#top_list
{
	width:789px; float:left; display:inline; padding-bottom:0px; color:#FFFFFF;position:relative; background-color:#20409A;
}

#top_list div
{
	width:100px; border-left:1px solid #4444EE; border-spacing:0px; display:inline; text-align:right; font-weight:bold; padding-top:3px; padding-bottom:5px; padding-right:7px; padding-left:9px; height:28px;
}


#top_list div:last-child
{
	border-left:0px solid #3333CC;
}

#submenu
{
	width:627px; position:relative; background-color:#FAFAFF;  border:1px solid #CCCCCC; display:none; visibility:hidden; z-index:1000;
}


.top_header_body
{
	width:525px; float:right;white-space: nowrap; overflow:hidden; padding-top:0px; height:17px; text-align:right;
}

.top_header_footer
{
	width:610px; float:right;white-space: nowrap; overflow:hidden; padding-top:0px; color:#000000;
}


#top_i
{
	width:80%; background-color:#14184B; vertical-align:top; font-weight:bold; padding-top:2px; height:20px; padding-right:5px; color:#FFFFFF;
}

.top_menu,#top_main a, #top_i a, #top_list a
{
	color:#FFFFFF; padding-right:2px; padding-left:2px; font-size:11px;
}

#t
{
	padding-top:21px; padding-right:11px; display:none; visibility:hidden; height:50px;
}

.body_main
{
	width:950px;
}

.body_right
{
	width:150px; float:right; text-align:right;
}

.body_center
{
	width:620px; float:right; text-align:right;
}

.body_left
{
	width:160px; float:right;
}

.info_main
{
	width:620px; height:23px; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -141px; display:inline-block;
}

.main_top
{
	width:620px; height:12px; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -176px; display:inline-block;
}

.main_bot
{
	width:620px; height:12px; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -164px; display:inline-block;
}



.info_right
{
	width:445px; height:23px; padding-top:4px;  padding-right:15px; vertical-align:top;
}

.info_center
{
	width:5px; height:23px; padding-top:4px;padding-right:15px; vertical-align:middle;
}

.info_left
{
	width:160px; height:23px; padding-top:4px; text-align:left; padding-left:15px; vertical-align:top;
}

.ver_line
{
	width:10px; float:right;
}

.news_body
{
}

.news_top
{
	float:right;width:620px; height:12px; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -176px;
}

.news_data
{
	width:570px; float:right; text-align:right; padding-right:25px; padding-left:25px; background:url(http://www.ghatreh.com/skins/default/images/all2.png) 0px 0px;
}

.news_bot
{
	float:right;width:620px; height:12px; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -164px; display:inline-block;
}


.menu_right
{
	width:150px; height:43px; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -338px;
}

.menu_mix_right
{
	width:150px; height:8px; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -381px;
}

.menu_title
{
	padding-right:35px; padding-top:13px; font-weight:bold;
}

.menu_mid
{
 	width:150px; background:url(http://www.ghatreh.com/skins/default/images/all2.png) -620px 0px;
}


.menu_mix_mid
{
 	width:150px; text-align:center; background:url(http://www.ghatreh.com/skins/default/images/all2.png) -620px 0px;
}


.menu_src_mid
{
 	width:150px; height:700px; overflow-x:hidden; overflow-y:scroll; direction:rtl; background:url(http://www.ghatreh.com/skins/default/images/all2.png) -620px 0px;
}


#search_form
{
	margin:0px; padding:0px; display:inline;
}

#date
{
	float:left; padding-left:10px;
}

#submenu_2,#submenu_3,#submenu_4,#submenu_5,#submenu_6,#submenu_7,#submenu_8,#submenu_9,#submenu_10,#submenu_11,#submenu_12,#submenu_13,#submenu_15
{
	visibility:hidden; display:none;
}


#sb_item
{
	padding-bottom:5px; padding-top:5px; color:#FF0000;
}

#sb_item table
{
	padding:0px; border-spacing:0px; width:640px;
}

#copyright
{
	width:950px; padding-top:20px; padding-bottom:20px; background-color:#20409A; color:#FFFFFF;
}

#sendmail
{
	visibility:hidden; position:absolute;left:300px;top:200px; width:600px;
}

.menu_body
{
	padding-right:15px; direction:rtl;
}

#sb_item li, .menu_mid li,.menu_src_mid li
{
	padding-right:10px; direction:rtl;background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -14px; width:7px; height:7px; display:inline-block; z-index:10000;
}

y
{
	padding-right:20px; direction:rtl;background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -65px; width:7px; height:7px; display:inline-block;
}

#sb_item a, .menu_mid a,.menu_src_mid a
{
	color:#000000; line-height:18px; height:18px; z-index:20000;
}

.menu_bot
{
	width:150px; height:22px; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -403px;
}

.ads_body
{
	width:150px; text-align:center;
}

.img
{
	max-width:60px;
}

.img2
{
	max-width:80px;
}



.nl1
{
	color:#EE0000;
}

.nd, h2
{
	color:#444444; font-size:13px; font-weight:normal; display:inline;
}

.sm, h3
{
	cursor:pointer;font-size:10px; font-weight:bold;color:#990033; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -72px; width:15px; height:13px; display:inline-block
}

.sn
{
	font-size:9px;
}

.tm
{
	font-size:9px;
	color:#444444;
}

.cn
{
	font-weight:bold; color:#444444; font-size:10px;
}
	
.sn
{
	font-weight:bold; color:#00AA00; font-size:10px;
}
	

.body_ads
{
	width:950px; float:right; padding-top:10px; padding-bottom:10px;
}

.body_footer
{
	width:950px; float:right; padding-top:10px; padding-bottom:10px; height:160px;
}

.footer_top
{
	 width:950px; height:150px; float:right; background:url(http://www.ghatreh.com/skins/default/images/all.png) 0 -188px; display:inline-block;
}

.footer_title
{
	width:830px; float:right; text-align:right; padding-right:120px; padding-top:10px;
}

.footer_body
{
	width:950px; float:right; line-height:25px;
}

.tick
{
	color:#CCEE09; font-weight:bold; font-family:Tahoma; font-size:11px;
}

.header_red
{
	color:#AA0000; font-weight:bold;
}

.header_link
{
	color:#CCFD09;
	font-weight:bold;
}

#ads_td
{
	 border-bottom:#E5EAFF 1px solid;
	 vertical-align:top;
}

#news_tabligh
{
	float:right;text-align:right;
}

#news_ads_2
{
	float:right;text-align:right; width:350px; overflow:hidden; height:16px;
}

#in_news_ads
{
	vertical-align:top;overflow:hidden;width:100%;
}

#news_item_500
{
	float:right; width:500px; text-align:right;padding-top:15px; padding-bottom:15px; border-bottom:#E5EAFF 1px solid;
}

#news_item_570
{
	float:right; width:570px; text-align:right;padding-top:15px; padding-bottom:15px; border-bottom:#E5EAFF 1px solid;
}

#news_link
{
	width:65px; text-align:center; float:right;padding-top:15px; padding-bottom:15px;
}

#line_top
{
	float:right; width:570px; text-align:right;border-top:#B8D1E9 1px solid;
}

#line_bottom
{
	float:right; width:570px; text-align:right;border-bottom:#B8D1E9 1px solid;
}


#item_image
{
	text-align:center; width:114px; float:right; height:130px; padding-top:25px; padding-bottom:5px;
}

.ads,.tads
{
	width:150px;
	text-align:center; 
	padding-top:5px; 
	padding-bottom:5px;
}

.al{color:#00AA00;font-size:11px; font-weight:bold; direction:ltr }
.ti{color:#0000FF;font-size:11px; font-weight:bold;}
.ds{color:#444444;padding:0;font-size:10px; font-weight:normal;}


.hide,#hide
{
	visibility:hidden;display:none;
}

#none
{
	display:none;
}

.show,#show
{
	visibility:visible;display:block;
}

.news_div
{
	float:right; width:500px; text-align:right;padding-top:15px; padding-bottom:15px
}

.news_tabligh_table,.news_ads_table
{
	width:570px;
	padding:0px;
	border-spacing:0px;
	border-bottom:1px solid #E5EAFF;
}


.slide_table
{
	width:100%;
	padding:0px;
	border-spacing:0px;
	border-right:1px solid #B8D1E9;
	border-bottom:1px solid #B8D1E9;
	border-left:1px solid #B8D1E9;
}

.slide_table2
{
	width:570px;
	padding:0px;
	border-spacing:0px;
}

.slide_td
{
	border-top:1px solid #B8D1E9;
	background-color:#FFFFFF;
	height:40px;
	vertical-align:middle;
	padding:3px;
}

.slide_main
{
	border-bottom:1px solid #B8D1E9;
	border-right:1px solid #B8D1E9;
	border-left:1px solid #B8D1E9;
	background-color:#EEEEEE;
	height:90px;
	padding:3px;
	vertical-align:middle;
	width:570px;
}

.slide_over
{
	border-top:1px solid #B8D1E9;
	background-color:#EEEEEE;
	height:40px;
	vertical-align:middle;
	padding:3px;
}

.slide_title
{
	color:#0000EE;
	font-weight:bold;
	font-size:11px;
	font-family:tahoma;
}

.slide_over a
{
	color:#0000EE;
	font-weight:bold;
	font-size:11px;
	font-family:tahoma;
}

.slide_pic
{
	vertical-align:top;
	border:1px solid #B8D1E9;
	width:315px;
}
.slide_r
{
	width:255px;
	vertical-align:top;
}

.slide_top
{
	width:285px;
	vertical-align:top;
}

.slide_img
{
	border:0px solid #FFFFFF;
	width:308px;
	height:200px;
	
	
}

.fp_tab
{
	text-align:center; cursor:pointer;width:114px
}

