/**
 * @file
 * Block Styling
 */
/* line 14, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  clear: both;
  overflow: hidden;
  position: relative;
  /*block ads*/
}
/* line 20, ../sass/blocks.scss */
.sidebar .block, .context-web-nodeentry .group-right .block {
  float: left;
  margin-top: 24px;
  overflow: visible;
  width: 300px;
}
/* line 26, ../sass/blocks.scss */
.sidebar .block.first, .context-web-nodeentry .group-right .block.first {
  margin-top: 0;
}
/* line 31, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
  margin: 0;
}
/* line 35, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 38, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 41, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 44, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}
/* line 47, ../sass/blocks.scss */
.prefooter .block {
  background: #f1eeec;
  margin-top: 48px;
  width: 100%;
}
/* line 52, ../sass/blocks.scss */
.prefooter .block .inner-block {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 59, ../sass/blocks.scss */
.prefooter .block.newsletter .inner-block {
  height: 84px;
  overflow: hidden;
  width: 780px;
}
/* line 69, ../sass/blocks.scss */
#preheader .block, #footer-ad .block {
  float: none;
  margin: 15px auto;
  width: 940px;
}
/* line 75, ../sass/blocks.scss */
.theme #highlighted .block {
  clear: none;
}
/* line 78, ../sass/blocks.scss */
.theme #highlighted .block .node-ad {
  float: left;
  margin: 100px 0;
}

/* line 85, ../sass/blocks.scss */
.quicktabs_main .block {
  /*Block into a Quicktabs block*/
  margin: 0 !important;
}

/* line 89, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 92, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 95, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 98, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 101, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 104, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 107, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 110, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 113, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 116, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 119, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 122, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 125, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 128, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 131, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 134, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 137, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 140, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 143, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 146, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 149, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 152, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 155, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 158, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 161, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 164, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 167, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/* line 170, ../sass/blocks.scss */
#block-views-menu-block {
  /*Menu block needs overflow for sub-menus*/
  overflow: visible;
  width: 100%;
}

/**
 * Social links header and footer
 */
/* line 178, ../sass/blocks.scss */
ul.social {
  float: right;
  margin: 12px -8px 0 0;
  padding: 0;
}
/* line 183, ../sass/blocks.scss */
ul.social li {
  float: left;
  list-style: none;
}
/* line 188, ../sass/blocks.scss */
ul.social a {
  background-color: false;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999em;
  height: 24px;
  width: 26px;
  margin-right: 8px;
  margin-left: 8px;
}
/* line 61, ../sass/_custom.scss */
.svg ul.social a {
  background-image: url("../images/social.svg");
}
/* line 66, ../sass/_custom.scss */
ul.social a:hover {
  background-position: 0 -48px;
}
/* line 195, ../sass/blocks.scss */
ul.social a.twitter {
  background-position: -44px 0;
}
/* line 79, ../sass/_custom.scss */
ul.social a.twitter:hover {
  background-position: -44px -48px;
}
/* line 198, ../sass/blocks.scss */
ul.social a.facebook {
  background-position: -87px 0;
}
/* line 79, ../sass/_custom.scss */
ul.social a.facebook:hover {
  background-position: -87px -48px;
}
/* line 201, ../sass/blocks.scss */
ul.social a.instagram {
  background-position: -131px 0;
}
/* line 79, ../sass/_custom.scss */
ul.social a.instagram:hover {
  background-position: -131px -48px;
}
/* line 204, ../sass/blocks.scss */
ul.social a.pinterest {
  background-position: -174px 0;
}
/* line 79, ../sass/_custom.scss */
ul.social a.pinterest:hover {
  background-position: -174px -48px;
}
/* line 207, ../sass/blocks.scss */
ul.social a.rss {
  background-position: -218px 0;
}
/* line 79, ../sass/_custom.scss */
ul.social a.rss:hover {
  background-position: -218px -48px;
}
/* line 210, ../sass/blocks.scss */
.header-region ul.social a {
  margin: 0 5px;
}

/**
 * Last Minute - Sidebar block
 */
/* line 219, ../sass/blocks.scss */
.latest {
  /*block title*/
  /*fields*/
  /*slideshow controls*/
  /*slideshow pager*/
}
/* line 222, ../sass/blocks.scss */
.latest .view {
  clear: both;
  float: left;
  margin-top: 18px;
  width: 300px;
}
/* line 229, ../sass/blocks.scss */
.latest .views_slideshow_cycle_teaser_section {
  /* This style prevents the white pixel visual artifact when the sliding animation occurs*/
  background: #000;
}
/* line 233, ../sass/blocks.scss */
.latest .node {
  background: #222;
  height: 270px;
  overflow: hidden;
  width: 300px;
}
/* line 240, ../sass/blocks.scss */
.latest .node:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 247, ../sass/blocks.scss */
.latest ds regions
.ds-content-region {
  height: 100%;
  position: relative;
}
/* line 251, ../sass/blocks.scss */
.latest .ds-below-region {
  bottom: 18px;
  z-index: 2;
}
/* line 257, ../sass/blocks.scss */
.latest .field-name-multimedia-linked {
  background: #333;
  height: 200px;
  overflow: hidden;
  width: 300px;
}
/* line 263, ../sass/blocks.scss */
.latest .field-name-mask {
  z-index: 1;
}
/* line 266, ../sass/blocks.scss */
.latest .field-name-post-date-timeago {
  color: #fb4c1c;
  font-size: 0.8em;
  margin: 0 10px;
}
/* line 273, ../sass/blocks.scss */
.latest .controls {
  left: 0;
  position: absolute;
  top: 113px;
  width: 100%;
  z-index: 11;
}
/* line 280, ../sass/blocks.scss */
.latest .controls .arrow {
  background-color: false;
  background-image: url("../images/arrows.png");
  background-repeat: no-repeat;
  background-position: -113px 15px;
  text-indent: -9999em;
  cursor: pointer;
  height: 22px;
  padding: 15px 15px 15px 10px;
  position: absolute;
  width: 16px;
}
/* line 61, ../sass/_custom.scss */
.svg .latest .controls .arrow {
  background-image: url("../images/arrows.svg");
}
/* line 66, ../sass/_custom.scss */
.latest .controls .arrow:hover {
  background-position: -113px -35px;
}
/* line 288, ../sass/blocks.scss */
.latest .controls .next-nav {
  background-position: -157px 15px;
  padding: 15px 10px 15px 15px;
  right: 0;
}
/* line 79, ../sass/_custom.scss */
.latest .controls .next-nav:hover {
  background-position: -157px -35px;
}
/* line 295, ../sass/blocks.scss */
.latest .pager {
  margin: 0 auto;
  padding-top: 17px;
  width: 90px;
}
/* line 300, ../sass/blocks.scss */
.latest .pager a {
  background-color: false;
  background-image: url("../images/bullets-pager.png");
  background-repeat: no-repeat;
  background-position: -32px 0;
  text-indent: -9999em;
  float: left;
  height: 7px;
  margin: 0 5px;
  overflow: hidden;
  width: 8px;
}
/* line 61, ../sass/_custom.scss */
.svg .latest .pager a {
  background-image: url("../images/bullets-pager.svg");
}
/* line 308, ../sass/blocks.scss */
.latest .pager a.activeSlide {
  background-position: 0 0;
}

/**
 * Quicktabs menu
 */
/* line 316, ../sass/blocks.scss */
ul.quicktabs-tabs {
  margin: 0;
  padding: 0;
}
/* line 320, ../sass/blocks.scss */
ul.quicktabs-tabs li {
  background: #333;
  color: #FFF;
  float: left;
  font-size: 0.8em;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
/* line 334, ../sass/blocks.scss */
ul.quicktabs-tabs li:hover {
  background: #555;
}
/* line 337, ../sass/blocks.scss */
ul.quicktabs-tabs li a {
  color: #BBBBBB;
}
/* line 341, ../sass/blocks.scss */
.quicktabs-gray ul.quicktabs-tabs li {
  background: #000;
  border-right: 1px solid #333;
  color: #BABABA;
  text-transform: none;
  width: 99px;
}
/* line 348, ../sass/blocks.scss */
.quicktabs-gray ul.quicktabs-tabs li.active {
  background: #555 !important;
  border: none;
  color: #FFF;
  width: 100px;
}
/* line 354, ../sass/blocks.scss */
.quicktabs-gray ul.quicktabs-tabs li.active:hover {
  background: #555;
}
/* line 357, ../sass/blocks.scss */
.quicktabs-gray ul.quicktabs-tabs li.active a {
  color: #FFF;
}
/* line 360, ../sass/blocks.scss */
.quicktabs-gray ul.quicktabs-tabs li.active span.arrow {
  border-top-color: #555 !important;
}
/* line 364, ../sass/blocks.scss */
.quicktabs-gray ul.quicktabs-tabs li:hover {
  background: #333;
}
/* line 367, ../sass/blocks.scss */
.quicktabs-gray ul.quicktabs-tabs li.last {
  border: none;
  width: 100px;
}
/* line 371, ../sass/blocks.scss */
.quicktabs-gray ul.quicktabs-tabs li a {
  color: #BABABA;
}
/* line 376, ../sass/blocks.scss */
ul.quicktabs-tabs li.active {
  background: #fb4c1c;
}
/* line 379, ../sass/blocks.scss */
ul.quicktabs-tabs li.active a {
  color: #FFF;
}
/* line 382, ../sass/blocks.scss */
ul.quicktabs-tabs li.active span.arrow {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fb4c1c;
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;
  width: 0;
  z-index: 1;
}

/**
 * Most ... - Most visited, most shared - Sidebar block (Quicktabs)
 */
/* line 401, ../sass/blocks.scss */
.most {
  /*ds regions*/
  /*fields*/
  /*timeago*/
  /*block most full size*/
  /*block most small size*/
}
/* line 404, ../sass/blocks.scss */
.most .ds-below-region {
  bottom: 5px;
  left: 0;
  margin: 0 10px;
}
/* line 412, ../sass/blocks.scss */
.most h3 {
  color: #535353;
  line-height: 1;
  margin: 0;
  overflow: hidden;
}
/* line 418, ../sass/blocks.scss */
.most h3 a {
  color: #535353;
}
/* line 423, ../sass/blocks.scss */
.most .field-name-post-date-timeago {
  color: #AAA;
  font-size: 0.8em;
}
/* line 429, ../sass/blocks.scss */
.most.full-most {
  *float: none;
  /*margin: {
    left: 20px;
    right: 20px;
  }
  width: 260px;*/
}
/* line 437, ../sass/blocks.scss */
.most.full-most .node {
  background: #333;
  height: 132px;
  overflow: hidden;
  /*width: 260px;*/
}
/* line 444, ../sass/blocks.scss */
.most.full-most h3 {
  color: #FFF;
  margin-bottom: -1px;
}
/* line 448, ../sass/blocks.scss */
.most.full-most h3 a {
  color: #FFF;
}
/* line 455, ../sass/blocks.scss */
.most.small-most {
  /*multimedia img*/
}
/* line 457, ../sass/blocks.scss */
.most.small-most .views-row {
  border-top: 2px solid #F1EEEC;
  padding: 17px 0;
}
/* line 461, ../sass/blocks.scss */
.most.small-most .views-row-first {
  border: none;
  padding: 19px 0 17px;
}
/* line 466, ../sass/blocks.scss */
.most.small-most .ds-content-region > div.node {
  float: left;
  margin-right: 20px;
  width: 80px;
  /*fix IE*/
}
/* line 472, ../sass/blocks.scss */
.most.small-most h3 {
  margin: 1px 0 -1px;
}
/* line 475, ../sass/blocks.scss */
.most.small-most h3 a:hover {
  text-decoration: underline;
}

/**
 * Opinion - Nuestas Voces - Prefooter & Sidebar block
 */
/* line 484, ../sass/blocks.scss */
.opinion {
  /*ds regions*/
  /*fields*/
}
/* line 487, ../sass/blocks.scss */
.opinion .ds-below-region {
  position: relative;
}
/* line 492, ../sass/blocks.scss */
.opinion .taxonomy-term-description {
  color: #666;
  font: italic normal 0.75em Verdana, Tahoma, "DejaVu Sans", sans-serif;
  margin: 0;
}
/* line 497, ../sass/blocks.scss */
.opinion .taxonomy-term-description p {
  margin: 0;
}

/*block opinion - top front page*/
/* line 503, ../sass/blocks.scss */
.block.opinion-top {
  float: none;
  margin-bottom: 12px;
  overflow: hidden;
  /*ds regions*/
  /*fields*/
  /*photo*/
  /*icon*/
  /*author*/
  /*more link*/
}
/* line 508, ../sass/blocks.scss */
.block.opinion-top h4 {
  position: relative;
}
/* line 511, ../sass/blocks.scss */
.block.opinion-top .views-row {
  border-bottom: 2px solid #F1EEEC;
  float: left;
  font-style: italic;
  margin: 12px 0;
  width: 100%;
}
/* line 518, ../sass/blocks.scss */
.block.opinion-top .views-row .node {
  min-height: 100px;
  padding-bottom: 12px;
}
/* line 525, ../sass/blocks.scss */
.block.opinion-top .ds-content-region {
  float: left;
  overflow: hidden;
  width: 140px;
}
/* line 530, ../sass/blocks.scss */
.block.opinion-top .ds-below-region {
  margin-left: 160px;
  overflow: hidden;
}
/* line 537, ../sass/blocks.scss */
.block.opinion-top .field-name-field-author {
  bottom: 0;
  float: left;
  left: 10px;
  max-height: 116px;
  overflow: hidden;
  position: absolute;
  width: 110px;
}
/* line 548, ../sass/blocks.scss */
.block.opinion-top .icon {
  background-color: false;
  background-image: url("../images/content-type-voces.png");
  background-repeat: no-repeat;
  background-position: false;
  text-indent: -9999em;
  float: right;
  height: 24px;
  position: relative;
  width: 30px;
}
/* line 61, ../sass/_custom.scss */
.svg .block.opinion-top .icon {
  background-image: url("../images/content-type-voces.svg");
}
/* line 555, ../sass/blocks.scss */
.block.opinion-top .icon-video {
  background-position: 1px -143px;
}
/* line 561, ../sass/blocks.scss */
.block.opinion-top h3,
.block.opinion-top span {
  float: left;
}
/* line 564, ../sass/blocks.scss */
.block.opinion-top .field-name-author-social-voices {
  margin-top: 10px;
}
/* line 567, ../sass/blocks.scss */
.block.opinion-top .field-name-author-social-voices span {
  color: #777;
  font-family: "Stag Web", Georgia, Times, sans-serif;
  margin-left: 5px;
}
/* line 575, ../sass/blocks.scss */
.block.opinion-top .field-name-node-link a {
  background-color: false;
  background-image: url("../images/arrows.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  text-indent: -9999em;
  height: 16px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 40%;
  width: 10px;
}
/* line 61, ../sass/_custom.scss */
.svg .block.opinion-top .field-name-node-link a {
  background-image: url("../images/arrows.svg");
}
/* line 66, ../sass/_custom.scss */
.block.opinion-top .field-name-node-link a:hover {
  background-position: 10px -40px;
}

/*block opinion full size*/
/* line 586, ../sass/blocks.scss */
.full-opinion {
  /*ds regions*/
  /*fields*/
}
/* line 588, ../sass/blocks.scss */
.full-opinion td {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  float: left;
  height: 223px;
  overflow: hidden;
  padding: 48px 10px 0;
  position: relative;
  width: 218px;
}
/* line 600, ../sass/blocks.scss */
.full-opinion td.col-first {
  border-left: none;
  padding-left: 20px;
  width: 209px;
}
/* line 605, ../sass/blocks.scss */
.full-opinion td.col-first .ds-below-region {
  width: 209px;
}
/* line 609, ../sass/blocks.scss */
.full-opinion td.col-last {
  border-right: none;
  padding-right: 20px;
  width: 209px;
}
/* line 614, ../sass/blocks.scss */
.full-opinion td.col-last .ds-bottom-region {
  right: 20px;
}
/* line 621, ../sass/blocks.scss */
.full-opinion .ds-below-region {
  background: #EBE7E4;
  bottom: 0;
  float: left;
  height: 51px;
  margin: 0 -10px;
  padding: 16px 10px;
  position: absolute;
  width: 218px;
}
/* line 631, ../sass/blocks.scss */
.full-opinion .ds-bottom-region {
  bottom: 45px;
  position: absolute;
  right: 10px;
}
/* line 638, ../sass/blocks.scss */
.full-opinion img {
  display: block;
  float: none;
  margin: 0 auto;
}

/*block opinion small size*/
/* line 646, ../sass/blocks.scss */
.small-opinion {
  /*ds regions*/
  /*fields*/
}
/* line 648, ../sass/blocks.scss */
.small-opinion .view {
  background: #f1eeec;
  margin-top: 36px;
}
/* line 652, ../sass/blocks.scss */
.small-opinion .view .views-row {
  border-bottom: 2px solid #FFF;
  height: 68px;
  padding: 20px 10px 0 15px;
  position: relative;
}
/* line 661, ../sass/blocks.scss */
.small-opinion .ds-content-region {
  float: left;
  padding-left: 60px;
  width: 140px;
}
/* line 666, ../sass/blocks.scss */
.small-opinion .ds-bottom-region {
  float: left;
  margin: 8px 0 0 15px;
  position: relative;
  width: 60px;
}
/* line 674, ../sass/blocks.scss */
.small-opinion .field-name-field-photo-image {
  bottom: 0;
  left: 10px;
  position: absolute;
}
/* line 679, ../sass/blocks.scss */
.small-opinion h3 {
  margin: -3px 0 1px;
}

/**
 * poll - front page
 */
/* line 686, ../sass/blocks.scss */
.block.poll {
  background: #f1eeec;
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  color: #878787;
  min-height: 448px;
  padding: 48px 15px 20px;
  width: 270px;
  /*results*/
  /*submit*/
}
/* line 694, ../sass/blocks.scss */
.block.poll .choices {
  width: 100%;
}
/* line 697, ../sass/blocks.scss */
.block.poll .choices .form-item-choice {
  margin: 10px 0;
}
/* line 703, ../sass/blocks.scss */
.block.poll .text {
  float: left;
}
/* line 706, ../sass/blocks.scss */
.block.poll .bar {
  background: #fff;
  box-shadow: inset 1px 3px 5px -5px #222;
  height: 10px;
  margin: 5px 0 27px;
  width: 268px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 714, ../sass/blocks.scss */
.block.poll .bar .foreground {
  background: #fb4c1c;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 100%;
}
/* line 723, ../sass/blocks.scss */
.block.poll .vote-form .form-submit {
  background: #fb4c1c;
}
/* line 726, ../sass/blocks.scss */
.block.poll .vote-form .form-submit:hover {
  background: #FC7049;
}
/* line 731, ../sass/blocks.scss */
.block.poll .form-actions {
  text-align: center;
}
/* line 734, ../sass/blocks.scss */
.block.poll .form-submit {
  background: #878787;
  border: none;
  color: #fff;
  font-size: 0.8em;
  height: 24px;
  padding: 0 10px;
  width: auto;
}
/* line 743, ../sass/blocks.scss */
.block.poll .form-submit:hover {
  background: #AAA;
}

/**
 * Flexslider - Article top
 */
/* line 751, ../sass/blocks.scss */
.top-carousel {
  /*arrows*/
  /*ds regions*/
  /*content*/
}
/* line 754, ../sass/blocks.scss */
.top-carousel .flexslider,
.top-carousel .flex-viewport {
  height: 146px;
  padding: 0;
  width: 880px;
}
/* line 759, ../sass/blocks.scss */
.top-carousel .flexslider {
  padding: 0 30px;
}
/* line 762, ../sass/blocks.scss */
.top-carousel .flex-viewport li {
  position: relative;
}
/* line 767, ../sass/blocks.scss */
.top-carousel .flex-direction-nav a {
  background-color: #454545;
  background-image: url("../images/arrows.png");
  background-repeat: no-repeat;
  background-position: -431px 65px;
  text-indent: -9999em;
  height: 145px;
  width: 30px;
  z-index: 2;
}
/* line 61, ../sass/_custom.scss */
.svg .top-carousel .flex-direction-nav a {
  background-image: url("../images/arrows.svg");
}
/* line 66, ../sass/_custom.scss */
.top-carousel .flex-direction-nav a:hover {
  background-position: -431px -55px;
}
/* line 773, ../sass/blocks.scss */
.top-carousel .flex-direction-nav a.flex-next {
  background-position: -481px 65px;
}
/* line 79, ../sass/_custom.scss */
.top-carousel .flex-direction-nav a.flex-next:hover {
  background-position: -481px -55px;
}
/* line 776, ../sass/blocks.scss */
.top-carousel .flex-direction-nav a.flex-next.flex-disabled {
  background-position: -481px -175px !important;
}
/* line 780, ../sass/blocks.scss */
.top-carousel .flex-direction-nav a.flex-disabled {
  background-position: -431px -175px !important;
}
/* line 785, ../sass/blocks.scss */
.top-carousel .node {
  background: #222;
  height: 145px;
}
/* line 791, ../sass/blocks.scss */
.top-carousel .ds-below-region {
  bottom: 11px;
  left: 0;
  margin: 0 10px;
}
/* line 798, ../sass/blocks.scss */
.top-carousel .icon {
  left: auto;
  right: 0;
}

/**
 * Search List Input & Filters
 */
/* line 807, ../sass/blocks.scss */
.search #highlighted .inner-block {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}
/* line 812, ../sass/blocks.scss */
.search #highlighted .block.search {
  background: #f1eeec;
  border-top: 2px solid #DDD;
  padding: 21px 0 24px;
}
/* line 817, ../sass/blocks.scss */
.search #highlighted .block.search .form-item {
  float: left;
  margin: 0;
}
/* line 821, ../sass/blocks.scss */
.search #highlighted .block.search .form-item input[type="text"] {
  float: left;
  margin-right: 10px;
  width: 680px;
}

/* line 830, ../sass/blocks.scss */
.block-facetapi ul li {
  color: #777;
  list-style-type: none;
}
/* line 834, ../sass/blocks.scss */
.block-facetapi ul li a {
  color: #777;
}
/* line 837, ../sass/blocks.scss */
.block-facetapi ul li a:hover {
  text-decoration: underline;
}

/* line 843, ../sass/blocks.scss */
.facetapi-limit-link {
  background-color: false;
  background-image: url("../images/arrow-searchresults.png");
  background-repeat: no-repeat;
  background-position: right 9px;
  text-indent: -9999em;
  color: #333;
  float: left;
  margin-top: 12px;
  padding-right: 20px;
  text-indent: 0;
}
/* line 61, ../sass/_custom.scss */
.svg .facetapi-limit-link {
  background-image: url("../images/arrow-searchresults.svg");
}
/* line 851, ../sass/blocks.scss */
.facetapi-limit-link.open {
  background-position: right -49px;
}

/**
 * Sport Tabs
 */
/* line 858, ../sass/blocks.scss */
.sport-tabs .block {
  background: #333;
  color: #EEE;
  font-size: 0.8em;
}
/* line 863, ../sass/blocks.scss */
.sport-tabs .block .odd {
  background: #3A3A3A;
}
/* line 866, ../sass/blocks.scss */
.sport-tabs .block table {
  text-align: center;
  width: 100%;
}
/* line 870, ../sass/blocks.scss */
.sport-tabs .block thead {
  background: #222;
}
/* line 873, ../sass/blocks.scss */
.sport-tabs .block tr {
  border-top: 1px solid #444;
}
/* line 877, ../sass/blocks.scss */
.sport-tabs .block th,
.sport-tabs .block td {
  border-left: 1px solid #444;
  padding: 5px;
}
/* line 882, ../sass/blocks.scss */
.sport-tabs .block td.odd {
  background: #393939;
}
/* line 885, ../sass/blocks.scss */
.sport-tabs .block td.even {
  background: #3F3F3F;
}
/* line 890, ../sass/blocks.scss */
.sport-tabs .block th.first,
.sport-tabs .block td.first {
  border: none;
  padding-left: 26px;
  padding-right: 10px;
  text-align: left;
}
/* line 898, ../sass/blocks.scss */
.sport-tabs .block th.week {
  color: #40b29d;
  text-transform: uppercase;
}
/* line 902, ../sass/blocks.scss */
.sport-tabs .block span.goals {
  float: right;
  font-weight: bold;
  margin-right: 10px;
}
/* line 907, ../sass/blocks.scss */
.sport-tabs .block .game {
  overflow: hidden;
  padding: 25px 20px;
}
/* line 911, ../sass/blocks.scss */
.sport-tabs .block .game span {
  display: block;
}
/* line 914, ../sass/blocks.scss */
.sport-tabs .block .game .date {
  font-weight: bold;
  margin-bottom: 6px;
}
/* line 918, ../sass/blocks.scss */
.sport-tabs .block .game .finished {
  text-transform: uppercase;
}
/* line 921, ../sass/blocks.scss */
.sport-tabs .block .game .hour {
  color: #BBB;
  line-height: 1.2;
  text-transform: uppercase;
}
/* line 926, ../sass/blocks.scss */
.sport-tabs .block .game a {
  color: #40b29d;
  line-height: 1.2;
  text-decoration: underline;
}
/* line 931, ../sass/blocks.scss */
.sport-tabs .block .game .game-teams {
  font-size: 1.1em;
  width: 142px;
}
/* line 935, ../sass/blocks.scss */
.sport-tabs .block .game .team-1 {
  border-bottom: 1px solid #555;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

/**
 * Workebench info
 */
/* line 945, ../sass/blocks.scss */
div.workbench-info-block {
  border-style: solid;
  margin-bottom: 12px;
}

/**
 * Admin Devel
 */
/* line 954, ../sass/blocks.scss */
#block-admin-devel {
  background: #333;
  color: #bbb;
  margin-top: 24px;
  padding-top: 18px;
}
/* line 960, ../sass/blocks.scss */
#block-admin-devel .inner-block {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 965, ../sass/blocks.scss */
#block-admin-devel a {
  color: #FFF;
}
/* line 968, ../sass/blocks.scss */
#block-admin-devel h2 {
  background-color: false;
  background-image: url("../images/drupal-icons.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999em;
  color: #FFF;
  line-height: 46px;
  text-indent: 58px;
}
/* line 61, ../sass/_custom.scss */
.svg #block-admin-devel h2 {
  background-image: url("../images/drupal-icons.svg");
}
/* line 974, ../sass/blocks.scss */
#block-admin-devel .admin-pane-switch_user h2 {
  background-position: 0 -147px;
}
/* line 977, ../sass/blocks.scss */
#block-admin-devel .admin-pane-execute h2 {
  background-position: 0 -294px;
}
/* line 980, ../sass/blocks.scss */
#block-admin-devel .admin-pane-menu h2 {
  background-position: 0 -441px;
}
/* line 983, ../sass/blocks.scss */
#block-admin-devel h4 {
  background: none;
  border-bottom: 1px solid #555;
  float: none;
  font-weight: bold;
  margin: 0 10px;
  padding: 0 0 6px;
  position: static;
}
/* line 992, ../sass/blocks.scss */
#block-admin-devel ul {
  font-size: 13px;
  list-style: none;
}
/* line 996, ../sass/blocks.scss */
#block-admin-devel ul li {
  float: left;
  padding-right: 2%;
  width: 48%;
}
/* line 1002, ../sass/blocks.scss */
#block-admin-devel ul a:hover {
  text-decoration: underline;
}
/* line 1007, ../sass/blocks.scss */
#block-admin-devel .admin-pane {
  float: left;
  margin: 0 10px 24px;
  min-height: 336px;
  width: 460px;
}
/* line 1013, ../sass/blocks.scss */
#block-admin-devel .admin-pane .admin-pane-content {
  padding-left: 58px;
}
/* line 1018, ../sass/blocks.scss */
#block-admin-devel input[type="text"] {
  width: 338px;
}
/* line 1022, ../sass/blocks.scss */
#block-admin-devel .form-textarea-wrapper {
  width: 400px;
}
/* line 1026, ../sass/blocks.scss */
#block-admin-devel .description {
  font-size: 12px;
  font-style: italic;
}
