html,body{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

#container{
	width:300px;
	height: 250px;
}

#sorry{
	display:none;
	text-align:center;
	font-size:24px;
	line-height:36px;
	font-style:italic;
	color:#CB365D;
	text-shadow:1px 1px 0 #fff;
	text-align:center;
	padding:100px 0;
}

#level{
	position:relative;
	margin:0 auto;
	background-color:#fff;
	padding:0px;
}

#level-h{
	height:250px;
	width: 300px;
	float:left;
	position: relative;
	overflow: hidden;
}

#h-box{
	position:relative;
	background-color:#fff;
	margin:auto;
	z-index:300;
	overflow:hidden;
	background-image: url(../images/BG.png);
}

#h-box{
	width:700px;
	height:250px;
	position: absolute;
	left: -100%;
}

#h{
	z-index:800;
	overflow:hidden;
	position:absolute;
	display:block;
	width: 700px;
    height: 354px;
	margin-left: 90px;
	margin-top: -5px;
    background-image: url(../images/busch-bottle-2.png);
}

#canvas {
    position: absolute;
	left: 300px;
	z-index: 900;
	width: 500px;
	height: 250px !important;
}

#decreto {
	z-index:808;
	overflow:hidden;
	position: absolute;
	bottom: 0;
	display:block;
	width:300px;
	height:12px;
	margin-left:300px;
    background-image: url(../images/decreto.png);
}
