@font-face {
  font-family: 'Coustard';
  font-style: normal;
  font-weight: 400;
  src: local('Coustard'), url(http://fonts.gstatic.com/s/coustard/v6/A3DqZ8KQbto2lGg0IL8SIvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
