/*
** custom css stylesheet Soy 502


.page-taxonomy-term-306 #block-views-portada-reportajes-block h4.block__title{
	background-color:#6C0;
}
.view-mode-nota_reportaje .field-name-social-likes-node
{
	left:-80px;
}
.page-taxonomy-term-306 .field-name-mask{
	background-color:#06C;
	z-index:40;
	}
.page-taxonomy-term-306 .view-mode-small_highlight_reportajes{
	width:310px;
	}
.page-taxonomy-term-306 .views-row-2, .views-row-3{
	margin-right:5px;
	margin-bottom:5px;
}
.page-taxonomy-term-306 .view-mode-reportajes{
	display:inline-block;
	position:relative;
	}
.page-taxonomy-term-306 #block-views-portada-reportajes-block .views-row {
	position:relative;
	display:block;
	float:left;
	}
.page-taxonomy-term-306 .view-id-portada_reportajes .field-name-link a{
	z-index:41;
	}

.page-taxonomy-term-306 #block-views-portada-reportajes-block .field-name-social-share{
	z-index:42;
	position:absolute;
	}
.reportaje-node-especial .content-container{
	width:940px;
	margin:auto;
	overflow:visible;
	}
.reportaje-node-especial .field-name-social-likes-node{
	left:-78px;
	}
.reportaje-node-especial #content{
	overflow:visible;
	}
*/

.bg-anunciate{
	background:url("/sites/all/themes/dronix/images/IMAGEN-ANUNCIO-SITIO-WEB.jpg") no-repeat !important;
	
}

.field-name-field-documento-adjunto{
	padding:10px 5px;
	width:450px;
	float:right;
	background-color:#F1EEEC;
	}

.field-name-field-documento-adjunto img{
	display:none;
}
.field-name-field-documento-adjunto a{
	background:url("../../../../themes/dronix/images/Document-icon-d.png") no-repeat left center;
	display:block;
	padding-left:20px;
}
.field-name-field-documento-adjunto a:hover{
	text-decoration:underline;
}
/* Estilos Match */
.inline-element-juego{
	background-color:#F1EEEC;
	padding:10px;
	font-family:"Stag Web",Georgia,Times,sans-serif;
	}
.inline-element-juego div{
	display:block;
	overflow:hidden;
	}
.inline-element-juego .content{
	background-color:#FFF;
	padding:10px;
}
.inline-element-juego .field-name-field-torneo{
	border-bottom:1px dashed #F1EEEC;
	margin-bottom:5px;
	padding-bottom:5px;
	}
.inline-element-juego .field-name-field-equipo-local-prueba{
	width:120px;
	float:left;
	padding:5px;
	border:1px solid #F1EEEC;
	}
.inline-element-juego .field-name-field-equipo-visitante{
	width:120px;
	float:right;
	padding:5px;
	border:1px solid #F1EEEC;	}

.inline-element-juego .field-name-field-equipo-local-prueba .field-label{
	}
.inline-element-juego .field-name-field-equipo-local-prueba h2{
	font-size:12px;
	margin:0;
	padding:0;
	text-align:center;
	}
.inline-element-juego .field-name-field-equipo-local-prueba content{
	width:30px;
	margin:auto;
	}

.inline-element-juego .field-name-field-equipo-local-prueba .field-items .field-name-field-escudo img{
	width:50px;
}
.inline-element-juego .field-name-field-equipo-visitante .field-label{
	}
.inline-element-juego .field-name-field-equipo-visitante h2{
	font-size:12px;
	margin:0;
	padding:0;
	text-align:center
	}
.inline-element-juego .field-name-field-equipo-visitante content{
	width:30px;
	margin:auto;
	}

.inline-element-juego .field-name-field-escudo{
	width:50px;
	margin:auto;
	}

.inline-element-juego .field-name-field-equipo-visitante .field-items .field-name-field-escudo img{
	width:50px;
	}
.inline-element-juego .field-name-field-marcador-local{
	font-size:40px;
	width:90px;
	float:left;
	text-align:center;
	line-height:70px;
	}
.inline-element-juego .field-name-field-marcador-visitante{
	font-size:36px;
	width:90px;
	float:right;
	text-align:center;
	line-height:70px;
	}
.inline-element-juego .field-name-field-goles-local{
	font-size:12px;
	width:240px;
	float:left;
	clear:left;
	}
.inline-element-juego .field-name-field-goles-visita{
	font-size:12px;
	width:240px;
	float:right;
	clear:right;
	text-align:right;
	}
.inline-element-juego .field-name-field-estadio{
	clear:both;
	border-top:1px dashed #F1EEEC;
	margin-top:5px;
	padding-top:5px;
	}
.field-name-field-archivo-audio, .field-name-format-date-node{
	float:right !important;
	width:540px;
	}
.jp-audio{
	float:right;
	width:540px !important;
	}