/**
 * @file
 * Field Styling
 *
 * The Fences module allows site builders to pick the semeantic HTML5 element
 * for each field while editing the field's settings. There's no way a theme
 * can ever know which element to use for the fields on your site, so Zen
 * just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
 * divs around every field (do you?), we highly recommend Fences.
 *
 * http://drupal.org/project/fences
 */
/*
 * Field wrappers when the Fences module is enabled.
 */
/* line 21, ../sass/fields.scss */
.field-label {
  /* The optional label for a field. */
}

/* line 24, ../sass/fields.scss */
.field-FIELDNAME {
  /* Underscores in field name are replaced with dashes. */
}

/*
 * If you don't use the Fences module, that's fine. Really. I think. Just use
 * these selectors instead:
 */
/* line 33, ../sass/fields.scss */
.field {
  /* Wrapper for any field. */
}

/*
 * Field types (Core)
 */
/*
 * Field types (Contrib)
 */
/* line 83, ../sass/fields.scss */
.field-type-datetime {
  /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

/*
 * Named fields
 */
/* line 99, ../sass/fields.scss */
.field-name-body a {
  display: inline;
}

/* line 110, ../sass/fields.scss */
.field-name-field-FIELDNAME {
  /* Underscores in field name are replaced with dashes. */
}

/**
 * display suite regions - one column hidden region
 */
/* line 116, ../sass/fields.scss */
.ds-below-region {
  position: absolute;
}

/* line 119, ../sass/fields.scss */
.ds-bottom-region {
  bottom: 0;
  position: absolute;
}

/*
 * Social Share Icons
 */
/*All urls and positions located in _base.scss*/
/* line 128, ../sass/fields.scss */
.field-name-social-share {
  background: #FFF;
  height: 34px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 34px;
  z-index: 4;
  /*.at16t_facebook*/
}
/* line 137, ../sass/fields.scss */
.teaser-grid .field-name-social-share {
  background: transparent;
  bottom: 18px;
  position: absolute;
  left: 15px;
}
/* line 143, ../sass/fields.scss */
.teaser-list .field-name-social-share {
  background: transparent;
  margin: -5px 0 0 -5px;
  position: absolute;
}
/* line 148, ../sass/fields.scss */
.special .field-name-social-share {
  background: transparent;
  position: absolute;
  left: -5px;
  top: -5px;
}
/* line 154, ../sass/fields.scss */
.small-special .field-name-social-share {
  left: 5px;
  top: 3px;
}
/* line 158, ../sass/fields.scss */
.field-name-social-share:hover {
  width: 140px;
}
/* line 163, ../sass/fields.scss */
.teaser-grid .field-name-social-share:hover, .teaser-list .field-name-social-share:hover, .special .field-name-social-share:hover {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  background-color: #FFF;
}
/* line 168, ../sass/fields.scss */
.field-name-social-share .share-icon {
  background-color: false;
  background-image: url("../images/share-icon.png");
  background-repeat: no-repeat;
  background-position: 9px 8px;
  text-indent: -9999em;
  background-color: #f1eeec;
  display: block;
  height: 24px;
  padding: 5px;
  position: absolute;
  right: 0;
  width: 24px;
  z-index: 2;
}
/* line 61, ../sass/_custom.scss */
.svg .field-name-social-share .share-icon {
  background-image: url("../images/share-icon.svg");
}
/* line 181, ../sass/fields.scss */
.teaser-grid .field-name-social-share .share-icon, .teaser-list .field-name-social-share .share-icon, .special .field-name-social-share .share-icon {
  background-color: #BABABA;
  background-position: -75px 3px;
  height: 24px;
  left: 0;
  margin: 5px;
  padding: 0;
}
/* line 190, ../sass/fields.scss */
.special .field-name-social-share .share-icon {
  background-color: #444;
}
/* line 194, ../sass/fields.scss */
.field-name-social-share a {
  background-color: #FFF;
  background-color: false;
  background-image: url("../images/social-share.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999em;
  float: none;
  height: 24px;
  overflow: hidden;
  margin: 5px;
  position: absolute;
  width: 24px;
  width: 20px !important;
}
/* line 61, ../sass/_custom.scss */
.svg .field-name-social-share a {
  background-image: url("../images/social-share.svg");
}
/* line 204, ../sass/fields.scss */
.field-name-social-share a span {
  display: none !important;
}
/* line 208, ../sass/fields.scss */
.field-name-social-share a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 212, ../sass/fields.scss */
.field-name-social-share a > span {
  background: none;
}
/* line 218, ../sass/fields.scss */
.field-name-social-share .addthis_button_facebook {
  background-position: 0 0;
  left: 0;
}
/* line 224, ../sass/fields.scss */
.teaser-grid .field-name-social-share .addthis_button_facebook, .teaser-list .field-name-social-share .addthis_button_facebook, .special .field-name-social-share .addthis_button_facebook {
  left: 34px;
}
/* line 229, ../sass/fields.scss */
.field-name-social-share .addthis_button_twitter {
  background-position: -35px 0;
  left: 34px;
}
/* line 235, ../sass/fields.scss */
.teaser-grid .field-name-social-share .addthis_button_twitter, .teaser-list .field-name-social-share .addthis_button_twitter, .special .field-name-social-share .addthis_button_twitter {
  left: 70px;
}
/* line 240, ../sass/fields.scss */
.field-name-social-share .addthis_button_google_plusone_share {
  background-position: -70px 0;
  left: 68px;
}
/* line 246, ../sass/fields.scss */
.teaser-grid .field-name-social-share .addthis_button_google_plusone_share, .teaser-list .field-name-social-share .addthis_button_google_plusone_share, .special .field-name-social-share .addthis_button_google_plusone_share {
  left: 104px;
}

/**
 * Multimedia Icon
 */
/* line 254, ../sass/fields.scss */
.icon {
  background-color: false;
  background-image: url("../images/multimedia.png");
  background-repeat: no-repeat;
  background-position: false;
  text-indent: -9999em;
  float: left;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
  z-index: 2;
}
/* line 61, ../sass/_custom.scss */
.svg .icon {
  background-image: url("../images/multimedia.svg");
}

/* line 264, ../sass/fields.scss */
.icon-photo-gallery {
  background-position: -67px 0;
}

/* line 267, ../sass/fields.scss */
.icon-photo {
  background: none !important;
}

/**
 * Hashtag or Topic
 */
/* line 274, ../sass/fields.scss */
.field-name-field-topic {
  background: #777;
  clear: both;
  color: #FFF;
  float: left;
  font-size: 0.875em;
  font-style: italic;
  /*at mosaic*/
  /*at node*/
}
/* line 284, ../sass/fields.scss */
.field-name-field-topic a {
  color: #FFF;
  padding: 0 5px;
}
/* line 289, ../sass/fields.scss */
.field-name-field-topic:hover {
  background: #555;
}
/* line 294, ../sass/fields.scss */
.mosaic .field-name-field-topic, .special .field-name-field-topic {
  background: #333;
  margin: 12px 10px 0;
  position: relative;
  z-index: 2;
}
/* line 300, ../sass/fields.scss */
.mosaic .field-name-field-topic:hover, .special .field-name-field-topic:hover {
  background: #222;
}
/* line 304, ../sass/fields.scss */
.special .field-name-field-topic {
  margin-top: 0;
}
/* line 308, ../sass/fields.scss */
.node.view-mode-full .group-header .field-name-field-topic {
  background: none;
  color: #666;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 7px;
}
/* line 317, ../sass/fields.scss */
.node.view-mode-full .group-header .field-name-field-topic a {
  color: #666;
}
/* line 320, ../sass/fields.scss */
.node.view-mode-full .group-header .field-name-field-topic a:hover {
  color: #888;
}

/**
 * Section Field
 */
/* line 330, ../sass/fields.scss */
.field-name-section-label {
  color: #fb4c1c;
  float: left;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1;
  margin: 4px 0 9px;
  text-transform: uppercase;
}
/* line 341, ../sass/fields.scss */
.field-name-section-label a {
  color: #fb4c1c;
}
/* line 344, ../sass/fields.scss */
.field-name-section-label a:hover {
  text-decoration: underline;
}
/* line 349, ../sass/fields.scss */
.node.view-mode-full .field-name-section-label {
  color: #444;
  margin: 7px 0 12px;
  font-size: 1.8em;
  line-height: 1.77778em;
}
/* line 354, ../sass/fields.scss */
.node.view-mode-full .field-name-section-label a {
  color: #444;
  text-decoration: none;
}
/* line 358, ../sass/fields.scss */
.node.view-mode-full .field-name-section-label a:hover {
  color: #777;
}

/* line 364, ../sass/fields.scss */
.field-name-section-label-photos-videos {
  background: #540072;
  color: #FFF;
  font-size: 0.8em;
  left: 0;
  padding: 0 8px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  z-index: 2;
}
/* line 375, ../sass/fields.scss */
.field-name-section-label-photos-videos a {
  color: #FFF;
}
/* line 379, ../sass/fields.scss */
.node.view-mode-full .field-name-section-label-photos-videos {
  background: none;
  color: #444;
  font-weight: bold;
  margin: 7px 0 12px;
  padding: 0;
  position: static;
  font-size: 1.8em;
  line-height: 1.77778em;
}
/* line 388, ../sass/fields.scss */
.node.view-mode-full .field-name-section-label-photos-videos a {
  color: #444;
  text-decoration: none;
}

/**
 * Mask & Link overlay
 */
/* line 398, ../sass/fields.scss */
.field-name-mask,
.field-name-link a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 405, ../sass/fields.scss */
.field-name-link a {
  background: url("../images/opacities/px-transparent.png") 0 0;
  z-index: 3;
}
/* line 409, ../sass/fields.scss */
.mosaic-special .field-name-link a {
  width: 930px;
}

/**
 * Mask Opacities
 */
/* line 416, ../sass/fields.scss */
.field-name-mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  /*special - front page & sidebar*/
  /*block most - sidebar frontpage*/
  /*last minute - sidebar*/
  /*article top*/
  /*mosaic*/
  /*mosiac multimedia small - frontpage*/
  /*mosiac multimedia section - photos & videos*/
  /*mosaic theme - theme highlight*/
}
/* line 419, ../sass/fields.scss */
.node:hover .field-name-mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 424, ../sass/fields.scss */
.special .node .field-name-mask {
  background: #086fa3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 428, ../sass/fields.scss */
.special .node:hover .field-name-mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 433, ../sass/fields.scss */
.most .node .field-name-mask {
  background: url("../images/gradients/the-most.png") repeat-x 0 bottom;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  filter: none;
}
/* line 437, ../sass/fields.scss */
.most .node:hover .field-name-mask {
  background: #fb4c1c;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 443, ../sass/fields.scss */
.latest .node .field-name-mask {
  background: url("../images/gradients/latest.png") repeat-x 0 top;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  filter: none;
}
/* line 449, ../sass/fields.scss */
.top-carousel .field-name-mask {
  background: url("../images/gradients/carousel-nodes.png") repeat-x 0 bottom;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  filter: none;
}
/* line 455, ../sass/fields.scss */
.mosaic .field-name-mask {
  background: #fb4c1c;
}
/* line 460, ../sass/fields.scss */
.mosaic-multimedia-small .field-name-mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  filter: none;
}
/* line 465, ../sass/fields.scss */
.mosaic-multimedia-section .field-name-mask {
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 471, ../sass/fields.scss */
.mosaic-theme .field-name-mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  filter: none;
}

/**
 * Social networks authors
 */
/* line 480, ../sass/fields.scss */
a.voices-link {
  background-color: false;
  background-image: url("../images/social-network.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999em;
  float: left;
  height: 20px;
  margin: 2px 0 0 10px;
  width: 20px;
}
/* line 61, ../sass/_custom.scss */
.svg a.voices-link {
  background-image: url("../images/social-network.svg");
}
/* line 66, ../sass/_custom.scss */
a.voices-link:hover {
  background-position: 0 -40px;
}
/* line 487, ../sass/fields.scss */
a.voices-link.fb {
  background-position: -31px 0;
}
/* line 79, ../sass/_custom.scss */
a.voices-link.fb:hover {
  background-position: -31px -40px;
}

/**
 *  Social count box - tweets, fb likes & comments
 */
/* line 495, ../sass/fields.scss */
.field-name-social-counts-box {
  clear: left;
  left: 34px;
  position: relative;
  z-index: 1;
}
/* line 501, ../sass/fields.scss */
.field-name-social-counts-box div.count-wrap {
  background: #BABABA;
  color: #FFF;
  float: left;
  font-size: 0.9em;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
  overflow: hidden;
  padding: 0 5px;
}
/* line 512, ../sass/fields.scss */
.field-name-social-counts-box div.count-wrap span.count {
  background-image: url("../images/share-blancos.png");
  background-repeat: no-repeat;
  background-position: 0 5px;
  text-indent: -9999em;
  float: left;
  overflow: hidden;
  width: 20px;
}
/* line 522, ../sass/fields.scss */
.field-name-social-counts-box div.count-wrap span.count.count-tw {
  background-position: -54px 5px;
}
/* line 525, ../sass/fields.scss */
.field-name-social-counts-box div.count-wrap span.count.count-fb {
  background-position: -110px 5px;
}
/* line 529, ../sass/fields.scss */
.field-name-social-counts-box div.count-wrap .at-icon-wrapper {
  display: none;
}
/* line 532, ../sass/fields.scss */
.field-name-social-counts-box div.count-wrap a {
  background: none !important;
  /*fix IE*/
  color: #FFF !important;
  display: inline;
  width: auto !important;
  /*fix IE*/
}
/* line 538, ../sass/fields.scss */
.special .field-name-social-counts-box div.count-wrap {
  background: #444;
}

/**
 * Social likes and share - node & multimedia
 */
/*icons field - article*/
/* line 549, ../sass/fields.scss */
.field-name-social-likes-node {
  left: 0px;
  position: absolute;
  top: 0;
  width: 60px;
}
/* line 554, ../sass/fields.scss */
.field-name-social-likes-node .addthis_button_facebook_like {
  border-bottom: 1px solid #a7a8ac;
  height: 55px;
  margin-bottom: 20px;
}
/* line 560, ../sass/fields.scss */
.field-name-social-likes-node .social-share-fixed a {
  width: 50.40px !important;
  height: 50.40px !important;
  max-width: 50.40px !important;
  max-height: 50.40px !important;
  margin: 0 auto;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  border-radius: 100% !important;
  margin-bottom: 10px;
}
/* line 571, ../sass/fields.scss */
.field-name-social-likes-node .social-share-fixed a span.at-icon-wrapper {
  width: 44px !important;
  height: 44px !important;
  margin-left: 4px;
}
/* line 577, ../sass/fields.scss */
.field-name-social-likes-node .social-share-fixed a svg {
  width: 42px !important;
  height: 42px !important;
  margin-left: 2px;
  margin-top: 2px;
}
/* line 586, ../sass/fields.scss */
.field-name-social-likes-node.stuck {
  left: auto;
  position: fixed;
}
/* line 591, ../sass/fields.scss */
.field-name-social-likes-node .addthis_toolbox > a {
  margin-top: 20px;
}
/* line 596, ../sass/fields.scss */
.field-name-social-likes-node.tight .share-node-icon {
  margin-top: 10px;
}
/* line 599, ../sass/fields.scss */
.field-name-social-likes-node.tight .addthis_toolbox > a {
  margin-top: 10px;
}
/* line 605, ../sass/fields.scss */
.field-name-social-likes-node.tighter .share-node-icon {
  margin-top: 0;
}
/* line 608, ../sass/fields.scss */
.field-name-social-likes-node.tighter .addthis_toolbox > a {
  margin-top: 0;
}

/*icons field - multimedia node*/
/* line 616, ../sass/fields.scss */
.field-name-social-likes > * {
  float: left;
}
/* line 620, ../sass/fields.scss */
.field-name-social-likes .addthis_toolbox > a {
  margin: 10px 0 0 15px;
}

/*comments count*/
/* line 626, ../sass/fields.scss */
.count-comments {
  background-color: false;
  background-image: url("../images/share-articulos.png");
  background-repeat: no-repeat;
  background-position: 10px 0;
  text-indent: -9999em;
  font-size: 0.65em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-indent: 0;
}
/* line 61, ../sass/_custom.scss */
.svg .count-comments {
  background-image: url("../images/share-articulos.svg");
}
/* line 638, ../sass/fields.scss */
.field-name-social-likes .count-comments {
  background-position: -250px 0;
  border-right: 1px solid #FFF;
  font-size: 0.8em;
  font-style: normal;
  line-height: 40px;
  padding: 0 15px 0 28px;
}
/* line 649, ../sass/fields.scss */
.count-comments .number {
  display: block;
  font-size: 1.45em;
  height: 35px;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  width: 40px;
}

/*mail print and comments*/
/* line 660, ../sass/fields.scss */
.share-node-icon {
  background: url("../images/share-articulos-blancos.png") -120px -70px #4b4b4b;
  height: 40px;
  margin: 20px auto 0;
  padding: 0;
  width: 40px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-repeat: no-repeat;
}
/* line 671, ../sass/fields.scss */
.share-node-icon.print-link {
  background-position: -180px 0;
}
/* line 79, ../sass/_custom.scss */
.share-node-icon.print-link:hover {
  background-position: -180px -70px;
}
/* line 674, ../sass/fields.scss */
.share-node-icon.fb_comments {
  background-position: -240px 0;
}
/* line 79, ../sass/_custom.scss */
.share-node-icon.fb_comments:hover {
  background-position: -240px -70px;
}
/* line 678, ../sass/fields.scss */
.field-name-social-likes .share-node-icon {
  float: left;
  margin: 0 0 0 5px;
}
/* line 682, ../sass/fields.scss */
.field-name-social-likes .share-node-icon.mail-link {
  background-position: -110px 0;
  border-left: 1px solid #FFF;
  padding-left: 10px;
}
/* line 79, ../sass/_custom.scss */
.field-name-social-likes .share-node-icon.mail-link:hover {
  background-position: -110px -70px;
}
/* line 688, ../sass/fields.scss */
.field-name-social-likes .share-node-icon.fb_comments {
  border-right: 1px solid #FFF;
  padding-right: 10px;
}

/* line 698, ../sass/fields.scss */
.field-name-social-likes .social-icons,
.field-name-social-likes-node .social-icons {
  display: block;
  position: relative;
}
/* line 704, ../sass/fields.scss */
.field-name-social-likes .social-icons:hover .addthis_toolbox,
.field-name-social-likes-node .social-icons:hover .addthis_toolbox {
  left: 50px;
  opacity: 1;
}
/* line 710, ../sass/fields.scss */
.field-name-social-likes .social-icons .addthis_toolbox,
.field-name-social-likes-node .social-icons .addthis_toolbox {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0 0 6px 0 #cccccc;
  -moz-box-shadow: 0 0 6px 0 #cccccc;
  box-shadow: 0 0 6px 0 #cccccc;
  background-color: #FFF;
  height: 24px;
  left: 0;
  opacity: 0;
  padding: 8px 0px;
  position: absolute;
  top: 0;
  width: 102px;
}
/* line 722, ../sass/fields.scss */
.field-name-social-likes .social-icons .addthis_toolbox a,
.field-name-social-likes-node .social-icons .addthis_toolbox a {
  background-color: false;
  background-image: url("../images/social-share.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999em;
  height: 24px;
  margin: 0 5px;
  width: 20px;
}
/* line 61, ../sass/_custom.scss */
.svg .field-name-social-likes .social-icons .addthis_toolbox a, .svg
.field-name-social-likes-node .social-icons .addthis_toolbox a {
  background-image: url("../images/social-share.svg");
}
/* line 728, ../sass/fields.scss */
.field-name-social-likes .social-icons .addthis_toolbox a:hover,
.field-name-social-likes-node .social-icons .addthis_toolbox a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 732, ../sass/fields.scss */
.field-name-social-likes .social-icons .addthis_toolbox a span,
.field-name-social-likes-node .social-icons .addthis_toolbox a span {
  display: none;
}
/* line 738, ../sass/fields.scss */
.field-name-social-likes .social-icons .addthis_button_facebook,
.field-name-social-likes-node .social-icons .addthis_button_facebook {
  background-position: 0 0;
  left: 0;
}
/* line 743, ../sass/fields.scss */
.field-name-social-likes .social-icons .addthis_button_twitter,
.field-name-social-likes-node .social-icons .addthis_button_twitter {
  background-position: -35px 0 !important;
  left: 34px;
}
/* line 748, ../sass/fields.scss */
.field-name-social-likes .social-icons .addthis_button_google_plusone_share,
.field-name-social-likes-node .social-icons .addthis_button_google_plusone_share {
  background-position: -70px 0 !important;
  left: 68px;
}
/* line 753, ../sass/fields.scss */
.field-name-social-likes .social-icons .share-icon,
.field-name-social-likes-node .social-icons .share-icon {
  background-color: #f1eeec;
  background-image: url("../images/share-articulos.png");
  background-repeat: no-repeat;
  background-position: -60px 0;
  text-indent: -9999em;
  display: block;
  height: 40px;
  margin: 20px auto 0;
  padding: 0;
  position: relative;
  width: 40px;
  z-index: 1;
}
/* line 61, ../sass/_custom.scss */
.svg .field-name-social-likes .social-icons .share-icon, .svg
.field-name-social-likes-node .social-icons .share-icon {
  background-image: url("../images/share-articulos.svg");
}
/* line 66, ../sass/_custom.scss */
.field-name-social-likes .social-icons .share-icon:hover,
.field-name-social-likes-node .social-icons .share-icon:hover {
  background-position: -60px -70px;
}

/* line 766, ../sass/fields.scss */
.field-name-social-likes .social-icons .share-icon {
  margin-top: 0;
}

/* line 769, ../sass/fields.scss */
.field-name-social-likes .social-icons:hover .addthis_toolbox {
  background-color: #FFF;
  box-shadow: none;
  left: 40px;
  padding: 8px 10px;
}
