/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 43, ../../sass/layouts/fixed-width.scss */
#page,
.region-bottom {
  /* If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. */
  margin-left: auto;
  margin-right: auto;
  min-width: 960px;
  width: auto;
}

/* line 52, ../../sass/layouts/fixed-width.scss */
.inner-940 {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 73, ../../sass/layouts/fixed-width.scss */
.inner-940 {
  padding-left: 10px;
  padding-right: 10px;
  border: 0 !important;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
/* line 91, ../../sass/layouts/fixed-width.scss */
#main {
  /*padding-top: 3em;*/
  /* Move all the children of #main down to make room. */
  border-top: 5px solid #fb4c1c;
  position: relative;
}
/* line 96, ../../sass/layouts/fixed-width.scss */
.front #main {
  border: none;
}

/* line 100, ../../sass/layouts/fixed-width.scss */
#navigation {
  clear: both;
  position: relative;
  z-index: 3;
  /*position: absolute;*/
  /*top: 0;*/
  /* Move the navbar up inside #main's padding. */
  /*height: 3em;*/
}

/*
 * The layout when there is only one sidebar, the left one.
 */
/* line 113, ../../sass/layouts/fixed-width.scss */
.sidebar-first {
  /*#content*/
}
/* line 115, ../../sass/layouts/fixed-width.scss */
.sidebar-first .content {
  /* Span 4 columns, starting in 2nd column from left. */
  float: left;
  width: 620px;
  margin-left: 320px;
  margin-right: -960px;
}
/* line 120, ../../sass/layouts/fixed-width.scss */
.sidebar-first .region-sidebar-first,
.sidebar-first .region-sidebar-first-bottom {
  /* Span 1 column, starting in 1st column from left. */
  float: left;
  width: 300px;
  margin-left: 0px;
  margin-right: -320px;
}

/*
 * The layout when there is only one sidebar, the right one.
 */
/* line 129, ../../sass/layouts/fixed-width.scss */
.sidebar-second {
  /*#content*/
}
/* line 132, ../../sass/layouts/fixed-width.scss */
.sidebar-second .inner-940 > .content {
  /* Span 4 columns, starting in 1st column from left. */
  float: left;
  width: 620px;
  margin-left: 0px;
  margin-right: -640px;
}
/* line 137, ../../sass/layouts/fixed-width.scss */
.sidebar-second .inner-940 .region-sidebar-second,
.sidebar-second .inner-940 .region-sidebar-second-bottom {
  /* Span 1 column, starting in 5th column from left. */
  float: left;
  width: 300px;
  margin-left: 640px;
  margin-right: -960px;
}

/*
 * The layout when there are two sidebars.
 */
/* line 147, ../../sass/layouts/fixed-width.scss */
.two-sidebars {
  /*#content*/
}
/* line 149, ../../sass/layouts/fixed-width.scss */
.two-sidebars .content {
  /* Span 3 columns, starting in 2nd column from left. */
  float: left;
  width: 380px;
  margin-left: 240px;
  margin-right: -640px;
}
/* line 154, ../../sass/layouts/fixed-width.scss */
.two-sidebars .region-sidebar-first,
.two-sidebars .region-sidebar-first-bottom {
  /* Span 1 column, starting in 1st column from left. */
  float: left;
  width: 220px;
  margin-left: 0px;
  margin-right: -240px;
}
/* line 159, ../../sass/layouts/fixed-width.scss */
.two-sidebars .region-sidebar-second,
.two-sidebars .region-sidebar-second-bottom {
  /* Span 1 column, starting in 5th column from left. */
  float: left;
  width: 300px;
  margin-left: 640px;
  margin-right: -960px;
}
