/**
 * @file
 * Form Styling
 */
/* line 8, ../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 7px 0 12px;
}
/* line 13, ../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
/* line 17, ../sass/forms.scss */
.newsletter .form-item {
  margin: 0;
}
/* line 21, ../sass/forms.scss */
.form-item input,
.form-item textarea {
  border: 1px solid #CBCBCB;
  color: #525252;
  padding: 5px;
  /* Newsletter */
}
/* line 27, ../sass/forms.scss */
.newsletter .form-item input, .newsletter
.form-item textarea {
  float: left;
  margin-right: 10px;
  width: 500px;
}
/* line 33, ../sass/forms.scss */
.form-item input {
  height: 24px;
  width: 448px;
}
/* line 38, ../sass/forms.scss */
.form-item input[type="radio"], .form-item input[type="checkbox"] {
  height: auto;
  width: auto;
}
/* line 43, ../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  left: 8px;
  top: 7px;
  text-transform: uppercase;
}
/* line 54, ../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 59, ../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #D94D25;
}
/* line 63, ../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
/* line 68, ../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

/* line 72, ../sass/forms.scss */
.form-textarea-wrapper {
  overflow: hidden;
  width: 460px;
}

/*.form-submit*/
/* line 77, ../sass/forms.scss */
input[type="submit"] {
  /* The submit button */
  background: #000;
  border: 1px solid #CBCBCB;
  color: #FFF;
  font-size: 0.75em;
  height: 36px;
  min-width: 68px;
  padding: 0;
  /* Newsletter */
}
/* line 86, ../sass/forms.scss */
input[type="submit"]:hover {
  background: #414141;
}
/* line 91, ../sass/forms.scss */
.newsletter input[type="submit"] {
  background: #77D3B3;
  border: none;
  color: #fff;
  padding: 8px 20px;
  width: 108px;
}
/* line 98, ../sass/forms.scss */
.newsletter input[type="submit"]:hover {
  background: #60C9AA;
}
/* line 102, ../sass/forms.scss */
#print-mail-form input[type="submit"] {
  margin-right: 10px;
}

/**
 * print mail form
 */
/* line 109, ../sass/forms.scss */
.form-item-txt-message label {
  float: left;
  width: 175px;
}

/* line 115, ../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 120, ../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 123, ../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 132, ../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 140, ../sass/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
/* line 147, ../sass/forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 157, ../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 162, ../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
/* line 167, ../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 172, ../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 184, ../sass/forms.scss */
.newsletter form {
  float: left;
  margin-top: 24px;
  width: 630px;
}
/* line 189, ../sass/forms.scss */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
/* line 195, ../sass/forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 199, ../sass/forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 203, ../sass/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 222, ../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}
