/**
 * @file
 * Grid + Vertical Rhythm
 *
 */
/**
 * Grid
 */
/* line 13, ../sass/grid_baseline.scss */
#grid {
  /* Dimensions - same width as your grid with gutters */
  width: 960px;
  /* Grid (left-aligned)
  position: absolute;
  top: 0;
  left: 0;
  */
  /* Grid (centered) */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -480px;
  /**
   * Vertical grid lines
   *
   * Set the column width taking the borders into consideration,
   * and use margins to set column gutters.
   */
  /**
   * Horizontal grid lines, defined by your base line height
   *
   * Remember, the CSS properties that define the box model:
   * visible height = height + borders + margins + padding
   */
  /**
  * Classes for multiple grids
  *
  * When using more than one grid, remember to set the numberOfGrids 
  * option in the hashgrid.js file.
  */
  /**
  * iPhone 320
  */
  /**
  * iPad 800
  */
}
/* line 38, ../sass/grid_baseline.scss */
#grid div.vert {
  width: 58px;
  border: solid darkturquoise;
  border-width: 0 1px;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 55, ../sass/grid_baseline.scss */
#grid div.horiz {
  /* 24px line height */
  height: 5px;
  border-bottom: 1px dotted darkgray;
  margin: 0;
  padding: 0;
}
/* line 71, ../sass/grid_baseline.scss */
#grid.grid-1 div.vert {
  /* Vertical grid line colour for grid 1 */
  border-color: darkturquoise;
}
/* line 81, ../sass/grid_baseline.scss */
#grid.grid-2 {
  /* Adjustments */
  padding: 0 320px;
  width: 320px;
}
/* line 87, ../sass/grid_baseline.scss */
#grid.grid-2 div.vert {
  /* Vertical grid line colour for grid 2 */
  border-color: crimson;
}
/* line 97, ../sass/grid_baseline.scss */
#grid.grid-3 {
  /* Adjustments */
  padding: 0 80px;
  width: 800px;
}
/* line 103, ../sass/grid_baseline.scss */
#grid.grid-3 div.vert {
  /* Vertical grid line colour for grid 2 */
  border-color: olivedrab;
}
